<header data-type="book">
<h1>神仙濟世良方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>柏鶴亭</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1797">公元1797年</data></dd></div>
</dl>
</header>

<h1>上卷</h1>

<h2>壽星序</h2>
<p>嘉慶二年，余降乩於陽曲尉之官舍時，鶴等正以神仙濟世良方告成，因請序於余。覽竟濟世寧人方論，皆平妥無奇。然鶴等凡人日請諸仙，除代人請方醫病外，絕無他求，並將經驗之方，遂筆之書而付梓焉。余心喜之，夫壽人者，惟願人登期頤，世無夭折。今諸仙方頗費苦心，以好生為德。而鶴等不捨晝夜，手抄默識，刊以傳世。有志好善者，按方施藥，無力者亦可傳方救人，甚至深山窮谷，不能延醫者，亦可知草木之性，以救危急於俄傾，豈不良哉！豈不良哉！諸仙固不以此市恩，而鶴等亦不因此掠美，余喜而序其簡端，凡閱此編者，皆推廣其良可也。</p>
<p><u>南極老人漫題。</u></p>

<h2>序曰</h2>
<p>李白雖非才士，但嘉慶元年冬月，鶴亭等三人，常請乩仙，吾愛其雅，故頻頻降機與爾等聯句暢飲，並求與各大仙作傳及序。因是生等心氣清虛，皆有前緣，故喜之，於是為序。</p>
<p><u>醉學士青蓮道人　題於晉陽仙尉西軒</u></p>

<h2>壽星大仙</h2>
<p>不矬不胖不身低　宮開南極紫薇西</p>
<p>大道無為千萬億　修成仙壽與天齊</p>
<p>（呂　岩）</p>

<h2>鍾離大仙</h2>
<p>紅臉先生出自然　飄飄雙髻醉如顛</p>
<p>逍遙天上胸膛露　卻是蓬萊第一仙</p>
<p>（李　白）</p>

<h2>果老大仙</h2>
<p>白髮銀鬚一老翁　紙驢騰起碧雲空</p>
<p>元功九九誰能似　八洞天仙可並鍾</p>
<p>（洞　賓）</p>

<h2>李鐵柺大仙</h2>
<p>本來出世自飄然　換骨超凡亦有緣</p>
<p>誤殺當年名鐵柺　多因指李姓訛傳</p>
<p>（鶴亭敬題）</p>

<h2>呂大仙</h2>

<h2>曹大仙</h2>
<p>不作皇親愛作仙　白雲深處鶴蹁躚</p>
<p>自從海島逢師後　伏虎降龍在九天</p>
<p>（青蓮居士）</p>

<h2>藍大仙</h2>
<p>山水西湖好　吾居更有情</p>
<p>竹籃常作伴　採藥四時春</p>
<p>（採和自題）</p>

<h2>韓大仙</h2>
<p>齒白唇紅在妙年　不知何處煉成仙</p>
<p>手持玉笛偏多趣　飛去飛來白鶴旋</p>
<p>（藍采和）</p>

<h2>何大仙</h2>
<p>楚楚衣裳豐麗殊　世人休認是麻姑</p>
<p>自從八洞升瑤島　愧煞人間說丈夫</p>
<p>（涇源謹識）</p>

<h2>醉學士</h2>
<p>坐石銜杯興未闌　一年四季不知寒</p>
<p>詩成百首天然趣　看月雲中煙氣漫</p>
<p>（醉學士自題）</p>

<h2>董大仙</h2>
<p>生前大義重倫彝　死後瑤池王母知</p>
<p>千載修來成大道　司文書卷不輕離</p>
<p>（張玉娥題）</p>

<h2>許大仙</h2>
<p>合浦前生結善緣　慈親夢兆得珠先</p>
<p>當年克盡倫常志　今日瑤池並董仙</p>
<p>（張玉娥）</p>

<h2>張大仙</h2>
<p>當年歌舞盡皆春　看破人間不染塵</p>
<p>修煉元功千載後　瑤池今日伴仙真</p>
<p>（董雙成題）</p>

<h2>葛真人</h2>
<p>修隱歸東海　山中葛米鮮</p>
<p>經綸不用世　且作大羅仙</p>
<p>（張玉娥）</p>

<h2>昴日星君</h2>
<p>辰升於東　遵行有度　尡耀九洲　照臨下土　分野晉疆</p>
<p>乃眷西顧　驅除心疾　如鑑肺腑　星列此方　人其多福</p>
<p>（鶴鳴敬志）</p>

<h2>華真人</h2>
<p>至哉華聖　豈惟醫博</p>
<p>燎毒荊州　欲除奸惡</p>
<p>玉帝駕前　香菸漠漠</p>
<p>（度世謹題）</p>

<h2>劉大仙</h2>
<p>脫卻朝冠棄紫衣　儒妝結束豈寒微</p>
<p>清泉半畝金蟾影　養得真元入翠薇</p>
<p>（鶴舉謹識）</p>

<h2>柳大仙</h2>
<p>滿腹燦珠璣　懷才未遇時　清貧甘自守　磊落復誰知</p>
<p>心厭紅塵路　神依碧柳枝　司文南鬥下　指點賴仙師</p>
<p>（鶴　翔）</p>

<h2>紅鸞侍者</h2>
<p>梅嶺別含香　養親有異方</p>
<p>而今天上恨　猶望白雲鄉</p>
<p>（鶴亭敬題）</p>

<h2>壽星論人子息</h2>
<p>壽星曰：人生子嗣，雖曰天命，豈盡無人事哉。有男子不能生者，有六病。六病為何？一精寒也；一氣衰也；一痰多也；一相火盛也；一精少也；一氣鬱也。精寒者，溫其火；氣衰者，補其氣；痰多者，消其痰；火盛者，補其水；精少者，添其精；氣鬱者，舒其氣。無子者可以有子，不可徒補其相火也。</p>
<p>女子不能生者，有十病。一胎胞冷也；一脾胃寒也；一帶脈急也；一肝氣鬱也；一痰氣盛也；一相火旺也；一腎水衰也；一任督病也；一膀胱氣化不行也；一氣血不能攝也。胞胎冷者，溫之；脾胃寒者，暖之；帶脈急者，緩之；肝氣鬱者，開之；痰盛者，消之；相火旺者，平之；腎水衰者，補之；膀胱氣化不行者，助其腎氣；氣血不能攝者，益其氣血也。無子者亦可有之，不可徒治其胞胎也。</p>
<p>果老曰：男女之病，各有不同，得其病之因，用其方之當，何患無子哉。</p>

<h2>呂祖論治病法</h2>
<p>平治法：氣虛，用六君子、四君子湯；血虛者，用四物湯；腎虛無火者，用八味湯；腎虛有火者，用六味地黃湯；肺虛者；用生脈散；心虛者，用歸脾湯，或天王補心丹；肝虛者，用建中湯；胃虛者，用四君子湯；脾虛者，用補中益氣湯；鬱症，用逍遙散；傷風，用小柴胡湯，或參蘇飲；有熱者，用二黃湯；胃熱甚者，用竹葉石膏湯。諸如此類，何必出奇玄異哉。</p>
<p>奇治法：一味而成功，不必借重二味也。如吐，只用瓜蒂一味足矣，不必再添別藥，反牽制也；如水瀉，用車前子一兩，飲之即止，不必加別味以分消之也；氣脫吐血等症，獨參湯飲之是也；腰痛不能俯仰，用白朮四兩，酒二碗，水二碗，煎湯飲之，即止痛也；瓜蒂專於上湧，若雜之他藥反不能透也。如人善跳躍者，一人牽扯其身，轉不自如。車前性滑，分水穀，兼之他藥，如人善入水者，一人牽其足則反不沉。人參善補氣，加之別藥，則因循宛轉，而不可以雙用也。</p>
<p>偶治法：方中不能一味奏功，二味兼而治之。吐血用當歸、黃耆；中寒用附子、人參；中熱用元參、麥冬之類是也。夫吐血者，必虛，用當歸一味可矣，何佐之黃耆？蓋血乃有形之物，不能速生，必得氣旺以生血，故黃耆以補氣也；中寒陰氣逼人，陽氣外越，祛寒用附子足矣，加人參者，元陽既不歸合，則一線之氣若存若亡之間，不急補其氣，元陽出走不返，故必兼用參以挽回於絕續之頃也；中熱之症，上焦火氣瀰漫，不用降火之品，何能救焚，用元參退其浮游之火足矣，何又用麥冬？蓋胃火沸騰，肺金自燥，胃口自救不暇，又何以分潤肺金之氣，故必用麥冬以潤之，不藉胃土之奉膳，胃土足以自資，而火自然可息。舉三方可通，其餘可廣悟也。</p>
<p>形治法：四肢頭面，有形可據而治之也。如目痛則治目，頭痛則治頭，手痛則治手，腳痛則治腳矣！其病見之形，何必求之於無形，此形治宜審何經之病，用何經之藥，自然效應。如手之麻木乃氣虛，而兼風濕中之，必用引入手經之藥，去風去濕之藥，始有效，否則無益。倘舍外形而求內象，無怪其不相入也。方用：白朮五錢　防風五分　黃耆五錢　人參二錢　陳皮五分　甘草一錢桂枝五分。用水煎服。耆、參、術俱補氣去濕之藥，防風去風之品，必得桂枝始能入手經也。經絡既清，自能奏功，可類推。</p>

<h2>又論人參性</h2>
<p>世人用不起人參者，黨參可代。醫家往往用洋參代，大錯。黨參即先朝之人參也。如今力薄，無力吃參，黨參加倍用之可也。（後有諸大仙制黨參法，功比人參。）</p>
<p>有人得脾經之病，如水瀉乃脾氣不溫，血痢乃過於燥熱而成此症。水瀉用白朮一兩，車前子五錢。二味煎湯立效。血痢不同，有腹痛不痛之分。痛者乃火熱也，用歸尾一兩　黃連三錢　枳殼二錢　白芍一兩　廣木香二錢　甘草一錢　蘿蔔子二錢。用水煎服；不痛者乃寒也，用白芍三錢　當歸三錢　蘿蔔子一錢　枳殼一錢　檳榔一錢　甘草一錢。用水煎服。水瀉者，乃一時水氣浸脾，用白朮以利腰臍之氣血，車前分消其水勢，此正治之法也。</p>
<p>藍大仙曰：白朮、車前利腰臍，消水氣。然白朮亦能健脾，健脾水自消，原不必借重車前。車前能通竅而安臟氣，亦不只分消已也。臟安則水濕之氣自消，又能分助，所以奏效如神耳。</p>
<p>曹大仙曰：血痢者，肝克脾土，雖因脾土之濕，又加暑熱暗浸，瓜果內傷所致。終因肝木火旺，無制凌脾土而然也。故方用白芍、當歸滋肝而平木，肝木得養，不來剋土，土得養而血痢自愈矣。</p>
<p>韓大仙曰：血痢雖有痛不痛之分，其實皆火熱而挾濕氣也。論理二方俱可通治，而呂仙分別痛不痛乃慎之也。二方加減各為神效，不必畏首畏尾，一用之於痛，一用之於不痛也。蓋火邪帶濕氣，居於腸脾之際，不得奔下，未有不急而後重者，妙在用當歸、白芍滑而利之，則火邪利於直下，不只平肝木而救脾土也。</p>
<p>李鐵柺大仙曰：按血痢，呂仙指為火邪挾濕，此乃壯實人之痢言之也。然內傷勞倦與中氣虛寒人，脾不攝血，往往脾濕下乘而成，理中湯加木香、肉桂，補中益氣湯加熟地、炒黑乾薑，治之而愈。火邪之血，色必鮮紅，脈必洪緩，口必消渴而喜飲冷，小便必熱澀而赤濁；內傷之血，色必鮮而紫黯，或微細淡白，脈必微細而遲，或浮澀而空，口不渴，即渴而喜飲熱湯，小便不澀不赤，即赤而不熱不濁，可便。</p>

<h2>又論治人當分強弱</h2>
<p>呂祖曰：人有南北之分，分於強弱也。南人之弱不及北人之強也，然南人亦有強於北人者，北人亦有弱於南人者，不可一概而論。當觀人以治病，不可執南北以治強弱也。天下有偏陰偏陽之分，偏於陽者生於南亦強，偏於陰者雖生於北亦弱。偏陽者宜用寒涼之劑，偏陰者宜用溫熱之品也。</p>
<p>果老曰：是。</p>

<h2>又論病知生死</h2>
<p>呂祖曰：知病之生死而後可為醫，生中知死，死中知生，非易易也。傷寒七日不汗死是也。生中之死，而辨其不死；死中之生，而辨其不生，醫道其庶幾乎。七日無汗，人皆謂死，予獨斷其不死者，非因其無汗而可生也。傷寒邪盛，禁汗不出，其人無煩燥之意，腎水猶存，邪火不能熬干之也。雖無汗必有汗矣！中風中惡不出聲，中毒致悶亂，其人之氣猶存，似乎不死，然而遺屎，腎絕矣；手撒，則肝絕矣；水不下喉，脾胃絕矣；舌本強，則心絕矣；聲如酣，則肺絕矣。五臟無一生，無有不死者，有一臟之未絕，未死也。看何臟而救何臟之氣，死猶不死矣。五臟中最急者莫過心，心腎之藥，莫過人參、附子二味，二味相合，則無經不入也。救心腎而各臟無不救之矣！將死之人，必有痰涎之作祟，不多用參而只用祛痰化涎之藥，正足以死之也。此死中之生而辨其死也。</p>
<p>華真人曰：真奇絕之文。</p>

<h2>又治癆瘵之症</h2>
<p>呂祖曰：癆瘵之症，用不得霸藥，宜用清火之味。方用：熟地五錢　地骨皮五錢（藥雖多而功用平和也）　丹皮二錢　元參一錢　人參三錢　白朮五分　桑葉五片　麥冬二錢　北五味五粒　茯苓二錢　芡實五錢　山茱萸一錢　白芥子五分　棗仁八分　沙參二錢。水煎服，神效。</p>
<p>又有一法治人虛癆未成，癆瘵之症。方用：熟地一兩　山藥一兩　山茱萸三錢　麥冬三錢　棗仁一錢　人參一錢　茯苓二錢　陳皮一錢　甘草一錢　沙參三錢　白芥子一錢　芡實五錢白芍三錢　遠志八分　丹皮一錢。水煎服。此方盡補其血也，不寒不熱，乃至中之方。治初起癆瘵，神效也，名為和平散，治內傷無外感者無不效也。</p>
<p>前方服之不效，必有癆蟲屍氣。另有一方：鬼箭三錢　鱉甲一兩　地慄粉半斤　生何首烏半斤　熟地半斤　神麯二兩　白薇三兩　人參五錢　鹿角霜五兩　地骨皮五兩　沙參五兩。各為細面，蜜為丸。每日煎湯送下五錢，一日兩次，善殺蟲不傷耗真陰之氣，此藥可服半料即愈。改用六味地黃丸，加麥冬三兩、北五味一兩，不必另立方矣。骨蒸有汗，用丹皮；無汗者，用沙參、地骨皮。有汗無汗均宜服，無不愈。</p>
<p>葛真人曰：此病難治，非偏於熱，則偏於寒；非多於清，即多於補。當時無可遵之方，今呂仙定此三方煎丸並用平補無奇，有鬼神難測之機，余又安敢而參間之。然而至神之中，不妨少益至微之語，前方可服五劑，即服吾地黃湯一劑，再服前藥，又服地黃湯一劑，如此同服，則水勝於火，陽勝於陰，不至有偏旺之虞。雖方中補陰之品多於補陽，然陽常有餘，陰常不足，似乎補腎水之劑，尤為無弊也。方用：熟地一兩　山茱萸四錢　澤瀉一錢半　丹皮一錢半　山藥三錢　麥冬二錢　北五味五分　茯苓三錢。水煎服。余特另酌分兩，以示世人之善用六味者。</p>
<p>劉真人曰：癆已成，最難治，有蟲以食人之氣血也。若徒補其氣血，而不知殺蟲之品，飲食入胃，止蔭蟲而不生氣血也。只殺蟲不補氣血，五臟盡傷，又何生理哉！予方補氣血，入殺蟲之藥，元氣生，蟲死而身安也。人參三兩　熟地八兩　何首烏（生用）八兩　地慄粉八兩　鱉甲一斤（醋炙）　神麯五兩　麥冬五兩　桑葉八兩　白薇三兩　山藥一斤。為末，打成糊為丸，每日白滾水送下五錢，半年蟲出而愈矣。</p>
<p>曹仙曰：未成癆病，將要成者，方用：熟地一兩　地骨皮五錢　人參五分　北五味五分　白朮一錢　山藥三錢　白芥子一錢。水煎服。妙在平補，無偏勝之弊。雖熟地多，有參、術以行氣，自易制其膩滯，故轉奏功。倘謂參、術助陽，熟地過濕，舉世不知其要也。</p>
<p>柳守真曰：吾有一方，治癆蟲神效。榧子半斤　鱉甲一斤　地慄粉八兩　獺肝一付　白薇四兩　生何首烏一斤。各為細末，蜜為丸，每日臨睡空心服，白滾水送下，即愈。</p>

<h2>董仙治臌脹方</h2>
<p>甘遂三錢　牽牛三錢。水三碗，煎半碗，服之，瀉水即愈。瀉極用人參一錢　茯苓三錢　薏仁一兩　山藥五錢　芡實一兩　陳皮五分　白芥子一錢。水煎服，一劑即愈。但忌鹽一月可也。</p>
<p>治痿症方：元參一兩　熟地三兩　麥冬四兩　山茱萸一兩　沙參三兩　五味子五錢。水煎服。十日即可起床，予曾治過數人，神驗。</p>

<h2>又治心痛暴亡、非寒即火方</h2>
<p>炒梔子五錢　白芍五錢。煎湯服下，下喉即愈。寒當用人參一錢　白朮三錢　肉桂八分　附子八分　甘草八分　白芍三錢　熟地一兩　山茱萸三錢　良薑一錢。水煎服。二方各有深意，前方因火勝而瀉肝木也；後方因大寒而補腎也。奏功之神則一耳。</p>
<p>治腹痛極甚至手足皆青，救若少遲必至立亡，此腎經感受寒邪也。急溫命門之火，佐熱其心胞之冷，使痛立除，手足之青亦解。方用：人參二錢　白朮五錢　熟地五錢　附子一錢　肉桂一錢　吳茱萸五分　乾薑五分。水煎服，即愈。</p>
<p>昴日星君曰：余亦有方，但不同耳，中惡中痰。方用：人參三錢　茯苓五錢　天南星三錢　附子一錢。虛人多加人參，水煎服，即蘇。</p>
<p>治心痛有火神效方：貫仲三錢　白芍三錢　梔子三錢　甘草二錢。水煎服，即止痛也。</p>

<h2>呂祖、華真人同議治乳蛾方</h2>
<p>但得乳蛾，火多寒少，兼亦有寒者，如面白身戰，人多認其寒也。而不知火伏於內，外現寒色也。如何辨之？問病人好吃冷水者即火也，如見涼者怕之即寒也。</p>
<p>治火症方用：大黃一錢　青黛一錢　冰片五分　硼砂一錢　皂針一錢　寒水石一錢。共研細面，吹於蛾上自破，破則好矣。</p>
<p>如寒者，藥不能下，用生附子切片貼腳心，可少刻自松，然後服藥。方用生蘿蔔汁、生薑汁，每各一酒杯飲下，腫疼即止。然後將前方吹於蛾上，即愈。</p>
<p>華真人曰：人有得雙蛾者，人以為熱也。喉腫痛，痰如鋸不絕，茶水一滴不下，豈非熱症？然痛雖甚，至早少輕；喉雖腫，舌不燥；痰雖多，不成黃塊，假熱之症也。以涼藥救之，下喉不快，少頃轉熱，人以為涼藥之少也，再加寒涼之品，服之更甚。急須刺其少商之穴，出血少許，喉門必有一線之路開矣。急以附子一錢　熟地一兩　山萸四錢　麥冬三錢　北五味三錢　牛膝三錢　茯苓五錢。服下，一聲響亮，火勢熱症立時消散也。</p>
<p>凡人腎水大耗，元陽不能下藏，無水以養火，火必上越，火衝上而咽喉口小不能任其出入，結成腫痛，狀似雙蛾，非雙蛾也。日重夜輕者，治之最易。用山豆根三錢　半夏一錢　桔梗三錢　甘草一錢。治之立愈，而非逆症可比也。</p>
<p>何大仙曰：陰虛雙蛾之症，余亦有一治法：用附子切片一錢，鹽水炒，將一片含在口中，即有路可用湯藥矣。後以八味丸一兩，白滾水送下，立時而愈。可與華真人並傳如何。</p>

<h2>藍大仙治喉痛方</h2>
<p>咽喉忽然腫痛，生雙蛾者，飲水不下，此症實火易治，虛火難治。實火世人已有方：山豆根、芩、連、半夏、柴胡、桔梗、天花粉，治之立消。惟虛火乃腎火不藏於命門，浮游於咽喉之間，夜重於日，清晨覺少輕。若虛火口不甚渴，舌滑而不裂，此可以辨虛火，必須補火，則引火歸元，消腫毒於頃刻也。熟地一兩　元參一兩　白芥子三錢　山茱萸四錢　北五味二錢山藥四錢茯苓五錢　肉桂二錢。水煎服，二劑全愈也。</p>
<p>喉腫閉塞，水不能下，有藥安能施乎？另有一法：用附子一個　破故紙五錢。各研末調如糊，布攤如膏藥，大如茶盅，貼腳心中央。一時辰，開一線路可以服藥，不可不知也。</p>

<h2>呂祖治噎食方</h2>
<p>廣木香五分　生地一錢　炒當歸一錢　酒炒檳榔一錢　陳皮一錢　半夏一錢　厚朴一錢。水煎，臨臥服，十劑愈。忌食牛、犬肉，食之必犯，再難治矣。</p>
<p>又治過經隔、經傳、傷寒。方用：麻黃一錢　柴胡一錢　厚朴一錢　石膏五錢　知母一錢　青蒿五錢　半夏一錢　黃芩一錢　茯苓五錢　炒梔子五分　當歸三錢。水煎服，一劑即生。見有過經傳者，即以此方投之，無不更生也。</p>
<p>隔經傳方：人參五錢　石膏五錢　知母一錢　青蒿一兩　柴胡二錢　白芍三錢　半夏一錢　炒梔子三錢　甘草一錢。水煎服。隔經傳三日而症乃明，已過陽明，餘火未散，制伏之道實非世人所能測也。</p>
<p>治第三日少陽與厥陰兩感，水漿不入，不知人者，再傳一方：人參一兩　麥冬三錢　當歸一兩　天花粉三錢　元參二兩　白芍二兩　荊芥二錢。水煎服。此三方各有妙用也。</p>
<p>傷寒發斑，死症也。亦有不同，有遍身者，有隻心窩內者。遍身者，似重而反輕；心窩有者，似輕而反重也。用升麻二錢　當歸一兩　元參三兩　荊芥三錢　黃連三錢　天花粉五錢　甘草一錢　茯神三錢。水煎服。火毒在內，必須盡情發出，內無血以養心，故用當歸、元參滋心中之血。火既外越，斑亦可消，又何至於喪命哉。</p>
<p>治人得兩手不能下者，將人抱住，縛在柱上，把木棒打去，病人自然來隔，而手自下矣。當用：當歸一兩　川芎五錢　紅花五分　生地五錢　桃仁五個　甘草一錢　大黃一錢　丹皮二錢。水煎取，二劑全愈。有婦人而得此症，亦縛在柱上，令人解其下衣，彼怕羞自然兩手下來遮隔，一時手可下也。亦以煎湯與之，即愈也。</p>

<h2>葛真人論脈訣</h2>
<p>內經已暢言之也。后王叔和又發明之，尚有未備者。脈訣大約言愈多，則旨益晦，吾簡以切脈不必紛紛七表八里也。切脈之最要在浮、沉、遲、數、虛、實、澀、滑而已。知十脈則九人之病不能出其範圍，死脈易觀也。不過魚遊、鳥啄、屋漏、彈石、碎索、水流之異也。知十法之常，即可知六法之變，何難之人之疾病哉。</p>
<p>曹大仙曰：脈訣原不必多，多則反晦，明言十法至簡至要，可以為萬世之法。</p>

<h2>葛真人制黨參代人參法</h2>
<p>要真潞黨，河南、陝西者不用。用盤盛之，加大米數撮，用碗蓋好，蒸三次，換米三次，用參去米。其米加薏仁米熬粥飲之，亦有大益。</p>

<h2>又論傷寒相舌秘法</h2>
<p>白苔者邪火未甚，用小柴胡湯；舌黃色者心熱，用黃連、梔子以涼之；黃而帶灰色者胃熱，用石膏、知母以涼之；凡見黃而紅者小腸膀胱，用梔子以清之；舌紅而白者肺熱，用黃芩、蘇葉以解之；黑而帶紅者，腎虛而挾邪也，用生地、元參、柴胡以和解之；紅而有黑星者，胃熱極也，用石膏以治之，元參、葛根亦可；紅而有白點者，心中有邪也，用柴胡、黃連以解之，心肝同治也；紅而有大紅點者，胃熱而帶濕也，用茵陳、五芩散以利之，水濕必歸膀胱也。散邪非肉桂不能引入膀胱，只可用一二分不可多。白苔而帶黑點者胃熱，用石膏以涼之；黃而有黑者，肝經濕熱，用柴胡、梔子以解之；白而黃者，邪將入里也，急用梔子、柴胡以解之，不使入里。柴胡乃半表半裡不可不用之；中白而外黃者，邪入大腸，須五苓散以分水分泄止矣；中黃而外白者，邪在內不在外，邪在上不在下，可加柴胡、枳殼和解，不可驟用大黃也。天水加五苓亦可，少加天水，加柴胡、枳殼更妙；根黃而光白者，胃熱帶濕，亦用石膏為君，少加天水之品，如豬苓、澤瀉之味也；黃而隔一瓣一瓣者，邪濕入大腸，急用大黃、茵陳下之，不必十棗湯也。下之遲不得不用之，須辨水與血之分，下水用十棗，下血用抵當也；紅中如蟲蝕者，乃水未升而火來乘也，用黃連、柴胡和解之；紅而開裂如人字者，邪初入心，用石膏、黃連解之；根黑而尖帶紅者，腎中邪未散，用柴胡、梔子解之；根黑尖白者，胃火乘腎，用石膏、知母、元參解之，不必論其渴與不渴，不必問其下利也；根黑尖黃者，邪將入腎，急用大黃下之。然須辨其腹痛不痛，按之腹痛，手不能近者急下，否則，用柴胡、梔子和解之；純紅而尖黑者，腎虛邪火來乘也，不可用石膏，腎虛用石膏，速死之也。用元參一兩或二兩救之，多有能生者；舌有中心紅暈四邊純黑者，君相之火炙騰，急用大黃加生地兩許下而救之，十人中可救五六人；舌中央炙黑四邊微紅者，邪結於大腸，下之則愈，不應則死。腎水枯槁，不能潤之，又不可用熟地補腎之藥，蓋邪未散不可補，補則愈加脹急以害之也。必邪下而後，生地滋之則可，然亦不可多用也；舌純灰色中間獨暈黑者，邪將入腎也，急用元參兩許，少加柴胡治之，舌有外紅而內黑者，此火極似水也，急用柴胡、梔子、大黃、枳實以和利之。舌又見刺，則火亢之極矣，須多加前藥。總之內黑而外白，內黑外黃皆前症也，與上同治，十中亦可得半生也。惟中淡黑而外或淡紅淡白淡黃者，較前少輕，俱可以前法治之，十人中可得八人生也；舌有純紅而露黑紋數條者，水來乘火，陰症也，苔必滑，必惡寒，飲水下喉必吐，倘現純黑之舌，乃死症也，不必治之。水極似火，火極似水，一帶純黑，俱不治也。傷寒之知舌驗之法，便有把握，庶不至臨症差誤耳。</p>
<p>曹大仙曰：茲相舌法，較《金鏡錄》更備，且無誤治之虞。誠濟世之慈航，救生之良方也。願世人細心觀之，保無有操藥殺人之禍矣。</p>

<h2>昴日星君治小兒科三方</h2>
<p>昴日星君曰：兒科得其要，無難治人，今特傳一法門，使世上小兒，盡登仁壽。先看氣色，後看脈。小兒有痰，顏色必鮮豔，鼻上眼中間，中間精明穴上辨之。色紅者心熱也，紅筋橫直現於山根，皆心熱也；色紫者，心熱之甚，而肺亦熱也；色青者，肝有風也；青筋直現者，肝熱也；青筋橫現者，亦肝熱也；直者風上行，橫者風下行也。色黑者，風甚，腎中有寒；色白者，肺中有痰；色黃者，脾虛、胃虛而作瀉，黃筋現於山根，不論橫直，皆脾胃之病，故一覽而知小兒之病矣。大人看脈於寸關尺，小兒何獨不然，但小兒不必看至數，只看其數與不數耳。數甚則熱，不數則不熱也。數之中浮者風也；沉者寒也；緩者濕也；澀者邪也；滑者痰也，如此而已。小兒症，大約吐瀉、厥逆、風寒、暑熱而已。其餘痘疹皆無他病，或心腹痛痞塊瘡疔，一覽而知也。小兒之病，虛者十之九，實者十之一。故藥宜補為先，今立三方通治諸病。</p>
<p>第一方：人參三分　白朮五分　茯苓一錢　甘草一分　陳皮二分　神麯三分　半夏一分。此六君子加減也，治小兒脾胃弱神效。如傷奶與肉食者，加山楂五粒；傷米食者加麥芽五分；傷麵食者加蘿蔔子三分；吐者加白豆蔻一粒，去甘草，加生薑三片；瀉者加乾薑三分，豬苓五分。</p>
<p>第二方治外感也，或傷風寒咳嗽，發熱不發熱，頭痛鼻塞，痰多驚悸，角弓反張，以此方治之無不神效。方用：柴胡七分　甘草三分　桔梗五分　半夏三分　黃芩三分　白芍二錢　白朮二錢　當歸五分　陳皮二分　茯苓五分。水煎服。頭痛加蔓荊子三分；心痛手不可按者乃實火也，加梔子一錢；按之不痛者虛火也，加甘草八分，貫仲五分，廣木香五分，乳香一分；脅痛者加芍藥三錢；腹痛者以手按之，手按而痛甚者乃食也，加大黃一錢；按之而不痛者乃寒也，非食也，加肉桂三分，乾薑三分；有汗出不止者，加桑葉一片；眼痛而紅腫者乃火也，加黃連三分，白蒺藜一分；喉痛者，加山豆根三分。</p>
<p>第三方治虛寒之症，夜熱出汗、夜啼不寐、怔忡、久嗽不已，行遲、語遲、龜背、狗肚，將成癆瘵等症。方用：熟地三錢　山茱萸二錢　麥冬二錢　北五味五分　元參二錢　白朮二錢　茯苓一錢　苡仁三錢　丹皮一錢　沙參二錢　地骨皮二錢。水煎服。倘兼有外感，少加柴胡五分，白芍三錢，白芥子一錢。</p>
<p>許仙曰：此方世所罕見者，真天上奇方也。人間信而服之，小兒皆可至仁壽也。</p>

<h2>董大仙論治痘法五方</h2>
<p>董仙治痘法：今人看痘不知法則難也。初起時不論強弱補其氣血為要，加之發散之藥，重者必輕，輕者必少也。世人皆以寒涼之品為主，吾今立五方，朝夕服之，十人十活，不殺一小兒也。</p>
<p>第一日方，見小兒身熱，眼如醉眼者，是也。不是醉眼不可用此方。外感治之，見醉眼急投此方，痘即現。方用：黃耆三錢　白朮一錢　甘草一錢　當歸二錢　川芎二錢　茯苓三錢　柴胡一錢五分　升麻五分　麥冬二錢　元參三錢　陳皮五分　荊芥一錢　金銀花五分。先煎水三碗，煎二碗入藥，煎至五分，小兒飲之。五歲以上照此分兩，五歲以下減半，包其速愈，見點後再用第二方。</p>
<p>第二日方：白朮二錢　麥冬三錢　甘草一錢　桔梗二錢　當歸五錢　元參三錢　生地五錢升麻三分　柴胡一錢　荊芥一錢　茯苓二錢　白芍三錢　白芥子二錢　金銀花三錢。煎服。一身必現點，其色紅潤也。</p>
<p>第三日方：人參五分　白芍三錢　白朮三錢　茯苓三錢　元參二錢　神麯三分　丹皮一錢。水煎服。氣血無有不足，自然灌漿也。</p>
<p>第四日方：人參一錢　當歸二錢　熟地五錢　茯苓三錢　金銀花三錢　陳皮五分　甘草一錢元參三錢　白朮三錢　白芍二錢　神麯五分。服此方後，小兒必然口健要食不已，亦不可多與吃也。第五方不必用矣，恐小兒多食則生他病，故立此第五方也。</p>
<p>第五方：人參一錢　茯苓三錢　白朮二錢　甘草一錢。有加麥芽五分，山楂五粒，不傷食不必加。上用金銀花三錢。能服此五方，七日前而回春也。如小兒已身熱三日，用第三方，四日用第四方。如壞症，另有壞症方。</p>

<h2>華真人論壞症方</h2>
<p>華真人傳壞症方：治已黑者，人將棄之，下喉即活，用人參三錢　陳皮一錢　蟬蛻五分　元參二錢　當歸二錢　荊芥穗一錢。水二盅，煎八分，灌下即活。大約壞症皆元氣虛而火不能發，用參以助元氣，元參以去浮游之火。陳皮去痰開胃，參無所礙。荊芥以發之，引火歸元。當歸生新去舊，消滯氣。蟬蛻去毒斑。世人如何知此妙法，初起不可服，必壞症乃可服也。</p>

<h2>許大仙治痘瘡出齊方</h2>
<p>人參一錢　黃耆一錢　甘草一錢　白芍二錢　生地二錢　麥冬二錢　柴胡八分　紅花五分。水煎服。有熱加黃連五分；輕者，黃芩一錢，梔子一錢；有驚加蟬蛻（去翅足）　三分；色黑者加肉桂五分；大便閉結加大黃三分；腹痛加芍藥一錢，甘草一錢；泄瀉加茯苓一錢；有汗倍加黃耆；有痰加白芥子一錢；癢加荊芥子六分；身痛者加廣木香三分；色白者寒也，加肉桂一錢，人參、黃耆多加；頭不突者氣虛也，倍黃耆；漿不滿者血虛也，加當歸一錢，熟地二錢可也。</p>

<h2>張大仙治四時疹方</h2>
<p>張仙曰：總之，小兒宜補不宜散，一言盡之矣。疹乃熱也，不可用人參、白朮。當用補血，不可散血，俱宜切記之。方用：當歸二錢　元參三錢　升麻三分　甘草三分　乾葛一錢。水煎服，此治疹奇方也。心火熱極加黃連三分；肝火加梔子五分；肺火加黃芩一錢，麥冬一錢。</p>
<p>辨各經病，看小兒山根之色，須要洗去面上塵土，細看之可也。凡疹初起，小兒必發熱，口必大渴呼水，如紅雲一片，大約發斑相同，而疹有頭粒也。頭如蚤咬之狀，無他別也。</p>
<p>四時疹方：元參三錢　麥冬二錢　蘇葉一錢　升麻五分　天花粉一錢　金銀花三錢　陳皮三分　甘草一錢　生地三錢　黃芩八分　桂枝二錢。水盅半，煎五分熱服，凡疹無不神效。夏加青蒿三錢，初生小兒減半，一年後照此分兩，一劑即愈也。</p>

<h2>紅鸞侍者治痘疹初起方</h2>
<p>白芍二錢　柴胡一錢　當歸一錢　陳皮五分　荊芥八分　防風三分　生地二錢　甘草一錢　桔梗一錢　麥冬一錢　乾葛一錢。水煎服二劑，惡者必變為良也。</p>
<p>又治夏日發疹神效方：蘇葉一錢　麥冬二錢　桔梗一錢　生甘草一錢　元參三錢　青蒿三錢。水煎服，即愈。</p>

<h2>董大仙治水痘方</h2>
<p>柴胡一錢　茯苓二錢　桔梗一錢　生甘草五分　黃芩五分　竹葉十片　燈草一團。水煎服。有痰者加天花粉三分；有食加山楂三粒，麥芽三分；火加黃連一分。有此一方，水痘無難治也。</p>

<h2>紅鸞侍者治痘將回方</h2>
<p>人參一錢　白朮一錢　茯苓一錢　甘草三分　桔梗三分（升提其氣），水煎服。有紫乾燥黑陷者，熱未退也，加黃芩一錢；如色白、黑灰、黑色而陷，寒虛也，加肉桂三分，人參一錢；灌膿者倍加人參，再加黃耆二錢，當歸二錢；泄瀉加乾薑五分，茯苓一錢；心慌悶亂者，多加人參；嘔吐者亦加人參、乾薑；身癢加木香三分；當靨不靨多加人參；大便閉者加大黃三分；口渴加麥冬二錢，元參一錢；失音加石菖蒲三分，桔梗一錢；痘入眼成翳者，加蟬蛻五分；初起方中加蟬蛻七個，則目中無痘也。咽喉防其生痘，初起方中用桔梗一錢。壞症用此方，再無死，法神而通之，可謂神方也。</p>

<h2>葛真人論兒科秘法</h2>
<p>山根上有青筋直現者，乃肝熱也。柴胡三分　白芍一錢　當歸五分　半夏三錢　白朮五分茯苓一錢　山楂三粒　甘草一分。水煎服。青筋橫現亦肝熱也，但直風上行，橫風下行，前方加柴胡二分，麥芽一錢，乾薑一分；紅筋直現者，心熱也，前方加黃連一分，麥冬五分，去半夏，加桑白皮三分，天花粉二分；紅筋斜現者，亦心熱也，前方加黃連二分，蓋熱極於胸中也，亦不可用半夏、桑白皮、天花粉。</p>
<p>服無不效。如皮黃即黃筋也，白朮五分　茯苓五分　陳皮二分　人參二分　神麯一分　麥芽二分　甘草一分。水一盅，煎半酒杯，分二起服，加淡竹葉七片，有痰加半夏一分或白芥子二分，或天花粉二分；有熱如口渴者是，加麥冬二分，黃芩一分；有寒者加乾薑一分，吐者加白豆蔻一粒；瀉者加豬苓五分；腹痛者小兒自捧腹是，須用手按之，呼痛者食積也，加大黃三分，枳實一分；按之不痛不呼號者乃寒也，再加乾薑三分。</p>
<p>身發熱者不可用此方，予分立一方——萬金湯。凡小兒發熱者，無論早夜熱，無不神效。方用：柴胡五分　白芍一錢　當歸五分　白朮三分　茯苓二錢　甘草一分　山楂三粒　黃芩三分蘇葉一分　麥冬一錢　神麯三分　水一盅，煎半酒杯服，或分二起服亦可。冬加麻黃一分；夏加石膏三分；春加青蒿三分；秋加桔梗三分。有食加枳殼三分；有痰加白芥子三分；瀉加豬苓一錢；吐加白豆蔻一粒。小兒諸症不過如此，萬不可作驚風治之。有驚者，此方加人參五分，即定驚如神；有疳者，用脾胃方加蒲黃三分，黃芩三分可也。</p>

<h2>張大仙治小兒感冒風寒方</h2>
<p>柴胡五分　白朮一錢　茯苓三分　陳皮二分　當歸八分　白芍一錢　炙甘草三分　半夏三分。水一盅，煎半盅，熱服一劑可也。</p>
<p>治小兒痢疾神方：當歸一錢　黃連二分　白芍一錢半　枳殼五分　檳榔五分　甘草三分。水一盅，煎半盅熱服，一劑輕，二劑愈。紅痢加黃連一倍；白痢加澤瀉三分；腹痛倍加甘草、芍藥；小便赤加木通三分；下如豆汁加白朮一錢；傷食者加山楂、麥芽各三分，氣虛者加人參三分。加減之，無不神效也。</p>

<h2>紅鸞侍者治小兒雜症</h2>
<p>小兒瘧疾方：柴胡六分　白朮一錢　歸身一錢　白芍一錢　生半夏五分　青皮五分　厚朴五分。水一盅，煎半盅，露一宿，再溫服。熱多者加人參、黃耆各五分；寒加乾薑三分；痰加白芥子一錢；夜發熱者加何首烏、熟地各二錢，日間不用加；腹痛加檳榔三分可也。</p>
<p>小兒咳嗽方：蘇葉五分　桔梗一錢　甘草一錢。水一酒盅，煎五分，熱服，二劑痊愈。有痰加白芥子五分可也。</p>
<p>小兒口疳流水口爛方：黃柏二錢　人參一錢。為末，敷口內，二日即愈。一匙一次，不過用三次可也。</p>
<p>小兒便蟲方：用榧子（去殼）五個　甘草三分。為末，米飯為丸，蟲盡化為水矣。大人亦可用，又不耗氣，食多恐傷脾也。</p>
<p>小兒蟲積方：用使君子十個（去殼炒香）　檳榔一錢　榧子十個　甘草一錢。各為末，米飯為丸，如桐子大，十丸服之。二日即便蟲，五日全愈也。</p>
<p>何仙曰：小兒病驚疳吐瀉盡之矣，不可不別言也。</p>
<p>人動曰驚風，小兒驚則有之，風則無也，純陽之體不宜有風之入。狀若有風者，小兒陽旺，則內熱之極則生風，非外來之風，內風何可作外治之，治風則死矣。當清其火而治其驚，方名清火散驚湯：茯苓二錢　白朮三分　甘草一分　陳皮一分　白芍一錢　梔子三分　半夏一分柴胡三分。水煎三分服可也。</p>
<p>疳症，脾熱也。因心熱脾火，火旺極口中流涎，不平其心火，脾火旺而濕熱上蒸，不可徒清脾火，先散心火。用蘆薈一錢　黃連三分　薄荷三分　茯苓二錢　甘草一分　桑白皮一錢　半夏三分。水煎三分服，三劑自愈也。</p>
<p>吐症，胃氣之弱，因脾氣虛，恣意飽食，食而不化，久而停積於脾中，上衝胃口，久之大吐，治吐必先治胃，治胃先治脾。吾有奇方：用人參一錢　砂仁一粒　白朮五分　茯苓二錢　陳皮二分　半夏一分　麥芽五分　山楂三粒。水煎服。夏月加黃連三分；冬加乾薑三分。無不愈者。</p>
<p>瀉痢專責脾矣。瀉有不同，有火瀉寒瀉。火，必然身熱、口乾、舌燥、喜冷。方用：車前子二錢　茯苓一錢　白芍一錢　黃連三分　澤瀉五分　豬苓三分　麥芽一錢　枳殼二分。水煎服即止。</p>
<p>寒，腹痛而喜手按，口不幹而舌滑，喜熱湯不喜冷，方用：人參一錢　白朮一錢　茯苓二錢　肉桂二分，甘草一分　乾薑一分　砂仁一粒　神麯五分。水煎服，必愈也。</p>
<p>生下不肯食乳，心熱也。蔥煎乳汁小兒服之，不若用黃連三分，煎湯灌數匙即食乳，神效。出生臍汁不幹，用車前子炒焦為細面，敷之即干，神效。</p>
<p>肚臍突出半寸許，氣不收也，急安之。若變為角弓反張，難治也，用茯苓一錢　車前子一錢甘草二分　陳皮三分　通草三分（燈心亦可）。一劑，即安神方也。</p>
<p>呂祖曰：吐瀉，傷食之故也。不上吐即下瀉矣。六君子湯，吐者去甘草加砂仁，瀉者加車前子，治之，自奏功於頃刻。不知補脾，而唯知消克，非救兒生，乃送兒死矣。願人敬聽吾言，共登兒齡於百歲也。</p>

<h2>呂祖治產前方</h2>
<p>如子懸之症最難治之，乃胎熱。子不安，身欲起，立於胞中，故若懸起之象，並非子懸掛也。方用：人參二錢　白朮五錢　茯苓二錢　白芍五錢　黃芩三錢　杜仲一錢　熟地一兩　生地三錢　歸身二錢。水煎服，即愈。</p>
<p>漏胎乃氣血不足之故。方用：人參二錢　白朮五錢　杜仲、枸杞子各一錢　山藥三錢　歸身一錢　茯苓二錢　熟地五錢　麥冬二錢　北五味子五分　山茱萸二錢　甘草一錢。水煎服。此方不熱不寒，安胎之聖藥也。凡胎動者即投此方，無不神效也。</p>
<p>難產如橫生、倒養，死亡頃刻也，急救之。胎不順，出於血氣之虧，往往不能轉頭，故手足先出也。急以針刺之，必驚而縮入。急用：人參五錢（無力者黨參一兩）　當歸二兩　川芎一兩　紅花一錢半。速灌之，則兒頭直到門矣。如久不順，再將前藥服之，無不立效。</p>
<p>若兒頭已到門，久而不下，交骨不開也。速用柞木枝一兩　當歸一兩　川芎五錢　人參五錢。煎湯服之，少頃必然一聲響亮，兒即生矣。至神至奇之方也。兒頭不順，萬萬不可用柞木枝，此味專開交骨，兒未回頭而兒門先開，亦死之道，切記切記。產前之法，必當熟悉於胸中，而後臨產不至倉皇也。</p>

<h2>紅鸞侍者論產前</h2>
<p>紅鸞侍者曰：產前無白帶，有難產之兆，即幸而順生，產後必血暈之事。方用：黑豆二合（煎湯二碗）　熟地八錢　山茱萸三錢　茯苓二錢　澤瀉一錢半　丹皮一錢半　山藥三錢　薏仁三錢　白果十個　紅棗二十個。煎服。一劑止，二劑永不白帶，亦通治婦人之諸帶，無不神效。</p>
<p>小產非產前也。雖非正產，可作產前治；雖非大產之虛，氣血已大傷矣。宜補之，日後坐胎不至崩漏。方用：人參三錢　白朮四錢　茯苓二錢　熟地七錢　當歸四錢　杜仲一錢　炮姜五分。水煎服，乃補氣補血之聖方也。</p>
<p>張仙曰：余尚有二方，一漏胎也，一胎動也。胎動方：用白朮一兩　熟地一兩。水煎服。白朮利腰臍，熟地固根本，藥少而功用專，所以神效也。漏胎方亦奇絕，用白朮五錢　熟地一兩三七根末三錢。水煎服，此方更勝安胎之藥矣。</p>

<h2>又治難產</h2>
<p>紅鸞侍者曰：難產婦人常事生子，母反死，仁人所痛心也。但難產實母之氣衰，以致兒身不能迴轉，於是手足先出，此等生法，絕勿驚惶。我有至神之法，閉目口唸無上至聖化生佛百遍，或念救苦救難送子觀音菩薩百遍，即便縮入。用人參五錢　附子五分　當歸五錢　川芎二錢半　黃耆五錢。煎湯飲之，兒身即順，立刻產下矣。</p>
<p>再子落地，胞忽上升者，恐惡血奔心，用蓖麻子一錢搗爛，塗於產婦足心，少頃胞胎自下矣。</p>
<p>有胎落子生而大腸墮下者，更可畏，虛極下陷，用人參、升麻、柴胡發散正氣，腸愈難收，不若仍用蓖麻子一味，搗爛塗於產婦之頂心，少頃腸自收入。急用溫水洗淨，不使少留，時久則腸又上懸也。如塗足心待胞胎一落，即用溫水洗淨，不然恐其下懸如故也。</p>
<p>又治產後乳症。若生乳癤名曰外吹，治法與胎前不同。若產後而兒不育，乳忽作痛，此乳汁凝並不行之故，須以手撙去其汁，揉而散之，仍令他兒吮出吐之，庶免成癰之患。若畏痛容其內結，則必潰膿，多有乳囊連腐而喪命者。若乳汁不下者，宜煮豬蹄作羹飲之，仍以木梳梳乳上，即下。</p>

<h2>華真人治癰疽對口並無名瘡毒方</h2>
<p>凡人癰疽，發於背、頭、項、胸、腹、手、足、臂、腿、腰、臍、前陰、糞門之際。無論陰陽毒一服吾方，無不立消，已潰者即斂，真神方也。用金銀花四兩　蒲公英一兩　當歸二兩　元參一兩。水五碗，煎八分，飢服一劑，盡化為無有矣。切勿刪改其分兩，則功減矣。善功諸毒，不耗真氣，多服無礙，肺癰、大小腸癰，無不神效也。</p>
<p>人忽為湯火所傷，遍身潰爛，與死為鄰，可以變死而生。用大黃五錢　當歸四兩　荊芥三錢（炒黑）　生甘草五錢　黃芩三錢　防風三錢　黃耆三兩　茯苓三兩。水煎服。一劑痛減半，二劑全減，三劑瘡口痊愈。真至神至聖之方也。</p>
<p>五絕，乃縊死、跌死、魘死、淹死、壓死是也。禍成倉猝，往往不救，然五臟未絕，外來之禍枉死者，其魂魄守於旁，相去未遠，以神術招之，魂魄附體而生也。用符一道，先書黃紙上，焚黃酒內，掘開牙關灌入喉中，後再用藥丸化開，亦用黃酒調勻，以人口含藥水，用蔥管送於死人喉內，少頃可活。招魂符（略）。書符時一心對華真人天醫使者，書之自靈無比。山羊血二錢　菖蒲二錢　人參三錢　紅花一錢　皂角刺一錢　製半夏三錢　蘇葉三錢　麝香一錢。各為末，蜜為丸如龍眼大，酒化開用。合此丸，端五日妙。如臨時用不必如許之分兩，十分之一可也。間時合一料，大可救人，到臨期恐來不及也。凡有邪祟昏迷猝倒者，灌之起死回生也。</p>
<p>又曰：人足毛孔標血一線者，流而不止即死。急以米醋三升，煮滾熱，以足浸之，血即止。後用穿山甲一片，火炙為面，人參當歸湯調飲之，不再發。此症乃酒色不禁縱欲所致，世人多有之，方書不載。今因鶴亭問之，故立奇方也。凡皮毛中出血者，此方救之神效。臍即愈。人覺腸胃中癢，而無扒搔者，只覺置身無地，火結不散之故，當表散之方，用柴胡三錢　白芍一兩　甘草二錢　炒梔子三錢　天花粉三錢。水煎服，即愈。</p>
<p>人舌縮，喉嚨不能言語者，寒氣結於胸腹之間，急用附子一錢　人參二錢　白朮五錢　肉桂一錢　乾薑一錢。治之舌自舒矣。</p>
<p>人有傷寒口渴，過飲涼水者，愈後倘手足出水者，急用吾方可救，指節腳板墮落也。薏仁三兩　茯苓二兩　肉桂一錢　白朮一兩　車前子五錢。水煎服，一連十劑，小便大利，而手腳不出水矣。不可多服。</p>
<p>更有人手指甲脫下不痛不癢，乃腎經火虛，行房之後涼水洗手遂成。用六味湯加柴胡、白芍、骨碎補治之即愈。</p>
<p>人有小便溺五色石者，未溺前痛甚，溺後少覺快，石淋也。用熟地三兩　茯苓五兩　薏仁五兩　車前子五兩　山茱萸三兩　青鹽一兩　骨碎補二兩　澤瀉三兩　麥冬五兩　芡實八兩　肉桂三錢。為末，蜜為丸，早晚白滾水吞下各一兩，十日可愈矣。</p>
<p>人腰間長一條肉痕，如帶，圍至臍間，不痛不癢，久之飲食少進，氣血枯槁也。過於行房盡情縱逸乃得此疾。用熟地一斤　山萸肉一斤　杜仲半斤　山藥半斤　白朮半斤　破故紙三兩白果肉三兩（炒）　當歸三兩　白芍六兩　車前子三兩。為末，蜜為丸，每早晚服一兩。十日後覺腰輕；再服十日，肉淺淡；再服十日，則全消也。必須戒房事三月，否則無效矣。</p>
<p>人身忽長鱗甲於腹間、脅上，乃婦人居多，而男子亦有之。乃孽龍多化與婦人交即成此症，男與龍合亦有之。此病速治為妙。用雷丸三錢　大黃三錢　白礬三錢　鐵衣三錢　雄黃三錢。研末，棗肉為丸。凡得此病，酒送下三錢，立時便下，如人精者碗余，胸中便覺寬爽，再服三錢，則鱗盡落也。此最神最奇之方也。</p>
<p>呂祖曰：以上諸方無一不奇，諸論無一不精，真世上之奇寶，黃岐之精髓也。善用之成醫之聖，豈但良醫而已哉！若人晨夕研窮以可造於出神入化耳。鶴亭曰：唯。</p>

<h2>昴日星君治奇症方</h2>
<p>昴日星君曰：奇病尚有數症，我今盡傳無隱。如人手皮上現蛇形一條，痛不可忍，蛇乘人睡而作交感於人身，乃得此怪病。以刀刺之，血如墨汁。用白芷為末糝之，少滅其形。明日，又刺血如前，又以白芷末糝之，二次化去其形。先刺頭後刺尾，不可亂也。</p>
<p>喉中似有物行動，吐痰則痛更甚，身上皮膚開裂，有水流出，目紅腫不痛，足重難行。乃人食菜有蜈蚣在葉上不知而食之，生蜈蚣於胃口之上，入胃胃病，入喉喉痛，飢則痛更甚也。用雞一隻煮熟，五香調治，芬芳之氣逼人，病人睡熟，將雞列在病人口邊，蜈蚣自然外出。倘有蜈蚣走出，立時拿住，不許仍入口中，或一條或數條不等，大約喉內無物走動，則蜈蚣盡矣。然後以生甘草三錢　薏仁一兩　陳皮一錢。水煎服，十日愈，諸症俱平安矣。有胃脘不時作痛，飢更甚，日日作楚，予以大蒜三兩，搗汁灌之，吐蛇一條而愈也。</p>
<p>一人耳內長肉線一條，手不可近，色紅紫，此腎火飛騰於耳也。用硼砂二分　冰片一分。點之立化為水，後服六味丸一料痊愈。告沈度世記之救人不可忽也。</p>
<p>治雙目失明方：用沙苑蒺藜八分　炒白菊花一錢　木賊草二錢　夜明砂八分　石決明一錢　廣木香一錢。飯後水煎服。又用翻木鱉熬水洗之，十日即明。</p>
<p>治王德儒夜臥不寐方：用黨參一錢　茯苓二錢　白朮二錢　棗仁一錢（半生半炒）　蕎麥一錢元肉三十枚。每日早服十劑，痊愈驗過。</p>
<p>又治王鶴鳴夜臥不寐方：用白當歸五錢（酒洗）　白朮三錢（土炒）　生地六錢　茯苓三錢　菖蒲五分　龜板（炙）六錢。水煎，臨臥時溫服，十劑痊愈驗過。</p>

<h2>華真人治瘡毒神效方</h2>
<p>金銀花一兩　當歸一兩　蒲公英一兩　甘草一錢　荊芥一錢　連翹一錢。水煎服，三劑必愈。此明治之法，人亦宜知之。頭上最不可用升藥，切記切記。下病宜升而上病不宜升也，頭上病宜用降火之藥。</p>
<p>昴日星君曰：予尚有二方：頭面上瘡，用金銀花二兩　當歸一兩　川芎五錢　蒲公英三錢　生甘草五錢　桔梗三錢　黃芩一錢。水煎服，二劑全消。</p>
<p>又治手足之瘡疽方，神效。用金銀花三兩　當歸一兩　生甘草三錢　蒲公英三錢　牛蒡子二錢　芙蓉葉七個（無葉時用梗三錢）　天花粉五錢。水煎服，一劑全消。</p>
<p>呂祖曰：二方俱可傳也。</p>

<h2>許大仙治癆瘵</h2>
<p>許仙曰：癆瘵之症，佛心神術誠難速效。今立一方亦極平穩。用芡實八兩　薏仁八兩　山藥三斤　糯米一斤　人參三兩（無力者用黨參五兩亦可）　茯苓三兩　建蓮半斤　白糖半斤。各為細面，每日白滾水調服一兩，如不欲調服，水打成丸亦可，上午下，每服三五錢最妙。</p>
<p>董仙曰：大妙。吾亦有一方：用山藥二斤　芡實一斤　黑芝麻八兩　小黃米（炒）三斤　薏仁一斤　白糖一斤　肉桂五錢。各為細面，每日調服五錢或一兩，自能開胃健脾補腎益精也。</p>

<h2>李鐵柺大仙治大小便雜症</h2>
<p>李鐵柺仙治小便閉塞方：用車前子五錢　肉桂三分。水煎服，即愈。</p>
<p>治大便閉結方：用熟地三兩　元參三兩　火麻子一錢　升麻二錢　牛乳一碗。水二盅，煎六分，將牛乳同調一碗服之。一劑不解，二劑即愈也。</p>
<p>再如人之便血溺血雖不同，然總之出血於下，用生地一兩　地榆三錢治之。大小便有經絡，其源同，因膀胱之熱得之也。</p>
<p>腰痛頭痛上下相殊也，然腎氣通於上腦，氣下達於腎，上下雖殊，氣實相通，用熟地一兩　杜仲五錢　麥冬五錢　北五味一錢。水煎服即愈。</p>
<p>遺精健忘，用黨參一兩　蓮鬚五錢　芡實一兩五錢　山藥二兩　麥冬一兩半　五味子五錢　生棗仁一兩半　遠志五錢　菖蒲五錢　當歸一兩半　柏子仁（去油淨）五錢　熟地二兩半　山茱萸一兩半。各為末，蜜為丸，每日早晚用五錢，白滾水送下，一料完，即愈。</p>

<h2>呂祖治奇瘡</h2>
<p>呂祖曰：如人生怪病於腹中，生異症於身上，或生奇形於口上是也。當以奇藥治之。腹中忽有應聲者，用殺蟲藥治之不應，則將何以治之哉？用生甘草再加入白礬各等分，不須二錢，飲下即愈。應聲者非蟲也，臟中毒氣有祟以憑之也。甘草消毒，白礬消痰，一仁一勇，余又以智用之，智仁勇三者俱全，祟不覺低首而走也。</p>
<p>華真人曰：妙絕矣！不可思議。</p>
<p>呂祖曰：人生人面瘡者，人以為冤家債主也。余為不然，有祟憑之，我有一奇方：用雷丸三錢，研細面，入輕粉一錢，白茯苓面一錢，調勻敷上即消。雷丸去毒逐邪，輕粉深入骨髓，奇妙實難言傳。</p>
<p>人口中生瘡於舌上，吐在外寸余，結成黃靨，難以食物，人以為心熱故也，亦近理。然非也，亦有祟憑之。方用：冰片一分，入在蚌口內，立化為水，以鵝翎敷其上，立刻收入其舌，可飲食矣。以至陰攻至陰之邪，自然手到成功也。</p>
<p>鼻中生紅線一條，長一尺許，少動痛欲死，人以為怪病也，亦祟也。方用：硼砂一分　冰片一分。研為面，人乳調之，輕輕點在紅線中，覺有人如將病人打一拳一般，頃刻即消。</p>
<p>耳中聞螞蟻戰鬥之聲，非祟，乃腎水耗盡，又加怒氣傷肝。用白芍三兩　柴胡、梔子各三錢　熟地三兩　山茱萸三兩　麥冬一兩　白芥子三錢。水煎服，一月即愈。此乃奇病以王道治之也。</p>
<p>耳中作癢，以刀刺其底，有聲始覺快，乃腎肝之火結成，非湯藥可救。余立一方：用皂角刺一條　龍骨一錢（燒灰存性）　冰片三分　雄鼠膽一枚。冰片三分將藥面以鼠膽水調勻後，以人乳再調如厚糊一般，將藥盡抹入耳孔內，必然癢不可當，必須縛其兩手，癢定自愈矣。後服六味丸二三十斤可也。如人見三頭六臂金甲神、黃、白、青、紅之狀皆怪也，心虛而祟憑之。紫金錠用一錠化開飲之，吐痰碗許，即愈。</p>
<p>有山魈、蟲、蛇、狐貍作祟者，方用生桐油塗其下身或人褲子包頭，則妖大笑去矣。睡夢中壓人者，亦以此法治之。夫妖欲盜人精氣，最喜潔，見汙物包頭，則其人不潔。故棄之而去也。</p>
<p>人背忽裂一縫，出蝨千餘，腎中有風，得陽氣吹之，不覺破裂而蝨現，用熟地三兩　山茱萸三兩　杜仲一兩　白朮五錢　防己一錢　豨薟草三錢。服二劑，裂縫生蝨盡死，縫亦合矣。</p>
<p>紅鸞侍者曰：方皆絕妙。脊縫生蝨，余亦有一方：蓖麻三粒，研成如膏，用紅棗三枚搗成丸，如彈子大，火燒之薰衣上，則蝨死而縫合也。亦絕不可思議矣。蓖麻殺蟲去風，蝨去風出，則縫自合矣。</p>
<p>人有腹中生蛇者，毒氣化成也。或感四時不正之氣，或感屍氣病氣而成也。方用：雄黃一兩白芷五錢　甘草二兩。各為細面，端午日修合為丸，棕子米和而丸之如桐子大，飯前食之必作痛，用力忍之，切不可飲水，飲水則不效也，切記之。</p>
<p>張仙曰：蛇生腹中，身上辨之，身必干如柴，似有鱗甲者，蛇毒也，易辨，吾有一方最驗。用白芷一味為丸，每服米湯送下五錢即痊愈。生鱉者，飲食飢飽過於多食，一時不能消化，乃生蟲，似鱉非鱉也。亦以前方，再用馬尿一碗，人尿半合（童便尤妙），飲之立消。雄黃、白芷俱殺蟲之品，甘草去毒之劑，馬尿化鱉之聖藥也。奇病而用奇藥也。</p>
<p>紅鸞侍者曰：如婦人腹中高大，似生胎者，形容憔悴，面目瘦黑，骨幹毛枯，乃鬼胎也。用紅花半斤　大黃五錢　雷丸三錢。水煎服，瀉出血塊如雞肝者百片而愈。後用六君子湯調治之，自然復元。此病邪之所湊，氣必虛，又因起淫心必親邪者乎。方中妙在用紅花為君，血行難止，又加以大黃走而不守之味，自然功成之速也。</p>
<p>曹仙曰：有人背上疼痛，裂開出蛇一條，長尺余，頗善跳躍，予親治之，其症必先背脊痛甚，無腫塊，久則腫矣，長尺許一條直立脊上，用刀輕破其皮，蛇跳出，其人絕。用人參我至一廟見女像甚美，心慕之，頓起脊背之痛，三月以來痛不可忍，似蛇鑽毒刺光景。其人健壯，用刀刺開其皮肉，不意蛇出而人竟死矣。余隨用三生飲救之而愈。此可立案，見病之奇，而神道之不可玩也。</p>
<p>鶴舉曰：吾見治一人，七孔流血者，亦腎虛熱也。用六味加麥冬三錢　五味子一錢　骨碎補一錢。治之即愈。</p>
<p>鍾仙曰：水腫之病土不剋水也，方用：牽牛三錢　甘遂三錢。水煎服一劑，大瀉水斗余，脹盡消。但三味藥性太猛，人疑非正治之法。然水熱滔天必開決其口，則水消，妙在於猛也。服此二味之後，一食鹽則病重犯，不可救也。水腫之病，必須手按足而如泥者，可用此二味，按之不如泥者，隨按而皮隨起者，非水也。當作氣虛、腎虛治之，不可用此二味，以殺之也。</p>
<p>果老曰：此方固奇，各用三錢太多，減去一錢，則不過猛也。病去而不傷本，病未盡去可以再服，亦不失中和之道。</p>
<p>曹大仙曰：何言之當也。</p>
<p>韓大仙曰：水腫治法甚多，獨此二味奇妙通神。牽牛性雖猛，得甘遂而遲矣；甘遂性雖緩，得牽牛而快矣。兩相合而成，實有妙用也。</p>
<p>葛真人曰：昔論腫症，大概隨按而起者為水腫，按肉如泥者為氣虛，臨症者自驗。</p>

<h2>韓大仙治水臌</h2>
<p>方用：牽牛二錢　甘遂二錢　肉桂三分　車前子一兩。水煎服，二劑可愈。不可再服。改用五苓散二錢，再用六君子湯以補脾可也。忌食鹽百日，犯，不救也。</p>
<p>氣臌乃氣虛作腫，以水臌按之，皮肉不如泥，先從腳面腫起，漸腫至身，於是頭面皆腫，用白朮一兩　苡仁一兩　茯苓一兩　人參一錢　甘草一分　枳殼五分　山藥五錢　肉桂一分　車前子一錢　蘿蔔子一錢　神麯一錢。水煎服。日一劑便覺氣漸舒，二十劑全消，三十劑而痊愈矣。奏功雖緩，而起死實妙也。必禁食鹽百日，即秋石亦不可用也。</p>
<p>蟲臌惟小腹作痛，四肢浮脹，不十分之甚，色紅而帶點，如蟲蝕之象，眼下無臥蠶微腫之形，是蟲臌也。用雷丸三錢　當歸一兩　鱉甲一兩（醋炙）　地慄粉一兩（解者取汁一茶甌）　神麯三錢　車前子五錢　白礬三錢。水煎服。一劑可下蟲無數，二劑蟲盡出無留矣，不必吃三劑也。二劑後必須四君子湯去甘草而善為之調理也。</p>
<p>血臌由來久矣。或跌閃血瘀不散，或憂鬱結血不行，或風邪血畜不發，因循時日，留在腹中致成血臌。飲食入腹，不變精血，反去助邪，久則成矣。用水蛭三兩（炒黑約一兩，取末三錢）　當歸二錢　雷丸三錢　紅花三錢　枳實三錢　白芍三錢　牛膝三錢　桃仁四十粒（去皮尖，搗碎）。水煎服，即下血鬥余，二劑即愈。惟腹脹如鼓，四肢手足並無脹意，用四物湯調理，加白朮、茯苓、人參自然痊愈也。</p>
<p>血症。人有一時吐狂血者，此乃血不歸經之故，用人參五錢　當歸一兩（炒黑）　荊芥三錢　丹皮二錢。水煎服，一劑而血無不止，此方實有神功也。人有大怒而吐血者，傾盆而出或沖口而來，一時昏暈，生死頃刻也，用白芍二兩　當歸二兩　荊芥（炒黑）三錢　柴胡八分　紅花二錢　炒梔子三錢　甘草一錢。水煎服，二劑痊愈也。</p>

<h2>鍾大仙治老人</h2>
<p>鍾離仙曰：老人氣血衰敗，不可照少年治之。食多則飽悶，少食則困餒，食寒則腹痛，食熱則腸燥，老人最難調養。丸方莫妙於六味加麥冬三兩、北五味一兩，與之常服，竟可由六十服至百年，終歲不斷。妙在補腎、健脾胃、生腎中之真陽，老人最宜也。然而老人最不肯節飲食，又何以治之？今立一方，治傷食多痰之病，用人參五錢　茯苓一錢　白芥子一錢　麥冬三錢　苡仁五錢　山藥二錢　陳皮三分　麥芽五分　山楂三粒　神麯三分　蘿蔔子三分　甘草五分。水煎服。有火者加元參二錢；有寒者加肉桂五分；有痰者加半夏五分；有食者加山楂、麥芽；有濕者加澤瀉一錢；有暑者加香薷五分；有燥者加麥冬一錢、蘇葉五分；不眠者加棗仁一錢；脅痛者加白芍二錢；心痛者加梔子一錢；咳嗽者加桔梗一錢；腰痠者加熟地三錢、杜仲三錢；足無力者加牛膝一錢。老人之方，如此可悟也。</p>
<p>華真人曰：老人之法平穩而當，不必再立方也。</p>
<p>果老仙曰：吾亦有一方，治老人不寐最妙，用六味地黃丸一料，加麥冬四兩　炒棗仁五兩　黃連三錢　肉桂三錢　當歸三兩　白芍五兩　甘菊花三兩（要家園自種）　白芥子二兩。蜜為丸，白滾水送下五錢，服後用飯，可至百歲。</p>

<h2>藍大仙治少年</h2>
<p>藍仙曰：治少年人血氣方剛，不可亂用補藥，看其強弱，因病下藥自然無差。方用：厚朴一錢　茯苓三錢　陳皮一錢　甘草一錢　半夏一錢　砂仁三粒　車前子一錢。此方為主，逐症加減，自易奏功也。畏寒者加桂枝一錢；畏風者加柴胡一錢；畏食者加麥芽三錢、山楂三十粒；傷酒者加乾葛一錢，畏濕者加豬苓、澤瀉各一錢；惡熱者加石膏一錢；畏暑者加香薷一錢；痰多者加半夏一錢、天花粉一錢。治少年者，管其脾胃，雖加諸藥，而不傷胃氣，故易奏功，不可輕視之也。</p>

<h2>昴日星君治筋脈血脈等症</h2>
<p>昴日星君曰：治筋脈方，人若筋急拳縮俯仰而不能直者，用當歸一兩　白芍五錢　薏仁五錢生地五錢　元參五錢　柴胡一錢。水煎服，即愈。</p>
<p>血脈不足或毛髮乾枯，色澤不潤，用當歸一錢　白芍三錢　川芎一錢　熟地四錢　白果五個何首烏三錢　桑葉七片。水煎服，此治脈之法，人亦宜知。</p>
<p>李鐵柺仙曰：筋脈之治，予立二方：用當歸三錢　芍藥一兩　熟地二兩　柴胡一錢　白朮五錢肉桂一錢　白芥子一錢。水煎服。治脈，用當歸一兩　白芍三錢　生地三錢　麥冬三錢　熟地一兩　萬年青三錢　枸杞二錢　旱蓮草一錢　花椒三分　天冬三分。水煎服。久服兩鬢變黑，容顏潤澤矣。</p>

<h2>鍾大仙服鬚髮藥方</h2>
<p>鍾離仙曰：吾有烏須奇方，不須十日，保汝重為烏黑。用熟地三兩　何首烏三兩（用生不用熟，用紅不用白，用圓不用長）　黑芝麻一兩（炒）　萬年青二片　桑葉二兩　山藥三兩　白果三十個　桔梗三錢。各為細面，不可見鐵器，為丸，每早飯後服一兩，即黑，親驗者也。</p>
<p>果老仙曰：加花椒一錢，此方奇絕，不畏泄天機耳。</p>

<h2>呂祖治痰方</h2>
<p>一治初起之痰，一治已病之痰，一治久病之痰。</p>
<p>初起之痰，用半夏一錢　陳皮一錢　天花粉一錢　茯苓一錢　甘草一錢　蘇子一錢。水煎服，二劑可消矣。</p>
<p>已病之痰在中焦也。看其色之白與黃，黃者，火已將退也；白者，火正熾也。火熾宜涼火，將退者宜祛逐之。吾今有方俱可治之：用白朮三錢　茯苓五錢　陳皮一錢　甘草一錢　白芥子三錢　梔子一錢。火痰加枳殼五分。水煎服。</p>
<p>久病不愈，未有不腎水虧損也。方用：熟地五錢　茯苓三錢　山藥三錢　苡仁五錢　芡實五錢　山茱萸三錢　北五味一錢　車前子一錢　益智仁三分。水煎服。若火沸為痰者，加肉桂一錢，此治下焦之痰也。有此三方，再看何症出入加減，治痰無餘事矣。</p>
<p>李白大仙曰：三方極妙，治痰之聖藥。予有一方，治已病之痰，並附於後：用白朮三錢　茯苓三錢　陳皮一錢　天花粉二錢　益智仁三分。　人參三分　薏仁三分。有火者加黃芩一錢；無火者加乾薑一錢。水煎服。二劑而痰自消。再久病之痰，用六味湯加麥冬、五味有奇功也。無火加附子、肉桂可耳。</p>
<p>柳仙曰：予亦有二方，久而成老痰者，用白芍三錢　柴胡一錢　白芥子五錢　茯苓三錢　陳皮三分　甘草一錢　丹皮二錢　天花粉八分　薏仁五錢。水煎服。可用八劑，老痰無不消者。</p>
<p>又治頑痰。成塊塞在喉嚨者，為頑痰；留在胸膈而不化者，為老痰也。用貝母三錢　甘草一錢　桔梗三錢　紫菀二錢　半夏三錢　茯苓三錢　白朮三錢　神麯三錢　白礬一錢。水煎服。</p>
<p>劉仙曰：火沸為痰，反加肉桂，此火不從水折，後二方亦不可廢也。</p>
<p>何仙姑曰：死厥不醒人事，中風不語，鬼神之祟，山魈之侵，一時卒倒不醒人事是也。此病邪氣中之痰迷心竅也。怪病多起於痰，不必驚惶，治其痰而病自愈。邪之所湊，其氣必虛，祛痰之藥加於補正之中，則病去如掃，死者重生。方用：人參三錢　白朮五錢　茯苓三錢　半夏三錢　天南星三錢　白芥子一錢　生附子五分　生薑一大塊（搗汁）。水半、酒半、共二碗，煎八分服。外用皂角刺為末（如人研皂角刺時，先用濕紙封住鼻孔，然後細研為末）。取一匙於鵝翎管吹病人鼻孔內，必取噴嚏，以前藥灌之，立醒。必吐出痰水一盆，如膠如湯之類，或黃、黑、青、紅之色，人自然困倦欲睡，不可驚他，任他自睡醒來。用人參一錢　白薇一錢　茯苓三錢　白朮五錢　半夏一錢　白芥子三錢　陳皮五分　甘草五分。水煎服，一劑痊愈。此一法也。陽邪者，日間遇之；陰邪者，夜間遇之，此症遺尿、手撒則多不必活矣。大約治邪之方，看病之輕重，用藥之多寡則得之矣。</p>
<p>董仙曰：治厥症只消一味蒼朮（切片）三兩，水六碗，煎三碗，灌之必吐，吐後即愈。蒼朮，陽藥，善能祛鬼，故用之有奇效，此藥凡見鬼者，治之無不立效也。</p>

<h2>許大仙治窮人方便方</h2>
<p>許仙曰：吾有一法，是窮人之法也。人卒然見鬼，或倒在神廟之內，或在棺木之旁偶遇屍氣，或中陰邪不省人事，以瓜蒂散吐之，必然吐痰如湧，傾盆而出。吐後仍見鬼者，痰未淨也，再瓜蒂吐之，以不見鬼為度。後用白朮一兩　茯苓五錢　白薇一錢　陳皮五分　半夏一錢神麯一錢　炮姜一錢。此法可治窮人，以慰仙凡濟世之心也。紫金錠亦祛痰聖藥也。</p>
<p>張仙曰：予尚有一方並傳之。死症有中陰、中陽、中惡、中毒之分。如中蛇蟲之毒，一過，取水用之，不用雄黃。一方加食鹽少許，入滾水一碗，調勻灌之，以鵝翎探吐之，必吐出惡痰如蝸牛涎者碗許，自愈。後用人參三五錢　茯苓五錢　生甘草三錢。白滾水煎服，再加白芷二錢，另煎水傾入湯中，同服二劑永無患矣。</p>

<h2>李白大仙治童子童女癆神效方</h2>
<p>用鬱金二錢　廣木香一錢　炒玉竹一錢　赤白何首烏一錢半　黑豆汁炒黑芝麻一錢　炒生地二錢　炒茯苓二錢　丹皮一錢　白朮一錢半。水煎服，早晚十劑痊愈。</p>

<h2>治瘟疫神效方</h2>
<p>用大黃二錢　元參四錢　柴胡一錢　麥冬一錢　石膏三錢　滑石三錢　荊芥一錢　白芍一錢半　天花粉二錢。瘟疫之流行，多因大熱而得，治法不能外此。</p>

<h2>華真人治瘟疫丸藥方</h2>
<p>用大黃一斤　生花椒、桂皮、陳皮、蘇葉各五兩。用姜五錢搗汁，同泡三日後曬乾，冬至日午時研面，子時和成，煉蜜為丸。每服二錢，滾水送下，最為靈驗。</p>
<p>隨症用引：頭痛，藁本一錢；腹痛，大腹皮一錢；脅痛，青皮、鬱金各五分；老人不出汗，黃耆五分；少壯者，柴胡、蘇葉各五分。煎湯送下，有孕者忌服，新病者不可即服，過三日方吃，不可誤也。</p>
<p>又預防時氣方：用大黃一錢　桂皮五錢　蘇葉一錢　廣木香一錢。將木香熬汁泡桂皮，木香渣和蘇葉露三夜同煎。每人服二劑，冬至前一日服一劑，冬至日服半劑，冬至第二日服半劑，三日服完，即不染時氣矣。小兒減半。</p>
<p>又冬至日，用大黃一塊約一二錢，將線穿好，合家大小佩之，瘟疫即不染矣。</p>

<h2>李太白大仙治反胃</h2>
<p>李白大仙曰：人有時吐，有時不吐。吐則盡情吐出，人以為胃也。然此非反胃，又似乎反胃。此等病婦人居多，男子亦有，蓋因鬱而成也。鬱則傷其肝，肝傷木即下克脾胃，肝性急，所克之勢猛，胃土不受，於是上越而吐。治法必止吐平肝。平肝而鬱自舒，郁舒而吐止矣。方用逍遙散：柴胡一錢　白芍五錢　茯神三錢　白朮一錢　當歸一錢　陳皮三錢　甘草一錢。水煎服，一劑而吐止，再劑而痊愈矣。再用熟地、當歸各一兩　山藥、元參各五錢　牛膝一錢半　車前子五分。服兩劑可也。</p>

<h2>葛真人論噎隔</h2>
<p>總因血衰胃脘乾槁，槁在上者，水飲可行，食物難入；槁在下者，食雖可入，良久復出，名曰反胃。二證總名曰嗝。故有三陽結謂之嗝一語。大抵氣血虧損、悲思憂恚，脾胃受傷，鬱氣生痰，痰則塞而不通，氣則上而不下，飲食難進，噎嗝所由成也。</p>
<p>昴日星君曰：食不得入，是有火也；食入反出，是無火也。嗝多因熱，反胃多因寒也，不可拘也。脈大有力當作熱治，脈小無力當作寒治可也。年過六旬者難治，糞如羊屎者，口吐白沫者，胸腹嘈痛刀割者，皆死症也，不治。</p>

<h2>蓮池大士治氣滯胃寒膈方</h2>
<p>廣木香（磨）五分　白朮（土炒）一錢半　陳皮、香附各一錢半　白豆蔻八分　青皮一錢　半夏曲一錢半　茯苓二錢　厚朴一錢半　薑製水二盅　姜三片　煎一盅，入蜜少許。食前服，十劑即愈。</p>
<p>治膈症脾虛方：人參一錢　白朮三錢　陳皮一錢　茯苓二錢　砂仁三粒　炙甘草四分。有痰加半夏、白芥子可也。水煎服。薑棗為引，食遠服。</p>
<p>如胸膈不利，或痰盛閉塞，一時中風不語，以小劑治之。</p>
<p>胸膈不利，氣不順也。用蘇葉一錢　半夏一錢　甘草一錢　桔梗一錢　百部五分。一劑快然。</p>
<p>痰盛閉塞作痛者，乃痰在上焦。用天花粉一錢　甘草一錢　柴胡一錢　陳皮五分　半夏一錢蘇子一錢，治之。</p>
<p>或中風不語者，用瓜蒂散、皂角湯，吐之。然必看其真中風方可吐之，否則不可。真正中風，平日自然壯甚，能御風寒，中後雙目突出，手足亂舞，痰色黃成塊，大小便閉塞不通者是。若安靜，平日衰弱，臨症之時氣息如無，大小便自遺，手撒，眼閉，浮腫，作水雞聲不十分響者，乃氣虛也。當用三生飲，人參重加之可也。</p>

<h2>紅鸞侍者治失血離魂反胃等症</h2>
<p>紅鸞侍者治失血方。血有口鼻出者，有從手、足、皮毛之孔、九竅而出者，症似各異，可統治之。用熟地二兩　生地一兩　荊芥一錢　三七根末三錢　當歸一兩　黃耆一兩。水煎服。血之各症而皆效也。</p>
<p>離魂之症，魂出於外，覺吾身之外更有一吾，此欲死未死之症，急用人參一兩　茯神五錢　柏子仁三錢　生棗仁一兩　遠志一錢　白芥子三錢　丹砂一錢　當歸一兩　白朮一兩　甘草一錢　麥冬五錢　龍齒五分。水煎服。一劑即見功也。</p>
<p>反胃，有食入而即出者，腎虛不能潤喉之燥而即出也；有食久而反出者，腎火虛、脾寒而出也。反胃當治腎，當辨其有火無火為要。</p>
<p>一治無火而反胃者，用熟地二兩　山茱萸一兩　附子三錢　茯苓三錢　澤瀉三錢　丹皮三錢肉桂三錢　山藥六錢。水煎服。</p>
<p>一治有火而反胃者，用熟地二兩　山茱萸五錢　山藥一兩　澤瀉三錢　丹皮三錢　茯苓五錢麥冬五錢　北五味二錢。水煎服。二方治反胃有神功也。</p>
<p>董仙批云：反胃雖一時不死，治不得其宜，必死而後已，反胃多是腎虛無火，故今日食至明日盡吐。夫食在胃似乎病在胃也，誰知胃為腎之關門，飲食於胃必得腎水相濟，腎寒而脾亦寒，脾寒不能化，上湧於胃則吐矣。用熟地三兩　山茱萸二兩　肉桂三錢　茯苓三錢。水煎服，十劑而病痊愈矣。食下即吐，不可用肉桂，加麥冬一兩　北五味一錢。二方全是補腎中水火，不去治胃，勝於治胃也。</p>
<p>許仙曰：吾有一方，用肉桂二錢　附子一錢　熟地一兩　山茱萸五錢。水煎服。一劑吐減半，二劑吐更減，五劑而吐止矣，十劑而痊愈也。此方水火兩生，脾胃得火氣而無寒涼之虞，得水氣而無干澀之苦，豈有不愈者哉。</p>

<h2>葛真人論反胃之症</h2>
<p>飲食入胃即吐者，此肝木剋土也，用逍遙散加吳茱萸、炒黃連治之，隨手而愈。無如人以胃氣雜，用香砂消導之品，反傷胃氣，愈增其吐，又改用下藥，又改用寒涼之藥，又改用半熱藥，俱不用始方，用和解之藥，解鬱散邪，然已成噎嗝矣。余用熟地、當歸各二兩　山藥、元參各一兩　牛膝三錢　車前子一錢。水煎服。一日一劑，十日則痊愈矣。</p>
<p>鶴翔曰：此方純補精血，水足而腎中有精，而大腸有度，自然上下相通，而無阻滯之虞。真仙方也。</p>

<h2>看花童子治胃病、心痛、痞塊痛方</h2>
<p>用延胡索、五靈脂、草豆蔻、沒藥各五錢。研極細面，每服二錢，用酒沖服，早晚兩次，即愈。難吮，米湯合丸，吞之可也。</p>
<p>又曰：呂大仙達元散最妙，能治百病，如何不傳也？用白犀角二兩（遍身白者佳，銼碎屑）　山𬞧茹一兩（銼碎去皮洗淨）　麻黃一兩（去根節切碎）　朴硝一兩（槍過淨芽）　血竭一兩（小瓜兒佳）。擊碎合一處，生薑汁拌濕，分十八分，各用烏金紙裹外。用熟紅棗二斤去核，搗泥，圓如彈子大，擺砂鍋內，上以砂盆蓋密，上下加炭火，煙盡為度，冷取出，去淨紙包，藥如黑炭者佳。將藥和勻，每錢加冰片二分，研極細，瓷瓶收好。此方在端午午時，或天醫日，靜處修合，僧尼不可先與也。專治傷風、瘟疫、痘疹、無名腫毒、卒感心痛、冷氣、喉閉、乳蛾、瘧疾、時行赤眼、吹乳。用銀針醮香油黏藥點大眼角。男先點左，後點右；女先點右，後點左眼。後蜷腿、側臥、合目，蓋被，出汗後吃清米湯稀粥。忌葷腥、生冷、氣惱、勞碌、房事。瘟疫，日久不汗，此藥先吹鼻，次點眼，蓋被俯臥，半炷香即汗。用陳米炒過熬粥湯，調養一日後，食粥可也。</p>
<p>柳仙曰：絕妙好方也。</p>
<p>看花童子曰：頭腦疼痛，手足、兩臂、兩肩背疼痛，腰以下疼痛，不必支解刀破，囫圇而治之也。如頭痛，用黃酒一斤　入細辛一兩　川芎三兩　白芷一兩。煮酒一醉而愈。</p>
<p>華真人曰：妙。世人不知頭痛，至終年累月，其邪深入於腦，一二錢之散藥，安能至巔頂而深入於腦中，必多用細辛等大散之也。或疑散藥太多，恐損其真氣，恐頭痛未除，真氣先散。誰知風邪在頭，非多用散藥必難成功。有病則病受之，何畏哉！既愈之後，必須用熟地五錢　芍藥五錢　當歸五錢　川芎一錢　山茱萸三錢　麥冬三錢。水煎服四劑為妙。</p>
<p>柳仙曰：吾有一方，用柴胡五錢　白芍三錢　辛夷三錢　郁李仁五錢　麥冬五錢　桔梗三錢甘草一錢。水三碗，黃酒一升煎服。一醉而愈。量好者多飲之，以醉為度。</p>
<p>劉真人曰：腦痛，風入膽經也，膽應於腦故痛。人以用柴胡太多，過於辛散，不知有白芍以和之，不散氣而轉能散邪。辛夷、郁仁皆入膽妙品，桔梗、甘草入肺之妙藥。膽病何以又治肺？不知鼻通於腦，腦熱則下流清水，久則成鼻淵矣。此方之神妙，人不知也。</p>
<p>藍大仙曰：肩膊臂痛，亦用黃酒二斤　當歸三兩　白芍三兩　柴胡五錢　羌活三錢　半夏三錢　陳皮五錢　白芥子三錢　秦艽三錢　附子一錢。水六碗，煎二沸取汁入黃酒內，一醉為度。</p>
<p>韓大仙曰：臂與肩膊，手經之病，肝氣之郁也。妙在用白芍為君，平舒肝木之氣，不來克脾胃之土。柴胡、羌活去風，直去手經之上，秦艽兼附而攻，邪自退出，半夏等祛痰聖品。風邪去而痰不留，又有附子無經不逐，餘邪尚能存之哉，自然一醉而愈也。</p>
<p>華真人曰：兩足腰以下痛，用黃酒二升　黃耆半斤　防風五錢　薏仁五兩　杜仲一兩　茯苓五錢　車前子三錢　肉桂一錢。水十碗，煎二沸，取汁二碗，入酒內一醉而愈。</p>
<p>曹大仙曰：腰足痛，明是腎虛氣衰不能運動，更加之以溫，妙在不補腎而單益氣，氣足血生，血生邪退，又助之苡仁等去濕，濕去血更活矣，更加之杜仲健腎，肉桂溫腎，防風盪風，相畏而相使，相佐而相成。必然之理也。</p>
<p>八分，加酒半碗，早晨服一劑即愈。此方不特治頭痛，兼治腦痛，無不神效。</p>
<p>更有一方，治腰痛如神。用白朮三兩　芡實二兩　薏仁三兩。水煎服，一劑愈。年老人恐有腰痛之疾，可服吾方，自無痛楚。亦只消一劑，多則陽旺，恐非所宜。妙極之方也。</p>
<p>此方兼治夢遺，一劑可也。</p>
<p>何大仙曰：凡頭痛因風寒者宜酒，因火邪者宜茶也。</p>

<h2>曹大仙治痢疾方</h2>
<p>凡人夏秋之間，患痢便血，一日間至百十次不止者，至危急也。用白芍二兩　當歸二兩　枳殼二錢　檳榔二錢　甘草二錢　滑石末三錢　廣木香一錢　蘿蔔子一錢。水煎服，三劑痊愈。些小痢疾，不必用如此之多，減半治之無不奏功。不必問其紅白、痛與不痛，皆神效。</p>

<h2>又治亡陽方</h2>
<p>凡人毋論有病無病，一旦汗出如雨不止，名曰亡陽，最危之症。急當補其氣，尚可挽回。用人參五錢（用不起參者，黨參膏亦可）　麥冬五錢　北五味二錢　黃耆五錢　當歸三錢　熟地五錢　炒棗仁三錢　甘草八分。水煎服，三劑愈。</p>

<h2>果老大仙治斑疹方</h2>
<p>果老仙治斑疹。一時身熱，即便身冷，遍體生斑如疹者，乃火從外泄而不得盡泄於皮膚，故鬱而生斑，人盡以為熱也。寒涼藥不效，不得消而死，可傷也。用元參一兩　麥冬一兩　升麻三錢　白芷一錢　白芥子三錢　沙參三錢　丹皮五錢。水煎服。一劑斑勢減，三劑斑影盡消矣。</p>

<h2>許仙治耳聾</h2>
<p>用珍珠一粒，外用龍骨末一分，以蜜調之，丸在珠上，丹砂為衣，錦裹塞耳中即愈。一月後取出，再用地黃丸一料，永不再聾也。</p>

<h2>華真人治疝氣方</h2>
<p>用沙參一兩　橘核一錢　肉桂一錢　柴胡一錢　白芍五錢　陳皮五分　吳茱萸五分。水煎服。即定痛，二劑痊愈也。</p>

<h2>又治婦人暗瘡</h2>
<p>婦人陰門生瘡作癢作痛者，以此方煎水洗之立效。方用：蛇床子一兩　花椒三錢　白礬三錢。水十碗煎五碗，乘熱熏洗之。一二次即止痛，三次痊愈。分作五日洗之，每日止消一次，神效之極。幸珍之。</p>

<h2>又治血上行不止</h2>
<p>血上行，不拘何處出血不止，用黃酒溫微熱傾盆內，將兩足泡一時許即愈。真神方也。</p>

<h2>呂祖熨諸寒症方</h2>
<p>呂祖專熨寒症、食積、血積、小腸氣等症。方用：食鹽一飯碗　蔥頭數根（切碎）　姜一二兩（切碎）　小茴香二兩（炒熱）　用新布包好，腹上漫漫熨之。冷再易。心口疼熨心口，胃痛熨胃，脅痛熨脅。陰寒再加肉桂、吳茱萸同炒，熨之無不立效，已經治好數十人矣。</p>
<p>貼食水積並寒症膏藥方：用蔥連須七根　土木鱉七個（打碎）　白芷七根　巴豆七粒（打碎）　香油、黃丹熬之。貼臍上。貼瘧疾貼於脊背第三節上，三換即好。貼好過百餘人矣。</p>

<h2>又治諸怪症方</h2>
<p>又治人有狂如見鬼狀，或跌倒不知人事，或中風不語，或自臥跌在床下者，皆正氣虛而邪氣犯之也。其氣必虛，不治其虛，安治其餘？急固其正氣，少佐以祛痰祛邪之藥為妙。發狂見鬼者虛也。方用：人參、白朮、半夏、天南星、附子灌之，狂自定矣。</p>
<p>倒不知人乃氣虛也。亦用前方主之，或中風不語，用人參、天南星、生半夏、生附子一個，名為三生飲急灌之。自臥跌床下者中風類也，又名屍厥，亦三生飲救之。</p>
<p>發狂不見鬼　明是內熱之症，方用：人參三錢　白芍三錢　白芥子三錢　半夏三錢　天南星二錢　黃連二錢　陳皮一錢　甘草一錢。水煎服。</p>

<h2>華真人治腳氣方</h2>
<p>華真人曰：腳痛之病最多而難治。腳乃人身之下流，水濕之氣一犯，停留不去，須提其氣，水濕始可散。今人動以五苓散治濕，雖是不能上升而盡其土濕也。今立一方，可通治濕氣浸腳者。方用：人參、白朮各三錢　黃耆一兩　防風、肉桂各一錢　薏仁、芡實各五錢　陳皮五分　柴胡一錢　白芍五錢　半夏二錢。水煎服。去濕之神方。防風用於黃耆之中，提氣去濕。柴胡舒氣，氣可升騰，氣升則水亦隨入於脾矣。又有白朮、芡實、薏仁俱是去水之聖藥，有不奏功者乎！凡有濕病，幸以此方治之。</p>

<h2>蓮池大士治眼目腫痛</h2>
<p>蓮池大士曰：目之紅腫也，乃風火入於肝膽之中，濕氣不散，合而成之也。初起之時，即用舒肝膽之藥，加去濕散火之品，自然手到成功。無如近來只知散邪，不知合治之法，所以不能速效。少不慎，疾遂變成爛眼流淚之症，甚則胬肉攀睛。今定一方，即於初起三五日內，連服二劑，即便立愈。用柴胡、白芍、白蒺藜各三錢　甘菊二錢　半夏三錢　白朮五錢　荊芥一錢　甘草一錢　草決明一錢。水煎服。一二劑即愈，有熱者加梔子三錢，無熱者不用。此方之妙，火風濕同治，又佐之治目之品，藥入口而目即愈也。</p>

<h2>北斗咒</h2>
<p>（此得之於陳喇嘛，昔在榆次王胡鎮，因辦差遇之，談此咒甚靈，有不可思議之妙，並囑有好善者即傳可也。）</p>
<p>南（音那）無（音摩）囉（音來）𠶒哪。𠶒囉夜耶。𠶒你野他。曷伽摩西。麻伽摩西。阿陀嚤（音摩）⿰口枲（音西）。支八囉嘛⿰口枲。摩訶支八囉摩西。唵。怛（音旦）陀。那摩西。麻里支耶摩西。南謨娑都（音得）諦。囉嘿（音末）西（音煞）。囉嘿（音末）西。㘈（音忙）薩嚩（音伐）。薩𠶒嚩。難吒（音查）薩嚩。𠶒囉薩嚩。婆喻叭（音八）㖠（音奈）囉。費（音未）避瓢。沙嚩賀。南無三盤陀。沒多。喃。唵。嘛哩（音禮）唧㘈娑訶。</p>
<p>李白大仙降壇云：此咒乃番音，以北音念之，南音即誤也。此西番高僧所作，念之即可消前世罪業，且可添壽。恐爾等錯誤，吾與註明可也。</p>
<p>丁已二月初五日，觀士音菩薩降壇，更正咒語註解云：此咒本吾親作，以度世間婦人女子。婦人女子見識既淺，心地欠明，更兼父母愛惜，不令讀書，以至嫁夫，或因溺愛，由是私欲日深，靈明日昧矣。此吾所以教人為善，以補其過也。但此咒傳世已久，往往讀錯，以訛傳訛，故吾降機改正之。</p>

<h2>觀音咒</h2>
<p>南無（音那摩）大慈大悲救苦救難廣大靈感觀世音菩薩。南無佛。南無法。南無僧。怛（音達）只哆。唵。伽（音佳）囉（音拉）伐哆。伽囉伐哆。伽呵伐哆。囉伽伐哆。囉伽伐哆。娑訶。天羅神。地羅神。人離難。難離身。一切災殃化為塵。</p>
<p>將此咒刊以傳世，前誤者可改，後讀者可得真也。凡善男信女，持誦萬遍，刻印千章，以廣好善之心，雖不能登極樂，可消一切災難。念此心虔，求福、求壽、求子，藉此可得，不可輕視也。</p>
<p>乾隆五十四年，鶴亭丁憂回京，住包頭張兒衚衕。子華文得時病，服藥無效，伊母林氏，夜禱於菩薩像前，許常念此咒，是夜四更時，華文夢中呼云：明早請后街嚴先生來看，必好。早至，果兩劑而愈。其母虔念此咒十餘年，華文從此健壯不病矣。</p>
<p>又五十八年，至山西省城，林氏偶得黃病，不食不睡，約有半月，吃藥無效，後夢神云：如念北斗咒，此病必愈。即於病中念之，數日即能睡，更勤念之，漸能食。因虔誠念此二咒，半年痊愈。至六十年又犯之。請呂祖降壇賜方，並云：汝妻此病本不能起，因念二咒甚虔，故賜壽一紀。吾故賜汝方，遇人即勸令念此二咒，不可食牛犬肉，即可登上壽矣。方用：黨參三錢　當歸三錢　白朮三錢　茯苓三錢　白芍一錢　柴胡五分　砂仁五分　山藥三錢　芡實三錢　丹皮一錢　澤瀉一錢　木香五分　引用陳香櫞或陳佛手一錢。水煎服，十劑愈。</p>
<p>又賜丸藥方：熟地四兩　黨參二兩　白朮二兩　茯苓二兩　半夏五錢　神麯五錢　白芥子三錢　陳皮三錢　山藥二兩　芡實二兩　麥芽五錢　當歸二兩　肉桂三錢　附子三錢　牛膝三錢。丸梧子大，藕湯送下三錢，早服。</p>
<p>又藥酒方：用燒酒十斤　木瓜一兩　牛膝五錢　杜仲一兩　黨參二兩　白芍一兩　當歸四兩熟地四兩　何首烏四兩　車前子一兩　茯苓二兩　白朮二兩　炒棗仁二兩　芡實四兩。泡三日，臨睡吃兩杯，不可多飲，即永不犯矣。</p>

<h1>下卷</h1>

<h2>金母娘娘序</h2>
<p>嘉慶二年，秋七月，望日。余降機於凝碧西軒。因前鶴亭所刊濟世良方，未經全備，此番續補，蒐括無遺。實由果老慈心，又兼各大仙留意，於《東醫寶鑑》、《石室秘錄》等書內擇其最善者而加減之，又擇其議論之高妙者反復辯論，必求精詳。故令鶴等抄寫刊刻，傳以濟世，以補前集所未備。蓋今之知醫者，多不用古方，以為抄襲前人所開湯頭，往往獨出己見，任意添減，所以不能奏效。今集中諸方，平穩妥當，不玄奇，不弄異，若遇症候相對，切理按脈投之，無不神效。余憐世之致疾者，每每誤投藥餌，自戕其生，故不殫諄諄耳。</p>
<p>王鶴鳴</p>
<p>弟子　柏鶴亭　敬刊</p>
<p>張鶴舉</p>
<p>奧妙獨闢，表率女仙，居西池之聖地，實參化於九天。蟠桃熟而開宴，玉液成而最鮮。並非太陰與南海而同慈，亦非后土偕東華以俱先。元鳥飛飛，白鶴翩翩，果秉誠而斯在，勿泥像以求焉。</p>
<p>（呂岩謹識）</p>

<h2>論病已將愈</h2>
<p>呂祖擇，天師論病將愈。飲食難消，胸膈不快，或吐酸，或溏泄，或夜臥不寧，或日間潮熱，當宜王道治之，不可以偏師取勝。</p>
<p>方用：人參一錢　茯苓二錢　白朮二錢　甘草五分　陳皮五分　製半夏七分，此六君子湯也。有熱加黃芩三分；不睡加黃連五分、肉桂五分；潮熱加柴胡一錢、地骨皮一錢；有食覺胸中少痛，加枳殼五分、山楂十粒；有痰加白芥子一錢；咳嗽加桔梗一錢；下泄加車前子一錢；腹中痛甚加肉桂五分、白芍一錢；頭暈加蔓荊子一錢、川芎一錢；上吐酸水加白芍二錢、倍加茯苓；飽滿加枳殼五分。</p>
<p>昴日星君曰：看之平淡，用之其妙莫測也。</p>

<h2>論大吐瀉渴滿發背癰腫之類</h2>
<p>呂祖選並加減，如遇大吐瀉渴滿發背癰腫之類，死亡頃刻，若不用大劑去邪去毒之藥，單刀直進，摧蕩逐除，而尚欲補正，邪自散之論，未有不一敗塗地而不可救也，必須大劑攻之。大吐乃寒邪直入腎宮，手足厥逆，少腹痛不可忍，以火熱之物熨之為快，否則寒冷欲死。方用：附子一個　白朮二兩　肉桂一錢　乾薑二錢　人參二錢，救之。下喉便覺吐，定，再服則安然耳。何故？乃寒邪直入腎宮，則腎火逃避而諸邪挾眾逆犯，心君不寧。必用附子、肉桂、乾薑等大熱之物，又多用參，使諸藥遍列分布，春溫之氣行，寒邪散而吐止矣。</p>
<p>大瀉者乃火挾邪勢，將膀胱脾中水穀盡驅而出，腹必大痛，手不可按，完穀不化，飲食下喉即出，捷如奔馬，若稍遲延，死亡頃刻。蓋其病得之夏秋之暑熱，一遇涼風，便起波濤，乘風拍浪直趨海口而下，若不急用大劑治之，而尚王道，遲遲鮮不敗事。方用：大黃六錢　人參五錢　黃連三錢　車前子三錢　甘草八分。水煎服，一劑愈。</p>
<p>華真人曰：此方之奇，全在用大黃以利之也。然用大黃不多用參，有攻無補，致傷真氣，又加甘草，恐大黃過猛，用此緩之也。車前子分消其水勢也，又引水歸於故道也。妙不可思議。</p>
<p>大滿，此邪壅住上焦而不得散也。方用：枳殼二錢　梔子二錢　栝蔞一個　天花粉二錢　甘草一錢　陳皮二錢　厚朴一錢　半夏一錢。水煎服。</p>
<p>昴日星君曰：此方之妙，全在用栝蔞去胸膈之食，消上焦之痰，又佐枳殼、天花消中焦之勝藥，厚朴、半夏逐其胃口之痰，使甘草令群藥留中而不速下，則邪氣不能久留，自然分散而潛消矣。</p>
<p>發背癰腫前已定方，俱可通觀，故不再悉耳。奇談暢論無不入妙入神，又何能贊一辭。然大瀉之症，不可不辨。大瀉有火瀉寒瀉之分，以前之所言，乃火瀉也。未言寒瀉，予補之。寒瀉之症，一日或數十行或百行，腹亦有痛者，亦完穀不化，下喉即出，亦死亡頃刻，亦多在夏秋之間，將何以辨之？予辨之熱與痛耳，火熱者，口必渴，舌必燥，甚則生刺也，舌苔必黃灰黑色，腹必痛而手不可按也。寒瀉口不渴，亦不喜十分飲水，舌苔白滑而燥，腹痛喜手按是也。方當用補氣之藥，生其胃氣，佐以分消之品。方用：人參、白朮、附子、茯苓、澤瀉、豬苓、肉桂。水煎服。此五苓散加參者也。用時看病之輕重定其分兩可也。</p>
<p>葛真人曰：論妙用人參始能挽回垂絕之地，佐茯苓、白朮以去水濕之氣，又有附子、肉桂以補命門之火，使火熱以生脾土，而膀胱氣化，又有豬苓、澤瀉分消其水勢，自然大便實而寒邪去也，借治火痢亦妙，可並傳。</p>

<h2>治瘡疥方</h2>
<p>華真人選擇，人生瘡疥者，用苦參四兩　生甘草一兩　金銀花一兩　蒼耳草半斤　荊芥一兩防風一兩　生黃耆三兩。煮湯一大鍋，乘熱熏之。候稍溫，浴之。必至湯寒而後已。一日再浴，將渣再煎，如前浴之，三日瘡疥可痊愈也。</p>

<h2>治手汗癩頭方</h2>
<p>昴日星君曰：妙。人有手汗出者，以黃耆一兩　葛根一兩　荊芥三錢　防風三錢。水煎湯一盆，熱熏而溫洗，三次即無汗，神方也。</p>
<p>更有癩頭洗方，用蝸牛三十條，水三碗，煎湯洗之，二次痊愈，亦神方也。</p>

<h2>治火鬱胸中方</h2>
<p>呂祖擇，人有火鬱於胸中而不得散，因達之外也。火氣熱甚而蓄日久，勢亦盛，往往變為火丹之症，或發砂疹是也。若不即為達之，則火勢燎原，立刻灰燼。方用；升麻二錢　元參四兩　青蒿二兩　乾葛二兩　黃耆二兩。水煎服。此方之奇，青蒿與元參同用煎，症乃胃火與肝結之火，騰而外越。治肝則胃不得舒。治胃則肝不得舒。妙在青蒿平胃火兼平肝火，未免性平不甚峻。元參之重劑，火勢散漫無不撲滅矣。二火相形，畢竟胃火勝於肝火，佐以葛根平胃。此方斟酌咸善，而人不可測度也。</p>
<p>華真人曰：古今絕妙異方，目中不曾多見，此方實奇而當。予又擇一方，亦可少佐高深：白芍三錢　柴胡二錢　丹皮二錢　元參三錢　麥冬三錢　荊芥三錢　生地三錢　炒梔子三錢　防風一錢　天花粉二錢。水煎服。此方專散肝木中之火，而諸經之火盡散矣。</p>
<p>昴日星君曰：妙極！予亦有一方治火丹神效。絲瓜子一兩　柴胡一錢　元參一兩　升麻一錢　當歸五錢。水煎服，一劑愈。</p>

<h2>論病已入膏肓</h2>
<p>呂祖擇並加減。如病入膏肓，或在骨髓，或在腦中者，是此等症，非一朝能治，必須多服湯藥於日間，服丸藥於夜半，非數百劑不能奏效。大約勞瘵之症居多，而虛勞次之。方用：熟地一兩　山茱萸四錢　山藥三錢　丹皮二錢　澤瀉二錢　茯苓三錢　北五味一錢　麥冬三錢　芡實五錢。水煎服。此早服方也。</p>
<p>晚服丸方：用紫河車一具　鹿角膠二兩　龜膠三兩　元參三兩　熟地八兩　山茱萸四兩　地骨皮五兩　人參一兩　白朮五兩　白芍五兩　炒棗仁三兩　枸杞子三兩　麥冬三兩　人乳二碗浸熟地曬乾　砂仁五錢。各為末，每日半夜白滾水送下五錢。有力者參倍加。此方不熱不寒，可以長服。方名正中丸。病傷根本，扶之不易。譬如花木大肆摧殘，欲其枝葉之茂，豈能一朝成。必須培植終歲經年，自然春意漸回，萌芽可達漸漸扶蘇，而不可性急也。飲食更須得時。治之難從來眉慼，切勿心急，以期奏功之速。前症十人只可逃一二，此治法非盡能救之也，但舍此再無治法，余憫世人，故立此方。倘肯聽吾言，斷絕色欲，口淡滋味，心戒貪嗔，自然服藥有功。否則只可苟延歲月而已，不可不告戒也。</p>
<p>華真人曰：妙。佛心神術，此症誠難速效。呂仙擇此平穩中實有妙理。予亦擇一方，亦極平妥，可並留，以備世選。方用：芡實八兩　苡仁八兩　山藥三斤　糯米一斤　人參二兩　茯苓三兩　蓮子半斤　白糖半斤。各為末，每日白滾水調服一兩。如不欲調服，以水打成丸如元宵服亦可。上下午服一丸，亦可為佐也。</p>
<p>果老大仙亦擇加減一方：芡實一斤　山藥二斤　黑芝麻八兩　小黃米三斤（炒）　苡仁一斤　白糖一斤　肉桂五錢。各為末，白滾水每日調服五錢或一兩，自能開胃健脾，補腎益精。人或疑肉桂熱，恐動火，此不知醫者也。七斤有餘之藥，肉桂只五錢，不過百分之一，何熱之有，正取其溫氣以生脾胃耳。</p>

<h2>論久遠痿痙二症方</h2>
<p>呂祖擇，論人久遠之病不可以歲月計也。如病痿症、痙症是也。痿病必久臥床蓆不能即起，其故何也？諸痿之症，盡屬陽明胃火，鑠盡腎水，骨中空虛，亦無滋潤，則不能起矣。只治陽明，而骨中之髓何日充滿，雙足有力難矣。方用：元參一兩　熟地二兩　麥冬一兩　牛膝二錢。水煎服。</p>
<p>《石室秘錄》論此方之妙，全在不去治陽明而直治腎經，補其匱乏，腎水一生，胃火自息。況又有麥冬以清肺，牛膝以堅膝脛，故以此方長服，無有不起者也。</p>

<h2>論腰背骨病腿痠目生胬肉</h2>
<p>華真人曰：妙。治法不獨痿痙之症，擇秘錄中如腰疼、背脊骨痛而腿痠痛、兩目生胬肉是也。腰痛服藥不效者，乃濕氣入於兩腰子，最難治。補腎水而益痛，瀉腎水而覺空，去風而無益，去寒而轉增，去火而益甚，此所以知為水濕症也。外無水像，內無水形，令人揣摩不著，然余實有辨而知之，凡腰痛不能下俯者是也。方用：柴胡一錢　防己二錢　澤瀉一錢　豬苓一錢　肉桂三分　白朮五錢　甘草五分　山藥三錢　白芥子一錢。水煎服。</p>
<p>秘錄中此方最妙，入腎而去濕氣，多服為妙。腰痛初起，三四劑可愈。若至經年累月，非服兩月不能效也。腰不能俯者，水濕也；不能直者，風寒也。用逍遙散加防己一錢，初起一劑可愈，久則不能，當改用白朮二兩，杜仲一兩，酒煎服，十劑可愈。</p>
<p>背脊痛者，乃腎水衰耗不能上潤於腦。河車之路，乾澀難行，故爾作痛。一二劑不能見功，非久服補氣之藥以生陰，補陰之藥以生水，未易奏功。方用：黃耆一兩　熟地一兩　山茱萸四錢　麥冬四錢　北五味一錢　白朮五錢　防風五分　茯苓三錢　附子一分。水煎服。</p>
<p>擇秘錄中論此方補氣，黃耆、白朮補水，熟地、山茱萸去濕，茯苓去風，防風引經，附子、麥冬以生腎水之母，自然金旺生水，又何痛之，既不痛何患背之不直哉。然此方不能奏功於旦夕，必須多服久服乃效。</p>
<p>兩腿痠痛乃濕氣入於骨中，皮外無濕也。此病不只骨內，或被褥得之亦有。方用：苡仁二兩芡實一兩　茯苓三錢　肉桂一錢　牛膝二錢　萆薢一錢。水煎服。</p>
<p>鍾大仙論，秘錄中此方妙在苡仁入骨而去水，芡實健脾去濕，牛膝、萆薢最利雙足之品，肉桂引經直入於骨中，濕有不去，痠痛不止耳。必須多服方效。</p>
<p>胬肉攀睛眼病，失治而生肉，人不知避忌，將眼皮反轉以取涼快，誰知風中之，則眼毛倒生而攀睛。此等病最忌刀，則不可內治矣。服藥至三五月方能奏效。方用：甘菊花十兩（家園自種者妙）　白芍一斤　當歸半斤　柴胡四兩　丹皮三兩　葳蕤一斤　同州蒺藜一斤　草決明四兩　茯苓十兩　麥冬十兩　天門冬十兩　枸杞子一斤。為末，蜜為丸。每日空心服一兩。一料少愈，二料全可。最忌房事，能忌欲者，一劑可痊愈也。</p>

<h2>治痙痿二症方</h2>
<p>呂祖擇論，痙病乃寒濕之氣集雙足之間，骨中寒痛不可止，亦終歲經年不能身離床褥，傴僂之狀可掬，其故何也？蓋諸痙盡皆水濕也。水氣久不出，則一身關節無非水氣之彌空，土無權矣，又何以分消水勢，而利道哉。然則只治其水，而濕氣可以盡去，乃治水，亦終歲經年仍然不驗者，為何？徒治水而不治土也。方用：白朮五錢　苡仁二兩　芡實三錢　茯苓一兩　肉桂一錢　牛膝一錢　萆薢一兩　杜仲三錢。水煎服。此方之妙，利其水濕之氣又不耗其真陰。日日吞服不必改方，服之三月必然步履如初矣。</p>
<p>果老大仙曰：是。吾亦擇一方：白朮四兩　苡仁八兩　山藥八兩　車前子三兩　牛膝三兩　生黃耆十兩　肉桂一兩　杜仲四兩。蜜為丸，每日飯前送下。</p>
<p>又治痿症方：元參一兩　甘菊花五錢　麥冬一兩　熟地二兩　牛膝五錢　天門冬三錢。水煎服。</p>
<p>昴日星君曰：此方與呂仙擇同，意俱妙。</p>

<h2>論病日重併發寒熱方</h2>
<p>華真人擇，治發寒熱較夜尤重，此等症必須從天未明而先截之。方用：柴胡三錢　當歸三錢黃耆五錢　人參一錢　陳皮一錢　半夏一錢　青皮一錢　枳殼一錢　白朮五錢　甘草一錢乾薑五分。水煎服。</p>
<p>故擇此方者，妙在加柴胡一錢，參、耆、歸、術之中。蓋邪之感在日間作祟者，欺正氣之衰也。今用去邪之品同補正之藥共相攻邪，正氣有餘邪自退舍。譬賊人白晝入室，欺主人軟弱，故無忌憚，主人退縮潛形，賊勢更張，必大恣剽掠而去。正氣日消，安能愈也。妙在補正為君，主人無懼，號召家人爭先捍禦，賊人膽落，自然去之速也。此方用於日間實有妙用也。昴日星君曰：妙絕。余尚擇一方尤易奏功。方用：人參一錢　白朮五錢　甘草一錢　陳皮一錢　柴胡二錢　熟地一兩　白芥子一錢。水煎服。前方乃治陽虛之症，余方兼治陰之症。二方彼此參用，何愁日間之病棘手哉。</p>
<p>呂祖曰：日間發熱乃邪在於陽分也，補陽氣而邪自敗。方用：人參二錢　甘草一錢　白朮五錢　當歸三錢　陳皮一錢　柴胡二錢。水煎服。有痰加半夏一錢，有食加山楂一錢。方名助正湯，助其正氣邪自散也。</p>

<h2>論病夜重於日間方</h2>
<p>果老大仙擇，日重者已暢言之也。病重於夜者，至夜發熱，或寒少而熱多，或熱少而寒多，一到天明便覺精爽，一到黃昏便覺沉困，此陰氣虛，故行陽分則病減，行陰分則重也。方用：熟地一兩　山茱萸四錢　當歸三錢　鱉甲五錢　柴胡三錢　白芥子三錢　陳皮一錢　生何首烏三錢　茯苓五錢　北五味一錢　麥冬三錢。水煎服。</p>
<p>鍾大仙曰，此方妙在鱉甲、柴胡並用，又以諸補陰之藥合而功之也。鱉甲至陰之物，逢陰則入，遇陽則轉，二位治陰經之邪熱，況又於純陰同隊之中，去陰邪迅散於頃刻之間也。生何首烏直入陰經攻邪，白芥子去臟膈之滯痰，又不耗真氣，有不奏功如響者乎。此等症必須在黃昏之前即將此藥先服，則陰氣固而邪不敢入也。</p>

<h2>論陰經帶陽經方</h2>
<p>華真人擇曰：真奇絕之論，何從而贊助高深，惟有陰經之邪盛，而又有帶陽經之邪尚未發明也。再一論之，陰邪之盛必發夜間無疑，然亦有陰邪而帶陽邪亦發於夜間，其病亦發寒發熱，無異純陰邪氣之症，但少少煩躁耳，不比陰症之常靜也。法當於補陰之中少雜陽經之藥，使陰長陽消，自然奏功如響。方用：熟地一兩　山茱萸四錢　當歸三錢　鱉甲五錢　柴胡三錢白芥子三錢　陳皮一錢　生何首烏三錢　茯苓五錢　北五味一錢　麥冬三錢。此前方也。予再加人參一錢、白朮三錢而已。</p>
<p>鍾大仙曰：甚妙。</p>

<h2>論五臟受病法惟三</h2>
<p>呂祖擇，如五臟有病，治法補三，脾肺、腎肝、心腎同一治也。肺氣之傷必須補脾，補脾必須補肺。如人咳嗽不已，吐瀉不已，此肺脾之傷。人以為咳嗽宜治肺，吐瀉宜治脾，殊不知咳嗽由於脾氣之衰，吐瀉由於肺氣之衰，肺氣無清肅之下行，始上嘔而下瀉，脾氣之令不行，則上為咳嗽也。方用：人參一錢　麥冬三錢　茯苓三錢　柴胡一錢　神麯五分　車前子一錢　甘草一錢　苡仁五錢。水煎服。此方乃治脾肺之藥合而用之也。咳嗽喘病之盡除，吐嘔瀉症之各去，所謂一方兩用也。</p>
<p>腎肝同治。腎水不能滋肝，肝木抑鬱而不舒，必有兩脅飽悶之症。肝不能生腎中之火，腎水自寒，必有腰脊難於俯仰之症。必須肝腎雙補為妙。方用：熟地一兩　山茱萸五錢　當歸五錢　白芍五錢　柴胡二錢　肉桂一錢。水煎服。今補肝藥品反多於補腎者，腎為肝之母，肝又為命門之母，命門乃一身主宰，當生五臟之氣，而五臟疊為生克肝木，豈木獨不可以生命門之火乎。此有至理存焉，非吾輩安能闡發細底也。</p>
<p>再心腎治法，二臟合而治之其義何居。心，火臟也。心腎二經為仇敵，似乎不宜牽連而一治之，不知心腎雖相剋，其實相須，無心之火則成死灰，無腎之水則成冰炭，心得腎水以滋養，腎得心火而溫暖。如人驚惕不安，夢遺精泄，豈非心腎不交乎。方用：人參一兩五錢　白朮二兩五錢　遠志五錢　炒棗仁一兩五錢　熟地二兩五錢　山茱萸一兩五錢　麥冬一兩五錢　北五味五錢　芡實二兩五錢　山藥一兩五錢　菖蒲五錢　柏子仁一兩五錢（去油淨）　茯神一兩五錢　砂仁一錢五分　橘紅五錢。蜜為丸，白滾水送下五錢。此丸之妙，治腎之藥少於治心，心君寧靜，腎氣自安，何至心動。治心，正所以治腎；治腎，正所以治心也。</p>
<p>華真人曰：治臟之法盡於三方，無可再議。但肺忽感風寒而鼻塞出嚏，咳嗽不已，吐痰如敗絮，乃肺經獨病也，不必兼治於脾，予擇一方：用甘草一錢　桔梗三錢　半夏一錢　射干一錢。水煎服。</p>
<p>今予擇此方者，全妙在桔梗升提引去痰之品，上行於肺，以散風寒之邪，邪散則鼻塞頓除，痰亦隨之而散也。然只可治風寒外感，不可治內傷諸症。有此妙方，與肺脾同治之可耳。</p>

<h2>論肺熱移於大腸治法</h2>
<p>《石室秘錄》中脾虛熏肺之症，方用燥脾利濕，如肺熱移於大腸者，又宜清肺潤燥法治之，不可以泄瀉而戒用潤劑也。</p>

<h2>論變症治法</h2>
<p>華真人擇，論變症不同，用藥各異。如傷寒變為結胸，瘧疾變為下痢，中風變為發狂，中暑變為亡陽反胃而成噎嗝。若不以變法治之，仍以平常藥餌相治，吾見其坐斃而已矣。然則結胸之症乃傷寒之變也，傷寒火邪正盛，原不宜與飲食，胃中得食，不啻如室各群起而爭，其猖狂非杯水可救，必當以變法治之。急須用栝蔞一枚槌碎，入甘草一錢，同煎服之。夫栝蔞陷胸之勝，今病人服之，不畏其虛乎，誰知無病人不可吃，結胸之症必得栝蔞始能陷之入於脾中，恐其過於下也，少加甘草留之，不至十分推蕩，此變症而用變法也。</p>
<p>瘧疾變為下痢，輕變為重，欲發汗則身已亡陽，欲祛邪則已變物，顧上則慮下，顧下則礙上，以常法治之奏功實少。今用：人參五錢　鱉甲五錢　白朮一兩五錢　茯苓五錢　當歸五錢白芍一兩五錢　柴胡五分　枳殼五分　檳榔五分。水煎服。此方用參、術，瘧病亡陽則下多亡陰，勢必立亡。急補其陽則陰亦長，始有生機。用白芍、當歸之多滋潤其腸中之陰。今用補陰之劑，則陰生陽降，分消水道，汙穢全無。方中又加檳榔去積，柴胡舒肝，內氣既生，外邪自散，此治下痢而瘧病同除，此種治法，何可不知。</p>
<p>中風危症況變為發狂，死在眉睫，不以變法救之何以得免。方用：人參一兩五錢　菖蒲一錢五分　半夏一錢五分　南星一錢五分　生附子七分　丹砂末一錢五分。先將參、附子等項煎湯入丹砂末灌之，十人中亦可救三四。天下無真中風之人，不過中氣、中痰、中濕而已。若不用參、附大劑煎飲，何能返已去之元陽，回將絕之心氣哉。妙在半夏、南星以祛痰，菖蒲引入心經，使附子等得施其蕩邪之功，丹砂鎮定心氣，返危為安。仍用常藥二陳之類以消痰，痰未消而心氣已絕，此變症而法變者也。</p>
<p>中暑原熱症，亦由於氣虛。氣實形壯者多難中暑。中暑宜補為先，解暑為次，人以為熱也，治熱為急，治本為末。香薷飲治之不效，又改白虎湯，不效，乃用發散之劑，雜然並進，則火邪乘熱氣外走，盡趨皮膚而出不可止，以變為亡之症者多矣。當用：人參一兩五錢　元參三兩　甘草一錢　五味一錢　生地三兩，救之。此方全在人參以補元氣，元參、生地以涼血，五味收斂肺氣，不止汗而汗止矣。若以四君子湯平常治之，一杯水何能止車薪之發焰哉。</p>
<p>反胃初起，未嘗非胃病，以逍遙散加黃連一錢立止。無知世醫不知治法，乃用香砂、厚朴、枳殼之類投之，不應，又改用大黃之類，又不應，改用黃柏、芩、梔、知母大涼之品，不應，乃改桂枝、白果、肉桂、附、薑、茱萸之類，以熱之，又不應，乃始用柴胡、荊芥、防風、蘇子之類以散之，遂成噎嗝之症矣。吾甚憐之，今立一方：熟地一兩　山茱萸四錢　麥冬三錢　北五味一錢　元參一錢　當歸三錢　白芥子一錢　牛膝二錢。水煎服。此方全不治胃，正所以治反胃也。人之反胃，腎中陰水絕也，水不足則大腸細小，無水以潤之，故腸細而干，則飲食入胃而難下行，必反而上吐，治不宜治上，而治下可也。用熟地、山茱萸之類，純補腎中水也，水足而大腸相資，腸仍復寬轉，可以容物，可以順行，又何懼飲食不能下行哉。此腎水不足以潤大腸者，宜如是治。若腎中寒涼，另法治之。</p>
<p>翻胃之名雖同，翻胃之實各異。腎中無水而翻胃者，食下喉即吐；腎中無火而翻胃者，食久而始吐也，如今日食之，明日始吐出者是也。方用：熟地一兩　附子一錢　肉桂一錢　山茱萸四錢　麥冬五錢　北五味一錢　茯苓二錢　山藥二錢　丹皮一錢　澤瀉一錢　牛膝一錢。水煎服。此方八味丸湯也。妙在用附、桂補水中之火，脾胃之氣必得命門之火始生。譬如釜下無火，何以煮爨，水冷金寒，結成冰凍，必得一陽，初復之氣始解陽和，人之脾胃亦然。然而寒症，該腹心疼痛，今反此症乃上越而吐者何也？脾胃有出路，則寒邪之氣不留於中，今日日上吐，將胃口咽門已成大道，熟經往來無所阻滯，則徑情趨奔，其勢甚便，又何必積蓄於中州，盤踞於心腹，顛寒作熱，以苦脾胃哉。此心腹之所以不痛也。又不治反胃，此正所以治反胃也。</p>
<p>昴日星君曰：說得暢，我不能言，反胃用逍遙散加黃連，此必食入即吐之症。如朝食暮吐者乃命門無火，當用八味湯矣。</p>

<h2>論病初起治法</h2>
<p>呂祖擇，論凡人初病，藥易奏功。無如人看不清，用藥錯亂，變症蜂起，苟認得清用藥當，有何不即愈也。如傷風之症，必然頭痛身痛，咳嗽痰多，其脈必浮，此傷風也。方用：防風一錢　荊芥一錢　柴胡一錢　甘草一錢　黃芩一錢　半夏一錢。水煎服。一劑愈矣。</p>
<p>傷寒之初起也，鼻塞目痛，項強頭痛，切其脈必浮緊，此傷寒也。方用：桂枝一錢　甘草一錢　陳皮一錢　乾葛一錢。水煎服。一劑而愈。</p>
<p>傷食之症，心中飽悶，見食則惡，食之轉痛，此傷食也。方用：白朮一錢　茯苓一錢　枳殼一錢　山楂二十粒　麥芽二錢　穀芽二錢　神麯五分　半夏一錢　甘草五分　砂仁三粒。水煎服。一劑快，二劑即愈。初治之法，人易知之，不能知，即知而不肯用醫者，無輕易此初治之方也。</p>

<h2>論傷暑傷濕燥症火症方</h2>
<p>藍大仙曰：此三方而初起之症定之矣。今余又擇此初病傷暑，必然頭暈口渴惡熱，甚則身熱痰多氣喘是也。方用：青蒿一兩　香薷三錢　白朮五錢　陳皮一錢　甘草一錢　茯苓二錢　有參加一錢　無亦可。一劑即愈。</p>
<p>傷濕初起之時，必然惡濕，身重足腫，小便短赤。方用：白朮三錢　澤瀉三錢　豬苓三錢　肉桂五分　茯苓五錢　柴胡一錢　車前子一錢　半夏一錢。水煎服。一劑立愈，二劑脫然。</p>
<p>燥病初起，咽乾口燥，嗽不已，痰能吐，面目紅色，不畏風吹者是也。方用：麥冬五錢　桔梗三錢　甘草一錢　天花粉一錢　陳皮三分　元參五錢　百部八分。水煎服。一劑燥止，三劑痊愈也。</p>
<p>火症初起，必大渴引飲，身有癍點，或身熱如焚，或發狂亂語，方急用：石膏三錢　元參一兩　麥冬三兩　甘草三錢　升麻三錢　知母三錢　半夏三錢　竹葉百片。一劑少可，三劑痊愈，不可服四劑也。若火勢少衰，減半與之可也，倘疑升麻太多，而少減之則不能奏功也，予又戒世人不知用升麻者。</p>
<p>昴日星君曰：妙甚。暑症未有不兼濕者，故方中多用朮、苓，善。</p>

<h2>論病好後調理三方</h2>
<p>鍾大仙曰：病已愈為善後之計，吾亦擇數方何如。傷寒邪已盡退，正氣自虛，理宜補正，恐胃強脾弱，多食補劑，恐能食不能化也。法當補胃之藥少，補脾之藥多，補脾之藥多，補腎之藥少，腎能生土，土自能旺而生金，金旺則木有所畏，不來剋土，補腎正所以補脾也。方用：熟地一兩　麥冬三錢　五味五分　白芍三錢　肉桂三分　白朮三錢　苡仁三錢　白芥子一錢。水煎服。此方補腎脾二經，而各臟無不治也。</p>
<p>中暑傷氣而調理之法，不可治氣，宜補血為主，但陽傷陰血亦耗也。方用：當歸一兩　白芍三錢　川芎一錢　熟地一兩　五味一錢　麥冬三錢。水煎服。此方即四物湯也。妙在全是陰經之藥，又兼麥冬、五味以養肺，肺旺可以制木，而安於無事也。</p>
<p>中風亦氣虛也，此只宜補氣，不可補血也。因血滯而後中風，再補以增氣滯也。方用：人參二錢　茯苓三錢　苡仁三錢　半夏一錢　神麯五分　白朮五錢　甘草一錢　肉桂一錢　陳皮五分。水煎服。此補胃氣生肺金，補命門以生土，又何畏風木之旺。此三方皆善後至妙者，可以為終始之法耳。</p>
<p>葛真人曰：妙極矣。予擇此方當亦補之，中濕之後水已瀉盡，法當健脾兼補命門之火，以生脾土。方用：白朮五錢　茯苓三錢　肉桂三分　白芍三錢　苡仁五錢　白芥子一錢。水煎服。</p>
<p>火症既已散盡，不可一味瀉火，恐胃氣受傷。方用：熟地一兩　元參五錢　麥冬一兩　牛膝一錢　白芍三錢。水煎服。燥病既除，補腎水，水足則肺金有養。方用六味湯加麥冬、五味治之可也。</p>

<h2>一方可治二症方</h2>
<p>董大仙曰：以上諸方各盡其妙，吾不能言之也。余亦擇一論，如四物可治吐血，又可治下血；逍遙散可治木鬱，又可治數郁；六君子湯可治飲食之傷，又可治痰氣之積。然方雖同，用之輕重不一，加減有殊，未可執之。以治一病又即以治彼耳。如吐血宜加麥冬、甘草；便血宜加地榆、黃芩；木鬱加丹皮、梔子；火鬱加黃連；金鬱加黃芩、蘇葉；土鬱加石膏、知母；水鬱加豬苓、澤瀉之類是也。傷肉食宜加山楂，米食加麥芽、枳殼，麵食加蘿蔔子之類，於六君子湯同治之法可不審乎。</p>
<p>何大仙曰：秘錄中不只三方，再擇之。歸脾湯可治鬱怒傷肝，又可治心虛不寐；小柴胡湯可治傷風初起，又可和傷寒已壞之病；參蘇飲可治風邪之侵，又可治氣鬱之悶；補中益氣湯可升提陽氣，又可補益脾陰兼消食於初傷，祛邪於變後，瘧症藉之以散邪，瀉症資之以固脫；四君子湯可以補氣之不足，又可以瀉火之有餘。諸如此類不可枚舉，亦在人善悟之耳。</p>

<h2>人久坐必使行動然後用藥法</h2>
<p>呂祖擇，如人久坐，則血滯筯疏，久臥則肉痿而骨縮，必使之行走於途中，而後以藥繼之也。</p>
<p>方用：當歸一兩　白芍三錢　黃耆一兩　甘草一錢　陳皮五分　防風五分　半夏一錢。水煎服。此方原是補血湯而變之者也。久坐臥之人，其血甚滯，若在補血，血有餘而氣不足，未免血勝於氣，宜即補氣，今仍補血者何也？蓋氣之能生，必本血之能養，奔走之際而後以補血之藥繼之，使氣喘則更不足，以補血之藥加之，則血喜氣之怯，轉憐其匱乏，損已之有餘，以益氣之不足，則血氣和平，而滯者不滯，痿者不痿。</p>
<p>果老大仙曰：此方妙絕。</p>

<h2>論過勞當逸服藥法</h2>
<p>華真人擇，如人之過勞當勸其安閒，而後以藥治之。太勞則脈甚浮大不倫，按之無力，若不勸其安閒作息，必有吐血損症之侵。或習靜於房間，或養閒於書史琴玩，或偷娛於笙歌，隨地皆可言歡，而生人無非樂境。方用：人參三兩　白朮五兩　茯苓三兩　熟地五兩　山茱萸四兩　砂仁五錢　當歸八兩　白芍五兩　黃耆五兩　麥冬三兩　北五味三兩　陳皮五錢　神麯一兩。蜜為丸，每早晚服各五錢。此方乃補精、補氣、補血之妙品也。可以久服，不致有偏勝之禍也。幸為留意。</p>
<p>果老大仙曰：方劑有法。</p>
<p>昴日星君曰：勞逸得宜，予擇二方，一治氣之勞，一治血之勞。</p>
<p>勞氣方：人參三兩　黃耆三兩　茯苓四兩　白朮八兩　白芍三兩　陳皮一兩　炙甘草八錢　麥冬三兩　北五味一兩　遠志一兩　白芥子一兩。蜜為丸，早服五錢。人有傷氣右脈大者宜服此。</p>
<p>左手脈大於右手者，乃傷血也。另立一方：熟地八兩　白芍八兩　當歸四兩　山茱萸四兩　麥冬三兩　五味子一兩　遠志一兩　生棗仁一兩　茯神三兩　砂仁五錢　白芥子一兩　橘紅三錢　肉桂五錢。蜜為丸，晚服，每服一兩。此方專治血之不足也。身夜熱者加地骨五錢，去肉桂。無血人服之，實有奇功，可並載之，以供世人之採擇。</p>

<h2>治病厥當立飲法</h2>
<p>李鐵柺大仙擇，論人病厥多兩手反張，兩足轉逆，必須立而服藥，</p>
<p>不可不知也。此病原是熱症，熱深則厥亦深，倘令其臥而服藥，藥到胃一遇火氣沸騰衝擊，而不相入，反致吐出者比比也。我今立一法，立而服藥，則斷無吐出之虞。方用：黃連三錢　柴胡一錢　茯苓三錢　白芍三錢　白芥子一錢　木瓜一錢　甘草一錢。水煎服。此方純是平肝之品，而又順火之性，自宜入口不吐，令人將病人抱而立之，令一人將藥與飲，俟其下口久之，然後令臥，藥性順，而無吐逆之苦矣。</p>
<p>尚有腰疼之症，亦宜立而飲。蓋腰屬腎，腎虛而後腰痛，痛久則腎宮益虛。總有補腎之藥，不肯直入腎宮，必須扶住身子然後服藥，始能直入腎經。方用：熟地一兩　山茱萸四錢　北五味一錢　麥冬二錢　白朮一兩　杜仲五錢。酒煎服。此雖妙，非立飲不能直入腎宮，皆立飲之妙也。</p>
<p>呂祖曰：立飲之症無多，只此二症不再選。</p>

<h2>治目痛方</h2>
<p>曹大仙擇，論目痛肝經之病，宜治肝矣！亦不治肝。方用：黃連一錢　花椒七粒　明礬三分　荊芥五分　生薑一片。水煎半碗，乘熱洗之，日洗七次，明日即愈，此治火眼之法。</p>
<p>若虛火之眼，又不如是。方用：人乳半盅　生地二錢　葳蕤仁五分（去殼取一分研碎）　明礬半分。水半盅，同人乳煎藥取汁少許洗之，明日即愈。虛火之眼，紅而不痛、不澀，無淚無眵是也。火眼紅腫如桃，淚出不止，痠痛羞明多眵是也。</p>
<p>紅鸞侍者曰：予亦有治眼痛方。方用：柴胡、防風各二分　黃連三分　花椒三粒　明礬一分。水半盅，飯鍋內蒸，洗眼如神，一日洗三次，二日即愈。</p>
<p>何大仙曰：余擇一方最妙：人乳一合　黃連三分　大棗一個　人參三分。水半盅，同煎二沸即取起，洗眼。無論虛實火眼奇妙，每日洗七次，三日即愈。不論何眼病全治，無不愈耳。</p>

<h2>治兩脅背手足生瘡毒方</h2>
<p>華真人曰：如人胸前、乳上、兩脅、兩背、兩手生瘡是也。統治中焦部位之瘡，無不神效。方用：金銀花一兩　元參一兩　生甘草五錢　白礬二錢　當歸一兩　白芍一兩（炒）　梔子三錢　荊芥三錢　連翹二錢　白芥子二錢。水煎服。二劑全消，破潰者四劑愈。如陰瘡，方中去梔子加肉桂一錢。此方統治中焦諸瘡俱效。妙在用散邪敗毒之品於補藥之內，轉足以消毒去火也。</p>
<p>劉仙曰：真人擇選統治瘡之方妙甚。余擇一方：用生甘草一兩　當歸一兩　蒲公英一兩　黃芩一錢　金銀花二兩　乳香一錢（為末）。先將前藥用水五碗，煎一碗，將乳香末調飲之，神效。一身上下均可治之也。</p>

<h2>治諸瘡方</h2>
<p>柳仙曰：予亦擇一方，統治諸瘡。方用：天花粉三錢　生甘草一兩　金銀花一兩　蒲公英五錢。水煎服。一劑輕，二劑痊愈。此方消毒實有奇功，即癰疽亦可統治之也。</p>
<p>華真人曰：予同意無可語。</p>

<h2>治騎馬囊癰等症方</h2>
<p>呂祖擇，囊癰、騎馬癰等最難治。此皆少年人不保重，或串花街柳巷，或貪倚翠偎紅，忍精而戰，耐飢而守，皆足以生此惡毒也。方用：金銀花四兩　蒲公英二兩　人參一兩　當歸一兩生甘草一兩　大黃五錢　天花粉二錢。水煎服。一劑即消，二劑痊愈。潰者三劑愈。此毒乃乘虛而入，必大補其血而佐以逐邪之品，則病去知矢也。</p>

<h2>治鶴膝風多骨疽足疽方</h2>
<p>鶴膝風法此，因濕而戰立而行房，水氣襲之故成此疾。方用：黃耆八兩　肉桂三錢　苡仁四兩　茯苓二兩　白朮二兩　防風五錢。水十餘碗，煎二碗，分作二服，上午一服，臨睡一服。服後被蓋之必出大汗，不可輕去其被，令汗自干則愈。一劑可也。此方妙在黃耆補氣，肉桂通氣，防風散邪，白朮、苡仁去濕。邪氣去正氣自固，此功之所以速成也。</p>
<p>多骨疽乃生於大腿之中，多生一骨者是，乃濕熱而生也，治得法則易，否則變生可畏。方用：當歸一兩　金銀花一兩　白芍一兩　柴胡一錢　茵陳三錢　龍膽草三錢　白朮三錢　生甘草三錢。水煎服即愈。苟或失治，即長一骨橫插於皮間作痛，必須取出此骨始愈，以鐵夾鉏出之，外用前生肌散膏藥貼之，兩個即愈。此方妙在白芍散肝木之邪，邪去則箸舒，似骨非骨者盡化。又金銀花去毒，此二味所以相濟也。</p>
<p>足疽亦濕熱也。方用：金銀花一兩　蒲公英一兩　生甘草三錢　當歸一兩　苡仁二兩。水煎服。一劑即愈。妙在金銀花去毒，苡仁去濕而利關節之氣，助之甘草，邪易散而濕易退也。當歸補血，血足而病速效也。</p>

<h2>治腳脛生爛瘡腿癰方</h2>
<p>腳脛生爛瘡亦濕熱也。往往兩腿腐爛，臭氣難聞，先以蔥湯洗之，後以白蠟一兩　黃丹二兩韭菜地內蚯蚓糞二兩（炒乾一兩五錢）　冰片五分　朝腦三錢　麝香五分　血竭五錢　鉛粉一兩（炒）　松香三錢　乳香（去油）三錢　沒藥三錢　銅綠二分　輕粉一錢　兒茶三錢。各細面，乘蔥湯洗濕之時，滲在瘡口之上，必然癢不可當，但不可用手抓其癢，少頃，必流黃水如金汁者數碗。再用蔥湯洗之，又滲又洗，如是者三四次，則水漸少而痛止矣。明日用前膏藥以原皮攤貼，仍入藥末加入二錢貼之，任其水出。倘癢之極，外以鶴翎掃之即不癢。貼二膏即止水，痊愈。</p>
<p>腿癰即照多骨治法，不再立方。</p>
<p>腳脛爛方，內服湯藥。方用：金銀花一兩　薏仁二兩　茯苓一兩　生甘草五錢　牛膝五錢　萆薢五錢　半夏五錢　肉桂五分。水煎服。自貼膏藥，服二劑即愈。此方妙在薏仁為君，金銀花、萆薢為臣，茯苓為佐，薏仁去足之濕，茯苓能分消濕氣，甘草、金銀花能解鬱熱之毒，萆薢又善走足，牛膝助其筋力，濕爛之瘡有不去之乎。</p>
<p>藍大仙曰：最妙。下治之法盡之矣。余今也擇一方，多骨之生，雖由於濕熱而成之，不由於濕熱也，人喜飲涼水，好食果品而成之。方起時，方用：大黃一兩　芙蓉葉（曬乾為末）一兩麝香三分　冰片三分　五倍子一兩　藤黃三錢　生礬三錢。各為面，米醋調成厚糊一樣，塗於疽上之左右四周，以藥圍其皮肉，中留一頭如豆大，以醋用鶴翎不時掃之。若不掃，任其干則無益也。一日夜即內消。不拘癰疽發背等，亦以此敷之，無不神效。</p>
<p>韓大仙曰：吾亦擇治多骨之方，內消之法，最奇效。大凡毒至於環跳之間者，即骨疽也。方用：人參三錢　大黃五錢　蒲公英一兩　金銀花二兩　天花粉三錢　薏仁三兩。先用水六碗煎薏仁，取湯三碗煎前藥，三碗分作二次服，二日服二劑即消，神方也。若已潰，用前方可也。</p>
<p>華真人曰：鶴膝風，古方多用大防風湯，內氣血並用，以病在下焦陰分故也。此除去血藥，想用於初起之時，如病久，古方亦不可廢。</p>

<h2>治人忽然僕跌方</h2>
<p>曹大仙擇，如人忽然撲跌為災，此非內外之症也。又一門也。方用：當歸五錢　大黃二錢　生地三錢　赤芍三錢　桃仁一錢　紅花一錢　丹皮一錢　敗龜板一錢。水一碗，酒一碗，煎服。方中最妙歸、芍和其血，大黃、桃仁逐其瘀，生地、紅花動其滯，一劑可痊愈也。或為大黃可畏，不用不能消去其瘀、大下脾中之物，雖有前藥亦用之不當也。</p>
<p>倘跌傷手足斷折，急以杉板夾住手足，不可顧病人之痛，急扶正之，再用藥服之可也。方用：羊躑躅三錢（炒黃）　大黃三錢　當歸三錢　芍藥三錢　丹皮二錢　生地五錢　土狗十個（槌碎）　土蝨三十個（搗爛）　紅花三錢　自然銅末。先將前藥酒煎，然後入自然銅末調服一錢，連湯吞之，一夜生合，神奇之甚，不同世上折傷方也。不必再服，只服二劑可也。躑躅最能入心，去其敗血，引諸活血之藥，則惡血必從下行，而生新血，必群入於折傷之處。況大黃不特去瘀血，亦能逐瘀血而活各經之血，必能補缺。土蝨、土狗均接骨之聖藥，即缺而不全，有自然銅竟走空缺而補之，所以奏功之速耳。跌破唇皮之類，以桑白皮作線縫之，後即上生肌散自合，真有神輸鬼運之巧，恐世人不信也。</p>
<p>呂祖曰：方至此神矣、聖矣、化矣，亦何能贊一言。我惟有前方煎藥內少為商酌者，第一方中再加生地三錢，枳殼五錢。生地乃折傷之聖藥，多多益善，少則力不全耳。此病未免瘀血奔心，有枳殼之利於中，則瘀血不能犯也。</p>
<p>果老大仙曰：無可言。</p>

<h2>治傷寒陽症諸方</h2>
<p>呂祖擇，陽症甚多，不能概舉，姑舉一二症大者言之。傷寒發斑，身熱心如火，口渴呼水，氣喘舌燥，揚手出身者是。或中暑熱之氣，大渴，飲水數桶不止，汗如雨下，大喊狂呼，日重夜輕是也。此皆燒焚於胃口，非大劑寒涼安能撲滅也。方用：元參三兩　升麻二錢　黃芩一兩　麥冬三兩　防風三錢　天花粉三錢　蘇葉一錢　青黛三錢　生甘草三錢　生地一兩　桑白皮五錢。一劑消大半，二劑痊愈。此方妙在元參去其浮游之火、胃中之熱，且性濕潤，斑雖火熱，不能外越，少潤即可出也。黃芩涼其胸膈，麻、防引散其火，更佐之麥冬、生地清肺熱，清肅下行而中焦之火盡化為烏有也。</p>
<p>至於中暑之病，亦陽火邪熾也。青蒿五錢　石膏五錢　麥冬五錢　半夏一錢　黃連一錢　人參二錢　甘草一錢　茯苓五錢　竹葉五十片。水煎服。此方妙在用青蒿去暑，再加香薷二錢則暑氣自化也。</p>
<p>華真人曰：妙論，出奇不窮。陽症固多，二症最急。呂仙特舉之，予再擇之一則，傷暑中之吐血也。人感傷暑氣，忽然吐血傾盆，人皆謂是陰虛，不知陰虛吐血與陽虛吐血不同。陰者人必安靜，不似陽虛燥動不寧，作渴飲涼水，舌必有刺，不似陰虛不渴，舌苔滑也。法當清胃火。方用：石膏三錢　青蒿五錢　香薷三錢　荊芥一錢　當歸三錢　人參二錢。水煎服。此方正陽症吐血之神劑也。去其香薷一味，乃通治諸陽症之吐血也。但此方只可用一二劑，即改用六味地黃湯，以滋其陰水，水足陽火自消耳。</p>
<p>一陽症之火，瀉也。完穀不化，飲食下喉即出。一日或瀉十餘次，或數十次數百次，人以為熱也，何故？生於腎中水衰不能制火，使胃土關門不守於上下，所以直進而直出也。似乎宜治其標，然不能使火之驟降，必須急補腎水，使火有可居之地也。方用：熟地二兩　山茱萸一兩　車前子一兩　甘草一兩　茯苓一兩　白芍三兩　肉桂三分。水煎服。</p>
<p>昴日星君曰：無一論不奇妙。</p>

<h2>治腎水虛寒兼感寒氣方</h2>
<p>呂祖擇，如腎水虛寒又感寒者，或腎水虧竭夜熱晝寒，此等若認作陽症治之，則口渴熱益熾，必致消盡陰水，吐痰如絮，咳嗽不已，聲啞聲嘶，變成癆瘵，法當峻補其陰水，陰水足而火自消也。方用：熟地一兩　山茱萸五錢　麥冬五錢　北五味五錢　元參三錢　地骨皮三錢丹皮一錢　沙參五錢　白芥子一錢　芡實五錢　車前子一錢　桑葉七片。水煎服。此乃治陰火自動者神效。若陰寒無火者，不宜用此，當用：肉桂一錢　附子一錢　熟地一兩　山茱萸四錢　白朮三錢　人參三錢　柴胡五分。水煎服。用附、桂祛寒，參、熟地補陰，使陽得陰而有制，不至奔越沸騰。加柴胡則陰邪自散，又何必用麻黃、桂枝之類，爍盡真陰哉。況腎中之火必得水而後生，乃真水也。邪水可以犯心而立死，真水可以救心而長延。蓋陽根於陰，真陰，腎水。實陽，君相之火之母也。此方中加熟地、山茱萸，正是此意，恐人不知，故表而出之。倘只用附、桂祛寒，未嘗不效，邪去而陰消必然枯渴，或治之不得必有亡陽之症，願人加意，水中補火更於水中去邪也。</p>
<p>葛真人曰：妙絕之論，發千古所未發，何以再贊高深。然尚有一方，參之前症乃陰虛火動也，用六味湯似亦相宜。後症乃陰寒無火也，八味湯似亦可用，然終不及呂仙擇方。蓋治陰之內留以治陽，而治陽之中即藏於補陰也。</p>

<h2>治強陽不倒痿陽疝病方</h2>
<p>鍾大仙擇，男子與女子殊者，疝病，強陽不倒，痿而不舉。然而與婦人異者，只狐疝不同耳，余俱相同。狐疝者，日間縮在囊之上，夜間垂在囊之下也。此乃寒濕又感陰陽不正之氣，乘於交感之際而成之也。方用：杜若五錢搗汁，以涼水浣之，取汁一碗，加沙參一兩　肉桂一錢　小茴香一錢　橘核一錢。水煎服。二劑即消，三劑痊愈也。</p>
<p>強陽不倒，虛火上炎，肺金之氣不能下行故也。若用黃柏、知母煎湯飲之，立時消散，倒後終歲經年不能重振亦苦也。方用：元參三兩　肉桂三分　麥冬三兩。水煎服即倒。此方全在元參，瀉腎中浮游之火尤妙，肉桂引其入宅而招散其沸越之火，麥冬又助肺金之氣，清肅下行以生腎水，水足火自泄也。不求倒而自倒矣，他日重整戈矛可也。</p>
<p>至於痿而不振者，乃過於琢削，日消其腎水，腎火亦消泄耳。方用：熟地一兩　山茱萸四錢遠志一錢　巴戟天一錢　肉蓯蓉一錢　肉桂二錢　人參三錢　枸杞子三錢　茯神二錢　杜仲一錢　白朮五錢。水煎服。一劑起，三劑強。妙。老人倍加。此方用熟藥於補水之中，則火起不愁炎燒之禍，此皆治男之法也。</p>
<p>韓大仙曰：余亦擇此方，可並傳之狐疝方：白朮五錢　沙參一兩　柴胡三錢　白芍三錢　王不留行三錢。水煎服，一劑即愈。</p>
<p>陽倒不舉方：熟地一斤　肉桂三兩　覆盆子三兩　黃耆二斤　巴戟六兩　柏子仁（去油）三兩　麥冬三兩　當歸六兩　白朮八兩。蜜為丸，每日白滾水送下一兩，自然陽壯不倒矣。</p>
<p>華真人擇，治疝方：用沙參一兩　橘核一兩　肉桂一錢　柴胡一錢　白芍五錢　陳皮五分　吳茱萸五分。水煎服。一劑定痛，二劑痊愈。疝氣一症，大約皆肝木之病，所以治其肝，自隨手而奏功也。</p>

<h2>治嘔吐痛瀉方</h2>
<p>果老大仙擇，熱症與寒症不同，舉一二言之。如嘔吐不已，食久而出者是也。或下利不已，五更時痛瀉四五次是也。此等症，人皆謂脾胃寒，治其胃，則嘔吐可止，治其脾則瀉泄可止，終歲經年服藥無效，何？不得治法耳。不補命門之火，心包寒甚，何以生胃而消其穀食脾氣；不補命門之火，則下焦虛冷，何以化其糟粕而生精微。方用：熟地三兩　山茱萸二兩　茯苓三兩　人參三兩　肉桂一兩　附子一兩　北五味一兩　吳茱萸五錢　山藥四兩。蜜為丸，飢服一兩。</p>
<p>藍大仙曰：此方之妙，全在用腎藥居多，胃藥居少。尤妙在用溫熱之品，補腎補土之中，則火足而土健、雖水足而火生也。此種議論，近來未聞，然豈徒託空言以示奇乎，實有至理存焉。請試之，無不奏效頃刻，願世人加意留神。一方可兼治之，如此等症，無不可充而兼治也。</p>
<p>曹大仙曰：真妙絕之論，快心之語。前言補腎之法，而余擇一論，乃言補心方也。胃脾雖同是屬土，而補胃補脾宜辨，凡人能食而食之不化者，乃胃不病而脾病也，當以補脾。而補，尤宜補腎中之火，腎火能生脾也。人不能食，食之而反安，乃胃病，不可補腎中之火，當補心中之火，心火能生胃土也。世人一見不能飲食者，動曰脾胃之病，不知分胃之虛寒責之心，分脾之虛寒而責之腎也。</p>
<p>果仙擇治心腎兼補，予可不必擇方，然而治脾胃兩虛者用之神效，若單胃虛胃寒者，自宜獨治心之妙。余更定一方，以輔佐前方之未及。方用：人參五錢　白朮二兩　茯神二兩　菖蒲三錢良薑三錢　蓮肉二兩　山藥三兩　半夏二錢　白芥子二錢　附子二錢　遠志一兩　炒棗仁五錢　白芍二兩。蜜為丸，白滾水送下三錢，飯後服。此方專補心火併疏肝氣，心火足自然生胃，胃土足而飲食自然能進而無害，此方實可濟前之未及也。</p>
<p>華真人曰：治法與余相同，無可言，妙極。</p>

<h2>治氣虛下陷方</h2>
<p>李鐵柺大仙擇，如氣虛下陷，因飢飽勞碌內傷正氣，以致氣乃下行，脾胃不能克化，飲食不能運轉，往往變成癆瘵。若疑飲食不進為是脾胃之病，或疑肉黍所傷，謂是水穀之積。輕則用砂仁、枳殼、山楂、麥芽之類，重則用大黃、芒硝、牽牛、巴豆之品，紛然雜進，必致膨悶不已，倘先以升提之藥治，何成此症。方用：人參一錢　黃耆三錢　柴胡一錢　升麻三分當歸三錢　陳皮一錢　甘草一錢　白朮三錢。治之。此方即補中益氣湯，余增減輕重以為刪定之。凡人右手寸脈大於左寸口之脈，無論其左右關脈與左右腎脈大與小、沉與浮，即以此方投之，無不神效。蓋石寸之脈大，即內傷之症也。此方實為對症。妙在用柴胡、升麻用於參、耆之中，提其至陽之氣，不使其下陷於陰分之間。尤妙加甘草、陳皮補中解紛，補者不至呆補，而升者不至偏墮，所以下口安然，奏功如響耳。或疑參、耆太多，不可竟去，則柴、麻無力，譬如細小繩索難提千斤重物，略減則可。若左寸口大於右寸口，始可借言，苟或不然，殺人無算，余最惡此等人，似是而非者也。</p>
<p>華真人擇，補中益氣湯從無言此痛快者，何幸得如是之褒揚哉，吾何言乎。惟是陽虛下陷者如是升提，陰虛而下陷者又當以何法提之。前方不言予當增入，譬如人陰虛脾泄歲久不止，食而不化或化而吐泄是也。方用：熟地五錢　山茱萸五錢　北五味一錢　白朮一兩　山藥三錢　車前子一錢　肉桂一錢　茯苓三錢　升麻三分。水煎服。此方純是補陰，升麻以提陰中之氣，氣升而瀉自止，又有溫熱之品以暖命門而健脾土，如何不愈哉。</p>

<h2>治胸腹疼痛方</h2>
<p>何大仙擇，人腹中痛，手按疼甚，或胸中傷食，皆宜墮之也，如何。方用：白朮二錢　枳殼三錢　白芍三錢　甘草一錢　山楂二十粒　麥芽三錢　厚朴一錢。水煎服。論理胸中傷食，但消導之品足矣，何又以加朮、芍。蓋傷食，食不能化，結在胸中以致痛。若徒消食不健胃之氣，土弱而難化物之速。故用術以健胃口之氣，以生其脾內之陰土，氣有餘食何難消哉。若肝經乘我之困，來侵脾胃之土，所以加白芍以平肝木，此墮治之妙法也。</p>
<p>至於氣挾食存於大腸，大腸內火氣炎蒸，夾食作祟，痛而不可手按，是食已離脾胃，可攻之直下。方用：大黃三錢　芒硝一錢　厚朴一錢　柴胡一錢　黃芩一錢　甘草一錢治之，此大承氣湯也。此方之妙在用大黃、芒硝。大黃性涼而散，走而不守，芒硝性更緊於大黃，但其味實熱，佐之黃芩相濟有功尤妙。柴胡舒肝，厚朴祛蕩，若邪甚者或再加枳殼，尤易成功，此墮又一法也。</p>
<p>許大仙曰：不可思議之論，予又擇《石室秘錄》中更有一症相商，有人成痞塊，一時發作而腹痛，亦不可手按者，亦可用下墮之法，蓋乘其邪動而墮之也。方用：枳實五錢　白朮一兩　馬糞（炒焦）二錢半。酒煎服。馬糞最能安痛又不傷氣，祛邪而化物，藥箱中最宜先備，而不用也。倉猝間不可即得此物，愈久愈妙，不必多用，五錢或一二錢無不奇妙，人不知之耳。</p>
<p>張大仙曰：吾擇一方，如人腹痛手不可按。方用：枳實一錢　大黃二錢　生甘草一錢　白芍五錢　乳香一錢。水煎服。此方攻於和解之中，不十分攻邪而邪自退舍，此墮治之一法也。</p>

<h2>治欲吐不吐並噴嚏方</h2>
<p>華真人擇，尚有二法未傳，一陰陽湯也。法用滾水、涼水各一碗，均之，加炒鹽一撮打百餘下，起泡飲之，凡有上焦欲吐不吐者，飲之立吐而愈。</p>
<p>一噴嚏之法未授也。用生半夏三錢為末，水丸如黃豆大，入鼻中必噴嚏不已，用飲之立止。通治中風不語屍厥等症，中惡中鬼俱妙，皆開治之法也。</p>

<h2>治關膈等症並夢遺脫精方</h2>
<p>關膈症上不得入，下不得出，病在上下二焦，而根實本於中焦。以黃連湯進退法兼朝服八味丸治之甚善，附記於末，以俟臨症者自擇可也。</p>
<p>我有夢遺方最妙。方用：白朮八兩　山藥八兩　人參二兩　生棗仁四兩　遠志一兩　麥冬四兩　芡實四兩（炒）　北五味一兩　車前子一兩。蜜為丸，每日白滾水送下五錢自愈。此乃補心腎之法也。</p>
<p>遇交感脫精，急以人參三兩煎湯灌之，故是奇妙。然貧家何以救之，我有法，用人抱起，以人之口氣呵其口，又恐不能入喉，以筆管通其兩頭，入病人喉中，使女子呵之，凡婦人皆可盡力呵之，雖死去者亦能生，妙也。</p>

<h2>治吐血神方</h2>
<p>昴日星君曰：不畏泄漏天地之奇也，予擇一吐血妙方傳世。方用：生地汁一碗（無鮮生地處用乾者一兩）煎湯半碗，調三七根面三錢、炮姜灰末五分，服一劑，止血神效。衄血亦可治也。</p>
<p>柳大仙曰：妙，簡便之甚。</p>

<h2>治虛寒久病方</h2>
<p>呂祖擇，如虛寒之人，不可日斷藥餌，參、苓、耆、術之類，日日煎飲，否則即昏眩怔忡是也。方用：人參一錢　白朮二錢　黃耆二錢　茯苓二錢　甘草五分　白芥子一錢　神麯五分肉桂一分　麥冬二錢　北五味三分　蘇子五分。水煎服。</p>
<p>心不寧加生棗仁一錢；不寐加熟棗仁一錢、遠志一錢；飽悶加白芍一錢；口渴加當歸二錢、熟地三錢；夢遺加芡實三錢、山藥三錢；飲食不開加麥芽一錢、山楂四五粒；有痰加半夏五分；咳嗽加桔梗一錢；有浮游之火加元參二錢；頭痛加蔓荊子七分或川芎一錢；有外感加柴胡一錢；鼻塞加蘇葉一錢；目痛加柴胡一錢；心微痛加梔子五分；脅痛加芍藥一錢；腹痛加肉桂三分可也。</p>
<p>華真人曰：甚妙。</p>

<h2>論人歌色脈息法</h2>
<p>葛真人選，凡治人必須看病人色澤之真偽，脈息之虛實，有神無神，問病人之喜好，飲食若何，有痰無痰，痰之色若何。再察病人舌之顏色若何，滑與不滑，能食不能食，心腹之間痛不痛，試觀其情意，詳審其從違，徐聽其聲音，再聞其氣息，病之症瞭然於心中，又何患不得哉。</p>

<h2>論辨真假虛實陰陽寒熱法</h2>
<p>呂祖擇，近日醫人不能知病之真假、症之虛實、陰陽寒熱，而妄治之也。信口雌黃全無見識，談人之短，炫自己之長。不識藥味之溫涼，動言可用，何知方法之大小，輒曰難投。視熟地、人參為冤家仇敵，珍黃柏、知母為親生。用寒涼之品全無畏忌之心，見單補之施頓作驚疑之色。喜攻喜散矜消導為神奇，怒抑怒揚薄通塞為怪誕。但明瀉火而不悟從治之妙，鄙茱萸為無用之材，僅曉益水而不曉變症之方，笑甘遂為可棄之物。消痰而不消痰之本，詫病難攻，瀉火而不瀉火之原，嘆方可廢。奇平之法，原未嘗熟究於胸中，正變之機，安能即悟於指下。無怪動手即錯，背謬如多，舉意全非，失亂不少，以致冤鬼夜號，願學者見失以求得，庶可改過以延祥，然則求延祥之法若何？見寒藥投之而拒格，改用濕熱之方；見熱藥投之而燥煩，當改用清涼之劑；見消導之而轉甚者，宜改溫補；見祛邪之而更加者，宜用平調；見利水而水益多者，補腎為先；見散邪而邪益盛者，助正為急。此皆補過之文，抑亦立功之術，臨症切須詳審，慎弗忽略。</p>

<h2>論因病人之意用藥法</h2>
<p>華真人曰：醫者，意也。因病人之意而用之，一法也；病症之意而用之，一法也；因時令之意而用之，一法也。因病人之意而用若何？如病人喜食寒，即以寒物投之，喜熱即以熱物投之也。隨病人之性而加以順性之方，則不違而得益，倘一違其性，未必聽信吾言而肯服吾藥也。所以古人有問蜻蜓、蝴蝶可食否，對曰可順其意耳。因病症之意而用之若何？如人見弓蛇之類於懷內，必解其疑；見鬼祟於庭邊，必破其惑是也。因時令之意若何？當春寒而生疫病，解散為先；夏令而生溫症，陰涼為急是也。因藥味之意而用若何？或象形而相制，或同氣而相求，或相反而成功，或相畏而作使。各有妙理，豈輕投此意，治之入神，人當精思而制方也。</p>
<p>昴日星君擇，通神之治不可思議，而測度之以人謀也。或剖腹以洗腸，或決竇以出鳥雀，此尤不經之奇，未足以取信也。惟是尋常之中，忽然鬥異，死亡之刻，頓爾全生。藥品是人之同施，功效實世之各別，非學究天人之妙理，通鬼神之元機，何能至此哉。</p>

<h2>論春夏秋冬導引法</h2>
<p>鍾大仙曰：春夏秋冬各有其令，得其時則無病，失其時則病生矣。有導引法欲傳世久矣，今擇其要者行之，法開於後。</p>
<p>先春養陽法：每日閉目冥心而坐，心註定腎中，咽津七口送下丹田，起立雙手自抱，兩脅微搖者三，如打恭狀，起立俟氣定再坐，如前法咽津七口送下丹田，永無風症之侵，一月行六次可也，多多益善。</p>
<p>先夏養陰法：每日閉目冥心而坐，心中註定於心，咽津十四口送下心中，永無暑氣之侵。先秋養陰法：每日閉目冥心而坐，心注肺中，咽津送下丹田者十二口，以雙手攀足心者三次，候氣定，再如前送下丹田者七口而後止，永無燥熱之病。</p>
<p>先冬養陽法：每日五更坐起，心中註定兩腎，口中候有津水送下丹田者三口，不必漱津，以手擦足心，火熱而後已。再送津三口至丹田，再睡，永無傷寒之症，而長生亦在其中矣。何大仙曰：妙方也，惜乎人不肯耳，行則不但卻病，更可長生，即婦人女子亦可行也。</p>

<h2>治膿窠瘡頑癬粉刺方</h2>
<p>董大仙擇，人生肌膚之病，從腠理而出，較皮毛略深，如人生膿窠瘡、粉刺、頑癬之類是也。然皆氣血不和，故蟲得而生焉，活其氣則病自愈。</p>
<p>膿窠瘡用：當歸三錢　生地三錢　熟地三錢　白芍三錢　麥冬三錢　天門冬三錢　川芎一錢茯苓三錢　甘草一錢　柴胡一錢　人參三錢　黃耆五錢　荊芥一錢　薏仁五錢。水煎服。先服四劑，瘡口必然作膿，臌脹，四劑後去柴胡加五味子五粒，又服四劑，則滿身之瘡如掃而愈矣。</p>
<p>粉刺之症，乃肺熱而風吹之，多成此症。雖無關人病，然美婦嬌女各生此病，亦欠丰姿。我留一方，為之添容，未為不可。方用：輕粉一錢　白芷一錢　白附子一錢　防風一錢。各為細面，蜜調為丸，於每日洗面時多擦數遍，臨睡之時，又重洗而擦之，不須三日自然消痕滅瘢矣。</p>
<p>惟有頑癬之方最難治理，然亦易收功。方用：楝樹皮一兩　白薇一兩　輕粉三錢　冰片一錢生甘草一錢　蝸牛三錢（火焙乾，有殼亦可用）　大黃根一兩。各為細末，先以荔枝殼扒碎其癬皮，而後以此藥末用麻油調搽之，三日即結靨而愈，皆治肌膚之法也。</p>

<h2>治凍瘡坐板瘡方</h2>
<p>紅鸞侍者曰：凍瘡乃人不能耐寒而肌膚凍死，忽遇火氣乃成凍瘡。耳上凍瘡，必人用手去溫之反成瘡也。方用：黃犬屎（露天久者變成白色）用炭火煅過，為末，再用陳石灰各等分，以麻油調敷之，雖成瘡而爛，敷上即止痛生肌也。若耳上面上雖凍不成瘡者，不必用此藥，只消荊芥煎湯洗之，三日可愈。</p>
<p>坐板瘡亦是肌膚之病。輕粉一錢　蘿蔔子三錢　冰片半分　杏仁（去皮尖）十四粒。研為末，以手擦之瘡口上，一日即愈，神效奇絕無以過也。</p>

<h2>治虛勞怔忡驚悸方</h2>
<p>許大仙擇，如人病虛勞，四肢無力，飲食少思，怔忡驚悸，失血之後，大汗之後，此等症不可用偏寒偏熱之藥，必須溫平之品，少少與之，漸移默奪，庶幾奏效。倘以偏師出奇，必有後患。方用：熟地五錢　白朮五錢　茯苓五錢　白芥子五分　山藥二錢　枸杞子一錢　當歸一錢　棗仁五分　麥冬一錢　神麯三分　芡實三錢。水煎服。去濕之藥俱多，健脾利氣生血養精，既無偏寒偏熱之虞，中和純正，久服之濕去，脾氣自行，血足則精神自長，此溫和之妙藥也。</p>
<p>張大仙曰：治法甚妙。余亦擇一方可存。熟地五錢　山藥一錢　茯苓一錢　甘草一錢　女貞子一錢　麥冬三錢　白芍三錢　當歸二錢　菟絲子一錢　棗仁一錢　遠志八分　陳皮三分　砂仁一粒　覆盆子一錢。水煎服。此方不涼不熱，補腎、肝、肺、脾、心之五臟，而無偏重之憂，可以溫治者，幸留意焉。</p>
<p>華真人曰：可並傳。</p>

<h2>治夏月思睡不足方</h2>
<p>劉仙擇，如人夏月無陰，到三伏之時，全無氣力，悠悠忽忽，惟思睡眠，一睡不足，再睡不足，懶於言語，或夢遺不已，或夜熱不休者，皆腎水泄於冬日，夏天陽勝陰無以敵，所以如此。必須即補其腎水，水足而髓充滿則骨始有力，而氣不下陷矣。方用：熟地一兩　山茱萸四錢　北五味一錢　麥冬三錢　白芍三錢　當歸二錢　白朮三錢　茯苓三錢　陳皮一錢　生棗仁二錢　芡實三錢。水煎服。妙在全是補陰，陰足骨不堅而堅也。</p>
<p>凡小兒女子十歲上下者，天癸未至，亦有患前症者，豈皆冬不藏精之故耶。小兒最不忌口，一見瓜果涼熱之物，盡意飽啖，久則胃氣弱矣，再則脾壞矣、腎氣寒矣，遂至腎水耗去，亦如冬不藏精之症，方又不可全用前方，當補胃脾腎三經為主。方用：當歸一錢　白朮一錢　茯苓一錢　熟地三錢　北五味五分　麥冬一錢　白芍二錢　陳皮三分　山楂三粒　枳殼二分　人參五分。水煎服。一劑立愈，不必再服也。小兒純陽，尤易奏功，不若大人之必須多服也。小兒最宜先服一二劑，再無注夏之病，留心兒科者當察之。</p>

<h2>治陽明各臟腑之火</h2>
<p>呂祖擇，如治陽明之火，則五臟之火，各腑之火，無難治矣。陽明，本胃土也，如何有火？此火乃生於心包，心包之火乃相火也，君火失權則心包欺之，以自逞其炎赫之勢，必以辛涼大寒之劑投之，恣其快意，然必須添入健胃之品，始可奏功。胃火之沸騰，終由於腎氣之不足，去胃火必須補胃土，然不去水濕之痰亦不得也。方用：石膏一兩（或二兩或三兩，看火勢之盛衰，用石膏之多寡）　知母三錢　麥冬五錢　甘草一錢　糯米一合　竹葉百片　人參三錢。水煎服。此參竹石膏湯也。胃火之盛非此不能平，還看其人必大飲水，其汗如雨者，始可放膽用之，否則不可。無汗而渴，亦有似此症者，不可不辨也。此純是降胃火之藥，所以急救先天腎水也，不急治恐熬干腎水，而不可救也。故不得已而用此霸道之藥也。</p>
<p>倘無汗而渴，明是腎有餘火，而腎水不足，用此恐傷其腎水乎！當用：熟地三兩　山茱萸二兩　北五味三錢　麥冬二兩　元參一兩。此方似白虎症，而非胃火之熱者，人更宜知之也。</p>
<p>其餘心火用黃連，肝火用梔子，肺火用黃芩，前悉之矣，藥不再贅。</p>

<h2>論肝經之火</h2>
<p>昴日星君曰：妙。不意此論闡發，如此大快也。然予亦擇一說，陽明之火，雖起於心包，實成於肝木之剋土也。肝木旺則水中有火，不特木來剋土，而轉來助焰。肝木之火，就是雷火，一發則震地轟天。陽明得心包之火而沸騰，又借肝木龍雷之火以震動，如何止遏，故輕則大渴，重則發狂也。予治此症，往往白芍加至數兩，未曾傳人，人所以不能發明之也。先用石膏湯以去火，加白芍以平肝木，木平而火無以助焰，自然胃火孤立無擾，又加麥冬以平肺金之氣，則金有水潤，不必取給於胃土，而胃可以自救，而熱之所以除也。方用：石膏一兩　知母三錢　麥冬一兩　半夏三錢　甘草一錢　竹葉一百片　糯米一合。先煎湯四碗，又加白芍二兩同煎。此方妙在白芍之平肝木，使木氣有養，不剋土，並不使木鬱生火。又妙在麥冬以清肺金之中有水，胃水雖炎且去制肝，無令其剋土也。</p>

<h2>論治各經之火</h2>
<p>果老大仙曰：予乃論各經之火併傳子。梔子三錢　白芍五錢　甘草一錢　丹皮三錢　元參三錢。水煎服。心火加黃連一錢；肺火加黃芩一錢；胃火加石膏三錢；腎火加知母、黃柏各一錢；大腸火加地榆一錢；小腸火加麥冬、天冬各三錢；膀胱火加澤瀉三錢。治火何以獨治肝經也？蓋肝屬木，木易生火，故治火者首治肝，肝火一散，而諸經之火俱散。所以加一味去火之品，即可去各經之火也。</p>

<h2>治拂逆之症</h2>
<p>昴日星君曰：如人病拂逆之症，躁急之狀不可一刻停留，此火鬱而不得舒，故爾如此。倘用寒涼之品急止之，則火鬱於中而反不得出。當靜以待之，使其躁氣稍息，而後用藥投之，則功易奏，病易去也。方用：白芍、當歸各三錢　茯苓五錢　柴胡五分　甘草一錢　白芥子一錢　丹皮二錢　棗仁一錢。水煎服。方名靜待湯。此方之妙，全無驚張之氣，一味和解，火鬱於肝木之中，不覺漸漸自散也。</p>

<h2>治氣燥方</h2>
<p>柳仙曰：妙。從無人講至此更欲立方，而不可得。氣燥乃氣中有火也，亦宜靜法待之，予亦酌一方。白朮三錢　茯苓三錢　白芍三錢　陳皮五分　甘草五分　麥冬三錢　天花粉一錢　蘇子一錢。水煎服，名為靜氣湯。此方和平安靜，可治心煩、氣動、肺燥、胃干之症。</p>
<p>血燥乃血熱之故，往往鼻衄流血，心煩不寐，不能安枕、怔忡等症。方用：當歸三兩　芍藥三錢　熟地五錢　生地三錢　丹皮一錢　地骨皮五錢　沙參三錢　白芥子一錢　甘草三錢　炒棗仁一錢。水煎服。此方亦無驚張也，又加荊芥五分，血動者最宜服之。</p>

<h2>治手足麻木不能動轉方</h2>
<p>呂祖擇，如雙腳麻木不能履地，兩手不能執物，法當用火竹筒一個，去其中間之節，以園木穿入，以園木兩頭結在桌腳下，病人腳心先蹈竹筒而圓轉之，如踏車者，一日不計其數而踏轉之，然後以湯藥與之。方用：人參一錢　黃耆三錢　當歸一錢　白芍三錢　茯苓三錢　薏仁五錢　白朮五錢　半夏一錢　陳皮五分　肉桂三分。水煎服。此方補藥之中有行濕之味，必因濕氣之侵始成偏廢，乘其尚有可動之機，因而活動之，足必動而治，血始活。因濕侵之，遂不能伸縮如意，必使動之而後用藥也。</p>
<p>兩手之動，必使兩人反轉病人之手在背後，以木槌轉捶之，捶至兩臂痠麻，而後以湯藥與之可愈。方用；人參一錢　茯苓三錢　黃耆五錢　防風一錢　半夏一錢　羌活一錢。水煎服。此方妙在防風、黃耆為君，人參為臣，祛痰祛濕為使，又乘其氣動之時與服，則易成功，否則不能效也。</p>
<p>華真人曰：治法最妙。予更有法於二症，尤當。使人抱起坐了，以有力者將其手延拳回者不已，後服前方之藥更妙，可並志之。</p>

<h2>治四季病症方</h2>
<p>董大仙擇，春、夏、秋、冬治法：春宜疏泄，夏宜清涼，秋宜順其氣之肅，冬宜順其氣之寒。法當用和平之藥以調之，使肅者不過肅，寒者不過寒也。春夏發生之氣，然而舒發之中，宜用理氣之藥，清涼之內宜兼健脾之劑。</p>
<p>春用方：人參一錢　黃耆一錢　柴胡一錢　當歸二錢　白芍三錢　陳皮五分　甘草一錢　神麯五分。水煎服。</p>
<p>夏用：麥冬三錢　元參三錢　五味子一錢　白朮五錢　甘草一錢　香薷八分　神麯三分　茯苓三錢　陳皮五分。水煎服。</p>
<p>秋用：麥冬五錢　北五味一錢　人參一錢　甘草一錢　百合五錢　款冬花一錢　天花粉一錢蘇子一錢。水煎服。</p>
<p>冬用：白朮五錢　茯苓三錢　山茱萸二錢　熟地五錢　肉桂三分　生棗仁一錢　枸杞子一錢菟絲子一錢　薏仁三錢。水煎服。</p>
<p>紅鸞侍者曰：春用參、耆以理氣，有柴、芍、歸以養肝，而舒木氣，不克脾土，自然得養矣。夏妙在健脾之中有潤肺之品，又益之去暑之藥，又何患暑氣之侵入哉。秋用在不寒不斂不熱不散，肺金既無乾燥之患，而有滋潤之宜，又何慮金風之涼也。冬妙在補腎水之品多，補腎火之品少，使水不寒而火不沸，又何慮冬令之寒冷哉。春夏秋冬治法最妙，再以老幼加減通用之，妙甚。</p>

<h2>論治傷寒方</h2>
<p>李白大仙曰：吾閱醫書，傷寒門最為緊要。兩感隔經，前書已載明不論外，今有發狂登高而歌，棄衣而走，見水而入，罵詈呼號，去生遠矣。非用大劑白虎湯不可救也。恐世人畏首畏尾，用其小劑，一杯水救車薪之火，如何能退其病。石膏必須用三四兩，其火勢方可少退。石膏性猛，恐損胃氣，當與參並用。我今傳一方，用白虎湯之半而另加藥味。方用：石膏三兩　知母二錢　人參三錢　元參三兩　茯苓一兩　麥冬三兩　車前子五錢。水煎服。石膏、知母瀉胃火，人參生胃氣，元參去浮游之火，麥冬生肺之陰，茯苓、車前引火下行於膀胱，從小便而出。火盛者必渴，必多飲水，用此二味以分濕，則水流而火自散也。一劑狂定，二劑口渴減半，三劑而痊愈，不必四劑。凡有火熱發狂，汗如雨下，口渴舌燥如芒刺者，以此方投之，斷不致於死也。</p>
<p>傷寒發斑者，死症。遍身發斑者，似重而反輕，只心窩發斑似輕而反重。心窩發斑者，熱存於心中而不得出，必須用化斑之藥解其熱毒之在中也。方用：升麻二錢　當歸一兩　元參三兩　荊芥三錢　黃連三錢　天花粉五錢　甘草一錢　茯神三錢。水煎服。火毒結於內，必須盡情發出。然內無血以養心，心中更熱，火毒益熾，而不能外越也。故用當歸、元參以滋心中之血，黃連以涼心中之熱，天花粉以消心中痰。又用升麻、荊芥以發之，甘草、茯神以和之，自然引火出外，斑亦漸消，又何至於喪命哉。</p>
<p>結胸煩燥者死，不可下，即下亦死也。結胸煩燥者，胃氣之將絕也，胃絕津液何生，津液既無，心何所養。雖然津液之絕，非五臟之絕，亦因結胸之故耳。是必攻其中堅，可望重生也。</p>
<p>方用：天花粉五錢　枳殼一錢　陳皮五分　麥芽三錢　天門冬三錢　桑白皮三錢　神麯三錢。水煎服。一劑結胸可開，而津液自生矣。此方用天花粉代栝蔞者，不至陷胸之過猛，枳殼消食寬中，麥芽、桑皮同用而化導更速，神麯、陳皮調胃有功，天門冬善生津液，佐天花粉有水乳之合，殊有不可測之機，死者可活。若以大陷胸湯盪滌之，於已汗下之後，無不速其死矣。</p>
<p>有臟結之症，載在太陽經中，其實非太陽經也。載在太陽經者，何故？正辨其太陽經，有似臟結之一症，不可用攻。臟結之症，小腹之內與兩臍之旁相連牽痛，以至前陰之筋亦痛，重者有青筋現而死者，乃陰邪而結於陰地也。原無表症，必須攻裡而得。方用：人參五錢　白朮五錢　甘草一錢　附子一錢　當歸一錢　肉桂五分。水煎服。白朮利腰臍之氣，人參救元陽之絕，當歸活周身之血，甘草和中以定痛，附、桂散寒以祛邪，臟中既溫，結自散矣。如有人直視、譫語、喘滿下利，死證也。苟有一臟未絕，尚可治之。方用：石膏五錢　人參五錢　麥冬一兩　白芍一兩　竹茹三錢。水煎服。參以救脫，石膏平火，麥冬平喘，白芍止利，竹茹清心，自然氣不絕而可救也。</p>
<p>傷寒壞症，已汗、已吐、已下，而身仍熱者，不治之症也。今特傳奇，以救三者之失。方用：人參五錢　茯苓五錢　柴胡一錢　白芍一兩　元參五錢　麥冬五錢　白芥子二錢　當歸五錢　陳皮五分。水煎服。參、苓大補之劑，加柴胡以和解之，自能退火生胃氣，死者可生也。</p>
<p>少陰症，惡寒、身蜷而下利，不治之症也。陽氣將絕，急用補陽之藥挽回也。方用：人參二兩　附子二錢　甘草二錢　乾薑二錢　白朮一兩　茯苓五錢。水煎服。一劑陽回，三劑痊愈矣。</p>
<p>吐利兼作、煩悶、手足四逆者，死症也。然而治之於早，未嘗不可救也。方用：人參二兩　白朮二兩　肉桂二錢　丁香二錢。灌之，尚可救耳。</p>
<p>下利雖止，而頭眩昏暈，亦是死症。陽雖回而陰已絕，今因陰絕，而諸陽上聚於頭，陽尚未絕，急用：人參二兩　肉桂二錢。水煎服，可救也。</p>
<p>四逆惡寒身蜷，脈不至，不煩而燥，本是死症。為可救者，脈不至，不煩而燥，則陽未絕，急用：人參三兩　附子三錢　炒棗仁五錢。水煎服。參以回其陽，附子祛寒，棗仁安心，心定而燥可去，脈自出矣。此乃死中求生之妙方也。</p>
<p>息高見於六七日之間，是少陰之症，非太陽症也。息高者，鼻息微小耳。此乃下元之真氣欲絕，牽連氣海之間，故上行而作氣急之狀，能上而不能下也。方用：人參三兩　熟地三兩　牛膝三錢　麥冬二兩　破故紙三錢，胡桃仁一個　乾薑五分。水煎服。連服四五劑可救也。</p>
<p>傷寒少陰症，脈微細沉，欲臥，汗出不煩，自欲嘔吐，至五六日自利，復煩躁不能臥者，死症也。汗已出矣，內無陽症，可知乃陰邪作祟，急以祛寒為是。方用：人參一兩　白朮一兩炒棗仁一兩　茯神五錢　肉桂二錢。水煎服，一劑即可安臥而回春矣。</p>
<p>脈遲是寒，誤用黃芩湯益加寒矣。寒甚反能食，病名除中。胃寒而加之寒藥，反致能食者，此胃氣欲絕，轉現假食之象以欺人，不過一時能食，非久之道。除中者，正言其胃中之氣除去不可留也。急用：人參一兩　茯苓五錢　肉桂一錢　陳皮三分　甘草一錢。水煎服。肉桂祛寒，陳皮化食，甘草留中，相製得宜，自然轉敗為功，而死者可重生矣。</p>
<p>傷寒六七日，脈微手足厥冷，煩躁，厥不還者，死。陰症發厥，灸其厥陰之經，亦不得已之法，原不及湯藥之神也。灸其不還，聽死者，對貧寒之子而說，以其不能備參藥也。以參附湯救之無有不活者。我今憐憫世人，另傳一方：白朮四兩　附子三錢　乾薑三錢。水煎服，一劑而蘇。見此等症，即以此方投之，無不神效如響。白朮最利腰臍，陰寒之初入，原從臍始，吾利腰臍，則腎宮已有生氣，況佐附子、乾薑無微不達，有不陽回頃刻者乎。</p>
<p>傷寒發熱而厥者，便有可生之機，邪往外出也。然厥可一二，不可頻頻，下利至甚，如何可久厥乎。蓋因下寒上熱，結於胸中，而陰陽之氣，不能彼此之相接也。必須和其陰陽，通達其上下，死可變生。方用：人參三兩　白朮五錢　甘草一錢　蘇子一錢　附子二錢。水煎服，二劑愈。</p>
<p>傷寒熱六七日不下利，忽然下利者，危症。況汗出不止乎，乃亡陽也。有陰無陽，死症明矣，當何以救之，陽之外越，因陰之內祛也。急以人參二兩　北五味一錢，急煎湯救之可生。然而貧寒者安可得參，另立一方：白朮、黃耆各三兩　當歸一兩　北五味一錢　白芍五錢。水煎服。此方補氣血，救陽氣之外越，陽回則汗止矣。此方可救危亡於頃刻也。</p>
<p>下利手足厥冷，無脈，急矣。其關元之脈者，非灸不能出也。灸之後，脈仍不出，反作微喘者，氣逆而不下，乃奔於上，而欲絕也，本是死症。急用：人參一兩　麥冬一兩　牛膝三錢　熟地五錢　甘草一錢　附子一錢　名為還脈湯。一劑而脈出者死，若漸漸而出者可望全生也。</p>
<p>傷寒　下利十餘行，脈反實者，死。何也？亡陽宜脈之虛弱，而反不虛，現假實之象也。是正氣耗絕，為邪氣所障，邪盛正氣消亡，欲不死不可得也。何以救之哉，仍補其虛可也。方用：人參一兩　茯苓二兩　白朮一兩。水煎服。一劑假變為真，則症變真，生矣。</p>
<p>呂祖曰：妙論如見，吾不能言之矣。</p>

<h2>治產後諸症方</h2>
<p>紅鸞侍者擇，產後感太陽風邪。大喘、大吐、大嘔，不治之症也。喘則元陽將絕，況大喘乎；吐則胃氣將亡，況大吐乎；嘔則脾氣將脫，況大嘔乎。產後氣血大弱，如何禁此三者，死症無疑，然何以救之，仍然大補氣血，少加止吐嘔喘之藥，而太陽風邪，作末治之可也。方用：人參三兩　麥冬三兩　白朮一兩　當歸一兩　川芎三錢　荊芥一錢　桂枝三分。水煎服。一劑喘轉，嘔吐止，便有生機。方中酌量實有深意，總不可惜參而輕用之也。</p>
<p>產後感少陽風邪，譫語煩躁，更加驚悸者，死。少陽，膽經也。膽中無汁，則不能潤心，心中無血而煩躁驚悸，相因而至，總皆無血之故，補血帶表治之，或可以生。方用佛手散加減治之。當歸二兩　川芎一兩　人參一兩　炒棗仁一兩　麥冬三錢　竹茹一團　丹砂一錢　熟地五錢。水煎服。芎、歸生血養心，參、棗、麥、茹、砂均安心之品，熟地補腎之妙藥，心腎兩濟，何煩躁驚悸之不愈乎。</p>
<p>產後感陽明之風邪，大喘大汗者不治，此病該用白虎湯，而產婦氣血虧損如何用之，今另立一方：麥冬一兩　人參五錢　桑葉十四片　蘇子五分。水煎服。此方助正而攻邪，退邪而不損正，實有奇功也。</p>
<p>臨月忽感少陰經風邪，惡寒蜷臥，手足冷者，不治之症也。少陰，腎經也。此症多不能治。蓋少陰腎經宜溫不宜寒，今風寒入之，命門之火微，而腎宮亦寒，子宮亦寒，手足冷者脾胃寒極之兆也。急用：人參一兩　白朮二兩　肉桂一錢　乾薑一錢　甘草一錢。水煎服。一劑而寒散，三劑痊愈矣。參、術固氣，桂、姜散寒，甘草和中。桂、姜雖是散寒，用之臨月之時何愁胎墮，二味畢竟性猛，甘草以和之，單去腹中之寒，而不去摧胎中之子，助人參、白朮以掃除，更有殊功，豈漫然而多用之哉。</p>
<p>老婦產後手足青，身黑，不救。此陰寒之最重，毒氣之最酷者，原無方法可治，然見死須救，今酌定一方。急用：人參二兩　白朮四兩　附子一錢　當歸一錢　肉桂三錢。水煎。服此服下青黑少退，便有生機也，否則仍死矣。</p>
<p>產後吐蛔蟲者，不治之症也。胃氣將絕，蟲不安身耳。蓋人臟既絕，蟲亦寂然，今紛然上吐，胃中尚有氣以逼迫之，安其胃則蟲可定。方用：人參五錢　白朮一兩　榧子仁一兩　白薇三錢　肉桂一錢　神麯五分。水煎服。一劑而定矣。此方參、術以生胃氣，榧子、白薇、肉桂以殺蟲，所以奏功獨神耳。</p>
<p>產後患厥陰症，嘔吐，兩脅脹滿者，必便血，不治之症。傷肝血乃下行，本無血而又傷血，豈有不死之理。然亦救之。方用：當歸一兩　川芎五錢　麥冬一兩　三七根末一錢。水煎服。一劑而血止，兩脅之脹滿除矣，又何至上嘔食而下便血哉。</p>
<p>產婦感水腫，以致面浮、手足浮，心脹者。然此浮非水氣也，乃虛氣作浮耳。方用：白朮二兩　人參一兩　茯苓五錢　薏仁一兩　陳皮五分　蘿蔔子三分。水煎服。此須多方見效也。產婦痢痰而又嘔逆者，必死之症也。吾有一方，不必服藥。將田螺一個搗碎，入麝香一釐，吳茱萸一分，為細面，掩在臍上，即不嘔吐，便可再生。速以當歸一兩　白芍三錢　甘草一錢　枳殼三分　檳榔三分。水煎服。二劑而痢自除，後用獨參湯調理可也。</p>
<p>產婦一身發黃者，濕熱壅滯而不散。欲治黃，氣血更消，欲補虛，而濕黃更甚，而醫人束手。余酌之原本於虛，補虛以治，未有不可，宜兼治之為得法耳。今立一方，不但產後因虛而發黃者，並治之。方用：白朮一兩　薏仁二兩　車前子五錢茯苓五錢　荊芥一錢　茵陳五分。水煎服。非產婦者茵陳三錢、肉桂五分可也。</p>
<p>產婦濕氣感中於包絡，下陰腫脹，小水點滴不出，死症也。今不由膀胱小便而出，盡入於胎胞之絡，是相反不相順也。以何法救之？當仍利膀胱而已。夫膀胱能化水者，得腎氣以化。產後血氣大虧，腎氣亦虛，故不能化水，乃入於包絡而不散。吾今先治腎，腎氣足而膀胱之氣自行。方用：白朮一兩　熟地一兩　茯苓五錢　山茱萸五錢　薏仁一兩　肉桂五分　車前子三錢　人參五錢。水煎服。此方因腎水之通，自能化水而分消於大小腸，下趨於便門而出，此實有妙用，非泛然以立方也。</p>
<p>血崩之後，口舌燥裂不能飲食者，死。方必須使精血重生，當上下兼補。方用：熟地一兩　山茱萸五錢　葳蕤五錢　人參二錢　元參三錢　沙參五錢　當歸五錢　麥冬一兩　北五味二錢　牛膝五錢　車前子一錢。水煎服。此方補腎為君，而兼之補肺之品，子母相資，精生而液亦生，血生而津亦生矣，安得不愈也。</p>
<p>有人燥極，口吐白沫者，不治之症也。苟不速治，白沫變成綠痰，斷不能治也。方用六味湯：熟地一兩　山茱萸五錢　山藥五錢　丹皮、澤瀉各二錢　茯苓五錢　麥冬一兩　北五味一錢。水煎服。日日服之，自然白沫止，而化為精則生也。</p>
<p>產後大便結燥，欲解不能解，煩躁身熱者，往往不救。必須用地黃湯大補之，然後可生也。照吾分兩，凡有大便燥結，俱可治之也。方用：熟地二兩　山茱萸一兩　山藥五錢　丹皮五錢　澤瀉三錢　茯苓三錢　麥冬一兩　北五味一錢。水煎服，三劑可愈也。</p>
<p>產後血燥成癆瘵者，乃產怯也。亦緣失於調理故成。方用：熟地一兩　當歸一兩　黃耆一兩人參一兩　鱉甲五錢　山茱萸五錢　麥冬一兩　白芍五錢　白芥子一錢。水煎服。投以此方，無不生者。萬勿因循至於日久，而不可救也。</p>

<h2>治產後心腹痛方</h2>
<p>張大仙曰：產後諸方，無一不妙，吾不能贊一詞也。吾亦有治心腹痛之方，亦不敢秘。心痛之症有二，一寒氣侵心而痛，一火氣焚心而痛。寒氣侵心者手足反溫，火氣焚心者手足反冷，以此辨之最得。寒痛與火痛不同，而能死人則一。吾傳與二方，無不響應。</p>
<p>治寒痛方：良薑三錢　肉桂一錢　白朮三錢　甘草一錢　草烏一錢　蒼朮三錢　管仲三錢。水煎服。此方妙用管仲之祛邪，二術祛濕，而又加散寒之品，直入病根四掃也。</p>
<p>治火痛方：炒梔子三錢　甘草一錢　白芍二錢　半夏一錢　柴胡一錢。水煎服。此妙在白芍之多瀉水中之火，又加梔子去熱，柴胡散邪，半夏逐痰，甘草和中，奏功如神，皆一劑即可起死回生也。</p>
<p>脅痛乃肝病，宜順不宜逆，逆則痛，痛不止則死矣。故須平肝，平肝必須補腎，腎水足而肝氣平矣。方用：熟地一兩　白芍二兩　當歸一兩　白芥子三錢　炒梔子一錢　山茱萸五錢　甘草三錢。水煎服。此方補肝為君，補腎為佐，加消痰清火之味，自然易於奏功，一劑而痛定矣。</p>
<p>腹痛之最急者，絞腸痧也。世人俱用官料藥者多。吾有一方最妙。方用：馬糞一兩，炒黑，入黃土一撮，微炒，用黃酒乘熱服五錢，一劑即痛止。馬糞最善止痛，而治腹痛尤神。用土因馬糞過速，得少遲，與脾同性相親，引之入於病處，使馬糞易於奏功也。</p>

<h2>治癭瘤方</h2>
<p>華真人曰：自青囊失後，數千載矣，今不敢以傳世，嘆前車可鑑。今以癭瘤之類，吾不敢秘，再傳世人，以全活人可也。癭瘤不同，癭者，連肉而生，根大而身亦大；瘤者，根小而身大也。即瘤之中又各不同，有粉瘤、肉瘤、筋瘤、物瘤，不可治亦不必治，終身十載不過如桃。</p>
<p>粉瘤三年之後，自然出粉，如線香出盡自愈。</p>
<p>肉瘤最易治，用水銀一錢　兒茶三錢　冰片三分　硼砂一錢　麝香三分　黃柏五錢　血竭三錢。各為細末，將藥擦於瘤之根，隨擦隨落。</p>
<p>物瘤根大難治，不時而動，無故而鳴，或如蟲鳥之鳴，必須用刀破其孔，則物自難居，必然突出，後用生肌散敷之，則瘤化為水矣。此乃不敬鬼神，而獨犯歲君而得，病不可測，非理可談，然世人未嘗無此病也。生肌散開後：人參一錢　三七根末三錢　輕粉五分　麒麟血竭三錢　象皮一錢　乳香（去油）一錢　沒藥一錢　千年石灰三錢　廣木香末一錢　冰片三分　兒茶二錢。各為細末，研無聲為度，修合時須用端午日，不可使人見之。</p>
<p>癭不同，形亦各異，然皆濕熱之病也。由小而大，大而破，破必死也。初起之時，即宜用小刀割破，略出白水，以生肌散敷之即愈。倘若失治，漸漸大來，用藥一點，點其陷處，半日作疼，必出水，其色白者易愈，黃紅者皆難愈。然服吾藥無不愈也。</p>
<p>點藥用：水銀一錢　硼砂一錢　輕粉一錢　鵲糞一錢　鶯糞一錢　冰片五分　潮腦五分綠礬、皂礬各一錢　麝香三分。為絕細面，用針刺一小孔，然後乘其出血之時，將藥點上，則黏連矣。約用一分，以人乳調之點上。大如雞子，一日點三次，第二日流水。流水之時不可再點，點則過疼，轉難收口矣。三日後必然流水盡。而皮寬如袋者，用煎方，自然平復如故。</p>
<p>煎方：人參三錢　茯苓五錢　薏仁一兩　澤瀉二錢　豬苓一錢　黃耆一兩　白芍五錢　生甘草一錢　陳皮一錢　山藥三錢。水煎服，十劑全消如故。但忌房事一月，余無所忌，若犯房事必破，終身成漏矣。</p>

<h2>治遍身作痛方</h2>
<p>昴日星君曰：妙極。吾又擇一方，如人遍身上下由背起而至於腰膝兩脛，無不作痛，飲食無味，不能起床，即起，痛亦不可忍，仍復睡臥呼痛，必須捶敲按摩，則其痛走來走去在骨節空隙之處作楚，而不可忍矣。人之以為此症乃風痛去。風痛多感於風濕。風濕多感入於骨髓，風濕入於經絡則易去，入於骨髓則難祛。骨髓屬腎，腎則可補而不可泄矣，祛風濕則傷腎，腎傷則邪欺正，久住不肯透出矣。雖然腎不可泄，而胃與大腸未嘗不可泄也。泄大腸而胃之風濕可去也。方用：黃耆一兩　白朮五錢　茯苓五錢　甘菊花三錢　玄參一兩　炙甘草一錢　防風五分　羌活五分。水煎服。一劑而痛減，二劑而痛除，三劑而痛痊愈矣。愈後用八味地黃丸調理，永無再犯之患也。</p>

<h2>治遍身生塊方</h2>
<p>藍大仙曰：甚妙。吾亦擇一方，如人遍身生塊而痛者，人以為痛風也。然雖是痛風，因濕氣不入於臟腑，而外走於經絡，皮膚以生塊，其痛較於骨髓者反輕，然治之不得其法，痛楚亦復相同。此塊乃濕痰結成也。消痰於腸胃之內者易為力，而消痰於經絡皮膚者，固難治，只好治其腸胃，而經絡皮膚之痛塊自消耳。方用：人參三錢　黃耆五錢　防風一錢　半夏二錢羌活一錢　薏仁五錢　白朮三錢　桂枝五分　茯苓五錢。水煎服。二劑而痛輕，四劑而痛止。十劑而塊消，二十劑而塊盡除矣。</p>

<h2>治遺尿方</h2>
<p>有夜臥遺尿者，其人畏寒喜熱，面黃體怯，大便溏泄，小便勤，以為小腸之虛也，誰知是腎氣之虛乎。方用溫泉飲：巴戟天一兩　白朮一兩　益智仁三錢　肉桂一錢。水煎服。一劑止，連四劑不再遺也。</p>
<p>一年老，不必夜臥而遺，雖日間不睡而自遺也。較前更重，此命門寒不能制水也。夫老人孤陽，宜水氣之衰，不宜火氣之微也。當用八味地黃湯。熟地一兩　萸肉一兩　山藥五錢　茯苓二錢　澤瀉一錢　丹皮一錢　附子一錢　肉桂一錢。水煎服。二劑溺止。十劑痊愈。仍照此方修合丸散，每日服一兩，永遠不遺。</p>

<h2>治脫肛方</h2>
<p>劉仙曰：妙極。吾擇一方，治脫肛者，久則澀痛，人以為腸虛下陷，誰知是陽氣之衰，不能升提乎。夫脫肛半成於脾瀉，多亡陰必至下墜，下墜之甚，則氣亦下陷，而腸中濕熱之汙穢反不能速去，為快反用力虛努，而腸隨下矣。治之法，必須升提而少佐之去濕去熱補氣之品，潤腸之味兼用為妙也。方用：人參三錢　黃耆五錢　當歸三錢　白芍一兩　升麻一錢　白茯苓三錢　槐米一錢　薏仁五錢。水煎。連服四劑而漸入，再四劑可痊愈也。</p>

<h2>論脫肛方</h2>
<p>柳仙曰：最妙。然亦有不大便而脫肛者，人以為氣虛下陷也，誰知是大腸之火奔迫而出。大腸屬金，畏火也。火性炎上，如何返下逼，而逼腸之脫乎？夫肛乃魄門也，原屬肺，肺與大腸為表裡，有唇齒之相關，大腸火氣之炎燒，而肺居膈上，遠不可救，乃下走肛門也。此等之症用升提之法，全然不效，反增其苦。治之法，宜多瀉其腸中之火，火息而金生，而金自安矣。方用：元參一兩　石膏三錢　熟地一兩　陳皮三錢　地榆三錢　當歸三錢　槐花三錢（炒黑）　荊芥三錢。水煎服。一劑而痛安，再劑而腸升，三劑而痊愈也。此方胃腎同治，兼清大腸之火，水源不斷，火氣自消，故園有可歸之途，有不急返者乎，此必然之理也。</p>

<h2>治兩足紅腫方</h2>
<p>蓮池大士擇，人忽得兩足紅腫而發熱作癢作痛，誰知是腳氣之症。傷寒中原有腳氣之門，然而腳氣非傷寒也，或溫熱先感於下，傷寒感於上，傷寒乃陽症，腳氣乃陰症也。濕熱下感宜從下治，若用風藥散之，而濕邪上行，反致上犯，陰邪犯心，必至於死也。治腳氣之病，斷不可以傷寒法治之。宜下消濕熱，而身熱自解矣。方用：茯苓一兩　茵陳一錢　防己一錢　炒山梔一錢　薏仁一兩　澤瀉三錢　木瓜一錢。水煎服。一劑而小便利，二劑而身熱解，再二劑而腳腫消，又二劑而痊愈也。斷不可用風藥，則引陰濕而入於陽分，反成不治之症，甚矣。散邪之藥亦斷不可用，腳氣之病即生於冬月，尚不可用散邪之藥，何況春夏秋令哉。</p>

<h2>治人服諸毒方</h2>
<p>一人有服砒霜者，疼痛欲死。蓋砒霜不過石經火煅煉，何至以毒至若此，而人不知，砒霜生於南嶽之山，南方之火毒，又經火氣，其氣大熱，又加火毒酷烈之極，安得不殺人哉。救之法，不須吐其毒，雖經吐出不能盡去其毒也。世人用羊血吐亦有生者，初下喉去可救，食之多時久在胃中，則無益矣。今定之久暫皆救也。方名救死丹。生甘草二兩，瓜蒂七個　玄參二兩　地榆五錢。水煎服。即吐，再煎渣服之，又吐，砒霜之毒，可全解之也。</p>
<p>一人有服斷腸草者，初則胸前隱隱作痛，久則氣不能通，大小便均不能出矣。斷腸草者，鉤吻之草也，至陰之物，狀如黃精，但葉有毛鉤子二個，閩廣之間多生此物，婦女小忿，往往短見，偷食覓死，取其不大痛楚也。此草殺人性緩，苟用解毒之藥，無不立效。生甘草二錢　大黃一錢　金銀花一兩。水煎服。一泄即愈，不必再劑也。</p>
<p>一治鴆酒，方用：金銀花八兩（煎湯取汁二碗）　白礬三錢　寒水石三錢　菖蒲三錢　天花粉三錢　麥冬五錢，再煎一碗，同前汁二碗對勻灌之，一時辰後，眼不上視，口能言矣，再飲二劑斷不死矣。</p>
<p>一人食鱉而腹痛欲死，往往有發青而死者。夫鱉本無毒，然多化生，有蛇化者，蛇化最毒，肚下必隱隱蛇皮之狀，其色必紅，食之必殺人也。方用：白芷三錢　雄黃末三錢　山楂肉一錢　丹砂末一錢　枳實一錢　茯苓五錢。水煎服。一劑而疼痛止，二劑則痊愈矣。治之法，不可解鱉之毒，當以蛇毒解之。此方白芷、雄黃是治蛇之藥，山楂、丹砂善化魚肉之味，合而用之，則鱉毒易消。枳實走積，茯苓利水。水族之毒隨水而化，易於救之耳。</p>
<p>一人有道途之間，誤服蒙汗藥者，口吐涎沫，眼瞪不語，並燒悶香者同。雖冷水可解，少蘇。但涼水入心，停於心下，虛人恐生他症，非解法之善也。方用：茯苓五錢　生甘草三錢　瓜蒂七個　陳皮五分。水煎服。即大吐而醒，其從前情境斷不能忘，不似涼水解之，如醉也。</p>
<p>一兩廣之間，多下蠱毒於飯食之中，人食之則兩目漸黃，飲食倦怠，或一年無藥解之，必致暴死。世傳蠱毒，土人將毒蟲蛇蠍等物，投於缸中，聽其自食，食完而存一物不死者，收之為蠱母，此訛也。蓋彼地別有蠱藥，乃天生之毒也。土人所以能治之，大約皆用凡石以化之，但恐外人知之，故秘而不宣，按凡石消痰而又善化堅，蠱積於腹中，內必堅硬而外以痰裹之，所以一物而奏功也。必須於補藥中而加以消痰化蠱之藥，則有益無損，始為萬全也。方用：人參五錢　茯苓五錢　當歸五錢　生甘草三錢　白礬三錢　半夏三錢。水煎服。一劑而胸腹爽，再劑而胃氣開，三劑蠱毒而化為烏有矣。</p>
<p>一人有食牛犬之肉，一時心痛，欲吐不能，欲瀉不可，結於心胃，不升不降也。方用：山楂三錢　枳殼一錢　厚朴一錢　神麯三錢　雷丸三錢　大黃三錢。水煎服。一劑而大下，牛犬之肉盡出矣。不必再服也。</p>
<p>一人有短見，服鹽滷者，必用甘草以解之。甘草三兩，煎湯救之。服滷未久，加豆豉一兩同煎，飲之必吐。如服久加入當歸二兩，同煎飲之，未必見其死也，總要在人活變耳。</p>
<p>有人愛飲燒酒，大醉而死。燒酒大熱，不比黃酒，易於飲下，往往大醉不勝，以至火焚其身，甚為可憫，豈忍視不救，必須用井花涼水，頻撲其心胸，散其發浸於水內，時易涼水，方用：人參二錢　柞木枝五錢　黃連二錢　白茯苓五錢　菖蒲一錢　寒水石三錢。水煎服。一劑即愈矣。或用冰水使冷，更妙耳。</p>
<p>一人有大笑不止，或揹人處自笑，異於平時，人以為有邪也，誰知是心包之火盛乎。心包者，主膻中官也，喜樂出焉。如有邪，身必有奇異之徵，不只自笑而已也，膻中火盛，發為自笑耳。方用：生棗仁三錢　黃連二錢　犀角末五錢　丹砂末一錢　丹皮一錢　生甘草一錢　麥冬三錢　茯神三錢　丹參三錢　天花粉二錢。一劑笑可止，三劑則大愈矣。</p>
<p>柳仙曰：妙極。吾何言之，但予尚擇一方，有人笑哭不常，以為鬼祟也。誰知是積痰類祟乎。笑哭不常者，半是心氣之虛，則不能自主，而或笑或哭生之也。夫心氣虛不能生胃，而胃亦虛矣。胃虛何能化物，水穀肉食入胃而成痰，痰既化而將何往，勢必仍留於胃中，胃苦痰濕之盪漾，必取心火之氣以相資，而心虛不能生土，痰即乘勢而入於心宮，有時作痛則哭，痛去則笑，亦甚平常也，何祟之有。治之法，以化痰之藥，動之，吐出其痰，則愈矣。方用：茯苓五錢　白朮五錢　甘草三錢　陳皮三錢　半夏三錢。水五碗，煎三碗，頓服。以鵝翎掃其咽喉，必吐痰升許而愈矣。</p>

<h2>論治傷寒方</h2>
<p>華真人、呂大仙、昴日星君曰：以上諸論皆詳細明晰，惟傷寒症最難，而最易也。蓋邪有來路有去路，有正路有旁路。由太陽而來，從陽明而去，斷少陽是阻其大路，塞太陰肺經是斷其旁路也，能知此法而通變之，以治各經又何患傷寒之不愈也。醫道本難也，不知症不可以用藥，不辨症不可以治人，此症之必宜辨也。此書有論而無脈，恐不能盡從其症，如要件件效驗，必須閱過病源，對脈治之，更為妙耳。</p>

<h2>呂祖論黨參可代人參法又附經驗方</h2>
<p>呂祖曰：此書既成，人有不能用者，方內人參太多，貧人不能用，吾故告之。貧人與膏梁子弟與富貴中人不同，即飲食色欲具輕，如將前方藥味減去其半，用黨參照人參分兩用之，雖不能全愈，十人中亦可救其三四也。將此刻在方後，吾憐憫貧人之心，囑鶴等知之，並令世人知之耳。</p>
<p>呂祖經驗方</p>
<p>治痢疾丹方用：香附一斤（鹽水炒）　烏藥六兩（炒）　檳榔六兩（炒）　蒼朮六兩（炒）　青皮六兩（炒）　陳皮六兩（炒）　神麯六兩（炒）　麥冬六兩（炒）。共為細末，水發為丸，如綠豆大，每服三錢，紅痢甘草湯送下，白痢薑湯送下，水瀉淡薑湯送下。本年丁巳，歲君是火，未免病偏於熱，特加白芍一兩（醋炒）　滑石一兩　當歸一兩（酒炒）嗣後照原方八味配合可也。</p>
<p>治臁瘡方：用古錢、松塔各等分，燒成灰，用真麻油調擦即愈。</p>
<p>治皋母八十五歲感受風寒方，此病老人血氣衰敗，天時冷熱不勻，偶然外感耳。方用：麥冬一錢　連翹八分　陳皮五分　製半夏八分　茯苓一錢　砂仁五分　白芍一錢　引用一片，燈心三十寸。煎服。三劑愈。</p>
<p>治皋母跌傷方，此跌倒火暈有痰之故，並傷於內，又老人驚著故耳。方用：山羊血一分半蘿蔔子一錢　白芥子一錢　製半夏一錢　元參一錢　桔梗一錢　穀芽一錢　黨參一錢半　當歸二錢　小生地一錢（炒）　破故紙一錢　牛膝一錢　引用藕節三個。煎服。二劑即愈也。</p>
<p>治皋母受風邪方，汝母本病，又受風邪，老人病久虛弱，故易受風邪，又兼血虛故潮熱，並非實火耳。方用：當歸二錢（酒炒）　生地二錢　柴胡五分　桂枝五分（炒）　荊芥八分　桔梗八分。水煎服。二劑即愈也。</p>
<p>治皋妻魏氏血虛兼受風濕，又兼左脅疼痛十數載方：當歸二錢（酒炒）　白朮一錢（土炒）　茯苓二錢　山藥二錢（炒黃）　薏仁三錢　陳皮一錢　木瓜一錢　牛膝一錢　白芍一錢。晚服，十劑可愈。</p>
<p>治皋母停食方：神麯一錢　紫蘇一錢　製半夏一錢　麥芽一錢（炒）　白朮一錢（土炒）　茯苓一錢　當歸一錢（酒炒）　白芍一錢（醋炒）　引用生薑三片。水煎服。二劑愈。</p>
<p>治皋母失血痢疾內熱外寒方，此痢疾之病，老人氣血兩虛，外受風寒，腹中有熱，因而得之。方用：白芍二錢　當歸二錢　枳殼八分　檳榔八分　甘草八分　滑石一錢　廣木香五分　蘿蔔子一錢　陳皮一錢　砂仁二粒。續改方加生地、北五味一錢　麥冬一錢　鬱金一錢　茯苓二錢　麥芽二錢（炒）　阿膠一錢　蛤粉（炒成珠）　去白芍一錢，下餘一錢（醋炒）。</p>
<p>又改方加山楂一錢　制黃耆一錢　去滑石、砂仁、生地、北五味、麥芽。</p>
<p>又續改方用：白芍一錢（醋炒）　當歸二錢　枳殼八分　甘草五分　蘿蔔子一錢　廣木香五分陳皮一錢　麥冬一錢　茯苓二錢　山楂一錢　制黃耆一錢　人參三分　澤瀉八分。</p>
<p>又改方加黨參一錢　麥芽二錢　砂仁三粒　去枳殼、甘草、廣木香、檳榔　引用姜一片　棗三枚。服後即愈，現今康強如故。</p>
<p>治皋血氣不足兼受風寒方：當歸一錢半（酒洗）　牛膝一錢（鹽炒）　肉桂五分（研細面，煎好衝入）　破故紙一錢二分（鹽炒）　天南星五分　吳茱萸一錢　黑豆五十粒為引（要腰子樣）。水煎服。黃酒少許，十劑痊愈。愈後調養丸藥。方用：白朮一兩　茯苓一兩　黨參五錢　陳皮五錢　製半夏五錢　炙甘草二錢　神麯五錢　山藥五錢（炒）　薏仁五錢（炒）　澤瀉四錢。研末為丸，早服二錢，五日後每服三錢，常吃即能多食，脾胃可開矣。續加丹皮四錢　芡實一兩　丸藥引用　木香一錢　南山楂一錢。煎湯空心服可也。</p>
<p>治章氏右臂方。病由因梯子上跌下，跌傷右臂，疼痛月餘方止，至丙辰十月又發舊病，疼痛過前，故求祖師賜方。用山羊血五分　桂枝八分　生黃耆一錢　木瓜一兩　當歸一兩　童便炒生地三錢　薑汁炒血餘一錢　製半夏二錢　柴胡五分　老鸛草三錢　製附子五分。引用酒水各半，煎服。三劑後，又服數劑即愈。</p>
<p>治賈氏左臂方。病由從板凳上跌下，跌傷左臂，三骨節皆疼，不能活動，至今六七載。蒙祖師賜方，照前方加乳香一錢　陳皮一錢　神麯一錢。引用前方。服後獲效。</p>
<p>丸藥方用：桂枝三錢　木瓜二兩　當歸三兩（童便炒）　製半夏五錢　老鸛草一兩　製附子三錢　陳皮六錢　神麯一兩　白芍五錢（炒）　荊芥八錢　炙黃耆五錢　茯苓一兩。水發為丸，如綠豆大，每服三錢　酒送下。</p>
<p>治趙生眼痛洗方：用白菊花、明礬、青礬、膽礬、桔梗各等分，煎水洗之。</p>
<p>治阮氏生孩未滿月，乳爛有濃。方用：蒲公英一錢　黃連三分　歸身二錢　白芍一錢。俱用酒炒（本地酒不好，因暑月有石膏，用假南酒亦可），水煎服。</p>
<p>又擦方用：黃柏、黃連、大黃各一錢，研細面，真香油調擦。又用鮮蒲公英搗爛貼上，貼干，洗去再貼。洗，用舊蒜辮熬湯洗，或可好也。</p>
<p>治張氏腿疼，方用：川牛膝二錢　白芍二錢（酒炒）　當歸三錢（酒炒）　香附二錢（酒炒）　製半夏一錢　薏仁五錢（炒）。水煎服。</p>
<p>嘉慶二年季冬月晉陽忠恕堂敬刊</p>
<p>要刷印者太原府城純陽宮藏板</p>

<h2>金母娘娘降壇詩</h2>
<p>丁巳閏六月初四日</p>
<p>混沌初分煙氣連，星辰日月我為先。琪樹婆娑千載茂，靈芝綽約四時鮮。金樽不斷長生酒，玉鼎頻添不老丹。瑞氣瑤臺常擁護，蟠桃歲熟宴諸仙。</p>
<p>鍾離大仙和</p>
<p>松環殿閣閣環山，疊疊重重霄漢間。萬道祥光臨福地，千條瑞彩繞雲天。琉璃日射黃金燦，翡翠星搖碧玉鮮。緲緲無為尊聖母，初分清濁即成仙。</p>
<p>果老大仙和</p>
<p>九天高際瑞雲封，寶殿巍峨隱約中。千樹琪花頻映月，四時異卉拂輕風。蟠桃熟待真仙宴，妙法還侔造化工。試問瑤池何日始，不知建始是洪濛。</p>
<p>呂大仙和</p>
<p>群巒擁翠地基平，一望臺高鋪素瓊。金殿窗虛明月朗，玉爐香緲篆煙輕。云過深院紅蓮潤，月映瑤池碧水清。渺渺無為參大道，玄機妙理自天成。</p>
<p>七月初七日</p>
<p>何大仙和</p>
<p>絳閣朱宮鎖亂霞，何人妝飾甚繁華。珍珠瑪瑙山靈獻，翡翠琉璃寶殿奢。院宇深沉香氣繞，亭臺高聳瑞雲遮。瑤池勝景誰能似，洞府神仙嘖嘖誇。</p>
<p>李白大仙和</p>
<p>臺高山外瑞雲漫，四季長春花不殘。鶴舞半空翻白雪，蓮開五色繞朱欄。壽同天地千年合，德與乾坤萬載安。混沌初分居此位，蟠桃每熟宴仙官。</p>
<p>八月十五夜</p>
<p>董大仙和</p>
<p>瑤池金闕對函關，殿閣崔嵬霄漢間。鶴舞雲中鳴白鹿，靈芝瑞草滿崖前。</p>
<p>何時久煉何人傳，混沌初分福德仙。對對青鸞朝紫闕，瑤池王母位參天。</p>
<p>張大仙和</p>
<p>瓊樓玉宇實繁華，畫棟雕梁瑞氣遮。異卉奇花香滿苑，臺前鶴舞帶風斜。</p>
<p>巡遊高望五龍車，歌管笙簫滿道遮。鶴鹿雙鳴時獻瑞，山前山後產奇花。</p>
<p>許大仙和</p>
<p>白雲深鎖靜無塵，金碧輝煌日日新。玉樹參天千古秀，琪花香馥四時春。</p>
<p>盤古初分紫府仙，臺高隱現瑞雲旋。金鐘玉磬傳清韻，舞袖紛紜侍綺筵。</p>
<p>紅鸞侍者和</p>
<p>蟠桃千樹是誰栽，何代何人造此臺。紫氣氳氤香氣繞，祥光靉⿰雲建寶光開。鈞天樂奏笙簧集，匝地花鋪錦繡堆。獨闢玄機垂妙法，瑤池久待眾仙來。</p>
<p>高大智恭和</p>
<p>望中仙氣紫雲浮，金母瓊宮在上頭。綵鳳參差翔碧闕，斑龍蜿蟺下神洲。丹書秘笈乾坤始，玉板金繩造化留。奧妙無為藏六甲，眾仙高會聚丹邱。</p>
<p>張鶴翔恭和</p>
<p>道冠群仙位自尊，瑤池寶地接崑崙。工成九九丹砂足，修滿三三鶴鹿馴。殿宇寬明飛鳳繞，樓臺高聳瑞龍蟠。有時桃熟開佳宴，四海仙真拜闕門。</p>
<p>柏鶴亭恭和</p>
<p>瑤池鍾秀結西方，玄妙高深不可量。香繞玉珂鳴鳳輦，日臨丹陛燦龍光。綵鸞掩映翔琪樹，白鶴蹁躚舞素裳。琴韻拂雲天際落，靈芝瑞草一齊芳。</p>
<p>王鶴鳴恭和</p>
<p>大道功成開闢先，瑤池位次冠群仙。玎𤤮佩玉非凡響，錦繡霞裳有異妍。五色祥雲浮殿上，四時瑞草獻階前。高居寶座談玄妙，桃熟千株薦綺筵。</p>
<p>壽星大仙</p>
<p>吾乃仙而兼星宿者，南極老人星是也。吾鬚髮白勝於果老，身體亦如之。世傳頭長身短豈不可笑乎！生等修道雖難，行善最易，壽數可添，子孫保好，無子可有，死後不墮地獄。即欲</p>
<p>登仙，亦不難也。勉而行之，勿忘吾告式之意耳。</p>
<p>到壇</p>
<p>尋梅不見寺中培，案上水仙白玉裁。佛手酒香多益善，盤堆鹿脯味奇哉。</p>
<p>鍾離大仙</p>
<p>吾乃漢朝武帝時為大將，白朝墩兵敗，遂隱入華山修煉。得遇</p>
<p>東華帝君度封為八洞第一。吾生於五月二十八日，上升於唐太宗十二年八月初十日到蓬萊仙島。</p>
<p>到壇</p>
<p>雙髻垂垂飲興豪，天香馥馥染仙袍。瑤池宴罷過東海，醉戲蛟龍滾浪濤。</p>
<p>果老大仙</p>
<p>吾老人果在堯王時修煉，至唐朝成其正果，受封於明皇。又受</p>
<p>東華帝君敕封，列於八洞第二，住西嶽華山鶴棲洞，十二月二十一日生。</p>
<p>到壇</p>
<p>趙州橋上久傳揚，幻術唐宮獨擅長。歲歲蟠桃常遇宴，鶴童仙子進霞觴。</p>
<p>日月同春不計年，幾經滄海又桑田。閒遊五嶽觀棋局，醉向仙驢背上眠。</p>
<p>雪後寒鴉集</p>
<p>青宵爐火夜初寒，枯樹鴉鳴掛遠灘。今早風和不較冷，花飛臺上水晶盤。</p>
<p>月冷</p>
<p>五星天上掛空懸，斜月三更望去寒。春夜不知人盡醉，新翻一曲和皆難。</p>
<p>和月冷二首　鶴亭</p>
<p>雪月交輝夜有光，詩成多為酒生香。仙緣何幸同幽賞，忘卻迢迢更漏長。　白批　早鶴清冷</p>
<p>爐中煙冷酒思融，心竟靈通天地空。明月滿階涼似水，神仙不怕五更風。　呂批　靈機活潑</p>
<p>李鐵柺大仙</p>
<p>吾生於堯王時，住華岳山修煉將成，遇王母招飲童子，看吾凡身真神，赴瑤池三時不返回來，身被虎食，故入窮人之軀，指道旁李樹為姓。本姓楊，住江北南岸村。因生時好道，十五歲至華岳，遇廣成度之，到唐太宗時，方登八洞第三。吾道號鐵柺李。</p>
<p>到壇</p>
<p>千載修成兩世身，如何神負一貧人。超凡入聖朝金闕，脫卻凡身不惹塵。</p>
<p>酒到詩成若有神，天仙醉後樂天真。騎龍跨鶴雲霞亂，滿地梅花盡是春。</p>
<p>修道歌</p>
<p>天上人間總要空，心無著相任隨風。乾坤到處憑吾戲，醉後逍遙混沌中。</p>
<p>和前題一首　鶴亭</p>
<p>四大時辰要認真，水龍火虎助精神。十年面壁胎元足，方得升騰萬古春。　李批　養性話</p>
<p>和前題二首　鶴舉</p>
<p>默坐殷勤養太和，那知靜里有風波。閒中變幻無形影，片刻私緣即是魔。</p>
<p>功成九仞豈能休，屋漏還防此念頭，息息常存惟自檢。隱微無愧始悠悠。</p>
<p>和前題二首　鶴鳴</p>
<p>培養天和動靜中，先須克己要專攻。一朝掃盡煙雲氣，真性清虛無不通。</p>
<p>莫說難成㹊有終，登仙修煉久成功。常常如在冰淵地，收斂心思歸至公。</p>
<p>呂大仙</p>
<p>姓呂名巖字洞賓，號純陽子，天寶十四年四月十四日巳時生。居西京河南府滿拓縣，永樂鎮招賢里。今曰蒲州。因科舉不第，遊長安市醉後仗俠殺人，久之貧落。遇</p>
<p>鍾離大仙授道度成八洞之位。住蓬萊山洞，先為九天採訪使，今列為四相之一。</p>
<p>到壇</p>
<p>幾入科場不第歸，棄儒學道上蓬萊。岳陽高處頻吹笛，江水如今記落梅。</p>
<p>岸容待臘將舒柳</p>
<p>冷定春灰日漸長，朝衣典盡酒添香。月明如水寒梅瘦，天上人間詩興狂。　張批　大有意致</p>
<p>題華文母壽</p>
<p>主人今日喜開筵，幸有馨兒拜座先。五十生來頻鶴算，不如今歲有天仙。　董批　好句</p>
<p>鶴等請問八洞位次</p>
<p>呂祖曰：上八洞居蓬萊山，一名鶴云、一名鶴棲、一名鶴眠、一名鶴桃、一名鶴飛、一名鶴舉、一名鶴鳴、一名鶴翔，此乃八洞之始也。同居一處，而今分開，各居煙雲之地以煉功也。</p>
<p>中八洞乃鶴岡山，在甘肅地界，乃散仙也。赤腳等仙所居之處。</p>
<p>下八洞乃地仙所居之處，名鶴鶴山，乃西方地界，離崑崙山不遠，有德之人成仙者，並無修煉功夫，不免輪迴五百年降生人世，有大德者，還可復回，不然即墜落也。</p>
<p>曹大仙</p>
<p>吾乃唐國舅，並非宋國舅也。於天寶十二年四月二十日生，得道於宋真宗十一年七月初十日，上升列八洞第五位。</p>
<p>到壇</p>
<p>曾拋王帶棄紅袍，仿道蓬萊走一遭。今日修成歸洞府，八人會飲興偏豪。</p>
<p>岸容待臘將舒柳</p>
<p>一夜寒梅葉盡芳，不知陽復暗催香。天上總比人工巧，弱線添時細細長。</p>
<p>和前題　鶴亭</p>
<p>陽回葭管雪飄然，弱線添長冬至天。枯柳暗催梅破臘，數枝香馥小窗前。　呂批　煙月雅懷</p>
<p>藍大仙</p>
<p>吾生於宋，住浙江湖旁，因水青山秀，故此不捨修道之心堅矣。故吟踏踏歌自修於宋，南度後吾道已成。又遇鍾離大仙度之，隨受東華帝君敕封八洞第六位。</p>
<p>到壇</p>
<p>千載調勻五氣和，蓬萊仙境瑞雲多。花藍時採長生藥，醉後狂吟踏踏歌。</p>
<p>證道歌二首</p>
<p>春日遲遲鳥倦歌，仙凡遠隔養天和。而今已降紅塵路，日日修之贈斧柯。</p>
<p>大道原來不易傳，人生只要有仙緣。心空妙諦靈機話，正直朝元玉帝前。</p>
<p>韓大仙</p>
<p>吾生於唐，韓文公乃吾叔，幼年好道，因妻不賢，故棄之往雲夢山學道，十餘年而得半仙之</p>
<p>體，回家度叔與妻，皆無仙骨，逢叔壽宴客點化，叔不悟，後又隔十餘年，吾道已成，至藍</p>
<p>關幻雪又點之，叔終不悟。吾受封於</p>
<p>東華帝君仙旨授為八洞神仙第七位。</p>
<p>到壇</p>
<p>鶉衣百結暮春寒，筵上當時不識韓。偶爾庭前施幻術，花開傾刻大於盤。</p>
<p>一枝梅影破深紅，到處煙雲吹任風。鶴舞洞前憑玩賞，無拘無束色空空。</p>
<p>詩酒平生興自狂，瑤池桃熟遠飄香。至今已過三千歲，日月壺中更久長。</p>
<p>何大仙</p>
<p>吾在漢生時，母夢有白蓮一枝，故名愛蓮。生而好道，得</p>
<p>果老大仙度之，江南吳地遇</p>
<p>呂大仙又度之，至唐初登仙，以掃花天門。後蒙呂大仙度。盧生代之方受</p>
<p>東華帝君封為八洞之位。</p>
<p>到壇</p>
<p>仙帚輕移掃落花，翩翩翠袖拂雲霞。邯鄲夢覺歸蓬島，洞府新添一女娃。</p>
<p>請眾仙降壇飲酒</p>
<p>八仙齊到酒生香，李白貪杯興本狂。壽老座中歌壽曲，雙成月下試新妝。</p>
<p>昴日星君醉態狂，華陀醒酒葛花湯。玉娥歌落三更月，尊者金蓮目吐光。</p>
<p>醉後同回蓬島忙，紙驢過海袖中藏。不然落水如何覓，飄去龍宮果老荒。</p>
<p>爾等殷勤茶酒香，水仙銀燭繞仙裳。座中李白頻頻飲，白鶴添杯飛羽觴。</p>
<p>李大仙</p>
<p>白原本是謫仙降生於唐。生時吾母夢太白星入懷即生吾，長遇名師教訓，故番字皆識詩詞，</p>
<p>乃生而知之。又夢中得受於文星指教，故才思日進。生於四川峨嵋山青蓮村，故號青蓮道人。明皇時不第，後賀知章薦吾於帝前，與高力士不合，故雖封學士並未辦大事展才情，　翻嚇蠻書乃略展胸中才情，又得罪力士與太真妃子，故不得大用，知安祿山必反，遂薦敦子儀以平安賊之亂。吾隱於陝西，不想平後又謀詔吾，故投海偽醉撈月而死，仍復回位，東坡乃吾後身，今在玉帝案前為香案使也，住南天門外</p>
<p>到壇</p>
<p>大地乾坤桂子香，不如染翰侍天皇。案前批駁留仙蹟，團鶴當胸早近王。</p>
<p>早掛朝衣終日忙，半生詩酒近君王。今朝得遇鶴亭輩，雅意頻頻助興狂。</p>
<p>早間朝罷醉天香，百首新詩百斗狂。當日牡丹亭上事，至今留恨碧雲鄉。</p>
<p>重陽詩</p>
<p>天上雙星月照南，早朝時帶御香酣。與君醉後方聯句，對客燈前新友談。愁聽雁聲思重九，望家雲影到封三。青目眾人因待久，同行壽老鶴催驂。</p>
<p>白菊詩</p>
<p>興來思逸望籬邊，適過黃州目睹鮮。素質開留纖月影，玉盤對舞曲廳前。紫鴛等輩難為侶，紅鶴群期遜妙妍。將贖朝衣雖到日，還因換酒墨痕研。張批　臺閣氣象</p>
<p>無題</p>
<p>千金買筆亦何妨，裘馬沽來亦可狂。生輩也知詩酒好，飲中歌內尚流芳。</p>
<p>生前斗酒詩百篇，長安道上也曾眠。吾今不食人間食，有酒還須飲大千。呂批　仙機活潑</p>
<p>人生幾見月當頭</p>
<p>春去秋來云樹思，葉飛木脫有誰知。西風好月來天上，酒興添春不可遲。張批　風流瀟灑</p>
<p>白菊</p>
<p>霜雪清霄玉漏遲，云飄影月到山西。去來無復陶彭澤，秋盡還須典白衣。董批　真切</p>
<p>詠月</p>
<p>春花秋月舊相知，桂子天香待月時。紫微院落沉沉夜，寒樹棲烏不自持。</p>
<p>看花賞月</p>
<p>百花齊放早春天，秋月偏依白露前。載酒東山西嶺醉，人生快樂寸心閒。</p>
<p>茶香</p>
<p>世人不解酒生香，盡道茶煙勝酒場。天上酒泉清若水，一生何苦為他忙。</p>
<p>顧渚浮甌勝酒香，春來早掛美人裳。知君不愛蘭陵酒，故持芽茶潤客腸。</p>
<p>元霄</p>
<p>鰲山燈火醉人斜，鑼鼓喧天慶萬家，明月高懸清似水，滿城爭看墜鈿花。</p>
<p>董大仙</p>
<p>吾生於春秋時山東齊地，有村名董家村，其地土地荒蕪；更多賊盜。至父死母嫁，兄弟年幼</p>
<p>不能自立，吾因此不嫁，撫弟成人，而自盡死，蒙王母收為侍者，又轉玄女娘娘司文侍者，</p>
<p>住瑤池鶴煙洞。</p>
<p>到壇</p>
<p>人間早識董雙成，屢降前朝武帝驚。當日瑤池為侍從，如今玄女掌書卿。</p>
<p>重九詩</p>
<p>倒掛青天月正南，推開雲影色鮮酣。春花已落秋思賦，遊伴登高勝晉談。呂批心靜圓活</p>
<p>春花落盡雁棲灘，秋色蕭條籬菊寒。正欲登高風雨至，不如載酒赴詩壇。李批　平允</p>
<p>花時酒一樽</p>
<p>一枝梅影早春天，二月黃鸝新色添。更有煙光浮草綠，飛來綵鳳坐神仙。</p>
<p>和前題　鶴亭</p>
<p>花酒盈樽爇寶香，群仙卻亦愛霞觴。醉中養性乾坤大，一枕黃梁午夢長。呂批　有仙味</p>
<p>許大仙</p>
<p>吾姓許，唐時生於河南青村。母夢珠一粒吞之，吾生。故愛之，因名飛瓊，適河南大荒不能養親，父母死後懶嫁，故投河，遇</p>
<p>王母差董仙救之，因脫凡身至宋朝方得道。同董仙一處為司文侍者。</p>
<p>到壇</p>
<p>千百年前一女娃，粲風吸月泛胡麻。誰知嬝娜蹁躚輩，今也乘雲駕鳳車。</p>
<p>滄海桑田幾變遷，飛瓊不覺有千年。而今大道功成滿，指日蓬萊作散仙。</p>
<p>張玉娥大仙</p>
<p>吾本西晉時人，住南方閶門街，姓張名玉娥，到於唐安祿山亂時，投於河內，得</p>
<p>王母救之，同董仙相熟，故今早得仙緣，也在玄女娘娘座下為侍者，住瑤池鶴煙洞。</p>
<p>月冷</p>
<p>梅影當階香滿園，早煙飛靜月中寒。興來一斗洧俗念，清素三千盡有緣。呂批　清韻飄揚</p>
<p>故燒高燭照紅妝</p>
<p>海棠嬌豔卻無香，杜甫無詩為甚狂。蘇子在時偏愛賞，團團燭影繞紅妝。</p>
<p>蘇子生時，當浮一大缽。鶴亭謹識。</p>
<p>題華文母壽</p>
<p>壽筵開處露桃鮮，桂子臺中拜座前。新酒一杯遙祝壽，三秋荊茂早豐年。</p>
<p>題鶴舉壽</p>
<p>臺前茶酒倍鮮妍，鶴鹿同春不計年。恰有椒盤添逸興，今朝適遇數天仙。</p>
<p>葛大仙</p>
<p>吾在東粵德慶州地界，有葛仙洞乃修煉之所，吾洞出葛仙米，吾吃之以成道。吾乃春秋時人，有陶弘景為友，常在世上以藥濟人，唐朝方有名，人間蓬萊島中散人。吾不愛人世，故少知者。今因生等請仙作詩，吾故來之也。</p>
<p>到壇</p>
<p>逍遙海外白雲邊，不是凡人不是仙。洞府深藏千百載，閒看老鶴舞蹁躚。</p>
<p>春秋到此不知年，花謝花開看萬千。靜養長生無限樂，蟠桃美酒醉飛仙。</p>
<p>昴日星君</p>
<p>吾在日中另有星宿，管西方一帶地方，分野在晉省也。</p>
<p>到壇</p>
<p>火棗交梨助興狂，仙人不愛飲茶湯。只因天上無沽處，故落機盤佛手嘗。</p>
<p>華陀祖師</p>
<p>吾漢三國人，生等皆知，被曹操殺後，吾上天告知於玉帝，因吾生有義氣，故封於天醫院中，今又蒙</p>
<p>上帝敕封為巡察使，巡九天善惡，又升</p>
<p>玉帝案旁香爐使者。</p>
<p>到壇</p>
<p>當年未得殺奸操，燎毒荊州義氣豪。可惜青囊書失後，至今遺恨在天曹。</p>
<p>一寸光陰春已深，黃鸝不見柳難新。山西二月寒如許，到處尋梅雪滿身。</p>
<p>劉大仙</p>
<p>姓劉名操字宗成，號海蟾子，改名玄英，燕山人，仕遼為相，遇</p>
<p>呂大仙即解印佯狂，避於秦川。</p>
<p>呂大仙授以丹道，詩云：拋離大宅三千口，屏去門兵百萬家。道成，遁跡終南太華山，生於十月十四日，上升於六月十九日。</p>
<p>到壇</p>
<p>本是朝中第一人，拋開世界棄凡塵。只因仙度回頭岸，也上蓬萊幾百春。</p>
<p>得到蓬萊幾百春，仙緣有分遇仙真。若非騎鶴仙山去，僅作朝中一大臣。</p>
<p>留得青青自在身，鶴群常繞滿山春。倒掛雲天踏遠樹，一番清興即仙真。</p>
<p>春花秋月惹人愁，我在江邊踏浪遊。偶戲金蟾成正果，而今無礙空悠悠。</p>
<p>茶色酒香</p>
<p>夜深詩酒興偏長，茶色清新到口涼。燭暗花開因結子，鬱金玉碗更生香。</p>
<p>美酒偏能惹興長，文人更喜品茶香。兩般卻是人間寶，為我仙家不冒嘗。</p>
<p>柳大仙</p>
<p>吾非柳樹得仙，吾唐朝秀士柳楚臺，乃湖北漢陽縣董家村人，因貧困投井，遇</p>
<p>呂師救之，以魂附柳得生。因法名守真。今受</p>
<p>文昌帝君司文郎。</p>
<p>到壇</p>
<p>天地原來共一家，不知望去即生涯。而今已上蓬萊路，流水桃花泛木槎。</p>
<p>佛是空門卻不空，仙家有象是飛龍。有法終歸無法寂，年年佳興與人同。</p>
<p>凡人心寂即仙真，何必勞勞苦一身。大地乾坤都是夢，回頭即岸鶴同春。</p>
<p>紅鸞大仙</p>
<p>姓白名持桂，鶴翔之女，在生時住山西潞安府尋梅嶺，在城東七十里有村名尋梅村。因家貧無度，早配人，夫家姓圯，年大吾十五歲，本不願嫁，不得不嫁，又不能養父母，父母見吾不樂氣悶而死，吾亦悶死，吾不孝之罪大矣。死後</p>
<p>王母巡查地府，因憐之故，將吾度送至紅鸞星處。吾生於唐，死於唐，得道於宋仁宗時。</p>
<p>到壇</p>
<p>洞府依依望白雲，千秋遺恨積吾身。蓼莪雖廢終余痛，粉黛無顏倍慘神。未遂膝前成半子，卻緣命薄棄雙親。不堪回首昔年事，孝道全虧志莫伸。</p>
<p>和到壇詩　鶴舉</p>
<p>反哺心難遂，深深齎恨長，幾曾違色笑，逃爾遠高堂。雖殞紅顏命，寧沉潛德光，賢媛克子職，純孝整倫常，敘以仙班列，還遺姓氏香，雙親當此日，泉下樂無疆。</p>
<p>和前詩二首　鶴亭</p>
<p>尋梅村內孝名揚，死後精魂地府香。感動瑤池金母度，而今天上佐星忙。</p>
<p>佐理天星日月長，身居洞府白雲鄉。生前心跡誰能曉，遺恨千秋暗自傷。</p>
<p>題鶴舉壽</p>
<p>仁者如山壽更長，壺中日月靜收藏。蟠桃筵上鶴飛繞，五氣朝元姓氏香。</p>
<p>蓮池大士</p>
<p>吾姓王，生時好善，以放生為事，再生姓沈，不昧前修乃成善果。蒙</p>
<p>如來度為羅漢，吾以濟人為心，今見生等好善，故降乩耳。</p>
<p>到壇</p>
<p>前生最喜放生緣，後世方能得上天。佛祖度為真羅漢，不然還是一生員。</p>
<p>看花仙人</p>
<p>吾乃千年鹿童</p>
<p>玄帝座下修已三百年矣，元朝脫去凡身，一年四季與玄帝修花，故名看花童子。</p>
<p>到壇</p>
<p>清風明月景長新，拔宅昇天仙道真。等得功成登紫府，大千世界早皆春。</p>
<p>白鶴仙人</p>
<p>吾白鶴童子，乃千年老鶴也。修成人身脫凡於元朝。在壽星座下。</p>
<p>到壇</p>
<p>大地乾坤任意遊，飛來飛去幾停留。千年養得胎元足，棄了皮囊不惹愁。</p>
<p>鐵鶴仙人</p>
<p>吾乃千年玄鶴，早脫凡身。在董仙座下已五百年矣。今受為符使也。</p>
<p>到壇</p>
<p>千年本是一鶴身，脫去皮囊養性真。吸露餐花修煉久，瑤池會上不思春。</p>
<p>化作人身百歲春，而今已是散仙真。九天洞府憑吾到，飛去飛來不惹塵。</p>
<p>青鸞仙人</p>
<p>吾羽仙乃須陀山修養數百年，於唐朝乃得人身。受文昌帝君收作童子。</p>
<p>到壇</p>
<p>文鸞修得上瑤臺，南鬥星君部下排。千載宮中為使者，大仙洞中任徘徊。</p>
<p>羽化登仙實可憐，修真養性有千年。文昌座下為文使，不赴蟠桃也是仙。</p>
<p>七仙姑</p>
<p>吾等七姊妹，住西湖，借山水精華脫去毛羽。春秋時到蓬萊修煉，保養天和，漢時遇</p>
<p>鍾離大仙修煉，吾等在山為伴，八洞大仙齊至，日日聽講玄機，故得修煉秘訣。於宋時</p>
<p>王母度為侍妾也。又蒙</p>
<p>王母賜蟠桃仙酒，而今不復人間閒戲也。</p>
<p>七姑到壇各一首</p>
<p>紫姑</p>
<p>天上人間共一家，七姑流水泛胡麻。前緣已結山中相，不久蟠桃鶴舞斜。</p>
<p>絳姑</p>
<p>前生本是一仙家，後世如何不泛槎。天上有名難富貴，將來各駕五雲車。</p>
<p>青姑</p>
<p>凡塵到處有仙家，自在逍遙度歲華。爾等不知天上樂，瑤池蓬島萬年花。</p>
<p>云姑</p>
<p>鶴飛到處盡奇花，洞府深藏雲氣遮。若等數年歸八洞，靈芝瑞草滿天涯。</p>
<p>月姑</p>
<p>好酒天仙亦有奢，人心好善鬼神誇。雲中白鶴添多少，付與瑤池定等差。</p>
<p>渺姑</p>
<p>付與瑤池定等差，仙緣深淺道高誇。玄玄若得其中意，三教原來共一家。</p>
<p>碧姑</p>
<p>三教原來共一家，西方各自有天涯。色即是空空是色，依然頂上現天花。</p>
<p>西路財神</p>
<p>姓杜名寶，系唐天寶十三年正月二十日生，於唐留名，宋仁宗時方得成道，受封於</p>
<p>東嶽天齊早敕掛名於簿籍，今受封</p>
<p>玉帝為西路財神，不過人間五品之職也。</p>
<p>到壇</p>
<p>天下財源滾滾前，不知飛去又飛還。人生早露新如草，何必貪心只愛錢。</p>
<p>西路財源我盡知，人間福祿有先期，陽消陰長添除算，使去還來各待時。</p>
<p>山西省土地</p>
<p>姓雷名青霄號喜楚，乃楚人也。生襄陽府，生前為江南蘇州太守，林下尋樂，死後魂遊湖南省。因生前正直，故封為山西省土地也。</p>
<p>到壇</p>
<p>生前本是一寒儒，五馬黃堂恩遇殊。作吏一行勤政績，而今遺愛在江蘇。</p>
<p>雲夢瀟湘寄我魂，無端恩詔出天門。晉陽守土滋多福，庇佑生民報至尊。</p>
<p>陽曲縣縣土地</p>
<p>姓魏名吾陽，系太原縣北關人。離城三里，生前曾做五臺教官，為官清正，死後受</p>
<p>東嶽天齊封於此地為縣土地也。</p>
<p>到壇</p>
<p>經綸聊展濟時才，師範儼然在五臺。道溯程朱述既往，薪傳遊夏誘將來。未膺民社蒼生望，卻將聰明福地培。今日酬勳推正直，此方桃李任吾載。董批　切切</p>
<p>眾仙聯句</p>
<p>酒中曾得道</p>
<p>輝煌銀燭酒生香，（李）折桂攀鰲白也狂，（董）且飲杯中千萬盞，（鍾）醉歸踏破碧雲忙。（張）</p>
<p>春花秋月為人忙，（李）興到何妨沽酒香。（董）不識人間有樂事，（張）漫斟細酌助詩狂。（鍾）</p>
<p>詩酒生平我自憐，（李）早間忙起整花鈿。（董）老人不解關心事，（張）不醉梅邊醉月邊。（鍾）呂批　云開月朗，鳥語花香</p>
<p>天上人間酒早傳，（李）春風時醉碧雲端。（董）鶴童扶我瑤階去，（張）睡到蓬萊不計年。（鍾）李批　筆歌墨舞</p>
<p>題壽（華文母壽）</p>
<p>鶴算添籌五十年，（呂）桂子留香待晚天。（李）蟠桃已熟三千歲，（董）壽到人間梅蕊鮮。（張）</p>
<p>題華文</p>
<p>桂子春間樹已黃，（曹）早開雨露也生香，不知到處雲霞靜，（董）一派青光照玉堂。（李）　春天亦有開花者，名曰四季桂</p>
<p>無題</p>
<p>早間留飲玉爐香，（李）草色青青粉蝶狂。（何）春色染衣天桂馥，（董）秋光拂袖月娥裳。（許）</p>
<p>蹇驢踏亂雲霞碎，（果）白鶴沖空詩客忙。（鍾）雙劍龍飛牛鬥暗，（呂）一枝梅影臘初黃。（張）</p>
<p>聯句</p>
<p>燭殘酒正香（得香字）</p>
<p>燭月交輝影正雙，（舉）常將斗酒度天香。（李）一生醉倒新詩俊，（董）半世看他早掛霜。（張）今朝且飲杯中酒，（果）古往還須日內藏。（呂）幸得新春元旦節，梅花香馥染衣裳。（高）</p>
<p>和前題　鶴亭</p>
<p>窗前紅燭淚凝脂，蟻綠香濃正及時。葭管未吹冬至日，酒酣融暖夜深期。</p>
<p>漏深殘燭結成花，美酒香濃落彩霞。梅影帶煙籠月淡，風寒浸竹數枝斜。一汪紅淚心偏熱，滿泛青樽興倍賒。鶴唳長空仙駕返，銀河早渡鬥牛槎。呂批　切有韻致</p>
<p>三鶴蹁躚攀醉仙</p>
<p>云外翱翔片羽高，攀援仙駕醉仙桃。（舉）一杯濁酒消寒夜，（亭）萬里祥光映海濤，（鳴）將掛浮雲朝日淡，（李）且看飛鶴晚風飄。（呂）朝班共拜招群侶，（董）四野昇平性盡豪。（果）</p>
<p>和前題　鶴亭</p>
<p>三鶴飛鳴徹九天，翱翔踏破碧雲煙。梨花隊內翻輕雪，月夜空明繞綺筵。素羽瑤臺看並潔，瓊枝玉樹倍爭妍。扶搖海屋添籌算，靜養長生伴醉仙。四仙總批　切興致撥撥</p>
<p>看花賞月</p>
<p>杯酒論詩亦可仙，（舉）看花賞月在春天。人生詩趣全憑韻，（李）警句吟時出自然。（亭）</p>
<p>茶看</p>
<p>清晨一盞色添香，（李）酒後情怡餘味長。（舉）雪水漫烹天外味，（董）梅花浸入嶺頭黃。（果）</p>
<p>岸容待臘將舒柳</p>
<p>舒柳青青伴臘梅，沿河春信早相催。（舉）不知與君一夕話，管里陽生漫度灰。（李）</p>
<p>張批　切題</p>
<p>恭頌八仙詩　張鶴翔</p>
<p>頭挽雙髻與鬢齊，天教散漢樂天倪。終南得遇東華後，憐爾惺惺各自迷。</p>
<p>春秋早將姓名揚，何待唐宮幻術狂。偶控蹇驢留勝蹟，五星談處笑人忙。</p>
<p>煉就金丹正及時，適承招飲赴瑤池。歸來不見前廬舍，借體成仙仙亦奇。</p>
<p>劍氣光芒並鬥牛，敲爻歌罷復搖頭。世人果奉慈悲訓，為善一端樂事悠。</p>
<p>笑看富貴如浮雲，那是榮華那是親。一自雲陽勘破後，悠悠萬古樂長春。</p>
<p>採來仙藥助天和，脫卻塵寰樂事多。覽盡山青與水秀，清風明月莫蹉跎。</p>
<p>早知道味便辭家，俗骨焉能泛海槎。欲度世人難遍度，一聲玉笛落天花。</p>
<p>勤掃天花正是修，蓮生淨土復何求。自從瑤島頻頻赴，洞府閒閒自在遊。</p>
<p>恭頌八仙詩　沈度世</p>
<p>蓬萊仙島日遲遲，鶴髮童顏兩髻垂。真訣自從東帝得，醉時海上弄蛟螭。</p>
<p>西嶽優遊已有年，五星學術貫人天。閒從南極消棋局，頻赴蟠桃玳瑁筵。</p>
<p>煉就真神出世塵，妍雖軀殼有何瞋。丹成笑指白雲去，洞里乾坤盡是春。</p>
<p>術成九九道歸一，煉就長生不老形。黃鶴樓頭雲影散，瀟湘江上數峰青。</p>
<p>厭棄人間富貴身，宮袍卸卻道袍新。月明滄海群仙會，醉到沉沉不厭頻。</p>
<p>西湖湖畔養天和，養得天和樂事多。籃滿長生新採藥，醉看明月笑呵呵。</p>
<p>聲明不繼斗山高，雲夢潛修仙骨豪。湘子喬頭功德遠，粵人競頌舊春膏。</p>
<p>奉帚平明掃落花，云衣五色燦奇葩。邯鄲夢覺同歸道，瑤島春和歲月賒。</p>
<p>又頌眾仙詩</p>
<p>李白大仙</p>
<p>百首新詞萬古傳，沉香亭畔筆生妍。至今猶憶長安市，詩在人間月在天。</p>
<p>華大仙</p>
<p>醫聖聲名大漢傳，奸雄不識是明賢。青囊雖失千秋後，猶幸仙蹤屢降緣。</p>
<p>昴日星君</p>
<p>高寄陽宗燦日華，天衣五色映雲霞。神明滄海龍宮術，不忍生靈伏枕嗟。</p>
<p>葛大仙</p>
<p>共沐休和自在天，神遊海上幾千年。藥爐丹灶依稀在，不料仙輿遇目前。</p>
<p><u>嘉慶二年暮春弟子沈度世敬頌</u></p>
<p>呂大仙序</p>
<p>名高紫府，洞分上下之殊。望重赤城，仙判天人之別。數符乾剛之健，德備</p>
<p>純陽道深，坎離之功，煉成升舉。溯居里於中州，山清水秀。詳</p>
<p>誕生於天寶，鳳舞鸞翔。幼而岐嶷，早具仙風道骨。壯而俊異陶情，飲酒賦詩，功名不足，攖心富貴如同敝屣。遇鍾離而傳道術，八洞稱尊，居蓬島而任慈航，眾生共仰。邯鄲道上，黃糧感悟盧生，岳陽樓中，白酒瞞過世俗。昔授採訪之使，職任</p>
<p>九天今勤，翼贊之勞。身居四相，世間甲子，不囿支幹，洞里乾坤，別有天地。數局殘棋江月曉，魚躍鳶飛，一聲長嘯海天秋。落花流水，醉余歸去，笑指白雲，笛吹曲終，江余青岫，以是為頌。</p>
<p>岍惟知仙之當敬也。至降乩醫病，暢飲賦詩，一堂歡聚，婉若相親，實平生僅聞，而未及見者。丙辰秋，柏君、鶴亭招余館於尉署，公餘之暇，酌酒論詩，余雖不敏，勉步後塵，相習五月，晝夜無間，時有佳題，必請眾仙唱和，我輩亦伺其側，積累日深，新詩不下百餘首。誠恐散失零落，故有刊刻之舉。鶴亭又請壽世濟人仙方，即經驗良方，一併梓傳，均蒙仙諾。所以數月以來，仙駕臨機。耳提面命，字斟句酌，而不憚煩者，皆鶴亭濟世之誠，有孚於眾仙，好生之婆心也。岍素性愚昧，今亦得與周旋，幸何如之，仙曰有緣，余小子敬以誌喜，俾覽斯集者，亦識其由來也。</p>
<p>丙辰嘉平月中浣之日，清苑弟子，鶴舉、張岍謹識於篇末。</p>
<p>英自巳酉去齊，歸紹舌耕，以延餘年，本無四方之志。偶憶故人遊於晉陽，遇柏公鶴亭者，吾舊知名於曹單之間，想夙緣已定，故逢於晉，教導令嗣華文。忽於乙卯秋間，身染不寐之症，醫藥罔效，自問不能復起，偶逢張子涇源鶴亭，請昴日星君，賜方十劑而愈。愈後更加強健，又逢果老仙師降壇，教以五星八字。余素日留心，星平而實未遇高明者，今得蒙仙師指示，遂覺茅塞頓開，英雖駑駘，敢不黽勉從事，以副大仙諄諄教誨之意耳。古越弟子鶴鳴王天英謹識。</p>
<p>瑞非雅人，而頗不耐俗事。少小失學，以致空疏，遇筆墨事，未嘗不深為悵也。昔從兄遊於單，父又至曹郡，時見呂君請仙降乩，屢請屢至，瑞心儀焉。嗣因補官晉省，碌碌十餘載，欲學呂君扶鸞，而恐仙不我顧也。丙辰秋月，王君天英、張君岍、沈君暎楓、張君德成，同集於陽曲撲署，共話昔年舊事，遂設壇虔請詎憶，諸仙頻頻降臨，每思諸書所志，仙蹟不一，其說難得真傳。謹遵眾仙口示，一屏俗說之誤，又按症求方，必先論病源賜方，無不應驗，不可盡述。至到壇必有詩詞，或於風晴月朗，眾仙聯句，瑞等亦參其際，所得詩句甚多，誠恐日久散失，敬將仙蹟仙詩仙方，刊成一集，什襲珍藏者，正所以志不忘之意云爾。</p>
<p><u>嘉慶元年十二月，既望之吉，鐵嶺弟子鶴亭、柏永瑞敬志於陽曲撲署凝碧西軒。</u></p>
