<header data-type="book">
<h1>瘧利成法</h1>
</header>

<h1>序</h1>
<p>瘧、利兩症，每年於夏秋兩季，所在多有。大抵由寒熱夾雜、飲食不調所致。診治得法，藥數服可愈。乃近見患此者，或數月始瘳，或竟以不起。根究其由，率皆用藥之誤。五邑王先生祉庭，人品高潔，學問深邃，人徒見其文章，而不知其深明於醫學也。壬午，余同客金陵，其年寒暑不時，同鄉人率多患瘧、利，其應募營伍者，死亡相繼，惟吾友胡君蔗農、李君石舫、吳君少云、易君桐仙，皆先生主治，隨手取效。去年餘病瘧，凡四閱月而愈；今年復發，問方先生，不數劑而病霍如也。因勸著為書以廣其傳，越日稿出，各僅三方。余問曰：人體之強弱，受病之淺深，自然各異，而先生概以三方，得毋泥乎？曰：非泥也，體之強弱，病之淺深，誠哉不同，而受病之由與病之在某經，則無不同。如瘧之在少陽，痢之在陽明，千萬人如一轍，惟於第二方中，善為變通而已。且驪珠在握，自無須多方。若今日用某藥，明日用某藥，非涼即溫，茫無把握，如攻敵然，有敵之處，兵甲不加，無敵之處，肆行屠戮，欲其不死也得乎？予雖用三方，其實只二方也。先生之治病，其有定見如此。曩先生有《白喉辨症》之刻，匿其名，現已不脛而走。是書之出，殆又有甚焉者與。外戒洋菸方，亦先生所得諸友人者，較林文忠公所傳諸方，其效為尤捷，因附刊於後。</p>
<p><u>光緒八年同邑蔣世芳序於金陵節署</u></p>

<h1>序</h1>
<p>王君芷庭，吾楚之中湘人也。常耳其為人，輒心敬之，以未得一見為恨。從事今歲來金陵，從事侯相幕中，而先生在焉，乃得親其言論風采，覺品概之高，學問之邃，顧視流輩，無與倫比，益深佩之，而未知先生之精於醫學也。適今夏金陵寒暑不時，同輩患瘧者踵相接，王君出方治之，應手輒愈。問其術何神？曰：無多方也，瘧之為疾，僅在一經，非如傷寒，一日傳一經，甚至兩經、三經合病也，惟導之使出，遏之不使入，解其表，清其熱，毋誤用別經藥而已。因念吾鄉人來此，病瘧而死者，已不乏人，商之同鄉蔣君蘋笙，將王君所著三方付之剞劂氏，並倡資印送，如世俗善書之例。嗟乎！醫之為道，學者多以為雜伎而不屑為，而市井之徒，每挾方書以為利藪，投之偶效，遂驚以為神，而聲價倍增；及其不效，則諉之曰命限之也，抑孰知其誤人不淺哉！先生非業此者，其著為此方，固其慈愛惻怛之衷流露而不容已也，推而廣之，其亦濟人之一道也夫！</p>
<p><u>光緒壬午長沙李宗裕序於金陵節署之東偏</u></p>

<h1>治瘧三方</h1>
<p>瘧症，惟食力者居多，朝夕奔馳，寒暑莫避，故易成瘧。士人則失於調護，或朝受寒、夕受熱，或朝受熱、夕受寒，日復一日，因而寒熱交戰，致成瘧疾。其症在半表半裡之際，未曾入里，切不可用細辛及川芎、獨活，以其引入陰分也；即白芷、葛根，雖系陽分，亦不可用，以其引入陽明也。法宜使邪從太陽經出，縱體氣虛弱，亦宜先治其標，不可固本，致邪遏而不得出路。特製三方，循序服之，百不失一。今俗醫每用檳榔、常山、草果以截之，鱉甲以清之，甚者謂瘧有鬼，用雄黃、蒼朮以闢之，種種惡習，尤為可惡。有時而必須截者，因誤服藥方，淹至數月之久，而瘧仍不止，體氣已經疲憊，不得不於補劑中而稍佐以常山、草果耳。大抵外感病，不外風、寒、暑、濕，治者察其為某經，即用某經藥。如當用羌、防而用麻黃、細辛；當僅用黃芩而用大黃、石膏，一風馬牛不相及，一割雞焉用牛刀，不惟病不能痊，直致人於死地矣。且瘧疾非死症也，每年夏秋之交，因瘧而死者，不知凡幾，愚夫愚婦，不以為藥方之誤用，反以為天疫之流行，而醫生亦竟以天數難回，坦然循其故技而不知悔悟，可概也。特將所制三方備錄於後。</p>

<h2>第一方</h2>
<p>半夏（五錢，抖碎）　老薑（五錢，要用戥稱准，初出子姜不可用，恐其助熱）。桂枝（三錢）　生白芍（三錢，忽冷忽熱，營衛不調也，二味能和營衛）　羌活（三錢）　防風（三錢，二味太陽經藥也）　陳皮（一錢）　甘草（一錢）</p>
<p>此方宜每日服兩劑或三劑以至五六劑為度，初無甚效，不過升提至太陽經而已；或平日戌亥時發，提至午未時；或平日午未時發，提至辰巳時。提至辰巳時，可服第二方；若服五六劑而仍在午未時發者，可轉服第二方。外兼嘔瀉之症，半夏加三錢，山楂錢半，麥芽三錢。</p>

<h2>第二方</h2>
<p>西洋參（二錢，切片，先煎）　半夏（三錢）　柴胡（二錢）　黃芩（二錢）　桂枝（三錢）　生白芍（三錢）　青皮（錢半）　青蒿（錢半）　甘草（一錢）　老薑（三錢）</p>
<p>此方宜審定寒多熱少、寒少熱多而斟酌用之：如畏冷有一時之久，發熱只半個時辰，則寒多熱少也；畏冷只半個時辰，發熱有一時之久，則熱多寒少也。寒多熱少者，照本方分量；寒少熱多者，去半夏，改貝母三錢，加炒梔仁二錢，桂枝減一錢，老薑減一錢；若總在午未後發，則加升麻八分，否則不用。宜服六劑之後，自然口味開而思食矣。若口味不開，每日寒熱尚有數刻之久，宜再服二劑，不須改方。</p>

<h2>第三方</h2>
<p>黨參（四錢）　首烏（六錢）　當歸（三錢）　酒芍（三錢）　青皮（錢半）　桂枝（三錢）　半夏（三錢）　陳皮（一錢）　炙草（一錢）　老薑（三片）</p>
<p>或有餘熱，再加酒芩一錢，青蒿一錢。</p>
<p>此方不過調氣養肝，珍盡餘孽，為善後之舉，和平中正，無他異也。體強者，服數劑即止，不必再服他藥，致生變端；體弱者，亦須變通，如平日陽虛，仍用耆、朮、薑、附等藥，氣虛用補中益氣湯，陰虛用六味地黃湯，隨症用藥而已。忌食豬肉、扁豆、椒、蒜、雞魚羊肉，雖已痊愈，亦恐復發。</p>

<h1>治痢三方</h1>
<p>痢病非驟而致，平日陰受寒熱暑濕，又多吃油膩生冷之物，積滯於腸胃間，不能消化，久而成痢。寒多者，色白；熱多者，色紅。阻滯中焦，以致上不能食，下不能通，雖用厚朴、木香、檳榔、枳實一切破滯之品，而氣仍不能暢，且因攻伐太過，大傷元氣，以至於死。幸而不死者，往往淹至數月之久，不期而自愈，且其餘孽尚留，有次年而復發者。予曩患此症，延醫診治，亦無非厚朴、檳榔之屬，四閱月而後愈。明年復發，余自用滌盪之法，家人以予瘦弱，勸止之不聽，數日而愈。余以之治人，無不隨手立效。其方有三，開列於後。</p>

<h2>第一方</h2>
<p>防風（二錢）　羌活（錢半）　獨活（錢半）　柴胡（錢半）　桔梗（二錢）　白芷（二錢）　荊芥（一錢）　枳殼（錢半）　山楂（一錢）　麥芽（二錢）　老薑（三片）　甘草（一錢）</p>
<p>此方宜服三劑，卻無他效，不過宣通周身經絡，使無阻滯，且所積受之寒熱暑濕，亦宜宣發，庶無發熱畏寒諸症也。</p>

<h2>第二方</h2>
<p>桂枝（三錢）　乾薑（二錢，二味去表裡之寒）　茯苓（三錢）　澤瀉（三錢。二味去周身之濕）　桔梗（二錢，肺與大腸相表裡，欲用下劑，故宜宣肺）　升麻（一錢，凡事欲抑必先揚，今欲下之，故用升提之法，且能引入腸胃也）　枳實（一錢五分）　生大黃（三錢，枳實破滯，大黃則用以滌盪腸胃積垢也。若盡白色者，用一錢；久痢者，亦用一錢。雖發熱畏寒，俱不忌）</p>
<p>此方斟酌盡善，凡寒熱暑濕及所吃積滯之物一網打盡，故易獲效。恐其寒胃，有薑、桂以溫之；恐其下陷，有升麻、桔梗以固之，雖體弱，無傷也。但服大黃有不即下者，外用通大海七個，開水泡之，加生蜜一兩，將蜜並通大海吃盡，每藥一劑，吃一次，無不下者。下後，暢快之極，並不受傷。病輕者，兩劑或三劑；病重者，三劑或四劑，可行則行，可止則止，不能預定，必使內無餘孽而後己。</p>

<h2>第三方</h2>
<p>黨參（三錢）　白朮（三錢）　蒼朮（三錢）　法夏（三錢）　扁豆（三錢）　砂仁（一錢）　藿香（三錢）　茯苓（三錢）　澤瀉（二錢）　炙草（錢半）　老薑（三片）　升麻（八分）</p>
<p>此方不過於下後調和脾胃，使進飲食，別無妙處。但病後飲食不可過量，每日吃粥三次更好。舊有《痢症匯參》一書，所列痢症名目、藥方概不可信。如噤口痢、五色痢，特病之甚者耳，其治法亦須如此。有不效者，用巴豆三粒，制好，和飯為丸，作三次吞。一次已下，不必再吞，此斬關法也。又有患痢數月而終不止者，或僅有白色而無紅色者，則減輕大黃，服二三劑，即服第三方，再服理中湯加黨參、附子。</p>
<p>以上二症所制六方，天時、地利、人事三者具盡，蓋無論夏月冬月、南方北方、體強體弱，皆可一律施行，斷無錯誤，此予所屢經治驗者也。吾楚南之客遊金陵者，多染此症，而食力之輩，死者尤多，限於數，實誤於醫，可為浩嘆。長沙李云樵孝廉、湘鄉王謹臣軍門、同邑蔣蘋生孝廉、唐卓人封君、黎壺山司馬、黃佩皆太守囑余酌定數方，各捐貲刊送，廣為傳布。余於醫道未曾專習，見理亦不甚晰，雖幸而獲效，究不敢自信也，僅將平日治驗之方並其管見所及錄之，以副同鄉諸君濟人之厚意云。自識。</p>

<h1>附：戒洋菸神驗方</h1>
<p>厚杜仲（二錢，鹽水炒）　龍骨（三錢，研）　吧噠杏仁（二錢）　廣鬱金（三錢）　牡蠣（三錢，煅粉）　毛狗脊（三錢）　罌粟花（三錢）　鶴蝨（三錢）　懷慶牛膝（三錢）　旋覆花（一錢，絹包）　甘草（三錢）　西川續斷（一錢）　使君子（三錢）　老薑（三兩）　道地雲苓（三錢）　大土皮（一兩，去盡字紙）　食鹽（一酒杯，炒）</p>
<p>上藥十七味，煎成濃汁，每日於未發癮之先，將開水燙熱一大鐘，視癮之大小，酌服藥汁多少，服一頓即斷一頓煙，如不能止癮，再添服藥汁，斷不可吃煙。服二三劑後，將大土皮漸次遞減，減至絕無土皮，其藥亦可不服矣。戒斷之後，切勿再吸一口，以免前功盡棄，是為至要。</p>
<p>一顧某，浙江人，其癮大，每日吃煙一兩；沈某，湖北人，其癮小，每日吃煙三錢。後得此方，同日戒菸，顧某服至七劑而癮斷，沈某服至四劑而癮已斷，恐未除根，多服一劑，俱未服他藥，而食量大進。</p>
<p>一友人朱某，因病吃煙，遂成癮，每日四錢，屢戒而癮不能斷，余授以此方。朱某系候補人員，公事奔馳，煎熬攜帶俱不便，改為丸，不用大土皮，以菸灰過籠，如熬煙一般，第一劑用菸灰四錢，第二劑用三錢，第三劑用二錢，第四劑用一錢，每日吃四次，每次吃二十顆。據云服第二劑，飯量已進；吃第三劑，並思吃酒，其癮已斷，但不放心耳，故減灰一錢，多吃一劑，以後則並不用灰矣。但以灰和丸，不如用大土皮熬膏，其效更速，即大癮不過數日即斷也。</p>
