<header data-type="book">
<h1>外科經驗方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>薛己</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1528">公元1528年</data></dd></div>
<div><dt>底本</dt><dd>明刊本</dd></div>
</dl>
</header>

<h1>腫瘍</h1>
<p><u>人參敗毒散</u>　加荊芥、防風名荊防敗毒散。治癰疽、疔腫、發背、乳癰等證，增寒壯熱，甚至頭痛拘急，狀似傷寒者，宜服一二劑以衰其毒，輕則內自消。若至六七日不消，可服托裡消毒散。</p>
<p>人參　前胡　柴胡　羌活　獨活　川芎　桔梗　枳殼（麩炒）　茯苓　甘草（各一錢）</p>
<p>作一劑，水二鍾，煎八分，食遠服。如熱甚，或痛甚者加黃芩、黃連。大便不通，量加大黃（煨）、朴硝。</p>
<p><u>托裡消毒散</u>　治一切癰疽，服前藥不消者，宜服此藥。未成即消，已成即潰，腐肉易去，新肉易生。如有瘡口，宜貼膏藥，斂即不用，切忌早敷生肌之藥。</p>
<p>人參　黃耆（鹽水拌，炒）　當歸（酒拌）　川芎　芍藥（炒）　白朮（炒）　茯苓（各一錢）　白芷　金銀花（各七分）　甘草（五分）</p>
<p>作一劑，水二鍾，煎至八分。瘡在上，食後服。瘡在下，食前服。</p>
<p><u>仙方活命散</u>　治一切癰疽疔腫，不問腫潰。</p>
<p>穿山甲（同蛤粉炒黃色）　甘草節　防風　沒藥　赤芍藥　白芷（各六分）　當歸尾　乳香（各一錢）　天花粉　貝母　皂角刺（各八分）　金銀花　陳皮（各三錢）</p>
<p>作一劑，用酒一大碗，同入瓶內，紙糊瓶口，慢火煎數沸，去柤。病在上，食後服。病在下，食前服。能飲酒者，服藥後再飲三兩杯尤好。</p>
<p><u>金銀花湯</u>　治一切癰疽、發背、疔瘡，及喉閉、乳蛾等證。用金銀花藤葉，搗爛取汁半鍾，和熱酒半鍾，溫服。甚者不過三五服，可保無虞。</p>
<p><u>忍冬藤酒</u>　一名金銀花酒。治食膏粱炙煿過多，及服金石補藥，日久發疽，預服免患。</p>
<p>忍冬藤（鮮者五兩，乾者一兩）　大甘草節（一兩）</p>
<p>作一劑，用水三鍾，煎至二鍾，入無灰好酒一鍾，再煎十餘沸，去柤。分三次服，能飲酒者一次服。另取藤搗爛，酒調敷患處，中留頭出毒，干再搽。</p>
<p><u>槐花酒</u>　治發背及一切瘡毒，不問已成未成，但焮痛者並治之。</p>
<p>用槐花四五兩，微炒黃，乘熱入酒二鍾，煎十餘沸，去柤。熱服，未成者二三服，已成者一二服。</p>
<p>治癰疽、發背、疔腫、惡瘡，一二日至五六日，不問痛否，取大蒜切片，如三錢厚，置瘡頭上，用艾壯於蒜上灸之，三壯換蒜。痛者灸至不痛，不痛者灸至痛，毒氣自然隨火而散。丹溪云：火以暢達，拔引郁毒。此從治之意。若瘡頭多，即用大蒜搗爛敷患處，攤於蒜上燒之，更服槐花酒一二劑。若至數日，不甚腫痛及不腐潰者，此屬血氣不足，尤當多炙，及服溫補藥，切忌寒涼之劑。</p>
<p><u>神功散</u>　治發背、癰疽及諸瘡，不問腫潰，並治之。</p>
<p>黃柏（炒為末，一兩）　草烏（炒為末，一兩）</p>
<p>用漱口水，調入香油少許，搽患處。如干，仍用水潤之。</p>

<h1>潰瘍</h1>
<p><u>黃耆人參湯</u>　治諸瘡潰後，食少倦怠，口舌乾燥，或寒熱往來，驚悸少睡，並治之。</p>
<p>黃耆（鹽水拌，炒，三錢）　人參　白朮（炒）　蒼朮（米泔水浸，炒，一錢）　陳皮（一錢）　當歸（酒拌）　炙甘草（一錢）　麥門冬（五分，去心，胃寒不用）　神麯（五分，炒）　升麻（一分）　黃柏（三分，酒炒，腹不實者去之）　五味子（搗碎，炒，五分）</p>
<p>作一劑，用水二鍾，姜三片，煎至一鍾，食遠服。如少睡，加酸棗仁（炒一錢）。肌肉遲生，加白斂（去皮，一錢）。</p>
<p><u>乳香止痛散</u>　治諸瘡潰爛，疼痛不忍。</p>
<p>乳香　沒藥（各二錢）　寒水石（煅）　滑石（各四錢）　冰片（半分）</p>
<p>為細末，搽患處。</p>
<p><u>雄黃解毒散</u>　治一切癰腫潰爛毒熱甚者，先用此藥二三次，以後用豬蹄湯。</p>
<p>雄黃（一兩）　白礬（四兩）　寒水石（一兩，煅）</p>
<p>用滾水二三碗，乘熱入前藥一兩，洗患處，以太乙膏或神異膏貼之。</p>
<p><u>豬蹄湯</u>　治一切癰疽，消腫毒，去惡肉，潤瘡口，止痛。</p>
<p>白芷　黃芩　當歸　羌活　赤芍藥　生甘草　露蜂房（蜂兒多者佳，各五錢）</p>
<p>用豬蹄一雙，水四五碗，煮熟去油柤。入前藥，煎數沸，去柤。溫洗，隨用前膏藥貼之。</p>
<p><u>神仙蠟礬丸</u>　治癰疽及腸癰，托裡消毒，固臟腑，止膿血。</p>
<p>黃蠟（七錢）　白礬（一兩，細研）</p>
<p>熔蠟，候溫入礬末，和勻，丸梧子大。每服三五十丸，食遠滾湯送下。</p>
<p>治諸瘡久不合口，用炮附子去皮尖，為細末，唾津和，隨瘡大小作餅置患處，用艾壯於餅上灸之，更服大補氣血藥。用江西豆豉為餅，多灸之，亦效。</p>
<p><u>加減八味丸</u>　治疽痊後及將痊，口乾渴，舌或堅黃，及未病先渴，益腎水，制心火。</p>
<p>肉桂（一兩）　山茱萸（用肉，酒拌搗膏）　山藥（各四兩）　澤瀉（蒸，三兩）　五味子（微炒，四兩）　牡丹皮（白者佳）　白茯苓（各二兩）　熟地黃（八兩，酒拌搗膏）</p>
<p>為末，入二膏，加蜜丸梧子大。每服七八十丸，空心鹽湯送下。</p>
<p><u>太乙靈應膏</u>　治一切瘡疽，及跌打損傷，寒濕疾痛。</p>
<p>玄參　大黃　肉桂　白芷　生地黃　芍藥　當歸（各兩）</p>
<p>為咀，用香油二斤，浸五七日，煎至黑色，去柤，徐徐下黃丹一斤，再煎二十餘滾，滴水成珠，即為膏矣。加沒藥、乳香一兩亦可。</p>

<h1>疔瘡</h1>
<p><u>奪命丹</u>　治諸般腫毒疔瘡。</p>
<p>蟾酥　輕粉（各五分）　硃砂（三錢）　白礬（枯）　寒水石（煅）　銅綠（各一錢）　蝸牛（二十個，別研如泥。一方無，亦可）　乳香　沒藥　麝香（各一錢）</p>
<p>為末，將蝸牛泥為丸。如丸不就，加酒糊少許，丸如綠豆大。每服一二丸，用生蒜頭三莖嚼爛，同藥以熱酒送下。出汗為度，無汗再進一服。</p>
<p>疔瘡之證，初生其狀甚微，多在四肢頭面骨節之處，癢痛難忍，增寒壯熱，可服荊防敗毒散一二劑，或奪命丹一服。若有紅絲，自瘡向腹走者，宜撥破瘡頭，去惡血，以膏藥封貼。如針之不痛，可用奪命丹一粒，入瘡內，毒即消。如生唇面口內，有紫筋者，宜挑斷，吐去毒血，噙奪命丹一二粒。毒入喉入腹，俱不治。</p>
<p><u>槐花酒</u>　治一切疔瘡腫毒（方見前。）</p>
<p><u>忍冬藤酒</u>　治一切疔毒，及發背、癰疽並治之（方見前）。</p>

<h1>乳癰</h1>
<p><u>神效瓜蔞散</u>　治乳癰乳勞。</p>
<p>瓜蔞（大者一個，搗）　甘草（半兩）　當歸（半兩）　沒藥（另研）　乳香（各一錢，另研）</p>
<p>作一劑，用酒三碗，煎至二碗。分三次，食後飲，柤熱罨處。陳良甫云：如有乳勞，便服此散，可杜絕病根。如毒已成，能化膿為水。毒未成者，則從大小便散之。</p>
<p><u>消毒散</u>　治吹乳、乳癰，並便毒。如增寒壯熱，或頭痛者，宜先服人參敗毒散一二服，方可服。此藥如無前證，即服此藥二三劑。或腫不消，宜服托裡藥。</p>
<p>青皮（去白）　金銀花　天花粉　柴胡　殭蠶（炒）　貝母　當歸（酒拌）　白芷（各二錢）</p>
<p>用水二鍾，煎至一鍾，食遠服。如便毒加大黃（煨一錢），空心服。</p>
<p><u>又方</u>　治吹乳、乳癰，不問已成未成，用蒲公英一握（春時開黃花），搗爛入酒半鍾，取酒溫服，柤貼患處，甚者不過三五服即愈。</p>

<h1>瘰癧</h1>
<p>瘰癧者，結核是也，或在耳前，連及頤頷，下至缺盆（在鑽子骨陷），皆謂瘰癧，手少陽三焦經主之。或在胸，及胸之側，皆謂馬刀瘡，手少陽膽經主之。大抵二經多氣少血，初生如豆粒，漸如梅李核，或一粒，或三五粒，按之則動而微痛，不甚熱，惟午後微熱，或夜間口乾，飲食少思，四肢倦怠，或堅而不潰，潰而不合，皆由血氣不足，故往往變為瘵勞。況其症原不繫膏粱丹毒之變，因虛勞氣鬱所致，宜以益氣養榮之藥治之，其瘡自消。若不詳脈證經絡受證之異，及虛實之殊，概用追蝕毒藥，及牽牛、斑蝥、流氣飲，十宣散、敗毒散治之，則先犯病禁經禁，以致血氣愈損，反為敗證矣，可不慎哉。丹溪亦云：或有風毒、熱毒、氣毒之異，更宜斟酌而治之。</p>
<p><u>益氣養榮湯</u>　治抑鬱，及勞傷氣血，頸項或四肢腫硬，或軟而不赤不痛，日晡微熱，或潰而不斂，並治之。</p>
<p>人參（一錢）　白朮（炒，二錢）　茯苓　陳皮　貝母　香附子　當歸（酒拌）　川芎　黃耆（鹽水拌炒）　熟地黃（酒拌）　芍藥（炒）　桔梗　甘草（炒，各一錢）</p>
<p>作一劑，姜三片，用水二鍾，煎至八分，食遠服。</p>
<p>胸痞，人參、熟地黃（各減三分）；口乾，加五味子、麥門冬；往來寒熱，加軟柴胡、地骨皮；膿清加人參、黃耆；膿多加川芎、當歸；膿不止，加人參、黃耆、當歸；肌肉遲生，加白斂、官桂。</p>
<p><u>夏枯草湯</u>　治瘰癧馬刀，不問已潰未潰，或日久成漏，用夏枯草六兩，水二鍾，煎至七分，去柤，食遠服。此生血治瘰癧之聖藥，虛甚當煎濃膏服，並塗患處，多服益善。兼十全大補湯加香附子、貝母、遠志尤善。</p>
<p>治瘰癧已成未成，已潰未潰，以手仰置肩上，微舉起，則肘骨尖自見，是灸處。如患在左，灸左肘；患在右，灸右肘；若左右俱患，兩肘皆灸。灸以三四十壯為度，更服補劑。灸三次，瘡自除。如患三四年不愈者，辰時灸至申時，三灸即愈，更服益氣養榮湯。</p>
<p><u>又方</u>　灸瘰癧未成膿者，用大蒜切片，如三錢厚，安患處，用艾壯於蒜灸之，至三壯換蒜，每日灸十數蒜片，以拔郁毒。如破久不合，內有核，或瘀肉，此因血氣不足，不能腐爛，以銅錢挺輕輕連衣膜取去，縱取重亦不痛，不必畏懼。更用江西豆豉為末，唾津和為餅，如前灸之，以助陽氣，內服補藥，外貼琥珀膏或太乙膏，瘡口自合。</p>
<p><u>又方</u>　治瘰癧已破核不腐，致瘡口不斂；或貼琥珀膏不應，用時效針頭散敷之，以去腐肉，以如神散敷之，更服益氣養榮湯。若血氣虛者，先服益氣養榮湯，待氣血稍充，方用針頭散，仍服前湯。</p>
<p><u>如神散</u>　治瘰癧已破，瘡口未合。</p>
<p>松香末（一兩）　白礬（三錢）</p>
<p>為細末，油調搽，干糝亦可。</p>
<p><u>散腫潰堅丸</u>　治瘰癧馬刀瘡，服益氣養榮湯不能消散者，宜服此丸，五日又服益氣湯，五日如此相兼。服之不應，以針頭散敷之。</p>
<p>知母（酒拌，炒）　黃柏（酒拌，炒）　瓜蔞根（酒拌）　昆布（酒拌，炒）　桔梗　黃耆（酒拌，炒）　連翹　黃連（炒）　京三稜（酒拌，炒）　葛根　白芍藥（各二錢）　升麻　當歸梢（酒拌）　柴胡　甘草（各一兩）　草龍膽（四兩，酒炒）　黃芩（一錢五分，一半酒炒，一半生用）</p>
<p>為細末，煉蜜丸如綠豆大。每服一百丸，或一百五十丸，滾湯送下。</p>
<p><u>加味敗毒散</u>（即荊防敗毒散加牛蒡子、玄參）　治風熱上壅，項痛，或因怒氣，增寒壯熱。如四五劑不退，宜服益氣養榮湯（方見前）。</p>
<p><u>神秘散</u>　治瘰癧，服散堅丸及養血氣藥不應者，宜進此藥，更以養血氣藥服之。</p>
<p>斑蝥（二十一個，去頭足翅，同糯米炒，去米不用，為末）　荊芥穗末（二錢）　黑牽牛末（炒，一錢）　直殭蠶末（炒，二錢）</p>
<p>和勻，每服一錢，五更溫酒調下，日午惡物從小便中下。如小便澀或痛，宜以蔥茶湯或木通湯即下，更吃米粥補入。不下，次日五更再服，必以下為度。若脈細澀，或洪大無力者，不可服。</p>
<p><u>時效針頭散</u>　追蝕惡瘡瘀肉。</p>
<p>赤石（半兩）　乳香　白丁香（各二錢）　砒（生用）　黃丹（各一錢）　輕粉　麝香　蜈蚣（一條，焙）</p>
<p>為細末，糝於瘀肉上，或瘡口小就搽瘡口上，肉自去，更以膏藥貼之，肉亦去。嘗用砒末二錢，以白礬末二錢和勻，同飛過，用礬一錢，合藥亦效，但不及生砒之功速耳。</p>
<p><u>琥珀膏</u>　治瘰癧腫硬，或穿破，膿水不絕，經久不瘥，或成瘻疾，及癰疽，並貼之，更服益氣養榮湯。</p>
<p>琥珀　丁香　木香（各三錢）　桂心（半兩）　硃砂（細研）　白芷　當歸　防風（去蘆）　木鱉子（去殼）　木通（各半兩）　黃丹（七兩）　柳枝（三兩）　松脂（二兩）　麻油（一斤二兩）</p>
<p>內除琥珀、丁香、桂心、硃砂、木香為細末，余藥銼咀，以油浸五日，入鐺中，以慢火熬，候白芷焦色，濾去，下松脂末及黃丹，以柳枝不住手攪，滴水中試軟硬，如軟再煎得中，方入琥珀等末攪勻，磁器盛貯，用旋攤咽喉口齒。</p>
<p><u>清胃散</u>　治胃經有熱，牙齒或牙齦腫痛，或牽引頭腦，或面上發熱，並治之。</p>
<p>當歸身（酒拌）　黃連　生地黃（俱酒製，各一錢）　牡丹皮（一錢五分）　升麻（二錢）</p>
<p>作一劑，用水二鍾，煎至七分，食遠服。</p>
<p><u>玄參升麻湯</u>　治心脾壅熱，舌上生瘡，或木舌重舌，或連頰兩邊痛腫，並治之。</p>
<p>玄參　赤芍藥　升麻　犀角（鎊末）　桔梗　貫眾　黃芩（各一錢）　甘草（錢半）</p>
<p>作一劑，水二鍾，煎八分，入犀角，食後服。</p>
<p><u>槐花散</u>　治口舌生瘡。</p>
<p>玄胡索（一兩）　黃柏（半兩）　密陀僧　青黛（各二錢）</p>
<p>為末，每用少許敷之，有涎吐出再搽。</p>
<p><u>碧雲</u>　治一切積熱，口舌生瘡，心煩喉閉，及牙齒、齒齦作痛。</p>
<p>芒硝　青黛　寒水石（煅）　石膏（煅，各研末，飛）　朴硝　馬牙硝　甘草　滑石（各二兩）</p>
<p>將甘草煎湯二升，入諸藥再煎，用柳枝不住手攪，令消溶，入青黛和勻，傾砂盆內候冷，結凝成霜，取霜研為末。每用少許，含化咽津。如喉閉不能嚥下，用竹管吹藥入喉中。</p>
<p><u>金鑰匙</u>　治一切喉風及痰涎壅塞，水漿不下，不識人事者。宜刺患處，去血即消。或刺少商穴（在左手人指內側去爪甲韭菜許）。急者二處並刺（復繪圖於後。）</p>
<p>焰硝（一兩五錢）　白殭蠶（一錢，炒）　硼砂（五錢）　片腦（二分半）　雄黃（二錢）</p>
<p>研末和勻，以竹管吹入喉中，有涎吐出，內服荊防敗毒散。如大便秘，加大黃、朴硝。</p>
<p><u>破關丹</u>　治乳蛾、喉閉、纏喉風等證。</p>
<p>蓬砂末（五錢）　霜梅肉（一兩，搗爛，二味和勻）</p>
<p>丸芡實大。每服一丸，噙化嚥下。內服荊防敗毒散。</p>
<p><u>又方</u>　治虛火炎上，用炮附子去皮尖，切片噙之。或研為末，用唾津調塗腳心亦可。又方用肉桂為末唅之。</p>
<p><u>治諸骨鯁</u></p>
<p>用象牙末吹患處。又方用五倍子、茶葉為末，吹患處。</p>

<h1>囊癰</h1>
<p><u>加味瀉肝湯</u>　治肝經濕熱不利，陰囊腫痛，或潰爛皮脫，睪丸懸掛，或便毒，及下疳腫痛，或潰爛，並治之。</p>
<p>龍膽草（酒拌，炒）　當歸梢　車前子（炒）　澤瀉　生地黃　芍藥（炒）　黃連（炒）　黃柏（酒拌，炒）　知母（酒拌，炒）　防風（各一錢）　甘草梢（五分）</p>
<p>作一劑，水二鍾，煎八分，食前服，外敷烏金散。</p>
<p><u>烏金散</u></p>
<p>麩炭　紫蘇葉</p>
<p>為末，各等分，香油調搽。</p>
<p><u>加味小柴胡湯</u>　治囊癰腐爛，或飲食少思，日晡發熱。</p>
<p>柴胡　人參　黃芩（炒）　川芎　白朮（炒）　黃耆（鹽水浸，炒）　當歸（酒洗）　甘草　黃柏（酒拌，炒）　知母（酒拌，炒，各一錢）　半夏（五分）</p>
<p>作一劑，水二鍾，煎八分，食前服。痛甚加黃連，小便不利加木通。</p>

<h1>下疳</h1>
<p><u>勝金散</u>　治下疳潰爛，或疼痛。</p>
<p>黃連　黃柏　輕粉　硃砂　孩兒茶（各五分）　冰片（一分）</p>
<p>為細末，香油調搽，內服加味瀉肝湯。</p>
<p><u>加味瀉肝湯</u>　治下疳腫痛，或潰爛不愈。（方見前）</p>
<p><u>加味小柴胡湯</u>　治下疳潰爛，發熱少食。（方見前）</p>

<h1>痔瘡（附便血）</h1>
<p><u>槐角丸</u>　治痔漏腫痛，或便血。</p>
<p>槐角（一兩）　防風　地榆　枳殼（麩炒）　當歸（酒洗，各一兩）</p>
<p>為末，煉蜜丸梧桐子大。每服五十丸，空心滾湯下。腫痛或便秘，飲槐花酒。膿多或倦，宜服黃耆人參湯。潰而作痛，宜服乳香止痛散。</p>
<p><u>雙解散</u>　治男子交感強固精氣，以致精血交錯，肛門連拗腫痛，大小便澀滯。</p>
<p>辣桂　大黃（炒）　白芍藥　澤瀉　牽牛（炒搗）　桃仁（去皮尖，各二錢半）　甘草（五分）　乾薑（一錢）</p>
<p>作二劑，水二鍾，煎七分，空心並食前服。</p>
<p><u>秦艽白朮湯</u>　治痔瘡作痛，大便乾燥，或下血。</p>
<p>秦艽　桃仁（去皮尖，研膏）　皂角（煅存性）　枳殼（麩炒）　當歸尾（酒拌）　澤瀉　白朮（各一錢二分）　地榆（一錢，血不止倍之）</p>
<p>作一劑，用水二鍾，煎八分，食前服。</p>
<p><u>祛風潤燥湯</u>　治痔瘡焮腫作痛，大便秘澀。</p>
<p>防風　荊芥　羌活　黃連　黃芩　秦艽　枳殼（各一錢半）　當歸（酒拌）　皂角仁（去皮，燒存性）　桃仁（去皮尖，研了）　澤瀉　紅花（各一錢）　大黃（煅，二錢）</p>
<p>作一劑，用水二鍾，煎八分，食前服。</p>
<p><u>治痔瘡下疳瘡</u></p>
<p>臘月取羊膽一枚，入片腦末一分，置風處，用時以涼水化開，頻敷患處。內服槐子酒，或加味瀉肝湯。熊膽更佳。如眼痛者點之尤效。</p>
<p><u>又方</u>　治痔瘡痛不可忍。</p>
<p>槐樹根（七兩，不犯鐵，搗碎）　片腦末（一分）　指甲草（七顆，蜀人呼為芒草，採餵豬，饑民亦食之，高二三寸）</p>
<p>作一劑，用水二鍾，煎一小盞，入冰片末，候溫，頻敷患處。內服槐子酒。無指甲草亦可。</p>
<p><u>治便紅</u></p>
<p>用黃連、吳茱萸等分，熱湯拌濕，罨一二日同炒，各另為末，各糊為丸如梧子大。每服一二錢。糞前紅服茱萸丸，糞後紅服黃連丸，俱酒下。如四五服不應者，乃氣虛不能攝血，以六君子湯加黃耆、地松治之。再不應，以補中益氣湯倍加柴胡、升麻升舉之。切忌寒涼之劑。</p>

<h1>便癰</h1>
<p><u>雙解散</u>　治男子交感強固精氣，致患便癰腫痛，或發熱，宜用此藥一二服。如不消，更服補中益氣湯。</p>
<p><u>荊防敗毒散</u>　治便癰發寒熱，或頭痛拘急。（方見前）</p>
<p><u>加味瀉肝湯</u>　治便癰腫硬不消，或小便澀滯。（方見前）</p>
<p><u>仙主活命飲</u>　治便癰不潰痛甚。（方見前）</p>
<p><u>托裡消毒散</u>　治便癰不作膿，或不潰。（方見前）</p>
<p><u>加味十全大補湯</u>　治便癰膿清，或不斂。（方見後）</p>
<p><u>神效瓜蔞散</u>　治婦女患便癰不潰，或痛甚，及乳癰，一切癰疽等毒並治之。（方見前）</p>
<p><u>補中益氣湯</u>　治勞役患便癰不消。</p>
<p>人參　黃耆（鹽水拌，炒）　白朮（炒，各一錢五分）　當歸（酒拌）　陳皮（各一錢）　柴胡　升麻（各五分）</p>
<p>作一劑，姜三片，棗二枚，水二鍾，煎八分，食前服。</p>
<p><u>補骨脂散</u>　治不慎房勞，患便癰，或勞役，患此腫痛，並治之。</p>
<p>補骨脂（研，炒，一兩）　牛蒡子（研，炒）　牽牛（研，炒）　大黃（酒拌，炒，各五錢）</p>
<p>為末，每服五錢，痛甚者一兩，空心熱酒調下。</p>
<p><u>制甘草</u>　治便癰腫痛，或焮連莖根。（方見前）</p>

<h1>懸癰</h1>
<p>治懸癰以大甘草，水一鍾浸透，以慢火炙水乾為度。如未成膿者，四五劑。已成膿者，一二劑。酒煎空心服。如小便赤，更服清心蓮子飲三四劑，及托裡滋陰藥。若潰而不斂，宜服大補氣血藥。不謹守者，必成漏證。</p>
<p><u>加味小柴胡湯</u>　治懸癰焮痛發熱，小便赤澀，或憎寒發熱。（方見前）</p>
<p><u>清心連子飲</u>　治懸癰勢退，惟小便赤澀。</p>
<p>黃芩（五錢）　黃耆（蜜炙）　石蓮肉（去心）　人參　赤茯苓（各七錢半）　車前子（炒）　麥門冬（去心）　甘草（炙）　地骨皮　制甘草（法見前）</p>
<p>每服一兩，用水二鍾，煎八分，食前服。如發熱，加柴胡、薄荷。</p>
<p><u>加味托裡散</u>　治懸癰，不消不潰。</p>
<p>人參　黃耆（鹽水拌，炒）　當歸（酒一拌）　川芎　麥門冬（去心）　知母（酒拌，炒）　黃柏（酒拌，炒）　芍藥（炒）　金銀花　柴胡　制甘草（法見前，各一錢）</p>
<p>作一劑，用水二鍾，煎八分，食前服。</p>
<p><u>加味十全大補湯</u>　治懸癰潰而不斂，或發熱飲食少思。</p>
<p>人參　黃耆（鹽水拌，炒）　白朮（炒）　茯苓　熟地黃（酒拌，中滿減五分）　當歸（酒拌）　川芎　芍藥（炒，各一錢）　肉桂　麥門冬（去心）　五味子（搗，炒）　甘草（炒，各五分）</p>
<p>作一劑，用水二鍾，煎一鍾，食前服。莖腫加青皮，熱加黃芩、柴胡，日晡熱加柴胡、地骨皮，小便赤加酒製知母、黃柏，小便澀加車前子、山梔子。（俱炒）</p>

<h1>臁瘡</h1>
<p>治臁瘡濕毒瘡傷手瘡，或遍身熱瘡，並治之。</p>
<p>黃柏末（酒炒，一兩）　輕粉（三錢，為末），用豬膽汁調搽，干搽亦可。內服人參敗毒散去桔梗，加蒼朮、黃柏。</p>
<p><u>隔紙膏</u>　治臁瘡濕毒瘡。</p>
<p>石膏（煅，研末）　白礬（枯，研末）</p>
<p>各等分，桐油調成膏，作隔紙膏貼之。更服荊防敗毒散，如數劑不應，宜服人參黃耆湯。（方見前）</p>

<h1>湯火瘡</h1>
<p>治湯澆火燒瘡，止痛生肌。</p>
<p>大黃末（一兩，微炒）　當歸末（一兩）　用燭油調搽，或芝麻油調搽，干亦可。</p>
<p><u>柏葉散</u>　治湯火傷，或痛甚。</p>
<p>柏葉（炒）　梔子仁（各一兩）　鉛粉（半兩，研）</p>
<p>為細末，以羊骨髓五兩，熔化和藥，以木椎研良久，日塗三五次。用燭油調亦可。</p>
<p><u>治凍破成瘡或手足皺裂</u></p>
<p>瀝青末（一兩）　黃蠟（一兩）　香油（二兩）</p>
<p>二味熔化，搽患處。</p>

<h1>破傷風</h1>
<p><u>玉真散</u>　治跌打損傷，或風入瘡，口項強，牙關緊急，或腰背反張，並治之。</p>
<p>防風　天南星（炮，各等分）</p>
<p>為末，每服三錢，小兒一錢，用童便一鍾，煎七分熱服。</p>
<p><u>又方</u>　治打撲傷損，或蟲獸傷破皮膚，風邪入內，牙關緊急，腰背反張，或遍麻木，甚者不知人事。用蒜搗爛塗傷處，將艾壯於蒜上灸之，多灸為善。仍用膏藥護貼，內服玉真散。如毒蛇、風犬咬傷，先刺患處去毒血，亦如前法治之。</p>

<h1>小兒丹毒</h1>
<p>治小兒丹毒，多生頭面四肢，色赤遊走不定，用細磁器擊碎，取有鋒芒者一塊，以箸一根劈開頭尖夾之，用線縛定，兩指輕撮筋稍，令磁芒正對患處，懸寸許，再用箸一根，頻擊筋頭，令毒血遇刺皆出。更以神功散敷之，內服荊防敗毒散，或五福化毒丹。入腹者不治。</p>
<p><u>五福化毒丹</u>　治小兒蘊積毒熱，驚惕煩躁，煩赤咽乾，口舌生瘡，夜臥不寧，譫語咬牙，或頭面遍身多生瘡癤。</p>
<p>玄參　桔梗（各一錢）　茯苓（二兩半）　人參　青黛　牙硝（各一兩）　甘草（七錢五分）　麝香（一字）　金銀箔（十片）</p>
<p>為末，煉蜜丸芡實大，一歲者。每服一丸，薄荷湯化下。及治痘疹後餘毒，牙齦爛，流涎血臭氣，以生地黃汁化下，更用雞翎掃藥口內。</p>
<p>治小兒白屑滿口，因名曰鵝口瘡，不能吮乳，用發纏指上，蘸井水拭舌。如屑不脫，濃煮慄木汁，以綿纏箸頭拭洗，卻用飛過黃丹搽上。</p>
<p><u>神仙解毒萬病丹</u>（一名太乙丹、紫金丹，一名神仙太乙丹，一名玉樞丹）　治一切毒，及菰子、鼠莽、菌蕈、金石，或吃疫死牛馬河豚等毒，或時行瘟疫，山嵐瘴瘧，急喉閉纏喉風，脾病黃腫，赤眼，及沖冒寒暑，熱毒上攻，或自縊，或溺水，或打撲傷損，癰疽，發背，瘡腫，湯火，或蛇蟲犬鼠所傷。或中邪狂走，鬼胎鬼氣，並宜服之。居家出入，不可無此藥，真濟世衛身之寶。毒藥如嶺南兩廣最多，若從宦於此，才覺意思不快，服之即安。彼澗有草曰胡蔓草，又名斷腸草，陰置水中飲之即死。又有取毒蛇殺之，以草覆上，以水灑之，數日菌生其上，取為末酒調以毒入，始亦無患，再飲酒即發立死。其或淫婦，多與北人配合，北人回，蜜以藥置食中，乃戒之曰：子某年來，若從其言，婦乃以藥解之，過期則必死矣，名曰定年藥。凡北人至彼方，亦宜知之。若覺中毒，四大不調，即便服此。況彼下藥時，必於雞豚等肉投之，後再食前物必發其毒。急服此一錠，或吐或利，隨手便瘥。昔有一女子，久患勞瘵，為屍蟲所噬，磨一錠服之，一時吐下小蟲千餘條，後只服蘇合香丸，半月遂如常。如牛馬六畜中毒，亦以此藥救之，無不效者。</p>
<p>文蛤（三兩，淡紅黃色者，搗碎洗淨，又名五倍子）　續隨子（去殼研細，以紙包壓去油再研，一兩）　山茨菇（二兩）　麝香（三錢，研）　紅牙大戟（洗淨，一兩五錢）</p>
<p>上各另為細末和勻，以糯米粥和勻，於木臼中杵千餘下，每料分作四十錠，於端午重陽七夕合。如欲急用，辰日亦得。勿令婦人、孝服、不具足人及雞犬之類見之，合宜珍重，否則無效。如癰疽發背未破，用冷水磨塗痛處，並服，良久覺癢立消。陰陽二毒，傷寒心悶，語狂，胸膈壅滯，邪毒未發，及瘟疫山嵐障氣，纏喉風，冷水入薄荷一葉，同研下。急中顛邪，喝叫亂走，鬼胎鬼氣，並用暖無灰酒下。自縊或落水死，心頭暖者，及驚死，鬼迷死未隔宿者，並冷水磨灌下。蛇、犬、蜈蚣傷，並用冷水磨塗傷處。如腹脹或迷悶者，更宜服之。諸般瘧疾，不問新久，臨發時，煎楊柳枝湯下。小兒急慢驚風，五疳八痢，蜜水、薄荷一葉同磨下。牙關緊急，磨一錠，外塗內服，量大小用之。牙痛酒磨塗，及含少許吞下。湯火傷，東流水磨塗傷處。打撲傷損，炒松節酒下。年深日久，頭痛太陽疼，用酒入薄荷磨，紙花貼太陽穴上，並服之。諸般癇疾，口眼歪邪，眼目掣眨，夜多睡涎，言語蹇澀，卒中風，口禁，牙關緊急，筋脈攣縮，骨節風腫，手腳疼痛，行步艱難，一應風氣疼痛，並用酒磨下，有孕婦人不可服。余治一婦人，腹內結塊，久而不消；一婦人月經過期不至，腹內作痛，服破血行氣之劑不效，服之並痊。一婦人苦頭風作暈數年，亦服之，吐痰碗許，遂不再發。一男子喉閉，水漿難下；一男子纏喉風，痰涎壅盛；一婦人中風，牙關緊急，痰涎溢出，隨服並愈。一男子便毒堅硬；一男子患痔未成膿，苦痛，大便俱難，始進一錠，後去二次，痛即止，不日而消。一男子患發背，瘡頭如粟，重如負石，內服外塗，後去三四次，每去肛門如炙，即日而瘳。三男子剝自死牛，即日遍身患紫泡不計其數，已而俱潰，各灌一錠，吐瀉而蘇，一藥不下者而死。一小兒昏憒，六日不省，一小兒驚風發搦，諸藥不效，挖口灌之並蘇。一男子中風，牙關緊急，口出涎水，亦灌之尋愈。一女子為邪所交，腹作痞，服之隨下惡物；其邪仍至，又服半錠，每夜更灸二三錠，使煙氣盈屋，遂不再至。一家患傳屍勞，兄弟五人已死者三人，有方士令服此藥，遂各進一錠，一下惡物如膽狀，一下死蟲如蛾形，俱獲生。其人遂以此藥廣濟屍證，無不驗者。余常用治一切雜病，及瘡疽等毒未成膿者甚效，其已成膿者亦能殺大勢。考其藥品，雖不言補，今羸瘦之人服之並效，誠神劑也。然以價計之，用銀三錢，藥有七十錠，可救七十人，有力之家，當合之以濟人。近人制此，往往加以硃砂、雄黃，考之諸方，並無此味，余故不用，恐亂其真也，識者當自知之。</p>
