<header data-type="book">
<h1>脈學輯要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data value="丹波元簡">丹波元簡</data></dd></div>
<div><dt>底本</dt><dd>聿修堂刊本（<a href="https://www.digital.archives.go.jp/file/1222634">国立公文書館掃描本</a>）；收錄於《<a href="../../help/reference.html#other">皇漢醫學叢書</a>》第十冊，上海中醫學院出版社據1936年世界書局鉛印本校勘翻印，1993年。</dd></div>
</dl>
</header>

<h1>序</h1>
<p>夫判陰陽表裡於點按。斷寒熱虛實於分寸。洵方技之切要。最所為難焉。故曰脈者醫之大業也。今夫醫士。孰不日診百病。月處千方。而方其診病者。訊脈象如何。浮沉數遲大小之外。鮮識別者。況於洪大軟弱牢革之差。茫不能答。或一狀而眾醫異名。或殊形而混為同候。此其故何也。蓋嘗究之。從前脈書。叔和而降。支離散漫。殆無統紀。如元明數家。乃不過因循陳編。綴緝成語。一二稽駁偽訣之誤也。寸關尺三部。配五藏六府。內經仲景。未有明文。倉公雖間及此。其言曖昧。特十八難所論。三部九候。誠診家之大經大法也。然迨至叔和。始立左心小腸肝膽腎。右肺大腸脾胃命門之說。王太僕。楊玄操。遂奉之以釋經文。繁此以還。部位配當之論。各家異義。是非掊擊。動輒累數百言。可謂蛋中尋骨矣。如其遲脈為腹痛為嘔吐。微脈為白帶為淋瀝之類。靡不書而載。此皆不徒無益於診法。抑乖理迷人之甚也。何則。已有此證。當診其脈。以察其陰陽表裡。虛實寒熱。而為之處措。安可以萬變之證。預隸之於脈乎。嗚呼。謬悠迂拘之說。未有能排斥而甄綜者。宜世醫之不講斯學也。簡不猜譾劣。竊原本聖賢之遠旨。纂輯諸家之要言。家庭所受。膚見所得。系之於後。編為一書。名曰脈學輯要。首以總說。次以各脈形象。又次以婦人小兒。及怪脈。以昭於及門。芟套爛之蕪。匯眾說之粹。雖未能如秦醫診晉侯。淳于察才人。於心中指下之玄理。或有攸發悟也。則判陰陽表裡。斷虛實寒熱者。正在於斯耶。許參軍有言曰。脈之候。幽而難明。心之所得。口不能述。其以難為易。固存乎其人哉。寬政七年乙卯歲春正月二十有七日丹波元簡書。</p>

<h1>卷上</h1>

<h2>總說</h2>
<p>朱奉議曰。凡初下指。先以中指端。按得關位。掌後高骨為關。乃齊下前後二指。為三部脈。前指寸口也。後指尺部也。若人臂長。乃疏下指。臂短則密下指。（活人書）</p>
<p>汪石山曰。揣得高骨。厭中指於高骨。以定關位。然後下前後兩指。以取尺寸。不必拘一寸九分之說也。（脈訣刊誤附錄）</p>
<p>案二說。原於脈經分別三關境界脈候篇。</p>
<p>楊仁齋曰。凡三部之脈。大約一寸九分。人之長者。僅加之。而中人以下。多不及此分寸也。究其精微。關之部位。其肌肉隱隱而高。中取其關。而上下分之。則人雖長短不侔。而三部之分。亦隨其長短而自定矣。是必先按寸口。次及於關。又次及尺。每部下指。初則浮按消息之。次則中按消息之。又次則沉按消息之。浮以診其腑。沉以診其臟。中以診其胃氣。於是舉指而上。復隱指而下。又復拶相進退。而消息之。心領意會。十得八九。然後三指齊按。候其前後往來。接續間斷何如耳。（察脈真經）</p>
<p>徐春甫曰。脈有三部。曰寸。曰關。曰尺。寸部法天。關部法人。尺部法地。寸部。候上自胸心肺咽喉頭目之有疾也。關部。候中自胸膈以下。至小腹之有疾也。脾胃肝膽。皆在中也。尺部。候下自少腹腰腎膝胻足之有疾也。大腸小腸膀胱。皆在下也。皆內經所謂上以候上。下以候下。而理勢之所不容間也。其候豈不易驗哉。（古今醫統）</p>
<p>案此十八難。三部上中下診候之法也。蓋考內經。有寸口氣口之名。而無並關尺為三部之義。難經昉立關尺之目。而無左右府藏分配之說。其有左右府藏分配之說。始於王叔和焉。十八難所謂三部四經。未必以左右定十二經之謂。只其言太簡。不可解了。故左右部位挨配之說。諸家紛然。互為詆訟。要之鑿空耳。三焦者。有名無狀。所隸甚廣。豈有以一寸部候之之理乎。小腸居下焦。假令與心為表裡。豈有屬諸寸位。候於上部之理乎。三部四經。全可解了。其言如此。不可以為準也。脈要精微論。尺內兩傍。季脅也。一節。乃循尺膚之法。注家遂取難經寸關尺之部位。及三部四經之義。並用叔和左右分配之說以解釋之。後賢奉為診家之樞要。亦何不思之甚也。矧左為人迎。右為氣口之類。率皆無稽之談。不可憑也。詳傷寒論言脈者。曰三部。曰寸口。曰關上。曰尺中。曰尺寸。曰陰陽。未有言左右者。乃與難經三部上中下。診候之法符矣。夫仲景為醫家萬世之師表。孰不遵依其訓乎。王叔和於分別三關境界脈候篇則云寸主射上焦。出頭及皮毛竟手。關主射中焦。腹及腰。尺主射下焦。少腹及足。此叔和別發一義者。乃十八難三部診法。而仲景所主也。今診病者。上部有疾。應見於寸口。中部有疾。應見於關上。下部有疾。應見於尺中。此其最的實明驗者。春甫之言。信為不誣焉。鶴臯吳氏脈語。亦揭此診法云。正與素問以脈之上中下三部。診人身之上中下三部。其理若合符節然。學者其可離經以狥俗乎哉。可以為知言而已。（難經原文無左右字面。後人卻添此二字立說。竟失古義矣。）</p>
<p>王士亨曰。說脈之法。其要有三。曰人迎。在結喉兩傍。取之應指而動。此部法天。二曰三部。謂寸關尺。在腕上側。有骨稍高曰高骨。先以中指按骨。搭指面落處。謂之關。前指為寸部。後指為尺部。尺寸以分陰陽。陽降陰升。通度由關以出入。故謂之關。此部法人。三曰趺陽。在足面系鞋之所。按之應指而動者。是也。此部法地。三者皆氣之出入要會。所以能決吉凶死生。凡三處。大小遲速。相應齊等。則為無病之人。故曰人迎趺陽。三部不參。動數發息。不滿五十。未知生死。所以三者。決死生之要也。（全生指迷方）</p>
<p>案此三部診法。本於仲景序語所立。為診家之章程矣。嘗驗人迎脈。恆大於兩手寸口脈數倍。未見相應齊等者。何夢瑤曰。人迎脈恆大於兩手寸脈。從無寸口反大於人迎者。是言信然。</p>
<p>滑伯仁曰。凡診脈之道。先須調平自己氣息。男左女右。先以中指定得關位。卻齊下前後二指。初輕按以消息之。次中按消息之。然後自寸關至尺。逐部尋究。一呼一吸之間。要以脈行四至為率。閏以太息。脈五至為平脈也。其有太過不及。則為病脈。看在何部。各以其脈斷之。（診家樞要）</p>
<p>又曰。三部之內。大小浮沉。遲數同等。尺寸陰陽。高下相符。男女左右。強弱相應。四時之脈不相戾。命曰平人。其或一部之內。獨大獨小。偏遲偏疾。左右強弱相反。四時男女之相背。皆病脈也。凡病之見。在上曰上病。在下曰下病。左曰左病。右曰右病也。</p>
<p>又曰。持脈之要有三。曰舉。曰按。曰尋。輕手循之曰舉。重手取之曰按。不輕不重。委曲求之曰尋。初持脈輕手候之。脈見皮膚之間者陽也。府也。亦心肺之應也。重手得之。脈附於肉下者陰也。藏也。亦肝腎之應也。不輕不重。中而取之。其脈應於血肉之間者。陰陽相適。中和之應。脾胃之候也。若沉中沉之不見。則委曲而求之。若隱若見。則陰陽伏匿之脈也。三部皆然。</p>
<p>汪石山曰。按消息。謂詳細審察也。推。謂以指那移於部之上下而診之。以脈有長短之類也。又以指那移於部之內外而診之。以脈有雙弦單絃之類也。又以指推開其筋而診之。以脈有沉伏止絕之類也。</p>
<p>案脈經云。以意消息。進退舉按之。脈要精微云。推而外之云云。石山釋消息及推字者。本此也。</p>
<p>吳山甫曰。東垣著此事難知。謂脈貴有神。有神者有力也。雖六數七極。三遲二敗猶生。此得診家精一之旨也。節庵辨傷寒脈法。以脈來有力為陽證。沉微無力為陰證。此發傷寒家之蒙瞽也。杜清碧診論曰。浮而有力為風。無力為虛。沉而有力為積。無力為氣。遲而有力為痛。無力為冷。數而有力為熱。無力為瘡。各於其部見之。此得診家之領要也。（脈語）</p>
<p>孫光裕曰。愚按有力。亦不足以狀其神。夫所謂神。滋生胃氣之神也。於浮沉遲數之中。有一段沖和神氣。不疾不徐。雖病無虞。以百病四時。皆以胃氣為本是也。蔡氏曰。凡脈不大不小。不長不短。不浮不沉。不澀不滑。應手中和。意思欣欣。難以名狀者。為胃氣。素問曰。得神者昌。失神者亡。以此。（太初脈辨）</p>
<p>滑伯仁曰。察脈須識上下來去至止六字。不明此六字。則陰陽虛實不別也。上者為陽。來者為陽。至者為陽。下者為陰。去者為陰。止者為陰也。上者。自尺部上於寸口。陽生於陰也。下者。自寸口下於尺部。陰生於陽也。來者。自骨肉之分。而出於皮膚之際。氣之升也。去者。自皮膚之際。而還於骨肉之分。氣之降也。應曰至。息曰止也。</p>
<p>又曰。診脈須要先識時脈胃脈。與府藏平脈。然後及於病脈。時脈。謂春三月。六部中帶弦。夏三月俱帶洪。秋三月俱帶浮。冬三月俱帶沉。胃脈。謂中按得之脈和緩。府藏平脈。心脈浮大而散。肺脈浮澀而短。肝脈弦而長。脾脈緩而大。腎脈沉而軟滑。凡人府藏脈既平。胃脈和。又應時脈。乃無病者也。反此為病。（府藏部位。滑氏原五難菽法為說。詳見樞要。今不繁引。）</p>
<p>案府藏平脈。非指下可辨。蓋胃者五藏六府之大源也。胃脈和平。正知府藏之和平。即是應手中和者。不必逐部尋究也。</p>
<p>陳遠公曰。看脈。須看有神無神。實是秘訣。而有神無神。何以別之。無論浮沉遲數。澀滑大小之各脈。按指之下。若有條理。先後秩然不亂者。此有神之至也。若按指而充然有力者。有神之次也。其餘按指而微微鼓動者。亦謂有神。倘按之而散亂者。或有或無者。或來有力。而去無力者。或輕按有。而重按絕無者。或時而續。時而斷者。或欲續而不能。或欲接而不得。或沉細之中。倏有依稀之狀。或洪大之內。忽有飄渺之形。皆是無神之脈。脈至無神。即為可畏。當用大補之劑。急救之。倘因循等待。必變為死脈。而後救之晚矣。（辨證錄）</p>
<p>又曰。平脈者。言各脈之得其平也。如浮不甚浮。沉不甚沉。遲不甚遲。數不甚數耳。人現平脈多是胃氣之全也。胃氣無傷。又寧有疾病哉。此脈之所以貴得平耳。</p>
<p>王士亨曰。人生所稟氣血有變。故脈亦異常。有偏大偏小者。或一部之位無脈者。或轉移在他處者。其形或如蛇行雀啄亂絲。如旋轉於指下者。或有受氣自然者。或有因驚恐大病憂恚。精神離散。遂致轉移而不守也。此陰陽變化不測。不可以理推。若不因是。而得此脈者。非壽脈也。</p>
<p>祝茹穹曰。人一身以胃為主。一陽之氣升於上。中實緋生物。其在脈中。難取形狀。診脈者。指下按之。渾渾緩緩。無形之可擬者。為平脈也。但覺有形。便是六淫阻滯。便是病脈耳。（心醫集）</p>
<p>何夢瑤曰。四時之升降動靜。發斂伸縮。相為對待者也。極於二至。平於二分。故脈子月極沉。午月極浮。至卯酉而平。觀經文謂秋脈中衡。又謂夏脈在膚。秋脈下膚。冬脈在骨。則秋之不當以浮可言可知也。特以肺位至高。其脈浮。秋金配肺。故示言浮耳。夫秋初之脈。仍帶夏象。言浮猶可。若於酉戌之月。仍求浮脈。不亦惑乎。夫於春言長滑。則於秋言短澀可知。於冬言沉實。則於夏言浮虛可知。書不盡言。言不盡意。是在讀者之領會耳。（醫碥）</p>
<p>案平脈不一。所謂不緩不急。不澀不滑。不長不短。不低不昂。不縱不橫。此形象之平也。一息五至。息數之平也。弦洪毛石。四時之平也。而人之稟賦不同。脈亦不一其形。此乃稟受之平也。吾家君有平脈考一書。嘗詳及此云。</p>
<p>董西園曰。脈者血之府也。血充脈中。緣氣流行。肢體百骸。無所不到。故為氣血之先機。憑此可以察氣血之盛衰。疾病未形。脈先昭著。故云先機。所謂脈者。即經脈也。若專以經為脈。則反遺言氣血。但言血則遺氣。但言氣則遺血。故以脈明之。凡邪正虛實寒熱。憑此可推而得焉。（醫級）</p>
<p>又曰。瘦者肌肉薄。其脈輕手可得。應如浮狀。肥者肌肉豐。其脈重按乃見。當如沉類。反者必病。浮大動數滑。陽也。人無疾病。六部見此。謂之六陽脈。非病脈也。其人稟氣必厚。多陽少陰。病則多火。沉弱澀弦微。陰也。人無所苦。六部皆然。謂之六陰脈。其人稟氣清平。多陰少陽。病則多寒。但六陰六陽之脈。不多見。偏見而不全見者。多有之。</p>
<p>吳幼清曰。五臟六腑之經。分布手與足。凡十二脈。魚際下寸內九分。尺內七分者。手太陰肺經之一脈也。醫者於左右寸關尺。輒名之曰此心脈。此脾脈。此肝脈。此腎脈。非也。手三部皆肺藏。而分其部位。以候他藏之氣焉耳。其說見於素問脈要精微論。而其所以然之故。則秦越人八十一難之首章發明至矣。是何也。脈者血之流派。氣使然也。肺居五藏之上。氣所出入之門戶也。脈行始肺終肝。而復會於肺。故其經穴。名曰氣口。而為脈之大會。一身之氣。必於是占焉。（吳文定公集贈邵志可序）</p>
<p>何夢瑤曰。脈之形體。長而圓。如以水貫蔥葉中。有長有短。有大有小。有虛有實。有緩有急。脈之行動。如以氣鼓蔥葉中之水。使之流動也。有浮有沉。有遲有數。有澀有滑。</p>
<p>柳貫曰。古以動數候脈。是吃緊語。須候五十動。乃知五藏缺失。今人指到腕骨。即云見了。夫五十動。豈彈指間事耶。故學者當診脈問證。聽聲觀色。斯備四診而無失。（道傳集○瀕湖脈學引）</p>
<p>汪石山曰。脈經云。浮為風。為虛。為氣。為嘔。為厥。為痞。為脹。為滿不食。為熱。為內結等類。所主不一。數十餘病。假使診得浮脈。彼將斷其為何病耶。苟不兼之以望聞問。而欲的知其為何病。吾謂戛戛乎其難矣。古人以切。居望聞問之後。則是望聞問之間。已得其病情。不過再診其脈。看病應與不應也。若病與脈應。則吉而易醫。脈與病反。則凶而難治。以脈參病。意蓋如此。曷嘗以診脈知病為貴哉。夫脈經一書。拳拳示人以診法。而開卷入首。便言觀形察色。彼此參伍。以決死生。可見望聞問切。醫之不可缺一也。豈得而偏廢乎。</p>
<p>張景岳曰。脈者血氣之神。邪正之鑑也。有諸中。必形諸外。故血氣盛者。脈必盛。血氣衰者。脈必衰。無病者。脈必正。有病者。脈必乖。矧人之疾病。無過表裡寒熱虛實。只此六字。業已盡之。然六者之中。又惟虛實二字為最要。蓋凡以表證里證。寒證熱證。無不皆有虛實。既能知表裡寒熱。而復能以虛實二字決之。則千病萬病。可以一貫矣。且治病之法。無逾攻補。用攻用補。無逾虛實。欲察虛實。無逾脈息。雖脈有二十四名。主病各異。然一脈能兼諸病。一病亦能兼諸脈。其中隱微。大有玄秘。正以諸脈中。亦皆虛實之變耳。言脈至此。有神存矣。倘不知要。而泛焉求跡。則毫釐千里。必多迷誤。故予特表此義。有如洪濤巨浪中。則在乎牢執柁干。而病值危難處。則在乎專辨虛實。虛實得真。則標本陰陽。萬無一失。其或脈有疑似。又必兼證兼理。以察其孰客孰主。孰緩孰急。能知本末先後。是即神之至也矣。（脈神草）</p>
<p>又曰。據脈法所言。凡浮為在表。沉為在裡。數為多熱。遲為多寒。弦強為實。微細為虛。是固然矣。然疑似中。尤有真辨。此其關係非小。不可不察也。如浮雖屬表。而凡陰虛血少。中氣虧損者。必浮而無力。是浮不可以概言表。沉雖屬裡。而凡表邪初感之深者。寒束皮毛。脈不能達。亦必沉緊。是沉不可以概言里。數為熱。而真熱者未必數。凡虛損之證。陰陽俱困。氣血張皇。虛甚者。數必甚。是數不可以概言熱。遲雖為寒。凡傷寒初退。餘熱未清。脈多遲滑。是遲不可以概言寒。弦強類實。而真陰胃氣大虧。及陰陽關格等證。脈必豁大而弦健。是強不可以概言實。微細類虛。而凡痛極氣閉。營衛壅滯不通者。脈必伏匿。是伏不可以概言虛。由此推之。則不止是也。凡諸脈中皆有疑似。皆有真辨。診能及此。其必得鳶魚之學者乎。不易言也。</p>
<p>又曰。治病之法。有當舍證從脈者。有當舍脈從證者。何也。蓋證有真假。脈亦有真假。凡見脈證有不相合者。則必有一真一假。隱乎其中矣。故有以陽證見陰脈者。有以陰證見陽脈者。有以虛證見實脈者。有以實證見虛脈者。此陰彼陽。此虛彼實。將何從乎。病而遇此。最難下手。最易差錯。不有真見。必致殺人。矧今人只知見在。不識隱微。凡遇證之實。而脈之虛者。必直攻其證。而忘其脈之真虛也。或遇脈之弦大。而證之虛者。亦必直攻其脈。而忘其證之無實也。此其故正以似虛似實。疑本難明。當舍當從。孰知其要。醫有迷途。莫此為甚。余嘗熟察之矣。大都證實脈虛者。必其證為假實也。脈實證虛者。必其脈為假實也。何以見之。如外雖煩熱。而脈見微弱者。必火虛也。腹雖脹滿。而脈見微弱者。必胃虛也。虛火虛脹。其堪攻乎。此宜從脈之虛。不從證之實也。其有本無煩熱。而脈見洪數者。非火邪也。本無脹滯。而脈見弦強者。非內實也。無熱無脹。其堪瀉乎。此宜從證之虛。不從脈之實也。凡此之類。但言假實。不言假虛。果何意也。蓋實有假實。虛無假虛。假實者病多變幻。此其所以有假也。假虛者。虧損既露。所以無假也。大凡脈證不合者。中必有奸。必先察其虛。以求根本。庶乎無誤。此誠不易之要法也。</p>
<p>又曰。真實假虛之候。非曰必無。如寒邪內傷。或食停氣滯。而心腹急痛。以致脈道沉伏。或促或結一證。此以邪閉經絡而然。脈雖若虛。而必有痛脹等證可據者。是誠假虛之脈。本非虛也。又若四肢厥逆。或惡風怯寒。而脈見滑數一證。此由熱極生寒。外雖若虛。而內有煩熱便結等證可據者。是誠假虛之病。本非虛也。大抵假虛之證。只此二條。若有是實脈。而無是實證。即假實脈也。有是實證。而無是實脈。即假實證也。知假知真。即知所從舍矣。</p>
<p>又曰。又有從脈從證之法。乃以病有輕重為言也。如病本輕淺。別無危候者。因見在以治其標。自無不可。此從證也。若病關藏氣。稍見疑難。則必須詳辨虛實。憑脈下藥。方為切當。所以輕者從證。十惟一二。重者從脈。十當八九。此脈之關係非淺也。雖曰脈有真假。而實由人見之不真耳。脈亦何從假哉。</p>
<p>陳士鐸曰。脈有陰陽之不同。王叔和分七表八里。似乎切脈分明。不知無一脈無陰陽。非淨為陽而沉為陰。遲為陰而數為陽也。陰中有陽。陽中有陰。於中消息。全在臨症時察之。心可意會。非筆墨能繪畫耳。</p>
<p>董西園曰。浮為表證。法當表汗。此其常也。然亦有宜下者。仲景云。若脈浮大。心下硬有熱。屬藏者攻之。不令發汗者是也。脈沉屬裡。治宜從下。而亦有宜汗者。如少陰病始得之。反發熱而脈沉者。麻黃附子細辛湯微汗之是也。脈促為陽盛。當用葛根芩連清之矣。若促而厥冷者。為虛脫。非灸非溫不可。此又非促為陽盛之脈也。脈遲為寒。當用姜附溫之矣。若陽明脈遲。不惡寒。身體濈濈汗出。則用大承氣湯。此又非遲為陰寒之脈矣。四者皆從症。不從脈也。至若從脈舍症之治。如表證宜汗。此常法也。仲景曰。病發熱頭痛而脈反沉。身體疼痛者。當先救里。用四逆湯。此從脈沉為治也。（此條若無頭疼。乃可竟從里治。否則尚宜斟酌。）裡實用下。此常法也。如日晡發熱者。屬陽明。若脈浮虛者。宜法汗。用桂枝湯。此從脈浮為治也。結胸證具。自當以大小陷胸治之矣。若脈浮大者不可陷。陷之則死。是宜從脈證。而酌解之也。身疼痛者。當以桂枝發之。若尺中遲者。不可汗。以營血不足故也。是宜從脈而調其營矣。此四者。從脈不從證也。</p>
<p>朱丹溪曰。凡看脈。如得惡脈。當覆手取。如與正取同。乃元氣絕。必難治矣。如與正取不同。乃陰陽錯綜。未必死。（丹溪纂要）</p>
<p>高武曰。人或有寸關尺三部脈不見。自列缺至陽谿脈見者。俗謂之反關脈。此經脈虛。而絡脈滿。千金翼。謂腸脈逆。反大於寸口三倍。叔和尚未之及。而況高陽生哉。（針灸聚英○案所引千金翼。今無考。）虞天民曰。此地天交泰。生成無病之脈耳。學者可不曉歟。（醫學正傳）張路玉曰。脈之反關者。皆由脈道阻礙。故易位而見。自不能條暢如平常之脈也。有一手反關者。有兩手反關者。有從關斜走至寸。而反關者。有反於內側。近大陵而上者。有六部原如絲。而陽谿列缺。別有一脈。大於正位者。亦有諸部皆細小不振。中有一粒如珠者。此經脈阻結於其處之狀也。（診宗三昧）</p>
<p>案至真要論云。諸不應者。反其診則見矣。王啟玄注曰。不應者。皆為脈沉。脈沉下者。仰手而沉。覆其手則沉為浮。細為大也。陶節庵云。病人若平素原無正取脈。須用覆手取之。脈必見也。此屬反關脈。診法與正取法同。若平素正取有脈。後因病診之。無脈者。亦當覆手取之。取之而脈出者。陰陽錯亂也。宜和合陰陽。如覆取正取。俱無脈者必死矣。此為良法。王陶所說。今驗之。極如其言。脈伏甚者。亦當以此法診得焉。</p>
<p>醫學綱目。載開寶寺僧。衣缽甚厚。常施惠於人。孫兆重之與往還。一日謂孫曰。某有一事。於翁約賞罰為戲。可否。孫曰。如何為賞罰。儈曰。若診吾脈。若知某病。賞三十千為一筵。若不中。罰十千歸小僧。孫曰。諾。與之診。左手無脈。右手有脈。遂尋左手之脈。乃轉左臂上。動搖如常。孫曰。此異脈也。醫書不載。脈行常道。豈有移易之理。往昔少年為驚撲。震動心神。脈脫舊道。乍移臂外。復遇驚撲。不能再歸。年歲長大。氣血已定。不能復移。目下無病爾。僧曰。某襁褓而撲背幾死。固宜脈失所。某亦平生無病。亦不曾診脈。聞公神醫試驗之。果神醫也。○按此疑因驚撲為反關之脈者。世亦間有焉。姑附於斯。</p>
<p>董西園曰。老者氣血已衰。脈宜衰弱。過旺則病。若脈盛而不躁。健飯如常。此稟之厚。壽之徵也。若強而躁疾。則為孤陽。少壯者脈宜充實。弱則多病。謂其氣血日盈之年。而得此。不足故也。若脈體小而和緩。三部相等。此稟之靜。養之定也。惟細而勁急者。則為不吉。故執脈審症者。一成之矩也。隨人變通者。圓機之義也。肥盛之人。氣盛於外。而肌肉豐厚。其脈多洪而沉。瘦小之人。氣急於中。肌肉淺薄。其脈多數而浮。酒後之脈必數。食後之脈常洪。遠行之脈必疾。久飢之脈必空。孩提襁褓。脈數為常也。</p>
<p>葉文齡曰。脈經云。性急人脈躁。性緩人脈靜。夫脈乃氣血之運。而行於呼吸者也。血稟偏勝。必多緩。陰之靜也。氣稟偏勝。必多急。陽之躁也。以此只可論人之氣血。孰為不足。不可以性情。而謂躁靜者也。（醫學統旨）</p>
<p>陳無擇曰。經云。常以平旦陰氣未動。陽氣未散。飲食未進。經脈未盛。絡脈調勻。乃可診有過之脈。或有作為。當停寧食頃。俟定乃診。師亦如之。釋曰。停寧俟定。即不拘於平旦。況倉卒病生。豈待平且。學者知之。（三因方）</p>
<p>徐春甫曰。無脈之候。所因不一。久病無脈。氣絕者死。暴病無脈。氣鬱可治。傷寒頭風。痰積經閉。憂驚折傷。關格吐利。氣運不應。斯皆勿忌。</p>
<p>沈朗仲曰。久病服藥後。六脈俱和。偶一日診。或數或細。或虛弱。或變怪異常。即當細問起居之故。或因一夜不睡而變者。或因勞役惱怒。或因感冒風寒。各隨其所感而治之。（病機彙編）</p>

<h1>卷中</h1>

<h2>浮</h2>
<p>十八難曰。浮者。脈在肉上行也。</p>
<p>滑伯仁曰。浮。不沉也。按之不足。輕舉有餘。滿指浮上。曰浮。（診家樞要）</p>
<p>張介賓曰。大都浮而有力有神者。為陽有餘。陽有餘。則火必隨之。或痰見於中。或氣壅於上。可類推也。浮而無力空豁者。為陰不足。陰不足。則水虧之候。或血不營心。或精不化氣。中虛可知也。若以此等為表證。則害莫大矣。其有浮大弦硬之極甚。至四倍以上者。內經謂之關格。此非有神之謂。乃真陰虛極。而陽元無根。大凶之兆也。</p>
<p>張路玉曰。浮脈者。下指即顯浮象。按之稍減而不空。舉之泛泛而流利。不似虛脈之按之不振。芤脈之尋之中空。濡脈之綿耎無力也。浮為經絡肌表之應。良由邪襲三陽經中。鼓搏脈氣於外。所以應指浮滿也。故凡浮脈主病。皆屬於表。但須指下有力。即屬有餘客邪。其太陽本經。風寒營衛之辨。全以浮緩浮緊分別。而為處治。其有寸關俱浮。尺中遲弱者。營氣不足。血少之故。見太陽一經。咸以浮為本脈。一部不逮。虛實懸殊。亦有六脈浮遲。而表熱裡寒。下利清穀者。雖始病有熱。可驗太陽。其治與少陰之虛陽發露不異。凡病久而脈反浮者。此中氣虧乏。不能內守也。若浮而按之漸衰。不能無假象發見之虞。又雜症之脈浮者。皆為風象。如類中風痱之脈浮。喘咳痞滿之脈浮。煩瞑衄血之脈浮。風水皮水之脈浮。消癉便血之脈浮。泄瀉膿血之脈浮。如上種種。或與證相符。或與證乖互。咸可治療。雖內經有腸澼下白沫。脈沉則生。脈浮則死之例。然初起多有浮脈。可用升散而愈。當知陰病見陽脈者生。非若沉細虛微之反見狂妄躁渴。難於圖治。（醫通）</p>

<h2>芤</h2>
<p>王士亨曰。芤脈之狀。如浮而大。於指面之下中斷。</p>
<p>張三錫曰。芤。草名。其葉類蔥而中空。指下浮大而無力者是也。亡血陰虛。陽氣浮散之象也。血為氣配。陰血既傷。陽無所附。故有此脈。諸失血過多。及產後多見。（四診法）</p>
<p>劉三點曰。芤。浮而無力。（理玄秘要）</p>
<p>張介賓曰。浮大中空。按如蔥管。芤。為孤陽脫陰之候。為失血脫血。為氣無所歸。為陽無所附。芤雖陽脈。而陽實無根。總屬大虛之候。</p>
<p>案芤脈。考古今諸說。大抵有三義。有謂浮大而軟。案之成兩條。中間空者。王叔和。崔嘉彥所說是也。有謂浮沉有力。中取無力者。李士材。張路玉所說是也。有謂浮而按之無力者。王士亨。張三錫所說是也。內終無芤脈。考諸仲景書。曰。脈弦而大。弦則為減。大則為芤。減則為寒。芤則為虛。又曰。脈浮而緊。按之反芤。此為本虛。又曰。脈浮而芤。浮為陽。芤為陰。又曰。趺陽脈浮而芤。浮者衛氣衰。芤者營氣傷。此皆浮而無根之謂。而非謂他之體狀也。浮沉有。而中取無者。董西園。黃韞兮。嘗辨無其脈。極是矣。其按之中央空為兩條者。即是雙弦之脈。於常患瘕聚人。間見之耳。巢源積聚候。診得心脈。沉而芤。時上下無常處。此蓋以中央空而兩邊有為義者。周禮醫聖階梯云。先君菊潭翁嘗曰。吾老醫也。從來不見芤脈。此蓋眩於諸家謬說。而不求諸古經故也。</p>

<h2>滑</h2>
<p>孫思邈曰。按之如動珠子。名曰滑。滑。陽也。（千金翼）</p>
<p>滑伯仁曰。滑。不澀也。往來流利。如盤走珠。</p>
<p>張介賓曰。往來流利。如盤走珠。凡洪大芤實之屬。皆其類也。乃氣實血壅之候。為痰逆。為食滯。為嘔吐。為滿悶。滑大滑數。為內熱。上為心肺頭目咽喉之熱。下為小腸膀胱二便之熱。婦人脈滑數而經斷者。為有孕。若平人脈滑而和緩。此自榮沖充實之佳兆。若過於滑大。則為邪熱之病。又凡病虛損者。多有弦滑之脈。此陰虛然也。瀉利者亦多弦滑之脈。此脾腎受傷也。不得通以火論。</p>
<p>案傷寒論。以滑為熱實之脈。曰。脈反滑。當有所去。下之乃愈。曰。脈滑而疾者。小承氣湯主之。曰。脈浮滑。此表有熱里有寒。曰。脈滑而厥者。里有熱也。曰。脈滑而數者。有宿食也。此皆為陽盛熱實之候。然虛家有反見滑脈者。乃是元氣外泄之候。學者可不細心體認哉。</p>

<h2>洪</h2>
<p>嚴三點曰。洪。如春潮之初至。按之𢞓𢞓然。（脈法微旨○案字書。𢞓。懰同。怨也。於義難葉。當是溜溜之訛。）</p>
<p>吳山甫曰。洪。猶洪水之洪。脈來大而鼓也。若不鼓。則脈形雖闊大。不足以言洪。如江河之大。若無波濤洶湧。不得謂之洪。</p>
<p>張介賓曰。洪。大而實也。舉按皆有餘。洪脈為陽。凡浮芤實大之屬。皆其類也。為血氣燔灼。大熱之候。浮洪為表熱。沉洪為裡熱。此陽實陰虛。氣實血虛之候。若洪大至極。甚至四倍以上者。是即陰陽離絕。關格之脈也。不可治。</p>
<p>張路玉曰。洪脈者。既大且數。指下累累如連珠。如循琅玕。不似實脈之舉按逼。逼滑脈之耎滑流利也。洪。為火氣燔灼之候。仲景有服桂枝湯。大汗出大煩渴不解。脈洪為溫病。又屢下而熱勢不解。脈洪不減。謂之壞病。多不可救。洪。為陽氣滿溢。陰氣垂絕之脈。故藹藹如車蓋者為陽結。脈浮而洪。身汗如油為肺絕。即雜病脈洪。皆火氣亢甚之兆。若病後久虛。虛勞失血。泄瀉脫元。而見洪盛之脈。尤非所宜。惟惛濁下賤。脈多洪實。又不當以實熱論也。</p>
<p>董西園曰。洪。火象也。其形盛而且大。象夏之旺氣。火脈也。若以浮大有力為洪脈。則沉而盛大者。將非洪脈乎。故脈見盛大。即當以洪脈論也。</p>
<p>案滑氏以來。以鉤洪為一脈。予謂洪以廣而言。鉤以來去而言。雖俱屬於夏脈。不能無異。當考素難之文。張路玉特有洪鉤似同。而實不類之說。而其言含糊不明。又案脈經一說。並孫思邈。及近代何夢瑤輩。皆以浮大為洪脈。故董氏辨之。是也。</p>

<h2>數（附疾）</h2>
<p>王叔和曰。數。脈去來促急。（一曰。一息六七至。一曰。數者。進之名。）</p>
<p>吳山甫曰。數。醫者一呼一吸。病者脈來六至。曰數。若七至八至。則又數也。九至十至。十一至。十二至。則數之極矣。七至曰甚。八至已為難治。九至以上。皆為不治。若嬰兒純陽之氣。則七至八至。又其常也。不在大人之例。</p>
<p>徐春甫曰。沉數有力。實火內爍。沉數無力。虛勞為惡。雜病初逢。多宜補藥。病退數存。未足為樂。數退證危。真元以脫。數按不鼓。虛寒相搏。微數禁灸。洪數為火。數候多凶。勻健猶可。</p>
<p>張介賓曰。五至六至以上。凡急疾緊促之屬。皆其類也。為寒熱。為虛勞。為外邪。為癰瘍。滑數洪數者多熱。澀數細數者多寒。暴數者多外邪。久數者必虛損。數脈有陰有陽。今後世相傳。皆以數為熱脈。及詳考內經。則但曰。諸急者多寒。緩者多熱。滑者陽氣盛。微有熱。曰粗大者。陰不足陽有餘。為熱中也。曰緩而滑者。曰熱中。舍此之外。則並無以數言熱者。而遲冷數熱之說。乃始自難經。云數則為熱。遲則為寒。今舉世所宗。皆此說也。不知數熱之說。大有謬誤。何以見之。蓋自余歷驗以來。凡見內熱伏火等證。脈反不數。而惟洪滑有力。如經文所言者。是也。</p>
<p>薛慎齋曰。人知數為熱。不知沉細中見數為寒甚。真陰寒證。脈常有一息七八至者。但按之無力而數耳。宜深察之。（傷寒後條辨）</p>
<p>汪石山曰。大凡病見數脈。多難治療。病久脈數。尤非所宜。（醫按）</p>
<p>蕭萬輿曰。數按不鼓。則為虛寒相搏之脈。數大而虛。則為精血銷竭之脈。細疾如數。陰燥似陽之候也。沉弦細數。虛勞垂死之期也。蓋數本屬熱。而真陰虧損之脈。亦必急數。然愈數則愈虛。愈虛則愈數。此而一差。生死反掌。（軒岐救正論）</p>
<p>張路玉曰。數脈者。呼吸定息。六至以上。而應指急數。不似滑脈之往來流利。動脈之厥厥動搖。疾脈之過於急疾也。數為陽盛陰虧。熱邪流薄於經絡之象。所以脈道數盛。火性善動而躁急。故傷寒以煩躁脈數者為傳。脈靜者為不傳。有火無火之分也。人見脈數。悉以為熱。不知亦有胃虛。及陰盛拒陽者。若數而浮大。按之無力。寸口脈細數者虛也。</p>

<h2>疾</h2>
<p>滑伯仁曰。疾。盛也。快於數而疾。呼吸之間。脈七至。熱極之脈也。</p>
<p>李士材曰。六至以上。脈有兩種。或名曰疾。或名曰極。總是急速之形。數之極也。是惟傷寒熱極。及勞瘵虛憊人。方見此脈。陰髓下竭。陽光上亢。有日無月。可與之決死期矣。必至喘促聲嘶。僅呼吸於胸中數寸之間。而不能達於根蒂。真陰極於下。孤陽亢於上。而氣之短已極矣。一息八至之候。則氣已欲脫。而猶冀以草木生之。何怪其不相及。（診家正眼）</p>
<p>張路玉曰。疾脈。有陰陽寒熱真假之異。如疾而按之益堅。乃亢陽無制真陰垂絕之候。若疾而按之不鼓。又為陰邪暴虐。陰陽發露之徵。嘗考先輩治按。有傷寒面赤目赤。煩渴引飲。而不能咽。東垣以姜附人參。汗之而愈。又傷寒畜熱內盛。陽厥極深。脈疾至七八至以上。人皆誤認陰毒。守真以黃連解毒。治之而安。斯皆證治之明驗也。惟疾而不躁。按之稍緩。方為熱證之正脈。脈法所謂疾而洪大。苦煩滿。疾而沉細。腹中痛。疾而不大不小。雖困可治。其有大小者難治也。至若脈至如喘。脈至如數。得之暴厥暴驚者。待其氣復自平。迨夫脈至浮合。一息十至以上。較之六數七疾八極更甚。得非虛陽外騖之兆乎。</p>
<p>案疾者。乃數之甚也。故脈經脈訣。並不別舉之。吳山甫云。疾。即數也。所謂躁者。亦疾也。所謂駃者。亦疾也。考傷寒論。脈若靜者。為不傳。脈數急者。為傳。躁。乃靜之反。云躁亦疾也者。固是也。千金方論腳氣云。浮大而緊駃。最惡脈也。或沉細而駃者。同是惡脈。今驗之病者。腳氣惡證。脈多數疾。而來去甚銳。蓋是駃之象。則似不可直以駃為疾也。</p>

<h2>促</h2>
<p>高陽生曰。促者。（速也。迫也。近也。）陽也。指下尋之極數。並居寸口。曰促。漸加即死。漸退即生。（脈訣）</p>
<p>楊仁齋曰。促者。陽也。貫珠而上。促於寸口。出於魚際。尋之數急。時似止而復來。</p>
<p>王士亨曰。促脈之狀。自尺上下寸口。促急有來無去。此榮衛無度數。陰氣促陽也。</p>
<p>黃星陽曰。促者。促於寸口。出於魚際。尋之較急。似止而復來。（濟世丹砂）</p>
<p>方龍潭曰。夫促脈者。脈之疾促。並居寸口之謂也。蓋促者數之勝。數者促之源。先數而後促。此至數之極也。脈經曰。六至為數。數者。即熱證。轉數轉熱。正此謂也。（脈經直指）</p>
<p>案辨脈法。並王氏脈經。以促為數中一止之脈。非也。素問平人氣象論曰。寸口脈。中手促上擊（甲乙經。擊字作數。）者。曰肩背痛。此促。急促之義。故脈訣為並居寸口之謂。今詳促無歇止之義。脈訣為得矣。仲景論促脈四條。曰。傷寒脈促。手足厥逆者。可灸之。此蓋虛陽上奔。脈促於寸部也。曰。太陽病。下之後。脈促胸滿者。桂枝去芍藥湯主之。若微惡寒者。去芍藥加附子湯主之。曰。太陽病。桂枝證。醫反下之。利遂不止。脈促者。表未解。喘而汗出者。葛根黃連黃芩湯主之。（錢天來傷寒溯源集曰。脈促者。非脈來數。時一至復來之數也。即急促。亦可謂之促也。）曰。太陽病。下之其脈促。不結胸者。此為欲解也。胸滿也。喘而汗出也。結胸也。皆為邪盛於上部。故脈急促於寸口者。非數中一止之義也明矣。後漢荀悅申鑑云。氣長者以關息。氣短者其息稍升。其脈稍促。其神稍越。此乃為數促於寸口之義。雖非醫家之言。亦可以為左證矣。</p>
<p>周寅卿醫說會編云。羅謙甫。治赤馬刺。食炙兔內傷。視其脈。氣口大二倍於人迎。關脈尤有力。乃用備急丸。大黃巴豆之劑。及無憂散。上吐下利。始平復。（案出衛生寶鑑）項彥章。治食馬肉。服大黃巴豆。病轉劇。其脈促。宜引之上達。次複利之。以徹余垢而出。（案出醫史）所謂上部有脈。下部無脈。其人當吐者是也。夫傷物一也。而治之不同。藥之有異何哉。由乎脈之異而已。天下之醫。治病有不由脈。以有限之藥。應無窮之病者。吾不知其何謂也。舉此一端。以證其弊。學醫君子。其不可不盡心焉。</p>
<p>吳山甫曰。上魚者。上於魚際也。世人常有此脈。不可一例論也。有兩手上魚者。有一手上魚者。若平人神色充實。而有此脈者。此天稟之厚。元氣充滿。上溢於魚也。其人必壽。若人素無此脈。一旦上魚者。此病脈也。難經云。遂上魚為溢。脈經云。脈出魚際。逆氣喘急。史記。濟北王侍人韓女得此脈之類是。</p>
<p>案上魚。乃是並居寸口之甚者。故附於此。</p>

<h2>弦</h2>
<p>王叔和曰。弦脈。如張弓弦。（出脈經注）</p>
<p>嚴三點曰。弦。如箏弦。長過指而有力。</p>
<p>王文潔曰。弦。一條而來。按之不移。舉之應手端手端直弦。曰弦。（脈訣圖注評林）</p>
<p>李中梓曰。素問云。端直以長。（玉機真藏）叔和云。如張弓弦。巢氏云。按之不移。綽綽如按琴瑟弦。同父云。從中直過。挺然指下。諸家之論弦脈。可謂深切著明矣。</p>
<p>高鼓峰曰。弦如弓弦之弦。按之勒指。胃氣將絕。五藏無土。木氣太甚。即真藏脈。凡病脈見之即凶。（已任編）</p>
<p>吳山甫曰。雙弦者。脈來如引二線也。為肝實。為痛。若單絃。只一線耳。</p>
<p>徐忠可曰。有一手兩條脈。亦曰雙弦。此乃元氣不壯之人。往往多見此脈。亦屬虛。適愚概溫補中氣。兼化痰。應手而愈。（金匱要略論注）</p>
<p>黃韞兮曰。脈經謂弦脈舉之無有。按瘧脈有浮弦者。未嘗舉之有無也。經曰。瘧皆生於風。惟生於風。故其脈浮弦。且頭疼如破也。即脈經傷寒條中。亦有陽明中風脈弦浮之語。則所謂弦脈舉之無有。疑其誤也。（脈確）</p>
<p>案弦脈大要有三。有邪在少陽者。（瘧邪亦在少陽。故金匱云。瘧脈自弦。）有血氣收斂。筋脈拘急者。（腹痛。脅痛。痃氣疝㿉。故多兼見弦脈。）有胃氣衰敗。木邪乘土者。（虛勞多見弦細數是）辨脈。弦為陰。脈訣。弦為陽。並非也。又案張路玉曰。寸弦尺弦。以證病氣之升沉。夫弦可亙三部而診得之。豈有寸弦而關尺見他脈。尺弦而寸關見他脈之理乎。故今不取也。</p>

<h2>緊</h2>
<p>王叔和曰。緊脈。數如切繩狀。（一曰。如轉索之無常。○案一曰見辨脈法。）</p>
<p>案緊之一脈。古今脈書。無得其要領者。皆謂與弦相似。予家君嘗曰。素問。仲景。所謂緊脈。必非如諸家所說也。蓋緊。即不散也。謂其廣有界限。而脈與肉劃然分明也。寒主收引。脈道為之緊束。而不敢開散渙漫。故傷寒見此脈也。乃不似弦脈之弦絙三關。端直挺長也。矧於數脈之呼吸六七至。無彷彿也。如轉索。如切繩。戴氏輩雖巧作之解。而不知轉索切繩。原是謬說。按金匱曰。脈緊如轉索無常者。有宿食。（脈經。作左右無常。）此謂其脈緊。而且左右夭矯。如轉索無常者。有宿食之候也。非謂緊脈。即其狀如轉索無常也。叔和乃誤讀此條。於辨脈法則云。脈緊者。如轉索無常也。亦何不思之甚也。而更又生一說。於脈經則云。數如切繩狀。去緊之義益遠矣。後世諸家。率祖述叔和。故盡不可從也。嗚呼。緊脈之義。從前模糊。幸賴家君之剖析。得闡發古賢之本旨。孰不遵守乎哉。（傷寒例云。脈至如轉索者。其日死。緊脈。豈盡死脈乎。）</p>
<p>案孫光裕曰。經文未嘗言緊。內經曰急。未有緊脈之名。此失考耳。平人氣象論云。盛而緊。曰脹。示從容論。切脈浮大而緊。又靈樞禁服篇。緊為痛痹。且急有二義。有弦急。有數急。皆與緊脈不相干焉。</p>

<h2>沉</h2>
<p>王叔和曰。沉脈。舉之不足。按之有餘。（一曰。重按之乃得。）</p>
<p>王士亨曰。沉脈之狀。取之於肌肉之下得之。</p>
<p>黎民壽曰。沉者。陰氣厥逆。陽氣不舒之候。沉與浮對。浮以陽邪所勝。血氣發越而在外。故為陽主表。沉以陰邪所勝。血氣困滯不振。故為陰主裡。（決脈精要）</p>
<p>吳綬曰。沉。診法。重手按至筋骨之上。而切之。以察里證之虛實也。若沉微沉細沉遲沉伏。無力。為無神。為陰盛而陽微。急宜生脈回陽也。若沉疾沉滑沉實。皆有力。為熱實。為有神。為陽盛而陰微。急宜養陰以退陽也。大抵沉診之法。最為緊關之要。以決陰陽冷熱。用藥生死。在於毫髮之間。不可不仔細而謹察之。凡脈中有力。為有神。為之可治。脈中無力。為無神。為難治。（傷寒蘊要）</p>
<p>張介賓曰。沉。雖屬裡。然必察其有力無力。以辨虛實。沉而實者。多滯多氣。故曰。下手脈沉。便知是氣停積滯者。宜消宜攻。沉而虛者。因陽不達。因氣不舒。陽虛氣陷者。宜溫宜補。其有寒邪外感。陽為陰蔽。脈見沉緊而數及有頭疼身熱等證者。正屬邪表。不得以沉為里也。</p>
<p>蕭萬輿曰。每見表邪初感之際。風寒外束。經絡壅盛。脈必先見沉緊。或伏或止。是不得以陽證陰脈為惑。惟亟投以清表之劑。則應手汗泄而解矣。此沉脈之疑似。不可不辨也。</p>
<p>何夢瑤曰。浮沉有得於稟賦者。趾高氣揚之輩。脈多浮。鎮靜沉潛之士。脈多沉也。（又肥人多沉。瘦人多浮）有變於時令者。春夏氣升而脈浮。秋冬氣降而脈沉也。其因病而致者。則病在上（人身之上部也）在表在府者。其脈浮。（上表府皆屬陽。浮脈亦屬陽。陽病見陽脈也。）在下在裡在藏者。其脈沉也。</p>

<h2>伏</h2>
<p>十八難曰。伏者。脈行筋下也。</p>
<p>王叔和曰。伏脈。極重指按之。著骨乃得。</p>
<p>戴同父曰。伏脈。初下指輕按不見。次尋之中部。又不見。次重手極按。又無其象。直待以指推其筋於外。而診乃見。蓋脈行筋下也。若如常診。不推筋以求。則無所見昧者以為脈絕也。芤脈因按而知。伏脈因推而得。伏與沉相似。沉者重按乃得。伏者重按亦不得。必推筋乃見也。若重按不得。推筋著骨全無。則脈絕無。而非伏矣。（脈訣刊誤）</p>
<p>張介賓曰。如有如無。附骨乃見。此陰陽潛伏。阻隔閉塞之候。或火閉而伏。或寒閉而伏。或氣閉而伏。為痛極。為霍亂。為疝瘕。為閉結。為氣逆。為食滯。為忿怒。為厥逆水氣。伏脈之體。雖細微。亦必隱隱有力。凡伏脈之見。雖與沉微細脫者相類。而實有不同也。蓋脈之伏者。以其本有如無。而一時隱蔽不見耳。此有胸腹痛劇而伏者。有氣逆於經。脈道不通而伏者。有偶因氣脫。不相接續而伏者。然此必暴病暴逆者。乃有之。調其氣。而脈自復矣。若此數種之外。其有積困延綿。脈本細微。而漸至隱伏者。此自殘燼將絕之兆。安得尚有所伏。</p>
<p>吳又可溫疫論云。溫疫得里證。神色不敗。言動自如。別無怪證。忽然六脈如絲。微細而軟。甚至於無。或兩手俱無。或一手先伏。察其人不應有此脈。今有此脈者。緣應下失下。內結壅閉。營氣逆於內。不能達於四末。此脈厥也。亦多有過用黃連石膏諸寒之劑。強遏其熱。致邪愈結。脈愈不行。醫見脈微欲絕。以為陽症得陰脈。為不治。委而棄之。以此誤人甚眾。若更用人參生脈散輩。禍不旋踵。宜承氣緩緩下之。六脈自復。</p>

<h2>革</h2>
<p>徐春甫曰。革。為皮革。浮弦大虛。如按鼓皮。內虛外急。</p>
<p>李東璧曰。諸家脈書。皆以為牢脈。故或有革無牢。有牢無革。混淆不辨。不知革浮牢沉。革虛牢實。形證皆異也。（瀕湖脈學）</p>
<p>何夢瑤曰。弦大遲而浮虛者。為革。如按鼓皮。內虛空而外繃急也。</p>
<p>案仲景曰。脈弦而大。弦則為減。大則為芤。減則為寒。芤則為虛。寒虛相搏。此名為革。婦人則半產漏下。男子則亡血失精。因此觀之。時珍辨諸家之誤為得矣。王士亨曰。革脈如湧泉。謂出而不返也。此原脈要精微。渾渾革至之革為義。恐與此不相干焉。</p>

<h2>牢</h2>
<p>孫思邈曰。牢脈。按之實強。其脈有似沉伏。名曰牢。牢。陽也。（千金翼○案千金方。牢。作革。誤也。）</p>
<p>楊玄操曰。按之但覺堅極。曰牢。（難經注）</p>
<p>沈氏曰。似沉似伏。牢之位也。實大弦長。牢之體也。（瀕湖脈學）</p>
<p>李中梓曰。牢。在沉分。大而弦實。浮中二候。了不可得。按牢有二義。堅固牢實之義。又深居在內之義也。故樹以根深為牢。蓋深入於下者也。監獄以禁囚為牢。深藏於內者也。伏脈雖重按之。亦不可見。必推筋至骨。乃見其形。而牢脈既實大弦長。才重按之。便滿指有力矣。</p>
<p>張路玉曰。叔微云。牢則病氣牢固。在虛證絕無此脈。惟風痙拘急。寒疝暴逆。堅積內伏。乃有此脈。固壘在前。攻守非細。設更加之。以食填中土。大氣不得流轉。變故在於須臾。大抵牢為堅積內著。胃氣竭絕。故諸家以為危殆之象云。</p>
<p>案革者。浮堅無根之極。牢者。沉堅有根之極。當以此辨之。</p>

<h2>實</h2>
<p>王叔和曰。實脈。大而長微強。按之隱指愊愊然。（一曰。浮沉皆得。○按愊愊。訣脈精要。作幅幅。注云。廣以若布帛飾修其邊幅也。東璧云。幅幅。堅實貌。）</p>
<p>黎民壽曰。脈之來。舉指有餘。按之不乏。浮中沉皆有力。而言之也。</p>
<p>吳山甫曰。實。中取之。沉取之。脈來皆有力。曰實。實而靜。三部相得。曰氣血有餘。實而躁。三部不相得。曰里有邪也。</p>
<p>滑伯仁曰。實。不虛也。按舉不絕。迢迢而長。動而有力。不疾不遲。為三焦氣滿之候。為嘔為痛。為氣塞。為氣聚。為食積。為利。為伏腸在內。</p>
<p>何夢瑤曰。結實之謂實。如按豬筋。又如蔥中水充實。</p>
<p>張介賓曰。實脈有真假。真實者易知。假實者易誤。故必問其所因。而兼察形證。必得其神。方是高手。</p>
<p>張路玉曰。消癉鼓脹。堅積等病。皆以脈實為可治。若泄而脫血。及新產驟虛。久病虛羸。而得實大之脈。良不易治也。</p>
<p>陳遠公曰。實脈。不獨按指有力。且不可止抑之狀。非正氣之有餘。乃邪氣之有餘也。邪氣有餘。自然壅阻正氣矣。</p>

<h2>微</h2>
<p>王叔和曰。微脈。極細而軟。或欲絕。若有若無。（一曰。小也。一曰。按之如欲盡。）</p>
<p>嚴三點曰。微。如蜘蛛之度微絲。按之無力而動搖。</p>
<p>滑伯仁曰。微。不顯也。依稀輕細。若有若無。為氣血俱虛之候。</p>
<p>李東璧曰。輕診即見。重按如欲絕者。微也。仲景曰。脈瞥瞥。如羹上肥（案肥。謂羹麵肥珠。瞥瞥然。光彩不定者也。）者。陽氣微。縈縈如蠶絲細（案傷寒論。作蜘蛛絲。）者。陰氣衰。長病得之死。卒病得之生。</p>
<p>李士材曰。筭數者。以十微為一忽。十忽為一絲。十絲為一毫。</p>
<p>張路玉曰。微脈者。似有若無。欲絕非絕。而按之稍有模糊之狀。不似弱脈之小弱分明。細脈之纖細有力也。</p>
<p>何夢瑤曰。古以微屬浮。細屬沉分。微為陽衰。細為血少。本集各脈。皆直指本義。故以細甚無力為微。</p>
<p>董西園曰。微為氣血不足之象。以指按之。似有如無。衰敗之況也。凡脈之不甚鼓指。脈體損小者。即是微脈。若至有無之間。模糊影響。證已敗矣。虛極之脈也。</p>

<h2>澀</h2>
<p>王叔和曰。澀脈。細而遲。往來難且散。或一止復來。</p>
<p>王太僕曰。澀者。往來時不利。而蹇澀也。（脈要精微論注）</p>
<p>玄白子曰。參伍不調。名曰澀。如雨沾沙。短且難。（相類脈訣）</p>
<p>戴同父曰。脈來蹇澀。細而遲。不能流利圓滑者。澀也。與滑相反。如刀刮竹。竹皮澀。又為竹刀刮而竹澀。遇節則倒退。澀脈往來難之意。如雨沾沙。沙者不聚之物。雨雖沾之。其體亦細而散。有澀脈往來散之意。或一止復來。因是澀不流利之止。與結促代之止不同。</p>
<p>周禮曰。澀。不滑也。虛細而遲。如雨沾沙。若六七支針。一宗戳上來也。滑為血有餘。澀為氣濁滯也。滑澀者。以往來察其形狀之難也。（醫聖階梯）</p>
<p>何夢瑤曰。澀。糙澀也。與滑相反。往來黏滯者是。</p>
<p>張景岳曰。往來艱澀。動不流利。為血氣俱虛之候。凡脈見澀滯者。多由七情不遂。營衛耗傷。血無以充。氣無以虧。其在上。則有上焦之不舒。在下則有下焦之不運。在表則有筋骨之疲勞。在裡則有精神之短少。凡此總屬陽虛。諸家言氣多血少。豈以脈之不利。猶有氣多者乎。</p>
<p>張路玉曰。澀脈。良由津血虧少。不能濡潤經絡。所以澀澀不調。故經有脈澀。曰痹。（平人氣象）寸口諸澀亡血。澀則心痛。（脈要精微）尺熱脈澀為解㑊。（平人氣象）種種皆陰血消亡。陽氣有餘。而為身熱無汗之病。亦有痰食膠固中外。脈道阻滯。而見澀數模糊者。陰受水穀之害也。</p>
<p>案脈要精微云。滑者。陰氣有餘也。澀者。陽氣有餘也。故後世諸家。類為氣多血少之脈。而景岳辨之詳矣。路玉亦云。食痰膠固中外。脈道阻滯。今驗不啻食痰為然。又有七情鬱結。及疝瘕癖氣。滯礙隧道。而脈澀者。宜甄別脈力之有無。以定其虛實耳。○又案澀脈。古無一止之說。叔和則云。或一止爾。後世脈書。多宗其說。而明清諸家。有不及止之義者。蓋叔和下或字。則澀之止。不必定然。然澀之極。或有一止者。則其言不止。亦不可必也。</p>
<p>吳又可瘟疫論云。張昆源之室。年六旬。得滯下。後重窘急。旦三四十度。脈常歇止。諸醫以為雀啄脈。必死之候。咸不用藥。延予診視。其脈參伍不調。或二動一止。或三動一止。而復來。此澀脈也。年高血弱。下利膿血。六脈結澀。固非所能任。詢其飲食不減。形色不變。聲音烈烈。言語如常。非危證也。遂用芍藥湯。加大黃三錢。大下純膿成塊者。兩碗許。自覺舒快。脈氣漸續。而利亦止。數年後。又得傷風咳嗽。痰涎湧甚。診之又得前脈。與杏桔湯二劑。嗽止脈調。凡病善作此脈。大抵治病。務以形色脈證參考。庶不失其大段。方可定其吉凶也。○劉松峰瘟疫論類編云。澀脈。不過不流利。非有歇止。此說欠妥。又云。如此說來。是結脈。近於代脈之象。豈可以澀脈當之。澀脈原無歇止。與滑字相對。（案松峰蓋不讀脈經。故云澀脈無歇止。）</p>

<h2>細（一曰小）</h2>
<p>王叔和曰。細脈。小。大於微。常有但細耳。（沈際飛本脈經。但。作直。非。）</p>
<p>吳山甫曰。小脈。形減於常脈一倍。曰小。脈經首論脈形二十四種。有細而無小。今之小。其即古之細乎。</p>
<p>李東璧曰。素問。謂之小。王啟玄言如莠蓬。（見脈要精微注）狀其柔細也。脈訣。言往來極微。是微反大於細矣。與經相背。脈經曰。細為血少氣衰。有此證則順。否則逆。故吐衄得沉細者生。憂勞過度者。脈亦細。</p>
<p>李中梓曰。細之為義。小也。微脈則模糊而難見。細脈則顯明而易見。故細比於微。稍稍較大也。</p>
<p>何夢瑤曰。小與大相反。一名細。細甚無力。名微。大小有得於稟賦者。世所謂六陽六陰也。（生成脈大者。名六陽脈。小者。名六陰脈。）有隨時令變異者。時當生長則脈大。當收斂則脈小也。有因病而變異者。邪有餘則脈大。（邪氣壅滿）正不足則脈小也。（血氣衰少）</p>
<p>張路玉曰。細為陽氣衰弱之候。傷寒以尺寸俱沉細。為太陰。為少陰。內經如細則少氣。脈來細而附骨者積也。尺寒脈細。謂之後泄。頭痛脈細而緩為中濕。種種皆陰邪之證驗。但以兼浮兼沉。在尺在寸。分別而為裁次。</p>
<p>案靈素仲景。細小互稱。至滑氏始分為二小。不大也。細。微眇也。遂以細為微。凡脈訣以降。細微混同者。皆不可憑也。</p>

<h2>軟</h2>
<p>（即濡。又作耎軟。施政卿雲。集韻。軟。濡。同呼同用。）</p>
<p>王叔和曰。軟脈。極軟而浮細。（一曰。按之無有。舉之有餘。一曰。細小而軟。軟一作濡。曰。濡者如帛衣在水中。輕手相得。）</p>
<p>劉復真曰。濡。遲而全無力。又曰。濡。揍指邊還怯怯。（理玄秘要）</p>
<p>滑伯仁曰。濡。無力也。虛軟無力。應手散細。如綿絮之浮水中。輕手乍來。重手卻去。</p>
<p>李東璧曰。如水上浮漚。重手按之。隨手而沒之象。又曰。浮細如綿。曰濡。沉細如綿。曰弱。浮而極細如絕。曰微。沉而極細不斷。曰細</p>
<p>李士材曰。濡脈之浮軟。與虛脈相類。但虛脈形大。而濡脈形小也。濡脈之細小。與弱脈相類。但弱在沉分。而濡在浮分也。濡脈之無根。與散脈相類。但散脈從浮大。而漸至於沉絕。濡脈從浮小。而漸至於不見也。從大而至無者。為全凶之象。從小而至無者。為吉凶相半也。浮生氣分。浮舉之而可得。氣猶未敗。沉主血分。沉按之而全無。血已傷殘。在久病老年之人見之。尚未至於必絕。為其脈與症合也。若平人及少壯暴病見之。名為無根脈。去死不遠矣。</p>

<h2>弱</h2>
<p>王叔和曰。弱脈。極軟而沉細。按之欲絕指下。</p>
<p>戴同父曰。極耎而沉細。如絕指下。扶持不起。不能起伏。不任尋按。大體與濡相類。濡細軟而浮。弱脈則細軟而沉。以此別之。病後見此脈為順。平人強人。見之為損為危。</p>
<p>滑伯仁曰。弱。不盛也。極沉細而軟。怏怏不前。按之欲絕未絕。舉之即無。（黎居士云。怏。懟也。情不滿足也。）</p>
<p>李東璧曰。弱。乃濡之沉者。脈訣。言輕手乃得。黎氏譬如浮漚。皆是濡脈。非弱也。素問曰。脈弱以滑。是有胃氣。脈弱以澀。是謂久病。病後老人。見之順。平人少年。見之逆。</p>

<h2>虛</h2>
<p>王叔和曰。虛脈。遲大而軟。按之不足。隱指豁豁然空。</p>
<p>周正倫曰。虛。不實也。無力為虛。按至骨無脈者。謂之無力也。（醫聖階梯）</p>
<p>張介賓曰。虛脈。正氣虛也。無力也。無神也。有陰有陽。浮而無力為血虛。沉而無力為氣虛。數而無力為陰虛。遲而無力為陽虛。雖曰。微濡遲澀之屬。皆為虛類。然而無論諸脈。但見指下無神。總是虛脈。內經曰。按之不鼓。諸陽皆然。即此謂也。故凡洪大無神者。即陰虛也。細小無神者即陽虛也。</p>
<p>何夢瑤曰。虛不實也。虛甚則中空。名芤。虛實亦有得於生成者。肉堅實者。脈多實。虛軟者。脈多虛也。亦有變於時令者。春夏發泄。雖大而有虛象。秋冬斂藏。雖小而有實形也。若因病而異。則大而實。（不特壅滿。而且積實。）小而虛者。（不特衰小。而且空虛。）可驗正邪之主病。（俱盛邪盛。俱衰正衰。）大而虛。（氣有餘血不足。如蔥中少。俱吹之使脹也。）小而實者。（血能充。而氣衰不鼓。）可驗陰陽之偏枯。</p>
<p>案黃韞兮曰。瀕湖引內經云。氣來虛微。為不及。病在內。愚按虛脈浮大無力。微脈浮細無力。大中不能見細。則虛不可兼言微矣。今考內經。謂氣來不實而微。為不及。不實者。細無力之謂也。故可言微。瀕湖硬以不實。改作虛字。誤。是說似是而實非也。虛乃脈無力之統名。不必浮大無力之謂也。</p>

<h2>散</h2>
<p>崔紫虛曰。渙漫不收。其脈為散。（四言舉要）</p>
<p>戴同父曰。散。不聚之名。仲景曰。傷寒咳逆上氣。其脈散者死也。難經曰。浮而大散者。心也。最畏散脈獨見。獨見則危矣。</p>
<p>滑伯仁曰。散。不聚也。有陽無陰。按之滿指。散而不聚。來去不明。謾無根柢。為氣血耗散。府藏氣絕。主虛陽不斂。</p>
<p>何夢瑤曰。大而盛於浮分。名洪。大而散漫滲開。脈與肉無界限。名散。脈形本圓斂。今散漫不收。蓋虛甚而四散者也。</p>
<p>案何氏又解秋脈。其氣來毛而中央堅。兩旁虛。曰虛散也。惟兩旁散。而中央不散也。予嘗見真元不足。肝木有餘者。其脈中央一線緊細。而兩傍散漫。病屬不治。亦不可不知也。因附似於此。</p>

<h2>緩</h2>
<p>孫思邈曰。按之依依。名曰緩。</p>
<p>王太僕曰。緩者。謂緩縱之狀。非動之遲緩也。（平人氣象論注）</p>
<p>吳山甫曰。緩。狀如琴絃久失更張。縱而不整。曰緩。與遲不同。遲以數言。緩以形言。其別相遠矣。（案王叔和曰。緩脈去來亦遲。小駃於遲。故吳氏有此言焉。）若脈來不浮不沉。中取之。從容和緩者。脾之正脈也。浮而緩。曰衛氣傷。沉而緩。曰榮氣弱。諸部見緩脈。皆曰不足。謂其不鼓也。</p>
<p>張介賓曰。緩脈。有陰有陽。其義有三。凡從容和緩。浮沉得中者。此自平人之正脈。若緩而滑大者。多實熱。如內經所言者是也。緩而遲細者。多虛寒。即諸家所言者是也。然實熱者必緩大有力。多為煩熱。為口臭。為腹滿。為癰瘍。為二便不利。或傷寒溫瘧初愈。而餘熱未清者。多有此脈。若虛寒者。必緩而遲細。為陽虛。為畏寒。為氣怯。為疼痛。為眩暈。為痹弱。為痿厥。為怔忡健忘。為食飲不化。為騖溏飧泄。為精寒腎冷。為小便頻數。女人為經遲血少。為失血下血。凡諸瘡毒外證。及中風產後。但得脈緩者。皆易愈。</p>
<p>案緩者。弛也。不急也。吳氏以琴絃為喻。為是矣。仲景曰。寸口脈緩而遲。緩則陽氣長。又曰。趺陽脈遲而緩。胃氣如經也。乃知緩與遲。其別果相逺也。</p>

<h2>遲</h2>
<p>王叔和曰。遲脈。呼吸三至。去來極遲。</p>
<p>滑伯仁曰。遲。不及也。以至數言之。呼吸之間。脈僅三至。減於平脈一至也。為陰盛陽虧之候。為寒為不足。</p>
<p>吳山甫曰。遲。醫者一呼一吸。病者脈來三至。曰遲。二至一至。則又遲也。若二呼二吸一至。則遲之極矣，陰脈也。為陽虛。為寒。觀其遲之微甚。而寒為之淺深。微則可治。甚則難生。乍遲乍數。曰虛火。</p>
<p>張路玉曰。遲脈者。呼吸定息。不及四至。而舉按皆遲。遲為陽氣失職。胸中大氣。不能敷布之候。故昔人咸以隸之虛寒。浮遲為表寒。沉遲為裡寒。遲澀為血病。遲滑為氣病。此論固是。然多有熱邪內結。寒氣外郁。而見氣口遲滑作脹者。詎可以脈遲。概為之寒。而不究其滑澀之象。虛實之異哉。詳仲景有陽明病脈遲。微惡寒。而汗出多者。為表未解。脈遲頭眩腹滿者。不可下。有陽明病。脈遲有力。汗出不惡寒。身重喘滿。潮熱便硬。手足濈然汗出者。為外欲解。可攻其里。又太陽病脈浮。因誤下而變遲膈內拒痛者。為結胸。若此者熱邪內結之明驗也。</p>
<p>董西園曰。脈之至也。由乎氣之緩急。故必以息候之。一呼一吸為一息。一息中得四至之半。乃為和平之脈。若一息三至。氣行也緩。陰之象也。一息六至。氣行也疾。陽之象也。</p>
<p>案程應旄曰。遲脈。亦有邪聚熱結。腹滿胃實。阻住經隧而成者。又不可不知。（出陽明病篇注）今驗有癥瘕痃氣。壅遏隧道。而見遲脈者。是雜病亦不可以遲概而為寒也。○又案人身蓋一脈也。故其見於三部。雖有形之小大浮沉不同。然至數之徐疾。必無有異。驗諸病者為然矣。而仲景書或云。尺中遲。或云關上數。後世脈書。亦云寸遲為某病。尺遲主何證之類。比比皆然。此予所未嘗親見。竊疑理之所必無也。附記以俟明者。</p>

<h2>結</h2>
<p>十八難曰。結者。脈來去時一止。無常數。名曰結也。</p>
<p>孫思邈曰。脈來動而中止。按之小數。中能還者。舉指則動。名曰結。</p>
<p>王士亨曰。結脈之狀。大小不定。往來不拘數至。時一止。主氣結不流行。腹中症癖。氣塊成形。或因大病後。亡津液亡血。或驚恐神散。而精不收。或夢漏亡精。又多慮而心氣耗也。若無是因。則其人壽不過一二年。</p>
<p>方龍潭曰。結者。氣血之結滯也。至來不勻。隨氣有阻。連續而止。暫忽而歇。故曰結。又謂三動一止。或五七動一止。或十動二十動一止。亦曰歇。此歇者。不勻之歇至也。其病不死。但清痰理氣自可。</p>
<p>錢天來曰。結者。邪結也。脈來停止暫歇之名。猶繩之有結也。凡物之貫於繩上者。遇結必礙。雖流走之甚者。亦必少有逗遛。乃得過也。此因氣虛血澀。邪氣間隔於經脈之間耳。虛衰則氣力短淺。間隔則經絡阻礙。故不得快於流行。而止歇也。（傷寒溯源集）</p>
<p>張介賓曰。脈來忽止。止而復起。總謂之結。舊以數來一止為促。促者為熱。為陽極。緩來一止為結。結者為寒。為陰極。然以予之驗。則促類數也。未必熱。結類緩也。未必寒。但見中止者。總是結脈。多由血氣漸衰。精力不繼。所以斷而復續。續而復斷。常見久病者多有之。虛勞者多有之。或誤用攻擊消伐者亦有之。但緩而結者。為陽虛。數而結者。為陰虛。緩者猶可。數者更劇。此可以結之微甚。察元氣之消長。最顯最切者也。至如留滯鬱結等病。本亦此脈之證應。然必其形強氣實。而舉按有力。此多因鬱滯者也。又有無病而一生脈結者。此其素稟之異常。無足怪也。舍此之外。凡病有不退而漸見脈結者。此必氣血衰殘。首尾不繼之候。速宜培本。不得妄認為留滯。</p>
<p>張路玉曰。結為陰邪固結之象。越人云。結甚則積甚。結微則氣微。言結而少力。為正氣本衰。雖有積聚。脈結亦不甚也。而仲景有傷寒汗下不解。脈結代心動悸者。有太陽病。身黃脈沉結。少腹硬滿。小利不利。為無血者。一為津衰邪結。一為熱結膀胱。皆虛中挾邪之候。凡寒飲死血吐利腹痛。癲癇蟲積等。氣鬱不調之病。多有結脈。嘗見二三十至內。有一至接續不上。每次皆然。而指下虛微。不似結脈之狀。此元氣驟脫之故。峻用溫補自復。如補益不應。終見危殆。</p>
<p>案結脈。始出於靈樞終始篇。及十八難。而辨脈法。以緩來一止為結。以數來一止為促。乃與仲景本論之旨左矣。（詳見促脈）況緩數對言。此乃以緩為遲者。尤屬謬誤。張景岳單以結脈為遏止之總稱。蓋有所見於此也。予前年治一賈人瘟疫。其脈時止。其子尋病。亦脈結。因試連診其三子。並與父兄一般。此類盡有之。景岳素稟之說。亦不復誣也。</p>

<h2>代</h2>
<p>王叔和曰。代脈。來數中止。不能自還。因而復動。脈結者生。代者死。</p>
<p>楊仁齋曰。代者。陰也。動中有止。不能自還。因而復動。由是復止。尋之良久則起。如更代之代。</p>
<p>樓全善曰。自還者。動而中止復來。數於前動也。不能自還者。動而中止。復來如前。動同而不數也。（醫學綱目）</p>
<p>李士材曰。代者。禪代之義也。如四時之禪代。不愆其期也。結促之止。止無當數。代脈之止。止有常數。結促之止。一止即來。代脈之止。良久方至。內經以代脈之見。為藏氣衰微。脾氣脫絕之診也。惟傷寒心悸。懷胎三月。或七情太過。或跌僕重傷。及風家痛家。俱不忌代脈。未可斷其必死。錢天來曰。代。替代也。氣血虛憊。真氣衰微。力不支給。如欲求代也。止而未即復動。若有不復再動之狀。故謂之不能自還。又略久復動。故曰因而復動。</p>
<p>張景岳曰。代。更代之義。謂於平脈之中。而忽見耎弱。或乍數乍疏。或斷而復起。均名為代。而代本不一。各有深義。如五十動而不一代者。乃至數之代。即根結篇所云者是也。若脈本平勻。而忽強忽弱者。乃形體之代。即平人氣象論所云者是也。又若脾主四季。而隨時更代者。乃氣候之代。即宣明五氣等篇所云者是也。（此言藏氣之常候。非謂代為止也。）凡脈無定候。更變不常。則均謂之代。但當各因其變。而察其情。庶得其妙。</p>
<p>案代脈。諸說不一。然景岳所論。尤為允當矣。史記倉公云。不平而代。又云。代者。時參擊。乍疏乍大也。張守節正義云。動不定。曰代。可以確其說也。蓋動而中止。不能自還。因而復動者。乃至數之更變。而仲景叔和所云者。即代脈中之一端也。若其為止。有常數者。似泥於經文焉。李士材曰。善化令黃柱岩。心疼奪食。脈三動一止。良久不能自還。施笠澤云。五藏之氣不至。法當旦夕死。余曰。古人謂痛甚者脈多代。少得代脈者死。老得代脈者生。今柱岩春秋高矣。而胸腹負痛。雖有代脈。安足慮乎。果越兩旬。而柱岩起矣。予家君近治一老人。症塊發動。引左脅而痛。綿連不已。藥食嘔變。其脈緊細而遲。左脈漸漸微小。遂絕止者。二三十動許。覆手診之亦然。又漸漸見出如故者良久。又絕止如前。用附子建中湯。加吳茱萸。視療十餘日。痛全愈。而脈復常。是代之最甚者。正見李氏之言信然矣。○又案傷寒論不可下篇云。傷寒脈陰陽俱緊。惡寒發熱。則脈欲厥。厥者脈初來大。漸漸小。更來漸漸大。是其候也。又王海藏陰證略例云。秦二好服天生茶。及冷物。積而痼寒。脈非浮非沉。上下內外。舉按極有力。堅而不柔。觸指突出膚表。往來不可以至數名。縱橫不可以鉅細狀。此陰證鼓擊脈也。一身遊行之火。萃於胸中。寒氣逼之。搏大有力。與真武四逆等藥。佐以芍藥茴香。酒糊丸。使不僣上。每百丸。晝夜相接八九服。凡至半斤。作汗而愈。亦世罕有也。以上據景岳言。皆代之屬也。故舉似於此。楊玄操曰。難經言止。靈樞言代。按止者。按之覺於指下而中止。名止。代者。還尺中。停久方來。名曰代也。其止代雖兩經不同。據其脈狀。亦不殊別。</p>
<p>董西園曰。脈因動靜而變。故安臥遠行。脈形有別。無足怪也。若頃刻之動靜。不必遠行。即轉身起坐。五十步間。其脈即見數疾。坐診之頃。隨即平靜。即換診舉手。平疾必形。一動一靜。無不變更。此種脈候。非五屍祟氣之相干。多真元內。虛之明驗。惟其內氣無主。臟氣不治。而後經脈之氣。瞬息變更。將見厥暈僵仆之候。故此種脈情。恆有伏風內舍。經絡痹留。或火動於中。或飲發於內者。動則氣役於邪。而脈隨氣變也。此皆因邪之善行數變。以致鼓水揚燃。又為虛中挾實之候。當求其因而調之。庶可轉危為安。（案脈之變動。亦代之類也。故附於此。）</p>

<h2>動</h2>
<p>王叔和曰。動脈。見於上關。無頭尾。大如豆。厥厥然動搖。（傷寒論云。陰陽相搏。名曰動。陽動則汗出。陰動則發熱。形冷惡寒。數脈見於關上。上下無頭尾。如豆大。厥厥動搖者。名曰動。）</p>
<p>王士亨曰。動脈之狀。鼓動而暴於指下不常。氣血相乘。搏擊而動也。</p>
<p>何夢瑤曰。數而跳突。名動。乃跳動之意。大驚多見此脈。蓋驚則心胸跳突。故脈亦應之而跳突也。仲景曰。若數脈見於關。（觀若字。則關是偶舉可知。非動脈止見於關也。）上下無頭尾。（狀其圓而突耳。非真上不至寸下不至尺也。）如豆大。厥厥動搖者。名曰動。</p>
<p>黃韞兮曰。仲景傷寒論云。數脈見於關上。上下無頭尾。如豆大。厥厥動搖者。名曰動。愚按兩上字。其一乃後人誤添者。當是數脈見於關上下。</p>
<p>經曰。女子手少陰脈動甚者。妊子也。手少陰屬心。是寸有動脈矣。王叔和著脈經。不知兩上字。其一乃衍字。因曰動脈見於關上。遂今後之論脈者。皆曰動脈只見於關。與經不合矣。</p>
<p>張路玉曰。動。為陰陽相搏之脈。陽動則汗出。陰動則發熱。然多有陰虛發熱之脈。動於尺內。陽虛自汗之脈。動於寸口者。所謂虛者則動。邪之所湊。其氣必虛。金匱有云。脈動而弱。動則為驚。弱則為悸。因其虛。而旺氣乘之也。</p>
<p>案脈訣論動脈。含糊謬妄。時珍已辨之。然猶言止見於關。爾後諸家亦多依之。至何夢瑤。黃韞兮。初就若之一字。為之解釋。極為明備。可謂千古卓見矣。</p>

<h2>長</h2>
<p>高陽生曰。長者。陽也。指下尋之。三關如持竿之狀。舉之有餘。曰長過於本位。亦曰長。</p>
<p>王士亨曰。長脈之狀。指下有餘。如操帶物之長。稟賦氣強勝血而氣擁。其人壽。若加大而數。為陽盛內熱。當利三焦。</p>
<p>李東璧曰。長脈不大不小。迢迢自若。（朱氏）如循長竿末稍為平。如引繩。如循長竿為病。（素問。）實牢弦緊。皆兼長脈。</p>
<p>李士材曰。迢迢首尾俱端。直上直下。如循長竿。長之為義。首尾相稱。往來端直也。長而和緩。即合春生之氣。而為健旺之徵。長為硬滿。即為火亢之形。而為疾病之應也。</p>
<p>何夢瑤曰。長。溢出三指之外。按寸口之脈。由胸中行至大指端。非有斷截。本無長短可言。然脈體有現有不現。不現者。按之止見其動於三指之內。現者。見其長出於三指之外。則長短宜分矣。（高鼓峰云。有形體之長。有往來之長。往來之長。謂來有餘韻也。案高說甚善。長短本言形體。而凡脈之以神氣悠長為貴者。固可因此說。而想見其狀矣。）</p>
<p>張路玉曰。傷寒以尺寸俱長。為陽明受病。內經又以長則氣治。為胃家之平脈。若長而浮盛。又為經邪方盛之兆。亦有病邪向愈。而脈長者。仲景云。太陰中風。四肢煩疼。陽脈微陰脈澀而長者。為欲愈。又有陰氣不充。而脈反上盛者。經言寸口脈中手長者。曰足脛痛。是也。</p>

<h2>短</h2>
<p>高陽生曰。短者。陰也。指下尋之。不及本位。曰短。</p>
<p>滑伯仁曰。短。不長也。兩頭無中間有。不及本位。氣不足以前導其血也。為陰中伏陽。為三焦氣壅。為宿食不消。</p>
<p>孫光裕曰。凡診當細認。不可視其短縮為不足。不可斷其短小為虛弱。但陰中伏陽。不能舒暢。有短小之象。不能接續。有累累之狀。曰短。</p>
<p>張路玉曰。尺寸俱短。而不及本位。不似小脈之三部皆小弱不振。伏脈之一部獨伏匿不前也。經云。短則氣病。良由胃氣阨塞。不能條暢百脈。或因痰氣食積。陰礙氣道。所以脈見短澀促結之狀。亦有陽氣不充而脈短者。經謂寸口脈中手短者。曰頭痛。是也。仲景云。汗多重發汗。亡陽讝語。脈短者死。脈自和者不死。戴同父云。短脈只當責之於尺寸。若關中見短。是上不通寸為陽絕。下不通尺為陰絕矣。曷知關部從無見短之理。昔人有以六部分隸而言者。（案李士材輩是。）殊失短脈之義。</p>
<p>何夢瑤曰。歉於三指之中為短。長短有得於稟賦者。筋現者脈恆長。筋不現者。脈恆短也。有隨時令變異者。則春脈長而秋脈短也。有因病而變異者。則邪氣長而脈長。正氣短而脈短也。</p>
<p>案千金方。論腳氣曰。心下急氣喘不停。或自汗數出。或乍寒乍熱。其脈促短而數。嘔吐不止者死。蓋促短而數者。驗之病者。其脈之來去。如催促之。短縮而數疾。此毒氣衝心。脈道窘迫之所致。乃為死證。是短脈之最可怖者。故附於此。</p>

<h1>卷下</h1>

<h2>婦人</h2>
<p>孫思邈曰。凡婦人脈。常欲濡弱於丈夫。</p>
<p>張路玉曰。古人雖有女子右脈常盛。及女脈在關下之說。要非定論。其病惟經候胎產。異於男子。他無所殊也。</p>
<p>案何夢瑤曰。古謂男脈左大於右。女脈右大於左。驗之不然。蓋人之右手。比左手略大。脈亦應之。而右大於左。不論男女皆然也。惟男兩尺恆虛。女兩尺恆實。差不同耳。此說亦未必也。</p>
<p>素問腹中論。帝曰。何以知懷子之且生也。岐伯曰。身有病。而無邪脈也。張景岳注曰。身有病。謂經斷惡阻之類也。身病者脈亦當病。或斷續不調。或弦澀細數。是皆邪脈。則真病也。若六脈和滑。而身有不安者。其為胎氣無疑矣。</p>
<p>平人氣象論曰。婦人手少陰動甚者。任子也。王太僕注云。手少陰。謂掌後陷者中。當小指動而應手者也。滑氏抄云。動甚。謂脈來過於滑動也。（全元起。作足少陰。王宇泰準繩。從之。）張景岳曰。凡婦人懷孕者。其血留氣聚。胞宮內實。故脈必滑數倍常。此當然也。然有中年受胎。及血氣羸弱之婦。則脈見細小不數者。亦有之。但於微弱之中。亦必有隱隱滑動之象。此正陰搏陽別之謂。（陰陽別論）是即妊娠之脈。有可辨也。又胎孕之脈數。勞損之脈亦數。大有相似。然損脈之數。多兼弦澀。胎孕之數。必兼和滑。此當於幾微中。辨其邪氣胃氣之異。而再審以證。自有顯然可見者。</p>
<p>又曰。啟蒙云。欲產之婦脈離經。離經之脈認分明。其來小大不調勻。或如雀啄屋漏應。腰疼腹痛眼生花。產在須臾卻非病。</p>
<p>何夢瑤曰。脈經云。尺脈按之不絕。妊娠也。（羸弱之婦。不必脈皆滑實。但按尺中應指源源不絕。便是。滑伯仁謂三部浮沉正等。無他病而不月。為胎妊。亦此意。）其脈離經。（經。常也。與常日脈異者。是。一說離經。謂歇至及大小不勻。如雀啄者是。）而腹痛引腰背。為欲生也。（腹不痛。痛不引腰背。俱未產。當靜待之。）</p>
<p>董西園曰。凡素有積氣瘕氣之體。每於懷娠之後。多見腹痛。其脈皆數急。則積瘕與胎胚。分別甚難。宜考其素來情狀。然後酌治。庶不致誤。更有虛損陰虛之候。脈亦動數滑疾。經閉不行。狀類懷娠。凡此之候。與妊娠幾微之別耳。但妊娠之脈。滑數中自有和氣可觀。虛損之數急。非空小而急。或細勁而弦。皆屬無神之診。柔和氣象。斷不可見。若積聚挾實之候。脈多沉著。其起居飲食。自與勞損妊娠之愛憎動靜不同。其形色精神。亦迥然各別。獨是虛損之體。復有懷娠者。誠幾微之別。不可不留心討論者也。</p>
<p>案離經之脈。脈訣云。欲產之婦脈離經。沉細而滑也同名。臨產之脈。豈盡沉細而滑乎。劉元賓。李晞範。張世賢輩。皆引難經一呼三至。一吸三至。驗之率如其言矣。（陳自明婦人良方。亦引難經。）戴同甫。以離其尋常之脈。昨小今大。昨浮今沉之類。為離經之脈。而排劉李二氏之說。卻非也。戴又云。診其尺脈。轉急如切繩轉珠者即產。是或然。今試妊婦屆生產之期。破漿之時。大抵脈一息七八至。既欲分娩之際。脈反徐遲。驗數十人皆然。薛立齋云。欲產之時。覺腹內轉動。即當正身仰臥。待兒轉身向下時作痛。試捏產母手中指。中節或本節跳動。方與臨盆即產矣。正可心實據也。</p>

<h2>小兒</h2>
<p>劉方明曰。保生論。小兒三歲已後。或五百七十六日外。皆可診兩手脈。一指定三關。（幼幼新書○張路玉曰。三關。謂寸關尺三部。）</p>
<p>王宇泰曰。候兒脈。當以大指袞轉尋三部。以關為準。七八歲移指少許。九歲次第依三關部位尋取。十一十二歲亦同。十四十五歲。依大方脈部位診視。（幼科準繩）</p>
<p>案程若水云。初生芽兒一塊血。也無形證也無脈。（醫彀）今試小兒生下。周身無脈動。及乳潼一進。而脈才現。至其現則可診候。亦何必三歲也。</p>
<p>張介賓曰。凡小兒形體既具。經脈已全。所以初脫胞胎。便有脈息可辨。故通評虛實論曰。乳子病熱。脈懸小者。手足溫則生。寒則死。乳子病風熱。喘鳴肩息者。脈實大也。緩則生。急則死。此軒岐之診小兒。未嘗不重在脈。亦未嘗不兼證為言也。故凡診小兒。既其言語不通。尤當以脈為主。而參以形色聲音。則萬無一失矣。然小兒之脈。非比大人之多端。但察其強弱緩急。四者之脈。是即小兒之肯綮。蓋強弱可以見虛實。緩急可以見邪正。四者既明。則無論諸證。但隨其病。以合其脈。而參此四者之因則左右逢源。所遇皆道矣。再加以聲色之辨。更自的確無疑。又何遁情之有。此最活最妙之心法也。若單以一脈。鑿言一病。則一病亦能兼諸脈。其中真假疑似。未免膠柱。實有難於確據者矣。</p>
<p>曾世榮曰。宣和御醫戴克臣云。五歲兒。常脈一息六至。作八至者。非也。始順鏤版之際。誤去六字上一點一畫。下與八字相類。致此訛傳。默庵張氏脈訣亦云。小兒常脈一息。只多大人二至為平。即六至也。（活幼口議）</p>
<p>案脈經。脈訣。諸本並作八至。不可斷為鏤版之訛。然以六至為平者似是。後世幼科書。率以六至為中和之脈。五至四至為遲。七至八至為數。蓋宗曾氏之說耳。</p>
<p>陳飛霞曰。小兒三五歲。可以診視。第手腕短促。三部莫分。惟以一指候之。誠非易易。內經診視小兒。以大小緩急四脈為準。予不避僭越。體其意。竟易為浮沉遲散。而以有力無力。定其虛實。似比大小緩急。更為明悉。後賢其體認之。（幼幼集成）</p>

<h2>怪脈</h2>

<h3>彈石</h3>
<p>王叔和曰。彈石者。辟辟急也。（張世賢曰。辟辟。逼迫貌。）</p>
<p>黎民壽曰。彈石之狀。堅而促。來遲去速。指下尋之。至搏而絕。喻如指彈石。此真腎脈也。</p>

<h3>解索</h3>
<p>王叔和曰。解索者。動數而隨散亂。無復次緒也。</p>
<p>黎民壽曰。或聚或散。如繩索之解。而無收約。</p>

<h3>雀啄</h3>
<p>王叔和曰。雀啄者。脈來甚數而疾。絕止復頓來。（又曰。長病七日死。）</p>
<p>黎民壽曰。若雀啄食之狀。蓋來三者。而去一也。脾元穀氣。已絕於內。腸胃虛乏無稟賦。而不能散於諸經。則諸經之氣。隨而亡竭矣。</p>

<h3>屋漏</h3>
<p>王叔和曰。屋漏者。其來既絕。而時時復起。而不相連屬也。（又曰。長病十日死。）</p>
<p>吳仲廣曰。屋漏者。主胃經既絕。穀氣空虛。其脈來指下按之極慢。二息之間。或來一至。若屋漏之水。滴於地上。而四畔濺起之貌也。（診脈須知○案雀啄。屋漏。原出十五難。）</p>

<h3>蝦游</h3>
<p>王叔和曰。蝦游者。苒苒而起。尋復退沒。不知所在。久乃復起。起輕遲。而沒去速者。是也。</p>
<p>吳仲廣曰。其來指下。若蝦游於水面。泛泛不動。瞥然驚霎（察病指南。決脈精要。霎。作插。）而去。將手欲趁。沓然不見。須臾於指下又來。良久准前復去。又如蝦蟆入水之形。瞥然而上。倏然而去。此是神魂已去。行屍之候。立死也。</p>

<h3>魚翔</h3>
<p>（叔和脈賦。作魚躍）</p>
<p>王叔和曰。魚翔者。似魚不行。而但掉尾動頭。身搖而久住者。是也。</p>
<p>黎民壽曰。其脈浮於膚上。不進不退。指下尋之。其首定而未緩。搖時起時。下有類乎魚之遊於水。此陰極而亡陽。則不可期以日矣。故夜半占日中死。日中占夜半死也。</p>

<h3>釜沸</h3>
<p>王叔和曰。三部脈。如釜中湯沸。朝得暮死。夜半得日中死。日中得夜半死。</p>
<p>黎民壽曰。釜沸之狀。如湯湧沸。指下尋之中央起。四畔傾流。有進有退。脈無息數。夫陰在內。陽為之守也。陽數極而亡陰。則氣無所守。故奔騰而沸湧。氣亡則形亡。此所以為必死也。</p>
<p>右七死脈。原於察病指南。略舉數說。黎氏精要。更增偃刀。轉豆。麻促二脈為十怪脈。吳氏脈語。採素問大奇論。浮合。火薪。散葉。省客。交漆。橫格。弦縷。委上。懸壅。如丸。如春。如喘。霹靂。及難經關格覆溢。而揭二十四首。張氏診宗三昧。亦博稽經文。以評論之。余謂決死生。王氏診百病死生訣。及扁鵲診諸反逆死脈要訣等篇。已審且悉矣。大抵醫家能診得恆脈。則諸怪異脈。皆可不須辨而知也。故茲不逐一匯次云。</p>
<p>王中陽曰。鰕遊雀啄。代止之脈。故名死脈。須知痰氣關格者。時復有之。若非諳練敭歷。未免依經斷病。而貽笑大方也。蓋病勢消爍殆盡者。其氣不能相續。而如鰕游水動屋漏點滴。而無常至者死也。其或痰凝氣滯。關格不通。則其脈固有不動者。有三兩路亂動。時有時無者。或尺寸一有一無者。有關脈絕骨不見者。或時動而大小不常者。有平居之人。忽然而然者。有素稟痰病。而不時而然者。有僵仆暴中而然者。皆非死脈也。學者當細心參探。（泰定養生主論）</p>
<p>薛立齋曰。嘗治雀啄屋漏之類。若因藥餌克伐所致。急用參耆歸術姜附之劑。多有復生者。不可遂棄而不治也。</p>
<p>陳遠公曰。死亡之脈全在看脈之有神無神。有神者有胃氣也。無神者無胃氣也。故有胃氣。雖現死脈而可生。無胃氣。即現生脈而必死。又在臨症而消息之也。又曰。死亡之脈。現之於驟者易救。以藏府初絕。尚有根可接也。倘時日久。雖有人參。又何以生之於無何有之鄉哉。有無可如何者矣。</p>
