<header data-type="book">
<h1>外科樞要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>薛己</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1545">公元1545年</data></dd></div>
<div><dt>底本</dt><dd>日本承應三年（1654）刊本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=fd23852714f94926934b607050609cf5fDcyNDY50&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>往余少時，獲交於立齋薛先生，嘗與余通書，所手鈔笥襲者亡算，時時竊好之，弗置也。嘉靖戊午，余上奏官，先生報病瘍，比舉進士歸，則先生死矣。先生神於醫，而尤以瘍擅名，所為諸瘍書甚具。凡病癃腫、癰疽、攣踠、瘻癘，經先生診治，亡不立已。然卒因瘍死，故人多訾先生，以為執泥補法，不知合變，嗟乎！冤哉其言之也。始余識先生時，婦病腫瘍瀕死，先生竟活之，語在醫案中。當是時，諸醫抱藥囊環立，咸愕吐舌，不敢出一語，而先生率意信手，日劑一二，不動聲色，坐而收功，如充國金城之兵，方略豫定，其正翕張，動中成算，即是以例。先生之醫，殆所謂神解者，而世乃以執泥訾之，豈非貴耳賤目者眾邪！語云：尺有所短，寸有所長。必若所云，是越人至今存，而軒、岐不古也，嘻！亦誖矣。昔揚子云作《太玄法言》，桓譚以為必傳，且謂世人親見子云，故輕其書。當時博聞如劉歆，亦恐後人用覆醬瓿。然則世之所為訾先生，亡乃類是也乎。乃余則以為醫顧業精否耳。業誠精矣，當必有排眾說而獨是之者，一時知不知亡論也。先生沒諸版刻，漸次流散，余悉為購得之。而先生從子師顏，復手《外科樞要》一編示余，蓋不獨補諸刻之所未備而立，凡舉要深，足為瘍家指南，因屬讎訂並刻之。余固親見先生者，方愧不能為先生之桓譚，而師顏之克世家學，則劉歆之慮吾知其免矣。夫先生諸他著作，世多有其書，不論所為，序本樞要論所由刻云。</p>
<p><u>隆慶辛未夏五既望，槜李沈啟原道卿撰。</u></p>

<h1>卷一</h1>

<h2>論瘡瘍二十六脈所主（一）</h2>
<p>浮脈之診，浮於指下，按之不足，舉之有餘，再再尋之，狀如太過，瞥瞥然見於皮毛間。其主表症，或為風，或為虛。浮大而散者，心也。浮而短澀者，肺也。浮而數者，熱也。而反惡寒者，瘡疽之謂也。</p>
<p>洪脈之診，似浮而大，按舉之則泛泛然滿三部，其狀如水之洪流，波之湧起。其主血實積熱瘡腫。論曰：脈洪大者，瘡疽之病進也。如瘡疽結膿未成者，宜下之。膿潰之後，脈見洪大則難治。若自利者，不可救也。</p>
<p>滑脈之診，實大相兼，往來流利如珠，按之則累累然滑也。其主或為熱，或為虛，此陽脈也。瘡疽之病，膿未潰者，宜內消也。膿潰之後，宜托裡也。所謂始為熱，終為虛也。</p>
<p>數脈之診，按之則呼吸之間，動及六至，其狀似滑而數也。若浮而數則表熱，沉而數則裡熱也。又曰：諸數為熱。仲景云：脈數不時見，則生惡瘡也。又云：肺脈俱數，則生瘡也。診諸瘡洪數者，里欲有膿結也。</p>
<p>散脈之診，似浮而散。按之則散而欲去，舉之則大而無力，主氣實而血虛，有表無里，瘡腫膿潰之後，而煩痛尚未痊退，診其脈，洪滑粗散者難治，以其正氣虛，邪氣實也。又曰：肢體沉重，肺脈大則斃，謂浮散者也。</p>
<p>長脈之診，按之則洪大而長出於本位，其主陽氣有餘也。傷寒得之，欲汗出自解也。長而緩者，胃脈也，百病皆愈，謂之長者，則易治也。</p>
<p>芤脈之診，似浮而軟，按之中央空兩邊實，其主血虛，或為失血。瘡腫之病，診得芤脈，膿潰後易治，以其脈病相應故也。</p>
<p>牢脈之診，按之則實而弦，且沉且浮而有牢堅之意。若瘰癧結腫，診得牢脈者，不可內消也。</p>
<p>實脈之診，按舉有力而類結，曰實。經曰：邪氣勝則實。久病虛人，得此最忌。瘡疽之人，得此宜急下之，以其邪氣與臟腑俱實故也。</p>
<p>弦脈之診，按之則緊而弦，其似緊者為弦。如按弦而不移，緊如切繩而轉動，以此為異。春脈浮弦而平，不時見則為飲為痛，主寒主虛。瘡疽論曰：內寒外熱，欲發瘡疽也。</p>
<p>緊脈之診，似弦而緊，按之如切繩而轉動，其主切痛積癖。凡瘡腫得之，氣血沉澀也，亦主痛也。</p>
<p>澀脈之診，按之則散而復來，舉之則細而不足，脈澀則氣澀也。亦主血虛瘡腫，潰後得之無妨也。</p>
<p>短脈之診，按舉則不及本位。《內經》曰：短則氣病，以其無胃氣也。諸病脈短者，皆難治。瘡腫脈短，真氣短也。</p>
<p>細脈之診，按之則縈縈如蛛絲而欲絕，舉之如無而似有，細而微，其正亡陽衰也。瘡腫之病，脈來細而沉，時值者，裡虛而欲變症也。</p>
<p>微脈之診，按之則軟小而極微，其主虛也。真氣復者生，邪氣勝者危。瘡腫潰後，脈微而勻，舉自瘥也。</p>
<p>遲脈之診，按舉來遲，呼吸定息，方得三至。其狀似緩而稍遲，痼疾得之則善，新疾得之則正氣虛憊。瘡腫得之，潰後自痊也。</p>
<p>緩脈之診，按之似遲，而稍駃於遲。仲景云：陽脈浮大而濡，陰脈浮大而澀，陰陽同等，謂之長緩。脈見長緩，百疾自瘳。凡瘡腫潰後，其脈澀遲緩者易愈，以其脈病相應，是有胃氣也。</p>
<p>沉脈之診，舉之不足，按之方見如爛綿，其主邪氣在臟也。水氣得之則逆，此陰脈也。瘡腫得之，邪氣深也。</p>
<p>伏脈之診，比沉不同，伏於筋下，推筋而後見。與沉相類，而邪氣益深矣。</p>
<p>虛脈之診，按之不足，極大而軟，輕舉指下豁然而空。經曰：脈虛則血虛，血虛生寒，陽氣不足也。瘡腫脈虛，宜托裡和氣養血也。</p>
<p>軟脈之診，按之則如帛在水中，極軟而沉細，亦謂之軟，其主胃氣弱。瘡腫得之，宜補虛排膿托裡。</p>
<p>弱脈之診，似軟而極微，來微而似有。仲景云：微弱之脈，綿綿如瀉漆之絕，其主血氣俱虛，形精不足。大抵瘡家沉遲濡弱，皆宜托裡。</p>
<p>促脈之診，按之則去數，來時一止而復來。仲景云：陽盛則促，主熱蓄於裡也，下之則和。瘡腫脈促，亦宜下之。</p>
<p>結脈之診，按之則往來遲緩，時一止而復來。仲景云：陰盛則結。經曰：促結則生，代則死。</p>
<p>代脈之診，其止有常數而不忒，如十動一止，雖數十次皆見於十動之後；如二十動一止，雖數十次皆見於二十動之後。代者氣衰也，諸病見之不祥。凡瘡腫之病，脈促結者難治，而況見代脈乎！</p>
<p>動脈之診，見於關上，無頭尾，如豆大，厥厥然而動搖者是也。《脈經》曰：陰陽相搏，故謂之動。動於陽，則陽氣虛而發厥，動於陰，則陰氣虛而發熱，是陽生於尺而動於寸，陰生於寸而動於尺，不可不辨也。</p>
<p>謹按：脈者，人身之造化，病機之外見，醫家之準繩，不可不精究而熟察。至於太谿、衝陽，又為診法之要，生死之機也。故十二經脈，皆繫於生氣。是氣者，人之根本。寸口脈平而死者，生氣獨絕於內也。《難經》云：上部有脈，下部無脈，其人當吐，不吐者死；上部無脈，下部有脈，雖困，無能為害。是脈有根本，人有元氣也。夫人受氣於谷，乃傳於臟腑，清者為榮，濁者為衛，榮行脈中，衛行脈外，陰陽相貫，如環無端，周流一身，晝夜各有常度，其不相應者病也。病至於甚，脈道乃乖抑。嘗治雀啄屋漏之類，若因藥餌克伐所致，急用參、耆、歸、朮、薑、附之劑，多有復生者，不可遂棄而不治也。</p>

<h2>論瘡瘍五善七惡主治（二）</h2>
<p>瘡瘍之症，有五善，有七惡。五善見三則瘥，七惡見四則危。夫善者：動息自寧，飲食知味，便利調勻，膿潰腫消，水鮮不臭，神彩精明，語聲清朗，體氣和平是也，此屬腑症，病微邪淺，更能慎起居，節飲食，勿藥自愈。惡者：乃五臟虧損之症，多因元氣虛弱，或因膿水出多，氣血虧損；或因汗下失宜，榮衛消鑠；或因寒涼克伐，氣血不足；或因峻厲之劑，胃氣受傷；以致真氣虛而邪氣實，外似有餘而內實不足，法當純補胃氣，多有可生。不可因其惡，遂棄而不治。若大渴發熱，或泄瀉淋閉者，邪火內淫，一惡也，竹葉黃耆湯。氣血俱虛，八珍湯，加黃耆、麥門、五味、山茱萸；如不應，佐以加減八味丸煎服。膿血既泄，腫毒尤甚，膿色敗臭者，胃氣虛而火盛，二惡也，人參黃耆湯；如不應，用十全大補湯加麥門、五味。目視不正，黑睛緊小，白睛青赤，瞳子上視者，肝腎陰虛而目系急，三惡也，六味丸料加炒山梔、麥門、五味；如不應，用八珍湯加炒山梔、麥門、五味。喘粗氣短，恍惚嗜臥者，脾肺虛火，四惡也，六君加大棗、生薑；如不應，用補中益氣湯加麥門、五味。心火刑剋肺金，人參平肺散。陰火傷肺，六味丸加五味子煎服。肩背不便，四肢沉重者，脾腎虧損，五惡也，補中益氣湯加山茱萸、山藥、五味；如不應，用十全大補湯加山茱萸、山藥、五味。不能下食，服藥而嘔，食不知味者，胃氣虛弱，六惡也，六君子湯加木香、砂仁；如不應，急加附子。聲嘶色敗，唇鼻青赤，面目四肢浮腫者，脾肺俱虛，七惡也，補中益氣湯加大棗、生薑；如不應，用六君子湯加炮姜；更不應，急加附子，或用十全大補湯加附子、炮姜。腹痛泄瀉，咳逆昏憒者，陽氣虛，寒氣內淫之惡症，急用托裡溫中湯，復用六君子湯加附子，或加薑、桂溫補。此七惡之治法者也。此外更有潰後發熱，惡寒作渴；或怔忡驚悸，寤寐不寧，牙關緊急；或頭目赤痛，自汗盜汗，寒戰咬牙，手撒身熱，脈洪大，按之如無；或身熱惡衣，欲投於水，其脈浮大，按之微細，衣厚仍寒，此血氣虛極，傳變之惡症也。若手足逆冷，肚腹疼痛，泄痢腸鳴，飲食而入，呃逆嘔吐，此陽氣虛，寒氣所乘之惡症也。若有汗而不惡寒，或無汗而惡寒，口噤足冷，腰背反張，頸項勁強，此血氣虛極，變痙之惡症也，急用參、耆、歸、朮、附子救之，間有可生者。大抵虛中見惡症者，難治。實症無惡候者，易治。宋時齊院令雖嘗纂其狀，而未具其因。皇明陶節庵，雖各立一方，亦簡而未悉，余故補其缺云。</p>

<h2>論瘡瘍當明本末虛實（三）</h2>
<p>瘡瘍之作，皆由膏粱厚味，醇酒炙爆，房勞過度，七情鬱火，陰虛陽輳，精虛氣節，命門火衰，不能生土；榮衛虛弱，外邪所襲，氣血受傷而為患。當審其經絡受證，標本緩急以治之。若病急而元氣實者，先治其標；病緩而元氣虛者，先治其本；或病急而元氣又虛者，必先於治本，而兼以治標。大要腫高臖痛，膿水稠黏者，元氣未損也，治之則易。漫腫微痛，膿水清稀者，元氣虛弱也，治之則難。不腫不痛，或漫腫黯黑不潰者，元氣虛甚，治之尤難者也。主治之法，若腫高焮痛者，先用仙方活命飲解之，後用托裡消毒散。漫腫微痛者，用托裡散；如不應，加薑、桂。若膿出而反痛，氣血虛也，八珍湯。不作膿，不腐潰，陽氣虛也，四君加歸、耆、肉桂。不生肌，不收斂，脾氣虛也，四君加芍藥、木香。惡寒憎寒，陽氣虛也，十全大補加薑、桂。晡熱內熱，陰血虛也，四物加參、術。欲嘔作嘔，胃氣虛也，六君加炮姜。自汗盜汗，五臟虛也，六味丸料加五味子。食少體倦，脾氣虛也，補中益氣加茯苓、半夏。喘促咳嗽，脾肺虛也，前湯加麥門、五味。欲嘔少食，脾胃虛也，人參理中湯。腹痛泄瀉，脾胃虛寒也，附子理中湯。小腹痞，足脛腫，脾腎虛也，十全大補湯，加山茱萸、山藥、肉桂。泄瀉足冷，脾腎虛寒也，前藥加桂、附。熱渴淋秘，腎虛陰火也，加減八味丸。喘嗽淋秘，肺腎虛火也，補中益氣湯，加減八味丸。大凡怯弱之人，不必分其腫潰，惟當先補胃氣，或疑參耆滿中，間有用者，又加發散敗毒，所補不償所損。又有泥於氣質素實，或有痰，不服補劑者，多致有誤。殊不知瘡瘍之作，緣陰陽虧損，其膿既泄，氣血愈虛，豈有不宜補者哉！故丹溪先生云：但見腫痛，參之脈症虛弱，便與滋補，氣血無虧，可保終吉。</p>

<h2>論瘡瘍用針宜禁（四）</h2>
<p>瘡瘍之症，毒氣已成者，宜用托裡以速其膿。膿成者，當驗其生熟深淺而針之。若腫高而軟者，發於血脈。腫下而堅者，發於筋脈。肉色不變者，附於骨也。小按便痛者，膿淺也。大按方痛者，膿深也。按之而不復起者，膿未成也。按之而復起者，膿已成也。膿生而用針，氣血既泄，膿又難成。若膿熟而不針，腐潰益深，瘡口難斂。若瘡深而針淺，內膿不出，外血反泄。若瘡淺而針深，內膿雖出，良肉受傷。若元氣虛弱，必先補而後針，其膿一出，諸症自退。若膿出而反痛，或煩躁嘔逆，皆由胃氣虧損，宜急補之。若背瘡熱毒熾盛，中央肉黯，內用托裡，壯其脾胃；外用烏金膏，塗於黯處，其赤處漸高，黯處漸低，至六七日間，赤黯分界，自有裂紋，如刀劃然，黯肉漸潰矣，當用鈚針利剪，徐徐去之，須使不知疼痛，不見鮮血為妙。雖有裂紋，膿未流利，及膿水雖出而仍痛者，皆未通於內，並用針於紋中引之。患於背胛之間，肉腐膿出，腫痛仍作，此內有毒筋間隔膿未通耳，尤宜引之。若元氣虛弱，誤服克伐，患處不痛，或肉將死，急溫補脾胃，亦有生者。後須純補之藥，庶可收斂。若妄用刀針，去肉出血，則氣無所依附，氣血愈虛，元氣愈傷矣，何以生肌收斂乎？</p>

<h2>論瘡瘍欲嘔作嘔（五）</h2>
<p>瘡瘍作嘔，不可泥於毒氣內攻，而概用敗毒等藥。如熱甚焮痛，邪氣實也，仙方活命飲解之。作膿焮痛，胃氣虛也，托裡消毒散補之。膿熟脹痛，氣血虛也，先用托裡散，後用針以泄之。焮痛便秘，熱蘊於內也，內疏黃連湯導之。若因寒藥傷胃而嘔者，托裡健中湯。胃寒少食而嘔者，托裡益中湯。中虛寒淫而嘔者，托裡溫中湯。肝木乘脾土而嘔者，托裡抑青湯。胃脘停痰而嘔者，托裡清中湯。脾虛自病而嘔者，托裡益黃湯。鬱結傷脾而嘔者，托裡越鞠湯。若不詳究其源，而妄用攻毒之藥，則腫者不能潰，潰者不能斂矣。丹溪雖曰：腫瘍時嘔，當作毒氣攻心治之。潰瘍時嘔，當作陰虛補之。殊不知此大概言之耳，即《內經》諸痛癢瘡，皆屬心火之意。況今之熱毒內攻而嘔者寡，脾胃虛寒而嘔者多，豈可執前聖之言，而藥今人之病歟！</p>
<p><u>治驗</u></p>
<p>進士張德泓背疽，微腫微赤，飲食少思，余用六君等藥，膿成而潰；再用大補陽氣之類，肉生而斂。忽寒熱作嘔，患處作腫，候其脈，浮大鼓指，按之若無，形氣殊倦，余謂之曰：此胃氣虛憊，非瘡毒也。彼云：果因侵晨登廁，聞穢氣始作，信夫，先生胃虛之說也。用托補而斂。</p>
<p>一男子腹患癰，腫硬不潰，乃陽氣虛弱；嘔吐少食，乃胃氣虛寒；法當溫補脾胃。假如腫赤痛甚，煩躁，脈實而嘔，為有餘，當下之。腫硬不潰，脈弱而嘔，為不足，當補之。若痛傷胃氣，或感寒邪穢氣而嘔者，雖腫瘍，猶當助胃壯氣。彼不信，仍服攻伐藥，而果歿。</p>

<h2>論瘡瘍用汗下藥（六）</h2>
<p>仲景先生治傷寒，有汗、吐、下三法。東垣先生治瘡瘍，有疏通、托裡、和榮衛三法。用之得宜，厥疾瘳矣。假如瘡瘍腫硬木悶，煩熱，便秘，脈沉而實，其邪在內，當先疏其內以下之。焮腫作痛，便利調和，脈浮而洪，其邪在表，當先托其里以汗之。元戎云：榮衛充滿，抑遏而為癰者，當泄之，以奪盛熱之氣。榮衛虛弱壅滯而為癰者，當補之，以接虛怯之氣。又東垣先生云：瘡瘍雖面赤伏熱，不得攻裡，裡虛則下利。仲景先生云：瘡家雖身體疼痛，不可發汗，汗之則發痙。苟不詳審，妄為汗下，以致血氣虧損，毒反延陷，少壯者難以潰斂，老弱者多致不救。</p>
<p><u>治驗</u></p>
<p>給事錢南郭，患腹癰已成，余用托裡之藥，漸起發，彼惑於眾論，用行氣破血，以圖內消。形體甚倦，飲食益少，患處頓陷，色黯堅硬，按之不痛，余用大補之劑，色赤腫起，膿熟針之；再用托裡，腫硬漸消而愈。</p>
<p>一男子腹內作痛，腹外微腫，或用藥汗之，外無形色，脈數無力，此元氣虧損，毒不能外起。遂與參、耆、歸、術之類，數劑漸發於外；又數劑膿成，而欲針之；惑於人言，用大黃、白芷、穿山甲之類，引膿從便出，以致水瀉不止，患處平陷，自汗盜汗，發熱作渴不食，仍用前藥加半夏、陳皮、薑、桂四劑，形氣漸復；又數劑，針去其膿；仍用補劑，喜年幼未婚得痊。</p>

<h2>論瘡瘍圍寒涼之藥（七）</h2>
<p>《內經》云：五臟不和，九竅不通，六腑不和，留結為癰。又云：形傷痛，氣傷腫。此則臟腑不和，瘡發於外也。明矣！塗貼寒涼，豈能調和臟腑，宣通氣血耶。設使腫痛熱渴，脈滑數而有力，屬純陽，宜內用濟陰丹，外用益陽散，則熱毒自解，瘀滯自散。若似腫非腫，似痛非痛，似潰不潰，似赤不赤，脈洪數而無力，屬半陽半陰，宜內用沖和湯，外用陰陽散，則氣血自和，瘀滯自消。若微腫微痛，或色黯不痛，或堅硬不潰，脈洪大，按之微細軟弱，屬純陰，宜內服回陽湯，外敷抑陰散，則脾胃自健，陽氣自回。丹溪先生云：敷貼之劑，應酬輕小熱症耳，若不辨其陰症陽症之所由分，而妄敷寒涼之劑，迷塞腠理，凝滯氣血，毒反內攻而肉反死矣。況運氣得寒而不健，瘀血得寒而不散，瘀肉得寒而不潰，新肉得寒而不生，治者審焉。</p>
<p><u>治驗</u></p>
<p>閣老翟石門子，耳下作痛，內服外敷，皆寒涼敗毒，更加腫痛，項間腫硬，肉色如故，內焮連胸。余適考滿到京，邀視之。雖腫堅而脈滑數，此膿內潰也，雖足三陽，熱毒之症，為寒涼凝結，不能外潰，先用六君子、補中益氣各二劑，謂補脾胃，升發陽氣，患處亦軟，針出瘀膿甚多，仍服至數劑而愈。</p>
<p>地官李北川腿患癰，內外用敗毒寒涼，因痛極，刺出瘀膿，方知為癰。瘡口開張，肉紫冷陷，外無腫勢，此陽氣虛寒而不能收斂，用豆豉餅、六君子加藿香、砂仁、炮姜，飲食進而患處暖；再以十全大補湯，元氣復而瘡口愈。</p>
<p>一男子腿腫一塊，經年不消，飲食少思，強食則脹，或作瀉，日漸消瘦，兩尺脈微細，此命門火衰不能生土，以致脾胃虛寒，以八味丸治之，飲食漸進，腫患亦消。</p>

<h2>論瘡瘍泥用定痛散（八）</h2>
<p>瘡瘍之作，由六淫七情所傷。其痛疏也，因氣血凝滯所致。假如熱毒在內，便秘而作痛者，內疏黃連湯導之。熱毒熾盛，焮腫而作痛者，黃連解毒散治之。不應，仙方活命飲解之。瘀血凝滯而作痛者，乳香定痛散和之。作膿而痛者，托裡消毒散排之。膿脹而痛者，針之。膿潰而痛者補之。若因氣虛而痛，四君加歸、耆。血虛而痛，四物加參、耆。腎虛而痛，六味地黃丸。口乾作渴，小便頻數者，加減八味丸。此皆止痛之法也。丹溪先生云：膿出而反痛，此為虛也，宜補之。穢氣所觸者，和解之。風寒所逼者，溫散之。若泥用乳、沒，斯執方矣。</p>
<p><u>治驗</u></p>
<p>鴻臚蘇龍溪，小腹內腫脹作痛，大小便秘結，作渴飲冷，脈洪數而實，用黃連解毒二劑，腫痛頓止，二便調和，用活命飲而全愈。</p>
<p>一儒者臀患癰，腫焮痛甚，用活命飲、隔蒜灸而消。後因飲食勞倦，腫痛惡寒，發熱頭疼，用補中益氣湯，頻用蔥熨法，兩月餘而消。</p>
<p>一婦人脅下作痛，色赤寒熱，用小柴胡湯，加山梔、川芎，以清肝火而愈。但經行之後，患處作痛，用八珍湯，以補氣血而安。若肝膽二經，血燥氣逆所致，當用小柴胡湯，加山梔、膽草、芎、歸主之。若久而脾胃虛弱，用補中益氣為主。若兼氣鬱傷脾而患，間以歸脾湯。若朝涼暮熱，飲食少思，須以逍遙散為主。</p>

<h2>論瘡瘍用生肌之藥（九）</h2>
<p>夫肌肉者，脾胃之所主。收斂者，氣血之所使。但當純補脾胃，不宜泛敷生肌之劑。夫瘡不生肌而色赤甚者，血熱也，四物加山梔、連翹。色白而無神者，氣虛也，四君加當歸、黃耆。晡熱內熱，陰血虛也，四物加參、術。膿水清稀者，氣血虛也，十全大補湯。食少體倦，脾氣虛也，補中益氣湯。煩熱作渴，飲食如常，胃火也，竹葉黃耆湯；不應，竹葉石膏湯。熱渴而小便頻數，腎水虛也，用加減八味丸料煎服。若敗肉去後，新肉微赤，四沿白膜者，此胃中生氣也，但用四君子湯以培補之，則不日而斂。若妄用生肌之藥，餘毒未盡，而反益甚耳。殊不知瘡瘍之作，由胃氣不調；瘡瘍之潰，由胃氣腐化；瘡瘍之斂，由胃氣榮養。東垣先生云：胃乃生髮之源，為人身之本。丹溪先生亦謂：治瘡瘍，當助胃壯氣，使根本堅固。誠哉是言也，可不慎歟。</p>
<p><u>治驗</u></p>
<p>銀臺鄭敬齋腿患癰，瘡口不斂。余考績到京，請治者，皆用十宣散之類。云旬日收斂，至今未應，何也？余診其脈浮大，按之微細，此因脾氣虛弱，遂用補中益氣，加茯苓、半夏，壯其脾胃，不數日而瘡斂矣。</p>
<p>昆庠王子大背患疽，年餘瘡口少許不斂。色黯陷下，面色痿黃，形氣怯弱，脈浮緩而澀，此脾肺氣虛也，用十全大補湯，加附子少許，數劑而元氣漸復；卻去附子，又三十餘劑全愈，而領鄉薦。</p>

<h2>論瘡瘍去腐肉（十）</h2>
<p>瘡瘍之症，膿成者，當辨其生熟淺深。肉死者，當驗其腐潰連脫。丹溪先生云：癰疽因積毒在臟腑，當先助胃壯氣為主，使根本堅固，而行經活血佐之，令其內消。余嘗治脈症虛弱者，用托裡之藥，則氣血壯而肉不死。脈證實熱者，用清熱之劑，則毒氣退而肉自生。凡瘡聚於筋骨之間，肌肉之內，皆因血氣虛弱，用十全大補湯，壯其脾胃，則未成自散，已成自潰，又何死肉之有。若不大痛，或不痛，或不赤，或內膿不潰，或外肉不腐，乃氣血虛弱，宜用桑枝灸及十全大補加薑、桂，壯其陽氣，則四畔即消，瘡頭即腐，其毒自解，又何待於針割！若脾胃虛弱，飲食少思，用六君倍加白朮，壯其榮氣，則肌肉受毒者自活，已死者自潰，已潰者自斂。若初起，或因克伐，或犯房事，以致色黯而不痛者，乃陽氣脫陷，變為陰症，急用參附湯，溫補回陽，亦有可生。</p>
<p><u>治驗</u></p>
<p>吳庠史邦直之內，仲夏患背疽，死肉不潰，發熱痛甚，作嘔少食，口乾飲湯，脈洪大，按之如無，此內真寒而外假熱，當舍時從症，先用六君加炮薑、肉桂，四劑飲食頓進，諸症頓退；復用十全大補湯仍加姜，桂之類，五十餘劑而死肉潰；又五十餘劑而新肉生。斯人氣血充盛，而瘡易起易斂，使醫者逆知，預為托裡，必無此患。</p>

<h2>論瘡瘍未潰用敗毒之藥（十一）</h2>
<p>瘡瘍之症，當察經之傳受，病之表裡，人之虛實，而攻補之。假如腫痛熱渴，大便秘結者，邪在內也，疏通之。腫焮作痛，寒熱頭疼者，邪在表也，發散之。焮腫痛甚者，邪在經絡也，和解之。微腫微痛而不作膿者，氣血虛也，補托之。漫腫不痛，或不作膿，或膿成而不潰者，氣血虛甚也，峻補之。色黯而微腫痛，或膿成不出，或腐肉不潰者，陽氣虛寒也，溫補之。若泥其未潰，而概用敗毒，復損脾胃，不惟腫者不能成膿，而潰者亦難收斂。七惡之症蜂起，多致不救。丹溪先生云：腫瘍內外皆壅，宜以托裡表散為主，如欲用大黃，寧無孟浪之非。潰瘍內外皆虛，宜以托裡補接為主，如欲用香散，未免虛虛之失，治者審之。</p>
<p><u>治驗</u></p>
<p>一男子不慎房勞，背胛腫高三寸許，闊徑尺余，自汗盜汗，內熱發熱，口乾飲湯，脈浮大，按之弱澀，此精虛氣節為患，用十全大補加麥門、五味、山茱、山藥，四劑諸症悉退。因余他往，別用流氣飲一劑，虛症悉具，腫硬如石，余仍以前藥，六劑而愈。</p>
<p>一儒者背腫一塊，按之則軟，肉色如故，飲食如常，勞則吐痰體倦，此脾氣虛而痰滯，用補中益氣加茯苓、半夏，少加羌活，外用陰陽散，以薑汁調搽而消。後因勞，頭暈作嘔，仍以前藥去羌活加生薑、蔓荊子而愈。</p>
<p>昆庠馬進伯母，左胛連脅作痛，遣人索治。余意此鬱怒傷肝脾，用六君加桔梗、枳殼、柴胡、升麻。彼別用瘡藥益甚，始請治。其脈右關弦長，按之軟弱，左關弦洪，按之澀滯，乃脾土不及，肝木太過。因飲食之毒，七情之火也，遂用前藥四劑，脈症悉退；再加芎、歸全愈。此等症，誤用行氣敗毒，破血導痰，以致不起者多矣。</p>

<h2>論瘡瘍用針勿忌尻神（十二）</h2>
<p>針灸之法：有太乙人神，周身血忌，逐年尻神，逐日人神。而其穴有禁針禁灸之論，犯之者，其病難瘳，理固然也。但瘡瘍氣血已傷，肌肉已壞，宜迎而奪之，順而取之，非平人針灸之比，何忌之有。《外科精義》云：瘡瘍之症，毒氣無從而解，膿瘀無從而泄，反攻於內，內既消敗，欲望其生，豈可得乎？危惡之發於致命之所，禍在反掌。腹癰囊癰，二便不通，胸腹脹悶，唇疔喉痹，咽喉腫塞，其禍尤速，患者審之。</p>

<h2>論瘡瘍陽氣脫陷（十三）</h2>
<p>瘡瘍陽氣脫陷，或因克伐之劑，或因膿血大泄，或因吐瀉之後，或因誤而入房。若發熱頭痛，小便淋澀，或滑數便血，目赤煩喘，自汗發熱，氣短頭暈，體倦熱渴，意欲飲水投水，惡寒憎寒，身熱惡衣，揚手擲足，汗出如水，腰背反張，擲聲不絕，此無根虛火之假熱症。若畏寒頭痛，咳逆嘔吐，耳瞶目蒙，小便遺難，瀉利腸鳴，裡急腹痛，玉莖短縮，冷汗時出，牙齒浮痛，肢體麻痹，或厥冷身痛，或咬舌齧唇，舌根強硬，此陽氣脫陷之真寒症。皆勿論其脈，勿論其瘡，但見一二，急用參附湯補之，多有復生者。大凡潰後勞役，元氣虧損，或夢遺精脫，或滑數便血，或外邪乘之，或誤用寒涼，氣血脫陷而致斯症，治以前藥，亦有復生者。</p>
<p><u>治驗</u></p>
<p>內翰楊皋湖，孟夏患背疽，服克伐之劑，二旬余矣，漫腫堅硬，重如負石，隔蒜灸五十餘壯，背遂輕；以六君加砂仁二劑，涎沫湧出，飲食愈少，此脾虛陽氣脫陷，劑用溫補，反嘔不食；仍用前藥，作大劑，加附子、薑、桂；又不應，遂以參、耆各一斤，歸、朮、陳皮各半斤，附子一兩，煎服三日而盡，流涎頓止，腐肉頓潰，飲食頓進；再用薑、桂等藥托裡健脾，腐脫而瘡愈矣。</p>
<p>少參史南湖之內，夏患疽，不起發，脈大而無力，發熱作渴，自汗盜汗，用參、耆大補之劑，益加手足逆冷，大便不寬，喘促時嘔，脈微細，按之如無，惟太衝不絕，仍以參、耆、白朮、當歸、茯苓、陳皮，計斤許，加附子五錢，水煎二鍾作一服，諸症頓退，脈息頓復。翌日瘡起而潰，仍用前藥四劑後，日用托裡藥，調理兩月餘而消。</p>
<p>遜婦臥床十三年矣，嘉靖癸卯遭回祿，益加憂鬱，甲辰三月，右肩下發一塊，焮腫如甌中赤外白，先用涼藥一劑，不解，次用十宣散四劑，加痛略紅。迎徐南樓視之，連投參、耆、丁、桂、防、芷之劑，膿潰。徐云：無恙矣。辭後，眩暈嘔逆，惡寒戰慄，項陷膿清。偶檢翁《外科發揮》，至發背門云：若初起一頭如黍，不腫不赤，煩躁便秘，四五日間，生頭不計其數，瘡口各如含一粟，名曰「蓮房發」云云。始駭為惡症，治法雖詳，不諳於行，迎翁至診云：辛涼解散，氣血兩虛者忌之，連投參、耆、歸、朮、地黃、薑、附大劑，腫高膿稠，兼衽烏金膏。數日果腐落筋如脂膜者數片，人參每服加至八錢，日進二服，逾兩月平復。立齋翁術之淵藪，他醫孰能知之！病婦非翁，必誤入鬼錄矣。謹附此以告後人，毋為時醫之誤，當知翁術之奇，布在方策，德澤普濟，與天地同悠久矣。晚生陳遜頓首識。</p>

<h2>論瘡瘍發熱煩躁（十四）</h2>
<p>瘡瘍發熱煩躁，或出血過多，或潰膿大泄，或汗多亡陽，或下多亡陰，以致陰血耗散，陽無所依，浮散於肌表之間，而非火也。若發熱無寐，血虛也，用聖愈湯。兼汗不止，氣虛也，急用獨參湯。發熱煩躁，肉瞤筋惕，氣血虛也，用八珍湯。大渴面赤，脈洪大而虛，陰虛發熱也，用當歸補血湯。肢體微熱，煩燥面赤，脈沉而微，陰盛發躁也，用四君加薑、附。東垣云：晝發熱而夜安靜，是陽氣自旺於陽分也；晝安靜而夜發熱，是陽氣下陷於陰中也；如晝夜俱發熱者，重陽無陰也，當峻補其陰。故王太僕云：如大寒而甚，熱之不熱，是無火也，當治其心；如大熱而甚，寒之不寒，是無水也；熱動復止，倏忽往來，時動時止，是無水也，當助其腎。故心盛則生熱，腎盛則生寒，腎虛則寒動於中，心虛則熱收於內。又熱不勝寒，是無火也。寒不勝熱，是無水也。夫寒之不寒，責其無水；熱之無熱，責其無火；熱之不久，責心之虛；寒之不久，責腎之弱。治者當深味之。</p>
<p><u>治驗</u></p>
<p>操江都憲伍松月背瘡愈後，大熱，誤為熱火，用苦寒藥一鍾，寒熱益甚，欲冷水浴身，脈浮大，按之全無。余曰：此陽氣虛浮於肌表，無根之火也，急用六君子加附子一劑，即愈。</p>
<p>春元沈震川之內，暑月面生痤癤，乘涼入風，面目浮腫。越二日，左臂腫痛，癮疹如丹，背脅髀股等處，發腫塊三四，肉色不紅，痛甚晝夜呼號，寒熱往來，飲食不思，服活命飲，及行氣敗毒之劑。其勢愈熾，肝脈浮澀，脾脈弦弱，此屬二經榮氣不行，風邪乘虛流注經絡為患。先以八珍加黃耆、柴胡、青皮數劑，腫處漸漸紅臖；又以十全大補加金銀花、白芷、龍膽草、貝母，十餘劑，脅腿二處，潰膿碗許，余塊漸平；仍服十全大補湯，調理月餘而安。向使專於祛風攻毒，鮮不敗事矣。</p>
<p>一儒者患流注，發熱作渴，頭痛自汗，脈洪大，按之無力，此氣血虛寒也，用十全大補加麥門、五味治之，其症益甚；仍用前藥加附子一錢，四劑諸症悉退；卻去附子，加肉桂二十餘劑，氣血漸復；又因勞心，發熱惡寒，飲食減少，此脾胃復傷，元氣下陷，用補中益氣加附子一錢，二劑熱止食進，仍用大補元氣而安。後因考試不利，懷抱不舒，更兼勞役，飲食日少，形氣日衰，吐痰作渴，頭痛惡寒，或熱來復去，或不時而動，仍用補中益氣數劑，諸症漸愈，元氣漸復，乃去附子，再加肉桂五分，百餘劑而愈。</p>
<p>一男子背瘡不斂，小便赤澀，臖腫發熱，口乾體倦，脈洪數而無力，用參、耆、歸、朮、熟地、芎、芍、陳皮、麥門、五味、炙草、肉桂，以補元氣，引火歸經，脈症益甚，此藥力未能及也；再劑頓退，卻去肉桂，又數劑而愈。此症因前失補元氣故耳。</p>

<h2>論瘡瘍輕症用重劑（十五）</h2>
<p>人身血氣有虛實，瘡瘍所發有輕重，治療之法有攻補。元戎云：若人氣血壅盛，榮衛充滿，抑遏不行，腐化而為癰者，當泄之，以奪盛熱之氣。若人飲食少思，精神衰弱，榮衛短澀，寒搏而為癰者當補之，以接虛怯之氣。丹溪先生云：腫瘍內外皆虛，宜以補接行散為主。大抵用藥之法，如執權衡，當察病勢輕重，邪蓄表裡，瘡毒腫潰，元氣虛實。若不詳究其因，率爾投治，實實虛虛，七惡之禍不能免矣，治者審之。</p>
<p><u>治驗</u></p>
<p>吳庠盛原博掌後患疔，紅絲至腕，惡寒發熱，勢屬表症，與奪命丹一服，紅絲頓消；又用和解之劑，大勢已退。彼別服敗毒藥，發熱口乾，紅絲仍見，脈浮大而虛，此氣血受傷而然，以補中益氣湯主之而愈。蓋奪命敗毒，性尤猛烈，瘡邪已散而復用之，是誅伐太過，失《內經》之旨矣。</p>
<p>一儒者元氣素弱，余補其氣血，出膿而愈。後因勞役，瘡痕作癢，乃別服敗毒藥一劑，以致口噤舌強，手足搐搦，痰涎上湧，自汗不止，此氣血傷而發痙也，用十全大補，加附子一錢，灌服而蘇。</p>
<p>一男子患疔，服奪命丹，汗不止而瘡不痛，熱不止而便不利，此汗多亡陽，毒氣盛而真氣傷矣，用參、耆、歸、朮、芍藥、防風、五味，二劑諸症悉愈，惟以小便不利為憂。余曰：汗出不宜利小便，汗既止，陽氣復而自利矣。仍用前藥，去防風，加麥門，倍用當歸、黃耆，四劑便行，瘡潰而愈。</p>

<h2>論瘡瘍當舍時從症（十六）</h2>
<p>經云：諸痛癢瘡瘍，皆屬心火。若腫赤煩躁，發熱引冷，便秘作渴，脈洪數實，是其常也；雖在嚴寒之時，必用大苦寒之劑，以瀉熱毒。若脈細皮寒，瀉利腸鳴，飲食不入，嘔吐無時，手足逆冷，是變常也；雖在盛暑之時，必用大辛溫之劑，以助陽氣。《內經》曰：用寒遠寒，用熱遠熱。有假者反之，雖違其時，必從其症。</p>

<h2>論瘡瘍大便秘結（十七）</h2>
<p>東垣先生云：瘡瘍熱毒深固，嘔啘心逆，發熱而煩，脈沉而實，腫硬木悶，大便秘結，此毒在臟，宜疏通之。故曰：疏通其內，以絕其源。又曰：瘡瘍及諸病面赤，雖伏火熱，不得妄攻其里，而陽氣拂鬱，邪氣在經，宜發表以去之。故曰：火鬱則發之。凡大便不通，飲食雖多，肚腹不脹，切不可通。若腹痞脹而不通者，乃直腸乾涸也，宜用豬膽汁導之。若腸胃氣虛，血涸而不通者，宜用十全大補湯培補之。若瘡症屬陽，或因入房傷腎而不通者，宜用前湯加薑、附回陽，多有得生者。經云：腎開竅於二陰。藏精於腎，津液潤則大便如常。若潰瘍有此，因氣血虧損，腸胃乾涸，當大補為善。設若不審虛實，而一於疏利者，鮮有不誤。</p>
<p><u>治驗</u></p>
<p>舍親居賓鷗，仲夏患發背，黯腫尺余，皆有小頭，如鋪黍狀四日矣，此真氣虛而邪氣實，遂隔蒜灸，服活命飲二劑，其邪頓退；乃純補其真，又將生脈散以代茶飲，瘡邪大退。余因他往三日，復視之，飲食不入，中央肉死，大便秘結，小便赤濁，余曰：中央肉死，毒氣盛而脾氣虛也；大便不通，腸虛而不能傳送；小便赤濁，脾虛而火下陷；治亦難矣。彼始云：莫非間斷補藥之過。余曰：然。乃急用六君子加當歸、柴胡、升麻，飲食漸進，大便自通；外用烏金膏，塗中央三寸許，四圍紅腫漸消，中央黑腐漸去，乃敷當歸膏，及地黃丸，與前藥間服，將百劑而愈。</p>
<p>一男子腿患癰，因服克伐，虧損元氣，不能成膿，余為托裡而潰，大補而斂，但大便結燥，用十全大補湯加麥門、五味而潤，月餘仍結。惑於人言，乃服潤腸丸，而瀉不止。余用補中益氣，送四神丸，數服而止。</p>

<h2>論瘡瘍大便瀉利（十八）</h2>
<p>瘡瘍大便泄瀉，或因寒涼克伐，脾氣虧損；或因脾氣虛弱，食不克化；或因脾虛下陷，不能升舉；或因命門火衰，不能生土；或因腎經虛弱，不能禁止；或因脾腎虛寒，不能司職。所主之法：若寒涼傷脾，用六君加木香、砂仁，送二神丸。脾虛下陷，用補中益氣，送二神丸。命門火衰，用八味丸料，送四神丸。腎虛不禁，用姜附湯，加吳茱萸、五味。脾腎虛寒，用參附湯送四神丸。《病機》云：脈沉而細，身不動作，睛不了了，飲食不下，鼻準氣息者，姜附湯主之。身重，四肢不舉者，參附湯主之。仲景先生云：下利腸鳴，當溫之。脈遲緊，痛未止，當溫之。大孔痛，當溫之。心痛，當救里，可與理中、附子、四逆輩。《精要》云：癰疽嘔瀉，腎脈虛者，不治。此發《內經》之微旨也。凡此實難治之症，如按前法治之，多有可生者。</p>
<p><u>治驗</u></p>
<p>御醫王彭峰之內，年逾四十，背疽不起發，泄瀉作嘔，食少厥逆，脈息如無，屬陽氣虛寒，用大補劑，加附子、薑、桂。不應，再加附子二劑，瀉愈甚；更以大附子、薑、桂各三錢，參、耆、歸、術各五錢，作一劑，腹內始熱，嘔瀉乃止，手足漸溫，脈息遂復；更用大補而潰，再用托裡而斂。十年後，仍患脾胃虛寒歿。</p>

<h2>論瘡瘍小便淋漓頻數不利（十九）</h2>
<p>瘡瘍，小便淋漓頻數，或莖中澀者，腎經虧損之惡症也，宜用加減八味丸，以補陰。足脛逆冷者，宜用八味丸，以補陽。若小便頻而黃者，宜用四物湯加麥門、參、朮、五味，以滋肺腎。若小便短而少者，宜用補中益氣加山藥、麥門、五味，以補脾肺。若熱結膀胱而不利者，宜用五淋散，以清熱。若脾氣燥而不能化者，宜用黃芩清肺飲，以滋陰。若膀胱陰虛，陽無以生者，宜用六味丸。若膀胱陽虛，陰無以化者，宜用滋腎丸。腎虛之患，多傳此症，非滋化源不救。若用黃柏、知母，反瀉其陽，以速其危。若老人陰痿思色，精內敗，莖中痛而不利者，用加減八味丸加車前、牛膝。不應，更加附子，多有復生者。若精已竭而復耗之，大小便中牽痛，愈痛則愈便，愈便則愈牽痛，以前藥加附子，亦有復生者。王太僕云：無陰則陽無以化，無陽則陰無以生。當滋其化源，苟專用淡滲，復損真陰，乃速其危也。</p>
<p><u>治驗</u></p>
<p>職坊王的塘背疽潰後，小便淋漓，或時自遺，作渴引飲，煩熱不寐，瘡口焮赤，時或如灼，時或便遺。余曰：此腎虛之惡症，用加減八味丸加麥門，數劑而痊。</p>
<p>太守朱陽山患背疽，漫腫色黯，微痛作渴，瘡頭數十。左尺洪數，按之無力，此腎虛之症，先用活命飲二劑，以殺其毒，午前以參、耆、歸、術之類壯氣血，午後以加減八味丸料固腎氣。喜其未用敗毒之藥，元氣未損，故數日膿出肉腐而愈。</p>
<p>駕部林汝玉冬不衣綿，作渴飲冷，每自喜壯實，曬余衣綿，診其脈，數大無力。余曰：至火令當求余也。三月間，果背熱，便秘，脈沉，用四物加芩、連、山梔數劑，大便稍和；卻去芩、連，加參、朮、茯苓，二十餘劑，及前丸半斤許，渴減六七，背熱亦退。至夏背發一疽，純用托裡之劑而斂。</p>
<p>封君袁懷雪，背疽發熱作渴，脈數無力，用四物加黃柏、知母、玄參、山梔、連翹、五味、麥門、銀花，背疽漸退；又加白芷、參、耆，腐肉盡潰。因停藥且勞，熱渴仍作，乃以參、耆、歸、芷、炙草、山藥、山茱、茯苓、澤瀉、肉桂而愈；又以六味丸及十全大補而斂。</p>

<h2>論瘡瘍作渴（二十）</h2>
<p>瘡瘍作渴，若焮痛發熱，便利調和者，上焦熱也，用竹葉石膏湯。腫痛發熱，大便秘澀者，內臟熱也，用四順清涼飲。焮腫痛甚者，熱毒蘊結也，用仙方活命飲。漫腫微痛者，氣血虛壅也，用補中益氣湯。若因胃火消爍而津液短少者，用竹葉黃耆湯。若因胃氣虛而不能生津液者，用補中益氣湯。若因胃氣傷而內亡津液者，用七味白朮散。若因腎水乾涸作渴，或口舌乾燥者，用加減八味丸。或先口乾作渴，小便頻數，而後患疽；或疽愈後，作渴飲水；或舌黃乾硬，小便數而疽生者，尤其惡也。苟能逆知其因，預服加減八味丸、補中益氣湯，以滋化源，可免後患。</p>

<h2>論瘡瘍出血（二十一）</h2>
<p>瘡瘍出血，因五臟之氣虧損，虛火動而錯經妄行也，當求其經，審其因而治之。若肝熱而血妄行者，四物、炒梔、丹皮、苓、術。肝虛而不能藏血者，六味地黃丸。心虛而不能主血者，四物、炒連、丹皮、芩、術。脾虛熱而不能統血者，四君、炒梔、丹皮。若脾經鬱結，用歸脾湯加五味子。脾肺氣虛，用補中益氣加五味子。氣血俱虛，用十全大補。陰火動，用六味丸加五味子。大凡失血過多，見發熱作渴等症，勿論其脈，急用獨參湯以補氣。經云：血生於氣。苟非參、耆、歸、術，甘溫等劑，以生心肝之血，決不能愈。若發熱脈大者，不治。凡患血症，皆當以犀角地黃湯為主。</p>
<p><u>治驗</u></p>
<p>翰林屠漸山年四十，患濕毒瘡疾，誤用輕粉之劑，虧損元氣，久不能愈。一日將晡之際，診之肝脈急洪，數而有力。余曰：何肝脈之如此。侵晨瘡出黯血三四碗，體倦自汗，雖甚可畏，所喜血黯而脈靜。余曰：此輕粉之熱，血受其毒而妄行，輕粉之毒，亦得以泄，邪氣去而真氣虛也，當急用獨參湯主之。余重其為人，體恤甚篤，但惑於他言不果，致邪氣連綿不已，惜哉！</p>
<p>一男子背瘡出血，煩躁作渴，脈洪大，按之如無，此血脫髮躁，用當歸補血湯，二劑少愈；又以八珍湯加黃耆、山梔，數劑全愈。</p>
<p>一婦人潰後，吐鮮血三碗許，余用獨參湯而血止，用四君、熟地、芎、歸而瘡愈。此血脫補氣，陽生陰長之理也。若用涼血降火沉陰之劑，脾胃生氣復傷，不惟血不歸源，而死無疑矣。</p>
<p>一老婦手大指患疔，為人針破出鮮血，手背俱腫，半體皆痛，神思昏憒五日矣，用活命飲，始知痛在手，瘡勢雖惡，不宜大攻；再用大補劑，又各一劑；外用隔蒜灸，喜此手背赤腫而出毒水；又各一劑，赤腫漸潰；又用托裡藥而瘥。</p>
<p>南儀部賀朝卿，升山西少參，別時，余見其唇鼻青黑，且時搔背，問其故？曰：有一小瘡耳。余視之，果疽也，此脾胃敗壞，為不治之症。余素與善，悲其途次不便殯殮，遂托其僚友張東沙輩，強留之，勉與大補，但出紫血，虛極也。或謂毒熾不能為膿，乃服攻毒藥一鍾，以致嘔逆脈脫，果卒於南都。</p>
<p>僉憲張碧崖腰患疽，醉而入房，脈洪數，兩尺更大，余辭不治，將發舟，其子強留，頃間吐臭血五六碗，余意此腎經虛火，而血妄行，血必從齒縫出，將合肉桂等補腎制火之藥，各用罐別煎熟聽用，血止拭齒視之果然。遂合一鍾，冷服之，熱渴頓止，少頃，溫服一鍾，脈細欲說，氣息奄奄，得藥則脈少復，良久仍脫。其子疑內有膿欲刺之，余曰：必無。乃以鵝翎管衽內，果如余言。次日脈脫，腳寒至膝，腹內如冰，急用六君加薑、附，腹始溫，膿始潰，瘡口將完。彼因侍者皆愛妾，又患小便不通，此陰已痿，而思色以降其精，精內敗不出而然耳，用加減八味丸料加參、耆、白朮一劑，小便雖愈，瘡口不斂而歿。</p>

<h1>卷二</h1>

<h2>論腦疽（一）</h2>
<p>腦疽屬膀胱經積熱，或濕熱上湧，或陰虛火熾，或腎水虧損，陰精消涸。初起腫赤痛甚，煩渴飲冷，脈洪數而有力，乃濕熱上湧，當用黃連消毒散，並隔蒜灸以除濕熱。漫腫微痛，渴不飲冷，脈洪數而無力，乃陰虛火熾，當用六味丸，及補中益氣湯，以滋化源。若口舌乾燥，小便頻數，或淋漓作痛，及腎水虧損，急用加減八味丸，及前湯，以固根本，引火歸經。若不成膿，不腐潰，陽氣虛也，四君加歸、耆。不生肌，不收斂，脾氣虛也，十全大補湯。若色黯不潰，或潰而不斂，乃陰精消涸，名曰「腦爍」，為不治。若攻補得宜，亦有可愈。治者審焉！</p>
<p><u>治驗</u></p>
<p>一婦人患前症，口乾舌燥，內服清暑，外敷寒涼，色黯不臖，胸中氣噎，此因內寒而外假熱也。彼疑素有痰火，不欲溫補。余以參、耆各五錢，薑、桂各二錢，一劑頓然潰，又用大補藥而愈。</p>
<p>一婦人冬間患此，腫痛熱渴，余用清熱消毒藥，潰之而愈。次年三月，其舌腫大，遍身發疔如葡萄，不計其數，手足尤多，乃脾胃受毒也。先各刺出黑血，隨服奪命丹七粒，出臭汗，瘡熱益甚，便秘二日，與大黃、芩、連，各三錢，升麻、白芷、山梔、薄荷、連翹，各二錢，生甘草一錢，水煎三五沸，服之。大小便出臭血甚多，下體稍退，乃磨入犀角汁再服，舌本及齒縫出臭血，諸毒乃消，更以犀角地黃湯而愈。</p>

<h2>論耳瘡（二）</h2>
<p>耳瘡屬手少陽三焦經，或足厥陰肝經血虛風熱，或肝經燥火風熱，或腎經虛火等因。若發熱焮痛，屬少陽厥陰風熱，用柴胡梔子散。若內熱癢痛，屬前二經血虛，用當歸川芎散。若寒熱作痛，屬肝經風熱，用小柴胡湯，加山梔、川芎。若內熱口乾，屬腎經虛火，用加味地黃丸；如不應，用加減八味丸。余當隨症治之。</p>
<p><u>治驗</u></p>
<p>文選姚海山耳根赤腫，寒熱作痛，此屬三焦風熱也。但中氣素虛，以補中益氣，加山梔、炒黃芩、牛蒡子，治之而愈。</p>
<p>一儒者因怒，耳內作痛出水，或用祛風之劑，筋攣作痛，肢體如束，此肝火傷血也，用六味丸料，數服而愈。</p>
<p>舉人毛石峰子年二十，耳內出水，或作痛年餘矣，脈洪數，左尺益甚，此屬肝腎二經虛熱也，用加減八味丸料，一劑而愈。</p>
<p>一男子每入房，耳內或作癢，或出水，常以銀簪探入，甚喜陰涼，此屬腎經虛熱也，用加減八味丸而愈。</p>
<p>一婦人因怒發熱，每經行即兩耳出膿，兩太陽作痛，以手按之，痛稍止。怒則胸脅乳房脹腫，或寒熱往來，或小便頻數，或小腹脹悶，此皆屬肝火血虛也。先用梔子清肝散二劑，又用加味逍遙散數劑，諸症悉退；又以補中益氣加五味而全愈。</p>
<p>一婦人經行後，因怒氣勞役，發熱寒熱，耳內作痛，余以經行為血虛，用八珍湯加柴胡。怒氣為肝火，用加味逍遙散。勞役為氣傷，用補中益氣湯加山梔而愈。</p>
<p>一婦人耳內作痛，或腫臖，寒熱發熱，面色素青黃，經行則變赤。余以為怒氣傷肝，鬱結傷脾。用加味歸脾湯、加味逍遙散而愈。</p>
<p>一婦人耳內腫痛，寒熱口苦，耳內出水，焮連頸項，飲食少思，此肝火甚而傷脾也。用小柴胡湯加山梔、牡丹皮稍愈，用加味逍遙散，及八珍湯加柴胡、山梔、丹皮，調補肝脾而痊愈。</p>
<p>一孀婦，或耳內外作痛，或項側結核，內熱晡熱，月經不調，唾痰少食，胸膈不利。余以為鬱怒傷肝脾，朝用歸脾湯，以解脾郁生脾氣。夕用加味逍遙散，以清肝火生肝血而愈。</p>
<p>太卿魏莊渠，癸卯仲冬，耳內作痛，左尺洪大而澀。余曰：此腎水枯竭，不能生肝木，當滋化源。彼不信，仍雜用直補之劑。余謂其婿陸時若曰：莊渠不能生腎水，來春必不能起。至明年季春十八日，復請治。昏憒不語，順耳之分已有膿矣，且卵縮便數，方信余言，求治。辭不克，用六味丸料一鍾，陰莖舒出，小便十減六七，神思頓醒。余曰：若砭膿出，庶延數日，為立嗣之計，否則膿從耳出，死立待矣，或謂不砭可生者。余因辭歸，翌日，果耳內出膿，至二十一日，己未火日而卒。</p>
<p>憲副姜時川，癸卯冬，右手寸口浮數而有痰，口內若有瘡然。余曰：此胃火傳於肺也，當薄滋味，慎起居，以御之。甲辰秋，尺脈洪數而無力。余曰：此肺金不能生腎水，無根之火上炎也。宜靜調養，滋化源以治之。彼云：今喉耳不時燥痛，肢體不時發熱。果是無根之火，殞無疑矣。後會劉古峽云：姜公之病，已如尊料。遂拉同往視，喉果腫潰，脈愈洪大，又誤以為瘡毒，而投苦寒之劑。卒於仲冬二十八日，乃藥之促其亡也，否則尚能延至仲夏。</p>

<h2>論鬢疽（三）</h2>
<p>（男婦同用）</p>
<p>鬢疽：屬肝膽二經怒火，或風熱血虛所致。若發熱作渴者，用柴胡清肝散。腫臖痛甚者，用仙方活命飲。若大勢已退，餘毒未散，用參、耆、歸、術為主，佐以川芎、白芷、金銀花，以速其膿。膿成，仍用參、耆之類，托而潰之。若欲其生肌收斂，腎虛者六味丸；血虛者，四物加參、耆；或血燥，或水不能生木者，用四物湯、六味地黃丸；氣虛者，用補中益氣湯。皆當滋其化源為善。</p>
<p><u>治驗</u></p>
<p>侍御朱南皋，患前症。腫痛發熱，日晡尤甚，此肝膽二經，血虛火燥也，用四物湯加玄參、柴胡、桔梗、炙草，治之而愈。又因勞役發熱，畏寒，作渴，自汗，用補中益氣湯去柴、升，加五味、麥門、炮姜而瘥。</p>
<p>州守胡廷器年七十，患前症。腫焮作痛，頭目俱脹，此腎水不足，肝膽火盛而血燥也。用六味丸料，四劑瘡頭出水而愈。後因調養失宜，仍腫痛發熱喘渴，脈洪大而虛，此脾胃之氣傷也，用補中益氣，以補脾胃；用六味地黃丸，以補肝腎而痊。</p>

<h2>論瘰癧（四）</h2>
<p>（婦人症見《婦人良方》，小兒症見《保嬰粹要》）</p>
<p>夫瘰癧之病，屬三焦肝、膽二經怒火風熱血燥，或肝腎二經精血虧損，虛火內動，或恚怒氣逆，憂思過甚，風熱邪氣，內搏於肝。蓋怒傷肝，肝主筋，肝受病，則筋累累然如貫珠也。其候多生於耳前後項腋間，結聚成核，初覺憎寒惡熱，咽項強痛。若寒熱焮痛者，此肝火風熱而氣病也，用小柴胡湯，以清肝火；並服加味四物湯，以養肝血。若寒熱既止，而核不消散者，此肝經火燥而血病也，用加味逍遙散，以清肝火；六味地黃丸，以生腎水。若腫高而稍軟，面色痿黃，皮膚壯熱，膿已成也，可用針以決之，及服托裡之劑。若經久不愈，或愈而復發，膿水淋漓，肌體羸瘦者，必純補之劑，庶可收斂，否則變為九瘻。《內經》曰：陷脈為瘻，留連肉腠。即此病也。外用豆豉餅、琥珀膏，以驅散寒邪，補接陽氣；內服補中益氣湯、六味丸，以滋腎水，培肝木，健脾土，亦有可愈者。大抵肝膽部分結核，不問大小，其脈左關弦緊，左尺洪數者，乃腎水不能生肝木，以致肝火燥而筋攣。須用前藥，以滋化源，是治其本也。《外臺秘要》云：肝腎虛熱則生癧。《病機》云：瘰癧不繫膏粱丹毒火熱之變，因虛勞氣鬱所致。止宜補形氣，調經脈，其瘡自消散，蓋不待汗之下之而已也。其不詳脈證、經絡受病之異者，下之則犯經禁、病禁、虛虛之禍，如指諸掌。若脈洪大，元氣虛敗，為不治。若面㿠白為金剋木，亦不治。若眼內赤脈貫瞳人，見幾條則幾年死，使不從本而治，妄用伐肝之劑，則誤矣。蓋伐肝則脾土先傷，脾傷則損五臟之源矣。可不慎哉！</p>
<p><u>治驗</u></p>
<p>閣老楊石齋子年十七，發熱作渴，日晡頰赤，左關赤脈大而浮。此肝腎陰虛，用補陰八珍湯，五十餘劑；又加參、耆，二十餘劑而潰。但膿水清稀，肌肉不生，乃以參、耆、歸、術為主，佐以芍藥、熟地、麥門、五味，膿水稠而肌肉生；更服必效散一劑，癧毒去而瘡口斂。</p>
<p>容臺張美之善怒，孟春患此，或用伐肝之劑，不愈。余以為肝血不足，用六味地黃丸、補中益氣湯，以滋化源，至季冬而愈。</p>
<p>一儒者愈後，體瘦發熱，晝夜無定。此足三陰氣血俱虛，用八珍加麥門、五味，二十餘劑；又用補中益氣加麥門、五味，及六味丸而愈。</p>
<p>儒者楊澤之，缺盆間結一核。余謂：此肝火血燥而筋攣，法當滋腎水，生肝血。彼反用行氣化痰，外敷南星、商陸，益大如碗。余用補中益氣湯、六味地黃丸，以滋腎水；間用蘆薈丸，以清肝火。年餘，元氣復而消。</p>
<p>儒者張子容，素善怒，患此久而不愈。瘡出鮮血，左關弦洪，重按如無，此肝火動而血妄行，症屬氣血俱虛。用補中益氣湯，以補脾肺，用六味丸，以滋肝腎而愈。</p>
<p>一男子頸間結核大潰。一婦人左眉及髮際結核。並用梔子清肝散、海藻散堅丸，以清肝火養肝血益元氣而愈。此症亦有大如升斗者，亦治以前藥可愈。</p>
<p>陸子溫兩耳下腫硬，用伐肝軟堅之劑益甚。其脈左關弦緊，左尺洪數，此腎水虧損而筋攣也，當生肺金，滋腎水，則肝得血而筋自舒矣。彼不悟，仍服前藥，竟致不起。</p>

<h2>論時毒（五）</h2>
<p>夫時毒者，為四時邪毒之氣，而感之於人也。其候發於鼻、面、耳、項、咽喉，赤腫無頭，或結核有根，寒熱頭痛，恍惚不寧，狀如傷寒，五七日之間，亦能殺人，治宜精辨之。若脈浮數者，邪在表也，用葛根牛蒡子湯、解毒升麻湯之類以發之。脈沉澀者，邪在裡也，用梔子仁湯、大黃湯之類以下之。表裡俱病者，犀角升麻湯。甚者，砭出惡血，並用通氣散，㗜鼻內取嚏，以泄其毒，十日外自消。若搐藥不嚏者，不可治之。如嚏出膿血者，治之必愈。至七八日之間，大小便通利，頭面腫起高赤者，可服托裡散、黃耆散，此病若五日以前，精神昏亂，咽喉秘塞，語聲不出，頭面赤腫，食不知味者，必死之候。凶荒勞役患之，安里為主，用普濟消毒飲最善。然而此症有陰有陽，有可汗，有可下，若誤認為熱毒而用藥，則謬矣。</p>
<p><u>治驗</u></p>
<p>少宰李蒲汀，用發散之藥，托損元氣，患處不消，體倦惡寒，食少口乾，余用益氣湯加桔梗，及托裡消毒散，而愈。</p>
<p>秋官陳同野，元氣素弱，脈微細而伏，此形病俱虛也。用參、朮、芎、歸、陳皮、柴胡、升麻、炙草，以升舉陽氣；用牛蒡、玄參、連翹、桔梗，以解熱毒，二劑腫頓消，而脈亦復矣。苟以脈微細為屬陰，以腫赤為屬陽而藥之，鮮有不誤者。</p>
<p>一婦人潰後，腫赤不消，食少體倦，膿清色白，乃脾肺氣虛也。先用六君加桔梗、芎、歸，後用益氣湯加桔梗而斂。</p>
<p>春官袁谷虛之妹，表散過度，腫硬不食，脈浮大，按之而短，此真氣絕也。辭不治，後果歿。</p>

<h2>論痄腮（六）</h2>
<p>痄腮屬足陽明胃經，或外因風熱所乘，或內因積熱所致。若腫痛寒熱者，白芷胃風湯。內熱腫痛者，升麻黃連湯。外腫作痛，內熱口乾者，犀角升麻湯。內傷寒涼，不能消潰者，補中益氣湯。發熱作渴，大便秘結者，加味清涼飲。表裡俱解而仍腫痛者，欲作膿也，托裡散。若飲食少思，胃氣虛弱也，六君子湯。肢體倦怠，陽氣虛弱也，補中益氣湯。膿毒既潰，腫痛不減，熱毒未解也，托裡消毒散。膿出而反痛，氣血虛也，人參內托散。發熱晡熱，陰血虛也，八珍湯。惡寒發熱，氣血俱虛也，十全大補湯。若腫焮痛連耳下者，屬手足少陽經，當清肝火。若連頤及耳後者，屬足少陰經虛火，當補腎水。患此而有不治者，多泥風熱，執用克伐之藥耳。</p>
<p><u>治驗</u></p>
<p>地官陳用之，服發散之劑，寒熱已退，腫痛不消。此血凝滯而欲作膿也，用托裡消毒散而膿成，又用托裡散而膿潰。但膿清作渴，乃氣血虛也。用八珍湯加麥門、五味，三十餘劑而愈。</p>
<p>上舍盧懋樹，兩尺脈數，症屬腎經不足，誤服消毒之劑，致損元氣而不能愈，余用補中益氣、六味丸料，服之而痊。</p>
<p>上舍熊棟卿，頤後患之。膿清體瘦，遺精盜汗，晡熱口渴，痰氣上湧，久而不愈。脈洪大，按之微細，屬腎經虧損所致。遂用加減八味丸料並十全大補湯而愈。</p>
<p>一婦人素內熱，因怒，耳下至頸，腫痛寒熱。此肝膽經火燥而血虛，用柴胡梔子散，而腫痛消；用加味逍遙散而寒熱退；用八珍湯加丹皮而內熱止。</p>

<h2>論發背（七）</h2>
<p>（男婦同用）</p>
<p>發背屬膀胱督脈經，或陰虛火盛，或醇酒厚味，或鬱怒房勞所致。若腫赤痛甚，脈洪數而有力，熱毒之症也，為易治。漫腫微痛，色黯作渴，脈洪數而無力，陰虛之症也，為難治。不痛不腫，或漫腫色黯，脈微細，陽氣虛甚也，尤為難治。若腫焮作痛，寒熱作渴，飲食如常，此形氣病氣俱有餘也，先用仙方活命飲，後用托裡消毒散解之。漫腫微痛，或色不赤，飲食少思，此形氣病氣俱不足也，用托裡散調補之。不作膿，或膿成不潰，陽氣虛也，托裡散倍加肉桂、參、耆。膿出而反痛，或膿清稀，氣血俱虛也，八珍湯。惡寒形寒，或不收斂，陽氣虛也，十全大補湯。晡熱內熱，或不收斂，陰血虛也，四物加參、術。作嘔欲嘔，或不收斂，胃氣虛也，六君加炮姜。食少體倦，或不收斂，脾氣虛也，補中益氣湯加茯苓、半夏。肉赤而不斂，血熱也，四物加山梔、連翹。肉白而不斂，脾虛也，四君加酒炒芍藥、木香。小便頻數者，腎陰虧損也，加減八味丸。若初患未發出，而寒熱疼痛，作渴飲冷，此邪氣內蘊也，仙方活命飲。口乾飲熱，漫腫微痛，此元氣內虛也，托裡消毒散。飲食少思，肢體倦怠，脾胃虛弱也，六君子湯；如未應，加薑、桂。其有死者，乃邪氣盛，真氣虛，而不能發出也，在於旬余之間見之。若已發出，用托裡消毒散；不腐潰，用托裡散；如不應，急溫補脾胃。其有死者，乃真氣虛而不能腐潰也，在於二旬之間見之。若已腐潰，用托裡以生肌；如不應，急溫補脾胃。其有死者，乃脾氣虛而不能收斂也，在於月餘見之。此三證，雖不見於經籍，余嘗治而歷驗者。</p>
<p><u>治驗</u></p>
<p>都憲周弘岡，背患疽，腫而不潰，脈大而浮，此陽氣虛弱，而邪氣壅滯也。用托裡散，倍用參、耆，反內熱作渴，脈洪大鼓指，此虛火也。用前散，急加肉桂，脈證頓退，仍用托裡而愈。若以為熱毒，而用寒藥，則誤矣。</p>
<p>太僕王的塘，初起因大勞，又用十宣散之類，加煩渴內熱，脈大無力。此陽氣自傷，不能升舉，下陷於陰分，而為內熱也。余以補中益氣，加酒炒芍藥、麥門冬、五味子，治之而愈。</p>
<p>上舍張克恭患此，內服外敷皆寒涼敗毒，遍身作痛，欲嘔少食，晡熱內熱，惡寒畏寒。余曰：遍身作痛，榮衛虛而不能營於肉裡也。欲嘔少食，脾胃虛寒，而不能消化飲食也。內熱晡熱，陰血內虛，而陽氣陷於陰分也。惡寒畏寒，陽氣虛弱，而不能衛於肌膚也。此皆由脾胃之氣不足所致。遂用補中益氣湯，諸症漸退；更以十全大補湯，腐肉漸潰；又用六君子湯，加芎、歸，肌肉頓生而愈。</p>
<p>府庠鼓碧溪患腰疽，服寒涼敗毒之藥，色黯不痛，瘡頭如鋪黍，背重不能安寢，耳聵目白，面色無神，小便頻澀，作渴迷悶，氣粗短促，脈浮數，重按如無。余先用滋腎水之藥一劑，少頃便利渴止，背即輕爽；乃砭去瘀血，以艾半斤許，明灸患處；外敷烏金膏，內服參、耆、歸、朮、肉桂等藥。至數劑，元氣稍復。自疑肉桂辛熱，一日不用，手足並冷，大便不禁。仍加肉桂及補骨脂二錢，肉豆蔻一錢，大便如常，其肉漸潰；更用當歸膏以生肌肉，八珍湯以補氣血而愈。</p>
<p>儒者周雨峰，懷抱久郁，背脊患疽，肝脈弦洪，脾脈浮大，按之微細。以補中益氣湯加桔梗、貝母，少用金銀花、白芷，二劑肝脈頓退，脾脈頓復。乃以活命飲二劑，膿潰腫消，肝脈仍弦，此毒雖去，而胃氣復傷，仍用補中益氣湯加茯苓、半夏而愈。</p>
<p>上舍蔡東之患此，余用托裡之藥而潰，瘡口尚未全斂，時值仲冬，兼咳嗽。余曰：瘡口未斂，脾氣虛也。咳嗽不止，肺氣虛也。法當補其母。一日與其同宴，見忌羊肉。余曰：補可以去弱，人參、羊肉之類是也，最宜食之。遂每日不撤，旬余而瘡斂，嗽亦頓愈矣。</p>
<p>憲副屠九峰，孟春患此，色黯漫腫，作渴便數，尺脈洪數。此腎水乾涸，當沒於火旺之際。不信，更用苦寒之藥，復傷元氣，以促其歿。</p>
<p>京兆柴黼庵仲夏患之，色黯微腫，發熱煩躁，痰涎自出，小腹陰實，手足逆冷，右關浮澀，兩尺微細。余曰：此虛寒之症也。王太僕云：大熱而不熱，是無火也。決不能起，懇求治之，用大溫補之藥一劑，流涎雖止，患處不起，終不能救。</p>
<p>舉人顧東溪久作渴，六月初，腰患疽，不慎起居，瘡潰尺余，色黯敗臭，小便如淋，唇裂舌刺。七月終請治，左尺洪數，左關浮澀。余謂先渴而患疽者，乃腎水乾涸，虛火上炎，多致不起。然膿水敗臭，色黯不痛，瘡口張大，乃脾氣敗而肌肉死也。小便如淋，痰壅喘促，口乾舌裂，乃脾肺敗而腎水絕也。左尺洪數，腎無所生也。左關浮澀，肺克肝也。況當金旺之際，危殆速矣，二日後果歿。蓋此症既發於外，兩月方歿者，乃元氣虛，不能收斂也。若預為調補，使氣血無虧，亦有得生者。</p>

<h2>論乳癰乳岩結核（八）</h2>
<p>（婦人症見《婦人良方》、《婦科撮要》）</p>
<p>乳房屬足陽明胃經，乳頭屬足厥陰肝經。男子房勞恚怒，傷於肝腎。婦人胎產憂鬱，損於肝脾。若焮痛寒熱，當發散表邪。腫焮痛甚，當清肝消毒，並宜隔蒜灸。不作膿，或膿成不潰，托裡散為主。不收斂，或膿清稀，補脾胃為主。若膿出反痛，或作寒熱，氣血虛也，十全大補湯。體倦口乾，中氣虛也，補中益氣湯。晡熱內熱，陰血虛也，八珍湯加五味子。欲嘔作嘔，胃氣虛也，香砂六君子湯。食少作嘔，胃氣虛寒也，前湯加藿香。食少泄瀉，脾氣虛寒也，前湯加炮姜。若勞碌腫痛，氣血未復也，八珍湯，倍用參、苓、歸、術。若怒氣腫痛，肝火傷血也，八珍湯加柴胡、山梔。若肝火血虛而結核者，四物湯加參、朮、柴胡、升麻。若肝脾氣血虛而結核者，四君子加芎、歸、柴胡、升麻。鬱結傷脾而結核者，歸脾湯兼栝蔞散。若鬱怒傷肝脾而結核，不癢不痛者，名曰乳岩，最難治療。苟能戒七情，遠厚味，解鬱結，養氣血，亦可保全。</p>
<p><u>治驗</u></p>
<p>封君袁陽涇，左乳內結一核，月餘赤腫，此足三陰虛，兼怒氣所致。用八珍湯加柴、梔、丹皮，治之諸症漸退；又用清肝解鬱湯而愈。時當仲秋，兩目連札，肝脈微弦，此肝脈火盛而風動也，更加龍膽草五分，並六味地黃丸而愈。若用清熱敗毒，化痰行氣，鮮有不誤者。</p>
<p>一儒者，兩乳患腫，服連翹飲，反堅硬，食少內熱，胸脅作痛，日晡頭痛，小便赤澀，此足三陰虛而兼鬱怒，前藥復損脾肺，先用六君子加芎、歸、柴胡、山梔，四十餘劑，元氣復而自潰，乃作痛惡寒，此氣血虛也，用十全大補湯，六味丸而愈。</p>
<p>一儒者，兩乳作痛，兩脅作脹，久服流氣飲，栝蔞散。後左脅下結一塊，肉色不變，勞則寒熱，用八珍加柴胡、遠志、貝母、桔梗，月餘色赤作痛，膿將成矣。後針出膿碗許，頓然作嘔，此胃氣虛而有痰也，令時嚼生薑，服六君子湯嘔止，加肉桂而瘡愈。後出仕，每勞怒，胸乳仍痛，或發寒熱，服補中益氣湯加炒山梔即愈。</p>

<h2>論疔瘡（九）</h2>
<p>《內經》曰：膏粱之變，足生大疔。多由膏粱厚味之所致，或因卒中飲食之毒，或感四時不正之氣，或感蛇蟲之毒，或感死畜之穢，各宜審而治之。其毒多生於頭面四肢，形色不一，或如小瘡，或如水泡，或疼痛，或麻木，或寒熱作痛，或嘔吐噁心，或肢體拘急，並用隔蒜灸，並服解毒之劑。若不省人事，或牙關緊急者，以奪命丹為末，蔥酒調灌之。若生兩足者，多有紅絲至臍；生兩手者，多有紅絲至心；生唇面口內者，多有紅絲入喉。皆急用針挑破其絲，使出惡血，以泄其毒。若患於偏僻之處，藥所難導者，惟灸法大有回生之功。然疔之名狀，雖有十三種之不同，而治法但審其元氣虛實，邪之表裡，而庶無誤人於夭札也。若專泥於疏利表散，非惟無益，而反害之。凡人暴死，多是疔毒，急取燈遍照其身。若是小瘡，即是其毒，宜急灸之，並服奪命丹等藥，亦有復甦者。</p>
<p><u>治驗</u></p>
<p>長洲庠蘇子忠鼻梁患之，症屬表邪，但氣血俱虛，不勝發散，遂用補中益氣為主，佐以防風、白芷而愈。</p>
<p>一男子小指患之，或為針刺出血，敷以涼藥，掌指皆腫三四倍，色黯神昏，此邪氣鬱遏。余先以奪命丹一服，活命飲二劑，稍可。余因他往，或為遍刺其手，出鮮血碗許，臂腫如瓠，指大數倍，用大劑參、耆、歸、術之類，及頻灸遍身而腫消。但大便不實，時常泄氣，此元氣下陷，以補中益氣加骨脂、肉蔻、吳茱、五味；又日以人參五錢，麥門三錢，五味二錢，水煎代茶飲；又用大補藥，五十餘帖而愈。設此症初不用解毒之劑，後不用大補之藥，死無疑矣。</p>
<p>白蓮涇陳伯和子，唇患之，有紫脈延至口內，將及於喉。余曰：紫脈過喉，則難治矣，須針其脈，並瘡頭，出惡血以泄其毒，則可。彼不信，別用解毒之劑，遂至頭面俱腫，復求治。口內腫脹，針不能入，乃砭面、唇出黑血碗許，勢雖少退，終至不起。惜哉！</p>

<h2>論肺疽肺痿（十）</h2>
<p>（婦人症見《婦人良方》）</p>
<p>夫肺者，五臟之華蓋也，處於胸中，主於氣，候於皮毛，勞傷氣血，腠理不密，外邪所乘，內感於肺；或入房過度，腎水虧損，虛火上炎；或醇酒炙爆，辛辣厚味，熏蒸於肺；或咳唾痰涎，汗下過度，重亡津液之所致也。其候惡風咳嗽，鼻塞項強，胸脅脹滿，呼吸不利，咽燥作渴，甚則四肢微腫，咳唾膿血。若吐痰臭濁，膿血腥穢，胸中隱隱微痛，右手寸口脈數而實者，為肺疽。若吐涎沫而無膿，脈數而虛者，為肺痿也。若咳嗽喘急者，小青龍湯。咳嗽胸脹者，葶藶大棗瀉肺湯。咳膿腥濁者，桔梗湯；咳喘短氣，或小便短少者，佐以參耆補肺湯；體倦食少者，佐以參朮補脾湯。咳唾痰壅者，腎虛水泛也，六味地黃丸。口乾咽燥者，虛火上炎也，加減八味丸。此症皆因脾土虧損，不能生肺金，肺金不能生腎水，故始萌則可救，膿成則多死。若脈微緊而數者，未有膿也。緊甚而數者，已有膿也。《內經》曰：血熱則肉敗，榮衛不行，必將為膿。大凡肺瘡咳唾膿血，久久如粳米粥者，難治。若唾膿而不止者，亦不可活也。其嘔膿而自止者自愈，其脈短而澀者自痊。面色當白而反赤者，此火之剋金，皆不可活，苟能補脾肺滋腎水，庶有生者。但恐專攻其瘡，脾胃益虛，鮮有不誤者矣。</p>
<p><u>治驗</u></p>
<p>一儒者患肺癰，鼻流清涕，咳吐膿血，胸膈作脹。此風邪外傷也，先用消風散加亂髮灰，二服而鼻利；又用四君加芎、歸及桔梗湯而愈。後因勞役，咳嗽吐膿，小便滴瀝，面色黃白，此脾土不能生肺金，肺金不能生腎水也。用補中益氣湯、六味地黃丸而愈。</p>
<p>一儒者，因素善飲，咳膿項強，皮膚不澤。此脾肺氣虛，外邪所乘而成肺癰也。先用桔梗湯，後用人參補肺湯而痊。</p>
<p>一男子咳吐痰膿，胸腹膨脹，兩寸與右關脈皆洪數。此火不能生土，而土不能生金也。用桔梗湯為主，佐以補中益氣湯而愈。</p>
<p>一男子不時咳嗽，作渴自汗，發熱便數。自用清肺降火、理氣滲利之劑服之，反小便不通，面目赤色，唇裂痰壅，脾肺腎三脈浮大，按之而數。此足三陰虧損，不能相生，當滋化源，否則成癰矣。不信，仍用分利之藥，後果患肺癰，余用桔梗湯及六味丸而愈。</p>
<p>一男子面赤吐膿，發熱作渴，煩躁引飲，脈洪數而無倫次。先用加減八味丸加麥門，大劑一服，熱渴頓止，即熟睡良久，覺而神爽索食，再劑，諸症頓減。仍用前藥，更以人參五錢、麥門二錢五分、五味二錢，水煎代茶，日飲一劑，月餘而安。此症面赤者，當補肺腎；面白者，當補脾肺，治者驗之。</p>
<p>一婦人素血虛，發熱咳嗽，或用痰火之劑後，吐膿血，面赤脈數，其勢甚危，此膿成而血氣虛也。余用八珍湯以補元氣，用桔梗湯以治肺症，脈症漸愈。</p>
<p>一婦人感冒風寒，或用發表之劑，反咳嗽喘急，飲食少思，胸膈不利，大便不通，右寸關脈浮數，欲用通利之劑。余曰：此因脾土虧損，不能生肺金，若更利之，復耗津液，心患肺癰矣。不信，仍利之，虛症悉至，後果吐膿。余朝用益氣湯，夕用桔梗湯，各數劑，吐膿漸止。又朝仍前湯，夕用十全大補湯，各五十餘劑，喜其善調理，獲愈。</p>
<p>一婦人咳嗽吐痰，胸膈作痛，右寸關浮滑，項下牽強，此脾胃積熱成痰，非癰患也，以二陳湯，加山梔、白朮、桔梗，治之而愈。</p>
<p>一婦人素血虛，內熱時咳，甲辰孟冬，兩尺浮洪。余曰：當防患肺症。丙午孟春，果咳嗽，左右寸脈洪數，此心火型克肺金，而成肺癰也，膿已成矣，夏令可憂。余用壯水健脾之劑稍愈。彼不慎調攝，果歿於仲夏。</p>

<h2>論胃脘癰（十一）</h2>
<p>《聖濟總錄》云：胃脘癰，由寒氣隔陽，熱聚胃口，寒熱不調，故血肉腐壞。以氣逆於胃，故胃脈沉細；以陽氣不得上升，故人迎熱甚，令人寒熱如瘧，身皮甲錯或咳嗽，或嘔膿唾血。若脈洪數，膿成也，急排之。脈遲緊，瘀血也，急下之。否則其毒內攻，腐爛腸胃矣。丹溪先生云：內疽者，因飲食之毒，七情之火，相鬱而發，用射干湯主之。愚常以薏苡仁湯、牡丹皮散、太乙膏選用之亦效。若吐膿血，飲食少思，助胃壯氣為主，而佐以前法，不可專治其瘡。</p>
<p><u>治驗</u></p>
<p>一男子寒熱作渴，不時咳吐，口內血腥，又五日，吐膿，身皮甲錯。用射干湯四劑，膿血已止，但氣壅痰多，以甘桔湯而愈。</p>
<p>一男子用射干湯之類將愈，但氣喘體倦，發熱作渴，小便頻數。此肺氣不足，用補中益氣、山藥、山茱、麥門、五味。時仲夏，更以生脈散代茶飲而愈。</p>
<p>一婦人素食厚味，吐膿已愈，但小便淋瀝，此肺腎氣虛。用補中益氣，加麥門、五味，及加減八味丸，而愈。若膏粱之人，初起宜用清胃散。</p>

<h2>論腸癰（十二）</h2>
<p>孫真人云：腸癰為病，小腹重，強按之則痛，小便如淋，時時汗出，復惡寒，身皮甲錯，腹皮急如腫，甚者腹脹大，轉側有水聲，或繞臍生瘡，或膿從臍出，或從大便下，蓋因七情飲食所致。治法：脈遲緊者，未有膿也，用大黃湯下之。脈洪數者，已有膿也，用薏苡仁湯排之。小腹疼痛，小便不利，膿壅滯也，牡丹皮散主之。若大便或臍間出膿者，不治。《內經》云：腸癰為病，不可驚，驚則腸斷而死。故患是者，其坐臥轉側，理宜徐緩，時少飲薄粥，乃服八珍湯，固其元氣，靜養調理，庶可保全其生。</p>
<p><u>治驗</u></p>
<p>通府張廷用患之，兩月餘矣。時出白膿，體倦惡寒，此邪氣去而中氣虛。余用托裡散兼益氣湯，而徐徐呷之。又令以豬肚肺煮爛，取其湯調米粉煮，時呷半盞，後漸調理而痊。</p>
<p>一男子裡急後重，下膿脹痛，此脾氣下陷，用排膿散、蠟礬丸而愈。後因勞，復寒熱體倦，用補中益氣湯而安。</p>
<p>一婦人小腹脹痛，小便如淋，時時汗出，此瘀血凝結於內。先以神效栝蔞散，二劑少愈，更以薏苡仁湯而愈。</p>
<p>一婦人小腹脹痛而有塊，脈芤而澀，此瘀血為患也。以四物加玄胡索、紅花、桃仁、牛膝、木香，二劑血下而痊。</p>
<p>一婦人小腹脹痛，大便秘澀，轉側有水聲，脈洪數，此膿瘀內潰也，以梅仁湯一劑，下瘀血，諸症悉退；再以薏苡仁湯，二劑而瘥。</p>
<p>一婦人膿成脹痛，小便不利，脈洪數，此膿毒內潰也，服太乙膏三錢，膿下甚多；更以栝蔞散、蠟礬丸及托裡散而安，如用雲母膏尤妙。</p>
<p>一婦人產後，惡血不止，小腹作痛，服栝子仁湯，下瘀血而痊。凡瘀血停滯，宜急治之，緩則腐化為膿，最為難。若流注關節，則為敗症。</p>

<h2>論腹癰（十三）</h2>
<p>（男婦同用）</p>
<p>腹癰謂瘡生於肚腹，或生於皮裡膜外。屬膏粱厚味，七情鬱火。若漫腫堅硬，肉色不變，或脈遲緊，未成膿也，四君加芎、歸、白芷、枳殼，或托裡散。腫軟色赤，或脈洪數，已成膿也，托裡消毒散。膿成而不外潰者，氣血虛也，臥針而刺之。腫焮作痛者，邪氣實也，先用仙方活命飲，隔蒜灸以殺其毒；後用托裡散以補其氣。若初起欲其內消，當助胃壯氣，使根本堅固，而以行經活血之藥佐之。若以克伐之劑，欲其內消，則腫者不能潰，潰者不能斂。若用疏利之藥，下其膿，則少壯者，多為難治，老弱者立見危亡。亦有食積疝氣類此者，見《保嬰粹要》。</p>
<p><u>治驗</u></p>
<p>司馬李梧山患此，腹痛而勢已成，用活命飲，一劑痛頓止。用托裡消毒散，腫頓起，此膿將成也。用托裡散補之，自潰而愈。</p>
<p>錦衣掌堂劉廷器，正德辛未仲夏，腹患癰，潰而膿清，熱渴腹脹，作嘔不食。或以為熱毒內攻，皆用芩、連、大黃之劑，病愈甚。余曰：當舍時從症。投以參、耆、薑、附等藥，一劑嘔止食進；再用托裡等劑而瘡愈。</p>
<p>進士邊云莊，腹痛惡寒，脈浮數。余曰：浮數之脈，而反惡寒，瘡疽之症也。不信，數日後，復請視之，左尺洪數。余曰：內有膿矣。仍不信，至小腹痛脹，連及兩臀，始悟。余曰：膿潰臀矣，氣血俱虛，何以收斂。急用活命飲一鍾，臀潰一孔，出膿鬥許，氣息奄奄。用大補藥一劑，神思方醒，每去後，糞從瘡出，痛不可當，小腹間如有物上挺，即發痙不省人事，煩躁，脈大，舉按皆實。省而診之，脈洪大，按之如無，以十全大補，倍用參、耆至四斤，更加附子二枚，煎膏服而痙止；又用十全大補湯，五十餘劑而瘡斂。</p>
<p>上舍周一元，腹患癰，三月不愈。膿水清稀，朝寒暮熱，服四物、黃柏、知母之類，食少作瀉，痰涎上湧。服二陳、枳殼之類，痰涎愈甚，胸膈痞悶。謂余曰：何也？余曰：朝寒暮熱，氣血虛也。食少作瀉，脾腎虛也。痰湧胸痞，脾肺虛也。悉因真氣虛，而邪氣實也。當先壯其胃氣，使諸臟有所稟，而邪自退矣。遂用六君加黃耆、當歸，數劑諸症漸退；又用十全大補湯，肌肉漸斂，更用補中益氣湯，調理而痊。</p>
<p>上舍毛體仁，素陰虛。春初咳嗽，胸中隱痛，腎脈數而無力，肺脈數而時見，此腎脈虧損，陰火熾盛。用六味地黃丸料一劑，服之，病勢雖減，內癰已成。蓋因元氣虛，而未能發出，火令可畏。不信，服痰火之劑，兩月後，乳間微腫，脈洪數而無力。余曰：膿內潰矣，當刺出其膿，以免內攻之禍。不信，又月餘，請視。但針得一孔，膿㨮不利，仍復內攻，唇舌青赤。余曰：臟腑已壞，吾何能治之！後果歿。</p>
<p>從侄孫年十四而𡠚姻，乙巳春，年二十四，腹中氣痛，用大黃等藥二劑，下血甚多，胸腹脹滿，痰喘發熱。又服破氣降火藥一劑，汗出如水，手足如冰。余他往適歸，診之左關洪數，右尺尤甚，乃腹癰也，雖能收斂，至夏必變而成瘵症。用參、耆各一兩，歸、術各五錢，陳皮、茯苓各三錢，炙草、炮姜各一錢，二劑諸症少退，腹始微赤，按之覺痛；又二劑作痛；又二劑腫痛脈滑，數針出膿瘀，更用大補湯，精神飲食如故。因遺精，患處色黯，用前藥，加五味、山茱、山藥、骨脂、吳茱等劑，瘡痛漸斂，瘵症悉具。其脈非洪大而數，即微細如無，惟專服獨參湯、人乳汁，少復，良久仍脫。余曰：當備後事，以俟火旺。乃禱鬼神，巫者歷言往事如見，更示以方藥，皆峻利之劑。且言保其必生，敬信服之，後果歿。經曰：拘於鬼神，不可與言至德。而況又輕信方藥於邪妄之人耶！書此以警後患。</p>

<h2>論流注（十四）</h2>
<p>（婦人症見《婦人良方》、《女科撮要》，小兒症見《保嬰粹要》）</p>
<p>流注，或因飲食勞倦，脾胃傷損；或因房勞陰虛，陽氣湊襲；或因營氣不從，逆於肉理；或因腠理不密，外邪客之；或暴怒傷肝；或鬱結傷脾；或濕痰流注；或跌撲血滯；或產後惡露；皆因氣虛血注而凝也。或生於四肢關節，或生於胸腹腰臀，或結塊，或漫腫，或作痛，皆由元氣虧損所致也。悉宜蔥熨，及用益氣養榮湯，固其元氣。則未成者自消，已成者自潰。若久而不斂，佐以豆豉餅、琥珀膏，祛散寒邪，補接陽氣。若內有膿管而不斂者，用針頭散腐化之。經云：形傷痛，氣傷腫。又曰：真氣奪則虛，邪氣勝則實。若不補氣血，節飲食，慎起居，戒七情，而專用寒涼克伐，其不死者幸矣。</p>
<p><u>治驗</u></p>
<p>侍御朱東溪，左脅下近腹肝膽經部分結一塊，四寸許，漫腫不赤，按之則痛。余曰：此當補脾胃。彼謂：腫瘍宜表散。乃服流氣飲，後胃氣頓虛，始信余言。遂用四君子加芎、歸、酒炒芍藥、薑、桂，胃氣復而惡症退，乃去乾薑加黃耆數劑，微赤微痛。又三十餘劑，焮腫大痛，此膿內潰也，遂針之。用補中益氣、加減八味丸而愈。</p>
<p>一男子元氣素弱，臀腫硬而色不變，飲食少思，如此年餘矣。此氣血虛而不能潰也，先用六君子湯，加川芎、當歸、芍藥，元氣漸復，飲食漸進，患處漸潰；更加黃耆、肉桂，並用蔥熨之法月餘，俟膿熟而針之；又以十全大補湯，及附子餅熨之而愈。</p>
<p>一男子腿患腫，肉色不變，亦不作痛，此真氣虛也。以補中益氣加茯苓、半夏，少佐以枳殼、木香，外用香附餅熨之。彼謂氣無補法，乃服流氣飲，胃氣愈虛。余用六君子加芎、歸數劑，飲食少進；再用補劑，月餘而消。</p>
<p>一男子脅腫一塊，日久不潰，按之微痛，脈微而澀，此形症俱虛也，當補不當瀉。乃用人參養榮湯，及熱艾熨患處。膿成，以火針刺之，用豆豉餅、十全大補湯，百劑而愈。</p>
<p>一男子腹患此，腫硬不潰，脈弱時嘔，欲用敗毒等藥。余謂腫硬不潰，乃陽氣虛弱，嘔吐少食，乃胃氣虛寒，法當溫補脾胃。彼不信，仍用攻伐，而嘔愈甚。復請治，脈微弱而發熱。余曰：熱而脈反靜，脫血脈反實，汗後脈反躁者，皆為逆也。辭不治，後果歿。</p>
<p>余北仕時，有留都賈學士子年十六，患此二載矣。公升北宗伯，邀余治，脈洪大而數，膿清熱渴，食少體倦，夜間盜汗，午前畏寒。余曰：真氣不足，邪氣有餘，治之無功矣。余午前以四君子，加芎、歸、炙草，午後以四君子加五味、麥門、參、耆，兩月諸症遂可一二，又有用滲利之劑，保其必生者。三月後，形體骨立，復求余治，余時被命南下，後竟不救。</p>

<h2>論鶴膝風（十五）</h2>
<p>（婦人症見《婦人良方》，小兒症見《保嬰粹要》）</p>
<p>鶴膝風乃調攝失宜，虧損足三陰經，風邪乘虛而入，以致肌肉日瘦，內熱減食，肢體攣痛，久則膝大而腿細，如鶴之膝，故名之。若傷於脾胃者，補中益氣湯為主。傷於肝腎者，六味丸為主。若欲其作膿，或潰後，十全大補湯為主，皆佐以大防風湯。初起須以蔥熨，可以內消。若津涸口乾，中氣不足也，補中益氣湯加五味子。頭暈頭痛，陽氣不升也，補中益氣湯加蔓荊子。發熱晡熱，陰血虛弱也，用四物、參、耆、白朮。畏寒憎寒，陽氣虛弱也，用十全大補湯。飲食少思，胸膈膨脹，脾胃虛痞也，用四君子湯。面色痿黃，飲食少思，脾胃虛弱也，用六君子湯。膿水清稀，肌肉不生，氣血俱虛也，用八珍湯。熱來復去，有時而動，無根虛火也，用十全大補湯。形瘦嗜臥，寢息發熱，痰盛作渴，小便頻數，五臟虛損也，用六味丸。臍腹疼痛，夜多漩溺，腳膝無力，頭暈吐痰，腎氣冷敗也，用八味丸。發熱大渴，不欲近衣，面目赤色，脈大而虛，血虛發燥也，用當歸補血湯。或有痢後而患者，亦治以前法。余當臨症制宜。</p>
<p><u>治驗</u></p>
<p>州守張天澤，左膝腫痛，胸膈痞滿，飲食少思，時欲作嘔，頭暈痰壅，日晡益倦。此脾肺氣虛，用蔥熨法，及六君加炮姜，諸症頓退，飲食少進用補中益氣加蔓荊子頭目清爽，間與大防風湯，十餘劑；又用補中益氣，三十餘劑而消。</p>
<p>通府劉國威，先筋攣骨痛，右膝漫腫。用化痰消毒之劑，腫痛益甚，食少體倦；加祛風消毒等藥，寒熱作嘔，大便不實；用二陳除濕之類，腫起色赤，內痛如錐。余診其脈，滑數而無力，此膿已成，元氣虛而不能潰也，用十全大補湯四劑，佐以大防風湯，一劑而潰；又百餘劑而得痊。</p>
<p>一儒者腿筋弛長，月餘兩膝腫痛，此陰虛濕熱所乘也，用六味丸為主，佐以八珍湯，加牛膝、杜仲，間以補中益氣湯，三月餘而消。</p>
<p>一男子腿痛膝腫，脈浮按之弦緊，此肝腎虛弱也，用大防風湯，二劑已退。彼惑於附子有毒，乃服治瘡之藥，日漸消瘦，虛症漸至，復求治。余曰：倦怠消瘦，脾胃衰而不能營運也；小便不禁，膀胱虛而不能約制也；燥熱虛痞，胃氣弱而不能化也；恍惚健忘，精神失而憒亂也。惡症蜂集，余辭之，後果歿。</p>

<h2>論天泡瘡（十六）</h2>
<p>天泡瘡屬元氣不足，邪氣所乘，亦有傳染而患。受症在肝腎二經，故多在下體發起。有先筋骨痛而後患者；有先患而後痛者。初起脈浮數，邪在脾肺經也，先用荊防敗毒散解散之；脈弦數，邪在肝膽經也，先用龍膽瀉肝湯清解之；脈沉數，邪在臟腑也，先用內疏黃連湯通導之；後用換肌消毒散為主，愈後再無筋骨疼痛之患。若瘡凸赤作痛，熱毒熾甚也。瘡微作痛，毒將殺也。瘡色白而不結痂，陽氣虛也。色赤而不結痂，陰血虛也。搔癢脈虛浮，氣不能相榮也。搔癢脈浮數，血不能相榮也。臀背間或頸間作癢，膀胱陰虛也。陰囊間或股內癢，肝經血虛也。陰囊作癢重墜，肝經陰虛濕熱也。小便頻數，短少色赤，肝經陰虛也。小便頻數，色白短少，脾肺氣虛也。面目搔癢，或搔變赤，外邪相搏也。眉間癢，或毛落，肝膽血燥也。飲食少思，口乾飲湯，胃氣虛也。飲食不化，大便不實，脾氣虛也。侵晨或夜間泄瀉，脾腎虛也。若治失其法，有蝕傷眼目，腐爛玉莖，拳攣肢體者，但用九味蘆薈丸，以清肝火；六味丸，以生腎水；蠲痹解毒散，以養血祛邪，亦有可生者。若誤用輕粉等劑，反為難治。</p>
<p><u>治驗</u></p>
<p>一儒者患前症，先玉莖作癢出水，後陰囊股內、小腹脅臂，發小癗，或干膿窠，誤服祛風等藥，肢體倦怠，惡寒發熱，飲食漸減，大便不實，左尺洪數，左關弦數，右關浮緩，按之微弦。余曰：此患屬肝膽經也。左關脈弦，左尺脈浮數者，腎水少而虛熱傳於肝也。右關脈浮緩，脾胃之氣弱也。按之而弦者，肝木乘脾土也。用六味地黃丸、補中益氣湯為主，佐以換肌消毒散而愈。</p>
<p>一儒者患前症，色焮赤作痛，大便秘而不實，服祛風敗毒等藥。舌痛口乾、脈浮而數，此邪氣去而陰虛所致，用六味丸料加山梔、當歸，四劑脈症頓退；又用八珍湯加山梔、丹皮，瘡色漸白；後用四君加歸、耆而愈。</p>
<p>一人患此，服攻毒等藥，患處凸而色赤作痛，肢體倦怠惡寒發熱，脈浮而虛，此元氣復傷而邪氣實也。用補中益氣，二劑而痊。</p>
<p>一儒者患之，誤服祛風消毒之藥，復傷元氣。因勞役過度，內熱口乾，齒齦作痛，右關脈洪數而虛，此脾胃受傷而火動，用清胃散之類而愈。</p>
<p>進士劉華甫患之數月。用輕粉、硃砂等藥，頭面背臀，各結一塊，二寸許，潰而形氣消弱，寒熱口乾，舌燥唇裂，小便淋漓，痰涎上湧，飲食少思，此脾胃傷，諸臟弱，而虛火動也。先用六君子二十餘劑；又用補中益氣湯加山茱、山藥、麥門、五味服之，胃氣復而諸症愈。惟小便未清，痰涎未止，用加減八味丸而痊。</p>
<p>一儒者患之，頭面搔癢，或成粒，或成片，或出水，脾肺脈俱洪數，此風邪所傷。先用荊防敗毒散，加萆薢、鉤藤鉤，數劑漸愈。但口乾內熱，用四物加山梔、鉤藤、金銀花、甘草節而愈。後遍身搔癢，內熱口乾，佐以六味丸而痊。</p>
<p>一商人每勞役、飲食後則遍身生瘡，服祛風敗毒之劑，面目胸背臂脅，結一塊，如桃慄，凹凸癢痛，膿水淋漓，氣血虛甚，寒熱往來，作渴痰壅，此濕熱壅盛，元氣虛而不能愈也。外敷當歸膏，內用補陰八珍加萆薢五錢，並換肌消毒散加乾葛、鉤藤鉤各一錢，二十餘劑，諸症漸退。仍以前藥為主，佐以調理之劑，兩月餘，血氣復而瘡愈。</p>

<h2>論赤白遊風（十七）</h2>
<p>赤白遊風屬脾肺氣虛，腠理不密，風熱相搏；或寒閉腠理，內熱拂鬱；或陰虛火動，外邪所乘；或肝火風熱、血熱。治法：若風熱，用小柴胡湯加防風、連翹。血熱，用四物加柴胡、山梔、丹皮。風熱相搏，用荊防敗毒散。內熱、外寒，用加味羌活散。胃氣虛弱，用補中益氣湯加羌活、防風及消風散。血虛，用加味逍遙散。陰虛，逍遙散、六味丸。若肝腎虛熱，用六味丸，則火自息，風自定，癢自止。若用祛風辛熱之劑，則肝血愈燥，風火愈熾，元氣愈虛。腠理不閉，風客內淫，腎氣受傷，相火翕合，血隨火化，反為難治矣。</p>
<p><u>治驗</u></p>
<p>一男子秋間發疙瘩，此元氣虛而外邪所侵也。先用九味羌活湯二劑，又用補中益氣加羌活而愈。後不慎起居，盜汗晡熱，口乾唾痰，體倦懶言，用補中益氣湯、加減八味丸而愈。</p>
<p>一婦人身如丹毒，搔破膿水淋漓，熱渴頭暈，日晡益甚。用加味逍遙散而愈。</p>
<p>一婦人患赤白遊風，晡熱癢甚，余用清肝養血之劑。不信，乃服大麻風藥，臂痛而筋攣；又服化痰順氣之劑，四肢痿弱而歿。</p>
<p>一婦人患前症，數用風藥，煎湯泡洗，以致腹脹而歿。</p>
<p>一女子赤暈如霞，作癢發熱，用加味小柴胡湯加生地、連翹、丹皮而愈。</p>

<h2>論疥瘡（十八）</h2>
<p>疥瘡屬脾經濕毒積熱，或肝經血熱、風熱，或腎經陰虛發熱。其體倦食少，為脾經濕熱，用補中益氣湯。飲冷作痛，為脾經積熱，用清熱消毒散。搔癢發熱，為脾虛風熱，用人參消風散。搔癢作痛，為風熱，用當歸飲子。便秘作痛，為熱毒，用升麻和氣飲。熱渴便利，為脾肺虛熱，用竹葉黃耆湯。內熱晡熱，或時寒熱，屬肝經血虛風熱，用加味逍遙散、六味丸。體倦少食，或盜汗少寢，為脾氣鬱結，用加味歸脾湯、逍遙散、地黃丸。若發熱盜汗，或吐痰口乾者，為腎經虛熱，用六味丸料煎服。</p>
<p><u>治驗</u></p>
<p>稽勳李龍岡，遍身患此，腿足為甚。日晡益焮，口乾作渴，小便頻赤，此腎經虛熱，用補中益氣湯、六味丸而痊。</p>
<p>一儒者善嚏患癢，余以為內有濕熱，腠理不密，外邪所搏也，與補中益氣湯加白芷、川芎治之。不從，自服荊防敗毒散，盜汗發熱，作渴焮腫，膿水淋漓，仍用前藥，倍加參、耆、五味而痊。</p>
<p>一儒者患在臂腳，日晡或癢或脹，形體倦怠，自服敗毒散，痛處發腫，小便赤澀，此肺腎陰虛。余用補中益氣加五味、麥門冬而愈。</p>
<p>一儒者患此，誤用攻伐之劑，元氣虛而不能愈。用補中益氣湯加茯苓，其瘡頓愈。又因調養失宜，日晡益甚，用八珍湯，加五味、麥門，五十餘劑，而愈。</p>
<p>一男子色黯作癢，出黑血，日晡益甚，其腿日腫夜消。余以為氣血虛而有熱，朝用補中益氣湯，夕用加味逍遙散而愈。</p>
<p>一男子時疫愈後所患，如用前藥，補養而愈。有同患，用砭法出血而死。此因陰虛血熱，色黑作癢也。何乃反傷陰血哉？</p>
<p>一婦人久不愈，食少體倦，此肝脾虧損而虛熱，先用補中益氣湯，加川芎、炒山梔，元氣漸復；更以逍遙散，而瘡漸愈。若夜間譫語，此熱入血分，用小柴胡湯加生地黃治之。血虛者，四物合小柴胡湯。熱退，卻用逍遙散，以補脾胃，生陰血。亦有寒熱如瘧，亦治以前藥。</p>

<h2>論附骨疽（十九）</h2>
<p>附骨疽有因露臥，風寒深襲於骨者；有因形氣損傷，不能起發者；有因克伐之劑，虧損元氣，不能發出者；有因外敷寒藥，血凝結於內者。凡此皆宜灸熨患處，解散毒氣，補接陽氣，溫補脾胃為主。若飲食如常，先用仙方活命飲，解毒散郁，隨用六君子湯，補托榮氣。若體倦食少，但用前湯，培養諸臟，使邪不得勝正。若膿已成，即針之，使毒不得內侵。帶生用針亦無妨，如用火針，亦不痛，且使易斂。其隔蒜灸，能解毒行氣，蔥熨法能助陽氣行壅滯，此雖不見於方書，余常用之，大效。其功不能盡述，惟氣血虛脫者，不應。</p>
<p><u>治驗</u></p>
<p>南司馬王荊山腿腫作痛，寒熱作渴，飲食如常，脈洪數而有力。此足三陽經濕熱壅滯，用檳蘇敗毒散，一劑而寒熱止；再劑而腫痛消；更用逍遙散而元氣復。兩月後因怒，腫痛如錐，赤暈散漫，用活命飲二劑而痛緩；又用八珍湯，加柴胡、山梔、丹皮，而痛止。復因勞役，倦怠懶食，腿重頭暈，此脾胃氣虛而不能升舉也。用補中益氣，加蔓荊子而安。</p>
<p>一儒者左腿微腫，肉色如故，飲食少思，此真氣虛而濕邪內襲也。蓋諸氣皆稟於胃，法當補胃壯氣，遂用六君加藿香、木香、當歸，數劑飲食漸進；更以十全大補，元氣漸復而愈。</p>
<p>一儒者兩腿腫痛，肉色不變，惡寒發熱，飲食少思，肢體倦怠，脾氣不足，濕痰下注也。以補中益氣加茯苓、半夏、芍藥，二劑，寒熱退而腫痛消；又十餘劑，脾胃壯而形體健。</p>
<p>一男子患此入房，兩臂硬腫，二便不通。余謂：腎開竅於二陰，乃肝腎虧損也。用六味丸料加車前、牛膝而二便利；用補中益氣，而腫硬消。喜其年少得生。</p>
<p>一上舍內痛如錐，肉色如故，面黃懶食，痛甚作嘔，此痛傷胃也。用六君子以壯其脾胃，用十全大補以助其膿而針之。更用前湯，倍加參、耆、芎、歸、麥門、五味、遠志、貝母而瘡斂。</p>
<p>一男子因負重，飲食失節，胸間作痛，誤認為瘡毒。服大黃等藥，右腿股腫，肉色如故，頭痛惡寒，喘渴發熱，脈洪大而無力。此勞傷元氣，藥傷胃氣而然耳。用補中益氣湯四劑，又用十全大補湯數劑，喜其年少而得愈。</p>

<h2>論多骨疽（二十）</h2>
<p>多骨疽者，由瘡瘍久潰，氣血不能營於患處，邪氣陷襲，久則爛筋腐骨而脫出，屬足三陰虧損之症也。用補中益氣湯，以固根本。若陰火發熱者，佐以六味丸，壯水之主，以鎮陽光。陽氣虛寒者，佐以八味丸，益火之源，以消陰翳。外以附子餅、蔥熨法，祛散寒邪，補接榮氣，則骨自脫，瘡自斂也。夫腎主骨，若腎氣虧損，其骨漸腫，荏苒歲月，潰而出骨，亦用前法。若投以克伐之劑，復傷真氣，鮮有不誤者。</p>
<p><u>治驗</u></p>
<p>舉人於廷器，腿患流注，年餘出腐骨少許。午前畏寒，午後發熱，口乾痰唾，小便頻數。余以為足三陰虧損，朝用補中益氣湯，夕用六味丸料加黃耆、當歸、五味子，各三十餘劑，外用豆豉餅，諸症漸愈。又以十全大補之類，喜其慎疾而愈。</p>
<p>一儒者患附骨疽，失於調補，瘡口不斂，日出清膿少許，已而常出三腐骨。其脈但數而無邪，此氣血虛，瘡結膿管，而不能愈。紝以烏金膏，日服十全大補湯而愈。</p>
<p>上舍王廷璋，患前症，三年未愈。肢體消瘦，飲食難化，手足並冷，大便不通，手足陰冷。余謂：此陽氣虛寒。用補中益氣、八味丸，及灸其患處，而痊。</p>
<p>一男子上齶腫硬，年餘方潰，內熱作渴，肢體消瘦，六脈洪大，左手尤甚。用補中益氣湯、六味丸，出腐骨一塊。仍服前藥，諸症悉去，瘡口亦斂。</p>
<p>一男子十六歲，間足腫黯，潰而露骨，體瘦盜汗，發熱口乾。用十全大補湯、六味地黃丸，各五十餘劑而愈。不然，多變瘵症，或瀝盡氣血而亡。</p>
<p>一婦人年三十餘素弱，左手背漸腫，一年後潰出清膿，腫黯連臂，內熱晡熱，自汗盜汗，經水兩月一至。此肝脾氣血虧損，朝用歸脾湯，夕用逍遙散，腫處頻用蔥熨法，兩月餘，諸症漸愈，瘡出腐骨。仍服前藥，前後共三百餘劑得痊。</p>

<h2>論翻花瘡（二十一）</h2>
<p>翻花瘡者，由瘡瘍潰後，肝火血燥生風所致。或瘡口胬肉突出如菌，大小不同，或出如蛇頭，長短不一。治法當滋肝補氣，外塗藜蘆膏，胬肉自入，須候元氣漸復，膿毒將盡，塗之有效，不然，雖入而復潰。若誤用刀針、蝕藥灸去，其勢益甚，或出血不止，必致寒熱嘔吐等症。須大補脾胃為善。</p>
<p><u>治驗</u></p>
<p>判官張承恩，內股患癰將愈，翻出一肉如菌。余曰：此屬肝經風熱血燥，當清肝熱，養肝血。彼為不然，乃內用降火，外用追蝕，蝕而復翻，翻而復蝕，其肉益大，元氣益虛。始信余言，遂內用梔子清肝散，外用藜蘆膏而痊。</p>
<p>一上舍，素膏粱善怒。耳下結一核，從潰，而瘡口翻張如菌，焮連頭痛，或胸脅作脹，或內熱寒熱。或用清熱消毒之藥，年餘未瘥。余用補中益氣湯、六味地黃丸而尋愈。</p>
<p>一男子背瘡，斂如豆許，翻出肉寸余。用消蝕割擊法，屢去屢大，此肝經血虛風熱。余用加味逍遙散三十餘劑，塗藜蘆膏而消；又用八珍散倍用參、耆、歸、術而斂。</p>
<p>一婦人素善怒，臂患癰，瘡口出肉，長二寸許，此肝脾鬱怒，氣血虛而風內動。用加味逍遙散，塗藜蘆膏而愈。後因怒，患處脹悶，遍身汗出如雨，此肝經風熱，風能散氣故耳。仍用前散並八珍湯而愈。</p>
<p>一男子項患腫，痰涎湧甚，用散堅行氣等劑，腫硬愈甚，喘氣發熱，自汗盜汗，體倦食少。余曰：此屬足三陰虧損，當滋化源。不信，反追蝕，患處開翻六寸許，㠁巗色赤，日出鮮血，三月餘矣，肝脈弦洪緊實。余用大補湯加麥門、五味，五十餘劑，諸症漸愈，血止三四。復因怒，飲食頓少，其血湧出，此肝傷不能藏，肺傷不能攝也。用補中益氣湯為主，加五味、麥門，其血頓止；再以六味丸加五味子常服，瘡口斂至寸許。遂不用藥，且不守禁而歿。</p>

<h1>卷三</h1>

<h2>論臀癰（一）</h2>
<p>（男婦同用）</p>
<p>臀，膀胱經部分也。居小腹之後，此陰中之陰。其道遠，其位僻，雖太陽多血，氣運難及，血亦罕到，中年後，尤慮此患。治者毋傷脾胃，毋損氣血，但當固根本為主。若腫硬作痛者，形氣虛而邪氣實也，用托裡消毒散主之。微腫微痛者，形氣病氣俱虛也，用托裡散補之。欲作膿，用托裡羌活湯。若痛甚，用仙方活命飲。大勢既退，亦用托裡消毒散。若脾虛不能消散，或不潰不斂者，六君子加芎、歸、黃耆。若陰虛不能消散，或作渴便淋者，六味丸加五味子。若陽虛不能潰，或膿清不能斂者，用補中益氣湯。氣血俱虛者，十全大補湯。若腫硬未成膿者，用隔蒜灸、活命飲。潰後豆豉餅，補中益氣、十全大補二湯。若灸後大勢已退，餘毒未消，頻用蔥熨，以補其氣，以消餘毒。為善！</p>
<p><u>治驗</u></p>
<p>巡撫陳和峰，脾胃不健，常服消導之劑，左腿股及臀患腫。余曰：此脾氣虛而下注，非瘡毒也。當用補中益氣，倍加白朮。彼惑於眾論，云白朮能潰膿，乃專以散腫消毒為主，而腫益甚，體益倦。余用白朮一味，煎飲而消。</p>
<p>儒者楊啟元，左臀患此，敷貼涼藥，腫徹內股，服連翹消毒散，左體皆痛。余以為足三陰虧損，用補中益氣湯，以補脾肺；用六味丸加五味以補肝腎，股內消而臀間潰；又用十全大補湯而瘡口斂。</p>
<p>一儒者腫焮痛甚，此邪毒壅滯，用活命飲、隔蒜灸而消。後因飲食勞倦，腫痛仍作，寒熱頭疼，此元氣虛而未能復也。與補中益氣湯，頻用蔥熨法，兩月而愈。</p>
<p>一男子漫腫，而色不變，脈滑數而無力，膿將成矣。余用托裡而欲針，彼畏針而欲內消。誤用攻伐之劑，頓加惡寒發熱自汗等症。余用十全大補湯數劑，腫起色赤，仍外針內補而愈。</p>
<p>昆庠吳輔之父患此，內潰腫脹，發熱口乾，飲食少思，此脾胃虛弱也。先用六君加芎、歸、耆，數劑而潰，又用十全大補湯倍加參、耆，五十餘劑而愈。</p>
<p>南濠沈克章子，年三十。脈如屋漏雀啄，腫硬色赤，膿水清稀，誤服敗毒之藥。余曰：此足三陰虧損而藥復傷也。余用六君，加歸、耆、附子一錢，二劑腫潰色赤：又減附子，數劑元氣復而瘡愈。</p>
<p>一男子硬痛發熱，此膀胱氣虛，而濕熱壅滯。用內托羌活湯二劑，熱痛悉退；後用托裡消毒散而潰；又用托裡散四十餘劑而斂。</p>
<p>平湖袁上舍患痔，外敷寒涼，內服消毒，攻潰於臀，膿水清稀，脈洪大而數，寒熱作渴。余辭不治，後果歿。此足三陰虧損之症，失滋化源，以致真氣益虛，邪氣愈甚矣。不死何俟！</p>

<h2>論囊癰（二）</h2>
<p>（謂陰囊患癰）</p>
<p>囊癰屬肝腎二經，陰虛濕熱下注。若小便澀滯者，先分利以泄其毒，繼補陰以令其自消。若濕熱退而仍腫痛，宜補陰托裡，以速其膿。膿焮而便秘者，熱毒壅閉也，先用托裡消毒散，後用針以泄之，膿去即解。若膿去而腫痛不減者，熱毒未解也，用清肝養榮湯。口乾而小便數者，腎經虛熱也，六味丸。內熱晡熱者，肝經血虛也，四物加參、術。體倦食少者，脾氣虛熱也，補中益氣湯。膿水清稀者，氣血俱虛也，十全大補湯。此症雖大潰，而睪丸懸露，治得其法，旬日肉漸生而愈。若專攻其瘡，陰道益虛，則腫者不能潰，潰者不能斂，少壯者多成痼疾，老弱者多致不起。亦有患痔漏，久而串及於囊者，當兼治其痔。切忌寒藥克伐，虧損胃氣。</p>
<p><u>治驗</u></p>
<p>給事陸貞山，腫赤脹痛，小便澀滯，寒熱作渴，此肝腎陰虛濕熱下注也。當清肝火除濕毒，遂用柴胡、炒龍膽、吳茱萸、炒黃連、當歸、銀花、皂角刺、赤芍藥、防風、木通、甘草節，一劑腫痛漸退；少加防風、木通、川芎、茯苓作飲；下滋腎丸以補陰，其熱腫俱退。但內有一條筋不消，此肝經血虛氣損也。當滋腎水，用六味丸料，去茯苓加五味，二劑；再用補中益氣加茯苓作飲，送滋腎丸，筋頓消而愈。</p>
<p>京兆朱二峰，陰囊脹痛，彼以為疝。余診其脈數而滑，此囊癰也。因肝腎二經陰虛濕熱所致，膿已成矣。服活命飲一劑而潰，更用補陰托裡而斂。</p>
<p>知州王汝道，先晡熱發熱，肢體倦怠，入房則腿足痠軟，足心熱至腿膝，六脈洪數，兩尺為甚。余以足三陰虛，欲滋補化源。彼反服苦寒降火之劑，後陰囊腫脹，用治疝之藥，腫脹益甚，形氣愈虛。服溫補之藥，腫痛上攻，小便不利，兩尺脈洪滑，按之虛甚。余曰：此囊癰也，因氣血虛而不能潰也。用補中益氣湯加山藥、山茱萸、車前子、柴胡、山梔，一劑腫脹頓消；隨用六味丸料加車前、牛膝、柴胡、山梔，一劑小便漸通。乃用活命飲，與前二藥消息兼用，至二十餘劑，囊裂出穢膿甚多。乃用托裡消毒散，六劑膿穢清；又用托裡散數劑，膿水漸少；更用補陰托裡散，及十全大補，五十餘劑而痊。</p>
<p>儒者陳時用，考試不利。一夕飲燒酒入房，妻不納。翌日，陰囊腫脹焮痛，遣人求治。余以除濕熱、清肝火之劑，城門夜閉，不及歸服。翌早報云：夜來陰囊悉腐，玉莖下面貼囊者亦腐，此肝火挾酒毒而濕熱熾盛也，仍以前藥，加參、耆、歸、術，四劑腐肉盡脫，睪丸懸掛，用大補氣血，並塗當歸膏，囊莖全復而愈。</p>
<p>一膏粱之客，陰囊腫脹，小便不利，此中焦積熱，乘虛下注。先用龍膽瀉肝湯加黃柏、知母、黃連、牛膝，四劑漸愈；後用補陰八珍湯加柴胡、山梔而愈。後不守禁忌，前症復作，仍用補陰八珍湯、補中益氣湯、六味丸而痊。又因勞發熱，自用四物、黃柏、知母之類，虛症悉具，瘡口開大。余謂：五臟氣血俱虛也。朝用補中益氣，夕用六君子加當歸，各五十餘劑，瘡口漸斂；又用六味丸，調補全愈。</p>
<p>府庠李達卿，素腎虛發熱，久服黃柏、知母之類，形體漸瘦，遺精白濁，晡熱唾痰。余曰：此腎水虧損，虛火內熾。用補中益氣之類，加麥門、五味，前症將愈；又別用清熱涼血之劑，飲食少思，唾痰不止。余以為脾肺復虛，不能攝涎歸源，仍用前湯加茯苓、半夏而愈。後入房頭暈，吐痰，腰骨作痛，大小便道牽痛。余曰：此精已耗而復竭所致，危殆之症也。遂朝用前湯加麥門、五味，夕用六味丸料加五味子、萆薢，五十餘帖，諸症頓退。後又入房，陰囊陰莖作痛，別用淡滲之劑，陰囊內潰。余用補陰托裡之劑，出膿甚多，喜腫消痛止，竟不善調養，以致大便不通，小便如淋，痰涎上湧。余曰：腎虛之症復作矣，誠為可慮。有保其可生者，用礞石滾痰丸、牛黃清心丸之類，吐痰愈加。余曰：非惟無以保其生而反促其危矣。固辭不治，後果歿。</p>
<p>一男子醉而入房，陰囊腫脹大如斗，小腹脹悶，小水淋赤，發熱口乾，痰涎壅甚，此膀胱陰虛酒毒所乘也。用六味丸料加車前、牛膝作飲，下滋腎丸，諸症頓退。再加五味、麥門，二劑而愈。卻以補中益氣加麥門、五味，調理而康。若用淡滲，復損真陽，決致不起。</p>

<h2>論懸癰（三）</h2>
<p>懸癰謂瘡生於玉莖之後，穀道之前，屬足三陰虧損之症。輕則為漏，瀝盡氣血而亡，重則內潰而即殞。若初起濕熱壅滯，未成膿而作痛，或小便澀滯，用龍膽瀉肝湯。腫焮痛甚，仙方活命飲，並以制甘草佐之。如此雖患亦輕，雖積亦淺。若不能成膿，或膿成不潰者，八珍湯補之。若膿已成者，急針之。若其生肌收斂，腎虛，六味地黃丸。血虛者，四物加參、術。氣虛者，四君加芎、歸。脾虛者，補中益氣湯。氣血俱虛者，八珍湯，並十全大補湯。若用寒涼消毒，則誤矣。</p>
<p><u>治驗</u></p>
<p>尚書鮑希傳，足發熱。服四物、黃柏、知母之類，年餘患囊癰。唾痰作渴飲湯，其熱至膝，更加芩、連、二陳，熱痰益甚。謂余曰：何也？余曰：此足三陰虧損，水泛為痰，寒涼之劑，傷胃而甚耳。遂先用補中益氣，夕用六味丸，間佐以當歸補血湯，半載乃愈。</p>
<p>趙州守患此症，腫多作痛，五月餘矣。晡熱口乾，盜汗，食少體倦，氣短脈浮數而無力，此足三陰氣血虧損。用補中益氣加制甘草、麥門、五味，三十餘劑，食進勢緩。又用六味丸料，五十餘劑，膿潰瘡斂；後因膿作痛少食，脅痛發熱；又用前藥，賴其稟實，慎疾而愈。</p>
<p>通府張敬之患前症，久不愈。日晡熱甚，作渴煩喘，或用四物湯、黃柏、知母之類，前症益甚。肢體倦、少食，大便不實，小便頻數。謂余曰：何也？余曰：此脾虛之症，前藥復傷而然。余遂用補中益氣加茯苓、半夏，數劑飲食漸進，前症漸愈；更加麥門、五味，調理乃痊。經云：脾屬太陰為陰土，而主生血。故東垣先生云：脾虛元氣下陷，發熱煩渴，肢體倦怠等症，用補中益氣湯，以升補陽氣，而生陰血。若誤認為腎虛，輒用四物、黃柏、知母之類，反傷脾胃生氣，是虛其虛矣。況黃柏、知母，乃瀉陽損陰之劑，若非膀胱陽火盛而不能生陰水，以致發熱者，不可用也。</p>
<p>一儒者患此，服坎離丸，及四物、黃柏、知母之類，不應。脈浮洪，按之細微，余以為足三陰虛。用托裡散，及補陰托裡散漸愈；又用六味丸、補中益氣湯，調補化源，半載而痊。大凡瘡瘍等症，若腎經陽氣亢盛，致陰水不能化生，而患陰虛發熱者，宜用坎離丸，取其苦寒，能瀉水中之火，令陽氣衰而水自生。若陽氣衰弱，致陰水不能化生，而患陰虛發熱者，宜用六味丸，取其酸溫，能生火中之水，使陽氣旺則陰自生。況此症屬腎經精氣虧損而患者，十有八九；屬腎經陽氣亢盛而患者，十無一二。然江南之人，患之多屬脾經，陰血虧損，元氣下陷。須用補中益氣，升補陽氣，使陽生而陰長。若嗜欲過多，虧損真水者，宜用六味丸，補腎經元氣，以生精血；仍用補中益氣湯，以培脾肺之生氣，而滋腎水。經云：陰虛者脾虛也。但多誤以為腎經火症，用黃柏、知母之類，復傷脾肺，絕其化源，反致不起。惜哉！</p>
<p>上舍劉克新，潰後作痛，發熱口乾，小便赤澀，自用清熱消毒之藥，不應。左尺洪數，余以為陽氣盛而陰氣虛也。先用四物湯加黃柏、知母等諸劑，瀉其陽氣，使陰自生，服數劑諸症漸愈。後用補中益氣湯、六味地黃丸，補脾肺滋腎水，而瘡口愈。</p>
<p>一儒者小便赤澀，勞則足軟腫痛發熱，口乾舌燥，食少體倦，日晡益甚，此氣血虛而未能潰也。遂用八珍加麥門、山藥，倍用制甘草，數劑諸症悉退。但患處腫痛，此膿內焮也，又五劑，膿自湧出；又五十餘劑，而瘡口將完。又因勞役且停藥，寒熱作渴，腫痛膿多，用補中益氣湯加炒山梔，二劑少愈；又以八珍湯加麥門、五味百餘劑，腫痛悉去。喜其慎起居，節飲食，常服補劑而安。但勞則出膿一二滴，後惑於他言。內用降火，外用追蝕，必其收斂，致患處大潰，幾至不起。仍補而愈。</p>

<h2>論便癰（四）</h2>
<p>（一名便毒、一名痃痃）</p>
<p>便癰屬厥陰肝經，內熱外寒；或勞倦過度，或房欲不節，或欲心不遂，或強固其精，或肝經濕熱而致。治法：內熱外寒者，雙解散。勞倦過度者，補中益氣湯。房欲不節者，六味丸料。欲心不遂者，先用五苓散加大黃，疏其精滯；後用地黃丸，以補其肝腎，強固其精。或濕熱壅滯者，宜用龍膽瀉肝湯，疏肝導滯。夫便癰血疝也，屬厥陰肝經之絡脈，衝任督脈之隧道。故婦人患此，多在兩拗腫痛，或腹中結塊，小便澀滯。苟治者得法，患者又能調攝，何難斂之有。若概用大黃等劑，以求其內消；或令膿隨便下，損其氣血，及不慎起居飲食者，皆為不治。</p>
<p><u>治驗</u></p>
<p>府庠沈尼文，年二十，左拗患之。余以肝腎陰虛。先用托裡藥，潰而將愈。因入房，發熱作渴，右邊亦作痛，膿水清稀，虛症悉至，脈洪大而無力，勢甚可畏。用十全大補加附子一錢，脈症頓退，再劑全退。後用大補湯，三十劑而愈。</p>
<p>一儒者腫痛便澀，用八正散二劑，清肝火，導濕熱，而腫痛愈；再以小柴胡加芎、歸、澤瀉、山梔，二劑清肝火補脾血而小便利。</p>
<p>一男子潰而腫痛不止，此餘毒未解，用活命飲，一劑而痛止；再劑而腫消。</p>
<p>一男子痛甚發熱，用前飲一劑痛止；再以神效栝蔞散，加山梔、柴胡、二劑而消。</p>
<p>一男子腫而不潰，余謂此因陽氣虛弱，用參、耆、歸、術，以補托元氣；用白芷、皂角刺、柴胡、甘草節，以排膿清肝，數劑而潰；以八珍加柴胡，補其氣血，數劑而愈。</p>
<p>一男子已潰，而痛不止，小便秘澀，此肝火未解也。與小柴胡湯加黃柏、知母、芎、歸，痛止便利，更以托裡當歸湯而瘡斂。若毒未解，而痛不止者，須用活命飲。</p>
<p>一婦人素清苦，因鬱怒，患前症。或用敗毒寒涼之藥，反晡熱內熱，自汗盜汗，月經不行，口乾咽燥。余謂此鬱氣傷脾，因藥復損，先以當歸湯數劑，後兼逍遙散，各五十餘劑，而諸症皆愈。</p>
<p>一婦人小腹內如有所梗，兩拗並人門俱腫，小便淋澀，經候不調，內熱不渴，飲食少思，腹內初如雞卵而漸大，脈洪數而虛，左關尤甚，屬肝脾鬱結之症也。用加味歸脾湯，肝火退而脾土健，間以逍遙散下蘆薈丸而愈。</p>
<p>一婦人兩拗腫痛，腹內一塊，不時上攻，月經不調，小便不利。余以為肝脾氣滯，以四君加芎、歸、柴胡、山梔而愈。後因鬱怒，前症復作，卻兼胸脅脹滿盜汗，此肝木甚而傷脾土。用加味歸脾湯下蘆薈丸而愈。</p>
<p>一婦人小腹內，或作痛，或痞悶，兩拗腫痛，內熱寒熱，胸膈不利，飲食不甘，形體日瘦，此肝氣滯，而傷脾氣。朝用補中益氣湯，夕用六味丸，漸愈，更用蘆薈丸而痊愈。</p>
<p>一婦人兩拗腫痛，小腹痞脹，小便時數，白帶時下，寒熱往來，小水淋瀝。余謂脾氣滯而血病，用龍膽瀉肝湯漸愈；又用加味逍遙散、六味丸而痊愈。</p>
<p>一婦人患前症，胸脅脹悶，或小便不利，或時作痛，小便澀滯，服疏氣豁痰等藥益甚。余謂肝火氣分之病，用龍膽瀉肝湯以清肝熱；又用加味逍遙散以生肝血；六味丸以滋腎水而愈。</p>
<p>一婦人患前症。余謂此肝脾鬱怒之症。不信，別服化痰利氣之劑，胸腹脹悶。又服峻利疏導之劑，變脾虛發腫之症而歿。</p>
<p>一婦人兩拗腫痛，內熱作渴，飲食不甘，肢體倦怠，陰中作梗，小便赤澀。為肝脾陰虛濕熱，用加味歸脾湯而愈。後因怒復作，小腹腫脹，小便不利。用小柴胡加山梔、芎、歸，以清理肝火，脹痛頓止。又以加味逍遙散，調補肝火而痊。</p>
<p>一婦人兩拗作痛，寒熱內熱，小便赤澀，胸脅不利，此肝火動而脾氣傷。用補中益氣湯加茯苓，數劑少愈；又與加味歸脾湯，諸症悉退，再用加味逍遙散而痊愈。</p>
<p>一婦人小腹痞悶，小便不利，內熱體倦懶食，此氣血虛，而兼肝火。用八珍湯加柴、梔、膽草，治之而安。</p>
<p>一婦人陰中如梗，兩拗腫痛，寒熱不食，小便頻數，小腹重墜，余以為肝脾鬱結所致。先以補中益氣湯，加山梔、茯苓、車前子、青皮，以清肝火升脾氣；更以加味歸脾湯，二十餘劑，調理脾鬱而愈。</p>

<h2>論下疳瘡（五）</h2>
<p>（婦人陰瘡等症見《女科撮要》、《婦人良方》）</p>
<p>下疳屬肝經濕熱下注，或陰虛火燥。治法：腫痛發熱者，血虛而有熱也，四物湯加柴胡、山梔。腫痛寒熱者，肝經濕熱也，小柴胡湯加龍膽草、黃連。腫痛便澀者，濕熱壅滯也，龍膽瀉肝湯。腫痛腐潰者，氣血虛而有火也，八物湯加山梔、柴胡。日晡熱甚者，陰血虛而有熱也，小柴胡湯加參、朮、芎、歸。日晡倦怠者，陽氣虛而下陷也，補中益氣湯。其經久不愈而發寒熱者，腎水不能生肝木也，用六味丸。若筋縮縱，或為癢痛，或出白津，此筋疝也，用龍膽瀉肝湯。氣虛者，補中益氣加炒山梔、炒龍膽。陰虛火燥者，用六味丸。莖中癢出白津，用補中益氣湯與清心蓮子飲間服。蓋此症肝經陰虛為本，腫痛寒熱等症為標，須用六味丸，以生肝血。凡脾土虛不能生金水，而見一切肝症者，當佐以補中益氣湯加麥門冬，以滋化源。</p>
<p><u>治驗</u></p>
<p>庶給士劉華甫，或莖中作痛，或竅出白津，或小便秘澀。先用小柴胡湯加山梔、澤瀉、黃連、木通、膽草、茯苓，二劑，以清肝火，導濕熱，諸症漸愈。後因勞倦，忽然寒熱，此元氣復傷也，用補中益氣而安；又用六味丸，以生肝血，滋腎水，而痊愈。</p>
<p>州守姜節甫，患前症。膿水淋漓，作渴吐痰，午前惡寒，午後發熱。余曰：午前惡寒，屬陽氣虛弱，午後發熱，屬陰血不足。不信，反服二陳、黃柏、知母之類，飲食益少，大便不實，又日晡熱渴，小腹重墜，患處焮痛。恪用四物、黃柏、知母之類，飲食亦不思。余以脾氣虛而下陷，先用補中益氣湯，調養脾胃，以升陽氣，諸症漸愈。又用六味丸，滋補腎水以生肝血而痊。</p>
<p>一小兒十五歲，患前症。雜用消毒之藥，虛症悉具，二年餘矣。詢之，乃稟所致。用萆薢湯，月餘諸症漸愈；又用補陰八珍、補中益氣二湯而痊。</p>
<p>一儒者莖中作癢，發熱倦怠，外皮浮腫二年矣。用八珍加柴胡、山梔，及六味地黃丸而愈。有兼陰毛間生蟲作癢者，用桃仁研爛塗之。</p>
<p>一儒者因勞而患焮痛寒熱，體倦頭疼，小便赤澀。用補中益氣湯加車前、牛膝、山梔而愈。</p>
<p>一儒者，陰莖腐爛，腫痛不止，日晡熱甚，口乾體倦，食少欲嘔。此肝脾血虛也，先用六君子加柴胡、升麻，脾胃醒而諸症退；更以補中益氣加炒山梔，肝火退而腫痛痊。</p>

<h2>論痔瘡（六）</h2>
<p>（男婦同治）</p>
<p>痔屬肝脾腎三經，故陰精虧損者難治，多成漏症。若肺與大腸二經風熱、濕熱者，熱退自愈，不守禁忌者，亦成漏症；或因醉飽入房，筋脈橫解，精氣脫泄，熱毒乘虛流注；或淫極強固其精，以致木乘火勢而侮金；或炙爆厚味，或勞傷元氣，陰虛火熾所致。初起焮痛便秘，或小便不利者，宜清熱涼血潤燥疏風。若氣血虛而寒涼傷損者，調養脾胃，滋補陰精。若破而久不愈，多成痔漏，有穿臀、穿腸、穿陰者，其腸頭腫塊者，濕熱也。作痛者，風熱也。便結者，火燥也。潰膿者，熱勝血也。大便作痛者，潤燥除濕。肛門墜痛者，瀉火除濕。小便澀滯者，清肝導濕。其成漏者，養元氣，補陰精為主。經云：因而飽食，筋脈橫解，腸澼為痔。其屬在肝與脾、腎也，明矣。若有患痔而兼疝，患疝而兼下疳，皆屬肝腎不足之變症。但用地黃丸、益氣湯，以滋化源為善。若專服寒涼治火者，無不致禍。</p>
<p><u>治驗</u></p>
<p>進士周希輔，素有疝痔，勞則小腹作痛，莖出白津，痔亦腫痛。若飲食勞倦，起居失宜，則發寒內熱，肢體疲倦。服十全大補湯，諸症並退。彼欲去病根，乃用攻病生肌之藥，肌體骨立。余用益氣湯、地黃丸，元氣漸復，但自弛調攝，不能痊愈。</p>
<p>一儒者，膿血淋漓，口乾作渴，晡熱便血，自汗盜汗。余謂：此腎肝陰虛也。不信，仍服四物、柏、知、連之類，食少瀉嘔。余先用補中益氣湯加茯苓、半夏、炮姜，脾胃漸醒。後用六味丸，朝夕服，兩月餘，諸症悉愈。</p>
<p>儒者楊舉元素陰虛，勞則肢體倦怠，兩足發熱，服清熱等劑，熱至腰膝，大便澀滯，飲食過多則瀉。至年餘，作渴吐痰，患痔出膿，仍不節勞，則忽惡寒發熱，復患癰，膿水不止，氣血虛甚。余用六味丸、補中益氣湯，滋養化源。喜其慎疾，年餘而痊。</p>
<p>一男子患此，服寒涼之劑，侵晨去後不實，食少體倦，口乾作渴，小腹重墜。余用補中益氣湯，而下墜頓止，用四神丸而食進便實，用地黃丸而瘡尋愈。</p>
<p>一膏粱酒色之人，患之作痛。服苦寒之藥，致臀腫硬，又加大黃，腹脹頭痛。此足三陰虧損，而藥復傷。余用補中益氣湯，升補陽氣，加參、苓、半夏、木香，以助脾氣，數劑而愈。</p>
<p>上舍陸子藩，時仲冬，患痔作痛，右手浮大，左尺洪數。余曰：冬見夏脈，當壯水之主，以鎮陽光。彼以為迂，別服芩、連之劑。越明年六月九日，復邀視之。痰涎上湧，日夜不寐，脈洪大而數，按之無力，左尺全無，足手肩膊逆冷。余曰：事急矣。彼云：但求少延數日，以待嗣子一見耳。勉用參、耆、歸、朮、炮姜之類，及六味丸料，加肉桂，至本月丁酉日，果歿。五行之理，信然！</p>
<p>侍御王兩間長子患痔，作渴發熱，尺脈洪數，按之無力。余曰：此肝腎陰精虧損，而虛火妄動，當滋化源。彼不信，後吐痰聲嘶，面赤體瘦而歿。</p>

<h2>論便血（七）</h2>
<p>（婦人症見《女科撮要》）</p>
<p>經云：邪在五臟，則陰脈不和；陰脈不和，則血留之。陰氣內結，陽絡外傷，滲入腸間，故便血也。《針經》云：陽絡傷則血外溢而衄血，陰絡傷則血內溢而便血。皆因飲食失節，而起居不時，七情六淫失宜，內傷外感所致。若外感則血鮮，名腸風。內傷則血濁，名臟毒。外感而元氣實者，人參敗毒散，加槐花、荊芥，以祛邪氣。內傷而元氣虛者，亦用六君子湯，以補胃氣。元氣下陷者，補中益氣湯，以升舉之。憂思傷脾者，濟生歸脾湯以解之。糞前見血者，益氣湯加吳茱萸。糞後見血者加黃連。陰血不足者，宜用四物湯。病因多端，不能盡述，當臨症制宜，庶無誤矣。丹溪先生云：精氣血氣，出於穀氣。惟大便下血，當以胃氣收功。治者審之！</p>
<p><u>治驗</u></p>
<p>一儒者素善飲，不時便血，或在糞前，或在糞後，食少體倦，面色痿黃，此脾氣弱虛，而不能統血。以補中益氣湯加吳茱萸、黃連，三十餘劑而再不發。</p>
<p>一男子每怒必便血，或吐血，即服犀角地黃湯之類。余曰：此脾虛不能攝血，恐不宜用此寒涼之藥。彼不信，仍服之，日加倦怠，面色痿黃。更用四物、芩、連、丹皮之劑，飲食少思，心煩渴熱，吐血如湧，竟至不起。若用四君、芎、歸、補中益氣湯，多有得生者。</p>

<h2>論脫肛（八）</h2>
<p>（男婦同治）</p>
<p>脫肛屬大腸氣血虛而兼濕熱。有久痢氣血俱虛而脫者，有因腎虛而脫者，有中氣虛而脫者，有因腎虛而脫者。濕熱者，升陽除濕湯。血熱者，四物加條芩、槐花。血虛者，四物加白朮、茯苓。兼痔而痛者，四物加槐花、黃連、升麻。久痢者，補中益氣湯加酒炒芍藥。中氣虛陷者，前湯加半夏、炮薑、茯苓、五味。腎虛者，六味丸。虛寒者，八味丸。肺與大腸為表裡，肛者大腸之門，肺實熱則秘結，肺虛寒則脫出，腎主大便，故腎虛者多患此症。</p>
<p><u>治驗</u></p>
<p>舉人於時正，素有痔。每勞役便脫肛，腫痛出水，中氣下陷也。用補中益氣湯加茯苓、芍藥十餘劑，中氣復而即愈。後復脫作痛，誤服大黃丸，腹鳴惡食幾危。余用前湯，加炮薑、芍藥，諸症漸愈，後去姜，加熟地、五味，三十餘劑而愈。</p>
<p>一男子脾胃素弱，或因勞倦，或因入房，肛門即下，腫悶痛甚。用補中益氣湯加麥門、五味，兼六味丸而愈。後因過飲，下墜腫痛，誤用降火消毒，虛症蜂起。余用前湯加炮薑、木香，一劑，再用前湯，並加減八味丸，兩月而安。</p>
<p>一儒者面白神勞，素畏風寒，飲食喜熱，稍多必吞酸作瀉，吸氣覺冷，便血盜汗。余以為脾腎虛寒，用補中益氣加炮薑、肉桂，五十餘劑，八味丸斤許，諸症悉愈。</p>

<h2>論腎臟風瘡（九）</h2>
<p>（男婦同治）</p>
<p>腎臟風屬腎虛，風邪乘於臁脛，以致皮膚如癬，或漸延上腿，久則延及遍身。外症則搔癢成瘡，膿水淋漓，眼目昏花；內症則口燥舌乾，腰腿倦怠，吐痰發熱，盜汗體疲。治法用六味丸為主，佐以四生散。若脾胃虛弱者，用補中益氣為主，佐以六味丸、四生散為善。</p>
<p><u>治驗</u></p>
<p>欽天薛循齋，六十有一，兩臁患之，膿水淋漓，發熱吐痰四年矣。此腎臟風症也，與六味丸、四生散而瘥。年餘復作，延及遍身，日晡益甚，痰渴盜汗，唇舌生瘡，兩目昏赤，皆腎經虛火，而水泛為痰，用加減八味丸而愈。三年後，小便淋漓，莖中澀痛，此思色精不出而內敗也。用前丸，及補中益氣湯加麥門、五味而愈。</p>

<h2>論臁瘡（十）</h2>
<p>（婦人症見《女科撮要》、《婦人良方）</p>
<p>臁瘡生於兩臁，初起赤腫，久而腐潰或津淫搔癢，破而膿水淋漓。蓋因飲食起居，虧損肝腎；或因陰火下流，外邪相搏而致。外臁屬足三陽濕熱，可治。內臁屬足三陰虛熱，難治。若初起惡寒壯熱，腫焮作痛者，屬濕熱，用檳蘇敗毒散。若漫腫作痛，或不腫不痛者，屬陰虛，用補陰八珍湯。若膿水淋漓，體倦食少，內熱口乾者，屬脾虛，用補中益氣加茯苓、酒炒白芍藥。若午後熱，或作痛，頭目不清者，屬陰火，前湯加酒炒黑黃柏，及六味地黃丸。若午後發熱，至子時分方止，是血虛，前湯加芎、歸、熟地。若鬱結傷脾而甚，用歸脾湯加柴胡、山梔。若怒動肝火而甚，用補中益氣湯加川芎、山梔、黃芩。內熱口乾，肢體倦怠，或痰涎上升，或口舌生瘡，屬脾腎虛熱，用六味地黃丸、補中益氣湯。若患處黑黯，肢體畏寒，飲食少思，屬脾腎虛敗，用八味地黃丸。若誤用攻伐，復損胃氣，絕其化源，治亦難矣。</p>
<p><u>治驗</u></p>
<p>鴻臚翟少溪，兩臁生瘡，漸至遍身，發熱吐痰，口燥咽乾，盜汗心煩，溺赤足熱，日晡益甚，形體日瘦，此腎經虛火也。用六味丸，一月諸症悉退，三月元氣平復。</p>
<p>一男子左腿腫，肉色如故，寒熱噁心，飲食少思，此脾氣不足，而為外邪所感也。用六君，加藿香、桔梗、川芎，而寒熱止；又用補中益氣湯，而腫痛消。</p>
<p>陳湖陸懋誠，素因陰虛過飲入房，發熱腿痛似臁瘡。用發表之劑，兩腿腫黯，熱氣如霧，欲發痙，脈皆洪數，兩尺尤大。余曰：屬足三陰虛，酒濕所乘，元氣損而邪益甚耳。用十全大補加山藥、山茱萸、附子一劑，脈症頓退；卻去附子，又二劑，痊愈。</p>
<p>一男子先於兩臁，後及遍身生瘡，似疥非疥，時或膿水淋漓，兩腿為甚，肢體倦怠，作癢煩熱，年餘不愈。余作腎經虛火，用加減八味丸而愈。</p>
<p>一男子腿患癰，服克伐之藥，虧損元氣，不能成膿。余為托裡而潰，大補而斂，但大便結燥，用十全大補湯加麥門、五味而潤，月餘仍結，自服潤腸丸，而瀉不止。余用補中益氣湯，送四神丸，數服而愈。</p>

<h2>論足跟瘡（十一）</h2>
<p>（婦人症詳見《婦人良方》）</p>
<p>足跟乃督脈發源之所，腎經所過之地。若飲食失節，起居失宜，虧損足三陽經，則成瘡矣。若漫腫寒熱，或體倦少食，屬脾虛下陷也，用補中益氣湯。若晡熱作痛，頭目不清，屬脾虛陰火也，前湯並六味丸。若痰涎上升，口舌生瘡，屬腎水乾涸也，前湯並加減八味丸。凡此皆當滋其化源，若治其外則誤矣。俗云：兔齧瘡者，蓋獵人被兔咬足跟，久而不斂，氣血瀝盡而死。</p>
<p><u>治驗</u></p>
<p>大尹陳汝鄰，兩腿痠軟，或赤或白，足跟患腫，或痛或癢後痛，而或如無皮，或如皺裂，日晡至夜，脹痛焮熱。用補中益氣湯加八味丸料，補其肝腎而愈。</p>
<p>一男子足跟作痛，熱渴體倦，小便如淋，誤用敗毒散，致頭痛惡寒，欲嘔不食，吐痰咳嗽。此足三陰虧損，而藥復傷。余用十全大補湯、加減八味丸，各五十餘劑而愈。</p>
<p>一男子素不慎起居，內熱引飲，作渴體倦，兩足發熱，後足跟作痛。或用清熱除濕之劑，更加發腫；又服敗毒之藥，焮赤痛甚。恪用祛毒清熱，潰裂番張，狀如赤榴，熱痛如錐，內熱晡熱，此因足三陰虧損。朝用十全大補湯，夕用加減八味丸，外敷當歸膏，兩月餘而愈。其服消毒等藥而歿者，不能枚舉。</p>
<p>一男子亦患此，服消毒散，搽追蝕藥，虛症疊出，其形體骨立，自分必死。余用十全大補，兼山茱、山藥，兩月餘而愈。</p>
<p>一膏粱之人，兩腳發熱作渴，左尺脈數而無力。余謂：此足三陰虧損，防患疽。不信，反服清熱化痰之藥，更加晡熱頭暈，又服四物、黃柏、知母，日晡熱甚，飲食漸少，面部見發疽。余用補中益氣、六味地黃丸，百餘服。而其不信，患疽以致不起者多矣！</p>
<p>一婦人勞則足跟熱痛，余以為三陰虛，用八珍湯而痊。後遍身搔癢，誤服風藥，發熱抽搐，肝脈洪數。此肝家血虛火盛而生風，以天竺、膽星為丸，用四物、麥門、五味、芩、連、炙草、山梔、柴胡，煎湯送下而愈。</p>
<p>一婦人兩足發熱，兩跟作痛，日晡熱甚。余以為肝腎血虛，用加味逍遙散、六味地黃丸，五十餘劑，諸症悉愈。</p>
<p>一婦人素血虛，因大勞，兩足發熱晡熱，月經過期。或用四物、黃連，飲食少思，胸痞吐痰。用二陳、枳實、黃連，大便不實，吐痰無度，足跟作痛。余曰：足熱晡熱，月經過期，乃肝脾血虛也。胸痞吐痰，飲食少思，脾胃虛也。蓋胃為五臟之根本，胃氣一虛，諸症悉至。先用補中益氣湯加白茯苓、半夏，脾胃漸健。乃佐以六味地黃丸，以補脾腎，不兩月而痊。</p>
<p>一婦人經候不調，發熱晡熱，胸膈不利，飲食少思。服清熱寬中消導之劑，前症益甚，更兼肢體痠痛；服除濕化痰等藥，經候兩月一至；服通經降火等劑，兩足跟趾作痛，其熱如炙。余以為足三陰虧損，用補中益氣、六味地黃丸，兩月諸症漸退；又用前湯並八珍散，兩月而康。</p>
<p>一婦人足跟患腫，兩腿痠軟，或赤或白，或癢或痛，後或如無皮，或如皺裂，日晡至夜，脹痛焮熱。此足三陰虧損，用加減八味丸，及逍遙散加熟地、川芎，百餘劑而愈。</p>

<h2>論腳發（十二）</h2>
<p>（男婦同治）</p>
<p>腳發之症，屬足三陰經精血虧損，或足三陽經濕熱下注。若色赤腫痛而潰膿者，屬濕熱下注，為可治。若色微赤微腫，而膿清者，屬精血虧損，為難治。若黑黯不腫痛，不潰膿，煩熱作渴，小便淋漓者，陰敗未傳惡症也，為不治。其法：濕熱下注者，先用隔蒜灸、活命飲以解壅毒，次服益氣湯、六味丸，以補精氣。若色黯不痛者，著肉灸、桑枝灸，以行壅滯助陽氣，更用十全大補湯、八味丸，壯脾胃，滋化源，多有復生者。若專治其瘡，復傷生氣，吾未見其生者。</p>
<p><u>治驗</u></p>
<p>閣老靳介庵，腳趾縫作癢，出水腫焮，腳面敷止癢之藥不應，服除濕之劑益甚。余以為陰虛濕熱下注，用六味地黃丸、補中益氣湯而愈。</p>
<p>大參李北溪，左腳赤腫作痛，此足三陽經濕熱下注。先用隔蒜灸、活命飲一劑，其痛頓止，灸患處出水，赤腫頓消；次用托裡消毒散四劑，灸患處，出膿而愈。</p>
<p>儒者楊舉元患此。微腫痛微赤焮，此足三陰經陰虛濕熱下注。用隔蒜灸、托裡散而起發，用十全大補湯而膿成，又與加減八味丸，百劑而斂。</p>
<p>一儒者患此，腫硬色白，兩月餘矣。此足三陰經虧損，為外寒所侵，用大防風湯，及十全大補，兼服而消。後場屋不利，飲食勞倦，前症復作，盜汗內熱，飲食不化，便滑肌瘦，此脾土虛寒，而命門火不能相生。用八味丸、益氣湯，百餘劑。喜其年壯得愈。</p>
<p>一男子腳心發熱，作渴引飲。或用四物、連、柏、芩、知母之類，腹痛作嘔，煩熱大渴，此足三陰虧損，前藥復傷脾胃也。先用六君加炮姜，數劑而脾胃醒，再用補中益氣，加茯苓、半夏，而脾胃健，乃以加減八味丸，兼服半載而愈。</p>
<p>一儒者腳心發熱，作癢，以滾湯浸潰，潰而出水，肌體骨立，作渴吐痰，此脾腎虛而水泛為痰也。服益氣湯、六味丸，年餘元氣復而諸症愈。</p>
<p>少宗伯顧東江，面黧作渴。余曰：此腎經虧損，當滋化源，以杜後患。彼雖然之，而終不服。次年九月內，左足面患疽，色黯不痛，腳腿沉重。用隔蒜灸三十餘壯，足腿即輕，瘡出血水，數日而消，瘡色仍黯。時公將北行賀萬壽。余診之曰：脾脈衰憊，陽氣虛極，不宜遠行。公曰：余得夢屢驗，向夢群仙待我，此壽徵也。至河間驛聚仙堂，病篤。嘆曰：立齋豈能留我。果卒於此，亦異數也。</p>

<h2>論脫疽（十三）</h2>
<p>脫疽謂疔患於足或足趾，重者潰脫，故名之。亦有患於手，患於指者。因醇酒炙爆，膏粱傷脾，或房勞損腎，故有先渴而後患者；有先患而後渴者。若色赤作痛自潰者，可治。色黑不潰者，不治。色赤作痛者，元氣虛而濕毒壅盛也。先用隔蒜灸、活命飲、托裡散，再用十全大補湯、加減八味丸。色黯不痛者，腎氣敗而虛火盛也，隔蒜灸、桑枝灸，亦用十全大補湯、加減八味丸，則毒氣不致上侵，元氣不致虧損，庶可保生。亦有因修手足口咬等傷而致者。若元氣虛弱，或犯房事，外塗寒涼，內服克伐，損傷脾胃，患處不潰，若黑黯上延，亦多致死。重者須當以腳刀轉解周⿰骨界，輕拽去之，則筋隨骨出，而毒則泄亦不痛，否則毒筋內斷，雖去而仍潰。且偏僻之處，氣血罕到，藥雖導達，況攻毒之劑，先傷脾胃，不若灸法為良，重者須解去為善。故孫真人云：在肉則割，在指則截。蓋親之遺體，雖不忍傷，而遂至夭歿，則尤傷矣。況解法無痛，患者知之。</p>
<p><u>治驗</u></p>
<p>一男子足趾患之，腫焮痛赤，此三陽經虛，而外邪所乘也。用隔蒜灸，人參敗毒散加銀花、白芷、大黃，二劑而痛甚，又二劑而痛止。又與十宣散加天花粉、金銀花，去桂，數劑而愈。又有足趾患之者，色紫不痛，此三陽經熱毒壅滯，隔蒜灸五十餘壯，又明灸百壯，始痛，投活命飲四劑，更以托裡藥，潰脫而愈。</p>
<p>一男子患前症，赤痛作渴，此足三陰虛，而火內動。用隔蒜灸、活命飲，三劑而潰；更服托裡藥，及加減八味丸，潰脫而愈。若早用前法，不至於此。</p>
<p>一男子腫痛，色赤發熱作渴，大小便秘結，其脈浮數，按之沉實，此足三陽經積熱，內外俱受患也。先用隔蒜灸，及人參敗毒散加銀花、白芷、大黃而潰，更以活命飲而痊。</p>
<p>一膏粱之人，先作渴足熱，後足大趾赤痛，六脈洪數而無力，左尺為甚。余以為此足三陰虛，當滋化源為主。因服除濕敗毒等劑，元氣益虛，色黯延足。余乃朝用補中益氣湯，夕用補陰八珍湯，各三十餘劑，及桑枝灸，潰而膿清，作渴不止。遂朝以前湯，送加減八味丸，夕用十餘大補湯，三十餘劑而痊。是時同患此症，服敗毒之藥者，俱不救。</p>

<h2>論瘤贅（十四）</h2>
<p>（附結核，凡結核當與瘰癧參看）</p>
<p>《內經》云：肝統筋而藏血，心裡血而主脈，脾主肉而統血，肺主氣而司腠理，腎統骨而主水。若怒動肝火，血涸而筋攣者，其自筋腫起。按之如筋，久而或有赤縷，名曰筋瘤。用六味地黃丸、四物、山梔、木瓜之類。若勞役火動，陰血沸騰，外邪所搏而為腫者，其自肌肉腫起，久而有赤縷，或皮俱赤，名曰血瘤，用四物、茯苓、遠志之類。若鬱結傷脾，肌肉消薄，外邪所搏而為腫者，其自肌肉腫起，按之實軟，名曰肉瘤，用歸脾、益氣二湯。若勞傷肺氣，腠理不密，外邪所搏而壅腫者，其自皮膚腫起，按之浮軟，名曰氣瘤，用補中益氣之類。若勞傷腎水，不能榮骨而為腫者，其自骨腫起，按之堅硬，名曰骨瘤，用地黃丸，及補中益氣湯主之。夫瘤者，留也。隨氣凝滯，皆因臟腑受傷，氣血乖違，當求其屬，而治其本。大凡屬肝膽二經結核，八珍加山梔、膽草，以養氣血清肝火；六味丸以養肺金生腎水。若屬肝火血燥，須生血涼血，用四物、生地、丹皮、酒炒黑膽草、山梔。中氣虛者，補中益氣兼服。若治失其法，脾胃虧損，營氣虛弱，不能濡於患處；或寒氣凝於瘡口，榮氣不能滋養於患處；以致久不生肌，而成漏者，悉調補脾胃，則氣血壯而肌肉自生矣。若不慎起居及七情六淫，或用寒涼蝕藥、蛛絲纏、芫花線等法，以治其外，則誤矣。</p>
<p><u>治驗</u></p>
<p>長州庠王天爵，辛丑春，左腿近環跳患之，狀如大桃，按之濡軟，恪服除濕流氣化痰之劑，惡寒發熱，食少體倦，形氣俱虛，脈洪大而虛，氣瘤也，肺主之。蓋膽屬木，肺屬金，然發於膽經部分，乃肺金侮肝木，元氣虧損，而其膿已內潰矣。遂用十全大補湯數劑，出青白稀膿甚多，頓加寒熱，煩渴頭痛，殊類傷寒狀。余謂：此因膿泄而血氣益虛耳。仍用前湯，其勢益甚，脈洪數大，按之如無，乃加附子一錢，其勢愈甚，而脈復如前，此虛甚而藥未能及也。更加附子二錢，三劑諸症頓退。乃朝用補中益氣湯，夕用十全大補湯，各三十餘劑，出腐骨五塊，瘡口將完。後因不慎起居，患處復潰，諸症更發，咽間如焚，口舌無皮，用十全大補加附子一錢服之，諸症痊。二日不服，內病悉至，患處復潰。二年後又患，服前藥不應，診其尺脈，微細如絲，此屬命門火衰，用七味丸為主，佐以十全大補湯稍愈。至乙巳仍患虛寒之症而歿。</p>
<p>一男子左腿外側近臀腫一塊，上有赤縷三年矣，飲食起居如常，觸破湧出血膿，發熱惡寒，此膽經受症，故發於腿外側。診其脈左尺洪數，左關弦洪，此腎水不能生肝木，用補中益氣湯、六味地黃丸而痊。</p>
<p>一男子小腹患之，膿水淋漓，此足三陰之症，用補中益氣加麥門、五味，以培脾土；用六味地黃丸，以生腎水。更用蘆薈丸，以清肝火而斂。</p>
<p>一老儒眉間患之，二年，其狀如紫桃，下墜蓋目，按之如水囊，此肝脾之症，膿瘀內潰而然耳。遂刺出血膿，目即開，以炒黑膽草、山梔、芎、歸、芍藥、柴胡、白朮、茯苓等類而愈。</p>
<p>舉人江節夫，兩耳下兩臂兩肋結核，恪服祛痰降火軟堅之劑，益甚。余曰：此膽經血虛火燥也。蓋膽經行人之側，前藥必致虧損。至明年七月復請視，各核皆潰，脈浮大而澀。時金旺於秋，木受金克，必不治，果卒。</p>
<p>嘉善周上舍，兩耳下項間筋攣，壅腫堅硬，咳嗽氣喘，內熱盜汗。所服皆化痰散堅行氣之劑，勢益甚。余診之，左關弦澀，左尺洪數，此怒氣傷肝，房勞損腎。須滋腎水，生肝血，慎調攝，至水旺之際，庶可愈矣。彼欲速效。乃外敷商陸、石灰等藥，內服海藻、莪朮之類。至秋金旺之際，元氣愈虛，其腫愈甚而歿。</p>
<p>鎮江孫上舍，缺盆間腫如覆甌，堅硬色赤，內熱晡熱，自汗盜汗。就治於余曰：賤疾皆以散堅行氣降火破血之劑，欲其內消而反甚。其脈左尺洪數，按之而弱，左關洪數，按之而澀，此怒氣傷肝，血涸而筋攣也。因其急於仕進，余辭不能治，彼亦不信，後果歿。此症若補脾肺，滋肝腎，則木得水而敷華，筋得血而滋潤，多有得生者。</p>

<h2>論疣子（十五）</h2>
<p>疣屬肝膽少陽經風熱血燥，或怒動肝火，或肝客淫氣所致。蓋肝熱水涸，腎氣不榮，故精亡而筋攣也。宜以地黃丸滋腎水，以生肝血為善。若用蛛絲纏、螳螂蝕、耆艾灸，必多致誤。大抵此症，與血燥結核相同，故外用腐蝕等法，內服燥血消毒，則精血愈虛，肝筋受傷，瘡口翻突開張，卒成敗症。</p>
<p><u>治驗</u></p>
<p>府庠朱宏仁，年二十，右手背近中指患五疣，中一大者如黃豆，余皆如聚黍，拔之如絲，長三四寸許。此血燥筋縮，用清肝益榮湯，五十餘劑而愈。</p>
<p>府庠沈嫗文，幼齧指甲，及長不能自禁。余曰：此肝火血燥也。又頸側常生小疣子，屢散屢發。又臂生一塊，如綠豆大，若觸碎，如斷束縷，扯之則長，縮之則縮，後兩鬢髮白點，求治。余曰：子素肝病，此病亦屬肝膽經也。夫爪為筋之餘，膽行人生之側，正與齧爪生㾋等症相應。須滋補腎水，以生肝膽，則諸病自愈矣。乃與六味地黃丸，服之二年，白點自退，疣亦不生。</p>
<p>一男子臉患疣，初如赤椹，雜用敷貼之藥，翻張如菌。又用腐蝕，焮大如瘤。此足三陰經虛證悉具，治以補脾肺生肝腎等劑而尋愈。</p>
<p>一男子小腹中一塊，不時攻痛，或用行氣化痰等藥，不應。尤以為血鱉，服行氣逐血之劑，後手背結一㾋子，漸長寸許，形如鱉狀，肢節間如豆大者甚多。彼泥鱉生子發於外，亦用行血，虛症悉至，左尺洪數，關洪數弦。余以為腎水不能生肝木，以致肝火血燥而筋攣。用六味地黃丸，生腎水，滋肝血，三月餘，諸症悉愈。</p>
<p>一男子因勞役過度，面色青黑，發熱咳嗽，面生疣子，腹內一塊，攻上攻下作痛，小便秘澀，服消克之藥愈甚。察其脈左右關俱弦洪，元氣弱甚，此肝脾受病而筋攣也。投以加味逍遙散合地黃丸料，元氣遂復。若誤以為血鱉之類消之，必致不起。</p>
<p>一男子素膏粱醇酒，先便血便結，驚悸少寐，後肛門周生小顆如疣子，如鼠乳大小不一。用清熱消毒等藥，半載之間，腿內股亦然。又用化痰之藥，寒熱吐痰，頸間俱作，肝腎脈浮數，按之而弱。余以為足三陰經血虛火熾，法當滋化源。彼不信，別服四物、黃柏、知母之類，諸症蜂起，此胃氣復傷，各經俱病也。可先用補中益氣湯三十餘劑，諸症漸愈；乃朝用前湯，夕用八珍湯，又各五十餘劑，諸症尋愈；於是夕改用六味丸加五味子，又半載，諸症悉愈。</p>
<p>一婦人左手背並次指，患五六枚如熟椹，內熱晡熱，月經素不按期。余曰：此因肝脾血虛而有熱也，當調補二經使陰血生，而他症自愈。不信，乃用艾灸，手腫脹發熱，手指皆攣，兩脅項及胸乳間皆患疣，經行無期。余用加味逍遙散，少加炒黑黃連數劑漸愈，乃去黃連，更佐以歸脾湯，各患漸愈，又百餘劑，經行如期，再用地黃丸，三料而痊。</p>
<p>一婦人小腹內一塊，或時上攻，或時下墜，寒熱胸痞，小便淋漓。或用行氣化痰等劑，前症愈甚，月經兩月餘而一行。或以為內有肉鱉啖飲其血而經不行，服驅逐之劑，下血甚多。兩手背結一疣，如大豆許，兩月漸長寸許。又兩月餘，又患數枚，疑以鱉子行於外，仍行驅逐，兩耳下各患腫，又疑為瘡毒。余曰：此屬肝火血燥也。用加味逍遙散、加味歸脾二藥兼服，佐以六味丸，三月餘而愈。</p>
<p>一婦人患之，用蛛絲纏、芫花線、螳螂啖毒藥蝕、著艾灸、大潰腫痛，發熱出血。余曰：此陰血虛也。不信，仍服降火之藥而歿。</p>

<h2>論發痙（十六）</h2>
<p>（痙當作痓）</p>
<p>瘡瘍發痙，因氣血虧損，外邪所搏，或由虛鬱火所致。其形牙關緊急，四肢勁強，或腰背反張，肢體抽搐。其有汗而不惡寒者，曰柔痙。風能散氣，故有汗也。其無汗而惡寒者，曰剛痙。寒能澀血，故無汗也。皆由亡血過多，筋無所養，故傷寒汗下過多，與潰瘍、產後多患之，乃敗症也。若大補氣血，多有復生者，若作風治，速其危矣。</p>
<p><u>治驗</u></p>
<p>秋官張同野，舊有流注，因暴寒睡炕，口目抽搐，手足戰掉。余以為氣血虛熱而然，用參、耆、歸、朮、川芎、山梔、柴胡、半夏、天麻、炙草，治之而愈。</p>
<p>吳給事贍之，墜馬傷首，出血過多，發熱煩躁，肉瞤筋惕。或作破傷風，欲發汗祛風。余曰：此亡血火動也，無風可祛，無汗可發，當峻補其血。用聖愈湯，二劑頓愈。又用健脾胃，養氣血而痊愈。</p>
<p>一儒者背瘡將愈，發熱煩躁，自用降火之劑，項強口噤，自汗惡寒，此汗多內亡津血，筋無所榮也。用補氣血之劑，及地黃丸而愈。</p>
<p>一男子素勤苦早行，遍身發疙瘩，口噤目直，脈弦緊，此勞傷氣血，內熱外邪所搏也。用補中益氣加山梔、羌活、川芎而瘥。半載後，遍身作癢，搔破成瘡，發熱作渴，脈洪大而虛。復以前湯加芍藥、麥門、熟地、天麻而愈。</p>
<p>一儒者善怒，患瘰癧，復因大怒跳躍，忽仆地，兩臂抽搐，唇口喎斜，左目緊小，此肝火血虛，內熱生風。用八珍湯加牡丹皮、鉤藤、山梔而愈。次年春，前病復作，兼小便自遺，左關弦洪而數。余以為肝火血燥，用六味丸加鉤藤、五味、麥門、芎、歸，治之漸愈；又用補中益氣加山梔、鉤藤、牡丹皮而安。</p>
<p>一癧婦因怒仆地，瘡口出血，語言蹇澀，口眼喎斜，四肢拘急，汗出遺尿。或用驅風之劑，六脈洪大，肝脈尤甚，此肝火熾甚也。用加味逍遙散加鉤藤，及六味丸尋愈。</p>
<p>一婦人患內痔，因勞出血甚多，不時發痙，飲食少思，形體倦怠，其面色白，余謂此氣傷而不能統血也。用補中益氣湯，反寒熱出血，此陽氣虛寒也。仍以前湯，加炮姜四劑，寒熱漸止，飲食漸進；又四劑，而血頓止。後因勞役，或怒氣即便血，或發痙，投以補中益氣湯加鉤藤而愈。</p>
<p>一婦人素性急，患遍身瘙癢，或項間結核，常服搜風順氣之劑，後大怒吐血，唇口牽緊，小便頻數，或時自遺，此怒動肝火而血妄行也。用小柴胡湯加山梔、牡丹皮而愈。</p>
<p>一癧婦因勞兼怒，四肢攣屈，煩痛自汗，小便短少，畏見風寒，脈浮弦緩，此氣血虛而風寒濕熱相搏也。先用東垣清燥湯漸愈，再用加味逍遙散，及八珍湯加牡丹皮而痊。</p>
<p>一婦人素有肝火，兩拗間或腫痛，或寒熱，忽然昏憒，瘛瘲抽搐，善伸數欠，四肢筋攣，痰涎上升，此肺金燥甚而血液衰少也。用清燥丸、六味丸兼服尋愈。</p>
<p>一婦人因大勞患臁瘡發疙瘩，搔碎成瘡，日晡熱甚，或口噤發搐，或頭目眩暈，此肝脾氣血虛而內熱。以八珍散，加柴胡、山梔治之，諸症稍愈。復因怒，前症復作，經行不止，此肝脾血熱，用加味逍遙散漸愈，又用八珍散加柴胡、山梔而痊。</p>
<p>一婦人發疙瘩，日晡熱甚，月經先期，或頭目昏眩，或寒熱發熱，或四肢抽搐，此肝經風熱血燥，用加味逍遙散，治之尋愈。後因怒，前症復作，口噤遺尿，此肝火血燥也，用加味小柴胡湯治之，漸愈。又夜間發熱譫語，此血分有熱也，用小柴胡湯加生地而愈。更用加味逍遙散，調理而安。</p>
<p>一婦人患繭唇，月經先期，余以為肝火血熱。不信，乃泛用降火之劑。反致月經過期，復因勞怒，口噤呻吟，肢體不隨，六脈洪大，面目赤色，用八珍、麥門、五味、山梔、丹皮，數劑漸愈；兼用逍遙散、六味丸料，各三十餘劑痊愈。</p>
<p>一婦人經行遇怒，其經即止，甚則口噤筋攣，鼻衄頭痛，痰湧搐搦，瞳子上視，此肝火熾甚。以小柴胡湯加熟地黃、山梔、鉤藤鉤而愈。</p>
<p>一婦人素陰虛，患遍身瘙癢，誤服祛風之藥，口噤抽搐，肝脈洪數。余曰：肝血為陰為水，肝氣為陽為火，此乃肝經血熱火盛耳。宜助陰血，抑肝火，遂用四物、麥門、五味、柴胡、山梔、生草，熱搐頓止。又以八珍加黃耆、麥門、五味、鉤藤鉤、炙草調理而愈。</p>
<p>一婦人久患流注，脾胃虛弱，忽痰壅氣喘，頭搖目札，手揚足擲，難以候脈。視其面，黃中見青，此肝木乘脾士也。用六君加柴胡、升麻，治之而蘇。更以補中益氣加半夏、茯苓而安。</p>

<h2>論類破傷風症（十七）</h2>
<p>大凡癰疽潰後，筋糜肉爛，膿血大泄，陽隨陰散，或筋脈拘急，惡寒惕搦。甚者舌強口噤，項背反張，痰涎壅甚，便閉汗出，不時發熱，此氣血俱虛而傳變。雖與破傷風相類，而主治之法，當大補氣血。若果系風症，亦須以大補氣血為本，而兼以治風之藥。設若不審是非而妄藥之則誤矣。風症治見後方。</p>
<p><u>治驗</u></p>
<p>司徒邊華泉肩患癰，潰而發熱，目直或瞤，殊類中風。日晡熱甚，脈益數，此足三陰氣血虧損，虛火妄動。用參、耆、歸、朮、炙草，加酒炒黑黃柏、五味、麥門、肉桂，四劑而愈，又數劑而斂。</p>
<p>陸大行背瘡，內潰出膿二碗許，用托裡之劑，痛止腫消停藥。忽寒熱作渴，頭痛自汗，此元氣虛而未能復也。用十全大補加麥門、五味、肉桂，二劑益甚，診其脈如故。此藥力未及，仍用前藥加附子一錢，三劑諸症悉愈，乃去附子，加肉桂數劑而斂。</p>
<p>一儒者患腿癰，深蓄於內，肉色不變，久不穿潰，針出膿瘀五碗許，惡症駢臻，全類中風，此脾胃虛而變症也。用六君子加當歸、炮姜，及聖愈湯，各四劑而安。又勞心不寐，用歸脾湯而愈。</p>
<p>一儒者傷寒後，患流注，腫痛潮熱，用十宣、敗毒等劑，出稀膿五六碗許，發熱惡寒，煩躁作渴，殊類破傷風症而歿。</p>
<p>一男子背瘡未痊斂，以膏藥剪孔貼之，患破傷風症而歿。此先失於內補，外邪襲其虛耳。余見此症，貼膏藥剪孔，欲其通氣，而反患破傷風。搽斂藥生肌，欲其收口，而反助其餘毒。以致歿者多矣，可不慎哉！</p>

<h2>論瘡瘍隨症加減用藥（十八）</h2>
<p>《內經》云：形傷痛，氣傷腫，先腫而後痛者，形傷氣也。先痛而後腫者，氣傷形也。東垣先生謂：胃為五臟之本源，人身之根蒂。丹溪先生云：癰疽因積毒在臟腑，宜先助胃壯氣以固其本。夫然則氣血凝結者自散；膿瘀已成者自潰；肌肉欲死者自生；肌肉已死者自腐；死肉已潰者自斂。若獨攻其瘡，脾胃一虛，七惡蜂起，其不死者，幸矣！大凡前症，須用托裡消毒散為主。若高腫焮痛，熱毒也，加黃連。漫腫微痛，氣虛也，去金銀花、連翹二味，加參、術。頭痛發熱。邪在表也，本方加川芎、羌活。若外邪在表，而元氣實者，暫用人參敗毒散。頭痛惡寒，表虛也，去二味，加參、耆。發熱飲冷，便秘，內熱也，去參、耆、歸、術，加大黃。發熱飲熱便秘，內虛也，去二味，加參、耆、歸、術。寒熱飲冷，小便澀滯，肝熱也，去參、耆，加柴胡、山梔。不作膿，膿不潰，氣虛也，去二味及白芷，加參、朮、肉桂。如不應，暫用十全大補湯。腫赤作痛，血凝滯也，本方加乳香、沒藥。如不應，暫用仙方活命飲。膿出反痛，氣血虛也，去三味（即金銀花、連翹、白芷，後仿此。）加參、耆、歸、地。肉赤而不斂，血虛而有熱也，去三味，加熟地、牡丹皮。肉黯而不斂，陽氣虛寒也，去三味，加參、耆、白蘞、官桂。漫腫不痛，或肉死不潰，脾氣虛也，去三味，加人參、白朮。如不應，加薑、桂。更不應，急加附子。肉白而不斂，陽氣虛也，去三味，加參、耆、歸、術。膿多而不斂，氣血虛也，去三味，加參、耆、歸、朮、熟地。如不應，暫用十全大補湯。飲食少思，而不斂，胃氣虛也，去三味，加參、耆。如不應，暫用補中益氣湯。飲食難化而不斂，脾氣虛也，去三味，加參、術。如不應，暫用六君子湯。又不應，佐以八味丸。膿多而帶赤，血虛也，去三味，加歸、地、參、術。如不應，暫用八珍湯加牡丹皮。忿怒晡熱而出血，肝火血虛也，去三味，加牡丹皮、熟地、炒黑山梔。如不應，暫用八珍湯送六味丸。面青脅脹而出血，肝氣虛而不能藏血也，去三味，加山茱、山藥、五味子。如不應，兼六味丸。食少體倦而出血，脾氣虛而不能攝血也，去三味，加參、耆、歸、地。兼鬱結少寐，更加遠志、酸棗仁、茯神、龍眼肉。如不應，暫用歸脾湯。欲嘔作嘔，或外搽內服寒涼，或痛甚，或感寒邪穢氣而嘔，胃氣虛也，去三味，加藿香、參、術。飲食少思，腸鳴腹痛，腹冷泄瀉，脾氣虛寒也，去三味，加炮薑、木香。手足逆冷，脾血虛寒也，更加附子，煎送四神丸。飲冷作渴，熱毒也，加赤小豆、知母。如不應，暫用竹葉黃耆湯。善食作渴，胃火也，加石膏、山梔。如不應，暫用竹葉石膏湯。膿多而作渴，氣血虛也，去三味，加熟地黃、五味子。如不應，暫用十全大補湯加五味子、麥門冬。口乾舌燥，腎氣虛也，去三味，加熟地、山茱、山藥。如不應，兼六味丸。又不應，佐以補中益氣湯。自汗內熱口乾，胃氣虛也，去三味，加參、耆、歸、術。如不應，暫用六君子湯。盜汗內熱口乾，陰血虛也，去三味，加熟地、麥門、五味。如不應，暫用當歸六黃湯。莖中痛而小便不利，精內敗也，去三味，加山茱、山藥、澤瀉。如不應，佐以六味丸。愈便則愈痛，愈痛則愈便，精復竭也，去三味，煎送六味丸。食少體倦，口乾飲熱，小便黃短，脾肺虛熱也，去三味，加五味子、山茱萸。如不應，暫用六味丸。勞役而小便黃，元氣下陷也，去三味，加升麻、柴胡。汗後而小便黃短，腎虛熱也，去三味，加升麻、柴胡。如不應，煎送六味丸。口燥作渴，小便頻數，腎水虧也，去三味，加五味子、山茱、山藥、熟地。如不應，兼用六味丸。四肢逆冷，腎氣虛寒也，去三味，加桂、附。如不應，佐以八味丸。食少體倦作渴，胃氣虛也，去三味，加參、耆、白朮。如不應，暫用補中益氣湯。體倦頭痛，或眩暈，中氣虛也，去三味，加柴胡、升麻。如不應，暫用補中益氣湯加蔓荊子。日晡頭痛，或眩暈，陰血虛也，去三味，加熟地黃。如不應，佐以六味丸。夢泄遺精，頭暈頭痛，或痰喘氣促，腎虛不能納氣也，去三味並川芎，佐以六味丸。如不應，是虛寒也，用八味丸。面目赤色，煩熱作渴，脈大而虛，血脫髮躁也，去三味，加黃耆、當歸。如不應，暫用當歸補血湯。身熱惡衣，欲投於水，脈沉微細，氣脫髮躁也，去三味，加肉桂、附子。如不應，暫用附子理中湯。善思體痛，無寐盜汗，脾血虛也，去三味，加茯苓、遠志、酸棗仁、圓眼肉。如不應，暫用歸脾湯。寢寐而汗出，腎氣虛也，去三味，加五味子，煎送六味丸。飲食而出汗，胃氣虛也，去三味，加參、耆、歸、朮、五味子。如不應，暫用六君子湯。睡覺飽而出盜汗，宿食也，去三味，加參、朮、半夏。如不應，暫用六君子湯。胸滿多痰，脾氣虛也，去三味，加桔梗、半夏。如不應，暫用六君子湯加桔梗、枳殼。晡熱多痰，脾血虛也，去三味，加歸、地、參、術。如不應，暫用六君子湯，加芎、歸、熟地。咳嗽唾痰，腎虧津液泛上也，去三味，加山茱、山藥、熟地。如不應，佐以六味丸。忿怒胸痞，肝氣滯也，去三味，加桔梗、山梔。如不應，暫用補中益氣湯，加桔梗、枳殼。倦怠胸痞，中氣虛也，去三味，加參、朮、茯苓。如不應，暫用八珍湯加柴胡。口苦，寒熱往來，肝火血虛也，去三味，加熟地、柴胡。因怒，寒熱往來，肝火血虛也，加柴胡、黃芩。如不應，暫用八珍湯，加炒山梔、炒酸棗仁、酒炒黑膽草。體倦寒熱往來，肝脾氣滯也，去三味，加參、耆、歸、術。如不應，暫用補中益氣湯。內熱晡熱，或寒熱往來，陰血虛也，去三味，加芎、歸、牡丹皮、柴胡。如不應，暫用八珍湯加牡丹皮。畏寒或寒熱往來，胃氣虛也，去三味，加參、苓、白朮、升麻。如不應，暫用補中益氣湯。脅痛痞滿，或寒熱往來，肝氣滯也，去三味，加青皮、木香。如不應，屬氣血虛也，更加芎、歸、參、術。若婦人勞役恚怒，或適經行，發熱譫語，或夜間熱甚，在血分也，去三味，加生地、丹皮、柴胡。如不應，暫用加味四物湯。若誤服克伐，或膿血大泄，或因吐瀉，或誤而入房，或勞損元氣，或夢泄遺精，或外邪乘入，以致發熱頭痛，小便淋澀，或滑數便血，目赤煩喘，氣短頭暈，體倦熱渴，意欲投水，身熱惡衣，揚手擲足，腰背反張，鄭聲自汗，此陽氣脫陷之假熱症也。若畏寒頭痛，咳逆嘔吐，耳聵目朦，小便自遺，瀉利腸鳴，裡急腹痛，玉莖短縮，齒浮痛，肢體麻痹，或厥冷身痛，或咬舌齧唇，此陽氣脫陷之真寒症也。凡此危候，勿論其脈，勿問其症，但見有其一二，亦去三味，急加桂、附補之，庶有復生之理。大抵用藥之法，當分元氣虛實，標本緩急。若病急而元氣實者，先治其標。病緩而元氣虛者，先治其本。若病急而元氣又虛者，當治其本為主，而兼以治標。東垣先生云：形氣有餘，病氣有餘，當瀉不當補。形氣不足，病氣不足，當補不當瀉。丹溪先生云：但見腫痛，參之脈症虛弱，便與滋補，氣血無虧，可保終吉。治者審焉！</p>

<h1>卷四</h1>

<h2>治瘡瘍各症附方</h2>
<p><u>托裡消毒散</u>　治胃氣虛弱。或因克伐，不能潰散，服之未成即消，已成即潰，腐肉自去，新肉自生。若腐肉既潰，而新肉不能收斂，屬氣虛者，四君子湯為主。屬血虛者，四物湯為主。氣血俱虛者，十全大補湯為主。並忌寒涼消毒之劑。</p>
<p>人參　黃耆（鹽水拌炒）　當歸（酒拌）　川芎　芍藥（炒）　白朮（炒）　茯苓（各一錢）　金銀花　白芷（各七分）　甘草（炙　五分）　連翹（五分）</p>
<p>上水煎服。</p>
<p><u>托裡散</u>　治瘡瘍。因氣血虛，不能起發腐潰收斂，及惡寒發熱者，宜用此補托。其屬六淫七情，或諸經錯雜之邪，而為患者，當各審其因，而參以主治之劑。其屬胃氣虛弱者，當以六君子湯為主。</p>
<p>人參（氣虛者多用之）　黃耆（炒，各二錢）　白朮（炒）　陳皮　當歸　熟地黃（自制）　茯苓　芍藥（酒炒，各一錢半）　上水煎服。</p>
<p><u>清熱消毒散</u>　治一切癰疽。陽症腫痛，發熱作渴。</p>
<p>黃連（炒）　山梔（炒）　連翹　當歸（各一錢）　川芎　芍藥　生地黃（各一錢半）　金銀花（二錢）　甘草（一錢）　上水煎服。</p>
<p><u>黃連消毒散</u>　治腦疽、背疽，腫焮疼痛或麻木。</p>
<p>黃連（制）　羌活（各一分）　黃芩　黃柏（各五分）　生地黃　知母（制）　獨活　防風　當歸尾連翹（各四分）　藁本　防己　桔梗（各五分）　黃耆　蘇木　陳皮　澤瀉（各二分）　人參　甘草（各三分）</p>
<p>上水煎服。</p>
<p><u>清涼飲</u>　治瘡瘍。煩躁飲冷，焮痛脈實，大便秘結，小便赤澀。</p>
<p>大黃（炒）　赤芍藥　當歸　甘草（各二錢）　上水煎服。</p>
<p><u>破棺丹</u>　治瘡瘍。熱極汗多，大渴便秘，譫語發狂。</p>
<p>大黃（二兩五錢，半生半熟）　芒硝　甘草（各二兩）</p>
<p>上為末，煉蜜丸，如彈子大，每服一丸，童便酒化下，白湯亦可。</p>
<p><u>黃連解毒湯</u>　治瘡瘍焮痛，煩躁飲冷，脈洪數，或發狂言。</p>
<p>黃芩　黃柏（炒）　黃連（炒）　山梔（各一錢五分）　水煎熱服。</p>
<p><u>內疏黃連湯</u>　治瘡瘍。發熱而嘔，大便秘結，脈洪而實。</p>
<p>黃連　芍藥　當歸　檳榔　木香　黃芩　梔子　薄荷　桔梗　甘草（各一錢）　連翹　大黃（各一錢五分）</p>
<p>每姜水煎，仍量虛實治之。</p>
<p><u>托裡榮衛湯</u>　治瘡瘍。外無焮瘇，內便調和，乃邪在經絡，宜用此藥。</p>
<p>黃耆　紅花（各一錢）　桂枝（七分）　蒼朮（米泔浸炒）　柴胡　連翹　羌活　防風　當歸身（酒拌）　甘草（炙）　黃芩　人參（各一錢）</p>
<p>上酒水煎服。</p>
<p><u>內托復煎散</u>　治瘡瘍瘇焮在外，其脈多浮，邪氣勝必侵於內，宜用此托之。</p>
<p>地骨皮　黃芩（炒）　茯苓　白芍藥（炒）　人參　黃耆（鹽水拌炒）　白朮（炒）　桂　甘草（炙）　防己（酒炒）　當歸（酒拌，各一錢）　防風（二錢）</p>
<p>上先以蒼朮一升，水五升煎，去朮入藥，再煎至二升，終日飲之。</p>
<p><u>人參敗毒散</u>　治瘡瘍。焮痛寒熱，或拘急頭痛，脈細有力。</p>
<p>人參　羌活　獨活　前胡　柴胡　桔梗　枳殼　茯苓　川芎　甘草（各一錢）</p>
<p>上水煎服。</p>
<p><u>仙方活命飲</u>　治一切瘡瘍。未成膿者內消，已成膿者即潰。又止痛消毒之聖藥也。</p>
<p>穿山甲（蛤粉炒黃）　白芷　防風　沒藥　甘草　赤芍藥　當歸尾　乳香　天花粉　貝母（各一錢）　金銀花　陳皮（各三錢）　皂角刺（一錢）</p>
<p>上酒一碗，煎數沸服。</p>
<p><u>清心湯</u>　治瘡瘍腫痛，發熱飲冷，脈沉實，睡語不寧。即防風通聖散，每料加黃連五錢，每劑一兩，水煎服。</p>
<p><u>奪命丹</u>　治疔瘡發背等症。或麻木，或嘔吐，重者昏憒，若疔毒牙關緊急，用三五丸為末，水調灌下，有奪命之功。</p>
<p>蟾酥（乾者酒化）　輕粉（各五分）　枯白礬　寒水石（煅）　銅綠　乳香　沒藥　麝香（各一錢）　硃砂（三錢）　蝸牛（二十個另研，無亦效）</p>
<p>上為末，用蝸牛或酒糊丸，綠豆大，每服二三丸，溫酒蔥湯下。</p>
<p><u>東垣聖愈湯</u>　治脾胃虧損，膿水不止；或金瘡出血，心煩不安，眠睡不寧，五心煩熱，飲食少思。</p>
<p>地黃（酒拌蒸半日）　生地黃（酒拌）　川芎　人參（各五分）　當歸（酒拌）　黃耆（鹽水浸炒，各一錢）</p>
<p>上水煎服。</p>
<p><u>濟陰湯</u>　治瘡屬純陽，腫痛發熱。</p>
<p>連翹　山梔（炒）　黃芩（炒）　黃連（炒，各一錢）　芍藥（一錢五分）　金銀花（三錢）　甘草（一錢）　牡丹皮（一錢二分）</p>
<p>上水煎服。大便秘，量加大黃。</p>
<p><u>抑揚散</u>　治瘡屬純陽，腫痛發熱。</p>
<p>天花粉（三兩）　薑黃　白芷　赤芍藥（各一兩）</p>
<p>上為末，茶湯調搽患處。</p>
<p><u>沖和湯</u>　治瘡屬半陰半陽，似潰非潰，似腫非腫。此因元氣虛弱，失於補托所致。</p>
<p>人參（二錢）　黃耆　白朮　當歸　白芷（各一錢半）　茯苓　川芎　皂角刺（炒）　乳香　沒藥（各一錢）　金銀花（一錢）　陳皮（二錢）　甘草節（一錢）</p>
<p>上水酒各半煎服。</p>
<p><u>陰陽散</u>　治瘡屬半陰半陽。</p>
<p>紫荊皮（炒，五兩）　獨活（去節炒，一兩）　赤芍藥（炒，二兩）　白芷（二兩）　石菖蒲（二兩）</p>
<p>上為末，蔥酒調搽。</p>
<p><u>回陽湯</u>　治脾腎虛寒，瘡屬純陰。或藥損元氣，不腫痛，不腐潰；或腹痛泄瀉，嘔吐厥逆，或陽脫陷等症。</p>
<p>乾薑（炮）　附子（炮，各二錢）　人參　白朮　黃耆（各三錢）　當歸　陳皮　甘草（炙，各二錢）　柴胡　升麻（各五分）</p>
<p>上酒水煎服，不應，薑、附倍之。</p>
<p><u>抑陰散</u>　治瘡瘍元氣虛寒，焮腫不消，或不潰斂，或筋攣骨痛，一切冷症。</p>
<p>草烏（二兩）　赤芍藥（一兩炒）　肉桂（五錢）　南星（一兩煨）　白芷（一兩）</p>
<p>上為末，蔥湯調塗，熱酒亦可。</p>
<p><u>托裡溫中湯</u>　治瘡瘍膿潰，元氣虛寒，或因克伐胃氣脫陷，腸鳴腹痛，大便溏泄，神思昏憒，此寒變內陷，緩則不治。</p>
<p>羌活　附子（炮、去皮臍，四錢）　乾薑（炒、三錢）　益智　丁香　沉香　木香　茴香　陳皮（各一錢）　甘草（炙，一錢）</p>
<p>上姜水煎服。</p>
<p><u>附子理中湯</u>　治瘡瘍脾胃虛寒，或誤行攻伐，手足厥冷，飲食不入，腸鳴腹痛，嘔逆吐瀉。</p>
<p>附子　人參　白茯苓　白芍藥（各三錢）　白朮（四錢）</p>
<p>上水煎服。</p>
<p><u>姜附湯</u>　治瘡瘍真氣虧損，或誤行汗下，或膿血出多，失於補托，以致上氣喘急，自汗盜汗，氣短頭暈。</p>
<p>人參　附子（炮，去皮臍一兩）　乾薑（炮）　白朮（各五錢）</p>
<p>上作二劑，水煎服。</p>
<p><u>參附湯</u>　治失血過多；或膿瘀大泄，或寒涼汗下，真陽脫陷，上氣喘急，自汗盜汗，氣短頭暈等症。急服以救元氣，緩則不治。</p>
<p>人參　附子（炮，去皮臍，各五錢）</p>
<p>上姜五片，水煎服，不應，倍之。</p>
<p><u>獨參湯</u>　治一切失血，或膿水出多，血氣俱虛，惡寒發熱作渴煩躁。蓋血生於氣，故血脫補氣，陽生陰長之理也。用人參二兩、棗十枚、姜十片，水煎，徐徐服。</p>
<p><u>人參理中湯</u>　治瘡瘍脾胃虛寒，嘔吐泄瀉，飲食少思，肚腹作脹，或胸膈虛痞。</p>
<p>白朮　人參　乾薑　甘草（炙，各等分）</p>
<p>上薑棗水煎服。</p>
<p><u>竹葉黃耆湯</u>　治癰疽氣血虛，胃火盛而作渴。</p>
<p>淡竹葉（二錢）　黃耆　麥門　當歸　川芎　甘草　黃芩（炒）　芍藥　人參　半夏　石膏（煅，各一錢）　生地黃（二錢）</p>
<p>上每服三五錢，水煎服。</p>
<p><u>竹葉石膏湯</u>　治癰疽胃火盛，腫痛作渴。</p>
<p>淡竹葉　石膏（煅）　桔梗　木通　薄荷　甘草（各一錢）</p>
<p>上姜水煎服。</p>
<p><u>當歸川芎散</u>　治手足少陽經血虛瘡症，或風熱。耳內癢痛，生瘡出水，或頭目不清，寒熱少食，或婦女經水不調，胸膈不利，脅腹痞痛。</p>
<p>當歸　川芎　柴胡　白朮　芍藥（各一錢）　山梔（炒，一錢二分）　牡丹皮　茯苓（各八分）　蔓荊子　甘草（各五分）</p>
<p>上水煎服。</p>
<p>若肝氣不平，寒熱，加地骨皮。肝氣實，加柴胡、黃芩。氣血虛，加參、耆、歸、地。脾虛飲食少思，加苓、術。脾虛胸膈不利，加參、耆。痰滯胸膈不利，加朮、半。肝氣不順，胸膈不利，或小腹痞滿，或時攻痛，加青皮。肝血不足，胸膈不利，或小腹痞滿，或時作痛，加熟地。肝血虛寒，小腹時痛，加肉桂。日晡發熱，加歸、地。</p>
<p><u>梔子清肝散</u>（一名柴胡梔子散）　治三焦及足少陽經風熱。耳內作癢生瘡，或出水疼痛，或胸乳間作痛，或寒熱往來。</p>
<p>柴胡　梔子（炒）　牡丹皮（各一錢）　茯苓　川芎　芍藥　當歸　牛蒡子（炒，各七分）　甘草（五分）</p>
<p>上水煎服。若太陽頭痛，加羌活。</p>
<p><u>柴胡清肝散</u>　治鬢疽及肝膽三焦風熱怒火之症，或項胸作痛，或瘡毒發熱。</p>
<p>柴胡（一錢五分）　黃芩（炒，一錢）　人參（一錢）　山梔（炒，一錢五分）　川芎（一錢）　連翹　桔梗（八分）　甘草（五分）</p>
<p>上水煎服。</p>
<p><u>小柴胡湯</u>　治肝膽經症。風熱瘰癧結核，或腫痛色赤，或寒熱往來，或日晡發熱，或潮濕身熱，默默不欲飲食，或怒火口苦，耳聾咳嗽，或吐酸食苦水，皆用此藥。</p>
<p>柴胡（二錢）　黃芩（一錢）　人參　半夏（各七分）　甘草（炙，五分）</p>
<p>上姜水煎服。</p>
<p><u>補陰八珍湯</u>　治瘰癧等瘡，屬足三陰虛者。</p>
<p>當歸　川芎　熟地　芍藥　人參　白朮　茯苓　甘草　黃柏（酒炒黑）　知母（酒炒，各七分）</p>
<p>上水煎服。</p>
<p><u>瀉青丸</u>　治肝經實熱。瘰癧腫痛，寒熱，或脅乳作痛，大便秘結。</p>
<p>當歸　龍膽草（酒炒）　川芎　山梔　大黃（炒）　羌活　防風（各等分）</p>
<p>上為末，蜜丸，雞頭子大，每服一二丸，白湯送下。</p>
<p>若血虛者，四物加山梔、柴胡，或逍遙散。若腎水虧損，不能生肝木而自病，筋攣結核，或肢節拳攣，或似中風，宜用六味丸加五味子。</p>
<p><u>散腫潰堅湯</u>　治瘰癧堅硬，氣血無虧，宜用之。</p>
<p>柴胡（四分）　升麻（三分）　龍膽草（酒炒，五分）　連翹（三分）　黃芩（酒炒，四分）　甘草（炙，二分）　桔梗（五分）　昆布（五分）　當歸尾（酒拌）　白芍藥（炒，各三分）　黃柏（酒炒，三分）　知母（酒炒，五分）　葛根　三稜（酒拌微炒）　廣木香（各三分）　栝蔞根（五分）</p>
<p>上水煎服。</p>
<p><u>益氣養榮湯</u>　治懷抱抑鬱，或氣血損傷，四肢頸項等處患腫，不問軟硬赤白腫痛，或潰而不斂。</p>
<p>人參　茯苓　陳皮　貝母　香附　當歸（酒拌）　川芎　黃耆（鹽水拌炒）　熟地黃（酒拌）芍藥（炒，各一錢）　甘草（炙）　桔梗（各五分）　白朮（炒，二錢）　柴胡（六分）</p>
<p>上姜水煎服。</p>
<p><u>必效散</u>　治瘰癧。氣血雖無虧損，內有癧核未去，而不能愈。</p>
<p>南硼砂（二錢五分）　輕粉（一錢）　麝香（五分）　巴豆（五個去皮心膜）　白檳榔（一個）　斑蝥（四十個去頭翅，同糯米炒）</p>
<p>上同研極細末，取雞子二個去黃，用清調藥，仍入殼內，以濕紙數重餬口，入飯甑候熟取出，曝乾研末。虛者每服半錢，實者一錢，用炒生薑酒五更初調服，如覺小腹痛，用益元散一服，其毒俱從小便出。胎婦勿餌。毒去後多服益氣養榮湯，瘡口自合。</p>
<p><u>針頭散</u>　治一切頑瘡內有瘀肉，癧核不化，瘡口不合，宜用此藥腐之。</p>
<p>赤石脂（五錢）　乳香　白丁香（各三錢）　白砒（一錢）　黃丹（一錢）　輕粉　麝香（各五分）　蜈蚣（一條炙乾）</p>
<p>上為末，搽瘀肉上，其肉自腐。若瘡口小，或痔瘡，用糊和作條子，陰乾紝之。凡瘡久不合者，內有膿管，須用此腐之，內服托裡之劑。</p>
<p><u>神仙隔蒜灸法</u>　治一切癰疽腫毒，前論言之詳矣。凡大痛或不痛，或麻木痛者，灸至不痛，不痛灸至痛，其毒隨火而散，此拔引郁毒從治之法也，信有回生之功。其法：用大蒜頭切三分厚，安瘡頭上，用艾炷於蒜上灸之，五炷換蒜再灸，未成即消，已成殺其大勢；瘡患大，以蒜杵爛攤患處，將艾鋪蒜上灸之，蒜敗再換。瘡色紫或白而不起發，不作膿，不大痛，不問日期，最宜多灸。</p>
<p><u>神效蔥熨法</u>　治流注、結核、骨癰、鶴膝等症。腫硬，或先以隔蒜灸，而余腫未消，最宜用熨以助氣血，而行壅滯，其功甚大。又為跌撲傷損，止痛散血消腫之良法，用蔥白頭搗爛炒熱，頻熨患處，冷再換。</p>
<p><u>神效桑枝灸</u>　治發背不起，或瘀肉不潰。此陽氣虛弱，用桑枝燃火，著吹熄焰，用火灸患處片時，日三五灸，以消腫潰。若腐肉已去，新肉生遲，宜灸四畔。其陰瘡、瘰癧、流注、臁瘡、惡瘡久不愈者，亦宜用之。大抵此法，未潰則解熱毒、止疼痛、消瘀腫；已潰則補陽氣、散餘毒、生肌肉。其陽症腫痛甚，或重如負石，初起用此法，出毒水，即內消；其日久者用之，雖潰亦淺，且無苦楚。惜患者不知有此，治者亦不肯用此也。</p>
<p><u>烏金膏</u>　治發背中央肉死　塗之即腐；未死，塗之即生。若初起腫痛，用點數處，其毒頓消，若肉腐塗之即潰。若惡瘡頑瘡，元氣無虧，久不收斂者，內有毒根，以紙燃蘸紝其內。有等發背，因元氣虛弱，或因克伐元氣，胃氣虧損，毒氣散漫，中黯外赤，不腐不潰，服大補之劑，中塗三四寸許，至五六日間，赤黯之界，自有裂紋，如刀劃之狀，中央漸潰漸脫，須用純陽之藥，以接其元氣，庶能收斂。若妄用刀針去肉出血，陽隨陰散，元氣愈傷。或塗涼藥，則毒氣不解，氣血愈虛，非徒無益，而又害之。其方用巴豆一味，去殼炒黑研如膏，點於患處，臨用合之。以上三法，雖不出於方書，余推其意而制，用之良有奇驗。</p>
<p><u>砭法</u>　治丹毒疔瘡，紅絲走散，或時毒瘀血壅盛。用細瓷器擊碎，取有鋒芒者一塊，以箸一根劈開頭尖夾之，用線縛定，兩手指輕撮箸，稍令磁芒正對患處懸寸許，再用箸一根，頻擊箸頭，令毒血遇刺皆出毒。入腹膨脹者難治。</p>
<p><u>豆豉餅</u>　治瘡瘍腫痛，硬而不潰，及潰而不斂，並一切頑瘡惡瘡。用江西豆豉餅為末。唾津和作餅子，如錢大，厚如三文，置患處，以艾壯於餅上灸之，干即易之。如背瘡，用漱口水調作餅，覆患處，以艾鋪餅上灸之，如未成者即消，已成者亦殺其大毒。如有不效，氣血虛敗也。</p>
<p><u>乳香定痛散</u>　治一切瘡瘍，潰爛疼痛。</p>
<p>乳香　沒藥（各五錢）　滑石一兩　寒水石（一兩）　冰片（一錢）</p>
<p>上為細末，搽患處，痛即止，甚效。</p>
<p><u>青龍湯</u>　治肺受風寒，咳嗽喘急。</p>
<p>半夏（湯泡七次，二兩五錢）　乾薑（炮）　細辛　麻黃（去節）　肉桂　芍藥　甘草（炙，各三兩）　五味（二兩拌炒）</p>
<p>上每服五錢，姜水煎服。</p>
<p><u>葶藶大棗瀉肺湯</u>　治肺症。胸膈脹滿，上氣喘急，或身面浮腫，鼻塞聲重。用甜葶藶炒黃色研末，每服三錢，棗十枚，水二鍾，煎一鍾去棗入藥，再煎七分，食後服。</p>
<p><u>桔梗湯</u>　治肺症。咳嗽胸膈兩脅作痛，咽乾口燥，煩悶作渴，時出臭濁。</p>
<p>桔梗（炒）　貝母（去心）　當歸（酒浸）　栝蔞仁　枳殼（麩炒）　薏苡仁　桑白皮（炒）　甘草節　防己（去皮，各一錢）　黃耆（鹽水拌炒）　五味子（搗炒）　百合（蒸，各一錢五分）　葶藶（炒）　地骨皮　知母（炒）　杏仁（各五分）</p>
<p>上姜水煎服。</p>
<p><u>人參補肺湯</u>　治肺症。咳喘短氣，或腎水不足，虛火上炎，痰涎湧盛，或吐膿血，發熱作渴，小便短澀。</p>
<p>人參　黃耆　白朮　茯苓　陳皮　當歸（各一錢）　山茱萸肉　山藥（各二錢）　五味子（五分）　麥門（七分）　甘草（炙，五分）　熟地（自制，一錢半）　牡丹皮（八分）</p>
<p>上薑棗水煎服。</p>
<p><u>人參平肺散</u>　治心火克肺，傳為疽痿。咳嗽喘嘔，痰涎壅盛，胸膈痞滿，咽嗌不利。若因肝木太過而致，當補肺；若因腎水不足而患，當補脾肺；若因心火旺而自病，當利小便。</p>
<p>人參　陳皮　甘草　地骨皮　茯苓（各二錢）　知母（炒，七分）　五味子（拌炒，四分）　青皮　天門冬（去心，各四分）　桑白皮（炒，一錢）</p>
<p>上水煎服。</p>
<p><u>參耆補脾湯</u>　治肺疽。脾氣虧損，久咳吐膿涎，或中滿不食，必服此藥。補脾土以生肺金，否則不治。</p>
<p>人參　白朮（各二錢）　黃耆（二錢五分）　茯苓　陳皮　當歸（各一錢）　升麻（三分）　麥門冬（七分）　五味子（四分）　桔梗（六分）　甘草（炙，五分）</p>
<p>上薑棗水煎服。</p>
<p><u>射干湯</u>　治胃癰吐膿血。</p>
<p>射干（去毛）　山梔仁　赤茯苓　升麻（各一錢）　赤芍藥（一錢五分）　白朮（五分）　上水煎服。</p>
<p><u>薏苡仁湯</u>　治風熱。唇口瞤動，或結核，或浮腫</p>
<p>薏苡仁（炒）　防己　赤小豆　甘草（炙，各等分）</p>
<p>上水煎服。</p>
<p><u>栝子仁湯</u>　治產後惡露，或經行瘀血作痛</p>
<p>薏苡仁（四錢）　桃仁（去皮）　牡丹皮　栝蔞仁（各一錢）　上水煎服。</p>
<p><u>梅仁湯</u>　治腸癰壅痛，大便秘澀。</p>
<p>梅仁（九個，去皮尖）　大黃（炒）　牡丹皮　芒硝（各一錢）　冬瓜仁（研，三錢）　犀角（鎊末，一錢）</p>
<p>上水煎入犀末服。</p>
<p><u>大黃湯</u>　治腸癰。小腹堅腫，按之則痛，肉色如故，或焮赤微腫，小便頻數，汗出憎寒，脈遲緊，膿未成，急服之。</p>
<p>大黃（炒）　朴硝（各一錢）　牡丹皮　栝蔞仁（炒）　桃仁（去皮尖，各二錢）　上水煎服。</p>
<p><u>牡丹皮散</u>　治腸癰。腹濡而痛，時下膿。</p>
<p>牡丹皮　人參　天麻　白茯苓　黃耆（炒）　薏苡仁　桃仁（去皮尖）　白芷　當歸（酒拌）川芎（各一錢）　官桂　甘草（炙，五分）　木香（三分）</p>
<p>上水煎服。</p>
<p><u>失笑散</u>　治跌撲、產後心腹絞痛，或不知人事，或經行瘀血，作痛成癰。</p>
<p>靈脂　蒲黃（俱炒，等分）</p>
<p>上每服二三錢，酒水煎熱服。</p>
<p><u>防風湯</u>　治破傷風表症，未傳入里，急服此。</p>
<p>防風　羌活　獨活　川芎（各等分）　上每服五錢，水煎，調蜈蚣散服。</p>
<p><u>蜈蚣散</u></p>
<p>蜈蚣（一對，炙）　鰾（三錢，煅）</p>
<p><u>羌活湯</u>　治破傷風在半表半裡間，宜和解，急服此湯，稍緩則邪入於裡，不可用矣。</p>
<p>羌活　菊花　麻黃　川芎　石膏　防風　前胡　黃芩　細辛　甘草　枳殼　白茯苓　蔓荊子（各一兩）　蒲荷　白芷（各五錢）</p>
<p>上每服五錢，姜水煎，日二三服。</p>
<p><u>大芎黃湯</u>　治破傷風邪傳於裡，舌強口噤，項背反張，筋惕搐搦，痰涎壅盛，宜急服之。</p>
<p>川芎　羌活　黃芩　大黃（各一兩）</p>
<p>上每服五七錢，水煎服。</p>
<p><u>白朮防風湯</u>　治破傷風，服表藥過多而自汗者。</p>
<p>白朮　黃耆（各一兩）　防風（二兩）</p>
<p>上每服五七錢，水煎服。臟腑和而自汗者，可服此藥。若臟腑秘小便赤而自汗者，急以大芎黃湯下之。</p>
<p><u>六味丸</u>（一名六味地黃丸）</p>
<p>此壯水之劑。夫人之生，以腎為主，凡病皆由腎虛而致。此方乃天一生水之劑，無有不可用者，世所罕知。若腎虛發熱作渴，小便淋秘，痰氣壅盛，咳嗽吐血，頭目眩暈，小便短小，眼花耳聾，咽喉燥痛，口舌瘡裂，齒不堅固，腰腿痿軟，五臟齊損，肝經不足之症，尤當用之，水能生木故也。若腎虛發熱，自汗盜汗，便血，諸血失喑，水泛為痰之聖藥，血虛發熱之神劑也。</p>
<p>熟地黃（用生者自制，八兩）　山茱萸（去核酒浸蒸）　山藥（各四兩）　牡丹皮　茯苓（去皮）　澤瀉（各三兩，蒸）</p>
<p>上地黃杵膏，余為末，蜜丸桐子大，每服七八十丸，滾湯下。</p>
<p><u>八味丸</u>　治命門火衰，不能生土，以致脾土虛寒，而患流注、鶴膝等症，不能消潰收斂，或飲食少思，或食而不化，臍腹疼痛，夜多漩溺。即前方加肉桂、附子各一兩。經云：「益火之源，以消陰翳。」即此方也。</p>
<p><u>加減八味丸</u>　治症同上。即六味地黃丸加肉桂、五味子各一兩。</p>
<p><u>八珍湯</u>　治脾胃傷損，惡寒發熱，煩躁作渴。或瘡瘍潰後，氣血虧損，膿水清稀，久不能愈。即四君四物合方。</p>
<p><u>十全大補湯</u>　治瘡瘍。氣血虛弱，腫痛不愈，或潰瘍膿清，寒熱自汗盜汗，食少體倦，發熱作渴，頭痛眩暈，似中風狀。即八珍湯加黃耆、肉桂。</p>
<p><u>補中益氣湯</u>　治元氣虛損。或因克伐惡寒發熱，肢體倦怠，飲食少思；或不能起發，消散生肌收斂；或兼飲食勞倦，頭痛身熱，煩躁作渴；脈洪大弦虛，或微細軟弱。</p>
<p>黃耆　人參　白朮　甘草（炙，各一錢五分）　當歸（一錢）　陳皮（五分）　升麻　柴胡（各三分）</p>
<p>上薑、棗水煎，空心午前服。</p>
<p><u>生脈散</u>　治胃氣虧損，陰火上衝，口乾喘促，或肢體倦怠，肌肉消瘦，面色痿黃，汲汲短氣，汗出不止，食少作渴；或膿水出多，氣血俱虛，煩躁不安，睡臥不寧；或濕熱大行，火土合病，脾胃虛弱，身重氣短；或金為火制，絕寒水生化之源，肢體痿軟，腳欹眼黑等症。</p>
<p>人參（五錢）　麥門冬（二錢）　五味子（一錢）</p>
<p>上水煎服。如不應，倍之。</p>
<p><u>人參養榮湯</u>　治脾胃虧損，氣血俱虛，發熱惡寒，四肢倦怠，肌肉消瘦，面色痿黃，汲汲短氣，食少作渴。凡大病後，最宜用此。</p>
<p>白芍藥（炒，一錢半）　人參　陳皮　黃耆（蜜炙）　桂心　當歸　白朮　甘草（炙，各一錢）　熟地黃　五味子（炒，杵）　茯苓（各七分半）　遠志（五分）</p>
<p>上薑、棗水煎服。</p>
<p><u>四君子湯</u>　治脾胃虛弱，或因克伐腫痛不散，潰斂不能，宜用此以補脾胃，諸症自愈。若誤用攻毒，七惡隨至，脾胃虛弱，飲食少思，或食而難化，或欲作嘔，或大便不實；若脾胃氣虛，瘡口出血，吐血便血，尤宜用之，蓋氣能攝血故也。凡氣血俱虛之症，宜於前湯，但加當歸，脾胃即旺，飲食自進，陰血自生。若用四物湯，沉陰之劑，脾胃復傷，諸症蜂起。若命門火衰而脾土虛寒，必用八味丸，以補土母。</p>
<p>人參　白朮　茯苓（各二錢）　甘草（炙一錢）</p>
<p>上薑棗水煎服。</p>
<p><u>六君子湯</u>　治脾胃虛弱，或寒涼克伐，腫痛不消，或不潰斂，宜服此湯，以壯營氣，諸症自愈。即前方加陳皮、半夏。</p>
<p><u>異功散</u>　治脾胃虛弱，飲食少思。即四君子湯加陳皮。</p>
<p><u>四物湯</u>　治血虛發熱，或因失血，或因克伐，或因潰後，致晡熱內熱，煩躁不安，皆宜服之。經云：血生於脾。若脾虛不能生血者，宜用四君子加當歸、酒炒白朮以補脾。</p>
<p>當歸　熟地黃（各三錢）　芍藥（二錢）　川芎（一錢五分）　上水煎服。</p>
<p><u>歸脾湯</u>　治憂思傷脾，血虛發熱，食少體倦；或脾不能攝血，以致妄行吐下；或健忘怔忡，驚悸少寐；或心脾作痛，自汗盜汗；或肢體腫痛，大便不調；或婦人經候不準，晡熱內熱；或唇瘡流注等症，不能消散潰斂。</p>
<p>白朮　白茯苓　黃耆（炒）　當歸　龍眼肉　遠志　酸棗仁（炒，各一錢）　木香（五分）　甘草（炙，三分）　人參（一錢）</p>
<p>上薑、棗水煎服。</p>
<p><u>當歸補血湯</u>　治脾胃損傷，或服峻劑，致血氣俱虛，肌熱大渴引飲，目赤面紅，晝夜不息。其脈洪大而虛，重按全無。此病多得於飢飽勞役者，若誤服白虎湯必死。</p>
<p>當歸（三錢）　黃耆（炙一兩）</p>
<p>上水煎服。</p>
<p><u>六一湯</u></p>
<p>黃耆（炙，六錢）　甘草（炙，一錢）</p>
<p>上水煎服。</p>
<p><u>加味逍遙散</u>　治肝脾血虛，內熱發熱；或遍身瘙癢寒熱；或肢體作痛，頭目昏重；或怔仲頰赤，口燥咽乾；或發熱盜汗，食少不寐；或口舌生瘡，耳內作痛；或胸乳腹脹，小便欠利。</p>
<p>甘草（炙）　當歸　芍藥（酒炒）　茯苓　白朮（炒）　柴胡（各一錢）　牡丹皮　山梔（炒，各七分）</p>
<p>上水煎服。</p>
<p><u>黃芩清肺湯</u>　治肺經陰虛火燥，而小便不通。若因脾經有熱，當清其脾；若因心火克肺，當制其心。</p>
<p>黃芩（一錢）　梔子（三個打碎）</p>
<p>上水煎服。</p>
<p><u>滋腎丸</u>　治腎經陰虛，發熱作渴，便赤，足熱腿軟等症。凡不渴而小便秘熱，在下焦血分也，最宜此藥。經云：無陰則陽無以化。若脾肺燥熱所遺，當滋其化源。</p>
<p>知母　黃柏（各酒炒，一兩）　肉桂（二錢）</p>
<p>上為末，水丸桐子大，每服百丸，空心白滾湯下。</p>
<p><u>五苓散</u>　治下部濕熱瘡毒，小便赤少。</p>
<p>澤瀉　豬苓　肉桂　白朮　赤茯苓（各等分）</p>
<p>上為細末，每服一二錢，熱湯調下。</p>
<p><u>犀角地黃丸</u>　治胃火血熱，妄行吐衄，或大便下血者。</p>
<p>犀角（鎊末）　生地黃　赤芍藥　牡丹皮（各一錢半）　升麻　黃芩（炒，各一錢）</p>
<p>上水煎熟，入犀末服。</p>
<p>若因怒而致，加山梔、柴胡。若脾氣虛而不能攝，用歸脾湯。若肝脾火動而妄行，用加味逍遙散。若脾氣虛而不能統，用補中益氣湯加炮黑乾薑。若血虛有火而妄行，用四物加炮姜。若腎經虛火而血妄行，用六味丸料；不應，急加肉桂，以引虛火歸源。</p>
<p><u>清胃散</u>　治膏粱積熱，唇口腫痛，齒齦潰爛，焮痛連頭面，或惡寒發熱。</p>
<p>升麻（二錢）　生地黃　牡丹皮　黃連　當歸（酒洗，各一錢）</p>
<p>上水煎服。痛未止，石膏之類可量加。</p>
<p><u>潤腸丸</u>　治脾胃伏火，大腸乾燥，或風熱血結，宜用此丸通之。若結在直腸，宜豬膽汁導之。蓋腎主五液，開竅於二陰，若津液滋潤，大便通調；若津液不足，脾氣虧損，必當培補，猶忌前藥。</p>
<p>麻子仁　桃仁（去皮尖，各一兩）　羌活　歸尾　大黃（煨）　皂角刺　秦艽（各五錢）</p>
<p>上各另研為末，煉蜜或豬膽汁丸，桐子大，每服三四十丸，白湯下。若用豬膽汁導之，而不結燥，急補元氣。</p>
<p><u>四神丸</u>　治脾腎虛弱，大便不實，飲食少思；或小腹作痛，或產後泄瀉，肚腹作痛，不思飲食。</p>
<p>肉豆蔻　五味子（各一兩）　補骨脂（四兩）　吳茱萸（浸炒，一兩）</p>
<p>上為末，水二碗，姜八兩、紅棗一百枚，煮熟取棗肉和末丸，桐子大，每服五七十丸，空心食前白湯下。</p>
<p><u>二神丸</u>　治脾腎虛寒　不思飲食，或侵晨五更泄瀉，或飲食少思，大便不實，其功甚效。如不應，乃命門火衰，急用八味丸，補火而生土。</p>
<p>破故紙（四兩，炒）　肉豆蔻（二兩，生用）</p>
<p>上為末，用大紅棗四十枚、生薑四兩，水煮熟，去姜取棗肉和藥丸，桐子大，每服五十丸，空心鹽湯送下。</p>
<p><u>越鞠丸</u>　治六郁。牙齒作痛，口舌生瘡，或胸膈痞滿，嘔吐吞酸，或腹脹腿痠等症。</p>
<p>蒼朮（炒）　神麯（炒）　香附　山楂　山梔（炒）　撫芎　麥芽（炒，各等分）</p>
<p>上為末，水調麴櫱麵糊丸，桐子大，每服七十丸，白湯下。</p>
<p><u>二陳湯</u>　治脾虛，中脘停痰，嘔吐噁心，或頭目不清，飲食少思等症。</p>
<p>陳皮　半夏　茯苓（各一錢）　甘草（炙五分）</p>
<p>上姜水煎。</p>
<p>錢氏白朮散　治胃氣虛　或因克伐，或因吐瀉，口乾作渴，飲食少思。</p>
<p>藿香　白朮（炒）　木香　白茯苓　甘草（炒）　人參（各一錢）　乾葛（二錢）</p>
<p>上水煎服。</p>
<p><u>生地黃丸</u>　治師尼寡婦室女，乍寒乍熱，而患瘡瘍等症，肝脈弦長而出魚際。</p>
<p>生地黃（一兩，酒拌杵膏）　秦艽　黃芩　硬柴胡（各五錢）　赤芍藥（一兩）</p>
<p>上為末，入地黃膏，加煉蜜少許，丸桐子大，每服三十丸，烏梅煎湯下，日進二服。</p>
<p><u>加味地黃丸</u>　治肝腎陰虛瘡症，或耳內癢痛出水，或眼昏痰氣喘嗽，或作渴發熱，小便赤澀等症。</p>
<p>乾山藥　山茱萸　牡丹皮　澤瀉　白茯苓　熟地黃　柴胡　五味（各另為末，等分）</p>
<p>上將熟地黃掏碎，酒拌濕杵膏，入前末和勻，加煉蜜為丸，桐子大，每服百丸，空心白湯送下，不應，用加減八味丸。</p>
<p><u>琥珀膏</u>　治頸項瘰癧，及脅下，初如梅子，腫結硬強，漸如連珠，不消不潰，或潰而膿水不絕，經久不瘥，漸成漏症。</p>
<p>琥珀（一兩）　木通　桂心　當歸　白芷　防風　松脂　硃砂（研）　木鱉子（肉，各五錢）麻油（二斤）　丁香　木香（各二錢）</p>
<p>上先用琥珀、丁香、桂心、硃砂、木香為末，其餘藥入油內，煎黑濾去粗，徐徐入黃丹，再煎軟硬得中，即成膏矣。</p>
<p><u>人參黃耆湯</u>　治潰瘍，飲食少思，無睡發熱。</p>
<p>人參　麥門冬　陳皮　白朮　蒼朮（各五分）　黃耆（一錢）　黃柏（炒，四分）　升麻　歸身（各五分）</p>
<p>上水煎服。</p>
<p><u>托裡當歸湯</u>　治潰瘍氣血俱虛，瘡口不斂；或晡熱內熱，寒熱往來；或婦人諸瘡，經候不調，小便頻數，大便不實等症。</p>
<p>當歸　黃耆　人參　熟地黃　川芎　芍藥（各一錢）　柴胡　甘草（各五分）</p>
<p>上水煎服。</p>
<p><u>人參內托散</u>　治瘡瘍潰膿而作痛者。</p>
<p>人參　黃耆　當歸　川芎　厚朴　防風　白芷　桔梗　官桂　紫草　木香　甘草</p>
<p>上入糯米一撮，水煎服。</p>
<p><u>藿香正氣散</u>　治外感風寒，內停飲食，頭疼寒熱；或霍亂泄瀉，或作瘧疾等症。</p>
<p>桔梗　大腹皮　紫蘇　茯苓　白芷　半夏　陳皮　白朮　厚朴（各一錢）　炙甘草（五分）藿香（一錢五分）</p>
<p>上薑、棗水煎服。</p>
<p><u>升陽除濕湯</u>　治脾胃虛弱，不思飲食，腸鳴腹痛，泄瀉無度，小便赤黃，四肢困倦。</p>
<p>甘草　麥芽　陳皮　豬苓（各三分）　澤瀉　益智仁　半夏　防風　神麯　升麻　柴胡　羌活（各五分）　蒼朮（一錢）　白朮（二錢）　茯苓（七分）</p>
<p>上薑、棗水煎服。</p>
<p><u>十宣散</u>　治瘡瘍脈緩澀，體倦惡寒，或脈浮緊細，用之以散風助陽氣也。</p>
<p>人參　當歸　黃耆　桔梗　炙草　白芷　川芎（各一錢）　厚朴　防風　肉桂（各五分）</p>
<p>上水煎服。</p>
<p><u>參朮膏</u>　治中氣虛弱，諸藥不應，或因用藥失宜，耗傷元氣，虛症蜂起。但用此藥，補其中氣，諸症自愈。</p>
<p>人參　白朮（各等分）</p>
<p>上水煎稠湯化服之。</p>
<p><u>清燥湯</u>　治元氣虛弱，濕熱乘之，肢體痠軟；或頭目眩暈，飲食少思，口乾作渴；或自汗盜汗，胸滿氣促，小便赤少，大便不調等症。</p>
<p>黃耆（一錢五分）　五味子（九粒）　黃連（二分）　蒼朮　白朮　麥門冬　生地黃　陳皮　澤瀉（各五分）　茯苓　人參（去蘆）　當歸（酒洗）　升麻（各三分）　神麯（炒）　豬苓　柴胡　炙草（各二分）　黃柏（酒炒，三分）</p>
<p>上水煎服。</p>
<p><u>補真丸</u>　治真陰虧損諸症。</p>
<p>肉蓯蓉（酒浸焙乾）　葫蘆巴（炒）　附子　陽起石　五味子　菟絲子（洗淨酒浸）　肉豆蔻川烏　沉香　鹿茸（酒浸炒）　巴戟天（去心）　鍾乳粉（各一兩半）</p>
<p>上為末，用羊腰子兩對，治如食法，酒煮搗爛，入酒糊丸，如梧桐子。每服七十丸，空心米飲、鹽湯任下。</p>
<p><u>托裡健中湯</u>　治瘡瘍元氣素虛，或因涼藥傷胃，飲食少思，或作嘔瀉等症。</p>
<p>人參　白朮　茯苓（各二錢）　半夏　炮姜（各一錢）　炙草（五分）　黃耆（一錢五分）　肉桂（三分）</p>
<p>上薑、棗水煎服。</p>
<p><u>托裡益中湯</u>　治中氣虛弱，飲食少思，或瘡不消散，或潰而不斂。</p>
<p>人參　白朮　陳皮　半夏　茯苓　炮姜（各一錢）　木香　炙草（各五分）</p>
<p>上薑、棗水煎服。</p>
<p><u>托裡益青湯</u>　治脾土虛弱，肝木所侮，以致飲食少思，或胸膈不利等症。</p>
<p>人參　白朮　茯苓　半夏（各一錢）　芍藥　柴胡（各五分）　陳皮（一錢）　甘草（五分）</p>
<p>上薑、棗水煎服。</p>
<p><u>托裡清中湯</u>　治脾胃虛弱，痰氣不清，飲食少思等症。</p>
<p>人參　白朮　陳皮　茯苓（各一錢）　半夏（八分）　桔梗（七分）　甘草（五分）　上薑、棗水煎服。</p>
<p><u>托裡益黃湯</u>　治脾土虛寒，水反侮土，以致飲食少思，或嘔吐泄瀉等症。</p>
<p>人參　白朮　陳皮　茯苓　半夏（各一兩）　炮姜　丁香　炙草（各五分）　上薑、棗水煎服。</p>
<p><u>托裡越鞠湯</u>　治六郁所傷，脾胃虛弱，飲食少思等症。</p>
<p>人參　白朮（各二錢）　陳皮　半夏（各一錢）　山梔　川芎　香附　蒼朮（各七分）　炙草（五分）</p>
<p>上薑、棗水煎服。</p>
<p><u>乳香止痛散</u>　治瘡腫不止。</p>
<p>粟殼（三錢）　白芷（一錢五分）　炙草　陳皮（各一錢）　乳香（五分）　沒藥（五分）　丁香（三分）</p>
<p>上作二劑，水煎服。</p>
<p><u>濟生犀角地黃湯</u>　治鬱熱不解，衄血便血等症。</p>
<p>犀角　生地　白芍藥　牡丹皮（各等分）</p>
<p>上每五七錢水煎服，加減同上。亦治便血。</p>
<p><u>痔瘡方</u></p>
<p>雄黃（五分，細研）　五靈脂（去石燒過斷煙）　五倍子（泡過，各一錢）　沒藥（二錢半明淨者）　白礬（半飛半生）</p>
<p>上為細末，研極細，用紙花子貼瘡口上。</p>
<p><u>豬蹄湯</u></p>
<p>香白芷　黃芩　赤芍藥　生甘草　當歸　羌活　露蜂房（取有蜂兒者）</p>
<p>上先將豬蹄彎一隻，用水數碗煮熟取清汁，分作十數次，每次用前藥一兩，煎十數沸去滓，無風處淋洗，死肉惡隨洗而下，極效。</p>
<p><u>神效栝蔞散</u>　治乳癰，初起者自消，膿成者自潰。及一切癰疽，或潰後餘毒，亦宜用之。</p>
<p>黃栝蔞（一枚）　當歸（五錢）　生甘草（五錢）　乳香　沒藥（各五錢）</p>
<p>上用水酒煎服。</p>
<p><u>清肝解鬱湯</u>　治肝經血虛風熱，或肝經鬱火傷血，乳內結核，或為腫潰不愈。凡肝膽經血氣不和之症，皆宜用此藥。</p>
<p>人參（一錢）　柴胡（八分）　白朮（一錢五分）　牡丹皮（八錢）　茯苓（一錢）　陳皮（八分）甘草（五分）　當歸（一錢五分）　貝母（一錢）　川芎（八分）　山梔（炒）　芍藥（炒）　熟地黃（各一錢）　上水煎服。</p>
<p><u>清肝益榮湯</u>　治肝膽、小腸經風熱血燥，筋攣結核，或耳項胸乳脅肋作痛，或作瘊子，並一切肝火之症。</p>
<p>柴胡（七分）　山梔　當歸　木瓜（不犯鐵器）　茯苓（各一錢）　川芎　芍藥（炒，各七分）龍膽草（八分）　白朮（二錢）　熟地（一錢五分）　炙草（五分）</p>
<p>上姜水煎服。</p>
<p><u>益元散</u></p>
<p>滑石（六兩）　甘草（一兩）</p>
<p>上為末，每服一錢酒調下。</p>
<p><u>神效開結散</u>　治癭疾，不問年歲，極驗。</p>
<p>沉香　木香　橘紅（四兩）　豬厭肉子（生於豚豬項下）　珍珠（四十九粒，砂鍋內泥封口煨，過絲一枚如棗大，取四十丸）</p>
<p>上為末，每服一錢，臨臥冷酒調搽，徐徐嚥下，輕者三五服，重者一料痊愈。修合用除日效，忌鹹酸、油膩、澀氣等物。</p>
<p><u>海藻散堅丸</u>　治肝經癭瘤。</p>
<p>海藻　昆布（各一兩）　小麥（四兩，醋煮炒乾）　龍膽草（二兩）</p>
<p>上為末，煉蜜丸，桐子大。每服二三十丸，臨臥白湯下，並噙化咽之。</p>
<p><u>普濟消毒散</u>　治天行時毒，頭面腫痛，或咽喉不利，若饑饉之後患之，最宜用，仍當固胃氣。</p>
<p>黃芩　連翹（各五錢）　人參（三錢）　陳皮　玄參　甘草　柴胡　桔梗（各一錢）　牛蒡子馬勃　板藍草根（各七分）　白殭蠶　升麻（各五分）　上水煎服，大便秘，量加大黃。</p>
<p><u>通氣散</u>　治時毒腫甚，取嚏，以泄其毒。</p>
<p>玄參（一錢五分）　豬牙皂角　川芎（各二錢）　藜蘆（五分）　羊躑躅花（二錢五分）</p>
<p>上為末，用紙捻蘸少許，入鼻內，取嚏為度。</p>
<p><u>防風通聖散</u>　治時毒熱毒，便秘熱燥。若時毒饑饉之後，胃氣虧損者，須當審察，非大滿大實不用。</p>
<p>防風　當歸　川芎　芍藥　大黃　芒硝　連翹　薄荷　麻黃　桔梗　石膏　黃芩（各一兩）　白朮　山梔　荊芥（各二錢五分）　甘草（二兩）　滑石（一兩）</p>
<p>上水煎服，或為末，白湯調下，仍量人虛實。</p>
<p><u>葛根牛蒡湯</u>　治時毒腫痛，而便利調和者。</p>
<p>葛根　管仲　甘草（又名國老）　豆豉　牛蒡（半生半炒，各一錢）</p>
<p>上水煎服。</p>
<p><u>犀角升麻湯</u>　治時毒，或風熱，頭面腫痛，或咽喉不利，或風熱鬢疽痄腮等症。</p>
<p>犀角　升麻　防風　羌活（各一錢）　白芷　黃芩　白附子（各五分）　國老（六分）</p>
<p>上水煎服。</p>
<p><u>白芷胃風湯</u>　治手足陽明經氣虛風熱，面目麻木，或牙關緊急，眼目瞤動。</p>
<p>白芷（二錢五分）　升麻（二錢五分）　葛根　蒼朮（米泔炒，各八分）　炙草　當歸（各一錢五分）　草豆蔻　柴胡　黃柏（炒）　藁本　羌活（各四分）　蔓荊子　白殭蠶（三分）　麻黃（去節七分）　上水煎服。</p>
<p><u>升麻黃連湯</u>　治胃經熱毒，腮瘇作痛，或發寒熱。</p>
<p>升麻　川芎　當歸（各錢半）　連翹　黃連　牛蒡子　白芷（各一錢）</p>
<p>上水煎服。焮連太陽加羌活；連耳後，加山梔、柴胡。</p>
<p><u>梔子仁湯</u>　治時毒腫痛，大便秘結。</p>
<p>鬱金　枳殼　升麻　山梔（炒，各一錢）</p>
<p>上水煎服。</p>
<p><u>雙解散</u>　治便癰。內蘊熱毒，外挾風邪；或交感失宜，精血交錯，以致腫痛，大小便秘結。先用此藥通解，更用調補之劑。</p>
<p>辣桂　大黃　白芍藥　澤瀉　牽牛（杵炒）　桃仁　乾薑（各五分）</p>
<p>上水煎服。</p>
<p><u>制甘草法</u>　治懸癰，不拘腫潰。</p>
<p>上每用大甘草一兩，切至寸許，用澗水一碗浸透，以慢火炙乾；仍投前水浸透再炙，至水乾為度，卻挫細，用水二鍾，煎八分，空心服。</p>
<p><u>大蘆薈丸</u>（一名九味蘆薈丸）　治肝火下疳潰爛，或作痛焮腫，或治小兒疳膨食積，口鼻生瘡，牙齦蝕爛等瘡，並蟲蝕肛門癢痛。</p>
<p>胡黃連　蘆薈　黃連　木香　白蕪荑　青皮　白雷丸　鶴蝨草（各二兩）　麝香（一錢）</p>
<p>上為末，蒸餅糊丸，桐子大，每服一錢，空心米湯下。</p>
<p><u>八正散</u>　治下疳便毒，小便淋瀝，脈症俱實者。</p>
<p>大黃　車前子　瞿麥　萹蓄　山梔　木通（各二錢）　滑石（二兩）　甘草（一錢）</p>
<p>上水煎服。</p>
<p><u>內托羌活湯</u>　治臀癰腫痛，兩尺脈緊按之無力者。</p>
<p>羌活　黃柏（各一錢）　防風　藁本　肉桂　連翹　炙草　蒼朮　陳皮　黃耆（各一錢五分）</p>
<p>上水酒煎服。</p>
<p><u>大防風湯</u>　治足三陰經虧損，外邪乘虛，患鶴膝風或附骨疽腫痛；或腫而不痛，不問已潰未潰，用三五劑後，更用調補之劑。</p>
<p>附子　牛膝（各一錢）　白朮　羌活　人參　防風（各三錢）　川芎（一錢五分）　辣桂　黃耆　白芍藥　杜仲　熟地　甘草（炙，各五分）</p>
<p>上水煎服。</p>
<p><u>加味龍膽湯</u>　治肝經濕熱，或囊癰便毒，下疳懸癰，腫焮作痛，小便澀滯；或婦人陰瘡癢痛；或男子陰挺腫脹，或出膿水。</p>
<p>龍膽草　澤瀉（各一錢）　車前子　生地黃　木通　當歸尾　山梔　枯黃芩　炙甘草（各五分）</p>
<p>上水煎服。</p>
<p><u>清心蓮心丸</u>　治膀胱氣虛濕熱，玉莖腫痛，或莖竅澀滯，口苦咽乾，小便色赤或白濁，夜安靜而晝發熱。</p>
<p>黃芩　麥門冬　地骨皮　車前子　炙甘草（各一錢半）　石蓮肉　白茯苓　黃耆　柴胡　人參（各一錢）</p>
<p>上水煎服。</p>
<p><u>五淋散</u>　治膀胱有熱，水道不通，或尿如豆汁，或如砂石，或如膏汁，或熱沸便血。</p>
<p>赤茯苓（錢半）　赤芍藥　山梔（各二錢）　當歸　甘草（各一錢五分）</p>
<p>上用燈心三十根，水煎服。</p>
<p><u>清肺飲</u>　治渴而小便不利，乃肺經有熱，是絕寒水生化之源，宜用此藥，以清化源，其水自生，而便自利矣。</p>
<p>茯苓（二錢）　豬苓（三錢）　澤瀉（五分）　琥珀（五分）　燈心（一分）　木通（七分）　通草（六分）　車前子（一錢）　瞿麥（五分）　萹蓄（七分）</p>
<p>上為細末，每服五錢，水煎服。</p>
<p><u>腎氣丸</u>　治腎經陽虛陰無所化，以致膀胱淋漓，或脾肺氣虛，不能通調，水無所化，而膀胱癃閉；或腎氣虛熱於厥陰之絡，陰挺痿痹，而溺頻數；或腎水虛弱，陰虧難降，使津液敗濁，而為痰水。又治腎虛便血，及諸見血發熱，自汗盜汗等症之聖藥也。即六味丸，方見前。</p>
<p><u>還少丹</u>　治足三陰經，虛損患膝風等症。又補脾腎進飲食之良劑也。</p>
<p>肉蓯蓉（去甲酒浸）　遠志（去心，甘草湯泡去骨）　茴香（炒）　巴戟（去心）　枸杞子　山藥　牛膝　熟地黃（為膏）　石菖蒲　杜仲　五味子　白茯苓　楮實子　山茱萸（各等分）</p>
<p>上為末，用紅棗肉同蜜為丸，桐子大，每服七十丸，溫酒送下，每日三服，白湯送下。</p>
<p><u>不換金正氣散</u>　治脾氣虛弱，寒邪相搏，痰停胸膈，寒熱少食。</p>
<p>厚朴　藿香　半夏　蒼朮　陳皮　甘草（各等分）</p>
<p>上薑、棗水煎服。</p>
<p><u>槐花散</u>　治腸風濕熱下血。</p>
<p>槐花　青皮（各六分）　當歸（一錢）　荊芥　熟地黃　白朮（各六分）　川芎（四分）　升麻（二錢）</p>
<p>上水煎服。</p>
<p><u>四生散</u>　治臁腿，瘡淫不愈，或目昏花，名腎臟風。並治風癬疥癩血風瘡症。</p>
<p>白附子（真者生用）　黃耆　獨活　蒺藜（各等分）</p>
<p>上為末，每服二錢，用豬腰子一枚，批開入藥，濕紙包裹煨熟，空心連腰子細嚼，鹽湯送下。</p>
<p><u>消風散</u>（一名人參消風散）　治風熱癮疥，瘙癢發熱，或頭皮腫癢，頭目昏眩，鼻流清水，嚏噴聲重，耳作蟬鳴。</p>
<p>荊芥穗　炙草　人參　白殭蠶　白茯苓　防風　芎藭　藿香　蟬蛻（各二兩）　陳皮　厚朴（薑製）　羌活（各五分）</p>
<p>上為末，每服三錢，茶清調下，瘡癬溫酒下。</p>
<p><u>升麻和氣湯</u>　治風癬瘡疥熱結，大便不通。</p>
<p>當歸　陳皮（各一錢）　芍藥（酒炒）　枳殼（麩炒，各八分）　半夏（薑製）　蒼朮（米泔浸炒）　桔梗（炒黃色）　白芷（浸軟切片）　白茯苓　炙草（各一錢）　乾薑（炮黑）　大黃（各五分）　升麻（三分）</p>
<p>上水煎服。</p>
<p><u>換肌消毒散</u>　治時瘡不拘初起潰爛。</p>
<p>土茯苓（五錢）　當歸（酒洗）　白芷　皂角刺　薏苡仁（各一錢）　白蘚皮　木瓜（不犯鐵器）　木通　金銀花（各七分）　炙草（五分）</p>
<p>上水煎服。</p>
<p><u>九味羌活湯</u>　治風熱鬱遏，瘡焮作痛，或遍身作痛，或拘急不利；又治頭痛，惡寒脊強，脈浮緊；又治非冬時天有暴寒，人中之頭痛寒熱，宜用此以代麻黃湯，此神藥也。</p>
<p>羌活　防風　蒼朮（各錢半）　川芎　白芷　生地　黃芩（煮軟切片）　細辛　甘草（各一錢）</p>
<p>上水煎服，衣覆之，取微汗。濕司天，加蒼朮，天淫雨，亦加。如渴加石膏三錢，知母一錢，不渴不加。</p>
<p><u>加味羌活散</u>（即前湯加金銀花、連翹。）</p>
<p>當歸飲子　治風濕所傷，以致瘡疥等症。</p>
<p>當歸　黃耆　芍藥　荊芥穗　防風　蒺藜　何首烏　生地黃　川芎　甘草（各等分）</p>
<p>上水煎服。</p>
<p><u>黑丸子</u>（一名和血定痛散）　治跌撲墜墮，筋骨疼痛，或瘀血壅腫，或外感風寒，肢體作痛；若流注膝風，初起服之自消；若潰後氣虛而發熱，與補劑兼服自斂。</p>
<p>百草霜　白芍藥（各一兩）　赤小豆（一兩五錢）　川烏（炮，三錢）　白蘞（一兩六錢）　白芨　當歸（各八錢）　南星（泡，三錢）　牛膝（焙，六錢）　補骨脂（焙，八錢）</p>
<p>上各別為末，酒糊丸，桐子大，每服三十丸，鹽湯溫酒任下，孕婦不可服。</p>
<p><u>太乙膏</u>　治一切瘡瘍，並宜貼之。若元氣無虧，用隔蒜灸，更服活命飲，以收全功。</p>
<p>玄參　白芷　當歸　肉桂　大黃　赤芍藥　生地黃（各一兩）</p>
<p>上用麻油二斤，入銅鍋內，煎至黑濾去粗，入黃丹十二兩，再煎，水中捻軟硬得中，即成膏矣。</p>
<p><u>藜蘆膏</u>　治一切瘡疽，胬肉突出，不問大小長短，用藜蘆一味為末，以生豬脂和，研如膏，塗患處，周日易之。</p>
<p>治便血：黃連四兩，吳茱四兩，同一鍋炒，不同研。糞前紅用茱調酒；糞後紅用酒調連；元氣虧損者，當以補藥加之，方效。二味用熱湯拌濕，燉滾湯中半日，藥氣相和炒，將焦各揀出聽用，甚妙。即制茱萸、黃連法也。</p>
<p><u>黃礬丸</u>　治金石發疽，及一切瘡疽，解毒止痛。</p>
<p>明白礬（一兩）　黃蠟（五錢）</p>
<p>上熔蠟和礬末，急和勻，眾手丸，桐子大。每服十丸，漸漸加二十丸，滾湯下。如服金石發疽，別用白礬末一兩，作三五服，溫酒調下。有人遍身生瘡，狀如蛇頭，服之即效。此藥能解毒氣，內攻須多服有效。治毒蛇咬，熔滴傷處，痛止毒出，仍服兩許。</p>
<p><u>當歸膏</u>　治發背癰疽湯火等症，去腐肉，生新肉，其肉未壞者，用之自愈。肉已死，而用之自潰，新肉易生，搽至肉色漸白，其毒始盡，生肌最速。其外肉焮干爬，連好肉作痛，用之自愈，亦不結痂，又免皴揭之痛，殊有神效。蓋黃蠟主生肌止痛，補血續筋，性味甘溫，非偏勝毒藥，故與新肉相宜。此方余已刊行，近之治者，亦多用之。</p>
<p>川當歸（一兩）　麻油（真正者，四兩）　淮慶生地（一兩）　黃蠟（一兩，如白蠟止用五錢）</p>
<p>上先用當歸、地黃，入油煎黑去粗，入蠟熔化，候溫攪勻，即成膏矣。用塗患處，將紙蓋之，發背、癰疽、湯火等症，潰爛用之尤妙。凡死肉潰爛已盡，好肉有些須尚連，宜用利刀剪之，蓋死肉有毒，去遲則傷新矣。如洗拭換膏，必須預備，即貼之。若死肉去盡，尤宜速貼，然新肉畏風尤甚，不可忽也。</p>
<p><u>蠲痹消毒散</u>　治時瘡，肢節筋攣。</p>
<p>薑黃　土茯苓　獨活（各五錢）　白朮　當歸（各一錢五分）　赤芍藥（一錢）　白芷（五分）</p>
<p>上水煎服。</p>
