<header data-type="book">
<h1>醫宗金鑑·雜病心法</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="吳謙">吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>版式</dt><dd>今版</dd></div>
<div><dt>直書</dt><dd>橫書</dd></div>
</dl>
</header>
<pre data-sec="p">
篇名：中風
條文：中風總括
風從外中傷肢體，痰火內發病心官，體傷不仁與不用，心病神昏不語言。
當分中絡經府藏，更審虛實寒熱痰，脫證撒手為脾絕，開口眼合是心肝，
遺尿腎絕鼾聲肺，閉證握固緊牙關，初以通關先取嚏，痰壅不下吐為先。

註：[1]風，謂虛邪，賊風從外而中，傷人四肢軀體，故名曰中風。
　　[2]痰火，謂痰火從內而發，病人心主之官，故名曰痰火。
　　[3]體中風邪，輕則頑麻不仁，重則癱瘓不用。
　　[4]心病痰火，輕則舌強難語，重則痰壅神昏。
　　[5]此證或內或外，單病輕，兼病重，當細辨其中絡、中經、中府、中藏，
　　   及中經絡兼中府藏。並細審其兼虛、兼實、兼寒、兼熱、兼痰與夫脫證、
　　   閉證之淺深緩急而治之。
　　[6]凡初中宜先用通關散取嚏，有嚏可治，無嚏多死。
　　[7]口噤者，用開關散，擦牙軟之。
　　[8]痰涎壅盛，用諸吐法湧之。
　　[9]若口噤不開，湯藥不能下咽者，則將應服之藥，隨引調如麵茶， 
　　   含不病人口內，用葦管或筆管插入病人鼻孔，使氣連藥吹之，其藥自能入咽。
　　[10]不可用金器撬之，恐傷齒也。
按：
中風一證，分中血脈、中府、中藏，始自李東垣。
中血脈者，大秦艽湯；中府者，小續命湯；中藏者，三化湯。
然從未見有三化湯中藏之證，
惟金匱書中分為四證：曰絡、曰經、曰府、曰藏，其說最為得當，可為後世法。
蓋口眼喎斜，肌膚不仁，邪在絡也；
左右不遂，筋骨不用，邪在經也；
昏不識人，便溺阻隔，邪在府也；
神昏不語，唇緩涎出，邪在藏也。
學者細閱諸家之論，自知不謬云爾。
</pre>
<pre data-sec="p">
篇名：中風
條文：中風死候
寸口脈平卒中死，生氣獨絕暴脫之，五藏幾息呼吸泯，譬如墮溺豈能期。
脈來一息七八至，不大不小尚能醫，大小浮晝沉夜死，脈絕不至死何疑。
脫證並見皆死候，搖頭上竄氣長噓，喘汗如油痰拽鋸，肉脫筋痛髮枯直。
註：[1]寸口脈平，謂寸、關、尺脈俱平之人，忽然卒中而死者，皆因中邪太甚，
　　   閉塞九竅天真之氣，不能與人之生氣相通，則獨絕於內也。
　　   譬如墮跌溺水，豈能預期其死耶！脈來一息七、八至者，不大不小雖困可治。
　　   若大而無倫，小而如纖，浮主晝死，沈主夜死，不可治也。
　　[2]五藏脫證，若三藏、四藏并見，及搖頭上竄等證，皆死候也。
</pre>
<pre data-sec="p">
篇名：中風
條文：通關散、開關散、燻鼻法、解語法
通關星皂細荷半，開關烏梅冰片南，巴油紙皂煙燻鼻，龜尿舌下點難言。
註：[1]通關散，南星、皂角、細辛、薄荷、生半夏為末，吹鼻有嚏可治。
　　[2]開關散烏梅肉、冰片、生南星為末，擦牙，其噤可開。
　　[3]巴豆油紙卷皂角末，燒煙燻入鼻內，人事自省。
　　[4]取龜尿點在舌下，言語自易。
</pre>
<pre data-sec="p">
篇名：中風
條文：三聖散、瓜蒂散、全蠍散、五元散、巴礬丸
無汗吐宜防藜蒂，有汗瓜蒂入蠍全，重劑藜豆礬皂膽，痰壅吐以巴礬丸。
註：[1]痰涎壅盛無汗表實，用三聖散，即防風、藜蘆、瓜蒂吐之。
　　[2]有汗裏實，用瓜蒂散、即瓜蒂、赤小豆；或用全蠍散，即瓜蒂散加全蠍吐之，
　　   此皆吐之輕劑也。
　　   甚則用五元散，乃藜蘆、赤小豆、白礬、皂角、膽礬。
巴礬丸，即巴豆、枯白礬、吐之。
</pre>
<pre data-sec="p">
篇名：中風
條文：烏藥順氣散
烏藥順氣實中絡，喎斜頑麻風注疼，麻黃枳桔烏蠶共，白芷乾薑陳草芎。
註：[1]實中絡，謂風邪中絡之人，形氣實者也。
　　[2]喎斜，口眼歪斜也。
　　[3]頑麻，肌膚麻木也。
　　[4]風注疼，風氣攻注骨節疼也。
　　[5]是方麻黃、枳殼、桔梗、烏藥、殭蠶、白芷、陳皮、乾薑、甘草、川芎也。
</pre>
<pre data-sec="p">
篇名：中風
條文：大秦艽湯
大秦艽湯虛中絡，喎斜偏廢減參珍，秦艽生地石膏共，羌獨防芷細辛芩。
註：[1]虛中絡，謂風邪中絡之人，形氣虛者也。
　　[2]偏廢，謂半身不遂也。
　　[3]滅參珍，謂八珍湯減去人參，加入秦艽、生地、石膏、羌活、獨活、白芷、
　　   防風、細辛、黃芩也。
　　[4]偏廢是中經之證，而亦可治之者，以此方能養血榮筋，為久病風人調理之劑。
</pre>
<pre data-sec="p">
篇名：中風
條文：換骨丹
中經氣實宜換骨，喎斜癱瘓芷芎防，冰麝硃香槐苦味，仙人麻首蔓蒼桑。
註：[1]中經氣實，謂風邪中經之人，形氣實也。
　　[2]癱，左不用也；瘓，右不用也。
　　[3]換骨丹，白芷、川芎、防風、冰片、麝香、硃砂、木香、槐角、苦參、
　　   五味子、威靈仙、人參、麻黃膏、何首烏、蔓荊子、蒼朮、桑皮也。
　　   麻黃膏者，以麻黃熬成膏，和前藥為丸，硃砂滾衣也。
</pre>
<pre data-sec="p">
篇名：中風
條文：
小續命湯虛經絡，八風五痹總能全，麻杏桂芍通營衛，參草歸芎氣血宣，
風淫防濕淫已，黃芩熱淫附子寒，替夏石膏知母入，秋冬桂附倍加添。
註：[1]虛經絡，謂風邪中經、中絡之人，形氣虛也。
　　[2]八風，謂八方之邪風中人為病也。五痹，詳見痹門要訣中。
</pre>
<pre data-sec="p">
篇名：中風
條文：黃耆五物湯
黃耆五物虛經絡，偏廢虛風無力癱，心清語蹇因舌軟，舌強神濁是火痰，
補衛黃耆起不用，益營芍桂棗薑煎，左加當歸下牛膝，筋瓜骨虎附經添。
註：[1]黃耆五物湯，治因虛召風，中人經絡而病半身不遂者。
　　[2]然審其人若舌強難言，神氣不清，則是痰水為病，不宜此方。
　　[3]若心清語蹇，舌軟無力難言者，乃是營衛不足之病，宜用此方。
　　[4]經曰：衛虛則不用，營虛則不仁。
　　[5]此方君黃耆而補衛，以起不用；臣桂枝、白芍而益營，以治不仁； 
　　   佐生薑、大棗以和營衛也。
　　[6]不仁不用在右者屬氣，宜倍加黃耆；在左者屬血，則加當歸。
　　[7]在下兩腿兩膝軟者，則加牛膝。
　　[8]骨軟不能久立者，則加虎骨。
　　[9]筋軟難於屈伸者，則加木瓜。
　　[10]周身或左或右經絡不宣通者，則加炮附子，有寒者亦加之。
　　[11]此方屢試屢效者，其功力專於補外，所以不用人參補內、甘草補中也。
</pre>
<pre data-sec="p">
篇名：中風
條文：三化湯、搜風順氣丸
三化氣實風中府，昏冒閉滿小承羌。形氣俱虛及風燥，搜風順氣自然康。
註：[1]氣實風中府，謂風邪中府之人，形氣實也。
　　[2]昏冒，謂神昏不知人也。
　　[3]閉滿，謂二便阻隔腹滿脹也。
　　[4]小承羌，謂小承氣湯：厚朴、枳實、大黃，加羌活，即三化湯也。
　　[5]若其人形氣俱虛，則當以搜風順氣丸緩緩治之，自然康也。
　　[6]久病風之人，大便多結燥，謂之風燥。
　　   或用續命湯汗過，三化湯下過，津液枯乾，以致結燥。
　　[7]凡病不論中經絡藏府，但有二便阻隔，形氣不足，難堪攻下者，均宜此
　　   法，以搜六府之風，通腸胃中之氣，二便自利矣。
</pre>
<pre data-sec="p">
篇名：中風
條文：牛黃清心丸
牛黃清心實中藏，痰壅神昏不語言，口眼喎斜形氣盛，兩手握固緊牙關。
註：[1]牛黃清心丸，治風邪中藏之人，形氣俱實，其證痰涎壅寒，神昏不能言語，
　　   口眼喎斜，形氣滿盛，兩手握固，牙關緊急之閉證，皆可服之。
</pre>
<pre data-sec="p">
篇名：中風
條文：參附湯
參附湯治虛中藏，唇緩涎出不語言，昏不知人身偏廢，五脫證見倍參煎。
註：[1]參附湯，即人參、附子也。
　　[2]治風邪中藏之人，形氣俱虛，其證唇緩不收，痰涎流出，神昏不語， 
　　   身肢偏廢，或與五藏脫證并見，宜大倍人參，先固虛脫，次治風邪可也。
</pre>
<pre data-sec="p">
篇名：中風
條文：千金還魂湯
經絡閉證卒中惡，氣促神昏不識人，無汗拘急身偏痛，肉桂麻草杏還魂。
註：[1]經絡閉證，謂風邪中經絡之閉證也。
　　[2]氣促，謂氣粗盛也。
　　[3]無汗四肢拘急，身體偏痛，乃表邪固閉，宜用肉桂、麻黃、甘草、杏仁，
　　   即還魂湯以開之。
</pre>
<pre data-sec="p">
篇名：中風
條文：奪命湯
藏府閉證腹滿閉，昏噤痰結在喉間，危急湯藥不能下，奪命巴芷半葶南。
註：[1]藏府閉證，謂風邪中藏府之閉證也。
　　[2]腹滿閉，謂腹滿二便閉也。
　　[3]兼以神昏口噤不開，結痰喉間不下，宜用四方吐下之，巴豆、白芷、
　　   半夏、葶藶、生南星也。
</pre>
<pre data-sec="p">
篇名：中風
條文：三生飲
三生飲治中風寒，厥逆沉伏湧氣痰，星香烏附俱生用，氣虛加參脫倍添。
註：[1]中風寒，謂不論經絡藏府、風邪中藏寒之人也。
　　[2]厥逆，謂四肢冷也。
　　[3]沉伏，謂六脈沉伏也。
　　[4]是方生南星、生川烏、生附子、木香也。
　　[5]惟寒盛氣實者宜之，若氣虛者加人參，虛極將脫者大倍人參， 
　　   始可用之而無倒戈之害也。
</pre>
<pre data-sec="p">
篇名：中風
條文：袪風至寶湯
袪風至寶中風熱，浮數面赤熱而煩，通聖加蠍天麻細，白附羌獨連柏蠶。
註：[1]中風熱，謂不論經絡藏府風、邪中府熱之人也。
　　[2]浮數，謂六脈浮數也。
　　[3]熱而煩，謂身熱心煩也。
　　[4]通聖，謂防風通聖散。方中加全蠍、天麻、細辛、白附、羌活、獨活、
　　   黃柏、黃連、殭蠶也。防風通聖散，詳在傷寒門。
</pre>
<pre data-sec="p">
篇名：中風
條文：青州白丸子
青州白丸中風痰，喎斜癱瘓湧痰涎，小兒驚痰為妙藥，白附烏星半夏丸。
註：[1]中風痰，謂不論經絡藏府、風邪中表，有痰飲之人也。
　　[2]湧痰涎，謂痰涎湧盛也。
　　[3]是方生白附子、生川烏、生南星、生半夏，法製為丸也。
</pre>
<pre data-sec="p">
篇名：中風
條文：羌活愈風湯
羌活愈風治外中，手足無力語出難，肌肉微掣不仁用，大秦艽湯參再添，
官桂黃耆杜防己，知枳柴荷蔓菊前，蒼麻半朴杞地骨，調理諸風症可安。
註：[1]治外中，謂風從外中之病也。
　　[2]此病之來，必有先兆，如手足無力，語言蹇澀，時有肌肉微動牽掣， 
　　   大指次指麻木不用，皆風邪外中之先兆也，宜用此湯。
　　[3]大秦艽湯參再添，謂大秦艽湯方中，再添人參、官桂、黃耆、杜仲、
　　   防已、知母、枳殼、柴胡、薄荷、蔓荊子、菊花、前胡、蒼朮、麻黃、
　　   半夏、厚朴、枸杞、地骨皮。
　　[4]調理諸風症可安，謂凡中風內邪將除，外邪漸盡，更服此藥調理以行導
　　   諸經，久則大風悉去，清濁自分，榮衛自知矣。
</pre>
<pre data-sec="p">
篇名：中風
條文：清熱化痰湯
清熱化痰治內發，神短忽忽語失常，頭眩腳軟六君麥，芩連菖枳竹星香。
註：[1]治內發，謂痰火內發之病也。
　　[2]此病之來，必有先兆，如神短忽忽，言語失常，上盛下虛，頭眩腳軟，
　　   皆痰火內發之先兆也。
　　[3]宜用此湯。
　　[4]即人參、白朮、茯苓、甘草、橘紅、半夏、麥冬、黃芩、黃連、石菖蒲、
　　   枳實、竹茹、南星、木香也。
</pre>
<pre data-sec="p">
篇名：中風
條文：地黃飲子
四肢不收無痛痱，偏枯身偏不用疼，其言不變志不亂，邪在分腠五物能。
甚不能言為瘖痱，奪厥入藏病多凶，地黃桂附蓉巴遠，萸斛冬味薄菖苓。
註：[1]風痱、偏枯、瘖痱三病，皆屬外中，而有微甚淺深之別也。
　　[2]風痱，謂四肢不收，身無痛處。
　　[3]偏枯，謂半身不遂，身有痛處，其言不變志不亂，乃邪微淺， 
　　   病在分腠榮衛之間，以黃耆五物湯能補榮衛而散風邪也。
　　[4]甚者不能言，志亂神昏，則為瘖痱，乃腎虛內奪，少陰不至而厥， 
　　   其邪已入於藏，故曰病多凶也。
　　[5]地黃飲子是治腎虛內奪之方，是方熟地、肉桂、附子、肉蓯蓉、巴戟、
　　   遠志、山萸、石斛、麥冬、五味子、薄荷、石菖薄、茯苓也。
</pre>
<pre data-sec="p">
篇名：中風
條文：滌痰湯
滌痰內發迷心竅，舌強難言參蒲星，溫膽熱盛芩連入，神昏便閉滾痰攻。
註：[1]內發，謂痰火內發，迷人心竅，令人精神恍惚，舌強難言也。
　　[2]滌痰湯，即人參、菖蒲、南星、合溫膽湯也。
　　[3]溫膽湯，橘紅、半夏、茯苓、甘草、竹菇、枳實也。
　　[4]熱盛加黃芩、黃連，大小二便閉，用礞石滾痰丸攻之可也。
</pre>
<pre data-sec="p">
篇名：類中風
條文：類中風總括
類中類乎中風證，尸厥中虛氣食寒，火濕暑惡皆昏厥，辨在喎斜偏廢間。
註：[1]類中風證，皆名尸厥，謂形厥而氣不厥也。故口鼻無氣， 
　　   狀類死屍而脈自動也。
　　[2]中虛、中氣、中食、中寒、中火、中濕、中暑、中惡等證，雖忽然昏倒，
　　   人事不省，類乎真中風病，但不見口眼喎斜，偏廢不仁不用等證， 
　　  自可辨也。
</pre>
<pre data-sec="p">
篇名：類中風
條文：獨參湯、參附湯、星香湯、三物備急丹、奪命散
尸厥無氣而脈動，或脈微細有無間。緣於病後氣血竭，人參參附星香痰，
氣閉腹滿二便閉，或腹急痛備急丹，服後轉鳴吐下驗，喉間痰結奪命先。
註：[1]尸厥之證，有虛、有實。
　　[2]虛者，以獨參湯。虛兼寒者，以參附湯。虛兼痰者，以星香飲加人參湯。
　　[3]實者氣閉似死，脈動有力，腹滿脹，二便閉或腹急痛，氣閉前後不通者，
　　   以備急丹。實兼痰者，以奪命散。
</pre>
<pre data-sec="p">
篇名：類中風
條文：補中益氣湯、生脈補精湯
補中益氣療虛中，煩勞過度氣不升，虛冒有痰加苓半，欲冒生麥地歸茸。
註：[1]補中益氣湯(黃耆、人參、甘草、當歸身、橘皮、升麻、柴胡、白朮)，
　　   治虛中之證， 
　　   即李杲所云：內傷氣虛之人，煩勞過度，清氣不升，忽然昏冒也。
　　[2]欲冒，謂因房勞過度昏冒也。
　　[3]生脈飲即人參、麥冬、五味子合熟地、當歸、鹿茸，名曰生脈補精湯也。
</pre>
<pre data-sec="p">
篇名：類中風
條文：木香調氣飲
木香調氣實氣中，暴怒氣逆噤昏痰，風浮肢溫氣沉冷，木藿砂蔻草丁檀。
註：[1]實氣中，謂形氣俱實之人中氣也。
　　[2]因暴怒氣逆，忽然昏倒噤急也。
　　[3]風浮肢溫氣沉冷，謂中風之人，脈浮手足溫； 
　　   中氣之人，脈沉手足冷，可別也。
　　[4]是方木香、藿香、砂仁、白蔻、甘草、丁香、檀香也。
</pre>
<pre data-sec="p">
篇名：類中風
條文：八味順氣散
八味順氣虛氣中，標本兼施邪正安，參苓朮草扶元氣，烏芷青陳利氣痰。
註：[1]虛氣中，謂形氣俱虛之人中氣也。
　　[2]宜用此標本兼施，邪正相安之劑也。
</pre>
<pre data-sec="p">
篇名：類中風
條文：瓜蒂散、薑鹽湯
食中過飽感寒風，或因怒惱塞胸中，忽然昏厥肢不舉，瓜蒂薑鹽探吐平。
註：[1]瓜蒂散，挾痰者用之。
　　[2]薑湯，挾寒者用之。
　　[3]鹽湯，過食者用之，探吐，謂作此湯數鍾，令病者飲一鍾，隨用指探吐，
　　   不吐再飲再探，以吐通快為度，可立愈也。
</pre>
<pre data-sec="p">
篇名：類中風
條文：附子理中湯
附子理中療寒中，腹痛拘急噤牙關，有汗身寒或吐瀉，附子參朮草薑乾，
無汗身寒加麻細，陰毒川烏用生煎，嘔吐丁香吳萸入，脈微欲絕倍參添。
註：[1]寒中之證，即腹痛諸證者是也，宜用附子理中湯。
　　[2]若無汗加麻黃細辛；陰毒加生川烏；嘔吐加丁香、吳茱萸； 
　　   脈微欲絕倍加人參。陰毒寒極也，詳在『傷寒心法』。
</pre>
<pre data-sec="p">
篇名：類中風
條文：涼膈散
涼膈散中神昏冒，梔翹芩薄草硝黃，兼治一切胸膈熱，便燥譫妄與斑狂。
註：[1]火中之證，即劉完素所云：七情過極，五志之火內發，則令人昏倒無知，
　　   筋骨不用也。
</pre>
<pre data-sec="p">
篇名：類中風
條文：香薷飲、藿香正氣散、辰砂益元散、熨臍法、蒼朮白虎湯、人參白虎湯
暑中須分陰與陽，陰邪無汗似寒傷，壯熱心煩或嘔瀉，香薷扁朴二香湯，
更兼昏憒蒸蒸汗，面垢喘渴證為陽，不省熨臍灌蒜水，益元蒼參白虎湯。
註：[1]陰邪無汗似寒傷，謂暑中陰邪，似傷寒頭痛身痛，惡寒無汗， 
　　   而更壯熱心煩，或嘔或瀉也。得之於受暑納涼，寒外暑內，宜香薷飲。
　　   二香湯，謂香薷飲合薷香正氣飲，詳在霍亂門。
　　[2]若有如上之證，更兼精神昏憒，蒸蒸自汗，面垢喘渴，則為暑中陽邪，
　　   得之於赤日長途，中外皆熱，初中昏憒不省者，急以熱物熨臍， 
　　   蒜汁合水灌即省，繼以辰砂益元散。氣實者蒼朮白虎湯； 
　　   氣虛者，人參白虎湯，選而用之可也。
</pre>
<pre data-sec="p">
篇名：類中風
條文：滲濕湯
滲濕濕中內昏冒，震亨濕熱熱生痰，厚味醇酒生冷水，胃苓香附撫砂連。
註：[1]濕中內，謂濕從內生之病，即朱震亨所云：濕熱生痰，昏冒之證， 
　　   得之於傷厚味醇酒、生冷水物過節也。
　　[2]滲濕湯即胃苓湯加香附、撫芎、砂仁、黃連。
</pre>
<pre data-sec="p">
篇名：類中風
條文：除濕湯
除濕陰雨濕蒸霧，臥濕涉水瘴山嵐，頭身重痛便溏腫，羌藁升柴防水煎。
註：[1]除濕湯，即羌活、藁本、升麻、柴胡、防風、蒼朮，治濕因外中。
　　[2]得之於天陰淫雨，晴後濕蒸，早晨霧露，及久臥濕地，遠行涉水， 
　　   瘴氣山嵐。
　　[3]其證頭身重痛，甚而昏冒大便溏瀉，皮膚浮腫也。
</pre>
<pre data-sec="p">
篇名：類中風
條文：調氣平胃散
調氣平胃療惡中，廟塚忤惡卒然昏，面黑錯忘蘇合主，次木香平胃勻。
註：[1]蘇合主，謂中惡之病，以蘇合香丸為主也。
　　[2]次以木香平胃勻，謂以中氣木香調氣散之方，合平胃散之藥調理也。
</pre>
<pre data-sec="p">
篇名：傷風
條文：傷風總括
傷風屬肺欬聲重，鼻塞噴嚏涕流清，鼻淵腦熱不噴嚏，濁涕穢久必鼻紅。
註：[1]傷風屬肺，故噴嚏也。
　　[2]鼻淵屬腦，故不噴嚏也。
　　[3]傷風寒邪，故涕清也，鼻淵熱邪，故涕濁也。
　　[4]鼻淵病久或有穢氣，則熱深，故腦衄鼻血也。
</pre>
<pre data-sec="p">
篇名：傷風
條文：川芎茶調散
參蘇飲治虛傷風，實者茶調及頭疼，芎芷薄草羌茶細，荊防痰半熱膏清。
註：[1]參蘇飲方，在欬嗽門，治氣虛之人傷風之病。
　　[2]若氣實者，用川芎茶調散，即川芎、白芷、薄荷、甘草、羌活、茶葉、
　　   細辛、荊芥、防風，傷風頭痛者，亦可用也。
　　   有痰者加半夏清痰，有熱者加石膏清熱可也。
</pre>
<pre data-sec="p">
篇名：傷風
條文：蒼耳散
蒼耳散治鼻淵病，風熱入腦瞑頭疼，涕流不止鼻塞熱，蒼耳辛夷止薄蔥。
註：[1]鼻淵病屬風熱入腦，故目瞑而頭疼涕流不止，較之傷風為甚焉。
　　[2]鼻塞，氣不利也。
　　[3]熱，鼻孔中熱也，甚者孔熱而痛及其腦也。
　　[4]蒼耳散，即蒼耳子炒去刺，研破一兩，加辛夷三錢，白芷、薄荷各一錢，
　　   蔥三莖也。
</pre>
<pre data-sec="p">
篇名：傷風
條文：黃連防風通聖散
鼻淵初病施蒼耳，黃連防風久病方，孔痛膽調冰硼散，鼻血犀角地黃湯。
註：[1]鼻淵，風熱傷腦之病，初病則風邪盛，故用蒼耳散，以散為主。
　　   久病則熱鬱深，故用防風通聖散加黃連，以清為主也。
　　   熱氣湧涕傷其鼻孔成瘡故痛也，宜以豬膽汗調冰硼散敷之。
　　   熱蘊於腦，傷及所過營血故衄也，宜以犀角地黃湯涼之可也。
</pre>
<pre data-sec="p">
篇名：痙病
條文：痙病總括
痙病項強背反張，有汗為柔無汗剛，生產血多過汗後，潰瘡犬咬破風傷。
註：[1]痙病之證，詳在『傷寒心法』，有汗為柔痙，無汗為剛痙。
　　[2]產後去血過多，傷寒發汗過多，則為內因。
　　[3]潰瘍破傷、狗咬，則為外因。
　　[4]皆風邪乘虛入太陽經而成此病也。
</pre>
<pre data-sec="p">
篇名：痙病
條文：痙病死證
痙證脈散多應死，反張離席一掌亡，眼小目瞪昏不語，額汗如珠命必傷。
註：[1]反張離席一掌，調離席四、五指許也。
　　[2]眼小，謂目睫緊小也。
　　[3]目瞪，謂眼珠不轉也。
</pre>
<pre data-sec="p">
篇名：痙病
條文：葛根湯、桂枝加葛根湯、小續命湯、桂枝加附子湯、當歸補血湯、大承氣湯、
桃仁承氣湯
剛痙葛根湯發汗，柔痙桂枝加葛良，苦兼雜因小續命，過汗桂枝加附湯， 
傷血桂枝合補血，裏實瘀血承氣方，潰瘍十全加風藥，破傷狗咬另參詳。
註：[1]剛痙用葛根湯，即桂枝湯加麻黃葛根。
　　[2]柔痙用桂枝加葛根湯，即桂枝湯加葛根汗之。
　　[3]雜因，謂風寒濕雜揉為病，用小續命湯，隨風寒濕輕重治之。
　　[4]過汗表虛，汗出不止，因而成痙，用桂枝加附子湯，即桂枝湯加附子也。
　　[5]傷血，謂產後金瘡大傷血後，用桂枝湯合補血湯，即當歸黃耆也。
　　[6]裏實，謂痙病腹滿二便閉，以大承氣湯； 
　　   及產後惡露不盡，少腹鞕急，以桃仁承氣湯下之。
　　[7]潰瘍去膿血過多，為風所襲者，用十全大補湯加袪風之藥治之。
</pre>
<pre data-sec="p">
篇名：破傷風
條文：
破傷風破傷血筋失養，微傷風入火之端，燥起白痂瘡不腫，濕流污水緊牙關。
註：[1]破傷去血過多，筋失所養，經絡空虛，風邪乘之為病， 
　　   即經曰風邪乘虛而入也。
　　[2]為風虛邪，宜桂枝湯合當歸補血湯治之。
　　[3]夫傷重出血過多而病風者常也，然時有微傷淺損，去血甚少，風邪乘之
　　   而病者，以其人素熱，因風而然，即劉完素曰：熱甚風搏并於經絡也，
　　   為風火邪，宜防風通聖散加蠍尾治之。
　　[4]凡此證不論虛實，風毒內蘊不發於外，瘡口周圍燥起白痂，瘡不甚腫，
　　   濕流污黑之水，牙關微緊，不似尋常活動，皆破傷風之先兆也。
</pre>
<pre data-sec="p">
篇名：破傷風
條文：防風通聖散加蠍尾方、全蠍散、斑蝥大黃方
火盛通聖加蝎尾，風盛全蝎左龍丸，外因燒酒火罐法，犬風斑大酒同煎。
註：[1]破傷火盛者，多陽明證，用防風通聖散加蠍尾治之。
　　[2]風盛者，多太陽證，用全蠍散，即生蠍尾七枚研末，熱酒服之。
　　[3]服後不解，漸深入裏，用左龍丸，即野鴿糞、江鰾、殭蠶、雄黃、蜈蚣、
　　   天麻、朱砂、巴豆霜為丸也，方詳在『丹溪心法』諸破傷風門內。
　　[4]皆宜外用砂燒酒壺兩個，盛多半壺燒酒，先以一壺上火令滾無聲， 
　　   傾酒即按在破傷瘡口，拔出污黑血水，滿則自落。
　　[5]再以次壺仍按瘡口，輪流提拔，以盡為度，其風立愈。
　　[6]以咬風毒入腹成痙風者，用斑蝥七枚，以糯米拌炒米黃，去米為末， 
　　   生大黃末一錢合均，黃酒一盞，煎至半盞，空心溫服，取下毒物， 
　　  弱者減半服之可也。
</pre>
<pre data-sec="p">
篇名：痹病
條文：痹病總括
三痹之因風寒濕，五痹筋骨脈肌皮，風勝行痹寒痹痛，濕勝著痹重難支。
皮麻肌木脈色變，筋攣骨重遇邪時，復感於邪入藏府，周同脈痹不相移。
註：[1]三痹之因，風寒濕三氣雜合而為病也。其風邪勝者，其痛流走，故曰
　　   行痹。寒邪勝者，其痛甚苦，故曰痛痹。濕邪勝者，其痛重著， 
　　   故曰著痹。此為病之因而得名，曰三痹也。
　　[2]又有曰五痹者，謂皮、脈、肌、筋、骨之痹也。秋時遇此邪為皮痹，
　　   則皮雖麻尚微覺痛癢也。以夏時遇此邪為脈痹，則脈中血不流行、
　　   而色變也。以長夏時遇此邪為肌痹，則肌頑木不知痛癢也。
　　   以春時遇此邪為筋痹，則筋攣節痛屈而不伸也。以冬時遇此邪為骨痹， 
　　   則骨重痠疼不能舉也。
　　[3]曰入藏府者，謂內舍五藏之痹也。以皮痹不已，復感於邪，內舍於肺，
　　   成肺痹也。脈痹不已，復感於邪，內舍於心，成心痹也。肌痹不已，
　　   復感於邪，內舍於脾，成脾痹也。筋痹不已，復感於邪，內舍於肝，
　　   成肝痹也。骨痹不已，復感於邪，內舍於腎，成腎痹也。
　　   此皆以病遇邪之時，及受病之處而得名，曰五痹也。
　　[4]所謂邪者，重感於風寒濕之氣也。
　　[5]周痹亦在血脈之中，隨脈上下為病，故同脈痹，但患有定處， 
　　   不似脈痹左右相移也。
　　[6]近世曰痛風，曰流火，曰歷節風，皆行痹之俗名也。
</pre>
<pre data-sec="p">
篇名：痺病
條文：周痹
周痹患定無歇止，左右不移上下行，似風偏廢只足手，口眼無斜有痛疼。
註：[1]周痹，或痛、或腫、或手、或足，患有定處，痛無歇止。
　　[2]或從上病及於下，或從下病及於上，而不似眾痹痛有歇止， 
　　   左右相移流走也。
　　[3]周痹，或兩手，或兩足，或只手足，或偏廢不仁不用，似中風， 
　　   但不口眼喎斜，身有痛疼也。
</pre>
<pre data-sec="p">
篇名：痺病
條文：痹病生死證
痹在筋骨痛難巳，留連皮脈易為攻，痹久入藏中虛死，藏實不受復還生。
註：[1]痹在筋骨則受邪深，故痛久難巳。
　　[2]痹在皮脈則受邪淺，故易治也。
　　[3]凡痹病日久內傳所合之藏，則為五藏之痹。
　　[4]若其人中虛受邪，則難治多死，其人藏實而不受邪，復還於外， 
　　   則易治多生。
　　[5]假如久病皮痹，復感於邪，當內傳肺而為肺痹， 
　　   若無胸滿而煩喘欬之證，則是藏實不受邪。
　　[6]餘藏仿此。
</pre>
<pre data-sec="p">
篇名：痺病
條文：痹入藏府證
肺痹煩滿喘欬嗽，腎脹尻踵脊代頭，脾嘔痞鞕肢懈墮，心煩悸噫恐時休，
數飲臥驚肝太息，飲秘脹瀉在腸究，胞秘沃痛鼻清涕，三焦胃附膽無怵。
註：[1]久病皮痹，復感於邪，見胸滿而煩喘欬之證，是邪內傳於肺， 
　　   則為肺痹也。
　　[2]久病骨痹，復感於邪、而見腹脹，尻以代踵，足攣不伸，脊以代頭， 
　　   傴僂不直之證，是邪內傳於腎，則為腎痹也。
　　[3]久病肌痹，復感於邪，而見嘔涎心下痞鞕，四肢懈墮之證， 
　　   是邪內傳於脾，則為脾痹也。
　　[4]久病脈痹，復感於邪，而見心煩、心悸、嗌乾、噫氣，有時則恐之證，
　　   是邪內傳於心，則為心痹也。
　　[5]久病筋痹，復感於邪，而見喜飲小便數多，夜臥則驚，太息之證， 
　　   是邪內傳於肝，則為肝痹也。
　　[6]久痹不巳復感於邪，藏實不受而傳府者，凡見喜飲小便秘，不脹則瀉，
　　   不瀉則脹之證，是邪內傳於大小腸，則為腸痹也。
　　[7]凡見少腹胞中，按如沃湯狀而痛，小便秘澀，鼻流清涕之證， 
　　   是邪內傳於膀胱，則為胞痹也。
　　[8]三焦之痹附於膀胱，從水道也。
　　[9]胃痹附於大、小二腸，從傳化也。
　　[10]膽為清淨之府，不受痹邪，故曰無憂也。
</pre>
<pre data-sec="p">
篇名：痺病
條文：小續命湯  增味五痹湯
痹虛加減小續命，痹實增味五痹湯，麻桂紅花芷葛附，虎羊耆草二防羌。
註：[1]痹虛，謂氣虛之人病諸痹也。
　　[2]宜用加減小續命湯，風勝行痹倍防風，寒勝痛痹倍附子， 
　　   濕勝著痹倍防己，皮痹加黃耆或桂枝，皮脈痹加薑黃或加紅花， 
　　   肌痹加葛根或加白芷，筋痹加羚羊角或加續斷，骨痹加虎骨或加狗脊。
　　   有汗減麻黃，便溏減防己，寒勝減黃芩加乾薑，熱勝減附子加石膏，
加減治之。
　　[3]痹實，謂氣血實之人病諸痹也。
　　[4]宜用增味五痹湯，即麻黃、桂枝、紅花、白芷、葛根、附子、虎骨、
　　   羚羊角、黃耆、甘草、防風、防己、羌活也。行痹以羌活、防風為主， 
　　   痛痹以麻黃、附子為主，著痹以防己、羌活為主，皮痹以黃耆、桂枝為主，
　　   脈痹以紅花、桂枝為主，肌痹以葛根、白芷為主，筋痹以羚羊角為主，
　　   骨痹以虎骨為主，增味於五痹治之可也。
</pre>
<pre data-sec="p">
篇名：痺病
條文：木通湯  附子五苓散  蒼朮五苓散
三痹木通長流水，濕加防己風羌防，寒痹附麻分汗入，胞腸五苓附子蒼。
註：[1]三痹；謂行痹、痛痹、著痹也。
　　[2]宜用木通一味，不見水者二兩，以長流水二碗，煎一碗，熱服取微汗，
　　   不愈再服，以愈為度。若其痛上下、左右流走相移者，加羌活、防風，
　　   以袪風邪。其痛苦甚者，有汗加附子，無汗加麻黃，以去寒邪。
　　   其痛重著難移者，加防己以勝濕邪。其所應加之藥，不可過三錢， 
　　   弱者俱減半服。胞痹宜用五苓散加附子，腸痹宜五苓散加蒼朮，以利寒飲也。
　　[3]五苓散方在傷寒門。
</pre>
<pre data-sec="p">
篇名：痺病
條文：三痹湯  獨活寄生湯
三痹十全無白朮，牛秦續杜細獨防，獨活加桑除耆續，入藏乘虛久痹方。
註：[1]三痹，謂三痹傷，即十全大補湯無白朮，加牛膝、秦艽、續斷、杜仲、
　　   細辛、獨活、防風也。
　　[2]獨活，謂獨活寄生湯，依三痹湯方加桑寄生，除去黃耆、續斷也。
　　[3]此皆治五痹不巳，乘虛入藏，反留連日久，謂理痹病之方也。
</pre>
<pre data-sec="p">
篇名：痺病
條文：黃耆益氣湯
黃耆益氣虛皮痹，皮麻不知癢與疼，補中益氣加紅柏，味秋芩夏桂加冬。
註：[1]氣實麻木，用小續命湯加麻黃治之。
　　[2]氣虛麻木，用黃耆益氣湯，即補中益氣湯加紅花、黃柏也。
　　   秋加五味子，夏加黃芩，冬加桂枝皮。
</pre>
<pre data-sec="p">
篇名：痺病
條文：蠲痹湯  加味升陽散火湯
蠲痹冷痹身寒厥，附歸耆草桂羌防，肌熱如火名熱痹，羚犀升陽散火湯。
註：[1]蠲痹湯，即附子、當歸、黃耆、炙草、官桂、羌活、防風， 
　　   治痹病而身寒無熱，四肢厥冷，名曰冷痹也。
　　[2]加味升陽散火湯，即內傷門升陽散火湯加羚羊角、犀角， 
　　   治痹病而肌熱如火，名曰熱痹也。
</pre>
<pre data-sec="p">
篇名：痿病
條文：痿病總括
五痿皆因肺熱生，陽明無病不能成，肺熱葉焦皮毛瘁，發為痿躄不能行， 
心熱脈痿脛節縱，腎骨腰脊不能興，肝筋拘攣失所養，脾肉不仁燥渴頻。
註：[1]五痿，心、肝、脾、肺、腎之痿也。
　　[2]痿屬燥病，故皆因肺熱而生也。
　　[3]陽明者，五藏六府之海，主潤宗筋。陽明無病，則宗筋潤， 
　　   能束骨而利機關，雖有肺熱不能成痿也。
　　[4]肺熱葉焦，陽明虛弱，津液不化，筋骨失養，皮毛瘁痿， 
　　   發為痿躄不能行也。
　　[5]因而心氣熱為脈痿，則經節縱而不任地，肺兼心病也。
　　[6]因而腎氣熱為骨痿，則腰不能興舉，肺兼腎病也。
　　[7]因而肝氣熱為筋痿，則筋失所養，拘攣不伸，肺兼肝病也。
　　[8]因而脾氣熱為肉痿，則胃燥而渴，肌肉不仁，肺兼脾病也。
</pre>
<pre data-sec="p">
篇名：痿病
條文：痿痹辨似
痿病足兮痹病身，仍在不疼痛裏分，但觀治痿無風藥，始曉虛實別有因。
註：[1]痿痹之證，今人多為一病，以其相類也。
　　[2]然痿病兩足痿軟不痛，痹病通身肢節疼痛。
　　[3]但觀古人治痿，皆不用風藥，則可知痿多虛，痹多實，而所因有別也。
</pre>
<pre data-sec="p">
篇名：痿病
條文：痿病治法
痿燥因何治濕熱，遵經獨取治陽明，陽明無故惟病肺，胃壯能食審證攻，
控涎小胃濕痰熱，陽明積熱法三承，胃弱食少先養胃，久虛按證始收功。
註：[1]痿屬燥病，因何而用治濕熱苦燥之藥？蓋遵『內經』之治法， 
　　   獨取於陽明胃也。
　　[2]故胃家無病，雖有肺熱，惟病肺而不病痿也。是知病痿者， 
　　   胃家必有故也。或濕熱、或積熱、或濕痰，不論新久，若胃壯能食， 
　　   當先審證攻之。胃有濕痰，用控涎丹攻之。有濕熱者，用小胃丹攻之。
　　   有積熱者，用二承氣湯攻之。此治胃壯能食之法也。若胃弱飲食減少， 
　　   氣血津液不足，當先以補養脾胃為主。若有久病留連，諸虛燥熱， 
　　   或攻下之後調理，當審證治之，始收全功也。
</pre>
<pre data-sec="p">
篇名：痿病
條文：加味二妙湯
加味二妙濕熱痿，兩足痿軟熱難當，防己當歸川萆薢，黃蘗龜板膝秦蒼。
註：[1]熱難當，謂兩足熱難當也。
　　[2]膝秦蒼，謂牛膝、秦艽、蒼朮也。
</pre>
<pre data-sec="p">
篇名：痿病
條文：清燥湯  虎潛丸  十全大補湯  加味金剛丸
時令濕熱清燥效，陰虛濕熱虎靈，久虛痿軟全金主，萆瓜牛菟杜蓯蓉。
註：[1]清燥湯在內傷門。
　　[2]虎潛丸有成方。
　　[3]全金主，謂十全大補湯、加味金剛丸，久病氣血虛，以十全大補湯為主，
　　   筋骨痿軟，以加味金剛丸為主。
　　[4]加味金剛丸，即萆薢、木瓜、牛膝、菟絲子、杜仲、肉蓯蓉也。
</pre>
<pre data-sec="p">
篇名：腳氣
條文：腳氣總括
腳氣風寒濕熱病，往來寒熱狀傷寒，腿腳痛腫熱為火，不腫不熱是寒乾。
註：[1]腳氣內有濕熱，外感風寒，相合為病，故往來寒熱，狀類傷寒。
　　[2]兩腳腿痛腫熱如火者，是火盛也。
　　[3]不腫不熱而痛者，是寒盛也，名曰乾腳氣。
</pre>
<pre data-sec="p">
篇名：腳氣
條文：腳氣死證
腳氣脈急少腹頑，不三五日入心間，嘔吐喘滿目額黑，恍忽讝妄命難全。
註：[1]腳氣脈急，少腹頑木，不知痛癢，不過三、五日內，其邪必入心間， 
　　   若入心間，嘔吐喘滿，是為腳氣衝心之證。
　　[2]目額皆黑，恍惚讝妄，則是水來克火之徵，故曰命難全也。
</pre>
<pre data-sec="p">
篇名：腳氣
條文：攢風散  羌活導滯湯  勝濕餅子  五積散  獨活寄生湯
腳氣表解攢風散，麻桂杏草萆烏良，裏解導滯羌獨活，防己當歸枳大黃，
濕盛重腫勝濕餅，二丑蕎麵遂成方，寒濕五積加附子，寒虛獨活寄生湯。
註：[1]初病腳氣，表實無汗，用攢風散汗之，即麻黃、桂枝、杏仁、甘草、
　　   萆薢、炮川烏也。
　　[2]裏實熱盛，二便不利，用羌活導滯湯下之，即羌活、獨活、防己、當歸
　　   、枳實、大黃也。
　　[3]濕盛重腫，用勝濕餅子，即黑丑、白丑頭末，甘遂末，各五錢， 
　　   蕎麥麵一兩五錢，水和作餅，三錢，煮熟，空心茶清服逐之。
　　[4]寒濕者，用五積散加附子治之，方在傷寒門。
　　[5]寒虛者，用獨活寄生湯補之，方在痹門。
</pre>
<pre data-sec="p">
篇名：腳氣
條文：當歸拈痛湯
當歸拈痛虛濕熱，茵陳四苓與羌防，人參當歸升苓草，苦參知母葛根蒼。
註：[1]濕熱腳氣而形氣虛者，宜用當歸拈痛湯，即茵陳、白朮、茯苓、豬苓、
　　   澤瀉、羌活、防已、人參、當歸、升麻、黃芩、甘草、苦參、知母、
　　   葛根、蒼朮也。
</pre>
<pre data-sec="p">
篇名：腳氣
條文：加味蒼柏散
加味蒼柏實濕熱，二活二朮生地黃，知柏芍歸牛膝草，木通防己木瓜榔。
註：[1]濕熱腳氣而形質實者，宜用加味蒼柏散，即羌活、獨活、蒼朮、白朮、
　　   生地黃、知母、黃柏、赤芍、當歸、牛膝、甘草、木通、防己、木瓜、
　　   檳榔也。
</pre>
<pre data-sec="p">
篇名：腳氣
條文：大防風湯
兩膝腫大而疼痛，髀脛枯細鶴膝風，大防風附羌牛杜，十全大補減茯苓。
註：[1]兩膝腫大疼痛，膝上至髀、膝下脛足枯細，但存皮骨，兩膝狀若鶴膝，
　　   故名鶴膝風也。
　　[2]宜大防風湯，即防風、附子、羌活、牛膝、杜仲、人參、白朮、炙草、
　　   當歸、川芎、白芍、熟地、炙耆、肉桂也。
　　[3]此病若得之於痢疾病後者，名曰痢風，亦用此方。
</pre>
<pre data-sec="p">
篇名：內傷
條文：內傷總括
內傷勞役傷脾氣，飲食傷胃傷其形，傷形失節溫涼過，氣濕熱暑火寒中。
註：[1]勞役傷氣，傷元氣也。
　　[2]飲食傷形，傷胃府也。
　　[3]傷氣宜補，有熱中、濕熱、暑熱、火鬱、寒中之不同。
　　[4]傷形宜消，有飲食失節、過於溫涼之不一也。
</pre>
<pre data-sec="p">
篇名：內傷
條文：內傷外感辨似
內傷脈大見氣口，外感脈大見人迎，頭疼時痛與常痛，惡寒溫解烈火仍， 
熱在肌肉從內泛，熱在皮膚捫內輕，自汗氣乏聲怯弱，雖汗氣壯語高聲， 
手心熱兮手背熱，鼻息氣短鼻促鳴，不食惡食內外辨，初渴後渴少多明。
註：[1]內傷外感脈皆大，內傷之脈，氣口大於人迎，不似外感之脈， 
　　   人迎大於氣口也。
　　[2]內傷外感皆頭痛，內傷之頭痛有時而痛，有時不痛，不似外感之頭痛，
　　   常常而痛不休也。
　　[3]內傷外感皆惡寒，內傷之惡寒得就溫衣而即解，不似外感之惡寒， 
　　   雖近烈火而仍惡也。
　　[4]內傷外感皆發熱，內傷之發熱，熱在肌肉，以手捫之，熱從內泛， 
　　   不似外感之發熱，熱在皮膚，以手捫之，熱自內輕也。
　　[5]內傷外感皆自汗，內傷之自汗，氣短乏聲怯弱，不似外感之自汗， 
　　   氣壯促語聲高也。
　　[6]內傷外感手皆熱，內傷之熱手心熱，不似外感之熱，手背熱也。
　　[7]內傷外感皆鼻不和，內傷之鼻息氣短而喘，不似外感之鼻息， 
　　   氣促而嗚也。
　　[8]內傷外感皆不食，內傷之不食口中無味，不似外感之不食，聞食則惡也。
　　[9]內傷外感皆渴，內傷之渴初病即渴，其飲甚少，不似外感之渴， 
　　   三日後始渴，其飲甚多也。
</pre>
<pre data-sec="p">
篇名：內傷
條文：補中益氣湯
補中益氣升陽清，熱傷氣陷大虛洪，頭痛表熱自汗出，心煩口渴畏寒風，
因倦懶言無氣動，動則氣高喘促聲，保元甘溫除大熱，血歸氣朮補脾經，
佐橘降濁散滯氣，升柴從胃引陽升，陰火腎躁加地柏，陽熱心煩安神寧。
註：[1]補中益氣湯治內傷，清陽下陷，因勞役過度，熱傷元氣故脈虛大而洪也。
　　[2]內傷頭痛，時作時止也。
　　[3]內傷表熱，嘗自汗出也。
　　[4]心煩，氣虛惡煩勞也。
　　[5]口渴，氣陷不蒸化也。
　　[6]畏寒畏風，表氣虛失衛也。
　　[7]因倦懶言，氣乏不周也。
　　[8]動則氣喘上氣，不足息也。
　　[9]保元，謂人參、黃耆、甘草，名保元湯也。
　　[10]臣當歸和脾血，白朮益脾氣，佐橘皮降濁，散胸中滯氣， 
　　    升、柴、升清，從胃中引陽也。
　　[11]陰火時顯躁，加黃柏、生地，補水救陰。
　　[12]陽熱晝夜心煩，合硃砂安神丸，瀉火安神。
</pre>
<pre data-sec="p">
篇名：內傷
條文：調中益氣湯
調中弦洪緩沉澀，濕熱體倦骨痠疼，氣少心煩忽肥瘦，口沫食出耳鳴聾，
胸膈不快食無味，二便失調飧血膿，保元升柴蒼橘柏，去柏加木亦同名。
註：[1]調中益氣亦治內傷，清氣下陷，濁氣上乘，清濁相干而兼濕熱者， 
　　   故二便不調，飧瀉膿血也。
　　[2]此湯與補中益氣湯，雖互相發明，然其證脈則不可不分別也。
　　[3]內傷之病，脾胃元氣一虛，四藏失其調和，所以五藏之脈，交相混見，
　　   故肝弦、心洪、脾緩之脈反見於上。按之沉澀，肺脈而反見於下也。
　　[4]身肢重倦，氣不周也。
　　[5]骨節痠疼，血不榮也。
　　[6]氣少，中氣乏也。
　　[7]心煩，心血少也。
　　[8]忽肥忽瘦者，火乘土位，上并陽分，則血脈上行而上盛， 
　　   故面赤紅而肥；下并陰分，則血脈下行而上虛，故面青白而瘦。
　　[9]即今之虛損病人，早則面青白瘦而惡寒，午後則面紅赤肥而發熱者是也。
　　[10]口沫，謂口中沃沫，脾不散精也。
　　[11]食出，謂食入反出，胃虛不納也。
　　[12]耳鳴聾，謂耳鳴，耳聾，陰火上衝也。
　　[13]胸膈不快，濁氣滯也。
　　[14]飲食無味，胃氣傷也。
　　[15]二便不調，謂大便時瀉不瀉，小便時利不利，脾濕不分也。
　　[16]飧，謂完穀不化之飧瀉，脾虛濕不化也。
　　[17]血膿謂大便後或見膿見血，脾濕熱釀成也。
　　[18]保元，謂保元湯，即人參、黃耆、炙草、升麻、柴胡、蒼朮、橘皮、
　　    黃蘗也。
　　[19]去黃蘗加木香，亦名調中益氣湯，以熱少氣不和者宜之也。
</pre>
<pre data-sec="p">
篇名：內傷
條文：升陽益胃湯
內傷升陽益胃湯，濕多熱少抑清陽，倦怠懶食身重痛，口苦舌乾便不常，
灑灑惡寒屬肺病，慘慘不樂乃陽傷，六君白芍連澤瀉，羌獨黃耆柴與防。
註：[1]內傷氣虛，濕多熱少，遏抑春生清氣，不得上升，脾胃之證，宜服此湯。
　　[2]其證倦怠懶食，身重而痛，口苦舌乾，便不常，謂大便不調， 
　　   小便頻數不如常也。
　　[3]灑灑惡寒，衛氣不足，屬肺皮毛之病也。
　　[4]慘慘不樂，面色不和，乃陽氣傷而不伸也。
　　[5]六君，謂人參、白朮、茯苓、炙草、橘皮、半夏也。
　　[6]加白芍、黃連、澤瀉、黃耆、羌活、獨活、柴胡、防風， 
　　   即是升陽益胃也。
</pre>
<pre data-sec="p">
篇名：內傷
條文：補脾胃瀉陰火升陽湯
補中升陽瀉陰火，火多濕少困脾陽，雖同升陽益胃證，然無瀉數肺陽傷。
補脾胃氣參耆草，升陽柴胡升與羌，石膏芩連瀉陰火，長夏濕令故加蒼。
註：[1]內傷氣虛，熱多濕少，陰火困脾，陽氣不得上升，脾胃之證，宜服此方。
　　[2]此方所治，雖同升陽益胃之證，然無大便不證，小便頻數， 
　　   灑灑惡寒肺病，慘慘不樂陽傷之證也。
</pre>
<pre data-sec="p">
篇名：內傷
條文：內傷補中、調中、益胃等湯加減法：
冬加薑桂草蔻益，秋芍白蔻縮檳榔，夏月氣衝芩連柏，春加風藥鼓清陽，
長夏沉睏精神少，人參麥味澤苓蒼。肺熱欬嗽減參去，春加金沸款冬芳，
夏加麥冬五味子，秋冬連根節麻黃。頭痛蔓荊甚芎入，巔腦藁本苦細嚐。
沉重懶倦或嘔逆，痰厥頭疼半夏薑。口乾嗌乾或表熱，加葛生津清胃陽。
大便燥濇元明粉，血燥歸桃熟大黃，痞脹香砂連枳朴，寒減黃連加炒薑。
胃痛草蔻寒益智，氣滯青皮白蔻香。腹痛芍草芩桂審，臍下痛桂熟地黃。
內外煩疼歸和血，脇下痛急草柴良。身重腳軟已蒼柏，身疼發熱藁防羌。
註：[1]冬加乾薑、官桂、草豆蔻、益智、助陽氣也。
　　[2]秋加白芍、白豆蔻、縮砂仁、檳榔，助燥收也。
　　[3]夏月加黃連、黃芩、黃柏，降陰火也。
　　[4]或腹中氣上衝逆，屬陰火衝上，雖非夏月亦加之。
　　[5]春加風藥，謂羌活、獨活、防風、藁本之類，佐參耆之品； 
　　   能鼓清陽之氣上升也。
　　[6]長夏身肢沉困，精神短少，加人參、麥冬、五味子，恐暑傷氣也。
　　[7]加澤瀉、茯苓、蒼朮去脾濕也。
　　[8]肺中有熱欬嗽，減人參、遠肺熱也。
　　[9]春加金沸草、款冬花，散肺風也。
　　[10]夏加麥冬、五味子，保肺氣也。
　　[11]冬加連根節麻黃，散肺寒也。
　　[12]頭痛加蔓荊子，引太陽也。
　　[13]痛甚加川芎，上行捷也。
　　[14]巔痛腦痛加藁本，入督脈也。
　　[15]苦頭痛加細辛，走少陰也。
　　[16]痰厥頭痛，沉重懶倦，或嘔逆痰涎，加半夏，生薑，治痰逆也。
　　[17]口乾嗌乾，或表發熱，加葛根，生津解肌也。
　　[18]大便燥澀加元明粉，血虛燥加當歸，血實燥加桃仁，熱實燥加大黃， 
　　    心下痞脹氣不快加木香，食不消加砂仁，心下結熱加黃連， 
　　    心下結氣加枳實，胃氣壅塞加厚朴。
　　[19]如胃中寒，或冬月，減去黃連，加炒乾薑。
　　[20]胃痛加草豆蔻，胃寒或唾沫加益智，氣滿不快加白豆蔻，青皮， 
　　   腹痛加白芍、甘草，審其有熱加黃芩，有寒加官桂。
　　[21]臍下痛加肉桂、熟地黃。
　　[22]腹內身外刺痛，此屬血澀不足，加當歸以活血也。
　　[23]脇下痛或急縮，加甘草、柴胡、以和肝也。
　　[24]身重腳軟，加防己、蒼朮、黃柏，去濕熱在內也。
　　[25]身痛發熱，加藁本、防風、羌活，疏風在表也。
按：
</pre>
<pre data-sec="p">
篇名：內傷
條文：清暑益氣湯清燥湯長夏濕暑交相病，暑多清暑益氣功，汗熱煩渴倦少氣，惡
　　　食尿澀便溏行，補中去柴加柏澤，麥味蒼麴甘葛青，濕多痿厥清燥地，豬茯
　　　柴連減葛青。
註：[1]長夏之令，暑濕炎蒸，交相為病。
　　[2]暑多濕少為病，其證則自汗身熱，心煩口渴，倦困少氣惡食，小便澁少
　　   ，大便稀溏，宜清暑益氣湯，即補中益氣湯去柴胡，加黃柏、澤瀉、麥
　　   冬、五味子、蒼朮、神曲、甘葛、青皮也。
　　[3]若濕多暑少為病，則成痿厥之證，腰以下痿軟，難於轉動，行走不正，
　　   兩足欹側，宜清燥湯，即本方更加生地、豬苓、茯苓、柴胡、黃連，減
　　   去甘葛、青皮也。
</pre>
<pre data-sec="p">
篇名：內傷
條文：升陽散火湯  火鬱湯
血虛胃弱過食涼，陽鬱於脾散火湯，肌膚筋骨肢困熱，捫之烙手熱非常，
羌獨芍防升柴葛，人參二草棗生薑，火鬱加蔥減參獨，惡寒沉數發之方。
註：[1]二草，炙甘草、生甘草。
　　[2]惡寒，謂身雖有如是烙手之熱而反惡寒。
　　[3]脈來沉數，則可知火鬱肌裏，宜以此方發之。
</pre>
<pre data-sec="p">
篇名：內傷
條文：白朮附子湯  加味理中湯
內傷水來侮土病，寒濕白朮附子湯，涎涕腹脹時多溺，足軟無力痛為殃，
腰背胛眼脊背痛，丸冷陰陰痛不常，蒼附五苓陳半朴，虛宜理中附苓蒼。
註：[1]東垣內傷熱中之病，用補中益氣湯；寒中之病，用白朮附子湯。
　　[2]寒中為水來侮土，寒濕之病，其證內則腹脹時多溺涎涕， 
　　   外則足軟胛脊腰背睪丸痛。
　　[3]脾胃寒濕而氣不虛者，宜用是方，即五苓散加蒼朮、附子、
　　   陳皮、半夏、厚朴也。
　　[4]若脾胃寒濕而氣虛者，則宜用理中湯加附子、茯苓、蒼朮是也。
</pre>
<pre data-sec="p">
篇名：內傷
條文：人參資生丸
資生脾胃俱虛病，不寒不熱平補方，食少難消倒飽脹，面黃肌瘦倦難當。
註：[1]繆仲醇製資生丸方，為脾胃俱虛，不寒不熱平補之藥。
　　[2]其所治之證，乃飲食減少，過時不化，倒飽脹悶，面色痿黃， 
　　   肌肉漸瘦，困倦無力也。
　　[3]方見諸書，故不錄藥味。
</pre>
<pre data-sec="p">
篇名：內傷
條文：清胃理脾湯
清胃理脾治濕熱，傷食平胃酌三黃，大便黏穢小便赤，飲食愛冷口舌瘡。
註：[1]清胃理脾湯，即平胃散加黃連、黃芩、大黃也。
　　[2]酌三黃者，謂有熱滯而不實者，不可入大黃也。
　　[3]傷食，謂傷食病證，如痞脹、噦嘔、不食、吞酸、惡心、噫氣之類。
　　[4]更兼大便黏臭，小便赤澀，飲食愛冷，口舌生瘡，皆傷醇酒厚味， 
　　   濕熱為病之證也。
</pre>
<pre data-sec="p">
篇名：內傷
條文：理中湯
理中治虛寒濕傷，食少喜熱面青黃，腹痛腸嗚吐冷沫，大便腥穢似鴨溏。
註：[1]白朮附子湯，治脾胃寒濕形氣實者也。
　　[2]理中湯，治脾胃寒濕形氣虛者也。
　　[3]虛者，其證食少，喜食熱物，面色青黃，腹痛腸鳴，吐冷涎沫， 
　　   大便腥穢不臭，似鴨糞澄徹清溏也，故宜此湯。
</pre>
<pre data-sec="p">
篇名：內傷
條文：消食健脾丸
胃強脾弱脾胃病，能食不化用消食，平胃炒鹽胡椒共，麥蘗查麴白蒺藜。
註：[1]脾胃病中，有胃強脾弱一證，胃強所以能食，脾弱不能消化。
　　[2]宜服消食健脾湯丸，助其消化。
　　[3]用蒼朮、陳皮、厚朴、甘草、炒鹽、胡椒、山查、神麴、麥芽、
　　   白蒺藜，末，蜜丸服之。
　　[4]更節其飲食，自然脾胃和而能健運矣。
</pre>
<pre data-sec="p">
篇名：內傷
條文：開胃進食湯
開胃進食治不食，少食難化胃脾虛，丁木藿香蓮子朴，六君砂麥與神麴。
註：[1]此方治不思飲食，少食不能消化，脾胃兩虛之證。
　　[2]方即六君子湯，加丁香、木香、藿香、蓮子、厚朴、縮砂、
　　   麥芽、神麴也。
</pre>
<pre data-sec="p">
篇名：內傷
條文：平胃散
一切傷食脾胃病，痞脹噦嘔不能食，吞酸噁心並噫氣，平胃蒼朴草陳皮，
快膈枳朮痰苓半，傷穀二芽縮神麴，肉滯山查麵萊菔，滯熱芩連柏大宜。
註：[1]傷食等證，宜用平胃散，即蒼朮、厚朴、甘草、陳皮也。
　　[2]快膈加枳實，白朮，有痰加半夏、茯苓。
　　[3]傷穀滯者，加麥芽、穀芽、縮砂、神麴。
　　[4]傷肉滯者，加山查。
　　[5]傷麵滯者，加萊菔。
　　[6]有熱者，加黃芩、黃連、黃柏、大黃、酌而用之。
</pre>
<pre data-sec="p">
篇名：內傷
條文：葛花解酲湯
葛花解酲發酒汗，懶食熱倦嘔頭寒，參葛四苓白蔻縮，神麴乾薑陳木青。
註：[1]傷酒宜用葛花解酲湯汗之，汗出立愈。
　　[2]其證頭痛懶食，嘔吐身熱，倦怠而煩，似乎外感而實非外感， 
　　   皆因酒所致也。
　　[3]方即人參、葛花、白朮、茯苓、豬苓、澤瀉、白蔻、縮砂、神麴， 
　　   乾薑、陳皮、木香、青皮。
</pre>
<pre data-sec="p">
篇名：內傷
條文：秘方化滯丸
秘方化滯寒熱滯，一切氣積痛攻方，巴豆醋製稜莪朮，青陳連半木丁香。
註：[1]秘方化滯丸，治不論寒熱一切氣滯積痛，攻下之妙藥也。
　　[2]即巴豆、三棱、莪朮、青皮、陳皮、黃連、半夏、木香、丁香也。
　　[3]此方出『丹溪心法附餘』書中，屢試屢驗，按證隨引， 
　　   量其老少虛實增損進退，以意用之，久久自得其效。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：虛勞總括
虛損成勞因復感，陽虛外寒損肺經，陰虛內熱從腎損，飲食勞倦自脾成，
肺損皮毛灑寒嗽，心損血少月經凝，脾損食少肌消瀉，肝損脅痛懶於行。
腎損骨痿難久立，午熱夜汗骨蒸蒸，從下皮聚毛落死，從上骨痿不起終。
恐懼不解則傷精，怵惕思慮則傷神，喜樂無極則傷魄，悲哀動中則傷魂，
憂愁不巳則傷意，盛怒不止則傷志，勞倦過度則傷氣，氣血骨肉筋精極。
註：[1]虛者，陰陽、氣血、榮衛、精神、骨髓、津液不足是也。
　　[2]損者，外而皮、脈、肉、筋、骨，內而肺、心、脾、肝、腎消損是也。
　　[3]成勞者，謂虛損日久，留連不愈，而成五勞、七傷、六極也。
　　[4]因復感者，謂不足之人，陽虛復感外寒，則損從皮毛肺始； 
　　   陰虛更生內熱，則損從骨髓腎始；內傷飲食勞倦，則損從肌肉脾始。
　　[5]此虛損成勞之因，然其證有五：一損皮聚毛落，灑淅惡寒欬嗽， 
　　   肺勞也。二損血脈虛少，男子面無血色，女子月經不通，心勞也。
　　   三損飲食減少，肌肉消瘦，大便溏瀉，脾勞也。四損兩脇引胸而痛， 
　　   筋緩不能行，肝勞也。五損骨痿不能久立，午後發熱，盜汗骨蒸，腎勞也。
　　[6]從下腎藏損起者，損至皮聚毛落則死也。
　　[7]從上肺藏損起者，損至骨痿不能起於床則終也。
　　[8]從脾藏損起者，或至皮聚毛落，或至骨痿不起皆死也。
　　[9]虛損為七傷之證：一、恐懼不解則傷精，精傷則骨痠痿厥，精時自下，
　　   蓋五藏主藏精者也，不可傷，傷則失守而陰虛，陰虛則無氣，無氣則死矣。
　　   二、怵惕思慮則傷神，神傷則恐懼自失，破胭脫肉，毛瘁色夭，死於冬也。
　　   三、喜樂無極則傷魄，魄傷則狂，狂則意不存人，皮革焦，毛瘁色夭，
　　   死於夏也。四、悲哀動中則傷魂，魂傷則狂妄不精，不精則不正，
　　   陰縮而攣筋，兩脇骨不舉，毛瘁色夭，死於秋也。五、憂愁不巳則傷意，
　　   意傷則悗亂，四肢不舉，毛瘁色夭，死於春也。六、盛怒不止則傷志，
　　   志傷則喜忘其前言，腰脊不可以俯仰屈伸，毛瘁色夭，死於季夏也。
　　   七、勞倦過度則傷氣，氣傷則火愈壯，壯火則食氣，故無氣以動，
　　   喘乏汗出，內外皆越，則氣日耗，氣日耗則死矣。
　　[10]虛損為六極之證：一、數轉筋，十指爪甲痛，筋極也。二、牙齒動， 
　　    手足痛，不能久立，骨極也。三、面無血色，頭髮墜落，血極也。
　　    四、身上往往如鼠走，削瘦乾黑，肉極也。五、氣少無力，身無膏澤， 
　　    翕翕羸瘦，眼無精光，立不能定，身體苦癢，搔之生瘡，精極也。
　　    六、胸脇逆滿，恆欲大怒，氣少不能言，氣極也。
按：前人分七傷之證。似多不經。依『內經』改之。庶後學易明也。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：虛勞死證
陰勞細數形盡死，陽勞微革氣脫終，枯白顴紅一側臥，嗽啞咽痛咯星紅。
五藏無胃為真藏，形肉雖存不久停，一息二至名曰損，一息一至行屍名。
大骨枯槁大肉陷，動作益衰精髓空，真藏未見一歲死，若見真藏克期凶，
喘滿動形六月死，一月內痛引肩胸，身熱破䐃肉盡脫，十日之內不能生。
真藏脈見目眶陷，目不見人頃刻傾，若能見人神猶持，至所不勝日時終。
註：[1]陰虛之勞脈細數，則必形消著骨而後死者，陰主形也。
　　[2]陽虛之勞脈微革，則不待痿盡忽然而脫者，陽主氣也。
　　[3]五藏之脈無和緩象，為無胃之真藏脈，即形肉雖存，亦必不久於人世也。
　　[4]一息二至，損病之脈也。
　　[5]一息一至，行屍之脈也。
　　[6]大骨，顴、肩、股腰之大骨也。
　　[7]大肉，頭、項、四肢之大肉也。
　　[8]枯槁者，骨痿不能支也。
　　[9]陷下者，肉消陷成坑也。
　　[10]動作精神漸衰，真藏脈不見，期一歲死，若真藏脈見， 
　　    遇所不勝之時日凶可期也。
　　[11]若真藏脈不見，有是證者，喘滿動形，六月而死；有是證者， 
　　    五藏內損，痛引肩胸者，一月而死；有是證者，肉盡之處，皆枯燥破裂， 
　　    謂之破䐃，身熱不巳，十日內死。
　　[12]真藏脈見，目眶下陷，視不見人，頃刻而死。若能見人，則神尚未去，
　　    至所不勝之日時而死也。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：虛勞治法
後天之治本血氣，先天之治法陰陽，腎肝心肺治在後，脾損之法同內傷。
註：[1]後天脾胃水穀生化榮衛，故治法本乎氣血。
　　[2]先天腎藏精氣生化之原，故治法本乎陰陽。
　　[3]五藏虛損治法，俱在於後，而脾藏虛損治法巳載內傷，故曰同內傷也。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：拯陰理勞湯
陰虛火動用拯陰，皮寒骨蒸欬嗽侵，食少痰多煩少氣，生脈歸芍地板貞。
薏苡橘丹連合草，汗多不寐加棗仁，燥痰桑貝濕苓半，阿膠欬血骨熱深。
註：[1]此方即人參、麥冬、五味、當歸、白芍、生地、龜板、女貞、薏苡、
　　   橘紅、丹皮、蓮子、百合、炙草也。
　　[2]汗多不寐，俱加棗仁。
　　[3]欬而嗽痰，加桑皮、貝母。
　　[4]嗽而濕痰，加茯苓、半夏。
　　[5]欬嗽、咯血、加阿膠。
　　[6]骨蒸熱深，加地骨皮也。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：拯陽理勞湯
陽虛氣弱用拯陽，倦怠惡煩勞則張，表熱自汗身痠痛，減去升柴補中方，
更添桂味寒加附，瀉八升柴訶蔻香，夏欬減桂加麥味，冬欬不減味乾薑。
註：[1]此湯即人參、黃耆、炙草、白朮、陳皮、肉桂、當歸、五味子也。
　　[2]倦怠，懶於動也，惡煩勞動，則氣張而喘乏也。惡寒加附子； 
　　   泄瀉仍入升麻、柴胡，更加訶子、肉蔻、木香也。夏月欬嗽， 
　　   減肉桂加麥冬、五味子；冬月欬嗽，不減肉桂，更加五味子、乾薑也。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：六味地黃湯  都氣湯  七味地黃湯  生脈地黃湯  桂附地黃湯  知柏地黃湯
金匱腎氣湯
腎虛午熱形消瘦，水泛為痰津液傷，欬嗽盜汗失精血，消湯淋濁口咽瘡，
熟地藥萸丹苓澤，加味勞嗽都氣湯，引火歸元加肉桂，火妄刑金生脈良。
桂附益火消陰翳，知柏壯水製陽光，車牛桂附名腎氣，陽虛水腫淋濁方。
註：[1]午熱，午後發熱也。
　　[2]水泛為痰，謂日食飲食所化津液，腎虛不能攝水，泛上為痰也。
　　[3]盜汗，謂睡而汗出，覺而即止之汗也。
　　[4]失精，遺精也。
　　[5]消渴，謂飲水而即消，渴仍不止也。
　　[6]淋者，尿淋漓不利也。
　　[7]濁者，尿之前後有濁液也。
　　[8]口咽生瘡，虛火炎也。均宜六味地黃湯治之。
　　[9]勞嗽加味，謂加五味子，名都氣湯也。
　　[10]引火歸原加肉桂，名七味地黃湯。
　　[11]火妄刑金加生脈飲，名生脈地黃湯。
　　[12]桂附，謂加肉桂、附子。
　　[13]知柏，謂加知母、黃柏。
　　[14]車牛桂附，謂加車前、牛膝、肉桂、附子，名桂附、知柏腎氣等湯也。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：大補陰丸  滋陰降火湯  
大補陰丸制壯火，滋陰降火救傷金，龜板知柏地髓劑，二冬歸芍草砂仁，
欬加百味汗地骨，血痰金貝虛耆參，虛熱無汗宜散火，有汗骨蒸亦補陰。
註：[1]陰虛火旺，無水以制，宜用大補陰丸滋水制火。
　　[2]方即龜板、知母、黃柏、生地，為末，豬脊髓煉蜜為丸。
　　[3]若火旺無制，妄行傷金，肺痰欬嗽，宜用滋陰降火湯救其傷金。
　　[4]方即大補陰丸加麥冬、天冬、當歸、白芍、炙草、縮砂。
　　[5]欬甚加百合、五味子，盜汗加地骨皮，咯血加鬱金，痰多加川貝母， 
　　   氣虛加人參、黃耆。
　　[6]凡虛熱如火烙手，無汗者為火鬱，宜升陽散火湯，有汗者為骨蒸， 
　　   亦宜大補陰丸及滋陰六黃等湯也。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：保元湯
一切氣虛保元湯，耆外參內草中央，加桂能生命門氣，痘瘡灰陷與清漿。
註：[1]保元湯，即人參、黃耆、炙草也。
　　[2]黃耆補表氣，人參補裏氣，炙草補中氣，加肉桂能生命門真氣， 
　　   且能治小兒痘瘡灰白、頂陷、清漿。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：四君子湯  五味異功湯  六君子湯  七味白朮散  四獸飲
脾胃氣虛四君子、脈軟形衰面白黃，倦怠懶言食少氣，參苓朮草棗薑強。
氣滯加陳異功散，有痰橘半六君湯，肌熱瀉渴藿木葛，虛瘧六君果梅薑。
註：[1]治氣虛兼氣滯不快，依四君加陳皮，名五味異功散。
　　[2]治氣虛兼有痰飲，依四君加橘紅、半夏，名六君子湯。
　　[3]治氣虛肌熱渴瀉，依本方加藿香，木香、葛根，名七味白朮散。
　　[4]治氣虛久瘧留連不愈，依六君子湯，君草果、烏梅、生薑、名四獸飲。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：芎歸湯  開骨散
一切血病芎歸湯，產後胎前必用方，氣虛難產參倍人，交骨難開龜髮良。
註：[1]芎歸湯，即川芎、當歸，又名佛手散。
　　[2]氣虛產難或時久傷氣，依本方倍加人參。
　　[3]臨產交骨難開，依本方加整龜板一具，本人梳下亂髮一團， 
　　   他人梳下之髮亦可，名開骨散。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：四物湯  聖愈湯  六物湯  加味四物湯  地骨皮飲
調肝養血宜四物，歸芎芍地酌相應，氣虛血少參耆補，氣燥血熱知柏清。
寒熱柴丹炒梔子，但熱無寒丹骨平，熱甚苓連寒桂附，止血茅蒲破桃紅。
註：[1]調肝養血宜四物湯，即當歸、川芎、白芍、熟地黃。
　　[2]酌相應，謂補血用白芍、熟地，破血用赤芍，涼血用生地，氣虛血少，
　　   宜加參、耆，名聖愈湯。
　　[3]氣燥血熱，宜加知蘗，名六物湯。
　　[4]血虛寒熱往來，宜加味四物湯，即本方加柴胡、丹皮、炒梔子也。
　　[5]血虛惟發熱不惡寒，宜地骨皮飲，即本方加地骨皮、牡丹皮也。
　　[6]血分熱甚，依本方加黃芩、黃連。
　　[7]寒甚加肉桂、附子、破血加桃仁、紅花，止血加茅根、蒲黃炒黑。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：八珍湯  十全大補湯  人參養榮湯
一切氣血兩虛證，八珍四物與四君，氣乏色枯毛髮落，自汗盜汗悸忘臻，
發熱欬嗽吐衄血，食少肌瘦泄瀉頻，十全大補加耆桂，榮去芎加遠味陳。
註：[1]氣虛，四君子湯。
　　[2]血虛，四物湯。
　　[3]氣血兩虛，八珍湯。
　　[4]八珍者，即四君、四物也。
　　[5]若有氣乏色枯，毛髮脫落，自汗盜汗，心悸健忘，發熱欬嗽， 
　　   吐血、衄血，食少肌瘦，泄瀉等證，則宜十全大補湯， 
　　   即八珍湯加黃耆、肉桂也。
　　[6]人參食養榮湯，即十全大補湯減去川芎，更加遠志、五味子、陳皮也。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：小建中湯  黃耆建中湯  當歸建中湯  雙和飲
虛勞腹痛小建中，悸衄之血夢失精，手足頻熱肢酸痛，芍草飴桂棗薑同，
衛虛加耆黃耆建，榮虛當歸建中名，溫養氣血雙和飲，三方減飴加地芎。
註：[1]諸虛勞極，裏急腹痛，宜以小建中湯溫和脾胃。
　　[2]並治裏虛心悸，衄下亡血，夜夢失精，手足煩熱，四肢痠痛， 
　　   血液虧損等證。
　　[3]是方白芍藥、甘草、飴糖、中桂、大棗、生薑也。
　　[4]若衛氣虛者，加黃耆，名曰黃耆建中湯。
　　[5]若裏不急、腹不痛有是證者，則當以溫養氣血，用雙和飲， 
　　   即此三方減去飴糖，加入熟地、川芎，乃八珍湯減人參、白朮、茯苓， 
　　   加黃耆、中桂，蓋以補陰血為主也。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：補肝湯
補肝湯治肝虛損，筋緩不能自收持，目暗䀮䀮無所見，四物酸棗草瓜宜。
註：[1]補肝湯，即當歸、川芎、白芍、熟地、酸棗仁、炙草、木瓜也。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：加味救肺飲
加味救肺治肺損，嗽血金家被火刑，歸芍麥味參耆草，百花紫菀馬兜鈴。
註：[1]加味救肺飲，即當歸、白芍、麥冬、五味子、人參、黃耆、炙草、
　　   百合、款冬花、紫菀、馬兜鈴也。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：天王補心丹
天王補心心虛損，健忘神虛煩不眠，柏子味苓歸地桔，三參天麥遠朱酸。
註：[1]是方，即柏子仁、五味子、茯苓、當歸、生地、桔梗、丹參、人參、
　　   元參、天冬、麥冬、遠志，朱砂、酸棗仁。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：歸脾湯
歸脾思慮傷心脾，熱煩盜汗悸驚俱，健忘怔忡時恍惚，四君酸遠木歸耆。
註：[1]悸，心自跳動也。
　　[2]驚，目觸物駭也。
　　[3]健忘，言事易忘也。
　　[4]怔忡，心衝動甚也。
　　[5]恍惚，心時不明也。
　　[6]方乃四君子，加酸棗仁、遠志、木香、當歸、黃耆。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：人參固本湯丸  保元生脈固本湯  
固本肺腎兩虛病，肺痿欬血欲成勞，二冬二地人參共，保元生脈脾同調。
註：[1]人參固本湯、丸，即人參、天冬、麥冬、生地、熟地也。
　　[2]依本方再加保元之黃耆、炙草，生脈之五味，三方合一， 
　　   名保元生脈固本湯。
　　[3]同調，謂同調脾、肺、腎三經虛也。
</pre>
<pre data-sec="p">
篇名：虛勞
條文：逍遙散
逍遙理脾而清肝，血虛骨蒸煩嗽痰，寒熱頰赤脇不快，婦人經痛脈虛弦，
朮芩歸芍柴薄草，加味梔丹肝熱添，肝氣滯鬱陳撫附，熱加吳萸炒黃連。
註：[1]是方，即白朮、茯苓、當歸、白芍、柴胡、薄荷、甘草也。
　　[2]肝氣熱，依本方加炒梔子、丹皮，名加味逍遙散。
　　[3]肝氣滯加陳皮，肝氣鬱加撫芎、香附。
　　[4]肝氣鬱熱，加吳茱萸、炒川黃連。惟薄荷只可少許為引，不宜多用。
</pre>
<pre data-sec="p">
篇名：癆瘵
條文：癆瘵總括
癆瘵陰虛蟲乾血，積熱骨蒸欬嗽痰，肌膚甲錯目黯黑，始健不瀉下為先。
註：[1]久病癆疾而名曰瘵。
　　[2]瘵者，敗也，氣血兩敗之意也。
　　[3]有陰虛乾血者，有陰虛積熱者，當以諸補陰藥治之。
　　[4]肌膚甲錯，謂皮膚乾澀也。
　　[5]目黯黑者，謂目黑無光也。
　　[6]始健，謂初病尚壯；不瀉，謂久病不瀉也，二者皆可以攻下為先治也。
</pre>
<pre data-sec="p">
篇名：癆瘵
條文：癆瘵總括
癆瘵至瀉則必死，不瀉能食尚可痊，初取利後宜詳審，次服柴胡清骨煎，
虛用黃耆鱉甲散，熱衰大補養榮參，皮熱柴胡胡連入，骨蒸青蒿鱉甲添，
陰虛補陰諸丸劑，陽虛補陽等湯圓，欬嗽自同欬嗽治，嗽血成方太平丸。
註：[1]癆瘵之人，病至大便泄瀉，則必死矣。
　　[2]若不瀉能食，尚堪任藥攻治，故可痊也。
　　[3]初取利後，審其熱之微甚，人之強弱，若熱甚人強，宜用柴胡清骨散。
　　   熱不甚人弱，宜用黃耆鱉甲散。熱微人弱、宜用十全大補、
　　   人參養榮等湯。
　　[4]若皮外發熱，加柴胡、胡連。骨內蒸熱，加青蒿、鱉甲。
　　[5]午後陰虛發熱，宜用補陰諸丸湯藥。
　　[6]陽虛惡寒清瘦，宜用補陽諸丸湯藥。
　　[7]欬嗽不巳，同欬門方參而治之。
　　[8]嗽血者，宜用成方太平丸可也。
</pre>
<pre data-sec="p">
篇名：癆瘵
條文：大黃䗪蟲丸  大黃青蒿煎  傳尸將軍丸
乾血大黃䗪蟲治，積熱蒿黃膽便煎，癸亥腰眼炙七壯，後服傳屍將軍丸。
註：[1]大黃䗪蟲丸有成方。
　　[2]大黃青蒿煎，即青蒿、大黃、豬膽汁、童便煎。
　　[3]癆瘵日久，有生惡蟲，身死之後，多遭傳染，甚而滅門，名曰傳尸癆，
　　   宜癸亥日炙兩腰眼各七壯，後服傳尸將軍丸。
　　[4]此方載『丹溪心法』書中。
</pre>
<pre data-sec="p">
篇名：癆瘵
條文：柴胡清骨散
清骨骨蒸久不痊，熱甚秦知草胡連，鱉甲青蒿柴地骨，韭白髓膽童便煎。
註：[1]此方乃秦艽、知母、炙草、胡連、鄨甲、青蒿、柴胡、地骨皮、韭白、
　　   豬脊髓、豬膽汁、童便也。
</pre>
<pre data-sec="p">
篇名：癆瘵
條文：黃耆鱉甲散
黃耆鱉甲虛勞熱，骨蒸晡熱渴而煩，肌肉消瘦食減少，盜汗欬嗽出血痰，
生地赤芍柴秦草，知耆菀骨半苓煎，人參桂桔俱減半，鱉甲天冬桑倍添。
註：[1]此方即生地、赤芍、柴胡、秦艽、炙草、知母、黃耆、紫菀、地骨皮、
　　   半夏、茯苓、人參、桂枝、桔梗、鱉甲、天冬、桑白皮也。
</pre>
<pre data-sec="p">
篇名：自汗盜汗
條文：
自汗表陽虛惡冷，陽實蒸熱汗津津，盜汗陰虛分心腎，心虛不固火傷陰。
註：[1]無因汗出，謂之自汗。
　　[2]自汗謂表陽虛，汗出則惡寒冷，宜用後方。
　　[3]若蒸蒸發熱，汗出不惡寒，則為裏陽實，宜以調胃承氣湯下之。
　　[4]睡則出，覺則汗止，謂之盜汗。
　　[5]盜汗為陰虛，當分心虛不固，心火傷陰也。
</pre>
<pre data-sec="p">
篇名：自汗盜汗
條文：黃耆六一湯  玉屏風散  黃耆建中湯
自汗表虛黃耆草，玉屏風散朮耆防，氣虛加參陽虛附，血虛黃耆建中湯。
註：[1]黃耆六一湯，即黃耆六錢，甘草一錢也。
　　[2]玉屏風散，即黃耆、白朮、防風也。二方皆治表虛自汗，若氣虛加人參，
　　   陽虛加附子可也。
　　[3]若不惡寒不氣少，則為血虛，不可用參、附，宜黃耆建中湯， 
　　   即小建中湯加黃耆也。方在傷寒門。
</pre>
<pre data-sec="p">
篇名：自汗盜汗
條文：當歸六黃湯  酸棗仁湯
盜汗心火下傷陰，歸耆二地柏連芩，心虛酸棗芍歸地，知柏苓耆五味參。
註：[1]當歸六黃湯，治心火傷陰盜汗，即當歸、黃芩、黃連、黃柏、
　　   生熟地黃也。
　　[2]酸棗仁湯，治心虛不固盜汗，即酸棗仁、當歸、白芍、生地、知母、
　　   黃柏、茯苓、黃耆、五味子、人參也。
</pre>
<pre data-sec="p">
篇名：失血
條文：失血總括
九竅出血名大衄，鼻出鼻衄腦如泉，耳目出血耳目衄，膚出肌衄齒牙宣， 
內衄嗽涎脾唾腎，咯心欬肺嘔屬肝，精竅溺血膀胱淋，便血大腸吐胃間。
註：[1]九竅一齊出血，名曰大衄。
　　[2]鼻出血，曰鼻衄。
　　[3]鼻出血如泉，曰腦衄。
　　[4]耳出血，曰耳衄。
　　[5]目出血，曰目衄。
　　[6]皮膚出血，曰肌衄。
　　[7]齒牙出血，曰齒衄，又名牙宣。
　　[8]此皆衄血隨所患處而命名也。
　　[9]若從口出則為內衄。內衄出血，涎嗽出於脾，唾出於腎，咯出於心， 
　　   欬出於肺，嘔出於肝，吐出於胃。
　　[10]溺血從精竅而出，淋血從膀胱而出。
　　[11]嘔吐之分，嘔則有上逆漉漉之聲，吐則無聲也。
</pre>
<pre data-sec="p">
篇名：失血
條文：失血死證
失血身涼脈小順，大疾身熱臥難凶，口鼻湧出而不止，大下潰腐命多傾。
註：[1]大疾，脈大疾也。
　　[2]臥難，不能臥也。
　　[3]大衄、大下，血出如湧泉不止，內潰腐屍之氣，則命傾也。
</pre>
<pre data-sec="p">
篇名：失血
條文：失血治法
陽乘陰熱血妄行，血犯氣分不歸經，血病及府滲入濁，由來藏病溢出清。
熱傷失血宜清熱，勞傷理損自然平，努即內傷初破逐，久與勞傷治法同。
註：[1]凡失血之證，陽盛乘陰，則血為熱迫，血不能安於脈中而妄行氣分， 
　　   不能回歸經脈也。
　　[2]若血病傷及於府者，則血滲入腸胃濁道，上從咽出，下從二便而出也。
　　[3]血病傷及於藏者，則血溢出胸中清道，上從喉出，下從精竅而出也。
　　[4]夫血藏於藏內，行於脈中，軀殼之中不可得而見也，非有損傷， 
　　   不能為病。
　　[5]而損傷之道有三：一曰熱傷，宜以清熱為主；一曰勞傷，宜以理損為主；
　　   一曰努傷，初宜以破逐為主，久亦宜以理損為主也。
</pre>
<pre data-sec="p">
篇名：失血
條文：犀角地黃湯
熱傷一切失血病，犀角地黃芍牡丹，胸膈滿痛加桃大，熱甚吐衄入芩連，
因怒嘔血柴梔炒，唾血元參知柏煎，咯知二冬嗽二母，涎壅促嗽鬱金丸。
註：[1]熱傷一切失血之病，皆宜犀角地黃湯。若胸膈滿痛，是為瘀血， 
　　   加桃仁、大黃。若吐血熱盛，加黃芩、黃連。因怒致吐血及嘔血者， 
　　   加柴胡、炒梔。唾血加元參、黃柏、知母。咯血加天冬、麥冬。
　　   嗽血加知母、貝母。
　　[2]涎壅氣促，陣陣急嗽帶出血者，宜鬱金丸，方在後。
</pre>
<pre data-sec="p">
篇名：失血
條文：加味救肺飲加鬱金湯
勞傷吐血救肺飲，嗽血加調鬱金湯。形衰無熱氣血弱，人參養榮加麥良。
註：[1]救肺飲，即虛勞門之加味救肺飲加調鬱金末也。
　　[2]若氣血虛弱不見火象，宜用人參養榮湯、加麥門冬也。
</pre>
<pre data-sec="p">
篇名：失血
條文：芎歸飲
飽食用力或持重，努破脈絡血歸芎，嘔血漉漉聲上逆，跌撲墮打有瘀行。
註：[1]飽食用力，或因持重努傷脈絡，失血湧吐，宜用芎歸飲，引血歸經。
　　[2]及嘔血跌撲墮打，傷其脈絡，令人大吐者，亦皆宜之。
　　[3]其有瘀血者，或加大黃以下之，或加桃仁、紅花以破之。
　　[4]或加鬱金、黃酒以行之。
</pre>
<pre data-sec="p">
篇名：失血
條文：參地煎
參地衄吐血不巳，熱隨血減氣隨亡，氣虛人參為君主，血熱為君生地黃。
註：[1]參地煎，即人參、生地黃也。
　　[2]凡因熱傷衄、吐血不巳者，則熱巳隨血減，然氣亦隨血亡也。
　　[3]氣虛甚者，當倍人參為君。
　　[4]血熱者，宜倍生地為君。
　　[5]時時煎服自止也。
</pre>
<pre data-sec="p">
篇名：失血
條文：瀉肺丸
嗽血壅逆虛蘇子，積熱痰黃瀉肺丸，蔞仁半貝金葶杏，三黃惟大有除添。
註：[1]嗽血痰壅氣逆，形氣虛者，蘇子降氣湯降之。
　　[2]方見諸氣門。
　　[3]痰黃積熱，形氣實者，用瀉肺丸下之，即栝蔞仁、半夏、浙貝母、
　　   鬱金、苦葶藶子、杏仁、黃連、黃芩、大黃也。
　　[4]惟大黃形氣實者加之，若形氣虛者，或大便溏瀉，則減去不用。
</pre>
<pre data-sec="p">
篇名：失血
條文：保肺湯
保肺肺癰吐膿血，白芨薏苡貝金陳，苦梗苦葶甘草節，初加防風潰耆參。
註：[1]保肺湯，即白芨、薏苡仁、貝母、金銀花、陳皮、苦桔梗、苦葶藶、
　　   甘草節也。
　　[2]初起加防風，潰後加生黃耆、人參。
</pre>
<pre data-sec="p">
篇名：失血
條文：牛膝四物湯
尿血同出痛淋血，尿血分出溺血名，溺血精竅牛四物，淋血八正地金通。
註：[1]淋血、溺血二證若尿與血同出而痛，名曰淋血。尿與血分出，名曰溺血。
　　[2]溺血為精竅之病，用四物倍加牛膝。
　　[3]淋血為尿竅之病，用八正散，加木通、生地、鬱金治之。
</pre>
<pre data-sec="p">
篇名：失血
條文：珀珠散
溺血諸藥而不效，塊血竅滯莖急疼，珀珠六一硃砂共，引煎一兩整木通。
註：[1]溺血一證，乃精竅為病，每因忍精不泄，提氣採戰，或因老年竭慾而成。
　　[2]服諸藥不效者，所溺之血成塊，竅滯不利，莖中急疼欲死者，用珀珠散，
　　   日三服，每服三錢，引用整木通去粗皮黃色者，煎湯調服。
　　   其方即琥珀末一錢，珍珠末五分，硃砂末五分，飛滑石六錢，甘草末一錢， 
　　   合均，分三服。
　　[3]若其人大便結燥不通，以八正散加牛膝、鬱金下之。有熱尿澀， 
　　   以導赤散加牛膝、鬱金清之。
　　[4]痢後仍服此藥，自有奇功。
</pre>
<pre data-sec="p">
篇名：失血
條文：槐花散
便血內熱傷陰絡，風合腸風濕藏瘍，槐花側枳連炒穗，風加秦防濕楝蒼。
註：[1]便血二證，腸風、藏毒。其本皆熱傷陰絡，熱與風合為腸風，下血多清；
　　   熱與濕合為藏毒，下血多濁。均宜槐花散，即炒槐花、炒側柏葉、
　　   醋炒枳殼、川黃連、炒荊芥穗，為末，烏梅湯調服。
　　   腸風，加秦艽、防風。藏毒，加炒苦棟，炒蒼朮。
　　[2]若大腫大痛，大便不通，當以藏毒未潰之瘍治之，非藏毒下血之病也。
</pre>
<pre data-sec="p">
篇名：失血
條文：升陽去濕和血湯
便血日久涼不應，升補升耆蒼桂秦，歸芍丹陳二地草，熱加萸連虛人參。
註：[1]便血日久，服涼藥不應，宜升補，用升陽去濕和血湯。即升麻、黃耆、
　　   蒼朮、肉桂、秦艽、當歸、白芍、丹皮、陳皮、生地、熟地、生甘草、
　　   炙甘草也。有熱，稍加吳茱萸炒川連。虛加人參可也。
</pre>
<pre data-sec="p">
篇名：消渴
條文：消渴總括
試觀年老多夜溺，休信三消盡熱乾，飲多尿少渾赤熱，飲少尿多清白寒。
註：[1]上消屬肺，飲水多而小便如常；中消屬胃，飲水多而小便短赤； 
　　   下消屬腎，飲水多而小便渾濁，三消皆燥熱病也。
　　[2]然試觀年老好飲茶者，夜必多溺，則休信三消皆熱，而亦有寒者矣。
　　[3]飲水多，小便少而渾赤者屬熱，是火盛耗水而渾也。
　　[4]飲水少，小便多而清白者屬寒，是火虛不能耗水也。
</pre>
<pre data-sec="p">
篇名：消渴
條文：消渴生死
三消便鞕若能食，脈大實強尚可醫，不食舌白傳腫瀉，熱多舌紫發癰疽。
註：[1]三消，飲水多不能食。若能食大便鞕，脈大強實者，為胃實熱， 
　　   下之尚可醫也。若不能食，濕多舌白滑者，病久則傳變水腫泄瀉。
　　   熱多舌紫乾者，病久則發癰疽而死也。
</pre>
<pre data-sec="p">
篇名：消渴
條文：消渴治法  竹葉黃耆湯
便鞕能食脈大強，調胃金花斟酌當，不食渴瀉白朮散，竹葉黃耆不瀉方，
黃耆黃芩合四物，竹葉石膏減粳薑，氣虛胃熱參白虎，飲一溲二腎氣湯。
註：[1]謂胃，謂調胃承氣湯。
　　[2]金花，謂梔子金花湯。
　　[3]方俱在傷寒門，酌其所當用可也。
　　[4]不食而渴，巳屬胃虛，兼之泄瀉，胃虛無熱矣。故用七味白朮散， 
　　   方在虛損門。
　　[5]若不食而渴，亦不瀉者，是雖虛而猶有燥熱也，宜用竹葉黃耆湯， 
　　   即黃耆、黃芩、當歸、川芎、白芍、生地、竹葉、石膏、人參、炙草、
　　   麥冬、半夏也。
　　[6]若氣虛胃熱盛者，宜用人參白虎湯。
　　[7]若下焦虛寒，飲一溲二者，宜用腎氣湯。
</pre>
<pre data-sec="p">
篇名：神病
條文：神之名義
形之精粹處名心，中含良性本天真，天真一氣精神祖，體是精兮用是神。
註：[1]動植之物，一有其形，則形之至精、至粹之處，即名曰心。
　　[2]動物之心者，形若垂蓮中含天之所賦，虛靈不昧之靈性也。
　　[3]植物之心者，即中心之芽，中含天之所賦、生生不巳之生意也。
　　[4]此形若無此心，則形無主宰，而良性、生意亦無著落矣。
　　[5]此心若無良性、生意，則心無所施用，不過是一團死肉， 
　　   一枯草木之芽耳。
　　[6]蓋人雖動物之貴，而其中含良性與一切動物皆同，本乎天真也。
　　[7]天真之氣，分而言之為精、氣、神。故曰：以精為體，以神為用也。
　　   合而言之，渾然一氣，故曰：天真一氣，精神之祖也。
</pre>
<pre data-sec="p">
篇名：神病
條文：神之變化
神從精氣妙合有，隨神往來魂陽靈，并精出入陰靈魄，意是心機動未形，
意之所專謂之志，志之動變乃思名，以思謀遠是為慮，用慮處物智因生。
註：[1]魂，陽之靈，隨神往來。
　　[2]魄，陰之靈，并精出入。
　　[3]蓋神機不離乎精氣，亦不雜乎精氣，故曰：妙合而有也。
　　[4]故指神而言，則神超乎精氣之外。
　　[5]指精氣而言，則神寓乎精氣之中。
　　[6]意者，心神之機，動而未形之謂也。
　　[7]志者，意所專注也。
　　[8]思者，志之變動也。
　　[9]慮者，以思謀遠之謂也。
　　[10]智者，以慮處物之謂也。
　　[11]此皆識神變化之用也。
</pre>
<pre data-sec="p">
篇名：神病
條文：五藏神情
心藏神兮脾意智，肺魄肝魂腎志精，氣和志達生喜笑，氣暴志憤恚怒生，
憂思繫心不解散，悲哭哀苦悽然情，內生懼恐求人伴，外觸駭然響動驚。
註：[1]五藏所藏七神：心藏神，脾藏意與智，肺藏魄，肝藏魂，腎藏精與志也。
　　[2]五藏所生七情：心生喜：肝生怒，脾生憂、思，肺生悲，腎生恐也。
　　   氣和則志達，故生喜笑。氣暴則自憤，故生恚怒。繫心不解散，故生憂思。
　　   悽心則哀苦，故生悲哭。內恐外觸非常事物，故生恐懼驚駭也。
</pre>
<pre data-sec="p">
篇名：神病
條文：神病治法  朱砂安神丸
內生不恐心跳悸，悸更驚惕是怔忡，善忘前言口健忘，如昏似慧恍惚名，
失志傷神心膽弱，痰飲九氣火相乘，清熱硃連歸地草，餘病他門治法精。
註：[1]驚悸、怔忡、健忘、恍惚、失志、傷神等病，皆因心虛膽弱， 
　　   諸邪得以乘之也。
　　[2]心氣熱者，先用朱砂安神丸以清之。
　　[3]其餘虛實諸邪，則當以虛損，九氣、癲癇、痰飲等門合證揀方， 
　　   自有效法之處。
</pre>
<pre data-sec="p">
篇名：神病
條文：仁熟散
恐畏不能獨自臥，膽虛氣怯用仁熟，柏仁地枸味萸桂，參神菊殼酒調服。
註：[1]恐畏不能獨自臥者，皆因氣怯膽虛也。
　　[2]仁熟散，即柏子仁、熟地黃、枸杞子、五味子、山茱萸、桂心、人參、
　　   茯神、菊花、枳殼，為末，老酒調服也。
</pre>
<pre data-sec="p">
篇名：癲癇
條文：癲癇
經言癲狂本一病，狂乃陽邪癲是陰。癲疾始發意不樂，甚則神癡語不倫。
狂怒凶狂多不臥，目直罵詈不識親。癇發吐涎昏噤倒，抽搐省後若平人。
註：[1]李時珍曰：經有言癲狂者，又言癲疾為狂者，是癲狂為兼病也。
　　   邪入於陽者狂，邪入於陰者癲。
　　[2]蓋癲疾始發，志意不樂，甚則精神呆癡，言語不倫，而睡如平時， 
　　   以邪併於陰也。
　　[3]狂疾始發多怒不臥，甚則凶狂欲殺，目直罵詈，不識親疏，而夜多不臥，
　　   以邪併於陽也。
　　[4]然俱不似癇疾發則吐涎神昏猝倒無知，口噤牙緊，抽搐時之多少不等，
　　   而省後起居飲食皆若平人為別也。癇雖分而為五，曰：雞、馬、牛、
　　   羊、豬名者，以病狀偶類故也。其實痰，、火、氣、驚、四者而巳， 
　　   所以為治同乎癲狂也。
</pre>
<pre data-sec="p">
篇名：癲癇
條文：三聖散  青州白丸子  滾痰丸  遂心丹  礬鬱丸  控涎丹  抱膽丸  鎮心丹
癲狂癇疾三聖吐，風痰白丸熱滾痰，痰實遂心氣礬鬱，痰驚須用控涎丹，
無痰抱膽鎮心治，發灸百會自然安，初發皂角灌鼻內，涎多欲止點湯鹽。
註：[1]癲狂癇疾初起多痰者，先以三聖散吐之。風盛有痰者，用青州白丸子。
　　   熱盛有痰者，用礞石滾痰丸(青礞石、沉香、百藥煎、川大黃、黃芩)。
　　   痰而形氣實者用遂心散，甘遂、朱砂、豬心也。痰而兼氣鬱者用礬鬱丸，
　　   白礬、鬱金也。痰而兼驚者用控涎丹；無痰神輕因而驚悸者用鎮心丹、
　　   抱膽丸，皆成方也。
　　[2]癇病發時炙百會，不拘壯數，以甦為止。再發再炙，以愈為度。
　　   初發用皂角汁灌鼻內，其風涎即從鼻口中涕唾而出，若甦後其涎不止， 
　　   以鹽湯服之自止。
</pre>
<pre data-sec="p">
篇名：諸氣病
條文：諸氣總括  寒氣  炅氣  喜氣  怒氣  勞氣  思氣  悲氣  恐氣  驚氣
一氣觸為九寒炅，喜怒勞思悲恐驚。寒收外束腠理閉，炅泄內蒸腠理通，
喜則氣緩虛極散，勞耗思結氣難行，怒氣逆上甚嘔血，下乘脾虛飧瀉成，
恐則氣下傷精志，驚心無倚亂怔忡，悲消榮衛不散布，壯行弱著病叢生。
註：[1]一氣流行不為邪觸，何病之有？若為寒觸，外束皮膚，腠理閉， 
　　   其氣收矣，即寒病也。
　　[2]炅，火也。若為火觸，熱蒸汗出，腠理開，其氣泄矣。即暑病也。
　　[3]若為喜觸，喜則氣和志達，其氣緩矣。
　　[4]素中虛極者，緩則氣散，即暴脫也。
　　[5]若為勞觸，勞則喘息，且汗出，其氣耗矣，即勞倦也。
　　[6]若為思觸，心有所存，氣留不行，其氣結矣，即鬱氣也。
　　[7]若為怒觸，怒則氣逆甚嘔血，其氣上矣。上極而下乘脾之虛， 
　　   則為飧泄也。
　　[8]若為恐觸，恐則精卻傷精志，其氣下矣。
　　[9]若為驚觸，心無所依，神無所歸，慮無所定，其氣亂矣。怔忡心動， 
　　   不安之病也。
　　[10]若為悲觸，心肺氣戚，榮衛不散，其氣消矣。
　　[11]凡此九氣叢生之病，壯者得之氣行而愈，弱者得之氣著為病也。
</pre>
<pre data-sec="p">
篇名：諸氣病
條文：諸氣辨證
短氣氣短不能續，少氣氣少不足言，氣痛走注內外痛，氣鬱失志怫情間，
上氣氣逆蘇子降，下氣氣陷補中宣，臭甚傷食腸胃鬱，減食消導自然安。
註：[1]短氣者，氣短而不能續息也；少氣者，氣少而不能稱形也， 
　　   皆為不足之證。
　　[2]氣痛者，氣為邪阻，氣道不通，或在經絡，或在藏府，攻衝走注疼痛也。
　　[3]上氣，乃濁氣上逆；下氣，為清氣下陷。
　　[4]氣鬱者，或得於名利失志，或得於公私怫情，二者之間也。
　　[5]濁氣上逆，蘇子降氣湯。
　　[6]清氣下陷，補中益氣湯，甚者加訶子、五味子。
　　[7]然清氣下陷，下氣不甚臭穢，惟傷食下氣，甚臭甚穢，乃腸胃鬱結， 
　　   穀氣內發，而不宣通於腸胃之外。鬱在胃者，上噫氣也。鬱在腸者， 
　　   下矢氣也。
　　[8]補中益氣湯，方見內傷門。
</pre>
<pre data-sec="p">
篇名：諸氣病
條文：諸氣治法
寒熱熱寒結者散，上抑下舉驚者平，喜以恐勝悲以喜，勞溫短少補皆同。
註：[1]寒者熱之，麻黃理中是也。
　　[2]熱者寒之，白虎生脈是也。
　　[3]結者散之，越鞠解鬱是也。
　　[4]上者抑之，蘇子降氣是也。
　　[5]下者舉之，補中益氣是也。
　　[6]驚者平之，鎮心，妙香是也。
　　[7]喜以恐勝，悲以喜勝，以情治情是也。
　　[8]勞者溫之，短氣，少氣者補之，保元四君是也。
</pre>
<pre data-sec="p">
篇名：諸氣病
條文：木香流氣飲
木香流氣調諸氣，快利三焦榮衛行，達表通裏開胸膈，腫脹喘嗽氣為疼，
六君丁皮沉木桂，白芷香附果蘇青，大黃枳朴檳蓬朮，麥冬大腹木瓜通。
註：[1]木香流氣飲，調治一切諸氣為病，其功能快利三焦，通行榮衛， 
　　   外達表氣，內通裏氣，中開胸膈之氣，其水腫脹滿，氣壅喘嗽，氣痛走注， 
　　   內外疼痛，併皆治之。
　　[2]即人參、白朮、茯苓、灸草、橘皮、半夏、丁皮、沉香、木香、中桂，
　　   白芷、香附、草果、蘇葉、青皮、大黃、枳殼、厚朴、檳榔、蓬朮、
　　   麥冬、大腹皮、木瓜、木通也。
</pre>
<pre data-sec="p">
篇名：諸氣病
條文：分心氣飲
分心氣飲治七情，氣滯胸腹不流行，正減芷朴通木附，麥桂青桑檳殼蓬。
註：[1]分心氣飲，治七情氣滯，胸腹之病。
　　[2]正者，謂藿香正氣散也。
　　[3]正減也，謂即藿香正氣散方減白芷、厚朴、加木通、木香、香附、
　　   麥冬、官桂、青皮、桑皮、檳榔、枳殼、蓬朮也。
</pre>
<pre data-sec="p">
篇名：諸氣病
條文：蘇子降氣湯  越鞠湯
蘇子降氣氣上攻，下虛上盛氣痰壅，喘欬涎嗽胸膈滿，氣秘氣逆嘔鮮紅，
橘半肉桂南蘇子，前朴沉歸甘草同。鬱食氣血痰濕熱，越鞠蒼梔麴附芎。
註：[1]蘇子降氣湯，治下虛上盛，氣壅上攻，喘欬涎嗽，胸膈滿悶， 
　　   氣秘便難，氣逆嘔血，即橘皮、半夏、肉桂、南蘇子、前胡、厚朴、
　　   沉香、當歸、甘草也。
　　[2]越鞠湯治六鬱：食鬱、氣鬱、血鬱、痰鬱、濕鬱、熱鬱， 
　　   即蒼朮、山梔、神麴、香附、撫芎也。
　　[3]夫氣鬱之病若久，必與血、痰、濕、熱、飲、食相合，故治鬱之方， 
　　   可治氣鬱也。
　　[4]其氣實者加木香。氣虛者加人參。血實者加紅花。血虛者加當歸。
　　   痰多者加半夏。濕多者加白朮。熱多者加萸、連。飲多者加茯苓。
　　   食多者加麥蘗。在臨證者消息耳。
</pre>
<pre data-sec="p">
篇名：諸氣病
條文：四七湯
四七七氣鬱生痰，梅核吐咯結喉間，調和諸氣平和劑，半苓厚朴紫蘇煎，
快氣橘草香附入，婦人氣病效如仙，惡阻更加芎歸芍，氣痰濁帶送白丸。
註：[1]四七湯，治七情過節，七氣病生，鬱結生痰，如絮如膜，凝結喉間， 
　　   咯之不盡，嚥之不下，名曰梅核氣。日久不愈，變生噎膈，上吐涎沫， 
　　   下秘二便也。宜用此平和之劑，即半夏、茯苓、厚朴、紫蘇葉也。
　　[2]胸腹中氣不快，加橘皮、甘草、香附、亦治婦人一切氣病。
　　[3]婦人有孕喜吐者，名曰噁阻，更加川芎、當歸、白芍。
　　[4]婦人肥白，多痰氣鬱，有白濁帶下者，亦以本方送青州白丸子可也。
</pre>
<pre data-sec="p">
篇名：諸氣病
條文：鎮心丹  妙香散
驚實鎮心朱齒血，驚虛妙香木麝香，山藥茯神參耆草，朱砂桔梗遠苓菖。
註：[1]心氣實病驚者，宜用鎮心丹，即朱砂、龍齒末等分，豬心血為芡實大丸，
　　   每服三丸，麥冬湯下。
　　[2]心氣虛病驚者，宜用妙香散加菖蒲，即木香、麝香、山藥、茯神、
　　   人參、黃耆、炙草、朱砂、桔梗、遠志、茯苓、石菖蒲也。
</pre>
<pre data-sec="p">
篇名：遺精
條文：遺精總括
不夢而遺心腎弱，夢而後遺火之強，過慾精滑清氣陷，久曠溢瀉味醇傷。
註：[1]不夢而遺，謂無所感於心而自遺，則為心腎虛弱不固也。
　　[2]夢而後遺，謂有所感於心，相火煽而強迫之，則為二火之強不固也。
　　[3]或過慾之人，日慣精滑，或清氣不足，下陷不固，或久曠之人， 
　　   精盛溢瀉，或醇酒厚味，火強不固，皆為是病也。
</pre>
<pre data-sec="p">
篇名：遺精
條文：龍骨遠志丸  坎離既濟湯  封髓丹
心腎虛弱朱遠志，龍骨神苓菖蒲參，久曠火旺地知柏，胃虛柏草縮砂仁。
註：[1]龍骨遠志丸，治心腎虛弱，不夢而遺者，即龍骨、朱砂、遠志、茯神、
　　   茯苓、石菖蒲、人參也。
　　[2]坎離既濟湯，治夢而後遺，火強久曠者，即生地、黃柏、知母也。
　　[3]若胃虛食少便軟，則不宜生地、知柏，恐苦寒傷胃，故宜封髓丹， 
　　   即黃蘗、甘草、縮砂仁也。
</pre>
<pre data-sec="p">
篇名：遺精
條文：補精丸
精出不止陽不痿，強中過補過淫成，久出血痛形羸死，或發消渴或發癰，
陽盛坎離加龍骨，實熱解毒大黃攻，調補骨脂韭山藥，磁石蓯蓉參鹿茸。
註：[1]精出不止，陽強不倒，名曰強中。
　　[2]此病皆因過服房術中補藥，或貪淫過慾而成也。
　　[3]若不急治，日久精盡，陽強不化，迫血而出，疼痛不巳，形羸而死。
　　   或不即死，亦必發消渴、大癰也。
　　[4]陽盛陰虛者，宜大坎離既濟湯，加生龍骨清而補之。
　　[5]形實熱盛者，宜黃連解毒湯，加大黃先攻其熱可也。
　　[6]病後熱去，調理宜補精丸，即補骨脂、韭子、山藥、磁石、肉蓯蓉、
　　   人參、鹿耳也。
</pre>
<pre data-sec="p">
篇名：濁帶
條文：濁帶總括
濁病精竅弱自清，穢物如膿陰內疼，赤熱精竭不及化，白寒濕熱敗精成。
註：[1]赤多屬熱，亦有濁帶日久，精竭陽虛，不及化白而屬寒者。
　　[2]白多屬寒，亦有敗精濕熱釀成腐化，變白而屬熱者。
　　[3]是則不可概以寒熱論赤白也。
</pre>
<pre data-sec="p">
篇名：濁帶
條文：清心蓮子飲  萆薢分清飲  珍珠粉丸
濁熱清心蓮子飲，寒萆菖烏益草苓，濕熱珍珠炒薑柏，滑黛神麴椿蛤同。
註：[1]赤濁帶下屬熱者，宜用清心蓮子飲，方在淋門。
　　[2]白濁帶下屬寒者，宜用萆薢分清飲，即萆薢、菖蒲、烏藥、益智、
　　   甘草、茯苓也。
　　[3]赤白濁帶下屬濕熱者，宜用珍珠粉丸，即炒黑薑、炒黃柏、滑石、
　　   青黛、炒神麴、炒椿皮、蛤粉也。
</pre>
<pre data-sec="p">
篇名：濁帶
條文：黑錫丹
黑錫上盛下虛冷，精竭陽虛火上攻，上壅頭痛痰氣逆，下漏濁帶白淫精，
骨脂茴香葫蘆巴，肉蔻桂附木金櫻，沉香陽起巴戟肉，硫鉛法結要研明。
註：[1]赤白帶下屬虛寒者，及虛陽上攻，頭痛喘嗽，痰壅氣逆，俱宜黑鍚丹。
　　[2]即補骨脂、小茴香、葫蘆巴、肉蔻、附子、肉桂、木香、金櫻子、
　　   沉香、陽起石、巴戟、硫黃、黑鉛也。
</pre>
<pre data-sec="p">
篇名：痰飲
條文：痰飲總括
陰盛為飲陽盛痰，稠濁是熱沫清寒，燥少黏連咯不易，濕多易出風掉胘，
膈滿嘔吐為伏飲，支飲喘欬腫臥難，飲流四肢身痛溢，嗽引脇痛謂之懸，
痰飲素盛今暴瘦，漉漉聲水走腸間，飲留肺胸喘短渴，在心下悸背心寒。
註：[1]飲則清稀，故為陰盛。
　　[2]痰則稠濁，故為陽盛。
　　[3]稠濁，是熱痰屬心也。
　　[4]沫清，是寒痰屬腎也。
　　[5]少而黏連咯不易出，是燥痰屬肺也。
　　[6]多而易出，是濕痰屬脾也。
　　[7]搐搦眩暈，是風痰屬肝也。
　　[8]膈上痰滿，嘔吐痰涎，此飲留於膈間，名曰伏飲也。
　　[9]喘欬面腫不得臥，此飲留於肺，名曰支飲也。
　　[10]飲流四肢，身體重痛，此飲留行於體，名曰溢飲也。
　　[11]欬嗽引脇疼痛，此飲留於脇下，名曰懸飲也。
　　[12]素盛今瘦，漉漉有聲，水走腸間，此飲留於腸胃，名曰痰飲也。
　　[13]凡飲留於胸肺，則喘滿短氣而渴。
　　[14]飲留於膈下，則心下悸或背心寒冷也。
</pre>
<pre data-sec="p">
篇名：痰飲
條文：二陳湯  燥痰湯
諸痰橘半茯苓草，惟有燥者不相當，風加南星白附子，熱加芩連寒桂薑，
氣合四七鬱香附，虛入參朮濕入蒼；燥芩旋海天冬橘，風硝枳桔貝蔞霜。
註：[1]諸痰、謂一切痰，皆宜二陳湯治之。即橘紅、半夏、茯苓、甘草也。
　　[2]因有茯、半、性過滲燥，故與燥痰不相當也。
　　[3]依本方風痰加南星、白附子。熱痰加黃芩、黃連。寒痰加乾薑、肉桂。
　　   氣痰加厚朴、蘇葉即是合四七湯也。因鬱生痰加香附。
　　   氣虛有痰加人參、白朮即六君子湯也。濕痰加蒼朮。
　　[4]燥痰宜用燥痰湯，即枯黃芩、旋復花、海石、天冬、橘紅、風化芒硝、
　　   枳殼、桔梗、貝母、枯蔞霜也。
</pre>
<pre data-sec="p">
篇名：痰飲
條文：茯苓指迷丸
茯苓風消枳殼半，痰飲平劑指迷丸，寒實瓜蒂透羅治，熱實大陷小胃丹。
註：[1]指迷丸，治一切痰飲平和之劑，即茯苓、風化芒硝、枳殼、半夏也。
　　[2]痰飲寒實者，用瓜蒂散吐之，或用透羅丹下之。
　　[3]熱實者，在膈上用大陷湯、丸，在三焦用小胃丹攻之。
</pre>
<pre data-sec="p">
篇名：痰飲
條文：半夏茯苓湯加丁香湯  越婢加朮湯  
流飲控涎苓桂治，伏飲神佑半苓丁，支飲葶藶懸十棗，溢飲越朮小青龍。
註：[1]留飲者，謂一切飲留於上下、內外也。
　　[2]實者用控涎丹攻之，虛者用苓桂朮甘湯溫之。
　　[3]伏飲實者用神佑丸，虛者用半夏三錢、茯苓二錢、丁香一錢、
　　   生薑三錢，煎服治之，即半夏茯苓湯加丁香也。
　　[4]支飲用葶藶大棗湯。懸飲用十棗湯治之。
　　[5]溢飲有熱者用越婢加朮湯，即黃麻、石膏、甘草、生薑、大棗， 
　　   加蒼朮也。有寒者用小青龍湯治之。
</pre>
<pre data-sec="p">
篇名：欬嗽
條文：欬嗽總括
有聲日欬有痰嗽，聲痰俱有欬嗽名，雖云藏府皆欬嗽，要在聚胃關肺中。
胃濁脾濕嗽痰本，肺失清肅欬因生，風寒火鬱燥痰飲，積熱虛寒久勞成。
註：[1]有聲無痰曰欬，有痰無聲曰嗽，有聲有痰曰欬嗽。
　　[2]內經雖云：『五藏六府皆令人欬。』而大要皆在聚於胃、關於肺也。
　　[3]因胃濁，則所游溢之精氣，與脾濕所歸肺之津液皆不能清，水精之濁，
　　   難於四布，此生痰之本，為嗽之原也。
　　[4]肺居胸中，主氣清肅。或為風寒外感，或為痰熱內乾清肅， 
　　   有失降下之令，因氣上逆而欬嗽也。
　　[5]久勞成，謂久病欬嗽不已，傷肺成勞也。
</pre>
<pre data-sec="p">
篇名：欬嗽
條文：參蘇飲  芎蘇飲  香蘇飲  茯苓補心湯
參蘇感冒邪傷肺，熱寒欬嗽嚏痰涎，氣虛用參實減去，二陳枳桔葛蘇前，
頭痛加芎喘加杏，芩因熱入麻乾寒，虛勞胎產有是證，補心四物量抽添。
註：[1]參蘇飲，治感冒風寒傷肺，欬嗽嚏唾痰唌發熱惡寒也，即人參、蘇葉、
　　   橘紅、半夏、茯苓、甘草、枳殼、桔梗、前胡、減去可也。
　　[2]形氣虛者，必用人參，若形氣實，減去可也。
　　[3]若頭痛，依本方去人參，以前胡易柴胡加川芎，名芎蘇飲。
　　[4]若喘嗽，依本方去人參加杏仁，名杏蘇飲。
　　[5]若內有熱，加黃芩，有寒加麻黃、乾薑。
　　[6]若虛勞之人，及胎前產後而有是病，依本方合四物湯，名茯苓補心湯，
　　   量其虛實，寒熱加減可也。
</pre>
<pre data-sec="p">
篇名：欬嗽
條文：瀉白散  葶藶瀉白散
瀉白肺火鬱氣分，喘欬面腫熱無痰，桑骨甘草寒麻杏，血分加芩熱甚連，
欬急嘔逆青橘半，鬱甚失音訶桔添，停飲喘嗽不得臥，加苦葶藶效通仙。
註：[1]瀉白飯，即桑皮、地骨皮、甘草也。
　　[2]治喘嗽面腫，無痰身熱，是為肺經火鬱氣分。若無汗， 
　　   是為外寒鬱遏肺火，加麻黃、杏仁以發之。
　　[3]若無外證惟面赤，是為肺經火鬱血分，加黃芩。內熱甚者， 
　　   更加黃連以清之。
　　[4]欬急嘔逆者，加青皮、橘紅、半夏以降之。
　　[5]火鬱甚而失音者，加訶子肉、桔梗以開之。
　　[6]若喘嗽面浮不得臥者，是為兼有停飲，加苦葶藶以瀉之，名葶藶瀉白散。
</pre>
<pre data-sec="p">
篇名：欬嗽
條文：清肺湯
清肺肺燥熱欬嗽，二冬母草橘芩桑，痰加蔞半喘加杏，悚氣枳桔斂味良。
註：[1]清肺湯，即麥冬、天冬、知母、貝母、甘草、橘紅、黃芩、桑皮也。
　　[2]有痰燥而難出，加栝蔞子。
　　[3]痰多加半夏。喘加杏仁。胸膈氣不快加枳殼、桔梗。久則宜斂，加五味子。
</pre>
<pre data-sec="p">
篇名：欬嗽
條文：清燥救肺湯  
喻氏清燥救肺湯，肺氣虛燥鬱欬方，參草麥膏生氣液，杏枇降逆效功長，
胡麻桑葉阿潤燥，血枯須加生地黃，熱甚牛黃羚犀角，痰多貝母與蔞霜。
註：[1]喻氏，喻嘉言也。
　　[2]枇，枇杷葉也。
　　[3]羚羊角、犀角也。
　　[4]蔞霜，栝蔞霜也。
</pre>
<pre data-sec="p">
篇名：欬嗽
條文：透羅丹  瀉肺丸
寒實痰清透羅丹，欬時涎壅氣出難，巴杏大牽皂半餅，熱實痰稠瀉肺丸。
註：[1]寒實痰盛涎清，熱實痰盛稠黏，皆能令人欬嗽。
　　[2]嗽時痰涎頓壅，氣閉難出。
　　[3]寒實者用透羅丹，即巴豆、杏仁、大黃、牽牛、皂角、半夏共為末， 
　　   蒸餅為小丸，量服，方出『丹溪心法‧附餘』。
　　[4]熱實者，宜瀉肺丸，方見失血門。
</pre>
<pre data-sec="p">
篇名：欬嗽
條文：人參瀉肺湯
積熱傷肺宜瀉肺，喘嗽痰多黏色黃，胸膈滿熱大便澀，涼膈枳桔杏參桑。
註：[1]人參瀉肺湯，即涼膈散，梔子、連翹、薄荷、黃芩、大黃、甘草、
　　   枳殼、桔梗、杏仁、人參、桑皮也。
</pre>
<pre data-sec="p">
篇名：欬嗽
條文：鍾乳補肺湯
補肺虛寒喘嗽血，皮毛焦枯有多年，生脈菀款桑皮桂，鍾英糯米棗薑煎。
註：[1]補肺湯，即人參、麥冬、五味子、款冬花、紫菀、桑皮、桂枝、
　　   鍾乳石、白石英、糯米、大棗、生薑也。
</pre>
<pre data-sec="p">
篇名：欬嗽
條文：人參養肺湯
養肺平劑肺氣虛，勞久喘嗽血腥宜，參草杏阿知母棗，烏梅罌粟骨桑皮。
註：[1]人參養肺湯，為治肺氣虛損久勞，不寒不熱之平劑也。
　　[2]其方即人參、炙草、杏仁、阿膠、知母、大棗、烏梅、罌粟殼、地骨皮
　　   、桑皮也。
</pre>
<pre data-sec="p">
篇名：欬嗽
條文：清寧膏太平丸
欬嗽痰血清寧治，甘桔麥地橘龍圓，薏米川貝薄荷末，血過於痰太平丸。
註：[1]欬嗽痰少血多，用太平丸。
　　[2]方，諸書俱有。
</pre>
<pre data-sec="p">
篇名：欬嗽
條文：瓊玉膏  杏酥膏
瓊玉膏治肺虛勞，肺痿乾嗽欬涎滔，生地膏蜜參苓末，不虛燥蜜杏酥膏。
註：[1]瓊玉膏治虛燥，先以生地煎膏，後入煉白密、人參、茯苓末，攪成膏。
　　[2]杏酥膏治不虛而燥，以杏仁霜、奶酥油、煉白蜜，溶化合膏。
</pre>
<pre data-sec="p">
篇名：喘吼
條文：喘吼總括
喘則呼吸急促，哮則喉中有響聲，實熱氣粗胸滿鞕，虛寒氣乏飲痰清。
註：[1]呼吸氣出急促者，謂之喘急。
　　[2]若更喉中有聲響者，謂之哮吼。
　　[3]氣粗胸滿不能布息而喘者，實邪也，而更痰稠便鞭者，熱邪也。
　　[4]氣乏息微不能續息而喘，虛邪也，若更痰飲清冷，寒邪也。
</pre>
<pre data-sec="p">
篇名：喘吼
條文：喘急死證
喘汗潤髮為肺絕，脈濇肢寒命不昌，喘欬吐血不得臥，形衰脈大氣多亡。
註：[1]氣多，謂出氣多、入氣少也。
</pre>
<pre data-sec="p">
篇名：喘吼
條文：華蓋湯  千金定喘湯  葶藶大棗湯  
外寒喘吼華蓋湯，麻杏蘇草橘苓桑，減苓加芩款半果，飲喘難臥棗葶方。
註：[1]外寒傷肺喘急，用華蓋散。即麻黃、杏仁、蘇子、甘草、橘紅、
　　   赤茯苓、桑皮也。
　　[2]依本方減茯苓，加黃芩、款冬花、半夏、白果，名千金定喘湯， 
　　   治哮吼表寒之喘。
　　[3]葶藶大棗湯，治停飲不得臥之喘也。
</pre>
<pre data-sec="p">
篇名：喘吼
條文：蘿皂丸  蘇子降氣湯
火鬱喘急瀉白散，痰盛作喘蘿皂丸，蔞仁海石星蘿皂，氣喘蘇子降氣痊。
註：[1]面赤浮腫，謂之火鬱之喘，宜瀉白散。
　　[2]痰盛聲急，謂之痰喘，宜蘿皂丸。
　　[3]無痰聲急，謂之氣喘，宜蘇子降氣湯。
　　[4]方在諸氣門。
</pre>
<pre data-sec="p">
篇名：喘吼
條文：五味子湯  黑錫丹  腎氣湯  人參理肺湯
氣虛味麥參陳杏，虛寒黑錫腎氣湯，日久斂喘參桔味，麻杏罌粟歸木香。
註：[1]五味子湯，即五味子，麥冬、人參、陳皮、杏仁也。
　　[2]人參理肺湯，即人參、桔梗、五味子、麻黃、杏仁、罌粟殼、當歸、
　　   木香也。
　　[3]黑錫丹，方在濁帶門。
　　[4]腎氣湯，方在虛勞門。
</pre>
<pre data-sec="p">
篇名：腫脹
條文：腫脹總括
衛氣并脈循分肉，內傷外感正邪攻，外邪客脈為脈脹，邪留分肉膚脹生。
註：[1]經曰：衛氣之在身也，常然并脈循分肉行，陰陽相隨，何病之有？ 
　　   若其人內傷七情，外感六氣，飲食失節，勞役過度，則邪正相攻， 
　　   榮衛失和。
　　[2]衛氣與風寒之邪客於脈中，則為脈脹。
　　[3]衛氣與風寒之邪留於分肉，則為膚脹也。
</pre>
<pre data-sec="p">
篇名：腫脹
條文：諸脈脹  單腹脹  膚脹  鼓脹
脈脹筋起絡色變，久成單腹末脫清，膚脹𪔣𪔣初不鞕，纏綿氣鼓脹膨膨。
註：[1]脈脹之證，腹筋起，絡色變，久而不巳，則成單腹脹，四末脫瘦清冷也。
　　[2]膚脹之證𪔣𪔣然初不堅鞕，纏綿不愈，則成氣鼓脹滿，膨膨急鞕也。
</pre>
<pre data-sec="p">
篇名：腫脹
條文：腸覃  石瘕
外邪干衛客腸外，腸覃月事以時行，外邪干營客胞內，石瘕經閉狀妊盈。
註：[1]風寒之邪，不客於脈中分肉，而干衛氣、深入客於腸外，僻而內著， 
　　   日以益大，狀如懷子，月事仍以時行，名曰腸覃。
　　[2]或干營氣，深入客於胞中，惡血留止，日以益大，狀如懷子， 
　　   月事不以時下，名曰石瘕，此皆生於女子，在男子則為疝病也。
</pre>
<pre data-sec="p">
篇名：腫脹
條文：水脹  石水  風水
皮厚色蒼多是氣，皮薄色澤水濕成，氣速安臥從上下，水漸難眠欬喘徵， 
石水少腹腫不喘，風水面腫脛足同，石水陰邪寒水結，風水陽邪熱濕凝。
註：[1]凡腫脹之病，皮厚色蒼者，皆屬氣也。
　　[2]皮薄色澤者，皆屬水也。
　　[3]氣，陽也，陽性急，故為脹速，每從上腫而漸下，得以安臥，邪在外也。
　　[4]水，陰也，陰性遲，故為脹漸，每從下腫而漸上， 
　　   更有欬喘不能臥之徵也。
　　[5]石水之徵，少腹腫滿，水在下，故不喘也。
　　[6]上腫曰風，下腫曰水。故風水之證，面與脛足同腫也。然石水屬陰邪，
　　   故曰寒結也。風水屬陽邪，故曰熱濕凝也。
</pre>
<pre data-sec="p">
篇名：腫脹
條文：脹滿水腫死證
腹脹身熱及失血，四末清脫瀉數行，腫起四肢後入腹，利旋滿腫腹筋青，
唇黑臍突陰囊腐，缺盆脊背足心平，脈大時絕或虛濇，腫脹逢之卻可驚。
註：[1]腹脹身熱，陽盛脹也，若吐衄瀉血，則陰亡矣。
　　[2]四肢瘦冷，陰盛脹也，若數瀉不止，則中脫矣。
　　[3]先腫脹腹，後散四肢者可治。
　　[4]先腫四肢，後歸入腹者不治。
　　[5]腫脹之病多實，服利下之藥，旋消旋起，則為正不勝邪，亦不治。
　　[6]腹筋青漲高起，腫脹蒼黑，臍腫突出，陰囊腫腐，缺盆脊背腫平， 
　　   足心腫平，則五藏傷，皆不治也。
　　[7]脈大而時絕，或虛濇細，則氣血敗，皆死脈也。
</pre>
<pre data-sec="p">
篇名：腫脹
條文：木香流氣飲
膚脹脈脹通身脹，單腹鼓脹四肢平，膚脹木香流氣飲，脈脹加薑黃撫芎。
註：[1]膚脹，皮膚脹也，脈脹，經脈脹也。
　　[2]此二脹皆通身脹也。
　　[3]單腹脹、四肢不脹。鼓脹、其脹如鼓。此二脹，皆腹脹四肢不脹也。
　　[4]膚脹宜用木香流氣飲，脈脹亦用此湯，更加薑黃、撫芎也。
　　[5]方在諸氣門。
</pre>
<pre data-sec="p">
篇名：腫脹
條文：厚朴散  下瘀血湯
單腹鼓脹分氣血，氣實腸覃厚朴榔，木枳青陳遂大戟，血實石瘕下瘀湯。
註：[1]單腹脹、鼓脹，當分氣血而治。
　　[2]腸覃亦氣病也，故同氣實脹者一治之，皆用厚朴散，即厚朴、檳榔、
　　   木香、枳殼、青皮、陳皮、甘遂、大戟。
　　[3]石瘕亦血病也，故同血實脹者一治之，宜用下瘀血湯，即大黃、桃仁、
　　   䗪蟲、甘遂也。
</pre>
<pre data-sec="p">
篇名：腫脹
條文：寒脹中滿分消湯  熱脹中滿分消湯
氣虛脹病分寒熱，中滿分消有二方，寒脹參耆歸苓朴，半夏吳萸連二薑，
升柴烏麻青柏澤，蓽澄草蔻益木香，熱縮六君知豬澤，枳朴芩連乾薑黃。
註：[1]脹有虛、實、寒、熱，若脹而形氣虛少寒者，宜用脹中滿分消湯， 
　　   即人參、黃耆、當歸、茯苓、厚朴、半夏、吳萸、黃連、乾薑、生薑、
　　   升麻、柴胡、川烏、麻黃、青皮、黃柏、澤瀉、蓽澄茄、草豆蔻、益智、
　　   木香也。
　　[2]脹而形氣虛少熱者，宜用熱脹中滿分消湯，即縮砂、人參、白朮、
　　   茯苓、炙草、廣皮、半夏、知母、豬苓、澤瀉、枳殼、厚朴、黃連、
　　   乾薑、薑黃也。
</pre>
<pre data-sec="p">
篇名：腫脹
條文：水腫治法
上腫多風宜乎汗，下腫多濕利水泉，汗宜越婢加蒼朮，利用貼臍琥珀丹，
外散內利疏鑿飲，喘不得臥蘇葶先，陽水熱濬濕神祐，陰水實脾腎氣丸。
註：[1]從上腫者，多外感風邪，故宜乎汗。
　　[2]從下腫者，多內生濕邪，故宜乎利水。
　　[3]外散風水，宜用越婢湯加蒼朮，即麻黃、石膏、甘草、蒼朮也。
　　[4]內利水濕，宜用貼臍等法。一以巴豆去油四錢，水銀粉二錢，硫黃一錢，
　　   研勻成餅，先用新綿一片布臍上，內餅，外用帛縛，時許自然瀉下惡水，
　　   待下三五次，去藥姿粥補住。日久形羸，隔一日取一次，一餅可救
　　   三、五人。一以鮮赤商陸根，杵爛貼臍上，以帛縛定，水自小便出。
　　   一以田螺四個，大蒜五個，車前子末三錢，研成餅，貼臍中，以帕縛之，
　　   少時尿利即愈。或內服沉香琥珀丸，即苦葶藶子、真郁李仁、防己、
　　   沉香、陳皮、琥珀、杏仁、蘇子、赤茯苓、澤瀉、麝香也。
　　[5]若通身腫，則當外散內利，宜用疏鑿飲子兩解之。
　　[6]若水盛上攻，喘急不得臥，則當用蘇子葶藶丸以定喘，即此， 
　　   等分為末，棗肉丸。
　　[7]陽水屬熱實者，熱盛宜用大聖濬川散；濕盛宜用舟車神祐丸以下之。
　　   二方在『醫宗必讀』。
　　[8]陰水屬寒虛者，脾虛不食便軟，宜用實脾飲；腎虛脛足冷鞕， 
　　   宜用腎氣丸。
</pre>
<pre data-sec="p">
篇名：腫脹
條文：疏鑿飲子  茯苓導水湯
水腫兩解疏鑿飲，和劑茯苓導水湯，疏鑿椒目赤小豆，檳榔商陸木通羌，
秦艽大腹苓皮澤，茯苓導水澤芩桑，木香木瓜砂陳朮，蘇葉大腹麥檳榔。
註：[1]水腫，外散內利兩解，峻者疏鑿飲，即椒目、赤小豆、檳榔、商陸、
　　   木通、羌活、秦艽、大腹皮、茯苓皮、澤瀉也。
　　[2]外散內利兩解和者，茯苓導水湯，即澤瀉、茯苓、桑皮、木香、木瓜、
　　   砂仁、陳皮、白朮、蘇葉、大腹皮、麥冬、檳榔也。
</pre>
<pre data-sec="p">
篇名：腫脹
條文：實脾飲
裏實自然尋浚祐，裏虛實脾四君香，木瓜附子大腹子，厚朴草果炒乾薑，
投諸溫補俱無驗，欲諸攻下又難當，須行九補一攻法，緩求淡食命多昌。
註：[1]裏實二便澀者，直用浚川散、神祐丸。
　　[2]裏虛二便通者，宜用實脾飲，即人參、白朮、茯苓、炙草、木香、
　　   木瓜、川附子、大腹子、厚朴、草果、炒乾薑也。
　　[3]腫脹之病屬虛寒者，自宜投諸溫補之藥，而用之俱無效驗者， 
　　   虛中必有實邪也。欲投諸攻下之藥，而又難堪，然不攻之終無法也， 
　　   須行九補一攻之法。是用補養之藥九日，俟其有可攻之機， 
　　   而一日用瀉下之藥攻之。然攻藥亦須初起少少與之，不勝病、漸加之， 
　　   必審其藥與元氣當，逐邪而不傷正，始為法也。其後或補七日、攻一日， 
　　   補五日、攻一日，補三日、攻一日，緩緩求之，以愈為度。
　　[4]若能戒鹽醬，淡食百日，多有生者。
</pre>
<pre data-sec="p">
篇名：瘧疾
條文：瘧疾總括
夏傷於暑舍營內，秋感寒風併衛居，比時或為外邪束，暑汗無出病瘧疾。
註：[1]經曰：痎瘧皆生於風。謂四時病瘧，未有不因風寒外束，暑邪內伏者也。
　　[2]又曰：瘧者，風寒之氣不常也。此言比時病瘧者也。
　　[3]又曰：夏傷於暑，秋為病瘧。
　　[4]又曰：夏暑汗不出者，秋成風瘧。謂夏傷於暑，其邪甚者即病暑，
　　   其邪微者則舍於營，復感秋氣寒風，與衛併居，則暑與風寒合邪， 
　　   始成瘧病也。
　　[5]其不即病傷寒者，亦以有暑邪預伏於營中也。蓋有風無暑，惟病風， 
　　   有暑無風，惟病暑，必風暑合邪，始病瘧也。
</pre>
<pre data-sec="p">
篇名：瘧疾
條文：日作間作
瘧隨經絡循伏膂，深入脊內注伏衝，橫連膜原薄藏府，會衛之時正邪爭， 
得陰內薄生寒慄，得陽外出熱蒸蒸，邪淺日作日會衛，邪深間作衛遲逢。
註：[1]瘧氣之邪，伏藏於營，隨其經絡，循脊膂之表而下。此初病邪淺， 
　　   傳舍之次也。
　　[2]其邪深者，則入脊膂之內，伏注於衝脈，橫連諸經脂膜之原內及藏府。
　　   此邪漸深，傳舍之次也。
　　[3]衛氣者，一日、一夜周於身，每至明旦，則出足太陽睛明，大會於風府，
　　   腠理乃開，開則所客營衛之邪入，邪入得陰內薄則生寒， 
　　   得陽外出則生熱，內外相薄，邪正交爭，而病乃作也。
　　[4]病初邪淺者，衛行未失常度，其邪日與衛會，故日作也。
　　[5]病久邪深者，衛行遲失常度，其邪不能日與衛會，故間日乃作也。
　　[6]時有間二日、間三日，或至數日作者，亦衛氣行愈遲，會愈遲， 
　　   故作愈遲也。
</pre>
<pre data-sec="p">
篇名：瘧疾
條文：瘧晝作夜作
衛不循經行脈外，陽會晝發陰夜發，邪退自然歸陽分，病進每必入陰家。
註：[1]營氣循經而行脈中。
　　[2]衛氣不循經而行脈外，惟日行於三陽，夜行於三陰。
　　[3]故邪在三陽之淺者，則晝發。
　　[4]邪在三陰之深者，則夜發。
　　[5]病邪將退者，夜發退為晝發，此為去陰就陽，則病欲已也。
　　[6]病邪漸進者，晝發進為夜發，此為去陽入陰，則病益甚也。
</pre>
<pre data-sec="p">
篇名：瘧疾
條文：瘧蚤晏作
衛氣平旦會風府，邪傳日下一節間，從頭循下故益晏，下極復上早之緣。
註：[1]衛氣流行，每日平旦會於風府，而邪氣中人，從頭項歷風府， 
　　   下循背腰，日下傳脊之一節，邪與衛會日晚，故作日益晏也。
　　[2]邪傳下極骶衝，其氣復上行，邪與衛會日早，故作日益早也。
</pre>
<pre data-sec="p">
篇名：瘧疾
條文：瘧疾治法
瘧初氣實汗吐下，表裏俱清用解方，清解不愈方可截，久瘧形虛補自當。
註：[1]瘧初氣實，均宜汗、吐、下。
　　[2]有表裏證汗下之。胸滿嘔逆有飲者吐之。
　　[3]表裏俱清，宜用和解。
　　[4]清解不愈，表裏無證，可用截藥止之。久瘧形羸氣虛，宜用補劑， 
　　   自當然也。
</pre>
<pre data-sec="p">
篇名：瘧疾
條文：桂麻各半湯
瘧初寒熱兩平者，桂麻各半汗方療，汗少寒多麻倍入，汗多倍桂熱加膏。
註：[1]瘧病初起，寒熱不多不少兩平者，宜桂麻各半湯汗之。
　　[2]汗少寒多熱少者，倍麻黃湯汗之。
　　[3]汗多寒少熱平者，倍桂枝湯汗之，熱多者，更加石膏。
</pre>
<pre data-sec="p">
篇名：瘧疾
條文：麻黃羌活湯  桂枝羌活湯  麻黃羌活加半夏湯  白虎湯  白虎桂枝湯  柴胡白虎湯
柴胡桂枝湯
寒多寒瘧而無汗，麻黃羌活草防尋。熱多有汗為風瘧，減麻添桂嘔半均。
先熱後寒名溫瘧，白虎汗多合桂君。癉瘧但熱柴白虎，牝瘧惟寒柴桂親。
註：[1]此皆諸瘧初起之汗法也。
　　[2]先傷於寒，後傷於風，先寒後熱，寒多熱少無汗，謂之寒瘧， 
　　   宜用麻黃羌活湯，即麻黃、羌活、防風、甘草也。
　　[3]先傷於寒，後傷於風，先寒後熱，熱多寒少有汗，謂之風瘧， 
　　   宜用桂枝羌活湯，即桂枝、羌活、防風、甘草也。
　　[4]二證嘔者，均加半夏。
　　[5]先傷於風，後傷於寒，先熱後寒，謂之溫瘧，宜用白虎湯， 
　　   汗多合桂枝湯。
　　[6]陽氣盛陽獨發，則但熱而不寒，謂之癉瘧，宜用柴胡白虎湯， 
　　   即小柴胡合白虎湯也。
　　[7]陰氣盛陰獨發，則但寒而不熱，謂之牝瘧，宜用紫胡桂枝湯， 
　　   即小柴胡合桂枝湯也。
</pre>
<pre data-sec="p">
篇名：瘧疾
條文：草果柴平湯  大柴胡湯
食瘧痞悶噫惡食，草果小柴平胃宜，瘧裏便鞕大柴下，硝檳果朴量加之。
註：[1]因食而病瘧者，則痞悶、噫氣、惡食，宜小柴胡合平胃散加草果清之。
　　[2]凡瘧有裏不清、便鞕者，宜大柴胡湯加芒硝、厚朴、草果、檳榔下之。
</pre>
<pre data-sec="p">
篇名：瘧疾
條文：清脾飲
瘧疾已經汗吐下，清解未盡寒熱方，清脾白朮青朴果，小柴參去入苓薑，
氣虛加參痰橘半，飲多宜逐倍薑榔，渴熱知膏天花粉，食滯麥麴濕澤蒼。
註：[1]瘧疾已經或汗、或吐、或下，表裏無證，法當清解，宜用清脾飲和之。
　　[2]即白朮、青皮、厚朴、草果、柴胡、黃芩、半夏、甘草、茯苓、生薑也。
　　[3]氣虛者加人參。痰多者加橘紅倍半夏。飲多者倍生薑加檳榔。
　　   渴熱者加知母、石膏、天花粉。食滯者加麥芽、神麴。濕盛者加澤瀉、蒼朮。
</pre>
<pre data-sec="p">
篇名：瘧疾
條文：久瘧  虛瘧  勞瘧
久瘧氣虛脾胃弱，四獸益氣等湯斟，勞瘧鱉甲十全補，熱除耆桂入柴芩。
註：[1]久患瘧疾，形氣俱虛，脾胃弱不思食，宜用四獸飲、補中益氣等湯， 
　　   斟酌治之。
　　[2]久病勞損，氣血兩虛，而病瘧疾者，名曰勞瘧。宜用十全大補湯， 
　　   倍加鱉甲。熱盛者除去黃耆、肉桂，加柴胡、黃芩也。
</pre>
<pre data-sec="p">
篇名：瘧疾
條文：柴胡截瘧飲  蜜佗僧散
諸瘧發過三五次，表裏皆清截法先，未清截早發不已，已清不截正衰難，
截虛柴胡截瘧飲，小柴梅桃檳常山，截實不二佗僧散，燒酒冷調服面南。
註：[1]凡瘧按法治之，發過三、五次，表裏無證，當先以截瘧藥截之。
　　[2]若表裏未清截早，則瘧疾必復發之不已。
　　[3]表裏已清不截，則正衰邪盛而難治也。
　　[4]截不足人之瘧，宜用小柴胡湯加常山、檳榔、烏梅、桃仁、薑、棗煎，
　　   并滓露一宿，次日發前一、二時小溫服，噁心以糖拌烏梅肉壓之。
　　[5]截有餘人之瘧，宜用不二飲全力，或蜜佗僧細末，大人七分， 
　　   小兒量之，冷燒酒調，面南如前法服之。
　　[6]一服不愈，再服必止。戒雞、魚、豆腐、麵食、羹湯、熱粥、熱物。
</pre>
<pre data-sec="p">
篇名：瘧疾
條文：痎瘧  瘧母
痎瘧經年久不愈，瘧母成塊結癖癥，形實控涎或化滯，攻後餘法與前同。
註：[1]痎瘧，經年不愈之老瘧也。
　　[2]瘧母，久瘧腹中成塊癖也。
　　[3]形實宜用控涎丹以攻痰飲，或用化滯丸以攻積滯。
　　[4]攻後之餘法，與前所治瘧法同也。
</pre>
<pre data-sec="p">
篇名：瘧疾
條文：桂枝麻黃柴胡四物去杏仁加桃仁湯
瘧在夜發三陰瘧，桂麻柴物杏易桃，鬼瘧尸注多惡夢，恐怖蘇合效功高。
註：[1]瘧在夜發，名曰三陰瘧疾。
　　[2]初熱宜用桂枝湯、麻黃湯、小柴胡湯、四物湯方合劑，以杏仁易桃仁，
　　   增損汗之，汗解之後，餘同前法。
　　[3]鬼瘧亦多在夜發，由尸氣注之，比三陰瘧疾、則夜多惡夢，時生恐怖，
　　   宜用蘇合香丸治之。
</pre>
<pre data-sec="p">
篇名：霍亂
條文：霍亂總括
揮霍變亂生倉猝，心腹大痛吐痢兼，吐瀉不出乾霍亂，舌捲筋縮入腹難。
註：[1]欲吐不吐，欲瀉不瀉，心腹大痛，名曰乾霍亂，又名攪腸痧。
　　[2]若舌捲筋縮，則卵陰入腹，難治也。
</pre>
<pre data-sec="p">
篇名：霍亂
條文：藿香正氣散  二香湯  甘露飲
霍亂風寒暑食水，雜邪為病正氣方，藿蘇陳半茯苓草，芷桔腹皮厚朴當，
轉筋木瓜吳萸入，暑合香藿濕入蒼，暑熱六一甘露飲，寒極烏附理中湯。
註：[1]霍亂之病，得之於風寒暑食水邪雜揉為病，亂於腸胃，清濁相干， 
　　   故心腹大痛吐瀉也。
　　[2]藿香正氣散，即霍香、蘇葉、陳皮、半夏、茯苓、甘草、白芷、桔梗、
　　   大腹皮、厚朴也；暑則吐多，合香薷飲名二香湯。
　　[3]濕則瀉多，加蒼朮。
　　[4]暑熱甚者，用辰砂六一散，或五苓散加石膏、滑石寒水石、名甘露飲。
　　[5]寒極肢厥脈伏者，用炮川烏、炮川附合理中湯。
</pre>
<pre data-sec="p">
篇名：噎膈翻胃
條文：噎膈翻胃總括
三陽熱結傷津液，乾枯賁幽魄不通，賁門不納為噎膈，幽門不放翻胃成。
二證留連傳導隘，魄門應自濇於行，胸痛便鞕如羊糞，吐沫嘔血命難生。
註：[1]三陽熱結，謂胃、小腸、大腸三府熱結不散，灼傷津液也。
　　[2]胃之上口為賁門，小腸之上口為幽門，大腸之下口為魄門。
　　   三府津液既傷，三門自然乾枯，而水穀出入之道不得流通矣。
　　   賁門乾枯，則納入水穀之道路狹隘，故食不能下，為噎塞也。
　　   幽門乾枯，則放出腐化之道路狹隘，故食入反出為翻胃也。
　　   二證留連日久，則大腸傳導之路狹隘，故魄門自應燥濇難行也。
　　[3]胸痛如刺，胃腕傷也。便如羊糞，津液枯也。吐沫嘔血，血液不行， 
　　   皆死證也。
</pre>
<pre data-sec="p">
篇名：噎膈翻胃
條文：人參利膈丸  汞硫散
五汁大黃清燥熱，丁沉君子理虛寒，便秘壅遏應利膈，吐逆不止汞硫先，
利膈小承參草木，歸藿檳桃麻蜜丸，汞一硫二研如墨，老酒薑汁服即安。
註：[1]五汁，謂五汁飲，以清燥乾也。
　　[2]大黃，謂大黃湯，即大黃一味，用薑汁炙大黃片變黑黃色，量人弱強，
　　   每服二、三錢，加陳倉米一撮，蔥白二莖，煎去滓服，以治熱結也。
　　[3]丁香、沉香加入四君子、六君子、理中湯內，治虛寒也。
　　[4]利膈，謂利膈丸，即枳殼、厚朴、大黃、人參、甘草、木香、當歸、
　　   藿香、檳榔、桃仁、火麻仁蜜為丸也。
　　[5]汞硫，謂汞硫散也。
</pre>
<pre data-sec="p">
篇名：噎膈翻胃
條文：四君子湯  四物湯  二陳湯  二十四味流氣飲
氣少血枯四君物，痰多氣滯二陳流，餘者亦同嘔吐法，竭思區晝待天休。
註：[1]氣少者宜四君子湯。血枯者宜四物湯。痰多宜二陳湯。
　　   氣滯者宜二十四味流氣飲。
　　[2]其餘之治法同嘔吐，此病雖竭心思區畫，亦不過盡人事以待天命也。
</pre>
<pre data-sec="p">
篇名：嘔吐噦
條文：嘔吐噦總括
有物有聲謂之嘔，有物無聲吐之徵，無物有聲噦乾嘔，面青指黑痛厥凶。
註：[1]面色青，指甲黑也，中痛不止，肢厥不回，其凶可知也。
</pre>
<pre data-sec="p">
篇名：嘔吐噦
條文：小半夏湯  橘皮半夏湯  大半夏湯  黃連半夏湯  丁萸六君湯
嘔吐半薑為聖藥，氣盛加橘虛蜜參，熱盛薑連便閉下，寒盛丁萸薑六君。
註：[1]便閉，謂大小二便閉而不行，宜攻下也。
　　[2]初吐切不可下，恐逆病勢也。
</pre>
<pre data-sec="p">
篇名：嘔吐噦
條文：五汁飲  硫汞散  化滯丸  
潤燥止吐五汁飲，蘆薺甘蔗竹瀝薑，嘔吐不下硫汞墜，積痛作吐化滯良。
註：[1]五汁飲，即蘆錐、葧薺、甘蔗、竹瀝、薑汁也。
　　[2]嘔吐諸藥，湯水到咽即吐者，宜用重墜之藥，以石硫黃二錢，水銀一錢，
　　   同研如煤色極細，用老酒薑汁調服。稍點白滾湯，亦可頓服之， 
　　   其藥即不能吐出。次日大便，出黑色穢物，諸湯水藥服之，則不吐也。
　　   如不大便黑色，再服，以大便利為度。
　　[3]吐而痛者，乃積也，宜化滯丸。
</pre>
<pre data-sec="p">
篇名：諸泄
條文：諸泄總括  濕瀉  濡瀉  水瀉  洞瀉  寒瀉  飧瀉  脾瀉  腎瀉
濕勝濡瀉即水瀉，多水腸嗚腹不疼。寒濕洞瀉即寒瀉，鴨溏清徹痛雷鳴，
完穀不化名飧瀉，土衰木盛不升清。脾虛腹滿食後瀉，腎瀉寒虛晨數行。
註：[1]濡者，水也。
　　[2]洞者，直傾下也。
　　[3]鴨溏，如鴨屎之溏，澄徹清冷也。
　　[4]痛，腹痛也。
　　[5]雷鳴，腸鳴甚也。
　　[6]不升清，謂清氣辰在下不上升也。
　　[7]脾瀉，脾虛也。
　　[8]食瀉，飲食後即瀉也。
　　[9]晨數行，每至早晨行瀉數次也。
</pre>
<pre data-sec="p">
篇名：諸泄
條文：食瀉  胃瀉  飲瀉  痰瀉  火瀉  暑瀉  滑瀉  大瘕瀉
傷食作瀉即胃瀉，噫氣腹痛穢而黏。渴飲瀉復渴飲瀉，時瀉時止卻屬痰。
火瀉陣陣痛飲冷，暑瀉面垢汗渴煩。滑瀉日久不能禁，大瘕今時作痢看。
註：[1]過食作瀉，名日食瀉，即胃瀉也。
　　[2]穢而黏，所瀉之物臭而黏也。
　　[3]渴而飲，飲而瀉，瀉而復渴，渴而復飲，飲而復瀉，飲瀉也。
　　[4]時或瀉，時或不瀉，屬痰瀉也。
　　[5]陣陣，謂瀉一陣、痛一陣也。
　　[6]大瘕瀉，即今時之痢疾病也。
</pre>
<pre data-sec="p">
篇名：諸泄
條文：泄瀉死證
泄瀉形衰脈實大，五虛噦逆手足寒，大孔直出無禁止，下瀉上嗽命多難。
註：[1]五虛，謂脈細，皮寒，氣少，水漿不入，大便不禁也。
　　[2]大孔，謂且門大孔不禁也。
</pre>
<pre data-sec="p">
篇名：諸泄
條文：參苓白朮散
濕瀉胃苓分清濁，寒瀉理中附子添，飧瀉升陽益胃治，倍加芍藥減黃連，
脾瀉參苓白朮散，扁豆四君蓮肉攢，薏苡山藥縮砂桔，腎瀉二神四神丸。
註：[1]參苓白朮散，即扁豆、人參、白朮、茯苓、炙草、蓮肉、薏苡仁、
　　   山藥、縮砂、桔梗也。
　　[2]二神丸，即補骨脂、肉豆寇，本方加吳茱萸、五味子，名四神丸。
</pre>
<pre data-sec="p">
篇名：諸泄
條文：青六散  芍藥芩連葛根湯  八柱散
食瀉實下虛消導，飲瀉實者神祐斟，虛者春澤甘露飲，痰瀉實攻虛六君，
火瀉草芍芩連葛，暑瀉紅麴六一勻，滑瀉八柱理中附，粟殼烏梅訶蔻尋。
註：[1]食瀉形氣實者，宜大承、化滯等藥下之， 
　　   形氣虛者，宜枳朮、平胃等消導之。
　　[2]神祐斟，謂雖當用神祐丸逐飲，然亦斟酌不可過也。
　　[3]春澤，謂春澤湯也。
　　[4]甘露飲，謂五苓甘露飲也。
　　[5]芍藥芩連葛根湯，即甘草、芍藥、黃芩、黃連、葛根也。
　　[6]青六散，即六一散加紅麴也。
　　[7]八柱散，附子理中湯加罌粟殼、烏梅、訶子、肉蔻也。
</pre>
<pre data-sec="p">
篇名：諸泄
條文：瀉心導赤散  茯苓車前子飲  苓桂理中湯
口糜泄瀉雖云熱，上下相移亦必虛，心脾開竅於舌口，小腸胃病化職失，
糜發生地通連草，瀉下參苓白朮宜，尿少茯苓車前飲，火虛苓桂理中醫。
註：[1]口瘡糜爛泄瀉一證，古經未載，以理推之，雖云屬熱， 
　　   然其上發口糜下瀉即止，泄瀉方止，口糜即生，觀其上、下相移之情狀， 
　　   亦必純實熱之所為也。
　　[2]心之竅開於舌，脾之竅開於口，心脾之熱，故上發口舌瘡赤糜爛。
　　[3]胃主消化水穀，小腸主盛受消化，心脾之熱下移小腸胃府， 
　　   則運化之職失矣，故下注泄瀉也。
　　[4]口糜發時，晚用瀉心導赤散，滾湯淬服之，即生地、木通、黃連、
　　   甘草稍也。
　　[5]下泄瀉時，早晚用參芩白朮散、糯米湯服之。
　　[6]若小便甚少，下痢不止，則為水走大腸，宜用茯苓、車前子，
　　   二味各等分，煎湯時時代飲，利水導熱。
　　[7]若服寒涼藥口瘡不效，則為虛火上泛，宜用理中湯加肉桂大倍茯苓， 
　　   降陽利水。降陽而口糜自消，水利泄瀉自止，可併愈也。
</pre>
<pre data-sec="p">
篇名：痢疾
條文：痢疾總括
大瘕小腸大腸瀉，腸癖滯下古痢名，外因風暑濕蒸氣，內因不謹飲食生。
白痢傷氣赤傷血，寒虛微痛熱窘疼，實墜糞前虛墜後，濕熱寒虛初久稱。
註：[1]大瘕瀉者，裏急後重，數至圊而不能便，莖中痛也。
　　[2]小腸瀉者，溲澀而便膿血，少腹痛也。
　　[3]大腸瀉者，食已窘迫，大便色白，腸嗚切痛也。
　　[4]腸癖者，飲食不節，起居不時，陰受之，則入五藏，䐜脹閉塞， 
　　   下為飧瀉，久為腸癖，腹痛下血也。
　　[5]滯下者，積汁垢膩，與濕熱滯於腸中，因而下也。此皆古痢之名也。
　　[6]然痢之為病，裏急後重，下痢膿血，小便赤澀。裏急者，腹痛積滯也。
　　   後重者，下墜氣滯也。小便赤澀者，濕熱鬱滯也。
　　   皆因外受風暑濕蒸之氣，內傷生冷飲食過度而生也。
　　[7]白痢自大腸來。大腸與肺為表裏，肺主氣，故屬傷氣也。
　　[8]赤痢自小腸來，小腸與心為表裏，心主血，故屬傷血也。
　　[9]寒閉痛甚，寒開痛微，痢開痛減，故痛微也。
　　[10]虛者少氣，氣無壅滯，故亦痛微也。
　　[11]熱者多實，性急不得舒通，故窘痛甚也。
　　[12]後墜下迫肛門，糞出墜止，為糞前墜，乃滯也，故曰實墜。
　　[13]糞出更墜，為糞後墜，非滯也，故曰虛墜。
　　[14]初痢多屬濕熱，久痢多屬寒虛也。
</pre>
<pre data-sec="p">
篇名：痢疾
條文：噤口痢  水穀痢  風痢  休息痢  熱痢  寒痢  濕痢  五色痢
噤口飲食俱不納，水穀糟粕雜血膿，風痢墜重圊清血，休息時作復時停，
熱痢魚腦稠黏穢，寒痢稀澥白清腥，濕痢黑豆汁渾濁，五色相雜藏氣凶。
註：[1]噤口痢者，下痢不食，或嘔不能食也。
　　[2]水穀痢者，糟粕膿血雜下也。
　　[3]風痢者，似腸風下清血而有墜痛也。
　　[4]休息痢者，時發作時停止也。
　　[5]五色痢者，五色膿血相雜而下也，若有藏腐屍臭之氣則凶。
</pre>
<pre data-sec="p">
篇名：痢疾
條文：痢疾死證
水漿不入痢不止，氣少脈細皮膚寒，純血噤口嘔藏氣，身熱脈大命難全。
註：[1]下痢不止，水漿不入，氣少脈細，皮膚寒，死於陽絕也。
　　[2]下痢純血，噤口，嘔逆藏氣，身熱脈大，死於陰絕也。
</pre>
<pre data-sec="p">
篇名：痢疾
條文：倉廩湯  大黃黃連湯
初痢表熱宜倉廩，裏熱衝心大黃連，寒痢理中訶蔻縮，附白桂赤不須言。
註：[1]初痢有表證發熱者，不宜攻之，法當先解其外，用倉廩湯汗之。
　　[2]裏熱盛，上衝心作嘔噤口者，法當先攻其裏，用大黃、黃連，
　　   好酒煎服攻之。
　　[3]寒痢宜用理中湯，加訶子、肉蔻、縮砂，
　　   白多者加附子，赤多者加肉桂也。
</pre>
<pre data-sec="p">
篇名：痢疾
條文：芍藥湯
初痢內外無大熱，芩連枳木芍歸榔，桂草尿澀滑石倍，痢數窘痛入大黃。
註：[1]初痢外無表熱，內熱不盛，宜用芍藥湯。即黃芩、黃連、枳實、木香、
　　   芍藥、當歸、檳榔、甘草、肉桂少許也。小便澀赤加滑石。
　　   下痢次數無度，下墜痛甚，入大黃也。
</pre>
<pre data-sec="p">
篇名：痢疾
條文：香連和胃湯  參連開噤湯  貼臍法
痢疾下後調氣血，宜用香連和胃湯，黃芩芍藥香連草，陳皮白朮縮砂當，
赤虛更加椿榆炒，白虛參苓共炒薑，噤口參連石蓮子，貼臍王瓜藤散良。
註：[1]痢疾攻後病勢大減，宜調氣血，用香連和胃湯，即黃芩、芍藥、木香、
　　   黃連、甘草、陳皮、白朮、當歸、縮砂也。赤痢下血多虛者，當澀之，
　　   加炒椿根白皮、炒地榆。白痢日久氣虛者， 
　　   加人參、茯苓、炒乾薑以補之。
　　[2]實而噤口堪下者，以大黃黃連湯下之。不堪下者，內以人參、黃連、
　　   石蓮子煎湯，徐徐服之，下咽即好。外以貼臍王瓜藤散， 
　　   即王瓜藤、莖、葉經霜者，燒灰香油調，納臍中，即有效也。
</pre>
<pre data-sec="p">
篇名：痢疾
條文：真人養藏湯
久痢寒熱烏梅治，寒虛滑痢養藏湯，參朮肉蔻歸訶桂，芍藥罌粟草木香。
註：[1]久痢藏有寒熱不分者，宜用烏梅丸調和之。
　　[2]寒虛滑脫者，宜用養藏湯溫補之，即人參、白朮、肉蔻、當歸、訶子、
　　   肉桂、芍藥、罌粟殼、甘草、木香也。
</pre>
<pre data-sec="p">
篇名：痢疾
條文：香連平胃散  胃風湯
水穀調中益氣治，濕痢香連平胃方，虛濕風痢胃風治，桂粟八珍減地黃。
註：[1]水穀痢者，乃脾胃虛，腐化不及，宜調中益氣湯。
　　[2]濕痢宜木香、黃連，合平胃散方。
　　[3]濕而虛者，宜用胃風湯，即肉桂，粟米、八珍湯減地黃也。
</pre>
<pre data-sec="p">
篇名：痢疾
條文：五色痢  休息痢治法
五色休息皆傷藏，澀早滯熱蘊於中，補之不應脈有力，日久仍攻餘法同。
註：[1]五色，休息二痢，皆因用止澀藥早，或因滯熱下之未盡， 
　　   蘊於腸胃傷藏氣也。
　　[2]用一切補養之藥不應，則可知初病非止澀太早，即下之未盡也。
　　[3]診其脈若有力，雖日久仍當攻也。
　　[4]其餘治法，與諸痢同。
</pre>
<pre data-sec="p">
篇名：疸證
條文：疸證總括
面目身黃欲安臥，小便渾黃疸病成，已食如饑飽煩眩，胃疸穀疸酒疸名， 
女勞額黑少腹急，小便自利審瘀生，黃汗微腫皆濕熱，陰黃重痛厥如冰。
註：[1]面目身黃，但欲安臥，小便黃渾，此黃疸病已成也。
　　[2]如已食如饑，食難用飽，飽則心煩頭眩，此欲作胃疸。胃疸者， 
　　   即穀疸也。若已見黃色，疸已成矣。得之於胃有濕熱，大饑過食也。
　　[3]酒疸者，得之於飲酒無度，而發是病也。
　　[4]女勞疸者，疸而額黑，少腹急，小便自利，得之於大勞大熱與女交接也。
　　[5]瘀血發黃，亦少腹急，小便自利，但不額黑耳。詳在傷寒門。
　　[6]黃汗者，汗出黃色染衣，面目微腫，得之於素有濕熱，汗出入水浴之也。
　　[7]此皆濕熱而成，惟陰黃則屬濕寒。
　　[8]陰黃者，身重而痛，身重而痛，厥冷如冰，詳在傷寒門。
</pre>
<pre data-sec="p">
篇名：疸證
條文：疸病死證
疸過十日而反劇，色若烟燻目暗青，喘滿渴煩如啖蒜，面黧汗冷及天行。
註：[1]仲景曰：黃疸之病，當以十八日為期，治之十日上宜瘥，反劇為難治也。
　　[2]色若煙燻，目神暗青，陽黃死證也。
　　[3]面色黧黑，冷汗漐漐，陰黃死證也。
　　[4]喘滿渴煩不己，胸如啖蒜刺痛，黃毒入腹，死證也。
　　[5]天行疫癘發黃，名曰瘟黃，死人最暴也。
</pre>
<pre data-sec="p">
篇名：疸證
條文：麻黃茵陳醇酒湯  茵陳蒿湯  梔子蘗皮湯  茵陳五苓散
表實麻黃茵陳酒，裏實茵陳梔大黃，無證茵陳梔子柏，尿少茵陳五苓湯。
註：[1]諸疸表實無汗者，以麻黃、茵陳，無灰好酒煎服汗之。
　　[2]裏實不便，以茵陳、梔子、大黃下之。
　　[3]無表裏證，以茵陳、梔子、柏皮清之。
　　[4]小便短少，以茵陳五苓散利之。
</pre>
<pre data-sec="p">
篇名：疸證
條文：胃疸湯
穀疸熱實宜乎下，不實宜用胃疸湯，茵陳胃苓減草朴，連梔防己葛秦方。
註：[1]胃疸湯，即茵陳、蒼朮、陳皮、白朮、茯苓、豬苓、澤瀉、黃連、
　　   梔子、防己、葛根、秦艽也。
</pre>
<pre data-sec="p">
篇名：疸證
條文：茵陳解酲湯  梔子大黃湯  蔓菁散  加味玉屏風散
酒疸虛茵解酲湯，實用梔鼓枳大黃，黃汗一味蔓菁散，石膏茵陳耆朮防。
註：[1]酒疸虛者，用茵陳解酲湯，即葛花解酲湯加茵陳也。
　　[2]實者，用梔子大黃湯，即梔子、淡豆豉、枳實、大黃也。
　　[3]黃汗宜用蔓菁子一味，為細末，每服二錢，日三，井華水調服， 
　　   小便白則愈。
　　[4]或用加味玉屏風散，即石膏、茵陳、黃耆、白朮、防風也。
</pre>
<pre data-sec="p">
篇名：疸證
條文：石膏散  腎疸湯
女勞實者膏滑麥，女勞虛者腎疸醫，升陽散火減去芍，加芩柏麴四苓俱。
註：[1]石膏散，即煅石膏、飛滑石各等分，每服二錢，大麥湯調服。
　　[2]腎疸湯，即升陽散火湯減去芍藥，乃升麻、蒼朮、防風、獨活、柴胡、
　　   羌活、葛根、人參、甘草，加入黃芩、黃柏、神麴、白朮、茯苓、
　　   豬苓、澤瀉也。
</pre>
<pre data-sec="p">
篇名：積聚
條文：積聚總括
五積六聚本難經，七癥八瘕載千金，腸覃石瘕辨月事，癖之名別淺深，
藏積發時有常處，府聚忽散無本根，癥類積痃瘕聚癖，腸滿汁溢外寒因。
註：[1]五積、六聚之名，本乎『難經』。
　　[2]五積，肥氣、伏梁、痞氣、息賁、奔豚也。
　　[3]六聚者，積之著於孫絡、緩筋、募原、膂筋、腸後、輸脈也。
　　[4]七癥、八瘕之名，載『千金方』。
　　[5]七癥者，蛟、蛇、鱉、肉、髮、虱、米也。
　　[6]八瘕者，青、黃、燥、血、脂、狐、蛇、鱉也。
　　[7]腸覃者，積在腸外，狀如懷子，月事以時而下。
　　[8]石瘕者，積在胞中，狀如懷子，月事不以時下，故曰辨月事也。
　　[9]痃者，外結募原肌肉之間。
　　[10]癖者，內結隱僻膂脊腸胃之後，故曰別淺深也。
　　[11]然積者屬藏，陰也，故發有常處，不離其部。
　　[12]聚者屬府，陽也，故發無根本，忽聚忽散。
　　[13]癥不移，而可見，故類積、類痃也。
　　[14]瘕能移，有時隱，故類聚、類癖也。
　　[15]積聚、癥瘕、腸覃、石瘕、痃癖之疾，皆得之於喜怒不節則傷藏， 
　　    飲食過飽則傷府，腸胃填滿，汁液外溢，為外寒所襲， 
　　    與內氣血、食物凝結相成也。
</pre>
<pre data-sec="p">
篇名：積聚
條文：積聚難證
積聚牢堅不軟動，胃弱溏瀉不堪攻，奔豚發作狀欲死，氣上衝喉神怖驚。
註：[1]積聚牢固不動，堅鞕不軟，則病深矣。
　　[2]胃弱食少、大便溏瀉，不堪攻矣。
　　[3]五積之中，奔豚最為難治，若更發作，正氣虛不能支，其狀欲死， 
　　   從少腹起，氣上衝喉，神色驚怖，皆惡候也。
</pre>
<pre data-sec="p">
篇名：積聚
條文：積聚治法
積聚胃強攻可用，攻虛兼補正邪安，氣食積癖宜化滯，溫白桃仁控涎丹。
註：[1]積聚宜攻，然胃強能食，始可用攻。
　　[2]若攻虛人，須兼補藥，或一攻三補，或五補一攻，攻邪而不傷正， 
　　   養正而不助邪，則邪正相安也。
　　[3]凡攻氣食積癖，宜用秘方化滯`，丸方在內傷門。
　　[4]攻積聚、癥瘕，宜用溫白丸，即萬病紫菀丸，方倍川烏。
　　[5]攻血積、血瘕，宜用桃仁煎，即桃仁、大黃各一兩，蝱蟲炒五錢， 
　　   朴硝一兩，共為末，先以醇醋一斤，用砂器慢火煎至多半鍾， 
　　   下末藥攪良久，為小丸，前一日不吃晚飯，五更初，溫酒送一錢， 
　　   取下惡物如豆汁雞肝。未下次日再服，見鮮血止藥。
　　   如無蝱蟲，以䗪蟲代之，然不如蝱蟲為愈也。
　　[6]攻痰積，宜用控涎丹，方在痰飲門。
</pre>
<pre data-sec="p">
篇名：疝證
條文：疝證總括
經云任脈結七疝，子和七疝主於肝，肝經過腹環陰器，任脈循腹裏之原。
疝證少腹引陰痛，衝上衝心二便難，厥吐瘕癥狐出入，潰膿癃秘木㿗頑。
註：[1]經曰：任脈為病，男子內結七疝，女子帶下瘕聚。
　　[2]瘕聚者，即女子之疝也。
　　[3]七疝主任者，原以任脈起中極，循腹裏也。
　　[4]七疝主肝者，蓋以肝經過腹裏，環陰器也。
　　[5]是以諸疝病，無不由是二經，故主之也。
　　[6]疝病之證，少腹痛引陰丸，氣上衝心，不得二便者，為衝疝也。
　　[7]少腹痛引陰丸，肝之逆氣衝胃作吐者，為厥疝也。
　　[8]少腹之氣不伸，左右癥塊作痛者，為瘕疝也。
　　[9]臥則入腹，立則出腹入囊，似狐之晝則出穴而溺，夜則入穴而不溺者，
　　   為狐疝也。
　　[10]少腹痛引陰丸，橫骨兩端約文中狀如黃瓜，內有膿血者，為㿉疝也。
　　[11]少腹痛引陰丸，小便不通者，為癃疝也。
　　[12]少腹不痛，陰囊腫大頑鞕者，為㿗疝也。
</pre>
<pre data-sec="p">
篇名：疝證
條文：疝證同名異辨
血疝便毒潰魚口，㿉㿗氣墜筋即疳，水疝胞痹皆癃疝，衝似小腸腰疼連。
註：[1]有謂血疝者，其證即便毒魚口也。
　　[2]㿉疝者，其證即㿗疝也。
　　[3]氣疝者，即偏墜也。
　　[4]筋疝者，即下疳也。
　　[5]水疝小便不通，胞痹即膀胱氣，皆癃疝也。
　　[6]衝疝證似小腸氣，而更連腰痛也。
</pre>
<pre data-sec="p">
篇名：疝證
條文：諸疝治法
治疝左右分氣血，尤別虛濕熱與寒，寒收引痛熱多縱，濕腫重墜虛輕然。
註：[1]疝病，凡在左邊陰丸屬血分，凡在右邊陰丸屬氣分。
　　[2]凡寒則收引而痛甚，熱則縱而痛微。
　　[3]凡濕則腫而重墜，而虛亦腫墜，但輕輕然而不重也。
</pre>
<pre data-sec="p">
篇名：疝證
條文：當歸溫疝湯  烏桂湯
中寒冷疝歸芍附，桂索茴楝澤萸苓，外寒入腹川烏蜜，肉桂芍草棗薑同。
註：[1]當歸溫疝湯，即當歸、白芍、附子、肉桂、延胡索、小茴香、川楝子、
　　   澤瀉、吳茱萸、白茯苓也。
　　[2]烏桂湯，即川烏、蜂蜜、肉桂、白芍藥、炙甘草、生薑、大棗也。
</pre>
<pre data-sec="p">
篇名：疝證
條文：烏頭梔子湯
外寒內熱烏梔炒，水酒加鹽疝痛安，㿗疝不問新與久，三層茴香自可痊。
註：[1]此茴香丸，方在『醫宗必讀』。
</pre>
<pre data-sec="p">
篇名：疝證
條文：十味蒼柏散
醇酒厚味濕熱疝，不謹房勞受外寒，蒼柏香附青益草，茴索查桃附子煎。
註：[1]此散，即蒼朮、黃柏、香附、青皮、益智、甘草、小茴香、南山查、
　　   延胡索、桃仁、附子也。
</pre>
<pre data-sec="p">
篇名：疝證
條文：茴楝五苓散  大黃皂刺湯
膀胱水疝尿不利，五苓茴楝與蔥鹽，瘕鞕血疝宜乎下，大黃皂刺酒來煎。
註：[1]大黃皂刺湯，即大黃、皂刺各三錢，酒煎服也。
</pre>
<pre data-sec="p">
篇名：疝證
條文：羊肉湯
血分寒疝女產後，臍腹連陰脹痛疼，羊肉一斤薑五兩，當歸三兩水八升。
</pre>
<pre data-sec="p">
篇名：疝證
條文：奪命湯
衝疝厥疝痛上攻，臍悸奔豚氣上行，吳茱一味為君主，肉桂澤瀉白茯苓。
</pre>
<pre data-sec="p">
篇名：疝證
條文：青木香丸
氣疝諸疝走注痛，青木香附吳萸良，巴豆拌炒川揀肉，烏藥蓽澄小茴香。
註：[1]青木香丸，即青木香五錢，酒醋浸炒吳茱萸一兩，香附醋炒一兩， 
　　   蓽澄茄五錢，烏藥五錢，小茴香五錢，巴豆仁二十一粒、
　　   研碎拌炒川楝肉五錢，為末合均，蔥涎為小丸，每服三錢， 
　　   酒鹽任下立愈。及能醫一切疝痛神效。
</pre>
<pre data-sec="p">
篇名：疝證
條文：茴香楝實丸
楝實狐疝一切疝，楝肉茴香馬藺芫，三萸二皮各一兩，仍宜急灸大敦安。
註：[1]茴香楝實丸，治狐疝及一切諸疝，即川楝肉、小茴香、馬藺花、
　　   芫花醋炒變焦色，山茱萸、吳茱萸、食茱萸、青皮、陳皮各一兩，為末， 
　　   醋糊為小丸，酒送二錢。
按：大敦肝經穴，在足大指甲後有毛處，諸疝均宜灸之即安。
</pre>
<pre data-sec="p">
篇名：頭痛、眩暈
條文：頭痛眩暈總括
頭痛痰熱風濕氣，或兼氣血虛而疼，在右屬氣多痰熱，左屬血少更屬風，
因風眩暈頭風痛，熱暈煩渴火上攻，氣鬱不伸痰嘔吐，濕則重痛虛動增。
註：[1]頭痛，屬痰、屬熱、屬風、屬濕、屬氣，或兼氣虛、血虛。
　　[2]因風而痛，謂之頭風，必眩暈。
　　[3]因熱而痛暈者，則煩渴。
　　[4]因氣鬱而痛暈者，則志意不伸。
　　[5]因痰而痛暈者，則嘔吐痰涎。
　　[6]因濕而痛暈者，則頭重不起。
　　[7]因虛而痛暈者，動則更痛更暈也。
</pre>
<pre data-sec="p">
篇名：頭痛、眩暈
條文：頭痛眩暈死證
真頭腦痛朝夕死，手足厥逆至節青，瀉多眩暈時時冒，頭猝大痛目瞀凶。
註：[1]真頭痛，痛連腦內，手足青冷至肘膝之節，朝發夕死。
　　[2]凡頭痛眩暈，時時迷冒，及頭目猝然大痛，目視不見，或瀉多之後， 
　　   皆凶證也。
</pre>
<pre data-sec="p">
篇名：頭痛、眩暈
條文：蓽苃散  芎芷石膏湯
頭風㗜鼻熱蓽苃，濕盛瓜蒂入茶茗，風盛日久三聖散，內服芎芷石膏靈。
芎芷石膏菊羌藁，苦加細辛風防荊，熱加梔翹芩薄草，便秘尿紅硝黃攻。
註：[1]一切頭風兼熱者，以蓽苃散㗜鼻。
　　[2]即蓽苃一味為末，用豬膽汁拌過㗜之，作嚏立愈。
　　[3]一切頭風兼濕者，以瓜蒂、松蘿茶，二味為末，㗜之出黃水立愈。
　　[4]頭風風盛時發，日久不愈，則多令人目昏，以三聖散㗜之，方在中風門。
　　   內用芎芷石膏湯，即芎、芷、石膏、菊花、羌活、藁本也。
　　   苦痛者加細辛。風盛目昏加防風、荊芥穗。熱盛加梔子、連翹、黃芩、甘草。
　　   大便秘小便赤加硝、黃，攻之自愈也。
</pre>
<pre data-sec="p">
篇名：頭痛、眩暈
條文：茶調散  清震湯  滾痰丸  人參芎附湯
風熱便利茶調散，雷頭荷葉蒼與升，痰熱滾痰芎作引，虛寒真痛附參芎。
註：[1]雷頭風痛，頭面疙瘩，耳聞雷聲，宜清震湯，即荷葉、蒼朮、升麻也。
　　[2]人參芎附湯，即人參、川芎、川附也。
</pre>
<pre data-sec="p">
篇名：頭痛、眩暈
條文：芎犀丸
偏正頭風芎犀丸，血虛四物薄羌天，氣虛補中加芎細，氣逆降氣黑錫丹。
註：[1]血虛，面少血色，或久脫血也。
　　[2]天，天麻也。
　　[3]降氣，蘇子降氣湯也。
</pre>
<pre data-sec="p">
篇名：頭痛、眩暈
條文：芎麻湯  半夏白朮天麻湯
欲吐暈重風痰痛，芎麻湯下白丸寧，虛者六君耆乾柏，天麻麴孽澤蒼同。
註：[1]麻，天麻也。
　　[2]白丸，青州白丸子也。
　　[3]虛者，謂風痰兼氣虛者，宜半夏白朮天麻湯，即六君子加黃耆、乾薑、
　　   黃柏、天麻、神麴、麥蘗、澤瀉、蒼朮也。
</pre>
<pre data-sec="p">
篇名：頭痛、眩暈
條文：荊穗四物湯
頭暈頭痛同一治，血虛物穗氣補中，氣血兩虛十全補，上盛下虛黑錫靈。
註：[1]頭暈之虛實寒熱諸證，同乎頭痛一治法也。
　　[2]其有因血虛，宜用荊穗四物湯，即當歸、川芎、白芍、
　　   熟地黃、荊芥穗也。
　　[3]氣虛，宜用補中益氣湯。
　　[4]氣血兩虛，宜用十全大補湯。
　　[5]上盛下虛，宜用黑錫丹。
</pre>
<pre data-sec="p">
篇名：眼目病
條文：眼目總括
目為五藏六府精，氣白筋黑骨精瞳，血為眥絡肉約束，裹擷係屬腦項中。
經熱腠開因風入，合邪上攻赤腫疼，輕者外障生雲翳，重者積熱頓傷睛。
註：[1]經曰：五藏六府之精氣，皆上注於目而為之精。
　　[2]精之窠為眼，氣之精為白眼，筋之精為黑眼，骨之精為瞳子， 
　　   血之精為絡眥，肉之精為約束，即眼胞也，裹擷筋骨血氣之精， 
　　   而與脈係上屬於腦，後出於項中。
　　[3]因經熱蒸開腠理，故風邪得以入之，風熱之邪合上攻於目，赤腫疼痛。
　　[4]輕者則為外障，或暴生雲翳，重者則積熱之甚，陡然痛傷睛也。
</pre>
<pre data-sec="p">
篇名：眼目病
條文：外障病證
火眼赤腫淚澀痛，鞕腫多熱軟多風，瞼粟爛弦雞蜆肉，努肉赤脈貫瞳睛，
血灌瞳人高突起，旋螺尖起蟹睛疼，拳毛風淚風癢極，赤膜下垂黃膜衝。
註：[1]風熱上攻，目赤腫痛多淚，隱澀難開，火眼也。
　　[2]腫而鞕者，屬熱盛也，宜先下之。
　　[3]腫而軟者，屬風盛也，宜先發散。
　　[4]兩瞼上、下初生如粟，漸大如米，或赤或白，不甚疼痛，謂之瞼生風粟。
　　[5]兩瞼黏睛，赤爛癢痛，經年不愈，謂之爛弦風，又名赤瞎。
　　[6]瞼內如雞冠，蜆肉翻出，視物阻礙，痛楚羞明，謂之雞冠蜆肉。
　　   此皆脾經風熱為病也。
　　[7]兩眥筋膜努出，謂之努肉攀睛。
　　[8]兩眥赤脈漸漸侵睛，謂之赤脈貫睛。
　　[9]兩眼混赤如朱，痛如針刺，謂之血灌瞳人。
　　[10]兩眼癢痛，忽然突起，謂之突起睛高。
　　[11]目中大痛，忽生翳膜，狀如旋螺，謂之旋螺尖起。
　　[12]目中大痛，忽然瞳睛努如蟹目，謂之蟹睛疼痛，又名損翳。
　　    此皆肝、心二經積熱也。
　　[13]兩瞼燥急，睫毛倒刺，謂之倒睫拳毛。
　　[14]兩目衝風，淚出涓涓，冬月尤甚，謂之迎風流淚。
　　[15]兩目連眥癢極不痛，謂之風癢難任。
　　[16]目中從下忽生黃膜，侵睛疼痛，謂之黃膜上衝。
　　[17]目中從上忽生赤膜，垂下遮睛，謂之赤膜下垂；又名垂簾翳。
　　    此皆心、肝、脾三經風熱為病也。
</pre>
<pre data-sec="p">
篇名：眼目病
條文：內障病證
內障頭風五風變，珠白黃綠不光明，頭風痛引目無淚，相注如坐暗室中，
綠風頭旋連鼻痛，兩角相牽引目疼，時或白花紅花起，同綠黑花為黑風，
烏花不旋漸昏暗，黃風雀目久金睛，青風微旋不癢痛，青花轉轉目昏矇。
註：[1]內障之病，每因頭風五風變成。
　　[2]初病瞳珠漸漸變色，睛裏隱隱似翳，或白或黃或綠，雖與不患之眼似，
　　   然無精彩光明射人。
　　[3]病頭風者，發則頭痛引目無淚，或左目、或右目，或先左目，後右目，
　　   相注不定，如坐暗室之中，此頭風傷目之漸也。
　　[4]綠風者，頭旋兩角連鼻相牽引，目疼痛時，或見起白花、紅花， 
　　   此綠風傷目之漸也。
　　[5]黑風者，證同綠風，時時見起黑花，此黑風傷目之漸也。
　　[6]烏風者，亦同黑風，但不旋暈而見烏花，漸漸昏暗，此烏風傷目之漸也。
　　[7]黃風者，久病雀目，瞳睛金色，此黃風傷目之漸也。
　　[8]青風者，頭微旋不癢不痛，但見青花轉轉，日漸昏矇， 
　　   此青風傷目之漸也。
</pre>
<pre data-sec="p">
篇名：眼目病
條文：菊花通聖散  洗刀散
暴發火眼通聖菊，外障等證減加方，風盛羌加防麻倍，熱盛加連倍硝黃，
痛生翳膜多傷目，洗刀更入細獨薑，元參木賊白蒺藜，草決蟬蛻蔓青葙。
註：[1]菊花通聖散，即防風通聖散加菊花也。
　　[2]洗刀散，即本方更加細辛、羌、獨、蔓荊、青葙子等藥也。
</pre>
<pre data-sec="p">
篇名：眼目病
條文：內外障治
外障無寒一句了，五輪變赤火因生，內障有虛心腎弱，故如不病損光明，
火能外鑑水內照，養神壯水自收功，五風內變諸翳障，眼科自有法能攻。
註：[1]外障目病：子和曰：目不因火不病。所以五輪變赤，氣輪白睛， 
　　   火乘肺也。肉輪目胞，火乘脾也。風輪黑睛，火乘肝也。水輪瞳人， 
　　   火乘腎也。血輪兩眥，火自甚也。故能治火者，一句便了也。
　　[2]治火之法：在藥則咸寒吐之下之，在針則神庭、上星、顖會、前項、
　　   百會刺之，翳者可使立退，痛者可使立已，昧者可使立明， 
　　   腫者可使立消矣。
　　[3]內障目病：雖亦無寒，然有虛也。虛或兼熱，亦屬虛熱，故不赤腫疼痛，
　　   如不病眼人，但不精彩光明也。心虛則神不足，神者火也， 
　　   火內暗而外明，故不能外鑿而失其光明也。腎虛則精不足，精者水也， 
　　   水外暗而內明，故不能內照而其失光明也。心虛者，則養心神；腎虛者， 
　　   則壯腎水，自可收功於不明也。
　　[4]其五風內變諸翳，如圓翳、冰翳、清翳、澀翳、散翳、橫翳、浮翳、
　　   沉翳，偃月、棗花、黃心、黑風等翳，俱列在眼科，方書自有治法， 
　　   難以盡述，此特其大概耳。
</pre>
<pre data-sec="p">
篇名：牙齒口舌病
條文：牙齒口舌總括
牙者骨餘屬乎腎，牙齦手足兩陽明，齒長豁動為腎憊，牙疼胃火風寒蟲。
不怕冷熱為風痛，火腫喜冷得寒疼，寒不腫蛀喜熱飲，蟲牙蝕盡一牙生。
註：[1]牙齒者，骨之餘，屬乎腎也。若無故齒長，疎豁而動，則為腎衰憊也。
　　   上牙齦屬足陽明，下牙齦屬手陽明。
　　[2]牙痛皆牙齦作痛，惟寒牙痛，則為客寒犯腦，多頭連齒痛，為寒邪也，
　　   故喜熱飲，不腫不蛀也。
　　[3]熱者，皆為胃火、邪風、濕熱也。
　　[4]火牙疼多腫喜飲冷，得寒則更疼者，讎仇之意也。
　　[5]蟲牙則一牙作痛，蝕盡一牙，又蝕一牙作痛也。
</pre>
<pre data-sec="p">
篇名：牙齒口舌病
條文：骨槽風  牙疳瘡
骨槽齦頰腫鞕疼，牙齦腐爛出血膿，牙疳腫鞕潰血臭，皆因痘疹癖疾成。
註：[1]骨槽風者，牙齦連頰鞕腫疼痛，牙齦腐爛，出血膿也。
　　[2]牙疳，以骨槽潰後腫鞕不消，然出臭血，而不出膿水也， 
　　   且皆痘疹癖疾之後而成也。
</pre>
<pre data-sec="p">
篇名：牙齒口舌病
條文：清胃散
清胃血分火牙痛，生地歸連升牡饒，氣分宜加荊防細，積熱涼膈入升膏。
註：[1]胃火牙痛，赤腫出血者，則為血分，宜用清胃散，即生地、當歸、
　　   黃連、升麻、牡丹皮也。饒者，倍加升麻、丹皮也。
　　[2]若腫痛牙齦不出血者，則為氣分，宜加荊芥、防風、細辛、以散其熱。
　　[3]若腸胃積熱，腫痛瀾臭，宜用涼膈散加升麻、石膏，以下其熱可也。
</pre>
<pre data-sec="p">
篇名：牙齒口舌病
條文：溫風散
溫風風牙歸芎細，蓽茇藁芷露蜂房，寒牙痛加羌麻附，半服含漱吐涎良。
註：[1]不甚腫痛，不怕冷熱，為風牙痛，宜用溫風散。即當歸、川芎、細辛、
　　   蓽茇、藁本、白芷、露蜂房也。
　　[2]不腫痛甚，喜飲熱湯，為寒牙痛，宜本方再加羌活、麻黃、
　　   川附子溫而散之。二方俱服一半，含漱一半，連涎吐之自好也。
</pre>
<pre data-sec="p">
篇名：牙齒口舌病
條文：一笑丸  玉池散 薰藥
諸牙椒巴飯丸咬，玉池藁芷骨槐辛，歸芎大豆升防草，蟲牙蔥韭子薰。
註：[1]諸牙，謂諸牙痛也。
　　[2]均宜一笑丸，即川椒七粒為末，巴豆一粒去皮研勻，飯為丸綿裹咬痛處，
　　   吐涎即止，均宜用玉池散，即藁本、白芷、地骨皮、槐花、細辛、
　　   當歸、川芎、黑豆、升麻、防風、甘草、煎湯、熱漱冷吐。
　　[3]蟲牙亦宜此咬漱。更須用韭子或蔥子，置小爐中燒之，擱在大水碗內，
　　   復以漏斗，口向蟲牙痛處燻之，其蟲極小，皆落水碗之中，累效。
</pre>
<pre data-sec="p">
篇名：牙齒口舌病
條文：蕪荑消疳湯
牙疳雖有專科治，然皆未曉累攻神，能食便軟猶當下，雄芫黃薈二連芩。
註：[1]牙疳一病，殺人最速，雖有專科，然皆未曉累攻之法。
　　[2]累攻者，今日攻之，明日又攻之，明日又攻之，以腫鞕消，黑色變， 
　　   臭氣止為度。
　　[3]若不能食，或隔一日，或隔二、三日攻之，攻之後漸能食，不必戒口，
　　   任甚所食。
　　[4]雖大便溏，仍量其輕重攻之，自見甚神。
　　[5]若意不思食，難任攻下，則死證也。
　　[6]攻藥用蕪荑消疳湯，即雄黃、蕪荑、生大黃、蘆薈、川黃連、胡黃連、
　　   黃芩也。
</pre>
<pre data-sec="p">
篇名：牙齒口舌病
條文：口舌證治
唇口屬脾舌屬心，口舌瘡糜蘊熱深，口淡脾和臭胃熱，五味內溢五熱淫。
木舌重舌舌腫大，唇腫唇瘡緊繭唇，暴發赤痛多實熱，淡白時痛每虛因。
註：[1]口舌生瘡糜爛，名曰口糜，乃心、脾二經蘊熱深也。
　　[2]平人口淡，故曰脾和。口出氣臭，則為胃熱。
　　   不因食五味而口內溢酸味者，乃肝熱淫脾也。苦味者，心熱淫脾也。
　　   甘味者，本經熱自淫也。辛味者，肺熱淫脾也。鹹味者，腎熱淫脾也。
　　[3]木舌，謂舌腫鞕不痛也。
　　[4]重舌，謂舌下腫似舌也。
　　[5]舌腫，謂舌腫大也。
　　[6]唇腫，謂唇腫痛厚也。
　　[7]唇瘡，謂唇腫潰裂成瘡也。
　　[8]緊繭唇，謂唇緊小燥裂也。以上之證，皆屬心、脾、胃經蘊熱。
　　[9]若暴發赤腫痛甚，多為實熱，宜以涼膈散、梔子金花湯，急下甚熱， 
　　   可即愈也。
　　[10]若日久色淡瘡白，時痛不痛，每屬虛熱，宜清心蓮子飲、知柏四物湯，
　　    補中兼清可也。
　　[11]或服涼藥久不愈者，以七味地黃湯冷服，引火歸原。不效甚者， 
　　    加附子可立愈也。
</pre>
<pre data-sec="p">
篇名：咽喉病
條文：咽喉總括
胸膈風熱咽喉痛，邪盛單雙乳蛾生，熱極腫閉名喉痹，語言難出息不通， 
痰盛涎繞喉間響，內外腫閉纏喉風，喉痹纏喉皆危證，潰後無膿腫閉凶。
註：[1]胸膈上有風熱，則咽喉腫痛，風熱之邪若盛，則生單雙乳蛾， 
　　   在會厭兩傍高腫似乳蛾，故名也。
　　[2]熱極則腫閉，湯水不下，言語難出，呼吸不通，名曰喉痹。
　　[3]若熱極更兼痰盛，則痰涎繞於喉間，聲響咽喉，內外腫閉，湯水不下，
　　   名曰纏喉風，皆危病也。
　　[4]或服藥、或吹藥、或針刺，潰破出膿血則愈。
　　[5]若潰後不出膿血，仍然腫閉，湯水不下則死矣。
</pre>
<pre data-sec="p">
篇名：咽喉病
條文：如意勝金錠  雄黃解毒丸  
咽痛消毒涼膈散，單雙乳蛾刺血痊，喉痹纏喉勝金錠，急攻痰熱解毒丸，
昏噤牙關湯不下，從鼻吹灌度喉關，吐下之後隨證治，潰爛珍珠散上安。
註：[1]咽喉初起腫痛，宜用消毒涼膈散，即防風、荊芥、牛蒡子、梔子、
　　   連翹、薄荷、黃芩、甘草、大黃、芒硝也。
　　[2]單雙乳蛾，則刺少商出血，在左刺左，在右刺右，在左右刺左右也。
　　[3]喉痹，起，病勢未甚，或狀如傷寒，宜服如意勝金錠，即硫黃、川芎、
　　   臘茶、火硝、薄荷、生川烏、生地黃各等分為末，蔥自然汁合為錠， 
　　   重一錢，薄荷湯磨化服，甚者連進三次。
　　[4]若痰涎壅盛，喉間內外腫閉，湯水難下，病勢危急，宜用雄黃解毒丸，
　　   即雄黃水飛，鬱金細末，各二錢半，巴豆仁肥白者十四粒，微去油， 
　　   以成散為度，合均，醋糊為丸，如綠豆，茶清下七丸，便利吐痰則愈。
　　[5]若昏冒牙關噤急，湯不能下，將藥用醋化開十丸，按中風門之法， 
　　   㗜入鼻內，吐下則愈，其後隨證調治可也。
　　[6]若雖愈咽喉潰爛，以珍珠散上之即好。
</pre>
<pre data-sec="p">
篇名：咽喉病
條文：吹喉七寶散
咽喉諸證七寶散，硝皂蝎雄硼二礬，細研如塵取一字，吹中患處效如神。
註：[1]咽喉諸證，謂咽喉腫痛，單雙乳蛾，喉痹，纏喉也。
　　[2]七寶散，即火硝、牙皂、全蝎、雄黃、硼砂、白礬、膽礬也。
</pre>
<pre data-sec="p">
篇名：肩背病
條文：肩背總括  通氣防風湯
通氣太陽肩背痛，羌獨藁草蔓防芎，氣滯加木陳香附，氣虛升柴參耆同，
血虛當歸白芍藥，血瘀薑黃五靈紅，風加靈仙濕二朮，研送白丸治痰凝。
註：[1]李杲羌活勝濕湯，又名通氣防風湯，治太陽經風濕肩背痛， 
　　   即羌活、獨活、藁本、甘草、蔓荊子、防風、川芎也。
　　[2]兼氣鬱滯痛者，則常常作痛，加木香、陳皮、香附也。
　　[3]氣虛鬱痛者，則時止時痛，加升麻、柴胡、人參、黃耆也。
　　[4]血虛鬱痛者，則夜甚時止，加當歸、白芍藥也。
　　[5]血瘀鬱痛者，則夜痛不止，加薑黃、五靈脂、紅花也。
　　[6]風氣鬱鬱盛者，痛則項肩強，加威靈仙也。
　　[7]濕氣鬱甚者，痛則肩背重，加蒼朮、白朮也。
　　[8]痰風凝鬱者，痛則嘔眩，用本湯研送青州白丸子也。
</pre>
<pre data-sec="p">
篇名：心腹痛
條文：心腹諸痛總括
心痛岐骨陷處痛，橫滿上胸下胃脘，當臍脾腹連腰腎，少腹小大腸脇肝。
蟲痛時止吐清水，疰即中惡寒外干，悸分停飲與思慮，食即停食冷內寒，
水停痰飲熱胃火，氣即氣滯血瘀緣，隨證分門檢方治，真心黑厥至節難。
註：[1]岐骨陷處痛，名心痛。
　　[2]橫滿連胸，名肺心痛。
　　[3]下連胃脘，名胃心痛。
　　[4]連臍，名脾心痛。
　　[5]連腰，名腎心痛。
　　[6]連少腹，名大腸小腸痛。
　　[7]連脅，名肝心痛。
　　[8]時止吐清水，名蟲心痛。
　　[9]中惡腹痛，名疰痛。
　　[10]寒邪外干，名中寒痛。
　　[11]悸而痛，名悸心痛。
　　[12]水停心下，屬飲也。
　　[13]思慮傷心，屬傷也。
　　[14]停食痛，停水痛，停痰痛，胃火痛，氣滯痛，血瘀痛，皆不死之證也。
　　[15]當分門施治，惟真心痛，面色黑，四肢逆冷至節，死證也。
</pre>
<pre data-sec="p">
篇名：心腹痛
條文：化滯丸  清中湯
攻濕積熱求化滯，攻寒積水備急丹，火痛二陳梔連蔻，蟲用烏梅飲控涎。
註：[1]化滯丸，成方也。
　　[2]清中湯，即陳皮、半夏、茯苓、甘草、薑炒山梔、黃連、草豆蔻也。
</pre>
<pre data-sec="p">
篇名：心腹痛
條文：木香流氣飲
七情鬱結流氣飲，思慮悸痛歸脾湯，內寒理中外五積，疰痛備急血抵當。
</pre>
<pre data-sec="p">
篇名：心腹痛
條文：小建中湯
木來乘土腹急痛，緩肝和脾小建中，血虛寒痛羊肉治，氣虛理中加陳青。
註：[1]羊肉，謂羊肉湯也。
</pre>
<pre data-sec="p">
篇名：心腹痛
條文：烏頭梔子湯
劫諸鬱痛烏梔子，劫而復痛入元明，已經吐下或虛久，急痛欲死求鴉嗚。
註：[1]諸鬱，謂諸寒火鬱而痛也。
　　[2]寒多炮川烏為主，熱多薑炒梔子為主。
　　[3]元明，元明粉也。
　　[4]鴉嗚，謂以真鴉片末，或加麝香少許，飯丸如桐子大，每服三、五丸引。
　　[5]在本草名：一粒金丹。
</pre>
<pre data-sec="p">
篇名：胸脇痛
條文：胸脇總括  栝蔞薤白白酒湯  栝蔞薤白半夏湯  
栝蔞薤白白酒湯，胸痹胸背痛難當，喘息短氣時欬唾，難臥仍加半夏良。
註：[1]栝蔞薤白白酒湯，即栝蔞實、小根菜，水白酒煎也。
</pre>
<pre data-sec="p">
篇名：胸脇痛
條文：顛倒木金散
胸痛氣血熱飲痰，顛倒木金血氣安，飲熱大陷小陷治，頑痰須用控涎丹。
註：[1]胸痛之證，須分屬氣、屬血、屬熱飲、屬老痰。
　　[2]顛倒木金散，即木香、鬱金也。屬氣鬱痛者，以倍木香君之。屬血鬱痛者，
　　   以倍鬱金君之。為末，每服二錢，老酒調下。虛者，加人參更效。
　　[3]胸中有痰飲熱作痛者，輕者小陷胸湯，重者大陷胸湯、丸治之。
　　[4]若吐唾稠黏痰盛，則用控涎丹。
</pre>
<pre data-sec="p">
篇名：胸脇痛
條文：枳芎散  枳橘散  柴胡疏肝湯  加味逍遙散  左金丸  當歸龍薈丸
脇痛左屬瘀留血，輕金芎枳草重攻，右屬痰氣重逐飲，片薑橘枳草醫輕，
肝實太息難轉側，肝虛作痛引肩胸，實用疏肝柴芍草，香附枳陳與川芎，
肝虛逍遙加芎細，陳皮生薑緩其中，肝虛左金實龍薈，一條扛起積食攻。
註：[1]左屬瘀血：輕，謂瘀血輕者，宜用枳芎散，枳芎散，即枳殼、撫芎、
　　   鬱金、甘草也。重攻，謂瘀血重者，宜以攻血之劑也。
　　[2]右屬痰氣。重逐飲，謂以控涎、十棗逐痛之重者也。枳橘散，即枳殼、
　　   橘皮、片子薑黃、甘草，醫痛之輕者也。
　　[3]柴胡疏肝散，即白芍，甘草、香附、枳殼、陳皮、川芎也。
　　[4]逍遙散，即白朮、茯苓、當歸、白芍、柴胡、炙草、薄荷少許， 
　　   加川芎、細辛、陳皮、生薑也。
　　[5]左金，即左金丸，吳茱萸、黃連也。
　　[6]肝實火旺者，當歸龍薈丸。
　　[7]積食者，以化滯丸。
　　[8]積飲者，以控涎丹。
</pre>
<pre data-sec="p">
篇名：腰痛
條文：腰痛總括
腰痛腎虛風寒濕，痰飲氣滯與血瘀，濕熱閃挫凡九種，面忽紅黑定難醫。
註：[1]腰痛之證，其因不同，有腎虛、有風、有寒、有濕、有痰飲、有氣滯、
　　   有血瘀、有濕熱、有閃挫，凡患腰痛極甚，而面色忽紅忽黑， 
　　   是為心腎交爭，難治之證也。
</pre>
<pre data-sec="p">
篇名：腰痛
條文：安腎丸
腰痛悠悠虛不舉，寄生青蛾安腎丸，胡蘆骨脂川楝續，桃杏茴苓川藥鹽。
註：[1]寄生，謂獨活寄生湯。
　　[2]青娥丸，即補骨脂、杜仲、核桃仁也。
　　[3]安腎丸，即胡蘆巴、補骨脂、川楝肉、川續斷、桃仁、杏仁、小茴香、
　　   茯苓，山藥也。
　　[4]鹽，鹽湯為引也。
</pre>
<pre data-sec="p">
篇名：腰痛
條文：羌活勝濕湯  通經丸
腰痛屬寒得熱減，五積吳萸桃杜安，寒濕重著勝濕附，內實通經硫面牽，
風痛無常掣引足，經虛當用寄生痊，經實非汗不能解，續命湯加牛杜穿。
註：[1]五積散，加吳茱萸、桃仁、杜仲。
　　[2]羌活勝濕湯，即防風通氣湯加附子也。
　　[3]通經丸，即硫黃、黑牽牛頭末，麥麵合丸煮，浮起服，方出本草。
　　   小續命湯加牛膝、杜仲、炒穿山甲也。
</pre>
<pre data-sec="p">
篇名：腰痛
條文：通氣散  活絡丹
氣滯閃挫通氣散，木陳穿索草茴牽，血瘀不移如錐刺，日輕夜重活絡丹。
註：[1]通氣散，即木香、陳皮、穿山甲、元胡索、甘草、小茴香、白牽牛也。
　　[2]活絡丹，即川烏、草烏、南星、地龍、乳香、沒藥。
</pre>
<pre data-sec="p">
篇名：腰痛
條文：蒼柏散  煨腎散
濕熱熱注足蒼柏，二妙牛杜己瓜芎，腰如物覆濕痰蓄，煨腎椒鹽遂有功。
註：[1]蒼柏散，即蒼朮、黃柏、牛膝、杜仲、防己、木瓜、川芎也。
　　[2]煨腎散，即豬腰子割開，入川椒、食鹽、甘遂末，濕紙裹煨，熟酒食之。
</pre>
<pre data-sec="p">
篇名：小便癃閉
條文：小便閉癃遺尿不禁總括
膀胱熱結為癃閉，寒虛遺尿與不禁，閉即尿閉無滴出，少腹脹滿痛難伸， 
癃即淋瀝點滴出，莖中澀痛數而勤，不知為遺知不禁，石血膏勞氣淋分。
註：[1]膀胱熱結，輕者為癃，重者為閉。
　　[2]膀胱寒虛，輕者為遺尿，重者為不禁。
　　[3]閉者，即小便閉無點滴下出，故少腹滿脹痛也。
　　[4]癃者，即淋瀝點滴而出，一日數十次，或勤出無度，故莖中澀痛也。
　　[5]不知而尿出，謂之遺尿。
　　[6]知而不能固，謂之小便不禁。
</pre>
<pre data-sec="p">
篇名：小便癃閉
條文：小便閉遺尿死證
嘔噦尿閉為關格，若出頭汗命將傾，傷寒狂冒遺尿死，尿閉細濇不能生。
註：[1]上為嘔噦不入，下為小便不通，則陰陽之氣關格， 
　　   若出頭汗，則為陽絕，故命傾也。
　　[2]傷寒狂冒屬陽邪盛，遺尿屬陰不守，若尿閉脈細澀，知陰亦竭， 
　　   故俱死也。
</pre>
<pre data-sec="p">
篇名：小便癃閉
條文：治癃閉熨吐下汗三法
陰陽熨臍蔥白麝，冷熱互熨尿自行，宣上木通蔥探吐，達外蔥湯燻汗通。
註：[1]用蔥白一斤細剉，入麝香五分拌勻，分二包置臍上，先以炭火熨斗熨之，
　　   半炷香時換一包，以冷水熨斗熨之，互相遞熨，以尿通為度。
　　[2]服諸藥不效，或服藥即時吐出，或服攻下藥不利，宜用宣上法： 
　　   以木通、老蔥煎湯服，頃時探吐，再服再吐，以尿通為度。
　　[3]服諸藥不效，或身無汗，宜用達外法：以蔥湯入木桶內， 
　　   令病人坐於杌上，沒臍為度，匝腰繫裙以覆之，少時汗出，其尿自出。
　　   欲尿時不可出桶，即於桶內溺之，恐出桶氣收，而尿又回也。
</pre>
<pre data-sec="p">
篇名：小便癃閉
條文：通關丸
熱實不化大便鞕，癃閉八正木香痊，陽虛不化多厥冷，惡寒金匱腎氣丸。
陰虛不化發午熱，不渴知柏桂通關，氣虛不化不急滿，倦怠懶言春澤煎。
註：[1]小便不通熱實者，宜用八正散加木香。
　　[2]陽虛者，宜用金匱腎氣丸。
　　[3]陰虛者，宜用通關丸，即知母、黃柏、肉桂少許也。
　　[4]氣虛宜用春澤湯，即五苓散加人參也。
</pre>
<pre data-sec="p">
篇名：小便癃閉
條文：八正散
石淋猶如鹻結鐺，是因濕熱煉膀胱，一切熱淋八正扁，通滑梔瞿草車黃。
註：[1]八正散，即扁蓄、木通、瞿麥、梔子、滑石、甘草、車前子、大黃也。
</pre>
<pre data-sec="p">
篇名：小便癃閉
條文：小薊飲子
血淋心遺熱小腸，實熱仍宜下之良，清熱小薊梔滑淡，歸藕通蒲草地黃
註：[1]淡，淡竹葉也。
　　[2]藕，藕節也。
　　[3]蒲，蒲黃也。
</pre>
<pre data-sec="p">
篇名：小便癃閉
條文：海金沙散  鹿角霜丸
膏淋尿濁或如涕，精溺俱出海草滑，熱盛八正加蒼朮，虛用秋苓鹿角佳。
註：[1]海，海金沙也。
　　[2]秋，秋石也。
　　[3]苓，茯苓也。
　　[4]鹿角，鹿角霜。
　　[5]糯米糊為丸也。
</pre>
<pre data-sec="p">
篇名：小便癃閉
條文：加味八正散
氣淋肺熱難清肅，八正石葦木葵沉，內傷氣虛不能化，五苓益氣自通神。
註：[1]八正散，加石葦、木香、冬葵子、沉香、五苓、合補中益氣湯。
</pre>
<pre data-sec="p">
篇名：小便癃閉、
條文：補中益氣湯合五苓散  清心蓮子飲
勞淋內傷補中苓，腎氣知柏過淫成，勞心清心蓮地骨，耆芩車麥草參苓。
註：[1]內傷勞脾，用補中益氣湯合五苓散。
　　[2]勞腎陽虛，用金匱腎氣湯。
　　[3]陰虛，用知柏地黃湯。
　　[4]思慮勞心，用清心蓮子飲，是方即蓮子、地骨皮、黃耆、黃芩、
　　   車前子、麥門冬、生甘草、人參、白茯苓也。
</pre>
<pre data-sec="p">
篇名：小便癃閉、
條文：琥珀散
痰淋七氣白丸子，熱燥清熱用滋陰，諸淋平劑琥珀木，葵蓄通滑歸鬱金。
註：[1]七氣湯見諸氣門。
　　[2]青州白丸子見類中風門。滋陰，通關丸也。
　　[3]木，木香也。
　　[4]葵，冬葵子也。
</pre>
<pre data-sec="p">
篇名：小便癃閉
條文：桂附地黃丸  補中益氣湯加白果方  坎離既濟湯加山萸肉五味子方
遺尿不禁淋尿白，桂附補中白果煎，補之不應或尿赤，生地知柏萸味攢。
註：[1]遺尿不禁，及諸淋、尿色白者，皆屬寒虛。寒者，用桂附地黃湯加白果。
　　   虛者，用補中益氣湯加白果。
　　[2]凡遺尿不禁，諸淋、尿色赤者，或補之不應者，亦有熱虛， 
　　   用坎離既濟湯，即生地、知母、黃柏，加山萸肉、五味子也。
</pre>
<pre data-sec="p">
篇名：大便燥結
條文：大便燥結總括
熱燥陽結能食數，寒燥陰結不食遲，實燥食積熱結胃，食少先鞕後溏脾； 
氣燥阻隔不降下，血燥乾枯老病虛，風燥久患風家候，直腸結鞕導之宜。
註：[1]熱燥即陽結也，能食而脈浮數有力，與三陽熱證同見者也。
　　[2]寒燥即陰結也，不能食而脈沉遲有力，與三陰寒證同見者也。
　　[3]實燥即胃實鞕燥也，與腹滿痛同見者也。
　　[4]虛燥即脾虛，先鞕後溏之燥也，與少氣腹縮同見者也。
　　[5]氣燥即氣道阻隔之燥也，與噎膈、反胃同見者也。
　　[6]血燥即血液乾枯之燥也，與久病老虛同見者也。
　　[7]風燥即久患風病之燥也，從風家治。
　　[8]直腸結，即燥屎巨鞕，結在肛門難出之燥也，從導法治之。
</pre>
<pre data-sec="p">
篇名：大便燥結
條文：溫脾湯  握藥法
熱實脾約三承氣，寒實備急共溫脾，大黃薑附桂草朴，寒虛硫半握藥醫，
虛燥益氣硝黃入，血燥潤腸與更衣，氣燥四磨參利膈，風燥搜風順氣宜。
註：[1]溫脾湯，即大黃、乾薑、附子、肉桂、甘草、厚朴也。
　　[2]硫半丸，即硫黃、半夏也。
　　[3]握藥，即巴豆仁、乾薑、韭子、良薑、甘遂、白檳榔，各五分， 
　　   為末合均，飲和分二粒，先以花椒湯洗手，麻油塗手心握藥，移時便瀉， 
　　   欲止則以冷水洗手。
　　[4]益氣，即補中益氣湯，加大黃、朴硝。
　　[5]潤腸丸，即當歸、生地、枳殼、桃仁、火麻仁，各等分為末，蜜丸， 
　　   米飲早服。
　　[6]更衣丸，即生蘆薈、朱砂末等分，飯丸，酒服。
　　[7]四磨湯，即人參、烏藥、沉香、檳榔也。
　　[8]參利膈，即人參利膈丸也。
　　[9]搜風順氣，即搜風順氣丸也。
</pre>
