<header data-type="book">
<h1>脈理求真</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>黃宮繡</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1769">公元1769年</data></dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>新著脈法心要</h2>
<p>繡按：脈為血脈，一身筋骨，皆於是宗；一身疾痛，皆於是徵。考諸先哲遺論，固多精義獨標，旨歸若揭，以為後世章程。然有牽引時令，巧借生死刻應，敷衍滿幅；與夫就脈就症，分斷考求，毫無變換，似非臨症要語。是篇綴精聚華，僭為鄙句，既以去乎膚廓，復更化裁盡變，推行盡通，洵醫中之活潑，脈法之吃緊至要處也。用是另為篇帙，聊贅數言，以弁其首。又按：篇中所論脈要，前半止就脈象部位，閒閒敘入，各就要處指明。至後始將診脈大要，層層剝進，不令診法稍有遺義，如中庸所論極致之功，反求其本，以至聲色俱泯而後已。讀者慎毋取其脈象部位，而置後幅變活要義於不審也。晦菴朱子曰：古人察脈非一道，今世惟守寸關尺之法，所謂關者多不明。獨俗傳脈訣，詞最鄙淺，非叔和本書，乃能直指高骨為關。然世之高醫，以其書贗，遂委去而羞言之。云間錢溥曰：晉太醫令王叔和著脈經，其言可守而不可變。及托叔和脈訣行，而醫經之理遂微。蓋叔和為世所信重，故假其名而得行耳。然醫道之日淺，未必不由此而誤之也。張璐診宗三昧云：王氏脈經，全氏太素，多拾經語，溷廁雜毒於中。偶一展卷，不無金屑入眼之憾。至於紫虛四診、丹溪指掌、嬰寧樞要、瀕湖脈學、士材正眼等書，靡不稱譽於時，要皆刻舟求劍，按圖索驥之說，而非診要切語矣。</p>

<h3>部位</h3>
<p>持脈之道，貴乎活潑。（脈，按內經謂之經隧，後人謂之經脈，林之翰指為肌肉空松之處，包藏營氣，而為晝夜運行不息之道路，所以載脈者也。）若拘泥不通，病難以測。姑以部位論之：如左寸心部也，其候在心與膻中；右寸肺部也，其候在肺與胸中；左關肝部也，其候在肝膽，右關脾部也，其候在脾胃；左尺腎部也，其候在腎部膀胱小腸；右尺三焦部也，其候在腎與三焦命門大腸；寸上為魚際，尺下為尺澤；故察兩寸而知頭面咽喉口齒頭痛肩背之疾，察關而知脅肋腹背之疾，察尺而知腰腹陰道腳膝之疾，此皆就上以候上，中以候中，下以候下之謂也。（內經曰：尺內兩旁，則季脅也。尺外以候腎，尺裡以候腹中。附上，左外以候肝，內以候膈；右外以候胃，內以候脾。上附上，右外以候胸，內以候胸中；左外以候心，內以候膻中。前以候前，後以候後。上竟上者，胸喉中事也；下竟下者，少腹腰股膝脛中事也。張景岳曰：小腸大腸，皆下部之腑，自當應於兩尺。而二腸又連於胃，氣本一貫，故內經亦不言其定處，而但曰大腸小腸，皆屬於胃，是又於胃氣中察二腸之氣。自叔和以心與小腸，合於左寸；肺與大腸，合於右寸。其謬甚矣。繡按：論脈經絡貫接，則大小腸自當診於兩寸；論脈上下位置，則大小腸又當診於兩尺。而烏程林之翰專推王氏脈經，本以經絡貫注當診於寸之說，著為管窺附余，其理雖屬不易；但將諸家大小腸診尺之說，借為詆譭，以表獨得，不惟理與內經相違，且更生其上下倒置之弊矣。）然五臟六腑，其脈靡不悉統於肺。肺雖五臟之一，而實為氣之大會，故於右關之前一分號為氣口，候之以占終身焉。（吳草廬曰：脈行始於肺，終於肝，而復會於肺。肺為氣所出之門戶，故名曰氣口，而為脈之大會，以占終身。）且諸氣不能自致於肺，又必借胃水穀以為輸將，以為灌溉；故胃又為先天之氣化，後天之本源，而為諸氣之統司焉。每見陰虛血耗之人，日服六味四物而不得陰長之力，其故實基此耳。豈盡於六部是求，而不歸於氣口胃氣是診乎。（提出胃氣為診脈之要。胃氣者，穀氣也。穀氣減少，即為胃氣將絕，血何從生。今人好用四物，而不顧瞻穀食多寡，以阻生血之源者，比比皆是。經脈別論云：食氣入胃，經氣歸於肺，肺朝百脈，氣歸於權衡，權衡以平，氣口成寸，以決死生。營衛生會云：人食氣於谷，谷入於胃，以傳於肺，五臟六腑，皆以受氣。其清者為營，濁者為衛，營行脈中，衛行脈外。）命門相火，雖寄在右，腎水雖寄在左；然腎同居七節，一陰一陽，精氣皆主，閉蟄封藏，令各得司，豈腎獨歸於左，而不於右可診乎。至於三部並取而為九候，則在表在裡在中，又各見於六部之浮中沉。是蓋外以候外，里以候里，中以候中。豈盡寸陽尺陰，所能統其表裡者乎。頭痛在上，本應寸見。而少陽陽明頭痛，則又在於兩關；（邪傳足少陽膽經，頭痛在左關；邪傳足陽明胃經，頭痛在右關。）太陽（膀胱）頭痛，則又在於左尺。是痛在於上者，又不可以上拘矣。淋遺在下，本應尺求。而氣虛不攝。則病偏在右寸；神衰不固。則病偏在左寸。是淋遺在下者，又不可以下拘矣。中氣虛而吐瀉作，則吐似在於寸，瀉亦應在於尺；如何偏於關求以固脾胃。二氣混而中道塞，則治應在兩關；如何偏宜升清以從陽，苦降以求陰。則病在於上中下者，又不可盡以所見之部拘之矣。部位難拘如此。（繡按：六部之浮，皆可以候心肺；六部之沉，皆可以候兩腎；六部之中，皆可以候肝脾。且兩腎之脈，有時偏以浮見寸見；心肺之脈，有時偏以沉見尺見；肝脾之脈，有時偏以浮沉見尺寸見。王宗正曰：診脈當從心肺俱浮，肝腎俱沉，脾在中州之說。若王叔和獨守寸關尺部位以測病，甚非。）</p>

<h3>胃脈</h3>
<p>再以脈象論之，如肝脈宜弦，弦屬本臟。然必和滑而緩，則弦乃生；若使中外堅搏強急之極，則弦其必死矣。心脈宜洪，洪屬本臟。然必虛滑流利，則洪乃生；若使洪大至極，甚至四倍以上，則洪其必死矣。脾脈宜緩，緩屬本臟。然必軟滑不禁，則緩乃平；若使緩而澀滯，及或細軟無力，與乍數乍疏，則緩其必死矣。肺脈宜浮，浮即肺候。然必脈弱而滑，是為正脈；若使虛如雞羽。加以關尺細數，喘嗽失血，則浮其見斃矣。腎脈沉實，實即腎候。然必沉濡而滑，方為正脈；若使弦細而勁，如循刀刃，按之搏指，則實其莫救矣。（說臟脈只好如斯，不可搬演過甚，以致要處反略。景岳曰：凡肝脈但弦，腎脈但石，名為真臟者，以無胃氣也。）蓋元氣之來，脈來和緩；邪氣之至，脈來勁急。必得脈如阿阿，軟若陽春柳，方為脾氣胃脈氣象耳。（胃氣脈象，不過如是。更須察其穀食是否減少，是否消化。若穀食日少，速當於此審治，不得於此混進濡滯等藥。）夫胃氣中和，旺於四季。其在於春，脈宜微弦而和，（說時令脈，只好如斯，多則便涉支蔓矣。獨怪世人專以時令生克，強記滿腹；其脈如何形象，如何變換，如何真假，全不體會。）夏宜微洪而和，秋宜微浮而和，冬宜微實而和。使於四季，而不見有和緩之氣，則為真臟脈見，而為不治之症矣。胃脈宜審如此，故六脈皆可察胃有無，豈必在於右關之胃，而始定其吉凶哉。（掃盡時令生克膚辭，獨標和緩、微弦、微洪等語，以名胃脈，真得診家要訣。繡按：四診抉微、脈訣歸正諸書，所論時令脈體，多以生死刻應敷衍，理雖不易，然非臨症切脈確論。）</p>

<h3>浮脈</h3>
<p>其有所云浮者，下指即顯浮象，舉之泛泛而流利，按之稍減而不空。凡芤大洪革，虛濡微散，皆屬浮類。不似虛脈按之不振，芤脈按之減小，濡脈綿軟無力也。（語出張璐。又瀕湖體狀詩曰：浮脈惟從肉上行，如循榆莢似毛輕；三秋得令知無恙，久病逢之卻可驚。又相類詩曰：浮如木在水中浮，浮大中空乃是芤；拍拍而浮是洪脈，來時雖盛去悠悠。浮脈輕平如捻蔥，虛來遲大豁然空；浮而柔細方為濡，散似楊花無定蹤。）浮為虛損不足。凡風暑脹滿不食，表熱喘急等症，皆有上浮之義。若使浮而兼大，則為傷風；浮而兼緊，則為傷寒；（張璐曰：外感暴得，多見人迎浮盛。）浮而兼滑，則為宿食；浮而兼緩，則為濕滯；浮而兼芤，則為失血；浮而兼數，則為風熱；浮而兼洪，則為狂躁。然總不越有力無力，有神無神，以為區別。若使神力俱有，是為有餘，或為火發，或為氣壅，或為熱越，可類推也。神力俱無，是為不足，或為精衰，或為氣損，可因明也。豈可概指為表為熱乎。（張景岳曰：凡浮大弦硬之極，甚至四倍以上者，內經謂之關格，此非有神之謂，乃真陰虛極，而陽亢無根，大凶兆也。林之翰曰：浮脈須知主裡。凡內虛之症，無不兼浮。如浮芤失血；浮革亡血；內傷感冒，而見虛浮無力；癆瘵陰虛，而見浮大兼疾；火衰陽虛，而見渾渾革至，浮大有力。又如真陰竭於下，孤陽浮於上，脈必浮大而無力，按之微細欲絕者，當益火之源。豈可以脈浮不審虛實，而妄用發表之劑乎。）</p>

<h3>沉脈</h3>
<p>沉則輕取不應，重按乃得。凡細小實伏牢弱，皆屬沉類。不似實脈之舉指逼逼，伏脈之隱於筋骨也。（語出張璐。又瀕湖體狀詩曰：水行潤下脈來沉，筋骨之間軟滑勻；女子寸兮男子尺，四時號此為和平。相類詩曰：沉幫筋骨自調勻，伏則推筋著骨尋；沉細如綿真弱脈，弦長實大是牢形。）沉為痰寒不振，水氣內伏，停飲不化，宿食不消，氣逆不通，洞泄不閉，故見內沉。若使沉而兼細，則為少氣；沉而兼遲，則為痼冷；沉而兼滑，則為宿食；沉而兼伏，則為霍亂絞痛；沉而兼數，則為內熱；沉弦而緊，則為心腹疼痛。然總不越有力無力，以為辨別。蓋沉實有力，宜消宜攻；沉虛無力，宜溫宜補。（然亦有有力宜溫，無力宜攻，另有義詳於後，當細互參。）若使沉緊而數，又兼頭痛發熱惡寒，雖曰脈沉，仍屬寒蔽，當作表治。豈可概認為里，而不用以升發乎。（張璐曰：脈顯陰象而沉者，則按久愈微。若陽氣鬱伏，不能浮應衛氣於外，脈反伏匿而沉者，則按久不衰。陰陽寒熱之機，在乎纖微之辨。傷寒以尺寸俱沉，為少陰受病。故於沉脈之中，辨別陰陽為第一關捩。林之翰曰：沉脈須知主表。如寒閉腠理，衛氣不通，經氣澀滯，脈不見浮而沉；氣鬱脈閉；下手便見，而脈亦沉；真陰久虛，真陽衰憊，外邪乘虛直入，而脈亦沉；是沉仍屬表症。）</p>

<h3>數脈</h3>
<p>數則呼吸定息每見五至六至，應指甚速。凡滑動緊促（四脈）皆屬數類。不似滑脈之往來流利，動脈之厥厥動搖，疾脈之過於急疾也，（語出張璐。又瀕湖體狀詩曰：數脈息間常六至，陰微陽盛必狂煩；浮沉表裡分虛實，惟有童兒作吉看。又相類詩曰：數比平人多一至，緊來如數似彈繩；數而時止名為促，數見關中動脈形。又曰：七至為極為疾，八至為脫，九至為絕。）數為寒熱內搏，風火沖激。是以人見數脈，多作熱治。詎知脈有真假，數有虛實，仍須察其兼症兼脈（眼意周到），及脈有力無力，以為分耳。若使數兼洪滑，且極有力，或是內熱蒸騰，伏火發動，當作實看。如系細小強滑細數綿軟，縱有身熱，須宜溫治。或引陽歸陰，其數自平；或補精化氣，其數自除；或溫中發表，其氣自舒；或宣壅去滯，其數自消。矧有並無熱候，症有虛寒，脈見虛數，溫補尚恐不及，其可以數為熱，妄用苦寒之味乎。（景岳曰：里數為熱，而真熱者未必數。凡虛損之症，陰陽俱困，氣血張皇，多有是候。林之翰曰：數脈須知主寒。如脈浮數大而無力，按之豁然而空，此陰盛逼陽外浮，是寒焰也。醫家竟不審病新久，有力無力，鼓與不鼓，一概混投寒劑，遽絕胃氣，可不畏哉。）</p>

<h3>遲脈</h3>
<p>遲則呼吸定息不及四至，舉按皆遲。凡代澀結伏，皆屬遲類。不似澀脈之三五不調，緩脈之去來徐緩也。（語出張璐。又瀕湖詩曰：遲來一息至惟三，陽不勝陰氣血寒；但把浮沉分表裡，消陰須益火之原。又相類詩曰：脈來三至號為遲，少快於遲作緩持；遲細而難知是澀，浮而遲大以虛推。又曰：二至為敗。）遲為虛寒不振，陽氣不舒，故見遲滯。若遲而見浮，則為表寒；遲而見沉，則為裡寒；遲而見澀，則為血病；遲而見滑，則為氣病；遲兼滑大，則多風痰頭痹；遲兼細小，則為真陽虧弱；或陰寒留蓄而為泄瀉，或元氣不營於表而寒慄拘攣，總皆元氣虧損，不可妄施攻擊。然亦有熱邪內結，寒氣外郁，而見氣口脈遲者；又有陽明腑症悉具，而見脈遲有力者；又有太陽脈浮。因誤下結胸，而見脈遲者；又有餘熱未清，而脈多遲滯。總在知脈起止，及察症候以分虛實，詎可一見脈遲，便認為寒，而不究其滑澀虛實之異哉。（景岳曰：遲雖為寒。凡傷寒初退，餘熱未清，脈多遲滑，見遲不可以概言寒。林之翰曰：遲脈須知主熱。如熱邪壅結，隧道不利，失其常度，脈反變遲。又云：辨脈必須合症審察。如舉按無力，是主寒之遲脈；舉按有力，症兼胸膈飽滿，便閉溺赤，是主熱之遲脈。澀滯正是熱邪蘊結於內，致經脈澀滯而行遲也。）</p>

<h3>長脈</h3>
<p>長則指下迢迢，上溢魚際，下通赤澤，過於本位，三部舉按皆然。凡實牢弦緊，皆屬長類。不似大脈舉之盛大，按之少力也。（語出張璐。又瀕湖體狀相類詩曰：過於本位脈名長，弦則非然但滿張；弦脈與長爭較遠，良工尺度自能量。李士材曰：狀如長竿，直上直下，首尾相應，非若他脈上下參差首尾不勻者也。）長為氣治無病之象，（經曰：長則氣治。）然必長而和緩方為無病。若使長而浮盛，其在外感，則為經邪方張；內損，則為陰氣不足而脈上盛。至於風邪陷陰，脈應微澀；乃於陰脈微細之中，而忽兼有長脈，是為熱邪外發，而有將愈之兆矣，又豈可作病進之象乎。（仲景曰：太陰中風，四肢煩疼，陽脈微陰脈澀而長者為欲愈。）</p>

<h3>短脈</h3>
<p>短則寸上尺下，低於寸尺。凡微澀動結，皆屬短類。不但小脈之三部皆小弱不振，伏脈之獨伏匿不前也。（語出張璐。又瀕湖體狀相類詩曰：兩頭縮縮名為短，澀短遲遲細且難；短澀而浮秋喜見，三春為賊有邪干。）短則止見尺寸。若關中見短，則上不通寸為陽絕，下不通尺為陰絕矣，故關從無見短之理。（盛同文云：關不見短。李士材曰：短脈只見於尺寸。然尺寸可短，依然落於陰絕陽絕矣；殊不知短脈非兩頭斷絕也，特兩頭俯而沉下，中間突而浮起，仍自貫通者也。）短為陽氣不接，或中有痰氣食積而成。然痰氣食積阻礙氣道，亦由陽氣不力，始見阻塞。故凡見有阻塞之症者，當於通豁之內加以扶氣之品，使氣治而豁自見矣。若使中無阻塞而脈見短隔，急當用大溫補以救垂絕，否則便爾不治矣。</p>

<h3>大脈</h3>
<p>大則應指滿溢，既大且長，按似少力。凡浮芤洪長，皆屬大類。不似長脈但長不大，洪脈既大且數也。（張璐）大有虛實陰陽之異，不可一律。如見大而有力，則為陽氣有餘，其病則進；大而無力，則為正氣不足。大偏於左，則為邪盛於經；大偏於右，則為熱盛於陰。大而兼澀兼芤，則為血不內營；大而兼實兼沉，則為實熱內熾。大而浮緊，則為病甚於外；大而沉短，則為痞塞於內。大實而緩，雖劇且生；大實而迫，雖靜即死。故凡脈大，必得症與脈應，方云無礙。若使久虛而見脈大，利後而見脈大，喘止而見脈大，產後而見脈大，皆為不治之症矣。（張璐曰：諸脈皆小，中有一部獨大者，諸脈皆大，中有一部獨小者，便以其部斷其病之虛實。）</p>

<h3>小脈</h3>
<p>小則三部皆小，而指下顯然。凡微細短弱，皆屬小類。不似微脈之微弱依稀，細脈之微細如髮，弱脈之軟弱不前，（按之乃得）短脈之首尾不及也（張璐）。小為元氣不足，及病已退之勢，如因病損小，其脈兼弱，見於人迎，則為胃氣衰也；見於氣口，則為肺氣弱也；見於寸口，則為陽不足也；見於尺內，則為陰不足也；此皆無力之象。若使小而有力，脈兼滑實，則為實熱固結。然脈不至急強，四肢不逆，猶云胃氣之未絕。若胃氣既無，生氣已失，其奚濟乎。（經曰：切其脈口滑小緊益沉者，病益甚在中。又曰：溫病大熱而脈反細小，手足逆者死。顯微曰：前大後小，則頭痛目眩；前小後大，則胸滿短氣。）</p>

<h3>洪脈</h3>
<p>洪則既大且數，累累珠聯，如循琅玕。來則極盛，去則稍衰（素問）。凡浮芤實大，皆屬洪類。不似實脈之舉按逼逼，滑脈之軟滑流利，大脈之大而且長也。（語出張璐。又瀕湖體狀詩曰：脈來洪盛去還衰，滿指滔滔應夏時；若在春秋冬月分，升陽散火莫狐疑。相類詩曰：洪脈來時拍拍然，去衰來盛似波瀾；欲知實脈參差處，舉按弦長愊愊堅。診家正眼云：洪脈只是根腳闊大，卻非硬堅。若使大而堅硬，則為實脈，而非洪脈矣。）洪為火氣燔灼。凡煩渴、狂躁、斑疹、腹脹、頭疼、面熱、咽乾、口瘡、癰腫等症，靡不由此曲形。如見脈洪而浮，則為表熱；脈洪而沉，則為裡熱；脈洪而滑，則為兼痰。至於陽亢之極而足冷尺弱，屢下而熱勢不除，洪數不減，與脈浮而洪，身汗如油，泄瀉虛脫，脈見洪盛者，皆為難治，不可強也。（經曰，形瘦脈多氣者死，景岳曰：若洪大至極，甚至四倍以上者：是即陰陽離絕關格之脈也。林之翰曰：凡久嗽久病之人，及失血下痢者，俱忌洪脈。）</p>

<h3>微脈</h3>
<p>微則似有若無，欲絕不絕，指下按之，稍有模糊之象。凡細小虛澀，皆屬微類。不似弱脈之小弱分明，細脈之纖細有力也。（語出張璐。又瀕湖體狀相類詩曰：微脈輕微瞥瞥乎，按之欲絕有如無；微為陽弱細陰弱，細比於微略較粗。）微為陽氣衰微之候。凡種種畏寒、虛怯、脹滿、嘔吐、泄瀉、眩暈、厥逆並傷精失血等症，皆於微脈是形，治當概作虛治。（語出景岳。又李士材曰：仲景云，瞥瞥如羹上肥狀，其軟而無力也。縈縈如蜘蛛絲狀，其細而難見也。輕取之而如無，故曰陽氣衰；重按之而欲絕，故曰陰氣竭。長病得之死，謂正氣將次滅絕也；卒病得之生，謂邪氣不至深重也。）然有痛極脈閉，脈見沉伏，與面有熱色，邪未欲解，並陰陽俱停，邪氣不傳，而脈俱見微者。若以微為虛象，不行攻發，何以通邪氣之滯耶．必熱除身安，方為欲愈之兆耳。（李時珍曰：輕診即見，重按如欲絕者，微也。往來如線而常有者，細也。）</p>

<h3>實脈</h3>
<p>實則舉按皆強，舉指逼逼。凡弦洪緊滑，皆屬實類。不似緊脈之迸急不和，滑脈之往來流利，洪脈之來盛去衰也。（語出張璐。又瀕湖體狀詩曰：浮沉皆得大而長，應指無虛愊愊強；熱蘊三焦成壯火，通腸發汗始安康。相類詩曰：實脈浮沉有力強，緊如彈索動無常；須知牢脈幫筋骨，實大微弦更帶長。）實為中外壅滿之象。其在外感而見脈實而浮，則有頭痛、發熱、惡寒、鼻塞、頭腫、肢體疼痛、癰毒等症可察；脈實而沉，則有腹滿硬痛等症可察。內傷脈實洪滑，則有諸火，潮熱、癥瘕、血瘀、痰飲、腹痛、喘逆等症可察；脈實沉弦，則有諸寒壅滯等症可察。更以氣血諸實等症兼觀，則病情在我，而無可遁之病矣。但脈雲實，尚有何虛；既有虛象，便不雲實。總在醫人診其脈氣果實不實耳。（實脈有寒實熱實之分。但今人止知病有熱實，而不知有寒實，殊為可惜。景岳云：火邪實者，洪滑有力，為諸實熱等症；寒邪實者，沉弦有力，為諸痛滯等症。又曰：實脈有真假，真實者易知，假實者易誤，故必問其所因，而兼察形症，方是高手。）</p>

<h3>虛脈</h3>
<p>虛則豁然浮大而軟，按之不振，如尋雞羽，久按根底不乏不散。凡芤濡遲澀，皆屬虛類。不似芤脈之豁然中空，按之漸出；澀脈之軟弱無力，舉指即來；散脈之散漫無根，重按久按，絕不可得也。（語出張璐。又瀕湖體狀相類詩曰：舉之遲大按之松，脈狀無涯類谷空；莫把芤虛為一例，芤來遲大如慈蔥。）虛為氣血空虛之候。故浮而虛者為氣衰，沉而虛者為火微，虛而遲者為虛寒，虛而數者為水涸，虛而澀者為血虧，虛而弦者為土衰木盛，虛而尺中微細小為亡血失精，虛而大者為氣虛不斂。要皆分別施治，無有差錯，斯為之善。然總不可用吐用下，以致益見其虛矣。（仲景云：脈虛者不可吐，腹滿脈虛復厥者不可下，脈陰陽俱虛熱不止者死。）</p>

<h3>緊脈</h3>
<p>緊則往來勁急，狀如轉索，雖實不堅。（脈緊有力，左右彈人，如絞轉索，如切緊繩。）凡弦數之屬，皆屬緊類。不似弦脈之端直如弦，牢革之強直搏指也。（語出張璐。又瀕湖體狀詩曰：舉如轉索切如繩，脈象因之得緊名；總是寒邪來作寇，內為腹痛外身疼。匯辨云：緊較於弦，更加挺勁之異。丹溪云：緊如二股三股糾合為繩，必旋絞而轉，始得緊而成繩。可見緊之為義，不獨縱有挺急，抑且橫有轉側也。）緊為陰邪內閉。如脈見浮緊，則必見有頭痛、發熱、惡寒、咳嗽、鼻塞、身痛不眠表症。脈見沉緊，則必見有脹滿、厥逆、嘔吐、瀉利、心脅疼痛、風癇痎癖里症。然總皆是陽氣不到，以至如是耳。（仲景云：曾為人所難，緊脈從何來？假令亡汗若吐，以肺裡寒，故令脈緊也。假令咳者，坐飲冷水，故令脈緊也。假令下利，以胃中虛冷，故令脈緊也。）</p>

<h3>緩脈</h3>
<p>緩則來去和緩，不疾不徐。凡虛濡微細，皆屬緩類。不似濡脈之指下綿軟，虛脈之瞥瞥虛大，微脈之微細而濡，弱脈之細軟無力也。（語出張璐。又瀕湖體狀詩曰：緩脈阿阿四至通，柳梢嫋嫋颭輕風；欲從脈里求神氣，只在從容和緩中。李士材曰：緩以脈形寬緩得名，遲以至數不及為義。蔡氏曰：緩而和勻，不浮不沉，不大不小，不疾不徐，意思欣欣，悠悠揚揚，難以名狀者，此真胃氣脈也。若純緩不兼，猶經所謂但弦無胃氣則死。）緩為平人正脈，無事醫治。若使緩而兼大，則為傷風；緩而兼細，則為濕痹；緩而兼澀，則為血傷；緩而兼滑，則為痰滯。尤必察其有力無力，以為區別。如使緩大有力，則為有餘，其症必見燥熱；緩軟無力，則為不足，其症必見虛寒。豈可一見是緩，便指屬虛，而不合症為之分別乎。（景岳曰：緩脈有陰有陽，其義有三：凡從容和緩，浮沉得中者，此自平人正脈。若緩而滑大者多實熱，如內經所言者是也。緩而遲細者多虛寒，即諸家所言者是也。林之翰曰：緩脈須知主熱。如脈長大而軟，來去寬縱不前，即張太素所謂如絲在經，不卷其軸之謂，是曰縱緩，主於熱也。）</p>

<h3>芤脈</h3>
<p>芤則如指著蔥，浮取得上面之蔥皮，卻顯弦大，中取減小空中，按之又著下面之蔥皮而有根據。凡浮革弦洪，皆屬芤類。不似虛脈之瞥瞥虛大，按之豁然無力也。（語出張璐。又瀕湖體狀詩曰：芤形浮大軟如蔥，按之旁有中央空。火犯陽經血上溢，熱侵陰絡下流紅。相類詩曰：中空旁實乃為芤；浮大而遲虛脈呼；芤更帶弦名曰革，芤為亡血革寒虛。）芤為血虛不能濡氣。其症必見發熱、頭昏、目眩、驚悸、怔忡、喘急、盜汗、失血、脫血。然或芤見微曲，則芤必挾瘀積阻滯。芤兼弦強搏指，症見血溢身熱，則芤又為真陰槁竭。所以芤挾瘀積阻滯，止屬一部兩部獨見。若至左右皆芤，或兼弦搏，定為必死之候，無足異也。（戴同父云：營行脈中，脈以血為形，芤脈中空，脫血之象也。）</p>

<h3>濡脈</h3>
<p>濡則虛軟少力，應指虛細，如絮浮水，輕手乍來，重手乍去。凡虛微細弱，皆屬濡類。不似虛脈之脈大無力，微脈之微細如絲，弱脈之沉細軟弱也。（語出張璐。又瀕湖體狀詩曰：濡形浮脈按須輕，水面浮綿力不禁；病後產中猶有藥，平人若見是無根。相類詩曰：浮而柔細知是濡，沉細而柔作弱持；微則浮微如欲絕，細來沉細近於微。注曰：浮細如綿曰濡，浮而極細如絕曰微，沉細如綿曰弱，沉而極細不斷曰細。）濡為胃氣不充。凡內傷泄瀉自汗喘乏，多有是脈。張璐、士材論極精明，謂其治宜峻補。不似陰虛脫血，純見細數弦強，欲求濡弱，絕不可得也。蓋濡脈之浮軟，與虛脈相類；但虛則浮大，而濡則弱小也。濡脈之細小，與弱脈相類；但弱在沉分，濡在浮分也。濡脈之軟弱，與微脈相類；但微則欲絕，而濡則力微也。濡脈之無力，與散脈相似；但散則從大而按之則無，濡則從小而漸至無力也。夫從小而漸至無力，氣雖不充，血猶未敗；從大而按之即無，則氣無所統，血已傷殘，陰陽離散，將何所恃而可望其生乎。由斯言之，則濡與散，不啻天淵矣。所以濡脈多責胃氣不充，或外感陰濕。故治宜溫補而不可用傷殘之藥耳。（李士材曰：濡脈者，浮小而軟也。）</p>

<h3>弦脈</h3>
<p>弦則端直而長，舉之應指，按之不移。凡滑大堅搏之屬，皆屬弦類。不似緊脈之緊急有力，狀如轉索彈手，革脈之弦大而數也。（語出張璐。又瀕湖體狀詩曰：弦脈迢迢端直長，肝經木旺土應傷；怒氣滿胸常欲叫，翳蒙瞳子淚淋浪，相類詩曰：弦脈端直如絲絃，緊則如繩左右彈；緊言其力弦言象，牢脈弦長沉伏間。蔡西山曰：陽搏陰為弦，陰搏陽為緊，陰陽相搏為動，虛寒相搏為革，陰陽分體為散，陰陽不續為代。）弦為血氣不和，氣逆邪勝、積聚脹滿，寒熱脅痛，瘧痢疝痹等症（景岳）。然總由於木盛土衰水虧而成。但以弦多弦少以證胃氣之強弱，弦實弦虛以證邪氣之虛實，浮弦沉弦以證表裡之陰陽，寸弦尺弦以證病氣之升沉。無論所患何症，兼見何脈，但以和緩有神，不乏胃氣，雖弦無礙（張璐）。若弦而勁細強直，是無胃氣，豈能治乎。（戴同父曰：弦而軟，其病輕；弦而硬，其病重。李時珍曰：浮弦支飲外溢，沉弦懸飲內痛，瘧脈自弦，弦數多熱，弦遲多寒，弦大主虛，弦細拘急，陽弦頭痛，陰弦腹痛，單絃飲癖，雙弦寒痼。若不食者，木來剋土，必難治矣。）</p>

<h3>弱脈</h3>
<p>弱則沉細軟弱，舉之如無，按之乃得，小弱分明。凡微濡細小，皆屬弱類。不似微脈按之欲絕，濡脈按之若無，細脈之浮沉皆細也。（語出張璐。又瀕湖體狀詩曰。弱來無力按之柔，柔細而沉不見浮；陽陷入陰精血弱，白頭尤可少年愁。）弱為陽氣衰微。凡見是脈，必須用溫補以固其陽，以補胃氣。然必兼滑而和，可卜胃氣之未艾。若弱更兼之以澀，並少壯暴病忽見是脈，則為氣血交敗，多致難治。（素問曰：脈弱以滑，是有胃氣；脈弱以澀，是謂久病。病後老弱見之順，平人少年見之逆。仲景曰：陽陷入陰故惡寒發熱。又云：弱主筋，沉主骨。陽浮陰弱，血虛筋急，柳氏曰：氣虛則脈弱，寸弱陽虛，尺弱陰虛，關弱胃虛。）</p>

<h3>滑脈</h3>
<p>滑則往來流利，舉之浮緊，按之滑石。凡洪大芤實，皆屬滑類。不似實脈之逼逼應指，緊脈之往來勁急，動脈之見於一部，疾脈之過於急疾也，（語出張璐。又瀕湖體狀詩曰：滑脈如珠替替然，往來流利卻還前；莫將滑數為同類，數脈惟看至數間。）滑為痰逆食滯，嘔吐上逆，痞滿壅腫滿悶之象。然亦以有力無力分辨。如系滑大兼數，其脈當作有餘；若止輕浮和緩不甚有力，當不僅作有餘治也。或以氣虛不能統攝陰火，脈見滑利者有之；或以痰濕內積，而見脈滑者有之。至於平人脈滑而和，則為無病。婦人經斷而見滑數，則為有孕；臨產而見滑疾，則為離經。瀉痢而見弦滑，則為脾腎受傷；久病而弦滑，則為陰虛。豈可概作實治乎。（李時珍曰：滑為陰氣有餘，故脈來流利如水，脈者，血之府也。血盛則脈滑，故腎脈宜之；氣盛則脈澀，故肺脈宜之。）</p>

<h3>澀脈</h3>
<p>澀則往來艱澀，動不流利，如雨沾沙，及刀刮竹。凡虛細微遲，皆屬澀類。不似遲脈之指下遲緩，緩脈之脈象紆徐，濡脈之去來綿軟也。（語出張璐。又瀕湖體狀詩曰：細遲短澀往來難，散止依稀應指間：如雨沾沙容易散，病蠶食葉慢而艱。又相類詩曰：參伍不調名曰澀，輕如刮竹短而難；微似秒芒微軟甚，浮沉不別有無間。）澀為氣血俱虛之候。故症多見拘攣麻木，憂鬱，失血傷精，厥逆少食等症。然亦須分寒澀枯澀熱澀之殊耳。若澀見嘔吐泄瀉，則為屬虛屬寒；澀見傷精失血，拘攣麻木，則為枯澀不和；澀見便結不解，則為熱邪內閉，或寒滯不通。總在因症考求，豈可概指血虛，而不分別審顧乎。（提出寒澀熱澀枯澀三種，則看病施治自有主腦。）</p>

<h3>動脈</h3>
<p>動則厥厥動搖，滑數如珠，見於關上。凡浮大浮數，皆屬動類。不似滑脈之諸部皆見滑數流利也。（語出張璐。又瀕湖詩曰：動脈搖搖數在關，無頭無尾豆形團；其原本是陰陽搏，虛者搖兮勝者安。）動為陰陽相搏之候。（王宇泰曰：陽升陰降，二者交通，安有動見。惟夫陽欲降而陰逆之，陰欲升而陽逆之，兩者相搏，不得上下，鼓擊之勢，隴然高起，而動脈之形著矣。此言不啻與動脈傳神。）如動在於陽，則有汗出為痛為驚之症；動在於陰，則有發熱失血之症；動兼滑數浮大，則為邪氣相搏而熱宜除。至於陽虛自汗而見動寸，陰虛發熱而見動尺，與女人動尺而云有孕，皆不宜作熱治矣。（仲景曰：動則為痛為驚。素問曰：陰虛陽搏謂之崩。又曰：婦人手少陰心動甚者，妊子也。）</p>

<h3>伏脈</h3>
<p>伏則匿於筋下，輕取不得，重按澀難，委曲求之，或三部皆伏，一部獨伏，附著於骨而始得。凡沉微細短，皆屬伏類。不似短脈之尺寸短縮而中部顯然，沉脈之三部皆沉而按之即得也。（語出張璐。又瀕湖體狀詩曰：伏脈推筋著骨尋，指間裁動隱然深，傷寒欲汗陽將解，厥逆臍疼證屬陰。）伏為阻隔閉塞之候。或火閉而伏，寒閉而伏，氣閉而伏。其症或見痛極疝瘕，閉結氣逆，食滯忿怒，厥逆水氣。仍須詳其所因，分其為寒為火，是氣是痰，是新是舊，而甄別之。蓋有火者升火為先，有寒者疏寒為急，有氣者調氣為順，有痰者開痰為妥。新則止屬暴閉，可以疏通；久則恐其延綿，防其漸脫。豈可一見脈伏。而即妄用疏導乎。（時珍曰：傷寒一手脈伏曰單伏，兩手脈伏曰雙伏，不可以陽症見陰為診。乃火邪內郁，不得發越，陽極似陰，故脈伏，必有大汗乃解。正如久旱將雨，六合陰晦，雨後庶物皆蘇之義。又有夾陰傷寒，先有伏陰在內，外復感寒，陰盛陽衰，四脈厥逆，六脈沉伏，須投姜附及灸關元，脈乃復出也。若太谿衝陽皆無脈者死。）</p>

<h3>促脈</h3>
<p>促則往來數疾，中忽一止，復來有力。凡疾數代結，皆屬促類。不似結脈之遲緩中有止歇也。（語出張璐。又瀕湖體狀詩曰：促脈數而時一止，此為陽極欲亡陰；三焦鬱火炎炎盛，進必無生退可生。）促為陽邪內陷之象。凡表邪未盡，邪並陽明，暨里邪欲解，並傳厥陰者，多有是脈，故病必見胸滿下利厥逆。且有血瘀發狂，痰食凝滯，暴怒氣逆，亦令脈促。若中虛無凝，脈自舒長，曷為而有止歇之象乎。（李士材曰：數而有止曰促，豈非陽盛者歟。肺癰熱毒，皆火極所致者。）</p>

<h3>結脈</h3>
<p>結為指下遲緩中有歇止，少頃復來。凡遲緩代澀，皆屬結類。不似代脈之動止不能自還也。（語出張璐。又瀕湖體狀詩曰：結脈緩而時一止，獨陰偏盛欲亡陽；浮為氣滯沉為積，汗下分明在主張。）結是氣血漸衰，精力不繼，所以斷而復續，續而復斷。凡虛勞久病，多有是症，然亦有陰虛陽虛之別。故結而兼緩，其虛在陽；結而兼數，其虛在陰。仍須察結之微甚，以觀元氣之消長。若使其結過甚，脈甚有力，多屬有熱，或氣鬱不調。治宜辛溫扶正，略兼散結開痰，其結自退。至有一生而見結脈者，此是平素異常，不可竟作病治耳。（結脈有虛有實。虛如景岳所謂血氣漸衰，精力不繼，所以斷而復續，續而復斷者是也。實如越人所謂結甚則積甚者是也。）</p>

<h3>革脈</h3>
<p>革則弦大而數，浮取強直，而按則中空。凡芤牢緊脈，皆屬此類。不似緊脈按之劈劈，弦脈按之不移，牢脈按之益堅也。（語出張璐。又瀕湖體狀詩曰：革脈形如按鼓皮，芤弦相合脈寒虛；女人半產並崩漏，男子營虛或夢遺。）革為變革之象。凡亡血失精，腎氣內憊，或虛寒相搏，故脈少和柔，而有中空之狀。若不固腎補精，舒木除寒，而以革浮屬表，妄用升發，其不真陰告絕者鮮矣。（仲景曰：弦則為寒，芤則為虛，寒虛相搏，此名曰革，男子亡血失精，婦人半產漏下。經曰：三部脈革，長病得之死，卒病得之生。）</p>

<h3>牢脈</h3>
<p>牢則弦大而長，按之強直搏指，狀如弦縷。凡實伏弦澀，皆屬此類。不似實脈之滑實流利，伏脈之慝伏澀難。革脈之按之中空也。（語出張璐。又瀕湖詩曰：弦長實大脈來堅，牢位常居沉伏間；革脈芤弦自浮起，革虛牢實要詳看。沈氏曰：似沉似伏，牢之位也；實大弦長，牢之體也。牢脈不可混於沉脈伏脈，須細辨耳。沉脈如綿裹沙，內剛外柔，然不必兼大弦也。伏脈非推筋至骨不見其形。在於牢脈既實大弦長，才重按之，便滿指有力，以為別耳。）牢為堅積內著，胃氣將絕之候。（吳草廬曰：牢為寒實，革為虛寒。）故或見為濕痓拘急，寒疝暴逆，堅積內伏，治甚非易。倘不審其所因，而謂牢為內實，用以苦寒，或因思食而以濡滯恣啖，則其病益固矣。（李時珍曰：牢主寒實之病，木實則為痛。扁鵲云：軟為虛，牢為實。失血者脈宜沉細，反浮大而牢者死，虛病見實脈也。張仲景曰：寒則牢固。有堅固之義。）</p>

<h3>疾脈</h3>
<p>疾則呼吸之間脈七八至。凡動滑洪數，皆屬疾類。不似洪脈之既大且數，卻無燥疾之形也。疾似亢陽無制，亦有寒熱陰陽真假之異。若果疾兼洪大而堅，是明真陰垂絕，陽極難遏。如系按之不鼓，又為陰邪暴虐虛陽發露之徵。然要皆屬難治，蓋疾而洪大者苦煩滿，疾而沉數者苦腹痛，皆為陰陽告絕。惟暴厥暴驚脈見急數，俟平稍愈為無礙耳。其有脈惟見疾而不大不細，則病雖困可治。（東垣治傷寒脈疾，面赤目赤，煩渴引飲而不能咽，用姜附人參汗之而愈。守真治傷寒蓄熱陽厥，脈疾至七八至以上，用黃連解毒治之而安。）</p>

<h3>細脈</h3>
<p>細則往來如發，而指下顯然。凡弱小微濡，皆屬細類。不似微脈之微弱模糊也。（語出張璐。又瀕湖體狀詩曰：細來累累細如絲，應指沉沉無絕期；春夏少年俱不利，秋冬老弱卻相宜。）細為陽氣衰弱之候。然細亦有分別，如細而兼浮，則為陽氣衰弱；細而兼沉，則為寒氣內中，或熱傳三陰；細而兼緩，則為濕中於內。皆當求其所因，不可混同施治。但脈既細如髮，便屬氣虛，縱有內熱，亦當兼固中氣，不可純用解熱，以致其細益甚耳。況有內熱全無，真元素虧，神氣不持，而致脈見細象者乎。（李士材曰：嘗見虛損之人脈細身熱，醫不究原，而以涼劑投之，使真陽散敗，飲食不進，上嘔下泄，是速其斃耳。經曰：少火生氣。人非此火，無以運行三焦，熟腐水穀。未徹乎此者，烏可以言醫哉。然虛勞之脈，細數不可並見，並見者必死。細則氣衰，數則血敗，氣血交窮，短期將至。）</p>

<h3>代脈</h3>
<p>代則動而中止，不能自還，因而復動，名曰代陰。凡促結等脈，皆屬此類。不似促結之雖見歇止，而復來有力也。（語出張璐。又瀕湖體狀詩曰：動而中止不能還，復動因而作代看；病者得之猶可療，平人卻與壽相關。相類詩曰：數而時止名為促，緩止須將結脈呼；止不能回方為代，結代生死自殊途。）代為元氣垂絕之候。戴同父曰：代為脾絕之徵，脾主信，故止歇有時。故無病而見脈代，最為可危。即或血氣驟損，元神不續，或七情太過，或顛仆重傷，並形體賦時經隧有阻，流行蹇澀，而見脈代者，亦必止歇不勻，或云可治。若使歇止有常，則生氣已絕，安望其有再生之日乎。惟妊娠惡阻嘔吐最劇者，恆見代脈，谷入既少，血氣盡並於胎，是以脈氣不能接續。然在初時或有，若至四月胎已成形，當無歇止之脈矣。（李時珍曰：脈一息五至，五臟之氣皆足。故五十動而一息，合大衍之數，謂之平脈；反此則止乃見焉。腎氣不能至，則四十動一止；肝氣不能至，則三十動一止。蓋一臟之氣衰，則他臟之氣代至也。）</p>

<h3>散脈</h3>
<p>散則舉之散漫，按之無有，或如吹毛，或如散葉，或如懸雍，或如羹上肥，或如火薪然，來去不明，根蒂無有。不似虛脈之重按雖虛，而不至於散漫也。（李瀕湖體狀詩曰：散似楊花散漫飛，去來無定至難齊；產為生兆胎為墮，久病逢之不必醫。難經曰：散脈獨見則危。）散為元氣離散之象，腎絕之應。蓋腎脈本沉。而脈按之反見浮散，是先天之根本已絕，如傷寒咳逆上氣，脈見散象必死，與經言代散則死之意，即書有言熱退而身安，泄利止而漿粥入，云或可生，亦非必定之辭耳。（散為死脈，故不主病。）</p>

<h3>奇經八脈</h3>
<p>至於奇經八脈，又為十二經之約束。若臟氣安和，經脈調暢，八脈不形；即經絡受邪，不致滿溢奇經。惟是正經邪溢，轉入於奇。故內經有言：沖則直上直下（弦長）而中央牢（堅實），病苦逆氣裡急（屬寒實）。督則直上直下（弦長）而中央浮（中央同尺寸浮起，非中央獨浮意也），病苦脊強不能俯仰（屬風）。任則脈橫寸口（寸口統寸關尺三部而言），邊丸丸（形如豆粒）緊細而長，病苦少腹切痛，男子內結七疝，女子帶下積聚（屬寒實）。陽維則尺內斜上至寸而浮（從左尺斜向小指，至寸而浮，曰尺內），病則寒熱溶溶不能自收持（屬陽）。陰維則尺外斜上至寸而沉（從右尺斜向大指，至寸而沉，故曰尺外），病苦心痛悵然失志（屬陰）。陽蹺（主陽絡）寸口左右彈浮而細綿綿（兩寸浮緊而細），病苦陰緩而陽急（邪在陽絡主表，如腰背苦痛之類）陰蹺（主陰絡）尺內左右彈沉而細綿綿（兩尺沉緊而細），病苦陽緩而陰急（邪在陰絡主裡，如少腹痛陰疝漏下之類）。帶脈中部左右彈而橫滑（兩關滑緊），病苦腹痛腰溶溶若坐水中（邪在中）。凡此八脈，每遇五癇七疝，項痓背強，發歇不時，內外無定之症，剛勁不倫，殊異尋常之脈，當於奇經中求之。（經脈直行上下，絡脈斜行左右；經脈常升主氣，絡脈常降主血；經起中焦，隨營氣下行而上，故診在寸；絡起下焦，隨營氣上行極而下，故診在尺。正經邪溢滿奇，越人比之天雨降下，溝渠溢滿，滂霈妄行，流於湖澤，誠哉是言也。）</p>

<h3>衝陽等脈</h3>
<p>外此衝陽、太谿、太衝，皆足動脈。衝陽者，胃脈也。在足面上五寸骨間動脈上去陷谷三寸。蓋土者，萬物之母。衝陽脈見不衰，胃氣尚存，病雖危而猶可生也。然亦忌弦急，恐其肝旺剋土耳。太谿者，腎脈也，在足跗後兩旁圓骨上動脈陷中。蓋水者，天一之元，診此不衰，尚可治也。太衝者，肝脈也，在足大指本節後二寸陷中。肝為東方生物之始，不衰則病可治。然此三脈，止可診此以定生死。若云可推某病，則無是也。至於高章綱卑惵損之脈，止是就其脈象而名。蓋以高章綱為脈上行上浮滿溢搏指。卑惵損為脈下行下沉卑屑隱澀不振，仍是一陰一陽之意而別其名。至於太素一脈，古人傳而不言，言而不傳，皆有義存。以其語涉荒唐，而不輕語以欺世耳。（今之江湖術士，多借此法取錢。）</p>

<h3>五臟死脈</h3>
<p>若使診心而見前曲後居，如操帶鉤，是為心死；診肺而見如物浮水，如風吹毛，是為肺死；診肝而見急益勁如新張弓弦，是為肝死；診脾而見銳堅如烏之喙，如鳥之距，如屋之漏，如水之流，是為脾死；診腎而見發如奪索，辟辟如彈石，是為腎死；與診命門而見魚翔蝦游湧泉，是為命死；此五臟必死之脈也。脈象如此。（諸脈形象止是。）</p>

<h3>對待</h3>
<p>然究眾脈而論，則浮與沉，一升一降之謂也；數與遲，一急一慢之謂也；疾則較數而更甚矣。滑與澀，一通一滯之謂也；實與虛，一剛一柔之謂也。長與短，一盈一縮之謂也；大與小，一粗一嫩之謂也；細則較小而愈極矣。緊與緩，一張一弛之謂也；革與牢，一空一實之謂也；動與伏，一出一處之謂也；洪與微，一盛一衰之謂也；促與結，一陰一陽之謂也。至於弦與芤比，則脈之盛衰見矣；濡與弱比，則脈之進退見矣；代與散比，則死之久暫卜矣。脈之對待如斯。（對待既明，則病陰陽表裡虛實可知。）</p>

<h3>比類</h3>
<p>洪與虛雖屬皆浮，而有有力無力之分；沉與伏雖應重按，而有著筋著骨之異，數以六至為名，緊則六至不及，疾則六至更過，弦則左右雙彈，狀如切緊繩也。遲以三至為名，緩則仍有四至而徐徐不迫。實與牢本兼弦與長，而實則浮中沉俱有，牢則止於沉候見矣。洪與實皆為有力，然洪則重按少衰，實則按之益強矣。革與牢皆大而弦，而革以浮見，牢以沉見矣。濡與弱微，皆細而軟，然濡以浮見，弱以沉見，而微則以浮沉俱見矣。細與微，皆屬無力，而細則指下分明，微則模糊不清。短與動，皆無頭尾，而短為陰脈，其來遲滯；動為陽脈，其來滑數矣。促結澀代，皆有一止，而促則數時一止，結則緩時一止。澀則往來遲滯似歇，代則止有定數矣。脈形比類，又屬如斯。（比類既明，則諸疑脈可辨。）</p>

<h3>綱目</h3>
<p>以脈大綱小目而論：凡脈有言形體，曰洪、曰散、曰弦、曰革、曰肥、曰橫，是即大脈之屬也。有言形體，曰細、曰微、曰弱、曰瘦、曰縈縈如蜘蛛，是即小脈之屬也。有言至數，曰疾、曰急、曰動、曰促、曰擊、曰搏、曰躁、曰喘、曰奔越無倫者，是即數脈之屬也。有言至數，曰緩、曰代、曰結、曰脫、曰少氣、曰不前、曰止、曰歇、曰如瀉膝之絕者，是即遲脈之屬也。有言往來之象，曰利、曰營、曰啄、曰翕、曰章、曰連珠、曰替替然，是即滑脈之目也。有言往來之象，曰緊、曰滯、曰行遲、曰脈不應指，曰參伍不齊、曰難而且散、曰如雨沾沙、曰如輕刀刮竹、是即澀脈之目也。有言部位之則，曰高、曰惵、曰湧、曰端直、曰條達、曰上魚為溢，是皆長脈之目矣。有言部位之則，曰抑、曰卑、曰不及指、曰入尺為復，是皆短脈之目矣。有言舉按之則，曰芤、曰毛、曰泛、曰盛、曰肉上行、曰時一浮、曰如水漂木、曰如循榆莢，曰瞥瞥如羹上肥，是皆浮脈之目矣。有言舉按之則，曰伏、曰潛、曰堅、曰過、曰減、曰陷、曰獨沉、曰時一沉、曰如綿裹砂、曰如石投水，是皆沉脈之目矣。且綱之大者，曰大、曰數、曰長、曰浮、陽之屬也。綱之小者，曰遲、曰澀、曰短、曰沉、陰之屬也（盧子由）。脈之綱目如斯（綱目既明，則脈自有所歸）。</p>

<h3>以脈主病</h3>
<p>以脈主病而論：則浮為風，緊為寒，虛為暑，濡為濕，數為燥，而脈火，此六淫應見之脈也。喜傷心而脈散，怒傷肝而脈急，恐傷腎而脈沉，驚傷膽而脈動，思傷脾而脈短，憂傷肺而脈澀，悲傷心而脈促，此七情受傷之脈也。脈之主病如是。（主病既明，則治自有定斷。）</p>

<h3>脈真從脈</h3>
<p>然總不越陰陽虛實為之條貫。蓋脈之實者，其症必實（仍有寒實熱實之分）；脈之虛者，其症必虛（仍有火衰水衰之別）。若使脈實而症不實，非其所假在症，即其所假在脈也；脈虛而症不虛，非其所假在脈，即其所假在症也。如外雖煩熱而脈見微弱者，必火虛也。腹雖脹滿而脈見微弱者，必胃虛也。虛火虛脹，其堪取乎。此宜從脈之虛，不宜從症之實也。症即外寒而脈見滑數者，必假寒也。利即清水而脈見沉實者，必假利也。假寒假利，其堪取乎。此宜從脈之實，不宜從症之虛也。然症實有假，而症虛無假。假實者病症莫測，必須旁求他症，及以脈候，其假始出。若使症屬虛候，其症即知。縱有假寒假利，貌若虛象難明。然仔細考求，其寒止屬外見，而內必有煩躁等症。利即清水，而內必有燥糞，其水止從旁流，脈必滑數有力，仍與實脈實症相似，寧曰症有假虛，而脈可不深信哉。</p>

<h3>症真從症</h3>
<p>凡此脈真無假，可以症應。若使專以脈求，而症竟不察識，則脈尚有難言者耳。何則？仲景云：傷寒脈浮大，邪在表，為可汗。若脈浮大，心下硬，有熱屬臟者攻之，不令發汗。此又非浮為表邪可汗之脈也。又云：脈促為陽盛，宜用乾葛黃芩黃連湯。若脈促厥冷為虛脫，非灸非溫不可。此又非促為陽盛之脈也。又曰：脈遲為寒，脈沉為里，若陽明脈遲不惡寒身體濈濈汗出，則用大承氣湯。此又非諸遲為寒之脈矣。少陰病始得之反發熱而脈沉，宜麻黃附子細辛湯微汗之。此又非沉為在裡之脈矣。</p>

<h3>脈見有力無力難憑</h3>
<p>即書有言病症虛實，止在脈之有力無力，以為辨別。（有力即屬有根。難經曰：上部有脈，下部無脈，其人當吐，不吐者死。上部無脈，下部有脈，雖困不害。所以然者，人之有尺猶樹之有根，有根則不死。無力即屬無根。難經曰：寸口脈平而死者，生氣獨絕於內也。平即中餒不能建立之象，故曰死。）然試問其脈與症異，脈見堅勁有力，症見腹痛喜按，嘔逆戰慄，其脈可作有餘而用苦寒瀉實之藥乎。脈見虛軟無力，症見腹滿喘急痰鳴，其脈可作不足而用附桂理中之藥乎。且脈所鼓在氣，而氣動而不守，保無氣自寒生，而氣因寒而始振乎。脈之虛軟在濕，而濕滯而不動，保無熱挾濕至，而脈因痰因濕而始軟乎。（有力多因寒氣熱氣內鼓，但今人僅知熱氣內結為實，而不知有寒氣內結為實也。無力多因寒濕熱濕內軟，但今人僅知寒濕為痰為虛，而不知熱濕為痰為實也。凡此當以望聞問數字並參。）</p>

<h3>脈兼望聞問同察</h3>
<p>夫望聞問切，乃屬醫家要事。若僅以脈為診，而致以寒為熱，以熱為寒，以表為里，以里為表，顛倒錯亂，未有不傷人性命者矣。況經所云脈浮為風，為虛，為氣，為嘔，為厥，為痞，為脹，為滿不食，為熱內結，類皆數十餘症。假使診脈得浮，而不兼以望聞問以究其真，其將何以斷病乎。是以善診脈者，於人稟賦厚薄，（或稟厚而純陽，或稟薄而純陰。或稟不厚不薄而平。）形體肥瘦，（匯辨云：肥盛之人氣居於表，六脈常帶浮洪；瘦小之人氣斂於中，六脈常帶沉數。身長之人下指宜疏，身短之人下指宜密。北方之人常見強實，南方之人常見軟弱。少壯之人脈多大，老年之人脈多虛。醉後之脈常數，飲後之人常洪。室女尼姑多濡弱，嬰兒之脈常七至。又曰：此道形氣之常，然形氣之中，又必隨地轉移，方能盡言外之妙也。）顏色枯潤，（或枯而竭，或潤而和。）聲音低昂，（或音低小而微，知其體陰病陰；或聲高昂而壯，知其體陽病陽。）性情剛柔，（或剛主陽，或柔主陰。匯辨云：性急之人，五至方為平脈；性緩之人，四至便作熱醫。）飲食嗜好，（或喜氣厚之物，而知陽虛；或喜味厚之物，而知陰弱。）及平日脈象偏純，（或脈體偏靜而見六陰之脈，或脈體偏動而見六陽之脈。或脈體不動不靜而見至平之脈。仁齋曰：陽脈雖病在寒，常見浮洪；陰脈雖病在熱，常見微細。）與今所患病症，是新是舊，（或新由於外感，其脈疾數洪大；或舊由於內傷，其脈細小短澀。）是內是外，（或在外感屬表易治，或在內傷屬裡難治。）是陰是陽，（或陽主表、主上、主氣，主火，或陰主裡、主下、主血、主水。）並經醫士是否藥壞，（或假寒而用熱藥以壞，假熱而用寒藥以壞；或標病而用本藥以壞，本病而用標藥以壞之類。）靡不細為詳審。（要法真在此處。但今病家多不由醫細察。宗奭曰：素問言凡治病，察其形氣色澤。觀人勇怯骨肉皮膚，能知其情，以為診法。若患人脈病不相應，既不得見其形，醫止據脈供藥，其可得乎。今豪富之家，婦人居幃幔之內，復以帛蒙手臂。既無望色之神，聽聲之聖，又不能盡切脈之巧，未免詳問。病家厭繁，以為術疏，往往得藥不服。是四診之術，不得其一矣，可謂難也。嗚呼！）然後合於所診脈象，以斷病情，以定吉凶。（斷要通盤會計，又要得其主腦。切勿頭痛斷頭，腳痛斷腳。）如果病屬有餘，其脈應見浮洪緊數；若使其脈無神，或反見沉微細弱，便非吉矣。病屬不足，其脈應見沉微細弱；若使其脈鮮胃，或反見洪大數急，則非吉矣。推之暴病脈應見陽，久病脈應見陰，亦何莫不應與病相符，而始可言順矣。（靈樞動輸篇云：陽病而陽脈小者為逆，陰病而陰脈大者為逆。）</p>

<h3>脈以獨見為真</h3>
<p>但持脈之道，既在下指靈活，令其脈脊與手指目相對。（盧氏曰：診法多端，全憑指法捷取。蓋人之中指上兩節長，無名食指上兩節短，參差不齊。若按舉排指疏，則移越一寸九分之定位；排指密，又不及寸關尺之界分。齊截三指，斯中指翹出，而節節相對，節無不轉，轉無不活，以別左右，分表裡，推內外，悉五臟，候浮中沉，此三指定位法也。及其位定，專指舉按，固得其真，不若獨指之無牽帶，別有低昂也。第惟食指肉薄而靈，中指則厚，無名指更厚且木。是必指端稜起如線者名曰指目，以按脈中之脊。無論洪大弦革，即小細絲微，咸有脊焉。真如目之視物，妍醜畢具，故古人稱診脈曰看脈，可想見其取用矣。每見惜指甲之修長，用指厚肉分，或指節之下，以憑診視者，真不啻目生頸腋胸脅間矣。）尤須得要以求病根。在未診時，誰不自認精明，謂其何部何脈，何脈何象。及至臨症就診，則既以浮為風，而又若浮非浮而非風也。以緊為寒，而又若緊非緊而非寒也。以洪為火，而又若洪非洪而非火也。以數為燥，而又若數非數而非燥也。以虛為暑，以濡為濕，而又若虛非虛，若濡非濡，而不可以暑濕名也。諸如此類，既莫能分，復以六部六脈，分斷考求，毫不相貫。（分斷考求，最為診家大弊，竊嘆今時犯此甚多。如張璐謂人診脈，大似向泥人祈禱，有時靈應，有時不靈應。）詎知病屬一理，脈自無二，得其一而脈斯可斷矣。得其脈之獨有所見，而脈又可斷矣。（從獨字洗出脈要精義。）蓋獨之義不一。如有以諸部無乖，或以一部稍乖者，是其受病在此，而可以獨名也。有以五臟五脈各應互見，而六部六脈偏見一臟之脈者，是其病根伏是，而更可以獨名也。獨義無過如斯。故內經三部九候論，則有獨大獨小獨疾獨遲獨熱獨寒之謂耳。如獨而強者，則為病屬有餘；獨而弱者，即為病屬不足。獨而有力有神，其脈雖強而不為過。（有力尤須有神。李東垣曰：脈病當求其神之有與無，如六數七極熱也，脈中有力即有神也；三遲二敗寒也，脈中有力即有神也。熱而有神，當泄其熱，則神在焉；寒而有神，當去其寒，則神在矣。寒熱之脈，無力無神，將何恃而泄熱去寒乎。林之翰曰：按東垣此論，深達至理。但以有力二字言有神，恐不足盡有神之妙。王執中曰：有力中帶光澤潤滑也。於解進矣。蕭子顒歌云：輕清穩厚肌肉裡，不離中部象自然。則又有進焉。）獨而和緩柔弱，其脈雖弱，而不為害。蓋假獨者易知，而真獨者難明。得其要以求其獨，則獨無不在；失其要以求其獨，則獨其莫得矣。（又從要字一層，剝出精義。）故善言獨者，早以陰陽之原，（腎水為陰之原，腎火為陽之原。）氣血之本，（腎水為血之本，腎火為氣之本，脾胃倉廩又為生氣生血之本。）以求獨之根。（知其根，則知其要；知其要，則知其獨。）繼以順逆之理，（約注云：春夏洪大為順，沉細為逆；秋冬沉細為順，洪大為逆。男子左大為順，女子右大為順。凡外感症：陽病見陽脈為順，見陰脈為逆；陰病見陽脈亦為順。內傷症，陽病見陽脈為順，見陰脈為逆；陰病見陰脈為順，見陽脈為逆也。）取捨之道，（順之則取，如有根有神有胃之類；逆之則舍，如殘賊敗脫離絕之類。）並脈上下來去至止，曉然於胸，以識獨之宜。（滑氏曰：上者為陽，來者為陽，至者為陽；下者為陰，去者為陰，止者為陰也。上者，自尺部上於寸口，陽生於陰也。下者，自寸口下於尺部，陰生於陰也。來者，自骨肉之分而出於皮膚之際，氣之升也。去者，自皮膚之際而還於骨肉之分，氣之降也。應曰至，息曰止也。）然後臨症施診，以求獨之所在（獨在取捨明，輕重曉），則獨存；以明獨之所至（獨至根蒂知，真假識），則獨出矣。故有見上為獨，而其獨偏在下也；見左為獨，而其獨偏在右也；見腑為獨，而其獨偏在臟也；見表為獨，而其獨偏在裡也。此其獨可以意會（獨有左右逢源之趣），而不可以言傳；（獨有難以盡言之妙。）此其獨可以獨知（獨有化裁盡變之義），而不可以共覺矣（獨有獨覺難與時師共言之理）。苟無獨知之明，（僅讀醫方捷徑、叔和脈訣，何能獨知。）獨見之真，（僅見一時之病，一方之病，何能獨見。）獨守之固，（僅守時師耳聽之說，蔓衍湯方之書，何能獨守。）而曰惟我為獨，（又從獨字推進一層，妙義旋生。）獨固是也，而恐則為獨夫之獨矣；獨亦是也，而恐則為毒人之獨矣。（繡嘗謂醫有四失：一曰字句不曉，二曰涉獵湯方，三曰株守一書，四曰剿襲糟粕。凡此四失，必能毒人。）其尚得謂真正之獨，與因應化裁之獨哉。故曰持脈之道，貴乎活潑（一語括盡）。若局守不變，則所向輒迷，又安能審獨求真，而得病之所歸者乎。</p>

<h1>卷二</h1>

<h2>新增四言脈要</h2>
<p>繡按四言脈要，始於宋南康紫虛隱君崔嘉彥希範所著。蓋以初學脈理未諳，得此可為誦習。故後靳州李言聞、云間李士材、海鹽馮楚瞻，皆於己著集內，將此刪改，附刻篇末，業已行世。獨惜尚有駁雜未清之處，爰取士材改本，加意增刪，俾文義簡明，脈症悉賅，庶讀者一覽而知。而不致有繁多缺略之憾耳。</p>
<p>脈為血脈，百骸貫通。大會之地，寸口朝宗。</p>
<p>脈者，血脈也，血脈附氣，周於一身，循環無間，故百骸皆資貫通，而寸口為各經諸脈大會之地。肺處至高，形如華蓋，凡諸臟腑各經之氣，無不上蒸於肺，而於寸口之地宗而朝之耳。</p>
<p>診人之脈，令仰其掌。掌後高骨，是名關上。</p>
<p>醫者復手大指，著於病人高骨之處，隨以中指對抵以定關部。至於尺寸，則以前後二指著定。如病人長，則下指宜疏；病人短，則下指宜密。</p>
<p>關前為陽，關後為陰。陽寸陰尺，先後推尋。</p>
<p>魚際至高骨止有一寸，故以寸名；尺澤至高骨卻有一尺，故以尺名；關界尺寸之間，故以關名。經曰：身半之上，同天之陽；身半之下，同地之陰。故以關前之寸為陽以候上焦，關後之尺為陰以候下焦，關處前後之中以候中焦。凡診必先從寸至關，從關至尺，定其先後，以推其理而尋其象也。</p>
<p>胞絡與心，左寸之應。惟膽與肝，左關所認。膀胱及腎，左尺為定。胸中及肺，右寸昭彰，胃與脾脈，屬在右關。大腸並腎，右尺班班。男子之脈，左大為順。女人之脈，右大為順。男尺恆虛，女尺恆盛。</p>
<p>按古臟腑脈配兩手，皆以內經所立脈法為定，而不敢易。左為陽，故男左脈宜大；右為陰，故女右脈宜大。寸為陽，故男所盛在陽而尺恆虛；尺為陰，故女所盛在陰而尺恆盛。</p>
<p>人迎氣口，上下對待。一肺一胃，經語莫悖。神門屬腎，在兩關後。</p>
<p>人迎脈在挾喉兩旁一寸五分，胃脈循於咽喉而入缺盆。凡胃脘之陽，是即人迎之氣之所從出。故診人迎之脈，亦在右關胃腑胃陽之處，而可以卜在上頭項外感之疾也。氣口在於魚際之後一寸，肺朝百脈，肺主氣，故診氣口之脈，即在右寸肺臟肺陰之部，而可以卜在中在胸內傷之疾也。統論皆可以候臟腑之氣，靈樞素問言之甚明，並無左右分診之說。叔和悖而更之，議之者多矣。人之精神，寄於兩腎。故兩腎脈無，則其神已滅，而無必生之候矣。</p>
<p>脈有七診，曰浮中沉，上下左右，七法推尋。</p>
<p>浮於皮毛之間輕取而得曰浮，以候腑氣。中於肌肉之間略取而得曰中，以候胃氣。沉於筋骨之間重取而得曰沉，以候臟氣，上於寸前一分取之曰上，以候咽喉中事。下於尺後一分取之曰下，以候少腹腰股脛膝之事。合之左右兩手共為七診，以盡其推尋之力焉。</p>
<p>又有九候，曰浮中沉。三部各三，合而為名。每部五十，方合於經。</p>
<p>五臟之氣各足，則五十動而一息，故候必以五十為準。每手三部各三，共為九候，合之應得四百五十之數，兩手共得九百之數。</p>
<p>五臟不同，各有本脈。左寸之心，浮大而散。右寸之肺，浮澀而短。肝在左關，沉而弦長。腎在左尺，沉石而濡。右關屬脾，脈象和緩。右尺相火，與心同斷。</p>
<p>五臟各有平脈，平脈即本脈。知其本脈無乖，而後知病脈之故也。</p>
<p>四時百病，胃氣為本。</p>
<p>胃為水穀之海，資生之本也。凡病診得脈緩和勻，不浮不沉，不大不小，不疾不徐，意思悠悠，便為胃氣。不拘四季，得食則生，不得則死。今人混將時令克應推循過極，殊失胃氣之本矣。</p>
<p>凡診病脈，平旦為準。虛靜凝神，調息細審。</p>
<p>平旦飲食未進，經脈未動，絡脈調勻，氣血未亂，可診有過之脈。至於醫家亦須先無思慮，以靜以虛，調其息氣，凝神指下，精細詳察，以求病之所歸耳。</p>
<p>一呼一吸，合為一息。脈來四至，平和之則。五至無疴，閏以太息。三至為遲，遲則為冷。六至為數，數即熱病。轉遲轉冷，轉數轉熱。</p>
<p>醫以己之呼吸調勻定息。如一呼吸，得脈四至，是即和平之準則也。五至何以無疴，蓋以人之氣息長短不定，每於三息五息之候，必有一息之長，故曰太息。如醫一息而見脈來五至，此非病脈之急，是醫氣息之長也，故五至不為有疴。惟脈一息三至，即為遲慢不及；六至，即為急數太過。若至一至二至，則為轉遲轉冷；七至八至，則為轉數轉熱；而非壽生之脈矣。</p>
<p>遲數既明，浮沉須別。浮沉遲數，辨內外因。外因於天，內因於人。天有陰陽，風雨晦明。人喜怒憂，思悲恐驚。</p>
<p>天之六氣淫人，如風淫則病在末，陰淫則病在寒，明淫則病在暑，雨淫則病在濕，晦淫則病在燥，陽淫則病在火，是外因也。人之七情傷人，如喜傷心，怒傷肝，憂傷肺，思傷脾，恐傷腎，驚傷膽，悲傷心，是內因也。</p>
<p>浮表沉里，遲寒數熱。沉數里熱，浮數表熱。浮遲表寒，沉遲冷結。</p>
<p>此提浮沉遲數四脈之綱，以分在表在裡寒熱各見之症也。</p>
<p>浮脈法天，輕手可得。泛泛在上，如水漂木。有力為洪，來盛去悠。無力為芤，有邊無中。遲大為虛，仔細推求。虛極則散，渙漫不收。浮小為濡，如綿浮水。濡甚則微，若有若無。更有革脈，芤弦合看。共是七脈，皆於浮候。</p>
<p>此以浮脈提綱，而取洪芤虛散濡微革七脈之兼乎浮者統匯於下也。浮脈應於肉分肌表，故輕手取之即見，正如木漂水面之意。洪脈來極盛大，按之有力，去則稍衰，正如波濤洶湧，來盛而去則悠耳。芤則浮沉易見，而中豁然空虛，故有著蔥之喻，亦非中候絕無，但比之浮沉二候，則覺無力。虛則雖浮且大，而按之無力，且更遲緩。散則虛浮無力，按之則無，正如楊花飄散，比於虛脈則甚。濡則浮小而軟，如綿浮水。微則浮取欲絕不絕，若有若無，較之濡脈軟小更極。革則浮多沉少，外急內虛，正仲景所謂弦則為寒，芤則為虛，虛寒相搏，其名曰革之意。</p>
<p>沉脈法地，如石在水。沉極則伏，推筋至骨。有力為牢，大而弦長。牢甚則實，愊愊而強。無力為弱，狀如細綿。細極為細，如蛛絲然。共是五脈，皆於沉看。</p>
<p>此以沉脈提綱，而取伏牢實弱細五脈之兼乎沉者匯於下也。沉脈應於筋骨，故必重按乃得，正如石之墜於水里之意。伏則沉之至極，故必推之筋骨始見。牢則沉大弦長，按之有力，不似革脈浮取強直，而中則空。實則三部皆堅，而力更甚於牢。弱則沉極細軟，卻極分明。細則沉細直軟更甚於弱，故比狀如蛛絲。</p>
<p>遲脈屬陰，一息三至。有力為緩，少駃於遲。往來和勻，春柳相似。遲細為澀，往來極滯。遲有一止，其名曰結。遲止有常，應作代看。共是四脈，皆於遲測。</p>
<p>此以遲脈提綱，而取緩澀結代四脈之兼乎遲者統匯於下也。遲為往來遲慢，故一息而見三至。緩則往來和勻，軟若春柳，即是胃氣之脈。澀則遲滯不利，狀如輕刀刮竹。代則遲而中止，不能自還，但止有定數，而不愆期。</p>
<p>數脈屬陽，一息六至。往來流利，滑脈可識。有力為緊，切繩極似。數時一止，其名為促。數如豆粒。動脈無惑。共為四脈，皆於數得。</p>
<p>此以數脈提綱，而取滑緊促動四脈之兼乎數者統匯於下也。數則往來急數，故一息而見脈有六至。滑則往來無滯，有如珠之走盤。緊則緊急有力，狀如弦緊彈手，故有切繩之喻。數時一止為促，狀如疾行而蹶。數而兩頭俱俯，中間高起，有似豆粒厥厥動搖。是謂之動。</p>
<p>別脈有三，長短與弦。不及本位，短脈可原。過於本位，長脈綿綿。長而端直，狀似弓弦。</p>
<p>此長短與弦三脈，非浮沉遲數可括，故別列於此。短者，上不通於魚際，下不通於尺澤，有短縮不伸之意。長者，通尺澤魚際，上下皆引，有迢迢過於本位之情。若弦則勁直不撓，有似弓弦，不似緊脈弦急彈人。</p>
<p>一脈一形，各有主病。脈有相兼，還須細訂。</p>
<p>有一脈之形象，必有一脈所主之病。有兼見之脈象，即有兼見之症，可細就其兼見之脈。以例其症耳。</p>
<p>浮脈主表，腑病所居。有力為風，無力血虛。浮遲表冷，浮數風熱。浮緊風寒，浮緩風濕。浮虛傷暑，浮芤失血。浮洪虛火，浮微勞極。浮濡陰虛，浮散虛劇。浮弦痰飲，浮滑痰熱。</p>
<p>浮雖屬陽，主表主腑，但浮而見洪數弦滑有力之脈，固屬主熱主火主痰主風；若浮而見遲緩芤虛微澀與散無力之脈，又為主虛主濕主冷主暑主危之象矣。故脈當視所兼以為辨別。下文仿此。</p>
<p>沉脈主裡，為寒為積。有力痰食，無力氣鬱。沉遲虛寒，沉數熱伏。沉緊冷痛，沉緩水蓄。沉牢痼冷，沉實熱極。沉弱陰虛，沉細虛濕。沉弦飲痛，沉滑食滯。沉伏吐利，陰毒積聚。</p>
<p>沉雖屬陰屬裡，然沉而見遲緊牢緩細弱諸脈，方謂屬虛屬寒屬積屬聚；若沉而見實數諸脈，則沉更不謂屬陰，又當自陰以制其火以除其熱也。</p>
<p>遲脈主臟，陰冷相干。有力為痛，無力虛寒。</p>
<p>遲雖屬陰，仍當以有力無力分其寒實寒虛。蓋寒實則為滯為痛，而寒虛則止見其空虛也。</p>
<p>數脈主腑，主吐主狂。有力實熱，無力虛瘡。</p>
<p>數雖屬陽，仍當以有力無力分其熱實熱虛。蓋熱實則必為狂為燥，而熱虛則止見其虛瘡耳。</p>
<p>滑司痰飲，右關主食。尺為蓄血，寸必吐逆。澀脈少血，亦主寒濕。反胃結腸，自汗可測。</p>
<p>滑司痰飲，而亦有主食主血主吐之分。澀本血少，而亦有寒澀濕澀之別。但血枯則上必見反胃，而下必見腸結；腸結胃反，則水液自爾不行，而有上逆為汗之勢矣。</p>
<p>長則氣治，短則氣病。浮長風癇，沉短痞塞。</p>
<p>長為肝經平脈，故未病脈長，是為氣治。短即肺之平脈，若非右寸及於秋見，則必有氣損之病矣。至長獨於浮見，則為風火相搏而癇以生；短以沉見，則為虛寒相合而痞以成。</p>
<p>細則氣衰，大則病進。澀小陰虛，弱小陽竭。</p>
<p>脈以和平為貴。凡脈細如蛛絲之狀，其氣自屬衰弱；大而滿溢應指有力，是為病勢方張。至於三部皆小，較細顯極而脈澀不快，是為精血虛損。既小而脈不大，又脈痿弱不起，是為陽氣衰弱。皆當分別審視。</p>
<p>洪為熱極，其傷在陰。微為氣衰，其損在陽。浮洪表實，沉洪裡實。陽微惡寒，陰微發熱。</p>
<p>洪為熱極，其傷在陰，但須分其表裡。微為氣衰，其損在陽，亦須分其陽分陰分，以別惡寒發熱之治也。</p>
<p>緊主寒痛，有表有里。緩主平和，兼見須慮。緩滑痰濕，緩大風虛。緩澀血傷，緩細濕痹。</p>
<p>浮緊則為寒閉於表，必有身痛頭痛惡寒等症可察。沉緊則為寒束於裡，必有肚腹脹滿逆痛等症可察。緩為虛，大為風，緩大脈見則為風虛。緩為食停，細為氣滯，緩細脈見，其痹必生。緩為氣衰，澀為血損，緩而見澀，其損必甚。緩則濕滯不消，滑則痰飲內蓄，緩與滑見，則濕必停而痰益甚。</p>
<p>陽盛則促，肺癰熱毒。陰盛即結，疝瘕積鬱。</p>
<p>數而有止為促，非陽盛乎，故有肺癰熱毒之症；遲而有止為結，非陰盛乎，故有疝瘕積鬱之症。</p>
<p>弦脈主飲，木侮脾經。陽弦頭痛，陰弦腹疼。動主搏擊，陰陽不調。陽動汗出，為痛為驚。陰動則熱，崩中失血。</p>
<p>脈弦而土必虛，則濕自無土製而痰以生。故弦而在於寸，寸主上焦，其痛必在於頭；弦在於尺，尺主下焦，其痛必在於腹。動為陰陽不和，動見於寸，則心肺受累而驚痛與汗自至；動見於尺，則腎水受累，而崩中失血自生。</p>
<p>虛寒相搏，其名曰革。男子失精，女子漏血。若見脈代，真氣衰絕。膿血症見，大命必折。傷寒霍亂，跌打悶絕。瘡疽痛甚，女胎三月。</p>
<p>革脈由於精血虧損，故爾脈空不實，而見男子失精女子漏血之症。至於脈代而絕，或膿血症見，未有不死。惟有傷寒霍亂，跌僕瘡疽，痛甚胎產見之，以其暴傷暴閉，勿作死治也。</p>
<p>脈之主病，有宜不宜。陰陽順逆，吉凶可推。</p>
<p>病有陰陽，脈亦陰陽，順應則吉，逆見則凶。下言脈症相應順逆，總不出乎此理以為之貫通也。</p>
<p>中風之脈，卻喜浮遲。堅大急疾，其凶可知。類中因氣，身涼脈虛。類中因痰，脈滑形肥。類中因火，脈數面赤。</p>
<p>風有真中類中之各別。真中雖屬實症，而亦由虛所招，故脈喜其浮遲，而忌堅急，恐其正虛邪勝，決無生也。類中本非風中，特症相似而名，故症與脈各以類見。而不能以一致耳。</p>
<p>傷寒熱病，脈喜浮洪。沉微澀小，症反必凶。汗後脈靜，身涼則安。汗後脈燥，熱盛必難。始自太陽，浮緊而澀。及傳而變，名狀難悉。陽明則長，少陽則弦。太陰入里，沉遲必兼。及入少陰，其脈遂沉。厥陰熱深，脈伏厥冷。陽症見陰，命必危殆。陰症見陽，雖困無害。中寒緊澀，陰陽俱緊。法當無汗，有汗傷命。</p>
<p>病陽脈宜見陽，病陰脈宜見陰。故傷寒熱病之症，宜見洪數之脈，與傷寒汗後不宜見脈燥之象耳。即云寒邪傳變，名狀莫悉。與陰寒直中，陰陽俱緊，脈不一端。然大要陽得陰脈，脈與症反，命必危殆。若陰症而見浮大數動洪滑之陽，其脈雖與症反，在他症切忌，而傷寒邪氣初解，病雖危困，亦未有害。惟傷寒汗出症虛，而脈反見陰陽俱緊，是其元氣已脫，脈氣不和，非吉兆也。</p>
<p>傷風在陽，脈浮而滑。傷風在陰，脈濡而弱。六經皆傷，或弦而數。陽不浮數，反濡而弱。陰不濡弱，反浮而滑。此非風寒，乃屬溫濕。若止濡緩，或兼細澀。此非風濕，更屬濕著。</p>
<p>風為陽邪，風傷則脈自有浮滑弦數之象。但風有傷於陰，則浮與滑自不克見，以陽為陰所閉也。反是多因風為濕阻，故又名為風濕。如至浮數俱無，獨見濡緩細澀，定知為濕所淫，所當分別以視也。</p>
<p>陰陽俱盛，熱病之徵。浮則脈滑，沉則數澀。中暑傷氣，所以脈虛。或弦或細，或芤或遲。脈雖不一，總皆虛類。</p>
<p>凡脈而見陰陽俱盛者，未有不因熱邪充溢之故。所以脈浮而滑，其熱必挾有飲。脈沉數澀，其熱必傷於陰。若暑則多氣虛不固，以致暑得內襲，而脈亦虛不振。即或體有不同，脈見芤弦細遲。然要皆屬虛類，而不可實攻耳。</p>
<p>瘟脈無名，變見諸經。脈隨病見，不可指定。</p>
<p>疫邪伏於募原，時出時沒，其脈變換不定，故但隨其所見以為指耳。</p>
<p>瘧則自弦，弦即瘧候。兼遲則寒，兼數則熱。代散脈見，其體則折。</p>
<p>瘧因風木邪盛凌土而濕不化，致挾停痰積飲而成，故脈始見自弦；再於兼見之中，別其寒熱酌治，則病自愈。惟代散脈見，則命其必絕矣。</p>
<p>風寒濕氣，合為五痹。浮澀與緊，三脈乃備，腳氣之脈，其狀有四。浮弦為風，濡弱為濕。遲澀為寒，洪數為熱。痛非外因，當於尺取。滑緩沉弱，隨脈酌治。</p>
<p>五痹腳氣等症，總不越乎風寒及濕三者以為之害。即或內淫為熱，亦不越乎四者以為之伏。惟有痛非外因，而脈或於尺部而見，或滑、或緩、或沉、或弱，則又在於隨脈酌施。而不可以風寒濕治也。</p>
<p>勞倦內傷，脾脈虛弱。汗出脈燥，治勿有藥。勞極諸虛，浮軟微弱。土敗雙弦，火炎則數。</p>
<p>虛症而見虛脈，此順候也。若汗出而脈反燥，是為大逆，尚有何藥可治乎。故弦數最為虛症切忌。</p>
<p>痞滿滑大，痰火作孽。弦伏中虛，微澀衰薄。脹滿之脈，浮大洪實。細而沉微，岐黃無術。水腫之症，有陰有陽。陰脈沉遲，陽脈洪數。浮大則生，沉細勿藥。五臟為積，六腑為聚。實強可生，沉細難愈。黃疸濕熱，洪數偏宜。不妨浮大，微澀難醫。</p>
<p>痞脹水腫積聚黃疸，雖其病因不同，形症各別；然終宜見有餘之脈，則真氣未絕，而治尚可愈矣。若至細小沉澀，形實氣餒，將何有藥可施乎，故皆為逆。</p>
<p>郁脈皆沉，甚則伏結。或代或促，知是鬱極。胃氣不失，尚可調治。氣痛脈沉，下手便知。沉極則伏，澀弱難治。亦有沉滑，是氣兼痰。心痛在寸，腹痛在關。心腹之痛，其類有九。細遲速愈，浮大延久。兩脅疼痛，脈必雙弦。緊細而弦，多怒氣偏。沉澀而急，痰瘀之愆。疝屬肝病，脈必弦急。牢急者生，弱急者死。腰痛之脈，必弦而沉。沉為氣滯，弦損腎元。兼浮者風，兼緊者寒。濡細則濕，寒則閃挫。頭痛之病，六經皆有。風寒暑濕，氣鬱皆侵。脈宜浮滑，不宜短澀。</p>
<p>弦急弦沉伏澀緊細，皆是痛症氣症鬱症本領。但痛極者，則脈必沉必伏。有瘀者，則脈必澀。因濕者，則脈必濡。因痰者，則脈必滑。因風者，則脈必浮必弦。因寒者，則脈必緊。因濕者，則脈必滯必弱。因熱者，則脈必數。因於痛極陰陽告絕者，則脈必疾。因於積極而痛者，其脈必牢，須以胃氣不失為要。故痛症而見其脈浮大、最屬不宜；短澀弱急，亦屬不利；惟得沉緊遲緩乃治。但頭痛外感，非屬內傷，其脈又宜浮大，最忌短澀，所當分別而異視也。</p>
<p>嘔吐反胃，浮滑者昌。弦數緊澀，結腸者亡。飽逆甚危，浮緩乃宜。弦急必死，代結促微。吐瀉脈滑，往來不勻。瀉脈必沉，沉遲寒侵。沉數火熱，沉虛滑脫。夏月泄瀉，暑濕為殃。脈與病應，緩弱是形。微小則生，浮弦則死。霍亂之脈，代則勿訝。遲微厥逆，是則可嗟。泄瀉下痢，沉小滑弱。實大浮數，發熱則惡。</p>
<p>吐宜浮緩浮滑，瀉宜沉小沉滑，吐瀉交作，則脈必見往來不勻，雖暴見代勿慮。如其吐見弦急，瀉見浮弦，並吐瀉交作而見遲微厥逆，皆屬不治，故以必死為斷也。</p>
<p>嘈雜噯氣，審右寸關。緊滑可治，弦急則難。吞酸之脈，多弦而滑。沉遲是寒，洪數是熱。痰脈多滑，浮滑兼風。沉滑兼寒，數滑兼熱。弦滑為飲，微滑多虛。滑而兼實，痰在胸膈。結芤澀伏，痰固中脘。</p>
<p>嘈雜噯氣本屬脾氣不運，故切忌脈弦急，恐木剋土故也。吞酸有寒有熱、隨症所見以為分別，故以沉遲洪數分之。痰脈因不一端，滑是本象。惟有風則浮，有寒則沉，有熱則數，有飲則弦、虛弱則微，結於胸膈為實，固於中脘，則見結芤澀伏之為異耳。</p>
<p>小便淋秘，鼻色必黃。實大可療，澀小知亡。遺精白濁，當驗於尺。結芤動緊，二症之的。微數精傷，洪數火逼。亦有心虛，寸左短小。脈遲可生，急疾便夭。便結之脈，遲伏勿疑。熱結沉數，虛結沉遲。若是風燥，右尺浮起。</p>
<p>淋秘脈見澀小，精血已敗，死亡至矣，此脈見不及者之必死也。遺濁雖有微數洪數短小之分，然急疾脈至，又非所宜，故曰便夭，此脈見太過者之必死也。若在便閉，裡氣不通，固應遲伏；然風寒濕熱，當於脈遲脈數脈浮分辨，不可混同而罔治也。</p>
<p>咳嗽多浮，浮濡易治。沉伏而緊，死期將至。喘息抬肩，浮滑是順。沉澀肢寒，均為逆症。</p>
<p>咳嗽肺疾，脈浮為宜，兼濡亦為病氣將退。若使沉伏與緊，便與病反，故曰必死。喘症無非風痰內湧，當以浮滑為順。若至肢寒沉澀，亦非吉兆，故曰為逆。</p>
<p>火熱之脈，洪數為宜。微弱無神，根本脫離。三消之脈，數大者生。細微短澀，應手堪驚。骨蒸發熱，脈數為虛。熱而澀小，必損其軀。痿因肺燥，必見浮弱。寸口若沉，發汗則錯。</p>
<p>火症應見火脈，故三消骨蒸，須以數大為生。反是而見短澀微弱，豈其宜乎。痿症本因肺燥血虧，脈浮尚不宜汗，豈有宜於寸口脈沉之候乎。</p>
<p>諸症失血，皆見芤脈。隨其上下，以驗所出。脈貴沉細，浮大難治。蓄血在中，牢大則宜。沉細而微，速愈者稀。</p>
<p>失血脈宜見芤，以芤主空故也。故脈最宜沉澀而忌浮大，反是則逆矣。若至蓄血，最宜牢實而忌沉細，以血未損故也。反是峻劑莫投，故曰難愈。</p>
<p>心中驚悸，脈必代結。飲食之悸，沉伏動滑，癲乃重陰，狂乃重陽。浮洪吉象，沉急凶殃。癇宜虛緩，沉小急實。若但弦急，必死不失。</p>
<p>驚悸非屬心氣虧損，即屬有物阻滯，故脈必見代結。若因飲食致悸，則有沉伏動滑之象，所當審也。癲狂二症為病尚淺，故宜浮洪而惡沉急，反是則為病氣入骨。癇宜虛緩，以其中有痰沫之故。弦急獨見，是為真臟脈出，安望其再生耶。</p>
<p>耳病腎虛，其脈遲濡。浮大為風，洪動為火。沉濡為氣，數實為熱。若久聾者，端於腎責。暴病浮洪，兩尺相同。或兩尺數，陰虛上衝。齒痛腎虛，尺脈濡大。齒痛動搖，尺洪火炎。右寸關數，或洪而弦。非屬腎虛，腸胃風熱。口舌生瘡，脈洪疾速。若見虛脈，中氣不足。喉痹之脈，兩寸洪盛。上盛下虛，脈忌微伏。</p>
<p>耳病當責於腎，以其腎竅開於耳者故耳。然亦須以浮風、洪火、濡氣、數熱、久聾為辨。如其是暴非久，又以兩尺浮弦相同為驗耳。齒雖屬腎，而齒齦則屬於胃，故辨齒痛脈象，須以尺濡、尺洪斷其虛實，寸關洪數與弦，斷其腸胃風熱，未可盡以腎求也。口舌生瘡，必與洪疾為實，虛則多屬中氣不足。喉痹症屬上實，脈以寸盛為順。若見微伏，真氣已絕，故曰大忌。</p>
<p>中惡腹脹，緊細乃生。浮大為何，邪氣已深。鬼祟之脈，左右不齊。乍大乍小，乍數乍遲。中毒洪大，脈與病符。稍或微細，必傾其身。蟲傷之脈，尺沉而滑。緊急莫治，虛小可怯。</p>
<p>中惡宜於緊細，以其邪氣未深之故；反是則邪盛正衰，非其宜也。鬼祟出沒不定，故脈有難追求。中毒脈見洪大，是與病應，以毒主陽故也。稍見微細，真氣絕矣，豈其宜乎。蟲傷脈多沉滑，以其蟲伏於內者故耳。緊急固見傷甚而陰陽離隔，虛小亦恐真氣已損，皆為有慮。</p>
<p>婦人之脈，尺宜常盛。右手脈大，亦屬順候。尺脈微遲，經閉三月。氣血不足，法當溫補。婦人尺脈，微弱而濡。年少得之，無子之兆。長大得之，絕孕之徵。因病脈澀，有孕難保。</p>
<p>婦人以血為主，故尺宜常盛，而右脈宜大。故尺遲則經必閉，微弱而澀，在有孕固不克保，況無孕乎。</p>
<p>崩漏不止，脈多浮動。虛遲者生，實數者死。疝瘕之脈，肝腎弦緊。小便淋閉，少陰弦緊。</p>
<p>崩漏不止，已屬血動不歸，再見實數，則腎真氣已絕，所以不宜見也。疝瘕主於肝腎，故肝腎弦緊，是即疝瘕之徵也。淋閉主於少陰，故少陰弦緊，亦是淋閉之見也。</p>
<p>婦人有子，陰搏陽別。少陰動甚，其胎已結。滑疾不散，胎必三月。但疾不散，五月可別。陽疾為男，陰疾為女。女腹如箕，男腹如斧。</p>
<p>寸為陽，尺為陰，陰脈既已搏指而與陽寸之脈迥然各別，是即有子之徵。心為手少陰經，心主血，若胎已內結，則少陰之脈，勢必往來流利，厥厥如豆之動。疾即數類，滑而且數，按之不散，是其精血已聚，故有三月之胎。滑診不見，而但疾而不散，是其骨肉已成，脈無滑氣，故有五月之胎。陽疾為男，陰疾為女，以陽主男陰主女故耳。女胎如箕，男胎如斧，以箕圓象地象陰，斧方象天象陽故耳。陽疾陰疾，統上下表里左右而言，不拘於左右分也。</p>
<p>妊娠之脈，實大為宜。沉細弦急，虛澀最忌。半產漏下，脈宜細小。急實斷絕，不祥之兆，凡有妊娠，外感風寒。緩滑流利，其脈自佳。虛澀燥急，其胎必墮。胎前下利，脈宜滑小。若見疾澀，其壽必夭。</p>
<p>妊娠脈宜實大，以其內實故也。沉細弦急，皆為真損胎墮之兆，最為切忌。半產漏下，脈見細小，是與病應。若胎漏既絕，脈又急實真氣已離，豈能生乎。妊娠感冒，脈宜流利，以其胎氣未損故耳。虛澀燥急，是於胎氣有損，故不宜見。有胎下利，脈宜滑小，而忌疾澀，以疾則氣已離，以澀則血已傷故也，故以滑小為正。</p>
<p>臨產之脈，又宜數滑。弦細短數，最屬不利。產後沉小，微弱最宜。急實洪數，岐黃莫治。新產傷陰，血出不止。尺不上關，其命即喪。新產中風，熱邪為殃。浮弱和緩，與病相當。小急弦澀，頃刻身亡。</p>
<p>臨產脈亂滑數，是即胎動之應。若弦細短數，則於胎中有損，最為不利。產後胎兒已下，肚腹空虛，實數不與症應，故曰不治。新產出血不止，尺不上關，元氣下脫，不死何待。至於中風脈見和緩，內氣未動，故曰相當。如至小急弦澀，則內氣已絕，無復生矣。</p>
<p>男子久病，當診於氣。脈強則生，脈弱則死。女子久病，當診於血。脈弱則死，脈強則生。</p>
<p>久病則真氣多損，故診強弱以辨生死。但男子則當以氣為診，以男主於氣也。女人則當以血為診。以女主於血故也。右寸脈強，則氣未損，故曰可生。左寸脈旺，則血未竭，故曰不死。</p>
<p>斑疹之脈，沉而且伏。火盛於表，陽脈浮數。熱盛於裡，陰脈實大。痘疹弦直，或沉細遲。汗後欲解，脈潑如蛇。伏堅尚可，伏弦堪嗟。</p>
<p>斑疹脈見沉伏，以毒本未伸泄故耳，仍須以脈數實辨其屬表屬裡。痘疹最宜外出，不宜內伏，故弦直細遲猶可升托，即伏不弦，猶可內解。若至伏弦，則毒內入已深，不能外出，所以堪嗟。</p>
<p>癰疽未潰，脈宜洪大。及其已潰，洪大始戒。肺癰已成，寸數而實。肺痿之脈，數而無力。肺癰色白，脈宜短澀。浮大相逢，氣損無失。腸癰實熱，滑數可必。沉細無根，其死可測。</p>
<p>未潰屬實，洪大宜矣。潰後則虛，而脈猶見洪大，豈其宜乎。肺癰已成，寸實無慮，以膿在肺未除故也。肺痿則肺葉焦痿，脈數無力，亦所應見。惟肺癰幾作，肺氣虛損，其色應白，則脈亦當短澀，方與症應。若見浮大，知是氣損血失，賊邪乘金，最非吉兆。腸癰本屬實熱，必得滑數，方云無事。若見沉細，是謂無根，喪期在即。</p>
<p>奇經八脈，不可不察。直上直下，尺寸俱牢。中央堅實，衝脈昭昭，胸中有寒，逆氣裡急。疝氣攻心，支滿溺失。</p>
<p>奇經者，不在十二正經之列，故以奇名。直上直下，弦長相似，尺寸俱牢，亦兼弦長，中央堅實，是明胸中有寒，故見逆氣裡急之症。如疝氣攻心，正逆急也。支滿，脹也。溺失者，衝脈之邪干於腎也。</p>
<p>直上直下，尺寸俱浮。中央浮起，督脈可求。腰背強痛，風癇為憂。</p>
<p>直上直下，則弦長矣；尺寸俱浮，中央亦浮，則六部皆浮，又兼弦長矣；故其見症皆屬風象。大抵風傷衛，故於督表見之；寒傷營，故於沖里見之。</p>
<p>寸口丸丸，緊細實長。男疝女瘕，任脈可詳。</p>
<p>寸口者，統寸關尺三部而言，非專指寸一部也。丸丸，動貌。緊細實長，因寒實於其內而見也。男疝女瘕，即所謂苦少腹繞臍，下引陰中切痛也。</p>
<p>寸左右彈，陽蹻可決。或癇或瘲，病苦在陽。尺左右彈，陰蹻可別。或癇或瘛，病苦在陰。關左右彈，帶脈之訊。病主帶下，腹脹腰冷。</p>
<p>左右彈，緊脈之象也。陽蹻主陽絡，故應於寸而見浮緊而細。陰蹻主陰絡，故應於尺而見沉緊。帶脈狀如束帶，在人腰間，故應於關而見浮緊。緊主寒，故三脈皆見寒症。如陽蹻則或見為厥仆倒地身軟作聲而癇，或筋緩而伸為瘲，蓋癇動而屬陽，陽脈主之。陰蹻則或見為語言顛倒舉止錯動而癲，或筋急而縮為瘛，蓋癲靜而屬陰，陰脈主之。帶則病發腰腹，而有腹脹腰冷帶下之症矣。</p>
<p>尺外斜上，至寸陰維。其病在裡，故苦心痛。尺內斜上，至寸陽維。其病在表，故苦寒熱。</p>
<p>從右尺手少陽三焦，斜至寸上手厥陰心包絡之位，是陰維脈也。從左尺足少陰腎經，斜至寸上手太陽小腸之位，是陽維脈也。二脈皆載九道圖中。斜上不由正位而上，斜向大指，名為尺外；斜向小指，名為尺內。二脈一表一里，在陰維主裡，則見心痛；陽維主表，則見寒熱是也。</p>
<p>脈有反關，動在臂後。別由列缺，不幹證候。</p>
<p>反關本於有生之初，非病脈也，故曰不幹症候。其脈不行寸口，由列缺絡入臂後手陽明大腸之經。以其不順行於關，故曰反關。凡見關上無脈，須令病人復手以取方見。</p>
<p>經脈病脈，業已昭詳。將絕之形，更當度量，心絕之脈，如操帶鉤。轉豆躁疾，一日可憂。</p>
<p>經曰：脈來前曲後居，如操帶鉤，曰心死。前曲者，謂輕取則堅強而不柔。後居者，謂重取則牢實而不動。如持革帶之鉤，全失沖和之氣。但鉤無胃，故曰心死。轉豆者，即經所謂如循薏苡子累累然，狀其短實堅強，真臟脈也。又曰：心絕，一日死。</p>
<p>肝絕之脈，循刀責責。新張弓弦，死在八日。</p>
<p>經曰：真肝脈至，中外急如循刀刃。又曰：脈來急益勁，如新張弓弦，曰肝死。又曰：肝絕，八日死。</p>
<p>脾絕萑啄，又同屋漏。一似流水，還如杯復。</p>
<p>舊訣曰：雀啄連來四五啄，屋漏少刻一點落。若流水，若杯復，皆脾絕也。經曰：脾絕，四日死。</p>
<p>肺絕維何，如風吹毛。毛羽中膚，三日而號。</p>
<p>經曰：如風吹毛，曰肺死。又曰：真肺脈至，如以毛羽中人膚。皆狀其但毛而無胃氣也。又曰：肺絕，三日死。</p>
<p>腎絕如何，發如奪索。辟辟彈石，四日而作。</p>
<p>經曰，脈來如奪索，辟辟如彈石，曰腎死。又曰：腎絕，四日死。舊訣云：彈石硬來尋即散，搭指散亂如解索。正謂此也。</p>
<p>命脈將絕，魚翔蝦游。至如湧泉，莫可挽留。</p>
<p>舊訣云：魚翔似有又似無，蝦游靜中忽一躍。經云：渾渾革至如泉湧，綿綿其去如弦絕。皆死脈也。</p>

<h1>卷三</h1>

<h2>汪昂訂十二經脈歌</h2>
<p>繡按：十二經絡，皆為人身通氣活血之具。其脈周流岐別，不可不為辨論，以究病情之起端，邪氣之勝復，氣血之盈虧，則臨症索病，自有其樞，而不為其所惑矣，此經絡歌義之不容忽也。玩書有言，直行為經，旁行為絡。一似經絡之義，業已盡是。詎知人身經絡，其理推究靡窮，有可分論而見其端者，有可合論而得其意者。其分論而見，蓋以經起中焦，常隨營氣下行而上。絡起下焦，恆附營氣上行而下。經起中焦，則經氣之上升，實有過於其絡。絡起下焦，則絡氣之下降，實有越於其經。故經多以氣主，而絡多以血主也。經主於氣，故凡外邪之入，多於經受，而絡常處於後；絡主於血，故凡經邪之滿，轉溢於絡，而絡始得以受。是以經常處實，絡常處虛。絡得由經而實，而絡亦不得以虛名也。經因受邪最早，故症多以寒見，而脈亦寸浮而緊；絡因受邪稍緩，故症多因熱成，而脈常見尺數而澀。經則隨行上下，邪本易受，而開發最易；絡則邪伏隱僻，邪即難入，而升散維艱。即經有言絡處經外，邪入先自絡始；然既由絡入經，而經流連不散，則邪又溢於絡，而見纏綿不已，故經與絡又各自病。是其各別之勢，有不相混如此。以經絡通同而論，則經與絡，雖各本於臟氣之受，然究不越人身大氣以為鼓運，故能流行不悖。設非大氣磅礴，則彼盛此衰，生氣有阻，其何以為長養元氣之自乎。此其會通之妙，又有不容或忽如此。是以初病多責於經，久病多責於絡。久病而再流連不解，則又多責於經之奇。以故仲景著為傷寒論法，多以經傳立解。孫思邈著為千金等書，多以絡病久病立說。即今姑蘇葉天士，祖孫思邈，作為臨症指南集，亦以久病活絡為要，皆與經絡不悖。第其經穴眾多，其中錯綜分行，自非纂誦，難以記憶。因閱汪昂本草備要所訂古本歌訣，頗有便世，用是附載以為採擇，非惟初學得此，可以誦習；即老醫得此，亦可以為臨症之一助也。</p>
<p><u>手太陰肺經</u>　手太陰肺（脈）中焦起，下絡大腸（肺與大腸相表裡）胃口行（胃之上脘即賁門）。上膈屬肺從肺系（即喉管），橫從腋下臑內縈（膊下對腋處名臑，音柔）。前於心與心包脈（行少陰心主之前），下肘循臂骨上廉（臑盡處為肘，肘以下為臂），遂入寸口上魚際（關前動脈為寸口，大指後肉隆起處名為魚，魚際，其間穴名），大指內側爪甲根（少商穴止），支絡還從腕後出（臂骨盡處為腕），接次指交陽明經（大腸）。此經多氣而少血，是動則為喘滿咳（肺主氣）。膨膨肺脹缺盆痛（肩下橫骨陷中名缺盆，陽明胃經穴），兩手交瞀（音茂）為臂厥。肺所生病咳上氣，喘渴（金不生水）煩心（心脈上肺）胸滿結（脈布胸中）。臑臂之內前廉痛，為厥或為掌中熱（脈行少陰心主之前，掌心勞宮穴，屬心包）。肩背痛是氣（盛）有餘（絡脈交於手，上肩背），小便數（而）欠（便頻而短）或汗出（肺主皮毛）。氣虛亦痛（肩背寒痛）溺色變（母病及子），少氣不足以報息（肺虛）。</p>
<p><u>手陽明大腸經</u>　手陽明經大腸脈，次指內側起商陽（本經穴名）。循指上廉出合谷（俗名虎口穴），兩骨（兩指岐骨間）兩筋中間行（手背外側，兩筋陷中，陽谿穴）。循臂入肘（外廉）行臑外（廉），肩腢（音隅，肩端兩骨）前廉柱骨旁（上出膀胱經之天柱骨，會於督脈之大椎）。會此（六陽經皆會於大椎。故經文云上出於柱骨之會上）下入缺盆內（肩下橫骨陷中），絡肺下膈屬大腸（相為表裡）。支從缺盆上入頸，斜貫兩頰下齒當。挾口人中（鼻下溝洫）交左右，上挾鼻孔盡迎香（本經穴終，交足陽明）。此經血盛氣亦盛，是動齒痛頸亦腫。是主津液病所生（大腸主津），目黃（大腸內熱）口乾（無津）鼽衄動（鼽，音求，鼻水。衄，鼻血），喉痹（金燥）痛在肩前臑，大指次指痛不用（不隨人用，皆經脈所過）。</p>
<p><u>足陽明胃經</u>　足陽明胃（脈）鼻頞起（山根），下循鼻外入上齒。環唇挾口交承漿（下唇陷中），頤後大迎頰車裡（腮下為頷，頷下為頤，耳下為頰車。大迎，頷下穴名）。耳前髮際至額顱，支循喉嚨缺盆入。下膈屬胃絡脾宮（相為表裡），直者下乳挾臍中。支（者）起胃口循腹裡，下行直合氣街逢（即氣衝）。遂由髀關（抵伏兔）下膝臏（挾膝兩筋為臏，一曰膝蓋）循脛（外廉下）足跗（足面）中指通。支從中指入大指，厲兌之厲經盡矣（交足太陰）。此經多氣復多血，振寒呻欠（呻吟呵欠）而顏黑。病至惡見火與人（血氣盛而熱甚），忌聞木聲心惕惕（陽明土惡木也）。閉戶塞牖欲獨處，甚則登高（而歌）棄衣（而）走。賁（奔）響腹脹（脈循腹裡，水火相激而作聲）為骭厥（足脛為骭），狂瘧溫淫及汗出（陽明法多汗），鼽衄口喎並唇胗（音軫，唇瘍。脈挾口環唇），頸腫喉痹（循頤循喉）腹水腫（土不制水）。膺乳（膺窗、乳中、乳根，皆本經乳間穴）膝臏股伏兔（膝上六寸肉起處），骭外足跗上皆痛。氣盛熱在身以前（陽明行身之前），有餘消穀（善飢）溺黃甚。不足身以前皆寒，胃中寒而腹脹壅。</p>
<p><u>足太陰脾經</u>　太陰脾（脈）起足大指，循指內側白肉際。過核骨後（孤拐骨。張景岳曰：非也，即大指後圓骨）內踝前（脛旁曰踝），上腨（音善，足肚也。一作踹，音短，足跟也。然經中二字通用）循脛膝股里。股內兼廉入腹中，屬脾絡胃（相為表裡）上膈通。挾咽連舌（本，舌根也）散舌下，支者從胃（上膈）注心宮。此經血少而氣旺，是動即病舌本強（上聲）。食則嘔出胃脘痛，心中善噫（即噯）而腹脹。得後與氣（大便噯氣）快然衰（病衰），脾病身重（脾主肌肉）不能（動）搖。瘕泄（瘕積泄瀉）水閉及黃疸（脾濕），煩心心痛（即胃脘痛）食難消（食不下）。強立股膝內多腫（脾主四肢），不能臥因胃不和。</p>
<p><u>手少陰心經</u>　手少陰心（脈）起心經，下膈直絡小腸承（相為表裡）。支者挾咽系目系，直者（從）心系上肺騰。下腋循臑後廉出，太陰（脈）心主（心包）之後行。（行二脈之後）。下肘循臂（內後廉）抵掌後，銳骨之端（掌後尖骨）小指停（少衝穴，交手太陽）。此經少血而多氣，是動咽乾（少陰火，脈挾咽）心痛應。目黃脅痛（系目出脅）渴欲飲，臂臑內（後廉）痛掌熱蒸。</p>
<p><u>手太陽小腸經</u>　手太陽經小腸脈，小指之端起少澤（本經穴）。循手（外側）上腕（臂骨盡處為腕）出踝中（掌側腕下銳骨為踝），上臂骨（下廉）出肘內側。兩筋之間臑（外）後廉，出肩解（脊旁為膂，膂上兩角為肩解）而繞肩胛（肩下成片骨）。交肩之上入缺盆（肩下橫骨陷中），直絡心中循嗌咽。下膈抵胃屬小腸（小腸與心為表裡）。支從缺盆上頸頰，至目銳眥入耳中（至本經聽宮穴）。支者別頰復上䪼（音拙，目下），抵鼻至於目內眥（內角），絡顴交足太陽接。嗌痛頷腫（循咽循頸）頭難回（不可以顧），肩似拔兮臑似折（出肩循臑），耳聾目黃腫頰間（入耳至眥上頰）。是所生病為主液（小腸主液），頸領肩臑肘臂（外廉）痛。此經少氣而多血。</p>
<p><u>足太陽膀胱經</u>　足太陽經膀胱脈，目內眥上額交巔。支者從巔入耳（上）角，直者從巔絡腦間。還出下項循肩膊（肩後之下為膊），挾脊（去脊各一寸五分，行十二俞等穴）抵腰循膂旋（脊旁為膂）。絡胃正屬膀胱腑（相為表裡），一支貫臀入膕傳（從腰中下挾脊，行上中次下髎等穴，入膕委中穴，膝後曲處為膕）。一支從膊別貫胛（膂肉為胛），挾脊（去脊各三寸行附分魄戶膏肓等穴）循髀（髀樞，股外為髀）合膕行（與前入膕者合）。貫腨（足肚）出踝（脛旁曰踝）循京骨（本經穴，足外側赤白肉際），小指外側至陰（穴）全（交足少陰）。此經少氣而多血，頭痛脊痛腰如折。目似脫兮項似拔，膕如結兮腨如裂。痔（脈入肛）瘧（太陽瘧）狂癲疾並生（癲狂篇亦有刺太陽經者），鼽衄（太陽經氣不能循經下行，上衝於腦而為鼽衄）目黃而淚出。囟項背腰尻膕腨（尻，苦高切）病若動時皆痛徹。（以上病皆經脈所過。）</p>
<p><u>足少陰腎經</u>　足腎經脈屬少陰，斜從小指趨足心（湧泉穴）。出於然骨（一作谷，足內踝骨陷中）循內踝，入跟（足後跟）上腨膕內（廉）尋。上股（內）後廉直貫脊（會於督脈長強穴），屬腎下絡膀胱深（相為表裡）。直者從腎貫肝膈，入肺挾舌（本）循喉嚨。支者從肺絡心上，注於胸（膻中）交手厥陰（心包經）。此經多氣而少血，是動病飢不欲食（腹內飢而不嗜食），咳唾有血（脈入肺故咳。腎主唾，腎損故見血）喝喝喘（腎氣上奔），目䀮（瞳子屬腎）心懸（脈絡心，水不制火）坐起輒（坐而欲起，陰虛不寧），善恐（心惕惕）如人將捕之（腎志恐），咽腫舌乾兼口熱（少陰火），上氣（腎水溢而為腫）心痛或心煩（脈絡心），黃疸（腎水乘脾，或為女勞疸）腸澼（腎移熱於脾胃大腸，或痢或便血）及痿（骨痿）厥（下不足則上厥），脊股後廉之內痛，嗜臥（少陰病，但欲寐）足下熱痛切。</p>
<p><u>手厥陰心包經</u>　手厥陰經心主標，心包下膈絡三焦（心包與三焦為表裡）。起自胸中（膻中）支（者）出脅，下腋三寸循臑（內）迢。太陰（肺）少陰（心）中間走，入肘下臂兩筋超（掌後兩筋橫紋陷中），行掌心（勞宮穴）從中指出（中衝穴），支從小指次指交（小指內之次指，交三焦經）。是經少氣原多血，是動則病手心熱（肘臂攣急，腋下腫，甚則支滿在胸脅；心中憺憺時大動，面赤目黃笑不歇）、是主脈所生病者（心主脈），掌熱心煩心痛掣（皆經脈所過）。</p>
<p><u>手少陽三焦經</u>　手少陽經三焦脈，起手小指次指間（無名指關衝穴）。循腕（表手背）出臂（外）之兩骨（天井穴），貫肘循臑外上肩。交出足少陽（膽）之後，入缺盆布膻中傳（兩乳中間）。散絡心包而下膈，循屬三焦表裡聯（三焦與心包為表裡），支從膻中缺盆出，上項出耳上角巔。以屈下頰而至䪼，支從耳後入耳（中）緣。出走耳前（過膽經客主人穴）交兩頰，至目銳眥（外角）膽經連（交足少陽）。是經少血還多氣，耳聾嗌腫及喉痹（少陽相火）。氣所生病（氣分三焦心包皆主相火）汗出多（火蒸為汗），頰腫痛及目銳眥，耳後肩臑肘臂外，皆痛廢及小次指（小指次指不用）。</p>
<p><u>足少陽膽經</u>　足少陽脈膽之經，起於兩目銳眥邊。上抵頭角下耳後，循頸行手少陽前（三焦）。至肩卻出少陽後，入缺盆中支者分。耳後入耳（中）耳前走，支別銳眥下大迎（胃經穴，在頷前一寸三分動脈陷中）。合手少陽抵於䪼（目下），下加頰車下頸連。復合缺盆下胸（貫）膈，絡肝屬膽表裡縈（相為表裡）。循脅裡向氣街出（挾臍四寸動脈），繞毛際入髀厭橫（橫入髀厭，即髀樞），直者從缺盆下腋，循胸季脅過章門（脅骨下為季脅，即肝經章門穴）。下合髀厭（即髀樞）髀陽外（循髀外行太陽陽明之間），出膝外廉外輔（骨，即膝下兩旁高骨）緣。下抵絕骨出外踝（外踝以上為絕骨，少陽行身側，故每言外），循跗（足面）入小次指間。支者別跗入大指，循指岐骨出其端（足大指本節後為岐骨交肝經）。此經多氣而少血，是動口苦（膽汁上溢）善太息（木氣不舒）。心脅疼痛轉側難，足熱（足外反熱）面塵體無澤（木鬱不能生榮）。頭痛頷痛銳眥痛，缺盆腫痛亦腫脅。馬刀俠癭頸腋生（少陽瘡瘍堅而不潰），汗出（少陽相火）振寒多瘧疾（少陽居半表半裡，故瘧發寒熱，多屬少陽）。胸脅髀膝（外）脛絕骨，外踝皆痛及諸節（皆經脈所過）。</p>
<p><u>足厥陰肝經</u>　足厥陰肝脈所終，大指之端毛際叢（起大敦穴）。循足跗上（廉）上內踝（中封穴），出太陰後（脾脈之後）入膕中（內廉）。循股（陰）入毛（中）繞陰器，上抵小腹挾胃通。屬肝絡膽（相為表裡）上貫膈，布於脅肋循喉嚨（之後）。上入頏顙（咽顙，本篇後又云絡舌本）連目系，出額會督頂巔逢（與督脈會於巔百會穴）。支者復從目系出，下行頰裡交環唇。支者從肝別貫膈，上注於肺乃交宮（交於肺經）。是經血多而氣少，腰痛俯仰難為工（不可俯仰）。婦少腹痛男㿉疝（脈抵小腹環陰器），嗌乾（脈絡喉嚨）脫色面塵蒙（木鬱）。胸滿嘔逆及飧泄（木剋土），狐疝遺尿（肝虛）或閉癃（肝火）。</p>

<h2>汪昂奇經脈歌</h2>
<p>繡按：奇經八脈，前人論之詳矣。考諸時珍有言，八脈陽維起於諸陽之會，由外踝而上行於衛分；陰維起於諸陰之交，由內踝而上行於營分；所以為一身之綱維也。陽蹻起於跟中，由外踝上行於身之左右：陰蹻起於跟中，循內踝上行於身之左右；所以使機關之蹻捷也。督脈起於會陰，循背而行於身之後，為陽脈之總督，故曰陽脈之海；任脈起於會陰，循腹而行於身之前，為陰脈之承任，故曰陰脈之海。衝脈起於會陰，夾臍而行，直衝於上，為諸脈之衝要，故曰十二經之海。帶脈則橫圍於腰，狀如束帶，所以總約諸脈者也。是故陽維主一身之表，陰維主一身之裡，以乾坤言也，陽蹻主一身左右之陽，陰蹻主一身左右之陰，以東西言也。督主身後之陽，任沖主身前之陰，以南北言也。帶脈橫束諸脈，以六合言也。又考張潔古有云：蹻者，捷疾也。二脈起於足，使人蹻捷也。陽蹻在肌肉之上，陽脈所行，通貫六腑，主持諸表，故名為陽蹻之絡。陰蹻在肌肉之下，陰脈所行，貫通五臟，主持諸里，故名為陰蹻之絡。觀諸所論八脈，雖在十二經絡之外，因別其名為奇，然亦可為正經正絡之輔。蓋正經猶於地道之溝渠，奇經猶於溝渠外之湖澤。正經之溝渠不涸，則奇經之湖澤不致甚竭；正經之溝水既滿，則奇經之湖澤必溉。所以昔人有云：臟氣安和，經脈調暢，八脈之形無從而見，即經絡受邪不致滿溢，與奇經無預。若經絡之邪熱既滿，勢必溢於奇經。如天雨降下，溝渠滿溢，滂霈妄行，流於湖澤之意，正自相符。且諸經皆為臟腑所配，此則自為起止，不與正經之例相同，故奇經又為十二經之約束。是以傷寒之邪，有從陽維而始傳次三陽，有從陰維而始傳次三陰。並臟氣內結，邪氣外溢，竟從奇經先受。然此由邪入內，而不於奇是留，非若十二經熱滿之必見有溢奇之日也。時珍云：醫而知乎八脈，則十二經十五絡之大旨得；仙而知乎八脈；則龍虎升降玄牝幽微之竅妙得。又曰：醫不知此，罔探病機；仙不知此，難安爐鼎。旨哉斯言，錄此以為醫之一助。</p>
<p>任脈起於中極底（臍下四寸，穴名中極。任脈起於其下二陰之交會陰之穴。任由會陰而行腹，督由會陰而行背），以上毛際循腹裡（行中極穴），上於關元（臍下三寸穴名）至咽喉，上頤循面入目是（絡於承泣）。沖（脈）起氣街並少陰（腎脈），挾臍上行胸中至（任脈當臍中而上，衝脈挾臍旁而上。以上並出素問骨空論）。沖為五臟六腑海（沖為血海），五臟六腑所稟氣。上滲諸陽（經）灌諸精（上出頏顙），從下衝上取茲義（故名沖）。亦有並腎下行者，注少陰絡氣街出。陰股內廉入膕中（膝後曲處），伏行䯒骨內踝際。下滲三陰（肝脾腎）灌諸絡，以溫肌肉至跗指（循足面下湧泉入足大指。此段出靈樞逆順肥瘦篇）。督（脈）起少腹骨中央，入系廷孔（女人陰廷溺孔之端，即窈漏穴）絡陰器。合篡（二陰之交名篡）至後別繞臀，與臣陽絡（太陽中絡）少陰比（與膀胱、腎二脈相合）。上股（內後廉）貫脊屬腎行，上同太陽起（目）內眥。上額交巔絡腦間，下項循肩（膊內）仍挾脊。抵腰絡腎（此督脈並太陽而行者）循男莖（男子陰莖），下篡亦與女子類。又從少腹貫臍中（央），貫心入喉頤及唇（環唇）。上系目下中央際，此為並任（此督脈並任脈而行者）亦同沖（脈）。大抵三脈同一本（衝任督三脈皆起於會陰之下，一原而三岐，異名而同體），靈素言之每錯綜（靈樞五音五味篇：衝脈、任脈，皆起於胸中，上循背裡。是又言衝任行背。故經亦有謂衝脈為督脈者。古圖經有以任脈循背者謂之督。自少腹直上者謂之任，亦謂之督。今人大率以行身背者為督，行身前者為任，從中起者為沖。然考任督二經所行穴道，一在身前，一在身後；而衝脈居中，則無穴道。似當以此說為正）。督病少腹（上）衝心痛，不得前後（二便不通）沖疝攻（此督脈為病同於衝脈者）。其在女子為不孕（沖為血海，任主胞絡），嗌乾（脈循咽喉）遺尿及痔癃（絡陰器，合篡間。此督脈為病同於衝任者）。任病男疝（內結七疝）女瘕帶（帶下瘕聚即婦人之疝），沖病裡急氣逆沖（血不足故急，氣有餘故逆。此段出素問骨空論。督者，督領諸經之脈也。沖者，其氣上衝也。任者，女子得之以任養也）。蹻（陰蹻脈）乃少陰（腎）之別脈，起然骨後（足內踝大骨之下，照海穴）至內踝。直上陰股入陰間，上循胸入缺盆過。出人迎前（胃經，頸旁動脈）入頄（顴）眥（目內眥，睛明穴），合於太陽陽蹻和（陽蹻脈始於膀胱經之申脈穴，足外踝下陷中。此段出靈樞脈度篇），此皆靈素說奇經，帶及二維未說破。</p>

<h2>新增脈要簡易便知</h2>
<p><u>浮</u>　如水漂木。主表實，亦主裡實虛。</p>
<p><u>沉</u>　重按乃得（在筋骨間。）主裡實，亦主裡虛。</p>
<p><u>數</u>　一息六至。主實熱，亦主虛寒。</p>
<p><u>遲</u>　一息三至。主虛寒，亦主實熱。</p>
<p><u>長</u>　指下迢迢。（上至魚際，下至尺澤。）主氣治，亦主陽盛陰虛。</p>
<p><u>短</u>　兩頭縮縮。（寸不通魚際，尺不通尺澤。）主氣損，亦主中窒。</p>
<p><u>大</u>　應指滿溢。（長而無力。）主邪盛，亦主正虛。</p>
<p><u>小</u>　三部皆小。（指下顯然。）主氣虛，亦主內實。</p>
<p><u>洪</u>　來盛去悠。（既大且數。）主熱極，亦主內虛。</p>
<p><u>微</u>　按之模糊。（若有若無，浮中沉皆是。）主陰陽氣絕，亦主邪實。</p>
<p><u>實</u>　舉指逼逼。（舉按皆強。）主熱實，亦主寒實。</p>
<p><u>虛</u>　豁然浮大。（浮見。）主氣血空虛。</p>
<p><u>緊</u>　勁急彈手。（彈如轉索。）主寒閉，亦主表虛。</p>
<p><u>緩</u>　來去和緩。主無病，亦主實熱虛寒。</p>
<p><u>濡</u>　如絮浮水。（浮見。）主氣衰，亦主外濕。</p>
<p><u>弱</u>　小弱分明。（沉見。）主氣虛，亦分陰陽胃氣。</p>
<p><u>芤</u>　按之減小。（浮沉皆有，中取減小。）主血虛。</p>
<p><u>弦</u>　端直而長。（浮沉皆見。）主木盛土衰，亦看兼脈。</p>
<p><u>滑</u>　往來流利。（數見。）主痰飲，亦主氣虛不統。</p>
<p><u>澀</u>　往來艱澀。（遲見。）主血虛，亦主寒濕熱閉。</p>
<p><u>動</u>　兩關滑數如珠。主陰陽相搏。</p>
<p><u>伏</u>　著骨始得。（較沉更甚。）主邪閉，亦分痰火寒氣。</p>
<p><u>促</u>　數時一止。主陽邪內陷。</p>
<p><u>結</u>　遲時一止。主氣血漸衰，亦主邪結。</p>
<p><u>革</u>　浮取強直，按之中空。主精血虛損。</p>
<p><u>牢</u>　沉取強直搏指。（沉伏之間。）主寒實。</p>
<p><u>疾</u>　一息七八至。主陽亢，亦主陽浮。</p>
<p><u>細</u>　細如蛛絲。主氣虛，亦主熱結裡虛。</p>
<p><u>代</u>　止歇有時。主氣絕，亦主經隧有阻。</p>
<p><u>散</u>　來去不明。主氣散。</p>
<p><u>督</u>　輕取弦長而浮。（六脈皆見。）主風傷身後總攝之陽，故脊強不能俯仰。</p>
<p><u>沖</u>　按之弦長堅實。（六脈皆是。）主寒傷身前衝要之陰，故氣逆裡急。</p>
<p><u>任</u>　緊細而長。（六脈形如豆粒。）主寒傷身前承任之陰，故少腹切痛。</p>
<p><u>陽維</u>　右尺內斜至寸而浮。主邪傷一身之表，故寒熱不能自持。</p>
<p><u>陰維</u>　左尺外斜至寸而沉。主邪傷一身之裡，故心痛失志。</p>
<p><u>陽蹻</u>　兩寸左右彈浮緊細。主邪傷左右之陽，故腰背苦痛。</p>
<p><u>陰蹻</u>　兩尺左右彈沉緊細。主邪傷左右之陰，故少腹切痛。</p>
<p><u>帶脈</u>　兩關左右彈滑而緊。主邪傷中腰帶束之處，故腰腹痛。</p>
<p><u>有力</u>　久按根底不絕。（非堅勁搏指。）主病無害，亦防氣逆。</p>
<p><u>有神</u>　光澤潤滑。（穩厚肉裡，不離中部。）主病治，亦防痰蓄。</p>
<p><u>胃氣</u>　脈緩和勻。（意思悠悠。）主病愈，亦忌穀食減少，寸口脈平。</p>
