<header data-type="book">
<h1>古今醫案按選</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="王士雄">王士雄</data>選</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1853">公元1853年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521064">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>乾隆間，錢塘魏柳洲先生重校《名醫類案》之後，復選《續類案》六十卷，脫稿未久，先生尋逝。幸已邀錄四庫館書，不致散佚。定州楊素園大尹，意欲付梓，嘗囑余校訂，奈四方多故，余亦疏陋無以應，是以未果。今年春，秀水呂君慎庵，以其侄倩鮑君蕙谷所藏之俞氏《古今醫案按》寄示，余展讀數四，雖不如《續案》之網羅繁富，而所附近案暨按語頗可補魏氏之未逮，爰不揆譾佇，選其尤善者，參以一管之窺，用俟大方之教。</p>
<p><u>咸豐三年癸丑長至日安化後人王士雄書於潛齋</u></p>
<p>乙卯夏，楊侯自京來，曾將此稿評點，攜至南昌，欲授剞劂，詎江右頻年擾攘，迄今未靖，賴徐君亞枝繕存副本，而各案僅摘其由。茲將鳩刻公世，胡君次瑤謂宜詳載原案，俾覽者瞭然。復向蕙谷謀之，云原書已佚，余甚彷徨。呂君慎庵，訪得嘉善吳君云峰家亦有藏本，遂蒙慨假補錄，因筆之以志諸君子玉成之功。</p>
<p><u>丁巳臘八日士雄又書於渟溪歸硯草堂</u></p>

<h1>原序</h1>
<p>孟子言：梓匠輪輿能與人規矩，不能使人巧，巧者何？變通之謂也。巧固不能使人，其實不出規矩，人可即規矩以求巧，而巧自無方，是亦不啻使之矣。醫之道，將毋同，自古迄今，醫書多不勝紀，一病必列一門，一門必立數法。究之法有盡，病無盡。一病之變無盡，或萃數病於一人之身，其變更無盡。醫之法，於是乎幾窮。蓋以法也者，不過梓匠輪輿之規矩，病不依規矩以為患，醫第循規矩以為治，常者生焉，變者死焉。轉恨醫之法未備也，不知法豈能備，要在乎用法者之巧耳！聞之名醫能審一病之變與數病之變，而曲折以赴之，操縱於規矩之中，神明於規矩之外，靡不隨手而應，始信法有盡，而用法者之巧無盡也。成案甚夥，醫之法在，是法之巧亦在，是儘可揣摩。惜《名醫類案》醇疵互收，一為去取而巧者愈見，此余所以有古今醫案之選也。惟是彼之所謂巧者，自今視之，猶規矩也。倘執巧以為巧，而不更加變通，則巧反成拙矣。故余於每條之下，妄據鄙見以按之，辨其真偽，別其是非，晰其同中之異，表其青出於藍，或綜數事為數語，以隱括其大略，或纂述舊說新說以補諸案之未逮，隨選隨錄，隨錄隨按，不憚煩詞。竊附舉隅之意，第恐載籍極博，見聞有限，譬諸審曲面勢者，能免斫而小之之譏乎？然欲求巧於規矩，敢不擇材以削鋸。爰自甲午冬月為捉筆之始，至戊戌春月乃得蕆事，時年已七十，閱歷既多，或片詞之可取，因付剞劂，質諸同志。</p>
<p><u>乾隆四十三年戊戌春三月嘉善俞震</u></p>
<p>鑑幼習於觀巷田氏，田丈杏村中翰晉蕃以名孝廉，精岐黃術。嘗謂近世醫家，推王孟英先生為祭酒。以時多熱證，而先生善用涼藥也。光緒辛丑，友人薛朗軒明經炳，假館省垣陳氏，臨行田丈囑求先生遺書，薛訪得先生嗣子耕雨者杭州府諸生，年六十餘，往還數四，知先生手校諸書，半多散佚，惟《醫案按選評》稿成未刻，而先生卒於上海，耕翁什襲藏之，從不示人，以薛君為人懇誠，因出與過錄。原書間有蟲蝕脫黏之處，薛君細心校定，另繕清本。予往杭，薛君為道其事，余請任剞劂焉。復請田丈批閱，丈以老病侵尋，遂不果。癸卯夏丈亦作古，以書還薛君，僅有手校夾簽一條，今亦附註其下。茲當校刻工峻，爰將得書緣起，贅諸簡端，而附錄薛君寫定凡例於下云。</p>
<p>一、此為先生癸丑年初稿，由徐亞之先生寫定，而楊素園先生加以評點者也。丁巳將付剞劂，復從友人之請，補錄原案，凡一萬四五千字，更作後序一篇，則當時又有重定本，遷延未刻，稿亦無存，幸得初稿兩冊及丁巳序文紙稿，得以想見此中曲折而已。</p>
<p>一、凡另紙黏附者，皆經先生於癸丑後陸續手補，以氣衝門末條有「乙卯補註」四字推之可見。今亦依次寫入。</p>
<p>一、原本分上下兩卷，嗣以頁數頗多，改分四卷，其墨筆添注塗改之處，顯然具在，今從其後定者而已。</p>
<p>一、原本眉批及旁批，均用硃筆，蓋即楊素園先生評語以傷寒門譫語條，徐君亞之語證之可見。凡遇有硃批處，輒於正文絕句之間，加一墨筆鉤識，殆欲於謄真時，將評語分行注入耳。今從其意，並加「楊曰」二字，以為識別。</p>
<p><u>光緒三十年歲次甲辰季冬之月會稽董金鑑識</u></p>

<h1>卷一</h1>

<h2>中風</h2>
<p>許允中治柳太后案。（雄按：所列各案已見江篁南《名醫類案》者，概不重錄，以下仿此。）</p>
<p>俞按：書稱允中醫術若神。曾曰：醫者意也，在人思慮。即此條思慮巧矣。然僅可治真中風。《內經》所謂：其有邪者，漬形以為汗也。邪從汗解故得語，若概試諸不能言者，決無效。如羅謙甫治史太尉案，乃風中陽明經之表證也。又治趙僧判案，乃中腑兼中臟之裡證也。皆風邪實證也。又治張安撫案，（雄按：三案俱見江選。）乃中經兼中腑，本虛標實之證也。許氏所治，亦系本虛標實者，但病起於暴，故用蒸法，亦如通關散之取嚏，稀涎散之探痰也。</p>
<p>丹溪治浦江鄭君，年近六旬，奉養高粱。仲夏久患滯下，又犯房勞。一夕如廁，忽然昏僕，撒手遺溺，目上視，汗大出，喉如曳鋸，呼吸甚微，其脈大而無倫次部位，（楊曰：將脫之象。）可畏之甚。此陰虛陽暴絕也。急令煎人參膏，且與灸氣海穴，艾壯如小指，至十八壯，右手能動，又三壯，唇微動。參膏成，與一盞，至半夜後，盡三盞，眼能動。盡二斤，方能言而索粥。盡五斤而利止，十數斤全安。</p>
<p>俞按：此種病，今常有之，醫所用參不過一二錢，至一二兩而止，亦並不知有灸法。無效則諉之天命，豈能於數日間用參至十餘斤者乎？然十餘斤之參，辦之亦難矣。惟能辦者，不可不知有此法。</p>
<p>田杏村按：因饜高粱而成滯下，因久患滯下遂致剝傷陰分。經言：陰在內，陽之守也。故一犯房勞，陽即欲脫。案中「陰虛陽暴絕」五字的中病根，故急以灸法回陽，但陽回之後，不有以彌補其陰，終在險途。《神農本草經》：人參味甘微寒，補五臟。經言：臟為陰，腑為陽。氣味甘寒而補臟，其為補陰之品無疑。因久患滯下而剝傷陰分，故非十餘斤之參，不能復其陰。</p>
<p>俞按：尚是囫圇吞棗。</p>
<p>趙以德治陳敬初學士，因醮事跪拜間就倒僕，汗如雨。診之，脈空大而虛。年當五十，新娶少婦，今又從跪拜之勞役，故陽氣暴散，正與丹溪治鄭義士之病同。急煎獨參濃湯，連飲半日，汗止，神氣稍定，手足俱縱，瘖而無聲。遂於獨參湯中加竹瀝，開上湧之痰。次早，悲哭不已，以言慰之遂笑，至五七日無已時。此哭笑者，為陰虛而勞火動其精神，魂魄之藏氣相併故耳。正《內經》所謂五精相併者，心火併於肺則喜，肺火併於肝則悲是也。加連、柏之屬瀉其火；更增荊瀝開其閉。八日笑止手動，一月能步矣。</p>
<p>俞按：此條與前條大同小異，而所以治其小異處，立言用藥，綽有精義。可見古人善能模仿成法，又不蹈襲成法也。</p>
<p>楊曰：前證遺溺上視，已現絕象，脈又几几欲脫，較此條證為重，非灸法則不及救。此條證稍輕，故不必灸。</p>
<p>雄按：脈既空大而虛，證復汗出如雨，雖無新娶少婦之事，亦當急固陽氣，是中風門脫證治法。設遇閉證，雖有新娶少婦之事，不可捕風捉影，輒投補劑。（楊曰：至言，須切記。）徐悔堂《聽雨軒雜紀》云：蔡輔宜中暑，一名醫見其室有少妾，遂以為脫證，云：非獨參湯不能救。家人不敢服，復邀鄰醫診之。曰：暑閉耳。進益元散而愈。故醫者須有定見，而察脈證以施治療，不可胸懷成見而妄為揣度也。然病家畏虛喜補，不識病情，醫者避濕推干，但迎人意，不分閉脫，溫補妄施，重者輒亡，輕者成錮，是乃仁術，可如是夫？觸目傷懷，言之可慨。</p>
<p>丹溪治一婦人，年六十餘，手足左癱，不言而健，有痰案。</p>
<p>俞按：前條脫證，脈大無倫，此條閉證，脈伏而微，非有確見，敢用此兩路重藥乎？須知脈與證宜合參。（楊曰：要訣。）如此條左癱不言矣，而健又有痰，其得間在此，與浦江洪宅婦病瘧無脈條相似。</p>
<p>虞恆德治一婦，年五十七，身肥白，春初中風暴僕案。</p>
<p>俞按：此條與上丹溪案，俱以實邪治而效，可見辨證宜真，不得專守景岳非風之論，先有成見在胸也。如立齋善於用補，而治郭艾武一案，（見江選。）亦用吐下而愈，故臨斯證者，必須分別閉與脫二證，是下手第一要著。</p>
<p>雄按：粗工每執肥白之人陽氣必虛之說，不辨脈證，溫補亂投，真殺人不以刃也。</p>
<p>立齋治車駕王用之案。</p>
<p>俞按：此治中寒，寒痰壅塞氣道之藥。肥人脈沉伏，無火象者可用之。若脈微細者，必加人參，實非中風藥也。黃履素曰：三生飲，施於中風之寒證，妙矣。或有虛火沖逆，熱痰壅塞，以致昏憒顛仆者，狀類中風，烏、附非所宜服。立齋治王進士虛火妄動，挾痰而僕，急灌童溺，神思便爽。（案見江選。）予從弟履中，痰升遺溺，狀類中風，亦灌以童溲而蘇。（案見魏玉橫《續名醫類案》。）此等證候，皆火挾痰而作，斷非三生飲可投，並薑湯亦不相宜也。（雄按：不但三生飲不可服，雖當歸、枸杞之類，亦不宜用。余治顧聽泉一案可參。）同一卒然昏憒，而所因不同，須細審之。《太平廣記》載唐梁新見一朝士，診之曰：風疾已深，請速歸去。其朝士復見鄜州高醫趙鄂診之，言疾危，與梁說同，惟云只有一法，請啖消梨，不限多少，咀嚼不及，絞汁而飲。（楊曰：甘寒息風法。）到家旬日，依法治之而愈。此亦降火消痰之驗也。（雄按：《資生經》亦云：凡中風，由心腹中多大熱而作也。）</p>
<p>喻嘉言治楊季衡案。（見魏氏續選。）</p>
<p>俞按：偏枯，昔人謂左屬血虛，右屬氣虛。自得喻氏之論，其理始明，而隨時換藥，及刺四末，尤見巧妙。因思幼讀《內經·生氣通天論》曰：風者，百病之始也。清靜則肉腠閉拒，雖有大風苛毒，弗之能害。又云：風雨寒熱不得虛，邪不能獨傷人。又曰：虛邪之風，與其身形，兩虛相得，乃客其形。是確指虛人而後中於虛風也。然猶系因虛受風，故《靈樞》又有真氣去，邪氣獨留，發為偏枯之說。偏枯難療，二語盡之。再讀《通評虛實論》曰：凡治消癉、僕擊，（僕擊者，如人被擊而僕，即今之卒倒也。）偏枯痿厥，氣滿發逆，肥貴人則膏粱之疾也。此條暗包痰飲濕熱，陰虛陽虛諸候，並未嘗偏中於邪風矣。蓋肥貴人自然慎避邪風，而膏粱之變，風從內生。劉、李、朱三家從此悟入。大凡治病必求於本，僕擊偏枯，以虛為本也。後讀劉宗厚《玉機微義》暨王宇泰《靈蘭要覽》二書，益信塞外多真中，江南多類中。至繆仲淳立論，謂真陰虧而內熱甚者，煎熬津液，凝結為痰，壅塞氣道，不得通利，熱極生風，亦致卒然僵仆，類乎中風，此即內虛暗風。初用清熱順氣化痰，次用治本，或益陰，或補陽，其藥以二冬、二地、菊花、枸杞、胡麻、桑葉、首烏、柏仁、蒺藜、花粉、參、耆、歸、芍、鹿茸、虎骨膠、霞天膏、梨膏、竹瀝、荊瀝、人乳、童溺等出入互換，另出機杼。今《臨證指南》中風一門，大半宗此，又可補劉、李、朱、張所未備矣。</p>
<p>又按：中有十種，曰中氣、中食、中寒、中暑、中濕、中惡、中痧、中瘴，與痰中、虛中，散見諸書，當會萃而詳辨之。其異於中風者，雖卒倒昏憒，而無偏枯喎斜也。其治之異於中風者，惟虛中宜補，而余皆不宜補也。（雄按：此是名言。）只在臨證時，審其輕重淺深耳。至《名醫類案》有虛風一門，《臨證指南》有肝風一門，總不出繆氏「內虛暗風」四字。惟《指南》所載，泄木安胃，鎮陽息風，濁藥輕投，辛甘化風，種種妙義，直駕古人而上之，又洗繆氏之髓者矣。</p>
<p>雄按：王清任云：人之行坐動靜，全仗元氣，元氣藏於氣管之內，分布周身，左右各得其半。若元氣足則有力，元氣衰則無力，元氣絕則死矣。若十分元氣虧二分，剩八分，每半身仍有四分，則無病；若虧五分，剩五分，每半身只有二分半，此時雖未病半身不遂，已有氣虧之證，因不疼不癢，人自不覺。而元氣既虧，經絡自然空虛，有空虛之隙，難免其氣向一邊歸併。如右半身之二分半歸併於左，則右半無氣；左半身之二分半歸併於右，則左半無氣。無氣則不能動，不能動名曰半身不遂。不遂者，不遂人用也。此說甚創。然類中風內未嘗無此證，即景岳所謂非風是也。而類中風內，亦未嘗無實證。（楊曰：此條未經人道，足補昔賢之缺。）所謂實者，其人素稟陽盛，過啖肥甘，積熱釀痰，壅塞隧絡。治宜化痰清熱，流利機關，自始至終，忌投補滯。三十年來，如此治愈者，指不勝屈。故醫者不必拘於西北多真中，東南多類中，及真中屬實，類中屬虛等說，以橫於胸中，總須隨證辨其虛實，而施治法也。（楊曰：凡病皆宜如此體認，不獨中風為然。）</p>

<h2>傷風</h2>
<p>俞東扶曰：傷風是輕病，然有傷風不醒即成勞之說。今人犯此者甚多，總由陰分先虧也。昧者峻用發散，不知人愈虛，邪更易入也：或徑用滋補，不知邪未清，補之適以助長也。此中之權衡在於醫者，此際之調理在於本人耳。</p>

<h2>傷寒</h2>
<p>俞東扶曰：仲景《傷寒論》，猶儒書之《大學》、《中庸》也，文詞古奧，理法精深，自晉迄今，善用其書者，惟許學士一人而已。所存醫案數十條，皆有發明，可為後學楷模。至《名醫類案》，有內傷一門，所列病證，皆與傷寒無異，則其病之為傷寒、為內傷，惟在醫者之能辨耳，非另有一種情形也。東垣《內外傷辨》殊不足憑，諸案皆以脈為辨。大抵內傷之脈，皆虛大無力，或微數無力，其藥不外補中益氣湯，甘溫為主，有風寒加入表藥，有停滯加入消導，有火亦加一二味涼藥，無他奇巧。蓋外感風寒者傷其形，故曰傷寒；勞役過度，飲食失節者傷其氣，故曰內傷。此言受病之原也。及其為病，一般發熱頭疼，惡風惡寒，甚則痞悶譫妄，豈可就其述病原而作憑據。醫者見得真，乃能分晰之曰彼是傷寒，此是內傷。亦如傷寒一門，為虛為實，為熱為寒，頭緒紛紜，聽人審辨，焉能條分縷晰，而各立一門耶？</p>
<p>呂滄洲治一人，傷寒十餘日，身熱而人靜脈伏案。</p>
<p>又治一人，傷寒旬日，邪入於陽明案。</p>
<p>俞按：閱二案而知發斑、蓄血有脈伏之一候。然竊思斑未出而脈伏，理或有之；斑既透矣，何以必待化斑，脈始復耶？吳又可有脈厥之說，用承氣微下則脈出，與此用白虎彷彿。但發斑脈伏，勢亦可畏。上條妙在語言不亂，次條雖神昏如睡，由於誤服真武，故皆憑證以治之。</p>
<p>王宇泰治一人，傷寒七八日，服涼藥太過，遂變身涼，手足厥冷，通身黑斑，惟心頭尚溫，診其六脈沉細，昏沉不知人事，並不能言，狀如屍厥。遂用人參三白湯加熟附子半枚，乾薑二錢，服下一時許，斑色漸紅，手足漸暖而蘇。然黑斑有因餘熱不清者，又當以黃連解毒、竹葉石膏湯調之而愈。</p>
<p>楊曰：觀此可知白虎湯非正傷寒之方。蓋傷寒在表則宜麻桂，在裡則宜承氣，用之得宜，其病立已。若誤用白虎等涼藥，冰伏其邪，則變證蜂起矣。</p>
<p>龔雲林治一人，夏月因勞倦飲食不節，又傷冷飲得疾，醫以時證治之不愈。至十日苦身體沉重，四肢逆冷，自利清穀，引衣自蓋，氣難布息，懶言語，此脾受寒濕，中氣不足之病也。口乾但欲水不欲咽，早晨身涼而生粟，午時後煩躁不欲去衣，昏昏睡而面赤，隱隱紅斑見於皮膚，此表實裡虛，故內虛則外證隨時而變。遂用錢氏白朮散加升麻，合本方之乾葛、甘草以解其斑，少加白朮、茯苓以治其濕而利小便，人參、藿香、木香以安脾胃進飲食。兩服而斑退、身溫、利止。次服五味異功散、治中湯一二服，五日得平，此仿完顏小將軍暑月內傷發斑治法也。</p>
<p>云間懷抱奇治一婦，夏月飲火酒，煩熱面赤發斑，診其脈絕無。懷曰：此火鬱而熱極，用梔豉湯加葛根、厚朴、黃連清之，斑大出而脈遂見。（此與呂滄洲案相似。雄按：葛根用得最妙，解酒透斑，一舉兩得。厚朴尚可商。）又治一人，傷寒過經不解，遍體黑斑，唇口焦枯，脈大，便結，以三黃石膏湯飲之痊。（此可與王宇泰案合觀之。）又治一婦，熱入血室後發斑點，以小柴胡湯加生地獲愈。又治一人，身熱發斑，胃有停滯，脹悶不堪，用枳樸消導藥而斑出熱退。</p>
<p>俞按：閱抱奇數案，益信朱奉議所云：凡見斑不可專以斑治，須察脈之浮沉，病之虛實，而分別用藥。真至言也。</p>
<p>俞惺齋治葉念劬身熱發斑不透，群用提斑藥無效，俞見其吐涎不已，手足軟不能動，脈大無力，是內傷發斑，用補中益氣湯而愈。又治張素安室，身熱足冷，目腫便溏，發斑不透，脈沉細無力，乃陰證發斑，用真武湯加人參而愈。此效法海藏與《準繩》之治法也。雖然，舌不燥，神不昏，故可用溫補耳。若夏秋時行疫病，又多以大黃速下之而斑出者，蓋內邪之壅塞得通而斑出，（雄按：初治得法，邪不壅塞則不發斑。）與虛寒之得溫補以鼓舞而斑出，同一理也。（雄按：初治不誤，何致發斑？不必溫補鼓舞矣。楊曰：語語精當，而孟英注語尤精。）又生平見藍斑二人，一則脈細神昏，辭不治。其藍斑之大者如棋子，發爛而死。（雄按：此即玳瑁瘟也。）一女人藍斑色如翠羽，咯血齒衄，舌紅不幹，神不昏，猶可扶而登圊，用犀角地黃湯，間以大黃微下之，後竟愈。</p>
<p>呂滄洲治張息軒案。</p>
<p>俞按：此條以傷寒而變腸癰，雖不多見，亦不可不知。觀其所告之言，兩句出仲景《傷寒論》，兩句出高陽生《脈訣》，因思自明以前皆用此訣，何近賢之痛詆不堪耶！</p>
<p>又治一婦傷寒陰隔陽證案。</p>
<p>俞按：此為陰盛隔陽，亦曰下寒上熱。呂翁以寒藥裹熱藥，與熱藥冷服義同，其理精矣。然閱各家醫案，能識此證者亦不少。至如陰中伏陽，則惟有許學士用破陰丹一案，此與陰隔陽用參附者似是而非，從古無人論及，可不謂發仲景之未發哉！</p>
<p>陶尚文治一人，傷寒四五日，吐血不止案。</p>
<p>俞按：經文衄字，向來止作鼻衄解，不知吐血為內衄，仲景原不鑿定鼻衄也，故活書不可死看。但麻黃湯雖為太陽經正藥，苟非其時、非其經、非其人之質足以當之，鮮不為害，未可輕試也。（楊曰：凡藥與病相違，皆能為患，不獨麻黃為然。）懷抱奇云：一醫者素自負，秋月感寒，自以麻黃湯二劑飲之，目赤唇焦，裸體不顧，遂成壞證。一藥客感冒風寒，用麻黃五錢服之，吐血不止而死。此二證亦進黃連解毒、犀角地黃湯解救之，終不挽回，可不鑑哉！</p>
<p>楊曰：余見傷寒多矣。當邪在太陽時，用麻黃一啜即解，其效甚神。但從未有用至一錢外者，且不須與桂枝同用，若非其經、非其人，誠有如俞氏所云者。曾見一溫病誤服麻黃，兩頤暴腫，竟潰爛而死，可畏也。</p>
<p>懷抱奇治一人，積勞後感寒發熱，醫者好用古方，竟以麻黃湯進，目赤鼻衄，痰中帶血，繼以小柴胡湯，舌乾乏津。懷診之，脈虛數無力，乃勞倦而兼陰虛候也。（楊曰：傷寒無虛數無力之脈。）設投熱藥，能不動血而竭其液耶？連進地黃湯三劑，血止，神尚未清，用生脈散加當歸、棗仁、茯神、遠志，神雖安，舌仍不生津。乃曰：腎主五液，而肺為生化之源，滋陰益氣，兩不見效，何也？細思之，因悟麻黃性不內守，服之而竟無汗，徒傷其陰，口鼻雖見血，藥性終未發泄，故津液不行，仍以生脈散加葛根、陳皮引之，遂得微汗，舌果津生，後以歸脾湯、六味丸而痊。</p>
<p>雄按：蕭建廷秋月患感於歸安，醫進麻黃湯，汗透衣衾，奄奄一息。改用參、耆、朮、附等藥，汗雖止而舌燥無津，神昏沉寐。所親顧味吾亟買棹送歸，延余視之，脈來細軟，睛赤唇焦，小溲全無，皮膚燥熱，不食不便，懶語音低，灌以大劑西洋參、生地、麥冬、杞子、甘草、葳蕤、當歸、花粉、藕汁、童溺等藥，三劑神漸醒而舌潤溺行，略啜稀粥。藥不更方，旬日後身熱始淨，音亦朗爽，粥食漸加。半月後更衣而脈和，月餘能下榻矣。復於方內加熟地、天冬、牛膝、仙靈脾，令熬膏服之而健。</p>
<p>楊曰：懷案用麻黃而未得汗，邪尚未去，故復用葛根飲之。此案汗已大出，止是傷津，故純以甘寒生津。</p>
<p>節庵治一壯年，夏間勞役後食冷物，夜臥遺精，遂發熱痞悶，至晚頭額時痛，兩足不溫。醫不知頭痛為火熱上乘，足冷為脾氣不下，誤認外感夾陰，而與五積散汗之，則煩躁口乾，目赤便秘。明日便與承氣下之，但有黃水，身強如痙，煩躁轉劇，腹脹喘急，舌苔黃色，已六七日矣。診其脈六七至而弦勁。急以黃龍湯，下黑物甚多，腹脹頓寬，躁熱頓減，但夜間仍熱，舌苔未淨。更與解毒湯合生脈散加生地，二劑熱除，平調月餘而安。</p>
<p>俞按：此案可使因遺精而認為陰證者釋其疑。</p>
<p>雄按：脾氣升則無病。東垣治勞倦內傷脾氣下陷者，以升、柴佐參、朮、草以升之，豈可以足冷為脾氣不下乎？恐「脾」字是「肺」字之訛。（楊曰：卓識。）俞氏從而和之疏矣。</p>
<p>喻嘉言治陸平叔案。</p>
<p>俞按：此案其審病機，如武侯用兵，綸巾羽扇；其發明道理，如深公說法，頑石點頭，真名醫佳案也。</p>
<p>慎柔和尚治薛理還僕，遠行忍飢，又相毆脫力，時五月初，遂發熱譫語，服過補中益氣及五苓數劑不效。診之，六脈俱無，乍有則甚細，外證則面赤口碎。一醫曰：陽病見陰脈，證在死例。慎柔曰：當以陽虛從脈舍證治之。用附子理中湯冷服，二帖脈稍見，四帖則脈有神，而口碎愈矣。六帖則脈如常，但譫語未已。慎柔曰：脈氣已完復，而譫語不休者，胃有燥矢。以豬膽汁導之，果下燥結，譫語遂平。</p>
<p>張路玉治範求先患傷寒，惡寒三日不止，已服過發散藥二劑，至第七日，躁擾不寧，六脈不至，手足厥逆。張診之，獨左寸厥厥動搖，知是欲作戰汗之候，令勿服藥，但與熱薑湯助其作汗，若誤服藥，必熱不止。果如其言而愈。</p>
<p>俞按：譫語有三路：一系邪傳陽明，熱邪與燥矢搏結而譫語，三承氣合白虎之一路也；（楊曰：此自是三承氣證，不必合白虎。）一系內是虛寒，外象實熱而譫語，王宇泰所述丹溪治盧兄、呂仲、陶明節三案（雄按：俱見江選內傷門。）之一路也；一系病本虛寒，恰挾宿食，因發熱熯為燥矢而譫語，慎柔案與陽旦證之一路也。醫者孰有燃犀之照乎？投藥一差，死生反掌，故傷寒及溫熱病均為大病。有今日許以無害，明日忽然溘逝者；有操券斷其必死，淹延竟得全生者。不比風勞鼓膈，病雖危篤，尚可從容商其緩急。所以仲景自序云：若能尋余所集，思過半矣。明示天下後世以傷寒難治，《傷寒論》難讀也。苟非難讀，何待尋乎？難乎！難乎！可不尋乎？</p>
<p>楊曰：《傷寒論》統論六氣之邪，而後人誤以為專論傷寒，故恆窒塞而不通。</p>
<p>徐亞枝曰：熱邪與燥矢搏結而譫語，自是三承氣證，俞氏合白虎之說，是據三陽合病條而言，不知三陽合病之譫語，即後條王氏所云痰因熱動，矇蔽清明者是，俞氏與承氣合為一路，甚欠分晰，楊氏正之是也。</p>
<p>雄按：溫熱病之譫語，尚有心陽素擾之神不安者，熱邪爍營之欲逆傳者，痰因熱動而矇蔽其清明者，殆不止俞氏所云之三路也。至虛實寒熱之的據，古人成案皆以脈為斷。然傷寒溫熱，不比內傷雜證，往往脈難全恃，必須詳審舌苔，按其胸腹，詰其二便，匯而參之，庶可得其真諦也。此古人隱而未露之秘，學者尤宜究心焉。</p>
<p>楊曰：審察病機之法，一一指出，真救世苦心也。</p>
<p>俞東扶曰：傷寒為大病，治法最繁，言之不勝言也。必熟讀仲景書，再遍讀後賢諸書，臨證方有把握。仲景為叔和編次，或有差誤，而聊攝註解殊覺穩當，續注者張卿子、王三陽、唐不嚴、沈亮宸、張兼善、張隱菴、林北海諸人，總不越其範圍。自方、程、喻三家，各以己意布置，而仲景原文，從此遂無定局。三注互有短長，大約程不及方，方不及喻。然喻注太陽經分三大綱，以誤汗、誤下、結胸、蓄血、發黃等證，分隸兩門，似乎界限井然，誰知以之治病，全用不著。蓋病初起時，必將營衛分別，過半月後，殊難追溯。何以指其此由中風傳變；此由傷寒傳變；此由風寒兩傷營衛傳變哉？傳變之證，虛實寒熱，猶恐模糊，又要恰合三綱，此能言而不能行者也。（楊曰：此論甚通達。然余所見傳變諸證，皆系傷寒。至中風一證，則或半月或一月仍是本證，並不傳變，殆因其汗出不已，故不能鬱熱而傳變耶。）魏柏鄉、周禹載、沈目南等俱宗之，亦徒悅服於空言，而未嘗以之試驗耳。盧子由《疏鈔金錍》，不派三綱，添出氣化、形層、標本、四大等說，愈覺支離，愈入迷網。其藏結諸案，幾如牛鬼蛇神。柯韻伯將兩家並譏，不亦宜乎！至《傷寒論翼》，固屬出奇高論，所謂讀書具隻眼，不蹈前人窠臼者，微嫌其論六經盡翻前案，欲立異以驚人，究屬紙上談兵也。從來注《傷寒論》者，俱是順文註釋，若遇不可通處，或敷衍混過，或穿鑿文飾，（楊曰：說盡著書家通病。）既不明道理之是非，何以為臨證之運用？惟程扶生經注，頗明白易曉，然亦不敢直指原文之差誤。柯氏始敢放膽刪改，雖覺僭妄，頗堪嘉惠後學，而以方名編次，又是一局。徐洄溪《傷寒類方》，實宗其式，簡潔明淨，以少許勝人多許，較之程郊倩之繁詞，一可當百。沈堯封《傷寒論讀》，亦以少勝多者，用六氣為提綱，將平脈辨脈編入其中，別開生面。其論大青龍湯，發前入所未發，一洗風寒兩傷營衛之陋說。（雄按：尤在涇已論之。）《左傳》云：拔戟自成一隊。此書似之。而刪改本文，非其志也。予細繹柯氏刪改處，萬不及欽定《醫宗金鑑·傷寒論》之精當，先刊仲景原文，另立正誤存疑二篇，應改者注小字於旁，可刪者摘諸條於後，是非判然，智愚皆曉，真苦海之慈航，昏衢之巨燭也。江西舒詔《傷寒集註》，（楊曰：舒注甚繆，專用溫燥，不足為訓。）大半斥為偽撰，並取數方痛加詆譭，別擬方以易之，此亦救世婆心，特未免於狂妄。以視汪琥將陰陽二候分為二編，各補後賢之方，其意均欲使初學者不泥古方以害人，而汪猶拘謹，舒則放縱矣。此外注家尚多，如錢氏《溯源集》、陳明伯《集註》，尚有發明，其餘碌碌因人，殊不足道。（雄按：王坤載之經註明白，入理最深；張路玉之剔清溫熱，迥出諸家；又倪沖之集成聊攝、趙嗣真、虞純一、王三陽、張兼善、王宇泰、盧子繇、張卿子、林觀子、程郊倩、沈亮宸、喻嘉言、王子律、張隱菴十四家精義，為《傷寒匯言》，亦可觀也。）茲舉夫各立格局，各豎議論者，敘述於上，以便同志者之誦習焉。要之讀書與治病，時合時離，古法與今方，有因有革，善讀書斯善治病，非讀死書之謂也；用古法須用今方，非執板方之謂也。專讀仲景書，不讀後賢書，譬之井田封建，周禮周官，不足以治漢唐之天下也，僅讀後賢書，不讀仲景書，譬之五言七律，崑體宮詞，不可以代三百之雅頌也。故吳緩《蘊要》、節庵《六書》、王宇泰《傷寒準繩》、張石頑《傷寒緒論》，俱有裨於後人，即有功於仲景，學者誠能以所引諸書廣為探索，則臨證瞭如指掌矣。</p>

<h2>溫熱</h2>
<p>林北海治一人，夏月遠行勞倦，歸患熱證。下痢膿血，身如燔炭，舌黑而燥，夜多讝語。曰：此陽明病也，不當作痢治。但脈已散亂，忽有忽無，狀類蝦游，殆不可治。其家固請用藥。林曰：陽明熱甚，當急解其毒，在古人亦必急下之以存津液。然是證之源，由於勞倦，陽邪內灼，脈已無陰，若驟下之，則毒留而陰絕，死不治矣。勉與養陰，以冀萬一。用熟地一兩，生地、麥冬、歸、芍、甘草、枸杞佐之。戒其家曰：汗至乃活。服後熱不減，而讝語益狂悖，但血痢不下，身有微汗，略出即止。林診之，脈已接續分明，洪數鼓指。喜曰：今生矣。仍用前方，去生地加萸肉、丹皮、山藥、棗仁。連服六帖，譫妄昏熱不減，其家欲求更方，林執不可。又二日，診其脈始斂而圓，乃用四順清涼飲子，加熟地一兩，大黃五錢，下黑矢而諸證頓愈。越二日，忽復狂讝發熱，喘急口渴，舉家惶惑，謂今必死矣。林笑曰：豈忘吾言乎？得汗即活矣。此緣下後陰氣已至，而無以鼓動之，則營衛不洽，汗無從生，不汗則虛邪不得外達，故內沸而復也。病從陽入，必從陽解，遂投白朮一兩，歸、芍、乾薑各三錢，甘草一錢。盡劑汗如注，酣臥至曉，病良已。</p>
<p>俞按：此證疑難在於初末。初時脈類蝦游，若援景岳證實脈虛之說，而用參、朮、薑、附，則必死；末後狂熱復發，若引又可餘邪注胃之說，而用白虎、承氣，亦必危。此案見解用藥俱佳，然其得生處，在於養陰而血痢頓止，脈即應指耳。中間連服六帖，讝妄昏熱不減，幸不見手足厥冷，尤幸不至聲瘖不語，絕谷不食也，則以脈之斂而圓故也。但白朮一兩，乾薑三錢，以治狂熱喘渴，殊難輕試。</p>
<p>又云：溫熱病最怕發熱不退，及痙厥昏蒙，更有無端而發暈，（雄按：此卻不妨。）及神清而忽間以狂言者，往往變生不測。遇此等證，最能惑人，不比陽證陰脈，陽縮舌卷，撮空見鬼者，易燭其危也。要訣在辨明虛實，辨得真，方可下手，然必非劉河間、吳又可之法所能救。平素精研《傷寒論》者，庶有妙旨。至如葉氏之論溫熱，有邪傳心包，震動君主，神明欲迷，瀰漫之邪，攻之不解，清竅既蒙，絡內亦痹，豁痰降火無效者，用局方至寶丹，或紫雪，或牛黃丸，宗喻氏芳香逐穢宣竅之說，真足超越前賢，且不蹈用重藥者一匙偶誤，覆水難收之弊也。此翁聰明，誠不可及。</p>

<h2>瘟疫</h2>
<p>壺仙翁治張文學病時疫，他醫診其脈，兩手俱伏，曰：陽證見陰不治。欲用陽毒升麻湯升提之。壺曰：此風熱之極，火盛則伏，非陰脈也，升之則死矣。用連翹涼膈之劑，一服而解。</p>
<p>俞按：此條是瘟疫病以證為則，勿專以脈為憑之一據。</p>
<p>雄按：疫證將欲戰汗之時，其脈多伏。即勘雜證，如痛厥、霍亂、食滯、痰凝，凡氣道阻塞之暴病，脈亦多伏，俱宜以證為則，豈僅瘟疫不可專以脈為憑耶！粗工不知此理，亂投溫補，因而致斃者多矣。</p>
<p>孫文垣有僕孫安，遠行途次，食麵三碗，勞倦感疫，又加面傷，表裡皆熱，昏悶譫語，頭痛身痛腹痛。醫以遇仙丹下之，大便瀉三四十行，邪因陷下而為挾熱下利之候，舌沉香色，額疼口渴，煩悶昏憒。脈左弦數，右洪數，但不充指，知為誤下壞證。以柴胡、石膏各三錢，白芍、黃芩、竹茹、葛根各一錢，花粉、甘草各五分，山梔、枳實各七分，蔥白五莖，煎服。後半夜吐蛔一條，稍得睡；次早大便猶瀉二次，嘔吐酸水，腹猶痛。改用小柴胡加滑石、竹茹，夜熱甚，（雄按：內有姜也。）與絲瓜汁一碗，飲既神頓清爽，少頃藥力過時，煩熱如前。再以絲瓜汁一大碗進之，即大發戰。孫謂此非寒戰，乃作汗之徵耳。不移時，汗果出而熱依然。因憶《活人書》云：再三汗下熱不退，以人參白虎湯加蒼朮一錢如神。跡此再加元參、升麻、柴胡、白芍、黃連。飲後身上發斑，先發者紫，後發者紅，中夜後乃得睡而熱散，斑尋退去，腹中微痛，腸鳴口渴，右脈尚滑，左脈已和。再與竹葉石膏湯加白芍、蒼朮。服後睡安，腹仍微痛。用柴胡、白芍各一錢，人參、黃芩、橘皮、半夏各六分，甘草三分，烏梅一個。腹痛漸減而愈，惟兩胯痛不能轉動，此大病後汗多而筋失養之故。用參、耆、白芍、枸杞、薏苡、木瓜、熟地、歸身、黃柏、牛膝、桑寄生調養全安。</p>
<p>俞按：戰汗後熱不退，勢亦危矣。引用《活人書》治法佳極。再看其人參、石膏之去取，並不執著，兩胯疼痛之調養，方更周到，的是高手。</p>
<p>雄按：文垣治案，佳者甚多，若此案尚有可議也。時疫挾麵食之傷，下之原不為謬，惟以熱藥下之，則津液耗奪，邪熱披猖，非下之誤，乃以熱藥下之誤耳。清解以救其誤，不應雜入參、半、薑、棗之辛甘溫，幸灌絲瓜汁之甘寒，始能戰汗，又賴人參白虎之充津，始能發斑退熱，可見前用清解之法，未能純善，故愈後復有兩胯之疼痛也。</p>
<p>又治張孝廉患疫，頭大如斗，不見項，唇垂及乳，（雄按：此恐言之過甚。）色如紫肝，昏憒不知人事，見者駭退。診其脈浮弦而數。初以柴胡一兩，黃芩、元參各三錢，薄荷、連翹、葛根各二錢，甘草一錢。（楊曰：何不用普濟消毒飲。）服三劑，寒熱退，脈轉洪大，知其傳於陽明也，改以貫眾一兩，葛根、花粉各三錢，甘草一錢，黑豆四十九粒，三劑而愈。</p>
<p>雄按：仲聖小柴胡湯，雖用柴胡半斤，以今准之，亦止六錢零八釐，且分三服。此案柴胡用一兩，而服三劑，恐未可為訓也。</p>
<p>丁漢奇素嗜酒，臘初醉後，夜行二里許，次日咳嗽身微熱，兩目腫，自用羌、芷、芎、芩等藥，頤皆腫，又進一劑，腫至喉肩胸膛，咳頻不爽，氣息微急，喉有痰聲，其腫如匏，按之熱痛，目赤如鳩，而便瀉足冷。醫謂大頭瘟，而用普濟消毒飲子。藥未服，沈堯封診之，六脈細數，右更細軟，略一重按即無。曰：此虛陽上攻，斷勿作大頭天行治。病者云：內子歸寧，絕欲兩月矣，何虛之有？沈曰：唇上黑痕一條，如干焦狀，舌白如傅粉，舌尖亦白不赤，乃虛寒之確據，況泄瀉足冷，右脈軟微，斷非風熱之象，況無痞悶煩熱，躁渴不安之候，豈有外腫如此，而內里安帖如平人者乎？其為虛證，更何疑焉？遂以菟絲、枸杞、牛膝、茯苓、益智、龍骨。一劑而腫定，二劑而腫漸退，右脈稍起，唇上黑痕亦退，但舌仍白厚，伸舌即顫掉，手亦微振。乃用六君加沉香而腫大退，目赤亦減，嗽緩痰稀，舌上白苔去大半矣。次日再診，右脈應指不微細，重按仍覺空豁，肝氣時動，兩顴常赤，口反微渴。復用參、苓、杞、芍、橘紅、龍骨、沙蒺，補元益腎斂肝而全愈。</p>
<p>雄按：此人不但虛陽浮動，且素有寒濕停飲，案中雖未明言其小便如何，然看前後所用之藥，必便溏而溺色清白者，故治法如是也。（炳按：小便「小」字，原作「二」，後改為「小」。）</p>

<h2>暑</h2>
<p>俞東扶曰：張潔古云動而得之者為中暍，為陽證；靜而得之者為中暑，為陰證。以「暑」、「暍」二字析為兩項，殊屬不然。夫夏之暑暍，猶冬之寒冷也。若指暍為陽，指暑為陰，亦將派冷作陽，派寒作陰耶！《內經》云：先夏至日者為病溫，後夏至日者為病暑。明以時令別其病名耳。病暑之有陰有陽，一如傷寒之有陰有陽，大順散、冷香飲之類，實為納涼飲冷，因避暑而受寒，固暑月之陰證也，非中暑也。所以羅謙甫治參政商公泄瀉、完顏小將軍斑衄二案，俱用熱藥，俱不名之曰中暑。吳球治暑月遠行之人，直曰中寒，（三案俱見江選。）恐後世誤以熱藥治暑，乃舉病因以稱之，誠為名正言順。故以動靜分陰陽則可，以暑暍分陰陽則不可，惟以脈證辨陰陽斯可矣。近世葉氏治暑，每用滑石、蘆根、通草、白蔻仁、杏仁等藥，以暑氣從鼻而吸入，必先犯肺，故用輕清之藥，專治上焦；其西瓜翠衣、鮮荷葉、鮮蓮子、綠豆皮、絲瓜葉、竹葉、銀花露等，皆取輕清以解暑邪之上蒙空竅，不犯中下二焦，殊有巧思。蓋暑病必究三焦，非比傷寒，若來復丹、大順散，案中偶一見之，又足徵暑月陽證居多，陰證原少耳。</p>

<h2>濕</h2>
<p>俞東扶曰：古人治濕病案，殊無高論奇方，惟《臨證指南》佳案甚多，良足私淑。其除氣分之濕，用滑石、白蔻仁、杏仁、半夏、厚朴、栝蔞皮為主，有熱則加竹葉、連翹、蘆根等，全取輕清之品，走氣道以除濕。若濕熱甚而舌白目黃，口渴溺赤，用桂枝木、澤瀉、豬苓、滑石、茯苓皮、寒水石、生白朮、茵陳，此從桂苓甘露飲加減。濕熱作痞，神識如蒙，用人參、芩、連、枳實、生乾薑、生白芍，此從瀉心湯加減。若脘中阻痛，大便不爽，用豆豉、枳實、黃連、薑汁、苓、半，熱輕則去連加鬱金、橘紅、薏苡、杏仁，此濕傷氣痹治法。熱甚則用黃連、生朮、厚朴、橘白、淡生薑渣、酒煨大黃，水法丸服，此治氣阻不爽，治腑宜通法。濕傷脾陽腹膨，用五苓散、二術膏。濕熱橫漬脈腠腹滿，用小溫中丸，以及脘痞便溏之用苓桂朮甘湯，吞酸形寒之用苓薑朮桂湯，雖皆古人成法，而信手拈來，無不吻合。濕溫身熱神昏，用犀角、元參、連翹、石菖蒲、銀花、赤豆皮煎送至寶丹，乃清熱通竅，芳香逐穢法。更奇者，濕溫之頭脹耳聾，呃忒鼻衄，舌色帶白，咽喉欲閉，謂邪阻上竅空虛之所，非苦寒直入胃中可治，而用連翹、牛蒡、銀花、馬勃、射干、金汁，此俗人夢想不到者也。不食不寐，腹痛便窒，脈遲小澀，謂由平素嗜酒少谷，濕積傷陽，寒濕濁陰，鳩聚為痛，而用炒黑生附子、炒黑川椒、生淡乾薑、蔥白，調入豬膽汁，此加味白通湯，亦神奇不可思議者也。更有嗜酒人胸滿不飢，三焦皆閉，二便不通，用半硫丸。又有病中啖厚味者，腸胃滯，雖下而留濕未解，肛門墜痛，胃不喜食，舌上白腐，用平胃散去甘草，加人參、炮薑、炒黑生附。此二條不因酒肉認作濕熱，竟以苦辛溫藥通陽劫濕，尤覺高超。至如陽傷痿弱，有濕麻痹，雖痔血而用薑、附、茯苓、生術。舌白身痛，足跗浮腫，太谿穴水流如注，謂濕邪伏於足少陰，而用鹿茸、淡附子、草果、茯苓、菟絲以溫煦陽氣，均非淺識所能步武。濕久脾陽消乏，腎真亦憊，中年未育子，用茯、菟、蒼朮、韭子、大茴、鹿茸、附子、蘆巴、故紙、赤石脂，仿安腎丸法，治病調元，化為合璧，益有觀止之嘆。濕門得此諸案，方法洵云全備。</p>

<h2>消渴</h2>
<p>（雄按：消渴列於燥門，本諸河間《宣明論》）</p>
<p>俞東扶曰：風寒暑濕燥火，六淫之邪也。江氏分類集案，不立燥之一門，緣諸病有兼燥者，已散見於各門，卻無專門之燥病，可另分一類也，故於濕之下，火之上，間以消渴，蓋消渴有燥無濕也。其見解極是，允宜配列於此。</p>
<p>東垣治安撫張耘夫案。</p>
<p>俞按：古今治消渴諸方，不過以寒折熱，惟苦與甘略不同耳。要皆徑直無甚深義，獨此方委蛇曲折，耐人尋味。</p>
<p>張肱治揭穎臣案。</p>
<p>俞按：此人似消渴，實非消渴。張公之見識殊高，用藥最巧。</p>
<p>石山治一婦年逾三十消渴案。</p>
<p>景岳治周公年逾四旬消渴案。</p>
<p>俞按：此條與汪案略同，但無渴且不能飲，已具有虛無火之象。景岳喜用溫藥，然所謂養陽者，並不參以桂、附，則知消而且渴，必非桂、附所宜矣。余請下一轉語曰：消有虛實不得遽認為寒。</p>

<h2>火</h2>
<p>虞花溪治一婦年四十餘，夜間發熱案。</p>
<p>俞按：夜熱脈數，的系陰虛，因其脈伏且牢，浮取不應，故用升陽散火得效，仍以陰藥收功。然陰藥用六味地黃及二地、二冬必不效，妙在芎、歸合知、柏，及從治之炒乾姜也。</p>
<p>雄按：此血分有熱，故以血藥收功，與陰虛生熱，可用陰柔者治法有別，誤用皆為戈戟。俞氏之論，尚欠明析也。</p>
<p>周慎齋治一婦，五月間身涼，自言內熱，水瀉二月，一日數次，小水絕無，自言上熱極，下凍死，腰腿足俱冷，腹痛如冰，或一時發熱不欲近衣，或一時怕冷遍身盡然，面目紅腫，藥之不愈，六脈洪大，此伏火也。火性炎上，故上熱下冷耳。用四物湯加柴、葛、升麻、甘草、芩、梔、黃柏二帖，小水行瀉止，復發牙疼，三日不愈，用黃耆建中湯加附子，一服愈。</p>
<p>一人七月病上辰昏暈，下午不言昏睡，一日不醒，人叫不應，身涼不食，不寒不熱，皆曰陰證。議用理中、四逆。慎齋診其脈，沉小帶伏，曰：內有火邪也，故小便一二日不解，延至夜不醒。其妻曰：前日房事，如何是火？周曰：夜有房事，內虛又勞熱甚。（楊曰：恐有脫遺。）夫乾熱從虛入，則陰氣將絕，以水救之則可。取冷水一桶，飲至五碗，病者曰渴甚，飲至七碗，大汗如雨，病者曰餓，啜粥一碗，用補中益氣湯加炮薑、澤瀉溫中，瀉冷水而愈。</p>
<p>一婦六月卒死，遍體俱冷，無汗，六脈俱伏，三日不醒，但氣未絕耳。眾用理中、四逆，亦不能納。四日後，慎齋診之，仍無脈，念人一二日無脈立死，今三日不死，此脈伏也，熱極似寒耳。用水濕青布放身上，一時身熱，遂灌冷水五六碗，反言渴，又一碗，大汗出。後用補中益氣加黃柏十帖愈。</p>
<p>俞按：慎齋之治上熱下寒，腹痛如冰，粗工必引立齋治韓州同之例矣，乃與花溪升陽散火湯同軌合轍。此等案必須合看則有益。至於飲以冷水，覆以青布，亦是試火之真假。</p>
<p>雄按：此三條論證設治，洵屬可傳。惟首條既伏火如是之甚，則瀉甫止而牙疼，顯為餘火上升，豈可用建中湯加附子哉？一服而愈，殊有可疑。次條飲冷水而大汗如雨，則水已外泄，何必以炮薑、澤瀉瀉其冷水耶？畫蛇添足，此之謂矣。</p>
<p>楊曰：目光如炬，如此讀書，方不被古人所瞞。</p>

<h2>泄瀉</h2>
<p>龐從善治著作王公蘋泄利，診之曰：兩手三部中得脾脈，浮而弦，浮主風，弦主濕，（楊曰：濕不能弦。）又弦為肝脈，病因風濕外傷，致肝木刑于脾土，而為洞泄，又名飧泄也。《內經》云：春傷於風，邪氣留連，乃為洞泄。又云：春傷於風，夏生飧泄。其利下物主渾白而完出是也。遂以五泄丸煎服之，數服而瘥。王公曰：從善年未四十，亦醫之妙選。曾撰《脈法鍖源論》一部，共二十篇，示愚觀之，誠得叔和未盡之趣者也。</p>
<p>俞按：龐公此條，已為張戴人導其先路矣。然余所閱歷，凡直腸瀉者多死，不可概許以風藥能治也。讀太倉公治趙章一案可知矣。</p>
<p>黃子厚治一富翁案。</p>
<p>俞按：《醫說會編》注云：百會屬督脈，居巔頂，為天之中，是主一身之氣者。元氣下脫，脾胃無憑，所以泄瀉，是謂閣不得地。經云下者上之，所以灸百會穴愈者，使天之氣復健行，而脾土得以憑之耳，《銅人經》謂百會灸脫肛，其義一也。余謂仲景《傷寒論》已言之矣。其曰：少陰病下痢，脈微澀，嘔而汗出，必數更衣，反少者，當溫其上灸之。「上」字即指百會穴，何待子厚始悟出耶！及讀《資生經》云：舊傳有人年老而顏如童子者，蓋每歲以鼠糞灸臍中神闕穴一壯故也。余嘗久患溏利，一夕灸三七壯，則次日不如廁，連數夕灸，則數日不如廁，足見經言主泄利不止之驗，是又與灸百會穴同一捷法。</p>
<p>雄按：陷者舉之，不過治泄瀉之一法耳。有某婦者，年三十餘，嫠居數載，體素羸弱，月事按年一行，仲夏偶患瀉，醫知其虛也，即進六君子加味，反腹痛而下白垢，以為寒甚也，因灸之，痛利加劇，改用升陽法，遂嘔吐痰嗽，不寐不飢，且利時覺腰內有冷風颯颯，於是理中、腎氣、四神、烏梅等丸，及餘糧、石脂，遍試不效。至季秋，乃父金某浼許某延余診。脈甚弦澀，暮熱晡寒，舌色鮮紅，苔白口苦，小溲短少，吐水極酸。此由情志不舒，木乘土位，治不中窾，煽動內風。予橘、半、苓、茹、芩、連、柏、苡、木瓜、芍藥為方，服後二便如火，嘔嗽腹痛，腰風皆止。三劑後復診：弦澀漸退，苔化知飢，大便猶溏，日僅一二行。病者以為遇仙，乃以養胃和肝善其後。又治高又蘇令姊，年十六歲，經甫行一次，遂患瀉而月事不至，形日瘦，愈疑成損，妄通其血，而痛瀉益劇，飲食不思，改用滋填亦無效。余診脈微弱略弦，曰此歇經也，泄瀉乃脾弱耳。予參、耆、甘、芍、桂枝、山藥而愈。</p>

<h2>不食</h2>
<p>俞東扶曰：因他病而不食者，不在此例。夫人身以胃氣為本，經年累月，粥飯全廢，似無不死者。然余曾見兩家閨女，皆十餘歲，皆無病，漸漸厭惡粥飯，每日略啖菱、慄、棗、橘、芝麻、落花生、薄脆豆腐乾之類，或飲酒一二杯，或腐漿數口而止，其父母甚憂之。余視其形色不變，起居如常，六脈均平，乃許以無事，亦不處方，後皆出嫁。蓋穀肉果菜均以養生，去谷而猶存三項，與絕食者原不同也。</p>
<p>雄按：《星甫野語》云：吾師陸寅齋先生之配張孺人，病後忽辟穀，師精和扁術起家，而孺人之病不之識，閱十數年，孺人年六十餘，以壽終，此尤奇也。</p>

<h2>瘧</h2>
<p>王宇泰治其外祖母，年八十餘，夏患瘧，諸舅以年高不堪再發，議欲截之。王曰：一劑而已，亦甚易，何必截乎！乃用柴胡、升麻、羌活、防風、葛根之甘辛氣清以升陽氣，使離於陰而寒自已，以知母、石膏、黃芩之苦甘寒引陰氣下降，使離於陽而熱自已；以豬苓之淡滲分利陰陽，使不得交併；以穿山甲引之；以甘草和之。果一劑而止。</p>
<p>俞按：《靈蘭要覽》載此方，治瘧屢效，又附隨證加減法，最為精當，是金壇得意之作也。李士材治程武修案，藍本於此，惟以白蔻仁換穿山甲，亦其善用藥處。</p>
<p>雄按：此案但言夏月患瘧，而不詳脈證，所用升散之藥五種，苦寒之藥三種，雖為金壇得意之作，余頗不以為然。後人不審題旨，輒鈔墨卷，貽誤良多。鄒潤安云：據金壇云：是使陰陽相離，非使邪與陰陽相離也。使邪與陰陽相離猶可言，人身陰陽，可使之相離乎？斯為先得我心。余治門人張笏山之弟，瘧來痞悶欲死，以枳桔湯加柴、芩、橘、半，一飲而愈，是調其升降而使邪與陰陽相離也。</p>
<p>僧慎柔治淮安客，年三旬外，季夏患癉瘧，但熱不寒，連日發於午後，熱躁譫語，至次日天明才退。數日後忽腹痛，晝夜無間，勺水不進，呼號欲絕，遇瘧發時即厥去，醫治不效，求慎柔診之。脈弦細而軟，乃謂弦細為虛為暑，而軟為濕。蓋暑邪成瘧，濕熱乘虛內陷而腹痛。用酒炒白芍一兩，炙甘草一錢五分，水煎調下天水散五錢。一劑痛如失，次日瘧亦不發。</p>
<p>俞按：腹痛如是，遇瘧即厥，恐戊巳、天水未必勝任也。</p>
<p>雄按：濕熱乘虛內陷而腹痛，亦非戊巳所宜投。脈象弦細而軟，固屬暑濕，其腹痛，恐兼肝木凌脾，故此藥一劑即瘳也。</p>
<p>高果哉治張習可，五月間受微雨及風冷，遂患三瘧，瘧發於暮，熱甚於夜，至九月中，診得六脈虛數。此陰虛而暑入陰分，最難治。當先升舉其陽，用生地、川芎、歸、芍、炙草、知母、乾薑、乾葛、升、柴、薑、棗煎服。四劑後加首烏、人參。又定丸方：首烏四兩，生地三兩，參、朮、當歸、龜板、豬苓、知母、黃芩、山楂各二兩，柴胡一兩六錢，牛膝一兩五錢，乾薑、穿山甲各一兩，甘草五錢，活鱉一個，入砂仁末二兩，煮取鱉肉，同藥搗勻烘乾，其骨亦炙為末加入，荷葉湯法丸，服完全愈。</p>
<p>雄按：此暑濕兼風冷之邪而入於營分也，故用此法治之而愈。其人雖屬陰虧，並非暑邪入陰，設是暑熱入於陰分，則升散燥烈之品皆為戈戟。高君治法雖神，立案尚覺顢頇，學者須加咀嚼也。</p>
<p>又治高文甫三瘧，有三月餘，用首烏、生地、當歸、白朮、知母、青皮、枳殼、升、柴、煅制穿山甲、薑、棗煎服。過瘧期三轉。第二次用生地一兩、老薑一兩。第三次用當歸一兩，姜皮一兩。第四次用白朮一兩，姜皮一兩。每帖加桃葉七瓣，三轉後檢不破荷葉烘燥為末，三白酒調服五錢。又三轉，瘧漸止，但骨節腰膝疼痠，無力行走，腹上常熱，（老薑一兩之故耳。）乃用四物湯加首烏、枸杞、萸肉、杜仲、牛膝、白朮、甘草、虎骨、麥冬、五味、貝母、橘紅為末，活鱉一個煮取肉，搗藥烘乾，鱉甲骨俱炙燥為末加入，以酒蒸常山四兩，煎濃汁煮棗為丸，薑湯送下三四錢。</p>
<p>俞按：果哉乃王金壇之高弟，《準繩》序中所謂嘉善高生隱從余遊，因採取古今方論命高生次第錄之者是也。著有《醫林廣見》及《雜證》二書，又有醫案數卷，均未刊印，略選數條，以存吾邑之文獻云耳。</p>
<p>雄按：此條脈證俱不載明，不知瘧屬何因，難以垂訓。觀其用藥，似系瘧久邪入厥陰經者。然老薑用至每劑一兩，殊為可議。至用桃葉，則未免惑於世俗之論，尤可陋矣。</p>
<p>楊曰：瘧久則正虛邪亦衰，用滋陰而愈者有之。若參入升、柴、薑、棗，未免錯雜不倫，宜孟英議之也。</p>
<p>沈堯封治一張姓少年，春間患寒熱如瘧，始服發散，繼服養陰，已愈矣。越數日瘧又作，且兼白濁不止，服小柴胡加首烏、生地、丹皮、萆薢等不應。又數日，寒熱漸重，不能起坐，口渴煩躁，舌赤唇焦，服白虎湯而熱益甚，發暈昏沉幾死，熱氣衝開二三尺，兩目赤腫，目眵膠閉，舌紅且干，唇焦面赤，兩足如烙，惟大便泄瀉。沈診之，脈虛而軟。遂用人參二錢，熟附子三錢，茯苓五錢，白芍一錢五分。一劑而熱少定，連服旬余，惟以牡蠣、牛膝、枸杞、生地出入加減，粥進熱退，病去六七。忽然腹痛大作，連瀉二三十次，煩渴又作，懊憹迷悶不安，舉家駭泣。沈曰：無恐，此久積之寒飲，因脾得參、附之力以運動之，飲乃大下也。（雄按：所加之牛膝、枸杞、生地未盡善美，宜以薏苡、澤瀉、橘、半之類佐之為妥。）復用附子五錢，乾薑二錢，芩、芍、炙草，數劑而安。又用參、術平補全愈。</p>
<p>俞東扶曰：古云瘧疾日作者輕，間日者重，此不可拘。若日作而寒熱之時短，勢又不甚，則誠輕，苟勢甚而時又長，反不如間日者尚有休息之一日也，何可云輕？惟瘧發漸早為易痊，漸晏為末止，乃一定之局。間有不一定者，如發漸早而熱退不早，則其寒熱加長矣，愈長則病愈進，不得引《內經》「其氣上行九日出於缺盆之中」為據也。（雄按：經文難泥，病機甚活，有瘧至將愈之時，其發陡重，大寒大戰，大熱大渴，遂大汗而解，其瘧遂已者；有一日兩發或數發，而其瘧遂愈者。）如發漸晏而熱退不晏，則其寒熱漸短矣，愈短則病愈衰，不得引昔賢自陽之陰者難愈為據也。（雄按：發漸晏、退漸早，則邪氣漸衰，此瘧愈之常也。）隔二日曰三陰瘧，較諸瘧為最重。有二三年未愈者，（雄按：皆初治之誤，或口腹不慎所致也。）亦有二三月即愈者。（雄按：初治得法，何致延及二三月而始愈？俞氏之意謂二三月即愈，似是喜出望外之詞，蓋亦未知治瘧之法也。只看其寒熱之輕重短長，以辨病之淺深；然三陰瘧無驟死之理，反不比日作與間日者有驟死之人也。雄按：瘧有經病，有府病，有藏病，治不如法，輕者重而重者死矣。間二日而作者，藏病少而府病尤少，經病絡病為多，故驟死者罕耳。）此皆就餘生平所驗而言之。大抵瘧疾因風寒者，多初起無汗，必該發散，羌、蘇、防、葛之類；若有汗，則用桂枝、白芍；兼見熱象，則桂枝柴胡各半湯；深秋初冬，寒重無汗，口不渴，脈不數者，麻黃湯小劑用之，兼見熱象，則加石膏，即越婢法。（雄按：此正瘧之治法。虛人可用建中湯加減。能食者，飽啖羊肉酒飯，亦能汗解而愈。今人以此法概治諸瘧，遂致輕者延綿，重者變證蜂起，殊可嘆矣。）表證而挾里證，有痰食者加樸、半、麥芽之類，向有無痰不成瘧、無食不成瘧二說，皆不可廢。瘧疾因於暑者，必熱多寒少，有汗口渴，桂枝白虎湯、竹葉石膏湯酌用。暑兼濕，則蒼朮白虎湯、桂苓甘露飲酌用。以上皆瘧疾之表證藥，而瘧發每多嘔逆痞悶，又須以草果、知母、藿香、枳、樸、白蔻、薑汁、乾薑、竹茹、蘆根等，審其寒熱加入，亦統屬瘧疾之實證藥也。（雄按：外感為瘧，原不外乎風寒暑濕，里證亦不外乎「痰食」二者。）但瘧疾本是感證，不過輕於傷寒耳。故傷寒有五，瘧亦有五。今世正傷寒少，溫熱暑濕之病多，瘧亦爾也。故善於治溫熱暑濕者，始知治瘧之全體也。若素虛人，或病後、瘡後、產後，不可一例論。（雄按：雖如此說，然亦未嘗無實證。）古云：無汗要有汗，散邪為主；（雄按：取汗之法，不止發散一端。）有汗要無汗，扶正為先。（雄按：汗多者，不獨虛也，未可專以扶正為法。）汗之一端，尚且嚴為分別，豈有虛證虛脈而可虛其虛乎？補中益氣湯、人參養營湯、參茸歸桂飲、理中、八味、真武等方，擇其脈證相合者用之，蓋溫補溫通、補脾補腎，方義微別耳。惟是大虛必挾寒，（雄按：陽分大虛必挾寒，陰分大虛必挾熱，況溫熱之邪，尤易傷陰那。）昔賢治久瘧，用補者少加附子，其效如神，故虛瘧之用桂、附，與三陰瘧之用丁香，俱有奇功可據也。（雄按：不可執死法以治活病，誤用而致奇禍者不少也。）然或虛瘧不見寒證，卻有熱象，脈弦數或洪數者，勢難投以溫藥，（雄按：邪分寒熱，虛別陰陽，何必虛者皆屬於寒？）既見熱象，而脈至弦洪且數矣，尚不知熱邪傷陰，而為此無可奈何之言，曰勢難投溫，殊可笑也，則甘寒生津，如蔗漿、秋露水、梨、藕汁；壯水制火，如二地、二冬、阿膠以及生脈散、何人飲，又堪供我驅策矣。復有虛實參半之熱證，則小柴胡原方、人參白虎湯、半夏瀉心湯、黃連湯可以奏功；若虛實參半而寒者較易治，毋庸再贅。（雄按：昔賢論瘧，多主風寒，今世之瘧，多屬時邪，故覺寒易治，而以熱為難治矣。）但「寒熱」二字，全在憑之以脈，縱使熱多，甚至但熱無寒，而脈細軟者，當以虛治，不得輕用白虎湯。（雄按：脈細軟者，固不得輕用白虎，然壯火食氣，竟有熱極而脈反沉澀細軟者，蓋暑傷氣，脈多微弱，豈可遽認為虛乎？）寒多甚至但寒無熱，而脈洪實者，當以熱治，不得便用薑、桂，此妙訣也。夜瘧皆云邪入血分，當用血藥以提其邪，說固可通，景岳歸柴飲、鼓峰香紅飲，二方俱佳。然初在夜，嗣後不早不晏，始終發於夜者是也。設趲前漸近日昃，縮後已至日出，皆不得謂之夜瘧矣。禁法與截法不同，禁是外為鎮厭，其法甚多，效者亦多，即祝由之意也。然輕者效，重者不效，比之打仗，掠其殘兵耳。設用藥中綮，何藉此乎？截是服藥以截止，常山最有效驗。截止後須謹慎調攝，否則復發增重，用砒者亦然。然砒必大吐，恐至傷人。（雄按：邪勢方張，妄行劫截，雖能調攝，病必反加，不但砒恐傷人也。）輕者原不須截，欲截則露姜飲最佳，虛加人參尤妙。繆仲淳謂瘧由於暑，暑得露而解也。（雄按：秋後白露降，始可取也。）若秋前露自地升，露藥無謂。余考古法，露忌著火，葉氏用秋露煎藥非也。（雄按：截者，劫去其病之謂也。）欲行劫截，亦須審其病屬何因，露姜飲能截之瘧，必有露姜飲能截之證據，並非露姜飲能截一切之瘧也。今云截瘧則露姜飲最佳，是囫圇吞棗矣。舉世醫家多犯此病，如徐宗可《金匱注》云：小兒未納穀食者，以冰糖煎濃湯飲之極效。蓋未納穀食之兒，中虛可知，一味冰糖，即建中之意，又不苦口，勝於強灌苦湯而傷其脾胃也。世人不察，遂以冰糖為止瘧之藥。聞其瘧久，竟不察其中之虛實，邪之盛衰，概用冰糖為引，邪衰中虛者，未始不效，設痰濕暑熱之邪，失於清解而延久不愈者，服之能不更為邪氣豎幟乎？露姜飲誤用，其禍尤烈，葉氏《景岳發揮》詳言其弊矣。故醫者用方，必先辨明證因也。外有膽汁二姜丸，蒜燒醨、草果蒸參、常山炒參諸方，以及景岳云小柴胡湯加常山二錢，截瘧如神，皆在乎人之善用耳。（雄按：善用無他秘訣，在乎辨證明白耳。）瘧母必用鱉甲煎丸，丸中除去人參為大謬，或以參湯送之，湯力已過，丸力才行，譬如悍卒無良將統馭，步伐豈能整齊？（雄按：此論深得用藥之理。）又此丸偏於寒削，若陽虛者宜用仲淳之瘧母丸為妙。三瘧雖屬三陰，亦只要辨明寒熱虛實，而應以溫涼補瀉。（雄按：此論極是，諸病皆宜如是。）若用陽經輕淺之方治之無益，必以仲景治三陰之法為根蒂，似屬高談，實門外漢也。總之，醫者多讀書，多閱歷，病者能調攝，能謹慎，斯四難並，二美合矣。</p>

<h2>痢</h2>
<p>葉先生名儀，嘗與丹溪俱從白雲許先生學，其記病云：歲癸酉秋八月，余病滯下，痛作絕不飲食，既而困憊不能起床，乃以衽席及薦闕其中而聽其自下焉。時朱彥修氏客城中，以友生之好，日過視余，飲余藥，但日服而病日增，朋遊譁然議之，彥修弗顧也。浹旬病益甚，痰窒咽如絮，呻吟亙晝夜。私自虞，與二子訣，二子哭，道路相傳，謂余死矣。彥修聞之曰：籲！此必傳者之妄也，翼日天甫明，來視餘脈，煮小承氣湯飲余，藥下咽，覺所苦者自上下，凡一再行，意冷然。越日遂進粥，漸愈。朋遊因問彥修治法，答曰：前診氣口脈虛，形雖實而面黃稍白，此由平素與人接言多，多言者中氣虛。又其人務竟已事，恆失之飢而傷之飽，傷於飽其流為積，積之久為此證。夫滯下之病，謂宜去其舊而新自圖，而我顧投以參、朮、陳皮、芍藥等補劑十餘帖，安得不日以劇，然非浹旬之補，豈能當此兩帖承氣哉！故先補完胃氣之傷，而後去其積，則一旦霍然矣。眾乃斂衽而服。</p>
<p>俞按：此與許學士治傷寒太陽病，因尺脈不應，用黃耆建中同法。（見江選。）彼先補而後散，此先補而後攻。但二公把握得定，故嫌疑不避。設麻黃、承氣之用於後者不能愈病，則人之歸咎難辭，而醫之用藥無路矣。</p>
<p>雄按：此治飢飽勞傷之虛痢，故可先補而後攻，況其所謂補者，參、術之中，仍佐陳皮、芍藥以調氣破滯，並非後人之重濁蠻補藥也。設暑熱滯下，雖屬虛人，必急去其邪，以存陰液，（楊曰：此層尤宜知。）不可輒援此案為例也。而世人未悟其理，不辨何因，率引「養正積自除」之語，以售其溫補之術，病家誤信，貽害無窮，可哀也已。</p>
<p>繆仲淳治一少年貴介，暑月出外，飲食失宜，兼以暑熱，遂患滯下。途次無藥，痢偶自止，歸家腹痛不已，遍嘗諸醫之藥，藥入口，痛愈甚，亦不思食。繆視之曰：此濕熱耳。其父曰：醫亦以濕熱治之而轉劇。繆問投何藥，曰：蒼朮、黃連、厚朴、陳皮等。繆曰：誤也。（楊曰：此可與上條對參。）術性溫而燥，善閉氣，郎君陰虛人也，尤非所宜。（雄按：此昔人未發之旨，今世之體質如是者多，醫者不可不知也。）乃以滑石一兩為細末，以牡丹皮汁煮之，別以芍藥五錢，炙甘草二錢，炒黑乾薑五分，煎調滑石末服之，須臾小便如注，痛立止。</p>
<p>高果哉治丁清惠公予告在籍，患痢裡急後重，白積兼鮮血，晝夜十餘次，飲食減少，兩尺脈似有似無，兩寸關弦數，小便短少，眾醫皆以望八高齡，當憑尺脈以投溫補。高獨謂稟賦素厚，宜從寸關而用清理，遂進黃芩、白芍、厚朴、檳榔、甘草、陳皮、阿膠、滑石、槐花、木香四五劑全愈。</p>
<p>俞按：此必兼有實證可據，及神氣不衰以斷之也。</p>
<p>張路玉治春榜陳穎雍，暑月自都門歸，抵家即患痢疾。半月以來，攻克不效，遂噤口，粒米不入。且因在京久食煤火，肩背發毒，不赤不疼，陷伏不起，發呃神昏，勢日瀕危，內外醫科互相推諉，乃延石頑診之。六脈弦細欲絕，面有戴陽之色，所下瘀晦如爛魚腸腦，證雖危殆，幸脈無旺氣，氣無喘促，體無躁擾，可進溫補，但得溫補而癰腫焮發，便可無虞。遂疏保元湯，每服人參三錢，生耆二錢，甘草、肉桂各一錢，伏龍肝湯代水煎服。一服粥飲稍進，二服後重稍輕，三服癰毒賁起，另延瘍科敷治其外，確守前方，又十餘服而安。前後未嘗更易一味也。</p>
<p>雄按：癰毒滯下可用溫補者，必見此等脈證，才為合法，然不多覯也，而醫者亦不可不知有此法。設不辨其脈證，但崇景岳，動輒溫補，殺人以刃與藥，有以異乎？</p>
<p>孫見心治張玉堂，秋間下痢膿血，晝夜百餘次，裡急後重，前醫見脈歇止，謂因積滯所致，用檳、樸、青皮、枳殼、木香等。孫診之，脈弦洪而數，或一二至，或三四至，或五六至輒一止，曰：毒及少陰矣，當急顧其陽明。（楊曰：用藥與此語不相照顧。）用生熟地各一兩，（楊曰：嫌膩滯。）歸、芍、丹皮、黃連各三錢，（楊曰：得效在此。）甘草五分。群疑陰藥太重，恐飽悶增劇，然服二帖，次數尚頻，急重已除，脈之洪數亦減，至數相續，仍用前方，病去大半。又次日去生地、黃連，加參、朮、茯苓、山藥，（楊曰：加減俱不如法。）飲食大進，午後弦脈亦減，而至數復有止狀，或駭曰：病退而脈復變，防其加重。孫曰：無妨也。歇止者，即古代結促之俗名耳。若沖氣中絕，臟脈自見者危，今此證歇至，本以毒盛壅遏隧道，陰精不承，故一二至，或三四至，或五六至而止也。經曰：數動一代者，病在陽之脈也，泄及便膿血。今余去陰藥過甚，進陽藥太驟，（楊曰：自供缺失。）中髒得補，則木土和而胃氣安，故飲食進而毒尚未盡者，亦隨壯氣而旺，故復有止狀也。於方中仍加生地、黃連即平矣。果驗。</p>
<p>俞按：洪數而歇止，是為邪壅，若細澀無神而歇止，則為沖氣中絕矣，斷不可治。</p>
<p>嘉善一嫗常便血，時發時止，至五旬外，夏月便鮮血，裡急後重，時或不禁，脈軟不數，用五苓、建中轉甚。因向宜涼血藥，仍用四物加槐、榆、楂、曲亦無效。葉天士以用生蒼朮、生厚朴、炒橘皮、炙甘草、雞膍胵、砂仁殼、丁香柄丸服全愈。又有一童子患久痢，葉亦用此方而愈。人不解其故。俞惺齋云：此方名醉鄉玉屑，治小兒食瓜果致痢久不愈者，見徐春甫《醫統》。</p>

<h2>瘧痢</h2>
<p>孫文垣治董潯老家馬廚案。</p>
<p>俞按：古方中寒熱並用者誠多，如仲景五瀉心湯、黃連湯、烏梅丸、麻黃升麻湯，為後賢連理湯、左金丸諸方之祖。夷考其義，瀉心湯用苓、連之苦以瀉痞熱，薑、夏之辛以散結氣，即寒因熱用也；黃連湯則以桂枝代柴胡，黃連代黃芩，乾薑代生薑，喻氏所謂換小柴胡之和表裡者為通上下法也；烏梅丸則以厥陰一經本陰標熱，故用薑、附之辛熱，佐連、柏之苦寒，柯氏引經文所謂伏其所主而先其所因也；麻黃升麻湯以知母、石膏合麻、桂、乾薑，猶是越婢湯成例，其參入歸、芍、苓、朮、天冬、葳蕤，則因邪陷厥陰，寒鬱熱伏，又為下藥重亡津液，故以辛溫升散其邪，必兼涼潤以製藥之燥。仲景諸方精義入神，豈如混沌湯清暑回陽一網兜乎？乃引附子瀉心湯為證，不知大黃、芩、連以麻沸湯浸，而附子別煮取汁，是重劑固陽為君，略寓泄熱之意為佐，法律固森然也。節庵之制回陽返本湯，以蠟茶、黃連、地漿作人參四逆之響導，方為妥帖。再考仲景證象陽旦條，厥逆咽中干，兩胚拘急而讝語，亦是寒熱並現，乃先與桂枝加附子湯，增桂令汗出。（楊曰：從來俱如此解，然桂枝實不能發汗。）雖陽明內結，讝語煩亂，更飲甘草乾薑湯，俟陽回足熱，乃與芍藥甘草湯以伸其腳，然後用承氣以止其讝語，先後緩急之間，不為病所惑，而次第合節，亦稱仙手。若使孫公當此，應將四方合而煎飲之，不反笑仲景之跋涉耶？（楊曰：《傷寒論》中此條最不可解，生平未見此證，古人案中亦未見用此法者。）果兼有陽明內結之證，而先用薑、桂、附子，恐不待先生之用承氣，而其人腳已伸矣。</p>
<p>又按：孫公原案云，實者邪氣實也，故以白虎湯、益元散應之；虛者正氣虛也，故以理中湯應之。今考此方分兩，純是少陰經陰盛格陽治法，若果有暑邪，豈五錢之石膏、滑石能與大劑參、朮、薑、附並取其效哉？案載脈洪大，不言有力無力，亦不載口渴與否，舌苔及小便若何，何以放膽用溫補？若痢兼紅白，腹痛惡心，面紅汗多，寒熱大作諸證，確係暑邪為病，溫補殊屬反背。若果能取效，則的系虛寒。其些微之知母、石膏，正如白通加人溺、豬膽汁湯耳，不得牽扯「暑邪」二字以混之也。然病經二十餘日，虛寒證早已亡陽矣，能待孫公用藥耶！</p>
<p>又按：虞花溪治婦人疫病，以三方合為一方，曰三合湯，不過於血藥中加寒下藥，卻是一路，與混沌湯風馬牛不相及也。混沌湯之名，出於《白雲集》，乃滑氏治陳伯英肺氣焦滿而告之曰：病由多欲善飲，且殫營慮，中積痰涎，外受風邪，發即喘渴，痰咳不能自安，為制清肺泄滿降火潤燥苦辛之劑，服之既安。眾詰出何方書？名何湯散？滑應之曰：是謂混沌湯。然觀其制方之義，實非混沌，不似孫公之真混沌也。</p>
<p>雄按：孫公之治，乃臨證之變通；俞氏之說，乃論治之規矩。至謂少陰格陽，則不應寒熱大作，汗淋淋下矣。暑邪忌用溫補，卻是正論。但既有瓜果寒涼之過度，則參、朮、肉桂與石膏、滑石輩並用，仍是桂苓甘露飲之例。即乾薑、附子，未始不可為寒冷傷中者補偏救弊。惟不可以御女一端，牽合陰證，致啟東扶格陽之疑，豈皆未讀喻氏書耶？若混沌湯之名，不過信口答俗人之問耳！雜合之病，不妨以雜合之藥治之。必欲執古書以合今病，未免膠柱刻舟，是病不依規矩以為患，醫第循規矩以為治矣，奚可哉！</p>
<p>楊曰：俞氏之論，鑿鑿有據，讀孟英此論，又爽然若失矣。可見學問無窮，在人之善悟耳。</p>
<p>又治金達泉瘧兼痢，日夜四十餘度，小腹痛甚，每登廁汗出如雨，下迫後重，小水澀痛，頭疼口渴，下午發熱，天明始退。左脈浮弦而數，右軟弱，中部稍滑，此內傷飲食，外感風邪所致。先與柴苓湯一劑，小便即清不痛，瘧發時寒多熱少。晚與人參敗毒散，去羌、獨，加葛根、防風、桂枝、白芍，次日頭痛痢疾俱減，夜才起三次。改與補中益氣湯，加酒芩、桂枝、白芍，（楊曰：先治外感，後治內傷，亦一定之序。）其夜瘧止，但微熱。再改胃風湯、人參、白朮、桂皮各二錢，白芍四錢，酒炒芩、連各一錢，當歸、茯苓、川芎佐之，炮薑、地榆為使，服後寒熱殄跡，夜起一次是糞，前方去桂枝，再三劑而巾櫛出戶矣。</p>
<p>俞按：此案用方妥當出色，可以效法。若王金壇治劉蓉川深秋患瘧而洞泄不止，（雄按：洞泄與痢迥殊。）欲去其一為快，乃用《局方》雙解飲子，一服而二病俱愈，更覺神妙。是得法於《澹寮》，所謂用藥多一冷一熱，半熟半生，分利陰陽之義也。然竊思瘧痢並作，初起者專用發散，如羌、防、柴、葛等，（雄按：風寒為病，固當如是，溫熱暑濕，不可概用，余治曹泳之一案宜參。）佐以赤苓、神麯，見血痢參入歸身、川芎，右關脈大可加厚朴，使在腑之邪提並於經而外解，最為捷法。倘或不應，審其挾寒挾熱，而用表裡分消之法，熱者去羌、防，加芩、連、香薷、滑石、寒者去柴、葛，加桂枝、乾薑。若熱甚者多實證，風藥不宜矣，大柴胡湯加黃連、滑石。寒甚者多虛證，風藥當戒矣，真武湯加桂枝、人參，此仍表裡雙解之法。至如人參敗毒散、補中益氣湯，虛證之表藥也；理中湯、八味丸，虛證之裡藥也。表證之虛而挾熱者，小柴胡湯；里證之虛而挾熱者，連理湯。表證之虛而挾寒者，麻黃附子細辛湯；里證之實而挾寒者，溫脾湯。以此諸法，將脈證配合審用，無不手到成功，（雄按：皆治風寒為病之法也。）如此條右脈軟弱為虛，瘧發寒多熱少亦為虛，（雄按：寒多熱少，亦有不屬虛者，總宜以脈證參看。）故第二劑即用人參，但汗出如雨，而於敗毒散去羌、獨加桂、芍是矣，又加葛根、防風，尚覺太過。</p>

<h1>卷二</h1>

<h2>痙</h2>
<p>周慎齋治一人，身熱至六七日，醫用地黃湯，遂致身體強硬，六脈沉伏，目定口呆，氣喘不能吸入。周曰：能呼不能吸，病由中焦實，脾不能運耳。用遠志、茯神各一錢，附子四分，橘紅六錢，磁石、蘇梗各一錢五分，沉香二分。一帖身和，六帖而安。蓋脾者為胃行其津液者也。脾不運，則胃陽不行於肌肉，肌肉無陽，所以強耳。醒其脾，則胃陽通而身和矣。</p>
<p>俞按：議論甚佳，然不能解其制方之義。</p>
<p>雄按：此所云中焦實者，殆痰濕盛於中也，地黃湯純陰凝滯之劑，服後自然閉塞。方以六錢橘紅為君，佐以沉香、蘇梗，皆是宣降開通之品，而磁石鎮逆，遠志舒郁，附子溫運，茯神通心，制方之義如此，別無奧妙。其實橘紅不必如是之重，儘可以枳實為君也。他如附子可易薤白，遠志可易菖蒲，即沉香、磁石、茯神，亦可以旋覆、半夏、赭石、茯苓等易之也。慎齋好奇，專走僻徑，故用藥如此，而令人莫測其意耳。</p>
<p>楊曰：絕世聰明，具此卓識，方許讀古人書。</p>
<p>俞惺齋治文選金萃之，勞倦傷寒而發斑，斑出犯風遽隱，遂發痙，手足搐掉，不時跳躍，渾身震動，時欲昏暈。用牛蒡、殭蠶、土貝母、荊、防、鉤藤不應，其脈細而弦勁帶數，改用虎膝、歸、芍、生地、鉤藤、秦艽、荊芥、桑枝，痙跳減半。因思病屬厥陰，當寒熱兼施，乃以桂枝、羚羊角為君，仍佐血藥，加竹湯、薑汁，一服而愈，蓋宗丹溪治少年痘後發痙之法也。</p>

<h2>疝</h2>
<p>吳心所治黃新陽案。</p>
<p>俞按：葉氏云，子和法中原有虎潛諸論，後醫棄諸不用。今觀此案，後醫亦有用之者矣。惟是葉案疝疾門集案甚少，而方法甚多，取材既富，運用又巧，更不可及。余鄉萬楓亭，乃蓮幕老名宿，年近七旬，忽患㿗疝，自檢古方中三層茴香丸，恪遵其法，服一月而病全愈。以是知古方每有不可思議之妙，豈獨虎潛丸哉！</p>
<p>常州尹文輝嗜火酒能五斤，五月間入閩中，溪水驟漲，涉水至七里，覺腹痛甚，半月後右丸腫大，漸如斗形。閩中醫與肝經之劑及溫熱之品，半載無功，歸而就商於李士材。李曰：嗜火酒則濕熱滿中，涉大水則濕寒外束。以胃苓湯加梔子、黃柏、枳殼、茴香。十劑而略減，即以為丸，服至十五斤，全安而不發。</p>
<p>俞按：此案若用三層茴香丸必不妥。觀李公之論病，益信醫貴變通也。</p>
<p>駱元賓患疝十年，形容枯槁，士材視之：左脅有形，其大如臂，以熱手握之，瀝瀝有聲，甚至上攻於心，悶絕者久之，熱醋熏炙方蘇，曰：此經所謂厥疝也。用治疝當歸四逆湯，半月積形漸小，更以八味丸間服半載不輟，積塊消盡而不復發矣。</p>
<p>盧不遠治陳孟杼之父，六月自山東邸中受寒起，尚淹淹未甚也，至次年二月，忽小腹與腰急痛，即令人緊挽外腎，稍松便欲死。盧曰：此小腸腑病也。經云：小腸病者，腰脊控睪而痛。乃以羌活入太陽小腸，佐黃柏、茯苓、肉桂等，並刮委中穴，痛立止，但足軟。盧曰：病因六月傷寒，太陽有所未盡，故入府而痛作。原以寒邪鬱火，仍需夏時則火力全而血脈通，邪始去也，果至五月天熱，身發紫斑，有汗至足而始健。</p>
<p>俞按：此條引經證病，毫不牽強，其用藥及刮法俱佳。至因足軟而溯病情之源流，真大有會心處。</p>

<h2>氣衝</h2>
<p>汪石山治蕭司訓案。</p>
<p>俞按：此條仍合丹溪二說同用之，非專主氣虛也。惟汪公於軟緩脈多以參、耆加麥冬、黃柏，不加附子，想系一生得手處。至如陳皮加作七分，氣即上衝，此尤氣虛之顯然者，前方可操券取效也。竊憶生平治氣衝證，用熟地、歸、杞、牛膝、石英、胡桃、坎炁、青鉛等藥而愈者，不計其數，又有用腎氣丸、補陰丸、三才丸而愈者，總不出丹溪之訓。惟一陸姓書生，形瘦飲食如常，別無所苦，而氣自臍下上衝，始僅抵胸，後漸至喉，又漸達巔頂，又漸從腦後由督脈及夾脊兩旁而下，又漸至腰踝足心，仍入少腹，再復上沖。其沖甚慢，約一年而上下周到，穀食遞減，肌肉愈削，凡兩年半而其人方死。凡溫涼補瀉之藥，靡不備嘗，針灸祝由無不遍試。余固不能愈之，就診於天士、一瓢兩先生，亦無寸效。恨其不遇張戴人、喻西昌諸公，聽其議論，以開茅塞也。</p>
<p>馬元儀治袁玉行，小腹厥氣上衝即吐，得飲則吐愈甚，諸藥不效。馬診之，兩脈虛澀，右尺獨見弦急，此下焦濁氣上騰，則胸中陽氣不布，故飲入於胃，上壅而不下達，宜通其地道，用調胃承氣湯，下宿穢甚多，繼漸培中氣而愈。</p>
<p>俞按：凡病皆有虛實，勿謂氣衝證皆屬陰虛氣虛也。如此條可謂別開一例，然必是暴病，或便秘，乃從右尺脈印其機耳。昔年曾與杜良一先生治下焦腎虛上焦氣衝者，杜用六味地黃湯合五磨飲子去木香，以汁和服而效，亦是新翻花樣也。</p>
<p>雄按：吳馥齋令正體腴皙，凡患恙，必延余診，雖時感重證，投藥三劑，無不愈者。惟二十八歲娩後，汛事遂絕，而別無所苦。余曰：此賦質使然，非病也。不必服藥。迄今十載，形體如常。仲秋患痰嗽，氣自少腹上衝至胸，即迷悶如寐，面目發黃，身熱足冷，膚痛拒按。云：氣衝起於上年，曾發數次，但不如是之劇耳。今則稍食葷腥，氣即上衝。餘脈之，軟滑微弦，遂予雪羹、杏、樸、連、夏、竹茹、旋覆以開痰降逆，送下當歸龍薈丸，直泄肝陽。一劑胸舒，再劑黃退，三劑便泄如火，諸恙霍然。</p>

<h2>暈厥</h2>
<p>俞東扶曰：眩暈有實有虛，如壯盛人實痰實火，脈滑大有力者，二陳、芩、梔，不噁心者，用酒製大黃二三錢，或加入，或為末，茶調下；如肥白人痰多氣虛，脈軟大或細軟者，六君加耆、附。又《內經》謂：諸風掉眩，皆屬肝木。故因於外風者，二陳加荊、防、鉤藤、天麻；因於內風者，即類中之漸，宜虎膝、牡蠣、枸杞、首烏、桑葉、菊花、生地、人參。戴復庵曰：頭腦挾風，眩暈之甚，抬頭即屋轉，眼常黑花，如見有物飛動，或見物為兩，宜大追風散，或秘旨正元散加鹿茸，不效，一味鹿茸，每服五錢，酒煎去渣，入麝少許。蓋鹿之陽氣鍾於頭，故以類相從也。此即就風之一端，而有虛實之分也。若在夏月，有冒暑而眩暈者，又不得概從風治。夫肝為風木之臟，故《內經》以眩暈專責之肝。若腎水虧少，肝枯木動，復挾相火，上踞高巔，而眩暈者，近時最多。董載臣云：婦人患此更多，宜逍遙散為主，輕則合四物，重則合六味加黃連，極有效驗。（雄按：如果腎水虧少，肝枯木動之眩暈，惟甘露飲、瓊玉膏、集靈膏、固本丸等方為宜，逍遙、四物，如何有效？董氏所云，蓋血虛眩暈耳。）他如晨暈屬陽虛，昏暈屬陰虛，亦辨證之大旨，未可據以為準也。又按：《內經》、仲景所謂厥者，手足逆冷耳，故有寒厥、熱厥之辨。今人所謂厥者，乃暈厥耳，亦兼手足逆冷，而其重在神昏若死也。其證亦有數端，因怒而厥者，亦名肝厥；因瘀而厥者，亦名薄厥；虛厥之極者，即為脫厥；因痰而厥者，多兼氣厥。（雄按：痛極而厥者，曰痛厥；陰虛火動者，曰煎厥。）此外更有痧厥、食厥、瘧厥、風厥、寒厥、暑厥等證。又《星甫野語》云：湖州湯榮光解元，世精於醫，有甲乙二人，凌晨忿爭，互抱不釋，故未嘗鬥毆也。甲忽臥地而僵，湯視之，遍體無傷，脈息未絕，胸次尚溫，面色青瘦，是蟲症也。空腹用力，蛔升而厥，以川椒、使君子等味，煎而急灌，須臾即蘇，下蛔升許而愈。</p>

<h2>虛損</h2>
<p>丹溪治一老人頭昏眩而重案。</p>
<p>俞按：脈緩大重按無力，參、耆、術是矣。連柏丸何耶？蓋以其微渴，大便四日一行，是緩大為虛中有熱也。</p>
<p>李士材治何金陽令郎患虛損，夢遺盜汗，羸頓已極，簡其所服，以四物、知、柏為主，芩、連、二冬為加減，診其脈大而數，按之極軟。李曰：中氣大寒，反為藥苦矣。乃以歸脾湯入肉桂一錢，人參五錢。當晚得熟寐，居十日而汗止精藏，更以還少丹兼進補中益氣，間服而瘥。</p>
<p>俞按：脈大而數，按之極軟，誠宜溫補矣。然用補得數脈退則愈，數脈不退，則仍不愈也。亦惟大而數，按之極軟，故可溫補；若細而數，按之極軟，死期已近，溫補何益耶！</p>
<p>楊曰：分別精當。</p>
<p>吳門張飲光，發熱乾咳，呼吸喘急，服蘇子降氣不應，服八味丸，喘益急，迎士材視之。兩頰俱赤，六脈數大。曰：此肺肝蘊熱也。以逍遙散用牡丹皮一兩，苡仁五錢，蘭葉三錢，進二劑而喘止。以地黃丸料，加麥冬、五味，熬膏服而痊。</p>
<p>又治主政唐名必勞心太過，因食海鮮，吐血有痰，喉間如鯁，日晡煩熱，喜其六脈不數，惟左寸澀而細，右關大而軟，思慮傷心脾也。以歸脾湯大料加丹皮、生地、麥冬。二十劑而證減六七，兼服六味丸，三月而愈。</p>
<p>俞按：上條以服溫納不應，悟其病因；此條於左寸右關得其病因。上條喜脈之數大，此條喜脈之不數。蓋二人俱系新病，一實一虛，尚易辨也。</p>
<p>雄按：兩條憑脈論證固有卓識，而用藥皆未盡善也。</p>
<p>葉天士治一人，年二十歲，夏月咳嗽，時帶血出，常發寒熱，食減形瘦，口不渴，行動時或仆地，有日輕，有日重，（雄按：因此故斷其當發瘧。）牙宣齦腫，晨起則血膠厚於齒齦上，脈細帶數。群以弱證治，二地、二冬等滋陰藥，遍嘗不效。葉用蘆根、滑石、杏仁、苡仁、通草、鉤藤、白豆蔻，囑云服二十帖全愈矣。若不滿劑，後當瘧也，其人服十帖已霍然，即停藥，十月中果發瘧，仍服此藥而瘧愈。</p>
<p>俞按：此係伏暑，（雄按：暑兼濕也。）似乎虛勞，故決以後當發瘧。設遇立齋、景岳、慎齋、慎柔諸公，此人無生理矣。</p>
<p>雄按：虛勞因誤治而成者多，余案中屢言之矣。有高某者年逾冠，於去秋完姻之前，曾患吐血，治愈之後，患疥遍身，上及耳頭，至今夏仲瘡愈，血復上溢，醫謂虛損也。迨血止後，痰嗽不已，寒熱時形，或礙左眠，或妨右臥，形消食減，左脅聚瘕，諸藥備嘗，不能起榻矣。延余診之，脈雖弦數，而兼軟澀，嗽必痰出而始松，舌色紫黯無津，湯飲下咽則脹，夜間不嗽，溺澀便艱，並非虛損。而病逾一載，初起必由吸受暑熱，殆滋補早投，遂致血痹於絡，氣滯於經，升降失調，機關窒塞，亟宜通展，庶可漸瘳。予葦莖湯合雪羹，加沙參、旋覆、竹茹、冬蟲夏草服之。病人云：前次所服，皆是滋潤之藥，下咽後，胸腹極其不舒，今服此劑，甚覺舒暢。二劑後，腹微痛，解青糞一次，嗣後每服藥，必下一次，其色漸黑，甚至如膠如漆，而各恙皆減，飲食漸加。繼去桃仁、雪羹，加養陰之品，調理而愈。昔袁簡齋太史云：人身氣血貴乎流通，否則有餘者為癰疽，不足者為勞瘵。楊素園大令謂袁公真絕代聰明人，雖不知醫，而此二語，已將虛實諸病因括盡無餘，奈古今之以名醫稱者，竟未達此義也。</p>
<p>天士治黃公子勞病案曰：大凡精血內奪為虛，虛不能自復為損，但須分析自上自下，從陰從陽起見為調理。是病始於飲酒勞心，營氣先傷，心陽下溜，腎陰不主涵蓄，素多夢遺。上年九月先有泄瀉，繼發痎瘧，雖暑濕熱六淫外侵，然邪之所湊，本氣先虛，血附於絡，絡凡十五，絡傷血溢，莫能堵御，皆是陽氣動極無制，譬諸颶風波濤矣。陽和風息，勢必漸緩。但既去難追，所謂血脫益氣，以無形能生有形也。必須靜形體，寧神志，令陰平陽秘，以收全功。用藥亦本四時生氣，間有客邪標恙，惟投輕劑一二即止。（雄按：虛人受感，宜知此法，俾即解散，則本元不傷。）昧者雜以溫補，遂致外邪留戀，反致戕元。冬春兩季按法，入夏色脈頗安。然里真未復，長夏陽泄地升，深抱復發之憂。果以黴濕潮蒸，驟暖鬱勃，遂令諸脈中之氣皆泄，絡中之血大沸，一損再損，臟真少藏，奇經八脈乏氣支持，衝任由前而升，咳逆烘熱，蹻維失護，督脈無權，炎熇日熾，脂液日消。急固護大氣以包舉，漸引漸收，冀其根蒂之把握，次則調和中土，以安穀知味，百日安靜，再為斟酌，其清涼治嗽，熱燥剛補，一概屏棄。天暑午後服生脈散，若便溏瀉則停之。每晨服一氣丹丸。遺滑必用桑螵蛸散。飲食不和用異功散加炒黑神麯、炒黑麥芽。四君子湯兼參苓白朮散間服。</p>
<p>俞按：此論真虛損病之上池水也，其方亦虛損病之返魂丹也。較夫專於滋陰專用補陽者，偏陂平正，奚啻霄壤。</p>
<p>雄按：上損下損，皆以脾胃為扼要，固治損之大旨也。然亦此人脾胃素弱，故病前先有泄瀉，而病後調理於天暑服生脈散時，獨囑云便溏則停也。設病屬肝腎真陰不足，能食便艱者，亦不能捨滋濡之藥為治矣。故醫者治病，必先辨症而後議藥，不可因俞氏之言，以為凡治虛勞，概不用滋陰補陽之藥，而專以此數方，恃為返魂丹也。</p>
<p>喻氏治楊季登長女案。</p>
<p>俞按：此條見識最高，用藥甚巧。然幸不咳嗽，想其飲食雖少，未必大減，故以苦寒取效。（雄按：飲食大減，因於脾胃弱者，大忌苦寒。若因熱鬱氣滯而減，則苦藥開泄，病去而食自加矣。）但不知脈之數乎？大乎？有力乎？設脈至細數無力，兼見便溏食減，此方其可用乎？因思生平所見損怯證，大抵陰陽虧損者居多，如此案之可用大劑苦寒，及可用大劑熱補者殊少。（楊曰：此真閱歷之言。）蓋陽虛易治，陰竭難治。譬之盆花，泥干根槁，日以一匙之水澆之，豈能望活？（雄按：惟根未全槁，尚有一線生氣者，灌溉得宜，未嘗不可轉活，滋濡之法，理亦如是。）惟霖雨霢霂，庶可復生。夫雨從何來，惟地氣上而為云，斯天氣降而為雨。但得脾胃健旺，嗜食善化，則水穀之精華上供於肺，可擬諸云；而肺以其精華下溉百脈，可擬諸雨。（楊曰：理雖極是，無如損之重者，多不能食，殊難望其脾胃健旺也。）此雖老生常談，實系養陰要旨也。</p>
<p>雄按：此說極是。但真陰虧損之證，亦有雖能食而不可治者。曩診聞步洲孝廉病，形雖消瘦，胃納不減，且能肩輿出門，惟脈甚細數，而兼弦澀。堅辭不治。（楊曰：凡損症得細數脈，無不死者。）逾月其同年商華伯謂余曰：君何指下有神耶？步洲並不上床，忽於食後釋箸而逝，數日前醫猶謂其能食可以無慮，此曷故也？余曰：真陰虧損，能食不充飢膚者，死證耳。</p>

<h2>勞瘵</h2>
<p>孫文垣治程道吾令眷，夜為夢魔所驚，時常暈厥，精神恍惚，一日三五發，咳嗽面色青，不思穀食，日惟啖牛肉脯數塊而已。時師屢治無功，吳渤海認為寒痰作厥，投以桂、附而厥尤甚。孫診之左脈弦，右脈滑，兩寸稍短，道吾先令眷二皆卒於瘵，知其為傳屍瘵證也，不易治之。乃權以壯神補養之劑消息調理，俟飲食進，胃氣轉，始可用正治之法。姑用參、苓、柏子仁、石菖蒲、遠志、丹參、當歸、石斛以補養神氣，加陳皮、貝母、甘草、紫菀化痰治嗽。服半月而無進退，乃制太上混元丹，用紫河車一具，辰砂、犀角、鱉甲各一兩，鹿角膠、紫石英、石斛各八錢，沉香、乳香、安息香、茯苓、紫菀、牛膝、人參各五錢，麝香五分，蜜丸赤豆大，每早晚鹽湯或酒下三十六丸。又制霹靂出獵丹，用牛黃、狗寶、阿魏、安息香各一錢，虎頭骨五錢，（鴷俗名啄木鳥。）一隻，獺爪一枚，敗鼓心破皮三錢，麝香五分，天靈蓋一個酥炙，煉蜜丸，雄黃三錢為衣，每五更空心蔥白湯送下五分，三五日服一次，與太上渾元丹相兼服，才服半月，精神頓異，不似前之恍惚矣。但小腹左邊一點疼，前煎藥中加白芍一錢，服之一月，精神大好，暈厥再不發矣。次年生一女，其宅瘵疾亦不再傳。</p>
<p>俞按：此較袁州道士所授方更奇更好，蓋彼則專於殺蟲，此則殺蟲而兼穿經透絡，搜邪補虛也。</p>
<p>喻氏治楊季登次女案。</p>
<p>又治熊仲紓幼男案。</p>
<p>俞按：前案箋方釋證，直造軒岐之堂，後案酌古斟今，足分和緩之座。</p>

<h2>發熱</h2>
<p>羅謙甫治王侍郎婿盜汗案。</p>
<p>俞按：此論可為損怯病之秦鏡，何以類案不收？（雄按：魏選已收。）又羅君治韓子玉父六十病消渴，至冬添躁熱，須裸袒以冰置胸腹乃快，其脈沉細而疾。羅亦曰：人身為主，時令為客，大寒之令，其熱更甚，經謂當所勝之令而不能制，名曰真強。乃孤陽絕陰必死之證也。與此條義同。</p>
<p>雄按：庚戌冬卜子安少府三令郎，久患虛嗽，醫用引火歸元法，頻投桂、附，馴致喘汗大熱，不能著復衣，甚欲搖扇。延余診之，脈洪數無序，曰：陰已竭，孤陽欲飛，天時猶不能勝，而況於藥乎？辭不治。果交春而沒。</p>
<p>立齋治王以道元氣素弱，復以考試積勞，於冬月大發熱，淚出隨凝，目赤露胸，氣息沉沉欲絕，脈洪大鼓指，按之如無，舌乾如刺，此內真寒而外假熱也。令服十全大補湯，囑曰服此藥，其脈能收斂為善。少頃熟睡，覺而惡寒增衣，脈頓微細如絲，此虛寒之真象也。以人參一兩，熟附三錢，煎服而安。夜間脈復脫，以人參二兩，熟附五錢仍愈。後以大劑參、朮、歸身、炙草等藥調補而痊。</p>
<p>俞按：見證皆是火象，惟氣息沉沉欲絕是虛象，脈洪大按之如無，則可決其內虛寒而外假熱矣。（雄按：其便溺必露虛寒之真諦，惜未載明。）服溫補後脈當收斂為善，此是格言，所當熟記。</p>
<p>李瀕湖自記痰嗽膚如火燎案。（見《本草綱目》黃芩條下。）</p>
<p>俞按：此條與立齋治法天淵之別，故病者如人面之不同，千態萬狀，無有定形，治病者能如以鏡照面，使隨其形而呈於鏡，則妍媸自別，不至誤認矣。</p>
<p>高果哉治陳幾亭病身熱，自卯辰以後上半身熱，申酉時中半身熱，亥子時下半身熱，熱至足底更甚，周而復始，一日一夜，循環無間，服藥久而不效，展轉沉重。高診之脈微無力，右尺脈伏而不起。因思尺脈沉伏者，腎虛也；日夜之熱上下循環者，腎火之浮游也；至子時而足底大熱，則腎火之歸就於下也。若當歸下之時而能攝住其性，不使上走，則熱自退矣，須效燒丹法治之。夫丹家用兩個陽城罐，一盛水銀丹藥，填塞其中，一則空而無物，以兩罐對合，其口扎住，鹽泥封固，然後煅煉其上空罐，必用濕紙當燒紅時搭於罐底，頻以冷水潤之，蓋下罐丹藥為火所逼，則淅淅望空罐中來矣，如升藥之望上而飛也。但水銀甚活，雖上入空罐，又能復入舊罐，必得涼冷之處，方能攝住其質，故用濕紙搭於罐底，丹必穩貼矣。今仿此法以制方，用童溺炙龜板一兩，熟地、枸杞各七錢，麥冬五錢，萸肉四錢，此五味皆補腎滋陰之藥，猶水銀與丹藥也；附子二錢，以從治而導火歸元，猶煉丹之火也；又用黃柏七錢，以降其火，猶罐底之濕紙與水也。黃昏煎好，子時方服。從前服藥，皆積於胸中而難下，服此藥覺胸中易下，三劑而熱除病愈。</p>
<p>俞按：此案認為腎虛火不歸元，大劑補腎，寒因熱用，與證極合，與脈似有未合，然其講理取譬，真堪嘉惠後人。</p>
<p>雄按：陰虛陽浮，於大劑壯水之中，反佐附子以從治，立方甚佳。取譬之義，仍是陰能攝陽，陽以陰為基之旨，並無新異也。</p>
<p>孫文垣治徐三泉令郎，每下午發熱，直至天明，夜熱更甚，右脅脹痛，咳嗽吊疼，以瘧治罔效，延及二十餘日，熱不退。後醫謂為虛熱，投以參、術，痛益增。孫診之，左弦大，右滑大搏指。乃曰：《內經》云：左右者，陰陽之道路。據脈，肝膽之火為痰所凝，必勉強作文，過思不決，木火之性不得通達，鬱而致疼。夜甚者，肝邪實也。初治只當通調肝氣，一劑可瘳，誤以為瘧，燥動其火，補以參、術，閉塞其氣，致汗不出，而舌苔如沉香色，熱之極矣。乃以小陷胸湯，用大栝蔞一兩，黃連三錢，半夏二錢，加前胡、青皮各一錢煎服，夜以當歸龍薈丸微下之，遂痛止熱退而安。</p>
<p>又治潘宅小价，年十六七；發熱於午後，醫者以為陰虛，用滋陰降火藥三十餘劑，熱益加，且腹中漸脹，面色青白。仍以六味地黃湯加知、柏、麥冬、五味之類，又三十劑，而腹大如斗，堅如石，飲食大減，發黃成穗，額亮口渴，兩腿大肉消盡，眼大面小，肌膚枯燥如松樹皮，奄奄一骷髏耳。孫觀其目之神，尚五分存。乃曰：證非死候，為用藥者誤耳。譬之樹木，若根本壞而枝葉枯焦，非力可生，今之焦枯，乃斧斤傷其枝葉，而根本未傷，設灌溉有方，猶可冀生。（雄按：藥無定性，總以對症者為良，故用失其宜，滋補即是斧斤，用得其宜，攻伐亦為灌溉。世人昧此，不問何症，喜服補劑，至死不悟，可嘆也！）以神授丹日用一丸，煮豬肉四兩伺之。十日腹軟其半，熱亦消其半，神色漸好。潘問此何證？孫曰：此疳積證也。誤認為虛，而用滋陰之藥，是以滯益滯，腹焉得不大不堅？況此熱乃濕熱，由脾虛所致，補陰之藥皆濕類，熱得濕而益甚矣，蓋脾屬土，喜燥惡濕。令以大蘆薈丸、肥兒丸調理一月全瘳。</p>
<p>俞按：發熱有二大局：一系外因，《內經》所謂熱病者皆傷寒之類也；一系內因，《內經》所謂陰虛則發熱也。然傷寒之類，已有風、暑、濕、風溫、風濕、濕熱、溫病、熱病、癉瘧、腳氣十餘種分別；若內因自陰虛之外，如勞倦內傷，陰盛格陽，氣虛血虛，火鬱陽郁，停食傷酒，伏痰積飲，瘀血瘡瘍，頭緒不更多乎？得其因又當分其經，而十二經之外，又有奇經，如陽維為病發寒熱，此非可以瘧治者，故臨證貴乎細辨也，即如孫公二案，一系肝經鬱火，一系疳積似勞，非其明眼，安能奏功。</p>

<h2>血證</h2>
<p>東垣治一貧病吐血案。</p>
<p>俞按：此條認病制方，其義最精。藥之分兩甚輕者，因受病在衛在肺，皆系親上部位。經云：補上治上制以緩，緩則氣味薄也。然系久虛之體，熱為寒束，故用此法。若體不虛而熱為寒束者，又當以麻杏甘膏湯加血藥以治之。</p>
<p>孫文垣治藏六老案。</p>
<p>又治族侄明之作文過勞，痰火上逆，大吐痰沫，因而嘔血，一湧數碗，昏暈汗出，奄奄而臥，略不敢動，稍動即嘔吐而血隨出，色鮮紅，飲食湯水皆不敢入，入即吐而眩暈，血即隨之。醫謂血湧如泉，體熱脈大，眩暈而藥難入，似無佳兆。孫診之曰：無妨。凡看證要圓活，勿拘泥。經云：心主血，肝藏血。又云：怒則氣上。又云：脈虛身熱，得之傷暑。今左脈弦大，右脈虛大，是不獨作文勞心動火，且亦被怒傷肝，抑又為暑所逼，以致木火上升，眩暈作吐。經云：諸風掉眩，皆屬於肝；諸嘔吐逆，皆屬於火。又諸動屬火，內為木火上衝，外為暑氣所迫，故吐而汗多，血隨吐出也。先以白丸子三錢解其暑氣，清其痰飲，抑其沖逆，則吐可止，吐止氣平，血自歸經。服後果嗒然而睡，醒則吐止食進，眩暈尋已。繼用滑石、香薷雄按：此味不妥。各三錢，黃連、扁豆各一錢五分，竹茹一錢，甘草五分，四帖而痊。</p>
<p>俞按：上條胸背皆脹，服陰藥脹更甚，合以兩關脈之洪滑有力，尚易辨其非陰虛，況惱怒食犬，亦可問而知之。此條因作文過勞，嘔血數碗，昏暈汗出，稍動即吐，而血隨至，勢殊危矣。況右脈虛大，不認為虛而認為暑，竟合左脈之弦大，大劑清暑清肝，真妙手也。</p>
<p>雄按：關琴楚令孫少西之證，與此略同，今年三十四歲，素善飲，夏季忽患發熱嘔吐腹痛，伊父母以為痧也。諸色治痧丹丸遍餌之，尋即氣衝咳嗽，血湧如泉，不能少動，動即氣湧，血亦隨之。沈某但知其陰分素虧，遽從滋補，服之益甚。延余診之，左脈弦洪而數，右洪大，曰：雖屬陰虛，但飲醇積熱於內，而暑火外侵，所服治痧諸藥，無不香竄燥烈，誠如火益熱矣。苟不亟為清解，則邪無出路，氣何能平，血何能止乎？而家素畏涼藥，連服滋補不應，遂求乩方服之，藥雖離奇，並木鱉、麝香，亦信而不疑。旬日後吐血已盡，氣出如奔，自汗形消，熱猶不退，徹夜無寐，舌絳無津，再求余治，脈已細數如絲，不能救藥矣。</p>
<p>董元宰少妾吐血蒸嗽，先用清火，繼用補中，俱無效。士材診曰：兩尺沉實，少腹按之必痛。詢之果然。此怒後蓄血，經年勿去，乃為蒸熱，熱甚而吐血，陰傷之甚也。以四物湯加鬱金、桃仁、穿山甲、大黃少許，下黑血升余，少腹痛仍在。更以前藥加大黃三錢煎服，又下黑血塊如桃膠蜆肉者三四升，腹痛乃止，虛倦異常，與獨參湯飲之，三日而熱減六七，服十全大補湯百餘日而康。</p>
<p>俞按：兩尺沉實，決其少腹有瘀，因瘀而蒸熱，因蒸熱而吐血，蓋從脈象認得病根，故大下之而病根拔也。</p>
<p>喻氏治顧枚先案。</p>
<p>俞按：此條議論制方夐絕人寰，豈西昌真有隔垣之見，如長桑、元化哉？亦惟熟於《內經》，而善於運用，則引集經義，證合病機，頭頭是道，無勉強附會之類矣。士材云：熟讀而精靈自啟，深思而神鬼可通。誠哉是言也！</p>
<p>周慎齋治陳姓人，年三十五歲，性嗜酒色，忽患吐血，一日三五次，不思飲食，每日吃粥一碗，滾酒反用數杯，次日侵晨再吃粥，前粥盡行吐出，吐後反腹脹，時時作痛嘔酸，晝夜不眠，飲滾酒數杯略可，來日亦如此，近七月矣。醫人並無言及是積血者，俱言不可治。周診之，六脈短數，曰吐後宜寬反脹，吃滾酒略可，此積血之證也。蓋酒是邪陽，色亦邪陽，邪陽勝則正陽衰，又兼怒氣傷肝，肝不藏血，思慮傷脾，脾不統血，中氣大虛，血不歸絡，積血中焦無疑。宜吐宜利，但脾胃大虛，不使陽氣升發，陰寒何由而消？先用六君子湯，白朮以蒼朮制之，加丁香溫胃，草蔻治中脘痛，三十餘帖，再用良薑一兩，百年陳壁土四兩同煎，待土化切片，陳皮去白，草蔻、人參、白朮、茯苓、甘草、胡椒、丁香各五錢，細辛四錢，共為末，空心清鹽湯或酒送下二錢。此藥專在扶陽，積血因陰寒凝結，陽旺而陰自化。服藥後血從下行者吉，乃血從上吐，約六七碗，胸中悶亂，手足厥冷，不省人事，急煎人參五錢，炮姜八分，遂靜定。後胸中悶亂，臍下火起而昏，用茯苓補心湯一劑而安。後用六味加炮薑、人參而痊。</p>
<p>俞按：此條認病有卓見，用藥有妙解，與吐血治法絕不相關，因在血止後得吐反脹，當治其脹耳。案中邪陽勝則正陽衰，至言也。凡人逞欲，藉酒為助，自覺陽強可喜，不知仍靠命門真陽作主。迨欲既遂而邪陽息，真陽始寧。欲火頻起頻息，真陽必漸用漸衰。或欲起而勿遂其欲，似與真陽無損。然如燈火本明，而於燈下另添一火以逼之，此火漸旺，則燈火漸滅，理更可悟。故凡中年之後，多病之人，必以閉關為福，尤以泊然不起欲火為大福也。</p>
<p>張路玉治陶震涵子，勞傷咳嗽失血，勢如泉湧，服生地汁、墨汁不止，用熱童溲二升而止。張診其脈弦大而虛，自汗喘乏，至夜則煩擾不寧，與當歸補血湯，四帖而熱除。時覺左脅刺痛，按之漉漉有聲，此少年喜酒負氣，嘗與人鬥很所致。與澤術麋銜湯加生藕汁調服，大便即下累累紫黑血塊，數日乃盡。後與四烏鰂一藘茹為末，分四服，入黃牝雞腹中煮啖，留藥蜜丸，盡劑而血不復來矣。</p>
<p>俞按：自汗喘乏，脈弦大而虛，不混投地黃湯、生脈散，高矣。用補血湯者，以其夜間煩擾不寧耳。至因脅痛，想及鬥很，則此人形色必壯實，故消瘀不補益，最為得法。</p>
<p>又按：吐血一證，近日最多，有有因而患之者，亦有無因而患之者。外因六淫之邪，動血猶輕；內因酒色憂憤，動血為重。及不內外因，作勞舉重，忍飢疾行，皆使失血，然尚可求其因而治之。若與諸項並不相犯，無端而吐血，此則最重。《內經》謂地居太虛之中，大氣舉之也。大氣偶泄，即有地震山崩之患，而水不安瀾，或溢或竭。人身亦然。大氣厚足以包固，縱犯三因，亦成他病，不至吐血；大氣衰不能擔護，如堤薄而水易漏，堤塌則水必決也。世人只守血熱妄行一說，誤矣。至繆氏治吐血三訣，舉世奉為明訓，實未細繹其義耳！首條云宜行血不宜止血固是，然行血之藥，惟有大黃，所謂血以下行為順也。又須看其血證之久新，與失血之多少而去取之。蓋宜下於妄行之初，不宜下於脫血之後也。今本文不註明行血者何藥，但云行血則血循經絡，致近日有多服山羊血而死者，安知不誤於此句？至於血來洶湧，必須止之，古方花蕊石散、十灰散及童便、墨汁等，皆欲其止也。止之後或消或補，尚可緩商，任其吐而不思所以止之，何從求活？特是止血之法，貴於虛實寒熱認得清，斯於補瀉溫涼用得當耳。本文云止之則血凝，血凝則發熱惡食而病日錮，抑思今之吐血者，每多發熱惡食，何嘗由於血凝耶？果系血凝，則仲景大黃蟅蟲丸尚可救之，只慮血去無算，陰虛則病，陰竭則死，奈之何哉！此條宜補肝，不宜伐肝，注謂養肝則肝氣平，而血有所歸，伐之則肝虛不能藏血，血愈不止，此說誠妙。然亦要看脈象若何，肝陰固宜養，肝陽亦宜制。設遇木火兩亢，血隨氣逆者，則抑青丸、龍膽瀉肝湯、醋製大黃、桃仁、枳殼、青鉛、鐵鏽水等，何嘗禁用。蓋用得其道，則伐之即所以補之，不得其道，而徒奉熟地、當歸、萸肉、枸杞等為補肝之藥則謬矣。（雄按：諸病皆然，醫宜識此。）末條宜降氣。夫氣有虛實，亦分寒熱。血證之氣虛者多，實者少，熱者多，寒者少，惟恃強善怒之人，肝氣實而吐血往往有之，抑肝清肝，宜降氣，又宜降火矣。他如肺氣虛而不降，則生脈散、觀音應夢散；中氣虛而不降，則四君子、參橘煎；腎陽虛不能納氣而不降，則八味、黑錫丹；腎陰虛不能納氣而不降，則大補陰丸、三才封髓丹。必求其所以不降之故而治之，斯為善降，烏可恃韭汁、蘇子、降香為下氣藥耶？（雄按：凡用藥之道，不論何病，皆當求其所以然之故而用之，不獨此也。）至不宜降火之句，醫中狡獪者藉為口實，輒稱吐血服生地、麥冬必成勞病，隨將假阿膠售人以代二物。（雄按：即不售假阿膠者，亦藉此為口實，不問其病因，輒用人參、熟地、甘草、乾薑、附、桂、黃耆等熱補藥以誤人矣。）不知世之一見血證，概用生地、麥冬，誠應訶責，若將二特屏棄，豈非因噎廢食乎？（雄按：豈但此耶，甚有凡屬清涼之品，如沙參、竹茹等藥，一概視同砒鴆者矣。）餘生平所見血溢上竅之人，合乎丹溪所謂陽盛陰虛，有升無降者，十居八九；合乎仁齋所謂陽虛陰必走者，百中一二而已。惟虛而有火者，清補並用；虛而無火者，氣血兼培。或宜降火，或不宜降火，總無一定之法也。若謂服苦寒藥必死，則仲景《金匱》之瀉心湯，不幾為罪之魁哉！</p>
<p>楊曰：舒馳遠於虛損失血，極斥滋陰之謬，陳修園亦主此說，或俱未見此等證乎？</p>

<h2>便血</h2>
<p>丹溪治老婦下血案。</p>
<p>俞按：此條脈證，似虛似實，非寒非熱，甚為難辨。觀其講病源與用藥法，及藥之輕重去取，俱有精義，又極平和，十年之病，半月而愈。仙乎！仙乎！</p>
<p>孫東宿治陳鹿塘有腸風臟毒之證，大便燥結，數日不能一行，痛苦殊甚，百醫不效，其脈兩寸皆數，兩關皆弦而無力，兩尺洪滑而左尤甚。孫曰：東垣謂大腸喜清而惡熱，脾胃喜溫而惡寒，以胃屬土，而大腸屬金也。今此乃胃寒腸熱之證，（楊曰：以脈與症合參而得之。）當以腸風臟毒之藥為君主，外以養血之劑裹之，使不傷胃氣。（楊曰：巧法。）蓋藥先入胃而後傳入大腸，入胃時裹藥未化，及入大腸，則裹藥化而君藥始見，亦假途滅虢之策也。因以大黃酒浸九蒸九曬二兩，木耳二兩，槐花三兩，郁李仁、皂角子、象牙屑、條芩各一兩，血餘、升麻、荊芥各五錢，為末，煉蜜丸，外以四物湯加蒲黃各一兩為衣，空心午後各以米湯下二錢，果血止而大便不燥，飲食日加矣。</p>
<p>俞按：裹藥法，以治腸風便燥頗相宜。蓋裹藥曬使堅干，誠可傳入大腸，非比走經絡及他臟腑，必由脾胃轉送也。</p>
<p>周慎齋治一人患腸風，血大下不止，頭暈倒地，三四年不愈，皆曰不可治。周診脈左手沉細，右手豁大。此因內傷寒涼太過，致陽不鼓，故左脈沉細；血不歸絡，火浮於中，故右脈豁大。用補中益氣湯十帖，再用荊芥四兩，川烏一兩，醋麵糊丸，空心服愈。</p>
<p>俞按：此丸名烏荊丸，恰與臟連丸為對待之方，一熱一寒，判如裘葛，用得其宜，神應無比。</p>
<p>洛陽一女子，年十七，耽飲無度，多食魚蝦，蓄毒在臟，日夜二三十次，大便與膿血雜下，大腸肛門痛不堪任，醫以止血痢藥不效，又以腸風藥則益甚，蓋腸風有血無膿也。如此半年，氣血漸弱，食漸減，肌肉漸消，稍服熱藥，則腹愈痛，血愈下，稍服涼藥，則泄注氣羸，粥食愈減，服溫平藥，則如不知，將期歲，醫告術窮，待斃而已。或教服人參樗皮散，謾試之，一服知，二服減，三服膿血皆定，不十服而痊。乃求其方，云治大腸風虛，飲酒過度，挾熱下利膿血，疼痛多日不差。樗根白皮、人參各二兩為末，每服二錢，空心溫酒調下，不飲者溫米飲下，忌油膩、濕面、青菜、瓜果、甜物、雞、魚、蒜等物。</p>
<p>俞按：此方治久病則可，治暴病則不可，以補澀之藥，恐留錮病邪也。</p>
<p>雄按：鴉膽仁治久痢脫肛腸風等症，為能去留錮之邪而堅陰也，較此方尤為無弊。</p>
<p>嘉興府尊王竺廬，因案牘勞神，而得便血症，服天王補心丹及玉女煎、知柏地黃丸等方，屢愈屢發，至次年三月漸劇，食減面黃形瘦，精神衰弱。無錫龔商年用補中益氣湯，以醋炒升麻、當歸而血止。半月後偶食青菜腐湯，血復下，龔謂寒濕傷脾，用蒼朮理中湯遂愈。十月中值府考閱卷過勞，血又大下，龔診脈弦勁帶數，腹脹不思食，易怒，進加味逍遙散不應，改用桃花散、歸脾湯，轉口乾咳嗽，佐以阿膠、熟地，又溏瀉腸鳴不食，困憊難支。胡灝軒自省中來診，曰歸脾須合右歸，重用人參則效，定方人參五錢，山藥三錢，枸杞、菟絲、棗仁各四錢，茯神、白芍、文蛤炒各錢半，炙草、炮姜各七分，地榆炭八分，烏梅、大棗各二枚。一劑而血止，遞加耆、朮、熟地，再去地榆、文蛤，佐以附子，而穀食漸增，病遂全愈。</p>
<p>楊曰：方與脈不相證對，既以此得痊，則脈象必別有可據處。</p>

<h2>溺血</h2>
<p>俞東扶曰：《內經》謂胞移熱於膀胱則溺血。故溺血證屬熱者多，實熱則脈洪數有力，宜導赤散加梔、芩、淡竹葉、鮮小薊，調滑石末，沖生藕汁；虛熱則脈洪數無力，宜生地、歸、芍、梔、芩、牛膝、麥冬、黃連等，調發灰或茅根汁；若夏月有感暑熱者，六一散加黃連、生地；若少年有血虛挾瘀者，阿膠、三七二味多服；若阻塞不通，並可加冬葵子、生蒲黃以化之；多怒人有肝火怫鬱者，龍膽瀉肝湯，甚則當歸龍薈丸。惟久而不止則為虛，歸脾、補中益氣酌用；或老年及久病人，始雖熱證，久變虛寒，並可用八味地黃丸、四味鹿茸丸等方。然用至此種藥，小愈仍復發者多不救。（雄按：老年久病，有溫補誤投，雖至死不屬虛寒者，不可不知也。）</p>

<h2>汗</h2>
<p>慎齋治一人自汗足冷，不能行動，尺脈沉大，此脾氣下陷也，故肺失養而汗出；足乃脾腎經行之地，脾陽不舒，腎氣亦郁，所以冷也。以起脾養肺為本，溫腎為標，用參、耆、山藥補脾陰，固表扶肺，稍加桂溫之而愈。</p>
<p>俞按：自汗而足冷不能行動，顯系下焦虛寒矣。尺脈當沉細，何反沉大？粗工舍脈憑證，必將溫補肝腎，而用熟地、枸杞、蓯蓉、鹿茸、桂、附等藥；即憑脈論證，亦將認為下焦濕熱，而用二妙散、防己、黃耆等方，俱與脾氣下陷隔一層也。</p>
<p>又按：陽虛自汗，用參附、耆附、黃耆建中；陰虛盜汗，用當歸六黃湯、地黃湯加白芍、牡蠣、小麥、糯稻根鬚；表虛用玉屏風散；心虛用歸脾湯；肝火用左金、白芍、龍、牡；胃火用涼膈散、白虎湯；風勝用桂枝湯；濕勝用羌活勝濕湯；痰用導痰、溫膽；暑用清暑益氣；（雄按：有宜清不宜益者，故所論諸方皆不可執也。）以及麻黃根、敗蒲扇、封臍藥、外撲法，皆可擇用。他如頭汗、陰汗、心窩汗、飲食汗，方各另採，總宜多閱諸書，固難備述也。</p>

<h2>七情</h2>
<p>王中陽治江東富商案。</p>
<p>俞按：豁痰湯亦逸人自定，乃以小柴胡湯去薑、棗，加紫蘇、薄荷、羌活、厚朴、陳皮、枳殼、南星。云治一切痰疾，為滾痰丸之副。或以前胡易柴胡。其泥金膏，則用陰地上蚯蚓糞三分，熟皮朴硝二分，同研細，水調敷。杖毒活血方，則用蛇床子、光草烏、火煅爐甘石、枯礬、檳榔、花粉、綠豆粉、凌霄花、赤石脂、白石脂、大薊根葉、小薊根葉，為末，另煎大黃汁調敷。云治杖瘡奇妙。</p>
<p>又治一富室子弟，因憂畏官事，忽患惡聞響聲，鞋履作聲亦即驚怖，有事則彼此耳語而已，飲食自若，舉動無差。王令服滾痰丸二次，即能起坐應酬，再以豁痰湯，分心氣飲，相間服之而愈。分心氣飲者，乃二陳加紫蘇、羌活、桑白皮、肉桂、青皮、腹皮、木通、赤芍也。</p>
<p>又治一人，因相識官員，為事猝為當道直入其室搜索，男人即驚死，其妻須臾蘇省，失志顛倒，棄衣摸空。王令服滾痰丸二次，下咽即睡，次夜又一服，仍用豁痰湯加枳實，服數日而愈。</p>

<h2>郁</h2>
<p>周慎齋治一人，六脈澀滯，脅痛吐臭痰，噁心食不下。蓋脅者，少陽之分也。清氣不升，濁氣鬱於少陽之絡，故痛；濁氣上逆，故吐臭痰而噁心，濁氣故臭也；食不下者，少陽清陽之氣不升，則肝不能散精也。用柴胡、白蔻各二分，黑山梔、甘草各五分，白芍、丹皮各一錢，茯苓、廣皮各一錢五分，歸身八分，麥冬二錢。十帖全愈。</p>
<p>俞按：脅痛吐臭痰，昧者必妄認肺癰等症，得此論可與石山治臭痰一案，並垂不朽。</p>
<p>雄按：余治一勞力男子，深秋患發熱凜寒，咳嗽氣逆，不能仰臥，痰出甚臭，嗽則左脅大痛，溺赤便閉，口渴苔黃，脈則弦滑而數。細詢病因，其人平素嗜飲，醉飽後偏向左眠，是痰飲之積於左者，久而即臭，非內癰也。其發熱譫語，胸悶不飢，是積痰因感而動也。遂予石菖蒲、旋覆、竹茹、蔞仁、冬瓜子、枇杷葉、省頭草、滑石、黃芩、連翹、絲瓜絡、杏仁、蘆菔、海䖳，為大劑投之，痰更大吐，大便亦行，數劑而平。然舌轉光紅少液，脈亦弦數而勁，隨用甘涼養液涵陰，而食進病痊。</p>
<p>楊曰：讀此案，可知周案立論雖高，而用藥尚不能絲絲入扣，勿謂後人不及古人也。</p>

<h2>痰</h2>
<p>李集虛勞而無度，醉而使內，汗出多痰，服寬膈化痰之藥，轉覺滯悶。李士材診其脈沉而澀，兩尺尤甚，因謂其婿曰：痰得澀脈，一時難愈，況尺中澀甚，精傷之象也。在法不治，勉用補中益氣加半夏、茯苓。二劑有小效，眾皆喜。余曰：澀象不減，脈法無根，死期近矣。果十餘日而沒。</p>
<p>俞按：此與立齋所治梁厚齋同一澀脈，而死生不同者。彼惟尺脈浮大，按之則澀，此是六部沉澀，兩尺尤甚，輕重自別也。況又云脈法無根，想是沉而細澀，按之欲絕耳。不然，哮嗽門中顧明華案，（見喘門。）亦系澀脈，何以先補養而後吐下，仍能愈之耶？</p>
<p>雄按：汗出精傷，脈法無根，固是死證，然不宜用此等藥矣。</p>
<p>楊曰：尺中既虛，何故復用升提？既患汗出，何故又用升、柴？</p>
<p>又治秦景明素有痰飲，每歲必四五發，發即嘔吐不能食，此病久結成巢囊，非大涌之弗愈也。須先進補中益氣，十日後瓜蒂散頻投，湧如赤豆沙者數升，已而復得水晶色升許，如是者七補之七湧之，百日而窠囊始盡，專服六君子、八味丸，經年不輟。（雄按：脈證皆未詳述，不知何故。）</p>
<p>俞按：人身本無所謂痰，痰因病而生耳。惟治其所以生痰之病，則痰自除。至方書所載，有風痰、寒痰、火痰、濕痰、燥痰、清痰、老痰、味痰、酒痰、郁痰、頑痰、驚痰、虛痰種種名色，而變現諸症，千態萬狀，又似種種雜病，此又不得以種種雜病法治，但治其痰則病自去。蓋標而本之，本而標之，總在醫家之變通也。</p>
<p>雄按：黃錦芳云：鉛山張敬亭患痰喘，反覆顛倒，夜不能寐，不思飲食，舌苔甚滑，診其脈洪數有力，而左獨甚，醫者謂其痰白為寒，進廣、半、川樸，餘力止之曰：凡審病須兼眾證與脈並審，不可專指痰色一證為據。若痰白而見氣緩不促，脈數無力，或軟滑，其白應作寒看，今則六脈皆數，皆數非火而何？又痰白而胸腹不熱而和，其白亦作寒看，今自臍至胸，有如火烙，非火而何？又氣喘不急，痰出舒緩，其痰之白亦作寒看，今喘如雷鳴，急迫已極，非火而何？正如釜下火急，釜中之水，被火逼迫上沸，滾為白沫，宜乎其痰白如銀也。遂以六味地黃湯投之，兩劑而沸略減，多劑而沸始平。（雄）謂世人但以痰色辨寒熱，每多誤治，何氏《醫砭》嘗論之矣。而此案審證須兼眾證與脈並審一語，尤為臨證要訣，不僅為辨痰而發也。第案中未辨其溲便如何，則兼證尚欠詳晰。如兼見小溲短赤者，六味湯送下滋腎丸，必奏效更捷。</p>
<p>楊曰：痰證極多，而古今方書所載，不過燥濕健脾而已。至治熱痰之方，已不多見，若陰虛生痰，則絕無論及者。喻氏稍引其端，而不肯暢明其旨，致後人無徑可尋，誠憾事也。</p>

<h2>痞滿</h2>
<p>孫文垣治陳松弈，五更胸膈脹痛，寒熱溫涼遍嘗不效。診之右寸軟弱，左平，兩尺亦弱。孫曰：此肺腎二經之不足也。補而斂之，可無恙矣。以人參、破故紙、山茱萸各三兩，鹿角膠、鹿角霜各五兩，杜仲、巴戟、茯苓、車前各一兩五錢，山藥二兩，鹿膠酒化為丸，空心淡鹽湯送下。又以御米殼三兩去筋膜，蜜水炒訶子麵煨去核一兩，陳皮一兩五錢，蜜丸，五更枕上白湯送下一錢，服一月病不再發。</p>
<p>俞按：人參、鹿膠之丸，人猶能用，粟殼、訶子之方，夢想不到矣。與陳武塘噙化丸，可比熊掌猩唇，各一異味。</p>
<p>雄按：此條不但脈象屬虛也，膈脹只在五更，則余時不脹，顯為虛證。人參、鹿角之丸，佐以茯苓、車前，是導之下行，以斂虛氣之上逆，故不用蜜丸，而送以鹽湯。粟殼、訶子之方，丸之以蜜，服於枕上，是使其留戀胸膈，收斂肺化痰之積，用藥之法，真絲絲入扣也。</p>
<p>楊曰：注語精極。</p>
<p>又治李古愚，每食後即大便，腹皮稍脹急，胸膈滿悶。醫與參、術則痞悶愈甚，小水清而長。孫脈之左寸澀，右寸滑，按之如黃豆大，且鼓指，關尺之脈皆弦小，左尺迢迢有神。楊曰：列脈象甚明晰。據脈，乃積痰鬱滯於肺莫能出，以致大腸之氣不固也。法當效丹溪治乃叔用吐以去上焦痰積，而大便自實矣。先用苦梗、蘆菔子各三錢，白蔻仁、橘紅、山梔各一錢，川芎五分，生薑三片，蔥白三莖。煎服探吐，不能盡出。又以蘆菔子一合擂漿水，加蜂蜜與半碗飲之，始吐膠痰二碗。平日每小水則大便並行，吐後小水始能獨利，連行三四次，而胸腹寬舒。初亦以吐為懼，至是豁然稱快，大便亦不頻下矣。再以二陳湯加白朮、旋覆花、麥芽調理全安。</p>
<p>俞按：右寸滑而有力，故知肺有積痰，左尺迢迢有神，故可吐而不傷。</p>
<p>陳武塘曰：余長子揆，向患遺精，於天啟丁卯冬，遺證大作，腎竅漏氣出如煙霧，時作時止，眠食漸減，形瘁骨痿，大便艱澀，其色頗黑。用豬膽汁入大黃、皂角末導之。初用甚快利，並上部諸火亦覺清息，延至戊辰六月，則愈導愈秘。因思膽汁、大黃苦寒，皂角刮削脂膏，故求潤而彌燥，乃以豬膽去汁入蜜同溫水滿之以為導，導久而便始不艱。然八月後不能起床，至己巳五月，肌肉愈瘦，眠食愈減，胸膈如有物踞之，腹則空虛，上則痞悶，每食少許，輒停留不下，隔六七時猶噯，呼吸之氣亦礙而不暢。以為因虛致滯，則服人參必增懣；以為稠痰蓄血，用疏快之劑，又無寸功。身常畏寒，夏令猶掩重幃，惟身不熱，口不渴，聲音雖輕而不變，面色白而不赤不黑，每日僅用粥餌二盞，或終日不食，旁人疑在旦暮，卻已綿延兩載。時名醫高果哉、孫見心晨夕診視無功，又延姑蘇柯生，柯大言人也，乍聞其論不勝喜，及治罕效。乃追憶從前大腸氣數不禁，遂覺胸膈痞悶，繼因過防衄證，日飲童溺，及滋清藥過多，大便漸潤。然大便後即覺腹中虛怯，而胸膈分毫不寬，若大便所下甚多，則胸膈痞悶愈甚，於是疏上補下，茫無措手。遠延鎮江張承溪至，張診二次，曰：男子久病，以太谿、衝陽脈決其死生，今六部無險，太谿、衝陽有根，必不死之脈也。其證名為下脫。凡陽氣上絕，陰氣不得上交於陽，則為下脫，陰竅漏氣是也；陰氣下絕，陽氣不得下交於陰，則為上脫，耳中出氣是也。方家以失血之證為錯經妄行，而不知氣證亦有錯經妄行者。蓋腎納氣，過瀉成虛，則腎氣不能自納，遂錯行而妄漏。經云醉飽入房，五臟反覆。五臟部位寧有反覆之理？正謂其氣錯亂也。今未能提其氣復使歸經，所以時漏不止，漏則氣虛，氣虛於下，則痰結於上，故飲食難化而成鬱結痞滿之證。今用藥疏導鬱滯，不宜誤用滋陰；宜有提有降，合成疏通，不宜專用順氣，若認此為陰虧之證，遂謂虛不受補者不治，則大誤也。陰虛生內熱，豈有陰分大虧，臥床年半，而不發骨蒸潮熱者乎？（雄按：可治之機在此。）滋陰之藥，不惟無功，且於開胸膈進飲食有大礙。今但使膈間日寬一日，穀氣日增一日，則陰不補而自補矣，（雄按：論證論治，句句名言。）起色可指日而待。煎方用蘇子、山楂各二錢，橘紅、半夏曲各一錢五分，茯苓、烏藥、香附、五穀蟲各一錢，升麻八分，柴胡四分，臨服入韭汁二匙。此方疏郁為主，而升降互用，其旨頗精。服二十劑，雖不大效，然視向之服一藥增一病者，則霄壤矣。秋初張別去，余因其疏郁大旨，為之推廣通變，自定噙化丸，用人參六錢，醋製香附、橘紅各四錢，貝母、桔梗各三錢，松蘿茶二錢，白蓬砂、西牛黃、乾蟾炙存性各一錢，薄荷葉三分，以烏梅肉二錢蒸爛，同竹瀝梨膏為丸，每丸一錢。余因胸中結塊，原起於午食後即臥，用噙化丸，使睡中常有藥氣疏通肺胃之間，彼將欲結藥往疏之，新結不增，舊結漸解。臥時成病，以臥時治之，且病在膈上，不用湯之盪滌，丸之沉下，（雄按：胸膈痞塞者，堅硬之丸並不能沉下，徒增其病耳。而用噙化丸徐徐沁入，日計不足，月計有餘也。）服六七十丸後，膈間漸寬。爾時醫家疑氣墜之證，恐深秋逾劇，以秋金主降也。余謂肺主氣，氣得其令，則降者自降，升者自升，各得本職，非謂有降而無升也。能使清升濁降，則氣墜之病，正宜愈於深秋。（雄按：陳公因承溪之旨而推廣變通，可謂善得師矣。）其噙化丸中不用升藥，洵為青出於藍。論氣數言，尤推卓見。至八月病人偶傷麥粉，下以沉香丸，忽去膠痰數升，胸膈頓爽，殆藥力漸到，而元氣漸回，邪無所容，而乘勢自下也。然氣弱形羸，長臥不起如故。冬底醫家又防春來木旺，脾病轉劇。余曰無憂。凡脾受肝克，則畏木氣來侵，今乃脾困而非脾弱，冬氣閉塞，脾困所畏，幸喜及春，方藉木氣疏通之，已而食果稍增，肌亦漸澤，五臟之情變化如此，執生克之常，幾何而不誤人。（雄按：即《內經》土得木而達也。）庚午四月，張公復至，曰膠痰去，病根拔矣。骨痿不能自行立者，濕氣留伏脾經故也。投以白朮煎，用白朮一斤，蒼朮四兩，作膏服之，未終劑而起。此病奇而久，約費千日之醫治，竟得全生，故備識之。</p>
<p>俞按：陳公以縉紳先生而講醫理，卻極精深。所論噙化丸治法微妙，切合病機，雖老醫見不到此。（雄按：《廣筆記》莊一生曾用此法，宜參。）至於張承溪之用術煎，不認骨痿為腎虛而為脾濕，見亦高人數等矣。（雄按：張公早洞悉其病源也。蓋濕痿與陰虛痿見證相似，而病源迥異，須參脈色舌苔及便溺，自有分別。）</p>

<h2>嘈雜</h2>
<p>孫文垣治葉潤齋案。</p>
<p>俞按：嘈雜證，丹溪謂是痰因火動，乃噎膈之漸，故多用黃連、山梔、蒼朮、半夏、白芍之類。然亦有思慮傷血者，有腎陰虛而胃火旺者，又宜用生地、阿膠、柏子仁、麥冬、石斛、蘆根之類。若此案乃蟲蝕脂膏，嘈雜門中所未載者。（雄按：魏選列諸蟲門。）昔年曾見天士先生治一婦人，胸痞心嘈，用鹽水煮石決明三錢，經霜桑葉二錢，丹皮一錢，黑梔一錢，三角黑胡麻二錢，細生地三錢，四帖而愈。此又肝火鬱於胃之嘈雜也。</p>
<p>雄按：余治高雋生孝廉令堂，嘈雜便溏，腸鳴少納，脈至虛弦軟滑。雖肝炎火而痰飲動，然脾臟受戕，舌色淡而無液，苦燥涼潤，皆不可投，與潞參、九蒸白朮、甘草、木瓜、薏苡、白芍、竹茹、建蘭葉、茯神、鹽水炒橘紅、牡蠣為方，數劑而愈。</p>

<h2>嘔吐</h2>
<p>李士材治兵尊高元圃，久患嘔吐，診脈氣口大而軟，曰此藥氣多而穀氣少也，且多犯辛劑，可以治表實，不可以治中虛；可以理氣壅，不可以理氣弱。用熟半夏五錢，人參三錢，陳倉米一兩，白蜜五匙，甘瀾水煎服，十劑而愈。</p>
<p>又治孫瀟湘夏月食瓜果過多，得食輒嘔，二十日勿止，困頓床蓐，手足如冰，舉家驚惶。李曰：兩尺按之有神，胃氣縷縷不絕，只因中氣本弱，復為寒涼所傷耳。遂用紅豆丸，連進三服，至明日便能食粥，兼與理中湯加丁香、沉香。旬日之間，飲食如常矣。</p>
<p>孫文垣治邵姓者年五十，嘔吐物如爛豬肺狀，胸背脹，前醫以翻胃治不效，反加潮熱煩躁，飲食不入，因謂肺壞，辭不治。孫診兩寸滑數，左關尺澀，乃曰：若果肺壞，聲音當啞，今音朗而獨胸背作脹，由於酒後忿怒，瘀血痰飲，積於胸膈為病耳。以滑石、茜草、桃仁、小薊、歸尾、香附、貝母、梔子、枳殼、甘草，十帖而愈。</p>

<h2>噎膈</h2>
<p>周慎齋治一人，年五十五，胸前微痛，無休息時，六脈俱無胃氣，惟胃脈略緩。蓋胸中受氣于丹田，時時心下微痛，乃丹田陽氣不到胸中，隔氣無疑。脾脈微緩，調理脾胃，猶可遷延。保元湯加山藥、沉香。</p>
<p>又治一女，喉間常起噎鯁，飲食難消，舌上乾燥，胸前痛如有所傷，兩腰無力，面上肉緊，六年矣。用六味湯加白芷、細辛。</p>
<p>又治一人飲食能進，遇子時則吐瀉交作。慎齋謂其人必苦憂思，思則脾氣結，不能散精於肺，下輸膀胱，故津液直走大腸而瀉也；吐者脾不健運，不能傳化幽門，宿食積於胃中，子時陽升，衝動陳垢，故吐也。宜扶脾為主，用人參、白茯苓、山藥各一錢，炙草五分，附子、制烏藥三分，姜一片，煎服愈。</p>
<p>俞按：此三條非真膈證。（雄按：首條是胸痹，治宜通陽，次條是水不涵木，宜從魏玉橫峻補肝腎，末條是吐瀉，治法頗合，皆不當列入膈症門。）然治法新奇，可與喻氏分道揚鑣。西昌載膈證三案，亦非真膈證，李思萱室，是胎前嘔噦洞泄也；黃咫旭室，是胎前大嘔痰沫，二便不通也；倪慶雲是嘔吐黑臭水及噫氣不絕也。此皆暴病，形似關格，與由噎而膈，以漸加重者懸殊。</p>
<p>張石頑治膈諸案。</p>
<p>俞按：石頑治病，喜用古方雜以新藥，能開後學之智慧。如此數條，雖皆昔賢成法，無甚精義，亦足以廣識見。然《金匱》只有反胃湯藥，不載噎膈情形，豈真正膈證，雖醫中之聖，亦無法以治之耶？</p>
<p>楊曰：噎膈一證，昔人皆與反胃混同立論，其實反胃乃納而復出，與噎膈之毫不能納者迥異，不容強合也。即噎與膈亦有辨，噎則原能納穀而喉中梗塞，膈則全不納穀也。至為病之源，昔人分為憂、氣、恚、食、寒，又有飲膈、熱膈、痰膈、蟲膈，其說甚紛。葉天士則以為陰液下竭，陽氣上結，食管窄隘使然。其說原本《內經》，最為有據。徐洄溪以謂瘀血頑痰逆氣阻隔胃氣，其已成者無法可治，其義亦精。然以為陰竭而氣結，何以虛勞證陰竭致死而陽不見其結，以為陰竭而兼憂愁思慮，故陽氣結而為噎，則世間患此者大抵貪飲之流，尚氣之輩，乃絕不知憂者，而憂愁抑鬱之人反不患此，此說之不可通者也。以為瘀血頑痰逆氣阻傷胃氣，似矣。然本草中行瘀化痰降氣之品不一而足，何以竟無法可治，此又說之不可通者也。予鄉有治此者，於赤日中縛病人於柱，以物撬其口，抑其舌，即見喉間有物如贅瘤然，正阻食管，以利刃鋤而去之，出血甚多，病者亦困頓累日始愈。以其治甚險，故多不敢嘗試。又有一無賴垂老患此，人皆幸其必死，其人恨極，以紫藤鞭柄探入喉以求速死，嘔血數升，所患竟愈。此二人雖不可為法，然食管中的繫有形之物阻扼其間，而非無故窄隘也，明矣。又河間獻縣人患此，臨危囑其妻剖喉取物以去其病，比死，其妻如所誡，於喉間得一物，非骨非肉，質甚堅韌，刀斧莫能傷，擲之園中樹上，經年亦不損壞，一日其子偶之園中，見一物黏綴草間，栩栩搖動，審視則其父喉中物也。異而佇目半日許，物竟消化，遂採其草藏之。有病噎者，煎草與飲，三啜即愈，遂以治噎擅名，如是十餘年，後其草不生始止，是世間原有專治此證之藥矣。余臆度之，此證當由肝過於升，肺不能降，血之隨氣而升者留積不去，歷久遂成有形之物，此與失血之證同源異脈。其來也暴，故脫然而出為吐血；其來也緩，故流連不出為噎膈。湯液入胃，已過病所，必不能去有形之物，故不效。其專治此證之藥，必其性專入咽喉，而力能化瘀解結者也。昔金溪一書賈患此，向余乞方，余茫無以應，思韭葉上露水善治噤口痢，或可旁通其意，其人亦自知醫，聞之甚悅，遂煎千金葦莖湯，加入韭露一半，時時小啜之，數日竟愈。後未嘗以治他人，未知其果能累試輒驗否？偶舉此以告孟英，以為可存，因附錄之，以質世之深於此道者。</p>
<p>雄按：近得一方，以新生小鼠新瓦上焙乾研末，醇酒沖服，極有效。</p>

<h1>卷三</h1>

<h2>瘖</h2>
<p>呂元膺治一僧案。</p>
<p>丹溪治一中年男子案。</p>
<p>又治一五十餘歲嗜酒吐血，舌不能言案。</p>
<p>俞按：三條皆治舌瘖，非喉瘖也。首條化痰通竅是實證。次條傷寒五七日神昏而瘖，豈無實熱證用大黃、黃連、石膏者耶？而猥云作體虛有痰治也。魏注云：恐熱傳少陰心經，此案未可為訓，極是。但細讀之，案中不載舌乾、苔黑、便秘、煩躁等證，則所謂神昏者，身熱人靜而默默耳，豈必有欲言不能言之狀也？其脈必濡滑無力也。參、耆、術服之數日，病無迸退，即可知其對證。觀於十二日舌始語得一字，又半月而舌能言，熱乃退，全繪一虛證情形矣。凡遇傷寒舌瘖者，宜以此條尋繹之，勿竟以陶氏熱傳手少陰心經，儱侗為治。第三條吐血後不食，舌不能言，是虛證無疑矣。渴飲水，脈帶數，不與滋陰，而與參、術，見識豈不高哉！</p>
<p>又治一人遺精後失音案。</p>
<p>一男子年近五十，久病痰嗽，忽一日感風寒，食酒肉，遂厥氣走喉，病暴瘖。與灸足陽明別之豐隆二穴各三壯，足少陰照海穴各一壯，其聲立出。信哉！聖經之言也。仍以黃芩降火為君，杏仁、陳皮、桔梗瀉厥氣為臣，訶子瀉逆，甘草和元氣為佐。服之良愈。</p>
<p>一鄉人力田辛苦，復飢甚，飲食驟飽，倦臥半晌，醒後忽瘖啞不言，如是者二旬余矣。高鼓峰診曰：勞倦傷脾，飢飽傷胃，陽明之氣遏而不升，津液不行，賁門壅澀，故語言不能出也。以補中益氣湯十大劑與之，偶午睡覺，通身汗下，言語如常。</p>
<p>雄按：脾足太陰之脈連舌本，當云飢飽傷胃，賁門壅澀，勞倦傷脾，脾氣陷而不升，不能為胃行其津液，故語言不能出。補中益氣，升舉脾陽，則津液行而汗出周身，瘖亦遂愈也。</p>
<p>張路玉治王惟一案。</p>
<p>俞按：此四條皆是喉瘖，而治法各異，其異處仍合於古訓。切於病情，故能取效。若今人之用叫子、蘆衣等物，雖若新奇，而與病無涉，效何由得？</p>

<h2>咳嗽</h2>
<p>李士材治史明粦，經年咳嗽，歷治無效，自謂必成虛勞。李曰：不然。脈不數不虛，惟右寸浮大而滑，是風痰未解，必多服酸收，故久而彌盛。用麻黃、杏仁、半夏、前胡、桔梗、甘草、橘紅、蘇子。五劑止，十劑全愈。</p>
<p>孫東宿治許卓峰，多酒、多怒人也。上吐血，下溲血，咳嗽聲啞，醫皆以為瘵。孫診其脈，左關弦大，右寸下半指累累如意珠。乃曰：此有餘證也。病由嗜酒，酒屬濕熱，助火生痰，火性炎上，迫肺不降，積而生痰，壅於肺竅，以致失音，此痰壅之啞，非肺痿之啞也。性又善怒，怒氣傷肝，故血妄行而不歸經，以致吐血溺血。法宜清熱開鬱化痰，導血歸源，若滋陰之藥，反助其塞而益其熱，聲音何由而開？況血隨氣行，氣不清，血又何得歸原哉？（雄按：此與承溪之論錯經妄行，可以互相發明。）乃用滑石、青蒿解酒熱為君，貝母、鬱金、梔子、香附開鬱為臣，杏仁、桔梗、丹皮、丹參、小薊、甘草化痰清血為佐。服十帖，血果止。又以貝母一兩，童便浸一日為末，柿霜等分，時時抄舌上化下，五日而聲音爽矣。</p>
<p>張路玉治吳佩玉次女案。</p>
<p>俞按：張公此論，曲盡時醫醜態。然謂表藥必兼桑皮、芩、粉，血證必用犀角、地黃，恐不致眾人皆醉如此。至於病隨藥變，實有其事，所以古有不服藥為中醫之說。若欲見病知源，投藥輒效，隨其寒熱虛實，應以溫涼補瀉，不執一法，不膠一例，變化生心，進退合轍者，其惟丹溪乎？丹溪則藥隨病變，病隨藥愈，寧有病隨藥變，藥為病困之理哉？《臨證指南·咳嗽門》方法大備，溫涼補瀉皆全，而輕鬆靈巧處，與丹溪未易軒輊也。</p>

<h2>喘</h2>
<p>孫文垣治凌繹泉，年已古稀，原有痰火之疾。正月初旬，因勞感冒，內熱咳嗽，痰中大半是血，鼻流清水，舌苔焦黃芒刺，語言強硬不清，二便不利，喘急礙臥，亦不能仰，以高枕安桌，日惟額伏枕上而已。醫治半月不效。孫診之：兩手脈浮而洪，兩關脈滑大有力。知其內有積熱，痰火為風邪所閉，復為怒氣所加，故血上逆。議者以高年見紅，脈大發熱為懼。孫曰：此有餘證，諸公認為陰虛而用滋陰降火，故不瘳，法當先驅中焦痰火積熱，後以地黃補血等劑收功可也。乃以栝蔞、石膏各三錢，半夏曲、橘紅、桑皮、前胡、杏仁、酒芩、蘇子水煎，沖蘆菔汁一杯。一劑而血止。次日診之，脈仍浮而洪大，尚惡寒，此因先時不解表，竟用滋陰，又加童溺降下太速，以致風寒鬱而不散，故熱愈甚也。改以定喘湯，一劑而喘減，二劑而熱退不惡寒。再診之，兩手浮象已無，惟兩關脈鼓指，此中焦痰積膠固，不可不因其時而疏導之。以清中丸同當歸龍薈丸共二錢進之，其夜下稠黏穢積甚多。余憶丹溪有云：凡哮喘火盛者，白虎加黃連有功。正此證對腔法也。與十劑，外以清中丸同雙玉丸夜服，調理而安。</p>
<p>俞按：此人以富貴之體，古稀之年，不能臥又半月之久，亦甚危矣。乃竟用消痰發表清火行滯重劑收功，可見病無一定之局，只恐棄活著而走死著，又防活著認得不清，必以半攻半補、不攻不補為持重之法，仍是死著也。</p>
<p>張路玉治孫起怕肺脹案。</p>
<p>又治一尼案。</p>
<p>俞按：此方加減最巧。上案用七氣湯成方亦巧。觀其論脈溯因，而細心體貼之，乃知其巧。</p>
<p>繆松心治嘉善範某，哮喘已久，向服金匱腎氣，時效時不效。繆曰：伏飲內踞有年，明是陽衰濁泛，但綿延日久，五旬外痰中雜以血點，陰分亦漸損傷，偏剛偏柔，用藥兩難措置。仿金水六君煎意，用熟地炭四錢，當歸炭、青鹽制陳皮各一錢，茯苓、淡菜漂、杏仁去皮尖鹽水炒各三錢，炙草四分，川貝一錢五分。半月後復診：晨用金匱腎氣丸以治本，晚用苓桂術甘加味以治標。生於術米泔浸切片曬，茯苓、鹿脊骨用麻黃四錢煎湯炙各三兩，粗桂木曬八錢，半夏炒二兩，炙草六錢，杏仁霜一兩六錢，北細辛三錢曬。水泛丸。此證向來背脊惡寒，甚則哮發。服此方而畏寒除。隔三年忽起淋濁，莖中脹痛。繆曰：此新病，以瀉丙出壬為正治，但素有痰飲，滋膩之品，傷陽助濕，究非所宜，當變法治，庶與本證無礙。羊脊骨五錢，小木通一錢，鹽水炒黃柏三分，赤白茯苓各一錢半，甘草梢、水飛辰砂調各五分。三劑淋濁即愈。半年後改定丸方。曰：飲踞中焦，歷年已久，前主溫煦太陽寒水之臟，與病機極合，用藥可無事更張。第溺管有精淋，由來已非旦夕，雖云腎氣不堅所致，其降多而升少，亦非所宜。（雄按：然則前云三劑即愈者，雖愈而未全愈也，未必不是多服桂附所致。）今造一方，以兼顧之：嫩毛鹿角鎊二兩，羊脊骨炙黃打碎、生菟絲子曬、生於術米泔水浸曬乾、茯苓曬各三兩，北細辛曬、蜜炙麻黃各三錢，生黃耆皮曬、杏仁霜、炒黃半夏各一兩五錢，粗桂木七錢曬，炙黑甘草五錢，橘紅一兩曬。為末，用薏苡仁煮漿糊丸。後隔數年，已六旬余，換丸方：用熟地水煮四兩，歸身、嫩毛鹿角、澤瀉炒、半夏炒黃各一兩五錢，茯苓、生白朮米泔浸曬乾、羊脊骨炙黃打碎、杏仁霜各三兩，橘紅曬一兩，炙黑甘草五錢，熟附子七錢，淮牛膝一兩四錢，生左蠣研細水飛二兩，北細辛曬三錢；蛤蚧兩對，去頭足炙為末。薏仁煮漿搗丸。</p>
<p>俞按：所用諸方，攝納腎陽，溫通督脈，疏刷肺氣，開豁濁痰，標本悉能照顧，巧更極矣，宜乎服之而宿疾全瘳也。（雄按：哮喘屬虛寒者，可仿此案設法。）</p>

<h2>喘脹</h2>
<p>羅謙甫治一貴婦年逾五十喘案。</p>
<p>程明佑治張丙案。</p>
<p>王中陽治富翁喘而囊餒腫案。江選列痰門。</p>
<p>俞按：喘而兼脹，病勢亟矣，必非輕劑所能治。此三條是實證治法，若虛寒證，當重用桂、附，如天真丸、黑錫丹、金液丹之類，皆可類推，不得以五子、五皮、沉香、椒目等為穩當法也。</p>

<h2>腫脹</h2>
<p>俞東扶曰：《千金方》云，凡水病，忌腹上出水，出水者一月死。故水分穴可灸不可針，惟水溝穴可針也。而今有專門治腫脹者，用銅管子從臍下刺入，出水如射，頃刻盈缶，腹脹即消。以此水露一夜，明晨視之，浮面者是清水，中央者是淡血，沉底者是脂膏。蓋病者清濁不分，氣血皆變為水，決而出之，去水即去其氣血也。雖一時暫快，或半月，或一月腫脹仍作，再針之亦死，不針之亦死矣。孫真人之言，預知有此詭術耳。</p>
<p>楊曰：曾親見一人如此而死。</p>
<p>孫一奎治馬二尹，年五十五，過食鰻肉捲餅，心腹脹痛。市醫遽用硝、黃下之，大便不行，脹痛愈增。繼至者以木香檳榔丸、大小承氣湯連服十日，脹痛益甚，粒米不進，大便並不行，小水亦僅點滴。後醫以硝、黃不效，雜進備急丸、白餅子、十棗湯、黑白醜之屬，服數日，不惟大便不行，並小便點滴亦無矣，脹不可言。眾醫大叫稱怪。一人為灸中脘三十壯，毫不為動。因斷三日當死。孫至，觀其色蒼黑，神藏不露，聲音亮，腹大如覆箕，不能反側。診其脈，兩手皆滑大，兩尺尤有力。詢其病源，閱其前方，駭然以為未聞未見也。因思一治法：先進香砂六君子湯，參、術各用二錢。眾醫皆驚，謂中滿脹痛，二便俱閉，如何用補？況蒼黑之人，尤忌參、術乎！孫曰：此非鼓脹證，乃內傷證也，當始傷時，猶在上膈，法當用吐。經所謂在上者，因而越之也。不用吐而用下藥以傷其脾，脾傷則失運動之職，是以愈下愈傷，愈傷愈脹，脾氣全然不動，藥亦全然不行矣。故用六君子以醒其脾，香砂以助其運動，再用吐法吐出前藥，始有生機，此方非治病，乃治藥也。且余非慮其大便不行，獨慮行之不止耳。醫謂求其行而不得，何以不止為慮？孫曰：君試思常人能服硝、黃幾何？巴豆、牽牛幾何？今幸其未行，藥性未動，尚可為計，一行而諸藥性動，譬水底漏，其中能蓄點滴否？醫又云：多服下藥而大便不行何也？孫曰：此易知之，始為食傷，繼為藥傷，所傷在上、中二焦，下元未損，故兩尺脈尚有神氣。《難經》曰：人之有尺，如樹之有根也。《內經》曰：腎者胃之關。蓋腎主二便，觀其色蒼黑，神藏氣固，皆由根本未動，賴此猶可為耳。服藥後腹中大痛，孫謂藥力已動，改用參蘆、防風蘆、升麻、桔梗各三錢煎服，少頃用鵝翎探吐之，前服藥物一湧而出數十碗。病者喜曰：目前有光矣，此已時也。孫曰：酉時大便必行，可多備人參，以防不虞。至午進至寶丹一帖，以溫中氣，未申間腹中汩汩有聲，濁氣下滾，頃刻腹中寬數寸，至晚大便行一次，小水略通。孫即用人參、白朮各五錢，炮姜三錢，茯苓二錢，陳皮一錢，木香、甘草各五分。令急煎服。四鼓又大便一次，小水繼至，脹痛漸減。次日大便瀉十餘次，因以是方煎丸並進，計瀉七十二日，服人參二斤余而收功。</p>
<p>俞按：喻氏治袁仲卿子，以理中湯運轉前藥，可與此案頡頏。</p>
<p>張路玉治王庸若案。</p>
<p>李瀕湖治士人妻案。</p>
<p>俞按：金液丹、神秘湯，人所罕用，而善用之則各奏奇功。因思古方具在簡策，特患尋不著對頭帽子耳。又按：神秘湯乃生脈散合二陳湯，去麥冬、茯苓，加紫蘇、桑皮、桔梗、檳榔，以生薑三片為引，施於此證恰好。加麻黃更好，並非八寸三分通行之帽也。</p>

<h2>不寐</h2>
<p>俞東扶曰：肝膽之不寐易治，心之不寐難瘥。蓋心藏神，腎藏精與志，寐雖由心，必賴腎之上交，精以合神，陰能包陽，水火既濟，自然熟寐。《內經》謂陽氣滿則陽蹻盛，不得入於陰，陰虛故目不瞑。又云：陰蹻陽蹻，陰陽相交，陽入陰，陰出陽，交於目銳眥，陽氣盛則瞋目，陰氣盛則瞑目。此是不寐要旨，非肝膽之不寐也。如人並無外邪侵擾，亦無心事牽掛，而常徹夜不寐者，其神與精必兩傷，大病將至，殊非永年之兆，雖投補心補腎之藥，取效甚難，即《內經》秫米半夏湯，亦有效有不效，或初效繼不效，而病者輾轉床蓐，必求其寐，愈不肯寐，更生煩惱，去寐益遠。慈山先生《老老恆言》云：寐有操、縱二法。操者，如貫想頭頂，默數鼻息，返觀丹田之類，使心有所著，乃不紛馳，庶可獲寐；縱者，任其心遊思於杳渺無朕之區，亦可漸入朦朧之境。此誠慧心妙語，可補軒岐所未逮。</p>
<p>楊曰：二法最妙，確實可行，非懸揣之談。</p>

<h2>怔忡</h2>
<p>滑伯仁治一人，病怔忡善忘，口淡舌燥多汗，四肢疲軟發熱，小便白而濁，眾醫以內傷不足，擬進茸、附等藥未決。脈之虛大而數，曰：是猶思慮過度，厥陰之火為害耳！夫君火以名，相火以位，相火代君火行事者也。相火一擾，能為百病，百端之起，皆由心生。越人云：憂愁思慮則傷心。其人平生志大心高，所謀不遂，抑鬱積久，致內傷也。服補中益氣湯、硃砂安神丸，空心進小坎離丸，月餘而安。</p>
<p>高果齋治鐵塞庵，怔忡不寐，心脈獨虛，肝脈獨旺。因述上年驛路還鄉，寇盜充斥，風聲鶴唳，日夜驚懼而致。遂用生地、麥冬、元參各五錢，人參三錢，龍眼肉十五枚。服數劑，又用夏枯草、羚羊角、遠志、茯神、甘草、人參大效，仍以補心丹常服全愈。</p>

<h2>顛狂</h2>
<p>葉天士治嘉善米懷音，初患顛狂，醫用清痰、清火藥而愈。越三年復發，消痰清火不應，用天王補心丹而愈。越二年又發，進以前二法皆不應，用歸脾湯而愈。越一年又發。發時口中哼哼叫號，手足牽掣搐掉，如線提傀儡，臥則跳起如魚躍，或角弓反張，其喊聲聞於屋外，而心卻明白，但以顫掉之故，口欲語已將唇舌嚼壞，如此光景，半刻即止，止則神識昏瞀，語言謬妄，又半刻而發如前矣。吳某用人參、鹿茸、肉桂、熟地、龍齒、青鉛、遠、茯等藥，服之甚相安，然匝月不見效。葉診曰：渠用貴重之藥，必自信為名醫，但多費病家之財，與病毫無干涉，即庸醫也。吾以輕淡藥二十劑當減半，四十劑當全瘳矣。因叩其掣掉則心明，止則神昏之故。曰：操持太過，謀慮不決，肝陰膽汁兩耗，陽蹻陰蹻，脈空風動，非虛寒也。用白芍、萸肉各一錢五分，白石英、小麥、南棗肉各二錢，炙草五分。病人見其方，殊不信，旁人亦以藥太輕淡，並兩帖為一帖，服十日，病減半，二十日果全愈。後遂不發。</p>

<h2>夢遺</h2>
<p>葉天士治項某夢遺，色黃食少，腹脹便溏。用生菟絲、覆盆、蛇床、五味、韭子、益智、補骨脂、龍骨，以蓮子粉丸，服之而愈。又治一人遺滑，月五六作，兼有腹痛，觸冷即痛，痛極昏暈，初以荊公妙香散不應，乃用鹿茸二錢，人參一錢，雄羊腎十枚去膜研，茯神、龍骨各一錢五分，金櫻膏三錢。十劑而愈。</p>
<p>俞按：醫書咸云：有夢而遺者，責之心火；無夢而遺者，責之腎虛。（楊曰：「虛」字、「火」字可刪。蓋心熱而遺，未有不虛者，腎虛而遺，未有不熱者。正不如責之心、責之腎之為簡明無弊也。）二語誠為括要。以余驗之，有夢無夢皆虛也。不虛則腎堅精固，交媾猶能久戰，豈有一夢即遺之理？故治此證者，惟濕熱鬱熱二項，勿以虛治。而二項又各分二種：曲糵之濕熱宜端本丸；膏粱之濕熱宜豬肚丸。積痰之鬱滯宜滾痰丸、神芎丸；伏火之鬱滯宜滋腎丸、豬苓丸。除此二項，必須人參。（雄按：此不可執，如陰虛水不涵木，肝陽盜泄母氣而遺者，宜純陰壯水之中，佐連、柏以堅陰和陽，人參、遠、茯皆忌。）如荊公妙香散以治心虛，桑螵蛸散以治腎虛，三才封髓丹以治陰虛，固精丸以治陽虛。或分用，或合用，再參之以熟地、萸肉、湘蓮、芡實、五味、牡蠣、線膠、金櫻膏，而已無餘蘊矣。然亦有效有不效，則因虛者之有小虛、有大虛，而虛者之心或有嗜欲，或無嗜欲也。人若於欲事看得雪淡，更極畏怕，則熟寐時亦能醒覺。先賢云：醉猶溫克方稱學，夢亦齋莊始見功。此為上乘。（楊曰：此說不的，余見愈畏愈遺者多矣，其人皆苦志讀書之士也。）若欲事過多，精滑而遺者，補之澀之，即可致愈，非難事也。其次則用劉海蟾吸、撮、提三字，做運想工夫。先以一擦一兜，左右換手，九九之數，真陽不走之訣。繼以一吸便提，氣氣歸臍，一提便咽，水火相見之訣。久久行之，功成可以不泄。（楊曰：此法頗穩，而取效甚遲。）尚有欲念，再於上床臨睡時，以兩手大肉擦熱，反向背後擦腎俞三十六次，腎俞熱則相火不作，夜無淫夢。（楊曰：陰虛火盛者用此法其遺更甚。）斯皆應驗之金丹，殊勝㕮咀之草藥，故不憚饒舌以言之。</p>
<p>楊曰：一吸便提四語中有口訣，須於密室中澄心定慮，使氣息調勻，然後大張其口，則真氣自滿，切勿吸氣致令風入，則為患不小。隨即閉口用力嚥下，以意送至丹田，降至兩足，隨即提起，從脊後升至泥丸，仍降至口中，放歸丹田，此為一度，名曰火煉。隨即漱津滿口，用力嚥下，照前提放，名曰水煉。如此四次而止。凡提氣時，即握拳曲股聳肩，使氣易上，降氣時以漸舒放，使氣易下，且用功完後，須用枕墊脅下，倚臥良久，左右更換，使氣周流不滯。若覺火衰則多用火煉，水衰則多用水煉，每日按時為之，其功甚巨。然或誤用，其患亦深，不可不防也。</p>
<p>雄按：白鬢老人云：遺失之證，須用牽轉白牛之法。其法不拘布帛，做一小兜，將外腎兜起，拴在腰後褲帶之上，此病自免。道家謂之張果老倒騎驢。</p>
<p>楊曰：塞海底法，較此尤捷。其穴在穀道前有小坎，用手揣之即得。每早晚用指向後推百十下，即不遺泄，隨用隨效，真妙法也。</p>

<h2>便濁</h2>
<p>俞東扶曰：醫書向有精濁、溺濁之分。以余驗之，濁必由精，溺則有淋無濁也。凡患濁者，竅端時有穢物黏滲不絕，甚則結蓋，溺時必先滴出數點，而後小便隨之，小便卻清，惟火盛則色黃，亦不渾濁。古云：漩面如油，光彩不定，漩腳下澄如膏糊，此是膏淋與下消證，非白濁也。白濁之因，有欲心萌而不遂者，有漁獵勉強之男色者，有醉酒及用春方以行房忍精不泄者，皆使相火鬱遏，敗精瘀腐而成，故白濁多有延成下疳重候，豈溺病乎？《內經》謂：水液渾濁皆屬於熱。熱甚則為赤濁。或白濁久而血不及化為精，亦變赤濁，此則危矣！治法不外養陰清熱，佐以堅腎利水，蓋癸竅宜閉，壬竅宜通也。初起者，當兼疏泄敗精之品，如滑石、冬葵子、牛膝、萆薢之類；日久者，當兼補元實下之品，如人參、熟地、湘蓮、芡實之類，即濕痰濕熱為患，雖非精病，然濕熱內侵腎臟，則精不清而為濁。孫文垣治潘見所案及世人用腐漿沖滑石或白果漿者，去其濕熱，精自固也。濕痰下注腎臟，則精不寧而為濁。丹溪治一婦年近六十之案、李士材治武科張姓案，消其濕痰，精自駐也。若系溺病，何以不用淋證門石韋散、八正散等方耶？即日久而元氣下陷，有用補中益氣湯者，亦以元氣得補，才能升舉其精，不使滲漏耳。惟夏月當暑便濁，用辰砂六一散，及筋疝之白物如精隨溲而下，用龍膽瀉肝湯。二條方是溺病，然與赤白濁情形原有別也。</p>

<h2>五淋</h2>
<p>孫文垣治丁耀文母案。（魏選列郁門。）</p>
<p>又治侄孫淋痛案。</p>
<p>俞按：上條不用補，次條不用養陰，認證最清。設效立齋、景岳，狃於歸脾湯、補中益氣、六味、生脈者，必為二證之戈矛矣。</p>
<p>又治李寅齋患血淋，幾二年不愈，每發十餘日，小水艱澀難出，竅痛不可言，將發必先面熱牙疼，後則血淋。前數日飲湯水欲溫和，再二日欲熱，又二日非冷如冰者不可，燥渴之甚，能飲井水二三碗。其未發時，大便燥結，四五日一行，發則瀉而不實。脈左寸短弱，關弦大，右寸下半指與關皆滑大，兩尺俱洪大。據此中焦有痰，肝經有瘀血也。向服滋陰降火及淡滲利竅之劑皆無效，且年六十三歲，病已久，血去多，何可不兼補治？當去瘀生新，提清降濁。用四物湯加杜牛膝補新血亦祛瘀；桃仁消其瘀血；枳實、貝母以化痰；山梔仁以降火；柴胡升提清氣。二十劑而諸證漸減，再以滑石、知母、黃柏各一兩，琥珀、小茴、肉桂各一錢五分，元明粉三錢，海金沙、沒藥各五錢，茅根汁熬膏為丸。每服一錢，空心及晚茅根湯送下而愈。</p>
<p>又治祝芝岡案。</p>
<p>俞按：前案云：何可不兼補治。而所謂補者，不過四物湯耳，其餘則皆消瘀及清利藥也。次方以滋腎丸加味，而重用滑石、元明粉、沒藥、海金沙，以茅根汁為丸，仍是清利兼消瘀。以六旬之老，二年之久，治法如此，信乎血淋之宜通不宜補矣。後案用腎氣丸加黃柏、琥珀、海金沙，以杜牛膝汁熬膏為丸，是於溫補下元藥中佐清利濕熱、疏通瘀竅之法，較前案稍異。而煎方之芎、歸、杜牛膝，末藥之滑石、海金沙、桃仁、麝香、韭汁、藕汁，仍是行瘀通竅，並無參、耆、熟地等藥，大旨約略可見。</p>
<p>張路玉治沈韓倬案。</p>
<p>俞按：治淋如文垣諸案，經也；此案之治法，權也。經權合宜，皆審脈以為辨。莊子云：匠石覺而診其夢。夢何以診？診之為言審也。向來但云診脈，未達診字之意。不知善診即是善審，審得明白，病自顯然。推之望、聞、問、切，素稱「四診」，可見四件都要細審也。</p>

<h2>小便不通</h2>
<p>李士材治袁啟莘平素勞心，處事沉滯，時當二氣，小便不通，用六一散不效，再用苓、瀉、木通、車前等又不效。李診脈兩寸洪數，知為心火刑金，故氣化不及州都也。用黃連、茯神、牛膝、人參、麥冬、五味，一劑而愈。</p>
<p>孫文垣治一富家婦，當中秋，大小便秘者三日。醫以巴豆丸二服，大便瀉而小便愈秘，脹悶，臍突二寸余，前陰脹裂，不能坐臥，啼泣欲自盡，此轉胞病也。桕樹東行根皮一寸，滑石三錢，延胡、桃仁、當歸、瞿麥各一錢，水煎入韭汁半杯。服後食頃而小便稍行，玉戶痛甚，小便非竭力努之則不出。改用升麻、桔梗、枳殼、延胡，煎成調元明粉二錢，乃提清降濁之意，二便俱行而愈。</p>
<p>慎柔治一婦，年五十，小便時常有雪白寒冰一塊塞其陰戶，須以手摳出方溺，否則難。慎柔曰：此胃家寒濕，因脾胃虛寒凝結而下墜，至陰戶口而不即出者，脾胃之氣尚未虛脫，但陷下耳。用六君加薑、桂，二十劑全愈。</p>

<h2>小便不禁</h2>
<p>張路玉治閔少江案。</p>
<p>俞按：寤則淋澀，寐則溺遺，原與不禁有別，故以胞痹證治。其論藥病不合處，理精義確。後來葉氏處方，最講此旨，再觀其治黃元吉、亢仁軒二案，病情同而治法不同，用藥俱有妙解，能細參之，庶不犯枳、樸、歸、芩，到手便撮之消。</p>
<p>孫文垣治南都大司馬衷洪溪，沖暑理事，致發熱燥渴，因食冰浸瓜梨新藕，（楊曰：又傷中氣。）遂成泄瀉，小水短少。醫以胃苓湯加滑石、木通、車前子利之而瀉止，（楊曰：去濕熱而未照顧中氣。）大便又因之結燥，艱澀不堪，乃用潤腸丸，復瀉不止，又進以前通利之劑，瀉雖止而小水不能流通直遂，臍下脹急，立起解之，則點滴不出，臥則流之不竭。（楊曰：通利太過，則中氣愈陷。）以頻取溺壺，致通宵不寐。治半月餘而精神削，寢食廢，諸醫俱不識。將認為癃，則立解時點滴不出；認為閉，則臥時涓涓而流。謂氣虛下陷，心血不足，而補中益氣與安神丸服皆無效。孫診之兩寸短弱，關緩大，兩尺洪大。曰：此余暑未解，而素善飲，濕熱流於下部也。今已下午，恐脈未准，俟明早細察定方。司馬曰：望子久矣，姑求一劑，以邀夜間一睡。孫不得已，用益元散三錢，香薷湯調服，略無進退。次早復診，六脈如昨，思之而恍然悟曰：此由溺竅不對也。（楊曰：英雄欺人語。）司馬曰：名出何書？孫曰：《內經》云：膀胱者，脬之室也，脬中濕熱下墜，故立解而竅不對，小水因不得出；臥則脬不下墜而溺滲出膀胱，亦以竅不對，雖涓涓而流，終不能通達直遂，故了而不了也。治惟提補上、中二焦元氣，兼清下焦濕熱，斯得矣。又有一法：今氣虛下陷已久，一兩劑未能取效，安得睡耶？但此不寐非心血不足，因著意防閒小便而不敢寐也。暫將布袋襯於席上，任其流出而不必防閒，免取溺器，自然能寐矣。方用補中益氣湯加黃柏、知母，如法果愈。</p>
<p>俞按：立則溺閉，臥則不禁，與石頑治案證因又別。溺竅不對之說，從唐與正治吳巡檢案悟來。</p>
<p>楊曰：膀胱有上口無下口，與溺管相連，並非二物，豈有不對之理？仍是氣虛下陷之證。所以服補中益氣不效者，以遺卻下焦濕熱也。觀其仍用此方加知、柏即愈，可見矣。</p>

<h2>小便澀數</h2>
<p>俞東扶曰：此證有熱有虛。數而少為實熱，宜滲之；頻數不可略忍，又復短少，日數十次，或有餘瀝，為腎大虛之候，數而多色黃者為陰虛，宜滋陰；數而多色白體羸者為陽虛，升者少而降者多，宜補火，立齋諸案，具備諸法。</p>

<h2>二便不通</h2>
<p>俞東扶曰：此證脈實者八正散倍大黃，或倒換散亦妙。若形弱及老人，或病後、產後有此，悉從虛秘治，潤燥養陰為主，下用導引法。（雄按：未嘗無實證，須以脈候參看。）若體健神旺，二便秘澀者，必脾胃氣滯不轉輸，加以痰飲食積阻礙濁道，脈沉實者，升柴二陳二術湯。他如王中陽治一人，九日便溲俱不通，用外治法；及李瀕湖治外甥柳喬案，並皆佳妙，可與東垣滋腎丸相為鼎足。</p>

<h2>大便秘結</h2>
<p>高果哉治溫體仁初謝政歸，患大便燥結不通，胸膈塞悶而有食，腎脈沉小而無神，以枳殼五錢，蓯蓉二兩洗淨，水煎服即效。後又秘結，以當歸、生首烏大劑煎服，遂全愈。</p>
<p>李士材治顧以貞，素有風疾，大便秘結，經年不愈。李曰：此名風秘，治風先治血，乃大法也。用十全大補湯，加秦艽、麻仁、杏仁、防風、煨皂角仁。半月而效，三月以後，永不患矣。</p>
<p>俞按：花溪峻藥緩攻，妙在臘丸穿竅，（治一婦年五十餘，身材瘦小案。）而香油解毒，妙在上吹下吹，（治一男子痘後案。）薛案（治一婦年七十三）。汪案（治一婦改醮）之用補，輕重不同。高氏、李氏之用潤，淡濃微別，瀕湖之牽牛、皂角，疏通迥異硝、黃。（治宗室夫人。）景岳之薑、附、參、歸，辛熱遠殊寒滑。（治朱翰林夫人案。）法云備矣，學者明之。</p>

<h2>交腸</h2>
<p>俞東扶曰：余初習醫時，有金姓縫人，年二十餘歲，雨途道滑，臂僕坐地，亦無痛苦。次日腹中欲去大便，而矢氣從前陰出，自覺大便不往後去，轉向前走，莖中痛苦不堪，其糞逼細如稻稈而出。余師金尚陶先生用補中益氣湯，一服即愈。四五日病復再發，用此湯不效矣。溺行並不帶糞，糞來亦不雜溺，溺孔漸為干糞撐大，痛苦莫可名言，大腸竟廢而不用。是時吳郡王、葉、薛諸公皆在，遍求之皆不能療，吾師斷其次年三月當死。屆期人已羸脊不堪，然猶能飲食。二便之迭從陽道出者，反習以為常，痛苦亦減，似可未死。忽一日小便頓閉，大便仍來，閉三日而小便從鼻孔湧出，其色黑，立死。似與喻氏論姜宜人證，病機彷彿。余近日治一舟人，蛔蟲從陽具出，蛔活，有一折疊而出者，痛不可言，三日出蛔五條，從此陰吹甚喧，投以補中益氣湯得愈。</p>
<p>雄按：此證雖與姜宜人相似，然彼成於漸，此起於暴；彼為血枯，此為氣錯。病機大不同也。魏柳洲謂姜病宜用集靈膏以濡其血，而大腸之故道可通。余謂此證初宜理氣，繼則亦當參以濡陽明之燥。蓋氣錯既久，則血液不能循經而下，潤於大腸也。潤其腸可冀大便漸通，縱不能漸通，則潤藥頻溉，糞必稀溏，雖從溺竅而出，亦可減其痛苦。觀仲聖治陰吹用豬膏發煎，其義自見。蓋轉矢氣之由前陰而泄，實因大腸之燥，而轉趨於前也，當時王、葉、薛諸公，不知用何治法，然其敗也。小便頓閉，逆湧而從鼻出，則漸延枯燥可知。喻氏所謂有肺者有溺，無肺者無溺。鼻為肺竅，肺為水之上源，而大腸者，肺之府也。大腸既久閉而不用矣，府不通則藏不安，藏不安則失其肅化之權而不降，肺不降則水源絕而溺閉，遂致潰敗決裂，而溺由鼻湧以死也。丁未春，一童子十餘歲矣，登梯失足，墮騎梯檔，扶而下，尋患小便不通，少腹漸以痛脹，多醫治之，溺僅滴瀝如癃。既而於肛前囊後之間，另闢一竅，溺雜脂血涓涓而漏。自此溺竅復閉，而別無痛苦，仍能飲食。惟形日尪羸，以血液雜溺而漏泄也。數月後始就診於余，已脈細色奪，奄奄一息，不能措手矣。又閱半月而斃。此與金縫人病因相同，而見證稍別，皆由卒然震跌，經氣錯亂所致。張承溪所謂氣亦有錯經妄行者，故便溺遂失其故道也。</p>
<p>楊曰：懷抱奇云：交腸者，大腸與膀胱破裂也。必大腸所破之孔，與膀胱破孔相對，始成此證，云曾見一輿人，少腹生瘡，潰出大腸而成此證。今觀此二案，前一人似是大腸與膀胱俱破，後一人似是膀胱破而大腸無恙，故傾跌同而見證各異。</p>
<p>雄按：《星甫野語》云：廬江姬氏婦，母女皆無穀道，便遺悉由前陰，而不害生育。其女嫁後，婿家因此涉訟，邑宰劉為干據其母供，麾令入內堂夫人質驗而訟遂息。劉判有尾閭偶闕，無虧種玉之田云云。此雖異稟，醫亦不可不知。</p>

<h1>卷四</h1>

<h2>骨鯁</h2>
<p>竇夢麟曰：隆慶三年正月，鹽商胡小溪家人媳婦，年二十三歲，懷妊九月矣。一日食魚，魚鯁喉間，至半日嘔吐，繼之以血碗許，魚骨尚在喉中。忽吐出一條，約有二尺余，形如小腸，闊五分，內有所食魚菜粉皮飯未化，家人為推入口中，尚餘五寸，其夫復納入之，遂昏倦。自此嘔吐不止，湯亦不能進。延余治之，即將炭火一盆放病榻前，以醋一碗沃之，使醋氣盈其室，以清其神，用牛黃清心丸，一服覺腹有微疼，再用四物湯加人參、阿膠、紅花、丹皮，五六帖病全愈。蓋此婦所吐之腸，有類於腸耳。若腸出而斷，頃刻立斃，豈有得生之理？此吐出者，肺之系也。因嘔吐太甚，被氣衝逆而斷，其連肺之一頭，隨吐而出，今既納入，復吐不已，氣不平耳。故用醋湯以醒其神，牛黃丸以清其心，煎劑以補其氣血，自然安妥。醫者意也，全在活法，書此以為世勸。</p>
<p>俞按：此條活法雖佳，但云吐出者為肺系則謬。（楊曰：誠然。）夫穀肉果菜，由食管入胃，豈由肺系入肺？即如刀傷者斷食管可治，斷氣管必死。今云斷其連肺之一頭，則其人安能活哉？既能推納入口，則原未斷也。然究系何物，或即食管那，（楊曰：是也。）又不詳明骨鯁何以脫去，殊多疏漏，因類案骨鯁門無有義理可取者。所載橄欖細嚼，及核磨汁，與貫眾煎汁，或白餳糖吞嚥之，治魚骨鯁，俱敘其方之所自來耳。南蓬砂含咽，治火肉骨鯁亦然。然以此種入集，又不勝收矣。故魚骨鯁者，有楮葉搗汁頻咽，水老鴉翅羽燒灰水服，及其干矢研末水服，並以水和塗喉外，水獺爪爬喉嚨下，皆妙法也。而皂角末吹鼻中得嚏即出為尤妙。昔賢云，凡諸骨並竹木刺鯁塞咽喉不出者，不可頻以乾物壓下，若刺骨堅利者，愈壓愈深矣。惟以鵝翎微蘸桐油入喉探吐，則刺必隨吐順拔而出，為勢最順。或以韭菜勿切，煮半熟，略嚼嚥下，少頃探吐，勢必牽掛而出。竇公所治之證，其鯁骨諒亦隨嘔吐去，只存嘔吐所傷之病，故如是治。</p>

<h2>頭痛</h2>
<p>孫文垣治蔡樂門令眷，頭痛如破，髮根稍動，則痛延滿頭，暈倒不省人事，逾半時乃蘇，遍身亦作疼，胸膈飽悶，飲湯水停膈不下。先一日吐清水數次，蛔蟲三條，原為怒起，今或惡風，或惡熱，口或渴或不渴，大便閉，脈則六部皆滑大有力。孫曰：此痰厥頭痛也。先以藿香正氣散止其吐，繼以牛黃丸、黑虎丹清其人事，頭仍疼甚；又以天麻、藁本各三錢，半夏二錢，麻黃、薄荷、白芷、陳皮、生薑、蔥白煎服，得少汗而頭痛少止，至晚再服之，五更痛止大半，而人事未全清。孫謂此中焦痰盛，非下不可。乃用半夏五錢，巴霜一分，麵糊丸，每服三十丸，生薑湯送下。午後大便行三次，皆稠黏痰積也。由此飲食少進，餘證差可。惟遍身仍略疼，改用二陳湯，加前胡、藁本、薄荷、黃芩、石膏、枳殼、石菖蒲，調理而安。</p>
<p>僧慎柔治一貴介，年三旬，因齒痛服石膏三錢，即滿頭皆腫痛，牙齦上齶腫勢尤甚，天明稍退，蓋得陽氣故也。診之右關細澀，左關洪，左尺亦澀。曰：此須納氣下達，方得脈和。定方名羌活散火湯。（楊曰：既欲納氣下達，何故又參入風藥。）酒炒羌活五分，防風三分，酒連一分，酒芩二分，茯芩一錢，人參二錢，甘草五分，半夏一錢，破故紙一錢，枸杞一錢。二劑脈漸粗大，是陽氣下行矣。頭痛稍止，可見前因下焦無陽，陰火上衝而痛劇也。服至八劑，頭痛全止，齦腫未退，脈則漸和。曰：將愈矣，此陽氣已至恙所。果四五日出膿少許而瘳。</p>
<p>俞按：《類案》謙甫治柏參謀是氣虛頭痛，戴人治一婦偏頭痛五七年是積熱頭痛，立齋治劉尚寶是肝火頭痛，士材治蔣恬庵是腎虛頭痛，文垣案是痰厥頭痛，慎柔案是陽升不降頭痛。六種之外，又有因風痛者，抽掣惡風，鼻塞眼脹；因寒痛者，惡寒戰慄，面慘肢冷；因濕痛者，痛而且重，天陰轉甚，或四肢疼重，面目浮腫。此皆外因也。（雄按：暑熱為痛，亦是外因也。）內因則氣虛之外，血虛更多，積痰之外，積食亦有。丹溪云：肥人頭痛，多是濕痰；瘦人頭痛，多是血虛有火，斯誠要言。然因雖數端，靡不兼風，無風入，但作眩，不作痛也。（雄按：外風由於風入，內風由於火升，若內風及暑熱頭痛，均忌風藥。）故古方中川芎茶調散、大追風散，頗易取效。痛久則成頭風，其方更繁，不能縷述。真頭痛乃死證，外灸百會穴，內進參附湯、黑錫丹，或冀挽回，實未試驗。尋常頭痛亦有死者。高陽生云，頭疼短澀應須死，生平曾見之矣。頭與腹俱痛有五證：臭毒、傷酒、傷濕、不伏水土、瘡毒入腹也。有頭痛止則腹痛，腹痛止則頭痛，此屬脾陰虛，胃火隨氣上下，芎、歸、芍藥、木香、香附、黃連、蔥白。又有頭痛諸藥不效，其痛更甚者，或因督脈為病，宜用茸珠丹，或香茸八味丸。復有雷頭風，另是一項，乃內郁痰火，外束風熱。大頭風即大頭瘟，或痛或不痛，或潰或自消，死生反掌。至於眉稜骨痛，系足少陽風熱與痰，最能傷目。若兩耳出膿則危矣，宜以濃茶一碗探吐之，次用清上藥，如選奇湯、清空膏之類。婦人注目針繡，往往眉骨痠痛，此宜滋陰養血。</p>

<h2>心脾痛</h2>
<p>（雄按：系胃脘痛也）</p>
<p>丹溪治一人以酒飲牛乳，患心疼案。</p>
<p>又治一婦春末心脾疼案。</p>
<p>俞按：二人脈象俱是虛寒，而皆以濕熱治者，上條屢服熱藥不效，且年久飲食無礙，大便或秘或泄，知其為停飲也。後條以胸前畏熱喜涼，及脈沉細澀為據。所謂稍重則絕者，以細澀故也，與闊大而軟之虛寒不同矣。故加黃連、滑石。遍觀丹溪案，凡脈弦細澀者，俱不用溫藥，想其閱歷多而認得真也。</p>
<p>遊以春治一嫠婦，年三十餘，忽午後吐酸水碗許，至未時心前作痛，至申時痛甚暈去，不知人事，至戌方蘇，每日如此，屢治不效。遊用二陳下氣之劑亦不效。熟思之，忽憶《針經》有云：未申時，氣行膀胱。想有瘀血滯於此經致然。遂用歸尾、紅花各三錢，乾漆五錢，煎服，吐止痛定，暈亦不發。次日復進一帖，第三日加大黃、桃仁飲之，小便去凝血三四碗而痊。</p>
<p>俞按：先吐酸水，然後心前作痛，醫者必認胃病，而以痰氣兼濕熱治，或兼寒濕治耳。乃從所發之時，想到氣行於小腸膀胱，果得小便去凝血而愈。《內經》所謂病在上求之下也。此豈庸手所能辨？</p>
<p>雄按：還當以脈象別證兼參，未可謂未申時之痛厥，即是瘀滯膀胱，而可用峻藥也。讀者慎毋印定眼目。</p>
<p>吳人峰之室，胃脘作痛，兩脅脹急，痛一陣則汗出一番，兩顴紅，唇口亦紅，飲食入口即吐者三日夜矣。孫文垣診之，兩寸脈洪大，兩尺沉微。孫以井水半碗，百沸湯半碗，名曰陰陽湯，調元明粉一錢五分服之，不惟不吐，痛減半矣。少頃大便行三次，因食豆腐及粥太早而痛復作，唇臉皆紅，此必有蟲，故如是也。與桂枝、白芍、甘草、烏梅、川椒、五靈脂、杏仁，水煎服，痛定大半，再以蒼朮、厚朴、山楂、枳實、茯苓、延胡、香附，一帖痛全止。但心背皮膚外疼，不能著席而眠，以芎、歸、苓、朮、橘、半、厚朴、腹皮、香附、甘草，調養全愈。</p>
<p>李士材治章魯齋，暑月心中大痛，服香薷飲痛尤甚，寸口弦急，乃痰食交結也。服香砂二陳湯兩帖，痛雖略減，因苦煩悶，更以胃苓湯加半夏二錢，大黃三錢，下黑矢數枚，痛減三四，再加大黃一錢，下膠痰十數碗始安。</p>
<p>嘉善一人胃脘痛，胸膈痞塞，向作痰治氣治，均不效。後服控涎丹，數日大瀉不止，上稍舒而體倦甚，遂以六君子湯數帖，精神漸復，而痛脹如前矣。（雄按：先攻後補，原是治病法程，但中虛停飲，宜攻補並用。余治黃某久患此症，諸藥不效，以六君去甘草送服控涎丹，數劑而瘳。）薛生白用千金子煎湯，磨沉香、木香、檀香、丁香，服一月而全愈，服時亦作瀉，薛云無妨。故守其法而收功。（雄按：此方可名千金五香飲，服此能痊，蓋氣鬱飲停之病也。）</p>
<p>杭州葉醴醇少年時脘痛不能食，身極羸瘦，上海杜良一用綱目厚朴煎丸，每晨以人參二錢，煎送丸藥三錢，服一月而痛除根，食大進，身遂肥碩。（雄按：此攻補兼施法也。）</p>
<p>俞按：《臨證指南》治脘痛，大半是肝邪犯胃，或挾痰，或挾瘀，或兼寒，或兼熱，再辨胃之虛實，肝之寒熱，而錯綜參伍以為治。即紫金丹、栝蔞薤半桂枝湯、瀉心加枳實汁、異功加歸、芍，總皆古法，不立新方。其用石決明、桑寄生、阿膠、生地、杞、苓、石斛等以養胃汁，即鼓峰滋腎生肝法也；其用蘇木、人參、桃仁、歸尾、鬱金、柏仁、琥珀、茺蔚，以紅棗肉丸，即孫文垣治查良川法也。惟緩逐其瘀，或用蜣螂、蟅蟲、靈脂、桃仁、桂枝、蜀漆、韭白汁丸，以蟲豸入血搜逐為最巧。又陽微濁凝，用川椒、乾薑、烏、附，大劑辛熱驅寒，不加監製之藥為最猛。惟此二方有大力量。然《指南》全部，亦僅數年之醫案，豈足概先生之一生。自刊行以來，沾溉後學，被其惠者良多。而枵腹之輩，又藉此書易於剿襲，每遇一證，即抄其詞句之精華，及藥方之纖巧而平穩者以應酬，竟可懸壺。無論大部醫書畏如望洋，即小部醫書亦束之高閣，惟奉《指南》，樂其簡便，而不知學之日益淺陋也。嗟乎！豈《指南》誤人耶？抑人誤《指南》耶？</p>

<h2>腹痛</h2>
<p>丹溪治一人投淵取魚案。</p>
<p>俞按：小腹痛甚大汗，脈如循刀責責，昧者必認為真臟脈矣。否則認其病因是寒，惟用桂、附耳。丹溪連以溫藥下之，殊不可及。最難者，痛止復作，不改前方，陡加桃仁，迨瘀下痛止，仍不改前方，又加附子。至愈後傷食復痛，忽變前方而用建中，總由指下認得真，故攻補毫無疑惑也。虞天民治一人冬月入水網魚案，因受寒深重，又誤於寒下，故先投溫補及艾灸，而後進溫下之藥，與此皆確切不移，彼此難換。若認脈不清，必至兩誤。</p>
<p>虞天民治一婦，年五十餘，小腹有塊作痛二月餘案。</p>
<p>俞按：尺脈沉實，則為下焦結糞。今兩尺絕無而斷結糞，又見取脈之巧，非出一途。若死血則脈必澀，前已歷載多案矣。</p>
<p>汪石山治一人，年五十餘，瘦黑理疏腹痛案。</p>
<p>俞按：汪公之察病情，講病因，精細無比，故參、耆、歸、地、麥冬、知、柏、乳、溺，並非腹痛門所列之方，而竟能奏功。愚者遇某病，即於某病門檢方以治，一望迷津，何嘗得濟。況諸書所載方法，此有彼無，彼詳此略，將恃何種為寶筏耶？</p>
<p>嘉言治葉茂卿男案。</p>
<p>周慎齋治一人年二十餘，房事不節，因食酒店飲食，遂火挾臍起，上入胸膈，腹內痛，外皮抽進，如有物閉住胸中。用消導者有之，用溫補者有之，服藥愈多而病愈凶，自分必死。周診之，思相火自下衝上，直至頭回，今火起於臍，至胸而止，乃色欲過度，真陽不足，丹田有寒也。作痛者脾虛有寒，土無火生也。用烏藥二錢，以製附子一枚，每用附子三分，水煎服。蓋附子扶陽，烏藥破滯，只此一味，煎湯極清，清則下行甚速，故五日見效，服附子百枚而愈。（雄按：既能五日見效，何待百枚始愈？「百」字疑誤。）</p>
<p>俞按：喻氏以黃芩、阿膠日進十餘劑，周公以烏藥、附子每次用三分，皆五日見效，可稱絕對。然服附子至百枚，以每次三分計之，功程毋乃太遠乎？</p>

<h2>腰痛</h2>
<p>丹溪治徐質夫腰痛案。</p>
<p>俞按：跌傷有瘀，似宜先逐瘀而後補。丹溪則以年之老，脈之散大，反先補而後逐瘀，是其學問之高也。昧者必以為補住惡血，懼不敢補，則盡力逐之，瘀終不去，而變端起矣。損傷且然，況內傷乎！觀此案及葉先生痢疾案，而知補住邪氣、補住惡血之為謬談也。大抵元氣果虛，則補藥惟元氣受之，而或邪或瘀不相干涉，或元氣不虛，則補藥為邪助長，為瘀增痛，誠非所宜，要在能辨其虛與不虛耳。</p>
<p>雄按：亦當審其虛之微甚，邪與瘀之重輕，而後斟酌其先攻與先補之宜也。如此案雖宜先補，而以蘇木駕馭，參、耆自無補住惡血之虞。葉先生痢案，以陳皮、芍藥輔參、術，亦非蠻補留邪之劑也。</p>
<p>李士材治方魯儒精神困倦，腰膝異痛不可忍，皆曰腎主腰膝，而用桂、附。綿延兩月，愈覺四肢痿軟，腰膝寒冷，遂恣服熱藥，了無疑懼。李診之，脈伏於下，極重按之，振指有力。因思陽證似陰，乃火熱過極，反兼勝己之化，小便當赤，必畏熱湯，詢之果然。乃以黃柏三錢，龍膽草二錢，芩、連、梔子各一錢五分，加生薑七片為嚮導，乘熱頓飲，移時便覺腰間暢快，三劑而痛若失矣。用人參固本丸，日服二兩，一月而痊。</p>
<p>祝茹穹治張修甫腰痛重墜，如負千斤，惟行房時不見重，服補腎藥，總不效。祝曰：腰者腎之府，腎虛斯病腰。然何以行房時不重，必瘀血滯之也。蓋行房時腎搖而血行，行即不瘀，遂不見其重也。以知、柏、烏藥、青皮、紅花、桃仁、蘇木、穿山甲、木通各一錢，甘草五分，薑棗煎，二劑愈。</p>
<p>俞按：瘀血腰痛，古人原有治法。而想到行房時腎搖血即不瘀，豈非明哲乎？然行瘀多用肉桂，此反用知、柏，豈於脈中見相火之強耶？</p>
<p>雄按：血因寒而瘀者，宜散以熱。苟因熱而瘀者，豈可謂必須肉桂乎？俞君固矣。</p>
<p>楊曰：總因熱則流行一語，印定眼目。</p>
<p>孫文垣治吳東星案。</p>
<p>俞按：此條病情反復，孫公能隨其病機曲折以赴之。就所錄者，已有七次治法。惟始終匯載，方知其中間有效有不效，而終底於效，乃可垂為模範。苟逸其半而存其半，則不知來路之淵源，未明結局之成敗，何以評騭其是非乎？因不禁慨然於《臨證指南》矣。</p>

<h2>背痛</h2>
<p>汪石山治一人年逾三十，季夏日午行房多汗，晚浴又近女色，因患白濁，醫用胃苓湯，加右眼作痛，用四物湯入三黃服之，睡醒口愈加苦，又加左膝腫痛，仲冬不藥濁止，漸次延至背痛不能轉側，日輕夜重，嚏則如繩索撮腰脅，痛楚不堪，呵氣亦應背痛，時或夢遺。次年正月，汪診之，脈皆緩弱無力，脾虛可知，左脈滑者血熱也，遂以參、耆各二錢，苓、朮、歸身、麥冬各一錢，牛膝、神麯、陳皮、黃柏各七分，甘草、五味各八分。煎服三十餘帖，再以龜板、參、耆、黃柏各二兩，熟地、萸肉、枸杞、杜仲、歸、茯、牛膝各一兩，丸服而愈。</p>
<p>盧不遠治張二如病瘠膂痛，艱於起拜，形傴僂楚甚。曰：此房後風入髓中，骨氣不精，故屈伸不利。用龜鹿二仙膠，服三月以填骨髓，佐透水丹二十粒，以祛腎風，遂愈。</p>
<p>祝茹穹治一人，患心重如千斤下墜，背彎不能直，每發時疼痛難忍，眼珠直出，舌皆咬碎，無藥可療。祝曰：此必打銅鐵生理，終日用力，傷於飢飽，間以欲事；或因偷情為人所驚，精不得泄，用槌則彎背，驚則心血走，不泄則腎氣逆，以氣裹血，滲溜包絡，遂成是證。究之果打銅匠也。乃以麻黃、羌活各一錢，茯神、香附、歸尾、赤芍各八分，甘草四分。兩劑發汗而心輕，再以熟大黃三錢，赤芍、檳榔、枳實、黃柏、黃芩各一錢。兩劑便通而背直，服八味地黃丸一料，而用力生理如常矣。</p>
<p>俞按：汪案養陰益氣，盧案補精搜風，祝案汗下以通經，溫納以固腎，俱真實學問，非膚淺伎倆。再論背屬太陽，若暴痛，則審其脈浮緊為傷寒，脈沉緩為寒濕，麻黃湯、羌活勝濕湯可酌用也。脊系督脈，若久痛，則審其熱而痛為陰虛，寒而痛為陽虛，麋茸六味、鹿茸八味，可分用也。若肩背痛則兼肺經，腰背痛則兼腎經，又當各求其因而治之。更有胸與背互換作痛，項與背牽連作痛，背痛徹心，心痛徹背，散在諸書，均宜博考。</p>

<h2>脅痛</h2>
<p>張戴人治一人危篤脅痛案。</p>
<p>俞按：脅下結硬如石，的系積塊，若宗養正積自除之說而用參、術，何異助紂為虐耶？幸遇戴人以湧法起其沉疴，亦賴脈之沉實有力耳。因知善於切脈者，則如禮樂與干戈，俱能戡亂致治也。</p>
<p>王宇泰曰：秦文山掌教每患脅痛，遇勞忍餓則發，因來求方。余以參、耆、朮、地、芎、歸、萸肉、棗仁、牛膝、木瓜、石斛、苡仁、柏仁、桃仁之屬，令常服之。後來謝云：自服藥後，積久之疾，一朝而愈，不復發矣。聞魏崑溟吏部，亦以勞餓得脅痛，無大病也，誤服枳殼、青皮破氣之藥，痛愈甚，不數日而殞，可不鑑哉！</p>
<p>孫文垣治李悅齋夫人，胸脅大腹作痛，譫語如狂，寅卯辰三時少輕，午後及夜，痛劇咬人，晝夜不睡，飲食不進者十八日。究其故，原有痰火與頭疼牙痛之疾，又因經行三日後頭疼發寒熱，醫以瘧治，因大惡熱，三四人交扇之，而兩手浸冷水中，口噙水而不咽，鼻有微衄，又常自悲自哭，目以多哭而腫，小水直下不固，喉梗梗吞藥不下，脈則左弦數，右關洪滑。孫曰：熱入血室也。誤服剛燥之劑而動痰火，以致標本交作。諸人猶謂熱入血室，惟夜間讝語如見鬼，何至胸脅疼劇咬人耶？孫曰：仲景云，經水適來適止，得疾皆作熱入血室治。痛極咬人者，乃胃虛蟲行求食而不得，故喉中梗梗然也。以小柴胡加桃仁、丹皮而讝語減，次日以安蛔湯與服，而疼止食進。</p>
<p>俞按：痛極咬人，合以喉中梗梗，認為蛔飢求食，亦屬偶然應驗。若欲據以辨證，恐不可執。</p>
<p>雄按：此證究屬肝陰大虧為其本病，善後之法，必用滋養肝腎為宜。</p>

<h2>腳上諸證</h2>
<p>孫文垣治一貧士，兩足不痠不痛，每行動絕不聽其所用，或扭於左而又墜於右，或扭於右而又墜於左，之玄而行，不能一步正走，此亦目之希覯，書所未載。余憶度之，由筋軟不能束骨所致，故行動則偏斜扭墜也。夫筋者肝之所主，肝屬木，木縱不收，宜益金以制之。用參、耆、白芍以補肺金，苡仁、虎骨、龜板、杜仲以壯筋骨，加鐵華粉以專制肝木，煉蜜丸，早晚服之而愈。</p>
<p>孫文垣治一人，生黴瘡後，偶遭一跌，環跳脫出，不能復入巢臼，疼痛殊堪，兩足因長短不齊。余思不能復入窠臼者，以瘀血流入窠臼，佔滿故竅，致骨不能復入也。今宜消去瘀血，必以行氣活血之劑為主，以下行嚮導之劑佐之，庶可復原。用陳年窖中磚瓦，洗淨煅過四兩，生地、杜牛膝、骨碎補、丹參、赤芍各一兩五錢，自然銅三兩，蒲黃、車前子、蘇木各一兩，鹿角二兩，元明粉五錢，各為末，以茅草根一斤，紅花四兩，煎膏拌曬前藥，再以蜜丸。服之尋愈。</p>
<p>施笠澤治張侗初患足脛痛三年矣。診之脈沉細而澀，曰：此下焦元氣不足，不能榮養筋骨，當用滋補舒筋之劑。服後微效。因勞旋作，再診之脈兼浮數，元氣愈耗矣。為制人參膏，及河車天乙丸間服，元氣漸壯，獨兩脛作楚不能忍，因制萬靈膏，去樟腦加韶粉、蘇合、麝香，以軟帛緊繫兩脛，仍令飲甘草湯，不頃刻而痛若失。此膏良驗，方載《本草綱目》。後用黃耆建中湯加參、歸，調理全愈。</p>
<p>何嗣宗治鍾滄柱少年得腳弱病，痠酸楚無力，兼小便艱難，欲溺必久立之始通，大補肝腎藥不應，何用六味地黃丸加黃牛腿骨髓一具而愈。以之治此者，道在邇而求諸遠也。</p>
<p>雄按：秀水沈岷源《奇證匯》云，一男子患腳跟骨脫落，動之則痛，艱於行步，葉天士先生視之曰：此濕傷筋絡也。以苦葶藶四兩炒，防己、木香、茯苓、木通、人參各二錢五分，為末，棗肉丸如桐子大，每三十丸，桑皮湯下，名聖靈丹。服之果愈。</p>

<h2>面病</h2>
<p>羅謙甫治一婦，三十餘歲，憂思不已，飲食失節，脾胃有傷，面色黧黑不澤，環唇尤甚，心懸如飢，飢不欲食，氣短而促。羅曰：人身心肺在上，行營衛而光澤於外，色宜顯而不宜藏；腎肝在下，養筋骨而強壯於內，色當隱而不現；又必賴脾胃在中，傳化精微以灌四旁，沖和而不息。若其氣一傷，則四臟失所。今憂思不已，脾胃氣結而不行，飲食失節，脾胃氣耗而不足，故使陰氣上溢於陽中，而黑色見於面。又經云：脾氣通於口，其華在唇。今水反侮土，故黑色見於唇，此陰陽相反，病之逆也。「上古天真論」云：陽明脈衰於上，面始焦。可知陽明之氣不足，乃用沖和順氣湯，以葛根一錢五分，升麻、防風各一錢，白芷、黃耆各八分，人參七分，甘草四分，白芍、蒼朮各三分，以薑棗煎，己午時前服，取天氣上升之時，使人之陽氣易達也。數服而愈。此陰出乘陽治法也。</p>
<p>雄按：羅氏此論雖精，但此證乃脾胃虛而清陽不升，故面無華色，並非陰氣上溢於陽中之色黑也。如果陰出乘陽，亟宜驅降濁陰，豈可再服升劑，以助其逆哉？更有多服溫補之藥，火氣上升而面黑者，宜清解化毒為治。</p>
<p>楊曰：議論與方不相照顧，古案多有之，當是病愈後補敘之案，故參差如此，非孟英發明其旨，幾何不貽誤後學耶！</p>

<h2>鼻</h2>
<p>祝茹穹治遊成宇患一證，遍身畏寒，夏月亦須棉襖，夜即烘火，鼻中全然不聞香臭，鼻孔有一物，如豆大，癢極，若以手搔之，則又痛極，惟以黃泥入鼻，知為土氣，常半月不開口，無醫能治。祝曰：證有奇證，治有奇法。令覓一間極小房，四面砌磚，不許漏風，而四面俱錐一孔，地下掘一小坑，僅盤大，可容人面，然後鎖閉病人於房內。用艾百斤，漸從四面孔內燒入，自辰至午，燒至三四十斤，煙塞滿房，不能容鼻，遂伏地而尋空隙，得盤大之小坑，以鼻抵之，須臾覺鼻息通暢，自午至子，遍身熱極，棉衣盡卸，天明開視，其鼻中贅疣已落，不畏風寒，服補中益氣湯十劑全愈。究此病所以，因居樓上，木氣太甚，冬月用火太多，無縫可泄，木又生火，積入成錮，熱在藏府，寒在皮膚。用艾以灸皮膚之寒，而通藏府之竅。木入土而朽，火入土而燼，觀其病時，惟聞有土氣，固已得治法矣。</p>
<p>俞按：此法固奇，然亦甚險，不可學也。夫人生於氣，如魚生於水，若以十笏小房，閉人於內，四面糊之，不通一竅，半日而人死矣，以其與天地之氣隔絕也。今雖四面有孔，孔既極小，又以艾葉熏入，掘地之坑，僅容人面，恐呼吸皆煙，悶極無逃，豈不危殆？</p>
<p>雄按：祝氏諸案，立論頗新，然有意矜奇，不無過實。讀者但師其意，毋泥其跡可也。</p>

<h2>發</h2>
<p>丹溪治一女子，十七八歲，發盡脫，飲食起居如常，脈微弦而澀，輕重皆同，此厚味成熱，濕痰在膈間，復因多食酸梅，以致濕熱之痰隨上升之氣至於頭，熏蒸髮根之血，漸成枯槁，一時脫落。治須補血升散，乃用防風通聖散去硝，其大黃酒炒三次，兼以四物合作小劑與之。月餘診其脈，知濕熱漸解，乃停藥，淡味二年，髮長如初。</p>
<p>俞按：發落補腎，宜兼補心，若眉落宜兼補肝，以眉稟木氣而側生也。但肝為風臟，眉落多是患風之徵，防成癘風。至於須落，必系腎虛，以須稟水氣而下生也。《魏書》李元護為齊州刺史，姬妾十餘，聲色自縱，情欲既甚，肢骨瘦削，鬚鬚長二尺，一時落盡。又《北史》載王頒痛父僧辨為陳武帝所殺，至隋滅陳後，召父時壯士潛發其陵，剖棺見陳武帝須皆不落，其本皆出自骨中，此雖賦形不同，亦可見腎氣之獨厚，故勇略殊常也。</p>

<h2>目</h2>
<p>孫真人奉旨治衛才人眼疼，前眾醫不能療，或用寒藥，或用補藥，加之藏府不和。孫診之，肝脈弦滑，非壅熱也，乃年壯血盛，肝血並不通遂，問宮人月經已三月不通矣。用通經藥，經行而愈。</p>
<p>俞按：肝脈弦滑，能不誤認為風痰病眼乎？因肝藏血而知其血盛不通，誠切當矣。然猶問宮人，始得停經三月之信，並不先言據脈當停經也。真人尚如此，奈何諱疾者，每不言以責其斷病耶？此正犯東坡所云：我欲困醫，而我病亦適為醫所困耳。</p>
<p>孫東宿治孫如亭令正，年過四十，眼偶赤腫，兩太陽疼痛，大便不行者三日。平時汛期一月僅兩日，今行四日未止。眼科治之，逾候腫赤不消，而右眼內眥突生一白疱，垂與鼻齊，大二寸余，醫見而駭走，以為奇疾，莫能措劑。又見其嘔吐眩暈，伏於枕上，略不敢動，稍動則眩愈甚，吐愈急，辭不治。孫診之：兩寸關脈俱滑大有力，兩尺沉微。孫曰：此中焦有痰，肝膽有火，必為怒氣所觸而然。《內經》云：諸風掉眩皆屬於木；諸逆衝上皆屬於火。蓋無痰不能眩也。眼眥白疱，乃火性急速，怒氣加之，氣乘於絡，上而不行，故直脹出眼外也。古壯士一怒而目眥裂，與白疱脹出理同。肝為血海，故血亦來不止。治當抑其肝木，清鎮痰火，則諸證自瘳。先用薑汁益元丸壓其痰火，以止嘔吐；再以二陳湯加酒連、酒芩、天麻、滑石、竹茹、枳實、吳茱萸。一帖眩吐俱定，頭稍能動，改用二陳加芩、連、穀精草、夏枯草、香附、苡仁、吳茱萸。四劑目疾全愈，血海亦淨。</p>
<p>俞按：此案見證甚怪，治法甚穩，因知醫病只要明理，毋庸立異也。</p>
<p>張石頑治澄和尚案。</p>

<h2>咽喉</h2>
<p>馬銘鞠治倪仲昭案。</p>
<p>李昆陽治許某初起外感發熱，繼則左耳門生小癤潰腐，認為聤耳，敷以藥，潰腐不退，通耳腫赤，延及頭面皆腫赤痛極，汗大出，身熱反得涼，頗能進食，似覺稍安。越三日，忽又發熱，左耳前後連頭面腫痛更甚，漸神昏譫語，蓋因連日出門登廁，復受風邪所致。內外科皆以脈小而數，按之無力，慮其虛陷。李曰：此耳遊風也，非致命之瘡，重複冒風，故現險象。外敷以藥，內用大劑風藥散之，而腫痛身熱俱退，惟神昏譫語不減，兩日後昏譫更甚，湯粥入口即吐，手足厥冷，呃逆不止，勢又危極。李以箸抉其口視之，則咽喉腐爛，懸雍赤紫，腫大如茄子下墜，脈仍細數，右手尤軟。乃曰：連日不食，胃氣大虛，故嘔且呃，命以白米三升淘淨，大鍋煮粥，取鍋麵糰結之粥油與食，（雄按：趙恕軒云：粥油能補人精。）遂納而不吐；復用藥攪洗喉間之腐穢，（雄按：以錫類散糝入更妙。若未腐者，諸葛行軍散亦佳。）隨以石膏四五兩，竹葉一大把煎湯與漱且服，服之竟夜，神昏始醒，呃止厥回。又進大劑芩、連、白虎、梔、翹等藥，數日而全愈矣。</p>
<p>俞按：此與景岳治王蓬雀案，冰炭相反。然蓬雀能受溫補，故一劑即效。亦有證如蓬雀，雖投溫補而不效者，即陽證陰脈之死候也，未可謂景岳之法概能活人。況許證之脈雖軟小，而病非格陽，設從景岳之言，尚待問哉。故為醫者，讀古人書，斷不可執其一說，自以為是也。</p>

<h2>唇</h2>
<p>高果哉治魏子一未發時，常患嘴唇乾燥，自服麥冬一兩，生地四錢，元參二錢，五味一錢，甘草六分，烏梅三個，雖有小效，而病根不去。果哉云：此證宜用神水。其法以鉛熔化，散澆於地成薄片，取起翦作長條數塊，以一頭鑽眼，懸吊於鍋，鍋內置燒酒，燒酒之上，仰張一盆，與鉛片相近，使酒沸而氣上衝於鉛片，鉛片上有水滴下盆內，謂之神水。取服之，以此水從下而上，能升腎中之水，救上之乾燥也。</p>
<p>俞按：神水亦古方所載，得高公之釋，其義始明。</p>
<p>雄按：何西池《醫碥》所云甑氣水之功，似勝於此，而取之亦較易也。</p>

<h2>齒</h2>
<p>易思蘭治一人患齒病案。</p>
<p>俞按：此案醫理講得最精。由於脈象診得的真，而更運以巧思，斯發無不中矣。清胃散之庸，誠不足責，即泛用滋陰藥，亦難應手。只此三味，詮解甚明，信乎缺一味不可，多一味不必也。余鄉有患齒痛數年，諸藥不效者，葉天士先生用山萸肉、五味子、女貞、旱蓮各三錢，牛膝、青鹽各一錢而全愈。此取酸鹹下降，引腎經之火歸宿腎經，可與易公之方並垂不朽，而其義各別。</p>

<h2>黃疸</h2>
<p>仲淳曰：顧仲恭遭鼓盆之戚，復患病在床。一醫診視，驚訝而出，謂其旦晚就木，因延余診之，左手三部俱平和，右手寸尺亦無恙，獨關部杳然不見。諦視其形色，雖尪羸而神氣安靜。余詢之曾大怒乎？曰：然。余曰：此怒則氣並於肝，而脾土受邪之證也。經云大怒則形色絕，況一部之脈乎？甚不足怪。第脾有積滯，目中微帶黃色，恐成黃疸。後果遍體發黃。服茵陳利水平肝順氣藥，數劑而痊。</p>
<p>俞按：《金匱》云：病疸當以十八日為期，治之十日以上瘥，反劇者為難治。就餘生平所驗，分毫不爽。有先因他病而後發黃者，有先發黃而後現他病者，必於半月一月之內退盡其黃，則他病亦可治。設或他病先瘥而黃不能退，至一年半載仍黃者，必復現他病以致死。大抵酒傷及有鬱結與胃脘痛，皆發黃之根基，而泄瀉腫脹不食，乃發黃之末路。若時行病發黃，亦多死證，諺曰瘟黃也。惟元氣實者，審其為瘀血，為濕熱，逐之清之，得黃退熱亦退乃可無虞。古人醫案，俱未有說及久黃者，可為余言之一證。即如此條關脈不見，亦云數劑而痊，要知因於大怒，偶然不見耳。若並未動怒，關脈連日不見，目中微帶黃色，即為脾絕之徵，死無疑矣。</p>

<h2>麻木</h2>
<p>俞東扶曰：麻多在於手足者，以四末道遠氣餒，則衛行遲而難到也。故麻不兼木，必屬氣虛，否則風痰。凡脈浮而軟，或大而弱者，氣虛也；脈浮而滑，按之不衰者，風痰也。若麻木兼作，則有寒濕、積痰、死血之殊，其脈有沉遲滑實與沉澀而芤之分矣。</p>
<p>楊曰：語語精當，宜熟識之。</p>

<h2>痛風</h2>
<p>韓飛霞治一都司案。</p>
<p>俞按：此證甚危，此論甚佳。乃以清燥湯一方收功者，蓋五志過極，皆為火鬱，此方連、柏以清火；蒼、曲以散郁；鬱熱能蒸濕，二苓、澤瀉以滲濕；濕熱甚則脾土衰，二朮、人參以助脾補元；濕熱勝則肺金困，參、耆、麥冬、五味助金以制木，使不生火；又火亢者水必虧，故兼歸、地養血；再合升、柴之升清，苓、瀉之降濁，恰與經絡奇邪吻合。所謂奇邪者，乃奇經之邪，故云非十二經中正疾也。</p>
<p>楊曰：凡用成方，必須與病吻合，如此乃佳，否則必須加減。</p>
<p>孫文垣治孫質庵案。</p>
<p>俞按：此案論治處方，俱極精當，葉案有藍本於此者。</p>
<p>祝茹穹治閩闈典試，半月前忽腿疼，兩腳筋縮，腳根縮黏至腿，寸步不能行，將一月，屢藥無效，咸以此為痿痹證。祝曰：非也。察其脈左寸忽洪忽澀，遲數無定棲，因其好飲冷酒，酒新則性熱燥，冷飲又犯寒濕，寒熱相搏，遂有此病。乃以川烏二錢去皮臍，麻黃二錢，兩股梢，一股根，蒼朮一錢，以甘草汁拌炒，白蒺藜一錢，去刺，酒蒸熟焙乾。同為末，每服一錢二分，用老酒熱服，蓋被出汗。一服即能行動，三服而痊。</p>
<p>葉天士治嘉善周姓，體厚色蒼，患痛風，膝熱而足冷，痛處皆腫，夜間痛甚，發之甚時，巔頂如芒刺，根根發孔覺火突出，遍身躁熱不安，小便赤澀，口不作渴，脈沉細帶數。用生黃耆五錢，生於術三錢，熟附子七分，獨活五分，北細辛三分，防己一錢五分。四劑而諸證皆痊，惟腫痛久不愈，陽痿不舉。接用知、柏、虎膝、龜板、蓯蓉、牛膝不應。改用烏頭、全蠍各一兩，穿山甲、黃柏各一錢，防己一兩五錢，麝香三錢，生馬料豆二兩，茵陳湯泛丸，每服一錢，開水下而愈。</p>
<p>俞按：此與《指南》所載治鮑姓周痹，用蜣螂、全蠍、地龍、穿山甲、蜂房、川烏、麝香、乳香，以無灰酒煮黑大豆汁法丸者，各有妙義，非淺見寡聞者所能窺測。</p>

<h2>痿</h2>
<p>滑伯仁治一婦瘧後善飢成痿案。</p>
<p>俞按：東垣長夏濕熱成痿法，即清燥湯也，用於此證最妥。合丹溪治一人春病痰氣至夏月足弱案觀之，可為善用辛燥熱藥者戒。</p>
<p>石山治一人久坐腰痛案。</p>
<p>俞按：此條講病最精，用藥則未敢深信。既云熱多者筋急而痛，且現右齒面痛，何以重用參、耆甘溫之藥？其些微之知、柏，寧有益耶？</p>
<p>葛可久治同郡富人女案。</p>
<p>俞按：香為脾臭，何以蝕脾？意者香能開竅，香極則諸竅大開，脈緩筋弛，關鍵盡撤，故身軟目瞪不食也。畀入土坎者，諸毒得土而化。且土為萬物之母，四肢百骸得土氣，則生氣自復也。仍合治痿獨取陽明之義。</p>
<p>雄按：香能開竅，氣太發泄，發泄既久，脾氣乃虛，故曰蝕也。蓋脾胃主四肢，不但脾虛四肢不用，胃實亦有之。（楊曰：凡病虛實寒熱，俱有對待之證。）余治朱茂才瘧愈之後，已服補劑，且能食肉，忽然臥床不起，四肢痿痹，不能自食，目瞪不語，醫治四日，病如故。余診之，脈弦細而軟，苔薄微黃，大便不行，察其胸腹皆柔軟，神氣亦清，耳不聾，與之食亦食。此補之太驟，痰阻樞機，氣鬱不舒，非痿症也。予菖蒲、遠志、膽星、枳實、茯苓、半夏、竹茹、橘皮、旋覆為方，蘆菔湯煎服。一劑而更衣起榻，談笑如常。故余先曾祖《隨筆》中謂治痿獨取陽明，不專指虛證說。由此推之，即中氣不足，溲便為之變，亦不可泥不足為虛也。如濕熱痰食，皆能阻滯脾胃，而中氣窒礙，不足轉輸，致溲便變其常度，豈可概視為虛證乎？故讀書必悟兩面，臨證庶免執一。</p>
<p>李士材治朱太學、倪文學、高兵尊三案。</p>
<p>俞按：此三案精妙絕倫，以藥對脈，確切不移。首案連用承氣，繼用參湯送寒下藥，皆是獨取陽明治法。末案補中益氣與大黃補瀉不同，總歸乎取陽明也。</p>
<p>又按：《臨證指南·痿門》首列輕清治肺二方，實宗肺熱成痿之旨。第恐力薄難效，其用二妙、茵陳、萆薢、茯苓皮、蠶砂、海金沙、防己、龍膽、寒水石等，直清濕熱，較之清燥湯反勝一籌，不涉虛者，允宜仿此。又有治下虛上實，而用犀角地黃湯去芍藥，加元參、連翹、桑葉、鉤藤，似乎專理上實，不顧下虛。然雲頭目如蒙，入夏陽升為甚，議清營熱以息內風，想其人脈必弦數，有熱甚生風之象，未可兼顧下虛，或他日再診而後滋填下焦，亦未可知。至於滋填下焦方，有用虎潛加減者；有用四物金剛健步及地黃飲子加減者；有用熟地、蓯蓉、巴戟、遠志、鹿角霜、桑椹、蒼朮、小茴，以狗脊酒蒸，熟水熬膏為丸者；有用蓯、戟、杞、膝、青鹽、線膠、茯苓、沙苑、鹿筋膠、羊肉膠、牛骨髓、豬脊髓者，卻元參、術補陽明法，亦無承氣瀉陽明法。惟脾腎雙補丸有人參，然其案重在暈麻瘕泄，尚未痿厥，非以治痿也。統觀之，不外清濕熱、益肝腎，豈二種病情偏多耶？或案有遺逸，未能詳備耶？</p>

<h2>癥瘕</h2>
<p>倉公治臨菑女子薄吾案。</p>
<p>俞按：此條辨證最佳。上膚黃粗者，腹大而腹上膚黃粗也；循之慼慼然者，如以手摸老松樹皮之枯燥也；其尺索刺粗者，亦是枯燥之象。然眉發皆潤美，面色又光澤，知為蟲病也。</p>
<p>又按：《類案》所載偏嗜成瘕諸案，可助麈談，難充診則，惟諸病名亦所當知。但嗜酒嗜茗，尚非怪異。如鮮于叔明嗜臭蟲，權長孺嗜人爪，劉邕嗜瘡痂，唐舒州刺史張懷肅左司郎中任正名李棟服人精，賀蘭進明好啖狗糞，明初僧宗泐嗜糞浸脂麻雜米煮粥，駙馬都尉趙輝喜食女人陰精月水，南京祭酒劉俊喜食蚯蚓，吳江婦人喜食死屍腸胃。此種癖疾，惜無能治之者，遂作小說，傳流至今，令人絕倒耳。春夏間蛇精及液沾菜上，誤食之，腹內生蛇，須用赤頭蜈蚣一條，炙為末，分二服酒下。</p>

<h2>積塊</h2>
<p>陳自明云：余族子婦腹中有大塊如杯，每發痛不可忍，余診之知為血瘕，投黑神丸，盡三丸，塊氣盡消，終身不復作。</p>
<p>俞按：黑神丸載在《濟陰綱目》，以彈子大一丸，分四服。據云痃氣十服，膈氣癥瘕五服，血瘕三丸，當瘥。想系神效之方，並注漆有飛補之力，但世間有一種人，沾染漆氣，即患漆瘡者，若誤投之，寧不為害？所當慎也。余又見一婦，先因痞塊經閉，里醫用生漆濃塗紙上，陰乾煅灰，同諸行血藥服之。數服後，頓下鮮血盈桶，遂困憊不堪，就余治，雖大進補劑，終淹成弱證而死，所謂飛補者安在哉？</p>
<p>張三錫治一少年，體薄弱，且咳血，左邊一塊，不時上攻作痛，左金、蘆薈俱不應，診其脈三部雖強，而細澀不流利，因作陰虛治，四物加知、柏、無參、丹皮。不六劑頓愈。此陰虛似肝積也。雖因部分名積，診視之際，尤當詳審，惟圓機者乃不昧此。</p>
<p>雄按：此血中氣滯，鬱而成熱，熱復耗營，氣愈不宣，而成此證，故如此用藥。血虛亦屬陰虛，然與真陰虛者有別，學者辨之。</p>
<p>喻氏治袁序東案。</p>
<p>俞按：此人克伐太過，換以溫補，未足為奇。惟兩尺脈洪盛，非此詮解，誰不面牆？至於桂、附、河車，同補腎藥為善後計，則與腎氣傳膀胱之論，緊切不泛，非通套治痞成法可比。</p>
<p>李士材治於鑑如，每酒後腹痛，漸至堅硬，得食輟痛。李診之，脈浮大而長，曰：脾有大積矣。然兩尺按之軟，不可峻攻，令服四君子湯七日，投以陰陽攻積丸三錢，但微下，更以四錢服之，下積十餘次，皆黑而韌者。察其形不倦，又進四錢，於是腹大痛，所下甚多。仍服四君子湯十日，又進丸藥四錢，去積三次，又進二錢，下積六七碗，脈大而虛，按至關部豁如矣。以補中益氣湯調補一月而痊。</p>
<p>俞按：脈浮大而長，為脾有大積，較之丹溪諸案，或沉澀而小且數，或微而短澀，或虛微短澀，或脈澀而弱者，大不同矣。須於臨證時，能以古人各種脈法，俱為我之正鵠，庶期中的。若兩尺按之軟，不可峻攻，固是正理，然亦要看得靈變。蓋兩尺軟為虛，則喻按之兩尺洪盛，寧不認為實而峻攻之耶？故又當以色形及病情參討也。</p>
<p>又治侯啟東腹中嘈痛，按其左脅，手不可近，凡飲食到口，喉間若有一物接之者。然脈大而數，腹痛嘔涎，面色痿黃，此虛而有濕，濕熱相兼，蟲乃生焉。當煎人參湯送檳黃丸以下蟲積，蟲若不去，雖補何益乎！病者畏不敢用，後竟不起。</p>
<p>俞按：此是蟲積，猶之飲積，俱無塊者也。彼肯服攻積丸而愈，此不肯服檳黃丸而死，因知病之宜補宜攻，總貴用其所當用，誠不可專守潔古之說為穩著也。</p>
<p>周慎齋治一婦素善怒，左脅下有塊，身肥大，經將行，先一二日必吐下，此肝木乘脾，脾虛生痰不生血也；善怒脅塊，肝氣亢也；吐下者，脾氣虛也。身肥則多痰，痰盛者中焦多濕，故經行時氣血流通，衝動脾濕，且吐且下也。久而不治，必變中滿。宜理脾燥濕：白朮一兩，半夏五錢，生薑七錢，沉香二錢，共研末，白糖和服。又一人左脅下有塊，右關脈豁大。用烏藥一兩，以附子五錢，濃煎制透，將烏藥日磨二三分，酒送下。俟積行動，乃以補中益氣湯加附子服之。後用六君子丸服全愈。</p>
<p>俞按：慎齋云：凡積不可用下藥，徒損真氣，病亦不去，當用消積藥使之熔化，則除根矣。積去須大補。誠格言也。即此二案，亦平淡之神奇矣。</p>
<p>葉天士治一婦產後惱怒，左邊小腹積一塊，每發時小腹脹痛，從下攻上，膈間乳上皆痛，飲食入胃即吐，遍治不效。葉用炒黑茴香一錢，桂酒炒當歸二錢，自制鹿角霜、菟絲子各一錢五分，生楂肉三錢，川芎八分。水煎送阿魏丸七分。八劑而愈。次用烏雞煎丸原方半料，永不復發。又一人患瘧補早，左脅成痞，連於胃脘，按之痛甚，用炒桃仁為君，佐以阿魏、穿山甲、鱉甲、麝香，丸服，全消。</p>
<p>俞按：消積之方，如桃仁煎，用大黃、虻蟲、芒硝；黑神丸，用生漆、熟漆；東垣五積丸，俱用川烏、巴霜；局方聖散子、三稜煎丸，俱用硇砂、乾漆。此皆峻厲之劑，用而中病，固有神效；若妄試輕嘗，鮮不敗事。千金硝石丸，人參、硝黃並用，丹溪猶以為猛劑。治婢一案，每與補藥迭進，此真善治病者也。丹溪治積聚諸案，輕重曲折，適至病所。如治方提領，用參、朮、歸、芍等煎湯，下保和丸二十五，龍薈丸十五。治馮氏女，先用左金丸、青六丸，復用參橘桃芍丸。治盧子裕瘧後食酒肉而成塊在左脅，用參、朮、柴、苓、枳殼煎湯，下阿魏五、保和十、抑青十、溫中五、攻塊五。攻塊者，青皮、三稜、桃仁、桂枝、海藻，醋調神麯為丸也。治下邳錢郎，用保和二十、溫中二十、抑青十，以白朮、木通、三稜湯下。此等方法，皆補藥與磨積相半，而必兼清肝之藥，大抵因怒成塊者多也。又治陳里長男，飽食牛肉豆腐成塊在右脅，脈弦而數，即明告以此人必性急，塊上不可按，按則愈痛，痛則必吐酸黃苦水，而用荔核、山楂、枳實、山梔、茱萸、人參、薑汁以止痛，繼用皂角煎汁製半夏合黃連、石鹼，用糖球膏為丸以消塊，仍是治肝為主，磨積為助。學者能逐案細繹，自有悟處。再閱葉案積聚門，只用雞肫皮、萊菔子、蛤粉、芥子、蜣螂、蟅蟲、青、樸等，並無古方狠藥，其理尤可想見矣。又余目擊杭州一婦患痞塊，用黑神丸大效，每痛作嘔脹不堪，服此即愈，數十服後，百苦皆除，半年外以他病暴亡，因思漆身為癩之言，藏府豈能常漆耶？清純沖和之氣，耗喪於此藥而不覺也。再按阿魏丸方甚多，如《醫林》阿魏十四味，內有石鹼、風化硝；小阿魏丸七味，乃稜蓬、胡椒、青皮、木香、麝香；《心統》消積阿魏丸，共八味，內有三稜、莪朮、牽牛、穿山甲；丹溪阿魏丸治肉積者只四味。又《醫林》小阿魏，即丹溪治陳星長男之三味，欲無阿魏，猶之琥珀膏只大黃、朴硝各一兩為末，以大蒜杵膏貼之，並無琥珀也。總須對證擇用耳。</p>

<h2>陽痿</h2>
<p>周慎齋治一人，年二十七八，奇貧鰥居，鬱鬱不樂，遂患陽痿，終年不舉。溫補之藥不絕，而證日甚，火升於頭不可俯，清之降之皆不效，服建中湯稍安。一日讀本草，見蒺藜一名旱草，得火氣而升，能通人身真陽，解心經之火鬱。因用斤余炒香，去刺為末，服之效。月餘諸恙皆痊矣。</p>
<p>景岳治一少年，遭酷吏之恐陽痿案。</p>
<p>俞按：《巢氏病源》以腎間動氣為人之根本，故老年能御女，七十歲至八十歲猶生子者，其動氣之稟於生初者獨厚也。厚則剛，陽自不痿。亦有未老而陽即痿者，必不能至大壽，須任其自然，絕意淫欲，尚可延齡。設以興陽藥內服外洗，求為御女之事，不數年而死矣。若壯年無病而陽痿，其人多夭。少年虛損而陽痿，其死立至，皆由腎間動氣早衰也。動氣即命門真火，所以生長元氣，煦燠元陰，故氣曰陽氣，精曰陽精。其盈虧俱得於先天，盈者雖斫喪而無傷，虧者雖葆養而不足，並非藥石所能擴充。乃扁鵲新書載王超老淫故事，而云保命之法，灼艾第一，丹藥第二，附子第三，此說荒唐，斷不可信。又考宗筋聚於前陰。前陰者，足之三陰，及陽明、少陽、沖、任、督、蹻九脈之所會。而九脈之中，陽明為之長。《內經》云：陽明者，五藏六府之海，主潤宗筋。（雄按：經言有極可徵者，如馬之鼻黑者，陰莖亦黑；若鼻白者，陰莖必白。蓋鼻雖為肺竅，而位鎮中央，實陽明脈之所鍾也。）所以胃強善啖之人，其於欲事必強，反是則痿而不舉，或舉而不堅，是胃氣能為腎氣之助。古云：精生於穀。又云：男子精盛則思其色。其道理可喻矣。新書之言，不過如宋人揠苗耳，況丹藥之害，可勝言哉！</p>
<p>楊曰：先天虧損者，非藥石所能充。此語良是，然未始無葆養之法。人若於閒暇時，即靜坐數息，綿綿降下丹田，則腎氣自然強固。於靜中或睡臥時，覺陽具自舉，即正坐撮提穀道，使氣從夾脊上升泥丸，仍復降至丹田，如此數次，陽氣自回。每行一次，則精神增長一次，此元門不傳之秘也。</p>

<h2>脫肛</h2>
<p>俞惺齋治一人脫肛，腫痛出水，尺脈洪數，用樗根白皮、川柏、訶子肉、沒石子、鱉頭灰而愈。其人好酒形實，乃濕熱下注，非氣虛下陷也。</p>

<h2>痔</h2>
<p>俞惺齋治徐某，先患內痔，復生外痔，則腫痛出膿血，內又脹痛異常。每登圊後，內痔墜出，欲捺之進內，礙於外痔，欲俟其自收，則相抵痛極，以致行坐不得，晝夜側臥而已。內服芩、連、槐花等藥，外抹熊膽及冰片、田螺水等法，總不應。痛甚汗多困乏，稍進人參則痛益加。余診之，右關尺沉大有力，令以蕎麥麵、豬膽汁為丸服。凡服豬膽二十枚，而內外之痔皆泯跡矣。</p>
<p>俞按：酒煮黃連丸及臟連丸，皆治痔痛下血之正法。余如干柿燒灰飲下，四時取其方柏葉燒灰調服亦佳。慧禪師云：平直量骨脊與臍平處椎上灸七壯，年深者更於椎骨兩旁各一寸，灸如上數，無不除根者。</p>

<h2>女科</h2>
<p>葉杏林《指掌賦》曰：醫學之傳，首自黃、農；女科之始，則由扁鵲。邯鄲為帶下之醫，史遷所載；《產寶》著愈風之散，華佗所傳。病機不等，巢元方之立論最詳；精血攸關，褚侍中之遺書最善。熱入血室，臟燥悲傷，胃氣下泄而陰吹，（雄按：陰吹乃婦人常有之事，別無所苦者，亦不為病，況系隱疾，醫亦不知。相傳產後未彌月而啖蔥者必患此，不可謂之病也。惟吹之太喧，而大便堅燥者，乃稱為病。然亦但治其燥，不必治其吹。）非張長沙孰能辨此；三十六病，轉女為男，巧奪造化之樞機，舍孫真人其誰與歸。唐白敏中訪咎殷備集驗方三百七十八首而為《產寶》；宋郭稽中補濮陽李師聖產論二十一篇以為《產方》。作大全，陳自明之勳最；補醫案，薛立齋之功多。高賓刻《便產須知》，杜荍著《產育寶慶》，朱丹溪之《百問》可傳，陳無擇之《三因》宜讀。蒐羅眾善，王宇泰之《女科準繩》；分晰群芳，武叔卿之《濟陰綱目》。議論具備於經綸，方法謹承夫家秘，東垣、河間各有名言，春甫、養葵亦多妙義。諸書悉當誦習，臨證自探淵微。學問思辨，不辭人十而己千。補瀉寒溫，可即一隅而反四。功行滿則青城有望，怠惰久則白首無成。</p>
<p>雄按：轉女成男之術，驗者甚少，惟有一法，每試有效，且甚簡易：若停汛而確知其為受孕，即取紅紙一張，本夫親書：「五更露結桃花實，二月春生燕子巢」十四字於上。書時，心中須默誦：「旡思也，旡為也，寂然不動，感而遂通」四句。書畢貼於臥床隱處。凡書時、貼時均不可令人見，並令人知，驗後始可傳人也。</p>
<p><u>經水</u></p>
<p>丹溪治一婦年二十餘，形肥痞塞不食案。</p>
<p>俞按：飲薄粥一碗，必吐水半碗，臥不能起，將認作大虛證矣。其辨在於痞塞及經停之前，雖通而黑色也。此怒火食積，郁成濕熱，上則飲停，下則瘀阻，實證似虛耳。辰時寸關脈滑有力者，辰為氣血注胃之時，胃滿甚而連及上焦；午後惟關脈滑，獨顯胃實之象矣。方主消痰消食，破氣破血，加黃連、滑石以清濕熱，仍兼人參以鼓舞胃氣，使諸藥得行其疏通之力，再佐薑汁之辛以開道路，又治嘔吐，此真紀律之師，有勝無敗者也。然猶有病深藥淺之慮，隔三日以二丸微下，則直搗賊巢，病根可拔矣。</p>
<p>石山治一人年逾四十，形色頗實，常患難產，經不調案。</p>
<p>俞按：人有一手無脈者頗多，若兩手無脈者則少，此乃母胎中或襁褓時蹙銼其經隧，致脈不通，原非病也。石山又診一婦，左手無脈，而動於腕臂外廉陽谿、偏歷之分，是即今所謂反關脈也。汪乃曰：左脈離其部位，其病難以脈知。誠然，反關脈多洪大，且可推動，果不足以審病情。又丹溪治一婦，久瘧食少經閉，兩手無脈，每月以三花神祐丸十餘粒，津咽之，月餘食進脈出，又半月脈愈，又一月經行，此則因病而無脈，非向來無脈也。</p>
<p>孫文垣治馬二尹媳，每月汛行，子戶旁轍生一腫毒，脹則不痛，過三五日，以銀簪針破，出白膿盞許而消，不必貼膏藥而愈，略無瘢痕，但汛行即發，或上下左右無定所，第不離子戶也。內外科歷治數年不效，且致不孕，因詢於孫。沉思兩日而悟曰：此中焦濕痰，隨經水下流，壅於子戶也，經下而痰凝，故化為膿，原非毒，故不痛，用白螺獅殼火煅存性為君，南星、半夏為臣，柴胡、甘草為佐，麵糊丸，早晚服之遂愈。</p>
<p>俞按：孫公穎悟殊不可及，原非毒故不痛，亦格致名言。</p>
<p>沈堯封治一寡婦，體素弱，每逢月事聲啞，蓋肝腎之絡，俱上連肺，精血下注，肺中必枯故啞，用地黃、天冬、肉蓯蓉、歸身等大補精血，病反甚，加細辛五分，通厥少之絡，才入口聲即出，後用八味丸調理，經來不啞。</p>
<p>俞按：今人稱月事為天癸者謬也。經云：女子二七而天癸至，任脈通，太衝脈盛，月事以時下。又云：男子二八而腎氣盛，天癸至，精氣溢瀉。若天癸即月事，丈夫有之乎？顧名思義，謂之天一之真水，乃精血之源頭也。蓋男女皆有精，《易》云男女構精可據。然指天癸謂精亦不妥，天癸為精，不該又云精氣溢瀉矣。後賢講受孕之道，有陽精陰血先至後沖等說亦謬。夫男女交接，曾見女人有血出耶？交接出血是病，豈能裹精及為精所裹哉？大約兩情歡暢，百脈齊到，天癸與男女之精偕至，斯入任脈而成胎耳。男胎女胎，則由夫婦之天癸有強弱盈虛之不同也。任脈督脈，皆起於前後兩陰，交之會陰穴。督總諸陽，任總諸陰。任隸足少陰，沖隸足陽明，所謂沖為血海，任主胞胎也。經云前陰總宗筋之所會，會於氣街，而陽明為之長。陽明水穀之精華，變化成血，以灌輸太衝，太衝脈盛，月事以時下矣。既孕則血聚以養胎，不能輸入太衝，故月事不下。由此辨之，任脈通而天癸至，衝脈盛而月事下，明系兩項矣。</p>
<p>雄按：此說藍本於沈堯封而加詳者也。</p>
<p><u>崩漏</u></p>
<p>江汝潔治葉婦案。</p>
<p>俞按：脈大而無力，乃氣虛之確據，何可指定為血虛？況麻屬氣虛，先哲之成言也。氣虛不能攝血則崩，參、耆在所必用。惟左脈舉之略弦，似有風邪，少加荊、防亦是。第其議論拖沓，借司天運氣以張大其說，反覺浮泛矣。</p>
<p>孫文垣治潘敬齋媳，經水不調，醫投安胎之劑，越七月經水忽大行，內有血塊筋膜如手大者一二桶，昏冒困憊。其脈右關洪滑，左寸洪數，兩尺皆洪大。病交夜分，咬牙亂語，手心熱，口噤時手足皆冷，心頭脹悶不快，面色青。諸醫皆謂難治，孫曰：無恐。此濁痰流滯血海，以誤服安胎之藥，益加其滯，血去多故神昏無依，痰迷心竅，故神昏語亂。其發於夜半者，乃熱痰在心包絡與膽經，故每至其時而發。為之調氣開痰，安神養血可愈也。（楊曰：識力絕高。）即以溫膽湯加石菖蒲、酒芩、天麻、棗仁、丹參與服，其夜證即減半，次日再服，每帖加竹茹五錢。（雄按：此經產及諸血證要藥，故宜重用，即《金匱》之竹皮也。）臨睡又與黑虎丹數粒，諸證悉愈。</p>
<p>俞按：此證不用脫血益氣之法，其察脈審證高矣。然此時著眼在昏冒脹悶等證，非血去多而猶不止也。</p>
<p>雄按：產後亦有此證，沈堯封《女科輯要》中論之頗詳。</p>
<p>施笠澤治祁君萬之內崩中，服地榆、續斷等藥不效。診其脈，沉而結。曰：蓄血證也，得之汛至而怒。祁曰：然。因怒經止，半月後即患崩證，今一月矣。乃用桃仁、大黃行血破瘀。或謂失血復下，不導其勢乎？施曰：血隨氣滯，蓄積不散，壅塞隧道，溢而妄行，決壅去滯，則血自歸經矣。不然舍其本而治其末，何異隨流塞水耶？服二劑果下衃血，汛亦旋至。</p>
<p>雄按：治病總須察脈辨證，而後議治。設泥成說，但執暴崩宜補，必致釀成錮疾矣。</p>
<p><u>帶下</u></p>
<p>俞東扶曰：婦人患此者十居八九，而此病之虛證亦十之八九；虛證挾肝火、挾濕熱者又十居八九；若不虛而但因肝火濕熱者，僅十之一二而已。</p>
<p><u>惡阻</u></p>
<p>俞東扶曰：此證《千金》半夏茯苓湯最佳，二陳加生地、芎、芍、旋覆、桔梗、細辛、人參、生薑也。有寒者，《千金》茯苓丸可用，六君加枳實、桂心、乾薑、葛根也。橘皮竹茹湯治胃熱，抑青丸治肝火。若諸法不應則停藥，《金匱》所謂加吐下者則絕之也，過八十日自愈。（雄按：雖挾寒，薑、桂不可輕試。）</p>
<p><u>墮胎</u></p>
<p>孫文垣治侄婦戴氏，孕已五月，忽血大下，午後發戰，六脈俱數，左寸滑大，右關搏指，左關軟弱。予以白芍二錢，生地、阿膠、人參、蒲黃各一錢，柴胡、香附、地榆、荊芥各七分，甘草五分煎服。午後發寒熱，每夜凡三次，頭痛惡心，腹中硬塊，所下血塊甚多，心下怯力，此虛無疑也。以補中益氣加阿膠、炮薑、白芍、烏梅。下午右眼白珠發一白泡，先腫下垂，而面亦腫，此虛火遊行無制之證。其夜大發寒熱，指爪皆黑，唇白，汗大出，腹中作痛，牽引兩乳皆痛。仍以補中益氣加阿膠、白芍、桂枝、五味、麥冬。服後熱退汗止渴除，神氣少定，乃有生意。次日咳嗽而胎墜，即以獨參湯繼服。其夜腸鳴，瀉二次，以參、術各三錢，炙草錢半，炮姜一錢，桂心、茯苓各五分，陳皮七分，蓮子、大棗煎服。後因咳嗽，以四君加炮薑、五味、紫菀，調理而愈。</p>
<p>俞按：胎甫墮而即進獨參湯，一見瀉即用參、術至三錢，蓋因未墮之前，已是虛證，新墮之後，何妨驟補。若庸流必主停參，且與消瘀矣。</p>
<p>雄按：黃錦芳云，杜仲、續斷二味，舉世用以安胎，而不知續斷味苦，專入血分，活血消腫，故乳痛、癥結、腸風、痔瘻、金瘡、跌僕一切血瘀之證，皆可用也。雖稍有澀性，行不至泄。然誤施於氣弱氣陷之婦，則順流而下，奔迫莫御，而有排山倒海之勢，豈區區澀味所能止其萬一者乎？杜仲色紫而潤，辛甘微溫，性專入肝，補氣強筋，筋強則骨亦健。凡腎虛腎寒腳弱之病，用之最宜。若氣陷氣弱之輩，斷不可服，以其性最引氣下行，而無上升堅固之意也。夫胎墜本忌血行氣陷，其服此二味亦有奏效者，以人身氣血貴乎溫通，墜胎之因不一，亦有因腎氣不溫，經血凝滯，而胞胎失蔭者，得此二味，則氣煦血濡，不滯不漏，而胎自安矣，非為下虛上實之證設也。故胎墜而尺強寸弱者、動作少氣者、表虛惡風汗時出者、心下懸飢得食則止者、一身之氣盡欲下墜者，皆在禁例。奈作湧者既不分辨明晰，流傳既久，遂以為安胎聖藥，總緣醫理不明，藥性不曉，證候不知，見方號為神驗，滑脫之婦，亦爾通用。豈知杜仲、續斷，原或因於跌僕，或下寒挾瘀而胎動者之妙劑乎？苟不知審顧區別而妄用之，則不但不能安胎，反能催胎墮胎，甚有殞其母命者，可不戒哉！（雄）謂不察證因而執一方以治眾病者，多犯此病。杜仲、續斷二味，世人皆視為補藥，而不詳察其功用，黃氏此論，洵是發人未發。</p>
<p>黎西野治一婦，半產胎衣不下，連服行血催衣之劑，點血不行，胸痛瞀亂。黎曰：此脾失職也。先與黃耆、當歸各一兩，下咽而瞀亂頓減，隨用大劑參、朮、歸、芍、苓、甘等藥，一服而惡露漸至。眾皆驚曰：惡露不行，胞衣不下，女科書中並無參、耆之方，君獨以補奏功，何耶？黎曰：君等憂血之不下，吾正憂血之不止，故相反耳。蓋此病本氣血大虧而致半產，脾失統血之職，水湮土崩，沖決將至，故生瞀亂，不為之修築，而反加穿鑿，是虛虛也，烏乎可？曰：今從子法，遂得免乎？曰：不能也。穿鑿過當，所決之水已離故道，狂瀾壅積，勢無所歸，故必崩，急服吾藥，第可固其堤岸，使不致蕩沒耳。至第三日，診尺內動甚，曰今夜子時以前必崩。用補中益氣加參、耆各二兩，囑以血至即服。至黃昏果發，如其言得無恙。次用調補脾腎而愈。</p>
<p>俞按：惡露不下，用參、朮、歸、附等藥而下者，生平經手頗多，然必脈象細軟，口不燥渴，內不煩熱，方為合治。此案不言脈象，但曰脾失其職，諒此婦平昔怯弱，以致胎墮，且連服行血催衣之藥四帖，寧不反其道以治之耶？</p>
<p><u>產後瘛瘲</u></p>
<p>孫文垣治潘大司馬媳，年二十五，體素弱，語言端謹，因難產傷力，繼以生女拂意，後又女死悲慼，即時暈厥，醒而神思迷昧，手足瘛瘲，不可診脈，目上視。細問之，自女落地，惡露絕無，有女醫時與人參干嚼，及獨參湯並粥亂進，參與粥皆壅塞膈上不下，以故神昏瘛瘲不已也。孫教以手於喉中探而吐之，喜其隨手吐出痰飲粥藥盈碗，瘛瘲方定，乃與川芎、山楂、澤蘭、陳皮、半夏、茯苓、香附進之，稍得睡。不虞女醫又私與補藥二帖，子丑時陡然狂亂，如降神之狀，漢聲官話，問答如流，其聲壯厲，迥異平時，其家咸謂神附，禳禱百端。孫曰：此惡露不盡，乃蓄血如見鬼之證，非真有神佛相附也。以歸尾四錢，川芎一錢五分，澤蘭、益母、滑石等煎，和服熱童便。連投二帖，狂亂少定而未除，意其胸中必有餘痰作滯，前方無佐使之品，故藥力未行也。大加山楂為引，惡露稍行，神思既靜，嗣後稍睡片時，手足微動，或自以手掌其面，或自以手捶其胸，昏亂不息，診其脈近虛，早間面紅而光，申酉時面色白，此血行火退，故脈虛而當補矣。與人參、川芎、澤蘭各一錢，當歸、山楂各二錢，茯苓、陳皮各八分，卷荷葉一片，琥珀末五分，服後噯氣二聲，孫喜曰：此清陽升而濁陰降矣。自茲安靜，惡露行，大便通，而索粥飲矣。</p>
<p>俞按：此條前半段治法不難，蓋得其參粥雜進之病情，自有消瘀及消痰食之方法，但探吐法尤捷耳。畜血如見鬼，知者亦多。後半段惡露稍行，神思即靜，略睡片時，昏亂不息，仍是畜血形狀，乃於輕劑消瘀之中，復用人參，並不以前曾誤用而畏蹈故輒，此為高手。其講脈與面色極是，但產後譫語昏狂，有純因於痰者，又不可不知。（雄按：《女科輯要》論之最詳。）</p>
<p>雄按：此證總不宜用川芎，而方方用之，是白璧之暇也。至於噯氣謂為清陽升而濁陰降，則誤矣。其證既因痰瘀阻滯，氣窒不行，故用多方通降而得愈，則是濁陰降而清陽始得升也，何可顛倒其詞哉！</p>
<p>程石洲室，因產難子死憂悶，小腹有塊作痛，下午發熱，不思飲食。文垣診之，脈右大於左者三倍，且數，與芎歸湯加山楂、澤蘭、肉桂。次日下午，腰腹脹痛，詰之，晌午食龍眼一斤矣，從此小腹漸脹，大便三日未行，早晨鼻衄，夜間極熱口渴，脈大無緒，勢甚危急。用芎、歸、紅花、桃仁、青皮、檳榔、莪朮、山楂，水煎，調元明粉二錢。服後下結糞二枚，安而就寢，醒後進粥稍多，又復脹痛，腹大如斗，堅如石，氣促不安，勢危之至，乃與五靈脂、山楂各四錢，凌霄花二錢，赤芍一錢。服後大便通，腹軟氣定，始可進粥，漸有生氣，但脈仍鼓指，此腹中積滯尚多，不可不因其時而驅去也。用山楂、大黃各三錢，桃仁二錢，桂心、紅花各五分，炙草七分，煎調元明粉一錢五分，其夜下黑糞四次，熱始退，上腹雖消，臍下仍大，仍以桃仁承氣加山楂、滑石、紅花煎服。五更大便行，臍腹脹又減，復與積塊丸調理全消。是役也，女科於初起發熱腹痛之時，即以常套十全大補湯投之，豈知龍眼入腹，漸漸脹開，故腹亦因之大脹，且其味甘，尤能作滯，復加地黃、參、術，寧不塞其塞哉？由是而成大堅之證。《內經》謂中滿者，瀉之於內。良以此夫，彼亦泥乎丹溪產後須大補氣血之誤也。</p>
<p>馬元儀治王氏婦，產後二月，神氣昏倦，胸滿中痛，咳嗽喘促發熱，服藥反漸加重，勢將治木，診脈兩手沉澀兼結，曰：此胎前已有伏邪，產後氣血既虛，邪益內結，法宜表裡兩和，使邪從外達，氣從內泄，病自愈矣。用桂枝、柴胡、蘇梗、枳殼、半夏曲、菔子、杏仁、廣皮透邪達滯之劑，服後病勢偏安，脈亦稍舒。前醫尚以氣血兩虛，遽投生地、歸、芍斂滯之品，遂致徹夜靡寧，如喪神守，不知邪結於中，反行補法，如欲盜之出而反閉其門也。急改透邪散結法，用桂枝、炮薑、黃連、枳實、厚朴、廣皮等，一劑而胸滿中痛之證釋。復用栝蔞實、柴胡、桂枝、半夏、枳實、杏仁、蘇子、桔梗等，再劑而表熱喘嗽之證平。但大便不行，此久病傷津液，腸胃失養之所致也。加生首烏一兩，大便得解，餘邪盡去。然正氣大虧，繼進滋補氣血之劑而安。蓋病有虛邪內結，而正氣積虧者，當補正以托邪，而不知者，反治邪而傷正；有正氣未傷，而邪勢方張者，當去邪以安正，而不知者，反用補以滯邪，虛實莫辨，多致冤沉無訴而尚不覺也，豈不謬哉！</p>
<p><u>產後驚</u></p>
<p>戴元禮治樂元忠妻，產後病驚，身飄飄如在浮雲中，舉目則旋轉，持身不定，四肢痠軟，醫以安神補虛治之轉甚。戴診左脈芤澀，神色不變，是因驚致心包絡積血耳，乃下血如漆者一斗遂愈。古云大實似羸者此也。</p>
<p>俞按：此證必共認為虛矣。苟不辨其左脈之芤，豈能測其心包之血積耶？人但知驚是病，不知因驚而又致病，則治病無益也，可舉此案，以例其餘。</p>
<p><u>產後泄瀉</u></p>
<p>金大文治一婦，產後三日發疹，細而成粒，不稀不密，用荊芥、蟬蛻、鼠黏等藥，一劑頭面俱退，越一日漸有回意，忽大便溏瀉數次，即神昏不寧，問其所苦，曰熱日渴，語言顫怯如抖出者。脈來微細數有七至，外露但欲寐，少陰證據，曰陽脫證也，屬少陰。用生附子三錢，水洗熯如炒米，炒乾姜八分，炒甘草一錢，炒白芍一錢半，水煎和入人溺一杯，青魚膽汁四小茶匙，以代豬膽汁，服畢即睡，覺來熱渴皆除。續用黃耆建中湯，加丹參、蘇木，二帖而安。</p>
<p>沈堯封治一婦，產時去血多，隨寒戰汗出，便瀉不止，用大劑真武湯，以乾薑易生薑。兩劑戰定，而汗瀉如故，又服兩日，寒戰復作，再用補中湯，無人參、加附子兩帖。病者云我肚裡大熱，口渴喜飲，然汗出下利，寒戰不減，沈方疑思其母云彼大孔如洞，不能收閉，又無力服參，諒無生理。沈用黃耆五錢炙，北五味四錢杵碎，白芍、茯苓各二錢各炒，歸身、甘草各錢半各炒，大棗三枚，一劑病減，四劑全愈。</p>
<p>俞按：此二案有大見識，大力量，故能起死回生。</p>
<p>雄按：觀沈案，則可見氣虛不能收攝者，宜甘溫以補之，酸澀以收之，不可以辛熱走泄助火食氣也。</p>
<p>汪石山曰：餘一日莊居，一鄉人踵門哀懇，道其妻產後數日，喘促不能臥，痰與血交湧而上，日夜兩人扶坐，稍側身壅絕，乞救療之。余以意度，新產後血氣脾胃大虛頓損，故虛痰壅盛，而敗血乘之，犀角、六君子加失笑散，一服痰血俱下，喘亦立止。次日來謝云，諸病皆去，止不能食耳，與參苓白朮散調理全愈。</p>
<p>俞按：此證甚危，此方甚巧。若用六君而不加犀角、失笑散則不應，用犀角、失笑散而不合六君亦不應。但意度之，不憑脈象，固由汪公熟能生巧，而其病機在痰與血交湧而上，才側身便壅絕，顯系敗血隨痰上升。然非血氣脾胃之大虛，敗血何由隨痰上升耶？此方所以恰對也。閉門造車，出門合轍，先生之謂歟！</p>
<p>又按：產科奇病甚多，奇方不少，如遇怪異證候，當於葉杏林所述諸書檢求之。夫學醫何難，不過多讀書耳。《金史》載張潔古學醫，夜夢有人用大斧長鑿鑿心開竅，納書數卷於其中，自是洞徹其術。因思天使此人為良醫，尚須納之以書，我儕既不夢斧鑿開竅，必從目從口，將書納之於心，納之誠多，寧讓潔古獨步耶？設遇奇病，自有奇方，可向腹笥檢求矣。</p>

<h2>外科</h2>
<p><u>疿痤</u></p>
<p>孫文垣治查景川遍身疿痤，紅而焮癢，諸人以蒺藜、荊芥、升麻、葛根、元參、甘草、石斛、酒芩與之，不愈。又謂為風熱，以元參、蟬蛻、羌、防、赤芍、甘草、生地、當歸、升麻、連翹、蒼耳。服之飲食頓減，遍身發瘡，痛癢不可言。孫診之，兩手脈皆緩弱，以六君子湯去半夏，加扁豆、砂仁、薏苡仁、山藥、藿香、黃耆。一服而飲食進，四帖而痛癢除，十帖瘡疥如脫。</p>
<p>楊曰：俱治此證之藥，而服之益甚者，以未審其脈，故與其人之體氣相違也。</p>
<p><u>肺癰</u></p>
<p>王宇泰治一婦，感冒風寒，或用發表之劑，反咳嗽喘急，飲食少思，胸膈不利，大便不通，右寸關脈浮數，欲用通利之劑。王曰：此因脾土虧損，不能生肺金，若更利之，復耗精液，必患肺癰矣。不信，仍利之，虛證悉至，果吐膿。乃朝用益氣湯，夕用桔梗湯，各數帖；又朝用益氣湯，夕用十全大補湯，各五十帖，全愈。</p>
<p><u>胃癰</u></p>
<p>石頑治談仲安案。</p>

<h2>兒科</h2>
<p>潛村治仙潭孫自範甥慢脾證，痰涎湧盛，咳嗽身熱，四肢抽搐，自汗嗜臥，露睛，撮空手振，屢進補脾兼消痰逐風藥不應，以方就商於楊。楊曰：此誠風自內出，本無可逐，痰因虛動，亦不必消，但補脾土，諸證自退。然據所示兼證，則其面必㿠白，眼必散大，舌必胖滑，色必嫩白，頸必軟而頭必垂矣。（雄按：必如是者，乃可用此法也。）曰：誠然。然救虛不應何耶？楊曰：諸證皆屬寒，而諸方止救虛也。使天柱未倒，固能取效，尚須除去逐風消痰之品。今頸軟頭垂，則天柱已倒，而虛上加寒，確有顯據，非炮薑、肉桂，何以追已去之陽，而蘇垂絕之氣哉？乃寫參附養營湯，囑之曰：如阻以幼稚純陽無補陽之法，則百不救一矣。服三劑竟愈。次用五味異功，加煨薑、白芍，調理而健。</p>
<p>一女六歲，才發熱一日，即腰脊中命門穴間骨節腫一塊，如大饅頭狀，高三四寸，自此不能平身而立，絕不能下地行走，已半年。人皆謂龜背錮疾，莫能治。即以幼科治龜背古方亦不效。孫文垣曰：此非龜背，蓋龜在上，今在下部，必初年乳母放在地上坐早之故。彼時筋骨未堅，坐久而背曲，因受風邪，不覺其漸入骨節間而生痰涎，致令骨節脹滿而大，不急治之，必成痼疾。今起未久，可用萬靈黑虎比天膏帖之，外以晚蠶砂醋炒絹包，於膏上熱熨之，一夜熨一次，再以威靈仙為君，五加皮、烏藥、紅花、防風、獨活，水煎服。一月而消其半，骨節柔軟，不復腫硬，下地行，行走如初矣。人皆以為神奇。後三個月，驀不能行，問之，足膝痠軟，載身不起，故不能行。余知其病去而下元虛也，用杜仲、蠶砂、五加皮、薏苡、當歸、牛膝、獨活、蒼耳子、人參、仙茅，水煎服。二十帖行走如故。</p>
<p>雄按：葉氏醫案乃後人所輯，不無錯簡，且有羼雜及門之案，故多純疵不齊之處。惟《幼科要略》一卷，為先生手定，華氏刻於《臨證指南》之後以傳世，徐洄溪謂字字金玉，可法可傳，得古人之真詮而融化之，不愧名家。乃大方視為幼科治法，不過附庸於此集，皆不甚留意；而習幼科者，謂此書乃大方之指南，更不過而問焉。即闡發葉氏如東扶、鞠通、虛谷者，亦皆忽略而未之及也。余謂雖為小兒說法，大人豈有他殊，故採其春溫、夏暑、秋燥諸條，纂入《溫熱經緯》，學者舉一反三，不僅為活幼之慈航矣。更聞其治痘多活法，嘗於肩輿中見採桑婦，先生令輿人往摟之，婦大怒詈，其夫將扭輿人毆打，先生曉之曰：汝婦痘已在皮膜間，因氣滯閉不能出，吾特激之使怒，今夜可遽發，否則殆矣。已而果驗。又一富家子患痘閉，諸醫束手，先生命取新潔大漆桌十餘張，裸兒臥於上，以手展轉之，桌熱即易，如是殆遍，至夜痘怒發得生。又先生之外孫甫一齡，痘閉不出，母乃抱歸求救，先生視之甚逆，沉思良久，裸兒鍵之空室中，禁女勿啟視，迨夜深始出之，痘已遍體，粒粒如珠，因空室多蚊，借其噆膚以發也。又汪益美布鋪夥友，壯年患痘閉，群醫不能措手，先生令取雞糞若干，以醇酒熱調如糊，遍塗其身面手足，越宿雞矢燥裂剝落，而痘已出矣。先曾祖云：此皆神而明之之治，殊可發人慧悟。然激之使發者，氣閉也；展轉於新漆之桌者，火閉也；假蚊口以撮之者，血閉也；塗之雞矢醴者，寒閉也。苟欲效顰，（亦當審諦。又徐洄溪云：痘證因時而變，不但歷代不同，隔數十年亦有小變。余謂痘證每因時邪引動而發，萬密齋嘗言之，王清任亦論之，故不但數十年有小變，即一二年間亦有判然迥異者。蓋痘有痘疫，瘄有瘄疫，）兒科拘守古法，但可以治常痘，此建中《瑣言》之所以為救偏良法也。後人不知此義，輒訾其浪用石膏、大黃為偏，謂止可以救慣用熱藥之偏，豈為知人論世之言哉？若痘挾疫邪，非用費氏之法不可。惜幼科罕讀其書，不識病因，往往闔境沿村，夭枉載道，諉諸天數，豈盡然歟！吾先慈幼時患痘，頭面雖少，遍身密布，紫黑焦枯，略無潤澤，諸醫束手。老醫包士安曰：此名螺疔痘，用大黃、石膏多劑毫無起色，奄奄一息，已絕望矣。偶親串中遣一越人陳媼來探疾，見而唶云：尚可圖也。亟以銀針將遍身之痘逐粒挑出如黑豆者一顆，隨以珍珠八寶丹糝入，外用朱養心家碧玉膏一名銅綠膏，治一切癰疽瘡毒有神效。封之，即能進粥，不勞余藥而生。又定州楊素園大令云，阜平趙功甫邃於醫，凡一切丸散，人所不能辨其中為何藥者，趙一嗅而知之，歷試不爽，殆與離婁之明，易牙之舌，相鼎立也。生平長於治痘，痘始萌，一望而知其結局，雖極危之證，治之無不收功。自云一生療痘，無藥不用，而從未有用附子者，並識之以質治痘名家。（楊曰：余見趙功甫處方極輕，嘗曰小兒之腹幾何，須令其胃氣足以運化，藥力始能取效，亦至理也。）</p>
<p>又按：《幼科要略》後，鄭望頤所述種痘之法甚詳，洄溪極為讚美。徐氏《醫學源流論》亦云：種痘有九善，奈嗜利之徒，膽用時苗，害人不少，並令世人連種痘之法亦不信矣。更有以水痘痂為苗者，種出之時，痘極稀朗，並無稠密棘手之候，醫者索謝而去，為父母者亦歡然放心矣。孰知真痘未出，迨時痘流行之歲，天花陡發，病家醫家皆不預料，往往誤指別證，妄投藥餌，縱不誤治，痘必危險，較彼妄用時苗之罪更深十倍，反得脫身事外，人不知之，然天地鬼神鑑察難逃，罰及子孫，噬臍何及，梁應來謂種痘始於宋真宗朝，王文正公旦，其後各相授受，以湖廣人為最。（吾浙以德清人為最。）今西洋夷酋咇哈呅善種痘，法以極薄小刀，微剔兒左右臂，以他人痘漿點入，不過兩三處，越七八日即見點，比時行痘大兩倍，兒無所苦，嬉戲如常。夷言本國雖牛馬亦出痘，恆有斃者，因思得此法。由牛而施之於人，無不應驗，於是其法盛傳。然又必須此痘漿方得，他痘不能，故互相傳種，使痘漿不絕，名曰牛痘，誠善法也。邱浩川云：外洋無痘，後由他處傳染，患者滋多，惟畜牛取乳之家不染。醫者玩牛乳旁有青藍小疱，形與痘類，於是按古針刺法取牛痘之漿，種人兩臂消爍、清冷二穴，旬日果於種處出痘數顆，按日灌漿滿綻，按日結痂落靨，無一損傷，無一復出，以後即用小兒種出之漿，遞傳其種。嘉慶十年，由小呂宋載嬰兒傳至廣東澳門，適浩川未出天花，身試果驗，行之家人戚友，無不驗者。於是洋行屬浩川往會館專司其事，歷十數年，種者盈千累萬，無一損失。按銅人圖消爍穴去肩頭四寸，清冷穴在肘上三寸，幼孩大小不等，以此類推。其刺穴種痘，用尖薄小刀長寸許，（仿洋刀式。）其取漿用象牙小簪，兩頭尖利，刺皮僅一紙薄，闊一分許，將苗漿連刺出微血注於穴中，自然奏效，種幾顆，出幾顆；從不至多，不拘寒暑，不用服藥。如痘漿必不可得，亦有取靨作苗者，簡妙無比。又海豐張雨農司馬謂余曰：鼻孔種痘，猶或十失其一，惟牛痘萬無一失，其法傳自夷醫，由廣東而漸及川、黔、閩、楚各省。曩三兒曼臣嘗種牛痘於先君屏南署中，欲出幾粒，則種幾粒，目擊道存，允稱神技。而三江不行其法者，一則痘醫衣食於此，若證無平險，治無方藥，則其道不重，其酬亦薄，必多方曲說以尼之；一則漿不易得，且有子之人，愛惜過甚，聞欲刀破其皮，不肯試種。其實微刺皮膚，殊不甚痛。凡欲保全子女身命者，慎勿惜分許之薄皮，而貽日後之大患也。然余近聞趙春山司馬之孫，曾種牛痘于都城，而復出天花，是必傳授不真，或奸人假託以圖利，皆不可知。但如此鬼蜮，不僅害人，且令良法見疑於世，尤為罪不容誅矣。</p>
