<header data-type="book">
<h1>傷寒論述義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>丹波元堅</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1827">公元1827年</data></dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第六冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015278">國家圖書館掃描本</a>）；<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00593/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>題辭</h1>
<p>從來注傷寒家。概是想象懸擬。各師私見。竟無定論。於是先教諭洽搜諸家。衡別是非。著有輯義一書。仍惜繕次僅就。間欠細辨。（元堅）童時嘗受講授。柰質鈍不能詳記。及至弱冠。日取輯義讀之。每遇疑竇。念趨庭之無期。未嘗不為之歔欷嗚咽也。遂乃遵奉遺訓。就至平至易之處。涵泳玩繹者。蓋亦有年矣。以為前輩有類證。有類治。有類方。未有求病情病機。能加剖判者。故微言大義。往往湮鬱而不明焉。仍不自揣。疏其要。通其異。述為五卷。以擴充輯義之餘意。陰陽之略。兼變之殊。參互考究。具為條析。而更設答問數則。以辨其大例。附之卷末。竊恐猶是不過於想象懸擬已。然言必審徵體驗之。諸無稽之說。斷斷乎所不屑為。則較之浮辭高談。急於誇張者。或切於日用之際歟。因憶先友有軒村寧熙字世緝者。才敏苦學。深用力此經。多所浚發。亦有志註解。約相與商榷。且序其書。今拙著卸稿。其人已謝。惋嘆之餘。遂並書此。</p>
<p><u>文政丁亥嘉平月丹波元堅撰</u></p>

<h1>卷一</h1>

<h2>敘述</h2>
<p>傷寒論一部。全是性命之書。所以使學者見病知源。是以深切而著明。平易而直達。誠匪有牽紐艱隱之故者也。蓋仲景之旨。先辨定其病。辨病之法。在察脈證。故必就脈證。以定其病。而後治法有由設焉。所謂病者。何也。三陽三陰。是也。熱為陽。寒為陰。而表裡虛實。互有不同。則六者之分。於是立焉。所謂脈者。何也。其位。寸口關上。尺中趺陽。其體。浮沉遲數。緊緩滑澀之類。是也。證者。何也。發熱惡寒。讝語腹滿。下利厥冷之類。是也。脈有常變。證有真假。故脈證並示。而病之情機盡焉。（脈有常變。詳論於卷末答問中。病情字。素問多見。如形之疾病。莫知其情類。情之言猶性。蓋病之寒熱虛實。皆謂之情也。病機字。見本草經。曰。欲療病。先察其源。先候病機。蓋邪之進退消長。勢之緩急劇易。皆謂之機也。程氏以病人之苦喜。指為病情。柯氏論翼。又論病有名證情機之別。並與此所稱異。）所謂治者。何也。汗下涼溫。及刺灸之法。是也。六病之中。自有緩急劇易之不等。故方亦有大小緊慢之不同。以相對治。加之人不能無宿恙相得。醫或誤措。以致變逆者。凡皆隨其脈證。而備之治法。其深切而著明。平易而直達。固既如是。始非有艱隱難知者也。雖然。其書實三代之遺。是以言高而旨邃。苟不通其義例。則未免乎盲者之擿埴。索塗冥行而已矣。盡嘗論之。取之岐扁。變而通之。此名稱之例也。自熱而寒。自表而里。自實而虛。此篇第之例也。六病各有提綱。而次以細目。又次以本病來路。傳變證候。及誤逆諸態。疑似各病。或舉其正。而承以其奇。或說其輕。而續以其重。有法有案。有戒有論。參互錯綜。縷分條析。此章次之例也。語有主客。辭有詳略。或數條相參。而其義始悉。或一章之中。文互照對。證以方省。方以證略。有理趣明白。不假復述者。有事緒繁雜。須人引伸者。此辭句之例也。四者之例。極為謹嚴。而俱是莫不深意所存矣。今不憚弇陋。本於輯義之著。按諸四者之例。推究病之情機。以述其大要。始陰陽總述。終差後勞復。脈證治法。具為辨析。顧猶未免注家更定之氣習。然不分其派。無由以達其源。不疏其類。無由以認其別。故務去拘鑿之談。敢從坦明之說。庶通其可通。疑其可疑。耑以擴充家庭之遺教。闡揚性命上之神理矣。後之讀者。或由此入手。其於臨病處療之方。未必無小補云。（是書之作。以辨全經大義為主。故每病每證。不必具列各章。特舉其梗概。以俟人隅反。蓋敘大綱。則用大書。而其所以為說。及援據諸說。則夾註其下。要旨不過於述輯義之餘意。則輯義既載者。亦不復錄出。如撰述之例。更有三端。一發輯義之覆。輯義固主慎重。故於情機傳變之委。前人說不具者。大抵缺而不論。今鑽研經旨。覈核事理。略加辨訂。以為貂續。一酌諸家之中。輯義所引諸說。或一條而異同兼臚。或數條而前後異其義。今則參互涵泳。歸之於畫一。一補輯義之遺。前輩確說。及諸家擴充經旨者。或有漏落。略取附之。唯拙著別有傷寒廣要。故彼之所採入。茲不復贅。要之仲景之書。理無不該。學者如飲河之鼠。各充其量。此輯義之著。亦所以不厭廣搜。今斯書。則僅述一隅。所見特隘。然既博矣。從而約之。固亦為學之方。覽者幸恕僭越之罪而可也。○按諸注家。如尤怡傷寒論貫珠集。黃元御傷寒懸解。長沙藥解。俱出於先教論下世之後。尤書穩實。間有發明。黃書僻謬。殊少可取。又近世有熊壽試集註。又郭雍傷寒補亡論。輯義從汪氏轉引。而近日有吳舶新齋本。今亦採入。至如皇國注家。則指不暇僂。輯義一概不引。嫌蕪雜也。愚亦甚厭讀。姑取一二部。略摘錄之已。○郭氏曰。問云。傷寒何以謂之卒病。雍云。無是說也。仲景敘論云。為傷害雜病論合十六卷。而標其目者。誤書為卒病。後學因之。乃謂六七日生死人。故謂之卒病。此說非也。古之傳書怠墮者。因於字畫多。省偏旁書字。或合二字為一。故書雜為⿳亠从木。或再省為卒。今書卒病。則雜病字也。漢劉向校中秘書。有以趙為肖。以齊為立之說。皆從省文。而至於此。與雜病之書卒病無以異。今存傷寒論十卷。雜病論亡矣。郭此說甚是。但末句有疑。○家丹州公醫心方。引養生要集。有高平王熙叔和曰語。據此。叔和名熙。以字行也。先友山本讓嘗有此說。實為前人之所未言及。仍附拈之。）</p>

<h2>陰陽總述</h2>
<p>蓋欲明仲景陰陽之義。必先審素問熱論之旨。三陽三陰之目所由出也。夫三陽三陰之目。雖取之於彼。而其義則自有不同矣。故學者胸次必先了然於此。而始可讀仲景書耳。考熱論。黃帝以熱病起問。而岐伯對以人之傷於寒也。則為病熱。是言人真傷於寒氣。而陽氣怫結。因為熱證也。曰。傷寒一日。巨陽受之。故頭項痛。腰脊痛云云。是據經絡為分。以為三陽經循外。三陰經循內。故表熱證為三陽。裡熱證為三陰。而以表裡均熱為兩感。如所定日期。略示淺深次序耳。故曰。其未滿三日者。可汗而已。其滿三日者。可泄而已。可以見也。要之。素問之義。止是熱病。與仲景之寒熱兼該者。判然兩途矣。（素問仲景之異。從來注家。分辨不清。往往牽混。遂至徒分頭緒。泛無統紀。故茲首辨之。王氏溯洄集曰。夫素問謂人傷於寒。則為病熱者。言常而不言變也。仲景謂或熱或寒。而不一者。備常與變。而弗遺也。仲景蓋言古人之所未言。大有功於古人者。雖欲偏廢可乎。程氏後條辨贅余曰。素問之六經。是一病共具之六經。仲景之六經。是異病分布之六經。素問之六經。是因熱病。而原及六經。仲景之六經。是設六經。以該盡眾病。二家之言。特得其要。又中西惟忠。山田正珍。亦並有辨。稍確。）</p>
<p>仲景所謂陰陽也者。寒熱之謂也。曰。病有發熱惡寒者。發於陽也。有無熱惡寒者。發於陰也。此則全經之大旨。其發熱無熱。是病熱病寒之明徵也。但其章本為邪之初犯。分表熱表寒之異而設。（此章之義。溯洄集始發其蘊。程錢諸家。皆根據之。）然繇是推求。則諸般疾證。皆自歷然矣。原夫其所以為熱為寒之理。固不以所受之地位。（注家以陽經陰經為說。欠妥。）亦非所感之邪。有寒與熱也。（互見卷末答問。宜並考。）蓋人不論強弱。必有一罅隙。而邪乃乘入之。（罅隙者何。或勞汗取涼。或衣被失宜。或食飢入房出浴之等。凡一時適有表開。皆是也。評熱病論曰。邪之所湊。其氣必虛。是言氣所虛處。邪氣得湊。百病始生篇曰風雨寒熱。不得虛。邪不獨傷人。所謂虛者。言虛邪之風。與身形之虛。又楊上善太素注曰。風氣之邪。得之因者。或因飢虛。或因復用力。腠理開發。風入毛腠。灑然而寒。腠理閉塞。內壅熱悶。皆可以證矣。又內藤希哲。山田宗俊。亦嘗論文。欠精切。仍不錄。）其既乘入也。隨其人陽氣之盛衰。化而為病。於是有寒熱之分焉。（虛家有陰虛陽盛者。實人亦有內寒者。蓋陰陽盛衰之機。不可一例而言。學者宜精思。）陽盛之人。邪從陽化。以為表熱。此發於陽之義也。（詳述於太陽病中。）陽衰之人。邪從陰化。以為表寒。此發於陰之義也。（詳於少陰中。）發於陽者。其陽甚盛。與邪相搏。則傳為裡熱。（詳於少陽陽明中。）如胃氣素弱。為邪所奪。或內有久冷。則變為裡寒。（詳於太陰少陰中。）發於陰者。其陽甚衰。不與邪抗。則傳為裡寒。（詳於少陰中。）如本有伏陽。更能撐持。則變為裡熱。（亦詳於少陰。）此陰陽之要。受病之略也。經曰。邪氣盛則實。精氣奪則虛。其義可見也。（經者。素問通評虛實論也。先教諭嘗有詳解。今愚此說實本於其意云。從前諸家。間有論及於此者。雖或不無礙。然宜以為據。仍表出於下。龐氏曰。凡人稟氣各有盛衰。宿病各有寒熱。因傷寒蒸起宿疾。更不在感異氣而變者。假令素有寒者。多變陽虛陰盛之疾。或變陰毒也。素有熱者。多變陽盛陰虛之疾。或變陽毒也。（此說已拈廣要中。然論病因人而化者。實以龐氏為藍本。故又列於茲。）（程氏曰。人之府藏。不但各有虛實寒熱之不等。而虛實寒熱中。更有剛柔強脆之不等。風寒固不擇而施。府藏則隨材各得。柯氏曰。去病寒熱。當審其人陰陽之盛衰。不得拘天氣之寒熱。必因其人陰陽之多少。元氣之虛實。不全憑時令之陰陽為轉移也。金鑑曰。六氣之邪。感人雖同。人受之而生病各異者。何也。蓋以人之形有厚薄。氣有盛衰。藏有寒熱。所受之邪。每從其人之藏氣而化。故生病各異也。是以或從虛化。或從實化。或從寒化。或從熱化。譬諸水火。水盛則火滅。火盛則水耗。物盛從化。理固然也。誠知乎此。又何疑乎陽邪傳裡。變寒化熱。而遂以為奇耶。又軒村曰。靈樞五變篇所論。能盡受邪之理。云。黃帝曰。一時遇風。同時得病。其病各異。願聞其故。少俞曰。善乎哉問。請論以比匠人。匠人磨斧斤礪刀。削斵村木。木之陰陽。尚有堅脆。堅者不入。脆者皮弛。至共交節。而缺斤斧焉。夫一木之中。堅脆不同。堅者則剛。脆者易傷。況其材木之不同。皮之厚薄。汁之多少。而各異耶。云云。是也。軒又曰。宋人有陽臟人陰臟人語。就其人體質而為言。蓋陽臟人感邪。則為熱證。陰臟人感邪。則為寒證也。愚謂軒說並是。又陶隱居曰。邪氣之傷人。最為深重。經絡既受此氣。傳入藏腑。隨其虛實冷熱。結以成病。亦足以發焉。）</p>
<p>寒熱者。病之情也。病有所在部位。人有體氣強弱。故表裡虛實相配。以為三陽三陰。而證狀機變。於是乎無不出於此。表者。軀殼之分。是也。里者。胃府是也。（中西惟忠曰。胃者。津液之原。有生之本也。飲食之入。與前後之出。顯然可度之於外。而察內之所病矣。愚又謂陽氣之盛衰。必驗之胃。而倉廩之官。邪最易陷入。且外感之病。倘傷及臟。則非藥之所能治。皆是仲景之所以專主胃腑也。）虛者。無形之名。氣虧之義。實者。有形之名。氣盈之義。蓋陽盛則熱。故實證多熱。火熱炎上。故表證多熱。陽衰則寒。故寒證多虛。水勢沉下。故寒證多里。然事不可以一定。故熱亦有里有虛。寒亦有表有實。此所以分而為六也。太陽病者。表熱證也。少陽病者。半表半裡熱證也。此二者未藉物為結。然其體氣則實矣。陽明病者。裡熱實證也。太陰病者。裡寒實證也。少陰病者。表裡虛寒證也。而更有等差。厥陰病者。裡虛而寒熱相錯證也。此三陽三陰之梗概也。（表裡俱有寒熱。但半表半裡。有熱證而無寒證。蓋寒是潤下之氣。非可羈留隙地。其理不待辨也。）如諸家所說。一系經絡藏府之義。愚豈求異前輩。姑攄所見。以俟後之識者爾。（考諸家說。皆主經絡藏府。而各有異同。今摘其略。成氏以太陽為表。陽明為胃。少陽為半表半裡。太陰為陽邪傳裡。少陰邪氣傳裡深。厥陰熱已深。方氏以太陽為皮膚。陽明為肌肉。少陽為軀殼之內。藏府之外。而三陰唯配各藏。張志聰及錫駒。則以盧之頤為原。牽合氣化之說。程氏則以為六經實即表裡府藏之別名。汪氏則謂仲景之意。一同內經。則以諸寒證。自為一書。柯氏則據素問皮部論。強立辨別。魏氏則以陽為表。陰為里。而稱太陰里中之表。少陰里中之半表裡。厥陰里中之裡。（表裡中更分表裡。劉完素保命集。既有其說。）尤氏則三陽必分經腑。而三陰必分經臟寒熱。如夫皇國諸注。則擯斥經絡藏府。專主病位。然其說多出虛揣。殊少實效。要之三陽病從有定論。至三陰病。則各注殊見。未見有確核之說矣。）</p>
<p>仲景之命病。本有定名。然亦有彼此更稱。而示人以不可拘執者。曰。傷寒六七日。無大熱。其人躁煩者。此為陽去入陰故也。曰。傷寒三日。三陽為盡。三陰當受邪云云。此所謂陰陽。就熱證中。標表與里者也。曰。病發於陽。而反下之。熱入因作結胸。病發於陰。而反下之。因作痞也。此所謂陰陽。於太陽中。標虛與實者也。蓋虛實表裡。以配陰陽。則表為陽。里為陰。實為陽。虛為陰。然經中陽病亦有里。陰病亦有表有實。則不可據以解篇題陰陽之稱。至於經絡藏府之言。經中間或及之。然本自別義。非全經之旨。（閔氏釋行經等義。與輯義所舉諸說相發。文繁不錄。宜參考。軒村曰。經中經字。皆當為表字看。猶指里為藏。亦可備一說也。方氏曰。六經之經。與經絡之經不同。猶儒家六經之經。猶言部也。程氏曰。經則猶言界也。又曰。經。猶言常也。柯氏曰。仲景之六經。是經略之經。而非經絡之經。愚謂本經中。無六經字。則諸說殊為贅疣。經絡藏府。非全經之旨。卷末答問有辨。）唯以寒熱定陰陽。則觸處朗然。無不貫通也。</p>
<p>成氏注傷寒例。若或差遲。病即傳變曰。傳。有常也。傳為循經而傳。如太陽傳陽明。是也。變。為不常之變。如陽證變陰證。是也。蓋三陽三陰之次第。陽則自表而里。陰則自實而虛。寒極而熱。此其概也。病機不一。難得定論。然今原之經旨。如三陽病。自太陽而少陽。而陽陽。陽明無所復傳。又有太陽直傳陽明者。至陽變為陰。則有太陽變太陰者。有太陽變少陰者。有少陽變太陰或少陰或厥陰者。如三陰病。太陰之實。變為少陰之虛。少陰自有直中。少陰之寒極。為厥陰之燥熱。至陰變陽。則有太陰變為陽明者。有少陰變諸陽證者。如三陰將愈。必須寒去陽旺耳。此傳變之略也。如其委曲。次卷悉之矣。（詳前輩傳變諸說。唯王履稍得其要。然立言猶不免有病。他湊合內經。或論再傳之義。或立傳手不傳足之說。或分循經越經等目。或為陰證不傳變之說。皆現與仲景之旨背馳矣。至如方氏三綱傳變之說。則印定後人眼目。其害最甚。）夫病自表而里。自里而表。自實而虛。自虛而實。自熱而寒。自寒而熱。有如壞敗。有如兼挾。千態萬狀。不可端倪。然其情機。則實不能出於三陽三陰範圍之外也已矣。</p>

<h1>卷二</h1>

<h2>述太陽病</h2>
<p>太陽病者。表熱證。是也。蓋邪之初感。必先犯表。則正氣不暢。並而為熱（山田正珍注提綱曰。頭項強痛。謂頭痛項強。瓜蒂散條云。病如桂枝證。頭不痛項不強。可以徵焉。此條統論中風傷寒。故啻云脈浮。而不分緊與緩也。惡寒亦兼惡風言。惡風輕。惡寒重。舍輕取重。所謂舉大而小從者也。其不言發熱者。以有或已發熱或未發熱之異也。此說為是。）此病大端有二。一則其人腠理素疏者。倘被邪客。其表愈開。邪不內迫。徒泛漫肌肉。故衛特受傷。（觀衛氣不與營氣和諧。及營弱衛強等語。則中風之邪。不著營分也明矣。）是屬表虛。（虛者。疏泄之義。非虛乏之虛。）所謂名為中風者矣。治以桂枝湯。調和營衛。而汗解之。（尤怡醫學讀書記曰。傷寒發熱者。陽氣被鬱而不伸也。中風發熱者。陽氣被引而外浮也。郁者必發之。浮者不徒解散而已。此桂枝湯。所以兼陰陽通合散為劑也。）一則其人腠理素致者。邪正相搏。更致緊閉。遂迫骨節。故營衛俱傷。（觀營衛俱病。骨節煩疼條。則傷寒之邪。亦傷衛分也明矣。）是屬表實。（實者。緊閉之義。非結實之實。）所謂名為傷寒者矣。（尤氏曰。不言無汗者。以脈緊該之也。）治以麻黃湯。發泄郁陽而汗解之。（麻黃為汗藥中之最烈者。金匱苓甘五味加姜辛半杏湯條曰。麻黃髮其陽。蓋發陽二字。實盡其功用。不待李時珍發散肺經火鬱之說也。其得桂枝。而發表更銳者。猶大黃之於芒硝耳。金匱又曰。其人形腫者。加杏仁主之。其證應內麻黃。以其人遂痹。故不內之。據此。杏仁之與麻黃。唯有緊慢之別。而其開鬱則稍均。不特為治喘而用也。且此方之妙。固在單捷。所以不用薑棗等品。柯氏說雖密。至大青龍而不通矣。）此其分也。（詳此二證。朱氏成氏主風寒營衛相配之說。爾來諸家。無復異議。迄至柯氏。辨駁殆盡。而張志聰實闢其端。說見集註凡例。及侶山堂類辯。惜語焉未詳耳。尤氏曰。邪氣之來。自皮毛而入肌肉。無論中風傷寒。未有不及於衛者。其甚者。乃並傷於營耳。郭白雲所謂涉衛中營者。是也。亦為明確。今考郭氏猶分風寒。然其言頗精。仍拈於下。曰。問曰。太陽一經。何其或有汗。或無汗也。雍曰。系乎營衛之氣也。營行脈中。衛行脈外。亦以內外和諧。而後可行也。風邪之氣。中淺則中衛。中衛則衛強。衛強不與營相屬。其剽悍之氣。隨空隙而外出。則為汗矣。故有汗者。衛氣遇毛孔而出者也。寒邪中深。則涉衛中營。二氣俱受病。無一強一弱之證。寒邪營衛。相結而不行。則衛氣無自而出。必用藥發其汗。然後邪去而營衛復通。故雖一經有有汗無汗二證。亦有桂枝解表。麻黃髮汗之治法不同也。○桂麻二湯。其證不一。今僅舉大較。後柴胡承氣等類。皆準此。）就中輕重。更有等差。有表虛經日不愈。以致邪郁者。有表虛重一等。血氣俱乏者。有表虛重一等。邪著筋脈者。有表實輕一等。邪著筋脈者。有表實重一等。熱勢更甚者。大抵隨其人強弱為異。今具論於下。（仲景既以風寒為表虛實之目。而更有表虛冒傷寒。有表實冒中風。蓋是互文見意。在使人不實講邪氣。故今所區分。一就其證。以虛實為等。至冒頭之義。則卷末答問中詳之矣。○方氏以桂麻青龍三證。為太陽三綱。諸家多沿其誤。特柯氏極排斥之。更有明辨。今摘出之。以備於考。曰。按許叔微云。桂枝治中風。麻黃治傷寒。大青龍治中風見寒脈。傷寒見風脈。三者如鼎立。此方氏三大綱所由來。而大青龍之證治。自此不明於世矣。不知仲景治表。只在麻桂二法。麻黃治表實。桂枝治表虛。方治在虛實上分。不在風寒上分也。蓋風寒二證。俱有虛實。俱有淺深。俱有營衛。大法又在虛實上分淺深。並不在風寒上分營衛也。夫有汗為表虛。立桂枝湯。治有汗之風寒。而更有加桂。去桂。加芍。及加附子。人參。厚朴杏仁。茯苓白朮。大黃。龍骨牡蠣等劑。皆是桂枝湯之變局。因表虛中更有內虛內實淺深之不同。故加減法亦種種不一耳。以無汗為表實。而立麻黃湯。治無汗之風寒。然表實中亦有夾寒夾暑內寒內熱之不同。故以麻黃為主。而加減者。若葛根湯。大小青龍。麻黃附子細辛甘草。麻黃杏仁甘草石膏。麻黃連翹赤豆等劑。皆麻黃湯之變局。因表實中亦各有內外寒熱淺深之殊也。葛根湯。因肌肉津液不足。而加葛根。大青龍。因內熱煩躁。而加石膏。小青龍。以乾嘔而咳。而加半夏細辛乾薑。麻黃附子細辛二方。以脈沉而加附子。若連翹赤豆梓皮。濕熱發黃而加。諸劑皆因表實。從麻黃湯加減。何得獨推大青龍為鼎立耶。蓋中風傷寒。各有淺深。或因人之強弱而異。地之高下而異。時之乖和而異。以上柯說。考千金翼方曰。尋方之大意。不過三種。一則桂枝。二則麻黃。三則青龍。此之三方。凡療傷寒。不出之也。然則三綱之說。自孫氏作其俑。而如方氏實本於朱氏成氏之言。今柯氏歸咎於許氏。不檢之甚矣。又按大青龍條。外臺所引。中風見傷寒脈者可服之者。恐王氏斷章取義。非唐時舊本有此文也。）有表虛經日不愈。以致邪郁者。何。桂枝麻黃各半湯。桂枝二麻黃一湯。桂枝二越婢一湯證。是也。其證輕重不均。故有三方之設焉。蓋桂枝證。失汗數日。邪郁肌肉。故熱多寒少。其滯稍深。故如瘧狀。發作有時。但本是表虛。故有嫌麻葛之發。今則鬱甚。有桂枝之力。不能及者。是以酌量麻桂二方。言日二三發者。其邪稍重。言日再發者。其邪稍輕。不言發數者。其邪尤重。且桂枝二越婢一。其力緊。桂二麻一。其力慢。桂麻各半。在緊慢之間矣。（此三條。其意互發。各半湯。其證特審。他二條。則文甚略矣。蓋各半湯條。八九日者。約略言之之辭。而二條亦冒之。發熱惡寒。熱多寒少。三證疊言。而麻一湯。省寒熱。但言如瘧狀。越婢一湯。言寒熱。而省如瘧狀。其人不嘔。清便自可。亦二條所蘊。如瘧狀。疑於少陽證。故別以不嘔。熱多疑於陽明證。故別以清便自可。欲自可之欲字。當從玉函芟去為是。一日二三度發。與脈微緩者。文勢一串。故似為愈候。然照麻一湯。實是表郁所致。宜接面色反有熱色者看。考面赤證。參二陽並病。面色緣緣正赤。及陽明病面合赤色。當是表郁兼裡熱者使然。今但表鬱而有之。故下一反字。不得小汗出者。言得病以來。未曾小小發汗。故致此表郁。且身癢也。更發汗更吐更下。三更字。當與反字同義。桂二麻一湯證。嘗經大汗。亦是失治。然幸無亡陽之變。亦不轉屬陽明。猶纏滯表分。累日不解。但以其既汗。比之二證。則其鬱為輕。龐氏於脈洪大下。補證候不改四字。與玉函但字。其義相發。桂二越婢一湯證。其熱最重。猶麻黃之有大青龍。假石膏之力。以越散郁陽。脈微弱者不可發汗者。蓋戒此方之不可輕用。與各半湯之脈微而惡寒。大青龍之脈微弱同例。乃系倒筆法。但此條文甚約。故諸家不察及。特中西惟忠注。稍為近之。惜猶欠明暢。要之此三條。從未見確解。如方氏以為兩傷輕證。尤屬錯謬。唯內臺方議各半湯下曰。桂枝湯治表虛。麻黃湯治表實。二者均曰解表。霄壤之異也。今此二方。合而用之者。乃解其表不虛不實者也。八九日不已。反如瘧狀者。乃先發表不盡。微滯於經。而不得出。故一日二三度發也。斯說殊妥。然猶未為精審。今以經釋經。非敢好異也。唐不岩對論三方云。總是一太陽病。病與時日。有淺與深。脈與形證。有應與否。權衡劑量。不失銖黍。於此見古人立方之妙。此言為然。）有表虛重一等。血氣俱乏者。何。傷寒脈浮。自汗出。小便數。心煩微惡寒。腳攣急。是也。此證不啻表疏。其人陽津素少。故雖桂枝本湯。猶過其當。蓋與少陰直中。稍相近似。而不比彼之寒盛。故雖經誤汗。僅須甘姜。而陽回之後。或變胃燥。若其重誤治。則變為純陰證也。（此條本證。次條擬以桂枝增桂加附子者。殊不無疑。何以言之。夫既為附子所宜。則誤汗便厥之際。不得不徑與四逆。而僅用單味小方。竊恐萬無其理。蓋自汗出。小便數。心煩等證。與傷寒二三日。心中悸而煩。稍同其情。而系從前虛乏。為邪凌虐者。則亦是小建中所主也。柯氏於未發汗之前。擬以芍藥甘草湯。尤氏謂此桂枝證。然陰虛而裡熱。當以甘辛攻表。而以甘寒顧里。乃反與桂枝湯。治表而遺里。宜其得之而便厥也。二氏之說。亦有所見矣。尤氏於次條曰。中間語意。殊無倫次。此豈後人之文耶。舒氏亦曰。此條說出許多無益之語。何所用之。吾不能曲為之解也。並本於柯氏之刪也。○趙氏論本條用藥之意曰。以上用藥次第。先熱後寒。先補後瀉。似逆而實順。非仲景之妙。孰能至是哉。後之學者。可不以此為法。推廣而應變。張卿子曰。此條。見傷寒隨證用藥。如轉圜法也。先教論亦曰。金匱咳嗽。小青龍下已之後。敘證五變。應變加減。其意殆與此條同。示人以通變之法也。趙言。出汪氏選錄。頗為辨竅。文繁不具錄。）桂麻各半湯之脈微而惡寒。桂枝二越婢一湯之脈微弱。大青龍湯之脈微弱汗出惡風。蓋此類證也。　有表虛重一等。邪著筋脈者。何。桂枝加葛根湯證。是也。其證一與桂枝同。啻頂背強𠘧𠘧為異。項背者大筋之所束。其𠘧𠘧然。即是邪著筋脈之徵。所以加葛根也。（提綱既言頭項強痛。則桂枝證。本有項強。然未及背。且不𠘧𠘧然也。𠘧𠘧。王氏據赤烏𠘧𠘧為解。近來焦循撰毛詩補疏。亦有其說。然作短羽鳥釋者。於拘強之義。固為襯著。二家所辨。今不敢從。反汗出之反字。對葛根湯證言。蓋邪著筋脈。稍屬緊閉。宜以無汗為正。今表疏人。而邪著筋脈。故於汗出。下一反字矣。煮法去上沫三字宜削。是後人因方中有麻黃。而誤添者。陶隱居稱麻黃不掠去其沫。令人煩。又葛根芩連湯。無此字面。可以互徵。○上節證。與此節證。俱為表虛重一等。但彼則病近於虛。此則病近於實。又此證。宜次於各半湯等證前。今列於此者。在使人與葛根湯證。相對看耳。）有表實輕一等。邪著筋脈者。何。葛根湯證。是也。蓋其人表氣稍實。必須麻黃之發。然邪未迫骨節。而猶著筋脈。是病在桂麻二證之間。故酌量二湯。以為之治也。（葛根。柯氏說極當。然以為有和里之功者。殆不然。蓋為發表中之涼藥。故能生津液。而舒筋脈也。本草。圖經云。張仲景治傷寒。有葛根及加半夏。葛根黃芩黃連湯。以其主大熱解肌開腠理故也。）有表實重一等。熱勢加甚者。何。大青龍湯證。是也。其候一與麻黃證相同。（不言喘者。蓋省文也。）但煩躁為彼所無。（徐大椿曰。凡辨證必於獨異處著眼。是。山田正珍曰。不汗出。言雖服麻黃。而不汗出。與無汗有別。存考。）此表熱極郁。內氣不能宣達。則有麻黃湯力不能及。故加石膏之涼。藉以發越之。（此證惡寒而無渴。可知非里有熱者。石膏雖專治里。倘與麻黃配用。則相藉以走表分。而散其壅鬱。如越婢湯。亦為然。要此湯證。於太陽中。病為最重。故不得不倍用麻黃。唯其熱極郁甚。單用麻桂。必有兩陽相格之虞。故佐以石膏。則鬱開熱潰。作汗而解。蓋龍升雨降之妙。在溫涼相併處。柯氏所解。迥勝前注。然猶未為盡。尤氏醫學讀書記曰。大青龍。治風寒外壅。而閉熱於經者。夫熱鬱於經。而不用石膏。汗為熱隔。寧有能發之者乎。此說本於王文祿。而殊為協當。又吳人駒云。發散表邪。皆以石膏同用者。蓋石膏其性寒。寒能勝熱。其味薄。薄能走表。非若芩連之輩。性寒味苦而厚。不能外達也。此說亦得。○按元和紀用經。陽粉散。謂病當發汗。而汗不止。不止則亡陽。當溫撲之。用麻黃。藁本。白芷。米粉。末之。以粉止身汗。疑是龐氏諸家之所本也。又三國志華佗傳注。稱有婦人長病經年。世謂寒熱注病者。佗用寒水汲灌。滿百灌。佗乃使然火溫床厚覆。良久汗洽出。著粉汗燥便愈。然則漢時神醫。多用粉法。而未知兩夫子之方果是相同否。○復服汗多者。表陽虛。故惡風。里陽虛。故煩躁不得眠。汪氏以為邪熱未除。恐不然。）如脈浮緩。身不疼但重者。其機異而其情同者也。（蓋邪迫骨節。故脈緊身疼痛。今邪不迫。故脈緩身不疼。然身重而兼見前條諸候。則知是均屬表郁。但脈緩身重。疑於少陰之脈遲身重。故徵以乍有輕時。更云無少陰證者。而示精心體察。不可輕試之戒。又麻黃湯證。亦必有邪不緊迫與此同機者。可推而知也。）以上太陽病要領也。此他。得病之初。有所挾者。有停飲相觸。治兼驅利者。（如喘家。及小青龍湯證之類。（有素稟虛弱）不可徑汗者。（如小建中湯。及尺中遲。咽喉乾燥等諸證之類。）又有風濕相搏者。並類列於後卷中矣。至其傳變。則里之受病。皆無不自表。故其類不一。或傳少陽。或直傳陽明。或直變太陰。或直變少陰。（以上傳變。皆有明文。蓋本病變為陰者。必多自桂枝證。其理何也。既是表疏。比之表實者。陽氣稍弱。故其重一等者。或須溫養。則其易變為陰也。明矣。）但少陰直中。非經太陽者。而厥陰。則病之所極。蓋不自此遽變也。（並是玩經文而自知。）更有拘下後。軒熙曰。過經。猶言過表。存考。心下急。急字無明解。柯氏曰。急者。滿也。猶不了。考急是緩之對。蓋謂有物窘迫之勢。非拘急之謂。李氏脾胃論曰。裡急者。腹中不寬快。是化。蓋所謂不寬快者。以釋裡急。則未為當。而於心下急。則其義甚親。桃核承氣條。少腹急結之急。亦同義也。此方芍藥。蓋取之通壅。宜參後桂枝加芍藥湯。○陶氏本草序例曰。枳實若干枚者。去穰畢。以一分准二枚。據此。此方枳實四枚。准今一分七釐七毫六絲。比他藥殊輕。大小承氣。枳實梔子湯。並稱幾枚。而其舉分量者。麻仁丸則半斤。四逆散則各十分。仍知仲景用枳實。本不甚輕。陶說可疑。○此方再煎。其義難晰。俟考。）其一。柴胡加芒硝湯證。是也。此其壅實稍輕於前證。而以丸藥之故。里邪膠固。殆屬壞病。（此條難讀。然程注頗明竅。但此實得之攻後云云者。殊似含混。蓋此證本是少陽陽明並病。以用下失法。徒擾腸胃。而邪與實。依然具存者。程又曰。去者非所留。留者非所去。故溏者自溏。結者自結。而結者既結。溏者益溏矣。此說反覺直切。又此證既是兼里。乃似宜蚤從大些胡雙解之法。而先用小柴胡者。蓋以丸藥誤下。不欲續以快藥。仍姑清和。以待胃安也。且其下利。故壅實輕於大柴胡證。而燥結則有甚。是以不藉大黃之破實。而殊取芒硝之軟堅矣。按以此方為大柴胡加芒硝。原出於黃氏。而宗印亦有其說。○軒熙曰。此條與次調胃條。其云十三日者。亦是約略之辭。或以為十餘日之訛者。殆未是也。）其一。柴胡加龍骨牡蠣湯證。是也。此以誤下。邪陷於裡。加以諸證錯雜。蓋壞之甚者矣。（成氏曰。傷寒八九日。邪氣已成熱。而復傳陽經之時。下之虛其里。而熱不除。胸滿而煩者。陽熱客於胸中也。驚者。心惡熱而神不守也。小便不利者。裡虛津液不行也。讝語者。胃熱也。一身盡重。不可轉側者。陽氣內行於里。不營於表也。與柴胡湯。以除胸滿而煩。加龍骨。牡蠣。鉛丹。收斂神氣而鎮驚。加茯苓。以行津液利小便。加大黃。以逐冒熱止讝語。加桂枝。以行陽氣。而解身重。錯雜之邪。斯悉愈矣。尤氏曰。傷寒下後。其邪有並歸一處者。如結胸下利。是也。有散漫一身者。如此條所云諸證。是也。二說亦似精當。喻氏以為伏飲素積。為變之最巨者。叵從。又此證一身盡重。與三陽合病。身重難以轉側。其機稍均。○此當入兼變諸證中。然無類可附。仍列於斯。）以上少陽病要領也。此他。有兼虛小建中湯證。（出兼變虛乏中。）其愈。有振汗而解者。（成氏謂經下里虛。邪氣欲出。內則振振然。蓋原於辨脈法。其人本虛。是以發戰雲云。軒熙曰。太陽病未解。脈陰陽俱停。必先振慄汗出而解。諸注皆為自愈之候。恐非。蓋振汗非太陽所有。脈陰陽俱停。想系邪在少陽者。其病跨於表裡。故脈不偏見。猶是金匱脈兩出積在中央之理。倘用柴胡。而鬱邪離窟。則振汗而解也。下文。云汗出。云下之。俱指藥治。要是列舉三陽愈候者。故下三而解字。此說未知當否。姑錄備考。）其傳陽明。有為白虎證者。（服柴胡湯已渴者條。可徵。）有為承氣證者。（經中多言之。）其變或為太陰。或為少陰。或為厥陰。殆不一定矣。（變為三陰。經無明文。然太陽既變太陰。則少陽亦未可不變太陰。其變少陰者。近世甚多。如厥陰。則其部位。及寒熱勝復。並與本病。稍相類似。乃其變為。固其分也。）蓋以其界表裡。所繫不一。而醫之失治。多於此位。故兼挾變壞之證。少陽最多。而經中所舉。不過數章。學者當擴而充也。（吳有性著溫疫論。主疫邪自口鼻入之說。蓋膜原實少陽之部。而達原飲。三消飲。有地方之宜。或驗於今者。然審其主證。猶不能出大小柴胡之例。竊想當吳氏之時。邪勢暴厲。遽犯半表裡。故遂立其說乎。董氏西塘感症。引傷寒心法。稱見今世甚少太陽症。其書適與吳氏時世相近。可以證矣。世偶有墨守吳氏之法。忌用桂麻。視柴胡為餘熱之治者。故附識於茲。）</p>

<h2>述陽明病</h2>
<p>陽明病者。裡熱實證。是也。邪熱陷胃。燥屎搏結。即所謂胃家實者也。（胃家實。該諸病在胃宜下證之稱。但正陽陽明之胃家實。專指大承氣證也。又前注多立陽明經腑之別。實失經旨矣。○白虎證。系胃熱而無實者。即溫病是。今自列於次卷。又中風中塞。是不於胃家實上有分別。則亦不復具論。）如其來路。或自大陽。或自少陽。而其等不一。病之輕重。亦隨而異。有其人胃素有熱。邪勢亦盛。相藉遽實者。其病為重。即正陽陽明也。（本篇大承氣第一條。玩語氣。似曾不經誤治。而邪氣自實者。）有自太陽桂枝證。發汗過多。胃液為燥者。其病最輕。即太陽陽明也。（脈陽微而汗出少者。脈浮而芤。及麻子人丸三條。可以徵焉。脈經脾病證曰。脾約者。其人大便堅。小便利。而反不渴。成氏以太陽病若吐若下若發汗後。與小承氣條。為脾約。恐非。又不更衣十日無所苦。與脾約自別。）有自少陽病。誤發汗利小便。以為胃燥者。其病頗輕。即少陽陽明也。（太陽陽明。少陽陽明。喻氏誤為並病。汪氏擬方。蓋本其意。）然誤治之後。亦或為正陽陽明。有自太陽病。誤汗下利小便者。（如問曰何緣得陽明病條。是也。）有自太陽病失汗者。（如本太陽和得病時。發其汗。汗先出不徹。是也。次條相承。亦謂失汗胃實。蓋傷寒發熱無汗。即是表實證。其嘔不能食。亦風寒外束之故。此證倘發汗不徹。則不宜有汗。而反汗出濈濈然者。邪氣內結。以屬陽明也。）有自少陽病誤汗者。（如少陽篇。發汗則讝語。是也。）然則輕證所由。亦不止一端也。（仲景先區三等。以示輕重。更出以上諸條。以盡其變。學者宜密察。）其為證也。不惡寒惡熱。濈濈汗出。（汗出有二端。有遍身濈濈者。為裡熱蒸迫之故。有手足濈濈者。為邪熱內結之徵。巢源。活人書。並有掌心汗濕之說。）身重短氣。腹滿而喘。潮熱（潮熱。明理論所說。似穩貼。或不言日晡者。蓋省文也。）讝語。不大便。（胃中有燥屎。胃中。猶言腹中。不必深講。經言部位。往往類此。且屎在大腸。而其燥結不下者。實由胃熱遏住。王好古以為地道不通。火逆至胃者。慎矣。）脈實大遲。（大承氣條曰。脈遲。小承氣條曰。脈滑而疾。是兩相對待之詞。而遲脈實為應下之正候。千金方。以脈朝夕駃。為實癖可下。可疑。）此胃實正證。大承氣湯主之。若不識人。循衣摸床。惕而不安。微喘直視者。病加劇而正亦虛。其猶用前方者。不畏虛以養病也。（吳又可補瀉兼施。蓋即此證。且此條本分三等。輕重雖異。其為胃實則一。故皆以大承氣湯主之。）或劇熱迅傳。勢近危惡者。則有急下之例。（少陰急下條。其來路雖異。其危劇則一。吳又可所謂急證急攻者。亦此類也。又急字。參成氏少陰篇急溫之之解。其義更明矣。○大承氣諸條。其有餘義者。今述於下。陽明病。潮熱大便硬者條。首段。言既有潮熱。則大便雖微硬。知其熱既實。故可與大承氣。倘未潮熱者。恐其熱未實。雖不大便六七日。難必其燥屎有否。故與小承氣試之也。又周氏曰。其後發熱。是必日晡時作。此又未盡之邪復結而硬。但既攻之後。所結不多。只小承氣湯和之足矣。錢氏曰。其後又復發熱者。乃潮熱之類也。二說與輯義意相合。○病人不大便五六日。繞臍痛條。錢氏解發作有時。為日晡潮熱之類。此本於柯氏。蓋言繞臍痛煩躁之發作有時。猶日晡潮熱之理。非別有熱氣發作也。金鑑本於程氏。曰。燥屎穢氣。上攻則煩躁。不攻則不煩躁。故發作有時也。亦通。○病人小便不利。大便乍難乍易條。尤氏曰。小便不利者。其大便必溏。而有燥屎者。水液雖還入胃。猶不足以潤之。故大便乍有難時。而亦乍有易時也。此與錢氏異義。姑錄備考。○得病二三日脈弱條。喻氏注不確。此條二雖字。為其眼目。蓋可下證。以不能食為常。然無太陽柴胡證。煩躁心下硬。不大便。至四五日。則雖有能食之似胃和。猶以小承氣與之。若不大便六七日。雖有不能食之似胃實。其小便少者。初硬後溏。宜暫待其實。不可遽下。此二證對示。以欲人通變也。又大便初硬後溏。自有二端。其一。系寒實證。是不終結者也。其一。系熱實未成。是終結者也。宜分別看。）如胃實正證。而輕一等者。小承氣湯主之。（大承氣證。有姑用是湯探試者。其義可見也。又小承氣證。陽明病。其人多汗。以津液外出。胃中燥。及太陽病。若吐若下若發汗後條。並是津液受傷。似是調胃所宜。然多汗。本陽明所固有。則其有滿實。蓋寓之言外者耳。）如液燥熱搏。其實則輕者。調胃承氣湯主之。（大承氣證。有液甚燥者。但病屬急劇。不得已而奪之者爾。此方所主。則病勢稍慢。非潤而蕩之不可也。大抵得之誤汗吐下。津液虧乏者為多。如吐後腹脹痛者。亦是似大實而非者。尤氏曰。設遇庸工。見其脹滿。必以枳樸為急矣。是。又太陽中篇過經二條。其證殆屬壞病者也。○成氏曰。大熱結實者。與大承氣湯。小熱微結者。與小承氣湯。以熱不大甚。故於大承氣湯。去芒硝。又以結不至堅。故減厚朴枳實也。又云岐子傷寒保命集曰。大承氣者。厚朴。苦溫去痞。（按此云痞者。蓋氣閉之義。非心下痞之痞。）枳實。苦寒泄滿。芒硝。味鹹而能軟堅。大黃。味苦寒能泄實。痞滿燥實四證全則可用。故曰大承氣湯。小承氣者。大黃。味苦寒泄實。厚朴。苦溫去痞。痞實兩全可用也。故曰小承氣湯。調胃承氣者。大黃。苦寒泄實。芒硝。鹹寒而能耎堅潤燥。甘草。和平。和其中。燥實堅三證全者可用。故曰調胃承氣湯。此說頗當。至陶氏六書。則曰。病有三焦俱傷者。則痞滿燥實堅全。邪在中焦。則有燥實堅三證。上焦受傷。則痞而實。拘鑿殊甚。閔芝慶嘗闢其繆。文繁不錄。又吳又可曰。三承氣功用彷彿。又曰。功效俱在大黃。余皆治標之品也。並欠辨晰。又王好古學三方主證。輯義漏載調胃證。仍補出之。曰。謂胃承氣湯。治實而不滿者。腹如仰瓦。腹中轉矢氣。有燥糞。不大便。而讝語堅實之證。宜用之。又大黃酒製。程知說是。然抵當湯。不用芒硝。而大黃酒洗。大陷胸湯丸。大黃牡丹湯。並有芒硝。而大黃生用。故其說不能無疑。存考。○幼幼新書。惠眼觀證。芍藥散。治大小便下藥不通者。於調胃本方。加芍藥。當歸。保命集。當歸承氣湯。於調胃方中。加當歸。姜。棗。水煎。三法六門。玉燭散。以四物湯。承氣湯。樸消。各等分。水煎。去滓。食前服之。傷寒心要。產後如血不盡。則以涼膈與四物合煎。調理經血。甚者。大承氣合四物。乃瀉中有補也。又曰。大承氣合四物。治婦人一切血積血聚等疾。如紅花尤妙。）脾約。則病最輕。而但胃燥。故麻子人丸。僅潤下之。（本草。圖經引。作枳實一斤。十丸下。有食後服之字。曰。唐方七宣麻仁丸。亦此類也。徐大椿曰。此潤腸之主方。又陶隱居曰。如梧子者。以二大豆准之。又杏仁熬黑。陶氏有說。宜參。）熱去津竭。而大便硬者。以蜜煎導之。（導法。用蜜。用土瓜根。用豬膽汁。俱取潤肛。設更用皂角諸品。徒覺多事。○本草。開寶引陳藏器云。主大便不通。取豬羊膽。以葦筒著膽。縛一頭。內下部。入三寸。灌之。入腹立下。此方。出北齊道興治疾方。但主治文泐滅難考。又梅師方。肛門主肺。肺熱即肛門塞。腫縮生瘡。白蜜一升。豬膽一枚。相和。微火煎令可丸。丸長三寸作挺。塗油內下部。臥令後重。須臾通泄。）此陽明病要領也。此他。有兼素虛者。如無汗身如蟲行者。（詳見兼變虛之中。）及不大便。脈微澀者。是也。（宗印曰。明日不大便。而脈反微澀者。邪熱實。而正氣虛也。微為氣虛。澀則無血。此胃氣虛於裡。雖有熱實。不可攻之。故為難治。此說與汪意相同。）有兼表者。有兼半表半裡者。（二證詳於合併中。但脅下硬滿。不大便而嘔。舌上白胎。與小柴胡。此係其實少陽。而似陽明者。）有迫血分。（列於兼變瘀血。）有挾濕鬱列於濕熱中。）亦宜隅反爾。蓋本病無所復傳。（經有明文。大抵下後清潤。病日就愈。此吳氏所以有養營清燥諸湯也。）然有攻下過度。胃虛熱迸。以為厥陰者。殆局外之變也。（古人有下多亡陰之戒。蓋下多胃亦虛。亡陰必內燥。勢不得不為厥陰。今世往往有致此者。○詳本篇中。文易了而義難曉者。凡有五條。曰。初欲食。小便反不利。大便自調。曰。反無汗而小便利。曰。但頭眩不惡寒。曰。脈浮而緊者。必潮熱發作有時。曰。太陽病寸緩關浮尺弱。是也。○太陰病與陽明。其位與有實。則相同。而自有寒熱之異。故本篇點出。以便照對。但猶題以陽明病。是以注家不察。多致論混。今詳開於次款。讀者宜考。）</p>

<h2>述太陰病</h2>
<p>太陰病者。裡寒實證。是也。蓋其人內有久寒。倘遇邪客。雖初得陽證。及其入里。則遂從寒化。而胃氣猶有守。故能搏實者矣。（脈經曰。下利而腹痛滿。為寒實。當下之。此語。出其平下利中。考前後諸條。似即雜病論之遺。然則本病為寒實。其義甚明矣。蓋雜病寒疝寒脹之類。亦系寒實。故金匱腹滿寒疝證治。間與本篇相發。又寒實字面。出三物白散條。及腹滿篇第四條。）其所受者。有自太陽病誤下來。則其不誤下。亦或有變成者。及或有自少陽來者。皆可知也。（成氏曰。太陰病者。陽邪傳裡也。此言有味。豈因三陰中。太陰特有桂枝法。而發乎。）曰自利。曰吐食不下。曰時腹痛。皆寒盛之徵。曰腹滿。曰下之胸下結鞕。俱壅實之驗。（所謂下之者。蓋指承氣十棗之類而言。其病不似少陰之脫。故胸下結鞕。猶是崔氏所謂下後虛逆。氣毒相激之類也。胸下。蓋即心下也。太陰唯於末條言脈候。似不必其正脈。然要不出沉遲細弱等也。）其初起滿實。陽氣能持者。設桂枝加芍藥。及加大黃湯。以為和泄溫利之法。（此條。曰本太陽病。則時既離表可知。蓋誤下之後。胃氣生寒。表邪陷實。以致是證。顧下後便秘者。桂枝湯加倍芍藥。既非發表。亦與建中不同其旨。考小柴胡加減法曰。若腹中痛者。去黃芩。加芍藥三兩。成氏曰。加芍藥以通壅。又明理論曰。宜通而塞為痛。邪氣入里。裡氣不足。寒氣壅之。則腹中痛。芍藥。味酸苦微寒。酸性泄而利中。加之則裡氣得通。而痛自已。愚謂此方芍藥。亦取通壅。次條設當行大黃芍藥者語氣。可以徵焉。張志聰侶山堂類辨曰。芍藥氣味苦平。苦走血。故為血分之藥。苦下泄。故本經。主邪氣腹痛。除血痹。破堅積寒熱。因其破泄。故太陰篇云云。今人咸云。芍藥主酸斂。而不知有大黃之功能。此說則過當矣。病勢更劇。大實痛者。加大黃以疏之。亦猶大黃附子湯之例。以病屬寒。主在溫利。擴充此理。則大黃附子湯。及溫脾湯等。皆宜治本病也。○脈經所謂當下之者。亦加大黃湯證。其下利。因有寒積。而氣下墜所致。與四逆證之下利自異。要知寒實用下。於脈之有力無力。腹痛之微甚著眼。始為親切。○陳氏三因方曰。太陰屬脾。中州土也。性惡寒濕。非乾薑附子。不能溫燥。又曰。至太陰脾經。溫燥不行。亦當溫利。自陽明出。如溫脾丸。用大黃者。是也。此其言雖曖昧不明。似稍知太陰之為寒實者矣。）如其脈弱者。要加斟量。（太陰為病之為字。疑衍。提綱諸條。及風溫之外。經無比語例。續自便利。恐是承上條而言。醫下之後。續自便利。柯氏意亦似然。太陽中篇。傷寒醫下之。續得下利。殆一例也。蓋此條。示寒實動變陽虛。不可輕下之戒。）病既重者。則用四逆輩。以溫散之。（提綱之證。蓋謂此也。不渴。即與少陰分別處。彼以胃少液故渴。此以寒氣壅閉。津液猶持。故不渴。成氏曰。自利而渴。寒在下焦。自利不渴。寒在中焦。恐誤。云四逆輩。而不云四逆湯。意在溫散。而不在治厥也。朱氏活人書以來。療本病有用理中湯丸者。蓋能得經旨者矣。）蓋寒實之病。雖胃猶閉持。以寒固胃之所忌。其實之極。中氣必敗。不似熱證之久實。故初起雖用溫利。至其重者。則宜扶陽散寒耳。（玉函經曰。寒則散之。此之謂也。桂枝加芍藥證曰。時痛。加大黃證曰。大實痛。提綱曰。時腹自痛。此足以知其病機。而措治之法亦見矣。）此太陰病要領也。他有兼表者。桂枝湯條。是也。（少陰兼太陽。治法先里後表。太陰不似少陰之脫。且桂枝湯。程氏所謂胎建中之體。無礙於溫者。此所以猶先其表乎。）其愈。有從外者。太陰中風。是也。（成氏注辨脈首條曰。陰病見陽脈。而主生者。則邪氣自里之表。欲汗而解也。如厥陰中風。脈微浮為欲愈。不浮為未愈者。是也。據此說。則三陰中風。特似言其愈候。豈以風屬陽。假為陽復之名乎。柯氏曰。脈澀與長。不是並見。澀本病脈。澀而轉長。病始愈耳。此亦一說。）有從內者。暴煩下利。是也。（此條舉客以明主。太陰當發身黃以上。是客詞。此太陰非謂寒實本病。唯是指中焦脾家而言。猶食谷欲嘔者。屬陽明之例。即言脈浮緩。手足自溫。小便不利者。為中焦濕熱。故當發身黃也。若小便自利以下。是主詞。言寒實本病。倘脈浮緩。手足自溫者。為陽復寒去之兆。縱有首條諸證。及小便自利。必暴煩下利日十餘行而愈。即是脾家陽實。寒積腐穢自去之徵也。若小便自利。不能發黃二句。在陽明篇。則為燥結之驗。在本篇。則為裡寒之故矣。以上一出臆見。甚似迂曲。然參互審考。義不得不然。何則金匱黃疸篇。以寸口脈浮而緩。為其正脈。是與本條相發。可知浮緩非表邪。而屬裡熱。蓋裡熱外熏。而脈浮者。白虎證是也。緩之為熱。見素靈及平脈法。手足溫一證。小柴胡梔豉兩條有之。亦系內熱所致。是知此脈證。在陽病見之。則為裡熱之候。陽明篇舉以別胃實燥濕之分也。今寒實而見之。何以謂為陽復之候。曰。少陰篇曰。少陰病脈緊。至七八日。自下利。脈暴微。手足反溫。脈緊反去者。為欲解也。雖煩下利。必自愈。此明以手足溫為愈候。而錢氏解緊去。謂緊峭化而為寬緩。此意甚佳。且少陰厥陰。並以脈浮為欲愈。乃知此脈證。在陰證見之者。固與陽證不同。要之本篇此條。揭此脈證。以辨明濕熱發黃。與寒實愈候耳。又太陽下篇。及辨脈法。有以手足溫為愈候者。亦當並考。）抑病既在裡。故無所復傳。唯自實而虛。必變為少陰。（義如上說。）更有寒去而實存。實以生燥。仍變陽明者。（陽明篇第三十二條。若不轉失氣者。初頭硬後必溏。此蓋與欲作固瘕者。均屬寒實。故攻之。則脹滿不能食也。其後發熱者云云。乃言有寒去之後。或變熱結者。）至如厥陰之燥熱。則恐非寒實之遽變者也。（太陰一篇。從無確解。愚涵泳數年。徵之病者。定為寒實。後得脈經中語。竊謂益為著切。因不自揣。立說如上。蓋本篇不過僅僅數條。而陽明篇中。反多本病證候。此以其病雖有寒熱之異。而部位與壅實則同。故恐人錯認。對舉明之也。曰。不能食名中寒。曰。欲作固瘕。曰。攻其熱必噦。曰。欲作谷疸。曰飲水則噦。曰食谷欲嘔。曰寒濕在裡。皆是已。然猶冒以陽明。故諸家未之察。亡友世緝嘗特論之。唯未斷為寒實。稍與愚見異焉。金鑑。以厚朴生薑半夏甘草人參湯。移入本篇。其候雖類。彼則氣滯虛滿耳。實不同也。柯氏以三物白散移入。亦不辨部位之有殊者也。）</p>

<h2>述少陰病</h2>
<p>少陰病者。表裡虛寒證。是也。有直中焉。有傳變焉。是故有專於表者。有專於裡者。然至其重。則俱無不涉表裡矣。直中者。所謂發於陰者也。其人陽氣素衰。邪氣之中。不能相抗。為其所奪。直為虛寒者矣。而有輕重之分。蓋里未甚衰。表專虛寒者。邪氣相得。以稽留表。故猶有發熱。此病為輕。如麻黃附子細辛甘草二湯證是也。（柯氏曰。本條。當有無汗惡寒證。趙氏曰。少陰發汗二方。雖同用麻黃附子。亦有加減輕重之別。故以加細辛為重。加甘草為輕。辛散甘緩之義也。徐氏於甘草湯下曰。此較加細辛者。易甘草為調停。其藥勢之緩多矣。因細詳立方之意。言少陰病二三日。比初得之。略多一二日矣。日數多而無里證。寒邪所入尚淺。是以陰象不能驟發。故將此湯微發汗。微云者。因病情不即內入。而輕為外引也。按三說並妥。）里陽素弱。表氣從虛者。其感邪也。表裡徑為虛寒。蓋所謂無熱惡寒者。此病為重。如附子湯證。是也。（附子湯二條。傳變亦有如此證。其方亦在傳發所必須。故注家未敢謂為直中。但成氏引無熱惡寒以解之。似有所見。今詳其文。曰。背惡寒。曰。身體痛。手足寒。骨節痛。俱為表寒之候。蓋陽氣素虧。筋骨乏液。寒邪因以浸漬所致。故不似麻附證之有發熱。設自非裡虛。何以至此寒盛乎。然則其兼見裡寒證者。亦可推知也。其方與真武相近。而彼主在內濕。此主在外寒。何則此附子倍用。所以走外。術亦倍用。所以散表。蓋仲景用術。多取治表。用人參者。固以救素弱之陽。並制朮附之燥也。千金用此方。治濕痹緩風。及指迷方。於本方。加甘草。用蒼朮。名朮附湯。以治寒濕。俱足互徵此證之為表寒矣。先兄曰。附子之性。雄悍燥熱。散沉寒壯元陽。生則其力特猛。救里陽乎垂脫之際。炮則其性稍緩。走表分以溫經逐寒。前輩所辨。殊屬踳駁。此言能發未逮之秘。但率意論之。似治表宜力猛。治里宜性緩。此殊不然。蓋裡虛驟脫。非急救則不可。所以用生附。寒濕纏綿。過發則無功。所以用炮附也。）傳變者。有自太陽病者。有自少陽病者。有自太陰病者。大抵陽之變陰。皆因其人胃氣本弱。醫不知迴護。汗下失法。而陽虛胃寒。以為此病。更有雖不被錯治。遂為邪所奪。因而變成者。（其自少陽病。及不經錯治者。並多所驗見。然經無明文。豈意在言外者乎。又桂枝證多變為陰。義述於太陽中。更有盛人初得太陽。遂變本病者。賤役勞形。最多有之。殆以陽有餘於外。而不足於內之故乎。其變自太陰。詳述於前。）倘其自太陽。而表熱仍在者。先救其里。後救其表。如四逆桂枝二湯各施證。是也。（厥陰篇。下利清穀。不可攻表。亦為表裡並有者而言。又桂枝人參湯。系其輕證。程氏有說。宜參。桂枝加芍藥生薑人參新加湯。與此稍異。並錄於兼變中。）既無表證。一系虛寒者。隨宜為治。如乾薑附子湯。茯苓四逆湯。芍藥甘草附子湯等證。是也。（上二方證。從無確解。柯氏分為緩急。實似葉當。其云有救陽救陰之異者。恐不然也。今玩文勢方意。以臆測之。其病輕而來急者。屬乾薑附子湯。何則晝日煩躁不得眠。比之躁無暫安時之孤陽絕陰。有夜而安靜之異。況未至厥逆。其方亦藥單捷而劑小。蓋單味則其力專一。可以奏效於咄嗟。而劑小則不足以對大敵矣。其病重而來緩者。屬茯苓四逆湯。何則云病仍不解。蓋是緩詞。其方亦藥重複而劑大。蓋重複則其力泛應。少直搗之勢。而劑大則可以回倒瀾矣。芍藥甘草附子湯。互舉於兼變中。又甘草乾薑湯。為虛寒輕證。亦列在兼變中。○茯苓。前輩稱為益陰。愚謂滲利之品。恐無其功。蓋脾胃喜燥而惡濕。其燥必暖。陽氣以旺。其濕必冷。陽氣以衰。水穀淤溜。津液不行。苓之滲利。能去水濕。此所以佐姜附。以逐內寒。與理中之術。其理相近矣。）傳變。無專表寒者。（傳變必經表熱。則其理明矣。）直中麻黃附子證。或差其法。必為裡寒。如太陽中篇四逆湯證。是也。（此條。周氏注為優。又曰。若不差。必曾服汗藥矣。亦似是。蓋雖列太陽中。實系少陰。顧是其初發熱頭痛。脈反沉者。麻黃附子二湯。所宜酌用。而醫失其法。故至身體疼痛。其證殆與附子湯相同。而用四逆者。或是以其既經誤治。陽虛殊甚。而更有厥冷等證耳。三陰無頭痛。是就經絡而言。戴原禮既辨其非正法。頭痛固有因陰寒上衝明篇小柴胡。亦有其例。）要之至病重者。則直中傳變。證治無二。俱皆以脈微細沉。心煩欲寐。自利而渴。（此渴為津脫之故。程氏謂上熱者。誤矣。）厥冷外熱等。為其正證。而四逆湯。以溫經回陽。實系對治。（本病僅以脈微細但欲寐為提綱。四逆所主。於本篇。則唯是脈沉。與鬲上有寒飲乾嘔者二條已。然其證候散見各條。則宜會而通之。如四逆湯。實是溫補諸方之祖。其為少陰正治。誠不待辨焉。○陶隱居曰。附子烏頭若干枚者。去皮畢。以半兩准一枚。按半兩。充今一分七釐四毫。比他藥殊輕。陶說可疑。）其重一等者。通脈四逆湯證。是也。下利甚者。更溫其內。白通湯證。是也。而重一等者。加豬膽人尿。（加豬膽湯。成氏注以反治。非是。蓋加豬膽之意。通脈四逆加豬膽湯吳氏注。尤為切實。其用尿者。亦可類推。又豬膽汁。或急遽難辦。所以有若無膽亦可用之語。不必所重在人尿也。○陶隱居曰。薤白。蔥白。除青令盡。）此少陰病要領也。（四逆變方。更有如當歸四逆湯之兼滋養。通脈四逆加豬膽湯之兼和陰。四逆加人參湯之兼救胃。皆在本病亦可酌用也。）此他。有兼水氣者。真武湯證。是也。（此條既曰自下利。而又曰或下利。語意重複。中西惟忠曰。或字下。疑脫不字。此說是。曰小便不利。曰或小便利。其例一也。○程知論附子生熟。本於張兼善。蓋此方證。不似四逆證之陽脫。故附子炮用。）有兼寒逆者吳茱萸湯證。是也。（欲死二字。不過形容煩躁之狀。與奔豚病。發作欲死復還止。同語例。隱隱居曰。吳茱萸一升者。五兩為正。○肘後。療卒厥上氣。淹淹欲死。此調奔豚病。於本方。去大棗。加桂。半夏。甘草。千金。名奔氣湯。千金。吳茱萸湯。治胸中積冷。心嘈煩滿。汪汪不下飲食。心胸應背痛方。於本方。加半夏。桂心。甘草。）有大腸滑脫者。桃花湯證。是也。（按裡寒便膿血之機。蓋自下利數日。大腸滑脫。氣益內陷。血隨下溜而來。巢源曰。血滲入於腸。腸虛則泄。故為血痢。可以見也。錢氏謂大腸傷損。恐無其理。又便膿血。非真有如腸癰之膿血雜下。蓋腸垢與血同出者。巢源痢候。有膿涕。及白膿如涕語。可徵。○按此三證。雖有所兼。然不外於虛寒。故敢列於此。）至其變。則有變為陽者。或自表寒。（此出臆揣。蓋表寒而陽鬱於里之人。其始得邪。為直中輕證。而及其傅里。變為熱候。是也。但表寒裡熱。理似可疑。然附子瀉心湯證。固為表陽虛。而里有熱者。其機與此相近。堅嘗見數人。冬月薄衣犯寒。始得麻附細辛湯證。用之五六日。變為胃實。與以承氣而愈。於是知病之為變。無所不有也。）或自裡寒。（亦出臆揣。蓋病未篤。而溫補過甚。或陽既復。而仍用姜附。遂生哄熱者。是也。孫兆曰。有本是陰病。與溫藥過多。致胃中熱實。或大便硬。有狂言者。亦宜下也。可以徵焉。）而熱壅半表裡者。四逆散證。是也。（此證不用小柴胡者。以其壅鬱。非枳實芍藥。不能開泄。不用大柴胡者。以胃無實結。蓋邪壅半表裡。而為厥者。何啻少陰變來。其揭於本篇者。亦在使人與寒厥對看乎。）胃家熱實者。大承氣湯證。是也。（郭雍有初與四逆。後用承氣。按及孫氏所云。即此也。以愚測之。此證自表寒變來者為多。如裡寒者。政使溫補太過。恐不遽變為胃實也。周氏曰。自利至清水。而無渣滓。明系旁流之水可知。痛在心下。口且乾燥。其燥屎攻脾。而津液盡爍。又可知矣。故當急下。以救陰津。此解頗妥。中西惟忠曰。自利清水之清。當興清穀清血之清。均為圊字看。始與色純青文順。）飲熱相併者。豬苓湯證。是也。（更出兼變飲邪搏聚。）熱並血分者。便血。及便膿血可刺證。是也。（熱在膀胱。即熱結下焦之義。不是斥言淨府。桃核承氣抵當二條。可徵也。然則便血亦大便血明矣。○陰之變陽。王履既曰。或有直傷即入。而寒便變熱。及始寒而終熱者。其言雖是。猶未明鬯。如注家傳經熱邪之說。則輯義既辨其謬矣。或以為本篇熱證。本系陽病。不必自變成。以其相似。仍對示之耳。然以承氣三條言之。如口燥咽乾。自利清水。猶可云爾。至腹脹不大便。則少陰豈有此證。其說不同從。）有變為厥陰者。蓋少陰之極。更有二端。陰陽俱敗。以就暴脫者。有下利亡陰。而孤陽上燔者。如心中煩不得臥。咽痛咽瘡。並繫上焦燥熱。故黃連阿膠。豬膚。苦酒諸湯。皆為潤法。蓋病既涉厥陰者也。（此實懸料之言。然此諸方證。皆以潤為主。不似變陽諸證之必要清涼者。知是亡陰虛燥。稍近厥陰矣。醫學讀書記曰。少陰陽虛。汗出而厥者。不足慮也。若並傷其陰則危矣。是以少陰厥逆。舌不幹者生。乾者死。斯言稍是。然似不知少陰之變為厥陰者矣。黃連阿膠湯。與梔豉一類。然此以潤為主。蓋以非邪熱壅鬱故耳。程氏曰。少陰之有咽痛。皆下寒上熱。津液搏結使然。無厥陰撞氣。故不成痹。但視氣勢之微甚。或潤或解或溫。總不用著涼藥。此說頗當。蓋治咽諸方。要是治標之法已。又勞瘵病極為咽痛。其理則一。徐大椿注苦酒湯曰。疑即陰火喉癬之類。為當。○豬膚。諸說不一。按儀禮聘禮。膚鮮魚鮮。臘設扃鼎。注曰。膚。豕肉也。唯燖者有膚。疏曰。豕則有膚。豚則無膚。故士喪禮。豚皆無膚。以其皮薄故也。又禮記內則疏曰。麋膚魚醢者。麋膚。謂麋肉外膚。食之以魚醢配之。今合考之。則膚是為肉之近外多脂者。古義瞭然。無庸別解矣。又錢氏。以熬香屬豬膚。誤。○苦酒湯。刀環。刀。即古錢。今猶傳世。其形狹長。柄端有環。以安雞卵。甚適好。）</p>

<h2>述厥陰病</h2>
<p>厥陰病者。裡虛而寒熱相錯證。是也。其類有二。曰上熱下寒。曰寒熱勝復。其熱俱非有相結。而以上熱下寒。為之正證。（提綱所揭。其義可見也。注家多混合為說。誤矣。）蓋物窮則變。是以少陰之寒極。而為此病矣。（其機既詳於少陰中。）然亦有自陽變者。少陽病誤治。最多致之。以其位稍同耳。（少陽邪壅胸脅。本病熱在上焦。柯氏曰。少陽咽乾。即厥陰消渴之機。胸脅苦滿。即氣上撞心之兆。心煩。即熱之初。不飲食。是飢不欲食之根。喜嘔。即吐蛔之漸。故少陽不解。轉屬厥陰而病危。厥陰病衰。轉屬少陽。而欲愈。如傷寒熱少厥微。指頭寒。不欲食。至數日。熱除欲得食。其病愈者。是已。此說稍當。蓋平素陰虛。上盈下虧者。多遽變厥陰。）更有自陽明病過下者。（開於陽明病中。又麻黃升麻湯條證。明繫上熱下寒。而云傷寒六七日大下後。則可知陽證過下。變為厥陰。蓋彼條。其方可疑。其證不可疑矣。）其為證也。消渴。氣上撞心。心中疼熱。飢而不欲食者。上熱之徵也。（氣上撞心者。邪火上迫所為。心中疼熱者。懊憹之甚也。飢而不欲食者。以熱壅上焦。故腹中雖飢不欲食。瓜蒂散證。亦有飢不能食。蓋涎與熱。其因雖異。其情則相似。）食則吐蛔。下之利不止者。下寒之徵也。（下寒。謂中下二焦。楊氏所謂。熱在上焦。而中焦下焦虛寒無熱耳。是也。金匱濕病。有丹田有熱。胸上有寒之語。先君子錯易寒熱字。為之說曰。巢源。有冷熱不調候。云。陽並於上則上熱。陰並於下則下冷。而無上冷下熱之證。其故何也。蓋火性炎上。水性就下。病冷熱不調。則熱必浮於上。寒必沉於下。是所以無下熱上冷之候也。凡誤下之證。下焦之陽驟虛。氣必上逆。則上焦之陽。反因下而成實。以火氣不下行。故為上熱下冷之證。此言誠發本病之理蘊。故今更拈於茲。又嶺南衛生方。載李待詔瘴瘧論云。余觀嶺南瘴疾證候。雖或不一。大抵陰陽各不升降。上熱下寒者。十蓋八九。況人之一身。上焦屬丙丁火。中焦戊己土。下焦壬癸水。上固常熱。下固常冷。而又感此陽燠陰濕不和之氣。自多上熱下寒之證也。此亦一理。仍附存之。）是寒熱二證。一時並見者。故治法以溫涼兼施為主。如烏梅丸。實為其對方。（吐蛔之機。從欠詳釋。以意揣之。蛔去寒就溫。故上入其膈。蛔在膈。故心煩。然膈上非蛔宜久留之地。故旋下於胃。故須臾復止。胃陽無權。雖得食徒增濁壅。故嘔。而蛔亦隨動。故又煩也。蛔聞食臭出者。言蛔為食入。而不安其所。復出上膈。乃勢不得不從嘔而出。此所以其人當吐蛔也。再按得食。似非謂食畢之後。或是及稍下箸。則嘔又煩也。此為蛔聞食臭。而上出於膈之故。驗之病者。往往為然。上說未必是。然提綱有食則吐蛔之語。姑兩存之。○陶隱居曰。椒。去實。於鎗中微熬。令汗出。則有勢力。又當歸。本草稱溫中而古方多用散寒。蓋此方所用。亦取溫散。且本病虛燥。特用姜附。殆畏其僭。故更配參歸。是潤養之功。亦自寓其中矣。）乾薑黃芩黃連人參湯。亦宜適用矣。（此條不必謂本病正證。然其方固清上溫下。故用治本病。屢見應驗。喻氏曰。本自寒下。是其人之平素胃寒下利也。張氏曰。本自寒下。其人下虛也。並似未穩。要其訛脫不得強解。然大旨不過本是胃虛膈熱。醫誤吐下。故熱搏於上。而冷甚於下也。醫復吐下之。復。當為反義讀。黃元御曰。本自內寒下利。醫復吐下之。中氣愈敗。寒邪阻隔。胃氣更逆。脾氣更陷。吐下不止。若食方入口即吐者。是中脘虛塞。而上焦有熱。宜乾薑黃連黃芩人參湯。乾薑。人參。溫補中脘之虛寒。黃連。黃芩。清泄上焦之虛熱也。此說稍妥。又黃仲理曰。翻胃之初。亦可用止逆而和中也。柯氏曰。凡嘔家夾熱者。不利於香砂桔半。服此方而晏如。○更有上熱下冷輕證。出兼變熱鬱。又滯下勞瘵痘𤺋等。其病之極。為上熱下冷者。多難治。）寒熱勝復者。其來路大約與前證相均。而所以有勝復者。在人身陰陽之消長。與邪氣之弛張耳。（本篇第九條。汪氏注。以寒熱勝復證。分為自愈。陽脫。陽復不及。陽復太過四等。殆為詳核。魏氏則哂程氏勝復之說。多見其不知量矣。張兼善曰。陽極則陰生。陰極則陽生。此陰陽推蕩。必然之理也。易云。窮則變。窮者。至極之謂也。陽至極而生陰。故陽病有厥冷證。陰至極而生陽。則厥逆者。有發熱之條。凡言厥深熱亦深者。乃事之極。而變之常。亦篤論也。○第七條。錢氏補復發熱三日利止七字。其說甚精。或曰。按上下文。不必補而義自通。何者。云厥反九日而利。故承以凡厥利者云云。文脈相連接。蓋食以索餅。而熱來者。必在厥九日之後。是一日。後日脈之。即指其翌。是一日。旦日夜半愈。是一日。併為三日。故下文結云復發熱三日。並前六日。為九日也。果如錢言。則冒首至三月利止。自為一截。殊覺語意重複。此說或有理。按此證食索餅後。分為三證。一為不發熱而自愈。此胃氣有守。不為食而泄。能食乃為佳兆。一為除中。暴熱來出而復去。一為熱來而續在者。錢注欠瑩。故輯義引汪魏。以糾補之。尤氏曰。不發熱。不字當作若。謬矣。○第十條。厥者必發熱。程氏曰。厥必從發熱得之。恐不然。軒熙曰。本經必字。多預決定日後之辭。此言為是。蓋此章言熱伏於內。而厥見於外之證。或有前厥者。是熱先郁里。後日必熱發於外。或有前熱者。是熱先外達。後日必熱閉於內而厥矣。必發熱。後必厥。二句是雙關法。且既言厥當下之。則此厥。明屬熱鬱所致。實以外厥之微甚。卜裡熱之淺深也。）其證厥熱各發。不一時相兼。故治法。方其發熱。則用涼藥。方其發厥。則用溫藥。調停審酌。始為合徹。倘失其機。必為偏害矣。（秦氏傷寒大白曰。厥少熱多。熱不除必便膿血。可見熱病回陰。陰證回陽。均怕過與不及。是也。喻氏曰。按厥陰篇中。次第不一。有純陽無陰之證。有純陰無陽之證。有陰陽差多差少之證。大率陽脈陽證。當取用三陽經治法。陰脈陰證。常合用少陰經治法。厥陰病。見陽為易愈。見陰為難痊。據喻此說。本篇清涼諸方。恐其為陽勝而設。溫補諸方。為陰勝而設也。唯中間有不必系本病者。豈不過以類隸之乎。○當歸四逆湯條。錢氏柯氏注固是。或曰。此條之厥。當厥熱勝復之厥。蓋其寒本輕。但一時血氣不通。仍致厥寒。而亦有熱伏於內。故用姜附。則恐後日有喉痹口爛便膿血等之變。此所以別立一方主治之也。此說難從。又程氏曰。血虛停寒。不特不可下也。並亦難用溫。蓋慮姜附輩之僭而燥也。須以溫經。而兼潤燥和陽。卻兼益陰為治。周氏曰。至通草。本經稱其通利九竅。及血脈關節。則諸藥亦得通草之功。破阻滯而散厥寒矣。兩說亦失當。姑錄備考。）此厥陰病要領也。（仲景舉死證者。少陰特多。而厥陰反少。此理甚妙。人身以陽為重。厥陰則寒熱相錯。用藥有所顧忌。然比之少陰之純寒。猶有陽存耳。周氏載陳氏少陰厥陰之辨。其說欠核。故不錄。）要之上熱下寒。與寒熱勝復。均無所傳。其唯陰陽和平。病當快瘳焉。</p>

<h1>卷三</h1>

<h2>述合病並病</h2>
<p>合病並病者。表裡俱病。是也。方其感邪。表裡同時受病者。謂之合病。表先受病。次傳於裡。而表邪猶在者。謂之並病。合病則劇。並病則易。此合併之略也。（此本於成氏。諸家所論。多失穿鑿。徐大椿曰。同起者。為合病。一經未罷。一經又病者。為並病。亦為約當。張介賓曰。今時之病。則皆合病並病耳。可謂概論矣。）合病總有四證。曰太陽陽明。曰太陽少陽。曰少陽陽明。曰三陽。是也。太陽陽明者。熱盛於表。而勢迫及里。裡氣擾動。下奔則利。上逆則嘔。治發其表。則里隨和矣。（此證蓋不胃實候見者。其稱陽明。唯是指裡氣擾動而言。方氏曰。不下利。乃對必自下利而言。兩相反之詞。所以為彼此互相發明。斯說似要。又此病邪熱頗劇。裡氣隨擾。蓋自非表實。不至如此。是所以不用桂枝湯。或下利。或嘔。氣機稍從內而泄。是所以不用麻黃湯。是以特有取於葛根乎。○汪氏曰。成注。裡氣虛。即為不和。不可作真虛看。又曰。成注云。裡氣上逆而不下者。但嘔而不下利。愚以其人胸中必有停飲故也。）更有喘而胸滿者。亦不過表實里壅也。（中西惟忠曰。此雖邪實於胃。先發其表。然後下之者也。存參。）太陽少陽者。太陽為輕。而少陽為重。故治取清熱通壅。（蓋此證不敢用柴胡者。以病勢下迫。邪不必郁本位。多用芍藥者。亦取通壅也。）陽明少陽者。少陽邪輕而陽明病重。所以下利者。猶是熱結傍流。故治宜快藥。（考經文。似不必主大承氣。然明理論。斷為其所對。為當。）此三證者。兩位之病。不相均齊。故施治責其所重也。（軒村曰。疫毒痢證治。不外於合病下利之機。善廣其趣。則不假他求。而左右逢原。此言誠發千古之秘。蓋本病亦參疫痢之理。則其義更昭矣。唯合病必更有數證。今大抵以下利為的。愚未達其故。且俟後考。）三陽合病者。其證有二。其一。周身熱熾。邪聚於陽明者為多。故主以白虎。（陽明篇所揭是也）。其一。邪聚於少陽者為多。（少陽篇所揭是也。此說本於尤氏。曰。此條。熱之聚於少陽者。視太陽陽明較多矣。設求治法。豈白虎湯所能盡哉。考錢氏主以白虎。故尤有斯言。愚意恐是小柴胡加石膏所宜也。又風溫。與此二證相似。詳見彼條。）此他。陽明中風。口苦咽乾。與陽明病。脈浮而緊。咽燥口苦。證候恰合。而實系三陽合病。據其脈候。則專於表者也。陽明中風。脈弦浮大。亦是三陽合病。而殆專於少陽者也。此合病要領也。（素問所謂兩感。即三陽合病已。朱氏以太陽中篇四逆桂枝條附。湊為說。殊屬深誤。故劉完素趙嗣真既有詳辨。宜閱。）三陰病。則其機雖各異。而其位相同。此所以無合病也。（龐氏曰。三陽皆有合病。惟三陰無合病。此語為然。而李梃醫學入門非之。反謬矣。）並病。僅有二證。曰二陽。曰太陽少陽。是也。二陽者。太陽病發汗不徹。邪氣進入陽明。而表證仍在者矣。治法先解其表。表解已而攻其里。（此條竊有所考。今陳於下。曰。此當作三截看。蓋示二陽並病。其等不同。條首。至如此可小發汗。是一截。此邪既屬裡。而表僅存者。故須小發汗。設面色緣緣正赤三句。是一截。此表熱鬱甚。故里氣益壅。相併以為面赤。陽明篇所謂面合赤色者。即一類已。然此他見證。必有數端。殆意寓言外也。熏法。陳稟丘張苗並謂連發汗不出用之。是在汗法中最緊。乃其病之重可見矣。若發汗不徹。至條末。是一截。此比前證稍輕。不足言。猶未至言。與腹滿不減。減不足言同義。此三字。當接下文為十字一句讀。上文在表二字。玉函作不得越。以可互證。但煩躁之狀。似病稍重。然乍在腹中。乍在四肢。恐未必煩憒躁擾之謂。嘗療一人。失汗表郁。兼以胃實者。胸腹攪刺。走注不定。正與此證吻合。汪氏曰。短氣者。邪熱壅而氣促急也。但坐者。不得臥也。汗出不徹。營氣不得條達。則脈澀。條辨以澀脈為血虛解。大誤。此說是也。此三等證。強擬其方。則小發以桂枝。解之。據程氏用大青龍。發汗。據龐氏以麻黃而可歟。）如陽明篇之桂枝麻黃二條。及桂枝承氣條。亦是此證。其治則先表后里之法也。太陽少陽者。其二條俱用刺法。而其一條。為誤下結胸。然如柴胡桂枝湯。實其正方。而柴胡桂枝幹薑湯。其有所兼者也。少陽與陽明並病。則無見其稱。然大柴胡湯。為其對方。而柴胡加芒硝湯。其奇治也。如陽明病。發潮熱。大便溏云云。小柴胡湯證。亦即是已。（此條是胃實。而邪猶存少陽者。其次條。是少陽而似胃實者。兩條對示。乃與太陽中篇四逆條同例。）此並病要領也。三陰無並病。理同合病。唯如太陽厥陰之桂枝四逆各施。及太陰之桂枝證。即是表熱裡寒相兼者。殆並病之變局乎。（鄭端友全嬰方論。論癇有半陰半陽合病。即言寒熱相兼者。○按表裡兼證之治。表熱裡寒。則先里而後表。何也。先實里者。恐脫候倐至。邪亦從陷也。里既實。而從事於表。亦不為遲。設先救表。則虛耗之陽。隨汗益奪。豈望邪氣外散耶。表熱裡實。則先表而後里。何也。先攻表者。恐表邪併入。裡熱壅重也。表既解。而從事於里。亦不為遲。設先攻裡。則胃空邪乘。遂為壞病。豈望邪氣內解耶。此仲景之明律也。○六病正證之外。有表裡證者。如葛根芩連湯。五苓散。桂枝人參湯等證。其類甚多。然叵謂之並病。仍不列於此。</p>

<h2>述溫病風溫</h2>
<p>溫病者。熱結在裡。表裡俱熱證。是也。即陽明病之一證。（此病。前注為內經溫病之義。間有謂為白虎證者。猶與彼強合。特王氏柯氏以為傷寒中之一證。惜辨徵不核。今因演其說曰。內經所謂溫病者。冬傷於寒。寒邪內伏。得春溫而方發之謂也。本經三陽三陰。及中風傷寒等。其名則取之素難。而其證則自異。豈特至溫病。既取其名。又並真證而取之乎。況全經本不有從時分病之說。則仲景所謂溫病。為傷寒中之一證明矣。且考素問瘧論。以先熱後寒為溫瘧。而仲景則以身無寒但熱為溫瘧。以其有骨節疼煩。故加桂枝於白虎湯中。以清裡發表。可見溫病之溫。與溫瘧之溫。均是熱盛之謂矣。溫熱互稱。猶冷與寒。素問。春必溫病。靈樞論疾診尺篇。作春必生癉熱。太素。作春乃病熱。又評熱病論。其首節。說病溫陰陽交。而倉公傳則曰。熱病陰陽交者死。又刺熱病有五十九穴。而叔和則曰。治溫病刺五十九穴。許氏說文曰。熱溫也。並可以徵焉。此條冒頭三字。蓋揭示來路者。曰渴。曰不惡寒。俱是表解而裡熱之候。則發熱。其初太陽翕翕之熱。而今為陽明蒸蒸之熱。然則與熱結在裡表裡俱熱。有何差別。愚故以為溫病即白虎證之稱謂也。○溫病條列之太陽者。亦猶小柴胡之例。然其非表證。而敘在篇首者。豈叔和據五十八難。徒執其名。以與中風傷寒。相為排比者歟。傷寒例第一節。辨列傷寒溫病暑病等。其意可知矣。愚固不欲議撰次之得失。特於此條。則不能無疑也。）其來必自太陽如少陽。（其自少陽。所謂服柴胡湯已渴者。寓有其義。大抵白虎證。得之其人陽氣偶擾。而邪氣乘入。進熱殊急者。今多見之。經所云。恐其機也。然亦未能無因誤治而致者也。）而毒邪暴進。直陷入里。內灼外熏。勢如燎原。故其脈浮滑洪大。（吳醫匯講。薛雪曰。傷寒脈浮滑。此表有熱。里有寒。表之熱寒之用。里之寒熱之體。言熱病本於寒。寒既病而為熱矣。則體用皆熱也。漢之文法如此。是說蓋本諸方氏。又活人書。改作表裡有熱。而郭氏從之。汪氏亦曰。斯言乃為定論。然未免臆見。又黃氏據林氏。更有詳論。文繁不錄。）其證。蒸蒸發熱。自汗出。心煩大渴。（白虎加人參湯。及五苓散條。所言煩渴者。參自余諸條。蓋煩而渴之謂。成氏以為熱渴。似不妥。）舌上乾燥。欲飲冷水。然不有燥屎搏結。唯是胃家焦爍。因立白虎湯。以清涼之。（愚嘗謂此湯妙在粳米。何也。凡物不慣於胃者。金石為最。物慣於胃者。莫如米穀。今用極不慣者。故配以極慣者。使其不損中土。如竹葉石膏湯桃花湯之粳米。厚朴麻黃湯之小麥。硝石礬石散之大麥粥汁。皆是也。詳義見拙著藥治通義第十卷。又石膏一斤碎下。當補綿裹二字。厥陰篇方中有之。陶隱居曰。凡湯酒膏中用諸石。皆細搗之如粟米。亦可以葛布篩令調。並以新綿別裹內中。）如其自太陽誤汗吐下。而加液乏者。加人參以滋養之。（或曰。加人參湯證有二。其一。本方證。而更液乏者。其一。液雖不乏。其病稍輕。不耐本方者。佐人參以調停之。未知是否。又千金外臺加人參諸條。一用本湯。恐非是。但白虎脈證。略於本湯。而反詳於加人參湯。殆不無疑也。○太陽上篇加人參條。汪氏曰。此條當是太陽證罷。轉屬陽明之證。其不入陽明篇者。以其服桂枝湯後之變證。且與上條。脈證相同。但加煩渴。用藥霄壤。前賢著書。欲使後學悉心體認。）設其失治。則胃津枯竭。遂不可救。其變或為胃實。而不敢為陰證也。（白虎承氣之別。在實之有無。則似不宜參為彼證。然在今驗之。往往有之。況三陽合病。既有腹滿讝語。則其理可見也。）風溫者。溫病之類證也。據脈陰陽俱浮。則似表有邪者。其證與三陽合病相近。治法亦恐白虎所宜也。（此條難解。程氏注於文理為順。然愚竊有疑。何則表裡熱盛。倘誤汗之。必大傷律。恐不更至陰陽俱浮也。成氏以為傷寒發汗之後。方知其風溫。是似於病理為順。今就其義。別發一說。此言太陽病發汗。當解不解者。不特表有邪。而里既有熱。其稱之風者。猶風家風濕之風。即表有邪之謂。然則風溫為溫病之兼表者。故一條中並論之。然不啻汗後知之。自有認得真的。故下文先揭風溫為病一句。而盡其證。若被下。若被火。從程氏。則是系溫病誤治。從成氏。則是系風溫誤治。未審何是。又成氏曰。先曾被火為一逆。若更以火熏之。是再逆也。蓋本於玉函。程氏則以若火熏之。謬為體如煙燻。故以一逆再逆。為汗下等之誤治。又汪氏疑小便不利字。然太陽中篇。有欲小便不得。反嘔欲失溲之文。蓋同例也。又此病。謂與三陽合病相近者。何也。彼曰脈浮大上關上。此曰脈陰陽俱浮。彼曰若自汗出者。又曰目合別汗。此曰自汗出。彼曰身重難以轉側。此曰身重。彼曰但欲眠唾。此曰多眠睡。鼻息必鼾。彼曰口不仁。此曰語言難出。彼曰遺溺。此被下曰失溲。但彼兼胃實。故有腹滿讝語。其他則證證相合如此。殆一病而異其名者耳。義出蠡見。姑錄俟識者。○總病論。病人素傷於風至醫殺之耳。本出玉函脈經不可。發汗病中。風溫之為病云云。全取千金方。但千金。作溫風之病。溫風二字蓋錯。）</p>

<h1>卷四</h1>

<h2>述壞病</h2>
<p>壞病者。誤治之後。陰陽無復綱紀。證候變亂。難以正名名。是也。（巢源。有時氣敗候。曰。此謂病後餘毒未盡。形候變轉。久而不瘥。陰陽無復綱紀。壞病之義。得之益明。蓋壞。崩壞也。猶牆壁之壞。不得言之牆壁。其證候變亂。難以正名者。不得已姑以壞病命之。非有他意。方氏曰。血氣既憊壞。張志聰曰。自敗曰壞。二說為失。方氏又曰。壞。言歷遍諸治而不愈。此亦不妥。一誤亦為壞病。不必歷遍諸治。玩三若字自知。程氏柯氏所解極是。志聰又曰。已發汗則肌表之邪已去。此語亦有病。發汗違節。亦為壞病。且壞病中。有表猶在者。如桂枝加附子。去芍藥之類。是也。○少陽篇壞病條難解。脈沉緊。金鑑改作沉弦。然沉字遂不通。尤氏有說。亦欠穩貼。不錄。其揭讝語一證者。豈唯謂邪轉入里者乎。然從巢源削讝語二字。義似稍勝。柴胡證罷。似指小柴胡證罷。不必柴胡諸方不可用也。）或得之誤汗。或得之誤下。或誤吐。或溫針。而營衛乖錯。邪熱沉漬。或著上焦。或迫血分。或陽氣虛憊。或陰液竭乏。或水飲相搏。或濕熱。內蒸。劇易緩急。種種不同。皆是因素稟強弱。宿疾有無。與誤逆之輕重。而有異已。所謂汗後之汗漏動經。胸滿悸築。下後之結胸痞硬。協熱下利。吐後之內煩吐食。火逆之驚狂奔豚之類。其證多端。不勝枚舉。今就其情機。為之區辨。並諸兼證。以述於後。故茲不得詳也。（喻氏曰。陽明何以無壞病邪。曰。陽明之誤治最多。其脈證固當辨別。但不得以壞病名之也。蓋使汗下燒針屢誤。其病亦止在胃中。原有定法可施。與壞證無定法之例。微有不協。錢氏曰。六經之中。仲景獨以陽經之太少為言者。蓋以在表之誤治居多。在裡之誤治少也。且二經之表裡虛實。疑似多端。難於察識。其誤治獨多。變逆尤甚。其害有不可勝言者。故特立此一法。以重其事也。學者其可忽諸。今考陽明不能無壞病。錢說為優。三陰亦不言壞病。蓋其最罕有者矣。○活人書曰。蓋為病中又感異氣。變為壞病。此係謬讀傷寒例。若更感異氣。變為他病者。當依後壞病證而治之一語。趙氏有辨。未核。）</p>

<h2>述兼變諸證</h2>
<p>（兼變者。兼挾變壞之謂也。仲景所立。唯是三陽三陰。今更設此目。豈不愆邪。曰。否。經雖分六病。而不特六病之正證。彼六病之所兼所變。皆具列於其中。倘不加甄辨。則至並正證而不能明。今設此目。即所以使學者於正證與兼變。能判然別白。然每證必稱何病之類變。以見病之條理。不出於三陽三陰六者之外焉。曰。然則如漏汗動經之類。實系壞病。而今更揭仲景所未言之名者。何也。曰。壞病。是誤治後變壞者爾。今斯諸證。有兼於未病之前者。有不經誤治而變者。此所以不能題以壞病。而自立此名也。其分類者八。曰虛乏。曰熱鬱。曰飲邪搏聚。曰飲邪並結。曰血熱。瘀血。曰熱入血室。曰風濕。曰濕熱。寒濕。是也。火逆諸證。少余義可述。故闕焉不錄。抑前注家。如錢氏尤氏及徐大椿。既分正變諸法。然冗雜無統。今不敢從云。）</p>

<h2>虛乏</h2>
<p>虛乏者。氣血虛乏。是也。蓋人身氣血。相藉以榮養形骸。故氣虛則血亦虛。血虛則氣亦虛。然稟素或有偏勝。而誤治亦有偏害。是以其證不一。有平素液少。不可徑汗者。有平素虛弱。得病更加者。有發汗過多。及汗下錯行。氣血俱虛者。有汗下失度。胸中陽虛者。有誤下中虛者。有誤下下脫者。有大邪已解。胃虛生寒者。有大邪已解。胃虛生熱者。皆病之屬虛者。中間雖未必不變為陰證。猶未足言之真陰證。仍並類列於此。（程氏曰。汗多亡陽。夫人知之矣。然人身之陽。部分各有所主。有衛外之陽。為周身營沖之主。此陽虛。遂有汗漏不止。惡寒身疼痛之證。有腎中之陽。為下焦真元之主。此陽虛。遂有發熱眩悸。身瞤動欲擗地之證。有膻中之陽。為上焦心氣之主。此陽虛。遂有叉手冒心。耳聾及奔豚之證。有胃中之陽。為中焦水穀化生之主。此陽虛。遂有腹脹滿。胃中不和。而成心下痞之證。雖皆從發汗後所得。在救誤者。須觀其脈證。知犯何逆。以法治之。不得以汗後亡陽一語混同。此說出生薑瀉心湯下。殆覺精鑿。內藤希哲有三焦各有陽虛有陰虛之論。蓋本此。）有平素液少不可徑汗者。何蓋其人縱有可汗之證。倘平素血液虧乏者。要須顧慮。放膽施治。必致變敗。如身疼痛尺中遲。即其明律也。（柯氏曰。脈浮緊者。以脈法論。當身疼痛。宜發其汗。然寸口雖浮緊。而尺中遲。則不得據此法矣。尺主血。血少則營氣不足。雖發汗。決不能作汗。正氣反虛。不特身疼不除。而亡血亡津液之變起矣。此解亦約核。）如禁汗六條。俱系驗之宿疾之法。咽喉乾燥。上焦液少者也。（咽喉。津液上潮之道路。人曾有某故如金匱所敘。肺萎所因之類。乃為乾燥。錢氏專屬少陰。似拘。尤氏曰。若強發之。乾燥益甚。為咳。為咽痛。為吐膿血。無所不至矣。）淋家。下焦津乾者也。（成氏曰。膀胱裡熱則淋。反以湯藥發汗。亡耗津液。增損（一作益）客熱。膀胱虛燥。故小便血。）瘡家。軀殼血乏者也。（瘡家。蓋謂金瘡家。此軀殼血乏。其得傷寒。倘過汗之。筋脈益燥。遂為痙病。與破傷風。其由稍異。但下條有亡血家。乃似相復矣。然金匱亦有亡血與身有瘡對待者。亡血。言血從內亡。此血從外失也。考瘡。古瘡痍之義。說文曰。刃。傷也。從刃從一。創。或從刀。倉聲。大徐曰。今俗別作瘡。非是也。據此。平脈法。以手把刃。坐作瘡也。金匱。若身有瘡。被刀斧所傷亡血故也。並可與本條互徵矣。瘍腫古亦或用創字蓋假借也。）衄家。血燥於上者也。（脈急緊。尤氏以為寸口脈。非是。）亡血家。血亡於內。而外隨虛者也。（張志聰曰。此言吐血便血。及婦人崩淋亡血者。是。又下後發汗振寒脈微細。其機相似。）汗家。液竭於表者也。（張志聰曰。夫汗家則虛其水穀之精矣。中焦之津液。入心化赤而為血。下挾膀胱。而運行於膚表。水穀之津液虛。而重發其汗。則上動心主之血液。而恍惚心亂矣。下動膀胱之所藏。則小便已而陰疼矣。此方失薄。或有配合。又伊澤信恬曰。此條。考前後諸條。亦系禁汗之例。不須自主一方。蓋與禹餘糧丸數字。衍文也。兩說似有理。）此六者。血液所虧之處各異。故過汗之變。亦各殊矣。蓋此諸證。皆陰虛陽亢。劇則必益燥熱。不敢變為陰矣。但液少之人。其得表證。倘不發汗。恐無邪解之日。乃當別設關防。是在活通已。（汪氏所擬諸方。小建中湯。黃耆建中湯。最似切當。魏氏於瘡家。處葛根芩連湯。亦似當。考外臺。範汪論。黃帝問於岐伯曰。當發汗。而其人適失血。及大下利。如之何。岐伯答曰。數少與桂枝湯。使體潤漐漐汗才出。連日如此。自當解也。今更審經文。有麻黃證兼虛。姑用桂枝者。則此諸條證。或宜遵用。他如栝樓桂枝湯之兼潤。桂枝加芍藥生薑人參新加湯之兼補。亦必有適。如桂枝加附子湯。或宜汗家。如陽旦湯之兼涼。或宜血分燥熱。如竹葉湯之清溫合用。或宜陽虛液燥。蓋後賢方法。亦須臨時酌用。金匱曰。夫病痼疾。加以卒病。當先治其卒病。後乃治其痼疾也。然則此等諸證。亦重在逐邪。但其不宜不顧慮。最要活意變通。豈是仲景之所以不定一方乎。如張倬傷寒兼證析義。可謂徒求之筌蹄之末。而毫無裨實際者也。）有平素虛弱。得病更加者。何。如小建中湯證。其人胃中虛燥有寒。得病更甚。一則二三日。一則少陽病。而見其候。俱用此方。以溫建中藏。（腹中急痛條。就汪注考之。其不舉少陽證者。蓋省文也。此裡寒為少陽之邪所鼓動。故腹中急痛。治法先用此方。亦猶先與四逆之意。而痛未止者。裡寒雖散。而邪氣犯胃所致。故換以小柴胡乎。○陶氏曰。方家用飴糖。乃云膠飴。皆是濕糖如厚蜜者。建中湯多用之。其凝強及牽白者。不入藥。○仲景溫養中焦之劑。建中理中。實相對設。建中主潤。理中主燥。而俱取救陽矣。其人胃津不足。陽虛生寒者。建中以和液而溫中。胃氣不足。陰寒內盛者。理中以逐濕而散寒。蓋溫養之法。實不能出二方之範圍也。）如炙甘草湯證。素常上焦液乏。而不能任邪者。故主此方。以滋養之。（脈結代。不是二脈兼見。要不過歇止之謂。成氏曰。心中悸動。知真氣內虛也。汪氏曰。悸。心動也。心中動悸。則知營血內虛。真氣已餒。而藏神不寧也。並是以悸為心動之悸。與金鑑不同。據玉函。殆可備一說。又金鑑。心下築築云云。心下字不妥。當是虛里膻中動築。此方。金匱附方。載治虛勞。又治肺萎。俱足見其潤養之功。且經中藥之濃煮者。莫如本湯。及桂枝加芍藥生薑人參新加湯。豈陶氏所謂補湯欲熟之義歟。張氏類經。論虛里跳動。以純甘壯水之劑。填補真陰。其說甚精。以足發此方之理。宜參。又醫學入門曰。十全大補湯。十四味建中湯。一切峻補之劑。皆自理中建中四逆等湯。而變化之也。單甘草湯。滋陰降火湯。生脈散。補中益氣湯。一切滋補之劑。皆自炙甘草湯。而變化之也。）如陽明病無汗。身如蟲行者。亦素虛所致也。（趙氏曰。蟲行皮狀者。即經言身癢。是也。久虛者。以表氣不足。津液不充於皮膚。使腠理枯澀。汗難出也。此亦一說。四十八難曰。癢者為虛。）有發汗過多。及汗下錯行。氣血俱虛者。何。如甘草乾薑湯。芍藥甘草湯證。是氣血素虧。今依過汗。更益虛乏。而其證各見。故藥亦別行。先救其陽。後救其陰。（成氏曰。內經云。辛甘發散為陽。甘草乾姜相合。以復陽氣。又曰。酸以收之。甘以緩之。酸甘相合。用補陰血。）如芍藥甘草附子湯證。亦氣血俱虛。而其病頗重。既變少陰。治宜急救。故單捷之劑。以雙補之。如桂枝加附子湯證。汗多亡陽。筋脈津燥。其表未解。脫勢亦劇。故用此方。復陽斂液。（聖濟。治產後榮血虛損。汗出日夕不止。形體困怠。附子湯。於本方。加生乾地黃。）如桂枝如芍藥生薑各一兩人參三兩新加湯證。亦是汗後虛燥。其邪已除。脫勢梢緩。故治取漸救。（新加之名。注家多費曲解。特程氏曰。新加人參。而倍姜芍。因知新加字。專為人參而言。蓋芍姜本方固有。而人參本方所無。故彼但言加。此言薪加。以為其別也。山田正珍說亦然。或執桂枝加大黃湯。以駁此說。則拘矣。）此二方並亦雙補。而專救陽者也。如大青龍湯之逆二證。俱不出桂枝加附子。芍藥甘草附子湯之法。而厥逆筋惕肉瞤。乃其重者也。（此與真武證。其機似不同。如遵張介賓法。則六味回陽飲。為其對治矣。）如脈浮數下之。身重心悸證。即誤下致虛。與過汗同轍者也。（程氏曰。津液下奪。則機關不利。故身重。津液下奪。則不能上奉。故心悸。所恃表氣未虛。津液不至全亡。只是要和之。蓋陰生於陽。陰液耗者。陽氣必不可重虧也。表裡實。則津液自和。不過養正而邪自除之意。按尺中以候陰。故程氏有此解也。）如太陽病。先下復發汗。因致冒證。其病本輕。故汗下失序。而氣血俱虛矣。（此條。為汗下先後之例而設。以臆測之。此本兼有表裡證。醫以里為急。而先下之。後見表仍在。以發其汗。然被下之際。表邪不陷。亦似表裡之熱。從汗下解。乃知其病俱輕。但以汗下過當。與先後失序。而致表裡俱虛也。）如下後發汗。小便不利。是幸不至變壞者也。（此等雖經逆治。能無他變者。其人胃氣本強也。○下後發汗。振寒脈微細。及乾薑附子證。俱是既屬少陰。故不列於斯。）如汗吐下後自愈者。亦不甚虛。且邪既清解。所以勿藥也。（汪氏曰。此亦是當汗而汗。當吐下而吐下。故有陰陽和而自愈之日。非誤用汗吐下藥者所能比也。軒村曰。此條與辨脈法相發。云。病有不戰不汗出而解者。何也。答曰。其脈自微。此以曾經發汗。若吐。若下。若亡血。以內無津液。此陰陽自和。必自愈。故不戰不汗出。而解也。是也。且下條亦云亡津液。則亡血。是諸失血之謂。而亡津液。總汗吐下亡血之詞。亦通。）有汗下失度。胸中陽虛者。何。如桂枝去芍藥湯證。因誤下胸虛。邪氣乘入。以為胸滿。故去芍藥。然表邪猶在。故用桂散表。亦扶其陽。虛稍甚者。加附子救之。（脈促者。以邪著在高乎。金匱。氣分。心下堅大如盤。邊如旋杯。水飲所作。桂枝去芍藥加麻黃細辛附子湯主之。又千金。桂枝去芍藥加皂莢湯。治肺痿吐涎沫。並與本方同趣。蓋芍藥。腹滿用之。而胸滿忌之者。以其味酸澀泥膈乎。尤氏曰。去芍藥者。恐酸寒氣味。足以留胸中之邪。且奪桂枝之性也。近是。○微惡寒。千金翼亦脫惡字。考此證。上篇末條中亦有之。乃似陽虛之驗。然未審何故。金鑑曰。當是汗出微惡寒。若無汗出二字。乃表未解。無取乎附子也。此說不必。）如桂枝甘草湯證。是過汗胸虛。然其邪既解。虛亦為輕。故治宜小方。而師試令咳條。其病加重者也。（成氏曰。發汗多亡陽。胸中陽氣不足者。病人手叉自冒心。師見外證。知陽氣不足也。又試令咳。而不即咳者。耳聾也。知陽氣虛明矣。耳聾者。陽氣虛。精氣不得上通於耳故也。按靈樞決氣篇曰。精脫者耳聾。）有誤下中虛者。何。如桂枝人參湯證。是也。此數下胃虛。邪氣內陷。協熱下利。故治取雙救。蓋殆欲屬陰者矣。（脈沉滑者。協熱利。及陽明篇。協熱便膿血。並似言裡熱。與此條異義。傷寒例。內虛熱入。協熱遂利。亦然。○此方。桂獨後煮。猶是附子瀉心湯。附子後內之意。與他桂枝諸方。其例自異。徐大椿說為勝。）有誤下下脫者。何。如赤石脂禹餘糧湯證。是也。此二三下之。下焦不約。以為瀉利。故治取收澀。桃花湯之類證也。（程氏曰。下脫上結。理中反成堵截。上下二焦。無由交通。所以利益甚。錢氏曰。謂之益甚者。言藥不中病。不能止而益甚。非理中有所妨害。而使之益甚也。按錢說似優。要之此條設法御病。就變示例。言誤下之後。下利不止者。有冷熱不調。宜用瀉心者。又有胃氣虛寒。宜用理中者。又有下焦滑脫。宜用收澀者。又有泌別不職。宜用滲利者。證有數等。不可一概也。○此方。分溫三服。本草圖經引。作分再服。似是。）有大邪已解。胃虛生寒者。何。如厚朴生薑半夏甘草人參湯證。汗後胃寒。虛氣壅滯者也。（此證不必有停飲。其用半夏。蓋猶茯苓四逆用茯苓之意。如千金大半夏湯之類。溫泄寒脹諸劑。皆自此方脫胎。○雞峰普濟方。殿中丞郭中妹十歲。病腹色不變。按之而大不陷。心腹下痞滿。得之因取轉數多。病已月餘。北按甲乙經云。三焦脹者。氣滿於皮膚中。殼然不堅。遂與仲景厚朴生薑半夏甘草人參湯。小其服。凡經二十日。脹消而已。）如病人脈數而反吐證。汗多胃虛氣逆者也。如病人有寒。發汗吐蛔證。宿寒為陽虛而加者也。（此證。難必言邪解。姑列於斯。蓋素有寒人。偶得外感。宜用桂枝人參湯。及桂枝湯加乾薑之陰旦湯之類。○玉函辨發汗吐下後病中有一條。曰。發汗後身熱。又重發其汗。胸中虛冷。必反吐也。千金翼同。胸中。作胃中。疑是經文之遺也。）如差後理中丸證。亦胃虛寒者也。（姜後諸證。詳開於後。然以情機相似。斯舉其概。下仿此。）蓋此諸證。尤與太陰少陰。相近似焉。　有大邪已解。胃虛生熱者。何。如太陽中篇誤吐兩證。俱胃中液燥。虛而生熱者也。（錢氏以腹中飢。口不能食。及不喜糜粥。欲食冷食等。為胃冷所致。恐不然。朝食暮吐。即暮食朝吐之互詞。成氏曰。晨食入胃。胃虛不能克化。即知至暮胃氣近里。與邪氣相搏。則胃氣反逆。似拘。○此證。蓋橘皮竹茹湯。或千金竹葉湯之類。所宜取用。如單從驅飲。恐不相對。）如差後竹葉石膏湯證。病後胃液不復。虛熱上逆者也。（此種證狀。誤汗誤下後。並多有見。愚著廣要中詳之。宜檢。）</p>

<h2>熱鬱</h2>
<p>熱鬱者。邪熱入里。不與物相者。唯郁著各位者。是也。其證不一。有表未解。膈有熱者。有表既解。熱灼膈間者。有心下熱結者。有腸中熱壅得。皆是少陽之類變爾。蓋熱偏在一處。故不耐白虎之大寒。且其無所得。亦非吐下所適。是以制苦寒之劑。而為之治矣。更有上熱下冷輕證。並隸於斯。　有表未解。膈有熱者。何。如葛根黃芩黃連湯證。是也。此表未解。故汗出。熱犯上焦。故喘。（言喘而汗出。其汗似為喘而出。然推其病。恐不然。）且熱勢並及經下之胃。故利遂不止。所以不用桂者。恐礙裡熱也。（此方。移治滯下有表證。而未要攻下者。甚效。內臺方議曰。又能治嗜酒之人熱喘者。又千金。治夏月傷寒。四肢煩疼發熱。其人喜煩嘔逆。劇切禍祟。寒熱相搏。故令喜煩。七物黃連湯。於本方。加茯苓。芍藥。小麥。聖濟。治胃實熱。煩渴吐逆。葛根湯。於本方。去黃芩。加半夏。生薑。竹茹。）有表既解。熱灼膈間者。何。如梔子豉湯證。是也。太陽病誤汗吐下。邪氣乘入。或陽明病下早。熱迸於上。俱能致之。蓋不比結胸之邪藉物實。啻是邪熱熏灼上焦者耳。其為證也。曰虛煩不得眠。此其輕者也。（虛煩之虛。恐非陽虛之義。蓋是心腹無實結之謂。即對結胸及胃實之硬滿而言。厥陰篇。下利後更煩。按之心下濡者。為虛煩也條。柯氏注甚晰。此證郁灼猶輕。故未至懊憹也。）曰反覆顛倒。心中懊憹。此其重者也。（張錫駒曰。即不得眠之甚。而為之輾轉反側也。按心中懊憹。為梔豉正證。陽明及結胸。並亦有之。然別有真的。）曰胸中窒。此其鬱稍甚者也。（徐大椿曰。煩熱且窒。較前虛煩等象為稍實。按上條言發汗吐下後。此條言汗下不言吐。想吐最虛胸。故吐後邪陷。則不至此郁甚乎。否則承上而省文也。○煩熱。即虛煩不得眠之互詞。考煩。本熱悶之義。故三陽皆有煩者。又假為苦惱難忍之貌。如疼煩煩疼之煩。是已。如少陰厥陰之煩。亦是也。成氏誤以煩熱為表熱。以煩疼為熱疼。至閔氏明理論刪補。則引蛔厥之煩。以駁成氏曰。煩者。不能安靜之狀。較躁則稍輕焉。可兼寒熱而論云云。其說頗辨。然猶未為當。）曰心中結痛。此其鬱最甚者也。（徐大椿曰。結痛更甚於窒矣。按此以大下。邪激聚胸。故為結痛。其不言汗吐者。以吐最虛胸。發汗亦有外疏之意。故不至此郁甚乎。否則亦是省文者也。又此證最疑於結胸。唯心下硬濡為分。）蓋輕重雖不同。而情機則無異。故均主梔子豉湯。以涼解之矣。（此方。為涼解胸中鬱熱之正劑。梔子苦寒。能清熱毒。與芩連相近。而服之必戀膈。是以清上之功。最其所長。故以為君。後人用治胸脾。亦此意也。香豉。本草稱味苦寒無毒。又殺六畜胎子諸毒。金匱治中毒。多用此者。並足以見其亦為清涼之品。況其臭烈。況膈殊甚。故住梔子之力。久留胸中。是以二味相得。而能為對證之方矣。本草豉條。陶隱居曰。好者出襄陽錢塘。香美而濃。然古者臭香互稱。香豉之香。恐非芳香之謂也。（按以臭為香。訓義反覆用之。見郭璞方言注。）抑本湯之非吐藥。既有詳辨。且吐本湧實。今此證無物相得實。何用吐為。是其理最彰著矣。○崔氏黃連解毒湯。為清膈之神方。實自梔子豉湯變來者也。）其煩熱。身熱不去。及其外有熱。手足溫等。並內熱外熏之候。非表未解也。（此諸證。成氏注為妥。宜參。注家或以為表未解。又以發汗有用豉者。遂以上方為兼微汗。恐不然。）至其有兼者。如梔子甘草豉湯證。是胃氣不足。故少氣也。如梔子生薑豉湯證。是熱迫其飲。故嘔也。（此與小柴胡之嘔相似。）如梔子厚朴湯證。是下後兼胃氣壅滯。以為中滿者也。（此方不用豉者。豈畏其泥戀助壅乎。）如梔子乾薑湯證。是丸藥大下。兼中焦生寒者也。（此條文略。姑就方意考之。當是他有胃寒證候。要邪本不劇。故被誤治。不至大逆。故煩既微。而胃寒亦輕。是以僅須梔子乾薑而足矣。○王氏以丸藥為神丹甘遂。當考。）此二證。即系虛實之分矣。如枳實梔子湯證。蓋梔子厚朴湯之一類也。　有心下熱結者。何。如大黃黃連瀉心湯證。是也。此邪熱乘誤下之勢。入而著心下。以為痞者。唯其無飲。故按之濡。然鬱結稍重。故芩連之涼。兼以大黃。而麻沸湯泡用。蓋意在疏泄。而不在峻利矣。（脈浮而緊。而復下之。緊反入里。則作痞。按之自濡。但氣痞耳。蓋言此證痞證因飲結者。必云痞硬。此並云濡。以為其別。且氣痞也。之稱。似言但是熱結。而非飲結。方氏以本方證。次彼條後曰。此申上條。言脈以出其治。脈見關上者。以痞在心下也。以氧痞而濡。所以浮也。然痞之濡。由熱聚也。故用黃連清之於上。聚雖氣也。痞則固矣。故用大黃傾之於下。此說稍允。又成氏曰。以麻沸湯漬服者。取其氣薄。而泄虛熱。尤氏曰。成氏所謂虛熱者。對燥屎而言也。非陰虛陽虛之謂。蓋熱邪入里。與糟粕相結。則為實熱。不與糟粕相結。即為虛熱。本方以大黃黃連為劑。而不用枳樸芒硝者。蓋以泄熱。非以蕩實也。周氏曰。以麻沸湯漬之。其氣味之出。輕而且活。以大力之體。為輕清之用。非聖人其孰能之。二說亦似是。○錢氏辨承氣。陷胸。十棗。及此湯之異。當並考。）如附子瀉心湯證。是前證而兼表陽虛者。其病表裡異情。故治亦涼溫並行焉。（此條。錢氏以命門虛為說。近鑿。尤氏曰。此即上條。而引其說。謂心下痞按之濡。關脈浮者。當與大黃黃連瀉心湯。瀉心下之虛熱。若其人復惡寒而汗出。證兼陽虛不足者。又須加附子。以復表陽之氣。乃寒熱並用。邪正兼治之法也。又曰。此證。邪熱有餘。而正陽不足。設治邪而遺正。則惡寒益甚。或補陽而遺熱。則痞滿愈增。此方。寒熱補瀉。並投互治。誠不得已之苦心。然使無法以制之。鮮不混而無功矣。方以麻沸湯漬寒藥。別煮附子取汁。合和與服。則寒熱異其氣。生熟異其性。藥雖同行。而功則各奏。乃先聖之妙用也。此解甚覺精暢。又大黃附子湯。寒熱融和。自為溫利。宜分別看。○中西惟忠曰。此方煮附子。不言水率。疑是脫文。）有腸間熱壅者。何。如白頭翁湯證。是也。此熱壅下迫。故為下重。蓋與腸澼同局者矣。（先兄曰。白頭翁湯。治熱利下重。意在於清下焦之熱。緩其窘迫。仍以白頭翁。涼腸熱為君。秦皮亦清熱利竅。俱合之黃連檗皮。清利以瀉之。蓋熱毒之氣。客於下焦。欲便不能。重滯以迫於後竅。故其方非治下焦腸滑之比。而注家執苦以堅之之語。可謂昧矣。）有上熱下冷輕證者。何。蓋上熱下冷。實厥陰之機。然更有未至其甚。猶屬少陽之類變者。此所列是已。如梔子乾薑湯證。是自誤下而變者也。（說見於上。）如黃連湯證。是從素有之寒熱。而膈胃異病者也。（此方。自半夏瀉心變來。然彼冷熱在一位而相結。此冷熱異其位。故彼則要藥性溫涼混和。所以再煎。此則要溫涼各別立功。所以淡煮而不再煎。尤氏曰。此蓋痞證之屬。多從寒藥傷中後得之。本文雖不言及。而其為誤治後證可知。故其藥亦與瀉心相似。而多桂枝耳。此說非是。○此方。愚常用治霍亂吐瀉腹痛。應效如神。蓋以其逐邪安正。能和陰陽也。）</p>

<h2>飲邪搏聚</h2>
<p>飲邪搏聚者。水飲蓄聚。與邪相搏。是也。大抵其人有宿水。或因邪而發動。或以誤而勢長。更有得病新成者。其停瀦多在心下胃脘之分。然泛漫上下。不凝結一處。其類凡四。有犯上焦者。有壅中焦者。有屬表分者。有兼陽虛者。就中節目亦多雲。有犯上焦者。何。如小青龍湯證。是表實。而宿飲被邪鼓激。以犯其肺者也。（柯氏曰。水氣畜於心下。尚未固結。故有或然之證。若誤下。則硬滿而成結胸矣。○徐大椿於小柴胡加減法。辨五味子乾薑同用之理。考吳綬既有其說。並似未核。又半夏。湯洗令滑盡。陶氏有詳說。曰。不爾戟人咽喉。又曰。凡方云半夏一升者。洗畢秤五兩為正。醫心方。引蘇敬云。半夏一升。以八兩為正。小島尚質曰。以藥昇平之。半夏一升。當今二錢三分一釐四絲。五兩。當今一錢七分六釐。陶說似優。）如喘家。及桂枝加厚朴杏子湯證。是表虛。而飲邪相得者也。俱系太陽病有所兼者矣。（如麻黃湯。大青龍湯。及葛根芩連湯。其喘俱為脈證。邪散而喘定。故不在此例。）如麻黃杏仁甘草石膏湯證。是表既解。而飲熱迫肺者也。（成氏以此條。與葛根芩連湯相對。為邪氣外甚。非是。蓋此汗出。殆裡熱外熏所致耳。且考其方意。與小青龍加石膏。越婢加半夏。厚朴麻黃等湯。實系一轍。則知是飲熱相薄之證矣。注家止為肺熱者。亦未是也。蓋麻黃與石膏同用。則相藉開疏水壅也。○方後。本云黃耳杯。汪說難信。或曰。此傳寫有訛脫。當是本云麻黃湯。今去桂枝。加石膏。）如發汗後飲灌而喘。是新水所致也。（汪氏又主麻黃湯。亦不確。）有壅中焦者。何。此證之水。多自宿昔。而有太陽所兼者。有裡熱所挾者。有表裡無熱者。太陽所兼。更有差別。如桂枝加茯苓朮湯。（今削去桂及白字。）茯苓甘草湯二證。是表有邪。里有水。然兩者不相搏唯飲為邪所動者。而加苓朮證為重。苓甘證為輕。（此二證俱無煩渴。即里無熱之徵。其輕重。則玩本文自知。加苓朮條無汗證。明理論。以為水飲不行。津液內滲之候。）如五苓散證。是表有邪。而熱更入里。與水相得。或為下滯。或為上逆。故外有太陽脈證。內有煩渴。小便不利。及水入則吐等候。然里重而表輕。故治專利水。而旁發其汗。（脈浮微熱消渴。與脈浮數煩渴。及水逆。自有輕重。然其機相同。故其治則一。或曰。五苓散之證之方。亦猶金匱隨其所得。而攻之之義。柯氏金鑑注意似然。但未了。又先兄曰。澤瀉行水。與茯苓豬芩相類。然五苓散。用術與二苓。各十八銖。特至澤瀉。多一十二銖者。何。蓋其質輕清。性味俱轉。故多用之。二苓藉其力。更能行水。此說確當。又嶺南衛生方曰。五苓散用桂。正如小柴胡用人參。大承氣湯用厚朴。備急丸用乾薑之類。欲其剛柔相濟。亦存攻守之意也。故方書謂。五苓散無桂。及隔年者。俱不可用。近者鋪家。有去桂五苓散。不知者。為其所誤。如去桂而入參。卻謂之春澤湯。治燥渴有效。此說非也。但本方移治雜病。則桂之用。在溫散。而能助滲利之力矣。○陶隱居曰。方寸匕者。作匕正方一寸。抄散取不落為度。按據中平三年慮傂銅尺。漢一寸當今七分六釐。又先友狩谷望之曰。白飲。即煮米泔也。齊民要術煮𥺥條云。折米白煮取汁。為白飲。此可以證。）裡熱所挾者。如豬苓湯證。是也。此邪氣入里。與飲相併。以為哄熱。故滲利之品。兼以涼潤。且其水並停下焦。不特中焦。蓋是陽明之類證。以其有水。不為胃實也。（金匱曰。諸病在藏。欲攻之。當隨其所得而攻之。如渴者與豬苓湯。余皆放此。尤氏曰。無形之邪。入結於藏。必有所據。水血痰食。皆邪藪也。如渴者。水與熱得。而熱結在水。故與豬苓湯。利其水。而熱亦除。若有食者。食與熱得。而熱結在食。則宜承氣湯。下其食。而熱亦去。若無所得。則無形之邪。豈攻法所能去哉。此解極竅。仍更表之。又成氏注陽明篇本方條曰。此下後客熱。客於下焦者也。邪氣自表入里。客於下焦。三焦俱帶熱也。云云。蓋此證之水。並停中下二焦。成氏之言。不為不當。若在後世注家。專以為下焦之藥。然如渴心煩不得眠等。皆熱在中焦。而上熏之候。則其說難從。）表裡無熱者。如發汗後水藥不得入口。及厥陰茯苓甘草湯證。是也。（茯苓甘草湯。一方二用。此桂但取溫散。猶雜病五苓散之意。又太陽中篇末條證。與此似同。然冒以太陽病。似不必表裡無熱者。）有屬表分者。何。如文蛤散證。是冷水潠灌。水邪郁表。故主以驅散之劑。（此條。從柯氏作文蛤湯。證方始對。且金匱。渴欲得水。而貪飲者。豈發散所宜。一味文蛤。自似切當。蓋其方互錯也。）如牡蠣澤瀉散證。是水氣外溢。其病在下。故治從內。並得病後新成者也。　有兼陽虛者。何。此其人素虛飲停。今因誤治。陽更虛。而飲亦動。其證輕重不同。如茯苓桂枝甘草大棗湯證。其病輕。而飲停下焦者也。（此方多用桂者。以泄奔豚氣也。甘爛水。要取不助水勢。靈樞半夏湯。以流水千里以外者八升。揚之萬遍。取其清五升煮之。其揆一也。）如茯苓桂枝術甘草湯證。其病重。而飲停中焦者也。（方氏曰。心下逆滿。伏飲上溢。搏實於膈也。氣上衝胸。寒邪上湧。挾飲為逆也。動經。傷動經脈。振振奮動也。蓋人之經脈。賴津液以滋養。飲之為物。津液類也。靜則為養。動則為病。宜制勝之。云云。尤氏曰。此傷寒邪解而飲發之證。飲停於中則滿。逆於上。則氣衝而頭眩。入於經。則身振振而動搖。金匱云。膈間支飲。其人喘滿。心下痞堅。其脈沉緊。又云。心下有痰飲。胸脅支滿。目眩。又云。其人振振身瞤劇。必有伏飲。是也。發汗則動經者。無邪可發。而反動其經氣。故與茯苓白朮。以蠲飲氣。桂枝甘草。以生陽氣。所謂病痰飲者。當以溫藥和之也。愚謂此條止脈沉緊。即此湯所主。是若吐若下。胃虛飲動致之。倘更發汗。傷其表陽。則變為動經。而身振振搖。是與身瞤動振振欲擗地相同。即真武所主也。蓋此當為兩截看。稍與倒裝法類似。又錢氏注。傷寒本當以麻黃汗解云云。然此證。誤汗之變。遽至動經。則其本為桂枝證。亦未可知。蓋傷寒二字。不須拘執。又其方專取利水以健胃。與甘棗湯有小異。金鑑以中焦下焦為辨。其說為協。）如太陽篇真武湯證。其病最重。而與術甘證。其機相近者也。（此條。唯尤氏以為兼水飲。然其說迂而不切。愚謂此證虛陽外越。故發熱。陽虛飲動。故心下悸。飲阻清陽。故頭眩。經脈衰弱。為飲被動。故身瞤動。振振欲擗地。其用此方者。以扶陽利水也。此身瞤動。與大青龍變肉瞤殆異矣。）如傷寒吐下後發汗。虛煩脈甚微。久而成痿。亦是術甘湯證。而經日失治者也。（方氏曰。此申苓桂朮甘湯。而復言失於不治則致廢之意。彼條脈沉緊。以未發汗言也。此條脈甚微。以已發汗言也。經脈動。即動經之變文。惕。即振振搖也。大抵兩相更互發明之詞。久。言既經八九日。若猶不得解。而更失於不治。則津液內亡。濕淫外漬。必致兩足痿軟。而不相及也。尤氏曰。心下痞硬。脅下痛。氣上衝咽喉。眩冒者。邪氣搏飲。內聚而上逆也。內聚者。不能四布。上逆者。無以逮下。夫經脈者。資血液以為用者也。汗吐下後。血液所存幾何。而復搏結為飲。不能布散諸經。今經脈既失浸潤於前。又不能長養於後。必將筋膜乾急而攣。或樞折脛縱。而不任地。如內經所云脈痿筋痿之證也。故曰。久而成痿。兩說並覺詳密。蓋虛煩是陽虛所致。與建中之煩相近。而與梔豉之虛煩不同。○按苓桂二湯證。注家多單為陽虛。輯義援金匱。以確其為淡飲。今又以真武證。為同一情機。特似牽湊。然反覆申熟。理不得不然也。）</p>

<h2>飲邪並結</h2>
<p>飲邪並結者。水飲與邪。相併頑結。是也。亦是素有澼飲。或因誤治而並。或不因誤而並。其結在胸中者。有結胸。有藏結。有胸有寒。在心下者。有熱實。有冷熱不調。要皆凝固一處者也。（飲在胸膈者。多是稠涎。在心下者。多是稀水。治有緊慢。亦未可不由此也。）　結胸者。何。飲邪相結。以盤踞胸堂。遂及心下。是也。（明理論曰。所謂結者。若繫結之結。不能分解者也。）蓋陽明病之類變。而其證更有等差。如大陷胸湯所主。膈內拒痛。心中懊憹。心下因硬者。其正證也。（拈膈痛者。僅一條。然既名結胸。則其義自寓焉。）其來多因太陽病誤下。（病發於陽。而反下之。熱入因作結胸。及大陷胸湯條。其義可見已。但此所謂陰陽。殊為難解。張氏既疑之。秦氏傷寒大白。以為表熱之輕重。亦未鬯。軒村嘗謂。此蓋虛實已。當時不詳其說。今推之意。蓋言就太陽中。分其人虛實。其人實有飲。邪激甚。故作結胸。其人虛有飲。邪激微。故作痞。所釋如是。亦頗覺穩貼。○金鑑以數則為虛句為剩文。愚謂當並動則為痛句從刪。動數之動。宜泛講。蓋與脈數急者為傳也之急字一例。）亦有不因誤下者。心下痛按之石硬。其證稍重。（傷寒十餘日。熱結在裡條。亦是也。其揭大柴胡者。以彼證亦有心下急痞硬等。與結胸相疑。故對待為辨。往來寒熱。與無大熱相對。熱結在裡。與水結在胸脅相對。但頭汗出。是柴胡證所無。且舉水結字。以明結胸之必自水飲。）有自重汗復下者。從心下至少腹硬滿。而痛不可近。此兼胃實。其證最重。（以上輕重。如其來路。當互意看。不必拘。）有自少陽病誤治者。（半夏瀉心湯條。不特為二證立辨。亦示少陽誤下。猶有為結胸及痞者。又結胸。有自太少並病者。然似非大陷胸所主。）蓋輕重來路。俱雖有異。其情則一。故均用此方。以驅除水熱也。（成氏謂。利藥中此為駃劑。信然。蓋利藥欲生。大承氣主在大黃。故後煮之。此湯重在甘遂。故先煮大黃。後內甘遂。非彼急而此緩也。尤氏有承氣陷胸辨。其說新奇不確。仍不採入。）如大陷胸丸證。是其並結稍輕於前證。然勢連甚於上者也。（項強殊甚。其狀似痙。但非如剛痙之背反張。故云如柔痙狀。喻氏曰。胸邪緊逼。以大陷胸湯下之。恐過而不留。即以大陷胸丸下之。又恐滯而不行。故煮而連滓服之。然後與邪相當。而可施戰勝攻取之略。觀方中用大黃芒硝甘遂。可謂峻矣。乃更加葶藶杏仁。以射肺邪。而上行其急。煮時又倍加白蜜。以留戀而潤導之。而下行其緩。必識此意。始得用方之妙。○按陶氏曰。一方寸匕散。蜜和。得如梧子。准十丸為度。如彈丸及雞子黃者。以十梧子准之。唐本注云。方寸匕散為丸。如梧子得十六丸。如彈丸一枚。若雞子黃者。准四十丸。今彈丸同雞子黃。此甚不同。據此。彈丸大。正准十六梧子。吳氏說。實沿李時珍之陋耳。又丸字。宋代避諱作圓字。非有異趣。詳開於愚著藥治通義中。茲不贅。）如小結胸。是病不及膈屬最輕證。故不假攻下。然亦是並結。所以猶須陷胸之法也。（程氏曰。痞證亦有心下硬者。但不痛耳。）如寒實結胸。蓋系太陰之類變。此膈間素有寒涎。邪氣內陷。相化為實。或是有膈痛心下硬等證。其勢連及於下。而陽猶持者。故峻利之也。（尤氏亦疑小陷胸湯。及亦可服七字。然猶誤接文蛤散條。○陶氏曰。巴豆。打破剝其皮。刮去心。不爾令人悶。）如本有寒分。下之作結胸者。亦是寒實。然陽素虛。故不宜利藥也。（成氏曰。以心下結滿。臥則氣壅而愈甚。故不能臥。而但欲起也。據此。則豈與支飲倚息同機者乎。心下必結。錢氏以為梔豉類證。愚謂此太陽病兼心下有水者。殆桂枝加茯苓朮湯之類證也。其誤下作結胸。須增損理中丸。即胸痹用人參湯之意也。）藏結者。何。陰寒上結。如結胸狀。是也。（汪氏以挾食無食。辨結胸藏結。亦未允。尤氏曰。胸高而藏下。胸陽而藏陰。病狀雖同。而所處之位則不同。是襲汪氏之謬。又汪氏謂。藏結按之不痛。尤氏則以為如結胸狀者。謂如結胸之按而痛。近是。）此亦太陰之類變乃與寒實結胸。相似而有異。蓋深痼沉著。宗氣亦衰。故不任攻下。要錯惡最極者也。（此證僅二條。難精其義。然既名藏結。則其病深重可知。且以理推之。寒實結胸。有痰涎相得。藏結則似無痰涎。唯是寒結。勢逼君主者乎。然無明徵。姑列於此。○舌上白胎滑者。舌上胎滑者。就二者字視之。則似藏結有胎不白滑。而黃澀者。又似有有陽證。往來寒熱。其人躁者。寒凝豈有此等證狀。然則二者字當虛講。曰難治。曰不可攻。並謂藏結之難治不可攻。不特為舌上白胎滑而言也。吳氏削飲食如故。時時下利八字。蓋飲食如故一句難解。俟考。○太陰病。下之而胸下結硬。與此相近。金匱曰。病者萎黃。燥而不渴。胸中寒實。而利不已者。死。亦類證已。）如病脅下素有痞。是其位稍殊。而寒凝則一。故同其稱矣。　有胸有寒者。何。如瓜蒂散證。是也。此亦膈中頑涎。與邪相實。蓋不自誤下者。故病勢甚於上。以為寸脈微浮。（微浮。以驗病位。曰弦遲。曰乍緊。曰乍結。並徵其實。）胸中痞硬。（此病人自覺之情。）氣衝喉咽等候。而不及心下。亦不痛。（厥陰篇。心下滿。當作心中滿為是。）及其閉甚。陽氣阻格。以致厥逆。即是邪高結甚。不得不因而越之。此方之所由設也。（瓜蒂至苦。其能在味。吐藥之最峻者也。豆之腥臭。令人噁心。豉之腐臭。必泥胸膈。俱資助上湧之勢。王氏選注之言。蓋為當矣。○吐之一法。與汗下鼎峙。誠為緊要。然本是非六病之正對。且宜吐證。在本經特三條。金匱亦不過瘧黃宿食數者。可見其證極少。非汗下之所比也。）有結在心下。而熱實者。何。如十棗湯證。是也。亦系陽明之類變。其病連脅下。而水與邪。其勢俱猛。自非此駃峻。豈能直折之者乎。（尤氏曰。金匱云。飲後水流在脅下。咳吐引痛。謂之懸飲。又云。病懸飲者。十棗湯主之。此心下痞硬滿。引脅下痛。所以知其為懸飲也。方氏曰。此蓋邪熱伏飲。搏滿胸脅。與結胸雖涉近似。與胃實則大不相同。喻氏曰。此證與結胸頗同。但結胸者。邪結於胸。其位高。此在心下及脅。其位卑。愚謂結胸。與瓜蒂散及此證。相似不同。臨病之際。宜精認體察也。○按千金錢匕之說。本於陶隱居肘後百一方序。平旦服。諸家無解。蓋陰氣未動。飲食未進之時。藥力易以潰結也。本草經曰。病在四肢血脈者。宜空腹而在旦。陶隱居曰。毒利藥。皆須空腹。孫真人曰。凡服利湯。欲得侵早。並宜參商。○千金。干棗湯。治腫及支滿澼飲。於本方。加大黃。黃芩。甘草。蕘花。水煮。本草。圖經曰。胡洽治水腫。及支飲澼飲。加大黃。甘草。並前五物。各一兩。棗十枚。同煮如法。一方。又加芒硝。湯成下之。聖惠。治婦人血分。四肢浮腫。心腹氣滯。不思飲食。芫花丸。於本方。加大黃。青橘皮。細銼。以米醋一中盞。旋灑藥於銚子內。慢火炒令醋盡。為末。麵糊丸如梧子大。食前以溫酒下七丸。）有結在心下。而冷熱不調者。何。此其人胃氣素弱。水液不行。而誤治更虛。胃冷熱搏。以為痞硬者。是也。（大抵胃素寒者。邪陷必化為寒。今胃雖弱。其寒未甚。故猶為此證。喻氏解病發於陰。而反下之。因作痞曰。是熱人。省文以見意也。此與錢氏不同。而反似允愜。所以成結胸者一句。亦似略成痞字而言。經中間有此例。錢注恐鑿。又其云作痞者。只指飲邪並結之痞。不是該言氣痞。錢氏以為三瀉心證者。是。）蓋虛實相半。（汪氏有濕熱不調。虛實相半語。）故病勢頗緩。實系少陽之類變。如其治法。溫涼並行。以調停之。但其證有別。如半夏瀉心湯證。是飲盛者也。如生薑瀉心湯證。是寒勝者也。如甘草瀉心湯證。是虛勝者也。（瀉心湯者。非瀉心火之熱。瀉心下之痞也。此本云岐子說。又明理論曰。氣結而不散。壅而不通。為結胸。陷胸湯為直達之劑。塞而不通。否而不分。為痞。瀉心湯為分解之劑。所以謂之瀉心者。謂瀉心下之邪也。痞與結胸。有高下焉。云云。愚考諸注。似半夏證特熱並。而生薑甘草二證熱既除。然所以成痞者。恐不可不因邪熱加之。曰。傷寒汗出解之後。胃中不和。不過言大邪既解。曰。此非熱結。但以胃氣虛。客氣上逆。亦是對結胸及大黃黃連證而言。非必無些熱。觀心煩不得安。而可見也。如移治雜病痞硬。則芩連與參姜俱行。其苦唯存瀉痞之用。不嫌其清涼也。○甘草瀉心條曰。穀不化。金匱水氣篇曰。小便不利。水穀不化。面目手足浮腫。即同義也。）更有二證相類。其一。如柴胡桂枝幹薑湯證。是也。此病涉太少。而兼飲結。亦冷熱並有者也。（此條。諸注為津乏解。然今驗治飲甚效。因考。曰微結。曰小便不利。曰渴。俱似水氣之徵。不嘔者。以水在胸脅。而不犯胃之故。但頭汗出。亦邪氣上壅之候。蓋乾薑溫散寒飲。牡蠣。栝蔞根。並逐水飲。牡蠣澤瀉散。亦有此二味。其理一也。先兄亦嘗言之。仍再揭於此。或曰。微結字無著落。蓋心下微結之省文也。）其一。如旋覆代赭湯證。是也。此邪既解。而胃弱飲逆者也。</p>

<h2>血熱瘀血</h2>
<p>血熱者。邪熱內並。以迫血分。是也。蓋熱之迫血。或血失故道。擾動外溢。或熱氣燔灼。血液內爍矣。其外溢者。有自衄而愈。有用麻黃湯衄而解。（此條目瞑。蓋目眩之義。瞑。眩。古相通用。魏氏曰。以陽藥治陽邪。所以能致陽氣重劇。而作衄也。）有衄而猶用麻黃。（尤氏曰。必欲衄而血不流。雖衄而熱不解者。乃為合法。不然靡有不竭其陰者。）皆是屬表者也。（鼻衄固表郁之一證。不宜隸之兼變中。今以其亦系血熱。故因敘於此。以備後段諸證之參照。）有熱壅上焦。而吐膿血。有熱迫下焦。血下而愈。有裡熱而衄。（周氏曰。邪入血分。熱甚於經。故欲漱水。未入於府。故不欲咽。按陽明篇衄二條。與少陰篇便血條。聖惠方。並擬黃芩湯。）有熱陷入里。及陰變陽。而便血。如便膿血。（此諸證。不下數條。而皆無其方。前注所擬。或不能確。臨處之際。更須精思焉。）皆是屬裡者也。更有淋家誤汗而便血。有火逆而衄。如吐血。如清血。有少陰誤汗。而血自口鼻出。亦並屬裡者也。其內鑠者。有衄家誤汗。以增煎熬。有素虛誤灸。血散脈中。（黃氏曰。宜助陰生血徹火熱。炙甘草湯。小柴胡加栝樓實湯。按後方可疑。）有厥陰誤汗。口傷爛赤。及熱氣有餘發癰膿。皆是營血受傷者也。（近今傷寒。最多血分熱灼者。大抵自素稟陽臟。加以液虧。或發汗過多。迫脅血脈。而其證治。與膈熱出入。必要清潤。是在深求經旨。而變通之矣。）瘀血者。血失常度。瘀畜下焦。是也。（說文曰。瘀。積血也。從疒於聲。然瘀血之瘀。與瘀熱之瘀。恐同其義。蓋仲景書。或有難從說文者。如痞痛也之類。）蓋邪熱壅鬱血中。則相搏為瘀。唯其瘀也。血即水類。故必就下。以結少腹焉。其證有結日淺而病勢劇者。有結日深而病勢慢者。治之之法。隨而有別矣。結日淺而病勢劇者。桃核承氣湯證。是也。此蓋從失汗。邪氣內並所致。其結未緊。故熱未斂。而勢殊劇。所以此方亟逐利之也。（膀胱。猶言下焦。蓋與胃中有燥屎同例。不必深講。抵當湯條曰。熱在下焦。義互相發。程氏曰。此條不及小便者。以有血自下三字也。然小腹急結處。包有小便自利句。愚謂此證血結。而非氣滯。是所以不用枳樸之破氣。而有取於芒硝甘草軟堅緩急也。）結日深而病勢慢者。抵當湯丸證。是也。大抵亦自失汗。而其結既緊。其熱既斂。故勢殆慢。所以專破潰之。但更有輕重。是以有湯丸之分矣。（六七日表證仍在者。蓋以發汗不徹之故耳。表證仍在一句內。蘊有其外不解者。尚未可攻之義。宜與桃核承氣條互看。脈微而沉。微。所謂沉滯不起之狀。非微弱之微。楊士瀛曰。挾血者。脈來乍澀乍數。閃灼明滅。或沉細而隱伏。是也。反不結胸。義未瑩。徐氏曰。表邪在。脈宜浮而沉。脈沉。胸宜結。而反不結。證極可疑。乃少腹硬滿。小便自利。而人反發狂。然後知上焦之表。證脈相反。程氏曰。微沉者。結胸脈也。脈沉而不結胸。知邪已入深。而直結於下焦血分矣。二說稍通。姑存之。○如狂之解。柯氏為是。此如字。與舌上如苔之如字同語例。）桃核之血。多結於得病之後。抵當之血。多結於得病之先。（山田正珍曰。桃核承氣。治邪結下焦。而血為之不行。滯而為瘀者。抵當湯丸。治素有瘀血。而熱邪乘之者。陽明篇抵當湯條云。本有久瘀血。可以見焉。徐大椿曰。桃核承氣。乃治瘀血將結之時。抵當。乃治瘀血已結之後也。按徐說未切。）然未可一例而論也。（張兼善曰。或云。桃核承氣。及抵當湯證。俱系下焦畜血。中間雖有輕重。未審緣何而致此也。此皆發汗未得其宜。或當汗不汗。或汗遲。或脈盛汗微。或覆蓋不周而不汗。其太陽之邪。無從而出。故隨經入府。結於膀胱。按抵當湯條。既有表證仍在語。而失汗蓄血。脈經及陳延之芍藥地黃湯主療既言之。巢氏諸家。亦屢有其說。且驗之病者。益知張氏之言不誣矣。）要之病雖在下。均是屬實。乃陽明病之類變也。（陽明篇。病人無表裡證條。明理論有詳說。宜參。）</p>

<h2>熱入血室</h2>
<p>熱入血室者。婦人月事。與邪相適。熱乘子戶。是也。有自適來者。有自適斷者。（曰婦人中風。曰婦人傷寒。俱是互文見意也。）適來者。得病之際。月事方來者也。（婦人傷寒發熱。是省惡寒字。經水適來下。蘊得之七八日字。）適斷者。未得病前。月事已來。而得病方斷者也。（經水適斷四字。當在七八日之上。倘七八日之後適斷者。則其來必在得病之初。是與適來何別。志聰說恐未當。唯文勢有體。不要錯易。）適來血不結。適斷則結。（程氏方氏說可見也。）治之之法。適來。則曰刺期門。曰無犯胃氣及上二焦。而不示方藥。然除小柴胡。他無相當也。（龐氏刪及二焦三字。曰。先宜小柴胡湯。可愈可刺期門。（可愈。當不愈。）郭氏曰。常氏云。隨其實而瀉。謂針家當行瀉法也。亦可用小柴胡湯。又曰。上焦中焦。營衛所出也。如不自愈者。服小柴胡湯。許氏本事方。有治適來證。用小柴胡加地黃湯治驗。陳氏婦人良方曰。無犯胃氣者。言不可下也。小柴胡湯主之。若行湯遲。則熱入胃令津燥。中焦上焦不榮。成血結胸狀。須當針期門也。並可以徵焉。且傷寒發熱條。汪氏曰。此言汗吐下三法。皆不可用也。必也與小柴胡湯。以和解邪熱。斯不調其經。而經血調。讝語等證。可不治而愈。錢氏徐大椿說亦同。為是。蓋病至讝語如見鬼狀。未有勿藥自愈者。必自愈一句。為無犯胃氣及上二焦而發也。方氏以為紅汗之類。恐不然。又或曰。二焦之二。衍文也。犯胃氣。言下。犯上焦。言吐。）適斷。則雖屬血結。而不敢攻之者。以僅是血道為邪澀滯。非有瘀畜。故小柴胡湯。以清其熱。則結自散也。（小柴胡解血熱。楊士瀛說為當。既拈於廣要中。醫學讀書記亦曰。血結亦能作寒熱。柴胡亦能去血熱。不獨和解之謂也。）要之此二證。俱邪遏血。而遂拒胸脅。實少陽之類變也。更有一證。陽明病下血讝語者。是也。此胃實之熱。迫血下奪。血室隨空。邪隨乘入者。其機稍與前證異。然亦恐柴胡所宜。但胃實輕重。所須加察焉。</p>

<h2>風濕</h2>
<p>風濕者。太陽病而兼濕邪。是也。（風。非中風之風。（蓋總括風寒之詞。）得病之初。兩邪相合。以濕性濡滯。故數日之間。猶淹留骨節。而其衛虛。其寒亦甚。（八九日三字。當與風濕相搏句易位看。傷寒五六日中風。及婦人中風七八日。云云。經水適斷者。俱同例也。）治宜溫發。而證有輕重。故設桂枝附子。甘草附子二湯。（桂枝附子湯證。舉不嘔不渴者。蓋以既經數日。人疑其邪陷。然病猶在表。故揭此二候。以為里無邪之徵矣。甘草附子湯證短氣。前注為邪在胸膈者。非是。金匱歷節。亦有此證。俱是表被邪遏。裡氣不暢所致也。）如里素有熱者。有去桂加朮之法。（去桂加朮之義。尤氏解稍妥。與金匱注同。故不拈出。舒氏欲改大便堅。為大便溏。誤也。蓋里有濕者。大便滑泄。小便不利。此其常也。今大便堅。小便自利者。知是濕唯在表。而里素有熱。因去桂不用。然既無桂。則殊少外散之能。故易之以術。方後曰附子術並走皮內。則此方之術。是為發表濕。而不為燥脾。明矣。仲景之時。術無蒼白之分。未知其所用為何。然在今世。則二術隨宜為妙。如此方。及甘草附子湯。並用蒼朮。正見其效。施氏績易簡方所辨甚精。今拈於下。曰。夫去濕以術為主。古方及本經。止言術。未嘗有蒼白之分。自陶隱居言術有兩種。後人以白者難得。故貴而用之。殊不知白朮肉厚而味甘。甘入脾。能緩而養氣。凡養氣調中。則相宜耳。蒼朮肉薄。而味辛烈。辛烈走氣而發外。凡於治風去濕。則相宜耳。又中西惟忠亦論此方之術。取之發表。文冗不錄。○方後。法當加桂以下五十二字。金匱所無。）風濕之病。不止是證。其詳在雜病論中。此唯存梗概耳。（再詳此二條證。俱濕病之屬表虛寒者。蓋與少陰直中。其情相似。而其機則不同。）</p>

<h2>濕熱寒濕</h2>
<p>濕熱者。水濕內瘀。熱氣熏蒸。相郁發黃。是也。此猶陽明病。唯有燥濕之分。（瘀熱。唯於發黃及蓄血稱之。錢說可信。徐氏亦曰。凡言瘀字。有挾濕之義焉。考瘀。系淤字從疒。說文曰。淤。澱滓濁泥。從水於聲。）蓋其人州都不通內畜水濕。而得病之後。胃熱相釀。以為重濁。殆如淤泥之黏濘。是所以郁甚成黃。故以茵陳蒿湯。逐除濕熱也。（茵陳蒿湯條。其一不言腹滿不大便者。省文也。蓋茵陳為清熱中之燥藥。故的解濕熱。又此湯用後。大便必利。胃熱能散。則濕自小便去。故如皂角汁狀。以濕即水類也。○水一斗二升。煮至三升。殊覺過濃。二升二字無者為勝。）更有二證。其一。前證而未內實者。單清涼之。梔子檗皮湯證。是也。（全嬰方論。蘗皮湯。治小兒衄血。至一二勝悶絕。即本方。）其一。濕熱外迫者。專發散之。麻黃連軺赤小豆湯證。是也。（先教諭弟子西仲潛曰。此二條。證方互錯。瘀熱在裡。理不宜發表。必是梔檗湯證。身黃髮熱。即為表候。殆即赤小豆湯證。此前人所未言。殊似有理。云岐子以此三湯配三陽。亦足互徵。○先友伊澤信恬曰。連軺。即連翹。本草經所載之物。而非其根也。千金及翼。並作連翹。爾雅。連。異翹。郭璞注。一名連苕。皆可取證。且詩陳風。邛有旨苕。陸璣疏。苕。苕饒也。幽州人謂之翹饒。漢書禮樂志。兼云招給祠南郊。顏師古注。招。讀與翹同。文選吳都賦。翹關扛鼎。李善注。列子曰。孔子勁能招國門之關。而不肯以力聞。據此。翹。苕。軺。實一聲也。此說為核。又金鑑曰。無梓皮。以茵陳代之。愚意不如李中梓之以桑白皮代之。）寒濕者。其人素胃寒有濕。邪氣相郁為黃。如谷癉。及寒濕在裡證。是也。此太陰病之類變。而寒亦發黃者。猶是郁黷所致也。（此證。後世名為陰黃。韓祗和方說殊詳。）</p>

<h1>卷五</h1>

<h2>述霍亂</h2>
<p>（霍亂編在本經。未審意義。汪氏以為雜病論所錯。或曰。厥陰篇有吐利諸條。後人以霍亂亦有吐利。仍摭於雜病中。以附其後。正與痙濕暍俱有表證。故揭在太陽之前同其例。但彼則金匱具載。此則金匱不錄。故令人無知其為雜病論之遺者。且脈經敘霍亂轉筋。在百合狐惑後。中風歷節前。外臺引本篇。曰出第十七卷中。並可徵也。此說似是。）</p>
<p>霍亂者。內有所傷。外有所感。揮霍之間。便致撩亂。是也。（霍亂所因。巢源千金。其說明核。蓋本諸肘後。要之內無飲食宿滯。何以有腹痛吐瀉。外無邪氣感觸。何以有揮霍撩亂。可知外內相搏而癸矣。其病大抵夏秋為多。而或因傷暑。或因失覆受冷。然春溫冬寒。亦間有之。蓋其邪雖不一。唯飲食傷。則均所不免云。○伊澤信恬曰。易說。穀雨氣當至不至。則多霍亂。春秋考異郵。襄公朝荊。士卒度歲。愁悲失時。泥雨暑濕。多霍亂之病。（並太平御覽引）漢書嚴助傳。夏月暑時。歐泄霍亂之病。相隨屬也。此霍亂之名。見古書者。亦可以資霍亂所因之考證焉。）其證。內而清濁相干。心腹攪刺。上吐下瀉。（靈樞經脈篇。足太陰之別名曰公孫。云云。厥氣上逆則霍亂。又五亂篇。清氣在陰。濁氣在陽。營氣順脈。衛氣逆行。清濁相干。云云。亂於腸胃。則為霍亂。王肯堂曰。巢氏乃因此一條。○霍亂必有腹痛。經不言者。蓋省文也。）外而邪正相搏。發熱頭痛。身疼惡寒。（成氏以此諸證。為霍亂兼傷寒。非是。尤氏注又利止復更發熱曰。迨利止里和則邪氣復還之表。而為發熱。今人吐利之後。往往發熱煩渴者。是也。）施治之法。以里為急。即先溫其里之例也。其病輕者。有熱多寒多之分。俱以去胃濕為要。而有五苓理中之別。（寒熱分關。亦在其人胃氣強弱。然不比傷寒寒熱之異。俱是中焦清濁相干者。故治方不敢在清涼溫補上而分。唯以去胃濕為第一義。縱其邪熱相得。而欲飲水者。亦不過分清水穀。以為之治而已。蓋用五苓散。使水從膀胱去。則清濁自分。吐瀉自止。而邪亦從解矣。如其胃虛寒。則理中丸以散寒溫胃。則寒濕去。而中焦和矣。徐大椿所謂五苓所以分其清濁。理中所以壯陽者。深得其理。神農本草經疏曰。術能燥濕。濕去則脾健。故曰補也。寧知脾虛而無濕邪者。用之反致燥竭脾家津液。是損脾陰也。何補之足云。亦篇論也。又簡易方理中丸下曰。其圓者。得蜜而潤。入脾為快。溫補為宜。若以盪滌寒邪。祛逐冷積。則湯為捷。且免蜜之殢脾也。○理中丸。為丸如雞子黃許大。考本草序例。陶氏以為準十梧子。唐本草以為準四十梧子。詳錄於大陷胸丸下。○按外臺引仲景論云。霍亂臍上築者。腎氣動也。先療氣。理中湯。去朮加桂。凡方加朮者。以內虛也。加桂者。恐作奔豚也。理中湯方。人參二兩。余並三兩。煮服加減法。文有少異。今不具錄。次有一條。及附子粳米湯方。並系本經所佚。云。又霍亂臍上築者。以吐多故也。若吐多者。理中湯主之。方如前法加減。霍亂四逆。吐少嘔多者。附子粳米湯主之。方。附子一枚。炮。去皮。破六片。半夏半升。洗。完用。甘草一兩。炙。大棗十枚。擘。粳米半升。上五味切。以水八升。煮米熟去滓。溫服一升。日三。小品千金同。出第十七卷中。一方。有乾薑一兩。今詳千金有乾薑。云。仲景方無。）其重者。陽乏寒盛。則更次第療之。猶少陰之例。一以回陽為主。如四逆湯。（此條發熱。恐亦虛陽外越之熱。又轉筋一證。經不言者。豈以四肢拘急。即蘊其義乎。）通脈四逆湯。（通脈字今補。此條小便複利。與厥陰篇。嘔而脈弱。小便複利。其機相同。）及加豬膽湯（錫駒注本於志聰。志聰注。及錫駒明礬說。並系高世栻言。）四逆加人參湯。（此證較之通脈四逆。殆乎寒輕於彼。而液燥則稍加者矣。尤氏曰。此條本非霍亂證。仲景以為霍亂之後。多有裡虛不足。而當溫養者。故特隸於此歟。此說誤矣。）是也。其里和而表未和者。用桂枝湯。即乃攻其表之例也。（尤氏曰。曰消息。曰小和之者。以吐利之餘。裡氣已傷。故必消息其可汗。而後汗之。亦不可大汗。而可小和之也。消息字。醫賸有說。又枚乘七發。從容猗靡。消息陽陰。又古本玉篇消字下曰。周易。尚消息盈虛。天行也。野王案。消息。猶斟酌也。○霍亂證治。實不外乎此數端。唯許仁則乾霍亂論。能發仲景未言之秘。故明理論既表而出之。）</p>

<h2>述差後勞復</h2>
<p>（陰陽易一證。無義可述。仍不贅。）</p>
<p>差後勞復者。大邪既解。陰陽未諧。早有勞動。餘熱復集。是也。（此本於巢源。）熱必自內發。故枳實梔子湯。為其對治。（此條不舉其證。想心煩不眠等。為所必有也。徐大椿曰。勞復。因病後氣虛。邪氣又結於上焦。其症不一。故不著其病形。惟散其上焦之邪足矣。後人以峻補之劑治勞復。則病變百出矣。此說與汪氏同。而似得當。蓋此方屬梔子厚朴湯之類。則亦不外乎清膈利滯也。如成氏以為吐劑。錢氏以為發汗。周氏以為食復之治。皆似未然。方後覆令微似汗五字。可疑。或是因有發汗用豉者。而誤附之也。○說文。漿。酢漿也。從水將省聲。本草玉石部下品。新補云。漿水。味甘酸。微溫無毒。又云。粟米新熟白花者佳。煎令醋。止嘔噦。朱氏本草衍義補遺曰。漿水。味甘酸而性涼。善走化滯物。解消煩渴。又張氏本經逢原曰。以水空煎。候熟極煮藥。名清漿水。取其下趨不至上湧也。謬。）如小柴胡湯。亦其正治也。（此與上方證。病位不同。然其熱自內發則一也。）如脈浮者。病後新感也。如脈沉實者。熱實於胃也。（此證恐不必食後。蓋勞復亦有為胃實者。且巢源傷寒勞復候曰。其脈緊者。宜下之。是與原注所云相合。又可下篇曰。傷寒後脈沉。沉者內實也。下之解。宜大柴胡湯。並可證焉。）如竹葉石膏湯證。胃液不復。虛熱上逆者也。（此條。成氏謂。津液不足而虛羸。餘熱未盡。熱則傷氣。故少氣氣逆欲吐。諸家概從之。然愚竊疑虛羸少氣。氣逆欲吐。似無些熱。何以主以清涼。又疑玉函所載。勞復發熱者。麥門冬湯主之。亦似證方不協。因以為恐是兩條其方互錯。此條虛羸少氣諸證。蓋麥門冬湯所主。即與金匱大逆上氣。咽喉不利。止逆下氣相類。彼所謂勞復發熱者。卻是竹葉石膏湯證。然實系臆揣。姑錄俟識者。○外臺。古今錄驗。解五蒸湯。於本方。去半夏麥門冬。加茯苓。葛根。乾地黃。知母。黃芩。）如枳梔之加大黃。蓋所謂食復也。（熱論曰。病熱少愈。食肉則復。多食則遺。此葛巢諸家所本。○醫心方。引經心方云。胡粉十二棋。博棋者。大小方寸。是也。）如牡蠣澤瀉散證。輸化不職。水氣外盜者也。（成氏曰。金匱要略云。腰以下腫。當利小便。與牡蠣澤瀉散。利小便而散水也。按此方栝樓根。蓋取之淡滲。不取其生津。金匱治小便不利者有水氣。用栝蔞瞿麥丸。可以相證。而本草則曰。止小便利。未審何謂。）如理中丸證。胃虛而上焦有飲者也。（胸上。諸注多作胃上。然他無此稱。愚意喜唾不了了。是胸上有寒所致。而胸寒必生於胃寒。故用理中溫胃。以達上焦也。膈上有寒飲。用四逆。金匱。肺中冷多涎唾。用甘草乾薑湯。並是一理。金匱又曰。上焦有寒。其口多涎。又曰。色黃者。胸上有寒。）此二證者。蓋不過以其系病後隸之。實不必勞復也。病邪解除。既至勿藥。則唯任調養。醫之能事。於是畢矣。是故結以損谷則愈。亦所以例百病也矣。</p>

<h2>（附）答問</h2>
<p>問。傷寒既為外感總稱。則後世謂仲景專為冬時正傷寒立言者。其謬不待辨而知。但其以為外感總稱。前人更有此說否。審子和意。蓋原之叔和。謂溫熱瘧痢等疾。皆因冬傷於寒。重感時氣。故以傷寒該之。恐難取信。且仲景所以命書者。果總括風寒溫疫。至暑濕瘧痢等之詞乎。或又言仲景略於溫疫。不知實然邪。曰。成氏注傷寒例。凡傷寒之病。多從風寒得之。曰。凡中風與傷寒為病。自古通謂之傷寒。又劉河間傷寒直格曰。寒邪為害至大。故一切內外所傷。俱為受汗之熱病者。通謂之傷寒也。此二說者稍為近。張景岳之言亦同之。然要未為明鬯。是以輯義不復繁引也。如夫所謂外感總稱者。亦豈總括諸般外邪之云乎。蓋本經者。擴而充之。猶足以療內傷諸疾。而況於外感。誠莫不該盡其理焉。然立論之本旨。則仍不過風寒二邪。與時氣瘟疫也。何者。暑之傷氣。濕之流關節。及痎瘧滯利之類。並各有定證。而藥亦各異其宜。惟病之變化百端。狀態不一者。莫風寒如焉。如時氣溫疫。本自為一種病。有晉唐諸家之言可徵矣。但其證。雖邪焰或勝乎。其病情固與風寒不殊。則治法無須別設處分。觀仲景以暑濕等疾。揭之雜病中。而時氣溫疫。不更立標目。其意可見也。唯邪氣必因人而化。不得在風寒時氣溫疫上。區別其證候。故仲景所云。中風傷寒溫病等。僅是假其名。以形容其病機者。而述作本旨。仍非概風寒時氣溫疫。稱之為傷寒而何也。倘參以難經傷寒有幾之語。則其義更燦然矣。後世如吳又可。雖巧為炫張。而要其歸。則實不能出仲景藩籬之外。但是踵事加精。則有之矣。謂仲景略於溫疫。奚可乎。（難經分為五證。傷寒例論傷寒時行之異。巢源立傷寒時氣熱病溫病疫癘五類。外臺立傷寒天行溫病三門。今熟審諸家。風寒時氣溫疫。庶幾概之矣。）</p>
<p>問。冒頭者。每章之發題。而所繫匪輕。閔氏曰。有以傷寒二字冠之者。如傷寒一日。太陽受之。脈若靜者為不傳之類。兼中風而言者也。以傷寒為病。多從風寒得之。故或中風。或傷寒。總以傷寒稱也。其中專稱傷寒。不兼中風者。如傷寒脈浮。不發汗因致衄者。麻黃湯主之之類。是也。有中風傷寒之外。如濕病風濕之類。亦在論中者。以明不可混稱傷寒也。有但稱病人。但稱病。稱厥。稱嘔。稱下利等證。不明言傷寒中風雜病者。大概言之也。此說似得窾要。然更有但冒太陽病者。有表虛而冒傷寒者。有表實而冒中風者。其文法所以不一者。未審其義。曰。冒頭不過喚此起彼之辭。或寓脈證於此。或示來路於此。固不能有定例矣。蓋識病之要。在立其名。而施治之要。在就脈證求病。就脈證求病。則自然情狀發露。左右逢原。其名亦可從而定。倘徒事立名充病。則遂不免執吾成見。以律萬變焉。是故如各篇提綱。及太陽分風寒之類。此所以揭名示病也。題以傷寒。而或專稱。或兼稱。題以太陽病。而或言表虛。或言表實。或虛實該言。表實冒中風。表虛冒傷寒。此皆互文見意。所以使人就脈證求病。而圓機之妙。自此而生焉。再如陽明厥陰之多冒傷寒者。以其來不一。而大概言之之義。如陽明病稱。姑假為起語。而施之類證者。亦多有之。並是屬變例。他云病。云病人。云某家。云發汗吐下後之類。諸不冒病名者。皆隨宜構文者耳。讀者以冒頭與全章。參互思索之。勿為過鑿。則庶得經意矣。</p>
<p>問。諸家註釋。逐條更易。輯義既闢其非。然則叔和之撰次。果為得仲景之旨否。且其敘次何如取義。曰。仲景舊本。雖隋唐間人。猶不能睹。而生乎千百年之後。欲議撰次之得失。不亦傎乎。然姑依文義考之。仲景之意。唯是就脈證而示病。始非有渺深難測之趣。叔和之撰次。大約以事類相從。亦欲使人易知辨證措治之方。則雖非悉仲景之舊。亦匪有大異同。譬之周易。費氏以來。割彖象文言。列之各卦之下。雖非尼山之真。亦無悖於道矣。今推事類相從之例。以論撰次之意。及中間或似後人所錯者。具列如下。太陽上篇。則首章至第十二章。以太陽綱領。與寒熱大要。錯綜為次。（第八章。玉函以來。冠之篇首。然既以太陽病為篇。則以其提綱為始。於理相協。）第十三章至末章。皆系表虛一類。而第二十七章。承上以示大汗後更有一證。中篇。則首章至第十一章。系表實一類。第十二章。至第二十八章。申明發表余義。此以下至篇末。俱為太陽傳變諸候。更析其類。則第二十九章。第三十章。是汗吐下後自愈者。第三十一二兩章。是下後發汗之逆。第三十三章。至第四十一章。系發汗及吐下後虛證。而結以胃實（宗印曰。本經凡論虛證。後結實證一條。論正氣後。列邪氣一節。此造論之章法。按此說亦未必然。）第四十二章。至第四十五章。即五苓散證。第四十六章。（未持脈時師令咳。）其義前後不屬。恐前汗後虛證中錯文也。第四十七章。承前欲飲水證。第四十八章。承前水逆。以示有胃虛之吐。第四十九章。至第五十四章。乃梔豉諸證。第五十五章。（真武湯。）亦似當在前汗後虛證中。第五十六章。至第六十二章。為禁汗之戒。第六十三章。至第六十七章。言病兼表裡者。第六十八章。據玉函等。知上篇之錯。第六十九章。至第八十二章。系柴胡一類。而第七十七章。承第七十四章。第八十章。其證與上條相似。仍供對看。第八十一章。（桃核承氣湯。）疑後段瘀血中所錯。似當在抵當湯條前。第八十三四兩章。論縱橫。第八十五章。至第九十五章。系火逆一類。第九十六章。至第九十九章。敘誤吐與嘔吐之證。第一百章。至第一百二章。系瘀血一類。末章。則承上證。示小便利不啻瘀血也。下篇。亦皆屬太陽所變數證。首章至第三章。辨結胸與藏結與痞之異。第四章。至第十五章。繫結胸一類。而第十四章。（文蛤散。）疑中篇五苓散證中所錯也。第十六章。太少並病。第十七八九三章。熱入血室。第二十章。至二十二章。太少並病。蓋十六章至此。因有如結胸狀。心下結。胸脅滿等證。而連類及之也。第二十三章。至第四十一章。皆系痞硬。而第三十六章。（麻杏甘石湯。）疑為錯出。或以次條論下後。而連及乎。第四十二章。至四十四章。白虎加人參湯證。第四十五六兩章。太少合併。第四十七章。其上章證。是外內擾動。故承以上熱下冷。第四十八九兩章。風濕相搏。第五十章。（白虎湯。）恐宜移在前項加人參湯之類。第五十一章。是素虛證。末章。即申前章之義。蓋太陽三篇。每類必具數條。故有端緒可尋。其他則大抵各章殊類。不易區畫。如陽明篇。尤覺淆糅。闕所不知可也。少陽。太陰。不過寥寥數章。少陰亦有難類從。然斯三篇。約略可思而得矣。厥陰。則正證與厥利嘔噦。界限截然。不待辨而後知也。如夫各篇中。此類接彼。彼類承此之意。則雖或有可推明者。而亦何如六十四卦之有序哉。愚亦不欲妄為牽強。且待有識論定爾。</p>
<p>問。林億等序。稱合三百九十七法。未知其指。曰。此實無謂之言。故王氏溯洄集。反復糾辨。殊為確核。而後人更有為說者。竟不免附湊。如周自閒。據趙氏翻雕宋本。以駁王氏。（見吳醫匯講。）今考宋本。每篇之首。注共幾法者。通計得三百八十七法。是王氏所以發疑。而周氏檢考不密。復吹其燼。可哂甚矣。</p>
<p>問。經中脈位。多系泛稱。而間有指某部者。有稱以陰陽者。其義何如。曰。本經脈位。實本於十八難。以寸口關上尺中。配之三焦。而更以寸口。候表與衛。尺中候里與營。趺陽亦候胃。少陰。見辨脈及金匱。而亦候下焦。大抵病邪瀰漫者。各部同狀。是以多從泛稱。病在一處者。脈隨而變。是以或直指其部。然亦有互文見意處。此則在讀者活看已。陰陽之名。其以為尺寸者。恐未可為誤。蓋二難以尺寸為陰陽。辨脈第三章。亦以陽脈陰脈。為寸尺。又曰。寸口關上尺中三處。大小浮沉遲數同等。雖有寒熱不解者。此脈陰陽為和平。千金翼方亦曰。寸口關上為陽。尺中為陰。皆可以見矣。其以為浮沉者。亦理然也。然至陰陽俱浮。竟覺不通。則俱未為確實。宜附之闕如可也。要其所候。唯是不過表裡氣血之分而已。</p>
<p>問。經中脈狀。其名凡幾。而子且言有常變。常變之義。所未前聞。曰。脈名凡二十有六。雲浮。云沉。云數。云遲。云緩。云緊。云弦。云長。云滑。云澀。云大。云洪。云芤。雲實。云小。云細。云微。云弱。云虛。云短。云促。云疾。云結。云代。云停。云厥是也。停與厥。義不晰。動數之動。與數急之急。俱言其勢。非形狀之謂也。所謂常變者。一脈各有常與變也。假如病在表。而熱外盛。必見浮脈。豈非浮脈之常乎。更有裡熱外熏。（白虎證。及陽明太陰傷寒脈浮緩。是。）有邪結上焦。（結胸。及瓜蒂散證。是。）有血分灼熱。（陽明抵當證。是。）有虛寒陽越。（四逆證。是。）皆令脈浮。豈非浮脈之變乎。如沉為里為寒。然亦為肌表寒壅。（麻附辛湯證。是。）為裡熱結實。（陽明脈沉為在裡。是。）數為熱盛。然亦為胃冷客熱。（病人脈數。是。）為虛寒陽跼。（少陰病脈細沉數。是。）遲為寒為虛。然亦為熱結。（結胸。及大承氣證。是。）弦為寒。（見金匱。）然亦為熱盛。（本經皆然。）之類。皆其義也。其一脈所以有數候者。在所兼與其位。而神之有無。固宜意知焉。如夫緊之通寒熱表裡。而為病實。滑之通水燥食屎。而為熱盛。澀之通為血滯。洪之通為邪擾之類。皆其一定者也。如大有實大。有虛大。細有微細。有緊細之類。最須分看。蓋脈理玄深。貴知其要。若柯氏以體用為辨。其言雖精。猶未襯切。學者熟繹經旨。參以先人所著脈學輯要。則必有思過半者矣。</p>
<p>問。韓祗和曰。治傷寒病。以脈為先。證為後。朱奉議曰。傷寒看外證為多。未診先問。最為有準。二說適相反。今觀經文。大抵詳證而略脈。是仲景重證而不重脈也。曰。治傷寒須脈證互參。無所偏重。經之略脈者。多系省文。況脈之為類。固不如證之繁。更有舍脈從證者。如傷寒脈浮緩。而用大青龍。是也。有舍證從脈者。如身體疼痛。而用四逆是也。要之。病之虛實。邪之進退。及生死之訣。皆靡不於脈而驗。則韓氏之言。恐不與經錯也。</p>
<p>問。本經於三陽甚詳。而三陰殆略。呂元膺以為有缺文。豈其然乎。曰。否。火動水靜。本是定理。故三陽傳變多。而三陰傳變少。況三陰其位相同乎。杜清碧曰。陽熱之證。變態不一。三法一差。死生反掌。非比陰寒之邪。不復傳變。有一定之治。王安道曰。若以藥誤治。而成變證。則惟太陽為多。縱使三陰證。亦或有寒藥誤治。而變寒者。然豈應如是之眾乎。然則經之略於三陰。亦何足怪。且陰證之理。豈有外於彼三篇乎。元膺之言。吾不信也。</p>
<p>問。中風之名。經中頗多。皆可一例否。曰。名同而義異。此經之例。中風。在太陽則與寒對言。為表虛之目。在陽明。亦與寒對言。則為裡熱之義。稱陽明中風。則為裡熱兼表者。在少陽。則為其熱殊劇者。在三陰。則為陽復於表者。其義各異。倘欲實講風字。解為一義乎。則必不免牽強。如金匱。亦為半身不遂。為五藏受邪。為發狂。是可以互證耳。</p>
<p>問。仲景方藥。其類有幾。湯散丸之別。其理如何。曰。云汗。云清。云下。云溫。此為正證之治。太陽之於桂麻。少陽之於柴胡。陽明之於白虎承氣。三陰之於姜附諸湯。是也。云吐。云消。云補。云澀。此為兼變之治。膈痰之於吐。停水之於消。虛之於補。脫之於澀。是也。汗清下溫。兼變亦施。而吐消補澀。正證所不須。且此八法中。細目頗多。不可不審。湯散丸。則藥病各有所宜。此其所以有別。蓋方劑諸義。愚著藥治通義詳論之云。</p>
<p>問。古方權量。諸說紛糺。准之今制。孰能為當。曰。吾友小島學古（尚質）嘗從事於此。撰為一書。云。仲景之一銖。當今之一釐四毫五絲。一兩。當今之三分四釐八毫。一斤。當今之五錢五分六釐八毫。一斗。今量之一升一合零一撮強。升合皆從此酌量。凡藥稱幾升者。皆繫於藥昇平之。非通用之升也。（但粳米。豉。不在此例。藥升。見本草序例。）其說皆確有根據。以足為定論矣。如分之名。愚謂是裁分之分。非六銖之分。至其詳說。並拈於藥治通義中。今不復贅。</p>
<p>問。刺灸之法。聞有補瀉。仲景所施。亦復然否。曰。用針補瀉。詳見靈樞。然仲景之針。唯是瀉而已。所謂隨其實而取之者。言隨實之微甚。而瀉有輕重也。灸艾。大率在回陽補虛。然針處核起之灸。殆屬瀉者也。孫真人灸腳氣。稱以泄風氣。或是一輒。虞恆德醫學或問之言。宜並考焉。</p>
<p>問。桂枝湯方。其病不重者。猶曰又不汗後服小促其間。半日許令三服盡。而至病重者。則反曰一日一夜周時觀之。服一劑盡。病證猶在者。更作服。是病之輕重。藥之多少。似有所錯。義不可解。曰。此非錯。傷寒例甚明。云。凡發汗溫服方藥。雖言日三服。若病劇不解。當促其間。可半日中盡三服。若與病相阻。（句）即便有所覺病重者。（句）一日一夜。當晬時觀之。是也。此言其人中必有奸。而藥與之相格。因致煩郁。使其覺病勢加重者。須從容施劑。以就其安也。楊仁齋曰。病人有挾宿恙。如痰飲症癖之類。又隔汗而不能出。即是已。所謂服桂枝湯。反煩不解。先刺風池風府者。殆此類也。蓋不止桂枝一證。往往有如此者。切須熟察。勿雜藥亂投之弊矣。褚氏遺書曰。當驗之藥未驗。切戒亟投。亦此之謂乎。（金匱耆芍桂酒湯方後曰。若心煩不止者。以苦酒阻故也。蓋與病相阻之阻。與此阻字同義。）</p>
<p>問。五辛之名。無出於輯義所引之外者。否。曰。有。荊楚歲時記。有五辛盤之稱。而不著其品。本草菜部韭條。引食醫心鏡云。正月之節。食五辛以闢癘氣。蒜。蔥。韭。薤。姜。如他諸書所載。皆道家之五辛。與佛家之五辛已。山田正珍曰。玉函經。千金翼。無禁生冷云云十五字。知是後人所加。其言卓矣。</p>
<p>問。火逆驚狂煩躁。俱用桂枝。豈是發表。抑且不擬火熱乎。曰。嘗聞之庭訓。云。傷風誤灸煩熱。及湯潑火燒。救逆湯甚驗。湯火傷。重者必下利。即陽虛所致。亦久服之而愈。切不可用清涼之劑。今推此意。則火熱熏灼。遽用寒藥。冰炭相激。必致煩擾。猶湯火傷之禁水洗。暍死之不可使得冷矣。桂之為品。雖辛不燥。雖溫不僭。是以能使火邪之內犯者。誘之外越。殆所謂從治也。蜀漆之治火逆。正如茵陳之於黃。黃耆之於濕。徐大椿。所謂藥有專長者乎。</p>
<p>問。吳茱萸湯條。子以為所謂屬陽明者。唯是指中焦之詞。而其實即寒實證。然則云得湯反劇者。屬上焦也者。其義果何。汪氏以為膈寒。然膈寒必來自胃寒。而此方所主。如干嘔吐涎沫。與嘔而胸滿。何不謂之膈寒。魏氏以為上熱下冷者。豈不優乎。曰。詳玩語氣。魏氏亦失太巧。以愚觀之。此指少陽之嘔而言也。上焦。蓋胸脅之互辭耳。陽明病。脅下硬滿。不大便而嘔。舌上白胎者。可與小柴胡湯。上焦得通。津液得下。云云。成氏曰。上焦得通則嘔止。可以徵焉。上熱之嘔。倘施溫藥。兩陽相激。格拒不納。所以得湯反劇。蓋此條更舉相反之證。以示嘔有上下寒熱之別。要不過設法備變而已。赤石脂禹餘糧湯曰。復不止者。當利其小便。金匱甘草乾薑湯曰。若服湯已渴者。屬消渴。均一例也。大抵鹵莽之弊。生於略近。仲景之慮周。是以於平淺易知處。往往反復致辨。以為不可輕忽之戒。故言外生意。求之過鑿。則去經旨遠矣。（樓氏曰。得湯反劇者。火也。當用生薑黃連治之。似魏氏所本。又前輩有謂為小柴胡證者。然取徵不確。）</p>
<p>問。子既言邪有風寒時氣溫疫。而又言病之陰陽。因人而化。其理奈何。曰。請審論之。蓋風寒雖天之常氣。人如體虛。必被感觸。況時令不正。最易為害。倘有非常之異氣。則眾人同病。此愚之所以約為三等也。然如叔和實講節氣。以立類目。亦似迂拘難信。前輩駁之盡矣。至天行溫疫。則其行也。每每異證。孫真人謂為天地變化之一氣。造化必然之理。而吳氏雜氣論。殆發其秘焉。蓋其為氣。猖狂厲烈。人偶感之。則氣血沸亂。從而相化。猶蟹膏投漆。漆化為水。皂角入灶。突煙煤堅。所以眾人之疾。大略相似也。且不啻溫疫。如時氣病。雖未敢一定。以今驗之。二十年前。人病多陰。比歲以來。患者多陽。豈是天地間風氣。有時變遷。或自陰勝。或自陽勝。而人之體氣。必隨應和。有所偏勝。故其得病。亦自相搏。仍以致然耶。地之南北。其病有等。理則一也。然則病皆無不因邪而變。而今以人論者。何也。寧實求之。不敢虛求也。夫溫疫之有劇易緩急。謂之邪有輕重猶可。然更不能無虛實之分。況至風寒時氣。則最多寒熱之更變。邪豈有此等伎倆乎。邪雖輕。其人弱者病難治。邪雖重。其人強者病易治。是足以知病之必因人而化矣。且邪之為物。無象可睹。假令鑿鑿以究其理。要不免揣摩猜度。而施治之際。果有何益。譬猶涔熯然。求其所以然之故於茫昧之間。遂無補於凶荒也。是以醫病之法。就其脈證。而認得寒熱表裡虛實之真。則左右逢原。病無遁情。固不拘風寒時氣溫疫之辨也。寒熱表裡虛實之所以有分。必因其人體氣之如何。譬猶田疇之有涔熯歟。高者旱。下者水。必然之數也。故治田者。因其高下。以為之防足矣。豈何須彼不急之察哉。然則病以人而論。是求本也。是實學也。仲景未嘗就邪分病。而一以傷寒括之。意其在於此乎。</p>
<p>問。子以病情釋陰陽。然藏府經絡。經有其文。則從前注家之說。詎可廢乎。曰。藏府經絡。仲景豈敢屏卻。唯全經大旨。在於彼不在於此爾。蓋仲景假之內經。以為標識。而各自有義矣。陰陽者。數之可千。推之可萬。故內經以分表裡。而仲景則為寒熱之名。如太陽。在內經。則為邪初傷表者。故仲景假之。亦以為表熱之名。少陽為表之最深者。故假之以為半表半裡之名。陽明為胃經。故假之以為裡熱之名。太陰為脾經。故以為裡寒之名。少陰腎經。為陰中之陰。而腎主液。故以為虛寒而液脫之名。厥陰為陰之所盡。物極則變。故以為寒熱相錯之名。顧其意義如是而已。如曰陽明居中。主土也。曰以脾家實腐穢當去故也。曰以下焦虛有寒。不能制水之類。亦是不過姑假其名。以示病位病情也。至經絡之說。則如曰太陽病頭痛。至七日以上自愈者。以行其經盡故也。曰太陽病過經。曰到經不解。曰以太陽隨經瘀熱在裡故也之類。不出僅僅數章。則明自為一義矣。亦活看之可也。注家或堅執其文。又憑諸證中間有與經絡合者。遂律全經以經絡藏府之義焉。雖然倘一以經絡讀之乎。其義往往窒而不通。如每病必分經腑之類。則尤失之支離牽強矣。唯以病情讀之。無所之而不通。而其與經絡合者。亦無庸煩說。迎刃而解。假令如頭項強痛之邪熱在表。勢必上浮使然。余可隅反也。且如陽明太陰之治。但涼溫之差。而無脾胃之分。少陰專任溫中。而不專滋腎。是可見其不必要分各藏各府也。此經文之所以不皆主張藏府經絡也。抑又由此而推。知內經之以經絡。仲景之以病情。其理一如王程二氏之言焉。故今自提綱至勞復。一以病情貫之。徵之經文。既無前後之牴牾。驗之事為。亦莫切近乎此。是愚所以立此說。而實本諸庭聞云爾。</p>

<h1>傷寒論述義補</h1>
<p>是書刊布有年。頃又得數解。因錄於下。以示子弟。辛亥清明日。（元堅）孫真人演風論之義。辨表虛表實之分。在病者之素稟。其言雖發諸風而發。亦足以該疾病之常理。學者宜參考。</p>
<p>其藏有寒。下焦虛有寒。此太陰少陰分別處。藏字。與藏寒蛔上入膈之藏同義。少陰而云下焦虛。則太陰之不下焦虛可知矣。腎者。胃之關也。今下焦有權。故胃陽亦有攝。而津液能持。此寒氣之所以得內實也。少陰則下焦虛衰。故胃陽不攝。而津液下脫。此寒氣之所以不得內實也。然則寒實寒虛之所以有分者。正在其人腎氣之強弱也。雖然少陰病。固必並其中焦而虛。觀諸其諸證。與其方藥。而可見矣。且下元之虛。非可遽復。唯其溫中散寒。以能達下焦。此所以不用補腎之劑。而特有取於四逆也。前述。於成氏太陰少陰分中焦下焦之說。以為恐誤。又不謂少陰病為兼下虛者。俱由研理之未密已。</p>
<p>下利。腹脹滿。身體疼痛。此太陰兼太陽者。其里證重。故先里後表。太陰篇桂枝湯條。其里證輕。故先表后里。宜相對看。</p>
<p>證治要訣。論太陰病曰。腹滿而痛。當得通壅。宜桂枝湯加芍藥。復庵此言。先獲我心。</p>
<p>苦酒湯。半夏。如棗核十四枚。十字。疑大字訛。成本。玉函。核下。有大字。此可以徵。然彼亦剩十字也。蓋僅是一雞子殼。須用四枚。適協其量。</p>
<p>厥陰篇第七條。倘用前述或說。則食以索餅不發熱者。調治經曰。厥利俱止者。誠不待言。後日脈之。其熱績在者。其利止。亦可知也。又後日。成本。玉函。作後三日。然則並旦日為四日。而熱多厥一日。仍知其非。</p>
<p>厥陰篇。不結胸腹濡。軒村寧熙曰。照前病者手足厥冷條。濡。當作滿。字之誤也。果是腹濡。則其不可下。誠不俟言。此證使人疑誤處。正在虛燥腹滿。所以致禁也。此說覺當。</p>
<p>三陽合病。遺溺。似非白虎證所有。此二字。疑當在發汗則讝語下。風溫被下。則直視失溲。其汗下雖殊。為上盛下虛則一也。</p>
<p>風濕相搏二條。俱系表虛寒證。雖濕邪淹滯。猶與少陰直中同情。而其三方。亦即麻黃附子二湯。及附子湯之例耳。</p>
<p>揚雄方言。水中可居。為洲。三輔謂之淤。郭璞曰。音血瘀。此古人以音載義者。可以徵瘀之為淤矣。</p>
<p>外臺所引。經文異同。或有輯義所未採者。今照宋本。略揭數端。　白虎加人參湯。人參二兩。（按經文趙開美本。於太陽上篇則三兩。於下篇則二兩）。粳米一升。注曰。玉函經。用糯米。（按今本玉函。用粳米。）又引千金翼。亦作一升。（按今本翼方。佚此方。）　文蛤散條。病在陽。作病在太陽。　柴胡桂枝幹薑湯條。微結。無微字。黃芩二兩。　半夏瀉心湯條。止卻發熱汗出而解。別出論傷寒日數病源中。蓋自為一條也。</p>
<p>余嘗撰釋瘟一篇。雖非經義。姑附之以備參考。曰。瘟疫之瘟。與溫病之溫。其義不同。何以言之。疫之行也。不論四時。而其證每異。何必冬傷於寒而春病者。與發熱而渴不惡寒者乎。考瘟之為名。猶疫也。肘後方曰。其年歲中有癘氣。兼挾鬼毒相注。名為溫病。又曰。道術符刻言五溫。而所謂闢溫諸方。亦闢疫之謂也。楊玄操注五十八難曰。溫病則是疫癘之病。非為春病也。（此說於經義則乖。）集韻曰。瘟。烏昆切。疫也。據此。則瘟之為疫。其徵甚確。而天行多熱。許仁則既有其言。此疫之所以亦名為溫也。瘟疫重言。猶疫癘重言之例耳。六韜云。故人主好重賦斂。大宮室。多遊臺。則民多病溫。（此文。今本所逸。群書治要引之。茲從孫同元輯本錄。後漢書五行志注。亦有此語。溫。作瘟。）論衡命義篇曰。饑饉之風。餓者滿道。溫氣疫癘。千戶滅門。又治期篇曰。人之瘟病而死也。先有凶色。見於面部。並可以徵瘟之為疫。但瘟。本作溫。其從疒者。蓋後人所改寫已。又傷寒例。所謂更遇溫氣。變為溫疫者。即對寒疫而言。亦是一種病也。要之溫之名義不一。亦猶傷寒之有謂寒氣所中者。有謂邪氣表實者。有謂外邪總稱者之類。學者不知。牽混為言者。誤矣。（蔡邕獨斷。有瘟鬼文。然抱經堂校本。為瘧鬼訛。論衡訂鬼篇。亦作瘧鬼。又廣雅。有殟字。蓋瘟之異構。）</p>

<h1>跋</h1>
<p>我茝庭先生向著傷寒論述義。既已大播於世。頃又有所發明。更譔補義。將附以行。（熙）庸劣又復何言。先生常誨（熙）輩曰。讀醫經與他書異。若讀是經。當虛心平氣。就其至平至易處。研性命之理。使文義與治術。如吻合而符契也。然為之有本。必也博徵諸載籍。多驗諸疾病之實。會萃諸本經。優柔厭飫。浸潤涵泳。真積力久。始足以應變無窮焉。此之謂善讀者矣。世或有穿鑿拘泥。固執偏見者。有膚淺浮疏。而無心得者。有徒騖論辨。而不察證治之要者。有專拘字訓。而不究微意之所在者。此皆不善讀之過也。世又有一種固陋之弊。其人本無學識。徒臆測懸揣。以為得經旨。倘有不合己意者。概謂之後人攙入。肆然刪改之。此直夏蟲疑冰。越犬吠雪之類耳。蓋據經以察病者。此其常矩。亦有由驗病而悟於經義者。此理不可不察焉。又曰。讀書之法。務遵古人。古人之言既妥矣。固無須贅說。而亦且鬥博誇多。更生意見。左傅右會。渫渫眩矅。謂之無用之辨。吾不取也。又曰。凡讀醫經。遇訓義有確據。則舉其一二而足矣。不必取於繁冗也。又曰。訓詁雖似精。而其義不切於治者。未可也。訓詁雖得或不精。而施之於術。必有實效者。乃為得經意已。乃立說者。非通貫全經。則不可謂之盡理蘊。非該盡萬理。則不可謂之得經意。矧乃欲以變律常。及拘於常。而不通變者。皆不善讀之過也。此數言者。其皆講醫經之寶筏與。讀先生之書者。先了知此理。庶乎其可矣。蓋先生蚤承家學。最湛思於此經。凡義理之聚訟難決。及治術之同異得失。必徵之古人驗之病者。考據精確。剖析明白。無一毫張門戶之私。無一言不益於實際。其闢從前之未逮。而發張子之微意者。奚俟（熙）輩之讚揚。（熙）也門下瑣材。進不能恢其道以裨於世。退未能淑其教以仁於人。仍不揣檮昧。特揭其所聞。以書於其後。亦庶幾學者有所向方云。嘉永。四年辛亥六月。筑前日葉元熙謹識。</p>
