<header data-type="book">
<h1>瑞竹堂經驗方（四庫本）</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沙圖穆蘇</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1326">公元1326年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·瑞竹堂經驗方》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0058/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>
