<header data-type="book">
<h1>臨症經應錄</h1>
</header>

<h1>自敘</h1>
<p>昔唐陸宣公，晚年家居甚留心於醫，間有秘方必手自抄錄。曰：此亦活人之一術也。宋范文正公，少時嘗曰：吾不能為良相，必為良醫，以醫可以救人也。夫古之賢人君子，既以此為濟世利民之用，則醫之一道誠未可以鄙夷視之也。亦未可以淺學求之也。吾家業醫三世矣，閱歷亦云多矣。雖皆不敢居利人之功，而要未嘗貽害人之弊，故數十年謬蒙鄉里士大夫交口稱許，蓋積誠所感也。（金）不敏，紹祖父之業，存利濟之懷。幼而讀書，長而涉世。凡於視疾、切脈、辨症、修方罔弗慎之又慎。或秉先人指授，或參前輩緒言，初未敢妄執己見，以貽誤當世，此則（金）之可以自信者也。頃者及門某手輯醫案若干冊，皆（金）十餘年來臨證之方也。匯而錄之，欲資以為模範。其用力可謂勤矣，其用心可謂篤矣。（金）不欲違其意，爰自敘其梗概，如此非敢執以問世也，不過與二三弟子質疑求備，互相商訂云爾。</p>
<p><u>咸豐己未年孟春白衣大士聖誕日淮山儒士劉氏金方識</u></p>

<h1>凡例</h1>
<p>一醫道自上古《神農本草經》、《內經》、《靈》、《素》、《難經》而下，晉唐宋元以來，歷世名醫首推張仲景論傷寒、溫熱、溫疫奧旨。劉河間論濕熱及瘟疫內傷。李東垣詳論內傷陰虛、補中枳朮等語，卓識千古。朱震亨闡發陽常有餘、陰常不足之論，以補前賢所未逮，而民病民命亦大全矣。夫復何言？殊不知四子之書將謂講究理法，則絲絲入扣，讀之則悅口悅心，但臨證立案則不合。（金）幼年習業嘗讀《內經》、《景岳大全》，並我朝《醫宗金鑑》，文深義奧，局緊機圓，大可宗也。又細玩葉、薛、繆三家醫案，又博訪吳鞠通《溫病條辨》，皆文辭古雅，茲集兼總諸家而會通之，以各適於用。故六氣門派春溫為第一，春屬和煦之時，溫乃天行之氣，又繹周天度數，天開於子，地闢於醜，人生於寅，寅又屬春，春佔四時之首，萬物萌動，資始資生。古人尚且推重，而今詎可不講乎。</p>
<p>一儒林史冊為要務，醫林方案為提綱。試觀世醫聰明者有之，鄙陋者亦有之，究竟陋多明少。立案奚求精粹，用藥難訂湯頭，案不成句法，藥不按君臣，良可嘆也。</p>
<p>一醫案字句重疊，藥味雷同，閱此者莫譏襪線之才，竊笑空虛之腹，豈不聞孟子云乎：離婁之明，公輸子之巧，不以規矩，不能成方圓。比之醫家亦須如是，固不逾乎規矩，亦不能泥乎規矩，字眼易換，藥味更遞，亦適中庸之道而已。</p>
<p>一書名有有案無方，以缺方字代，無姓氏住處者，以某字代。並非沽名而釣譽，系診畢歸舍，擇摘順句只錄其案，未曾錄方，日久忘記。暨先祖遺稿夾雜，知之為知，不知實不敢捏造妄登，願同志者諒之。</p>
<p>一遵用古人方必增必減，或不增減者皆隨症施治。用古方療今病，譬若拆舊料改新房，不再經匠氏手，其可用乎，神而明，辨而通，存乎其人，萬不可拘執。</p>
<p>一各方分量當其時雖對病的確，今不定分量者，如往後治病表裡偏盛，寒熱虛實，弗能刊版立碑，臨證變通可也。</p>
<p>一婦女疾與男子疾迥異，因其有行經、經閉、胎產、癥瘕等事也。且肝為先天，性情多郁，容易生病，故不雜於男子案中，茲特詳著於後。</p>
<p>一幼童痘疹諸症亦當分別治之。蓋童子不擾七情六慾，幼稚更不待言，所傷不過寒暄、乳食飢飽不調，抑胎元本弱，抑受傳染時行汙濁之邪，致恣生萬弊，立案宜明，用藥尤慎，倘能分虛實，判寒熱，屬表屬裡，在表宜發汗，在裡宜攻滯。又當知傳手傳足，虛則補，實則瀉，寒則溫，熱則清，治不濛混，毋伐天和，方許升仁壽之堂，入軒轅之室也。</p>
<p>一四卷只百十餘案，客問何其鮮也？答曰：從行道數十載，豈僅看此數病歟，亦不過借水行舟觸類旁通之義。每朝夕課徒行有餘力，即抑屋圖維揮毫選錄之，時猶謹小慎微，深畏訛錯，撫膺細思，醫家不啻掌握兵權，須臾命系。大凡醫人切脈領會病情，用藥當則通神，立起沉疴，精神踴躍，如將帥有謀運籌帷幄，兵在精而不在多，立剿寇盜，世界昇平矣。</p>
<p>一通體原不超奇拔萃，大致層次尚清爽，詞貫理明，天下無越一理，理順則言順。遍覽庸輩醫案，零落殘斷，頭緒不清者居多，若執此說必疑僭狂。然有憑有據略表與聞：昨見「胸中一塊，夜夜發燒，濕氣復來，腫脹兼施」之句。請青眼鑑經應篇，尋思鄙見，思過半矣。</p>

<h1>卷一　六氣雜感門</h1>

<h2>一、春溫</h2>
<p>（案1）張（左），春溫五天，表裡齊病，春者厥陰風木司天，溫者火之氣，風者火之母，風火相煽，上升太陰經則發大頭疫。頭面紅腫，氣息往來俱粗，舌苔黃膩，口乾怕飲，大便未行，小便短赤，周身陽氣鬱遏，皮毛之竅不開，故身熱無汗，最懼內陷暴喘之變。</p>
<p>金銀花　連翹　薄荷　黃芩　牛蒡子　元參　苦桔梗　枳殼　熟軍　馬勃　荷葉邊　殭蠶（去絲口洗）</p>
<p>（案2）建陽鍾（左），夾陰春溫九天，表汗雖解里滯未下，小水不通，及解時亦系清冷，胸前重按作痛，舌根之苔黃膩，中灰欠津，四肢稍涼，診得脈右三部皆數，乃邪滯深踞營分，熱假邪威所致，而左尺沉遲又屬濕濁陰凝之象，究系腎主二便是也。速宜溫化攻裡法，應手不生遷變為妙。</p>
<p>淡肉蓯蓉　黃柏（乾薑水炒）　知母（肉桂水炒）　滑石（附子水飛）　酒炒黃芩　元參（鹽水炒）　大寸麥冬（甘草水炒）　炒黃大貝　瓜蔞仁　淡竹葉　十五制軍錠（磨入）</p>
<p>（案3）板閘尹（左），春溫夾疹八天，舌膩浮黃，脈息弦細，胸前按痛，燒熱，煩嘔，口苦。乃邪傳足少陽，膽汁無藏，謹防化斑昏痙呃逆。擬清透宣通法應手為吉。</p>
<p>薄荷　苦杏仁（去皮尖，不研）　白通草　炒枳實　炒貝母　瓜蔞皮　牛蒡子　川玉金　赤芍　結青皮（磨入）　櫻桃核（打碎）　荷蒂</p>
<p>春溫夾疹九天，形粗色滯勢欲化斑，舌苔濁膩浮黃尖紅，脈息弦細兼硬，煩躁嘔惡，胸前拒按。此邪蘊蓄於內，滯亦蓄內，加以肝鬱不舒，症屬重險，防呃逆昏痙之弊。</p>
<p>炒桑葉　酒炒丹皮　茯苓皮　水炒黃芩　飛滑石　白通草　陳蔞（皮、仁）　炒黃大貝　小枳實（磨）　黃玉金（磨）　干竹茹　荷葉蒂</p>
<p>春溫夾疹夾斑十天，按脈右大於左，舌根腐膩，中心浮黃尖紅，舌本作強，脘右有形按痛，臍下亦疼，今日嘔惡已止，二便未行，譫語，煩躁。種種情形系陽明裡症已具，勢如履冰，誠防生歧。擬用通里清邪化斑為要。</p>
<p>元參心　麥冬心　連翹心　小枳實　綿紋軍（干咀，淡酒炒）　粉丹皮　生甘草　赤芍　炒黃　大貝　元明粉　飛滑石　羚羊角　炒梔子　白蘆根</p>
<p>春溫夾疹夾斑十一天，由昨服藥後小溲幸行，大便未解，胸腹仍然拒按，脈息沉數而軟，舌本有津，苔色黃膩浮灰，口渴頻飲。的系無形之熱稍松，有形之滯尚存，仍屬險要。法宗原擬加減，應手無弊乃吉。</p>
<p>元參心　麥冬心　連翹心　花粉　瓜蔞仁　炒大貝　小枳實　赤芍　錦紋軍　羚角片　板藍根　白蘆根</p>
<p>春溫斑疹十二天，連進通里清化法，大便初解三分之一，胸腹仍然按痛，舌苔灰黃膩厚，脈息沉數，口渴時煩。實緣里滯過重，症仍在險途，猶防另生枝節，宜慎之。</p>
<p>元參　麥冬　花粉　金銀花　連翹　黃芩　丹皮　梔仁　炒大貝　綿紋軍　枳實　輕滑石　羚羊角　板藍根　白蘆根　蔞仁</p>
<p>春溫斑疹十三天，大便屢解不徹，胸腹按痛稍減，舌苔厚膩漸宣，灰色不退，尖赤乾燥欠津，按脈數軟。此係里滯邪熱久踞，是以未能驟清，陰液為傷，仍屬耽險。擬用瀉南實北，佐以緩攻之劑。</p>
<p>細生地（取汁）　元參　麥冬　大貝母　知母　丹皮　犀角片　天花粉　滑石　炒山梔　京赤芍　熟軍錠　連翹</p>
<p>春溫斑疹十四天，現已過經，但里滯尚未清楚，勢難屢攻，惟陰液耗竭，夙昔肝陽用事，加以邪氛不靖，致令面赤時煩多語。今診脈象較前稍有和洽，苔膩灰黑腐退，此層退之消息也，務宜平心息慮，藥餌調攝，庶幾脫然無累，擬五心湯加味為善。</p>
<p>元參心　麥冬心　連翹心　竹葉心　蓮子心（另煎，衝入）　白茯神　霍石斛　橘皮（鹽水炒）　貝母　上西珀（乳石，細研）　真枇杷露（燉用，衝入）　犀角（鎊）</p>
<p>病今十五天，案已疊載，前方毋再瑣述。今診脈症頗平，仍擬原法出入，謹慎調護是穩當之策也。</p>
<p>前方去竹葉心、上西珀，加粉丹皮、銀花露。</p>

<h2>二、中風</h2>
<p>（案1）某，驟然口歪目吊，語言蹇澀，人事不知，喉中痰鳴如拽鋸之聲，六脈沾伏。症屬中風險恙，治宜行氣豁痰，權望應手為要，保過七日方定大局，否防五絕。</p>
<p>明天麻　赤茯苓　福橘紅　姜半夏　天南星　玉金汁　廣木香　陳枳殼　雙鉤藤　白殭蠶　紫蘇子　蘇合香丸（和沖）　鮮石菖蒲　鮮竹瀝　生薑汁　白蘿蔔汁</p>
<p>服行氣豁痰之劑，兩脈稍現沉小，人事雖明，語言仍不清楚，舌強。乃屬痰壅氣閉之故，法宜開通治之。</p>
<p>前方去玉金汁、枳殼、天麻、赤茯苓、竹瀝、蘿蔔汁、白殭蠶、鮮菖蒲，加白芥子、枳殼、青皮、輕菖蒲</p>
<p>（案2）某，風為百病之長，善行而數變，加以素本陽勝陰微，水火不制，邇來思慮傷中，痰熱上冒，化風鼓盪，內外交作，忽然人事不蘇，喉中痰鳴。此名真中，但五絕全現，無挽救之理，勉用一方，盡人力以待天命。</p>
<p>（方缺）</p>

<h2>三、類中</h2>
<p>（案1）某，初起神呆遺溺，老人類中顯然，皆因平素操持過甚，真陰受虧致之。血虛生風，風動經絡，肢麻舌強，語言蹇澀。現症全屬不宜，藥餌恐難奏功，勉議河間先生地黃飲子法加減為治。</p>
<p>生地黃　山萸肉　霍石斛　麥門冬　北五味子　淡肉蓯蓉　制附片　巴戟天　白茯神　清白乳童便</p>
<p>（案2）某，氣虛類中，右側不遂三天，所服柔肝熄風之劑，症勢稍回一二，第脈細兼數，心煩寐少。此係虛中生弊，餘邪未盡，驟補難施，擬宜清神寧志法。</p>
<p>（方缺）</p>

<h2>四、厲風</h2>
<p>（案1）安邑朱（左），風濕相乘，臟腑痞塞，氣滯血凝，陽火所變，初起身暈紅斑如癬之狀，竄及兩膊，面部漸有，繼而眉白髮落，四肢麻木，業延二載。體氣均虛，趕緊醫治始妙，否防轉為癘風。</p>
<p>（方缺）</p>
<p>（案2）某，傷於風者上先受之，傷於濕者下先受之。今風傷於上致眉落，面部發腫，濕淫於下致腹脹，兩腿作疼，飲食難進，夜臥不安，脈象緩數有力。勢已癘風之慮，擬河間防風通聖法，上下分消以觀動靜。</p>
<p>防風　當歸　連翹　澤瀉　梔子　菊花　赤苓　蒺藜　殭蠶　白芷　木通　苦參　大腹皮　冬瓜仁　干浮萍</p>

<h2>五、破傷風</h2>
<p>（案1）張（左），症由良肉受傷，風入經絡致之。口舌皆喑，繼則牙關緊閉，周身筋縮拘攣，名曰破傷風。險絕之恙，勢不可援，姑擬一法以待天命回春耳。（大凡破傷風眼必細，口必噤。）</p>
<p>白殭蠶　白附子　麻黃　荊芥穗　蟬蛻　廣全蠍　紅花　甘草　豨薟草　烏鴉翅</p>

<h2>六、行痹</h2>
<p>（案1）車橋鎮劉（左），稟賦素虧，腠理疏豁，風寒濕乘虛外襲，三氣雜至合而為痹。細推此理系風氣勝為行痹，蓋風者善行數變，故其為痛則走注歷節，無有定所，晝輕夜劇，延久血中氣滯，風屬陽，痹屬陰，陰陽互病。刻下擬遵成法，調氣血以祛風，宣絡脈以散寒濕，庶幾有益，倘再遲延失治非所宜也。</p>
<p>（方缺）</p>

<h2>七、木虛生風</h2>
<p>（案1）某，土虛生濕，木虛生風，肝既失於條達，清陽不能展舒，診脈右關濡細，左關滑數，一呼一吸之中俱帶動躍，宜乎濕乘風勢而腫脹愈見，風藉濕淫而搐搦更深。仍有連搐不已，痙厥之虞，理擬實脾鎮肝熄風勝濕為要。統望應手，方得圖功，否則根深蒂固，雖神丹亦莫極矣。</p>
<p>（方缺）</p>

<h2>八、血燥生風</h2>
<p>（案1）本城蒲葭巷黃缽喬先生，素本脾腎均虛，土不勝濕，濕濁內蘊，血燥生風，風行水皺。察脈右細數，細為臟陰之虧，數為營液之耗。左弦大，弦屬肝陽熾盛，大屬風濕交加。在上焦則發紫白癜風，頭面間染眉發皆白。在中焦則腹中鼓動，痛脹異常，稍餓則四肢無力。在下焦則溲溺濁，大便後兼有紫血。蓋以濕邪灌溉一身則行動飲食多汗，視此情形顯然虛象也。考張介賓先生曰：氣有生血之功，血無益氣之力。誠者，氣為血帥也。邇來治法倘泥於追風逐濕，必致反損營衛。刻惟舍末從本，謹擬益氣養營之品，俾血盈足而風自減，培土勝濕之味，令脾健旺而濕自除，再佐平肝，可冀根株漸拔矣。</p>
<p>（丸方缺）</p>

<h2>九、風引肝陽</h2>
<p>（案1）李，外風引動肝陽，頭痛不安，脈息浮數無力。虛中夾邪之象，法宜熄風定痛，平靜肝陽。（方本苦涼，苦以降之，涼以清之，加半夏之辛溫者，寒因熱用，無格拒之患。）</p>
<p>鉤藤鉤　霜桑葉　甘菊花　白蒺藜　消橘紅　製半夏　蘇薄荷　夏枯草　羚角片　苦丁茶葉　荷葉邊</p>

<h2>十、胃腑風火</h2>
<p>（案1）某，陽明胃腑風火濕熱相搏，走絡而痛，痛在牙齦，內外皆腫，口不能張。因痛胸中氣聚，痰凝不降，宜開降氣機，化痰清熱。</p>
<p>（方缺）</p>

<h2>十一、發腫</h2>
<p>（案1）王營壽天成錢店謝（左），風水發腫二十餘天，六脈沉緩，小溲微短，陰囊玉莖大而光亮，系濕邪遏重。昨進開發腠理之劑，頭面得汗，風邪漸解，今擬行水消腫一方，再商扶土法可也。</p>
<p>（方缺）</p>
<p>膚腫頗消，二便暢行，漸入佳境之象。惟囊莖仍然有光亮之形，系風水濕邪下注，當以實土製水，統望應手，無弊乃祥。</p>
<p>（方缺）</p>
<p>（案2）某，遍體膚腫，先因風濕所致，迄今四月有餘。脾腎均虧，濕熱尚存，過削則脾更虛，過補則壅塞胃家，惟嚴氏實脾飲法加減。再延亦非佳兆，服藥誠恐不效，奈何？</p>
<p>（方缺）</p>

<h2>十二、感寒</h2>
<p>（案1）某，奔走太急，肺氣被傷，適值感寒直入太陰，是以右肋氣痛，痰唾粉紅之色，燒熱懶食，舌白，脈緊。氣息不平症，屬險要，防喘。</p>
<p>（方缺）</p>

<h2>十三、冒風</h2>
<p>（案1）葉（左），路途冒風，頭昏，咳嗽，咽關不爽，此係肺竅不清致令身熱，惡寒。速宜解表利咽之劑。</p>
<p>苦杏仁　香豆豉　川芎　薄荷　蘇葉　牛蒡子　苦桔梗　川玉金　炒桑葉　生薑皮</p>

<h2>十四、濕毒成瘡</h2>
<p>（案1）汜水成（左），此類中後濕毒成瘡之症也。近時瘡痍雖減，腫未全消，乃濕毒尚存，瀰漫陽明，倉廩之官困鈍，莫能腐熟水穀變化精微。時臨盛暑，陰氣隱伏於內，陽氣浮越於外。又兼食西瓜，瓜性甘涼，所謂甜能滿中，寒則凝滯，於是飲食懶餐，形色脈更見式微，可畏者年逾古稀以外，氣血弱甚，徒恃草根樹皮，豈善策乎？既承華翰諄托，勉擬一方，統冀得谷則昌。</p>
<p>（方缺）</p>

<h2>十五、濕參陽位</h2>
<p>（案1）某，濕邪參於陽位，面部先腫，延及周身壅遏於中，射肺則喘，侵脾則脹，兩關脈象緩澀，飲食不思，口乾腹滿，勢有中滿之虞。《經》云：從上之下者治其上。又云：從上之下而甚於上者，必先治其上，而後治其下。謹防腫甚大喘猛變，妄擬河間中滿方上下分消。</p>
<p>茅山蒼朮　川黃柏　葶藶　桑皮　白蔻皮　川通草　大腹皮　真紫樸　赤苓皮　海金砂　萊菔子　雞內金　冬瓜皮　生薑皮</p>

<h2>十六、暑感化瘧</h2>
<p>（案1）某，素本氣血兩虛，肝鬱過重。刻加暑感夾濕，表雖汗解而邪滯未楚，化為連瘧已來九次寒少熱多，心煩不寐，舌赤無津兼以作強，口內生瘡，診脈息弦數而細，胸前按痛，二便不暢。此乃邪實陰虧之象，勢屬險要，防內陷膻中，昏痙喘呃生變。</p>
<p>（方缺）</p>

<h2>十七、痎瘧</h2>
<p>（案1）寶應五之堂劉（左），夏秋暑濕，宿滯深藏，發痎日遠，正虛邪強，陽維為病，寒熱難當，來時形狀寒熱攸長，或歌或唱，或劇或康，食不甘味，二便失常，脾陰欠運，肺腎俱傷，服我煎劑，幸我功良，漸來漸淡，大小毋惶，此名子母，書解昭彰，欣轉當午，從陰反陽，再加調養，四肢寢昌，荷君惠賜，勝飲霞觴，後寄書札，囑敘丸方。</p>
<p>東洋參（粳米拌炒）　雲茯苓（現切曬乾）　野於術（去皮切，土炒）　白扁豆（炒香）　懷山藥（咀炒）　何首烏（用小黑穭豆拌勻，九蒸）　全當歸（酒浸，米炒）　鹿角霜（隔紙烘）　南青蒿（鱉血炒）　福橘紅（文火炒烘）　青皮絡（淡鹽水炒）　薏苡仁（去心炒黃）　冬瓜仁（炒黃）　建澤瀉（青鹽拌炒）</p>
<p>上品依方虔修精製，共取極細淨末，用煨姜（去皮）、紅棗（去核）、荷葉（水洗）、陳倉米（淘淨），四味同煎濃汁為丸，如梧子大，每早服三錢，開水送咽。</p>
<p>考三陰之痎瘧朝夕難痊，欲二氣之平均，飲食宜節，再加丸劑工夫，謹慎調攝，無有不告安之理。茲選君主參苓為扶正之綱領，臣輔術豆乃補土之權衡，佐以山藥培胃弱虛元，協以首烏療陰陽久瘧，當歸和血中之伏邪，鹿角霜通督脈之精室，清營分退燒熱應藉青蒿，入下焦理腎經必需澤瀉，橘絡、青皮絡宣絡化痰，苡仁、冬瓜仁益脾運濕，薑棗屬營衛報使，荷米資戊己功勳，類皆扶正化邪益胃升陽法。愚今所擬悉宗於書中，有云「治病必求其本」，本之為言根也、源也。世未有無源之流、無根之木，澄其源而流自清，灌其根而枝乃茂，此自然之精意也。</p>

<h2>十八、冬令伏邪</h2>
<p>（案1）某，冬令伏邪，病經五六天，昨藥後因熱極嘔吐不出，微得涼汗，汗後頭痛稍輕。今診舌苔仍然滿白，胸痞腹痛，大便未解，小便黃色，此無形之邪夾有形之滯相搏，已屬可慮，更緊要者，手指時時蠕動，人暮熱甚，恐生風變痙，即宜和解宣通，仍望應手則吉。</p>
<p>（方缺）</p>

<h2>十九、內傷冬溫</h2>
<p>（案1）某，內傷冬溫十一天，太陰肺病，咳而無痰，金受火克，清肅不行，氣機有升無降，小便短赤，舌苔滿布黃色。此症兼有伏邪為患，治之不易，最怕見紅喘變。</p>
<p>（方缺）</p>

<h2>二十、伏邪晚發</h2>
<p>（案1）某，伏邪晚發最深，深而難化，今已十天，舌仍膩而微黃，脈息細數，昨服軟下之劑，大便未解。此腑陽熱結，濕濁瀰漫，是以不飢不食，精神少而倦怠，觀其面色㿠白。系本質氣弱，先當清熱和中潤腸為要。</p>
<p>（方缺）</p>
<p>（案2）某，病發於冬，源起夏秋。今已七日，舌苔尖赤，後根中心淡黃而膩，蒸熱不一，鼻燥咽痛，惡見燈火，全是陽明腑病，小便黃渾。擬清裡分之熱。</p>
<p>（方缺）</p>

<h2>二十一、病瘧不分</h2>
<p>（案1）某，泄瀉二十餘天，復加病瘧不分，舌苔燥黃而厚，根有灰黑，脈息細數，煩渴，身熱，舌強，耳聾，驚惕時動，胸前痞悶，系暑濕之邪過重，大便初醬形色，乃熱逼下迫，防昏痙之變。</p>
<p>金銀花　連翹　花粉　飛滑石　丹皮　霍石斛　豬苓　赤苓　澤瀉　川黃連　上西珀（研和）</p>

<h2>二十二、斑疹九天</h2>
<p>（案1）某，斑疹九天，舌苔黃燥，熱重生火，火重生痰，以致發狂，神識如蒙，此係熱痰護於心包，唇紅亂語，脈無可憑。症屬險要之極，誠恐四肢厥冷，喘呃而亡。</p>
<p>元參　鮮生地汁　麥冬　黃芩　炒梔子　丹皮　花粉　連翹　制軍　瓜蔞仁　滑石　烏犀角　川黃連　膽星　竹葉心</p>

<h2>二十三、病後</h2>
<p>（案1）某，病今一月有餘，胃陰受傷，縱有宿滯亦從緩治。《經》云：「氣壯而胃自開，氣和而食自化」。今診脈息左關弦數，右關濡弱，木盛土衰之象，若再推蕩，恐滋腫脹之憂，妄用定中湯加味，得谷可免無虞。</p>
<p>北沙參　雲茯苓　土炒於術　白扁豆　須穀芽　冬瓜仁　炒苡米　真橘紅　半夏曲　黃沙土（熬水）　陳老米（熬水）</p>

<h2>二十四、濕溫</h2>
<p>（案1）西壩鹽棧梁（左），濕溫經十八天，蒸熱不退，舌苔膩白浮黃，脈息弦數且濡，兩尺無力，胸前按之不痛，小溲黃而不渾，脘悶懶食，咽關作窒。此乃正不敵邪，鬱熱失其下降之令，是以咳嗽痰稠，縱有宿食亦從緩治，但本質陰虛肝旺，濕邪過重，勢非輕淺，延防內陷之虞。刻下補瀉難施，惟宜淡滲和化，佐以省胃之藥，斯為穩當方法。</p>
<p>濕溫二十天，昨服淡滲和化，佐省胃之法，頗合機宜。今診脈象兩關稍平，尺部微覺有力，胃口漸開，此佳兆之候也。惟蒸熱尚未全退，又且咳嗽痰稠，小溲渾而兼黃，明系濕痰內蘊。蓋濕屬陰邪，其氣留連最不易解。擬善陽明、和太陰法，佐以淡滲之品，望應手無弊為吉。</p>
<p>濕溫三候，近服藥品，飲食較前稍進，蒸熱未增未減，通體有汗，身發銀疹，是留連之邪從里達外也。奈體質素虛，伏邪化而未盡，以致舌苔仍然膩白，小溲猶見黃渾，咳嗽時作，痰唾稠黏，種種情形都像濕邪為病，仍屬可畏，治當原擬加減，冀其熱退，方可而安。</p>
<p>濕溫二十餘天，進扶正化邪法，又得更衣，次小溲黃而稍清，濕熱已減，納穀頗香，戊己較醒之徵，第素質過弱，加以症延多日，氣血交餒，虛陽不斂，逐令咳嗽痰稠，午後蒸熱，按脈細數。憶書云：「肺陰虛則多嗽，腎陰虛則發燒，」正此義也。豈苦寒所可投耶？今擬育陰潛陽之劑，冀其咳平熱退乃為祥吉。</p>
<p>濕溫相近一月，前服諸藥，雖然未見大效，與症甚為相對，無如久病肺腎陰虛一時難以驟復。稽《內經》曰：「陰虛生內熱，」熱邪上凌，遂為咳為嗽，或蒸或熱，然肺為嬌臟，主持諸氣，最防咳急增喘，不可不慎。邇來飲食雖進，脈仍細數，的是邪少虛多之恙也。擬當滋陰復脈湯，且觀後效何如。</p>
<p>（方缺）</p>
<p>（案2）濕溫經十二天，昨日腹痛窘急成痧，針刺出血，又兼熨法治之，二便俱通，通則痛止。今診脈仍弦而不調，舌苔淡黃之色，胸前按痛，手不可近。此中焦塞結，邪實正虛是大危之象。</p>
<p>小枳實　真川樸　瓜蔞皮（橘紅）　製半夏　白蔻仁　六神麯　赤茯苓　川玉金　飛荷梗</p>

<h2>二十五、霍亂</h2>
<p>（案1）某，外受寒暑，內傷飲食，清氣在陰，濁氣在陽，營氣順脈，濁氣逆行，清濁相干，亂於腸胃則為霍亂。故上吐下瀉，脈伏，身寒，四肢逆冷，頓亡津液，宗筋失養以致攣縮，症已險極，治之甚難。法宜六和湯姑救之。</p>
<p>（方缺）</p>

<h2>二十六、痢疾</h2>
<p>（案1）清阿五（左），暑溫夾濕，吐瀉轉痢，戊邪傳癸，名為賊邪。延今十七天，舌苔白底中灰欠津，肢涼，脈細，腹痛，困睡。此暑濕傷陽，正不勝邪，年高屬險，桃花湯加味應手則生。</p>
<p>江西赤石脂　炒黃淡乾薑　水炙甘草　制附片　茯苓塊　新會皮　冬瓜仁　（長鬚）熟穀芽　土炒甜冬朮　荷蒂（飯上蒸）　陳老米</p>
<p>（案2）某，濕傷脾陽，脾傳於腎，由便利轉成滯下，在《經》名膿血。本屬難治，況二氣素虛，飲食毫不能進，舌苔白膩，口淡無味，命火式微，奉生者少。按脈右關不鼓，兩尺微細，勢重已成，噤口，公議溫通，通乃痢之首法，佐大和中土，納穀乃佳。</p>
<p>（方缺）</p>
<p>（案3）前仕楊漕憲，字疊云，吐瀉轉痢，脾傷及腎，在書名為賊邪，已屬可畏。更緊要者，年近九旬，二氣均虧，勢難勝任。按脈息弦大無力，舌苔黃膩，身熱肢冷，時有噯氣，肢動。此寒暑濕食雜感為患，慮有昏痙呃逆之危。</p>
<p>人參　柴胡　酒炒黃芩　製半夏　橘皮　赤苓　甘草　楂肉　木香　煨姜　紅棗</p>
<p>昨藥後肢冷雖轉，痢仍未除。今診右脈弦大無力，左脈間有歇止，舌苔膩而欠津。正氣下陷，津不上達，高年患此，勢難勝任，防五日後昏痙脫變，勉留一方，以感大憲下士之隆耳。</p>
<p>木香異功散加荷葉、陳老米</p>
<p>（案4）某，少陰久痢，飲食少思，營衛不和，時而寒熱，脈象細弱無神，法宜陰陽平調，延防敗脫。</p>
<p>真武湯加潞黨參、土炒懷山藥、山萸肉、炙甘草、廣皮白、煨木香、小紅棗</p>

<h2>二十七、痧</h2>
<p>（案1）本城丁光橋陳（左），考古痧症乃因天之風雨，寒暖不時，地之潮濕，疫邪蒸動，隨天地升降流行，其間人屆氣交中，無可逃避。虛質犯染，重則為緊痧，輕則為暗痧，暗者輕緩之說也。其發無定，或十日半月一發，或一月二月一發，久必元氣日衰，邪氣日盛，戊己不充。每逢交夏，精神少而疲倦，飲食懶思。診脈濡細，理宜固其根蒂，培其胃氣則痧自可除矣。</p>
<p>丸方：赤苓　白苓　山藥　白扁豆　雞內金　新會皮　半夏曲　霜桑葉　粉丹皮　山梔子　六和曲　須穀芽　使君子　冬瓜仁　苡仁米</p>
<p>以上共碾極細之淨末用荷葉蒂、陳老米煎濃汁為丸，如小綠豆大，每早空心服，開水送咽。</p>
<p>（金）按：此方補而不滯，宣而不猛之法也。君取赤白茯苓益氣生血，臣輔山藥、扁豆健胃培元，佐以雞肫，磨積消穀之指揮，協以二陳，理氣除痰之報使，桑丹泄少陽之郁，梔子屈曲而下行，曲谷和中猶妙於轉輸，使君子殺蟲去腐，冬瓜仁清熱悅顏，薏苡滲濕散脾精兮己土，荷米養正防秋燥兮兌金，諸藥品有益無損，每晨帶服，久則精神漸壯，氣血豐盈，何病之有！</p>

<h2>二十八、痿</h2>
<p>（案1）某，四肢麻木拘攣，屈伸不便，起自客秋風濕熱，襲入陽明脈絡為患傷。考之陽明一經主潤宗筋，束筋骨而利機關，今機關不利，筋骨不束，恰合《內經》所論大筋耍短，小筋弛張為痿之義。理當養血榮筋，開通脈絡為治。</p>
<p>（方缺）</p>

<h2>二十九、鼻瘜</h2>
<p>（案1）某，肺氣注於鼻，上榮頭面，風寒客於頭腦則氣不通，上焦積熱鬱久而生，搏於津液以致鼻中生瘜，如雨霽之地突生芝菌也。蓋氣不能上升則鼻塞滯，所謂九竅不和，不知香臭。《經》云：五氣入鼻，藏於心肺，有患，鼻為之不利也。視聽明而清涼，香臭辨而溫暖，法治先散風寒，後補胃氣，使心肺之氣得以交通，則鼻利而香臭聞矣。</p>
<p>（方缺）</p>

<h2>三十、牙宣</h2>
<p>（案1）某，陰虛胃火上炎，牙縫出膿出血，恙延半載之多。症屬牙宣惡候，久進苦寒瀉火不效。今擬甘寒養陰為法，再延非宜。</p>
<p>細生地　丹皮　貝母　生甘草　赤芍　石斛　連翹　天門冬　麥門冬　知母　陳龜甲　烏犀角　藕汁　童便　白蘆根</p>
<p>（梁）按：外感六氣者，風寒暑濕燥火也。其中有淺深之殊，其治無㿌雜之法，余髫齡務舉業時，嘗覽喻氏論「冬不藏精，春必病溫」，將不藏精之字先宜細心體察，暨須活看，不專主房勞，苟專主此，便有疵謬。凡一切人事勞役皆能搖動其精。又按《素問經·上古天真論》即言男女陰精之所以生、所以化、所以枯之理。次章緊接「調神大論」示人春養生，以為夏奉長之地；夏養長，以為秋奉收之地；秋養收，以為冬奉藏之地。蓋善藏者一切病患皆可卻，豈獨溫病為然哉。《金匱》謂：夫精者身之本，五臟元真暢茂，人即安和，是也。稍不謹慎保身，如春傷於風，夏必飧泄；夏傷於暑，秋必作瘧；秋傷於濕，冬必咳嗽；冬傷於寒，春必病溫。顧每歲之溫，有早暮微盛不等。司天在泉，主氣客氣相加臨而然也。抑四時之氣候乖違，春應溫而反寒，夏應熱而反涼，秋應涼而反熱，冬應寒而反溫，是反令之常，為氣之變也。人一觸染寒溫，由毛竅口鼻而入，傳於經絡，鬱於臟腑。體壯者安然無害，體弱者至春夏發泄之，令必發斑疹等證。初春陽氣始開，溫氣發越，厥陰行令，風夾溫也。時邪者，春末夏初溫疫厲風流行多兼穢濁，沿門履巷如是也。溫毒者，諸溫夾毒穢濁太甚是也。暑溫者，正夏之時暑病之偏於熱者也。濕溫者，長夏初秋溫中生熱，即暑病之偏於濕者也。伏邪者，必待深秋晚發也。冬溫者，冬應寒而反溫，陽不潛藏，陰精不足以承之，民病溫也。諸瘧者，皆不能離乎肝膽，畢竟由伏邪而成，非旦夕之因為患也。六淫之氣惟燥不能為害，而新涼收束實屬有關。痢疾者，治分新久，古稱滯下。此滯字，非特為停滯飲食而言，惟夏秋暑濕夾積居多，內侵腑中流行，濕蒸熱瘀，阻遏而為滯矣。其次則風淫火迫寒侵也，其邪之來似水之流，臟腑間有罅隙則乘虛而作，故有在氣在血之分。干於氣則白，干於血則赤。傷臟傷腑之異，傷腑易治，傷臟難醫。甚致於有休息痢，不休不息，延必腫脹，十中五生也。五色痢形如鶩溏，並完穀不化。及莧菜汁、屋漏水者，犯弊難愈，十中一生也。夫論中風症則真中、類中，類者偽也。風為百病之長，善行而數變，此風雖從外來亦由內虛，邪得以乘虛而入，北方風氣剛勁，風高土燥，南方風氣溫柔，地卑水濕，西北人常苦渴閉、癰瘍，東南人多染疸腫、泄痢。真中之病，南鮮北多，其真中之方，前人已大備。並類中症有劉河間、李東垣、朱丹溪，三賢逐一辨之，此不復述。核葉天士「指南篇」發明內風乃身中陽氣之變動。肝為風臟，《內經》又謂「將軍之官」，其性暴，其動速，無病則藏血，有病則逆血。精血衰耗，水不涵木，木少滋榮，故肝陽偏亢。內風時起一節，真確論也。但風寒暑濕燥火六字，主病多端，弗克盡述，今略敘源由，以包羅萬象耳。先生天資卓識，辨脈識症，會悟機緒活潑，立案深得古人心，立方深得古人法，足徵筆下生春，壽人壽世，不愧世傳醫也。（余）本不精岐黃道。諺云：隔業如隔山，既承先生賜以手冊，命以批點，及開卷細讀熟玩，不勝神爽心快，頓教醫境之茅塞大開。每見先生臨症，望聞問切大有把握，著案貫通，用藥合病，窮理細膩，無以出其右，非目無全牛，學力精銳者，奚能至此。歲屆</p>
<p>（咸豐九年秋八月穀旦愚弟梁寶生佐中氏書於袁江公廨）</p>

<h1>卷二　七情內傷門</h1>

<h2>一、喘</h2>
<p>（案1）某，真陰不足，腎失司攝之權，氣不歸原，致咳喘數月，脾土大傷，飲食少進，營衛交虛，寒熱更作，兩脈細澀，漸有喘滿之虞。《書》云：夫外感之喘治肺，內傷之喘治腎，以腎主納氣，妄擬金匱腎氣煎，攝納下元，以觀動靜。</p>
<p>大熟地　製附子　上肉桂　北五味　山萸肉　遠志肉　懷山藥　懷牛膝　福澤瀉　於術　車前子　甘枸杞　青鉛　紫衣胡桃肉</p>
<p>（案2）某，症緣思慮傷脾，土不生金，金欠生水，三臟均虧，再加木火凌金，以致喘促不寧，飲食難進，脈息沉澀，神色衰奪，勢屬險要。大抵此症，治實者攻之即效，無所難也。治虛者補之而不應，良非易也。夫外感之喘治肺，內傷之喘治腎，以腎主納氣，故用補腎之品，仍防虛脫之變。</p>
<p>（方缺）</p>
<p>（案3）某，恙由咳嗽而喘，初起於夏，後發於秋，總經百日而愈。夫喘症在肺為實，在腎為虛，然必腎先虧而後邪客於肺，鬱熱作痰，遂成喘促。藥宜養陰和榮，益氣固肺，諒中病機也。</p>
<p>（方缺）</p>
<p>（案4）某，診得脈息細弱，脾腎兩虧，土不滲濕，久而為飲，以致咳喘不堪作枕，氣難接續，擬金水六君煎治之。</p>
<p>白歸身　大熟地　茯苓　水炙甘草　橘絡　法半夏</p>
<p>恩協關（名懋）喘症丸方：東洋參（咀片，粳米拌炒）　黃毛鹿角（酥炙）　紫河車　大熟地　大生地　當歸　甘枸杞子　懷牛膝　生杜仲　肉蓯蓉　北五味子　天門冬　川黃柏　肅州鎖陽</p>
<p>原藥等分，製法載在《古方選注》。以上十四味，揀選道地藥材，依法虔修精製，共取重羅細末，用煉蜜和丸如小綠豆大，每早服，開水送下。</p>
<p>（金）按：此方括蒼吳球宗丹溪之旨創立大造丸。大造者其功最大，有如再造，故名。上能金水相生，下可乙癸同治，雙療營衛功倍。原方新加洋參收納真元之氣，鹿角保護督脈之陽，河車稟父母精中之氣而成，乃乾坤之橐籥，鉛汞之匡廓。所謂胚胎兆九混元歸一者也，為補養先天之妙品。用熟地即以生地為佐，乃白飛霞天一生水之法，當歸枸杞，益血添精，牛膝杜仲，強筋壯骨，肉蓯蓉暖腎中真陽，五味子攝腎中真陰，天冬保肺，恐邪火上僭灼金，黃柏堅陰，下守丹田真氣，復以鎖陽之澀封固周密，諸法具備，力量宏深，夫是謂之大造庶得曰可。</p>
<p>閱王晉三《絳雪園古方選注》原有此條，今復著述並非錄舊，實因此公之喘病，服煎丸多劑不效。從招（余）診，先擬金水六君煎加紫衣胡桃肉，連進數帖便獲微效，復以此丸加味，服半月頗得大效，舉發亦稀，可謂對症之至。（余）不忍埋沒，治病如神，陰騭無量，兼句法純粹，製法精良，故表而出之。</p>

<h2>二、痰飲</h2>
<p>（案1）某，脾濕生痰，肺金致弱。《經》云：「稠則為痰，稀則為飲。」痰飲乃濁陰所化，阻遏陽氣，不交於陰，陰蹺空，夜間寤多寐少，咳嗽氣喘難安，診脈右部大於左尺，左關漸見洪數，恐犯五行相剋之忌。《靈樞》用秫米半夏湯，謂通陽交陰，堵截飲邪，不聚中焦，總以護陽為主。亦《金匱》有云：治飲不治咳，當以溫藥和之也。</p>
<p>苓薑朮桂湯合二陳湯加蘇子霜、苦杏仁、秫秫米</p>

<h2>三、喘滿</h2>
<p>（案1）海州張堠，細閱病由水泛高源之象。書云：先喘後腫在肺，肺氣久虛，子病及母，脾肺既虛，土不勝濕，濕濁羈留，以致下部腫勢不消，時有自汗，痰壅喉間，視此情形，喘滿之症成矣。轉瞬春令，肝木司權，厥陽上衝，防衰脫之虞。</p>
<p>（方缺）</p>

<h2>四、滿病</h2>
<p>（案1）王（左），濕積成痰飲，臟寒生滿病，此症已屬難治，況兼瘕聚，不消不散，居於臍上脘下。邪氣日盛，正氣日衰，尚延至春，木寡於畏，必來剋土，則脹喘難支，則擬王冰燾茯苓飲法，徐徐調治。</p>
<p>土白茯苓　西黨參　焦白朮　小枳實　乾薑　煨姜　紅棗</p>

<h2>五、肺痹</h2>
<p>（案1）海州城南，武總戌大少君，字枚村。膏方：原枝大熟地　淨白歸身　東陽白芍　經霜桑葉　黑脂麻　女貞子　秋旱蓮草　甘枸杞　杭黃甘菊　白蒺藜　南燭葉　廣陳皮　黑穭豆　抱木茯神　肥玉竹</p>
<p>上藥共入大銅鍋內，長流水浸透，文武火熬一枝香時，澄清去渣，再熬一枝香時，澄清去渣，再熬一枝香時，用真阿膠開水燉化收膏，磁具盛貯，每早晚各服一調羹，均以百滾湯和勻，燉溫食之。謹按：</p>
<p>貴恙在書名曰肺痹，原委悉注煎方。（愚）今所擬膏方君臣配合佐使相投，藥餌滋潤，氣味純和，大有裨於此也。茲選君主地黃，益真陰而滋腎，臣輔歸芍，養血液以柔肝，佐用桑麻，清肅肺氣，應候播植生機，其功亦溥，又協以貞蓮，法陰陽之遞轉，更助以杞菊，為升降之春秋，蒺藜南燭，一填一養，不致肌虛之困，陳皮穭豆，一通一補，俾無壅滯之情；茯神玉竹，屬營衛報使，真貢阿膠，系清濁激揚，類皆滋營養液之品，堪舒經絡隧道，猶須滌慮澄心，反觀內守，久久服之則獲效庶捷如影響矣。</p>

<h2>六、肝旺肺虛</h2>
<p>（案1）梁藩憲七少君，字雨叔。丸方：生茶烏（竹刀去皮，切片曬乾）　太子參（粳米拌炒）　雲茯苓（現切，人乳拌蒸曬）　甜冬朮（土炒褐色）　嫩黃精（九制）　福橘絡（微火烘）　粉草節（水炙）　苡米（去心炒）　懷山藥　白扁豆　女貞子（淡鹽水炒）　芡實米　白茯苓　肥玉竹（炒定）　冬瓜仁</p>
<p>上藥依法制成，共取極細淨末，用金釵斛熬膏，量加煉蜂蜜為丸如梧桐子大。每早服三錢，滾水送下。</p>
<p>（金）按：此方為靜心調理之準繩，肝氣不和之上劑。君取茶烏，潤血悅顏色，臣輔參苓，扶正養精神，佐兼冬朮，啟脾經之健運，協以黃精，揚氣分之威儀，橘甘二味，頗盡和中之美，卻無峻烈之嫌，苡米一品，雖稟秋令之涼，可杜肺金之燥，山藥扁豆，培源益胃雙療，女貞芡實，濟水息肝相得，茯神玉竹，屬營衛報使，冬瓜仁子，資戊己真司，石斛味甘性平，激濁升清之藉，蜂蜜，百花釀就和風甘雨之仁，服此，不特調元益智，且以見天地之生生有如斯也。</p>

<h2>七、噎膈</h2>
<p>（案1）青口余殿緯，據述每歲交秋，咳嗽吐痰即發，類乎痰飲之屬。糾纏數月之久，直未痊愈。繼加年已七旬，體質衰弱，平日不無謀慮病情，謀慮則動肝，肝鬱不舒以致期門穴微覺𩞄痛，乾物下咽似有阻礙，食後胸痞懣，痰唾如膠，二便不調。細推來派，陽結於上，陰涸於下之象，勢成神思間病。法當養血柔肝，化痰舒郁，仍須怡悅開懷，一毫塵念莫起，庶幾與藥餌兼功。</p>
<p>前謂勢成神思間病者，即噎膈也。是症三陽結最難驟愈，所服藥品未嘗無效，奈壽經七旬又一，體質漸衰，真陰日虧，孤陽日熾，顯屬陽結於上，陰涸於下之象。擬方不越生化剋制之理，撫其受侮，平其沖擾，如此而已。至於拔根，當醫外求之。必須心靜情怡，怡則以開懷抱，靜則生陰以御陽亢，心得太和之氣，庶克有濟，茲勉撰一方，盡心力而為之。</p>
<p>案：具前方毋再煩贅，據所述一派情形，非病也，衰也。譬之三春宿草，得雨即榮，殘臘枯枝，雖灌弗潤。然既荷云箋賜顧，不得不罄囊以立法，盡心挽之，或可延年。</p>
<p>太子參　東陽白芍　雲苓塊　白茯神　水炙甘草　囫圇整扁豆　米炒冬瓜仁　須穀芽　南燭子　陳喬餅</p>
<p>昨復領略，函芬一切據云：六脈兩寸兩尺及右關均現細微無力，而左關獨大者，陽結於上，陰失潛藏之勢。況因解便努力過甚，元氣莫歸原海，津液悉化稠涎，咳嗽多痰，飲食作噎，寤寐不安，晝輕夜劇，形瘦面黃，手肢浮腫，由膝下至足皆然，大便溏泄，小溲短黃。統屬命火衰微，火不生土，土欠生金，金欠生水，水不涵木，四臟俱虧，濕濁蓄踞，運化遲延，故屢服補劑獲效維艱。前言非病也，乃系虛象，正此謂也。再加時臨夏令，心火司權，最防火灼金枯，木乘土位之虞。且閣下前次服藥雖勤，究竟症未見愈，茲即擬方亦不過滋營養液以柔肝，益氣培脾以祛濕。從此服後，如果氣血融和，精神漸壯，二便通調是所深幸，否則藥餌難療，只好抱病延年耳。</p>
<p>恙原細載於前，毋庸瑣述，由服藥以來大致尚屬平平。但舌上生瘡，此非實火可比，顯系年尊命火衰微，書所謂下虛必上熱者明矣。今宗六味加桂附，引火歸原之法。</p>
<p>六味地黃湯加桂附、南燭子，引陳倉米</p>

<h2>八、反胃</h2>
<p>（案1）某，氣火不升，肝逆犯胃，是以肚口痛而乾嘔。《內經》謂：清濁相干，名曰亂氣。今肢冷，神迷，欲厥之象，兩脈大而鼓指，最恐閉痙不回。</p>
<p>生白芍　金鈴皮　茯神心　冬桑葉　炒丹皮　川玉金　左金丸（和沖）　伏龍肝　開口川椒　烏梅炭　青蔗汁</p>
<p>昨進苦辛之品，神識稍清，肢冷已轉，惟氣痛未除，嘔吐不止，《經》云：「諸逆衝上，皆屬於火」、「諸嘔吐酸，皆屬於熱」。近成反胃大症，當以泄肝之中佐以鎮逆為法，謹防吐甚傷陽，痛甚痙厥。</p>
<p>大白芍　川黃連　苦桔梗　茯苓　半夏　沙參　麥冬　代赭石　金沸草　金鈴皮　蔗汁　秫秫米　安胃烏梅丸　和服。</p>

<h2>九、厥陰氣阻</h2>
<p>（案1）某，幾進苦辛通降，均屬罔效。</p>
<p>《經》云：「濁氣在上，則生䐜脹」。因厥陰之氣上阻，則胸痛肋脹作嘔，痰涎乃濁陰所化，肝木犯胃，胃中陽傷，致大腸變化失司，四五日一更衣，飲食更不能進，脈象細小而弦。顯見風木乘土，當春其勢大張，舌液乾燥，胃汁難免不損。症重慮胃敗有暴厥之擾，妄擬仲景鎮逆軟堅一法，制肝和胃，以觀動靜若何。</p>
<p>生代赭　烏梅炭　半夏　萊菔子　炙枇杷　根葉　炒麥冬　川黃連　炒白芍　白粳米　酒炒兩頭尖</p>

<h2>十、木侮土</h2>
<p>（案1）某，濁氣在上，則生䐜脹，清氣在下，則生飧泄。病經兩月，初由肝鬱而起，木旺則侮土，脾土大傷，食少自利，脾虛生脹，腹大如鼓，兩關脈弦而兼濡滯，勢有中滿之虞。法宜歸芍六君以扶土，茱連六一以抑木，觀其動靜。</p>
<p>（方缺）</p>

<h2>十一、肝氣痛</h2>
<p>（案1）某，肝氣痛久，轉於脈絡。丹溪云：氣有餘便是火，生風致痙。又書云：暴痛在經，久痛在絡。種種血弗養肝、肝氣之所致也。權當柔肝熄風、定痛通絡之劑，再擬養血而後可。</p>
<p>（方缺）</p>

<h2>十二、胃脘痛</h2>
<p>（案1）某，《病機賦》云：胃脘當心而痛要分客熱、客寒。按此病虛者多寒，實者多熱。據述初起飲食後偶遭氣怒，加以素嗜生冷，積久生濕，濕戀寒棲，清不升，濁不降，清濁混淆，所以痛勢每日發，必當酉明之陽微失運，虛質可知。《難經》論酉晉應於五臟中屬腎，腎虧不與胃交，蓋心肺居上，胃居中，而腎居下，譬若一枝動則百枝胥搖矣。業延日久，切勿視為泛常，爰以仲聖建中湯之法治之，今略加減與服。</p>
<p>炒黃白芍　川桂枝　水炙甘草　雲苓塊　留白陳皮　半夏曲　須穀芽　制香附片　煨姜</p>

<h2>十三、肝脾心腎傷</h2>
<p>（案1）前仕黎河憲，諡號襄勤。思為脾志，實本於心，精以思耗，水不養肝，肝失條達之機，侮其所不勝。清氣不展，濁陰不降，清濁混淆，脹瀉並見。郁損心陰，不能下交於腎，腎虧不能上達於心，臥不成寐，盡力謀慮，勞傷乎肝，應乎筋極，非肝家之有餘，乃肝家之不足。肝無補法，實脾養心養腎，庶免春臨木旺之虞。</p>
<p>陽往則陰來，陰往則陽來，一升一降無盡窮已。積勞思慮，痞膈中滿，腹鳴瘕瀉，形消，脈弦，穀氣不盈，生氣衰甚，因氣成積，因積成飲，積聚成痞，脾陽下陷，正氣大傷，無攻破之理。所服藥品甚是，寡效者因傷已極也。仍議理中益氣，補火生土法。</p>
<p>大怒則形氣，結氣悖於中，食不運行，精不化氣，氣不生陰，作干作渴，脹痛不寐，理用前方。肝不和暢，養心以慰之，養腎以涵之。</p>
<p>養心腎和肝脾，連服四劑，尚屬綏和。脾瀉未已，中滿痞脹未松，怯寒畏冷，腹鳴響甚如牆傾倒之聲，但風聲、氣聲、水聲，皆真氣之虧，火土不生，虛極所致。脾虛生濕，肝虛生風，腎不納氣，原方加減。</p>
<p>脾胃困頓，心腎兩虧，守補則中焦易鈍，燥劑不無傷陰。陽明陽土得陰能安，太陰濕土得陽始運。補陰不易，補陽尤難，二氣難盈易虧。上損過中，下損及胃，諸虛百損，惟賴脾胃，脾胃為資生化源之本，化日生之氣血，以稟生生之氣，今以脾胃為主，心腎兼治。</p>
<p>連進脾胃法，飲食頗香，脹勢稍平，夜來得寐，精神略起，惟夜間降濁帶有稀水。腎司二便，腎不攝，脾不固，脾腎兩虧，中陽不運，氣聚成瘕。瘕者，假也，氣也。胃瘕作瀉，無攻瘕之理，惟扶正氣以化之，補命腎以消之。《經》云：「形傷思慮則肉脫」。養心脾腎是其美舉，服藥未嘗無效。奈心脾虧虛已極，培補甚難，今仿歸脾、四神、建中法添去。自覺寒者，非真寒也，裡氣空虛也。補命腎之元陽，已服多劑，未見啟發，嘗思心屬火，虛則寒，神機過用，心氣大虧，謀慮傷肝，肝虧相火亦虧，子母皆虛。《經》云：「虛則補其母」。補心相之火，助脾胃運用之陽，乃藉用之權衡。瀉止脹平，有火象生髮之機來矣。上焦如霧如霖，清虛之府，如電照當空曠然無外，天地不泰則否象見矣。所謂瘕者，假也，氣也。消脹則成鼓，攻瘕則成滿，況下痢形瘦，胸痞不食，萬無破氣攻瘕之理。養正除積，補命腎以化之，脾胃日健，痞滿自消，仍以異功、建中合四神法。</p>
<p>氣不生陰，精不化氣，陰從陽者，血隨氣生，恙已漸愈，以扶正為主。</p>
<p>陽往陰來，痞氣不化，歸脾、異功頗合機宜。脾泄全愈，胃已舒醒，思食不多，寐不深沉，精神漸起，氣色亦開。病緣起於心脾氣結，由來已久，無形之氣化出有形之積，非消非磨可比。養正、除積、怡悅、開懷，徐徐調治，不破氣痹為寶。</p>
<p>陰往陽來，升降有常，痞滿漸化，大便已結，形色俱起，奈寐不深沉，乃心氣虧虛，不能下交於腎，若陰平陽秘，精神乃至，擬五寶、歸脾合方，養心脾腎以和肝。</p>
<p>自服養心脾和肝腎以來，納食頗香，諸恙悉退，漸趨佳境。因積勞思慮，久恙內傷最難驟復，必得養心熄怒，心得太和之氣，庶臻康豫，以養榮湯治之。</p>
<p>氣主煦之，血主濡之。進養榮法，神安得寐，納穀頗香，既合機宜，依先進步。今因陰虛熱結，痔發腫痛，原方，冬至節再議。</p>
<p>冬至節來，諸恙向安，痞脹漸消，精神飲食俱佳，惟痔發腫痛難安。按《經》曰：「飲食自倍，腸胃乃傷」，「經脈橫解，腸癖為痔」。乃濕熱下注，陰虛氣虧所致。養正氣以化濕熱，生脈、六君，合養心秫米法。</p>
<p>痔名雖多，不越內因外因、虛實寒熱。緣於筋脈橫解，風濕熱而成。中氣不振，氣不化濕，腫痛無寧，寐食忽廢，暫以防風秦艽丸以治其標，再擬補中益氣加槐花以治其本。外科書曰：凡一切外症，中虛之人，若過服寒劑則正氣先虛，陽氣一虧更不易治。有諸內必現諸外，外醫亦必明內之理。今日已出稀糞，連昨晚二次，臍痛腹鳴而痔不減，其非實火，大便燥結之故可知矣。虛火宜補，實火宜瀉。</p>
<p>（方缺）</p>

<h2>十四、肝腎兩傷</h2>
<p>（案1）海州候選縣佐孫（左），素本質弱，肝腎兩傷，繼加憂鬱過度，肝不藏血，逆而上行，咳嗽見紅或絲或點，腹左瘕聚，時跳時動，按脈息細數，恙延日久，幸飲食能進，生氣未衰，秋冬尚可扶持。</p>
<p>歸芍地黃湯</p>

<h2>十五、水不養肝</h2>
<p>（案1）汜水華（名楷），素本操持煩勞，內傷過重，水不養肝，肝失條達，濕困脾胃之陽。於是升降不和，逆而上行，致臍腹窘痛。刻下雖平，奈飲食懶進，脘中不爽，兩脅脹悶，時嘔時吐，兼有酸味，小溲艱阻，按脈弦細滯而不調，右三部濡弱。年已六旬，再延防陰枯陽結之虞，妄擬兩和法，佐醒胃之品，所謂王道養正善藥，不計驟功。</p>
<p>赤白茯苓　薑製半夏曲　川陳皮　真橘絡　鹽水炒青皮絡　米炒冬瓜仁　炒黃大白芍　黑穭豆衣　荷葉蒂　炒黃陳倉米</p>
<p>昨服兩和法，佐醒胃之品，頗合機宜。今用原方加味，仍當怡情易性，兼以藥餌調攝，庶幾霍然無虞矣。</p>
<p>前方加夜交藤</p>
<p>連進兩和醒胃之劑，診得脈象漸調，兩尺亦覺有力，舌上腐苔頗退，胸胃較寬，此佳兆之明徵也。但內傷日久，陰陽之氣虛餒，一時未能驟復，公仍擬原法治之。</p>
<p>服原方三劑甚為平靜，既獲效機，依方進步。古謂：用藥如用兵，千軍易得，一將難求也。</p>
<p>前方加白扁豆衣，減黑穭豆衣</p>
<p>脈症漸平，飲食頗增，脾胃有醒豁之機，惟大便七日未解，腹無所苦，濁氣常行，此乃真陽不足，運化遲難。擬益氣調中，佐宣絡法為是。</p>
<p>極淡蓯蓉　荷葉蒂　連皮白苓　連皮赤苓　白扁豆衣　冬瓜仁　真橘絡　鹽水炒青皮絡　炒黃陳皮　炒黃白芍　急流水煎。</p>

<h2>十六、肝氣納氣</h2>
<p>（案1）安東大南莊朱（左），左手關脈細數，右寸關脈濡弱，兩尺沉軟，症屬水不涵木，腎不納氣，故氣自臍下直衝而上，筋惕肉瞤，繼而頭目眩暈，心虛無寧。蓋上焦如雲如霧，如電照當空，天地不泰則否象見，求其源當填補下焦，舌有紅點，亦屬陰虛火旺，擬用歸芍地黃湯為穩。</p>
<p>歸芍地黃湯</p>

<h2>十七、腎火咳嗽</h2>
<p>（案1）某，咳而上氣，肺本清空，易受寒邪。前服稍稍治標之品，清火潤肺、理氣化痰之劑幾無遺用，而病不少衰。（余）細辨其脈，右尺洪數，左尺大而軟，此腎虛龍火上亢，乘肺金而咳嗽煩苦，相火更旺，子母皆虛。稽《經》云：虛則補母。郁損心陰，陰虧不能下交於腎，腎虧不能上達於心，寤不成寐。盡力謀慮，勞傷乎肝，肝無補法。實脾養心養腎，腎液一足，庶免春來木旺。法宜加減一陰煎。</p>
<p>加減一陰煎</p>

<h2>十八、真陰不足</h2>
<p>（案1）漕憲門政周（左），恙由思慮過甚，木旺剋土，食少事煩，更衣溏泄，午後惡寒，夜則發燒。此真陰不足，命門真陽失守，診脈左關弦數，右關濡弱，今已二月矣。勢屬癆損，非小恙也。總宜大補元煎，可服三四帖，應手為要。</p>
<p>九制首烏　朱染麥冬　紫河車　懷山藥　白茯苓　炒香白扁豆　青蒿梗　生龜甲心　地骨露　活剝鱉肉（煎湯代水）</p>
<p>十九、心肝腎虛</p>
<p>（案1）某，自覺煩者，非真熱也，骨髓空虛也。因曲運神機太過，心氣大虧，肝虛腎亦虛。《經》云：腎屬水，虛則熱矣。理宜養奼女嬰兒之法，養心以慰，養腎以涵。</p>
<p>（方缺）</p>

<h2>二十、肝膽火升</h2>
<p>（案1）某，診得右三部沉數，久按無神，左上中滑數，腎脈細軟，夜則唇乾，蒸熱於火，內寄於肝膽二經，經火上升致左邊頭暈，嗽而痰多噁心，皆陰精不足，宜速藥為要，否恐終非所宜。</p>
<p>生茶烏　孩兒參　大貝母　霜桑葉　甘菊花　白蒺藜　消橘紅　苦桔梗　白茯苓　枇杷露</p>

<h2>二十一、目病</h2>
<p>（案1）海州許寶巽，目為宗脈之主，其在天為日月，日為陽精，東昇西墜，月為陰精，晝隱夜見，陰陽二氣，目皆應之。故目病雖得於腎陰之虧，亦得於肝陽易旺，陽動陰不能攝。據述左眼見黑花，右眼見白花，愈多愈大，時而作癢作干，有眵微痛，此五臟精華不能上注於目，少陰之樞紐不利，若誤認風治，禍不旋踵。患經日久，藥宜輕清，不宜濁膩。茲擬一法以冀轉機速痊，倘再遲延，慎防損目。</p>
<p>（方缺）</p>

<h2>二十二、鼻淵</h2>
<p>汜水郭贊猷，鼻淵數月，營衛受虧，清空之所升騰太過，絡道無以榮養，頻流紅涕，寒熱交爭，食懶神倦，六脈細數。此真陰日漸消灼，救陰藥無速功，用玉女煎加味治之。</p>
<p>大生地　連心麥冬　熟石膏　懷牛膝炭　白知母　荷葉露</p>

<h2>二十三、火剋金</h2>
<p>（案1）某，咳嗽吐涎沫已久，此乃肺胃陰傷，帶動肝陽上升莫制。刻臨夏令火旺，金被火克，更屬非宜，是以痰中嗽出粉紅如燭油色，肺絡壅熱致傷延，恐有癆損癰痿之虞。今勉擬養肺胃之陰以杜陽逆，不可泛泛治咳，古法有諸。</p>
<p>北沙參　雲茯苓　生扁豆　霍石斛　真橘絡　大貝母　生苡米　鮮枇杷葉　白花百合　白蘆根</p>

<h2>二十四、吐血</h2>
<p>（案1）本郡典商王琴溪乃侄，吐血復作紅紫，並見太多，脈息芤大無神，自汗鼻煽，痰哮氣粗似喘，動則較甚。此金水未能相承，肝不藏納之徵也。妄擬生脈湯加味挽之。</p>
<p>生脈湯加茯神、生龜甲心、生牡蠣、參三七汁、黃精（熬水）</p>
<p>昨進生脈湯加味，今視諸弊較松，奈脈象未平，肺虛氣弱，血液大虧，仍屬可畏，慎之。</p>
<p>前去參三七汁，加白花百合、川貝母、紫衣胡桃肉</p>
<p>診脈右寸芤大稍平，左尺無力，關部不寧，昨今血雖未吐，而金水已傷，肝陽獨旺，升降失司，致咳嗽痰哮氣粗兼喘，仍屬耽心。當擬保肺之陰，以納其氣，滋腎之液以降其陽。統望勿生歧變，庶幾漸步坦途耳。</p>
<p>三才湯仍加白花百合、紫衣胡桃肉</p>
<p>（案2）某，咳嗽夾紅湧吐四五次，雖屬肝火而肺氣先傷，陰分亦虧。暴病屬實，久病屬虛，不得不用犀角地黃湯引火歸原，引血歸經。否則飲食漸少，汗勢漸來，然腎開竅於二陰，腎為胃之關，胃不納食，金無所生矣。</p>
<p>犀角地黃湯</p>
<p>（案3）鎮江趙七爺，字溥泉。失血之後脈沉小者可喜，數大可憂。肺氣易虛，虛而難復，久則津液不充，母病及子，金不生水，水虧於下，火炎於上，熱逼肺燥，咳嗆不已，音啞咽乾。《經》所謂：金空則鳴，金實無聲，破碎亦無聲。金實者乃肝陽沖，灼液釀成痰，喉管幹澀不易唾出也。破碎者主氣不生精，精不化氣，元氣乖違，從何依附也。治當培水濟火，益氣保肺，佐以填補真陰法，使津液日生一日，火不灼金，金水自然相承也。再加居恆頤養，靜心神怡，庶乎嗆咳平而音啞轉也。</p>
<p>（煎方缺）</p>
<p>膏方：</p>
<p>條沙參　雲茯苓　天門冬　麥門冬　南燭葉　清阿膠　潤元參　紫丹參　大福橘　冬瓜仁　秋白梨　糯稻須　鮮枇杷葉　白蘆根　川貝母　蜂蜜收膏。</p>
<p>（金）按：此方沙參定心內煩悶，茯苓補土中之金，天門冬補真陰，麥門冬退肺經伏火，君臣有燮理之奇。南燭培元氣虧傷，阿膠養靈臺之血，元參填腎髓，丹參導肝絡蓄瘀，佐使無猛威之僻。協以福橘止嗆咳以和中，冬瓜仁是悅顏之力也。助以秋梨生津液以消痰，川貝母非滌熱之功歟。糯稻須健己脾鼓舞戊胃，枇杷葉走陽明轉入太陰，蘆根活水生成，通利火府，蜂蜜百花釀就，留戀下焦。類皆滋潤寒涼藥餌，涼而不滑反可引熱下行以復肺虛耳。蓋羨其益坎勝離之法，引北方以濟南方。頻頻服此，再加息慮澄心，謹慎調攝，庶免春令肝旺之變。</p>

<h2>二十五、木舌腫痛</h2>
<p>（案1）某，真陰大傷，心氣不足，痰熱內擾，木舌腫痛不語，雖飲食如常，恙經半月，最慮潰爛，難以收功，不食則變。擬滋降之法，多擇高明。</p>
<p>東洋參　元武版　生甘草　女貞子　青小草　大生地　杭白芍　川貝母　柏子霜　朱麥冬　蓮子心　上西珀（同珍珠末和服）</p>

<h2>二十六、骨痹</h2>
<p>（案1）某，先後天素虛，加之濕邪蘊蓄，血不榮筋，筋不束骨。是以右腿膝痠痛難安，寐食俱廢，日輕夜重，脈息細澀，勢屬骨痹之症，非朝夕驟愈之象。理從緩治，誠為斯疾之良圖也。</p>
<p>（方缺）</p>

<h2>二十七、遺精</h2>
<p>（案1）本郡迎熏門開二兄，《經》云：「有夢治心，無夢治腎」。吾兄病多由夢而泄，何可獨責之於腎？殊不知腎主相火，心主君火，一君一相，本稟賦既濟之理也。蓋心之所藏者神，神之所附者血，心主血，一疑而萌動，則氣亂神恍，鬱極生火致之。血液沸騰，心營漸熾，不能交於腎，故腎藏志，水火不濟，疑惑發生，似乎病亦發生，忽忽神無所定，遂難保遺泄之患。久必液竭精虧，則真元反更虛耗矣。於此而思，節欲聚精無如君主，疑火莫制，則精又何由固密也。若能心靜神怡，不生疑慮，君火無自而起。君火一靜，水火相交，君寧相復，遺泄可愈。再加藥餌調治，則諸症從此悉除矣。吾兄之病最重在疑，曷不勉諸。</p>
<p>（方缺）</p>
<p>（案2）某，陰虛相火易動，頻有遺泄，以致水不涵木，肝陽化風上舞，故頭暈時作，按脈弦小帶數，刻當升令，必須介屬潛藏，靜可制動也。</p>
<p>（方缺）</p>

<h2>二十八、陽關穴冷</h2>
<p>（案1）某，診脈象流動較前尚好，兩尺微弱，因腎之真陽失守，下元不固，陽關穴痠冷年分已久。曾服桂附藥品，雖然相對，弟此患遇天陰更甚，晴暖即松，實屬火弱之徵，必須絕去費心勞勤事，助以藥餌，治以百日之遙，庶幾得之。刻下先擬七寶美髯法，暫服三帖再商。</p>
<p>制首烏　當歸身　甘枸杞　補骨脂　川杜仲　菟絲餅　懷牛膝</p>

<h2>二十九、脾虛發腫</h2>
<p>（案1）某，診得脾脈沉細，土虛已極，濕困中州，是以周身浮腫，兩脅脹痛，咳嗽胸悶，現當春令，肝木司權，分明剋土之象。今擬一法暫行扶土抑木，俾脾一旺則濕氣自行乎矣。</p>
<p>連皮赤白茯苓　土炒白朮　新會皮　法半夏　宣木瓜　冬瓜仁　炒穀芽　漢防己　懷牛膝　生苡米</p>
<p>用嚴氏實脾飲加減，取其補土製木之能，然王道無近功，必以緩得效。</p>
<p>連皮赤苓　宣木瓜　於術　橘絡　半夏曲　冬瓜仁　生苡米　懷山藥　牛膝　澤瀉　川厚朴　生薑</p>

<h2>三十、溺痛滴瀝</h2>
<p>（案1）某，水道不清，心腎不交，淫溢而下移熱膀胱，小便痛澀滴瀝，清濁並至如膏，症已九天。服參苓琥珀止痛清心之品，病勢稍減一二，但脈息微細無神，實屬真陰耗損，水火不相既濟，藥餌宜緩功調治可也。</p>
<p>白茯苓　黃柏　肥知母　沙參　土炒白朮　川萆薢　澤瀉　生苡仁　益智仁　甘草梢　蓮子心　燈心</p>

<h2>三十一、兩肋痛</h2>
<p>（案1）郭（左），兩肋作痛，得食即緩，此胃絡虛，肝氣滯。</p>
<p>當歸鬚　大白芍　桂枝木　橘絡　蛀青皮　宣木瓜　川黃白芍　醋炒柴胡　元胡索　新絳屑　沉香末（絹包紮）</p>

<h2>三十二、三陰不足</h2>
<p>（案1）某，三陰不足，寒濕痰凝，隧道致滑，肉門、關元俞兩處麻木不仁，紅腫痛俱無，皮冷色晦，當擬陽和湯達其病所，拔其病根。《經》云：「熱則流通之」，皆不越乎此。</p>
<p>大熟地　麻黃　白芥子　炮姜　炙甘草　鹿角膠　上肉桂　雙臘酒</p>

<h2>三十三、下焦嘔吐</h2>
<p>（案1）某，嘔吐舉發累月經年，雖屢進泄肝安胃法，減而未愈。原屬胃陽虧乏，脾不散精，殊不知命門火力不足，奉生者少，腎虛水泛為痰，肝無液養，濁結氣聚，氣逆上衝，阻胃之降，失其流行之機，故時發時止，此下焦吐也。今仿經旨二方，一則益火之源以消陰翳，壯水之主以鎮陽光；一則專理腸間屈曲之處，搜滌絡道之痰，可帶藥回府調養，徐待獲效。</p>
<p>（方缺）</p>

<h2>三十四、濕</h2>
<p>（案1）王如金，形體豐盈，脈來濡滑，三陰內虧，濕濁鬱而不化，氣運遲難，以致胸次時痛，目中白珠色黃，小便間溺白濁。按濕熱為患非只一端，可化痰亦可化飲，虛中夾實，不可小視。擬用理脾滲濕固精之法緩之治之，自然諸症日減，則正氣日增矣。</p>
<p>（方缺）</p>
<p>（丁）按：喜怒憂思悲恐驚，七情內傷非六氣可比。六氣現諸外，顯而易見，七情現諸內，暗而難明。六氣天成也，七情人為也，天成人為四字包括廣大矣。道光辛巳，恩科吾赴秋園。三場後，契友邀遊，渠等均臨榮社評論文章，估擬科名。而我心不以科名自專，性嗜書籍，獨往書坊遍閱架上書籍之簽。儒書何其多也，醫書亦復不少。以儒可以顯人，以醫可以救人。閱至抄本《濟世經驗良方》，興起展卷視之，有「養生篇」，黃帝問岐伯曰：「余聞上古之人，年皆度百歲，而動作不衰，今時之人，年未半百而動作皆衰，時勢異耶？人將失之耶？岐伯對曰：上古之人，知道者，法於陰陽，和於數術，飲食有節，起居有常，不妄作勞，故能形與神俱，而終其天年，度百歲乃去。今時之人不然，以酒為漿，以妄為常，醉以入房，欲竭其精，耗散其真，不知持滿，不時御神，務快其心，逆於生樂，起居無節，善妄作勞，故半百而衰也。」觀此則壽命修短，全在精氣神明依相附之。寶滿盈曷常病於人也，並必得其壽也。統而言之，為醫者心不可泥古，泥則不能融會貫通也。其症有因虛受病轉變為實，先實後變為虛。有因外感而內傷，有因內傷而外感。猶有不內外因而內傷者，即如先生七情內傷案云：真陰不足，腎失司攝之權，氣不歸原則用金匱腎氣，並以攝納下元，實系治內傷之喘在腎。其次肺腎兩虧則用金水六君，並以符方書土能生金，金能生水，金水相承之意，實系治內傷之喘在肺腎，不治脾而培脾寓焉。脾濕生痰，濁陰阻遏陽氣，則用苓薑朮桂湯加二陳蘇、杏、秫米，此闢經文通陽交陰之義，實系治痰飲內傷之喘在脾。若此治症，胸中定有確見，誠無指鹿為馬之訛，頗有駃中超群之妙。信，不誣也。夫肺痹者病在氣分，氣滯血亦滯，血無氣不行，上焦清道，惟風熱可臨，釀久下損及胃，穀食減少，土虛生濕則窒塞經絡隧道，營液干膊臂屈伸不便，缺盆穴骨凸，用滋營養液膏加流氣之藥。《經》云：氣主煦之，血主濡之。煦者和也，濡者潤也，氣煦和，血亦濡潤矣。噎膈者情志不適病也。悒鬱動肝，肝肺氣結，血液胃汁枯槁。上為噎，中為膈，下焦為反胃。食物易噎，噎則善嘔，昔張雞峰謂之：神思間病，陰枯於下，陽結於上，三陽結，謂之膈。茲摘虞花溪大略云云：大都欲成之先，宜開達木鬱，木鬱解而諸郁皆解矣，逍遙散、四七湯、蔞貝、二陳、金橘、佛手、佩蘭之類。欲成之後，宜養血平肝，肝得其養，陰不枯，陽不結，胃氣升降舒徐則愈矣，歸身、白芍、首烏、阿膠、棗仁、茯神、雲苓、柏子仁之類。如嘔酸加左金丸、代赭、旋覆、橘皮、竹茹是也。如吐血加丹參、貝母、丹皮、梔子、玉金、參三七、藕節是也。已成則無法可治，縱或有愈之者，非成法也，乃定數也。即如《醫宗必讀》有白水牛喉、杵頭糠牛嚇叫之類，亦復另具手眼、獨開生面之方。先賢精奧，難窺底蘊，種種不能枚舉。（晏）正燕居，握管吟哦，適藩憲寶仁兄造吾廬，云及先生作《經應錄》，汝見之乎？其中濟生之功非淺。（晏）遂告以捧冊，囑我刪改，吾恐筆墨荒蕪，豈堪評點，因承不棄。故敢布鼓於雷門，妄談數句，聊以解嘲，藉欽先生學問不居人下，聰明反超人上，遠溯靈蘭，近搜秘典，特著壽人之玉版，實為度世之金針云爾。歲屬</p>
<p><u>咸豐巳未年秋八月望日書於頤志齋柘塘丁晏識</u></p>

<h1>卷三　幼童痘疹門</h1>

<h2>一、童損</h2>
<p>（案1）袁江丁，少小之年，脈貴有神。今診右寸關細弱，右尺無神，此未老見衰之脈，加以稟賦先後天不足，天一生水之源本從何至？真陰既然日竭，虛陽亟致亢害。於是午後潮熱，自汗，懶食，咳嗽，頭暈，形瘦，力怯，氣粗，脅脹，彈腹聲膨，種種屬童損之症，症延日遠，趕緊調治為佳，所幸情竇未開，務須暫拋誦讀，保身服藥，自然奏績。尚再耽延，最防冬至節來陽長陰消之際，反增異端耳。</p>
<p>（方缺）</p>

<h2>二、鼻血</h2>
<p>（案1）喬二少爺，字小春。幼年發胖，體稟純陽，氣血俱盛，盛極則燔。本素厚味太過，不免炙煿之毒，少火化為壯火。血隨火升，溢出清竅。每日右鼻孔出血，據述無多，恐延久成衄。莫可泛然，作虛治。惟張景岳氣血兩治之玉女煎當可與嘗。</p>
<p>玉女煎　用中生地，加藕節。</p>

<h2>三、龜胸</h2>
<p>（案1）汜水成相公，素稟胎元不足，熱乳內蘊，蓋肺本清肅，為諸臟華蓋，水氣泛溢，肺為之浮。日久熱漸化風，痰滯肺氣昏亂。是以胸高脹滿，形如覆掌，咳嗽喘促，溏泄蒸熱，由此成疳，由疳而成龜胸，勿可小視。</p>
<p>三才膏　（見馮楚瞻錦囊書）</p>

<h2>四、龜背</h2>
<p>（案1）某，腮腫疳還盛，脊高，力已衰。此因未滿半周，強令坐早，失護背脊，以致客風吹撲，傳入於髓。《經》云：五臟皆繫於背，久則風生蟲，蟲蝕脊髓，背骨似折，高露為龜矣。</p>
<p>大肥皂丸　（見馮楚瞻錦囊書）</p>

<h2>五、口糜</h2>
<p>（案1）某，心脾積熱，移於小腸，口舌破爛，溺澀，欲成口糜。急宜清降。</p>
<p>生甘草　苦桔梗　山梔子　黃芩　生地　木通　連翹　寸麥冬　釵石斛　竹葉　燈心</p>

<h2>六、慢脾驚</h2>
<p>（案1）某，先後兩天不足，肝熱素盛。復因風暑相搏，熱急生驚，乃風乘火勢，火借風威，連綿十餘日。目定神呆，面白嘔吐。此屬未成急驚轉為慢脾驚。症最難醫治，勉用六君煎加減以盡心力。</p>
<p>孩兒參　白茯苓　焦於術　消橘紅　製半夏　白扁豆　炒苡米　金石斛　小紅棗　炒黃荷蒂</p>

<h2>七、痘</h2>
<p>（案1）繆十三公女，皮膚隱隱見點，腹痛不安，煩躁，嘔惡，神志恍惚，舌白，身熱，系外感嚴寒，內停食積，表裡兩重，謹防閉痘之險。議用開發腠理，望暢出為吉。</p>
<p>麻黃　葛根　牛蒡子　荊芥　蟬蛻　楂肉　青皮　枳實　川通草　苦桔梗　觀音柳</p>
<p>喜花見點，形細色滯，腹痛，煩躁，口乾咽痛，二便未行。奈天氣嚴寒，仍防半閉，法當升透，宣里，暢出為吉。</p>
<p>羌活　荊芥穗　葛根　牛蒡子　桔梗　青皮　甘草　楂肉　酒軍　枳實　淨蟬蛻　通草　前胡　觀音柳</p>
<p>晚診，顆粒漸出，大便已解，但形細色滯、大小不均，唇乾，咽痛，兼有腹疼，心煩，乃毒火潛伏。仍宜歸宗意升透為要。</p>
<p>前方加赤芍，去羌活、甘草、酒軍</p>
<p>喜花一朝，面部細碎顆粒大小不均，頂薄根滯，腹疼雖減，奈咽痛尤甚，唇腫，口乾，便溏，神煩。系毒火潛伏下險之症，當清咽透齊之劑。</p>
<p>芥穗　桔梗　牛蒡子　甘草　赤芍　連翹　楂肉　蟬蛻　木通草　羚角片　熟軍　芫荽</p>
<p>晚診：加馬勃、大貝母、山豆根，減芫荽、熟軍</p>
<p>喜花二朝，顆粒出之有八。奈面部冗碎，形平色滯，咽痛，口乾，唇有微腫，二便未行。此乃素本氣弱，又加天寒，毒火潛伏。先議墊陰逐毒，佐以利咽之劑。</p>
<p>小生地（取汁）　荊芥穗　牛蒡子　元參　採連翹　生甘草　赤芍　細木通　苦桔梗　羚角片　山豆根　酒炒紋軍　冬筍尖　白蘆根</p>
<p>喜花三朝，顆粒雖齊，奈面部四肢細碎，根血板滯。乃氣弱毒盛，恐難行漿，所幸者咽痛稍減，二便亦行。議活血放白，佐以清熱利咽。</p>
<p>小生地　歸尾　連翹　元參　桔梗　牛蒡子　粉丹皮　天蟲　赤芍　上犀黃　雄雞冠血　竹筍尖　白蘆根　大紅洋縐</p>
<p>晚診：加北沙參（米炒）、血竭、糯米，減雞冠血、上犀黃</p>
<p>喜花四朝，顆粒頂平根滯，項下攢簇，氣血未附，咽痛雖鬆，奈面部冗碎色嫩。系體質虛弱，恐難化漿。法宜助氣、活血、提頂，速望放白漿行為吉。</p>
<p>西黨參　生大有耆　制山甲　全當歸　天蟲　京赤芍　元參　苦桔梗　牛蒡子　上口蘑　冬筍尖　蘆筍　大紅洋縐　上洋米</p>
<p>晚診：加上官燕</p>
<p>喜花五朝，面部已有清漿之勢，漸入佳境之象。奈頂平兼陷，根腳嬌紅。內因氣血不充，外被嚴寒所遏，最慮漿行不足，慎防七九朝癢塌之變。擬當歸助氣、養血、提頂、灌漿。</p>
<p>高麗參　酒炙黃耆　白歸身　紫草茸　元參　連翹　牛蒡子　白姜蠶　冬蟲夏草　制山甲　大紅洋縐　冬筍尖　口蘑　上洋米</p>
<p>晚診：加丹皮、大貝母、蘆筍尖</p>
<p>喜花六朝，服藥頗順，奈時值隆冬，嚴寒外束，今雖起綻行漿，無如皮薄頂平。書云：皮薄而嬌紅有漿亦系清稀，清稀則毒不能盡泄。恐八九日另生變端。法當氣血交補，統望應手漿者為吉。</p>
<p>高麗參　酒炙黃耆　白歸身　元參　連翹　紫草茸　丹皮　牛蒡子　嫩毛犀角片　制山甲白姜蠶　炙甘草　上洋米　上口蘑　冬筍尖　蘆筍尖</p>
<p>晚診：加冬蟲夏草、大貝母</p>
<p>喜花七朝，漿行七分，時有嗆咳，嘔惡黏痰，大便五日未解，小便短少黃赤混濁。書云：顆粒繁密而豆頂皮薄者，漿行弗實。漿既不實，則防毒火內攻，發之時必以補中溫托為主。成膿之後，當以涼血解毒為貴。若屢用補托，恐致燥熱。考前賢諸醫，有偏用溫補者，有偏用苦寒攻下者，均非定例，當以補中末三治要察，豈可混治。所謂醫理最深，審症立方不易，要求無太過，無不及，無偏僻之弊也。</p>
<p>東洋參　元參　小生地　粉丹皮　大貝母　連翹</p>
<p>晚診：加銀花、燈心、天花粉、大麥冬、水炒黃芩、霍石斛、活水蘆根</p>
<p>喜花八朝，漿足七分，尚有三分毒火蘊蓄肺胃，是以咳嗆，時有咽痛，嘔惡，飲食懶進，小溲混赤，大便六日未解。種種熱象，若執古方偏見，以投溫補，恐留遺毒。夫痘未有無毒火而發者，昨云初中末三治要察，此症系半虛半實。初宜攻逐，中宜溫補，繼而陽亢陰虛，當進清涼苦降，以助結痂耳。</p>
<p>元參　麥冬　小生地　銀花　連翹　霍石斛　大貝母　黃芩　花粉　滑石　赤苓　熟石膏　白蘆根　粳米煎水。</p>
<p>晚診：加真象牙（磨入）</p>
<p>喜花九朝，漿勢漸回，奈咳嗆未止，又兼音嗄，嘔惡頗平，食谷不旺，小溲黃赤而短，大便雖解不徹。刻下陽亢陰虛，尚有三分餘毒，毒火上凌肺金。蓋肺為嬌臟，主持諸氣，屬金而畏火，最防咳急，增喘不可不慎。議用滋陰潤肺，化毒回漿，佐以清涼苦降，望應手為吉。</p>
<p>北沙參　元參　麥冬　霍石斛　消橘紅　大貝母　雲茯苓　生苡米　花粉　澤瀉　豬苓　真象牙　青果核　生茶烏　白蘆根　羚角片</p>
<p>喜花十朝，漿勢漸回，尤幸嗆咳漸減，飲食亦增。實痘毒雖從漿而化，化而未盡，猶有餘毒在內，今身現銀疹，奈毒又有出路之機，漸入佳境之象，仍望應手無弊為頌。</p>
<p>北沙參　元參　麥冬　霍石斛　金銀花　連翹殼　大貝母　生茶烏　羚羊角　黃芩　生苡米　白蘆根</p>
<p>喜花十一朝，已成痂疕，仍有微咳，時有咽痛，口乾，舌下兼疼。此屬餘毒未盡，熏灼肺經，議用清肺化毒主治。</p>
<p>忍冬藤　元參　麥冬　枯黃芩　大貝母　淨連翹　天花粉　云白苓　羚羊角　上犀角　鮮石斛（取汁服，渣煎）　燈心　白蘆根　綠豆皮</p>
<p>喜花十二朝，飲食頗進，二便調通，咽痛、口乾均退，時有微咳多痰，舌尖之下作疼，身現銀疹堆痧，勢屬佳兆。仍候痂落之餘再現瘢痕之色。擬用清涼苦降，以免餘毒之疥。</p>
<p>忍冬藤　元參　麥冬　枯芩　大貝母　苦桔梗　五穀蟲　甜花粉　羚角片　連翹　生茶烏　白蘆根　綠豆皮　另用上犀黃、珍珠共研細末，擦舌下痛處。</p>

<h2>八、（四朝）漿勢未行</h2>
<p>（案1）某，喜花四朝，面部稍有塌破，周身紫滯不起，漿勢未行，此氣弱不能領毒外出，毒火歲邪交感，煩躁，口渴，飲水即啘，聞谷惡食，舌黃膩，服攻下，大便未解，種種弊端皆與症不吉。擬用清涼解毒，助氣攻裡，以望漿行納穀，勤加看守，方有生機之想。</p>
<p>鮮生地　當歸尾　赤芍　川芎　牡丹皮　花粉　上紅花　西黨參　綿黃耆　連翹　紫樸　酒炒川軍　上洋米　酒炒黃連　上口蘑　白蘆尖　活鯚花魚湯煎藥。</p>

<h2>九、（五朝）火不鎔漿</h2>
<p>（案1）竹巷周，喜花五朝，顆粒稠而分界，頂薄，根血不附。左項結毒，腫硬不紅，飲食少進，大便頻溏。此係體質素虛，脾腎火衰，火不鎔漿之象，急宜大劑補充內托助漿法，以盡力耳。仍防九朝癢塌，十一朝內攻喘變。</p>
<p>高麗參　炙黃耆　酒洗當歸　白芷　川芎　肉果　炮山甲　苦桔梗　上官桂　煨廣木香上洋米　口磨　羚羊角</p>

<h2>十、（種痘）九朝毒發右肢</h2>
<p>（案1）范公館薪延公孫，種喜九朝毒發，右肢腫痛，時寒時熱，時有自汗，大便四日未行。此係胎元伏毒本重，再加素有內熱，致生此弊。擬活血消毒定痛之方，望應手為妙。</p>
<p>忍冬藤　元參　酒炒細生地　全當歸　川芎　赤芍　連翹　上紅花　生甘草節　片薑黃　酒炒紋軍　上西珀　荷筋　白蘆根</p>
<p>晚看：早用清毒活血之品，大便暢解黑色，右肢腫痛稍松，刻現皮膚見痧。系餘毒頗有發泄之機。擬當清熱透痧，活血定痛。望應手身熱漸退為佳。</p>
<p>忍冬藤　連翹　牛蒡子　生甘草節　炒赤芍　蟬蛻　通草　上紅花　白蘆根尖</p>

<h2>十一、種痘後</h2>
<p>（案1）某，種痘後左項結核不潰不消。此氣虛留余蘊未化，又加曲池、右膝蓋漫腫而痛，時寒時熱頗糾纏。擬扶氣化毒法。</p>
<p>（方缺）</p>
<p>（案2）安宜廬家塘廬（女），據述種花漿未飽滿，漿既弗足，餘毒從何而泄？流注脾絡必致四肢腫硬，不紅，面色淡薄，肌肉消瘦，時有微咳，主肺虛。左目竄視屬肝熱，熱勝多眵。延今四十餘日，飲食惡餐，脾胃衰半，土不生金。顯然慢脾驚，消息擬進培補法，遵古治病求本也。</p>
<p>太子參　雲茯苓　甜於術　白扁豆　留白　橘皮　懷山藥　土炒白朮　炙甘草　忍冬藤　小紅棗　荷葉筋</p>

<h2>十二、受暑停食</h2>
<p>（案1）漣水任，種痘後飲食寒暖不調，早晨頭熱，腹脹，泄瀉。此脾陰不足，胃陽亦虛，濕滯蟠踞於內，轉運失常，已屬可慮。刻診脈息病情，外受新暑，內停宿食之象。所以泄瀉較前更甚，舌現白苔，口乾時渴，完穀不化，小便黃色。體困無力，勢防驚疳。謹之慎之。</p>
<p>新會皮　半夏曲　雲茯苓　六神麯　須穀芽　冬瓜仁　廣藿梗　六一散　鮮白扁豆花</p>

<h2>十三、疹</h2>
<p>（案1）某，外風與內熱遏膚，胎毒共時邪發，疹出而未齊之，回又早，邪毒逗留，歸於肺胃。是以面紅，煩躁難安，咳嗽，嘔惡，氣急，紋過氣關，漿粥不進，五液皆干，驚自內傳，人小症勢頗危，挨至明日寅辰二時，痰壅大喘必變。</p>
<p>外用：川雅連　桔梗　根樸　前胡　小京貝　甘草　焦楂　西河柳　琥珀抱龍丸　引用南薄荷煎水，和勻，分三次服。</p>
<p>（案2）某，內傷乳食致脾胃先傷，染時邪由口鼻而入，表遏里壅，身熱兩日，舌膩，虎口紋青，鼻流清涕，煩躁，口乾，多嚏，咳嗽氣粗，皮膚隱隱見疹，法當清透松肌，出齊為要，否恐回早增喘。</p>
<p>荊芥穗　薄荷　苦杏仁　乾葛　牛蒡子　蟬衣　青皮　前胡　苦桔梗　楂肉　櫻桃核</p>

<h2>十四、天吼</h2>
<p>（案1）管左，天吼半月，目胞發浮，咳嗽抬肩，擷肚，嘔痰，身振，面紅。蓋肺主一身元氣，今按其管九節之間，皆被風熱旋繞，失清肅之權，由咳極嘔極，氣無依歸，故痰至咽喉而忽降，屈郁中宮，飲食泛茲即吐，胸痛腹膨症。勿小視，趕緊擬二陳湯加桑菊飲，驅內生之痰熱，散外受之風邪矣。過七十五日以外可許痊安。</p>
<p>消橘紅　甘菊花　赤茯苓　生甘草　枳殼　桔梗　桑葉　苦杏仁　白蜂房　前胡　絲瓜絡　荷蒂　梨皮</p>

<h2>十五、纏喉風</h2>
<p>（案1）邵，由水痘四天，誤食發物，風熱內留，顆粒變為瘡疥，癢痛不休。繼而自搽冰片等藥，邪毒更無出路，蘊伏肺胃致之。咽痛，舌黃，啼哭無淚，兩鼻竅張，兩脅煽動，肺脹喘滿，胸高氣急，神識漸近昏迷，勢屬纏喉風險症。今指紋已過命關。縱有鮑姑艾灸、文伯神針、倉公、韋氏重生，總難濟旦夕之危。</p>
<p>（方缺）</p>

<h2>十六、閉痘</h2>
<p>（案1）某，身熱暴甚，旋見標點，皮膚隱隱，顆粒出之不快，業經一晝夜。此乃體質素虛，內因胎元伏毒，外因重感時邪，氣鬱血瘀，難以領毒外出，遂令顏色滯點，兼有葡萄癍痕。證見煩躁，唇裂嘔惡，氣粗，神昏迷睡，閉痘何疑？蓋其邪毒熏灼陽明，凶險最甚，倘凌及肺臟，喘血必至。種種情形毫無生理，第以諄囑懇切，不忍束手，勉力思維一法，以圖萬一之幸，不負覆雛之意，而慰跋涉遙臨也。</p>
<p>紫雪丹　引取靛根、蘆根煎水和勻，分三次服。</p>

<h2>十七、慢驚</h2>
<p>（案1）某，本來脾胃虛寒，新加病後戊己更傷。樞紐失職以致嘔吐，食不甘味，精神倦怠，大便鶩溏，完穀不化，勢成慢脾驚之候。考斯症乃虛驚也，與急驚之實症有云泥之別，雖見驚搦勾，總系木虛則動，無風可逐，無驚可療。惟宜補火生土，以運中陽，培土涵木，以安剛臟。姑望有成。</p>
<p>（方缺）</p>

<h2>十八、赤遊丹</h2>
<p>（案1）某，胎毒積熱鬱於肌肉，由肌肉達於皮膚。周身大塊發紅，如火燎之狀，露睛匝舌，液涸便溺不解，乃赤遊丹也。且幼稚臟腑柔脆，胃乏穀氣，僅能少少與藥。尤慮毒一陷心肺，恐無好音。</p>
<p>連翹　赤小豆皮　金銀花　大貝母　牡丹皮　黃芩　川黃柏　十三制軍　生甘草　綠豆殼</p>

<h2>十九、雲頭疹</h2>
<p>（案1）某，由昨早腹中隱疼，日曛時身忽暴熱。今視舌中浮黃，兩邊水白，背、四肢初起紅疙瘩，漸運成片，斷而不連，燥癢難忍。此名雲頭疹，系外風引動脾肺之血熱遏搏皮膚。若不忌口，必變瘡瘍。治宜小劑涼血，清無形之熱，消外來之風。</p>
<p>荊芥穗　白蒺藜　凌霄花　當歸尾　赤芍　小生地　白蘚皮　荷葉邊　紫背浮萍</p>
<p>（案2）徐，發熱四五日來，神倦不寧，腰足俱軟，詢知二日前左太陽迨承漿部位見點，若隱若現，勢如悶伏表裡，兩不宣暢。毒伏肝腎至陰之臟，不得外越。非雙解松肌、芳香搜逐，何以透發。設或發出，亦屬深畏。</p>
<p>（方缺）</p>

<h2>二十、（疹回）風溫郁遏</h2>
<p>（案1）陳，疹將回，熱未退，風溫郁遏於上，清竅不宣，咳粗似喘有聲無痰。尚宜開提肺氣。</p>
<p>前胡　桑皮　杏仁　薄荷　橘紅　桔梗　厚朴　象貝　紫菀　木通　玉金　白蜂房　觀音柳</p>

<h2>二十一、（六朝）癟塌無漿</h2>
<p>（案1）某，痘六朝，顆粒雖然圓綻，奈樹小花多，氣虛色枯不潤。昨忽咬牙，滑瀉，食入便有不化之形，致闊癟無漿，漿不外達，毒欲內陷，有帶火干收之憂。扶過十三、十四險關，尚得外療發臭，再能納穀，歸於正化，可望挽回。保元湯、雞鳴散合方加味。</p>
<p>西洋參　黃耆　廣木香　丁香　炒歸身　官桂　廣皮　甘草　牛蒡子　雞冠血入狀元紅三滴</p>

<h2>二十二、痘後便血</h2>
<p>（案1）某，十七朝，痂雖落而未充，面無華色，飲食無多，脾虛不攝馴致腸中作痛，糞後便紅。此遠血也，出於肝肺。心肺之陽不能降，肝腎之陰不能升，陽不潛藏，陰絡受傷。況兼餘毒發揚，熱擾神明，煩躁譫語，戰慄肢涼，所謂熱深厥亦深。</p>
<p>（方缺）</p>

<h2>二十三、復感下利</h2>
<p>（案1）汜水南馬廠，成云書乃郎，素本先天不足，加以暑濕內伏延經月餘，體削，勢欲成疳之象。近又下痢四天，紅白兼見，腹痛後重，幸身熱漸平，脈息數而微大，舌苔黃膩，間有乾嘔，口常渴而不飲。此乃熱入營分，無形之暑濕，夾有形之宿垢未清，症來非輕，謹防噤口等弊之險。擬芩芍湯加減，留方仍候高明教正。</p>
<p>酒炒黃芩　赤芍　茯苓皮　廣皮　炒黑銀花　飛滑石　焦楂肉　冬瓜仁　雞內金　生穀芽　枇杷葉</p>
<p>此症由病後元氣受虧，近因復感下痢，雖然新瘥，奈脾胃蘇而未振，面浮肌瘦，脈細且數，又加體質柔脆，恐成疳疾。本屆可慮，況陰液未充，肝陽獨旺。愚細思之，惟議扶脾健胃，兼滋營液丸法，緩緩圖治，方克有濟。不然湯藥常投，必致損胃減谷。欲求速功，豈可得乎？</p>
<p>丸方：雲茯苓　懷山藥　冬瓜仁　薏苡米　新會皮　五穀蟲　大白芍　雞內金　六神麯　生穀芽　熟穀芽　佩蘭葉</p>
<p>上法制㕮咀為末，用黑穭豆衣、金釵石斛熬膏為丸。</p>
<p>（程）按：醫者性命之關係，豈可不為深求？最難者幼科也。業此道全賴心誠，看得真，辨得透，又何難之有？大抵不越乎先後天之強弱。緬《經》云：先身而生謂之先天，後身而生謂之後天。先天之氣在腎，是父母之所賦；後天之氣在脾，是水穀之所化。先天之氣為氣之體，體主靜，故子在胞中賴母息以養，生氣則神藏而機靜；後天之氣為氣之用，用主動，故育形之後資水穀以稟，生身則神發而運動。天人合德，二氣互用。故後天之氣得先天之氣則生生而不息，先天之氣得後天之氣始化，化而不窮。但幼童小兒亦不能脫此圈子。何以見？蓋幼童受病多半由二氣衰薄，染病最易。或由飢飽不一，寒暄失調，則脾胃日敗，氣血漸傷。或拘管太過，則肝旺氣鬱屈，而不伸。或誦讀太急，陰傷氣耗，虧而難成或持重傷力，跌撲停瘀，經脈不和，真陰與元氣日漸衰乏，日復一日，遂有童損、龜胸、龜背等症。蓋小兒受病非由外感風寒，則內傷乳食，遂有驚風、咳喘、吐瀉、寒熱、疳癇等症。且喜幼童情竇未開，尚易辨治，小兒臟氣清靈，隨撥隨應，果能確得其本，而撮取之一藥可愈。非男婦損傷，積痼癡頑者可比。至若痘疹一症，俗名天瘡，一名聖瘡，言其變化莫測。一名百歲瘡，言其自少至老只作一番。原其所由，實由胎毒內藏命門四肢百骸，而復因時氣外觸，傳染相似，是亦天行疫癘症也。痘以稀朗為順，稠密為險，竟稀朗而收功，竟稠密而全功者，此亦天命，非人力能挽回也。痘有五要：一要出得盡，二要起發透，三要膿漿滿，四要收靨齊，五要結痂厚。論治將謂宗莊在田先生《千至金寶》，又偏於溫暖，溫暖是補益之稱。將謂宗費建中先生《救偏瑣言》，又偏於苦寒，苦寒即攻伐之別。此二公懷見相背，用意淵深，作後學楷梯。奈後學每讀至此反懷疑莫釋，如駕一葉扁舟誤入汪洋，飄飄乎莫知其所止始終。宜攻耶？宜補耶？疑惑業生，有歧路亡羊之嘆。從舍弟（鈺）受令祖老先生業，命讀翁仲仁《痘疹金鏡錄》，真屬慈航普渡，回春於掌握之間，大得中和之道。以此較彼，忌無怪乎？後車云前車之謬。大抵要合天符歲氣，當分稟賦強弱，有先虛後實，先實後虛，有純虛純實，有半虛半實，頭緒雖多，一言以蔽曰：明辨之。疹雖胎毒痘之末疾，亦要出得盡。惟二經受病，脾與肺也。內應於手足太陰，外合於皮毛肌肉，多帶天地間歲行診戾不正之氣，鄉鄰傳染而成，故曰疹也。疹以春夏為順，秋冬為逆。以其出於脾肺二經，一遇風寒勢必難出，且多變症，故於秋冬為不宜耳。疳疾者，疳者干也。干生乎濕，濕生乎土虛，土虛生於飲食不節，飲食不節生於初能飲食，見食即愛，不擇精粗，不知飽滿，食上加食，況小兒臟腑柔嫩，多食則不能化而脾氣鬱，脾氣既郁有拘急之象。兒之父母猶認為肌渴而強與之。脾因鬱而水穀之氣不化，而脾愈郁，不為胃行津液，濕斯停矣。土惡濕，濕停而脾胃俱病矣。胃為陽明多氣多血之府，中焦受傷無以散精氣，則五臟之汁亦干。營衛氣餒，故多汗多血，愈虛血氣，故肢體日瘦，中焦濕聚不化而腹滿，腹日滿而肢愈瘦，故曰干生於濕也。種種古人來路知其要者，一言而終，不知其要者，流散無窮。今先生善於敏悟，聞一以知十。再參閱先生立案，不啻與古為鄰，深諳古人意，立方虛用補，實用攻，寒用溫，熱用清，虛實並見則攻補兼施，乃黃卷幼婦之章程也。無毫釐之差，千里之失。足稱先生一片婆心，保赤指南。歲屆</p>
<p>辛丑之春二月十日識於義貞祠秀峰程鍾</p>

<h1>卷四　婦女疾病門</h1>

<h2>一、經閉</h2>
<p>（案1）某（婦），診脈息細數而澀，知經閉一載。此衝任脈絡空虛，故而晝寒夜熱，時而頭暈心惕，納穀不甘，大便時溏，土不生金，金不制木，木火凌肺，以致咳嗽痰不易出，即《經》所謂侮其所不勝者也。宜速藥為要，否恐見紅則不足之症成矣。擬用培補坤元，脾陽一旺，則生金有助，而天癸不治自來耳。</p>
<p>上洋參　野於術　歸身　大白芍　醋炒柴胡　丹皮　苡米　白扁豆　地骨皮　南棗</p>
<p>（案2）某（婦），三旬以外，經水忽停，蔓延五載。屬衝任、蹺維諸脈交傷，脾腎兩虛，泉流日涸。由色淡而短少，由短少而閉斷，此其枯竭已甚也。庸俗無知，猶云積血而通之破之，則成毀瓦畫墁之談矣。</p>
<p>（方缺）</p>

<h2>二、天癸未至</h2>
<p>（案1）某（女），年長十六，天癸未至，致之少腹塊疼，骨間蒸熱，咳嗽乾嘔，大便溏泄。此係衝任二脈，脾肺均虛，已屬淹淹之累。更可畏飲食不思，肢體瘦削一月，脈顯見枯槁，必成千血癆瘵無疑。</p>
<p>白茯苓　土炒於術　懷山藥　地骨皮　水炒白芍　橘絡　川貝母　白扁豆　肥玉竹　南青蒿露　蛤粉阿膠（後入煎）</p>

<h2>三、小便不禁</h2>
<p>（案1）蔣（婦），小溲不禁，此腎氣虛，失於約束，仿東垣先生法則：補中益氣加益智仁、小紅棗。</p>

<h2>四、漏經</h2>
<p>（案1）西壩委員王如金夫人，肝脾氣血交虧，陰虛陽搏，陰絡傷則血內溢。景岳云：「不時妄行謂之漏。」由漏而淋，總因奇經血病使然。應擬保陰煎加減，循循調治乃佳。</p>
<p>保陰煎　（見《景岳全書·八陣》）</p>

<h2>五、血崩</h2>
<p>（案1）張（嫗），老年行經，每來按月，如紫血之塊，紅血之淋。人以為還少之期，抑知是血崩之漸乎。不當行經而行經者，乃肝不藏，脾不統也。非大補肝脾不可，補劑中尤當兼補氣以止血，用安老丹加老藕法。</p>
<p>安老丹加老藕　（煎湯代水）</p>

<h2>六、衝任不調</h2>
<p>（案1）某（婦），肝氣素旺，衝任不守，經行數天，少腹硬痛。所行者有塊，色如膠漆，血海已虛，其病愈進。脈息細而兼弦。症屬可畏，恐其痙汗之變。法宜養肝和血之中兼化停瘀。</p>
<p>當歸　白茯神　柏子仁　九孔決明　酒炒丹參　女貞子　棗仁　遠志仁　消橘紅　金釵　石斛　上西珀　清童便</p>

<h2>七、濕熱凝瘀</h2>
<p>（案1）某（婦），六脈細弱，沉分有力，刻下外感已退，但經行多多，腹脹硬痛。此係濕熱凝瘀，治宜養血歸經，佐以搜濕剔瘀之劑。</p>
<p>全當歸　赤芍　丹參　生五靈脂　香附　白蒺藜　赤苓　山楂　焦柏葉　澤瀉　黑鬱金片　苡米　茺蔚子</p>

<h2>八、心肺腎虛</h2>
<p>（案1）安東花園莊喬老太太，心陰虛則易汗，肺陰虛則多嗽，腎陰虛則發燒，此三者乃損怯根萌。由於勞煩過度憂思，兼傷營血暗耗，肝無所養，且肝主筋，筋脈失和，從督脈痛，痛雖止而身發麻，又氣虛之一證也。連服養血柔肝，益陰涵肺，養心以慰，養腎以涵。夏秋頗見痊安，刻當冬令一陽來復升動之時。蓋人身一小天地，其陽一升，過胃貫膈，上乘嬌臟，金宮不耐，致肺燥化火，循喉嚨則心辣咽乾，咳吐痰多，是火熬津液，液釀成痰也。但培補滋潤，純陽之品，勢難容緩。</p>
<p>（方缺）</p>

<h2>九、脾肺並病</h2>
<p>（案1）喬春墀夫人，素質虛弱已久，本非松柏之姿。屢服湯液頗獲微功，茲據述因憂鬱勞神。鬱則傷肝，肝氣上逆；憂則傷肺，肺氣不降。升降無權，脾胃未能旋轉以致胸口仍悶，氣兼上漫，空咳痰稀，兩膀作疼，考究病情，乃屬根蒂有虧。擬方不過生化剋制之理，撫其受侮，儆其沖擾，悅胃以培脾，養金以制木，如是而已。至欲復舊如初，屆乎情調，遠慮勿煩，庶臻康泰矣。</p>
<p>銀條沙參　雲茯苓　白茯神　蜜炙橘絡　川貝母　肥玉竹　白扁豆　須穀芽　首烏藤　米炒冬瓜仁　秈稻根鬚露</p>
<p>前案業已申明，毋庸復述。疊進悅胃培脾合養金制木之法，尚屬平寧，未生他歧。刻惟午前燒熱，胸口微疼，空咳痰混，此乃舊根也。實緣肺液生化不速，厥陰虛陽易動。加以體質素弱，由來已久。擬方無非培補之品，仍須遠慮勿煩，謹慎調攝，庶幾與藥餌兼功。</p>
<p>前方加米炒麥冬（去心）</p>
<p>體弱之人氣更弱，無生血之源；陰虛生內熱，熱流肝脾之絡，致令手大指二指痛作無時；再加咳唾白沫，中氣短少，胸前常悶；此肺液不充，肝鬱頗多所至。今仍擬製木養金，脾無賊邪之害；滋陰化熱，肺得治節之權。惟服此法可奏膚功。</p>
<p>西洋參　抱木茯神　首烏藤　橘絡　川貝母　肥玉竹　丹皮　甘菊花　釵石斛　阿膠　荷筋</p>

<h2>十、氣蒙胎</h2>
<p>（案1）某（婦），經停六十餘日，飲食惡腥，間或嘔吐，頭暈，腰痠，勢同惡阻。自云前因嗔怒動肝，胸痛腹脹，氣鬱不伸。今診脈未現滑象，不可即以妊斷。先擬加減搖胎散試之。</p>
<p>蘇梗　廣皮　川玉金　陳香之皮　佛手片　廣木香　川杜仲　川續斷　四制香附　金橘葉　荷蒂</p>

<h2>十一、血瘕</h2>
<p>（案1）桃源趙（婦），經阻腹痛，結塊如核，按之則堅，推之移易能動，此瘀血凝聚成瘕。痛久陽虛怯寒，陰虛骨蒸，心惕怔忡，業延半載。幸穀食可餐，生氣未衰，作中流之砥柱。理服牡丹皮散加雞血藤膏、太子參，一消一補，方能卻病。</p>
<p>牡丹皮散加雞血藤膏、太子參</p>

<h2>十二、經衍致病</h2>
<p>（案1）某（婦），衝任血少，經事過期，因虛易受六淫之氣，襲入絡脈之間，兩腿痠痛多日。擬養血舒筋，俟血足筋強，則風寒濕自然解矣。</p>
<p>（方缺）</p>

<h2>十三、肺腎不足</h2>
<p>（案1）袁江唐（婦），氣血雙虛，肺腎不足。於是咳嗽氣喘，動則更甚，痰吐涎沫，飲食懶進。陽虛畏外寒即皮寒，陰虛生內熱即骨熱。延今累月，脈息細數無神，勢屬重候，再延非所宜也。</p>
<p>北沙參　雲苓　茯神　蜜炙橘絡　川貝　玉竹　金石斛　苡米　冬瓜仁　鮮百合</p>

<h2>十四、癲</h2>
<p>（案1）河口王（女），病後氣血未復，加以驚嚇，肝膽內傷，心血不附，包絡鬱熱。熱生痰，痰熱相爭，是以筋惕怔忡，神志時昧，怨哭不安，脈息細數兼滑。此乃虛中夾痰，勢屬癲症。法當寧心安神定志，佐以清化，徐徐治之。</p>
<p>青龍齒　丹參　茯神　橘絡　大貝　石斛　天竺黃　夜合花　白薇　蓮心　鮮竹瀝</p>

<h2>十五、癇</h2>
<p>（案1）海州吳（女），肝膽鬱熱已久，致生痰涎。漲漫厥陰少陽，是以抽搐時作時止，迄今半載有餘，症成癇恙。痰火根深，非頃刻可消除。先擬十味溫膽湯合清心法，再訂丸方，緩調為穩。</p>
<p>十味溫膽湯加蓮子心</p>
<p>丸方：虎睛　烏犀角　遠志肉　山梔　十三制軍　大貝　煉蜜為丸。</p>
<p>（金）按：陳無擇云：癇病之發，其來猝至。由於驚嚇，臟氣不平，肝膽鬱熱，釀久成痰，痰涎瀰漫所致。應擬靈動鎮墜之品，毋使痰熱上乘，可保君主之官，以供神明之用。今選虎睛鎮心安魄，犀角入手厥陰，掃除鬱熱，君臣有化育之功，遠志寧神益志，梔子引三焦火屈曲下行，佐使無霸強之咎，協以制軍通肝經痰結，助以貝母為滌氣分痰蒙，外加煉蜜能留戀下焦，俾痰熱從二便解則神歸舍，肝膽相寧，脾胃健旺，庶免舉發矣。</p>

<h2>十六、肝火沖肺</h2>
<p>（案1）某，氣血素虧，加以肝火衝於肺絡，咳嗽吐血日多，骨蒸畏寒。現當春旺之時，其病更劇。脈診細數且弦，恐成不足，又兼經停七月，所慮尤深。</p>
<p>北沙參　茯神　金石斛　橘絡　大貝　丹參　連心麥冬　甘菊　阿膠　藕汁　葳蕤</p>

<h2>十七、子癇風</h2>
<p>（案1）漕憲署東李，胎孕滿足，肝熱素盛。又兼外受風邪，風乘火勢，火仗風威致之。頭痛痛極，抽搐四五次，舌苔水白，人事明昧相參，脈息寸口浮弦，推之數大，症成子癇。風勢篤，如風前之燈，草上之霜，勿可渺視。</p>
<p>肝陽與外風齊熾，竄絡為疼，疼極發痙，抽搐較昨稍輕。奈唇口色青，寐則鼾呼，懷孕勢屬不宜，權以熄風定痙，速得分娩為祥。</p>
<p>肝陽與外風熄之八九，搐搦鼾呼幸平，惟滿足未產，又見降紅，恐不利於胎，仍望分娩乃吉。</p>
<p>（方缺）</p>
<p>（金）按：子癇風一症，勢屬垂危，自不待言，治之得法，尚可回春。每遇此症，（予）甚模糊不解，大抵主病者倉卒之間，總以熄風定搐為要法，殊不知非盡然也。冬十一月，（予）有表弟婦，乃校書中之字範星如之妻也。伊曾得此，延蘇懋翁協（予）診視，議曰：素知其稟性，肝旺善怒，又況初妊，三四日前頭或痛止。十五日晚，初由嘔吐頭痛，痛極發痙而起搐，第一次鼾呼嚼舌，角弓反張，不醒人事。搐止即醒，尚能伸舌，下榻解溲二次，所嫌者頭痛太過，飲水即吐，約緩二時始搐。第二次復蹈前轍，搐止醒稍遲，令其伸舌，赤無苔，並無青黑之跡。其下接連抽搐九次愈搐愈緊，人事直不醒，牙關緊閉。胎漸上竄，闔宅驚駭無措。懋翁與（予）同議一方，不過熄風搐，亦羚羊角散加減之意也。與夫服乩方荊芥一錢、全當歸三錢、撫芎一錢、生半夏一錢半、百鍊草一錢半以及開骨散，俱煎灌下，亦定靜催胎之法也。並令煮發者熄風之理也，燒藏香者催生之道也。然而均不濟事，奈何？奈何？挨至十六日晚，以及半夜皆煩躁發狂，仍不知人事。此際病者已凶，其腹孕矣。腹軟不大，觀伊形狀慘極苦極。（予）詈聲言曰：「服藥無效，命系須臾，豈真坐視待斃耶？與其待斃，莫若死當活治也。照下死胎法治，保大不保小。」即命僕婢撬開牙關灌藥，胎一落而諸病則除。商之於蘇，曰：「然。」遂用平胃散加芒硝三錢，大黃三錢，切勿因峻厲藥而被迷惑也。有吾徒丁月樓曰：「加麝香三分，不獨穿經透骨，反能助藥成功，胎固殞而大命保存焉。」（予）細思之，遂許加麝，服候半晌，雖弗見若何，由四更後則不搐，僅見面赤困睡，困雖困，喜其呼尚答應。牙關稍開，舌能出齒，細看亦無別苔，此風癇息、痰熱降之象也。十七日，丁曰：既獲效機，照前方大黃取汁更妙。予又許之，再進一劑，統用六錢芒硝，六錢大黃，六分麝香。服候片時，始聞腹鳴不已，日將西斜，人事忽醒，自索茶飯。問伊飢否？點首曰飢。即與饅首一枚食之，食飲俱不嘔吐。再問腹中痛乎？動乎？腰痠否？答曰：痛動俱無，腰亦不痠，只覺腹中鼓盪異常，似乎下墜。解溏糞一次，一派大見轉機也。十八日黎明，又解溏糞一次，解尿一次，又兼下肉釘點。巳時，食糯米糕湯半碗，究竟人事半明半昧，怕煩喜睡，痰熱未清所致。午後又服化癥回生丹一粒，或云胎已化矣。（予）真不信，因有舌苔可憑。至丑時，覺腹中撐墜，約片刻即得分娩，子母兩生。可見藥用當則通神，非盡以迂拘守一定之法，為了事神而明之存乎？其人慎勿忽略爾。</p>

<h2>十八、妊娠下痢</h2>
<p>（案1）某，妊娠六月，滯下多日，脈象沉實，舌苔淡黃。寒濕食鬱於陽明，釀久成熱，熱邪下迫，所下皆紅醬形色，窘痛努責，症頗重要。清通等劑倍嘗，奈未獲效。憶河間先生有云：「調氣則後重自除。」今擬其法以廓清腑邪，統望應手，方能云吉，否恐隕胎生變。</p>
<p>（方缺）</p>

<h2>十九、產後類中</h2>
<p>（案1）許，產後十六朝，瘀血行而未盡，復加類中右側，因體寒先虛，而後風邪襲，腑氣閉，人事昏糊，時有抽掣。今已四天，鼾呼，遺尿，口張，五絕已現。其三診，脈右部如絲之細，左部豁大無倫，近於雀啄，一派情形，生機最少，可畏不及復中。防明日汗脫生變，姑用天麻二陳法，稍冀萬一。古人所謂與其坐以待斃，莫如含藥而亡。</p>
<p>明天麻　橘絡　半夏　桑葉　炒甘菊　鉤藤鉤　天竺黃　茯神　丹皮　上西珀　荷筋</p>
<p>另用：宜常灌熱童便。</p>

<h2>二十、產後寒熱</h2>
<p>（案1）東鄉附馬營許，胎前稟賦本弱，寒熱往來，糾纏未退，繼而產後人脈皆空。當遵丹溪云，與大補氣血為主，縱有他症以末治之。今惡露雖行無如不暢，又加長夏暑濕外感，氣滯內蘊，盤踞陽明，熏蒸太陰。二經受病以致舌苔根膩，中黃邊絳，口渴，乾嘔，寒熱較甚，入暮甫退，飲食懶思，咳嗽便瀉。情形頗重，攻補難施，攻則反傷營衛，補則助邪樹幟。刻下先擬清通和化之法，取其胃以通為補，肺以和為貴，統冀標症速解，後調理奇經。</p>
<p>（方缺）</p>

<h2>二十一、新產後</h2>
<p>（案1）某，新產七朝，肝脾兩虧。肝虛腹脹，惡露不行，脾虛食少，白帶頻頻。產後八脈均空，慮成癆怯，法宜益母八珍湯通補奇經。</p>
<p>益母八珍湯加酒炒丹參、陳艾葉、藕汁、清童便</p>

<h2>二十二、半產後</h2>
<p>（案1）某，素有血熱生風，又加半產之後惡露不盡，纏綿已久。故胸腹脹痛，飲食不進，大便二十餘日未行，乃腸胃屈曲處液涸燥結。下既不通，虛火必返於上，沖肺則咳嗽氣粗，症來頗險。姑訂一方以看醫力。</p>
<p>元參　大麥冬　甜杏仁　大貝　茯苓　柏子仁　麻仁　鮮石斛　白蜜　梨肉</p>
<p>（案2）某，半產十數日，惡露湧行，乃瘀血未盡，新血未生，是以心悸頭眩，飲食減少，陰虛不寐，陽虛汗多，脈象弦細。法宜黑神散進退，雖補陰理陽，最怕虛脫之變。</p>
<p>（金）按：丹溪先生云：產後禁芍，恐酸寒伐生生之氣。此語幾誤蒼生，總而言之非定法也，臨症見機而作可也。</p>
<p>炒當歸　炒赤芍　炒棗仁　黃耆皮　阿膠　浮麥　炙草　柏子仁　朱茯神　熟地炭　桂圓殼　秋荷葉蒂（飯上蒸）</p>

<h2>二十三、胎墮</h2>
<p>（案1）王，懷妊七月，本屬肺經司胎之際，胎陰難成，易於隕墮。今血行過多，紫塊血胞之類，血海業已受虧。繼而產後百脈更傷，氣無血附，神無所依，陰虛鬱冒，熱沸上騰，迷濛清竅，遂致人事不醒，時吐痰涎，切脈右寸細小，左關數澀，最慮生風變痙。茲妄擬小定風珠，取其大隊濃濁填陰塞隙、介屬潛陽，預保元坤之欲脫，亦防巽裂於將來，鎮定以雞子黃一味，從足太陰，下安足三陰，上濟手三陰，使上下交合，陰得安其位，斯陽可立根基。俾陰陽有眷屬一家之義，則庶乎，其不差矣。</p>
<p>雞子黃（生用𢿱散）　阿膠（燉化）　生龜底版　大蛋菜　清童便</p>

<h2>二十四、梅核氣</h2>
<p>（案1）某，寡居六載，家政幸勤，矜持鬱悒，勞損乎？肝水虧，木旺氣結橫於胸中，痰氣交阻。咽嗌如絮如棉，吐不出而咽不下，進食必嗆，左關脈弦勁，梅核氣已成。此症務須懷怡志悅，拋卻塵煩，服藥庶幾有效。倘疑以滋疑，求效而莫得，欲痊而難可，反增劇焉。今仿《局方》逍遙散治例。</p>
<p>歸身　白芍　醋炒柴胡　茯苓　桑葉　丹皮　炒大貝　牡蠣　九孔決明　橘絡　白旋覆花　沉香汁　青果核汁</p>
<p>舟行水搖雖動，勿傷其內，陽動水消雖耗，不歇其本，此指逍遙散而言也。已連服十劑，復診症勢脈象頗平，納食不嗆，因屬應手，尤須怡情適志，既不追窮已往，亦不可慮及將來，切囑切囑，仍宗原法乘除主治。</p>
<p>原方加佛手露、黃玉金，減醋炒柴胡、沉香汁</p>

<h2>二十五、脅痛</h2>
<p>（案1）季，間瘧留邪，燒熱均減，脅痛未除，痛久必入血絡，脈息芤澀，乃氣血交痹。是以時作時止，前因經來不暢，大怒動肝，當擬扶正逐瘀，兼加肝氣，再力佐朱南陽泄濁治。</p>
<p>東洋參　茯苓　冬朮　歸鬚　炒桃仁　山甲片　橘絡　滴乳香　沒藥　元胡索　五香丸（入煎）　兩頭尖　韭白汁　姜半夏</p>

<h2>二十六、蓐勞</h2>
<p>（案1）某，臨盆時用力早，陰陽已虧，瘀未行盡，拖延二十餘朝。元氣尚弱，新血弗能驟生致之。少腹常痛，肢體走疼，自汗頻來，形容日見羸瘦，飲食不消，虛眩無力，症名蓐勞。古云產後病有絲毫重於山嶽。況此疾亦非輕淺，勉用《金匱》方，稍冀續命也。</p>
<p>當歸　生薑　新山人參　蜜炙綿黃耆　丹參　山藥</p>

<h2>二十七、黃疸</h2>
<p>（案1）周（婦），經將畢，血尚虛，面垢，氣粗，懶食，脈濡，舌現膩苔，腹滿，大便燥，身、目、尿黃。此屬水穀之濕，菸酒之熱，蘊結陽明，脾失運動，濕鬱熱蒸，濁凝氣聚，日久化成膠固之邪，儼如罨曲之狀，故發陽黃疸症。喜得色尚鮮明，速治可愈。近所慮者，防轉陰黃之險。</p>
<p>西茵陳　酒炒制軍　炒山梔　淡乾薑　赤苓　豬苓　青皮　瓜蔞仁　白通草　苡米　澤瀉</p>

<h2>二十八、產後氣粗</h2>
<p>（案1）戴，恙由胎前傷風咳嗽，產後雖愈而氣血尚虛，未能驟期豐盈。繼加夙昔肝失條達，鬱極化熱，熱射於肺，蘊畜不化，致失清肅之權。蔓延日久，氣粗不已，咳嗽時而見紅，早起面腫，近來飲食不甘，明明子病及母。速當保守肺陰，氣和以降其熱，資生脾土，液足以養其肝。仍須節制飲食，悅志勿煩為妙。如此一月，可許瘥安，否恐春分節近，天人換氣，厥陰之絡血上湧，生氣再衰則不足之境。擬投喻嘉言清燥救肺湯進退以治之。</p>
<p>（方缺）</p>

<h2>二十九、休息痢</h2>
<p>（案1）朱（婦），細辨右關沉分濡弱，左關長夏現初春之脈，推之澀，兩尺輕舉則洪數，久按如棉。詢知因休息痢旬月，肉脆經停，疊進諸明公之法頗合機宜。奈脾胃虧甚，命門真陽虛極，弗能固攝。加以濕邪內蓄，濁結氣聚，脾胃大傷，肝木鬱而不舒，土必被克，致胸痞不食，膚腫脹且大，青筋暴露，自汗頻頻，兩手時而發痙，二便難於單解，神識有三分昏憒，以及痢下皆血。視諸弊竇，由痢變成滿症，喘脫難逃。今勢已至此，恐病深藥淺，鞭長莫及，既招（余）治，又何忍袖手。勉遵用官方參苓白朮散，除甘、桔、砂、朮、棗者，避其膩補辛燥。乘訶子、益智固攝其陰，荷蒂、老米鼓舞胃氣，以運中陽。兼用蓮心獨保心臟，聯冀一線之轉機也。</p>
<p>米炒東洋參　白茯苓　連皮扁豆　新會皮　冬瓜仁　生熟苡米　訶子肉　益智仁　懷山藥　炒黃荷蒂　陳老米　蓮子心</p>

<h2>三十、中暑</h2>
<p>（案1）阮太太，年及古稀，體質應弱，時值炎天酷暑，忽然暴疾，書所謂「邪之所湊，其氣必虛。」上騰之邪太過，清空之所失職，宜乎？人事昏憒，汗出濈濈，此症中暑是也。立方辛涼，折其上騰之威，佐以芳香，透其清空之竅。尚得人事，明白可許，六分圖幸。</p>
<p>人參至寶丹　引捲心竹葉、白豆花、熟軍煎水和服。</p>

<h2>三十一、產後濕溫</h2>
<p>（案1）蕭，由夏月產生吸受暑熱入肺，咳紅至秋未愈。今忽面赤，頭眩，舌苔干膩不黃，口常渴而不飲乎。按皮膚不甚燔蒸，業延四日，書名「濕溫」。顯系伏邪未入陽明已護膻中，致神昏譫語，診脈息濡數。自云：只熱無寒，此溫為陽邪，最善傷陰。故方擬改從濕溫辛溫法，變易辛涼輕宣上焦。所謂無開門揖盜之法，有輕以去實之能，免傳中下。</p>
<p>炒銀花　芥穗　牛蒡子　桔梗　炒梔子　薄荷　甘草　杏仁　白豆花</p>

<h2>三十二、瘧後懷孕</h2>
<p>（案1）寶應吳，瘧雖止，尚有餘熱化而未盡。又加人弱，懷妊，胎火上衝，是喉間紅腫作痛，以及口齒皆然，因痛飲食難嚥。理當兼治，擬輕清清降之法，速退即佳。否防潰破。</p>
<p>雲苓皮　炒條芩　炒梔子　甘菊花　白蒺藜　生甘草節　苦桔梗　橘紅　大貝　生白扁豆　鮮荷葉</p>

<h2>三十三、帶下</h2>
<p>（案1）某，心悸泛泛，腰痠骨骱盡痛，黃白帶下如注，是氣虛不司攝，脾胃之痰濕移於帶脈。帶脈者，如帶束腰，肝腎內損，漸及奇經。例以淡滲固提劑。</p>
<p>真潞參　雲苓　甜冬朮（米泔水洗，黃土拌炒）　炙甘草　橘絡　半夏　益智仁　九制首烏　懷山藥　荷筋　苡米</p>

<h2>三十四、肉苛</h2>
<p>（案1）某（婦），先腹痛而後經至期遲，色黑，脈右細，左澀。痛久臟陰失守，指液垂涸，筋脈失於榮養，盜汗，體疲，行走未能適意昭然。營氣虛則不仁，衛氣虛則不用，營衛氣虛則不仁，而且不用，名曰肉苛。</p>
<p>（方缺）</p>

<h2>三十五、居經眩暈</h2>
<p>（案1）某（婦），居經三月，內燒減食，肝之陽強，脾不統血，腹左有痞膨脹，無妊脈發現。素工針業，目注神凝，陽升人巔，加以無因煩慮，慮從心，心虛包絡有熱，煩從火，火煉成痰。痰在上，火在下，火炎上而動其痰，故作眩暈，身轉，耳鳴，如立舟車之上。晝則喜笑多談，夜則寤寐不安。當沉潛虛陽以安神，復入化痰滌熱以補心。忌投剛燥，俾痰熱去，眩暈止，再議調經。</p>
<p>（方缺）</p>

<h2>三十六、便血</h2>
<p>（案1）某（婦），經閉，發燒，便血日久，脾胃之正氣皆虛，行動則喘，心中跳躍，其動應手，皮黃，面浮，食少，脈細。近防瀉血汗脫，遠防木旺於春，剋土腫脹。仿歸脾實脾法。</p>
<p>土炒冬朮　北沙參　炙黃耆　土炒歸身　炙黑甘草　茯神　遠志肉　棗仁　煨木香　橘皮　小棗　龍眼肉　秈稻葉露</p>

<h2>三十七、產後便難</h2>
<p>（案1）某（婦），產後二十一朝，營衛有傷，瘀蓄熱結，燥氣上逼則嗆咳無痰，呼吸似喘。肺不主宣布，大腸與之為表裡，腸間津液不足，傳導失司，少腹脹，大便難。</p>
<p>（方缺）</p>

<h2>三十八、胞中濕熱</h2>
<p>（案1）鞠，妊娠相近八月，胞中濕熱移於小腸，小溲作勒，溺出赤白如膏。《經》云：有痛則為淋，今不痛，莫以子淋治。</p>
<p>川萆薢　草梢　炒梔子　木通　白苓　澤瀉　丹參　盤龍草　赤苓　豬苓</p>

<h2>三十九、悸動</h2>
<p>（案1）某（女），倒經已愈，診得兩關脈象頗平，兩尺沉分似覺有力。此肝漸調暢，胃漸安和，痰濕雖化而余蘊猶存，陰虛來復，內熱易生。書謂陰虛於下，宗氣散而不納，逆而上行則浮撼於胸臆。所以悸動，弗能驟止，盜汗時來，今投輕補，合原擬。</p>
<p>（方缺）</p>

<h2>四十、血不歸經</h2>
<p>（案1）童，結縭九年不育，是血少氣旺難孕。性拘多怒，怒傷肝，肝陽沖灼，不藏諸經血液，則血菀於上，暴吐盈碗。益氣如橐籥，血如波瀾。天下無逆流之水，逆者由乎風也；人身無倒行之血，倒者因乎氣也。氣有餘便是火，血不足則生熱。今血不歸經，錯經妄行，用犀角地黃純陰入精血之品。氣依之，如魚得水；血依之，如霧復淵。</p>
<p>（方缺）</p>

<h2>四十一、經病</h2>
<p>（案1）某（女），服丸方後似合病機，刻下天癸適來，帶下紫血成塊，佳兆也。復脈細軟，正氣素虛，據述所行未暢。擬用決陰煎，以補為瀉，順其勢而導之。</p>
<p>（方缺）</p>

<h2>四十二、血癥</h2>
<p>（案1）板浦廠楊（婦），服藥餌以來雖獲小效，但血癥未消。癥者，真也。氣聚血結，由無形釀為有形之塊。時而移之不動，腹痛時作時止。惟午後最多，痛久入絡，真陰與元氣衰乏，陰血虛則發燒，氣虛怯寒，累及肝脾腎三臟。土不生金，虛陽上潛，致側眠在左則咳嗽，在右而痛更甚，病勢反覆不一。脈沉細浮分數，有內損成癆之象。況指日春分，天人換氣，防胃敗不食，切慎。</p>
<p>（方缺）</p>
<p>（黃）按：婦女諸病，其治無異於男子，其異於男子者，惟調經、經閉、帶濁、崩漏、癥瘕、生育、子嗣、胎前、產後諸病及乳疾、前陰諸病不相同耳。《易》曰：大哉！乾元萬物資始，此言氣之始也；至哉！坤元萬物資生，此言形之始也。人得父母之氣，以生氣生形，即稟乾坤之氣也。兩儀既兆，五行斯彰。故天一生水，水屬腎，名曰天癸。又曰經水，又曰月信，如潮之有信，如月之盈虧，不愆其期。先天天癸，謂腎間之動氣，乃稟自父母，資其始也。後天精血，謂水穀之所化得之，形成之後，資其生也。《經》云：女子二七腎氣盛，腎間動氣盛也。二七而天癸至，謂先天癸，如中之動氣。至於女子胞中，沖為血海，任主胞胎，衝任皆起於胞中。所以任脈通，太衝脈盛。血氣之行，外循經絡，內榮臟腑，氣血調適，運行不息。上為乳汁，下為月水，匝月之間，衝任血溢而行，月事以時下，故能孕子也。褚澄云：「女人天癸既至，逾十年無男子合則不調，未逾十年思男子合亦不調。」此語固為不調之宗旨，而起病由最冗論其常，未盡其變也。猶有因惡阻三月胎氣繫於脾，如寄生之託於苞桑，蔦蘿之施於松柏，根蒂未堅。誤感風寒，或食生冷，寒侵胞門，凝於血分，脾胃生氣被逼，致虛墮滑難免。衝任督帶諸脈有傷則不調，或稟賦虛弱，平素帶下頻頻則不調，或房勞過度，氣虛血少則不調，或當經期鬱怒傷肝，肝傷血耗則不調，或因有熱則不調。遂有錯經妄行，過期不及期之弊，或多或少或紫或淡則失其常候，亦為之病也。夫胎前有胎動、胎病、兒暈、子淋、子腫、子懸、子鳴、子煩、子瘖、子癇等症，重胎教者則免。而產後為病尤多，賴業醫者宜辨乎脈候，以明內外之因，審乎陰陽，以別虛實之異。病根透徹而施治轍效，慎毋概以逐瘀為了事，亦毋概以溫通為準繩。今觀先生案中，凡臨證未嘗不用攻濟，然如室女天癸從未至，肉瘦神瘁，飲食不思，少腹塊痛，骨蒸咳嗽，便溏者，先生則曰：先天最薄，真陰不旺，脾肺皆虧，必成乾血癆瘵，從養榮培脾例為法。如經阻腹痛，結塊如梭者，先生則曰：瘀血凝聚成瘕，內燒心惕怔忡，從舊血不去，新血不生例為法。如經閉晝夜寒熱，納穀不甘，咳嗽痰不易出，頭時暈，便時溏者，先生曰：衝任脈絡空虛，土不生金，金不制木，木火凌肺，勢成癆怯，從培補坤元例為法。如先因經來不暢，繼而間瘧燒熱，大怒動肝，脅痛時作時止者，先生則曰：病久必入血絡，氣血交痹，從扶正逐瘀例為法。虛實治，得其宜，可循次推之。至於臟腑奇經、內因之病機玄蘊難測，即有友輩一二講者，終屬模糊。惟先生專於此，條分縷晰，看得其精微，假如心包為痰熱蒙護，用犀角以為安鎮靈臺；肝升過極，用決明以為柔和剛臟；脾虛濕困，用扁豆為充實中州；肺有火灼，用麥冬以清化金官；腎水不足，用熟地以為培補先天；假如膽病，宜進苦酸，實則苦以泄之，虛則酸以收之；胃病宜進辛甘，實則辛以通之，虛則甘以緩之；大腸三焦病，實則咸以軟之，虛則滋而潤之，輕可去實也；小腸膀胱病，實則淡以利之，虛則升而降之，下病上取也。若夫衝脈為病，用紫石英以為鎮逆；任脈為病，用龜板以為靜攝；督脈為病，用鹿角以為溫煦；帶脈為病，用當歸以為宣補，凡用入臟腑奇經藥，靡不如芥投針。先生讀書見症，皆多而胸具靈機，於內因之症一一尋源探本。以上論症彷彿已備。語云：鴛鴦繡出從君看，莫把金針度與人，若用金針暗裡度，全憑劉案指歸真。</p>
<p><u>庚申秋菊月九日　伯喬黃樹森識</u></p>

<h2>四十三、集方</h2>
<p>案中所用諸方悉載於後</p>
<p>［通關散］（一名滋腎丸）　知柏　肉桂</p>
<p>［清宮湯］元參心　蓮心　連翹心　竹葉心　連心麥冬　犀角尖</p>
<p>［增液湯］（鹹寒苦甘法）元參　麥冬　生地</p>
<p>［五心湯］元參心　麥冬心　連翹心　蓮子心　燈心</p>
<p>［蘇合丸］蘇合香　安息香　冰片　犀角　白朮　熏陸香　麝香　香附　木香　沉香　丁香</p>
<p>上十一味為末，逐一配勻量，加煉蜜和劑作五十丸。另以硃砂一兩，水飛為衣，蠟護，臨用剖開，井水、生薑湯、溫酒皆可化下一丸，或加服。原來古方尚有白檀香、蓽撥、訶藜勒，《局方》載去之，因其太澀燥耳。</p>
<p>［河間地黃飲子］熟地　山茱萸　石斛　麥冬　五味子　石菖蒲　遠志　茯苓　蓯蓉　官桂　附子　巴戟天　少入薄荷、薑、棗煎服。</p>
<p>［防風通聖散］大黃　芒硝　荊芥　麻黃　梔子　赤芍　連翹　甘草　桔梗　川芎　石膏　滑石　防風　當歸　薄荷　黃芩　蒼朮</p>
<p>［嚴氏實脾飲］茯苓　白朮　木瓜　甘草　木香　大腹皮　五加皮　草豆蔻　附子　乾薑　厚朴</p>
<p>［滋陰復脈湯］（即炙甘草湯）　炙甘草　人參　生薑　桂枝　麥冬　生地　大麻仁　大棗　阿膠　加酒煎服。</p>
<p>［六和湯］藿香　厚朴　杏仁　半夏　砂仁　木瓜　赤茯苓　白朮　人參　扁豆　甘草　薑棗煎。</p>
<p>［銀翹散］（辛涼平劑）　銀花　連翹　苦桔梗　薄荷　竹葉　生甘草　荊芥穗　淡豆豉　牛蒡子</p>
<p>鮮葦根湯煎，香氣大出即取服，勿過煮。</p>
<p>［銀翹湯］（辛涼合甘寒）　銀花　連翹　竹葉　生甘草　麥冬　細生地</p>
<p>［潤腸丸］歸尾　羌活　桃仁　麻仁　大黃　秦艽　防風　皂角子</p>
<p>［桃花湯］赤石脂　淡乾薑　白粳米</p>
<p>［木香異功散］人參　於術　茯苓　甘草　陳皮　木香</p>
<p>［真武湯］茯苓　於術　白芍　附子　生薑</p>
<p>［金水六君煎］歸身　熟地　茯苓　甘草　橘皮　半夏</p>
<p>［金匱腎氣煎］熟地　山萸肉　山藥　丹皮　茯苓　澤瀉　肉桂　熟附子　車前子　牛膝</p>
<p>［秫米半夏湯］秫米　半夏</p>
<p>上以流水千里以外者八升，揚之萬遍，取其清，五升煮之，炊以葦薪火。沸，置秫米，徐炊，令竭一升半，去渣，飲汁一小杯，日三，稍益，以知為度，故其病新發者覆杯則臥，汗出則已矣，久者三飲而已也。</p>
<p>［苓薑朮桂湯］只此四味。</p>
<p>［外臺茯苓飲］茯苓　人參　白朮　枳實　橘皮　生薑</p>
<p>［六味地黃湯］熟地　山萸肉　山藥　丹皮　茯苓　澤瀉　加麥冬、五味子，名八仙長壽丸；去麥冬，名都氣丸。</p>
<p>［安胃烏梅丸］烏梅　川椒　黃連　乾薑　人參　枳實</p>
<p>［茱連六一九］（即左金丸）　吳萸　川黃連　水泛為丸。</p>
<p>［歸芍六君丸］即六君子加歸芍。</p>
<p>［仲聖建中湯］芍藥　桂枝　乾薑　炙甘草　大棗　飴糖</p>
<p>［歸脾湯］於術　人參　黃耆　當歸　甘草　茯神　遠志　酸棗仁　木香　龍眼肉　加薑棗煎。</p>
<p>［四神丸］補骨脂　肉豆蔻　吳萸　五味子</p>
<p>上為末用大棗百枚，姜八兩切片，同煮爛，去姜搗丸。</p>
<p>［四神丸］甘枸杞　黃甘菊　熟地　當歸頭　茯苓　女貞</p>
<p>蜜丸。目有赤脈者加白蒺藜。</p>
<p>［人參養榮湯］即十全大補湯除川芎，加五味、陳皮、遠志、薑棗。</p>
<p>［生脈散］麥冬　五味子　人參</p>
<p>［防風秦艽丸］防風　秦艽　白朮　歸尾　桃仁　枳實　地榆　澤瀉　皂角子</p>
<p>［歸芍地黃丸］即六味地黃丸加歸芍。</p>
<p>［一陰煎］生地　熟地　芍藥　麥冬　甘草　牛膝　丹參</p>
<p>［大補元煎］熟地　黨參　山藥　杜仲　棗仁　枸杞　萸肉　炙甘草　破故紙　白朮　肉桂　附子　加生薑三大片、核桃仁三個為引</p>
<p>［荷露玉女煎］（辛涼合甘寒法）生地　知母麥冬　懷牛膝　石膏　荷葉露</p>
<p>［三才湯］天門冬　大生地　人參</p>
<p>［犀角地黃湯］烏犀角　生地黃　芍藥　丹皮　茯苓　澤瀉</p>
<p>［七寶美髯丹］（注見案中）</p>
<p>［陽和湯］麻黃　熟地　白芥子　炮姜　甘草　鹿角膠　肉桂</p>
<p>［安老丹］人參　黃耆　熟地　當歸　山萸肉　阿膠　香附　荊芥　黑白醜</p>
<p>［保陰煎］生地　熟地　白芍　山藥　續斷　黃芩　黃柏　甘草</p>
<p>［搖胎散］（注見案中）</p>
<p>［牡丹皮散］丹皮　元胡索　歸尾　桂心　赤芍　牛膝　三稜　莪朮　酒水煎。</p>
<p>［十味溫膽湯］半夏　陳皮　茯苓　甘草　枳實　竹茹　人參　生地　遠志　棗仁</p>
<p>［天麻二陳湯］天麻　半夏　陳皮　茯苓　甘草</p>
<p>［益母八珍丸］即四物四君子合方加益母膏為丸</p>
<p>［黑神散］熟地　當歸　白芍　甘草　官桂　炮姜　蒲黃　黑豆　童便酒合煎。</p>
<p>［小定風珠］（注見案中）</p>
<p>［逍遙散］當歸　白芍　柴胡　茯苓　白朮　甘草　生薑　薄荷　加丹皮、梔子，名調經逍遙散。</p>
<p>［當歸生薑羊肉湯］（注見案中）</p>
<p>［清燥救肺湯］（辛涼甘潤法）桑葉　杏仁　麥冬　石膏　人參　阿膠　胡麻仁　甘草　枇杷葉</p>
<p>水一碗，煎六分，食後服。</p>
<p>［參苓白朮丸］人參　茯苓　白朮　扁豆　陳皮　山藥　甘草　連蓮　砂仁　苡米　桔梗　棗湯調服。</p>
<p>［人參至寶丹］人參　犀角　硃砂　雄黃　琥珀　玳瑁　麝香　水安息（如無以旱安息代之）　西牛黃　龍腦　金銀箔</p>
<p>［藕節玉女煎］即前玉母煎去荷葉露加藕節。</p>
<p>［大肥兒丸］（見馮林之瞻錦囊書）</p>
<p>［三才膏］（見馮林之瞻錦囊書）</p>
<p>［導赤散］生地　木通　甘草梢　竹葉</p>
<p>［歸宗湯］大黃　生地　赤芍　青皮　牛蒡子　木通　荊芥　山楂</p>
<p>［保元煎］人參　黃耆　甘草</p>
<p>以上㕮咀，水二鍾，煎六分，去滓溫服。</p>
<p>［雞鳴散］牛蒡子</p>
<p>炒香研細，臨服加入雄雞冠血五匙，狀元紅酒少許，調勻，以炒荊芥三分，煎湯服。</p>
<p>［珠黃散］𪼥珠　犀黃　六一散　滑石　甘草</p>
<p>［琥珀抱龍丸］琥珀　辰砂　雄黃　膽星　殭蠶　全蠍　牛黃　麝香　天竺黃　赤苓</p>
<p>上法制，載在《古方選注》，各為末，蒸餅為丸，金箔為衣，燈心薄荷湯和勻服。</p>
<p>［桑菊散］（辛涼輕劑）　桑葉　菊花　杏仁　連翹　薄荷　桔梗　甘草　葦根</p>
<p>［紫雪丹］黃金　寒水石　石膏　滑石　磁石　升麻　元參　甘草　烏犀角　羚羊　沉香　木香　丁香　朴硝　硝石　辰砂　麝香</p>
<p>［連翹赤小豆湯］（苦辛微寒法）連翹　赤豆　山梔　通草　花粉　香豆豉</p>
<p>（按：赤小豆乃五穀中之赤小豆，味酸，肉赤，涼水浸，取皮用，非藥肆中之赤小豆，藥肆中的赤小豆乃廣中野豆，赤皮、蒂黑、肉黃，不入藥也。）</p>
<p>摘錄《湯頭》不載方以便查閱</p>
<p>［孔聖枕中月］龍骨　遠志　龜板　菖蒲</p>
<p>［胃關煎］熟地　山藥　扁豆　甘草　焦乾姜　吳萸　白朮</p>
<p>［六安煎］即二陳湯加杏仁、白芥子</p>
<p>［六神湯］即四君子湯加扁豆、山藥</p>
<p>［四獸飲］即六君子湯加草果、烏梅、生薑、大棗</p>
<p>［薤露飲］薤白頭　瓜蔞實　半夏　桂枝木</p>
<p>［大半夏湯］半夏　人參　白蜜</p>
<p>長流水煎，和蜜揚二百四十遍，煮藥，溫服。</p>
<p>［雪羹湯］荸薺　海蜇</p>
<p>上二味，水二鍾，煎八分，服羹食物之味，調和勻也。雪喻其淡而無奇。</p>
<p>［大寶風味］（酸苦寒法）生白芍　陳阿膠　生龜板　生牡蠣　生鱉甲　熟地黃　大麻仁　五味子　炙甘草　雞子黃　大麥冬</p>
<p>水八杯，煮取三杯，去滓，再入雞子黃，攪令相勻，分三次服。</p>
<p>［陶氏黃龍湯］大黃　芒硝　厚朴　枳實　甘草　人參　當歸</p>
<p>［新加黃龍湯］（苦甘鹹法）大黃　芒硝　生地　甘草　人參　元參　麥冬　當歸　海參　薑汁</p>
<p>［宣白承氣湯］生石膏　生地黃　杏仁粉　瓜蔞皮</p>
<p>［杏仁滑石湯］杏仁　滑石　黃芩　黃連　化紅　半夏　玉金　厚朴　通草</p>
<p>［黃芩滑石湯］（苦辛寒法）黃芩　滑石　茯苓皮　大腹皮　蔻皮　豬苓</p>
<p>［桑杏湯］（辛涼法）桑葉　杏仁　沙參　象貝　梔子　香豉　梨皮</p>
<p>［清營湯］（鹹寒苦甘法）犀角　生地　元參　竹葉心　麥冬　丹參　黃連　銀花　連翹</p>
<p>水八杯，煮取三杯，日三服。</p>
<p>［清絡飲］（辛涼芳香法）鮮荷葉邊　鮮銀花　西瓜翠　扁豆花　絲瓜皮　鮮竹葉心</p>
<p>水二杯，煮取一杯，日三服，凡暑傷肺經氣分之輕症，皆可用之。</p>
<p>［五汁飲］（甘寒法）梨汁　荸薺汁　葦根汁　麥冬汁　藕汁（或用蔗汁）</p>
<p>臨時斟酌多少，和勻涼服，不喜涼者，重湯燉服。</p>
<p>［黃氏牛黃清心丸］西牛黃　鏡面硃砂　黃連　黃芩　山梔　玉金</p>
<p>上為末，蒸餅和丸如黍大，今所用者乃蠟殼外護，內以真金滾丸是也。服時用燈心湯或薄荷湯和勻服。</p>
<p>［上焦宣痹湯］（苦辛通法）枇杷葉　玉金　射干　通草　香豆豉</p>
<p>［中焦宣痹湯］（苦辛通法）防己　杏仁　滑石　連翹　山梔　苡米　半夏　蠶砂　赤小豆皮</p>
<p>水八杯，煮取三杯，分三次服。痛甚加片子薑黃、海桐皮。</p>
<p>［宣清導濁湯］（苦辛淡法）豬苓　茯苓　寒水石　蠶砂　皂角子</p>
<p>以水五杯，煮成兩杯，分二次服，以大便通快為度。</p>
<p>［香附旋覆花湯］（苦辛淡合芳香開絡法）生香附　旋覆花　蘇子霜　廣皮　半夏　茯苓　苡米</p>
<p>水八杯，煮取三杯，分三次溫服。腹瀉者加厚朴，痛甚者加降香末。</p>
<p>［控涎丹］白芥子　黃甘遂　紫大戟</p>
<p>上等分為細末，神麯糊為丸，如梧子大。每服九丸，薑湯下，壯者加之，羸者減之，以為度。</p>
<p>［更衣丸］蘆薈　硃砂</p>
<p>好酒和丸，每服三分。</p>
<p>［遂心丹］琥珀　全燈心（研細）　甘遂（包煨）</p>
<p>上二味製成，取細末，豬心內血為丸，如小梧子大，每服用回還進退法。</p>
<p>［水陸二仙丹］金櫻子　芡實　二至丸　女貞子　旱蓮草</p>
<p>［何人飲］何首烏　人參　二賢散　陳皮　甘草</p>
<p>［蘭草湯］即省頭草也。今之佩蘭葉，只此一味水煎服。</p>
<p>［兩儀膏］黨參（人參更妙）　熟地（熬汁）　白蜜收膏。</p>
<p>［威喜丸］茯苓　豬苓　黃蠟</p>
<p>上即以蠟丸，彈子大，空心細嚼，滿口生津，徐徐嚥下，以小便清為度。忌米醋，尤忌怒氣勞心。</p>
<p>［劉松石先生豬肚丸］白朮　苦參　牡蠣　豬肚一具</p>
<p>［還少丹］熟地　山藥　牛膝　枸杞　山萸肉　茯苓　杜仲　遠志　五味子　楮實　小茴　巴戟天　蓯蓉　石菖蒲</p>
<p>［繆仲淳脾腎雙補丸］人參　蓮肉　山萸　山藥　五味子　菟絲子　橘紅　砂仁　車前子　巴戟天　肉豆蔻　破故紙</p>
<p>上為末，蜜丸。如虛而有火者，或火盛肺熱者去人參、肉豆蔻、補骨脂、巴戟，忌羊肉、羊血。</p>
<p>［資生丸］人參　白朮　苡米　楂肉　神麯　橘紅　扁豆　蓮肉　厚朴　山藥　茯苓　麥芽　芡實　桔梗　甘草　藿香　澤瀉　黃連　白豆蔻</p>
<p>上製為末，煉蜜丸，飽後細嚼淡薑湯下。</p>
<p>［和中丸］白朮　厚朴　陳皮　半夏　檳榔　枳實　木香　炙甘草</p>
<p>［小溫中丸］白朮　茯苓　陳皮　熟半夏　甘草　神麯　生香附　苦參　黃連　針砂</p>
<p>上為末，醋水各半，打神麯糊為丸，桐子大，薑湯下，虛甚者加人參。</p>
<p>［活絡丹］川烏　草烏　膽星　地龍　乳香　沒藥</p>
<p>［脾約丸］大黃　杏仁　厚朴　麻仁　枳實　桃仁</p>
<p>［華蓋散］麻黃　蘇子　桑皮　杏仁　赤苓　橘紅　甘草</p>
<p>［五子五皮湯］即五皮加杏仁、蘇子、葶藶子、白芥子、萊菔子</p>
<p>［白金丸］白明礬　黃玉金</p>
<p>［蠟礬丸］黃蠟　白礬</p>
<p>［虎潛丸］熟地　虎脛骨　龜板　黃柏　知母　鎖陽　當歸　牛膝　白芍　陳皮</p>
<p>羯羊肉，酒煮爛，搗為丸。鹽湯下，各加乾薑。</p>
<p>［豬膚湯］豬膚　白蜜　白粉　戊己丸　黃連　吳萸　白芍</p>
<p>［戊己湯］即四君子湯加陳皮、白芍</p>
<p>［桑麻丸］桑葉　黑脂麻　蜜丸。</p>
<p>［石刻安腎丸］附子　肉桂　川烏　川椒　巴戟天　菟絲子　破故紙　蓯蓉　柏子仁　遠志　茯神　赤石脂　山茱萸　胡蘆巴　茯苓　杜仲　蒼朮　石斛　韭子　小茴　川楝子　鹿茸　青鹽　山藥</p>
<p>［青娥丸］萆薢　破故紙　黃柏　知母　杜仲　牛膝　核桃肉　蜜丸。</p>
<p>［毓麟丸］木棉子　大熟地　枸杞子　線魚螵　蒺藜　補骨脂　柏子仁　當歸　生杜　仲粉　生牛膝　楮實子　白茯苓　川萆薢　麥門冬　五味子</p>
<p>上法制載《古方選注》，共搗爛，遠火焙乾，磨為末。用羊內外腎四件兩副，鹽酒拌，蒸爛搗膏，量加煉蜜為丸。每晨用五錢，午後用三錢，臨臥時用五錢，陳酒送下，不用酒者，淡鹽湯下，男婦皆服之。無問求子者得子，求壽者益壽，若男有遺精，婦有帶下者，去牛膝加覆盆子，漂去浮子，曬乾，酒浸十二時。曬乾，二兩四錢。</p>
<p>［鱉甲煎丸］鱉甲（十一分，炙）　阿膠（三分，炒）　蜣螂（六分，熬）　蜂房（四分，炙）　䗪蟲（五分，熬）　鼠婦（三分）　葶藶（一分）　大黃（三分）　赤硝（十二分）　桃仁（二分）　烏扇（二分，即射干）　紫葳（三分）　柴胡（二分）　桂枝（三分）　乾薑（三分）　黃芩（二分）　半夏（一分）　厚朴（三分）　瞿麥（二分）　石葦（三分，去毛）　人參（一分）　芍藥（五分）　丹皮（五分）</p>
<p>上二十三味為末，取煅灶下灰一斗，清酒一斛五斗，浸灰候酒盡，一半著鱉甲於中煮，令泛爛如膠漆，絞取汁，內諸藥煎，為丸如梧子大。空心服七丸，日三服。</p>
<p>［伐木丸］蒼朮　黃酒面曲　皂礬</p>
<p>上法制，載在《古方選注》為面曲糊丸。</p>
<p>［扁鵲玉壺丹］硫黃（八兩）</p>
<p>玉壺指人身而言。道書曰：「全精滿鼎氣歸根，玉液盈壺神入寶」。元壽先生曰：硫是礬之液，礬是鐵之精。生於溫泉，產于山旁，有水火既濟之妙。凡硫黃八兩配真麻油八兩，以硫打碎入冷油內，燉爐上，炭火宜微勿烈，以桑條徐調。候硫溶盡即傾入大水內，急攙去上面油水，其色如金。取缸底淨硫，稱見若干兩，仍配麻油若干兩。照前火候再溶再傾，連前共三轉。第四轉用真棉花核油，配硫若干兩，照前火候再溶再傾入大水內，急攙去上面油水，其色如絳。第五轉用肥皂四兩，水中同煮六時。第六轉用皂莢四兩，水中同煮六時，拔淨制硫之油，攙去其水，其色如硫火之紫。第七轉用爐中炭灰淋鹼水制六時。第八轉用水豆腐制六時，拔淨皂鹼之性。第九轉用田字草搗汁，（田字草出荒稻田中，葉如田字，八、九月採，）和水制六時，臨用研如飛面。凡淨硫一兩配炒糯米粉二兩，或水法或濕搗為丸，每服以硫三分為準，漸加至一錢，溫開水送下。</p>
<p>［黎洞丸］犀黃　天竺黃　廣三七　川軍　山羊血　乳香　沒藥　麝香　藤黃　阿魏　血竭</p>
<p>上十一味，製成取細末，用黃蠟燉化和勻，每顆如秋葉樣，沾唇則去藤黃，專治一切結毒外症。</p>
<p>［史國公藥酒方］當歸　撫芎　紅花　木瓜　茯苓　苡米　片薑黃　防己（風勝用木，濕勝用漢）　萆薢　海風藤　白蒺藜　夜交藤　豨薟　絡石藤　五加皮</p>
<p>上藥盛布袋中，入瓶內，用原火酒浸泡三日，瓶口封固，期滿將瓶入水鍋內懸煮一時，取出埋土內三日，去盡火毒，每日隨意飲之。</p>
<p>十五製大黃法：大黃五斤，每次用黃酒煮一炷香時，曬乾再煮，共十五遍。應加各藥均先期取末，臨時換砂鍋曬，入大黃和酒煮曬。俟制全後，搗如泥為丸。</p>
<p>第一回，酒煮一炷香；第二回，黃連、黃柏、黃芩各五錢；第三回，橘紅、半夏、甘草各一錢；第四回，當歸、川芎、白芍各五錢；第五回，牛蒡子、連翹、桔梗各五錢；第六回，山楂、神麯、麥芽各五錢；第七回，知母、丹皮、元參各五錢；第八回，五加皮、赤苓、白苓各五錢；第九回，厚朴、香茹、炒梔子各五錢；第十回，鱉甲、龜甲、山甲各三錢；第十一回，桃仁、杏仁、蔞仁各三錢；第十二回，蒲黃、葛根、滑石各一錢；第十三回，杜仲、炮薑、米糖各三錢；第十四回，加梨汁拌蒸一炷香時；第十五回，加藕汁拌蒸一炷香時。如再加六制，各二十一製大黃。第十六回，加薑汁拌蒸曬；第十七回，加韭汁拌蒸曬；第十八回，加荸薺汁拌蒸曬；第十九回，加童便拌蒸曬；第二十回，加人乳拌蒸曬；第二十一回，加茶葉煎汁拌蒸曬。</p>
<p>女科</p>
<p>［寧坤至寶丸］黃耆　熟地　歸身　白芍　茯苓　白朮　枸杞　杜仲　續斷　棗仁　阿膠　血餘　條芩　丹參　香附　煉蜜為丸。</p>
<p>［烏鰂骨丸］烏鰂骨　茹藘</p>
<p>上以雀卵為丸，如綠豆大，以鮑魚湯下。</p>
<p>［心脾雙補丸］人參　元參　五味子　遠志　麥冬　茯神　棗仁　柏子仁　於術　芡實　生甘草　桔梗　丹參　生地　黃連　香附　硃砂</p>
<p>上為末，用桂圓肉熬膏代蜜搗丸，彈子大。每晨嚼服一丸，開水送下。</p>
<p>［安胎飲子］建蓮子　台州青苧　白糯米</p>
<p>［補脬飲］生黃絲絹（一尺）　白丹皮根木　白及（各一錢）</p>
<p>上水一碗，煮至絹爛如餳，空心服，咽時不得作聲。</p>
<p>［千金吉祥丸］天麻　芎藭　桂心　桃仁　丹皮　桃花瓣　柳絮　白朮　熟地　菟絲子　覆盆子　五味子　茯苓　楮實</p>
<p>上為末，蜜丸如豆大，每服五丸，空心苦酒下，日三服。吉祥者，詩言吉夢熊羆男子之祥也。婦人血積胞門，或寒凝子宮，致任脈不榮，積年不孕，斷緒絕產。閱古方用蕩胞湯坐導藥，而閨中弱質，奚堪當硝、黃、虻、蛭猛烈之品！是方君以天麻者以其有遊子十二環圍於外，偕子透虛入莖中，潛生土內，復芎藭下行血海，治血閉無子。李杲曰：女子肝虛不足，宜天麻芎藭以補之也。臣以桂心，通子宮破瘀，桃仁丹皮補肝活血，桃花輕薄，柳絮顛狂，功皆下行走泄，其性可以闢除穢惡，其情足以感發春心。佐以白朮、地黃，補脾腎之正氣。再使以菟絲、覆盆、五味子，皆蔓延多子之品，茯苓入陽通氣，楮實入陰通神，俾使內之時精氣神混合一氣，自然一舉而得子矣。方之取義甚佳，用亦屢驗。</p>
<p>［回生丹］大黑豆（三升，用水浸，取殼，用絹袋盛殼同豆煮熟，去豆不用，將殼曬乾，其汁留用）　蘇木（三兩，打碎，用河水五碗，煎汁三碗聽用）　紅花（三兩，炒黃色，入好酒四碗，煎三五滾，去渣存汁聽用）　米醋（九升，陳者佳）　大黃（一斤，為末）</p>
<p>上將大黃末一斤，入淨鍋下米醋三斤，（文火熬之，以長木箸不住手攪之，成膏再加醋三升熬之。又加醋三斤，次第加畢，然後下黑豆汁三碗再熬。次下蘇木汁，次下紅花汁，熬成大黃膏，取入瓦盆盛之。大黃鍋焦亦剷下，入後藥同磨。）</p>
<p>人參（一兩）　當歸（一兩）　川芎（一兩，酒洗）　香附（一兩，酒炒）　元胡索（一兩，酒炒一次）　蒼朮（一兩，米泔水浸炒）　蒲黃（一兩，隔紙炒）　茯苓（一兩）　桃仁（一兩，去皮尖油）　川牛膝（五錢，酒洗）　甘草（五錢，炙）　地榆（五錢，酒洗）　川羌活（五錢）　橘紅（五錢）　白芍（三錢，酒炒）　木瓜（三錢）　青皮（三錢，去穰炒）　白朮（三錢，米泔浸炒）　烏藥（一兩五錢，去皮）　良薑（四錢）　木香（四錢）　乳香（二錢）　沒藥（二錢）　益母草（二錢）　馬鞭草（五錢）　秋葵子（三錢）　熟地（一兩，酒蒸制就）　京三稜（五錢，醋浸透，紙裹烘）　五靈脂（五錢，醋煮化，焙乾研細）　山萸肉（五錢，酒浸蒸，搗爛入藥曬）</p>
<p>上三十味，並前黑豆殼，共曬乾為末。入石臼內，下大黃膏勻，再下煉蜜一斤，共搗千槌，取起為丸，重二錢七分。靜室陰乾，須二十餘日，不可日曬，不可火烘，干後止重二錢有零，熔蠟護之，所謂蠟丸也。用時去蠟殼，調服。</p>
<p>［開骨散］當歸　川芎　龜甲　血餘炭　水煎數沸服之。</p>
<p>［坎氣丸］坎氣　人乳粉　熟地　人參　枸杞子　酒釀白蜜同煉搗丸。米飲送，系種子。</p>
<p>［化癥丹］人參（六兩）　肉桂（二兩）　兩頭尖（二兩）　水蛭（二兩）　片薑黃（二兩）　公丁香（三兩）　川椒炭（二兩）　虻蟲（二兩）　京三陵（二兩）　蒲黃炭（一兩）　麝香（二兩）　蘇木（二兩）　桃仁（三兩）　蘇子霜（二兩）　五靈脂（一兩）　降真香（一兩）　乾漆（二兩）　紅蒼（二兩）　沒藥（二兩）　白芍（四兩）　杏仁（三兩）　香附米（二兩）　吳萸（二兩）　元胡索（二兩）　歸尾（四兩）　阿魏（二兩）　小茴炭（三兩）　川芎（二兩）　乳香（二兩）　良薑（二兩）　艾炭（二兩）　益母膏（八兩）　熟地（四兩）　鱉甲膠（一斤）　大黃（八兩）</p>
<p>共為細末，以高米曲一斤半熬濃，曬乾為末。再加曲熬，如是三次，曬乾末之，共為細末，以鱉甲、益母、大黃、三膠和勻，再加煉蜜為丸，重一錢五分，蠟皮封護。用時溫開水和，空心服，瘀甚之證黃酒下。</p>
<p>一治癥結不散不痛；一治癥發痛甚；一治血痹；一治婦女乾血癆症之屬實者；一治瘧母左脅痛而寒熱者；一治婦女經帶前作痛，古謂之痛經者；一治婦女將欲行經而寒熱者；一治婦女將欲行經，誤食生冷腹痛者；一治婦女經閉；一治婦女經來紫黑色甚至成塊者；一治腰痛之因於跌撲死血者；一治產後瘀血，少腹痛拒按者；一治跌僕昏暈欲死者；一治金瘡棒瘡之有瘀滯者。</p>
<p>［固陽丸］黃耆　當歸　乾薑　赤石脂　舶茴香　白龍骨　陽起石　肉桂　韭子　茯苓　黃鹽</p>
<p>上法制為末，酒糊丸，每服五十九，溫酒下，系固陽攝陰用之，宜審脈症。</p>
<p>［椿皮丸］椿根白皮　白芍　良薑　黃柏</p>
<p>上為末，粥漿丸，每服三五十丸，空心米飲下，治瘦人帶下，熱勝於濕。</p>
<p>［疏肝清胃丸］夏枯草　蒲公英　金銀花　漏蘆　橘葉　甘菊　豭鼠糞　紫花地丁　貝母　連翹　白芷　山慈姑　瓜蔞子　炙甘草　陳皮　茜根　乳香　沒藥</p>
<p>上法等分為末，另用夏枯草煎膏為丸。每服五錢，開水送下。</p>
<p>乳岩發於乳中，按胃經循乳穴。歌云：乳中正在乳頭心，次有乳根出乳下。又肝經循乳穴，歌云：循本經之章門，至期門之所挾，胃屬肝。故前賢皆以憂思鬱怒積氣於肝胃兩經而成乳岩。第方書治法雖多，不失之峻補，則失之峻攻，惟仲醇制疏肝清胃丸，雖平淡無奇，卻有深中肯綮之妙。</p>
