<header data-type="book">
<h1>諸脈主病詩</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈金鰲</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1717/1776">公元1717年至公元1776年</data></dd></div>
<div><dt>底本</dt><dd>清乾隆三十九年甲午刻本</dd></div>
</dl>
</header>

<h1>正文</h1>
<p>《瀕湖脈訣》各有主病歌辭，然只言其梗概，余撰脈象統類，各脈所主之病已詳，但瑣碎無文義相貫，難於記識，因仿瀕湖法，作二十七脈主病詩，閱者讀此，覆按核統類，則某脈主某病，某病合某脈，庶益洞然於中矣。</p>

<h2>浮</h2>
<p>（其象輕手乃得，重手不見，動在肌肉以上。）</p>
<p>浮脈為陽表病真，遲風數熱緊寒因（是浮脈兼遲、兼數、兼緊也，各脈相兼仿此，）浮而有力是風熱，無力而浮血弱人。（此首總言浮脈病。）</p>
<p>寸頭疼眩（目眩）熱（身熱）因風，更有風痰（左寸病）右咳攻（右寸肺感風邪作咳，）關右脾虛（中滿不食）左腹脹，溲多赤澀（左尺膀胱風熱）糞難通（右尺風邪客下焦，故大便秘。）</p>
<p>浮而有力為洪（即大脈，其象極大而數，按之滿指，如群波之湧起，來盛去衰，來大去長。）</p>
<p>脈洪陽盛血應虛，相火炎炎熱病居，脹滿胃翻須早治，陰虛泄痢急當除。（此首總言洪脈病。）</p>
<p>心經火盛內多煩（左寸病，又兼目赤、口瘡、頭疼，）肺熱毛焦咽更干（右寸病，又兼涎唾稠黏，）肝火身疼（左關病，又兼四肢浮熱）胃虛嘔（右關病，又兼口枯舌乾，）腎虛陰火便相難（左尺，膀胱熱、小便赤澀，右尺，腹滿、大便難或下血。）</p>
<p>浮而無力為芤（其象浮大而軟，按之中空兩邊實，指下成窟，診在輕舉重按之間。）</p>
<p>左芤吐衄兼心血（左寸病，）關上為瘀脅痛真（腹中瘀血，脅間血氣痛，吐血，目暗，）左尺男人小便血，女人月事病相因。（此首單言左手芤脈病。）</p>
<p>右芤積血在於胸（右寸病，又兼衄血、嘔血，）關內逢之腸胃癰，嘔血不食兼瘀血，尺多血痢與腸紅。（此首單言右手芤脈病。）</p>
<p>浮而端直為弦（其象按之不移，舉之應手，端直如箏弦。）</p>
<p>左弦頭痛還心惕，盜汗勞傷力懶牽，關左脅疼兼痃癖，尺疼小腹腳拘攣。（此首單言左手弦脈病。）</p>
<p>右寸膈痰多喘嗽（由肺受風寒，）右關胃冷腹心疼（脾胃傷冷，宿食不化，多飲，）下焦停水弦逢尺，陰疝常從臍下侵。（此首單言右手弦脈病。）</p>
<p>浮而遲大為虛（其象遲軟散大，舉按無力，豁豁然空，不能自固。）</p>
<p>脈虛（血氣虛，故脈亦虛）身熱為傷暑，虛損疲煩汗自多，發熱陰虛宜早治，養榮益氣莫蹉跎。（此首總言虛脈病。）</p>
<p>怔忡驚悸寸常虛，血不榮心奈若何，腹脹診關（食不化）尺痹痿，損傷精血骨蒸俱。（此首統言左右兩手虛脈病。）</p>
<p>浮而遲細為濡（即軟脈，其象虛軟無力，應手細散，如綿絮之在水中，輕手乃得，重按隨手而沒。）</p>
<p>濡為亡血陰虛病，髓海丹田暗已虧，汗雨夜來蒸入骨，血山崩倒濕浸牌。（此首總言濡脈病。）</p>
<p>左寸心虛（故驚悸盜汗）還短氣，精神離散左關濡（又兼榮衛不和，體虛少力，）尺男精敗女脫血，自汗淋漓溲數俱。（此首單言左手濡脈病。）</p>
<p>憎寒烘熱濡右寸，氣乏身疲怎得安，關上胃虛（飲食不進）脾更弱（食不消，）尺腸虛瀉下元寒。（此首單言右手濡脈病。）</p>
<p>浮而迢亙為長（其象不大不小，迢迢自若，指下有餘，過於本位。）</p>
<p>氣血有餘長脈見（長脈主有餘之病，）陽明熱勢自然深，若非陽毒（陽毒內蘊）癲和癇，即是焦煩壯熱侵。</p>
<p>浮而虛大為散（其象有表無里，有陰無陽，按之滿指，散而不聚，去來不明，漫無根柢，渙散不收。）</p>
<p>左寸怔忡右寸汗，溢飲左關應軟散，右關軟散腫胻胕，散居兩尺魂當斷。</p>

<h2>沉</h2>
<p>（其象輕手不得，重手乃得，按至肌肉以下，著於筋骨之間。）</p>
<p>沉潛脈主陰經病，數熱遲寒滑有痰，無力而沉虛與氣，沉而有力積兼寒。（此首總言沉脈病。）</p>
<p>寸沉痰鬱（右寸病）飲停胸（左寸病，）關主中寒痛不通（左右關病同，）尺部濁遺精血冷（左尺病，男精冷，女血冷，）腎虛腰及下元痌。（右尺病。此首統言左右手沉脈病。）</p>
<p>沉而不及為短（其象兩頭無，中間有，不及本位，應手而回，短脈只見寸尺，若在關部，將上不接寸，下不接尺矣，故前人云，短不診關。）</p>
<p>短脈內虛真氣弱，三焦氣壅是真因，胃衰宿食多停滯，寸主頭疼尺腹疼（左右手同。）</p>
<p>沉而微軟為細（其象小於微而常有，細直而軟，指下尋之，往來如蠶絲。）</p>
<p>寸細應知嘔吐頻，入關腹脹胃虛形，尺逢定是丹田冷，泄痢遺精號脫陰。（此首統言左右兩手細脈病。）</p>
<p>沉而弦長為實（其象舉手不絕，迢亙而長，不疾不徐，動而有力。血實則脈實。）</p>
<p>實脈為陽火鬱成，發狂譫語吐頻頻，或為陽毒或傷食（古云：脈實者，水穀為病，）大便不通或氣疼。（此首總言實脈病。）</p>
<p>寸心與面熱兼風（左寸實，心中積熱，口舌瘡，咽喉痛，）痰嗽中煩氣積胸（右寸實，胸膈中熱，痰嗽煩滿，）肝火（左關實，腹脅痛滿）脾虛（右關實，脾虛少食，又兼胃氣滯，伏陽蒸內）關上見，尺臍腹痛便難通（左尺實，小腹痛，小便澀，右尺實，臍下痛，例難或時下痢。此首統言左右手脈實病。）</p>
<p>沉極幾無為伏（其象極重，按之著骨，指下隱隱然。傷寒病一手伏曰單伏，兩手伏曰雙伏，不可以陽症見陰為診，乃火邪內郁，不得發越，陽極似陰，故脈伏也，必得大汗乃解。又夾陰陽寒，先有伏陰在內，外又感寒，陰盛陽衰，四肢厥逆，六脈沉伏，須投薑桂，脈乃復出。若太谿、衝陽皆無脈，則必死矣。古云：伏為真氣不行，邪氣積伏。又云：痛甚者脈必伏。）</p>
<p>伏為霍亂食常停，蓄飲頑痰積聚真，榮衛氣凝（凝，閉也）而厥逆，散寒溫里莫因循。（此首總言伏脈病。）</p>
<p>憂鬱傷心神不守（左寸病，）胸中氣滯冷痰凝（右寸病），當關腹痛分寒食（左關伏，脅下有寒氣，血冷，腰腳痛。右關伏，中脘積塊痛，脾胃停滯，）尺部腹疼與疝疼（左尺伏，腎寒精虛，疝痛。右尺伏，臍下冷痛，下焦虛寒，旋中冷痛，此首統言左右手伏脈病。）</p>
<p>沉而有力為牢（其象似沉似伏，實大而長，少弦，按之動而不移。牢而疾，必發熱，牢而遲，必發寒，遲疾不常，寒熱往來。）</p>
<p>牢為喘（氣）促（息）皮膚腫（兩寸病），心腹寒疼肝克脾（兩關病），癥瘕疝㿗猶可治，陰虛失血怎相宜（兩尺病，失血。脈宜沉細，反浮大而牢，是虛病見實脈，必死。此首統言左右手牢脈病。）</p>
<p>沉失常度曰革（其象沉硬實大，如按鼓皮一般。革為陰陽不交之名。）</p>
<p>革合芤弦寒與虛（芤為虛，弦為寒，虛寒相搏，故芤弦相合而成革脈，革因為虛寒失血之候，）中風感濕脹兼醫，女人半產並崩漏，男子營虛或夢遺。（此首總言革脈病。）</p>
<p>沉而更代為代（其象動而中止，不能自還，因而復動又復止，尋之良久，乃復強起而動。）</p>
<p>代脈原因臟氣衰，腹疼便膿下元虧，或為吐瀉兼泄痢，女子懷胎三月兮。（此首總言代脈病。）</p>

<h2>遲</h2>
<p>（其象呼吸之間脈僅三至，來去極慢）</p>
<p>遲司臟病或多痰，沉痼癥瘕仔細看，有力而遲為冷痛，遲而無力是虛寒。（此首總言遲脈病。）</p>
<p>寸遲心（左）肺（右）上焦寒（左寸遲，心上寒，精氣多慘，右寸遲，肺受寒，冷痰氣短，）關主中寒痛不堪（左關，筋寒急，手足冷，脅下痛，右關，中焦寒，脾胃傷冷，食不化，）左尺腎虛（故便濁）女不月，右為泄瀉疝牽丸（臟寒泄瀉，小腹冷痛，腰腳重而無力。此首統言左右兩手遲脈病。）</p>
<p>遲而細軟為微（其象極細而軟，若有若無，多兼於遲，按之無欲絕之狀。）</p>
<p>氣血微兮脈亦微，惡寒（陽微也）發熱（陰微也）汗淋漓，男為勞極諸虛候，女作崩中帶下醫。（此首總言微脈病。）</p>
<p>寸微氣促與心驚（右寸，中寒少氣，又兼上焦寒痞、冷痰不化，左寸，心憂惕，榮血不足，）關脈微時脹滿形（左關微，中滿氣乏，四肢寒冷，拘急右關微，胃寒氣脹，食不化，脾虛噫氣，心腹間冷疼，）尺部見之精血弱（左尺微，傷精尿血，）臟寒泄瀉痛呻吟（右尺微，臟寒泄痢，臍下冷積痛疼。此首統言左右兩手微脈病。）</p>
<p>遲而無力為弱（其象極軟而沉細，怏怏不前，按之如欲絕，舉手即無。弱猶愈於微。）</p>
<p>脈弱陰虛陽氣衰（氣虛則脈弱，寸弱陽虛，關弱胃虛，尺弱陰虛，）惡寒發熱骨筋萎，多驚多汗精多泄，益氣調營（弱脈必宜補）及早醫。（此首總言弱脈病。）</p>
<p>寸汗心虛（左寸弱，陽虛心悸自汗）右身冷（右寸弱病，又兼短氣，）關中筋萎（肝主筋，左關弱，故筋萎少力，又兼女人主產後客風面腫）胃脾虛（右關弱，脾胃虛而食不能化，）欲知陽陷明微病，骨痛耳聾（左尺弱，胃虛之故）糞數遺（右尺弱，大便滑，又兼下焦冷痛。此首統言左右手弱脈病。）</p>
<p>遲而有力為緩（其象比浮而稍大，似遲而小疾，一息四至，來往紆緩，呼吸徐徐。緩脈有二，從容和緩者為正脈，前人所云，諸病脈緩，為胃氣回，不治自愈者是。若氣血衰而遲緩，則為緩病脈。）</p>
<p>緩脈駸駸營衛衰，或痹（緩而細）或濕（沉而緩）或脾虛（緩而澀，）上為項強下腳軟，浮風（緩兼浮，傷風）沉弱（緩兼沉，血氣衰弱）細區分。（此首總言緩脈病。）</p>
<p>寸緩心虛（左寸緩，心氣不足，怔忡多忘，又兼項背拘急痛）肺則浮（右寸緩，肺氣浮，言語短氣，）當關風眩（左關緩，風虛眩暈，又兼腹脅氣急）胃虛求（右關緩，胃弱氣虛，）尺為腎冷便頻數（左尺緩，腎虛冷，小便多，）下寒風秘便常憂（右尺緩，下寒腳弱，風氣閉滯。）</p>
<p>遲而時止時結（其象來時緩甚，時一止，復又來。前人云：陰凝則結。又云：結脈亦因思慮過度，脾氣不足。又云：脈結者，亦病四肢不快，為氣所結。）</p>
<p>結脈皆因氣血凝，老痰結滯苦沉吟，內生積聚外癰腫，疝瘕亡陽汗自淋（凡結脈，主疝瘕癥結，七情鬱結，老痰滯結，一切氣血凝結，又為亡陽、為汗下，內為積聚，外為癰腫，兼浮寒結，兼沉氣結。此首總言結脈病。</p>
<p><u>數</u></p>
<p>（其象一息六至，數數然來。）</p>
<p>數脈為陽熱可知，只將君相火來醫，實宜涼瀉虛溫補，肺病秋深卻忌之。（此首總言數脈病。）</p>
<p>寸數咽喉（右寸數）口舌（左寸數）瘡，吐紅咳嗽肺生瘍（左右寸同，又兼頭疼上熱，）當關胃火（右關數，胃火，脾熱口臭，煩滿嘔逆）並肝火（左關數，肝火目赤），尺用滋陰降火湯（左右尺同，主腎火熾，小便黃赤，大便閉塞。此首統言左右兩手數脈病。）</p>
<p>數而弦急為緊（其象來時勁急，按之長，左右彈指，舉之若牽繩轉索之狀，又名急脈。）</p>
<p>緊為諸痛主於寒，癖積風癇吐冷痰，浮緊汗之（緊兼浮，表寒身痛）沉緊下（緊兼沉，裡寒腹痛，）人迎（因傷寒）氣口（因傷食）更須看。（此首總言緊脈病。）</p>
<p>左頭目項（左寸緊頭熱、目痛、項強）右鼻膈（右寸緊、鼻塞、膈壅，）關從心腹脅筋尋（左關，心腹滿痛、脅痛筋急，右關，脾腹痛、吐逆）尺為腰腳臍下痛，知是奔豚與疝疼（左尺，腰腳臍下痛，又兼小便難，右尺，下焦氣築痛。此首統言左右手緊脈病。）</p>
<p>數而時止為促（其象來時數，時一止，復又來，徐疾無一定，有迫促之狀。凡脈促者，亦病氣痛，亦病怫鬱，亦病氣血不疏通。）</p>
<p>脈促惟將火病醫（三焦有鬱火，）其因有五細推之（氣、血、熱、痰、飲，）時時咳嗽皆痰積，或發狂癍與毒疽，（皆瘀血之故。此言總言促脈病。）</p>
<p>數見關中為動（其象數見關中，形圓如豆，無頭無尾，厥厥動搖，尋之有，舉之無，不往不來，不離其處。動脈亦為神氣不安，脫血虛勞。）</p>
<p>動脈專司氣與驚，汗因陽動熱因陰，或為泄痢拘攣病，男子亡陽女子崩。（此首總言動脈病。）</p>

<h2>滑</h2>
<p>（其象往來流利，如珠走盤，不進不退）</p>
<p>滑脈為陽元氣衰，痰生百病食生災（浮滑風痰，滑數痰火，短滑宿食，）上為吐逆下蓄血，女脈和時定有胎（女人督脈滑，血熱、經不通，和滑為有孕。此首總言滑脈病。）</p>
<p>寸滑膈痰生嘔吐（右寸病，）心驚舌強緣熱故（左寸病，）當關宿食肝脾熱（左關，肝熱，頭目為患，右關，脾熱，口臭，吐逆、宿食不化，）渴痢㿗淋看尺部（左右同。此首統言左右手滑脈病。）</p>

<h2>澀</h2>
<p>（其象虛細而遲，來往極難，一止復來，三五不調。）</p>
<p>澀緣血少或傷精，反胃亡陽汗雨淋，寒濕入營痹為血，女人非孕即無經（女人左尺澀，無孕主血少，有孕胎病或漏。此首總言澀脈病。）</p>
<p>寸心虛痛乖營衛（左寸心肺虛耗不安，及冷氣心痛，右寸營衛不和，上焦冷痞，氣短，臂酸，）脾弱（右關澀，脾弱不食，胃冷多嘔）肝虛（左關弱，肝虛血散，肋脹脅滿，身痛）關內逢，左尺傷精兼及疝，右寒小腹足脛痌（又兼大便閉，津液不足。此首統言左右兩手澀脈病。）</p>

<h2>人迎</h2>
<p>（左手關前一分為人迎）</p>
<p>表候人迎屬腑陽（人迎主外感六淫，屬表腑也，陽也，）風浮暑弱緊寒傷（如人迎脈浮，主傷風，六淫仿此，）濕應沉細火熱數（熱虛數，火洪數，）四末清寒表散良（人迎又主四肢病。）</p>

<h2>氣口</h2>
<p>（右手關前一分為氣口）</p>
<p>氣口為陰里臟看（氣口候內傷七情及傷飲食，屬裡，臟也，陰也，）怒濡憂澀散因歡（如氣口脈濡，即因傷怒，余皆仿此，）恐沉思結驚多動，悲緊還推何部干（診得氣口濡澀等脈，並看與何部相關，即知何臟受病。如氣口脈濡即屬肝病，而肝脈又適弦硬是也。此首單言氣口內傷七情之病。）</p>
<p>飲食傷留脾臟因，通腸快胃法相應，人迎氣口俱沉緊，夾食傷寒病日增。（此首言氣口內傷飲食之病，及人迎氣口俱傷之病。）</p>

<h2>陽維</h2>
<p>（以左手為主，其脈從寸部斜至外者是也。右手反看，則從寸部斜至內矣。）</p>
<p>陰維脈起會諸陽（陽維脈從少陰斜至太陽，發足太陽之金門，而與手足少陽陽明五脈會於陽白，故所會皆陽，）根柢於陰表是彰（陽維主一身之表，）風府風池應並刺，長沙法設桂枝湯（風池風府二穴，陽維之會也。仲景法，先刺二穴，卻與桂枝湯。）</p>

<h2>陰維</h2>
<p>（左手為主，其脈從寸部斜至內者是也。右手反看，則從寸部斜至外矣）</p>
<p>陰維主裡會諸陰（陰維主一身之裡，其脈從少陽斜至厥陰，發足少陰之築賓，至頂前而終，故所發所至皆陰也，）卻起於陽根自深（陽根陰，陰根陽，故此二脈，又為榮衛之綱領，）心痛病來詳潔古，理中四逆法堪尋（潔古云：陰維為病若心痛，其治在足少陽三陰交，乃陰維所起也。又按仲景法，太陰症用理中湯，少陰症用四逆湯，厥陰症用當歸四逆湯，酌其劑以治陰維之病。即潔古所以治足少陽三陰交也。）</p>

<h2>陽蹺</h2>
<p>（不論左右手，其脈從寸左右彈者是也）</p>
<p>一身左右陽專候（是蹺主一身左右之陽，）脈得陽蹺六腑和，表病里安陽分愆（陽蹺在肌肉之上，陽脈所行，通貫六腑，主持諸表，故其為病，亦表病里和，）法兼汗下治無訛（潔古云：陽病則寒。若在陽表當汗，桂枝湯、麻黃湯。若在陰里當下，大小承氣湯。）</p>

<h2>陰蹺</h2>
<p>（不論左右手，其脈從尺部左右彈者是也。）</p>
<p>諸里相持通五臟（陰蹺在肌肉之下，陰脈所行，通貫五臟，主持諸里，故其為病，亦裡病表和，）脈行左右有陰蹺（陰蹺主一身左右之陰，）病來陽緩陰多急（陽蹺病，陰緩陽急，陰蹺病，陰緩陰急，）診察須從陰熱調（潔古云：陰病則熱，甘草乾薑湯。）</p>

<h2>督</h2>
<p>（不論左右手，其脈三部中央俱浮，直上直下者是也）</p>
<p>督司陽脈稱為海，循背而行遍後身（督脈起胞中，循背而行於身之後，為陽脈之總督，故為陽脈之海，）脊強頭沉虛實判（督脈為病，實則脊強而發厥，虛則頭重，）上衝作痛苦吟呻（督病又往往自下衝上而痛。）</p>

<h2>任</h2>
<p>（不論左右手，其脈丸丸，橫於寸口者是也。）</p>
<p>任承陰海因名任（任脈亦起胞中，循腹而行於身之前，為陰脈之承任，故曰陰脈之海，）天癸從生陰有陽（任主天癸，乃天之元氣，任脈充，然後衝脈旺，月事時下而有子，故真陰之盛，必由真陽之實，）若使結陰陽氣絕，疝瘕崩帶腹前殃（任脈病，非陰自病，實由陰中無陽，故疝瘕崩帶，皆結陰之故。）</p>

<h2>沖</h2>
<p>（不論左右手，其脈來寸口中央堅實，徑至關者是也）</p>
<p>沖俱督任起胞中，獨主先天精血充（衝脈亦起胞中，夾臍而行，直衝於上，為諸脈衝要，故曰十二經脈之海，又為先天精血之主，故又曰血海，）本病須分寒火逆（衝脈病，一曰寒逆，陽不足也，一曰火逆，陰不足也，）更傳肝腎患無窮（經云：沖病傳肝腎，發為痿厥。）</p>

<h2>帶</h2>
<p>（不論左右手，脈來關部左右彈者是也）</p>
<p>約持諸脈遍腰環（帶脈起少腹側、季脅下，環身一周，絡腰而過，如束帶狀，所以總約諸脈，）肝腎心脾上下安（帶之上心脾，帶之下肝腎，）濕熱滯留中間斷，淫淫白物下無端（心脾上郁，肝腎下虛，停濕為熱，留滯中分，必病作而流白物。）</p>

<h2>附錄運功規法</h2>
<p>余輯《雜病源流》，凡脈症方藥，所以講明調治之者，似已詳備。然劉海蟾云：醫道通仙道，則修煉家導引運動之法，所以卻病延年者，未始不可助方藥所不逮。蓋既已卻病，自可延年。在修煉家固以延年為主，而欲求延年，必先卻病，在醫藥家則以卻病為主也。故《雜病源流》中，於每病方論後，有導引運動之法，可以卻此病，即附載於末，總期醫者、病者，展覽及之，以備採用，庶獲萬病回春也。但其法有專治一病者，既分載於各病之後，而又有總法數條，不必每病皆為遵用。而時有必採取者，亦不必一病全用總法。而或有此病則用何法，彼病又用何法者，既不得贅列於各病之末，而又無處可以混入，故特附於此，如於各病運功中，見有宜用歸元、周天、艮背、行庭，及絛法、通關、滌穢等法者，查明此處所載諸法，應如何引運，遵而行之，無漏無遺，自可卻病，可延年也。</p>

<h2>南北規中引</h2>
<p>（諸法皆本《保生秘要》，系明俞俞道人曹士珩元白氏所著）</p>
<p>凡人亡念奔馳，不思回頭，蓋不知有己。然學道初入門，及乎卻病初下手，每云先要築基煉己者，何也?己者，意中之土也，時時返念守中。然昆倉至於湧泉，周身前後之竅，雖各家傳授，各取其善，若能精守其一，皆可起病，不必得一望二，持兩可之見，而辯孰是孰非。余訣云：總之攝心歸一，專其一處，皆可止念，故取身中有後二竅為則，其歸元取用父母生人受氣之初，而能聚氣之原，運動周天，可參艮背通關之效。然艮背者，昔林子闡教為最，余受之家傳捷徑而更妙。若夫運動，則貫徹任督二脈，兼以導引，則神功爍見矣。</p>

<h2>南旋式</h2>
<p>【歸元訣竅】　歸元者，父母生人受氣之初，剪斷臍帶，一點落根元也。有生之後，情欲雕琢，未免精耗氣散，不能返本，須求安土敦仁之法。蓋土者歸元也，人者仁也，以一點仁心，敦養於土，六根皆歸於元，心有所注，久久凝定，便覺真種常在，方可用意運行。行之之法，提意出上，斡旋造化，從左而右，先運臍輪，收而放，放而復收，以還本位，不離這個，念自歸真矣。</p>
<p>【周天】　先立安土守中，得訣純熟，後行周天，流通一身，散徹四肢滯氣。其法從前運於臍輪，由小而大，大而收小，依次而上，至璇璣穴向左臂打圈而下，至曲池，經內關溯掌心及指尖，圈出手背外關，而上肘後肩井，及大椎而下，運於尾閭，由上覆下過玉枕，逾崑崙泥丸面部，上鵲橋，降重樓，達胃口過臍，至玉柱，復氣海，行於右腿，歷膝關，由鞋勞穴穿足背，至指尖轉湧泉踵後，上運過陰谷，通尾閭，又圈至頂門，如前下鵲橋，依次送左腿，似右法而落湧泉，又升泥丸及璇璣穴右行，照左手轉過肩背，貫昆倉而下攝元海，如此將周身經脈宣暢，徐徐迴轉，但意至而氣相隨，是為有作之周天法，亦可與造化參。</p>

<h2>北旋式</h2>
<p>【艮背訣竅】　易曰：艮其背。艮者，止也，其象屬土。背從北方水，屬於陰。心從南方火，屬於陽。人能以南火而投於北水之中，得以水火交而既濟，所謂洗心退藏於密也。蓋五臟六腑根蒂，皆繫於此。所謂止者，先立內念之正，而止外念之邪也。然大道貴無念，雖立正念亦是念也。當明內外兩忘以忘而離亡，必先忘其外者，而後定其心，自忘其內也。故初學之士，靜坐片時，將萬慮掃除，凝神定志於本穴之中，背之腔子里，平心元虛處，初起口唸太乙救苦（咒四，）而漸歸於心、歸於背，存無守有，念茲在茲，有復冥於無，神自虛而靈矣。</p>
<p>【行庭】吾身一小天地也，周身三百六十骨節，七孔八竅。一竅相通，竅竅光明，而乾旋坤轉。前屬於天，後屬於地。前從左旋，後運右轉。前後相通，周乎其天，則知人與天一矣。其法，從艮背守念，念而提出腔子，行其背數十回，復收歸腔稍空，又運行至兩腎之間，念刻許，從腎中意想，溯尾閭，起運上泥丸，經明堂、人中接下承漿，降重樓至於心臍之間，約下臍上三指為則，不前不後，不左不右之中，而為立極定樞。懸一斗杓行於臍下一寸三分，斡旋上升，左轉於心之後，右旋下降於腎之前，循環不息，上行由背之北，下行由臍之南，如北極定樞，斗柄推旋者，若轉則以意隨之，不轉則以意引之，久而鍊度，所以混其氣，且所以和其神也。</p>
<p>【通關】　從北極定樞，斗柄大旋三遍，天地包羅，行於臍下，分開兩路，旋下兩腿之前，聯絡不至，雙行轉腳底，向後繞元海，上至命門會合，從右轉左，大旋三遍，從椎骨下分行兩肩，經肘後外關達掌心，循內關過肩井，由項後透泥丸，行明堂，漸落雙瞳，自面部下胸膈，會心窩，從左轉下降，大旋三遍，如前臍下分開，循環遍體，周流運行。卯酉二辰行之，或九度，或二十一度而止，慎勿執著，若有若無，此所謂煉其形和其氣也。</p>
<p>【絛法】　從歸元注念起用意左邊，運絛過腰，從右旋上，至左肩膊，絛至胸前行旋過右膊，後下旋至腰，如法運數十回，而又復絛上行，周而復始，不必計籌，使前後融洽。或從艮背起手，轉絛而前，左右次序，會意行之。</p>
<p>【滌穢】　其法，在胃口旋入，憑虛而行，運入大腸，由左繞右，迴旋九曲，以真氣滌垢，轉出穀道，噓往吸回，自右而左，旋出胃口，收歸元海，靜念刻許，以還本位。此法不宜輕用，凡送濁氣出穀道外，即隨念吸轉慎泄真氣。丹法有云，勿使尾閭墜，蓋謂此也。</p>
<p>【運規十二則】　身若安和氣不必運，宜當守靜定息，節飲除欲，則百病不生。若身稍有絲毫不快，宜速行運動，免氣久滯，積成大病。故設調養之功，用之須得其宜。然運法如風車樣，不疾不徐，皮裡膜外，挨次運去，可大可小，任意收而放，放而復收，男左女右，陰陽之分，一動一靜，天之行也。</p>
<p>行功之時，目視頂門，微露一線，迎天地之光，返照內景，勿全下視，免致昏沉馳念。</p>
<p>卻病坐功，不比真修磨鍊，每按時坐香後，欲睡即睡，睡則病者精神完足。若心血少不寐，可定意想歸元，或依法運轉，神自安而寐矣。</p>
<p>開關之說，學者不必用意，候到自然通透。蓋靜中運用，無念自是水升，不然則為火矣。或腹中響聲，或兩腎微動，或背或眉端隱隱如蟻行，手足似一線冷風，皆現真境也。亦有陽火沖病根，腸內有聲，即有真意逐響運旋，撤而散之。</p>
<p>凡行氣過峽處或昆頂，須多旋繞數十匝，令氣浸灌為妙。閒時如不守前後二竅，懸心於空虛地，四大皆空，無人無我，極為養火之法。又名休息以養其氣。若運法無時度，則神敝疲，譬如伐兵勞頓，而又遇勁敵，豈不危乎。</p>
<p>觀燈玩月，目向外射則傷神，返照於我，多益於我，其他自可以類推。</p>
<p>卻病工夫，須立課程，逐日檢點，勿失其時，日日如是，提醒縝密，自不間斷而效。</p>
<p>運氣當由後而前，以取西北方水而灌東南方火，不可逆此。或有傳法，各關節處，不必打圈，直行亦可，行後定要收歸元位。退欲火法，注念氣海，記數斡旋，或記運尾閭升降之法，邪火自散，大固元陽。</p>
<p>入定看書，易於通悟，坐下止念為先，定神元海，不以目睹，而以心視，不以心視，而以內觀，蓋神有所斂，不至散於外，受益自無窮盡矣。</p>
<p>嘻笑場中，最易耗神，令人疲倦，得以內斂音聲，言語少減，或氣穴中發，神氣亦不覺其耗。</p>
<p>上丹田穴，最可養性，亦可注念，為藏神之府。運法，旋至鼻柱七竅之宗，斡行入內些些，則耳目口三寶，皆有靈矣。</p>
<p>想湧泉穴，最能健步行動，略得運法，血脈自可以漸漸流通，而不傷筋，省氣。</p>
