<header data-type="book">
<h1>醫師秘笈</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李言恭</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1736">公元1736年</data></dd></div>
<div><dt>底本</dt><dd>清嘉慶17年刊本（<a href="https://www.digital.archives.go.jp/file/1079607">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>
