<header data-type="book">
<h1>存粹醫話</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陸錦燧</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>論《內經》標本中氣從化</h1>
<p>寇孟傑曰：從本從標從中氣者，蓋無非同氣相求之意焉。如少陽本火而標陽，太陰本濕而標陰，標本同氣，故從本化。然少陽之中，見風木為火母；太陰之中，見燥金為土子，木從火化，燥從濕化，故不從中而從本也。少陰本熱而標陰，太陽本寒而標陽，標本異化，故或從標，或從本。然中與本同而標則異，中與標同而本則異，故不從中而從標從本也。陽明本燥而標陽，厥陰本風而標陰，然厥陰之中見相火為木子，陽明之中見濕土為金母，木從火化，燥從濕化，故不從標本而從中氣也。</p>

<h1>虛火實火陰火說</h1>
<p>火之為病有三，一曰陰盛之火，桂附之類是也；一曰陰虛之火，芍地之類是也；一曰陽盛之火，苓連之類是也。總之，三者皆稱為火，蓋其所因之有不同耳。夫陰盛之病者，非陰自盛也，乃陽虛至極不能敵陰也，非補陽何足以破其陰乎！陰虛之病者，非陽盛也，乃陰虛不能配陽而陽無陰以相維也，非補陰何足以配其陽乎！陽盛之病者，非陰虛也，乃陰平陽盛而陽自盛者也，非伐陽何足以保其陰哉。故三者，一為陽虛，一為陰虛，一為陰不虛而陽自盛之，因不同有如此者。又升陽散火者，陰遏之火也，東垣所云之火也。滋陰降火者，陽亢之火也，丹溪所云之火也。陽盛之火者，河間所云之火也。陰盛之火者，太僕引火歸原之火也。凡此四者，須辨而明之，則不致有誤矣。</p>

<h1>生死繫於病家而不繫於醫家論</h1>
<p>醫為司命，除輕病不藥亦愈，及絕症與老死，雖藥不能挽救外，余則莫不恃醫藥為起死回生之途徑，顧病情雜出不窮，治法亦千端萬緒，有應治標者，有應治本者，有應先治標而後治本者，有應先治本而後治標者，有標本同治者，有不治標本而從乎中者，擇方有宜乎奇者，有宜乎偶者，有奇之不去而偶者，有偶之不去而奇者，用藥有須寒涼者，有須溫熱者，有寒熱溫涼並用而相濟者。凡此種種，不勝枚舉，病家求治心切，一擊不中，責難即至，或昨張而今李，或朝中暮西，築室道旁莫衷一是，雜藥亂投愈治愈壞，以其責醫，醫固不任其咎也。蓋病家延醫診病，必先擇其品行端正，學問優長者，信任之而不復疑，使之本其平日之所學，審其治標治本，先後緩急，從容展布，毫無牽制於其間，然後責以效果之如何而無可推諉矣。不爾則敷衍了事，且避謗之不暇，而尚何徒薪與曲突耶！憶！曩有同事劉君竹深令妹，患產後心腹痛，余初診以為瘀血凝阻，用桃仁承氣法加減服之，痛更劇，復診以脈雙弦而澀，按之無力，改用歸耆建中法加牡蠣、阿膠之屬，外貼二龍膏收效。設當時劉君以治不應手，另延一醫，則成敗未敢知也。上年江寧張姓婦，患肝鬱腹痛，余用苦辛泄肝，佐辛香流氣之品，連診十餘次，痛勢漸減，惟尚未全愈，倘再診數次，自信必可收功。後聞入某醫院割制而殞命。諸如此類，不知凡幾，不過略舉一、二，以為生死繫於病家而不繫於醫家之佐證云爾。</p>

<h1>論寒熱</h1>
<p>經云：微者逆治，甚者從治。治寒以熱，治熱以寒，逆治也。寒熱溫涼反從其病，從治也。服寒而反熱者，此必假熱真寒；服熱而反寒者，此必假寒真熱。自有寒熱表出，只論寒熱度數之高下，不知寒熱真假之伏藏，設遇傷寒，陰證似陽，亦持一表以驗之，但見熱度甚高而不於脛冷、甲黯、便泄、溲清、脈浮微或沉弱辨其真寒，將一投劑而立斃，表可憑乎！其他表熱翕翕，裡熱蒸蒸，浮取沉按，其熱攸異，皆指下能明驗，表不得而知之者也。</p>

<h1>《醫貫》治虛瘧方兼治久熱不退之經驗案</h1>
<p>趙養葵《醫貫》云：余見發瘧有面赤口渴者，俱作腎中真陰虛治，無不立應。凡見患者寒來如冰，熱來如烙，惟面赤如脂，渴欲飲水者，以六味加柴胡、芍藥、肉桂、五味，大帖一服而愈。余得其法，屢屢獲效，且不必拘定寒來如冰，熱來如烙，即無寒但熱久而不退，或時熱時退，纏綿不已者，一用此方，無不立應。猶記五年前，余長女之適嘉定秦氏者，患咳嗽，發熱時作時止，余即寫此方與之，而其堂上不敢使服，服他醫藥又不效，後乃勉以吾方姑試之，竟一藥而愈。時有胡孟云者，蘇常人，工詩畫，亦負知醫名，秦之表親也，適下榻秦處，初見此方，極不謂然，及服之果效，始大詫為神奇，後胡遇看病有久熱不退者，照方試之，亦無不效如桴鼓，竊謂醫家立方以能愈病為真實憑據，何必入主出奴好為高論。邯鄲《醫貫》一書，為世詬病已非一日，徐洄溪尤詆之不留餘地，然其中好方甚多，徐氏之說余不取隨聲附和，蓋實由親身試驗得來，非比阿好也。</p>

<h1>附桂八味湯治腎虛狂渴之經驗案</h1>
<p>六、七年前，余在農商部兼職時，有守衛後門之老岳某，旗人也，年六十餘，聞前清襲有世職，至民國落魄乃至此，有子十人，喪其九，僅存者年十三耳。是年春，因疹沒失於調理，至入夏而喘嗽作，胃納日減，口渴特甚，每夜必飲水；盡十二巨壺，猶以為未足，至六月，病更深，不知從何處得余知醫名，意欲請方而未敢造次，有代為乞憐者，余慨允之，即令先來看脈，來則面白如紙，狀極狼狽，十手指瘦削如蔥管，甲長半寸許，真文弱可憐人也。按其脈沉而細，舌苔黑潤，知其為腎虛作渴症，為用滋水補火法，開附桂八味大劑與之，並告以熱藥冷飲之法，服後當夜即減，飲十二壺之半，次夜又減半之半，至第三夜只飲一壺矣。余於第四日又遇老岳幹部之後門，為我述其子服藥後之應效狀，余囑其多服三、五帖，方免後患，則蹙然應曰：貴藥用不起，能用他藥換去肉桂否？余笑而不答，即隨手探囊出兩元贈之，嗣後不復聞問，至八月節，忽率其子來踵門謝，則面如滿月，唇紅齒白，生氣勃勃矣。此種治法在余實從高鼓峰、呂東莊、陳遠公、毛達可諸賢得來，明知諸賢醫術久不為潮流所重視，而我行我法，隨處有得心應手之妙，故不嫌人棄我取也。</p>
<p>上期報云，治驗案者，有前賢軌範可循，並列證據，用昭大信。此云經驗案者，由本人平日閱歷所得，不敢隱秘，用示大公。</p>

<h1>素心蘭治笑症</h1>
<p>夏麗笙姻丈，嘗言少時得笑疾，有所見聞，雖甚尋常，亦必一笑始快，當時有親戚家延青鎮沈梅卿先生治病，夏丈附診，先生言手少陰心絡浮熱，用素心蘭七十二朵，一服而愈。梅卿之弟馨齋同負盛名，遠近數百里間，延聘無虛日，馨齋逝後，嗣能繼其學，然規模差狹矣。青鎮自乾嘉後代有名醫，不知傳授所自，陸定圃先生《冷廬醫話》亦未之及。沈氏兄弟外，若陳梧時蕙卿兄弟於女科最精，所藏古籍亦多，今不知存否？與定圃先生同時者，尚有張君千里，亦精於醫，《桐志》有傳。譜弟董懋堂同年，曾患此證，惜是時余不知是方。晉笙志。</p>

<h1>記韓君自述治乳岩方</h1>
<p>杭人韓清泉大令之子，自江西某鈴醫習得以草藥治病術，甚為靈驗，兼聞其自述，治西湖岳墳居戶馬某媳左乳患乳岩兩年，已大半潰腐，百法延治均無效，後有薦韓治之者，韓以花椒若干分和以食鹽、香草置鍋中炒熱，然後撒婦人油發中，即以絹帛摺裹其發置瘡上，按之摩之不停手，瘡之膿血腐肉經亂髮爬梳，咸淋漓隨手落，雖痛甚，忍痛為之，如是連治三、四日，所創旋合而結痂。三、四月後，平復如初。按：乳岩患者不潰尚可治，潰則鮮有愈者，而韓君竟能以草藥數味起死回生，操術不可謂不神。余時年二十餘歲，甚慕其術，欲從之學，韓言須隨之往皖贛浙東閩北諸山中三年，認識各種藥草，然後再臨證二、三年，即可術成，然為處境所限，不能如志。今韓君已老困，民國四年，聞人言尚在滬上，今不知甚存亡，絕藝失傳，良可惜也，記此所以傳韓君，並所以傳良方也。杭縣葉瀚。</p>

<h1>治淋良方</h1>
<p>治淋舊方如萆薢分清飲、五苓、八正等散，古人不過示以大法，至於辨證施治，增損原方在乎臨，時斟酌。現時西藥有專治此症者，頗收捷效，但淋症雖止，餘邪難清，與金雞納霜之截瘧同是劃藥，葉浩吾君言七星豬蹄同燈心五十莖，煎服治淋，此真歷驗無弊之良方也。</p>

<h1>答吳霞赤問口渴證</h1>
<p>問曰：口渴一症，多屬熱，多屬液少，夫人而知之。故先哲醫案每即據此以辨病之為溫熱，為液少。然水飲屬濕，仲聖於飲家反渴用乾薑、桂枝、桔皮、附子、生薑，可知濕不化則液不潮，亦能口渴，下焦陰寒太盛，氣不化水，未能蒸液上騰，亦今口渴，是寒濕有口渴者矣。但欲辨屬熱屬燥屬寒屬濕，臨證時諸證互參，將於何等證候辨別之？答曰：《傷寒論》辨霍亂症曰：寒多不欲飲者，理中湯主之，熱多欲飲者，五苓散主之，口渴證之為寒為熱，亦可於欲飲與不欲飲辨之。狂飲無度而兼喜冷飲者屬熱屬燥居多，渴不欲飲或飲亦不多，且喜熱飲者，屬寒屬濕居多，再參之以脈之洪數遲澀，舌之潤與不潤，小便之短赤或清長，則病無遁情矣。</p>

<h1>其二</h1>
<p>問詳前條。答曰：口渴見症甚多，擇其簡要易知者，厥有三端：曰舌苔，曰引飲與否，曰小便。試舉其例於後。如舌黃，或絳，甚則邊尖有刺，引飲，或並喜涼飲，小便短赤者，屬實熱；如舌光絳，甚則中剝，時時思飲，又不能多飲，小便自利者，屬虛熱；如舌糙白，或干黃，引飲，小便短少者，屬燥；如舌薄白，不引飲，小便清長者，屬寒，如舌白膩，舌形胖不引飲，小便不利者，屬濕，其間或為濕熱，或為燥熱，或為寒燥，或為寒濕，就其見證之錯綜不齊者，而互勘自得真相。（案：熱證熱在氣分則口渴，熱在血分則口反轉而為不渴，此理亦不可以不知。晉笙注）</p>

<h1>血脫益氣辨</h1>
<p>血脫益氣（詳見《從眾錄》中血症篇）雖屬古訓，余心竊有疑焉，蓋血既脫而陽孤矣，若再益氣，豈不氣更盛而血更脫乎？雖然陰生於陽，陽生干陰，蓋陰陽須相維也。經曰：孤陽不生，孤陰不長，治此者宜滋陰以配陽而加一、二味氣分之藥，則陽入於陰，陰陽自相平矣，即四物加參耆，□愈湯之義也。若醫不知此而率爾蓋氣，吾未見陽極能生陰也，明理者以為然否。（血虧而氣因之亦虧者，宜補氣為先，以有形之血不能自生，生於無形之氣也，若血自虧而氣不虧者，宜滋陰補血為要，不得墨守成語而不思也，今血脫益氣，但言血虧而氣固之亦虧之一條，於血自虧而氣不虧之一條，未能分明，故余有是作。）</p>

<h1>小兒服涼藥成癡辨</h1>
<p>小兒有疾，人成畏服涼藥，恐成癡傻無法挽救，此似是而非之說也。夫涼藥定心鎮驚之品，不過數種，如牛黃、琥珀、硃砂、珍珠、石英、龍骨、龍齒、金箔、鐵粉之屬，過劑則令人失聰，其他如犀角、羚羊、石膏、黃連等藥，過服則胃寒令人嘔吐、瀉利，不至癡傻，雖然藥性各有所偏勝，達過不及，皆足為害，當辨證以施治，不能因噎以廢食也。（雋侯按：硃砂、金箔之屬，過服致呆者，不僅由於涼，蓋由於重墜也。）</p>

<h1>論外症有不可開割者</h1>
<p>凡癭瘤、結核、流注、瘰癧等證，皆不可開割，倘誤用刀剪，輕者變重，重者即死。今人一見外證，皆就西醫治療，西醫不論虛實，不講陰陽，操刀一割，畢其能事。如遇可割者，其取效因捷，若不可割者，危險立見，是在病家之注意，未可以生死所諸人也。</p>

<h1>臨產交骨不開單方</h1>
<p>柞木四錢，龜板三錢，煎服。柞木非家家藥肆皆有，須預備。</p>

<h1>產後交骨開不復合單方</h1>
<p>靈磁石四錢，虎脛骨一錢，煎服。虎尻骨更佳。</p>

<h1>產後產門不合單方</h1>
<p>外治用陳石灰炒熱，淬水洗，不拘多少。此項須預先自備。</p>

<h1>產後脬損單方（有小便淋漓之見證為辨）</h1>
<p>黃絹於柴灰淋汁中煮爛，稍加白芨末，日服。</p>

<h1>論微生物</h1>
<p>自科學日進，顯微鏡之制亦日精，凡肉眼所不能見者，至此遂物無遁形。醫者利用之，以發見寄生人體之微生物。（其大別為二，具動物性者，謂之微生蟲，具植物性者謂之黴菌），遂為西醫界開一新紀元，例如，瘧疾（胞子蟲之一種），痢疾（短杆蟲之一種），白喉（亦為桿狀菌與體操所用之啞鈴相似），瘡瘍（病蟲種類不一），以及西醫視為棘手之猩紅熱（為一種滴狀蟲運動的寄生物，或為一種連鎖狀球形細菌。），肺結核（即肺癆，其病菌為結核桿菌）等症，無不有多量之細菌或微生物，而一切傳染病及疫癘無論矣。西醫自發見病蟲以來，突飛進步，凡對於消彌撲滅防範之法，可謂無微不至，而治效亦因之日著（然亦有蟲雖盡而病未愈者，亦有旋愈而旋作終至不治者）。其功不可謂不傳，其術亦不可謂不精矣。返觀我華醫界，對於微生物素未研究，惟競競於陰陽、邪正、寒熱、虛實、五運六氣之間，如藥不對症，宜其百無一效矣。然數千來，其治瘧、痢等常見之症，竟能藥到病除者何也？豈柴胡、桂枝、黃連、黃芩等品亦有殺蟲之功耶，即推之西醫所號為難治之猩紅熱、肺結核等症，經中醫治愈者，亦比比皆是，若是者，何哉？夫亦曰氣化而已矣（我國庸醫殺殺果亦不少，然此乃現在醫士之不良，非中國醫學之不精也。），夫人之不能離氣，猶魚之不能離水，故《內經》曰：九窈五臟十二節，皆通乎天氣。又曰：天氣通於肺，地氣通於嗌，風氣通於肝，雷氣通於心，穀氣通於脾，雨氣通於腎，諸如此類，不勝枚舉，故就氣化之廣義言，則人類生活於氣交之中，息息與天地相通。從氣化之狹義言，則人身各具一小天地，試觀天地之間一切昆蟲，無不生於春而殺於秋，長於夏而藏於冬者，何也？氣化為之也。蓋六淫之氣偏勝皆能生蟲，其尤顯者為風生蟲（細菌學家云，空氣為微生物生活之所，微生物即隨空氣而周流，夫空氣動即為風，故風字從蟲，言風中有蟲也，古聖格物之精幹此可見。）。濕生蟲、熱生蟲，春風鼓盈生機，則蟄蟲始出，長夏暑濕交蒸，則化生尤繁，造夫秋霜肅殺，而靡有子遺矣。可見天地之氣生之，天地之氣亦能殺之，人體亦然。因風而生蟲者，祛其風而蟲滅；因濕熱而生蟲者，清其熱，燥其濕而蟲亦滅。猶之天時之肅以金令（木生風全剋木），暴以秋陽（燥勝濕），殺以嚴霜（寒勝熱）而諸蟲悉滅，不必問其性之為植物、為動物，更不必辨其狀之為球、為杆、為連鎖也，更有進者，人體由精蟲構成，是蟲實為人體之主要成分，至謂人為裸蟲之長，直以人為蟲矣。從知人體原蟲是否概應樸滅，實為醫學上待決之問題（譬之，農田有害蟲，亦有益蟲，竊謂人體亦然，但尚待證明耳。）。至人體之有微生物，人皆謂泰西所發明，（一六七一年阿泰那奇烏斯氏，始經發現，名之曰小蟲kleine　Wurmer。一六八二年萊溫苦氏，用強度之透鏡發現細微之運動體，名之曰最小動物winzise　Tierchen）而最先發明者實為東方。考諸內典云，人自生胎後，體中即生極微細蟲，為目年不見者，共有八十種。其大而可見，惟胃中蟲耳（接即蛔蟲）。《禪經秘要》云：男子周身四百四脈，皆從眼根布散，流注諸腸（中略），至陰臟處分三支，如芭蕉葉紋，有一千二百脈，一一脈中皆有風蟲，細於秋毫。風蟲之外有節色蟲七萬八千，圍繞如環，眼觸於色，風動於心，心根一動，四百四脈皆動，八萬戶蟲（按上言七萬八千，此云八萬，舉其成數也）一時張口，眼出諸淚，其色青白，化成為精，從男根出等語，與西人精蟲之說，不謀而合，且於人身固有之蟲，知其一定數量，明光慧眼，燭照無遺。又曰：女子子臟有九十九重膜，上園下尖，直至產門，中有二千九百細節，如芭蕉紋，八萬戶蟲（按此與男子同）周匝圍繞，人飲水時，散布四右四脈（按此亦與男子同），諸蟲食之，即出敗膿，其色如血，復有細蟲遊戲其中，積之一月，無可容受，所以女人必有經水，云云。是則女子經水之中亦有細蟲，不僅男子有精蟲矣。此為未有顯微鏡以前早已發明微生物之明證，亦即人體莫不有蟲之明證。夫無病之人，既亦莫不有蟲，則病蟲之外，並有益蟲可知矣。安見其概應消滅乎，此鄙意所謂尚待研究，未可以現時之治法為止境者也。至《莊子》之所謂蝸角蠻觸，《列子》之所謂蚊睫焦螟，皆中國微生物之發明家且尚在西曆紀元以前。彼讀書不成，棄而學醫，目未窺中國先哲之書，捨己耘人，以為道在是矣宜其為社會所鄙薄耳。</p>

<h1>病家不可不知醫</h1>
<p>病家多不知醫，往往受醫藥之誤。余素有痰飲困脾證，在江南時每歲必發一、二次，發則倦怠懶食，嗜臥，脈濡弱，面萎黃，甚則經月不瘥。服香蔻二陳湯，繼之以香砂六君十餘劑即霍然。旅京十餘年，未嘗小發。壬戍之秋，大發特發，月餘不解，每日進香砂六君湯，幸未困全，日必躞蹀長街一二次，親友皆為余危，內子亦悚懼，吳立齋君特薦米市衚衕薛姓老醫，薛本福建人，前清舉人，工部主事，民國仍以一等一級主事隸教育部，鬚髮皆白，道貌巖巖。為余診脈約半鍾之久，詢問周詳，渠固不知余為箇中人也。診畢，囑余入房安養，乃悄對內子曰：「此病勞心、勞力、氣血兩虧、脾腎交憊，年逾花甲，恐不易為力」。內子求請立方，渠乃握管頗費躊躇，約一鍾之久，始開成一方，脈案甚長，所論皆中肯，其方乃黑歸脾湯，熟地用至一兩之多，木香只用五分，臨別贈言，得效尚有斟酌餘地，否則宜早回南為是。內子見方，怪其補膩太過，余對內子曰：論證立方，頭頭是道，無如所診者非我也。使不知醫者，必遵信不疑，雖服之至死，病家仍贊其高咱也。姑舍之，仍持舊方，親赴鶴年堂，檢香砂六君子湯而歸，未及旬日，病已痊愈，乃走謝立齋，相與共論醫藥之難。若薛醫者，誠良工也，蓋彼旅京多年，北方無濕困病，南方之居北者，濕痰多不舉發，故未遑議及耳。設使我不知醫，誤於此老之手矣，甚矣！病家不可不知醫也。</p>

<h1>病家不可略知醫</h1>
<p>病家不知醫，固受醫誤；病家略知醫，其受醫誤較之不知醫者為尤甚。蓋彼早時所看之書，大都一知半解，偏喜賣弄，每遇醫開一方，彼必參以己意，暗為更改藥味，效則攘為已功，不效則歸咎於醫，且不對醫說明自改，醫既不知其自改藥味，反疑已藥不中病，更立一方，而病家又暗改之，愈走而愈入歧途，致戕生命，此略知醫之為害大矣！</p>

<h1>神枕法</h1>
<p>《道藏》有神枕法，敘云：太山下老翁，漢武東巡時見之背上有白光高數尺。帝怪而問之，老翁對曰：臣昔年八十五時，衰老垂老，有道士教臣服棗飲水、絕谷，並作神枕法，中有三十二物，其二十四物善，以當二十四氣，其八物毒，以應八風。臣行之轉少，發白返黑，墜齒復生，日行三百里。今年一百八十，不能棄世入山，願戀孫子，復還食谷，又已二十餘年。武帝視老翁如五十許人，驗問其鄰，皆云信然，帝乃受其方作枕。方用五月五日、七月七日取山林柏以為枕，長一尺二寸，高四寸，空中容一斗二升，以柏心赤者為蓋，原二分，蓋致之令密，又當使可開閉，又鑽蓋上為三行，行四十孔，凡一百二十孔，令容粟米大芎藭、當歸、白芷、辛夷、杜衡、白朮、藁本、木蘭、蜀椒、桂、乾薑、防風、人參、桔梗、白薇、荊實、肉蓯蓉、飛廉、柏實、薏苡、款冬、白蘅、秦椒、糜蕪、烏頭、附子、藜蘆、皂莢、炙草、礬石、半夏、細辛（此八藥毒）三十二味，各一兩，皆㕮咀以毒毒上安之滿枕，中用布囊以衣，枕百日，面有光澤，一年體中新疾皆愈，而身盡香，四年白髮變黑，齒落更生。帝以問東方朔，答云：「近者谷城道士淳于公，枕此藥枕，百餘歲而發不白。」</p>

<h1>預防煤氣熏蒸</h1>
<p>常食海帶菜及綠白生蘿蔔。如紅心者無用。又夜間窗戶勿一無空隙。</p>

<h1>預防感溫化火爍液</h1>
<p>鮮蘆根常服代茶。</p>

<h1>參朮乾葛皆能卻液而不能生津</h1>
<p>汪訒庵於四君子湯、附方七味白朮散下注云：人參、白朮、乾葛皆能生津，此注大誤。古方所稱之人參皆潞參，其性溫；今稱之人參皆遼參，其性大溫。前所用之遼參皆生採參，今所用之遼參皆焙熟參，是以性燥熱，能助肝火。白朮能燥脾濕，即能涸胃陰。乾葛能升胃氣，濕阻氣滯，因而胃液不上潮，口渴者用之，則胃氣升，而胃津與之俱升，非能生津者也，故張司農曰：葛根竭胃液。此三藥故能劫胃液者，反云皆能生津，豈不誤人。</p>

<h1>腦髓腸胃胞宮為臟為腑辨</h1>
<p>《素問·五臟別論篇》黃帝問曰：余聞方土或以腦髓為臟，或以腸胃為臟，或以為腑，敢問更相反，皆自謂是，不知其道，願聞其說。岐伯對曰：腦、髓、骨、脈、膽、女子胞此六者，地氣之所生也，皆藏於陰而象於地，故藏而不瀉，名曰奇恆之腑，夫胃、大腸、小腸、三焦、膀胱此五者，天氣之所生也，其氣象天，故瀉而不藏，名曰傳化之腑。所謂五臟者，藏精氣而不瀉也；所謂六腑者，傳化物而不藏者也。案：古者臟腑混稱，考《素問·六節臟象論》云：十一臟取決於膽。《素問·靈蘭秘典論》以臟胃為十二臟相使之次是皆稱腑為臟。自黃帝岐伯察天地之五氣而知五臟之生長，只此五者為根本，遂定五臟之名稱。著《五臟生成篇》以垂教後世。蓋腦、髓、胞宮、骨皆屬諸腎，言腎臟而三者可包括焉。脈屬諸心，言心臟而脈可包括焉。臟病虛多實少，大法宜補；腑病實多虛少，大法宜瀉。彼夫不分臟腑，不辨虛實，但就病之所在而名之曰腦膜炎，曰腸胃炎，曰子宮病者，其亦未知人身之生成長養，悉本於天地之五氣與。</p>

<h1>爛喉治法不同說</h1>
<p>比年來，爛喉盛行，死亡相繼，此非不治之症，皆由醫家未能辨別病原、誤藥所致。症分三種。一為外感實症，表受風溫，病在肺，病狀惡寒發熱，白腐僅在外面浮面，舌質赤，舌苔薄潤，身上或有疹，或無疹。宜辛涼解表，用前、蒡、翹、貝、勃、蟬之屬，外治用薄荷、真青黛、硼砂、馬牙硝等研末吹之。一為內傷虛症，陰虧燥熱，病亦在肺，病狀無寒熱，白腐在裡面，如粉，如石灰，發呆白色，初起成點、成塊，一二日即黏連成片，滿布喉間，舌質紅，舌苔或白、或微黃，或無，而必燥澀，毫無滑黏膩涎，治宜涼潤、清降，用養陰清肺湯之屬，外治用金銀花、生甘草、象牙屑、濂珠粉、指甲灰、燈心灰等，研末吹之。一為內傷實證，濕熱熏蒸，病在胃而襲於肺，病狀無寒熱，間亦有寒熱者，必在午後而熱不揚，寒不甚，白腐處帶黃明色，必黏沫滿喉，舌質紅，舌苦苔厚膩、黃滑，重者口噴穢氣。治宜化濕清熱，如三仁湯之屬，或滑石、通草、子芩、茯苓、煎仁、金果欖、山豆根等，外治亦用金果欖、山豆根加滑石、人中白等研末吹之。其辨別全在舌苔之為燥，為潤，為膩，以及平素體質，大小二便，詳察三症，互誤均能殺人。大致喉症無不由君相兩火上炎，故清心、清肝之藥亦不可少。又火爐香菸，實為致病之由，一併附及。</p>
<p>此論已印在《醫論選》中，因時下爛喉之症頗盛，而《醫論選》未必人人皆有，不妨再登此冊，將以普及。大概現下爛喉不出此三因，再有痧回後，喉反爛者，痧已回矣，邪已去矣，於此可辨其非實火，乃陰虛火旺也。若陰盛於下，逼陽上越之爛，必溲清便溏、脛冷，宜附、桂大溫之品，以引火歸原。中氣不足，陰火上浮之爛，宜用參、術，而佐以五味等收斂之藥。梅瘡毒氣上攻之爛，則宜用九龍丹、歸靈內托散等方。此皆就爛者而言，又有不爛之鎖喉急閉症，屬風寒者，非麻黃開提不可，須華蓋散。屬鬱氣夾生冷者，須紫金丹。此外，喉病尚多，未及備言，但擇要症言之。陸成一識。</p>

<h1>答陳滌塵問目昏視物紅白不一治法</h1>
<p>問曰：其操勞過度，體質素弱，前歲因憂傷過度，忽引起頭眩、眼昏、視物顏色不一，或紅或白，胸膈飽悶，或食後發脹不消，或食後頓呈飢餓狀況，兩腳自膝以下發冷，久坐頭眩腰痛，臥時右側貼褥較舒，否則不安。去年八月間兩目失明，雖投以參桂鹿茸丸及別直參等，亦未收大效。現在一切症狀大略同前，現併發氣痛之症，每於肚角上發生一氣塊，如英洋大，帶遊走性。此氣塊若上升，則目痛、頭熱；若下降，則腰痛、腿熱、心窠甚冷。若食鹹，則噁心；食甘，則心頗爽，惟兩耳仍聰，聞音鴻亮。</p>
<p>答曰：左臥不安，腰痛、目失明，病在肝。肚角氣塊，帶遊走性，病屬肝氣。食後發脹，塊在肚角，木已犯土。此外見症，虛實皆有，未能據以懸斷。是病宜察舌苔，苔膩口不渴而涎多者，為肝氣挾中焦痰飲以上升，實症也；苔薄而黃、或絳，捫之糙者，上渴而涎少者，為水不涵木，肝氣化火以上升，虛也。用藥大異，未能辨別明白，難於開方。</p>

<h1>答李明甫問頭痛且眩並腿軟治法</h1>
<p>問曰：敝人年近五旬，身體強壯，自幼至今別無嗜好。於民國九年二月間，忽患頭痛、眩暈、兩腿俱軟。急請醫治，有謂傷腦髓，則補腦；有謂思慮過度，則理脾；有謂怒氣傷肝，則平肝；有謂水有虧，則補腎；有謂傷了頭風，則除風；有謂陰陽兩傷，則調氣血。種種治法，概未見效。積日累月，似有半身不遂之勢。是以不揣冒犯，伏祈貴社諸大醫土，惠賜良方，以起沉疴。茲將現在病證詳列於下：無燒，無冷，飲食如常，氣足聲高，頭不安枕，但睡時略暈，必半坐半睡梢安，兩腿步履艱難，平坦處略行數步，或遇上下則舉止更難，冬令則病尤重，舌邊尖紅、中白。</p>
<p>答曰：舌邊紅為肝火旺，尖紅為心火旺，參諸氣足、聲高，顯為氣火上衝之陽症，上盛自然下虛，故腿軟，非即可以峻補。但症有兩種，其一種苔白而厚膩，則是肝火挾胃家濕痰以上攻，治宜化痰濕為主，佐以清肝。如茯苓、生苡仁、法半夏、鹽陳皮、姜竹茹、生赤芍、萊菔汁等。倘苔薄白而涎少，則是水不涵木，肝陰虧，治宜制女貞、黑豆、石決明、青竹茹、赤芍、白芍、青黛、紫石英、甘菊，稍佐以理氣鬱金等。以冬令病重論之，或是下條為的當也。</p>

<h1>答楊燧熙問氣逆嘔吐治法</h1>
<p>問曰：病人年六十四，業商，素本肝腎陰虧，因勞神過多，且又多言，氣傷，舌質光絳，舌中有苔姑白果許，脈象小數。三十年前有淋病，每大解用力則精泄，現在時時氣逆，左膊覺熱，其傳串至中脘則嘔吐，吐甚則汗，其吐每在食後為多，形容本來消瘦，飲食稍減，二便如常。祈諸道長惠賜良方。</p>
<p>答曰：形容消瘦，木火體質也；精泄，肝火為患也；氣逆嘔吐，肝火上衝犯胃也；舌張，膽火熾也；質光而僅舌中有苔少許，胃液虧也。病為肝腎陰虧，累及胃陰，毫無疑義。但尚有溫滋、涼滋、溫潤、涼潤四法，須分別用之。無痰者可滋；有痰者只能潤。體氣偏寒者，可溫；體氣偏熱者，宜涼。今就上列各證，又當暑令，暫緩涼滋，如二冬、龜板、鱉甲、阿膠、元參之類。先用涼潤如細生地、北沙參、白芍、生甘草、生牡蠣、川石斛、代赭石、冬青、川貝諸味已足。若沙蒺藜、枸杞子、杜仲、歸身等之溫滋，勿參入以奪其功，未知高明以為然否？</p>

<h1>答虞井灶問兩腿痠楚不能行動治法</h1>
<p>問曰：病人現年三十五歲。當十六歲時，足球踢傷左腿，蹺三日而愈。念歲跳高時，右腿傷筋，蹺一日即愈。二十四歲時，左肩忽覺酸楚，按之即欲狂笑，約十五日自愈。念五歲時，患睛痛、腹瀉等症，臥床十餘日，覺背部板滯，以為久臥便然，迨病起而板滯如故，旋覆延及腰際，覺兩腰痠楚不能轉側，俯仰動作，咸感不便，至念八歲時，又復延及腿部，先覺左腿大骱酸楚，後右腿大骱亦酸，大骱之筋，時覺吊住，每年約發三、四次，每次約十日而愈，發時不能多走，愈後仍可步履。至三十歲時，竟一發不愈，兩腿時覺酸楚矣。自是步履艱難異常，且兩腿大骱漸形僵直，致屈伸不得自由，起坐益覺不便，從此日益加劇，寸步難行。去年春季，肝胃病作，腿恙因而更劇。今腰背無恙，眠食如常，頸項不能俯仰及左右轉，兩腿大骱不能屈曲，膝骱亦不能彎，終日臥床不能起坐、轉側。倘平臥不動，則毫不覺酸，若欲勉強移動大骱，即酸楚難堪。歷經中西醫治，終歸無效。敬乞大方家研察，並賜擬方救治。</p>
<p>答曰：自初病至今，腿蹺肩酸，背板腰痠，不能轉側，骱筋吊，頸項不能俯仰，全屬筋病。治法宜舒經絡。但須分別濕熱、燥熱、寒濕、寒燥四種體質，方可用藥。濕熱用酒炒川楝子、生苡仁、酒炒防己之類；燥熱用竹瀝、竹茹、絲瓜絡之類；寒濕用川椒、白芥子、片兒薑黃之類；寒燥用秦艽、川續斷、宣木瓜、橘絡之類。其藥皆通經舒絡，而其性各別，苟誤用之，非但不能愈病，且因而加病。辨別之法，則在面色、唇色，舌質何色、捫之為糙為滑；舌苔厚薄，何色？舌涎多少？小便清長、短赤；大便溏薄、乾結，其氣為腥、為臭，其色為深為黃、為淡黃，詳細分之。</p>

<h1>答月波問頭痛而重囟門高突治法</h1>
<p>問曰：鄙人現年五十有三，去歲患歷節風，痛不可忍，後經醫生療治，果得病療。今春忽患頭痛如劈，囟門高突，按脈沉弱，而苔黃白，胃納尚好，有時頭重如壓，則目不見，甚至徹夜不寐，種種苦狀，筆楮難盡。至於治療之法，育陰潛陽，以及攻風劫痰、針灸之屬，遍嘗之，後得單方，篦麻與沒藥共研末貼痛處，則立止，逾日復發，而前藥不效矣。知貴社同海內大醫士研究良方，特述病狀，俾鄙人苦海脫離，感甚。</p>
<p>答曰：此非小恙，乃肝腎下虛症。前患歷節風，系風寒濕三氣襲入筋骨所致。肝主筋，腎主骨，邪之所湊，其氣必虛，是必肝腎先專而邪得以湊之。病後邪除，則虛者更虛。囟門屬腎，巔頂屬腎腎又屬肝，前後相參，非肝腎病而何？但當有腰痠、腿軟、足浮等下虛見證，問中未提及。再有真水虛而陽越，真火虛而水泛之分。水虛者脈數而無力，晚劇；火虛者脈大而無力，晨劇。如其面色㿠白，或痿黃，唇淡或黑，舌質淡，舌形胖，舌苔薄，舌液多，捫之滑，大便溏薄，色淡黃，氣不臭者，真火虛也。宜每劑用八味地黃丸二兩。苟與以上見證多數不符者，則是真水虛也，宜用六味地黃丸二兩，並以青鉛半廳，烊開澆入涼水，撈出再烊再澆，如是三、四度，乃用前丸研碎加入生黃耆、芎窮，俾得引升病所，以此水煎藥，俾先升而復降。再，惟動內風，所以至巔，水虛佐鉤藤涼息之，火虛佐明天麻溫息之。今所幸者，脈象沉弱，若至浮弦沉堅，則昏厥難治矣。又外用黃柏、吳茱萸、靈磁石研細末，好醋調塗兩足底，再以生鐵屑水調，薄薄滿敷頭上，藥性已過換之，亦可以輔助內服之藥力者也。倘以冷水手中試拭頭，而覺安適，舌苔黃厚膩垢者，則是餘邪上攻之實症。前方不可用，又宜以川萆薢為要藥矣。而外治方則仍可用。再者，凡病於虛實疑似之間，或攻或補，用藥最宜酌量先後。如前寒林殘客問吐血，此症最懼留瘀，致貽巨患，是宜化瘀為先，即或有誤，不致驟虛，補救甚易。若貴恙誤用辛散，一旦驟脫，勢將不及，誤用補劑，可以改治，醫究非仙，何能百無一誤，但於此等處，利害相權，孰多孰少，斯能十全其八，稱上工矣。</p>

<h1>答王者輔問身如在舟申簸盪治法</h1>
<p>問曰：友人於七年前無故得一奇症，飲食、夜眠、二便均如常，手能寫字，足不能步履，略走十餘步尚可支持，終日臥時為多，有時稍坐片刻，即覺心搖搖如身在舟中，遇風浪而被簸盪之狀。歷經診治，或以為怔，或以為風，迄今服藥不斷，並無寸效。今年日服人參再造丸二十餘粒，亦毫無出入。脈形濡軟，苔色如常，其人面色白淨，素無嗜好，體不甚肥，此症是否屬於痿症？有無治法？請海內名家不吝珠玉錫以答解，依法療治，俾病脫體。</p>
<p>答曰：貴友是不能步履，確是痿症。痿有多端，以面色淨白，揣之決非濕熱成痿之實症。而虛症中亦有骨痿、筋痿等種種不同。以稍坐即覺如在舟中簸盪，揣之是風也可知，其非骨痿而為筋痿，何也？曰：肝主筋、肝生風也。然肝熱生風，肝虛寒亦能生風，即空谷來風之理。仍以面白揣之，當為肝虛寒之生風，風入筋則筋無力而痿矣。照此擬方，宜用續斷，木瓜、刺蒺藜、沙苑蒺藜、明天麻、生酸棗仁、金毛狗脊、干桑椹、菟絲餅、紫石英諸味，其分量請自裁酌。若舌質深紅而不淡紅，大便深黃而非淡黃，小便短赤而非清長，此方不可服也。</p>

<h1>答童北屏問雙目不明治法</h1>
<p>問曰：敝處有一婦人年六十七，於民國七年二月間，雙目疼痛延至八年，遂漸次失明。診治多人，未嘗收效。其脈一息四至，右手關浮，雨尺均半浮半沉、無力，左手過關尺三部均浮細，亦無力。舌苔白而兼黃，近來時痛時癢，夜不安寐，甚至心中煩燥，時常頭眩。伏乞貴社諸先生暨海內名家惠賜良方。</p>
<p>答曰：脈象一呼吸四至，尚稱乎脈，稍偏寒耳。左三部浮細無力，血虛而氣不附麗之侯。右關浮，肝氣衝於胃之倏。參以頭眩，心煩，時痛時癢，虛風虛火也。擬用局萬駐景丸以補肝腎，肝氣起於郁，用廣鬱金一錢；脈浮宜斂，用五味子三分，一散一收，配合為劑，煎湯下丸，食前常服。</p>

<h1>答楊又生問卒然豪蔽口噤右肢瘛瘲治法</h1>
<p>問曰：族石湖子，年二十餘，業農，夏六月時，病濕溫，餘熱未清，不知食，入則復之，戒恣食厚味，卒然矇蔽口噤，標手足瘛瘲，脈弦數兼勁，苔黑，目赤，用辛涼宣竊，導痰諸法，而聲卒不開，約計目杪起至十九日而逝。竊思如此暴症死期較速，乃遷延日久，其中必有可治原因，取歷陳病狀、脈象形色，以質海內諸明哲撥冗賜教為盼。</p>
<p>答曰：濕熱病後，食復卒然矇蔽口噤，諸竊都屬胃，餘邪得食而復聚，繫有形之邪閉寒也。胃主四肢，氣血不流通，則瘛瘲非必肝風也。苔黑、目赤，熱滯可知。或仿噤口痢法以石蓮子等加雞內金清胃口，如滯已轉入大腸，臍旁拒按，舌苔厚乾者，擇三承氣下之。大致醫家誤作邪襲心包矣。</p>

<h1>答楊紹球問獨聲嗽治法</h1>
<p>問曰：舍表妹年已十四歲，體質柔弱，面色微黃，夙患獨聲嗽，其聲不重，嗽無定時，以早晨為多，嗽時喉不作癢，亦無痰，亦無氣，惟覺胸中似有微物。所觸脈六部沉弱，舌苔薄白，胃納不佳，四肢乏力。症延數載，諸藥罔效。敬祈高明醫士，究其病理，賜一良方。</p>
<p>答曰：獨聲嗽屬虛，《內經》雖有十二經病皆能致嗽之文，然無不假道於肺。此病非肺氣虧即肺液虧。今已胃納不佳，皆宜補土以生金，肺氣虛者用人參、白朮、炙草等；肺液虛者用釵斛、蘆根、生草等，不可混用。治法當從肺脾著想，勿專治肺。但陽虛、陰虛問中未詳晰，雖晨嗽屬陽虛者多，僅此一端，難於決定。</p>

<h1>答李福翁問嘔吐白泡痰涎或如魚凍治法</h1>
<p>問曰：拙荊十數年前，得一嘔吐症，時發時愈，現年四十歲，近二月嘔吐尤劇。所吐之物或系白泡，或系痰涎如魚凍象，食時必俟飢極少進，方不嘔吐，倘勉強多食，則停積不下，非嘔出不可，畏風寒，偶冒風則頭疼、身緊，嘔吐尤劇。此時加衣受暖或欣沸水，則轉熱出汗，稍覺爽快，氣亦稍平。倘將衣解脫，汗收身即不舒，嘔吐復作，每逢睡熟，上身出汗，醒則發躁，午前兩手心發熱，摩膨脹，食後尤甚，少腹時發微疼，平日愛食酸味淡滾湯，近來口乾苦無味，吃梨汁似覺相宜，經水三月餘未行，向有白帶，小便長少短多，大便微結，下部尤覺畏寒，出汗時甚少，大陰唇又發奇癢，脈象左右寸浮弦有數，關尺浮洪而數。舌苔根黃白而滑。請醫施治，向服桂、附、薑、術等藥有效，現服無效，改服臺黨、野朮、赭石、山藥、旋覆花、茱萸、炒白芍、當歸、蘇子、青皮、萊菔子等藥，嘔吐稍止。</p>
<p>答曰：嘔吐一症，不外肝胃兩經，有屬熱者，有屬寒者，有寒熱錯雜者。據尊述種種見證，則是胃有寒飲，肝有鬱熱。宜高良薑、白豆蔻、製厚朴、蘇子各二錢，雞內金三錢，乾薑一錢，溫以祛寒飲，飛淨真青黛、酒炒赤芍各三錢，熟香附二錢，鬱金磨汁一錢沖，以涼透鬱熱，佐生薑汁一匙衝入以開路，製半夏三錢以通徹上下陰陽，勿謂經阻三月疑為瘀，而用甘遂；或疑為虛而用補，須知氣滯能令經閉，痰飲阻塞胞門，亦能令經閉也。</p>

<h1>答徐鎮治問肛門出蟲治法</h1>
<p>問曰：僕有小女，年方八齡，質素頗強，亦無疾病，飲食苔脈一如常人，第數月來，每夜睡後肛門細蟲蠕蠕而出，形如針鋒，長約米粒，其色雪白，遍考方書，無比病名，亦不服藥，想海內諸大醫師經驗宏富，其中諒必有理可求，有源可溯，故敢敘病狀，伏乞懇賜良方，並說明病名、病因，俾患者得脫纏繞，後學得開愚蒙，則感德無涯矣。</p>
<p>答曰：內臟之蟲，肺、胃、腸為多，蟲從肛門出，其病近則在大腸，遠則在胃，不關乎肺可知，然肺與大腸相表裡，間有自肺而出，諸腸者蟲之生或由於虛，或由於風，或由於濕熱，不外斯三者。今云質素頗強，飲食如常，大致是濕熱。如其舌質紅而苔黃膩，面色或黃或帶紅而有光，唇色紅者，可用苦寒殺蟲藥，貴眾專殺胃中之蟲，龍膽草專殺腸中之蟲，宜食前末服。其名即《金匱》所稱狐惑之惑也，惟惑能食肛、今不痛癢與惑梢異，惑乃古書傳訛當作𧌒，方則不必泥於用古。</p>

<h1>答洪濟湊問久痢下凍治法</h1>
<p>問曰：賤恙於七且下旬忽患紅痢，裡急後重，但起居、精神、飲食，一切均皆如常。初進木香檳榔丸、芍藥湯等方，當服當效，未能清澈，由於不守禁忌，除大葷外，魚腥而食每日必需所致，迨至中秋節前，有事出外勞動感寒，復又大發。彼進飲食雖然照常，而下焦腎陽有傷，便凍增劇，小溲不禁，尻酸，肛墜，腸鳴，有寢寢欲流不固之勢。迭進溫固、補中、升提等法，如築堤丸、黃土湯、補中益氣、四神等方，約二十餘劑，隨效隨反，繼進桃花湯，以湯易丸，加地榆炭、薑炭、血餘，用粟谷、蓮子、荔枝、桂元等煎湯，日服一次，雖見小效，未能除根，刻進八珍丸及六君子湯等。現在症脈沉弱，苔淡黃，不渴，每日便凍四五次，血水先下，或亦有淡黃水夾凍，間有溏糞，間有肛墜，余無別症。茲特不揣冒昧祈求海內外諸大名家，代為研究，俯賜良方，免成休息痢之虞，是所拜禱。</p>
<p>答曰：此寒濕夾積為患也。雖小便不禁，尻酸，肛墜有似腎虧，實則病邪下注耳。用溫補升提，於是乎本非休息痢而成休息痢矣。鄙人以為宜用公丁香柄、生益智仁、肉桂、砂仁、炮薑、木香、楂炭，略加荷葉以升清，此溫通法也，凍儘自愈。</p>

<h1>答徐韻英問大姆指無力治法</h1>
<p>問曰：予表妹年十三，前年患外感，繼即化瘧，經業師治愈，數十日始復初。詎知左臂及手指軟弱無力，復邀業師療治，用黃耆桂枝五物湯、黃耆建中等湯及服虎潛丸等，而左膊有力，奉動始得如常。所可奇者，獨姆指、食指中依然軟弱，連服方藥，竟無效果。竊思指與臂膊脈絡貫聯，如何臂有力而指竟無力乎？且只巨擘一指，若食指、中指、無名小指與之迥異，豈不奇哉！近來身體頗豐，飲食甚旺，本無他故，惟左手指姆毫無勁力，及即左手亦不若右手之力，尺舉物提器咸以右手當先。</p>
<p>答曰：考大姆指為肺經所止之處，是指病後無力，非肺氣弱不足充及端走，即肺氣滯不通及端末。前服黃耆桂枝五物湯，黃耆建中等湯，治之而臂有力，依此推詳，可用溫補無疑。人參橫條，本草言專治指臂無力，且本入肺，大致藥取象形，粗者入臂，細者入指。鄙意以此為主藥，配入當歸，橫須，佛手指，佐以鐵一塊，即此數味，食後服之。外用研靈磁石細末，醋調塗指上，此以意會之方也服四、五劑仍無小效，可灸少商穴以通之。</p>

<h1>答楊紹球問久嗽春夏加劇治法</h1>
<p>問曰：敝村於一農童，年已十五，夙患咳嗽，春夏劇，秋冬差。嗽時氣急，喉間頗有痰聲，似哮非哮，脈象浮滑，舌苔浮白，體瘦，胃納尚佳，二便調。症有三載，服豁痰開肺藥無效。此係何症？應用何藥？敬求海內大醫士賜方。</p>
<p>答曰：嗽有三年之久，決非外感，且不延癆，已成宿疴，大致脈證相參，不外痰火為患，以春夏加劇推之，宜瀉心肝之火，用廣鬱金、生蒲黃、天竹黃以清心家痰火，用真青黛、生赤芍、陳膽星以清肝家痰火，但病發時用之，茲交秋令，只可竹捲心、燈心草、生白芍，制女貞等以養之，以減發時之病力。又慈孝竹，原名治哮竹，雖治頓嗽，治此病亦恰對，可以代茗。</p>

<h1>答楊又生問婦女停經五載似有孕狀治法</h1>
<p>問曰：有張姓婦，年約二十餘，停經五載，腹有動象，脈兩寸動滑，如四、五月孕狀。詢其乳有黑葷，汁且自出，腹無痛苦，面無病容，惟有時漏血，血色鮮淡不一。《靈樞·水脹》論腸覃、石瘕兩症，亦如懷孕狀。腸覃寒氣客於腸外，與衛氣相摶，隱而內癖，按之則堅，推之則移，月事以事下；石瘕生於胞中，寒氣客於子門，氣血不通，月事不以時下。此症於五月紫園嶺盧姓婦再為遇著，蓋此婦夫在有孕，迄今夫死三年，於茲服涼血、澀血、補胎之劑，而胎不加長，望貴會諸君曲為指引。</p>
<p>答曰：乳有黑葷懷孕之徵，乳汁自出名曰乳泣，孕婦虛弱之徵，漏血亦屬虛象，是孕也而非病。但虛有血虛、氣虛、陰虛、陽虛，及虛在何臟之分，凡虛皆能致此，須辨明何虛，而以膏滋丸散常服調理之，前賢醫案載孕數年而乃產者，指不勝屈，大都皆屬虛症，皆用補以得全。今孕經數載或尚可育，否則驟崩堪虞也。</p>

<h1>答房權聲問五更腹痛治法</h1>
<p>問曰：敝人每夜睡至五更，腹左疼痛，按之略硬形長，痛勢似覺波及腰部。任取何種臥位均不安適，側臥之更若腰腹受傷而痛者。然以兩手緊握腰腹，則痛稍減，坐起即止，乃復入睡安然無恙矣，如此者月餘。而飲食、操作，大小便等並無防礙，惟初就寢時，必須舉高腹部，方得安枕耳。醫藥如溫中、利氣、通便等劑，均經服用，一無效驗。不知應用何法可以治愈？惟乞諸大名家不吝賜教，無任盼禱之至。</p>
<p>答曰：遵述五更大致在寅卯木旺之交，肝氣不靖，上攻腰腹，木乘土位，喜按者虛，臥則氣升，坐則氣降。前用利氣無效，宜反其道而斂氣，擬培中安木，用生冬朮、土炒白芍、酸棗仁各三錢，生甘草、去核烏梅炭各一錢，臨臥煎服。</p>

<h1>答鄒亮問心胸飽悶治法</h1>
<p>問曰；鄙人二月間，患心胸飽悶，食不消化，大便閉結，頭暈發熱，晨起口苦。考諸醫生據云，此病宜先通大便，令余服燕醫生補丸三粒，服後不及五小時果然大便通，而人亦覺清爽，因而又往復診，述大便已通，其他亦與平常無病時相仿，囑眼一調理方，診視畢開單，用參、貝、陳皮泡汁代茶予亦從而行之。至三月中，□又發，適西醫陸君在舍，談及斯疾，伊遂探取囊中丸藥十餘粒（卡斯卡），並仿單一紙服法，一日三次，每次二丸。次日大便略潤，病亦漸減矣。七月間又起，予不醫不藥，自暮至夕，不覺間乃獲愈。八月六日，對鏡視之，舌苔黃厚，其他亦無恙，至明日原病復作。向盧津民先生求治，據云：胃氣不調，當用枳實、砂仁、木香、佛手柑等，服下數劑乃瘥。自六日至十一日，大便並無一解，復訪盧醫士，診脈後曰；清陽不升，濁陰不降，方用通幽湯加生軍、麻仁等數味。服下一劑，大便暢炔，人亦清爽。以上諸家所服之藥，以盧先生之方為效最速，然不知此病可常服此藥否？並其病名云何？祈仰大醫士告我病名，惠我良方。</p>
<p>答曰：食不消化，病根在中焦，脾胃傳化失其常度、壅阻不通逆於上，則心胸飽悶、頭暈發熱，滯於下則大便閉結，從下奪法，通大便，恐效於一時，以後有非服藥則便永不通之慮。以晨起口苦論之，膽有鬱火，以舌苔黃厚論之，胃有熱滯。鄙意清胃、清膽，用金石斛、麥冬、干蘆根、甜杏仁、生甘草、淨藿梗、生赤芍、真青黛（不落水）、雞內金、青竹茹、金針菜等，王道無近功，漸漸調理，庶無後患也。</p>

<h1>答張雲房問寒熱夜愈日劇並眩暈心悸治法</h1>
<p>問曰：家慈年四十二歲，患病半載，醫藥罔效，延醫診治，多雲虛弱類，皆以補益之藥治之，並服西洋參三月，未見寸效。斯時服龍骨、牡蠣、知母、柴胡、黃耆、西洋參等藥，亦未見效。察其六脈沉滯，時而發熱，時而惡寒，至夜而愈，次日復作，或早或遲，頭眩眼花，而前腦為最，臥時稍久，愈覺頭重，飲食適中，但有時覺心悸，食物後稍愈。患病半年，其病症類皆如是，似此病症殊屬可慮，特此請諸道長惠賜良方。</p>
<p>答曰：以六脈沉遲，夜愈日劇，食後悸定推之，病屬中陽不足，用連皮黃耆、桂枝、大棗、炙黑姜，退其寒熱，用鹿角霜、明天麻、炙甘草、山茱萸、紫石英治其眩暈，再自加龍眼肉治其心悸，大致不錯矣。</p>

<h1>答葉樹芝問失血後脅實肩重喘咳治法</h1>
<p>問曰：小兒葉夢慶，年十八歲，稟質素薄，胃納尚強，恙由於舊年九月間，忽然失血數次，脈象微弦，當即服藥，大致不外平肝熄風、通瘀寧絡等品，以後血恙未發，旋即咳逆不已。至十一月間，右脅作痛，十二月左右，兩脅均痛，自服羚羊，石決明之後，而兩脅之痛熄，延至本年正月，又因感冒，兩脅痛遂復發，以致喘逼大舉，困憊異常。後因試服小青龍湯兩劑，而喘逼大勢漸減，然自此之後，或咳、或喘，輕重不等，乘留左脅一邊錐刺作痛，莫名其狀，後又常服三七通瘀，而脅痛遂未發，中脘又鳴響有聲，交晚肩背重壓尤甚，兼之左脅自五月以後，日見偏削，較之右脅凸凹不同，幸得神色如常，胃尚寬納，睡臥亦安。近時所苦者，惟左脅笨實，咳逆乏痰，動則喘奔，以及肩背重壓數者而已，誠恐日久蔓延成為痼疾，而近處醫生又皆夢夢，未知此病究系何症，亦未知當用何方，聞之貴報社熱心醫學，遇爾馳名久已，膾炙人口其於貧苦疾病，尤加體恤，用是不揣冒昧，徵求療法，懇登報端，不勝感激。</p>
<p>答曰：失血後現患左脅笨實、咳逆乏痰，動則喘奔、肩背重壓，病在肺肝兩經，但其病邪之為瘀、為氣、為伏痰、體氣之偏虛、偏實、偏寒、偏熱、偏燥、偏濕，莫能明瞭，如欲開得當之方，請將面色、唇色、舌質、舌苔、大小便詳列再答。又考伏痰症，口不吐痰，以體肥、苔厚膩、右關滑為辨。</p>

<h1>答徐鎮治問臌脹病治法</h1>
<p>問曰：敝鄉有華姓婦，年四十四，質秉素厚。自今年二月間，月水斷後，腹中漸大，自疑為孕。至四月間，形愈巨，始信為脹，延醫服藥不效，又誤服草藥，非僅不效，反形愈重。至七月十二日，邀僕診治，面色晦白，六脈沉細，且甚模糊，難辨有無，察其舌苔微白，邊微紅，惟中有黃潤厚苔，問其經水，終究不行，飲食、二便一如平常，腹大宛如抱甕，莫堪其苦，按之甚堅，無窅，有青筋露出，腫及兩足，難於步履，而頭面至胸尚無腫象。僕對此症愧少經驗，不取徵實其氣臌與血臌，亦不敢疏方輕試。為此，錄貢病狀，代求海內。</p>
<p>答曰：李惺庵謂婦人身腫，有水分，血分之殊。水分者，中州停濕，心下堅大，病發於上，先水腫而後經斷，治在中焦。血分者，血結胞門，臍下脹，病發於下，先經斷而後水腫，治在下焦。且血分之病，小腹硬痛，手不可按，而水道清長，與脾虛之候，大腹柔軟，水道澀滯者各別，宜破瘀之劑。又李梴謂瘀腫皮膚光亮，現赤痕、赤縷，乃血化為水也。上兩條鄙人均曾輯入《病症辨異》腫脹門，今列病狀與二李所說盡行符合，確為血瘀入筋無疑，故青筋現也。以面色晦白，六脈沉細揣之，宜溫不宜涼，且脈道已滯，未便以沉細即斷為虛。苔尚厚，飲食二便尚發常，似可仿實症，治溫通經絡之瘀。葉天士治小兒單脹案，謂諸藥不效，氣分無涉，宜治血絡，用當歸鬚、桃仁、延胡索、蜣螂蟲、五靈脂、山楂，研末丸服，請斟酌分量，或佐以補品一、二，似可移治此病，澤蘭、紫草、酒炒防己、絡石藤、天仙藤，皆可酌用。至病後調理，則雞血藤必不可少，以此藤溫補絡中之血也，然必病去後始可用。</p>

<h1>徵求通函問答以研究病理</h1>
<p>前年，裘君吉生，在紹興刊印醫報，內闢問答門，如有疑莫能明之處，登報以互相問答，智者干慮或有一失，愚者千慮或有一得，所以交換智識，誠良法也。僕上載問答名條，即皆前作，今者移寓京都，同人有醫話之刻，因擬仿紹報前例，僕有所疑，登此以質高明。如諸群下詢芻堯，亦可函示病狀，當貢一得之愚，隨即函覆，並擇有所發明者，登諸醫話，諸君子如以為然，請注意下列一則，按照所舉各條，逐條詳列。</p>

<h1>問病者請注意</h1>
<p>不論何病，須先察其體質何屬，然後可以揣知病之原因。今將必欲問者條列於後，務必詳細說明。</p>
<p>—舌之質地為深紅？為淡紅？為鮮紅？以指捫之，為滑？為帶糙？</p>
<p>—舌上之苔為厚？為薄？為半有半元？是何顏色？其色又須辨為淺？為深？</p>
<p>—舌液為干？為微潤？為滋潤？為多？</p>
<p>—舌連尖有無紅點？舌中有無剝紋？舌根有無赤瘰？</p>
<p>—口涎為多？為少？口味自覺作酸？作淡？作甘？作苦？作咸？為渴？為不渴？為雖渴不欲飲？</p>
<p>—大便為乾結？為溏薄？或先結後薄？其色為淡黃？為深黃？其氣為臭？為帶腥？平日若何，病時若何？</p>
<p>—小便為清？為黃？為赤？為長？為少？</p>
<p>—有痰？無痰？為厚？為薄？為黃？為白？為黏？不黏？為一吐即出？為吐而艱出？</p>
<p>—身體為肥？為瘦？為先肥後瘦？為先瘦後肥？</p>
<p>—面上何色？其色又要分深淡，又要分光亮、晦暗？</p>
<p>—唇色為深紅帶紫？為淡紅帶白？為鮮紅如朱？其形為發胖無紋？為干皺有縫？或起皮？</p>
<p>—有無寒熱？發於何時？於寒熱時皮膚乾燥否？滋潤否？有汗否？</p>
<p>—聞其聲為響亮？為帶啞？為澀？為高大？為低微？</p>
<p>—飲食平日若何？素嗜何味？病時若何？思食何味？</p>
<p>—婦女經水平日為期准否？為多？為少？為深紅？為淡紅？為鮮紅？病時若何？即非經病，亦要寫明。一年紀若干？一病時若何症狀？為新病？為老病？從前患過他病否？服何藥而愈？</p>
<p>以上各條，凡一切病症，皆須開列。再將所患何病？從初起到現在，一一寫明。雖無脈象，亦能瞭然於胸，自然對答無誤，四診互參，苟得其三，已有多數耳。</p>

<h1>產後不謹房事成癱</h1>
<p>產後未滿一月，誤犯房勞，致臥床不起。醫者不知病因，以尋常調理法，治之必無效驗。胡綏之先生談及某姓產後忽患癱瘓，服藥無效，其姑曰是犯房勞，須俟他日再產可愈，後果如其言。夫產後一月內不戒房事，每生種種疾病，但皆不如某姓婦之癱臥不起為顯而罕見之症。今某姓婦如此，當有別種生理關係，或是瘀濁凝結肝絡，因而腰力僂廢使然，非再產則絡道細微，氣不復通，必俟新瘀大行時，舊瘀乃亦動而隨下。其姑有是說必有所傳授，遍翻醫書未有及此者，此等微妙病機，關於女科者，老年婦人往往以經驗得之，如孕時腫之琉璃胎，亦無須醫治，產後自愈之類，惜無人詳為紀載，繼夏子益而作《續奇疾方》，可惜也。</p>

<h1>論北方治溫病</h1>
<p>仲景所著書為傷寒，不能通用於暑濕、溫熱等症，有清以前溫病未發明，醫家用方恆以黃芩湯為加減，呆滯不靈，未必能收捷效。逮喻西江、葉香岩諸先生出溫病大法，愈闡愈精，與傷寒截然劃分，其病理藥方與傷寒適成一對照，由仲景書反鑑而得，其處方用藥之精微，故在今時傷寒症百不得一，而仲景書獨為醫林寶貴者，以其治病條理精詣入神，可師可法，實足昭示來學，若泥其成跡，以古法治今病，豈得為良醫乎？自吳鞠通薈萃成編，而溫病條例粲然明白，此亦醫家除舊布新一大轉機也。京師當有清季年，南方士大夫知醫者皆宗葉氏，而太醫院獨奉《醫宗金鑑》為憲典，牢不可破。醫生又非上材，魯莽滅裂症多不治，故民間諺語謂「翰林院文章，神機營刀槍，太醫院藥方。」率皆有名無實。故彼時京城醫士不知有溫病，治法動泥傷寒成方。京官宅中病人因此不敢延本京醫生，而必求南人治之者，蓋多所懲戒也。其時書鋪中所鬻醫籍，陳修園書則過問者多，葉氏、吳氏之書則購者寥寥，自孝欽後撥款設立醫院，南醫來京者多，而葉氏、吳氏書乃盛行。今本京懸壺者，亦皆改宗南派矣。夫春夏秋之季病溫者十居五六，而辨證不誤，治法細密者，舍江浙二省人名手，實鮮淵源有自，不可誣也。溫病既如是難治，而以付諸向無此種學識經驗，火烘冰冒之悍夫，死其宜矣。然研究溫病一科並非難事，如能熟玩葉氏、吳氏及薛生白、王盂英、章虛谷、雷少逸諸先生書，已智珠在握，臨證再辨明兼症、壞症，分別用藥，則十有九愈，此我所以為本京醫士不憚煩言也。</p>

<h1>論瘧疾不宜概用柴胡</h1>
<p>京醫能脫去傷寒舊習矣，而猶有未盡除者，如瘧症之用柴胡是矣。廈秋之病瘧痢為多，皆非死症，而或不免於死者，用藥誤也。痢症貴疏通，而誤用補澀，瘧症貴疏散，而誤用升提，則病必延久而難愈，一誤再誤，至死非難，醫生泥古者，見仲景治傷寒，少陽瘧用柴胡，遂以柴胡為瘧症必用之藥，即通博如徐洄溪，亦以葉氏治瘧不用柴胡為詬病，遑論他人乎！夫受邪即異，用藥宜殊，柴胡辛溫上竄，行半表半裡，治傷寒少陽經正瘧的足要藥，若受邪為溫，且又不在少陽經，誤用柴胡輕則汗出不止，重則眩暈發厥，病反加劇，此醫者之所宜知也。瘧用柴胡，南方庸手亦或不免，皆由未明仲景用此專用少陽經而設之故，光緒季年，丹陽韓止軒氏名善徵，著《瘧疾論》三卷，將瘧疾條分縷析，各系以治法，謂瘧疾由溫熱暑濕感受而成，如傷寒少陽正瘧則絕無僅有，引王孟英、汪射城說，證明柴胡之不可妄用，如妄用柴胡則提成長熱不退，或兩耳大痛，甚則神昏，更或引動肝臟痙厥立至，其貽害之烈如此，縱令熱邪果入少陽，則葉案有用青蒿之法，青蒿辛涼而能提少陽之邪外出，與柴胡之功用卻成兩對照，此葉氏所發明者，而洄溪未之知也。韓氏書又駁倪涵初瘧疾三方，籠統治瘧之非，謂倪所立首方是平胃、二陳二方，知加減靈仙、檳榔、黃芩、青皮、柴胡，施於濕痰兼風寒之表邪者自效。若溫暑熱用之，其弊與小柴胡湯等。至第二三方，尤宜辨證而施，不可輕試。夫病因本自不同，豈可以同為瘧疾而概以三方統治之乎？受因異則施治不得不異。若如近時治療一致之謬說，則醫生之天職、一藥鋪掌櫃能勝之矣，何用讀書臨證紛紛多事乎！如患瘧者以求醫辨證為難，則先從半夏散試服，方為半夏一兩，貝母一兩，研末臨瘧未發二時之先，以薑汁一匙沖服，此用意以開痰通絡為主。昔朱丹溪先生治瘧以二陳為主，為無痰不成瘧也。半夏以開濕痰，貝母以開熱痰，而以薑汁泄其邪瘧之初起，如法服之再能禁食雞、醋、面、蛋，亦可脫然而愈，法至簡捷。南中頗有以此方預儲末藥，以備施送者，亦利濟之術也。又韓氏書，但言柴胡之害，而現時則群以金雞納霜為截瘧之妙品，金雞納霜止瘧有神效，但當眼於病邪已盡，而瘧不止之候，若初起時即止截之，則暑溫熱之邪錮留在內，必變成勞熱鼓脹不治之症，結果無藥可治，如已誤截而發覺尚早，未至延勞成脹，苟遇名手猶得設法施治，清理內邪，令有出路，一面慎飲食，謹起居，亦或可以無患。韓氏書南方有單行本，京師未之見，而鉛印陳修園書中羼有此一種，倘能抽出單行，以供病家選擇用方，亦善事也。</p>

<h1>論神效七液丹</h1>
<p>是丹藥味雖少，而清濕熱，解穢氣，達表邪，下腸垢，內外同治，故其仿單云專治時行瘟疫、瘧、痢、爛喉痧、傷寒、斑疹、時毒、癰疽、一切無名腫毒、暑風卒受、霍亂吐瀉、各種痧氣，一服立效，三服告痊。無論男婦老幼，胎前產後皆可服之。此丹有力者配合施送，無力者廣鈔此方，起死回生，功德無量。方用滑石三百兩（生甘草三兩泡湯浸滑石，研細漂飛去粗，要極細，細而又細，為妙。曬乾為君，以後七液，次第拌入曬乾。），鮮蘿蔔汁五十兩（拌制過滑石粉曬乾。），鮮佩蘭汁五十兩（拌前滑石再曬乾。），鮮紫蘇汁五十兩（拌前滑石再曬乾。），鮮藿香汁五十兩（拌前滑石再曬乾。），鮮側柏汁五十兩（此汁難取，先須將生藕汁，浸柏葉同搗爛，方絞得出汁，亦取汁再入前滑石再曬乾。），鮮荷葉汁九十兩（用嫩荷葉取汁，拌前滑石再曬乾。），生大黃三十兩（用無灰酒二斤浸，搗極爛，拌前滑石再曬乾。），此丹成矣。每服三錢，引藥開後，倘倉卒不得藥引，即開水化服亦可。瘧疾引用生薑三薄片，半夏一錢，川貝一錢，煎湯化服。痢疾紅者用黑山梔一錢，白者用生薑三片煎湯化服。若痛痢以及噤口痢用廣木香磨五分加開水調化服。爛喉痧並一切症，只須白開水化服。外證可用蔥汁調搽，小兒減半。余以此方有效，故廣為傳播。</p>

<h1>古方宜活用說</h1>
<p>古人立方大都主治一症，各走一經，故藥少而氣純，力專而效速。一方有一方之妙用，一方有一方之特長，豈可妄行增損，致失本旨。然時有古今，地有南北，人有強弱，邪有淺深，病有輕重。若氣虛概進以四君，血虧概補以四物，風寒概施以麻黃湯，瘧疾概投以小柴胡，曰此古人成法焉，古人不任其咎也。夫一解表，桂枝湯解風邪之表，三仁湯解濕溫之表，六一散解暑邪之表，銀翹散解溫邪之表，非一方所能賅也。同一祛寒，理中湯祛太陰之寒，真武湯祛少陰之寒，當歸四逆湯祛厥陰之寒，四逆湯通治三陰之寒，亦非一方所能盡也。旦一病而主兩方者，《金匱》尤不一其例，如同是溢飲，大青龍湯主之，小青龍湯亦主之。蓋水飲流溢亦隨入臟氣寒熱而別，飲從熱化，則以辛涼發其汗而主大青龍；飲從寒化，則以辛溫發其汗而主小青龍。又同是胸痹，苓杏甘草湯主之，橘枳生薑湯亦主之。蓋一則水盛於氣，故主苓杏以行水；一則氣盛於水，故主橘枳以行氣。且也同是承氣，而用意各有不同，大承氣通治三焦，小承氣不犯下焦，調胃承氣不犯上焦。猶之同是陷胸，而所入又各不同，大陷胸為足太陽藥，小陷胸為足少陽藥，此皆犖犖大端，顯而易見者也，更有藥味皆同而主治不同者，如小承氣湯與厚朴三物湯、厚朴大黃湯，三方同用大黃、厚朴、枳實三味，而命名既殊，主治亦異者何哉？則以藥味雖同，而分量不同，君臣不同也。小承氣意在蕩實，故君大黃。後二方意在行氣，故君厚朴，而厚朴之分量一則僅用二兩，一則多至八兩或一尺也。吾人於此中區別，苟不細心研究，烏知古人制方之妙哉。然若墨守古方，不知變化，膠柱鼓瑟，削足適履，其弊亦復相等，須知運用古方貴通其意，而不必泥其跡，師其法而不必襲其方，即如仲景復脈湯一方，生血之源，導血之流，可謂補血第一方。楊西山亟戒加減是也，然葉天士先生治血症，常用此方去薑桂而加白芍，近代唐容川先生亦有加減諸法，但能不失仲景遺意，又何不可者。即人參養榮湯亦從此方套出，可見初無一成不易之法，神而明之，存乎其人耳。試觀有小建中湯，而歸脾湯即從其重濁處套出。補中湯即從其輕清處套出。有葶藶大棗湯，瀉肺中之火，即有人參瀉肺湯，瀉肺中之水。有大陷胸湯下胸中之火，即有厚朴大黃湯下胸中之水，蓋通其意，則泛應曲當，得其法則觸處皆通也。又成方之附列加減法者，如仲景之理中湯、小柴胡湯，東垣之補中益氣湯等，亦復不少，古人亦既以活法詔我矣。孟子曰：能與人規矩，不能使人巧。古人立方示人以規矩而已。善學者取其方而圓用之，其庶幾乎。</p>

<h1>冬令忌按摩及習練導引等法</h1>
<p>凡事皆有反面對面，按摩等法可以治病，導引等法可以健身長生，幾乎無人不知，而我讀《內經·金匱真言論》云「冬不按蹻」。王冰注謂：「按，謂按摩，蹻，謂舉動手足，是所謂導引也」。擾動筋骨則陽氣不藏。又經云：春不病頸項，仲夏不病胸脅，長夏不病洞泄寒中，秋不病風瘧，冬不病痹厥。王注：「謂上五者併為冬不按蹻之所致」。又經云「藏於精者，春不病溫」。王注謂冬不按蹻，則精氣伏藏，以陽不妄升，故春無溫病。然則冬令按蹻，即伏來年種種疾病從可知矣。然則近年來溫病之多，正由於講究衛生，終年延人按摩或習練導引，行八段錦等法，有以致此矣。但知按摩導引之善，未知按摩導引之弊，是未思凡事皆有反面對面也。</p>

<h1>《內經》胃氣乃厚本草黃連厚腸胃兩厚字合解</h1>
<p>《內經·生氣通天論》云：「味過於苦，脾氣不濡，胃氣乃厚」。此一節申明上文，陰之五宮傷在五味句，言用之過度，則反傷本臟也。宮者臟也，苦先入心，所以用之得當，則苦能補心，用之過量則苦反傷心。蓋苦從火化，無論苦溫，固易化火，即苦寒多服亦積久而化火。味過於苦脾氣不濡者，脾燥無以潤胃也，胃氣乃厚者，胃家燥而厚實也，胃家實則大便不通矣。玉冰注以胃氣強厚釋之，非是。又《本草》黃連厚腸胃，古方濕熱成痢，每用黃連，正取其苦從火化，能燥濕邪耳，濕收燥則腸胃厚矣。凡燥濕寒熱並宜適得其中，胃不可過燥，過燥則胃家實。《內經》所以戒味不可過苦也。胃又不可太濕，太濕則成痢，本草所以稱黃連厚腸胃也。</p>

<h1>血症宜戒鹽咳嗽吐血症更須戒鹽</h1>
<p>凡病人對於飲食各有所宜，亦各有所忌。病不同，故所宜所忌亦各不同。假如一雞鴨也，肝病忌雞，風病忌雞，上升之病忌雞，百餘病不忌焉。濕病忌鴨，陽虛症忌鴨，而餘病不忌焉。假如一豬肉也，痰症忌之，生疔忌之，其他有間焉。水腫之忌鹽，人皆知之，若消渴下疳亦忌鹽，人或知之。若咳嗽吐血最忌鹽，人多忽之。此病現在甚多，人皆不能食淡，是以藥雖對症，而終不見效。並有釀成危險者，蓋無論何種血症，莫不忌鹽，而與咳嗽同見者更甚，即產後忌鹽亦是此理。以鹽能耗血又能凝血也。水腫所以亦忌鹽者，以潤下作咸，水曰潤下，食之適以助水邪也。</p>

<h1>育兒者注意</h1>
<p>近查小兒病症多吐瀉，慢脾危險之候，本院思患預防，提出數條，以便育兒者注意：一、慎重寒涼，小兒受寒，人每不覺，蓋其上衣，短褲有襠不束腰帶，寒多由腰臍入內，裡寒多而表寒少，發作則腹疼，瀉痢作熱，致成慢脾，宜改良衣服。二、少吃生冷，胃家多受水果冷食，則胃陽不足，消化無力，輕則停食作熱，重則吐瀉，淪於慢脾。或曰水果可助消化，乃救酒，食後胃熱過高，非水果真能助消化也。三、戒食不易消化之物，小兒幼時胃力均弱，因無牙咀嚼，或雖咀嚼而不常運動，因之不易消化，每停滯生病。以上三條，未病時須預防。若已病後須知者，亦有三條：一、作熱亦有裡寒症，裡寒作熱綿綿不休，並不過亢，夜甚於日，舌苔白滑、灰滑、淡黃而滑。均潤澤不燥，雖熱而所吐瀉之物，均未消化，甚有瀉青綠色者，此均裡寒作熱，已成慢脾，貿然以為有火而用涼藥，每易致誤。二、雖停食而不宜攻下，停食既因脾慢不運，攻下更嫌克削，慢脾症宜補土溫化，不宜攻下傷脾，脾如能運，雖有停滯，自能消化，何必攻下。三、忌用刀針扎積，以免致誤。慢脾本屬虛症，已血氣不足，扎積則更損氣血，往往致誤，更有拿積糊檟等，均非良法。本院屢見此等誤事情形，故特舉而出之。</p>

<h1>答徐韻英問友人癡呆病理與治法</h1>
<p>問曰：舍親由正月底起似覺不甚活潑，到今更覺擁重不靈，四肢甚呆，心中時發蒙糊，譬如看一物件，則目不轉睛，手扭紐子則手忘放下，少刻心清，自亦不知其故，終日惶惶，亦不甚煩惱，以課徒故心不靜閒，身體甚肥，飲食二便如常。脈息輕按甚細，重按滑大有力。舌苔滑白微黃。想是痰症，服白金丸、六君子丸，竹瀝滌痰丸無效。用何治法清指教。</p>
<p>答曰：令親戴君病癡呆，以身肥、舌苔滑白揣之，有濕痰可知，以素充教員，揣之心氣虛可知，是痰氣乘心氣之虛而上蒙心竊也。失治久則成癰，白金丸、竹瀝滌痰丸，亦此症可用之藥。六君子丸中參、朮、草三味，則嫌於補，補則痰不化，當其蒙時剛神呆，及其氣退則神醒，斷不可用菖蒲等辛開藥，恐反使心胞大開，痰氣遂直入無阻。又宜先治其痰，痰清乃能補其心氣。張仲華治濕痰神糊，用製厚朴、炒陳皮、茅朮、枳椇子各錢半，法半夏三錢，白芷一錢，煨草果七分，枳實磨汁五分，山茨菇磨沖五分，鄙人謂此方對症可服。如病人素不飲酒，去枳椇子。如在蒙時加天竺黃三錢。又曹仁伯，有痰鬱心包，神識不清方，此則更進一層，常蒙不明用之，前兩方均載《柳選四家醫案》中，可以檢閱。此病，食物、藥品俱忌滋膩，而豬肉、海參、天麥冬、元參等為尤甚。</p>

<h1>答朱業良問狂病愈後之變症治法</h1>
<p>問曰：余父年三十九，喜花界，於民國六年間忽得狂病，醫愈。初愈時精神甚振，自覺憂悶，大便不暢，飲食不佳，全身作脹，痰多，延數醫者治之不效，如是連綿至今，復又喜笑無常，善言，飲食倍進，精神甚振，面色微白，眼邊微紅，大便不通，不眠，時說亂話，脈象細弱，兩尺尤甚，苔色白膩。今未服藥，不知馬寶可服否？今見《紹興醫報》不乏名家，故特登於諸道長之前，求賜一良方，以脫苦海，則感謝莫名矣。</p>
<p>答曰：肝經內寄相火，喜花界者多肝旺之輩，胃又濕盛者則爍而成痰，患痰火症前之狂，痰火為患也。今之笑，痰猶滯於包絡也，多言善食火盛也，苔白膩濕痰盛也，脈細弱尺尤甚，痰滯脈道，非虛也，白金丸加天竹黃可服，《柳選四家醫案·愛廬醫案》中濕痰瀰漫擾亂神明方，亦可服。</p>

<h1>答陳蓮峰問病</h1>
<p>問曰：福建石碼福河鄉程善婦人，年十九歲，據言十五歲嫁夫，至今將及五年，仍是童身，未有經信月潮，乳部亦無發育，體格雖有遞年長大，神氣活潑，肌肉充滿，食量亦宏，操作如常，絕無病徽，不知生殖器發育未完全否？抑為先天胎帶殘廢，此等生理問題，婦人無月經與男子無閹何異，因渠姑抱孫心切，求治甚摯，然如貧何！且單子孤停，恐至乏嗣，故托登醫報，誠懇高明惠教良法，實為幸甚。</p>
<p>答曰：婦人經不行，而其他無病狀者有兩種，一為暗經，雖無月事，一般能生育。一為痰塞胞宮，體肥者多，患此服二陳丸，緩調可愈。但以乳部不發育推之，肝氣不足可知，用沙苑子、枸杞子，菟絲子、佛手片各二錢，煎湯下二陳丸三錢，早晚服。體瘦者單服藥勿服丸。</p>

<h1>答陳春輝問右半睛定指攣步艱並食下氣嗆治法</h1>
<p>問曰：鄙人子國邵，年十五歲，現患右目黑睛釘定大眥角上，不能旋轉，並無雲翳，而視物必斜。右手指木硬不便屈伸，右臂右掌較之左手亦稍細瘦，右足無力，步履蹣珊，其小便時矢亦由右斜左，綜觀所病多在於右，或謂系偏枯之症。右屬氣，蓋氣虛而有痰滯之，故或謂系最初邪入太陽，歷其蔓延日久正氣即虛，宿邪仍復潛熾其所，病之太陽經與奇經之督脈並行，漸漸累及督脈，由督脈而牽入衝任等經，所以現出種種諸症，揆厥原因，實由於庚申年正月其時瘟疫盛行，小兒國邵亦經傳染髮熱，頭痛、項筋強硬、大便不利，飲食立即下吐，經諸醫診治不得其法，攻補錯雜，以致渾身抽搐，不省人事，後有識者，認定外感，按經施治引邪出表，月餘始得起床，痰涎無減，右手指仍屈曲不伸或有時臥到更深必兩足抽搐，所以病後未服補劑，以冀宿邪自發耳。迨辛酉七月入杭地工業學校肄業，黎明起習手工，必直立不得坐，夜間上課又不得休息而安臥，課程太嚴，力薄不能勝，至九月底，病來頭痛，頑痰滯喉，食不易下，語音由鼻孔而出矣，及寒假歸臺，護送先祖入厝，又跋涉十餘里，覺頭稍痛，項稍強，投以法邪發表之藥。未幾而目盲不見物，嗣後盲疾雖愈，而右目黑睛向大皆斜視不轉矣。本春家居誦讀，喉聲幾破，讀猶不輟，漸覺痰氣由下而升。未幾咽頭梗噎，食不能下，食下則氣上而嗆於鼻，必吐出痰涎，始得稍稍下咽，每餐必經一二點鐘之久，乃得下一二盞之飯。又未幾而右手足之患加甚矣，又未幾而溺必由右斜左矣。春間更醫多人，如投以散利下氣之藥，即覺頭腦苦疼，腰脊強痛更不忍，或用消痰破氣，或用溫補辛通，俱不見效。五六月間，蔣壁山先生用微苦、微辛消痰順氣之劑，僅僅咽頭梗噎之症稍瘥，而頑痰結喉仍在也。迨七月初旬，而三日瘧發，或謂邪有出路，不必服藥，而諸症可以漸痊，今已三個月不服藥，瘧仍發，而諸症亦在，無輕減之可言，看其舌前半無苔，後半黃苔，中央如指甲大則光亮而無皮，據診其脈浮部微弱，沈部弦數。鄙人苦不知醫，茫無把握，何去何從未能自決，以為症屬疑難，醫必匪易，倘藥物亂投，去生必遠，敬請海內諸大名家俯賜良方，俾便遵服或有針灸神術，可以立起沈痾，當不遠千里而來就針聆海，庶小兒有生之日，伏乞登報未知，或□函賜覆。</p>
<p>答曰：前以原問未詳晰，函詢得復，謂尚有溲清，糞黑水，飲飯粒盡由鼻出見證，是淤積無疑，膝脊作痛不獨虛症，亦有淤積之實症。方書謂手指除食指外由搐而攣者瘀阻絡也，語音飲水飯粒盡由鼻而出，由肺竅太張而痰飲乘隙壅溢也。今擬方案如下：曰統觀前後見證，是胃有痰濕，肝有瘀熱，上壅空竅，則口旁鼻孔流涎旁竄，關節則右半指攣、步艱，內滯肝絡則目紅睛定，下溢大腸則大便色黑。病雖久，體雖虛，邪不去則何由愈？用旋覆花、瓦楞殼、藏紅花、酒赤芍、郁李仁、姜竹茹、歸橫須、夜明砂、橘絡、鬱金以疏氣滌痰，通絡化瘀，略加人參以助胃氣，候高明正之。</p>

<h1>答張惠臣問手足指冷手汗多治法</h1>
<p>問曰：鄙友每於秋初起至春末，手足指冷，天愈寒冷愈甚，掌較可，臂脛冷，天嚴寒時稍冷手汗多，有時覺懍寒，頭部獨熱，易於升火，平素大便閉結，數日一次，甚堅，即多食油膩水果亦不溏薄，唇內時發熱瘡不斷，口不渴，吐痰色白，小溲、苔象如常。曾服附子錢半，未見動靜，此症已近十年，不知究竟屬熱屬寒？有何妙法可施，敬求賜教，幸甚。</p>
<p>答曰：手汗多胃濕可知，頭熱唇瘡便結，內熱可知，是肝火為胃濕所遏，郁不能達之故也。不宜服熱藥，但就用炒香豆卷，神麯、蠶沙以化之，微溫不妨，又加茯苓、苡仁、通草以滲之，濕化而下，鬱火自透，陽氣自達及四末矣。</p>

<h1>答潘元秀問吐血症治法</h1>
<p>問曰：敝人自去歲十月初，得有吐血病症，其始因舍間疊連二口傷亡，於是喪務操作失常，思慮過度，以致於痰中稍少夾血，初起不為介懷，加之喪事纏身，無遑理問此病。四王日後漸見無紅，於是更不為懷，約過一月餘，時在交立冬之候，大吐滿口血，來時喉間漉漉有聲，氣急而嗆咳，並無別證，於是咯血滿口，綿綿不絕，約去一二十日，服十灰丸，自便無效，後繼服犀角地黃湯一劑，血熱漸定，明日有時滿口紫瘀，有時痰夾紫點，後即照方去犀羚加鮮石斛、鮮生地等，服之二劑，痰中瘀血亦無，但神祛疲倦，少腹疼痛。據本邑郁濟煥先生云，是瘀血逗留，定方用枳實、山楂、桃仁、歸身等，加決明、丹皮平肝之劑，服二帖後腹痛亦定。又擬膏方，常服，用藥大都平肝補肺之劑，加阿膠文冰（蛤？）收膏服之，亦然平平，但形色較前稍瘦，而飯量自得此病未曾減少，每餐仍可三碗，直至年關，敝人年居三七而職身於商界，勞碌無從可省，加之年節帳務糾纏，難免操勞，而血又復來，來時情形如前，治法亦如前，吐數口而血止，但精神較前更覺疲倦，加之連日遺泄三四次。後換方，用清營平木之劑，加牡蠣、龍骨等，服五、六帖後，即常服毛燕、蓮心等，直至今庚交過立春後月餘，血又復來，敝意以為服藥無夜，飲之何益？即服蔗汁二碗，而血亦自定。後即更延本邑陳懷卿診視，方云去秋痰帶血，日前失血滿口，治愈後胸次不舒，脈形弦數上溢，舌苔黃，血得熱則流散，前咳血乃經絡散行之血，隨咳上出，陽絡內傷，宜養陰清絡，以善其後，藥用南沙參三錢，川斛四錢，生扁豆不打一兩，炙桑葉二錢半，橘絡一錢，白芍二錢，丹皮二錢半，知母二錢半，黑梔二錢半，絲瓜絡三錢，鮮竹茹三錢，前湯代水。又定一方，用大黃三錢，鮮生地六錢。彼云如後再失血滿口即吃此方，後交立夏果發、服前方二劑而血自止，約過二月餘，重延陳君換方，彼照方去沙參、絲瓜絡、竹茹，川斛，加鮮藕，可免不發。敝即遵其意，每日吃一枝，直至而今藕亦斷市，而血亦未曾大吐，但有日清晨吐痰，其色鮮粉紅，未識何故，刻按脈形弦細，形色痿瘦，清晨咳嗽痰多，或有日不咳而痰少，舌苔薄黃，神怯疲倦，此數病證，專此詳告，尚祉登入報末，賜敝良法，以療賤證，則感大德無涯矣，諸希洞鑑，諒不以鄙薄見棄也。</p>
<p>答曰：貴恙是郁傷肝之症，鬱金為此病初起之要藥，其外如酒炒赤芍、飛淨真青黛，夜明砂、粉丹皮、酒炒丹參、合歡皮等，皆可察證酌用，如其一味清滋，勢必本非怯病而做成怯病，徐靈胎、吳師朗二君言之詳矣，郁先生因血有紫色，而用攻瘀之品，陳先生以脈數苔黃仍胸悶而養陰佐以下瘀之品，治法亦合，惟今血轉粉紅，脈弦細，形色痿瘦，晨咳痰多，神怯疲倦，將成怯症，當亟就原本論治，而陰虛陽虛五臟孰虛，疑莫能明，是以未能懸擬立方。</p>

<h1>答吳信卿問兩腿無力治法</h1>
<p>問曰：鄙人兩腿無力，兩足痿廢已年餘矣，中西藥方如紅色補丸，自來血精血丸，虎潛丸及方書治痿成方均服之無算，總未一效。近來兩腿伸曲自如，形色依舊，惟不能任地，腿皮微寒，輕手捫之不覺，每起立則腿戰，用兩人伏肩微走，足尖刮地，腿足之筋覺外縱內拘，有時頭目弦昏，大便結燥，或小解一時難出，隔數夜又遺弱一次，遺後方醒，脈象寸滑、尺澀，右尺微小，飲食、舌苔均如常。</p>
<p>答曰：以尺脈澀小推之，是腎家之不足；以大便燥結推之宜用潤；似腿筋外縱內拘推之，肝主筋，病又涉肝，應就水不涵木，血不養筋治，但有溫潤、涼潤兩法。問中未將面色、唇色、舌質舌苔何色，大小便何色寫明，莫能辨別，今開列一平潤方，兩者皆可用、用枸杞子、熟地、肉蓯蓉之溫潤，制女貞、龜板膠、阿膠之寒潤，川續斷、酒炒絡石之入筋，酒蒸熟牛膝之達下，究竟宜寒、宜溫或側重一面，請自酌之。</p>

<h1>答呂蟄安君問睪丸病</h1>
<p>以下數則並選錄近來答京友之作</p>
<p>南豆芽菜衚衕三十九號，呂君來函問曰：有友于民國三、四年間從軍，因鬱結勞力。致左睪丸發腫皮破，曾在協和醫院診治，病丸割去，右如故。歷十二年之久，因受寒急腎部壅腫墜痛，先經西醫施治，痛雖止，但睪丸周圍結成硬塊，又經中醫診治服藥數劑，而在距睪丸右方約指許下邊潰破，現在施治，口尚未封，潰口約長四分，已生淺紅色肌肉，口仍偶流淡紅色膿水，微而不多，囊皮鬆，無腐狀。睪丸之左上方之塊約七八分及下方之塊約三四分大，似與睪丸連合，睪丸中一部份柔硬度如原狀，連塊處柔硬狀較原狀似堅，全部無寒熱，狀溫和，左下方之塊觸之微感痛，余無痛狀，據西醫云，非仍割去睪丸不可，否則將來甚危險。又云年三十餘歲，體質瘦健，舌苔近見白薄潤，津液充，食量甚健，二便亦調，聲音如常，步履如常，惟不耐久。</p>
<p>答曰：孝子癰、小腸氣之分別在捫之子與皮黏合者，子癰也，子與皮相離者，小腸氣也。今來函云，塊似與睪丸連合，當是子癰，病在子而不在囊。王洪緒《外科全生集》，載子癰腎子作痛，不升上外現紅色，用枸橘湯，為枸橘全枚及川楝、秦艽、陳皮、防風、澤瀉、赤芍、甘草各錢半。我鄉馬培之先生傳驗方，用桔核、荔枝核、土茯苓根、忍冬藤、角刺研末調入鱔涎服，今已潰破，忌用角刺，如用馬方可去此味，其方最要在鱔涎一味，萬不可少。又此症因濕邪流入，久而凝結者甚多，則須用蒼朮、酒炒柏、澤瀉、青皮、金鈴、烏藥、吳萸、桂枝、鹽炒萆薢、生薑等以為方，察其體質之偏寒偏熱，而於萆薢、黃柏之寒，吳萸、桂枝之溫，其分量酌多少而用之。敬就所知以復。</p>

<h1>答承祺祥君問痰嗽寒熱症</h1>
<p>東四牌樓八條五十六號，孫君來函問曰：［某〕男，年三十四歲，舌質深紅，捫之滑，舌苔薄、淺白色，滋潤不幹，口涎多，味苦，渴欲飲，大便先結後薄，色深黃，氣臭無腥，小便多微黃，咳嗽有痰，痰白有核吐即出，夜不作嗽，身瘦面色微暗晦，唇淡白色，微有起皮，寒熱往來，皮膚乾燥無汗，午後為重，骨蒸甚，飲食與平常減半。今年三月初間曾患吐血一次，約半杯，服藥即好。四肢無力，精神不振，鼻涕多帶血，每日嘔吐黃白色水，味苦甚，夜能眠。</p>
<p>答曰：舌質深紅味苦、渴欲飲、大便先結色深黃而氣臭，寒熱往來，午後骨蒸，並屬膽有鬱熱見證。舌苔薄色淺白，捫之滑潤不幹，口涎多，大便後溏，唇唇色淡白，並屬胃有積飲見證。每日嘔吐黃白色水，味苦；屬肝膽不靖乘犯脾胃見證。四肢無力，精神不振，飲食比平時減半，屬肝強侮土，土力不勝見證。痰白有核，一吐即出，為脾濕釀痰見症。咳嗽有痰，為肝氣挾脾痰上襲於肺見證。凡肝膽有熱，熱能傷陰，脾胃有濕，濕能傷陽，飲食不歸正，化變痰濁而不變津液，故痰多涕多而又身瘦，皮膚乾燥也。病屬虛勞，但是偏於陰虛偏於陽虛？此病兼而有之，極宜斟酌，以夜不嗽而日間咳嗽論之病根在氣分，在脾胃，鄙意六君子湯去參之助火，參入地骨皮、酒炒、赤芍、青蒿露以散肝膽之鬱火，能否奏效，殊難預料，以病根已深，變化最多故耳。</p>

<h1>答吳霞赤君問腿痛治法</h1>
<p>問曰：有審計院同事，福建林君年五十餘歲，患左腿劇痛，如有物齧，刻不能忍。遍延醫治不效，後至某西醫院曰此骨勞也，非截去此腿日久蔓延有性命之憂，林君無如何，任西醫截之，易以橡皮假腿，數月後居然能行。究竟中醫有治法否？並述歷來情形，曰身瘦面色枯黯，林母孕才七閱月而生，年近四旬，牙齒已盡墜，陽事早痿。</p>
<p>答曰：此先天不足，腎精虧損，證據昭然，骨屬腎，名之曰骨勞誠然確當。凡病皆虛實相兼，骨既髓空則外邪得乘而襲之，經所謂邪之所湊其氣必虛也。是病中醫名白虎歷節風，乃風寒濕雜合之邪乘胃節虛處，而乘襲並不定患在腿，有患渾身者，有患半體者，有患一臂者，總之病人自覺其痛在骨骱中，來勢甚驟，痛至如虎咬，忍無可忍，有時又若遊走上下，以此為辨，此症誤治確有性命之憂。蓋體既極虛，病又極實，中醫治法亦亟先治其實，大致古方最效者，每用炮去皮臍之川烏頭、炮去皮再用薑汁製之草烏頭，及油松節，三味為君，佐入引導藥。如渾身半體則加防風，在臂則加桂枝，片薑黃，在腿則加牛膝、虎脛骨。大症不得不用峻厲藥，所謂藥不瞑眩，厥疾不瘳，然較之截其足至成殘廢，究覺有間，其痛稍緩，宜參入補品，痛已止又宜補中，稍參達邪之品，以善其後。其遍延醫治不效者，必皆用尋常之腿痛方，未取用此的當之峻方也。今西醫用手術截此腳，亦急則治標之法，但不知善其後者，曾否調補耳。</p>

<h1>答韋文實君問疹後發熱不退卒致不救之故</h1>
<p>慧照寺二號韋君來函問曰：小女年四歲，於去年三月出疹，已漸痊愈，旋反原狀，致夜間發熱、口渴、咳嗽有白痰，其熱至天明則退，舌鮮紅、邊尖有紅點，後數日略有黃苔，飲食量逾常，大小便亦如常，惟大便溏，唇色鮮紅，最後現腫厚，醫者雜投以滋陰清熱之品，甚則用犀羚而熱不退，咳不止，遂致愈治愈劇。後一醫謂，出疹時餘毒未盡，復用清毒退熱之品，初似有效，後復發則變為慢驚，致不可救藥，竟不得其病原所在，敢以質諸先生，敬乞指教。</p>
<p>答曰：病在三月春令，當是風溫成疹，邪本在肺，宜用辛涼，想治不如法，邪未清澈，內陷陰分，遂夜間發熱，至天明而退，若口渴、咳嗽有白痰，是邪之留戀肺經氣分者未清，若舌鮮紅邊尖有紅點，是熱陷伏於心肝營分者亦盛，數日略有黃苔、飲食量逾常、唇色鮮紅腫厚者，胃亦熱也。大便溏者肝熱乘胃，逼濕下行也，滋陰之品未能養陰，適以釀痰。犀羚可清心肝之熱，但須佐以辛散，如薄荷、牛蒡、萎殼、青蒿葉、青黛、赤芍、連翹之類，察證酌用，使病邪仍從肺出。但此症變成壞病陰涸者有之，邪不出而延疳勞者有之，若慢驚則屬虛寒症，非此病所傳變，惟誤用大苦大寒以治其熱，而不知沉陰下降，致脾胃大傷者，則亦間或有之，來函未云用苓連知柏，莫明何故，此覆。</p>

<h1>答樊於卿君問周身骨響劇則巔頂項背格格有聲</h1>
<p>宣外椿樹上頭條二十五號樊君來函問曰：近診友人趙君令正，年二十餘歲，積弱之體，復多勞碌，脈沉弱而細，榮衛都屬不足，血虛氣鬱，月事素不調，經來淡紅而少，結褵六七年，未嘗孕育，且消化不良，間數日即苦嘔吐甚劇，舌淡紅苔澤黃厚，今春曾因交合氣厥兩次，隨服獨參湯而痊。繼復四肢筋攣抽痛，服十全大補劑加石決明、桑寄生等藥月餘始疹。惟是迄今停經六七月，脈滑，動如妊娠四五月狀，但覺動而腹不膨大，此自血不蔭胎，致不見長。所棘手者，三四年來周身骨響，歷歷作聲，劇則巔頂項背俱響，兩腿尤甚，雖寢時亦響，甚則痛，其響並不限於關節，凡骨處皆響，勞動益甚，常服藥如內補養榮丸、八珍丸、女金丹及補腎益氣、和肝養血諸湯劑，第覺氣體稍健而骨響如故，按此症病本在虛，補之不效，將如之何？</p>
<p>答曰：骨屬腎，凡物空則能響，此腎家精髓不足證也。以脈沉弱而細，經淡紅而少，舌淡紅而澤推之，偏於腎陽之虛。其四肢筋攣者，肝血亦不足以養筋，俗諺所謂河水乾井水亦干也。其嘔吐者，火不生土，胃陽亦虛也。其交合氣厥尤為腎精虛，而腎氣不納之明證，理宜用補，但須偏重補腎，然又不宜純用桂附等辛熱而燥之品，宜用溫滋肝腎之品，參入重以鎮怯之品，而稍稍佐入桂附，則亦無乎不可。照函奉答，還請高明裁酌，後學亂道，未敢自信，手此奉復。再者髓以補髓，如用虎鹿牛羊豬諸骨熬汁常服，更為的當，必能見效。</p>

<h1>女界須知弁言</h1>
<p>婦女恆多隱疾，每含忍而不肯言，以致小病變成大病，大症釀為絕症，即成絕症，雖盧扁復生莫能挽救，苟於病之初起即行治療，不數劑而可愈，何至若是。予甚憫之，因輯隱疾各方，登諸《存粹醫報》，俾婦女輩得以對證自醫。有友人見之曰：此絕大救人仁術也，勸予廣為選輯，專編一書，普傳女界。予曰：諾。因輯是冊仍以陰戶病為主，選方獨多，列之於首，連類而及交合門、乳門、經水門、帶下門、痞塊門、胎孕門、臨產門、產後門、求嗣門、斷產門，為類十有一，雖難稱完全，大略具有矣。予即未曾察舌診脈，親自臨證，苟檢此冊，以對症自療，當有效驗也，世或不我瑕疵乎！</p>
