<header data-type="book">
<h1>治瘧機要</h1>
</header>

<h1>序</h1>
<p>人之一身，首重榮衛。外而皮肉筋骨，內而經絡藏府，無非榮衛為之煦濡，調和則安，逆亂則病，離絕則死。是榮衛為人身之化機，凡百疾病皆系焉，而瘧其尤著者也。考《素問·瘧論》及《刺瘧篇》，分六經，分五藏，分六府，雖發時不同，病形各異，而要其旨歸，則總關於榮衛之見端。曰夏傷於暑，藏於皮膚之內，腸胃之外，此榮氣之所舍也，非瘧舍之關榮者乎？曰衛氣之所在與邪氣相合，則病作，非瘧發之關衛者乎？仲景淵源相承，曰：瘧脈自弦。以瘧邪伏於榮舍，發則阻滯衛氣故也。《靈樞》論衛氣失常，則脈大弦急，《金匱》論腹痛寒疝，弦則衛氣不行。籲！仲景一語抵人千百，此其所以為百世之師乎！後世諸家不加研究，迄今千餘載，瘧病絕少定論。西昌喻氏、洄溪徐氏皆謂風暑入少陽，率以柴胡為不祧之法，拘矣。葉天士治瘧，一生不用柴胡。王士雄謂柴胡只可治少陽正瘧，雖不如喻、徐兩公子之專主少陽，而於榮衛，曾莫之及，費伯雄以少陽不能主瘧而有在衛、在榮、在府之分，韓善徵謂瘧不專屬少陽而有衛氣榮血之論，是於榮衛近之矣，而未中瘧關榮衛之的。惟盧之頤《痎瘧論疏》，全引經文，以白虎各半治榮舍，青龍各半治衛氣，雖於瘧舍關榮、瘧發關衛，啟其端倪而不能大暢厥詞，讀其書者有遺憾焉。餘業醫近十年，竊嘆瘧之劇繁且險，反復流連，非特一兩月不痊，甚有延至二三年者。診驗之餘，幾經博考冥索，始知瘧以榮衛為主腦，治之輒獲效果。而析疑辨難，互相切劘，則吾鄉陳原欽先生之力為最多。乃不採譾陋，彙集成篇，先將榮衛之生始會合、內外出入、陰陽順逆、道路異同、度數疾徐，一一剖晰，挈明大旨，然後分論瘧舍之關榮、瘧發之關衛，而溫熱暑濕各因、藏府經絡諸症與夫病情之傳變、病勢之兼併，並著於篇，以備治瘧者之採擇焉。雖然榮衛為人身之化機，凡百疾病皆系焉。能明夫榮衛之生始會合、內外出入、陰陽順逆、道路異同、度數疾徐，又豈僅可以治瘧已哉！</p>
<p><u>中華民國元年二月自序於養生園</u></p>

<h1>序</h1>
<p>天地之大，日月運行焉；人身之大，榮衛運行焉。天地有羅孛與日月同道，則日月蝕；人身有伏邪與榮衛並居，則榮衛偏，此瘧病之關榮衛也。余初業醫，臨症治瘧，輒主少陽，所用成方多不效。竊以為瘧，酷瘧也，如此大症，斷非拘一經、執一藥所能治者。奈後世治瘧，諸家紛紛聚訟，西昌喻氏專主少陽，以柴胡為主；沈再平於主用柴胡治瘧者，非之；《葉氏醫案》治瘧不用柴胡，徐洄溪非之，迄莫折衷一是。進求《金匱》瘧病，寥寥數節，難尋端緒。即瘧脈自弦之文，注家多牽入少陽矣。乃取《素問·瘧論》、《刺瘧篇》讀之。《瘧論》言巨陽、陽明，不及少陽；《刺瘧篇》首列六經，不專重少陽，仍莫得其指歸。於是反復尋繹，《瘧論》有曰：此榮氣之所舍也。又曰：與衛氣並居。不覺頓悟曰：瘧病關榮衛，不特不專主少陽，並不專主六經矣。獨是榮衛運行，為百病轄。考《內經》以榮衛名篇首者凡六，其散見者，不止《瘧論》，數節互相發明。余於榮衛之生會主散、出入、順逆、道路之各殊，疾徐之異度，幾經默悟冥搜，殊難了了，急索解人不得，以為醫不明榮衛，無論百病，即治瘧莫試也。劉君裁吾性穎悟，青年篤於醫，與余交最厚，居址距數里，故往來尤密，凡醫書與病症之疑難，相與質辨近十年。至論瘧病關於榮衛，尤心相印。一日袖卷授余曰：此所著《治瘧機要》也。余展誦之，其書先將榮衛挈明大旨，次論瘧舍關榮，瘧發關衛，瘧脈自弦，皆獨出心裁，闡明經旨；後論溫熱暑濕各因、經絡藏府諸症，與夫病變病並，無不奏刀騞然。所選諸方，一經指點，用以治瘧，皆能中榮衛之的。瘧病得此，誠暗室一燈，千載之疑竇破矣。雖然是書條分榮衛，意在令閱者醒目，似有無數榮衛，其實一也。能明夫榮衛之主散生會，其中出入、順逆、道路、度數，一如日月之運行天地，或一日一周，或一月一周，或一年一周，雖光芒之照射各殊，不得謂非一日月，敢以質之劉君並天下之留心榮衛者。是為序。</p>
<p><u>中華民國元年五月同邑原欽陳寶序於松蔭山房</u></p>

<h1>序</h1>
<p>處世界競爭之大舞臺，無論何業，苟無學問、閱歷，則在天演淘汰之內，必不能占最優勝之地，醫學一門亦然。余曾循長江，涉重洋、東北，至津、奉，經過閩、浙江、寧、蘇、滬，素稱醫術、向產名賢之區，意必有邃學問、深閱歷其人者，互相討論，倡明此道，而卒罕遇其人，至是而益嘆劉君裁吾之不可多得也。其人向勤學，善穎悟，與余攻方書有年，而進步之速不可以道里計，近十年來學更有進，讀書別有會心，編入《醫學檀幾》約百餘卷，其曰《傷寒匯方》，曰《金匱鑑別》，曰《外臺發揮》，曰《金元四家節要》，曰《景岳選瑜》，曰《喻氏節要》，曰《葉案選粹》，曰《王案類編》，曰《溫熱精言》，曰《喉科扼要》。其餘有疑，則辨之；有得，則筆之；有訛，則證之。雜卷浩繁，不可枚舉，所臨之症，編入《編症自鏡》。積日累月，每年不下數十卷。其例，先姓名，次年齡，次病症，次脈象，次舌苔，次形色，次服藥，一一標準，然後著案、著方，審慎周詳，議論卓越，靡不娓娓動人，雖喻嘉言之議病式，近世之診斷學，有過之無不及。其學問之邃，閱歷之深，為何如萍跡漂泊，企仰殊深，吾知劉君當更有進也。及歸，造訪，又編成《治瘧機要》四卷矣。回憶向之遊閩、浙江、寧、蘇、滬時，夏秋之病瘧者，纏綿歲月，劇繁且惡，中醫只知柴胡法之一治，固不愈；西醫之規尼丁殺其蟲毒，鐵劑補其血液，終嫌其隘而未盡效。得是書讀之，研究病源，直探其根柢，選擇方法，亦極其閎通，榮衛三焦，洞若觀火，暑濕諸症，朗若列眉，豈徒治瘧之機要已哉？余不辭校閱，勸付梨棗，亦保種之一端也。方今中外交通，科學互參，劉君以翹楚青年，既精中醫而並博及西醫，朝夕研核，不遺餘力，其學問之邃，閱歷之深，又當何如耶！</p>
<p><u>中華民國元年八月同邑洪嶷謝邑南序於養性學校</u></p>

<h1>卷一</h1>

<h2>論治瘧先明榮衛</h2>
<p>榮衛之道，變通無窮，論其從出之原，則元真與水穀之氣而已。榮血出於中焦，乃胃中水穀之汁所化，實本下焦元真之氣以生（少陰陽明，戊癸合化）；衛氣出於下焦，乃腎中元真之氣所生，亦本中焦水穀之汁以化（《靈樞·榮衛會生篇》云，人受氣於谷，谷入於胃，清者為榮，濁者為衛），此先天、後天互相生化之榮衛也。夫榮乃有形之血，有從心脈而行於二十八脈者，有從胃絡而行於十二經者，有滲入於衝脈者。衛乃無形之氣，有從肺脈而行於二十八脈者，有從足太陽而日行陽、夜行陰者，有上出於督脈者。是榮衛之內外出入、陰陽順逆、道路異同、度數疾徐，一一各殊，醫者不可不辨也。</p>
<p>榮血從心脈而出，以行脈內；衛氣從肺脈而出，以行脈外。所謂心榮肺衛也。</p>
<p>宗氣積於胸中，別出兩行榮衛之道，一貫心脈而行呼吸（《靈樞·邪客篇》云：宗氣積於胸中，出於喉嚨，以貫心脈而行呼吸），一出於肺而行呼吸（《靈樞·五味篇》云：大氣之搏而不行者，積於胸中，命曰氣海，出於肺，循喉嚨，呼則出，吸則入）。人身經脈，上下、左右、前後二十八脈（手之三陰三陽、足之三陰三陽，上下左右二十四脈，並左右之兩蹺、前之任、後之督，共二十四脈，計一十六丈二尺為一周），一呼一吸，脈行六寸，二百七十息，脈行十六丈二尺，為一周；一萬三千五百息，脈行五十度，而大周於身矣。夫呼則八萬四千毛竅皆合，吸則八萬四千毛竅皆開。是宗氣之呼吸固偕榮衛以流行，而毛竅之開合不賴榮衛以衛護哉。此為一日一夜並行五十周之榮衛也（按：榮行脈中，衛行脈外，即此榮衛也）。</p>
<p>榮血出於胃絡，順脈而行，始於手太陰肺經之太淵穴，而行於手陽明大腸經、足陽明胃經、足太陰脾經、手少陰心經、手太陽小腸經、足太陽膀胱經、足少陰腎經、手厥陰心包絡、手少陽三焦經、足少陽膽經、足厥陰肝經，而又始於手太陰肺經，是從手足之指井而入於藏府，復從頭胸之氣街而出於皮膚。支者從肝交督，而沖、任、蹺、維、帶脈俱不與焉。衛氣出於足太陽，逆脈而行，平旦陰盡，從足太陽之睛明穴散及於少陽、陽明，下入少陰，復從少陰而出於太陽。如是者二十五周，陽盡入陰，始從足少陰逆行五藏，腎注心，心注肺，肺注肝，肝注脾，脾復注腎為一周，亦如陽行二十五周而復合於目也。夫榮血之行於十二經隧，與衛氣日行於皮膚、肌腠之分，夜行於藏府膜原之間，一疾一徐，順而行，相干則亂（《靈樞·五亂篇》云：榮氣順脈，衛氣逆行，清濁相干，亂於胸中，是謂大悗。下文並有亂於心肺、腸胃、臂胚與頭諸症），並行則脹矣（《靈樞·脹論》云：榮氣從脈，衛氣逆為脈脹，衛氣並脈循分為膚脹。下文並有五藏六府之脹）。此為一日一夜一周之榮血及五十周之衛氣交相逆順而行者也（按：榮氣順脈，衛氣逆行，即此榮衛也）。</p>
<p>衝脈之榮血從陽明而滲入者，男子絡唇口而生鬚髮，女子月事以時下：督脈之衛氣從陽明而上出者，二十二日從背而注於伏沖，九日從腹而出於缺盆（《靈樞·歲露篇》云：衛氣之行風府，日下一節，二十一日下至尾骶，二十二日入脊內，注於伏沖之脈，其行九日出於缺盆之中）。此一月一周之榮衛，以應月行一月而一周天者。故月始生，則血氣始精，衛氣始行；月廓滿，則血氣實，肌肉堅；月廓空，則肌肉減，經絡虛，衛氣去，形獨居（《素問·八正神明論》云，月始生，則血氣始精，衛氣始行；月廓滿，則血氣實，肌肉堅；月廓空，則肌肉減，經絡虛，衛氣去，形獨居）。是沖督之榮衛以月之盈虧而應身之虛實，男子暗中運動，固無從驗，若女子一月一行，衛氣疾，則經行早，衛氣徐，則經行遲，其較著矣。此為一月一周相通之榮衛也。</p>
<p>總而論之，榮衛者，人身所首重也。榮衛調和，則神機出入，氣立如故；榮衛逆亂，則陰陽厥逆，奇恆病起；榮衛泣除，則精氣弛壞，神去而不可復收矣。然則榮衛非人身之化機而疾病系之哉。</p>

<h2>論瘧舍關榮</h2>
<p>《素問·瘧論》謂：夏傷於暑，藏於皮膚之內，腸胃之外。此榮氣之所舍也。蓋以瘧邪入於榮舍，外則伏於軀殼之腠膜，內則伏於藏府之油膜也。夫皮膚之血氣從指井而注於經脈，從經脈而入於藏府；藏府之氣血從大絡而注於孫絡，從孫絡而出於皮膚。是榮氣出入於內外膜原之間，必有所歷之界分，有界分，必有其舍，猶行人之有傳舍。此即所謂榮氣之舍也。瘧邪伏於軀殼之腠膜，中於頭項者，氣至頭項而作；中於腰背者，氣至腰背而作；中於手足者，氣至手足而作；中於胸腹者，氣至胸腹而作。此皆關於軀殼內之榮舍也。瘧邪伏於藏府之油膜，有其氣之舍深，內薄於陰者，陽氣獨發，陰邪內著，陰與陽爭，不得出，則間日而作；有邪氣內薄五藏，橫連膜原者，其道遠，其氣深，其行遲，不能與衛氣俱行，不得皆出，亦間日而作；有邪氣客於六府者，與衛氣有時相失，不能相得，故休數日或間二日乃作。此皆關於藏府外之榮舍也。夫人身之膜原有外內，故邪伏之榮舍有淺深；衛氣之離合有遠近，故瘧病之作止有遲速耳。治瘧者無論一日一作關於膜原，必視其榮舍之所在；即間日及數日一作亦關於膜原，必視其榮舍之所在。榮舍不拔，則主客交渾，如油入面，莫之或離，其發而愈，愈而復發者多矣，甚至有綿延兩三年者。且治之不得其法，瘧邪結於軀殼內之榮舍，則癰瘍瘡腫；瘧邪結於藏府外之榮舍，則癥瘕積聚；若劫動榮舍，迫傷陰陽諸絡，則吐衄、便血矣。此治瘧所以必攻榮舍也。然《經》謂衛氣之所發，必開其腠理，腠理開則邪氣入者，非有他邪之所入，即此榮舍所注之邪入於腠理，是腠理乃瘧邪之出路，故治瘧亦必開膜原也。漢唐以來，治瘧諸方，如用鱉甲、鯪鯉甲、䗪蟲、蜣螂之類以攻榮舍，草果、檳榔、厚朴、蜀漆之類以開膜原，深得治瘧之旨，後世不察，不以為探本之治，而以為截瘧之法，惜哉。予故約其說曰：治瘧不攻榮舍，則瘧邪之盤距自固；治瘧不開膜原，則瘧邪之走泄無門。余雖不敏，敢以此為治瘧之要訣焉。</p>

<h2>論瘧發關衛</h2>
<p>《素問·論瘧》謂衛氣之所在與邪氣相合則病作者，以邪與衛合則作，邪與衛離則已也。然瘧之初起，衛氣陷入於陰，必引呻呵欠，衛氣陷則不能衛護肌表，亦必毫毛灑淅，此瘧病關於衛氣之見端也。且衛氣陷而三陽之氣並於陰，則陰實而陽虛，陽明虛則寒慄鼓頷，巨陽虛則腰脊、頭項痛，陽氣虛極而陰勝，則骨寒而痛，寒生於內矣。陽虛則外寒，陰勝則內寒，是以內外皆寒，非湯火所能溫。迨陰氣逆極，則陽氣復出而並於陽，巨陽盛則頭痛如破，陽明盛則渴欲飲冷，若喘則陰虛於下而陽逆於上也。陽盛則外熱，陰虛則內熱，是以內外皆熱，非冰水所能寒，極則陰陽俱衰，衛氣相離，其病得休也。然則多寒少熱之牡瘧、多熱少寒之溫瘧、但熱不寒之癉瘧，何莫非陰陽之氣交併而各造其偏哉。其作有時者，衛氣晝行於皮膚、分肉之間，遇邪則日作；夜行於藏府、膜原之內，遇邪則夜作。其晝轉為夜者，邪薄於內，衛氣入陰與邪遇；夜轉為晝者，邪達於外，衛氣出陽與邪遇；其日作轉為間作者，邪進而衛氣漸遠；間作轉為日作者，邪出而衛氣漸近也。若日晏與其日早者，邪氣客於風府，循膂而下，衛氣一日一夜會於風府，日下一節，二十一日下至尾骶，其作日晏；二十二日入於脊內，注於伏沖，其氣上行，九日出於缺盆，作日益早。故瘧病之發關於衛氣。治瘧者，攻其榮舍，則衛氣自無阻礙，開其腠理，則衛氣自得循行，不治衛而衛自治矣。然有當治者，瘧作之末，寒熱交罷，臭汗自出，穢氣燻人，此伏邪外達之機，如風涼外束或沐浴，水氣閉塞肌腠，汗不出者，治當宣發衛氣，令其作汗。如瘧久不休，真元虧衰，肢冷息微，大汗淋漓，徐靈胎所謂亡陽之汗者，治當溫納衛氣，方免虛脫之虞。亦有體氣素弱及新產婦人，或邪氣內閉而衛氣外脫者，治當先用溫補，後用清涼也。若瘧作之後，衛氣外散則身浮面腫，衛氣內陷則胸腹痞脹，各有治法，是在醫者之活潑耳。</p>

<h2>論瘧脈自弦</h2>
<p>《靈樞》論衛氣失常則其脈大而弦急，以衛氣一有阻滯，內薄脈道，便挺然指下，有千鈞槓鼎之力。故瘧病之關於衛氣者，未作之先，固不弦，已作之後亦不弦，惟當作之際則弦耳。間有前後見弦者，必其瘧之最劇者矣。然不但初病之脈乃弦，即經年之久瘧不解，正氣虛弱，脈不鼓指，而弦象亦隱然在內。仲景淵源《內經》，故以瘧脈自弦一語提挈宗旨，而寒熱虛實等因、浮沉遲數諸脈總不外乎弦象，所以《金匱》曰：弦數者多熱，弦遲者多寒。弦沉緊者，下之差；弦浮滑者，可發汗針灸；弦滑大者，可吐之。可見瘧脈之操縱進退，一惟弦字主之耳。至謂弦遲者可溫之，則弦數者當涼之矣。後世因弦數條下有風發也、以飲食消息止之十字，不疑編者之訛，偏執風寒二字定為瘧疾鐵案。以弦為東方風木之脈，遂牽少陽之半表半裡為藏瘧之舍，往來寒熱為發瘧之狀，意欲舍《內經》而推尊仲景，豈知反以晦仲景之道哉。考其故，自晉·王叔和撰《脈經》因瘧脈自弦，以弦為少陽主脈，於是天下之談脈者，無不奉以為法，如喻嘉言、徐靈胎、魏玉璜諸公更專主少陽，數千年來無有敢議其非者。詎知弦乃衛氣不行之脈，仲景言之不少，概見如水飲病之偏弦、雙弦，水腫病之弦微、弦緊，莫非衛氣不行所致，豈獨瘧也哉。韓善徵謂瘧無一定之因，自無一定之脈，不得因弦字而執拘，不知風瘧脈緩，寒瘧脈緊，暑瘧脈芤，濕瘧脈濡，溫熱之瘧脈數，要皆因弦字而兼見，或獨見於瘧之前後，以露本來受邪之真相。故謂瘧脈弦而兼他脈，則可謂瘧，而全不見弦脈，則不得謂之瘧矣。</p>

<h1>卷二</h1>

<h2>論暑濕瘧</h2>
<p>喻嘉言因《內經》運氣主病，少陰君火與太陰濕土一類同推，不分彼此，遂謂夏傷於暑，秋為痎瘧，其中定有脫漏，補出長夏傷於濕一語，於六氣配四時之旨燦然大備。蓋天之暑氣下降，地之濕氣上騰，人在氣交之中，口鼻交受其氣。自鼻入者，從鼻管吸入，過肺歷心系，伏於上焦之膜原，復自心系循背脊下腎系，達網膜，至臍下丹田、氣海之中，伏於下焦之膜原；自口入者，從胃脘散於兩脅板油，伏於中焦之膜原。夫暑濕之伏，非能自伏也，蓋炎暑退而機衡轉，隨人身收藏之氣漸伏而漸深。故初秋發瘧，尚在肺胃之分；至於冬令嚴寒，則無不發於三陰之地矣。</p>
<p>暑性暄發，令人汗空疏，腠理開。瘧之初起，往往有因秋月之風涼閉住腠理而瘧乃作者。《素問·瘧論》言之不一，有謂因秋月汗出遇風，及得之以浴，水氣舍於皮膚之內，與衛氣並居者；有謂因遇夏月淒滄之水寒，藏於腠理皮膚之中，秋傷於風而病成者；有謂因有所用力，腠理開，風寒舍於皮膚之內、分肉之間而發者。是暑熱之氣先伏於內，而風寒之邪復從外束，治當先解其外束之寒，次清其內蘊之熱，或兩法合投，表裡並施，尤為簡括。考瘧門方中，惟王肯堂《症治準繩》內立二方，一用升麻、柴胡、葛根、羌活、防風、甘草，一用石膏、知母、粳米、紅花、桃仁、豬苓、鯪鯉甲，深得此旨。盧子頤解其方曰：風暑合作，應從兩治，但有奇偶、輕重之別。其始也，形症必稍偏於風，此固未易釀熱，先須重於從風，輕於從暑，不必盡用全方，解表利小水足矣；久則暑熱熾盛，二氣平均，現症稍無偏勝，必從全方合治，故復為一方，名曰青龍白虎各半湯。蓋暑藏榮舍，須當治暑，白虎全方正治暑之劑；藏之榮舍，亦須治榮，桃仁、紅花之類；鯪鯉穴山而居，遇水而入，則是入陰出陽，穿其經絡於榮舍，舍且顛倒，暑更從何棲止。風並衛氣，亦須治風，五種風藥正治風之劑，況衛氣下陷陰中，並致三陽亦陷，提挈三陽，則衛氣自持，如羌活之挈太陽，葛根之挈陽明，柴胡之挈少陽是也。若有兼沐浴之水氣舍於皮膚者，即以豬苓徹之。兼淒滄之水寒侵著肌腠者，豬苓固能利徹，更須佐以辛溫，乃可對待水寒，羌活、柴胡之類是也。盧氏論瘧，惟此段精切可法，但知母、石膏為肺胃之藥，桃仁、紅花乃輕散之品，用治上焦瘧固當，若中、下兩瘧，則嫌有未合者。余嘗治中焦瘧而外挾風涼者，以吳氏三消飲為主，羌活、葛根、柴胡可解外寒，知母、黃芩、大黃可除伏熱，芍藥開泄陰結，便有傾倒榮舍之功，至於草果、檳榔、厚朴直入中焦，開達膜原，蠲除伏氣，稱為聖劑。宋元以來，無方不用，如《局方》之常山飲，《易簡》之七寶丹，岩氏之鱉甲飲是也。吳氏胎化以治疫，今仍取以治瘧，法尤切。若下焦之瘧而外挾風涼者，又當用玄參、生地黃、芍藥、丹皮以清肝腎之熱，鱉甲、牡蠣、鯪鯉甲攻倒榮舍，梔子、滑石、木通開達網膜，即能引熱下出，仍取羌活、葛根、柴胡以祛外感之風涼，是從王肯堂、吳又可引而伸之，擴而充之者也。</p>
<p>若外感風涼已去，惟暑濕伏邪舍於內外之膜原者，在上焦，則為心肺之瘧；在中焦，則為胃脾膽之瘧；在下焦，則為肝腎之瘧；在奇經，則為督沖之瘧。各有專症，各有主方，詳細辨論分別於下：</p>
<p>瘧邪舍於肺膜，咳嗽頻，仍寒從背起，入秋即發，此瘧病之最淺者。若舌苔淡白，或厚膩干黃，胸脘滿悶者，濕熱尚在氣分，宜甘露消毒丹主之，以白蔻、藿香、石菖蒲之芳香宣通肺膜；若舌無苔而鮮絳或隱隱浮黑，清晨瘧發，此暑熱伏於榮分，宜仿喻氏清燥救肺法，取犀角、生地黃之清涼，去阿膠、麻仁之滋潤，加桃仁、鯪鯉甲以傾倒榮舍也。《經》云：癉瘧者，肺素有熱，氣盛於身，厥逆上衝，中氣實而不外泄。此即暑伏肺膜之瘧。下文繼之曰氣內藏於心、外舍於分肉之間者，以心主榮，而瘧邪藏於榮舍之中也。</p>
<p>瘧邪舍於心膜，煩熱昏狂，譫語發斑，此皆包絡之見症，以心不受邪，受邪則死。故凡心病皆屬包絡之病。暑熱始受在肺，逆傳內陷，則閉心包之竅，每有厥脫之虞。故治此瘧，必以開達心膜為首務，其受之輕者，以導赤瀉心各半湯引從小便而出可也；若舌色干光或紫絳，或圓硬，或黑苔起刺，必用神犀丹之類，以犀角、紫草能入榮攻舍，豆豉、菖蒲能宣竅開膜也；若神識昏迷，舌白，渴不欲飲，小水不通，系濕熱蒙閉膻中，致氣化不行於州都，宜用薏苡仁、茯苓、大腹皮、豬苓、通草、竹葉煎湯，送下牛黃丸，芳香通神、淡滲宣竅，俾濕濁穢氣從此分消；若舌苔黃膩，胸痞者，如胖，酷喜熱湯，脈弦滑右甚，則為痰飲盤踞心主之宮城，宜小陷胸合溫膽湯加薤白開通痰涎，暑象畢現，再按法以清其暑可也。夫肺邪陷心，猶為易治，若肝腎伏邪自下而上衝於心，根本之地先已受傷，雖投劑得宜，神識頗清，亦延久而告斃。此前人所未道及也。</p>
<p>瘧邪舍於胃膜，日晡潮熱，胃脘飽悶．舌苔白厚，口中黏膩，濕熱阻遏膜原者，宜達原飲主之，使邪氣潰散，速離膜原，或用蒼朮白虎湯，以蒼朮之臊臭燥烈與草果之攻用相近也。若但熱不寒，渴飲汗出，少氣煩冤，手足熱而欲嘔，如《金匱》所謂癉瘧者，系暑伏陽明榮分，故曰其氣內藏於心而外舍於分肉之間，宜白虎湯去粳米，合晉三犀角地黃湯，加丹參、芍藥主之，或堇竹螵蛸湯，以石膏、竹葉之清暑，螵蛸能驅逐榮舍之固結，常山能宣開膜原之壅滯，亦頗切當。今人用竹葉石膏湯，意非不是，但少入榮攻舍之法，終嫌未妥。繆仲淳善治暑瘧，每用當歸、牛膝、鱉甲、首烏等藥於陽明症中，無非為榮舍計也。</p>
<p>瘧邪舍於脾膜，口甜黏膩，苔白脘悶，寒起四末，渴喜熱飲，大腹脹悶，宜用不換金正氣散加黃連、黃芩、芍藥主之，以辛溫開膜化濕，苦寒清熱降火也。若唇口乾燥，煩渴，手足心熱，脈右關數，此係暑伏脾經，宜瀉黃散主之，此方妙在防風一味，鼓動太陰之膜，俾脾熱從梔子引而下出耳。宋元相傳之四獸飲、清脾飲，意非不在太陰，但執瘧不離乎肝膽之說，四獸飲用烏梅以入肝，清脾飲用柴胡以入膽，終未達瘧疾之旨耳。</p>
<p>瘧邪舍於膽膜，脈弦左數，暮熱早涼，渴飲汗出，宜仿葉天上法，以桑葉、丹皮直入少陽為君，知母、栝蔞根清暑為臣，佐鱉甲搜滌內舍，使青蒿引邪外出，與小柴胡湯之治少陽瘧者大有寒熱之別也。若嘔吐清水或痰多濁稠，是濕熱內留，木火上逆，蒙閉清陽，氣逼上竅，故耳鳴耳聾，宜溫膽湯去甘草，加栝蔞實、藕荷杆，合碧玉散主之。取栝蔞、荷杆宣通膈膜，俾濕痰退而瘧自止。如頭偏痛連齒，夜寐不安，間日瘧發，神迷錯語，系膽火升越，震動心主，宜仿林羲桐法，以鉤藤、鱉甲、牡丹皮、梔子、麥門冬、黃芩、連翹、半夏、夜交藤煎服，送下牛黃丸，清膽火而寧心神，其瘧自已。</p>
<p>瘧邪舍於肝膜，消渴、氣上衝心、心中疼熱、乾嘔吐蛔，此皆厥陰之見症，若瘧發周夜，累月不解，口苦味酸，胸悶欲絕，小溲赤黑或深紅綠碧，宜用當歸蘆薈丸主之。以木、麝之香竄走絡，可以宣開膜原；協當歸之辛潤和血，可以攻倒榮舍也。如小溲短澀渾赤，有腳熱疼難忍者，此係濕蘊肝經，以致疏泄失職，宜龍膽瀉肝湯以導之。若瘧發之時，痙厥搐搦，宜犀角地黃湯加羚羊角、玄參、菊花、絲瓜絡、竹茹、木通、荷葉露，以育陰息風、舒筋透膜也。瘧起鼻冷額汗，顴紅目赤或面目青慘，則肝陰先耗，風陽上越，宜用鱉甲、龜甲、牡蠣、天門冬、麥門冬、生地黃、肉蓯蓉、阿膠、金鈴子之類，育陰以清熱，潛陽以攻舍。蓋此乃瘧邪干犯厥陰之神藏，投劑稍乖，則狂風不息，根荄立拔，不數發而即斃矣。</p>
<p>瘧邪舍於腎膜，子夜瘧發、口乾嗜飲、兩腰收痛如刀錐刺，脈弦而細，尺中數甚，此皆少陰之見症，宜仿王孟英法，用玄參、生地黃、知母、牡丹皮、地骨皮、天門冬、龜板、茯苓、石斛、桑葉一派甘寒之品，少佐鹹寒入腎，補水清熱。濕甚者，宜二妙地黃丸加龜板、鱉甲、玄參主之，育陰之中兼以驅濕也。夫濕熱伏腎，則必腎陰先耗，以致外邪乘虛而入。治之之法，滲濕傷陰，滋陰助濕，兩相妨礙，實有難於驅除者。葉天士謂陽虛之體，濕熱一去，陽亦衰微，尚可扶陽祛濕；而陰虛之體，濕熱一去，陰即涸竭，便成壞症，不可救藥。此昔人所以有干及腎陰則為瘧勞之說也。治病者，當預防陰津於未傷之先，毋徒以祛濕為能事。</p>
<p>瘧邪舍於督、沖、任，則為奇經之瘧。《經》謂：邪氣客於風府，循膂而下，衛氣一日一夜大會於風府，明日日下一節，瘧邪亦日下一節，以此日作益晏者。蓋自頂後髮際至膂骨計七節，則瘧之作於此七節者，日晏七分矣；自腰間膂骨至尾骶計十四節，則瘧之作於此十四節者，日晏十四分矣。衛氣之循督脈而行於背者，以朔日出於風府，數之至二十一日，則下至骶骨盡之矣。夫督脈起於腎，下至胞中，而衝脈起於胞中，會於臍，至胸中而上挾咽。胞中乃督沖交接之所。二十一日以前，衛氣行於背，邪氣循督脈而下，則為督脈之瘧；二十二日以後，衛氣行於腹，邪氣循衝脈而上，則為衝脈之瘧。故衛氣入於脊，注於伏沖之內，其氣上行，九日出於缺盆，作日自此益早也，仲景淵源相承。所以申之日病瘧，以月一日，發當十五愈。設不差，當月盡解。蓋自朔至望，月由始生而滿，月滿則衛氣旺，瘧邪無地自容矣；自望至晦，月由滿極而空，月空則衛氣去形身而居於伏沖之內，過日則月之初蘇又至矣，瘧邪雖盛，亦強弓之末耳，豈能復熾哉。設仍不差，瘧邪必由督入任，緣任脈起胞中，盤踞其間，結為癥瘕，命曰瘧母，此即任脈之瘧。《經》云任脈為病，男子內結七疝，女子帶下癥瘕，是疝㿗、癥瘕之類必結於任也。後世謂肝藏血，瘧母必屬於肝，此於癥瘕二字似乎可解，其何以解當十五日愈，一月盡解之文耶？但瘧邪舍此三經，根深蒂固，非可遽滅。軒岐用針灸，不立方，仲景主之以鱉甲煎丸者，以三經同出一源，可以治任，即可以治沖與督也。方義詳三卷列方內。</p>

<h2>論溫熱瘧</h2>
<p>溫熱瘧者，得之冬中風寒，伏藏於骨髓之中，有隨人身生陽之氣而發泄者，有隨時令之氣而發泄者。夫人身生陽之氣根於腎藏，始發於肝木，木生火，火生土，土生金，金生水，生生不息。邪動則病發，隨氣所注而無定處。故《靈樞經》論熱病，首列肝，次列心、脾、肺、腎。《難經》謂溫熱之脈行在諸經，不知何經之動，各隨其經之所在而取之。仲景謂伏氣之病，以意候之，如脈微弱，喉中痛似傷，則為少陰溫病；發熱而渴，不惡寒，則為太陽溫病之類，散見於《傷寒論》中。是知溫熱發於何經，即現何經之脈象，則當按經以治之也。然溫、暑同為熱邪，治法似乎區別，惟溫熱自下而上，暑濕自上而下，稍有不同耳。其隨時令之氣而發泄者，《經》云：凡病傷寒而成溫者，先夏至日者，為病溫；後夏至日者，為病暑。蓋夏至以前，從少陽而上出者，則為溫病，以少陽為初生之陽也；夏至以後，從陽明而直出者，則為熱病，以陽明為陽熱之極也。從少陽而上出者，脈左弦數，口苦咽乾，脅痛，下利而嘔，宜用黃芩湯加黃連、竹茹、鱉甲，丹皮主之；從陽明而直出者，脈右洪數，壯熱渴飲，骨節煩疼，宜桂枝白虎湯主之；如兩手三部脈俱數，腹痛下利，是溫熱從兩經而並出也，宜葛根黃連黃芩湯加芍藥、甘草主之，以芍藥為肝膽泄熱之品，能攻榮舍，葛根為陽明引經之藥，能開腠膜。如熱極發斑，狂躁妄語，宜清溫敗毒飲主之，此為氣血兩清之大劑，妙在丹皮、芍藥有入榮開結之功也。至於內蘊濕邪，當兼去濕。外感風寒，當先解表。活法在人，隨症施用，何俟瑣瀆。</p>

<h2>論外感轉瘧</h2>
<p>《靈樞經》云：魄汗未盡，形弱氣爍，穴俞以閉，發為風瘧，葉天士云：濕溫邪留三焦，則分消上下之勢，可望轉瘧之機括。王孟英云：感受風溫、濕溫、暑熱之邪者，輕則為時感，重則為時瘧，而溫、熱、暑、濕諸感症之邪氣留連者，治之得法，亦可使之轉瘧而出。觀此，則知風寒、溫熱、暑濕諸瘧有起自外感者，必轉屬而後成，鮮有初起即為瘧者。蓋發熱惡寒終日不休，固系並行五十周之榮衛，即或一日二三度發寒熱如瘧，亦系並行五十周之榮衛。若轉而為瘧，則並行五十周之榮衛，交通於二十八脈之中，流行無阻，環循不息，而邪氣陷入於內外膜原之間，伏而不動，迨至發動之時，與日行陽、夜行陰之衛氣相遇，則瘧作矣。不然，邪氣與並行五十周之榮衛晝夜鏖戰，尚無片刻之息，安有休止之日哉？！是故強壯之人易於轉瘧，則並行五十周之榮衛強旺，而邪氣被遏，既不能傳變於內，又不能宣發於外，頃刻煽動一身，不能自主者，以日行陽、夜行陰之衛氣與邪氣相搏也。若年老質弱，氣澀血涸者，一病當前，而並行五十周之榮衛不能流暢於二十八脈，嘗致衰絕而泣除，縱或寒熱如瘧，而終不能成瘧，每一病而不可救藥。然則諺所謂傷寒轉瘧即為不死之症者，非以榮衛之盛衰覘病之生死哉。至於治法，伏邪既明，外感自知，惟風寒從皮毛而入，與溫熱、暑濕之從口鼻而入者不同，治法自當別論，雜見諸書，繁不及錄。</p>

<h2>論瘧痢</h2>
<p>瘧痢一症，言之難矣。《內經》不論，《金匱》不詳，近世之治此者，皆以高鼓峰、趙養葵、張石頑為宗旨，謂陽氣下陷，則用補中益氣之屬；謂脾腎虛脫，則用桂附八味之屬。不知病由暑濕蘊積，惟溫補是圖，死亡接踵，傷心慘目。喻嘉言雖知為伏邪，而其按經用藥，不離少陽一經，亦拘矣。徐靈胎謂寒熱未止，必有外邪，血痢未清，必有內邪，以一病分為兩歧，殊少把握。蓋暑濕伏於榮舍，動於膜原，於與衛氣相阻則為瘧。若潰於腸胃，肝肺不調，則為痢矣。如脈右洪數，口渴身熱，咳嗽胸痞，痢下白濁，病偏於肺者，以秋乃肺金主氣，肺不通調，則水濁氣滯下奔大腸，發為白痢。迫注者、肺之肅不通者，金之收也。宜葦莖湯加甘草、桔梗、黃芩、芍藥主之，清滲濕熱以攻榮舍，疏通氣滯以開肺膜也。如脈左弦數，腹痛夜熱，舌絳，消渴，痢下紅積，病偏於肝者，以肺金當秋，剋制肝木，肝失條達，風火內動，逼血妄行，發為紅痢。暴注者、肝之疏不通者，木之郁也。宜白頭翁湯加芍藥、鱉甲，清潛相火，即能攻倒榮舍；合四逆散疏泄肝木，即能宣達肝膜也。至於肝肺互相為病，求其止奔迫、解鬱結一方而並治者，自古無之。惟唐容川獨得其秘，謂肺氣傳送太力，故暴注大腸，肝氣鬱而不疏，故肛門閉塞，擬用白頭翁湯加石膏、知母、杏仁、桔梗、枳殼、檳榔、柴胡、麥芽、當歸、芍藥、甘草治之。輕則用小柴胡湯加當歸、芍藥、杏仁、桔梗、枳殼、檳榔、麥芽、栝蔞根調和肝肺，則肺氣不迫注，肝氣得開利矣。吾於此悟當歸、芍藥之能入榮舍，柴胡、檳榔之能開腠膜，於瘧病亦適合焉。又謂肝氣決列而下注，肺氣閉塞而不開，故暴注迫痛，此解直髮前人所未發，然用甘梗湯加芍藥，與開通肺氣之義尚合，於肝氣決列猶未當也。余嘗以白頭翁湯加三甲，以清潛相火為主；欲開提肺氣，合甘桔湯；欲清肅肺金，合葦莖湯。隨症施用，左右逢原。若瘧之後變痢，痢之後轉瘧，瘧痢之原頭既剖晰而詳言之矣，是在人之善用方者。</p>

<h2>論瘧臌</h2>
<p>瘧者，邪氣伏於榮舍，與衛氣相遇而後發者也，何以成臌哉。以邪氣伏於榮舍，與衛氣相遇而後發，發之不已，則衛氣之日行於陽而逆於陽者，為外腠膜之脹；夜行於陰而逆於陰者，為內油膜之脹。是以《內經·脹論》云：脹者，皆在藏府之外，排藏府而廓胸脅，脹皮膚。下文又申之曰：榮氣循脈，衛氣逆為脈脹。衛氣並脈循分為膚脹。知此則知瘧之成臌，不外乎氣結血凝矣。治法必泄其榮血之瘀結，而後衛氣始有循行之路。如屬外脹者，面目黧黑，唇口晦暗，肌膚甲錯，脈弦浮澀，宜用通竅活血湯，以蔥酒升騰衛氣，而麝香引諸藥以行皮膚孔竅之血；或用補陽還五湯，以黃耆鼓舞衛氣，而蚯蚓引諸藥以行肌腠絡脈之血。如屬內脹者，食下飽脹拒按，煩躁喘急，小便赤，大便黑溏，脈弦沉結，宜先用醋黃散去其瘀，次用人參芎歸湯，攻補並施，以桂能蒸動榮血，參能補助衛氣也。至於衛氣不行，即釀為水，榮血久瘀，亦化為水，是氣結血凝之外，又有水裹一症，宜用大黃甘遂湯加桃仁、防己主之，或用調榮散，斟酌施用，靡不奏效。《經》云：諸濕脹滿，皆屬於脾。古人成法，每多分消，詳各方書，不贅。</p>

<h1>卷三</h1>

<h2>列方</h2>
<p><u>青龍白虎各半湯</u></p>
<p>麻黃　芍藥　細辛　乾薑　甘草　桂枝　半夏　五味子　石膏　知母　甘草　粳米</p>
<p><u>三消飲</u></p>
<p>檳榔　草果　厚朴　白芍　甘草　知母　黃芩　大黃　葛根　羌活　柴胡</p>
<p><u>甘露消毒丹</u></p>
<p>飛滑石　綿茵陳　淡黃芩　石菖蒲　川貝母　木通　藿香　射干　連翹　薄荷　白豆蔻</p>
<p><u>清燥救肺湯</u></p>
<p>冬桑葉　石膏　人參　甘草　胡麻仁　阿膠　麥門冬　杏仁　枇杷葉</p>
<p><u>導赤瀉心各半湯</u></p>
<p>生地黃　木通　生甘草梢　大黃　黃連　黃芩</p>
<p><u>神犀丹</u></p>
<p>烏犀角尖　石菖蒲　黃芩　懷生地　銀花　金汁　連翹　板藍根　香豉　元參　花粉　紫草</p>
<p><u>牛黃清心丸</u></p>
<p>牛黃　硃砂　黃連　黃芩　山梔　鬱金</p>
<p><u>小陷胸湯</u></p>
<p>黃連　半夏　栝蔞實</p>
<p><u>溫膽湯</u></p>
<p>半夏　竹茹　陳皮　甘草　茯苓</p>
<p><u>達原飲</u></p>
<p>檳榔　厚朴　草果　知母　芍藥　黃芩　甘草</p>
<p><u>蒼朮白虎湯</u></p>
<p>知母　甘草　石膏　蒼朮　粳米</p>
<p><u>堇竹螵蛸湯</u></p>
<p>堇竹葉　海螵蛸　常山　石膏</p>
<p><u>不換金正氣散</u></p>
<p>厚朴　藿香　甘草　半夏　蒼朮　陳皮</p>
<p><u>瀉黃散</u></p>
<p>藿香　山梔仁　石膏　甘草　防風</p>
<p><u>碧玉散</u></p>
<p>滑石　甘草　青黛</p>
<p><u>當歸龍薈丸</u></p>
<p>當歸　龍膽草　梔子　黃連　黃芩　蘆薈　大黃　木香　麝香</p>
<p><u>龍膽瀉肝湯</u></p>
<p>龍膽草　黃芩　梔子　澤瀉　車前子　當歸　生地黃　柴胡　生甘草</p>
<p><u>犀角地黃湯</u></p>
<p>犀角　生地黃　芍藥　牡丹皮</p>
<p><u>二妙地黃丸</u></p>
<p>熟地　山茱萸　牡丹皮　白茯苓　懷山藥　澤瀉　川黃柏　熟附子　蒼朮</p>
<p><u>鱉甲煎丸</u></p>
<p>鱉甲　黃耆　人參　當歸　白朮　白茯苓　川芎　白芍　甘草　陳皮　三稜　莪朮　厚朴　柴胡　檳榔</p>
<p><u>黃芩湯</u></p>
<p>黃芩　當歸　黃連　檳榔　木香　甘草　大黃　官桂</p>
<p><u>桂枝白虎湯</u></p>
<p>知母　甘草　石膏　粳米　桂枝</p>
<p><u>葛根黃芩黃連湯</u></p>
<p>葛根　黃芩　黃連　甘草</p>
<p><u>清溫敗毒飲</u></p>
<p>生石膏　梔子　桔梗　黃芩　知母　赤芍　玄參　連翹　甘草　丹皮　鮮竹葉</p>
<p><u>葦莖湯</u></p>
<p>葦莖　薏苡仁　冬瓜子　桃仁</p>
<p><u>四逆散</u></p>
<p>甘草　枳實　柴胡　芍藥</p>
<p><u>白頭翁湯</u></p>
<p>白頭翁　黃柏　黃連　秦皮</p>
<p><u>甘桔湯</u></p>
<p>甘草　桔梗</p>
<p><u>通竅活血湯</u></p>
<p>赤芍　川芎　桃仁　丹皮　烏藥　延胡索　甘草　香附　紅花　枳殼</p>
<p><u>補陽還五湯</u></p>
<p>黃耆　當歸　赤芍　地龍　川芎　紅花　桃仁</p>
<p><u>醋黃散</u></p>
<p>大黃　鬱金子　降香　三七　當歸　牛膝</p>
<p><u>人參芎歸湯</u></p>
<p>人參　當歸　半夏　川芎　蓬朮　木香</p>
<p><u>大黃甘遂湯</u></p>
<p>大黃　甘遂　阿膠</p>

<h1>卷四</h1>

<h2>備選方</h2>
<p><u>蜀漆散</u></p>
<p>蜀漆　雲母　龍骨</p>
<p><u>牡蠣湯</u></p>
<p>黃耆　麻黃根　牡蠣</p>
<p><u>柴胡去半夏加栝蔞根湯</u></p>
<p>柴胡　黃芩　人參　栝蔞根　甘草　生薑　大棗</p>
<p><u>柴胡桂薑湯</u></p>
<p>柴胡　桂枝　乾薑　栝蔞根　黃芩　牡蠣　甘草</p>
<p><u>竹葉石膏湯</u></p>
<p>竹葉　石膏　半夏　麥門冬　人參　甘草　粳米</p>
<p><u>黃耆五物湯</u></p>
<p>黃耆　芍藥　桂枝　生薑　大棗</p>
<p><u>蜀漆丸</u></p>
<p>蜀漆　知母　升麻　白薇　地骨皮　麥門冬　烏梅肉　鱉甲　萎蕤　石膏　甘草　常山　豆豉</p>
<p><u>清脾飲</u></p>
<p>青皮　厚朴　白朮　草果仁　柴胡　茯苓　黃芩　半夏　甘草</p>
<p><u>常山飲</u></p>
<p>常山　烏頭　甘草　蒜　糯米　豆豉　甑帶</p>
<p><u>四獸飲</u></p>
<p>半夏　茯苓　人參　草果　陳皮　甘草　烏梅肉　白朮　生薑　大棗</p>
<p><u>截瘧七寶丹</u></p>
<p>厚朴　陳皮　甘草　草果仁　常山　檳榔　青皮</p>
<p><u>鱉甲飲</u></p>
<p>鱉甲　黃耆　人參　當歸　白朮　白茯苓　川芎　白芍　甘草　陳皮　青皮　半夏　三稜　莪朮　檳榔　厚朴　柴胡</p>
<p><u>補中益氣湯</u></p>
<p>黃耆　甘草　人參　當歸　橘皮　升麻　柴胡　白朮</p>
<p><u>露姜飲</u></p>
<p>別直參　生薑</p>
<p><u>烏梅飲</u></p>
<p>烏梅　細辛　乾薑　黃連　當歸　附子　蜀椒　桂枝　人參　黃柏</p>
<p><u>大清涼散</u></p>
<p>白殭蠶　蟬蛻　全蠍　當歸　生地　金銀花　澤蘭　木通　車前子　黃連　黃芩　梔仁　五味子　麥門冬　龍膽草　丹皮　甘草</p>
<p><u>清化湯</u></p>
<p>白殭蠶　蟬蛻　金銀花　澤蘭　廣皮　黃芩　黃連　梔子　連翹</p>
