<header data-type="book">
<h1>針灸大全</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>徐鳳</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1439">公元1439 年（明·正統四年）</data></dd></div>
<div><dt>底本</dt><dd>《<a href="../../help/reference.html#other">鍼灸大全</a>》，人民衛生出版社，1987年；明萬曆鄭氏宗文堂刊本（<a href="https://www.digital.archives.go.jp/file/1084271">国立公文書館掃描本</a>）。</dd></div>
</dl>
</header>

<h1>卷之一</h1>

<h2>周身經穴賦</h2>
<p>手太陰肺大指側，少商魚際兮太淵穴；經渠兮列缺，孔最兮尺澤；俠白共天府為鄰、雲門與中府相接。</p>
<p>手陽明兮大腸之經，循商陽、二間、三間而行；歷合谷、陽谿之腧，過偏歷、溫溜之濱；下廉、上廉、三里而近，曲池、肘髎、五里之程；臑髃上於巨骨，天鼎紆乎扶突；禾髎唇連，迎香鼻迫。</p>
<p>胃乃足之陽明，厲兌趨乎內庭；過陷谷、衝陽之分，見解谿、豐隆之神；下巨虛兮條口陳，上巨虛兮三里仍；犢鼻引入梁丘、陰市之下、伏兔上貫髀關、氣衝之經；歸來兮水道，大巨兮外陵；運天樞兮滑肉、禮太乙兮關門；梁門兮承滿，不容兮乳根；乳中之膺窗屋翳，庫房之氣戶、缺盆；氣舍、水突、人迎、大迎；地倉兮巨髎續，四白兮承泣分；御頰車於下關，張頭維於額垠。</p>
<p>足太陰兮脾中州，隱白出兮大指頭；赴大都兮瞻太白，訪公孫兮至商丘；越三陰之交，而漏谷、地機可即；步陰陵之泉，而血海、箕門是求；入衝門兮府舍軒豁，解腹結兮大橫優遊；腹哀、食竇兮，接天谿而同派；胸鄉周榮兮，綴大包而如鉤。</p>
<p>迨夫真心為手少陰。少衝出乎小指，少府直乎神門；陰郄、通里兮、靈道非遠；少海、青靈兮，極泉何深。</p>
<p>手之太陽，小腸之滎。路從少澤，步前谷、後谿之隆；道遵腕骨，觀陽谷、養老之崇；得支正於小海，逐肩貞以相從，值臑腧兮遇天宗，乘秉風兮曲垣中；肩外俞兮肩中俞，啟天窗兮見天容；匪由顴髎，曷造聽宮。</p>
<p>足膀胱兮太陽，交背部之二行。窮至陰於通谷之口，尋束骨於京骨之鄉；申脈命僕參以前導，崑崙闢金門於踝旁；奮附陽、飛揚之志，轉承山、承筋之行；至於合陽、委中、委陽；浮郄、殷門以相從，承扶、秩邊而胞肓；入志室兮肓門、胃倉，開意舍兮振彼陽綱；出魂門兮膈關，乃噫嘻乎神堂；膏肓兮在四椎之左右，魄戶兮隨附分而會陽；下、中、次、上之髎，白環中膂之房；膀胱俞兮小腸，大腸俞兮在傍；三焦腎俞兮胃俞接，脾、膽、肝、膈兮心俞當；厥陰、肺俞之募，風門、大杼之方；天柱豎兮玉枕絡卻，通天豁兮見彼承光；自五處、曲差而下，造攢竹、睛明之場。</p>
<p>足少陰兮腎屬，湧泉流於然谷；太谿、大鐘兮水泉緣，照海、復溜兮交信續；從築賓兮上陰谷，掩橫骨兮大赫麓；氣穴、四滿兮中注，肓俞上通兮商曲；守石關兮陰都寧，閉通谷兮幽門肅；步廊、神封而靈墟存，神藏、彧中而俞府足。</p>
<p>手厥陰心包之絡，中衝發中指之奇；自勞宮、大陵而往，逐內關、間使而馳；叩郄門於曲澤，酌天泉於天池。</p>
<p>手少陽三焦之脈，在小指次指之端；關衝聞乎液門，中渚、陽池、外關；支溝、會宗、三陽絡，四凟、天井、清冷淵，消濼、臑會、肩髎相連；天髎處天牖之下，翳風讓瘈脈居先；顱息定而角孫近耳，絲竹空而和髎倒懸；耳門既闢，夏蚋聞焉。</p>
<p>足少陽兮膽經，穴乃出乎竅陰；溯俠谿兮地五會，過臨泣兮坵墟平；懸鐘兮陽輔、光明，外丘兮陽交、陽陵；西出陽關兮，抵中瀆、風市之境；環跳、居髎兮，循維道、五樞之宮；考夫帶脈，詢至京門；日月麗兮輒筋榮，淵腋泄兮肩井盈；臨風池兮腦空鳴，窮竅陰兮完骨明；舉浮白於天衝，接承靈於正營，目窗兮臨泣，陽白兮本神；率谷回兮曲鬢出，懸釐降兮懸顱承；頷厭兮佳客主人，聽會兮童子窌迎。</p>
<p>厥陰在足，肝經所終。起大敦於行間，循太衝於中封，蠡溝、中都之會，膝關、曲泉之宮；襲陰包於五里兮，陰廉乃發；尋羊矢於章門兮，期門可攻。</p>
<p>至若任脈行乎腹與胸，承漿泄兮廉泉通；窺天突與璇璣，搗華蓋於紫宮；登玉堂兮膻中逢，集中庭兮鳩尾沖；瞻巨闕兮上脘、中脘，過建里兮下脘攸同；水分兮神闕縹緲，陰交兮氣海鴻濛；石門直兮關元、中極，曲骨橫兮會陰乃終。</p>
<p>督脈行乎背部中，兌端接兮齗交從。素髎在鼻兮，水溝疏通；神庭入發兮，上星膧朦；囟會現兮前頂，百會儼兮尊崇；後頂轉兮強間逢，腦戶閉兮風府空；啞門通於大椎兮，陶道坦夷：身柱縹於神道兮，靈臺穹窿；至陽立下，筋縮脊中；接脊懸樞，命門重重；歌陽關兮舞腰俞，願長強兮壽無窮。</p>

<h2>十二經脈歌</h2>
<p>手太陰肺中焦生，下絡大腸出賁門，上膈屬肺從肺系，系橫出腋臑中行，肘臂寸口上魚際，大指內側爪甲根。支絡還從腕後出，接次指屬陽明經。此經多氣而少血，是動則病喘與咳，肺脹膨膨缺盆痛，兩手交瞀為臂厥；所生病者為氣咳，喘喝煩心胸滿結，臑臂之內前廉痛，小便頻數掌中熱。氣虛肩背痛而寒，氣盛亦痛風汗出。欠伸少氣不足息，遺矢無度溺變別。</p>
<p>陽明之脈手大腸，次指內側起商陽，循指上廉出合谷，兩筋歧骨循臂膀，入肘外廉循臑外，肩端前廉柱骨傍，從肩下入缺盆內，絡肺下膈屬大腸。支從缺盆上入頸，斜貫頰前下齒當，還出人中交左右，上俠鼻孔注迎香。此經血盛氣亦盛，是動頸腫並齒痛；所生病者為鼽衄，目黃口乾喉痹生，大指次指難為用，肩臑外側痛相仍。氣有餘兮脈熱腫，虛則寒慄病偏增。</p>
<p>胃足陽明交鼻起，下循鼻外下入齒，還出俠口繞承漿，頤後大迎頰車裡，耳前髮際至額顱，支下人迎缺盆底，下膈入胃絡脾宮。直者缺盆下乳內，一支幽門循腹中，下行直合氣沖逢。遂由髀關抵膝臏，䯒跗中指內間同；一支下膝注三里，前出中指外間通；一支別走足跗指，大指之端經盡矣。此經多氣復多血，是動欠伸面顏黑，悽悽惡寒畏見人。忽聞木聲心振惕，登高而歌棄衣走，甚則腹脹仍賁響，凡此諸疾皆骭厥。所生病者為狂瘧，濕溫汗出鼻流血，口喎唇裂又喉痹，膝臏疼痛腹脹結，氣膺伏兔䯒外廉，足跗中指俱痛徹。有餘消穀溺色黃，不足身前寒振慄，胃房脹滿食不消，氣盛身前皆有熱。</p>
<p>太陰脾起足大指，上循內側白肉際，核骨之後內踝前，上腨循䯒脛膝里，股內前廉入腹中，屬脾絡胃與膈通，俠喉連舌散舌下，支絡從胃注心宮。此經氣盛而血衰，是動其病氣所為，食入即吐胃脘痛，更兼身體痛難移，腹脹善噫舌本強，得後與氣快然衰；所生病者舌亦痛，體重不食亦如之。煩心心下仍急痛，泄水溏瘕寒瘧隨，不臥強立股膝腫，疸發身黃大指痿。</p>
<p>手少陰脈起心中，下膈直與小腸通。支者還從肺系走，直上咽喉系目瞳。直者上肺出腋下，臑後肘內少海從。臂內後廉抵掌中，兌骨之端注少衝。多氣少血屬此經，是動心脾痛難任，渴欲飲水咽乾燥，所生脅痛目如金，臑臂之內後廉痛，掌中有熱向經尋。</p>
<p>手太陽經小腸脈，小指之端起少澤，循手外廉出踝中，循臂骨出肘內側，上循臑外出後廉，直過肩解繞肩甲，交肩下入缺盆內，向腋絡心循咽嗌，下膈抵胃屬小腸，一支缺盆貫頸頰，至目銳眥卻入耳，復從耳前仍上頰，抵鼻升至目內眥，斜絡於顴別絡接。此經少氣還多血，是動則病痛咽嗌，頷下腫兮不可顧，肩如拔兮臑似折。所生病兮主肩臑，耳聾目黃腫腮頰，肘臂之外後廉痛，部分猶當細分別。</p>
<p>足經太陽膀胱脈，目內眥上懸額尖。支者巔上至耳角，直者從巔腦後懸。絡腦還出別下項，仍循肩膊俠脊邊，抵腰膂腎膀胱內，一支下與後陰連，貫臀斜入委中穴，一支膊內左右別，貫胛俠脊過髀樞，髀外後廉膕中合，下貫腨內外踝後，京骨之下指外側。是經血多氣少也，是動頭痛不可當，項如拔兮腰似折，髀樞痛徹脊中央，膕如結兮腨如裂，是為踝厥筋乃傷；所生瘧痔小指廢，頭囟頂痛目色黃，腰尻膕腳痛連背，淚流鼻䶊及癲狂。</p>
<p>足經腎脈屬少陰，小指斜透湧泉心，然骨之下內踝後，別入跟中腨內侵，出膕內廉上股內，貫脊屬腎膀胱臨。直者屬腎貫肝膈，入肺循喉舌本尋。支者從肺絡心內，仍至胸中部分深。此經多氣而少血，是動病飢不欲食，喘嗽唾血喉中鳴，坐而欲起面如垢，目視𥉂𥉂氣不足，心懸如飢常惕惕。所生病者為舌乾，口熱咽痛氣賁逼，股內後廉並脊疼，心腸煩痛疸而澼，痿厥嗜臥體怠惰，足下熱痛皆腎厥。</p>
<p>手厥陰心主起胸，屬包下膈三焦宮。支者循胸出脅下，脅下連腋三寸同。仍上抵腋循臑內，太陰少陰兩經中，指透中衝支者別，小指次指絡相通。是經少氣原多血。是動則病手心熱，肘臂攣急腋下腫，甚則胸脅支滿結，心中澹澹或大動，善笑目黃面赤色。所生病者為心煩，心痛掌熱病之則。</p>
<p>手經少陽三焦脈，起自小指次指端，兩指歧骨手腕表，上出臂外兩骨間，肘後臑外循肩上，少陽之後交別傳，下入缺盆膻中分，散絡心包膈里穿。支者膻中缺盆上，上項耳後耳角旋，屈下至頤仍注頰。一支出耳入耳前，卻從上關交曲頰，至目外眥乃盡焉。斯經少血還多氣，是動耳鳴喉腫痹；所生病者汗自出，耳後痛兼目銳眥，肩臑肘臂外皆痛，小指次指亦如廢。</p>
<p>足脈少陽膽之經，始從兩目銳眥生，抵頭循角下耳後，腦空風池次第行，手少陽前至肩上，交少陽後上缺盆。支者耳後貫耳內，出走耳前銳眥循；一支銳眥大迎下，合手少陽抵䪼根，下加頰車，缺盆合，入胸貫膈絡肝經，屬膽仍從脅裡過，下入氣街毛際縈，橫入髀厭環跳內，直者缺盆下腋膺，過季脅下髀厭內，出膝外廉是陽陵，外輔絕骨踝前過，足跗小指次指分；一支別從大指去，三毛之際接肝經。此經多氣乃少血，是動口苦善太息，心脅疼痛難轉移，面塵足熱體無澤，所生頭痛連銳眥，缺盆腫痛並兩腋，馬刀俠癭生兩旁，汗出振寒痎瘧疾，胸脅髀膝至䯒骨，絕骨踝痛及諸節。</p>
<p>厥陰足脈肝所終，大指之端毛際叢，足跗上廉太衝分，踝前一寸入中封；上踝交出太陰後，循膕內廉陰股充，環繞陰器抵小腹，俠胃屬肝絡膽逢，上貫膈里布脅肋，俠喉頏顙目系同，脈上巔會督脈出，支者還生目系中，下絡頰裡還唇內，支者便從膈肺通。是經血多氣少焉，是動腰疼俯仰難，男疝女人小腹腫，面塵脫色及咽乾。所生病者為胸滿，嘔吐洞泄小便難，或時遺溺並狐疝，臨證還須仔細看。</p>

<h2>十二經本一脈歌</h2>
<p>中焦肺起脈之宗，出手大指之端沖。大腸即起手次指，上行環口交鼻里。胃經源又下鼻交，出足大指之端毛。脾脈繼起指端上，注於心中少陰向。心經中之入掌循，手內端出小指行。小腸從手小指起，上斜絡顴目內眥。膀胱經從目內生，至足小指外側行。腎脈動於小指下，起注胸中過腹胯。心包出處又連胸，循手小指次指中。三焦起手次指側，環走耳前目銳息。膽家接生目銳傍，走足大指三毛上。足肝就起三毛際，注入肺中循不已。</p>

<h2>經穴起止歌</h2>
<p>手肺少商中府起，大腸商陽迎香二。足胃厲兌頭維三，脾部隱白大包四。手心少衝極泉來，小腸少澤聽宮去。膀胱睛明至陰間，腎經湧泉俞府位。心包中衝天池隨，三焦關衝耳門繼。膽家竅陰童子髎，厥肝大敦期門已。十二經穴始終歌，學者銘於肺腑記。</p>

<h2>十五脈絡歌</h2>
<p>人身絡脈一十五，我今逐一從頭數。手太陰絡為列缺，手少陰絡即通里。手厥陰絡名內關，手太陽絡支正是。手陽明絡偏歷當，手少陽絡外關位。足太陽絡號飛揚，足陽明絡豐隆系。足少陽絡是光明，足太陰絡公孫寄。足少陰絡為大鐘，足厥陰絡蠡溝配。陽督之絡號長強，陰任之絡為屏翳。脾之大絡大包是，十五絡穴君須記。</p>

<h2>經脈氣血多少歌</h2>
<p>多氣多血經須記，大腸手經足經胃。少血多氣有六經，三焦膽腎心脾肺。多血少氣心包絡，膀胱小腸肝所異。</p>

<h2>禁針穴歌</h2>
<p>禁針穴道要先明，腦戶囟會及神庭。絡卻玉枕角孫穴，顱囟承泣隨承靈。神道靈臺膻中忌，水分神闕並會陰。橫骨氣衝手五里，箕門承筋及青靈。更加臂上三陽絡，二十二穴不可針。孕婦不宜針合谷，三陰交內亦通倫。石門針灸應須知，女子終身無妊娠。外有云門並鳩尾，缺盆客主人莫深。肩井深時人悶倒，三里急補人還平。</p>

<h2>禁灸穴歌</h2>
<p>禁灸之穴四十五，承光啞門及風府，天柱素髎臨泣上，睛明攢竹迎香數。禾髎顴髎絲竹空，頭維下關與脊中，肩貞心俞白環俞，天牖人迎共乳中。周榮淵腋並鳩尾，腹哀少商魚際位，經渠天府及中衝，陽關陽池地五會。隱白漏谷陰陵泉，條口犢鼻還陰市，伏兔髀關、委中穴，殷門申脈承扶忌。</p>

<h2>血忌歌</h2>
<p>行針須要明血忌，正醜二寅三之未，四申五卯六酉宮，七辰八戌九居已，十亥十一午正當，臘子更加逢日閉。</p>

<h2>逐日人神歌</h2>
<p>初一十一廿一起，足拇鼻柱手小指。初二十二廿二日，外踝髮際外踝位。初三十三二十三，股內牙齒足及肝。初四十四廿四右，腰間胃脘陽明手。初五十五廿五並，口內遍身足陽明。初六十六廿六同，手掌胸前又在胸。初七十七二十七，內踝氣衝及在膝。初八十八廿八辰，腕內股內又在陰。初九十九二十九，在尻在膝足脛後。初十二十三十日，腰背內踝足跣覓。</p>

<h2>九宮尻神歌</h2>
<p>尻神所在足根由，坤內外踝聖人留，震宮牙臑分明記，巽位還居乳口頭，中宮肩骨連尻骨，面目背從幹上遊，手膊兌宮難砭灸，艮宮腰項也須休，離宮膝肋針難下，坎肘還連肚脈求。為醫精曉尻神法，萬病無干禁忌憂。</p>
<figure>
<img data-orig-src="urn:270:06354.jpg" alt="尻神之圖">
</figure>
<p>此乃神農所制。一歲起坤，二歲震，逐年順飛九宮，周而復始，行年到處，則所生敗體，切忌針灸。若誤犯之，重則喪命，輕則發癰疽之疾也。</p>

<h2>太乙人神歌</h2>
<p>立春艮上起天留，戊寅己丑左足求。春分左脅倉門震，乙卯日見定為仇。立夏戊辰己巳巽，陰絡宮中左手愁。夏至上天丙辰日，正直應喉離首頭。立秋玄委宮右手，戊申己未坤上游。秋分倉果西方兌，辛酉還從右脅謀。立冬左足加新洛，戊戌己亥乾位收。冬至坎方臨葉蟄，壬子腰尻下竅流。五臟六腑並臍腹，招搖戊己在中州。潰治癰疽當須避，犯其天忌疾難瘳。</p>

<h2>孫思邈先生針十三鬼穴歌</h2>
<p>百邪顛狂所為病，針有十三穴須認。</p>
<p>凡針之體先鬼宮，次針鬼信無不應。一一從頭逐一求，男從左起女從右。一針人中鬼宮停，左邊下針右出針。第二手大指甲下，名鬼信刺三分深。三針足大指甲下，名曰鬼壘入二分。四針掌後大陵穴，入寸五分為鬼心。五針申脈名鬼路，火針三下七鋥鋥，第六卻尋大杼上，入發一寸名鬼枕。七刺耳垂下五分，名曰鬼床針要溫。八針承漿名鬼市，從左出右君須記。九針間使鬼市上，十針上星名鬼堂。十一陰下縫三壯，女玉門頭為鬼藏。十二曲池名鬼臣，火針仍要七鋥鋥。十三舌頭當舌中，此穴須名是鬼封。手足兩邊相對刺，若逢孤穴只單通。此是先師真口訣，狂猖惡鬼走無蹤。</p>

<h2>長桑君天星秘訣歌</h2>
<p>天星秘訣少人知，此法專分前後施。若是胃中停宿食，後尋三里起璇璣。脾病血氣先合谷，後刺三陰交莫遲。如中鬼邪先間使，手臂攣痹取肩髃。腳若轉筋並眼花，先針承山次內踝。腳氣痠疼肩井先，次尋三里陽陵泉。如是小腸連臍痛，先刺陰陵後湧泉。耳鳴腰痛先五會，次針耳門三里內。小腸氣痛先長強，後刺大敦不要忙。足緩難行先絕骨，次尋條口及衝陽。牙疼頭痛兼喉痹，先刺二間後三里。胸膈痞滿先陰交，針到承山飲食喜。肚腹浮腫脹膨膨，先針水分瀉建里。傷寒過經不出汗，期門三里先後看。寒瘧面腫及腸鳴，先取合谷後內庭。冷風濕痹針何處，先取環跳次陽陵。指痛攣急少商好，依法施之無不靈。此是桑君真口訣，時常莫作等閒輕。</p>

<h2>馬丹陽天星十二穴並治雜病歌</h2>
<p>三里內庭穴，曲池合谷接。委中配承山，太衝崑崙穴。環跳與陽陵，通里並列缺。合擔用法擔，合截用法截。三百六十穴，不出十二訣。治病如神靈，渾如湯澆雪。北斗降真機，金鎖教開徹。至人可傳受，匪人莫浪說。</p>
<p>三里足膝下，三寸兩筋間。能除心腹痛，善治胃中寒。腸鳴並泄瀉，腫滿腳脛痠。傷寒羸瘦損，氣蠱疾諸般。人過三旬後，針灸眼重觀。取穴舉足取，去病不為難。</p>
<p>內庭足指內，胃脘屬陽明。善療四肢厥，喜靜惡聞聲。耳內鳴喉痛，數欠及牙疼。瘧疾不思食，針後便惺惺。</p>
<p>曲池曲肘里，曲骨陷中求。能治肘中痛，偏風半不收。彎弓開不得，臂瘓怎梳頭。喉閉促欲死，發熱更無休。遍身風疙瘩，針後即時瘳。</p>
<p>合谷在虎口，兩指岐骨間。頭疼並面腫，瘧疾熱又寒。體熱身汗出，目暗視朦朧。牙疼並鼻衄，口禁更難言。針入看深淺，令人病自安。</p>
<p>委中曲膕里，動脈正中央。腰重不能舉，沉沉俠脊梁。風癇及筋轉，熱病不能當。膝頭難伸屈，針入即安康。</p>
<p>承山在魚腰，腨腸分肉間。善理腰疼痛，痔疾大便難。腳氣足下腫，兩足盡寒酸。霍亂轉筋急，穴中刺便安。</p>
<p>太衝足大指，節後三寸中。動脈知生死，能除驚癇風。咽喉腫心脹，兩足不能動。七疝偏墜腫，眼目似云朦。亦能療腰痛，針下有神功。</p>
<p>崑崙足外踝，後跟微脈尋。膊重腰尻痛，陽踝更連陰。頭疼脊背急，暴喘滿中心。踏地行不得，動足即呻吟。若欲求安好，須尋此穴針。</p>
<p>環跳在足髀，側臥下足舒。上足屈乃得，針能廢毒軀。冷風並冷髀，身體似纏拘。腿重腨痛甚，屈伸轉側噓。有病須針灸，此穴最蘇危。</p>
<p>陽陵泉膝下，外廉一寸中。膝腫並麻木，起坐腰背重。面腫胸中滿，冷痹與偏風。努力坐不得，起臥似衰翁。針入五分後，神功實不同。</p>
<p>通里腕側後，掌後一寸中。欲言言不出，懊憹在心中。實則四肢重，頭腮面頰紅。平聲仍欠數，喉閉氣難通。虛則不能食，咳嗽面無容。毫針微微刺，方信有神功。</p>
<p>列缺腕側上，鹽指手交叉。專療偏頭患，偏風肘木麻。痰涎頻壅上，口噤不開牙。若能明補瀉，應手疾如拿。</p>

<h2>四總穴歌</h2>
<p>肚腹三里留，腰背委中求。頭項尋列缺，面口合谷收。</p>

<h2>千金十一穴歌</h2>
<p>三里內庭穴，肚腹中妙訣。曲池與合谷，頭面病可徹。腰背痛相連，委中崑崙穴。胸項如有痛，後谿並列缺。環跳與陽陵，膝前兼腋脅。可補即留久，當瀉即疏泄。三百六十名，十一千金穴。</p>

<h2>治病十一證歌</h2>
<p>攢竹絲竹主頭疼，偏正皆宜向此針。更去大都除瀉動，風池又刺三分深。曲池合谷先針瀉，永與除疴病不侵。依此下針無不應，管教隨手便安寧。</p>
<p>頭風頭痛與牙疼，合谷三間兩穴尋。更向大都針眼痛，太淵穴內用行針。牙痛三分針呂細，齒疼依前指上明。更推大都左之右，交互相迎仔細尋。</p>
<p>聽會兼之與聽宮，七分針瀉耳中聾。耳門又瀉三分許，更加七壯灸聽宮。大腸經內將針瀉，曲池合谷七分中。醫者若能明此理，針下之時便見功。</p>
<p>肩背並和肩膊疼，曲池合谷七分深。未愈尺澤加一寸，更於三間次第行。各入七分於穴內，少風二府刺心經。穴內淺深依法用，當時蠲疾兩三經。</p>
<p>咽喉以下至於臍，胃脘之中百病危。心氣痛時胸結硬，傷寒嘔噦悶涎隨。列缺下針三分許，三分針瀉到風池。二手三間並三里，中衝還刺五分依。</p>
<p>汗出難來刺腕骨，五分針瀉要君知。魚際經渠並通里，一分針瀉汗淋漓。手指三間及三里，大指各刺五分宜。汗至如若通遍體，有人明此是醫師。</p>
<p>四肢無力中邪風，眼澀難開百病攻。精神昏倦多不語，風池合谷用針通。兩手三間隨後瀉，三里兼之與太衝。各入五分於穴內，迎隨得法有神功。</p>
<p>風池手足指諸間，右瘓偏風左曰癱。各刺五分隨後瀉，更灸七壯便身安。三里陰交行氣瀉，一寸三分量病看。每穴又加三七壯，自然癱瘓即時安。</p>
<p>瘧疾將針刺曲池，經渠合谷共相宜。五分針刺於二穴，瘧病纏身方得離。未愈更加三間刺，五分深刺莫憂疑。又兼氣痛增寒熱，間使行針莫用遲。</p>
<p>腿膝腰疼痞氣攻，髖骨穴內七分窮。更針風市兼三里，一寸三分補瀉同。又去陰交瀉一寸，行間仍刺五分中。剛柔進退隨呼吸，去疾除疴捻指功。</p>
<p>肘膝疼時刺曲池，進針一寸是便宜。左病針右右針左，依此三分瀉氣奇。膝痛三分針犢鼻，三里陰交要七次。但能仔細尋其理，劫病之功在片時。</p>

<h2>流注指微賦</h2>
<p>疾居榮衛，扶救者針。觀虛實於瘦肥，辨四時之淺深。是見取穴之法，但分陰陽而溪谷；迎風逆順，須曉氣血而升沉。</p>
<p>原夫指微論中，頤義成賦，知本時之氣開，說經絡之流注。每披文而參其法，篇篇之旨審存。覆經而察其言，字字之功明諭。疑隱皆知，虛實總附。移痛住疼如有神，針下獲安。暴疾沉疴至危篤，刺之勿誤。</p>
<p>詳夫陰日血引，值陽氣流口溫針，陽日氣引，逢陰血暖牢寒濡。深求諸經十二作數，絡脈十五為周；陰俞六十臟主，陽穴七十腑收。刺陽經者，可臥針而取；奪血絡者，先俾指而柔。呼為迎而吸作補，逆為鬼而從何憂。淹疾延患，著灸之由。躁煩藥餌而難極，必取八會；癰腫奇經而蓄邪，纖猶砭瘳。</p>
<p>況夫甲膽乙肝，丁心壬水，生我者號母，我生者名子。春井夏滎乃邪在，秋經冬合乃刺矣。犯禁忌而病復，用日衰而難已。孫絡在於肉分，血行出於支里。悶昏針暈，經虛補絡須然；痛實癢虛，瀉子隨母要指。</p>
<p>想夫先賢迅效，無出於針；今人愈疾，豈離於醫。徐文伯瀉孕於苑內，斯由甚速；範九思療咽於江夏，聞見言稀。</p>
<p>大抵古今遺蹟，後世皆師。王纂針昧而立康，獺從被出，；秋夫療鬼而馘效，魂免傷悲。慨而感指幽微，用針真訣竅齊於筋骨皮肉，刺要痛察於久新、臟腑、寒熱。接氣通經，短長依法，裡外之絕，羸盈必別。勿刺大勞，使人氣亂而神隳；慎妄呼吸，防他針昏而閉血。又以常尋古義，由有藏機，遇高賢真趣，則超然得悟；逢達人示教，則表我秩危。男女氣脈行分時合，度養時刻注穴，穴須依今，詳定疾病之儀，神針法式。廣搜《難》、《素》之秘密文辭，深考諸家之肘亟妙臆。故稱瀘江流注之指微，以為後學之規則。</p>

<h2>通玄指要賦</h2>
<p>必欲治病，莫如用針。巧運神機之妙，功開聖理之深。外取砭針，能蠲邪而輔正；中含水火，善回陽而倒陰。</p>
<p>原夫絡別支殊，經交錯綜。或溝渠溪谷以岐異，或山海丘陵而隙共。斯流派以難暌，在條綱而有統。理繁而昧，縱補瀉有何功，法捷而明，曰迎隨而得用。</p>
<p>且如行步難移，太衝最奇。人中除脊膂之強痛，神門去心性之呆癡。傷風項急，始求於風府；頭暈目眩，要覓於風池。耳閉須聽會而治也，眼痛則合谷以推之。胸結身黃，瀉湧泉而即可；腦昏目赤，瀉攢竹以便宜。若兩肘之拘攣，仗曲池而平掃。牙齒痛呂細堪治，頭項強承漿可保。太白宣導於氣衝，陰陵開通於水道。腹膨而脹，奪內庭以休遲；筋轉而疼，瀉承山而在早。</p>
<p>大抵腳腕痛，崑崙解圍；股膝疼，陰市能醫。癇發顛狂兮，憑後谿而療理；瘧生寒熱兮，仗間使以扶持。期門罷胸滿血膨而可已，勞宮退胃翻心痛以何疑。</p>
<p>嵇夫大敦，去七疝之偏墜，王公謂此，三里去五勞之羸瘦，華佗言斯。固知腕骨祛黃。然谷瀉腎，行間治膝腫目疾，尺澤去肘疼筋緊。目昏不見，二間宜取，鼻塞無聞，迎香可引。肩井除兩臂之難任，攢竹療頭疼之不忍。咳嗽寒痰，列缺堪治；眵昏冷淚，臨泣尤准。髖骨並腿痛以祛殘，腎俞腰痛而瀉泄。以見越人治屍厥於維會，隨手而蘇；文伯能瀉死胎於陰交，應針而殞。</p>
<p>聖人於是察麻與痛，分實與虛。實則自外而入也，虛則自內而出之。是故濟母而裨其不足，奪子而平其有餘。觀二十七之經絡，一一明辨；據四百四之病證，件件皆除。故得夭枉都無，躋斯民於壽域。機微已判，彰往古之玄盡。</p>
<p>抑又聞心胸病，求掌後之大陵；肩背疼，責肘前之三里。冷痹腎余，取定陽陰之上。連臍腹疼，瀉足少陰之水。脊間心後者，針中渚而立痊；脅下肋邊者，刺陽陵而即止。頭強痛，擬後谿以安然；腰背疼，在委中而已矣。夫用針之士，於此理苟明者焉。收祛邪之功，而在乎捻指。</p>

<h2>靈光賦</h2>
<p>黃帝岐伯針灸訣，依他經里分明說。三陰三陽十二經，更有兩經分八脈。靈光典注極幽深，偏正頭疼瀉列缺。睛明治眼胬肉扳，耳聾氣痞聽會間。兩鼻螉衄針禾窌，鼻窒不聞迎香間。治氣上壅足三里，天突宛中治喘痰。心痛手顫針少海，少澤應除心下寒。兩足拘攣覓陰市，五般腰痛委中安。脾俞不動瀉丘墟，復溜治腫如神醫。犢鼻治療風邪疼，住喘腳痛崑崙愈。後跟痛在僕參求，承山筋轉並九痔。足掌下去尋湧泉，此法千金莫妄傳。此穴多治婦人疾，男蠱女孕兩病痊。百會鳩尾治痢疾，大小腸俞大小便。氣海血海療五淋，中脘下脘治腹堅。傷寒過經期門應，氣刺兩乳求太淵。大敦二穴主偏墜，水溝間使治邪顛。吐而定喘補尺澤，地倉能止口流涎。勞宮醫得身勞倦，水腫水分灸即安。五指不伸中渚取，頰車可針牙齒愈。陰蹺陽蹺兩踝邊、腳氣四穴先尋取。陰陽陵泉亦主之，陰蹺陽蹺與三里，諸穴一般治腳氣，在腰玄機宜正取。膏肓豈止治百病，灸得玄切病須愈。針灸一穴數病除，學者尤宜加仔細。悟得明師流注法，頭目有病針四肢。針有補瀉明呼吸，穴應五行順四時。悟得人身終造化，此歌依舊是筌諦。</p>

<h2>席弘賦</h2>
<p>凡欲行針須審穴，要明補瀉迎隨訣。胸背左右不相同，呼吸陰陽男女別。氣刺兩乳求太淵，未應之時瀉列缺。列缺頭疼及偏正，重瀉太淵無不應。耳聾氣痞聽會針，迎香穴瀉功如神。誰知天突治喉風，虛喘須尋三里中。手連肩脊痛難忍，合谷針時要太衝。曲池兩手不如意，合谷下針宜子細。心疼手顫少海間，若要除根覓陰市。但患傷寒兩耳聾，金門聽會疾如風。五般肘痛尋尺澤，太淵針後卻收功。手足上下針三里，食癖氣塊憑此取。鳩尾能治五般癇，若下湧泉人不死。胃中有積刺璇璣，三里功多人不知。陰陵泉治心胸滿，針到承山飲食思。大杼若連長強尋，氣滯腰疼不能立。橫骨大都宜急救。氣海專能治五淋，更針三里隨呼吸。期門穴主傷寒患，六日過經猶未汗。但向乳根二肋間，又治婦人生產難。耳內蟬鳴腰欲折，膝下明存三里穴。若能補瀉五會間，且莫逢人容易說。睛明治眼未效時，合谷光明安可缺。人中治癇功最高，十三鬼穴不須饒。水腫水分兼氣海，皮肉隨針氣自消。冷嗽先宜補合谷，卻須針瀉三陰交。牙齒腫痛並咽痹，二間陽谿疾怎逃。更有三間腎俞妙，善除肩背消風勞。若針肩井須三里不刺之時氣未調。最是陽陵泉一穴，膝間疼痛用針燒。委中腰痛腳攣急，取得其經血自調。腳疼膝腫針三里，懸鐘二陵三陰交。更向太衝須引氣，指頭麻木自輕飄。轉筋目眩針魚腹，承山崑崙立便消。肚疼須是公孫妙，內關相應必然瘳。冷風冷痹疾難愈，環跳腰間針與燒。風府風池尋得到，傷寒百病一時消。陽明二日尋風府，嘔吐還須上脘療。婦人心痛心俞穴，男子痃疼三里高。小便不禁關元好，大便閉澀大敦燒。髖骨腿疼三里瀉，復溜氣滯便離腰。從來風府最難針，卻用功夫度淺深。倘若膀胱氣未散，更宜三里穴中尋。若是七疝小腸痛，照海陰交曲泉針。又是應時求氣海，關元同瀉效如神。小腸氣撮痛連臍，速瀉陰交莫得遲。良久湧泉針取氣，此中玄妙少人知。小兒脫肛患多時，先灸百會次鳩尾。久患傷寒肩背痛，但針中渚得其宜。肩上痛連臍不休，手中三里便須求。下針麻重即須瀉，得氣之時不用留。腰連胯痛急必大，便於三里攻其隘，下針一瀉三補之，氣上攻噎只管在，噎不住時氣海灸，定瀉一時立便瘥。補自卯南轉針高，瀉從卯北莫辭勞。逼針瀉氣便須吸，若補隨呼氣自調。左右捻針尋子午，抽針瀉氣自迢迢。用針補瀉分明說，更用搜窮本與標。咽喉最急先百會，太衝照海及陰交。學者潛心宜熟讀，席弘治病最名高。</p>

<h1>卷之二</h1>

<h2>標幽賦</h2>
<p>拯救之法，妙用者針。</p>
<p>夫今人愈疾，豈離於醫治。劫病之功，莫妙於針刺。故經云：拘於鬼神者，不可與言至德；惡於針石者，不可與言至巧。正此之謂。</p>
<p>察歲時於天道。</p>
<p>夫人身十二經，三百六十節，以應一歲十二月三百六十日。歲時者，春暖、夏熱、秋涼、冬寒、此四時之正氣。苟或春應暖而反寒，夏應熱而反涼，秋應涼而反熱，冬應寒而反暖。是故冬傷於寒，春必溫病；春傷於風，夏必飧泄；夏傷於暑，秋必痎瘧；秋傷於濕，上逆而咳。岐伯曰：凡刺之法，必候日月星辰，四時八正之氣，氣定乃刺焉。是故天溫月明，則人血淖液而衛氣浮，故血易瀉，氣易行；天寒日陰，則人血凝滯而衛氣沉。月始生，則氣血始精，衛氣始行；月廓滿，則氣血實，肌肉生；月廓空，則肌肉減，經絡虛，衛氣去，形獨居。是以因天時而調血氣也。天寒無刺，天溫無疑；月生無瀉，月滿無補，月廓空無治，是謂得天時而調之。若日月生而瀉，是謂臟虛；月滿而補，血氣揚溢，絡有留血，名曰重實。月廓空而治，是謂亂經。陰陽相錯，真邪不別，沉以留止，外虛內亂，淫邪乃起。又曰：天有五運，金水木火土也；地有六氣，風寒暑濕燥熱也。學者必察斯焉。</p>
<p>定形氣於予心。</p>
<p>經云：凡用針者，必先度其形之肥瘦，以調其氣之虛實。實則瀉之，虛則補之。必先去其血脈，而後調之。無問其病，而平調理，期細察形氣，得於心矣。形盛脈細，少氣不足以息者，危。形瘦脈大胸中多氣者，死。形氣相得者，生，不調者病，相失者死。是故色脈不順而莫針，戒之戒之。</p>
<p>春夏瘦而刺淺，秋冬肥而刺深。</p>
<p>經云：病有沉浮，刺有淺深，各至其理，無過其道。過之則內傷，不及則外壅，外壅則邪從之。淺深不得，反為大賊。內傷五臟，後生大病。故曰：春病在毫毛腠理，夏病在皮膚。故春夏之人，陽氣輕浮，肌肉瘦薄，血氣未盛，宜刺之淺。秋病在肌肉血脈，冬病在筋骨。秋冬則陽氣收藏，肌肉肥厚，血氣充滿，刺之宜深。又云：春刺十二井，夏刺十二滎，季夏刺十二俞，秋刺十二經，冬刺十二合，以配木火土金水。理見子午流注。</p>
<p>不窮經絡陰陽，須逢禁刺。</p>
<p>經有十二：手太陰肺，少陰心，厥陰心包絡，太陽小腸，少陽三焦，陽明大腸；足太陰脾，少陰腎，厥陰肝，太陽膀胱，少陽膽，陽明胃也。絡有十五：肺絡列缺，心絡通里，心包絡內關，小腸絡支正，三焦絡外關，大腸絡偏歷，脾絡公孫，腎絡大鐘，肝絡蠡溝，膀胱絡飛揚，膽絡光明，胃絡豐隆，陰蹺絡照海，陽蹺絡申脈脾之大絡大包，督脈絡長強，任脈絡屏翳也。陰陽者，天之陰陽，平旦至日中，天之陽，陽中之陽也。日中至黃昏，天之陽，陽中之陰也。合夜至雞鳴，天之陰，陰中之陰也。</p>
<p>雞鳴至平旦，天之陰，陰中之陽也。故人亦應之。夫言人之陰陽，則外為陽，內為陰。言身之陰陽，則背為陽，腹為陰。手足皆以赤白肉分之。言臟腑之陰陽，則五臟為陰，六腑為陽。是以春夏之病在陽，秋冬之病在陰，皆視其所在，與施針石也。又言背為陽，陽中之陽，心也；陽中之陰，肺也。腹為陰，陰中之陰，腎也；陰中之陽，肝也；陰中之至陰，脾也。此皆陰陽、表裡、內外、雌雄相輸應也，是以應天之陰陽。學者苟不明此經絡、陰陽升降，左右不同之理，如病在陽明，反攻厥陰，病在太陽，反和太陰，遂致賊邪未除，本氣受弊，則有勞無功，禁刺之犯，豈可免哉。</p>
<p>既論臟腑虛實，須向經尋。</p>
<p>臟者，心、肝、脾、肺、腎也。腑者，膽、胃、大、小腸、三焦、膀胱也。虛者癢麻也，實者腫痛也。臟腑居在內，經絡行乎外。虛則補其母，實則瀉其子。如心病虛，則補肝木，實則瀉脾土。又且本經亦有子母，如心之虛，取少海穴以補之，實則取少府穴以瀉之。諸經皆然，並不離乎五行相生之理矣。</p>
<p>原夫起自中焦，水初下漏，太陰為始，至厥陰而方終。穴出雲門，抵期門而最後。</p>
<p>此言平人氣象氣脈，行於十二經，一周為身，除任督之外，計三百九十三穴。一日一夜有百刻，分為十二時，每一時有八刻二分，每一刻計六十分，一時共計五百分。每日寅時，太陰肺脈生自中焦中府穴，出於雲門起，至少商穴止。卯時陽明大腸經，自商陽穴至迎香穴。辰時陽明胃經，自頭維至厲兌。巳時太陰脾經，自隱白至大包。午時少陰心經，自極泉至少衝。未時太陽小腸經，自少澤至聽宮。申時太陽膀胱經，自睛明至至陰。酉時少陰腎經，自湧泉至俞府。戌時心包絡，自天池至中衝。亥時少陽三焦經，自關衝至禾髎。子時少陽膽經，自童子髎至竅陰。丑時厥陰肝經，自大敦至期門而終。</p>
<p>經有十二，別絡走三百餘支。</p>
<p>十二經者，即手足三陰三陽之正經也。別絡者，除十五絡，又有橫絡、絲絡、孫絡，不知其紀，散走於三百餘支之脈也。</p>
<p>正側偃伏，氣血有六百餘候。</p>
<p>此言經絡或正或側，或仰或覆，而氣血循行孔穴，一周於身，榮行脈中，三百餘候，衛行脈外，三百餘候。</p>
<p>手足三陽，手走頭而頭走足；手足三陰，足走腹而胸走手。</p>
<p>此言經絡陰升陽降氣血出入之機，男女無以異矣。</p>
<p>要識迎隨，須明順逆。</p>
<p>迎隨者，要和榮衛之流注，經脈之往來也。明其陰陽之經，逆順而取之。迎者，以針頭朝其源而逆之；隨者，以針頭從其流而順之。是故逆之為瀉、為迎，順之為補、為隨。若能知迎知隨，令氣必和，和氣之方，必通陰陽升降上下，源流往來，逆順之道明矣。</p>
<p>況夫陰陽氣血，多少為最。厥陰太陽，少氣多血；太陰少陰，少血多氣；而又氣多血少者，少陽之分；氣盛血多者，陽明之位。</p>
<p>此言三陰三陽，氣血多少之不同，取之必記為最要也。</p>
<p>先詳多少之宜，次察應至之氣。</p>
<p>言用針者，先明正文氣血之多少，次觀針氣之來應也。</p>
<p>輕滑慢而未來，沉澀緊而已至。</p>
<p>輕浮、滑虛、慢遲也。入針之後，值此三者，乃真氣之未到也。沉重、澀滯、緊實也。入針之後，值此三者，是正氣之已到也。</p>
<p>既至也，量寒熱而留疾。</p>
<p>留，住也；疾，速也。此言正氣既至，必審寒熱而施之。故經云：刺熱須至寒者，必留針。陰氣隆至，乃呼之去徐，其穴不捫。刺寒須至熱者，陽氣隆至，針氣必熱，乃吸之去疾，其穴急捫。</p>
<p>未至也，據虛實而痏氣。</p>
<p>此言針氣之未來也。經云：虛則推內進搓，以補其氣。實則循捫彈怒，以引其氣。</p>
<p>氣之至，如魚吞釣餌之浮沉；氣未至，如閉處幽堂之深邃。</p>
<p>邃氣既至，則針自澀緊，似魚吞釣，或沉或浮而動。其氣不來，針自輕滑，如閉居靜室之中，寂然無所聞也。</p>
<p>氣至速而效速，氣遲至而不治。</p>
<p>言下針若得氣來速，則病易痊，而效亦速也。氣若來遲則病難愈，而有不治之憂。故賦云：氣速效速，氣遲效遲，候之不至，必死無疑矣。</p>
<p>觀夫九針之法，毫針最微，七星可應，眾穴主持。</p>
<p>昔黃帝制九針者，上應天地，下應陰陽四時。九針之名，各不同形。一曰鑱針以應天，長一寸六分，頭尖末銳，去瀉陽氣。二曰員針以應地，長一寸六分，針如卵形，楷磨分肉間，不得傷肌肉，以瀉分氣。三曰鍉針以應人，長三寸半，鋒如黍粟之銳，主脈如陷，以致其氣。四曰鋒針，以應四時，長一寸六分，刃三隅，以發痼疾。五曰鈹針，以應五音，長四寸，廣二分半，末如劍鋒，以取大膿。六曰員利針，以應六律，長一寸六分，尖如氂，且員且銳，中身微大，以取暴氣。七曰毫針，以應七星，長三寸六分，尖如蚊虻喙，靜以徐往，微以久留之而癢，以取痛痹。八曰長針，以應八風，長七寸，鋒利身薄，可以取遠痹。九曰大針，以應九野，長四寸，其鋒微員，尖如挺，以瀉機關之水。九針畢矣。此言九針之妙，毫針最精，能應七星，又為三百六十穴之備也。</p>
<p>本形金也，有蠲邪扶正之道。</p>
<p>本形，言針也，針本出於金。古人以砭石，今人以針代之。蠲，除也。邪氣盛，針能除之。扶，輔也。正氣衰，針能輔也。</p>
<p>短長水也，有決凝開滯之機。</p>
<p>此言針有長短，猶水之長短也。人之氣血凝滯而不通，猶水之凝滯而不通也。水之不通，決之使流於湖海。氣血不通，針之使周於經絡，故言針應水也。</p>
<p>定刺象木，或斜或正。</p>
<p>此言木有斜正，而用針亦有或斜或正之不同，刺陽經者，必斜臥其針，無傷其衛；刺陰分者，必正立其針，毋傷其榮。故言針應木也。</p>
<p>口藏比火，進陽補羸。</p>
<p>口藏，以針含於口也。氣之溫，如火之溫也。羸，瘦也。凡欲下針之時，必效仿真人，口溫針暖，使榮衛相接。進己之陽氣，補彼之瘦弱。故言針應火也。</p>
<p>循機捫而可塞以象土。</p>
<p>循者，用手上下循之，使氣血往來也。機捫者，針畢以手捫閉其穴，如用土填塞之義。故言針應土也。</p>
<p>實應五行而可知。</p>
<p>五行者，金水木火土也。此結上文，針能應五行之理可知矣。</p>
<p>然是一寸六分，包含妙理。</p>
<p>言針雖但長一寸六分，能巧運神機之妙，中含水火，回倒陰陽，其理最玄妙也。</p>
<p>或細楨於毫髮，同貫多岐。</p>
<p>楨，針之干也。岐，氣血往來之路也。言針之干雖如毫髮之微小，能貫通諸經血氣之道路也。</p>
<p>可平五臟之寒熱，能調六腑之虛實。</p>
<p>平，治也；調，理也。言針能調治臟腑之疾。有寒則溫之，有熱則清之。虛則補之，實則瀉之。</p>
<p>拘攣閉塞，遣八邪而去矣。</p>
<p>拘攣者，筋脈之拘束也，閉塞者，氣血不通也。八邪者，所以候八風之虛邪也。言疾有攣閉者，必驅散八風之邪也。</p>
<p>寒熱痛痹，開四關而已之。</p>
<p>寒者，身作顫而發寒也。熱者，身作潮而發熱也。痛，疼痛也。痹，麻木也。四關者，五臟有六腑，六腑有十二原，十二原出於四關，太衝　合谷是也。</p>
<p>凡刺者，使本神朝而後入。即刺也，使本神定而氣隨。神不朝而勿刺，神已定而可施。</p>
<p>凡用針者，必使患者精神已朝，而後方可入針。既刺之，必使患者精神才定，而後施針行氣。若氣不朝，其針為輕滑，不知疼痛，如插豆腐者，莫與進之，必死之候。如神氣既至，針自緊澀，可與依法察虛實而施之。</p>
<p>定腳處，取氣血為主意。</p>
<p>言欲下針之時，必取陰陽氣血多少為主，詳見上文。</p>
<p>下手處，認水木是根基。</p>
<p>下手，亦言用針也。水者，母也。木者，子也。是水能生木也。是故濟母裨其不足，奪子平其有餘。此言用針必先認子母相生之義。舉水木而不及土金火者，省文也。</p>
<p>天、地、人三才也。湧泉同璇璣、百會。</p>
<p>百會一穴在頭，以應乎天；璇璣一穴在胸，以應乎人；湧泉二穴在足掌心，以應乎地，是謂三才也。</p>
<p>上、中、下三部也，大包與天樞、地機。</p>
<p>大包二穴在乳後，為上部。天樞二穴在臍傍，為中部。地機二穴在足䯒，為下部。是謂三部也。</p>
<p>陽蹺、陽維並督脈，主肩、背、腰、腿在表之病。</p>
<p>陽蹺脈起於足跟中，循外踝，上入風池。陽維脈維持諸陽之會。如腑會太倉之類。督脈起自下極之腧，並與脊裡上行風府過腦、額、鼻，入齦交也。言此奇經三脈屬陽，主治肩、背、腰、腿在表之疾也。</p>
<p>陰蹺、陰維、任、沖、帶，去心腹脅肋在裡之凝。</p>
<p>陰蹺脈，亦起於足跟，循內踝上行至咽喉，交貫衝脈。陰維脈，維持諸陰之交，如足太陰之脈交出厥陰之前。任脈，起於中極之下，循腹上至咽喉而終。衝脈，起於氣衝，並足少陰之經，夾臍上行，至胸中而散也。帶脈，起於季脅，回身一周，如繫帶也。言此奇經五脈屬陰，能治心腹脅肋在裡之疾也。</p>
<p>二陵、二蹺、二交，似續而交五大。</p>
<p>二陵者，陰陵，陽陵也。二蹺者，陰蹺、陽蹺也。二交者，陰交、陽交也。續，接續也。五大者，五體也。言此六穴，遞相交接於兩手兩足並頭也。</p>
<p>兩間、兩商、兩井，相依而列兩支。</p>
<p>兩間者，二間三間也。兩商者，少商商陽也。兩井者，天井肩井也。言此六穴，相依而分別於手之兩支也。</p>
<p>另見取穴之法，必有分寸，先審自意，次觀肉分。</p>
<p>此言取量穴法，必以男左女右，中指與大指相屈如環，取內側紋兩角為一寸，各隨長短大小取之，此乃同身之寸。先審病者，是何病，屬何經，用何穴，審於我意。次察病者，瘦肥長短，大小肉分，骨節髮際之間，量度以取之。</p>
<p>或伸屈而得之，或平直而安定。</p>
<p>伸屈者，如取環跳之穴，必須伸下足，屈上足以取之，乃得其穴。平直者，或平臥而取之，或正坐而取之，或直立而取之。自然安定，如承漿在唇下宛宛中之類也。</p>
<p>在陽部筋骨之側，陷下為真。在陰分郄膕之間，動脈相應。</p>
<p>陽部者，諸陽之經也。如合谷、三里、陽陵泉等穴，必取俠骨側指陷中為真也。陰分者，諸陰之經也，如箕門、五里、太衝等穴，在屈心之間，必以動脈應指，乃為真穴也。</p>
<p>取五穴用一穴而必端，取三經用一經而可正。</p>
<p>此言取穴之法，必須點取五穴之中而用一穴，則可為端的矣。若用一經，必須取三經而正一經之是非也。</p>
<p>頭部與肩部詳分，督脈與任脈易定。</p>
<p>頭部與肩部，則穴繁多，但醫者以自意詳審大小、肥瘦而分之；督、任二脈、值乎背腹中行，而有分寸則易定也。</p>
<p>明標與本，論刺深刺淺之經。</p>
<p>標本者，非止一端也，有六經之標本，有天地陰陽之標本，有傳病之標本。夫六經之標本者，足太陽之本，在足跟上五寸，標在目也。足少陽之本在竅陰，標在耳也。足陽明之本在厲兌，標在人迎、頰挾、頏顙也。足太陰之本在中封前上四寸，標在背脾俞與舌本也。足少陰之本在內踝上三寸中，標在背腎俞與舌下兩脈也。足厥陰之本在行間上五寸中所，標在背肝俞也。手太陽之本在手外踝後，標在命門之上一寸也。手少陽之本在小指、次指之間上一寸，標在耳後上角下外眥也。手陽明之本，在肘骨中上別陽，標在額下合鉗上也。手太陰之本在寸口之中，標在腋內動脈也。手少陰之本在銳骨之端，標在背心俞也。手厥陰之本在掌後兩筋之間二寸中，標在筋下三寸也。此乃十二之行取也。</p>
<p>經云：病有標本，刺有逆從淺深之理。凡刺之方，必別陰陽，前後相應，逆從得施，標本相移。故曰有其在標而求之於標，有其在本而求之於本，有其在本而求之於標，有其在標而求之於本。故治有取標而得者，有取本而得者，有逆取而得者，有從取而得者。故知逆從正行無間。明知標本者，萬舉萬當；不知標本者，是謂妄行。夫陰陽標本，逆從之道也。小而言大，一而知百病之害。少而多，淺而博，可以言一而知百也。以淺而知深，察近而知遠，標本易言而世人識見無能及也。治反為逆，治得為從。先病而後逆者，先逆而後病者，先病而後生寒者，先熱而後生病者，此五者俱治其本也。先熱而後中滿者，治其標。先病而後泄者，治其本。先泄而後生他病者，治其本，必且調之，乃治其他病。先病而後中滿者，治其標；先中滿而後煩心者，治其本。大小便不利治其標，大小便利，治其本。大小便不利而生病者，治其本。病發而有餘，本而標之，先治其本，後治其標。病發而不足，標而本之，先治其標，後治其本。又云：得病日為本，傳病為標也。淺深者，刺陽經必中榮，須淺而臥針，無傷於衛也。刺陰分中衛，須深而立針，無損於榮也。此謂陰陽標本，淺深之道也。</p>
<p>住痛移疼，取相交相貫之經。</p>
<p>此言用針之法，有住痛移疼之功者，必先以針左行左轉，而得九數，復以右行右轉而得六數，此乃陰陽交貫之道也。經脈亦有交貫，如太陰肺之列缺。交於陽明大腸之路，陽明胃之豐隆別走於太陰脾經，此之類也。</p>
<p>豈不聞臟腑病而求門、海、俞、募之類。</p>
<p>門海者，如章門，氣海之類。俞者，五臟六腑之俞也，俱在背部二行中。募者，臟腑之募。肺募中府，心募巨闕，胃募中脘，肝募期門，膽募日月，脾募章門，腎募京門，大腸募天樞，小腸募關元，但三焦、包絡，膀胱無募矣。此言五臟六腑之有病，必取此門海俞募之穴而刺之，最微妙矣。</p>
<p>經絡滯而求原別交會之道。</p>
<p>原者，十二經之原也。別，陽別也。交，陰交也。會，八會也。夫十二原者，膽原丘墟，肝原太衝，小腸原腕骨，心原神門，胃原衝陽，脾原太白，大腸原合谷，肺原太淵，膀胱原京骨，腎原太谿，三焦原陽池，包絡原大陵。八會者，血會膈俞，氣會膻中，脈會太淵，筋會陽陵泉，骨會大杼。髓會絕骨臟會章門，腑會中脘也。此言經絡血氣凝結不通者，必取此原別交會之穴而刺之。</p>
<p>更窮四根三結，依標本而刺無不痊。</p>
<p>根結者，十二經之根結也。《靈樞經》云：足太陰根於隱白，結於太倉也。足少陰根於湧泉，結於廉泉也。足厥陰根於大敦，結於玉堂也。足太陽根於至陰，結於目也。足陽明根於厲兌，結於鉗耳也。少陽根於竅陰，結於耳也。手太陽根於少澤，結於天窗、支正也。手少陽根於關衝，結於天牖、外關也。手陽明根於商陽，結於扶突、偏歷也。手三陰之經未載，不敢強注。又云四根者，耳根、鼻根、乳根、腳根也。三結者，胸結、腹結、便結也。此言能究根結之理，依上文標本之法刺之，則疾無不愈也。</p>
<p>但用八法五門，分主客而刺無不效。</p>
<p>八法者，奇經八脈也。公孫衝脈胃心胸，內關陰維下總同，臨泣膽經連帶脈，陽維目銳外關逢。後谿督脈內眥頸，申脈陽蹺絡亦通，列缺肺任行肺系，陰蹺照海膈喉嚨。五門者，天干配合，分於五也。甲與己合，乙與庚合，丙與辛合，丁與壬合，戊與癸合也。主客者，公孫主內關客也，臨泣主外關客也，後谿主申脈客也，列缺主照海客也。此言用八法，必以五門，推時取穴，先主後客，而無不效也。詳載於後。</p>
<p>八脈始終連八會，本是紀綱。</p>
<p>八脈者，即奇經也，注見上文。八會者氣、血、脈、筋、骨、髓、臟、腑之會也，亦注見前。紀綱者，如綱之有綱也。此言奇經八脈起止，連及八會，本是人身經脈之綱領也。</p>
<p>十二經絡十二原，是一樞要。</p>
<p>十二經、十五絡、十二原穴，俱注見前。此言十二原者，乃十二經絡出入門戶之樞紐也。</p>
<p>一日取六十六穴之法，方見幽微。</p>
<p>六十六穴者，即子午流注，井滎俞原經合也。陽干注腑三十六穴，陰乾注臟三十穴，共成六十六穴，俱載於後子午流注圖中。此言經絡一日一周於身，歷行十二經穴。當此之時酌取流注之中一穴用之，則幽微之理可見矣。</p>
<p>一時取一十二經之原，始知要妙。</p>
<p>十二經原，注見於前。此言一時之中，當審此日是何經所主，當此之時該取本日此經之原穴而刺之，則流注之法玄妙始可知矣。</p>
<p>原夫補瀉之法，非呼吸而在手指。</p>
<p>此言補瀉之法，非但呼吸，而在乎手指之法也。法分十四者，循捫提按，彈捻搓盤，推內動搖，爪切進退出攝者是也。法則如斯，巧拙在人之活法，備詳金針賦內。</p>
<p>速效之功，要交正而識本經。</p>
<p>交正者，如大腸與肺為傳送之府，心與小腸為受盛之官，脾與胃為消化之官，肝與膽為清淨之位，膀胱合腎為津液之官，陰陽相通，表裡相應也。本經者，受病之經。如心之病，必取小腸之穴兼之。余仿此。言能識本經之病，又要認交經正經之理，則針之功必速矣。</p>
<p>交經繆刺，左有病而右畔取。</p>
<p>繆刺者，刺絡脈也。右痛而刺左，左痛而刺右，此乃交經繆刺之理也。</p>
<p>瀉絡遠針，頭有病而腳上針。</p>
<p>三陽之經，從頭下足，故言頭有病，必取足穴而刺之。</p>
<p>巨刺與繆刺各異。</p>
<p>巨刺者，刺經脈也。痛在左而右脈病者，則巨刺之，左痛刺右，右痛刺左，中其經也。繆刺者，刺絡脈也，身形有痛，九候無病，則繆刺之，右痛刺左，左痛刺右，中其絡也。經云：左盛則右病，右盛則左病。亦有移易者，右痛未已而左脈先病。如此者，必巨刺之，中其經，非絡脈也。故絡病，其經與經脈繆處，故曰繆刺。此刺法之相同，但一中經，一中絡之異耳。</p>
<p>微針與妙刺相通。</p>
<p>微針者，刺之巧也；妙刺者，針之妙也。言二者之相通。</p>
<p>觀部分而知經絡之虛實。</p>
<p>言針入肉分，則以天人地三部而進，必察其得氣，則內外虛實而可知矣。又云：察脈之三部，則知何經虛，何經實也。</p>
<p>視沉浮而辨臟腑之寒溫。</p>
<p>言下針之後，看針氣緩急，可決臟腑之寒熱也。</p>
<p>且夫先令針耀，而慮針損；次藏口內，而欲針溫。</p>
<p>言欲下針之時，必先令針光耀，看針莫有損壞，次將針含於口內，令針溫暖，與榮衛相接，無相觸犯也。</p>
<p>目無外視，手如握虎，心無內慕，如待貴人。</p>
<p>此戒用針之士，貴乎專心誠意而自重也。令目無他視，手如握虎，恐有傷也。心無他想，如待貴人，恐有責也。經云：凡刺之道，必觀其部，心無別慕，手如擒虎，猶待貴人，不知日暮，著意留心，不失其所，此之謂也。</p>
<p>左手重而多按，欲令氣散。右手輕而徐入，不痛之因。</p>
<p>言欲下針之時，必先以左手大指爪甲於穴上切之，則令其氣散，以右手持針，輕輕徐入，此乃不痛之因也。</p>
<p>空心恐怯，直立側而多暈。</p>
<p>空心者，未食之前。此言無刺飢人，其氣血未定，則令人恐懼，有怕怯之心，或直立或側臥，必有眩暈之咎也。</p>
<p>背目沉掐，坐臥平而少昏。</p>
<p>此言欲下針之時，必令患人勿視所針之處。以手爪甲重切其穴，或臥或坐，而無昏悶之患也。</p>
<p>推於十干十變，知孔穴之開闔。</p>
<p>十干者，甲、乙、丙、丁、戊、己、庚、辛、壬、癸也。十變者，逐日臨時之變也。備載於《靈龜八法》之中。</p>
<p>故得時為之開，失時為之闔。苟能明此，則知孔穴之得失也。</p>
<p>論其五行、五臟，察日時之旺衰。</p>
<p>五行、五臟俱注見前。此言病於本日時之下，得五行生者旺，受五行克者衰。知心之病，得甲乙之日時者，生旺；遇壬癸之日時者，克衰。余皆仿此。</p>
<p>伏如橫弩，應若發機。</p>
<p>此言用針之捷效，如射之發中也。</p>
<p>陰交、陽別而定血暈，陰蹺、陽維而下胎衣。</p>
<p>陰交穴有二，一在臍下一寸，一在足內踝上三寸，名三陰之交也。此言二穴能定婦人之血暈，又言照海、內關二穴，能下產婦之胎衣也。</p>
<p>痹厥偏枯，迎隨俾經絡接續。</p>
<p>痹厥者，四肢厥冷麻痹也。偏枯者，中風半身不遂偏枯也。言治此證，必須接氣通經，更以迎隨之法，使血脈貫通，經絡接續也。</p>
<p>漏崩帶下，溫補使氣血依歸。</p>
<p>漏崩帶下者，女子之疾也。言有此證，必須溫針待暖以補之，使榮衛調和而歸依也。</p>
<p>靜以久留，停針待之。</p>
<p>此言下針之後，必須靜而久停之。</p>
<p>必准者，取照海治喉中之閉塞；端的處，用大鐘治心內之呆癡。</p>
<p>照海等穴，俱載折量法中，故不重錄。</p>
<p>大抵疼痛實瀉，癢麻虛補。</p>
<p>此言疼痛者熱，宜瀉之以涼；癢麻者冷，宜補之以暖。</p>
<p>體重節痛而俞居，心下痞滿而井主。</p>
<p>俞者，十二經中之俞穴。井者，十二經中之井也。</p>
<p>心脹咽痛，針太衝而必除；脾冷胃疼，瀉公孫而立愈。胸滿腹痛，刺內關；脅痛肋疼，針飛虎。</p>
<p>太衝等穴，俱載後圖。但飛虎穴即章門穴也。又云是支溝穴，以手於虎口一飛，中指盡處是穴也。</p>
<p>筋攣骨痛而補魂門，體熱勞嗽而瀉魄戶。頭風頭痛，刺申脈與金門；眼癢眼痛，瀉光明於地五。瀉陰郄止盜汗，治小兒骨蒸；刺偏歷利小便，醫大人水蠱。中風環跳而宜刺，虛損天樞而可取　地五者，即地五會也。</p>
<p>由是午前卯後，太陰生而疾溫；離左酉南，月死朔而速冷。</p>
<p>此以月生死為期，午前卯後者，辰、巳二時也。當此之時，太陰月之生也，是故月廓空無瀉，宜疾溫之。離左酉南者，未、申二時也。當此之時，太陰月之死也。是故月廓盈無補，宜速冷之。將一月而比一日也。經云：月生一日一痏，二日二痏，至十五日十五痏，十六日十四痏，十七日十三痏，漸退至三十日一痏也。月望巳前謂之生，月望巳後謂之死。午前謂之生，午後謂之死也。</p>
<p>循捫彈弩，留吸母而堅長。</p>
<p>循者，用針之後，以手上下循之，使血氣往來也。捫者，出針之後，以手捫閉其穴，使氣不泄也。彈弩者，以手輕彈而補虛也。留吸母者，虛則補其母，須待熱之至後，留吸而堅長也。</p>
<p>爪下伸提，疾呼子而噓短。</p>
<p>爪下者，切而下針也。伸提者，施針輕浮豆許曰提。疾呼子者，實則瀉其子，務待寒至之後，去之速，而噓且短矣。</p>
<p>動退空歇，迎奪右而瀉涼。</p>
<p>動退者，以針搖動而退也。如氣不行，將針伸提而已。空歇者，撒手而停針也。迎以針逆而迎之，奪即瀉其子也。如心之病，必瀉脾胃之子。此言欲瀉必施此法也。</p>
<p>推內進搓，隨濟左而補暖。</p>
<p>推內進者，用針推內而入也。搓者，猶如搓線之狀，慢慢轉針，勿令太緊也。隨，以針順而隨之。濟則濟其母也，如心之病，必補肝膽之母。此言欲補必用此法也。</p>
<p>慎之，大凡危疾色脈不順而莫針。</p>
<p>慎之者，戒之也。此言有危篤之疾，必觀其形色，而察其脈，若相反者，莫與用針。恐勞而無功，反獲罪也。</p>
<p>寒熱風陰，飢飽醉勞而切忌。</p>
<p>此言無針大寒、大熱、大風、大陰雨、大飢、大飽、大醉、大勞，凡此之類，決不可用針，實大忌也。</p>
<p>望不補而晦不瀉，弦不奪而朔不濟。</p>
<p>望，每月十五日也。晦，每月三十日也。弦、有上弦、下弦。上弦，或初七或初八。下弦，或二十二或二十三也。朔，每月初一日也。凡值此日，不可用針施法也。暴急之疾，豈可拘於此哉？</p>
<p>精其心而窮其法，無灸艾而壞其皮。</p>
<p>此言灸也，勉醫者宜專心究其穴法，無誤於著艾之功，庶免於犯于禁忌，而壞人之皮肉也。</p>
<p>正其理而求其原，勉投針而失其位。</p>
<p>此言針也，勉學者要明其針道之理，察病之原，則用針不失其所也。</p>
<p>避灸處而和四肢，四十有九；禁刺處而除六俞，二十有二。</p>
<p>禁灸之穴四十五，更和四肢之井，共四十九也。禁針之穴二十二，外除六腑之俞也，俱載於前。</p>
<p>抑又聞高皇抱疾未瘥，李氏刺巨闕而復甦，太子暴死為厥，越人針維會而再醒。肩井、曲池，甄權刺臂痛而復射。懸鐘、環跳，華佗刺躄足而立行。秋夫針腰俞而鬼免沉疴，王纂針交俞而妖精立出。取肝俞與命門，使瞽士視秋毫之末。刺少陽與交別，俾聾夫聽夏蚋之聲。</p>
<p>此引先師用針，有此立效之功，以礪學者用心之誠耳。</p>
<p>且夫去聖逾遠，此道漸墜，或不得意而散其學，或愆其能而犯禁忌。愚庸智淺，難契於玄言。至道淵深，得之者有幾，偶述斯言，不敢示諸明達者焉。庶幾乎童蒙之心啟。</p>
<p>此先師嘆聖賢之古遠，針道之漸衰。理法幽深，難造其極，復以謙遜之言以結之。籲，竇太師乃萬世之師，窮道契玄，尚且謙言以示後學。世之徒知一二，而自矜自伐者，豈不愧哉？</p>

<h1>卷之三</h1>

<h2>周身折量法</h2>
<p>夫取穴之法，必有分寸，念鳳幸遇明師，口傳心受，逐部折量。謹按《明堂》、《銅人》、《資生》、《甲乙》諸經，參考訂定孔穴，集成歌括，名曰《周身折量法》也。使學者易於記誦，則孔穴瞭然在目。倘有未具，以俟後之君子更加削正，庶斯道之不朽云。</p>

<h3>先論取周身寸法</h3>
<p>《千金》云：尺寸之法，依古者八寸為尺，八分為寸。仍取本人男左女右手中指上第一節為一寸。又有取手大拇指第一節橫度為一寸。以意消詳，巧拙在人。亦有長短不定者，今考定以男左女右大指與中指相屈如環，取中指中節橫紋上下相去長短為一寸，謂之周身寸法為準則。</p>
<figure>
<img data-orig-src="urn:270:06355.jpg" alt="周身寸屈指量法圖">
</figure>
<p><u>中指屈其中節，以邊兩文之尖相去者，量之是為一寸。</u></p>
<figure>
<img data-orig-src="urn:270:06356.jpg" alt="周身寸伸指量法圖">
</figure>
<p><u>中指自上節下之橫文，量至中節下之中文，相去之間為一寸。</u></p>

<h3>頭部中行一十四穴</h3>
<p>平眉三寸定髮際，大杼三寸亦如是。卻來折作尺二寸，發上五分神庭位，庭上五分名上星，星上一寸囟會真。前頂去囟一寸五，頂上寸半百會所。神聰百會四花求，各取一寸風癇主。後頂會後寸半中，強間頂後過寸五。腦戶去間寸五分，戶後寸半定風府，府下五分啞門中，門下五分發際終，更有明堂一穴差。（諸經俱作上星穴，頭部中行折量法。）</p>

<h3>頭部二行左右一十四穴</h3>
<p>曲差俠庭寸半量，五處仍俠上星傍。處後承光寸半中，寸半通天絡卻在。玉枕橫紋於腦戶，尺寸仍准銅人數。天柱在頂後髮際，大筋外廉陷中是。眉沖二穴兩眉頭，直上入髮際相求。《銅人》經中不曾載，《明堂》經載近曲差。</p>

<h3>頭部三行左右一十二穴</h3>
<p>臨泣二穴當兩目，直入髮際五分屬。目窗泣後量一寸，正營窗後一寸足。承靈營後寸五分，去靈寸半是腦空。風池腦後取少陽，陽經督會已當陽。三穴直上入發一寸，《銅人》不載《明堂》載，風眩鼻塞不可廢也。</p>

<h3>側頭部左右二十六穴</h3>
<p>腦空上廉為頷厭，腦空之中號懸顱。懸釐腦空下廉取，耳上三寸天衝居。率谷耳上一寸半，曲鬢耳上當曲隅，角孫耳廓當中取，開口有空治目齒。竅陰耳上動有空，浮白耳後入髮際，一寸之中審端的，顱囟耳後青絡脈，瘈脈耳本後邊中，雞足青脈上相逢，完骨耳後四分際，耳尖後陷是翳風。</p>

<h3>面部中行六穴</h3>
<p>素髎二穴鼻柱頭，鼻下人中是水溝。兌端開口唇珠上，齦交唇內齒上求。唇下宛宛承漿穴，頷下廉泉到結喉。</p>

<h3>面部二行左右十穴</h3>
<p>眉頭有穴名攢竹，面眥之畔睛明屬。巨髎八分俠鼻傍，孔畔五分迎香錄。更有禾髎俠人中，相去五分左右同。</p>

<h3>面部三行左右十穴</h3>
<p>面部三行十穴通，眉上一寸陽白宮。目下七分取承泣，四白目下一寸同。地倉四分俠口吻，大迎曲頷前陷中。</p>

<h3>面部四行左右十穴</h3>
<p>本神寸半曲差傍，頭維本神寸五量。絲竹空居眉後傍，瞳子目眥五分詳。顴髎面頰下廉取，兌骨端下陷中當。</p>

<h3>側面部左右十四穴</h3>
<p>（更二穴）</p>
<p>上關一名客主人，下關之禁久留針。上關耳前開口取，下關耳下合口尋。前門目後量寸半，聽會耳前陷中看。耳前缺處號耳門，聽宮耳前珠子畔。耳下曲頰名頰車，和窌上前銳發下。</p>

<h3>肩膊部左右二十六穴</h3>
<p>肩膊之穴二十六，缺盆之上肩井當。天髎盆上毖骨際，巨骨肩端上兩行。肩之前廉為臑會，肩髃膊骨陷中揣。肩髎臑上舉臂取，髃後肩貞當骨解。臑腧髀上大骨中，大骨之下名天宗。天宗之前秉風穴，肩中曲髀曲垣中，肩外俞髀上廉折，肩中俞髀下廉通。</p>

<h3>背部中行十二穴</h3>
<p>上有大椎下尾骶，分為二十有一椎。古來自有折量法，同身三寸而取俞。七寸八分分上七，上之七節即是椎。平肩大椎大骨下。第二陶道三身柱，四柱無穴神道五，靈臺第六柱下數。至陽七椎八又缺，筋縮九柱十又歇。脊柱十一十二無，十三椎下號懸樞。十四命門穴十五，陽關十六椎下睹。十七至二十俱無，二十一椎名腰俞。下去更有長強穴，請君逐一細尋之。間中七節長二分，大要十四與平臍。一尺二寸一分四，後有密戶宜審思。</p>

<h3>背部二行左右四十六穴</h3>
<p>中行各開寸五分，第一大杼二風門。肺俞三柱厥陰四，五椎之下是心俞。督俞六椎膈俞七，八柱無俞肝九覓。膽俞下十一脾俞，十二柱下胃俞知。三焦腎俞氣海俞，十三十四十五居。大腸關元俞怎量，十六十七椎兩旁。十八椎下小腸俞，十九椎下取膀胱。中膂內俞柱二十，白環二十一椎量。上髎次髎中與下，一空二空俠腰踝。此為背部之二行，又有會陽陰尾傍。</p>

<h3>背部三行二十八穴</h3>
<p>去脊左右各三寸，第二椎下名附分。魄戶第三柱下取，膏肓四椎下三分。神堂第五噫嘻六，膈關七柱八魂門。陽綱十意舍十一，胃倉十二椎下覓。肓門十三直肋間，志室十四椎下看。胞肓二穴十九取，秩邊二十椎下止。</p>

<h3>側頸部左右十八穴</h3>
<p>曲頰之後名天容，缺盆之上尋天牖。完骨之下發際上，天柱之穴天容後。頸上大筋是天窗，扶突後寸天鼎雙。扶突人迎後寸半，缺盆肩下橫骨當，人迎穴在頸大脈，此穴禁灸令人傷。水突穴在人迎下，氣舍又居天突傍。</p>

<h3>膺部中行七穴</h3>
<p>天突喉下宛宛中，璇璣突下一寸逢。璣下一寸華蓋穴，蓋下寸六分紫宮。玉堂宮下一寸六，兩乳中間是膻中。中庭膻下仍寸六，四穴各寸六分同。</p>

<h3>膺部二行左右十二穴</h3>
<p>璇璣之傍二寸所，巨闕之下尋俞府。腑下寸六分彧中，彧中寸六神藏逢。神下寸六靈墟穴，墟下寸六到神封。封下寸六步廊是，膺部二行穴盡矣。</p>

<h3>膺部三行左右十二穴</h3>
<p>俞府之傍二寸尋，穴名氣戶主胸襟。庫房、屋翳、膺窗共，各去一寸六分真。乳中正當乳之上，乳根乳下六分相。</p>

<h3>膺部四行十二穴</h3>
<p>氣戶兩旁二寸分，巨骨之下尋雲門。云下一寸是中府，周榮穴下六分中。胸鄉天谿並食竇，各下一寸六分同。</p>

<h3>側腋部八穴</h3>
<p>腋下三寸名淵腋，腋前一寸名輒筋。天池在乳後一寸，大包腋下六寸真。</p>

<h3>腹部中行十五穴</h3>
<p>腹部中行尋鳩尾，蔽骨之下五分是。巨闕在尾下一寸，尾下二寸上脘記。尾下三寸中脘名，尾下四寸是建里。尾下五寸下脘中，尾下六寸水分比。神闕臍中氣合真，臍下一寸陰交是。臍下寸半氣海中，臍下二寸石門裡。臍下三寸名關元，臍下四寸中極底。曲骨毛際陷中求，會陰兩陰間是矣。</p>

<h3>腹部二行左右二十二穴</h3>
<p>幽門寸半巨闕邊，下去一寸通谷然。陰都石關及商曲，肓俞中注四滿連。氣穴大赫並橫骨，各下一寸分明言。</p>

<h3>腹部三行左右二十四穴</h3>
<p>幽門兩旁寸半是，名曰不容依法取。下有承滿與梁門，關門太乙滑肉止。以上各下一寸當，天樞二穴俠臍傍。樞下一寸外陵是，陵下二寸名大巨。水道在巨下三寸，道下二寸歸來比。氣衝又在歸來下，鼠鼷之上一寸許。</p>

<h3>腹部四行左右十四穴</h3>
<p>期門在腹肝之募，不容穴旁寸半取。日月門下五分求，腹哀穴下一寸所。大橫哀下三寸半，腹結橫下三分看。府舍在結下三寸，橫下五寸衝門斷。</p>

<h3>側脅部左右十二穴</h3>
<p>章門脾募季肋端，監骨腰中京門看。帶脈脅下一寸八，五樞帶下三寸安。五寸三分章門下，維道有穴真無價。居髎合取八寸三，脅堂二骨門腋下。</p>

<h3>手太陰肺之經左右十八穴</h3>
<p>少商大指端內側，魚際本節後散脈。太淵掌後陷中求，經渠寸口陷中得。列缺側腕上寸半，腕上七寸孔最汗。尺澤肘中動脈中，俠白去肘五寸逢。天府在腋下三寸，以鼻取之焚灸同。</p>

<h3>手陽明大腸之經左右二十八穴</h3>
<p>商陽鹽指內側邊，二間來尋本節前。三間節後陷中取，合谷虎口岐骨間。陽谿上側腕中是，偏歷腕後三寸安。溫留腕後去五寸，池前五寸下廉看。池前四寸上廉中，池前二寸三里逢。曲池曲骨紋頭盡，肘髎大骨外廉近。大脈中央尋五里，肘上三寸行向里。臂臑肘上七寸量，兩筋兩骨陷中取。</p>

<h3>手厥陰心包絡之經左右十六穴</h3>
<p>中指內端是中衝，勞宮橫紋在掌中。大陵掌後兩筋陷，內關掌後二寸同。掌後三寸名間使，郄門去腕五寸所。曲澤肘腕橫紋中，腋下三寸天泉府。</p>

<h3>手少陽三焦之經左右二十四穴</h3>
<p>無名指外端關衝，指間節前液門中。中渚本節後陷比，陽池手表腕上取。外關腕後二寸求，腕後三寸是支溝。會宗二穴在腕後，三寸空中一寸留。腕後四寸三陽絡，四瀆肘前五寸著。天井肘外骨後遷，肘上三寸清冷淵。消濼二穴在肩下，臂外腋斜肘分下。</p>

<h3>手少陰心之經左右十八穴</h3>
<p>小指內廉端少衝，少府掌內直勞宮，神門掌後兌骨際，去掌五分陰郄中。掌後一寸名通里，掌後寸半靈道是。少海肘內橫紋取，青靈肘上三寸許，極泉液下筋間認，動脈入胸詢仔細。</p>

<h3>手太陽小腸之經左右十六穴</h3>
<p>少澤小指外廉端，前谷側本節前看。後谿節後掌紋盡，腕骨外側陷中安。陽谷腕側兌骨下，養老骨上尋外踝。支正腕後五寸在，少海肘端五分外。</p>

<h3>足太陰脾之經左右二十二穴</h3>
<p>大指端內側隱白，本節後陷求大都。太白內側核骨下，節後一寸公孫乎。商丘內踝微前高，踝上三寸三陰交。漏谷踝上六寸是，地機膝下五寸取。膝下內側陰陵泉，血海膝臏上內廉。箕門一穴在魚腹，動脈應手越筋間。</p>

<h3>足厥陰肝之經左右二十二穴</h3>
<p>足大指端名大敦，行間足指外邊逢。太衝本節後二寸，踝前一寸號中封。蠡溝踝上五寸是，中都踝上七寸中。膝關犢鼻下二寸，曲泉曲膝盡橫紋。陰包膝上四寸許，氣衝下三寸五里。陰廉離氣衝二寸，動脈中央下羊矢。</p>

<h3>足陽明胃之經左右三十穴</h3>
<p>厲兌指端是二指，內庭次指外間取。陷谷去庭二寸間，衝陽去庭五寸止。解谿去庭六寸半，豐隆外踝八寸比。下巨虛膝下八寸，條口膝下五寸許。上巨膝下四寸中，膝下三寸是三里。犢鼻穴在膝臏下，梁丘膝上二寸已。陰市膝上三寸求，伏兔膝上六寸取，髀關穴在伏兔後，膝根四穴膝前矣。</p>

<h3>足少陰腎之經左右二十穴</h3>
<p>足掌心中是湧泉，然谷直上內踝前。太谿踝後跟骨上，大鐘足跟後沖遷。水泉谿下一寸覓，照海內踝下微前。此穴即是陰蹺絡，復溜踝上二寸連。交信踝上直二寸，太陰之後少陰前。築賓內踝上腨分，陰谷膝內骨後邊。</p>

<h3>足少陽膽之經左右二十八穴</h3>
<p>第四指端是竅陰，俠谿本節陷中尋。去谿一寸地五會，臨泣去地寸半真。丘墟外踝前陷中，踝上三寸是懸鐘。踝上四寸名陽輔，光明踝上五寸通。外丘陽交同七寸，陽陵膝下一寸逢。陽關之上二寸外，膝上五寸中瀆中。風市垂手中指盡，環跳在硯子骰中。側臥屈上伸下足，取之得法治諸風。</p>

<h3>足太陽膀胱之經左右三十六穴</h3>
<p>小指外側至陰足，本節後陷中通谷。束骨節後陷中求，骨下肉際尋京骨。陽蹺踝下即申脈，金門外踝下取得。僕參隅中跟骨下，崑崙跟後尋骨踝。踝上三寸跗陽當，踝上九寸名飛揚。承山兌腨腸下取，承筋在腨腸中央。合陽委中下一寸，委中在膕紋中張。委陽外廉兩筋內，浮郄在陽一寸上。殷門郄上六寸比，承扶臀下陰沖止。</p>

<h1>卷之四</h1>

<h2>竇文真公八法流注</h2>

<h3>論經脈有奇經八脈</h3>
<p>《難經》云：脈有奇經八脈者，不拘於十二經，何謂也？然，有陽維，有陰維，有陽蹺，有陰蹺，有沖，有任，有督，有帶之脈。凡此八脈，皆不拘於經，故曰奇經八脈也。經有十二，絡有十五。凡二十七氣相隨上下，何獨不拘於經也？然，聖人圖設溝渠，通利水道，以備不然。天雨降下，溝渠溢滿，當此之時，霶霈妄行，聖人不能復圖也。此絡脈滿溢，諸經不能復拘也。既不拘於十二經絡皆從何起何繼，詳見下文。</p>

<h3>奇經八脈周身交會歌</h3>
<p>督脈起自下極腧，並與脊裡上風府，過腦額鼻入齗交，為陽脈海都綱要。任脈起於中極底，上腹循喉承漿里，陰脈之海任所為。衝脈出胞至胸止，從腹會咽絡口唇，女人成經為血室，脈並少陰之腎經，與任督本於會陰，三脈並起而異行。陽蹺起足跟之底，循外踝上入風池。陰蹺內踝循喉嗌，本是陰陽脈別支。諸陰會起陰維脈，發足少陰築賓郄。諸陽會起陽維脈，太陽之郄金門是。帶脈周迴季脅間，會於維道足少陽。所謂奇經之八脈維繫諸經乃順常。</p>

<h3>八脈交會八穴歌</h3>
<p>公孫衝脈胃心胸，內關陰維下總同。臨泣膽經連帶脈，陽維目銳外關逢。後谿督脈內眥頸，申脈陽蹺絡亦通。列缺任脈行肺系，陰蹺照海膈喉嚨。</p>

<h3>八脈配八卦歌</h3>
<p>乾屬公孫艮內關，巽臨震位外關還。離居列缺坤照海，後谿兌坎申脈間。補瀉浮沉分逆順，得時呼吸不為難。祖傳秘訣神針法，萬病如拈立便安。</p>

<h3>八穴相配合歌</h3>
<p>公孫偏與內關合，列缺能消照海疴。臨泣外關分主客，後谿申脈正相合。左針右病知高下，以意通經廣按摩。補瀉迎隨分逆順，五門八法是真科。</p>

<h3>八法逐日乾支歌</h3>
<p>甲己辰戌丑未十，乙庚申酉九為期。丁壬寅卯八成就，戊癸巳午七相依。丙辛亥子亦七數，逐日乾支即得知。</p>

<h3>八法臨時干支歌</h3>
<p>甲己子午九宜用，乙庚丑未八無疑。丙辛寅申七作數，丁壬卯酉六須知。戊癸辰戌各有五，巳亥單加四共齊。陽日除九陰除六，不及零餘穴下推。</p>
<p>按靈龜飛騰圖有二，人莫適從，今取其效驗者錄之耳。</p>
<figure>
<img data-orig-src="urn:270:06357.jpg" alt="靈龜八法之圖">
</figure>
<p>假如甲子日，戊辰時，就數逐日支幹內。甲得十數，子得七數。又算臨時支幹內，戊得五數，辰得五數，共成二十七數。此是陽日，該除二九一十八數，余有九數，離九列缺穴也。</p>
<p>又如乙丑日，壬午時，就算逐日支幹內。乙得九數，醜得十數。又算臨時支幹內，壬得六數，午得九數，共成三十四數。此是陰日，該除五六方三十數，零有四數，是巽四臨泣也。余皆仿此。</p>

<h3>飛騰八法歌</h3>
<p>（與前法不同）</p>
<p>壬甲公孫即是乾，丙居艮上內關然。戊午臨泣生坎水，庚屬外關震相連。辛上後谿裝巽卦，乙癸申脈到坤傳。己土列缺南離上，丁居照海兌金全。</p>
<p>其法只取本時天干為例，假如甲己日戊辰時，即取戊干臨泣穴，己巳時，即列缺；庚午時，即外關。余皆仿此。</p>
<p>（愚謂奇經八脈之法，各有不相同。前靈龜八法，有陽九陰六、十干十變開闔之理，用之得時，無不捷效。後飛騰八法，亦明師所授，故不敢棄，亦載於此，以示後之學者。）</p>

<h3>八法交會八脈</h3>
<figure>
<img data-orig-src="urn:270:06358.jpg" alt="圖">
</figure>
<p>公孫二穴父通　衝脈。</p>
<p>內關二穴母通　陰維脈。（合於心胸胃。）</p>
<p>後谿二穴夫通　督脈。</p>
<p>申脈二穴妻通　陽蹺脈。（合於目內眥、頸項、耳、肩膊、小腸、膀胱）。</p>
<p>臨泣二穴男通　帶脈。</p>
<p>外關二穴女通　陽維脈。（合於目內眥、耳後、頰、頸肩）。</p>
<p>列缺二穴主通　任脈。</p>
<p>照海二穴客通　陰蹺脈。（合於肺系、咽喉、胸膈）。</p>

<h3>八法主治病證</h3>
<p>公孫二穴通衝脈，脾之經，在足大指內側本節後一寸陷中。令病人坐合兩掌相對取之，主治三十一證。</p>
<p>凡治後證，必先取公孫為主，次取各穴應之。</p>
<p>九種心疼，一切冷氣。</p>
<p>大陵二穴　中脘一穴　隱白二穴。</p>
<p>痰膈涎悶，胸中隱痛。</p>
<p>勞宮二穴　膻中一穴　間使二穴。</p>
<p>臍腹脹滿，氣不消化。</p>
<p>天樞二穴　水分一穴　內庭二穴。</p>
<p>脅肋下痛，起止艱難。</p>
<p>支溝二穴　章門二穴　陽陵泉二穴。</p>
<p>泄瀉不止，裡急後重。</p>
<p>下脘一穴　天樞二穴　照海二穴。</p>
<p>胸中刺痛，隱隱不樂。</p>
<p>內關二穴　大陵二穴　彧中二穴。</p>
<p>兩脅脹滿，氣攻疼痛。</p>
<p>陽陵泉二穴　章門二穴　絕骨二穴（一名懸鐘）</p>
<p>中滿不快，翻胃吐食。</p>
<p>中脘一穴　太白二穴　中魁二穴（一名陽谿）</p>
<p>氣膈五噎，飲食不下。</p>
<p>膻中一穴　三里二穴　太白二穴</p>
<p>胃脘停痰，口吐清水。</p>
<p>巨闕一穴　厲兌二穴　中脘一穴</p>
<p>中脘停食，疼刺不已。</p>
<p>解谿二穴　太倉一穴（一名中脘穴）　三里二穴</p>
<p>嘔吐痰涎，眩暈不已。</p>
<p>豐隆二穴　中魁二穴　膻中一穴</p>
<p>心瘧令人心內怔忡。</p>
<p>神門二穴　心俞二穴　百勞一穴（即大椎穴）</p>
<p>脾瘧令人怕寒，腹中痛。</p>
<p>商丘二穴　脾俞二穴　三里二穴</p>
<p>肝瘧令人氣色蒼蒼，惡寒發熱。</p>
<p>中封二穴　肝俞二穴　絕骨二穴</p>
<p>肺瘧令人心寒怕驚。</p>
<p>列缺二穴　肺俞二穴　合谷二穴</p>
<p>腎瘧令人灑熱，腰脊強痛。</p>
<p>大鐘二穴　腎俞二穴　申脈二穴</p>
<p>瘧疾大熱不退。</p>
<p>間使二穴　百勞一穴　絕骨二穴</p>
<p>瘧疾先寒後熱</p>
<p>後谿二穴　曲池二穴　勞宮二穴</p>
<p>瘧疾先熱後寒。</p>
<p>曲池二穴　百勞一穴　絕骨二穴</p>
<p>瘧疾心胸疼痛。</p>
<p>內關二穴　上脘一穴　大陵二穴</p>
<p>瘧疾頭痛眩暈，吐痰不已。</p>
<p>合谷二穴　中脘一穴　列缺二穴</p>
<p>瘧疾骨節痠痛。</p>
<p>魄戶二穴　百勞一穴　然谷二穴</p>
<p>瘧疾口渴不已。</p>
<p>關衝二穴　人中一穴　間使二穴</p>
<p>胃瘧令人善飢而不能食。</p>
<p>厲兌二穴　胃俞二穴　大都二穴</p>
<p>膽瘧令人惡寒怕驚，睡臥不安。</p>
<p>臨泣二穴　膽俞二穴　期門二穴</p>
<p>黃疸四肢俱腫，汗出染衣。</p>
<p>至陽一穴　百勞一穴　腕骨二穴　中脘一穴　三里二穴</p>
<p>黃疸，遍身皮膚及面目小便俱黃。</p>
<p>脾俞二穴　隱白二穴　百勞一穴　至陽一穴　三里二穴　腕骨二穴</p>
<p>榖疸，食畢則頭眩心中拂鬱，遍體發黃。</p>
<p>胃俞二穴　內庭二穴　至陽一穴　三里二穴　腕骨二穴　陰谷二穴</p>
<p>酒疸，身目俱黃，心中俱痛，面發赤斑，小便赤黃。</p>
<p>膽俞二穴　至陽一穴　委中二穴　腕骨二穴</p>
<p>女癆疸，身目俱黃，發熱惡寒，小便不利。</p>
<p>關元一穴　腎俞二穴　然骨二穴　至陽一穴</p>
<p>內關二穴　陰維脈。心包絡之經，在掌後二寸兩筋之間陷中，令患人穩坐仰手取之，主治二十五證。</p>
<p>中滿不快，胃脘傷寒。</p>
<p>中脘一穴　大陵二穴　三里二穴</p>
<p>中焦痞滿，兩脅刺痛。</p>
<p>支溝二穴　章門二穴　膻中一穴</p>
<p>脾胃虛冷，嘔吐不已。</p>
<p>內庭二穴　中脘一穴　氣海一穴　公孫二穴</p>
<p>脾胃氣虛，心腹脹滿。</p>
<p>太白二穴　三里二穴　氣海一穴　水分一穴</p>
<p>脅肋下疼，心脘刺痛。</p>
<p>氣海一穴　行間二穴　陽陵泉二穴</p>
<p>痞塊不散，心中悶痛。</p>
<p>大陵二穴　中脘一穴　三陰交二穴</p>
<p>食癥不散，人漸羸瘦。</p>
<p>腕骨二穴　脾俞二穴　公孫二穴</p>
<p>食積血瘕，腹中隱痛。</p>
<p>胃俞二穴　行間二穴　氣海一穴</p>
<p>五積氣塊，血積血癖。</p>
<p>膈俞二穴　肝俞二穴　大敦二穴　照海二穴</p>
<p>臟腑虛冷，兩脅痛疼。</p>
<p>支溝二穴　建里一穴　章門二穴　陽陵泉二穴</p>
<p>風壅氣滯，心腹刺痛。</p>
<p>風門二穴　膻中一穴　勞宮二穴　三里二穴</p>
<p>大腸虛冷，脫肛不收。</p>
<p>百會一穴　命門一穴　長強一穴　承山二穴</p>
<p>大便艱難，用力脫肛。</p>
<p>照海二穴　百會一穴　支溝二穴</p>
<p>臟毒腫痛，便血不止。</p>
<p>承山二穴　肝俞二穴　膈俞二穴　長強一穴</p>
<p>五種痔疾，攻痛不已。</p>
<p>合陽二穴　長強一穴　承山二穴</p>
<p>五癇等證，口中吐沫。</p>
<p>後谿二穴　神門二穴　心俞二穴　鬼眼四穴</p>
<p>心性呆癡，悲泣不已。</p>
<p>通里二穴　後谿二穴　神門二穴　大鐘二穴</p>
<p>心驚發狂，不識親疏。</p>
<p>少衝二穴　心俞二穴　中脘一穴　十宣十穴</p>
<p>健忘易失，言語不記。</p>
<p>心俞二穴　通里二穴　少衝二穴</p>
<p>心氣虛損，或歌或笑。</p>
<p>靈道二穴　心俞二穴　通里二穴</p>
<p>心中驚悸，言語錯亂。</p>
<p>少海二穴　少府二穴　心俞二穴　後谿二穴</p>
<p>心中虛惕，神思不安。</p>
<p>乳根二穴　通里二穴　膽俞二穴　心俞二穴</p>
<p>心驚中風，不省人事。</p>
<p>中衝二穴　百會一穴　大敦二穴</p>
<p>心臟諸虛，心怔驚悸。</p>
<p>陰郄二穴　心俞二穴　通里二穴</p>
<p>心虛膽寒，四體顫掉。</p>
<p>膽俞二穴　通里二穴　臨泣二穴</p>
<p>臨泣二穴，通帶脈、膽之經，在足小指次指間，去俠谿一寸五分。令患者垂足取之。主治二十四證。</p>
<p>足跗腫痛，久不能消。</p>
<p>行間二穴　申脈二穴</p>
<p>手足麻痹，不知癢痛。</p>
<p>太衝二穴　曲池二穴　大陵二穴　合谷二穴　三里二穴　中渚二穴</p>
<p>兩足顫掉，不能移步。</p>
<p>太衝二穴　崑崙二穴　陽陵泉二穴。</p>
<p>兩手顫掉，不能握物。</p>
<p>曲澤二穴　腕骨二穴　合谷二穴　中渚二穴</p>
<p>足指拘攣，筋緊不開。</p>
<p>丘墟二穴　公孫二穴　陽陵泉二穴</p>
<p>手指拘攣，伸縮疼痛。</p>
<p>尺澤二穴　陽谿二穴　中渚二穴　五處二穴</p>
<p>足底下發熱，名曰濕熱。</p>
<p>湧泉二穴　京骨二穴　合谷二穴</p>
<p>足外踝紅腫，名曰穿踝風。</p>
<p>崑崙二穴　丘墟二穴　照海二穴</p>
<p>足跗發熱，五指節痛。</p>
<p>衝陽二穴　俠谿二穴　足十宣十穴</p>
<p>兩手發熱，五指疼痛。</p>
<p>陽池二穴　液門二穴　合谷二穴</p>
<p>兩膝紅腫疼痛，名曰鶴膝風。</p>
<p>膝關二穴　行間二穴　鶴頂二穴　陽陵泉二穴</p>
<p>手腕起骨痛，名曰繞踝風。</p>
<p>太淵二穴　腕骨二穴　大陵二穴</p>
<p>腰胯疼痛，名曰寒疝。</p>
<p>五樞二穴　委中二穴　三陰交二穴</p>
<p>臂膊痛連肩背。</p>
<p>肩井二穴　曲池二穴　中渚二穴</p>
<p>腿胯疼痛，名曰腿肞風。</p>
<p>環跳二穴　委中二穴　陽陵泉二穴</p>
<p>白虎歷節風疼痛。</p>
<p>肩井二穴　三里二穴　曲池二穴　委中二穴　合谷二穴　行間二穴　天應一穴</p>
<p>遇痛處針，強針出血。</p>
<p>走注風遊走，四肢疼痛。</p>
<p>天應一穴　曲池二穴　三里二穴　委中二穴</p>
<p>浮風，渾身搔癢。</p>
<p>百會一穴　太陽紫脈　百勞一穴　命門一穴　風市二穴　絕骨二穴　水分一穴　氣海一穴　血海二穴　委中二穴　曲池二穴</p>
<p>頭項紅腫強痛。</p>
<p>承漿一穴　風池二穴　肩井二穴　風府一穴</p>
<p>腎虛腰痛，舉動艱難。</p>
<p>腎俞二穴　脊中一穴　委中二穴</p>
<p>閃挫腰痛，起止艱難。</p>
<p>脊中一穴　腰俞一穴　腎俞二穴　委中二穴</p>
<p>虛損濕滯，腰痛，行動無力。</p>
<p>脊中一穴　腰俞一穴　腎俞二穴　委中二穴</p>
<p>諸虛百損，四肢無力。</p>
<p>百勞一穴　心俞二穴　三里二穴　關元一穴　膏肓俞二穴</p>
<p>脅下肝積，氣塊刺痛。</p>
<p>章門二穴　支溝二穴　陽陵泉二穴　中脘一穴　大陵二穴</p>
<p>外關二穴，陽維脈、三焦之經。在手背腕後二寸陷中。令患人穩坐，覆手取之。主治三十六證。</p>
<p>臂膊紅腫，肢節疼痛。</p>
<p>肘髎二穴　肩髃二穴　腕骨二穴。</p>
<p>足內踝骨紅腫痛，名曰繞踝風。</p>
<p>太谿二穴　丘墟二穴　臨泣二穴　崑崙二穴</p>
<p>手指節痛，不能伸屈。</p>
<p>陽谷二穴　五處二穴　腕骨二穴　合谷二穴</p>
<p>足指節痛，不能行步。</p>
<p>內庭二穴　太衝二穴　崑崙二穴</p>
<p>五臟結熱，吐血不已。取五臟俞穴，並血會治之。</p>
<p>心俞二穴　肝俞二穴　脾俞二穴　肺俞二穴　腎俞二穴　膈俞二穴</p>
<p>六腑結熱，血妄行不已。取六腑俞，並血會治之。</p>
<p>膽俞二穴　胃俞二穴　小腸俞二穴　膀胱俞穴　三焦俞穴大腸俞二穴　膈俞二穴</p>
<p>鼻衄不止，名血妄行。</p>
<p>少澤二穴　心俞二穴　膈俞二穴　湧泉二穴</p>
<p>吐血昏暈，不省人事。</p>
<p>肝俞二穴　膈俞二穴　通里二穴　大敦二穴</p>
<p>虛損氣逆，吐血不已。</p>
<p>膏肓二穴　膈俞二穴　丹田一（穴）　肝俞二穴</p>
<p>吐血衄血，陽乘於陰，血熱妄行。</p>
<p>中衝二穴　肝俞二穴　膈俞二穴　三里二穴　三陰交二穴</p>
<p>血寒亦吐　陰乘於陽，名心肺二經嘔血。</p>
<p>少商二穴　心俞二穴　神門二穴　肺俞二穴　膈俞二穴　三陰交二穴</p>
<p>舌強難言，及生白苔。</p>
<p>關衝二穴　中衝二穴　承漿一穴　聚泉一穴</p>
<p>重舌腫脹，熱極難言。</p>
<p>十宣十穴　海泉一穴（在舌理中）　金津一穴（在舌下左邊）　玉液一穴（在舌下右邊）。</p>
<p>口內生瘡，名曰枯曹風。</p>
<p>兌端一穴　支溝二穴　承漿一穴　十宣十穴</p>
<p>舌吐不收，名曰陽強。</p>
<p>湧泉二穴　兌端一穴　少衝二穴　神門二穴</p>
<p>舌縮不能言，名曰陰強。</p>
<p>心俞二穴　膻中一穴　海泉一穴</p>
<p>唇吻裂破，血出干痛。</p>
<p>承漿一穴　少商二穴　關衝二穴</p>
<p>項生瘰癧，繞頸起核，名曰蟠蛇癧。</p>
<p>天井二穴　風池二穴　肘尖二穴　缺盆二穴　十宣十穴</p>
<p>瘰癧延生胸前連腋下者，名曰瓜藤癧。</p>
<p>肩井二穴　膻中一穴　大陵二穴　支溝二穴　陽陵泉二穴</p>
<p>左耳根腫核者，名曰惠袋癧。</p>
<p>翳風二穴　後谿二穴　肘尖二穴</p>
<p>右耳根腫核者，名曰蜂巢癧。</p>
<p>翳風二穴　頰車二穴　後谿二穴　合谷二穴</p>
<p>耳根紅腫痛。</p>
<p>合谷二穴　翳風二穴　頰車二穴</p>
<p>頸項紅腫不消，名曰項疽。</p>
<p>風府一穴　肩井二穴　承漿一穴</p>
<p>目生翳膜，隱澀難開。</p>
<p>睛明二穴　合谷二穴　肝俞二穴　魚尾二穴（在眉外頭）</p>
<p>風沿爛眼　迎風冷淚。</p>
<p>攢竹二穴　絲竹空穴　二間二穴　小骨空穴（在手小指二節尖上）</p>
<p>目風腫痛　胬肉攀睛。</p>
<p>禾窌二穴　睛明二穴　攢竹二穴　肝俞二穴　委中二穴　合谷二穴　肘尖二穴　照海二穴　列缺二穴　十宣十穴</p>
<p>牙齒兩頷腫痛。</p>
<p>人中一穴　合谷二穴　呂細二穴（即太谿穴也）</p>
<p>上片牙痛及牙關緊急不開。</p>
<p>太淵二穴　頰車二穴　合谷二穴　呂細二穴</p>
<p>下片牙疼及頰項紅腫痛。</p>
<p>陽谿二穴　承漿一穴　頰車二穴　太谿二穴</p>
<p>耳聾氣痞疼痛。</p>
<p>聽會二穴　腎俞二穴　三里二穴　翳風二穴</p>
<p>耳內或鳴或癢或痛。</p>
<p>客主人穴　合谷二穴　聽會二穴</p>
<p>雷頭風暈，嘔吐痰涎。</p>
<p>百會一穴　中脘一穴　太淵二穴　風門二穴</p>
<p>腎虛頭痛，頭重不舉。</p>
<p>腎俞二穴　百會一穴　太谿二穴　列缺二穴</p>
<p>陰厥頭暈，及頭目昏沉。</p>
<p>大敦二穴　肝俞二穴　百會一穴</p>
<p>頭頂痛，名曰正頭風。</p>
<p>上星一穴　百會一穴　腦空二穴　湧泉二穴合谷二穴</p>
<p>目暴赤腫及疼痛。</p>
<p>攢竹二穴　合谷二穴　迎香二穴</p>
<p>後谿二穴　通督脈、小腸之經　在手小指本節後，握拳尖上是穴。令疾者穩坐，仰手握拳取之。主治一十四證。</p>
<p>手足攣急，屈伸艱難。</p>
<p>三里二穴　曲池二穴　尺澤二穴　合谷二穴　行間二穴　陽陵泉二穴</p>
<p>手足俱顫，不能行步握物。</p>
<p>陽谿二穴　曲池二穴　腕骨二穴　陽陵泉二穴　絕骨二穴　公孫二穴　太衝二穴</p>
<p>頸項強痛，不能回顧。</p>
<p>承漿一穴　風池二穴　風府一穴</p>
<p>兩腮頰痛紅腫。</p>
<p>大迎二穴　頰車二穴　合谷二穴</p>
<p>咽喉閉塞，水粒不下。</p>
<p>天突一穴　商陽二穴　照海二穴　十宣十穴</p>
<p>雙鵝風，喉閉不通。此乃心肺二經熱。</p>
<p>少商二穴　金津一穴　玉液一穴　十宣十穴</p>
<p>單鵝風，喉中腫痛。肺三焦經熱。</p>
<p>關衝二穴　天突一穴　合谷二穴</p>
<p>偏正頭風及兩頤角痛。</p>
<p>頭臨泣穴　絲竹空穴　太陽紫穴　列缺二穴　合谷二穴</p>
<p>兩眉角痛不已。</p>
<p>攢竹二穴　陽白二穴　印堂一穴（兩眉中間）　合谷二穴　頭維二穴</p>
<p>頭目昏沉，太陽痛。</p>
<p>合谷二穴　太陽紫脈　頭維二穴（在額角發尖處）</p>
<p>頭項拘急，引肩背痛。</p>
<p>承漿一穴　百會一穴　肩井二穴　中渚二穴</p>
<p>醉頭風，嘔吐不止，惡聞人言。</p>
<p>湧泉二穴　列缺二穴　百勞一穴　合谷二穴</p>
<p>眼赤痛腫，風淚下不已。</p>
<p>攢竹二穴　合谷二穴　小骨空穴　臨泣二穴</p>
<p>破傷風，因他事搐發，渾身發熱顛強。</p>
<p>大敦二穴　合谷二穴　行間二穴　十宣十穴　太陽紫脈</p>
<p>申脈二穴　通陽蹺脈，膀胱之經。在足外踝下二寸，微前赤白肉際是穴。令人垂足取之。主治二十四證。</p>
<p>腰背強，不可俯仰。</p>
<p>腰俞一穴　膏肓二穴　委中二穴（決紫脈出血）</p>
<p>肢節煩痛，牽引腰腳疼。</p>
<p>肩髃二穴　曲池二穴　崑崙二穴　陽陵泉二穴</p>
<p>中風不省人事。</p>
<p>中衝二穴　百會一穴　大敦二穴　印堂一穴</p>
<p>中風不語。</p>
<p>少商二穴　前頂一穴　人中一穴　膻中一穴　合谷二穴　啞門一穴</p>
<p>中風半身癱瘓。</p>
<p>手三里穴　腕骨二穴　合谷二穴　絕骨二穴　行間二穴　風市二穴　三陰交二穴</p>
<p>中風偏枯，痛疼無時。</p>
<p>絕骨二穴　太淵二穴　曲池二穴　肩髃二穴　三里二穴　崑崙二穴</p>
<p>中風四肢麻痹不仁。</p>
<p>肘髎二穴　上廉二穴　魚際二穴　風市二穴　膝關二穴　三陰交二穴</p>
<p>中風手足瘙癢，不能握物。</p>
<p>臑會二穴　腕骨二穴　合谷二穴　行間二穴　風市二穴　陽陵泉二穴</p>
<p>中風口眼喎斜，牽連不已。</p>
<p>頰車二穴（針入一分，沿皮肉透地倉穴。喎左瀉右，喎右瀉左，可灸二七壯。）　人中一穴　合谷二穴　太淵二穴　十宣十穴　童子髎二穴</p>
<p>中風角弓反張，眼目盲視。</p>
<p>百會一穴　百勞一穴　合谷二穴　曲池二穴　行間二穴　十宣十穴　陽陵泉二穴</p>
<p>中風口噤不開，言語蹇澀。</p>
<p>地倉二穴（宜針透）　頰車二穴　人中一穴　合谷二穴</p>
<p>且夫中風者，有五不治也。開口閉眼，撒手遺尿，喉中雷鳴，皆惡候也。且中風者，為百病之長，至其變化各有不同焉。或中於臟或中於腑，或痰或氣，或怒或喜。逐其隙而害成也。中於臟者，則令人不省人事，痰涎上壅，喉中雷鳴，四肢癱瘓，不知疼痛，語言蹇澀，故難治也。中於腑者，則令人半身不遂，口眼喎斜，知癢痛，能言語，形色不變，故易治也。治之先審其證而後刺之，其中五臟六腑形證各有名，先須察其源，而名其證，依標本刺之，不無效也。</p>
<p>一、肝中之狀，無汗惡寒，其色青，名曰怒中。</p>
<p>二、心中之狀，多汗怕驚，其色赤，名曰思慮中。</p>
<p>三、脾中之狀，多汗身熱，其色黃，名曰喜中。</p>
<p>四、肺中之狀，多汗惡風，其色白，名曰氣中。</p>
<p>五、腎中之狀，多汗身冷，其色黑，名曰氣勞中。</p>
<p>六、胃中之狀，飲食不下，痰涎上壅，其色淡黃，名曰食後中。</p>
<p>七、膽中之狀，自侵牽連，鼾睡不醒，其色綠，名曰警中。</p>
<p>腰脊項背疼痛。</p>
<p>腎俞二穴　人中一穴　肩井二穴　委中二穴</p>
<p>腰疼頭項強，不得回顧。</p>
<p>承漿一穴　腰俞一穴　腎俞二穴　委中二穴</p>
<p>腰痛，起止艱難。</p>
<p>然谷二穴　膏肓二穴　委中二穴　腎俞二穴</p>
<p>足背生毒　名曰背發。</p>
<p>內庭二穴　俠谿二穴　行間二穴　委中二穴</p>
<p>手背生毒，名曰附筋。</p>
<p>液門二穴　中渚二穴　合谷二穴　外關二穴</p>
<p>手臂背生毒，名曰附骨疽。</p>
<p>天府二穴　曲池二穴　委中二穴　治之無不愈矣。</p>
<p>照海二穴，通陰蹺脈、腎之經，在足內踝下微前，赤白肉際陷中是穴。主治二十九證。</p>
<p>小便淋瀝不通。</p>
<p>陰陵泉穴　三陰交穴　關衝二穴　合谷二穴</p>
<p>小腹冷痛，小便頻數。</p>
<p>氣海一穴　關元一穴　三陰交穴　腎俞二穴</p>
<p>膀胱七疝，賁豚等證。</p>
<p>大敦二穴　蘭門二穴　丹田一穴　三陰交穴　湧泉二穴　章門二穴　大陵二穴</p>
<p>偏墜水腎，腫大如升。</p>
<p>大敦二穴　曲泉二穴　然谷二穴　三陰交穴　歸來二穴　蘭門二穴（在曲骨兩旁各三寸，脈是穴）　膀胱俞穴　腎俞二穴（橫紋可灸七壯）</p>
<p>乳弦疝氣，發時衝心痛。</p>
<p>帶脈二穴　湧泉二穴　太谿二穴　大敦二穴</p>
<p>小便淋血不止，陰器痛。</p>
<p>陰谷二穴　湧泉二穴　三陰交二穴</p>
<p>遺精白濁，小便頻數。</p>
<p>關元一穴　白環俞穴　太谿二穴　三陰交穴</p>
<p>夜夢鬼交，遺精不禁。</p>
<p>中極一穴　膏肓二穴　心俞二穴　然谷二穴　腎俞二穴</p>
<p>婦人難產，子掬母心不能下。</p>
<p>巨闕一穴　合谷二穴　三陰交穴　至陰二穴灸效</p>
<p>女人小便不通。</p>
<p>申脈二穴　陰陵泉穴　三陰交穴　太谿二穴</p>
<p>婦人產後臍腹痛，惡露不已。</p>
<p>水分一穴　關元一穴　膏肓二穴　三陰交穴</p>
<p>婦人脾氣，血蠱、水蠱、氣蠱　石蠱。</p>
<p>膻中一穴　水分一穴　關元一穴　氣海一穴　三里二穴　行間二穴（治血）　公孫二穴（治氣）　內庭二穴　支溝二穴　三陰交穴</p>
<p>女人血分　單腹氣喘。</p>
<p>下脘一穴　膻中一穴　氣海一穴　三里二穴　行間二穴</p>
<p>女人血氣勞倦，五心煩熱，肢體皆痛，頭目昏沉。</p>
<p>百會一穴　膏肓二穴　曲池二穴　合谷二穴　絕骨二穴　腎俞二穴</p>
<p>老人虛損，手足轉筋，不能舉動。</p>
<p>承山二穴　陽陵泉穴　臨泣二穴　太衝二穴　尺澤二穴　合谷二穴</p>
<p>霍亂吐瀉，手足轉筋。</p>
<p>京骨二穴　三里二穴　承山二穴　曲池二穴　腕骨二穴　尺澤二穴　陽陵泉穴</p>
<p>寒濕腳氣，發熱大痛。</p>
<p>太衝二穴　委中二穴　三陰交二穴</p>
<p>腎虛腳氣紅腫，大熱不退。</p>
<p>氣衝二穴　血海二穴　太谿二穴　公孫二穴　委中二穴　三陰交穴</p>
<p>乾腳氣，膝頭並內踝及五指疼痛。</p>
<p>膝關二穴　崑崙二穴　絕骨二穴　委中二穴　（陽陵泉穴　三陰交穴）</p>
<p>渾身脹滿，浮腫生水。</p>
<p>氣海一穴　三里二穴　曲池二穴　合谷二穴　內庭二穴　行間二穴　三陰交穴</p>
<p>單腹蠱脹，氣喘不息。</p>
<p>膻中一穴　氣海一穴　水分一穴　三里二穴　行間二穴　（三陰交穴）</p>
<p>心腹脹大如盆。</p>
<p>中脘一穴　膻中一穴　水分一穴　行間二穴　三陰交穴</p>
<p>四肢面目浮腫，大熱不退。</p>
<p>人中一穴　合谷二穴　三里二穴　臨泣二穴　曲池二穴　三陰交二穴</p>
<p>婦人虛損形瘦，赤白帶下。</p>
<p>百會一穴　腎俞二穴　關元一穴　三陰交二穴</p>
<p>女人子宮久冷，不受胎孕。</p>
<p>中極一穴　三陰交穴　子宮二穴（在中極兩旁各二寸）</p>
<p>女人經水正行，頭暈小腹痛。</p>
<p>陰交一穴　內庭二穴　合谷二穴</p>
<p>室女月水不調，臍腹疼痛。</p>
<p>天樞一穴　氣海一穴　三陰交二穴</p>
<p>室女月水不調，淋瀝不斷，腰腹痛。</p>
<p>腎俞二穴　關元一穴　三陰交二穴</p>
<p>婦人產難，不能分娩。</p>
<p>三陰交穴　合谷二穴　獨陰二穴（即至陰穴灸）</p>
<p>列缺二穴　通任脈　肺之經，在手腕後一寸五分，以兩穴，相來鹽指頭盡處是穴，兩筋間。主治三十三證。</p>
<p>鼻流濁涕臭，名曰鼻淵。</p>
<p>曲差二穴　上星一穴　百會一穴　風門二穴　迎香二穴</p>
<p>鼻生息肉，閉塞不通。</p>
<p>印堂一穴　迎香二穴　上星一穴　風門二穴</p>
<p>傷風面赤，發熱頭痛。</p>
<p>通里二穴　曲池二穴　絕骨二穴　合谷二穴</p>
<p>傷風感寒，咳嗽脹滿。</p>
<p>膻中一穴　風門二穴　合谷二穴　風府一穴</p>
<p>傷風四肢煩熱，頭痛。</p>
<p>經渠二穴　曲池二穴　合谷二穴　委中二穴</p>
<p>腹中腸痛，下利不已。</p>
<p>內庭二穴　天樞二穴　三陰交二穴</p>
<p>赤白痢疾，腹中冷痛。</p>
<p>水道二穴　氣海一穴　外陵二穴　天樞二穴　三里二穴　三陰交二穴</p>
<p>胸前兩乳紅腫痛。</p>
<p>少澤二穴　大陵二穴　膻中一穴</p>
<p>乳癰紅腫痛，小兒吹乳。</p>
<p>中府二穴　膻中一穴　少澤二穴　大敦二穴</p>
<p>腹中寒痛，泄瀉不止。</p>
<p>天樞二穴　中脘一穴　關元一穴　三陰交二穴</p>
<p>婦人血積痛，敗血不止。</p>
<p>肝俞二穴　腎俞二穴　膈俞二穴　三陰交穴</p>
<p>咳嗽寒痰，胸膈閉痛。</p>
<p>肺俞二穴　膻中一穴　三里二穴</p>
<p>久咳不愈，咳唾血痰。</p>
<p>風門二穴　太淵二穴　膻中一穴</p>
<p>哮喘氣促，痰氣壅盛。</p>
<p>豐隆二穴　俞府二穴　膻中一穴　三里二穴</p>
<p>吼喘胸膈急痛。</p>
<p>彧中二穴　天突一穴　肺俞二穴　三里二穴</p>
<p>吼喘氣滿，肺脹不得臥。</p>
<p>俞府二穴　風門二穴　太淵二穴　膻中一穴　中府二穴　三里二穴</p>
<p>鼻塞不知香臭。</p>
<p>迎香二穴　上星一穴　風門二穴</p>
<p>鼻流清涕，腠理不密，清涕不止。</p>
<p>神庭一穴　肺俞二穴　太淵二穴　三里二穴</p>
<p>婦人血瀝，乳汁不通。</p>
<p>少澤二穴　大陵二穴　膻中一穴　關衝二穴</p>
<p>乳頭生瘡，名曰妒乳。</p>
<p>乳根二穴　少澤二穴　肩井二穴　膻中一穴</p>
<p>胸中噎塞痛。</p>
<p>大陵二穴　內關二穴　膻中一穴　三里二穴</p>
<p>五癭等證。</p>
<p>夫項癭之證有五：一曰石癭，如石之硬；二曰氣癭，如綿之軟；三曰血癭，如赤脈細絲；四曰筋癭，乃無骨；五曰肉癭，如袋之狀。此乃五癭之形也。</p>
<p>扶突二穴　天突一穴　天窗二穴　缺盆二穴　俞府二穴　膺俞一穴（喉上）　膻中一穴　合谷二穴　十宣十穴（出血）</p>
<p>口內生瘡，臭穢不可近。</p>
<p>十宣十穴　人中一穴　金津一穴　玉液一穴　承漿一穴　合谷二穴</p>
<p>三焦熱極，舌上生瘡。</p>
<p>關衝二穴　外關二穴　人中一穴　迎香二穴　金津一穴　玉液一穴　地倉二穴</p>
<p>口氣衝人，臭不可近。</p>
<p>少衝二穴　通里二穴　人中一穴　十宣十穴　金津一穴　玉液一穴</p>
<p>冒暑大熱，霍亂吐瀉。</p>
<p>委中二穴　百勞一穴　中脘一穴　曲池二穴　十宣十穴　三里二穴　合谷二穴</p>
<p>中暑自熱，小便不利。</p>
<p>陰谷二穴　百勞一穴　中脘一穴　委中二穴　氣海一穴　陰陵泉穴</p>
<p>小兒急驚風，手足搐搦。</p>
<p>印堂一穴　百會一穴　人中一穴　中衝二穴　大敦二穴　太衝二穴　合谷二穴</p>
<p>小兒慢脾風，目直視，手足搐，口吐沫。</p>
<p>百會一穴　上星一穴　人中一穴　大敦二穴　脾俞二穴</p>
<p>消渴等證。</p>
<p>三消其證不同，消脾、消中、消腎。《素問》云：胃府虛，飲食鬥不能充飢，腎臟渴，飲百杯不能止渴及房勞不稱心意，此為三消也。乃土燥承渴，不能克化，故成此。</p>
<p>人中一穴　公孫二穴　脾俞二穴　中脘一穴　照海二穴　三里二穴（治食不充飢）　太谿二穴（治房不稱心）　關衝二穴</p>
<p>黑砂，腹痛頭疼，發熱惡寒，腰背強痛，不得睡臥。</p>
<p>百勞一穴　天府二穴　委中二穴　十宣十穴</p>
<p>白砂，腹痛吐瀉，四肢厥冷，十指甲黑，不得睡臥。</p>
<p>大陵二穴　百勞一穴　大敦二穴　十宣十穴</p>
<p>黑白砂，腹痛頭疼，發汗口渴，大腸泄瀉，惡寒，四肢厥冷，不得睡臥，名曰絞腸砂，或腸鳴腹響。</p>
<p>委中二穴　膻中一穴　百會一穴　丹田一穴　大敦二穴　竅陰二穴　十宣十穴</p>
<p>以上八脈主治諸證，用之無不捷效，但臨時看證，先取主治之穴，次取隨證各穴而應之。或行針，或著艾，在乎用之者之能以臨時機變，活法施之，不可獨拘於針也。</p>

<h1>卷之五</h1>
<p>此金針賦，乃先師秘傳之要法。得之者，每每私藏而不以示人，必待價之金乃可得也。予今以活人為心，更不珍藏，載於卷中，與同志之士共知。學者慎勿輕視，若能熟讀詳味，久當見之，則用針之法，盡於此矣。</p>

<h2>金針賦序</h2>
<p>大明洪武庚辰仲春，予學針法。初學於洞玄先生，孟仲倪公。明年公沒過維陽，又學於東隱先生、九思彭公。深得二先生髮明，竇太師針道之書、梓岐風谷、飛經走氣補瀉之法，遊江湖間，以之參問他師，皆不過能談其概，及求精微之妙，百無一二。間有知者，亦莫盡知其奧。予於是甚悅於心，則知世所得者鮮矣。固深胸臆，寶而重之。數年間用之而百發百中，無不臻效。永樂己丑，惜予遭誣，徙居於民樂耕鋤之內，故退寓西河，立其堂曰「資深」，其號曰「泉石」。心以遁守自娛，過者皆曰此讀書耕者之所也。凡有疾者求治，不用於針，多用於灸，自是梓岐風谷之法荒廢，而名不聞。非不以濟人之心為心，蓋不欲取譽於時矣。今也，予年向暮，髭鬢皆霜，恐久失傳，拳拳在唸，正統己未春末，養疾之暇，閱其所傳針法之書，繁而無統，於是撮其簡要，不愧疏庸，編集成文，名曰「金針賦」。金乃世之寶也，非富貴不能得之，豈貧賤所能有也。名其金，稱其貴也。貴能劫疾於頃刻之間，故以觀夫發端，而嗟夫結之，則深嘆美其法，而有收效之捷異耳。篇中首論頭病取足，左病取右，男女早晚之氣，手足經絡順逆之理；次論補瀉下針，調氣出針之法；末論治病驅運氣血，通接至微之妙，而又叮嚀勉其學者，務必以盡精誠，則可以起沉疴之疾。言雖直簡，其義詳明，尤其貫穿次第有序，使後之學者易為記誦，其傳不泯。俟他日有竇漢卿復出，而攻之熟，造之深，得於心而應手，顯用光大，必念乎今之刪繁撮簡成文者誰歟。是亦遺言於後也，必學者敬之哉。</p>
<p><u>時正統四年己未歲八月既望</u></p>

<h2>梓岐風谷飛經撮要金針賦</h2>
<p>觀夫針道，捷法最奇。須要明於補瀉，方可起於傾危。先分病之上下，次定穴之高低。頭有病而足取之，左有病而右取之。男子之氣，早在上而晚在下，取之必明其理；女子之氣，早在下而晚在上，用之必識其時。午前為早屬陽，午後為晚屬陰。男女上下，憑腰分之。手足三陽，手走頭而頭走足；手足三陰，足走腹而胸走手。陰升陽降，出入之機。逆之者，為瀉為迎；順之者，為補為隨。春夏刺淺者以瘦，秋冬刺深者以肥。更觀原氣之厚薄，刺分淺深之尤宜。</p>
<p>原夫補瀉之法，妙在呼吸手指。男子者，大指進前左轉，呼之為補，退後右轉，吸之為瀉，提針為熱，插針為寒；女子者，大指退後右轉，吸之為補，進前左轉，呼之為瀉，插針為熱，提針為寒。左與右有異，胸與背不同。午前者如此，午後者反之。是故爪而切之，下針之法；搖而退之，出針之法；動而進之，催針之法；循而攝之，行氣之法。搓則去病，彈則補虛。肚腹盤旋，捫為穴閉。沉重豆許曰按，輕浮豆許曰提。一十四法，針要所備。補者一退三飛，真氣自歸；瀉者一飛三退，邪氣自避。補則補其不足，瀉則瀉其有餘。有餘者為腫為痛，曰實；不足者為癢為麻，曰虛。氣速效速，氣遲效遲。死生富貴，針下皆知。賤者硬而貴者脆，生者澀而死者虛。候之不至，必死無疑。</p>
<p>且夫下針之法，先須爪按，重而切之，次令咳嗽一聲，隨咳下針。凡補者呼氣，初針刺至皮肉，乃曰天才；少停進針，刺至肉內，是曰人才；又停進針，刺之筋骨之間，名曰地才。此為極處，就當補之。再停良久，卻須退針至人之分，待氣沉緊，倒針朝病。進退往來，飛經走氣，盡在其中矣。凡瀉者吸氣，初針至天，少停進針，直至於地，得氣瀉之。再停良久，卻須退針，復至於人，待氣沉緊，倒針朝病，法同前矣。其或暈針者，神氣虛也，以針補之，以袖搗之口鼻而氣回，熱湯與之，略停少頃，依前再施之。</p>
<p>及夫調氣之法，下針至地之後，復人之分。欲氣上行，將針右捻，欲氣下行，將針左捻。欲補先呼後吸，欲瀉先吸後呼。氣不至者，以手循攝，以爪切掐，以針搖動，進捻搓彈，直待氣至。以龍虎升騰之法，按之在前，使氣在後；按之在後，使氣在前，運氣走至疼痛之所，以納氣之法，扶針直插，復向下納，使氣不回。若關節阻澀，氣不過者，以龍虎龜鳳通經接氣。大段之法，驅而運之，仍以循攝爪切，無不應矣。此通仙之妙。</p>
<p>況夫出針之法，病勢既退，針氣微松；病未退者，針氣如根，推之不動，轉之不移，此為邪氣吸拔其針，乃真氣未至，不可出之。出之者，其病即復，再須補瀉，停以待之，直候微松，方可出針豆許，搖而停之。補者吸之去疾，其穴急捫；瀉者呼之去徐，其穴不閉。欲令腠密，然後調氣，故曰下針貴遲，太急傷血；出針貴緩，太急傷氣。以上總要，於斯盡矣。</p>
<p>考夫治病之法有八：一曰燒山火，治頑麻冷痹，先淺後深，用九陽而三進三退，慢提緊按，熱至緊閉，插針除寒有準。二曰透天涼，治肌熱骨蒸，先深後淺，用六陰而三出三入，緊提慢按，徐徐舉針，退熱之可憑。皆細細搓之，去病準繩。三曰陽中之陰，先寒後熱，淺而深，以九六之法，則先補後瀉也。四曰陰中之陽，先熱後寒，深而淺，以六九之方，則先瀉後補也。補者直須熱至，瀉者務待寒侵，猶如搓線，慢慢轉針。蓋法在淺則用淺，法在深則用深，二者不可兼而紊之也。五曰子午搗臼，水蠱膈氣，落穴之後，調氣均勻，針行上下，九入六出，左右轉之，十遭自平。六曰進氣之訣，腰背肘膝痛，渾身走注疼，刺九分，行九補，臥針五七吸，待氣上行。亦可龍虎交戰，左捻九而右捻六，是亦住痛之針。七曰留氣之訣，痃瘕癖癥，針刺七分，用純陽，然後乃直插針，氣來深刺，提針再停。八曰抽添之訣，癱瘓瘡癩，取其要穴，使九陽得氣，提按搜尋，大要運氣周遍。扶針直插，復向下納，回陽倒陰。指下玄微，胸中活法，一有未應，反復再施。</p>
<p>若夫過關過節，催運氣血，以飛經走氣，其法有四：一曰青龍擺尾，如扶舡舵，不進不退，一左一右，慢慢撥動。二曰白虎搖頭，似手搖鈴，退方進圓，兼之左右，搖而振之。三曰蒼龜探穴，如入土之象，一退三進，鑽剔四方。四曰赤鳳迎源，展翅之儀，入針至地，提針至天，候針自搖，復進其元，上下左右，四圍飛旋。病在上吸而退之，病在下呼而進之。</p>
<p>至夫久患偏枯，通經接氣之法已有定息寸數。手足三陽，上九而下十四，過經四寸；手足三陰，上七而下十二，過經五寸。在乎搖動出納，呼吸同法，驅運氣血，頃刻周流，上下通接，可使寒者暖而熱者涼，痛者止而脹者消，若開渠之決水，立時見功，何傾危之不起哉？《難》曰：病有三因，皆從氣血。針分八法，不離陰陽。蓋經絡晝夜之循環，呼吸往來之不息。和則身體康健，否則疾病競生，譬如天下國家地方，山海田園，江河溪谷，值歲時風雨均調，則水道疏利，民安物阜。其或一方一所，風雨不均，遭以旱澇，使水道湧竭不通，災傷遂至。人之氣血，受病三因，亦猶方所之旱澇也。蓋針砭所以通經脈，均氣血，蠲邪扶正，故曰捷法最奇者哉。</p>
<p>嗟夫軒岐古遠，盧扁死亡，此道幽深，非一言而可盡。斯文細密，在久習而能通。豈世上之常辭，庸流之乏術，得之者若科之及第，而悅於心。用之者如射之發中，而進於目。述自先賢，傳之後學，用針之士，有志於斯。果能洞造玄微，而盡其精妙，則世之伏枕之疴，有緣者遇針到病除，隨手而愈。</p>

<h2>論子午流注之法</h2>
<p>夫子午流注者，剛柔相配，陰陽相合，氣血循環，時穴開闔也。何以子午言之？曰：子時一刻，乃一陽之生，至午時一刻，乃一陰之生。故以子午分之，而得乎中也。流者，往也；注者，住也。天干有十，經有十二，甲膽、乙肝、丙小腸、丁心、戊胃、己脾、庚大腸、辛肺、壬膀胱、癸腎，余兩經者，乃三焦、包絡也。三焦乃陽氣之父，包絡乃陰血之母。此二經雖寄於壬癸，亦分派於十干。且每經之中，有井滎俞經合，以配金水木火土。是故陰井木而陽井金，陰滎火而陽滎水，陰俞土而陽俞木，陰經金而陽經火，陰合水而陽合土矣。經中必有返本還原者，乃十二經出入之門戶也。陽經有原，遇俞穴並過之，陰經無原，以俞穴即代之。是以甲出丘墟乙太衝之例。又按《千金》云：六陰經亦有原穴，乙中都、丁通里、己公孫、辛列缺、癸水泉，包絡內關也。故陽日氣先行而血後隨也，陰日血先行而氣後隨也。得時為之開，失時為之闔。陽干注腑，甲丙戊庚壬而重見者，氣納於三焦。陰乾注臟，乙丁己辛癸而重見者，血納包絡。如甲日戌時，以開膽井，至戊寅時，正當胃俞，而又並過膽原，重見甲申時，氣納三焦滎穴，屬水，甲屬木，是以水生木，謂甲合還元化本。又如乙日乙酉時，以開肝井，至己丑時，當脾之俞，並過肝原，重見乙未時，血納包絡滎穴，屬火，乙屬木，是以木生火也。余皆依此。俱以子午相生，陰陽相濟也。陽日無陰時，陰日無陽時。故甲與己合，乙與庚合，丙與辛合，丁與壬合，戊與癸合也。何以甲與己合？曰：中央戊己屬土，畏東方甲乙之木所克，戊屬陽為兄，己屬陰為妹，戊兄遂將己妹嫁與木家，與甲為妻，庶得陰陽和合而不相傷。所以甲與己合，余皆然。子午之法，盡於此矣。</p>

<h3>五虎建元日時歌</h3>
<p>甲己之日丙寅起，乙庚之辰戊寅頭。丙辛便從庚寅起，丁壬壬寅順行求。戊癸甲寅定時候，六十首法助醫流。</p>

<h3>十二經納天干歌</h3>
<p>甲膽乙肝丙小腸，丁心戊胃己脾鄉，庚屬大腸辛屬肺，壬屬膀胱癸腎臟，三焦亦向壬中寄，包絡同歸入癸方。</p>

<h3>十二經納地支歌</h3>
<p>肺寅大卯胃辰宮，脾巳心午小未中，申胱酉腎心包戌，亥三子膽醜肝通。</p>

<h3>十二經之原歌</h3>
<p>甲出丘墟乙太衝，丙居腕骨是原中。丁出神門原內過，戊胃衝陽氣可通。己出太白庚合谷，辛原本出太淵同。壬歸京骨陽池穴，癸出太谿大陵中。</p>

<h3>子午流注十二經井滎俞原經合歌</h3>
<p>手大指內太陰肺，少商為井滎魚際，太淵之穴號俞原，行入經渠尺澤類。</p>
<p>鹽指陽明曰大腸，商陽二間三間詳。合谷陽谿依穴取，曲池為合正相當。</p>
<p>中指厥陰心包絡，中衝掌中勞宮索，大陵為俞本是原，間使從容求曲澤。</p>
<p>無名指外是三焦，關衝尋至液門頭，俞原中渚陽池取，經合支溝天井求。</p>
<p>手小指內少陰心，少衝少府井滎尋，神門俞穴為原穴，靈道仍須少海真。</p>
<p>手小指外屬小腸，少澤流於前谷內，後谿腕骨之俞原，陽谷為經合少海。</p>
<p>足大指內太陰脾，井滎隱白大都推，太白俞原商丘穴，陰陵泉合要須知。</p>
<p>足大指端厥陰肝，大敦為井滎行間，太衝為俞原都是，經在中封合曲泉。</p>
<p>足第二指陽明胃，厲兌內庭須要會，陷谷衝陽經解谿，三里膝下三寸是。</p>
<p>足掌心中少陰腎，湧泉然谷天然定，太谿腎俞又為原，復溜陰谷能醫病。</p>
<p>足第四指少陽經，竅陰為井俠谿滎，俞原臨泣丘墟穴，陽輔陽陵泉認真。</p>
<p>足小指外屬膀胱，至陰通谷井滎當，束骨次尋京骨穴，崑崙經合委中央。</p>

<h3>子午流注逐日按時定穴訣</h3>
<p>甲日戌時膽竅陰，丙子時中前谷滎，戊寅陷谷陽明俞，返本丘墟木在寅，庚辰經注陽谿穴，壬午膀胱委中尋，甲申時納三焦水，滎合天干取液門。</p>
<p>乙日酉時肝大敦，丁亥時滎少府心，己丑太白太衝穴，辛卯經渠是肺經，癸巳腎宮陰谷合，乙未勞宮水穴滎。</p>
<p>丙日申時少澤當，戊戌內庭治脹康，庚子時在三間俞，本原腕骨可祛黃，壬寅經火崑崙上，甲辰陽陵泉合長，丙午時受三焦木，中渚之中子細詳。</p>
<p>丁日未時心少衝，己酉大都脾土逢，辛亥太淵神門穴，癸丑復溜腎水通，乙卯肝經曲泉合，丁巳包絡大陵中。</p>
<p>戊日午時厲兌先，庚申滎穴二間遷，壬戌膀胱尋束骨，衝陽土穴必還原，甲子膽經陽輔是，丙寅小海穴安然，戊辰氣納三焦脈，經穴支溝刺必痊。</p>
<p>己日巳時隱白始，辛未時中魚際取，癸酉太蹊太白原，乙亥中封內踝比，丁丑時合少海心，己卯間使包絡止。</p>
<p>庚日辰時商陽居，壬午膀胱通谷之，甲申臨泣為俞木，合谷金原返本歸，丙戌小腸陽谷火，戊子時居三里宜，庚寅氣納三焦合，天井之中不用疑。</p>
<p>辛日卯時少商本，癸巳然谷何須忖，乙未太衝原太淵，丁酉心經靈道引，己亥脾合陰陵泉，辛丑曲澤包絡准。</p>
<p>壬日寅時起至陰，甲辰膽脈俠谿滎，丙午小腸後谿俞，返求京骨本原尋，三焦寄有陽池穴，返本還原似的親，戊申時註解谿胃，大腸庚戌曲池真，壬子氣納三焦寄，井穴關衝一片金，關衝屬金壬屬水，子母相生恩義深。</p>
<p>癸日亥時井湧泉，乙丑行間穴必然，丁卯俞穴神門是，本尋腎水太谿原，包絡大陵原並過，己巳商丘內踝邊，辛未肺經合尺澤，癸酉中衝包絡連，子午截時安定穴，留傳後學莫忘言。</p>
<p>右子午流注之法，無以考焉。雖《針灸四書》所載，尤且不全。還元返本之理，氣血所納之穴，俱隱而不具，予今將流注按時定穴，編成歌括一十首，使後之學者，易為記誦，臨用之時，不待思忖。且後圖乃先賢所綴，故不敢廢，備載於後庶有所證耳。原圖十二，今分十耳。</p>
<figure>
<img data-orig-src="urn:270:06359.jpg" alt="足少陽膽之經">
</figure>
<figure>
<img data-orig-src="urn:270:06360.jpg" alt="足厥陰肝之經">
</figure>
<figure>
<img data-orig-src="urn:270:06361.jpg" alt="手太陽小腸之經">
</figure>
<figure>
<img data-orig-src="urn:270:06362.jpg" alt="手少陰心之經">
</figure>
<figure>
<img data-orig-src="urn:270:06363.jpg" alt="足陽明胃之經">
</figure>
<figure>
<img data-orig-src="urn:270:06364.jpg" alt="足太陰脾之經">
</figure>
<figure>
<img data-orig-src="urn:270:06365.jpg" alt="手陽明大腸之經">
</figure>
<figure>
<img data-orig-src="urn:270:06366.jpg" alt="手太陰肺之經">
</figure>
<figure>
<img data-orig-src="urn:270:06367.jpg" alt="足太陽膀胱之經">
</figure>
<figure>
<img data-orig-src="urn:270:06368.jpg" alt="足少陰腎之經">
</figure>
<figure>
<img data-orig-src="urn:270:06369.jpg" alt="手太陰肺經流注之圖">
</figure>
<p>少商二穴在手大指端內側，去爪甲如韭葉許。魚際二穴，在手大指本節後，內側散脈中。太淵二穴，在掌後橫紋陷中。經渠二穴，在手掌後寸口脈中。列缺二穴，在手側腕上指相叉，指處是穴。尺澤二穴，在手肘約紋中。</p>
<figure>
<img data-orig-src="urn:270:06370.jpg" alt="手陽明大腸經流注之圖">
</figure>
<p>商陽二穴，在手大指次指內側，去爪甲角如韭葉許。二間二穴，在次指本節前內側陷中。三間二穴，在本節後內廉側陷中。合谷二穴，在虎口岐骨之間陷中。陽谿二穴，在手腕上側陷中。曲池二穴，在肘外輔骨，屈肘曲骨之中。</p>
<figure>
<img data-orig-src="urn:270:06371.jpg" alt="手厥陰心包絡流注之圖">
</figure>
<p>中衝二穴，在手中指內廉之端，去爪甲如韭葉。勞宮二穴，在手掌中心。大陵二穴，在手掌後橫紋中。內關二穴，在手掌後二寸中兩筋間。間使二穴，去內關一寸，在掌後三寸中。曲澤二穴，在手肘內廉陷中曲肘得之。</p>
<figure>
<img data-orig-src="urn:270:06372.jpg" alt="手少陽三焦經流注之圖">
</figure>
<p>關衝二穴，在手無名指端內廉，去爪甲如韭葉許。液門二穴，在小指次指本節前陷中。中渚二穴，在本節後陷中。握拳取之，陽池二穴，在手表腕上陷中。支溝二穴，在手腕後三寸，兩筋骨之間。天井二穴，在肘外大骨後肘上陷中。</p>
<figure>
<img data-orig-src="urn:270:06373.jpg" alt="手少陰心經流注之圖">
</figure>
<p>少衝二穴，在手小指內廉端，去爪甲如韭葉。少府二穴，在手掌內小指本節後陷中，直勞宮。神門二穴，在手掌後兌骨之端。通里二穴，在掌後一寸。靈道二穴，在掌後一寸五分。少海二穴，在肘內廉橫紋頭，曲手取之。</p>
<figure>
<img data-orig-src="urn:270:06374.jpg" alt="手太陽小腸經流注之圖">
</figure>
<p>少澤二穴，在手小指之端外廉去爪甲一分。前谷二穴，在手小指外側本節前陷中。後谿二穴，在外側本節後橫紋尖上陷中。腕骨二穴，在手外側腕前起骨下陷中。陽谷二穴，在手外側骨踝下。小海二穴，在肘內大骨外廉去肘端五分陷中。</p>
<figure>
<img data-orig-src="urn:270:06375.jpg" alt="足太陰脾經流注之圖">
</figure>
<p>隱白二穴，在足大指內側端去爪甲如韭葉。大都二穴，在大指本節後陷中。太白二穴，在大指內側核骨下陷中。公孫二穴，在大指內側，去本節後一寸。商丘二穴，在足內踝微前。陰陵泉二穴，在足膝下內側，輔骨下陷中。</p>
<figure>
<img data-orig-src="urn:270:06376.jpg" alt="足厥陰肝經流注之圖">
</figure>
<p>大敦二穴，在足大指端去爪甲一分。行間二穴，在大指外間動脈應手。太衝二穴，在大指本節後二寸動脈中。中封二穴，在內踝前一寸，仰足取之。中都二穴，在內踝上七寸。曲泉二穴，在膝內輔骨下橫紋盡處。</p>
<figure>
<img data-orig-src="urn:270:06377.jpg" alt="足陽明胃經流注之圖">
</figure>
<p>厲兌二穴，在足大指次指端去爪甲一分。內庭二穴，在足次指外間陷中。陷谷二穴，在足次指本節後陷中去內庭二寸。衝陽二穴，在足跗上去內庭五寸。解谿二穴，在足腕上系草鞋練處陷中。三里二穴，在膝下三寸大筋內宛宛中。</p>
<figure>
<img data-orig-src="urn:270:06378.jpg" alt="足少陰腎經流注之圖">
</figure>
<p>湧泉二穴，在足掌心陷中，屈足卷指取之。然骨二穴，在足內踝前大骨下。太谿二穴，在足內踝後踝上動脈之中。水泉二穴，在太谿下一寸。復溜二穴，在足內踝上二寸。陰谷二穴，在足膝內輔骨後大筋下小筋上。</p>
<figure>
<img data-orig-src="urn:270:06379.jpg" alt="足少陽膽經流注之圖">
</figure>
<p>竅陰二穴，在足第四指端去爪甲一分。俠谿二穴，在足四指外岐骨間本節前。臨泣二穴，在本節後去俠谿一寸五分。丘墟二穴，在足外踝微前陷中。陽輔二穴，在足外踝上四寸輔骨前絕骨端如前三分。陽陵泉二穴，在膝下骨下宛宛中。</p>
<figure>
<img data-orig-src="urn:270:06380.jpg" alt="足太陽膀胱經流注之圖">
</figure>
<p>至陰二穴，在足小指外側去爪甲角一分。通谷二穴，在足小指外側本節前陷中。束骨二穴，在小指本節後陷中。京骨二穴，在指外側大骨下赤白肉際。崑崙二穴、在外踝後跟骨上。委中二穴，在足膝腕內膕內約紋中。</p>

<h1>卷之六</h1>

<h2>點穴論</h2>
<p>《千金》云：人有老少，體有長短，膚有肥瘦，皆須精思斟量，准而折之。又以肌肉文理、節解、縫會、宛陷之中，及以手按之，病者快然，如此仔細安詳，用心者乃能得之耳。又云：或身短而手長，或身長而手短，或胸腹長或胸腹短，或大或小，又不可以一概而論也。凡點穴法，皆要平正四體，無使歪斜，灸時恐穴不正，徒壞好肉耳。若坐點則坐灸，臥點則臥灸，立點則立灸。反此一動，則不得真穴矣。凡灸先陽後陰，先上後下，先少後多，皆宜審之。</p>

<h2>論艾炷大小</h2>
<p>黃帝曰：灸不三分，是謂徒冤，炷務大也，小弱也乃小作之。凡小兒七日以上，周年以還，不過七壯，炷如雀糞大。經云：凡灸欲艾炷根下廣三分，使火氣不能遠達，病未能愈，則是炷欲大，惟頭與四肢欲小耳，但去風邪而已。</p>

<h2>論壯數多少</h2>
<p>《千金》云：凡言壯數者，若丁壯病根深篤，可倍於方數。老少羸弱，可減半。扁鵲灸法，有至五百壯千壯。曹氏灸法，有百壯五十壯，《小品》諸方亦然。惟《明堂本經》多雲：針入六分灸三壯，更無餘論。故後人不準，惟以病之重輕而增損之。凡灸頭頂，上於七壯，積至七七壯之。《銅人》若治風，則灸上星、前頂、百會，皆至二百壯。腹背宜灸五百壯，若鳩尾、巨闕亦不宜灸多，多灸則四肢細而無力。又足三里穴乃云：多至三二百壯。心俞禁灸，若中風則急灸至百壯，皆視其病之輕重而用之，不可泥一說，而又不知其有一說也。下經只云若是禁灸穴，《明堂》亦許灸一壯至三壯，恐未盡也。斯所謂五百壯、千壯，豈可一日而盡，必待三、五、七日，以至三年、五年，以盡其數乃可得也。</p>

<h2>論點艾火</h2>
<p>《下經》云：古來灸病，忌松、柏、枳、橘、榆、棗、桑、竹八木，切宜避之。凡取火，若得火珠曜日，以艾承之，得火為妙。次有火鏡曜日，亦以艾引得火亦良。余用鐵鑯擊䃈石，得火亦可。今人有清油點燈，傳火點艾是也，兼滋潤灸瘡，至愈不疼痛，用蠟燭更佳。</p>

<h2>論避忌</h2>
<p>《千金》云：欲行針灸，必先知本人行年宜忌，尻神及人神所在，不與禁忌相干即可。故男忌除，女忌破；男忌戌，女忌巳。又所謂血支血忌之類，凡醫者不能知此避忌，若逢病人危會，男女氣怯，下手即死，達人智士拘於此。若夫急難之際，卒暴之疾，命在須臾，宜速治之。若泥於禁忌，已倫於鬼神，豈不誤哉。但一日止忌一時，如子午八法，不拘禁忌。若治未形之病，雖擇良日服藥針灸當也，亦宜架天時日惡。午以後不可灸，謂陰氣未至，灸無不著，午前及早，恐人氣虛，有眩暈之咎。急卒亦不可拘。若值大風大雨雷電，宜抽停之，必待晴明又灸可也。</p>

<h2>論治灸瘡</h2>
<p>凡著艾，須要瘡發，所患即瘥。不得瘡發，其疾不愈。《甲乙經》云：灸瘡不發者，用故履底灸令熱熨之，三日而發。今又有用赤皮蔥三、五莖去葉，於微火中煨熟，拘破熱熨瘡上十餘遍，其瘡三日自發。亦有用麻油搽之而發者，亦有用皂角煎湯，候冷頻點之而發者。又恐氣血衰，宜服四物湯滋養者，蓋不可一概而論。灸後務令瘡發而去病也。凡貼瘡，古人春用柳絮，夏用竹膜，秋用蠟葉，冬用兔腹上白細毛，貓腹上毛更佳。今人每用膏藥貼之，日一二易，則瘡易愈。無若一日兩貼一易使瘡膿出多而疾除也。若欲用膏，必須用真麻油入治病之藥，或祛風散氣滋血療損之藥，隨證入之為妙。</p>

<h2>論忌食</h2>
<p>經已灸之後，古人忌豬、魚、熱面，生酒動風冷物。雞肉最毒，而今人灸瘡不發者，用小雞、鰱魚食之而發者，所謂用毒而攻毒。其理亦可行也，但亦宜少用為佳。</p>

<h2>論保養</h2>
<p>凡灸後，切宜避風冷，節飲酒、戒房勞。喜、怒、憂、思、悲、恐七情之事，須要除之。可擇幽靜之居，養之為善，但君子智人，不必喻也。</p>

<h2>擇吉日</h2>
<p>針灸吉日，丁卯庚午，甲戌丙子，丁丑壬午，甲申丙戌，丁亥辛卯，壬辰丙申，戊戌己亥，庚子辛丑，甲辰乙巳，丙午戊申，壬子癸丑，乙卯丙辰，己未壬戌，成開執日，忌辛未扁鵲死日。</p>
<p><u>吉日</u>　月正二三四五六七八九十十一十二</p>
<p>天巫　辰巳午未申酉戌亥子醜寅卯</p>
<p>天醫　醜寅卯辰巳午未申酉戌亥子</p>
<p>要安　寅申卯酉辰戌巳亥午子未醜</p>
<p><u>凶日</u>　正二三四五六七八九十十一十二</p>
<p>白虎　黑道午申戌子寅辰午申戌子寅辰</p>
<p>月厭　戌酉申未午巳辰卯寅醜子亥</p>
<p>月煞　醜戌未辰醜戌未辰醜戌未辰</p>
<p>獨火　巳辰卯寅醜子亥戌酉申未午</p>
<p>死別　戌戌戌醜醜醜辰辰辰未未未</p>
<p>血支　醜寅卯辰巳午未申酉戌亥子</p>
<p>血忌　丑未寅申卯酉辰戌巳亥子午</p>
<p>除日　卯辰巳午未申酉戌亥子醜寅</p>
<p>破日　申酉戌亥子醜寅卯辰巳午未</p>
<p>火隔　午辰寅子戌申午辰寅子戌申</p>
<p>遊禍　忌服藥巳寅亥申巳寅亥申巳寅亥申</p>

<h2>定取四花六穴之穴</h2>
<p>崔氏灸骨蒸癆瘵，若人初得此疾，即便如此法灸之，無不效者。但醫者多不得真穴，以致有誤。今具真格，使學者一見了然無誤，豈非活人之心哉。廷瑞謹識。</p>
<p>先用細繩一條，約三、四尺，以蠟抽之，勿令展縮。以病人腳底貼肉量，男取左足，女取右足，從足大拇指頭齊起，從腳板底，當腳跟中心向後引繩，循腳肚貼肉直上，至膝腕曲叉中大橫紋截斷。次令病人解發，分開兩邊，令見頭縫，自囟門平分至腦後，乃平身正坐，取前所截繩子，一頭從鼻端齊引繩向上，正循頭縫至腦後，貼肉垂下，循脊骨引繩向下，至繩盡處，當脊骨以墨點記。（此墨不是灸穴）。別以稻稈心，令病人合口，將稈心按於口上，兩頭至吻，卻勾起稈心中心，至鼻端根下，如人字樣，齊兩吻截斷，將稈展直，於先在脊中墨記處，取中橫量。勿令高下，於稈心兩頭以墨點之，此是灸穴，名曰患門二穴，初灸七壯，累灸至一百壯妙。初只灸此二穴，次令其人平身正坐，稍縮臂膊，取一繩繞項向前，平結喉骨，乃平大杼骨，俱以點記。向前雙垂下與鳩尾齊，即截斷，灸鳩尾穴，竟卻翻繩向後，以繩原點結喉墨放大杼上，大杼墨放結喉上，脊中雙繩頭齊會處，以墨點記。（此亦不是灸穴）。別取稈心，令其人合口，無得動笑，橫量齊兩吻截斷，還於背上墨記處，摺中橫量兩頭點之，此是灸穴。又將循脊直量，上下點之，此是灸穴，名曰四花穴。初灸七壯，累灸至百壯，迨瘡愈。疾未愈，依前法復灸。故云：累灸至百壯。但當脊骨上兩穴，切宜少灸，凡一次只可灸三五壯，多灸恐人蜷背。凡灸此六穴，亦要灸足三里，以瀉火氣為妙。若婦人纏帛裹足以至短小，所取第一次患門穴難以準確，但取右手肩髃穴，貼肉量至中指為畫亦可。不若只取膏肓穴灸之，其穴備載於後。次灸四花穴亦效。予嘗見人初有此疾，即與依法灸之，無有不效。微恐病根深固，亦依此法灸之，亦有可愈者，況初病乎。具圖於此。</p>
<figure>
<img data-orig-src="urn:270:06381.jpg" alt="崔氏四花穴圖像">
</figure>

<h2>《千金方》論取膏肓俞穴法</h2>
<p>膏肓俞穴，無所不治，主羸瘦虛損，夢中失精，上氣咳逆，狂或失志誤。取穴之法，令人正坐，曲脊，伸兩手以臂著膝前，令正直手大指與膝頭齊，以物支肘，勿令臂得搖動，從胛骨上角摸索至胛骨下頭，其間當有四肋三間，灸中間依胛骨之裡，肋間深處是穴。骨容側指許，摩肋肉之表筋骨空處，按之但覺牽引骨節動。灸兩胛中各一穴，至六百壯，多至千壯，當覺氣下礱上然如若水狀，亦當有所下出，非無停痰宿疾則無所下也。若病人已困不能正坐，當令側臥，換一臂令前求穴灸之也。求穴大法，以右手從左肩上住指頭表所不及者是也。左手亦然。乃以前法灸之。若不能久正坐，常伸兩臂，亦可伏衣袱上伸兩臂。令人挽兩胛骨，使相離，不爾胛骨遮穴不可得也。所伏衣袱當令大小常定，不然則失其穴。此灸訖後，令人陽氣康盛，當消息以自補養，身體平復。其穴在五椎之上四椎之下，橫去六寸許，相准望取之。論曰：昔秦緩不救晉侯之疾，以在膏之下肓之上，針藥所不及，即此穴也。孫真人笑其拙，不能求得此穴，所以宿疴難遣。若能用心方便，必得灸之，無疾不愈矣。具而明白備載於此，學者仔細詳審，依法取之，無不得其真穴也。一取穴法，醫者先自坐，以目平正，卻於壁上以墨作一大圈，卻令患者坐，常使其目視圈，無得斜視別處，此亦良法也。令灸人正坐，曲脊伸臂依法，醫士以指揣頸後脊骨，一節為一寸，自一柱至五柱，逐一墨點記，令上下端直分明。且人有頸骨者，亦有無者，當以平肩為一柱是也。以四柱至五柱，用稈心比量兩柱上下遠近，摺為三分，亦以墨界脊上柱間，取第四柱下二分微多，五柱上一分微少，用筆點定，橫過相去六寸之中，左右以為兩穴，交下遠近之准。大要兩柱上下，合同身寸一寸三分七纏微縮，有無大段長短不同，以參考《甲乙經》。自大杼至尾骶，作二十一柱，量三尺之數分之。若柱節分明，縱之尺寸不同，穴以柱數為定。若人肥大背厚，骨節難尋，當以平臍十四柱命門穴為準。上自大杼，下至命門，摺為一十四柱，每柱一寸三分，合其穴無不真矣。</p>
<figure>
<img data-orig-src="urn:270:06382.jpg" alt="取膏肓穴法圖像一">
<figcaption>（此即釣股圖法）</figcaption>
</figure>
<figure>
<img data-orig-src="urn:270:06383.jpg" alt="取膏肓穴法圖像二">
</figure>

<h2>取腎俞穴法</h2>
<p>令患人平身垂手，正立於平正木石之上，目無斜視，身無偏屈，去上衣服，用勁直杖子，從地比至臍中央，截斷，卻回杖子於背上，當脊骨中杖盡處，即是十四柱命門穴也。以墨記，卻用稈心取同身三寸，摺作一寸五分，兩頭是腎俞穴也。</p>
<figure>
<img data-orig-src="urn:270:06384.jpg" alt="取腎俞穴之圖">
</figure>
<figure>
<img data-orig-src="urn:270:06385.jpg" alt="騎竹馬灸法之圖">
</figure>

<h2>取騎竹馬灸穴法</h2>
<p>其法從男左女右，臂腕中橫紋起，用薄篾一條，量至中指齊肉盡處，不量爪甲，截斷。次用薄篾，取前同身寸一寸則可，卻令病人脫去上下衣服，以大竹槓一條，跨定，兩人隨徐扛起。足要離地五寸許，兩旁更以兩人扶定，毋令搖不穩。卻以前量長篾，點定竹槓豎起，從尾骶骨，貼脊量至篾盡處，以筆點記，此不是灸穴。卻用後取同身寸篾，取兩寸平摺，自中穴橫量，兩旁各一寸，方是灸穴。可灸三七壯。此二穴專治癰疽惡瘡，發背癤𤸚，瘰癧諸風，灸之極效如神。</p>

<h2>灸心氣穴法</h2>
<figure>
<img data-orig-src="urn:270:06386.jpg" alt="灸心氣法">
</figure>
<p>先將稈心一條長者，比男左女右手掌內，大拇指根橫紋量至爪甲內止，以墨點記。次比鹽指、中指、四指、小指，五指皆比如前法。再加同身寸一寸點定，別用稈心一條，與先所量稈心般齊，至再加一寸墨上，共結一磊，卻令病人正坐，脫去上衣，以稈心分開，加於頸上，以指按定，磊於天突骨上，兩邊垂向背後，以兩條稈心取般齊，垂下脊中盡處是穴，可灸五壯、七壯，神效。</p>

<h2>論一穴有二名</h2>
<p>後頂一名交沖　強間一名大羽　腦戶一名合顱　風府一名舌本　腦空一名顳顬　顱囟一名顱息　瘈脈一名資脈　素髎一名面正　水溝一名人中　承漿一名懸漿　廉泉一名結本　睛明一名淚孔　巨髎一名巨窌　絲竹空　一名目髎　頰車一名機關　肩井一名膊井　臑會一名臑髎大杼一名百勞　命門一名屬累　風門一名熱府　督俞一名高蓋　中膂內俞一名脊內俞會陽一名利機　天窗一名窗籠</p>
<p>天鼎一名天頂　扶突一名水穴　缺盆一名天蓋　人迎一名五會　天突一名天瞿　玉堂一名玉英　腧府一名輸府　中府一名府中俞　天池一名天會　中脘一名太倉　水分一名分水神闕一名氣舍　會陰一名屏翳　四滿一名髓府　橫骨一名曲骨端　氣衝一名氣街　腹結一名腸窟　衝門一名慈宮　太淵一名太泉　商陽一名絕陽　二門一名間谷　三間一名少谷　合谷一名虎口　陽谿一名中魁　三里一名手三里　少衝一名經始　神門一名兌沖　少海一名曲節少澤一名小吉　天泉一名天溫　陽池一名別陽　支溝一名飛虎　中都一名中郄　中封一名懸泉　蠡溝一名交儀　陰包一名陰胞　懸鐘一名絕骨　漏谷一名太陰絡　地機一名脾舍　血海一名百蟲窠　下廉一名下巨虛　上廉一名上巨虛　陰市一名陰鼎　伏兔一名外勾　湧泉一名地衝太谿一名呂細　然谷一名龍淵　照海一名陰蹺　申脈一名陽蹺　金門一名關梁　僕參一名安邪　崑崙一名下崑崙　付陽一名跗陽　飛揚一名厥陽　環跳一名臏骨　然谷一名然骨</p>

<h2>論一穴有三名</h2>
<p>絡卻一名強陽　一名腦蓋　禾髎一名長髎　一名禾窌　童子髎一名太陽　一名前關　上關一名容主　一名客主　聽會一名聽河　一名後關　前關一名童子髎　一名太陽　肩髃一名中肩井　一名扁骨　脊中一名神宗　一名脊腧　膻中一名亶中　一名元兒　鳩尾一名尾翳　一名𩩲骬　上脘一名上管　一名胃脘　關元一名丹田　一名大中極　氣海一名脖胦　一名下肓　中極一名玉泉　一名氣原　氣穴一名胞門　一名子戶　大赫一名陰維　一名陰關　天樞一名長谿　一名榖門　日月一名神光　一名膽募　京門一名氣俞　一名氣府　溫溜一名蛇頭　一名逆注　勞宮一名五里　一名掌中　陽交一名別陽　一名足窌　陽關一名陽陵一名關陵　承筋一名腨腸　一名直腸　復溜一名昌陽　一名伏臼</p>

<h2>論一穴有四名</h2>
<p>百會一名三陽　一名五會　一名天滿　啞門一名喑門　一名舌橫　一名舌厭　攢竹　一名始光一名光明　一名員柱　章門一名長平　一名季肋　一名脅髎　承山一名魚腹　一名肉柱　一名腸山　承扶一名肉郄　一名陰關　一名皮部</p>

<h2>論一穴有五名</h2>
<p>石門一名利機　一名丹田　一名精露　一名命門</p>

<h2>論一穴有六名</h2>
<p>腰俞一名背鮮　一名腰戶　一名髓孔　一名腰柱　一名髓俞</p>

<h2>論一名有兩穴</h2>
<p>頭臨泣足臨泣　腹通谷足通谷　手三里足三里　頭竅陰足竅陰　背陽關足陽關手五里足五里</p>
