<header data-type="book">
<h1>霍亂燃犀說</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>許志</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1888">公元1888年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第七冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521057">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>自序</h1>
<p>於戲，霍亂而死者，可勝痛哉。夫霍亂，危急證也。霍亂而轉筋，則證之尤危尤急者也。人一病之，生者少而死者多。大抵皆不死於霍亂，而死於治霍亂之醫藥者耳。僻處窮鄉，赤貧如洗，偶病霍亂，猶有活者。以無醫藥之害，或僅藉外治飲水，反不致十死八九矣。夫醫藥之害，豈易言哉。今之為醫者，大半食古不化，指鹿為馬，好為大言以欺人。開口《傷寒論》，動手四逆湯，鹵莽減裂，似是而非。又有讀書不成，商買無資，從遊於庸惡陋劣之門，以訛傳訛，自以為是。不識人命攸關，峻藥妄投，輕病轉重，重者轉為不治。而一遇霍亂，不問是寒是熱，無不以丁附薑桂香燥溫熱之藥，服之而不死者。尠矣，病家亦以為如此溫熱，而猶不能生，直霍亂者之命數耳。特未知醫藥之害，甚於霍亂。遂致孤人之子，寡人之妻，而人家並不咎諸醫藥。而為醫者，能不動心乎？且是證也，每於夏秋之間，甚則流人似疫，合境皆然，而莫甚於去年，往往有減門之染。謂非暑濕熱三氣之所釀，兼之醫藥之害，抑何至於斯析乎。余目擊病霍亂，而醫者之丁附薑桂，服之無不含冤而斃，每一念及，輒為心痛。茲姑縷述前人名論如干，則是寒是熱，朗若列眉，俾家置一編，庶幾人人盡知霍亂之原由，胸中早已澈底澄清，則斷不聽醫之模糊影響之談，而被丁附薑桂之害也。因名之曰《霍亂燃犀說》。斯說之是耶，非耶，天必知之，非也，天將奪我之算，而是也，天必假我數年矣。請鑑此說者，拭目以俟。</p>
<p><u>光緒十四年戊子午月江左老瓠許起識於吳門竿術第二盦</u></p>

<h1>題辭</h1>
<p>壬翁著作等身，惟此《霍亂燃犀說》，人家性命攸關，尤屬緊要。非此刻翠裁紅之句，急勝才華音韻之詞，斯編一出，患者何幸如之。讀竟浮一大白，並題兩絕於下。</p>
<p>病分寒熱路東西，識得東西路不迷。讀此編如知定向，南針不號號燃犀。燃犀棒喝百千言，真諦分明要不煩。雖說浮生如短夢，豈容桎梏抱沉冤。</p>
<p><u>世愚弟楊引傳初稿</u></p>
<p>時疫流行歲不虛，無分城市與村墟。扁盧也要區寒熱，此是人間有用書。此是人間有用書，詳言霍亂義無餘。那知誣熱為寒證，積習難反溢里閭。</p>
<p><u>世愚弟王韜拜題</u></p>
<p>余於典墳，頗喜泛覽，獨方書從未問津，茲壬老親家出示所著《霍亂燃犀說》，卒讀之餘，恍然比年來時疫顛連，半由誤治。亟促刊行，以挽未俗。</p>
<p><u>姻愚弟石鴻翥拜識</u></p>
<p>羨君妙術擅岐黃，賣藥余間著作忙。素秉婆心存濟世，更煩蓮舌別成方。筆無滯象千言富，胸有靈犀一點藏。寒熱瞭然能洞見，斯編彷彿是慈航。</p>
<p><u>姻愚小弟朱以堮初草</u></p>
<p>荒謬推誰最，人間第一醫。死生若有命，藥石亦何為？拋卻丹山鳳，呼來白屋鴟。吾公深感慨，涕泣語時師。</p>
<p>寒熱如冰炭，此編讀便知。參耆迷毒草，薑桂侮行屍。傷往縱難挽，追來尚不遲。亟刊行字內，免腐病人肌。</p>
<p><u>侄庭銓拜讀謹題</u></p>
<p>邇年夏秋間每多吊腳痧與絞腸痧，即霍亂轉筋與乾霍亂也。每多誤以夏月伏陰所致，熱藥妄投，輒遭夭橫。吾師特著《霍亂燃犀說》一編，憫含冤於既往。犀積弊於將來，誠濟世之寶筏也。</p>
<p><u>受業謝繼康百拜謹志</u></p>

<h1>卷上</h1>
<p>霍亂證，無論四肢厥冷，畏寒，舌白，一派陰寒氣象，畢呈顯露。若服丁附薑桂等藥，則百無一生者矣。須知霍亂，總以暑熱而成，有熱極似寒者，即假寒也。所以徐靈胎有寒霍亂百不得一之說。</p>
<p>霍亂，非輕小證也。然治之偶合古法，竟有不藥而霍然者。如飲水單方刮刺之類。</p>
<p>霍亂，有稱為吊腳痧者，即霍亂之劇而轉筋者，原非另有一證也。</p>
<p>霍亂，有呼為絞腸痧者，即乾霍亂也。按方書自古以來，從無痧證之名，殆不知始於何時也。至醫說始載，葉氏用蠶退紙治痧之法，而江民瑩誤為解亦證。雖為杭堇浦所譏，然亦可見從前痧證不多，故古人皆略而不詳也。迨國初時，其病漸盛，自北而南，所以又有滿洲病與番痧之名，郭右陶著《痧脹玉衡》一書，推原極變，其說甚說，而痧之證治乃備。張路玉復分臭毒番痧為二者，蓋謂惡氣更毒於穢氣也。王晉三又辨痧即外邪驟入，阻塞其正氣流行之道之謂，而痧之病義益明。至情志多郁之人，稍犯涼熱，即能成痧。且不時舉發，亦由氣血失其宣暢也。若干霍亂，則亦有不因痰濕飲食之滯，但為暑暍之氣擾亂於中者，當以新汲水、地漿等治之耳。</p>
<p>霍亂，舉世皆名為痧證也。王晉三曰：痧者，寒熱之濕氣皆可以為患。或四時寒濕凝滯於脈絡，或夏月濕熱鬱遏於經隧，或鼻聞臭氣而阻逆經氣，或內因停積而壅塞腑氣，則胃脘氣逆，皆能脹滿作痛，甚至昏憒欲死。西北人以楊柳枝蘸熱水鞭其腹，謂之打寒痧。東南人以油碗，或油線，括其胸背手足內胻，謂之刮痧，以碗鋒及扁針刺舌下指尖，及曲池委中出血，謂之搠痧。更服玉樞丹以治其內。是皆內外達竅，以泄其氣，則氣血得以循度而行，其脹即已，實即霍亂耳。非另有痧邪也。</p>
<p>霍亂，有先吐瀉而心腹絞痛者，從穢氣而發者多。先心腹絞痛而吐瀉者，從暑氣而發者多，郭右陶之說也。瀛按：霍亂有吐瀉並作，有吐而不瀉，有瀉而不吐，有先吐後瀉，有先瀉後吐，總不外內停飲食，外感暑穢，而鬱阻中宮，賊胃則先吐，賊脾則先瀉。故先心痛者，則先吐。先腹痛者，則先瀉。心腹俱痛，吐瀉交作矣。然吐瀉之霍亂，乃暑穢傷人氣分，宜用油鹽刮其皮膚。則痧不內攻。若心胸脹悶，腹中絞痛，或如板硬，或如繩縛，或如筋吊，或如錐刺刀割。雖痛極而不吐瀉者，名乾霍亂。乃邪已入營，宜以針刺出血，則毒有所泄，然後再審其因而藥之。若痧脹已極，難於刮刺者，又必先以藥救醒，乃可以回生。明此三法，庶可十全。</p>
<p>霍亂，有素多濕滯而犯臭氣，則正氣鬱遏，腹痛乃作。或上連頭額俱痛，或下連腹腿俱痛。有痛死不知人，少間復甦者。有腹痛不時上攻，水漿不入，數日不已者。甚至欲吐不吐，欲瀉不瀉，或四肢厥逆，面青脈伏，或遍體壯熱，面紫脈堅。但與生黃豆嚼之，覺香甜者，是臭毒也。急以燒鹽探吐，或以童便制香附四五錢為末，煎湯頓服最效。世俗有用水搭肩背及臂者。有以苧麻水濕刮之者。有以瓷碗油潤刮之者。有以瓷鋒針刺委中出血者，總欲使腠理開通之意耳。其脈多伏，或細小緊澀，或堅勁搏指，中帶促結，皆是陰逆陽伏之象，不可誤認陰寒而投以丁附薑桂。雖砂仁之辛溫香竄，亦不可輕用，若見面青唇黑，脈勁搏指，厥逆喘促，多不可救也。</p>
<p>霍亂，以脾土濕盛，而滯其升降之機。則濁反厥逆於上，清反抑陷於下，雖有熱化寒化之分，必以治中焦之濕為要領也。瀛按：《靈樞》曰：清氣在陰，濁氣在陽，清濁相干，則為霍亂。蓋因暑穢之氣，鬱滯中焦，使脾土阻而不能運動，氣隧遏而不得舒，居中既隔滯，勢必上逆為吐，下奔為瀉。苟不急治中焦之濕，則頃刻間三焦皆邪，陰陽乖舛，而病益劇矣。</p>
<p>霍亂者，揮霍悶亂，成於頃刻，變動不安之謂，邪在上則吐，邪在下則利，邪在中焦，上逆而為嘔吐，復下注而為利者。若久病上不能納，下不能禁，名曰吐利，不得謂之霍亂也。</p>
<p>霍亂，頭痛發熱，身疼，霍亂之表症也。而有寒熱之分者，以中焦上位，乃陰陽之交，而無一定之性。從陰化則為寒，每因寒涼而病始發，冬月多有之。從陽化則為熱，因暑熱而病始發，夏秋多有之。然因寒者，口必不渴，稍渴者，必屬於熱。仲景云：下利慾飲水者，以有熱故也。瀛按：《傷寒論》有熱多欲飲水，寒多不用水之文，此言外感之證，有熱多寒多之辨。蓋外感熱邪入里已多，所以口渴而喜飲也。</p>
<p>霍亂之發，每因吸受暑穢，或飲食停滯，遂至清濁相干，亂於腸胃，而為上吐下瀉。治宜宣土鬱而分陰陽，祛暑穢而行食滯。土鬱者，中焦濕盛，而升降之機乃窒，諸郁之發，皆從熱化也。</p>
<p>霍亂，系因熱而成者。經云：不遠熱則熱至，熱至則身熱，吐下霍亂。奈《病源》《三因》等書，咸謂霍亂，無不本之風冷。遂致薛立齋，張介賓輩，專主於寒，從此印定後人眼目。凡患熱霍亂者，皆被此數公殺之矣。如勞役田野之間，則暑熱自外而入矣。或安享膏粱之奉，則濕熱自內而生矣。是以不遠熱三字，亦非但以藥食為言也。</p>
<p>霍亂一證，每發於夏秋之間者，正以濕土司氣，而從熱化耳。若其人中陽素餒，己土不勝濕，而復襲涼飲令，則濕從寒化，而成霍亂者，亦有之。然熱化者，天運之自然，寒化者，他氣之所逆，知常知變，庶可以治霍亂焉。</p>
<p>霍亂屬熱，《內經》文也。劉守真云：三焦為水穀傳化之道路，熱氣甚，則傳化失常，而吐利霍亂，火性躁動故也。奈薛立齋之流，敢以寒多立論，貽誤後世，未窺至理，遠不如徐氏百不得一之識見耳。</p>
<p>霍亂，有身熱煩渴，氣粗喘悶，而兼厥逆躁擾者，傷暑也，慎勿認作陰證。但察其小便必黃赤，舌苔必黏膩，或白厚，宜王孟英所制然照湯，澄冷服一劑，即現熱象。此時若投丁附薑桂等藥，轉見渾身青紫而死矣，甚有手足厥冷，少氣，唇面爪甲皆青，腹痛自汗，六脈俱伏，而察其吐出酸穢，瀉下臭惡，便溺黃赤者，是熱伏厥逆也。熱極似陰，瀛按：至真要大論諸嘔吐酸，皆屬於熱，諸逆衝上，皆屬於火是也。急作地漿煎竹葉石膏湯服之。又有吐瀉後，身冷如冰，欲沉欲絕，湯藥不下，或發噦，亦是熱伏於內。醫不能察，投藥稍溫，愈服愈吐。驗其口渴，以涼水與之即止，後以駕輕湯投之，脈漸出者生。然暑之為病，傷之驟者，則發之暴，傷之不漸者，則發之緩，故九月時候，猶多伏暑霍亂之證。</p>
<p>霍亂，以暑氣入腹，噁心腹痛，上吐下瀉，瀉如水注。張鳳逵曰：春分以後，秋分以前，少陽相火，少陰君火，太陰濕土，三氣合行其政。故天之熱氣下，地之濕氣上，人在氣交之中，受其蒸淫之氣，由口鼻入而擾其中，遂致升降失司，清濁不分。所瀉者，皆五臟之津液，急宜止之。非通因塞用之謂也。濕甚者，胃苓湯分利陰陽，暑亦自去。熱甚者，桂苓甘露飲清其暑火，濕亦潛消，若火甚之體，內本無濕，而但吸受暑邪者，白虎湯之類宜之。蓋臟性有陰陽之別，陰虛者火旺，雖病發之時，適犯生冷。而橘樸等，僅宜暫用，陽虛者濕勝，雖寒潤之品，非其所宜。如胃苓湯，已為合法，縱或體氣極弱，亦不過補氣清邪並用。若因其素秉之虛，而忘其現病之暑，進以丁附薑桂之劑，真殺人不轉睫矣。</p>
<p>霍亂之轉筋，尤在涇曰：肝主筋，上應風木，肝病生風，則為轉筋。其人臂腳直，脈上下行，微弦。經云：諸暴強直，皆屬於風也。轉筋入腹者，脾土虛而肝木乘之也。按薛一瓢以轉筋與痙證同，推義亦本此。《原病式》云：轉反戾也，熱氣燥爍於筋，則攣瘛而痛，火主燔灼，躁動故也。瀛按：《內經》云：諸轉反戾，皆屬於火是也。或以為寒客於筋者，誤也。蓋寒主收引，然止為厥逆禁固，屈伸不利，安得為轉也。所以轉者，動也。陽動陰靜，熱證明矣。夫轉筋者，多由熱甚，霍亂吐利所致，以脾胃土衰，則肝木自盛，而熱爍於筋，故轉筋也。夫發渴則為熱，凡霍亂轉筋而不渴者，未之有也。張路玉曰：嘔吐泄瀉者，濕土之變也。轉筋者，風木之變也。濕土為風木所克，則為霍亂轉筋，平胃散加木瓜主之。有一毫口渴，即是伏熱，種種燥熱之藥，誤服即死。雖五苓散之桂，亦宜酌用。仲聖雖立熱多欲飲水者，五苓散主之之法。然上文有頭痛惡寒之表證，所以仍取兩解之義，是桂枝原為兼有風寒者而設。故雖兼表證而非風寒之邪，或本無表證而內熱甚者，豈可拘泥成法，不知變通，而徒藉聖人為口實哉。凡霍亂轉筋，脈為兼弦，正以木旺而侮其所勝也。濕盛者，平胃散加木瓜可矣。火盛者，木瓜湯送左金丸為宜，王孟英因雞矢白散之意，而立蠶矢湯一方，屢收奇績矣。</p>
<p>霍亂，又有感惡毒異氣所致者，即張路玉所謂番痧證也。卒然昏倒，腹痛，面色黑脹，不呼不叫，如不急治，兩三時即斃，腹痛麻瞀，嘔惡神昏者。或濈濈汗出，或隱隱發斑，此毒邪焮發於表也。有發即瀉利，厥逆腹脹，無脈者，此毒邪內伏也。所患最暴，多有不及見斑而死者。初覺即以蕎麥，焙燥去殼，取末三錢，溫湯調服。重者，少頃再服，即安。蓋蕎麥能煉腸胃滓穢，降氣寬胸，而治濁滯，而痧毒之專藥，其毒甚面黑者，急砭委中穴，去黑血以泄毒邪。蓋驟發之病，勿慮其虛，非此急奪，束手待斃。倘無蕎麥，或服之不應，即宜理氣為先。如香蘇散加薄荷、荊芥，辛涼透表。次則辟邪為要，梔子豉湯加牛蒡、生甘草解毒安中。表熱勢甚，清熱為急，黃芩湯加連翹、木通分利陰陽。斑點深赤，急用茺蔚湯下其血分之毒。如見煩擾腹脹，脈來數疾，急投涼膈散。如局方以竹葉易生薑，則毒從下奪。熱劇神昏，雖合三黃，多不可救。煩渴引飲，遺尿，速清陽明，白虎湯加蔥豉，使毒從表化。以上諸法，在未經誤藥，庶可挽回一二。</p>

<h2>列方</h2>
<p><u>地漿</u>　《千金》　治乾霍亂及霍亂轉筋。</p>
<p>掘黃土地作坎，深三尺，以新汲井水沃入，攪濁，少頃，取清飲三五盞，即愈。大忌米湯。</p>
<p>羅謙甫曰：霍亂乃暑熱內傷，七神迷亂所致。陰氣靜則神藏，躁則消亡，非至陰之氣不愈。坤為地，屬陰土，曰靜順，地漿作於陰地，坎中為陰中之陰，能瀉陽中之陽也。王孟英謂，得羅氏此言，治霍亂已思過半矣。蔣式玉稱其勤求古訓，信不誣也。按霍亂因無形之邪，由口鼻吸入肺胃之絡，而阻其氣道之流行，乃否塞不通之病，或清不能升，而泄瀉無嚏，濁不能降，而腹痛嘔吐。故用藥皆以清涼宣暢為法。凡周時內，一口米湯下咽，即脹逆，不可救者。蓋以穀氣入胃，長氣於陽，況煎成湯液，尤能閉滯經絡也。蓋湯熱湯，飲酒澡浴並忌者，為其能助熱氣上衝也。若吐瀉既多，元氣耗散，內已無邪者。須以清米湯涼飲之。以為接續，不可禁之太過，而反致胃氣之難復也。</p>
<p><u>陰陽水</u>　《本草綱目》　治霍亂吐利。</p>
<p>新汲水　百沸湯</p>
<p>各半和服。</p>
<p>李瀕湖曰：上焦主納，中焦主腐，下焦主出，三焦通利，陰陽調和，升降周流，則臟腑暢達。一失其道，二氣淆亂，濁陰不降，清陽不升，故發為霍亂吐利之病，飲化即定者。分其陰陽，使得其平也。</p>
<p><u>冬瓜湯</u>　王孟英　治霍亂大渴。</p>
<p>冬瓜（去皮瓤）</p>
<p>水煎清湯，俟涼，任意飲之。</p>
<p>按：《永類鈴方》用陳倉米作湯，今改用冬瓜湯，其功更勝。蓋陳倉米雖能清熱，霍亂平後，用之頗為得宜。若邪勢方張，吐下未平之際，服之猶嫌其守。惟冬瓜甘淡微涼，極清暑熱，無論病前病後，用以代飲，妙不可言，即溫熱病，用之亦良。</p>
<p><u>救急良方</u>　《外臺》　治暑熱霍亂，吐瀉轉筋。</p>
<p>新汲水</p>
<p>以一碗冷飲之。外以一盆盛水，浸兩足，忌食熱物。</p>
<p><u>療霍亂代穀食方</u></p>
<p>蕎麥（焙燥去殼，磨粉，不拘多少）</p>
<p>上沸湯調熟，候溫服之。蓋蕎麥性能煉腸胃滓穢，降氣寬胸，而治濁滯，為痧毒之專藥也。瀛按：《楊氏簡便方》絞腸痧痛，用蕎麥麵一撮，妙黃，水煎服。李時珍亦曰：炒焦，熱水沖服，治絞腸痧。庭按：方書蕎或作荍。《詩》　陳風，視爾如荍。《毛傳》云：荍，芘苤也。《爾雅》，荍，蚍衃。郭注云：今荊葵也，似葵紫色。謝氏云：小草，多華少葉，葉又翹起。邢疏舍人云：荍，一名蚍衃。陸璣云：荊葵，似蕪菁，華紫綠色，可食，微苦。《本草》載，蕎麥莖弱而翹，然易長易收，磨如麥面。又白居易詩云：蕎麥鋪花白是也。</p>
<p><u>金莖露</u>（顧聖符）　治霍亂轉筋。</p>
<p>扁豆葉一握</p>
<p>搗絞汁，一碗飲。瀛按：扁豆葉，《別錄》曰：治霍亂吐下不止。蘇恭亦曰：吐利後轉筋，用生扁豆葉一把，搗汁，入酢服立瘥。葉天士《種福堂》霍亂門中，亦選此方。</p>
<p><u>傷暑霍亂方</u>（包瑞溪）</p>
<p>冬瓜葉（一斤）　白霜梅肉（一錢，並核中仁用）</p>
<p>研爛，新汲水調服立瘥。</p>
<p><u>處治轉筋方</u></p>
<p>轉筋起於足腓，俗呼腿肚。但以好燒酒摩擦其硬處，軟散即愈。一法作極鹹鹽湯於槽中，暖漬之。一法以省頭草同炒鹽擦之，亦良。一法以棉絮浸酒中，煎滾取出，乘熱裹之。一法以醋煮青布掩腳膝，冷復易之。一法令病人偃臥，將膝腕內以手蘸溫水輕輕急拍，直待紫紅筋現起，即郭右陶所謂痧筋。用瓷鋒刺出血，立愈。並治乾霍亂。此名委中穴，在膝後對面。</p>
<p><u>刮法</u>（郭右陶）　治霍亂痧脹，乾霍亂。</p>
<p>背脊頸骨上下，及胸前脅肋，兩背肩臂，用銅瓷蘸香油刮之。或用刮舌刡子腳，蘸香油刮之。頭額腿上，用棉線或麻線蘸香油刮之。大小腹軟肉處，用食鹽以手擦之。按，張會卿曰：凡毒深病急者，非刮背不可。蓋以五臟之系，咸附於背也。又須自輕而重，向下刮之，則邪氣亦隨之而降矣。</p>
<p><u>刺法</u>（同上）　治乾霍亂痧脹。</p>
<p>嘗覽古人遺書，東南卑濕之地，利用砭，今以針刺出血，即用砭之道也。凡霍亂痧脹，邪已入營，必有青筋紫筋，或現於數處，或現於一處，須用銀針刺之，去其毒血，然後據證用藥。看其腿彎上下，有細紫深青色，或紫色，或深紅色者，肌膚白嫩者。方有紫紅色，即是痧筋，刺之，方有紫黑毒血。其腿上大筋不可刺，刺亦無毒血，反令人心煩。腿兩邊硬筋上筋不可刺，刺之恐令人筋吊。若臂彎筋色亦如此辨之。其餘非親見不明白，故不具載。至如頭頂心一針，惟取挑破，略見微血，以泄痧毒之氣而已。不可直刺，其指尖刺之太近指甲，雖無大害，當令人頭眩。即一應刺法，不過針鋒微微入肉，不必深入。按：乾霍亂，因毒邪入於營分，周身隧絡為之壅塞，故又謂之痧脹，失治即死。唯用針刺，砭去惡血，取效最捷。益母草、萊菔汁之治番痧，皆取其能散惡血也。即古方探吐，以燒鹽和熱童便。雖云：性專潤下，亦為其涼血之功有獨擅耳。唯腹雖痛極而喜得溫按，唇口刮白者。乃內虛陰寒之病，慎毋誤用清涼，妄施針刺，而遺人夭殃也。</p>
<p><u>茺蔚湯</u>　治乾霍亂，腹痛驟發，深赤斑毒，俗呼為番痧。</p>
<p>益母草</p>
<p>以水濃煎，少投生蜜，或可不用。燉溫恣服，取效。或加生萊菔汁半杯良。</p>
<p><u>燃照湯</u>（孟英）　治暑穢挾濕，霍亂吐下，脘痞煩渴，外顯惡寒肢冷者。</p>
<p>草果仁　淡豆豉　醋炒半夏　佩蘭草　製厚朴　黑山梔　酒炒黃芩　滑石</p>
<p>水煎涼服。</p>
<p><u>連樸飲</u>（同上）　治濕熱內伏之霍亂，兼能行宿食，滌痰涎。</p>
<p>川連　醋炒半夏　香豉　川樸　石菖蒲　黑山梔</p>
<p>水煎服。</p>
<p><u>梔子豉湯</u>（《傷寒論》）　治暑熱霍亂之主劑，兼解暑證，誤服附桂而致殆者。</p>
<p>梔子　香豉</p>
<p>水煎服。</p>
<p>按：此傷寒吐劑也。王孟英治熱霍亂，獨推以為主劑。蓋梔子苦寒，善泄鬱熱，豉經熱腐，性格和中。凡霍亂皆由濕鬱化熱而擾攘於中宮，唯此二物最為對症良藥，奈昔人咸未之察也。且二物之奇，匪可言罄，如偶以竹葉清暑風，配以蔻仁宣穢惡，濕甚者臣以滑樸，熱勝者佐以芩連，同木瓜、扁豆則和中，合甘草、鼠黏而化毒。其有誤投熱藥而致躁亂昏沉者，亦必藉此以為解救，厥功懋矣，而古人之治霍亂者，從不錄用，豈非一大關典耶。</p>
<p><u>六一散</u>　即益元散又名天水散　河間　治暑熱霍亂。</p>
<p>滑石　甘草</p>
<p>為粉，水飛，每服三錢，新汲水下。</p>
<p><u>左金丸</u>（丹溪）　治霍亂轉筋，火邪內熾。</p>
<p>黃連　吳茱萸</p>
<p>為末，米飲為丸，如梧子大，每服三錢，以陳木瓜五錢煎湯下。此證因濕盛，而風木行脾者，石頑主平胃散加木瓜矣。若熱勝而火爍於筋者，孟英獨推是方為妙。張雨農極為首肯，云嘗在京師，見社石樵少宰，亦以此藥救活多人也。然昔賢皆未採用，何左金丸之蹇於遇乎。</p>
<p><u>蠶矢湯</u>（孟英）　治霍亂吐利，轉筋腹痛，口渴煩躁，危急之症。</p>
<p>晚蠶沙　川連　大豆卷　酒炒黃芩　苡仁　木瓜　吳茱萸　醋炒半夏　黑山梔　通草</p>
<p>以陰陽水煎，稍涼徐徐服之。</p>
<p><u>解毒活血湯</u>（同上）　治溫者痧邪深入營分，轉筋吐下，肢厥汗多，脈伏溺，無口渴腹痛，面黑目陷，勢極可危之證。</p>
<p>連翹　淡紫菜　川連　益母草　生苡仁　絲瓜絡　石菖蒲　蠶沙　地丁　銀花</p>
<p>水煎，入生藕汁，或茅根汁，或加白童便。</p>
<p><u>黃芩定亂湯</u>（同上）　治溫病轉為霍亂，腹不痛而肢冷脈伏，或肢不冷，而口渴苔黃，小水不行，神情煩躁。</p>
<p>黃芩　黑山梔　醋炒半夏　蒲公英　蠶沙　淡豆豉　陳皮　川連　吳萸</p>
<p>陰陽水煎服，轉筋加生苡仁、絲瓜絡，溺行者加木瓜，濕盛者加連翹、茵陳。</p>
<p><u>昌陽瀉心湯</u>（同上）　治霍亂後，胸前痞塞，湯水礙下，或渴或呃。</p>
<p>石菖蒲　半夏　川連　竹茹　蘆根　蘇梗汁　黃芩　川樸　枇杷葉</p>
<p>水煎服，如小溲秘澀者，加紫苑。按，昌陽者，能掃滌濁邪，而昌發清陽之氣。</p>
<p><u>駕輕湯</u>（同上）　治霍亂後，餘邪不清，身熱口渴，及熱邪內伏，身冷脈沉，湯藥不下而發呃。</p>
<p>鮮竹葉　黑山梔　金石斛　省頭草　冬桑葉　淡豆豉　生扁豆　陳木瓜</p>
<p>水煎服。</p>
<p><u>致和湯</u>（同上）　治霍亂後，津液不復，喉乾舌燥，小水短赤。</p>
<p>北沙參　枇杷葉　生扁豆　木瓜　陳倉米　麥冬　鮮竹葉　生甘草　金石斛</p>
<p>水煎服。</p>
<p><u>黃連香薷飲</u>（《活人》）　治暑熱霍亂。</p>
<p>黃連　香薷　厚朴</p>
<p>水煎服。按：若夏月無表證者，切勿誤服香薷，以疏衛氣而貽暑患。</p>
<p><u>木瓜湯</u>（《聖惠方》）　治霍亂轉筋腹痛。</p>
<p>木瓜一兩</p>
<p>水煎服。余湯浸青布裹其腓，本方加桑枝五錢尤良。《外臺方》用木瓜子根皮，食前湯服。</p>
<p><u>扁豆散</u>（《普濟方》）　治霍亂吐利。</p>
<p>生扁豆</p>
<p>為末，入少醋，冷水和服，按：木瓜、扁豆，皆治霍亂之生藥也。於此二方可見。瀛按：扁豆，李時珍曰：通利三焦，能升清降濁，故專治中宮之病，消暑除濕，而能解毒。《千金方》有扁豆、香薷各一升，水六升，煮二升分服，治霍亂吐利之方。</p>
<p><u>藕汁</u>（聖惠方）　治霍亂吐利。</p>
<p>生藕</p>
<p>搗汁服。瀛按：《聖濟總錄》治霍亂煩渴，用藕汁一盅，生飲。陶隱居、孟同州皆謂藕之功用，在乎破血故也。</p>
<p><u>柳州方</u>（柳子厚）　治乾霍亂不得吐瀉，甚至冷汗出而氣欲絕者。</p>
<p>鹽（一撮，放刀上，用火炙透。）</p>
<p>以熱童便和服，少頃，即得吐下，而氣通矣。按此方極易極效，真神劑也。或用新汲水和服亦可。</p>
<p><u>白虎湯</u>（《傷寒論》）　治暑火熾盛而霍亂者。</p>
<p>石膏　知母　甘草　粳米</p>
<p>水煎，米熟湯成，去渣服。按治霍亂，宜用陳倉米。</p>
<p><u>人參白虎湯</u>（同上）　治證如前，而元氣已虛者，宜此。前方加人參一味。</p>
<p><u>竹葉石膏湯</u>（同上）　治體虛受暑，霍亂吐瀉，及暑邪深入等證。</p>
<p>竹葉　人參　半夏　粳米　石膏　麥冬　甘草</p>
<p>水煎服。此方治熱極似陰之霍亂，用地漿水煎更妙。</p>
<p><u>四苓散</u>（《瘟疫論》）　治濕熱霍亂，胸悶溺澀而渴者。</p>
<p>茯苓　豬苓　澤瀉　陳皮</p>
<p>水煎服。按吳氏於五苓方去桂，而治胃中濕熱，最為有見。且以橘皮易術，則無實中之弊，而有利氣之功，當變而變，可謂善用古人之法矣。</p>
<p><u>平胃散</u>（《局方》）　治濕熱內甚，霍亂吐瀉。</p>
<p>蒼朮　厚朴　橘紅　甘草</p>
<p>為末，每服七錢，水煎，加木瓜治轉筋霍亂。按：此方專治濕重熱伏之證，故多香燥。</p>

<h1>卷下</h1>
<p>客有見前編而謂曰：子於霍亂之熱證，固屬引古證今，述而不作，辨訛異別，義已無餘矣。然則寒霍亂百不得一之說，苟一遇之。將何施治，盍再以寒霍亂病證方藥，詳細述之。俾獲見其說屬熱屬寒，瞭如指掌矣。余即將寒霍亂之原由併成方，又縷述焉。</p>
<p>經云：歲土不及，民病飧泄霍亂。夫歲土不及，則脾胃素虛之人，因天運而更見其虛，中陽既虛，寒濕自盛，以致朝食暮瀉。而為飧泄，甚加嘔吐，而為霍亂。觀其與飧泄並稱，則知利者，必是清穀，而非臭穢。吐者，亦必澄澈，而非酸濁，小便之利，口之不渴，又從而可必矣。如此，才是寒濕霍亂，可以理中湯之類治之。故讀書須以意逆其理，自然觸處洞然，無往而不貫矣。且寒霍亂多見於安逸之人，以共深居靜處，陽氣不伸，加以坐臥風涼，起居任意，冰瓜雪藕，恣食為常。雖在盛夏之時，原不可謂之暑病，王安道論之詳矣。輕則藿香正氣散，或平胃散加木香、藿香、生薑、半夏之類。濕盛而四肢重著，骨節煩疼者，胃苓湯加木香、藿香、大腹皮之類。七情鬱結，寒食停滯者七香飲。頭疼惡寒無汗者，以香藿飲先解其表，隨以大順散等調其里。如果脈弱陽虛，腹痛喜得溫按，瀉出不臭者，來復丹。若吐瀉不止，坐氣耗散，或水粒不入，或口渴喜冷而不多飲，或惡寒戰慄，手足逆逆，或煩熱發躁，揭去衣被。但察其瀉出不臭者，乃內虛陰盛格陽，宜理中湯，甚則四逆湯加食鹽少許。更有暴瀉如水，冷汗四逆，脈弱不能言者，急進漿水散救之，並宜冷服。然此輩實由避暑而反為寒傷致病，若誤投清暑之劑，而更助其陰，則頃刻亡陽莫挽矣。世治此病而愈者，猶未確識其為寒也，送謂夏月暑病，通宜溫熱。噫，自家錯認面目，而欲專信後人，何異癡人說夢耶。瀛按：治寒霍亂，亦必首察其厥陰之動靜。倘其人肝陰素虧，內風暗動者，姜附等極宜慎用。即當用，亦須妥為駕馭。蓋雖系中焦土病，然土病木必侮之。設使過劑，雖不似熱霍亂之即為害，亦必增劇而纏綿難愈。</p>
<p>《傷寒論》云：吐利汗出，發熱惡寒，四肢拘急，手足厥逆者，四逆湯主之。此陽虛之體，寒邪得以直入而為霍亂也。發熱惡寒者，身雖熱而惡寒，有熱為格陽之假象，惡寒為虛冷之真諦也。四肢拘急，手足厥逆者，陽氣衰少，不柔於筋，不溫於四末也。首重汗出者，為陽有外去之象，故徑用四逆湯祛其既入之寒，而挽其將去之陽。若止見厥逆惡寒，四肢拘急，脈來沉細弦緊，面如塵土，瀉出不臭，雖屬陰寒，而無汗出之候者，但宜冷香飲子治之。寒主收引，故四肢拘急，乃筋強不能屈伸之謂，與熱症之轉筋迥別，臨診極宜分辨，苟或穎倒誤施，禍成反掌。</p>
<p>又云：既吐且利，小便複利，而大汗出，下利清穀，內寒外熱，脈微欲絕者，四逆湯主之。此亦虛冷霍亂之候，四肢拘急，手足厥逆，虛冷之著於外也。下利清穀，脈微欲絕，虛冷之著於內也。虛冷甚於內，則反逼其陽於外矣。故其外候，每多假熱之象，或煩躁去衣，而欲坐地，或面赤喜冷，而不欲咽，或脈大虛弦，而不住按，是皆元氧耗散，虛陽失守，甚加喘噦，最為危險。唯四逆湯可以驅內勝之陰，而復外散之陽。但小便複利，下利清穀八字，最宜著眼。靈胎所謂一證不具，即當細審也。倘熱霍亂，因暑邪深入而滯其經隧，顯脈細肢寒之假象者，必有溺赤便臭之真諦，臨證慎毋忽焉。</p>
<p>又云：吐下已斷，汗出而厥，四肢拘急，脈微欲絕者，通脈四逆加豬膽汁湯主之。尤在涇曰：吐下已止，陽氣當復，陰邪當解，乃汗出而厥，四肢拘急，而又脈微欲絕，則陰無退散之期，陽有散亡之象，於法為較危矣。故於四逆加乾薑一倍，以救欲絕之陽，而又慮溫熱之過，反為陰氣所拒而不入，故加豬膽汁之苦寒以為響導之用，即《內經》盛者從之之意也。</p>
<p>又云：吐利止而身痛不休者，當消息和解其外，宜桂枝小和之。如吐利止，里已和也。身痛不和者，表未解也，故須桂枝和解其外，所謂表病里和，汗之則愈也。但此為寒霍亂之兼有風寒表邪者而言，熱霍亂後之表不解者，不得妄引此例。王孟英制駕輕湯最為合治，然其意亦不敢出仲聖之範圍也。詳其一日消息，再曰小和之者。蓋以吐利之餘，裡氣已傷，故必消息，其可汗而汗之。亦不可大汗，而可小和之也。況彼熱霍亂之後，津液尤虛，其可妄施汗法乎，此孟英之所以但以輕清為制也。</p>
<p>又云：少陰病，吐利，手足厥冷，煩躁欲死者，吳茱萸湯主之。少陰病，吐利，煩躁四逆者死。王孟英曰：寒中少陰，吐利交作，陰邪盛極而陽氣不勝也。然先厥冷而後煩躁，猶有陽欲復而來爭之兆。故以吳茱萸溫里散寒，人參、大棗益氣安中為治也。若先煩而後四逆者，陽不勝而將絕也，故死。此二條本少陰中寒，非霍亂也。然既明霍亂之治，不得不列其類證。蓋恐後人遇此等病，亦以霍亂法施之。即仲聖列霍亂於《傷寒論》之意耳。</p>

<h2>列方</h2>
<p><u>理中丸</u>（《傷寒論》）　治寒霍亂口不渴者。</p>
<p>人參　甘草　乾薑　白朮</p>
<p>為末蜜丸，亦可水煎作湯服，合五苓散名理苓湯。</p>
<p><u>附子理中丸</u>（同上）　治證如前，而寒甚者。</p>
<p>前方加附子一味。</p>
<p><u>四逆湯</u>（同上）　治陰熱霍亂，汗出而四肢拘急，小便複利，脈微欲絕，而無頭痛口渴者。</p>
<p>甘草　乾薑　附子</p>
<p>水煎服。</p>
<p><u>通脈四逆加豬膽汁湯</u>（同上）　治陰寒霍亂愈後，四肢拘急，脈微欲絕者。</p>
<p>乾薑　甘草　附子　豬膽汁（和入）</p>
<p>水煎服。</p>
<p><u>五苓散</u>（同上）　治霍亂吐瀉，口渴欲飲水，頭疼身痛發熱者。</p>
<p>豬苓　澤瀉　桂　茯苓　白朮</p>
<p>為末，白湯和服。合平胃散，名胃苓湯。按：此仲聖治熱霍亂之兼有風寒表邪之方也。然隅反化裁，在人善用，如證與本條適合者，方中當用桂枝。若內伏暑濕之邪，而又過食生冷者，方中當用肉桂。其外無風寒之表，內無飲冷傷中，則桂可輕用哉。此石頑之所以示戒，而河間之所以加三石，吳氏之所以有四苓也。苟能因此而引伸其義，則無窮活法，皆可心領而神悟矣。</p>
<p><u>桂枝湯</u>（同上）　治寒霍亂後，身猶痛者。</p>
<p>桂枝　芍藥　甘草　生薑　大棗</p>
<p>水煎服。</p>
<p><u>厚朴生薑半夏甘草人參湯</u>（同上）　治虛寒挾濕之霍亂吐利。</p>
<p>藥即湯見。</p>
<p>孟英曰：古今治霍亂者，從未論及此方，予每用之，以奏奇績。</p>
<p><u>吳茱萸湯</u>（同上）　治少陰吐利，厥逆煩躁，亦治厥陰寒犯陽明，食谷即嘔之證。</p>
<p>吳茱萸　人參　生薑　大棗</p>
<p>水煎服。</p>
<p><u>漿水煎</u>（潔古）　治陰寒霍亂，暴瀉如水，汗多身冷，氣少脈沉或脫者。</p>
<p>桂枝　乾薑　附子　甘草　良薑</p>
<p>為末，每服三五錢，地漿水煎服。</p>
<p><u>大順散</u>（《局方》）　治襲涼飲冷，陰寒抑遏陽氣，而成霍亂，水穀不分，脈沉而緊者。</p>
<p>甘草　乾薑　杏仁　桂枝</p>
<p>上炒，如法為末，每服二三錢，湯和服。</p>
<p><u>冷香飲子</u>　治陰寒霍亂，脈沉細，或弦緊，無汗惡寒，面如塵土，四肢厥逆，陽氣大虛之證。</p>
<p>附子　陳皮　甘草　草果　生薑</p>
<p>水煎一滾即濾，井水浸冷服。</p>
<p><u>七香飲</u>　治七情鬱結，寒食停滯，而成霍亂者。</p>
<p>烏藥　香附　枳殼　厚朴　木香　陳皮　紫蘇</p>
<p>水煎服。</p>
<p><u>神香散</u>（景岳）　治乾霍亂，腹痛之屬於寒濕凝滯脈絡者。</p>
<p>丁香（七粒）　白豆蔻（七粒）</p>
<p>為末，清湯調下，小腹痛者，加砂仁七粒。</p>
<p>王晉三曰：此方治寒濕痧脹有神功，與益元散治濕熱痧脹，可謂針鋒相對。</p>
<p><u>灸法</u>　治陰寒霍亂。</p>
<p>以鹽填臍內，上蓋蒜片，安艾炷而灸之。《外臺》法，以手拗所患腳大拇指，當腳心急筋上七壯。急筋，即屈伸不利而拘急也。喻氏法，凡卒中陰寒厥逆，吐瀉色清，氣冷凜慄無汗者，用蔥一大握，以帶緊束，切去兩頭，留白寸許，以一面熨熱，安臍上，用熨斗盛炭火，熨蔥白上面。取其熱氣從臍入腹。甚者連熨二三餅，又甚者，再用艾炷灸關元、氣海各二三十壯。若腠理素疏，陰盛逼陽而多汗者，用附子、乾薑回陽之不暇，尚可熨灼以助其散越乎。</p>
<p>王孟英曰：讀仲聖《傷寒論》，乃知病屬陰虛血少者，概不可灸。必陽虛氣弱者，始可用灸。而嘉言復辨陽虛者，固可以灸，若陽虛至於外越者，豈容再灸？可謂發前人之未發，足補長沙之未及也。世之不別陰陽而妄施灼灸以傷人者，豈特霍亂為然乎。籲，可嘆已。</p>
<p><u>附暖臍方</u>　霍亂一症，皆由寒邪鬱結，氣閉不通，因而吐瀉交作，至於多利亡陰，血液枯涸，則筋脈攣急，手足拘牽，即俗名吊腳痧也。此症朝發夕死，夕發朝死，無論藥力不及，即重用猛烈之品，而熱劑劫陰，終於不救。此散藥雖峻猛，而由臍納入，自能溫通臟腑，不致傷陰，屢試屢驗，識者珍之。</p>
<p>上猺桂心（八錢，去皮）　母丁香（一兩二分）　硫黃（五錢）　生香附（一兩八錢）　當門子（四錢）</p>
<p>上藥共研極細末，每用三分，納入肚臍中，外用膏藥封貼，一時即愈。藥性猛烈，斷不可吃，孕婦忌用。</p>

<h2>補方</h2>
<p><u>藿香正氣散</u>（《局方》）　治內停生冷，外感風寒之霍亂，亦主水土不服之病。</p>
<p>藿香　半夏　甘草　紫蘇　茯苓　厚朴　陳皮　桔梗　白芷　蒼朮（一本作大腹皮）</p>
<p>為末，每服三五錢，水煎服。若溫暑熱證，不兼寒濕者，禁用。林按：藿香正氣散，溫散之劑也誤施於熱霍亂，必增煩躁，面赤，揭衣臥地等證。而況動輒即投丁附薑桂者，當見下咽，無不昏沉厥冷，渾身青紫而死。猶謂陰盛已極，如此大熱，尚不克救，而死者含冤。籲，可嘆也。</p>
<p><u>六和湯</u>（同上）　治夏月虛人濕熱內伏，而傷生冷，外感風寒之霍亂，吐瀉寒熱交作。</p>
<p>香薷　半夏　砂仁　人參　扁豆　赤苓　藿香　厚朴　杏仁　甘草　木瓜</p>
<p><u>香薷飲</u>（同上）　治暑月乘涼飲冷，陽氣為陰氣所遏，頭痛發熱，惡寒煩躁，口渴腹滿之霍亂。</p>
<p>香薷　厚朴　扁豆</p>
<p>水煎，冷服。</p>
<p><u>十味香薷飲</u>（同上）　治虛人伏濕，復兼感冒食滯而成霍亂者，宜此方加減治之。</p>
<p>香薷　人參　白朮　廣皮　茯苓　厚朴　黃蓍　扁豆　甘草　木瓜</p>
<p>水煎服。本方去參、蓍，加藿香、蘇葉，名消暑十全散，治夏月久傷生冷，復重感風寒而成霍亂者。</p>
<p><u>雞矢白散</u>（《金匱》）　治轉筋入腹。</p>
<p>雞矢白（雄雞矢，乃用白，臘月收干之）</p>
<p>水煎，濾清汁服。</p>
<p><u>蔥豉湯</u>（《肘後》）　治霍亂髮斑。</p>
<p>蔥白（一握）　香豉（三合）</p>
<p>水煎，和童便服。</p>
<p><u>蘆根湯</u>（《千金》）　治霍亂煩悶。</p>
<p>蘆根　麥冬</p>
<p>水煎服，或與竹葉同煎。</p>
<p><u>桂苓甘露飲</u>（河間）　治暑熱挾濕之霍亂。</p>
<p>茯苓　白朮　豬苓　滑石　凝水石　肉桂　甘草　澤瀉　石膏</p>
<p>為末，每服三錢，水調下。桂苓白朮散，即本方去豬苓，加人參也。</p>
<p><u>黃芩湯</u>（《傷寒論》）　治溫病變霍亂之主方。</p>
<p>黃芩　炙草　芍藥　大棗</p>
<p>水煎服。</p>
<p><u>黃芩加半夏生薑湯</u></p>
<p>原方加半夏生薑。</p>
<p><u>半夏厚朴湯</u>（一名四七湯　《金匱》）　治情志不舒，痰濕阻氣而成霍亂者。</p>
<p>半夏　厚朴　茯苓　蘇葉　姜</p>
<p>水煎服。按：此方既主七情不適之郁痰證，亦治寒濕不化，風感外侵，食滯不消，誤投滋膩因而病劇者，無不所向輒捷。</p>
<p><u>麥門冬湯</u>（同上）　治霍亂後，餘熱未清，神倦不飢，無苔而渴，或火升氣逆，乾咳無痰。</p>
<p>麥冬　半夏　人參　甘草　粳米　大棗</p>
<p>水煎服。按：海藏以竹葉易半夏，治溫熱後房勞復之氣欲絕者，大效。即不房勞復，而氣液兩虧，不能受重劑峻補，皆可以此湯，接續其一線之生機。</p>
<p><u>附子粳米湯</u>（同上）　治中寒霍亂，肢冷腹痛，吐少嘔多者。</p>
<p>附子　半夏　炙草　大棗　粳米</p>
<p>水煎服。</p>
<p><u>來復丹</u>（《局方》）　治上盛下虛，裡寒外熱，伏暑夾陰，吐瀉霍亂危證。</p>
<p>太陰元精石　硝石　小青皮　舶上硫黃　廣橘紅　五靈脂</p>
<p>為末，古法以醋丸，今易米飲為丸。</p>
<p><u>異功散</u>（錢氏）　治霍亂後，中虛主劑。</p>
<p>人參　白朮　茯苓　炙草　橘紅</p>
<p>水煎服。</p>
<p><u>雪羹湯</u>　治暑熱霍亂吐瀉，口渴氣逆，煩躁眩暈等症。</p>
<p>陳海蛇（四兩，浸洗極淡）　鳧茈（二兩，切即荸薺）</p>
<p>水煎至蛇烊盡，溫服，代茶亦可。</p>
<p><u>專治霍亂轉筋方</u>（《聖惠》）</p>
<p>原蠶沙（一兩）</p>
<p>陰陽水煎，澄清溫服。按：蠶沙，乃桑葉所化。夫桑主息風化濕，既經蠶食，蠶亦主勝風去濕，且蠶僵而不腐，得清氣於造物者獨純。故其矢不臭，不變色，殆桑後蠶化，雖走濁道，而清氣獨全。《金匱》以雞矢治霍亂轉筋者，雞屬巽，雖不溺而矢獨干，亦取少勝風濕，以領濁氣下趨也。蠶沙既引濁下趨，又能化濁使之歸清，性較雞矢更優。故余以為霍亂轉筋之主藥，頗奏膚功，嗣見治痧飛龍奪命丹，用人中白一味，領諸藥迅歸濁邪下趨陰竅，較他方之藉硝以達下者，更覺貼切。故奏效尤捷，制方之義，可謂精矣。至來復丹之用五靈脂，亦從雞矢白脫胎也。</p>
<p>枇杷葉（去毛）　濃煎徐飲。此方不但解霍亂之渴也，若深冬採之，刷毛洗淨，切碎，淨鍋炒乾，瓷瓶密收，常以代茗，可杜暑濕時疫，及噎呃諸病。</p>
<p>生芋（一片）　垂危者放入病人口內，咽汁即蘇，蘇後再吃幾片，取其寬腸去垢濁，破血清痧毒也。世傳飲油、吞礬二方，取其引吐澄濁也。油滋膩，礬兒澀，皆有流弊，不如生芋也。</p>
<p><u>普洱茶</u>　濃煎溫服。</p>
<p><u>西瓜汁</u>　治霍亂轉筋，大渴苔黃，汗頻無溺者。</p>
<p>按：凡陽氣遏抑在內，雖熱證而無汗，西瓜汁慎用。</p>

<h1>跋</h1>
<p>霍亂，非怪證也。然而倉卒變端，醫藥輒誤，則霍亂之不怪而怪，較諸怪證，而尤為怪也。惟是霍亂，醫者都以熱證為寒證，而治以熱藥，至死終不一悟。此則不獨證之怪，而醫亦無不怪矣。醫藥之怪，更怪於霍亂之怪。霍亂用醫藥誤治而成怪，而醫藥在在皆然，不自以為怪，而怪乃錮矣。於是霍亂之無所為怪，而遂成怪證，怪何能知，怪亦可燭，此季父作《霍亂燃犀說》之由來也，昔溫大真燃犀以照水怪，歷歷可數，雖醫藥霍亂之怪，非水之怪也。然讀是說，則屬寒屬熱，絕無混淆，胸有成竹，不使霍亂之遁形變相，不致醫藥之視赤成碧，豈非怪而不怪。設或霍亂之有怪，醫藥之怪，人能盡悉其怪，而怪肯化為不怪。是說奚翅燃犀之明，僅照水怪哉。</p>
<p><u>戊子夏日從子玉林百拜謹跋於崑山隱園之寓廬</u></p>
