<header data-type="book">
<h1>選針三要集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data value="杉山和一">杉山和一</data></dd></div>
<div><dt>底本</dt><dd>收錄於《<a href="../../help/reference.html#other">皇漢醫學叢書</a>》第十冊，上海中醫學院出版社據1936年世界書局鉛印本校勘翻印，1993年。</dd></div>
</dl>
</header>

<h1>序</h1>
<p>愚稟偏陋。竊志針道有日。故遊入江先生之門下。得聞命矣。先生之道。宗軒岐。故常謂可見者內經也。於針法秘旨雖多。不過補瀉要穴。分虛實。用補瀉。宗井榮俞經合。可為主要穴。且有餘力。則諳經穴。於是針道畢矣。臨機應變。可謂醫者意也乎。予慕其幽言。作書而述大意。實為門人初學。發圓機之士。必以為贅也焉。</p>
<p>題曰。一曰治神。二曰知養身。三曰知毒藥為真。四曰制砭石小大。五曰知府藏血氣之診。五法俱立。各有所先云云。</p>
<p>愚按靈樞玉版篇有謂也。帝曰。夫子之言針甚駿。能殺生人。不能起死者。子能反之乎。岐伯曰。能殺生人。不能起死者也。帝曰。余聞之則為不仁。然願聞其道。弗行於人。岐伯曰。是明道也。其必然也。其如刀劍之可以殺人。如飲酒使人醉也。雖勿診猶可知矣。嗚呼。有旨哉經也。唐王燾失深意。而不取針也。於是後世愚人耳目。何有此理哉。猶非謂針總妄用之。則藥灸何無殺人之理也。然內經針殺人者。實有深意存。以何言也。寶命論有謂如臨深淵。手如握虎。神無營於眾物。此王冰所謂工巧。而以不可妄用之故也。醫統曰。扁鵲有謂疾在腠理。熨炳之所及。疾在血脈。針石之所及。其在腸胃。酒醪所及。是針灸藥三者兼得。而後可與言醫。曩武膠以活人之術止於藥。故棄針與灸。而莫之講。傷寒熱入血室。閃挫諸疾。非藥餌所能愈。必俟夫刺者則愈。又介賓類經論此事。一婦人患傷寒。熱入血室。醫者不識。許學士曰。小柴胡以進。當刺期門。予不能針。請善針者針之。如言而愈。是非針要乎。予亦欲澄源端本。若坐豐蔀。嗚呼。有旨哉針也。何妄二氏。謂不足取之也焉。</p>

<h1>卷上</h1>

<h2>論補瀉迎隨第一</h2>
<p>愚遍考內經。幽玄微妙。而難得其旨。靈樞第一篇曰。瀉曰必持內之。放而出之。排陽得針。邪氣得泄。按而引針。補曰隨之。隨之意。若妄之。若行若按。若蚊虻止。如留而還。去如弦絕。令左屬右。其氣故止。外門已閉。中氣乃實。又曰。徐入徐出。謂之導氣。是補也。世說亦論補瀉也。捻針向於呼吸。開於針跡。可謂瀉隨於呼吸閉穴。是補也。實一說也。非可用。必非不可用。如何者。難經曰。補瀉之法。非必呼吸。出內針也。知為針者。信其左。不知為針者。信其右。當刺之時。先以左手壓按所針榮俞之處。彈而努之爪而下之。其氣之來。如動脈之狀。順針而刺之。得氣因推而內之。是謂補。動而伸之。是謂瀉。不得氣乃與男外女內不得氣。是謂十死不治也。師曰。左右可分補瀉。欲瀉左者。當將大指內之。欲瀉右者。將大指當外。反此者。謂補也。足下問難經之本意。補瀉呼吸。為不可用否。予曰。實非不可用呼吸如何者。按真邪論有言。吸則內針。無令氣忤。靜以久留。無令邪布。吸則轉針以得氣。故候呼引針。呼盡乃去。大氣皆出。故命曰瀉。非是謂呼吸也。難經謂非必呼吸出內針。必一字。實不可看過也。如何者。非內呼出吸曰補。內吸出呼為瀉而已。以不盡經之深意爾。且至楊氏虞氏之輩論補瀉呼吸明也。何謂呼吸無補瀉哉。師曰。補瀉者。以迎隨可主也。迎而刺之曰瀉。隨而刺之曰補。故經曰。逆而奪之。惡得無虛。追而濟之。惡得無實。迎之隨之。以意和之。針道畢矣。以手足三陰三陽。又論如手之三陰。從藏走手。手之三陽。從手走頭。足之三陰。從足走腹。足之三陽。從頭走足。逆其氣為迎為瀉。順其氣為隨為補也。或問針者。有瀉無補也。如何為補。予曰。非謂實無者。然觀內經諸篇。根結篇曰。形氣不足。病氣不足。此陰陽氣俱不足也。不可刺之。寶命全形論曰。人有虛實。五虛勿近五實。勿遠五閱。五使篇曰。血氣有餘。肌肉堅緻。故可苦以針。奇病論曰。所謂無損不足者。身羸瘦無用鑱石也。脈度篇。盛者瀉之。虛者飲藥以補之。邪氣臟腑病形篇論。小者。陰陽形氣俱不足。勿取以針。而調以甘藥也。是無補謂也。然師常曰。人身血氣之往來。經絡之流貫。或補陰可以配陽。或因此可以攻彼。不過欲和其陰陽。欲調其血氣。使無偏勝。而得其平。是所謂補瀉也。世醫庸庸榮衛之虧損。形容之羸瘦。一切精虛氣竭等證。概欲用針調補。反傷元氣。以是有瀉無補。嗚呼。至哉言矣。愚又按諸篇靈樞經。有言虛實之要。九針最妙。補瀉之時。以針為之。又曰。虛則實之者。氣口虛而當補之也。真針家之大義存於此。病留經絡。或氣逆臟腑。是所以針能治。故先生言補。非謂實無。同志之輩。於是乎可解疑論焉。</p>

<h2>論井榮俞經合第二</h2>
<p>帝曰。予願聞五臟六腑所出之處。岐伯曰。五臟五俞。五五二十五俞。六腑六俞。六六三十六俞。經脈十二。絡脈十五。凡二十七氣。以上下所出為井。所流為榮。所注為俞。所行為經。所入為合。是二十七氣所行。皆在五俞。或問主於其病如何。予曰。大意論。難經井主心下滿。榮主身熱。俞主體重節痛。經主喘咳寒熱。合主逆氣而泄。此五臟六腑。井榮俞經合所主病也。復謝氏注曰。舉五臟之病。以各一端為例。余病可以類推。而互取也。不言六腑者。舉臟足以該之。又經論五臟有六腑。六腑有十二原。十二原出於四關。四關主治五臟。五臟有病。當取之十二原。十二原者。五臟之所以稟三百六十五節氣味也。五臟有病也。應出十二原。十二原各有所出。明知其原。睹其應而知五臟之害矣。肺之原出於大淵。心之原出於大陵。肝之原出於大沖。脾之原出於大白。腎之原出於大溪。少陰之原。出於神門。膽之原。出於丘墟。胃之原。出於衝陽。膀胱之原。出於京骨。三焦之原。出於陽池。大腸之原。出於合谷。小腸之原。出於腕骨。此十二原者。主治五臟六腑之有病者。按井榮俞經合。又井榮俞原經合者。可分經穴主。如五臟五。如六腑六。然肺以少商為井。魚際為榮。大淵為腧。經渠為經。尺澤為合。如大腸商陽為井。二間為榮。三間為腧。合谷為原。陽谿為經。曲池為合。肺心以終為井。脾肝腎以初為井。至如六腑。膀胱膽胃以終為井。大腸小腸三焦得初為井。又難經曰。春刺井。夏刺榮。季夏刺俞。秋刺經。冬刺合者。何謂也。然春刺井者。邪在肝。夏刺榮者。邪在心。季夏刺俞者。邪在脾。秋刺經者。邪在肺。冬刺合者。牙在腎。每一病。雖不言刺法。推類隨求可詳審。</p>

<h2>論虛實第三</h2>
<p>夫醫之道。在於虛實。針刺猶可分虛實。故經曰。天有寒暑。人有虛實。五虛勿近。五實勿遠。足下問何謂五虛也。予曰。經曰。脈細皮寒。氣少泄。利前後。飲食不入。此所謂五虛也。勿近者。不刺針也。何謂五實。予曰。經曰。脈盛皮熱。腹脹。前後不通。悶瞀。此所謂五實也。匆遠者。以針之難補易瀉故也。分要穴用補瀉。宗虛實。而求於其治者。千變萬患。何有不俞之理哉。</p>

<h2>論謬針第四</h2>
<p>愚按世業針者。往往而不知經絡。或用針則忌於藥。或從天地之理。而不知約人身。或一概針刺淺皮。或不知於經絡。而百患在腹也。則針道安悟。而妄行世者多。予常患於其弊也。夫醫本出內經。針經九卷。則靈樞也。針道未聞用針不用藥。未聞不知經絡而行天地之理。未聞用淺針不用深針。未聞針腹而不針四肢。未聞按用針不用藥者。為外人沽其譽乎。嗚呼。醫之道者。生道也。何愚之甚也。經曰。五法俱立。各有所先者。斯之謂歟。知於天道。則是明道。不知約於人身。則何以醫病也。經曰。人生於地。懸命於天。天地合氣。命之曰人。天有陰陽。人有十二節。十二節者何。十二經也。故不知經絡者。不能約於人身矣。百患受於經絡。不知之。則以何治之哉。淺針之術。於虛老人最可也。師者醫虛人不用針者。以經論用藥補之。又壯病之淺針者。實變氣之術也。按變氣論。內至五臟骨髓。外腸空竅肌膚。所以小病甚至大病必死。故祝由不能已也。何以變移病也。然予非不用者。臨機應變。醫者意決。針刺於一也。刺腹不刺四肢之說。井蛙蟻道之謂不足說。觀內經無用腹之說。古人針者。以井榮腧經合為主。師之所謂至妙者。在四肢也。病不過於五臟。五臟之經。滿四肢。一身之父母者。心與肺也。心肺者。亦在膈上。死生者。當以二臟為主針之道止腹。則灸亦止腹哉。嗚呼不思甚也。予亦主腹常行。或問病如樹本。枝葉在四肢。本在腹。切本而標益盛者。未之聞也。予曰。師常謂此甚詳也。專主腹。切其本。四肢主標。舍標求本。則千變萬患。何不愈也。其以樹木為譬。甚明也。如大木切其本。一時標萎。如朽木無根。則計日而絕。其不朽者。必為元氣未絕也。師之道不然也。切其本。切其標。大病俄然而愈。實無補法治病。病去元氣自榮也。予曰。愚醫不知其標本。有本四肢標腹。有本腹標四肢。何窮於一理哉。予亦分腹告同志。</p>

<h2>腹經穴</h2>
<p>仕脈經　曲骨　中極　關元　石門　氣海　陰交　神闕　水分　下脘　建里　中脘　上脘　巨闕　鳩尾</p>
<p>曲骨臍下五寸。中極。關元。石門。各一寸。氣海。臍下一寸五分。陰交。臍下一寸。神闕。臍中也。水分。臍上一寸。下脘。下一寸。下脘。建里。中脘。上脘。各一寸。巨闕。上脘上一寸五分。鳩尾。蔽骨下五分。</p>
<p>腎經　橫骨　大赫　氣穴　四滿　中注　肓俞　商曲　石關　陰都　通谷　幽門</p>
<p>橫骨。肓俞下五寸。曲骨之傍五分。大赫。氣穴。四滿。中注。肓俞。各間去一寸。關中行五分。肓俞者。臍傍五分。商曲者。肓俞上二寸。石關。陰都。通谷。幽門。各間去一寸。開中行五分。</p>
<p>胃經　不容　承滿　粱門　關門　太乙　滑肉門　天樞　外陵　大巨　水道　期來　氣衝</p>
<p>不容。巨闕旁二寸。承滿。粱門。關門。太乙。滑肉門。各間去一寸。開中行二寸。天樞。臍旁二寸。外陵。天樞下一寸。大巨。二寸。水道。大巨下三寸。期來。大巨下五寸。氣衝。期來下鼠溪之上一寸。</p>
<p>脾經　衝門　府舍　腹結　大橫　腹哀</p>
<p>衝門。大橫下五寸。府舍。腹結下三寸。腹結。大橫下一寸三分。大橫。腹哀下三寸五分。平臍。腹哀日月下一寸五分。共開中行三寸半。</p>
<p>膽經　日月　京門　帶脈　五樞</p>
<p>日月。期門下五分。京門。章門後監骨端。帶脈。章門下一寸八分。五樞。帶脈下三寸。水道旁一寸半。</p>
<p>肝經　章門　期門</p>
<p>章門。下脘旁九寸。橫臥臂所盡。期門。巨闕旁三寸半。</p>

<h2>九針圖</h2>
<figure>
<img data-orig-src="urn:270:09668.jpg" alt="九針圖">
</figure>
<p>一曰鑱針。其頭大。其末銳。取法於巾針。去末寸半漸銳之。長一寸六分。主治熱在頭身者。用之。</p>
<figure>
<img data-orig-src="urn:270:09669.jpg" alt="九針圖">
</figure>
<p>二曰員針。筒其身。卵其鋒。取法於絮針。長一寸六分。主治分肉間。滿氣於身者。用之。</p>
<figure>
<img data-orig-src="urn:270:09670.jpg" alt="九針圖">
</figure>
<p>三曰鍉針。其身大。其末員。取法於黎粟之銳。長三寸半。主治按脈取氣。令邪氣出者。用之。</p>
<figure>
<img data-orig-src="urn:270:09671.jpg" alt="九針圖">
</figure>
<p>四曰鋒針。筒其身。鋒其末。取法於絮針。長一寸六分。主癰熱出血。九針十二原篇曰。刃三隅。以發痼疾。</p>
<figure>
<img data-orig-src="urn:270:09672.jpg" alt="圖">
</figure>
<p>五曰鈹針。其未如釰鋒。可以取大膿。廣二分半。長四寸。主大癰膿。兩熱爭者。</p>
<figure>
<img data-orig-src="urn:270:09673.jpg" alt="九針圖">
</figure>
<p>六曰員利。針尖如氂。且員且銳。微大。其末反小其身。取法於氂。針長一寸六分。主取癰痹。</p>
<figure>
<img data-orig-src="urn:270:09674.jpg" alt="圖">
</figure>
<p>七曰毫針。尖如蚊虻喙。取法於毫毛。長一寸六分。主取寒熱。痛痹在絡。</p>
<figure>
<img data-orig-src="urn:270:09675.jpg" alt="圖">
</figure>
<p>八曰長針。長其身。鋒其末。取法於綦針。長七寸。主取深邪遠痹。</p>
<figure>
<img data-orig-src="urn:270:09676.jpg" alt="圖">
</figure>
<p>九曰大針。其鋒微員。取法於鋒針。長四寸。主治大氣不出關節。</p>

<h2>十五絡脈</h2>
<p>手太陰之別名。曰列缺。</p>
<p>實則手銳掌熱瀉之。虛則欠劫小便遺數補之。</p>
<p>手少陰之別名。曰通里。</p>
<p>實則支膈瀉之。虛則不能言補之。</p>
<p>手厥陰之別名。曰內關。</p>
<p>實則心痛瀉之。虛則為頭強。取之兩筋間補之。</p>
<p>手太陽之別名。曰支正。</p>
<p>實則節弛肘廢瀉之。虛則生疣。小者如指痂疥。補之。</p>
<p>手陽明之別名。曰遍歷。</p>
<p>實則齲聾瀉之。虛則齒寒痹隔補之。</p>
<p>手少陽之別名。曰外關。</p>
<p>實則肘攣瀉之。虛則不收補之。</p>
<p>足太陽之別名。曰飛陽。</p>
<p>實則鼽窒頭背痛瀉之。虛則鼽衄補之。</p>
<p>足少陽之別名。曰光明。</p>
<p>實則厥瀉之。虛則痿躄。坐不能起補之。</p>
<p>足陽明之別名。曰豐隆。</p>
<p>其病氣逆則喉痹卒喑。實則顛狂瀉之。虛則足不收脛枯補之。</p>
<p>足太陰之別名。曰公孫。</p>
<p>厥氣上逆則霍亂。實則腸中切痛瀉之。虛則鼓脹補之。</p>
<p>足少陰之別名。曰大鐘。</p>
<p>其病氣逆則煩悶。實則閉癃瀉之。虛則腰痛補之。</p>
<p>足厥陰之別名。曰蠡溝。</p>
<p>其病氣逆則臯腫卒疝。實則挺長瀉之。虛則暴癢補之。</p>
<p>任脈之別名。曰尾翳。</p>
<p>實則腹皮痛瀉之。虛則癢搔補之。</p>
<p>督脈之別名。曰長強。</p>
<p>實則脊強瀉之。虛則為頭重補之。</p>
<p>脾大絡之別名。曰大包。</p>
<p>實則身盡痛瀉之。虛則百節盡皆縱補之。</p>
<p>凡此十五絡脈者。實則必見。虛則必下。視之不見。求之上下。人經不同。絡脈所以別異也。</p>

<h1>卷下</h1>

<h2>十四經穴並分寸</h2>
<p>手太陰肺經十一穴。中府。雲門。天府。俠白。尺澤。孔最。列缺。經渠。大淵。魚際。少商。</p>
<p>中府。雲門下一寸。雲門。璇璣之旁六寸。天府。腋下三寸。俠白。肘上五寸。尺澤。肘中約文陷中。孔最。腕上七寸。列缺。腕後一寸五分。交手食指端所屈骨間陷中。經渠。寸口陷中。大淵。掌後約文陷中。魚際。大指本節後。少商手大指端內側。去爪甲如韭葉。</p>
<p>手陽明太陽經二十穴。商陽。二間。三間。合谷。陽谿。偏歷。溫溜。下廉。上廉。三里。曲池。肘髎。五里。臂臑。肩髃。巨骨。天鼎。扶突。禾髎。迎香。</p>
<p>商陽。手大指次指端內側。去爪甲如韭葉。二間。大指次指本節前內側。三間。次指本節後內側。合谷。大指次指岐骨間。陽谿。腕上陷中。偏歷。腕後三寸。溫溜。腕後五寸間。下廉。曲池下四寸。上廉。三里下一寸。三里。曲池下二寸。曲池。肘屈約文頭。肘。髎。肘大骨外廉陷中。五里。肘上三寸。臂臑。肘上七寸。肩髃。肩端陷中。巨骨。肩上骨尖旁。天鼎。缺盆上。扶突之下一寸。扶突。曲頰下一寸。禾髎水溝之旁五分。迎香。鼻孔之旁五分。</p>
<p>足陽明胃經四十五穴。承泣。四白。巨髎。地倉。大迎。頰車。下關。頭維。人迎。水突。氣舍。缺盆。氣戶。庫房。屋翳。膺窗。乳中。乳根。不容。承滿。粱門。關門。太乙。滑肉門。天樞。外陵。大巨。水道。期來。氣衝。髀關。伏兔。陰市。粱丘。犢鼻。足三里。上巨虛。條口。下巨虛。豐隆。解谿。衝陽。陷谷。內庭。厲兌。</p>
<p>承泣。目下七分。四白。目下一寸。巨髎。鼻孔旁八分。地倉。夾口吻四分近。大迎。曲頷前一寸三分。頰車。耳下八分陷中。下關。耳前動脈。頭維。神庭之旁四寸半。人迎。夾結喉之旁各一寸五分。水突。人迎下陷中。氣舍。水突下陷中。缺盆。氣舍後大骨陷中。氣戶。璇璣旁開中行各四寸。庫房。氣戶下一寸六分。屋翳。膺窗。乳中。乳根。各間去一寸六分。開中行四寸。不容。巨關之旁二寸。承滿。粱門。關門。太乙。滑肉門。各間去一寸。開中行二寸。天樞。臍旁二寸。外陵。天樞下一寸。大巨二寸。水道。大巨下三寸。斯來。大巨下五寸。氣衝。期來下鼠溪上一寸。髀關。膝上一尺二寸。伏兔。膝上六寸。陰市。膝上三寸。粱丘。膝上二寸兩筋間。犢鼻。膝之間中。三里。膝眼下三寸。上巨虛。三里下三寸。條口。三里下五寸。下巨虛。三里下六寸。豐隆外髁上八寸。解谿。外髁前衝陽後一寸五分。衝陽。去陷谷二寸。陷谷。去內庭二寸。內庭。大指次指外骨間。厲兌。足大指次指端外側。去爪甲如韭葉。</p>
<p>足太陰脾經二十一穴。隱白。大都。大白。公孫。商丘。三陰交。漏谷。地機。陰陵泉。血海。箕門。衝門。府舍。腹結。大橫。腹衰。食竇。天溪。胸卿。周榮。大包。</p>
<p>隱白。足大指端內側。去爪甲如韭葉。大都。大指本節前內側。大白。大指本節後核骨下陷中。公孫。大指本節後一寸陷中。商丘。內髁之前微下陷中。三陰交。內髁上三寸。漏谷。內髁上六寸。地機。膝下五寸。陰陵泉。膝下內廉陷中。血海。膝上二寸。箕門。魚腹上越筋間陰股內有動脈。衝門。大橫下五寸。府舍。腹結下三寸。腹結。大橫下一寸三分。大橫。腹哀下三寸五分。平臍腹哀。日月下一寸五分。共開中行三寸半。食竇。天溪下一寸六分。天溪。胸卿。周榮。各間去一寸六分。開中行六寸。大包。腋下淵腋下三寸終。</p>
<p>手少陰心經九穴。極泉。青靈。少海。靈道。通里。陰郄。神門。少府。少衝。</p>
<p>極泉。腋下筋間動脈。入胸中。青靈。肘上三寸。少海。肘內廉大骨下五分。靈道。腕後一寸五分。通里。腕後一寸。陰郄。掌後脈中去腕五分。神門。掌後銳骨端。少府。握手約文頭。少衝。手小指端內側。去爪甲如韭葉。</p>
<p>手太陽小腸經十九穴。少澤。前谷。後谿。腕骨。陽谷。養老。支正。小海。肩貞。臑俞。天宗。秉風。曲垣。肩外。肩中。天窗。天容。顴髎。聽宮。</p>
<p>小澤。手小指端外側。去爪甲如韭葉。前谷。小指外側。本節前。後谿。外側本節後。腕骨。小指後岐骨留。陽谷。掌後銳骨下。求腕上一寸。養老。支正。腕後有五寸。小海。肘外側大骨外廉去肘端五分。肩貞。肩曲胛下。臑俞。肩髎後大骨下陷中。天宗。秉風后大骨下陷中。秉風。肩上舉臂有空。曲垣。肩中央陷中。肩外。與大抒平去脊骨三寸。肩中。俞大椎之旁二寸。天窗。缺盆上扶突後動脈陷中。天容。耳下曲頰後。顴髎。面鳩骨下廉陷中。聽宮。耳前如赤小豆。</p>
<p>足太陽膀胱經六十三穴。晴明。攢竹。曲差。五處。承光。通天。絡卻。玉枕。天柱。大抒。風門。肺俞。厥陰。心俞。膈俞。肝俞。膽俞。脾俞。胃俞。三焦腎俞。大腸。小腸。膀胱俞。中膂內俞。白環俞。上髎。次髎。中髎。下髎。舍陽。附分。魄戶。膏肩。神堂。譩譆。膈關。魂門。陽綱。意舍。胃倉。肓門。志室。胞肓。秩邊。承扶。段門。浮郄。委陽。委中。合陽。承筋。承山。飛陽。跗陽。崑崙。僕參。申脈。金門。京骨。束骨。通谷。至陰。睛明。目內眥外一分。攢竹。眉頭陷中。曲差。神庭旁一寸五分。五處。曲差之後五分。承光。五處後一寸五分。通天。承光後一寸五分。絡卻。通天後一寸五分。玉枕。絡卻後一寸五分。天柱。頸大筋處廉。髮際陷中。大杼。第一椎下。開中行各一寸五分。風門。第二椎下。肺俞第三椎下。厥陰俞。第四椎下。心俞。五膈俞。七肝俞。九膽俞。十脾俞。十一胃俞。十二三焦俞。十三十四者腎俞。十六者大腸。十八者小腸。十九者膀胱。二十者中膂。內俞。第二十一椎下有白環。上髎。第十七椎下。次髎。中髎。下髎。各夾脊會陽二穴座收之口傳。又上第二椎下。有附分。開中行各三寸。第三魄戶。四膏肓。神堂。五譩譆。六膈關。七魂門。九陽綱。十意舍。十一胃倉。十二肓門。十三十四者志室。十九者胞肓。二十者秩邊。承扶。尻下約文中央陷中。殷門。承扶下六寸。浮郄。一寸外方上。委腸。卻與殷門並。委中。膝下約。文陷中。有動脈。此下三寸。合陽。承筋。合陽與承山中央。承止腨分跟之上七寸。承筋通。飛陽。外踝上七寸。承山並。跗陽。外踝上三寸。崑崙外踝後陷中。僕參。跟骨下陷中。申脈。外跟下五分。金門外踝下一寸。京骨。外踝前大骨下陷中。束骨。小指外側本節後。通谷。外側本節前。至陰。足小指端外側。去爪甲如韭葉。</p>
<p>足少陰腎經二十七穴。湧泉。然谷。大溪。大鐘。照海。水泉。復溜。交信。築賓。陰谷。橫骨。大赫。氣穴。四滿。中注。肓俞。商曲。石關。陰都。通谷。幽門。步廊。神封。靈墟。神藏。或中。俞府。</p>
<p>湧泉。足心陷中。然谷。內踝前大骨下陷中。大溪。內踝後有動脈。大鐘。足跟前外兩筋間。大溪下五分。照海。內踝下一寸。水泉。大溪下一寸。復溜。內踝後上二寸。交信。內踝上二寸。右二穴有前後隔筋。太陰之後。小陰前。築賓。內踝上五寸。陰谷。膝下約文陷中。橫骨。肓俞下五寸曲骨旁五分。大赫。氣穴。四滿。中注。各間去一寸。開中行五分。肓俞。臍旁五分。商曲。肓俞之上二寸。石關。陰都。通谷。幽門。各間去一寸。開中行五分。步廊。神封下一寸六分。神封。靈墟。神藏。或中。各間去一寸六分。開中行二寸。俞府。璇璣之旁。當二寸。</p>
<p>手厥陰心包經九穴。天池。天泉。曲澤。郄門。間使。內關。大陵。勞宮。中衝。</p>
<p>天池。乳後一寸。天泉。腋下二寸。曲澤。肘橫文陷中。郄門。腕後五寸。間使。腕後三寸。內關。腕後二寸。兩筋間。大陵。掌後兩筋間。勞宮中指無名指屈頭所當。中衝。手中指端內側。去爪甲如韭葉。</p>
<p>手少陽三焦經二十三穴。關衝。液門。中渚。陽池。外關。支溝。會宗。三陽絡。四瀆。天井。清冷淵。消濼。臑會。肩髎。天髎。天牖。翳風。瘈脈。顱息。角孫。耳門。和髎。絲竹空。</p>
<p>關衝。手無名指端外側。去爪甲如韭葉。液門。小指次指本節前。中渚。液門後一寸。陽池。腕上陷中。外關。腕後二寸。支溝。腕後三寸。兩骨間。會宗。腕後三寸外旁。三陽絡。腕後四寸內方。四瀆。肘前五寸。天井。肘後上一寸。清冷。淵肘上二寸。消濼。對腋臂外。臑會。去肩頭三寸。肩髎。肩巨骨後陷中。天髎。肩井後一寸。天牖。缺盆上。天容後天容隔筋天柱前。翳風。耳後尖角陷中。瘈脈。耳後溪足逢。顱息。耳後有青絡脈。角孫。耳上中央有穴。耳門。耳珠當耳缺。和髎。耳前兌發橫動脈。絲竹空。眉後陷中終。</p>
<p>足少陽膽經四十三穴。瞳子髎。聽會。客主人。頷厭。懸顱。懸釐。曲鬢。率谷。天衝。浮白。竅陰。完骨。本神。陽白。臨泣。目窗。正營。承靈。腦空。風池。肩井。淵液。輒筋。日月。京門。帶脈。五樞。維道。居髎。環跳。中瀆。陽關。陽陵泉。陽光。外丘。光明。陽輔。懸鐘。丘墟。臨泣。地五會。俠谿。竅陰。</p>
<p>瞳子髎。目外去眥五分。聽會。耳前動脈陷中。容主人。耳前起骨上開口有空。頷厭。腦空上廉曲角下。懸顱。頷厭下曲角端。懸釐。耳上髮際陷中。曲鬢。耳上髮際角。率谷。耳上髮際入發一寸五分陷者宛宛中有。天衝。耳後入髮際二寸。浮白。耳後入髮際一寸。竅陰。完骨上枕骨下動搖有空。完骨。耳後入髮際四分。本神。曲差旁一寸五分。陽白。眉上一寸。臨泣。目上直入髮際五分。目窗。臨泣後一寸。正營。目窗後一寸。承靈。正營後一寸五分。腦空。承靈後一寸五分。風池。耳後顳顬後髮際陷中。肩井。肩上陷中。大骨前一寸半。淵液。腋下三寸輒筋。淵液前一寸。日月。期門下五分。京門。章門後監骨端。帶脈。章門下一寸八分。五樞。帶脈下三寸。維道。章門下五寸三分。居髎。章門下八寸三分。環跳。髀樞中橫臥伸下足屈上足取之。中瀆。膝上五寸分肉間陷中。陽關。陽陵泉上三寸。陽陵泉。膝下一寸外廉。陽光。外踝上七寸。外丘。外踝上七寸如前三分。光明。外踝上五寸。陽輔。外踝上四寸。懸鐘外踝上三寸。丘墟。外踝下如前去臨泣三寸。臨泣。小指次指本節後間去俠谿一寸五分。地五會。去俠谿一寸。俠谿。小指次指岐骨間。竅陰。足無名指端外側。去爪甲如韭葉。</p>
<p>足厥陰肝經十四穴。大敦。行間。大沖。中封。蠡溝。中都。膝關。曲泉。陰包。五里。陰廉。爭脈。章門。期門。</p>
<p>大敦。足大指端外側。去爪甲如韭葉。行間。大指次指岐骨間。太衝。大指本節後二寸。中封。內踝前一寸。蠡溝。內踝上五寸。中都。內踝上七寸。膝關。犢鼻下二寸。曲泉。膝內輔骨後大筋上小筋下。陰包。膝上四寸。股內廉兩筋間。五里。氣衝下三寸。陰股中有動脈。陰廉。羊矢下去氣衝二寸。斜里三分。急脈。陰莖兩旁相去二寸半。章門。下脘旁九寸。臂盡處。期門。不容旁一寸五分。</p>
<p>任脈經二十四穴。會陰。曲骨。中極。關元。石門。氣海。陰交。神闕。水分。下脘。建里。中脘。上脘。巨闕。鳩尾。中庭。膻中。玉道。紫宮。華蓋。璇璣。天突。廉泉。承漿。</p>
<p>會陰。兩陰間。曲骨。臍下五寸。中極。關元。石門。各一寸。氣海。臍下一寸五分。陰交。臍下一寸。神闕。臍中。水分。臍上一寸。下脘下一寸。下脘。建里。中脘。上脘。各一寸。巨闕。上脘上一寸五分。鳩尾。蔽骨下五分。中庭。膻中下一寸六分。膻中。玉道下一寸六分。直兩乳間陷中。玉道。紫宮華蓋各間去一寸六分。華蓋。璇璣下一寸。璇璣。天突下一寸。天突。結喉下三寸。廉泉。結喉上頷下陷中。承漿。下唇之下陷中終。</p>
<p>督脈經二十八穴。長強。腰俞。陽關。命門。懸樞。脊中。中樞。筋縮。至陽。靈臺。神道。身柱。陶道。大椎。啞門。風府。腦戶。強間。後頂。百會。前頂。囟會。上星。神庭。素髎。水溝。兌端。斷交。</p>
<p>長強。髀骨下陷中。腰俞。第二十一椎下。陽關。十六椎下。命門。十四椎下。懸樞。十三椎下。脊中。十一椎下。中樞。十。筋縮。九。至陽七。靈臺六。神道五。身柱三。陶道。第一椎下。椎。第一椎上。啞門。入髮際五分。風府。入髮際一寸。腦戶。強間後一寸五分。強間。後頂後一寸五分。後頂。百會後一寸五分。百會。前頂後一寸五分。前頂。囟會後一寸五分。囟會。上星後一寸。上星。入前發一寸。神庭。入髮際五分。素髎。鼻端準頭。水溝。鼻下陷中。兌端。上唇端。斷交。唇內上齒縫中終。</p>

<h2>針灸要穴論</h2>
<p>夫欲用針灸者。當主於要穴。灸者散寒邪。針開鬱滯。無千患不愈也。然世業針者。刺要穴。謂不愈。何有此理乎。予嘗思主腹。不知要穴。或左右不分補瀉。或失穴處不取針。嗚呼。不思甚哉。故明要穴分寸論。針灸諸家。所當察也。</p>
<p>傷寒頭疼身熱</p>
<p>二間　合谷　神道　風池　期間　足三里　</p>
<p>汗不出</p>
<p>合谷　腕骨　期門</p>
<p>陰症</p>
<p>期門　氣海　關元</p>
<p>腹脹</p>
<p>太白　復溜　足三里</p>
<p>舌卷囊縮</p>
<p>天突　廉泉　血海　腎俞　然谷</p>
<p>中風　不省人事</p>
<p>百會　風池　大椎　肩井　曲池　足三里</p>
<p>半身不遂</p>
<p>肩髃　百會　肩井　客主人　列缺　手三里　曲池　崑崙　陽陵泉</p>
<p>口眼喎斜</p>
<p>頰車　地倉　水溝　承漿　合谷</p>
<p>口噤不開</p>
<p>合谷頰車</p>
<p>瘖啞</p>
<p>天突　靈道　然谷　豐隆　陰谷</p>
<p>癱瘓</p>
<p>肩井　肩髃　曲池　合谷　足三里　崑崙</p>
<p>虛癆</p>
<p>可主四花最針。有神妙。可主腹。</p>
<p>盜汗</p>
<p>肺俞　腹溜　譩譆</p>
<p>血症　吐血</p>
<p>肺俞　心俞　肝　脾　腎　中脘　天樞　太淵　間使　大陵</p>
<p>衄血</p>
<p>囟會　上星　風門　湧泉　合谷</p>
<p>便血</p>
<p>中脘　氣海</p>
<p>尿血</p>
<p>膈俞　脾俞　三焦俞　腎俞　列缺</p>
<p>水腫</p>
<p>水溝　水分　神闕（三壯）　肝　脾　胃　腎　中脘　氣海　陰交　公孫　石門　中極　陰陵泉</p>
<p>脹滿</p>
<p>中脘　水分　不容　氣海　肓俞　天樞　肝俞　脾　三焦俞　公孫　大敦</p>
<p>虛癆浮腫</p>
<p>大沖</p>
<p>積聚痞塊</p>
<p>灸以命門可主</p>
<p>上脘　中脘　幽門　通谷　粱門　天樞　期門　章門　氣海　關元</p>
<p>肺積名息奔。在右脅下。</p>
<p>尺澤　章門　盡三里</p>
<p>心積名伏粱。起臍上至心下。</p>
<p>神門　後谿　巨闕　足三里</p>
<p>脾積名痞氣。橫在臍上二寸。</p>
<p>脾俞　胃俞　腎俞　通谷　章門　足三里</p>
<p>肝積名肥氣。在左脅下。</p>
<p>肝俞　章門　行間</p>
<p>腎積名奔豚。起臍下。或上下無時。</p>
<p>腎俞　關元　中極　湧泉</p>
<p>氣塊</p>
<p>脾俞　胃俞　腎俞　梁門　天樞</p>
<p>膈</p>
<p>心俞　膈俞　膏肓　脾俞　中脘　氣海　天府　足三里</p>
<p>咳嗽</p>
<p>風門　肺俞　身柱</p>
<p>寒痰</p>
<p>肺俞　膏肓　靈臺</p>
<p>熱痰</p>
<p>肺俞　膻中　大溪</p>
<p>諸喘息</p>
<p>天突　璇璣　華蓋　膻中　乳根　期門　氣海</p>
<p>嘔吐　氣逆</p>
<p>中脘　氣海　三焦俞　巨闕　尺澤　章門　大陵</p>
<p>霍亂</p>
<p>巨闕　中脘　建里　水分　承筋　承山　三陰交　照海　大都　湧泉</p>
<p>乾霍亂</p>
<p>以鹽湯探吐。臍中灸。</p>
<p>喜大息</p>
<p>中封　商丘　公孫</p>
<p>喜悲</p>
<p>心俞　大陵　大敦　玉英　膻中</p>
<p>氣短</p>
<p>大椎肺俞　肝俞　天突　肩井</p>
<p>瘧疾</p>
<p>大椎　肺俞　肝俞　天樞　三椎　譩譆　章門間使　後谿　承山　飛陽　崑崙　大溪　公孫　至陰　合谷</p>
<p>久瘧不愈</p>
<p>脾俞　七十壯灸</p>
<p>黃疸</p>
<p>公孫</p>
<p>消渴</p>
<p>腎俞　小腸俞</p>
<p>瀉痢</p>
<p>百會　脾俞　腎俞　命門　長強　承滿　梁門　中脘　神闕　天樞　氣海　石門　關元　三陰交</p>
<p>脾泄　脾俞　胃泄　胃俞　大腸泄　大腸俞</p>
<p>癲癇</p>
<p>百會　天窗　身柱　神道　心俞　筋縮　章門　天樞　勞宮　神門　三里　下巨虛　豐隆　大沖　少海　厲兌</p>
<p>眼目疼痛</p>
<p>合谷　外關　後谿</p>
<p>耳聾</p>
<p>上星　翳風　腎俞　外關</p>
<p>鼻塞不唎香臭</p>
<p>囟會　上星　迎香　天柱　風門</p>
<p>齒牙痛</p>
<p>承漿　頰車　合谷　列缺　大淵　魚際　合陽　三門　大迎　足三里　內庭</p>
<p>喉痹</p>
<p>天柱　廉泉　合谷　後谿　三間　三陰交　行間　關衝</p>
<p>手痛不舉</p>
<p>曲池　肩井</p>
<p>腳氣</p>
<p>肩井　足三里　崑崙　照海　大沖　陽陵泉</p>
<p>轉筋</p>
<p>照海</p>
<p>脫肛</p>
<p>百會</p>
<p>五淋</p>
<p>膈肝　脾腎　氣海　石門　關元　間使　三陰交　腹溜　然谷　大敦</p>
<p>小便不利</p>
<p>三焦俞　小腸俞　陰交　中極　中封　大沖　至陰</p>
<p>小便不禁</p>
<p>氣海　關元　陰陵泉　大敦</p>
<p>大便秘結</p>
<p>章門　陰交　氣海　石門　足三里　三陰交　照海　太白　大敦　大都</p>
<p>疝氣</p>
<p>章門　期來　氣海　關元　三陰交　大敦　隱白　大溪　大沖</p>
<p>痔</p>
<p>腎俞　命門　長強　承山</p>
<p>類經曰。凡犯屍鬼暴厥。不省人事。若四肢雖冷無氣。但覺目中神采不變。心腹尚溫。口中無涎。舌不卷。囊不縮。及未出一時者。尚可刺之復醒。</p>
<p>謹按素問遺篇。分五邪刺法。</p>
<p>肺虛者見赤屍鬼　肺俞（一分半）合谷（三分）</p>
<p>心虛者見黑屍鬼　心俞　陽池</p>
<p>肝虛者見白屍鬼　肝俞　丘墟</p>
<p>脾虛者見青屍鬼　脾俞　衝陽</p>
<p>腎虛者見黃屍鬼　腎俞　京骨</p>
<p>以上刺法。必先以口含針令溫而刺之。</p>
<p>婦人病　血結月事不調</p>
<p>氣海　中極　照海</p>
<p>血崩不止</p>
<p>膈俞　肝腎　命門　氣海　中極　間使　血海　腹溜　行間</p>
<p>痢帶赤白</p>
<p>命門　神闕　中極</p>
<p>癥瘕</p>
<p>三焦俞　腎　中極　會陰</p>
<p>不成孕</p>
<p>命門　腎俞　氣海　中極　關元（百壯）　然谷</p>
<p>產難橫生</p>
<p>合谷　三陰交</p>
<p>胞衣不下</p>
<p>三陰交　崑崙</p>
<p>下死胎　合谷妙也</p>
<p>欲取胎</p>
<p>肩井　合谷　三陰交</p>
<p>小兒病　急慢驚風</p>
<p>百會（七壯）　囟會　上星　率谷（三壯）　水溝　尺澤</p>
<p>慢驚</p>
<p>間使　合谷　大沖（五壯）</p>
<p>臍風撮口</p>
<p>承漿　然谷</p>
<p>泄瀉</p>
<p>胃俞　天樞</p>
<p>霍亂</p>
<p>外踝尖三壯灸立地有效</p>
<p>夜啼　中衝</p>
<p>疳眼　合谷（五壯灸）</p>
<p>要穴終</p>

<h2>禁針穴歌共三十一穴</h2>
<p>禁針穴道要先明　腦戶囟會及神庭</p>
<p>絡卻玉枕角孫穴　顱囟承泣隨承靈</p>
<p>神道靈臺膻中忌　水分神闕並會陰</p>
<p>橫骨氣衝手五里　箕門承筋及青靈</p>
<p>乳中上臂三陽絡　二十三穴不可針</p>
<p>孕婦不宜針合谷　三陰交內亦通論</p>
<p>石門針灸應須忌　女子終身無妊娠</p>
<p>外有云門並鳩尾　缺盆客主人莫深</p>
<p>肩井深時人悶倒　三里急補人還平</p>

<h2>禁灸穴歌四十七穴</h2>
<p>禁灸之穴四十七　承光啞門風府逆</p>
<p>晴明攢竹下迎香　天柱素髎上臨泣</p>
<p>腦戶耳門瘈脈通　禾髎顴髎絲竹空</p>
<p>頭維下關人迎等　肩貞天牖心俞同</p>
<p>乳中脊中白環俞　鳩尾淵液如周榮</p>
<p>腹哀少商並魚際　經渠天府及中衝</p>
<p>陽池陽關地五會　漏谷陰陵條口逢</p>
<p>殷門申脈承扶忌　髀關伏兔連委中</p>
<p>陰市下行尋犢鼻　諸穴無將艾火攻</p>

<h1>跋</h1>
<p>易曰。夫天行健也。君子以自強不息。但言天行。則見其一日一周。而明日一周。若重複之象。非至健不能也。君子法之不以人。欲害其天德之剛。則自強而不息矣。夫針者。雖為所作初於伏羲。醫道之一也。明於此者。其道之君子也。以是毋懈怠焉。予少年之時。有病以針治之。又中年有病時。師入江先生。傳針三年而自治。其後刺人治病數多也。及壯年。聞靈樞其理深。而事廣矣。今所刺本朝之流者。舍經絡而尋病而已。聖人之所傳道廢矣。以是按學者不針。針者不學。世末而世人之氣短如何起。是僅作書與不學譬。雖如管中見天。然龍以一滴水潤世界。人以石火之微為大火。是皆有所得故也。此書短得其人。則廣天下亦可成也。動靜其本一氣也。一生二。二生三。十又歸一。從是至百千萬。而病發七情。喜則傷心氣散。怒則傷肝氣逆。憂則傷肺氣聚。思則傷脾氣結。悲則傷心包絡氣凝。驚則傷膽氣亂。恐則傷腎氣怯。是皆內生病也。又有五傷。久行則傷筋。久立則傷骨。久坐則傷肉。久臥則傷氣。久視則傷血。是皆所為之害也。風寒暑濕燥熱從外來。病也。氣血痰之三是本發百病。治其本則末無不治。是能辨者。要穴可刺針。且又心肝要也。有手刺心不刺者。小人間居作不善無所不至。又曰。履霜堅冰。至善亦然。故積善之家。必有餘慶。積不善之家。必有餘殃。以是故其心慎可刺針。且此書教不學者。且為使盲人諳也。</p>
