<header data-type="book">
<h1>醫學權輿</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>胡文煥</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1563">公元1563年</data></dd></div>
</dl>
</header>

<h1>正文</h1>
<p>中風大率生乎痰，口眼歪斜語話難，痰涎壅盛窒而痞，半身不遂四肢癱。諸家之論須詳辨，古人俱系作風看，河間生火東垣氣，丹溪主濕皆須詳，其中風邪起西北，濕痰內發生東南。須知中腑著四肢，脈浮有表風寒醫。中臟唇緩滯九竅，氣塞不語多昏危。中血脈則口眼歪，又有中經亦要推。六經無證溺調和，肢不能持語不開。中經之候皆如是，各經分治莫胡猜，左為死血少血乾，痰與氣虛居右邊。七情所傷為中氣，將息失宜虛氣纏，脈微遲緩因於氣，若浮而大風調理，浮而虛者此為虛，或滑而沉痰疾滯，浮遲虛虧可還生，急大實數為凶議。氣虛卒倒用參耆，痰涎盛者吐之宜，血虛四物為之主，竹瀝二陳痰可施，氣如弱者四君子，愈風續命湯能舒，若能預卻用何方，御風丹子堪扶持。</p>
<p>傷寒為病有根源，先因冬月傷於寒，其邪自表傳於裡，六經之病須分看。脊痛頭疼及發熱，浮居尺寸太陽干。陽明尺寸脈俱長，鼻乾目痛何能眠。少陰尺寸俱沉細，須知口燥舌尤干。厥陰之脈多微緩，更兼煩滿及囊拳。少陽則弦而脅痛，嘔聾口苦熱而寒。太陰腹滿亦自利，尺寸沉兮津少咽。表裡虛實要分別，須察陰陽與寒熱。浮緊惡寒熱又多，無汗身疼為表實。浮緩發熱兼惡風，身疼有汗表虛列。實則麻黃以汗之，虛則桂枝湯甚捷。沉虛譫語便秘渴，腹滿潮熱為裡實。急則可施承氣湯，察證分明毋妄設。寒熱自利更腹鳴，裡虛須補必安寧。表裡虛實更要評，浮洪內外熱皆生。表裡虛則自汗利，黃耆建中三要增。內外之傷須細參，虛實殊途莫倚偏。氣口緊盛內所傷，人迎緊盛傷於寒。外感必須遵仲景，內傷必是依東垣。陽盛陰虛下必愈，陰盛陽虛汗必全。汗下一差猶反掌，實實虛虛仔細看。</p>
<p>內傷之病由何來，飲食勞倦相兼倍。世人概誤作傷寒，東垣力辨何明哉。或兼外感或兼熱，痰與食積宜分別。須知脈大按無力，或時隱伏為斯疾。補中益氣雖神妙，臨機應變為良訣。</p>
<p>傷風之候身發熱，脈緩而浮自汗出，合口不開氣亦粗，面光不慘惡風列，桂枝湯可治傷風，九味羌活功最捷。</p>
<p>傷食身和頭或疼，發熱氣口脈緊盛，痞塞吞酸或吐瀉，腹痛惡心暖氣盛。食在上者宜吐之，次以消導隨形證，枳實導滯或保和，枳朮健脾功若聖，輕則內消曲藥治，重則下之以承氣，寒以乾薑稜術溫，熱以芩連大黃例，水涇停飲即分消，葛花解醒五苓類。</p>
<p>天行時氣為瘟疫，病者皆然無等別，主治須知有三法，降而補散為之則。芩連參梗人中黃，蒼附將軍防滑石。六氣所傷皆致病，三因內外分明識。瘟家之脈散難明，隨其脈狀分諸經，若浮而大按無力，補中帶表隨時寧。</p>
<p>大頭病濕在高顛，陽明邪熱使之然。資實少陽之相火，各隨部位藥之安。大黃梔子芩連滑，普濟消毒尤能全。病位在上徐徐服，須知緩急依經言。</p>
<p>脈虛身熱傷暑例，或大兼弱或弦細，夏火炎炎克肺金，必須清暑而益氣。</p>
<p>暑風挾火與挾痰，內外二火相交熾。脈如實者吐之安，火鬱發之亦其義。五苓香薷與益元，桂苓甘露亦能全。預卻須要補元陽，生脈四君為妙方。</p>
<p>傷溫之病世多訛，亦氣生來濕熱多，脈來細兮更沉緩，五苓滲濕蠲其痾。</p>
<p>咳謂無痰乃有聲，肺氣受傷音不清，嗽則無聲而有痰，肺濕既動何由寧。咳嗽有聲兼有痰，因傷肺氣動脾經，逆氣但逆而不嗽，肺塞不下故上升。嗽脈須知有幾般，虛則為風緊是寒。數乃熱多微細濕，澀弦血少滑多痰。治宜降火與清金，風寒散之氣自伸。乾咳嗽者火之郁，桔梗開之次補陰。勞則四物加竹瀝，痰則治之以二陳。肺虛味款苑兜苓，實以黃芩乘杏仁。肺虛甚者人參膏，寒熱柴胡亦可親。逆氣原來有良法，木香調氣湯通神。</p>
<p>哮證主肺由於痰，吐法施之當自安。未治必須扶正氣，已發須要辟邪干。黃芩利膈及清金，劫以紫荊必可寬。</p>
<p>喘急因火入肺金，氣為火鬱故上升。病之久者氣必虛，郁痰壅滯無由舒。水氣乘肺應多喘，或有陰衰氣虛滿。脈洪大者虛可推，沉滯實者方可斷。實宜葶藶桑白皮，虛用五味阿參耆。短氣而喘生肺散，調中益氣湯尤宜。痰則千緡與二陳，四物加減滋其陰。喘急甚者忌寒涼，氣虛大麥黃耆參。大要下氣與行痰，降火清金尤緊關。</p>
<p>夏傷於暑秋髮瘧，正氣與邪相擊搏。陽分日發邪氣輕，陰分深兮應間作。在氣早臨血宴臨，於陽為熱陰為寒。並則病作離則止，醫者於斯著意看。弦數之脈熱相侵，弦而遲者寒之因。暑則人參入白虎，痰以二陳加胡芩。無汗必須先發汗，汗多補以黃耆參。久則一補又一發，芎術胡芩葛二陳。痰熱胸滿大便秘，大柴胡湯還可治。常山截瘧效尤速，入小柴胡功亦異。</p>
<p>霍亂之候非鬼神，內積外傷乖戾至。脈壯隱伏乃為常，澀而數者難調理。洪而滑數熱中來，若滑而弦食必滯。六和理中湯亦良，須用鹽湯先吐矣。</p>
<p>春傷於風夏飧泄，痰火積氣兼風濕。沉而遲者切為寒，沉而數者亦因熱。氣虛參朮芍升麻，濕以五苓加二術。痰積吐之豁亦宜，食積必須疏導息。傷食瀉者胃苓湯，夏月桂苓甘露克。瀉如已久要升提，虛而滑脫宜收澀。</p>
<p>痢屬濕熱與食積，須辨青黃赤白黑。純白而來氣必傷，血受病兮應是赤。氣血俱傷赤白兼，食積為黃是真的。純血來者亦如是，黑者須知為死血。宛如豆汁濕中來，勿妄以白為寒測。通因通用也可用，消積瀉濕和盪滌。初而重者承氣湯，輕則黃芩芍藥湯。氣血俱虛為八物，隨時處治方為良。必以胃氣為之先，氣運脈壯須用參。數大身熱為難愈，微而小者易為安。</p>
<p>嘔吐有聲乃有物，無物有聲因謂噦，有物無聲血受病，有聲無物氣中決，氣血如是兩皆傷，聲物兼全無所失。諸嘔吐酸雖屬火，寒熱積痰兼氣血。脈浮而洪由於氣，如逢逆者謂之積。沉遲厥令定為寒，滑數而躁因於熱。若洪而滑則多痰，芩連二陳尤可啜。客寒犯胃理中陽，虛則香附參耆朮。肝火出胃抑青丸，逆氣而嘔須開鬱。</p>
<p>熱痰在胃為噁心，治用芩連入二陳。寒涼致傷亦有之，安胃理中亦可斟。</p>
<p>膈噎之病由血乾，氣弱熱痰滯氣纏。緩大無力氣必虛，數而有力熱邪犯。數而無力或小此，乃是血虛最明顯。分熱沉伏即為疾，沉而澀者氣相擾。四物四君調氣血，內觀靜養為良訣。痰用二陳更加減，氣則疏導與開結。金水二氣須扶持，最忌辛香和躁熱。</p>
<p>咳逆之候因火升，故宜衝上為聲鳴，木旺土哀挾相火，疾與陰虛皆是因，有餘不足須分明。實者參以吐之可，不足參朮大補丸。半夏陳皮痰自寬，氣虛白朮與人參。陰火滑石黃連餐，內傷補中益氣湯，柿蒂丁香可漸安。</p>
<p>噯氣皆因痰火惱，南星半夏連膏好。</p>
<p>嘈雜乃火動其痰，二陳更加芩連餐。</p>
<p>諸嘔吐酸雖屬熱，或有痰兮或食鬱，茱萸丸子治吞酸，但隨時令分寒熱，平胃二陳功亦靈，仔細消詳為妙訣。</p>
<p>痞疾原來與否同，不能舒泰窒胸中。誤下陰虛多致痞，積痰濕土何能通。傷寒下早亦如是，仲景瀉心皆此例。實者厚朴枳實湯，虛者芍藥陳皮治。飲食致傷消導之，胸中窒塞吐之易。虛氣濕吐消痞丸，內傷補中而益氣。痰而痞者利膈良，鬱氣木香化滯湯。黃連消痞效石速，左金丸子功非常。</p>
<p>諸濕腫滿起中宮，補中行濕應為宗。腰以上腫微汗之，以下小便先要通。庸醫不識其中趣，妄將下藥而利水。若還利水氣益脫，祻不旋踵必可許。先師立法俱班班，健脾行濕尤緊關。八物五苓為佐使，中滿分消立可據。沉數渴煩須是熱，沉遲不渴定為寒。浮洪緩大可延生，沉細微小無安日。</p>
<p>積塊須知有數因，死血積痰五臟分。右積中痰左邊血，肺之積氣名息奔。心是伏梁脾痞氣，肝為肥氣腎奔豚。咸以軟之堅可消，開痰行氣為之君。腹中痞積而痛者，香稜丸子尤宜親。千金消石五稜輩，諸積殊途仔細尋。滷砂巴豆消肉積，葛曲遂芫酒積釋。水蛭虻蟲破血癥，木香檳榔氣可闢。甘遂牽牛水積消，礞石巴豆除食積。濕痰之積滾痰丸，倒倉總可蠲諸積。</p>
<p>虛勞之病細推詳，須分各部及陰陽。房室內傷多致此，五勞七損皆能傷。脈數無力損真陰，大而無力傷於陽。陰虛四物加知柏，補陰丸子真奇方。四君子湯專補氣，補中益氣治勞傷。上焦陽弱用天雄，下部須還附子攻。髓竭當歸生地黃，肺弱五味天門冬。心怯茯苓上黨參，肝虛須以天麻芎。元氣不足用參耆，白朮芍藥堪調脾。參草陳皮能補胃，八物陰陽總得宜。若不受補肌肉脫，脈細而數空扶持。</p>
<p>諸蟲所生由濕熱，臟肺因虛故侵蝕，二陳若練治蛔蟲，集效風蟲須斂跡。</p>
<p>惡熱之候為虛定，惡寒非寒明熱證。亢則害，承乃制，火極似水尤分明。熱之而寒取之陽，須知抑火為良方。寒之極熱取之陰，壯水之主鎮陽光。陰平陽秘春常在，水升火降何由傷。</p>
<p>諸風所發多掉眩，氣血痰火皆能然。數熱澀血實滑痰，氣虛脈大補之全。痰以二陳芩術方，風則半夏天麻湯。氣虛參朮加芩連，血弱劑以芎歸強。</p>
<p>頭風多因痰所為，滯氣與風血氣虛。痛而甚者火必多，四氣外傷亦要推。清空膏治諸頭痛，血如弱者宜芎歸。勞役補中益氣湯，實熱便堅承氣良。痰厥而痛吐之愈，四氣隨宜仔細詳。</p>
<p>頭風在右為痰熱，左則為氣兼少血。風則荊防薄荷宜，血用四物加酒柏。</p>
<p>諸般之痛有何方，立安丸子尤宜吞。</p>
<p>脅痛因痰與死血，或由太盛肝氣實。肝火而痛左金丸，當歸龍會尤宜啜。悲憂所致用何方，枳殼煮散為良訣。緊細而弦怒里來，沉者澀者因氣鬱。</p>
<p>氣血沖和體安逸，周流一身無暫息。火邪傷肺氣必升，熏蒸清道多痞塞。七情寒熱為九氣，喜則氣緩怒則逆。寒乃氣收驚乃亂，勞為氣耗思為結。悲則消息恐則下，曾和拱者氣必泄。百病皆因氣所生，軒岐靈素分明說。怯者即著而成病，若非補之何者徹。正氣天香流氣輩，木香檳榔丸要訣。</p>
<p>諸疝之病七般看，水筋血氣弧㿗寒。睪丸連小腹作痛，須知此病原於肝。沉緊滑大擬為虛，緊持而弦冷所於。挾慮必須加參朮，要藥宜修守效丸。梔子烏頭調疝氣，丁香練實服之安。</p>
<p>腳氣有熱風寒濕，亦有食積注而鬱。遲緊為寒微滑虛，風則為弦濡為濕。牢弦乃實致困憂，緊怒細悲數是熱。濕居下者要升提，腳氣衝心宜四物。東垣健步疾如飛，本經加減功尤烈。</p>
<p>痛風風熱與血虛，濕痰瘀血亦要推。或血受熱沸而騰，寒熱搏之因痛為。由於風者續命湯，濕痰二陳羌術祛。風濕防風羌獨活，四物桃仁血可除。風術流注痛無常，虎骨散子功自殊。</p>
<p>痿證多因於火起，火邪既旺必傷肺。肺傷則木氣凌脾，脾氣受傷而痿矣。瀉南方則肺金清，補北方兮心火制。與風相類宜分別，慎勿混同而論治。風固外感要發散，痿屬內傷宜補劑。食積妨礙亦有之，濕熱與痰兼血氣。健步之功濕熱宜，濕痰二陳竹瀝濟。血虛四物補陰丸，氣弱四君芩柏類。茯苓滲濕湯尤宜，補腎虎潛皆可議。</p>
<p>耳聾痰火與氣閉，少陽厥陰多熱熾。脈洪而實熱為多，浮而盛者為風治。澀而濡者虛之的，間痰散風通聖釋。大病之後急滋陰，必以四物為之則。</p>
<p>目病風熱與血少，腎虛神勞視漂緲。如暴失明醫昏澀，暴散眵淚屬於表。昏澀內障腫散大，久病黑花里須曉。補水安神治於衰，風熱散之調在表。不能近視返遠視，陽氣不足宜定志。遠視弗克近卻明，此陰氣虛宜地芝。滋陰地黃療陰虛，昏醫撥雲而退翳。風熱則宜瀉青丸，還睛丸子尤宜利。</p>
<p>口中之疾亦數端，心熱口苦脾熱甘。腎熱則咸胃熱淡，肺熱心兮肝熱酸。由來感病主唇瘡，此蟲食臟瀉心湯。下唇有瘡號曰狐，黃芩湯主食其肛。實熱而來涼膈散，理中湯療中氣傷。急者又宜加附子，各經去熱隨宜量。</p>
<p>喉舌之疾多痰火，雖分緩急與多少。微而輕者緩藥之，急而甚者砭之可。若還喉痹吐為奇，桐油射干急可施。實大硝石荊黃連，虛以四物加參耆。雄黃解毒疾如雷，金玉鑰匙立便開。</p>
<p>牙齒或痛或出血，陽明經病須分別。或有風兮或有濕，或是蟲兮或是熱。實熱承氣入黃連，蟲則色變熏之煙。大寒犯腦白芷散，牙齦腫者砭之全。</p>
<p>吐衄之血由於熱，錯經妄行而久溢。輕則身涼又脈靜，重則脈大而身熱。大要涼血與行血，補陰抑陽乃仁術。四物梔子及童便，犀角地黃湯可啜。急則治標十灰散，茜根散子治之訣。</p>
<p>咳唾之血亦惡證，血虛身熱又痰盛。雞蘇散治吐中血，八物咳血靈似聖。咯血四物地黃膏，聖餅七珍功立應。</p>
<p>痰涎之血出於脾，葛根甘草芍黃耆。舌上無故出血者，摻以槐花莫待遲。溺中來者亦因熱，發灰四物兼山梔。小薊飲子效雖速，牛膝芍藥功尤奇。</p>
<p>脫肛是熱氣血虛，氣弱參耆與芎歸。血虛四物加黃柏，香荊吊腸應自除。</p>
<p>下血皆因熱與虛，梔子阿膠和四物。虛者必佐以乾薑，風邪下陷升提訣。</p>
<p>痔家為病起何因，食飽皆因傷其筋。筋脈橫解致賜僻，木乘火勢刑肺金。風熱燥濕四物多，宜以苦寒加辛溫。升麻枳殼槐角歸，黃連生地與參苓。加減四物治腸風，當歸和血散通神。</p>
<p>自汗濕熱與氣弱，若是陰虛盜汗作。自汗參耆佐桂枝，盜汗六黃湯要藥。</p>
<p>厥證亦因氣血弱，外感熱痰因致疾。數熱弦痰外感浮，血虛脈大微氣涉。陽衰於下厥則寒，陰衰於下熱之厥。四物君子分氣血，要知承氣偏除熱。痰以白朮竹瀝攻，外感解散加薑汁。寒而厥者逆物湯，八味順氣調氣厥。</p>
<p>癇症之作驚與痰，醫師何必五般看。尋火與痰分多少，蔞升半夏及黃連。痰之甚者先宜吐，安神又要平其肝。</p>
<p>上消心火爍肺金，大小便稠必多飲。中消在胃偏多食，小便黃赤古經云。下消屬腎火炎炎，便濁如膏一似煎。養血養筋和降火，生津甘露益其源。上消白虎加人參，中以承氣三黃吞。下消降火補真陰，六味地黃丸自安。</p>
<p>帶濁之病由濕熱，因虛與痰赤屬血。色如白者氣中來，必須先去中宮濕。胃中濁氣滲膀胱，二陳二術升胡湯，或可吐以提其氣，珍珠粉丸亦妙方。思慮傷心而致者，瑞連丸子尤相當。</p>
<p>夢遺之病熱相煎，精滑須知濕熱兼。氣血因虛難固守，熱則流通理自然。虛者益之宜八物，定志寧神堪保安。帶濁之法亦相因，樗根丸子塞其源。</p>
<p>淋家之候如何訣，氣血俱虛兼熱結。解熱利便梔子仁，四物調氣芎歸血。死血淋者牛膝膏，二陳吐以伸痰熱。</p>
<p>小便若閉氣血弱，氣結熱痰亦要作。皆須吐以提其氣，氣升水降安其霍。氣服參耆後吐之，血以四物芎歸著。痰則二陳加木通，濕熱而淋八證藥。</p>
<p>秘結因虛與風濕，火寒津少兼氣結。脾約之病如斯論，大便秘而小便頻。胃中伏火潤腸丸，脾約開脾結自伸。麻仁丸子理風疾，承氣下之消實熱。津液不足地黃丸，七宣桃仁實之設。還虛治秘厚朴湯，巴豆牽牛毋妄訣。</p>
<p>疸因濕熱積之因，猶如盒曲致而成。醫者不須分五種，大小溫中較重輕。胃苓滲濕亦可用，汗下通便仔細評。</p>
<p>痛癢瘡瘍心火系，膏梁之變瘡毒起。陰陽相滯失調和，榮氣不從逆肉理。淺則為癰深則疽，要審經絡分明治。腫瘍內托亦可消，潰者大補其血氣。黃連消毒五香等，奪命散子皆良劑。</p>
<p>癩受風毒殺厲氣，酷烈暴悍真堪畏。大率多在陽明經，胃與大腸受其氣。氣之受者上體多，血如致傷居下體。通天醉散效須奇，堅心守之方可治。</p>
<p>血枯經閉怎生通，四物更入桃仁中。體脂滿閉而然者，導痰又入黃連芳。肥人痰多佔血海，蒼朮附芎功亦倍。過期四物入參耆，陳皮白朮升麻會。肥而白者痰為殃，蒼朮星附二陳湯。不及期者血之熱，四物再加芩連強。將行而痛血之實，桃仁連附紅花方。行後作痛氣虛入，四物湯調痛自康。若或過期又色淡，二陳佐以芎歸昌。過期不止用固經，臨機應變醫之良。陰虛陽博為崩中，虛則下溜熱流通。急則治標石灰丸，參耆四物為之宗。</p>
<p>妊娠養血與清熱，四物條芩兼白朮。一經產後體即虛，必須大補於血氣。惡寒發熱病來侵，氣血之虛亦要分。右手脈虛宜補氣，左如不及血上尋。若還腹痛由何因，或為食積血不通。飲食致傷消導之，使用保和痛自融。</p>
<p>小兒之疾最難醫，口不能言辨是非，惟在揣摩而推測，聽聲察色探其微。虎口脈紋辨吉凶，三關通度無安日，紫脈為風紅感寒，青則為驚白是疳。若見黑紋為中惡，應知黃色困脾端。大率肝與脾病多，驚疳吐瀉食不和。父母無知務姑息，養之不謹斯為痾。</p>
<p>痘瘡之病因何起，胎養穢血之毒氣。或為乖氣之所觸，邪氣與毒相交熾。榮氣不足內理逆，痘疹由是而生矣。毒之輕者痘必稀，穢重液者瘡尤致。若還稠甚急解毒，人參敗毒犀角地。色之黑者為血熱，白者須知當補氣。中黑陷而外白起，氣血相兼細調理。初起自汗亦不妨，濕熱熏蒸之所致。瘡如濕者宜去濕，防風白芷尤宜制。將成就兮色又淡，四物紅花還可議。色之紫者宜涼血，芩連升葛連翹例。紅點若見忌葛根，虛實卻宜分表裡。吐瀉少食里必弱，陷伏倒靨表裡虛。治虛而癢者宜實表，黑陷倒靨燒人屎。錢氏則用柏祥丸，後人代以宣風類。大如聖散療咽疼，木香理中調吐利。泄瀉甚則豆蔻丸，毒氣內伏宜托裡。四君補氣乃仁術，補血須知宜四物。涼血解毒是何方，酒炒芩連毒自釋。糞清厥冷與吐利，陷伏沉細為寒擬。洪數渴秘兩腮紅，齊勇掀撥胡熱熾。木香異攻雜妙訣，卻宜仔細分寒熱。陰陽虛實粲然明，萬舉萬全無一失。</p>
<p>驚風亦有數般分，慢驚脾弱補而溫。急則痰熱宜涼瀉，慢則面青熱不侵。若植身溫而又赤，須知此乃驚之急。急則奪命與抱龍，慢則安神與參朮。錢氏吐瀉論玄微，五補五瀉明無疑。若欲調脾平胃散，參苓白朮憑君施。搜輯病歌雖鄙言，將為先後承其傳。間附己意或疑闕，以俟同道後來賢。</p>
<p>七方之法乃良訣，大小奇偶復緩急。君二臣四偶之法，君一臣二奇之術。君一臣三大方劑，小方君一而臣二。大方劑大頓服之，小方劑小徐徐濟。補上治上緩之宜，補下治下急之利。緩者奇治三四方，奇乃單奇之取義。偶則相合如配偶，急則攻下而氣厚。奇方之數則為陽，惟以發表為良方。偶方之治可攻裡，大方大病則相當。症之小者方亦小，若與大者反成傷。心肺位近宜制小，肝腎制大為其綱。主病之藥為之君，應君之劑則為臣。應其臣者為佐使，君臣有序方為珍。十劑之妙尤玄秘，宣則可以宣壅痞。補可去弱虛為宜，通則可以通其滯。劑之輕者可以實，瀉者可以通其閉。怯者須以重之推，著者必以滑之意。濕以潤燥澀固脫，燥可去濕更何說。熱則治寒宜桂附，寒能治熱硝黃設。辛甘發散氣陽參，酸苦湧泄陰味別。攻裡應宜以寒劑，發表須知不遠熱。必以歲氣為之主，毋發天和乖其理。更參愛惡之性情，是乃立方之大旨。</p>
