<header data-type="book">
<h1>扶壽精方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>吳旻</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1534">公元1534年</data></dd></div>
<div><dt>底本</dt><dd>明萬曆元年刻本（<a href="https://lccn.loc.gov/2012402637">美國國會圖書館藏本</a>）；《珍本醫書集成》第十一冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521061">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>重刻扶壽精方序</h1>
<p>人生修短，有數存焉，壽果可以藥石扶與？精氣為物，壽之元也。惟所稟有強弱，故修短因之，藥石果能增損於其間與？然人有生而精氣充盈，自信為壽徵而忽以疾夭；亦有生而羸弱，常自懼短折而卒得以壽終者。所稟強弱，抑有不足信與！蓋得其養者長，失其養者消。孟軻氏山木之喻，盡之矣。然則藥石固養生之必不可廢者也。水峪曹公，於公暇出一方書示余與諸僚友閱之，乃《扶壽精方》。方甚簡易，僚友有擬其非甚奇秘者。施子曰：用藥如用兵，兵有奇正，藥亦如之，惟用各有所宜耳。人忽七情內傷，六氣外感，厥疾暴發，呼吸決存亡者，匪劫以奇方，信不可瘳。若人居無大恙，時以奇方投之，則精氣反為沸亂，未有不速其斃者。然則此方真扶壽之正道也。山木之壽，雨露培之；夫人之壽，藥石扶之。信非誣與？諸僚友曰：善。曹公復慮舊刻模糊，久將湮滅而無以壽斯民也，乃謀重梓之以廣其傳云。</p>
<p><u>萬曆元年癸酉五月五日恆陽山人施篤臣書於東藩經濟堂</u></p>

<h1>重刻扶壽精方序</h1>
<p>春臺子曰：余守淮安，嘗作壽民亭於獄左。獄之系人，即清之亦不下三四百，故群醫之良者以治，藥餌方書，余處備焉。獄覺生生，余去淮三年矣，未知斯意猶存否？然余心固耿耿不忘也。今余承乏三關，爰處於代，代寡良醫，方書亦鮮，軍若民奚啻數萬，病者待命於天，余無以壽之。偶於致政亞卿謝畹溪公處，獲見《扶壽精方》，方甚易簡，隨試輒效。第察於字者皆可稽而用焉，乃捐俸壽之梓人，多印善本，廣布三關之地。昔人云：八荒開壽域。蓋聖人自壽以壽天下，余當今聖人封疆之臣也。代亦八荒之一耳。茲方之傳，醫用以良，夭用以免，代之民其為壽域之民也夫。</p>
<p><u>嘉靖癸丑孟冬賜進士出身中憲大夫奉敕整飭三關兵備山西按察司副使海濱趙大綱撰</u></p>

<h1>重刊扶壽精方序</h1>
<p>近山子曰：嘗聞之司馬公，達則為良相，不達為良醫。夫豈不義而互言之。蓋造命於相，寄命於醫，匪良則病夫人。人一也，道之不同，何啻十百？而所以行吾之仁無少異焉，此心此理同也。竊見曹輩獲一試方，珍如拱璧，蘊櫝索價。夫人壯而行之，將以醫天下而期躋人於壽域，匪直利執一方而已。況南北稟賦不同，氣運感召亦異，故東垣、丹溪，同方異治，率有足徵者。豈可恃一人一時之效，遂泥以眩人耶！粵自軒岐及俞、華、盧、扁諸名家，盡平生所得，傾之載籍，惟恐人不之知，亦獨何哉？愚自結髮事師讀書外，漫無所嗜，惟好諸方事，亦以切人實用，而事親者不可不知。積之見聞，匯以成書，雖不敢自擬於醫之良，將以廣吾心焉耳矣！嘗欲鋟梓，公之若人，以裨採而力弗逮，假因手錄備忘，若更充之歲月，或有進於此者俟之。</p>
<p><u>嘉靖甲午端一日江夏近山吳旻書於仰北堂</u></p>

<h1>諸虛門</h1>
<p><u>太極丸</u>　人之五臟，配天之五行，一有不和，是以為病。藥有五味，各主五臟，常欲適調，因配合諸味，使人精、氣、神、心、肺、腎，保和無遺。生化之源既清，邪不能入矣，故曰太極。</p>
<p>黃柏（屬水滋腎，苦以堅精，去皮，鹽酒浸三日，微炒褐色，淨末三兩六錢）　知母（屬金主潤肺，苦以降火，佐黃柏為金水相生，去毛酒浸一宿，微炒，淨末二兩四錢）　破故紙（屬火收斂神明，能使心包之火與命門之火相通，故元陽堅固，骨髓充實，澀以治脫也。新瓦炒香，淨末二兩八錢）　胡桃仁（屬木潤血，血屬陰，陰惡燥，故油以潤之，佐故紙為木火相生。古書謂黃柏無知母，故紙無胡桃，猶水母無蝦也。去皮研爛，三兩二錢）　砂仁（屬土醒脾開胃，引諸藥歸宿丹田，香而竄，和五臟中和之氣，如天以土為中氣也。去殼一兩。分作二份，五錢生用，五錢同花椒一兩炒香，去椒不用）</p>
<p>上各製為細末，煉蜜丸，梧桐子大，早夜沸湯茶酒任下五七十丸，服至三年，百病漸消，終身服之無間，可以為地仙矣。</p>
<p>一方加橘紅（鹽水拌炒）　半夏（沸湯泡七次，銼片曬，為末，薑汁拌為餅，陰乾）</p>
<p>上合前五味米糊丸，名加味太極丸，謂神仙秘方。</p>
<p><u>加味四制黃柏丸</u></p>
<p>黃柏（去皮一斤，內四兩鹽酒浸，四兩米泔水浸，四兩童便浸，四兩初生男乳浸，日曬夜露，取日精月華之氣，合陰陽造化之功）　知母（去毛皮，鹽酒浸，曬乾，一兩）　人參（五錢）　白茯苓（去皮）　白朮（各一兩）　甘草（三錢）　當歸（酒浸）　川芎（各一兩）　白芍藥　熟地黃（酒拌蒸，各二兩五錢）　山茱萸（酒浸，肉一兩）</p>
<p>上為末，煉蜜丸，梧桐子大，每服三十丸，空心酒下，此坎離丸，四物四君子湯料也。</p>
<p><u>加味坎離丸</u></p>
<p>厚黃柏（八兩，內二兩酒浸透，二兩鹽水浸，二兩人乳浸，二兩蜜浸，俱曬乾炒赤）　知母（八兩，同上制）　熟地黃（八兩，白茯苓四兩打作小塊，砂仁二兩，三味同入絹袋中，好酒二壺煮乾，去茯苓、砂仁，止用地黃）　當歸　白芍藥（各酒浸一日）　川芎（大者水洗，各四兩）</p>
<p>上銼片，合勻鋪開，日曬夜露各三度，白蜜一斤八兩，重湯內煉成珠為丸，空心鹽湯冬月溫酒送下。生精養血，升水降火，王道之劑。</p>
<p><u>滋陰清化丸</u>　滋化源，清痰火。</p>
<p>懷慶生地黃（二兩，酒浸，竹刀切，搗）　天門冬（二兩，去皮心，曬）　陳皮（去白，鹽水拌，微炒）　天花粉　貝母　熟地黃（酒浸，竹刀切）　麥門冬（酒浸透，去心，搗）　薏苡仁（絹包，同糯米砂鍋內蒸一炷香，去米不用，曬乾）　白茯苓（去皮，得人乳浸透更妙）　乾山藥　甘枸杞　白芍藥（酒炒）　川玄參（各一兩）　五味子　生甘草（各五錢）</p>
<p>上為細末，煉蜜丸，彈子大，每服一丸，空心臨睡不時津液噙化，沸湯調下亦可。</p>
<p>原方有黃柏、知母，甚苦，不利於噙，姑除之。益以陳皮、天花、貝母，使理痰氣也。</p>
<p><u>班龍丸</u>　除百病，補百損，壯精神，養氣血，大有奇效。此方製法與舊本不同，久服成地仙。</p>
<p>聞昔蜀有道人，酣歌酒肆中。尾閭不禁滄海竭，九轉靈丹都漫說，惟有班龍頂上珠，能補玉堂關下血。真人許仲源索方以傳。</p>
<p>鹿角霜（一斤，製法：用新鮮鹿角二三對，鋸作寸長，東流水浸七日刮去垢，每斤用楮實子、桑白皮、黃蠟各二兩，杜仲三兩，共入鍋炒或丸器中。另以東流水淹過一寸，覆以木蓋，蓋中開一孔如雞子大，沿鍋口並孔封以濕紙，常以沸湯一瓶在火側，覺鍋內水少，從孔中以漸注之，煮三晝夜，慢火常令微滾，煮足取角以指甲剝之成粉為度，薄切片曬乾研末）　菟絲子（無灰酒浸春秋約一宿半，夏一宿，冬二宿，蒸熟曬將干，輕杵搗去皮更曬乾，揚皮淨碾為細末，半斤）　柏子仁（京城藥肆中有去殼淨仁，如無淨仁，中秋日採一二斗，水洗淨，仍以水浸一日，連殼水磨成漿，布絹袋濾，挼汁盡，去殼渣，掠取水面浮油聽用，余澄清傾去水，存結底者取曬乾半斤）　生地黃（半斤，酒浸三日，砂鍋木甑蒸，自卯至午熟透和酒搗極爛為膏）　鹿角膠（煮角汁水濾去前藥渣，入白蜜五兩，柏仁油砂鍋慢火熬半熟，入地黃膏攪熱勻，再熬成膠貯磁器聽用）</p>
<p>上各如法制，將膠火上化開，如膠稠硬，量入無灰酒一二兩，膠得法不必用酒也。合前末搗千餘下，丸如梧桐子大，每服七八十丸，空心臨睡鹽湯酒任下。</p>
<p><u>班龍二至丸</u></p>
<p>一方霜半斤，黃柏人乳拌，慢火焙十五兩，生熟地黃、天麥門冬酒潤各四兩，當歸二兩。如陽痿加鹿茸三錢，煉蜜丸，神效。</p>
<p>霜膠（各一斤）　黃柏　知母（各酒炒黃色，各半斤）　生熟地黃（酒浸一宿，各四兩）　天麥門冬（酒浸去心各四兩）　何首烏（去皮，舂如彈子大，人乳浸一次，蒸曬各一次，如此九次）　當歸（酒洗）　白茯苓（去皮為末，水淘去筋膜，各二兩）</p>
<p>上為細末，煉蜜丸，梧桐子大，空心酒鹽湯任下。</p>
<p><u>菊花丸</u>　性平，補諸虛，除諸疾，明目滋陰，常服血氣永不衰，鬚髮永不白。駐顏益壽，功效不可盡述。</p>
<p>甘菊花（家園菊黃白色，盛開時採，陰乾末，六兩）　秦當歸（去蘆頭梢尾，酒洗，焙乾為末，三兩）　地黃膏（採生鮮者，取自然汁，每斤入蜜二兩。瓦器內慢火熬成膏。忌銅鐵。六兩）　牛膝（淮上出者佳，川中者次之，須肥軟堪用。酒浸透，焙乾為末）　覆盆子（四五月栽秧時熟，紅色味甘者，俗名栽秧苞，烏黃者非是，各四兩）</p>
<p>上煉蜜合膏丸，如梧桐子大，每服八十一丸，空心臨臥各一服，鹽湯酒任下，忌三日白萊菔、豬血、牛血、木耳。凡初服藥皆忌，未滿日、遊禍日，犯之有害。</p>
<p><u>二至丸</u>　調養元氣，滋益子息，方名取冬至一陽生，夏至一陰生之義也。其效如神。</p>
<p>懷地黃（肥大沉水者，酒浸，九蒸九曬，竹刀切）　白朮（無油者，麵炒）　敗龜板（酒浸一宿，酥炙脆，石器搗碎）　黃柏（厚者，酒浸春秋一日半，夏一日，冬三日，炒褐色，各三兩）　知母（肥大者，酒浸一宿）　當歸（肥大者，酒洗）　生地黃（肥大者，酒浸，軟竹刀切，曬乾）　山茱萸（鮮紅者，六兩，水潤，剝肉去核，各二兩）　白芍藥（酒浸一時，銼炒）　白茯苓（堅白者，去皮筋）　人參（肥白人如數，蒼黑人減半）　綿黃耆（蜜炙）　山藥（白而無皮，手可粉者）　廣陳皮（水潤，去白）　五子（肥大者）　甘枸杞　破故紙（炒）　菟絲子（酒浸一宿，蒸熟，杵去皮，曬乾）　杜仲（酒浸，炒去絲）　牛膝（肥大者，酒浸一宿）　蓯蓉（去甲心，酒浸一宿，酥炙，黃竹刀切）　虎脛骨（酥炙黃，各一兩）</p>
<p>上為細末，煉蜜丸，梧桐子大，每服八十丸，或百丸，無灰酒鹽湯不拘時送下。</p>
<p><u>七珍至寶丹</u>（又名烏須健陽丹）</p>
<p>何首烏（赤白各一斤，濃米泔水浸一日，磁瓦刮去皮舂碎，黑豆五升，同牛膝三味同蒸）　破故紙（半斤，炒香為末）　牛膝（川中肥大者，去蘆，半斤，砂鍋木甑一層豆一層烏膝，蒸二炷香，以黑透為度，去豆不用）　當歸（半斤，酒浸一日，搗爛曬乾）　菟絲子（半斤，酒浸一日，蒸二炷香，取出石臼舂去皮，曬揚皮淨，復以好酒浸二日，曬乾，搗爛為末）　枸杞子（半斤，酒洗曬乾）　茯苓（赤一斤，去皮，舂如圓眼大，牛乳五升浸透訖，方曬乾。白一斤，去皮舂如前，人乳五升浸透，曬乾。凡用乳須作兩三次則易透）</p>
<p>上七味皆勿犯鐵，為極細末，煉蜜和勻，於石臼內木石杵搗千餘下，每一丸重一錢二分，每服一丸，日進三次，空心酒下，午間薑湯，臨睡淡鹽湯，必如此引，不可錯亂。久服漸漸加大，初服三四日，小便多或雜色，是五臟中雜病出，二七日唇紅生津液，再不夜起，若微有腹痛，勿懼，是搜病也。三七日身體輕便，兩乳紅潤，一月鼻覺辛酸，是諸風百病皆出，四十九日補血生精，瀉火益水，強筋骨，黑鬚發，此與二至丸，小異。</p>
<p><u>延壽丹</u>　七寶丹少當歸、枸杞，加生熟地黃，丸樣服引治效，皆七寶同，煉蜜滴水成珠，取俟三日火毒退，方合服。</p>
<p>赤白何首烏（鮮者，竹刀刮去皮，各淨一斤，切片。如無鮮者，用乾者米泔浸一宿，以磁瓦片刮皮，舂作彈子大）　牛膝（去蘆淨，半斤，用黑豆三升，同二烏木甑一處蒸一日，取牛膝去心，共搗成泥，曬乾為末）　菟絲子（半斤，酒浸蒸熟，舂去皮，曬乾揚淨，復舂為末）　白茯苓（去皮，舂作彈子大，一斤，用人乳五升浸透，蒸透熟）　破故紙（半斤，炒香為末，外加）　生地黃（二斤，內一斤酒浸，九蒸九曬，一斤止酒浸透用）　赤茯苓（去皮，一斤，用牛乳同前制）</p>
<p><u>胡麻延壽丹</u>　水火既濟之妙，坎離交媾之功，備載方中。祛宿病，生新血，百日內鬚髮返黑，耳目聰明，身體步健，保生延年，優入仙境矣，唐劉淵夢中神授。</p>
<p>春季三月用胡麻　秋石　何首烏　生地黃　粉甘草（各四兩）　秋季三月前三味（各四兩）　熟地黃（四兩）　甘草（一兩）　夏冬兩季前三味（各四兩）　白茯苓（四兩）　甘草（一兩）</p>
<p>上為細末，每一料蜜一斤，煉蜜丸，梧桐子大。空心、午間、食遠、臨臥各一服，好酒下。</p>
<p>制秋石法：用童便兩三桶，以一缸盛之，入新汲水一桶，柳木棍一條，攪千餘回，澄至午後，慢去上面清水，約大半桶，復入水一桶，仍攪千餘回，至次早午後亦然，至七日將清水傾盡，缸底白沫，取試無穢氣，取起杉柏木板上，以綿紙攤曬乾成粉。如穢不除，更注水攪之。粉用人乳拌作餅蒸，曬乾。</p>
<p><u>大造丸</u>　余每驗河車一制，後其子多不育，若卻我之疾，損人之子心亦忍矣。因注之俟用者審焉，或云水煮熟用不損子。</p>
<p>紫河車（一具，男用男胎者，米泔水洗淨，新瓦上焙乾，用須首生者佳，或云砂鍋隨水煮乾搗爛）</p>
<p>夫紫河車者，天地之先，陰陽之祖，乾坤之橐籥，鉛汞之匡廓，胚腪將兆，九九數足，我則載而棄之，故謂之河車。歷驗篇中，名曰混沌皮。釋氏書謂佛袈裟，制服有接命之功。男羸女弱，素無孕育者，服此成胎延壽，咸有左驗。養生書云：病蛾無能繭之蠶，蕊破無結實之果。蓋藉此以返本還元，以人補人之意。非金石草木，夜霜曉露之比。嘗制此方，惠諸士夫，每獲生子固陽之效。按：河車，首生男孩胎衣也。然兒孕胎中，臍繫於胞，受胞之養，胞系於腎，受母之蔭。丹溪云：父精母血相合而成。乃造化自然生成之物，真元氣也。用此栽接，至理存焉。古治虛勞，甚者用之。但非可常得之物，且或有所嫌忌，故人不之用耳。一人稟弱，陽事痿，因以此味配他藥為一方，服之不二料，體貌頓異，嗣生數子。一婦年近六十，衰憊日侵，用此味加補血藥作丸服即效，自後自制常服，壽至九十，強健如壯。一人大病後，久不能作聲，此藥服之數次，呼聲頓出。一人足痿不任地者半年，服此一料，病去其半。用於女人尤妙，豈其本所自出，而各從其類也。若多女少男，夫婦咸服，輒更多男。病革垂死，一服可更延一二日。大抵補益妙用，百發百中，自有不期然而然者矣。久服卻病益年，功奪造化，豈曰小補云乎？故以大造名。配合諸藥，亦有至理，並注各味之下。</p>
<p>敗龜板（年久者，童便浸三日，酥炙黃，二兩）　黃柏（去粗皮，鹽酒浸，炒褐色，一兩五錢）</p>
<p>邪火止能動欲，不能生物，俗醫用藥峻補，無益有害，此二味補陰補腎，為河車之佐，沖和而無弊也。</p>
<p>杜仲（酥炙去絲，一兩五錢，主腎虧精損，腰痛餘瀝）　牛膝（去苗，酒浸，曬乾，一兩二錢，滋陰壯陽，益精填髓，止發白，除腰脊腿痛，引諸藥下行為使）</p>
<p>以上四味，足少陰經腎藥，古方加陳皮名補腎丸，配河車名補天丸。</p>
<p>懷生地黃（肥大沉水者，二兩五錢，內入砂仁末六錢，白茯苓一塊重二兩，稀絹包，同入銀罐內，好酒煮七次，去茯苓不用。蓋地黃得茯苓、砂仁、黃柏則入足少陰腎經，名天一生水）　天門冬（去心，一兩二錢）　麥門冬（去心，一兩二錢）　夏月加五味子（七錢）</p>
<p>上四味，手太陰肺經藥，二冬保肺氣，不令火刑，降肺氣，生腎水，其性有降無升，得人參一兩，則補而降。本草云：主多生子以此也。二地二門人參名固本丸，麥門五味人參名生脈散，處方配合，要之有道。大抵以金水二臟為生化之源，用補肺腎二藥，及人參補氣，地黃補血，合河車以成大造也。上除地黃另用石木舂一日，余共為末，和地黃膏，再加酒米糊，如小豆大，每服八九十丸，空心臨臥鹽湯沸湯薑湯任下，寒月好酒下。婦人加當歸二兩，去龜板。男子遺精，婦人帶下，並加牡蠣煅粉兩半。</p>
<p><u>還元丹</u>　此劑千益百補，服一月自覺異常，功效不可盡狀。</p>
<p>何首烏（一斤，鮮者止用竹刀刮去皮，乾者米泔水浸軟刮皮，四制忌鐵，砂鍋或瓦器盛酒、生脂麻蒸一次，曬乾，羊肉一斤蒸一次，曬乾，酒拌蒸一次，曬乾，黑豆蒸一次，曬乾。一方黑羊肉一斤，黑豆三合，量用水，上加竹炊笓置藥蓋蒸熟透，曬乾）　生地黃　熟地黃（各三兩，酒浸，焙乾，各取末一兩）　天門冬　麥門冬（各四兩，米泔水浸，去心，各取末一兩）　人參（一兩，取末五錢）　白茯苓（去皮，三兩，打成塊，酒浸，曬乾）　地骨皮（三兩，童便浸，曬乾，各取末一兩，俱忌鐵）</p>
<p>上取首生男孩乳汁六兩，白蜜十兩，煉同一器中，合前末為膏，磁氣貯，勿泄氣，不拘時服一二匙，沸湯溫漱。如首生乳難得，但凡人乳皆可。</p>
<p><u>草還丹</u>　益元陽，補元氣，固元精，壯元神，此延年續嗣之至藥也。</p>
<p>山茱萸（酒浸，取肉一斤）　破故紙（酒浸一日，焙乾，半斤）　當歸（四兩）　麝（一錢）</p>
<p>上為細末，煉蜜丸，梧桐子大，每服八十一丸，臨臥酒鹽湯下。</p>
<p><u>紫霞丹</u>　固陽注顏，益精填髓，起痿延年。世傳廣成子彭祖，皆藉此不老。紫霞真人亦由此得道。</p>
<p>肉蓯蓉（酒洗，去甲並內白膜，曬乾，七錢）　白茯苓（堅白無筋者，去皮）　生地黃（酒浸蒸曬，各三錢）　鹿茸（慢火酥炙三次，另研）　雄雀腦（七個）　雌雄烏雞肝（二具，慢火瓦上焙）　雄雞腎（二付，酒沃，慢火炙乾，另研）</p>
<p>上為細末，先將蔥白十兩，淨苧麻葉包裹，外用綿紙三四層，水濕固之。火上煨熟，取起搗爛，合前藥末杵千餘下，丸如梧桐子大，曬乾。以雞子十二枚，每頭開一小孔，去清黃淨，盛丸在內，以紙殼封其孔，另將雞子四枚，同前十二枚作一窩，與一伏雞抱。至四枚小雞出為度，貯磁器內，用麝少許，鋪器內底，蓋固封養七日，方服。每空心鹽酒湯下十丸，乾物壓之。久久精自不泄。欲生子以青黛、甘草、陳壁土，調水飲之。</p>
<p><u>秘方千金種子丹</u>　此方服之，令人多子，並治虛損、夢遺、白濁、脫漦。</p>
<p>沙苑蒺藜四兩，淨末如蠶種，同州者佳，再以重羅羅，二兩極細末，二兩粗末，用水一大碗，熬膏，伺候。</p>
<p>蓮鬚（極細末四兩，金色者固精，紅色者敗精）　山茱萸（極細末三兩，須得一斤，用鮮紅有肉者佳，去核取肉為細末）　覆盆子（南者佳，去核取極細末，二兩）　雞頭實（五百個去殼，如大小不一等，取極細末四兩）　龍骨（五錢，五色者佳，火煅。煅法：以小砂鍋將龍骨入鍋內，以火連砂鍋煅紅，去火毒方用。）</p>
<p>上用伏蜜一斤煉，以紙黏去浮沫，數次無沫，滴水中成珠者，伺候，止用四兩。將前六味，重羅過，先以蒺藜膏和作一塊，再入煉蜜四兩，入石臼內搗千餘下，方可。丸如黃豆樣大，每服三十丸，空心鹽湯送下。忌欲事二十日，此藥延年益壽，令人多子，不可盡述。</p>
<p><u>烏雞丸</u>　治童子室女身發熱，吐血痰出，盜汗，少飲食，四肢無力，大人亦治。武進唐國秀方。</p>
<p>人參　黃耆　白朮　生地黃　當歸　白芍藥　秦艽　陳皮　軟柴胡　銀柴胡　前胡　胡黃連　黃芩　地骨皮　麥門冬　貝母　桑白皮　五味子　黃柏　知母（各一兩）</p>
<p>上銼細片，用烏骨白雞，耳有綠色，腦有金色者更佳。重一斤者，麻子喂七日，以索縊殺，去毛並內雜，納藥。用綠豆一斗五升浸濕鋪入小甑內，三寸厚。又將青蒿四兩襯之，放雞在上，仍以綠豆蓋之。蒸爛熟，將雞拆碎，同藥曬乾，磨細，湯浸蒸餅，丸如梧桐子大，空心米湯下七十丸。古之一升，即今之一茶鍾也。</p>
<p><u>四聖不老丹</u></p>
<p>透明松脂一斤，以無灰酒砂鍋內，桑柴火煮數沸，竹枝攪稠黏，住火，以磁器盛水，傾入水內，結塊，復以酒煮九遍，一日煮訖，次日亦如是，三日通計三九二十七遍，其脂瑩然如玉，不苦不澀乃止，為細末，淨用十二兩。凡煮不宜酒少，少則易干，煮之三分之二，即傾水內。</p>
<p>白茯苓（去皮，淨用半斤）　黃菊花（家園味甘者）　柏子仁（紙包捶去油，半斤）</p>
<p>上為末，煉蜜丸，如梧桐子大，每空心好酒送下七十二丸。</p>
<p>一方煉松脂，以長流水，桑柴煮拔三次，再以桑灰，滴汁煮七次，扯拔，更以好酒煮二次，扯拔，仍以長流水煮一二次，扯拔，色白不苦為度，一斤。</p>
<p>懷地黃（酒蒸，十兩）　烏梅（淨肉，六兩，甑內蒸熟取肉）</p>
<p>上為末，煉蜜丸，梧桐子大，空心米湯鹽湯任下。</p>
<p>名松梅丸，健陽補中，強筋潤肌，大能益人。</p>
<p><u>女真丹</u>　冬青子，《本草》名女真實，採去梗葉，酒浸一晝夜，粗布袋擦去皮，曬乾為末，待旱蓮草出時，採數石搗汁熬濃，丸前末如梧桐子大，每夜酒下百丸，旬日間膂力加倍，發白返黑，健腰膝，強陰不足，能令老者，無夜起之勞。</p>
<p><u>柏子養心丸</u></p>
<p>柏子仁（水洗淨，略蒸曬乾，去殼，四兩，北京有淨仁賣）　生地黃（水洗，次入酒浸蒸一時，曬一日，又酒拌如前蒸曬共五次，二兩）　枸杞（水洗淨，三兩，曬乾）　玄參（堅黑者，水洗，二兩）　麥門冬（水潤，去心）　白茯神（去皮木）　當歸（酒洗，各一兩）　石菖蒲（去尾洗淨）　甘草（各五錢，如心神不寧，多懼少睡加酸棗仁，水潤去紅皮）</p>
<p>健忘加遠志，水潤去木，甘草煎湯浸一宿，如志一兩則草用五錢。</p>
<p>上為細末，除柏子地黃石臼搗如泥，余末加煉蜜丸梧桐子大，每服四五十丸，臨睡白湯下，寧心保神，益血固精，祛煩熱，除驚悸，長聰明，久服令人不忘。</p>
<p><u>辰砂既濟丸</u>　治夢遺。</p>
<p>人參　當歸（酒洗）　黃耆（鹽水洗，炒）　白山藥　牡蠣（酒浸一宿，煅）　瑣陽　甘枸杞（蜜拌）　熟地黃（酒洗，四兩）　知母（去毛，酒洗，略炒）　敗龜板（酒浸一宿酥炙，各二兩）　牛膝（酒洗，各一兩半）　破故紙（一兩二錢）　黃柏（酒炒，六錢）</p>
<p>上為末，加白朮八兩，水八碗，煎至半，取渣再益水煎，漉淨合煎至二碗為膏，丸如梧桐子大，辰砂研細為衣，空心淡鹽湯，或酒服七十丸，乾物壓之。</p>
<p><u>水陸二仙丹</u>　治遺精白濁。</p>
<p>芡實（去殼）　金櫻子（去皮刺及肉）</p>
<p>上等分煉蜜丸，如梧桐子大，臨臥白湯下八十丸，又用晚蠶蛾焙乾去翅足，淨身為末，飯丸綠豆大，每服四十丸，淡鹽湯下。此丸常用火烘，不烘則歷。</p>
<p>又用豬心切薄片，不須連續，內飛硃砂，每個錢余，綿縛，白水煮熟食之。</p>
<p><u>少陽丹</u></p>
<p>蒼朮乃天之精也。米泔浸半日，先刮去皮，曬乾搗羅，細末一斤。</p>
<p>地骨皮乃地之精也。溫水洗捶打遍去心，曬乾搗羅，細末一斤。</p>
<p>桑椹乃人之精也。用黑熟者二十斤，入磁盆內揉爛，絹袋內榨汁去渣，將前二末投在汁內，調勻，大磁盆四五面曬乾，從朝至暮，四十九日，採日之精，夜有月明時，高置淨露臺上，採月之華，亦須四十九度，復搗為末，煉蜜丸，小赤豆大，每服十丸，無灰酒下，日進三服，服至一年，發白返黑，三年面有童顏，壽年無算。</p>
<p><u>加味寧志丸</u>　治虛憊精神恍惚，心思昏憒，氣不足，健忘怔忡。</p>
<p>白茯苓（去皮）　人參　遠志（甘草煎湯浸軟，去木）　菖蒲（十九節者，米泔浸）　黃連（去毛）　酸棗仁（水浸，去仁皮）　柏子仁（如法去殼，一兩）　當歸（酒洗）　生地黃（酒洗，各八錢）　木香（四錢，不用火）　硃砂（研，水飛一兩二錢，半入藥半為衣）</p>
<p>上為末，煉蜜丸，綠豆大，半飢時，用麥門冬去心，煎湯下五六十丸。</p>
<p><u>壯膽鎮驚丸</u></p>
<p>橘紅（水潤去白）　枳實（水浸去穰）　當歸（酒洗，各五錢）　熟地黃（水洗，薑汁浸蒸）　天門冬（泔水潤去心）　白茯苓（去皮木）　遠志（甘草水煮軟，去木，各一兩）　甘草（生用，五錢）　白石英（火煅，醋淬七次，三錢，如無真者，銀箔代之）</p>
<p>上為末，粳糊丸，每飢時五十丸，沸湯下，日二服。</p>
<p><u>安神復睡湯為丸亦可</u></p>
<p>圓眼肉　當歸　熟地黃　白芍藥　益智　酸棗仁（各一兩）　川芎　遠志（各五錢，皆照常制）</p>
<p>上為細末，山藥糊丸，或煉蜜丸，綠豆大，臨臥沸湯酒任下。</p>
<p><u>參歸腰子</u>　治心氣虛損，並怔忡自汗，不過三服。</p>
<p>人參　當歸（略去頭尾，細切五錢，腰子一枚，薄切）</p>
<p>上水兩碗，煮腰子至一碗半，入二藥同煮至八分食，腰子以汁送下。腰有食不盡，同渣焙乾為細末，山藥糊丸，梧桐子大，三五十丸多服效。</p>
<p><u>加減補心湯</u>　治諸虛健忘等證。</p>
<p>白茯苓　歸身　遠志（去心）　黃柏　知母　生地黃　陳皮　酸棗仁（去皮）　麥門冬（各五錢）　人參　石菖蒲　白朮　甘草（各三錢）　白芍藥（五錢，炒）</p>
<p>上銼片，水二鍾，煎八分，三六九日服，暑月尤宜。</p>
<p><u>治盜汗</u></p>
<p>五倍子，用完全不蛀者，瓦上焙黃碾細，臨睡以自己唾調和，納臍中縛住。若虛汗無度，更以黃耆節、麻黃根飛面作丸，浮麥煎湯下。</p>
<p><u>三子養親湯</u>　出《韓氏醫通》。</p>
<p>凡人年老形衰，苦於痰氣喘嗽，腦滿艱食，不可作病治，妄投湯滌燥利之劑，反耗真氣。予因求治其親，靜中精思以成此方，隨試隨效。孝哉人子，不可不知也。</p>
<p>紫蘇子（主氣喘咳嗽）　白芥子（主痰下氣寬中）　白萊菔子（主食痞兼理氣）</p>
<p>上各揀洗淨，紙上微炒擊碎，視何症多，以所主為君，餘次之。每服約三錢，用生絹作小囊盛之。水鍾半或二鍾，煎沸即取起頓之。如煎久則味苦辣口。若大便素實，入熟蜜一匙，冬寒加姜一片。原著論以贊其妙，茲不復及也。</p>
<p><u>涼膈散</u>　治一切積熱效如神，並諸熱吐血。</p>
<p>連翹　梔子仁　黃芩　薄荷　甘草　大黃　朴硝　竹葉</p>
<p>上銼等分，水煎熟，用蜜一二匙，入藥服之。若愈，服雞蘇丸滋補。</p>
<p><u>秘傳二仙糕</u>　固齒黑髮，壯陰陽，益腎水，養脾胃。</p>
<p>人參　山藥　白茯苓　芡實仁　蓮肉（去皮心，各半斤）　糯米（一升半）　粳米（三升半）　蜜（半斤）　白糖（十斤）</p>
<p>上為細末，合勻將蜜糖溶化，和末摻挼得宜，小木籠炊蒸之。上以米一撮成飯，則藥成矣。取起盡作棋子塊，慢火上烘乾作點心。或為末，貯磁器，每蚤一大匙，白湯調下。百日內見效，妙殊不盡。</p>
<p><u>瓊玉膏</u>　補百損，除百病，返老還童，發白復黑，勞瘵尤宜。若二十七歲服起，壽可至三百六十；若六十四歲服起，壽亦可至五百年。進御服食，賜號益壽永真膏。</p>
<p>新鮮地黃（八斤，取自然汁）　新羅人參（銼杵一千下，一十二兩）　甘枸杞（國朝太醫院會議者，半斤）　天門冬（去心）　麥門冬（去心，各半斤）　白蜜（五斤）　白茯苓（去皮，一斤半，捶碎舂細，水飛去浮筋，澄曬乾，復為末）</p>
<p>此半料藥也。昔人嘗謂一料分五劑，可救癱瘓者五人，分十劑，可救瘵者十人。</p>
<p><u>胡尚書壯陽丹</u>　滋補元陽，美顏益壽。</p>
<p>蓮肉（水浸去皮心，八兩）　甘枸杞　芡實　乾山藥　白茯苓（去皮）　山茱萸（去核，各四兩）　年老人加遼參（四兩）</p>
<p>上為細末，熟糯米一升，炒黃色為末，白糖五兩，酥油五兩，拌勻磁器貯。</p>
<p>每蚤朝沸米湯酒任調五六匙下，乾物壓之。御醫顏東溪傳</p>
<p><u>日用仙酥丹</u>　補百損，除百病，返本還童，卓有奇效。</p>
<p>蓮肉（去皮心，半斤）　柏子仁（去殼，半斤）　杏仁（去皮尖，六兩，搗）　胡桃仁（去皮，四兩，搗）　棗肉（半斤，煮去皮，搗）　砂仁（二兩，碾末）　酥油（半斤）　白蜜（半斤）</p>
<p>上文火煉蜜，次入酥油攪勻，再數沸方入蓮柏末，又數沸入桃杏棗膏，慢熬半炷香，量諸味皆熟，入砂仁末攪勻，用磁罐數個貯置冷水中，浸一日出火氣，油紙或脂膜封口，每服三匙，空心臥時溫酒一二杯送之。</p>
<p>大參內江鄧松坡傳。</p>
<p><u>蒸臍方</u></p>
<p>每年中秋日，蒸一次，卻疾延年，徹上部火或腹心宿疾，婦人月信不調，赤白帶，男遺精白濁。蕎麥，水合為一圈，徑寸余，臍大者，徑二寸，內入乳香、沒藥、蝦鼠糞、青鹽、兩頭尖、川續斷各二錢，麝一分（蝦鼠糞，一頭尖者是），各為末，槐皮去粗半分厚，覆圈藥之上，加豆大艾炷，灸至腹內微作聲為度，不可令內痛，痛則反損真氣。若患風氣，有鬱熱在腠理者，加女子月信拌藥，則易汗，汗出而疾隨愈。槐皮覺焦即更新者。有奇效。揚州遊虛亭方。</p>

<h1>藥酒門</h1>
<p><u>延齡聚寶丹</u>　一名保命丹</p>
<p>何首烏（去皮，赤白各四兩）　生地黃（肥嫩者，八兩）　熟地黃（鮮嫩者，俱忌鐵）　白茯苓（去皮）　蓮蕊　桑椹子（紫黑者）　甘菊花（家園黃白二色）　槐角子（十一月十一日採，炒黃）　五加皮（真正者，各四兩）　天門冬（去心）　麥門冬（去心）　茅山蒼朮（去皮，泔浸一宿，忌鐵，二兩五錢）　石菖蒲（一寸九節者）　蒼耳子（炒，搗去刺）　黃精（鮮肥者）　肉蓯蓉（酒洗，去甲心膜）　甘枸杞（去蒂搗碎）　人參　白朮（極白無油者）　當歸（鮮嫩者）　天麻（如牛角尖者）　防風（去蘆）　牛膝（酒洗）　杜仲（薑汁浸一宿，炒斷絲）　粉甘草（去皮，炙）　沙苑白蒺藜（炒，舂去刺）</p>
<p>以上各要揀洗極淨。</p>
<p>上銼片，生絹袋盛，無灰醇酒九斗，磁壇中春浸十日，夏浸七日，秋冬浸一十四日，取出藥袋，控干曬碾為末，煉蜜丸梧桐子大。每服五十丸，無灰酒下。每五更服三小杯，仍臥片時，午夕亦然，但覺腹空，並夜坐服三杯，最益。服酒後，切忌生冷、蔥蒜、韭白、萊菔、魚。脫落塵事，誠心修服無間，百骸暢快，百病潛消。林以和自三十九服至今六十四歲，宿病咸愈，身體強壯，鬚髮不變，耳目聰明，齒牙堅固，精神勝常。</p>
<p><u>一醉不老丹</u>　固精養血，烏須，壯筋骨。</p>
<p>蓮蕊　生熟地黃　槐角子　五加皮（各三兩）　沒石子（三雌三雄）</p>
<p>上將石臼杵碎，生絹袋盛，無灰酒十斤，夏月浸十日，秋二十日，春冬一月，取起袋控曬乾為末，忌鐵，用大麥二兩，炒和前末，煉蜜丸，每一錢作一餅，以薄荷為細末，一層末，一層餅，磁器貯，每飯後噙化幾餅，前酒任意飲之。須連日飲盡，頓久恐泄味，如餅難嚥，以酒下之。</p>
<p><u>保命延壽丹</u>　治虛損風氣，濕積心腹，腹胃膀胱疼痛，淋痔膈噎，膚燥瘡癩，一切惡症，及婦女赤白癥瘕，久服益精潤肌。</p>
<p>胡桃仁　小紅棗　白蜜（各半斤）　酥（四兩）　蒼朮　甘草　厚朴（各去皮）　陳皮（去白）　生熟地黃　天麥門冬（去心）　破故紙　川芎　白芍藥　白朮　牛膝　香附　肉桂　五味子　半夏　枳殼　荊芥　防風　獨活　白芷　細辛　麻黃　小茴香　五加皮（各一兩）　虎脛骨（酥炙，一兩）　當歸　白茯苓　人參　蓯蓉（去甲）　枸杞子　何首　砂仁　乾薑（煨）　杏仁　烏藥　川草烏（去皮）　川椒　木香　沉香（各五錢）</p>
<p>上各制，洗淨銼片，生絹袋盛，堆花燒酒一大壇，入藥固封，鍋內水煮三時，木棍不住手順攪，使水周旋，取起埋地三日畢，將藥曬乾為末，本酒糊丸，梧桐子大，每日三十丸，黃酒下。其藥酒空心午戌，任意進一三酌。</p>
<p><u>史國公藥酒</u></p>
<p>至元十七年，奉仙驛偶值異人授以此方。因浸酒一斛，初患手足拘攣，起伏不便，服酒三升，手能櫛洗，三升半，屈伸漸有力，五升後，言語清爽，步履輕便，百節通暢，宿疾脫落矣。遂題請頒示天下，傳以拯患。</p>
<p>蒼耳子（炒香，碾碎，四兩，治風濕骨節頑麻）　當歸（一方用三兩，補血生血）　牛膝（治手足麻痹，補髓行血）　羌活（一方止用一兩，治風濕百節疼痛）　防風（治肢體拘急）　川萆薢（色白酥炙，一方止三兩，治骨節疼痛）　松節（壯筋骨）　秦艽（治四肢拍急言蹇）　干茹根（蒸熟，一方用八兩，治風濕骨節不能屈伸）　晚蠶沙（炒黃，一方三兩，治癱患百節不遂，皮內頑麻）　虎脛骨（酥炙，去內毒氣，壯筋骨）　鱉甲（九肋者佳，酥炙，各二兩，治癱瘓）　甘枸杞（一兩，一方五兩，治五臟風邪並明目）　腳中濕步艱者加威靈仙（一兩）</p>
<p>上銼片，生絹袋盛，無灰酒一罈浸，固泥壇口，二十七日方啟壇，早暮服二三杯，渣曬乾為末，酒糊丸，梧桐子大，空心三五十丸，酒下。</p>
<p>一方加杜仲（銼，薑汁拌炒，去絲三兩）　白朮（二兩，用酒三十五斤）　一方加白花蛇（一條）　風藤（二兩）</p>
<p><u>五加皮酒</u>　好酒一金華壇，煮滾，入五加皮一斤，不拘時飲，微醺，最勝濕益人。</p>
<p><u>李塚宰藥酒</u>　治虛損咳嗽，明目養血，除膈氣，去風濕，駐顏，益壽，男女老幼，皆可服。</p>
<p>桃仁　杏仁（俱去皮尖，各一斤）　脂麻（去皮炒熟，一升）　蒼朮（去皮，四兩）　白茯苓　艾（揉去筋）　薄荷　小茴香（各三錢）　好銅錢（五文）　荊芥（一兩）</p>
<p>上為細末，煉蜜和作一塊，高燒酒一大壇，入藥煮一時，將藥煮散，厚紙封埋土中七日，取出，空心飲二三杯。</p>
<p><u>仙酒方</u></p>
<p>世傳前監察御史，兼兩京留守竇文炳，患手足拘攣，半身不遂，延訪醫至奉化縣，縣尉李能傳此方。依合浸酒一斗，飲及二升，能運手足，三升，能伸腰背，至四升，脫如釋負，因具開奉，敕送。御醫院附靈寶上方議加。</p>
<p>天麻（半斤）　當歸（三兩）　枳殼（二兩，正方見下）　枸杞（二升）　牛蒡子（半斤）　牛蒡根（一斤）　天麻子（一升）　牛膝　秦艽　蒼朮（去皮，米泔浸，瓦器蒸熟）　羌活　防風　桔梗　晚蠶沙（各二兩）</p>
<p>上為粗末，無灰酒二三斗，瓦壇浸七日，勿令面近酒，恐氣觸目有傷，每日空心午夜，各溫進一杯，忌魚面三個月。</p>
<p><u>固本酒</u></p>
<p>生熟地黃　白茯苓（去皮，各二兩）　天麥門冬（酒潤去心）　人參（一兩）</p>
<p>上切片，用磁瓶盛好酒十大壺，浸藥三日，文武火煮一二時，以酒黑色為度。如上熱，減人參五錢。如下虛或寒，將韭子炒重黃色為末。空心服三五杯，用銅錢抄韭末一錢，飲之。</p>
<p>婦人下虛寒，胡桃連皮作引飲之。久則能生子，治勞疾，補虛弱，烏鬚髮，美容顏，久服面如童子，忌萊菔、蔥、蒜、豆飯。</p>
<p><u>菖蒲酒</u></p>
<p>主大風十二痹，通血脈，養榮衛，治骨立痿黃，醫所不治者。服至百日，顏色豐足，氣力倍常，耳目聰明，行如奔馬，發白更黑，齒落更生，晝夜有光，卻病延年，久服得與神通。</p>
<p>菖蒲削至薄，切曬乾一斗，生絹袋盛之。好酒一石，入不津大甕中，安藥袋在內，泥封固，百日開視，如綠葉色，復炊糯米二斗，內酒中，再封四十日，濾去糟，溫飲一盞，日三服。其藥渣曬為末，酒調一錢，服之更覺爽快。</p>

<h1>痰門</h1>
<p><u>法制清氣化痰丸</u></p>
<p>南星　半夏（各二兩，用皂角二兩，白礬二兩，生薑二兩，水六碗，煎沸取起，浸至次早，再煎透為度，二味須四兩足，去皂角）　栝蔞仁（微炒，紙包捶去油）　白朮　黃連（去毛，薑汁拌炒）　香附子（杵毛淨，童便浸）　陳皮（去白）　白茯苓（去皮）　萊菔子（炒）　唐球子（各一兩）　紫蘇子　黃芩（各七錢）　枳實（麵炒）　甘草（各五錢）</p>
<p>上為細末，竹瀝一碗，生薑自然汁一酒杯，神麯細末一兩，和麵作糊丸，如小赤豆大，每服七八十丸，溫沸湯下。</p>
<p>造三奇神麯方，六月六日謂諸神集會之辰，故名神麯，過此日造者非神。</p>
<p>白麵（一百斤，取白虎意）　蒼耳（自然汁三升，取勾陳意）　野蓼（自然汁四升，取騰蛇意）　青蒿（自然汁三升，取青龍意）　杏仁（四升，去皮尖，看面乾溼可用，取玄武意）　赤小豆（三升，煮軟熟，去皮湯，研共一處，拌勻，取朱雀意）</p>
<p>上修合用三伏內上寅日，取前藥汁拌前面，捏得實散，分開為度，甲寅戊寅庚寅乃三奇也。近時神麯只以面蓼為之。入藥不咳。此方傳自蜀府，與造麴法同。</p>
<p><u>清熱化痰丸</u>　治痰飲為患，噁心頭眩，心悸，中脘不快，或因食生冷飲酒過多，脾胃不和。</p>
<p>半夏（湯泡七次，五錢）　陳皮（去白，四錢）　白茯苓　當歸（酒洗）　川芎（各三錢）　黃芩（酒炒）　生甘草　梔子（各一錢半，去杇）　黃連（去毛炒，一錢）</p>
<p>上為細末，麵糊丸，梧桐子大，食遠白湯下，五十丸。</p>
<p><u>玉髓丹</u>　治痰火上湧，或流入四肢，結聚胸背，或咳嗽，或頭目不清。</p>
<p>軟石膏（三兩）　半夏（一兩，湯泡七次）　白礬（五錢）</p>
<p>上為細末，淡薑湯打糊丸，如赤豆大，每服三十丸，食遠茶清下。</p>
<p><u>款冬花丸</u>　治年老氣虛，痰盛涎湧，喘嗽不已，遇寒尤甚，並勞瘵久嗽痰氣。</p>
<p>款冬（去梗，二兩）　桑白皮（一兩半）　人參　京紫苑　杏仁（去皮尖）　知母（去毛）　貝母（各一兩）　五味子　桔梗（各五錢）　蘇葉（三錢）　檳榔（一錢半）　廣木香（一錢）</p>
<p>上為細末，煉蜜丸，彈子大，每臨睡嚼一丸，滾水下。</p>
<p><u>化痰丸</u>　治熱在上焦，火盛，或作痛，宜風疾。</p>
<p>半夏（泡七次）　南星（水泡，各薑汁拌）　黃芩　寒水石（煅）　黃連（去毛，各一兩）　豬牙皂角　薄荷（各五錢）　甘草（炙三錢）</p>
<p>上為細末，淡薑汁打糊丸，赤豆大，食遠茶清下，五十丸。</p>
<p><u>大麻化痰丸</u>　治背上及胸中之痰。</p>
<p>天麻（一兩）　南星（一兩）　半夏（三兩，湯泡至冷七次，以內透為度）　軟石膏（煅赤一兩）　雄黃（通明者，初服如前末一兩，如此味，水飛七次，以後常服減此）</p>
<p>上為末，淡薑汁打糊搗丸，赤豆大，食遠茶下九十丸。</p>
<p><u>加味潤下丸</u>　降痰如神。</p>
<p>橘紅（去白，半斤，水化鹽一兩，拌勻，蒸極熟）　南星　半夏（俱水煮，薑汁製）　黃芩　黃連　甘草（各一兩）</p>
<p>上為末，滴水丸，或蒸餅丸，梧桐子大，每服五七十丸，白湯下。</p>
<p>煎劑</p>
<p><u>羌活勝濕湯</u>　治背惡寒，雖盛暑亦欲著綿，人之背屬陽，濕中太陽，久而熱，乃火也。火起而痰隨之滲入於背，兼以飲酒，酒乃濕熱之物，與病輳合，濕痰結聚，所以外雖惡寒，其中實熱也。先燥濕，次降火，病則除矣。內多太陽引經之劑，且能勝濕。</p>
<p>羌活（一錢半）　獨活（一錢半）　炙甘草　南川芎　藁本　蔓荊子　防風　酒炒黃芩　米泔　蒼朮（各一錢）</p>
<p>上為一帖，水煎，食遠溫服。</p>
<p><u>清熱化痰湯</u>　化熱痰，清鬱氣，亦可常服。</p>
<p>半夏（湯泡七次，薑汁拌，一錢二分）　枳實（麵炒）　香附（童便浸）　貝母（各一錢半）　白茯苓　山楂肉（各一錢）　橘紅　黃連（炒，各八分）　桔梗　蒼朮（米泔浸，各七分）　甘草（二分）</p>
<p>上銼一服，生薑三片，水二鍾，煎至一鍾，食遠溫服。如痰壅上，加蘇子降氣湯料，視病增減，消息服之。</p>
<p><u>苓連二陳湯</u></p>
<p>橘紅　白茯苓　軟石膏（各二錢）　片苓（酒炒）　白朮　黃連（酒炒）　防風（各五分）　川芎　天花粉（各一錢）　薄荷（八分）　半夏（制，七分）　羌活（五分）　甘草（炙，三分）</p>
<p>上銼片，水鍾半，姜三片，煎八分，食遠溫服。</p>
<p><u>加味順氣化痰湯</u></p>
<p>人參　白朮（各一錢）　白芍藥　白茯苓　半夏　陳皮　枳實　柴胡　蘇葉　黃柏　甘草（炙，各三分）</p>
<p>上如常制銼片，每水二鍾，生薑三片，煎至七分，食後溫服，渣再煎。</p>
<p><u>定喘湯</u>　專治齁喘，取效甚速。金陵浦舍真方。</p>
<p>白果（二十一枚，去殼，炒黃色，分破）　麻黃　款冬花　桑白皮（蜜炙，各三錢）　蘇子（二錢）　法制半夏（如無，甘草煎湯泡七次，三錢）　杏仁（去皮尖）　黃芩（微炒，各一錢半）　甘草（一錢）</p>
<p>上銼，水三鍾，煎至二鍾，作二服，每服一鍾，不拘時徐徐服之。</p>
<p>歌曰　諸病有藥方，齁喘最難當，蘇子同桑白，杏仁與麻黃，款冬須白果，半夏忌生薑，黃芩甘草佐，神仙定喘湯。</p>
<p><u>頭痛門</u>　附眩暈。丹溪云：在右屬痰，主蒼半酒芩，在左屬風屬血，虛風主荊，苛血主芎歸芍酒黃柏，治遠年近日偏正頭風痛，諸藥不效，收功如神。</p>
<p>川芎　白芷（各三錢）</p>
<p>上為極細末，黃牛腦子一個，擦藥末在磁器內，加酒頓熟，乘熱和酒食之。儘量一醉，睡後酒醒，其疾如失，甚驗。</p>
<p><u>白朮半夏天麻湯</u>　治痰厥頭痛，都作一服尤妙。</p>
<p>黃柏（一分，酒浸）　乾薑（三分）　澤瀉　白茯苓　天麻　黃耆　人參　蒼朮（各五分）　神麯（炒）　白朮（各一錢）　麥糵面　半夏　橘皮（各一錢五分）</p>
<p>上銼，每服五錢，水煎熱服，食前一服而愈。此頭痛苦甚，謂之足太陰痰厥。頭痛非半夏不能療。眼黑頭旋，風虛內作，非天麻不能除。黃耆甘溫瀉火，補元氣，實表虛，止自汗；人參甘溫瀉火，補中益氣；二術俱苦甘溫，除濕，補中益氣；澤瀉茯苓，利小便導濕；橘皮苦溫，益氣調中升陽；神麯消食，蕩胃中滯氣；麥糵寬中助胃氣，乾薑辛熱以滌中寒，黃柏大苦寒，酒洗以療冬天少火在泉發燥也。</p>
<p><u>調中益氣湯</u>　治氣血俱虛，頭疼，其效如神。</p>
<p>芍藥（炒，六分）　升麻（四分）　黃耆（蜜炙，二錢）　甘草（一錢）　五味子（一十四個）　當歸　白朮　人參（各六分）　柴胡　陳皮（各四分）</p>
<p>上少加川芎、蔓荊子、細辛，作一服，水煎，臨臥溫服。</p>
<p><u>參朮湯</u>　治氣虛頭痛，眩暈，宜降火為主。</p>
<p>人參　白朮　黃芩（酒炒）　黃連　黃耆　生地黃（酒洗，等分，煎服）</p>
<p><u>芎歸湯</u>　治血虛眩暈。</p>
<p>川芎　當歸（等分煎服）</p>

<h1>眼目門</h1>
<p><u>夜光丸</u>　治腎氣虛血弱，風毒上攻，眼目昏花，久成內瘴，降火升水，夜可讀細字。</p>
<p>生熟地黃（酒浸）　天麥門冬（水潤去心）　人參　白茯苓　山藥（各一兩）　菟絲子（酒浸，焙，另搗）　肉蓯蓉（酒浸，去淨甲並心膜）　牛膝（酒浸）　石斛（酒浸，焙）　枸杞子　五味子　青葙子　白蒺藜（炒，舂去刺）　草決明　甘菊花　川芎　黃連（去毛）　枳殼（水潤）　杏仁　防風　甘草</p>
<p>上為細末，煉蜜丸，梧桐子大，每服三五十丸，空心酒鹽湯任下。</p>
<p><u>三花五子丸</u></p>
<p>甘菊花　旋覆花　密蒙花（各一兩）　地膚子　青葙子　覆盆子　牛蒡子　蔓荊子　外加草決明（一兩五錢）　白蒺藜（炒，杵去刺）　川芎　木賊　黃芩（去節）　防風（各一兩）</p>
<p>上為細末，無灰酒糊丸，梧桐子大，每服三十丸，麥門冬煎湯下。如有翳，加桑白皮煎湯下。</p>
<p><u>密蒙除昏退翳丸</u></p>
<p>當歸（活血）　川芎（去頭風瘴痛）　木賊（去翳）　天麻（去羞明）　甘菊花（去內瘴）　白蒺藜（去赤眼）　黃連（去翳膜）　藁本（去濕熱）　羌活（去風清頭）　獨活　青葙子（去氣眼）　楮實子（去瘀肉）　荊芥　蒼朮（去濕熱）　夜明沙　甘草</p>
<p>上各三錢為細末，煉蜜丸，或餅或圓，每丸重一錢，臨睡細嚼米飲任下，日進二丸，早飯後臨睡皆可，刻日見效。又以橄欖核清水磨擦眼，去昏翳尤速。煎劑。</p>
<p><u>明目流氣飲</u>　目疾久者。此方殊妙。</p>
<p>當歸（酒浸）　地黃（酒浸）　川芎　芍藥　甘菊花　草龍膽（酒浸）　決明子（炒）　防風　防己　香附（童便浸）　甘草</p>
<p>上銼片，水鍾半，煎八分，上半日服。如有翳，加密蒙花、木賊。</p>
<p><u>蟬花散</u>　目疾發翳，此藥主之。</p>
<p>蟬蛻　甘菊花　當歸　生地黃　玄參　赤芍　羌活　連翹　柴胡　木賊　石決明（煅，童便淬）　草決明　白蒺藜（炒，去刺）　蔓荊子　青葙子　荊芥　防風　薄荷　升麻　黃連　黃芩　梔子　黃柏　枳殼　龍膽草　穀精草　夏枯草　桔梗</p>
<p>上銼片，白水煎，食後服。</p>
<p><u>撥雲散</u>　專治內瘴青朦。</p>
<p>當歸　生地黃　甘菊花　黃連　山梔子　黃芩　石膏　荊芥　防風　鬱金　旋覆花　木賊　青葙子　草決明　白蒺藜　草龍膽　蟬蛻</p>
<p>上銼，每服水鍾半，煎七分，食遠服。</p>
<p>治眼外瘴，赤腫暴痛。</p>
<p>生地黃　赤芍藥　當歸尾　赤茯苓　防風　細辛（各一錢）　桑白皮　大黃（各二錢）　如瘴加甘菊花　穀精草　生甘草（各三錢）</p>
<p>上銼，水二鍾，煎至七分，臥時冷服。</p>
<p>治眼中胬肉攀睛，及兩睫上下紇⿰角⿱𠂉力。</p>
<p>生熟地黃　當歸　生甘草（各一錢）　蔓荊子　覆盆子　白蒺藜　川連翹　荊芥　川芎　薄荷　羌獨活（各五錢）　防風（七分）　燈心七根</p>
<p>上水二鍾，煎八分，食後服。</p>
<p><u>四精膏</u>　治赤瘴熱痛。</p>
<p>蜂蜜（花之精）　羯羊膽（草之精）　青魚膽（水之精）　人乳（人之精）</p>
<p>上等分，磁杯盛，蒸熟入磁瓶中，油紙黃蠟封固，懸井中七日取起，點眼妙。以匙抄少許，入口嚥下亦可。</p>
<p><u>黃連膏</u>　凡點眼，先以好燒酒洗之，攻出熱淚，次點藥易愈。</p>
<p>黃連（五錢）</p>
<p>銼以麻布袋，又用青古錢一文，同浸在薄碗中，外用銅杓盛水置碗於內，俟水沸良久去袋，入人乳少許，或加蜜少許，乘熱以銀簪蘸點眼中，閉少時又點。（入冰片五釐更妙。）</p>
<p><u>神應八寶丹</u></p>
<p>蘆甘石（煅用，童便浸七次，煅七次為灰，研細，水飛，一兩）　黃丹（研細水飛，一兩）　珍珠（用蚌蛤盛之，鐵線縛，合火中煅過，研末，五錢）　硃砂（研細水飛，五錢，內一半入藥，一半為衣）　麝香（研細，三錢）　明礬（生用，一兩）　冰片（三錢）　乳香（以筍殼葉摺作一包，篾拴定，火上炙透，俟冷即研，或以燈草少許，同研細，三錢）</p>
<p>上皆為極細末，用福蜜一兩半，以銅鍋熬去膜，絲綿濾過，先下砂麝珠礬丹，次下冰石，隨熱即丸，如黃豆大，少冷則成塊，難丸。修合之日，用天色睛明，成開收吉辰或清明端午中秋重陽四節。忌生人婦女雞犬汙穢之地。須潔淨，兩人方能成就。用磁罐盛，年久愈堅愈效。以井花水濃磨，照常點之。功不盡述。</p>
<p>宜興倪秀才家秘方，聞人北江提學南直隸時，得之傳。</p>
<p><u>八寶推雲散</u></p>
<p>蘆甘石（二兩）　當歸（一兩）　艾（五錢）　槐皮（一兩）</p>
<p>用水一碗半，煎至一碗，以火煅石，將前水灑之三次畢，則用青布裹之，埋於小便地下，更宿取出。</p>
<p>血竭（三分）　沒藥（三分）　乳香（三分）　麝香（三分）　硃砂（三分）　輕粉（三分）　硼砂（三分）　珍珠（三分）　瑪瑙（三分）　水晶（三分）　熊膽（二分）　膽礬（二分）　銅綠（一分）　牛黃（三分）　雄黃（三分）　冰片（五分）</p>
<p>上研為極細末，清晨以溫水洗淨眼，以銀簪點兩眼角。如赤暴眼一夜點三次，其效甚捷。</p>
<p>治火眼風眼障眼</p>
<p>當歸（兼用根梢）　黃連（去毛，四分）　朴硝　銅綠　白礬（各二錢）</p>
<p>俱碎，用絲綿裹置磁器中，沸湯一碗，浸不拘時，先以白湯洗淨，次以藥水洗之。</p>

<h1>耳門</h1>
<p><u>四物湯</u>　加瞿麥、萹蓄、山梔、木通（各一錢）</p>
<p>銼水煎服，治聾有驗。</p>
<p>又蒼朮一頭，削尖入聾耳中，一頭削平在外，上艾炷灸之。不拘壯數，但以熱氣透徹其中為度。</p>
<p>蛆入耳，杏仁搗如泥，取油滴入內，非出則死。</p>
<p>蟲初入耳，香油或驢牛乳雞冠血，灌入即出。</p>
<p>蟲入耳久食腦痛，桃葉為枕，蟲自鼻出。（見陳遜齊間覽）</p>
<p>凍耳成瘡，生薑取自然汁，熬膏擦。（見劉豉暇日記）</p>
<p>耳後根生瘡如割，小兒多有此患。</p>
<p>地骨皮碾細，將粗末煎湯，淨洗拭乾，如瘡出水，則以細末干敷，瘡干香油調敷。（見鮮于伯機鉤玄）</p>

<h1>鼻門</h1>
<p><u>洗肺散</u>　治鼻中生瘡。</p>
<p>黃芩　半夏（各二錢）　天麥門冬（去心）　五味子（各一錢半）　杏仁（去皮尖，一錢）　甘草（五分）</p>
<p>上銼片，姜五片，水二鍾，煎至一鍾，食後服。</p>
<p><u>赤鼻方</u></p>
<p>枇杷葉（去毛，一兩）　梔子仁（五錢）</p>
<p>上為末，每服二三錢，溫酒下，早服去右邊，晚服去左邊。</p>
<p>木鱉子（去殼）　大楓子（去殼）　輕粉　硫黃</p>
<p>上為細末，不時以唾調擦，二方亦治面瘡風刺，鼻中有肉下垂，用冰片點之自入。</p>

<h1>口門（附喉舌）</h1>
<p>丹溪云：脾熱口甘，三黃丸主之。膽熱口苦，柴胡湯、麥門、酸棗、地骨、遠志主之。實熱生瘡，涼膈散、甘桔湯主之。</p>
<p>孩兒茶　硼砂</p>
<p>等分為末，敷口內瘡。</p>
<p><u>又</u>　冬青嫩葉，嚼爛噙之。良久嚥下，渣吐去。</p>
<p>黃連　細辛</p>
<p>等分為末，敷舌瘡，涎出吐去更敷。</p>
<p><u>口疳</u></p>
<p>雞內金不拘雌雄，取出不落水，以紙拭淨，新瓦上焙脆，置青石上拔火毒，為細末，先以米泔水漱，次敷末。</p>
<p><u>急喉風</u></p>
<p>膽礬（五分，半生半枯）　熊膽　木香（各三分）</p>
<p>上研細，番木鱉磨，井水調和，以雞翅蘸掃患處，如勢急口禁，以箸啟之。藥一掃下即消。蔡霞山傳。</p>
<p><u>喉痹並乳蛾</u></p>
<p>車前子　鳳尾草（洗淨擂爛）</p>
<p>鹽霜梅煮酒各少許，再和擂，絹絞去渣，以鵝翅蘸汁掃患處，痰涎隨出即消。內江鄧筆峰傳。</p>
<p>喉閉重者，刺少商穴、頂門上、地角下，近喉處微放血後，以白礬、硼砂、殭蠶、皂角刺同研末吹入喉中，或用前方皆可。</p>
<p>一方用硼砂、膽礬等分為末，吹入喉中。凡膽礬入青魚膽內，掛風處，入喉藥妙。</p>
<p>又方用筍殼葉削尖一頭，刺兩鼻孔中，有血流出，閉腫即消。</p>
<p><u>又治喉痹雙乳蛾</u></p>
<p>壁上蛛白窩取下，患者腦後發拔一根纏定蛛窩，燈上以銀簪挑而燒之，存性為末，吹入患處即消。溧陽陸簡齋傳。</p>
<p><u>薄荷點湯</u>　主治風壅，咽喉不利，痰實煩渴，困倦頭昏發熱，及一切風痰瘡疥，並宜服之。</p>
<p>薄荷（去沙土，十兩）　天花粉　甘草（俱生用，各五兩）　荊芥穗（生，四兩）　砂仁（生用，三兩）</p>
<p>上為細末，每前藥末四兩，入霜梅肉末一兩，研勻，以磁罐貯。每服一錢，百沸湯點服，煉蜜丸噙化亦通。</p>
<p><u>治暴失音</u>　用豬脂一斤，入鍋煉去渣，入真白蜜一斤，再煉數沸，住火濾淨，磁器貯，冷即成膏，不時挑一茶匙服亦可，常用能潤肺臟。</p>
<p><u>治骨哽</u>　白餳糖大口嚼哽下。硼砂成塊者，水滌淨日夜噙化下，其骨自軟。</p>
<p>治誤吞銅錢銅物，多食核桃或荸薺，其銅自爛。</p>
<p>治誤吞針，蠶豆煮熟，同韭菜吃下，針同菜大便而出。</p>

<h1>牙齒門</h1>
<p><u>清胃散</u>　治齒痛齦腫或出血，或痛引頭腦，面上發熱並效，服此不應，加石膏（五分）。</p>
<p>升麻（一錢半）　牡丹皮　黃連（各一錢，夏此倍）　生地黃　當歸（俱酒洗，各六分）</p>
<p>上銼片，水鍾半，煎一鍾，溫服。（見東垣方。）</p>
<p><u>立效散</u>　治一切牙疼，連及頭腦項背皆不任。</p>
<p>防風（一錢）　升麻（七分）　草龍膽（四分）　炙甘草（三分）　細辛葉（二分）</p>
<p>上銼，水一鍾，煎至五分，去渣，向疼處漱噙良久。如惡熱飲，加草龍膽一錢；惡風作痛，加草豆蔻、黃連各五分，減草龍膽。此法無定，隨寒熱多少，臨時消息。凡痛，或溫漱吐去，或噙，少頃嚥下，二次即愈。天台蔡霞山先生傳。</p>
<p><u>定痛散</u></p>
<p>大黃　細辛　雄黃　甘草（各一錢）　真麝香（一分）</p>
<p>上為細末，擦痛處。</p>
<p><u>一笑膏</u>　治風牙蟲牙。</p>
<p>陳艾（捶淨，一兩）　川椒（連子用）　細辛　蜂房（五錢）　雄黃（另研）　蠍梢（各三錢）　防風（五錢）　槐柳青條（一兩）</p>
<p>上銼細，高燒酒二碗，煎一碗，生絹絞去渣，入雄黃末，熬酒成膏，磁器貯。每用匙挑一豆許，咬患處勿吞，徐吐去，數次見效。</p>
<p><u>又治風蟲牙疼</u></p>
<p>芫花　細辛　花椒　小麥　蜂房　鹽</p>
<p>各一錢，水煎滾，噙漱之，勿咽。</p>
<p><u>又治風蟲牙</u></p>
<p>升麻（銼，炒黑，二兩）　石膏（五分）　細辛（炒，三分）</p>
<p>上研末，不時擦牙吐之。通山朱兩崖先生傳。</p>
<p><u>固齒延壽膏</u>　專貼齦宣齒槁，黃黑腐敗，風蟲作痛，腮頰紅腫。又貼堅固牙齒，驅逐垢膩，益腎生津，壯骨強髓，添精倍力，大有奇效。</p>
<p>珍珠（五錢，絹作小袋，豆腐一方，中開一孔，內珠袋，仍以原腐掩孔，留袋上一線懸鍋口上，勿令珠袋落底，恐傷珠元氣，桑柴火煮一炷香為度）　雄鼠骨（臘月內雄鼠一隻，面作餅，將全鼠包完，外用鹽泥復包，陰乾，炭火燒紅，冷定，破取骨，五錢）</p>
<p>秋石（二錢）　龍骨（製法與鼠骨同，五錢）　陽起石　象牙（各五錢）　鹿角霜（五錢，製法見虛門）　廣木香（二錢半）　沉香（二錢）　南川芎　懷熟地黃　白芍藥　當歸　乳香　沒藥（各一錢）　青鹽（一錢半）　白芷　大小皂角（各五分）　破故紙（炒香，忌鐵）　細辛（去土，洗淨，曬乾，三分）</p>
<p>上各味另研極細末，白蠟五兩，俱各作二份，用蜜煎罐一個，先將白蠟化開，次下一份藥末，桑柴文火溶開蠟，將藥攪勻，外用呈文紙二張，將前藥一份，散在紙上，用手擦磨藥末，在紙上下周圍後，將罐內藥火化開，攪勻傾在紙上，周圍俱用藥汁走到，用刀作條，臨臥貼在牙上，一夜，次早取出，藥條皆黑，齒牙漸貼漸固。</p>
<p><u>走馬牙疳</u></p>
<p>香油通口噙漱，覺無油氣吐出，更漱五六七次，吐盡，更以沸湯入鹽醋溫漱吐訖，擦後藥。</p>
<p>五倍子（炒焦）　銅綠　明礬（各一錢）　麝（一分）</p>
<p>上為末，擦患處。</p>
<p>又紅棗一枚，劈開去核，入白砒半分合之。火煅存性，加銅綠半分研細，用簪尖挑一粟大點患牙兩旁縫中，其蟲立死。口中聚涎微吐出，慎勿嚥下。</p>
<p>灸法治一切牙痛腮腫，關緊苦楚不禁者。</p>
<p>手掌後盡處外側覆之，皆有一圓骨起見，外雖如一，中實兩骨，相續續處取穴，米大艾灸三五壯，其痛當愈。如不應，承漿穴灸三壯，艾如前。</p>
<p><u>擦牙附</u></p>
<p><u>江類苑揩齒仙方</u>　固齒黑髮。</p>
<p>牙皂、生薑、升麻、生地黃、木律、旱蓮、荷葉心、青鹽。</p>
<p>上各燒存性，等分細研，日用。古方有槐角、細辛。</p>
<p>又當歸、生地黃、香附、牙皂、細辛、青鹽，俱為末，老米飯搗和藥為一餅，桑柴火燒存性，置淨地，紙襯之，上以瓦器覆一宿，去火氣。每早擦之，白湯嚥下。</p>
<p>擦牙防齒患，取青槐枝捶半碎半斤，水四碗，煎二碗，去渣，入好鹽一斤，煮乾更將鹽炒研細，擦牙，溫水漱之。吐水洗眼齒目皆宜，五月五、六月六合，更妙。</p>
<p>又每於空心時扣齒三百下，永無齒患，出《顏氏家訓》，殊驗，不可以其易而忽之。</p>
<p><u>烏須固齒補腎方</u></p>
<p>當歸　雀腦芎　熟地黃　白芍藥　香附米　甘枸杞　川牛膝　荊芥　青鹽（各二兩）</p>
<p>上為細末，用米一升煮飯，將末拌勻，分作五團，陰乾，桑柴火燒成炭，存性研細，鉛盒貯之。每早鴛鴦手擦牙二次，藥與水嚥下，至老牙不疼不落，甚妙。</p>
<p><u>烏髮固齒方</u></p>
<p>七月取旱蓮草，連根一斤，用無灰酒洗淨，青鹽四兩，捶碎醃三宿，取出，無油鍋中炒，將原汁旋傾入炒，乾焦為末，每晨用一錢，擦牙嚥下，用久殊效。</p>

<h1>脾胃門</h1>
<p><u>加味枳朮丸</u></p>
<p>白朮（補脾胃為君，四兩）　枳實（麵炒，二兩，通胃滯氣）　人參（潤肺寧心，開脾助胃）　陳皮（行氣益脾，去白，各二兩）　甘草（健脾和中，通經脈，利血氣，一兩五錢，斯四味為臣）　川當歸（脾胃中多氣多血，使此潤之補血，對陳皮酒洗，三兩）　白芍藥（伐肝木扶脾土，三兩）　香附米（開鬱理氣，童便浸）　黃連（厚腸胃，去積火，薑汁炒，各二兩，斯四味為佐）　葛根（足太陰、陽明二經引藥，一兩五錢，或止用一兩為使）</p>
<p>上為細末，神麯糊丸，梧桐子大，半飢半飽時沸湯下百丸。</p>
<p><u>三補枳朮丸</u></p>
<p>白朮（二兩）　枳實（麵炒）　黃柏（滋腎養陰，青鹽炒）　陳皮（去白，各一兩）　貝母（去胸膈中頑痰，八錢）　白茯苓　黃連　黃芩（醋浸一宿，炒）　山楂肉（神麯炒，各五錢）　麥牙　砂仁　香附（醋浸一宿，炒，以上各三錢）</p>
<p>上為細末，荷葉煮飯杵作丸，梧桐子大，每食後薑湯服七八十丸。有熱，茶湯下。人之精血元氣，皆因穀氣而生，脾乃肺之母，母實子盛，順氣消痰，理以類應。</p>
<p><u>健脾丸</u></p>
<p>白朮（微炒，五兩）　陳皮（洗淨，存白）　半夏（泡七次，薑汁拌炒，各三兩）　神麯（炒）　山楂（去子，蒸曬）　歸身（酒洗）　白芍藥（炒）　白茯苓（去皮，各二兩）　川芎（小者佳）　黃連（薑汁炒，各兩半）　香附（童便浸）　枳實（麵炒）　炙甘草（各一兩）</p>
<p>上為末，荷葉包老米飯，慢火上蒸飯丸，小赤豆大，食後服八九十丸，滾白水送下。</p>
<p><u>參苓白朮散</u></p>
<p>人參　白茯苓　白朮　山藥（各一斤）　甘草　白扁豆（去皮，薑汁炒，各十兩）　蓮肉　薏苡仁（各半斤）</p>
<p>上為細末，每服二錢，棗湯下。</p>
<p><u>橘半消化丸</u>　消食化痰，開鬱下氣。</p>
<p>陳皮、半夏與連翹，蒼白二朮、神麯膏，山楂、撫芎共香附，茯苓、萊菔子能消。</p>
<p>上各味如常制，神麯為細末，作稀糊丸服。</p>
<p><u>黃連磨積丸</u>　治一切痰飲痰積，積聚怫鬱，脅下悶倦，懶惰飲食不消，或吐逆，噁心，眩暈怔忡，時作時止，用之如神。</p>
<p>黃連（一兩，內五錢吳茱萸同炒，五錢益智仁同炒，去二味不用，止用黃連）　梔子（炒，去杇）　白芥子（醋浸炒，各五錢）　川芎　蒼朮（米泔浸七日）　桃仁（去皮存尖）　青皮（去穰）　香附子（童便浸，炒）　莪朮（酒浸，炒）　山楂肉　萊菔子（炒研）　白朮（各一兩）　三稜（用西安府者，一兩五錢）</p>
<p>上為細末，量用湯浸蒸餅為丸，梧桐子大，每服五七十丸，茶湯白湯下。</p>
<p><u>腹痛類</u>　治肚疼以生薑自然汁半酒杯，沙糖半酒杯，沸湯一鍾，調服半時即愈。</p>
<p><u>治乾霍亂</u>　其疾肚疼不可忍，又不吐不瀉，急以鹽一兩，沸湯調下，但鹽氣入腸即定。</p>
<p><u>治攪腸沙</u>　即腹疼難忍，視腹痛而手足冷，陰經受病，身上更有紅點，以燈草蘸油，然燈炮之。凡痛甚而手足暖，屬陽，將刀臂將下惡血聚十指，以針刺各指背近爪甲一分半處，令血出，動其指臂爪甲皮肉，致有血出即安。</p>

<h1>氣門</h1>
<p><u>沉香化滯丸</u>　消結滯，化痰飲，去惡氣，解酒積，中滿嘔噦噁心。</p>
<p>沉香（五錢）　蓬朮（三兩）　香附　陳皮（各二兩）　甘草　木香　砂仁　藿香　麥芽（炒）　神麯</p>
<p>上為末，酒糊丸，綠豆大，每服五十丸，空心沸湯下。</p>
<p><u>一塊氣</u>　治男女噎膈痞滿胸脅刺痛，癥瘕疝氣。</p>
<p>香附（童便浸炒）　陳皮　青皮　三稜　莪朮（各一兩）　神麯　麥芽　鬱金　萊菔子　黃連　檳榔　白牽牛（頭末，各五錢）　枳實　皂角　百草霜（各二錢五分）</p>
<p>上為細末，麵糊丸，綠豆大，每二十五或三十丸，視疾上下，為食後，先熱酒薑湯任下。</p>
<p><u>清氣利膈丸</u>　雖雲氣無補法，然中年以後人，氣血漸衰，如正氣不調，則邪氣何由而除。</p>
<p>人參　白朮　白茯苓　半夏（湯泡薑製）　陳皮（去白）　青皮（去穰麵炒）　當歸（酒浸，各一兩）　川芎　枳殼（去皮穰，麵炒）　柴胡　黃芩（去朽，各七錢）　甘草（炙，一錢）</p>
<p>上為細末，蒸餅湯浸為丸，梧桐子大，每五七十丸，薑湯沸湯，不拘時服。</p>
<p><u>鼓脹</u></p>
<p>用赤尾鯉魚重一斤，或十三四兩者，破開洗淨，將赤豆填滿腹內，以線縫住，不用鹽醬，白水煮熟食之。食過數魚，腿上自裂縫出水而愈。仍忌鹽醬，不忌病復發。</p>
<p><u>又牽牛妙酒</u>　治一切四肢肚腹發腫，不問水腫、氣腫、濕腫皆效。</p>
<p>乾雞糞一升，鍋內炒黃，以好酒三碗，淬下，煮作一碗，細絹濾去渣，令病人飲之。少頃，腹中氣轉動作鳴，從大便利下，於腳膝及臍上下先作皺起，其腫漸消復。如利未盡，再服一劑。以田螺二枚，滾酒內淖熟食之，即止，續以溫粥調理。峨嵋有僧以此方治一人，一二日即愈，自能牽牛來謝，因名。</p>
<p><u>保身丹</u>　治三十六種風，七十二般氣，上熱下冷，腰膝痠疼，手足倦怠，喜睡惡食，顏枯肌餒，赤黃瘡毒，氣塊下注，腸風痔漏，語顫言蹇，左癱右瘓，憎寒毛竦，久瘧吐泄，洞痢，男子陽痿，女人無嗣，七症八瘕等疾，服至一年，百病消除，醉後一服，能卻宿酲，藥後如泄，以羊肚肺煮羹補之。搜風順氣之要藥也。</p>
<p>白檳榔　車前子　大麻子（略炒，一兩，磚微磨去殼，另研）　郁李仁（湯泡去皮）　菟絲子（酒浸二宿，蒸搗曬，去皮，再酒蒸）　牛膝（酒浸二宿）　山茱萸（酒洗取肉）　山藥（各二兩）　大黃（酒拌蒸黑色，原方用五兩）　枳殼　獨活（各一兩）</p>
<p>上為細末，煉蜜丸，梧桐子大，每早晚二十丸，米湯茶酒任下。此方見《醫林集要》腳氣門。以大黃為君，以檳榔等八味為臣，以枳獨二味為佐使。蓋中年以後人厚味，色欲過度，陰虛火動，往往生風，故立方以降火疏風為主，大黃所以五兩也。後人妄自加減，殊非本旨。患風氣諸症，而大便秘實者宜服之。風盛加防風二兩，氣盛加廣木香五錢。</p>

<h1>風門</h1>
<p>丹溪云：半身不遂，大率多痰，在左屬死血與無血，在右屬痰屬氣虛，見《纂要》。知所屬施治，易愈。</p>
<p><u>惺鬆飲</u>　凡中風，急以蘇合丸，薑汁灌醒，方服後藥。</p>
<p>天麻　南星　陳皮　白朮　當歸　川芎　薄荷　桂枝</p>
<p>上銼等分，水二鍾，煎七分，加竹瀝一酒杯服之。</p>
<p><u>加味黑虎保安丹</u>　治一切風氣，大有神效。</p>
<p>川芎　蒼朮　草烏（炮）　何首烏　白芷　荊芥　防風　麻黃　細辛　石斛　甘草（各一兩）　川烏　全蠍（各五錢）　樟腦（一錢）　加兩頭尖　豨薟草　威靈仙（各一兩）　白花蛇（一條）　又加乳香　沒藥</p>
<p>上為末，煉蜜和，木石臼中杵千餘下，丸如櫻桃大。病在上食後，在下食前，隨引嚼服。忌過飲，及熱物欲事，避風。左癱右瘓，急悶或四肢頑麻，並熱酒下。初病勞瘵，吐血腥或小便不通，並好酒下。</p>
<p>眉須脫落，大麻風，口眼喎斜，心熱風，腰足疼，偏正頭痛，夾腦風，或腰痛耳聾腎臟風，並茶清下。</p>
<p>狂言心邪，防風煎酒，入飛硃砂在內下。</p>
<p>紫白癜風，並鼻赤肺臟風，並防風湯下。</p>
<p>耳作蟬鳴，骨氣風，川烏酒下。</p>
<p>小兒吃泥土，或飲食無味，纏臟風，並皂角子湯下。</p>
<p>心氣脹悶，噎食噴嚏，咳嗽，女人赤白帶下，並生薑湯下。</p>
<p>手心退皮，天麻或益智仁湯下。</p>
<p>迎風冷淚，米湯下。</p>
<p>筋骨疼痛，乳香湯下。</p>
<p>膀胱腫痛，醋湯下。</p>
<p>指頭破裂，燒梨湯下。</p>
<p>諸淋瀝或髮鬢退落，並炒鹽湯下。</p>
<p><u>搜風丸</u>　口眼喎斜，左癱右瘓，此疾本難治，姑備方俟採。</p>
<p>天麻（去土皮，淨三兩二錢）　玄參（去蘆）　萆薢（另研末，三兩一錢）　杜仲（去粗皮，酒拌，炒去絲，三兩五錢）　附子（鹽水浸，去皮，五錢）　羌活（七錢）　牛膝（去蘆）　獨活（酒洗，各三兩三錢）　當歸（酒洗，五錢）　生地黃（忌鐵，酒浸一日夜，搗成膏，一兩）</p>
<p>上為細末，煉蜜九，梧桐子大，空心溫酒下八十丸或百丸。</p>
<p>中風難治之疾，姑備方俟採。</p>
<p>絲瓜子（研成漿，加防風、荊芥各一兩）　升麻（五錢）</p>
<p>上銼，姜三片，水一大盞，煎成，入絲瓜漿灌下，可解。如手足麻癢，羌獨各七分，煎湯洗。</p>
<p>治大小人忽然昏暈倒地，五癇病並宜。</p>
<p>硃砂（水飛，用豬心一個割，入朱末五錢，濕紙包，慢火炙熟，去砂淨，空心，食心，砂入後藥）　南星（沸湯浸三次，銼，薑製）　草龍膽（各二兩）　巴豆仁（五錢，石灰半碗炒紅，入仁在內，灰冷去仁，又炒，又以仁入內，次將仁草紙捶油淨）　全蠍（去首足尾，炙，二錢）</p>
<p>上為細末，麵糊丸，梧桐子大，每服十五丸，淡薑湯下。</p>
<p><u>白花蛇煮酒方</u>　治諸風，無問新久，手足腰腿緩弱，行步不正，精神昏運，口眼喎斜，語言蹇澀，痰涎盛，或筋脈攣急，肌肉頑麻，皮膚燥癢，骨節煩疼，或生惡瘡，疼痛無常，或風氣上攻，面浮耳鳴，腰痛體重，一切風濕瘡疥，皆治之。</p>
<p>全蠍（炒，一錢）　當歸（一錢）　防風（去蘆，一錢）　羌活（一錢）　芍藥　升麻　白芷　天麻　獨活　甘草（各五錢）</p>
<p>上銼片，用白花蛇溫水洗淨，去頭尾各三寸及骨刺，取淨肉一兩，先用糯米二斗，如法造白酒，將前藥絹囊貯置酒缸中，俟酒來，春五，夏三，秋七，冬十日，取酒同藥囊一併煮熟，空心熱飲。初飲一杯，至三日加半杯，三日後二杯，漸至三杯為常，不可多服，多則反生變，歸罪於藥之不善也。慎之。此方傳自廣中，極有神應。</p>
<p><u>天麻丸</u>　諸痛屬火，兼受風寒濕熱之氣，發動於經絡之中，以致肩臂手膊疼痛。</p>
<p>天麻（二兩）　秦艽（去蘆）　川續斷　防風（去蘆）　獨活（各一兩）　威靈仙（五錢）　桂枝（三錢）　片芩（五錢，炒）</p>
<p>上為末，酒糊丸，如梧桐子大，每服五十丸，滾水下。</p>
<p><u>獨活寄生湯</u>　治風濕臥床不起，七日見效。</p>
<p>獨活　桑寄生　杜仲（炒去絲）　牛膝（酒浸）　秦艽　茯苓　川芎　人參　防風　細辛　桂心（各二兩）　芍藥　當歸　熟地黃（各三兩）　甘草（炙，五錢）</p>
<p>上銼，每一兩，姜三片，水二鍾，煎至一鍾，通口熱服，每日一劑。外用金鳳花、柏子仁、朴硝、木瓜，煎湯洗浴，每日二三次。</p>
<p>又蜜與生薑汁等分，慢火熬，滴水成珠，紙絹攤貼患處。</p>
<p><u>法制木瓜丸</u></p>
<p>治腳氣下元虛，腰疼，及風濕在下，亦除轉筋。</p>
<p>新木瓜，開頂去穰淨，填滿陳艾，合頂蒸熟，去艾，銼片，曬乾為末，二兩。</p>
<p>羌活　熟地黃　當歸（各六錢）　五加皮　杜仲（炒，各八錢）　牛膝　蒼朮（鹽炒）　虎脛骨（酥炙，各九錢）</p>
<p>上為末，蜜丸，梧桐子大，每七十丸，酒鹽湯任下。</p>
<p><u>膝風</u></p>
<p>陳艾、菊花作護膝，久自除患。</p>
<p>防風、細辛、草烏等分為末，擦靴襪中，能除風濕，健步。</p>
<p><u>捉虎丹</u>（又名一粒金）　專治風寒暑濕，腳氣，不問遠年近日，一切走注疼痛不可忍。臨發時，空心服一丸，趕到腳面上赤腫痛不散，再一丸，趕到腳心中出黑汗，乃除根。如病在上，食後臨臥酒下，自然汗出，定痛為驗。及中風癱瘓麻痹不仁，手足不能屈伸，偏枯，酒下二丸，進二服。初中風不省人事，牙關不開，研一丸，酒調灌下，一醒是驗。</p>
<p>白膠（另研）　草烏（去皮臍）　五靈脂　地龍（去土）　木鱉子（捶去油，各一兩五錢）　乳香　沒藥　當歸（各七錢半）　麝香（二錢半）　京墨（燒煙盡，一錢半）</p>
<p>上為末和勻，糯米粉糊丸，芡實大，溫酒研化一丸，神效。</p>
<p>又以磚燒紅，將多年米泔臭水淬之，乘熱布包三片，用膝住綿被覆之，三五次愈。</p>

<h1>泄瀉門</h1>
<p><u>三白散</u></p>
<p>白朮　白芍藥（炒，各錢半）　白茯苓（二錢）　澤瀉　厚朴（薑汁炒）　黃連（炒，各一錢）　乾薑（炒，五分）　烏梅肉（煎用二錢，為丸用三錢）</p>
<p>如兼傷食，加神麯、麥芽（各一錢）。</p>
<p>上生薑三片，水鍾半，煎一鍾，食前服。神麯糊丸服，更妙。</p>
<p><u>貼臍膏</u>　治水瀉不止。</p>
<p>木鱉仁（五個）　母丁香（五個）　麝（一分）</p>
<p>上為末，米湯調作膏，納臍中，外以膏藥掩之。</p>
<p><u>六神丸</u>　治脾虛腎虛，不時作瀉。</p>
<p>破故紙（炒，四兩）　肉豆蔻（生用，二兩）　神麯　麥芽　小茴香（俱炒，各五錢）　廣木香（不見火，三錢）</p>
<p>上為末，生薑二兩，切片，煮紅棗肉丸如梧桐子大，每服三十丸，鹽湯下。</p>

<h1>痢門</h1>
<p>（凡泄痢，惟以烏梅捶碎，煎湯服之，亦且止渴）</p>
<p><u>簡易承氣湯</u></p>
<p>大黃（五錢）　枳實（米泔潤，銼，三錢）　甘草（二錢）</p>
<p>上銼，先以大黃一半，同二味煎熟，又入一半，起溫服。氣虛者大黃三錢，枳實二錢，甘草一錢。</p>
<p><u>加減導氣湯</u></p>
<p>白芍藥（二錢）　大黃（三錢，煎熟入）　黃連　厚朴（姜炒）　枳殼（麵炒，各一錢半）　黃芩（炒）　木香（各一錢）　檳榔（一錢）　青皮（七錢）</p>
<p>上銼，生薑三片，水二鍾，煎七分，食前熱服，渣煎四分，通前得利數行愈。二帖後不愈，去檳榔、厚朴、枳殼、大黃，加白朮一錢半，白茯苓、陳皮各一錢。血虛加當歸一錢，砂仁七分，黃連減五分，進數服食減，加炒神麯五分。</p>
<p><u>加減導氣丸</u></p>
<p>黃連（二兩，內一生薑汁拌炒，一用朴硝水浸）　白芍藥（二兩，一生一炒）　黃芩（炒）　木香　大黃　青皮　枳殼（麵炒，各二兩）</p>
<p>上為末，蜜少入，薑汁打麵糊丸，梧桐子大，每服四五十丸，白湯下。</p>
<p>又痢初發三五七日內，不問赤白紫紅，每日二服。有積自行，無積自止，止後勿服。</p>
<p><u>加味香連丸</u></p>
<p>黃連（十兩，炒）　大黃（四兩，酒蒸）　木香（二兩）　檳榔（一兩）</p>
<p>上為細末，陳麵糊丸，綠豆大，每服七十丸，空心米湯下。</p>
<p><u>通玄二八丹</u></p>
<p>治積聚，空心以薑湯服，瀉一二次即愈，用粥補治。泄痢，飯後茶湯服，即止。若腸滑腸風下血，可常服。</p>
<p>黃連（去毛，八兩，雅州者）　當歸（酒浸）　生地黃（酒浸）　白芍藥　烏梅肉（各五錢）</p>
<p>中丞周約庵先生，常服下四味各二兩，與黃連方稱覺有理。</p>
<p>上為細末，以雄豬肚一個，鹽醋洗去穢氣，煮將熟，取控乾水，入藥在內，置甑中，上下韭菜厚鋪，自辰至酉，慢火蒸之。以銀簪插試有黃色為度，乘熱搗一二千杵，丸如梧子大，每服七十丸。食後服以薑湯下則行，以細茶湯下則止，能通能塞，故曰通玄。</p>
<p><u>還少丹</u>　治發白返黑，益精補髓，壯元陽，卻病延年。</p>
<p>何首烏（半斤，黑豆一碗，水三碗，同煮去豆）　牛膝（酒浸，炒）　生地黃（酒浸，九蒸九曬）　肉蓯蓉（酒浸，刮去浮甲心膜，酒拌，蒸酥炙，各六兩）　黃柏（去皮，炒褐色，先用酒浸）　補骨脂（酒浸一宿，東流水洗，蒸半日）　車前子（微炒）　柏子仁（微炒）　麥門冬（水潤去心，微炒，各四兩）　天門冬（去心，酒拌蒸，二兩）</p>
<p>上為細末，用煮熟紅棗去皮核，同煉蜜和，杵百餘下，丸如梧桐子大，每空心午前酒服五十丸。忌萊菔、豬血、羊肉。服至百日，逢火日摘去白髮，生出黑髮，是其驗也。犯所忌，不效。</p>
<p><u>流金丸</u>　治內外上下諸積熱，尤去肺胃臟疾。</p>
<p>大黃（四兩，酒浸，切薄片，九蒸九曬，初用大香二炷，蒸熟透，取曬如初，一次蒸不透，後次雖八蒸亦不能透矣）　石膏（二兩，水飛）　陳皮（去白）　香附（去毛，各一兩五錢）　桔梗（一兩）</p>
<p>上為極細末，煉蜜丸，彈子大，噙服。</p>

<h1>腰痛門</h1>
<p><u>五仙助腎丹</u></p>
<p>八角茴香　破故紙　杜仲（青鹽末炒，去絲）　青鹽（各八分）　肉蓯蓉（酒洗去浮甲）</p>
<p>上為細末，大豬腰子一枚，去筋膜分四片，下相續夾末片中，包以荷葉，外加濕紙，慢火上炙熟，空心酒下。</p>
<p><u>續斷丸</u>　腰痛並腳痠腿軟。</p>
<p>續斷（二兩）　破故紙　牛膝　杜仲　木瓜　萆薢（各一兩）</p>
<p>上為細末，煉蜜丸，梧子大，空心無灰酒下五六十丸。</p>
<p>又大胡桃二枚，炮焦去殼，細嚼，燒酒送下，腰痛立止。</p>

<h1>脅痛門</h1>
<p>枳殼　草豆蔻（俱炒）　赤芍藥　香附　烏藥　砂仁</p>
<p>上等分為細末，熱沸湯調下二錢。或銼，每二錢，水一鍾，煎五分熱服。天台蔡霞山先生傳。</p>

<h1>傷寒門</h1>
<p><u>九味羌活飲</u>　見《丹溪纂要》《陶節庵六書》，效速。</p>
<p>治疫氣傳染，此疾汗氣入鼻，至腦即散，布經絡，初中覺頭痛，急以水調芥菜子末，填臍，以熱物隔衣一層熨之，取汗而愈。</p>
<p>凡至病所，以雄黃、蒼朮為細末，香油調敷鼻內，則邪氣不能入。</p>

<h1>瘧疾門</h1>
<p><u>五神丸</u></p>
<p>巴豆（去油，五錢）　麝（一分，東）　官桂（五錢）　硃砂（一錢，南）　白礬（五錢）　白芷（二錢，西）　青黛（五錢）　黑附子（三分，北）　硫黃（五錢）　雄黃（一錢，中）</p>
<p>上端午日各為末，各包按五方置案上，取五家粽尖，午時搗合丸，如梧子大。每服用一丸，絲綿裹，男左女右，未發日晚塞鼻孔中立效。合藥忌雞犬婦人見。用過留俟有病者，以醋略洗，另用綿囊如法治之。一丸可愈七八人。愈後，忌食雞魚羊三五日。</p>
<p>一方用大蔥一根，搗如泥，同豬膽一枚，取汁合面丸，如芡實大，硃砂為衣。將發時，以綿包，男左女右塞鼻孔中效。溧陽馬竹湖先生傳。</p>
<p><u>截瘧丹</u></p>
<p>端午取獨蒜，不拘多少，舂爛入好黃丹，再舂乾溼通勻為丸，圓眼核大，曬乾收貯，三二發後，臨發日雞鳴時一丸，略捶破，井水面東服，立止。</p>
<p>蒼朮　柴胡（各兩半）　川芎　乾葛　黃芩　陳皮　半夏　知母　甘草（各一兩）</p>
<p>上銼，作十劑，生薑三片，水一鍾，煎七分，侵晨溫服。氣弱加人參，每劑一錢，多服有益。天台蔡霞山先生傳。</p>
<p><u>又方</u></p>
<p>柴胡（錢半）　白朮　芍藥　厚朴　草果（各八分）　半夏　檳榔（各七分）　青皮　川芎（各六分）　陳皮　知母　甘草（各四分）</p>
<p>上銼，水一鍾，生薑三片，向東桃枝七個，煎七分，臨發時，先服三五劑見效。</p>
<p>續方截劑</p>
<p>柴胡　蒼朮　蘇葉　檳榔（半尖半圓者，等分）　青皮　陳皮　知母　貝母　草果　甘草（各等分）　烏梅　厚朴（量用）　常山　黑豆（等分，炒，去皮）</p>
<p>上銼，水二鍾，煎至一鍾，留當發日五更溫服一日。忌茶、油膩、魚、生冷。雖用常山，以豆炒熟，而檳榔用雌雄相半，則有以制常山，不至吐瀉矣。</p>

<h1>五淋門</h1>
<p>如酒後恣欲而得者，則小便將出而痛，既出而癢，以八正散主之。如上盛下虛，口苦咽乾，煩熱將淋者，清心蓮子飲，倍加地膚子，效。</p>
<p>又生用螺螄一碗，連殼乾鍋內炒熱，淬以好白酒三碗，煮至一碗，取螺以針挑肉食，仍以此酒下之。食至二三次，殊效。雖白濁晚卸亦治。</p>
<p>又白茯苓去皮，銼作錢余大塊四兩，用知母、貝母，銼開各一兩八錢，瓦器水煮至干，去二母，將苓銅器內慢火炒散為末，黃蠟溶化，和如彈子大。每空心食遠嚼一丸，蜜湯下。</p>
<p><u>淋莖中疼</u>　甘草梢無甘味者，木通各五錢，食鹽二分半。</p>
<p>上銼，水煎，露一宿，空心服。畏冷者，再溫服。</p>
<p><u>小便不通</u>　土狗大者一個，小者二個，炙乾為細末，入冰片、麝香各少許，用小筒或鵝翎管吹入龜口內，少頃氣透自通。</p>
<p>有以生明礬末填臍中，井水頻以指蘸滴礬令濕者。有以蚯蚓糞、朴硝等分，調敷小肚者。</p>

<h1>痞塊門</h1>
<p><u>神效阿魏散</u>　治痞有驗。</p>
<p>大黃（一兩）　阿魏（二錢二分）　天竺黃　蘆薈　白殭蠶（各二錢）　孩兒茶　甘草（各三錢）　川山甲（七片，炮焦）　木鱉（一個）</p>
<p>上為細末，每服三錢，好酒調服，如重車行十里許，濃血即愈。中翰屠白石方。</p>
<p><u>治痞塊疳積兼噎隔</u></p>
<p>五靈炒煙盡研細，阿魏研細等分，用雄黃、狗膽汁和丸，如黍米大，空心唾津送下三十丸。忌羊肉醋面。</p>
<p><u>痞膏</u></p>
<p>桐油（五兩）　松香（八兩）　當歸（一兩，熬枯去渣，入）　乳香　沒藥（各一兩，將起火，入）　真阿魏（三錢）</p>
<p>上用紅絹攤膏，先以生薑煨過，擦肌膚後貼膏，頻以熱手按摩，或炒鹽熨之。</p>

<h1>折傷門</h1>
<p><u>乳香定痛散</u>　治金創打撲，折骨傷損。</p>
<p>乳香　沒藥（各二錢）　敗龜板（酥炙脆，十兩）　紫荊皮（二兩）　當歸（須）　虎骨（酥炙）　骨碎補　川山甲（火炮，各五錢）　半兩錢（五文，如無，以自然銅一兩，醋淬七次）</p>
<p>上研細末，每服一錢，重傷者二錢，好酒調下。</p>
<p><u>沒藥丸</u>　打撲傷損，筋骨疼痛。</p>
<p>乳香　沒藥　川芎　川椒　芍藥　當歸（各五錢）　自然銅（二錢五分，醋淬七次）</p>
<p>上為細末，黃蠟二兩，化開入藥攪勻，丸如彈子大，每用一丸，好酒煎沸熱服，連服一二次。</p>
<p><u>通血散</u>　打撲傷損，血汙入心，下之立愈。</p>
<p>當歸尾　枳殼　木通　澤蘭　大黃　桃仁（各五錢）　蘇木　紅花（各三錢）</p>
<p>上為細末，或滴水丸，每服二錢，好酒下，重者童便合酒下。</p>
<p><u>加味芎歸湯</u>　打跌傷損，敗血入胃，嘔吐黑血如豆汁。</p>
<p>川芎　當歸　百合（水浸）　白芍藥（水浸）　荊芥（各二錢）</p>
<p>上銼，水一鍾，酒半鍾，煎八分服。</p>
<p>又，死童子骸骨煅過，香瓜子仁炒乾等分為末，好酒下，止痛極速。</p>

<h1>破傷風門</h1>
<p>燒魚膠存性，研細熱酒服。</p>
<p>又南星　半夏　川烏　草烏　天麻　硃砂　雄黃（每服一字）</p>
<p>上為細末，避風處熱酒調下，仍進熱酒取汗為度。</p>

<h1>痔漏門</h1>
<p>牙豬大臟連肛門七寸長，鹽水洗去穢氣，以百草霜滾黑，煮熱，換清水再煮至爛，空心點飛鹽食，依法連食七日，間服後藥。</p>
<p>又當歸（酒浸，焙乾）　川山甲（酥炙）　黃連（用木香五錢，同水浸一日，去木香曬乾）　地骨皮　槐角子（瓦焙）　刺蝟皮（一個，慢火酥炙黃色，各三兩）</p>
<p>研為細末，每二錢空心酒下，以蜜煉數沸，入黃蠟等為丸，梧桐子大，每三錢，酒下亦可。</p>
<p>又甘草煎湯洗浸，可救一時之急。</p>
<p>東垣試方中秦艽白朮湯可按服。</p>
<p>痔痛水不幹，蜣螂一枚陰乾，冰片少許，共為末，紙捻末入孔中，漸生肉，藥自退出。</p>
<p>一方用乳、沒、朱、雄、麝各二分，熊膽一分細研，田螺一個，以麝入在內，俟螺水加綠豆粉少許，為錠子，量瘡孔大小，深淺塞之。</p>

<h1>脫肛門</h1>
<p>赤石脂碾細，水合包大蜘蛛一個，麝一分在內，燒為炭，覆地上為末，用少許托在肛門上即收。</p>
<p>又以狗懸後二足控取涎，敷肛上即收。</p>

<h1>下血門</h1>
<p><u>槐角丸</u>　腸風下血，不問糞前後，遠年近日，並效。</p>
<p>槐角子（一兩）　枳殼（麩炒）　當歸尾　黃芩（各酒洗）　黃柏　側柏葉（各酒洗）　黃連　荊芥穗　防風　地榆（各五錢）</p>
<p>上為末，酒糊丸，梧桐子大，每七十丸，空心米湯下。忌生冷。朱上卿傳。</p>
<p>枳殼（麵炒黃，一兩）　當歸身（蜜敷，慢火炙，再敷再炙，以透為度，二兩）　大黃（煨，一兩）</p>
<p>上為末，煉蜜丸，梧桐子大。臨臥時三四十丸白湯下。何暘岡傳。</p>
<p>又烏梅灰火炮焦，令勿煙盡覆地上，冷碾細，醋糊丸，梧桐子大，空心好酒下三四十丸。陳近所傳。</p>
<p><u>治糞後紅</u></p>
<p>枳殼　黃連　黃芩　黃柏</p>
<p>上銼等分，水煎服，二三貼效。</p>
<p><u>治大便不通</u></p>
<p>用大皂角碾為細末，將蜜煉滴水成珠時，入皂角末煉起丸，如棗核式，如橄欖而小，入肛門內，不時即通。</p>
<p>一用大生蔥白一根，蘸蜜插入肛門內，蔥軟又易新者。</p>
<p>一方用蜜一酒杯，入朴硝二錢，沸湯一茶鍾，空心調下。</p>

<h1>疝門</h1>
<p>一方川芎、木通、燈草各二錢，青鹽、甘草各一錢，銼，水煎服。林靜齋傳。</p>
<p><u>四制川楝丸</u></p>
<p>川楝子去核一斤，分四份，一鹽炒去鹽。一破故紙一兩炒，俱用。一斑蝥一個去翅足炒，去斑蝥。</p>
<p>一小茴香六錢，同鹽炒去鹽，並用茴香，麵糊丸，梧桐子大，每服六十丸。</p>
<p>仍用川芎　當歸　生地黃　白芍藥　小茴香（鹽水炒）　破故紙（炒）　杜仲（炒去絲）　海藻</p>
<p>上等分，水煎與丸藥，間服。</p>
<p><u>回春丸</u>　治疝如神。</p>
<p>茯苓　白朮　山楂（炒）　大茴香　吳茱萸（各一兩）　荔枝核（炒，一兩）　枳實（八分）　橘子核（炒，三兩）</p>
<p>上為細末，煉蜜丸，每丸一錢五分重，空心每細嚼一丸，薑湯送下。</p>
<p><u>蒼六散</u>　治下元虛損，偏墜腎疼痛。</p>
<p>真正茅山蒼朮，刮去皮六斤。</p>
<p>一斤老米泔水，浸二日夜。</p>
<p>一斤酒浸三日夜，切曬。</p>
<p>一斤青鹽半斤，同炒黃色，去鹽不用。</p>
<p>一斤小茴香四兩，炒黃色去茴香不用。</p>
<p>一斤大茴香四兩，炒黃色去茴香不用。</p>
<p>一斤桑椹子二斤，取黑汁拌曬乾。</p>
<p>共為細末，以酒空心送下三錢。</p>

<h1>瘡瘍門</h1>
<p>凡瘡癢皆屬熱，癢者熱之微，痛者熱之極。</p>
<p>凡向火遠而灸之則癢，近而灸之則痛，是其驗也。出《原病式》。</p>
<p><u>玉樞丹</u>　加透明雄黃三錢，名太醫紫金丹。</p>
<p>治一切毒藥，蠱毒，瘴氣，並狐貍、鼠、莽、惡菌、河豚之毒，誤食死牛馬肉，毒蛇狂狗惡蟲所毒，癰疽發背，無名惡瘡，諸風癮疹，赤腫丹瘤，隨手取應，萬無一失。凡居家出外，不可闕此。</p>
<p>山茨菰（如杏仁而差大，外茸毛殼包之，去毛焙，二兩，此味不真則藥不效）　文蛤（一名五倍子，捶破，洗淨，焙乾，三兩）　紅芽大戟（河南者佳，去蘆洗焙，一兩半）　千金子（名續隨子，去殼研去油，取霜，一兩）　麝香（研，三錢）</p>
<p>一方硃砂、雄黃各五錢，治瘧引見後尤捷。</p>
<p>上各為極細末，糯米煮粥，合劑木石臼杵千餘下，每兩分為四十粒，印作錠子，飾以硃砂或金箔，每服一粒，以生薑薄荷汁、井華水研服，干薄荷濃煎湯，磨服亦可，通利一二次，用溫粥即止。合宜端午七夕重陽，或天德月德日亦可，須淨室焚香至誠修制，毋令婦人雞犬見，效不盡述。癰疽發背初起時，用涼水磨塗痛處，並磨服，良久覺癢立消。</p>
<p>陰陽二毒，傷寒心悶，狂言妄語，胸膈壅滯，邪毒未發，及瘟疫，山嵐瘴氣，纏喉風，並冷水入薄荷葉同磨服。急中顛邪喝叫鬼胎鬼氣，並用暖無灰酒下。自縊落水死，頭尚暖者，及驚死鬼迷死，未隔宿者，並冷水磨灌下。蛇犬蜈蠍傷，並水磨塗傷處。</p>
<p>諸瘧不問新久，臨發時煎，桃柳枝湯磨服。</p>
<p>小兒急慢驚風，五疳痢，蜜水薄荷同磨服，量小大與之。</p>
<p>牙疼酒磨塗，及含少許吞下。</p>
<p>湯火傷，東流水磨塗傷處，打撲傷損，炒松節無灰酒磨服。</p>
<p>年深日近頭痛，太陽疼，酒同薄荷磨，紙花貼太陽穴，諸癇疾，口眼喎斜，唇眼掣顫，言語蹇澀，卒中風，口禁，牙關緊急，筋脈攣縮，骨節風纏，手足疼痛，行動艱辛，並酒磨服。孕婦忌服。</p>
<p>凡瘡發背疽瘡，瘰癧疔瘡一切惡，除頭面外，余處覺起時，即以蒜切兩錢，厚貼患處，豆大艾壯，灸至百十餘壯。痛至覺癢，癢至覺痛，灸三五壯，覺蒜大熱，更換新者。百試百驗。</p>
<p>內服生明礬碾細末，壯人五錢，氣弱人三錢。以大老蔥一握，煎湯三碗，以一碗頓溫，通口吞下，隨以二碗，熱蔥湯飲，厚被取汗即愈，百無一失。縱是瘡潰爛開，服一服後，緣邊起皺，自然歸束，不過二三服有驗，隨以清熱消風養血藥理之。</p>
<p>一方生礬末一兩，蔥白煨熟，搗合為丸，曬乾，每服二錢半，熱酒送下。</p>
<p><u>潰膿散</u>　治諸腫毒瘡瘍，疼甚難忍，初起者，服之即消，成事即潰。</p>
<p>大黃（四錢）　川山甲（炒黃色）　白殭蠶　白芷（各二錢半）　乳香　沒藥（各一錢）</p>
<p>上共為細末，用當歸四錢，以水一鍾，酒一鍾，合煎至一鍾，調一二錢，空心服之。如湯少，加酒亦可。</p>
<p>治癰疽不分上下，或發背初起，服更宜。</p>
<p>川山甲（火炙）　白芷　殭蠶　蟬蛻（各三錢）　北大黃（五錢）</p>
<p>上銼，水酒各半鍾煎，空心服，渣再煎服，不過三帖，立效。</p>
<p><u>消腫湯</u>　治一切無名腫毒，並癰疽背瘰，初發宜服此能消。</p>
<p>黍黏子（炒）　黃連（酒炒，各三分）　當歸身　甘草（各五分）　天花粉（三分）　黃耆（三分）　黃芩（酒洗，五分）　柴胡（一錢）　連翹（一錢二分）　紅花（五分）</p>
<p>上銼片，作一服，水二鍾，煎八分，空心熱服，渣再煎，相繼服。忌生冷麵食熱物。</p>
<p><u>救苦化堅湯</u>　治瘰癧馬刀挾癭，從耳下或耳後下，頸至肩上，或入缺盆，乃手足少陽經分；其瘰在頰下，或至頰車，乃足陽明之經分，受心脾之邪而作也。今將二症合而治之。</p>
<p>與消腫湯相間服。</p>
<p>黃耆（一錢）　人參（三分，補肺氣之藥也，如氣短不調及喘者加之）　炙甘草（五分）　真漏蘆　升麻（各一錢）　葛根（五分。此三味足陽明本經藥也）　連翹（一錢）　牡丹皮（三分）　當歸身　生熟地黃（各三分。此三味諸經中和血生血涼血藥也）　芍藥　黍黏子（各三分）　羌活（一錢）　獨活　防風（各五分。此三味關手足太陽症，脊痛項強不可回視，腰似折，項似拔者是也）　柴胡（八錢，無腫或腫消不用）</p>
<p>防風一味辛溫，若瘡在膈以上，雖無手足太陽症，亦當用之，為散結去上部風邪，凡病人身拘急者風也。</p>
<p>昆布　三稜（煨）　神麯（炒，各二分）　廣朮（煨）　黃連（各三分）　黃柏（炒，一錢）　麥芽面　厚朴（各一錢）</p>
<p>上為細末，湯浸蒸餅和丸，捻作餅子，曬乾搗如米粒大，每服三錢，白湯下。</p>
<p>如氣不順，加橘皮，甚者加木香少許。量病人虛實，臨時斟酌與之。無令藥多妨其飲食，此治之大法也。</p>
<p>如止在陽明分為瘰癧者，去柴胡、黍黏子二味，余皆用之。</p>
<p>如在少陽分為馬刀挾癭者，去獨活、漏蘆、升麻、葛根，更加瞿麥穗三錢。</p>
<p>如本人素氣弱，其病勢來時氣盛而不短促者，不可考其平素，宜作氣盛而從病痛之權也。宜加黃芩、黃連、黃柏、知母、防己之類，視邪氣在上中下三處。</p>
<p>假令在上焦加黃芩（半酒洗，半生用），在中焦加黃連（半酒洗，半生用），在下焦則加酒製黃柏、知母、防己之類，選而用之。</p>
<p>如本人大便不通，而滋其邪盛者，加酒製大黃以利。</p>
<p>如血燥而大便燥乾者，加桃仁、酒製大黃二味。</p>
<p>如風澀而大便不行，加煨皂角仁、大秦艽以利之。</p>
<p>如脈澀，覺身有氣，澀而大便不通者，加郁李仁、大黃以除氣燥也。</p>
<p>如陰寒之病，為寒結閉而大便不通，以《局方》中半硫丸，或加煎附子、乾薑，冰冷與之。大抵用藥之法，不惟瘡瘍一說，諸疾病量人素氣弱者，當去寒之藥，多用人參、黃耆、甘草之類，瀉火而先補其元氣，余皆仿此。</p>
<p><u>治疔瘡</u>　初發即以蒼耳燒灰，陳醋調敷。</p>
<p>又川烏（三個）　草烏（七個）　杏仁（九個）　碾細飛礬（一兩）</p>
<p>上無根水敷，留口，紙蓋頻以水潤。</p>
<p><u>治瘰癧</u></p>
<p>廣木香（一兩）　川山甲（五片，瓦焙枯）　麝（五分）　蜈蚣（一條，去頭足，瓦焙乾）</p>
<p>上為細末，或滴水丸，白酒一斤，分作三次服。</p>
<p><u>遇仙無比丹</u></p>
<p>古方中有斑蝥，服之甚捷，覺小便赤澀，水調益元散，頻服最妙。</p>
<p><u>癧膿潰用膏貼</u></p>
<p>乳香　沒藥　大黃（各二錢半）　赤石脂（二錢）　孩兒茶（三分）　輕粉（二分）　冰片（半分，另研）</p>
<p>上為細末，先稱菜油二兩，煎滾，次入黃蠟一兩溶化，入藥末攪勻，起火方入冰片再攪，磁器收貯，隨瘡大小用油紙敷貼，先以花椒湯洗瘡。</p>
<p>對口瘡，野苦蕒數根搗取汁，和酒服，渣敷患處，二三服愈。如已潰膿，取韭菜地上蚯蚓搗細，涼水調敷，日換三四次。敷湯火傷更妙。</p>
<p>頭生黃水瘡，即肥瘡。</p>
<p>黃柏　黃連　蓖麻子仁　草決明　輕粉</p>
<p>上為細末，瘡痛香油調敷，癢則釅醋調。常正夫傳。</p>
<p><u>下疳瘡</u></p>
<p>黃柏一兩，分作手指大條，慢火炙熱，淬豬膽汁中，用二枚，每炙每淬，汁盡為度，研細入輕粉錢余，香油調敷。餘姚魏景岐傳。</p>
<p>又下疳</p>
<p>冰片　珍珠　輕粉　孩兒茶</p>
<p>上末細，干，香油調敷，濕，乾末敷。溧陽馬竹湖先生傳。</p>
<p><u>治魚口瘡</u></p>
<p>大黃（五錢）　川山甲（三錢）　白殭蠶（三錢）　五靈脂（三錢）</p>
<p>上為末，作一服，熱酒送下，取汗為度，膿血從大小便出。初起用牛皮膠醋煮敷之，即消。又照年數，白湯吞皂角子，如十歲則吞十枚，如二十歲則吞二十枚。</p>
<p><u>疥靈丹</u></p>
<p>苦參（刮淨，銼片，糯米泔浸一日，又換浸一日，取出曬乾，二兩）　白蒺藜子（炒，杵去刺，一兩）　白芷（一兩）　山梔（連殼，用仁去秀，俱炒）　枳殼（麵炒）　羌活　當歸　連翹（各七錢）</p>
<p>上末蜜丸，梧桐子大，空心臨臥荊芥湯下五十丸。</p>
<p><u>擦藥</u>　柏油一兩，水銀五錢，順擂水銀不見星擦之。</p>
<p>又杏仁（去皮）　大楓子（去殼，各四錢）　樟腦（二錢，共碾）　白礬生熟（各錢半）　水銀（一錢，先以茶三錢碾不見星）　輕粉（一錢）　豬脂或桕油（二兩，夏月一兩，同碾用）</p>
<p>又治疥作癢作痛，嫩桃柳枝三寸長，各四十九，用菜油一大碗煎至半碗。去渣，入辰粉一兩，和成膏洗淨塗之。</p>
<p>又治乾溼疥癬，並膿顆爛瘡。</p>
<p>大楓子（連殼二兩，取仁）　枯礬（四錢）　樟腦（三分）　蛇蛻（燒存性，三分）　蜂窩（燒存性，二分）　水銀（五錢）　桕油（四兩）</p>
<p>上以楓子諸藥為末，次入桕油，次入水銀，同研勻敷之。</p>
<p><u>治風癬</u></p>
<p>棗五枚去核，每一枚入砒二錢在內，仍將濕紙外包，灰火中炮燒過紙為度，取為細末，豬膽調擦。</p>
<p><u>治牛皮癬</u>　以禿筆蘸塗瘡上，覆以青衣，夏月治尤妙，但忌浴數日，水有臭涎更效。</p>
<p>川槿皮（一兩）　半夏（五錢）　大楓子仁（十五個）</p>
<p>上銼片，河井水各一碗，浸露七宿，取加輕粉一錢，任水中。</p>
<p><u>治濕癬</u></p>
<p>川槿皮（去粗，一兩）　大楓子（去殼，一兩）　白芨（一兩）　大黃（二兩）　木鱉子（去殼，五錢）　檳榔（五錢）　半夏　枯礬（各五錢）</p>
<p>上為末，水調擦。溧陽陳南谷傳</p>
<p>治遠近年風癬腳瘡，流黃水者，黃柏去皮，不拘多少，用豬膽汁塗，曬乾，更塗更曬數次，又以酥透柏皮，方研細末，每用先以花椒煎湯洗過，拭乾後以末敷之。二三次愈。</p>
<p><u>加味仙遺糧散</u>　治遠年楊梅風，漏，筋骨疼痛。</p>
<p>冷飯糰（二斤）　荊芥　防風　五加皮　白鮮皮　木瓜　威靈仙（各兩半）　當歸（酒洗）　生地黃（酒洗）　白芍藥（炒）　川芎　白茯苓　牛膝　杜仲（炒去絲）　地骨皮　白芷　青藤　槐花　黃連（各一兩）</p>
<p>上銼片，作十帖，水鍾半，白酒一鍾，煎至一鍾，瘡在上食後服，在下食前服，渣再煎，每日一帖，煎兩次合一處，庶濃淡得宜，作兩次溫服，第三次勿煎，逐日曬乾至三帖，統煎湯俟溫，洗浴。初服五貼之內，瘡勢覺盛，乃毒氣攻外，勿懼。輕者至十帖，重者至二十帖，方見奇功。忌房事、茶、生冷、煎煿、母雞、鵝、羊、豬頭、蹄、蝦、魚，此皆動風之物。</p>
<p><u>藥酒方</u></p>
<p>冷飯糰（二斤）　五加皮（五兩）　當歸　生地黃　白芍藥　白茯苓　白朮　牛膝　杜仲　木瓜　地骨皮　荊芥　防風　大風藤　白鮮皮　金銀花　威靈仙　川芎　白芷　甘草（各五錢）</p>
<p>上銼片，生絹袋盛，無灰酒一罈，煮沸入袋浸七日，每日進三四五杯。</p>
<p><u>擦藥方</u></p>
<p>杏仁（水潤，去皮）　輕粉（各一錢）　硃砂　雄黃（各五分）</p>
<p>上研爛，豬膽調敷，以上三方互用，神效。</p>
<p><u>三黃敗毒散</u>　治楊梅瘡，並一切瘡毒。</p>
<p>升麻　當歸尾　川芎　生地黃　赤芍藥　白粉葛　黃芩（各一錢）　黃連　黃柏　連翹　防風（各八分）　羌活　金銀花　甘草節（各五分）　蟬蛻（二個）</p>
<p>上銼片，白水煎服。</p>
<p><u>三烏追風散</u>　治諸瘡惹風者。</p>
<p>川烏　草烏（各以火炮，水淬，去毒）　何首烏　石菖蒲　甘草</p>
<p>上石舂為細末，紫蘇、荊芥煎湯，每服止於一分，酒下亦可，服此宜居密室，誤觸風，反敗事。</p>
<p><u>生肌散</u></p>
<p>蛤粉（一兩）　象皮（三錢）　海螵蛸　孩兒茶（各一錢）　珍珠（三錢，入紅乾鍋內，碎之）　寒水石（火煅，一錢）　痛加乳香　沒藥</p>
<p>上為細末，擦患處。</p>
<p><u>撮合山</u></p>
<p>五倍子、絳真香各炒為細末，敷上，皮肉自合。</p>
<p>又乳香（二錢）　苦丁香　沒藥　血竭（各一錢）　赤石脂　輕粉（各五分）　蠶殼（十個，燒存性，如不收，加枯礬三分，研細用，敷瘡即生肌）</p>
<p>又治刀斧破傷，以生薑細嚼爛敷上，勿動，次日肉自生合，效。</p>
<p>又五月五日以韭菜、青蒿嫩頭搗爛，入陳石灰為錠子，曬乾用。</p>

<h1>婦人門</h1>
<p><u>滋陽百補丸</u>　治婦女百病。</p>
<p>香附子（舂杵，去毛，一斤，分四份，一份米泔水浸，一份童便浸，一份鹽水浸，一份醋浸。前二份頻換水，後二份干則益之，以各浸透為度）　益母草（忌鐵，洗曬微炒）　當歸（酒洗全用，六兩）　川芎（四兩）　赤茯苓（二兩）　白朮（無油者，四兩）　白芍藥（酒浸煨，三兩）　人參（二兩）　甘草（一兩，有熱生用，無熱炙用）　生地黃（酒洗，曬乾，素無熱者用熟）</p>
<p>經不調，加玄明索（黃明者，二兩），有熱加條實黃芩（二兩，炒），有嗽加五味子（二兩）。</p>
<p>上用石臼杵為細末，煉蜜丸梧桐子大，每服六十丸，白湯酒下。冬用煎湯，隨人所好，用引皆可。</p>
<p><u>女聖丸</u>　香附，古云女中聖藥。味苦，能降無根之火，性勇毅發暢，能解女人鬱怒之偏，男子亦可服。</p>
<p>香附子（杵毛淨，一斤，四兩鹽水加薑汁浸透，煮熟，搗，微炒四兩，醋浸透，煮熟，微炒，四兩梔子仁四兩同炒，去梔子仁，兩四童便洗，生用）</p>
<p>上各碾細拌勻，酒煮麵糊丸，桐子大，各疾隨引下。</p>
<p><u>枇杷葉丸</u>　主婦人血崩，經事失期，或前或後，能令有子，卓有奇效。</p>
<p>枇杷葉（二斤，蜜炙）　山藥（一斤）　枸杞子　山茱萸（去核，半斤）　吳茱萸（一兩）</p>
<p>上為細末，煉蜜丸，桐子大，每服七八十丸，清米湯下。中翰屠白石傳</p>
<p><u>治赤白帶下</u></p>
<p>乾薑（焙黃）　白芍藥（焙黃）　香附（各一兩，炒焦黑）　甘草（五錢，生用）</p>
<p>上為細末，每服三錢，用水白酒送下。</p>
<p>又蕎麥麵不拘多少，雞子清為丸，每三五十丸，白湯送下。</p>

<h1>小兒門</h1>
<p><u>三黃枳朮丸</u></p>
<p>白朮（四兩，微炒）　枳實（一兩半，麵炒）　黃連（二兩，薑汁炒）　黃芩（三兩，炒）　大黃（麵包煨）　陳皮（存白）　半夏（酒浸炒，各兩半）　當歸（酒炒，二兩）　甘草（炙，一兩）</p>
<p>上為細末，荷葉煮老米飯杵丸，綠豆大，每服七八十丸，食後白湯下。</p>
<p><u>啟脾丸</u>　消食止瀉止吐，消疳消黃，消脹止肚疼，常服健脾開胃，生肌肉。</p>
<p>人參　白朮　茯苓　山藥　蓮肉（去心，各一兩）　山楂　陳皮　澤瀉　甘草（各五錢）</p>
<p>上為極細末，熟蜜丸芡實大，米湯化下。杭州儒醫吳世良方。</p>
<p><u>白朮膏</u>　又名助胃膏</p>
<p>治小兒吐瀉，大能和脾胃，進飲食。</p>
<p>人參　白朮（炒）　白茯苓（各二錢）　甘草（炙，二錢）　白豆蔻（七分）　肉豆蔻（二個，麵包煨）　木香（一錢）　山藥（五錢）　砂仁（二十個，炒）</p>
<p>上為細末，煉蜜丸肥皂大，每空心米湯化下一丸。</p>
<p><u>抱龍丸</u></p>
<p>南星（湯泡，去皮臍，銼片，微炒為末，入黑黃牛膽中，懸風處陰乾，春夏五錢，秋冬六錢）　白茯苓（去皮）　山藥（各三錢）　天竺黃　雄黃（水飛，另研）　琥珀（豬膽浸一宿，火焙研，各一錢五分）　麝（一分）　硃砂（水飛，另研為衣）</p>
<p>上為細末，臘月取雪，新壇盛埋土中，合藥取一碗，甘草三錢，煎汁為丸。如無雪水，新汲水亦可。和勻如芡實大，陰乾，蔥頭、薄荷湯任下。痰嗽，薑湯下。痘疹見形，白湯下。悸不安，燈心湯下。</p>
<p><u>辰砂丸</u>　治小兒驚積食積及急慢驚風。</p>
<p>辰砂（一錢，另研）　巴豆（以紙去油如霜，一錢）　牛膽南星（再炮細末，一錢）</p>
<p>上面糊為丸，如黍米大，每服三五丸。量兒大小虛實加減，薄荷湯送下。</p>
<p><u>牛黃丸</u>　治驚風。</p>
<p>硃砂（水飛）　輕粉　牛黃（各一分）　殭蠶（三個）　全蠍（一個）</p>
<p>上共為末，桑蟲搗爛為丸，如梧桐子大，金箔為衣，每服一丸，薄荷湯下。如無蟲以人乳為丸，至服時尋蟲與丸，同研涼水灌下。</p>
<p><u>紫金錠</u>　主急慢驚風。</p>
<p>人參　白茯苓　白茯神　白朮　山藥　乳香（筍葉夾火上炙過，研）　赤石脂（火煅醋淬七次）　辰砂（各三錢）　麝（一錢）　金箔</p>
<p>上為細末，金箔為衣，金錢薄荷煎湯，磨一錠服之。</p>
<p>小兒疳積黃瘦，不思飲食，四肢發熱，發無光澤，時瘡疥。</p>
<p>八月內取大蝦膜去頭皮，用淨肉鹽花姜醋醃過，砂鍋內香油炸熟，去骨，與食之十餘枚，更妙，非但除疳積，長大再無腹患，及驚疳痘疹之虞耳。</p>
<p><u>小兒泄瀉</u>　肉豆蔻切去頂，刳空其中，入丁香末三分，仍蓋之，麵包煨熟，去面為末，米湯調服。</p>
<p>小兒於六月六日，吞皂莢子，論歲每一歲一枚，每年至此日，白湯吞一次，歲以為常，可免瘡患。嘗見大人亦於此日吞七枚，或二十一枚，一年免瘡癤之患，有驗。林靜齋方。</p>

<h1>雜方門</h1>
<p><u>洗面散</u></p>
<p>皂角（三斤，去皮弦子，另研）　楮實子（五兩）　白芨（一兩，細銼）　甘松（七錢）　縮砂　三柰　白丁香（各五錢）　綠豆粉（八合）　糯米（一升二合）</p>
<p>上為細末，如常用。</p>
<p><u>神梭散</u>　去風屑垢膩，解結。</p>
<p>當歸　白芷　黑牽牛　訶子　荊芥　側柏葉　威靈仙</p>
<p>上等分，為細末，臨睡擦發內，次早理之。</p>
<p><u>醒頭香</u></p>
<p>滑石（五錢）　甘松　三柰　零陵香（各一錢）　樟腦（二分）</p>
<p>上為細末，入發理之。</p>
<p><u>治肺風</u>　臉上起風屑或微有赤瘡，萆麻子仁四十九粒，白果、膠棗各三枚，瓦松三錢，肥皂一個搗為丸，早洗面用之。內服洗肺散，三五日見效。</p>
<p><u>治面生雀斑方</u></p>
<p>霜梅肉　櫻桃枝　牙皂　紫背浮萍</p>
<p>上等分，為細末，如常洗面，其斑自去。</p>
<p><u>治面上谷嘴瘡</u></p>
<p>苦參　荊芥　連翹　甘草　川芎　貝母　黃連　白芷　桑白皮　梔子</p>
<p>上銼片，水煎，食後服。</p>
<p><u>瑩肌如玉散</u></p>
<p>白丁香　白牽牛　白芨　白蘞（各一兩）　白蒺藜　當歸末　升麻（各五錢）　白芷　楮實子　白茯苓（各三錢）　麻黃（去節，二錢）　白附子　連翹（各一錢五分）　小椒（一錢）</p>
<p>上為細末，如常用。</p>
<p>又，每早以漱口水吐在手掌中洗面，久則自光潤。</p>

<h1>傷寒（續添）</h1>
<p>隆冬盛寒之時，體虛辛苦之人，觸冒寒邪，一二日間脈息洪緊，其症頭痛項強，腰脊肢節疼，發熱惡寒，無汗者病在太陽，羌活散，一入麻黃汗之。</p>
<p>感證同前，但有汗惡風者，羌活散，不用麻黃，易桂枝一味，春溫夏熱之疾，悉宜用之。</p>
<p>傷寒二三日者，脈息洪大而數，傳入陽明，頭痛發熱，作渴，面赤口鼻乾燥，目痛不得眠臥，而不惡寒者，升麻葛根湯。頭痛入川芎、白芷、防風。吐嘔加半夏，熱甚加黃芩。</p>
<p>傷寒三四日，脈息洪大而數，頭痛惡寒，發熱腰脊項強，面赤口乾，作渴。此太陽與陽明合病也。羌活散合升麻湯，二藥合而用之，是為偶劑。</p>
<p>傷寒三四五日，脈息弦急而數，傳入少陽也。其證頭痛發熱，脅痛耳聾，乾嘔口苦，寒熱往來，小柴胡湯主之。大抵病在少陽為半表半裡，小柴胡湯四時用，柴胡湯發解表邪，以黃芩微下里熱，此平和之劑也。胸脅或奶旁下疼痛，因誤用下藥太早，引邪入里，內加鬱金三錢。</p>
<p>《內經》云：傷寒六日，傳六經，傳遍則熱已。近驗傷寒在表者多，在裡者少。又云：二陽有合病，有並病。又首尾只在一經者，又不可拘於日數而執一耳。大率脈浮者，在表汗之，羌活散之類。脈實者，在裡下之。承氣湯之類。脈弦數者，半表半裡，小柴胡主之。此大法也。</p>
<p>傷寒三四五日，脈息洪弦而數，其證頭痛發熱，作渴面赤，口乾耳聾，脅痛乾嘔口苦，寒熱往來，乃陽明與少陽合病，升麻合小柴胡湯主之。</p>
<p>傷寒八九日，熱不退，脈弦數，口乾作渴，大便亦通，小柴胡去半夏，合解毒湯與之。</p>
<p>傷寒曾用汗藥，而脈退身涼，及曾用小柴胡及承氣湯等藥下之而解。復發熱者，此經所謂勞食再復，乃內傷，不可以六經傳變論之。</p>
<p>虛煩腳氣，食積痰飲，四症類傷寒，最宜辨明，切不可輕用六經傳變之藥。</p>
<p>傷寒投劑，先須分別六經，六經既明，必須急審虛實。所謂能知陰陽表裡虛實六字，則三百九十七法，一百一十三方，可坐而定也。又云：雜病可用傷寒法，傷寒不可用雜症之劑。近世之醫，不能識仲景之藥，多以感冒和中內傷之劑，方法混雜，輕率治療。經云：誤服湯丸者，食不及新。特犯禁戒者，死必不臘，非此之謂歟？</p>
<p><u>羌活散</u>　治傷寒一二日，頭痛惡寒，發熱脊項強，脈洪大緊數。</p>
<p>川羌活（一錢五分）　防風（一錢）　白茯苓（一錢）　桔梗（一錢，去蘆）　川芎（一錢）　蒼朮（米泔浸，炒，一錢五分）　枳殼（麵炒，一錢）　甘草（三分）</p>
<p>無汗惡寒者，入麻黃八分。有汗惡風者，易桂枝八分。㕮咀作一服，水二鍾，姜三片，蔥一根，煎一鍾，不拘時熱服。</p>
<p><u>升麻湯</u>　治傷寒二三日，脈洪大而數，乃陽明之證，頭痛發熱，作渴面赤，口鼻乾燥，目痛不得眠臥，而不惡寒者。</p>
<p>升麻（三錢）　乾葛（二錢）　甘草（五分）　白芍藥（一錢五分，炒）　頭痛甚，加川芎、白芷、防風各一錢。</p>
<p>㕮咀，水二鍾，姜三片，煎一鍾，不拘時服。</p>
<p><u>羌活散合升麻湯</u>　治傷寒三四日，頭痛惡寒，發熱腰脊項強，面赤口乾，作渴煩躁，此太陽與陽明合病也。</p>
<p>羌活（一錢五分）　防風（一錢）　桔梗（一錢）　茯苓（一錢）　川芎（一錢）　蒼朮（米泔浸，炒，一錢五分）　枳殼（麩炒，一錢）　甘草（三分）　升麻（一錢五分）　乾葛（一錢五分）　芍藥（炒，一錢）</p>
<p>㕮咀，水二鍾，姜三片，煎一鍾，不拘時服。</p>
<p><u>小柴胡湯</u>　治傷寒四五日，脈息弦急而數，病傳入少陽經。其症頭疼發熱，脅痛耳聾，嘔吐口苦，寒熱往來，宜服之。</p>
<p>柴胡（三錢）　半夏（一錢五分）　人參（六分）　黃芩（二錢）　甘草（三分）</p>
<p>㕮咀，水二鍾，姜三片，煎八分，不拘時服，仍發大汗。</p>
<p><u>升麻湯合小柴胡湯</u>　治傷寒三四五日，脈息洪弦而數，其症頭疼發熱，作渴面赤，口乾耳聾，脅痛乾嘔，口苦，寒熱往來，此陽明與少陽合病，宜服之。</p>
<p>升麻（二錢）　乾葛（一錢五分）　甘草（三分）　白芍藥（炒，一錢）　柴胡（二錢）　人參（八分）　黃芩（二錢）　半夏（一錢）</p>
<p>㕮咀，水二鍾，姜三片，煎至八分，不拘時服。既服煎藥，無大汗，仍厚蓋發大汗遍身即解。</p>
<p><u>柴胡解毒湯</u>　治傷寒八九日，熱不退，脈弦數，口乾煩躁，大便不通。</p>
<p>柴胡（二錢）　黃芩（一錢五分）　半夏（一錢）　人參（八分）　甘草（三分）　黃連（一錢五分）　梔子（一錢）　黃柏（八分）</p>
<p>㕮咀，水二鍾，姜三片，煎一鍾，不拘時服。</p>
<p>傷寒五六七八日，病傳入里，脈洪大實，發熱作渴，煩躁，肚腹脹滿，譫言惡熱，而不惡寒，大便秘結，此內實之證，宜以大柴胡湯治之。</p>
<p><u>大柴胡湯</u></p>
<p>柴胡（三錢）　枳實（麩炒，二錢）　大黃（酒洗蒸，三錢）　黃芩（二錢）　芍藥（炒，一錢）　半夏（一錢）</p>
<p>㕮咀，姜三片，水煎，不拘時服。</p>
<p><u>大承氣湯</u></p>
<p>大黃（酒洗蒸，五錢）　芒硝（二錢五分）　厚朴（薑製，三錢）　枳實（麩炒，三錢）</p>
<p>㕮咀，姜五片，水煎不拘時服。欲下速者，留大黃、芒硝，候諸藥煎熟，入二味滾五七沸，即取服，其下甚速。</p>
<p><u>三乙承氣湯</u>　治傷寒癉熱十餘日，大熱不減，咽乾煩渴，譫言妄語，發狂，肚腹脹滿，心下按之硬痛，大便小便秘結，悶亂驚悸，目赤口燥，或斑疹諸陽熱症，宜此藥下之。</p>
<p>大黃（酒蒸，五錢）　芒硝（三錢）　厚朴（去皮，薑製炒，二錢）　枳實（麩炒，二錢）　甘草（五分）</p>
<p>㕮咀，用水二鍾，姜三片，煎一鍾，方入芒硝，再煎一二沸，去渣，通口頓服。</p>
<p><u>九味羌活湯</u>　治傷寒十數日雖多，脈尚浮數，惡寒不除，頭疼腰強不止，此太陽症未解。</p>
<p>羌活（二錢）　川芎（一錢五分）　白芷（一錢）　防風（一錢五分）　細辛（三分）　蒼朮（米泔浸，炒，二錢）　黃芩（一錢）　生地黃（八分）　甘草（三分）</p>
<p>㕮咀，水二鍾，姜三片，煎一鍾，不拘時服。</p>
<p><u>竹茹溫膽湯</u>　治傷寒日數過多，其熱不退，夢寐不寧，心驚恍惚，煩躁多痰。</p>
<p>柴胡（二錢）　枳實（麩炒，一錢）　半夏（一錢）　竹茹（一錢）　陳皮（一錢）　茯苓（一錢）　桔梗（一錢）　香附（八分）　甘草（三分）　人參（五分）　麥門冬（去心，三分）　黃連（一錢五分）</p>
<p>㕮咀，姜三片，棗一枚，煎八分，不拘時服。</p>
<p><u>瓜蒂散</u>　治脈大胸滿，多痰涎，及濕氣頭疼作熱。</p>
<p>瓜蒂（炒）　赤小豆（各等分）</p>
<p>上二味為末，以水二鍾，煮香豉一合，作稀粥去渣，取三分之一，和散一錢七分，頓服之。不吐，少少又加服，若吐乃止。諸亡血虛家不可服。</p>
<p><u>吳茱萸湯</u>　治少陰頭疼吐利後，手足厥冷，煩躁欲死，嘔而胸滿。</p>
<p>吳茱萸　生薑（各五錢）　人參（二錢五分）</p>
<p>㕮咀，水二鍾，棗一枚，煎八分，不拘時服。</p>
<p><u>蔥豉湯</u>　治傷寒三二日，頭項痛，惡寒，脈緊，無汗，雖五七日脈緊大無汗者，亦宜服之。</p>
<p>蔥白（十五莖）　豉（二大合）　乾葛（八錢）　麻黃（四錢）</p>
<p>㕮咀，水二碗，先煮麻黃六七沸，去白沫，內乾葛煎十餘沸，下豉煎取八分，分二服，熱服汗出愈。</p>
<p><u>黃芩芍藥湯</u>　治傷寒五七日，發熱作渴，太陽少陽合病，下利，及腸垢協熱自利，悉宜服之。</p>
<p>黃芩（二錢）　芍藥（二錢）　甘草（一錢半）　大棗（三枚）</p>
<p>㕮咀，水二鍾，姜三斤，煎八分服。嘔者加半夏二錢。</p>
<p><u>柴苓湯</u>　治傷寒七八日，發熱泄瀉，作渴引飲，煩躁不寧。</p>
<p>柴胡（二錢）　黃芩（一錢，炒）　豬苓（八分）　澤瀉（八分）　茯苓（一錢半）　白朮（一錢）　官桂（三分）　半夏（一錢）　甘草（二分）</p>
<p>渴甚去白朮、半夏，加乾葛、芍藥各一錢。</p>
<p>㕮咀，水二鍾，姜三片，煎一鍾，不拘時服。</p>
<p><u>通脈四逆湯</u>　治傷寒八九日，四肢厥逆，大便自利，臍腹痛，脈不出者。</p>
<p>甘草（三錢，炙）　附子（去皮，三錢，炮）　乾薑（五錢，炮）</p>
<p>面赤者加蔥九莖，嘔加姜，咽痛加桔梗，水二鍾，煎一鍾，熱服。利止，脈不出，加人參二錢，一方加豬膽汁一合。</p>
<p><u>附子理中湯</u>　治傷寒五七日，太陰自利，不渴，寒多而嘔，肚腹疼痛泄瀉。</p>
<p>大附子（二錢）　乾薑（炮）　白朮　人參（各一錢五分）　甘草（炙，一錢五分）</p>
<p>俱㕮咀，用水二鍾，煎八分，不以時服。一方去白朮，加桂二錢。吐者，加生薑二錢。小便不利，加茯苓二錢。</p>
<p><u>附子理苓湯</u>　治傷寒五六七日，傳入三陰，大便自利，四肢厥冷，臍腹疼痛，小便不利作渴。</p>
<p>白朮（一錢半）　澤瀉（一錢半）　茯苓（一錢半）　乾薑（一錢，炮）　大附子（一錢半，炮）　人參（一錢）　豬苓（一錢）　甘草（炙，五錢）　官桂（一錢）</p>
<p>腹痛甚者，灸關元。</p>
<p>㕮咀，水二鍾，生薑三片，煎八分，不拘時服。</p>
<p><u>柴胡梔子豉湯</u>　治傷寒熱退，身涼，因過食復發熱，煩躁口乾，胸膈滿悶，夜臥不寧。</p>
<p>柴胡（三錢）　半夏（一錢半）　黃芩（二錢）　人參（八分）　甘草（三分）　梔子（一錢半）　豆豉（一大合）</p>
<p>㕮咀，水二鍾，姜三片，煎一鍾，不拘時服。</p>
<p><u>柴胡六君子湯</u>　治傷寒熱解，平復後，或勞碌過食，復作大熱。</p>
<p>柴胡（二錢）　黃芩（一錢五分）　半夏（一錢）　茯苓（一錢）　甘草（三分）　人參（八分）　白朮（一錢）　陳皮（一錢半）　枳殼（炒一錢）</p>
<p>頭痛加川芎，口渴加乾葛（各一錢）。</p>
<p>㕮咀，水二鍾，姜三片，煎一鍾，食後服。</p>
<p>小柴胡湯加茯苓，治小便難，潮熱腹滿。小柴胡湯去黃芩加芍藥，治下後陰虛發熱，脈微惡寒。小柴胡湯去棗加牡蠣，治水結胸。小柴胡去半夏加栝蔞根，治大熱而渴。小柴胡加桂，治身熱不渴。小柴胡加五味，治咳而嗽。蒙齋云：傷寒為病，返復變遷，吉凶反掌，非雜症之可比，長沙乃百川之宗，誠哉是言也。一證一藥，一法一治，井然可遵，但麻黃、桂枝二湯，乃為各時節病傷寒而設，惜乎後人不能體用。粗知者，往往首以十神湯、正氣散、芎蘇散、香蘇散、敗毒散等藥表散之，悉非傷寒之正劑。四時感冒者，間亦收功，不知傷寒六經傳變，自非尋常。近世之人，不知分別，深為可慨。春溫初感之時，敗毒散皆輕揚發表之劑，或者可用。夏之熱病以通聖散、涼膈散，抑亦近似。兼內傷者以正氣散，傷風見寒者，參蘇飲，僅亦可用。於傷寒分清解汗吐下之法，仲景之全文，不可斯須而廢，是以舉其要旨，而擇出以為攝者便覽云。</p>
<p>食傷太陰，脈必大數，身熱而煩，心腹脹滿，臍腹疼痛，大便不通，雖微利亦是脅熱而利，或手足微冷，乃是陽厥，脈或小而必弦數，皆非陰寒，不可便灸艾火，輕服熱藥，又脈雖伏而必沉弦而數，為可辨耳。</p>
<p>陰經中寒，或犯房室，過食生冷冰水，或感寒濕之氣，心腹絞痛，四肢厥冷，脈必沉遲細小，大瀉青冷，汗自出，身不發熱，煩滿囊縮，此乃陰經受寒，方可灸關元、氣海，服四逆、理中、薑、桂、附子回陽抑陰之劑，急宜治之。不可不慎。</p>
<p>又法治傷寒甚妙，奇效如神。</p>
<p><u>治傷寒十神湯</u></p>
<p>麻黃　白芷　川芎　升麻　葛根　紫蘇　陳皮　香附子　甘草　赤芍藥　如口乾加烏梅。</p>
<p>用姜三片，蔥七根，水煎溫服，發遍身大汗，如服不解，用升麻葛根湯。</p>
<p>升麻　葛根　赤芍藥　甘草　川芎　白芷　麻黃</p>
<p>用姜三片，蔥七根，水煎溫服。發遍身大汗，如不解，又用柴葛各半湯。</p>
<p>升麻　葛根　甘草　黃芩　半夏　赤芍藥　柴胡</p>
<p>姜三片，水煎不拘時服，如五心煩熱，用</p>
<p><u>小柴胡湯</u></p>
<p>柴胡　黃芩　甘草　半夏　人參　麥門冬</p>
<p>用姜三片，水煎，溫服三次。</p>
<p>若傷寒六日，或十餘日不解，口渴面紅，大小便或利或不利，渾身潮熱，狂言亂語，宜用</p>
<p><u>三黃瀉心湯</u></p>
<p>黃連　黃芩</p>
<p>用水二碗，煎熟，加大黃一兩，同煎滾，去渣，溫服三盞，通利為妙。</p>
<p>治咳嗽。</p>
<p><u>麥門冬湯</u></p>
<p>黃芩　黃連</p>
<p>水二盞，熬熟，外用生麥門冬二兩，去心搗爛，取自然汁半盞，將柏葉、茅根各一大把，搗汁拌前藥，共服一碗。又將麥門冬、柏葉、茅根渣，與前藥渣共用水三碗，煎傾出渣，將瓦罐裝此藥，時時溫服，其嗽即止。</p>
<p>治傷風咳嗽，蘇陳九寶湯。</p>
<p>紫蘇葉（五錢）　陳皮（四錢）　桔梗（三錢）　川芎（三錢）　白芷（三錢）　杏仁（三錢，去皮尖）　麥門冬（三錢）　麻黃（五錢）　茯苓（二錢）</p>
<p>姜五片，蔥七根，水煎溫服，發遍身大汗即止。</p>
<p>治痰涎咳嗽，五虎定喘湯。</p>
<p>杏仁（三錢，去皮尖）　赤石膏（一兩）　半夏（三錢）　細茶（三錢）　粉草（三錢，火炮去皮）　用姜五片，水煎，食後溫服，同前。</p>
<p><u>三拗湯</u></p>
<p>麻黃（五錢）　石膏（一兩）　細茶（五錢）　甘草（五錢，火炮去皮）　水一碗，溫服三次。</p>
<p>治傷寒不俱咳嗽，陰陽二症。</p>
<p><u>全料五積散</u></p>
<p>枳殼　當歸　陳皮　茯苓　甘草　麻黃　川芎　白芷　赤芍藥　蒼朮　厚朴　乾薑　官桂　半夏　桔梗</p>
<p>用姜三片，蔥七根，水煎服，發遍身大汗。</p>
<p><u>柴平散</u>　治瘧疾。</p>
<p>柴胡（三錢）　白朮（三錢）　人參　半夏（三錢）　甘草（一錢）　蒼朮（三錢）　用姜五片，棗一枚，水煎，未發時先服，發遍身大汗。若病重者，連三服為妙。</p>
<p><u>五苓散</u>　治痢疾，暑熱嘔吐。</p>
<p>白朮　白茯苓　澤瀉　豬苓　肉桂　用姜三片，水煎，溫服三次。</p>
