<header data-type="book">
<h1>濕熱條辨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>薛雪</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1770">公元1770年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://archive.org/details/02093301.cn">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>正文</h1>
<p><u>濕熱證，始惡寒，後但熱不寒，汗出胸痞，舌白，口渴不引飲。</u></p>
<p>先生自注曰：此條乃濕熱證之提綱也。濕熱證屬陽明太陰經者居多。（釋曰：胃為戊土屬陽，脾為己土屬陰，濕土之氣同類相召。故濕熱之邪始雖外受，終歸脾胃也。）中氣實則病在陽明，中氣虛則病在太陰。（外邪傷人，必隨人身之氣而變。如風寒在太陽則惡寒，傳陽叨即變為熱而不惡寒。今以火濕所合之邪，故人身陽氣旺即隨火化而歸陽明，陽氣虛即隨濕化而歸太陰也。）病在二經之裡者，每兼厥陰風木，（以肝脾胃所居部位相近故也。）以少陽厥陰同司相火，（少陽之氣由肝膽而升，流行於三焦，即名相火。）陽明太陰濕熱內郁，郁甚則少火皆成壯火，而表裡上下充斥肆逆，（經曰：少火生氣，壯火食氣。少火者，陽和之生氣，即元氣也；壯火者，亢陽之暴氣，故反食其元氣。食猶蝕也，外邪郁甚，使陽和之氣悉變為亢暴之氣而充斥一身也。）故是證最易耳聾、乾嘔、發痙、發厥。（濕火之邪矇蔽清陽則耳聾，內擾肝脾胃則乾嘔而痙厥。）而提綱中不言及者，因以上諸症，皆濕熱病兼見之變局，而非濕熱病必見之正局也。（必現之證標於提綱使人辨識，不至與他病混亂。其兼現之變證，或有或無，皆不可定，若標之反使人迷惑也。）始惡寒者，陽為濕遏而惡寒，終非若傷寒傷於表之惡寒也。（濕火合化之氣，即同暑氣。濕為陰邪，始遏其陽而惡寒，以濕中有火，終非如寒邪之純陰而惡寒甚也。）後但熱不寒，則鬱而成熱，反惡熱矣。（人身陽氣旺則濕隨火化而成熱矣。）熱甚陽明則汗出，（熱在濕中，蒸濕為汗。）濕蔽清陽則胸痞，濕邪內甚則舌白，濕熱交蒸則舌黃。熱則液不升而口渴，濕則飲內留而不引飲。（以上皆明提綱所標為必有之證也。）然所云表者，乃太陰陽明之表，而非太陽之表。（濕熱邪歸脾胃，非同風寒之在太陽故也。）太陰之表四肢也，陽明也；陽明之表肌肉也，胸中也。（四肢稟氣於脾胃，而肌肉脾胃所主。若以脾胃分之，則胃為脾之表，胸為胃之表也。）故胸痞為濕熱病必有之證，四肢倦怠，肌肉煩疼，亦必並見。（胸與四肢肌肉皆脾胃之表分，濕熱在脾胃，故必有諸表證可驗也。）其所以不幹太陽者，以太陽為寒水之腑，（腎為寒水之臟，太陽腎之腑也。）主一身之表，（太陽經脈行於背，陽明行於前，少陽行於旁。太陽之腑為膀胱。經曰：三焦膀胱者，腠理毫毛其應，故主一身之表也。）風寒必自表入，故屬太陽，濕熱不必盡從表入，故不必由太陽。況風寒傷營衛，營衛乃太陽所司；表濕傷肌肉，肌肉為陽明所主；寒濕之屬太陽者，以太陽為寒水，同氣相求也。（寒濕皆陰邪，故下先受之，始入足太陽經。）濕熱之屬陽明者，以陽明為中土，火化從陽也。（胃為陽土，脾為陰土，濕者土氣也，濕與火合則歸陽明，濕與寒合則歸太陰也。）濕熱之邪從表傷者十之一二，（是濕隨風寒而傷表，郁其陽氣而變熱，如仲景條內之麻黃、赤小豆湯證也。）由口鼻入者十之八九，（濕合火氣，如暑邪之必由口鼻而入也。）陽明為水穀之海，太陰為濕土之臟，故多由陽明太陰受病。（濕輕火重則歸陽明，濕重火輕則歸太陰。）膜原者，外通肌肉，內近胃腑，即三焦之門戶，實一身之半表半裡也。（外經絡，內臟腑，膜原在內外交界之地也。）邪由上受，直趨中道，故病多歸膜原。（膜原外通肌肉，不獨口鼻所入之邪歸之，肌肉濕熱之邪亦必歸之也。其為三焦之門戶而近胃口，故膜原之邪必由三焦而歸脾胃也。）要之濕熱之病，不獨與傷寒不同，且與溫病大異。（經言先夏至日病名溫，後夏至日病名暑，正為氣候變遷，則病邪不同也。）溫病乃少陰太陽同病，（冬傷寒邪，伏於少陰化熱，至春發出於太陽而為溫病，即仲景所論者也。若葉氏所論之外感溫病，則又不同者矣。）濕熱乃陽明太陰同病也，（始受於膜原，終歸於脾胃。）而提綱中言不及脈者，以濕熱之證，脈無定體，或洪或緩，或伏或細，各隨證現，不拘一格，故難以一定之脈，拘定後人眼目也。（陽明熱盛現陽脈，太陰濕盛現陰脈，故各隨證現也。）濕熱之證，陽明必兼太陰者，徒知臟腑相連，濕土同氣，而不知當與溫病之必兼少陰比例。少陰不藏，木火內燔，風邪外襲，表裡相扇，故為溫病。（此即經言，冬不藏精，春發溫病，先由內傷而後外感，膏粱中人多有之。其冬傷於寒，由少陰伏邪，至春發出於太陽之溫病，藜藿中人多有之，是必兼少陰者也。若外感溫病，邪由上受者，又有不同也。）太陰內傷，濕飲停聚，客邪再至，內外相引，故病濕熱。（脾主為胃行津液者也，脾傷而不健運，則濕飲停聚，故曰脾虛生內濕也。）此皆先有內傷，再感客邪，非由腑及臟之謂。若濕熱之證，不挾內傷，中氣實者其病必微。或有先因於濕，再因飢飽勞役而病者，亦屬內傷挾濕，標本同病。然勞倦傷脾為不足，濕飲停聚為有餘，所以內傷外感，孰多孰少，孰實孰虛，又在臨證時權衡矣。</p>
<p><u>濕熱證，惡寒無汗，身重頭痛，濕在表分。宜藿香、香薷、羌活、蒼朮皮、薄荷、大力子</u>（即牛蒡子）<u>等味。頭不痛者，去羌活。</u>（歷來以香薷飲為治暑主方，今薛氏第一證，即用香薷，可見其辨論即暑病也。）</p>
<p>身重惡寒，濕遏衛陽之表證。頭痛必挾風邪，故加羌活。不獨勝濕，且以祛風。此條乃陰濕傷表之候。（以其惡寒而不發熱，故為陰濕。）</p>
<p><u>濕熱證，惡寒發熱，身重關節疼痛，濕在肌肉，不為汗解。宜滑石、大豆黃卷、茯苓皮、蒼朮皮、鮮荷葉、藿香葉、白通草、桔梗等味。不惡寒者，去蒼朮皮。</u></p>
<p>此條外候與上條頻同，惟汗出獨異，更加關節疼痛，乃濕邪初犯陽明之表，故略見惡寒。及至發熱，惡寒當自罷矣。用藥通陽明之表，而即清胃脘之熱者，不欲濕邪之鬱熱上蒸，而欲濕邪之淡滲下走耳，此乃陽濕傷表之候。（以其惡寒少而發熱多，故為陽濕也。）</p>
<p><u>濕熱證，三四日即口噤，四肢牽引拘急，甚則角弓反張。此濕熱侵入經絡脈隧中。宜鮮地龍、秦艽、威靈仙、滑石、蒼耳子、絲瓜藤、海風藤、酒炒黃連等味。</u></p>
<p>此條乃濕邪挾風者。風為木之氣，風動則木張，乘入陽明之絡則口噤，走竄太陰之經則拘攣，故藥不獨勝濕。重用息風，一則風藥能勝濕，一則風藥能疏肝也。選用地龍、諸藤者，欲其宣通絡脈耳，（十二經絡皆有筋相連繫，邪由經絡傷及於筋則瘛瘲拘攣，角弓反張。筋由肝所主，故筋病必當疏肝也。）或問仲景治痙，原有桂枝加栝蔞根及葛根湯兩方，豈宜於古而不宜於今耶？今之痙者與厥相連，仲景不言及厥，豈《金匱》有遺文耶？余曰非也。藥因病用，病源既異，治法自殊。傷寒之痙自外來，（謂由外感風寒所致。）證屬太陽，（口噤即兼陽明，義詳前卷本篇。）治以散外邪為主；濕熱之痙自內出，（濕熱內壅，以致肝風鴟張故也。）波及太陽，治以息內風為主。蓋三焦與肝膽同司相火，（少陽生氣升於肝膽，流行三焦，名相火也。）中焦濕熱不解則熱甚於里，而少火悉成壯火，火動則風生而筋孿脈急，風扇則火熾而識亂神迷，身中之氣隨風火上炎而有升無降，常度盡失，由是而形若屍厥。正《內經》所謂血之與氣並走於上，則為暴厥者是也。外竄經脈則成痙，內侵膻中則為厥。痙厥並見，正氣猶存一線，則氣復返而生，胃津不克支持，則厥不回而死矣。所以痙之與厥往往相連，傷寒之痙自外來者，安有是哉？暑月痙證，與霍亂同出一源，風自火生，火隨風轉，乘入陽明則嘔，賊及太陰則瀉，是名霍亂。竄入筋中則攣急，流入脈絡則反張，是名痙。但痙證多厥，霍亂少厥。蓋痙證風火閉郁，鬱則邪勢愈甚，不免逼亂神明，故多厥；霍亂風火外泄，泄則邪勢外解，不至循經內走，故少厥。此痙與霍亂之分別也。然痙邪留滯三焦，三焦乃火化，風得火而愈扇，則逼入膻中而暴厥；霍亂邪走脾胃，脾胃乃濕化，邪由濕而停留，則淫及諸筋而拘攣。火鬱則厥，火竄則攣，又痙與厥之遺禍也。痙之攣急，乃濕熱生風，霍亂之轉筋，乃風來勝濕；痙則由經及臟而厥，霍亂則由臟及經而攣。總由濕熱與風淆亂清濁，升降失常之故。夫濕多熱少，則風入土中而霍亂；熱多濕少，則風乘三焦而痙厥。厥而不返者死，胃液乾枯，火邪盤踞也。轉筋入腹者死，胃液內涸，風邪獨勁也。然則胃中之津液，所關顧不巨哉。厥證用辛開泄胸中無形之邪也，乾霍亂用探吐泄胃中有形之滯也。然泄邪而胃液不上升者，熱邪益熾；探吐而胃液不四布者，風邪更張，終成死候，不可不知也。</p>
<p>楠：按仲景所論痙病，固屬外感風寒濕邪，與濕熱之痙由內風者不同，若仲景所論霍亂亦是寒濕之邪，故以理中丸為主治，桂枝湯和表也。今薛氏云暑邪之痙與霍亂同源音，謂其皆由濕火生風所致也。然同中有異，不可不辨。蓋濕不盛不成霍亂，風火不盛不成痙厥，則霍亂與痙厥，有陰陽虛實之迥殊，何也？夏至後人身之氣外陽內陰，濕為陰邪，再傷脾胃，以致霍亂吐瀉，往往陽氣驟脫而死。其不死而脈細肢冷者，急須先回其陽，如古方之冷香飲、漿水散者，用薑、附、草果、桂枝，正為此等病證而設。即所謂陰暑病也，不可謂夏日而投涼藥則死矣。若其人陽旺陰虛，則邪隨火化，火鬱生風而致痙厥，自當清涼以散風火，或兼養陰，故與霍亂大不同也。更加夏至前溫熱之邪，則多痙厥，卻與暑邪不同，暑邪由濕鬱風火，外走則痙，內侵則厥，若溫邪，其熱內閉心包則厥，肝腎陰涸則痙。若厥而不痙者，急急開閉泄熱；痙而不厥者，急須大劑滋陰。若痙厥並現，多死不可治。其所以不同者，暑邪挾濕，陽中有陰。溫熱生風，偏陽之邪，故少有霍亂。以夏至前人身陽氣猶在內也，偶或有之，必另挾穢濁寒濕之氣，須詳審其因。是故六氣之邪為病不同，治法各異，不可不明其邪之源流也。且如傷寒之邪，必分六經以辨證，溫熱暑邪，皆由上受，先傷手經，漫延三焦，表裡氣機窒滯，二便每多閉澀，其胃腑並無實結之邪，昧者聞其大便不解，妄用攻瀉，反使在表之邪深陷而不得出，余見如此而死者多矣。殊不知表裡之氣，必由三焦轉輸，使三焦氣調，則二便自利，邪亦可解，不明此理則妄治以殺人，冥報顯赫，可不慎哉？</p>
<p><u>濕熱證，壯熱口渴，舌黃或焦紅，發痙，神昏譫語或笑，邪灼心包，榮血已耗。宜犀角、羚羊角、連翹、生地、玄參、鉤藤、銀花露、鮮菖蒲、至室丹等味。</u></p>
<p>上條言痙，此條言厥。溫暑之邪本傷陽氣，及至熱極逼入榮陰，則津液耗而陰亦病。心包受灼，神識昏亂。用藥以清熱救陰，泄邪平肝為務。（暑由火濕合化，濕盛先傷陽，火盛即傷陰也。）</p>
<p><u>濕熱證，發痙，神昏笑妄，脈洪數有力，開泄不效者，濕熱蘊結胸膈，宜仿涼膈散。若大便數日不通者，熱邪閉結腸胃，宜仿承氣微下之例。</u>（曰宜仿、曰微下、教人細審詳慎，不可孟浪攻瀉。蓋暑濕黏滯，須化氣緩攻，不同傷寒之邪化熱而燥結，須用鹹苦峻下，否則燥結不行也。）</p>
<p>此條乃陽明實熱，或上結或下結。（上謂胸膈，下謂腸胃。）清熱泄邪止能散絡中流走之熱，而不能除腸中蘊結之邪，故陽明之邪仍假陽明為出路也。（陽明實熱，舌苔必老黃色或兼燥，若猶帶白色而滑者，乃濕重為夾陰之邪，或脹滿不得不下，須佐二術健脾燥濕，否則脾傷氣陷，下利不止，即變危證。蓋濕重屬太陰證，必當扶脾也。）</p>
<p><u>濕熱證，壯熱煩渴，舌焦紅或縮，斑疹、胸痞、自利、神昏痙厥，熱邪充斥表裡三焦。宜大劑犀角、羚羊角、生地、玄參、銀花露、紫草、方諸水、金汁、鮮菖蒲等味。</u>（此陽明熱盛，生風而痙厥；太陰濕盛，挾熱而下利也。）</p>
<p>此條乃痙厥中之最重者。上為胸悶，下挾熱利，斑疹痙厥，陰陽告困。獨清陽明之熱，救陽明之液為急務者，恐胃液不存，其人自焚而死也。</p>
<p><u>濕熱證，寒熱如瘧，濕熱阻遏膜原，宜柴胡、厚朴、檳榔、草果、藿香、六一散、蒼朮、半夏、干菖蒲等味。</u></p>
<p>瘧由暑熱內伏，秋涼外束而成。若夏月腠理大開，毛竅疏通，安得成瘧？而寒熱有定期，如瘧證發作者，以膜原為陽明之半表半裡，濕熱阻遏，則營衛氣爭。證雖如瘧，不得與瘧同治，故仿又可達原飲之例。蓋一由外涼束，一由內濕阻也。（膜原在半表半裡，正如少陽之在陰陽交界處相同。而營衛之氣內出於脾胃，脾胃邪阻，則營衛不和，即發寒熱之瘧也。）</p>
<p><u>濕熱證，數日後脘中微悶，知飢不食，濕邪蒙繞三焦。宜藿香葉、薄荷葉、鮮荷葉、鮮稻葉、枇杷葉、佩蘭葉、蘆尖、冬瓜仁等味。</u></p>
<p>此濕熱已解，餘邪矇蔽清陽，胃氣不舒。宜用極輕清之品，以宜上焦陽氣，若投味重之劑，是與病情不相涉矣。</p>
<p>濕熱初起，亦有脘悶懊憹，汗出口渴，眼欲閉，時譫語，濁邪矇蔽清陽。在上焦者，宜用桔梗、枳殼、淡豆豉、生山梔湧泄法。若投輕劑又與病情不相合矣。此說須與前後兩條參看，同一邪在上焦，而前條屬虛，此條屬實。且同一實證，而後條邪在中焦，此條邪在上焦，臨證者當慎之。（解後餘邪為虛，初發為實。上焦近心，故有懊憹譫語，中焦離心遠故無。如其舌黃邪盛，亦有發譫語者也。）</p>
<p><u>濕熱證，初起發熱，汗出胸痞，口渴舌白，濕伏中焦。宜藿梗、蔻仁、杏仁、枳殼、桔梗、鬱金、蒼朮、厚朴、草果、半夏、干菖蒲、六一散、佩蘭葉等味。</u></p>
<p>濁邪上干則胸悶，胃液不升則口渴。病在中焦氣分，故多開中焦氣分之藥。此條多有挾食者，其舌根現黃色，宜加瓜蔞、楂肉、萊菔子。</p>
<p><u>濕熱證，數日後自利，溺赤，口渴，濕流下焦。宜滑石、豬苓、茯苓、澤瀉、萆薢、通草等味。</u></p>
<p>下焦屬陰，太陰所司。陰道虛故自利，化源滯則溺赤，脾不轉津則口渴。總由太陰勝盛故也。濕滯下焦，故獨以分利為治，然兼證口渴胸痞，須佐入桔梗、杏仁、大豆黃卷開泄中上，源清則潔自流，不可不知。以上三條俱濕重於熱之候。（腎開竅於二便，主下焦之氣，故為胃之關。此言下焦屬陰，太陰所司者，以脾胃統一身之陰陽，故陽明司上，太陰司下也。陽明行氣於三陽，太陰行氣於三陰，故太陰濕重，下流而利也。其言陰道虛者，《素問·太陰陽明論》言，陽道實，陰道虛，蓋以地為陰道而虛，能受天氣之升降於中而生化萬物，地形之厚重，實賴天氣之承載，故陽道為實也，人身脾土即地道也，實賴陽氣之鼓動而能健運，若陽氣弱而不鼓，則其陰道本虛，遂致下利，而不轉輸津液以上潤，則口渴。總由濕邪所壅，陽氣不振之故，與彼火盛劫津之口渴迥異。彼當清火以生津，此當通陽以利濕者也。）</p>
<p>濕熱之邪，不自表而入，故無表裡可分，（謂由膜原中道而入也。雖無表裡之分，亦有淺深之當辨。）而未嘗無三焦可辨。猶之河間治消渴以分三焦者是也。夫熱為天之氣，濕為地之氣，（此言其本也。如雨濕卻從天降，以其本乎地，故親下也；雲氣自地而升，以其本乎天，故親上也。此陰陽相交而互生互化，故其傷人為病，亦必隨陰陽之氣而變化。）熱得濕而熱愈熾，濕得熱而濕愈橫。（此濕熱相蒸，即陰陽互相生化之理，故二氣俱長也。）濕熱兩分，其病輕而緩；濕熱交合，其病重而速。（故當開泄以分其勢，若誤作虛而用補法，即成悶痧而死。）濕多熱少則蒙上流下，當三焦分治。（調三焦之氣，分利其濕也。）濕熱俱多，則下閉上壅而三焦俱困矣。（則當開泄清熱兩法並用。）猶之傷寒門二陽合病、三陽合病是也。（仲景溫熱病亦分六經，故亦稱二陽合病、三陽合病。）蓋太陰濕化，三焦火化，有濕無熱，止能矇蔽清陽。或阻於上，或阻於中，或阻於下，若濕熱一合，則身中少火悉化為壯火，而三焦相火有不皆起而為虐者哉？（此惟陽旺之人為然。邪由濕火二氣所合，陽旺之人則邪隨火化而為陽證，陽虛之人邪隨濕化而為陰證。陽證宜寒涼清火為主，陰證當溫燥利濕為主也。）所以上下充斥、內外煎熬，最為酷烈。兼之木火同氣，表裡分司，再引肝風，痙厥立至，胃中津液幾何，其能供此交徵乎？至其所以必屬陽明者，以陽明為水穀之海，鼻食氣，口食味，悉歸陽明。邪從口鼻而入，則陽明為必由之路。其始也，邪入陽明，早已先傷其胃液；其繼也，邪盛三焦，更欲取資於胃液。司命者，可不為陽明顧慮哉？（此專論陽旺人之陽證，而屬陽明。若陽虛人之陰證，則屬太陰也。）</p>
<p>或問木火同氣，熱甚生風，以致痙厥，理固然矣。然有濕熱之證，表裡極熱，不痙不厥者何也？余曰風木為火熱引動者，原因木氣素旺，（木旺由於水虧，故得引火生風，反焚其木以致痙厥。若水旺，足以制火而生木，即無痙厥者也。）肝陰先虧，內外相引，兩陽相扇，（風火兩陽。）因而動張。若肝腎素優，並無裡熱者，火熱安能招引肝風也？試觀小兒，一經壯熱便成瘛瘲者，以純陽之體，陰氣未足，故肝風易動也。（瘛瘲即抽搐，亦痙厥之類。）</p>
<p><u>濕熱證，舌遍體白，口渴，濕滯陽明。宜用辛開，如厚朴、草果、半夏、干菖蒲等味。</u>（舌白者，言其苔。如苔滑而口不渴者，即屬太陰證，當溫之。）</p>
<p>此濕邪極盛之候，口渴乃液不上升，非有熱也。辛泄太過即可變而為熱，（以其屬陽明，濕邪開泄則陽氣伸而熱透。）而此時濕邪尚未蘊熱，故重用辛開，使上焦得通，津液得下也。（陽氣伸，則津液化而得上輸下布也。）</p>
<p><u>濕熱證，舌根白，舌尖紅，濕漸化熱，余濕猶滯。宜辛泄佐清熱，如蔻仁、半夏、干菖蒲、大豆黃卷、六一散、連翹、綠豆衣等味。</u></p>
<p>此濕熱參半之證。而燥濕之中即佐清熱者，亦所以存陽明之液也。上二條，憑驗舌以投劑，極為臨證時要訣。蓋舌為心之外候，濁邪上熏心肺，舌苔因而轉移。（葉天士《溫熱論》辨舌最為精詳，宜合觀之。）</p>
<p><u>濕熱證，初起即胸悶不知人，瞀亂</u>（瞀音茂，昏憒也。）　<u>大叫痛，濕熱阻閉中上二焦。宜草果、檳榔、鮮菖蒲、六一散、芫荽各重用，或加皂角、地漿水煎。</u>（於陰地掘坑，汲淨水倒坑中攪之候澄清，名地漿水，能解暑毒。）</p>
<p>此條乃濕熱俱盛之候，而去濕藥多清熱藥少者，以病邪初起即閉，不得不以辛通開閉為急務，不欲以寒涼凝滯氣機也。</p>
<p><u>濕熱證，四五日，口大渴，胸悶欲絕，乾嘔不止，脈細數，舌光如鏡。胃液受劫，膽火上衝，宜西瓜汁、金汁、鮮生地汁、甘蔗汁，磨服鬱金、木香、香附、烏藥等味。</u>（舌光無苔，津枯而非濁壅，反胸悶欲絕者，肝膽氣上逆也。）</p>
<p>此營陰素虧，木火素旺者。木乘陽明，耗其津液，幸無飲邪，故一清陽明之熱，一散少陽之邪。不用煎者，取其氣全耳。（諸汁滋胃液，辛香散逆氣。）</p>
<p><u>濕熱證，嘔吐清水或痰多，濕熱內留，木火上逆，宜溫膽湯加瓜蔞、碧玉散等味。</u>（即六一散加青黛以清肝膽之熱，上條液枯以動肝膽之火，此條痰飲郁其肝膽之火也。）</p>
<p>此素有痰飲而陽明少陽同病，故一以滌飲一以降逆。與上條嘔同而治異，正當合參。（上條燥火而乾嘔，此條飲邪故嘔水。）</p>
<p><u>濕熱證，嘔惡不止，晝夜不差，欲死者，肺胃不和，胃熱移肺，肺不受邪也。宜用川連三四分，蘇葉二三分，兩味煎湯，呷下即止。</u></p>
<p>肺胃不和最易致嘔。蓋胃熱移肺，肺不受邪，還歸於胃。必用川連以清濕熱，蘇葉以通肺胃。投之立愈者，以肺胃之氣，非蘇葉不能通也。分數輕者，以輕劑恰治上焦之病耳。</p>
<p><u>濕熱證，咳嗽晝夜不安，甚則喘不得眠者，暑邪入於肺絡，宜葶藶、六一散、枇杷葉等味。</u></p>
<p>人但知暑傷肺氣則肺虛，而不知暑滯肺絡則肺實。葶藶引滑石直瀉肺邪則病自除。</p>
<p><u>濕熱證，十餘日，大勢已退，惟口渴、汗出、骨節痛，餘邪留滯經絡。宜元米湯泡於朮，隔一宿，去朮煎飲。</u></p>
<p>病後濕邪未盡，陰液先傷，故口渴身痛。此時救陰則助濕，治濕則劫陰。宗仲景麻沸湯之法，取氣不取味，走陽不走陰，佐以元米湯養陰逐濕，兩擅其長。（元米即烏米也。）</p>
<p><u>濕熱證，數日後，汗出熱不除，或痙，忽頭痛不止者，榮液大虧，厥陰風火上升。宜羚羊角、蔓荊子、鉤藤、元參、生地、女貞子等味。</u></p>
<p>濕熱傷榮，肝風上逆，血不榮筋而疼，上升顛頂則頭痛。熱氣已退，木氣獨張，故痙而不厥，投劑以息風為標，養陰為本。</p>
<p><u>濕熱證，胸痞發熱，肌肉微疼，始終無汗者，腠理暑邪內閉。宜六一散一兩，薄荷三四分，泡湯調下即汗解。</u></p>
<p>濕病發汗，昔賢有禁。此不微汗之，病必不除。蓋既有不可汗之戒，復有得汗始解之治法，臨證當知變通矣。（濕病，仲景有法當汗出而解，用麻黃加朮湯、麻黃赤豆湯、麻黃杏仁薏苡等湯，後世亦有羌活勝濕等湯，固非一概禁汗者。但寒濕在表，法當汗解；濕熱在裡，必當清熱利濕。今以暑濕閉於腠理，故以滑石利毛竅，若邪閉於經者，又當通其經絡可知矣。</p>
<p><u>濕熱證，按法治之，數日後，或吐下一時並至者，中氣虧損，升降悖逆。宜生穀芽、蓮心、扁豆、米仁、半夏、甘草、茯苓等味，甚則用理中法。</u>（忽然吐下，更當細審脈證，有無重感別邪，或傷飲食。）</p>
<p>升降悖逆，法當和中，猶之霍亂之用六和湯也。若太陰憊甚，中氣不支，非理中不可。</p>
<p><u>濕熱證，十餘日後，左關弦數，腹時痛，時圊血，肛門熱痛，血液內燥，熱邪傳入厥陰之證。宜仿白頭翁湯法。</u></p>
<p>熱入厥陰而下利，即不圊血，亦當宗仲景治熱利法。若竟逼入榮陰，安得不用白頭翁湯涼血而散血乎。設熱入陽明而下利，即不圊血，又宜師仲景治下利譫語用小承氣湯之法矣。</p>
<p>楠：按仲景治太陽少陽合病，自下利者，用黃芩湯。蓋以太少溫邪，會合於陽明之腑，熱迫水穀而下利，故不治太少而用黃芩湯專治陽明，則是熱入陽明而下利者，當宗黃芩湯法也。若治下利譫語用小承氣者，是厥陰熱利，因腸中有燥屎，閉其熱邪而譫語，故用小承氣下燥屎。若無譫語即無燥屎，則不當用承氣矣。黃芩湯證在前卷溫病篇，小承氣證在傷寒厥陰篇，詳究本篇，義理自明也。</p>
<p><u>濕熱證，十餘日後，尺脈數，下利，或咽痛，口渴心煩，下泉不足，熱邪直犯少陰之證。宜仿豬膚湯涼潤法。</u></p>
<p>同一下利有厥少之分，則藥有寒涼之異。（謂厥陰宜寒，少陰宜涼也。）然少陰有便膿之候，不可不細審也。（仲景論中，厥陰有熱利而無寒利，以厥陰為風木而有相火，邪入之則化熱也。少陰直中風寒，則寒利厥逆，用四逆等法回陽散寒。其由陽經傳入之邪而化熱，及溫病伏邪將發而咽痛下利，皆為熱邪也。少陰便膿血，仲景用桃花湯，以邪熱在少陰，而太陰虛寒也。豬膚湯方見前仲景溫病證治篇。）</p>
<p><u>濕熱證，身冷脈細，汗泄胸痞，口渴舌白，濕中少陰之陽。宜人參、白朮、附子、茯苓、益智等味。</u>（胸痞舌白，當加厚朴、半夏或乾薑，恐參、術太壅氣也。渴者，濕遏陽氣不化津液以上升，非熱也。前卷仲景治寒濕各條，理法甚詳也。）</p>
<p>此條濕邪傷陽，理合扶陽逐濕。口渴為少陰證，烏得妄用寒涼耶。（津液出於舌下少陰經之廉泉穴，故凡少陰受邪，津液下升則渴也。）</p>
<p><u>暑月病初起，但惡寒，面黃，口不渴，神倦，四肢懶，脈沉弱，腹痛下利，濕困太陰之陽。宜仿縮脾飲，甚則大順散、來復丹等法。</u>（仲景云：自利不渴者屬太陰，以其臟有寒故也。今濕重，惡寒不發熱，即為太陰證之陰暑也。如或肢冷脈細，必須姜附理中法。）</p>
<p>暑月為陽氣外泄，陰氣內耗之時，故熱邪傷陰，陽明消爍，宜清宜滋。（即所謂陽暑證，屬陽明者也。）太陰告困，濕濁瀰漫，宜溫宜散。古法最詳，醫者鑑諸。</p>
<p><u>濕熱證，按法治之，諸證皆退，惟目瞑則驚悸夢惕。餘邪內留，膽氣不舒。宜酒浸郁李仁、薑汁炒棗仁、豬膽皮等味。</u></p>
<p>滑可去著。郁李仁性最滑脫，古人治驚後肝系滯而不下，始終目不瞑者，用之以下肝系而去滯。此證借用，良由濕熱之邪留於膽中。膽為清虛之府，精而不瀉，是以病去而內留之邪不去。寐則陽氣行於陰，膽熱內擾，肝魂不安，用郁李仁以泄邪。必用酒浸者，酒入於胃，先走於胃也。棗仁之酸，入肝安神，而制以薑汁者，安神而又兼散邪也。（肝性喜涼散，棗仁、薑汁太溫，似宜酌加涼品。）</p>
<p><u>濕熱證，曾開泄下奪，惡候皆平，獨神思不清，倦語不思食，溺數，唇齒乾。胃氣不榆，肺氣不布，元神大虧。宜人參、麥冬、生穀芽、川石斛、木瓜、生甘草、鮮蓮子等味。</u></p>
<p>開泄下奪，惡候皆平，正亦大傷。故現症多氣虛之象。理合清補元氣，若用膩滯陰藥，去生便遠。</p>
<p><u>濕熱證，四五日，忽大汗出，手足冷，脈細如絲或絕，口渴，莖痛，而起坐自如，神清語亮，乃汗出過多，衛外之陽暫亡，濕熱之邪仍結，一時表裡不通，脈故伏，非真陽外脫也。宜五苓散去朮加滑石、酒炒川連、生地、耆皮等味。</u>（以口渴莖痛兩端知其邪結，以神清語亮知其非脫證也。）</p>
<p>此條脈證，全似亡陽之候，獨於舉動神氣得其真情。噫！此醫之所以貴識見也。（五苓散方見前第六卷霍亂論。）</p>
<p><u>濕熱證，發痙神昏，獨足冷陰縮。下體外受客寒，仍宜從濕熱治，只用辛溫之品煎湯熏洗。</u></p>
<p>陰縮為厥陰之外候，合之足冷，全似虛寒。乃諦觀本證，無一屬虛，始知寒客下體，一時營氣不達，不但證非虛寒，並非上熱下寒之可擬也。仍從濕熱治之，又何疑耶？（發痙神昏，邪犯肝心。若邪重內閉，厥陰將絕，必囊縮足冷而舌亦卷，是邪深垂死之證。本非虛寒，今云由外受客寒，更當詳細察問為要。）</p>
<p><u>濕熱證，初起壯熱口渴，脘悶懊憹，眼欲閉，時譫語，濁邪矇蔽上焦。宜湧泄，用枳殼、桔梗、淡豆豉、生山梔，無汗者加葛根。</u></p>
<p>若病退後，脘中微悶，知飢不食，是餘邪蒙繞上焦，法當輕散。餘邪不淨，自無壯熱譫語等證，必與初起邪勢重者形狀不同。此則濁邪蒙閉上焦，故懊憹脘悶。眼欲閉者，肺氣不舒也。時譫語者，邪逼心包也。若投輕劑，病必不除。經曰：高者越之。用梔豉湯湧泄之劑，引胃脘之陽而開心胸之表，邪從吐散。（若舌苔薄而滑者，為無形濕熱，可以吐散；如舌苔厚而有根，濁邪瘀結，須重用辛開苦降。如吐之，邪結不得出，反使氣逆而變出他證也。）</p>
<p><u>濕熱證，經水適來，壯熱口渴，譫語神昏，胸腹痛，或舌無味，脈滑數。邪陷榮分，宜大劑犀角、紫草、茜根、貫眾、連翹、銀花露、鮮菖蒲等味。</u></p>
<p>熱入血室，不獨婦女，男子亦有之。不第涼血，亦須解毒，然必重劑乃可奏功。（仲景云陽明病下血譫語音，此為熱入血室，即指男子而言，故無經水適來之語。其論婦女者，義詳少陽篇，若葉氏溫病論辨治熱入血室甚詳細。）</p>
<p><u>濕熱證，上下失血或汗血，毒邪深入榮分，走竄欲泄。宜大劑犀角、生地、丹皮、赤芍、連翹、紫草、茜根、銀花等味。</u>（汗血，即張氏所謂肌衄也。《內經》謂熱淫於內，治以鹹寒，方中當增入鹹寒之味。此說未知何人所注，亦甚有理也。）</p>
<p>熱逼而上下失血、汗血，勢極危而猶不即環者，以毒從血出，生機在是。大進涼血解毒之劑，以救陰而泄邪，邪解而血自止矣。血止後，須進參、耆善後。</p>
<p><u>濕熱證，七八日，口不渴，聲不出，與飲食亦不卻，默默不語，神識昏迷。進辛開涼泄、芳香逐穢俱不效，此邪入厥陰，主客渾受。宜仿吳又可三甲散：醉地鱉蟲、醋炒鱉甲、土炒穿山甲、生天蟲、柴胡、桃仁泥等味。</u></p>
<p>暑濕傷陽氣，然病久不解，必及於陰。陰陽兩困，氣鈍血滯而邪不得外泄，遂深入厥陰。絡脈凝瘀，使一陽不能萌動，生氣有降無升，心主阻遏，靈氣不通，所以神識不清而昏迷默默也。破滯通瘀，斯絡脈通而邪得解矣。（陽者，少陽生氣也。）</p>
<p><u>濕熱證，口渴，苔黃起刺，脈弦緩，囊縮舌硬，譫語昏不知人，兩手搐搦，津枯邪滯。宜鮮生地、蘆根、生首烏、鮮稻根等味。若脈有力，大便不通者，大黃亦可加入。</u></p>
<p>胃津劫奪，邪熱內據，非潤下以泄邪則不能。故仿承氣之例，以甘涼易苦寒，正恐胃津受傷，胃津不復也。（囊縮舌硬，譫語神昏，搐搦，其邪已深入厥陰，危篤之證也。苔黃起刺，濁結陽明而熱極，甘藥守而不走，恐濁結難開。如不用大黃，亦當加枳、樸之類，辛開苦降，以開其結。）</p>
<p>楠：按濕熱之邪每多發黃，今薛氏辨論共三十五條，未及發黃之證，當於前第六卷中仲景論治濕熱各條參合觀之。</p>

<h1>附方</h1>
<p><u>涼膈散</u></p>
<p>方見前第六卷葉氏溫病論</p>
<p><u>大承氣湯</u></p>
<p>方見前第六卷痙病篇</p>
<p><u>達原飲</u></p>
<p>檳榔　草果　厚朴　知母　黃芩　芍藥　甘草　上七味，分量多寡隨宜酌定，水煎溫服。</p>
<p><u>溫膽湯</u></p>
<p>方見前第六卷葉氏溫病論</p>
<p><u>碧玉散</u></p>
<p>水飛滑石（六兩）　甘草（一兩）　水飛青黛（一兩）　上研細末，白飲調服，去青黛名六一散。</p>
<p><u>理中湯</u></p>
<p>方見前第六卷霍亂篇（一作理中丸。）</p>
<p><u>六和湯</u></p>
<p>砂仁　半夏　杏仁　人參　甘草　赤茯苓　藿香　白扁豆　木瓜　香薷　厚朴　加薑棗煎服，分量多寡隨宜酌定。</p>
<p><u>白頭翁湯</u></p>
<p>白頭翁（二兩）　秦皮（三兩）　黃連（三兩）　黃柏皮（三兩）　上四味，以水七升煮取二升去滓，溫服一升。</p>
<p>王晉三曰，考本草白頭翁、秦皮各列品類，而今世所用，仍於柴胡中揀出紫皮、頭有白毛者為白頭翁，以防風、細辛之扎縛為秦皮。余謂白頭翁沾柴胡之氣可入少陽，秦皮沾細辛之氣可入少陰，但不知漢時採藥是否如此也。</p>
<p><u>黃芩湯</u></p>
<p>方見前第六卷溫病篇。</p>
<p><u>縮脾飲</u></p>
<p>砂仁　草果　烏梅　甘草　扁豆　乾葛　上六味水煎服。</p>
<p><u>大順散</u></p>
<p>甘草（三兩）　乾薑（四兩）　肉桂（四兩）　杏仁（四兩去皮尖）　上先將甘草同白砂炒微黃，次入生乾薑同炒，令姜裂，又入杏仁同炒，令杏仁不作聲為度。去白砂，合桂為末，每服二三錢，水一盅，煎數沸溫服。（白砂，按本草即河砂也。）按此方治太陰濕盛之陰暑證也。</p>
<p><u>來復丹</u></p>
<p>太陰玄精石（一兩）　倭硫黃（一兩）　硝石（一兩，即焰硝同硫黃為末，微炒結成砂子。）　橘紅（二錢）　青皮（二錢）　五靈脂（二錢，澄去砂，炒令煙盡。）　上為末，醋糊丸，每服二錢，空心米湯下。</p>
<p>人有素來上盛下虛者，暑濕濁邪壅於中宮，氣不升降，攻補難施。惟來復丹能旋轉陰陽，使濁邪上解，元氣下復，故名來復。以其玄精、硝石、硫黃，皆天地陰陽之精氣所結，橘紅、青皮利氣祛濁，靈脂入血以破瘀結，故能使三焦通達，陰陽轉輸而邪解正復也。凡虛而有濁邪者皆宜，不獨治暑病而已。</p>

<h1>備用方</h1>
<p><u>漿水散</u>（治陰暑證。就陰地掘坑汲淨水，傾坑中攪之候澄清，名地漿水。）</p>
<p>桂枝　乾薑　附子（制）　甘草（各五錢，炙）　良薑（一錢）　半夏（二錢，制）　上為細末，每服三五錢，用土漿水二盞煎一盞，連渣服。甚者三四服，微者二三服。</p>
<p>王晉三曰：土漿水，功專去暑濕、解渴熱，故以名方。夏月暴瀉亡陽，汗多腹冷，氣少脈微，君以桂枝、乾薑、附子，迎三焦之陽內返中焦；臣以炙草、土漿，奠安陰氣，俾微陽有所歸附。仍佐以半夏通經，良薑通絡，為之交通上下、旋轉陰陽。庶陽氣有運行不息之機，而後元神可復。</p>
<p><u>冷香飲子</u>（治陰暑證）</p>
<p>炮附子（一錢）　陳皮（一錢）　炙草（一錢半）　草果（一錢同吳萸炒黃黑）　生薑（十片）　上用水一盞，煎滾即濾，井水頓冷服。</p>
<p>王晉三曰：冷香飲子治霍亂，陰陽睽隔，煩躁脈伏者，草果、陳皮溫脾去濕定嘔，炙草、生薑奠安脾經陰陽，以炮附子通行經絡，交接上下。用飲子者，輕清留中也；冷服者，緩而行也。</p>
<p><u>清暑益氣湯</u>（治氣虛而暑邪輕者）</p>
<p>人參（五分）　麥冬（五分）　五味子（九粒）　黃耆（五分）　炙草（二分）　白朮（五分）　茅山術（一錢）　升麻（一錢）　葛根（二分）　陳皮（五分）　小青皮（二分半）　神麯（五分）　澤瀉（五分）　當歸（二分）　黃柏（二分）　上用水二盞，煎一盞溫服。</p>
<p>王晉三曰，此方東垣治夏月襲涼飲冷，內傷脾胃，抑遏真陽，而外傷暑濕。上焦心肺先受之，亟宜益氣，不令汗泄以亡津液；參耆炙草之甘補元氣、退虛熱；麥冬之涼滋水源，清肺熱；五味子之酸瀉肝火，收肺氣；白朮、澤瀉上下分消其濕熱，陳皮、青皮理脾氣而遠肝邪；升麻、葛根、蒼朮助辛甘之味，引清氣以行陽道，俾清氣出於脾，右遷上行以和陰陽。濕勝則食不消，用炒神麯以消痞滿；熱勝則水涸，用黃柏補水虛以滋化源。若膏粱之體，飲食房勞而為暑所中者，當清解與補益兼施，宜以此方為準則。</p>
<p><u>苓桂甘露飲</u>（此兩清濕火之佳方也）</p>
<p>茯苓　澤瀉（各一兩）　豬苓（五錢）　白朮（五錢）　肉桂（五錢）　甘草（二兩）　滑石（四兩水飛）　石膏（二兩）　寒水石（二兩，一名凝水石）　上為細末，每服三錢，溫湯調服，新汲水亦得，生薑湯尤良。</p>
<p>王晉三曰，濕為陰邪，全賴太陽氣化以利小便，莫若五苓散為當。若熱在濕下者，則為黏著之邪，又當寒燥以勝之，莫若三石之功捷。滑石性雖重而味淡，故能上利毛腠之竅，以清水濕之源；石膏辛寒入胃，辛能發汗，寒以勝熱，故能泄中焦之熱出走膀胱；凝水石辛鹹入腎，為鹽之精，故能涼血滌熱從小便而出也。</p>
<p><u>二妙散</u>（濕重太陰挾熱者宜之）</p>
<p>茅山蒼朮（生用）　川黃柏（炒焦）　上為末，用生薑煎湯調服。</p>
<p>王晉三曰，蒼朮生用入陽明，能發二陽之汗，黃柏炒黑入太陰，能除至陰之濕。一生一熟相為表裡，治陰分之濕熱，有如鼓應桴之妙。</p>
<p><u>蒼朮石膏湯</u>（此即白虎湯加蒼朮去粳米也，亦兩清太陰陽明濕火之法。）</p>
<p>蒼朮（五錢）　石膏（三錢）　知母（錢半）　甘草（一錢）　水煎服。</p>
<p>王晉三曰，濕溫從三焦而傷肌肉，為太陰陽明所屬，故四肢沉重，身熱汗多，不欲飲水，治以蒼朮石膏剛劑燥之，又得石膏知母辛鹹降之，以甘草佐蒼朮，知母佐石膏，剛柔相配，不傷臟腑之正氣。雖與白虎湯相似，其義各有微妙。</p>
