<header data-type="book">
<h1>類聚方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data value="吉益為則">吉益為則</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015280">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>欽繇嘗患血症。五六年矣。骨將枯矣。東洞翁肉焉。爾後相得而歡篤。欽繇於醫事混然途之人也比比耳。目其術奏效。間聞為其徒辨惑之。略曰。唐宋來。方技家無慮數十。丹溪東垣輩稱其時。其論著鑿空張虛。如其持之有故。其言之成理。而無益於術。投飢餓以土羹乎。救決河用枯蘀乎。而近世醫。或一毒同症。而投其劑。朝更夕改。其莽之設令乎。或一毒異症。仍貫乎其施。其守株刻船乎。而或其中。非爾力也。病者天幸已。非然。則諺云。驅飯上蠅耳。豈視越人所論。仲景所傳。以為周之冕不可冠。殷之輅不可乘矣。奚不能自開一眼。以蹈冥故途甚矣。世醫之墨墨也。乃使秦張二子。謂千歲無知己。此胡異乎見表石為鬼兕。藏燕石為大寶。雖素非芒軔僈楛者。面牆使然乎。即有一說。憚驚人耳。換面陳言。而丹溪東垣輩。之屍之祝。及或見讀古方書者。又儢儢然猥以徒蔽精神。奚乃為此方枘圓鑿。安所施之。且利之昧心也。使志不立。彼何論於救濟。張氏所謂寧不利於病。不拂富家心。其簧巧求售。如假飾妖娣。倚閭求歡者。不自知其陋。又不恥其恥焉。則又何進焉。噫。即使為則。沙汰其砂礫。簸揚其秕糠。乃不能以一旦遽洗浣世醫舊染。夏蟲疑冰。不亦類乎。亦唯候後世之公言耳。蓋詭隨儇子聞此語。豈不謂避灶猶煬。沾沾背出汗乎。詩云。我思古人。俾無訖兮。東洞翁之謂也。蓋東洞翁壯年前。憤厲激發。立志其復古。焦心覃思。更唐宋失機縱敵之弱謀。張秦張應變摧堅之紀律。乃遂揭旗幟其道。振金鼓其黨。亦惟繼絕存亡矣。斯亦謂與秦張二氏。千歲而比肩也。不亦宜乎。往年醫斷出。則若夫金科玉條乎。腐論迂說者。瞲然疑之。愕然駭之。匈匈彈之。訑訑拒之。或自覺昨非。以思改轍。而以日莫途遠。倒行逆施。或闇然自掩。寄託遺簪弊履。乃巧其遁辭。鬻其苦窳者。或托神奇其道。假儒飾其業。乃謂攻異端斯害已者。亦有之。如思折伯牙之指。願摧王良之手者。亦有之。余聞之人言。稍黠者。陽排斥東洞。譙訶其說。陰謄抄其著稿。用以為帳秘。而緣飾其術。往往取其效者。亦有之。亦惟繫縛於名。漠湣於利也。雖然。醫斷已出。牖後進。杖心盲。乃染指於古。或千里負芨。委然就學。或聞風而弗然興者。不為不多矣。古人云。涉淺水者見蝦。其頗深者察魚鱉。其尤者觀蛟龍。焉知世不有深入於刀圭之道者乎。則知東洞者。何候後世乎。其著藉追踵出。則又焉知不有初睥睨者。心竊若小巫於翁。而神氣竭耶。間者刊其類聚方。是亦不啻設左右廣。而導之前茅也。一日謂余曰。世謀其著之顯。而請其序也。或以貴。或以名。假其熏輝。余也不然。幸以子之識為則也。題一言。夫名之剖發於海內。此藉自白矣。且欽繇不知醫事者也。何為重於此舉。但書諄誨其徒之緒餘。以為序。是已。已而豈足盡東洞翁乎。豈足盡東洞翁乎。</p>
<p><u>寶曆癸未之春美濃武欽繇撰</u></p>

<h1>自序</h1>
<p>醫之學也方焉耳。炎黃氏邈矣。靡得而聞已。周室之盛。以療萬民之病。則有醫職之設。其既有醫職之設。其法豈可不精焉。惜夫官失其職。籍滅其傳。迷方之士。奚所得其門而入之。而睹藥劑之富。法術之妙乎。後有曰扁鵲者。謂秦越人也。名著天下。余初讀其傳。少覺疾醫之法。竊以為己師。然而扁鵲之沒也。籍亦不傳。吾雖有祈曏者。其奈之何。當漢之時。張氏之為方也。雖復稍後扁鵲。而其藥劑之富。法術之存。蓋莫古焉。而醫之學也方焉耳。吾亦何求。疾醫之法。其可以復耶。曰何不可也。吾常恨其世之與時移。籍非其舊。將稽之諸家。以復之於古。仲景氏。吾如爾何。自漢已降。以人以籍。孰可以憲章者。吾其舍此亦何依。遂以扁鵲為法。臨張氏之籍。久之而後知扁鵲之與張氏醫法一也。乃今而後味之淄澠可以辨。見之毫釐可以晰。而後若置其身於千載之上。親受其指揮也。蓋夫張氏之籍之難讀也。方之與證之散在諸篇。使夫學者惑焉。今也列而類之。附以己所見。其有疑者。矩之以方焉。名曰類聚方。庶幾使夫學者。雖非易牙。淄澠可以味矣。雖非離婁。毫釐可以見矣。遂命剞劂之師。遺之篤信好古之士云爾。</p>
<p><u>寶曆壬午夏六月阿岐吉益為則撰</u></p>

<h1>凡例</h1>
<p>始我先生之編類聚方也。軌在左右。躬受其凡例。此書之就成也。軌之所錄。其凡之例。亦已備矣。乃不敢私之。敢措諸卷首。以布諸同志之士。乃我先生之編類聚方也。凡例如下。</p>
<p>一昔者張氏之書。其散軼也久矣。晉大醫令王氏叔和。集為之次。至今學者受其賜矣。雖然。叔和其識之未優也。加以私言。珷夫燕石。俄然收之。而後之讀之。亦不知擇焉。見以為一圭一璧。此盡希世之寶也。嗚呼可悲夫。乃今悉取其空言虛語也。臆說理義也。痛極刪削。然後。譬之崑崙玄圃。無非圭璧者。此所以為仲景雪冤。而為學者發贗也。</p>
<p>一仲景之書。蓋一而已。岐為二三。別病頒方。抑亦後人之撰乎。夫醫之處方也。隨證以移。惟其於同也。萬病一方。惟其於變也。一毒萬方。故雞壅豕零。時為帝也。堇及桔梗。互為宰也。奇乎正乎。縱橫取捨。醫師之術也。此書本不別病也。不頒方也。亦其志之所存乎。</p>
<p>一蓋方之所貴也。不在古今。期於治疾。論之所貴也。不在新故。期於有事。故方能治疾也。不問古今。論若繫於事也。不在新故。惟是所以汲汲於治疾也。</p>
<p>一諸方以類就位。又以類之變。猶八卦之旋為六十有四乎。其慎斯術也以往。其方之用。與藥之能。可得而言矣。</p>
<p>一原文有舉脈之例。而措病之證焉。有稱病之名。而略形之狀焉。凡今學者。宜以此推彼矣。</p>
<p>一諸方或無其證也。證或無其方也。則據傍例攟摭之。加諸為則之按焉者。以異於其舊。蓋皆不苟用私說也。於藥徵乎見之。</p>
<p>一仲景之書。方之與證。其所載也。散在諸篇。如睹其證之全也。固非急索焉而所能得矣。今之於薈萃也。無有孑遺矣。</p>
<p>一諸方而在於諸論之中。無一不載焉。其空言虛語。臆說理義。既已非夫疾醫之事。則域焉而異之。所以燭乎昧行之徒也。亦惡其辭而域焉。終沒其證也。是故。有域焉而刪焉者。有域焉而指擿焉者。凡其學者。其能詳之矣。</p>
<p>一凡其不試者。十有八方也。附之於後。以俟後世之君子。不敢空斷矣。又不敢撰次矣。</p>
<p><u>門人　藝陽　藤利軌謹記</u></p>

<h1>正文</h1>
<p>桂枝湯。　桂枝三兩。　芍藥三兩。　甘草二兩。　生薑三兩。　大棗十二枚。</p>
<p>上五味。㕮咀。以水七升。微火煮取三升。去滓。適寒溫。服一升。服已。須臾。歠熱稀粥一升余。以助藥力。溫覆令一時許。（遍身漐漐。微似有汗者。益佳。不可令如水流漓。病必不除。若一服汗出。病差。停後服。不必盡劑。若不汗更服。依前法。又不汗。後服小促其間。半日許。令三服盡。若病重者一日一夜服。周時觀之。服一劑盡。病證猶在者、更作服。若汗不出者。乃服至二三劑。）</p>
<p>（太陽中風。陽浮而陰弱。陽浮者熱自發。陰弱者汗自出。嗇嗇惡寒。）淅淅惡風。翕翕發熱。鼻鳴乾嘔者。　（太陽病。）頭痛發熱。汗出惡風者。　（太陽病下之後。）其氣上衝者。可與桂枝湯。方用前法。若不上衝者。不可與之。　（太陽病）初服桂枝湯。反煩不解者。（先刺風池風府。卻與桂枝湯則愈。）（太陽病。）三日已發汗。若吐。若下。若溫針。仍不解者。此為壞病。桂枝不中與也。觀其脈證。知犯何逆。隨證治之。</p>
<p>（桂枝本為解肌。若其人脈浮緊。發熱汗不出者。不可與也。常須識此。勿令誤也。）　（若酒客病。不可與桂枝湯。得湯則嘔。以酒客不喜甘故也。）　（太陽病、外證未解、脈浮弱者、當以汗解。）　（太陽病、外證未解者。不可下也。下之為逆。欲解外者。）　（太陽病先發汗不解。而復下之。脈浮者不愈。浮為在外。而反下之。故令不愈。今脈浮。故知在外。當須解外則愈。）　（病常自汗出者。此為榮氣和。榮氣和者。外不諧。以衛氣不共榮氣和諧故爾。以榮行脈中。衛行脈外。復發其汗。榮衛和則愈。）　病人（藏）無他病、時發熱（自汗出而不愈者。此衛氣不和也。）先其時發汗則愈。　（傷寒）不大便六七日。頭痛有熱者。與承氣湯。（其小便清者。知不在裡仍在表也。當鬚髮汗。若頭痛者必衄。）　（傷寒）發汗解、半日許、復煩、脈浮數者。（可更發汗。）　（傷寒）醫下之、績得下利清穀不止、身疼痛者。（急當救里。）後身疼痛。清便自調者。（急當救表。救里）宜四逆湯。（救表）桂枝湯。　（太陽病）發熱汗出者。（此為榮弱衛強。故使汗出。欲救邪風者。）　（傷寒）大下後、復發汗、心下痞。惡寒者。（表）未解也。不可攻痞。（當先解表。解表。乃可攻痞。解表。）宜桂枝湯。攻痞宜大黃黃連瀉心湯。　（陽明病。）脈遲汗出多、微惡寒者。（表未解也。可發汗。）　病人煩熱。汗出則解。又如瘧狀。日晡所發熱者。（屬陽明也。）脈實者。宜下之。脈浮虛者。宜發汗下之。與大承氣湯。發汗宜桂枝湯。　（太陰病。脈浮者可發汗。）　下利。腹脹滿、身體疼痛者。（先溫其里。乃攻其表。溫里）四逆湯（攻表）桂枝湯。　吐利止、而身痛不休者。當消息和解。（其外。）宜桂枝湯。少和之。　下利後、身疼痛、清便自調者。（急當救表。）宜桂枝湯。（發汗。）　（婦人得平脈。陰脈小弱。其人渴不能食。無寒熱。名妊娠。桂枝湯主之。於法六十日。當有此證。設有醫治逆者。卻一月加吐下者。則絕之。）　（產後中風）續之數十日不解。頭微痛。惡寒。時時有熱。心下悶。乾嘔。汗出雖久。（陽旦）證續在耳。　服桂枝湯、大汗出、脈洪大者。與桂枝湯加前法。（若形如瘧）日再發者。汗出必解。宜桂枝二麻黃一湯。</p>
<p>桂枝加桂湯。　於桂枝湯方內加桂二兩。</p>
<p>燒針令其汗。針處被寒核起而赤者。必發奔豚氣。從少腹上衝心者。灸其核上各一壯。與桂枝加桂湯。</p>
<p>桂枝加芍藥湯。　於桂枝湯方內加芍藥三兩。</p>
<p>（本太陽病。醫反下之。因爾。）腹滿時痛者。（屬太陰也。）</p>
<p>為則按。腹滿時痛者。即拘急而痛也。是以芍藥為主爾。</p>
<p>桂枝去芍藥湯。　於桂枝湯方內去芍藥。</p>
<p>（太陽病下之後、）脈促胸滿者。桂枝去芍藥湯主之。若微惡寒者。去芍藥方中加附子湯主之。</p>
<p>為則按。不拘急故去芍藥也。</p>
<p>桂枝加葛根湯。　於桂枝湯方內加葛根四兩。</p>
<p>（太陽病。）項背強𠘧𠘧。反汗出惡風者。</p>
<p>栝蔞桂枝湯。　於桂枝湯方內加栝蔞根二兩。</p>
<p>（太陽病。）其證備。身體強𠘧𠘧然。（脈反沉遲。此為痙。）</p>
<p>為則按。桂枝湯之症。而渴者主之。</p>
<p>桂枝加黃蓍湯。　於桂枝湯方內加黃蓍二兩。</p>
<p>（黃汗之病。兩脛自冷。假令發熱。此屬歷節。食已汗出。又身常暮盜汗出者。此勞氣也。若汗出已。反發熱者。久久。其身必甲錯。發熱不止者。必生惡瘡。若身重汗出。已輒輕者。久久必身瞤。即胸中痛。）又從腰以上、必汗出。下無汗。腰髖弛痛。如有物在皮中狀。劇者。不能食。身疼重煩躁。小便不利。此（為黃汗。）　（諸病黃家但利其小便。假令脈浮。當以汗解之。）</p>
<p>為則按。黃蓍主治皮膚水氣。可考藥徵。</p>
<p>桂枝加芍藥大黃湯。　於桂枝加芍藥方內加大黃一兩。</p>
<p>（本太陽病。醫反下之。因爾。）腹滿時痛者。（屬太陰也。）桂枝加芍藥湯主之。大實痛者。桂枝加大黃主之。</p>
<p>為則按。桂枝加大黃湯。因桂枝加芍藥湯。加大黃者也。故方名從之。</p>
<p>桂枝加厚朴杏子湯。　於桂枝湯方內。加厚朴二兩。杏子五十個。喘家作桂枝湯。加厚朴杏子佳。（太陽病下之。）微喘者。（表未解故也。）</p>
<p>為則按。當有胸滿證。</p>
<p>烏頭桂枝湯。　烏頭五枚。</p>
<p>上一味。以蜜二斤煎。減半去滓。以桂枝湯五合解之。得一升後。初服二合。不知即服三合。又不知。復加至五合。其知者。如醉狀得吐者。為中病。（寒疝。）腹中痛逆冷。手足不仁。若身疼痛。灸刺諸藥不能治。抵當用此方。</p>
<p>為則按。是烏頭煎而合桂枝湯方也。當列烏頭煎方下。今列之桂枝加附子湯者。示其異也。又按。煎法可依大烏頭煎之法。</p>
<p>桂枝加附子湯。　於桂枝湯方內加附子一枚。</p>
<p>（太陽病。）發汗遂漏不止。其人惡風。小便難。四支微急。難以屈伸者。</p>
<p>桂枝去芍藥加附子湯。　於桂枝去芍藥湯方內。加附子一枚。</p>
<p>（太陽病下之後。）脈促胸滿者。桂枝去芍藥湯主之。若微惡寒者。去芍藥方中加附子湯主之。</p>
<p>桂枝附子湯。　桂枝四兩。　附子三枚。　生薑三兩。　甘草二兩。　大棗十二枚。</p>
<p>上五味。以水六升。煮取二升。去滓。分溫三服。</p>
<p>（傷寒八九日。風濕相搏。）身體疼煩。不能自轉側。不嘔。不渴。（脈浮虛而澀者。）桂枝附子湯主之。若其人大便硬。小便自利者。去桂枝加朮湯主之。</p>
<p>為則按。當有上衝證。此方與桂枝去芍藥加附子湯同。而治與方名異。彼方下曰。微惡寒。此方下曰。身體疼煩。惡寒輕。疼煩重。獨在附子之多少也已。</p>
<p>桂枝附子去桂加朮湯。　於桂枝附子湯方內去桂加朮四兩。</p>
<p>上五味。以水三升。煮取一升。去滓。分溫三服。一服覺身痹。半日許再服。三服都盡。其人如冒狀。勿怪。即是朮附並走皮中、逐水氣未得除故耳。（傷寒）八九日。風濕相搏、身體疼煩、不能自轉側、不嘔、不渴、（脈浮虛而澀者。）桂枝附子湯主之。若大便硬。小便自利者。</p>
<p>為則按。桂枝附子湯證。而無沖逆者也。</p>
<p>桂枝去桂加苓朮湯。　於桂枝湯方內去桂加苓朮各三兩。</p>
<p>服桂枝湯。或下之。仍頭項強痛、翕翕發熱、無汗、心下滿、微痛、小便不利者。</p>
<p>為則按。當有心下悸之證。</p>
<p>桂薑棗草黃辛附湯。　桂枝三兩。　生薑三兩。　甘草二兩。　大棗十二枚。　麻黃。　細辛各二兩。　附子一枚。</p>
<p>上七味。以水七升。煮麻黃。去上沫。內諸藥煮取二升。分溫三服。當汗出。如蟲行皮中。即愈。（氣分。）心下堅大如盤。邊如旋杯。（水飲所作。）</p>
<p>為則按。證不備也。此方合桂枝去芍藥湯與麻黃附子細辛湯也。證當於二方之下求也。藥徵有辨。</p>
<p>桂枝去芍藥加皂莢湯。　於桂枝湯方內。去芍藥加皂莢二枚。</p>
<p>（肺痿）吐涎沫者。</p>
<p>桂枝加龍骨牡蠣湯。　於桂枝湯方內。加龍骨牡蠣各三兩。</p>
<p>夫失精家。小腹弦急。陰頭寒。目眩發落。（脈極虛。芤遲為清穀。亡血失精。脈得諸芤動微緊。）男子失精。女子夢交。</p>
<p>為則按。當有胸腹動證。</p>
<p>桂枝去芍藥加蜀漆龍骨牡蠣湯。</p>
<p>桂枝三兩。　甘草二兩。　生薑三兩。　牡蠣五兩。　大棗十二枚。　蜀漆三兩。　龍骨四兩。</p>
<p>上為末。以水一斗二升。先煮蜀漆。減二升。內諸藥。煮取三升。去滓溫服一升。</p>
<p>（傷寒脈浮。）醫以火迫卻之（亡陽）必驚狂。起臥不安者。（火邪也。）</p>
<p>為則按。當有胸腹動而沖逆之證。</p>
<p>桂枝加芍藥生薑人參湯。　於桂枝湯方內。加芍藥生薑各一兩。人參三兩。</p>
<p>發汗後身疼痛脈沉遲者。</p>
<p>為則按。當有心下痞硬、或拘急、或嘔證。</p>
<p>桂枝二麻黃一湯。　桂枝一兩十七銖。　芍藥一兩六銖。　麻黃十六銖。　生薑一兩六銖。　杏仁十六個。　甘草一兩二銖。　大棗五枚。</p>
<p>上七味。以水五升。先煮麻黃一二沸。去上沫。內諸藥。煮取二升。去滓。溫服一升。日再。（服桂枝湯。大汗出。脈洪大者。）與桂枝湯。如前法。若形如瘧。日再發者。汗出必解。</p>
<p>桂枝二（越婢）一湯。　桂枝芍藥甘草各十八銖。　生薑一兩三銖。　大棗四枚。　麻黃十八銖。　石膏二十四銖。</p>
<p>上七味。㕮咀。以水五升。煮麻黃一二沸。去上沫。內諸藥。煮取二升。去滓。溫服一升。</p>
<p>（太陽病。）發熱。惡寒。熱多寒少。脈微弱者。（此無陽也。不可發汗。）</p>
<p>桂枝麻黃各半湯。　桂枝一兩十六銖。　芍藥生薑甘草麻黃各一兩。　大棗四枚。　杏仁二十四個。</p>
<p>上七味。以水五升。先煮麻黃一二沸。去上沫。內諸藥。煮取一升八合。去滓。溫服六合。</p>
<p>（太陽病、得之八九日、如瘧狀、）發熱、惡寒、熱多、寒少、其人不嘔、清便欲自可、一日二三度發。脈微緩者。為欲愈也。（脈微而惡寒者。此陰陽俱虛。不可更發汗。更下更吐也。（面色反有熱色者。未欲解也。以其不能得少汗出身必癢。</p>
<p>小建中湯。　桂枝三兩。　甘草三兩。　大棗十二枚。　芍藥六兩。　生薑三兩。　膠飴一升。</p>
<p>上六味。以水七升。煮取三升。去滓。內膠飴。更上微火消解。溫服一升。日三服。（嘔家不可用建中湯。以甜故也。）</p>
<p>（傷寒、陽脈澀、陰脈弦、法當）腹中急痛者。先與小建中湯。不差者。與小柴胡湯主之。（傷寒二三日、）心中悸而煩者。　（虛勞）裡急。悸衄。腹中痛。夢失精。四肢痠痛。手足煩熱。咽乾口燥。　（男子）黃小便自利。　（婦人）腹中痛。</p>
<p>為則按。當有腹中拘急之證。其方類芍藥甘草湯也。</p>
<p>黃蓍（建中）湯。　於小建中湯方內加黃蓍一兩半。</p>
<p>（虛勞）裡急（諸不足。）</p>
<p>為則按。當有盜汗黃汗之證。又曰。桂枝加芍藥湯當入於此。而以有桂枝之名列於彼也。</p>
<p>黃蓍桂枝五物湯。　黃蓍三兩。　芍藥三兩。　桂枝三兩。　生薑六兩。　大棗十二枚。</p>
<p>上五味。以水六升。煮取二升。溫服七合。日三服。</p>
<p>（血痹病從何得之。師曰。夫尊榮人。骨弱肌膚盛。重困。疲勞。汗出。臥不時。動搖加被微風遂得之。但以脈自微澀在寸口關上。小緊宜針、引陽氣。令脈和。緊去則愈。血痹陰陽俱微。寸口關上微。尺中小緊。外證）身體不仁。如（風痹）狀。</p>
<p>為則按。桂枝加黃蓍湯證。而嘔無急迫者。</p>
<p>黃蓍桂枝苦酒湯。　黃蓍五兩。　芍藥三兩。　桂枝三兩。</p>
<p>上三味。以苦酒一升水七升相和。煮取三升。溫服一升。當心煩。服至六七日乃解。（若心煩不止者。以苦酒阻故也。）</p>
<p>黃汗之為病。身體腫。發熱。汗出。而渴狀如（風水。）汗沾衣。色正黃。如藥汁。（脈自沉。何從得之。師曰。以汗出入水中。浴水從汗孔入得之。）</p>
<p>桂枝甘草湯。　桂枝四兩。　甘草二兩。</p>
<p>上二味。以水三升。煮取一升。去滓頓服。　發汗過多。其人叉手自冒心。心下悸。欲得按者。</p>
<p>為則按。當有急迫證。</p>
<p>半夏散。　半夏。桂枝。甘草各等分。</p>
<p>已上三味。各別搗篩。已合治之。白飲和服。方寸匕。曰三服。若不能散服者。以水一升。煎七沸。內散兩方寸匕更煎三沸。下火。令少冷。少少咽之。（少陰病）咽中痛。</p>
<p>桂枝甘草附子湯。　甘草二兩。　附子二枚。　術二兩。　桂枝四兩。</p>
<p>上四味。以水六升。煮取三升。去滓。溫服一升。日三服。初服得微汗。則解。能食。汗出。復煩者服五合。恐一升多者。服六七合。　（風濕相搏。）骨節疼煩。掣痛不得屈伸。近之則痛劇。汗出。短氣。小便不利。惡風不欲去衣。或身微腫者。</p>
<p>為則按。當有沖逆之證。</p>
<p>桂枝甘草龍骨牡蠣湯。　桂枝一兩。　甘草二兩。　牡蠣二兩。　龍骨二兩。</p>
<p>上為末以水五升。煮取二升半。去滓。溫服八合。日三服。</p>
<p>（火逆下之。因燒針。）煩躁者。</p>
<p>桂枝人參湯。　桂枝四兩。　甘草四兩。　術三兩。　人參三兩。　乾薑三兩。</p>
<p>上五味。以水九升。先煮四味。取五升。內桂。更煮取三升。溫服一升。日再。夜一服。　（太陽病。外證未除。而數下之。遂協熱而利。）一利下不止。心下痞硬。（表裡不解者。）</p>
<p>人參湯。（理中丸也）　人參。　甘草。　術。　乾薑各三兩。</p>
<p>上四味。搗篩為末。蜜和丸。如雞黃大。以沸湯數合。和一丸研碎。溫服之。日三服。夜二服。腹中未熱。益至三四丸。然不及湯。湯法以四物。依兩數功。用水八升。煮取三升。去滓。溫服一升。日三服。（加減法。若臍上築者。腎氣動也。去朮加桂四兩。吐多者。去朮加生薑三兩。下多者。還用術。悸者。加茯苓二兩。渴欲得水者。加朮足前成四兩半。腹中痛者。加人參。足前成四兩半。寒者。加乾薑。足前成四兩半。腹滿者。去朮加附子一枚。）服湯後。如食頃飲熱粥一升許。微自溫。勿發揭衣被。　（霍亂。）頭痛、發熱、身疼痛、熱多欲飲水者。五苓散主之。寒多不用水者。（理中）丸主之。　（大病差後。）喜睡久不了了者。（胃上有寒。當以丸藥溫之。）　（胸痹）心中痞留。氣結在胸。胸滿。脅下逆搶心。枳實薤白桂枝湯主之。人參湯亦主之。</p>
<p>茯苓甘草湯。　茯苓二兩。　桂枝二兩。　生薑三兩。　甘草一兩。</p>
<p>上四味。以水四升。煮取二升。去滓。分溫三服。（傷寒）汗出而渴者。五苓散主之。不渴者。　（傷寒）厥而心下悸者。（宜先治水。當服茯苓甘草湯。卻治其厥。不爾水漬入胃必作利也。）　</p>
<p>為則按。當有沖逆嘔吐證。</p>
<p>茯苓杏仁甘草湯。　茯苓三兩。　杏仁五十個。　甘草一兩。</p>
<p>上三味。以水一斗。煮取五升。溫服一升。日三服。不差更服。</p>
<p>（胸痹。）胸中氣塞。短氣。茯苓杏仁甘草湯主之。橘枳薑湯亦主之。</p>
<p>茯苓戎鹽湯。　茯苓半斤。　術二兩。　戎鹽彈丸大一枚。</p>
<p>上三味。先將茯苓朮。煎成。入鹽。再煎。分溫三服。</p>
<p>小便不利。蒲灰散主之。滑石白魚散茯苓戎鹽並主之。</p>
<p>為則按。當有心下悸證。又按。此方煎法不審。依他例。當以水六升。煮取三升。去滓內戎鹽。一二沸。分溫三服。</p>
<p>葵子茯苓散。　葵子一斤。茯苓三兩。</p>
<p>上二味。杵為散。飲服方寸匕。日三服。小便利則愈。</p>
<p>（妊娠。）有水氣。身重。小便不利。灑淅惡寒。起即頭眩。</p>
<p>為則按。當有心下悸證。又按。葵子一斤。本草綱目作三兩。今從之。</p>
<p>苓薑朮甘湯。　甘草、術各二兩。　乾薑、茯苓各四兩。</p>
<p>上四味。以水五升。煮取三升。分溫三服。（腰中即溫。）</p>
<p>（腎著之病。）其人身體重。腰中冷如坐水中。形如水狀。反不渴。小便自利。飲食如故。（病屬下焦。身勞汗出。衣里冷濕。久久得之。）腰以下冷痛。腰重如帶五千錢。</p>
<p>為則按。當有心下悸證。</p>
<p>苓桂朮甘湯。　茯苓四兩。　桂枝三兩。　術二兩。　甘草二兩。</p>
<p>上四味。以水六升。煮取三升。去滓。分溫三服。</p>
<p>傷寒若吐、若下後、心下逆滿。氣上衝胸。起則頭眩。（脈沉緊。發汗則動經。身為振振搖者。）　心下有痰飲。胸脅支滿。目眩。　夫短氣。有微飲當從小便去之。苓桂朮甘湯主之。（腎氣）丸亦主之。</p>
<p>苓桂甘棗湯。　茯苓半斤。　甘草三兩。　大棗十五枚。　桂枝四兩。</p>
<p>上四味。以水一斗。先煮茯苓。減二升。內諸藥。取三升。去滓。溫服一升。日三服。</p>
<p>（發汗後其人）臍下悸者。欲作奔豚。</p>
<p>為則按。當有腹拘急證。</p>
<p>苓桂五味甘草湯。　茯苓四兩。　桂枝四兩。　甘草三兩。　五味子半升。</p>
<p>上四味。以水八升。煮取三升。去滓。分溫三服。</p>
<p>咳逆倚息不得臥。小青龍湯主之。青龍湯下已多唾口燥、（寸脈沉、尺脈微、）手足厥、逆氣從小腹上衝胸咽、手足痹、其面翕然如醉狀、因復下流陰股、小便難、時覆冒者。與苓桂五味甘草湯。治其氣衝。</p>
<p>苓甘五味姜辛湯。　茯苓四兩。　甘草、乾薑、細辛各三兩。　五味子半升。</p>
<p>上五味。以水八升。煮取三升。去滓。溫服半升。日三服。</p>
<p>沖氣即低。而反更咳胸滿者。用桂苓五味甘草湯。去桂加乾薑細辛。以治其咳滿。</p>
<p>苓甘姜味辛夏湯。　茯苓四兩。　甘草、細辛、乾薑各二兩。　五味、半夏各半升。</p>
<p>上六味。以水八升。煮取三升。去滓。溫服半升。日三服。</p>
<p>咳滿即止。而更復渴。沖氣復發者。（以細辛乾薑為熱藥也）服之。當遂渴而渴反止者。（為支飲也。支飲者。）法當冒。冒者必嘔。嘔者復內半夏。（以去其水。）</p>
<p>苓甘姜味辛夏仁湯。　茯苓四兩。　甘草三兩。　五味半升。　乾薑三兩。　細辛三兩。　半夏半升。　杏仁半升。</p>
<p>上七味。以水一斗。煮取三升。去滓。溫服半升。日三服。</p>
<p>水去嘔止。其人形腫者。加杏仁主之。（其證應內麻黃。以其人遂痹故不內之。若逆而內之者必厥。所以然者。以其人血虛、因麻黃髮其陽故也。）</p>
<p>苓甘姜味辛夏仁黃湯。　茯苓四兩。　甘草三兩。　五味半升。　乾薑三兩。　細辛三兩。　半夏半升。　杏仁半升。　大黃三兩。</p>
<p>上八味。以水一斗。煮取三升。去滓。溫服半升。日三服。</p>
<p>若面熱如醉。（此為胃熱。上衝熏其面。加大黃以利之。）</p>
<p>為則按。以上五方。當有驚悸肉瞤筋惕等證。</p>
<p>茯苓澤瀉湯。　茯苓半升。　澤瀉四兩。　甘草二兩。　桂枝二兩。　術三兩。　生薑四兩。</p>
<p>上六味。以水一斗。煮取三升。內澤瀉。再煮取二升半。溫服八合。日三服。（胃反）吐。而渴欲飲水者。</p>
<p>為則按。當有心下悸。或小便不利證。</p>
<p>澤瀉湯。　澤瀉五兩。　術二兩。</p>
<p>上二味。以水二升。煮取一升。分溫再服。　心下有（支飲。）其人苦冒眩。</p>
<p>五苓散。　豬苓十八銖。　澤瀉一兩六銖半。　茯苓十八銖。　桂枝半兩。　術十八銖。</p>
<p>上五味。為末以白飲和服。方寸匕。日三服。多飲暖水。汗出愈。</p>
<p>（太陽病發汗後。大汗出、胃中干、煩躁不得眠、欲得飲水者。少少與飲之。令胃氣和。則愈。）若脈浮、小便不利、微熱消渴者。　發汗已、脈浮數、煩渴者。　（中風。）發熱六七日、不解而煩、（有表裡證、）渴欲飲水、水入則吐者。（名曰水逆。）　（病在陽應以汗解之。）反以冷水潠之。若灌之其熱被劫不得去、彌更益煩、肉上粟起。意欲飲水、反不渴者。服文蛤散。若不差者與五苓散。（寒實結胸）無熱證者。與三物小陷胸湯。白散。亦可服。　（太陽病。寸緩關浮尺弱、其人發熱、汗出、復惡寒不嘔。但心下痞者。此以醫下之也。如其不不者。病人不惡寒而渴者。此轉屬陽明也。）小便數者。大便必硬。不更衣十日。無所苦也。渴欲飲水。少少與之。但以法救之渴者。　（霍亂。）頭痛發熱、身疼痛熱多、欲飲水者。五苓散主之。寒多不用水者。理中丸主之。　（傷寒。）汗出而渴者。五苓散主之。不渴者。茯苓甘草湯主之。　（男子）消渴。小便反多。以飲一斗。小便一斗。腎氣丸主之。脈浮、小便不利、微熱消渴者。宜利小便發汗。　（假令瘦人）臍下有悸。吐涎沫而癲眩。此水也。　（本以下之。故心下痞。與瀉心湯。痞不解。其人渴。而口燥煩。小便不利者。）</p>
<p>茵陳五苓散。　茵陳蒿末十分。　五苓散五分。</p>
<p>上二物。（和先食）飲方寸匕。日三服。</p>
<p>（黃疸）病。</p>
<p>為則按。當有小便不利或渴證。</p>
<p>豬苓湯。　豬苓、茯苓、阿膠、滑石、澤瀉各一兩。</p>
<p>上五味。以水四升。先煮四味。取二升。去滓。內下阿膠。烊消。溫服七合。日三服。　若脈浮、發熱、渴欲飲水、小便不利者。　（陽明病。汗出多而渴者。不可與豬苓湯。以汗多胃中燥。豬苓湯複利其小便故也。）　（少陰病）下利六七日。咳而嘔渴、心煩不得眠者。</p>
<p>為則按。當有便膿血證。</p>
<p>豬苓散。　豬苓、茯苓、術各等分。</p>
<p>上三味。杵為散。飲服方寸匕。日三服。</p>
<p>嘔吐而病在膈上、後思水者。解急與之。思水者。</p>
<p>牡蠣澤瀉散。　牡蠣、澤瀉、栝蔞根、蜀漆、葶藶、商陸根、海藻、各等分。</p>
<p>上七味。異搗下篩為散。更入臼中治之。白飲和服。方寸匕。小便利。止後服。日三服。</p>
<p>（大病差後。）從腰已下有水氣者。</p>
<p>為則按。當有胸腹有動或渴證。</p>
<p>八味丸。　乾地黃八兩。　山茱萸、薯蕷各四兩。　澤瀉三兩。　茯苓三兩。　牡丹皮三兩。　桂枝、附子各一兩。</p>
<p>上八味。末之。煉蜜和丸。梧子大。酒下十五丸。日再服。</p>
<p>（腳氣）上入。小腹不仁。　（虛勞）腰痛、少腹拘急、小便不利者。夫短氣有（微飲。）當從小便去之。苓桂朮甘湯主之。（腎氣丸）亦主之。　（男子）消渴。小便反多。以飲一斗。小便一斗。腎氣丸主之。脈浮、小便不利、微熱消渴者。宜利小便發汗。五苓散主之。　（婦人病。飲食如故。煩熱不得臥。而反倚息者。何也。曰。此名轉胞。不得溺也。以胞系了戾。故致此病。但利小便則愈。）</p>
<p>為則按。外臺秘要作桂枝二兩附子二兩。今從之。</p>
<p>栝蔞瞿麥丸。　栝蔞根二兩。　茯苓、薯蕷各三兩。　附子一枚。　瞿麥一兩。</p>
<p>上五味。末之。煉蜜丸。梧子大。飲服三丸。日三服。不知增至七八丸。以小便利腹中溫為知。）小便不利者。有（水氣。）其人若渴。</p>
<p>為則按。當有心下悸證。</p>
<p>麻黃湯。　麻黃三兩。　桂枝二兩。　甘草一兩。　杏仁七十個。</p>
<p>上四味。以水九升。先煮麻黃。減二升。去上沫。內諸藥。煮取二升半。去滓。溫服八合。覆取微似汗。不順啜粥。余如桂枝法將息。</p>
<p>（太陽病。）頭痛發熱。身疼、腰痛、骨節疼痛、惡風無汗而喘者。　（太陽與陽明合病。）喘而胸滿者。不可下。　（太陽病。十日以去、）脈浮細而嗜臥者。（外。已解也。）設胸滿脅痛者。與小柴胡湯。脈但浮者。（太陽病。）脈浮緊、無汗、發熱、身疼痛、八九日不解。（表證仍在此。當發其汗。服藥已微除。其人發煩目瞑劇者。必衄。）乃解。（所以然者。陽氣重故也。）　（脈浮者。病在表。可發汗。）　（脈浮而數者。可發汗。）　（傷寒。脈浮緊、不發汗、因致衄者。）　（陽明中風、脈弦浮大、而短氣、腹都滿、脅下及心痛。又按之。氣不通、鼻乾、不得汗、嗜臥、一身及面目悉黃。小便難、有潮熱時時噦。耳前後腫、刺之小差。外不解、病過十日脈續浮者。與小柴胡湯。脈但浮無餘證者。與麻黃湯。若不尿、腹滿、加噦者。不治。）　（陽明病。）脈浮、無汗而喘者。發汗則愈。</p>
<p>麻黃加朮湯。　於麻黃湯方內加朮四兩。</p>
<p>（濕家）身煩疼。可與麻黃加朮湯。發其汗為宜。慎不可以火攻之。</p>
<p>麻黃甘草湯。　甘草二兩。　麻黃四兩。</p>
<p>上二味。以水五升。先煮麻黃。去上沫。內甘草。煮取三升。溫服一升。重覆。汗出。不汗再服。慎風寒。</p>
<p>（里水。）越婢加朮湯主之。甘草麻黃湯亦主之。</p>
<p>為則按。水病而腫脹、或喘、或自汗出、或無汗者。主之。</p>
<p>麻黃附子甘草湯。　麻黃二兩。　甘草二兩。　附子一枚。</p>
<p>上三味。以水七升。先煮麻黃一兩沸。去上沫。內諸藥。煮取三升。去滓。溫服一升。日三服。（少陰病。得之二三日。）麻黃附子甘草湯。（微發汗。以二三日無里證。故微發汗也。）　（水之為病。其脈沉小。屬少陰。浮者為風。無水虛脹者為氣。水發其汗即已。脈沉者宜麻黃附子甘草湯。浮者宜杏子湯。）</p>
<p>為則按。當有惡寒證。</p>
<p>麻黃附子細辛湯。　麻黃二兩。　細辛二兩。　附子一枚。</p>
<p>上三味。以水一斗。先煮麻黃。減二升。去上沫。內諸藥。煮取三升。去滓。溫服一升。日三服。（少陰病。始得之、）及發熱脈沉者。</p>
<p>為則按。不可無惡寒之證。</p>
<p>麻黃杏仁甘草石膏湯。　麻黃四兩。　杏仁五十個。　甘草二兩。　石膏半斤。</p>
<p>上四味。以水七升。先煮麻黃。減二升。去上沫。內諸藥。煮取二升。去滓。溫服一升。　（發汗後不可更行桂枝湯。汗出而喘。無大熱者。）（金匱發汗後作下後。）</p>
<p>為則按。當有煩渴證。</p>
<p>麻黃杏仁薏苡甘草湯。　麻黃半兩。　甘草一兩。　薏苡仁半兩。　杏仁十個。</p>
<p>上銼。麻豆大。每服四錢匕。水半盞煮八分。去滓。溫服。有微汗避風。</p>
<p>病者一身盡疼、發熱、日晡所劇者。（名風濕。此病傷於汗出當風。或久取冷所致也。）</p>
<p>為則按。當有喘滿證。外臺古今錄驗。作薏苡半斤、麻黃四兩、甘草杏仁各二兩。上四味、以水五升。煮取二升、分溫再服、汗出即愈。今從之。</p>
<p>牡蠣湯。　牡蠣四兩。　麻黃四兩。　甘草二兩。　蜀漆三兩。</p>
<p>上四味。以水八升。先煮蜀漆麻黃、去上沫。得六升。內諸藥。煮取二升。溫服一升。若吐則勿更服。</p>
<p>（治牡瘧。）</p>
<p>為則按。麻黃甘草湯證。而胸腹有動者。主之。</p>
<p>麻黃醇酒湯。　麻黃三兩。</p>
<p>上一味。以美清酒五升。煮取二升半。頓服盡。</p>
<p>（冬月用酒、春月用水、煮之。）</p>
<p>（治黃疸。）</p>
<p>為則按。當有喘證。</p>
<p>半夏麻黃丸。　半夏、麻黃。各等分。</p>
<p>上二味。末之。煉蜜和丸。小豆大。飲服三丸。日三。</p>
<p>心下悸者。</p>
<p>為則按。當有喘或嘔證。</p>
<p>小青龍湯。　麻黃三兩。　芍藥三兩。　五味子半升。　乾薑三兩。　甘草三兩。　桂枝三兩。　半夏半升。　細辛三兩。</p>
<p>上八味。以水一斗。先煮麻黃。減二升。去上沫。內諸藥。煮取三升。去滓。溫服一升。（加減法。若微利者、去麻黃加蕘花如雞子。若渴者。去半夏加栝蔞根三兩。若噎者。去麻黃加附子一枚。若小便不利、少腹滿。去麻黃加茯苓四兩。若喘者。去麻黃加杏仁半升。）</p>
<p>（傷寒表不解、）心下有水氣、乾嘔發熱、而咳。或渴、或利、或噎、或小便不利、小腹滿或喘者。　（傷寒）心下有水氣、咳而微喘、發熱不渴（服湯已渴者。此寒去欲解也。）　（病溢飲者。當發其汗。大青龍湯主之。小青龍湯亦主之。　咳逆倚息不得臥。小青龍湯主之。青龍湯下已。多唾口燥、寸脈沉、尺脈微、手足厥逆、氣從小腹上衝胸咽、手足痹、其面翕然如醉狀、因復下流陰股小便難、時覆冒者。與茯苓桂枝五味甘草湯治其氣衝。　（婦人）吐涎沫。醫反下之。心下即痞。當先治其吐涎沫。小青龍湯主之。涎沫止。乃治痞瀉心湯主之。</p>
<p>大青龍湯。　麻黃六兩。　桂枝二兩。　甘草二兩。　杏仁四十個。　生薑三兩。　大棗十二枚。　石膏雞子大。</p>
<p>上七味。以水九升。先煮麻黃。減二升。去上沫。內諸藥。煮取三升。去滓。溫服一升。取微似汗。（汗出多者。溫粉粉之。一服。汗者停後服。汗多亡陽。遂虛。惡風煩躁不得眠也。）</p>
<p>（太陽中風。）脈緊、發熱、惡寒、身疼痛、不汗出而煩躁者。大青龍湯主之。若脈微弱、汗出、惡風者不可服。服之則厥逆、筋惕、肉瞤、此為逆也。（傷寒）脈浮緩、身不疼、但重乍有輕時、（無少陰證者。）大青龍湯（發之）（後條辨續論皆云。當是小青龍湯證。今從之。）　（病溢飲者。當發其汗。）大青龍湯主之。小青龍湯亦主之。</p>
<p>為則按。當有渴證。蓋厥逆以下。真武湯之證也。可考。</p>
<p>文蛤湯。　文蛤五兩。　麻黃、甘草、生薑各三兩。　石膏五兩。　杏仁五十個。　大棗十二枚。</p>
<p>上七味。以水六升。煮取二升。溫服一升。（汗出即愈。）</p>
<p>吐後渴欲得水而貪飲者。文蛤湯主之。（兼主微風。）脈緊、頭痛。</p>
<p>為則按。當有喘證。</p>
<p>（越婢）湯。　麻黃六兩。　石膏半斤。　生薑三兩。　大棗十五枚。　甘草二兩。</p>
<p>上五味。以水六升。先煮麻黃。去上沫。內諸藥。煮取三升。分溫三服。</p>
<p>（風水）惡風。一身悉腫。脈浮。不渴。續自汗出。（無大熱。）</p>
<p>為則按。大青龍湯證。而無咳嗽沖逆、有腳攣痛之證者主之。</p>
<p>不渴當作渴。自汗出之下。當有或無汗字。</p>
<p>（越婢）加朮湯。　于越婢湯方內加朮四兩。</p>
<p>（里水）者一身。面目黃腫。其脈沉。小便不利。（故令病水假如小便自利。此亡津液。故令渴也。）　（里水。）越婢加朮湯主之。甘草麻黃湯亦主之。　（治內極熱。則身體津脫。腠理開。汗大泄。厲風氣下焦卻弱。</p>
<p>（越婢）加半夏湯。　于越婢湯方內加半夏半升。</p>
<p>咳而上氣。（此為肺脹。）其人喘。目如脫狀、脈浮大者。</p>
<p>為則按。當有煩渴嘔逆證。</p>
<p>葛根湯。　葛根四兩。　麻黃三兩。　桂枝二兩。　芍藥二兩。　甘草二兩。　生薑三兩。　大棗十二枚。</p>
<p>上七味。㕮咀。以水一斗。先煮麻黃葛根。減二升。去沫。內諸藥。煮取三升。去滓。溫服一升。覆取微似汗。不須啜粥。余如桂枝法將息及（禁忌。）（太陽病。）項背強。𠘧𠘧無汗。惡風。　（太陽與陽明合病者。必自下利。）　（太陽病。）無汗而小便反少。氣上衝胸。口噤不得語。（欲作剛痙。）</p>
<p>為則按。合病並病說。非疾醫事也。</p>
<p>葛根加半夏湯。　於葛根湯方內。加半夏半升。</p>
<p>（太陽與陽明合病。）不下利但嘔者。</p>
<p>葛根黃連黃芩湯。　葛根半斤。　甘草二兩。　黃芩二兩。　黃連三兩。</p>
<p>上四味。以水八升。先煮葛根。減二升。內諸藥。煮取二升。去滓。分溫。再服。</p>
<p>（太陽病。）桂枝證、醫反下之。利遂不止、（服促者表未解也。）喘而汗出者。</p>
<p>為則按。當有項背強急心悸證。</p>
<p>小柴胡湯。　柴胡半斤。　黃芩三兩。　人參三兩。　甘草三兩。　半夏半升。　生薑三兩。　大棗十二枚。</p>
<p>上七味。以水一斗二升。煮取六升去滓。再煎取三升。溫服一升。日三服。</p>
<p>（後加減法。若胸中煩而不嘔。去半夏人參加栝蔞實一枚。若渴者去半夏加人參合前成四兩半。栝蔞根四兩。若腹中痛者。去黃芩加芍藥三兩。若脅下痞硬。去大棗加牡蠣四兩。若心下悸。小便不利者。去黃芩加茯苓四兩。若不渴外有微熱者。去人參加桂三兩。溫覆取微汗愈。若咳者。去人參大棗生薑加五味子半升乾薑二兩。）（傷寒六七日中風、）往來寒熱、胸脅苦滿、默默不欲飲食、心煩喜嘔、或胸中煩而不嘔、或渴或腹中痛、或脅下痞硬、或心下悸、小便不利、或不渴、身有微熱、或咳者。　（太陽病。十日以去。）脈浮細、而嗜臥者。（外已解也。）設胸滿脅痛者。與小柴胡湯。脈但浮者。麻黃湯主之。　（血弱氣盡。腠理開。邪氣因入。與正氣相搏結。於脅下正邪分爭。）往來寒熱。休作有時。默默不欲飲食。（藏府相連。其痛必下。邪高痛下。故使嘔也。）　服柴胡湯。已渴者（屬陽明也。）以法治之。　得病六七日。脈遲浮弱、惡風寒、手足溫、醫二三下之、不能食。而脅下滿痛、面目及身黃、頸項強。小便難者。與柴胡湯。（後必下重、本渴而飲水、嘔者。柴胡湯不中與也。食谷者噦。）　（傷寒四五日）身熱、惡風、頸項強、脅下滿、手足溫而渴者。　（傷寒陽脈澀、陰脈弦、法當）腹中急痛者。先與小建中湯不差者。　（傷寒中風。）有柴胡證。但見一證。便是不必悉具。　凡柴胡湯病證。而下之。若柴胡證不罷者。復與柴胡湯。必蒸蒸而振。卻發熱。汗出而解。　（太陽病。過經十餘日。反）二三下之。後四五日。柴胡證仍在者。先與小柴胡湯。嘔不止。心下急、鬱郁微煩者。（為未解也。）與大柴胡下之則愈。　（傷寒十三日不解）胸脅滿而嘔。日晡所發潮熱。已而微利。此本柴胡證。下之而不得利。今反利者。知醫以丸藥下之。非其治也。（潮熱者實也。）先宜小柴胡湯以解（外。）後以柴胡加芒硝湯主之。　婦人中風。七八日、續得寒熱發作。有時經水適斷者。（此為熱入血室。其血必結。故使如瘧狀發作。有時。）　（傷寒五六日。）頭汗出、微惡寒、手足冷、心下滿。口不欲食、大便硬。脈細者。（此為陽微結。必有表。復有里也。脈沉亦在裡也。汗出為陽微、假令純陰結不得復其外證。悉入在裡。此為半在裡半在外也。脈雖沉緊。不得為少陰病。所以然者。陰不得有汗。今頭汗出。故知非少陰也。可與小柴胡湯。設不了了者。得尿而解。　（傷寒五六日）嘔而發熱者。柴胡湯證具。而以他藥下之。柴胡證仍在者。復與柴胡湯。此雖已下之。不為逆。必蒸蒸而振。卻發熱汗出而解。若心下滿、而硬痛者。（此為結胸也。）大陷胸湯主之。但滿而不痛者。（此為痞。）柴胡不中與之。宜半夏瀉心湯。　（陽明病。）發潮熱、大便溏、小便自可、胸脅滿不去者。　（陽明病。）脅下硬滿、不大便、而嘔、舌上白苔者。可與小柴胡湯。上焦得通。津液得下。（胃氣）因和。身濈然而汗出。解也。　陽明中風。脈弦浮大。而短氣。腹部滿。脅下及心痛。又按之氣不通。鼻乾。不得汗。嗜臥。一身及面目悉黃。小便難。有潮熱。時時噦。耳前後腫。刺之。小差。外不解。病過十日。脈續浮者。與小柴胡湯。脈但浮、無餘證者。與麻黃湯、若不尿。腹滿。加噦者。不治。）　（本太陽病不解、轉入少陽者。）脅下硬滿。乾嘔。不能食。往來寒熱。（尚未吐下）脈沉緊者。　若已吐下。發汗。溫針。讝語。柴胡證罷。此為壞病。知犯何逆以法治之。嘔而發熱者。（傷寒）差已後。更發熱者。小柴胡湯主之。（脈浮者。以汗解之。脈沉實者。以下解之。）　諸黃腹痛而嘔者。（新產婦人。有三病。一者病痙。二者病鬱冒。三者大便難。何謂也。曰新產血虛。多汗出。喜中風。故今病痙。亡血復汗。寒多。故今鬱冒。亡津液。胃燥。故大便難。產婦鬱冒。其脈微弱。不能食。大便反堅。但頭汗出。所以然者。血虛而厥。厥而必冒。冒家欲解。必大汗出。以血虛下厥。孤陽上出。故頭汗出。所以產婦喜汗出者。亡陰血虛。陽氣獨盛。故當汗出。陰陽乃復。）大便堅。嘔不能食。（婦人在草蓐自發露得風。）四肢苦煩熱頭痛者。與小柴胡湯。頭不痛但煩者。三物黃芩湯主之。</p>
<p>柴胡加芒硝湯。　於小柴胡湯方內加芒硝六兩。</p>
<p>（傷寒十三日不解。）胸脅滿。而嘔。日晡所發潮熱。已而微利。此本柴胡證下之。而不得利。今反利者。知醫以丸藥下之。非其治也。潮熱者實也。先宜小柴胡湯以解（外。）後以柴胡加芒硝湯主之。</p>
<p>為則按。小柴胡湯證。而有堅塊者。主之。</p>
<p>柴胡去半夏加栝蔞湯。　於小柴胡湯方內去半夏加栝蔞根四兩。</p>
<p>治（瘧）病發渴者。亦治（勞瘧。）</p>
<p>為則按。當有胸脅苦滿證。</p>
<p>柴胡加桂枝湯。　桂枝、黃芩、人參各一兩。　甘草一兩。　半夏二合半。　芍藥一兩半。　大棗六枚。　生薑一兩半。　柴胡四兩。</p>
<p>上九味。以水七升。煮取三升。去滓。溫服一升。日三服。</p>
<p>（傷寒六七日。）發熱微惡寒、支節煩疼、微嘔、心下支結、（外證）未去者。　（發汗多亡陽、讝語者、不可下。與柴胡桂枝湯。和其榮衛。以通津液。後自愈。）　心腹卒中痛者。</p>
<p>柴胡薑桂湯。　柴胡半斤。　桂枝三兩。　乾薑三兩。　栝蔞根四兩。　黃芩三兩。　牡蠣三兩。　甘草二兩。</p>
<p>上七味。以水一斗二升。煮取六升。去滓再煎。取三升。溫服一升。日三服。初服微煩。復服汗出。便愈。</p>
<p>（傷寒五六日。）已發汗而復下之、胸脅滿、微結、小便不利、渴而不嘔、但頭汗出、往來寒熱心煩者。此為未解也。　（瘧。）寒多、微有熱、或但寒不熱者。</p>
<p>為則按。頭汗出者。是沖逆也。又曰。當有胸脅有動證。</p>
<p>柴胡加龍骨牡蠣湯。半夏二合。大棗六枚。柴胡四兩。生薑、人參、龍骨、鉛丹、桂枝、茯苓各一兩半。大黃二兩。牡蠣一兩半。</p>
<p>上十一味。以水八升。煮取四升。內大黃切如棋子。更煮。一二沸。去滓。溫服一升。</p>
<p>（傷寒八九日下之、）胸滿煩驚、小便不利、讝語、一身盡重、不可轉側者。</p>
<p>為則按。當有胸腹有動證。玉函經無切如棋子四字。一二沸。作取二升。今從之。</p>
<p>大柴胡湯。　柴胡半斤。　黃芩三兩。　芍藥三兩。　半夏半升。　生薑五兩。　枳實四枚。　大棗十二枚。</p>
<p>上七味。以水一斗二升。煮取六升。去滓再煎。溫服一升。日三服。一方用大黃二兩。若不加大黃。恐不為大柴胡湯也。</p>
<p>（太陽病、過經十餘日、及）二三下之後四五日、柴胡證仍在者。先與小柴胡湯。嘔不上、心下急、鬱郁微煩者。（為未解也。）與大柴胡湯下之則愈。（傷寒十餘日、熱結在裡、）復往來寒熱者。與大柴胡湯。但結胸無大熱者。（此為水結在胸脅也。）但頭微汗出者。大陷胸湯主之。（傷寒）發熱汗出、不解、心下痞硬、嘔吐而下利者。按之心下滿痛者。（此為實也。）當下之。（傷寒後脈沉沉者。內實也。）下解之。</p>
<p>為則按。小柴胡湯證。而胸腹拘攣可下者。主之。又按。本方當有大黃。玉函經再煎下有取三升三字。又曰。一方已下注文也。</p>
<p>白虎湯。　知母六兩。　石膏一斤。　甘草二兩。　粳米六合。</p>
<p>上四味。以水一斗。煮米熟。湯成。去滓。溫服一升。日三服。</p>
<p>（傷寒脈浮滑。此表有熱。里有寒。）　（三陽合病。）腹滿身重。難以轉側。口不仁。而面垢。讝語遺尿。發汗則讝語。下之則額上生汗。手足逆冷。若自汗出者。（傷寒脈滑而厥者。里有熱也。）</p>
<p>為則按。以上三條。非白虎湯證乃於白虎加人參湯條下辨之。又曰。煎法可從白虎加桂枝湯。</p>
<p>白虎加人參湯。　於白虎湯方內加人參三兩。</p>
<p>服桂枝湯大汗出後。大煩渴不解。脈洪大者。（傷寒病。若吐若下。後七八日不解。熱結在裡。表裡俱熱。）時時惡風。大渴。舌上乾燥。而煩欲飲水數升者。（傷寒）無大熱。口燥渴。心煩。背微惡寒者。（傷寒）脈浮。發熱。無汗。（其表不解）者。不可與白虎湯。渴欲飲水。（無表證）者　右渴欲飲水。口乾舌燥者。</p>
<p>為則按。已上四章。千金方作白虎湯主之。外臺亦同。而方後曰傷寒論方。今從之。</p>
<p>（太陽中熱者。暍是也。）汗出、惡寒、身熱而渴。</p>
<p>為則按。此方白虎湯證。而心下痞硬者主之。</p>
<p>白虎加桂枝湯。　於白虎湯方內加桂枝三兩。</p>
<p>上以水一斗五升。煮取八升。去滓。溫服。</p>
<p>（溫瘧者其脈如平。）身無寒。但熱。骨節疼煩。時嘔。</p>
<p>為則按。當有煩渴沖逆證。</p>
<p>小（承氣）湯。　大黃四兩。　厚朴二兩。　枳實三枚。</p>
<p>已上三味。以水四升。煮取一升二合。去滓。分溫二服。初服湯當更衣。不爾者盡飲之。（若更衣者勿服之。）</p>
<p>（陽明病脈遲。）雖汗出不惡寒者。其身必重。短氣腹滿而喘。有潮熱者。（此外欲解可攻裡也。）手足濈然而汗出者。此大便已硬也。大承氣湯主之。若汗多。微發熱。惡寒者。（外未解也。其熱不潮。未可與承氣湯。若大便不通者。可與小承氣湯。（微和胃氣。勿令大泄下。）　（傷寒）不大便六七日、頭痛有熱者。與承氣湯。其小便清者（知不在裡。仍在表也。當鬚髮汗。）若頭痛者。（必衄）宜桂枝湯。　（陽明病。）潮熱、大便微硬者。可與大承湯湯。不硬者不與之。若不大便六七日。恐有燥屎欲知之法。少與小承氣湯。湯入腹中。轉失氣者。有燥屎。乃可攻之。若不轉失氣者。此但初頭硬。後必溏。不可攻之。攻之必脹滿。不能食也。欲飲水者。與水則噦。其後發熱者。必大便復硬而少也。以小承氣湯和之。不轉失氣者。慎不可攻也。（陽明病。其人多汗。以津液外出。胃中燥。）大便必硬。硬則讝語。小承氣湯主之。若一服讝語止。更莫復服。　（陽明病）讝語。發潮熱。脈滑而疾者。小承氣湯主之。因與承氣湯一升。腹中轉失氣者。更服一升。若不轉失氣勿更與之。（明日不大便脈反微澀者。裡虛也。為難治。不可更與承氣湯也。）　（太陽病。）若吐若下。若發汗。微煩。小便數。大便因硬者與小承氣湯和之。愈。得病二三日。脈弱。無（太陽）柴胡證。煩躁。心下硬。至四五日。雖能食。以小承氣湯。少少小與。微和之。令小安。至六日。與承氣湯一升。若不大便六七日。小便少者。雖不能食。但初頭硬。後必溏。未定成硬。攻之必溏。須小便利。屎定硬乃可攻之。宜大承氣湯。下利讝語者。有燥屎也。大便不通。噦數。讝語者。</p>
<p>厚朴三物湯。　厚朴八兩。　大黃四兩。　枳實五枚。</p>
<p>上三味。以水一斗二升。先煮二味。取五升。內大黃。煮取三升。溫服一升。（以利為度。）</p>
<p>痛而閉者。</p>
<p>為則按。小承氣湯證。而腹滿甚。</p>
<p>厚朴七物湯。　厚朴半斤。　甘草三兩。　大黃三兩。　大棗十枚。　枳實五枚。　桂枝二兩。　生薑五兩。</p>
<p>上七味。以水一斗。煮取四升。溫服八合。日三服。（嘔者加半夏五合。下利。去大黃。寒多者加生薑至半斤。</p>
<p>病腹滿發熱十日。脈浮而數。飲食如故。</p>
<p>為則按。此方合厚朴三物桂枝湯。去芍藥湯而加生薑二兩也。由是觀之。當有二方之證而上逆嘔證。</p>
<p>大（承氣）湯。　大黃四兩。　厚朴半斤。　枳實五枚。　芒硝三合。</p>
<p>上四味。以水一斗。先煮二物。取五升。去滓。內大黃。煮取二升。去滓。內芒硝。更上火微煮。一兩沸。分溫再服。（得下余勿服。）</p>
<p>（陽明病脈遲。）雖汗出不惡寒者。其身必重。短氣腹滿。而喘。有潮熱者。　（此外欲解可攻裡也。手足濈然而汗出者。此大便已硬也。大承氣湯主之。若汗多。微發熱。惡寒者。（外未解也。）其熱不潮。未可與承氣湯。若腹大滿不通者。可與小承氣湯。（微和胃氣。勿令大泄下。）</p>
<p>（陽明病。）潮熱、大便微硬者。可與大承氣湯。不硬者。不與之。若不大便六七日。恐有燥屎。欲知之法。少與小承氣湯。湯入腹中。轉失氣者。此有燥屎乃可攻之。若不轉失氣者。此但初頭硬後必溏。不可攻之。攻之必脹滿不能食也。欲飲水者。與水則噦。其後發熱者。必大便後硬而少也。以小承氣湯和之。不轉失氣者。慎不可攻也。（傷寒）若吐若下。後不解。不大便五六日。上至十餘日。日晡所發潮熱。不惡寒。獨語如見鬼狀。若劇者發則不識人。循衣摸床。惕而不安。微喘直視。（脈弦者生。澀者死。微者但發熱。）讝語者。大承氣湯主之。（若一服利。止後服。）</p>
<p>（陽明病。）讝語有潮熱。反不能食者。（胃中必）有燥屎。（五六枚）也。若能食者但硬泉。　汗出讝語者。以有燥屎（在胃中。）此為風也。須下之。（過經乃可下之。下之若早。語言必亂。以表虛里實故也。下之則愈。）　（二陽並病。太陽證罷、但發潮熱。手足漐漐。汗出。大便難。而讝語者。下之則愈。（陽明病。）下之、心中懊憹而煩。（胃中）有燥屎者。可攻。腹微滿。初頭硬。後必溏。不可攻之。若有燥屎者。病人煩熱。汗出則解。又如瘧狀。日晡所發熱者。（屬陽明也。脈實者宜下之。脈浮虛者。宜發汗下之。與大承氣湯。發汗宜桂枝湯。大下後六七日。不大便。煩不解。腹滿痛者。此有燥屎也。（所以然者。本有宿食故也。）病人小便不利。大便乍難乍易。時有微熱。喘冒不能臥者。有燥屎也。得病二三日。脈弱。無（太陽）柴胡證。煩躁。心下硬。至四五日。雖能食。以小承氣湯。少少與。微和之。令小安。至六日。與承氣湯一升。若不大便六七日。小便少者。雖不能食。但初頭硬。後必溏。未定成硬。攻之必溏。須小便利。屎定硬。乃可攻之。　（傷寒六七日。）目中不了了晴。不和。（無表裡證。）大便難。身微熱者。（此為實。急下之）（陽明。）發熱。汗多者。急下之。發汗不解。腹滿痛者。急下之。腹滿不減。減不足言。當下之。（陽明少陽合病。必下利。其脈不負者。順也。負者失也。互相剋賊。名為負也。脈滑而數者。有宿食也。當下之。（少陰病。得之二三日。口燥咽乾者。急下之。（少陰病。）自利清水。色純青。心下必痛。口乾燥者。急下之。　（少陰病六七日。）腹脹不大便者。急下之。下利。三部脈皆平。按之心下硬者。急下之。下利。脈遲而滑者。內實也。利末欲止。當下之。人病有宿食。何以別之。曰。寸口脈浮而大。按之反澀。尺中亦微而澀。故知有宿食。當下之。下利不欲食者。以有宿食故也。當下之。下利差後至其年月日復發者。以病不盡也。當下之。下利脈反滑。當有所去。下之乃愈。病腹中滿痛者。（此為實。）也。當下之。（脈雙弦而遲）者。必心下硬。脈大而緊者。陽中有陰也。可以下之。（痙為病。）胸滿口噤。臥不著席。腳攣急。必齘齒。病解。能食七八日。更發熱。（此為胃實。）　（產後七八日。無太陽證。）少腹堅痛。此惡露不盡。不大便。煩躁發熱。切脈微實。再倍發熱。日晡時煩躁者。不食。食則讝語。至夜即愈。宜大承氣湯主之。（熱在裡。結在膀胱也。）</p>
<p>大黃黃連（瀉心）湯。　大黃二兩。　黃連一兩。</p>
<p>上二味。以麻沸湯二升漬之。須臾絞去滓。分溫再服。</p>
<p>心下痞。按之濡。其脈（關上）浮者。（傷寒）大下後。復發汗。心下痞。惡寒者。（表）未解也。不可攻。痞（當先解表。表解乃可攻痞。解表）宜桂枝湯。攻痞宜大黃黃連瀉心湯。</p>
<p>為則按。當有心悸證。</p>
<p>（瀉心）湯。　大黃二兩。　黃連、黃芩各一兩。</p>
<p>上三味。以水三升。煮取一升。頓服之。</p>
<p>心氣不足。吐血衄血。本以下之。故心下痞。與瀉心湯。痞不解。其人口渴而躁煩。小便不利者。五苓散主之。　（婦人吐涎沫。）醫反下之。心下即痞。當先治其吐涎沫。以小青龍湯主之。涎沫止。乃治痞。以瀉心湯主之。</p>
<p>為則按。煎法當從大黃黃連瀉心湯附子瀉心湯之法也。又曰。不足。千金作不定。今從之。</p>
<p>附子（瀉心）湯。　於瀉心湯方內加附子一枚。</p>
<p>上四味。切三味。以麻沸湯二升漬之。須臾絞去滓。內附子汁。分溫再服。心下痞。而復惡寒汗出者。</p>
<p>大黃附子湯。　大黃三兩。　附子三枚。　細辛二兩。</p>
<p>上三味。以水五升。煮取二升。分溫三服。（若強人。）煮取二升半。分溫三服。服後如人行四五里進一服。</p>
<p>脅下偏痛。發熱。其脈緊弦。（此寒也。以溫藥下之。）</p>
<p>大黃甘遂湯。　大黃四兩。　甘遂二兩。　阿膠二兩。</p>
<p>上三味。以水三升。煮取一升。頓服之。其血當下。</p>
<p>（婦人）少腹滿如敦狀。小便微難。而不渴。（生後此為水與血俱結在血室也。）</p>
<p>抵當湯。　水蛭三十個。　虻蟲三十個。　桃仁二十個。　大黃三兩。</p>
<p>上四味。為末。以水五升。煮取三升。去滓。溫服一升。（不下再服。）（太陽病六七日）表證仍在。脈微而沉。反不結胸。其人發狂者。（以熱在下焦。）少腹當硬滿。小便自利者。下血乃愈。（所以然者。以太陽隨經瘀熱在裡）故也。　（太陽病。）身黃、脈沉結、少腹硬、小便不利者。為無血也，小便自利。其人如狂者，血證諦也。（陽明證。）其人喜忘者。必有畜血。所以然者。本有久瘀血。故令喜忘。屎雖硬大便反易。其色必黑。（病人）無（表裡證。）發熱七八日雖脈浮數者。可下之。假令已下。脈數不解。合熱則消穀善飢。至六七日。不大便者有瘀血。婦人經水不利下。</p>
<p>抵當熱。　水蛭二十個。　虻蟲二十五個。　桃仁二十個。　大黃三兩。</p>
<p>上四味。杵。分為四丸。以水一升煮一丸。取七合服之。晬時當下血。若不下者更服。（傷寒）有熱。少腹滿應。小便不利。今反利者。為有血也。當下之。不可余藥。</p>
<p>橘皮大黃朴硝湯。　橘皮一兩。　大黃二兩。　朴硝二兩。</p>
<p>上三味。以水一大升。煮至小升。頓服即消。</p>
<p>鱠食之在心胸間不化。吐復不出。速下除之。（久成症病。）</p>
<p>大黃硝石湯。　大黃、黃蘗、硝石各四兩。　梔子十五枚。</p>
<p>上四味。以水六升。煮取三升。去滓。內硝石。更煮取一升。頓服。</p>
<p>（黃疸）腹滿。小便不利。而赤。自汗出。（此為表和裡實。）當下之。</p>
<p>大黃牡丹皮湯。　大黃四兩。　牡丹皮一兩。　桃仁五十個。　瓜子半升。　芒硝三合。</p>
<p>上五味。以水六升。煮取一升。去滓。內芒硝。再煎沸。頓服之。有膿當下。如無膿當下血。</p>
<p>（腸癰）者小腹腫痞。按之即痛如淋。小便自調。時時發熱。自汗出。復惡寒。其脈遲緊者。膿未成。可下之。當有血。脈洪數者。膿已成。不可下也。</p>
<p>為則按。千金方作牡丹皮三兩。瓜子一升。芒硝二兩。瓜子一升。今當十兩。</p>
<p>大黃甘草湯。　大黃四兩。　甘草一兩。</p>
<p>上二味。以水三升。煮取一升。分溫再服。　食已即吐者。</p>
<p>為則按。當有急迫證。</p>
<p>調胃承氣湯。　大黃四兩。　甘草二兩。　芒硝半斤。</p>
<p>上三味。㕮咀。以水三升。煮取一升。去滓內芒硝。更上火微者。令沸。少少溫服。</p>
<p>（傷寒）脈浮。自汗出。小便數。心煩。微惡寒。腳攣急。反與桂枝湯（欲攻其表。）此誤也。得之便厥。咽中干煩躁吐逆者。作甘草乾薑湯與之。以（復其陽。）若厥愈。足溫者。更作芍藥甘草湯與之。其腳即伸。若（胃氣不和。）讝語者少與謂胃承氣湯。若重發汗、復加燒針者。四逆湯主之。　（發汗後惡寒者。虛故也。不惡寒、便熱者。實也。當和胃氣。）　（太陽病未解。陰陽脈俱停。必先振慄。汗出而解。但陽陰微者。先汗出而解。但陰脈微者。下方而解。若欲下之）　（傷寒十三日不解。過經讝語者。）以有熱也。當以湯下之。若小便利者。大便當硬。而反下利。脈調和者。知醫以丸藥下之。非其治也。若自下利者。脈當微厥。今反和者。此為內實也。　（太陽病過經十餘日。）心下溫溫欲吐。而胸中痛、大便反溏。腹微滿。鬱郁微煩。（先此時自極吐下者。）與調胃承氣湯。若不爾者。不可與。（但欲嘔。胸中痛。微溏者。此非柴胡證。以嘔故。知極吐下也。）　（陽明病。）不吐。不下。心煩者。　（太陽病。）三日發汗。不解。蒸蒸發熱者。（屬胃也）（傷寒）吐後腹脹滿者。大便不通。（胃氣不和者。）</p>
<p>為則按。但急迫。而大便不通者主之。</p>
<p>桃核（承氣）湯。　桃仁五十個。　桂枝二兩。　大黃四兩。　芒硝二兩。　甘草二兩。</p>
<p>上五味。以水七升。煮取二升半。去滓。內芒硝。更上火。微沸下火。（先食。）溫服五合。日三服。（當微利。）</p>
<p>（太陽病、不解。熱結膀胱。）其人如狂。血自下。下者愈。（其外不解者）尚未可攻。當先（解外。）外解已但少腹急結者。乃可攻之。</p>
<p>下瘀血湯。大黃二兩。桃仁三十個。䗪蟲二十枚。</p>
<p>上三味。末之。煉蜜。和為四丸。以酒一升煎一丸。取八合。頓服之。新血下如豚肝。　（產婦）腹痛。（法當）以枳實芍藥散。假令不愈者。</p>
<p>（此為腹中有乾血著臍下。）宜下。瘀血湯主之。亦主經水不利。</p>
<p>土瓜根散。　土瓜根、芍藥、桂枝、䗪蟲各三分。</p>
<p>上四味。杵為散。酒服方寸匕。日三服。</p>
<p>（帶下、）經水不利。少腹滿痛。經一月再見者。陰㿗腫。</p>
<p>甘草湯。甘草二兩。</p>
<p>上一味。以水三升。煮取一升半。去滓。溫服七合。日二服。</p>
<p>（少陰病。）二三日。咽痛者。可與甘草湯。不差者與桔梗湯。</p>
<p>為則按。甘草主急迫者也。</p>
<p>桔梗湯。　桔梗一兩。　甘草一兩。</p>
<p>上二味。以水三升。煮取一升。去滓。分溫。再服。</p>
<p>（少陰病。二三日。）咽痛者。可與甘草湯。不差者。與桔梗湯。咳而胸滿。振寒。脈數。咽乾不渴。時出濁唾。腥臭久久。吐膿如米粥者。（為肺癰。）</p>
<p>為則按。黏痰如膿者主之。</p>
<p>排膿湯。　甘草二兩。　桔梗三兩。　生薑一兩。　大棗十枚。</p>
<p>上四味。以水三升。煮取一升。溫服五合。日再服。</p>
<p>為則按。有黏痰。或膿血。而急迫者主之。</p>
<p>芍藥甘草湯。　芍藥四兩。　甘草四兩。</p>
<p>上二味。㕮咀。以水三升。煮取一升半。去滓。分溫。再服之。</p>
<p>（傷寒）脈浮。自汗出。小便數。心煩。微惡寒。腳攣急。反與桂枝湯。（欲攻其表。）此誤也。得方便厥、咽中干、煩躁吐逆者。作甘草乾薑湯與之。以（復其陽。）若厥愈、足溫者。更作芍藥甘草湯與之。其腳即伸。若（胃氣不和、）讝語者。少與謂胃承氣湯。若重發汗。復加燒針者。四逆湯主之。</p>
<p>甘遂半夏湯。　甘遂三枚。　半夏十二枚。　芍藥五枚。　甘草指大一枚。</p>
<p>上四味。以水二升。煮取半升。去滓。以蜜半升。和藥汁。煎取八合。頓服之。病者脈伏。其人慾自利。利反快。雖利心下續堅滿。（此為留飲欲去故也。）</p>
<p>為則按。芍藥甘草湯、加減之方也。故當有攣急證。</p>
<p>芍藥甘草附子湯。　芍藥三兩。　甘草三兩。　附子一枚。</p>
<p>已上三味。以水五升。煮取一升。五合。去滓。分溫服。</p>
<p>發汗病不解。反惡寒者。（虛）故也。</p>
<p>為則按。芍藥甘草湯證。而惡寒者主之。</p>
<p>甘麥大棗湯。　甘草三兩。　小麥一分。　大棗十枚。</p>
<p>上三味。以水六升。煮取三升。分溫三服。　（婦人）藏躁。喜悲傷。欲哭。象如神靈所作。數欠伸。</p>
<p>為則按。急迫而狂驚者主之。</p>
<p>甘草粉蜜湯。　甘草二兩。　粉一兩。　蜜四兩。</p>
<p>上三味。以水三升。先煮甘草。取二升。去滓。內粉蜜。攪令和煎。如薄粥。溫服一升。差即止。</p>
<p>（蛔蟲之為病。）令人吐涎。心痛發作有時毒藥不止。</p>
<p>生薑甘草湯。　生薑五兩。　人參三兩。　甘草四兩。　大棗十五枚。</p>
<p>上四味。以水七升。煮取三升。分溫三服。　（肺痿）咳唾。涎沫不止。咽燥而渴。</p>
<p>為則按。當有心下痞硬強急證。</p>
<p>甘草乾薑湯。　甘草四兩。　乾薑二兩。</p>
<p>上㕮咀。以水三升。煮取一升五合。去滓。分溫再服。</p>
<p>（肺痿）吐涎沫而不咳者。其人不渴。必遺尿小便數。（所以然者。以上虛不能制下故也。此為肺中冷。）必眩多涎唾。甘草乾薑湯。（以溫之。若服湯已渴者。屬消渴。）　（傷寒。）脈浮。自汗出。小便數。心煩。微惡寒。腳變急。反與桂枝湯。（欲攻其表。）此誤也。得之便厥。咽中干、煩躁吐逆者。作甘草乾薑湯與之。以（復其陽。）若厥愈。足溫者。更作芍藥甘草湯與之。其腳即伸。若（胃氣不和、）讝語者。少與調胃承氣湯。若重發汗。復加燒針者。四逆湯主之。</p>
<p>為則按。當有急迫證。</p>
<p>四逆湯。　甘草二兩。　乾薑一兩半。　附子一枚。</p>
<p>上三味。㕮咀。以水三升。煮取一升二合。去滓。分溫再服。（強人可大附子一枚乾薑三兩。）（傷寒。）脈浮。自汗出。小便數。心煩。微惡寒。腳攣急。反與桂枝湯。（欲攻其表。）此誤也。得之便厥、咽中干。煩躁、吐逆者。作甘草乾薑湯與之。以（復其陽。）若厥愈、足溫者。更作芍藥甘草湯與之。其腳即伸。若（胃氣不和、）讝語者。少與謂胃承氣湯。若重發汗。復加燒針者。四逆湯主之。　（傷寒）醫下之。績得下利清穀不止。身疼痛者。（急當救里。）後身疼痛、清便自調者。（急當救表。救里。）宜四逆湯。（救表。）宜桂枝湯。病發熱。頭痛。脈反沉。若不差。身體疼痛。（當救其里。）脈浮而遲。（表熱裡寒。）下利清穀者。自利不渴者。（屬太陰。）以其藏有寒故也。當溫之。宜服四逆輩。　（少陰病。脈沉者。急溫之。）　（少陰病。）飲食入口則吐。心中溫溫欲吐。復不能吐。始得之手足寒、脈弦遲者。此胸中實不可下也。當吐之。（若膈上有寒、）飲乾嘔者不可吐也。急溫之。大汗也。熱不去。內拘急。四肢厥。又下利。厥逆而惡寒者。大汗若大下利、而厥冷者。下利。腹脹滿。身體疼痛者。（先溫其里。）乃攻其表。溫里四逆湯。（攻表）桂枝湯。嘔而脈弱。小便複利。身有微熱。見厥者難治。吐利。汗出。發熱。惡寒。四肢拘急。手足厥冷者。既吐且利。小便複利。而大汗出。下利清穀。（內寒外熱。）脈微欲絕者。</p>
<p>為則按。此甘草君藥也。</p>
<p>（通脈）四逆湯。　甘草二兩。　附子一枚。　乾薑二兩。</p>
<p>上三味。以水三升。煮取一升二合。去滓。分溫再服。（其脈即出者愈。後加減法。面色赤者加蔥九莖。腹中痛者去蔥加芍藥二兩。嘔者加生薑二兩。咽痛者。去芍藥加桔梗一兩。利止脈不出者。去桔梗加人參二兩。）</p>
<p>（少陰病。）下利清穀。（裡寒外熱。）手足厥逆。脈微欲絕。身反不惡寒。其人面赤色。或腹痛。或乾嘔。或咽痛。或利止。脈不出者。下利清穀。（裡寒外熱。）汗出而厥者。</p>
<p>為則按。當作附子大者一枚。以乾薑知其然。甘草新校正作三兩。是也。</p>
<p>四逆加人參湯。　於四逆湯方內加人參一兩。</p>
<p>惡寒。脈微而複利。（利止亡血也。）</p>
<p>為則按。當有心下輕病也。辨之藥徵人參條下。</p>
<p>茯苓四逆湯。　茯苓六兩。　人參一兩。　甘草二兩。　乾薑一兩半。　附子一枚。</p>
<p>上五味。以水五升。煮取三升。去滓。溫服七合。日三服。</p>
<p>發汗若下之。病仍不解煩躁者。</p>
<p>為則按。當有心下悸惡寒證。</p>
<p>（通脈）四逆加豬膽汁湯。　於四逆湯方內加豬膽汁半合。如無豬膽。以羊膽代之。</p>
<p>吐已。下斷。汗出。而厥。四肢拘急不解。脈微欲絕者。</p>
<p>乾薑附子湯。　乾薑一兩。　附子一枚。</p>
<p>上二味。以水三升。煮取一升。去滓頓服。下之後。復發汗。晝日煩躁。不得眠。夜而安靜。不嘔不渴。無（表證。）脈沉微。（身無大熱者。）</p>
<p>附子粳米湯。　附子一枚。　半夏半升。　甘草一兩。　大棗十枚。　粳米半升。</p>
<p>上五味。以水八升。煮米熟湯成。去滓。溫服一升。日三服。</p>
<p>腹中（寒氣。）雷鳴切痛。胸脅逆滿。嘔吐。</p>
<p>薏苡附子散。　薏苡仁十五兩。　大附子十枚。</p>
<p>上二味。杵為散。服方寸匕。日三服。</p>
<p>（胸痹）緩急者。</p>
<p>為則按。當有惡寒或浮腫證。</p>
<p>薏苡附子敗漿散。　薏苡仁十分。　附子二分。　敗漿五分。</p>
<p>上三味。杵為末。取方寸匕。以水二升。煎減半。頓服。小便當下。</p>
<p>（腸癰之為病。）其身甲錯。腹皮急。按之濡如腫狀。腹無積聚。身無熱。脈數。（此為腸內有癰膿。）</p>
<p>白通湯。　蔥白四莖。　乾薑一兩。　附子一枚。</p>
<p>上三味。以水三升。煮取一升。去滓。分溫。再服。</p>
<p>（少陰病。）下利。</p>
<p>為則按。當有氣逆證。</p>
<p>白通加豬膽汁湯。　蔥白四莖。　乾薑一兩。　附子一枚。　人尿五合。　豬膽汁一合。</p>
<p>已上三味。以水三升。煮取一升。去滓。內膽汁人尿。和令相得。分溫。再服。若無膽亦可用。</p>
<p>（少陰病。）下利。脈微者與白通湯。利不止。厥逆。無脈。乾嘔煩者。白通加豬膽汁湯主之。服湯脈暴出者。死。微續者生。</p>
<p>大烏頭煎。烏頭大者五枚。</p>
<p>上以水三升。煮取一升。去滓。內蜜二升。煎令水氣盡。取二升。（強人服七合。弱人五合。）不差。明日更服。不可一日再服。</p>
<p>（腹痛。脈弦而緊。弦則衛氣不行。即惡寒。緊則不欲食。邪正相搏。即為寒疝。）寒疝繞臍。痛若發。則自汗出。手足厥冷。其脈沉弦者。</p>
<p>烏頭湯。　麻黃、芍藥、黃蓍各三兩。　甘草三兩。　川烏（五枚㕮咀。以蜜二升。煎取一升。即出烏頭。）</p>
<p>上五味。㕮咀。四味以水三升。煮取一升。去滓。內蜜。煎中更煎之。服七合。不知。盡服之。</p>
<p>（病歷節。）不可屈伸。疼痛。（腳氣。）疼痛。不可屈伸。（寒疝。）腹中絞痛。（痛風入攻五臟。）拘急不得轉側。發作有時。使人陰縮。手足厥逆。</p>
<p>為則按。當有自汗盜汗浮腫證。</p>
<p>赤丸。　茯苓四兩。　半夏四兩方用桂。　烏頭二兩。　細辛一兩。</p>
<p>上四味。末之。內真朱為色。煉蜜。丸如麻子大。先食酒飲下三丸。日再。夜一服。不知。稍增之。以知為度。</p>
<p>（寒氣）厥逆。</p>
<p>為則按。當有心下悸。及嘔而腹痛證。</p>
<p>真武湯。　茯苓三兩。　芍藥三兩。　生薑三兩。　術二兩。　附子一枚。</p>
<p>上五味。以水八升。煮取三升。去滓。溫服七合。日三服。（後加減法。若咳者。加五味半升。細辛乾薑各一兩。若小便利者。去茯苓。若下利者。去芍藥。加乾薑二兩。若嘔者。去附子。加生薑足前成半斤。）</p>
<p>（少陰病。二三日不已。至四五日。）腹痛。小便不利。四肢沉重。疼痛。自下利者。（此為有水氣。）其人或咳。或小便利。或下利。或嘔者。（太陽病。）發汗。汗出不解。其人仍發熱。心下悸。頭眩。身瞤動。振振欲擗地者。</p>
<p>附子湯。　附子二枚。　茯苓三兩。　人參二兩。　術四兩。　芍藥三兩。</p>
<p>上五味。以水八升。煮取三升。去滓。溫服一升。日三服。</p>
<p>（少陰病得之。一二日。）口中和、其背惡寒者。當灸之。　（少陰病）身體痛、手足寒、骨節痛、脈沉者。</p>
<p>為則按。當有小便不利、心下悸、或痞硬證。藥微辨之。</p>
<p>天雄散。　天雄三兩。（當作三枚）　術八兩。　桂枝六兩。　龍骨三兩。</p>
<p>上四味。杵為散。酒服半錢匕。日三服。不知稍增之。</p>
<p>為則按。失精家。而小便不利。臍下有動、或惡寒、或沖逆者、主之。藥徵辨之。</p>
<p>梔子豉湯。　梔子十四枚。　香豉四合。</p>
<p>上二味。以水四升。先煮梔子。得二升半。內豉。煮取一升半。去滓。分為二服。溫進一服。（得吐者止後服。）</p>
<p>發汗吐下後。虛煩不得眠。若劇者。必反覆顛倒。心中懊憹。發汗若下之。而煩熱、胸中窒者。（傷寒五六日）大下之後。身熱不去。心中結痛者。未欲解也。（陽明病。）脈浮而緊。咽燥。口苦。腹滿。而喘發。熱汗出。不惡寒。反惡熱。身重。（若發汗。）則燥心憒憒。反讝語。若加燒針。必怵惕煩躁。不得眠。若下之。則胃中空虛。客氣動膈。心中懊憹。舌上胎者。　（陽明病。）下之。其外有熱。手足溫。不（結胸。）心中懊憹。飢不能食。但頭汗出者。下利後更煩。按之心下濡者。為虛煩也。</p>
<p>為則按。集註曰。舊本有一服得吐止後服七字。此因瓜蒂散中有香豉而誤傳。於此今為刪正。余亦從之。以下效之。</p>
<p>梔子甘草豉湯。梔子豉湯方內。加入甘草二兩。</p>
<p>梔子豉湯證。而若少氣者。</p>
<p>梔子生薑豉湯。梔子豉湯方內。加生薑五兩。</p>
<p>梔子豉湯證。而若嘔者。</p>
<p>為則曰。以上二方證。以若字者。冠梔子豉湯證之辭。今裂而列之。故敢加梔子豉湯證而六字。以通其意也。</p>
<p>枳實梔子豉湯。　枳實三枚。　梔子十四枚。　豉一升。</p>
<p>上三味。以清漿水七升。空煮取四升。內枳實梔子。煮取二升。下豉更煮五六沸。去滓。分溫。再服。覆令微似汗。</p>
<p>（大病差後、勞復者。枳實梔子湯主之。若有宿食者。加大黃如棋子大五六枚。）</p>
<p>為則按。當有心中懊憹胸滿證。</p>
<p>梔子大黃豉湯。　梔子十二枚。　大黃一兩。　枳實五枚。　豉一升。</p>
<p>上四味。以水六升。煮取二升。分溫三服。　（酒黃疸。）心中懊憹。或熱痛。</p>
<p>茵陳蒿湯。　茵陳蒿六兩。　梔子十四枚。　大黃二兩。</p>
<p>上三味。以水一斗。先煮茵陳。減六升。內二味。煮取三升。去滓。分溫三服。小便當利。尿如皂角汁狀。色正赤。一宿腹減。黃從小便去也。</p>
<p>（谷疸之為病。）寒熱。不食。食即頭眩。心胸不安。久久發黃。（為谷疸。）（陽明病發熱汗出）此為熱越不能發黃也。但頭汗出。身無汗。劑頸而還。小便不利。渴引水漿者。（此為瘀熱在裡。身必發黃。）　（傷寒七八日。）身黃如橘子色。小便不利。腹微滿者。</p>
<p>梔子蘗皮湯。　梔子十五個。　甘草一兩。　黃蘗二兩。</p>
<p>上三味。以水四升。煮取一升半。去滓。分溫。再服。</p>
<p>（傷寒）身黃髮熱者。</p>
<p>梔子厚朴湯。　梔子十四枚。　厚朴四兩。　枳實四枚。</p>
<p>已上三味。以水三升半。煮取一升半。去滓。分三服。溫進一服。（得吐者。止後服。）</p>
<p>（傷寒下後。）心煩。腹滿。臥起不安者。</p>
<p>梔子乾薑湯。　梔子十四枚。　乾薑二兩。</p>
<p>上二味。以水三升半。煮取一升半。去滓。分二服。溫進一服。（得吐者。止後服。）</p>
<p>（傷寒。醫以丸藥大下之。）身熱不去。微煩者。</p>
<p>大陷胸湯。　大黃六兩。　芒硝一升。　甘遂一錢。</p>
<p>上三味。以水六升。先煮大黃。取二升。去滓。內芒硝。煮一二沸。內甘遂末。溫服一升。（得快利。止後服。）</p>
<p>（太陽病。脈浮而動數。浮則為風。數則為熱。動則為痛。數則為虛。頭痛發熱。微盜汗出。而反惡寒者。表未解也。醫反下之。動數變遲。膈內拒痛。胃中空虛。客氣動膈）短氣躁煩。心中懊憹。（陽氣內陷。）心下因硬。則為（結胸。）大陷胸湯主之。若不（結胸。）但頭汗出。余處無汗。劑頸而還。小便不利。身必發黃也。　（傷寒六七日。結胸。熱實。）脈沉而緊。心下痛。按之石硬者。　（傷寒十餘日。熱結在裡。）復往來寒熱者。與大柴胡湯。（但結胸無大熱者。此為水結。在胸脅也。）但頭微汗出者。　（太陽病。）重發汗。而復下之。不大便五六日。舌上躁而渴。日晡所小有潮熱。從心下至少腹。硬滿而痛。不可近者。　（傷寒五六日。）嘔而發熱者。柴胡湯證具。而以他藥下之。柴胡證仍在者。復與柴胡湯。此雖已下之不為逆。必蒸蒸而振。卻發熱汗出而解。若心下滿。而硬痛者。（此為結胸也。）大陷胸湯主之。但滿而不痛者。（此為痞。）柴胡不中與之。宜半夏瀉心湯。</p>
<p>大陷胸丸。　大黃半斤。　葶藶半升。　芒硝半升。　杏仁半升。</p>
<p>上四味。搗篩二味。內杏仁芒硝。合研。如脂和散。取如彈丸一枚。別搗甘遂末一錢匕白蜜二合。水二升。煮取一升。溫頓服之。一宿乃下。如不下。更服取下為效。（禁如藥法。）</p>
<p>（結胸）者。項亦強。如（柔痙）狀。下之則和。</p>
<p>小陷胸湯。　黃連一兩。　半夏半升。　栝蔞實大者一個。</p>
<p>上三味。以水六升。先煮栝蔞。取三升。去滓。內諸藥。煮取二升。去滓。分溫三服。</p>
<p>（小結胸病。）正在心下。按之則痛脈浮滑者。　（病在陽。應以汗解之。）反以冷水潠之。若灌之。其熱被劫不得去。彌更益煩。肉上粟起。意欲飲水。反不渴者。服文蛤散。若不差者。與五苓散。（寒實結胸。）無熱證者。與三物小陷胸湯。自散亦可服。</p>
<p>栝蔞薤白白酒湯。　栝蔞實一枚。　薤白半升。　白酒七升。</p>
<p>上三味。同煮取二升。分溫。再服。</p>
<p>（胸痹之病。）喘息。咳唾。胸背痛。短氣。（寸口脈沉而遲。關上小緊數。）</p>
<p>栝蔞薤白半夏湯。　栝蔞實一枚。　薤白三兩。　半夏半升。　白酒一斗。</p>
<p>上四味。同煮取四升。溫服一升。日三服。（胸痹）不得臥。心痛徹背者。</p>
<p>為則按。當有嘔或胸腹鳴證。</p>
<p>瓜蒂散。　瓜蒂一分。　赤小豆一分。</p>
<p>上二味。各別搗篩為散。已合治之。取一錢匕。以香豉一合。用熱湯七合。煮作稀糜。去滓。取汁和散。溫頓服之。不吐者少少加。得快吐乃止。（諸人）血虛家不可與（瓜蒂散。）</p>
<p>病如桂枝證。頭不痛。項不強。寸脈微浮。胸中痞硬。氣上衝。咽喉不得息者。（此為胸有寒也。）當吐之。病人手足厥冷。脈乍緊者。邪結在胸中。心中滿。而煩飢不能食者。病在胸中。當須吐之。宿食在上脘。當吐之。</p>
<p>為則按。當有欲吐證。</p>
<p>文蛤散。　文蛤五兩。</p>
<p>上一味。為散。以沸湯。和一錢匕服。湯用五合。</p>
<p>（病在陽。應以汗解之。反以冷水潠之。若灌之。其熱被劫不得去。彌更益煩。肉上粟起。意欲飲水。反不渴者。服文蛤散。若不差者。與五苓散。（寒實結胸。）無熱證者。與三物小陷胸湯。白散亦可服。渴欲飲水不止者。</p>
<p>大半夏湯。　半夏二升。　人參三兩。　白蜜一升。</p>
<p>上三味。以水一斗二升。和蜜揚之二百四十遍。煮取二升半。溫服一升。余分再服。</p>
<p>（胃反）嘔吐者。</p>
<p>為則按。外臺云。治嘔、心下痞硬者。今從之。</p>
<p>小半夏湯。　半夏一升。　生薑半斤。</p>
<p>上二味。以水七升。煮取一升半。分溫再服。</p>
<p>嘔家本渴者。為欲解。今反不渴。心下有（支飲）故也　。　（黃疸病）小便色不變。欲自利。腹滿而喘。（不可除熱。熱除必噦。）噦者。諸嘔吐。谷不得下者。</p>
<p>生薑半夏湯。　半夏半升。　生薑汁一升。</p>
<p>上二味。以水三升。煮半夏取二升。內生薑汁。煮取一升半。小冷分四服。日三。夜一。嘔止停後服。</p>
<p>病人胸中似喘。不喘。似嘔不嘔。似噦不噦。徹心中憒憒然。無奈。</p>
<p>小半夏加茯苓湯。　半夏一升。　生薑半斤。　茯苓三兩。</p>
<p>上三味。以水七升。煮取一升五合。分溫。再服。</p>
<p>卒嘔吐。心下痞。（膈間有水。）眩悸者。先渴後嘔。（為水停心下。此屬飲家。）</p>
<p>半夏苦酒湯。　半夏十四枚。　雞子一枚。</p>
<p>上二味。內半夏。著苦酒中。以雞子殼置刀環中。安火上。令三沸。去滓。少少含咽之。不差。更作三劑。</p>
<p>（少陰病）咽中傷生瘡。不能語言。聲不出者。</p>
<p>半夏厚朴湯。　半夏一升。　厚朴三兩。　茯苓四兩。　生薑五兩。　干蘇葉二兩。</p>
<p>上五味。以水七升煮取四升。分溫。四服。日三。夜一服。</p>
<p>（婦人）咽中如有炙臠。</p>
<p>為則按。當有悸證。又按千金作胸滿、心下堅、咽中帖帖、如有炙肉。吐之不出、吞之不下。</p>
<p>半夏乾薑散。　半夏、乾薑各等分。</p>
<p>上二味。杵為散。取方寸匕。漿水一升半。煎取七合。頓服之。</p>
<p>乾嘔。吐逆。吐涎沫。</p>
<p>乾薑人參半夏丸。　乾薑、人參各一兩。　半夏二兩。</p>
<p>上三味。末之以生薑汁。糊為丸。如梧子大。飲服十丸。日三服。</p>
<p>（妊娠。）嘔吐不止。</p>
<p>為則按。當有心下痞硬證。</p>
<p>半夏（瀉心）湯。　半夏半升。　黃芩、乾薑、人參各三兩。　黃連一兩。　大棗十二枚。　甘草三兩。</p>
<p>上七味。以水一斗。煮取六升。去滓。再煮取三升。溫服一升。日三服。</p>
<p>（傷寒。五六日。）嘔而發熱者柴胡湯證具。而以他藥下之。柴胡證仍在者。復與柴胡湯。此雖已下之。不為逆。必蒸蒸而振。卻發熱。汗出而解。若心下滿。而硬痛者。（此為結胸也。）大陷胸湯主之。但滿而不痛者。（此為痞）柴胡不中與之。　嘔而腸鳴。心下痞者。</p>
<p>為則按。心下痞。當作心下痞硬。</p>
<p>甘草（瀉心）湯。　半夏瀉心湯方內加甘草一兩。</p>
<p>（傷寒中風。）醫反下之。其人下利。日數十行。穀不化腹中雷鳴。心下痞硬而滿。乾嘔。心煩不得安。醫見心下痞。謂病不盡。復下之。其痞益甚。（此非結熱。但以胃中虛、客氣上逆。故使硬也。）　（狐惑之為病。）狀如（傷寒。）默默欲眠。目不得閉。臥起不安。蝕於喉（為惑。）蝕於陰（為狐。）不欲飲食。惡聞食臭。其面目乍赤、乍黑、乍白。蝕於上部。則聲喝。</p>
<p>為則按。當有急迫證。</p>
<p>生薑（瀉心）湯。半夏瀉心湯方內。減乾薑二兩。加生薑四兩。</p>
<p>（傷寒。汗出解之後。胃中不和。）心下痞硬、乾噫、食臭、脅下有水氣、腹中雷鳴、下利者。</p>
<p>吳茱萸湯。　吳茱萸一升。　人參三兩。　生薑六兩。　大棗十二枚。</p>
<p>上四味。以水七升。煮取二升。去滓。溫服七合。日三服。</p>
<p>食谷欲嘔者。（屬陽明也。）吳茱萸湯主之。得湯反劇者。（屬上焦也。）　（少陰病。）吐、利、手足厥冷。煩躁欲死者。乾嘔、吐涎沫、頭痛者。嘔而胸滿者。</p>
<p>厚朴生薑半夏甘草人參湯。　厚朴半斤。　生薑半斤。　半夏半升。　人參一兩。　甘草二兩。</p>
<p>上五味。以水一斗。煮取三升。去滓。溫服一升。日三服。</p>
<p>發汗後。腹脹滿者。</p>
<p>為則按。當有吐逆證。</p>
<p>黃連湯。　黃連、甘草、乾薑、桂枝各三兩。　人參二兩。　半夏半升。　大棗十二枚。</p>
<p>上七味。以水一斗。煮取六升。去滓。溫服一升。日三服。夜二服。</p>
<p>（傷寒）胸中有熱。（胃中）有邪氣。腹中痛。欲嘔吐者。</p>
<p>為則按。當有心中悸心煩上逆證。</p>
<p>乾薑黃連黃芩人參湯。　乾薑三兩。　黃連三兩。　黃芩三兩。　人參三兩。</p>
<p>上四味。以水六升。煮取二升。去滓。分溫再服。</p>
<p>（傷寒。本自汗下。醫復吐下之。寒格更逆、吐、下。）若食入口即吐。</p>
<p>為則按。此乃主心中煩悸、及心下痞硬、而吐下者也。</p>
<p>大（建中）湯。　蜀椒二合。　乾薑四兩。　人參二兩。</p>
<p>上三味。以水四升。煮取二升。去滓。內膠飴一升。微火煎取一升半。分溫再服。如一炊頃。可飲粥二升。後更服。當一日食糜溫覆之。</p>
<p>心胸中大（寒）痛嘔不能飲食。腹中寒上衝。皮起出見有頭足上下痛而不可觸近。</p>
<p>黃連阿膠湯。　黃連四兩。　黃芩一兩。　芍藥二兩。　雞子黃二枚。　阿膠三兩。</p>
<p>上五味。以水五升。先煮三物。取二升。去滓。內膠。烊盡。少冷。內雞子黃。攪令相得。溫服七合。日三服。</p>
<p>（少陰病、得之二三日以上。）心中煩不得臥。</p>
<p>黃芩湯。　黃芩三兩。　甘草二兩。　芍藥二兩。　大棗十二枚。</p>
<p>上四味。以水一斗。煮取三升。去滓。溫服一升。日再。夜一服。若嘔者加半夏半升。生薑三兩。</p>
<p>（太陽與少陽合病。）自下利者。與黃芩湯。若嘔者。黃芩加半夏生薑湯主之。</p>
<p>為則按。當有心下痞、腹強急證。</p>
<p>黃芩加半夏生薑湯。　於黃芩湯方內加半夏半升生薑三兩。</p>
<p>（太陽與少陽合病。）自上利者。與黃芩湯。若嘔者。乾嘔而利者。</p>
<p>六物黃芩湯。　黃芩、人參各三兩。　乾薑三兩。　桂枝一兩。　大棗十二枚。　半夏半升。</p>
<p>上六味。以水七升。煮取三升。分溫三服。乾嘔、下利。</p>
<p>為則按。當有心下痞硬證。</p>
<p>三物黃芩湯。　黃芩一兩。　苦參二兩。　乾地黃四兩。</p>
<p>上三味。以水六升。煮取二升。溫服一升。多吐下蟲。</p>
<p>（婦人在草蓐。自發露得風。）四肢苦煩熱、頭痛者。與小柴胡湯。頭不痛但煩者。</p>
<p>為則按。當有心胸苦煩證。</p>
<p>白頭翁湯。　白頭翁二兩。　黃連、黃柏、秦皮各三兩。</p>
<p>上四味。以水七升。煮取二升。去滓。溫服一升。不愈。更服一升。一本白頭翁作三兩。</p>
<p>熱利下重者。下利慾飲水者。（以有熱故也。）</p>
<p>為則按。當有心悸證。</p>
<p>白頭翁加甘草阿膠湯。白頭翁湯方內加甘草阿膠各二兩。</p>
<p>上六味。以水七升。煮取二升半。內膠令消盡。分溫三服。</p>
<p>（產後。）下利。（虛極。）</p>
<p>為則按。雖曰產後。非唯言產後也。當以血證為準。又當有急迫證。</p>
<p>木防己湯。　木防己三兩。　石膏雞子大。　桂枝二兩。　人參四兩。</p>
<p>上四味。以水六升。煮取二升。分溫。再服。</p>
<p>膈間（支飲。）其人喘滿。心下痞堅。面色黧黑。其脈沉緊。得之數十日。醫吐下之。不愈。木防己湯主之。虛者即愈。實者三日復發。復與不愈者。宜木防己湯去石膏加茯苓芒硝湯主之。</p>
<p>為則按。當有煩渴證。</p>
<p>木防己去石膏加茯苓芒硝湯。木防己湯方內去石膏加茯苓四兩芒硝三合。</p>
<p>上五味。以水六升。煮取二升。去滓。內芒硝。再微煎。分溫。再服。微利則愈。膈間（支飲。）其人喘滿。心下痞堅。面色黧黑。其脈沉緊。得之數十日。醫吐下之。不愈。木防己湯主之。虛者即愈。實者三日復發。復與不愈者。</p>
<p>為則按。當有心下悸證。</p>
<p>防己茯苓湯。　防己三兩。　黃蓍三兩。　桂枝三兩。　茯苓六兩。　甘草二兩。</p>
<p>上五味。以水六升。煮取二升。分溫三服。　（皮水為病）四肢腫。水氣在皮膚中。四肢聶聶動者。</p>
<p>防己黃蓍湯。　防己四兩。　黃蓍五兩。　術三兩。　甘草二兩。　生薑三兩。　大棗十二枚。</p>
<p>上六味。以水六升。煮取二升。分溫三服。</p>
<p>（風濕。）脈浮身重、汗出、惡風者。（風濕一作風水）　治（風水脈浮為在表。）其人或頭汗出。表無無他病。病者但下重。從腰以上為和。腰以下當腫。及陰難以屈伸。</p>
<p>為則按。分量煎法非古。今從外臺。</p>
<p>枳實芍藥散。　枳實、芍藥各等分。</p>
<p>上二味。杵為散。服方寸匕。日三服。並主癰膿。以麥粥下之。</p>
<p>（產後）腹痛。煩滿不得臥。　（產後）腹痛。（法當）以枳實芍藥散。假令不愈者。（此為腹中有乾血著臍下。）宜下瘀血湯主之。亦主經水不利。</p>
<p>枳朮湯。　枳實七枚。　術二兩。</p>
<p>上二味。以水五升。煮取三升。分溫三服。（腹中耎即當散也。）</p>
<p>心下堅。大如盤邊如旋杯。水飲所作。</p>
<p>為則按。當有小便不利證。</p>
<p>排膿散。　枳實十六枚。　芍藥六分。　桔梗二分。</p>
<p>上三味。杵為散。取雞子黃一枚。以藥散與雞黃相等揉和。令相得。飲和服之。日一服。</p>
<p>為則按。有瘡癰而胸腹拘滿者主之。</p>
<p>桂枝枳實生薑湯。　桂枝、生薑各三兩。　枳實五枚。</p>
<p>上三味。以水六升。煮取三升。分溫三服。</p>
<p>心中痞。諸逆。心懸痛。</p>
<p>為則按。當有嘔證。又曰。痞下脫滿字耶。</p>
<p>枳實薤白桂枝湯。　枳實四枚。　厚朴四兩。　薤白半升。　桂枝一兩。　栝蔞實一枚。</p>
<p>上五味。以水五升。先煮枳實厚朴。取二升。去滓。內諸藥。煮數沸。分溫三服。</p>
<p>（胸痹。）心中痞（留氣）結在胸、胸滿、脅下逆搶心。枳實薤白桂枝湯主之。人參湯亦主之。</p>
<p>橘皮枳實生薑湯。　橘皮一斤。　枳實三兩。　生薑半斤。</p>
<p>上三味。以水五升。煮取二升。分溫再服。</p>
<p>（胸痹）胸中氣塞。短氣。茯苓杏仁甘草湯主之。橘枳薑湯亦主之。</p>
<p>為則按。當有嘔證。</p>
<p>茯苓飲。　茯苓、人參、術各三兩。　枳實二兩。　橘皮二兩半。　生薑四兩。</p>
<p>上六味。水六升。煮取一升八合。分溫三服。如人行八九里。進之。治心胸中有停痰。宿水自吐。出水後。心胸間虛。氣滿不能食。消痰氣令能食。</p>
<p>為則按。當有心下痞硬證。</p>
<p>橘皮竹茹湯。　橘皮二斤。（一本作二升）　竹茹二升。　大棗三十枚。生薑半斤。甘草五兩。人參一兩。</p>
<p>上六味。以水一斗。煮取三升。溫服一升。日三服。</p>
<p>噦逆者。</p>
<p>橘皮湯。　橘皮四兩。　生薑半斤。</p>
<p>上二味。以水七升。煮取三升。溫服一升。（下咽即愈。）</p>
<p>乾嘔噦。若手足厥者。</p>
<p>桂枝茯苓丸。　桂枝、茯苓、牡丹、桃仁、芍藥各等分。</p>
<p>上五味末之。煉蜜和丸。如免屎大。每日食前服一丸。不知。加至三丸。婦人宿有（症病。）經斷未及三月而得漏下不止。胎動在臍上者。（為症痼害。）妊娠六月動者。前三月經水利時。胎下血者。後斷三月不血也。所以血不止者。其症不去故也。當下其症。</p>
<p>為則按。當有沖逆心下悸證。又曰是不唯治婦人之病方也。</p>
<p>芎歸膠艾湯。　芎藭、阿膠各二兩。　甘草二兩。　艾葉、當歸各三兩。　芍藥四兩。　乾地黃六兩。</p>
<p>上七味。以水五升。清酒五升合。煮取三升。去滓。內膠。令消盡。溫服一升。日三服。不差。更作。</p>
<p>婦人有漏下者。有半產後因續下血都不絕者。有妊娠下血者。假令妊娠腹中痛。（為胞疽。）</p>
<p>為則曰。凡治吐血下血諸血證者不別男子婦人矣。</p>
<p>旋覆花代赭石湯。　旋覆花三兩。　人參二兩。　生薑五兩。　半夏半升。　代赭一兩。　大棗三兩。　甘草三兩。</p>
<p>上七味。以水一斗。煮取六升。去滓。再煎取三升。溫服一升。日三服。</p>
<p>（傷寒）發汗。若吐、若下、解後心下痞硬。噫氣不除者。</p>
<p>赤石脂禹餘糧湯。　赤石脂一斤。　禹餘糧一斤。</p>
<p>已上二味。以水六升。煮取二升。去滓三服。</p>
<p>（傷寒）服湯藥。下利不止。心下痞硬。服瀉心湯。已復以他藥下之。利不止。醫以理中與之。利益甚。理中者。理中焦。此利在下焦。赤石脂禹餘糧湯主之。複利不止者。當利其小便。</p>
<p>為則按。此章非疾病醫義。故不取。雖然。赤石脂禹餘糧湯證。可從於此也。又云、當利其小便。下方脫。</p>
<p>桃花湯。　赤石脂一斤。　乾薑一兩。　粳米一升。</p>
<p>上三味。以水七升。煮米令熟。去滓。溫七合。內赤石脂未方寸匕。日三服。若一服愈。余勿服。</p>
<p>（少陰病。）下利便膿血者。　（少陰病。二三日。至四五日。）腹痛。小便不利。下利不止。便膿血者。下利便膿血者。</p>
<p>大豬膽汁。大豬膽一枚。</p>
<p>膽汁。和醋少許。以灌穀道中。如一食頃。當大便出。</p>
<p>（陽陽病。自汗出。若發汗。小便自利者。此為津液內竭。雖硬不可攻之。）當須自欲大便。宜蜜煎導而通之。若土瓜根及與大豬膽汁。皆可為導。</p>
<p>蜜煎導。蜜七合。</p>
<p>一味內銅器中。微火煎之。稍凝似飴狀。擾之。勿令焦著。欲可丸並手捻作挺。令頭銳大。如指長二寸許。當熱時急作。冷則硬。以內穀道中。以手急抱。欲大便時乃去之。</p>
<p>主治見大豬膽汁下。</p>
<p>酸棗仁湯。　酸棗仁二升。　甘草一兩。　知母二兩。　茯苓二兩。　芎藭二兩。</p>
<p>上五味。以水八升。煮酸棗仁。得六升。內諸藥。煮取三升。分溫三服。</p>
<p>（虛勞）虛煩。不得眠。</p>
<p>為則曰。虛勞當作煩躁。</p>
<p>葶藶大棗（瀉肺）湯。葶藶搗丸如彈丸大。大棗十二枚。</p>
<p>上先以水三升。煮棗取二升。去棗。內葶藶。煮取一升。頓服。</p>
<p>（肺癰）喘不得臥。（肺癰）胸滿脹。一身面目浮腫。鼻塞清涕出。不聞香臭酸辛。咳逆上氣。喘鳴迫塞。　（支飲）不得息。</p>
<p>麻子仁丸。　麻子仁二升。　芍藥半斤。　枳實一斤。　大黃一斤。　厚朴一尺。　杏仁一斤。</p>
<p>上六味。末之。煉蜜和丸。梧子大。飲服十丸。日三。以知為度。</p>
<p>（趺陽、脈浮而澀、浮則胃氣強、澀則小便數。浮澀相搏。）大便則堅（其脾為約。）</p>
<p>己椒藶黃丸。　防己、椒目、葶藶、大黃各一兩。</p>
<p>上四味。末之。蜜丸如梧子大。先食飲服一丸。日三服。稍增。（口中有津液。渴者加芒硝半兩。）</p>
<p>腹滿。口舌乾燥。（此腸間有水氣。）</p>
<p>蜀漆散。　蜀漆、雲母、龍骨各等分。</p>
<p>上三味。杵為散。未發前以漿水服半錢。</p>
<p>瘧多寒者。（名曰牡瘧。）</p>
<p>為則按。當有臍下動證。</p>
<p>十棗湯。　芫花。甘遂。大戟各等分。</p>
<p>已上三味。等分。各別搗為散。以水一升半。先煮大棗肥者十枚。取八合。去滓。內藥末。（強人服一錢匕。羸人服半錢。）溫服之。平旦服。若下少。病不除者。明日更服。加半錢。得快下利後。糜粥自養。）</p>
<p>（太陽中風。）下利。嘔逆。（表解者）乃可攻之。其人漐漐汗出。發作有時。頭痛。心下痞硬滿。引脅下痛。乾嘔。短氣。汗出。不惡寒者。（此表解里未和也。）　病（懸飲）者。　（咳家。其脈弦。為有水。）夫（有支飲家。）咳煩。胸中痛者。（不卒死至一百日一歲。）</p>
<p>桔梗白散。　桔梗、貝母各三分。　巴豆一分。</p>
<p>上三味。為散。（強人飲服半錢匕。羸者減之。）病在膈上者。吐膿血。膈下者。瀉出。（若下多不止。飲冷水一杯則定。）</p>
<p>咳而胸滿。振寒。脈數。咽乾。不渴。時出濁唾。腥臭。久久吐膿。寒如米粥者。（為肺癰。）　（病在陽。應以汗解之。）反以冷水潠之。若灌之。其熱被劫不得去。彌更益煩。肉上粟起。意欲飲水。反不渴者。服文蛤散。若不差者。與五苓散。（寒實結胸。）無熱證者。與三物小陷胸湯。白散亦可服。</p>
<p>為則按。有結毒而濁唾吐膿者主之。</p>
<p>走馬湯。　巴豆二枚。　杏仁二枚。</p>
<p>上二味。以綿纏。槌令碎。熱湯二合。捻取白汁。飲之當下。老少量之。</p>
<p>（通治飛屍鬼擊病。）中惡。心痛。腹脹。大便不通。</p>
<p>備急圓。大黃一兩。乾薑一兩。巴豆一兩。</p>
<p>上藥。各須精新。先搗大黃乾薑為末。研巴豆。內中。合治一千杵。用為散。蜜和丸。亦佳。密器中貯之。莫令泄氣。</p>
<p>主心腹諸卒暴。百病若中惡。客忤心腹脹滿。卒痛如錐刺。氣急。口禁。停屍卒死者。以暖水若酒服大豆許三四丸。或不下捧頭起。灌令下咽。須臾當差。如未差。更與三丸。當腹中鳴。即吐下。便差。若口禁亦須折齒灌之。</p>
<p>礬石湯。　礬石二兩。</p>
<p>上一味。以漿水一斗五升。煎三五沸。浸腳。</p>
<p>良治（腳氣）衝心。</p>
<p>消礬散。　硝石、礬石等分。</p>
<p>上二味。為末。以大麥粥汁和。服方寸匕。日三服。病隨大小便去。小便正黃。大便正黑。是候也。</p>
<p>黃家日晡所發熱。而反惡寒。（此為女勞得之。）膀胱急。少腹滿。身盡黃。額上黑。足下熱。因（作黑疽。）其腹脹。如水狀。大便必黑。時溏。（此女勞之病。非水也。腹滿者難治。）</p>
<p>礬石丸。　礬石三分。　杏仁一分。</p>
<p>上二味。末之。煉蜜和丸。棗核大。內藏中。劇者再內之。</p>
<p>婦人經水閉。不利。藏堅癖不止。（中有乾血。）下白物。</p>
<p>蛇床子散。　蛇床子仁。</p>
<p>上一味。末之。以白粉少許。和令相得。如棗大。綿裹內之。自然溫。溫陰中坐藥。</p>

<h2>不試方十八方</h2>
<p>竹葉石膏湯。　竹葉二把。　石膏一斤。　半夏半升。　人參三兩。　甘草二兩。　粳米半升。　麥門冬一升。</p>
<p>上七味。以水一斗。煮取六升。去滓。內粳來。煮米熟。湯成去米。溫服一升。日三服。</p>
<p>傷寒解後虛羸、少氣、氣逆欲吐者。</p>
<p>為則按。當有枯燥證。又按條辨。作竹葉三兩。今從之。</p>
<p>麥門冬湯。　麥門冬七升。　半夏一升。　人參二兩。　甘草二兩。　粳米三合。　大棗十枚。</p>
<p>上六味。以水一斗二升。煮取六升。溫服一升。日三。夜一服。</p>
<p>大逆上氣。咽喉不利。止逆下氣者。</p>
<p>為則按。當有心下痞證。</p>
<p>雄黃熏。雄黃。</p>
<p>上一味。為末。筒瓦二枚合之。燒向肛熏之。</p>
<p>蝕於肛者。</p>
<p>頭風摩散。　大附子一枚。鹽等分。</p>
<p>上二味。為散。浗了。以方寸匕已摩疾上令藥力行。</p>
<p>皂莢丸。　皂莢八兩。</p>
<p>上一味。末之。蜜丸梧子大。以棗膏和湯。服三丸。日三。夜一服。</p>
<p>咳逆上氣。時時唾濁。但坐不得眠。</p>
<p>葦莖湯。　葦莖二升。　薏苡仁半升。　桃仁五十枚。　瓜瓣半升。</p>
<p>上四味。以水一斗。先煮葦莖。得五升。去滓。內諸藥。煮取二升。服一升。再服。當吐如膿。</p>
<p>咳。有微熱。煩滿。胸中甲錯。是為肺癰。</p>
<p>當歸生薑羊肉湯。　當歸三兩。　生薑五兩。　羊肉一斤。</p>
<p>上三味。以水八升。煮取三升。溫服七合。日三服。若寒多者。加生薑成一斤。痛多而嘔者。加橘皮二兩。術一兩。加生薑者。亦加水五升。煮取三升二合服之。</p>
<p>寒疝。腹中痛及脅痛裡急者。　產後。腹中㽲痛。當歸生薑羊肉湯主之。並治腹中寒疝。虛勞不足。</p>
<p>蒲灰散。　蒲灰七分。　滑石二分。</p>
<p>上二味。杵為散。飲服方寸匕。日三服。</p>
<p>小便不利。蒲灰散主之。滑石白魚散。茯苓戎鹽湯並主之。厥而皮水者。</p>
<p>滑石白魚散。滑石二分。亂髮二分。燒。白魚二分。</p>
<p>上三味。杵為散。飲服方寸匕。日三服。</p>
<p>小便不利。蒲灰散主之。滑石白魚散茯苓戎鹽湯並主之。</p>
<p>豬膏發煎。豬膏半斤。亂髮如雞子大三枚。</p>
<p>上二味。和膏中煎之。發消藥成。分再服。病從小便出。</p>
<p>主諸黃。</p>
<p>柏葉湯。　柏葉、乾薑各三兩。　艾三把。</p>
<p>上三味。以水五升。取馬通汁一升合。煮取一升。分溫再服。</p>
<p>吐血不止者。</p>
<p>黃土湯。　甘草、乾地黃、朮、附子、阿膠、黃芩各三兩。　灶中黃土半斤。</p>
<p>上七味。以水八升。煮取三升。分溫。二服。</p>
<p>下血。先便後血。此遠血也。主吐血衄血。</p>
<p>雞屎白散。　雞屎白。</p>
<p>上一味。為散。取方寸匕。以水六合和。溫服。</p>
<p>轉筋之為病。其人臂腳直。脈上下行微弦。轉筋入腹者。</p>
<p>蜘蛛散。　蜘蛛十四枚。　桂枝半兩。</p>
<p>上二味。為散。取八分一匕。飲和服。日再服。蜜丸亦可。</p>
<p>陰狐。疝氣者。偏有小大。時時上下。</p>
<p>當歸芍藥散。　當歸三兩。　芍藥一斤。　茯苓四兩。　術四兩。　澤瀉半斤。　芎藭半斤（一作三兩。）</p>
<p>上六味。杵為散。取方寸匕。酒和。日三服。</p>
<p>婦人懷妊。腹中㽲痛。</p>
<p>歸母苦參丸。　當歸、貝母、苦參各四兩。</p>
<p>上三味。末之。煉蜜丸。如小豆大。飲服三丸。加至十丸。</p>
<p>妊娠小便難。飲食如故。</p>
<p>狼牙湯。　狼牙三兩。</p>
<p>上一味。以水四升。煮取半升。以綿纏筋如繭。浸湯。瀝陰中。日四遍。</p>
<p>少陰。脈滑而數者。</p>
<p>陰中即生瘡。陰中蝕瘡爛者。狼牙湯洗之。</p>
<p>小兒疳蟲蝕齒方。　雄黃。　葶藶。</p>
<p>上二味。末之。取臘日豬脂熔。以槐枝綿裹頭。四五枚。點藥烙之。</p>

<h1>跋</h1>
<p>醫之為學也。其方而已。方能載其道。以傳之千載。故其欲求之也。不由其路。譬如場師失養梧檟於枳棘。苟其失養之也。且人賤之。況又迷罔之人。不亦悲乎。我東洞先生。取道于越人。求方於長沙。以唱古醫之術。然其書之篇章。證或先方而發焉。方或後證而起焉。不易卒睹。於是先生乃因對之次之。名曰類聚方。嗟乎善乎。此書乃使志古醫之術者。得由其路也。不迷罔焉。夫道如大路然。孟軻氏之云。今乎宜也。詩曰不愆不忘。率由舊章。抑此之謂與。</p>
<p><u>寶曆壬午春二月　門人　東都　山常卿謹跋</u></p>

<h1>題類聚方後</h1>
<p>古也者邈矣。無有方書存焉。其存焉者。僅金匱玉函、傷寒論已。此猶天之未喪斯文也。是以歷代為方者。必尊奉張仲景氏矣。雖然尋案多滯。不得其蘊奧。柔則茹之。剛則吐之。終令斯文至拂地焉。且其書。歷世之久闕文錯簡。不可勝計。加之以傳者增損之變。不亦悲乎。獨吾東洞先生。張膽瞋日。朝考夕試。剛亦不吐。柔亦不茹。嬰類而長之。依例而刪之。以著類聚方。舉以視門人。令人人得與斯文。可謂幸甚矣。蓋類聚所以審方意也。方意審。則藥能從。藥能從。則疾疢無所潛慝也。賢臣子不嘗則已。嘗則苦於口。利於疾也。百世一日。而後醫之從事於仲景氏。日益深乎。則斯文鬱郁乎今者。豈有與仲景氏之世異乎哉。余不勝其雀躍。遂題類聚方後。</p>
<p><u>門人　阿波　新崎國林謹題</u></p>
