<header data-type="book">
<h1>懶園醫語</h1>
</header>

<h1>序</h1>
<p>去歲曾將教室中問答付印，名曰《組織學翼義》，蓋因所問皆不出組織一科範圍之內也，此編所問各科俱有，並將友人所問附入，故名之曰「醫語」，其中論說雖多臆斷，然必擇前賢論說中之有合於經義者，乃略採西醫學說中之可資參考者，引以為答，不敢妄自立說以欺人。但古今醫書汗牛充棟，諸家論說聚訟紛壇，馬元臺哀秦、張、王、李、朱諸前賢之誤，而張介賓復哀其誤，並曰：使余之後人又有哀余之誤者，是後人復哀後人也。吾曰：後人復哀後人，正醫學之逐漸進步也，醫學之逐漸進步，正社會之幸也，後生可畏，焉知來不勝今？苟有糾吾謬而繩吾誤者，豈獨吾之幸哉。</p>
<p><u>中華民國十年四月二十九日懶園居士序</u></p>

<h1>懶園醫語（卷一）</h1>

<h2>答廣濟醫藥音門學校教務長阮其煜問</h2>
<p>問曰：嘗聞病家有稱某醫為涼手，專用涼藥；某醫為熱手，專用熱藥，似乎用藥偏於一路，使病者多生疑忌，是否有此情形？尚祈指教。</p>
<p>答曰：此蓋有二因也：一因於醫者之誤人，一因於患者之自誤。夫症有寒溫虛實之別，即藥有涼熱補瀉之分，視病用藥，藥到病除，若執於一偏，未有不誤，此醫者之誤人也。患者因是而生疑忌，雖應用涼藥，疑其為涼手而忌之；應用熱藥，疑其為熱手而忌之，良醫因此而受謗，患者因此而遊移，勢必因循坐誤病入膏育，此患者之自誤也。夫中醫之芩連、白虎去煩止渴，即西醫清涼之法也；中醫之桂、附、芍、草以治拘急疼痛，即西醫緩攣之法也；中醫之真武、四逆以救危，桃花、餘糧似固脫，即西醫收酸之法也；中醫之建中補虛助弱，即西醫強壯之法也；中醫之承氣下燥，豬苓利水，瓜蒂吐宿，即西醫漏泄之法也；中醫之桂枝、麻黃解表邪，陷胸、瀉心祛痞積，抵當、桃承去蓄血，即西醫分解之法也。醫家用藥如兵家用兵，知己知彼百戰百勝，豈可執於一偏概用涼，概用熱乎？</p>
<p>問曰：嘗聞人言，每有疾病不妨待其自愈，故有不藥為中醫之說，是否至當？</p>
<p>答曰：此言不足為訓，其原因蓋專為庸醫而設，實憤激之談也。中者，上之下，下之上也，言與其不得上醫而治，不若不為下醫所誤耳，不然有病不治，積而愈深，坐以待斃，安有是理哉？《素問·皮部論》曰：病之始生也，必先於皮毛，邪中之，則腠理開，開則入客於絡脈，留而不去傳入於經，留而不去傳入於腑，廩於腸胃入舍於腑臟。故皮有分部，不與而生大病也，是蓋言有病不醫，愈久愈深，必致不救，豈有待其自愈之理乎？要之中醫一道，良醫固多，庸醫亦不少。大凡欲學中醫，必先以國文宏通淹博為根底，《靈》、《素》諸經，辭義深奧，斷非國文淺陋者所能讀，即讀亦根銀宵肯不知所衷。宋神宗有鑑於此，考選諸生仿周禮遺制，設六科以教士（即今之醫校），惜乎後世遂廢。每有讀書不成，學劍不就，日暮途窮，藉一二本藥性賦，湯頭歌以懸壺問世者，及問其臟腑、經絡、俞穴，茫然若聵若聾，則生理、解剖之學，更無論矣。不知解剖一科，中醫發明最早，《靈樞經》載死者解剖而視之說；《王莽傳》有太醫上方刳剝刑人之屍，量度五臟之事；《華佗傳》載麻藥之方，此外諸書不堪枚舉，且不獨此也，大凡欲從事醫學必先知天文地理，則基礎固而學始不浮，即如氣穴三百六十五，氣腑三百六十五，溪谷三百六十五，皆合乎周天三百六十五度之星辰。經脈十二，經絡十二，經筋十二，皆合乎地球十二經。水之灌注，營衛之生會，合乎天道之循環。氣血與精髓合乎地中之四海（西醫謂造化主惠育群黎，所謂造化主者，即天地之神也，與中醫人本天地之中以生之義不約而同），故不知天文地理而貿然學醫者，終必流為庸醫，庸醫濫竿醫界，魚目混珠，致使社會一般人心理因恐慌而遂有不藥為中醫之說，吾知學校振興，人材蔚起，此語將不取消而自取消矣。</p>
<p>問曰：何為寒體、何為熱體？究由何而區別之？</p>
<p>答曰：寒熱者，陰陽也。寒為陰，熱為陽，《內經》曰：「陽勝則熱，陰勝則寒。」陰氣凝滯故體寒，陽氣升散故體熱。大凡身體怯弱，畏寒喜熱者皆寒體，由於陰氣凝滯故也；身體盛實，喜寒畏熱者皆熱體，由於陽氣升散故也。有寒不熱乃陰陽和平之人，無偏勝也。《靈樞經》曰：人有陰陽，分治五態。何為陽人？何為陰人？約言之，則陰人陽人二態；分言之，則太陰之人，少陰之人，太陽之人，少陽之人，陰陽和平之人，五態不同，其筋骨氣血各異。古之善用針艾者，必視人之五態而分治之也。分治之法，經云：太陰之人，多陰而無陽，其陰血濁，其胃氣澀，陰陽不和，緩筋而厚皮，不之疾瀉，不能移之；少陰之人，多陰少陽，小胃而大腸，六腑不調，陽明脈小而太陽脈大，必審調之，其血易脫，其氣易敗；太陽之人，多陽而少陰，必謹調之，無脫其陰而瀉其陽，陽重脫者易狂，陰陽皆脫者暴死；少陽之人，多陽少陰，烴小而絡大，血在中而氣外實，陰而虛，陽獨瀉，其絡脈則強，氣脫而疾，中氣不足，病不起也；陰陽和平之人，其陰陽之氣和，血脈調，謹診其陰陽，視其邪正，安容儀審有餘不足？盛則瀉之，虛則補之，不盛不虛以經取之。此即所謂視五態而分治之法也。大抵陰陽和平者本無盛虛之可據，而或有邪正之不調，但求其所在之經而取病耳。偏陰偏陽之體，大半根於先天，中醫之所謂先天，即西醫所謂遺傳性也。</p>
<p>問曰：《驗方新編》內有陽和湯治陰疽甚效，其所以當用此等藥品之理如何？</p>
<p>答曰：按《驗方新編》，此方與《全生集》略有不同，《驗方新編》無白芥子，《全生集》有白芥子二錢，其餘各藥及分兩皆同，治陰疽用此方者，因陰疽之毒發於五臟，其症皆屬陽虛，多由陰寒之氣凝結而成，凡陰寒凝結之氣非得陽和之氣以解之，不能見功，名曰陽和湯，職是故也。地黃熟用微溫，而大補真陰，重用一兩以為君，救陰虛也；鹿為純陽之性，角遇夏至，陰生即解，尤為純陽中之陽，用三錢以為臣，所以生陽和之氣也；肉桂甘辛大熱，性亦純陽，能解陽寒之凝結；甘草甘溫和中，能消五臟發之瘡疽，各用一錢以助陽和之氣為佐；炮姜溫中助陽能去沉寒痼冷而回陽；麻黃辛溫開腠散寒，各用五分以為使；加白芥子二錢，以其辛溫之氣除寒暖中，能消毒腫也；酒能和血養氣，通經脈，行藥勢，故服後再飲好酒數杯以助藥力。王洪緒曰：麻黃得熟地不發表，熟地得麻黃不凝滯，神用即在是也。此方用熟地以補陰，用諸藥回陽則陽和之氣達而陰凝之氣散矣，其為陰疽之勝藥，不亦宜乎！稱之曰陽和湯其理由正在是也。</p>

<h2>答中醫專門學校學生問</h2>
<p>華承本間曰：讀《靈樞·經脈篇》足厥陰肝，是動則病，此各臟有各臟之病固無足怪，惟虛則遺溺，實則閉癃，以此二句蓋有疑也，矧夫子言三焦決瀆之腑，故下俞出於足太陽膀胱之絡，入於膀胱，故能約束下焦以排泄膀胱之水，由此以推三焦實宜乎閉癃，三焦虛宜乎遺溺，而閉癃、遺溺之病其標雖在膀胱，而其本實從三焦，此理顯然，奈何三焦有閉癃、遺溺之病？而肝臟亦如是也，況三焦與心包絡相為表裡而肝與膽相為表裡，夫肝與三焦初無相關，乃三焦有閉癃、遺溺之病，而肝亦然，學醫者何以辨三焦與肝臟之閉癃、遺溺？敢問。</p>
<p>答曰：病同而所以致病之原因則不同也，其病從三焦發者，因三焦下俞出於足太陽膀胱之絡，約束下焦，子於此理已明，毋庸贅說。其病從肝臟而發者，因肝脈與腎脈相通故也。腎附膂骨兩旁，腎經之脈由膂骨而上接於肝，故上文曰：病在腰痛不能俯，腎又通竅於二便，又與膀胱相表裡，所以肝臟患虛患實，亦有閉癃、遺溺之病，其原因一也。肝經之脈，過陰器抵小腹，其別者從脛上睪結於莖，故亦有此病，其原因二也。又按《靈樞·經筋篇》惟足三陰足陽明之經，皆聚於陰器，而肝則獨結陰器，而絡諸經，是脾胃腎與肝同聚陰氣，而又為肝所絡，肝主行散疏泄，實則肝氣厥逆，不能行散脾胃水穀之精氣，故上文有胸滿嘔逆之病；虛則下焦飧泄，不能疏泄腎與膀胱之氣，故本文有遺溺、閉癃之病，其原因三也。西醫謂胃肝無所事，只以回血生出膽汁入腸化物，是與肝主疏泄之義，實辭異而意同也。</p>
<p>楊紹球問曰：傷寒之傳經，次第而入，由太陽而終於厥陰，依太極圖之列，毫釐不差。蓋六經彼此相接，如軌道一般，然分六經為手足三陰三陽，則有十二經，而十二經氣血之流行，迥然不同，如手太陰肺經，止於少商穴，而別交於手陽明大腸經，由大腸而胃，由胃而脾，其餘各部，皆依經表裡相傳。由此觀之，則傷寒之邪，既入於足太陽膀胱經，可直達於足少陰腎經，其不然者究屬何故？夫邪之與血，皆循六經而走，但傳經之義，不相符合，豈邪之所走，而血不能行耶？抑血所行而邪不能走耶？乞夫子垂教焉。</p>
<p>答曰：傷寒傳經，論邪之所中也，十二經氣血之流行，論營氣運行之次序也，二者本風馬牛不相及，豈可牽合而概論之耶。且子誤矣，子所謂傷寒傳經，次第而入者，子但知其常，不知其變也，按《素問》所言，傷寒傳經，先自三陽之表，後入三陰之裡者，此陰陽先後之序也，東垣云，太陽者巨陽也，膀胱經病若渴者自入於本也，名曰傳本太陽；傳陽明胃土者，名曰巡經傳；太陽傳少陽膽木者，名曰越經傳；太陽傳少陰腎水者，名曰表裡傳；太陽傳太陰脾土者，名曰誤下傳；太陽傳厥陰肝木者，名曰巡經得度傳。又陶節庵云：風寒之初中人也無常，或入於陰，或入於陽，皆無定體，非但始太陽終厥陰也。或曰：自太陽始，日傳一經，六日至厥陰，邪氣衰，有不傳而愈者，亦有不罷再傳者，或有間經而傳者，或有傳至一二經而止者，或有終始只在一經者，或有越經而傳者，或有初入太陽不作，鬱熱便入少陰而成真陰證者，或有直中陰經而成寒證者。又有合病並病之證，曰合病者，兩經或三經齊病不傳者；為合病並病者，一經先病未盡，又過一經之傳者，為並病。所以有太陽陽明合病，太陽少陽合病，有少陽陽明合病，有三陽合病，三陽若與三陰合病，即是兩感，所以三蔭無合併例也。此皆經文所未及而發明於東垣、節庵者，然其義多本於仲景，而為理所必然者也。要知經所言者，為傳經之常，後人所發明者，為傳經之變，子只見《內經》所言之傳經，由太陽而終於厥陰，而只知其常不知其變，所謂坐井觀天，而以天為小者也。至於十二經，氣血之流行有一定不易之軌道，故《靈樞·營氣篇》論營氣運行之次序，自寅時始於手太陰而終於足厥陰，及任督而後出於手太陰經，循環不已，以應呼吸漏下，晝夜而為五十營，蓋二十八脈，以應天之二十八宿，此天地之紀，所謂有常無變也。由此觀之，是十二經氣血之流行，與傷寒之傳經，顯然各判兩途，安能牽強求合耶。</p>
<p>華承本問曰：讀「夜半而陰陽大會」，蓋有疑焉？夫陰陽者夜半為陰隴，日中為陽隴，一在日之間，一在夜之半，奈何陰陽大會於夜半耶？敢請夫子教之。</p>
<p>答曰：盛極必衰，絕處逢生，乃天地間一定不易之理，是即所謂物極必反也。夫日中為陽隴，陽氣極，陰氣生，故曰：陰生於午，夜半為陰隴。陰氣極，陽氣生，故曰陽生於子，此盛衰之理也。而陰陽大會，獨不會於日中之午，而會於夜半之子者，非盛衰之理不同，而動靜之機有異也，日中主動，夜半主靜，主動則行，主靜則臥，人臥則血歸於臟，故營衛二氣皆會於天一之中。《靈樞·營衛生會篇》云「天下萬民皆臥，命曰合陰。」所謂合陰者，言全身血氣大會於陰極靜極之時也，子但知盛衰之理，不知動靜之機，宜乎有此疑問耳。</p>
<p>王廣蔭問曰：病入膏育則為不治，生於是有疑焉，夫膏之原在鳩尾，盲之原在脖胦，膏育有疾，取其鳩尾、脖腴可也，何謂不治之症哉？願夫子明以教我。</p>
<p>答曰：此說本於左氏《春秋》，成公十年，晉侯夢大厲披髮及地，搏膺而踴曰：殺余孫不義，余得請於帝矣，壞大門及寢門而入。公疾，求醫於秦，秦伯使醫緩往治之，未至，公夢疾為二豎子，曰：彼良醫也，懼傷我，我焉逃之。其一曰：居盲之上，膏之下，若我何？醫至曰：病在育之上，膏之下，攻之不可，達之不及，藥不至焉，疾不可治矣。（注：肓之上，膏之下，乃連心脂膏也。）由此觀之，病在膏尚可治，病在肓尚可治，惟在膏下肓上則處於連心脂之間，斷非治鳩尾、脖胦所能奏效，且連心脂直接手少陰心臟，治脂，即治心，心為君主之官，不能受病，不能受治，受病死，受治亦死，故曰：不治之症也。然則，彼所謂膏育不治也者，非言膏不可治，育不可治，蓋言育上膏下之連心脂不可治耳，讀書者不可以辭害意也。</p>
<p>張永昭問曰：經云「心生血，肝藏血」。是人身全體之血，皆在於肝，何以經又曰：衝任為血海。生不能明乎此理，願夫子明以教之。</p>
<p>答曰：《素問·五臟生成篇》云諸血者皆屬於心，蓋言血氣者人之神。神者，心之主，謂血居脈內而心行之，故亦曰心生血也。又云人臥，血歸於肝，蓋言人靜而血歸肝臟也。至於《靈樞·海論》云衝脈為血海者，蓋言衝脈與任脈皆起於胞中，並足少陰之經，夾臍上行之胸中而散其後者。上循背裡為經絡之海，血主經絡，故衝脈為十二經之海。亦為血海，言血海受納諸經之灌注，精血所藏之區，故曰血海。亦曰經脈之海，以其主滲灌溪谷與陽明合於宗筋，會於氣街，而陽明為長，誠以陽明為多氣多血之腑，故主潤宗筋而利機關，衝脈為精血所聚之經，故主滲灌溪谷，但衝脈與任脈同起於胞中，亦並少陰之大絡，而下行與陽明會於前陰，故男女氣血皆由前陰而聚者，以二經血氣總聚於此，故稱為五臟六腑十二經之海，亦稱血海。由是觀之，所謂心生血者，言血屬心，即心行血也。所謂肝藏血者，言人臥而血歸肝臟也。所謂衝脈為血海者，言血居十二經脈之內，十二經脈皆屬於衝脈，故曰血海，亦曰十二經之海也。然則心曰生者，不過行血而已；肝曰藏者，不過藏血而已，惟衝脈為五臟六腑之海，則凡十二經之氣血皆受之以榮養周身，此衝脈所以稱為血海也。故《靈樞·海論》稱人之四海：曰腦為髓海，膻中為氣海，胃為水穀之海，衝脈為血海也。所以《痿論》曰：衝脈者經脈之海。《動輸篇》曰：衝脈者十二經之海。《五音五味篇》曰：衝脈者五臟六腑之海。要無非主滲灌溪谷，榮養周身，與《海論》血海之說皆相符合也。子因心生血，肝藏血之說，遂疑人身全體之血，皆在於肝，而欲以肝為血海也，宜乎不能明此理矣！且婦人妊孕全賴任沖二脈，其所以全賴此二脈者，蓋因二脈皆起於胞中，而衝脈又為全身血脈所聚之處故耳，即此為證，則衝脈為血海之說自不言而喻矣。</p>
<p>左冠章問曰：三焦雖一府也。有云無形者，有云有形者，有云位於兩腎之間者，有云與右腎為表裡者，有云與心主為表裡者，究之三焦有形耶？無形耶？位於何處？與何臟為表裡？而《內經》又以為孤府何耶？</p>
<p>答曰：三焦之說，諸家聚訟紛壇，或言有形，或言無形，或言與包絡為表裡，或言三焦與膀胱附於左右二腎，或言左為腎，右為三焦，千載以來，議論不定，推原其故，誤實始於《難經》，夫三焦者五臟六腑之總司，安得謂之無形？而二十五難曰：心主與三焦為表裡，俱有名而無形。但謂其表裡則是，謂其無形則非，無奈諸家，自王叔和、王太僕而下，悉宗其說，及至徐循、陳無擇，始創有形之說，謂有脂膜如掌大，正與膀胱相對，有二白脈，自中出夾脊而貫腦。按《靈樞·本輸篇》云：「三焦者決讀之府，水道出焉，屬膀胱，是孤之府也。」《本臟篇》云：「密理厚皮者，三焦膀胱厚，粗理薄皮者，三焦膀胱薄」。《論勇篇》云：「勇士，三焦理橫；怯士，三焦理縱。」《決氣篇》云：「上焦開發，宣五穀味，中焦受氣取汁。」《營衛生會篇》云：「營出中焦，衛出下焦，上焦出於胃之上口。」又曰：「上焦如霧，中焦如漚，下焦如瀆。」《素問·五臟別論》云：「夫胃、大腸、小腸、三焦、膀胱五者，天氣之所生也。」《六節臟象論》曰：「脾胃、大腸、小腸、三焦、膀胱五者倉廩之本，營之居也。」歷證以上經旨既曰無形，何以有水道之出，何以有厚薄之殊，何以有縱橫之理，何以有如漚如霧如瀆之分乎？至於位於何處，觀字義即可知。所謂三者象三才也，際上極下之謂也，人之身，外自皮毛，內自臟腑，無論鉅細，皆有名目，惟於腔腹周圍上下，全體狀若大囊而無名者，非三焦乎？焦，古作瞧，即人身膜膈，所以行水者也。西醫謂飲水食入胃，胃之四面皆有微絲血管吸出所飲之水，散走膈膜於連網油膜之中，而下入膀胱，然則西醫所謂連網者，即中醫所謂膈膜，亦即俗謂網油，而周圍於臟腑之外者也。至於與何臟為表裡，則三焦既包羅五臟六腑之外，為臟腑之外衛，心包絡為君主之外衛，故皆屬陽，均稱相火，則其脈絡，自必相通，自當與包絡相表裡，故《靈樞·經脈篇》云：心主手厥陰之脈，出屬心包絡，下膈，歷絡三焦。此其明證。至於《內經》之稱為孤府者，蓋以三焦包五臟六腑之外，為全體之大臟，自與他臟不可同日語，則謂之孤府不亦宜乎？</p>
<p>又問曰：《脈訣》言十五絡是十二經絡加督之絡，任之絡，脾之大絡，而《難經》以十五絡為十二經絡加陽絡，陰絡，脾之大絡，何也？</p>
<p>答曰：《靈樞·經脈篇》，謂十二經加任督與脾之大絡為十五絡，《難經·二十三難》云絡脈十五，滑氏注曰：十二經加陽絡、陰絡、脾之大絡為十五絡者，蓋謂任行於腹，督行於腎，背為陽，故曰陽絡，腹為蔭，故曰陰絡，陰絡陽絡即任脈督脈也。子殆以陽絡陰絡為陽維陰維，故疑其說不同耳。</p>
<p>又問曰：《營衛生會篇》曰：「其清者為營，濁者為衛」，葉天士《溫熱論》曰：「肺主氣，屬衛；心主血，屬營。如是為清者走上，屬心為血，濁者走下，反屬於肺反為氣。」何也？</p>
<p>答曰：《營衛生會篇》云：「清者為營」，蓋言營行脈中，精氣之循經而行者為營也；「濁者為衛」，蓋言衛行脈外，浮氣之不循經而行者為衛也，非言清走上，濁走下也。即曰：營出中焦，衛出下焦者，亦但指生始而言，非會合也。至於《溫熱論》所謂肺主氣，屬衛；心主血，屬營者，蓋言肺主氣屬皮毛，衛行脈外在膚表之間為衛氣，故曰：肺主氣屬衛也。心主血屬裡，營行脈中，在經隧之間為營血，故曰：心血屬營也。子疑清者走上，濁者走下，宜乎有此問耳。</p>
<p>又問曰：《三難》曰，關以前者，陽之動也，遂上魚為溢，為外關內格，此陰乘之脈也；關以後者陰之動也，遂入尺為覆，為內關外格，此陽乘之脈也。三十七難又以六陰脈盛為格，六陽脈盛為關。《靈樞·脈度篇》曰：「陰氣太盛，則陽氣不能營也，故曰關；陽氣太盛，則陰氣弗能營也，故曰格」。《素問·脈要精微論》曰：陰陽不相應，病名曰關格。仲景平脈篇曰：微水大者，則為關格，不通不得尿，又曰：趺陽脈伏而澀，伏則吐逆，水穀不化，澀則食不得人，名曰關格。由是觀之，《靈樞》、仲景皆以關格為脈，而《素問》、《難經》，皆以關格為病，何也？</p>
<p>答曰：關格一證，在《內經》本言脈體，以明陰陽離絕之危證也，為六節藏象論，終始篇，禁服篇及脈度、經脈等篇言之再四，類多兼脈症而言，而《難經·三難》曰上魚為溢，為外關內格，入尺為覆，為內關外格，已失本經之旨，而仲景云在尺為關為寸為格，關則不得小便，格則吐逆。後世自叔和、東垣以來，皆以此相傳，遂置關格一證於不問，丹溪云：此證多死，寒在上，熱在下，脈兩寸俱盛四倍以上，法當吐，以提其氣之橫格，不必在出痰也。蓋既曰兩寸俱盛四倍以上，又安得謂寒在上，且脈大如此，則浮豁無根，其虛可知，尚可吐乎？其謬孰甚！夫《內經》云：人迎四倍寸口，四倍既非尺寸之謂。而曰吐逆者，特隔食一證耳；曰不得小便者，特癃閉一證耳，其與關格何涉？關格一證在《內經》本以人迎察六腑之陽，寸口察五臟之陰，人迎盛至四倍以上，此陽明經孤陽獨見，水不濟火也，故曰格陽，格陽者陰格於陽也。氣口盛至四倍以上，此太陽經元陰無主，氣不歸精也，故曰關陰，關陰者陽關於陰也。若人迎、寸口俱盛至四倍以上，且大且數，此其陽氣不藏，故陰中無陽，陰氣不升，故陽中無陰，陰陽相離，故名關格也。要之有是脈即有是證，有是證即有是脈，本不應單言脈，單言證。《脈度篇》所云：「陰氣太盛，則陽氣不能榮也，故曰關；陽氣太盛，則陰氣不能榮也，故曰格；陰陽俱盛，不能相榮，故曰關格。關格者不得盡期而死」。何嘗非舉脈證，而兼言之耶。若以脈言，則如前之四倍者是也；若以證言，則又有陰陽俱盛者，以陽病極於陽分，而陰病極於陰分也。凡陽盛於陽者，似乎當瀉；而陰分見陰，又不可瀉陰，極於陰者，似乎當補，而陽分見陽，又不可補，此證乃陽自陽而陽中無陰，陰自陰而陰中無陽，補之不可，瀉之不能，有死而已，故曰關格者，不得盡期而死也，脈耶病耶自可不言而喻矣。</p>
<p>又問曰：膀胱有上口而無下口乎？抑有下口而無上口乎？</p>
<p>答曰：膀胱有下口而無上口也，營衛生會篇云：「下焦者，別迴腸，注於膀胱而滲入焉」。《難經·三十一難》云：下焦者，當膀胱之上口，主分別清濁。後人因此一言遂謂膀胱有上口。經云下焦別迴腸，注於膀胱者，言人飲食之水，由三焦而下膀胱，謂水穀並居胃中，傳化於小腸，當臍上一寸之水分穴處，糟粕由此別行於迴腸，從後而出，津液由此別滲於膀胱，從前而出也。人但知膀胱主溺，不知人飲食之水無不入於膀胱，水入膀胱化氣上行則為津液，其所剩餘質，乃下出而為溺，故曰滲入膀胱，但膀胱只有下口，並無上口，故不云注入而云滲入。《難經》所言上口者，以滲入之處為言，非謂真有口也，如果有口，則經不云滲入矣。後人不明經文之義，誤解《難經》上口之言，遂謂膀胱有上口，實為《難經》所誤也。</p>
<p>王廣蔭問曰：夫百病皆自腑入臟，則先治其腑可也。惟咳病則有自臟入腑者，而先治其臟可也。由此觀之，凡醫各病，治臟腑足矣，而十二經之穴何與焉，且治十二經之穴而藥物亦不能至其分肉筋骨之間，非砭石之刺其穴者可比，十二經之穴有何用乎？</p>
<p>答曰：經雲精氣之循經而行者為營氣，又曰營衛相將而行，則榮中有衛，然則十二經脈者，所以行營衛也。穴道者所以知經脈之根結支別也，不能知穴道，安能知經脈？不能知經脈，安能知營衛之行？不能知營衛之行，安能知臟腑之病？經脈為臟腑之大經隧，五臟六腑皆屬焉。子欲舍經脈而治臟腑，是為捨本逐末，況《素問·皮部論》曰：「病之始生也必先於皮毛，邪中之則腠理開，開則入客於絡脈，留而不去，傳入於經，留而不去，傳入於腑，廩於腸胃。」而舍於腑臟，「故皮者有分部不與而生大病也」。是蓋言病不早治，愈久愈深，必致不救，豈可待其至臟腑而治乎？</p>
<p>余偉問曰：《醫綱》云，右腎主命門，一說兩腎中間主命門。陳修園曰：凡稱門者，皆指出入之處也。命門者，男女交會之際，男施由此門而出，女受由此門而入，及胎由此門而生。張隱菴曰：《內經》止曰腎，原無命門之名，說兩腎中間主命門者，不經之語也，不知實有，實無，實居何處？</p>
<p>答曰：《靈》、《素》兩經並無命門之說，雖《靈樞·根結衛氣》、《素問·陰陽離合》等篇云：太陽根結於至陰，結於命門者目也，此蓋指足太陽經之睛明穴而言，非指此也，因睛明所夾之處為腦心乃至命之處，故以此為名耳。此外，並無兩腎間及右腎為命門之說，惟《難經·三十六難》云：「腎兩者，非皆腎也，其左者為腎，右者為命門。命門者諸神精之所舍，元氣之所繫也，男子以藏精，女子以系胞」。王叔和因之，張隱菴非之，後世莫衷一是。夫以命門為男子藏精，女子系胞則可，以右腎為命門則不可，誠如其言，試問右腎藏精，左腎藏何物乎？又《難經·三十九難》云：命門氣與腎相通。謂氣與腎相通則可，謂右腎為門則不可，夫腎具水火，中系屬命門，故督脈經外俞命門一穴，在十四椎之間是命門，與腎原非兩物也。《黃庭經》云：上有黃庭下關元，後有幽門前命門，又曰閉塞命門似玉都，然則命門為藏精之所無疑矣。又曰：丹田之中精氣微，玉房之中神門戶。梁邱子注曰：男以藏精，女以約血，故曰門戶，又曰關元之中，男子藏精之所。陽元子曰：命門者，下丹田精氣飛出之處也。是皆醫家所未言，而道家言之，實足為此發明者也。《脈經》云：腎與膀胱合為一腑，合於下焦，在關元之後，又曰：腎名胞門子戶，夫所謂子戶者，即子宮也，即玉房之中也。凡男精女血皆存乎此，子由是而生，故曰子宮者，實由男女之通稱也。道家名之曰丹田，以先天真一之氣藏乎此也；醫家名之曰血室，以任沖之脈盛於此，則天癸如期也。由是觀之，惟陳氏所云近是，要之腎與命門實非兩物。道家煉丹曰「坎中離」坎即腎；命門者，一點真陽即坎中之離也。廣言之則命門者，子宮之門戶，子宮者腎臟藏精之腑也。腎為北方之水，所以蓄坎中之真陽而司北門之鎖鑰，而其所以為鎖鑰者，正賴命門之閉固，此命門與腎本同一氣，而為先後天立命之門戶也；約言之，則腎即命門，命門即腎耳。諸家拘於形，泥於跡，或以左右分水火，或謂兩水中夾一火，沾沾於形跡，皆拘執不化之見也。</p>
<p>又問曰：經云，膻中者，臣使之官，喜樂出焉。又云，手厥陰經主心包絡。高士宗云，膻中者即心包絡也，此說是同一物也。《醫綱》云，心包絡是心上之黃脂，而別為一經與上焦相表裡，膻中者即胸中膈膜之上，心肺之旁空處也，此說不同，敢間孰是？</p>
<p>答曰：二說本非兩歧也。但膻中二字，當分讀，不當連讀，膻一物，膻之中又一物也。心包一臟，《難經》言其無形，滑伯仁曰：有形在心下，橫膜之上，豎膜之下，其與橫膜相黏，而黃脂裹者心也，脂漫之外，有細筋膜如絲，與心肺相連者，心包絡也。然則心包在膈膜之上，心肺之旁空處也明矣。又按《靈蘭秘典論》有十二官，獨少心包一官，而多膻中者，臣使之官，喜樂出焉一節。今考心包臟居膈上，經始胸中，正值膻中之所，位居相火，代群行事，實臣使也。然則心肺旁空處，即膈上之心包絡也明矣。要之，膻即胸前膈膜，周迴連著脅脊，以遮濁氣，膈膜名膻，而居膻之中者，即是心包絡。膈乃上焦，專遮濁氣，心包絡則相心布令，居於膻膈之中，故名膻中，屬相火，又主血，以血濟火，則相和而不烈，故主喜樂；心憂者，包絡之火不宣也。心過喜者，心包之火太盛也。西醫謂心上半有夾脂裹之，即心包絡也，但西醫只知包絡之形，不知包絡所司何事耳。</p>
<p>又問曰：人身之臟形，乃肺居最高，為五臟之華蓋，下之心，次下之脾，次下之肝，次下之腎，此皆剖諸獸之腹觀之明，然《難經·五難》，以輕手浮而候心肺之脈，重按以候肝腎之脈，脾脈不輕不重，以中候之，後人皆宗其法，此謂心肺居高，脾居中州，肝腎直下之義，而《內經·刺禁篇》曰：肝生於左，肺生於右，此非肝肺相平乎？《醫綱》云：肝附於脊之第九椎，脾附於脊之第十一椎，此非脾居肝之下乎？臟腑乃一定之部位，論者何相反耶？</p>
<p>答曰：肺居最高，心次之，脾又次之，肝又次之，腎又次之，此五臟一定不易之部位也。診脈之分部，左右上下，蓋從其氣化而分，非以形而分也，至於刺禁篇所謂肝生於左，肺生於右者，子特未知一「生」字之義耳。滑伯仁注，肝生於左句，曰肝之為臟，其治在左，其臟在右脅、右腎之前，並胃著脊之第九椎，經所謂生於左者，蓋言肝所生之氣在左，非肝之部位在左也，肺生於右亦同，不然何以不曰居於右，而曰生於右，不曰居於左，而曰生於左乎？故曰診脈分部左右，亦從其氣化而分耳，肺著脊之第三椎，肝著脊之第九椎，脊居背中央，是著脊之肺肝亦居中矣。部位固分高下，不分左右也，至於脾附第十一椎，子以為脾低於肝，子實未知「附」字之義耳，附者，系所系之處也。肝系甚長，上連心包絡，故稱厥陰經，繫著脊處，則為肝俞穴，系循腔子一片遮盡，是為膈膜，肝系下行，前連腹中統膜，而後連腎係為肝之根，通身之膜，內連外裹，包肉生筋，皆從肝系而發。脾長只五寸，以附九椎之肝，與附十一椎之脾較，明明脾在上，肝在下也。</p>
<p>又問曰：製藥之法者或助其力，或去其力耳。天地生成之氣味性質，人不能變也，如黃耆色黃味甘，本補脾氣，輕入肌肉，或蜜炙之助其補中之力，而去其入肌之力。大黃直攻卞之品，走而不守，或制之則性緩，以去猛烈之力。黃柏味苦大寒，其質似精，本入腎，或鹽炒之，以助其力速下也。乾薑味辛大熱，炮熟以助熱力，去其耗散之力。半夏法制以去其毒。附子泡淡，去燥烈之力。其餘製法或取其相須，相使，以入他經，皆此義耳。豈有熟者補，生者瀉，熟者溫，生者涼乎？柯琴注四生丸下云：「凡草木之性，生者涼，熟之則溫，熟者補而生者瀉。」其謬乎否乎？</p>
<p>答曰：雷公炮製之法或助其補力，或緩其猛性，或助其速性，或去其烈性，或助其熱力，或去其毒性，或引歸他經，各有不同，原不能概指為草木之性，生者涼瀉，熟者溫補也。柯氏之言固不足為訓，然亦未嘗無是者，亦不得盡指為謬也。即如地黃一物，鮮用大寒，胃弱者宜酌，生用則涼，清胃、導赤等散，皆用以涼血、養陰、退陽、瀉火。熟用則微溫而大補，六味、八味等丸，皆用以補腎而助君相之火，此固明明生涼瀉而熟溫補者也。要之，古人之言有非有是，學者當擇善而從，不得因一非而疑其百非，因一是而信其盡是也，此又不可不辨耳。</p>
<p>朱慶熙問曰：《靈樞·經脈篇》曰心包絡與上焦為表裡，《醫綱》中又云心包絡獨與三焦為表裡，生不知究與三焦為表裡，抑與上焦為表裡？張介賓曰三焦獨大，諸臟無與匹者，又曰孤府。乞夫子明以教我。</p>
<p>答曰：《靈樞·邪客篇》云，心者五臟六腑之大主，邪勿能容，故諸邪在心者，皆在心包絡，包絡者少陰，君主之護衛也。虞天民云，三焦者，指腔子而言，包羅五臟六腑之外，五臟六腑之總司也。至其相為表裡，則三焦為臟腑之外衛，心包絡為君主之外衛，猶之帝闕重城，故皆屬陽，皆稱相火，而其脈絡原自相通，允為表裡，故《靈樞·經脈篇》云，心主手厥陰之脈出屬心包絡，下膈、歷絡三焦手少陽之脈，散絡心包合心主。《素問·血氣形志篇》云，手少陽與心主為表裡。《難經·二十五難》云，心主與三焦為表裡。經言皆可為證，自無辨之餘地矣。至於張介賓所謂三焦獨大，諸臟無與匹而又曰孤府者，說非無據，實皆本於經，按《中藏經》云，三焦者，人之三元之氣也。總令五臟六腑營衛經絡，內外左右上下之氣，三焦通，則內外左右上下皆通，其於周身灌體，和內調外，營左養右，導上宣下，莫大於此，故曰獨大無與匹。《靈樞·本輸篇》云，三焦者，決瀆之腑，水道出焉，屬膀胱，是孤之府也，故又曰孤府。</p>
<p>又問曰：肝之形如葉有七，左三而右四，並居於左，今西醫言肝葉只四，而居於右，又曰居中，果在左，在右，在中乎？其數又若何？</p>
<p>答曰：按《難經·四十二難》云，肝葉左三葉，右四葉，凡七葉，又按《難經·四十一難》云，肝獨二葉。楊氏注云，肝者據大葉而言之，則是二葉，若據小葉而言之則多葉矣。按肝形，其大葉卻是二葉，而葉之下部分各分叉又為二，此中醫之所謂二，西醫之所謂四者，殆指此耳。至於所居部位，西醫曰肝在於右，中醫刺禁論曰，肝生於左，滑氏注云，肝之為臟其治在左，其臟在右脅右腎之前，並胃著脊之第九椎，然則肝明明在右，中醫早已言矣。刺禁論注，所謂生於左者，言所生之氣應於左，故所治亦當在左耳，不然何以不曰居於左而曰生於左乎？至於居中之說，尤不待辨。心在肺之下，膈之上，不偏左右而居中，此因盡人皆知也。然《素問·陰陽離合論》云：廣明之下名曰太陰，廣明者心太陰者脾也，太陰之前名曰陽明，陽明者胃也。太衝之地名曰少陰，太衝者衝脈也，少陰者腎也，少陰之上名曰太陽，太陽者膀胱也。少陰之前名曰厥陰，腎前之上，肝之位也。然則廣明居南方之正，太衝居北方之正，其餘者只言上下前後，而不言左右，是可知皆居於中也。所謂在右脅右腎之前者，指肝以下部分而言也。所謂並胃著脊之第九椎者，指肝之上部分所繫之處而言也，脊居背之中央，則肝實繫於中而偏於右上部分，居中下部分偏右耳。要之，肝臟所靠脊，前連膈上半，在膈下實不在左，所謂左者，不過應東方震木，而氣在左耳，故診脈分部左右，亦應其氣化而分，非以形而分也。</p>
<p>王士斌問曰：勞風病在肺下，乃足少陰腎經受病，與傷寒一日太陽表病迥不相同，何病理學教師云：二症皆是足太陽膀胱表病，生不明奧義，祈夫子明以教我。</p>
<p>名曰：《素問·評熱病論》云，勞風發在肺下，勞風者因勞傷風也，肺下者，在內則胸膈之間，在外則四椎五椎之間也，風受於外，則病因在內。王太僕云，勞謂腎勞也，腎脈從腎上貫肝膈入肺中，故腎勞風生上居肺下也，腎與膀胱為一合。又《素問·熱論》篇云，傷寒一日巨陽受之，巨陽者足太陽也，為三陽之表，而脈連風府，凡病傷寒者多從太陽始，故傷寒一日，太陽表病與勞風同為太陽表病也。</p>
<p>又問曰：西醫謂人之知覺在腦，中醫謂人之知覺在心孰非孰是。</p>
<p>答曰：皆是也，西醫謂腦筋主知覺運動，大腦在前小腦在後，中為中腦，有裂有回，分歧疊積，耳目口鼻皆通於腦，腦經分布又散行於臟腑肢體，凡知覺運動，皆腦司之也。至於腦汁是何物所生，西醫不知，而中醫則知，為腎所生也。蓋腎精生髓，由脊上行，以入於腦，是為髓海，在頭者名腦，在眾骨中者名髓，《內經》蓋分為二，故云髓會、絕骨，而後人與骨、脈、膽、胞合為六者，則亦分為二而言之也。故西醫治腦無的藥，而中醫則知臟腑經脈，皆交於腦，源流出入，治源，即所以治流耳。中醫云，人之有知覺，神主之也，神乃生於腎中之精氣，而上歸干心，腎為陰精，內含陽精，外護心臟之火，所以光明朗潤，而能燭物。蓋神即心火，得腎陰濟之而心中湛然，神明出焉。故曰心藏神，所以心血不足，則神煩，心火不足則神怯，風疾入心，則神昏也。腎生精，精生髓，精髓充足，而伎巧出焉。腦為髓之海，諸髓皆屬於腦，故腎生精化為髓，而遍身之髓皆上連於腦，凡事物之來，必先經耳目，經目入腦，經耳入腦，腦中之髓即將事物記之，久而不失，心一思之，而腦中之事物立現。蓋心火陽光，猶攝影之鏡也，腦髓陰汁，猶留影之藥也，先照於陽，而影附於陰，故中醫云，髓為月魄，心如日光，相照為明，而神其用者也。西醫云，腦前筋主知覺，腦後筋主運動，又曰，腦筋有通於心者，此皆辭異而旨同者也。至於西醫謂諸骨中髓與腦中者不同，蓋因解剖時見諸骨中之髓雜有油膜血絲，其形狀與腦髓不同耳，不知腦髓散走諸骨，皆穿膜附筋以入於骨，所以內雜膜油、血絲非真髓有不同也。</p>
<p>呂夢祥問：《靈樞·經水篇》云，地有十二經水，以應十二經脈，考十二經水皆在中國，不及東西洋列邦，查東西洋非無極大之流域，何故獨以中國為定名，若曰中醫則就中國而論，則二十八宿普天同然，若中外之人體質不同，所以有異，則今之西醫行於中國，何以多效？蓋古人不知，寰球之大以中國為天下，故有坐井觀天之說耳，且值此百學競爭，日趨進化之日，又當棄舊謀新，日異月改，否則優勝劣敗，難免於天演界中。蓋西洋萬事，以新發明為榮，故日以進步；中國萬事以守成規為榮，故日以退步，聞上海中醫學校，業已提倡廢除陰陽五運之說，我校自當急起直追，以仿行之。蒐羅歷代醫書，擇其善者而從之，其不善者而去之，是否請夫子垂察。</p>
<p>答曰：此蓋爾自坐井觀天，非古人坐井觀天也。夫以黃岐之聖，豈不知寰球之大，國外有國，而僅舉中國一國者，蓋教者舉一隅，望學者能三反耳。故《靈樞·經水篇》論十二經水，下文曰：此一隅之陰陽也，張氏注云，一隅者指中國一國耳。子見古人之舉一隅而既不能三反，反謂舉一隅者，僅知一隅，不知三隅，試問舉一隅者，坐井觀夭乎？不之反者，坐井觀天乎？至於發明新理，中醫自漢晉唐宋明清以來，名醫輩出，諸家所著各書汗牛充棟，何一非推廣經旨，發明新理，雖未必言皆中理，而醫學之進步推陳出新，何嘗不逐漸進步，若徒慕虛名，不求實踐，欲舍我所長而求人之短，盡棄其所學而學，但留中醫二字之名，則不為並其名而去之，專學西醫之為愈也，何必徒頂此中醫二字之虛銜哉？夫以中醫參考西醫則可（本校亦有西醫參考科），棄中醫之實學而冒中醫之虛銜則不可，且子所謂中醫學校有提倡廢除陰陽五運之說，蒐羅歷代名醫之書，擇善而從，不善而去者，此言尤駭人聽聞，吾試問：子所蒐羅之書為西醫書乎？為中醫書乎？若皆西醫書，則直改為西醫學校可也，何必徒冒此中醫之名；若系中醫書，則中醫歷代名家未有舍陰陽五運而言醫者，子既曰廢除陰陽五運，又曰蒐羅歷代醫書，此言實自相矛盾，至陰陽五運，不知者以為迂遠，知之者以為神明之用，正在於茲也。陰者質、陽者神，神即氣、質即形，五行之運，在天為無形之氣，在地為有象之形，在人為有形有氣，欲察人身之病，形與氣不可偏廢。西醫重解剖，只能驗死屍之形（人死則氣散）不能見生人之氣，中醫知陰陽五運，既能洞察生人之形，又能洞明生人之氣，此中優劣不辨自明，特恐子粗心浮躁，不肯細心研究，徒冒優者之名，泛鶩劣者之賣，則自求舍勝而處敗，吾實為子悲也。</p>
<p>又問曰：陰陽二字中醫之門面話，身半以上為陽，身半以下為陰，表為陽，里為陰，以言乎內，五臟屬陰，六腑屬陽，細繹前言，殊難洞悉底蘊，何以同此軀幹有身半以上為陽，身半以下為陰之別，何以有表為陽，里為陰之別？同居膜原之內，何以有五臟屬陰，六腑屬陽之分，陰陽二字愈沿愈多，甚至各臟分陰陽，各腑又分陰陽，求之真理無可證明，伏望夫子發宏論，一一條分縷析，以釋生疑。</p>
<p>答曰：子以陰陽二字為門面話，我以子此言為門外漢，天下惟門外漢不知內容之美富，但於門外徘徊，只看見一門面，故僅知門面而已，若欲執門外漢而告以內容，是猶執盲人而語美景，恐盲人未必能信，然吾終不忍不言，而使子終身徘徊於門外也。何謂陰陽？陰陽者即《周易》所謂兩儀也，太極生兩儀，兩儀生四象，四象生八卦，八卦生八八六十四卦，推而至於一名一物，無一能逃陰陽二字之中，散則為萬殊，合則為一體，此《易》理也。醫理通於《易》理，故醫者不能廢陰陽以言學，但此只可為知者道，不足為門外人言也。今子既有問吾，且就至淺至顯者言之，姑為盲人引路，至於能入門與否，權在學者自操，我不能強也。子雖不知陰陽，子豈不知明暗乎，一日之間，自朝至暮，明也，自晚至曉暗也，暗即陰，明即陽，此固盡人知之者也。身半以上嚮明，身半以下向暗，表在表面嚮明，里在裡面向暗，五臟屬於里，故向晴，六腑屬於表，故嚮明。《六微旨大論》云：天樞以上天氣主之，天樞以下地氣主之，人身應天地，故人之腰，猶天之樞，腰以上天氣主之，故身半以上為天為陽；腰以下地氣主之，故身半以下為地為陰。肝之腑膽也，故肝與膽相表裡；脾之腑胃也，故脾與胃相表裡；肺之腑大腸也。故肺與大腸相表裡；心之腑小腸也，故心與小腸相表裡；心包絡之腑三焦也，故心包絡與三焦相表裡；腎之腑膀胱也，故腎與膀胱相表裡。六腑皆表也，五臟皆里也，表為陽，里為陰，故六腑皆屬於陽，五臟皆屬於陰。此乃最淺最顯之道何待細繹，而始知底蘊，何至無真理可證明，此等極淺極顯者之理，子尚不能明曉，若語子以天地之大，萬物之眾，各有陰陽，子有不頸縮舌伸，嚇得汗流夾背乎？故吾不敢驟語子以高深，姑再另用至淺至陋之說，以為引喤，希望子有茅塞頓開之一日，試分條如下。</p>
<p>一西醫不言陰陽，專以形氣立說，抑知形氣即陰陽也，例如彼言氧氣能養物，取水銀、白礬、硝石燒之，氧氣即出，能養百果羹肉皆不壞，不知此即中國所謂陰氣也。中國以冰養果羹，即取其純陰不化，水銀等亦純陰，故多養氣耳。又化學言人吸空中氧氣而活，空中之氧氣即中醫所謂天陽也，然則同一言陰陽，不如中醫以陰陽兩字括之為言簡而意當。</p>
<p>一西洋天學言，空氣有冷熱相吸而成風，夏月熱帶在北，則風從南至，冬月熱帶在南，則風自北來。中醫曰：東方生風，風生木，南方生熱，熱生火。西學言風之南北是陰陽兩異也。中醫言風自東方是陰陽交應也，同一不外陰陽，不如中醫言陰陽之直捷通快。</p>
<p>一化學以鋼擊石，所生之熱與鋼煉磨下石屑與空中氧氣化合而燃，鑽木相磨亦與空中氧氣化合而燃，是氧氣雖生於金石，實無非陽氣，陽氣者無形之氣，金石者有形之質，質與氣即中醫所謂陰與陽也。</p>
<p>一格致學謂草木自根芽子核而生，泥土是物質腐爛而成，不知草木雖有根芽，非風噓雷鼓不發，泥土雖由腐化，非濕氣熏蒸不爛，是即中醫所謂風生木，濕生土也。</p>
<p>一西人謂水是氫氧氣所化，以冷玻璃罩之，則與空中氧氣化合為水珠，放水銀盆內燒之，復化為水，然則冷玻璃與水銀皆寒性物也，與中醫寒生水之義實相通。</p>
<p>以上各條即中醫所謂五運六氣。西人雖不言五運六氣之陰陽，而何一不在五運六氣陰陽之內，特西人言之而不能知之，中醫知之而兼能言之耳。然此皆至淺至陋之說也，若語高深，尚宜徐徐以待子之進步焉。</p>
<p>張豪問曰：五臟井、榮、腧、經、合共五十五穴，生聞之矣，維此五者有不依穴道次序而行，何也？例如足厥陰肝經井，大敦也，榮，行間也，腧，太衝也，而合則在曲泉，其間尚越有蠡溝、中都、膝關三穴，諸如此類，不勝枚舉，且此五穴其性質是否盡同，抑是各異？再此五穴與吾人之身體有無特別之關係？乞夫子垂教焉。</p>
<p>答曰：此五者不依穴道次序而行，卻是性質不同，卻是與吾人身體有特別之關係也。《靈樞·九針十二原》篇云，經脈十二，絡脈十五，凡二十六氣，以上下所出為井，所溜為榮，所注為俞，所行為經，所入為合。二十七氣者，即經脈十二，絡脈十五，合而為二十七也。經所謂以上下者言二十七氣，藉此井、榮、腧、經、合諸穴以行上下也，此即子所謂特別關係耳。其始出之穴為井，井者為山下之井，泉始出，氣正深也，水從此而流則為榮，榮者急流小水也，又從此而注則為俞，腧者灌注而輸運之也，又從此經過之則為經，經者脈氣大成也，又從而有所會則為合，合者入合於內也。此非即子所謂性質不同者乎？惟出於井，流於榮，注於腧，行於經，入於合，始二十七氣由內而外，由外而內，循環不已，其關係於吾身者，豈淺鮮乎？是以不能與他穴同依次序而言也。</p>
<p>又問曰：夫肺主氣，心主血脈，而何以寸口尺脈屬於手太陰肺經，以之候全身之疾病，何也？人身十二經脈惟手太陰肺經能動，而他經則否，何也？凡耳門、囟項、腳股等處皆有動脈，其起止正與寸口相符，此是否即是肺經之脈，抑系另有別經也？胸口處以手捫之亦能跳動，其起止亦與寸口相符，且值競走之後或氣喘之時，其胸口處跳必速，而寸口之脈亦隨之而速，又何也？再此，胸口之跳動是否即是肺動？抑即俗語所謂心跳者，凡上諸端，願夫子開我茅塞。</p>
<p>答曰：此一言可以明曉也，肺朝百脈，寸口屬手太陰為脈之大會，故人身之動脈雖多，而獨取乎此也。《難經》第一難曰，十二經皆有動脈，獨取寸口以決五臟六腑死生吉凶之法，蓋以肺為諸臟上蓋，主通陰陽，故十二經脈皆會於手太陰寸口，十二經有病見於寸口者，知其何經之動浮沉滑澀，春秋順逆，可決其死生也。至於耳門、囟項、胸口、腳股各經均有動脈，皆不能與此同論，若競走跳動出於一時，由激而成氣使然也，更不可以同論矣。</p>
<p>又問曰：出嘗觀江湖外科打針者，其針深入而無血，又不甚疼痛何也？凡吾常人手足或皮膚偶被刀傷，則血必涔涔然，抑若全身無處無血者，而在善針者施之則又若處處無血者，是彼識穴道而常人不識穴道之別耳。然生於此端不能無疑，生嘗聞人言，凡周身之肉皆血脈行走，苟被阻滯者，則必癰潰，今觀此等穴針刺而無血，則此處之無血可知，既無血，則該處何以不癰潰？此所以敢問於夫子者也。</p>
<p>答曰：江湖外科之學，吾卻不知，但《內經》針法本有出血出氣兩法，出血者有血，出氣者無血也，《素問·血氣形志篇》云，「刺陽明出血氣」，因其多血多氣也；「刺太陽出血惡氣」，因其多血少氣也；「刺少陽出氣惡血」，因其多氣少血也；「刺太陰出氣惡血」，因其多氣少血也；「刺少陰出氣惡血」，因其多氣而少血也；「刺厥陰出血惡氣」，因其多血少氣也。因血氣之多少，以分別出血出氣，放出血者有血，出氣者勿使其出血耳。</p>
<p>呂夢祥問曰：飲酒雖云衛氣先行皮膚，先充絡脈，衛氣既平始及經脈，然世界上有一種人往往飲酒甚多，而麵皮並不發有紅色，絡脈經脈似若不飲酒之人一般，所飲之酒化於無何有之鄉，其故究安在哉？</p>
<p>答曰：經云，飲酒者衛氣先行皮膚，先充絡脈，是以面先赤而小便獨先下，此蓋指普通體氣而言也。他若偏陰偏陽，或虛或實，臟腑經絡各各有倚於一偏者，或此虛彼實，此實彼虛，體氣遂因之而異，飲酒後因體氣之各異，遂各走各經，自不能一概而論，經所言者常也，子所見者變也，豈可拘執不化乎？</p>
<p>又問曰：竊觀手太陰肺脈起於右寸氣口，手少陰心脈起於左寸氣口，何以《靈樞·經脈》篇經絡之辨一章曰，氣口者手太阻之兩脈口也，究竟肺脈候在左寸氣口乎？亦候在右寸氣口乎？抑亦候在兩氣口寸脈乎？其確定部位在何處也。</p>
<p>答曰：《靈樞·經脈》篇經絡之辨一章所以辨明經脈、絡脈之隱現不同也，彼所謂見於氣口者，蓋為十二經脈之穩而不可見，非比十五絡脈之顯而見，欲知其虛實，須辨手太陰之兩脈口，故曰經脈者常不可見其虛實也，以氣口知之。張注云：氣口概寸關尺三部而言，人迎氣口則知兩寸口也，至於診法，古今卻有不同，古有頭面手足遍診之法，《內經》、仲景皆以人迎、趺陽合診，故《難經》三部九候與《內經》三部九候之法亦有不同，然頭面手足遍診之法其廢已久，今皆從《難經》寸關尺為三部，三部各有浮中沉為九候，亦去繁就簡之意耳。</p>
<p>又問曰：四君子湯治面色痿白，言語輕微，四肢無力，脈來虛弱，及內傷虛寒，凡一切因於氣虛者固為相宜，何以又曰，治飲食難化作酸，痞，悶，噦，嘔等症，夫飲食難化作酸痞悶噦嘔等症，系現有形邪實氣滯，若投以四君子，深恐中宮愈加壅滯，蓋益作脹，不思飲食等症叢生矣。然古人用藥必有深意，非井窺之見所能知其萬一也。但讀至此轉輾思維，頗有所疑，究竟氣虛兼飲食難化作酸，痞悶噦嘔等症，可否用此以治之？</p>
<p>答曰：四君子湯乃手足太陰、足陽明藥也，人參甘溫大補元氣為君，白朮苦溫燥脾補氣為臣，茯苓之甘淡滲濕瀉熱為佐，甘草甘平和中益土為使，氣足脾運，飲食倍進，則餘臟受蔭，以治飲食難化作酸，痞悶噦嘔等症，何嘗不宜？雖然亦當臨時斟酌，審其病情有無他症，及外邪夾雜在內，通權達變，隨時加減，方不誤耳。假如氣逆，則當加陳皮以理氣散逆，即名異功散；若氣虛有痰，脾虛鼓脹，再加半夏，名六君子湯；若虛寒胃痛，或腹痛泄瀉，再加砂仁、香附，名香砂六君子湯；若四肢不舉，則脾屬四肢，再加麥冬、竹瀝；若虛熱潮熱，身體倦怠，則用六君子湯加柴胡、葛根、黃芩、白芍，以治其熱，名十味人參湯；若五臟氣虛，七情兼併，結聚痰飲與衛氣相搏發為瘧疾，則用六君子湯加烏梅、草果、及薑、棗以和四樁而補脾，即名四獸飲，此外舉一反三，隨機應變，或加或減，均可以此類推，豈可執一而不化哉。</p>
<p>又問曰：臟腑之脈配於左右寸關尺，諸家聚訟紛紛，《內經》謂，左寸外以候心，內以候膻中，左關外以候肝，內以候膈，左尺外以候腎，內以候腹；右寸外以候肺，內以候胸中，右關內以候脾，外以候胃，右尺外以候腎，內以候腹。王叔和謂，左寸以候心與小腸，左關以候肝膽，左尺以候腎、膀胱；右寸以候肺、大腸，右關以候脾胃，右尺以候命門、三焦。李瀕湖謂，左寸以候心、膻中，左關以候肝膽，左尺以候腎、膀胱、小腸；右寸以候肺胸，右關以候脾胃，右尺以候腎、大腸。張景岳謂左寸以候心膻中，左關以候肝膽，左寸以候腎、膀胱、大腸；右寸以候肺中，右關以候脾胃，右尺以候腎、小腸；不知孰是孰非？</p>
<p>答曰：吾不敢妄非古人，吾且述古人之非古人者，為子道之，《素問·脈要精微論》云：「尺內兩旁，則季脅也，尺外以候腎，尺裡以候腹，中附上；右外以候肝，內以候膈，右外以候胃，內以候脾，上附上；右外以候肺，內以候胸中，左外以候心，內以候膻中。前以候前，後以候後，上竟上者，胸喉中事也，下竟下者，少腹腰股膝脛足中事也」。張氏云，此乃分明上以候上，下以候下，為本經不易之理，而王氏《脈經》乃謂心部在左手關前，寸口與手太陽為表裡，以小腸為腑，合於上焦，肺部在右手關前，寸口與手陽明為表裡，以大腸合為腑合於上焦，以致後人遂有左心、小腸，右肺、大腸之配，下反居上，其謬甚矣。據其所云，不過以臟腑之配合如此耳，抑知經分表裡，脈自不同，例如脾經自足而上行走腹，胃經自頭而下行走足，升降交通以成陰陽之用，又豈必上則皆上，下則皆下，而謂其盡歸一處那。且自秦漢而下，未聞有以大小腸取於兩寸者，扁鵲、仲景諸君心傳可考，自晉及今，乃有此謬，以訛傳訛，愈久愈遠，誤者可勝言哉，此之不經，雖出於《脈訣》之編次，而創言者謂非叔和而誰？以上皆張氏之言也，吾為子述之，子自能恍然焉。</p>
<p>又問曰：六經中手厥陰心包絡一經，而脈候配置部位並不提及，而反配在六經中之膻中，此何故歟？或心包絡一經受邪無從診察矣。</p>
<p>答曰：膻中即心包絡也，經云，膻中為氣海，是指肺而言也，又曰膻中為心主之宮城，是指心包絡而言也，膻者膈也，膻為膈包絡，居膈之中故曰膻中，胸下一層膈膜後著脊，左右連筋，骨盡處中連胸之鳩尾，即膻是也，膻之下層通腹中，膻之上層為胸內之薄膜，連心系名包絡，又名心主，包絡是心外衛，膻中是包絡外衛，究膻之根，附脊骨與肝系相連，而下乃連及腎系，是三焦少陽所發出而布於膈也。</p>
<p>又問曰：陰虛陽盛火亢咯血一症，講義云，用四生丸以治之，閱陳修園、張景岳輩用八味丸、鎮陰煎以治之，內皆有附子、肉桂之辛熱，謂龍雷之火得水而愈熾，惟桂附辛熱之品而取其引火歸原，導龍入海之義，同一是病而寒熱溫涼大相懸殊，此何故歟？</p>
<p>答曰：用四生丸以治咯血者，所謂急則治其標也，用鎮陰煎八味丸以治咯血者，所謂緩則治其本也。陰虛陽盛，非滋陰不為功，陽盛火亢非引火歸原不見效，此治本之一定理也。然急則治標，不得不用四生丸，以暫遏其妄行之血，故下文云，如多用則反有傷，蓋血逢寒則凝，若過用寒涼，則凝不散、新不生，反致害矣。語云：醫者理也，診者審也，醫生治病總當審病察理，隨機應變，如膠柱鼓瑟，拘執古方，偏於涼，偏於熱，未有不誤也。</p>
<p>余偉問曰：《素問·病能》篇曰：氣逆者，人迎甚盛，甚盛則熱，人迎者胃脈也。考人迎穴亦胃陽明經之脈，通胃者右關也，《素問·五臟別論》曰：五味入口，藏於胃以養五臟氣，氣口亦太陰也。又曰，五味皆出於胃，變見於氣口。《靈樞·根結篇》曰：五臟皆受氣，持其脈口，數其至也。又《脹論》曰：脈之應於寸口。此三者皆指寸關尺總稱之名也，三部分之三者，皆指寸部也。後人論人迎氣口，紛紛不一，至李士材獨辨左關人迎候肝風，右關氣口候胃食。又云，古人有兩法，兩手分之，左人迎，右氣口，一手分之，右寸肺人迎，右關脾氣口，此言與經冰炭相反，是乎非乎？</p>
<p>答曰：參考答呂夢祥所問脈配左右兩條，便知毋庸重言也，要之諸家之說發明經旨所未發者固多，而誤者亦不少，學者決擇宜精，方不至誤。昔馬元臺曰，嗚呼秦張王李朱諸先輩為後世業醫者所宗仰，而尚不能深得經旨，況其下乎？張介賓曰，馬子之言誠是，然觀其諸篇之注，則亦有謬者，元臺哀前人之誤，而余哀其誤，使後人更有哀吾誤者，所謂後人而復哀後人也。吾嘗曰，後人復哀後人，正醫學之逐漸進步耳。</p>
<p>又問曰：《靈樞·脈度》篇曰：「陰氣太盛，則陽氣不能榮也，故曰關；陽氣太盛，則陰氣弗能榮也，故曰格。」《難經·三十七難》曰，陰氣太盛，陽氣不得相榮也，故曰格；陽氣太盛，陰氣不能相榮也，故曰關。前聖後賢者多不同，當以何說為主？</p>
<p>答曰：《靈樞·脈度》篇所言，關格義甚顯明，本無疑竇，所謂陰盛陽盛者，言邪在腑則氣留之而陽勝，陽勝則陰病，陰病則血留之而陰勝，陰勝則陽病，故陰氣太盛則陽氣不榮而為關，關者關六陽之氣在外，而使之不能入於內也。陽氣太盛則陰氣不榮而為格，格者格六陰之氣在內，而使之不得出於外也，此固甚為明白，而《難經·三十七難》自首至末皆《靈樞·脈度》篇，原文關格二字，陰陽倒置，證之《素問·六節藏象論》，《靈樞·終始》諸篇經文，並無陽盛為格，陰盛為關之說，顯系《難經》之誤。徐氏謂《難經》傳寫之訛，亦甚有理，學者自當以《靈》《素》兩經為主。</p>
<p>又問曰：《靈樞·禁服》篇云，「寸口主中，人迎主外」，此說未解何意也，下文又曰，「春夏人迎微大，秋冬寸口微大，如是者名曰平人」。又終始篇曰，「人迎四盛，且大且數，名曰溢陽，溢陽為外格。脈口四盛，且大且數，名曰溢陰，溢陰為內關」。下文又以人迎盛瀉陽補陰，脈口盛瀉陰補陽，此以人迎應陽，寸口應陰者乎？</p>
<p>答曰：寸口主中者，寸口系太陰之脈，屬陰屬裡也；人迎主外者，人迎系陽明之脈，屬陽屬表也。歲半以上為陽，歲半以下為陰，春夏主生長，故為陽，秋冬主收藏，故為陰，陽時見陽脈，陰時見陰脈，是謂脈與時不相反，故曰平人。人迎四盛且大且數，名溢陽，為外格者，言陽盛而溢於外，所以格六陰之氣於內，而使之不得出也。脈口四盛且大且數，名溢陰，為內關者，言陰盛而溢於內，所以關六陽之氣於外，而使之不得入也，故人迎過盛當瀉陽補陰，寸口過盛當瀉陰補陽，此即人迎應陽，寸口應陰之義也。</p>
<p>張豪問曰：同身寸量經脈穴道，人有長短，有肥瘠，使短而肥者，或長而瘠者，則同身寸不能盡其用也，且同身寸以長短為比例乎，抑以肥瘠為標準乎？使其以長短為比例，則必不能合於肥瘠，以肥瘠為比例，則必不能合於長短，敢問如何？</p>
<p>答曰：《靈樞·經脈》篇云，骨為幹，脈為營，肉為牆。骨猶樹也，脈猶藤也，脈之於骨，猶藤之營附於干也。故欲量經脈穴道，當先量骨之長短，知骨之長短，即知脈之長短，而肉則不過如牆之外圍，其肥瘠與量度無關係也。故《靈樞·骨度》篇云，頭之大骨圍二尺六寸，胸圍四尺五寸，腰圍四尺二寸。結喉至缺盆四寸，缺盆至𩨗𩩲九寸，𩩲𩨗至天樞八寸，天樞至橫骨六寸半，橫骨至內輔骨一尺八寸，內輔骨上廉至下廉三寸半，內輔骨下廉至內踝一尺三寸，內踝下至地三寸，膝膕下至跗屬一尺八寸，跗屬下至地三寸。此皆指骨度長短而言。而肉之肥瘠無與也，不然何以胸圍反大於腰圍乎，蓋胸圍之四尺五寸，指胸骨而言，腰圍之四尺二寸，指腰骨而言，而胸腹間之肉不與也。即如《靈樞·脈度》篇所云，手六陽，從手至頭五尺，手六陰從手至胸三尺五寸，足六陽從足至頭八尺，足六陰從足至胸六尺五寸，蹻脈從足至目七尺五寸，督脈、任脈各四尺五寸，共合十六丈二尺者，亦但指經脈之長短而言，而於肉之肥瘠無關係焉。子既欲合骨度與脈度之長短，又欲合肉之肥瘠，所以惑耳。</p>
<p>又問曰：有患目疾者，其眼下簾腫赤隆起，不治且將出膿，吾鄉名之曰天貞，杭俗呼之曰偷貞（針），是雖小疾，然亦頗不便於事，故吾鄉治此症之法，如左目患此，則以線繫於右手無名指本節上，右目患此，則以線繫於左手無名指本節上，轉輾打七結，至次日即消矣。生屢患此疾而屢以此法治之，未嘗或爽也，有人謂此乃迷信，生謂此決非迷信，苟迷信斷不能奏效若是之靈，此殆有經脈相通於其間，乞夫子垂教焉。</p>
<p>答曰：此非迷信，乃古人治病之簡易法也，此等簡易法，古今方書所載甚多，不可枚舉，即如《醫方指掌》所載，治鼻衄不止，一法用線札中指中節，左孔出血札左指，右孔出血札右指，兩孔出血札兩指，血即止。治乳蛾喉痹法，以發繩札大指，針刺指甲縫邊出血，喉即寬，皆與此同類也。至於經脈卻有相通，夫名指本節之上，乃三焦液門、中渚之間也，是經之脈，起於關衝而上液門、中渚，直至目銳眥會瞳子髎循絲竹空而終，此即經脈相通之明證也。</p>
<p>鄒廷銓問曰：邪氣之客於人身，有同一時也，同一邪也，在症不同，脈象相反者，假如同傷於秋之燥而咳嗽，一為頭痛，惡寒，鼻塞，嗌乾痰，無汗，脈弦，苔白；一為口渴，發熱，目赤，齦脹，咽疼，痰黏，甚則喘而失血，脈洪，苔赤，二病傷邪則同，現症迥異，考之書中止言正化對化之別，並無載其正化對化之詳理，望夫子明示之。</p>
<p>答曰：正化對化乃運氣學中之一也，吾嘗言醫者不可不知運氣學，正為此耳。今子因運氣未講到此，故不能知，將來講到，自能恍然，今既有問，吾且與子言其大略，夫同一病，而春夏秋冬現症迥異者，時為之也，同一病同一時而現症不同者，氣為之也。何謂氣，氣即六氣之正化對化也，六氣分上下左右，而行天令十二支，分節令時日而司地化，然以六氣而加於十二支則有正化對化之不同，例如厥陰之所以司於巳亥者，以厥陰屬木，木生於亥，故正化於亥，對化於巳也。少陰所以司於子午者，以少陰為君火，當正南離位，故正化於午，對化於子也。太陰所以司於醜未者，以太陰屬土，居中旺於西南未宮，故正化於未，對化於醜也。少陽所以司於寅申者，以少陽屬相火，位卑於君火，生於寅，故正化於寅，對化於申也。陽明所以司於卯酉者，以陽明屬金，酉為西方金位，故正化於酉，對化於卯也。太陽所以司於辰戌者，太陽為水，辰戌屬土，然水行土中，而戌居西北，為水漸旺之鄉，是以洪範五行以戌屬水，故正化於戌，對化於辰也。正司化令之實，對司化令之虛，正化從本生數，對化從標成數，皆以言陰陽之盛衰合於十二辰，動靜消息者也。因正化對化之不同，故其為病也，傷邪則同，而現象迥異耳，附圖於下：</p>
<p>又問曰：十二經脈俞穴繁多，多者竟達至六十以上，少者亦不下十餘，讀《靈樞·本輸》篇以井榮俞經合代五臟之穴，井榮俞原經合代六腑之穴。例如足太陰脾經以隱白為井，大都為榮，太白為俞，商邱為經，陰陵泉為合，其餘之穴繁多，何以不配公孫、三陰交等穴，而獨配此五穴者何故，此種原因，生尚未明，乞夫子示之。</p>
<p>答曰：此非五臟六腑之俞，乃五臟六腑之井榮腧，經合穴也，五臟六臟之腧在背，此乃手不過肘，跗不過膝也，因手足為人之四末，人之四末猶樹之梢抄，人身血氣之出由臟腑而脈，由脈而絡，由絡而孫，絡出於四街，復由此井榮俞經合而入，故曰井者如山下之井，泉始出氣尚微也，榮者如急流小水，氣未盛也，腧者輸也，由此輸彼，氣漸盛也，經者行也，言行已大盛也，合者入也，言由此而入，合於內也，故人身血氣由內而外，由外而內循環不已，周而復始，如環無端也。五臟無原，遇原則腧代之，六腑有原，遇原腧並過之，此又五腧之合於五行者也，豈有別種原因哉。</p>
<p>呂夢祥問曰：脈理一節前賢論之詳矣，謂三部九候可以決死生，處百病，調虛實，窈思兩手之脈，左右只各一條，何以有六脈，何以有九候，且脈本系一血管通乎寸口，豈能以區區寸口別萬緒千端之病乎？</p>
<p>答曰：此言與前日子所問廢陰陽五運，及以陰陽為門面話等說同一出於西醫之言也。西醫不知五運，故以五運為虛渺，西醫不知陰陽，故以陰陽為門面話，西醫不知脈法遂謂人周身皆有動脈，何獨以手為診，不知中國古人創立脈法，先已自為問答，抑若逆料西醫必有此說，特設為問答，以代西醫言之者也。《難經》首問即曰：「十二經皆有動脈，獨取寸口，以決五臟六腑死生吉凶之法，何謂也？」答曰：「寸口者，脈之大會，……五臟六腑之所終始，故法取於寸口也」。此蓋言肺為華蓋，朝百脈，五臟六腑之氣皆上通於肺，寸口及肺之動脈與五臟六腑相終始，故法取寸口也。西醫不知脈法，謂脈管本系一血管，血出心管，行於周身，周身脈管皆生於心中血管，心體跳動不休，脈即因之而動，人身五臟何得只據血管為斷，遂可以決死生，處百病，調虛實？且曰，手脈只是一條，何得分出六脈？何得分為三部九候？且豈能以一寸口別萬緒千端之病乎？不知脈雖一條，有分散合聚隱現之別，寸口者，脈之大聚會處，為營衛相會之要區，故即此以診諸病也。西醫但知脈是血管，不知脈管內屬血分，脈管外屬氣分，氣附脈行，血管外即氣通也。西醫謂脈外有膜，名脈鞘，光滑而薄，分數層中有小孔如篩，按此即附脈而行之氣孔也。脈管只是一條，動則俱動，故遲數無部位之分，氣則上下異，其輕重也，所以浮沉有三部之別，從此類推，而氣管、血管，分診、合診，脈無遁情矣，故不在者以為渺無可憑，知之者以為確有可據也。</p>
<p>何錚問曰：三焦無狀，空有名，夫三焦之脈不宜候之右尺，今三焦既無形狀，何以候之右尺？經曰，「精理薄皮者三焦薄，密理厚皮者三焦厚」，又曰，上焦如霧，中焦如漚，下焦如瀆，此明明以上中下分三焦也，《靈樞·經脈》篇曰：三焦起自關元，而終絲行空，左右凡四十六穴。於此觀之則有名有狀矣，而《脈訣》謂無狀，空有名者，令人不解，幸請夫子教之。</p>
<p>答曰：參考左冠章所問三焦有形無形一條便知，毋庸重說也。</p>
<p>又問曰：女子二七而天癸至，任脈通，月事以時下，果矣。然未至二七任脈不通，任脈不通則奇經八脈行將少一脈，豈非成奇經七脈乎？請吾師示之。</p>
<p>答曰：所謂不通者，氣未盛，脈未通耳，非少一脈也。《素問·上古天真論》曰：「女子二七而天癸至，任脈通，太衝脈盛月事以時下」。夫天癸者，天一之氣也，任沖者奇經之二也，任主胎胞，沖為血海，氣盛脈通，故月事下，月事者，言按月而至，其盈虛消長應於月象，經之應月陰之所生也，世人每以精血為天癸，不知癸者天之水，干之名也，乾者，支之陽，陽所以言氣，癸者干之偶，偶所以言陰，故天癸者，言天一之陰氣耳，氣化為水，故名天癸，天癸先至，精血繼至，故經云，女子二七而天癸至，任脈通，太衝脈盛，月事以時下。男子二八，腎氣盛，天癸至，精氣溢寫，是必先陰氣足而後精血化，先至後至自有別耳。然則天癸者，人身之元陰，亦即所謂元氣也，人之未生，其氣蘊於父母，為先天之元氣，人之既生，則此氣化於吾身，為後天之元氣。第氣之初生，真陰甚微，及其既盛，精血乃旺，故女必二七，男必二八，而後天癸至，天癸至，然後陰血足，而精血化耳。子欲以八脈少一脈為七脈，誠千古未有之奇談也，何其愚哉！</p>
<p>又問曰：包絡即膻中，膻中即包絡明矣，然《靈樞·經脈》篇當以包絡為是，《內經》十二官以膻中為是，認包絡，而書中膻中不宜載，認膻中，包絡不宜載，今遍觀各書，包絡、膻中並載，閱之易起疑慮，究重包絡歟？重膻中耶？願夫子斷之。</p>
<p>答曰：膻中、包絡體雖一而用則二也，膻乃胸前大膈膜，膻中即胸中，胸中只有心包絡與肺，《素問·靈蘭秘典論》曰，「膻中者，臣使之官，喜樂出焉」。膻乃膈膜，何以能為臣使之官？何以能出喜樂？此蓋指膻中之心包絡而言也。經又曰，膻中為氣海，氣海者，氣之出納處也。膻乃膈膜，何以能司氣之出納？氣之出納在乎肺，所謂氣海主氣之出納者，蓋指肺而言也，包絡與肺均在膻膈之內，故皆可名膻中，但以心包絡而言，則膻中為心包絡之宮城，以肺而言則膻中為肺之氣海，故曰體雖一，而用則二也。又何所謂重不重乎。</p>
<p>又問曰：何以成男女，閱秘主衛生篇曰，男子欲火旺則成男，女子欲火旺則成女，其果然耶，抑誣言耶？</p>
<p>答曰：此說固非，即諸家所說亦多不當。北齊諸澄曰：男女之合，陰血先至，陽精後沖，血開裹精，精入為骨，而男形成。陽精先入，女血後參，精開裹血，血入為本，而女形成，此一說也。王太僕曰：男女有陰陽之質，不同天癸則精血之形亦異，此一說也。馬元臺駁之曰：男女之精皆可以天癸稱，今王氏以女子之天癸為血，則男子之天癸亦為血耶。李東垣曰：經水斷後一二日，血海始淨，精勝其血，感者成男，四五日後血脈已旺，精不勝血，感者成女。朱丹溪曰：精勝其血，則陽為之主，受氣於左子宮而男形成；精不勝血，則陰為之主，受氣於右子宮而女形成，此又一說也。丹家為天壬先至，地癸隨至，癸裹壬成男；地癸先至，天壬隨至，壬裹癸成女，壬癸齊至成雙胎，一遲一速不成胎，此又一說也。然而以上諸說，紛紛不一，實則皆非也。夫乾坤之氣，通在中和，故天地位而萬物育，人能寡欲清心，得天地中知之元氣，不特所生多男，抑且所得之男佳而多壽，否則不特所生多女，即所生之女亦劣而多夭也。</p>
<p>又問曰：天地化物，造物好生，小兒本無病也，其後有原急驚者，有原慢驚者，此種奇疾，甚至性命不保，莫非天付之乎？或者人自為耶？亦乞夫子明以教我。</p>
<p>答曰：小兒雖無七情六慾，積痼癡頑之病，然而外感風寒，內傷飲食，以致驚風吐瀉，及寒熱疳癰之病，皆不能免，此幼兒一科，為醫者所以不能不學也。至於命之夭壽，雖定於天，而斡旋造化，起死回生，未嘗非醫生之天職，古人名之曰啞科，以其言語不通，病情難詢，故曰：「寧治十男子，莫治一婦人；寧治十婦人，莫治一孩子。」此蓋甚言幼科之難也。然而小兒致病之原，不外風寒飲食，凡外感者，有表證而無里證，為發熱，頭痛，拘急，無汗，或因風搐搦之類是也。內傷者只有里證而無表證，為吐瀉，腹痛、脹滿、驚疳積聚之類是也。熱者必有熱證，如熱、渴、煩躁、秘結、癰瘍之類是也。寒者必有寒證，如清冷吐瀉，無熱，無煩，噁心，喜熱者是也。所病惟此數種，而其臟氣清靈，隨撥隨應，苟能確斷其症而治之，一劑即可見效，否則虛實不辨，審斷不確，妄行攻擊，則嫩弱之體質，未充之氣血，柔脆之臟腑，略受傷殘，萎謝立見，亦一劑可以送命也。庸醫殺人，而欲歸咎於天也，可乎哉？此學醫者所以不可不知也。</p>
<p>樓餉周炳章問曰：考寸關尺三部之脈，俱在肺脈之一經，何以此脈各有所候於臟腑，豈各臟各腑之氣血行至此而竟各自絕然灌注耶，是竊有疑焉，願夫子明教之。</p>
<p>答曰：《難經》第一難曰，十二經中皆有動脈，獨取寸口以決五臟六腑死生之法，何也？然，寸口者，脈之大會，手太陰之動脈也，人一呼脈行三寸，一吸脈行三寸，呼吸定息，脈行六寸，人一日一夜，凡一萬三千五百息，脈行五十度，周於身，榮衛行陽二十五度，行陰二十五度為一周，會於手太陰寸口者，五臟六腑之所終始，故法取於寸口也。夫榮氣之行，始於手太陰肺，終於足厥陽肝，而復至手太陰肺，衛氣之行，晝行於陽，夜行於陰，各行二十五度而復於肺，而營氣衛氣大會於肺，蓋五十度而陰陽之數已行盡，而營衛皆會於肺，故名大會，而與臟腑相終始也，因其會於肺，所以肺脈可診臟腑諸病耳。且肺為華蓋，五臟六腑之氣，皆熏於肺，則肺脈可以診知各臟腑之病也，不亦宜乎。</p>
<p>張沅問曰：岐伯有云，女子七歲腎氣盛，齒更髮長，二七而天癸至，任脈通，太衝脈盛，月事以時下，故有子，但婦人年未至七七而天癸絕，竟致不孕者，世醫以為血枯，是乎，否乎？</p>
<p>答曰：經云，女子二七而天癸至，七七而天癸絕，有子無子即判於斯，此乃天地陰陽消長盛衰之常理也。至於未至七七，而天癸絕，不能孕，卻是血枯所致，然病不一端，或由氣道逆而不行者有之，精血敗而不行者有之，或由鬱怒，或由積勞，或由六淫飲食，或由外感內傷，或由七情六慾，或由於血氣方長縱情虧損，或由於精血未滿，先已斫傷，卒至精血日涸，而衝任氣竭者亦有之，種種病因不一而足，似不可以血枯二字盡之也。為醫者，苟審病不精，則用藥謬誤，後患可勝言哉！</p>
<p>又問曰：三焦何以為孤府？</p>
<p>答曰：參觀答左冠章問三焦有形無形，朱慶熙問心包絡與三焦為表裡二條便知，毋煩重說也。</p>
<p>又問曰：婦人年不逾五七而天癸不至，腹中結塊似孕而實非孕，有時能動，動時腹作疼痛，每易致病，世醫以為血不足，皆以活血之劑治之，不能應效，此病當以何法治之？</p>
<p>答曰：同一病而原因不同，病之現狀不同，豈可懸擬治法，然子既有問，吾姑舉一端與子言之。吾昔年在武康曾治一婦人，繫上柏人，年二十餘歲，夫死年餘，經停腹漸脹大，及八九月之久，腹大如懷孕十月滿足者，人皆疑以為孕，遍就各醫，未能決其是否，來就余診，余曰：此非孕也，腹中有一物大如胎，而狀非人形，在腹中能動，出腹便不能動矣，此乃由經行時鬱怒所致，而淤血結成也，眾皆疑吾言為誑，惟患者點頭曰，先生能使我出此物乎？吾曰：物可出，但恐命不能保，奈何，患者曰，寧死不怨。余因細察其脈象，並觀其面色，聽其聲音，知其病雖深而元氣尚足，斷定尚不致死。乃用猛攻之劑，並囑其服後防血崩，宜留意，是夕夜半，腹陣陣作痛，如臨產，五更，血崩其物隨血滾下，形狀顏色確肖一極大豬肺，惟獨少氣管耳，乃一大血塊也。於是群疑皆釋，而患者來復診，又服藥調理而病遂愈焉。但此等症候，必須審證精確，知其虛實，方可用藥，否則失之毫釐，謬以千里矣。</p>
<p>駱祖馨問曰：組織學所為穴道者，其位置不過言距某處幾寸幾分為某穴，復自某穴距幾寸幾分為某穴，今夫人之年齡有長幼之分，身體有長短之別，則穴道之位置，其必有相差之異，雖然幾寸幾分者言距離之大約也，假令人之長者其臂長一尺六寸，短者之臂，其長一尺二寸，若一臂間有甲乙丙丁戊如是五穴，其距離均系三寸之數，則臂之長者，固三五十五寸計之，有餘一寸矣，今臂之短者則三五十五寸計之，不足二寸矣，此同身寸之所以適用也，然如余之身短與同學中之身寸長者，以同身寸較之，反余之同身寸較彼為長，是則同身寸亦不盡適用，此外尚有他法以量之乎？</p>
<p>答曰：量穴之法，原不僅同身寸，同身寸特其一耳，其他有非同身寸所能適用者，量法甚多，有用尺量者，有用草量者，尺量則有夏尺、商尺、周尺、鈔尺、銅尺、曲尺、黍尺之別。黍尺中又有縱黍、橫黍、斜黍之分，更有非尺量所能適用者，則用草量，草量者三角形量法也，《素問·血氣形志篇》曰：欲知背俞，先度其兩乳間，中折之更以他草，度去半已，郎以兩隅相拄也。乃舉，以度其背，令其一隅居上，齊脊大椎，兩隅在下，當其下隅者，肺之俞也。復下一度，心之俞也。此即三角形草量之法耳，子只知同身寸而不知其他，所謂坐井觀天，而以天為小者也。</p>
<p>又問曰：夫人身之血脈盡日流行不息，若一處之血氣停滯不動，則此處之肌肉麻木，今如吾人終日坐於座上而不行動，則兩足之肌肉麻木難耐，蓋吾人干夜間睡時，人亦眠而不動，何以肌肉不麻木乎？</p>
<p>答曰：臥豈可與坐比哉，長坐而少運動，則血氣凝滯，不能流行周身，故足中肌肉麻木，若睡時則人雖不動，而血氣流行如環無端，故《靈樞·營衛生會》篇曰：「夜半而大會，萬民皆臥，命曰合陰」。又曰，「壯者之氣血盛，其肌肉滑，氣道通，榮衛之行，不失其常，故晝精而夜瞑。老者之氣血衰，其肌肉枯，氣道澀，五臟之氣相搏，其榮氣衰少而衛氣內伐，故晝不精，夜不瞑」。然則夜間之能睡，正以徵血氣之盛，夜間之不能睡，正以徵血氣之衰也，夜間之臥與日間之坐，雖同一不動，而豈可以一概論，何真愚哉！</p>
<p>余偉問曰：人參一味，東垣言補氣補陽，謂氣為陽，此至理也，以後諸家皆云，純陽之性，回陽之藥。陳修園力辨補陰養陰，謂味重干氣，屬陰，此亦至理也。觀仲聖白虎加人參湯，治若吐，若下，大汗出後渴不解，用之補氣救液也。四逆加人參治汗下亡血者。經曰，血氣異名同類，奪汗者無血，奪血者無汗，故加參補氣，即救血也，其餘皆汗、吐、下利、亡血後而加之，未有回陽之用，而諸家言參能回陽，其說有誤乎？生按人參味甘，入脾，氣平，入肺子母相生，肺為生氣之源，故肺得補氣充矣，肺為陰中之陽，人參即陰中之陽藥也，敢問是否？</p>
<p>答曰：所見極是，惜乎子只知脾為肺之母，肺為陰中之陽，不知水為氣之母，氣為水中之陽耳，按人參一物，或謂補氣屬陽，或謂生津屬陰，或謂回陽，皆因但論氣味而不究人參所由生之理，故不能定其性耳。考人參古生上黨，故名曰黨參，今生於遼東樹林陰濕之地，又有人種者，亦須在陰林內植之，夫生於陰濕，秉水陰潤澤之氣也，故味苦甘，而有汁液，發之為三椏五葉陽數也，此苗從陰濕中發出是由陰生陽，故於甘苦陰味之中饒有一番生陽之氣，此氣可嘗而得之者也，人身之元氣由腎水之中以上達於肺，生於陰而出於陽，與人參由陰生陽，同一理也，所以人參大能化氣，氣化而上出於口鼻，即是津液，人參生津之理如此，非徒以其味而已，即以氣味論，甘苦中含有生髮之氣，亦只成為由陰出陽之氣味耳，須知人參不生於東南而生於北方者，此正人參所由生之理也，不究及此，尚難得人參之真性，何以故，蓋北方屬水，於卦為坎，坎卦外陰而內陽，人參生於北方，正是陰中之陽也，坎卦為水，天陽之氣，皆發乾水中，譬諸西醫所用之蒸溜器，以火煎水，則氣出，而氣者著於物，又復化而為水，知水為氣之母，氣從水而出矣，人身腎與膀胱屬水，水中含陽，化氣上行出於口鼻，則為呼吸，充於皮毛，則為衛氣，只此腎與膀胱水中之陽，化氣而充周身者也。故《內經》曰，膀胱者，州都之官，氣化則能出矣。此與天地水中含陽，化而為氣，以周萬物，本屬一理，水在五行屬北方，人參生於北方，秉水中陽氣，故與人之氣化相合，故大能補氣，此即所謂水為氣之母，氣為水中之陽也。</p>
<p>又問曰：《本草經》白芍，味苦平無毒，主治邪氣腹痛，除血痹，破堅積，寒熱，利小便，止痛。未有言補，而宋元以下諸家本草皆言味酸，收陰氣，斂逆氣，和血補陰，與《本草經》大相反，觀仲聖桂枝湯解表之劑，取其平入肺泄邪氣，取其苦制桂之過辛，小建中湯治腹中急痛，取其味苦為君，疏脾中之邪氣，泄腹中之淤，以合《本草經》之旨也。生入肆中試嚼之，果苦而無酸味矣，而宋元以下諸家皆變苦為酸，其故何耶？又陳修園曰張隱菴言，赤芍、白芍花異根同，其實是花赤白分之，其根同也。余見土人採藥，囊中不知何物之根，詢之云，肆中所售之赤芍即此也。生觀藥肆之赤芍、白芍果大異。陳氏言赤芍不可用，夫子以為可用乎？</p>
<p>答曰：按《本草經》云，味苦平無毒者，因神農嘗草曰：苦也。宋元以下諸家言味酸者，因雷公有味酸之說也。其實味苦而不酸。至於赤白芍謂花異根同說，實有誤，夫赤芍、白芍之分，實不在花之顏色，而在草本與木本，白芍即草芍藥，赤芍即木芍藥，草芍藥色白而多脂，亦名金芍藥，木芍藥色紫而多脈，花大而色深，形如牡丹，故俗呼為牡丹，而實非牡丹也。子所見為大異者，蓋白芍系草本，赤芍系木本也。陳氏所謂赤芍不可用者，蓋指草本者而言，非指木本者而言也。</p>
<p>王廣蔭問曰：《營衛生會篇》云：「衛氣行於陰二十五度，行於陽二十五度，故氣至陽而起，至陰而臥。」然則人往往日間投入睡鄉，亦成好夢，不卜何氣使然？豈人臥時衛氣則行於陽乎？若然，則無日夜之分矣，敢請。</p>
<p>答曰：衛氣之行關於日夜，非關於臥不臥也，所謂氣至陽而起，至陰而臥者，指日起夜臥者而言，非指日不起，夜不臥者言也。人在日固當起，在夜固當臥，如陰陽反覆夜以當日，日以當夜，不特衛氣不能分陰陽而行，即營氣亦不能循經而行，且營衛二氣，又何能相會合，久而久之未有不致病，而不得盡期而死也。故《靈樞·營衛生會》篇云：「壯者之氣血盛，肌肉滑，氣道通。營衛之行不失其常，故晝精而夜瞑；老者之氣血衰，肌肉枯，氣道澀，其營氣衰少而衛氣內伐，故晝不精，夜不瞑」。然則，老人之晝不精，夜不瞑者，血氣使然，限於天也，壯者之夜不臥而日臥者，非血氣使然，戕於人也，戕於人，有不病且夭乎？</p>
<p>余偉問曰：藥之相惡、相畏、相反，《神農本草經》以下至漢唐皆無此言，而後人創此說而令學者之多惑。生以為不然，言人參畏靈脂，如人氣虛有血積，則當用靈脂破積，人參固氣，豈不可同用乎？言黃連惡菊花、玄參，如喉瘡熱極等症心腎有實火者，同用之，有何不可乎？古人往往以相反等藥同用之如神者，究竟如何？敢請夫子明示之。</p>
<p>答曰：此說《本草問答》中早已有人論過，吾且為子述之。問者曰：本草明言十八反，十七忌，十九畏，宜恪守否？答者曰，性之反者如水火冰炭之不容，故不可同用，然仲景有甘遂、甘草同用者，又取其相戰以成功。後人識力不及，總以不用為是。至於相畏可不必論，相忌亦難盡拘，然服麻黃、細辛忌油膩，服蜜與地黃忌蔥白，服黃蠟忌雞肉，此皆大不宜者，皆所當忌，不可不知。以上所言，皆前人之說，非吾所創，總之用藥如用兵，或相戰以成功，或前人已經驗或深知兵之性質，決定無畔潰之虞，可預操必勝之權，然後兵可用而績可奏，若欲以行險徼倖，輕於嘗試，作孤注一擲，禍即隨之矣，可不慎哉！</p>
<p>又問曰：古人立方原為後人之規矩，立言原為後人之宗師，柯琴解四生丸，言四味皆清寒之品，豈非沒制方之規矩耶？生按四生丸取生地甘寒色黑，入腎，清志中之火，壯水精上行交於心，其質似血，入血涼血，取荷葉苦寒一莖，從水中直上通於心，清君火以調榮，取柏葉苦平入肺清金，以調衛，榮衛調和，水火交通，血涼而不上逆，吐自止矣，蓋三味皆寒滯之品，妙在艾葉一味，辛苦大溫，芬芳純陽，能走三陰，和之以導諸藥，領諸血，各歸其經。皆鮮用者，取元汁，是草木之血，血入血也，此方製法之神妙也。經曰：急則治標，緩則治本，故立此方，暫時止吐衄之血也，此意義是乎？誤乎？</p>
<p>答曰：非也。夫彼曰凡草木之性，生者涼而熟之則溫，此言固不足為訓，既用一凡字則所有草木均指在內，卻不免言之太過，但以此方而論，四味固皆清寒之品也，子但知生地涼，艾吐溫，而不知生地熟之則溫，艾葉生用則涼也，生地鮮用大寒，生用涼血，熟用微溫，艾葉熟用則熱，生用則寒，《本草綱目》亦載有生寒熟熱之說，而子未及見此，遂妄議前人之非，此少見者，所以多怪也。夫艾名冰臺，亦名醫草，所以名為醫草者，以其得火而能灸病，所以名為冰臺者，以其得冰而能取火也，柯氏所謂四味皆清寒之品者，蓋指四味皆生用而言也，故下文曰，取其生者而搗爛為丸，所以全其水氣，不經火煮，更遠於火令也，至於急則治標，緩則治本，此方可暫用，不可多用，吾已與呂生言之詳矣。</p>
<p>又問曰：生脈湯者孫真人制此方，為暑月而設，蓋暑熱傷氣，氣傷則榮衛不固，不固汗出而亡液，氣短，倦怠，口渴作矣，以上之症，皆當補氣救液，經曰，虛則補其母，故取人參味甘微寒，入脾補土生金，以為君臣，以麥冬甘平而潤，入肺，瀉火清金，其生用十二枚，有十五十六枚，似人之十二經十六絡能周行經絡，調五行相從道。人參補諸經之氣，佐五味子重於酸味入肝，斂風木之浮火，其色赤黑，五味皆俱，得麥冬和之，以入五臟，收斂耗散之真氣，氣斂則汗止而渴止矣，三味合之，補氣生津之劑，孫真人未言生脈，以後諸家因名誤解此方能生脈，生見時醫往往遇陽脫無脈，用此方加味治之，殺人可數乎？望夫子正之。</p>
<p>答曰：此蓋由於子學力淺薄，只知其一，不知其二也。在時醫不問何病，遇脈絕輒用此藥，固屬執一之見，但彼之所以用此方者，亦未嘗無因也，雖此方主治本為暑月熱傷元氣，氣短，倦怠，口渴，多汗，肺虛而咳者所設，而方中皆手太陰少陰二經之藥，肺主氣，肺氣旺則四臟之氣皆旺，虛故脈絕氣短也，肺朝百脈，心主脈，補肺清心，則氣充而脈復，名之曰生脈，非無故也。脈主氣，心主血，是方以人參大補肺氣，麥冬潤肺清心，五味收斂五臟耗散之氣，凡遇氣短脈絕而將死者，是方實有起死回生之妙用。故汪訒庵注是方曰：「人有肺絕將死者，有此能復生之。其功甚大。」即此一言，可為明證。子以為只能治暑熱傷氣，不能生脈，識見即自淺薄，而笑時醫之謬，是猶五十步笑百步耳。</p>
<p>又問曰：《內經》候脈，三部詳明，而晉以下諸家各言一理，使學者惑而無入門之路也。生不敏，悟《內經》之旨，經以兩寸候心肺者位最高也，以心候左寸者以心為一身之君主，有四系發出，貫於四臟，心是陽中之太陽，故候左寸也，肺是陽中之太陰。刺禁篇云，肺氣生於右，故脈候之右寸也。以肝候左關者，蓋肝位雖下，肝之繫系於脾之上，又是陽中之少陽，為上下陰陽之中界，故以候關。《刺禁篇》云肝氣生於左，故候之左。脾是陰中之太陰，為胃消化穀氣，行津液陰土也，位居中屬土，故候之有關。腎是水精，刺禁云，腎部為里，位居直下，是陰中之少陰，腎有兩枚，故候兩尺。但言膻中與胃，不言大小腸、三焦、膀胱、膽與命門者，蓋胃者陽土也，存五味養五臟，化生萬物，與脾並居中州，故可定於脾部也。《刺法論》曰，膻中者，臣使之官，喜樂出焉。膻中即心包，心包居心之外為心之宮城也，心脈病即心包病，心不能受邪，故膻可定心部也。大小腸雖與心肺相表，其位居於下之小腹，病有從表入里，從里出表，上下焦之氣所分不可概指一定三焦者，上焦如霧，中焦如漚，下焦如瀆，豈可定一部乎？命門即腎，不必多分名也，膀胱合腎為表裡，與大小腸俱居小腹，如大小便之病，有在闌門閉塞，有在膀胱不化，有在腎氣不化，不可指定也。右寸言胸中者，候上焦之宗氣。兩尺言腸者，大小腸、膀胱皆在內，以候下焦之精氣。左關不言膽而言膈者，膽附肝之短葉屬少陽，是陰陽之中界，膈是上下之中界，候膈即可為膽，又候中焦之生氣也。生之意度如此，而後賢諸家以膻中、三焦、膀胱、大小腸、命門移上移下，配左配右，而沒《內經》之旨，生之疑一也。《難經》以明浮中沉候脈，其言初持三菽之重，與皮毛相得為肺脈者，謂肺經最高，為五臟之華蓋，肺氣為衛，其主皮毛也。如六菽之重，與血脈相得為心脈者，心居肺下，心氣為榮，其主血脈也。言如九菽之重，與肌肉相得脾脈者，脾居心肺之下，肝腎之上為中土，其主肌肉也。言十二菽之重，與筋相得，肝脈者，肝居脾之下，其主筋也，言重按之與骨相得，腎脈者，腎居直下，藏精生髓，其主骨也。此理盡是，而《脈訣》又不明此，獨主寸關尺，生所疑二也。男女平脈之所異者，是陰陽氣血之別也，如男子左手脈盛於右，女子右手脈盛於左，經曰：左右者陰陽之道路也，男為陽主左，女為陰主右者也。經曰：上竟上者胸喉中事也，下竟下者少腹肢膝脛中事也。上言寸，下言尺也。《海論篇》云，膻中為氣海，衝脈為血海，男子寸脈常旺於尺者，男為陽氣為主，膻中氣海在胸中，故脈應於寸也。女子尺脈常盛於寸者，女為陰血為主，衝脈血海起於胞中，在小腹，故脈應於尺旺也。生之臆斷如此，而戴氏言，《脈訣》背看之，以男左腎右命，以女右腎左命之說。褚氏倒裝五臟，言女心肺在下應尺，肝腎在上應寸。如此別之，人身臟腑一定之部位，豈可倒置乎？生所疑三也。以上諸疑皆因古人論說不同，各執一辭，使後學無所適從，願夫子開一正路，為學者入門而無誤焉。</p>
<p>答曰：所論各節言多而中肯者少，所疑三條，尚有理由，但子既欲我為學者開一入門正路，我對曰，宜從《難經》入門為正路，按《難經》三部九候之法，與《內經》三部九候之法不同，《內經》有遍診頭足之法，自越人變法而群趨簡易，古法遂廢，雖仲景尚有人迎、趺陽合診，而後世《脈訣》，皆托始於《難經》，去繁就簡，不可謂非得其要，《難經》所謂三部者，寸關尺，九候者，浮中沉，言三部各有浮中沉以為九候也。四難云：「呼出心與肺，吸入腎與肝，呼吸之間，脾也，其脈在中。浮者陽也，心肺俱浮，浮而大散者心也，浮而短澀者肺也。沉者陰也，肝腎俱沉，牢而長者肝也，按之濡，舉指來實者，腎也，脾者中州，故其脈在中，陰陽法也。」此蓋既以三部九候分部位，又以呼吸浮沉分五臟，法至精也。心肺在上部，出氣由之，故呼出屬心肺，一呼脈當二至，肝腎在下部，入氣歸之，故吸入屬肝腎，一吸脈當二至，呼吸之間，脾主中宮司出入，脈當一至。故呼吸定息，脈來五至為無病，若多一至則有一臟太過，若少一至則有一臟不足。又以浮中沉分別五臟者，言脈在人肌肉之中，輕按即見為浮，浮為外屬陽，心肺應之。浮而大散，其應在心，浮而短澀，其應在肺。重按乃見為沉，沉在裡屬陰，肝腎應之。牢而長者，弦之象屬肝經。濡而實者，猾之象屬腎經。脾者中州，故其脈在中，是陰陽適中之地也。以沉診肝腎，浮診心肺，中診脾胃，此即所謂以呼吸浮沉分五臟也。十五難云，春脈弦，夏脈鉤，秋脈毛，冬脈石，四時皆以胃氣為本，四時之變病，死生之要會也，言弦鉤毛石各見和緩為有胃氣，四時之變有太過不及，不得胃氣則可以知其病矣，此又言五臟四時之主脈皆歸本於胃氣也。九難云，數者腑也，遲者臟也，諸陽為熱，諸陰為寒，數則為熱，遲則為寒，蓋言腑屬陽，故數脈當應腑，臟屬陰，故遲脈當應臟。數則為熱，諸陽主氣也，遲則為寒，諸陰主氣也，夫以遲數分臟腑，猶未盡然。而數則為熱，遲則為寒，蓋有一定不易之理。脈之跳動出於心血之起落，屬脈管中血之所主，心主火，血虛火少，則動遲，血多火旺，則動速，脈之精大細虛皆脈管中事，當與遲數同斷。脈法要辨，脈管內是血分，脈管外是氣分，則診治自有分別矣。四難云：「浮者陽也，滑者陽也，長者陽也；沉者陰也，短者陰也，澀者陰也」。各以其經所在，名病順逆也，須知浮滑長為陽，沉短澀為陰，據此治病，已得其要，再分各經，以定順逆，例如腎脈宜沉而反浮，心脈宜浮而反沉則為逆，既明脈之定象，又言脈無定體，因經而分順逆，法最細也。至於五難云：「初持脈如三菽之重與皮毛相得者，肺部也，如六菽之重與血脈相得者，心部也，如九菽之重與肌肉相得者，脾部也，如十二菽之重與筋平者，肝部也，按之至骨，舉指來疾者，腎部也」。蓋以肺主氣屬皮毛，心主血屬經脈，脾主生化屬肌肉以及肝主筋，腎主髓之類，皆以氣化而分，非以形而分也。至於十九難云，男子生於寅為木陽也，女子生於申為金陰也，故男脈在關上，女脈在關下，是以男子尺脈恆弱，女子尺脈恆盛，是其常也，蓋言寅為木，木生火，又火生於寅，而性炎上，男故脈常在關上，而尺脈恆弱也。申為金，金生水，又水生於申，故女子脈在關下，而尺脈恆盛也，言簡而明，義精辭確。吾故曰：學者宜從《難經》為入門正路也，再參諸書，盡其奧矣。</p>

<h1>懶園醫語（卷二）</h1>

<h2>懶園居士傅崇黻語錄</h2>
<p>（浙江中醫專門學校學生記錄）</p>
<p>邵洧源問：昔者夫子答左生問十五絡云：陽絡陰絡即督脈任脈，考《難經·二十六難》云：「陽絡者，陽蹻之絡也，陰絡者，陰蹻之絡也」。豈陽蹻之絡，即督脈耶？陰蹻之絡即任脈耶？又考《靈樞·脈度篇》帝問蹻脈有陰陽，何脈當其數，伯答以男子數其陽，女子數其陰，當數者為經，不當數者為絡，如是言之經即絡也，絡即經也。在男子則陽經而陰絡，在女子則陰經而陽絡，《難經》陰陽兩泊之絡，皆加於十五絡中，豈陰陽兩絡而一人兼全乎？抑陰陽兩蹻各更有一經也？</p>
<p>答曰：《靈樞·經脈篇》以督之長強，任之尾翳，合十二經為十五絡者，蓋以督脈為陽脈之海，任為陰脈之海也。故《難經·二十三難》云：絡脈十五。滑氏注曰：十二經加陽絡、陰絡、脾之大絡為十五絡。亦但言陰陽而並不指為二蹻二維，當時因左生疑二維，吾故以督為陽，任為陰答之，亦宗《靈樞》之旨耳。至於《難經·二十六難》云：陽絡者，陽蹻之絡，陰絡者，陰蹻之絡。夫男子以陰蹻為絡，女子以陽蹻為絡，是十五絡又分男女矣。況陽蹻為足太陽之別，陰蹻為足少陰之別，十五絡中足太陽之別，既曰飛陽，足少陰之別，既曰大鍾，二蹻皆起跟中，上行併合，而濡目，其與《靈樞》經旨更相悖矣。故經釋云：《靈樞·經脈篇》明指十二經之別與督任及脾之大絡合為十五絡，皆有穴名及病形治法，此以二蹻當之，未知何出。要之，醫道之始，始自軒歧，軒歧之旨昭諸《靈》《素》，《靈》《素》之妙，精確無遺，後之紹此統者，孰能外其範圍？而世之所以紛紛者，實由《難經》始也。夫《難經》述《靈》《素》而作，其中能發明經旨者固多，而謬誤者，亦不一而足，學者當取其長，而棄其短，始勿為所惑也。至於脈度篇所云，蹻脈分陰陽，男子數其陽，女子數其陰，當數者為經，不當數者為絡，蓋言男子之宗榮注於太陽之陽蹻，女子之宗榮注於少陰之陰蹻，氣之所注者為經隧，氣之不榮者為絡脈耳。當數不當數即宗榮之注不注，注者為經，不注者為絡，非言陰陽二蹻各有一經，各有一絡也，其不能合十五絡也，更明矣。</p>
<p>壽能模問：《靈樞·衛氣篇》首節末三句：「下行陰分，復合於目，故為一周」之義，「下」字疑「上」字之誤。其「陰分」二字注傢俱謂是三陰之分，或謂是少陰之分，考《邢客篇》衛氣由陽入陰之處在足少陰分間，然邪客篇之由少陰分間而入者，是衛氣行陽度盡，將由少陰之分，內入於之五臟六腑也。按衛氣曰行於陽者，在皮膚之間，分肉之中，腠理部分，其夜行於陰者，在臟腑連綴之育膜也。行陽行陰非經脈之謂，以形身臟腑分別陰陽，即內為陰，外為陽之義，可於《痹論》見之。本篇之行於陰分者不過由此陰分上合於目，復由目循太陽部分而作第二度之周行耳。其一周者非五十度畢之，謂乃衛氣行諸陽部分一次也，夫以邪客之言，觀之衛氣苟行於足少陰之分間，即將由少陰而內，行於五臟六腑，若此陰分亦是足少陰，則衛氣行陽之時安保其不循少陰，而內入乎？既可循少陰而內入，則又何必上合於目，且少陰之脈雖起於足心，卻不上入於目，是以知本篇陰分二字不能因其足心二字遂認為足少陰也。蓋以本篇行陰上合於目二句觀之，則此陰分者乃由足轉輸於目之中道也。惟陰胦之脈，亦起於少陰，然谷之後故謂之少陰之別，上內踝循股陰，上腹裡，而入於目，衛氣由足返目之中，道其在此乎。況《內經》蹻脈之義，每與衛氣有關，如《邪客篇》，《大惑篇》所言，故生疑本篇陰分二字，為陰蹻也。不言陽蹻者，因陽蹻下行也，雖然足少陽之解亦不得盡非陰蹻，固亦少陰之別，不過須略示區別耳，是否有當？</p>
<p>答曰：子以陰分為陰蹻，極有見地，惟「下」字非「上」字之誤，所謂下行者，言下自少陰之湧泉穴，而行於少陰，然谷穴後之別也，經文每有此等文氣，不足為異。蓋少陰之別為陰蹻直上屬目內眥合陽蹻，而併合回還濡目，故曰復合於目也。昔通一子注此三句曰少陰之別，為蹻脈，蹻脈屬於目內眥，故復合於目，而交於太陽之睛明穴，此其明證也。至於衛氣之行於陽者，在皮膚之間，肌肉之中，腠理之分，行干陰者，在臟腑之募，原此說不獨見於《痹論》，即本篇張氏玉師各注，均有此說。張氏云：晝行於皮膚肌腠之間，夜行於五臟募原之內。玉師云：經言衛氣先行，皮膚先充脈絡是衛氣與絡脈相通也，衛氣大會於風府，日下一節，二十一日下至尾骶內行伏沖是衛氣外行於皮膚，而內行於經脈也，此言衛氣入於陽明之頷脈，是榮衛之行於經脈，外內又不可執一而論二說，於《靈樞》張馬合注中均有載及，想已見過矣。</p>
<p>又問：《難經》診法以寸關尺三部候之，謂寸口在關之前，高陽生指高骨為關，於是知寸口在於高骨之前。《靈樞·本輸篇》曰：「太淵，魚後一寸陷者中也」。「經渠，寸口中也。」夫魚後一寸陷中正在《難經》所指之寸部，若經渠則似更在太淵之後矣。而《靈樞》指經渠為寸口，則正在《難經》所指之尺部也，或謂《內經》之寸口指三部而言，《難經》之寸部專指關前之寸為主，然而細玩經文，其所謂「經渠寸口陷者中」一句，卻亦並未統指三部，抑又何也？</p>
<p>答曰：魚者肉也，魚際者穴也，手魚者肉與穴之通名也。經云：太淵魚後一寸，此魚字指魚際而言（經每有此等從簡之文），按仰面人形圖手部注云：手腕之前肥肉隆起處形如魚者，統謂之魚，又按十二經諸穴圖手太陰肺經注云：魚際在大指本節後內側陷中赤白肉際有散脈，從此穴出散於魚，太淵在掌後橫紋處，經渠在寸口陷中，故十二經諸穴歌中手太陰經分寸歌曰：「列缺腕後一寸半，經渠寸口陷中是，太淵掌後橫紋頭，魚際節後散脈舉。」以此為證。《靈樞》與《難經》尚不相遠，惟《難經》以關前為寸，關後為尺，《靈樞》正面人身手部注云：手掌後動脈高骨處曰關，關前後兩手動脈皆曰寸口。是《難經》之所謂尺者，《靈樞》亦指為寸口也，以關前關後皆為寸，則必以尺膚為尺矣。此古今診法之所以不同也，或謂《內經》之寸口，指三部而言，其說殆本諸此耳。</p>
<p>江廣智問：按十五絡《靈樞·經脈篇》明指十二經之別與督任之別及脾之大絡共十五絡皆有穴名及病形治法，而《難經》以十五絡為十二經絡，及陽絡、陰絡、脾之大絡也，與《靈樞·經脈篇》不同。曩日左生曾問及此，而夫子答以陽絡即督脈，陰絡即任脈也。然《難經》言陽絡，陰絡即陽蹻陰蹻，與督任有別，今以二蹻當之，未知所出，乞夫子垂教焉？</p>
<p>答云：所問與前日邵情源所問答左生十五絡一條大略相同，即取邵生記錄觀之，毋煩</p>
<p>牟孔昭問：人參本經微寒，而方書多謂甘溫大補元氣，陳修園則謂：經言補五臟，五臟屬陰，放人參補陰，而不宜補陽，力闢回陽之說，為害人非淺，敢問孰是？</p>
<p>答曰：古之所謂人參，即今之所謂黨參也，或曰性寒，或曰性溫，或曰味苦，或曰味甘，或曰補陰，或曰補陽，皆執一偏之見耳。夫人參氣味甘而微苦，為涼為溫，補陰補陽均無不可，全在醫生之妙用耳。其為用也，生則氣涼，熟則氣溫，味甘補陽，微苦補陰。氣主生物本乎天，味主成物本乎地，氣味生成，陰陽之造化也。涼者，高秋清肅之氣，天之陰也，其性降；溫者，陽春生髮之氣，天之陽也，其性升；甘者，濕土化成為味，地之陽也，其性浮；微苦者，火土相生之味，其性沉。其氣薄者，生降熟升，其味薄者，生升熟降。如土虛火旺之病，則宜生用，以涼薄之氣瀉火而補土，是純用其氣也。脾虛肺怯之病，則宜熟用，以甘溫之味補土而生金，是純用其味也。仲景云：病人汗後，身熱，亡血，脈沉滯者，及下痢，身涼，脈微，血虛者，並加人參。古人治血脫者益其氣，蓋血不自生，陽生則陰長，血乃旺矣。《素問》云：無陽則陰無以生，無陰則陽無以化。故補氣可用人參，補血亦可用人參，要在醫者之妙用耳。至於經言，補五臟者，五臟雖屬陰，然陰中有陽，味甘補五臟之陽，微苦補五臟之陰，欲補五臟之陰陽氣血，各用本臟之藥相佐，使以引之可也。</p>
<p>又問：黃耆世人皆謂補氣固表，生用發汗，炒用止汗。而陳修園力非之，並謂黃耆走表，領他藥達表，而止汗非黃耆自能止汗，請問黃耆是否固表，生炒是否異用？</p>
<p>答曰：黃耆不特補氣固表，實上中下三焦氣血表裡之藥。治氣虛自汗盜汗及膚痛是表藥，補腎臟之元氣是里藥，治咯血和脾胃是中州之藥，故好古曰：黃耆為上中下內外三焦之藥也。《靈樞》云：衛氣者，所以溫分肉，充皮膚，肥腠理而司開闔。黃耆能實衛氣，補三焦，故稱上中下內外三焦之藥。元素曰：黃耆補五臟諸虛，治脈弦自汗瀉陰火去虛熱，無汗則發之，有汗則止之，能發能止，全在醫家之善用，亦不必拘拘於生炒也。</p>
<p>又問天麥門冬皆謂止嗽消痰，而《本經》不言，又謂天冬補中有瀉，麥冬瀉中有補，則張隱菴又非之，敢問二冬止嗽消痰確有其效否？</p>
<p>答曰：二冬皆手太陰經氣分藥，而麥冬則兼入手少陰，天冬則兼入足少陰氣分，故嘉漠曰：天麥冬併入手太陰，去煩解渴止嗽消痰，而麥冬兼行手少陰，清心降火，使肺不犯邪，故曰瀉中有補。而天冬兼行足少陰，滋腎助元全其母氣，蓋腎主津液，燥則凝而為痰，得潤則化，治痰之本也，故曰補中有瀉。宗奭曰：麥冬治肺熱之功為多，其味苦，專泄而不專收，故瀉肺之伏火，然肺氣欲絕者，合人參、五味子為生脈散，又補肺中元氣之不足，此即瀉中有補之明證也。《列仙傳》赤松子服天門冬，齒落更生，發落復出，以其入足少陰經也，然亦入手太陰經氣分，此即補中有瀉之明證也。既補中有瀉，瀉中有補，則不止嗽而嗽自己，不消痰而痰自去矣。</p>
<p>又問：玉竹，李時珍謂不寒不燥，可代參、耆，故傳為補劑，無論寒熱燥濕一概投之，而張隱菴謂：古方治風熱外不他用，且陰病內寒，此為大忌，抑何說之從？</p>
<p>答曰：《本草經》謂玉竹主中風暴熱，故古方專用以治風熱，張穩庵之說本乎此也。時珍謂治寒熱痞瘧及一切不足之證，用以代參耆，不寒不燥，大有殊功，不止去風熱，並云古方治風熱外不他用者，實昔人所未闡也。按玉竹與黃精同類，根似黃精而小異，服食家亦用之，故黃精久服，能輕身辟穀，《稽神錄》有士家婢服之能舉身凌空若飛鳥者。玉竹雖不及黃精，然服之亦有輕身不老之效，然則時珍之說，非無稽焉。</p>
<p>又問：桑白皮，陳修園謂經無清肺利水之言。後人且謂生用大瀉肺氣，宜蜜炙之，然此藥忌火，焉可炙？其說可取否。</p>
<p>答曰：經云桑白皮補虛益氣，卻無清肺利水之說，然《別錄》謂能去肺中水，時珍謂長於利小水，乃實則瀉其子也。按桑乃箕星之精，為東方生氣之神，木忌火，而不宜炙，說亦有理。</p>
<p>又問：《婦人明理論》云：丹參一味，功兼四物，為補血涼血之品，女科之專藥，而《本草經讀》謂掩丹參之真功用，豈明理論之言，不足據乎？</p>
<p>答曰：丹參能治心腹邪氣，陽明寒熱積聚，破症除瘕，止煩滿，益氣，去心腹痼疾結氣，腰脊強，腳痹，除風邪留熱，風痹足軟，及百邪鬼魅氣作聲音鳴吼，定精養神定志，通利關脈，治冷熱勞骨節疼痛，四肢不遂，頭痛目赤，溫熱狂悶，及惡瘡疥癬，癭贅腫毒，丹毒排膿，止痛生肌長肉，治寒疝腹痛，小兒驚癇，身熱，入少陰厥陰，又能活血通心包絡，其功效不可盡述，原不僅破宿血，生新血，安生胎，落死胎，止血崩，帶下，調經脈，治血邪為婦科之專藥已也。但《婦人明理論》所言，系但就婦科一部分而論，故曰四物湯，治婦人病，不問產前產後，經水多少，皆可通用，惟一味丹參散，主治與之相同，蓋此散能破宿血，補新血，安生胎，下死胎，止崩中帶下，調經脈，其功大類四物，非謂丹參之效用，即盡於此也。</p>
<p>又問：貝母治痰嗽，陳修園謂大失經旨，且斥李士材貝母主燥痰，半夏主濕痰為臆說，然歟否歟？</p>
<p>答曰：貝母氣味辛平，經云：治傷寒煩熱，淋瀝，邪氣疝瘕，喉痹乳癰，金瘡風痙。原不僅治痰嗽，然而消痰潤心肺，未嘗無功。按貝母乃手太陰經藥，半夏乃足太陰足陽明經藥，若虛勞咳嗽，吐血咯血，當用貝母；脾胃濕熱，涎化為痰，久則生火，痰火上攻，當用半夏，然則士材所謂貝母主燥痰，半夏主濕痰者，亦非無因，特一系太陰經藥，一系陽明經藥，不可不知耳。</p>
<p>又問：芍藥，經云，味昔平，陳修園謂為攻下之品，「其言益氣者，邪氣攻淨，而元氣自益，非能補氣也。今人妄改酸寒，認為斂陰之品，殺人無算，試取芍藥嚼之，酸味何在」。誠然則四物湯等補方中不宜入芍藥矣，蒙竊疑之。</p>
<p>答曰：經云，芍藥氣味苦平，主治邪氣腹痛，除血痹，破堅積、寒熱，利小便止痛。未有言補者，故仲景桂枝湯解表之劑，取其平入肺泄邪氣，苦制桂之辛。小建中湯，治腹中急痛，取其苦疏脾中邪氣，及腹中之淤，皆以苦平之味也。自宋元以下諸家本草始發明味酸收陰氣，斂逆氣，和血補陰，但吾曾嘗其味，卻苦而不酸，而後人之稱為酸者，其說實本於雷公。按芍藥一物，有赤芍、白芍，草本木本之別，白芍即草芍藥，赤芍即木芍藥，草本者色白而多脂，木本者色紫而多脈，無己曰：白者補，赤者瀉，大明曰：赤者補氣，白者補血，四物等補方中入芍藥者，亦此意也。</p>
<p>又問：陳修園謂梔子不能湧吐，且宜生用，炒黑則死灰無用，俗本生則吐，炒黑則不吐，陋甚亦有當乎。</p>
<p>答曰：《本經》不言梔子能湧吐，梔子本非吐藥，仲景用為吐藥者，謂邪氣在上，拒而不能納食，梔子氣輕飄而上行，用以導之，令其吐，則邪因以出，所謂高者因而越之也。至於炒黑者，所以平其輕飄之性，苦寒之味耳。故仲景治傷寒發汗吐下後，心煩及心經留熱，小便赤澀用火煨，治下利鮮血，用燒灰服也。</p>
<p>又問：又謂半夏乃太陰，陽明，少陽之藥，祛痰非其專長，故仲景云：嘔加半夏，痰多加茯苓，未聞痰多加半夏，竊謂痰由水濕，在半夏能燥濕，則未嘗不可治痰，敢正之夫子。</p>
<p>答曰：所見極是，吾曾云：脾胃濕熱，涎化為痰，久則生火，痰火上攻，當用半夏，即此意也。</p>
<p>又問：張隱菴謂，桔梗治少陽之脅痛，上焦之胸痛，中焦之腸鳴，下焦之腹滿，又驚則氣上，恐則氣下，悸則動中，是桔梗為氣分之藥，上中下三焦皆可治也。指張元素桔梗為舟楫之藥，載諸藥而不沉之說為謬，似屬有理。</p>
<p>答曰：《本草經》稱，桔梗治胸脅痛，腹滿腸鳴，驚恐，本無載諸藥上浮之說，元素謂引經與甘草同為舟揖之劑者，以其味厚氣輕，主升而不降耳，故曰：如大黃苦泄峻下之藥，欲引之胸中至高之分，須用辛甘之劑升之，此蓋指引經而言，非謂效即止於此也。</p>
<p>又問：何首烏相傳益氣，黑髭發，何翁食之發白變黑故名。然陳修園謂為苦澀之味，何以能補，不過久痢久瘧，多取用之，以固脫截瘧，其說似亦甚當。</p>
<p>答曰：首烏有赤白二種：白者入氣分，赤者入血分，氣溫味苦澀，溫補肝，苦澀補腎，故能收斂精氣，養血益肝，固精益腎，健筋骨，烏鬚髮，為滋補之良藥，功在地黃上，正不僅治久痢固脫，截瘧已也。此藥能補，本少發明，自嘉靖初邵真人以七寶美髯丹方進世宗，服有大效，連生皇子，由是何首烏方大行也。</p>
<p>江廣智問：《難經》六十七難曰：「五臟募皆在陰」。按徐氏云：六腑之募，亦皆在陰，是五臟六腑均有募矣，肺募中府屬本經，心主募巨闕屬任脈，任脈明明非本經之募，偏屬他經者，是何原因，然募之功用，對於人身奚若？乞夫子垂教焉。</p>
<p>答曰，五臟皆有募，六腑亦皆有募，募皆在陰，徐氏云：六腑之膜亦在陰者，蓋言募不以臟腑分陰陽，以募俞分陰陽也，人身腹為陰，背為陽，五臟六腑之募皆在腹，故曰皆在陰，五臟六腑之俞皆在背，故曰皆在陽。至於募之俞，或在本經，或在他經，不一者，亦猶臟腑之俞，或在本經、或在他經不一，但以其氣之所出在何俞，則屬何俞耳。例如：臟腑之俞，惟膀胱在本經，其餘皆不在本經也。故《素問·通評虛實論》云：腹暴滿，按之不下，取太陽經絡者，胃之俞在太陽經也。至於對於人身之功用，蓋募者內在各臟各腑之間而外，連軀殼臟腑之位於人身也。背部之氣從脊骨而輸出，故臟腑之俞皆在背，而夾脊兩旁腹部，則募連著皮肉，故氣出於腹者，如肝募期門，膽募日月之類是也，其對於人身之功用，亦猶五臟六腑之俞耳。</p>
<p>又問：七十難曰，經言，「春夏刺淺，秋冬刺深」，而下文又言，「春夏各致一陰，秋冬各致一陽」，上下文義似覺難通，孰是孰非，乞垂教焉。</p>
<p>答曰：春氣在毫毛，夏氣在皮膚，故宜刺淺；秋氣在分肉，冬氣在筋骨，故宜刺深，然一於淺則成孤陽，一於深則成孤陰，故春夏雖刺淺，初下針時必先一沉，而後皆浮取一陰之氣以養陽，秋冬雖刺深，初下針時必先一浮，而後皆沉取一陽之氣以養陰，蓋春夏氣溫必致一陰以和陽氣者，使不成孤陽也，秋冬氣寒必致一陽以和陰氣者，使不成孤陰也。</p>
<p>又問：二難云，自掌後橫紋至尺澤穴，總計一尺一寸，分一尺中一寸曰尺，一寸中九分曰寸，餘一寸間隔尺寸而名關。但近世醫者，三指按於寸關尺三部以診病人寸尺二部，所按不及一寸九分，而關部則過一分，豈非肝膽、脾胃與尺寸臟腑相混耶，然今醫者猶能別肝膽、脾胃臟腑之病也，其故何歟？</p>
<p>答曰：按《難·經二難》所言，不過就俞後分尺寸之部位，與臟腑配位為診候之說不同也，故丹波元澈曰：此段但就其中分尺寸之位，而與十八難分三部之說不同，學者不可一例讀也。楊注不察此理，妄引諸家脈訣，以傅會之，並舉臟腑配位之說為診候之式，不足為據（以上皆丹波氏言）。要之診法，《內經》與《難經》不同，《難經》與《脈經》又不同，學者宜參觀而會通，不宜偏執一說，（宜參觀診察學講義）故《醫語》卷一末篇論診法云：從《難經》入門，再參諸書，盡其奧矣。</p>
<p>又問：十難云，一脈十變者，均是臟干臟則脈甚，腑干腑則脈微）蓋因病臟者重，病腑者輕也，然按之陰陽，五臟屬陰主靜，六腑屬陽主動。潔古云：甲丙戊庚王謂之五陽，剛也，乙丁己辛癸謂之五陰，柔也，理當以腑干腑則脈甚，臟干臟則脈微，今十難所云反是，非與經言病臟者重、病腑者輕，成一反比例耶？二說不可一以貫之，其故安在？</p>
<p>答曰：脈甚則病重，脈微則病輕，十難云臟干臟則脈甚，即經所言，病脈者重也。十難云腑干腑則脈微，即經所言，病腑者輕也。二說本系一貫，並不相悖，即按之陰陽，五臟屬陰而主裡，六腑屬陽而主表，病在表則輕、病在裡則重，重則脈甚，輕則脈微，理亦不相悖也。至於天干，因甲丙戊庚壬屬陽，腑亦屬陽，故配腑，乙丁己辛癸屬陰，臟亦屬陰，故配臟。所謂陽剛克陰柔者，蓋言臟腑之相合也，彼此不能剋制，便成相敵，相敵則不能相合，惟有所剋制，則陰陽相和，既相和自柑合，故臟腑陰陽剛柔相制，乃成六合，非指病之相干而言也。</p>
<p>牟孔昭問：《五臟別論》言腦，髓，骨，脈，膽，女子胞六者，藏而不瀉，名曰奇恆之腑，胃，大腸，小腸，三焦，膀胱五者，瀉而不藏，名曰傳化之腑，魄門亦為五臟，使水穀不得久藏。又曰：六腑者傳化物而不藏，故實而不能滿。竊以膽為奇恆之府，而本篇前所謂傳化之腑，亦止胃，大、小腸，三焦，膀胱五者，膽亦不與焉，乃下文云：六腑者傳化物而不藏，則又明明傳化之腑有六，若依馬注仍以膽，胃，大、小腸，三焦，膀胱為傳化之六腑，則與上文膽為奇恆之俯，相刺謬矣。蒙按經文五者，傳化之腑，下接魄門亦五臟，使水穀不得久留二句，似以魄門亦為一腑，則井上五者適成六腑，然魄門肛門也，豈能為腑，不然則傳化止有五腑，讀書不多，無以自解，願夫子教之。</p>
<p>答曰：《五臟別論》所云，腦、髓、骨、脈、膽、女子胞名奇恆六腑者，原非六腑之數，以其藏畜陰精，故曰地氣所生，皆稱為腑也。然膽居六腑之一，獨藏而不瀉，與他腑異，女子胞亦以出納精氣，而成胎孕，故此六者，均稱奇恆之腑，至於膽、胃、大腸、小腸、三焦、膀胱之名六腑者，以六腑之陽，與心、肝、脾、肺、腎五臟之陰，相表裡也，膽稱奇恆，故只有此五者，包藏諸物而傳化濁氣，故曰瀉而不藏，因其轉輸運動，故曰象天之氣，是則腑雖有六，而傳而不留者，只有五耳。至於經云：魄門亦為五臟之使者，言大腸與肺為表裡，肺藏魄而主氣，肛門失守，則氣陷而神去，故魄門雖諸腑糟粕所由出，而臟氣升降，亦賴以調，故亦為五臟之使。按《難經·四十二難》云：廣腸大八寸，徑二寸半，長二尺八寸，受谷九升三合八分合之一，廣腸者直腸也，即肛門，受大腸之谷而傳出從大便而下，與大腸實異名而同類，所異者受谷而不受水耳，故《難經》胃、大小腸皆言受水穀之數，而獨於廣腸只言受谷而不言受水，蓋水穀入大腸時已泌別汁入膀胱，故廣腸受谷而不受水，是又與胃、大小腸不同，《難經》此說實足補《內經》所不足。然則以傳化物言之，則肛門固與胃、大小腸三者相似，以臟腑之陰陽表裡言之，則六腑固屬膽，胃、大腸、小腸、膀胱、三焦也。讀書者所當審其微，而會其通要，不可以詞害意也。</p>
<p>戴昌梓問：五行之中土無定體，寄旺於四季之末，各十八日，何長夏一月，土又主之？四季之土，與長夏之土是同一土否？</p>
<p>答曰：以方位而論，東屬木，西屬金，南屬火，北屬水，土居四方之中央；以四時而論，春屬木，秋屬金，夏屬火，冬屬水，土屬長夏，長夏在四時之中央，即土居中，中央之義也。蓋土為萬物之原，萬物皆生於土，故金水木火皆出於土，故四者之用，皆非土不可，土獨兼四氣之用，而又寄旺於四季之末也。《素問》南北政以土為尊，居中央而統於金木水火，非長夏一土，四季之土又一土也。故五臟所屬，心屬火，肺屬金，肝屬木，腎屬水，而脾屬土者，蓋以心肺在上，肝腎在下，脾居中州，即土居中央之義也，脾能輸運津液，榮養四臟，是即土為萬物之原，獨兼四氣之用，而寄旺於四季之義也，豈居中州者一脾，榮養四臟者又一脾哉？曰：然則《靈樞·九針論》曰：「六腑膈下三臟，應中州」，左右手足應四立，何以中州之土又應肝脾腎及六腑？旺於四季之末之土又應在左右手、左右足？是中州之土，不但屬脾，兼屬六腑及肝腎，四季末之土，亦不在脾而在左右手、左右足也，則又何哉？曰：此非言所屬也，言所應也，《九針篇》所言應者，言人身之九竅九臟，應地之九州九野。九臟者，即居膈之下肝脾腎及六腑合而為九也，左手應立夏戊辰己巳日，右手應立秋戊申巳未日，左足應立春戊寅己丑日，右足應立冬戊戌己亥日者。蓋立夏為東南巽方節氣，立秋為西南坤方節氣，立冬為西北乾方節氣，立春為東北艮方節氣，四支各應一方節氣也，中州即中央戊已土太乙所在之日，即土旺用事之日，為四季之末諸戊已日，皆屬土，實為中宮之辰，故其氣相應均不可刺，故曰「六腑膈下三臟，應中州、其大禁，大禁太一所在之日，及諸戊已日。凡此九者，善候八正所在之處，所主左右上下身體有癰腫者，欲治之，無以其所值之日潰治之，是為天忌日也」。此蓋指節氣所應之日禁刺而言，與所屬不同也。曰：土之義，生己明矣。《素問·天元紀大論》云：「木火土金水火，地之陰陽也」，然則，火亦有二火，同乎否乎？曰：是不同也，六氣以少陰為熱火，少陽為暑火，六經以心臟為君火，以膀胱為相火，故《素問·天元紀大論》曰：「寒暑燥濕風火，天之陰陽也，三陰三陽上奉之。木火土金水火，地之陰陽也，生長化收藏下應之」。又曰「君火以明，相火以位」，然則，二火固多有所司也。曰：王注云：君火在相火之右。但立名於君位，不立歲氣，以名奉天，故曰君火以名，守位稟命故曰相火以位。然則君相雖有二火，君火只有虛名而已，雖二火猶一火耳。曰：此實王太僕注經之誤，不足為訓也，經文明明是一個「明」字，王氏將明字改作「名」字，實不免有改字解經之謬，推原其謬，實因《至真要大論》云：少陰不司氣化，遂以君火不立歲氣，抑知所謂不司氣化者，謂君火不主五行之化，非指六氣而言也，即如子午之歲上見少陰，則六氣分主天地，各有所司。何嘗不立歲氣？張氏云：以火觀之，其氣質上下亦有君相明位之辨，斷難將君相合而為一，蓋天地間萬物，莫不有氣質之分，明者光也，乃火之氣，位者形也，乃火之質，即如一寸之燈光被滿室，氣為之也，盈爐之炭有熱無焰，質為之也。夫焰與質雖皆是火，然則焰司其光，質司其熱，焰主乎動，質主乎靜，焰在於上，質在於下，上下各有所主，即動靜各有所司，是以群火主動而在上，為日光之明，以昭彰天道，故在人屬心，神明出焉。相火主靜，而在下為源泉之溫，以生養萬物，故在人屬腎，元陽蓄焉，烏得謂無別乎？曰：然則天一之水，與地六之水有別乎？曰：此蓋指生成而言，非天一一水，地六又一水也，蓋一二三四五為天之數，六七八九十為地之數，故曰天一生水，地六成之，天二生火，地七成之，天三生木，地八成之，天四生金，地九成之，天五生土，地十成之，此即所謂天數五，地數五也。例如今年壬戌歲太陽寒水司天，太陰濕土在泉，中運太角，故《素問·六元正紀大論》曰：寒化六，風化八，雨化五。蓋以司天為太陽，六者，水之成數也，中運為太角，八者，木之成數也，在泉為太陰，五者，土之生數也。曰：生聞一三五七九為陽為天，二四六八十為陰為地，何也？曰：此乃《河圖》天地之交也，蓋一三七九，數之奇也，奇為陽，天之象，二四六八，數之偶也，偶為陰，地之象。故《河圖》之數起一六陽生，正北為一數，陰極正北為六數，陽長正東為三數，陰絡正東為八數，陽盛正南為七數，陰生正南為二數，陽極正西為九數，陰盛正西為四數，五與十居中，陰在外而陽在內，此即《易》所謂天地之交也。曰：生聞醫理通於《易》理，已於《河圖》見之矣，敢問《洛書》之通於醫理者何如？曰：《洛書》之數起於一，例如去年辛酉之歲，陽明燥金司天，少陰君火在泉，中運少羽，歲水不及，《六元正紀大論》曰：災一宮，一為《洛書》所起之數，應在北方是也。明年癸亥之歲，厥陰風木司天，少陽相火在泉，中運少徵，歲火不及，《六元正紀大論》曰：災九宮，九為《洛書》陽盛之方，應在南方是也。參看下列諸圖：</p>
<p>邵洧源問：急者，收急也，緩者，弛緩也。觀中風門，張石頑之論，口眼喎斜云：左寒右熱，則左急而右緩，右寒左熱則右急而左緩，以寒則收縮故急，熱則弛縱故緩。其所以用桂枝酒煎搽之者，使寒者熱而得其平，急者緩而如其常也。然其云左喎搽右，右喎搽左者，不知其意之所在。夫左喎者左寒而右熱，左急而右緩也，右喎者右寒而左熱，右急而左緩也。既左寒矣急矣喎矣，反搽其右，右寒矣急矣喎矣反搽其左，熱反搽之，寒反聽之，豈有是理哉？況其急也，收縮也，非其力止能收縮如是？以彼側之筋已緩矣，弛縱矣，不能再緩再弛縱，故止能收縮如是而已，若再用桂枝酒煎搽彼側，蓋加其熱度，使無可緩而再緩，而可弛縱而再弛縱，則此急也更急，收縮也更收縮，緩緩急急，縮其急，而弛其緩，此生之所以不知其意之所在也。若欲從陰引陽從陽引陰，益他處之熱度，使之得傳達，至此而緩之熱之，則搽其與收縮部相近之處可也，何必搽彼側益其熱度，而使緩者更緩，急者更急乎？抑此乃一定不易之秘法，萬試萬驗之定律，無可以推之也？生不才譾陋，敢請夫子明教。</p>
<p>答曰：經云左右者，陰陽之通路，左為陽，右為陰，陰出於陽，陽入於陰，左右相交，故曰陰陽之道路也。經又云：陰勝則陽病，陽勝則陰病。陰勝陽，故陽急而陰緩；陽勝陰，故陰急而陽緩，然則陽病宜治其陰，陰病宜治其陽也明矣。桂枝酒之效用，不在溫熱而在發散流通，蓋桂枝性味辛甘發散，酒能通行經絡，故其發散流通能使急者舒而緩者收，不然仲景用桂枝湯，治太陽中風，陽浮陰弱，發熱頭痛之症，何以無熱熱之禍耶？陽勝則陰病，以辛甘發散治其勝，而血脈流通，陰病自去；陰勝則陽病，以辛甘發散治其勝，而血脈流通，陽病自去，故左喎所以搽右，右喎所以搽左也。經云：「厥陰司天，風氣大來，木之勝也，民病眩轉目不識人，善暴僵仆」。然則屬於風者，無論外感內傷，表證里證，皆木邪也，木鬱宜散，故寒宜發散，熱亦宜發散，與治熱用寒，治寒用熱之法，自不同也。曰：夫子所言，生益滋惑矣，張石頑云：左寒右熱，則左急而右緩，右寒左熱則右急而左緩，以風氣剛勁，寒冷非凡，故中處則寒則急，不中處則熱則緩，中處則邪盛，而正氣皆被逐，故寒故急，不中處則邪無，而彼側之正氣又歸之，故熱，故緩，則寒而急處為邪盛，熱而緩處為正足也明矣。夫子云：陰勝陽，故陽急而陰緩；陽勝陰，故陰急而陽緩。可見此勝者，正氣勝也，陰勝陽，陰之正勝於陽，即陽之邪勝於陰，故陽急而陰緩；陽勝陰，陽之正勝於陰，即陰之邪勝於陽，故陰急而陽緩。</p>
<p>又云：辛甘發散治其勝，不知何意也。夫勝既為正氣之勝，復用辛甘發散之品，治其勝，是否殺其正氣？俾風邪自彼及此，使其平均，而求其愈耶？抑過意犯緩緩急急之例，俾急者更急，緩者更緩，欲演其復極必反，矯枉過正之妙耶。若是從陰引陽，從陽引陰，生於前問已詳載利弊，即勝為邪勝，非散其正，乃散其邪，何以邪勝處，反熱反緩，無邪處反寒反急？即以邪克經絡，遏郁陽氣，故陰勝者則陰熱而緩，陽無邪，故較寒，以彼緩故此急，但熱者陽氣所到故也，寒者陽氣不到故也。經云：陽之氣，精以養神，柔以養經，經既得其所養，豈有縱而不能收之理哉？況傷寒太陽經，雖如大青龍亦無經緩之症，陽明經雖如白虎湯亦無經緩之症，惟邪遏發熱者有之，熱而狂叫奔走者有之，熱而經縱者未聞也，且縱而漢有收者，尤未聞也，故不知何意，還乞詳示。</p>
<p>答曰：正有陰陽左右，邪亦有陰陽左右。經曰：陽勝陰病，陰勝陽病，固指正氣言，然曰：重陰必陽，重陽必陰，蓋言邪之所中亦如是也。夫人之一身，左為陽，右為陰，經脈十二，左右各有一行，中風口喎斜系由手足陽明二經中邪所致，手陽明之經挾口交人中，足陽明之經環唇交承漿，以左脈交右，右脈交左，而會太陽之經，絡目故也。然經分左右，口眼左右亦隨之而分，經脈左右相交，風為木邪，勁而善走，中於左脈者，或溜於右脈，中於右脈者，或溜於左脈，亦猶張石頑所謂中於陰則溜於腑，中於陽則溜於經也，「腑為臟之表，屬陽，經為血之道屬陰」且不特此也。經脈左右相交，口眼亦左右互應，或有邪中於左脈，而病應於右口眼者，或有邪中於右脈，而病應於左口眼者，雖同一陽明經之中邪，而病之久暫淺深輕重不同，又不可執一而論也。左中寒則逼熱於右，故左急而右緩；右中寒則逼熱於左，故右急而左緩，此病之原因也，寒邪中左，此陽之邪勝正也，溜於陰則右之寒反逼熱於左矣，故陰急而陽緩；寒邪中右，此陰之邪勝正也，溜於陽則左之寒反逼熱於右矣，故陽急而陰緩，此病之變象也；治現象則見病治病，治原因則循流溯源，治以馬膏，摹其急者，治現象也，用桂枝酒塗其緩者，治原因也。故張石頑云塗其緩以和營衛，以通經絡，治風痹通節竅，此即吾所謂辛甘發散以治勝也。夫正之陰陽，即《內經》之以陰陽分血氣，左右言輕重也，邪之陰陽則左或溜於右，右或溜於左，左或應干右，右或應干左，無定所，亦即張石頑所謂邪之中於人，無有常也。至於子謂未見熱症有經縱不收者，子不見《靈樞經》所言足陽明之筋病，頰筋有寒，則急引頰移口；有熱則筋弛縱，緩不勝收，非即指此症乎？要之，法，死者也；人，活者也，以活人用死法，誠不可膠柱而鼓瑟也。</p>
<p>杜觀瀾問：《筆花醫鏡》謂心包絡屬左寸，《難經》則謂小腸屬左寸，《筆花醫鏡》謂大腸屬右尺，而《難經》則謂屬右寸，而謂命門、三焦屬右尺，膀胱、腎屬左尺，畢竟《醫鏡》誤耶？《難經》誤耶？</p>
<p>答曰：心包絡即膻中，膻中固候在左寸，腎、膀胱固候在左尺，三焦、命門固候在右尺也。至於大腸候在右尺，亦候在右寸也；小腸候在左寸，亦候在左尺也，故《診脈精要》云：左寸心、膻中、小腸，左關肝、膽，左尺腎、膀胱、小腸，右寸肺、胸中、大腸，右關脾、胃，右尺命門、三焦、大腸。五臟六腑之脈皆屬於一部，惟大腸、小腸則候於寸一部，亦候於尺一部也。曰：何故？曰：臟腑配脈有因位次高下而分配各部者，有因表裡相合而同配一部者，例如心、肺居上，故均配在寸，脾、胃、肝、膽居中，故均配在關，腎、膀胱、大小腸居下，故均配在尺，此因位次高下而分配各部也。肝與膽相表裡，故同配在左關，腎與膀胱相表裡，故同配在左尺，心與小腸相表裡，故又同配在左寸，肺與大腸相表裡，故又同配在右寸，小腸、大腸之配於左右寸者，因表裡之關係也，小腸、大腸之又配於左右尺者，以小腸、大腸之位皆居下也，故診脈法云肺之腑大腸，肺居右關上寸部，大腸宜配於右關下尺部，亦有時診於右寸者，以肺與大腸相表裡，氣之相合也。小腸從心配左寸，小腸亦配在左尺，以心與小腸雖相表裡，心位於上，小腸位於下也。曰：左手為陽，右手為陰，血陰也，氣陽也，心主血，肺主氣，心脈在左手，肺脈在右手，觀於此則右手似屬陽，左手似屬陰，生於此中尚有積疑。曰：脈之分配上下、左右者，各以其類也，寸脈為陽、為上，尺脈為陰、為下，心肺所居之位最上，故皆配寸也，其分左右者，則以水為天一，水生木，木生火，天陽也，火亦陽也，心為火，故配左寸，火為地，二火生土，土生金，地陰也，金亦陰也，肺為金，故配右寸。由此類推，火為木所生，木為水所生，故肝膽配左關，腎膀胱配左尺。金為土所生，土為火所生，故脾胃配右關，三焦命門均配右尺也。曰：華岫云論脾胃謂：遇稟質木火之體，雖患燥熱之症，亦不可以耆朮升藥治之。然人既病矣，脈即變矣，又何以知其平時脈素稟木火之體？曰：脾胃患燥熱症者，病之輕重可察右關脈象而知，如素稟木火之體者，脈必兼見於左寸關二部，蓋右關候脾胃，左寸候心，左關候肝，心屬火，肝屬木也，其他皆可類推矣。</p>
<p>呂文華問：一男子左半身瘦弱，小溲深黃色，多痰，稍煩即頭昏，但不咳，久服魚肝油無效，究竟是否肺病，抑或他病，宜用何藥？</p>
<p>答曰：此係左六陽經病，似由風濕所致，久恐成痹，宜用搜風散濕之藥，魚肝油非所宜也，不如用豨薟膏。曰：又有一婦人，年四十餘，去冬右膝忽腫，難以行步，針灸家云是膝腫痹，積久不愈，恐成鶴膝癰瘓等症，遂於膝彎刺二針，初針出黃水少許，後刺出烏血少許，腫已漸消，而膝彎之筋尚不能伸屈，宜何藥處治？曰：此係足三陰虧損，寒濕外邪乘虛內侵之症，針刺後腫即消，筋尚不能伸屈，內治宜用大防風湯加減，以祛風順氣活血壯筋，外治用蔥熨法，以助氣血而行壅滯。</p>
<p>張雨亭問：組織脈道從腕上而行者，僅肺、小腸、心包絡、三焦四者而已，何十二經之脈皆從寸口決耶？雖手太陰之動脈在寸口，而其與十二之脈究有若何之關係而皆決於此乎？</p>
<p>答曰：肺為諸臟之上蓋，主通，陰陽十二經皆會於手太陰寸口，故《難經》云寸口者，脈之大會也。胃為水穀之海，五臟六腑之大源，其清氣上注於肺，肺氣從手太陰而行，是以五臟六腑之氣味皆出於胃而見於氣口，故玉機真藏論曰，臟氣胃氣乃至於手太陰也。營氣循十二經而行，始於手太陰肺，終於足厥陰肝，而復會於手太陰肺經之寸口，此十二經病所以皆見於寸口，故《難經》云寸口可以決五臟六腑死生吉凶也。《素問·經脈別論》曰：氣口成寸以決死生。《靈樞·經脈篇》曰：其虛實也，以氣口知之，脈隨呼吸，日行五十度而周於身，營衛行陽二十五度，行陰亦二十五度，為一周五十度，復大會於手太陰寸口，所以為五臟六腑之終始，故《靈樞·營衛生會篇》曰五十而復大會，又曰谷入於胃以傳之肺，五臟六腑皆以受氣，故《難經》云寸口者五臟六腑之終始也。曰：肺既為諸臟之華蓋，寸口既為百脈之所會，則但診寸口可也，何以其中又分寸關尺以配各臟之所屬耶？曰：寸口為脈之大會者，言此脈可以決死生吉凶也，故《難經·一難》曰：寸口為脈之大會，獨取以決五臟六腑之死生、吉凶也。至於審證則各臟有各臟之病，各腑有各腑之病，自不能不就寸關尺三部以診察何臟何病，何腑何病，然後因病施治耳，三部配各臟之所屬豈可置不顧耶？</p>
<p>程民佐間：寸關尺三部之脈，有同時數者，有同時遲者，有彼此遲數不同者，例如脈從寸至尺，本系一貫，寸數則關尺亦數，寸遲則關尺亦遲，何以有寸尺脈遲而關獨數者？或尺寸脈數而關獨遲者？其故何也？</p>
<p>答曰：脈有寸關尺三部，三部各有浮中沉九候，寸關尺三部脈同是一條，數則俱數，遲則俱遲，是無遲數之分，然浮中沉三部有輕重之異，故診脈法云脈是血管，氣附脈行，血管外是氣道，脈之跳動出於心血之起落，脈管中血之所主，心主火，血虛火少，則動遲，血多火旺，則動數。脈管只是一條，動則俱動，故無遲數之分，氣則上下異其輕重也，故浮中沉有三部之別，從此類推而血管分診，合診，脈自有別矣。曰：三陰之脈，經言厥陰為一陰，少陰為二陰，太陰為三陰，而《難經·七難》中，徐大椿注言太陰為陰之始，少陰為二陰，厥陰為陰之至，二說不同，其故何也？曰：經言三陰者指氣有多少而言也，《難經》之言三陰者，指脈之王時而言也，一言氣，一言脈，迥然有別，何能強同？按《天元紀大論》曰左右者，陰陽之道路，水火者，陰陽之徵兆，金木者，生成之終始，氣有多少，形有盛衰，上下相召而損益彰。王冰注云：氣有多少者，謂厥陰為一陰，少陰為二陰，太陰為三陰，三等不同秩也。蓋厥者盡也，絕也，厥陰為陰之盡絕，故為一陰，少陰為陰之初生、故曰二陰；太陰為陰之已盛故曰三陰，所以《素問·陰陽離合論》云厥陰為闔，少陰為樞，太陰為開，蓋言厥陰者一陰也，為陰之盡，故其義為闔。太陰者三陰也，為陰之外，故其義為開。少陰者二陰也，為陰之中，故其義為樞，非開則無所出，非闔則無所入，非樞則無所主，此三等之所以不同秩也。至於《難經·七難》所云太陰之至，緊大而長；少陰之至，緊細而微；厥陰之至，沉短而敦，指三陰之王脈而言也。又云：復得甲子，太陰王，復得甲子少陰王，復得甲子厥陰王，指三陰之王時而言也，蓋歲半以上為天為陽，歲半以下為地為陰，故自正月之六月，王在三陽，自七月之十二月，王在三陰，所以太陰王七八兩月，為陰之始，乘夏後之餘陽，交初秋之始陰，陰氣未盛，其脈緊大而長，故徐注曰陰之始少陰，王九十兩月，為陰之二陰，秋末冬初陽氣既衰，陰氣已盛，其脈緊細而微，故徐注曰二陰厥陰，王十十一兩月，陰氣之盛已趨極端，而將盡絕，是即所為厥者盡也，絕也，故徐注曰陰之至。</p>
<p>張雨亭問：按入之上，皆成於精，故《易》曰天一生水，道家曰水是三才之母，精為元氣之根，《本神篇》曰故生之來，謂之精，《決氣篇》曰兩神相搏，合而成形，常先身生是謂精，故人始生，先成精也，然其中同受精而分有男女者何也？</p>
<p>答曰：中西諸醫家論說不一，《秘主衛生篇》云男子火旺，則成男，女子火旺，則成女，說也；北齊諸澄云，陰血先至，陽精後至，則成男，陽精先至，陰血後至，則成女，又一說也；李東垣云經水斷後一二日成男，四五日後成女，又一說也；朱丹溪雲精勝血，則陽為主，受氣於左子宮成男，精不勝血，則阻為主，受氣於右子宮成女，此又一說也；丹家雲天壬先至，地癸後至成男，天壬後至，地癸先至成女，壬癸齊至成雙胎，一速一遲不成胎，此又一說也。西醫謂睪丸構造精液由左睪丸而出者成男，由右睪丸而出者成女，並云如有患花柳病之人，割去其左睪丸而治愈者，以後只生女不生男，劇去右睪丸而治愈者，以後只生男不生女，此又一說也。要之，男生於寅，女生於申，即此理，而推測寅為陽，申為陰，無非以陰陽二氣之盛衰分男女，是則古人寡欲多男之說良不誣也。</p>
<p>答曰：辭雖異，理則通也，腎生精，精生髓，髓上連於腦而下通脛骨之中，按《靈樞·經脈篇》云足少陰之脈出足心，上腨內出膕，上股貫脊屬腎。《經筋篇》云足少陰之筋上循陰股結陰器，絡十足厥陰，足厥陰之別從腔上睪，結於莖，故腎與睪相隔雖遠而骨髓經脈經絡經筋則皆相通。故《靈樞·經脈篇》曰足少阻之別，實則閉癃，虛則腰痛，蓋腎之部分雖在腰，而其通竅於二便者，上貫於腰脊，而又下貫於睪丸也。至於睪丸構造不過分左右，為男女而已，而構造之本始，實在於腎，此又西醫所不知也。</p>
<p>姜烈仙問：一男子體氣尚盛，並無病過，又無痰唾，每於夜寐時有所思索，則其夜必夢驚，其驚也似寐似醒，身欲轉側，作言語均不能如念，其故何也？</p>
<p>答曰：不寐證原因不一，不能一概而論，但據所問因思索而夢驚，且其驚也似寐似醒，此病由於臥時多思，因此心氣被伐，而神不守舍，始則不寐，繼則寐而不安，以至似寐非寐，身不轉動，言語不能自如，皆因心擾則神動，神動則夢驚，夢驚則神志昏昧，遂有轉動言語均不自如者，雖自疑為已醒，實則尚在夢寐中也，欲治此病，當去靜中之動，以養陰中之陽，蓋夜睬靜也，思索動也，寐時屏除思索，則靜中之動去矣，心藏神，為陽氣之宅，衛主氣，司陽氣之化，衛氣入陰則靜，靜則寐，正以陽有所歸，始神安而得寐，此即養陰中之陽也。</p>
<p>又問：一婦人平素身體薄弱，喜飲茶，而飯食少進，月事以四十日左右為期，此係何病？應用何藥？</p>
<p>答曰：身體薄弱，有本於先天所稟者，有由於勞傷所致者。喜飲茶而飯食少進，有因脾胃燥熱者，有因脾胃虛弱者。月事後期，有因血虛者，有因血滯者，有因血瘀者。丹溪曰：經先期而至者，血熱也，後期而至者，血虛也。王子亨云：陽太過則先期至，陰不及則後期至，然先期而至雖曰血熱亦有虛而挾火者，亦有無火而先期至者，不得概視為血熱，後期而至雖曰血虛，然亦有血熱而燥瘀者，亦有血逆而留滯者，如血熱燥瘀則不得不用清補，如血逆留滯則不得不用疏利，同一後期不能執一。大凡身體薄弱，喜飲茶而飯食少進，月事後期至四十日者，其體必虛而非實，治宜補脾胃以資血之源，養腎氣以安血之至，忌用寒涼等藥，飲食亦然。</p>
<p>駱祖馨問：世人有癲狂病者，一時癡呆無知，怒罵無定；忽然仆倒，口角流涎，而手足抽筋甚至種種驚人之態，有作五畜之聲，俗語謂豬癲病，羊癲病是也，生於豬癲一病未嘗親睹，而羊癲一病則時有相見，其發也即所謂忽然仆倒、口角流涎，作綿羊之聲，久之兩目死，然四肢筋抽，或謂癲狂，或謂癲癇，及盡食而醒，復如常人，世有目為前生果報所致者，生實不信，夫稱之為病也，其必由臟腑所致，豈有歸於前生果報之理哉？敢問此病之原因及療治法。</p>
<p>答曰：癲與狂有別也《難經·二十難》云「重陽者狂，重陰者癲」。虞庶注曰：寸口為陽，重見陽脈三倍以上為重陽，其病狂，自高賢智，登高而歌，棄衣而走，罵詈不避親疏者為狂。尺中為陰，尺脈重見陰為重陰，其病名為癲，謂僵仆於地，閉目不醒，陰極陽復，良久方醒，此癲病也。按《內經》言癲狂甚詳，陽明脈解篇帝曰：足陽明之脈「病甚，則棄衣而走，登高而歌，或至不食數日，逾垣上屋，所上之處，皆非其素所能也，病反能者何也」？岐伯曰：「四肢者諸陽之本也，陽盛則四肢實，實則能登高也。熱盛於身，故棄衣欲走也。陽盛則使人妄言罵詈，不避親疏，而不欲食，不欲食故妄走也」，通評虛實論帝曰：「癲疾何如？」岐伯曰：「脈搏大滑，久自己，脈小堅急，死不治。」帝曰：「癲疾之脈，虛實何如？」岐伯曰：「虛則可治，實則死。」邪氣臟腑病形篇曰：心脈緩甚為狂笑，微澀為癲疾。病能篇帝曰：「有病怒狂者，此病安生？」岐伯曰：「生於陽也，陽氣者，因暴折而難決，故善怒也，病名曰陽厥。」帝曰：「何以知之？」岐伯曰：「陽明者常動，巨陽、少陽不動，不動而動大疾，此其候也。」本神篇曰：「肝悲哀動中則傷魂，魂傷則狂妄不精，肺喜樂無極則傷魄，魄傷則狂。」生氣通天論曰：「陰不勝其陽，則脈流薄疾，並乃狂，陽不勝其陰，則五臟氣爭，九竅不通。」宣明五氣篇曰：「邪入於陽則狂，邪入於陰則痹，搏陽則癲疾，搏陰則為瘖」，雖厥論曰，「陽明之厥，則癲疾欲走呼」；陰陽類論曰，「罵詈妄行，癲疾為狂」。然皆指癲狂兼病，非一病也，由此觀之狂與癲病本不同，狂病常醒而多怒，癲病常昏而僵仆，其陰陽寒熱自有冰炭之殊，至於手足抽筋作五畜之聲者，癇證也，癇病與癲相類，惟癇則筋攣而亦為厥，故《大奇論》曰：心脈滿大，癇瘛筋攣，肝脈小急，親瘛筋攣，二陰急為癇厥。故凡作五言之聲俗稱羊癲豬癲者五癇也。《別錄》所稱五癇曰馬癇、牛癇、羊癇、豬癇、雞癇者，即子所謂羊癲、豬癲也，此蓋因其聲相似而立名，豈得因其形狀之奇，而遂目為鬼怪與果報乎？至於治療關係，先當察其脈之陰陽，以分別其病之動靜，動者為狂，靜者為癲為癇，大凡狂病多因於火，癲病多因子痰，然狂病亦有因火致痰者，癲病亦有痰盛兼火者，小兒無狂證而有癲癇，小兒之病固每因受驚而得，然亦有從胎氣而得者，故《奇病論》帝曰：「病安所得？」岐伯曰：「得之在母腹中時，其母有所大驚，氣上而不下，精氣並居，故令子發為癲疾也」。《千金方》云小兒之癇者三，曰風癇、驚癇、食癇。至於病因與治法，病狂者或因求謀不遂，思慮鬱結，屈不得伸，怒不得泄，肝膽氣逆，木火合邪，此乃東方實證，邪乘心，則神魂不守，邪乘胃，則橫暴剛強，治此者當以治火為先，痰與氣察其微甚而兼治之可也。病癲者每因於痰與氣，氣逆則痰滯，痰滯則經絡壅閉，心竅格塞，故旋暈僵仆，口眼相引，目精上視，手足搐搦，腰脊強直，良久之醒，此其忽病忽已者正由氣之忽逆忽順也，治此者，審其脈證之虛實，察其痰與氣孰甚者先治之。癇與癲病相類，作五畜之聲，雖覺奇異，亦不外乎氣痰火三者為患。癇者，《諸病源候論》曰：小兒之病也，十歲以上為癲，十歲以下為癇，小兒三癇：風癇因衣暖汗出風入所致，初時先屈指如數而發也；驚癇起於驚悸，大啼而發；食癇先由不哺乳而變。熱後發者或先寒後熱而發者，凡病先身熱、掣縱、驚啼、叫喚而後發者，脈浮者，為陽癇，病在六腑，外應肌肉，猶易治也；病先身冷、不掣、不啼叫而病時脈沉者，為陰癇，病在五臟，內連骨髓，難治也。其因不同，杵氣則一，然風寒外感是表證，飲食內傷是里證，皆未必便致神亂，癲癇為病則忽昏忽厥，病實在於心經及肝膽二臟，或肝木膽火入心，心火熾而神不守舍，或痰迷心竅而神志不清。大凡宜以行痰清心為主，然必先審其正氣，察其病邪，辨其虛實，酌宜療治而後用藥，方無誤焉。</p>
<p>又問：陳氏四十八種內，有婦人有胎，恐服藥有礙，用灶中黃土研末，以水和，塗於心下及臍下，干則易之數語，蓋其用土之義實有不知，請夫子垂教。</p>
<p>答曰：灶心土亦名伏龍肝，乃灶中對釜月下黃土也，以近月之土，得火之燒煉，積久而結，如石外赤中黃，性味辛而微溫，為婦人崩漏胎產之要藥，凡橫生、逆產、子死腹中及胞衣不下，或用酒，或用醋，皆可調，納母腹臍中，俱有神效，其於妊娠，尤能護胎。《傷寒類要》載有妊娠熱病用灶心土如雞子許大一塊，研末以水調服，再以水調塗臍方寸，干則又上此法，蓋取其能治妊娠熱病，又能護胎也。陳氏用以塗心下、臍下亦此意耳。</p>
<p>余偉問曰：《邪客篇》云：「天圓地方，人頭圓足方以應之。」此言而今人議論，古人不知地球，以理推之之誤，而不知今人不解其理而自誤之，反為古人之誤。古聖人之立言，豈有欺人之語，天高地廣，其涯不可以量，聖人之所知也，然天地或匾，或長，或方圓，生固不知，而人頭固知非圓也，足固知非方也，聖人之言方圓者，圓者全也，通也，廣也，謂天之全通廣大，蓋於大地之義也。方者向也，敦方也，四方也，謂地之四方敦立之有方向也。人頭圓者，能全通繞環四顧之廣大，故以應天。足方者，足之立有方向，行有敦方，故以應地。孫真人曰，智欲圓，行欲方，此義耳。蓋此言雖不甚關於醫理，今人力言其誤，生惜之，而悟此義，敢問是否？</p>
<p>答曰：讀書者不可以辭害意也。按《五運行大論》，帝曰：「地為下乎？」岐伯曰：「地為人之下，太虛之中者也。」帝曰：「馮乎？」岐伯曰：「大氣舉之也。」觀此數語，即可知地非方矣。夫太虛者，天也，天猶蛋白，地猶蛋黃，故曰地在太虛之中、天圓而大，地圓而小，地何以能懸於空中而不落？惟天地皆圓，故大氣始能環轉，因有大氣之環轉以舉之，始能不落，故曰大氣舉之也，然在天非在上，地非在下，蓋天包乎地之左右上下，而上者為天，下者亦為天，地實居天之中也，故帝問地為下否？而岐伯答曰地為人之下，太虛之中也。夫以地球而論地，實不在人之下，實地之上有人，地之下亦有人也，所謂人之下者，謂指人之足底而言耳。子試置數蟻於圓球之上，其在球上一方面之蟻足固履球，其在球下一方面之蟻足亦未嘗不履球，但皆以為地在足之下耳，故曰地為人之下。今《邪客篇》所謂天圓地方者，亦指目所見、足所履而言耳。頭圓者指四面凌空，足方者，指足底平而履地也，故邵子曰頭圓象天，足方履地。經不言履地，而言象地者，蓋言象足之履地耳。此正古文辭旨深奧，非若今文之辭淺而易明也。不然《五運行大論》與《邪客篇》同出一人之言，何以自相矛盾，抑至於此乎？天下本無事，庸人自擾之耳。</p>
<p>又問：婦人之月信，平人常期而來，乃胞中血海之潮信也，至胞中受胎，其血授之於胎，及胎產後其血化之為乳汁，故其月信乃不行也，此理生已稍知其概矣，而其產後其血何不從原道而下行，而反上行為乳汁，其原因何如？</p>
<p>答曰：衝脈起於胞中，前者並足少陰之經，夾臍上行至胸中而散，後者上循脊裡為經絡之海，與陽明合於宗筋，會於氣衝二經，狙氣總聚於此，蓋衝脈為血海，陽明為多血多氣之府，故二脈合於前陰，會於氣衝，而陽明為長，陽明之脈其直行者，從缺盆下乳內簾，故婦人平時則為月信，有胎則以養胎，產後則化乳汁，所以不從原道下行，而上行為乳汁者，蓋其血氣則屬衝脈與陽明，而其經脈則下通前陰而上通於乳內，故能下行至前陰，亦能上行至乳內，如不用其母之乳汁哺乳，則其血仍下行而為信水，因陽明衝脈二經血氣上下相通，蓋亦天氣下降、地氣上騰，生化之機使然，如《六微旨大論》所謂升降出入，無器不有是也。</p>
<p>又問：《靈樞·邪客》篇云「宗氣積於胸中。」《五味篇》云「大氣之搏而不行者，積於胸中，命曰氣海。」《海論篇》曰「膻中為氣海。」讀《內經》之義，大氣宗氣之名。乃變文之意耳，其實是膻中一氣也，而喻嘉言謂大氣、宗氣、膻中之氣，三氣不可混為一氣，何也？</p>
<p>答曰：宗氣一名大氣，亦名真氣，即膻中之氣，所謂上氣海是也，《內經》言之詳矣，本無分別。夫《內經》所謂三氣不同者，指宗營衛三氣而言耳，故曰宗氣積於上焦，營氣積於中焦，衛氣積於下焦。又云清者為榮，濁者為衛，營出中焦，衛出下焦，後人強分宗氣、大氣、真氣為三氣，指為一不，喻氏遂變其說，以大氣宗氣膻中之氣為三氣，徒滋惑亂耳。</p>
<p>壽能模問：《素問六元正紀大論》，丑未之紀，太陰司天之政，三之氣應是少陽相火用事，師何以指為太陰？</p>
<p>答曰：少陽主氣也，太陰客氣也，主氣以五行相生為序，太陰濕土所以居少陽相火之後也。客氣以陰陽一二三分先後為序，厥陰為一陰居始，少陰為二陰居次，太陰為三陰居終；少陽為一陽居始，陽明為二陽居次，太陽為三陽居終，太陰濕土所以居少陽相火之前。按丑未之紀，初之氣，主客二氣皆厥陰風木用事，所以有寒去物榮之徵，民病風濕之症，風者主客二氣也，濕者司天之氣也。二之氣，主客二氣皆少陰君火，所以有火正物化之徵，民病溫濕之症，溫者主客之氣也，濕者司天之氣也。若三之氣，則主客異氣矣，主氣為少陽相火，客氣乃太陰濕土，客氣得司天之助，主氣則退而無權（其時尚在五月，歲半以上天氣主之），所以天政布濕而降寒，隨民病寒濕之症。四之氣，則主氣為太陰土，客氣為少陽火矣，客氣之火下臨主氣，主氣雖與司天合德，然其時已在七月，歲半以下地氣主之，所以地氣騰而天氣否隔，在泉之水發為寒風，主客寒熱相簿，故草木凝煙，而白露陰布，所以民病濕熱之症也。以下五六氣與終之氣，主客又同氣矣，五之氣，主客二氣，皆陽明燥金用事，所以慘令行而寒露下，霜早降而草木黃，皮腠屬金，故民病皮腠也。終之氣，主客二氣皆太陽寒水用事，所以寒大舉，而霜積陰凝，水堅凝而陽光不治，人病關節禁固、腰椎皆痛者，因病在腎與膀胱，因腎膀胱皆屬北方寒水，以主客皆太陽寒水，氣與腎與膀胱相合應故也。參看下列圖表：</p>

<h2>逐年主氣圖解</h2>
<p>主氣者，地氣也，在地成形，靜而守位，謂木火土金水分主四時而司地化，以為春夏秋冬歲之常令者是也。然主氣氣以五行相生序，而太陰土所以居少陽火之後也。如厥阻木之所以主初氣者，以春木為方生之始也，主春分前六十日有奇。自鬥建醜中起至卯中止，天度至此，風氣乃行，春木生火，故少陰君火為二氣，主春分後六十日有奇。自鬥建卯中起至巳中止，天度至此，暄淑乃行，君相以同氣相隨，故少陽相火繼群火而為三氣，主夏至前後各三十日有奇。自鬥建巳中起至未中止，天度至此，炎熱乃行，夏火生土，故太陰濕土為四氣，主秋分前六十日有奇。自鬥建未中起至酉中止，天度至此，雲雨乃盛，濕蒸乃作，長夏之土生金，故陽明燥金為五氣，主秋分後六十日有奇。自鬥建西中起至亥中止，天度至此，清氣乃行，萬物皆燥，秋金生水，故太陽寒水為終氣，主冬至前後各三十日有奇。自鬥建亥中起至醜中止，天度至此，寒氣乃行，此為一歲之主氣，有常而無變者也。至於年神，有太少之異，六步有正對之殊，客氣布行，天令以加臨於主氣上，斯上下相召而變生矣。</p>

<h2>逐年客氣圖解</h2>
<p>客氣者，天氣也，在天為氣，動而不息，乃為天之陰陽分司天在泉，左右四間之六氣者是也，故三陰三陽之氣，更迭主時而行，天令以加臨於主氣之上，而為一歲之變化。然客氣以陰陽先後之數為序，故太陰土所以居少陽火之前也，如三陰之序，以厥陰為始者一陰也，次少陰者二陰也，又次太陰者三陰也。三陽之序以少陽為始者一陽也，次陽明者二陽也，又次太陽者三陽也。濕土一也，而客氣之濕居火前，主氣之土居火後，雖若前後有不同，而實皆處乎六者之中，正以見土德之位也。凡客令所至，則有寒暑燥濕風火非常之化，故冬有爍石之熱，夏有淒滄之涼，和則為生化，不和則為災傷，此蓋以客氣所加，乃為勝制郁發之變耳，故《五運行大論》曰：「五運更立，各有所先，非其位所邪，當其位則正，氣相得則微，不相得則甚。」又曰：「氣有餘則制己所勝，而侮所不勝。氣不及則己所不勝，而侮乘之己所勝。輕而侮之，侮反受邪，侮而受邪，寡於畏也。此客氣有不時之加臨，而主氣則只當奉行天令耳，故凡客主之氣，則但有勝而無復也。總而言之，司天通主上半年，在泉通主下半年，此客氣之概也。析而言之，則六氣各有所主，此分六氣之詳也，司天在上，在泉在下，中運居中，通居一歲，如司天生克，中運謂之以上臨下為順，運氣生克，司天謂之以下臨上為逆，在泉亦然。順分生克之殊，逆有大小之別，此古人舉運氣之端倪耳。若其二氣相合，象變迥異，千變萬化，何有窮盡，如四時有非常之化，常外更有非常，四方有高下之殊，殊中又分高下，百步之內，晴雨不同，千里之外，寒暄非類，故察氣候者必因諸天，察方宜者，必因諸地，圓機之士，又當因常以察變，因此以察彼，庶得古人未發之玄，而盡其不言之妙歟。</p>

<h2>丑未年主客相臨天時民病表附說</h2>
<p>此表但指丑未年太陰司天之政而言也，蓋丑未之歲，太阻濕土司天，則太陽寒水在泉，逐年客氣皆從在泉之左間起初運，故本年初氣即起於在泉之左間，本年在泉為太陽寒水，則初之氣為厥陰風木，與主氣同。二之氣為少陰君火，與主氣亦同。三之氣則客氣之太陰濕土居少陽相火之前，故客氣為太陰、主氣為少陽矣。四之氣則主氣之太陰濕土居少陽相火之後，故主氣為太陰、客氣為相火矣。五之氣則客氣、主氣又同為陽明矣。終之氣，則客氣、主氣又同為太陽矣。</p>
<p>假如子午年，則少陰司天，陽明在泉，在泉之左間為太陽，即從太陽起初氣。已亥年則厥陰司天，少陽在泉，在泉之左間為陽明，即從陽明起初氣。辰戌年則太陽司天，太陰在泉，在泉之左間為少陽，郎從少陽起初氣。卯酉年則陽明司夭，少陰在泉，在泉之左間為太陰，即從太陰起初氣。寅申年則少陽司天，厥陰在泉，在泉之左間為少陰，即從少陰起初氣。由而二，而三，而四，而五，而終，六步依次而轉，均可類推，客氣與主氣相加臨，則天時民病，皆可觀氣而知矣。</p>
<p>程民佐問：《難經》言「脈不滿五十動而一止者，是一藏無氣，為腎氣先絕也。」生觀此篇有二者不明，凡先絕之藏，理當審其何藏受病，則何藏之氣何能拘定一藏無氣腎氣先絕？若此所云，無論何藏受病皆腎氣先絕，其理何也？又脈不滿五十而一代者，由一藏之氣已絕，吸不至藏故也，夫一藏之氣既絕，吸不至藏，則第五動當一代焉，何以能至四十動而一代耶？以上二者之理，何以腎氣先絕，何以脈不滿五十而代？乞夫子明示。</p>
<p>答曰：此正以何藏氣絕，分別觀何藏之病也。腎氣先絕者，因五藏腎為最下，吸氣最遠，謂吸不能至腎至肝而還，知腎所資不能隨諸藏之氣而上，故其氣先絕也。脈不滿五十而代者，五十動是天地陰陽以漏刻為制度也。按《靈樞·根結篇》云：「一日一夜五十營，以營五藏之精，不應數者名曰狂。」生所謂五十營者，五藏皆受氣，持其脈口數其至也。五十動而不一代者，五藏皆受氣，四十動一代者，一藏無氣，三十動一代者，二藏無氣，二十動一代者，三藏無氣，十動一代者，五藏無氣。張氏注曰：「五藏生於五行，氣本於十干合化，是以五藏不以五為數，而以五十為數也。」曰：何謂天地陰陽以漏刻為制？曰：一為陽之數，十為陰之數，天為陽，地為陰，故曰天地陰陽也，一日一夜五十營，合漏下百刻，故曰以漏刻為制也。</p>
<p>王立堂問：經云女子七七而任脈虛，太衝脈衰，地道不通，天癸乃竭，故形壞而無子也。據經旨謂，女子七七而經水斷，不復懷孕矣。但生曾經見女子年五十六而懷孕者，其故安在？</p>
<p>答曰：經言男子不過盡八八，女子不過盡七七者，言天地精氣皆竭於此，過此以外多難生子耳。倘過此精氣未竭，未嘗無子；人苟縱情多欲，妄自斫喪，致傷生化之源，少年精絕而終身無子者亦有之，何是異哉。況是篇下文帝曰：夫道者，年皆百數，能有子乎？岐伯曰：夫道者，能卻老而全形，身年雖壽，能生子也。蓋言合道之人，其材力自是非常，壽而生子，固有出人之表，不可以常數限也。</p>
<p>吳士揪問：《難經·二十七難、二十八難》曰：「脈有七經八脈，不拘於十二經，比於聖人圖設溝渠，通利水道，以備不然，天雨下降，溝渠溢滿，當此之時，旁需妄行，聖人不能圖也。」「人脈隆盛，入於八脈，為不還周，故十二經亦不能拘之，其受邪氣，畜則腫熱，砭射之也。」徐氏注謂：「奇經八脈不能還周，不如十二經之循環不已，故一受邪氣，則邪氣即無從而出，惟用砭石以射之，則邪氣隨血以泄，病乃已也。」然與上文二十三難不合。二十三難云：「人二足蹻脈從足至目，長七尺五寸，二七一丈四尺，二五一尺，合一丈五尺；督脈任脈各長四尺五寸，二四八尺，二五一尺，共九尺，合之左右手足三陰三陽，共脈十六丈二尺，人一呼脈行三寸，一吸脈行三寸，呼吸定息，脈行六寸，二百七十息，脈行十六丈二尺，一周於身，一日一夜，凡一萬三千五百息，脈行五十度周於身，至平旦復會於手太陰，榮衛之行，周而復始，如環無端。」據此而論，任督二蹻，其氣血何常不還周？證之《靈樞·脈度篇》，任督二蹻確在十六丈二尺之內，其脈度亦與此同，並無奇經八脈不拘於經、不還周等語，《難經》此說，其理可通乎否耶？</p>
<p>答曰：《難經·二十七難、二十八難》所云，不拘於十二經者，指十二經隧也，蓋言榮血行於經隧之中，始於手太陰肺，終足厥陰肝，復從肝上注肺，雖支別入督脈之道，而正經則至畜門而終，故《靈樞·營氣篇》曰：「常榮無已，終而復始。」又曰：「獨得行於經隧。」此即所謂拘於十二經而還周，比於聖人圖設溝渠，通利水道，而奇經不與焉，故注云：「此獨行於經隧之血而名榮氣，榮於十二經脈之中，始於手太陰肺，終於足厥陰肝，與榮衛之榮氣循度應漏之不同也。」是以本篇論榮氣之行，外榮於十二經脈，內容於五臟六腑，其支者雖入於背脈，仍注於肺中，而任督及兩蹻不與焉。（以上所說，俱詳《組織學講義》營氣運行之次篇正義中）又曰，其榮氣、宗氣行於脈中，以應呼吸，漏下者行於二十四脈，並任督兩躇共二十八脈，以應二十八宿者也，營氣、宗氣行於脈中者，應呼吸漏下晝夜而為五十營也，此方是《難經》二十三難所謂合任督兩蹻十六丈二尺，亦即《靈樞·脈度》篇所謂十六丈二尺也。（俱詳《組織學講義》衛氣運行之次篇，及一萬三千五百息、五十營氣脈之數篇）《難經》此數段與《靈樞經》旨符合，惟《難經》言之不甚詳細耳。</p>
<p>又問：成無己注《傷寒論》云：「寒則傷營，風則傷衛，營為血，血屬陰，寒為陰邪，陰與陰相親，以類相感，故寒則傷營而脈緊。衛為氣，氣屬陽，風為陽邪，陽與陽接近，以氣相從，故風則傷衛而脈緩。」以後注《傷寒論》者不下數百家，均從其說，惟陳氏修園、唐氏容川，力斥其謬，謂寒則傷衛，衛氣閉束，故脈緊，風則傷營，營血受傷，故脈緩，二說孰非孰是？請夫子指示。</p>
<p>答曰：寒為陰邪，風為陽邪，此但就表面而言，其實無分陰陽也。太陽為寒水之氣，內合至陰，而外充皮毛，皮毛者衛氣居之宅也，衛陽虛，則招外寒，故皮毛閉塞而無汗，而寒乃傷衛，厥陰為風木之氣，內主營血而外應風邪，血虛則招外風，故肌肉腠理受邪，而風乃傷營，故《論》曰：嗇嗇惡寒，淅淅惡風。嗇嗇者，皮毛欲閉之狀也，淅淅者，肌肉欲開之狀也。衛受寒，故皮毛閉而惡寒，皮毛閉故脈緊也，營受風，故肌肉開而惡風，肌肉開故脈緩也，其說似較為當。曰成氏所謂風為陽邪，寒為陰邪，後世醫家盡從其說，即陳修園《淺注》，亦以風為陽邪，而唐容川獨斥其非，謂風應東方木，在藏屬肝，在卦為震。肝體木，陰血凝聚而成震卦，上二陰爻，下一陽爻，陰尚且多於陽，何得以專指風為陽邪？且序例云：「桂枝下咽，陽盛則斃。」使果風為陽邪，豈可更與桂枝湯以助其陽哉？唐氏此說，似乎近理，然考之《素問·至真要大論》云：「風淫於內，治以辛涼，佐以苦甘，以甘緩之，以辛散之。」夫風為陽邪，故曰治之以辛涼，不然經何不曰治之以辛溫、辛平？如濕為陰邪，故即曰濕淫於內，治以苦熱，惟其陰邪也，故曰治之以苦熱，惟其陽邪也，故曰治之辛涼，觀此則風為陽邪之說，亦未可斥其非也。雖然陰邪陽邪關於臨症用藥之際大有區別，不可不辨，此中真詮，究屬何如，曰風與寒，實無所謂陰陽也。唐氏曰：「鳳之與寒，不得以陰陽二字截分，惟寒則傷衛，衛氣閉束故脈緊，風則傷營，營血受傷，則血脈弱而動緩，故脈緩。」此言極為有理。至於《至真要大論》所云「風淫於內，治以辛涼」者，蓋言辛從金化，風屬肝木，以勝氣治之也，佐以甘者，隨其所利也，木苦急，則以甘緩之，此即《藏氣法時論》所謂「肝欲散，急食辛以散之，肝苦急，急食甘以緩之」是也，此蓋指諸氣之在泉而言，非指風為陽邪也。又曰「濕淫於內，治以苦熱，佐以酸淡」者，蓋言苦從火化，濕屬脾土，以燥氣治之也；酸以收濕，淡以利竅而滲泄其濕也。此即《藏氣法時論》所謂「脾苦濕，急食苦以燥之。」《靈樞經》所謂「淡利竅」，《生氣通天論》所謂「味過於苦，脾氣不濡」是也，此亦指氣之在泉而言，非指濕為陰邪也。</p>
<p>包超然問：溫病有伏氣、有新感，《內經》有冬傷於寒，春必溫病，及冬不藏精，春必病溫之訓，即為此立二大局。其內無伏邪、隨感隨發者為新感，固盡人知之矣，惟伏氣究伏於何處，自章虛谷輩有寒邪伏於少陰，鬱而化熱之說，後人因之。然少陰為太陽底面，寒邪不先犯太陽，而直入少陰，已成傷寒直中陰經之證，豈待春而始發，其已伏未發之經過中，何能安然無事？且十二經氣晝夜運行不息，邪任入何經，勢必隨經傳變，決無伏而不動者，虛谷豈未之思耶？夫人身陽常有餘，陰常不足，此丹溪名言，少陰固受盛陰精之府，有動於中，必搖其精，人不能無所動，即陰不能保其不虛，虛之處即容邪之處，虛谷無非本此旨立言，然《內經》只有冬傷於寒及邪藏肌膚云云，並無少陰字樣，肌膚更非少陰所司，虛谷固宗葉氏者，而葉氏之論溫病，多注重於肺胃，無一語牽涉少陰，虛谷其師心之謂何？近人於溫病證治日見發明，而獨於少陰伏氣之說，人莫明其是，亦莫辨其非，究竟虛谷之言，與《內經》可通否？肌膚二字，可否即以少陰經絡解釋之？此皆病理上應有之問題，吾師當有以教之。</p>
<p>答曰：肌膚屬氣分，固非少陰所司，肌膚二字似不可以少陰經絡作解釋，然以經脈論，手足少陰實有血氣內外之分別，手少陰屬脈管內，足少陰屬脈管外，脈管內是血分，乃心血所行之路，脈管外是氣分，乃腎陽化生衛氣而充達於肌膚者也，腎中陽氣不能外充，斯邪藏肌膚耳。</p>
<p>又問：大腸脈候右寸，小腸脈候左寸，此《脈訣》之言，醫家所公認，乃自滑伯仁有候大小腸於兩尺之說，李士材極稱是之，遂予後人以岐途之惑，而莫知所適從。然汪氏《脈訣刊誤》於叔和說多有所辨正，而獨於左寸候心小腸，右寸候肺大腸，未嘗以為非，謂以腑配臟，二經脈相接，故同侯於一部也。嘗思脈候大法，以三部配三焦，大小腸位居下焦，則滑說兩尺之候，亦據理之言，而揍諸表裡經脈相接之理，則叔和之言，又未可厚非，然尺寸不可兼診，是非終有一屬，其學理上之究竟，還請吾師斷言之。</p>
<p>答曰：臟腑配脈分位次，亦從氣化，心肺居上，脾胃肝膽居中，腎膀胱大小腸居下，分位次也，脾合胃為一家，肝合膽為一家，腎和膀胱為一家，心合小腸為一家。肺合大腸為一家，然脾胃同居右關，肝膽同居左關，腎膀胱同居左尺，表裡同配一部，候脈自不必兼二部，若心肺配寸，大小腸配尺，是以一家而分兩地也，自不得不以寸候一家之關係，尺候分居之地位，故唐氏《診脈精要》云：肺之腑大腸，肺居右關上寸部，大腸宜配於右關下尺部，亦有時診於右寸者，總以肺與大腸為一家也，小腸從心配左寸，小腸亦配在左尺，以心與小腸雖一家，心位於上，小腸當從於下也。</p>
<p>又問：醫案有稱脈象弦濡者，弦如新張之弓弦，其象為剛，濡如綿絮之浮水，其象為柔，弦濡互見，豈既剛而又柔歟？若謂弦而虛軟，無力為弦濡，則何以不稱為弦虛，但脈理深奧，此中或有深義，乞吾師明示，以釋生疑。</p>
<p>答曰：此非指兼脈而言，指弦脈而言也。濡之為名，即軟之義，隨手而沒之象也，故《脈訣》曰：「濡脈細軟，見於浮分，舉之乃得，按之即無，不可混作虛脈。」濡脈浮軟，雖與虛脈相似，但虛脈形大，濡脈形小，顯然不同，弦濡者，非弦虛之謂，弦軟之謂也。《脈經》云：「弦而軟，其病輕，弦而硬，其病重。」即此義耳，非指兼脈而言，故不能與弦大、弦細、弦數、弦遲一列論。</p>
<p>程民佐問：考「關格」二字，各有岐說，如《難經》言，陽盛者為關，陰盛者為格。《醫經原旨》言：「人迎四盛以上為格陽，寸口四盛以上關陰，人迎與寸口俱盛四倍已上為關格，關格之脈羸，不能極於天地之精氣，則死矣。又云在寸為格，在尺為關，關則不得小便，格則吐逆，反四時者，有餘為精，不足為消，應太過不足為精，應不足有餘為消，陰陽不相應，病名曰關格。」《靈樞·終始篇》曰：「人迎四盛，且大且數，名曰溢陽，溢陽為外格。脈口四盛，且大且數，名曰溢陰，溢陰為內關。」《脈度篇》曰：「陰氣太虛，陽氣不能榮，故曰關；陽氣大盛，陰氣不能榮，故曰格。」仲景《傷寒論》云：「寸口脈浮而大，浮為虛，大為實。在尺為關，在寸為格。」景岳《真陰論》曰：「關格本乎陰虛，欲強陰舍陰不可。」以上諸書不同，其理何也？</p>
<p>答曰：關格一證，《內經》如六節藏象論、終始篇、禁服篇、脈度篇、經脈篇等，言之詳矣，經言陰陽不和，乃成關格，謂人身陰陽之氣貴乎和平，若陰陽偏勝，以及不相泱洽，則不得盡天年之期也。夫邪氣居之，不在於陰，必在於陽，邪在腑，則氣留之而陽勝，陽勝則陰病矣，陰病則血留而陰勝，陰勝則陽病矣。陰勝而陽氣不榮為關，陽勝而陰氣不榮為格，陰氣太盛，致使六陽經之脈氣不能運而入內，故曰關，關者關六陽之氣在外，而使之不能入於內也。陽氣太盛，致使六陰經之脈氣不能運而出外，故曰格，格者格六陰之氣在內，而使之不得出於外也。陰陽俱盛，不得相榮，則陰自陰而陽自陽，陰陽不相浹洽為關格，必不得盡天年而夭折，故曰不得盡期而死也。《難經》雲陽盛為關，陰盛為格，已與經旨相背。仲景云在尺為關，在寸為格，關則不得小便，格則吐逆，遂指吐逆、便閉為關格症。後世自叔和、東垣以來，皆以此相傳，遂置關格一證於不問。丹溪云：「此證多死於寒在上，熱在下，脈兩寸俱盛四倍以上，法當吐，以提其氣之橫格，不必在出痰也。」既曰兩寸俱盛四倍以上，又安得為寒在上？且脈大如此，則浮豁無根，其虛可知，尚可吐乎？其謬孰甚！夫《內經》云人迎四倍寸口者，非指尺寸而言也，古法人迎，趺陽寸口合診，乃遍診法，古之三部九候，與今之三部九候不同。而曰吐逆者，特隔食一證耳，不得小便者，特癃閉一證耳，其與關格何涉？至於陰虛一證，更無論矣。蓋關格一證，在《內經》本以人迎察六府之陽，寸口察五臟之陰，人迎盛之四倍以上，此陽明經孤陽獨見，水不濟火也，故曰格陽，格陽者，陰格於陽也。氣口盛至四倍以上，此太陽經元陰無主，氣不歸精也，故曰關陰，關陰者，陽關於陰也。若人迎寸口俱盛至四倍以上，且大且數，此其陽氣不藏，故陰中無陽，陰氣不升，故陽中無陰，陰陽相離，故名關格也。凡陽盛於陽者似乎當瀉，而陰分見陰，又不可瀉；陰極於陰者，似乎當補，而陽分見陽又不可補：此證乃陽自陽而陽中無陰，陰自陰而陰中無陽，補之不可，瀉之不能，乃危極之證，豈可指為膈食、癃閉、陰虛等症乎？</p>
<p>又問：脈有三部九候，三部者寸關尺也，九候者三部之中各有浮中沉三候，三三九候也。今觀張會卿《脈神章》第三節中言：「三部九候者，三部即上中下三部也，部各有三候，三候者天地人也。上部天，兩額之動脈，上部地，兩頰之動脈，上部人，耳前之動脈。中部天，手太陰也，中部地，手陽明也，中部人，手少陰也。下部天，足厥陰也，下部地，足少陰也，下部人，足太陰也。故下部之候，天以候肝，地以候腎，人以候脾胃之氣；中部之候，天以候肺，地以候胸中之氣，人以候心；上部之候，天以候頭角之氣，地以候口齒之氣，人以候耳目之氣。」生按此節之意，心中頗有疑，殆夫三中部者，以候何藏受邪也，寸以射上焦，關以射中焦，尺以射下焦，是寸關尺三焦之脈位也；九候者，以察病氣表裡、陰陽、虛實、寒熱也。據會卿說，浮中沉亦是候藏氣，是一部之中非獨候一藏之氣矣，譬猶尺部本腎經之脈，而會卿說候肝、腎、脾胃三藏之氣，其理何也？</p>
<p>答曰：此即所謂古今診法不同也，張氏之說，即《內經》診法，乃遍診全身動脈，此古之所謂三部九候，與今之所謂三部九候不同。按《素問·三部九候論》曰：「有下部，有中部，有上部，部各有三候，三候者，有天有地有人也。」又曰：「上部天，兩額之動脈（即頷厭之分，足少陽脈氣所行也）；上部地，兩頰之動脈（即地倉、人迎之分，足陽明脈氣所行也）；上部人，耳前動脈（即和髎之分，手少陽脈氣所行也）。中部天，手太陰也（即掌後寸口動脈，經渠之次，肺經脈氣所發也）；中部地，手陽明也（即手大指次指岐骨間動脈，合谷之次，大腸經脈氣所行也）；中部人，手少陰也（即掌後銳骨下動脈，神門之次，心經脈氣所行也）。下部天，足厥陰也（即氣衝下三寸動脈，五里之分，肝經脈氣所行也）；下部地，足少陰也（即內踝後跟骨旁動脈，太谿之分，腎經脈氣所行也）；下部人，足太陰也（即魚腹上，越筋間動脈，直五里下箕門之分，脾經脈氣所行也）。」故曰：「下部之天以候肝，」此足厥陰脈，故候肝也；「地以候腎」，此少陰脈，故候腎也；「人以候脾胃之氣」，此足太陰脈也，脾胃以膜相連，故可以候脾胃之氣。「中部天，以候肺，」此手太陰肺也，故以候肺；「地以候胸中之氣」，此手陽明大腸脈也，大小腸皆屬於胃，胃脘通於胸中，故以候胸中也；「人以候心」，此手少陰脈也，故以候心。「上部天，以候頭角之氣，」此即兩額動脈，故以候額角之氣也；「地以候口齒之氣」，此即兩頰動脈，故以候口齒之氣也；「人以候耳目之氣」，此即耳前動脈，故以候耳目之氣也。故經曰：「三部者，各有天，各有地，各有人，三而成天，三而成地，三而成人，三而三之，合則為九。」此即《內經》之所謂三部九候，亦即張氏《脈神章》所謂三部九候也，後世此法已廢，診法即從《難經》，以寸關尺為三部，三部各有浮中沉，是為九候，於是有左心小腸肝膽、腎，右肺大腸脾胃命門之配，此所謂天部、人部、地部者，指寸關尺分上焦、中焦、下焦而言，與《內經》所謂天地人不同也。</p>
<p>又問：五藏之脈，肝脈弦，心脈鉤，肺脈毛，腎脈石，脾脈代，是五臟之平脈，而《難經》言「不滿五十而一代者，是藏氣己絕，其故何也？</p>
<p>答曰：代脈不一，各有深義，雖同一名，有至數之代，有形體之代，有氣候之代，《難經》所謂不滿五十而一代者，其說本於《靈樞·根結篇》，即動而中止，不能自還也，故經曰：「五十動而不一代者，五藏皆受氣，四十動一代者，一藏無氣，三十動一代者，二藏無氣，二十動一代者，三藏無氣，十動一代者，四藏無氣，不滿十動一代者，五藏無氣，予以短期。」故《難經》曰：「藏氣己絕。」此即至數之代也。若脈本平勻，而忽強忽弱者，乃形體之代，即《平人氣象論》所云者是也。又若脾主四季，而隨時更代者，乃氣候之代，即《宣明五氣篇》所云者是也。凡脈無定候，更變不常，則均謂之代，故經云脾脈代。又《邪氣藏府病形篇》曰：「黃者其脈代。」皆言藏氣之常候，非謂代為止也。又《平人氣象論》曰：「長夏胃為耍弱曰平，但代無胃曰死」者，乃言胃氣去而真藏見者死，亦非謂代為止也。即以止而論，亦有分別，張氏云：「按代脈之義，自仲景、叔和俱云動而中止不能自還，因而復動，脈代者死。又曰脈五來一止，不復增減者死，經名曰代。脈七來是人一息，半時不復增減，亦名曰代，正死不疑。故王太僕之釋代脈，亦云動而中止，不能自還也。自後滑伯仁因而述之曰，動而中止，不能自還，因而復動，由是復止，尋之良久，乃復強起為代，故後世以結、促、代並言，均目之為止脈，豈足以盡其義哉？夫緩而一止為結，數而一止為促，其至則或三或五，或七八至不等，然皆至數分明，起止有力，所主之病有因氣逆痰壅而為間阻者，有因血氣虛脫而為斷續者，有因生平稟賦多滯而脈道不流利者，此是結、促之謂，非代之謂也，設此不明，非惟失經旨之大義，即於脈象之吉凶，皆茫然莫知，所辨何足以言診哉？」</p>
<p>王善問：讀十二經離合篇言，經脈之外又有十五大絡，大絡之外又有經別，蓋十二經者，手足三陰三陽也，此已知之，而大絡與經別，生尚未知，請夫子指示。</p>
<p>答曰：十五大絡即十五別絡也，《靈樞·經脈篇》曰：手太陰之別，名曰列缺，起於腕上分間，並太陰之經，直入掌中，散入魚際。手少陰之別，名曰通里，去腕一寸半，別而上行，循經入於心中，系舌本，屬目系。手心主之別，名曰內關，去腕二寸，出於兩筋之間，循經以上繫心包，絡心系間。手太陽之別，名曰支正，上腕五寸，內注於手少陰，其別者上走時絡肩髃。手陽明之別，名曰遍歷，去腕三寸，別入太陰，其別者上循臂，乘肩髃上曲頰偏齒，其別者入耳，合於宗脈。手少陽之脈，名曰外關，去腕二寸，外繞臂，注胸中合心主。足太陽之別，名曰飛揚，去踝七寸，別走少陰。足少陽之別，名曰光明，去踝五寸，別走厥陰，下足跗。足陽明之別，名曰豐隆，去踝八寸，別走太陰，其別者循脛骨外廉，上絡頭項，合諸經之氣，下絡喉嗌。足太陰之別，名曰公孫，去本節後一寸，別走陽明，其別者入絡暢胃。足少陰之別，名曰大鐘，當踝後繞根，別走太陽，其別者並經上走於心包下，外貫腰脊。足厥陰之別，名曰蠡溝，去內踝五寸，別走少陽，其別者經脛上睪，結於莖。任脈之別，名曰尾翳，下鳩尾，散於腹。督脈之別，名曰長強，挾膂上項，散頭上下，當肩胛左右，別走太陽，入貫膂。脾之大絡，名曰大包，出淵液下三寸，布胸脅。此即所謂十五大絡，亦即所謂十五別絡也。又《靈樞·經別》篇曰：「足太陽之正，別人膕中，其一道下尻五寸，別入於肛。足少陰之正，至膕中，別走太陽而合。足少陽之正，繞髀入毛際，合於厥陰，別者入季肋之間。足厥陰之正，別跗上，上至毛際，合於少陽，與別俱行。足陽明之正，上至髀，入於腹裡屬胃。足太陰之正，上至髀，與別俱行。手太陽之正，指地，別干肩解。手少陰之正，別入淵腋兩筋之間，屬於心。手少陽之正，指天，別於巔，入缺盆，下走三焦，散於胸中。手心主之正，別下淵液少陰之前，入走肺。」此即所謂經別，亦即所謂六合也。</p>
<p>包超然問：中醫病理，多拘於一藏一府，一經一絡，生每覽方書觸目，動有可疑，亦由信古之心未堅也。即如吐血一證，各方書於細分五藏之外，更有謂由吐血而出為胃血者，然六府無血，胃為六府之一，血從何來？若謂血由他藏而注於胃，由吐而出，則亦不得稱為胃血，若謂因胃經見證，故謂胃血，則所謂見證者，莫外乎嘔吐，口渴，身熱不得臥，諸證亦只可謂與胃有關，況吐血見證，盡人而殊，未必悉屬於胃也，豈可斷斷一吐字，而矢口謂胃血乎？西醫之論血證，咸責之血管，其於吐血，則指為血證中之最狂暴者，亦以血既至於吐，其受傷必已及於動靜脈，否則勢不至此。夫西醫所謂動靜脈，當即是中醫之衝任，此生理上見解本相契合（此個人意見，未知然否？）中醫尤以衝任為血海，而悉以隸之陽明，陽明者胃也，然則所謂胃血者，將以陽明熱邪沖激衝任，以致吐血，又以胃統衝任，故謂胃血乎？然衝任所經過之處，非止於胃，其或因他藏之邪熱激傷衝任，以致吐血，亦將謂為胃血否耶？抑更有所謂木強土弱，胃受制克，血乃由肝而轉註於胃，由吐而出，乃謂胃血乎？然血既來自肝，又烏得謂為胃血？又便血、尿血，不論近因遠因，要與大小腸膀胱有關，而既本藏則皆無血，又必標大、小腸血，膀胱血各名目，其拘謹殆與胃血同，生讀書少悟心，迄未得充分明瞭之解釋，竊以為非請諸夫子不可也，至其他務名略實之說，蓋不勝枚舉耳。</p>
<p>答曰：失血於口者，同一吐而有咽、喉之異，蓋上焦出納之門戶，惟咽喉二竅而已，咽為胃之上竅，故由於咽者必出於胃，喉為肺之上竅，故由於喉者必出於肺，然喉連於肺，而實總五藏之清道，咽連於胃，而實總六府之濁道，此其出於肺者，人知病在五藏，而不知出於胃者，亦多由乎五藏也。《內經》云，五藏者皆稟氣於胃，胃者，五藏之本也。五藏之氣既稟於胃，五藏之病何獨不及於胃乎？今見吐血輒指為胃血，並曰古人云嘔者血出於胃，豈知亦由於藏乎？大凡胃火盛而大吐者，多本腑之病，至若怒則氣逆，甚則嘔血者，亦出於胃脘，此氣逆在肝，木邪乘胃所致也。又如欲火上炎，甚則嘔血者，亦出於胃脘，此火發源泉，陰邪乘胃所致也。凡五志之火皆能及胃，而血出自咽者，豈止胃病？惟咳而出者，必出於喉，出於喉者，當察五藏；嘔而出者，必出於咽，出於咽者，則五藏六府皆能及之。但胃為水穀之海，多氣多血之府，實為衝任血海之源，故凡血枯經閉者，當求生血之源，源在胃也；吐血者，當求動血之源，源在藏也，至於便血，有由腸胃者，有在廣腸、肛門者，有在小腸者，雖同一血之妄行，要不得盡指為大小腸，且有脾胃陽虛而不能統血者，有氣隱而血亦陷者，有病久滑泄而血因以動者，有風邪結於陰分而便血者，安得概指為大小腸？若溺血，則有出於溺孔者，有出於精道者。出於溺孔，而溺時孔道澀痛，小水紅赤不利，此多以酒色欲念，動下焦之火，固出自膀胱也；如溺孔不痛，而血隨溺出，或痛隱於臍腹，或熱見於藏府，蓋小腸與心為表裡，此丙火氣化之源，清濁所由分，無論焦心、勞力，或厚味酒漿，而上中二焦，五志口腹之火，凡從清道以降者，必皆由小腸以達膀胱也。若出於精道之血，必自精宮、血海而出於命門，蓋腎主水受五藏六府之精而藏之，故凡勞傷五藏，或五志之火，致令衝任動血者，多從精道而出。但病在小腸者，必從溺出，病在命門者必從精出。凡於小腹下，精泄處覺有痠痛而出者，即是命門之病，而治法亦與水道者不同，蓋水道之血宜利，精道之血不宜利，澀痛不通者宜利，血滑不痛者不宜利也。</p>
<p>又問：《內經》言，金木水火土分配五藏，人知之矣，然五行由天干所化，乙庚何以化金？丁壬何以化木？丙辛何以化水？戊癸何以化火？甲己何以化土？而其所化之理，可得而聞歟？</p>
<p>答曰：按《素問·五運行大論》云：「丹天之氣經於牛女戊分，齡天之氣經於心尾己分，蒼天之氣經於危室柳鬼，素天之氣經於亢氏昂畢，玄天之氣，經於張翼婁胃。」此蓋太古占天之始，察五氣，紀五天，而所以立五運也。五天五運者，謂望氣知時，見丹天之火氣經於牛女壁奎四宿之上下臨戊癸之方，此戊癸之所以為火運也；齡天之土氣經於心尾角軫四宿之上下臨甲己之方，此甲己之所以為土運也；蒼天之木氣經於危室柳鬼四宿之上下臨丁壬之方，此丁壬之所以為木運也；素天之金氣經於亢氏昂畢四宿之上下臨乙庚之方，此乙庚之所以為金運也；玄夭之水氣經於張翼婁胃四宿之上下臨丙辛之方，此丙辛之所以為水運也。又《難經》三十三難云：「肝非為純木也，乙角也，庚之柔，大言陰與陽，小言夫與婦。肺非為純金也，辛商也，丙之柔，大言陰與陽，小言夫與婦。」蓋言甲庚丙壬成為陽為剛，己乙辛丁癸為陰為柔，剛克柔，惟克斯合，合斯化，故甲己合而化土，乙庚合而化金，丙辛合而化水，丁壬合而化木，戊癸合而化火，剛柔克而陰陽合，大而天地，小而夫婦，其理一也。故五天五運解曰，甲剛木克己柔土，為夫婦而成土運；乙柔木嫁庚剛金而成金運；丁陰火配壬陽水而成木運；丙陽火娶辛柔金而成水運；戊陽土娶癸陰水而成火運也。且不獨此也，尚有月建之法，十二肖之說，月建者，單舉正月為法，假如甲己之歲，正月建丙寅，丙者，火之陽火生土，故甲己為土運；乙庚之歲，正月建戊寅，戊者，土之陽土生金，故乙庚為金運；丙辛之歲，正月建庚寅，庚者，金之陽金生水，故丙辛為水運；丁壬之歲，正月建壬寅，壬者，水之陽水生木，故丁壬為木運；戊癸之歲，正月建甲寅，甲者，木之陽木生火，故戊癸為火運也。十二肖者，龍居辰位，鱗蟲中惟龍能興雲霧善變化，凡十二幹起甲，故至辰而變例，如甲己干，頭起甲子至辰屬戊為土，故甲己變而化土；乙庚干，頭起丙子至辰屬庚，庚為金，故乙庚變而化金；丙辛干，頭起戊子至辰屬壬，壬為水，故丙辛變而化水；丁壬干，頭起庚子至辰屬甲，甲為木，故丁壬變而化木；戊癸干，頭起壬子至辰屬丙，丙為火，故戊癸變而化火也。以上所言，均詳《運氣學講義》中《五行六氣上下之應篇》，並有圖及圖說。</p>

<h2>五天五運圖圖說</h2>
<p>凡墨線所指之處，即五氣所橫之處，故蒼天之氣左右二線，一面指危室二宿，一面指柳鬼二宿，即下臨丁壬之方，蒼屬木，故丁壬化木也。素天之氣左右二線，一面指亢氏二宿，一面指昂畢二宿，即下臨乙庚之方，素屬金，故乙庚化金也。玄天之氣左右二線，一面指張翼二宿，一面指婁胃二宿，即下臨丙辛之方，玄屬水，故丙辛化水也。丹天之氣左右二線，一面指牛女二宿，一面指壁金二宿，即下臨戊癸之方，丹屬火，故戊癸化火也。齡天之氣左右二線，一面指星尾二宿，一面指角輪二宿，下臨甲己之方，黅屬土，故甲己化土也。然《五運行大論》，丹天之氣何以不曰牛女壁奎，而曰牛女戊分？黅天之氣何似不曰心尾角軫，而曰心尾己分？蓋以乾居西北為天門，天門者六戊也，戊在壁奎之下，戊分即壁奎也，巽居東南為地戶，地戶者六己也。己在角軫之下，己分即角軫也。故經云所謂戊分已分者，奎壁角軫，則天地之門戶也。</p>
<p>王治華問：讀喻嘉言《醫門法律》先哲格言謂，婦人之於血也，經水蓄則為胞胎，及產後為惡露，則去者自去，生者自生，其醞而為乳，則無復下滿而為月矣。然亦有乳育而月事時下者，是否病？應否服藥？應用何藥？</p>
<p>答曰：經血為水穀之精氣，和調於五藏，灑陳於六腑，營養於經脈，其源源而來，生化於脾，總統於心，藏受於肝，宣布於肺，施泄於腎，灌溉於全身，在男子則化而為精，女子則下歸血海，上通乳竅，受孕之後，氣行血隨，胎乃陽生陰長，此即《五常政大論》所謂根於中者，命曰神機，根於外者，命曰氣立也。及期而產，濁氣下降，出為惡露，清氣上升，化為乳汁，此即《六微旨大論》所謂「升降出入，無器不有」也。且不特人為，然大而天地，小而萬物，莫不皆然，故經云：「出入廢，則神機化，升降息，則氣立孤危。非出入則無以生長壯老已；非升降則無以生長化收藏也。」至於有乳育而月事仍以時下者，如乳子周歲，而乳母經行，是其常也。若兒半歲，而母經行，有血盛血熱之分，血盛者不必服藥，血熱者宜涼血，四物湯加續斷、條苓可也。若兒二三歲，經不行而無疾，不必眼藥。若肢體倦怠，食少內熱，是血少也，宜服逍遙散加參耆以健脾胃，若以藥通之，則誤矣。若脾胃虛弱，宜服六君子湯加當歸；若兼鬱火傷脾，宜服歸脾湯加丹皮、山梔。若怒火傷血，宜服柴胡四物湯。若氣血俱虛，宜服八珍湯加丹皮。</p>
<p>又問：讀朱丹山《麻症集成》，謂痘先出而瘄後出者為順，如瘄在痘先，後要復出。然則若久不出，至老終當一出乎？〔瘄，麻疹之別稱〕</p>
<p>答曰：《麻症集成》所云，瘄在痘先，後要復出者，蓋以先天后天而言也，故曰痘乃先天之毒，止有水火瘄乃後天之毒，始備五行，但二症雖分先天后天，而其實無非胎毒，不過因輕重而分先後耳，故痘出多在幼時，瘄則有在幼時出者，亦有長大而出者，一時傳染大小相似，未有不由天行癘氣而發也。曰：瘄即為後天之毒，何以亦屬於胎毒乎？曰：痘為先天之毒者，其毒由胎中蘊於脾肺，故其病發於手足太陰，瘄為後天之毒者，因產後發聲之出為後天之始，當時口中含有一血塊，胎毒皆蘊其中，若有良醫在旁，能幹未發聲前，將口中血塊取出，則瘄可終身不發，若任其嚥下，則歸於陽明，故瘄之毒發於陽明，而上於肺，肺主氣屬皮毛，是以痘毒走血分，而瘄毒走氣分，所走之途雖殊，而所發之原則一也，故曰氣為陽，血為陰，痘乃精血中毒，故應四時之生長化收藏，以合地支之數；瘄乃氣分之毒，是以一日三潮，以應陽九之數也。惟痘屬先天，故發覺早，瘄屬後天，故發遲早不一：大抵皆由天行癘氣而發，其原雖屬裡，而證多屬表，故其內為胎毒，與痘症同，外有表邪，與傷寒類也，所以丹山《麻症集成》云，痘先出而瘄後出者為順，如瘄在痘先，後要復出，此亦先天后天之義歟。</p>
<p>程民佐問：李東垣《內外傷辨》言人迎主表，氣口主裡。按此二語似覺欠是，蓋以人迎雖在右手，行陽二十五度為陽，卻不能主表，氣口在左手，行陰二十五度為陰，卻不能主裡，蓋人迎為肺、胸中、脾胃、小腸、命門、三焦之脈位，氣口為心、膻中、肝膽、大腸、腎、膀胱之脈位，此十二經中皆有表裡之病，何能決肺無內病，而心無外病乎？</p>
<p>答曰：《脈訣》云：「表脈多見於左，里脈多見於右。左人迎也，右氣口也。左手三部所主溫風寒也，溫風寒病得於外，故主表。右手三部所主燥濕暑也，燥濕暑病生於內，故主裡。得於外者為外邪所感，故曰外感而主表。生於內者為五內自傷，故曰內傷而主裡。」（以上皆《脈訣》言）此即東垣之所以人迎氣口分內外表里也。至於子所謂行陽二十五度，行陰二十五度者，乃衛氣運行之次，日行於陽而夜行於陰，此指陰陽指日夜而言，非辨病之內外也。</p>
<p>王治華問：醫家嘗曰，「寧治十男子，莫治一婦人；寧治十婦人，莫治一孩子。」由是言之，則男子之病當少，而婦人孩子之病當多也明矣，然婦孩之病不加多，而男子之病未嘗少，何也？</p>
<p>答曰：所謂「寧治十男子，莫治一婦人；寧治十婦人，莫治一孩子」者，非為病之多少也。蓋言男子易治，婦人難治，孩子更難治也。蓋醫須望聞問切，而婦人之病往往秘而不言，即言亦不詳盡。且婦人多鬱悶，病情多夾雜，故較治男子為難；而孩子則言語不通，病情難測，氣血未堅，臟腑柔脆，體質嬌嫩，略受殘傷，立見委謝，故較婦人為尤難也。曰：然則小兒之體，既如此柔弱，治病將無從下手乎？曰：小兒體雖柔弱，病亦較為簡單。曰：何故？曰：小兒無七情六慾，積痼癡頑之病，其致病之原，無非外感風寒，內傷飲食。外感者，有表證而無里證，為發熱、頭痛、拘急，無汗，或因風搐搦之類是也。內傷者，只有里證而無表證，為吐瀉，為腹痛、脹滿、驚疳、積聚之類是也。熱者必有熱症，如熱、渴、煩躁、秘結、癰瘍之類是也。寒者必有寒證，如清冷吐瀉，無熱無煩，惡寒喜熱之類是也。所病不外此數種，且其藏府清靈，隨撥隨應，苟辨證精確，一劑可以見效，故曰較為簡單。若審斷不確，妄加攻伐，亦一劑可以送命，故曰較婦人尤難也。曰：小兒之病惟驚風一症最為危險，時醫多用鎮驚開竅之法，清熱散風之藥，往往愈治愈危，終至不救，其故何歟？曰：驚風有急驚慢驚之別，二症全屬相反，豈可概以鎮驚開竅，清熱散風治之？如急，則喉中多有熱痰，用抱龍、牛黃等丸及清熱消導之藥，一劑可以見功。若慢驚，乃系寒痰虛風，非逐寒補腎不可，如不分急慢虛實，以一方治二症，未有不誤也。大凡因發熱不退，及吐瀉而成者，總屬陰虛陽越，並非感冒風寒發熱可比，不宜發散，治宜培元救本，引火歸源，必先用辛熱衝開寒氣，再進溫補，方合治法，否則為禍非淺也。</p>
<p>又問：時聞世聚談曰，中醫長於內科，西醫專於外科，患病之人不可不察，此言究可信乎否乎？</p>
<p>答曰：中醫法理精微，西醫手術精良，世人因此而遂有此等之說。不知醫學一道，無論中西有一分學問，即有一分功夫，有一分功夫即有一分效驗，愈研究愈無窮盡，富有學術經驗者，皆優，淺嘗輒止者，皆劣，誠不必以內外分中西，要當皆以學力分優劣耳。曰：中醫謂肝在左，西醫主胃肝居右，又曰居中，孰非孰是？曰：肝實居中而偏於右，氣應在左也。按中醫學說，肝系居脊間第九椎正中，此即居中之明證也。《素問·六元正紀大論》曰：「民病寒於右下。」通一子注云：「金旺傷肝，肝在右脅之下。」此即肝右之明證也。《禁刺論》曰：「肝生於左。」滑伯仁注曰：「肝之為臟，其治在左，其臟在右脅，右腎之前，並胃著脊之第九椎。」此即居中偏右，氣應在左之明證也。故唐容川《人身陰陽論》篇云：「其系實居脊間正中，至於診脈分部左右者，亦從其氣化而分，非以形而分也。」</p>
<p>又問：西醫云，凡人周身皆有動脈，豈特寸關尺三部，何得只據三部為斷？</p>
<p>答曰：中醫古時本有遍診全身動脈之法，故古之三部九候與今之三部九候不同。《素問·三部九候論》曰：「上部天，兩額之動脈；上部地，兩頰之動脈；上部人，耳前之動脈。中部天，手大陰也；中部地，手陽明也；中部人，手少陰也。下部天，足厥陰也；下部地，足少陰也：下部人，足大陰也。」故古法上至人迎，下至趺陽，遍身皆診。即如仲景脈法，尚有上取寸口，下取趺陽之說。自《難經·十八難》以寸關尺分三部，三部各有浮中沉分九候，後世宗之，遂為診家捷法，而古之遍診法遂廢。此亦舍繁就簡之意，而理實至細至精，非不知全身有動脈也。</p>
<p>呂漢璋問：或云肝無補法，宜涼伐，其說是否近理？</p>
<p>答曰：所謂肝無補法者，指肝實而言耳，若肝虛之證，何嘗無補法？經云，肝與膽合，故足厥陰之經與足少陽之經為表裡，其象木，其主春，其脈弦，其神魂，其養筋，其候目，其聲呼，其臭臊，其液位，其味酸。氣盛則為血有餘，故目赤，兩脅下痛引少腹，善怒，甚者，氣逆、頭眩、耳聵、頰腫，皆肝實之症也。氣虛則為血不足，故目昏，兩脅拘急，筋攣，不得太息，爪甲枯，面青，善悲恐，皆肝虛之症也。實則瀉，虛則補。脈耎不可汗，脈弱不可下，要當量其虛實，審其脈象，而因病施治也。故鹿茸丸為治肝元氣虛之藥，黃耆湯為治肝虛氣冷之藥，地黃丸為治水不生木、肝乏生氣之藥，柏子仁丸為治肝元久虛之藥，人參飲為治肝虛筋急之藥，四聖散為治肝臟虛冷之藥，他如阿膠、棗仁、苡仁、木瓜，皆為補肝之品，均當審病用藥耳。至於肝實之證，其脈見於左手關上，陰實者，乃為足厥陰有餘之候，實則生熱，熱則陽氣盛，固非涼伐不為功，故肝臟窒熱，心膈煩悶，頭目不利者，當用大黃丸；肝火鬱熱，不能安臥者，當用瀉青丸；肝火燥盛，左脅作痛者，當用左金丸；肝臟積熱，氣昏血澀者，當用瀉肝湯。他如青皮、青黛、黃連、膽草，皆為肝藏涼瀉之藥，然皆系治實熱之症，固非攻伐涼瀉不見效，故曰肝無補法耳。</p>
<p>沈光楫問：日來天氣既熱，患病亦多，梅城時氣甚現，大概皆頭暈，欲嘔而起，然口不渴，苔終白，脈浮軟，治以辛散兼清利，亦有效者，乞指示治法。</p>
<p>答曰：今年癸亥之紀，厥陰風木司天，少陽相火在泉，中運少徵，其運熱，目下時交小滿以後，主氣少陽相火，客氣厥陰風木，客氣因與司天同氣而得助，故經云，三之氣，天政布，風乃時舉，民病泣出、耳鳴、掉眩，言其病皆司天之氣與客氣所致也。今病皆從頭暈欲嘔而起者，夫頭暈與耳鳴掉眩，同為司天與客氣之風木所致。欲嘔者，木不務德而侮土也，中運少徵歲火不及，故口不渴而苔終白，辛從金化，宜於治木，治以辛散，自應有效。惟歲半以上，天氣主之，身半以上為天之氣，故病先頭暈欲嘔，治以辛散，固甚相宜；惟木亢害土，兼用清利，則不宜也。經云上辛涼，中咸和，下鹹寒，然則此時尚在三氣之中，宜用辛散以治木，兼用鹹和以治不足之火也明矣。若交到大暑節氣，則客氣為少陰君火用事，不能再用此法，蓋客之君火與在泉之相火，君相二火交熾，時以當歲半以下，地氣主之，則不得不捨辛散而從鹹寒之治矣。然此專指時氣所發之病而言，他證不在此例，或舍時從證，或審證從時，均當隨機應變，因病制宜，又不可執中無權焉。東垣醫案載有大頭天行一證，泰和間，人多病此，醫者以承氣加〔板〕藍根下之，稍緩，翌日如故，東垣曰，夫人身半以上天，天之氣也，身半以下地，地之氣也，此邪熱客於心肺之間，上攻頭面，以承氣湯瀉胃中之熱，是為誅伐無過，遂處普濟消毒一方，活人無數。目下時症，宜用辛散，雖與熱客心肺者之宜用苦寒大不相同，然不宜下利則一也。</p>
<p>陳五昌問：寒病服熱藥，而寒不去，熱病服寒藥，而熱不退，何也？</p>
<p>答曰：病有在表者，有在裡者，有在標者，有在本者，有表寒裡熱者，有裡寒表熱者，有標寒本熱者，有本寒標熱者，有虛寒虛熱者，有實寒實熱者，有假寒假熱者，有真寒真熱者，有用寒遠寒者，有用熱遠熱者，有舍時從證者，有審證從時者，若不辨表裡、標本、虛實、真假，以及五運六氣，而但知見寒用熱，見熱用寒，不特寒不去，熱不退，且未有不寒者益寒，熱者益熱，卒至不救也，庸醫殺人，可勝嘆哉！</p>
<p>又問：頭為諸陽之會，生聞之久矣，既為諸陽之會，則何以目為肝竅，耳為腎竅，口為脾竅，鼻為肺竅，腦則腎主，而厥陰與督脈又會於巔，其故何也？</p>
<p>答曰：經雲頭為諸陽之會者，言諸陽脈氣皆會於頭，指六陽經脈皆上頭，而出於頭氣之街，此蓋指脈氣而言，與臟氣無涉也。經云目為肝竅，耳為腎竅，口為脾竅，鼻為肺竅者，言肝氣通於目，腎氣通於耳，脾氣通於口，肺氣通於鼻，故曰五臟常內閱於上七竅，五臟不和則七竅不通，言五臟位次於內，氣達於外而上閱於頭，蓋指五藏之氣各有所通而言，與精髓無涉也。經云腎主腦者，言腎精生髓，髓由脊上行而入於腦，故腦為諸髓之海，此蓋以髓會絕骨而言，與腎氣通耳無涉也。經云厥陰之脈與督脈會於巔者，蓋言督脈由長強夾膂上項，散頭上，厥陰之脈循喉嚨之後，上入頏顙連目系，上出額與督脈會於巔，此蓋指厥陰之脈與督脈之行而言，與目為肝竅無涉也。《內經》所言，各有所指，各有不同，安可泥一頭字，而以耳目口鼻腦巔頂均在頭之中，遂生疑竇乎。</p>
<p>又問：經云「陰氣太盛，陽氣弗能榮也，故曰關，陽氣太盛，陰氣弗能榮也，故曰格，關格者不得盡期而死也。」思陰氣太盛，則壯陽消陰，使歸於平可也，陽氣太盛，則壯陰制陽，以抵於和可也，何以遽云死耶？而仲景亦無法治之，生不明其致死之故，願夫子明以教之。</p>
<p>答曰：子所謂可使歸於平抵於和者，乃陽盛陰虛、陰盛陽虛一證，非關格一證也。經云弗能榮者，言陰陽乖亂不能營行也，陽氣不能營行則關，六陽之氣在外故曰關，關者，陽之氣不得入也。陰氣不能營行則格，六陰之氣在內，故曰格，格者，陰氣不得出也。陰陽俱盛，不得相榮者，陰自陰，陽自陽，不相浹洽，彼此格拒不相通，既不相通，則陽自陽，而陽中無陰，陰自陰，而陰中無陽，孤陽不能獨立，孤陰不能自生，不脫於陽，必脫於陰，脫陽死，脫陰亦死，故曰關格者不得盡期而死也。</p>
<p>又問：諸痙項強皆屬於濕，夫諸痙項強，皆筋病也，應藏為肝，應六氣則當以風，而《內經》皆屬於濕，何也？</p>
<p>答曰：《素問·至真要大論》云，諸痙項強皆屬於濕者，非指是厥陰經而言，蓋指足太陽經而言也。夫痙固風邪病，項為足之太陽，濕兼風化而侵寒水之經，濕之極也，太陽所至為屈伸不利，太陽之復，為腰椎反痛，屈伸不便，是又為寒水反勝之虛邪也。《經筋篇》云，足太陽之筋病，反折，項筋急。《繆刺論》云，邪客於足太陽之絡，令人拘攣背急。《生氣通天論》云，因於濕，首如裹，濕熱不攘，大筋□短，小筋弛長。《經脈篇》云，膀胱足太陽也，是動則病沖，頭痛，目似脫，項似拔。《六元正紀大論》云，太陽所至，為寢汗，痙。《熱病篇》云，風痙，身反折，先取足太陽。仲景云：「太陽病，發熱無汗，反惡寒者，名曰剛痙。太陽病，發熱，汗出，而不惡寒者，名曰柔痙。太陽病，發熱，脈沉而細者，名曰痙。」按痙之屬太陽者，蓋痙必反張，其病在肩背，肩背之經絡，督脈與太陽也。</p>
<p>徐學敏問：太陰無下症，何故？</p>
<p>答曰：太陰者，脾也。仲景《傷寒論》云：「太陰之為病，腹滿而吐，食不下，自利益甚，時腹自痛，若下之，必胸下結硬。」陳氏注曰：「太陰主地而主腹，故腹滿，然腹之所以滿者，地氣不升也，地氣不升，則天氣不降，不降，故上者不能下而吐食；不升，則下者不能上而自利。太陰濕土主氣，為陰中之至陰，陰寒在下而濕氣不化，故時腹自痛，若誤以痛為實而下之，則脾土愈虛，不能轉運，必於脾部之胸下結硬，此太陰所以無下症也。」唐氏注曰：「腹字是言腸胃之外，皮膚之內凡是膏油重疊復後，故名曰腹，脾所司也。飲食入胃，此膏油熏吸之，而水乃化氣走入下焦，食乃化液以奉心血，若太陰病脾之膏油不能熏吸，則食不下行，久而吐出，水穀停於腸中，而寒熱又下注入腸，則自利益甚，寒氣攻阻，則時腹自痛，若用涼藥下之，則腹中膏油得寒而結，有若冰凝，故結硬，此太陰之所以無下症也。」然此皆以氣而言，若以經而言，足太陰脈入腹屬脾，絡胃，手太陰脈起於中焦，下絡大腸，還循胃口，上膈屬肺，其義亦同。至以藏而言，雖脾也，而肺亦屬焉。曰：《內經》云「攻裡不遠寒。」王太僕注云：「下利故用寒，不遠寒。」又曰「以其不住於中也。」此是何解？曰：《素問·六元正紀大論》所謂「發表不遠熱，攻裡不遠寒」者，蓋言中於表者多寒邪，鬱於里者多熱邪，中於表者宜發表，鬱於里者宜攻裡，發者逐之於外也，攻者逐之於內也。寒邪在表，非溫熱之氣不能散熱，郁在裡，非沉寒之物不能除。凡發表邪應用熱藥，雖在盛暑之時，亦應用熱，不能因夏月天氣之熱，而避用熱藥；凡攻裡熱，應用寒藥，雖在嚴冬之時，亦應用寒，不能因冬月天氣之寒，而避用寒藥，此即舍時從症之意也。如非發表攻裡，則不在此例，蓋因發表，則藥氣隨表邪而出，攻裡則藥氣隨裡熱而下，不至留住於中而生他病，故曰以其不住於中也。假如表裡俱熱者，宜用涼解，如用小柴、白虎、益元之類，以取汗愈病是也。其因陰寒留滯者，宜用溫中，如用理中、四逆、回陽之類，而除痛去積是也。但此皆非發之、攻之謂耳，所謂發者，開其外之固也，所謂攻者，伐其內之實也。倘但見外感發熱等證，不察傷於寒而傳為熱者，有本寒標寒之別，輒用苓連等藥以清其標，則邪寒在表，藥寒在裡，以寒得寒，致使內外合邪，遂不可解，此即用寒住中之害也。又如內傷喘痛脹滿等證，多有三陰虧損者，如不辨虛實，便用硝黃之屬，則假實真虛之病從而伐之，將病未除而元氣散矣，此即攻熱住中之害也。曰：然則張子和《標本運氣歌》曰：「風從火斷汗之宜，燥與濕兼下之可。」此說非歟？曰：此說早有人非之矣，張介賓曰：「子和發明火濕二字之義，甚得其要，獨惜治法有未盡然此二語者也。」夫諸病之化，豈盡屬有餘，而必無不及，若不辨有餘不及，而則概以二法盡之，殊失《內經》本旨。夫化而太過者，宜抑；化而不及者，宜培，豈可概指為有餘，而不知有不及乎？</p>
