<header data-type="book">
<h1>增補評注柳選醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>柳寶詒</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>
<h1>評選靜香樓醫案兩卷</h1>
<p>此案為尤在涇先生所著。先生名怡，字在涇，自號飼鶴山人，江蘇長洲縣人。邃於醫學，於仲景書尤能鑽研故訓，獨標心得。時吳下以醫名者，如葉氏桂、徐氏大椿、王氏子接，均煊耀一時。先生與之聯鏢接軫，輝映後先，於醫道中可謂能樹一幟者。所著有傷寒論貫珠集、金匱心典、醫學讀書記，均刊行。惟此案未經授梓，其附刻於讀書記後者，僅有三十餘條，非全本也。此本為吾邑吳氏所鈔藏，咸豐兵燹後，詒於詹文橋張氏齋頭見之，假歸鈔錄。復就其中選精粹者，得十之五，評錄如左。分上下兩卷。竊念近時醫學荒廢，其簡陋剽襲，毫無心得者，無論已。間有鑽研古籍，不知通變者，動輒以仲景為家法，而咎今人不能用古方，目為庸陋。其實古方今病，往往枘鑿不相入，執而用之，僨事者多矣。及讀先生此案，而不覺憬然有悟也。先生博極群籍，尤服膺仲景之書，所著傷寒論金匱兩注，上溯仲景心傳，獨抒己見。讀其書者，無不知先生之於仲景，不啻升其堂而入其室已。乃觀此案，論病則切理饜心，源流俱沏，絕不泛引古書，用藥則隨證化裁，活潑潑地，從不蹈襲成方。可見食古期乎能化，裁制貴乎因時。彼徒執古書者，不且與王安石之周官，房琯之車戰，其弊適相當哉。是故讀他人之案，有不用古方者，或猶疑其服古未深，未能得力於仲景也。若先生則讀書不可謂不多，用功不可謂不切，其沉酣於仲景之書，尤不可謂其不深，乃其論病之平易近情也如是，立方之妥帖易施也如是。是則此案不第為治病之良規，並可為讀古之心法已。用書之以諦後之讀此案者。</p>
<p>光緒二十六年庚子二月下旬江陰後學柳寶詒識。</p>
<h1>評選靜香樓醫案上卷</h1>
<p>長洲尤怡在涇著</p>
<h2>內傷雜病門</h2>
<p>陰虧於下，陽浮於上。服八味丸不效者，以附子走竄不能收納耳。宜加減法。</p>
<p>桂都氣丸</p>
<p>詒按：議論精細，可為用藥者開一悟境。</p>
<p>鄧評：附子既已不合，則桂亦恐礙浮陽，何不參介類以潛之。</p>
<p>肝陽盛，肝陰虛，吸引及腎，腎亦傷矣。益肝體，損肝用，滋養腎陰，俾水木相榮，病當自愈。</p>
<p>生地　白芍　小薊　赤芍　當歸　血餘　丹皮　阿膠　甘草　茅根</p>
<p>詒按：此必因肝火而見血者，故方藥如此，</p>
<p>鄧評：論病明透。茅根似與肝陽不宜。</p>
<p>左關獨大，下侵入尺。知肝陽亢甚，下吸腎陰，陰愈虧則陽益張矣。滋水清肝，乃正法也。</p>
<p>知柏八味丸加天冬　龜板　杞子</p>
<p>詒按：方中似宜再增清肝之品</p>
<p>鄧評：核參方案，此病當有遺精、淋濁之類。</p>
<p>孫評，知，柏、天冬，皆清肝之品，何必再增！</p>
<p>陰不足者，陽必上亢而內燔。欲陽之降，必滋其陰，徒恃清涼無益也。</p>
<p>生地　知母　甘草　黑梔　麥冬　玄參　丹皮　地骨皮</p>
<p>詒按：案語精粹，有名雋氣。</p>
<p>鄧評：治病求本，此之謂歟。</p>
<p>孫評：必陰大傷而熱熾者，但清其熱則陰愈傷。</p>
<p>腎陰不足，肝火乘之，故有筋攣骨痿，耳竅二陰氣出等證。夫肝火宜泄，腎精宜閉，於一方之中，兼通補之法，庶幾合理，然非旦夕所能奏功也。</p>
<p>生地　川楝子　茯苓　阿膠　丹皮　女貞子</p>
<p>詒按：論病深中肯綮，方中可增白芍、牡蠣。</p>
<p>鄧評：此屬痿症，方從虎潛丸脫胎而來</p>
<p>肝陰不足，肝火偏勝，傷肺則咳，自傷則脅痛；</p>
<p>阿膠　兜鈴　丹參　炙草　歸身　白芍　玉竹　川斛</p>
<p>詒按：既有脅痛見證，似當兼與通絡清肝，宜加丹皮、山梔，青皮、橘絡、旋覆等味。</p>
<p>鄧評，咳由肝火，正於脅痛見出。如此看病，則．目無難題矣。</p>
<p>清金以制木，是亦一法。兼與通絡，尤為盡善。</p>
<p>咯血脅痛，項下有核，脈數惡熱，咽痛便溏。此肝火乘脾之證，反能食者，脾求助於食，而又不能勝之則痞耳。治在制肝益脾</p>
<p>白芍　茯苓　川連　牡蠣　炙草　木瓜　益智　阿膠</p>
<p>詒按：論病明快，方中擬加丹、梔、夏枯草。</p>
<p>鄧評：此必陰虛而抉痰濕，滋燥最難偏任，惟有主用制肝，足以取勝。選藥尚稱平善。或以丹、梔易川連。</p>
<p>孫評：咽痛有虛火上逆，益智恐嫌燥，宜扁豆、山藥之類。</p>
<p>飲食既少，血去過多，陰氣之傷，蓋已甚矣。茲復憂勞驚恐，志火內動，陰氣益傷，致有心煩、體痛、頭疼等證。是當滋養心肝血液，以制浮動之陽者也。</p>
<p>生地　石斛　麥冬　丹皮　玄參　知母　茯苓　甘草</p>
<p>詒按：肝陰既虧，肝火上升，宜再加歸、芍，以滋養之；羚羊，菊，梔，以清泄之。</p>
<p>鄧評：層層推測，則病無遁情矣。</p>
<p>柳師加味較原方切實。若脈非弦大，惟羚羊去之。</p>
<p>肝藏失調，侵脾則腹痛，侮肺則乾咳，病從內生，非外感客邪之比。是宜內和藏氣，不當外奪衛氣者也。但脈弱而數，形瘦色槁，上熱下寒，根本已漓，恐難全愈。</p>
<p>歸身　白芍　炙草　茯苓　桂枝　飴糖</p>
<p>詒按：此內補建中法，宜於腹痛，而不宜於乾咳。宜加清肝保肺之味，乃為周匝。</p>
<p>鄧評：議病確鑿。方內惟桂枝不妥。參入吳萸炒桑白皮、蜜炙陳皮，較為勝著；烏梅、桔梗，亦可參用。</p>
<p>孫評：此方與葉氏並駕齊驅。清肝保肺，如石斛、麥冬，亦頗相宜。</p>
<p>形盛脈充，兩尺獨虛，下體麻痹，火浮氣急。此根本不固，枝葉雖盛，未足恃也。</p>
<p>熟地　山藥　沙苑　杞子　丹皮　茯苓　桑椹　牛膝</p>
<p>詒按：如此脈證，似可參用腎氣法以溫攝之。</p>
<p>鄧評：能於虛實疑似之間探出真諦，胸中既能了了，筆下自無餘蘊。</p>
<p>真陽以腎為宅，以陰為妃，腎虛陰衰，則陽無偶而蕩矣。由是上炎則頭耳口鼻為病，下走則膀胱二陰受傷。白春及秋，屢用滋養清利之劑，欲以養陰，而適以傷陽，不能治下，而反以戕中。內經所謂熱病未已，寒病復起者是也。鄙意擬以腎氣丸，直走少陰，據其窟宅而招之，同聲相應，同氣相求之道也。所慮者，病深氣極，藥入不能制病，而反為病所用，則有增劇耳。</p>
<p>腎氣丸</p>
<p>詒按：立論透切，醫案中僅見之作。</p>
<p>鄧評：要知滋清大過，每有是症。緣虛陽遊行於三焦經絡，非陽火亢盛、上充下斥之比。</p>
<p>此案洵屬可法。非閱歷有得者不能道隻字。</p>
<p>反為病所用者，恐其杜、附助陽耳。病至深權，每有此弊。</p>
<p>孫評：議論非名大家，其孰能之。</p>
<p>真陽氣弱，不榮於筋則陰縮，不固於裏則精出，不衛於表則汗泄。此三者，每相因而見，其病在三陰之樞，非後世方法可治。古方八味丸，專服久服，當有驗也。</p>
<p>八味丸</p>
<p>詒按：見識老到，議論明確，此為可法可傳之作。</p>
<p>鄧評：《金匱》桂枝龍牡湯，似與此症適合，記出以資博雅。</p>
<p>胃寒背冷，食入則倦，喜溫惡清。以背為陽位，胃為陽土，土寒則食不運，陽傷則氣不振也。治宜溫養陽氣。</p>
<p>人參　桂枝　益智仁　厚朴　炮薑　茯苓　炙草　白朮</p>
<p>詒按：此溫中和氣，平正通達之方。</p>
<p>鄧評：一派虛寒，溫養奚疑。</p>
<p>中氣虛寒，得冷則瀉，而又火升齒衄。古人所謂胸中聚集之殘火，腹內積久之沉寒也。此當溫補中氣，俾土厚則火自斂。</p>
<p>四君子湯加益智仁　乾薑</p>
<p>詒按：議病立方，均本喻氏。近時黃坤載亦有此法。</p>
<p>鄧評：辨真假之關鍵處，學者最宜留意。若屬夫腎者，又須八味丸治之。乾薑宜易炮薑。</p>
<h2>類中門</h2>
<p>類中偏左，於法為逆，猶幸病勢尚輕，可以緩圖取效。原方補少通多，最為合理。惟是陽脈則緩，陰脈則急，所以指節能屈不能伸，此亦病之關鍵處，刁；可忽也。經云：肝苦急，宜食甘以緩之。於前方中增進陰藥之甘潤者一二，更為完備。</p>
<p>人參　茯苓　半夏　白朮　炙草　橋紅　麥冬　竹瀝　薑汁</p>
<p>詒按：此六君加麥冬、竹瀝，薑汁也。</p>
<p>鄧評：左半屬陰血，病機較深，故為逆。</p>
<p>指節屈不能伸，病在厥陰肝經，是陰脈則急之義。若治痿取陽明，即陽脈則緩者矣。</p>
<p>再診：加當歸</p>
<p>脈虛而澀，左半手足麻痹，食不知味。此氣血不能運行周體，乃類中之漸也。</p>
<p>桂枝　茯苓　歸身　半夏　炙草　黃耆　天麻　首烏</p>
<p>詒按：滋養疏化，虛實兼到。</p>
<p>鄧評：此從金匱血痹例治。</p>
<p>內風本皆陽氣之化，然非有餘也，乃二氣不主交合之故。今形寒跗冷，似宜補陽為是。但景嶽云：陽失陰而離者，非補陰無以攝既散之元陽。此證有升無降，舌絳牽掣，瘩不出聲，足蹵不堪行動。當與河間肝腎氣厥同例，參用丹溪虎潛法。</p>
<p>熟地　萸肉　牛膝　鎖陽　虎骨　龜板</p>
<p>詒按：持論明通，立方筒當。</p>
<p>鄧評：此少陰不至則為痔厥，下虛上實之候也。堪為妄用附、桂，動輒謂引火歸源者告。虎骨易蓯蓉，較與舌絳無礙，</p>
<p>孫評；此等句今不得而見之矣</p>
<p>再診：地黃飲子去附子，加鹿鞭子，煎膠打丸。</p>
<p>鄧評：方內溫潤益陽之品足矣，何必再加此味。</p>
<p>熱風中絡。口歪、舌蹇、咽痛。治以清滋。</p>
<p>羚羊角　玄參　鉤藤　甘菊　甘草　石菖蒲　生地　竹瀝</p>
<p>再診：生地　阿膠　麥冬　知母　貝母　甘菊　甘草　玄參</p>
<p>三診：咽喉乾痛。滋清不愈，宜從降導。</p>
<p>腎氣丸　淡鹽湯送下</p>
<p>詒按：先清之，繼滋之，終用引火下行之法。步伐井然，淩躐急功者，可取法焉。</p>
<p>鄧評：統閱三方，第一方偏於清火，第二方專重滋陰，第三方復參溫導。雖似有步伐，究未能認真病源，歸於一律。</p>
<p>方書每以左癱屬血虛，右瘓屬氣虛。據述頻年已來，齒疼舌赤，常有精濁。納穀如昔，卒然右偏，肢痿舌強，口喁語蹇，脈浮數動。此乃肝腎兩虛，水不涵木，肝風暴動，神必昏迷。河間所謂肝腎氣厥，舌瘩不語，足痱無力之證。伹腎屬坎水，真陽內藏，宜溫以攝納；而肝藏相火內寄，又宜涼以清之。溫腎之方，參入涼肝，是為復方之用。</p>
<p>地黃飲子去桂附　加天冬　阿膠</p>
<p>詒按：即古法而化裁之。參詳脈證，斟酌盡善。</p>
<p>鄧評：以各證推之，雖偏中於右，而精水亦自虧也。此即臨證之活潑處。</p>
<p>肝陽旺者，溫腎不用桂、附；腎氣虛者，涼肝只以天冬，斯為斟酌盡善之法。</p>
<p>孫評：案語分析爽快。惟葉氏開此一解，振千古之聾贖。</p>
<p>寒熱後，邪走手少陰之絡，猝然不語，肩背牽引不舒。宜辛以通之。</p>
<p>菖蒲　遠志　甘草　木通　當歸　丹皮　丹參　茯苓</p>
<p>詒按：方法輕靈，恰合餘邪入絡治法。</p>
<p>鄧評：此症必有痰火竄閉絡脈，再加鉤鉤、薑汁，竹瀝，於痰火一層，稍為著力。</p>
<p>孫評：似宜兼用萬氏牛黃清心丸。</p>
<p>脈濡，按之則弦，右肩及手指麻木，兩腿酸癢，難以名狀。此脾飲肝風，相合為病，乃類中之漸，不可不慎。</p>
<p>首烏　天麻　刺蒺藜　羚羊角　炙草　茯苓　半夏　白芍　丹皮　廣皮　薑汁和竹瀝泛丸</p>
<p>詒按：以二陳、薑汁、竹瀝除痰飲，以丹、芍、羚、蒺，首烏、天麻治肝風，兩層俱到。就見證論，歸身、牛膝、橘絡，亦可加入。</p>
<p>鄧評：脈濡屬濕，弦則為風，風與濕合，放麻木酸癢，所謂飲者正由濕化也。羚羊宜與桂枝並用始妥，即木瓜，薏仁亦可參入。</p>
<p>孫評：牛膝、橘絡，既可導之下行，又能通絡，心思靈通。惟肢麻腿癢，是痰流入絡，筋為痰滯，宜加桑枝、絲瓜絡，通之為要。</p>
<h2>痿痹門</h2>
<p>脈虛而數，兩膝先軟後腫，不能屈伸。此濕熱乘陰氣之虛而下注，久則成鶴膝風矣。</p>
<p>生地　牛膝　茯苓　木瓜　丹皮　薏仁　山藥　萸肉　澤瀉　萆薢</p>
<p>詒按：正虛著邪，故補散宜並用；濕而兼熱，故滋燥不可偏。此以六味治陰虛，增入牛膝、木瓜、薏仁、茸蘚以除濕熱，所謂虛實兼顧也。</p>
<p>鄧評：此確屬陰虛濕熱，竟能由痹成痿。</p>
<p>立方殊妥善。再加廣皮或生薑，則著痹之邪較克流行。</p>
<p>孫評：柳氏指點分明，可為讀書者開一便徑，於初學大有補益也</p>
<h2>內風門</h2>
<p>肢麻頭運，此肝病也。便溏食減，脾亦病矣。宜節勞養氣，毋致風動為佳。</p>
<p>羚羊角　白朮　刺蒺藜　茯苓　炙草　天麻　白芍　廣皮</p>
<p>詒按：肝脾兩治，方法周到。</p>
<p>鄧評：方論俱朗朗，無片云纖翳。惟羚羊尚恐礙脾陽，入牡蠣較妥。</p>
<p>孫評；可增木瓜、牡蠣之類，既可於肝熄風，又能止溏不滯。</p>
<p>眩運嘔惡胸滿，小便短而數，口中乾。水虧於下，風動於上，飲積於中，病非一端也。</p>
<p>羚羊角　細生地　鉤鉤　天麻　茯苓　廣皮　半夏　竹茹</p>
<p>詒按：病非一端，方欲打成一片，非熟於制方之義者不能。擬再增生牡蠣。</p>
<p>鄧評：即陰虛挾痰飲之候。</p>
<p>治嘔惡不用川連，殆忌以水虧飲積故耶，抑肝陽已經化風耶</p>
<p>孫評：病來三端，打成一片，是最難之事。嘔惡胸滿，可加川楝子、枳實，或左金丸。</p>
<p>再診：前方去生地　加麥冬</p>
<p>鄧評：麥冬較生地為勝。</p>
<p>三診：人參　茯苓　麥冬羚羊角　天麻　半夏　炙草　石斛　廣皮</p>
<p>肝陰不足，則火動生風；脾失健運，則液聚成痰。調理肝脾，當漸愈也。</p>
<p>半夏　茯苓　廣皮　鉤鉤　生地　竹瀝　麻仁汁</p>
<p>詒按：案屬通論。方中宜加用白芍，方能顧到肝經。</p>
<p>鄧評：苟非過於陰虧者，宜將生地易首烏，鉤鉤易木瓜，既能柔息肝陽，卻無妨中之害；即方內之竹瀝、麻仁，總不利於脾病，想用之者，亦出於不得已耳。</p>
<p>再診：和養中氣。</p>
<p>人參　陳皮　生穀芽　石斛　茯苓　木瓜，</p>
<p>鄧評：想已胃疲食少，故其轉方如此。</p>
<p>肝陽化風，逆行脾胃之分；胃液成痰，流走肝膽之絡。右腿麻痹，胸膈痞悶，所有來也。而風火性皆上行，故又有火升氣逆鼻衄等證。此得之饑飽勞郁，積久而成，非一朝一夕之故：也。治法清肝之火，健脾之氣，亦非旦夕可圖也。</p>
<p>羚羊角　廣皮　天麻　甘草　枳實　半夏　茯苓　白朮　麥冬</p>
<p>詒按：持論明通，立方周匝，看似平淡無奇，實非老手不辦。亦當加入白芍。</p>
<p>鄧評：尚無痰走肝膽見證</p>
<p>此肝風挾痰上逆之證，肢冷自汗，有似陽脫，實非脫也。目與唇口牽引，時復歌笑。治宜先卻邪氣，而後養正。</p>
<p>羚羊角　白茯苓　竹茹　鬱金　半夏　甘草　鉤鉤　橘紅</p>
<p>詒按：治法的當。時復歌笑，是心臟受邪之象。菖蒲、遠志，膽星、清心牛黃丸之類，均可選入。</p>
<p>鄧評：想必舌絳脈盛，是以不顧厥汗而直任羚羊。似可參入生脈，兼治其虛。柳師亦在應加之例。</p>
<p>肝屆風木，性喜沖逆，其變動為振搖強直，其治法宜柔木熄風。</p>
<p>細生地　鉤鉤　歸身　茯苓　阿膠　天麻　羚羊角　山藥　柏予仁　刺蒺藜</p>
<p>詒按：此方可加木瓜、白芍。</p>
<p>鄧評：至理名言。</p>
<p>脾失運而痰生，肝不柔而風動，眩運食少，所由來也。</p>
<p>白朮　天麻　首烏　廣皮　半夏　羚羊角　茯苓　鉤鉤</p>
<p>詒按：案語簡煉，方亦純淨。</p>
<p>鄧評：此等方案，既松靈，又周匝。學到如此，庶幾目無難題。</p>
<p>四肢稟氣於脾胃，脾胃虛衰，無氣以稟，則為振顫。土虛木必搖，故頭運也。</p>
<p>歸芍六君子湯加黃耆　天麻</p>
<p>詒按：案語說理樸實，立方以扶正為主。似宜再加熄風之品。其所加之黃耆，恐非肝風升動者所宜。</p>
<p>鄧評：此培土以禦木法。</p>
<p>柳評尤屬精細。</p>
<p>木旺乘土，土氣不宣，痰涎鬱聚，傳走經絡，故頭旋腳弱，有似虛象，實則未可徒補也。</p>
<p>首烏橘紅　茯苓薏仁木瓜鉤藤　刺蒺藜　半夏　炙草</p>
<p>詒按：首烏似嫌其澀，不如用生於朮為妥。擬再加牛膝、竹瀝、薑汁。</p>
<p>鄧評：勢將延為類中</p>
<p>原方已平妥，加減更切實。</p>
<h2>神志門</h2>
<p>驟爾觸驚，神出於舍，舍空痰入，神不得歸，是以有恍惚昏亂等證。治當逐痰以安神藏。</p>
<p>半夏　膽星　鉤藤　竹茹　茯神　橘紅　黑梔　枳實</p>
<p>詒按：敘病如話如畫。此等方案，非有切實功夫者不能。所謂成如容易卻艱辛也</p>
<p>鄧評：論正方切。</p>
<p>驚悸易泄，腰疼足軟，有似虛象，而實因痰火。蓋脈不弱數，形不枯瘁，未可遽與補也。</p>
<p>半夏　炙草　秫米　橘紅　茯苓　竹茹　遠志　石菖蒲</p>
<p>詒按，此秫夏合溫膽加味也。認證既確，立方自然入彀。</p>
<p>鄧評：易當作遺。</p>
<p>牡蠣、白芍，尚宜加入。</p>
<p>抽搦厥逆，合目則發。此肝膽痰熱，得之驚恐，病名癇厥</p>
<p>半夏　橘紅　竹茹　膽星　炙草　石菖蒲　枳實　茯苓</p>
<p>詒按：痰火之邪，因驚恐而直犯肝膽，故見證如此。臥則陽氣入於陰，合目則發，是陽氣擾動陰臟，致痰火猝發而病作也。方中擬加羚羊角、黃連</p>
<p>鄧評：柳評加羚單、黃連，與否，總須以舌苔脈象為憑。</p>
<p>驟驚恐懼，手足逆冷，少腹氣衝即厥，陽縮汗出。下元素虧，收攝失司。宜乎助陽以鎮納。第消渴心悸，忽然腹中空洞。此風消肝厥見象，非桂附剛劑所宜。　炒黑杞子　舶茴香　當歸　紫石英　細辛　桂枝　詒按：風消肝厥之證，當於溫養中佐以滋陰。方中細辛一味，不識何意。愚意再加牛膝、白芍、牡蠣。</p>
<p>鄧評：既屬風消肝厥，用藥仍嫌溫燥，與案語不甚和洽。</p>
<p>柳注加味極妥。</p>
<p>孫評：細辛，或細生地之誤。</p>
<p>肝火挾痰上逆，為厥顛疾。</p>
<p>半夏　鉤藤　茯苓　枳實　廣皮　竹茹　鬱金　羚羊角</p>
<p>詒按：方極清穩。</p>
<h2>痰飲門</h2>
<p>肺飲</p>
<p>紫苑　半夏　桑皮　白前　杏仁</p>
<p>詒按：飲邪在肺，不及於胃，故專用肺藥。</p>
<p>鄧評：以此與後案較量，有輕重淺深之不同。</p>
<p>飲邪射肺為咳</p>
<p>半夏　杏仁　乾薑　北五味　白芍　炙草　茯苓　桂枝</p>
<p>詒按：此治飲正法也</p>
<p>秋冬咳嗽，春暖啟安，是腎氣收納失司，陽不潛藏，致水液變化痰沫，隨氣射肺擾喉，喘咳不能臥息，入夜更重，清晨稍安。蓋痰飲乃水寒陰濁之邪，夜為陰時，陽不用事，故重也。仲景云：飲病當以溫藥和之。金匱飲門，短氣倚息一條，分外飲治脾，內飲治腎，二臟陰陽含蓄，自然潛藏固攝。當以腎氣丸方，減牛膝、肉桂，加骨脂以斂精氣。若以他藥發越陽氣，恐有暴厥之慮矣。</p>
<p>腎氣丸減牛膝肉桂　加補骨脂</p>
<p>詒按：此案推闡病原，極其精鑿。</p>
<p>往昔壯年，久寓閩粵，南方陽氣易泄。中年以來，內聚痰飲，交冬背冷喘嗽，必吐痰沫，胸脘始爽。年逾六旬，惡寒喜暖，陽分之虛，亦所應爾。不宜搜逐攻劫，當養少陰腎臟。仿前輩水液化痰阻氣，以致喘嗽之例。</p>
<p>腎氣丸減牛膝肉桂　加北五味　沉香</p>
<p>詒按：議論明確，立方亦極精當。</p>
<p>鄧評：牛膝本能納降腎氣，今反減去者，想為腎氣失固，嫌其有滑泄之力耳。</p>
<p>孫評：喘不得臥，徐批葉案，桂、膝二味是最要之藥，細按亦是有理。此二案均去之未用，想因痰沫甚多，恐溫攝則痰束於內，而喘反甚也。後遺精門有喘而危坐者加桂、膝，可知也。凡讀書總須彼此對勘，方有進境，若徒恃高唱遙吟無益也。</p>
<p>久遺下虛，秋冬咳甚，氣衝於夜，上逆不能安臥，形寒足冷，顯然水泛而為痰沫。當從內飲門治，若用肺藥則謬矣。</p>
<p>桂枝　茯苓　五味　炙草　白芍　乾薑</p>
<p>詒按：古人云：內飲治腎。據此證情，似可兼服腎氣丸，以攝下元。</p>
<p>鄧評：擬加菟絲子、牡蠣、丹皮。</p>
<p>肝風與痰飲相搏，內壅臟腑，外閉竅隧，以致不寐不饑，肢體麻痹。迄今經年，脈弱色悴，不攻則病不除，攻之則正益虛，最為棘手。</p>
<p>鉤藤　菖蒲　刺蒺藜　遠志　竹瀝　鬱金　膽星　天竺黃　另指迷茯苓丸臨臥服</p>
<p>詒按：病屬難治，而立方卻周匝平穩，非學有本原者，不能辦此。</p>
<p>鄧評，白朮、茯苓、牡蠣等味，似宜參入用之。</p>
<p>孫評：茯苓、半夏，是宜於入湯劑之中。</p>
<p>肝陽因勞而化風，脾陰因滯而生痰，風痰相搏，上攻旁溢，是以昏運體痛等證見也。茲口膩不食，右關微滑，當先和養胃氣，蠲除痰飲。俟胃健能食，然後培養陰氣，未為晚也。</p>
<p>半夏　秫米　麥冬　橘紅　茯苓</p>
<p>詒按：審察病機，以為立方步伐，臨證者宜取法焉。</p>
<p>鄧評：至理名言。</p>
<p>再增薑汁、竹茹，菊花，菖蒲根，似更美備。</p>
<h2>咳喘門</h2>
<p>風熱不解，襲人肺中，為咳為喘，日哺發熱，食少體倦，漸成虛損，頗難調治。勉擬錢氏阿膠散，冀其肺寧喘乎，方可再商他治。</p>
<p>阿膠　茯苓　馬兜鈴　薏米　杏仁　炙草　糯米　芡實</p>
<p>孫評，虛中夾實，須看其虛實兼顧之妙。</p>
<p>鄧評：用芡實者，想有遺精故也。</p>
<p>再診：青蒿　丹皮　鱉甲　茯苓　石斛　甘草　歸身　廣皮　白芍</p>
<p>詒按：此正虛而兼感外邪之證，乃內傷挾外感病也。</p>
<p>鄧評：前方專治咳喘，此方偏理晡熱，亦足見其掣肘矣。</p>
<p>久嗽脈不數，口不乾，未必即成損證。此為肺飲，鬱伏不達故也。</p>
<p>厚朴　煨薑　桑皮　杏仁　廣皮　甘草　半夏</p>
<p>詒按：此屬飲寒傷肺，乃內因之實證也。</p>
<p>鄧評：聚飲之源，因寒因濕，鼓立方輕靈可喜，非老手不辦之作。柳師所謂食古能化者，此之謂也。</p>
<p>體虛邪滯，肺絡不清，脈泫而細，幸不數耳。</p>
<p>沙參　桑葉　杏仁　茯苓　馬兜鈴　貝母　甘草　秔米</p>
<p>詒按：案語得看病之竅，最宜留意。</p>
<p>鄧評：養肺不留邪，疏風不礙虛，用補肺阿膠法而剪裁之也。</p>
<p>肺陰不足，肺熱有餘，咳則涕出，肌體惡風。此熱從竅泄，而氣不外護也。他臟雖有病，宜先治肺。</p>
<p>阿膠　貝母　沙參　馬兜鈴　杏仁　茯苓　炙草　糯米</p>
<p>詒按：此等證，虛實錯雜。若粗工為之，或與疏散，或與補澀，均足致損。</p>
<p>鄧評：熱從竅泄，故咳則涕出，氣不外護，放肌體惡風。如此直斷無疑，洵有卓識。</p>
<p>肺病以中氣健旺，能食便堅為佳。茲喘咳已久，而大便易溏，能食難運，殊非所宜。診得脈象與前無異，但能節飲食，慎寒暖，猶可無虞。</p>
<p>沙參　貝母　炙草杏仁苡仁橘紅枇杷葉</p>
<p>鄧評：肺病本宜清潤，而脾則惡之。至此脾土已弱，故云殊非所宜。</p>
<p>孫評，開口如開門見山，有一目了然之妙</p>
<p>又丸方：六味丸加五味子　肉桂</p>
<p>詒按：不刊之論，讀者最宜記好</p>
<p>鄧評：此二方看似平常，卻已不易辦到。</p>
<p>咳嗽，食後則減。此中氣虛餒所致。治宜培中下氣法。</p>
<p>人參半夏秫米南棗麥冬炙草枇杷葉</p>
<p>詒按：此證不甚多見，學者須記之。</p>
<p>鄧評：此審病之關鍵處，蓋有不易之理也。方即麥門冬湯加枇杷葉。</p>
<p>久嗽便溏，脈虛而數。脾肺俱病，培補中氣為要。恐後泄不食，則瘦削日增也。</p>
<p>人參　自芍　扁豆　薏仁　廣皮　茯苓　炙草　山藥　蜜炙炮薑炭</p>
<p>冶按：此亦脾肺兩治之法，較前數方為切實，亦以此證中氣虛寒，無咽乾溺澀等虛熱亢炎之證，故用藥稍可著力耳。然欲求效難矣。</p>
<p>鄧評：柳師評語精確。</p>
<p>陰虛於下，陽浮於上。咳嗆火升，甚於暮夜。治肺無益，法當補腎。</p>
<p>熟地　杞子　天冬　白芍　茯苓　山藥　丹皮　龜板</p>
<p>詒按：此方即胡桃、五味，均可加入。</p>
<p>鄧評：審病既確，方亦當效。</p>
<p>所加胡桃、五味，恐於火升有礙，似不如沉香、蛤殼。</p>
<p>乾咳無痰，是肝氣衝肺，非肺本病。仍宜治肝，兼滋肺氣可也。</p>
<p>黃連　白芍　烏梅　甘草　歸身　牡蠣　茯苓</p>
<p>詒按：方中少潤肺之品。擬加北沙參、桑白皮。再肝之犯肺，必挾木火，梔丹亦應用之藥也。</p>
<p>鄧評：原方已屬切實，柳師加味尤覺盡善。</p>
<p>孫評：木火刑金。咳而無痰為乾咳，須究其因而治之。如鬱火有用加味逍遙散者。</p>
<p>風傷於上，濕傷於下，上為咳嗽痰多，下為跗腫酸痛。宜先治上，而後治下。</p>
<p>薄荷　杏仁　桔梗　旋覆花　甘草　象貝　連翹　前胡</p>
<p>詒按：肺主一身之治節，故以治肺為先。</p>
<p>鄧評：此屬脾肺同病，何不參用桑白皮、薏仁、苓、橘等味為雙關。</p>
<p>咳甚於夜間，肌熱於午後，此陰虧也。濁痰咳唾，鼻流清涕，是肺熱也。病本如是，奏功刁二易。擬甘鹹潤燥法。</p>
<p>阿膠　燕窩　沙參　海浮石　瓜蔞霜　川貝　杏仁　甘草</p>
<p>詒按：此證痰必乾黏，故用藥如是。</p>
<p>鄧評：制劑乎穩，惜少清陰之品</p>
<p>內熱與外熱相合，肺胃受之，則咳而不能食，頭脹肌熱心煩。宜清上中二焦。</p>
<p>竹葉　蘆根　花粉　杏仁　貝母　知母　桔梗　橘紅</p>
<p>詒按：此外感溫燥之咳，故專用清泄。</p>
<p>鄧評：病屬肺胃風熱，方極輕靈中竅。</p>
<p>脈細數促，是肝腎精血內耗，咳嗽必吐嘔清涎濁沫。此衝脈氣逆，自下及上，氣不收納，喘而汗出，根本先撥，藥難奏功。醫若見血為熱，見嗽治肺，是速其凶矣。</p>
<p>人參（秋石制）　熟地　五味子　紫衣胡桃</p>
<p>詒按：此難治之證，在咳嗽門中，亦別是一種也。</p>
<p>鄧評：切要之言。此下虛上實之候，斯時喘汗為急，急者先治，故立方如是。若待其脫象已定，仍需兼平痰火。</p>
<p>孫評：坎炁、紫石英，亦宜增入。惟葉氏開此法門，或可挽回。</p>
<p>脈虛數，顴紅聲低，咳甚吐食，晡時熱升，多煩躁。此肝腎陰虧，陽浮於上，精液變化痰沫。病已三年，是為內損，非消痰治嗽可愈。固攝下焦，必須絕欲。以飲食如故，經年可望其愈。</p>
<p>都氣丸加女貞子　枸杞子　天冬</p>
<p>詒按：用藥頗為切實。</p>
<p>鄧評：虛勞重症迭見，胡所恃而不恐也，猶謂經年可望其愈，惟所恃者，在乎飲食如故。蓋人以胃氣為本也。風消息賁，想亦未見</p>
<p>脈微小，形寒，久嗽失音。是氣餒陽損，議固胃陽，取甘溫之屬。</p>
<p>蜜炙生薑　炙草　白芍　黃耆　大棗</p>
<p>詒按：此亦虛咳中另一法門。</p>
<p>鄧評：此必有寒飲內閉，故以蜜炙生薑為主藥。</p>
<p>咽痛聲啞，有肺損肺閉之分。所謂金破不鳴，金實亦不鳴也。此證從外感風熱而來，當作閉治，溫補非宜。所慮者，邪不外達而內並耳</p>
<p>阿膠　杏仁　桔梗　貝母　牛蒡　玄參　甘草　秔米　馬兜鈴</p>
<p>詒按：此錢氏補肺之類，乃虛實兼治之法。</p>
<p>鄧評：此乃暴病，屬肺閉，故潤肺散邪以清全，金虛則鳴矣，與虛勞見是證者不得混看。</p>
<p>孫評：果以風熱內閉，宜麻杏甘石湯以清疏之。</p>
<p>用復脈甘潤法。嗆止音出，得益水濡潤之力也。無如胃弱便溏，此藥不宜再用。仿金匱麥門冬湯義，取養土之陰，以生肺金。</p>
<p>麥門冬湯</p>
<p>詒按：此用藥轉換法也。</p>
<p>鄧評：此係虛勞失音，但已胃弱便溏，雖見效亦云難矣。</p>
<p>孫評：葉氏用復脈每去麻仁者因此。</p>
<p>久咳，便溏腹滿。脾肺同病，已屬難治。況脈數口乾潮熱，肝腎之陰，亦不足耶。</p>
<p>白芍　薏仁　茯苓　蓮肉　炙草　廣皮　扁豆</p>
<p>詒按：病重藥輕，恐難奏效。且於肝腎，亦未顧到。擬加用水泛六味丸一兩，絹包入煎。</p>
<p>鄧評：病既危矣，方亦聊盡人事。</p>
<p>煎丸並進，此法極妙。</p>
<p>孫評：心靈活潑。</p>
<p>時邪便溏，邪得下行，即是去路。本病便溏，則中氣先傷。人以胃氣為本，本不固，治豈易易哉。</p>
<p>咳而吐沫，食少噁心，動作多喘，中氣傷矣。非清肺治咳所能愈也。</p>
<p>人參　半夏　麥冬　炙草　茯苓　秔米　大棗</p>
<p>詒按：此胃虛咳嗽也。方宗金匱大半夏、麥門冬兩湯之意。</p>
<p>鄧評：方法合度，倘能兼納沖氣，似較周匝。納沖氣如沉香、蛤殼、紫石英等。</p>
<p>咳而衄。陰不足，火內動也。噁心不食，宜先治胃。</p>
<p>竹茹　秔米　廣皮　石斛　貝母　杏仁</p>
<p>治按：既有火動而衄見證，宜兼清降。</p>
<p>鄧評：擬增桑白皮、地骨皮、蘆根，以清降肺胃。</p>
<p>孫評：當增入側柏葉、茅花之類。</p>
<p>浮腫咳喘，頸項強大，飲不得下，溺不得出，此肺病也。不下行而反上逆，治節之權廢矣。雖有良劑，恐難奏效。</p>
<p>葶藶大棗瀉肺湯</p>
<p>詒按：此痰氣壅阻之證，故重用瀉肺之劑。</p>
<p>鄧評：擬參風水治法</p>
<p>脈寸關大而尺小，口乾，上氣不下，足冷不溫。此陽氣不潛。當用陰中陽藥治之。</p>
<p>六味丸加牛膝　車前　五味　肉桂</p>
<p>詒按：此兼腎氣、都氣兩方之意。</p>
<p>鄧評：陽既失潛，參以介類潛陽可也。須脈大而豁然者，桂、味始合。</p>
<p>孫評：足冷膝冷，是虛陽上越不潛之象，宜以補中佐引陽歸原之法，如此方是也，宜切記之。</p>
<p>脈數減，咳亦緩。但浮氣不得全歸根本。宜補益下焦，以為吸受之地。</p>
<p>六味丸加五味子　菟絲子</p>
<p>又丸方：六味丸加五味子　杜仲　芡實　蓮須　菟絲子　杞子　蜜丸　每服五錢</p>
<p>詒按：議論穩實，方亦妥貼。</p>
<p>鄧評：上病下取，治病必求其本也。</p>
<p>看此方當有腰酸精濁之證。</p>
<p>《喘足冷至膝，唇口乾，鼻塞，脈虛小。下氣上逆，病在根本。勿以結痰在項，而漫用清克也。</p>
<p>腎氣丸三錢，鹽花湯送下。</p>
<p>詒按：識見老當。</p>
<p>鄧評：口乾鼻塞，不免兼有外感。今用腎氣丸，直任無疑者，以脈之虛小故也，急則先治耳。</p>
<p>久咳喘不得臥，顴赤足冷，胸滿上氣，饑不能食。此肺實於上，腎虛於下，脾困於中之候也。然而實不可攻，姑治其虛，中不可燥，姑溫其下。且腎為胃關，火為土母，或有小補，未可知也。</p>
<p>金匱腎氣丸</p>
<p>詒按：擬再用旋覆代赭湯送下，則上中兩層，亦可關會矣。</p>
<p>鄧評：腎氣丸內有溫中逐飲之義，再合旋赭湯光能上下同治，虛實兼到。</p>
<p>孫評：議論豈浮泛者能道。</p>
<p>兩寸浮大，關尺沉小，氣上而不下，喘咳多痰。肝腎之氣，上衝於肺。宜以腎氣丸，補而下之。</p>
<p>腎氣丸</p>
<p>詒按：此治本之法。</p>
<p>鄧評：病象畢露於脈，誰謂脈不足憑乎。</p>
<p>下虛上實，當治其下，勿清其上；真氣歸元，痰熱自降。宜以十味腎氣丸主之。</p>
<p>十味腎氣丸</p>
<p>詒按：識見卓老。</p>
<p>鄧評：苟其虛偏於陰分者，此法尚非所宜。</p>
<h2>失血門</h2>
<p>絡熱血溢，寸氣所觸，非陰虛火浮之比。慎勿以滋膩治也。</p>
<p>荊芥　丹皮　茺蔚子　丹參　鬱金　藕汁　細生地　小薊炭</p>
<p>詒按：勘證用藥，老眼無花。</p>
<p>鄧評：疏邪清熱導瘀，方極輕靈中竅。若以滋膩補劑，必致瘀熱留灼成勞。</p>
<p>吐血得勞與怒即發，脈小數微嗆。病在肝心，得之思慮勞心，宜早圖之，勿使延及肺家則吉。</p>
<p>阿膠　丹皮　牛膝　丹參　小薊炭　三七　藕汁　童便</p>
<p>詒按：此治吐血之正法。能止血而無流瘀之弊，最為穩當。</p>
<p>孫評：吐血不咳，尚可除根。若咳雖止，必發，是要言也。</p>
<p>再診：前方去丹參　三七　藕汁　童便　加生地　白芍　茺蔚子</p>
<p>又丸方：六味丸加阿膠　五味子　小薊炭　蓮須　水泛丸</p>
<p>鄧評：導瘀為先著，養陰以善後。統閱三診，步伐井然。</p>
<p>失血咳逆，心下痞滿，暮則發厥，血色黯，大便黑，肝脈獨大。此有瘀血，積留不去。勿治其氣，宜和其血。</p>
<p>製大黃　白芍　桃仁　甘草　當歸　丹皮　降香</p>
<p>詒按：此專治瘀積之法。</p>
<p>鄧評：此瘀積被木火衝動，導瘀隨以瀉火，選藥絕不浮泛。擬再加阿膠以補肺，旋覆以降逆，且能化瘀和絡。</p>
<p>孫評；可加蘇子、藕汁。</p>
<p>病後失血，色紫黑不鮮。此係病前所蓄，胸中尚滿，知瘀猶未盡也。正氣雖虛，未可驟補，宜順而下之。</p>
<p>小薊炭　赤芍　生地　犀角　鬱金　丹皮　茺蔚子　童便</p>
<p>詒按：此必尚有鬱熱見證，故方中用犀角。既有留瘀未盡，可加醋炙大黃炭。</p>
<p>鄧評：想必有舌絳脈數，心胸煩熱之證，故方中可用犀角。</p>
<p>柳師加味，亍導瘀亦著力。</p>
<p>凡有瘀血之人，其陰已傷，其氣必逆，茲吐血紫黑無多，而胸中滿悶，瘀猶未盡也。而舌絳無苔，此陰之虧也。嘔吐不已，則氣之逆也。且頭重足冷，有下虛上脫之慮。惡寒譫語，為陽弱氣餒之徵。此證補之不投，攻之不可，殊屬棘手。</p>
<p>人參　茯苓　三七　吳萸　烏梅　牡蠣　川連　鬱金</p>
<p>詒按：論病則層層俱透，用藥亦步步著實，此為高手。</p>
<p>孫評：血色紫黑，是瘀之實據。此症得元因怒傷肝乎，或抉風熱內動乎，而又陰虧氣餒，攻補仍屬棘手。斯方之制，已非平庸手筆。</p>
<p>失血後，氣從下逆上，足冷頭熱，病在下焦，真氣不納。</p>
<p>六味丸加五味　牛膝　牡蠣</p>
<p>詒按：方亦妥當。若再進一層，可用金匱腎氣法，以導火下行。</p>
<p>鄧評：勿拘拘乎降氣之例，非識見深遠者不能。</p>
<p>血去過多，氣必上逆，肺被其沖，故作咳嗽。此非肺自病也。觀其沖氣甚則咳甚，沖氣緩則咳緩，可以知矣。擬攝降法，先治沖氣。</p>
<p>金匱腎氣丸去肉桂　加牡蠣</p>
<p>詒按：認證獨的，法亦老當</p>
<p>鄧評：攝降沖氣，附不如桂，今反用附去桂音何耶？</p>
<p>孫評：附子似亦可去。惟鎮攝之味如磁石、五味、白芍之類，當宜加重。</p>
<p>脈寸靜尺動，屢經失血，覺氣從下焦上衝則嗆，勞動則氣促不舒。此病不在肺而在腎。治嗽無益，宜滋腎陰。</p>
<p>熟地　天麻　牡蠣茯苓杞子萸肉　五味子</p>
<p>詒按：病與上條相同。方中用天麻，不知何意？</p>
<p>鄧評：上案挾飲邪，此案重陰虛。</p>
<p>方內天麻，疑是天冬之誤。</p>
<p>心脈獨大，口乾易汗，善怒血逆。此心陰不足，心陽獨亢。宜犀角地黃湯。</p>
<p>犀角地黃湯加茅根　甘草　山梔</p>
<p>詒按：方案均精簡熨帖。</p>
<p>鄧評：此肝陽未嘗不亢。蓋肝陽過升，脈乃上溢，溢則並火於心脈矣。茅根宜易丹皮。</p>
<p>痰中有血點散漫，此心病也。口乾心熱，當是傷暑，因暑喜歸心故耳。</p>
<p>生地　茯神　扁豆　甘草　丹皮　竹茹　麥冬　藕汁</p>
<p>詒按：方法清靈可喜。</p>
<p>鄧評：血點散漫，為心經之血。生地應是鮮生地。</p>
<p>葛可久論吐血治法，每於血止瘀消之後，用獨參湯以益心定志。茲以陰藥參之，慮其上升而助肺熱也。</p>
<p>人參　沙參　生地　阿膠　牛膝　夫苓</p>
<p>詒按：此失血後服人參，一定之法。</p>
<p>鄧評：參以陰藥，較獨參湯更勝一籌</p>
<p>勞傷失血，心下痛悶，不當作陰虛證治。但脈數咳嗽潮熱，恐其漸入陰損一途耳。</p>
<p>生地　桃仁　楂炭　鬱金　赤芍　製大黃　甘草　丹皮</p>
<p>治按：此證如早服補澀，則留瘀化熱，最易致損。須看其虛實兼到，絕不犯手。</p>
<p>鄧評：此方以導瘀熱為主。是二虛一實，先治其實之旨。</p>
<p>孫評：認定痛悶著筆。</p>
<p>點清血症致損之由，使人豁然開朗。如此評論，有益於人不少</p>
<p>閉不足而陽有餘，肝善逆而肺多鬱。脈數氣喘咳逆，見血脅痛。治宜滋降，更宜靜養；不爾，恐其血逆不已也。</p>
<p>小生地　荊芥炭　白芍　童便　鬱金　藕汁　小薊炭</p>
<p>詒按：此亦氣火上逆之證。可加牛膝、丹皮。</p>
<p>鄧評：此風熱挾木火，郁逆子肺絡，故方法務取輕靈。</p>
<p>離經之血未淨，而鬱於內，寒熱之邪交煽，而亂其氣，是以瞠滿嘔泄，寒熱口燥。治當乎其亂氣，導其積血，元氣雖虛，未可驟補也。</p>
<p>丹皮　楂炭　澤蘭　赤芍　鬱金　丹參　牛膝　小薊</p>
<p>詒按：此證挾外感之邪，可加荊芥炭、黑棺豆衣。</p>
<p>鄧評：此失血中偶有之症，故絕少成法可遵。竊思失血之後，中氣必虛，木火必亢。就此見證，不但有寒熱交煽之邪，抑且有土木相仇之意，戊己丸法亦可參用。至柳師所加，固未嘗不善也，方中牛膝可去之。</p>
<p>孫評：荊芥炒炭，既祛外風，又導瘀血，最有巧思。</p>
<p>久咳見血，音喑咽痛，乍有寒熱。此風寒久伏，傷肺成勞。擬錢氏補肺法，聲出則佳。</p>
<p>阿膠　杏仁　馬兜鈴　牛蒡　薏仁　貝母　糯米</p>
<p>鄧評：錢氏補肺法內用甜杏仁。此係風寒久伏，當以苦杏為准。若進步求治，可仿葛氏保和湯例。</p>
<p>又膏方：阿膠　貝母　甘草　橘紅　杏仁　蘇子　米糖　白蜜　薑汁　紫苑　木通　梨汁　桔梗　牛膝　蘿蔔汁　茯苓</p>
<p>詒按：此正虛邪實之證，用藥能兩面兼顧，尚稱穩適。</p>
<p>鄧評；輕靈合度，殆即保和湯而變通之耶。</p>
<h2>虛損門</h2>
<p>虛損至食減形瘦，當以後天脾胃為要。異功散五六服，頗得加穀。今春半地氣上升，肝木用事，熱升心悸，汗出復咳，咳甚見血，肝陽上熾，絡血遂沸。昨進和陽養陰之劑，得木火稍乎，仍以前方加白芍，制朋：安土。</p>
<p>生地　白芍　麥冬　阿膠　女貞子　甘草</p>
<p>詒按：方亦穩合。可加牡蠣、丹皮。</p>
<p>鄧評：隨機應變，醫之能事也。今陽火內動，故須陰靜之藥以制之，勿汲汲乎培土可也。</p>
<p>孫評：柳氏加味，亦是和陽養陰。</p>
<p>羅氏論虛勞之證，多因邪伏血鬱而得，不獨陰虧一端也。臨晚寒熱，時減時增，其為陽陷入陰可知。滋腎生旰，最為合法，略加損益，不必更張也。</p>
<p>熟地　白芍　茯苓　丹皮　山藥　柴胡　炙草　鱉甲</p>
<p>詒按：於養陰中，加柴胡以達邪，佐鱉甲以搜陰。虛實兼到，極為靈巧。然既云邪伏血鬱，似宜加當歸。</p>
<p>鄧評：凡由寒熱成勞者，惟羅氏立法為最善。今觀此方，便覺更勝一籌，所謂在於臨時權衡耳。所云血鬱宜加當歸，以其能活血疏邪。</p>
<p>孫評：邪伏血鬱，淺學者每蠻補不已，致邪愈伏則陰愈傷，血愈鬱則火益熾，虛勞死症成而至不可挽矣。實則仲景大黃庶蟲丸、薯蕷丸、鱉甲煎丸三方，早示法則矣。</p>
<p>邪伏血鬱，用當歸之辛潤者以透之，最切最妙之法也。柳氏於按語中申明之，省許摹擬矣。</p>
<p>熟地改用生地極佳</p>
<p>再診：熱漸減，頭中時痛，脈數不退，喉中痰滯不清。</p>
<p>青蒿　丹皮　熟地　鱉甲　炙草　牛膝　茯苓　小麥</p>
<p>詒按：似當兼清痰滯。兩方中熟地，不如改用生地為穩。</p>
<p>鄧評：此症肝陽已旺，頭中時痛，想係柴胡太升，鼓即改用青蒿，且痰滯不清，有欲咳之狀矣。</p>
<p>三診：體雖不熱，脈仍細數，宜養陰氣。</p>
<p>六味丸去萸肉澤瀉加白芍牛膝青蒿鱉甲</p>
<p>鄧評：前之陽升，仍由陰虛，既體不發熱，宜減去蒿、鱉，即有餘邪，丹皮足以清之，或再加當歸以疏托。</p>
<p>面黧形瘦，脈虛而數，咳嗽氣促，腰膝無力，大便時溏。此先後天俱虛，慮其延成虛損。清潤治肺之品，能戕中氣，勿更投也</p>
<p>紫河車　熟地　山藥　萸肉　五味子　丹皮　茯苓</p>
<p>杜仲　澤瀉　牛膝　加蜜丸每服五錢</p>
<p>詒按：案語浮治虛要旨，方亦精當。</p>
<p>鄧評：審見證，先天受傷為重，鼓用藥以培補先天為要。</p>
<p>孫評：今人凡遇咳嗽，不察虛實，率用清潤肅肺，不知能戕中氣，反速其死。今指明其弊，有功不少。</p>
<p>絡脈空隙，氣必遊行作痛，最慮春末夏初，地中陽氣上升，血隨氣溢，趁此綢繆，當填精益髓。蓋陰虛咳嗽，是他臟累及於肺，若治以清涼，不獨病不去而胃傷食減，立成虛損，難為力矣。</p>
<p>熟地　金櫻子膏　鹿角霜　五味子　湘蓮子　萸肉　山藥　茯苓　海參（漂淨熬膏）右為細末即以二膏搗丸</p>
<p>詒按：此必有遺精、腰酸等證，故用藥亦不重在咳嗽也。</p>
<p>鄧評：看方藥知有遺精之證，然與咳嗽合推，大都挾肝陽化火，上升下降所致；　遊行作痛，亦由乎此。方內鹿角霜恐有所礙，擬再加丹皮、白芍、牡蠣、旋覆花。</p>
<p>孫評：柳氏如是指明，省學者摹擬。</p>
<h2>汗病門</h2>
<p>汗出偏沮，脈來不柔，時自歇止。知肝陽有餘，而胃陰不足，於是稠痰濁火，擾動於中，壅滯於外。目前雖尚安和，然古人治未病，不治己病。知者見微知著，須加意調攝為當。</p>
<p>人參　川石斛　麥冬　南棗　製半夏　丹皮　茯苓　炙草　小麥</p>
<p>詒按：此想係左半有汗，右半無汗之證。細繹案語，是防其將患偏痱之意。</p>
<p>鄧評：此即《金匱》麥門冬湯法，蓋用古能化，加減悉當。</p>
<p>孫評：柳氏如此指點，是真有書本功夫者。</p>
<p>心陰不足，心陽易動，則汗多善驚；腎陰不足，腎氣不固，則無夢而泄。以汗為心液，而精藏於腎故也。</p>
<p>生地　茯神　甘草　麥冬　川連　柏子仁　元參　小麥　大棗</p>
<p>詒按：案語心腎並重，方藥似專重於心。再加五味子、牡蠣、沙苑等攝腎之品，則周匝矣。</p>
<p>鄧評：洞達病情，了無疑義。</p>
<p>原方已屬乎妥，再加斂攝之品，尤為切實。</p>
<h2>諸鬱門</h2>
<p>中年脘悶，多曖多咳，此氣鬱不解也。納穀已減，未可破泄耗氣，宜從胸痹例，微通上焦之陽。</p>
<p>薤白　瓜蔞　半夏　桂枝　茯苓　薑汁</p>
<p>詒按：方法輕靈。</p>
<p>鄧評：病由痰氣交阻，肺胃不主通降，擬加枇杷葉、竹茹、旋覆花。</p>
<p>鬱氣凝聚喉間，吞不下，吐不出，梅核氣之漸也。</p>
<p>半夏　厚朴　茯苓　蘇梗　旋覆花　橘紅　枇杷葉　薑汁</p>
<p>詒按：此於《金匱》成方中，加旋覆，杷葉，最有巧思。</p>
<p>鄧評：此係鬱氣凝痰互阻其間，用《金匱》四七湯，本千古不易之理。加味卻亦靈穩。如用噙化丸，更屬相宜。</p>
<p>寒熱無期，中脘少腹遽痛，此肝臟之郁也，鬱極則發為寒熱；頭不痛，非外感也。以加味逍遙散主之。</p>
<p>加味逍遙散</p>
<p>詒按。此木鬱達之之法。</p>
<p>鄧評，此亦治肝鬱祖方。認證既確，投劑必效。</p>
<p>病從少陽，郁入厥陰，復從厥陰，逆攻陽明，寒熱往來，色青，顛頂及少腹痛，此其候也。泄厥陰之實，顧陽明之虛，此其治也。</p>
<p>人參　柴胡　川連　陳皮　半夏　黃芩　吳萸　茯苓　甘草</p>
<p>詒按：此從左金、道遙化裁而出。若再合金鈴子散，似更周到。</p>
<p>鄧評：推論病源，思路曲折，立方亦有精義。以小柴胡去薑棗治少陽，左金泄厥陰，二陳和陽明，其用果在斯乎。</p>
<p>孫評：細考案方之意，當有噁心嘔吐之症。</p>
<p>此血鬱也，得之情志，其來有漸，其去亦不易也。</p>
<p>旋覆花　薤白　鬱金　桃仁　代赭石　紅花</p>
<p>詒按：此必團血鬱，而絡氣不通，有胸膈板痛等見證，故立方如此。</p>
<p>鄧評：想係胸痹噎膈之類，法取降逆祛痰導瘀。</p>
<h2>嘔噦門</h2>
<p>胃虛氣熱，乾嘔不便。</p>
<p>橘皮竹茹湯　加蘆根　秔米</p>
<p>鄧評：方用參、粳補胃虛，蘆、茹清胃熱，薑、橘開痰氣，既輕靈，復切實。</p>
<p>再診：嘔止熱退。</p>
<p>石斛　茯苓　半夏　廣皮　麥冬　秔米　蘆根　枇杷葉</p>
<p>鄧評：轉方合度。</p>
<p>三診：大便不通。</p>
<p>生首烏　玄明粉　枳殼</p>
<p>鄧評：急則治標之法。</p>
<p>四診：大便通，脈和。惟宜滋養。</p>
<p>石斛　歸身　秦艽　白芍　丹皮　炙草　茯苓　廣皮</p>
<p>詒按：迭用四方，運意靈巧，自能與病機宛轉相赴。</p>
<p>鄧評：至此大勢去矣，故惟和養為宜。而用石斛、秦艽，丹皮者，腸中之燥熱殆未盡清耶。</p>
<p>下既不通，勢必上逆而為嘔，所謂幽門之氣，上衝吸門是也，治法自當療下。但脈小目陷，中氣大傷，宜先安中止嘔。嘔定再商。</p>
<p>人參　茯苓　刺蒺藜　竹茹　半夏　廣皮　蘆根　石斛</p>
<p>詒按：似當兼通幽門，乃能止嘔，擬加生枳實。</p>
<p>鄧評：凡中虛嘔吐者，慎勿因便秘而峻導，導則徒傷胃氣也，放謂宜失安中，誠閱歷有得之言。</p>
<p>痛嘔之餘，脈當和緩，而反搏大，頭運欲嘔，胸滿不食，神倦欲臥，慮其土嘖木張，漸致痙厥。法當安胃清肝，亦古人先事預防之意。</p>
<p>半夏　茯苓　廣皮　白風米　鉤藤　竹茹　枇把葉　鮮佛手</p>
<p>詒按：議論極是，但恐藥力不足以濟之，然虧卻清穩。所謂清肝者，只不過鉤藤、竹茹而已，擬再加木瓜、白芍，較似有力。</p>
<p>鄧評：既恐土嘖，而立方不以補中，只云安胃清肝者，為脈反搏大故也。片語隻字，具見斟酌。</p>
<p>病從肝起，繼乃及胃，茲又及於肺矣，然當以胃氣為要。久病之體，必得安穀不嘔，始可圖功。</p>
<p>石斛　蘆根　茯苓　麥冬　廣皮　木瓜　枇杷葉　秔米</p>
<p>詒按：敘病簡要清沏，非績學者不能。方亦中窾。</p>
<p>鄧評：論病得綱領，立方有權街。</p>
<p>胃有火邪，故嘔而不食；膽有熱邪，故合目自汗。</p>
<p>橘皮竹茹湯　加石斛</p>
<p>詒按：山梔必不可少，以其專清膽熱故也；川連亦在應用之列。</p>
<p>鄧評：此肝膽之火拼攻於胃也，方藥卻清泄太少，誠宜如柳師加梔、連之例。</p>
<p>孫評：用藥當從黃連溫膽湯加味。</p>
<p>再診：前方去石斛　加木瓜</p>
<p>嘈雜得食則已。此痰火內動，心胃陰氣不足。</p>
<p>生地　山梔　半夏　麥冬　茯苓　丹皮　竹茹　炙草</p>
<p>詒按：陰虛而抉痰者，用藥最難恰好。方中可加石斛、廣皮。</p>
<p>鄧評：病屬胃虛痰火，用藥卻中肯綮。</p>
<p>痰氣阻逆咽嗌，時自嘔惡。此證利在清降，失治則成噎膈。</p>
<p>半夏　枇杷葉　旋覆花　竹茹　茯苓　麥冬　橘紅　鬱金　生薑</p>
<p>詒按：用藥靈動。</p>
<p>鄧評：病在初起，方亦輕鬆。</p>
<p>氣鬱痰凝，阻隔胃脘，食入則噎，脈澀，難治。</p>
<p>旋覆花　代赭石　橘紅　半夏　當歸　川貝　鬱金　枇把葉</p>
<p>詒按：旋覆代赭為噎膈正方。食入則噎，肺氣先鬱，故加郁、貝、枇杷葉；惟脈澀者正虛，可加人參。</p>
<p>鄧評：病較前案稍深，故用藥亦較進步。脈澀不獨為正虛，抑且為血痹。</p>
<p>孫評：宜加蔞皮。</p>
<p>脈疾徐不常，食格不下。中氣大衰，升降失度。</p>
<p>旋覆花　代赭石　麥冬　茯苓　半夏　廣皮　人參　枇杷葉</p>
<p>詒按：此因中氣大傷，故用參、麥。</p>
<p>鄧評：脈疾徐不常，卻係中氣大衰，制劑精幻可法。</p>
<p>朝食暮吐，肝胃克賊，病屬反胃。</p>
<p>旋覆花　代赭石　茯苓　半夏　吳萸　生薑　秔米　人參　枇杷葉</p>
<p>詒按：此專治吐，故加薑、萸。</p>
<p>鄧評：論病立方，悉中肯綮。蓋此病不特胃土虛寒，且有肝邪賊克。</p>
<p>穀之不入，非胃之不納，有痰飲以阻之耳。是當以下氣降痰為法；代赭之用，先得我心矣。</p>
<p>旋覆代赭湯</p>
<p>詒按：識既老當，筆亦爽健。</p>
<p>鄧評：功夫紳熟，自能意到筆隨。</p>
<p>因氣生痰，痰凝氣滯，而中焦之道路塞矣。由是飲食不得下行，滓液不得四布，不饑不食，口燥便堅，心悸頭運，經兩月不愈。以法通調中氣，庶無噎膈腹滿之慮。</p>
<p>旋覆代赭湯加石菖蒲　枳實　陳皮</p>
<p>詒按：論病則源流俱沏，用藥則標本兼到，細膩熨帖，傳作何疑</p>
<p>鄧評：此等識見，超出尋常，好在不因以下數證而誤用滋補。</p>
<p>中氣迭傷，不能健運，朝食暮吐，完穀不腐。診得脈虛色黑，腰腳少力，知不獨胃病，腎亦病矣，此豈細故哉。</p>
<p>人參　附子　川椒　茯苓　益智仁</p>
<p>再診：前方去川椒益智　加川連　肉桂</p>
<p>詒按：完穀不腐，色黑腰軟，腎傷之徵也；改方加桂連，是交濟法。</p>
<p>鄧評：此釜底增薪法。惟嘔吐病究竟難免肝陽不和，今看其轉方易入連、桂可知。</p>
<p>孫評：方中可入乾薑與茯苓同用，佐人參溫胃之力</p>
<h1>評選靜香樓醫案下卷</h1>
<p>長洲尤怡在涇著</p>
<h2>伏氣門</h2>
<p>肝陰素虧，溫邪擾之，發為痙病，神昏骱齒，瘛瘋不定。法當滋養肝陰，以榮筋脈，清滌痰熱，以安神明者也。若能應手，尚可無慮。</p>
<p>羚羊角　茯神　鉤藤　貝母　阿膠　鮮菖蒲　竹瀝</p>
<p>詒按：此證若表邪未解，當去阿膠，加小生地或鮮生地。</p>
<p>又按：此係伏氣發溫之證，與外感風溫有內外之別。此證邪由少陰外發，潰入厥陰，故見證如此。羚羊角、鉤藤，熄風清熱，皆治標之品也。若圖其本，當從陰分托邪，俾得外達三陽，再與隨經清泄，乃奏全功。病原治法，詳載《溫熱逢原》中，茲不贅述。</p>
<p>鄧評：阿膠不宜，擬換細生地、玄參。</p>
<p>揭明其義，極為確鑿。想尤氏於伏氣溫病，猶未了然耶。</p>
<p>熱傷津液，脈細口乾，難治。</p>
<p>蘆根　知母　川斛　蔗漿　細生地　麥冬　甘草　梨汁</p>
<p>詒按：此存陰泄熱之正法，所云難治，想因脈細之故。</p>
<p>鄧評：口乾僅為津液受傷，脈細則其元氣亦弱，故云難治。</p>
<p>熱不止，頭痛不已，紫斑如錦紋，咽痛。表裏邪盛，最為重證。</p>
<p>犀角　豆豉　赤芍　玄參　牛蒡　丹皮　黃芩　甘草</p>
<p>詒按：當加鮮生地。</p>
<p>鄧評：頭痛不已，由肝膽之陽火太升，宜稍重養陰和陽。</p>
<p>再診：去豆豉　丹皮　加桔梗　鮮生地　射干</p>
<p>鄧評：桔梗恐有礙頭痛。</p>
<p>熱病，十二日不解，舌絳口乾，胸滿氣促，邪火為患，亦已甚矣。宜景岳玉女煎，清熱而存陰，否則神識昏冒矣。</p>
<p>鮮生地　石膏　麥冬　知母　竹葉　甘草</p>
<p>詒按：此氣血兩燔之治法。</p>
<p>鄧評：胸滿氣促，得無有痰濁內阻乎。</p>
<p>熱病，四日不汗，而舌黃、腹中痛、下利，宜先裏而後表；不爾，恐發狂也。</p>
<p>大黃　柴胡　枳實　厚朴　赤芍</p>
<p>詒按：先裏後表，因裏證已急，於病機固當如是。</p>
<p>鄧評：既無寒熱往來，何以大黃與柴胡並用，殆恐其邪氣因下而陷乎。</p>
<p>舌乾脈數，汗為熱隔，雖發之亦不得，惟宜甘寒養液。雖不發汗，汗當自出，然必足溫，而後熱退乃吉。</p>
<p>青蒿　知母　蘆根　生地　蔗漿　竹葉</p>
<p>詒按：養液以為作汗之源，是治溫要旨。</p>
<p>鄧評：正虛邪鬱，亦是伏溫症一種乎。擬加豆豉、玄參、茆根。</p>
<p>孫評：足冷陰已損失，舌乾津亦耗傷，不發汗挽回亦不易，故云必足溫而後熱退乃吉也。</p>
<h2>外感門</h2>
<p>頭面腫痛，此風邪上盛，宜辛涼解散。</p>
<p>荊芥　杏仁　桔梗　牛蒡　薄荷　甘草　馬勃　蒼耳子</p>
<p>鄧評：風挾火邪，宜參降火之品，如玄參、銀、翹之屬。</p>
<p>風溫挾痰，留滯上焦，辛涼解散，原為合法，時至自解，不足憂也。</p>
<p>牛蒡　連翹　薄荷　川貝　豆豉　杏仁　桔梗　蔥白</p>
<p>詒按：此風溫初起之方。</p>
<p>鄧評：宜增瓜萎、鬱金，兼化痰熱。</p>
<p>風溫郁於肺胃，咳而胸滿，痰多脅下痛，脈數口乾。</p>
<p>蘆根　薏米　瓜蔞　甘草　杏仁　紅花　桃仁　貝母</p>
<p>詒按：桃仁、紅花，因脅痛而用之，以和血絡也。若邪鬱可加豉、蒡，口乾可加翹、芩。</p>
<p>鄧評：證情恐成肺癰。再合瀉白散增鮮沙參，更覺著力。</p>
<p>脈右大，舌黃不渴，嘔吐黏痰，神躁語言不清，身熱不解。此勞倦內傷，更感濕溫之邪，須防變端。</p>
<p>厚朴　茯苓　滑石　陳皮　竹葉　蔻仁　菖蒲根汁</p>
<p>詒按：此溫邪而挾濕者，濕熱上蒙，故證情如是，比方可以為法。</p>
<p>鄧評：脈右大舌黃，知肺胃受熱；不渴，知復多痰濕。用藥甚輕，而識見甚高。惟薑炒川連，何不加用，此為莫解。</p>
<p>孫評：濕甚於溫，濕痹清陽之候。</p>
<h2>濕病門</h2>
<p>臍中時有濕液腥臭，按脈素大。此少陰有濕熱也。六味能除腎間濕熱，宜加減用之。</p>
<p>六味丸去山藥　加黃柏　萆薢　女貞子　車前子</p>
<p>詒按：六味治腎間濕熱，前人曾有此論，藉以治臍中流液，恰合病機。</p>
<p>鄧評：較六味原方為得力，誠可法可師之作。</p>
<h2>瘧疾門</h2>
<p>暑風成瘧，噁心胸滿，和解則愈。</p>
<p>半夏　黃芩　茯苓　知母　厚朴　陳皮　竹葉　生薑</p>
<p>詒按：小柴胡法之和解，和其表裏兩墳之邪也；此之和解，和其濕熱兩混之邪也。薑、夏、朴、廣，去其濕也；芩、知、竹葉，清其熱也，兩意兼用，故亦云和解也。</p>
<p>又按：此濕熱並重者，故清燥兼用。此與下條皆暑濕內伏，發為時瘧之病。苦辛宣洩，最為合法。若拘拘子瘧疾之成方，概用柴胡、鱉甲則誤矣。</p>
<p>鄧評：暑濕風邪乘於脾胃，亦宜和解為法，但與和解少陽用小柴胡者周乎不同，方中竹葉、生薑二味，極靈權妙。</p>
<p>暑風相搏，發為時瘧，胸滿作噦，汗不至足。邪氣尚未清解。當以苦辛溫法治之。</p>
<p>藿香　半夏　杏仁　通草　厚朴　廣皮　竹葉</p>
<p>詒按：此濕重於熱者，故用藥稍偏溫燥。</p>
<p>鄧評；見證係痰濕阻遏胃氣所致。觀方內杏仁、通草，殆肺氣亦共宣降，要之不越和解之法。</p>
<p>孫評：點清時瘧，自然小柴胡之不合明矣。</p>
<p>瘧發而上下血溢，責之中虛，而邪又擾之也。血去既多，瘧邪尚熾，中原之擾，猶未已也，誰能必其血之不復來耶。謹按古法，中虛血脫之證，從無獨任血藥之理。而瘧病經久，亦必固其中氣。茲擬理中一法，止血在是，止瘧亦在是，惟高明裁之。</p>
<p>人參　白朮　炮薑　炙草</p>
<p>詒按：識見老確，議論精切。所立理中一法，誠屬血脫益氣，固中止血之要藥。惟愚意所欲商者，瘧來而上下血溢，必因瘧疾之熱，擾及血絡而然。於理中法內，參用安營清絡之意，似乎更為周到。且標本兼顧，於立方正意，亦不相刺謬也。</p>
<p>鄧評：柳師所評極是。擬加川連、歸身之屬，至丹皮炭、荊芥炭亦可權宜輔用。</p>
<p>孫評：邪擾未已，則柳氏亦甚合派。安營清絡，如丹皮、白芍之類。</p>
<p>三瘧，是邪伏陰分而發，非和解可愈。久發不止，補劑必兼升陽，引伏邪至陽分乃愈。</p>
<p>人參　歸身　鹿角膠　杞子　鹿茸　附子　茯苓　沙苑</p>
<p>詒按：陰瘧本有此法，而不能概用此法，須相題為之。</p>
<p>鄧評：得元有精滑之症乎。然脈必緩小者為宜，即見數象，亦必無力。</p>
<p>孫評：必須瘧發於夜，寒重熱輕，且腰軟足痿等症，方可用此。</p>
<p>三陰瘧多有邪伏不解者，痰凝不化者，邪滯血絡者，中下兩傷者，陽氣大傷，陰寒內侵者，治法多端，故云須相題為之。</p>
<p>瘧病方已，遂得脾約，脾約未已，又增厥疼。心腹時滿時減，或得身熱汗出，則疼滿立止。明係瘧邪內陷於太陰陽明之間，是必邪氣仍從少陽外達，則不治疼而疼自止，不治脹而脹自消矣。</p>
<p>詒按：論病已得要領，惜方佚未見。</p>
<p>鄧評：擬用小柴胡合二陳、枳朮，並參金鈴子散。</p>
<p>瘧後，脅下積癖作疼，夜熱口乾溺赤。陰虛邪伏。宜鱉甲煎。</p>
<p>鱉甲　白芍　青皮　丹皮　首烏　柴胡　知母　炙草</p>
<p>詒按：此邪伏陰分之治法。　當歸亦可加入；</p>
<p>鄧評：此與三一案宜升陽者，不啻天壤之殊。</p>
<p>瘧後，脅下積痞不消，下連少腹作脹。此肝邪也。當以法疏利之。</p>
<p>人參　柴胡　青皮　桃仁　茯苓　半夏　甘草　牡蠣　黃芩　生薑</p>
<p>詒按：此小柴胡法也。加青皮以疏肝，桃仁以和瘀，牡蠣以軟堅，用意可云周到。惟少腹作脹，乃肝邪下陷之證。若再加川棟子、歸尾、延胡，似更完密。</p>
<p>鄧評：瘧母以此法緩消，極稱妥善。想其不用仲聖之鱉甲煎丸者，良以中虛作張故也。再合金鈴子散亦未嘗不可。</p>
<p>瘧止復發，汗多作嘔，中氣虛逆，宜益陽明。</p>
<p>半夏　茯苓　廣皮　人參　石斛　蘆根　薑汁</p>
<p>鄧評：觀其方意，胃中必多痰熱。</p>
<p>再診：寒熱已止，汗嘔並減。宜和養營衛。</p>
<p>人參　桂枝　石斛　廣皮　歸身　炙草　麥冬　白芍</p>
<p>詒按：此膏梁虛體治法，兩方俱清穩熨帖。</p>
<p>鄧評：痰熱已退，營衛益覺其虛，故轉方專養營衛。</p>
<h2>黃疸門</h2>
<p>面黑目黃，脈數而微，足寒至膝，皮膚爪甲不仁。其病深入少陰，而其邪則仍白酒濕得之及女勞也。</p>
<p>腎氣丸</p>
<p>詒按：此證載在《金匱》，近於《愛廬醫案》中，見一方甚佳。此病兼有瘀血，不但濕也。　腎氣丸能否見效，尚未可定。</p>
<p>鄧評：此病腎陽固虛，營衛自乏，而濕熱瘀血亦必相兼。此方似嫌專顧其虛，未能祛邪。</p>
<p>孫評：疸有瘀血黑者，理可相通，又增一解。</p>
<p>面目身體悉黃，而中無痞悶，小便自利。此仲景所謂虛黃也。即以仲景法治之。</p>
<p>桂枝　黃耆　白芍　茯苓　生薑　炙草　大棗</p>
<p>詒按：案明藥當。</p>
<p>鄧評：如此認證，便覺了無疑義。引用古方，亦自確切不泛。</p>
<p>孫評：仲景法，黃耆建中湯。</p>
<p>濕停熱聚，上逆則咽嗌不利，外見則身目為黃，下注則溺赤而痛。</p>
<p>茵陳　厚朴　豆豉　木通　豬苓　橘紅　茯苓　黑梔</p>
<p>詒按：論病能一線穿成，用藥自絲絲入筘。</p>
<p>又按：咽嗌不利，可加桔梗，前胡之類。</p>
<p>鄧評：此濕熱蒸淫，陽黃也。方卻輕靈無弊。</p>
<h2>痹氣門</h2>
<p>胸背為陽之分，痹著不通，當通其陽，蓋陽不外行而鬱於中，則內反熱而外反寒。通陽必以辛溫，而辛溫又礙於臟氣，擬辛潤通肺以代之。</p>
<p>紫菀三兩煎湯眼　詒按：此巧法也。特未知效否若何？</p>
<p>鄧評：此似《金匱》所論之胸痹證，瓜萎薤白半夏之屬，能通陽而不礙臟氣，屏除不用，何以故耶？或者獨任此味，曾已試驗。</p>
<p>濕邪鬱遏，陽氣不宣，外寒裏熱，胸滿溺赤。宜開達上焦。</p>
<p>紫菀　桔梗　鬱金　白蔻　枳殼　杏仁　貝母　甘草</p>
<p>詒按：此治肺痹之正法</p>
<p>鄧評：此熱鬱於內，肺氣不宣，故但宜輕開上焦，未便因外寒而投薑、桂熱藥。</p>
<p>氣窒不散，便閉喘急，不能偃臥，猝難消散也。</p>
<p>紫菀　葶藶　厚朴　杏仁　橘紅　鬱金　枳殼</p>
<p>詒按：此證較前更急，兼有便閉，故用藥從中焦泄降。</p>
<p>鄧評；此必是體實脈實者，故可峻用開導。蓋有識自能有膽。</p>
<p>再診：大黃　厚朴　檳榔　枳殼　杏仁</p>
<p>詒按：輕劑不效，故更與通腑以泄肺。</p>
<p>鄧評：因邪已化熱，故轉方改用寒下。</p>
<p>胸中為陽之位，陽氣不布，則窒而不通。宜溫通，不宜清刀：，愈開則愈窒矣。</p>
<p>桂枝　茯苓　乾薑　炙草　益智仁</p>
<p>詒按：再參入開痹之品，如杏、菀、橘、桔等，似更靈動。</p>
<p>鄧評：清陽之所，純為寒飲閉窒，自非溫通，不足以開其痹。</p>
<p>孫評：杏、菀、橘、桔，即所云愈開愈窒者。</p>
<p>食入，則胸背痞塞作脹，噫氣不舒。此陽氣不通。宜辛通之法。</p>
<p>草蔻仁　半夏　桂枝　茯苓　乾薑　炙草</p>
<p>詒按：此證亦與胸痹相似</p>
<p>鄧評：飲阻氣鬱，陽絡易窒，辛通固所必需，如木香、砂仁疏暢中氣之品，還宜參入。</p>
<h2>脘腹痛門</h2>
<p>蛔厥心痛，痛則嘔吐酸水，手足厥冷。宜辛苦酸冶之。</p>
<p>川連　桂枝　歸身　延胡　烏梅　川椒　茯苓　川棟子　炮薑</p>
<p>詒按：此烏梅丸法也。</p>
<p>鄧評：方與證合。惟蛔厥確據，尚有心下苦熱，痛則攻觸有形見端，或唇舌面色變現不定，蓋隨蛔之動靜故也。</p>
<p>此腎厥也。心疼背脹，引及腰中。議用許學士香茸丸。</p>
<p>鹿茸　杞子　沙苑　大茴香　麝香</p>
<p>詒按：寒襲於腎，而氣上逆，故用溫養。脹及腰背者，督陽不用也。鹿茸溫通督脈，麝香開泄濁陰，故以主為君。</p>
<p>鄧評：擬參旋覆花湯以通營絡。</p>
<p>孫評：氣自臍下上逆面厥，故名腎厥；四肢寒冷，故用溫養，背重於胸，故用茸、麝。</p>
<p>脈弦小腹痛，食後胃脘痛，上至咽嗌。肝火乘胃。宜泄厥陰、和陽明。</p>
<p>川棟子　木通　茯苓　甘草　石斛　木瓜</p>
<p>詒按：擬加延胡，山梔仁。</p>
<p>鄧評：病因食後面作，是胃氣被遏而不暢，與得食則緩者有虛實之異，鼓此方務取琉泄。</p>
<p>孫評：肝火乘胃，由於痛時上至咽嗌故也，故須加黑梔以清肝火。</p>
<p>心腹痛，脈弦，色青，是肝病也。</p>
<p>川棟於　歸身　茯苓　石斛　延胡　木瓜</p>
<p>詒按：立方穩合。</p>
<p>鄧評：認證著實，不頗搜索，惟方內宜佐辛通．</p>
<h2>瘕癖門</h2>
<p>臍下積塊，捫之則熱，病者自宮，前後二陰，俱覺熱痛，其為熱結可知。況自來之病，皆出於肝耶。鄙見非泄厥陰，不能獲效。</p>
<p>龍薈丸五十粒酒下</p>
<p>鄧評：苦寒宣洩厥陰，恰合病機，且方內有麝香，能搜絡散塊。</p>
<p>孫評：病情屬熱，真諦在前後二陰熱痛一句。</p>
<p>絡病瘀痹，左脅板實，前年用蟲蟻，通血升降開發已效，伹胸皖似是有形，按之微痛。前藥太峻，茲用兩調氣血，以緩法圖之。</p>
<p>醋炒延胡　薑黃　阿魏　桃仁　生香附　麝香　歸須　為末蜜丸每服二錢</p>
<p>詒按：承前方來，雖曰兩調氣血，而仍以疏瘀為主。</p>
<p>鄧評：此亦採取從前方，凡遇瘀血結塊，宜效用之。</p>
<p>孫評：因板實有形，故用蟲蟻搜血。比方略退一層，故云緩法也。</p>
<p>脈虛數，色白不澤。左脅有塊杯大，大便小便自利。病在肝家，營血不和，此為虛中有實，補必兼通。</p>
<p>白朮　歸身　炙草　白芍　生地　茯苓　琥珀　廣皮　桃仁　紅花　沉香　鬱金</p>
<p>詒桉；方治親切不膚。</p>
<p>鄧評：古人論治塊有初中末三法，此即中途之治，但似可加用人參。</p>
<p>時病食復，至今不知饑飽，大便不爽，右脅之旁，虛裏天樞，隱隱有形。此陽明胃絡循行之所，多暖氣不化，並不煩渴，豈是攻消急驅實熱之證耶。擬用丹溪泄木安上法。</p>
<p>小溫中丸　如半月後有效仍以前法</p>
<p>詒按：此中焦濕積阻結之證。</p>
<p>鄧評：想有痰飲阻於胃絡，亦可借用胸痹治法。</p>
<p>左脅積塊，日以益大，按之則痛，食入不安。凡痞結之處，必有陽火鬱伏於中，故見煩躁口乾心熱等證。宜以苦辛寒藥，清之開之。然非易事也。</p>
<p>川連　枳實　香附　川芎　神麯　茯苓　青皮　赤芍</p>
<p>詒按：脅塊有形益大，則營絡必窒，似宜榮通乃效。</p>
<p>鄧評：凡積塊係時久體虛者，極難奏績。</p>
<p>方藥穩切，再參用金鈴子散可也。</p>
<p>孫評：似可參入歸須、金鈴子散之類。</p>
<p>大腹右有形為聚，脈大，食入即作脹，治在六腑。</p>
<p>白朮　茯苓　廣皮　生香附汁　三棱　厚朴　草果　山楂</p>
<p>詒按：方以疏通氣分為主。</p>
<p>鄧評：既云脈大，何不加川連、枳實？</p>
<p>心下高突，延及左脅有形，漸加腹脹。思正月暴寒，口鼻吸受冷氣，入胃絡膜原，清陽不用，濁陰凝阻，胃氣重傷，有單腹之累，殊非小恙。</p>
<p>厚朴　草果　半夏　千薑　茯苓　蓽撥</p>
<p>另蘇合香丸一粒化服。</p>
<p>詒按：寒邪閉於營絡，放用溫通，方中可加桂枝尖。</p>
<p>鄧評；高突有形，似宜兼通營絡。</p>
<h2>腫脹門</h2>
<p>脈遲胃冷，腹脹，氣攻胸脅，噁心少食泄瀉。宜振脾胃之陽。</p>
<p>乾薑　益智仁　半夏　厚朴　神麯　檳榔　川椒　茯苓</p>
<p>詒按：此溫中調氣法也。</p>
<p>鄧評：此緣中寒木鬱，於溫中方內，宜增白芍、金鈴子、木瓜以平調其肝木。再檳榔一味，不識何所取用。</p>
<p>孫評；因噁心泄瀉，故認定中宮著想。</p>
<p>命門陽衰，脾失溫養，不克健運，食入輒脹，法當溫補下焦。</p>
<p>腎氣丸去桂　加沉香　椒目</p>
<p>詒按：此補火生土之法。</p>
<p>鄧評書此單腹之漸也，丸方加減可法。</p>
<p>濕熱內陷太陰而成脹。</p>
<p>茅朮　川柏　厚朴　陳皮　桑皮　木通　澤瀉　大腹皮　草果仁</p>
<p>詒按：此專治脾土濕熱，古方小溫中丸亦可服。</p>
<p>鄧評：此症苔必膩濁，溺必短少，係濕熱實症，故用斯法。</p>
<p>孫評：濕中生熱，故朮、柏並用。</p>
<p>脈微遲，左脅宿痞，腹漸脹大，便溏溺少。此是濁陰上攻，當與通陽。</p>
<p>熟附子　遠志　椒目　小茴香　澤瀉　茯苓</p>
<p>詒按：此溫通治脹之正法。</p>
<p>鄧評：此乃中虛濕熱，兼有肝氣內乘，方內附子易乾薑為穩；遠志不知從何取義？擬增白朮、金鈴子、青皮。</p>
<p>脾氣本弱，而更受木克，克則益弱矣，由是脾健失職，食入不消，遂生脹滿；脾愈弱則肝愈強，時時攻逆，上下有聲。半載之疾，年逾六旬，非旦夕可圖也。</p>
<p>人參　茯苓　川楝子　楂核　甘草　木瓜　白芍　吳萸　橘核</p>
<p>詒按：此肝脾兩治，而偏重於肝者，以其不特脹滿，而兼有攻逆之證也。</p>
<p>鄧評：案語辨理明晰，方意虛實兼到。</p>
<p>孫評：宜微佐氣分之藥，如厚朴、廣皮之類。</p>
<p>脈弦中滿，病在肝脾。</p>
<p>人參　吳萸　木瓜　厚朴　廣皮　半夏</p>
<p>詒按：此肝牌兩治之正法。立方精簡可法。</p>
<p>鄧評：脈弦者，人參不如白木為妥善。</p>
<p>右關獨大而搏指，知病在中焦，飲食不化，痞悶時痛，積年不愈，喉間自覺熱氣上衝，口乾作苦，舌苔白燥。此脾家積熱鬱濕。當以瀉黃法治之。</p>
<p>茅朮　葛根　茯苓　石膏　藿香　木香</p>
<p>詒按：此痞滿門中不常見之證，存之以備一格。</p>
<p>鄧評：右關獨大，是亦有肝木之火乘於中上也，蓋不獨積熱使然。方法背謬，惟石膏究屬不及川連為合度。</p>
<p>孫評：舌苔白燥，故用瀉黃；若舌苔厚燥、便閉，可用承氣。</p>
<p>脈證合參，乃氣結在上，津不運行，蒸變濁痰，由無形漸變有形。徐之才謂輕可去實，非膠固陰藥所宜。</p>
<p>白蔻　薏仁　杏仁　厚朴　枇杷葉汁　絳香汁</p>
<p>詒按：此方具有輕，清、靈三字之妙。</p>
<p>鄧評：此病滋補陰藥必已誤服多矣，故立論如是。</p>
<p>勞郁交傷，營衛不和，胸中滿痛，時有寒熱。與六淫外感不同。治宜和養氣血。</p>
<p>逍遙散</p>
<p>詒按：再增枳、朴等寬中之品，則更周到矣。</p>
<p>鄧評：病雖非外感，而肝經亦有伏邪鬱火。方法頗合，再增枳、朴理氣，則更善矢。</p>
<p>孫評：因有寒熱，故用柴胡。</p>
<p>脾以健運為職，心下痞不能食，食則滿悶，脾失其職矣。但健運之品，迂緩無功，宜以補瀉升降法治之。</p>
<p>人參　乾薑　半夏　茯苓　川連　枳實　陳皮　生薑</p>
<p>詒按：此方仿瀉心法加味。</p>
<p>鄧評書此補瀉並用，苦泄辛開之法。升降二字，尚屬強搭。</p>
<p>孫評：補瀉升降，可佐健運之職，是至理，並是創格。</p>
<p>脅下素有痞氣，時時沖逆；今見中滿，氣攻作痛，吞酸嘔吐，能俯而不能仰。此厥陰鬱滯之氣，侵入太陰之分，得之多怒且善鬱也。病久氣弱，不任攻達；而病氣久鬱，亦難補養為掣肘耳。姑以平調肝胃之劑和之，痛定食進，方許萬全。</p>
<p>半夏　廣皮　川棟子　橘核　茯苓　青皮　炙甘草　木瓜</p>
<p>詒按：審察病機，至為精細，立方亦周到熨帖。</p>
<p>鄧評：既有吞酸見證，故雖虛而不能補養矣。</p>
<p>不得已而立一乎調郁氣之方，亦限於時局如此。</p>
<p>孫評：議論透徹。</p>
<p>胃陽衰憊，氣阻痰凝，中脘不快，食下則脹。宜辛溫之品治之。</p>
<p>草果仁　厚朴　茯苓　半夏　甘草　檳榔</p>
<p>詒按：此濕痰阻遏中宮之證。</p>
<p>鄧評：據此方藥，想胃陽雖衰猶可。</p>
<p>熱結氣閉，腹脹便難。</p>
<p>厚朴　杏仁　滑石　黃芩　大腹皮　茯苓皮　木通</p>
<p>詒按：此運中兼泄熱法也。</p>
<p>鄧評：宜加枳殼、蔞皮，兼通大便。</p>
<p>孫評：二症似乎相同，一則陽衰宜溫，一則化熱宜清。然溫不用桂、附，非下焦陽衰也：熱不用連、軍，非結閉之甚也，同中有異，宜細參之。</p>
<p>腹脹＼面浮、跗腫，食不下，欲嘔。脾虛受濕，健運失常。非輕證也。</p>
<p>茅朮　茯苓　廣皮　桑皮　木通　厚朴　澤瀉　半夏　豬苓</p>
<p>詒按：此運中利濕法也。</p>
<p>鄧評：跗腫一證，大都係乎陽虛。方內似少通陽之品。</p>
<p>面黑，目黃，腹滿，足腫，囊腫。濕熱壅滯，從脾及腎，病深難治。</p>
<p>蒼朮　制軍　厚朴　陳皮　木通　茵陳　豬苓　椒目　澤瀉</p>
<p>詒按：邪機壅滯，正氣已傷，故云難治。</p>
<p>鄧評書此等病明知正氣已傷，亦只得以驅導為法，為背城借一之計。</p>
<p>孫評：急瀉其壅滯，以存其正，或可挽回。此則正氣未致大傷者之法，另是一格。</p>
<p>臥則喘息有音，此腫脹，乃氣壅於上。宜用古人開鬼門之法，以治肺通表。</p>
<p>麻黃　杏仁　薏仁　甘草</p>
<p>詒按：此兼喘逆，故專治肺。</p>
<p>鄧評：此係仲景成法，為的對之方。即使正氣稍傷，僅以麻黃換蘇子可也。</p>
<p>風濕相搏，面浮腹滿足腫，大小便不利。</p>
<p>杏仁　蘇子　厚朴　陳皮　豬苓　大腹皮　薑皮　木通</p>
<p>詒按：此表裏兩通法也。</p>
<p>鄧評：病似風水，立方不拘仲景成法，想因病勢稍輕，或以正氣受傷，貴乎隨機應變者也。</p>
<p>腫脹之病，而二便如常，肢冷氣喘。是非行氣逐水之法所能愈者矣。當用腎氣丸，行陽化水。然亦劇病也。</p>
<p>腎氣丸</p>
<p>詒按：此病陽衰氣窒，不治之證也。</p>
<p>鄧評：病為腎虛陽衰無疑，宜投以大劑煎藥，或可挽回重病也。</p>
<h2>頭痛門</h2>
<p>火升，頭痛，耳鳴，心下痞滿，飯後即發。此陽明少陽二經痰火交鬱，得食氣而滋甚，與陰虛火炎不同。先與清理，繼以補降。</p>
<p>竹茹　茯苓　橘紅　炙草　半夏　羚羊角　石斛　嫩鉤藤鉤</p>
<p>詒按：案語分析病機，極其圓到。惟立方似末恰合，陽明藥少，宜加知母、枳實。</p>
<p>鄧評：能指出病之關鍵處，便為好手。</p>
<p>此病苟痞滿而兼陰虛者，良亦棘手難治。</p>
<p>孫評：痰火交鬱，放宜清降而不宜補攝，是一定之層次。</p>
<p>頭痛偏左，耳重聽，目不明，脈寸大尺小。風火在上，姑為清解。</p>
<p>羚羊角　生地　甘草　菊花　丹皮　石決明　連翹　薄荷</p>
<p>詒按：此內風而兼外感者。散清散兼施</p>
<p>鄧評：確係風火太升，故用藥如此切實。</p>
<p>孫評：宜參入桑葉、蔓荊、鉤鉤之類。</p>
<p>風熱上甚，頭痛不已。如鳥巢高巔，宜射而去之。</p>
<p>制軍　犀角　川芎　細茶</p>
<p>詒按：此雖前人成法，而選藥頗精筒。據此則大黃當用酒炒，以使之上行。</p>
<p>鄧評：此等方具見學博才高。宜射而去之者，因有川芎引而上之也。擬再加天麻、防風佐之為引。</p>
<p>孫評；宜參酒洗蠍尾之類。據此則頭上必有高凸之形。</p>
<h2>諸竅門</h2>
<p>風熱蓄於腦髓，發為鼻淵，五年不愈，此壅疾也。壅則宜通，不通則不治。</p>
<p>犀角　蒼耳子　黃芩　鬱金　杏仁　蘆根</p>
<p>詒按：既欲其通，則辛夷、白芷，似不可少。</p>
<p>鄧評：此病不越清之散之，絕不拘守鹹法，是亦脫化功夫。</p>
<p>孫評：欲其通，則細辛亦可用。</p>
<p>肺之絡會於耳中，肺受風火，久而不清，竅與絡俱為之閉，所以鼻塞不聞香臭，耳聾耳鳴不聞音聲也。茲當清通肺氣。</p>
<p>蒼耳子　薄荷　桔梗　連翹　辛夷　黃芩　山梔　杏仁　甘草　木通</p>
<p>詒按：語云耳聾治肺，觀此信然。</p>
<p>鄧評：當知耳聾耳鳴之不關肝腎虛者，絕少見也。</p>
<p>少陽之脈，循耳外，走耳中。是經有風火，則耳膿而鳴。治宜清散。</p>
<p>薄荷　連翹　甘菊　芍藥　黃芩　刺蒺藜　甘草　木通</p>
<p>詒按：案既老當，方亦清靈。</p>
<p>鄧評：看病如此熟悉，有意到筆隨之勢。</p>
<p>孫評：風火為患，必有腫痛；如不腫痛，已有虛象。　日久則肝腎陰虛，宜用六味、磁朱之類以滋養之。</p>
<p>腎虛齒痛，入暮則發，非風非火，清散無益。</p>
<p>加減八味丸　每服三錢鹽花湯下</p>
<p>詒按：立方精到。</p>
<p>鄧評，識見高超，直如老吏斷獄。</p>
<p>孫評：齒痛屬腎虛者，每挾肝陽上升，宜參入清肝之品，如天冬、石斛之類。</p>
<h2>腳氣門</h2>
<p>厥陰之邪，逆攻陽明，始為腫痛，繼而腹疼，胸滿嘔吐。此屬腳氣衝心，非小恙也。擬外台法冶之。</p>
<p>犀角　檳榔　茯苓　枳實　杏仁　橘紅　半夏　木通　木瓜</p>
<p>鄧評：能用古而不疑者，誠火候工深，胸有成竹。</p>
<p>孫評：檳榔導遲下行，最有巧思；色赤者可入連、柏之類。</p>
<p>再診：半夏　木瓜　廣皮　蘆根　枳實　茯苓　竹茹　枇杷葉</p>
<p>鄧評：轉方輕鬆，與前方意同而藥異。</p>
<p>詒按：腳氣一證，前人歸入類傷寒中：必憎寒壯熱，病與傷寒相似，甚則有衝心之患，敢謂之重證。外台有大犀角湯及風引湯，後人有雞嗚散等方，均為專治腳氣之重劑。乃今時所謂腳氣者，則以腳膝酸軟而腫者，謂之濕腳氣，不腫者，謂之乾腳氣，專用防己、木瓜、牛膝、薏米等風濕之藥治之。與前人所稱者，大相徑庭。學者不可不辨。</p>
<p>孫訐：前人之法，及今時所治，如有精義，兼參可也，學者不可偏廢。</p>
<h2>遺精門</h2>
<p>遺精無夢，小勞即發，饑不能食，食多即脹，面白唇熱，小便黃赤。此睥家濕熱，流入腎中為遺滑，不當徒用補澀之藥；恐積熱日增，致滋他族。</p>
<p>萆薢　砂仁　茯苓　牡蠣　白朮　黃柏　炙草　山藥　生地　豬苓</p>
<p>詒按：此等證，早服補澀，每多愈服愈甚者。先生此案，可謂大聲疾呼。</p>
<p>鄧評：認題清楚，立方熨貼。非若近世之醫，或因遺精無夢而峻用補澀，或以濕熱內留而專事通利，凡其弊與此病適相同也。</p>
<p>孫評：此人必身強色蒼，今因病而面白耳。</p>
<p>再診；眼藥後遺滑已止，唇熱不除，睥家尚有餘熱故也。</p>
<p>前方去砂仁黃柏　加川連　苦參</p>
<p>詒按：唇熱屬脾。</p>
<p>鄧評：循理用藥，自能應手，加減亦中肯綮。</p>
<p>少陰為三陰之樞，內司啟閉，虛則失其常矣。法宜填補少陰；或通或塞，皆非其治。</p>
<p>六味丸去瀉　加菟絲子　沙苑　杞子</p>
<p>詒按：此補腎之乎劑，可以常服無弊。</p>
<p>鄧評：重在補而不重在塞，可謂至理至情。</p>
<p>孫評：填補之法，似宜從葉氏有情之品。</p>
<p>遺精傷腎，氣不收攝，入夜臥著，氣衝上膈，腹脹呼吸不通，竟夕危坐，足跗浮腫清冷，小便漸少。此本實先撥，枝將敗矣，難治之證也。</p>
<p>都氣丸　加牛膝　肉桂</p>
<p>詒按：此陰陽兩損，氣不攝納之重證，舍此竟無良法，然亦未能必效也。</p>
<p>鄧評：本虛而病重，至此難為力矣。區區丸藥，烏能有濟，且恐不得下嚥耳。</p>
<p>陰虧陽動，內熱夢泄。</p>
<p>六味丸　加黃柏　砂仁</p>
<p>詒按：六味合封髓法也，亦妥貼易施。</p>
<p>鄧評：腎虛濕熱，當用此法為准。</p>
<h2>小便門</h2>
<p>兩尺軟弱，根本不固；小便渾濁，病在腎臟；久久不愈，則成下消。</p>
<p>六味丸　加天冬　麥冬　杞子　五味子</p>
<p>詒按：方法穩切。</p>
<p>鄧評：小便渾濁，絕不犯分利治法，惟憑之於脈耳</p>
<p>孫評：此症必小便頻而且數。</p>
<p>形偉體豐，脈得小緩。凡陽氣發洩之人，外似有餘，內實不足，水穀之氣，不得陽運，釀濕下注，而為濁病，已三四年矣。氣墜宜升陽為法，非比少壯陰火自灼之病。</p>
<p>菟絲子　茴香　車前子　韭子　蒺藜　茯苓　覆盆子　蛇床子　黃魚骨搗丸每服五錢</p>
<p>詒按：此證當以脾土為主。　但與溫養下元，尚非潔源清流之道。</p>
<p>又按，此與相火下注者不同，故用藥如是。</p>
<p>鄧評：老年體豐，溫藥以通補，尚合題旨。</p>
<p>菟絲子、韭子、茴香，為升陽之味。骨字或是膠字之誤。蒺藜即是沙苑子。</p>
<p>孫評：因水穀釀濕，故柳云宜以脾土為主。然形豐者必肥白而非花黑也。</p>
<p>相火下注者用封髓法。</p>
<p>煩勞四十餘天，心陽自亢，腎水暗傷，陽墜入陰，故溲數便血，不覺管窒痛痹，實與淋證不同。其中雖不無濕熱，而寢食安然。不必滲泄利濕，宜甯心陽`益腎陰，宣通腎氣以和之。</p>
<p>熟地炭　人參　霍石斛　丹皮　澤瀉　茯苓　遠志　柏子仁　湖蓮肉</p>
<p>詒按：此治本之方，由其論病親切，故立方自穩。</p>
<p>鄧評：隨其因，就其證，合推其源，自無遁情。方內如細生地、元武板，尚可參入。</p>
<p>孫評：甯心陽，熟地宜易生地。</p>
<h2>泄瀉門</h2>
<p>惱怒傷中，濕熱乘之，脾氣不運，水穀並趨大腸，而為泄；腹中微疼，脈窒不和，治在中焦。</p>
<p>藿梗　川朴　神麯　澤瀉　茯苓　陳皮　扁豆　木瓜</p>
<p>詒按：此方妙在木瓜一味，兼能疏肝。須知此意，乃識立方選藥之妙。</p>
<p>又按：案中脈窒句，不甚明瞭。</p>
<p>鄧評：方實輕靈可喜。</p>
<p>脈窒即是澀滯之意。但何不竟云脈澀為直捷了當！</p>
<h2>痢疾門</h2>
<p>暑濕外侵經絡則為瘧，內動腸藏則為痢，而所恃以攘外安內者，則在胃氣。故宜和補之法，勿用攻削之劑，恐邪氣乘虛，盡入於裏也。</p>
<p>詒按：案語殊妙，惜此方之佚也。</p>
<p>鄧評：瘧痢並作，宜和養胃氣，為至要之言。擬升陽益胃湯以補其缺。</p>
<p>孫評：根本深譚，入理妙論。</p>
<p>喻西昌用人參敗毒散，正因此也。</p>
<h2>大便門</h2>
<p>氣鬱不行，津枯不澤，飲食少，大便難，形瘦脈澀。未可概與通下。宜以養液順氣之劑治之。</p>
<p>生地　當歸　桃仁紅花枳殼　麻仁　甘草　杏仁</p>
<p>詒按：此氣阻液枯之證，擬加鮮首烏。</p>
<p>鄧評：仲景雖有脈澀可下之例，究屬澀不宜下者罕見也。此方宗通鑿湯而交通之，卻勝於原方，以其流利不滯也。</p>
<p>孫評：鮮首烏或鮮蓯蓉，均是養液潤下妙品。</p>
<p>大便閉結，水液旁流，便通則液止矣。</p>
<p>大承氣湯加甘草</p>
<p>詒按；據吳鞠通之論，用調胃承氣法為穩。</p>
<p>鄧評：加甘草以緩之極妙。</p>
<p>孫評：此證必大腹硬滿，按之或痛；若不硬滿者，即無燥矢閉結，不可用承氣。</p>
<p>再診：前方加當歸　白芍</p>
<p>鄧評：想其營分亦傷，故加歸、芍以養之。</p>
<p>三診：改用制軍加潯桂厚朴</p>
<p>鄧評：三診想因旁流挾濕，非溫不化。</p>
<p>下血後，大便燥閉不爽，繼而自利，白滑膠黏，日數十行，形衰脈沉。必因久伏水穀之濕。府病宜通，以溫下法。</p>
<p>生茅朮　制軍　熟附子厚朴</p>
<p>詒按：自利膠滑，有因燥矢不行，氣迫於腸，而脂膏自下者。當專行燥矢，兼養腸液，未可概以濕論也。</p>
<p>鄧評：苟係燥矢而利膠黏，其糞仍燥結。據繼而自利白滑膠黏，當有濕積。方極周到。</p>
<p>孫評：此又是一格，學者務宜細考虛實，病而腹滿痛者，亦可參用此法，以下寒濕之積，利出白滑膠黏為驗。</p>
<p>脾約者，津液約束不行，不饑不大便。備嘗諸藥，中氣大困。仿古人以食治之法。</p>
<p>黑芝麻杜蘇子　二味煎濃汁如飴，服三五日，即服人乳一杯，燉溫入薑汁二匙。</p>
<p>詒按：此無法之法也。良工心苦矣。</p>
<p>鄧評：中氣既已大困，似宜醒運中樞以致開闊，如歸芍六君與枳朮丸之類，二法均可取用。</p>
<p>孫注：華用康先生遇一伏暑後不饑不食，大便燥閉，如是者半年餘矣。用鮮蓯蓉二兩，漂淡，合五仁湯、梨汁等而愈者，想係初起過投苦燥，脾陽愈旺而胃陰益傷，故用葉氏養胃陰之法，與此正同。</p>
<p>便血，不獨責虛，亦當責濕，所以滋補無功，而疏利獲益也。茲足痿無力，其濕不但在脾，又及腎矣。當作脾腎濕熱成痹治之。</p>
<p>萆薢　薏仁　白朮　石斛牛膝　生薑</p>
<p>詒按：案語明確，方亦簡當。</p>
<p>鄧評：便血責濕，當亦恒見，誠閱歷有得之言。如但在脾，立法猶易，並及於腎，則較難秉筆也。茲就足痿無力，尚未可斷定及腎。立方固甚簡當，擬去生薑，增炮薑、砂仁、歸身；如果已及於腎，黑地黃丸亦可用也。</p>
<p>孫評：便血屬虛者，黃土湯、歸脾湯是正法也。此因滋補無功而立此方。但《金匱》有遠血、近血之分，徐氏又有痔血宜清之說，不可不考。</p>
<p>瀉痢便血，五年不愈，色黃心悸，肢體無力。此病始於脾陽不振，繼而脾陰亦傷。治當陰陽兩顧為佳。</p>
<p>人參　白朮　附子　炙草　熟地　阿膠　伏龍肝　黃芩</p>
<p>詒按：此理中合黃土湯法也。方案俱切實不膚。</p>
<p>鄧評：用古合度，此即黃土湯加入參也。有一種虛黃病，陰陽兩傷，而小便時清時黃者，極可借用此法，蓋此病亦類虛黃。</p>
<p>鼻癢心辣，大便下血，形瘦，脈小而數，已經數年。</p>
<p>黃芩　阿膠　自芍　炙草</p>
<p>詒按：此陰虛而有伏熱之證，方特精簡。</p>
<p>鄧評：此方係黃芩湯加阿膠。用古能化，有得心應手之趣。</p>
<p>孫評：心辣，是熱伏於營見證。</p>
<h2>外瘍門</h2>
<p>肝經液聚氣凝，為項間痰核。病雖在外，其本在內。切不可攻，攻之則愈甚矣。</p>
<p>首烏　象貝　白芍　牛膝　甘草　牡蠣粉　歸身　生地　丹皮</p>
<p>詒按：議論平和，立方清穩。牡蠣粉一味，可以化痰消堅。</p>
<p>鄧評：虛體患此，誠不可攻。斯法極王道精當，學者宜取法焉。</p>
<p>瘍證以能食為要。茲先和養胃氣。</p>
<p>石斛　茯苓　益智仁　穀芽　木瓜　廣皮</p>
<p>詒按：案語片言居要，惟用藥嫌少力量。</p>
<p>鄧評：柳師所評極是。</p>
<p>脈虛細數，陰不足也。鼠漏未愈，熱在大腸。</p>
<p>六味丸加杞子　天冬　龜板　黃柏　知母　五昧子</p>
<p>詒按：此肛門漏也，名為鼠漏，未知所本。脈證已屬損象，故以滋補肝腎為主。</p>
<p>鄧評：方頗切實，專治虛在陰者宜之。</p>
<p>大都因俗名偷糞鼠成漏，故名鼠漏。</p>
<p>孫注：肛門癰俗名偷糞鼠，故云鼠漏也。</p>
<h2>婦人門</h2>
<p>脾虛生濕，氣為之滯，血為之不守。此與血熱經多者不同。</p>
<p>白朮　澤瀉　白芍　廣皮　炙草　茯苓　牛角腮灰　川芎</p>
<p>詒按：認證既的，藥亦絲絲入筘。</p>
<p>鄧評：此與歸脾湯題旨似同而異者。</p>
<p>腹滿、足腫、泄瀉。此屬胎水，得之脾虛有濕。</p>
<p>白朮　茯苓　澤瀉　廣皮　厚朴　川芎　蘇葉　薑皮　黃芩</p>
<p>詒按：方案俱老當。</p>
<p>鄧評：胎水之正法。</p>
<p>孫評：既云胎水，川芎動血，似屬不宜，易白芍覺切。</p>
<p>胎前喘咳腫滿，是脾濕不行，上侵於肺，手足太陰病也。治在去濕下氣。</p>
<p>茯苓　陳皮　白芍　澤瀉　厚朴　當歸　蘇梗　杏仁</p>
<p>詒按：方頗靈動，再加紫菀、枇杷葉何如？</p>
<p>鄧評：方論均的當。</p>
<p>紫菀、枇杷葉，兼可入肺之營絡散邪。</p>
<p>孫評：喘咳去當歸之辛溫，易枳實、炒白朮之化濕下氣何如？</p>
<p>產後惡露不行，小腹作痛，漸見足腫面浮喘咳。此血滯於先，水漬於後。宜兼治血水，如甘遂、大黃之例。</p>
<p>紫菀　茯苓　桃仁　牛膝　青皮　杏仁　山楂肉　小川朴　延胡</p>
<p>詒按：用其例而易其藥，因原方太峻也。</p>
<p>孫評：桂枝似乎必用之品，再可增荊芥穗炭、細香附二味。</p>
<p>再診：瘀血不下，走而上逆。急宜以法引而下之，否則沖逆成厥矣。</p>
<p>歸身　滑石　蒲黃　通草　牛膝　瞿麥　五靈脂　赤芍</p>
<p>鄧評：心靈手敏，隨機應變，迭經四診，絕不拘泥置之，活潑潑地，非庸工所能及也。</p>
<p>三診：膈寬而腹滿。血瘀胞中。宜以緩法下之。</p>
<p>大黃　青皮　炙草　丹皮　桃仁　赤芍　歸身</p>
<p>又丸方：牛膝一兩赤芍　延胡　蒲黃　五靈脂　川芎　桂心　桃仁各五錢　歸尾　丹皮各八錢</p>
<p>鄧評：改用丸藥緩導，想其病勢已減。</p>
<p>詒按：迭換四方，一層深一層，次序秩然，恰與病機宛轉相赴。</p>
<p>胎前病子腫，產後四日即大泄，泄已一笑而厥，不省人事，及厥回神清，而左脅前後痛滿，至今三月餘矣。形瘦，脈虛，食少，少腹滿，足腫，小便不利。此脾病傳心，心不受邪，即傳之於肝，肝受病而更傳之於睥也。此為五臟相賊，與六腑食氣水血成脹者不同。所以攻補遞進，而絕無一效也。宜泄肝和脾法治之。</p>
<p>白朮　木瓜　廣皮椒目　茯苓　白芍</p>
<p>詒按：此等證情，非胸中有古書者，不能道隻字。</p>
<p>鄧評：是病吃緊肝脾兩經，而能宛轉道達，誡屬老手之筆。</p>
<p>孫評：白芍用桂木同炒何如？</p>
<h1>評選繼志堂醫案兩卷</h1>
<p>右繼志堂醫案兩卷，曹仁伯先生所著也。先生諱存心，字仁伯，別號樂山，係常熟之福山人。幼時讀書穎悟，長老咸目為令器。顧以家道不豐，一衿不足裕衣食，遂謀習醫。從薛性天先生游。薛故郡中名宿，得先生劇嘗之，謂將來光吾道者必曹生也。先生居薛所十年，幃燈焠掌，上自靈素，下逮薛喻諸家，無不研求貫串，乃出應病者之求，輒奏奇效。先生嘗言：醫者存心，須視天下無不可治之病，其不治者，皆我之心未盡耳。故其臨病人也，研精覃思，直以一心貫乎病者之食息起居，而曲折無不周至。每有劇病，他人所棄而不治者，先生獨能運以精思，而以數劑愈之。古人謂生死肉骨，先生誠有之焉。先生又言：每遇病機叢雜，治此礙彼，他人莫能措手者，必細意研求，或於一方中變化而損益之，或合數方為一方而融貫之，思之思之，鬼神通之，苦心所到，必有一恰合之方，投之而輒效者。以是知醫者之於病，稍涉危疑，即目為不治而去之者，其不盡心之過為不少也。嗟乎l先生之言如此，即先生居心之篤厚，與藝事之精能，蓋皆即是而可見矣。先生所著，有琉球百問、繼志堂語錄、過庭錄、延陵弟子紀略諸書。經先生之孫博泉玉年裒集鋟行，楊太常濱石序之。先生之行誼，備詳於許君廷誥所撰家傳中。先生以醫名著，繼葉薛諸公而起，德被吳中，名馳海外，至今人能道之。特其所著醫案，於過庭錄延陵弟予紀略外，未有傳本。今年夏，偶於友人處，得見其門弟子所錄存者。借中多闕誤，因假歸鈔錄，為之次第整理，刪其繁亂，擷其精粹，間或贅以評語，以發明其用意之所在，鈔成上下兩卷，俾後人讀之，猶可想見其診病時危坐構思，旁若無人之概云。</p>
<p>光緒二十六年庚子八月江陰柳寶詒識。</p>
<h2>評選繼志堂醫案上卷</h2>
<p>常熟曹存心仁伯著</p>
<h2>內傷雜病門</h2>
<p>心營與腎水交虧，肝氣挾肝陽上逆，胸中氣塞，口內常乾，手震舌掉，心煩不寐，即有寐時，神魂遊蕩，自覺身非己有，甚至便溏納少，脾胃亦衰，脈形細小無神，而有歇止之象。逐證施治，似乎應接不暇。因思精神魂魄，必令各安其所，庶得生機勃勃；否則悠悠忽忽，恐難蔔其旋元吉。擬許學士真珠母丸法。</p>
<p>石決明鹽水煅一兩　人參一錢　歸身錢半　犀角五分　龍齒三錢　茯神三錢　生地四錢　麥冬二錢　棗仁二錢　炙草三分　淮藥三錢　沉香磨沖三分　另珠粉四分先服</p>
<p>詒按：此方於肝氣一層，嫌少理會。愚意去山藥、甘草，加木香、陳皮，則胸中之氣塞亦平矣。</p>
<p>鄧評：心煩不寐，心火亢矣，何又脈小便溏？大都火被濕痰所遏也。於清心安神內，務參辛燥開痰，俾濕化痰豁，乃能木達風清也；若滋寒太過，恐多弊而少利耳。</p>
<p>孫評：所述病情，均因痰火上蒙致病，即便溏脈歇，亦為痰滯於中，脾營胃衛不調和之症，若損證而至見此，則正氣垂絕，決無生理。</p>
<p>胸中氣塞，非氣之不通，是痰之上逆也。</p>
<p>又接服方：生地　自芍　人參　丹皮　橘紅　茯神　棗仁　石決明　龍齒　秫米　佛手</p>
<p>鄧評：選藥較前方為勝，故能稍獲效機。</p>
<p>再診：脈之歇止向和，便之溏泄不作，氣塞稍平，手震亦定。但寤多寐少，內藏之魂魄未安；胸痞脘悶，上壅之濁痰未降。容將通陽鎮逆法，參入前方，冀相與有成耳。</p>
<p>真珠母丸真珠母、熟地，當歸、人參、棗仁、柏子仁、茯神、犀角、龍齒、沉香　去柏子仁　當歸　加旋覆花一錢五分　代赭石三錢　陳皮七分　冬朮七錢　炙草五分　白芍二錢　麥冬三錢　甘瀾水煎竹瀝一兩沖服</p>
<p>詒按：案云通陽鎮逆，方中用旋赭鎮逆，而朮、芍、麥、草，則未可謂之通陽也。</p>
<p>鄧評：脈之歇止，是亦疫之咎歟。</p>
<p>所謂胸痞脘悶，上壅之濁痰未降，此語中的。而方內仍用地、麥，未免議論雖確而用藥失當，擬更參溫膽之法，如半夏、枳實、菖蒲、竹茹之屬。</p>
<p>三診：夜半得寐，心腎已交，肺魄肝魂，自能各安其臟。無如心易煩動，神反疲乏，氣猶短促，胸還痞悶，脈仍細小，兩足不安。脈虛證虛，是謂重虛，而兼有濕痰從之為患。夫痰即有形之火，火即無形之痰也。法當固本為主，消痰佐之。</p>
<p>人參固本丸　加龜板五錢炙茯神三餞　棗仁二餞　白芍三錢　淮麥三錢　陳皮一餞　旋覆花一錢五分　柏子仁一錢五分去油　冬朮錢半　另珠粉二分　竹油二十匙　雞子黃一枚和服</p>
<p>詒按：於痰病重投冬、地，得無嫌其滋膩否？</p>
<p>鄧評：柳師破的。</p>
<p>諸般苦況，無非為濕痰阻塞。案云濕痰從之為患，又謂痰即有形之火，火即無形之痰，何仍重於滋補，蓋終被陰虛二字橫於胸中也。</p>
<p>孫評：痰火二旬，近人安能見得如此真切。既如是云云，當以清火化痰為法矣。</p>
<p>四診：風火痰三者之有餘，留滯肝經，以致臥血歸肝，魂不能與之俱歸，筋惕肉（目閏）而醒，前次氣短等證，莫不因此。而又起於有年病後，氣血兩虧，何堪磨耐。所治之方，不出許學士法加減。現在脈息細小帶弦，雖無止歇之形，尚有不靜之意，究屬難免風波，未可以能食為足恃也。</p>
<p>石決明鹽水煅三錢麥冬二錢犀角五分柏子仁三錢　龍齒三錢棗仁鹽水炒三錢　歸身七分　大熟地浮石粉拌炒六錢　羚羊角一錢　冬朮一錢五分　白芍三錢　陳皮一錢人參二錢　茯神三錢　銀花一錢　薄荷五分　另金箔二張　竹瀝一兩　真珠粉三分　薑汁一匙沖服</p>
<p>詒按：方中用銀花、薄荷兩味，不識其意何居？</p>
<p>鄧評；痰火為患，每每能食。</p>
<p>統觀四方，雖有祛邪之藥，而實多滋痰之品，是以絕少奏效。</p>
<p>孫評：起於有年病後，必病時誤補蠻澀所致，故痰熱內戀而起也。</p>
<p>五診。前夜熟睡，昨又變為少寐，寐之時，適在子時以後，肝膽兩經尚有餘邪可知。更兼痰火阻氣，時逆時平，其氣逆時，必面赤心悸，甚則肉（目閏）筋惕，煩熱不安，脈亦隨之變異，所謂心火一動，相火隨之是也。調治之外，必須靜養，俾心火凝然不動，方可漸入坦途。</p>
<p>人參丹參麥冬玄參各二錢　旋覆花冬朮各一錢五分橘紅一錢　小麥五餞棗仁川連煎汁拌炒</p>
<p>茯神　川貝各三錢炙草四分　枇杷葉竹茹各三錢珠粉沖三分</p>
<p>詒按：相火屬少陽，即膽火也。方中川連、竹茹，恰合病機。</p>
<p>鄧評：謂肝膽有餘邪，更兼痰火阻氣，此語誠然。</p>
<p>此方補而不滯，於清化痰火一面，較能著力，宜其小奏效也。</p>
<p>六診：所患小恙，無一不除，蓋以清之、化之、補之、養之，無微不至，而得此小效耳。所嫌者，寐非其時，寤非其時，心陽太旺，神氣外馳，是衛氣獨行於陽，陽蹻脈滿，滿則不入於陰，陰分之虛明矣。將滋陰之品，參入前方，未識能弋獲否？</p>
<p>前方加大生地五錢　陳膽星五分</p>
<p>另真珠母丸　朱砂安神丸各五十粒</p>
<p>詒按：此證不寐，乃肝膽有痰火所致。案中引內經陽蹻脈滿之文，本屬強為牽合；至以經言陰虛，指為陰血之虛，尤非經文本旨。</p>
<p>鄧評：生地唯恐礙痰。</p>
<p>孫評：細閱是病，必痰火擾亂肝膽，神志因之不靜。所服之藥，滋則助痰，補則滯氣。前後九方，惟此方最靈，用藥心思亦新穎熨貼。所嫌化痰熄風之味，臟腑未得貼切，是以病不即除也。如枇杷葉、川貝，與肝膽不宜，是消肺經之痰也；丹參祛瘀，珠粉清心，麥冬養肺，均失確切之旨。易以天麻、膽汁炒半夏、黑梔、鉤鉤、蒺藜，則得之矣；玄參雖清火，不若生牡蠣為佳，加白芍以攝肝陰，無滋膩之弊，擬方於下：</p>
<p>煨天麻、鹽半夏、茯苓、人參、炒白芍、薑汁炒山梔、鉤鉤、白蒺藜、生牡蠣、川連炒棗仁、竹茹、枳實。</p>
<p>南星燥烈，能祛風痰，以牛膽罩之，去燥烈，就柔和，並引入膽經，與此病最合，巧思豈可多得。</p>
<p>七診：人可以參天地之干者，莫貴於眠食如常。今食能知味，眠則未安，昨夜忽寐忽醒，醒則不爽，寐則不安，以昭衛氣不得入於陰，獨留行於陽之意。柳按：案語牽合支離，總由誤認經文陰字，故說來總不入理。是陽蹻脈滿，營血不能充足，肌肉不能潤澤，苟非陽生陰長，陰足戀陽，何以漸入佳境。然營中之血，既不生之於心，烏能藏之於肝，統之．於脾，而欲藉草木之無情，俾血肉之有情者，以生以長，談何容易。況當此痰火易煩，得食暫安，以及虛風內動，筋惕肉（目閏），支體牽搖，大便難通之候，更難為力矣。急宜加意調理。</p>
<p>前方去玄參旋覆　珠粉　丹參　加黃耆一錢　遠志三分　歸身一錢　半夏一錢五分豬膽汁炒　木香三分　圓眼肉三枚</p>
<p>另真珠母丸四十粒朱砂安神丸三十粒</p>
<p>詒摶：黃耆與此證不甚合，膽汁炒半夏思路新穎。</p>
<p>鄧評：不爽不安，無非痰火為患。所引陽蹻脈滿經文一節，自是勉強。</p>
<p>八診：徹夜好眠，神魂己定，是佳兆也。但脈形細小而兼滑數，數為有火，滑為有痰，細屬陰虛，小屬氣弱，虛弱之中，兼有痰火，有時面紅，有時咳嗽，有時氣痞而短，有時煩熱不安；更兼大便燥而小便短，筋惕肉（目閏），支體動搖，神情困倦，語言無力等證，均未平復。還宜謹慎小心。</p>
<p>前方加柏子仁三錢　另朱砂安神丸三十粒真珠母丸四十粒　詒按：此好眠，是痰蒙所致，未必定是佳兆。</p>
<p>鄧評：偶得好眠，未足憑也。要知虛中夾實，當先治其實。</p>
<p>孫評：論脈確合病機，得其要領。評語真得神髓。</p>
<p>九診：臟之為言，藏也。心之神，肝之魂，脾之魄，脾之意，腎之志，無不各得其藏，五臟和矣，即有不和，因藏真不足，蓋有待也。而與臟相表裏者為腑，腑以通為補，與臟之以塞為補者有間。因思胃主下行，腸主津液，津液不充，下行失令，故大便燥結而難通。此際不以滋養營陰，俾得施潤澤，非計也。目前之治如此，將來或痰、或火、或感、或傷，偶有違和，事難逆料，斷無預定之理，隨時斟酌為囑</p>
<p>麻仁郁李仁柏子仁松子仁各三錢　桃仁七分　陳皮人參　蘇子各二錢</p>
<p>另朝服膏滋藥，晚服丸藥。</p>
<p>此王江涇，王姓病也。是人素有肝火上升之病。想熱病之後，必有餘邪餘火，留於肝膽，乘虛竊發，氣塞而不能臥起者，中有實痰，加於短氣不足以息之體，神魂搖盪，身非己有，虛之甚矣。用真珠母丸法，先以犀角治實火，參、地補氣血，俾相火得清而奠安。第二方即參入陳皮、竹油、赭石、旋覆花，挾補挾化。第三方人參固本，入龜板、耆、芍、雞黃。第四方加入羚羊、銀花，清藥與補藥，俱加倍用之。第五、六方，竟是十味溫膽，吃重痰火一層。用藥心細手和，既沉著，亦靈敏，洵可法可師之作。</p>
<p>鄧評：腑以通為補，是至理名言。及觀其立法，究屬背謬。蓋大便之燥結，並非陰虛液涸，仍由痰火煅煉，腸液不生，豈徒滋養營陰所能通耶。</p>
<p>陽絡重傷，咳無虛日，而於五更為甚，口乾盜汗，溺赤便溏，脈數而身熱，欲成損證也；咽中已癰，慮其加喘生變，權以清熱存陰。</p>
<p>黃芩湯合豬膚湯加牡蠣</p>
<p>鄧評：咳於五更為重，是木火旺於寅卯也；溺赤便溏，大都挾濕熱內蘊。此方尚稱平善。</p>
<p>孫評：失血之後而得是證，非損之難治者乎。</p>
<p>再診：所見病情，與前無異，喜食藕汁，咽中乾痛稍輕，大便溏泄更甚。雖屬肺熱下移於大腸，而實則中氣已虛，失其所守也。</p>
<p>六味丸　加牡蠣　川貝　玄參　淡芩</p>
<p>詒按：大便溏泄，虛證中所最忌者。此證始終大便不堅，故再三反復，終不復元也。</p>
<p>鄧評：藕汁雖能清熱，亦不免助濕，濕勝故大便溏泄更甚，方內萸、地等味，恐有所礙。</p>
<p>孫評：大便不堅，是中無砥柱，損怯末傳已露，安能望愈。且玄參雖清陰分之熱，便不堅者，究宜避之，滑潤故也。</p>
<p>三診：溏泄已止，咳嗽未除，咽痛盜汗，脈數。肺經尚有熱邪。</p>
<p>補肺阿膠散加白芍生地淡芩玄參山藥</p>
<p>鄧評：阿膠、生地，究非有邪者所宜進。</p>
<p>四診：便泄稀，身熱輕，咽喉乾痛，亦漸向愈。而咳嗽腹鳴，神疲納少，脈小帶數。想是風熱遞減，氣陰兩虧，而脾中之濕，又從而和之為患。補三陰、通三陽之外，更以崇土化濕佐之。</p>
<p>六味丸　加牡蠣　淡芩　於朮　防風　陳皮　炙草</p>
<p>詒按：陰虛而挾脾濕，陽虛而挾肺火，邪實正虛，彼此相礙。凡治此等證，總須權其輕重緩急，又須心靈手敏，方能奏效。若稍涉呆滯，則效未見而弊先滋。如此證屢用六味，雖於證情亦合，究嫌落筆太重，少靈動之機括也。</p>
<p>鄧評：既知有脾中之濕，而六味丸之萸、地，豈不相礙。</p>
<p>孫評：脾濕是誤認，乃脾陰傷而中氣無權也。清潤治肺則礙睥，固氣溫養則傷肺，故虛證遇此，大為棘手。然脾土為萬物之母，中氣為諸氣之主，但得方法靈動，究以先立中氣為要。葉氏每以小建中湯加減治之，良有以也。</p>
<p>柳氏云虛證便溏為最忌，真是治虛者歷練有得之言。學者記之。</p>
<p>五診：氣陰得補漸和。不意又有燥風外感，襲入濕痰之中。微有寒熱，咽痛咳嗽不止。權以清養法。</p>
<p>六味丸去萸　加桑葉　杏仁　陳皮　川貝　炙草　鄧評：緣濕熱之邪，本屬留郁於內，鬱極必發，故不免寒熱再至。</p>
<p>六診：發熱惡風汗多，是屬傷風之象。但傷於壯者，氣行則已；傷於怯者，難免不著而為患也。大為棘手。</p>
<p>六味丸合玉屏風散　加桑葉　玄參　川貝　橘紅　甘草</p>
<p>鄧評：熱蒸故多汗，濕遏則惡風，亦未必傷風乃然。且既已傷風，何堪再用熟地。</p>
<p>七診：多汗惡風之象漸輕，新風解矣。而咳嗽咽痛，大便溏，飲食少，仍是脾肺腎三臟皆虛之候。幸未氣喘。</p>
<p>玉竹飲子玉竹、茯苓、甘草、桔梗、陳皮、川貝、紫菀，薑</p>
<p>合豬膚湯　玉屏風散加麥冬　山藥</p>
<p>鄧評：似乎有效，實則未必效也。</p>
<p>八診：脾虛則便溏，肺虛則咳嗽，腎虛則虛火上炎，咽喉乾痛，脈弱無力，元氣傷矣。急宜補氣育陰。</p>
<p>人參二冬二地黃耆陳皮阿膠杏仁　百合　甘草</p>
<p>詒按：此方究非便溏所宜。</p>
<p>鄧評：濕不化脾何以健，熱不解陰亦難復。一味滋補，徒截其濕熱去路。況二冬、二地，豈便溏所宜服耶。</p>
<p>孫評：葉氏於此等證，總以後天脾胃、先天腎主治，用異功、建中以培中，溫養攝納以治下，從根本設法，而力辟清寒肅肺之非，學者宜宗之。</p>
<p>九診：精生於穀，腎之精氣皆賴穀食以生之，而穀食之化，又賴脾土以運之。今便溏納少，脾失運矣。急宜補脾為要。</p>
<p>都氣丸合四君子湯百花膏</p>
<p>另八仙長壽丸參湯下</p>
<p>詒按：此方亦嫌少靈活之致。</p>
<p>又按：此證前後方案九則，議論頗有精當處。惟用藥未能面面照顧，總緣陰虛而兼便溏，彼此相礙，難於安置妥貼也。</p>
<p>鄧評：此病因屬重症，而始終鮮效者，為過慮其陰虛也。至此而云，急宜補脾用四君，而仍以都氣牽合，總由陰虛二字橫亙胸中故爾。</p>
<p>孫評：此等證惟於葉案細加參究，或有把握，還須將陰虛便溏打成一氣貫穿，乃有生機。</p>
<p>先生之病，素稟濕熱，又挾陰虛之病也。濕者何？地之氣也。熱者何？天之氣也。天地鬱蒸，濕熱生焉。濕熱稟於先天者，與元氣混為一家，較之內傷外感之濕熱，屬在後天者，豈可用日語哉。設使薄滋味，遠房幃，不過生瘍出血而已。乃從事膏粱，更多嗜欲，斯濕熱外增，陰精內耗，臟腑營衛，但有春夏之發，而無秋冬之藏，無怪乎風火相煽，而耳為之苦鳴也。當斯時也，靜以養之，猶可相安無事，何又喜功生事，火上添油，致陡然頭暈面赤，其一派炎炎之勢，蓋無非肝經之火，督脈之陽，上冒而為患。近聞用引火歸原之法，以為甘溫能除大熱，嗟乎！未聞道也。夫甘溫除大熱者，良以下極陰寒，真陽上越，引其火，歸其原，則坎離交媾，太極自安；若陰虛濕熱蒸動於上者，投以清滋，尚難對待，況敢以火濟火，明犯一誤再誤之戒乎！逮後，清已有法，滋亦頻投，飲食能增，身體能胖，而坐立獨不能久者，明是外盛中空，下虛上實，用藥殊難。嘗見東垣之清燥湯，丹溪之虎潛丸，潤燥兼施，剛柔並進，張氏每贊此兩方，謂必互用，始克有濟，何故而不宗此耶。然猶有進於此者，治病必資藥力，而所以載行藥力者，胃氣也。胃中濕熱薰蒸，致吐血痰嗽，鼻塞噫氣，二便失調，所謂九竅不和，都屬胃病也。然則欲安內臟，先清外腑，又為第一要著矣。至秋末冬初病甚者，十月坤卦純陰，天已靜矣；而濕熱反動，腎欲藏矣，而濕熱仍露，能勿令病之加劇乎，附方謹復。</p>
<p>青鹽四兩　甘草八兩　荸薺一斤　海蛇二斤　萆薢一兩　飴糖八兩　刺蝟皮一兩五錢　霞天曲一兩五錢　十大功勞葉一斤　橘葉五兩</p>
<p>共為末，竹瀝和水泛丸。每朝四錢，服完後，合虎潛丸全料，同合常服。</p>
<p>柳按：方中海（蟲宅），荸薺、飴糖，不能作丸，此必有誤。愚意用東垣清燥湯方，合青鹽以下數味為末，而用荸薺、海（蟲宅）煮汁，和飴糖，竹瀝泛丸乃合。</p>
<p>原注：起手提清濕熱之病，陰虛之體，發明先天素稟濕熱之故。第二段一折，折出嗜欲膏粱，因此更加陰虛。第三段再折，折出動火傷陰。第四段直辟用熱之謬，下乃歸到治病先治胃。通篇說理既精，筆力道老，僥有古文筆意。</p>
<p>詒按：推論病原，指陳治法，言言切實，絕無模糊影響之談。最後推出先清胃腑一層，尤為洞中窾要，深合機宜。凡治陰虛濕熱者，於此可悟出法門矣。</p>
<p>鄧評：分明先後天濕熱，自屬高見。</p>
<p>將甘溫除大熱之旨，解得了然明白。世醫動輒用引火歸源者，當以此三復焉。</p>
<p>體胖而不耐坐立，明是外盛中空，亦知生痰濕必多，兩方如清燥湯與虎潛丸互用，潤燥兼施，殊稱靈妙。但何以以後竟舍清燥而獨取虎潛，不知何所據而如此？</p>
<p>鈥安內臟，先清外腑，亦是要言。此案竟是一篇大議論，非平日有功夫者不能道隻字。方藥輕清鮮弊；惟飴糖一味。不免與濕熱有礙。</p>
<p>身熱，手心熱，少力神倦，遊利脈濡。此睥陽下陷，陰火上乘。甘溫能除大熱，正為此等證設也。</p>
<p>補中益氣湯加鱉甲</p>
<p>詒按：此脾虛內熱證也，用東垣法最合。</p>
<p>鄧評：苟其陰陽並損，進此方不效者，可與景岳理陰煎。</p>
<p>此與前案互參，則甘溫能除大熱之旨，自了然於心胸矣。</p>
<p>勞倦而招風濕，右脈濡小，左脈浮弦，舌苔薄白，溺赤便溏，肢體疫楚，神倦嗜臥，少納口乾。</p>
<p>升陽益胃湯參、朮、耆、草、夏、陳、苓、澤、羌、獨、防．柴、連、芍、薑．棗。加川朴青皮</p>
<p>詒按：此與前證略同，故用藥亦相似。</p>
<p>鄧評：耆、柴、黃連宜去之。</p>
<p>胃虛則納食無味．脾虛則運化無常。</p>
<p>六君子湯合治中湯　加熟地　益智仁　杭米</p>
<p>詒按：脾喜溫升，宜香燥；胃喜清降，宜柔潤。脾陽健則能運，胃陰充則能納。凡脾胃同治者，用藥須識此意。愚意去熟地，加石斛，似與胃虛者更宜。</p>
<p>鄧評；熟地最能窒滯脾胃。即使腎虛，似宜加杞子、沙苑等類。</p>
<p>孫評：柳氏言之親切有味，藥亦確切不移。</p>
<p>五腑六腑，皆有營衛，營衛不調，則寒熱分爭。此病分爭之後，肌肉暗消，因思脾主肌肉，肌肉暗消，正所以昭脾之營衛虛也。無怪乎脘痞納少，力乏嗜臥，脈形軟弱，有種種脾虛見象。於法當健脾為主，而八八已過之年，陽氣必衰，又宜兼壯元陽，使火土合德，尤為要務。</p>
<p>烏龍丸合香砂六君丸　加首烏　當歸</p>
<p>鄧評；凡寒熱之後，肌肉暗消者，必有伏熱耗陰也。</p>
<p>心脈宜大者反小，腎脈宜沉者反浮；浮則為傷，小則為虛。想是讀書攻苦，心腎不交，失其封藏之職。夫心腎即嬰兒姹女，欲其交者，須得黃婆為之媒合。黃屬中央，脾土所主，舍補中宮之外，皆屬徒然。</p>
<p>歸脾湯</p>
<p>詒按：借丹訣以談醫理，原一貫也。此案說理頗精，惜未能指列病狀。</p>
<p>鄧評：腎脈浮者宜補真陰；須得黃婆為之媒合者，不果於交心腎之中，參以疏補中官，為黃婆媒合之義也。</p>
<p>孫評：此是中虛不寐之症。</p>
<p>晝為陽，陽旺應不惡寒；夜為陰，陰旺應不發熱。茲乃日間惡寒，夜間發熱，何以陰陽相反若是耶？此無他，陽虛則惡寒於日，陰虛則發熱予夜。陰陽之正氣既虛，所有瘧後餘邪，無處不可為患，足為之浮，腹為之滿，溺為之短。一飲一食，脾為之不運；生飲生痰，肺為之咳嗽。脈從內變，而為細弦。夫形瘦色黃舌白，陽分比陰分更虧，極易致喘。</p>
<p>桂枝加厚朴杏仁湯　加附子　乾薑　冬朮　半夏　橘紅</p>
<p>原注：案則一線穿成，藥則理中去參，以理其本，桂枝以和其標，二陳、朴、杏以化其邪，乃絲絲入筘之方。</p>
<p>鄧按：似乎陰陽兩虛之證，實是濕遏熱伏之候。蓋陽被濕困而莫振，陰為熱迫而不勝也。今立方仍以祛邪為先，使濕開而熱達之意。</p>
<p>脾為陰土，胃為陽土，陽土病則見嘔惡，陰土病則見泄瀉。二者互相為患，此平則彼發，令人應接不暇。現在嘔止而泄，似脾病而胃不病。不知脾胃屬土，木必乘之，不乘胃土而嘔，必乘脾土而泄。治病必求其本，本在木，當先平木。必使陽土陰土，皆不受所乘，方為正治。</p>
<p>理中湯　烏梅丸　吳仙散（吳蔸、茯苓）　加白芍</p>
<p>詒按：推究病機，既能融會貫徹；斟酌治法，自然入彀。</p>
<p>鄧評；凡診雜病，皆當如此深一層想。此病當腹痛。</p>
<p>孫評：宜用木瓜。</p>
<p>舌乃心之苗。舌上之苔剝落不生者久矣，是心陰不足、心陽有餘也。</p>
<p>黃連阿膠湯去芩加大生地</p>
<p>詒按：胃陰枯涸者，每有此病。心陰不足之說，亦可備一法也。</p>
<p>鄧評：苔之剝落，不歸咎胃陰，而獨責心陰，想其舌必絳色。</p>
<h2>中風門</h2>
<p>類中之餘，足不任身，手難舉物，尺脈無力。陰陽並弱。擬用河間地黃飲子法。</p>
<p>熟地　蓯蓉　川附　牛膝　石斛遠志　巴戟　甘菊</p>
<p>鄧評：尺脈無力，陰陽並弱，為地黃飲子的對題旨。但類中之症，於本虛之中，更必有風痰濕熱錯雜其間。觀其膏方加萆薢，三診加蠍尾，亦從可知矣。</p>
<p>再診：手之舉動稍和，足之步履如舊。蓋緣陽氣難於充足耳。</p>
<p>六君子湯　加熟地　巴戟　白芍　川附　虎骨</p>
<p>又膏方；歸芍六君子丸　加虎骨　巴戟　菟絲　蓯蓉首烏杜仲萆薢</p>
<p>三診：足部有力，步履不艱，補方得力可知。仍以前法。</p>
<p>地黃飲子地、巴、蓯、萸、麥、斛、菖、芩、遠、薄、味、附、桂。　去麥、味、菖合異功散　加當歸　芍藥　蠍尾　竹油</p>
<p>詒按：此病之由乎虛者，故用藥專以補養收功。從前並未用疏風化痰之藥，案中亦無見證；至末方諸恙就痊，而忽加蠍尾、竹油二味，想必另有風痰見證也。</p>
<p>鄧評：既以補方得力，而忽又插入蠍尾、竹油，自屬可怪。</p>
<p>怒則氣上，痰即隨之，陡然語言蹇澀，口角流涎，月餘不愈，所謂中痰中氣也。然痰氣為標，陽虛為本，所以脈息遲弦，小水甚多，肢麻無力，法宜扶陽為主，運中化痰佐之。</p>
<p>六君子湯　加川附　白芍　麥冬　竹油　蠍梢</p>
<p>詒按：立方虛實兼到，所謂看似尋常，最奇特也，勿以平易忽之。</p>
<p>鄧評；病因怒起，究屬肝陽內盛；其小水多者，陽火主乎疏泄也。今反以扶陽為主，恐非善法，倘將附子易沉香似較妥。</p>
<p>左肢痿而不用，口歪流涎，舌苔起膩，便溏溺少，脈形弦遲，以中虛濕勝之體，易於生痰動風，內風既動，未有不招外風者也。</p>
<p>牽正散白附、蠍梢　合二陳湯　加川附　桂枝　白芍　制蠶</p>
<p>鄧評；因便溏脈遲，故立方以溫化濕痰作主，兼疏外風。</p>
<p>議論病源，具見卓識。</p>
<p>再診：肢體稍和，流涎略減，仍以前方增減。</p>
<p>前方去芍　加首烏　川斷　竹油</p>
<p>詒按：方案均切實不浮。</p>
<h2>痿痹門</h2>
<p>膝骨日大，上下漸形細小，是鶴膝風證。乃風寒濕三氣合而為病，痹之最重者也。三氣既痹，又挾肺金之痰以痹肘，所謂肺有邪，其氣留於兩肘。肘之痹，偏於左，屬血屬陰。陰m久虧，無怪乎腰脊突出，接踵而來。至於咳嗽鼻流清涕，小水色黃，肌肉暗削，行步無力，脈形細小，左關獨見弦數，是日久正虛，風寒濕三氣漸見化熱之象。擬用痹門羚羊角散加減。</p>
<p>羚羊角　歸身　白芍　杏仁　羌活　知母　桂枝　薏米　秦艽　制蠶　茯苓竹瀝　桑枝</p>
<p>詒按：由膝而肘而脊，病情漸引漸深，方中於膝肘之邪，已能兼治，於脊突一層，似未能兼顧及之。擬再加鹿角霜、川懷牛膝等味。</p>
<p>鄧評；膝肘腰脊等患，皆風痰所注，用痹門羚羊角散加減合法。或加虎脛骨、牛膝亦可。</p>
<p>孫評：咳嗽鼻涕溺黃，並非正虛，因日久化熱，或由新感外風所致；脊突肌削，是肝腎二陰大傷，誠如柳氏加法為要。至於新感宜另治，若非新感，則不必兼治，蓋正氣充足，稍有微邪，不治自去也。知、杏可不用。</p>
<p>素患鼻衄，入夏又發，下體痿軟無力，咳嗽口乾，溺黃膚熱。想是鼻衄屢發，上焦陰液久耗，而胃中濕熱之邪薰蒸於肺，肺熱葉焦，則生痿躄也。</p>
<p>清燥湯參、耆、草、朮、歸、橘、柴、麻。羌、地、連、豬、茯、麥、味、蒼、柏，瀉。去朮、升、柴　加白芍　茅花　枇杷葉</p>
<p>詒按：此證自當滋清營液為主。東垣清燥湯，立法未純，前人頗有議之者，用者當審之。案語闡發病情，極其熨貼。</p>
<p>鄧評：如此加減，便能中裒。</p>
<p>孫評：咳嗽、口乾、溺黃、膚熱，由於肺熱葉焦，則陰液久耗，宜去麻、蒼、連、豬，傷陰耗液之品，細考自知。</p>
<p>人年四十，陰氣自半，從古至今如是。惟尊體獨異者，蓋以濕熱素多，陽事早痿耳。近又患臂痛之證，此非醫書所載之夜臥臂在被外，招風而痛。乃因久臥竹榻，寒涼之氣漸入筋骨，較之被外感寒，偶傷經絡者更進一層。所以陽氣不宣，屈伸不利，痛無虛日，喜熱惡寒。仲景云：一臂不舉為痹，載在中風門中；實非真中，而為類中之機，豈容忽視。現在治法，首重補陽，兼養陰血，寓之以祛寒，加之以化痰，再通其經絡，而一方中之制度，自有君臣佐使焉。</p>
<p>熟地八兩當歸四兩白芍二兩虎掌一對阿膠三兩半夏四兩橘紅二兩枳殼二兩沉香五錢黨參四兩於朮四兩茯苓八兩熟附一兩炙草一兩風化硝一兩桂枝一兩羌活一兩綿耆=兩薑黃一阿海桐皮一兩</p>
<p>共為末，用竹瀝、薑汁，和蜜水泛丸，</p>
<p>詒按：立方清切周到，可法可師。</p>
<p>鄧評：立方從黃耆五物而擴充之。</p>
<p>孫評：兩層對勘，最啟心思。</p>
<h2>神志門</h2>
<p>神識不清，自言自語，起坐無常，寤寐失度，脈形小　滑，舌苔白膩。此痰熱內鬱心包，無路可出，而作心風也。久久歸入癲癇，毋忽。</p>
<p>導痰湯苓、夏、枳、星、梅、橘、薑、草。加菖蒲遠志</p>
<p>另白金丸</p>
<p>詒按：病情已屬癲證。再加犀角、龍、牡等清鎮之品，似更得力。</p>
<p>鄧評：見證屬痰，痰中有火，理固然也。立方宜從柳師加味，更參竹油、薑汁。所用烏梅去之為是。</p>
<p>孫評：導痰古方無梅、薑二味；想是後人誤加。導痰之品加烏梅收攝，大相背謬，萬無此理；即薑亦嫌溫燥。</p>
<p>陽明之脈環於唇。唇起紅筋，即發牽動而厥，厥醒吐沫，咳血鼻衄，二便失調，脈弦滑數。顯係胃有積熱，動血生痰，又被肝火所沖激，乃癇證之根，毋忽。</p>
<p>六味丸　加川貝　石決明</p>
<p>另虎睛丸（虎睛一對、制軍一兩、遠志五錢、犀角一兩、黑梔一兩，蜜丸，每服二十一粒）</p>
<p>詒按：既日胃有積熱，似非六味所能勝任。且方中如萸肉之酸溫，亦宜避去。</p>
<p>又按：積熱者，蓄積之熱也，與積滯之積不同。虎睛丸中大黃、黑梔，即為泄熱而設。</p>
<p>鄧評：此兩丸方並用甚妙，一以滋養肝腎陰氣，一以清泄陽明營熱。</p>
<p>孫評：吐沫是胃中濕熱蒸痰，咳血是胃中熱瘀不化，用方不合，惟虎睛丸足以當之。</p>
<p>癇證之因，未有不由乎龍雷之火上升；此則更有濕熱之痰，從而和之為患。</p>
<p>六味丸　加龍齒　石決明　橘紅　黑梔　川貝　川連　竹茹</p>
<p>詒按：連讀癇證數案，皆以六味丸為主。查六味為通補三陰之方。先生習於《內經》重陰者癲一語，謂癇證必挾龍雷之火，而以滋水柔木為主，故用藥如此。其實癇證有因於胎驚者，有因於先天陰虛者，亦有因於驚痰內擾者，當隨所因而治之，初非可執一端以論也。</p>
<p>鄧評：陰分虛者，六味丸固為主方，若由乎鬱痰、驚痰，痰火內盛者，地、萸究非所宜。</p>
<p>孫評：古人云：川貝治肺經燥痰，既云濕熱蒸痰，宜用半夏，燥濕二字適相反，用藥何不分析如此。</p>
<p>驚則氣亂，神出舍空，痰涎襲入，此心悸形呆，善忘不語所由來也。至月事不至，血從內並，用藥亦須兼及。</p>
<p>茯苓　香附　沉香半夏橘紅遠志　膽星　牛膝</p>
<p>另驚氣丸白花蛇、蠍，蠶、腦、麝、辰砂、白附、麻黃、天麻、橘紅、南星、蘇子。</p>
<p>詒按：擬加丹參、琥珀、歸須等，兼顧血分，乃與案語相合。</p>
<p>鄧評：心火亦宜兼清，清其火調其氣，即所以行其血而通其經也。柳師所加亦妥。</p>
<p>孫評：細察案意，由血瘀於內，夾痰熱上衝致病。柳加甚合法，宜宗之。</p>
<p>心悸，初從驚恐得之，後來習以為常，經年不愈，手振舌糙，脈芤帶滑，不耐煩勞。此係心血本虛，痰涎襲入也。</p>
<p>人參　玄參　丹參　棗仁　天冬　麥冬　菖蒲　茯苓　茯神　當歸　遠志　五味　桔梗半夏　生地　橘紅　枳殼　柏仁　炙草　竹茹</p>
<p>原注：此天王補心丹，合十味溫膽法也。心血本虧，補心丹主之；痰涎襲入，十味溫膽湯主之。</p>
<p>鄧評：手振心悸，每多風痰錯雜，鉤鉤、天麻、防風等均宜加入。</p>
<p>孫評：肢振有風動之象，宜加熄風之品，如天麻之類。</p>
<p>濕熱生痰，留於手足少陽之府，累及心包。心驚膽怯，性急善忘，多慮多思，舌苔濁膩帶黃，胸脘內熱。清化為宜。</p>
<p>黃連溫膽湯　加洋參枇杷葉</p>
<p>原注：舌苔濁膩帶黃，加入黃連一味，苦燥化濕。再加洋參補陰，枇杷葉清肺，想是火旺之體，肺液必虧，且以救二陳之過燥也。</p>
<p>鄧評：證見苔濁脘悶，方用清化極是。若拘乎壯水養血，滋補頻投，其病必難脫體。</p>
<p>神蒙善忘，包絡之病為多。然左寸脈息上浮，關部獨帶弦數，右寸與關小而帶弦，白苔滿布，大便久溏，肢體無力，倦怠嗜臥。脾經之濕痰，被肝火所沖激，累及心包也。</p>
<p>藿梗黨參　於朮　半夏　陳皮　香附　砂仁　木香　沉香遠志　枳殼　葛根　菖蒲　竹油</p>
<p>治按：此必兼有脹滿之候，故方中多香燥和脾之品。用葛根、藿梗，乃兼清暑濕之意。</p>
<p>鄧評：推論病情殊透徹。惟此方與病源不甚中窾，宜以導痰湯加遠志、薑、連、白朮。竹油宜易竹茹。</p>
<p>孫評：便溏體倦嗜臥，想腹中必痛，故用諸多香燥和脾之品，兼入藿梗、葛根者，清暑而並升清氣之意也。</p>
<p>再診：痰因濕釀，濕自脾生，脾若健運，則無濕以生痰，所患善忘等證，自可化為烏有。然則健脾一法，在所必需矣。</p>
<p>香砂六君子湯　加沙苑遠志　穀芽</p>
<p>原注：苔白便溏，乏力嗜臥，皆脾倦見證，故用健脾化濕法。</p>
<p>鄧評：案語倜儻。所加沙苑不如益智子為切當。</p>
<h2>痰火門</h2>
<p>胃為貯痰之器，上逆心包，輕則胸悶，重則神蒙。</p>
<p>導痰湯合溫膽湯</p>
<p>另白金丸</p>
<p>詒按；此治痰蒙之正法也。在此證尚屬輕劑。</p>
<p>鄧評：此必痰重火輕之候。</p>
<p>孫評：神蒙宜參入芳香宣竅之味，如菖蒲、遠志之類。</p>
<p>曾經失血，現在內熱吐痰，夜來大魘，脈象滑數。陰虛挾痰所致。</p>
<p>十昧溫膽湯　加麥冬　歸身</p>
<p>詒按：陰虛挾痰之證，用藥最難恰好。十味溫膽湯，即溫膽湯去竹茹，加參、地、棗仁、遠志、五味，治寒涎沃膽，膽寒肝熱，心悸不寐。</p>
<p>鄧評：脈象既已滑數，當必痰火內盛。所用參、地、五味，恐有礙於痰火。</p>
<p>孫評：十味溫膽之用，前人未嘗如此清晰。足見柳氏讀書曾皆細玩。</p>
<h2>痰飲門</h2>
<p>積飲成囊。</p>
<p>平陳湯</p>
<p>另丸方：茅朮一斤芝麻半斤棗肉丸如便血山梔</p>
<p>湯下</p>
<p>詒按：此病不易除根。煎丸兩方，極為熨貼，特未識能奏膚功否。</p>
<p>鄧評：用茅朮佐以芝麻者，想因便血腸燥故耳。</p>
<p>鼻血遺精，肺腎俱病；寒熱盜汗，營衛並傷。必須大補為是。無如脈息細弦，舌苔滿布，二便失調，飲食不舒，脾家又有濕痰為患，先宜化濕健脾，再商補劑。</p>
<p>枳砂二陳湯　加烏梅生薑</p>
<p>詒按；方中烏梅一味，似不入格。查《醫通》載二陳湯古方，本有烏梅，取斂護胃陰之意；先生用此，其意或在是乎。</p>
<p>鄧評：精血與汗之不攝，亦痰火濕熱內擾之故。</p>
<p>孫評：用烏梅想因盜汗之故，斂陰和陽較五味次一層。</p>
<p>動則氣喘，言則亦然，是下虛也，宜其俯仰不適矣。至於脘中拒按，隱隱作疼，築築而跳，脈息中部太弦，必有濕熱痰濁交阻於胃，失下行為順之常，未便獨以虛治。</p>
<p>川貝　陳皮　茯苓　白芍　牛膝　海蛇　荸薺</p>
<p>另水泛資生丸</p>
<p>詒按；此必挾有痰飲，阻於中脘，宜從飲門用意。</p>
<p>鄧評：病既下虛上實，用藥須兩不相礙。此方固稱平妥，擬再加蔞、連、桑皮可也。蓋脈息中部太弦，必挾木火為患耳。</p>
<p>再診：俯仰自如，漸通之兆。所見言動之氣喘，脘腹之拒按，已日輕一日，大妙事也。動氣攻築，獨不能除，且兼氣墜少腹，臥則可安，此則非胃氣之能降，而實脾氣之不升也。</p>
<p>香砂六君丸合雪羹　加神麯</p>
<p>另資生丸</p>
<p>詒按：立論精當明瞭，惟用藥尚不甚得力。</p>
<p>鄧評：不特脾氣之不升，抑且木氣之鬱陷矣．</p>
<h2>咳喘門</h2>
<p>年逾古稀，腎氣下虛，生痰犯肺，咳喘脈微，當與峻補。</p>
<p>金水六君煎麥、地、橘，夏、苓、草。　合生脈散加核桃肉</p>
<p>另八仙長壽丸　腎氣丸</p>
<p>原注：補命門之火以生土，清其生痰之原，則肺之咳喘自寧。煎方金水六君煎以治脾腎，生脈以養肺，桃肉以補命門。其奠安下焦之劑，另用丸藥常服，斟酌可謂盡善矣。</p>
<p>鄧評：此陰陽兩虛之法。</p>
<p>氣喘痰升，胸痞足冷，是中下陽虛，氣不納而水泛也。已進腎氣湯，可以通鎮之法繼之。</p>
<p>旋覆代赭湯去薑　棗　合蘇子降氣湯去桂前</p>
<p>草薑加薤白　車前　茯苓　枳殼</p>
<p>治按：於腎氣後續進此方，更加旋、赭以鎮逆，薤白以通陽，用意極為周到。</p>
<p>鄧評：納腎氣如沉香、蛤殼等，當可加入。</p>
<p>薤白為胸中之痞，車、苓其小水必少。</p>
<p>交冬咳嗽，素慣者也。今春未罷，延及夏間。當春已見跗腫，入夏更增腹滿，口燥舌剝，火升氣逆，右脈濡數，左脈浮弦。風邪濕熱由上而及下，由下而及中，即經所云：久咳不已，三焦受之，三焦咳狀，咳而腹滿是也。際此天之熱氣下行，小便更短，足部尚冷，其中宮本有痞象，亦從而和之為患，用藥大為棘手。姑擬質重開下法，佐以和胃泄肝之品。</p>
<p>豬苓　雞金　白朮　石膏　寒水石　雪羹　肉桂　枇杷葉</p>
<p>原注：風邪歸併於肺，肺氣素虛者，由肺而陷入於脾，尚是一線；加以口燥舌剝，陰虛有火之體，更屬難治。用河問甘露之意，質重開下，方則極妙，未識效否？</p>
<p>詒按：病情紛錯，實難著手，以桂苓法增減出之，已屬苦心經營。特於痞滿一層，尚恐與兩石有礙，方中茯苓、滑石，似不可少。</p>
<p>鄧評；交冬必咳，腎氣自虧。況以跗腫起見．其脾腎之虛尤必相關。今用二石治痰火之標，恐適以妨脾腎之本，特此本為不治之症。</p>
<p>孫評：陰虛火旺，宜用成寒，若二石直清實火，反傷其陰矣。</p>
<p>寒熱後咳嗽痰濃，頭疼口渴，舌紅脈數，大便溏泄。冬溫之邪鬱於肺分，而從燥化，當泄之清之。</p>
<p>葳蕤湯葳蕤，石膏、青木香、薇、麻、芎，葛、羌、草、杏。</p>
<p>原注：此冬溫咳嗽也。麻杏開泄外罩之涼風，蕪活、葛根佐之；石膏清內伏之溫熱，白薇、玉竹佐之。冬溫必頭痛便泄，青木香治便泄之藥也。病比傷寒多一溫字，方比麻黃去桂枝一味，加入石膏以治熱，有因方成矽遇圓為壁之妙。</p>
<p>詒按：此病既見痰濃口渴．則已有邪鬱化熱之徵。方中羌、防、葛根，似宜酌用。</p>
<p>鄧評：咳嗽起於寒熱之後，當是餘邪留戀，殆不必方劑如此之重。</p>
<p>葛根一味，怕其性升助咳，原注辨寒溫二字，殊屬界限清楚。</p>
<p>孫評：冬溫已經化熱，較化燥略減一層，何以用諸多燥品？古人於溫病未能分清界限，治法均是如此。今則大不然矣。且便泄為熱之去路，何得用木香止之；青木香與木香，二種用法不同。</p>
<p>寒必傷營，亦必化熱，咳嗽不止，嘔吐紫血，咽中乾痛，苔白邊青，脈緊而數，近更咳甚則嘔，氣息短促。肺胃兩經皆失其清降也。郁咳成勞，最為可怕。</p>
<p>荊芥　杏仁　紫菀　桑皮　地骨皮　蘇子　麥冬　金沸草　玉竹</p>
<p>鄧評：旋覆花湯加蘆根、枇杷葉，名瘀熱湯，係先生所著。此病當有瘀熱內阻．今反舍而不用何哉？</p>
<p>孫評：舌青脈緊，病情甚惡。用藥平淡，大不可法。</p>
<p>再診：白苔已薄，舌邊仍青，痰出雖稀，咳逆未止。觀其喘急嘔逆，多見於咳甚之時。正所謂肺咳之狀，咳而喘；胃咳之狀，咳而嘔也。</p>
<p>桑皮　骨皮知母　川貝　淡芩　浮石桔梗　甘草紫菀　麥冬蘆根萊菔汁</p>
<p>原注：風寒之邪，郁於肺胃，久而化火，遂至見血，先用金沸草散、瀉自散，以搜剔其邪。第二案即加入蘆根、知母，清營中之熱。用法轉換，層次碧清。</p>
<p>詒按：此證先曾吐瘀，加以舌邊色青，似有瘀血鬱阻。方案中何以並不理會及此！</p>
<p>鄧評：舌邊之青為寒傷血瘀起見，雖則經久化熱，而其本氣究屬寒邪，故其苔色亦自。前方有疏邪之力，故自苔已薄，無導瘀之功，故舌邊仍青。</p>
<p>孫評：舌苔青紫，都係寒證，從無熱鬱之說。此而瘀血內阻，而見青苔，另是一格，惟瘀阻者紫舌最多。</p>
<p>傷風不醒，咳嗽嘔惡，所見之痰，或薄或濃，或帶血色。左關脈獨見浮弦且數，小有寒熱，此損徵之根也。千金法治之。</p>
<p>蘇葉　黨參　川連　烏梅　橘紅　川貝　柴胡　杏仁桑皮地骨皮</p>
<p>原注：此用柴前連梅煎意，千金法也。咳嗽由來十八般，只因邪氣入於肝，即是此方之歌訣。此方效，轉方加竹茹一味。</p>
<p>詒按：弦數獨見於左關，故知其病專在肝。</p>
<p>鄧評：苟無寒熱見證，柴胡便難輕用，恐其肝陽太旺也。</p>
<p>孫評：邪未清者，不可用收斂之品。雖與疏散並用，病癒必有留邪為害生變矣。</p>
<p>咳嗽吐出青黃之痰，項強惡風音爍，寒熱分爭，是名勞風。服秦艽鱉甲而更甚者，當進一層治之。</p>
<p>柴前連梅煎柴胡，前胡、黃連、烏梅、薤白、豬膽汁、童便、豬脊髓。</p>
<p>附　秦艽鱉甲煎秦艽、鱉甲、地骨皮、柴胡、青蒿、歸身．知母、烏梅。</p>
<p>鄧評：進秦艽鱉甲而更甚，易是方而見效，同有柴、梅二味．其效驗必在前胡能疏風痰，黃連能泄木火也。</p>
<p>再診：進前方咳嗽大減，所出之痰，仍見青黃之色，身熱雖輕，咽中苦痛，脈形弦細數。風邪未盡，中下兩虛，制小前方之外，參入豬膚法，一治身熱，一治咽痛。</p>
<p>柴前連梅煎合豬膚湯　加黨參　花粉</p>
<p>原注：此方治傷風不醒成勞，比秦艽鱉甲又進一層。其見證每以咳吐黃綠青痰為據。</p>
<p>鄧按：一治身熱，指柴胡、連、梅說，足見治此方之要旨，不僅在咳吐青黃痰也。今身熱雖輕，反加咽中苦痛，大都陰氣內竭，恐歸不治。</p>
<p>孫評：熱雖輕而咽痛，邪因斂而入肺，變證起矣。先生用此方想曾有損症，近者曾效過，遂一概用之，誤事不小。</p>
<p>咳嗽，時盛時衰，粉紅痰後變為青黃，勞風之根也。</p>
<p>柴胡　前胡　烏梅　川連　薤白　童便　豬膽汁豬脊筋</p>
<p>詒按：童便易秋石甚妙。</p>
<p>再診：進勞風法，咳嗽大減，紅痰亦無。但痰色尚帶青黃，左關脈息弦硬不和，肝膽留邪容易犯肺胃俞也。毋忽。</p>
<p>麥冬　沙參　淡芩　炙草　白芍　川貝　青黛　廣皮</p>
<p>原注；此方極玲瓏，先生用之每靈。大約風喜傷肝，風鬱於肝，久而不出，必有青黃之痰，所謂勞風是也。</p>
<p>詒按：先生案中治勞風一證，必用柴前連梅煎，自云法本千金，用之神效。查《千金方》所載勞風治法，及所敘病原，與此不同，即所用之柴前連梅煎，僅見於吳鶴皋《醫方考》，《千金方》中並無此方，先生偶誤記耳。</p>
<p>鄧評：前方斂陰疏邪，此方清金制木，自屬兩途，想必有肝陽不和之意，怕難任柴胡之升也。</p>
<p>右脈弦滑而數，滑為痰；弦為風，風鬱為熱，熱鬱為痰，阻之於肺，清肅不行，咳嗽自作。</p>
<p>金沸草　前胡　半夏　荊芥　甘草　赤苓　川芎　枳殼　紫菀　杏仁　桑白皮　萎皮　竹瀝</p>
<p>原注：方中芎、枳二味，是升降法也。必有一團寒風化熱，鬱閉於肺，用芎之升，枳之降，以挑松其火；若火重者不可用，有陰火者更不可用，恐火升則血易動耳。</p>
<p>詒按：此金沸草散去麻、芍，加芎、枳，以擾動之，菀、杏以宣洩之，桑、萎以清降之。細玩其加減，可識其心思之細密，用意之周到矣。案語亦簡煉老潔。</p>
<p>鄧評：川芎辛竄升散，非有風寒者不宜，蓋此病由於寒鬱化熱，敬用之耳。</p>
<p>孫評：風熱痰三者，一線串成，見解獨具。</p>
<p>川芎之宜用與慎用，明白曉暢矣。</p>
<p>晨起咳嗽，勞倦傷脾，積濕生痰所致。久而不已，氣喘畏風，金水因此而虛，補中寓化，一定章程。現在身熱口乾苔白，脈息細弦而緊；緊則為寒，寒風新感。必須先治新邪，權以疏化法。</p>
<p>香蘇飲合二陳加枳殼桔梗杏仁　通草</p>
<p>又接服方：</p>
<p>麥門冬湯合二陳　加旋覆　冬朮　牛膝</p>
<p>詒按：此即六君加麥冬、旋覆、牛膝也，恰台脾虛有濕痍，而傷及金水者之治。</p>
<p>鄧評：久咳氣喘，金水自虛。方用香蘇飲、桔梗，究恐太升散。</p>
<p>孫評：先後層次，亦是一定章程。新邪清，然後補虛。</p>
<p>《內經》云：秋傷於濕，冬生咳嗽。喻氏改作秋傷於燥，冬生咳嗽。豈知初秋之濕，本從夏令而來，原為正氣，若論其燥，則在中秋以後，其氣亦為正令，二者相因，理所固然，勢所必至。仲景早已立方，獨被飛疇看破，今人之用功不如古人遠矣。</p>
<p>麥冬　半夏　甘草　玉竹　紫菀　瀉白散</p>
<p>原注：此麥門冬湯也。先生以肺燥胃濕四字提之，故此案以燥濕二字為言。</p>
<p>鄧評：此方治秋燥咳嗽，較喻氏清燥救肺湯為平善。</p>
<p>孫評：讀書不用格致功夫者，必非善讀書者也。</p>
<p>去冬咳嗽，今春寒熱，至秋令而咳嗽或輕或重。惟喉癢則一。所謂火逆上氣，咽喉不利，此等證是也。最易成勞，未可以脈未促，氣未喘為足恃。</p>
<p>麥門冬湯合瀉白散加橘紅茯苓甘草玉竹</p>
<p>鄧評：寒熱喉癢，當有風邪鬱於肺絡，鬱熱傷陰，陰虛成勞，於方中尚可參疏邪之品。</p>
<p>再診：內熱已除，咳嗽亦減。氣火之逆上者，漸有下降之意。靜養為佳。</p>
<p>前方加枇杷葉</p>
<p>原注：此病必有舌苔，而不夜咳，所以與四陰煎證有異。</p>
<p>鄧評：加入枇杷葉，亦為清澈肺邪之用乎。</p>
<p>肺經咳嗽，咳則喘息有音，甚則吐血；血已止，咳未除，右寸脈息浮弦，弦者痰飲也。良以飲食入胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺；而肺氣虛者，不能通調水道，下輸膀胱，聚液為痰，積濕為飲，一俟誦讀煩勞，咳而且嗽，自然作矣。補肺健脾，以絕生痰之源，以清貯痰之器。</p>
<p>麥門冬湯合異功散　加薏仁百合</p>
<p>原注：此曲曲寫出痰飲之所由來。用二陳以化痰，佐以薏米；用麥冬以養肺，佐以百合；用白朮以健脾，住以黨參。味味切當熨貼，看似尋常，實是功夫純熟之候。</p>
<p>詒按：以上數案，均是麥門冬湯證，乃燥濕互用之法。</p>
<p>鄧評：此病必有木火乘於肺絡，故一經誦讀勞頓，則火自升動，痰隨火逆，宜乎其咳而且嗽也。方內尚須參桑皮、蛤、黛之類，並降痰火。</p>
<p>孫評：聚液為痰二句，見透之言。</p>
<p>附錄：咳嗽證治括要</p>
<p>咳者，和諧聲也，其音開口而出，仿佛亥字之音，故有聲無痰為咳。嗽則如水之灌漱，然有物在喉，漾漾欲出，故從口從敕，後人遂以有痰為嗽。然則咳嗽之病，胡從生也？日：病有萬變，要不出內傷外感兩端，請先明外感。外感者，風寒暑濕燥火六者盡之。論其常，則各主一時為病；論其變，則四時皆可以受六淫之邪。今則即風寒論。感風者，鼻塞身重，惡風清涕，此證也；左脈浮弦，此脈也。感寒者，惡寒體痛，發熱脈緊，此寒之證與脈也。而風之中，又有辨。春則為溫風，肝木用事；受風者，必傷肝，而又有中血中氣之別；風傷衛，則參蘇飲；風傷營，則芎蘇飲。夏則為熱風，傷心包，而亦有涼熱之別；涼風香薷飲，熱風雞蘇散。秋為涼風，傷肺，敗毒散、金沸草散。冬為寒風，傷膀胱，桂枝厚朴杏仁湯、麻黃湯。儻冬時天熱而感寒風，則當用葳蕤湯、陽旦湯，此冬溫之邪也。惟秋分以後少暑濕，春夏無燥氣。他如先傷風而後傷熱，為熱包寒，葳蕤湯；肺素熱而感寒風，為寒包熱，金沸草散。一嗽而痰出稠黏者，脾濕勝，二陳之類。連嗽無痰者，肺燥甚，清燥救肺湯。此皆外感咳也。言風一端，而六氣可類推矣。若夫內傷，大法惟痰飲、津傷兩種。痰飲多陽虛，津傷多陰虛。其陽虛痰飲尚淺者，六安、二陳之類；有火者，溫膽湯；夾陰虛者，金水六君煎；陽虛甚，兼夾痰火不可攻者，玉竹飲子成降法；喘者，降氣湯、貞元飲，此陽虛痰飲一端也。他如陰虛者，陰火易於上升，胃氣不清者，麥門冬湯；曾見血者，四陰煎；痰多而濃，無胃氣者，六君子湯；痰少而嗌乾，胃氣未絕者，六味丸、都氣丸、八仙長壽丸。此粗舉內傷之一端也。此外又有勞風一門，咳吐濁涕青黃之痰，由勞碌傷風，戀而不化，最為難治。淺者，秦艽鱉甲，表虛汗多者，黃耆鱉甲；深則柴前連梅煎，千金法也。此皆勞風之治也。至於芎枳二味，以治寒鬱化火之咳；合二母以瀉肺之母；瀉白散，以清泄肺臟；四物桔梗湯，以引清血分，皆在所常用也。似此某證某方，條分縷析，須平日有格致功夫。試觀先生臨證之方，似乎夾雜，合之病人之證，則無一味可以增減。先生嘗曰：吾門之病，如時文，割截隔章隔節之題，他人無處下手，左支右拙。余能以心思靈空，貫串合湊一方，令病安穩。此無他，外感多與內傷同，病內傷，每因外感而發，更遇雜藥亂投之醫，治絲而棼，愈難就緒。治此者，不能不兼采眾方，就中另出一方，其立方之意，在案中宣露明白。噫！執此意以尋先生之門徑，思過半矣。</p>
<p>鄧評：若葉氏論風溫由口鼻入而肺胃受邪者，則又宜銀翹、桑菊之類矣。</p>
<p>寒都火邪，亦能令人乾咳，便宜辛散帶潤，如甘、桔、蜜炙薑、橘之類。秦艽鱉甲與黃耆鱉甲，總須有骨蒸寒熱者乃合。治寒鬱化火之類而將成肺痿者，莫若葛氏保和湯為最妙。</p>
<p>孫評：治雜症根本透徹。</p>
<h2>失血門</h2>
<p>飲食入胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行，合於四時五臟，陰陽揆度，以為常也。此乃飲歸於肺，失其通調之用，飲食之飲，變而為痰飲之飲。痰飲之貯於肺也，已非一日。今當火令，又值天符相火加臨，兩火相爍，金病更甚於前。然則痰之或帶血，或兼臭，鼻之或乾無涕，口之或苦且燥，小水之不多，大便之血沫，何一非痰火為患乎。</p>
<p>旋覆花　桑皮　川貝　橘紅　浮石　炙草　沙參　茯苓　麥冬　竹葉　絲瓜絡</p>
<p>詒按：此證乃素有濁痰鬱熱，壅結薰蒸於內，再受時令火邪，熏灼肺胃所致。如此立論，似亦直捷了當。何必用飲食入胃，及天符相火，如許大議論耶。可參用葦莖湯。</p>
<p>鄧評；是病看題尚清，而用藥未有把握，故不能如劈竹而下矣。</p>
<p>再診。接閱手書，知咳血、夢遺、畏火三者，更甚於前。因思天符之火行於夏時，可謂火之淫矣。即使肺金無病者，亦必暗受其傷，而況痰火久踞，肺金久傷，再受此外來之火，而欲其清肅下降也，難矣。肺不下降，則不能生腎水，腎水不生，則相火上炎，此咳逆夢遺之所由來也。至於畏火一條，《內經》載在陽明脈解篇中，是肝火乘胃之故。法宜瀉肝清火，不但咳血、夢遺、畏火等證之急者，可以速平，而且所患二便不通，亦可從此而愈。懸而擬之，未識效否。</p>
<p>鮮生地　蛤殼　青黛　桑皮　龍膽草　川貝　地骨皮　黑梔　竹葉　大黃鹽水炒</p>
<p>鄧評：咳逆夢遺，由相火之上淫下迫，非連、柏、知母等不足以瀉之，豈是生地之甘寒，大黃之攻導所宜。</p>
<p>三診：陽明中土，萬物所歸，現在盯經濕熱之邪，大半歸於陽明，以著順乘之意，而逆克於肺者，猶未盡平。所以睡醒之餘，每吐青黃綠痰，或帶血點，其色非紫即紅，右脅隱隱作痛，脈形滑數，獨見肺胃兩部。宜從此立方。</p>
<p>小生地桑皮　羚羊角　阿膠　冬瓜子　薏米　蛤殼　川貝　杏仁　忍冬藤　青黛　功勞露　蘆根　絲瓜絡</p>
<p>原注。肝經久病，克於土者為順乘，犯於肺者為逆克。</p>
<p>詒按：前方實做，不若此方之空靈活潑也。</p>
<p>鄧評：病由相火內亢，更多痰濕夾雜，用生地以助痰，則火反受遏，竄於絡脈故脅痛。</p>
<p>四診：痰即有形之火，火即無形之痰。痰色漸和，血點漸少，知痰火暗消，大可望其病癒。不料悲傷於內，暑加於外，內外交迫，肺金又傷，傷則未盡之痰火，攻逆經絡，右偏隱隱作疼，旁及左脅，上及子肩，似乎病勢有加無已。細思此病，暑從外來，悲自內生，七情外感，萃於一身，不得不用分頭而治之法，庶一舉而兩得焉。</p>
<p>桑皮　骨皮　知母　川貝　阿膠　枳殼　金針菜　薑黃　綠豆衣　藕汁　佛手</p>
<p>原注：痰帶血點，鼻乾口燥，小水不多，大便血沫，總屬痰火為患。第一方用清金化痰不效。第二方案加咳血夢遺畏火三證，歸於肝火，一派清肝，略加養胃。第三方從肺胃立方，略佐清肝之意。第四方全以輕淡之筆，消暑化痰。</p>
<p>詒按：統觀前後四案，議病用藥，均能層層熨貼，面面周到，於此道中自屬老手。惟所長者，在乎周到穩實：而所短者，在乎空靈活潑，此則囿乎天分，非人力所能勉強矣。第一方就病敷衍，毫無思路。第二方清泄肝火，力量頗大。第三、四方則用藥空靈不滯，是深得香岩師心法者。</p>
<p>鄧評：至此須責重開痰通絡，方內擬去阿膠，加旋覆花、橘絡，則庶乎近矣。</p>
<p>孫評：統閱四案，肝火夾痰，橫逆於絡，肺受火荊，木鬱不達，是其病根。所擬四方，柳氏謂其得葉氏心傳者，適相背謬，姑從葉案備錄一方，待政博雅：</p>
<p>金石斛、粉丹皮、杜蘇子、蛤黛散、鉤鉤、生薏仁、苦杏仁、生白芍、枇杷葉、旋覆花、藕汁、冬瓜子。</p>
<p>咳嗽而見臭痰絡血，或夜不得眠，或臥難著枕，大便乾結，白苔滿布，時輕時重，已病半年有餘。所謂熱在上焦者，因咳為肺痿是也。左寸脈數而小，正合脈數虛者為肺痿之訓。而右關一部不惟數疾，而且獨大獨弦獨滑，陽明胃經必有濕生痰，痰生熱，薰蒸於肺，母病及子，不獨肺金自病，此所進之藥，所以始效而總不效也。夫肺病屬虛，胃病屬實。一身而兼此虛實兩途之病，苟非按部就班，循循調治，必無向愈之期。</p>
<p>紫菀一錢　麥冬二錢　桑皮錢半　地骨皮錢半　阿膠一錢　薏仁五錢　忍冬藤一兩　川貝錢半　蛤殼一兩　橘紅一錢　茯苓三餞　炙草三分</p>
<p>詒按：論病選藥，俱極精到。此方亦從葦莖湯套出，可加蘆根。</p>
<p>鄧評：凡咳嗽，脈之弦滑見於右關者，必多痰濕濁邪壅聚於胃，熱被濕遏，濕為熱蒸。閱案中議論，亦極清正。惟方內膠、麥、地骨，似太遏邪；欲清胃熱，不如易蘆根、知母為善。</p>
<p>孫評：右關大弦數之胃脈，熱遏於中，不得肅化。阿膠、生地滋陰補血，熱得補而愈壅，宜去。　當從柳氏用葦莖湯加肅清之味。</p>
<p>再診：諸恙向安，右脈亦緩。藥能應手，何其速也。再守之，觀其動靜。</p>
<p>前方加水飛青黛三分</p>
<p>鄧評：因寒遏而患其薰蒸之勢，故藥之應手甚速，然而病終不愈。</p>
<p>三診：右關之大脈已除，弦滑未化，數之一字，與寸相同，濕熱痰三者，尚有薰蒸之意，肺必難於自振。</p>
<p>前方加大生地蛤粉炒三錢　沙參三錢　蜜陳皮一錢</p>
<p>鄧評：右關仍見弦滑，是鬱熱又復薰蒸矣。</p>
<p>再加生地，愈覺背謬。</p>
<p>四診：迭進張氏法，肺金薰蒸，日輕一日，金性漸剛，頗為佳兆。然須振作，以著本來之清肅乃可。</p>
<p>前方去薏米　加麻仁</p>
<p>五診：夜來之咳嗽，尚未了了。必得肺胃漸通乃愈。</p>
<p>前方去蛤殼　茯苓　加川斛　百合</p>
<p>鄧評：夜來之咳，每由於厥陰肝火內動，是其肺胃之火有以乘之乎。蛤殼正宜參用，今何反去之。</p>
<p>六診：肺虛則易招風，偶然咳嗽加劇，而今愈矣。脈數右寸空大，陰氣必虛。自當養陰為主；然陽明胃經，濕熱薰蒸之氣，不能不兼理之。</p>
<p>前方去百合　加知母</p>
<p>七診：右脈小中帶數，肺陰不足，肺熱有餘；其所以致此者，仍由胃中之濕熱薰蒸也。</p>
<p>前方加絲瓜絡冬瓜仁葦莖</p>
<p>八診：肺屬金，金之母土也；胃土濕熱未清，上焦肺部焉得不受其薰蒸，所謂母病及子也。肺用在右，右胸當咳作疼。未便徒補，必使其清肅乃可。　前方加薏仁杏仁　九診：來示已悉。因思動則生火，火刑於金則咳逆，火入於營則吐血。此十七日以後之病，失於清化，以致毛竅又開，風邪又感，咳嗽大作，欲嘔清痰，血絡重傷也。事難逆料，信然，懸擬以復。</p>
<p>桑皮　地骨皮杏仁　甘草　淡芩　茅根　知母　川貝　葦莖　忍冬藤</p>
<p>兩劑後去淡芩　加麥冬沙參　生地</p>
<p>又丸方；</p>
<p>大生地白芍丹皮澤瀉沙參茯苓山藥　麥冬　阿膠用忍冬藤十斤煮膏蜜丸</p>
<p>原注：此病道理，盡具於第一案中。先生平日所言，起手立定根腳，以下遂如破竹。大約此病，拈定胃火薰蒸四字，方中得力尤在忍冬藤一味。</p>
<p>鄧評：不待咳止而遂立丸方，想緣診次太多，聊以應酬世故耳。</p>
<p>宿積黑血，從吐而出。胸之痞塞少和，肺之咳嗽略減，是瘀血也。從上出者為逆，究非善狀。</p>
<p>瘀熱湯旋、降、蔥、葦、枇葉。　參三七磨沖</p>
<p>詒按：可加酒炙大黃炭數分，研末沖服，以導血下行。</p>
<p>鄧評：立方簡潔老當，蓋病歸一路，用藥亦宜精專耳。</p>
<p>再診：所瘀之血，從下而行，尚屬順證。因勢導之，原是一定章程。</p>
<p>當歸　丹參　桃仁　靈脂　蒲黃茯神　遠志</p>
<p>詒按：仍宜加牛膝、三七等導下之品。</p>
<p>鄧評：因何前方一味不用？是復診時未帶原方乎！</p>
<p>昨日所溢之血，盈盆成塊而來，無怪乎其厥矣。幸得厥而即醒，夜半得寐，其氣稍平。今日仍然上吐，脈來芤數，火升顴紅，咳逆時作，大便不爽而黑。陽明胃腑必有伏熱。防其再冒再厥。</p>
<p>犀角地黃湯　加三七　牡蠣　龜板　枇杷露</p>
<p>詒按：此與下條皆木火亢盛，陰血沸騰之證。</p>
<p>鄧評：此為陽明有蓄血伏熱，盈盆成塊而吐者立法。</p>
<p>久嗽失血，鮮而且多，脈數左弦，苔黃心嘈，金受火刑，木寡於畏，以致陽絡被傷也，防冒。</p>
<p>犀角地黃湯加二母側柏葉</p>
<p>另歸脾丸</p>
<p>原注：吳鶴皋日：心、火也，肺、金也，火為金之畏，心移熱於肺乃咳嗽，甚則吐血、面赤，名日賊邪。是方也，犀角能解心熱，生地能涼心血，丹皮、芍藥性寒而酸，寒則勝熱，酸則入肝。用之者，以木能生火，故使二物入肝而瀉肝，此拔本塞源之治。</p>
<p>鄧評；此必陰虛成勞，為難治之症，或可以瓊玉膏繼之。至於另用歸脾丸，則失之遠矣。</p>
<p>孫評：凡血症之急者，總宜導之下達乃順。古所云天下無倒行之水，人身無倒上之血，由乎氣導之使下者，即是順氣也。</p>
<p>陽絡頻傷，胸前窒塞，咳逆不爽，舌紅苔黃，脈形弦數。此係瘀血內阻，鬱而為熱，肺胃受傷，極易成損，慎之。</p>
<p>旋覆　猩降　蔥管　蘆根　枇杷葉　忍冬藤　蘇子　桑皮　川貝　知母　廣鬱金　參三七　竹油　地骨皮</p>
<p>原注：前五味名瘀熱湯，是先生自製之方。治瘀血內阻，化火刑金而咳，不去其瘀，病終不愈，此為先生獨得之秘。</p>
<p>詒按：合二母瀉白以清肺，佐蘇、鬱、三七以通痹，立方周到之至。</p>
<p>鄧評：脈弦數而苔黃，當有風熱鬱戀。所用方藥，亦非背謬。</p>
<p>脘脅痞結作痛，形寒如瘧，苔濁不納，渴欲熱飲，神情憊乏。此血絡凝泣，濕邪附之欲化熱，而未能透出也。</p>
<p>瘀熱湯　加香附　川連　歸須　青皮　白芍　橘絡</p>
<p>鄧評：病偏於痰濕閉遏，何不加薤白、芥子以辛通陽氣。或曾患吐血，故知其血絡凝泣；但既已形寒如瘧，蘆根似非所宜。</p>
<p>瘀血先阻於中，一經補味，胸中遂痞，紫黑之血從此而來。</p>
<p>瘀熱湯加鬱金汁</p>
<p>原注：此方大效。</p>
<p>詒按：再加三七磨沖更妙。</p>
<p>鄧評：確係瘀血，並無別邪夾雜，宜其效若桴鼓也。</p>
<p>孫評：所云不去其瘀，病終不愈。若誤補之，變生不測矣。此段柳批，用藥切實可法，學者宜熟玩而記之。</p>
<h2>虛損門</h2>
<p>痧子之後，咳嗽四月，頸旁鬁串，咳甚則嘔，納少形瘦，膚熱脈細。想是餘邪內戀，陰分大虛，欲成損證也。</p>
<p>四物湯　加香附　川貝　玄參　牡蠣　麥冬　蘇子一本作蘇葉</p>
<p>詒按：方中玄參、牡蠣，為項鬁而設，無此證者可減也。</p>
<p>鄧評：咳甚則嘔，內必多痰。方中之地，似宜酌用。</p>
<p>孫評：咳而膚熱脈細，餘邪內戀，熱未清也，芎、歸不宜。況痧後久咳，明明是餘熱留戀，入肺傷陰所致。</p>
<p>溫邪發痧之後，咳嗽失血，血止而咳嗽不減，所吐之痰，或黃或白，或稠或稀，舌質深紅，其苔滿白，喉癢嗌乾，脈弦帶數，漸作痧勞之象。</p>
<p>四物湯　加紫蘇　桑皮　骨皮　川貝　知母　前胡　淡芩</p>
<p>原注：此痧後餘邪，留戀營分，而成咳也。先生嘗云：余自製兩方，一為瘀熱湯，一為此湯，尚未立名，以治痧後咳嗽極效。蓋四物是血分引經之藥，將溫散化痰之品，納入其中，引入營血中散邪清熱，每用必靈。此可悟用四物之法。</p>
<p>鄧評：據此苔脈，邪鬱尚重，還當著意疏邪。</p>
<p>孫評：熱戀於營，已見咳血，則陰被劫而熱內鬱，當清熱安營為治。若以芎、桂辛溫上升，熱愈甚而血益溢。今原注云每用必靈者，恐無是理。抑係夾冒寒邪，或得見效，是必先生之誤認也。方中蘇葉亦太溫散，細考葉氏《溫熱論》自知。</p>
<p>必嗽輕不失血者宜之。若嗽重失血有火，內服芎、桂，辛溫不宜。</p>
<p>咳嗽五月有餘，黃昏為甚，肌肉暗削，肢體無力，容易傷風，或頭脹，或溺黃。總由陰分下虛，浮火夾痰上擾所致。</p>
<p>四物桔梗湯四物加桔柏　加桑皮地骨皮川貝　知母　甘草　青黛　蛤殼　枇杷葉</p>
<p>原注：此方之眼，在咳嗽黃昏為甚。畢竟風邪陷入陰分為劇，余目睹效者甚多。</p>
<p>詒按：此四物合瀉白，加二母、蛤、黛法也。</p>
<p>鄧評：頭脹一症，亦由風陽上浮所致，石決明或可參用。</p>
<p>孫評：傷風頭脹，夾冒風寒，此方頗妙。</p>
<p>金能克木，木火太旺，反侮肺金，金藏尚受木克，則其吸取腎水，疏泄腎精，更屬易易。此夢遺咳嗽之所由作也。</p>
<p>天冬生地黨參黃柏　甘草砂仁　白芍　龍膽草</p>
<p>原注：此三才封髓丹加白芍、龍膽也。其人面必黑瘦，有一團陰火熾甚，克肺傷腎，用之極效。</p>
<p>詒按：此方以清泄肝火為主，竟不兼用肺藥，所謂治病必求其本也。</p>
<p>鄧評：論病透徹，用藥切當。</p>
<p>孫評：病分上下，而以肝火聯絡之。心思尖巧，又屬至情至理。</p>
<p>古人於清陰火一門，每云知、柏苦寒傷脾敗胃，多去而不用，況可加以膽草乎。</p>
<p>子後咳嗽，天明而緩，脈形弦數，聲音不揚，肝膽之火未清，金受其刑，水必暗虧也。</p>
<p>補肺阿膠湯合四陰煎瀉白散　加川貝　青黛　海浮石　橘紅　竹茹</p>
<p>詒按：此與前案，均屬木火刑金之證。前方治肝而絕不及肺，想因咳勢不甚，而下注遺泄之證卻急，故用藥如彼。此證則咳甚音低，肺金受損已深，故於清火之中，偏重補肺。觀乎此，而臨證用藥之權衡可識矣。</p>
<p>鄧評：子後咳嗽，的係肝膽之火，亦診脈之關鍵處。</p>
<p>此症似可偏治其肝，舍去補肺湯，增入蛤殼。蓋欲保肺金，莫若沙參、玉竹、紫菀、旋覆之類。</p>
<p>咳嗽失血，音爍咽乾，近來小有寒熱，頭痛喉疼；脈浮促而數。肺陰久傷，又兼燥氣加臨。補肺之中，當參以辛散。</p>
<p>補肺阿膠湯加桑葉　枇杷葉</p>
<p>鄧評：知其兼受燥氣外邪，金在頭痛得之。</p>
<p>孫評：燥邪當用辛涼清之，辛散不宜。且補肺阿膠是補中兼疏，甘寒帶辛，非辛散之法。</p>
<p>再診：頭痛咽疼已止，寒熱亦輕，新受之燥邪漸得清散。無如金水兩虛，失血久嗽，音爍嗌乾等證，仍如損象。即使靜養，猶恐不及。</p>
<p>四陰煎合瀉白散　加川貝　杏仁　阿膠　茯苓　石決明</p>
<p>原注：此病肺臟已損，再受燥邪，小有寒熱，頭痛咽疼，是其的據。先用補肺阿膠湯，以其中有牛蒡、杏仁，加桑葉、枇杷葉，去其燥邪外證，後用四陰煎加味，以圖其本。</p>
<p>鄧評：此久嗽音爍，亦得無客邪留於肺絡否。</p>
<p>陽絡頻傷之後，咳嗽痰濃，內熱嗌乾，脈芤數，左關獨弦。此肝火刑金，金氣不清之候，容易成損。慎之。</p>
<p>四陰煎加二母　羚羊</p>
<p>另瓊玉膏地、冬、參、蜜、沉香、珀。</p>
<p>原注：肝火刑金，於左關獨弦見之，所以四陰更加羚羊。</p>
<p>鄧評：惟形體未瘦者，尚可投此法而愈。</p>
<p>孫評：清肝火究不宜羚羊，當用決明、牡蠣之類。所云選藥如選將，非量敵而行不克也。</p>
<p>失血後，咳嗽夢遺，脈數左關弦急。必有肝火在裏，既犯肺金，又泄腎氣也。久延勢必成勞。</p>
<p>四陰煎　加陳皮　川貝　海浮石　青黛　龍膽草　六味湯</p>
<p>原注：肝火上下交徵，故加龍膽以泄之。</p>
<p>詒按；六味湯，想係轉方增入者。但其中有萸肉之酸溫，專補肝陽，尚宜酌用。</p>
<p>鄧評：欲保肺腎，須清肝火，所謂源清則流自潔也。</p>
<p>失血久咳，陰分必虛，虛則不耐熱蒸，食西瓜而稍退，脈數左弦，唇乾苔白色滯，溺黃，加以咽痛，久而不愈，想是水不涵木，陰火上衝，胃氣不清也。勢欲成勞，早為靜養，以冀氣不加喘，脈不加促，庶幾可圖。</p>
<p>生地　白芍　茯苓　澤瀉　丹皮　花粉　元參　甘草　豬膚　青蒿露　枇杷葉露</p>
<p>鄧評：苔白色滯，而斷其為陰虛者，良以脈數左弦故也。蓋一病須有一病之著眼處。</p>
<p>參以青蒿、枇杷露，不免有暑氣內侵也。</p>
<p>再診。濁痰雖少，咳逆仍然，陰分之火上衝於肺。肺屬金，金受火刑，水之生源絕矣。能不慮其脈促氣喘乎。知命者自能靜以養之。</p>
<p>八仙長壽丸　加玄參　阿膠　陳皮　甘草　枇杷葉露</p>
<p>鄧評：所敘病證，已犯正虛邪實之戒。雖有良劑，恐亦難矣。</p>
<p>三診；咳嗽夜來，有或重或輕之象，想是陰火，靜躁不同耳。</p>
<p>前方加洋參龜板杏仁</p>
<p>鄧評：夜來咳嗽，總為陰火升動之確據。</p>
<p>四診：所進飲食，不化為津液而變為痰涎。一俟水中火發，咳嗽作焉，權以化法。</p>
<p>玉竹飲子玉竹、苓、草、桔、橘、菀，貝、薑。合麥門冬湯　加阿膠　百合　款冬</p>
<p>原注：前兩方，六昧加減法也。脈數左弦，咽痛，水不涵木，陰火上衝。惟苔白二字，為胃氣不清之證。此病頭緒甚繁，方中一一還他的對之藥。</p>
<p>詒按：此等證，本無必效之方，似此斟酌妥帖，即使難期必效，亦覺心苦為分明矣。</p>
<p>鄧評：論理透徹。</p>
<p>此方則兼治其實矣。然尚須參蛤黛、桑皮、知母等以降陰火。</p>
<p>孫評：苔白非胃氣之不清，若紅乃胃陰之已涸。</p>
<p>脈形細數，細屬陰虧，數為有火；火上刑金，水即絕其生源，未可以咳嗽小恙目之。幸而氣息未喘，脈象未促，如能靜養，猶可以作完人。</p>
<p>生地　麥冬　沙參　石決明　地骨皮　桑皮　阿膠　枇杷葉露</p>
<p>詒按：此清滋金水兩臟之平劑。但患陰虛而不挾別項邪機者，可仿此調之。</p>
<p>鄧評；未見潮熱失血，亦尚幸事。苟至氣喘脈促，更且臨危矣。</p>
<h1>評選繼志堂醫案下卷</h1>
<p>常熟曹存心仁伯著</p>
<h2>嘔噦門</h2>
<p>上焦吐者從乎氣。氣屬陽，是陽氣病也；胸為陽位，陽位之陽既病，則其陰分之陽更屬大虛，不言而喻。恐增喘汗。</p>
<p>吳萸　乾薑　人參　川附　茯苓　半夏　木香　丁香　炙草飴糟　食鹽　陳皮</p>
<p>鄧評：此病必脈小、色白，小便清利，故可進以溫熱重劑，即啟峻湯方法也。飴糟或飴糖之誤。</p>
<p>再診：進溫養法，四日不吐，今晨又作。想是陽氣大虛，濁陰上泛。究屬膈證之根，不能不慮其喘汗。</p>
<p>前方去乾薑加當歸　生薑</p>
<p>原注：陽氣大虛，濁陰上泛，此病之樞紐也。吳萊萸湯補胃陽，佐以熟附、丁香，溫之至矣；輔以二陳燥其痰，飴糟去其垢，更加炙草以和中，食鹽以潤下，用意極其周密。</p>
<p>鄧評：祛濁止嘔，生薑比乾薑為勝。謂其屬膈症之根者，想必營陰下虧，故轉方更加當歸以和營潤燥耳，然究不足以監薑、附之燥也。</p>
<p>食則右脅下痛，痰自上升，升則得吐而安，右脈弦滑，左關堅急，寸部獨小。此心氣下郁於肝經，脾弱生痰為膈。放開懷抱，第一要義。</p>
<p>旋覆代赭湯去薑　加生於朮　白芥子　炙草　廣皮　竹油</p>
<p>另丸方：六君子湯　加當歸　白芍　生地　蓯蓉　沉香　白芥子　竹油薑汁泛丸</p>
<p>原注；心氣下鬱，脾弱生痰。方中於朮、乾薑、二陳、竹油，補脾化痰之藥也；更有白芥子消膜外之痰，旋覆花開心氣之結，赭石鎮肝氣之逆，用意層層都到。</p>
<p>鄧評，食則右脅下痛，是氣被痰阻，郁竄於絡。赭石重鎮，恐非所宜。</p>
<p>孫評：痰不在膜外，何得用芥子，反耗氣而傷液。凡藥病不的切者，必反有害，古人所以分臟腑經絡上下內外也。</p>
<p>食則噎痛，吐去濁痰而止，胸前常悶，脈象弦滑，舌苔滿白，肌肉瘦削之人，陰血本虧，今陽氣又結，陰液與痰濁交阻上焦，是以胃脘狹窄也。久則防膈。</p>
<p>乾薑　薤白　炙草　杵頭糠　神麯　丁香　木香　熟地　白蔻仁　歸身　白芍　沉香　牛黃　竹油</p>
<p>鄧評；食下嚥痛，痰瘀交阻所致，法當兼導痰瘀，非滋燥之劑所能建功。杵頭糠專治噎膈，亦辛熱之品。</p>
<p>孫評：陰血本虧，陽氣又結，胃脘狹窄，何得再用諸多燥熱耗陰損氣乎</p>
<p>再診：胸前所結之邪，原有化意。無如陰之虧，陽之結，尚與前日相等，非一兩劑所能奏效。</p>
<p>乾薑　薤白　炙草　茯苓　丁香　木香　陳皮　麻仁　旋覆花代赭石　歸身　白芍　杞子　牛黃　竹油</p>
<p>詒按：此氣結痰阻之證，用藥極周到。</p>
<p>鄧評：加減一二，自較前方為勝也。</p>
<p>嗜酒中虛，濕熱生痰，痰阻膈問，食下不舒，時欲上泛。年已甲外，營血內枯，氣火交結，與痰相並，欲其不成膈也，難矣。</p>
<p>七聖散加歸身　白芍　薤白　代赭石　藕汁　紅花</p>
<p>原注：嗜酒者必多濕熱，須用竹茹、連、蔻，又易挾瘀，參入藕汁、紅花；薤白辛而兼滑，又是一格。絕去溫熱剛燥之品。先生日：惟善用溫藥者，不輕用溫藥，信然。</p>
<p>鄧評。膈症之源，無不由於營血內枯，痰火交結所致，故宜於溫燥者絕少。</p>
<p>向患偏枯於左，左屬血。血主濡之。此偏枯者，既無血以濡經絡，且無氣以調營衛，營衛就枯，久病成膈。然一飲一食，所吐之中，更有濁痰紫血；此所謂病偏枯者，原從血痹而來，初非實在枯槁也。勉擬方：</p>
<p>每日服人乳兩三次　間日服鵝血一二次。</p>
<p>詒按：偏枯已屬難治，更加以膈，愈難措手矣。方祗寥寥兩味，而潤液化瘀，通痹開結，面面都到。此非見理真切，而又達於通變者，不能有此切實靈動之方。愚意再增韭汁一味，似乎更覺親切。</p>
<p>鄧評：此二味均潤導血液之品，人乳偏於潤，鵝血偏於導，以治血液枯耗之膈，實良劑也。柳師加味，固無不可；倘參入竹油、薑汁，兼導痰濁，亦屬相宜。</p>
<p>孫評：此等聯絡法，豈時下所能。非精於書卷，歷練廣闊者，萬不能辦。</p>
<p>脈形細澀，得食則噎，胸前隱隱作痛。瘀血內阻，胃絡不通，此膈證之根。</p>
<p>歸須　白芍　白蜜　蘆根　瓦楞子醋煅韭汁　人參　桃仁</p>
<p>詒按：此瘀血膈也，脈證均合，用藥亦專注在此。</p>
<p>鄧評：認病既真，立方亦切。擬再參牛乳，薑汁。</p>
<p>瘀血挾痰，阻於胸膈，食則作痛，痛則嘔吐，右脈澀數，惟左關獨大且弦。是痰瘀之外，更有肝經之氣火，從而和之為患，乃膈證重候。慎之。</p>
<p>歸身　白芍　蘆根　瓦楞子紅花　絲瓜絡　橘絡　竹油　白蜜</p>
<p>原注；以上三病，皆瘀膈也。第一證，從偏枯中想出血痹，用人乳以潤其枯燥，鵝血以動其瘀血，此證非特剛劑不受，並柔補之藥亦不可投，萬不得已，而為此法，仍是潤液化瘀之意，柔和得體。第二證，從胸前隱痛，而知其瘀阻胃絡，用桃仁．醋煅瓦楞子以化其瘀。此證血瘀液涸，無論乾薑不可用，即薤白辛溫通氣，亦與此隔膜。然非辛不能通，計惟用濡潤之韭汁以通之，蜜、蘆、歸、芍奠安營分，以其液涸也。此病不見痰，所以純從濡潤去瘀之法。第三證見痰，所以瓦楞子、紅花外，又加竹油一味。</p>
<p>鄧評：噎膈之症，其肝經之氣火理必相兼、特有微甚不同耳。方卻輕清可喜。</p>
<p>以上三案，同屬瘀膈，惟其中稍有異者，第一症偏於血液枯耗，第二症為瘀血而兼氣弱者，此第三症則瘀血而更兼肝火亢盛矣。學者苟能一隅三反，則自可變化無窮耳。</p>
<p>孫評：分析精細，所謂如分水犀者此也。</p>
<p>濕熱生痰，阻於胃脘，得食則噎，噎甚則吐，此膈之根也。</p>
<p>半夏　陳皮　川連　竹茹　白蔻　生薑　雞距子　枇杷葉　楂炭</p>
<p>原注：指為濕熱，想因苔帶黃色也。用七聖散者，中有橘皮竹茹湯，又有溫膽湯，兩方在內，更加枇杷葉泄肺，查炭消瘀，雞距子消酒積。總不外濕熱二字，此猶是膈之淺者。</p>
<p>鄧評：此病必係酒客，胎質濁膩，故用藥如是。</p>
<p>食已即吐，脈弦苔白，便溏溺清。濕痰內勝，被肝經淫氣所沖。</p>
<p>旋覆花代赭石　陳皮　半夏萊菔子　生薑　茯苓　雪羹湯</p>
<p>鄧評：食已即吐，尚非朝食暮吐，終有火也，仍可薑、連並用，參入方內，雖則濕痰內勝，但須薑重於連，即為合法。</p>
<p>再診：吐逆大減，胸前尚痞，暖氣不舒。</p>
<p>旋覆代赭湯雪羹湯</p>
<p>詒按：此證陰液未曾大虧，通陽開結，專理其痰，痰降而嘔逆自減，尚非證之重者。</p>
<p>鄧評：前方已合病機，故其吐逆大減；惟仍胸痞，噯氣不舒，究屬痰氣內結，務須宣痹，非赭石重鎮所宜。</p>
<p>咽仲介介，如有炙臠。痰氣交阻為患。</p>
<p>蘇葉　半夏　川朴　茯苓　竹茹　陳皮　石決明　牛膝</p>
<p>原注：此咽膈也。痰結於肺，用四七湯，以理其氣；合溫膽湯，以化其痰；去枳實換牛膝者，欲其達下焦也。</p>
<p>鄧評：《金匱》四七湯，專能主治此症，惟氣必挾火而逆，今加味最為中窾。</p>
<p>得食多噦，許氏法主之。</p>
<p>丁香　陳皮　川朴　半夏　茯苓　甘草　枇杷葉　茅根</p>
<p>原注；此枇杷葉散去香薷一味也。此另是一種暑邪，挾寒飲內停，或食瓜果，致中氣不調，而嘔噦者，不當深求之裏也；去香薷者，無表證也。</p>
<p>鄧評：此痰氣阻遏於胃，故方以溫胃祛痰理氣。用枇杷葉，茅根者，恐內有鬱熱也，更藉以宣達肺氣。</p>
<p>食已即吐，本屬胃病，宜用溫通。然口雖乾，苔反白，將吐之時，其味先酸。此必有肝火鬱於胃府，似與胃家本病有間。</p>
<p>左金丸合溫膽湯雪羹湯</p>
<p>詒按；辨證精細，用藥妥切。</p>
<p>鄧評：將吐而先有酸味，是有肝火之著眼處；苦降辛通，正合此病。</p>
<h2>濕病門</h2>
<p>脾陽不足，濕濁有餘，少納多脹，舌白脈遲，茅朮理中湯合四七湯。</p>
<p>詒按：此濕滯而兼氣鬱之證。</p>
<p>鄧評：此症純乎痰濕傷陽之象，故用藥亦惟溫通，毫無顧忌。</p>
<h2>痹氣門</h2>
<p>胸痛徹背，是名胸痹。痹者，胸陽不曠，痰濁有餘也。此病不惟痰濁，且有瘀血交阻膈間，所以得食梗痛，口燥不欲飲，便堅且黑，脈形細澀；昨日紫血從上吐出，究非順境，必得下行為妥。</p>
<p>全瓜蔞　薤白　旋覆花　桃仁紅花　瓦楞子　玄明粉合二陳湯</p>
<p>詒按：方法周到，不蔓不支，擬加參三七磨沖。胸痹證，前人無有指為瘀血者。如此證，納食梗痛，乃瘀血阻於胃口，當歸入噎膈證內論治矣。</p>
<p>鄧評；得食梗痛，便堅脈澀，卻已能歸入膈門。惟如此等方法，自有膽識。</p>
<p>心痛徹背，是名胸痹，久而不化，適值燥氣加臨，更增咳嗽咽乾，痰中帶紅，脈形細小，治之不易。</p>
<p>瓜萎　薤白　枳殼　橘紅　杏仁　桑葉　枇杷葉</p>
<p>詒按：既因燥氣加臨，痰紅嗌乾，似當參用清潤，如喻氏法。擬加旋覆花、南沙參、麥冬、桑皮。</p>
<p>鄧評：咽乾痰紅，或以胸痹之證，本有肝火鬱竄於其間，未必新感燥氣。擬加丹皮。</p>
<h2>脘腹痛門</h2>
<p>心痛有九，痰食氣居其三。三者交阻於胃，對痛時止，或重或輕，中脘拒按，飲食失常，痞悶難開，大便不通，病之常也。即有厥證，總不離乎痛極之時。茲乃反是，其厥也，不發於痛極之時，而每於小便之餘，陡然而作，作則手足牽動，頭項強直，口目歪邪，似有厥而不返之形；及其返也，時有短長，如是者三矣，此名癇厥。良以精奪於前，痛傷於後，龍雷之火，挾痰涎乘勢上升，一身而兼痛厥兩病。右脈不暢，左脈太弦，蓋弦則木乘土位而痛，又挾陰火上衝而厥。必當平木為主，兼理中下次之。蓋恐厥之愈發愈勤，痛之不肯全平耳。</p>
<p>川椒七粒　烏梅三分　青鹽一分　龍齒三錢　楂炭三錢　神麯三錢　萊菔子三錢　延胡錢半　川楝子錢半　青皮七分　橘葉一錢　竹油一兩</p>
<p>詒按：厥發於小解之時，其厥之關於腎氣可知矣。用藥似宜兼顧。立方選藥，熨貼周到。</p>
<p>鄧評：中脘拒按，痞悶便秘，究屬不通之實象。惟肝氣久郁，則陽內亢而化火生風，風陽升動則厥且癇矣。今轉發於溺餘者，以肝脈絡陰器，溺則肝陰虛而風陽乘機陡動耳。始而鬱極故痛厥，繼則動甚故癇厥，橫乘於中則痛，直升於上則厥。法當用酸苦辛藥以制肝之旺氣、疏肝之鬱氣，清火化痰，並具於內，故此方合病焉。惟連、柏、薑、萸，尚可參用也。</p>
<p>孫評：此等清靈貼切之方，豈能易得。惟神麯宜易薑、夏。柳氏云腎宜兼顧，一定之理，如代赭石、蒺藜之類。</p>
<p>再診；據述厥已全平，痛猶未止，便黑溺黃，右脈反弦，想諸邪都合於胃也，胃為腑，以通為補。懸擬方。</p>
<p>芍藥　青皮　陳皮　黑梔　川貝　丹皮　楂肉　竹油　萊菔子　青鹽　延胡</p>
<p>詒按：諸邪都合於胃，從右脈之弦看出，是病機緊要處。</p>
<p>鄧評：便黑者抉瘀故也，或為肝火所煅爍，理亦有之，然其糞必堅燥也。進酸斂而右脈反弦，是肝之旺氣已減，故胃脈得較暢也，當屬佳象。此方更覺松靈活潑。</p>
<p>三診；痛厥已平，尚有背部隱疼之候，腰部亦疼，氣逆咳嗆，脈形細數。想肝腎陰虛，氣滯火升，肺俞絡脈因之俱受其傷也。</p>
<p>四物湯旋覆花湯二母　雪羹湯</p>
<p>鄧評：見證是肝家之氣火留竄於絡脈，宜加山梔、鉤鉤、絲瓜絡，以清經絡之鬱火，更宜薑汁以反佐之。</p>
<p>四診：腰脊尚疼，咳嗽不止，苔白底紅，脈形弦細。是陰虛而挾濕熱也。</p>
<p>豆卷　蒺藜　黑梔　川芎　歸身　麥冬沙參　甘草雪羹湯半夏</p>
<p>原注：此素有痰積，又腎虛而相火上衝於胃，胃中痰飲阻滯竅隧，癇厥見焉。第一方用泄肝和胃法，以化其阻滯，合金鈴子散以清肝火，加查曲以消食，菔子、竹油以化痰。厥平而痛未愈，故第二方用景嶽化肝煎，以代金鈴子散，兼以化痰。第三方通其絡。第四方仿白蒺藜丸，專於治痰。</p>
<p>詒按：此證得力，全在前兩方，疏肝化痰，絲絲入筘。</p>
<p>鄧評：苔白痰也，底紅火也，是火被痰遏之象，山梔須用薑汁炒乃妙。</p>
<p>麥冬、沙參，尚屬勉強。</p>
<p>脾氣素虛，濕鬱難化，而木之郁於內者，更不能伸，所以酸水酸味，雖有減時，而灰白之苔，終無化日，無怪乎脈小左弦，脘脅脹痛也。此臌脹之根，毋忽。</p>
<p>附子理中湯合二陳湯　加川朴　香附　川芎　神麯</p>
<p>詒按：似可參用柴、芍輩，於土中泄木。</p>
<p>鄧評：脈既左弦，附子終怕礙肝，參用柴、芍自合，金鈴子散亦所需要。</p>
<p>病分氣血，不病於氣，即病於血，然氣血亦有同病者。即如此病，胃脘當心而痛，起於受饑，得食則緩，豈非氣分病乎。如獨氣分為病，理其氣即可向安，而此痛雖得食而緩，午後則劇，黃昏則甚，屬在陽中之陰，陰中之陰之候，其為血病無疑。況但頭汗出，便下紫色，脈形弦細而數，更屬血病見證。但此血又非氣虛不能攝血之血，乃痛後所瘀者，瘀則宜消，虛則宜補，消補兼施，庶幾各得其所。</p>
<p>治中湯合失笑散</p>
<p>另紅花玄明粉　為末和勻每痛時服二錢</p>
<p>原注：分明兩病，一是脾虛，氣分不能暢達而痛，得食則緩，宜補可知。然人每疑痛無補法者，以痛必有痰氣凝滯也。先生用理中以補脾，即加青皮、陳皮以通氣；至便紫脈弦數，肝家之血必有瘀於胃脘者，此時不去其有形之瘀滯，痛必不除，病根不拔也。此種病，世醫不能治，往往以為痼疾，不知不去瘀，則補無力，徒去瘀則脾胃更傷。先生則雙管齊下，立案清沏，度盡金針，非名家惡能如是。</p>
<p>鄧評：其痛起於受饑，得食則緩，是中虛無疑，非甘溫補中以緩肝不可。惟便下紫黑，則為血瘀所致，自宜兼導。方案朗若眉列，洵非老手不辦。至於但頭汗出者，必有肝陽鬱冒，金鈴、白芍、蒺藜等，尚可加入。</p>
<p>末藥須用參湯過下，方不戕伐中氣。</p>
<p>孫評：理中加青、陳皮，名治中湯。用法頗巧。</p>
<p>胃脘當心而痛，少腹氣升，嘔吐酸苦痰涎，脈形弦數。顯係寒熱錯雜之邪，郁於中焦，肝屬木，木乘土位，所有積飲，從此沖逆而上，病已年餘，當以和法。</p>
<p>附子理中湯　加川連薑汁炒　川椒　黃柏　歸身　細辛半夏　桂枝　烏梅肉</p>
<p>原注：此連理湯合烏梅丸。吐涎酸苦，是胃中錯雜之邪，用薑連、半夏以化之，逆沖而上之肝氣，用烏梅法以和之。</p>
<p>詒按：半夏反附子，在古方多有同用者，然可避則避之，亦不必故犯也。</p>
<p>鄧評：據其嘔吐酸苦，脈形弦數，則肝膽鬱火必盛，雖屬寒熱錯雜，附子究恐有礙鬱火，若竟服烏梅丸則有礙。</p>
<p>孫評：少腹氣升，當用旋赭以鎮之，恐其肝氣上逆而散也。</p>
<p>胃脘當心而痛，脈形弦數，舌絳苔黃，口乾苦，小便赤。一派火熱之象，氣從少腹上衝於心，豈非上升之氣自肝而出，中挾相火乎。</p>
<p>化肝煎（芍、青、梔、澤、丹、陳、貝。）</p>
<p>鄧評：確係熱厥心痛，宜與金鈴子散合用，或可參清肝蠲痛飲，則較能著力也。</p>
<p>孫評：景嶽法之所以不善者，其立方多夾雜之故也。如名為化肝，何得用貝清肺，若用連，則名實相符矣。</p>
<p>脘痛下及於臍，旁及於脅，口乾心悸，便栗溺黃，脈弦而數，此鬱氣化火也　化肝煎合雪羹　原注；此景嶽化肝煎也。必肝有實火者可用，口乾、脈數，溺黃是其的證也。</p>
<p>鄧評：鬱火脘痛，每多挾痰，故參雪羹於化肝煎內。</p>
<p>中焦失治為痛，以治中湯為法，是正治也。不知中焦屬土，土既虛不能升木，木即郁於土中，亦能作痛，以逍遙散佐之，更屬相宜　治中湯逍遙散雪羹　詒按：此木鬱土中之病，立方妥貼易施。</p>
<p>鄧評：為木鬱而佐以逍遙散者，其脈必兼弦象可知。雪羹參入方內，似屬不妥。</p>
<p>瘀血腹痛，法宜消化。然為日已久，脾營暗傷，又當兼補脾陰為妥。</p>
<p>歸脾湯去耆朮　加丹參　延胡</p>
<p>詒按：此病用補，是專在痛久上著眼。</p>
<p>鄧評：立方如是，當必有怔忡不寐之證。</p>
<p>當臍脹痛，按之則輕，得食則減，脈形細小而數，舌上之苔左黃右剝，其質深紅，中虛伏熱使然。</p>
<p>治中湯　加川連雪羹</p>
<p>詒按：此等證不多見，立方亦甚難，須看其用藥的當處。</p>
<p>鄧評：此必連重於薑，方不有礙伏熱。</p>
<p>孫評；苔剝是陰已受劫，當參白芍合戊已意。</p>
<p>少腹久痛未痊，手足攣急而疼，舌苔灰濁，面色不華，脈象弦急。此寒濕與痰，內壅於肝經，而外攻於經絡也。現在四肢厥冷，宜以當歸四逆湯加減。</p>
<p>當歸小茴香炒　白芍肉桂炒　木通　半夏　薏仁　防風茯苓橘紅</p>
<p>詒按：寒濕入於肝經，病與疝氣相似，治法亦同。</p>
<p>鄧評：此營虛挾寒邪，立方殊平妥。</p>
<p>再診：少腹之痛已止，惟手冷攣急未愈。專理上焦。</p>
<p>蠲痹湯防、羌、薑黃、歸，苠、草、赤芍去防　合指迷茯苓丸</p>
<p>鄧評；營氣未復，上焦之寒痰未解，方法轉換得當。</p>
<p>少腹作痛，甚則嘔吐，脈右弦左緊俱兼數，舌苔濁膩，口中乾苦，頭脹溺赤。此濕熱之邪內犯肝經，挾痰濁上升所致。泄之化之，得無厥逆之虞為幸。</p>
<p>旋覆花湯　三子養親湯蘇子、白芥子、萊菔子。金鈴子散</p>
<p>另烏梅丸</p>
<p>詒按：旋覆、金鈴以止痛，三子以除痰，更用烏梅丸以泄肝，所以面面都到也。</p>
<p>鄧評：此肝經氣火與濕熱交阻，似不如金鈴子散合清肝蠲痛飲為善治。</p>
<p>再診：嘔吐已減，白苔稍化，頭脹身熱亦緩。惟腹之作痛、便之下痢、脈之緊數，以及口中之乾苦、小水之短赤，尚不肯平。肝經寒熱錯雜之邪，又挾食滯痰濁為患也。仍宜小心。</p>
<p>葛根黃芩黃連湯加延胡　楂炭　赤苓　陳皮　萊菔子</p>
<p>另烏梅丸</p>
<p>詒按：想因下利較甚，故用藥如此轉換。</p>
<p>鄧評：此病內挾濕熱，烏梅丸似可不必。</p>
<p>三診：餘邪流入下焦，少腹氣墜於肛門，大便泄，小便短，舌苔未淨，更兼痔痛。</p>
<p>四苓散合四逆散　加黃芩　黃柏　木香</p>
<p>詒按：至此而內伏之濕熱，從兩便而外泄矣。</p>
<p>鄧評：前兩方斂降太過，故有此餘邪下陷之象。是方堪稱熨貼。倘再參入防風、白芍以疏泄厥陰，似較周到。</p>
<p>肝脈布於兩脅，抵於少腹，同時作痛，肝病無疑。肝旺必乘脾土，土中之痰濁濕熱，從而和之為患，勢所必然。</p>
<p>逍遙散柴、荷、苓，朮、歸、芍，草，加梔、丹。合化肝煎</p>
<p>詒按：此治肝氣脅痛，誠然合劑，案所云濕熱痰濁，雖能兼顧，嫌未著力。</p>
<p>鄧評：香附、旋覆等尚宜增入。</p>
<p>化肝煎內有梔、丹，不必再加於逍遙散下。</p>
<p>氣結於左，自下而盤之於上，脹而且疼，發則有形，解則無跡，甚則脈形弦數，口舌乾燥，更屬氣有餘便是火之見證，急須化肝</p>
<p>化肝煎</p>
<p>詒按：凡肝氣上逆者，多挾朮火為病，故化肝煎為要方。</p>
<p>中脘屬胃，兩脅屬肝，痛在於此，忽來忽去。肝胃之氣滯顯然，已曆二十餘年，愈發愈虛，愈虛愈痛。氣分固滯，血亦因之乾澀也。推氣為主，逍遙散佐之。</p>
<p>肉桂枳殼片薑黃　延胡　炙草逍遙散</p>
<p>鄧評：擬再加通絡之品</p>
<p>再診：病勢不增不減，診得左脈細澀，右部小弱。氣血久虛，致使營衛失流行之象，非大建其中不可。</p>
<p>肉桂　歸身　白芍　川椒飴糖　乾薑　陳皮　炙草砂仁</p>
<p>原注：前方嚴氏推氣散也。先生謂左脅作痛，是肝火，用抑青即左金以瀉心平木。右脅作痛，是痰氣，用推氣法以理氣化痰。按薑黃入脾，能治血中之氣，蓬朮入肝，能治氣中之血；鬱金入心，專治心胞之血；三物形狀相近，而功用各有所宜。</p>
<p>詒按：久病中虛，故轉方用大建中法。</p>
<p>鄧評：想必痛時喜按，故可大建其中。總嫌少通絡之品。抑青者，用吳萸炒川連，仍去萸是也。</p>
<p>腹左氣攻脹痛，上至於脘，下及少腹，久而不愈，疝瘕之累也。痛極之時，手足厥冷、嘔逆，當從肝治。</p>
<p>當歸四逆湯歸、桂、芍、草、辛、通、薑、棗。合二陳湯　吳仙散吳萸、茯苓。</p>
<p>詒按：病偏於左，更加支厥，此肝病確據也。</p>
<p>鄧評：此寒入厥陰之候，其脈當見遲細弦象。</p>
<p>再診；痛勢已緩，尚有時上時下之形，邪未盡也。</p>
<p>吳仙散合良附散　二陳湯去甘草　加當歸小茴香炒　白芍肉桂炒</p>
<p>鄧評：積寒漸解，尚有時上時下之形者，肝之厥氣未和也。</p>
<h2>疝氣門</h2>
<p>狐疝，臥則入腹，立跟出也。</p>
<p>補中益氣湯</p>
<p>另金匱腎氣丸合小安腎丸香川烏、茴香、椒目、川楝、熟地。</p>
<p>原注：疝氣一症，論其本末，有不由氣虛而濕濁隨之下陷者，故以補中益氣湯為主方，俾脾之清氣得以上升，則小腸膀胱之濁氣自然下降。又有挾勞倦外感而發者，方中柴胡借用亦妙，寒加溫藥，濕火甚加知、柏。</p>
<p>詒按：此因下墜過甚，故用補中以升清氣，其實亦非治疝正法也。</p>
<p>鄧評：《金匱》治狐疝，出一蜘蛛散，以攻陰毒之邪，取以毒攻毒之義。今挾脾腎氣虛，故備方如此。可見良工治病，應變無窮矣。</p>
<p>孫評：柳氏指點確切，可見治病不宜拘執。</p>
<p>脾宜升主健，胃宜降主和。此病氣升而嘔，胃不降也j疝氣下墜，脾不升也。而所以升降不調者，由脾虛下陷，濕痰中結，而沖逆於胃脘也。理其中陽，則上下白調。</p>
<p>六君子湯　加乾薑　青皮　小茴香　萆薢　九香蟲</p>
<p>詒按：此因嘔吐有上逆之勢，故不用補中，而變法治之。</p>
<p>又按：此證若用烏梅丸，則上下均在治中，緣痛嘔、疝氣，均由肝病故也。</p>
<p>鄧評：脾胃之升降不調者，不獨由於濕痰中結，抑且因乎肝邪內擾也。</p>
<p>再診：治中胃痛已和，疝氣仍然下墜。擬於補脾之外，佐以補腎，使其火土合德，則陽旺於中，而生氣勃然，不升自升矣。</p>
<p>香砂六君丸合金匱腎氣丸</p>
<p>詒按：此證從肝經著意，似較靈動，專補脾腎，猶恐涉於果實。</p>
<p>鄧評：胃痛已平，溫中之效。疝氣仍然下墜，則失於治肝故也。雖佐補腎，猶未盡然。</p>
<p>狐疝，原屬肝經之濕，隨氣下陷，脾陽必衰。而今夏多食冷物，陽氣又被所遏，苔白不乾，指冷脈小，右睾丸脹大，當以溫散。</p>
<p>大順散千薑、肉桂、杏仁、甘草。加當歸　木香荔枝核</p>
<p>詒按：此因生冷傷中，故用大順，亦非治疝正法。</p>
<p>鄧評：純屬陰寒見象，當以溫散無疑。如腎氣、理中，以及補中益氣丸類，亦可隨宜輔用。</p>
<h2>瘕癖門</h2>
<p>寒氣客於腸外，與血沫相搏，臍下結瘕，脹大下墜，不時作痛，痛則氣升自汗，脈形弦澀。此為臌脹之根。毋忽。</p>
<p>吳萸　茯苓　當歸　川楝予　橘紅　烏藥　香附　楂肉</p>
<p>詒按：既因於寒，似可再加溫通之品。既與血沫相搏，似宜兼和營血。</p>
<p>鄧評。似尚可加桂、芍，延胡、牡蠣之屬。</p>
<p>瘕聚脘中，久而不化，變為攻痛升逆，妨食便堅，理之不易</p>
<p>川楝子　延胡　當歸　白芍　陳皮　鱉甲　紅花　血餘　茯苓　牛膝　丹皮</p>
<p>詒按；此病之偏於血分者，故方中兼用疏瘀之品。特所敘病情，尚無瘀血的據。</p>
<p>鄧評：妨食便堅，將有成噎膈之慮矣。如瘕聚中脘，必當兼理痰氣，專於導血，尚未盡然</p>
<p>最虛之處，便是容邪之處。肝絡本虛，隱癖久踞，中宮又弱，隱癖潛入其間。欲治此病，培補肝脾為主，和化次之。</p>
<p>歸芍六君子湯加雞內金</p>
<p>另小溫中丸</p>
<p>詒按：此亦虛實兼治之法，然而收效甚難。</p>
<p>鄧評：凡隱癖僭於中宮，其脾土必弱，故宜培補兼和化之法，今更參用小溫中丸，想有成臌之患。</p>
<p>脈來細而附骨者，積也。已經半載，不過氣行作響而已。而其偏於脅下者，牢不可破，是寒食挾痰，阻結於氣分也。此等見證，每為脹病之根。</p>
<p>理中湯加神麯　茯苓　半夏　陳皮　麥芽　旋覆花枳殼　歸身</p>
<p>鄧評：積於脅下，邪在肝絡。擬加金鈴、延胡、內桂，以平肝散結。</p>
<p>再診：脅下隱癖，牢不可破，其氣或逆或攻。必溫化以絕脹病之根</p>
<p>理中湯合二陳湯　加川朴　枳殼　神麯　竹油旋覆花　白芥子：</p>
<p>詒按：議論則見微知著，用藥則思患豫防，此為高識。</p>
<p>鄧評：此症更必有痰飲留積，白芥子亦為要品。惟竹油陰寒，似屬不妥；苟其正氣未衰，控涎丹當用也。</p>
<p>食入而痛，是有積也。積非一端，就脈弦數、二便黃熱、乾咳不爽、面黃苔白言之，必有濕熱痰食互相阻滯，經年累月，無路可出，無力以消。</p>
<p>茅朮　川芎　楂炭　神麯　川貝　山梔　赤苓枇杷葉露　杏仁</p>
<p>詒按：此越鞠丸加味也。愚意再加白芍、枳實。</p>
<p>鄧評：據此症脈，是火被寒鬱，為鬱火腹痛之候。然食入而痛，或有蛔動於中也，以並無食積見端耳。擬加椒、萸、梅、連之屬。</p>
<p>孫評：食入而痛，痛在胃也。縱使有痰，亦當從脾胃著想，如二陳之類。何得用貝、杏治肺。</p>
<p>寒熱後，脘左隱癖作疼，脈形弦細，舌苔濁厚。濕熱痰食，交相為患。</p>
<p>二陳湯去甘草合雞金散（砂、沉，陳、雞、香櫞。）加蘇梗楂肉　青皮</p>
<p>詒按：此尚是初起實證，故用攻消法取效，立方亦極平穩。</p>
<p>鄧評：起於寒熱之後，內有留邪可知。惟癖疼偏左，脈細兼弦，此濕熱痰食之中，更必挾肝氣為患也。宜參金鈴子散兼平其肝。</p>
<p>再診；脘左之隱癖漸消，舌上之濁苔漸化。仍宗前法，參入補脾之品。</p>
<p>前方去蘇梗加於朮炙草</p>
<p>另服水泛資生丸</p>
<p>鄧評：參入健脾之品，以消餘留之積，是為合法。</p>
<p>隱癖踞於脅下，肝經病也。</p>
<p>化肝煎</p>
<p>詒按：此亦初起之病，想由肝鬱而起，故專從泄肝立法。但恐藥輕不能奏效耳。</p>
<p>原注：前證濕熱居多，此證肝火為重，相機而治，各有條理。</p>
<p>鄧評：如此分經辨絡，確無移易。化肝煎未始不合，尚恐不足以消其隱癖，再合金鈴子散可也。</p>
<p>瘧久，邪深入絡，結為瘧母。瘧母在左，自下攻逆。加以右脅結癖，上下升降俱窒，無怪乎中宮漸滿，理之不易。</p>
<p>雞金散　加枳殼　薑黃　白芥子　竹油</p>
<p>另鱉甲煎丸</p>
<p>原注；左屬血屬肝，瘧邪滯於血中，主以鱉甲煎丸。右屬氣屬胃，或痰或食，主以雞金推氣，加竹油、白芥子。</p>
<p>詒按：此兩層兼治之法。</p>
<p>鄧評：左右結痞，最易延成中滿。而迎頭施治，理路肅清。</p>
<h2>腫脹門</h2>
<p>營血本虧，肝火本旺，責在先天。乃後天脾氣不健，肝木乘之。所進飲食，生痰生濕，貯之於胃，尚可從嘔而出，相安無事；遲之又久，滲入膜外，氣道不清，脹乃作焉。脾為生痰之源，胃為貯痰之器。若非運化中宮，兼透膜外，則病勢有加無已，成為臌病，亦屬易易。夫脾統血，肝藏血，病久血更衰少，不得不佐以和養。古人之燥濕互用，正為此等證設也。</p>
<p>歸芍六君子湯去參　草　加白芥子　萊菔子車前子　川朴　蘇子　腹皮　竹油　雪羹</p>
<p>詒按：用藥虛實兼到，親切不浮。</p>
<p>鄧評：久嘔之後，痰飲滲透膜外，致成臌脹者甚眾。此案論病透徹，立法精當。</p>
<p>陳，朴、芥、菔、大腹等，即景嶽廓清飲，能治濕熱痰飲之脹。</p>
<p>諸腹脹大，皆屬於熱；諸濕腫滿，皆屬於脾。脾經濕熱交阻於中，先滿後見腫脹，膚熱微汗，口渴面紅，理之不易。</p>
<p>防己　茯苓　石膏腹皮　陳皮</p>
<p>鄧評：此《金匱》之木防己湯加減，其所以去桂枝之溫者，為熱多故也。然觀其轉方，仍諸恙不減，或者須藉桂枝以溫通氣化，始能效耶。若謂病重藥輕，再加鮮地、知、麥等味，恐究非脹病所宜，既云濕滿三焦，何不竟用子和桂苓甘露飲治之。</p>
<p>孫評：解書確合。</p>
<p>再診：濕熱滿三焦，每多腫脹之患。如邪勢偏於下焦，小便必少，前人之質重開下者，原為此等證而設。然此病已久，尚盛於中上二焦，胡以中上兩焦法施之？諸恙不減，或者病重藥輕之故。將前方制大其劑。</p>
<p>竹葉　石膏　鮮生地　麥冬　知母　半夏五皮飲</p>
<p>原注：此十二歲女子，腹暴脹大，面跗俱腫，面紅口渴，小便黃。此證屬熱，所見甚少。</p>
<p>詒按：此等方治脹病，非有卓見者不能存之，為臨證者增二見解。</p>
<p>脘腹膨脹，二便失調，經絡痠痛，四肢無力，脈形弦細，舌苔白膩而厚。此濕邪內鬱。當用苦辛宣洩。</p>
<p>茅朮　川芎　香附　黑梔　神麯　腹皮　川朴赤苓澤瀉蔞皮</p>
<p>詒按：此亦濕鬱而化熱者，故兼用梔、萎清泄之品。</p>
<p>鄧評：純乎濕勝見端，何以知其濕中有熱，兼參梔、萎，不用薑、桂。讀案語二便失調，其眼在小便黃少可知。蓋此等證最易誤作寒濕醫，而用熱藥。</p>
<p>脈細而弦，是脾弱而兼木鬱；苔白而膩，知濕勝且有熱蒸，俾濕熱化解，脾健木達，則諸恙向安矣。</p>
<p>再診：諸恙向安，肢體無力，健脾為主。</p>
<p>香砂六君子湯</p>
<p>原注：此越鞠改方，而加胃苓之半。本方治濕鬱，其眼在舌苔白膩而厚，在所必效，余每藉以治黃疸亦效，挾痰頭項痛亦效。</p>
<p>孫評：越鞠治疸，想係氣濕熱三者交阻而成之症。若頭項痛，挾痰者必兼鬱乃效，且須加滌痰之味方妥。</p>
<p>脾主濕，濕因脾虛而鬱，鬱蒸為熱，所以隱癖僭逆中宮；大腹脹滿，納少便溏，面黃溺赤，咳嗽，身熱時作，脈息弦細，極易成臌。</p>
<p>越鞠丸附，蒼、芎、曲、梔。雞金散　加赤苓　青蒿黃芩川朴</p>
<p>原注：此越鞠證，而兼隱癖。濕化熱者，故合雞金消癖，芩蒿化熱。</p>
<p>原注：以上越鞠丸證。大約越鞫治無形濕熱之痞，從瀉心化出；雞金治有形食積之癖，從陷胸化出。且如脘痛門中，鬱痰作痛，脈數多渴者，用清中蠲痛湯。山梔、薑汁炒，乾薑、川芎、童便炒，黃連、薑汁炒，蒼朮、童便浸切麻油炒，香附、醋炒，神麯、薑汁炒，托紅、薑、棗。治中脘火鬱作痛，發即寒熱。中以寒熱為主，即越鞠加薑、連、橘、棗。可知此方治氣火濕食血五者之鬱，信極妙矣。說者以梔主火，朮主濕，香附主氣，芎主血，曲主食，分為五鬱，似可不必，正如五音必合奏而始和也。</p>
<p>鄧評：大腹脹滿，臌之候也；咳嗽身熱，勞之象也。乃營衛陰陽並傷，用藥則甯偏於燥，未可偏滋，如歸、芍以養營制木，亦正不妨添入耳。</p>
<p>孫注：雞金散砂、陳、沉、雞、香櫞。</p>
<p>大腹脹滿，已經四十餘日，近來氣更急促，足跗浮腫，溺黃口乾，脈形弦數。濕熱之邪，因氣而阻，因食而劇，理之不易。</p>
<p>廓清飲（廓清飲用芥陳朴，枳澤茯苓同大腹，菔子生研壅滯通，氣逆脹滿均堪服。）去芥枳</p>
<p>加黑梔　豬苓　蘇梗　川連　香附</p>
<p>原注：溫藥留手處，在口乾溺黃四字。</p>
<p>鄧評：大腹脹滿是病也，溺黃口乾是證也，脈形弦數是脈也。憑證脈以推求，則是病之係乎何邪，自無遁情矣。</p>
<p>脾虛則濕熱內鬱，為臌。從去郁陳莝例治之。</p>
<p>廓清飲去芥加蘇葉　香附　冬朮</p>
<p>另小溫中丸朝暮各錢半</p>
<p>詒按；腹滿由於脾之不運，其所以不能運者，痰也、濕也、濁也、氣也、瘀也。故方中多用疏氣化痰、清利濕熱之品。</p>
<p>鄧評：此方亦僅疏化濕熱，胡必拘拘於蕪花、戟、遂等峻以攻導歟。用廓清法去芥子者，想病不重於痰飲故也。</p>
<p>大腹主脾，腹大而至臍突，屬脾無疑。然脹無虛日，痛又問作，舌苔薄白，脈息沉弦，見於經期落後之體，顯係血虛不能斂氣，氣鬱於中，寒加於外，而脾經之濕，因而不消。</p>
<p>逍遙散合雞金散加香附</p>
<p>詒按：沉弦與沉細不同，沉細色萎則理中證。此證拈住鬱字，散用逍遙。</p>
<p>鄧評：脈息沉弦，尚非血虛不能斂氣之比。</p>
<p>是病之大概，不越中寒木鬱，立方之大意，亦不外乎溫中達木，擬加吳仙散可也。</p>
<p>單腹脹，脾氣固虛，久則腎氣亦虛，大便溏者，氣更散而不收矣。所用之藥，比之尋常溫補脾腎者，當更進一層；然用之已晚。惜乎。</p>
<p>附桂理中湯　加肉果　當歸　牡蠣　木瓜茯苓　生脈散</p>
<p>詒按：案云較之尋常溫補，更進一層，觀方中所加肉果、當歸，是啟峻法也。</p>
<p>鄧評；虛寒腹脹，固當責之脾腎。至偏於腎虛或偏於脾虛，須觀其脹處之甚於小腹，抑或脘腹矣。參入生脈者，想其舌光苔微也。</p>
<p>大腹脹滿，便溏，舌苔冷白，乾喜熱飲，膚熱脈數。脾陽大虛，無力運化濕濁，而成臌也。理之棘手。</p>
<p>附桂治中湯　加木瓜　草果　當歸</p>
<p>鄧評：此陽虛挾濕熱之候，固宜理中湯為急，然後兼清濕熱，層次未嘗不合。予擬東垣升陽除濕法，參入五苓為善。然不治者多矣。</p>
<p>再診：進溫補四劑，腹脹浙和，其邪從下焦而泄，所以大便作瀉。然膚熱未退，小便未長，乾欲熱飲，胃不思穀，白苔已薄，舌質轉紅。中陽稍振，濕熱未清。</p>
<p>理苓湯</p>
<p>原注：舌苔冷白，是桂附把柄。四劑而能便泄，邪從下出，中陽尚好，脾氣尚未衰盡。更以舌質轉紅，知濕熱壅甚，所以轉方減去附桂。參朮己足扶脾，外加四苓驅濕而己。</p>
<p>大便作瀉，小水又長，肝脾腎三經即有陰邪，亦可從此而消。何以隱癖尚踞於中，腹脹不和，是陽虛也。</p>
<p>四君子湯　加黃耆　當歸　桂枝　附子　陳皮肉果　沉香　乾薑　牡蠣　鱉甲　雞內金</p>
<p>原注：此啟峻湯也，附子理中加黃耆、當歸、肉罘，比附子理中更進一層。</p>
<p>鄧評：陰邪之所以不消，陽虛無力以運之也。</p>
<p>於峻補之內，存疏啟之意，故日啟峻。</p>
<p>太陰腹滿，寒濕有餘，真陽不足，詠弦，下體不溫，乾不欲飲，妨食氣短。其勢頗險。擬以溫通化濕法。</p>
<p>附子茅朮治中湯　加川朴　半夏</p>
<p>詒按：此亦通補兼施之法。</p>
<p>鄧評：脈弦、妨食、氣短，似乎寒飲之內，更挾木氣之鬱。</p>
<p>溫補元陽，浮腫脹滿有增無減，陽之衰也極矣。臍平脈遲之候，非溫不可，非補亦不可；然溫補亦不見長，蓋下泄者腎更傷耳。</p>
<p>附子理中湯合四神丸　來復丹</p>
<p>詒按：此法較腎氣丸更進一層。</p>
<p>鄧評：浮腫脹滿，每每有濕熱風氣之邪，溫補不合者恒多。</p>
<p>此病何不進商禹餘糧丸。</p>
<p>太陰腹滿，寒濕使然，陽若不旺，勢必成臌。</p>
<p>附子理中湯　加川朴　大腹皮　澤瀉　豬苓</p>
<p>詒按：此脾陽不振，寒濕停滯之證，故用溫化法。</p>
<p>鄧評：寒濕不化，必用溫熱通陽，譬若離照當空，陰霾始散也。</p>
<p>中滿者，瀉之於內，其始非不遽消，其後攻之不消矣，其後再攻之如鐵石矣。此病雖不至如鐵石，而正氣久傷，終非易事也。</p>
<p>治中湯五苓散</p>
<p>原注：以上皆理中加減法也。因記當年侍先生時，問理中之變換如何？曰：理中是足太陰極妙之方，加以中宮之陽氣不舒，用乾薑者取其散；少腹之陽氣下陷，用炮薑者取其守；其變換在大便之溏與不溏。濕甚而無汗者用茅朮，濕輕而中虛者用冬朮；其變換在舌苔之濁與不濁。此本方之變換也。設脾家當用理中，而胃家有火，則古人早定連理一方矣。設氣機塞滯，古人早定治中一方矣。設脾家當用理中，而其人真陰虧者，景岳早有理陰煎矣。其腎中真陽衰者，加附子固然矣；其衰之甚者，古人又有啟峻一方矣。此外，加木瓜則名和中，必兼肝病；加枳實、茯苓，治胃虛挾實。古人成方，苟能方方如此用法，何患不成名醫哉。因附錄之，以為用理中之法。</p>
<p>鄧評：單單腹脹，脾陽必傷。雖有實邪，慎勿速用攻瀉。</p>
<p>孫評：說得透徹可法。</p>
<p>諸濕腫滿，皆屬於脾。因勞倦所傷，內濕與外濕合而為一，郁於土中，致太陰之氣化不行。治病必求其本，先以實脾法。</p>
<p>川附　於朮　茯苓　陳皮　草果　大腹皮烏藥　木瓜　澤瀉</p>
<p>詒按：案雲實脾，而方中仍屬溫通之品，此非實脾正法也。</p>
<p>鄧評：此俾脾陽運而足以化濕之意，畢竟濕兼寒者相宜。</p>
<p>孫評：腫滿因此而起者居多。</p>
<p>初起痞滿，繼增腹脹，臍突筋露，足跗浮腫，大便溏泄。此濕熱內壅，中虛不化，勢從下走也。用藥最為棘手，且從口苦、舌紅、小便短赤立方。</p>
<p>桂心　茯苓　豬苓　白朮　澤瀉　石膏寒水石滑石</p>
<p>詒按：此河間甘露飲也。用五苓以降濕，三石以清熱。</p>
<p>鄧評：此等方法，非洞徹病情者則不可浪用。必須脈形洪數者，始能放膽用之，恐其濕熱未去而中陽已憊也。</p>
<p>孫評：口苦舌紅溺短，是陰已大傷，化源欲絕，豈宜再以三石沉暴瀉其實火。總之如此險徵，挽回非易，雖有良法，終於無濟。</p>
<p>咳而腹滿，經所謂三焦咳也。苔黃乾苦，臥難著枕，肢冷陽縮，股痛囊腫，便溏溺短。種種見證，都屬風邪濕熱，滿布三焦，無路可出，是實證也，未可與虛滿者同日而語。</p>
<p>桑皮　骨皮　苓皮　蔞皮大腹皮　薑皮防己　杏仁　蘇子　葶藶子　車前子</p>
<p>詒按：濕熱壅盛，脾不輸運，肺不肅降，故立方專用疏化，仿五皮五子法。</p>
<p>鄧評：肢冷陽縮，濕熱阻遏其陽氣故也。斷其為濕熱實證者，全在苔黃乾苦見出。蓋一病有一病之關鍵，不可移易之理。此方選藥亦善。</p>
<p>中陽不足，寒濕有餘，脘痞納少，舌白便溏，脈細小。法當溫化，即平為妙。</p>
<p>茅朮理苓湯　加大腹皮　雞內金　葛花　川朴</p>
<p>鄧評：見證純乎寒濕，宜於溫化無疑。方用葛花，必係酒客。</p>
<p>再診：溫化不足以消脹滿，陽之虛也甚矣。重其制以濟之</p>
<p>茅朮錢半川附錢半乾薑餞半　黨參三錢肉桂七分防風二錢茯苓三錢五加皮三錢陳皮一錢</p>
<p>鄧評：進此方而即效，足徵第一方尚是病重藥輕。凡脹滿係陽虛挾寒者，非溫熱大劑不可。</p>
<p>三診：諸恙向安，仍守前法，以祛留濕。</p>
<p>川附一錢桂枝一錢黨參三錢生於朮錢半乾薑四分茯苓錢半</p>
<p>詒按：茅朮改於朮，想重濁之白苔已化也。此證純以溫化得效，所謂陽運則濕自化也。</p>
<p>隱癖日久，散而為臌，所以左脅有形作痛，大腹漸滿，便出紅色垢積。更兼脘中因食而痛，久吐痰涎帶瘀。元氣益虛，竟有不克支持之象。收散兩難，洵屬棘手。</p>
<p>香櫞皮　人中自　桃仁泥　雞內金　炙鱉甲射干牡蠣川貝母　陳皮砂仁雪羹</p>
<p>詒按：別錄謂：射干治老血作痛。</p>
<p>鄧評：此乃痰、瘀、食積錯雜為患，再加元氣益虛，治之難矣。</p>
<p>再診；大便之紅積已除，胃中之痰涎仍泛，大腹之脹滿如此，何堪磨耐。</p>
<p>前方去陳　貝　加瓦楞子　延胡　丹參　鮮藕</p>
<p>原注：此癖散成臌，上下見血，分明有瘀，消瘀消癖，一定之理。無如此證元氣大虧，不任攻消，又不可補，乃組織此化瘀化癬，不甚克伐之方。病雖減半，究屬難痊。</p>
<p>鄧評：今紅積已除，痰涎仍泛，何轉方反去陳、貝之祛痰，而加延、丹之導瘀？不無背謬。</p>
<p>素有隱癖，肝脾之不調可知。去年血痢於下，痞結於中，久未向愈，大腹脹滿，溺赤舌黃，脈形弦細而數。濕熱內聚，脾虛無力以消，極易成臌。毋忽。</p>
<p>歸芍異功散　加川連　川朴　木香</p>
<p>另枳實消痞丸小溫中丸</p>
<p>詒按：立方穩實。惟歸芍異功，似嫌補多消少。</p>
<p>鄧評：此症固必有濕熱留積。擬於煎方內增入桃仁、楂炭以導之，甚則酒製軍亦可參用。</p>
<p>柳師評語，不啻當頭一棒。</p>
<p>脹者，皆在臟腑之外。此病之脹，不從腹起，自足跗先腫，而後至腹，是由下以及上。因脾虛不能運濕，濕趨於下，尚在本經；腫脹及中，又屬犯本也；腫脹之處，按之如石。陽氣大傷，理之棘手。</p>
<p>附桂治中湯　加肉果　當歸　防己　牛膝</p>
<p>另腎氣丸</p>
<p>詒按；方中防己外，無治濕之品。據證情論，似當兼參滲利。</p>
<p>鄧評：由足跗先腫，其受傷並在腎陽，故立方亦責重溫助腎氣。</p>
<p>隱癖僭逆中宮，臍雖未突，青筋漸露，勢欲散而為臌。況大便時溏時結，脾氣久虛，更屬棘手。擬以攻補兼施法。</p>
<p>枳實消痞丸枳、連、朴、朮，夏、苓、參，薑、麥芽、草。加雞內金　當歸　鱉甲　白芍　牡蠣</p>
<p>詒按：此已成脹病矣。而中宮先虛，又難攻克。此等證最費經營，而又最難得效。</p>
<p>鄧評：癖散成臌，必土弱而木乘，有虛中夾實之義。故治之最為棘手。此方有虛實兼顧，肝脾並調之妙。</p>
<p>孫評：凡有隱癖，須加延胡、香附之類以宣通之。</p>
<h2>頭痛門</h2>
<p>頭痛取少陽、陽明主治，是為正法。即有前後之別，不過分手足而已。</p>
<p>石膏　竹葉　生地　知母　甘菊丹皮黑梔　橘紅　赤苓　桑葉　蔓荊子　天麻</p>
<p>詒按：此頭痛之偏於風火者，故用藥專重清泄一面。</p>
<p>鄧評：此必有一派火盛見端。</p>
<p>脈弦數大，苔厚中黃，頭痛及旁。陽明濕熱，挾膽經風陽上逆也。</p>
<p>大川芎湯川芎、天麻。合茶酒調散芷、草、羌、荊、芎、辛、防、薄。二陳湯加首烏　歸身　白芍</p>
<p>詒按：此亦少陽、陽明兩經之病。但風陽既已上逆，似當參用清熄之意，乃合芎、辛、羌、芷，未免偏於升動矣。</p>
<p>鄧評；方案不甚融洽。</p>
<p>高巔之上，惟風可到，到則百會腫疼且熱。良以陰虛之體，陰中陽氣每易隨之上越耳。</p>
<p>生地　歸身　白芍　羚羊角　石決明　煨天麻甘菊黑梔丹皮刺蒺藜</p>
<p>詒按：此陰虛而風陽上越者，故用藥以滋熄為主。</p>
<p>鄧評；證惟風陽上升，藥惟滋熄和陽。而舌絳脈數，亦從可知矣。</p>
<h2>肢體痛門</h2>
<p>肝居人左，左脅不時攻痛，甚則厥逆，左關沉小帶弦，是肝氣鬱而不升也；右脈弦滑，舌苔薄白，喜飲熱湯，又有濕痰內阻。當兼治之。</p>
<p>推氣散合二陳湯</p>
<p>詒按：用推氣散以疏肝鬱，合二陳湯以治濕痰，竟如兩扇題作法。</p>
<p>鄧評：肝氣久鬱，必從火化。推氣散內有肉桂，若不與清肝疏鬱之品並用，恐其氣火化燥。即使寒飲滿積，亦可暫不可久之劑也。蓋痛在左脅，大都挾肝經鬱火耳。</p>
<p>脈沉弦滑，腿骱刺痛，腰部疫疼，背脊作響，諸節亦然，舌苔白濁。風濕痰三者著於肝腎之絡也。</p>
<p>肝著湯合腎著湯苓、朮、薑，草。　桂枝湯</p>
<p>詒按：此證病在於絡，當從經絡著意。</p>
<p>鄧評：斷其為風濕痰實邪者，全於苔脈得之。惟風善上行，今所以陷著肝腎之絡者，內被濕痰阻遏故也，豈得拘一例論之。</p>
<h2>遺精門</h2>
<p>腎者主蟄，封藏之本，精之處也。精之所以能安其處者，全在腎氣充足，封藏乃不失其職；虛者反是，增出脛痠、體倦、口苦、耳鳴、便堅等證，亦勢所必然。然左尺之脈浮而不靜，固由腎氣下虛；而關部獨弦獨大獨數，舌苔黃燥，厥陰肝臟又有濕熱助其相火；火動乎中，必搖其精，所謂肝主疏泄也。虛則補之，未始不美；而實則瀉之，亦此證最要之義。</p>
<p>天冬生地　黨參　黃柏　炙草　砂仁龍膽草　山梔　柴胡</p>
<p>詒按：此三才封髓丹加膽、梔、柴胡，方與案若合符節。</p>
<p>鄧評；濕熱助其相火，為此症之要旨，於關尺脈與舌苔上見出。故腎臟雖虛，尤必須參實則瀉之之法矣。</p>
<p>再診：大便暢行，口中乾苦亦愈，左關之脈大者亦小。惟弦數仍然，尺亦未靜。可以前方增損。</p>
<p>三才封髓丹加茯神　龍膽草　柏子仁</p>
<p>鄧評：炎上作苦，火能下降，故口苦亦愈。惟脈尚弦數未靜，是以苦寒瀉火，還當著意。</p>
<p>三診：久積之濕熱，下從大便而泄。然久病之體，脾腎元氣內虧，又不宜再瀉，當以守中法。</p>
<p>異功散　加白芍　荷葉蒂　秫米</p>
<p>鄧評：三診似乎濕熱已去，當以守中。誰知邪勢初衰之際，須防餘邪未盡，所謂爐煙雖熄，灰中有火，故至此脈象復見弦數，仍不能舍苦寒瀉火之劑也。當邪勢初衰，速爾進補者，每有此弊。</p>
<p>四診：大便已和，脈形弦數，數為有火，弦主乎肝。肝經既有伏火，不但順乘陽明，而且容易搖精。精雖四日未動，究須小心。</p>
<p>三才封髓丹　加陳皮　白芍</p>
<p>另豬肚丸苦參、白朮，牡蠣、豬肚。</p>
<p>原注：此證拈定左關獨大、獨弦、獨數，所以重用膽草、黑　梔，直折其肝家鬱火，俾濕熱之邪從大便而出。</p>
<p>孫評：此方當加生牡蠣，重清肝火。</p>
<p>金本制木，今木火太旺，反侮肺金，肺金尚受其克，則　其吸取腎水，疏泄腎精，更屬易易。此夢泄、咳嗽之所由　來也。</p>
<p>三才封髓丹　加白芍龍膽草</p>
<p>鄧評：夢泄、咳嗽並患者，非苦寒直瀉其相火不可。</p>
<p>再診：接來劄，知所言夢遺者，有夢而遺者也，比之　無夢者，大有分別。無夢為虛，有夢為實。就左脈弦數而　論，弦主肝，數主熱，熱伏肝家，動而不靜，勢必搖精。蓋　腎之封藏不固，由肝之疏泄太過耳。</p>
<p>三才封髓丹　加牡蠣龍膽草青鹽</p>
<p>三診。迭進封髓秘元，而仍不主蟄。細診脈息，左關　獨見沉弦且數。肝經之疏泄顯然。</p>
<p>萆薢分清飲（菖、薢、草、烏藥、益智、青鹽）去菖合三才封髓丹</p>
<p>加龍膽草</p>
<p>鄧評：左關獨見弦數，由於肝火之亢，當無疑義，豈得因無效　而速爾變法，故四診則病已大減矣。設非手段老練，其孰能之。</p>
<p>四診；病已大減，仍守前法。</p>
<p>前方加白芍</p>
<p>原注：病得萆薢、瞿麥而大減，是濕重於火也。</p>
<p>詒按：首案遺泄咳嗽並提，方凡四易，而未曾有一味顧及咳嗽，想以肝火為本，治其本而標病可置之耳。</p>
<p>鄧評：原注謂得萆薢、瞿麥而大減，觀前方並無瞿麥，不識何敬？想加膽草，或即瞿麥之誤否？</p>
<p>夢中遺泄，久而無夢亦遺，加以溺後漏精，近日無精，而小水之淋漓而下者，亦如漏精之狀。始而氣虛不能攝精，繼而精虛不能化氣。</p>
<p>三才封髓丹加蛤粉　芡實　金櫻子</p>
<p>詒按；此腎中精氣兩損之證，再合腎氣聚精等法，較似精密。</p>
<p>鄧評：腎氣不固，亦云極矣，理宜加重補腎。惟方用黃柏，諒必有濕火未清也。</p>
<p>曾經失血，現在遺精，精血暗傷，當臍之動氣攻築，漫無愈期，肢體從此脫力，語言從此輕微，飲食從此減少，無怪乎脈息芤而無神也。病情如此，虛已甚矣。而舌苔膩濁，中宮又有濕邪，治須兼理。</p>
<p>杞子　熟地芡實　楂炭　石蓮子　當歸茯苓　金櫻予蓮須</p>
<p>另清暑益氣湯去朮瀉草</p>
<p>原注：此九龍丹也，吳鶴皋云：主治精濁。</p>
<p>鄧評：證見中虛挾濕，與清暑益氣法甚為合拍，俾中樞有權，飲食增進，則自能化生精血，默運濕邪，又何取乎熟地之補腎，蓮須之澀精也。</p>
<p>再診：前方小效，小變其制。</p>
<p>九龍丹加於朮　半夏　茯苓　陳皮五倍子　煎送威喜丸</p>
<p>詒按：陰虛而挾濕邪，最難用藥，須看其兩面照顧處。</p>
<p>鄧評：濁膩之苔，與熟地究不相宜。</p>
<p>白濁久而不痊，以致腎失封藏，夢遺更甚，少寐少納，面痿脈小。</p>
<p>九龍丹合天王補心丹</p>
<p>另豬肚丸</p>
<p>原注：膏淋有便濁、精濁兩種。便濁是胃中濕熱滲入膀胱，與腎絕無相干；精濁牽絲黏膩，不溺亦有，是腎虛淫火易動，精離其位，漸漬而出，治宜滋腎清心、健脾固脫。九龍丹方中杞地歸，滋陰以制陽，櫻蓮芡澀以固脫，石蓮子苦寒清心，心清則火不熾，白茯苓甘平益土，以制腎邪，尤妙在山楂一味，能消陰分之障。前一案氣虛抉濕熱，故含清暑益氣；後一案心火挾濕熱，故合補心、豬肚。</p>
<p>鄧評：遺而有夢，納穀又少，清理濕熱一層，還當著意。</p>
<p>分別便濁、精濁，兩種自能了了。至宜滋腎清心、健脾固脫，即九龍丹方意也。惟還須看其偏重那一邊，藥即隨之更換可也。</p>
<p>孫評：便濁、精濁，分清而治，豈有不愈之理。</p>
<p>氣虛不能攝精，精虛不能化氣，所進飲食，徒增痰濕。</p>
<p>六君子湯加菟絲餅炮薑炭韭菜子</p>
<p>原注：純從脾臟氣虛立案。</p>
<p>詒按：案語簡潔老當，方亦周到。</p>
<p>鄧評：補氣為主，固精佐之，確與此等題旨相合。</p>
<h2>小便門</h2>
<p>陰虛之體，心火下郁於小腸，傳入膀胱之府，尿中帶血，時作時止，左脈沉數，小水不利。</p>
<p>生地木通　甘草竹葉　火府丹</p>
<p>另大補陰丸</p>
<p>詒按：此用導赤散合火府丹以清心火，即用大補陰丸以滋陰，虛實兼到。</p>
<p>鄧評：論證有曲折之妙，用藥無牽拘之弊。</p>
<p>經曰：胞移熱於膀胱則癃溺血。又日：水液渾濁，皆屬於熱。又日：小腸有熱者，其人必痔。具此三病於一身，若不以涼血之品，急清其熱，遷延日久，必有性命之憂。</p>
<p>導赤散合火府丹　加燈心</p>
<p>又丸方：固本丸合大補陰丸豬脊髓丸加萆薢</p>
<p>詒按：火甚者陰必傷，火清之後，隨進丸藥，以滋其陰。</p>
<p>鄧評：如此探源，最屬高見。惟證歸一貫，無所遁情耳。</p>
<p>前此清熱，隨兼補陰，自能層次合度。</p>
<p>孫評：柳氏火甚者陰必傷句，是格致之言。</p>
<p>膏淋、血淋同病，未有不因乎虛，亦未有不因乎熱者。熱如化盡，則膏淋之物必且下而不痛，始可獨責乎虛。</p>
<p>大補陰丸　加瓜蔞　瞿麥　牛膝　血餘</p>
<p>詒按；議論雋爽，方亦切實。</p>
<p>鄧評：膏淋、血淋，必因乎熱，不但同病使然也。惟有陰虛挾熱與濕熱並甚者不同，還當審察於間。</p>
<p>孫評：不痛貴虛，不獨膏淋為然，可稱要言不煩。</p>
<p>再診：所下之淋，薄且少矣，而當便之時，尚屬不利，既便之後，反覺隱痛，肢膝不溫，脈小弦，唇紅嗌乾。熱未全消，虛已漸著。</p>
<p>瓜萎瞿麥去附湯加麥冬萆薢黑梔豬脊筋</p>
<p>詒按：便後隱疼、膝冷咽千，皆虛象也，似當兼用滋養。</p>
<p>鄧評；病既偏於虛矣，即有餘熱未清，亦須補陰以和陽耳。</p>
<p>曾患淋證，小便本難，近來變為癃閉，少腹硬滿，小便腫脹，苔白不渴，脈小而沉。下焦濕熱，被外寒所遏，膀胱氣化不行，最為急證，恐其喘汗。</p>
<p>肉桂五苓散　加木香　烏藥　枳殼</p>
<p>另蔥一把麝香三厘搗餅貼臍</p>
<p>詒按：此溫通法也。惟由淋變癃，氣分必虛，補中、腎氣等法，亦可隨宜佐用。</p>
<p>鄧評：苔脈屬寒，故宜溫通為佐。</p>
<p>治癃閉症本有此外治之法。曾患淋症，更不免抉敗精阻竅。惟麝香能竄入竅絡而驅精，與是症為一舉兩得焉。</p>
<p>孫評：貼臍無益，細考自知：</p>
<h2>泄瀉門</h2>
<p>飧泄不由乎胃滯，即係乎陽弱，此乃兼而有之，脈遲，噯腐脘痛。</p>
<p>附子理中湯合二陳湯　加川朴　吳萸　防風</p>
<p>詒按：噯腐脘痛，食滯頗重，擬去二陳加神麯、砂仁、菔子。</p>
<p>鄧評：未可以脈遲，便謂係乎陽弱，或者陽氣窒滯有之。且脘痛之證，不免木氣內阻，中挾相火，附子一味，極宜慎用。</p>
<p>下利轉瀉，腎病傳脾，脾因虛而受邪，溫化為宜。</p>
<p>理中湯合四苓散　加陳皮　防風　伏龍肝</p>
<p>詒按：由利轉瀉，或有因濕邪未淨者。方中用四苓、伏龍肝，即此意否？</p>
<p>鄧評：下痢轉瀉，且必邪少虛多，熱去寒存，此法極相宜。</p>
<p>發熱之餘，腹痛便溏。表邪下陷也。</p>
<p>小柴胡湯加白芍木香茯苓澤瀉</p>
<p>詒按；此時邪下陷之證</p>
<p>鄧評；熱餘轉瀉，表邪下陷，固然陽不勝陰有諸，方內宜增溫化。</p>
<p>孫評；不發熱者之妙法。若發熱則不宣。</p>
<h2>大便門</h2>
<p>脾虛不能化濕，焉能統血，血雜於水濕之中，下注不止。</p>
<p>茅朮地榆皮槐花炭　鬱金</p>
<p>鄧評：此等方案，洵非老手不辦。想緣營陰未損，故無庸雜入滋養之品耳。惟白朮、伏龍肝、薏仁等味，例可加入。</p>
<p>再診：無毒治病，不必愈半而不取也，仍服原方可耳。</p>
<p>原注：此茅朮地榆湯。其人便血，挾水而下，已及半載，人不團憊而面黃，大約濕熱有餘之體。此病兩帖愈半，四帖全愈。</p>
<p>詒按：審證的確，用藥精當，有以匙勘鑰之妙。</p>
<p>腸游便血，時重時輕，或痛或否，脈形細小，飲食少。此虛也，恐增浮喘</p>
<p>歸脾湯　加薺菜花　荷葉　杭米</p>
<p>詒按；此補脾攝血之正法也。稍加和胃之品，如廣皮、砂仁輩，更為周密。</p>
<p>鄧評：痛則必有邪阻，宜疏補兼施之劑，此方未免太壅滯。</p>
<p>便血之前，先見盜汗，盜汗之來，由於寒熱，寒熱雖已，而盜汗便血之證不除，脈小而數。氣陰兩虛之病也。</p>
<p>歸脾湯去桂圓　加丹皮　山梔　地榆　桑葉</p>
<p>詒按：此證營分中必有留熱，宜於清營一邊著意。但顧其虛，猶未周到。</p>
<p>鄧評：便血、盜汗之來，由於寒熱，固必有邪熱溜陷於營分也，擬將方內參、耆易入細生地、牡蠣乃妥。</p>
<p>孫評：桑葉與盜汗不宜。</p>
<p>陰絡傷則血內溢，為日已久，陰分固傷，陽分亦弱。而身中素有之濕熱，仍未清楚，恐增浮喘。</p>
<p>大熟地伏龍肝　阿膠　白朮赤小豆　附子　黃芩炙草當歸　地榆炭　烏侮肉</p>
<p>詒按：此《金匱》黃土湯加味，陰陽並治，而兼清濕熱，立方頗為周到。</p>
<p>鄧評：凡血內溢者，病源甚多。大都見證面黃兼白，浮腫眩悸、肢痠力乏。惟血色淡紅而非深赤，脈象虛濡而不弦實，陽分受傷偏重者，附子始能合用，否則有助火灼陰之弊。</p>
<p>濕熱傷營，腹臌便血，久而不愈，左脈細澀，右芤、寸大尺小；加以浮腫，氣分亦虛，不但不能攝血，而且不能清化濕熱。防喘。</p>
<p>黃土湯草，地、朮、附、膠、芩，土。　加大腹皮　桑皮五加皮黨參槐花</p>
<p>原注：原方之妙，附子扶脾之母，黃芩清肝之熱，熟地滋腎之陰，白朮培脾之本，阿膠涼血之熱，各臟照顧，非仲景不能作也。</p>
<p>詒按：增入之藥，亦能與病機恰當。</p>
<p>鄧評：既至腫脹，而用此膠、地濁膩之品，惟血不維氣者相宜，如所云氣不攝血，究當責重氣分用藥。</p>
<p>紅白痢變為便血，當時血色尚鮮，後又轉為紫黑，或帶血水，而不了結。暑濕深入營中，氣虛無力以化，降而不升也。</p>
<p>駐車丸連、膠、薑、歸。　加廣木香　黨參　甘草伏龍肝　薺菜花</p>
<p>詒按：此證血分中有留邪，尚宜參用和血之品。</p>
<p>鄧評：立方頗佳。擬再加地榆、烏梅炭以和營血。</p>
<p>再診：血雖漸止，氣猶降而不升。</p>
<p>補中益氣湯去陳皮合駐車丸加赤芍伏龍肝</p>
<p>鄧評：脾氣久陷，豈能遽爾升健。</p>
<p>痔疾、下痢、臟毒，三者皆屬下焦濕熱為患。</p>
<p>地榆散合三奇散耆、防、枳殼。　加廣木香</p>
<p>詒按：立方精到。擬再增銀花、丹皮。</p>
<p>鄧評：單方有桂圓肉包苦參子七粒，數服便愈。吡種症情，最為相宜，亦湯劑之一助云。</p>
<p>大小便易位而出，名目交腸。驟然氣亂於中，多屬暴病。此症乃久病，良由瘀血內阻，新血不生，腸胃之氣無所附而失治，故所食之水穀，悉從前陰而出。所謂幽門者，不司泌別清濁，而闢為坦途，比之交腸證，有似是而實非者。此時論治，主以化瘀潤腸，必大腸之故道復通，乃可撥亂者而返之正。</p>
<p>旋覆花　猩絳　蔥管　歸須　首烏　柏子仁薺菜花</p>
<p>另舊紗帽一隻炙灰每服一錢五分酒下</p>
<p>原注；紗帽–發漆膠黏而成，其亦取通瘀之意耶。</p>
<p>詒按：論證用藥，均有巧思，特未知效否何如？憶喻西昌《寓意草》中，所載薑宜人交腸病，與此相似；特病原有虛實之異耳，學者當參觀之。</p>
<p>鄧評；所謂病有千變，用藥亦有千變。如此症豈可執古法治交腸而守五苓一方乎。</p>
<p>此瘀結腸燥，氣失附而迫趨前陰，故糞亦從前陰而出矣。</p>
<p>《愛廬》中僅用明礬一味，腐衣五層包，鹽湯下，日三服，三日九服，取其導痰澀大腸。</p>
<p>孫評：後《愛廬》案是暴得者，乃真交腸，宜與喻氏書三證同參。</p>
<p>發漆膠黏而成之帽，近日未見。惟有棕漆黏成者，或即是此歟。</p>
<h2>蟲病門</h2>
<p>陽絡曾傷，陰氣素虛，更有濕熱鬱於營分，日久生蟲，擾亂於上中下三焦，以致咳嗽喉痹，惡聞食臭，起臥不安，肛部不舒，舌質深紅，其苔黃濁。即仲景所謂狐惑病是也。久延不愈，即入勞怯之途。</p>
<p>川連三分　犀角蘭分　烏梅五分　人中白一錢百部一錢　丹皮一錢半　甘草三分</p>
<p>詒按：讀《金匱》狐惑病一節，此證之原委乃明。</p>
<p>鄧評：《金匱》狐惑病有蝕於上部則聲嗄，蝕於下部則咽乾，與蝕於肛者之不同。此證則上中下三焦被擾，故見象如是，方亦從《金匱》擴充而來。</p>
<p>脘腹作疼，滿腹苦熱，初起得食則痛，繼而不食亦痛。此肝胃不和，濕熱生蟲之狀。</p>
<p>烏梅丸加青皮　白芍金鈴子</p>
<p>詒按：初起得食即痛，得無兼有食積否。</p>
<p>鄧評：得食則痛，固是蛔動一症；惟有食積者亦能如此；肝氣橫郁於中宮者亦能如此。</p>
<p>再診：服前方，脘腹之痛而苦熱者，時作時止，止則右脅下必有一塊攻築。是屬蛔未安也。</p>
<p>旋覆花湯合金鈴子散　加杏仁　雷丸榧子</p>
<p>治按：蛔未安者，似宜仍用烏梅丸。此則固右脅攻築，故用金鈴子散以泄肝耳。</p>
<p>鄧評：服前方不效，而脅下一塊攻築，豈非開氣之不平乎。</p>
<p>柳師評語道破。否則何用旋覆花湯以通肝絡乎。</p>
<p>孫評：旋覆花湯因右脅而用；金鈴子散左脅是專長。</p>
<p>濕熱挾風，生蟲作癢，有似攻注之形，無處不至。難治之證也。　獺肝一錢磨開水沖服　鄧評：惟其作癢，故謂有蟲。　再診：攻注有形，而不攻注時無跡。濕熱風蟲，踞於痰中所致。</p>
<p>推氣散枳殼，桂心、薑黃、草。加白芥子　橘紅　羌活獺肝　竹油</p>
<p>另醫通沉香化氣丸大黃、黃芩、沉香、六曲、辰砂、朮、竹油，薑汁。</p>
<p>詒按：獺肝治蟲，法本《千金》。惟案中所云攻注有形，無處不到，究竟或在肢體，或在腹裏，均未敘明，無從揣測也。</p>
<p>鄧評：此方重理濕熱風痰，或係疑其非蟲乎。至云濕熱風蟲踞於痰中，亦是影響之談。</p>
<p>孫評：湯丸與蟲均不貼切。</p>
<p>人之涎下者，何氣使然？日：胃中有熱則蟲動，蟲動則胃緩，胃緩則廉泉開，故涎下。　黃連丸連、萸、木香、訶子、龍骨．合烏梅丸詒按：方案俱高簡穩實。鄧評：用一段經文作案，自是高古。既是胃熱蟲動，又何取訶子、龍骨以攝涎？</p>
<h1>評選環溪草堂醫案三卷</h1>
<p>環溪草堂醫案三卷，梁溪王旭皋先生所著也。先生名泰林，字旭皋，世為無錫人。嘉道間有以瘍醫馳名江浙者，日高錦亭先生，著有外科心得集、景岳方歌括等書行世，即旭皋先生之舅氏也。高先生歿後，先生傳其業。其始先以瘍醫行，逮後求治者日益多，寢及內科，無不應手奏效，於是遂專以內科行。門下士習業者，每年以十數計。先生讀書，上自軒岐，下迄國朝諸家，無不精心貫串。於古書則研求故訓，於後人書則必分別疑似。所著有西溪書屋夜話錄、醫方歌括串解、及環溪草堂醫案諸書，均未梓行。其醫案為門弟子隨時鈔錄，未經分別去取，不免繁複者多。余所得見者，蓋有五六本，詳略互異。因屬及門諸子刪其繁亂，重為鈔輯。最後得王家橋顧君蓮卿本，係先生晚年之作。又得方君耕霞新刊本，案甚繁富，頗有方案足取而為他本所未載者，一併補錄，簡其精粹，分為三卷。間有未盡之意，隨加按語以闡明之，閱一年而竣事。先生居錫城，去余家不百里，余弱冠時猶及見之。吾鄉有疑難證，無不求治於先生者，先生必沉思渺慮，疏方與之，厥後或效或否，或有無力再往者，先生必訪悉之，令其再診，以竟厥功。故其所存方案，無不光堅響切，無模糊影響之談。蓋較近賢之專以靈變取巧者，不啻上下床之別矣。先生博極群書，所用諸法，如治小兒喘嗽之藥棗，從葛可久之白鳳丹化出；治上熱下寒之八味丸，用紫雪為衣，從喻西昌外廓之論悟出。若此之類，不勝枚舉，是皆因古法而變化出之。彼胸無古書者，每讀之而猝難領會。余於此等處，均為一一指出，學者苟能即是而得讀書用古之法焉，則庶乎不負先生之苦心也夫。</p>
<p>光緒二十六年重陽日江陰柳寶詒謹識</p>
<h1>評選環溪草堂醫案上卷</h1>
<p>無錫王泰林旭高著</p>
<h2>內傷雜病門</h2>
<p>病將一載，肝氣橫逆而不平，中氣久虛而不振。惟肝逆，故胸脘阻塞而攻衝；惟中虛，故營衛不和而寒熱。凡大便溏、飲食少、右脈細、左脈弦，是其證也；四君子合逍遙、加左金，是其治也。</p>
<p>黨參　冬朮　陳皮　茯苓　歸身　神麯　白芍　柴胡鹽水炒　香附鹽水炒　川連吳萸炒　穀芽　玫瑰花</p>
<p>詒按：案語爽朗，方亦的當。擬再加沉香、鬱金。</p>
<p>鄧評：論證明晰，用藥不紊。惟寒熱而便溏，脈細弦者，總宜兼溫理脾胃營衛，如桂枝、煨薑、大棗之類；肝逆攻衝，金鈴子亦在需用。方內川連或可刪去。</p>
<p>再診：陽虛惡寒，陰虛發熱，脾虛則便溏而乏力，木旺則脘痞而氣塞。前方補中泄木，肝氣已平，合以蓋火生土、氣皿雙補。</p>
<p>黨參　冬朮　蓯蓉　鹿角霜　杞子　木香　菟絲子　歸身　白芍　陳皮</p>
<p>茯苓　杜仲　砂仁　玫瑰花　詒按：肝氣平後，續用培補，是一定層次。惟既有寒熱見證，似可參用桂技建中之意以和之。</p>
<p>鄧評：觀及此診，可謂先得我心者矣。</p>
<p>三焦相火，挾肝陽而上升，每日侵晨，則氣自臍左而上衝，心胸痞塞，自覺胸中熱，舌尖辣，面色紅，過午則氣漸下降，至夜則安，而火降則下或遺泄。此皆無形之火為患也。推其原始，由乎陰虛；今則相火妄行，蒸煉胃液成痰，所以吐痰黏膩灰黑，而咽嗌胃管之間，常覺不流利也。法當清相火、導虛陽，而下歸窟宅，更佐以化痰鉦逆。病來已久，難期速效。</p>
<p>黃柏鹽水炒一錢二分桂心三分　砂仁炒三分　蛤殼一兩　甘草三分知母鹽水炒一錢二分　川連鹽水炒四分　茯苓三錢玄精石三錢長流水煎</p>
<p>詒按：此方取交濟、封髓之法，用意極為精到。惟病因肝腎不攝，虛陽浮逆，擬再加牡蠣、龜板以攝下，旋覆、竹茹以清上，似於病情更為周匝。</p>
<p>鄧評：推論病源，不外乎是，制方亦極精切不泛。脈雖未見，而關尺想必弦大且數。</p>
<p>孫評：牡蠣似須必加，白芍亦為要藥。黃柏、砂仁名封髓，川連、內桂多交濟，人參、枳實名補瀉法，川連、乾薑名瀉心法。此皆法之巧者也。</p>
<p>痰之標在肺胃，痰之本在脾腎，腎虛則水泛，脾虛則濕聚，二者均釀痰之本也。經日：脾惡濕，腎惡燥。脾腎兩虛，法當滋燥兼行；而痰戀肺胃，又宜標本同治。</p>
<p>熟地　茅朮芝麻炒　陳皮　川貝　茯苓　半夏　紫菀</p>
<p>詒按：案語斟酌病機，切實不泛，用藥亦絲絲入筘。用黑地黃法以兩補脾腎，合二陳以和胃，菀貝以利肺。藥品無多，而層層都到，非有簡煉工夫，不能作此。</p>
<p>鄧評：治一病而標本虛實悉到，且無浮泛牽拘之弊。</p>
<p>孫評：川貝易杏仁何如？</p>
<p>凡臟邪，惟虛則受之，而實則不受；惟實者能傳，而虛則不傳。仲景云：肝病實脾，治肝邪之盛也；內經云；肝病緩中，治肝體之虛也。此證肝氣有餘，肝血不足，法宜兩顧為得。</p>
<p>歸身　白芍　沙苑　杞子　冬朮　茯神　青皮　陳皮　香附　金鈴子　砂仁</p>
<p>詒按：議論確鑿，非胸中有古書者不能道；方亦精到。方中歸、芍、杞、苑，所以養肝血；青、陳、香、鈴，所以疏肝氣。藥品看似平常，用意恰已周到。</p>
<p>鄧評：此段議論，引用未能的當。方尚平穩，惟香燥洩氣之品太多。凡肝體既虧，肝用自旺，廿潤柔肝，是所以補肝體即所以平肝用也。</p>
<p>孫評：開口即從至情實理立論。</p>
<p>腎水不足，君火上炎，相火下熾。心中如燔，舌光如柿，陽事易舉，陰精易泄。擬清君火以制相火，益腎陰以制肝陽。所慮酷熱炎蒸，恐藥力無權，將亢陽為害，而增劇耳。</p>
<p>川連鹽水炒　黃芩　黃柏　阿膠　生地　甘草　雞子黃</p>
<p>另大黃三錢　研末將雞子一個　破頭納大黃三分　蒸熟每日服一個。</p>
<p>鄧評：此方為陽亢而致陰虧者設。惟阿膠似宜易龜板較勝。</p>
<p>此種丹方亦足取法。</p>
<p>孫評：制相火、益腎陰，須藉成寒，前人明訓；第宜擇介類以潛之，庶為貼切。方中加煅牡蠣何如？</p>
<p>再診：投苦鹹寒堅陰降火，以制亢陽，心中之燔灼，與舌色之光紅，俱減三分之一。然上午之身熱如燎者未退；幸納食頗增，苦寒可進。再望轉機為妙。</p>
<p>川黃連　阿膠　生地　玄精石　黃芩　甘草　玄參　蛤殼雞子黃</p>
<p>鄧評：上午身熱，即偏於陽盛之徵。若由乎陰虛者，則熱必作於暮夜矣。</p>
<p>三診：舌乾紅，知饑善納。水虧陽亢，土燥於中，鹹苦堅陰之劑，雖衰其燔亢之勢，而未能盡除其焰。時當炎暑，濕熱與相火蒸騰。擬復入清中固下祛濕之法，仍不出鹹苦之例。</p>
<p>洋參石膏知母　甘草麥冬　川連　阿膠　生地蛤殼黃柏豬膽汁丸每朝服三錢</p>
<p>詒按：君相交燔，腎陰被灼，所謂一水不能勝二火，此證是也。僅與壯水，猶難勝任，必得苦以泄之，成以制之，而火乃退；更得苦以堅之，成以滋之，而陰乃復。</p>
<p>鄧評：此證每多挾濕熱，不徒為時令所致。</p>
<p>孫評；苦泄是大黃、川連，苦堅是黃芩、黃柏，成制是玄精石、玄參，鹹滋是阿膠，牡蠣。</p>
<p>營陰虛，則氣火易升；肝木橫，則脾土受侮。腹滿頭暈，肝脾之病；耳鳴喉燥，虛火之愆。陰虛生內熱，腎虛故腰痛。擬補陰潛陽、扶土抑木法。</p>
<p>生地砂仁炒四兩茯苓烘三兩山藥炒三兩　萸肉酒炒三兩丹皮酒炒二兩　澤瀉炒三兩　龜板炙三兩　沙苑鹽水炒三兩　黨參炒三兩　杜仲鹽水炒三兩歸身酒炒三兩白芍炒二兩　石決明煅四兩</p>
<p>上藥為末，煉蜜打和為丸，曬乾，泛上後藥：</p>
<p>香附三兩分三分一分鹽水炒，一分醋炒、一分蜜水炒　陳皮鹽水炒七錢　沉香三錢　神麯一兩</p>
<p>上藥為末，用橘葉湯泛上前丸為衣。</p>
<p>詒按：以補藥為丸，而以和氣之藥末，泛上為衣，與喻嘉言藥用外廓之意相合。雖無精義可取，而心思靈巧，可備一格。</p>
<p>鄧評：藥用外廓，固一巧法。然證見腹滿，陰柔之品，終慮礙脾。愚擬一方於下，以備同學采擇：</p>
<p>川連、益智、廣皮、茯苓、製香附、白蒺藜、歸身、白芍、首烏、木瓜。</p>
<p>孫評：喻西昌外廓之法，用薑附猛烈，用參苓為衣，過胃入下，始露威靈，其法本巧；今則以呆滯為心，而以流動為衣，仿其意而變通之，真善讀書者也。</p>
<p>夜涼晝熱，熱在上午，此東垣所謂勞倦傷脾之證也。上午熱，屬氣虛，用補中益氣湯，補氣升。</p>
<p>補中益氣湯　加神麯　茯苓</p>
<p>詒按：論證立方，如開門見山，心目俱朗。</p>
<p>鄧評：熱在上午，責之陽氣，斯為不易之理。惟虛而發熱，當或有形寒見證。此病本尚未咳，咳則升柴不宜用也。</p>
<p>寒邪傷陽，亦每多上午寒熱。</p>
<p>泄為脾病，嘔為胃病，脾胃屬土，居中而司升降。脾宜升，不升則泄；胃宜降，不降則嘔；土衰則木橫，木橫而土益衰。高年當此，頗慮土敗木賊。古人治肝，當先實脾。況茲土弱，尤當先補其中，稍佐平肝可也。</p>
<p>理中湯　加茯苓　橘餅</p>
<p>詒按：案語理明詞達，方法切實不浮。但既有嘔惡見證，則半夏似不可少。擬再加木瓜、白芍、砂仁。</p>
<p>鄧評：治肝實脾，原為脾土弱者而設。方於平肝一面自嫌疏漏，柳師增味頗合，如烏梅、防風、白蒺藜、金鈴子、吳萸、川連等味，均可臨時選用。</p>
<p>孫評：木橫則土益衰，所以柳氏加瓜、芍平肝，於土亦有益。大有見解</p>
<p>有時驚悸，有時肌肉頑木，或一日溏泄數次，或數日一大便而堅乾，惟小便常紅。此心氣鬱結，脾氣失運，失運則生濕，鬱結則聚火，火則傷津，濕則阻氣，而氣機不利矣。擬荊公妙香散加味，以補益心脾。</p>
<p>山藥　洋參　黃耆　茯神　赤苓　桔梗　炙草　遠志　麝香　朱砂　木香　川連麥冬</p>
<p>上藥為末，用藿香陳皮湯泛丸，每服三錢，開水送下。</p>
<p>詒按：專主心脾立論，思路精確。</p>
<p>鄧評：此症心肝有亢火，脾家聚濕飲，大便之或泄或結，即濕與火之造偏也。　引用是方，不免泥古。惟心脾虛而鬱結者為宜，於此病則未必中窾。擬苓桂朮甘湯加川連、蒺藜、陳皮、白芍、遠志、首烏。</p>
<p>血不養心，則心悸少寐；胃有寒飲，則嘔吐清水；虛火爍金則咽痛，肝木乘中則腹脹。此時調劑，最難熨貼。蓋補養心血之藥，多嫌其滯；清降虛火之藥，又恐其滋；欲除胃寒，慮其溫燥劫液；欲平肝木，恐其克伐耗氣。今仿胡洽居士法，專治其胃，以胃為氣血之鄉，土為萬物之母，一舉而三善備焉。請試服之。</p>
<p>黨參　冬朮　茯苓　半夏　棗仁　扁豆　陳皮　山藥　秫米</p>
<p>詒按：於無可措手中，尋出養胃一法，自屬扼要之圖。擬再加木瓜、白芍以和肝，竹茹，麥冬以清肺，似更周匝。</p>
<p>鄧評：此種醫案，便覺強做無歸束，參合症情，總由木火鬱沖，宜增疏泄之品治之，方內山藥、黨參，尚嫌其滯。</p>
<p>孫評：牡蠣一味，似屬妙品。</p>
<p>骨格瘦小，先天元氣不足。夏秋寒熱，至今不已，脈細數弱，氣血兩虧。頭不痛而但身痛，或口沃清水，此胃陽虛憊也。當商溫補，仿東垣法。</p>
<p>黨參茯苓　陳皮　桂枝柴胡　黃耆半夏　神麯　當歸　乾薑砂仁</p>
<p>詒按：少陽生氣被鬱，故寒熱不已。東垣升陽益胃法，用之恰合，加於薑者，助胃陽也。</p>
<p>鄧評t脈既細數，似宜兼養營陰。不及轉方為妥善。</p>
<p>孫評。認定身痛想法，此係久病。若暴感，宜疏邪而不宜補。</p>
<p>似可從原方增白朮。</p>
<p>再診；前方補中益胃．溫衛氣，開腠理，諸恙皆減，仍依前法。</p>
<p>前方去神麯　乾薑加白朮　白芍</p>
<p>衛氣虛則灑灑惡寒，營氣虛則蒸蒸發熱。營衛並出中焦，總以脾胃為主。補脾胃則金有所恃，不必治肝而肝自馴矣。</p>
<p>黨參　冬朮　當歸　川貝　黃耆　茯苓　白芍　陳皮玫瑰花</p>
<p>詒按；為虛損證，探原立論，方亦精到。</p>
<p>鄧評：觀方論，似挾肝經之氣火，荊金致咳、乘中作脹之義。</p>
<p>營陰內虧，頭眩心嘈，下午微寒內熱，能食無力。胃'中有熱則消穀，脾虛氣弱則無力也。</p>
<p>黨參　沙苑　茯苓　川連　棗仁　知母　女貞子　白芍　冬朮　麥冬　竹茹</p>
<p>詒按：此虛損初萌之侯，因脾虛氣弱，未便滋補耳。</p>
<p>鄧評：此症究屬陰虛為重，既以善消能食，冬朮宜易生地。</p>
<p>左脈空大，腎水虧也；倦怠無力，脾氣弱也；食少則陰虛，陰虛生內熱，證屬內傷。</p>
<p>補中益氣湯加黑山梔　白芍</p>
<p>另六味丸每朝服四錢</p>
<p>詒按：補中益氣補脾氣，六味補腎陰，立法頗切實。惟左脈空大，方中升柴兩味，尚宜斟酌耳。</p>
<p>鄧評，左脈空大，不但腎水虧，更知肝陽旺，若再投以升柴，深恐陽升至極，而卒致暈厥矣。</p>
<p>孫評，陰虛內熱，黑梔當商，易骨皮何如？</p>
<p>思慮傷脾之營，勞碌傷脾之氣。歸脾湯，補脾之營也；補中益氣湯，補脾之氣也，今將二方，併合服之。</p>
<p>黨參　黃耆　冬朮　茯神　歸身　炙甘草砂仁　棗仁升麻　柴胡　木香　半夏　陳皮</p>
<p>詒按：同是脾病，而病原用藥，確有氣營之別。一經指點，便覺頭頭是道。</p>
<p>鄧評；方用棗仁之酸斂，想由神魂不寧。然勢必難任升柴，還望商諸博雅。</p>
<p>孫評：傷營則午後內熱，傷氣則倦怠乏力。'</p>
<p>腎氣虛逆，非滋不納；脾弱運遲，滋則呆滯。然則如何而可？日補腎之陽，即可以轉運脾氣。從仲景腎氣丸化裁。</p>
<p>熟地附子三分炒五味子　茯苓　山藥　肉桂心　麥冬元米炒　牛膝鹽承炒山萸肉　陳皮紫石英　補骨脂鹽水炒胡桃肉</p>
<p>詒按：補腎即可補脾，益火以生土也，用腎氣丸恰合。</p>
<p>鄧評：若肝腎無亢火者，惟以此法為上策。經是加減，較原方更覺切實。</p>
<p>孫評t須看其將兩面合成一氣之法。</p>
<p>久病之軀，去冬常患火升。交春木旺，肝膽陽升無制。倏忽寒熱，頭面紅腫，延及四肢，掀熱癢痛，殆即所謂游火遊風之類歟。匝月以來，腫勢已減。四五日前，偶然裸體傷風，遂增咳嗽音啞痰多，口乾舌白，續發寒熱，胃氣從此不醒，元氣愈覺難支，風火交煽，痰濁復甚，陰滓消涸，陽不潛藏。此時清火養陰，計非不善，抑恐滋則礙脾；化痰扶正，勢所必需，又恐燥則傷液。立法但取其輕靈，用藥先求其無過。</p>
<p>北沙參　知母　鮮生地　蛤殼　海浮石　蟬衣　豆卷　青果　海蜇　地栗　百合</p>
<p>另珠粉朝晨用燕窩湯送下三分</p>
<p>原注：上方《金匱》百合知母地黃湯，合本事神效雪羹，取其清火化痰，不傷脾胃}　生津養液，不礙痰濕。酌古參今，歸於平正。</p>
<p>詒按：議病用藥，均歸精細，躁心人不能領取也。</p>
<p>鄧評。風火交煽，恰合此病題旨。然不祛風，而但清火，其病根必不除，否則亦冀其敷衍而已。</p>
<p>紫菀、款冬，應可加入，就舌白論，即蜜炙薑、橘，亦為需用。</p>
<p>孫評；豆卷似不若桑葉之妙。</p>
<h2>中風門</h2>
<p>兩手關脈，皆見一粒厥厥動搖之象。此土虛木勝，內風動躍之候也。左半肢體，麻木不仁，頭眩面麻，病屬偏枯，慮延僕中　首烏　當歸　白芍　茯苓　陳皮　秦艽　菊花　天麻　石決明　鉤鉤　刺蒺藜　桑枝　鄧評：論病有卓識，立方亦精到。　再診{動搖之脈大減，內風有暗熄之機，左手屈伸稍安，左足麻木未和。擬補腎生肝，為治本之計。</p>
<p>地黃飲子（地、山萸、斛、蓯、桂、附、麥冬、薑、五味、菖蒲、遠志、茯、巴戟、大棗。）去桂附</p>
<p>詒按：未雨綢繆，故易於奏效。兩方用藥，亦能與病機宛轉相赴。</p>
<p>鄧評：前方既已中窾，再診何必更張。</p>
<p>孫評：原方有薄荷。</p>
<p>體肥多濕，性躁多火。十年前小產血崩，血去則陰虧而火亢，肝風暗動，筋絡失養，已非一日。去秋伏暑後變三瘧，瘧久營衛偏虛，遂致風痰擾絡，右半肢體麻痹，而為偏廢之象，調理漸愈。今但右足麻辣熱痛，痛自足大指而起，顯係肝經血虛失養。據云腿膝常冷，足骱常熱，此非足骱有火，而腿膝有寒也。想由濕火乘虛下注，故痛處覺熱，而腿膝氣血不足，則覺寒耳。至於左脛外廉皮肉之內，結核如棉子，發作則痛甚，此屬筋箭，是風痰瘀血交凝入絡而成。與右足之熱痛麻辣不同。今且先治其右足。</p>
<p>生地　阿膠　五加皮　歸身　木瓜　天麻　冬朮　獨活　絲瓜絡　牛膝　茯苓　萆薢　詒按：論頗明透，方亦平穩。</p>
<p>鄧評：冷熱異處，論歸一貫。左右雖各異狀，方藥實堪並治。</p>
<p>年已六旬，腎肝精血衰微，內風痰涎走絡，右偏手足無力，舌強言澀，類中之根萌也。溫補精血，兼化痰涎，冀免偏枯之累，然非易事也。耐心調理為宜。</p>
<p>蓯蓉　巴戟　茯神　木瓜　半夏　枸杞鹽水炒　遠志甘草湯制　海風藤　茱萸酒炒牛膝　杜仲鹽水炒</p>
<p>詒按：此與下條均因有類中之萌，作未雨綢繆之計，故用藥力求平穩，不敢喜事以邀功也。</p>
<p>鄧評：老年得此，務須溫補兼化為治·</p>
<p>方從地黃飲子加減，殊有斟酌。</p>
<p>腎藏精而主骨，肝藏血而主筋，腎肝精血衰微，筋骨自多空隙，濕熱痰涎，乘虛入絡，右偏手足無力，舌根牽強，類中之根。溫補精血，宣通經絡，兼化痰涎，守服不懈，加以靜養，庶幾卻病延年。</p>
<p>蓯蓉　黨參元米拌炒　牛膝　半夏　杞子鹽水炒　陳皮　續斷茯苓　巴戟　桑枝</p>
<p>又丸方：</p>
<p>蓯蓉二兩酒煮爛搗入　黨參三兩元米炒　熟地四兩砂仁末陳酒拌　麥冬二兩去心元米炒　棗仁三兩炒研　巴戟三兩鹽水炒-　歸身二兩酒炒　萆薢三兩炒　首烏四兩制炒　茯神三兩　牛膝三兩鹽水炒半夏二兩　天冬二兩去心元米炒陳皮二兩五錢　杜仲三兩鹽水炒　虎骨三兩炙　菖蒲一兩　杞子四兩鹽水炒</p>
<p>上藥各選道地，如法制炒，共研細末，用竹瀝四兩、薑汁三兩，搗入，再將白蜜為丸，如黍米大，用磁器裝好，每朝服五錢，開水送下。</p>
<p>鄧評；方論均平正通達，與上一案大略相同，蓋用古期乎能化者。</p>
<p>丸方更為周匝。</p>
<p>孫評：右偏手足無力，有由脾胃氣衰，夾痰入絡者，用玉屏風散，溫膽湯而愈者，又是一格。</p>
<h2>痿痹門</h2>
<p>先天不足，骨髓空虛，常以後天滋補栽培脾胃，脾胃得補，濕熱壅滯，形體驟然充壯，而舌本牽強，兩足痿軟，不能行走，上盛下虛，病屬痿壁。經云：濕熱不攘，大筋軟短，小筋弛長，軟短為拘，弛長為痿是也。今擬法補先天之精氣，強筋壯骨，以治其下；扶後天之脾胃，運化濕熱，以治其中。然必耐心久服，確守弗懈，庶克獲效。倘朝秦而暮楚，恐難許收攻也。</p>
<p>熟地四錢　附子三分煎汁炒　茯苓三錢　牛膝一錢五分鹽水炒　桑枝一兩虎脛骨炙三錢川斷二錢酒炒　巴戟三錢鹽水炒　黃柏一錢薑汁炒　蒼朮一錢五分　萆薢二錢鹽水炒　竹瀝二十匙　薑汁一匙　另洗方：獨活三錢　當歸五錢　紅花一錢　陳酒糟=兩　豬後腳骨二隻蔥白頭三個煎湯日洗一次</p>
<p>詒按：此等證本難奏效，其立方仍從丹溪虎潛法加味，用藥固未嘗不切當也。</p>
<p>鄧評：先天未足，濕熱已壅，此種弊端，醫家最易犯及，直可以東垣清燥湯治之。</p>
<p>伏熱留於肺胃，胃熱則消穀易饑，肺熱則躄痿難行，熱氣熏於胸中，故內熱不已。延今半載，節屆春分，天氣暴熱，病加不寐。據述先前舌苔黃黑，今則舌心乾紅，其陰更傷。仿仲景意，用甘寒法。</p>
<p>生地三錢　知母一錢五分　茯神三錢　棗仁一錢五分　麥冬二錢　滑石三錢　夜合花五分　沙參三錢百合一兩　泉水煎服</p>
<p>詒按：《金匱》百合病篇，有以百合配知母、地黃、滑石等法，此方即用其意。</p>
<p>鄧評：痿躄一症，本屬陰虛挾濕熱居多，甚且有夾內風者。今見舌乾易饑，是風火內擾，有灼陰化燥之象，無濕壅之咎，故立方專主甘寒，以養陰清燥為主務。</p>
<p>再診。經云：肺熱葉焦，則生痿跫。前方清心肺而退熱，已能起床步履。但夜不安寐，是腎氣不交於心，陰虛陽亢故也。清金麗水，取坎填離為治。</p>
<p>生地天冬麥冬棗仁　山藥　玄參沙參　洋參　百合　另虎潛丸三錢</p>
<p>詒按：經云：肺熱葉焦，則生痿躄。又云：治痿必取陽明。經訓照然，守此二語，治法不外是矣。</p>
<p>鄧評：不寐症每多挾痰，或可參入二陳，一或用半夏秫米法，而於大劑甘涼內，增此區區之辛燥，當無劫液之弊。</p>
<p>此丸為治痿之專方。　．</p>
<p>三診；陰虛未復，夜寐未安，熱退不清，仍宜養陰。自云腹中微微撐痛，此屬中虛。治當補益脾陰，兼清心肺之熱。</p>
<p>生地沙參　洋參　山藥　麥冬棗仁薏米　茯神　甘草　白芍赤苓百合</p>
<p>另歸脾丸</p>
<p>鄧評：腹之撐痛，固屬中虛木乘，抑或前方純用甘寒之咎乎。</p>
<p>擬去洋參、山藥，增陳皮、木瓜、金鈴子。</p>
<p>冷雨淋背於先，竭力鼓棹於後，勞碌入房，挾雜於中，病起身熱咳嗽，至今四十餘日。痰氣腥臭，飲食能進，臥床不起，形肉消脫，是肺先受邪，而復傷其陰也。經云：陰虛者陽必湊之，肺熱葉焦，則生痿蹙。又云t一損損於肺，皮聚毛落，至骨痿不能起床者死。合經旨而互參之，分明棘手重證矣。</p>
<p>沙參紫菀茯苓地骨皮川貝玉竹薏仁</p>
<p>另八仙長壽丸四錢</p>
<p>鄧評：腎虛精虧，邪乃深入，症情至此，固亦難矣。計惟四十餘日，飲食能進，養陰散邪並投，猶可冀幸萬一，當時立方，非不善也。竊思如葛氏保和湯，或者較能著力耳。果係入房受寒，而正氣未至竭盡者，則麻、辛用於地、麥、五味內，尤屬切實。</p>
<p>再診：肺為水源，百脈朝宗於肺，猶眾水朝宗於誨也。肺熱葉焦，則津液不能灌輸於經脈，而為痿蹙。、臥床不能行動，形肉消削，咳嗽痰臭，舌紅無苔，脈細而數。是皆津液消耗，燥火內灼之象。考經論治痿獨取陽明者，以陽明主潤宗筋，胃為氣血之源耳。今擬生胃津以供於肺，仿西昌喻氏意</p>
<p>沙參　阿膠　杏仁　甘草　玄參　火麻仁　天冬　麥冬　玉竹　茯苓　桑葉　枇杷葉</p>
<p>詒按：議病立方，深合《內經》痿論之旨。</p>
<p>鄧評：據此苔脈，火灼陰損已極。然風寒究竟閉鬱，倘痰黏厚而腥臭重者，如萎蕤湯法，亦可出入仿用乎。愚不揣鄙陋，粗備法則，以侯有識者采擇。</p>
<p>三診；投清燥救肺法，病情稍安，仍宗前制</p>
<p>桑葉　杏仁　麥冬　川貝　百合　玄精石　阿膠沙參　玄參　枇杷葉　野茭白根</p>
<p>鄧評：迭次三診，方法平穩有餘，但可以扶持時日，未必能拔除根蒂。噫，殆亦限於時勢迫促耶。</p>
<p>孫評：用茭白根，諒因腥氣未清。仍參紫菀、薏仁何如？</p>
<p>長齋廿載，精血久枯；大雨淋身，濕侵入骨。腿股疫重，不能舉動。法以宣通關節，佐以養血生津。</p>
