<header data-type="book">
<h1>喉科指掌</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張宗良</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1757">公元1757年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://archive.org/details/02093592.cn">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>敘</h1>
<p>夫醫之為類最繁，其為道甚難，而於咽喉一科則尤難之難者也。咽以納食，喉以納氣。納食者，為胃脘，下通於脾，從土化，納氣者，為肺脘，下通於心，從金化。金性燥，其變動為澀，澀則閉塞而不仁，故喉病謂之痹。土性濕，其變動為泥，泥則壅脹而不通，故咽病謂之腫。治咽喉者，夫人能知之，而至其證之虛實寒熱，與夫治法之攻補升降，所為剖析於毫芒，折衷於疑似者，非聆音切脈、辨氣察形，鮮不以銖黍之差，成淄澠之判，即或兢兢慄慄，試探揣摩，恐不得當。顧勢急而救之以緩，傷重而扶之以輕，因循之害，其去謬戾幾何，故曰難之難者也。吾郡留仙張先生素精醫理，其於咽喉一科，究心益深且久，采緝成方，參以己見，條例詳細，裒集成編。自神氣脈理，以及色之青紅紫白，音之高下沉浮，一一皆有註釋，瞭然指掌，較荅列眉，合諸所治之症，如燈取影，百無一失。真濟阨之慈航，拯危之寶筏。其所經驗取效，蓋不可勝紀。同人咸慫恿付剞劂，俾遠近之習是道者，流傳其說，發揮其蘊，其為功於世宙也，何可涯量。是為序。</p>
<p><u>乾隆丁丑春王二月賜進士及第浙江提督學院共部左侍郎長洲彭啟豐芷庭氏拜撰</u></p>

<h1>卷之一</h1>

<h2>咽喉大綱論</h2>
<p>夫咽喉者，左為咽，右為喉。咽屬胃，喉屬肺，乃一身之總要，百節之關防，呼吸出入之所也。經云：一陰一陽結而為喉痹。痹者閉也。有風、有寒、有火、有濕、有毒、有虛，或風火相傳，或寒濕相聚，其症不一，變幻不測。故漫腫而痰多者風也，淡白而牙緊者風寒也，紫色不腫而爛者伏寒也，紅腫而脈浮者風火也，脈沉實爛而不腫者毒也，脈細數而浮者虛火也，細遲者虛寒也。風火寒濕毒虛，皆類而推之可也。大凡初起之症，胗右寸洪緊者，肺風也；兩關浮數者、胃火肝風也；左寸浮洪者，心火也；右寸沉遲者，□伏寒也；沉數者，伏熱也，右尺洪大者，三焦火旺也；左尺洪而有力者，腎虛火也。此數部脈者，乃大略也。可總用六味湯加減治之。若凶險等症，須胗其脈、相其形，再詳其受病之源，細詰其所起之端，而用藥對病自然愈之速矣。故凡治咽喉之症，其要在於脈與形名耳。經云：神聖工巧，不過望聞問切，以此推詳，庶無差誤。余習幾十年來□□□□□見其效，今謹集要方九方，製藥法、看治法臨症□□□□□□諸其人也。</p>

<h2>喉舌分經說</h2>
<p>喉有二孔，左為咽，屬胃（納食之關。）右為喉、屬肺（納氣之關。）口內上齶屬胃（陰分），下齶屬脾（陽分），舌之中心屬心，四圍屬脾，舌根亦屬心經，小舌名帝丁屬胃。喉之左右通舌根者肝經，外兩耳垂下肝經。舌白苔屬寒，黃苔者屬熱，如焦黃者熱甚，黑者熱之極。凡舌苔不論黃焦黑，以指摸之而滑有津者，非真熱也，不可一味涼藥，用八味丸引火歸原之法。大舌邊紅，脾之火也，可用清涼之劑。喉癰地位屬肝，再進內寸許，或爛或腫，俱屬脾胃火毒之症。結毒者亦有之，但兩關脈浮者，非結毒也，沉者為真。此乃分經之大略，若喉舌諸症，另後分形，細查無謬。</p>

<h2>咽喉看治法總要</h2>
<p>（共十四條）</p>
<p>凡治毒症之法，須看其氣血壯盛者，多服涼藥不妨。如氣血衰弱者，涼藥不可多用，多則氣血愈衰，即用十八味神藥為妥。</p>
<p>凡治喉中紅腫者，須視或癰、或蛾，認症不真不可下他藥。先用六味湯一服，吹金不換。然後查清，加減可也，切不可輕易加減。急者先針患上出血亦可。</p>
<p>凡帝丁在咽喉當中，為人一身之主宰，動刀針時切宜防犯，犯則血出不止。痼腫極難治也。</p>
<p>凡夜深看症，須得細照，再三推詳。如見症不真，不可輕用刀針，亂投藥石，先服六味湯一帖，令患者漱吃，以俟天明再看。</p>
<p>凡看症或病者痛腫，口不能開，吹藥不得者，灸頰車穴三、五壯，或用通關散吹鼻內，或煎水灌於鼻中亦可，令病者連連嚥下，開口為度。</p>
<p>凡針舌下兩邊青筋，血出鮮者易治，成塊黑者死。若痰血熱結於胸中，連服涼膈散，消痰解毒為妙。</p>
<p>凡諸藥料，必須揀道地者預備，俱為細末，臨期急用，將白滾水泡一刻，去渣，頻漱嚥下為度。如煎，不可多煎，數滾為準，多煎則不效矣。</p>
<p>凡每年有時疫喉風，俗名鰻鯉瘟。兩腮腫脹，沿街遍巷有一門傳染者，此症乃少陽經之患。用六味湯加蘇葉、羌活、牛蒡、柴胡各一錢，服之可愈。如一門人多，用十服之料，煎一大鍋，每人分吃。</p>
<p>凡針必須以銀打就，細如大引針，頭上一粒如菜子樣，略鑿一小缺。有用針頭灸之法，取其易放艾員耳。</p>
<p>凡艾要陳者為妙，員如小綠豆大，置於針頭缺處，以香燃之灸，或多少不一，看症之輕重耳。（此為針頭灸。）</p>
<p>凡喉槍不可用鋼闊頭長大者。近來病人多畏用手法，況喉間地步窄側，如動手之時，病者或搖頭退縮，恐傷他處。必要或銅，或金銀，外打一小筒，中藏利刃，收放在手，捺出則鋒露，收之則藏，不傷別處矣。</p>
<p>凡針身、首、四肢之穴必用細針，惟十指五穴，可用三稜針針之，以血多為妙。</p>
<p>凡看症，若病者以舌疊起，則不見喉間矣。必須以物壓之，則舌不疊起矣。或骨，或牙，或角皆可，壓舌之具。</p>
<p>凡治應病方藥，必須依此分量，不可因藥味太重，以大黃等為峻利，心生疑忌，不敢服之。餘存心濟世，決不用重劑誤人。古云：有病則病當之，豈有害於患者哉。更不可輕聽人之言，反誤其事。惜乎！</p>

<h2>十六絕症</h2>
<p>舌卷囊縮　油汗如珠　啞喉嗆食</p>
<p>吐血喉癬　聲如鋸錯　鼻搧唇青</p>
<p>脈細身涼　角弓反張　十指無血</p>
<p>喉干無痰　六脈沉細　大便十日不通</p>
<p>天柱倒折　兩目直視　壅痰氣塞</p>
<p>喉菌不治</p>

<h2>又四絕症</h2>
<p>走馬喉風　鎖喉風　走馬牙疳</p>
<p>纏喉風</p>
<p>（此四症皆凶險之症。若不吐、不瀉、針之無血、藥不能入，俱為不治，醫者慎之！）</p>

<h2>右手圖</h2>
<figure>
<img data-orig-src="urn:270:05017.jpg" alt="右手圖">
</figure>
<p>肺脈浮澀而短，脾脈緩而散大，命門脈緩而悠洋。三部之脈，呼吸四至為平，反此則病。遲則寒，數則熱，細緩則虛寒，細數虛熱。</p>
<p>（右手三部：寸屬肺與大腸、關屬脾與胃、尺屬命門三焦。）</p>

<h2>左手圖</h2>
<figure>
<img data-orig-src="urn:270:05018.jpg" alt="左手圖">
</figure>
<p>心脈悠洋緩散，肝脈沉而弦長，腎脈虛細（女尺宜大，四至為平，反之則病。）病脈同前。</p>
<p>（左手三部：寸屬心與小腸，關屬肝與膽，尺屬腎與膀胱。）</p>

<h2>針穴圖</h2>
<figure>
<img data-orig-src="urn:270:05019.jpg" alt="針穴圖">
</figure>
<p>頰車穴：足陽明胃經</p>
<p>少商穴：手太陰肺經</p>
<p>商陽穴：手陽明大腸經</p>
<p>中衝穴：手厥陰心胞絡</p>
<p>關衝穴：手少陽三焦經</p>
<p>少衝穴：手少陰心經</p>
<p>凡六穴應病行針。</p>

<h1>卷之二</h1>

<h2>精選應用諸方</h2>
<p>（九方）</p>
<p>漱咽喉七十二症總方——六味湯（治一切咽喉不論紅白，初起之時，漱一服可愈。）</p>
<p>荊芥穗（三錢）　薄荷（三錢，要二刀香者妙）　炒殭蠶（二錢）　桔梗（二錢）　生粉草（二錢）　防風（二錢）</p>
<p>上藥俱為末，煎數滾去渣，溫好，連連漱下，不可大口一氣吃完。如煎不得法，服不得法，則難見效。須依如此為度。倘要緊之時，煎及白滾水，泡之亦可。（此乃總方，看症之形名，然加減他味後臨症可細查。）</p>
<p>雄黃退腫消痰藥（凡初起之症，風痰上壅者，吹之即退。）</p>
<p>銀硝（一兩二錢，水飛過用）　玄明粉（二錢）　白硼砂（二錢）　雄黃（八錢，揀上好紅明大塊者。）</p>
<p>上俱為細末吹用。若傷者、爛斑者，恐太痛，不可輕用。</p>
<p>金不換吹藥（治火症痘疳、牙疳、喉間潰爛者，吹之甚妙。）</p>
<p>人中白（五錢，煅存性用）　細柏末（三錢）　青黛（六錢）　玄明粉（三錢）　白硼砂（三錢）　西瓜硝（八錢，製法在後）　冰片（三分）</p>
<p>上為細末吹用。若爛斑有深潭者加龍骨、象皮、赤石脂（各三錢），同研吹之。痘疳加川連、胡連、甘草、人中黃、銀粉雪（即瓜硝之飛出者也。）每金不換重一錢，五味各加（五分），合搽之。喉癬、喉疳加銀粉雪每錢（三分）。</p>
<p>爛喉八仙散（凡咽喉潰爛者服此藥。）</p>
<p>人中白（一兩，煅存性用）　生大黃（一兩二錢）　生石膏（五錢）　玄參末（六錢，鹽水炒）　黃芩（一兩四錢，酒炒）　玄明粉（七錢）　殭蠶末（三錢）　瓜硝（八錢）　輕粉（一錢）</p>
<p>共九味研末，每服二錢，放舌上，津化嚥下，連連不斷，則爛斑自去矣。</p>
<p>散痰珠黃散（治風痰上壅之症，每服三錢。）</p>
<p>金星礞石（一兩五錢，同硝炒）　生大黃（一兩五錢，末用）　白硼砂（一兩）　玄明粉（六錢）　瓜硝（八錢）　真川鬱金（六錢）　海浮石（六錢）</p>
<p>共研為末用。若痰多者，用五錢生大黃泡湯送下。如不然，即六味湯藥水送下亦可，淡薑湯亦妙。</p>
<p>通關散吹藥（治咽喉急症。）</p>
<p>細辛末（一錢）　豬牙皂（三錢）　藜蘆（二錢）　白礬末（一錢）</p>
<p>俱為細末，沖滾水，灌喉間。淡薑湯亦可。</p>
<p>十八味神藥（治一切爛喉毒症。）</p>
<p>川黃連（一錢）　白蘚皮（二錢）　黃芩（二錢，酒炒）　紫地丁（二錢）　當歸（二錢）　赤芍（二錢）　河車（二錢）　山梔（一錢五分，生）　生龜板（三錢）　木通（一錢）　甘草（二錢，生）　川芎（一錢五分）　連翹（二錢）　乳香（五分）　金銀花（二錢）　花粉（二錢）　皂角刺（一錢五分）　知母（二錢，鹽水炒）</p>
<p>以上諸藥滾水煎服。結毒加土茯苓（四兩）、何首烏（四兩），煎湯代水服。火症爛喉加生大黃（四錢）、生石膏（四錢）為妙。</p>
<p>靈保玉樞丹（治一切毒症，兼毒喉。）</p>
<p>山慈菇（洗去毛，淨末焙，二兩）　文蛤（一名五倍子，淨焙二兩）　麝香（三錢）　雄黃（五錢，紅明大塊者）　千金子（四兩淨去油殼一兩）　紅牙大戟（四兩五錢為淨末一兩五錢）　草河車（二兩五錢為淨末二兩）</p>
<p>以上諸品共為細末，擇天德月德天醫黃道吉日，或五月五日午時亦妙，齋戒焚香潔淨，用濃米飲湯調和打成千餘下為度。每服五、六分，甚者一錢，可查《外科正宗》上乃見其神效。</p>
<p>結毒紫金丹（此方治楊廣瘡毒喉症，唇鼻破壞，並下疳等症，服之可痊。服者必須土茯苓湯送此藥下，余作茶。凡毒氣隨經絡而結，恐喉間小舌皆能結聚。故治咽喉者，不可不知。）</p>
<p>龜板（五兩炙焦，浸酒漿內，再炙，反復炙之，塗酒三次，焦黃為度。即研成細末淨二兩。龜自死為敗，大者更妙）　石決明（九孔者佳，童便浸一次炙淨末二錢）　硃砂（大塊者佳，淨末二錢）</p>
<p>以上其研極細，爛米飯搗為丸，小綠豆大，每服一錢。若病在上，飯前食，病在下，飯後食。若滿身筋骨痛，用酒服。腐爛者，土茯苓、何首烏同煎服。其功勝於五寶散。</p>

<h2>製藥法</h2>
<p>（四法）</p>
<p>制西瓜硝</p>
<p>覓上號頭藤西瓜，或一個，或二個，用稻柴墊好，放在乾燥廚內。至立冬日，將瓜蓋捥去，腹中瓤取去七分，皮上肉剩三分，用皮硝二斤或斤半，看瓜之大小，蓋好，用線絡之，懸向背陰屋檐下，至冷凍之期，其硝自飛出瓜皮外，顏色如霜。用刷帚輕輕拂下，以盤盛之，包好，至三、五日一取。至春間將瓜內所剩之硝安好，候到立冬，將新鮮瓜盛之，再加半斤或一斤，仍舊懸好，皮外飛出取之，如此二次，中間之硝亦好，不必再做。可治喉癬，喉疳諸火症。潰爛者吹之不痛。外皮飛出者名銀粉雪，其功可並紫雪。</p>
<p>制人中黃</p>
<p>將大毛竹筒一個，兩頭留節，鑿一圓眼，用大粉草不拘多少，為末細填滿為度，用生漆將眼針好。刮去竹皮，通身鑽滿細眼。拋入大坑中，十年止好，六、七年亦可用得，能治結毒、咽喉爛、牙疳、傷寒發斑，俱稱聖藥。</p>
<p>制篇柏汁</p>
<p>用柏葉嫩頭摘在井水內，浸一次，即帶水撈入石臼中打爛，若干，沖白礬水少許，出汁收在瓷器中。用時再衝白礬湯，連漱喉間。能治一切火症鬱熱、爛喉、爛疳。其性涼血潤燥、清肝胃之火。況得松柏之氣，醫方珍之，不可輕忽。</p>
<p>制膽礬</p>
<p>用鯖魚膽，不拘幾個和白礬拌之，入豬尿胞內，掛在背陰之所。明年再入膽汁，仍舊風乾。如此三次，遇急症泡湯灌吐。</p>

<h2>爰採應用諸方</h2>
<p>（十二方）</p>
<p>知柏地黃湯（腎虛門）</p>
<p>六味地黃湯加　知母　黃柏（各五錢）</p>
<p>三黃湯（火症門）</p>
<p>黃連　黃芩　黃柏（各鹽水炒錢半）</p>
<p>三黃石膏湯　（表裡門）</p>
<p>三黃湯加　石膏（五錢）　山梔（錢半）</p>
<p>犀角地黃湯　（胃火門）</p>
<p>六味地黃湯加　犀角（二錢）　石膏（四錢）</p>
<p>涼隔散　（《外科正宗》）</p>
<p>連翹（一錢）　大黃（三錢）　芒硝（一錢）　甘草（一錢）　黑山梔（一錢五分）　黃芩（一錢五分）　薄荷（一錢）　加竹葉</p>
<p>四物湯　（血虛門）</p>
<p>川芎　當歸　地黃　芍藥（各二錢）</p>
<p>八味丸　（腎虛門）</p>
<p>六味地黃丸加　附子　肉桂（各三分冷服）</p>
<p>大承氣湯　（傷寒門）</p>
<p>大黃（五錢）　芒硝（三錢）　厚朴（錢半）　枳實（錢半）</p>
<p>黃連解毒湯　（火症門）</p>
<p>黃連（一錢）　黑山梔（一錢）　黃柏（錢半）　黃芩（一錢）</p>
<p>龍骨生肌散（外科門）</p>
<p>龍骨　赤石脂　血衄　孩兒茶　象皮　硃砂　熟石膏</p>
<p>大柴胡湯（中風門）</p>
<p>大黃　枳實　黃芩　半夏　白芍　柴胡（等分）煎加薑棗</p>
<p>萬靈丹（《外科正宗》）</p>

<h1>卷之三</h1>

<h2>咽喉門第一</h2>
<p>（十一症圖說）</p>

<h3>簾珠喉</h3>
<figure>
<img data-orig-src="urn:270:05020.jpg" alt="簾珠喉">
</figure>
<p>簾珠喉，滿喉如白網油狀，兩邊微腫，根有白點，帶紅色，小舌紅腫，咽水大痛。此症因鬱積熱毒而發，其脈兩寸浮洪，兩尺亦洪大，上盛下虛之症也。治宜清火，用六味湯加：鹽水炒黃柏（二錢）　酒炒黃芩（二錢）　鹽水炒知母（二錢）　熟石膏（五錢）　山豆根（二錢）鹽水炒玄參（二錢）　生山梔（一錢）　木通（一錢）　生地（二錢）　服一帖明日再加：連翹（二錢）　紫地丁（三錢）　大熟地（三錢）　牡丹皮（一錢）　草河車（二錢）　川連（一錢）　用金汁一鍾或制柏枝汁一鍾，沖服皆妙。吹紫雪、金不換，六、七日而愈。</p>

<h3>嗆食啞喉</h3>
<figure>
<img data-orig-src="urn:270:05021.jpg" alt="嗆食啞喉">
</figure>
<p>此症因伏邪在肺，聲啞嗆食，六脈遲細，甚屬險症。余曾治一人，年近二十，患此三年。飯食少進，日惟吃粥，病在將危，就醫於余。余胗其脈，病雖常久，脈尚有根，或可治之。用六味湯加：麻黃（二錢）　桂枝（一錢）　蘇葉（二錢）　木通（一錢）　細辛（一錢）　白芷（一錢）　訶子（二錢）　皂核（二錢）　薑汁炒半夏（二錢）　連吃五六日，飯進三碗，聲啞未除，換加：桔梗（一兩四錢半，童便炒）　訶子（七錢半，童便炒）　甘草（七錢半，童便炒）　薄荷（一錢）　麻黃（一錢）　煎數滾漱而且吃十帖乃愈，後服補藥健脾收功。</p>

<h3>內外腫喉</h3>
<figure>
<img data-orig-src="urn:270:05022.jpg" alt="內外腫喉">
</figure>
<p>此症生於關內下部，陰陽相結，內外皆腫，或有爛斑、火鬱之症。用六味湯加：酒炒黃芩（三錢）　熟大黃（五錢）　海浮石（二錢）　吹紫雪金不換。明日換加：丹皮（一錢五分）　生地（二錢）　酒炒黃芩（二錢）　生石膏（三錢）　山梔（一錢）　木通（一錢）即針：少商、商陽兩手四穴。如背寒加羌活，胃泛加葛根、柏枝汁亦可漱之。</p>

<h3>風熱喉</h3>
<figure>
<img data-orig-src="urn:270:05023.jpg" alt="風熱喉">
</figure>
<p>此症感風熱而起。滿喉發細紅點，根帶淡白，舌下兩邊三四塊，六脈洪緊。用六味湯加：鹽水炒玄參（二錢）　酒炒黃芩（二錢）　山梔（一錢）　花粉（一錢）　一服即愈。吹金不換，兼服八仙散。</p>

<h3>紫色虛喉</h3>
<figure>
<img data-orig-src="urn:270:05024.jpg" alt="紫色虛喉">
</figure>
<p>喉間紫紅，久之變爛。如生漆色。因初起早服寒涼故也。此症肺胃伏寒，平而不腫，飲食難進，吐出腐肉者，急治之。如見此症認為火症，反用三黃湯、犀角、羚羊角等藥，吃成死症，惜哉！余凡見紫色之症，不論名式，喉間絕無形跡，滿喉皆紫，脈緩身涼者，用六味湯加：細辛（五分）　葛根蘇葉（各二錢）　白芷　川芎　麻黃（各一錢）　服後紫變為紅換加：鹽水炒玄參（二錢）　酒炒黃芩（二錢）　花粉（一錢）即愈。</p>

<h3>喉癬</h3>
<figure>
<img data-orig-src="urn:270:05025.jpg" alt="喉癬">
</figure>
<p>此症因腎虛火旺，髮癬於喉，不腫而微紅，上有斑點，青白不一，如芥子大，或綠豆大，每點生芒刺，入水大痛，喉干聲啞，咳嗽無痰，六脈細數者是，用知柏地黃湯兼四物湯加：麥冬　鹽水炒玄參　女貞（鹽水炒）　枸杞　首烏　阿膠（各二錢）　等服十服後，用八味丸加女貞枸杞　人參　洋參俱鹽水炒，淡鹽湯每早服四五錢，如服前知柏地黃湯、四物湯不應，加：桂附每帖各三分，水煎冷服，此引火歸原之法也。玄武膏亦可服，如六脈洪數，恐難脫體。吹紫雪、金不換。</p>

<h3>喉疳</h3>
<figure>
<img data-orig-src="urn:270:05026.jpg" alt="喉疳">
</figure>
<p>此症腎虛火旺，沸騰上部而發，喉間上齶有青白紅點，平坦無刺，故名喉疳。聲不啞，不咳嗽，兩尺脈虛者是也。先用六味湯去荊、防、蠶三味加：鹽水炒玄參（二錢）　酒炒黃芩（二錢）　丹皮（二錢）　生地（二錢）　山梔鹽水炒（一錢）　鹽水炒女貞（一錢五分）　鹽水炒知母（一錢五分）　男加龜板（五錢）　女加鱉甲（五錢）　服五劑或十劑，如不愈再加附子（三分）　肉桂（三分）　二味　另煎沖前藥內冷服，愈後合八味丸加：鹽水炒玄參　知母　女貞　枸杞一料全愈。吹金不換。</p>

<h3>飛揚喉</h3>
<figure>
<img data-orig-src="urn:270:05027.jpg" alt="飛揚喉">
</figure>
<p>此症風熱上壅，上齶紅腫，氣不能通，咽物不下，從小舌中飛揚滿口，此係凶惡之症。急針患上出血泄氣。吹金不換，用六味湯加：連翹　葛根　黃柏　山梔　木通（各一錢）　生石膏（四錢）　一、二服愈。</p>

<h3>虛啞喉</h3>
<figure>
<img data-orig-src="urn:270:05028.jpg" alt="虛啞喉">
</figure>
<p>虛啞喉，喉間不腫，兩邊關內少有紅點，聲啞不明，牙關不開，此內火外風之症。因喜食酸澀之物，肺氣不清故也。用六味湯加：細辛（三分）　蘇葉（二錢）服一帖。聲音不啞，換加：生地（二錢）　丹皮（二錢）　鹽水炒山梔（一錢）　木通（一錢）　花粉（一錢）　再二帖而愈。</p>

<h3>聲啞喉</h3>
<figure>
<img data-orig-src="urn:270:05029.jpg" alt="聲啞喉">
</figure>
<p>此症寒伏肺家，不腫不紅，又無爛點，惟覺干痛，但食米粥；不能吃飯。用六味湯加：蘇葉（二錢）　麻黃（二錢）　細辛（五分）　二服後麻黃、蘇葉各減一錢。再二日換加花粉（一錢）　黃芩（一錢）　羌活（一錢）　薑汁製半夏（一錢）　皂核（二十粒）　訶子（二錢半，童便炒，半生用）　桔梗（五錢半，童便炒，半生用）　甘草（五錢半，童便炒，半生用）　四五帖乃痊。初起不可用涼藥（四月之症而愈）。</p>

<h3>爛沙喉</h3>
<figure>
<img data-orig-src="urn:270:05030.jpg" alt="爛沙喉">
</figure>
<p>此症發於寒傷之後，表邪未盡，生在關內腫爛，右關脈急，肺脾之毒可知。六味湯半服加：酒炒黃芩（二錢）　花粉（一錢）　鹽水炒玄參（二錢）　葛根（一錢）　生石膏（二錢五分）　淡竹葉（二錢）　河車（二錢五分）連服三四劑。如爛斑不退加：生大黃（三錢）　津化八仙散、玉樞丹，每服五分，三服可收功。</p>

<h2>乳蛾門第二</h2>
<p>（七症圖說）</p>

<h3>雙乳蛾</h3>
<figure>
<img data-orig-src="urn:270:05031.jpg" alt="雙乳蛾">
</figure>
<p>此症感冒時邪而發，生於關口上部，兩邊如櫻桃大，肺胃之症也。身發寒熱，六脈弦數。先針：少商、商陽（兩手四穴），或挑破患上出血亦妙，先用六味湯加：陳皮　海浮石　蘇葉　羌活（各錢半）　兩服可愈。如腫不退，六脈有力可加生大黃（三錢）。</p>

<h3>單乳蛾</h3>
<figure>
<img data-orig-src="urn:270:05032.jpg" alt="單乳蛾">
</figure>
<p>此症因傷寒後發散未盡，身熱噁心，恐見痧疹，六脈浮數，生於雙蛾之旁，或左或右，用六味湯加：蘇葉（一錢）　羌活（二錢）　鮮新芫荽（五錢）　如無新者用子（三錢）　一服退半，明日再加：黃芩（酒炒三錢）　花粉（二錢）　山梔（一錢）　赤芍（一錢）　木通（一錢）全愈。</p>

<h3>爛乳蛾</h3>
<figure>
<img data-orig-src="urn:270:05033.jpg" alt="爛乳蛾">
</figure>
<p>此症因肺胃鬱熱、紅腫爛斑大痛，難於飲食，六脈弦緊，急針：少商、商陽左右四穴。用六味湯加：葛根（二錢）　蘇葉（一錢）　鹽水炒玄參（一錢）　酒炒黃芩（二錢）　沖柏枝汁一鍾，漱喉間嚥下。再用八仙散一服，津化咽之，明日去蘇、葛二味，加：山梔　木通　生地　丹皮　浮石　花粉（各二錢）　如脈大有力加：生大黃（三錢），脈虛用八仙散同柏枝汁照前吃法，三四日可愈。如聲啞背寒，六味湯加，蘇葉（二錢）　羌活（二錢）　細辛（三分）</p>

<h3>風寒蛾</h3>
<figure>
<img data-orig-src="urn:270:05034.jpg" alt="風寒蛾">
</figure>
<p>此症因風寒而起，腫大如李，頭不能下視，氣塞不通，寸關之脈浮緊，肺胃之症也。即針：少商、商陽、少衝（兩手六穴）。用六味湯加：蘇葉（二錢）　羌活（二錢）一服而愈。若早用寒涼則不能退矣。</p>

<h3>白色喉蛾</h3>
<figure>
<img data-orig-src="urn:270:05035.jpg" alt="白色喉蛾">
</figure>
<p>白色乳蛾，腫塞滿口，身發寒熱，六脈浮弦。此症因肺受風寒，用六味湯加：蘇葉（二錢）　細辛（三分）　羌活（二錢）　一服可愈。</p>

<h3>石蛾</h3>
<figure>
<img data-orig-src="urn:270:05036.jpg" alt="石蛾">
</figure>
<p>此症或胎生，或因本原不足。生於乳蛾地位，少進半寸。初起切不可用寒涼，不必用刀針。此乃肝火老痰結成惡血，凡遇辛苦風熱即發。用六味湯加：川貝（一錢）生地（二錢）　蒡子（一錢）　丹皮（一錢五分）　麥冬（一錢）　木通（一錢）　煎服四五帖，如不退去，六味湯用生地（錢半）　丹皮（一錢）　象貝（錢二分）　甘草（一錢）　牛蒡（一錢）　桔梗（八分）　麥冬（一錢）　木通（六分）　薄荷葉（一錢）　加燈心（二分）煎服，以愈為止。吹雄黃退腫藥。</p>

<h3>伏寒乳蛾</h3>
<figure>
<img data-orig-src="urn:270:05037.jpg" alt="伏寒乳蛾">
</figure>
<p>凡伏寒之症，其色必紫。治法同紫色喉癰門。</p>
<p>凡遇孕婦喉癰，用藥有礙，將喉癰藥煎濃漱喉間，吐去，亦可全愈。</p>

<h1>卷之四</h1>

<h2>喉痹門第三</h2>
<p>（七症圖說）</p>

<h3>爛喉痹</h3>
<figure>
<img data-orig-src="urn:270:05038.jpg" alt="爛喉痹">
</figure>
<p>此症因肝胃熱毒，外感時邪而發。形如花瓣，爛腫白斑，痛叫不食，眼睛泛上，六脈洪大，即針：少商、商陽、關衝、少陰（兩手八穴），有血則生，無血者死。用六味湯加：生大黃（五錢）　鹽水炒玄參（二錢）　酒炒黃芩（二錢）　生地（二錢）　丹皮（二錢）　浮石（二錢）　山梔（一錢）　木通（一錢。）兩服後去大黃並六味湯再加：生石膏（三錢）　訶子（一錢五分）　柏子仁（二錢囫圇用）　沖制柏枝汁半杯四服而愈。口吹金不換，兼服八仙散，每日二錢、津化嚥下。此症□□身涼不治。</p>

<h3>白色喉痹</h3>
<figure>
<img data-orig-src="urn:270:05039.jpg" alt="白色喉痹">
</figure>
<p>此症因肺胃受寒，脈遲身熱，六味湯加：細辛（三分）　羌活（二錢）　蘇葉（二錢）　陳皮（一錢）　二服可愈。或二服後變紅色干痛，去前四味換加：山梔木通　酒炒黃芩　生地　黃柏（各一錢）、痰多加浮石　製半夏　天花粉（各一錢。）</p>

<h3>寒伏喉痹</h3>
<figure>
<img data-orig-src="urn:270:05040.jpg" alt="寒伏喉痹">
</figure>
<p>此症肺經脈緩，寒重色紫，亦不太腫，因服涼劑，久之必爛，凡遇此紫色者，不可作火治。六味湯加：細辛（五分）　麻黃（一錢）　桂枝（一錢）　蘇葉（一錢）　瓜蔞（一錢）　訶子（一錢）　牛蒡（一錢）甚者或吐出紫血塊者，亦如此吃法，未爛者加：蘇葉（二錢）　細辛（三分）　柴胡（一錢）　海浮石（錢半。）腫與不腫同治。</p>

<h3>雙喉痹</h3>
<figure>
<img data-orig-src="urn:270:05041.jpg" alt="雙喉痹">
</figure>
<p>雙喉痹，生於上齶，關內兩旁形如橄欖，痛而難食，胃家積熱所致，或發寒熱，兩關洪大者是也。即針患處或商陽穴針之亦可，先用六味湯一服，明日再加：黃芩（酒炒）　山梔　木通　元參（鹽水炒各錢半）　再服而退。（爛者不可針，患上吹金不換。）</p>

<h3>單喉痹</h3>
<figure>
<img data-orig-src="urn:270:05042.jpg" alt="單喉痹">
</figure>
<p>單喉痹，或左或右。治同前。</p>

<h3>淡紅喉痹</h3>
<figure>
<img data-orig-src="urn:270:05043.jpg" alt="淡紅喉痹">
</figure>
<p>淡紅喉痹，腫如雞子，飲食不下，身發寒熱，眼紅嘔吐，恐有斑毒在內，急針：少商、少陰、商陽、關衝（左右八穴。）或患上挑破，六味湯加：蘇葉　羌活　葛根（各二錢）　鮮芫荽（五錢），服一帖，滿身發出痧疹，嘔吐即止。或身熱不退，喉外亦腫，此內火外泄也，換加：生大黃（三錢）　葛根　黃芩　山梔　玄參　花粉（各二錢）　生石膏（五錢）　滑石（二錢）　木通（一錢）服二帖後去大黃、石膏再用前藥，照方四五帖乃痊。有爛斑用八仙散一服，津化嚥下，兼吃柏枝汁。此症因傷寒時邪未清之故，兩關沉細，兩寸尺四脈虛數是也。</p>

<h3>走馬喉痹</h3>
<figure>
<img data-orig-src="urn:270:05044.jpg" alt="走馬喉痹">
</figure>
<p>此係急症。肝脾火閉不通，而為痹。或發寒熱，脈洪大者生，沉細者死。用六味湯加：葛根（二錢）　柴胡（一錢）　細辛（五分漱之）再加：角刺（二錢）　歸尾（二錢）　赤芍（二錢）　河車（二錢）　生大黃（五錢），痰多加浮石（三錢）　製半夏（二錢）　身熱背寒加　羌活（一錢）　蘇葉（一錢）　即針：少商、商陽、關衝（兩手六穴），血多為妙。</p>

<h2>喉風門第四</h2>
<p>（十二症圖說）</p>

<h3>內腫鎖喉風</h3>
<figure>
<img data-orig-src="urn:270:05045.jpg" alt="內腫鎖喉風">
</figure>
<p>此症因肺胃兩經陰陽相結，內塞不通，外無形跡，喉間痰喘，先用吐痰法（見纏喉風門）灌吐，再用六味湯加：麻黃（二錢）　生大黃（五錢）　細辛（一錢）　蘇葉（二錢）　桂枝（一錢）　羌活（二錢）　煎數沸服之，或瀉或吐為妙。如不吐瀉，針：少商、商陽、關衝、曲池、合谷、兩手十穴，有血則生，無血則死。左右寸關弦緊洪大者生，沉遲者難治。吹雄黃消痰藥。</p>

<h3>纏喉風</h3>
<figure>
<img data-orig-src="urn:270:05046.jpg" alt="纏喉風">
</figure>
<p>纏喉風，因肺感時邪，風痰上壅，陰陽閉結，內外不通，如蛇纏頭，關下壅塞，甚者角弓反張，牙箝緊閉，先用開關散：皂角刺（一錢）　細辛（五分）　冰片（二分）共研細末，吹入鼻內，再用針，頰車左右兩穴，點艾數壯，牙關可開，用雞蛋白沖白礬湯灌吐，或用桐油蘸鵝毛吐之，或用膽礬法吐之，以吐為度。如不吐即針十指五穴，（少商、商陽、關衝、少陰、少衝。）取血為度，無血難治。用六味湯加生大黃（一兩）　麻黃（二錢）　羌活（二錢）　蘇葉（二錢）　訶子（二錢），同煎數沸灌下，或瀉，或吐，皆為大妙，如不吐不瀉，針之無血，六脈沉細者不治。吹膽礬消痰藥。</p>

<h3>匝舌喉風</h3>
<figure>
<img data-orig-src="urn:270:05047.jpg" alt="匝舌喉風">
</figure>
<p>此症生於喉之上下兩旁，近小舌小有泡，或紅，或紫，外臉皆腫，喉內不腫，舌卷粗大，此惡症也。看治幾症，好者甚少。用六味湯加：黃連（一錢）　黃芩（二錢）　大黃（生用四錢）　連翹（二錢）　沖玉樞丹（一錢）　急進三四服，或有可生，如牙關黑腫，搖頭齒落者難治。此症，乃肺肝積毒所致。</p>

<h3>虛爛喉風</h3>
<figure>
<img data-orig-src="urn:270:05048.jpg" alt="虛爛喉風">
</figure>
<p>此症因本原不足，虛火上炎，生於喉之關內，上下紅色，白斑痛爛，不腫，六脈細數者是也。初起用六味湯加：鹽水炒玄參（二錢）　酒炒黃芩（二錢）　鹽水炒山梔（一錢）　花粉（一錢）　生地（三錢）　丹皮（二錢）　連進二服後去六味湯加：鹽水炒知母　黃柏（各錢半）　服五帖，如兩關沉大，作結毒治，用藥照胃熱毒門。</p>

<h3>白色喉風</h3>
<figure>
<img data-orig-src="urn:270:05049.jpg" alt="白色喉風">
</figure>
<p>此症因寒包火伏於肺經，白而不腫，上有紅紫爛斑，脈象不數，身熱怕寒，火欲外發。用六味湯加：葛根（二錢）　麻黃（一錢）　蘇葉（一錢）　柴胡（錢半）　細辛（五分）　花粉（錢半）　桂枝（一錢）　羌活（錢半）　服一二帖兼八仙散一服（津化嚥下），變紅色換加：玄參（鹽水炒二錢）　黃芩（酒炒二錢）　山梔（一錢）　木通（一錢），二帖可愈。</p>

<h3>酒毒喉風</h3>
<figure>
<img data-orig-src="urn:270:05050.jpg" alt="酒毒喉風">
</figure>
<p>此症因醇酒厚味，生於關內，紅腫痰多，咽物不下，肺脈獨遲，兩關皆大。用六味湯加：生甘草（一兩）　葛根（一錢）　浮石（三錢）　枳椇子（二錢）　花粉（二錢）　山梔（一錢漱之）明日再加：鹽水炒玄參　生地　丹皮（各二錢）四帖而愈。</p>

<h3>勞碌喉風</h3>
<figure>
<img data-orig-src="urn:270:05051.jpg" alt="勞碌喉風">
</figure>
<p>此症肝腎兩虛，發於關內，滿喉少有紅點，根白不腫，常有血腥氣，勞碌即發。六味湯加：鹽水炒玄參（二錢）　鹽水炒知母（二錢）　生地（二錢）　丹皮　木通（各一錢）　明日再加：連翅（二錢）　酒炒黃芩（二錢）　花粉（二錢）　山梔（鹽水炒一錢）再兩日後去六味湯，換煎方：鹽水炒玄參（二錢）　女貞（錢半）　生地（錢半）　麥冬（一錢去心）　酒炒黃芩（一錢）　丹皮（二錢）　枸杞（二錢）　龜板（三錢）　生首烏（五錢）　生甘草（一錢）　再兩帖而愈。其脈象六部數而中空者，此為芤脈是也。</p>

<h3>酒寒喉風</h3>
<figure>
<img data-orig-src="urn:270:05052.jpg" alt="酒寒喉風">
</figure>
<p>酒寒喉風，因酒後遇寒，關內兩邊平而不腫，有淡紅塊四五粒，咽物覺痛，身無寒熱，六脈洪大。用六味湯加：花粉（二錢）　枳椇子（二錢）　黃芩（酒炒二錢）　乾葛（一錢）　一二服而愈。</p>

<h3>腫爛喉風</h3>
<figure>
<img data-orig-src="urn:270:05053.jpg" alt="腫爛喉風">
</figure>
<p>此症因風火內熾肺胃，初脈洪。用六味湯加：葛根花粉（各一錢）。如紅爛不退，藥不能入，再用六味湯加：淡豆豉　木通　山梔　鹽水炒知母（各一錢）　花粉　當歸　柏子仁（各錢半）　丹皮（二錢）　生地（錢半）　浮石（三錢。）連服二帖兼用柏枝汁一鍾，沖藥漱之，六劑乃安。</p>

<h3>肺寒喉風</h3>
<figure>
<img data-orig-src="urn:270:05054.jpg" alt="肺寒喉風">
</figure>
<p>此症因肺受重寒，生在關內下部，兩邊如扁豆殼樣，右寸關弦緊，平而不腫，大痛難食，不穿不爛，背寒怕冷，六味湯加：羌活，蘇葉（各二錢）　當歸　柴胡　牛蒡　桂枝（各一錢）　細辛（五分）　二服而痊。</p>

<h3>辛苦喉風</h3>
<figure>
<img data-orig-src="urn:270:05055.jpg" alt="辛苦喉風">
</figure>
<p>此症因日夜辛苦而發，不腫紅痛，小舌左右常出血，上部之脈洪緊，用六味湯加：鹽水炒玄參　酒炒黃芩（各二錢）　山梔（一錢）　木通（一錢）　連翹（二錢）　火重者加：生地（二錢）　鹽水炒知母（二錢）　丹皮（一錢）　澤瀉（一錢）　花粉（一錢）　二三帖全愈。</p>

<h3>淡紅喉風</h3>
<figure>
<img data-orig-src="urn:270:05056.jpg" alt="淡紅喉風">
</figure>
<p>此症肺脾感冒風邪而發，腫連小舌，喉塞不通，聲音不清，右寸關脈弦緊。針少商、少衝、關衝（兩手□穴。）急者患上亦可挑破。用六味湯加：蘇葉　羌活　葛根（各二錢）　一服而退。</p>

<h1>卷之五</h1>

<h2>喉癰門第五</h2>
<p>（十一症圖說）</p>

<h3>伏寒喉癰</h3>
<figure>
<img data-orig-src="urn:270:05057.jpg" alt="伏寒喉癰">
</figure>
<p>伏寒喉癰，因積寒在內，外感時邪而發。其色紅腫紫色，脈浮不數。六味湯加：羌活　葛根　河車　山甲　赤芍　歸尾（各二錢）　角刺　蘇葉　木通（各一錢）　細辛（三分）　兩日後加山梔（一錢）　去羌、葛二味，余藥照前，四五日可愈。</p>

<h3>腫爛喉癰</h3>
<figure>
<img data-orig-src="urn:270:05058.jpg" alt="腫爛喉癰">
</figure>
<p>此症脾家積熱而生，紅腫潰爛，兩寸關脈洪大者是也。針少商、商陽、關衝、少衝（兩手四穴），血多為妙。先服八仙散（放於舌上津化嚥下），再用六味湯加：鹽水炒玄參（二錢）　鹽水炒黃柏（一錢）　酒炒黃芩（錢半）　生大黃（三錢）　山梔　木通（各一錢）　河車（二錢），如一服後瀉過，可去大黃。三日後，用十八味神藥，柏枝汁咽漱即愈。</p>

<h3>淡白喉癰</h3>
<figure>
<img data-orig-src="urn:270:05059.jpg" alt="淡白喉癰">
</figure>
<p>此症因脾肺受寒，其色不紅，若用寒涼之劑，七日之內必成膿潰，有膿即用針挑破患處。初起腫，針少商、商陽（兩手四穴），出其紫血，六味湯加：蘇葉　赤芍　歸尾（各錢半），一服後，明日再加：山甲　角刺　河車（各二錢）乃愈。六脈弦緊，身發寒熱者是也。</p>

<h3>大紅喉癰</h3>
<figure>
<img data-orig-src="urn:270:05060.jpg" alt="大紅喉癰">
</figure>
<p>此因肺脾積熱，其色鮮紅，腫脹關內，六脈洪大，身發寒熱，急針少商、商陽，或針患上腫處出惡血。用六味湯加：山梔　木通（各一錢）　浮石　生大黃（各三錢）　歸尾　角刺　山甲　河車（各二錢）　黃芩　花粉　赤芍（各錢半）。用河水將加藥十一味先煎二、三十沸後，下六味湯同煎數滾即起，二帖可愈。</p>

<h3>聲啞喉癰</h3>
<figure>
<img data-orig-src="urn:270:05061.jpg" alt="聲啞喉癰">
</figure>
<p>此症因著寒太重，肺臟閉塞，以致聲啞，湯水難入，或有爛斑。肺脈沉澀，脾胃脈洪大，背寒身熱。用六味湯加：羌活（二錢）　葛根　蘇葉（各一錢）一服漱之，二日後聲音不啞，去前三味，換加：花粉（一錢）　乳香（五分）　葛根黃芩（酒炒）　歸尾　赤芍　山甲　角刺（各二錢）　再服八仙散、玉樞丹，二帖全愈。</p>

<h3>單喉癰</h3>
<figure>
<img data-orig-src="urn:270:05062.jpg" alt="單喉癰">
</figure>
<p>單喉癰，或左或右。身熱背寒，脾肺之症也。有紅點者，風火；無紅點者，風寒。脈象如前。六味湯加：蘇葉　羌活（各二錢）　漱一服，明日再加：赤芍　歸尾　豆根　山梔（各錢半），服一帖即愈。</p>

<h3>外症喉癰</h3>
<figure>
<img data-orig-src="urn:270:05063.jpg" alt="外症喉癰">
</figure>
<p>此症生於含下，天突穴之上，內外皆腫，飲食有礙，初起無痰涎，內不見形跡，此風毒喉癰也。六味湯加：黃耆角刺山甲　歸尾　赤芍　河車（各二錢）　紅花　葛根（各一錢）　乳香（五分），連進三服，以消為止。如已成出膿，必成漏管。用十全大補湯收功。</p>

<h3>兜腮喉癰</h3>
<figure>
<img data-orig-src="urn:270:05064.jpg" alt="兜腮喉癰">
</figure>
<p>此癰生於腮下，其名懸癰，因鬱積寒氣而發。外用宮炙之法二壯。用六味湯加山甲　歸尾　角刺　川芎　白芷（各一錢）　升麻（三分）　紅花　乳香（各五眾），以消為度。有膿即針之，成漏者多用參、耆內托，或可收功。遇症不可輕忽。</p>

<h3>舌上癰</h3>
<figure>
<img data-orig-src="urn:270:05065.jpg" alt="舌上癰">
</figure>
<p>舌上癰，生於舌中心，如梅子大，不能言語。此症因熱入心胞絡而發，左寸脈宜洪大而數，不宜細緩，形症紅腫者可治，黑者不治。用六味湯加：川連（二錢）　連翹（五錢）　河車（五錢）　生大黃（四錢）　地丁（三錢）。吹金不換，重加瓜硝搽之，或加牛黃（三二分）更妙，以愈為度。</p>

<h3>舌下癰</h3>
<figure>
<img data-orig-src="urn:270:05066.jpg" alt="舌下癰">
</figure>
<p>此乃脾腎積熱，故發症於舌下。然舌下金津、玉液二穴通於腎經，腎水枯竭生於此穴。胗其左尺洪數者是也。用六味湯加：生地（二錢）　河車（二錢）　葛根（一錢）　丹皮（一錢）　花粉（一錢）　玄參（三錢）。二服後用十八味神藥收功，吹藥如前。</p>

<h3>上齶癰</h3>
<figure>
<img data-orig-src="urn:270:05067.jpg" alt="上齶癰">
</figure>
<p>上齶癰，高如梅核掛下，不能飲食。此症因胃家炙煿之毒，積久而發，用宜解毒；之劑。草河車（三錢）　石膏（五錢）　地丁　生地（各二錢）　歸尾　赤芍　山甲　角刺（各錢半）　丹皮　花粉　葛根（各一錢），服四五帖或十帖。兼用玉樞丹，每日服五分。吹紫雪、金不換。此症非小，二、三月收功者亦有之。</p>

<h2>大舌門第六</h2>
<p>（十三症圖說）</p>

<h3>木舌</h3>
<figure>
<img data-orig-src="urn:270:05068.jpg" alt="木舌">
</figure>
<p>此症心脾肝三臟積熱而發。舌粗紫脹，食滯中宮，不能言語。因多食炙煿所致。急砭出紫血，搽金不換，服大承氣湯兼黃連解毒湯加：山梔　木通連翹　花粉（各二錢）　赤芍　草河車（各三錢）。服二帖不應，重加生大黃以瀉熱毒。再用六味湯漱口（不必嚥下）。左右寸關之脈俱洪大者，實症，宜用前藥。六脈細者，虛症，難治。大承氣湯、黃連解毒湯（俱在二卷精選應用方內可查。）</p>

<h3>白腫舌</h3>
<figure>
<img data-orig-src="urn:270:05069.jpg" alt="白腫舌">
</figure>
<p>此症因風寒鬱積於內。六脈弦緊，舌腫硬痛。先用六味湯加：細辛（三分）　蘇葉（一錢五分）　白芷（一錢）　當歸（一錢五分）　川芎（一錢）　葛根（一錢）。若白苔上有黑點而滑者，用淡附子　乾薑（各五分）煎服，再用乾薑　冰片　麝香　青皮（等分）　共為細末，時搽舌上即愈。</p>

<h3>爛邊舌</h3>
<figure>
<img data-orig-src="urn:270:05070.jpg" alt="爛邊舌">
</figure>
<p>此症脾家濕熱不清，大舌四邊發疳，白點而爛。用六味湯加：小生地（二錢）　滑石（三錢）　淡竹葉（一錢）　薏仁米（一錢五分）　豬苓（一錢五分）　澤瀉（一錢）　車前（一錢）　甘草梢（一錢），二服而愈。口唇牙肉爛腫，同此治法。</p>

<h3>紅點紫舌</h3>
<figure>
<img data-orig-src="urn:270:05071.jpg" alt="紅點紫舌">
</figure>
<p>此症因心脾二經熱極所致。滿口紅點紫色，作爛而痛，或身有赤斑。用六味湯加熟石膏（一兩）　葛根（一錢五分）　川連（一錢）　青黛（一錢）　黃芩（酒炒二錢）　黃柏（一錢）　木通（一錢）　山梔（一錢），甚者加大黃（生用三錢）。如六脈不數者，不照此方。</p>

<h3>純紫舌</h3>
<figure>
<img data-orig-src="urn:270:05072.jpg" alt="純紫舌">
</figure>
<p>此症因傷寒用蔥酒發汗，酒毒入心，以致大舌純紫。宜用升麻（一錢）　葛根（一錢）　枳椇子（二錢）　石膏（二錢）　川連（一錢五分）　滑石（三錢）　木通（一錢）　人中黃（三錢）　如心煩不安加：山梔（一錢）　淡豆豉（一錢），噁心欲吐者，恐防發斑加芫荽（一兩），外用芫荽沖燒酒揩背心為妙。</p>

<h3>座蓮花舌</h3>
<figure>
<img data-orig-src="urn:270:05073.jpg" alt="座蓮花舌">
</figure>
<p>此症因脾家熱毒積久而發，生於牙根內面，走竄如蓮花一座。患上即針出血搽金不換藥。再針兩手商陽穴，用六味湯加：河車（二錢）　歸尾（一錢）　赤芍（一錢）　川連（一錢）　連翹（一錢）　大黃（三錢）　山梔（一錢）　木通（一錢）　生地（二錢）　山甲（一錢）　石膏（生者五錢），連服二服，如不退，用十八味神藥收功。</p>

<h3>重舌</h3>
<figure>
<img data-orig-src="urn:270:05074.jpg" alt="重舌">
</figure>
<p>重舌者，大舌之下，又生一小舌，以致大舌反粗短，小舌長痛。此心脾之毒也。左寸右關兩部之脈洪數者是。久之必爛，爛則難痊。初起即針出惡血，搽金不換，重加銀粉霜。服黃連解毒湯加生大黃（五錢），如瀉之五、六次，即服玉樞丹，十八味神藥亦可服。</p>

<h3>蓮花舌</h3>
<figure>
<img data-orig-src="urn:270:05075.jpg" alt="蓮花舌">
</figure>
<p>此症心胃之火飛騰舌底。即針小舌上出血，吹金不換，用三黃石膏湯加：甘草（五分）　河車（二錢）。針商陽穴即愈。</p>

<h3>黃焦舌</h3>
<figure>
<img data-orig-src="urn:270:05076.jpg" alt="黃焦舌">
</figure>
<p>此症因嗜酒太多，遇寒而起，大舌乾黃。用三黃湯加：枳椇　生石膏　人中黃，身發寒熱用大柴胡湯加羌活（一錢五分）　治之，如嘔噁心煩，脈象洪大加生大黃（四錢），佐以牛蒡　赤芍　乾葛之類，再無不應。</p>

<h3>舌上珠</h3>
<figure>
<img data-orig-src="urn:270:05077.jpg" alt="舌上珠">
</figure>
<p>此症因心脾積熱，舌生白泡，大小不一，六脈洪大。急挑破出血，搽金不換，服三黃湯加：石膏（五錢）　河車（二錢）　地丁草（一錢），兼服玉樞丹（五分）一服。如六脈遲細者，不可用前藥。</p>

<h3>舌下珠</h3>
<figure>
<img data-orig-src="urn:270:05078.jpg" alt="舌下珠">
</figure>
<p>舌下珠，因脾腎兩虛之症。六味湯加：鹽水炒玄參生地　鹽水炒知母　黃柏　木通等分治之，搽金不換，余藥照前。</p>

<h3>左雀舌</h3>
<figure>
<img data-orig-src="urn:270:05079.jpg" alt="左雀舌">
</figure>
<p>左雀舌，因多食煎炒炙煿之物，所以積熱毒於胃，故發於舌之旁生一小舌，相近牙根。初起將針挑破，以去其血，吹金不換。六味湯加三黃湯、涼膈散治之。如久之必爛，用龍骨生肌散收功。（三黃湯、涼膈散、龍骨生肌散三方，俱第二卷查用。）</p>

<h3>右雀舌</h3>
<figure>
<img data-orig-src="urn:270:05080.jpg" alt="右雀舌">
</figure>
<p>此症起亦積毒，治法於前，大同小異，用六味湯加犀角地黃湯治之。（犀角地黃湯在第二卷查用，搽藥同前。）</p>

<h1>卷之六</h1>

<h2>小舌門第七</h2>
<p>（五症圖說）</p>

<h3>胃火小舌</h3>
<figure>
<img data-orig-src="urn:270:05081.jpg" alt="胃火小舌">
</figure>
<p>此症因脾家火毒郁久而發。小舌白點爛，胃脈浮洪。治用六味湯加：生石膏（四兩）　酒炒黃芩（二錢）　花粉（三錢）　葛根（二錢）　山梔（一錢）　一二服無有不愈。吹金不換藥，兼服柏枝汁法。此乃多食炙煿醇酒厚味，或魚骨刺傷。非結毒之比也。惟胗脈之時，胃部浮洪者火症，沉實者毒，須明辨之。</p>

<h3>胃毒小舌</h3>
<figure>
<img data-orig-src="urn:270:05082.jpg" alt="胃毒小舌">
</figure>
<p>此症因毒結胃家。發於小舌、形如前症。胃脈沉而洪大者，真結毒也，臨症者不可忽之。亦有紅腫爛者，治法亦同。用十八味神藥同玉樞丹，每日一錢。土茯苓每日用四兩，煎湯代水，多吃為貴。服一月後，如不愈，合結毒紫金丹一料，沖玉樞丹同服，亦用土茯苓湯下。早晚各三錢收功。</p>

<h3>積熱小舌</h3>
<figure>
<img data-orig-src="urn:270:05083.jpg" alt="積熱小舌">
</figure>
<p>此症因肝胃二經火毒飛騰。所以小舌長硬，白衣裹滿，咽物不下，右關之脈浮大者也。用六味湯加：山梔（一錢）　連翹（二錢）　酒炒黃芩（二錢）　黃柏（錢八分）　生石膏（三錢）　滑石（二錢）　赤芍（一錢）　葛根（一錢）　木通（一錢）　河車（二錢）。吹金不換，後服玉樞丹，二、三服無有不愈。</p>

<h3>純白小舌</h3>
<figure>
<img data-orig-src="urn:270:05084.jpg" alt="純白小舌">
</figure>
<p>此症因胃家積毒，小舌忽變白色，軟大而痛。右關之脈洪沉。先用玉樞丹，每服七分，十服或五服。再用土茯苓煎湯代水，後用廣瘡藥二十一服，銀花湯送下。如胃脈不沉，反浮洪者，作火症治。用六味湯加：生石膏（三錢）　酒炒黃芩（二錢）　山梔（一錢）　車前子（二錢）　木通（一錢）　滑石（二錢）　葛根（二錢二分）　天花粉（一錢五分）　山豆根（二錢二分），二三服。即此一症，兩治之法也。臨症必詳脈理，然後下藥為妥。</p>

<h3>懸旗小舌</h3>
<figure>
<img data-orig-src="urn:270:05085.jpg" alt="懸旗小舌">
</figure>
<p>懸旗風，生於小舌下垂，尖頭變圓粗，如桂圓核大，紅如櫻桃。此因多食厚味燥酒，以致胃火鬱盛而發。用六味湯加：甘草（五分）　枳椇子（二錢）　赤芍（一錢八分）　河車（二錢），二服乃痊。或腫處出血，吹金不換亦好。胃脈浮洪者是。</p>

<h2>雜喉門第八</h2>
<p>（七症圖說）</p>

<h3>松子喉疔</h3>
<figure>
<img data-orig-src="urn:270:05086.jpg" alt="松子喉疔">
</figure>
<p>松子疔，生於關內、小舌兩旁或左或右，形如松子，淡紅而硬，大痛艱食，背寒身熱，兩寸關脈緊盛，乃風火鬱積之症也。用六味湯加：蘇葉　羌活　赤芍　連翹　山甲　河車（各二錢），明日去羌活　蘇葉二味，再加乳香（三分）　玉樞丹（一錢）　研細，藥水沖服，二日而愈。吹金不換藥亦可。</p>

<h3>走馬牙疳</h3>
<figure>
<img data-orig-src="urn:270:05087.jpg" alt="走馬牙疳">
</figure>
<p>此症因脾胃積受熱毒太重，初起牙肉先腫，日久腐爛，此為急症。齒落肉黑者不治，脈浮洪者生、沉細者死。如脈大有力，尚可用重劑救之，脈遲虛細，藥石難投。故臨症須詳脈治之。初起未爛者，即針腫處出血，搽金不換。已爛者，不必行針，搽藥照上，用川連　葛根　連翹　犀角　生地（各二錢）　白蘚皮　甘草　象貝母　天花粉（各錢半）　生石膏（一兩）　草河車（一兩），入大鍋內，煎服三四碗，連服三劑。如脈數、便結加：生大黃（五錢）　生石膏（一兩），或者有救，遲則不治。</p>

<h3>喉單</h3>
<figure>
<img data-orig-src="urn:270:05088.jpg" alt="喉單">
</figure>
<p>此症因肝風鬱熱動氣而生，關口上部下垂，根大頭小，紅色大痛。先針兩邊患上出血，吹金不換、漱六味湯一服，明日加柴胡　鉤藤　赤芍　生地　丹皮　河車（各二錢）　連翹　黃芩（酒炒）　黃連（各一錢）。多煎數滾，服即愈。</p>

<h3>喉菌</h3>
<figure>
<img data-orig-src="urn:270:05089.jpg" alt="喉菌">
</figure>
<p>此症因胎毒所致，或因心胃火邪，生於喉內如菌樣，故名喉菌。不可用刀針。服黃連解毒湯、玉樞丹可使其不發，然未見全退者。</p>

<h3>喉瘤症</h3>
<figure>
<img data-orig-src="urn:270:05090.jpg" alt="喉瘤症">
</figure>
<p>此症因惱怒傷肝，或迎風高叫，或本源不足，或誦讀太急，以致氣血相凝，生於關內，不時而發，治以調本養源之藥，玉樞丹、地黃丸俱可常服，難許速痊，外吹。</p>

<h3>叉喉瘤</h3>
<figure>
<img data-orig-src="urn:270:05091.jpg" alt="叉喉瘤">
</figure>
<p>喉瘤亦有生於關外，亦名曰瘤，故法□以著症同，而地部異耳。治法如前。</p>

<h3>左陰瘡</h3>
<figure>
<img data-orig-src="urn:270:05092.jpg" alt="左陰瘡">
</figure>
<p>左陰瘡，生於頰車之下，內熱外寒，皮色不變，身發寒熱，腫大如鰻鯉，俗名鰻鯉瘟也。用六味湯加：萬靈丹一服，同藥化下，如變紅色，用喉癰藥治。便結加生大黃（三錢），玉樞丹亦可服。症屬少陽，用柴胡、牛蒡子湯兼六味湯漱之。</p>

<h3>右陰瘡</h3>
<figure>
<img data-orig-src="urn:270:05093.jpg" alt="右陰瘡">
</figure>
<p>右陰瘡，治法同前。</p>
