<header data-type="book">
<h1>評琴書屋醫略</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>潘名熊</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1865">公元1865年</data></dd></div>
<div><dt>底本</dt><dd>杭州三三醫社版（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NCL-9910015371">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>自敘</h1>
<p>兒侄輩從師羊城余慮其功課之餘風寒不慎飲食不節因主外感春溫暑濕瀉痢瘧七症方與之庶免臨渴而掘井後據云服之多效即館友亦有遵此法而除病者余聞其驗遂翻閱自著舊方皆從平穩立法即無夥邪之患亦無傷元之憂始則欲便於侄繼則思並益同人因復增入頭心腰腹脅腳耳牙疝氣痿躄諸痛小便大便衄吐諸血又消渴嘔吐噎膈反胃霍亂黃疸淋濁癃閉遺精咳嗽諸症大抵少年輩起居飲食不謹所致者共成三十三症此外證治雖尚多遺略但此中數症實人生所易患且又每見時醫誤冶而世人受其害者不少是以不必求其全而思撮其要擬付梓人公諸好俾不知醫者亦得自為調理不致為庸醫所誤凡初起輕恙按法服之諒易就痊至若久恙重恙又不敢謂能盡奏效也番禺潘名熊蘭坪氏自序於西村之評琴書屋</p>

<h1>序</h1>
<p>醫之道微矣四難未審二反遽施毫釐之羞滋蔓彌甚自張仲景垂範援證立方本論闡於傷寒雜治編於金匱晰奇胲於針鼻轉渝死於麥芒千祀以還咸資準的然而傳經中絡受病固殊辛熱苦寒施劑尤劇偶遇嚏鼽詎假鳥頭作帝才逢痎痞即推捉母為君斧伐或致傷元升提因之耗液欲登仁壽厥道無由此吾友潘君蘭坪所以有醫略之作也原夫風寒異中湯別桂麻表裡殊攻治歸經脈而濁從鼻入息只透於膜原寒以陽舒氣或蒸為內熱毫毛所中詎由關膈之經灑淅為淫未人支蘭之藏君乃別傷為感異熱於寒取沖淡以養和雜芳香而逐穢列柴胡於八陣方嗤景岳之粗釐暑熱於三焦全守河間之法復以濕蒸痁起癮重瀉溏辨嘔吐之實虛審制消於水火不貪汙下微判清溫則以外感溫熱立法而濕瘧瀉痢消渴嶇吐諸證附焉自是以還不脛而走執簡問明堂之訣叩門求禁要之方君復刪掇外臺折衷診籍以為戶樞不轉則痛擾諸官主藏失調則血凌百脈不分部次何殊隔幕之蜆未酌盈虛卒有潰川之變況復鬱蒸成疾癃閉為災州都無氣化之官水府窒司冥之令軒轅失馭濁黃溢於龍門金火相刑虛白傷其虎穴爰分痛血逮夫濁淋辨燥濕於疽遺別風邪於咳喘集方七十七首列證三十三門不須五診之能悉合六微之旨洵可家藏笥篋人免寢氛矣或者謂扁鵲善醫隨俗為變邯鄲貴婦為帶下醫濰陽重老為耳目痹醫感陽愛小為小兒醫君於諸條未邊舉例不知邪淫客感病多中於少年春蠶秋掣易招於疹氣治惟先乎腠埋患靡入於膏肓若夫杖鄉稱考庋閣娛珍頤養當慎於重茵權輿詎資乎百草嬰童周眸亦傳百問之篇婦女專科別立奇經之部無求氾濫庶便巾箱至於讞和六鑿消息三停仲氏硯毫長兄治色佔大妄之有喜以不藥為中醫此視人之調劑尤屬君之宏願也悉以殺青甫竟問道於盲爰以卮言弁諸卷著學慚好問敢汙李杲之書世有史遷待續倉公之傳同治四年四月同里李光廷序</p>

<h1>附詩並各題贈</h1>
<p>兒侄輩遵余所著醫略試之頗效因有學醫之志作詩曉之小道仍難哉（兒侄曾言業儒之難）誰能信無過書亦充棟梁詎易萬卷破無恆不可作良庸分勤怠醫良能濟人醫庸必賈禍證不疑似分藥昧彼此妥娛用同操刀敢信無因果知之惟最佳業之未必可學也祿在中醫豈富而哿作歌曉爾曹儒術斯慰我</p>
<p>陳古樵明府（璞）云作者精於醫而戒其子不為醫此真實本領絕大見</p>
<p>識慈悲心事其語不徒訓子可與世土一切學醫者讀之</p>
<p>荷花生日日適醫略著成偶得數韻遺興荷香襲書書芬清仰屋而著初告成文字有緣遂余欲豕魚無訛命兒錄老來文物倍關情顛連疾苦為之矜壽叢百年終有盡吾沒何術俾生靈偶然有得著醫略酌古准今述不作將期拯厄亦扶元分遞水村與山郭家家養得無病身□□共作太平民對花沉吟諷不倦彼蒼何時慰吾願</p>
<p>蔣湘漁上舍（灝）云仁者之心仁者之言願典眾生佛前焚香贊誦黃銘石廣文（德華）云本平素之淨修垂普渡之寶筏如誦長阿含經使彼諸天增益五福直合佛手仙心並傳不朽</p>
<p>張韞玉明經（仕輝）云先生丁詩詩言其志先生明醫醫會其意錦囊青天囊不忍自秘總勒成書（先生另續刻評琴書屋吟草二卷故云）舉以問世得公之詩將見愈愚傳公之醫猶能醒眯</p>
<p>崔壽如茂才（廷森）云蘭坪先生禪理深邃時於吟永見性真所著醫略</p>
<p>一書不異金繩寶筏以之拯救眾生是能具大法力者弟堯臣明府（亮功）云蘭坪大兄醫略一書證辨而方良慈航普渡其禪而醫乎復讀諸作一片慈悲心事情見乎詞大菩薩心腸善知識法施如是如是</p>

<h1>評琴書屋醫略卷一</h1>
<p>外感症</p>
<p>即傷風症稍貪風涼最易感受見症頭痛鼻塞或發熱咳嗽因時用藥治法較妥今即春夏秋冬訂方列左</p>
<p>春日外感</p>
<p>經云春傷於風又云春傷於溫謂春日受風其氣已溫須防夾入春溫一症溫邪忌汗故也春主升夏主泄即外感亦忌大發汗（春溫症見下倘口乾舌燥壯熱煩冤便是春溫的症當從下篇春溫法治）北杏仁（一錢半）　紫蘇梗（一錢半）　嫩竹葉（四錢）鮮取剪碎煎　建神麯（一錢半）　細甘草（八分）　梔子殼（一錢半）加蔥白四錢淡豆豉三錢同煎</p>
<p>頭痛加連翹鉤藤有痰而渴加鮮竹茹瓜蔞（皮仁任用）不渴加半夏芥子咳加桔梗杞葉食滯加萊菔子麥芽曾食肥膩加山查實熱加芩連（梔殼改用梔仁）夜熱加丹皮地骨倘氣虛中寒者獨用蔥豉湯加黨參四五錢生薑四五片煎服便合其黃耆神麯亦可酌加若氣血兩虛而見微寒微熱者用參歸桂枝湯加陳皮煎（方即桂枝湯加入參當歸）</p>
<p>夏日外感</p>
<p>夏傷於濕當佐以去濕夏易感暑當佐以清暑　北杏仁（二三錢）　川滑石（三四錢）　青蒿梗（二三錢）　建神麯（一二錢）　甘草梢（七八分）　冬瓜皮（四五錢）加鮮蓮葉（三四錢）　蔥（一二條）為引</p>
<p>濕盛再加蒼朮或茵陳芩皮小便黃短加梔子木通另有見症當加藥與氣虛</p>
<p>中寒者當看前春日外感所列</p>
<p>秋日外感</p>
<p>秋傷於燥辛溫藥宜少用北杏仁（二三錢）　神麯（一二錢）　杷葉（二三錢）　梨皮（三四錢）　甘草（七八分）</p>
<p>加鮮蓮葉（三錢）鮮紫蘇葉（一錢）為引</p>
<p>發熱而咳加土桑白皮（三四錢）地骨皮（三四錢）燥渴加麥冬知母或鮮活水蘆根生粉葛肉（二物代茶亦佳）兼受秋暑氣加滑石冬瓜皮或乘露或鮮嫩竹葉另有見症當加藥與氣虛中寒者仍看前春日外感所列</p>
<p>冬日外感</p>
<p>冬傷於寒且秋主收冬主藏用藥辛散些不妨但冬溫症非所宜耳（冬溫症見下春溫症注）南方風傷衛者多寒傷營者少如確傷寒自有仲景師傷寒證治可考不復贅北杏仁（二三錢）　神麯（二三錢）　蘇葉（二三錢）　防風（一二錢）　甘草（七八分）</p>
<p>加生薑（二三片）蔥（一二條）為引</p>
<p>另有見症當加藥與氣虛中寒者仍看前春日外感所列</p>
<p>春溫症（冬溫同論症治）</p>
<p>冬傷於寒春必病溫差寒邪久伏已經化熱且入春感於少陽大旨以清涼為主故古人用黃芩湯清心涼膈散誠以苦寒堅陰為正治此症初起壯熱煩冤口乾舌燥必然並見最忌辛溫散藥劫傷津液與尋常外感治法不同若外邪先受引動在裡伏熱必先用微辛涼以解新邪如蔥豉湯最為捷經表分肅清然後進苦寒以清裡熱此法時醫不講動用柴葛姜防發汗傷津以至譫語神昏（元神寄養於津液之中若津液傷則神失所養而昏）幻症百出終歸莫救誠堪浩嘆冬應寒而反熱亦有是症其名來溫見症同治法同均忌汗　白芍（二錢）　連翹（一錢半）　梔子（一錢半）　北杏仁（一錢半）　黃芩（一錢半）　甘草（八分）</p>
<p>加鮮竹葉（三錢）剪碎同煎</p>
<p>渴加麥冬蓮子心鮮梨皮鮮蘆根花粉等胃熱加知母右膏粳米若舌張絳惡飲為熱伏心營（喉燥舌乾喜飲水者熱在氣分喉燥舌乾惡飲水者熱在血分）加犀角生地銀花麥冬天冬（去芩芍杏梔用竹心代竹葉）夜熱加地骨丹皮青蒿生地（去梔芩）又兼風者名風溫（其症兼見汗出咳嗽）加入薄荷梗牛蒡子之屬兼濕者名濕溫加入鮮蘆根川滑石之流倘此外更有兼症宜參考葉氏書治之</p>
<p>暑症</p>
<p>未夏至為病溫已夏至為病暑發熱而心煩為暑熱的症前人有傷暑中暑之分因有陰暑陽暑之辨傷陰暑者其脈虛症見發熟惡寒手足微厥腠理開則酒灑然寒閉則蒸蒸熱悶治有三物十物香薷飲清暑益氣湯等法中陽暑者其脈洪大或洪而弱症見大發熱煩渴自汗面垢體倦氣息喘促日晡病減治有六一散白虎湯加入參加竹葉麥冬等法（陽暑大忌香薷溫散葉氏亦有小用而佐以黃連者）至若種種傳變前賢各有精義可參茲不重悉秋後更有暑熱伏氣之病臨症指南邵新甫引述頗詳當參考之茲擬方僅為陽暑症輕者立法商治（若陰暑症當用前所列陰暑三方加減主治擬方不合用若汗頻泄者為暑傷元氣當用清暑益氣湯加減治之倘已成暑瘧下瘧症論之已悉可參考）　川滑石（四錢）　綿茵陳（一錢半）　青蒿梗（三錢）　甘草梢（八分）　細木通（一錢半）　北杏仁（一錢半）</p>
<p>加鮮蓮葉（三錢）鮮絲瓜葉（三錢）並剪碎同煎</p>
<p>氣分有實熱酌加石膏知母或梔於芩連心熱煩渴加麥冬蓮子心或鮮竹心鮮蘆根（去木通茵陳若煩渴甚用西瓜汁淡水梨汁代茶亦佳）如舌絳赤暑已入心營加犀角麥冬生地銀花連翹元參少佐菖蒲（三四分）（去杏仁青蒿木通茵陳）其鮮嫩竹葉西瓜翠衣冬瓜皮緣豆皮暑熱皆堪酌用如無汗即陽暑亦不妨少佐香薷六七分葉氏謂香薷佐絲瓜葉能社暑中之風暑風外襲肺胃氣阻即陽暑亦有無汗者凡暑日發熱兼咳嗽者名暑風不須風藥</p>
<p>過散即本方少住香薷或參入桑白杷葉桔梗蒲荷梗便合</p>
<p>附案（暑邪變瘧）</p>
<p>暑之陰陽治各不同其分別固為最要復思長夏濕熱交蒸暑必夾濕夏熱人喜當風易感暑風更當分別何者輕重余在羊城診琴友楊君星門暑邪變瘧一症初患暑時醫謂外感重而暑濕輕用柴葛姜防從風治（暑風作冬日風寒治謬甚）更醫謂濕重用蒼朮茵陳又更醫謂熱重用芩連知柏終歸罔效以致暑熱不解而成瘧邀余診以三說詢余余日是不難辨即君亦能自辨之古人謂傷風惡風傷寒惡寒傷食惡食推之凡察其所惡即知其所傷今君喜披襟當風是不惡風非傷於風可知渴喜涼飲飲多無痞滿之患（濕病多飲必覺胸脘痞滿）且進西瓜梨汁更覺胸脘暢適是不惡濕非傷於濕可知瘧來身熱熾且心熱而煩（暑先人心心煩是暑出症）貪涼而惡熱是傷於暑熱可斷況脈亦洪大耶但暑熱無質無形本伏三焦氣分後醫未讀劉河間先生書不知治暑法程徒用苦寒作六經實熱主治故仍不效耳茲擬方遵河間胎暑熱當先清肅上焦氣分法選辛涼輕清之品投劑諒無不效果服二劑病減四劑病痊方用石膏知母麥冬鮮嫩竹葉滑石各三錢蓮子心甘草各八分香薷（五分）同煎服其出入加減亦不過地骨蓮葉洋參粳米</p>
<p>濕症</p>
<p>濕有中濕寒濕風濕酒濕濕熱濕溫濕痹濕痰之名理宜分內因外因之治茲訂中和滲濕之劑當察其所因而加減治之凡濕症舌多白脈濡緩濕鬱則脈象兼呆鈍仲景師云濕家忌發汗汗之變痙厥患濕者不可不知茯苓皮（四錢）　綿茵陳（一錢半）　北杏仁（一錢半）　大腹皮（二錢）　白緒苓（二錢）　閩澤瀉（一錢半）</p>
<p>加梔子（一錢）淡豆豉（二錢）引或用通草（五六錢）先煎湯去渣將湯代水廁藥脾虛受濕加白朮蒼朮（去梔子杏）舌白惡飲或周身盡痛（此濕阻氣機以至氣不能連行故周身盡痛）宜加波蔻仁馬兜鈴或霍香梗滑石濕熱加黃柏黃芩寒濕加附子乾薑（去梔子腹皮杏）風濕加防風霍香葉濕痹加防風狗背濕溫重用鮮蘆根通草煎湯代水（去豬澤加滑石甘草（酒濕加枳棋子葛花濕痰加製半夏陳皮</p>
<p>又濕在上宜防風濕在中宜蒼朮濕在下宜利小便（即本方或再加滑石車前便合）濕在周身宜烏藥姜活狗脊等濕在兩臂宜靈仙桑枝桑寄等濕在兩股宜牛膝防已萆薢等審其患濕之處而方中加以主治之藥為引導則發藥治病無不效矣</p>
<p>泄瀉症</p>
<p>書云濕成五瀉（飧溏驚濡滑）又云氣滯為脹濕鬱為瀉可知瀉不外乎濕然有腹痛必兼食積無腹痛但濕鬱陽明蒼朮（一錢半）　雲苓（三錢）　陳皮（一錢）　木瓜（一錢）　防風（一錢）　豬苓（二錢）　腹皮（一錢半）　澤瀉（一錢半）方內蒼朮不覺燥加多覺燥減少至若腹痛則加木香或濕檳榔霍香梗食積加厚朴神麯或萊菔子山查（或去腹皮木瓜）酒積加乾葛熱加芩連寒加桂枝吳萸附子（去豬苓腹皮防風○凡大辛熱大苦寒藥未涉醫者宜逐味漸加為穩書首凡例已經列明）脾虛加入參內朮附子（去腹皮豬苓澤瀉）若五鼓後瀉且有定時者為脾腎皆虛宜四神丸加人參茯苓白朮附子粟殼之類又凡痛而瀉瀉而痛減者食積若痛而瀉瀉而痛不減者乃土衰木乘（脾虛故瀉肝實故痛）宜用土炒白朮三錢炒白芍二錢陳皮一錢防風一錢（此名痛瀉要方）或更加木瓜一錢炒蓮葉二錢同煎人參茯苓炙甘草煨乾葛皆可酌加久瀉者須少佐升麻數分（二症上擬方皆不合用）</p>
<p>痢症</p>
<p>見症裡急後重腹痛欲便不便濕熱食積相併則成此症痢色有赤有白之不同亦因其受病有熱重濕重之各異熱勝於濕則傷胃之血分而為赤痢濕勝於熱則傷胃之氣分而為白痢若赤白各半則氣血兩傷治法當宗劉河間先生調氣和血之旨（和血則膿血自愈調氣剛後重自除）茲因將赤痢白痢赤白痢分症處方治之</p>
<p>赤痢方金銀花（三錢）　建神麯（一錢）　半山杳核（二錢）　當歸身（一錢）　紅曲米（一錢）</p>
<p>生甘草（八分）　云黃連（一錢）　或加陳茶結糖各（三錢）同煎</p>
<p>痢色赤甚或酌加紅花（六七分）地榆（七八分）引</p>
<p>熱甚黃連銀花各再加（一二錢）濕加滑石防風食滯加萊菔子苗厚朴腹痛頻加木香數分便澀滯而大痛加酒炒大黃數分或錢零若久痢微痛澀滯而燥渴者為下多傷陰加生地阿膠黑芝麻白芍（去二曲山查連）或獨用六味地黃湯主治凡痛緩積稀為熟滯漸去當和血生熟地黃生制首烏當歸白芍黑豆黑芝麻為要藥（去二曲連山查）</p>
<p>白痢方</p>
<p>川滑石（三錢）　炒銀花（二錢）　建神麯（一錢半）　泡蒼朮（一錢）　綿茵陳（二錢）</p>
<p>生甘草（五分）　防風肉（一錢）</p>
<p>加炒香蓮葉（二錢）為引（鮮干任用）</p>
<p>濕微或渴減蒼朮濕盛不渴加蒼朮或再加白朮茯苓另有見症當加藥當看前赤痢症所列</p>
<p>赤白痢方</p>
<p>銀花（三錢）　建曲（一錢半）　青皮（五分）　防風（八分）　滑石（三分）　黃連（七分）　土炒　陳皮（五分）　甘草（八分）</p>
<p>加當歸（五分）蒼朮五分為引</p>
<p>如赤多於白當歸借蒼朮（或再加多些銀花黃連）白多於赤蒼朮倍當歸（加多些防風）服二三劑後若得痛緩積稀加白朮茯苓當歸白芍以調和氣血（去滑石青皮或再去黃連蒼朮減少銀花或再加木瓜甘草改用炙）</p>
<p>另有見症當加藥仍看前赤痢所列凡久痢仍脈數有熱香連丸最佳倘赤白將盡症轉脈虛自汗真人養臟湯訶子散在所必用</p>
<p>經驗赤白痢方銀花滑石白糖各等分多煎代茶漫飲（又赤痢銀花倍滑石白痢滑石倍銀花）痢已久便仍滯加打破黑芝麻同煎口乾渴加生粉葛肉同煎</p>
<p>附論時行傳染二症痢症慣有時行與傳染二種尤常分別治之時行者從皮毛而入症必兼見微惡寒邪風所過行於一家則一家病行於一鄉則一鄉病當宗喻嘉言初用辛涼解表次用苦寒清裡法宜敗毒散加減傳染者從口鼻人症不見惡寒穢氣所觸染一人則一人病染一方則一方病當宗劉河間調氣行血法宜芍藥湯或參入霍香正氣散加減治之</p>
<p>瘧癩</p>
<p>瘧一日一發者其邪淺兩日一發者其邪深三日一發者名三陰瘧流連難愈其邪原伏少陽入與陰爭則寒出與陽爭則熱爭則病作息則病止其邪仍伏本經寒熱之來必應期而至若寒熱模糊來勢混而難分此邪氣重而正氣怯若寒熱相等作止有時斯邪氣輕而正氣不甚虛茲擬方先從正氣未虛者商治</p>
<p>建神麯（二三錢）　黃芩（一二錢）　青皮（八分）　法夏曲（二三錢）　青蒿二三錢　甘草（八分）</p>
<p>春冬加薑棗夏秋加蓮葉（久瘧與冬月皆去青蒿加柴胡）</p>
<p>寒多加草果或桂枝熱多加知母或石膏（凡發熱無汗最忌石膏慎之又有汗忌丹皮無汗忌白芍均不可不知）渴加花粉麥冬（去二曲）痰多加瓜蔞夏曲改用半夏夜熱加丹皮地骨（去二曲）夏日濕盛加滑石茵陳不渴寒多加蒼朮兼暑熱加滑石黃連秋燥（去二曲青皮芩）加桑白皮地骨皮麥冬杷葉或鮮蘆根冬瓜皮梨皮若正氣虛者（擬方不合用）宜用補中益氣湯加減治之又單寒無熱宜用附子理中湯加柴相單熱無寒宜用白虎湯少加桂枝</p>
<p>此症發於夏秋者暑濕為患者居多暑必夾濕當分暑與濕何者為重暑熱重者瘧來者必熱重而寒微唇舌必絳赤煩渴而喜涼飲飲多無痞滿之患當宗桂枝白虎湯法及六一散加入辛涼之品治之（涼如麥冬竹葉蓮葉類辛如青蒿香薷類）濕邪重者瘧來時雖則熱勢蒸燔舌必有黏膩之苔渴喜暖湯胸脘覺痞脹嘔惡當宗霍香正氣散及二陳湯去甘草加北杏仁白蔻仁生薑之類治之</p>
<p>凡首列擬方原為輕症投劑更有偏於寒者主以大劑薑桂附偏於熱者主以大劑石膏芩連王太僕云熱之不熱是無火也益火之源以消陰翳寒之不寒是無水也壯水之主以制陽光趙養葵遵之以八味丸益火之源六味丸壯水之主治久瘧多因此法收功（六味是益陰利陽法脈與症確陽勝於陰而後用此陰藥方無貽累慎之）</p>
<p>倘間日一發者非瘧期日不宜用表藥祛邪亦不宜蔽固其邪有濕者去濕有熱者清熱有滯者行滯總以蔬蕩其邪為主若氣血虛者當佐以扶元至期日然後用表藥以社邪外出服藥宜早三個時許三陰瘧之治法亦然期前後兩日亦但當扶正至期日然後少佐表藥以社邪即春夏令主升泄柴胡亦當少佐凡久病必入絡須用當歸桃仁少佐紅花（上三味活絡血下三昧蔬經氣）草果桂枝柴胡自能透邪外出</p>
<p>茲擬因暑熱成間日瘧者立一法治（其餘各因可推）</p>
<p>間日瘧期前一日後一日服方（劑宜輕小）</p>
<p>建神麯（一錢半）　夏曲（一錢半）　陳皮（三分）　甘草（三分）　生扁豆（三錢）不打加鮮蓮葉（三錢）切碎同煎</p>
<p>熱加鮮竹茹渴加麥冬蘆根濕加茵陳食滯加穀麥芽虛加參朮寒加生薑</p>
<p>煨姜有痰倍夏曲</p>
<p>瘧期日即用上初擬治瘧六味原方並參所列加減法治之體虛者月補中</p>
<p>益氣湯加減</p>
<p>三陰瘧余每用補中益氣湯與何人飲法加減治之瘧期前後兩日治法專主扶正</p>
<p>三陰瘧期前兩日後兩日服方（亦宜輕劑）</p>
<p>黨參（三錢）　首烏（一錢）制　神麯（七分）炒　陳皮四分當歸（一錢）加生</p>
<p>姜（一二）片（有痰加半夏睥虛加白朮大棗或更佐人參）</p>
<p>三陰瘧期日服方（早三個時服或五更服亦佳）</p>
<p>人參隨用　白朮（一錢半）　桃仁（八分）　柴胡（八分）　黃耆（二錢）　首烏（三錢）　紅花（二分）　黃芩（八分）　當歸（二錢）　桂枝（八分）　草果（八分）　青皮（五分）　加生薑（二片）大棗（三枚）煎（方中如用黨參宜四五錢麗參二三錢人參酌用之）</p>
<p>凡方中用人參加野山土木關東吉林高麗防黨潞黨須因人因症用之其分量輕重亦燃即凡方藥中之輕重皆然如原方服不知則分錢倍用（此三陰瘧方宜於溫補藥中分錢倍用）倘輕症與幼科其分錢或減半用之</p>
<p>熱多者加柴胡黃芩（參耆術歸桂草果略減少）寒多者加桂枝草果單寒無熱者柴芩不用（少壯者此法多效老弱者常遵下列高鼓峰法）高鼓峰先生云三陰大瘧最難治余於歲月未久者用參湯下二妙丸（橘紅半夏二味神麯和丸）服至半月一月自愈如年深月久尫羸不堪者大劑養營湯吞八味丸仍於湯中加附子一錢十貼必除（久瘧用補中益</p>
<p>氣不效必須遵此法）</p>
<p>附案（暑邪變瘧）黃君于飛余舊知也余嘗學琴於其尊人太原廣文于飛時少亦同學焉今復同道而學醫也其尊堂夏日偶患暑瘧症適於飛外出延醫某治之誤用小柴胡再加苦寒升散藥服二劑病增劇寒多嘔惡不食汗大泄于飛旋里頻進溫補繼復邀余同診六脈弱而無神面唇舌俱白且有一種寒冷象閱近服方多用六君加歸耆草菓薑棗等余曰藥從溫補病宜漸輕於飛日僅得納食而瘧至之苦依然也瘧將作必先頻嘔瘧止而嘔仍不即止家慈最苦者嘔君先際之餘日此嘔原過服姜活柴胡升動肝風所致肝風既欲動更乘瘧勢一作益挾之以肆其升逆之威夫木動必乘胃土邪阻胃降嘔斯作矣用術草棗而培胃虛以制肝用黃者而維陽氣以固衛原治久瘧汗多善法但現苦頻嘔有升無降此等究屬升提守中愚見姑擬暫停專取降逆理虛一法方用生左牡蠣塊一兩吉林參三錢同煎當歸五錢桂枝陳皮製半夏生薑佇各一錢于飛見信果一服瘧即不復作瘧止後仍用於飛參耆</p>
<p>術歸草棗舊方法加入附子溫少火以生氣而調養復元</p>
<p>又案（瘧後辨寒熱）</p>
<p>吾友黃云裳之女十二歲秋杪患瘧醫以柴葛姜防治而愈之已進飲食後復發熱渴飲微汗津津醫誤認復感仍用表散熱愈熾渴愈甚邀余診脈得右關獨擻余曰此食滯耳非外感也原治瘧時辛散過用燥傷胃津胃液不充因食納而化遲漸生積熱以至壅壓營衙而不能相和胃為陽土故獨發熱兒輩病初愈即頻進飲食每多此症倘仍苦寒以傷胃辛散以劫津斯變幻立殆矣治法宜選甘涼以養胃生津胃津充剛穀食自化營衛自和而肌熱自解仿人參白虎法加減麗參五分同煎麥冬（連心）鮮嫩竹葉剪碎各二錢生扁豆不打三錢知母石膏各一錢甘草三分石膏研末白糖沙拌炒後下煎服一劑渴熱稍退三劑全愈云裳曰吾今始知傷食亦有寒熱也余曰更不止此云裳曰君能為我備述乎余曰試為君略舉之風塞傷於表營衛不能運行於外而寒熱生暑濕穢濁與燥氣口鼻吸入阻其氣機營衛不能轉旋而寒熱亦生食滯阻氣之升降實火擾氣之流行營衛因失其循行之度而寒熱亦生又況陰虛生內熱陰盛生內寒陽盛生外熱陽虛生外寒重陰則熱（陰盛隔陽）重陽則寒（陽盛隔陰）而陽維為病更苦寒熱有不關於營衛之利興不和而急當講究夫育陰以和陽者耶云裳曰然則陰虛寒熱與外感寒熱究何以辨別而治之餘曰以宥汗無汗為別有汗屬營衛不和因營衛不充循行失度故或發熱或寒熱葉氏論治調若用桂枝湯當重用白芍以斂陰和營無汗屬肝腎奇經以至陰深遠難隔越諸經以達於陽分而泄其汗也葉氏論治調當用芳香輕清之品以宣通八脈滋陰益血之藥以調養奇經倘參入當歸桂枝湯法治（即桂枝湯加常歸）亦須去白芍芍酸不走絡也云裳曰君詩云症不疑似分藥味彼此妥誠然</p>

<h1>評琴書屋醫略卷二</h1>
<p>消渴症</p>
<p>消有三消之分飲水多而小便少為上消食谷多而大便堅為中消飲一溲一小便如膏為了消（上中二消屬熱下消屬寒）前賢治法上消用人參白虎湯中消用調胃承氣湯下消用腎氣丸其實皆津液乾枯病故趙養葵先生謂凡大渴大燥無分上中下用大型六味地黃湯加肉桂五味（名加減八味丸）連劑頻進飲渴自止白虎承氣皆非所宜此趙論雖變古人成法其中實有妙義蓋人之濯溉一身全賴兩腎中水火少火能生氣則真水自升而渴自止（加肉桂正所以溫動少火前賢治下消用腎氣丸者即此意）燃臨症總貴因脈變通上消較多先擬清燥法</p>
<p>大麥冬（五錢）連心　大天冬（二錢）　白粳米（四錢）　大生地（五錢）　雪梨乾（八錢）　烏梅肉（四分）　加生蜜沖服渴仍照方頻進蜜不拘多少與烏梅酸甜合病者口味為妙酸甘蓋取其化陰</p>
<p>服三四劑仍渴倘脈洪大而數喜冷飲者加石膏知母仍渴再加黃連甘草脈沉弱而遲喜熱飲者（擬方不合）宜遵養葵法（或腎氣丸中消用調胃承氣湯合四物湯或去芎硝君以石膏）下消宜腎氣丸若骨瘦腿疼宜知柏八味加杜仲人參天冬五味</p>
<p>嘔吐（霍亂嘔吐見下腹痛症與此不同切勿混治）</p>
<p>嘔吐一症屬足陽明胃經有寒有熱有虛患此最宜明辨其因寒而嘔吐者脈必遲（唇舌白惡飲）因熱而嘔吐者脈必數（唇頰赤口燥渴）因虛而嘔吐者脈必虛（唇白麵黃倦怠嗜臥）果能因脈辨症施治必效茲擬症近於熱者立一安胃降逆輕劑以便因症加減金釵斛五錢先煎製半夏一錢半細甘草三分緒雲苓三錢化橘紅四分鮮竹前三錢加生薑一錢同煎（或去甘草甘能守中壅氣發嘔因石解苦故少佐耳）如確審得脈數熱盛加石膏粳米或麥冬鮮蘆根（經驗方石膏粳米麥冬蘆根煎代茶止熱嘔頗佳）方內生薑橘紅或減少或不月若脈遲有寒者去石斛竹茹加砂仁或蔻仁或獨加方內生薑用三四錢或五六錢寒重者加至兩零必效若脈虛屬中氣虛者去石斛竹茹加白朮人參大棗虛而兼寒者再加附子乾薑至若嘔吐而寒熱往來者少陽症也宜另用小柴胡湯主治</p>
<p>附論噎隔反胃</p>
<p>嘔吐症中更有病名噎隔病名反胃者其人於飲食之際氣忽阻塞曰噎心下隔拒或食到膈間不得下（故古人亦有名之為膈者曰隔古人謂津液乾枯為噎隔病源忌投溫補可知誤用參者術以培補之愈增其隔誤用薑桂附以溫暖之益速其亡選藥必須用清潤之品以急救陽明胃陰為主（高鼓峰謂治膈一陽明盡之）如牛乳人乳沙參天冬麥冬地黃蘆根茅根韭汁陳酒最為要藥選方常遵楊乘六用左歸飲去茯芩加當歸生地主治然吾嘗用大半夏湯合麥門冬湯給之亦間有獲效者倘刺痛大便乾結（大陽無血一當遵鼓峰法熟地五錢當歸白芍桃仁麻仁各三錢以潤之（如其人形體尚壯加大黃二二錢以助血藥更妙）或用酒大黃桃仁婦尾煉蜜為小丸茅根濃廁湯送下以緩下之（大陽潤利胃口自開然此症年五十下或可治五十上難醫初病或易治久病難醫若飲食方下咽即上逆或剌痛啟膈飲之重用沙參以開肺氣之郁又不可不講究也若朝食而暮乃吐暮食而朝乃吐其大便甚利或溏者（與膈症分別處驗大便為最要）此中下二焦火衰反胃症也（王太僕云食不得入是有火也食入反出是無火也）宜吳茱萸湯附子理中湯或六君子湯加姜附治之高鼓峰亦主王太僕之論用八味丸主治然余治內人患此用大小半夏湯吳茱莫湯三方合用而痊（除噎隔症外凡治嘔吐藥中磨沉香汁三四分其效倍速）疸症</p>
<p>即發黃症遍身面目溺皆黃原有五疸之分（黃疸谷疸酒疸女勞疸黃汗）陰陽虛實之別而究濕熱無蒸為患者居多治法必從氣分宣通乃效茲擬滲濕清熱佐以宣通氣分方法（此症渴難治不渴易治）苓皮五錢滑石三錢黃芩一錢北杏一錢茵陳三錢梔子一錢半蔻仁四分加淡豆豉三錢同煎一或重用鮮田基黃白□草煎湯去渣將湯代水煎藥）熟盛借用梔芩濕盛加蒼朮周身盡痛濕阻氣機也宜倍用蔻仁以開肺氣肺主一身之氣化故也炒銀花澤蘭葉霍香葉梗）豬苓澤瀉木通萆薢海金沙腹皮皆芳香逐穢滲淡除濕之品可因症參人加減但所因不一治法頗多即女勞瘀血難療自有方書可考（沈金鱉尊生引述頗詳可參考且分別黃腫與黃疸證治亦佳）似不煩多贅然竊念陽黃陰黃清溫各別每見誤治者難免傷人是不得不明辨夫陽主明故黃如橘子色治胃（脈或數或緩必有力）即宜用上擬方並參以所列加減各法治之陰主晦故黃如曛黃色治脾（脈必沉弱且身冷）羅謙甫先生以茵陳四逆湯主之高鼓峰用四苓散加炮姜茵陳治之重者加附子又有脾液外越而發黃者（脈弱體倦無神但面身黃目溺不黃）貧而勞苦者多（勞則傷脾脾虛不能收攝真氣故也）宜香砂六君子湯加減治之　附案二</p>
<p>酒肉速綿之會適暑濕交蒸之時稍不謹慎最易犯此濕熱疸症擬七味遵服數劑便可全愈余當醫故交謝司馬侄年少患此初起即進原方二劑病已減半間數日再進二劑漸愈惟目尚黃只多飲烏龍茶（此芬芳香能闢暑濕穢濁之氣）與薄味調養而痊（此症忌酒肉厚味）</p>
<p>葉案治疽症有云不宜下恐犯太陰變脹不知亦問其症之宜與不宜耳琴師左君逢源患此痙三月餘服藥罔效延余治自述每三四日始一更衣今已五日矣能食脈有力余用茵陳蒿湯加芒硝治之方用大黃三錢菌陳四錢梔子芒硝各二錢煎好衝入酒二杯服服後大瀉明日硝減半服再瀉病稍退隔四日仍苦便難前方去硝加桃仁（三錢）服二貼仍瀉二次繼以薄味調養而收全功</p>
<p>頭痛</p>
<p>頭為諸陽之會與厥陰肝脈會於巔故頭痛一症半由厥陰風火挾諸經火上擾所致茲即是議訂一方其風寒虛三者亦非盡無然六淫五賊之分氣血虛實之別前人成法自有可稽即沈芊緣尊生一書引述頗詳可因其援引而博考之至若偏正頭風當遵葉天士先生育陰和亢陽柔潤熄內風一法參入商治</p>
<p>北杏（三錢）　連翹（二錢）　蔓荊子（一錢）　鉤藤（五錢）　白菊（一錢半）　鮮蓮葉四錢用邊切碎煎熱盛加羚羊苦丁茶各三錢煎兼感受暑氣加六一散三錢引</p>
<p>知確非由外感（無發熱惡寒鼻塞聲重脈浮等）去北杏運翹荊子轉用生地熟地天冬麥冬玉竹胡麻阿膠龜版鱉甲等選擇三五味配入本方治之此養肝體佐以清肝用法陰虛火浮最宜即偏正頭風亦可治葉案所謂育陰和亢陽柔潤熄內風者此也此等症或全用靜藥羚羊鉤藤菊花或亦不用或少佐之</p>
<p>附論偏正頭風</p>
<p>偏頭風多屬少陽以少陽行身之側故也誤投柴胡多致損目以升散少陽耗竭肝陰故也朱丹溪以左屬風屬火主血虛右屬痰屬熱主氣虛遵之亦有效有不效其初起者不論左右用鮮紅根地膽草頭五錢（如無以白茅根代之）富歸羚羊（二味先煎）木賊天麻荊子菊花各一錢川芎白芷各四分黑豆百粒煎服多效</p>
<p>另有一種正頭風數日一發或數月一發此乃風毒客於髓海服藥難達病所故年深難愈宜用菊花陳茶蒸濃汁仰臥冷注鼻中（或用生萊菔汁）或甜瓜蒂五分皂角二分細辛一分真麝香二釐蜜小丸綿裹塞鼻中涕濕則易之得嚏或出濁涕竅通而痛自解</p>
<p>風毒傍於腦海之旁亦令偏頭痛倘用育陰和陽柔潤熄風法不效上從鼻治三法皆可選用左痛從左治右痛從右治（亦有主左痛治右右痛治左者當並試之）又或用肉桂一分人言一釐麝香二釐辛夷細辛各五釐胡椒十粒為末棗肉為丸加豌豆大一粒放膏藥中心貼准太陽穴一日常見效（因風寒而起者更妙）如壯年火盛者愈後服黃芩大黃瀉火則目自愈</p>
<p>腹痛（中臍及臍上下痛同考）</p>
<p>臍上屬太陰（脾）臍中屬少陰（腎）臍下屬厥陰（肝）當分別治之凡一切痛症虛者喜按得食則止脈無力實者拒按得食愈痛脈有力</p>
<p>霍香梗（三錢）草決明（四錢）生白芍（二錢）川棟子（一錢半）大蕎麥（三錢）細甘草七分舊青皮八分醋炒加橘柚葉（二錢）（鮮取剪碎）同煎臍上痛加木香（五六分）炒穀芽（三四錢）中臍痛加吳萸（五六分）炒山甲（一二片）（皆去霍梗青皮）臍下痛加海嫖蛸（四錢）茵根（一錢）或再加制香附（二錢）炒山查覈（三錢）（去霍決蕎芍草五味倘按之冷仍須加吳萸或肉桂若女子患此則當時杞子蒺藜靈脂不可少下附奇經心痛案可參）又腹痛恆有因飲食不慎而致者如肉食傷宜山查蓬朮阿魏食飯傷宜神麯麥牙食麵傷宜萊菔子生冷傷宜草果蒼朮厚朴宿食傷宜枳實黃連蓬朮檳榔因其所傷之物而以主治之藥為君助以余藥兼以化氣痛自愈矣然而腹痛之因更有不止此者腹滿痛而大便閉為實有厚朴三物厚朴七物與大黃附子湯法腹滿痛而下利為虛有理中湯法雷嗚切痛而嘔吐為寒氣有附子粳米湯法慎疾者宜小心察之</p>
<p>附案</p>
<p>香邑黃閣鄉麥榭基每日交西必腹痛（臟腑十二時流注說以西屬腎經）將交戌痛乃漸止病年餘無有能愈之者一醫會作熱積治用樸枳連柏漸增腸嗚（寒氣更或時吐時瀉又更一醫治以自制小丸此後則諸恙倍增腸嗚雖遠坐亦聞腹痛每至於悶死必西刻將盡始漸醒而痛緩日日如是無有間者危急之際邀余診脈無神結見兩關在尺擬附子粳米湯加味治之熟附子三錢炒粳米制半夏各四錢麗參木瓜炙草南棗肉各一錢是晚痛雖止而腸尚嗚亦將父戌而其嗚乃息翌日診原方加土炒白朮五錢棗肉改用三錢木瓜改用一錢半是晚諸恙俱安隔年餘適到黃閣復邀診據述今年上半載無恙後半載每月復發一二次因痛不比去年之甚故加味複方僅服半劑而自能漸安余仍用附子粳米湯合理中湯加味為小丸令其常服以防後患防黨參白朮各四兩附子當歸各一兩麗參半夏乾姜木瓜甘草各五錢用大棗糯米煎稠粥為小丸每服三錢早用淡鹽湯送後聞連服五料乃收全功附論霍亂症霍亂腹痛一症又當用霍香散等法治之王肯堂云霍亂不吐瀉或腹脹如鼓不得用別藥惟益元散可服炮湯冷定時時呷之或連末服下此藥能降邪氣消食墜痰和胃調中但聞腹中有響聲即是好消息不下則吐不吐則下乃霍亂中妙藥也（大忌薑湯米湯烏梅梅醬）余遵是法遇霍亂症或未吐瀉或已吐瀉用霍香葉建神麯大葉茶各三錢（皆能和中）澤瀉本通各一錢（皆能降濁）柴胡姜活各七八分（皆能升清）煎湯沖益元散三四錢俟將冷服之倘腹仍痛仍依法進（有濕必須加蒼朮）或佐以霍香散法無不獲效又古人調凡暴病母論其脈但從其症此誠確論霍亂症與一切痛疲急症脈多伏者斯言不可不記又謂凡病來迅速者俱屬肝經主病（五行中最迅速者莫若風火肝為風火之臟故也）此雖不僅為腹痛而言然肝主筋亦主痛則痛症亦不得謂無關於肝也霍亂症本迅速而起故亦須少加柴胡以蔬肝或佐青皮以伐肝</p>
<p>附論疝氣症腹痛亦有因疝氣連及臍下（厥陰肝）中臍（少陰腎）臍上（太陰脾）及兩脅（少陽膽）而痛者宜遵丹溪議專治厥陰肝主筋主痛故也疝雖有七（寒疝筋疝水疝氣疝血疝狐疝㿗疝）治法總以辛香流氣蔬泄厥陰為主金鈴子散左金丸五苓散三方當合用而加減治之凡暴疝多寒久疝多熱如寒則重用吳萸桂枝或再加小茴肉桂熱則重用黃連川棟或再加黃柏木通其南木香青木香（即兜鈴根）橘核鮮橘葉鮮黃皮枝鮮田基黃皆辛香流氣宜絡舒肝之品合參入為佐使（沙參一兩同豬小肚煎羹治疝會效沙參清肺能令肺金清肅之氣下行肺與膀胱通氣化故也三層茴香丸用沙參即此意）倘欲再佐宜活絡血之法兼欲引藥力直走至陰之域則桃仁歸鬚山甲韭白雄鼠矢在所必用至若老弱久疝幸丸下墜又當溫散奇經升舉奇陽（經云任脈為病男子內結七疝女子帶下瘕聚）固本補虛又為最要當歸羊肉湯滋腎丸虎潛丸皆治木法也其小茴炒當歸（小茴拌水炒當歸能通肝臟脈張之陽氣）兔絲子關沙苑杞子鹿茸鹿角霜桂枝尖白蒺藜皆可因症商用</p>
<p>心痛</p>
<p>心痛者非心痛也真心痛不治乃心胞絡興胃脘痛耳訂方遵苦辛降通一法通則不瘻矣當更參後列各見症辨其所因而加減治之</p>
<p>丹參三錢川楝一錢半麥冬二錢連心打破硃砂拌勻香附一錢延胡一錢半烏藥一錢佛手二錢加春砂仁三粒連殼打破同煎或磨檀香汁些少衝服或加百合同煎（百合烏藥名百合湯川楝子延胡名金鈴子散丹參砂仁檀香名丹參飲三方皆治心痛）凡心痛症用豬心</p>
<p>一個煎湯去豬心將湯代水煎藥更效久痛者方中必須加當歸桃仁以活絡血（若得食則痛緩此由於積勞而營血虛歸桃外再加柏仁胡麻圓肉原方減去川楝延胡烏藥春砂）倘心痛切背（此胸痹症）宜括蔞薤白半夏湯</p>
<p>又痛因痰（痛而惡悶嘔出痰飲即寬者為痰）加半夏貝母瓜蔞仁（去丹參麥冬香附）因食滯（覺飽時暖氣直至飢而後緩者為食滯）加草果枳實檳榔或麥芽神麯（去丹參延胡烏藥）因寒（痛時飲熱湯熱酒而痛緩者為寒）加乾薑良薑（去麥冬丹參）因郁（痛應背心者為郁見症似胸痹宜燥宜潤當辨）加川貝母川芎（去烏藥砂仁）因蟲（心頭急痛唇白毛堅日吐黃水者為蟲）加雷丸君肉烏梅黃連（去丹參麥冬烏藥延胡砂仁）感用檳雄丸治之因瘀血（心頭結痛氣逆上衝唧唧有聲者為血）加蘇木三稜蓬朮或加桃仁紅花降香（去麥冬砂仁烏藥</p>
<p>又有心痛頻發痛極悶死必吐涎水而後醒者乃寒痰積於心脾用炒梔子一兩煎加竹瀝薑汁各一杯沖服有卒然大痛無聲手足冰冷且氣冷麵青咬牙噤齒此乃真心痛因寒邪直犯君火僅對時即斃如用豬心湯煎麻黃官桂附子乾薑急服或有得生者（此法出黃肯堂醫鏡謂此乃秘要妙法）</p>
<p>附案（奇經心痛）</p>
<p>順邑馬荔隱方伯第五妾據荔隱述每戌亥必腹痛（戌亥為至陰之時肝腎為至陰之臟奇經八脈皆發源於肝腎故也）其痛始臍下漸繞臍上及兩脅以至於心天曉則安然無恙平日慣以八珍湯獲小效而自能漸安今陸醫與之診謂脈近有力當清其源然後永無再發轉用苦寒劑痛益增明日再診謂倍有力論脈當清前劑輕小藥力不到耳古人謂通則不痛（至若寒者溫之使通虛者補之使通醫似不曉）且每三兩日始一更衣此治必合（幽門氣鈍血燥醫似未明）用大承氣湯加桃仁川楝子大劑進服大便瀉後日夜皆痛（陰陽兩傷）且頻嘔不食特延君愈之餘脈之曰症屬虛寒理宜溫補荔隱曰脈鼓指否余曰鼓指曰脈若是安能補余曰未進承氣前叢似有力未必鼓指曰誠如君言何也曰此真氣虛而邪氣實耳夫胃氣充足者其脈緩今苦寒攻伐胃氣愈傷是以鼓揭凡實熱脈重按仍有力今重按則軟目唇白而困倦無神豈有餘症耶少腹痛必心痛者經云陰維脈病苦心痛也奇經八脈皆發源於肝腎原當治下因苦寒更傷中州法不得不中下兼顧使急逐其寒邪而復其胃氣愚見擬用吳茱萸湯合附子粳米煬加滅先進方用野山麗參（四錢）吳萸附子各（二錢）炒粳米半夏生薑各三錢大棗二枚一服吐止痛減次日診仍用前方加於術三錢炙草一錢煎服三日診脈象和緩痛減八九轉用當歸（小茴五分拌炒仍用同煎）紫石英（生研）各五錢潞黨杞子各四錢鹽水炒破故子制香附制蘄艾葉各一錢服四貼後間或加天生術關沙苑同煎或加野山土術人參北鹿茸末各一錢另燉沖服調養將一月而痊半載後因房事痛復發且少腹脹左尺弦勁（腎虛風動）用轉方七味去潞黨石英故子加海螵蛸白蒺藜各四錢茵根一錢蠍尾梢一分二劑漸愈後仍用歸杞七味方與配入參茸野術砂仁熟地出入而調餐以收全功</p>
<p>脅痛</p>
<p>脅痛多屬少陽厥陰以兩脅屬少陽又肝脈絡布於脅筋也治主宣絡佐以平肝</p>
<p>川棟子（一錢半）　夏枯草（三錢）　舊青皮（一錢）醋炒　延胡索（一錢半）　臺烏藥（一錢）　粉丹皮（一錢）去心　雙鉤藤（四錢）　加鮮橘柚葉剪碎青　蔥管寸斷各（三錢）</p>
<p>凡久痛必入絡須加桃仁紅花以活絡血或參入旋覆花湯以降絡或佐入蘇子生薏米降香（葉氏三味慣並用）芥子以通絡王肯堂謂大忌陳皮生薑細辛服之即令肝脹以其能補肝故也用青皮宜醋炒酸能破結直入肝經故也痛甚者加醋半酒杯沖藥服</p>
<p>凡痛亦當知在氣在血見症各有不同痛而不臌按之愈痛痛無時止瘀血作痛也痛而且臌得噯即緩痛有止時怒氣作痛也怒氣作痛加酷炒柴胡佐青皮以伐其肝少加木香佐烏藥以開其氣紅花當歸又或酌用以利其血也（或去鉤藤延胡）瘀血作痛加桃仁歸尾紅花（去鉤藤烏藥青皮姑草或少佐醋炒柴胡川芎）或加蘇木山查蓬朮等若痛甚加大黃下之此氣與血見症所由分亦氣與血用藥所宜辨也若微痛著於一處此為痰痛上擬方藥不合用必君以芥子佐以竹瀝薑汁治之其絲瓜絡白蒺蒺浙貝膽星蔞皮青皮黃連等亦臺佐使腰痛</p>
<p>腰者腎之俯在內為少陰（腎）在外為太陽（膀胱）故腰痛必從二經主治一表一里治法攸分須明夫邪自外來而痛者屬膀胱虛由內生而痛者屬腎宜填宜補而溫宜通法原不一余嘗擬補腎一方相傳而服者多效先錄存之愚見再參末分治</p>
<p>金狗脊（四錢）去毛　兔絲子（三錢）　破故子（五分）鹽水拌炒　關沙苑（四錢）牛膝肉（二錢）酒炒　厚黃柏（五分）鹽水拌炒　生杜仲（三錢）　或用豬腰（一對）煎湯代水煎藥</p>
<p>熱黃柏倍故子寒故子倍黃柏（或二三倍）痛已除再加入熟地杞子胡桃或鹿茸鹿角霜多服數貼方免復患凡腰痛脈沈而細者當治少陰時痛時止腎精虧也即用上擬補腎方主治時痛時熱腎水虧也宜另用知柏八味湯治之若脈浮而緊者當治太陽背肉刺痛風容於腎臉穴也麻黃細辛獨預防風生地當歸白芍以蔬其風鬱痛畏冷寒客於氣海腧也麻黃附子細辛當歸炙草以驅其寒痛重難移濕著於藏精所也麻黃蒼朮白尤當蹄杜仲牛膝茯苓薏米炙草以逐其濕</p>
<p>腳氣痛</p>
<p>此名壅疾謂濕氣壅塞經絡致痛也忌用補劑若專事溫補必成廢疾有寒濕</p>
<p>風濕濕熱之分宜細按後列脈症加減擬方治之</p>
<p>當時三錢　舊木瓜二錢酒炒　細木通一錢半　姜活一錢半　生薏米五錢　紫蘇一錢半　防風一錢半　加生赤小豆皮五錢同煎</p>
<p>臨夜發熱而痛脈濡而數者為濕熱加黃柏麥冬同煎晝夜憎寒作痛脈濡而遲者為寒濕加蒼朮乾薑附子防已加皮（去木通蘇梗）其腫痛走注無常或踝或膝或脛脈濡浮兼數者為風濕加生地牛膝（去木瓜薏米蘇梗）不效再加入芒硝大黃同煎若嗜酒而伏酒濕毒者辨脈輿症或兼寒兼熱康風遵上三法選藥施給重加枳棋子乾葛花以解酒毒或用巴戟五錢（糯米拌水炒乾去米）大黃一兩炒同為末蜜丸（名巴黃丸）溫水送下五七十丸（仍須戒酒）凡腳痛山甲地能可加作引若走動而痛上臂手須加云仙另有乾腳氣痛不腫而踡縮枯細當潤血清燥（宜玉竹生地麥冬天冬胡麻石斛牛膝歸鬚鱉甲阿膠等）又有陰虛腳痛足跟焮腫而紅當補賢養營（宜龜版生地熟地當歸大冬杞子杜仲玉竹巴戟黃柏</p>
<p>知母牛膝等）二症與腳氣濕症大相反彼此誤治必增劇</p>
<p>附論痿躄症</p>
<p>腳氣痛外又有所謂痿躄者方書謂痿症無痛不知兼濕重者則筋緩而痿軟兼熱多者則筋急而作痛余見痿症慣有兼痛者醫用祛風藥（丹溪謂斷不可作風治）滲濕藥作風濕腳氣痛治無不增劇是以特附此症於腳氣痛條中（汪石山治一人痿兼痛者用人參二錢黃耆一錢半白朮茯苓生地麥冬各一錢當歸八分黃柏知母各七分連服數貼而痿痛愈）夫痿有脈痿筋痿肉痿骨痿之殊原不止痿於足（更有頭痿手痿腰痿一身俱痿）而經謂諸痿生於肺熱（肺主一身氣化肺燥熱則血液涸而不能營養筋骨故痿）又謂治痿獨取陽明（陽明主潤筋束以利機關虛則宗筋弛叢手足痿而不能用）叢諸痿商治概可悟矣若痿躄在下則肝腎病多（肝主筋肝血傷血不營筋則四肢不用而筋骨拘攣腎藏精精血相生虛則不能灌溉諸末而營養筋骨）而肺胃亦宜兼顧大補陰丸滋腎丸虎潛丸二妙丸（若肺燥蒼朮可勿用）人參固本丸皆堪選用其玉竹巴戟杞子杜仲等可參入五方加減治之（三指禪注經驗方地黃四兩黃柏知母各一兩肉桂一錢煉蜜為丸方書有謂血虛四物湯二妙丸臺用氣虛四君子湯二妙丸合用加龜版虎骨當歸地黃（可知二妙丸亦治痿症要藥）若痿症見於上則肺熱居多東垣清燥湯在所必用刨即冬沙參粳</p>
<p>米每日煎粥飲似極平淡究屬神奇也（此法治消渴亦佳）</p>
<p>耳痛（耳鳴耳聾同辨證治）</p>
<p>腎關竊聲心亦寄竅於耳膽脈絡附於耳老弱與久病皆屬體虛失聰（聾鳴而不痛）治在肝腎少年或暴病總屬邪干閉竅（痛鳴聾皆有）治在膽經即本是議酌方先擬清少陽絡法</p>
<p>羚羊角三錢先煎連翹殼二錢粉丹皮一錢苦丁茶一錢半牛蒡子一錢半香白芷二分加鮮蓮梗三錢寸斷鮮蓮葉邊三錢剪碎為引</p>
<p>氣閉則耳鳴耳聾簿荷梗夏枯草蔓荊子鉤藤菊花馬勃木通皆通竅之品可參入加減火鬱則耳痛菊葉桑葉銀花梔子亦可任加然原方已屬統治至若肝腎虛而為聾為鳴者宜用磁石六味丸加龜版五味遠志菖蒲主治人參當歸杞子鬼絲沙苑杭菊亦可因症選用</p>
<p>牙痛</p>
<p>上齒脈絡屬足陽明胃下齒脈絡屬手陽明大腸有風痛熱痛蟲痛寒痛痰毒痛瘀血痛之分備載本門可考惟風熱痛為尤多因訂一清絡熱方法</p>
<p>金銀花（三錢）　雙鉤藤（四錢）　粉丹皮（一錢）　絲瓜絡（三錢）　連翹殼（二錢）生甘草（八分）　加生柏葉（三錢）引（上齒痛或加石膏知母下齒痛或加生地秦艽）</p>
<p>風痛加荊芥防風水虧火亢加生地天冬麥冬元參（去絲瓜絡連翹鉤藤）食飯後倍痛胃火旺也知母大便結者加生地（七人錢）風化硝（二三錢）（亦去絲瓜三味）</p>

<h1>評琴書屋醫略卷三</h1>

<h2>淋症（濁癃閉同考）</h2>
<p>淋有五淋之分濁有精濁便濁之別總屬腎病臂有二竅一出溺一出精淋出溺竅而屬肝膽濁出精竅而屬心腎不得混治</p>

<h2>治淋症方（可統治五淋宜辨症加引）</h2>
<p>赤茯苓（四錢）　當歸梢（一錢）　山梔仁（一錢）　川萆解（四錢）　甘草梢（一錢）　石菖蒲（三分）</p>
<p>石淋下如沙石用銀硝硃砂滑石等分研勻（朴硝一味宜隔紙炒炒至紙變黃色為度）每服三錢（或加發灰石首魚頭內石灰）即將此湯送下甚則日服二三次（另用海金沙木通煎湯送）膏淋下如膏脂加烏藥益智仁（沖鹽些少）氣淋氣滯不通臍下悶痛加荊芥制香附麥芽勞淋從勞力而得加入參黃耆白朮少佐升麻柴胡（歸改用全歸草改用炙草）血淋瘀血停蓄莖中作痛加牛膝鬱金桃仁或沖韭白汁小杯同服</p>
<p>至若點滴俱無症名癃閉加北杏（三四錢）麻黃（一錢）同煎（夏月麻黃用四五分）若癃閉而不渴此法不宜須另用通關丸主抬（即滋腎丸）</p>

<h2>附案二（石淋）</h2>
<p>黃閣鄉張某年七十餘患石淋小便點滴而出痛甚少腹脹氣微喘能食醫用清利法罔效求余治左尺弦大直上左關余用大補陰丸臺滋腎丸治龜版（一兩）地黃（五錢）知母黃柏各（三錢）肉桂（六分）張畏桂性熱減其半服後小便稍通腹脹略減而痛不除再求治余調必須佐桂六分乃效信服之小便大利出石數粒如橘核大遂愈</p>
<p>明經鄉周韶石叔令昆年將三十石淋阻塞溺竅點滴不通以至腹脹如鼓痛楚不堪臥床不起危急之際延余治脈呆鈍不甚應指（氣不升降轉旋失職故也）余用京柿炭一個（連霜蒂煆）硃砂三錢（二味方得自楊溶馬虞階孝廉謂凡小便不通皆合用粥水送下余用治血淋屢今又仿之以治石淋）芒硝（三錢）同研末用杜牛膝（五錢）（時藥店無以鮮土牛膝一兩代）懷牛膝川滑石黃柏桃仁韭白各（三錢）甘草梢石菖蒲各（七分）煎湯送下服後出石一條長約一寸大如粗箸小便遂頻比沐地俱濕腹脹頓消而愈</p>

<h2>治濁症方</h2>
<p>建蓮米（四錢）連心　麥冬（一錢）違心　石葛蒲（五分）鹽水炒　雲茯苓（三錢）益智八分遠志肉八分青黛拌水煮乾川萆藤三錢烏藥八分甘草梢八分鹽水炒　濕盛加蒼朮白朮黃柏（去麥冬遠志蓮米）便濁加豬苓澤瀉或海金沙滑石（亦去麥冬遠志蓮米）精濁加兔絲子桑螵蛸生龍骨或關沙苑山藥五味（去草梢萆薢烏藥益智）赤濁加生地當歸天冬（去萆薢烏藥益智白濁加入參黃者白朮或蒼朮豬苓（去萆薢麥冬烏藥或再去遠志蓮米）凡莖中痛必須加鹽水炒黃柏為引</p>

<h2>遺精</h2>
<p>此症當辨有夢無夢與濕熱之因有夢治心無夢治腎濕熱治小腸膀胱陰虛者填補陽虛者補氣陽強者瀉火故前質治法有寧心益腎填精固元與清利濕熱之別茲先擬一寧心益腎固攝之劑以便因各見症加減治之桑螵蛸（三錢）　云茯神（三錢）　大麥冬（二錢）連心　建蓮米（五錢）違心　熟棗仁一錢半　遠志肉五分制　加龜版打碎五錢生龍骨打碎三錢二味先煎或加菖蒲云連各（三四分）為佐使（如有夢加多些黃連無夢但加五味人參）陰虛加熟地天冬阿膠常歸等（去棗仁遠志茯神）陽虛加人參黃者杞子杜仲白朮等（去龜版麥冬龍骨桑螵蛸）陽強加生地知母黃柏</p>
<p>（去棗仁遠志茯神）遺泄頻頻宜佐以固攝之品如兔絲子五味子覆盆子金櫻子蓮鬚之類選入一二味為佐使至若精遺因濕熱者宜另用豬苓湯法治之（其芡實山藥沙苑蓮米凡遣泄症皆可常食）</p>

<h2>便血</h2>
<p>此症有風淫腸胃有濕熱傷脾始則臟腑受傷久則陰絡亦損治原不一（肯堂醫鏡芊錄尊生引述頗詳當參考之）茲即大腸受熱者訂一方俟因症加減</p>
<p>大生地六錢黃柏炭七分槐花一錢半赤少豆四錢地榆炭七分銀花一錢半加木賊一錢烏梅二個同煎（梅或煆炭用）</p>
<p>熱甚再加黃芩蓮葉或桑葉丹皮如服二三貼血仍見必須用黑芝麻（洗淨打破生首烏各四錢加入同煎（去木賊梅）因濕加防風內術（去生地）因風加荊芥當歸防風（去銀槐花若血下色淡者另用四物湯加龜版生首烏制首烏煎服便合倘便血流連止而復發用生首烏末米糊丸每服三四錢甚效而京柿黑豆煎湯送下更佳）金匱分別糞前下血為近血用赤小豆散糞後下血為遠血用黃土湯果於脈症有相合則於古法自堪師余當治戴姻兄便血或糞前或糞後無定用生首烏制首烏大生地各四錢白朮防風木瓜白芍各一錢常歸陳皮各七分一帖血減三帖全愈凡便血柿京黑豆錄豆赤少豆黑芝麻蓮米可常服（或糖作羹或選入同豬精肉柴魚或豬大腸煎湯俱佳）</p>

<h2>小便血</h2>
<p>即尿血溺竅病也其源由於腎虛非若血淋由於濕熱其分辨處以痛不痛為斷痛屬血淋不痛屬尿血餘訂是方施治頗效因錄存之且此方不但治尿血方中烏梅炭當時兔絲子皆倍用生地改用熟地其當歸蓮米二味同用黑米醋煮透炒乾婦女崩漏久不愈亦會迭效</p>
<p>龜腹版一兩先煎　兔絲子四錢　大生地五錢　鹿角霜三錢先煎　白當歸一錢半　建蓮米五錢連心用打破煎　加烏梅炭二個（米醋泡洗）為引</p>
<p>如陰虛火炎加知母黃柏各（一二錢）（此配入大補陰丸法）用豬腰子湯京柿黑豆湯旱蓮草湯（方書有獨重用旱蓮治此症者）代水煎藥俱佳此等閒藥少用則無功多用則礙方藥煎故酌用煎湯代水一法（前蘆根□草湯即此意）</p>
<p>王肯堂醫鏡主心經受熱遺熱小腸用五淋湯加石蓮麥冬而君以黃連治之餘思此方可治血淋似難治尿血姑錄以俟考因直指云小腸有氣則小便脹小腸有血則小便澀小腸有熱則小便痛可知無痛則無熱尿血無痛故疑王論沈芊緣亦主腎虛以太極丸主治</p>

<h2>衄血</h2>
<p>肺火上蒸則血從鼻出名曰鼻衄大陽與胃熱上逼則血從齒出名曰齒衄均宜清降方可統治但齒衄血症最輕者可服藥可不服藥</p>
<p>乾白茅根（四錢）鮮者倍用　大生地（三錢）　元參（三錢）　正土桑白（四錢）鮮者倍用　大麥冬（三錢）連心　牛膝（一錢半）　加鮮竹前青遠茶各（二錢）同煎（方平淡宜多煎代茶）</p>
<p>服二三劑血不止加童便一小杯沖服令引熱下行必應熱盛釵斛天冬丹反黑梔白茅花可任加</p>
<p>倘鼻衄不甚者亦等齒衄均無足慮若其甚者與吐血無異蓋漏血過多而不止則非關血熱實由氮虛不能統攝急當補氣以攝血補氣以生血宜用錄時補血湯法黃耆一兩當歸三錢加薑棗煎（不涉醫者逐杯試之）此法雖氣息奄奄亦可回生至於傷寒鼻衄名曰經汗瘟疫鼻衄名曰外潰皆喜其得衄而自解不必再商治（凡一切血症突來太多者必須於補氣法治之）</p>

<h2>吐血有內因外因</h2>
<p>究竟因於內而七情飢飽勞力所傷者尤多攻補溫寒須憑脈證茲先就陰弱陽亢者擬一方後參末議大生地（八錢）　干茅根（四錢）　舊黑梔（一錢）　大天冬（三錢）　茜草根（一錢）　細甘草（五分）　加生柏葉（二三錢）鮮藕節三個同煎服一二劑倘仍頻吐不止再加生蓮葉（三四錢）生艾葉（二三錢）炮姜（五六分）童便一二杯沖服或用田三七末六七分調入如脈數熱甚加犀角黃柏丹皮倘症輕者旱蓮女貞黑豆皮浮小麥麥仁麥來桑寄知母可任加如無外感鱉甲龜版元參牛膝秋石皆可酌用若咳胞脅引痛者加冬瓜仁生薏米蘇子降香以降絡桃仁紅花以活絡吐血先見胸痛血黑成塊者此為瘀血加桃仁丹皮香附醋炒大黃治之（皆去甘草）然此特初患治法高鼓峰云血症久古人多以胃藥收功如烏藥沉香炮姜大棗此虛家神劑也倪漱山亦云七情內傷脾胃先病（故多見噁心）固元湯歸脾湯補中益氣湯等法必不可少而吾見患此症者醫不輕用補病家尤畏夫補以至愈後或數月而復發或一年而復發卒至纏綿而莫救者多矣亦由其元氣已虧營血未能安常而循行經絡也余於見信者雖屬熱症以清涼奏功繼主育陰和陽亦必佐以固本培元之法如生脈六味生脈四君與左歸飲加參歸等更用歸脾丸原方或遵鼓峰法加減蜜小丸常服守此法調養以至於康健勝常血永不發者指不勝屈肯堂於火症血稍止即用龜版首烏地榆加入四物湯治之鼓峰用六君加當歸治之或加黃者謂參者以回其氣氣回血自術行經絡或用重料六味左歸等飲於水中養本亦必加人參謂使氣自陰生也又芊綠引仁齋直指云凡氣虛挾寒陰陽不能相守血亦妄行宜理中湯加木香當歸（姜炮黑）血得暖自循行經絡陳修園亦謂凡吐血服寒涼及滋潤藥益甚而望其形色有寒冷象者是陽虛陰走亦主理中湯加木香烏藥或木香當歸要之所因不一亦難盡述欲通變達權溫清各常常於本門所載博覽之</p>

<h2>附案（肝病誤治胃）</h2>
<p>鳳浦馮君蕙庭人瘦而長咳嗽繼以吐血醫與溫胃劫痰藥血益甚延予治脈得左堅右弱予曰貴恙乃肝腎陰虛而生內熱薰蒸脈絡致血不得留靜前賢謂瘦人之病慮虛其陰今服燥藥即犯虛虛之戒陰愈虧陽愈熾矣故血益甚愚見主先治肝方用復脈湯去桂姜（參用麗參）加白芍二錢生牡蠣塊五錢次日診仍用前方加田三七末四分沖服另用淡菜黑豆冬蟲草煎豬精肉湯作飯菜再診脈緩血止惟咳痰難出轉用醒胃汁以滌痰飲一法麥門冬湯加釵斛二錢（與麗參同先煎）五六貼諸恙俱安繼用歸脾去本香加陳皮白芍五味麥冬杞子為小丸常服痰咳漸除身體日健</p>

<h2>又案（胃病誤治肝）</h2>
<p>鳳浦胡君易堂夏患痰咳失血醫用膠地等作肝腎陰虛生內熱治不效且痰增胃減延余診脈得右堅左弱余曰前人主左堅填肝腎右堅理肺胃今右堅治胃為要炎夏陽氣方升泄冒陰虛而無鎮壓之權勢必震動胃絡絡傷則絡中之血因隨陽氣上升倘云三陰熱蒸脈必徵於左部據理論治藥宜先淡薄味以調養胃陰曾服膩藥太多須佐以宣暢脘氣方可消痰安穀生扁豆（用粒不打）（五錢）麗參（一錢）麥冬茯神各（三錢）石斛穀芽各（二錢）陳皮甘草各（四分）服三貼再診血止脈緩惟時或心悸或汗微泄主兼理心營肺衛黃耆沙參各（三錢）麗參麥冬各（二錢）五味炙草各（三分）麥仁棗肉各（四錢）多服調養仍用歸脾丸加杞子五味蜜小丸常服精神自此日旺體健勝於平時吾因思胡馮二君皆先服清而後受補故血不復發實賴參者以回其氣氣回血得守其常度湎循行經絡也夫患血而畏補者多是以終難</p>
<p>了局因存此二案醒之</p>

<h2>又案（苦寒過服元氣受傷）</h2>
<p>羊城宋君勉之知醫素喜清涼涉稍溫補不敢服久患咳血所服藥餌無非清降以致年餘反履不已近服犀角地黃湯納穀漸減因邀余相參診右脈空大無神余曰金匱云男子脈大為勞謂陽氣虛未能收斂也即據君述症咳頻則汗泄顯是氣失統攝絡血上泛之徵倘依然見血投涼見嗽治肺胃口從茲敗壞矣愚見主急固臟真正合仲景師元氣傷當進甘藥例能守此法胃土自安肺金自宵吐血痰咳亦自止方擬黃者四錢人參麥冬白芍各一錢五味炙草各七分杞子南棗肉各二錢勉之見信連服四貼血止胃漸進此後從余言自用婦脾湯加減調養而獲愈</p>
<p>續附丁卯新案（虛陽升泄強血妄行）</p>
<p>同里黃和叔君好學士也夏五暑熱炎蒸正天地大氣泄越時（天地氣機泄越人身氣機亦應之）月之廿四綺窗挑燈動誦（勞傷心陽亦暗吸腎陰）初交亥忽吐血碗許群季皆通醫理廿五早自訂四生丸服交亥見血如前且增惡寒甘六自轉用甘草乾薑湯加味進炙草炮姜五味各錢半白朮防黨各三錢（方佳但欠鎮攝）交亥仍見血加初惟惡寒略減廿七延醫某治某稱轉方佳獨嫌五味收斂（怪論真氣泄越理合收攝）原方減此加當歸更妥是晚亥血來滋甚（歸辛動上升無五味以斂之地以滋之龜附以鎮導之故滋甚）廿八邀予診六脈弱尺為甚詢足冷否曰將交亥足漸冷冷氣上少腹（肝位肝藏血）則氣喘（氣呼出心肺吸入腎肝肝腎陽升吸氣艱於入故喘）而血溢予曰據脈與述症且血必見於戌亥實肝臂病多（戌亥為至陰時肝腎為至陰臟放日則無恙而交亥則病作）原真陰有虧孤陽無偶失守上走血亦隨之夫陰陽互為其根無陽則陰無以生無陰亦陽無所附往常引導其陽兼鎮育其陰則孤陽有歸而血自安其位方用熟地龜版各五錢土木參常歸附子炮姜各一錢五分五味子炙甘草各一錢中有疑暑月吐血而用參附且會服歸而益甚者余曰尺弱足冷顯是腎陽不潛藏從滋填其陰而不固守其陽必難奏效古人原有補氣以攝血法人參附子參附湯他能固守腎氣當婦附子歸附湯也能固守營氣血去已多巡得不佐溫補以固守臟真群季曰善遂服之廿九診據述昨夜戌亥血雖不來而足冷氣促仍未盡除余仍用廿八方去炮姜倍用附於加胡桃肉四錢覆盆子二錢以攝助納服二貼復邀診已諸恙俱安但夜難熟睡擬兼理心營廿九方去龜版附子胡桃覆盆加杞子三錢茯神棗仁各二錢麥冬一錢炙草五味改用四分連服數貼後參入杜仲黃耆防黨白朮鹿茸因脈症加減而調養復元</p>
<p>選錄王肯堂先生論痰中見血一症</p>
<p>肯堂云其血或一點之小或一絲之細語其勢若無可畏而病根反深此血非由胃出乃肺臟中來肺本多氣而少血是以出者亦少今因火逼而隨痰以出則肺慮其枯而無以主一身氣化矣其害不滋大乎治法於除痰中加入止血藥如貝母瓜蔞仁茯苓麥冬元參竹茹蘇子薏米之顯以治痰犀角阿膠柏葉黑梔之類以止血黃芩黃連之類以降火調花芷石末四五分徐徐服之又法用竹瀝一碗入阿膠二兩溶開將石膏煆過一兩蛤粉一兩青黛半兩好墨一兩共為塵末調利丸如黍米大每服一錢香茗送下其效甚速</p>

<h2>咳嗽</h2>
<p>咳為氣逆嗽因有痰內傷外感所因不同五臟六腑受病各異茲先就尋常患咳嗽者訂一降氣除痰劑以便因各見症加減</p>
<p>茯苓三錢□塊　薏米四錢生用　陳皮五分　北杏一錢　牛夏一錢半制蘇子一錢半　甘草五分</p>
<p>渴加麥冬瓜蔞（皮仁任用半夏易川貝陳皮易橙皮橙皮甘苦多於辛異橘柑皮之辛燥）痰多不渴倍半夏陳皮加生薑或瓜蔞薤白咳胸脅痛加芥子少佐薑汁炒黃連或醋炒川棟子熱加石膏知母或黃連黃芩寒加益智生薑或乾薑五味細辛（去杏蘇子）風加防風一蘇子改用蘇梗）濕加防風蒼朮脾虛加入參白朮當歸（去蘇杏薏）肝腎虛吸氣短（氣吸入腎肝）加熟地當歸五味或杞子胡桃牛膝（去蘇子北杏薏米或再去甘草）</p>
<p>又因咳而後有痰宜順氣治在肺肺主氣肺惡溫燥麥冬橘紅（橙皮更佳）川貝知母桑白紫苑為要藥</p>
<p>因痰而後致咳宜消痰治在脾脾藏痰脾惡寒潤白朮蒼朮制南星製半夏為耍藥清火兼之（宜薑汁炒黃連）</p>
<p>久嗽不愈用麥冬為君川旦知母茯苓竹茹黃芩蘇子之類為佐少加五味甘草燈心服之（困風寒虛而咳忌服）</p>
<p>凡咳嗽發熱不休者不治咳而汗紲者不治（此臟真不藏氣泄而為熱為汗治當固攝臟真如入參固本丸復脈湯去薑桂加生龍骨生牡蠣磁石等治之亦幸有獲愈者）左不得眠為肝脹右不得眠為肺脹俱屬難治閱葉氏臨症指南又非僅主肝脹肺脹一說症有疑似病有實虛論治者其慎之（葉氏治右不得眠用麥門冬湯謂胃津虛無以養肺肺病降已不及而復右眠遏之故咳更甚左不得眠用復脈湯去薑桂加生牡蠣麥仁治之調肝陽升逆大過安能左眠以過其升逆之成故咳更甚治咳血症多用此法）若果肝脹肺脹宜疏宜清宜斂自有各家本門可考不復贅（即沈芊緣</p>
<p>尊生著述證治頗詳可參）</p>

<h2>附案（咳嗽而瘖）</h2>
<p>凡治病問其見症如何問其致病之因如何似較望聞切為倍要余嘗醫郭廉訪夫人年約三十外廉訪久以計偕宿京得第補外因接卷赴任夫人得喜信後忽患瘖症咳多痰少夜裡每覺火升喉舌微痛而日問飲食無礙遍訪名醫迭治罔效延余診余曰貴恙咳先乎抑瘖先乎家人曰瘖先余恙後漸起者余復問曰起此恙日會多飲醇酒乎曰無偶因夜坐看木魚書勞神明早即覺音破耳餘診其脈兩尺動數有力閱舊服方雖多亦不外清肺蔬肺止咳除痰中上兩焦藥余轉用上病治下一法龜版八錢大生地黃柏各四錢知母茯苓各二錢羚羊丹皮澤瀉各一錢余曰據述病因與脈相對沉佝似易起者藥不十貼當見效家人速於赴任聞余言喜甚時吾友謝司馬茹坪偕余往郭其戚也獨訝余言曰痰咳而用龜地諒難見效且重用黃柏短屬不通余笑曰子姑驗之次日初七復到診是夜已不覺火升咳艙舌痛矣仍用前方黃柏減一錢再服和八診兩尺漸緩聲音漸起仍用前方去丹澤方中改用龜版四錢羚羊黃柏各八分加鮮菖蒲五分煎調入真珠末七分服連服三貼十一日復到診音出已亮但欠清耳又轉用清肅上焦氣分方法沙參八錢麗參黃耆天冬麥冬（連心）各一錢白菊杭菊各四分加南棗四枚雞子白一枚同煎（雞子先蒸熟去殼去黃取白煎）僅服匹貼聲音漸清而愈茹坪曰藥已效矣吾究未得其解也余曰此付情度理耳夫妻契闊數年一旦相聚有期誰復無情況夜靜獨坐倍易觸撥情思且我粵之木魚書多豔寫男女之私以過去之情感未來之情相火尤易發動脈更得兩尺動數症亦由迅速而起（五行中最迅速者莫若風火）調非龍相火而何龍火一動勢必上升上升必凌爍肺金金空則鳴金實則無聲矣夫腎脈循喉繞舌厥陽慣從子醜弈騰此喉舌夜痛所由來也余用地以滋之龜以潛之知柏丹澤苓羚以降之泄之而復蔬通之（羊角最靈動能蔬泄火邪之入絡者）斯龍雷潛伏而安其位肺金清肅而守其常其瘖又安有不</p>
<p>速愈者茹坪曰善善審問之慎思之明辨之作醫之道亦當如是乎</p>
<p>選錄王肯堂辨十嗽與五臟咳以便參考火痰嗽者咳必面赤用力久而後出者是也不宜用半夏南星以其太燥也惟以貝母知母瓜蔞仁竹茹之類以化痰黃芩黃連山梔之類以降火蘇子橘紅茯苓之類以順氣濕痰嗽者喉中漉漉有聲嗽而易出者是也不宜用元參阿膠知母以其滋</p>
<p>潤也惟以蒼朮防風之類以燥濕半夏星薑汁竹瀝之類以去痰枳殼橘紅之類以順氣黃芩山梔之類以降火</p>
<p>郁痰嗽者胸臆脹滿連嗽不出喉中有喘聲夜不得眠上飽下飢老是也不宜用五味麥冬以其補肺也惟以枳殼桔梗便浸香附之類以開鬱川貝瓜蔞半夏之類以治痰蘇子杏仁之類以定喘茯苓黃芩山梔之類以降火</p>
<p>頑痰嗽者膠住咽喉揮咯不能出必努力大嗽而後出少許如脂膏之狀者是也不宜用煎劑宜以散子消磨之如青黛蛤粉浮海石風化硝瓜蔞仁礞石明礬之類為極細末以竹瀝薑汁調服以其膠固不開非輕劑所能愈也清痰嗽者必待嗽而後出其痰不稠黏者是也宜用緩藥治之如貝母花粉茯苓黃芩竹茹橘紅蘇子竹黃之類</p>
<p>風痰嗽者肺氣壅盛必頓嗽而後出其痰浮而有沫狀如津唾而略稠者是也宜用輕浮之劑以治之如薄荷紫蘇（梗葉）桑白防風半夏黃芩枳殼之類少加麻黃甘草（用麻黃宜配北杏以降氣）</p>
<p>寒痰嗽者得於秋冬之交或傷於入水宿露或傷於冷雨冷風所致其嗽必哮喘或肩背覺寒得熱湯飲之即緩者是也宜用蘆吸散如肉桂雄黃鵝管石款冬花甘草等分為極細末用蘆管挑藥輕輕含之吸入喉內徐徐以清茶過口或以此藥蜜丸如雞豆大含化亦妙若熱嗽去肉桂用井泉石若用煎劑宜半夏南星陳皮茯苓款冬花生薑甘草之類酒痰嗽者因醉後感冒風熱腹中有酒積飲濁酒即發者是也宜用山梔黃芩黃連以治火貝母瓜蔞半夏曲之類以治痰蛤粉花粉綠豆粉之類以消酒（枳棋子乾葛花更能解酒毒亦不可少）紫蘇梗蘇葉陳皮之類以順氣</p>
<p>食積痰嗽者每食後即嗽其痰稠黏覺有甜意胸膈不寬者是也宜以枳實萊菔子神麯麥芽山查之類以消食陳皮木香砂仁之類以順氣半夏南星之類以消痰石膏黃連之類以降火加生薑竹茹為引</p>
<p>乾咳嗽者平素陰血不足虛火有餘喉中常庠庠即頻嗽有聲無痰者是也宜以麥冬知母川貝母元參阿膠之類為主治以黃柏茯苓花紛山梔甘草之類加燈心竹茹服之甚效</p>
<p>又有嗽而兩脅痛有名曰肝咳有嗽而腰輕痛者名曰腎咳有嗽而中脘作疼者名曰脾咳有嗽而鼻流清涕者名曰肺咳有嗽而口苦舌乾者名曰心咳又有嗽而遺溺者氣虛也嗽而五心煩熱者血虛也（果二細審而後發藥施治諒無不效矣</p>
<p>又肯堂云諸嗽皆宜桔梗乃肺經本藥不可不用亦不可多用以其為舟楫之劑上而不下不用不能引諸藥至肺部多用則又承載諸藥而不能行更能作飽故不宜多用若治喉痛與元參甘草同用若開鬱與香附枳殼川芎蒼朮川貝母同用若作吐藥只與甘草等分為一大劑服之自捲痰而出矣汪藥洲先生云王氏謂諸嗽皆宜桔梗此語不能無弊驟咳者用之或宜若久咳者肺氣無有不虛方將斂之補之不暇尚可用桔梗升提辛散而犯虛虛之戒乎吾見久咳者服之而余破者有矣咳血者服之而血益甚者有矣虛喘者服之而氣暴脫者有矣何也凡上逆者法宜降之也即喉痛亦須降痰降火仲景師雖主以甘桔湯今法之只可作佐使必君以芩連類之苦降元參風化硝類之鹽降然後升提之品無礙也先生此論自注於王氏醫鏡中者因錄存之以俟同人參考</p>
<p>藥洲先生品高雅文章醫學並見重於同道好勉人為善著有武帝覺世真經詩行世字嗚岐又號鳳山吾邑汪益齊太史（嗚謙）之四弟也世居羊城</p>

<h2>附寄馮蕙庭君調養牌胃諭</h2>
<p>余脾胃素弱語云無脾胃弱老翁余竊慮焉因常留意調養迄今年及六旬飲食雖不加而精神無或減且微恙亦少見者知未始非調養力也凡人慾調養脾胃必先察夫脾胃性情明夫脾胃體用而後調養有方書云胃陽弱而百病生脾陰足而萬邪熄似治胃專究夫陽理脾專究夫陰不知脾體陰而用陽胃體陽而用陰此太陰濕土得陽則運陽明陽土得陰自安前賢所為特申明其用也夫脾能升而後能運陽氣餒則無以升腎能降而後能和陰液虧則無以降達其性情明其體用於以知納食主乎胃時知飢而少納（脾陽不傷故知飢冒陰有傷故少納）宜調養胃陰當用麥冬天冬沙參玉竹山藥扁豆糯米南棗釵斛甘草等以養之知運化主乎脾時能食而小運（胃陰不病故能食脾陽有病故少連）宜溫通脾陽當用人參內術茯苓陳皮益智仁炒粳米炒蓮葉等以醒之虛且寒再加乾姜附子肉桂以溫之此固無病培養善法亦病後調治善法也脾胃為後天養生者宜愛惜更常戒生冷物難化物以保護之延年之方莫善於此矣慎之勉之</p>
<p>醫略所用方開列於後以便查閱（分量炮製加減服法以及治證未盡載明欲知其詳當於名醫方論等書參考之）</p>
<p>黃芩湯　黃芩　白芍　甘草　大棗</p>
<p>白虎湯　石膏　知母　甘草　粳米</p>
<p>蔥鼓湯　蔥白　淡豆豉</p>
<p>梔豆湯　梔子　淡豆豉（葉案云梔豉湯能除陳腐濕熱穢濁鬱結非此不除）</p>
<p>六一散　滑石六錢　甘草一錢　（又名天水散加辰砂名益元散）雄檳丸　雄黃　檳榔　白礬　等分研末搗飯為丸每服五分小兒減半</p>
<p>飯遠服亦治胃痛因蟲者</p>
<p>桂枝湯桂枝白芍甘草生薑大棗</p>
<p>生脈散人參麥冬五味</p>
<p>二陳湯　茯苓　半夏　陳皮　甘草</p>
<p>豬苓湯　豬苓　茯苓　澤瀉　阿膠　滑石</p>
<p>四苓散　豬苓　茯苓　澤瀉　白朮</p>
<p>五苓散　即四苓加桂</p>
<p>左金丸　黃連薑汁炒（六兩）　吳萸鹽水泡（一兩）</p>
<p>滋腎丸　黃柏（一兩）　知母（一兩）　肉桂（一錢）　又名通關丸</p>
<p>五淋湯　山梔　當歸　白芍　赤茯苓　甘草梢</p>
<p>二妙丸　黃柏八兩　蒼朮（切片黑芝蕨打破拌勻飯上蒸三五次去芝</p>
<p>麻焙乾三兩）</p>
<p>虎潛丸　熟地　當歸　牛膝　龜版　虎脛骨　黃柏　知母　瑣陽</p>
<p>白巧　陳皮　羯羊肉</p>
<p>清燥湯　黃耆　人參　當歸　生地　麥冬　蒼朮　白朮　黃柏　黃連　茯苓　豬苓　澤瀉　陳皮　柴胡　升麻　神麯　五味　甘草何人飲　首烏　人參　當歸　陳皮　煨姜固元湯　人參　黃者　當歸　白芍　炙草（加煨薑棗）四物湯　地黃　當歸　白芍　川芎歸脾湯　黃耆　人參　白朮　當歸　龍眼肉　棗仁　茯神　遠志木香　炙草（高鼓峰去本香加白芍錢半甚好然噓血歸脾全在木香受燥者當用咳加麥冬五味郁加川貝脾虛發熱加梔子丹皮）四神丸　補骨脂四兩酒炒　肉豆蔻麵煨去油　吳茱萸泡去黑水　五味炒三味各二兩（用紅棗五兩生薑五兩同煮去姜將棗去皮核搗爛為丸如桐子大每日五更服三錢臨臥服二錢米湯下再加入參白朮附子罌粟殼為丸更效理中湯　人參　白朮　乾薑　炙草（丸方同）六味湯　地黃　萸肉　山藥　茯苓　丹皮　澤瀉　又名六味地黃丸（丸方同）</p>
<p>八味湯　即六味加附子肉桂（又名附桂八味亦名腎氣丸）左歸飲　即六味加杞子炙草去丹皮澤瀉復脈湯　人參　阿膠　地黃　麥冬　麻仁　桂枝　炙草　大棗　生薑　又名炙甘草湯</p>
<p>八珍湯　即四君子四物湯合用啟膈湯　沙參　川貝　丹參　鬱金　石菖蒲　茯苓　砂仁殼　乾荷蒂　杵頭糠（布包煎）</p>
<p>太極丸　黃柏（二兩六錢）　知母（一兩四錢）　補骨脂（二兩八錢）　胡桃肉（一兩二錢）砂仁（五錢）（蜜小丸空心鹽湯送下三十五丸）整頓　敗毒散　人參　羌活　獨活　柴朋　前胡　川芎　枳殼　桔梗　茯苓　甘草（即人參敗毒散）</p>
<p>芍藥湯　白芍　黃芩　黃連　大黃　歸尾　檳榔　木香　肉桂　炙草</p>
<p>香連丸　黃連二十兩吳萸十兩水拌同炒去吳萸加木香四兩八錢不見火共研末酷糊丸（此為治痢總方惟在表忌用者邪猶未入里也久痢勿用者恐重傷其生氣也）</p>
<p>訶子散　粟殼　訶子　乾薑　陳皮（為末空心服）黃土湯　生地　阿膠　黃芩　白朮　附子炮　甘草各（一錢五分）　灶心黃土（四錢）（或黃土易赤石脂附易炮姜熱加生柏葉）</p>
<p>赤小豆散赤小豆浸出芽曬乾（一兩）當歸（四錢）（研末粥水送下三錢）</p>
<p>旋覆花湯　旋覆花　青蔥管　新絳緯</p>
<p>茵陳蒿湯　茵陳　梔子　大黃</p>
<p>金鈴子散　金鈴子（即川楝子）　元胡索</p>
<p>小半夏湯　半夏　生薑</p>
<p>大牛夏湯　牛夏　人參　白蜜</p>
<p>吳茱更湯　人參　生薑　大棗</p>
<p>小柴胡湯　柴胡　黃芩　半夏　人參　甘草　姜　棗</p>
<p>麥門冬湯　麥冬　人參　半夏　甘草　粳米　大棗</p>
<p>四君子湯　人參　白朮　茯苓　甘草</p>
<p>六君子湯　即四君子湯加半夏陳皮</p>
<p>大補陰丸　黃柏　知母　熟地　龜版　豬脊髓</p>
<p>小承氣湯　大黃（四錢）　厚朴（二錢）　枳實（錢半）（此主蕩實故君大黃）厚朴三物湯　厚朴（四錢）　大黃（二錢）枳實（錢半）（此主散滿故君厚朴）</p>
<p>厚朴七物湯　即厚朴三物加桂枝甘草生薑大棗</p>
<p>調胃承氣湯　大黃　芒硝　炙草</p>
<p>大黃附子湯　大黃　附子　細辛</p>
<p>生脈四君湯　即生脈散四君子湯合用</p>
<p>生脈六味湯　即生脈散六味地黃湯合用</p>
<p>磁石六味丸　即大味地黃湯加磁石</p>
<p>知柏八味丸　即六味地黃湯加知母黃柏（湯方同）</p>
<p>當歸補血湯　當歸（三錢）　炙黃者（一兩）（或加附子二三錢更神效）</p>
<p>當歸羊肉湯　當歸　生薑　羊肉</p>
<p>香砂六君湯　即六君子湯加香附砂仁</p>
<p>補中益氟湯　炙耆（二錢）　人參　白朮　當歸各（一錢）　陳皮　炙草各五分　升麻　柴胡各（三分）（加煨姜大棗煎）</p>
<p>人參固本丸　人參　天冬　麥冬　生地　熟地</p>
<p>人參養營湯　人參　白朮　茯苓　甘草　陳皮　黃耆　當歸　白芍熟地　五味子　遠子　肉桂　煨姜　大棗</p>
<p>真人養臟湯　人參　白朮　當歸　白芍　肉桂　粟殼　訶子　肉豆蔻　木香　炙草（一方無當歸）</p>
<p>附子理中湯即理中湯加附子</p>
<p>附子粳米湯附子粳米半夏炙草大棗　清暑益氣湯人參黃者白朮蒼朮當歸陳皮菁皮神麯麥冬五味炙草黃柏澤瀉升麻葛根生薑大棗</p>
<p>霍香散霍香蒼朮半夏茯苓陳皮厚朴</p>
<p>霍香正氣散霍香蘇葉白芷陳皮厚朴白朮夏曲茯苓</p>
<p>腹皮桔梗甘草（加薑棗）</p>
<p>四物香霍飲香薷厚朴扁豆黃連（忌熱服）</p>
<p>三物香薷飲即四物香薷去黃連（凡香薷熱服必瀉）</p>
<p>十物香薷飲即三物香薷加黃耆人參白朮茯苓陳皮甘草本瓜（五物香薷獨加苓草）</p>
<p>茵陳四逆湯茵陳附子乾薑炙草（四逆湯無茵陳）桂枝白虎湯即白虎湯加桂枝</p>
<p>人參白虎湯即白虎湯加人參（暑熱傷津再加麥冬鮮嫩竹葉最佳）清心涼膈散連翹黃芩梔子薄荷桔梗甘草鮮嫩大竹葉剪碎煎（去桔梗加大黃芒硝薄荷生蜜名涼膈散）　　括蔞薤白半夏湯瓜蔞皮仁各三錢製半夏二錢干薤白三錢（生者倍用）白酒三杯同煎</p>
