<header data-type="book">
<h1>種杏仙方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>龔廷賢</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1577">公元1577年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://rmda.kulib.kyoto-u.ac.jp/item/rb00003410">京都大學掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫稱王霸殊，溯古辨之。若魚目夜光，碔砆連城，然不爽也。顧霸之效也，詭駁之宜。而王謂易簡，曷以也，醫惡是類乎。余自髫齔，席箕裘業，從家大人醫寓中，家大人輒以霸禁，比長客壺京肆，稍見俞諸大方，若蔣定西、高使相、劉秋堂諸老，企以王道醫，交口稱矣。余竊自信，乃取家大人所傳方書，而續其餘，成《醫鑑》一帙，鍥之以便世用。第方多萃味，而窶人僻地，或購之難，誠杏林遺春也。乃復竊父志，括俚言切病情，選方擇味，類以一二易致者，動療巨疴。見者奇之，命曰《種杏仙方》，俾家易辦，人易曉，而遐陬胥靡，咸在杏蔭中矣。第恐出奇吐秘，見者以霸術目距，知王之易筒，正坐此矣！譬之夜光之珠，奚必徑寸連城之璧，奚必拱把魚目碔砆，寧得而亂之乎，書成，辱名輩，序諸首帙，余故吐取懷以自白雲。</p>
<p><u>時　萬曆九年歲次辛巳孟秋之吉</u></p>
<p><u>金溪雲林山人龔廷賢書於有恆堂</u></p>

<h1>刻種杏仙方引</h1>
<p>方名種杏，志效也，效考如奏音心，八音諧則古為難。若一音，自終始亦可發，性靈宜和氣，功將與大成，埒何逸也。龔氏子才，操岐黃之秘而鳴諸豫，嘗佐而翁著《醫鑑》，行於世矣。為浩博而旨奧，構材備難致也。乃更擇易簡，投單品輒效者為四帙。又不為艱深語，即窮嗇人讀易解，能卒然辦，譬之阮瑟嵇琴，一脫囊自成韻調，又可以名家也。古有種杏識效者，莫此速殆，無幾林矣，故名集而梓之。何子曰醫人等國，古記之矣，乃醫國長筴。若治安天人，亶亶常數千言，咸切中世疴，而競莫實效，不謂用之者艱哉！或伺隙乘會投片言，悟主乃能力轉鈞軸而措之，安又不比於好竽操瑟之誚，不逸且大耶。微錘能制闔闢，寸機握弩千鈞，是集也，功大成也。若夫備聲振以考全效，則固有《醫鑑》在矣。子才名廷賢，號雲林，江西金溪人。</p>
<p><u>時</u>　萬曆辛巳歲孟秋⿰⿳士冖米殳日</p>
<p>大梁進士見寰何出圖書</p>

<h1>儒醫雲林山人像贊（有引）</h1>
<p>山人鳴於醫有年矣，好事者愛而貌之，以布寓內索贊焉。余稽太史公，謂人貌榮名，寧有既乎，山人榮哉。山人江以西，金溪產也。父西園翁，嘗以醫動我梁豫，生山人而訓以儒，儒既通，去讀醫，盡父之技，復攜壺遊潁汝間，潁汝士爭接納也，有投輒效，已而京都諸緒紳，無不知山人者，延致之，遂壺于都市。都中自高使相而下，咸賓禮如不及，定西蔣候，尤慕其醫而儒也。俾冠佩列於醫林，歸而鄉往者益眾。然山人愈自淬也，日取岐黃家言，參所父授者為《醫鑑》，鑑之餘，復有是帙焉。持此醫寓內，則所生活者不數也，脫令人蒔之，杏不啻林矣，因梓其帙曰《種杏仙方》，貌厥狀而弁之，乃何生則為之。贊曰：梧言魁度，星眸尤頤，伊語之豐，清夷世醫，業以箕裘，材以瑰琦，仙終儒始，遐覽玄思，藝圃遺雋，壺天用羇，修能懋譽，峨博是且，是海上之安期。或青牛師僉日想，見其英姿，請稽於斯。</p>
<p><u>賜進士第兵部觀政扶溝中寰何出光書</u></p>

<h1>卷一</h1>
<p><u>括曰</u></p>
<p>仙方几卷邁青囊，萬園從今杏吐香，</p>
<p>一粒有功回造化，百年無病到膏肓。</p>
<p>每將金匱藏真訣，直把靈臺擴化光，</p>
<p>雖積陰功滿天下，願期聖主壽無疆。</p>

<h2>中風</h2>
<p>中風身溫口多涎，卒然昏倒不能言。急用通關開噤口，化痰順氣治當先。</p>
<p>治中風痰厥，不省人事。即將病人頭髮提起勿放，用大指掐刻人中穴，將兩手足頻頻往下四梢趕之，使痰氣不上攻心，即以半夏末少許，吹入鼻內。或牙皂、細辛等分為末，吹之亦可。候有嚏可治，無嚏不可治。如口噤不開，用烏梅肉揉和南星、細辛末，以指蘸藥擦牙，自開。如喉中痰盛，用綿紙捻一長條，密密打成疙瘩，插入喉中、轉動，扯出痰來，頻頻將痰引出，急用香油灌之，或生薑自然汁，或竹瀝皆可。或用染布活靛缸水一鍾，溫服亦可。</p>
<p><u>一方</u>　用白礬末二錢，以生薑汁調灌，立醒。</p>
<p><u>一方</u>　用白礬、硼砂各一錢為末，青黛煎湯，調服。</p>
<p><u>一方</u>　用牙皂七個，蜜水同煎，用鵝管吹入些許於口內，即效。</p>
<p><u>一方</u>　用燈草一兩燒灰，枯礬一兩，百草霜五分，共為末。每五分，生薑湯調服。</p>
<p><u>一方</u>　治中風不省人事，不問痰厥、氣厥。用南星八錢，木香一錢，切作一劑，生薑十片，水煎溫服。</p>
<p><u>一方</u>　治風著，口面喎斜，語音不轉。用獨活三兩，竹瀝一升，生地黃汁一升同煎，去渣溫服。未正，更進一服。</p>
<p><u>一方</u>　治口眼喎斜。用蒼耳草，水熬汁，去渣，入蜜再熬成膏，無時服。</p>
<p><u>一方</u>　治中風，口喎不正，語則牽急，四肢如故，無他苦。由居處不便，因臥而孔風入耳，客於陽明之經，故令筋急不調，而口喎僻也。用大皂角五兩，去皮子為末。以三年米醋和成膏，左喎塗右，右喎塗左。干更塗之。</p>
<p><u>一方</u>　治口喎斜。用大鱔魚一條，以針刺頭上血，右喎塗左，左喎塗右，正即洗去。</p>
<p><u>一方</u>　治口眼喎斜。用白芷、獨活、薄荷等分為末，煉蜜丸如彈子大。每一丸，細嚼，茶酒任下。</p>
<p><u>一方</u>　治中風，口眼喎斜，時吐痰涎，語言謇澀，四肢緩弱，筋節疼痛，腰膝無力。亦能行大腸氣，治三十五般風。用豨薟草（此草處處有之，俗呼為火杴草。其葉對節而生，葉似蒼耳。用五月五日、七月七日、九月九日收採，洗去土，採取葉），不拘多少，曝乾，鋪入甑中。用白酒和蜜，層層勻酒，蒸之，復灑。如此制之九次，為末，煉蜜為丸如梧桐子大。每七八十丸，空心酒下。</p>
<p><u>一方</u>　治中風不語，手足不隨，口眼喎斜，鼻流清涕，頭旋目眩，言語謇澀，心胸痰積，口中涎水，手足頑麻，腰膝疼痛，久立不得，頭痛尤甚，攻耳成膿而聾，又沖眼赤及骨節風、繞腕風、腎臟風、胎風、頭風、暗風、心風、大風、白癜風並膈氣、冷熱諸氣。餌之者，治百病，夏無瘟疫，秋無瘧痢，宣通五臟，祛逐諸風。癥瘕積聚，痃癖氣塊、痰唾涎水、膀胱宿膿、嗽喘腫脹、黃疸、癬瘡疥癩、憎寒壯熱、虛損傷敗，一切病症，服之大驗。其性甚善，不傷諸藥，惟忌茶茗。可煎甘草、梔子代飲，仍以不聞水聲者良。淨室修合。用威靈仙，三月丙丁戊己日採，洗淨焙乾為末。好酒和，令微濕，入竹筒內，牢塞口，九蒸九曝，添酒灑之，以白飯搗為丸如梧桐子大。每二十丸至三十丸，溫酒送下，不拘時服。</p>

<h2>傷寒（附傷風）</h2>
<p>傷寒大概是熱病，百般變化常無定。要明汗吐下和解，表裡無差方有應。</p>
<p>治傷寒頭疼，發熱無汗。用細茶、核桃肉、蔥白、生薑等分同搗，水煎，熱服出汗。</p>
<p><u>一方</u>　用白蜜半盞，黃酒一鍾，同煎熱服。登時汗出而瘥。</p>
<p><u>一方</u>　治傷寒初起。用生薑（帶皮者）二三兩搗爛，將熱酒泡飲，出汗而愈。</p>
<p><u>一方</u>　治傷寒。凡陰陽兩感初起，發熱憎寒。用蔥（帶須）七根，生薑（連皮）七片，共搗碎，加白糯米一撮，水三碗，煎二碗，加好醋少許，乘熱飲之，待汗出即愈。</p>
<p><u>一方</u>　治傷寒、傷風。用綠豆一兩，麻黃八錢，為末。每一錢，無根水調服。不用被蓋，其汗自出。</p>
<p><u>一方</u>　治傷寒遍身如錐剜，痛不可忍。用防風、羌活、蒼朮各五錢，以童便二碗浸一時，煎滾，去渣溫服。</p>
<p><u>一方</u>　治傷寒發狂奔走，人難制伏。先於病人處生火一盆，用醋一碗，傾於火上，其煙沖鼻內即安。</p>
<p><u>一方</u>　治傷寒、熱病，熱邪傳裡，亢極無解，用黃連煎水一盞，放井中頓冷，浸青布，搭在胸上，徐徐換之。待熱勢稍退即除。不可久漬。夏天用，冬不宜用。</p>
<p><u>一方</u>　治傷寒發狂，窬垣上屋。用黃連、寒水石各二錢為末，濃煎甘草湯，冷調服。</p>
<p><u>一方</u>　治傷寒發熱，黃目，不識人。用生蔥火煨熟，去粗皮用心，扭出汁，蘸香油，點兩目大小眥，立明。一方，用燒酒口噙，令病人開目噴之，其眼自明。</p>
<p><u>一方</u>　治傷寒時氣，熱極狂亂者及發熱不退。用雞子清一個，白蜜一大匙，芒硝三錢，涼水和下。</p>
<p><u>一方</u>　治傷寒心慌。用鮮生地黃汁、童便各半盞，合一處，重湯煮數沸，溫服。</p>
<p><u>一方</u>　治傷寒鼻衄久不止者。用山梔子，炒黑為末，吹鼻內，將紙水濕，搭於鼻中，其血自止。</p>
<p><u>一方</u>　治傷寒吐血不止。用韭汁磨京墨呷下，其血見墨必止。如無韭汁，雞清亦可。</p>
<p><u>一方</u>　治傷寒服藥轉吐出不納者，隨用竹管重按內關，後將生薑自然汁半盞熱飲，其吐即止。大凡服寒藥熱飲，熱藥寒飲，中和之劑，溫而服之。</p>
<p>治傷寒濕熱發黃布心，昏悶不省人事，死在須臾。用白毛烏骨雞肉（雄雞）一隻，干捋去毛，破開去腸屎，刀切爛，鋪心頭，少頃，即能說話。</p>

<h2>瘟疫</h2>
<p>瘟疫眾人病一般，四時不正外邪干。要分春夏秋冬治，莫把寒溫一樣看。</p>
<p>治天行時氣，宅舍怪異。用降真香燒之，小兒帶之，能避邪惡之氣。</p>
<p><u>一方</u>　治瘟疫，不相傳染。用赤小豆，以新布盛，入井中浸三日，舉家各服二十一粒。</p>
<p><u>一方</u>　用硃砂研末，煉蜜和丸麻子大。常以太歲日，一家大小勿食諸物，面向東立，各吞三七丸，勿令近齒，永無疫疾。</p>
<p><u>一方</u>　用雄黃末，以筆濃點鼻內、兩旁、中，則疫氣不能入。亦闢諸惡怪夢。</p>
<p><u>一方</u>　治天行時疫傳染。用白粳米半升，連須蔥二十根，水二十碗，煮成粥湯，加好醋一小碗，再煮一滾。各服一碗，取汗愈。曾出汗者不用。</p>
<p><u>一方</u>　治時氣瘟疫及小兒熱癇狂啼，大人服丹石發動此疾，酒後暴熱。用臘月八日收雪，磁器盛之。遇此服之。</p>
<p><u>一方</u>　治感冒瘟疫發腫。用黑豆二兩，炒令香熟，甘草二寸炙黃，水煎，時時呷之。</p>
<p><u>一方</u>　治瘟病狂言、心躁、結胸將死。用苦參二兩切碎，酒二斤，燉滾服之。或汗或無汗，或吐或不吐，俱愈。</p>
<p><u>一方</u>　治瘟疫邪氣百病。用棗一枚，咒「華表柱」，念七遍。望天罡取氣一口，吹於棗上，令病人嚼吃，湯水任下。此三字，鬼之祖名也。</p>
<p><u>一方</u>　治疫氣傳染。此疾汙氣入鼻至腦，即散布經絡。初中覺頭痛，即以水調芥菜子末填臍，以熱物隔衣一層熨之，即汗而愈。</p>
<p><u>一方</u>　治四時瘟疫，頭疼發熱，眾人病一般者。用黑砂糖一盞，入薑汁二盞，化開服之。當時憎寒壯熱，汗出立愈。</p>

<h2>中暑</h2>
<p>中暑中熱不相同，行人中熱在日中。避暑深堂名中暑，暑分寒熱不同攻。</p>
<p>治中暑迷悶。用蒜研，熱湯灌之。或用連皮生薑一大塊，研爛，熱湯灌下。卒急不得熱湯，以冷水研、搗亦可。</p>
<p><u>一方</u>　治中暑身熱口渴，小便不利。用滑石六兩，甘草一兩，各為細末，研勻。每服二三錢，不拘時，新汲水調服。</p>
<p><u>一方</u>　治傷暑霍亂。用香薷、扁豆等分，水煎，不拘時，頻頻服之。</p>
<p><u>一方</u>　消暑止渴，生津液。用烏梅一斤，槌碎核，用溫水浸一宿，去水，用甘草四兩，切碎，白鹽二兩相拌於砂鍋內，入水，慢火煎得宜，收磁罐內，任意用湯點服。遇天熱，冷水調亦可。</p>
<p><u>一方</u>　治中暑卒倒。用路上熱土熨臍中，以人尿溺其上，以大蒜研爛，熱水調灌即活。切勿用冷水及臥冷地，正如凍倒人不宜近火，恐逼寒氣入內即死也。</p>

<h2>中濕</h2>
<p>中濕亦由內外傷，外衝風雨內酒漿，發為腫滿渾身痛，利水和脾發汗良。</p>
<p>治中濕筋急拘攣，不能屈伸及風濕痹。用薏苡仁和米煮粥，常食之。功勝諸藥。</p>
<p><u>一方</u>　治濕氣遍身，手足作痛。用蒼朮一斤，一半米泔浸，一半童便浸，一日一換，浸三日，曬乾為末，酒糊為丸，如梧桐子大。每七十丸，空心黃酒送下。</p>
<p><u>一方</u>　治患濕不能行，指腫者。九月間收茄根，懸檐下，煎湯洗之。</p>
<p><u>一方</u>　治男子玉莖濕癢。用肥皂一個，燒灰存性，香油調搽。</p>
<p><u>一方</u>　治男女下部濕癢。用蛇床子煎湯洗之。</p>
<p>凡空房久閉者，不宜輒入，欲入，先以香物及蒼朮之類焚之，俟鬱氣發散，然後可入。不然，感之成病。久閉井窖尤宜慎之。</p>

<h2>脾胃</h2>
<p>脾胃之氣要衝和，胃司納受脾運磨。莫使寒溫一失節，損傷元氣病難瘥。</p>
<p>治脾胃損傷，飲食不進，肌體瘦怯，或泄瀉等症。用白朮一斤，去蘆、油。火上炙一塊切一塊成片，入砂鍋內，用水七八碗，熬至二碗，再用水八碗，熬至二碗，如此三次。將渣搗爛，入水又熬，絞出汁一二碗，去渣。將前汁再熬，只留二碗，加蜜四兩，共熬至稠黏，滴水成珠為度，埋土中三日，取出，任意食之，或用米湯化服亦可。</p>
<p><u>一方</u>　治脾胃虛弱，不思飲食。用大米一升，糯米一升，乾山藥四兩，芡實四兩，各為末，入白砂糖一斤半和勻，入籠內蒸糕食之。</p>
<p><u>一方</u>　治胃弱不能飲食，或病後虛損。用蓮肉四兩，老米四兩，炒砂糖二兩，白茯苓二兩，俱為細末。每服五六匙，不拘時，白湯調下。</p>
<p><u>一方</u>　治脾胃因飢飽失節，不時生病。用陳倉米一兩，陳皮二兩為末，姜糊為丸，如梧桐子大。每服五十丸，食遠，米湯下。</p>
<p><u>一方</u>　治飲食不住口仍易飢餓。用綠豆、黃麥、糯米各一升，炒熟，共磨成粉。每一杯，滾湯調服。</p>
<p><u>一方</u>　治口淡飲食無味。用白砂糖二兩，烏梅（去核）五錢，水二鍾，煎至一鍾，如稠糊，每用二匙，則口知味矣。</p>

<h2>傷食</h2>
<p>傷食過飽損脾胃，惡食咽酸噯臭氣。胸痞發熱及憎寒，輕可消化重則利。</p>
<p>治一切酒食停積，脹滿不消。用鹽花擦牙齒，溫水漱下，不過三次，如湯潑雪，即時寬腸通快也。</p>
<p><u>一方</u>　治食肉太多不化，腹脹發熱。用山楂（去核）一兩，水煮，先飲湯後食山楂。</p>
<p><u>一方</u>　治食糍粽過多，胸膈停滯一塊，作痛塞悶。用酒麴一塊，燒存性，為末，黃酒調服。</p>
<p><u>一方</u>　治食生冷傷脾。用砂仁煎湯常服。</p>
<p><u>一方</u>　治酒食過飽。用青皮二兩，炒葛根一兩，砂仁五錢為末。每一二錢，茶調服。消食、化氣、醒酒。不拘時服。</p>
<p><u>一方</u>　治食狗肉不消，心下堅或脹，口乾，忽發熱，妄語。用杏仁，去皮，水濃煎，去渣服，下肉為度。</p>
<p><u>一方</u>　治酒醉不醒。搗葛根，絞取汁一二盞服之。或乾葛水煎服，亦可。</p>
<p><u>一方</u>　治脾胃氣弱，食不消化，嘔逆反胃，湯飲不下。用宿米半升搗末，水丸如梧桐子大，煮熟，入鹽少許，空心和汁吞下。日再服。</p>
<p><u>一方</u>　平人常服，治痞，消食強胃。白朮二兩，枳實（麩炒）一兩，為細末，荷葉一掌大，煎湯煮粥為丸，如梧桐子大。每服五十丸，不拘時，白湯下。</p>

<h2>痰飲</h2>
<p>痰多屬濕津液化，隨氣升降上中下。百病之中兼有痰，隨證調治應無價。</p>
<p>治痰壅盛。用梨汁一鍾，薑汁半鍾，南薄荷三兩，共和勻，重湯煮十餘沸，任意食之。</p>
<p><u>一方</u>　用竹瀝大半碗，鵝涎數滴，雞清一個，硃砂一分（末），攪勻服之。取鵝涎法：將鵝倒吊，用雄黃末吹鼻孔，候出取用。</p>
<p><u>一方</u>　治痰火上升，停滯不快。用大黃，酒拌，九蒸九曬，為末，水丸。每五十丸，白滾水下。</p>
<p><u>一方</u>　治胸中有痰瘀癖氣者。用白礬一兩，水一碗半，煮至一碗，入蜜一合，更煮少時，溫，頓服即吐。如未吐，再進熱酒一盞即吐。</p>
<p><u>一方</u>　治痰火上壅，或流入四肢，結聚胸背，或咳嗽，或頭目不清。用軟石膏三兩，半夏一兩（泡七次），白礬五錢，為末，淡薑湯打糊為丸，如綠豆大。每三十丸，食遠，茶清下。</p>
<p><u>一方</u>　治吐痰喘嗽。用大半夏一斤，泡，去皮臍，用白礬六兩煎湯，浸半夏，春夏三七日．秋冬七七日，撈起曝乾。又用生薑六兩搗汁浸，春夏三日，秋冬七日，曝乾（陰乾亦可），研為末。用甘草一斤，水煎膏作丸，每一丸如櫻桃大，臨臥噙化三丸。</p>
<p><u>一方</u>　降痰火，兼治聲嘶。用白礬一錢，水花珠二分半，同研末。入磁器內熔化，乘熱捻作九丸，每服三粒，白湯下。</p>
<p><u>一方</u>　治痰盛。用貝母，以童便，秋冬浸三日，春夏浸一日夜，撈起，水淋洗淨，曬乾研末，糖霜和勻，滾白水調下。</p>
<p><u>一方</u>　治痰火。用蘿蔔子（炒，為末）、皂角（燒存性）、生薑，加煉蜜，丸如梧桐子大，每服五七十丸，白湯下。</p>
<p><u>一方</u>　化痰丸。用天絡絲（即絲瓜也），燒存性，為細末，棗肉為丸如彈丸大。每服一丸，好酒下，立效。</p>

<h2>咳嗽</h2>
<p>咳謂無痰卻有聲，嗽謂無聲卻有痰，有痰有聲為咳嗽，化痰理嗽自然安。</p>
<p>治新久咳嗽並連嗽四五十聲者。用連皮生薑自然汁一勺，蜜一匙，同放碗內，重湯煮一滾，溫服。</p>
<p><u>一方</u>　治咳嗽。每晚臨臥時，用大柿餅二三枚，蘸極細青黛末，慢慢嚼服。</p>
<p><u>一方</u>　治痰嗽。用白糖、生薑搗爛，露一宿，白蘿蔔湯下。</p>
<p><u>一方</u>　治喘嗽吐痰久不愈。用知母、貝母等分，為細末，老薑切片，蘸藥細嚼，白湯下。</p>
<p><u>一方</u>　治咳嗽喘急，不論新久。用天花粉五兩，人參五錢為末。每服二錢半，陳蘿蔔煎湯調服。</p>
<p><u>一方</u>　治新久痰喘咳嗽。用黃熟瓜蔞三五個，連皮子三份，入白礬一份，搗和成餅，用竹蔑穿掛通風處陰乾，研末，用薑汁打稀糊為丸，如梧桐子大。每五十丸，食遠，淡薑湯送下。</p>
<p><u>一方</u>　治嗽。一兩香油四兩蜜，四兩生薑自然汁，紫菀麻黃並杏仁，百年勞嗽永無跡。上將油、蜜、姜銅鍋煉，點水成珠，用紫菀等各一兩五錢，為細末，入內攪勻，再一熬。磁器盛貯。每晚吃四五匙，茶下。</p>
<p><u>一方</u>　治年深日久咳嗽，肺虛寒熱。用款冬花，不拘多少，於密室中如香焚之。煙起，以筆管吸其煙則咽之。或於坐臥處如香焚之，不吸亦妙。重病數日見效，輕者即效。</p>
<p><u>一方</u>　咽乾口燥，茶清送下。</p>

<h2>喘急</h2>
<p>喘急須分肺實虛，挾寒挾熱緊相隨，痰火諸般皆作喘，治之莫要有差疑。</p>
<p>治氣喘。用韭菜汁，飲一杯，效。</p>
<p><u>一方</u>　治上氣喘嗽，煩熱，不下食，食即吐逆腹脹。用生薑五合，砂糖四兩相合，慢火熬二十沸。每用半匙含咽。</p>
<p><u>一方</u>　治積年上氣喘促，咳嗽唾膿血者。用蘿蔔子一合，煎湯，食後服。</p>
<p><u>一方</u>　治氣喘，身浮腫。用甜葶藶一升炒，搗如膏，彈子大。每一丸，水一盞，棗四枚，煎五分，去渣溫服。</p>

<h2>哮吼</h2>
<p>哮吼肺竅積寒痰，令人齁喘起居難。豁痰降火加調理，不遇良醫病不安。</p>
<p>治哮吼。用核桃肉一兩，細茶末五錢，和勻，蜜入三四匙，搗成丸，如彈子大，不拘時噙化。</p>
<p><u>一方</u>　治哮吼。用雞子一個，略敲，殼損膜不可損。浸尿缸內三四日夜，取出，煮熟食之。蓋雞能去風痰。</p>
<p><u>一方</u>　治厚味發者。用蘿蔔子淘淨，蒸熟，曬乾為末，薑汁浸，蒸餅為丸。每三十丸，津下。</p>
<p><u>一方</u>　治齁喘。用枯礬末一匙，臨臥時，滾白湯調下。</p>
<p><u>一方</u>　用雞子一個，頂上取一孔，入人中白末二釐，調勻，紙糊，煨熟食之。</p>

<h2>瘧疾</h2>
<p>瘧是風暑不正邪，為寒為熱兩交加。新瘧可散亦可截，久病還當兼補佳。</p>
<p>治一切瘧疾。用老生薑自然汁，露一宿。於臨發日五更時，令患者面北立飲即止。未止再服。</p>
<p><u>一方</u>　截瘧。用端午日，以獨蒜，不拘多少，搗爛，入好黃丹研勻，乾溼得所，搓作丸，如龍眼大，曬乾收貯。但瘧一二發後，臨發日雞鳴，以一丸，略槌碎，面東，井花水送下。</p>
<p><u>一方</u>　治諸瘧。用枯礬為末，醋煮麵糊丸，如雞頭子大。每服一丸，用東南桃心七個，煎湯下。如霍亂，薑湯下；紅痢、甘草湯下；白痢，薑湯下。忌葷腥、油膩、炒煎之物。</p>
<p><u>一方</u>　治瘧。用隔年全歷日，端午日午時，燒灰糊丸，如梧桐子大，當發日早，每服一丸，無根水送下。</p>
<p>一符咒治瘧。於臨瘧日早五更，雞犬不聞之際，令病人朝東方立，將硃砂畫<img class="字" src="_files/001.png" alt="￼">符於病人背上，唸咒語云：「天火燒太陽，地火燒五方，雷火勢常法，燒死諸不祥，急急如律令，敕」已。就是久瘧，不過二次即止。</p>
<p><u>一方</u>　治瘧。用桃花信、細茶各五錢為末，棗肉為丸，辰砂一錢為衣，男左女右，握在手心即效。</p>
<p><u>一方</u>　治瘧母，停水結癖，腹脅堅痛。芫花（炒）、硃砂等分為末，煉蜜為丸，如小豆大。每服十丸，棗湯送下。</p>
<p><u>一方</u>　治諸瘧如神。用天靈蓋，燒存性，為末。每服五釐，空心黃酒調下。</p>

<h2>痢疾</h2>
<p>痢因濕熱並氣滯，赤傷血分白傷氣，赤白相雜氣血傷，清熱理氣先通利。</p>
<p>治痢疾腹痛，不問赤白冷熱。用老生薑、細茶各三錢，用新汲水煎服。一方加連根韭菜，三味同搗汁，酒調服亦可。</p>
<p><u>一方</u>　治痢膿血稠黏，裡急後重，晝夜無度。用大黃一兩，好酒二鍾，浸半日，煎至八分，作二次服之。</p>
<p><u>一方</u>　用王瓜，削去皮，蘸蜜吃一二個，當時腹痛一陣，利下積滯而愈。</p>
<p><u>一方</u>　用蟬蛻炒為末。每服一錢，白痢，燒酒下；紅痢，黃酒下。</p>
<p><u>一方</u>　用綠豆炒為末，入白糖，和涼水服。</p>
<p><u>一方</u>　治久痢。止澀之藥。用五倍子、枯白礬、石榴皮等分，為末，煉蜜為丸，如黃豆大。每一丸，空心冷水下。</p>
<p><u>一方</u>　治紅白痢。用五倍子末。每三錢，茶調服。</p>
<p><u>一方</u>　治痢。不問赤白新久，用臘肉骨燒存性為末，陳皮末，各五錢，甘草末一錢，共和勻。每服二錢，熟水調服。</p>
<p><u>一方</u>　治白痢如魚凍色者，久不愈。用白鴨一隻，殺取血，以滾酒調和服之。</p>
<p><u>一方</u>　治赤痢。用百草霜末五錢，熱酒調下。</p>
<p><u>一方</u>　治休息痢。用天靈蓋燒存性為末。每服三五錢，入細面和成餅，火煨熟吃。</p>
<p><u>一方</u>　治疫毒熱痢。將松花篩細末。每二錢，用薄荷煎湯，入蜜調下。</p>
<p><u>一方</u>　治噤口痢，藥食俱不納者。用田螺數枚連殼搗爛，加些麝香在內，調勻，填滿臍內，引火下降，服藥再不吐矣。飲食須慢慢少少進之。</p>
<p><u>一方</u>　治噤口痢，湯飲米穀不下。用石蓮子，去殼並內紅皮及心，為末。每二三錢，用井花水調下。日進二服。</p>
<p><u>一方</u>　治噤口痢。用烏梅三錢，陳細茶三錢，為末，米湯調服。</p>
<p><u>一方</u>　用三片生薑，三個棗，三個烏梅，一寸（甘）草，榴皮半個鍋內炒，二鍾水煎一鍾，溫服。</p>

<h2>泄瀉</h2>
<p>泄瀉注下濕傷脾，燥濕利水補脾虛。若還久瀉腸虛滑，收澀仍將正氣提。</p>
<p>治泄瀉。用生薑一塊，艾一把，水煎，熱服。</p>
<p><u>一方</u>　治暴瀉痢。用百草霜末，每二錢，米飲調下。</p>
<p><u>一方</u>　治暴瀉不止，小便不通。用車前子，炒為末。每二錢，米飲調服。其根、葉，亦可搗汁飲下。此藥利水道而不動元氣。</p>
<p><u>一方</u>　治泄瀉，不拘新久。用白朮一兩，黃土炒，入米一撮同煎，空心服。</p>
<p><u>一方</u>　用五倍子末、南棗肉，搗為丸，大人二三十丸，小兒十五丸，熟水送下。</p>
<p><u>一方</u>　治水瀉。用五倍子末，水調服。</p>
<p><u>一方</u>　治水瀉。用白礬、五倍子等分，麵糊丸，如梧桐子大。每三十五丸，空心白滾水下。</p>
<p><u>一方</u>　治脾泄瀉，久有熱者。用黃連一兩，生薑四兩，俱切碎，用慢火同炒，待姜枯，取去姜，將黃連為細末。每服二錢，空心米湯服。</p>
<p><u>一方</u>　治脾瀉，久有寒者。用肉豆蔻一個，剜竅，入乳香少許，麵裹煨，去面為末，作一服。空心陳米湯送下。</p>
<p><u>一方</u>　治久瀉不止，飲食不進。用黃米炒為末。每數匙，用砂糖調吃。</p>
<p><u>一方</u>　治久瀉。用糯米為末，入百草霜十分之二，水和為餅，烙熟食之。一法：單用糯米，半生半炒，煮粥食之。</p>
<p><u>一方</u>　治久瀉久痢，或脫肛下墜等症。用臭椿根白皮，酒炒七次，為末，阿膠化開，為丸如梧桐子大。每三五十丸，米湯送下。</p>
<p><u>一方</u>　治久瀉肌瘦，不思飲食。用白朮（去蘆、油）半斤（土炒），乾山藥四兩，為末。每日煮粥放一合在內，再煮滾，空心食之。</p>
<p>凡飯後隨即大便者，蓋脾腎交濟，所以有水穀之分，脾氣雖強而腎氣不足，故飲食下咽而大腑為之飧泄也。治法，用破故紙四兩（酒炒），肉豆蔻二兩（生），共為末。用生薑四兩，切片，煮棗四十九枚，去皮核，取肉為丸，如梧桐子大。每服三五十丸，空心鹽湯送下。使脾腎之氣交通，則水穀自然克化。此所謂妙合而凝者也。</p>
<p><u>一方</u>　治泄及小便頻多，皆因傷腎經。用四聖散：破故紙、肉豆蔻、五味子、吳茱萸四味，為丸。</p>

<h2>霍亂（附青筋）</h2>
<p>霍亂吐瀉心腹痛，轉筋寒熱頭沉重。內傷外感使之然，切忌米湯休早用。</p>
<p>治霍亂吐瀉腹痛，服藥即吐，無法可施。用百沸湯半碗，井泉冷水半碗，合而服之即安。</p>
<p><u>一方</u>　治霍亂吐瀉腹痛。用醋一小鐘飲之，立止。轉筋，用涼水淹至膝，即止。</p>
<p><u>一方</u>　治霍亂吐瀉。用枯礬末一錢，百沸湯點服。</p>
<p><u>一方</u>　治霍亂吐瀉轉筋，筋粗大如桃李，攣搐，痛不可忍。用黍葉煎湯飲之。</p>
<p><u>一方</u>　轉筋入腹欲死者。用生薑一兩，搗爛，以酒一鍾，煎服。</p>
<p><u>一方</u>　治霍亂吐瀉，但一點胃氣存者，服之回生。生陳皮（去白）、藿香等分。每一兩，水煎服。</p>
<p><u>一方</u>　治乾霍亂，欲吐不吐，欲瀉不瀉，急宜多灌鹽湯，探吐之，食物出盡而愈。</p>
<p><u>一方</u>　治絞腸痧，即乾霍亂。用胡椒四個，綠豆二十四個，共為末，熱酒調服。</p>
<p><u>一方</u>　治絞腸痧。用炒鹽一錢半，吳茱萸每歲一粒，炒黃為末，熱酒調服。</p>
<p><u>一方</u>　治北人青筋證。其疾初覺頭疼，噁心，或心腹痛，或腰痛，或遍身作痛，或憎寒壯熱，或手足顫掉，周身麻木冷痹等證。用古石灰，不拘多少，去泥土，為末，水飛曬乾，水糊為丸，如梧桐子大。每四五十丸，燒酒送下。一服當時血散。若過三五日，青筋已者，多服即效。又治心腹疼及婦人崩漏帶下，或久患赤白痢疾，並打撲內損，血不能散，服之皆效。</p>

<h2>嘔吐</h2>
<p>嘔謂有聲吐有物，寒熱傷胃食即出。和胃清火化痰涎，半夏生薑以為率。</p>
<p>治嘔吐不已兼噁心。用生薑一大碗，直切薄片，勿令拆斷，層層摻鹽於內，以水濕苧麻密纏，外用紙包、水濕，火煨令熟，取去麻紙，用姜搗爛，和稀米飲服之。</p>
<p><u>一方</u>　治嘔吐日夜不止。用生半夏五錢搗碎，生薑五片，水煎熱服，立止。</p>
<p><u>一方</u>　治胃寒嘔吐不止。用陳皮三錢，生薑六錢，水煎熱服。</p>
<p><u>一方</u>　治胃中素熱，噁心，嘔噦。用陳皮二錢，梔子三錢，炒青竹茹一錢半，水煎，入薑汁，溫服。</p>
<p><u>一方</u>　治胃虛嘔吐。用粟米汁二合，生薑汁一合，同服之，立止。</p>
<p><u>一方</u>　治注船，大吐發渴，若飲水即死。以童便飲之最妙。</p>
<p><u>一方</u>　治吐逆不止。用好黃丹四兩，篩過，好米醋半升，同藥入銚內，煮令乾。卻用炭火煅透紅，研末，粟米飯為丸，如梧桐子大。每七丸，煎酵湯下。</p>

<h2>翻胃</h2>
<p>翻胃噎膈一般病，三陽熱結吐無定。莫將燥劑反助邪，養血生津調胃應。</p>
<p>治翻胃、噎膈，探病可否。用甜梨一個，去皮，用箸刺梨七孔，每一孔，入巴豆（去殼）半邊於梨內，紙包水濕，煨熟去豆，令吃梨，咽得下、吐痰可治，否則，不治。</p>
<p><u>一方</u>　治翻胃，嘔吐，困弱無力垂死者。用人參一兩切片，水一鍾半，煎至七分，熱服，兼以人參煮粥啜之。</p>
<p><u>一方</u>　治翻胃、噎膈。用抱出雞子殼燒灰。每服二錢，酒下。</p>
<p><u>一方</u>　用蜣螂五個燒乾。每一錢，加木香五分，為末，煉蜜丸，每一丸重五分，燒酒送下。</p>
<p><u>一方</u>　用貓生子胞衣，陰乾，燒灰存性，酒調服。如貓生子，胞衣急急取之，稍遲則貓食矣。</p>
<p><u>一方</u>　用藍靛，新瓦滲干，可丸如梧桐子大。每五六十丸，早飯後溫清靛水送下。忌諸腥物。</p>
<p><u>一方</u>　用真阿魏五錢，幹人糞（須路邊行人拋下者），燒存性，為末。每五錢，和勻，五更初以薑片蘸食。</p>
<p><u>一方</u>　用夏月取糞缸中蛆，長流水洗淨，焙乾，為末。每一兩加肉豆蔻三錢，木香一錢，細茶五錢，為末。每三錢，燒酒調服。</p>
<p><u>一方</u>　治翻胃。吐白沫者可治；吐黃沫者不可洽。用辰砂一兩，大黃二兩，為末，用狗膽浸二日，干，再研末，麵糊為丸，如梧桐子大。每服三十丸，空心鹽湯送下。</p>

<h2>咳逆</h2>
<p>咳逆氣衝上作聲，聲聲不斷火相刑。諸逆上衝皆屬火，化痰降氣自安寧。</p>
<p>治久患咳逆，連逆四五十聲者。用生薑汁半合，蜜一匙，煎熟溫服。</p>
<p><u>一方</u>　治咳逆。用柿蒂，燒存性，為末，酒調服。</p>
<p><u>一方</u>　用川椒為末，麵糊丸，如梧桐子大。每二十丸，溫水下。</p>
<p><u>一方</u>　治傷寒發熱而呃逆者。用黃荊子，不拘多少，炒，水煎服。</p>

<h2>吞酸</h2>
<p>吞酸溫熱在胃口，故作酸水刺心頭。化痰清火平肝氣，蔬食能調病自瘳。</p>
<p>治吞酸醋心。用吳茱萸一合，水煎去渣，頓服。縱濃，亦須強飲。</p>
<p><u>一方</u>　用吳茱萸、黃連各一兩。以黃連細切，同茱萸以井花水浸七日，去連，將茱萸焙乾。每早以米湯送下四十粒。</p>

<h2>諸氣</h2>
<p>諸氣能令百病生，要知九氣不同名。男宜調氣兼和血，女要調經氣順行。</p>
<p>治膈氣、風氣、寒氣、憂氣、驚氣、怒氣、山嵐瘴氣、積聚痞氣，心腹刺痛，不能飲食，時止時發，攻則欲死。用香附、鬱金、甘草，銼一劑，生薑煎服。</p>
<p><u>一方</u>　治一切氣不和，走注疼痛。用木香，溫水磨濃，熱酒調服。</p>
<p><u>一方</u>　治驚氣入心絡，不能言。用密陀僧為末，每五分，好茶調服。</p>
<p><u>一方</u>　治一切公私拂情，名利失志，抑鬱煩惱，七情所傷，不思飲食，面黃形羸，胸膈諸證。用香附米一斤（長流水浸三日，砂鍋炒乾為末），白茯神（去木，為末）四兩，攪勻，煉蜜丸如彈子大。清晨細嚼一丸，白滾湯下，陳皮湯下亦可。</p>
<p><u>一方</u>　治氣滯塞。用蘇子煎湯服。</p>
<p><u>一方</u>　服蘿蔔亦可。蘿蔔子煎湯服皆可。</p>

<h2>痞滿</h2>
<p>痞滿胸膈不通泰，令人夯悶久不瘥。一消一補慢調和，莫行利藥徒傷害。</p>
<p>治胸膈壅滯，去痰開胃，消酒食。用半夏，洗，焙乾為末，薑汁和作餅，紙裹水濕火煨。用餅一塊，入鹽半錢，水煎溫服。</p>
<p><u>一方</u>　治諸氣痞結滿悶。用枳殼、桔梗各二錢，甘草五分，生薑五片煎服。加香附一錢尤效。</p>
<p><u>一方</u>　治痞滿。用糖房內糖漿，溫飲一二碗，效。</p>

<h2>脹滿</h2>
<p>脹滿起來空似鼓，四肢不腫其中苦。莫將峻利損天和，制肝補脾以為主。</p>
<p>治心腹腫脹。用蘿蔔子，搗，研，水半升，頓服。少頃得利，或吐或汗，腹中自寬。</p>
<p><u>一方</u>　治腹內氣脹。用檳榔為末。每服二錢，水煎，食前服。</p>
<p><u>一方</u>　治鼓脹。用赤尾鯉魚重斤許者，破開洗淨，入赤小豆填滿腹內，以線縫住，白水煮熟食之。食過數魚，腿上自裂縫出水。忌醬、鹽。不忌，復發。</p>
<p><u>一方</u>　治肚腹鼓脹，遍身浮腫。用商陸根、蘿蔔、小麥、生薑同搗，絞汁一盞服之。以吐瀉為度。不止，嚼生薑即止。</p>
<p><u>一方</u>　治蠱證。用豆、醜頭末、木香、甘遂各一錢，為末。用豬腰一對，俱分破，將藥入內。紙包，煨熟。空心食一個或二個，大便見膿血見效。</p>
<p><u>一方</u>　治氣鼓如神。大蛤蟆一個，以砂仁吹入其口使吞入腹，以滿為度。用泥罐封固，炭火煅至透紅，煙盡取出，候冷去泥，研末，為一服。或酒或陳皮湯下。候撒屁多，乃見其效。</p>

<h2>水腫</h2>
<p>水腫是濕本是脾，通身浮腫總為虛。利水和脾兼順氣，峻攻瀉水病難醫。</p>
<p>治水腫、蠱脹。用豬肚一個，蛤蟆四五個，胡椒一歲一粒，同入肚內，水煮爛，去椒、蟆，食肚，飲汁。忌鹽百日。</p>
<p><u>一方</u>　用粟米、綠豆各一抄，豬肚一葉，切碎。三味煮作粥食之。至重者，不過五次，其腫自消。切忌氣惱、生冷之物。</p>
<p><u>一方</u>　治氣脹、鼓脹、水脹。用羯雞屎一升，瓦上炒焦，地上出火毒，研細，以百沸湯三升淋汁濾過。每服一大盞，用木香、檳榔末各一錢，日三服，以平為期。</p>
<p><u>一方</u>　治腫脹。用紅芽大戟一升，紅棗三升，水煮一日夜，去大戟用棗，曬乾食之。</p>
<p><u>一方</u>　用白商陸根，搗汁一合，生薑汁一點，黃酒一盞，空心和服。二日服一次。元氣厚服五次，薄者三次止。忌鹽、醬。凡人五十以內者可服，五十以外者不必服。</p>
<p><u>一方</u>　治因氣吃水，渾身腫脹。用蛾殼七個，桑柴火燒灰，加枯礬一錢，核桃仁二個（燒存性），共為末，滾綠豆湯送下，被蓋出汗。忌腥冷。吃白飯。</p>
<p><u>一方</u>　治水病肚脹，四肢腫。用王瓜一個，破二片，不去子，醋煮一半，水煮一半，俱爛，空心頓服。須臾水下。</p>

<h2>積聚</h2>
<p>積有五種聚有六，五臟六腑各所屬。左血右氣中食痰，慢慢消溶毋欲速。</p>
<p>治初覺有積。用蘿蔔（切如麵條）半盞，熟油半盞，二味同炒黃色，入水二盞，煎至一盞，連蘿蔔空心溫服。通後以米湯調養。</p>
<p><u>一方</u>　治積塊。用大黃為末，好釅醋慢火熬膏子為丸，如梧桐子大。每五七十丸，量虛實大小，休吃晚飯，用好墨磨濃，好酒送下。次日見膿。</p>
<p><u>一方</u>　治酒積，面黃黑色，腹脹不消。用甘遂末一錢，槽頭豬肉一兩，細切如泥，將遂末和勻，作一塊。紙裹，煨令香，取出細嚼，酒下。臨臥取下酒布袋為妙。</p>
<p><u>一方</u>　治鱉瘕伏在心下，手揣見頭足，時時轉動。用白雌雞一隻，不要餵食一宿。天明以豬脂煎飯喂之，出其屎，無問多少，放於銅器中，以溺和。火上熬干，為末，白湯調服方寸匕。日四五服，須消盡乃止。常餵雞取屎。好了殺雞單食之。</p>
<p><u>一方</u>　治食瘕，酒癖，血瘕氣塊，時發刺痛及積滯不消，心腹堅脹，痰逆嘔噦。用三稜、莪朮各四兩，芫花二兩。三味同入磁罐內，用米醋五升浸，封罐口，以灰煨令乾。卻取出稜、莪，將芫花以余醋炒令焦乾，同為末，醋糊丸，如綠豆大。每服十五丸，薑湯、桑白皮湯下。</p>
<p><u>一方</u>　化五積，破六聚，除癥瘕，消痃癖及一切積塊。不分左右、上中下，不論遠近及男女小兒。用南香附米一斤，分四份。一份醋浸，一份童便浸，一份紅花煎汁浸，一份梔子煎汁浸，各浸三日。共合一處，曬乾，炒熱，入乾漆（為末）四兩，同香附炒煙盡，吹去漆灰，秤香附一斤足，加當歸（酒浸，炒乾）六兩，山楂四兩（連核，焙乾用），蘿蔔子（炒，搗頭末）二兩，海粉（洗，日乾）二兩，共為末，醋糊為丸，如綠豆大。每百丸，食遠，茶下。如脾胃虛，白朮湯下。</p>

<h2>五疸</h2>
<p>五疸總是濕與熱，遍身發黃小便血。　清熱利水濕自除，但將此治無他說。</p>
<p>治黃腫。用皂礬半斤（炒過），雄黃一錢，為末。先以三指撮一劑，次以四指撮一劑，又以五指撮一劑，入面，加鹽、花椒末、芝麻三次，烙干餅食之。從腿肚中去黃水，大效。</p>
<p><u>一方</u>　治黃病。用黑礬（火煅）、人參一錢，雞內金一錢，共為末，棗肉丸如梧桐子大。每二十丸，黃酒下。</p>
<p><u>一方</u>　治黃病腹中積塊。用黑礬四兩（火煅），三稜、莪朮各一兩半，丁香、木香各二錢，共為末，酒糊為丸，茶酒任下。</p>
<p><u>一方</u>　治黃胖。用香附子一斤，黑礬半斤，罐內煅為末，醋糊為丸如梧桐子大，曬乾，炒黑。每五七十丸，茶下。</p>
<p><u>一方</u>　治黃病好吃壁泥。用好泥一斤，砂糖四兩，和泥炒乾，為細末，黃連膏為丸，如梧桐子大。每五六十丸，空心糖湯下。</p>
<p><u>一方</u>　治酒疸。食鱉，不拘多寡，烹熟如常，食至數個愈。</p>
<p><u>一方</u>　治面黃。用甜瓜蒂為末，口內噙水，吹兩鼻，流黃水，一二日見效。</p>
<p><u>一方</u>　治黃疸。用絲瓜（連子），燒灰為末。因面得病麵湯下，因酒得病酒調服。數服可愈。</p>

<h2>補益</h2>
<p>補益諸虛莫盡詳，血虛補血正相當。氣虛補氣無差謬，氣血俱虛並補良。</p>
<p>治氣虛用人參、白朮、白茯苓、甘草，薑、棗煎服。血虛用川芎、當歸、白芍、熟地黃，水煎服。氣血兩虛用以上二方合作劑服之。</p>
<p><u>一方</u>　治諸虛百損，五勞七傷。用人乳二盞，好酒半盞，入銀鏇或錫器內，頓服。每日五更一服。</p>
<p><u>一方</u>　治諸虛勞瘵。取室女經血（或首經最佳），以綿帛收之，陰乾，入乳香末少許，乳汁和丸如櫻桃大。每噙一粒，取女人氣一口，乳汁送下。</p>
<p><u>一方</u>　治諸虛。括曰：神仙發秘機，濟世功無比，只此小靈丹，妙奪陰陽理。半斤陰煉石，配入首男乳，日夜配天中，卻從夏至始。日月入紅鉛，直至中秋止。色如桃花鮮，嚊鼻香甘美。日服一分半，送以華池水。服之至七日，體熱何足畏。時進蟠桃酒，藉以濕靈氣。漸至一年餘，頓覺超凡類。肌體潤且澤，延年立人世。</p>
<p>制陰煉秋石法：收童男女便各數石，合一處，注磁器內。每便二斗，皂角水少許，攪數千轉。澄久，仄去浮清，又入水攪澄如前。凡八九次。待其濁無鹹味，色白，方取紙上滲干。每半斤，入好人乳，曬至一斤。紅鉛不拘多少，每日五更時服。</p>
<p><u>一方</u>　治衰瘦幾死者。取室女二十上下、氣血雄壯無病者月經一盞，二三次。取和男童之母乳半盞和之，於淨室中服之。後熱作渴，不可飲茶、湯、酒，取少壯婦人有乳者，飲其乳。經旬至一月後，方可食煙火食。忌氣與神動心疲，如發，再不能治矣！其乳母須以爛豬蹄食之。</p>

<h2>痼冷（即陰證）</h2>
<p>痼冷寒甚即陰證，手足厥冷心腹痛。外腎縮入死須臾，急將溫熱藥來用。</p>
<p>治陰證手足厥冷，心腹卒痛。用好酒一壺，極滾，將雞刺血入壺中，極熱飲之，被蓋出汗。男用雄、女用雌雞。隨量飲。</p>
<p><u>一方</u>　用枯礬末，眾口唾調於患者手心，合掌。擦片時，曲膝間夾之，汗出為度。</p>
<p><u>一方</u>　用魚鰾一根，燒存性，胡椒四十九粒，為末。黃酒度下。</p>
<p><u>一方</u>　用舊胡綿、頭髮二味，燒存性，各五分，香油調稀，一服立應。</p>
<p><u>一方</u>　用硫黃四分，胡椒六分，為末。每三分，燒酒調服。</p>
<p><u>一方</u>　用芥菜子，炒為末，釅醋調為餅，放臍上，用絹帛緊縛。</p>
<p><u>一方</u>　用鉛丹一錢，白礬八分，胡椒二分為末。用醋調搭玉莖頭上，女人放玉門上，男左女右使藥。</p>
<p><u>一方</u>　用生蔥一束，以繩扎如杯大，切去根葉，留二寸。以火熁一面令熱，著臍下，外以熨斗熨之，令熱透中，更作三四餅，壞則易之。俟病人手溫有汗為愈。</p>
<p><u>一方</u>　燒熱火磚，噴以醋，紙包，入被中熏之。或燒熱瓦噴醋紙包，熨胸背四肢皆妙。</p>
<p><u>一方</u>　用黑豆，不拘多少，鍋內炒熟，乘熱以好酒淬之，就以碗蓋，勿令泄氣，候溫飲酒。</p>
<p><u>一方</u>　用馬蜂窩為末，蔥白一根，搗為膏，貼在手心，陰汗出，效。</p>

<h2>勞瘵</h2>
<p>勞瘵陰虛相火動，午後發熱痰咳重。滋陰降火補脾虛，治標固本無不中。</p>
<p>治陰虛火動，蒸熱如燎，諸藥投之不能退熱。用無病壯盛童子小便色白者，乘熱服之，不數服而熱退矣。痰嗽盛，加竹瀝、薑汁少許同服。</p>
<p><u>一方</u>　治陰虛火盛，五心煩熱。用人中白一兩，黃柏（鹽灑炒）、青黛、生甘草各五錢，為末。每二錢，童便調服。</p>
<p><u>一方</u>　治勞嗽，發熱，吐痰。用鍾乳粉一錢，綠豆粉一錢半，生薑三片，連須蔥白三根，俱搗。用牙豬肺管一條，不見水，將藥入管內，兩頭線扎住。用水三碗，炒鍋內煮熟，細嚼嚥下。其湯亦飲之。</p>
<p><u>一方</u>　治虛勞痰嗽。用白糖、蜜、蘿蔔汁、薑汁、藕汁、雪梨汁、人乳汁各半斤，柿霜二兩，共合一處，用金銀器重湯煎熬成膏，磁器亦可。日服二次。</p>
<p><u>一方</u>　治虛勞咳嗽吐血，或傷力吐痰不出，咳則連聲不絕。用天花粉一兩，楝參五錢，為末。每服二三錢，麥門冬湯調服。</p>
<p>治勞瘵虛怯，痰嗽汗熱。用紫河車一具（男用男胎，女用女胎，取首胎者佳），用長流水洗令淨，入砂鍋內慢火蒸熟。花椒末、鹽花少許食之。此真元氣也，大有殊效，不能盡述。</p>
<p><u>一方</u>　治凡得傳屍、勞瘵，氣血未盡虛損，元氣未脫者。用川椒二斤，去目併合口者，炒出汗，取淨椒，研取紅皮末，白膜去之。每服二錢，空心米湯調下。須痹悶少頃。如不能禁，即以酒糊為丸，如梧桐子大，每空心，酒下或米湯下二三十丸，漸加至八九十丸。一婦人用椒二分，苦楝根皮一分丸服，屍蟲從大便中出。</p>
<p><u>一方</u>　治勞蟲。用癸亥日，灸兩腰眼低陷中之穴，每穴灸艾七炷，若九炷、十一炷尤好。先隔日前，點穴方睡，至半夜子時，一交癸亥日期便灸，其蟲從大便中出，即用火燒之，棄於江河中。如有黑嘴者，則其在內已傷人腎臟矣。此不可治蟲，宜謹避。瘵有數蟲：如蜈蚣，如小蛇，如蛤蟆，如馬尾，如亂絲，如爛面，如蒼蠅，如壁油蟲，上紫下白，形銳足細而有口，或如白蟻，孔竅中皆出，此皆勞瘵根毒。若傳三人，則如人形，如鬼狀。</p>

<h1>卷二</h1>

<h2>失血</h2>
<p>失血大抵俱是熱，陽盛陰虛妄行血。補陰清火抑其陽，引血歸經血自歇。</p>
<p>治吐血、咯血、一切失血，或痰嗽喘熱心慌。用生地黃（搗取汁）、童便各半盞，入薑汁少許，重湯煮，溫服之。</p>
<p><u>一方</u>　治吐血、衄血不止，心慌喘急，上壅或發熱。用生地黃（搗汁）半斤，生大黃末一方寸匕，煎地黃汁一滾，入大黃調勻。空心溫服一小盞。日三服，血即止。如發熱，加童便。</p>
<p><u>一方</u>　治吐血不止。用大黃酒拌，九蒸九曬，為末，水丸。每四五十丸，白滾水下。</p>
<p><u>一方</u>　用側柏葉，搗爛，入童便二分，酒一分溫服。</p>
<p><u>一方</u>　用玄參三錢，童男童女溺各半盞，同煎七分，露一宿，塞住鼻孔，溫服。</p>
<p><u>一方</u>　治一切吐血及傷酒，食飽低頭掬損吐血至多，並血妄行，口鼻俱出，但聲未失者，無有不效。用百草霜，為末。每二三錢，糯米煎湯下。一方加白芷亦好，鼻衄用少許搐鼻，皮破並瘡出血摻上即止。</p>
<p><u>一方</u>　治吐血、衄血或小便赤、大便難，併發煩熱、惡寒、心胃痛。用山梔仁（炒黑）三錢，生薑一片，水煎溫服。</p>
<p><u>一方</u>　治嘔血，吐痰，心煩，骨蒸熱者。用人中黃，為末。每三錢，用茜根汁、竹瀝、薑汁調服。</p>
<p><u>一方</u>　治血線迸流，日夜不止，將危。用棕毛燒灰，敷之立愈。內用養血氣補之。</p>
<p><u>一方</u>　治鼻衄不止。用蘿蔔自然汁和無灰黃酒飲之則止。蓋血隨氣運轉，氣有逆順，所以妄行。蘿蔔最下氣而消導之，一服即效。復患，取人中白置新瓦上，火逼干，以溫湯調服，即時血止。人中白者，即旋桶積鹼垢是也。蓋秋石之類，特不多用火力耳。</p>
<p><u>一方</u>　用小兒胎髮燒灰吹之。</p>
<p><u>一方</u>　用烏驢屎燒灰，入發灰少許吹之。</p>
<p><u>一方</u>　用龍骨末吹入。兼治九竅出血，皆效。</p>
<p><u>一方</u>　用綠豆粉、細茶各五錢，為末，冷水調服。</p>
<p><u>一方</u>　治鼻衄久不止，素有熱而暴作者，諸藥不效。用大紙一張，作八折或十折，於水內濕，置頂中，以熨斗熨至一重或二重紙干，立止。</p>
<p><u>一方</u>　治鼻血長流，百方不效。用金陵草、片芩等分，水煎服，立止。</p>
<p><u>一方</u>　治鼻衄神法。勿令患人知，以井花水忽然猛噀其面即止。</p>
<p><u>一方</u>　如左鼻出血者，以色線扎右手中指根，右孔出血者，扎左手中指根。兩孔俱出者，扎二指根。</p>

<h2>出汗</h2>
<p>自汗陽虛白晝出，盜汗陰虛睡覺沒。自汗補陽盜補陰，汗出油珠發潤卒。</p>
<p>治自汗、盜汗。用五倍子為末，津液調，塗臍內，以絹帛縛定，一宿即止。又方，用何首烏末亦可。</p>
<p><u>一方</u>　治遍身汗出不止。用新桑葉（乘露採摘）控干，研為末。每服二錢，空心米湯調服。</p>
<p><u>一方</u>　治別處無汗，獨心孔一片有汗，思慮多則汗出亦多。病在心，宜養心血。以艾葉煎湯，調茯苓末一錢服之。</p>
<p><u>一方</u>　治盜汗。用牙豬心一個，水二碗，入砂鍋內煮爛熟為度，去豬心不用。另用當歸、人參各二錢半，入煮心汁內，熬至上半甌，去渣，不拘時服。豬心食否不拘。</p>
<p><u>一方</u>　治陰囊汗出。用密陀僧，研細，加蛤粉，撲患處。</p>
<p><u>一方</u>　治腳汗。用白礬一兩，水煎洗腳。</p>

<h2>眩暈</h2>
<p>眩暈多屬痰與火，六淫七情皆能作。眼暗身轉及耳聾，要分虛實方下藥。</p>
<p>治眩暈不可當，皆痰上所致　用大黃酒拌，九蒸九曬，水丸如梧桐子大。每五七十丸，白水下。</p>
<p><u>一方</u>　用枯礬為末，薑湯調服。</p>
<p><u>一方</u>　治七情感動，氣鬱生誕，隨氣上衝，頭目眩暈，心嘈忪悸，眉稜骨痛。用大半夏，湯泡七次，切片。每四錢，生薑十片煎，入沉香磨水一呷，溫服。</p>

<h2>癲狂</h2>
<p>癲為喜笑或不常，安神養血是奇方。狂為痰火因太盛，平肝清火化痰良。</p>
<p>治癲狂不識人。用伏龍肝末，水調方寸匕，日三服，效。</p>
<p><u>一方</u>　用人糞燒灰，每一錢，酒調服。</p>
<p><u>一方</u>　治風邪。用蛤蟆燒灰，硃砂末等分。每一錢，水調服。</p>
<p><u>一方</u>　治風疾癲狂，風癇，婦人心風，血邪。用甘遂一錢（堅實不蛀者）為末，用豬心取管血三條和遂末。將心劈作四邊，遂末入在內，令線縛定，外用皮紙裹，慢火煨熟，不可焦。取末研細，入辰砂末一錢，和勻，分作四丸。每一丸，將煨豬心煎湯化下。大便下惡物效。</p>
<p><u>一方</u>　治發狂，跳叫如著了鬼祟一般者。用蠶退紙（即蠶蛾拋子在上者），燒灰存性，溫酒調服。</p>
<p><u>一方</u>　治久心風癇，氣血虛弱。用紫河車，焙為末，煉蜜為丸，酒送下。</p>

<h2>五癇</h2>
<p>癇有五等類五畜，以應五臟各斯屬。卒僕搐搦吐痰涎，祛痰順氣平肝木。</p>
<p>治風癇，久服其涎自小便出。用白礬、細茶各一兩，為末，煉蜜丸如梧桐子大，每三十丸，茶下。</p>
<p><u>一方</u>　治諸癇。用辰砂為末，豬心血和勻，以蒸餅裹劑，蒸熟取出，丸如梧桐子大。每十丸，臨臥，人參湯下。</p>
<p><u>一方</u>　治豬羊癇風，傾僕不省。用紫河車一具（男用男胎，女用女胎），薄酒洗淨，入砂鍋，水煮爛，入鹽少許食之，好酒送下。</p>
<p><u>一方</u>　治風癇年久。病癲狂，羊聲，倒地不省人事，或狂走持刃，宜摧服伏邪。蛇含石，火煅九次，醋淬至酥，研令極細，取狗膽汁，丸如龍眼大。發時用一粒，人參煎湯磨下。每日一服。男子用雄、女人用雌狗膽。</p>

<h2>健忘</h2>
<p>健忘思慮損心脾，盡力思量竟不知。有始有終忘記事，補脾養血是良醫。</p>
<p>治健忘。用白茯神（去皮木）、遠志（用甘草水泡，去骨取肉）、石菖蒲三味等分，水煎服，一日四五次，久久服之，能日誦千言，名聰明湯也。</p>
<p><u>一方</u>　久服聰明益智。用龍骨、遠志（制）等分為末。食後酒調方寸匕，日三服。</p>

<h2>邪祟</h2>
<p>邪祟難乾壯實人，神虛氣弱致相侵。只扶正氣虛邪退，莫費工夫禱鬼神。</p>
<p>治妖魅貓鬼，病人不肯言鬼。用鹿角屑搗末，以水調服方寸匕，即言實也。</p>
<p><u>一方</u>　治百邪鬼魅。用頭垢作丸一小豆大，水吞服。</p>
<p><u>一方</u>　治中鬼氣死，口鼻出血。用雄黃末一錢，煎桃葉湯調下。</p>
<p><u>一方</u>　治遠行所在有邪魅。但至宿所，望空書九龍符，則壓諸邪魅，精怪不敢動。</p>
<p><u>一方</u>　治百邪法。常以雞鳴時，心念四海神明三七遍，可避諸邪惡鬼，令人不病瘟疫。如入病人室，心念三遍尤好。咒曰：東海神阿明，南海神祝融，西海神巨乘，北海神禹強。</p>
<p><u>一方</u>　出行不及擇選良辰，須定心齊足正身，作用先四縱，後五橫。以右手大拇指畫之，咒曰：吾今出行用兵，禹王衛道，蚩龍避兵，□□□□起，虎狼不得行。周遊天下，還歸故鄉，擋吾者死，避吾者昌。吾奉九天玄女，急急如律令，敕。</p>

<h2>不寐（附驚悸）</h2>
<p>不寐原來睡不寧，膽虛痰氣沃心經。治當溫膽生心血，一枕黃梁夢不驚。</p>
<p>治膽虛睡臥不安，心多驚悸。用酸棗仁一兩，炒香為末。每二錢，不拘時，竹葉湯調下。</p>
<p><u>一方</u>　治夜不得寐。用酸棗仁半兩，炒，研末，酒三合，取浸汁。先以粳米三合煮作粥，臨熟，下酸棗汁，更煮三五沸，空心食之。</p>
<p><u>一方</u>　用遠志肉、酸棗仁（炒）、石蓮肉等分，水煎服。</p>
<p><u>一方</u>　治被驚駭，心神不安，心跳不寧。用豬心，劈開，入硃砂末於內，紙包火煨熟食之。</p>

<h2>頭痛</h2>
<p>頭痛須詳十二經，各經用藥要分明。頭腦盡痛手足冷，此為真痛命當傾。</p>
<p>治一切頭痛。用麥麩炒熟，入好醋拌勻再炒，乘熱縫袋盛之，貼痛處，外以手帕包裹，被蓋，出汗立止。</p>
<p><u>一方</u>　用生蘿蔔汁一蜆殼，仰臥，注鼻中，左痛注左，右痛注右。</p>
<p><u>一方</u>　治因氣惱衝動頭痛。用香附二錢，川芎一錢，細茶一錢，水煎服。</p>
<p><u>一方</u>　治年少強壯人，氣實有痰，或頭暈而重痛。用大黃，酒拌炒，如此三次，為細末，清茶調服。</p>
<p><u>一方</u>　治偏頭痛，耳中或左或右如抽筋痛者，半邊頭疼是也。用黃蠟一二兩，放鐵勺內熔化，將白紙蠟面上拖過如蠟紙樣，每紙要闊二寸，長五寸。將真蘄艾揉軟，攤蠟上，以箸卷為筒，插耳孔內，一頭用火燃之，令煙氣入耳內，熱氣入腦內，其痛即止，再不發矣。右邊疼插耳左邊，左邊疼插耳右邊，熏不過二次而已。</p>
<p><u>一方</u>　治頭疼，不論偏正。用南星、川芎等分，為細末，用連須蔥搗成餅，貼太陽穴，手帕勒之。</p>

<h2>鬚髮</h2>
<p>須屬腎兮發屬心，肝經眉屬是其真。腎水傷時須必白，發皤還是損心神。</p>
<p><u>烏須</u>　用五倍子曲五線，銅末二錢，白礬一錢半，食鹽一錢半，沒食子二個（麵炒黃色，一錢半），為末，茶滷調，重湯煮見黑色。攤須勻，自黑。</p>
<p><u>一方</u>　用杏仁，不拘多少，米醋浸七日，曬乾，砂鍋內慢火炒，不可出煙令焦，研末，加潮腦少許，用脂皮裹，紙蘸藥捻鬚即黑。</p>
<p><u>一方</u>　烏鬚髮。用燒包好鹽五分（炒黑色），黃丹一兩，官粉五錢。三味共為細末，用熱鹼水調，和勻，掠掃鬚髮上，待一炷香盡，用水澆之。</p>
<p><u>一方</u>　用柏油四兩，入瓶內，將向南核桃樹根截去下半截，上半截入瓶內，封口，以土埋之。自冬至日埋至一百日取出，染須。</p>
<p><u>一方</u>　用小蛤蟆屯一官鬥，入好京墨半斤，打碎，同入壇內，埋放人常走地內一年整，取出，研細末，用手指蘸捻鬚上即黑。</p>
<p><u>一方</u>　用風化石灰（潔白未化者）一錢，黑鉛（炒成灰）七分。二味合和，用鹽水和如膏塗，水頻洗。</p>
<p><u>一方</u>　拔去白鬚，即以銀簪點母丁香末和薑汁在根孔內，則再生黑鬚來。</p>
<p><u>一方</u>　黑髭鬚。用自己亂髮洗淨。每一兩，入椒五十粒，泥封固。入爐，大火煅如黑糟，研細，酒服一錢匕。</p>
<p><u>一方</u>　烏須。用石灰入水攪，澄去渣，將清水澄濾去水，將紙一張蓋上，將乾柴炭放紙上，石灰即干，用六錢，官粉二錢，綠豆粉二錢（入水潤濕）。三味合一處，水調勻，塗須上，紙包裹。次日取出，用香油捻鬚上，須臾水洗去，又少用香油捻之，可烏一月。</p>
<p><u>一方</u>　用桑椹取汁，入磁瓶，以水養之，候青核桃肥潤，取汁。好金墨一頂，調勻作錠，抹之，可經半年。</p>
<p><u>一方</u>　用甘州地骨皮二斤，白心蒼朮二斤，搗爛，粗羅過。用桑椹二十斤取汁，拌二藥濕了。在日色曬七七四十九日。用磁盆曬。曬完，煉蜜為丸，如杏大。每日服一丸，煎鹽湯清晨服，可使鬚髮白重黑，牙重生，且延壽。</p>

<h2>耳病</h2>
<p>耳聾男右因色欲，女人左聾緣忿怒。左右俱聾厚味傷，補虛順氣痰除去。</p>
<p>治耳聾。用蔥葉一根，入蚯蚓一條，頭向上，入麝少許，鹽一捻，須臾化水，滴一二珠入耳孔內，立通。</p>
<p><u>一方</u>　治耳聾因腎虛所致，十年者一服而愈。用全蠍（至小者）四十九枚，生薑（如蠍大）四十九片。二件銅器內炒至生薑干為度，作一服。初夜，溫酒下，至二更，儘量飲，醉不妨。次日，耳如竺簧即效。</p>
<p><u>一方</u>　以酒煎前藥，送下六味地黃丸一百，治耳鳴效。</p>
<p><u>一方</u>　治耳聾。用九節菖蒲為末，入蓖麻子為膏，如鼠糞大，綿裹塞耳中。</p>
<p><u>一方</u>　用麝香一分，斑蝥一雙，為細末，蜜丸綠豆大，以絲綿包裹塞耳，如熱取出即通。</p>
<p><u>一方</u>　治氣道壅塞，兩耳聾瞶。用甘遂半寸，綿裹，塞兩耳中，即將甘草口噙下自通。</p>
<p><u>一方</u>　用老蔥白一寸，塞兩耳，頻易即通。</p>
<p><u>一方</u>　治耳內有膿，痛不可忍。用抱雞卵殼，炒黃，為末，香油調，灌耳內，即時疼止。</p>
<p><u>一方</u>　治耳膿疼痛，或出水。用枯礬末吹之。</p>
<p><u>一方</u>　治耵耳，俗云「耳底」，膿出。用五倍子，燒存性，為末吹耳。</p>
<p><u>一方</u>　治諸蟲入耳。用香油滴入耳中，其蟲自出或死於耳內。或用驢、牛乳或雞冠血滴入皆好。不若用生薑擦貓鼻，其尿自出，滴耳內，蟲即出。</p>
<p><u>一方</u>　治凍耳。用橄欖，燒灰存性，清油調敷。雀腦亦可。如耳爛，用貝母末乾摻。</p>

<h2>鼻病</h2>
<p>鼻窒不聞臭與香，素常痰火肺間藏。每遇風寒必便塞，清金降火最為良。</p>
<p>治鼻塞不通。用菖蒲、皂角等分為末。每一錢，綿裹塞鼻內，仰臥少頃效。</p>
<p><u>一方</u>　治老人鼻流清涕不幹。用獨蒜四五個搗如泥，貼腳底心下，用紙貼之，其清涕再不發。</p>
<p><u>一方</u>　治久患鼻瘡，膿極臭者。用百草霜研細。每服三錢，冷水調服。</p>
<p><u>一方</u>　治甕鼻塞肉，乃肺氣盛。用枯礬末綿裹塞鼻中，數日自清。</p>
<p><u>一方</u>　治甕鼻。用雄黃、甜瓜蒂為末吹之。外用雄黃磨圓，入鼻內塞之。外用椿姑姑為末，每服二錢，臨臥，黃酒調服。</p>
<p><u>一方</u>　治鼻中肉贅。用藕節有毛處一節，燒灰存性，為末，吹患處。</p>
<p><u>一方</u>　治鼻紅如神。用硫黃化開，入好燒酒內淬三次，為末，用茄汁調敷三次，效。</p>
<p><u>一方</u>　治鼻塞不通，或流清涕。用牙皂末，每一匙，臨臥黃酒調服。忌風。出微汗。</p>

<h2>口舌</h2>
<p>口舌生瘡心臟熱，涼劑徐投火自滅。口舌肝熱移於膽，此因謀慮而不決。</p>
<p>治口瘡並疳及喉痛。用甘草、白礬為末，摻口內。</p>
<p><u>一方</u>　用白礬一錢，蜜調，塗瘡上。</p>
<p><u>一方</u>　用西瓜漿水，徐徐飲之。無瓜時，以瓜皮燒灰敷之。</p>
<p><u>一方</u>　用黃連煮汁，呷之即已。</p>
<p><u>一方</u>　治白口瘡急惡，狀似木耳。用五倍子、青黛等分為末，好酒調，搽瘡上。咽瘡，吹入喉中，有津吐出。</p>
<p><u>一方</u>　治口臭。用白礬、麝香為末，擦牙上。</p>
<p><u>一方</u>　治口氣。用香白芷七錢，甘草五寸為末。每一錢，食後井花水調下。</p>
<p><u>一方</u>　治舌腫大塞口，不通飲食。用蒲黃末，頻摻舌上，內以黃連煎湯服，以瀉心火。</p>
<p><u>一方</u>　治被人咬去舌尖。用鹽一大把，入口淹舌頭一夜，即長如舊。</p>
<p><u>一方</u>　治口瘡。用熱水半碗，入白礬一撮，待溫，漱口數回而已。</p>

<h2>牙齒</h2>
<p>牙痛濕熱有胃火，有風有蟲痛非可。清火除濕更誅蟲，或搽或服皆安妥。</p>
<p>治一切牙疼。用鹼炒為末。每少許，擦牙立止。</p>
<p><u>一方</u>　用白蒺藜，不拘多少，噙漱吐出。一方用燒酒煎漱亦可。</p>
<p><u>一方</u>　用蛇床子煎水漱。</p>
<p><u>一方</u>　用小麥炒焦，燒酒淬，入口噙漱吐出。</p>
<p><u>一方</u>　治蟲牙痛。用雄黃一錢（末），井花水調漱，痛處覺熱，吐出再漱，如此五七口，疼即止。</p>
<p><u>一方</u>　治風牙痛。用牙皂一個，砍兩截，釅醋煎溫漱。</p>
<p><u>一方</u>　治牙腫痛或動搖，用核桃去肉。入白礬和鹽於內，火煅為末，擦牙。</p>
<p><u>一方</u>　治牙齒痛不可忍。巴豆一個（微燒，研勻），三粒胡椒（帛包），牙咬流水，登時痛止腫消。</p>
<p><u>一方</u>　治牙齦腫爛，出臭水。用芥菜稈，燒灰存性，為末敷之。</p>
<p><u>一方</u>　治牙齦宣露。每旦捻炒鹽擦齒，後用熱水含漱齒百遍。五日齒即堅牢，密且白。</p>
<p><u>一方</u>　白牙補腎治牙宣。用荔枝五枚，每枚開一小個孔，入鹽填滿，用濕紙封固數層，火內煅過，去紙研末，再入花椒三分之一，攪勻擦牙。</p>
<p><u>一方</u>　固齒白牙。用青鹽二兩，白鹽四兩，川椒四兩煎汁拌二鹽，炒乾為末，磁器內收，早晚擦牙，永無齒疾。就以漱出水洗眼，永無目疾。</p>
<p><u>一方</u>　用槐條葉，不拘多少，熬汁，入鹽熬干，收貯擦牙。</p>
<p><u>取牙</u>　用龍肝，乃墓中陳石灰也。雁膽一個。收龍肝納膽內，陰乾為末。用時宜些少點牙根上，即落。切忌墜入口中。取之即落。</p>
<p><u>種牙</u>　未取牙，先用雄鼠骨入小瓶中，封口，入湯鍋煮爛，連骨搗為泥。將取下牙用水洗淨，以此微物微蘸牙根，納原肉中，上下咬定，待痛不可忍即開。如取牙多，記其次第，不可錯亂。</p>
<p><u>一方</u>　用良薑、細辛、紅豆、雄黃各等分為末，男左女右，吹入鼻即愈。</p>

<h2>眼目</h2>
<p>眼眥屬心白屬肺，上下眼名皆屬脾。瞳仁屬腎黑肝木，五臟精華眼見之。</p>
<p>治一切暴發赤眼，怕日羞明，隱澀熱淚，腫痛不可忍者。如左眼病，用手指按鼻右孔，令左鼻吸氣上升。覆按左鼻孔，令右鼻吸氣上升。覆按左鼻孔，令右鼻孔出氣。如此四十九次止。後輕輕呵氣三口。不可令耳聞心想。</p>
<p><u>又法</u>　用眼閉住，將眼珠輪轉，久久自愈。</p>
<p><u>一方</u>　治一切新舊眼病腫痛。用鹽湯頻頻熱洗立效。</p>
<p><u>一方</u>　治眼昏暗或流冷淚。用夜間不語唾沫洗眼，每醒即洗，久則自明。</p>
<p><u>一方</u>　治眼暴赤腫痛不可忍。甘草四錢，黑礬一錢，為末。井花水調塗眼上胞，以水潤之，切不可入眼內，效。</p>
<p><u>一方</u>　用芒硝五錢，雄黃三錢，為細末，吹入鼻內。兩鼻流水，雙目出淚。</p>
<p><u>一方</u>　用生薑一塊，取竅，入黃連、白礬少許，紙包水濕火煨，搗爛取汁點之。</p>
<p><u>一方</u>　治火眼。用王瓜，切開一頭，剜出子，以皮硝裝滿縛之，懸檐下。待其硝透者取點眼角。喉痛取少許吹之。口瘡摻上。</p>
<p><u>一方</u>　治風淚紅眼。用黃連、人乳磨碗底上。用艾、花椒末作捻，熏干掃下，銀簪點眼。</p>
<p><u>一方</u>　治暴發爛眩風眼。用皂礬，不拘多寡，瓦器盛。三伏內曬之至白色，須曬十餘日方好。再入黃連末十分之一。每用少許，水和，隔紙洗眼。</p>
<p><u>一方</u>　治胬肉侵睛。用焰硝一錢（炒），枯礬二分，硇砂三釐，為末，點胬肉上。</p>
<p><u>一方</u>　取翳障。用青木香、青橄欖，二味磨水，入炒鹽少許，點翳上。</p>
<p><u>一方</u>　治翳膜。用燈草蘸鹽末，點翳上即落。</p>
<p><u>一方</u>　治眼中雲翳。用血竭一分，入油核桃半個，研爛，入人乳汁半酒盞，用新絹三四層濾汁，又濾清汁點之。</p>
<p><u>一方</u>　治翳障。用白丁香（雄尖者）、鳳凰退等分，研羅極細末，點翳上。</p>
<p><u>一方</u>　治眼中流淚。迎風冷淚聽根原，臘月尋桑不等閒。覓取梢頭不落葉，煎湯頻洗自然安。</p>
<p><u>一方</u>　治拳毛倒睫。用木鱉子一個，去殼，為末，綿裹塞鼻中。左眼塞右，右眼塞左，一夜，其睫自分上下。</p>
<p><u>一方</u>　治雞盲、雀盲眼。用鮮地黃炒豬肝食之。</p>
<p><u>一方</u>　用好羊肝一副，煮食三五次愈。</p>
<p><u>一方</u>　治青盲眼，十年內者俱可治。用番白狗乳，將臨胎時須人守定，候生，不許令小狗吃乳，即將揉下，每日點眼，數次復明。</p>
<p><u>一方</u>　治男女眼目昏花，視物不明。用甘菊花一斤，川椒（去目）六兩，為末，鮮地黃汁為丸，如梧桐子大。每五十丸，臨臥茶下。</p>
<p><u>一方</u>　用甘枸杞子，去梗，鹽水泡一宿，控干，入蜜拌。蒸一炷香盡，磁器收貯。日三次嚼吃。每二錢，白水送下。</p>

<h2>咽喉</h2>
<p>喉痹一名為乳蛾，多因酒色七情過。痰火上壅為腫痛，祛風清火得平和。</p>
<p>治喉痹及喉中熱痛。用好消梨杵汁，頻頻飲之。</p>
<p><u>一方</u>　用青艾葉杵汁，灌入喉中。</p>
<p><u>一方</u>　用枯礬、雄黃、白礬，等分為末，吹喉。</p>
<p><u>一方</u>　治咽喉腫痛。用桔梗一兩，甘草三錢，水煎，頻服。</p>
<p><u>一方</u>　治咽喉腫痛，喉痹乳蛾。用膽礬五分為末，淡醋半盞調服，即吐痰而愈。</p>
<p><u>一方</u>　治喉痹乳蛾，腫痛生瘡，潰爛，水漿不入，死在須臾。用巴豆肉、遼細辛等分研末，用紙卷藥在中，兩頭捻緊，從中剪斷，塞入兩鼻中，一時頭項冰涼，咽喉即開。</p>
<p><u>一方</u>　用蠶蛾焙為末，捲入綿紙內，搓作大繩，入香油內浸，燒著，吹入口內，不三四口即愈。</p>
<p><u>一方</u>　用蠶繭子三個，燒存性，蛇退皮一尋長（分四份，只用一份，燒存性），枯礬、硼砂各一錢，硃砂五分，為末，少許，吹喉中。</p>
<p><u>一方</u>　治聲啞，言語不出。用蜜調水，飲一碗遂愈。一人聲啞，用木香少許，頻嚼而瘥。</p>
<p><u>一方</u>　治失音。用槐，新瓦上炒熟，懷之，隨處細嚼一二粒，久久自愈。</p>

<h2>結核</h2>
<p>結核皆因痰火注，鬱結聚硬在其處，不紅不痛不作膿，化痰清火平如故。</p>
<p>治頸項結核腫痛，並瘰癧馬刀瘡，不問已潰未潰，日久成漏者。用夏桔草，水煎頻服。</p>
<p><u>一方</u>　治痰核。用米糖三兩，水一鍾，勺內化開，用靛花三錢，攪勻，攤厚紙上貼之。</p>
<p><u>一方</u>　治滿頸生小瘊子。用地膚子、白礬等分，煎湯，洗數次即去。</p>
<p><u>一方</u>　用天南星為末，醋調，搽瘊子上，數次即落。</p>
<p><u>一方</u>　治痰核疙瘩。用黃花苗、商陸根、生南星等分，搗爛，塗患處立消。</p>

<h2>心痛</h2>
<p>心痛即是胃脘疼，清熱解鬱藥靈通。更有蟲食氣心痛，臨時審候要分明。</p>
<p>治心痛（即胃脘痛）。以鹽置刀頭燒紅，淬入水中，乘熱飲之，吐痰而愈。此法治絞腸痧大痛幾死者立效。</p>
<p><u>一方</u>　治心胃痛不可忍者，用山梔子十五個（去皮，薑汁浸，炒），川芎一錢，香附（童便浸，炒）一錢，水煎熱服。痛止，不可就食。</p>
<p><u>一方</u>　治心疼。用透明黑礬七粒，研末，好熱黃酒送下。</p>
<p><u>一方</u>　用白礬末一錢，燒酒調服。</p>
<p><u>一方</u>　用白菜子一合，炒為末，熱黃酒送下。</p>
<p><u>一方</u>　治心疼，肚腹疼。用五靈脂末，每五分，黃酒調下。</p>
<p><u>一方</u>　治心疼。用舊爛裹腳布（有腳汗者）一片，燒存性，黃酒調下。</p>
<p><u>一方</u>　治心痛如錐剜，要人兩手重按其上，百藥不效。用乳香、沒藥、真麝各一分，為末，滾燒酒調服。</p>
<p><u>一方</u>　治心疼時發不定，吐清水，不食。用雄黃研細，好醋慢火熬成膏，搗餅丸如梧桐子大。每七丸，薑湯下。</p>
<p><u>一方</u>　治蟲咬心疼。用香油、鹽，熱服一盞，即效。</p>
<p><u>一方</u>　治心腹痛，青筋，去血，心嘈雜及婦人經行作痛。用五靈脂一兩，玄胡索、梔子（炒）各五錢，為末。每服二錢，熱黃酒調下。加鹽一捻，尤妙。</p>
<p><u>一方</u>　治婦人心胃蟲痛。用糖霜一兩，黃酒調下。</p>
<p><u>一方</u>　治心痛。七個杏仁八個棗，九個烏梅一處搗，黃酒送下五七丸，心裡不疼直到老。杏仁去皮、尖。</p>
<p><u>一方</u>　用火硝七錢，雄黃三錢，治不拘心疼、腰疼，騾馬骨眼，為末，俱點大眼角。</p>
<p><u>一方</u>　用石菖蒲、檳榔、砂仁、香附、茯苓各二錢，姜三片，水二鍾，煎溫服。</p>

<h2>腹痛</h2>
<p>腹痛有熱亦有寒，死血食積並濕痰。時痛時止應是熱，綿綿不止作寒看。</p>
<p>治一切心腹疼痛不可忍者。用蔥頭七寸，艾葉一撮，黑砂糖二匙，入大碗內，用小碗蓋住，將極滾水四圍溜下，須臾取出，去渣溫服。</p>
<p><u>一方</u>　治心腹作痛。用白礬末一錢，好醋一盞，溫服。</p>
<p><u>一方</u>　治心腹冷痛。用白礬、胡椒各一錢。每服五分，黃酒調服。</p>
<p><u>一方</u>　治心腹刺痛及小腹氣痛，服諸藥不效者。用蒲黃（微炒）、五靈脂各等分，醋熬成膏。每一二匙，食前，滾湯調服。</p>
<p><u>一方</u>　治肚腹脹痛。用枳實，炒黃為末。每二錢，米飲調下。</p>
<p><u>一方</u>　治四時腹痛。用白芍藥、甘草（炙）等分，生薑五片，煎服。寒痛加乾薑；熱痛加黃連；因氣加香附。</p>
<p><u>一方</u>　治一切心腹胸脅腰背疼痛。用花椒為細末，醋和為餅，貼痛處。上用艾葉搗爛鋪上。發火燒艾，痛即止。</p>
<p><u>一方</u>　治痰火凝滯作痛。用芥菜子為末，水攪勻，澄去清水。用膏貼患處立止。</p>
<p><u>一方</u>　治腹痛成陣者。飲涼水一碗即止。若綿綿痛不止者，用滾燒酒加鹽一捻服之。</p>

<h2>脅痛</h2>
<p>脅痛木氣肝火盛，亦有死血有痰症。平肝開結化痰涎，散血順氣治有應。</p>
<p>治脅肋諸痛。用韭菜，連根搗爛，醋拌炒，絹包，熨痛處。</p>
<p><u>一方</u>　用芥菜子，水研敷。服亦可。此方經驗甚效。</p>
<p><u>一方</u>　用吳茱萸，醋研勻，敷。</p>
<p><u>一方</u>　治脅肋痛。用小茴香（炒）一兩，枳殼（麩炒）五錢，為末。每服二錢，鹽湯調下。</p>
<p><u>一方</u>　治脅間痛如有物刺，是氣實也。用枳殼（麩炒）一兩二錢半，甘草（炙）三錢七分半，研細末。每二錢，煎濃蔥白湯調下。不拘時服。</p>

<h2>腰痛</h2>
<p>腰痛豈止屬腎虛，三因五種要推之。或溫或涼或汗下，更兼補腎是良規。</p>
<p>治腰痛。用魚鰾，炒成珠，好酒一碗，淬入內，溫熱通目連渣服。</p>
<p><u>一方</u>　腎虛腰痛，用破故紙，酒炒為末。每三錢，空心，酒調服。</p>
<p><u>一方</u>　用人脊骨，燒存性為末。每二錢，燒酒調，空心服。</p>
<p><u>一方</u>　用杜仲（去粗皮，酒和薑汁炒）一兩，酒煎，空心溫服。</p>
<p><u>一方</u>　用破故紙、小茴香為末，豬腰子一對，劈開摻藥，紙裹水濕，火煨令熟，去紙細嚼，好酒送下。</p>
<p><u>一方</u>　治銼閃腰疼，甚者不過三服。用當歸、肉桂、玄胡索等分為末。每二錢，酒調下。或銼，酒煎服，亦可。</p>
<p><u>一方</u>　糯米一二升，炒極熱，盛長袋中，縛於痛處。細研八角茴香三錢，以鹽酒調服。</p>
<p><u>一方</u>　治一切腰痛。用生薑汁四兩，同煎成膏，厚紙攤，貼腰眼，效。</p>

<h2>疝氣</h2>
<p>疝氣七種要推詳，寒水筋血氣狐㿗。濕熱在內因寒裹，陰腫小腹痛如錐。</p>
<p>治小腸偏墜氣。用生薑二兩半，去皮一半，留一半。一處搗取汁，傾在熱酒內，加鹽少許，空心服。不過三服愈。</p>
<p><u>一方</u>　用五倍子五六個，燒存性，為末。用好酒調服，以醉為度。</p>
<p><u>一方</u>　治下元虛冷，寒疝攻痛。用小茴香，鹽水炒，為末。每服三錢，空心燒酒調下。</p>
<p><u>一方</u>　治偏墜氣。用蜈蚣一條，槐子一合，炒焦，淬入生酒，去渣溫服。</p>
<p><u>一方</u>　治小腸氣痛，外腎腫硬。用橘核為末。每服二錢，空心，溫酒或鹽湯調下。</p>
<p><u>一方</u>　治疝氣危急。用玄胡索（鹽炒）五錢，全蠍（去毒）一錢，為末。每一錢，空心鹽酒下。</p>
<p><u>一方</u>　治小腸氣。用小茴香、白鹽同炒，絹包，不住手熨之。</p>
<p><u>一方</u>　治疝氣腫痛。用楝子，去核取肉。焙乾為末。每二錢，黃酒調下。</p>
<p><u>一方</u>　用鐵籬寨一個，燒存性，為末。黃酒調服。</p>
<p><u>一方</u>　治大人小兒疝氣腫硬。用地龍（不去土）為末；蚯蚓糞等分，以雞子清調敷患處，鬆鬆包裹，登時縮上，即洗去，如神。</p>

<h2>腳氣</h2>
<p>腳腫名為濕腳氣，不腫乾腳氣之謂。麻則因風痛是寒，腫乃是濕宜分利。</p>
<p>治腰腳骨骱痛不止。用威靈仙煎酒，空心溫服。</p>
<p><u>一方</u>　治腳氣嘔逆吐瀉轉筋。用宣木瓜四錢，水煎服。</p>
<p><u>一方</u>　治筋攣搐，腳膝筋急疝。煮木瓜爛，裹痛處，冷則易，一夜四五度熱裹即瘥。入酒同煮。</p>
<p><u>一方</u>　治腿轉筋。用松節，銼，好酒煎服。一方加乳香少許。</p>
<p><u>一方</u>　治寒濕氣兩腿痛。用艾二兩，蔥白一把，生薑塊共搗，用布包，蘸極熱燒酒擦患處，以痛止為度。</p>
<p><u>一方</u>　治腳氣，止痛。用草烏、大黃為末，以生薑汁調，貼痛處。</p>
<p><u>一方</u>　治腰半以下濕熱注痛。用黃柏，酒浸，為末。入湯藥調服。</p>
<p><u>一方</u>　治腳氣衝心。用大檳榔一個，為末，童便、薑汁、溫酒共半盞，調作一服。</p>

<h2>痹痛</h2>
<p>五痹手足痛不仁，不過風寒濕氣侵。發散風寒除濕氣，管教疼痛不纏身。</p>
<p>治風寒濕痹，麻木不仁。用川烏頭，生研為末，用糯米半碗入藥末四錢，同米煮作粥，入薑汁三匙，白蜜三匙，攪勻，空心溫啜之。如濕勝，更以薏苡仁末二錢同煮。</p>
<p><u>一方</u>　治諸風緩弱及歷節風骨節痠痛。用虎脛骨，酒炙黃，槌碎如米。每骨一升，酒三升，浸五日，空心服一次。</p>
<p><u>一方</u>　治筋骨疼及傷損疼。用草烏（炮，去皮尖）、蒼朮（米泔浸製）各三兩。為末，酒糊丸。每五十丸，酒下。</p>

<h2>消渴</h2>
<p>消渴要分上中下，上屬肝經中胃者，下消屬腎共三消，能食不食分治也。</p>
<p>治三消渴如神。用繅絲湯（如無繅絲湯，卻以原蠶繭殼、絲綿煎湯，皆可代之），無時飲之。引陰水上潮於口而不渴也。</p>
<p><u>一方</u>　用退雄雞湯澄清飲之。</p>
<p><u>一方</u>　治消渴心熱。用天花粉水煎，當茶吃。</p>
<p><u>一方</u>　治消渴飲水無度，身體瘦弱。用人參、天花粉等分為末，煉蜜丸，如梧桐子大。五十丸，食前，麥門冬湯送下。</p>
<p><u>一方</u>　治消渴。用蠶砂，炒乾為末。每服二錢，冷水調下。</p>
<p><u>一方</u>　治三消。用黃耆六兩（蜜炙），甘草一兩（炙），水煎，無時服。</p>

<h2>濁證</h2>
<p>濁證白色屬腎虛，赤者心虛有熱隨。赤要清心白補腎，化痰燥濕要須知。</p>
<p>治白濁淋痛，因房欲不節或精未施泄而將成下疳者。用綠豆，不拘多少，擂，井花水澄清，空心服。洗法：用花椒三錢，蔥白七根，煎水，先熏後洗。</p>
<p><u>一方</u>　治血濁。用枯礬二兩，為末，早米糊為丸，如梧桐子大。每五十丸，空心米湯送下。</p>
<p><u>一方</u>　用菟絲子一兩，炒黑色，淬酒一大碗，去渣熱服。</p>
<p><u>一方</u>　治赤白濁，因思慮過度，下陽不固，溺有餘瀝，夜臥頻頻，心神恍惚者。用菟絲子五兩，白茯苓一兩，石蓮子二兩，為末，川山藥打糊為丸，如梧桐子大。每五十丸，空心，溫酒或鹽湯送下。腳膝無力，木瓜湯下。</p>

<h2>遺精</h2>
<p>遺精證是心腎虛，補精養腎澀精宜。濕熱傷脾精亦泄，理脾除濕再無遺。</p>
<p>治遺精。用槐子四兩，黑豆一鍾，同炒，後入香白芷五分，胡椒一歲一粒，再微炒，淬入壇酒一壺，去渣溫服。如時酒，加砂仁五分。</p>
<p><u>一方</u>　用霜後韭菜子，炒為末。每二錢，食前酒調服。</p>
<p><u>一方</u>　治失精漏泄久虛。用蓮子心一撮，辰砂一分，為末。每服二錢，空心白湯調下。</p>
<p><u>一方</u>　治失精，暫睡即泄。用白龍骨一兩，韭子一合，為末。每二錢，空心酒調服。</p>
<p><u>一方</u>　治夢遺精滑。用牡蠣，砂鍋煅，醋淬七次，為末，醋糊為丸，如梧桐子大。每空心鹽酒下。</p>
<p><u>一方</u>　治男女夢與鬼交，心神恍惚者。刮鹿角屑一撮，酒調，一日二服。</p>

<h2>淋證</h2>
<p>五淋有熱屬膀胱，小便淋漓痛難當。氣砂血膏勞五淋，疏通清熱是良方。</p>
<p>治血淋。血下升數，痛疼不可忍。用槐子，炒，去火毒為末。每服一兩，好酒送下。</p>
<p><u>一方</u>　治血淋。用乾柿餅，燒存性，米飲調下。</p>
<p><u>一方</u>　治房勞過傷，小便尿血。用自己頭髮一撮洗淨燒灰，作一服，酒調下。</p>
<p><u>一方</u>　治小便尿血，用胡椒，一歲一粒，生搗細研，茶調，新汲水服。</p>
<p><u>一方</u>　治小便淋血或出砂膏如條，其痛如刀割。用真麝五分，蔥白一根搗取汁，孩兒茶三錢半，琥珀二分半，各為細末，用百沸湯調前藥，入蔥汁同服，空心如神。</p>
<p><u>一方</u>　治砂淋。用竹葉煎水，澄去葉，下小米煮粥。將柿餅燒存性，為末，攪入粥內服之。外用醬瓜下粥。</p>
<p><u>一方</u>　治五淋並小便不通。用硝石，生研為末。每服二錢。卒患諸淋，空心冷水送下；勞淋（勞倦虛損即發），用葵子湯化下，通後須服補藥；血淋、熱淋，井花水化下；小便不通，小麥湯化下。</p>
<p><u>一方</u>　治小便出血條，痛不可忍。淡豆豉一撮，煎湯溫服，甚效。</p>

<h2>小便閉</h2>
<p>小便不通有五閉，氣血痰熱風者是。悉宜用吐把氣提，上竅既通下竅利。</p>
<p>治心腎有熱，小便不通並血淋尿血。用車前草，不拘多少，連根帶葉搗取自然汁，入蜜少許同煎服。</p>
<p><u>一方</u>　治小便不通。用孩兒茶為末。每一錢，扁竹根煎湯調服。</p>
<p><u>一方</u>　用田螺大者一二枚，以鹽一匕，連殼生搗搭臍中，以布縛住。</p>
<p><u>一方</u>　以白礬末一匕安臍中，冷水滴之，冷透腹中即通。</p>
<p><u>一方</u>　用豬膽連汁，籠住小便，少時汁入自通。</p>
<p><u>一方</u>　治小便不出，胞轉膨滿欲死者。用發灰二錢，滑石末一錢，桃白皮煎湯調下。</p>
<p><u>一方</u>　治小便不通。用蔥白，切，炒熟，包帛內，更熨臍即通。</p>
<p><u>一方</u>　治小便不通，百方不效。用琴絃半寸，打一疙瘩，慢慢送入小便內，直入里拔出，見膿血遂通。</p>

<h2>大便閉</h2>
<p>大便不通有虛實，陰結陽結閉不一。或攻或補用溫涼，臨時對症無差失。</p>
<p>治大便閉結。用蜜一盞，入芒硝二錢，滾湯調，空心服。</p>
<p><u>一方</u>　用粟米，水煮熟，入火麻仁（微炒，不拘多少），入粥再煮一二沸，飲湯。</p>
<p><u>一方</u>　用竹管蘸蔥汁，深入大便內。以香油一大半，溫水一半同入豬尿胞內，捻入竹管，將病人倒放，腳向上，半時即順，立即通。一法，用豬膽入醋，竹管加上法套之。</p>
<p><u>一方</u>　用蘿蔔子一合，擂，冷水調皂角灰末。每服二錢三錢，服即通。</p>
<p><u>一方</u>　用黑醜，半生半炒，為末。每服二錢，薑湯調下，熱茶亦可。</p>
<p><u>一方</u>　治大小便不通。用鼠糞一個，燒灰存性，為末。每服一錢，黃酒調下。</p>
<p><u>一方</u>　用牙皂，燒存性，為末，空心米飲或酒調下三錢，立通。</p>
<p><u>一方</u>　用荊芥、大黃各為末。如小便不通，荊七黃三；如大便不通，荊三黃七；大小便俱不通，各五錢，水調服。</p>

<h2>痔漏</h2>
<p>痔漏名有二十四，酒色氣風食五事。未破名痔破為漏，祛風除濕解毒治。</p>
<p>治痔漏。用馬齒菜入花椒同煎水，洗三五次即效。</p>
<p><u>一方</u>　治痔漏，坐板瘡，大便一切諸瘡。用五倍子（炒）一兩，白楝子八錢，水煮五六滾，先熏後洗。</p>
<p><u>一方</u>　洗痔。用山楂水煎，先熏後洗。以山楂肉為末貼之，不過三五次全好。</p>
<p><u>一方</u>　用黑礬、皮硝，滾水泡，先熏後洗。</p>
<p><u>一方</u>　用芒硝二兩，自己小便二碗，同煎至一碗，頻頻洗之。</p>
<p><u>一方</u>　用刺刺芽，濃煎水，先熏後洗。</p>
<p><u>又方</u>　治痔瘡坐臥不得，諸藥不效，惟此藥極妙，登時一點即好。用大田螺八九個，針破頂蓋，入白礬末少許，置地上，尖底埋土中，其頂蓋仰，經一宿。次日，取蓋上水汁，以雞翎搽瘡上，五七次止，痛即消。</p>
<p><u>一方</u>　用血竭為末，敷之立止。</p>
<p><u>一方</u>　治痔漏臥床，策杖方能移步者。用旱蓮草一把（連須），先洗淨，搗爛如泥，極熱酒一盞衝入飲之。將渣搗爛，敷患處。重者不過三服。</p>
<p><u>一方</u>　用牡蠣二兩，煅過，入地挖坑埋之，去火毒，為細末。濕則乾摻，干則以津調搽。</p>
<p><u>一方</u>　治痔瘡。用活蜈蚣一二條，置於磁器內，用真麻油一二盞浸過，封閉數月啟看，肉化頗有氣息。用手塗入瘡內，不多日即愈。</p>
<p><u>一方</u>　治痔漏不論新久，服之斷根。用魚鰾、廣膠、舊椅棕灰各一兩。前二味切碎，用沙子同炒成珠，去沙子，將藥碾末。柏子仁（炒）一兩，四味末合一處。每服三服，空心黃酒調服。</p>
<p><u>一方</u>　治痔漏如神。用白毛烏肉雞一隻，皮硝四兩，入鍋內，連毛煮熟，取出去毛，將腸肚並毛入鍋內，煮三四沸取出，將水入桶內，先熏後洗，待水冷又燉熱，再洗。一日五七次。將肉切碎，上加皮硝四兩，蒸熟，空心任意食之。</p>
<p><u>一方</u>　治痔漏。用大麻子棵一根，切粗片，水半桶，煎數沸，就桶盛坐在上熏之。待溫，洗二三次。</p>
<p><u>一方</u>　治痔漏。用黃連四兩，連翹、槐子、枳殼各一兩，為末，入豬大臟內，煮熟，搗為丸如綠豆大。每五十丸，空心黃酒送下。</p>
<p><u>一方</u>　治腸風、痔漏、臟毒，亦能滋陰補弱，用黃柏一斤，分四份，一份酥炙，一份鹽水浸，一份酒浸，一份童便浸。焙乾，為細末。以豬臟一條，去筋膜，裝藥煮爛，同搗為丸如梧桐子大。每服五六十丸，空心好酒送下。</p>
<p><u>一方</u>　用槐花子三四兩，沸湯米桶，磁缸盛之，赤身坐缸口，以被圍之。忌風。</p>

<h2>腸澼</h2>
<p>腸澼即是大便血，腸風糞全色鮮潔。臟毒糞後血暗濁，臟寒臟熱不同列。</p>
<p>治糞後紅及箭血痔。用香油炒豬血，入槐角、槐花末同炒熟，食之二三服。</p>
<p><u>一方</u>　治腸風下血。用炒槐花、荊芥穗等分為末，酒調服。</p>
<p><u>一方</u>　治腸風下血。用荸薺一斤，用水煮熟食之。</p>
<p><u>一方</u>　治腸風下血，痔血瀉利。用川黃連一斤，酒拌，九蒸九曬，為末，阿膠水化為丸，如梧桐子大。每五七十丸，空心，米湯黃酒任下。</p>
<p><u>一方</u>　治腸風、痔漏下血及婦人赤帶下血。用側柏葉二兩，砂鍋內用白礬蓋上，入水平藥，煮令水乾。炒棕毛，燒灰存性，男用二兩，女用三兩，為末。每服二錢半，空心酒調服。</p>
<p><u>一方</u>　治腸風、臟毒、腸澼。用乾柿餅，燒存性，為末。每二錢，米飲調下。</p>
<p><u>一方</u>　治大便下血如流水。用黃連一兩，金華酒下，一服立止。一方治腸風，茱萸並黃連同炒不同研。糞前用茱萸，糞後用黃連，酒送下。</p>

<h2>脫肛</h2>
<p>脫肛氣虛寒脫下，多因血痔久痢瀉。治當補氣要升提，清除濕熱效奔馬。</p>
<p>治腸出不收。用生薑自然汁一合，蜜一合，和勻，用雞翎掃上即收。</p>
<p><u>一方</u>　治脫肛。用五倍子三錢，白礬一塊，水煎溫洗。</p>
<p><u>一方</u>　用蜘蛛七個，燒存性，為末少許，香油調敷。</p>
<p><u>一方</u>　用白傷牛，為末，敷患處。</p>

<h2>腋臭</h2>
<p>腋臭人聞不可言，誰知子母亦相傳。若還得遇仙方藥，管取教君除卻根。</p>
<p>治腋臭。用自己小便洗一次，米泔洗二次，自然薑汁一日擦十次，一月後斷根。</p>
<p><u>一方</u>　用自唾，以手指擦腋數遍，以指甲去其垢，隨用熱水洗手數遍，十餘日痊愈。</p>
<p><u>一方</u>　用蜘蛛一個，赤石脂末水和，包蜘蛛在內，封固，炭火煅紅，取出石脂不用，將蜘蛛為末，入麝少許，油調成膏，攤在厚紙上，貼於兩腋下。</p>
<p><u>一方</u>　用白礬末，入百草霜些須，半月一次擦之，半年除根。</p>

<h2>諸蟲</h2>
<p>諸蟲多因濕熱生，生於腹內狀難明。上攻心腹痛還定，或安或下便清寧。</p>
<p>治腹中諸蟲。用檳榔十個，石榴皮七片（二指大，二指長，要近土與根、及向東西方者）。二味切成片，以水一大碗，煎至八分，露一宿。患人於上半夜先將乾炒肉食在口中細嚼，勿令嚥下，使蟲口俱朝上，乃服藥。少頃，腹中微動，蟲隨下。若至後半夜服，則蟲口又朝下，雖服藥，亦無效矣。</p>
<p><u>一方</u>　用黑醜頭末。每三錢，以豬肉四兩，薄切，搓藥末，空腹食盡，蟲即取下。</p>

<h1>卷三</h1>

<h2>婦人</h2>
<p>婦人屬陰多生氣，氣鬱成病最難治。諸病兼理氣調經，香附是女真仙劑。</p>
<p>治婦人百病。用香附米一斤，分作四制：一用鹽水加薑汁浸透，煮，略炒，主降痰，用下部血；一用米醋浸透煮熟，略炒，主斂氣補血；一用山梔仁四兩同炒，去梔子不用，主降鬱火；一用童便洗過，不炒，為末。一方用芎、歸各二兩，為末。酒煮麵糊為丸，如梧桐子大。每五七十丸，隨引下：</p>
<p>經水不調用酒下；胎前諸病艾湯下；產後諸病芎歸湯下；胸膈脹滿薑湯下；頭暈荊芥薄荷入薑汁下；白帶非冷，乃自庚辛金來，主忿氣所致，用小茴湯或木香湯下。其餘病者，與男子同症，隨意用引；不能者，只用白湯下。</p>
<p>治婦人胎前產後一切諸病。用益母草，於端午日或六月六日花正開時收採，透風處陰乾。不犯鐵器，以石臼搗為末，煉蜜為丸如彈子大。每服一丸，照後引下，以病愈為度。或丸如梧桐子大，每五七十丸亦可，或將益母草連根莖葉洗淨，石臼內搗爛，入水熬濃汁，濾去渣，再熬如黑砂糖色為度。入磁器內收貯。每服一二匙，極妙。</p>
<p>胎前肚腹刺痛，胎動不安，下血不止，水煎秦艽末湯或當歸湯亦可。胎前產後臍腹作聲、作痛，或寒熱往來狀如瘧疾者，俱溫米湯下。臨產併產後各先用一丸，童便酒化下，安魂定魄，血氣自然調順，諸疾不生，又能破血養脈息，調經絡。產後胎衣不下落，在胞中及產前一切產難、橫生不順，死胎經日不下，滿腹中心悶，心痛，炒鹽湯下。產後中風，牙關緊急，半身不遂，失音不語，童便黃酒各半下。產後氣喘，咳嗽，胸膈不利，噁心，口吐酸水，面目浮腫，兩脅疼痛，舉動失力者，溫酒下。產後兩太陽痛，呵欠，心忪氣短，肌體羸瘦，不思飲食，血風身熱，身足頑麻，百節疼痛，溫米湯下。產後眼前黑暗，血暈血熱，口渴煩悶，如見鬼神，狂言不省人事，薄荷湯或童便和酒下。產後面垢顏赤，五心煩熱，或結成血塊，臍腹奔痛，時發寒熱，有冷汗者，童便和酒下或薄荷湯下。產後血瘀，惡露不盡，結滯腹臍刺痛，惡物上衝，心胸滿悶，童便和酒下。產後未經月滿，血氣不通，咳嗽，四肢無力，臨睡自汗不止，月經不調，久而不治則為骨蒸之疾，童便和酒下。產後血衄，口渴，舌黑，童便和酒下。產後大小便不通，煩躁口苦者，薄荷湯下。產後痢疾，米湯下。產後漏血，棗湯下。產後赤白帶下，膠艾湯下。血崩漏下，糯米湯下。勒奶痛或成癰，為末，水調塗乳上則一宿自瘥，或生搗爛敷上亦可。婦人久無子息，溫酒下一丸，服至一月，決有效驗。</p>

<h2>經閉</h2>
<p>月水緣何久不通，蓋因血少血凝壅。或補或瀉兼調氣，慎勿巴黃一樣攻。</p>
<p>治婦人經血逆行，或血暈，或吐血，或咳血。用韭菜，搗汁服之。</p>
<p><u>一方</u>　治室女經閉不通。用雄鼠糞（一頭尖者是），燒存性，為末。每一錢，空心溫酒調下。</p>
<p><u>一方</u>　治婦女經閉不通。用托盤科一兩，歸尾、赤芍、桃仁各一錢，紅花五分，黃酒煎，空心服，汗出至足為效。</p>
<p><u>一方</u>　治經閉並乾血氣。用斑蝥二十個，糯米炒，大黃五錢，桃仁四十九個，炒為末，酒糊丸如梧桐子大，空心酒下五七丸，甚者十五丸。如血枯經閉者，用四物湯送下。</p>
<p><u>一方</u>　治婦人經閉不通，咳嗽發熱，面紅，虛勞盜汗，痰喘，用滋補之藥不效，危困之甚。用大黃（酒拌，九蒸九曬）四兩，血竭、沒藥各五錢，為末，水丸。每五七十丸，用四物湯加紅花煎湯送下。</p>
<p><u>一方</u>　治婦女月經不通。用生蒲黃三錢，乾漆（炒，為末）三錢，共六錢，紅花煎酒調服，立通。</p>

<h2>崩漏</h2>
<p>崩漏虛溜熱則通，陰虛陽搏謂之崩。更有冷熱並虛實，辨得陰陽藥自靈。</p>
<p>治血崩。用刺刺芽搗汁半碗，熱酒半碗，合而溫服。</p>
<p><u>一方</u>　治血崩不止如神。用天靈蓋，燒存性，為末。每二錢，空心黃酒調下。</p>
<p><u>一方</u>　用何首烏（切）一兩，甘草些須，黃酒一碗，煎至八分，入刺刺芽汁一盞同服，立止。</p>
<p><u>一方</u>　用棉子、棕桐、頭髮，共燒存性，百草霜同研為末。每三錢，空心酒調服。</p>
<p><u>一方</u>　用五靈脂，炒盡煙，為末。每一錢，溫酒調服。一方，半生半炒用。</p>
<p><u>一方</u>　用香附米，炒黑為末。每服三錢，空心熱酒調服。米飲亦可。</p>
<p><u>一方</u>　治血崩屬熱者。用條芩為末。每服一錢，霹靂酒調下。</p>
<p><u>一方</u>　治血崩不進飲食，或作嘔吐不止者。用生薑五兩搗汁，露一宿，次早溫服。</p>
<p><u>一方</u>　治血崩，不問遠近，如神。白炭，搗為末。每服三錢，如黃酒送下。</p>

<h2>帶下</h2>
<p>帶下多緣下部虛，濕痰滲下亦如之。治宜實下兼清上，養血和脾帶自除。</p>
<p>治赤白帶下。用五倍子（炒）、桃仁（去皮尖）等分為末，燒酒調服。</p>
<p><u>一方</u>　用鹿角，燒灰存性，為末。每二匙，空心好酒調下。</p>
<p><u>一方</u>　用黃荊子，炒，為末，米飲調服。以能燥濕痰也，上可治心痛。</p>
<p><u>一方</u>　用硫黃五錢為末，烏梅肉三錢，搗丸黃豆大，每五丸，空心酒下。</p>
<p><u>一方</u>　用白芍三兩，乾薑五錢（炒），為末。每二錢，空心米飲調下。</p>
<p><u>一方</u>　用蕎麥麵，不拘多少，雞子清為丸。每三五十丸，白湯下。</p>
<p><u>一方</u>　用白葵花，陰乾，為末，黃酒送下。</p>

<h2>種子</h2>
<p>人生無後實堪傷，誰識仙翁有秘方。只在心田存一點，管教蘭桂滿庭芳。</p>
<p>治婦人經水不調，久無子息。用南香附米一斤，用童便浸透，取出，水洗淨，露一宿，曬乾，再浸再露再曬，如此三次，用好醋浸透，過露而曬乾，為末。用益母草十二兩，東流水洗淨，烘乾為末。復用生香附四兩，北艾一兩，煮汁三份，醋七份，將前二藥合和為丸，如梧桐子大。每服五七十丸，空心、臨臥淡醋湯下。</p>
<p><u>一方</u>　治婦人下寒久不生育。用胡椒、杏仁、核桃、蜂蜜搗爛，用磁罐一個，以紙封固，用繩繫緊，用竹箭一條插封瓶紙中間，以通其氣。放瓶於鍋內，煮一飯熟為度，取起。每日清晨用熱酒服三匙，睡一覺起。久服下元溫暖，自然有孕。</p>
<p><u>一方</u>　治婦人下寒，子宮久冷，赤白帶下，崩漏不止，久不受孕。用雞子，不拘多少，每頂開，入硫黃（研末）三分在內，攪勻，用濕紙包裹，慢火煨熟，嚼吃，溫酒送下。</p>
<p>凡人無子，多是男子元陽虛損，不能直射子宮。用山公羊尾，連腰子及骨肉斫下，一具約有三斤，用淫羊藿五兩，共入好燒酒一金華壇內，文武火煮一晝夜，將肉煮化，埋土中一晝夜，出火毒，濾去骨渣。每早晨服三鍾，興陽生子。</p>
<p><u>一方</u>　治男子諸虛百損，五勞七傷。暖丹田、添精髓，壯元陽，滋腎水。蓋陽壯則能直射子宮，種子之仙方也。用菟絲子，不拘多少，酒洗淨，蒸一晝夜，用好酒時時灑之，蒸爛取出，搗成餅，焙乾，為細末，用雀卵清為丸，如梧桐子大。每七十丸，空心好酒送下。此大司寇三川劉公屢驗之方。賢，每用於年至五十及陽痿者，每菟絲子末一斤，加天雄四兩，以麵裹，火煅熟，去面，削去皮臍，切四片，童便浸透，慢火焙乾，入菟絲子末同丸服之，尤效。</p>
<p><u>一方</u>　暖丹田，助兩腎，添精補髓，卻病久固，返者還童，益壽生子。用大附子（重一兩二錢一個，或一兩六錢尤佳），切作薄片，苧布包定，用甘草、甘遂各一兩，俱銼，以燒酒二斤，共浸半日，文武火煮，酒干為度。取起附子，其二甘不用。加麝香三分，搗研作二丸，陰乾。以一丸納臍中，七日一換，一丸於黑鉛盒內養之，輪換更用。</p>

<h2>妊娠</h2>
<p>妊娠母病致胎動，母病醫痊胎自和。胎若不安觸母病，但安胎氣母無疴。</p>
<p>治婦人懷胎，每至三月必墮，不肯服藥。用老母雞煮湯，入紅谷，小黃米，煮粥食之。</p>
<p><u>一方</u>　治胎氣動不安。用鯉魚一個，煮熟並湯食之。</p>
<p><u>一方</u>　治孕婦三四個月，小腹痛不可忍者。用紅棗二十個，燒存性，鹽一錢，煅白色。每用一撮，好酒調服。</p>
<p><u>一方</u>　治妊娠卒胎動，腰痛，或轉搶心，或血不止。用艾葉如雞子大一塊，酒四升，煮一升，分作二服。或用醋煎亦可。</p>
<p>治妊娠胎動，下血不止，心腹脹滿。用歸尾、南芎各五錢，酒煎，入童便服之，登時效。</p>
<p>治妊娠腰痛，狀不可忍。用破故紙，炒香為末。嚼胡桃肉半個。每二錢，空心溫酒調服。</p>
<p>治妊娠兩三月，胎動不安，防其欲墮，預服之或素慣墮者。用杜仲（薑汁炒）、續斷（酒浸）為末，棗肉為丸，如梧桐子大。每三十丸，米飲下。忌醋。</p>
<p><u>一方</u>　治因火動胎，逆上作喘急者。用條芩、香附為末，調服。</p>
<p><u>一方</u>　治妊娠傷寒，恐致墮胎。用伏龍肝為末，溫酒調，塗臍上，一日一換。七日之後不墮。</p>
<p><u>一方</u>　治妊娠瘧疾。用帶皮老生薑取自然汁，用紗帛蓋定一宿，發日，天將明時分攪勻，頓服。</p>
<p><u>一方</u>　治兒在腹中哭。用多年空房下鼠穴中土一塊，令孕婦噙之即止。</p>
<p><u>探胎方</u>　知過月，難明有無，如月數未足，亦難明。用好醋炆艾，服半盞後，腹中翻大痛，是有孕。不痛，定無。</p>
<p><u>一方</u>　治婦人虛羸，有鬼胎癥塊，經候不通。用芫花根三兩，炒黃色，為末。每服一錢，桃仁煎湯調下，當下惡物。神效。</p>

<h2>產育</h2>
<p>臨產之婦勿驚惶，行動頻頻莫臥床。瓜熟須知蒂自落，若還用藥要安詳。</p>
<p>治難產。用蜜、香油、黃酒各一鍾，合一處煎熱，產婦面朝東服。</p>
<p><u>一方</u>　用頭髮燒灰。每一錢，黃酒調服。</p>
<p><u>一方</u>　用魚膠七寸，麻油燈上燒過，為末，黃酒調下。</p>
<p><u>一方</u>　用新人糞淘洗，內揀豆一粒，劈開，一片書「父入」，一片書「子出」，再合豆，水吞下。</p>
<p><u>一方</u>　先脫產婦常著衣一件，蓋灶頭，免胎衣不下之厄。</p>
<p><u>一方</u>　偷剪鍾馗左腳燒灰，水下。</p>
<p><u>一方</u>　用左腳舊草鞋洗淨燒灰，三錢，水下。</p>
<p><u>一方</u>　治橫逆，手足先出。以其父名書兒足即順生。</p>
<p><u>一方</u>　治橫生逆產，皆因坐草太早，努力過多，兒轉未逮，或已破水，其血必干。用白芷、百草霜等分為末。每二錢，童便和酒下。</p>
<p><u>一方</u>　下死胎。用朴硝二錢，溫童便調下。</p>
<p><u>一方</u>　治橫逆不順，子死腹中者。用伏龍肝為細末。每二錢，溫酒調下。其兒帶土而下。</p>
<p><u>一方</u>　治胎衣不下。用蔥白數根，生嚼吃即下。</p>
<p><u>一方</u>　令產婦口銜自己髮尾於口中，令嘔噦，衣即下。</p>
<p><u>一方</u>　治難產。用紅蓖麻，去皮搗爛，抹婦人手中，燒香過四寸即下。急使溫水洗蓖麻，恐墮下子腸。</p>
<p><u>一方</u>　治橫生者。亦用紅蓖麻搗爛，攤紙上，貼在婦人囟門上，點香三寸，兒順過，急去蓖麻，溫水洗淨，仍抹在手心，照前點香即生。兒生下先洗蓖麻，恐墮子腸。</p>

<h2>產後</h2>
<p>產後諸疾要扶虛，惡露流通是所宜。更有多般發熱證，未可輕教汗下醫。</p>
<p>凡產後不問有病無病。即用童便半鍾，好酒半鍾，合而溫服，即百病不生。</p>
<p><u>一方</u>　治產後惡露不盡，攻衝心腹疼痛，或作眩暈，或寒熱交攻。用益母草，銼一大劑，童便、黃酒各半鍾，煎溫服。</p>
<p><u>一方</u>　治產後攻心，語言顛倒，健忘失志及打撲傷損，一切敗血為病。用血竭、沒藥等分為末。每二錢，童便、好酒各半盞調服，其惡血即下行而愈。</p>
<p><u>一方</u>　治產後血暈。用韭菜，細切，盛於有嘴瓶內，上以熱醋沃之，急封瓶口，以瓶嘴納產婦鼻中，搐之即醒。</p>
<p><u>一方</u>　用舊漆器燒煙燻之。一用荊芥穗研末，吹鼻中。</p>
<p><u>一方</u>　治產後血大下不止。用蒲黃炒黑。每二錢，用芎、歸煎湯調下。</p>
<p><u>一方</u>　治產後小腹作痛，諸藥不效及吹乳、乳癰，痛不可忍。用螃蟹一個，燒存性，研末，空心好酒一盞，調服即止。生男用尖臍，生女用圓臍蟹。</p>
<p><u>一方</u>　治產後角弓風反張，四肢搐搦。用荊芥穗為末。每服二錢，好酒調下。</p>
<p><u>一方</u>　治產後血暈心悶，恍惚如見鬼。用益母草汁三合，生地黃汁二合，童便一合，雞子清三枚，煎三四沸，入雞清攪勻，作一服。</p>
<p><u>一方</u>　治產後閉結，膨脹不通，氣急，坐臥不安。用麥蘖末一合，酒調服，立通。</p>
<p><u>一方</u>　治產後血暈迷悶。用五靈脂，半生半炒為末。每服三錢，熟水下。如口噤，以尺斡開灌之。</p>

<h2>乳病</h2>
<p>乳汁不通有兩樣，血氣有衰有盛壯。壯者宜行衰宜補，吹乳乳癰要通暢。</p>
<p><u>蟠桃酒</u>　返經為乳，治乳汁不通。用王不留行、川山甲（酥炙）、豬蹄筋膜（要七孔前蹄），三味為末，用酒或煎，服其蟠桃即升。日進三服。若要降，用胡蘆巴，酒服之即降。</p>
<p><u>一方</u>　治婦人少乳。用川山甲，燒存性，研末。每二錢，空心熱酒調下。</p>
<p><u>一方</u>　治乳汁不行。用桃仁二十個，去皮淨，搗爛，入川山甲末一錢，黃酒服。</p>
<p><u>一方</u>　治乳汁不通。用木通、川山甲（土炒）等分為末。每二錢，通草煎湯調服。</p>
<p><u>一方</u>　治吹乳。如左乳，用本婦人頭上所帶之簪一根，插於右床足下即消。</p>
<p><u>一方</u>　用蔥白切爛炒熟，帛包熨乳上，冷則易之。</p>
<p><u>一方</u>　用茄子花燒灰，油調搽即消。</p>
<p><u>一方</u>　用端午棕葉燒灰，酒調服。</p>
<p><u>一方</u>　治吹乳。用鹿角燒灰為末。每三錢，好黃酒調服。</p>

<h2>小兒</h2>
<p>小兒十病九傷食，食傷發熱成諸疾。早當消導莫遲捱，免致驚疳痰熱積。</p>
<p>治小兒百病。用好硃砂研爛，入去殼巴豆同研極細，再入寒食麵等分，酒打成糕，入藥，仍同研百餘下，揉丸如黍米大。所服量兒大小，不過三五七粒，而以利為度。如感冒風寒，薑蔥湯下；內傷飲食，茶清下；心疼，艾醋湯下；肚腹痛，薑湯下；霍亂吐瀉，薑湯下；痢疾，茶下；瘧疾，薑蔥湯下。急慢驚風，薄荷湯下；一切病茶下。此仙方也，不可輕視。用端午日製，要誠心，潔淨之所。忌婦人、雞犬見之。其功不能盡述。</p>

<h2>驚風</h2>
<p>急慢驚風證不同，慢宜溫補急宜攻。更有慢脾風篤證，枉教醫士費神功。</p>
<p>治急慢驚風。五月五日取白頸蚯蚓，不拘多少，去泥焙乾為末，加硃砂等分，糊為丸，如綠豆大，金箔為衣。每服一丸，白湯下。取蚯蚓法：先以刀斷蚯蚓為二段，看其斷裂，快者治急驚，慢者治慢驚，作二處治之。</p>
<p><u>一方</u>　治急驚、慢驚、慢脾風，涎潮搐搦，死在須臾。用青礞石一兩（打碎，入焰硝一兩同煅如金色者佳），為末。急驚風痰壅上，身熱如火，用生薄荷汁、生蜜調，微溫服之。急慢驚、慢脾風及痰涎潮上，塞住咽喉，藥食俱不能入，用青州白丸子加青礞石稀糊丸，熟蜜湯調化下。</p>
<p><u>一方</u>　治驚風。解熱化痰，殺蟲去積。用真蘆會為末，加冰片十分之一，竹瀝為丸，如梧桐子大。每服二三粒，竹瀝化下。痰在上即湧，在下即化。</p>
<p><u>一方</u>　治小兒驚癇不知人，迷悶、嚼舌、仰目者。用犀角末。每五分，水調服。</p>
<p><u>一方</u>　治急驚風。用硃砂一粒，殭蠶、全蠍各一枚為末。乳汁調，塗兩太陽穴，並五心、舌上。</p>

<h2>疳疾</h2>
<p>五疳心肝脾肺腎，冷熱肥瘦須辨認，肚大青筋體瘦黃，和脾消積頻頻進。</p>
<p>治小兒疳病，肚大青筋。用賴蚵皮三個（端午日者佳），將鹽塞口內，用碗蓋地上，候死了，新瓦上文武火焙乾為末，米飲調下。</p>
<p><u>一方</u>　治疳疾，腹脹如鼓。用蛤蟆。每日用三四枚，去頭、足、皮、腸，只用本身四腿，切五塊，白水入鹽、酒、椒，蔥，煮熟與吃。</p>
<p><u>一方</u>　治諸疳。用便中蛆，用河水浸三日，新瓦上焙乾為末，與兒吃之。亦能治走馬疳，貼患處。</p>
<p><u>一方</u>　用鼠糞、黑醜等分為末。三歲兒每服一錢，用橘皮湯，不拘時服。</p>
<p><u>一方</u>　治小兒面黃肌瘦，肚大青筋，乳食入口即吐。用丁香七枚為末，以無病婦人生子乳汁取盞和末勻，蒸熟，作三次服即愈。</p>

<h2>癖疾</h2>
<p>癖從皮裡膜外生，肝經留血裹成形。日漸長大如豬肺，不遇仙方命必傾。</p>
<p>治小兒癖疾、疳積、食積、一切諸疾。用核桃一百個，敲損，入皮硝五片，蘿蔔二斤，入水煮爛，去桃殼並皮，用蜜拌之。每吃三四個，用蘿蔔湯下。一日三四服。</p>
<p><u>一方</u>　治痞積，腹脹肌瘦，立眉豎眼，頭毛，生瘡結如麥穗者，用立秋以後大蛤蟆一隻，去頭足、腸肚，清油塗之，上加以覆瓦，下加以仰瓦，各用火炙令熱，與兒啖之，積穢盡下，連服三五個，一月之後，形容改變。</p>
<p><u>一方</u>　治癖。用白鵓鴿一隻，水泡死，去毛、屎淨，入海螵蛸、芒硝為末，放內煮熟，食即消。</p>
<p><u>一方</u>　用鴿雛一隻，事淨，用硇砂四分，硼砂五分，為末，擦遍鴿肉，碗盛，入鍋上，用瓦盆罩住，瓦盆四圍用芒硝半斤封住，著火蒸之，任意食之。</p>
<p><u>一方</u>　用急性子、水紅花子、川大黃各一兩，俱生用，為細末，每服五錢。外，皮硝用一兩拌勻，用白鵓鴿一隻，去毛、屎，刮腸，勿沾水，以布拭淨，將末藥裝入肉，線縫，入鍋內，水三碗，紙封口，用細細火煮令乾，將鴿子反復焙黃色，冷定，早晨食之，黃酒送下，時刻住熱，三日後大便下血而愈。忌冷物百日。</p>
<p><u>一方</u>　用皮硝二斤，牛肉一斤，以水煮爛，細細服之。</p>
<p><u>一方</u>　治癖，先用此退熱。大癩蛤蟆一個，皮硝半碗，川大黃末二兩。三味搗爛，布袋盛，貼患處，熱即退。後用皮膠二兩，水化開，用蒜一百個去皮搗濾汁，乾薑末三錢同入膠攪勻，用狗皮，臨攤入麝香末一分摻膏內，貼患處。大便下膿血而愈。</p>
<p><u>一灸癖法</u>　令兒食飽。將熱洗背腎俞穴（在脊骨兩旁紫黑筋橫過），每邊用錢三文，線綁定，兩處齊灸七壯，外用膏藥貼之。如灸著血筋，一日即發，如灸不著，三四日方發。</p>

<h2>小兒雜病</h2>
<p>小兒吐瀉　用黃丹、硃砂、枯礬等分為末，棗肉丸如黃豆大。每三四丸，針挑，燈上燒存性，米泔水研化服。瀉者，空心；吐者，無時服。</p>
<p><u>一方</u>　治泄瀉。用乾山藥，半生半炒，等分為末。每服一二錢，黑砂糖水調下。</p>
<p><u>一方</u>　用砂仁五錢，肉豆蔻五錢（麵包，火煨，去面）。二味為細末，入白麵一斤，和勻，照常烙餅食之。</p>
<p>小兒痢疾。用雞子一個，冷水下鍋煮二三沸，取出，去白用黃，研碎。以生薑汁半小鐘和勻與服之。不用茶。</p>
<p><u>一方</u>　治痢。用黃連、細茶、生薑等分，水煎服。</p>
<p><u>一方</u>　治噤口痢及翻胃。用糯米穀一升，炒米花（用薑汁拌勻，再炒乾）為末。每服一匙，米湯調服，二三服止。</p>
<p><u>一方</u>　治噤口痢並瀉。用燒餅一個，乘熱分作二邊。將一邊納木鱉子泥，搭臍上，冷則易之。</p>
<p>小兒瘧疾。用雄黃、人參、神麯（炒）各五錢為末，端午日午時，用粽子尖七個和為丸，如赤豆大。發時，每服七丸，無根水送下。</p>
<p><u>一方</u>　用朝東南桃枝葉七個，東瓜三個，將桃葉包住，用帛勒在肚上即止。</p>
<p>小兒咳嗽痰喘，用甜梨一個，刀切勿斷，入蜜於梨內，麵裹，火煨熟，去面吃梨。</p>
<p><u>一方</u>　治咳嗽發熱，氣喘吐紅。用人參、天花粉等分為末。每服五分，蜜水調服。</p>
<p>小兒喉中痰壅喘急。用巴豆一枚，去殼搗爛，作一丸。以棉花包裹，男左女右塞鼻中，痰即墜下。</p>
<p>小兒赤眼。用黃連末調貼腳心，干則以水濕之。</p>
<p><u>一方</u>　治熱眼。用南星四分，大黃六分為末，陳醋調勻，左眼敷右腳底，右眼敷左腳底，裹腳纏縛。俟口內聞藥氣即愈。</p>
<p>小兒牙疳。用白礬裝入五倍子內，燒過，為末貼之。</p>
<p>小兒口瘡，流水不絕。用熱水一盆，入白礬一勺，將兒兩足頻頻洗之，立瘥。</p>
<p>小兒遍身出瘡，膿水不幹。用黃柏末加枯礬少許擦之。</p>
<p><u>一方</u>　治小兒頭瘡、耳瘡。用竹葉燒灰，加豬膽汁，塗之。</p>
<p><u>一方</u>　治小兒胎毒瘡。用豬蹄爪，入白礬少許，燒存性，香油調，搽患處。</p>

<h2>痘疹</h2>
<p>三日發熱，三日出痘，三日起脹，三日貫膿，三日收靨。</p>
<p>痘疹原來是胎毒，發熱輕遲重則速。痘要溫和疹要清，隨機應變勿膠柱。</p>
<p>小兒服梅花，可免出痘。用十二月收梅花，不拘多少，陰乾為末，煉蜜丸如圓眼核大。每一丸，好酒化下。念太乙救苦天尊一百遍，妙不可言。</p>
<p>痘疹初出。以絲瓜近蒂者三寸（連皮），燒存性，硃砂水飛，各為末，等分。量兒大小，或五分，或一錢，砂糖調服。或蜜水亦可。多者可少，少者可無。</p>
<p>小兒發熱，鼻尖、耳尖冷，必是瘡將出。便服升麻、乾葛、牛蒡子、糖球子、甘草，水煎服。其出必疏。</p>
<p>痘瘡貫膿不起，元氣下陷，痘白色，或癢，或不能收靨。用嫩黃耆三錢，楝參二錢，川山甲（土炒成珠）八分，甘草（炙）一錢，糯米一撮，水煎溫服。</p>
<p>痘瘡紫黑乾枯，變黑歸腎，身如火炙之熱。用犀角、羚羊角二味，磨井花水，涼服之，有回生之功。須要認得果是熱毒，效。</p>
<p>痘瘡咬牙、寒戰、不起。用川山甲半斤，好漿兒酒一斤，以山甲微火炙乾，再浸再炙，以酒干為度，為末。山甲一兩，入麝香一分，用硃砂（以麻黃煮過）一錢，共為末。每服五七分或一錢，溫酒調下。</p>
<p>痘瘡結痂已盡，忽又倒發。用好雄黃二錢為末。黃酒半碗，煎滾，待溫，用綿帛蘸藥，塗患處，三五次即消。</p>
<p>痘後風。以患兒男左女右手中指，以杆心，比三節一般長，放額中，與眉梢相平，比至上杆心盡處是穴，艾灸三壯或五壯，如神。</p>
<p><u>無價散</u>　治小兒癍、疹、痘不出，陷者欲死也。用人、貓、豬、犬糞（臘八日辰時收糞入瓦罐內），燒灰存性。上為細末。每服一錢，蜜湯調服，量大小與之。</p>
<p>又　無價散　治初生小兒一歲以上，三歲以下，乳食沖肺，風邪相感，及生胎毛相，急慢驚風，發熱嗽喘，潑痰涎壅，服諸藥不效，服此藥累驗。硃砂五分，珍珠九粒，土牛犢（在牆下尋，瓦上焙乾）一錢。上研細末。每服一分或二分，井花水送下，立止，不拘時服。</p>

<h2>癰疽</h2>
<p>癰疽發背氣凝起，先宜敗毒後托裡。高起屬陽陷屬陰，陽輕陰重費調理。</p>
<p>治發背癰、一切毒腫。用白礬末二錢，溫酒調服。外用五倍子，炒，為末，醋調，貼患處。</p>
<p><u>一方</u>　治發背癰疽，無名腫毒。用豬膽一枚，傾磁器內，入蜜二兩，和勻。量瘡大小，以面圈之，用蔥搗攤上，然後用茶匙挑膽蜜於瘡上，不一時，立消。</p>
<p><u>一方</u>　用鱉甲，燒存性，為末。干則香油調搽，濕則乾摻。</p>
<p><u>一方</u>　用乾薑末，豬膽汁調搽。</p>
<p><u>一方</u>　用胡椒、生蜜和塗。其冷如冰。</p>
<p><u>一方</u>　治發背，痛欲死者。用伏龍肝末，以酒調，敷患處。如干則易，不日平復。</p>
<p><u>一方</u>　發背痛不可忍。用蕎麵、蔥、蜜搗塗瘡上，立止。</p>
<p><u>一方</u>　治發背。用人糞，燒存性，為末，醋和塗之。干則易，效。</p>
<p><u>一方</u>　治發背已爛。用蓖麻子一合，研爛，蠟糟一鍾，煎成膏。先將米泔洗瘡令淨，用雞翎陸續掃上，其皮即皺，其肉即消。</p>
<p><u>一方</u>　用香油一兩半，入雞子一個，煎至胡色，待溫，入乳香、沒藥、孩兒茶末，等分入內。米泔洗瘡令淨，雞翎藥掃上。</p>
<p><u>一方</u>　治發背及一切疔瘡、腫毒、乳癰、便毒，不問已成未成，痛不可忍者。用槐花，微炒，大劑入酒煎服。或金銀花如上煎服，俱效。</p>
<p><u>一方</u>　治發背初輕者。用活蛤蟆一個，放瘡上，頓飯時取下入水，又易一個，如此三五個，其瘡必敗。</p>

<h2>瘰癧</h2>
<p>瘰癧相連頸項生，虛勞氣鬱結其形。益氣養榮並解鬱，內消方顯藥通靈。</p>
<p>治瘰癧，內消。用蜈蚣，不拘多少，瓦焙、為末，用銀杏汁為丸，如黍米大。每服十丸，鹽湯送下。外將被蓋，出汗。服數次而愈。</p>
<p><u>一方</u>　用斑蝥一個，去翅足，用粟米一升同炒，令米焦黃，去米不用。將蝥細研，入干薄荷末四兩，研勻，以烏雞子清丸如綠豆大。每一丸，空心茶下。加至五丸，減每日卻一丸，減至一丸，後每日服五丸，效。</p>
<p><u>一方</u>　治瘰癧未破者。用雄黃、地龍糞、小麥面等分，研末，醋調塗之。</p>
<p><u>一方</u>　治瘰癧已破者。用銀硃一錢，銅青一錢，松香五分，三味研末。如有水，干敷之；如干，香油調搽。</p>
<p><u>一方</u>　治瘰癧潰爛不愈者。用貓頭一個，燒存性，為末，香油調搽。</p>
<p><u>一方</u>　治老鼠瘡。用靛葉，以手揉軟貼之，頻易。</p>
<p><u>一方</u>　治瘰癧用藥皆消，惟一二個不消者。用癩蛤蟆一個，剝取皮，蓋瘡上，灸七壯，立消。</p>
<p><u>一方</u>　治瘰癧。用斑蝥一錢（糯米同炒黃色，去米），五靈脂（炒）四錢，共為末，食後，黃酒調下。壯者一錢，弱人五分。又方治魚口未破及婦人閉經不通，空心服。</p>

<h2>疔瘡</h2>
<p>疔瘡名有十三種，皆由熱毒及邪風。外宜刺破敷其藥，發汗須交毒外攻。</p>
<p>治疔瘡腫毒。用白芷為末。每五錢，黃酒調服。</p>
<p><u>一方</u>　用芭蕉根，研，生，酒吃。</p>
<p><u>一方</u>　治疔瘡。用大蜘蛛一個，放瘡上，令自咂其毒，連易三五個，其毒自敗。以蛛入水，不傷蛛命。</p>
<p><u>一方</u>　用螞蝗一個，放竹筒內，頭朝外置於瘡頭上咂，待螞蝗腹大，取下入水，又易一個，不過三四個即愈。</p>
<p><u>一方</u>　治疔瘡發背。括曰：發背疔瘡識者稀，醋磨京墨繞四圍，生薑豬膽同塗上，天明卻似鬼神移。</p>
<p><u>一方</u>　端午日蛤蟆含墨法：蛤蟆本是水中串，五月端午拿將來，口含黑墨梁上吊，含的黑墨化歹瘡。此咒含墨時念。</p>
<p><u>一方</u>　治疔腫。用葶藶子為末，雞清調搽。</p>
<p><u>一方</u>　治頸以上及頭面上惡毒疔瘡。用蒼耳子一兩，馬勃三錢，作一劑，無灰酒煎至七分。食後、不過二服。</p>
<p><u>一方</u>　治疔瘡惡毒。用紫花地丁一大劑，水煎熱服。</p>
<p><u>一方</u>　治疔瘡腫毒，危急欲死者。搗菊花葉敷上即蘇。冬月無葉，用根亦可。</p>
<p><u>一方</u>　治食災牛馬肉成疔瘡欲死者。用烏桕木葉，搗絞取汁一二碗，頓服之，得大瀉毒氣而愈。如冬月無葉，取嫩根研，水服之亦效。以利為度。</p>
<p><u>一方</u>　治誤食瘟牛肉生疔、毒瘡。用白頸蚯蚓八九條，擂酒濾食。其渣貼在四圍，患處可留頂出氣。</p>

<h2>便毒（附魚口瘡）</h2>
<p>便毒生於兩腿間，敗精摶血聚中關。寒熱交爭疼痛腫，急宜敗毒瀉膿安。</p>
<p>治便毒初作者。用大黃三粒，枯礬一錢，為末，好酒調服。日久加川山甲（炒）一錢。</p>
<p><u>一方</u>　用雞子一個，頂上打一小孔，將紅娘子六個裝入內，紙包水濕煨熱，去娘子，只食雞子，酒送下。食後小便多，小便內痛，尿出或膿或血立愈。先用湯洗浴後服雞子為妙。</p>
<p><u>一方</u>　治疳瘡初愈，便毒復生。用白礬一錢（半生、半枯）為末，好酒調服，儘量飲之，發汗，汗如油，針刺患處。</p>
<p><u>一方</u>　治便毒。用大蜘蛛一個，舂爛，用生白酒泡服。</p>
<p><u>一方</u>　用鹿角，（燒灰）三錢，核桃干皮（燒灰）三錢，共一處，無灰好酒下。</p>
<p><u>一方</u>　用魚膠熬化，攤在樺皮上，貼患處。</p>
<p><u>一方</u>　治魚口瘡初起。用槐子七錢，炒黃，酒煎熱服，出汗為度。此方經驗。</p>
<p><u>一方</u>　治魚口瘡初出三五日。用五倍子，炒為末，入百草霜，醋調，貼患處。一日夜即消。</p>
<p><u>一方</u>　治魚口方。用牛皮膠一兩（切），川山甲三枚（切，炒成珠），好酒煎，空心熱服。</p>
<p><u>一方</u>　用瓣蒜一頭（要獨的），搗爛，魚鰾二寸（熔化），共為一處，剪紅絹一塊，攤藥。先將米水洗淨膿血，貼藥，留口。如緊痛，以溫水潤之，立消。</p>
<p><u>一方</u>　治腿便疙瘩，一名橫痃。用生山藥、砂糖同搗塗上即消。先用面塗四圍，敷藥。</p>

<h2>疳瘡</h2>
<p>下疳生瘡在玉莖，只緣交接不乾淨。邪毒浸漬發成瘡，先洗後敷方有應。</p>
<p>治下疳瘡。先用黃柏煎湯洗淨，或甘草煎，頻頻洗之。後用天靈蓋燒存性，為末，摻患處。</p>
<p><u>一方</u>　用黃柏，以豬膽汁塗；炙白頸蚯蚓一條，焙乾為末，香油調搽。</p>
<p><u>一方</u>　用輕粉細研，乾摻之，即結干靨而愈。</p>
<p><u>一方</u>　用孩子茶、鏡鏽等分，研末摻上。</p>
<p><u>一方</u>　用五倍子，燒存性，為末摻上。</p>
<p><u>一方</u>　用黃連、黃柏、輕粉等分為末，茶洗，敷上。</p>

<h2>楊梅瘡</h2>
<p>楊梅一名廣東瘡，先宜發出後無傷。毒出方服遺糧藥，免教筋骨痛難當。</p>
<p>治楊梅、天泡諸瘡。用香油二斤，入水一盞，煎至白煙起，收貯。每用黃酒一鍾，入油一盞，溫服。每日服三次，服盡痊愈。</p>
<p><u>一方</u>　治楊梅瘡初起擦法：用白礬四兩，研為細末，令患者坐重幃中擦手足心，少少細擦，以盡為度。七日汗出不止為愈。</p>
<p><u>一方</u>　用鴨一隻，餓二日，只與白水食之。用輕粉一兩，大米飯四兩拌勻餵鴨，待吃盡，以葦根槌碎泡水，令鴨飲之，解去輕粉之毒。待鴨毛落盡，煮鴨食之。</p>
<p><u>一方</u>　用小蛇一條，斬令碎爛，將母雞一隻，罩住，餓一日夜，放出，令食蛇肉，待食盡，罩放淨地上，令撒下雞糞，收放缸瓦上，煅過存性，每用一分（作三釐稱之，先三釐治頭上，中三釐治身中，末三釐治腳下），燒酒調服。百無所忌。稱須記明白。</p>
<p><u>一方</u>　治楊梅瘡毒，年久不愈。用苦參，連根帶葉摘下，搗爛取汁，和酒飲之。</p>
<p><u>一方</u>　治輕粉毒。用川椒一斤，黃土泥二斤為末，棗肉為丸。每百丸，米湯下。</p>
<p><u>一方</u>　治楊梅筋骨痛。用烏梅肉（麩炒）五錢，硫黃五錢，豆腐（煮去油），共為細末。每一錢，重者二錢，好酒下。</p>
<p><u>一方</u>　治楊梅天泡，服輕粉致筋骨疼痛。用黑鉛一斤，鍋內化開，投入桑白皮，炒成粉，以黃酒淬入，乘熱飲，以醉為度。</p>

<h2>臁瘡</h2>
<p>臁瘡濕毒兼風熱，兩腳生瘡腫爛裂。祛除濕熱更追蟲，蔥椒湯洗後敷貼。</p>
<p>治臁瘡。切生蘿蔔一大片，纏定貼瘡上，頻易之。</p>
<p><u>一方</u>　用枯礬末，陳釅醋調敷。</p>
<p><u>一方</u>　用大黃末，煎熟香油調搽。</p>
<p><u>一方</u>　用飛黃丹，香油調，油紙貼瘡上，用藥夾紙貼之。</p>
<p><u>一方</u>　用干梨葉，以醋浸透貼瘡。</p>
<p><u>一方</u>　治裡外臁瘡，不拘年月遠近。用川黃柏，去粗皮，蜜炙三五次，為末。先用蔥椒煎湯洗瘡，令淨拭乾，以真輕粉不拘多少，細研，入瘡口內，按實，卻將黃柏末調成膏，貼瘡上，用紅絹束之，不可移動。瘡痂自落。</p>
<p><u>一方</u>　用冬青葉，與本人嚼爛。先以蔥椒湯洗淨。用臘月豬膽、百草霜等分敷瘡上，後卻敷以嚼葉在上。三四次即可。</p>
<p><u>一方</u>　用五倍子，炒，研末敷上。</p>
<p><u>一方</u>　用香油一兩，鐵勺煎，入黃蠟五錢，化開。用銅綠三錢，研極細末，將銅錢摻末徐徐作五六十次入內，將銅錢放碗底，將藥傾入碗內令定。將瘡洗淨，用毯一塊，如瘡大，攤藥於上，勒放患處，一日一換。換時要洗淨。</p>

<h2>疥瘡</h2>
<p>疥癩濕熱小干瘡，渾身瘙癢也難當。殺蟲除濕追風毒，須用神仙一掃光。</p>
<p>治諸瘡、疥癩、血風瘡。用硫黃，不拘多少，人言少許，入白蘿蔔內，火燒存性，取出，研極細。另用香油四兩，入雞子三個，煎熟，去雞子不用，再入花椒四兩、油內煎至焦黑，去椒不用，用油調藥搽瘡上，名一掃光也。</p>
<p><u>一方</u>　治血風疥癩。用花椒（炒）、陳小麥（炒），等分為末，香油調搽。</p>
<p><u>一方</u>　用蒼朮、皮硝，煎水頻洗。</p>
<p><u>一方</u>　用牡蠣、蛇床子、硫黃、白礬（生）等分為末，豬油調搽。</p>
<p><u>一方</u>　用死蛇一條，燒水澆之。</p>
<p><u>一方</u>　用茶葉、花椒，燒酒頻洗。</p>
<p><u>一方</u>　用枯礬二兩，硫黃一兩，信五分，共為末。干則香油調搽，濕則乾摻。</p>
<p><u>一方</u>　用熱水一盆，入石灰半碗攪渾，待溫，可下手洗疥，如神。</p>

<h2>癬瘡</h2>
<p>癬瘡原是因風毒，濕熱相煎聚一處。有時作癢痛難當，用藥殺蟲使風去。</p>
<p>治一切頑癬。用干驢糞燒灰，乾用香油調搽，濕用乾摻。日三四次。</p>
<p><u>一方</u>　四塊風癬發癢、流水。用牛腳兒皮，燒存性為末。先抓破，燒酒調搽，立已。</p>
<p><u>一方</u>　治鵝掌風癬，有蟲吃開。用黃丹、輕粉等分，為末，豬臟頭燒油，調藥捺之。</p>
<p><u>一方</u>　用黑鉛，不拘多少，打成片，熬至一炷香，入綠豆一碗，再煮豆爛，濾去渣，以水乘熱洗數次，或搽亦可。</p>
<p><u>一方</u>　治風癬。用棗三四枚，去核，用人言一錢，入棗內，將紙包，灰火炮製，燒過紙為度，取為末。同豬膽調搽。</p>
<p><u>一方</u>　用椿樹津合豬膽汁擦之。</p>
<p><u>一方</u>　用楮葉背上毛擦癬上。</p>

<h2>禿瘡</h2>
<p>禿瘡頭上白如雪，常時作癢抓出血。有蟲有熱毒兼風，用藥搽之自消滅。</p>
<p>治禿瘡。先用退殺豬湯洗瘡淨，用赤皮大蔥白三條，長三寸，劈開，裝入皂礬，每一條入礬一錢，紙包，火煨熟，擦之。</p>
<p><u>一方</u>　用舊生鏽鐵鍋，將坑中真大糞水入內熬三四滾，將糞水頻洗瘡，即癢令抓破，再洗即愈。</p>
<p><u>一方</u>　用鯽魚一尾（要一虎口長者），去腸，將黑礬七錢入魚腹內，紙糊住，火煅存性，為細末。用生柏油逐日調搽，不過十日即愈。</p>

<h2>癜風</h2>
<p>白癜紫癜一般風，更有汗斑亦相同。內服敗風丸散藥，外將末劑擦其容。</p>
<p>治赤白癜。用芝麻花同自己小水頻擦患處，過半日洗去如失。</p>
<p><u>一方</u>　治癜風。用雄雞腎、白果仁，搗爛擦之。</p>
<p><u>一方</u>　治汗斑。用白蓮花、半夏等分，麵糊丸彈子大。用六安細茶擦之。</p>
<p><u>一方</u>　治諸風瘡隱疹、白紫癜風。用端午日取蒼耳草葉，洗淨曬乾，為末，煉蜜丸如梧桐子大。每服四五十丸，白湯下。日三服。若身體有風處或如麻豆粒，此為風毒出也，以針刺汁出盡乃止。</p>

<h2>諸瘡</h2>
<p>一切無名腫毒瘡，須臾腫起痛難當，急將妙藥頻敷貼，免使猖狂作禍殃。</p>
<p>治一切無名腫毒、發背、癰疽、疔瘡。用白礬，不拘多少，為末，入新汲水內，用粗紙三張浸內。將一張搭患處，頻頻更搭十數次，立消。</p>
<p><u>一方</u>　用白及、白斂各一兩，枯礬五錢，為末，入水碗中（即沉底）。外用桑白紙蘸水，搭患處。別，用紙再換再搭，待其患處冷定，即頃去水，用藥敷上立消。</p>
<p><u>一方</u>　用蔥頭杵爛，炒熟，敷患處，冷則易之。</p>
<p><u>一方</u>　用五倍子炒，末，醋調敷患處。</p>
<p><u>一方</u>　用大黃末，醋調敷患處。</p>
<p><u>一方</u>　用米蒿子研末，雞子清調搽。此四五月收子。</p>
<p><u>一方</u>　用花椒（炒）、槐花（炒）、白礬、陳石灰等分，用熱釅醋調搽。</p>
<p><u>一方</u>　治腫毒初發，即飲熱香油一杯，則毒不攻心，可以緩治。</p>
<p><u>一方</u>　治腫毒發背，一應惡瘡。用端午日取白礬研末。但遇瘡毒初起，每三錢，加蔥頭切拌勻，好酒調服。</p>
<p>黃水瘡。用松香，不拘多少，為末，用紙卷藥在內，搓成條，以線縛住，入香油內一浸取出，火燃著，滴藥入碗內，取搽瘡上。</p>
<p><u>一方</u>　治面並兩頤生膿水黃瘡。用官粉一兩，水調，用艾熏過，黃色，入煅過棗十枚，為末，敷上。</p>
<p>蛇頭指。用雞子，開一竅，將指入內，待蛋化水，又換一個。如此三枚而已。</p>
<p>膿疱瘡。用硫黃一兩二錢，焰硝一錢，人言三錢，三味共為末。每用三分，水一碗，煎末藥，鵝毛掃水於瘡上。</p>
<p>坐板瘡。將初發之時，極癢難忍。用舊布鞋底，炙熱，搭癢處，候癢住即止。不過三次。</p>
<p>身惡瘡癩。用地膚子半升，煎湯頻浴愈。</p>
<p>下部濕熱、腳瘡。用大黃、鬱金、黃柏各二錢，輕粉、乳香、沒藥各五分，為末，葵花油調搽。</p>
<p>附骨疽（即貼骨瘤）。以面作圈，圈瘡在內，以蒜搗爛填滿，上以槐皮一塊蓋之。用大艾柱灸百壯。內服槐花酒。</p>
<p>瘡癤後脹起，惡肉不消。用烏梅燒存性，為末，摻上立消。</p>
<p>久遠腫毒，不能收口。用桑葉，醋煮貼之。</p>
<p>一切百毒諸瘡、瘰癧、痔漏、臁瘡、癰疽、無名腫毒。用荷葉燒灰存性，不拘多少，煎湯，以氣熏蒸，不可沾水，沾之則不效矣。</p>
<p>一人頦下生瘡長二寸，久不愈，熏之愈。</p>
<p>薄皮瘡。用甘草末作包，浸水熨之。</p>

<h2>杖瘡</h2>
<p>杖畢，即用童便、黃酒各一鍾，合而溫服，免血攻心，甚妙。即用蔥切爛、炒熟，搭患處，冷則再易。止痛消腫，散瘀如神。如無蔥，用熟豆腐消在杖處，其氣如蒸，其腐即紫，復易，以淡為度。</p>
<p><u>一方</u>　用豬膽一枚，傾出碗內，將綠豆粉、黃柏、黃連細末入膽內，調勻搽杖處。</p>
<p><u>一方</u>　治杖瘡並打傷，皮不破而內損者，用蘿蔔搗爛罨之。</p>
<p><u>一方</u>　治杖瘡打，定痂者，不用刀割，用黃蒿子，焙乾為末，搽上即開。如心慌者，即飲童便一二碗。</p>
<p><u>一方</u>　治杖瘡。用大黃末、童便調敷。</p>
<p><u>一方</u>　治杖瘡。用真綠豆粉微炒，雞子清調，刷之。</p>
<p><u>一方</u>　治杖生疔甲。用玉簪花葉，貼一二日即落。嫩荷葉亦可。</p>
<p><u>貼杖瘡膏藥</u>　用密陀僧四兩（為末），香油八兩，同入鍋內，文武火熬，用柳條數根，一順勤攪，不要住手，待熬成黑色，滴水成珠，油紙貼患處，當時疼止，拘膿水，自然生肉。如有疔甲，貼藥□□□□頑瘡、天泡、凍瘡。</p>
<p><u>一方</u>　治末打之。先用□□□切，入碗內，滾酒泡服，打著不痛。</p>

<h1>卷四</h1>

<h2>折傷</h2>
<p>折傷打撲痛難禁，瘀血停留忽上心。散瘀止痛須趁早，補虛接骨慢搜尋。</p>
<p>凡打跌傷損，即用童便、黃酒各一鍾，合而溫服，一日三四次。外用蔥切爛，炒焦，搭傷處，冷則易。</p>
<p><u>一方</u>　用小嫩雛雞（帶毛、屎），搗爛，搭傷處。先將所患處扯伸，即用杉木板或柏板夾之。</p>
<p><u>一方</u>　治跌撲傷損，惡血入腸胃，下血濁如瘀血者。用百草霜研細，酒調下。</p>
<p><u>一方</u>　治撲傷，折手足。用綠豆粉，新瓦銚內炒紫色，旋汲井水調成稀膏，厚敷損處（須教遍滿），貼以白紙，將杉木板縛定。此方驗過。</p>
<p><u>一方</u>　治被打傷重者。用雄鴨彈一個，不去皮，黃苘麻燒灰，黃酒調下。</p>
<p><u>一方</u>　治傷肢折臂，斷筋損骨，但有皮相連者。用生地黃研汁，好酒和服。一月筋皮連續。並杵碎，炒熟，封損處，極效。</p>
<p><u>一方</u>　治打撲傷損，骨蹉筋折。用皮底，燒存性。每服三錢，黃酒調服。外用白及磨水調前末，敷傷處，效。</p>
<p><u>一方</u>　接骨，消腫，止痛。用蘇木一兩，好麻五錢，炒成灰。二味好酒煎熟，用乳香、沒藥各三錢，為末，入酒內，碗合住，片時溫服，汗出效。</p>
<p><u>一方</u>　治不拘打傷、刀砍、跌損。用松香為末，撤患處即愈。</p>

<h2>金瘡</h2>
<p>治破傷手足，血出不止，一時無藥。用自己小便淋傷處，雖痛甚，即愈。</p>
<p><u>一方</u>　治折傷及割破手足。用蔥入灰火煨熟，剝皮劈開，其間有涕，取敷患處。仍多煨，繼續易熱者。</p>
<p><u>一方</u>　治金瘡血不止。用小薊葉搗爛封之。</p>
<p><u>一方</u>　治刀斧傷破，流血不止及跌打傷。用何首烏研末，搭傷處，血即止。</p>
<p><u>一方</u>　治刀割破頸顙一個大口。急用嫩雞，捋去毛，扯下皮，貼傷處，立效。</p>
<p><u>一方</u>　治破傷血不止。用龍骨末摻之。</p>
<p><u>一方</u>　用韭菜、小薊同石灰搗成餅，陰乾，敷上。</p>

<h2>破傷風</h2>
<p>破傷風證有多端，汗下和之病自安。發散祛風能奏效，治之莫當等閒看。</p>
<p>治破傷風。用槐子一合，炒黃，酒一碗，煎至八分，熱服。汗出為愈。</p>
<p><u>一方</u>　治破傷風五七日未愈，已至角弓反張，牙關緊急。用蟬蛻（去頭、足、土）淨五錢，為末。用好酒一碗，煎滾服之。</p>
<p><u>一方</u>　治破傷風。用魚鰾五錢，炒黃，淬黃酒於內，飲之。</p>
<p><u>一方</u>　治破傷風，牙緊，不省人事，垂死者。用核桃殼半邊，入稀人糞填滿殼，將瘡甲掀去，搭於上，用艾炷於桃皮上灸之。用人按住。灸至九壯，有汗出即愈。宜避風。</p>
<p>治破傷風角弓反張。用南星、防風、羌活、甘草，生薑五片，水煎服。</p>
<p><u>一方</u>　治破傷風發熱紅腫，風邪欲將傳播經絡而未入深。杏仁去皮細研，白麵等分和勻，新汲水調，塗傷處，腫消熱退。</p>

<h2>湯火傷</h2>
<p>治湯燙火燒，腫爛疼痛。用白礬末，香油調，掃患處。</p>
<p><u>一方</u>　用綠豆粉炒黑末，新汲水調塗。</p>
<p><u>一方</u>　用大黃末，蜜水調搽。</p>
<p><u>一方</u>　用百草霜、輕粉為末，狗油調搽。</p>
<p><u>一方</u>　治火燒傷，皮破肉爛，十分潮熱。用尿桶底白渣，攤於火紙上，貼傷處，蒸乾再易，至涼為度。</p>
<p><u>一方</u>　用黑礬一合，入新汲水內，和勻，頻掃患處。</p>
<p><u>一方</u>　治不拘乾溼火。用舊鞋底燒灰，香油調搽。</p>

<h2>蟲獸傷</h2>
<p>狗咬，用絲瓜小藤一大把，研爛取汁一碗。以綠豆粉七匙調服。冬月略溫服，春夏秋冷服。忌生冷腥葷。</p>
<p><u>一方</u>　用杏仁、甘草，口嚼，搭傷處。又宜銀杏搗塗傷處。</p>
<p><u>一方</u>　癲狗咬。用斑蝥七個，糯米炒，去翅足，為末，酒調服。瘋狗咬後，要忌羊肉、狗肉、紅豆一世。外以生人糞塗之。</p>
<p><u>一方</u>　用韭菜根搗汁，服二三盞；外用艾灸傷處五七壯。</p>
<p>蛇咬，赤腫欲死。用白芷為末，每三錢，麥門冬湯調服。外用白礬熔化，滴傷處。</p>
<p><u>一方</u>　治毒蛇咬。用五靈脂末，每二錢，酒調服。</p>
<p>蠍螫，用人頸上垢，擦患處。</p>
<p><u>一方</u>　用韭菜汁擦之。</p>
<p><u>一方</u>　用半夏、蟾酥各少許擦之。</p>
<p><u>一方</u>　用黑鉛化開，入水銀一錢，砒一錢，雄黃一錢，為末擦之。</p>
<p><u>一方</u>　用端午日午時，用硃砂書「茶」字倒貼之，蛇蠍不敢近。</p>
<p><u>一方</u>　端午日，用貓兒眼草汁，捻入黃蠟內，令勻為丸。臨用取些須，燈火化，簪尖點痛處。</p>
<p>蜈蚣咬，用菜油三錢傾地上，以指擦地上油，搽咬處即可，不可令四眼見。</p>
<p><u>一方</u>　用生礬、枯礬，等分為末，水調搽患處。</p>
<p>蚊蟲，用端午日午時，書儀方二字，倒貼於柱腳上，能闢蚊蟲。</p>
<p><u>一方</u>　用端午日午時，取大蛤蟆一個，用好墨一塊，入口內，紅線縛住，取正午，方掘一穴，深五寸，埋於內，至第二日午時，取蛤蟆口中墨收之。用時，將墨於壁上畫葫蘆一個，用淨水噴三日，蚊子盡入葫蘆內，不可打殺。欲其去時，用扇扇去，取墨，蛤蟆活則驗。</p>
<p>蠅子，用端午日午時寫白字，倒貼於柱上四處，則無蠅子。</p>
<p>頭上蝨，用包銀硃紅紙燈上燒過蓋碗內，少將茶清洗下煙與茶水搽頭髮內，以帕包頭一夜，其蝨俱死。</p>
<p>凡入山林，默唸儀方，不見蛇蟲；誦儀康，不怕虎狼。</p>
<p>山林日用法：每欲出時，用雄黃一桐子大，火上燒煙起，以熏腳䙀草履之類及袍袖間，即百毒不敢侵害，邪祟遠避。</p>

<h2>中毒</h2>
<p>中諸毒，只宜多灌香油最妙。</p>
<p><u>一方</u>　用甘草、綠豆煎湯飲之，能解百毒。</p>
<p>中砒毒，用臘月豬膽收起。遇中毒，即割開一個，入水化開，服之立解。</p>
<p><u>一方</u>　用江西淡豆豉一兩，干蚯蚓一個，涼水調服。</p>
<p>中巴豆毒，煮黃連湯飲之。</p>
<p>中巴豆毒痢不止，用乾薑（炮）、黃連（炒）等分為末。每服二錢，涼水調服。</p>
<p>中半夏毒，以生薑汁飲之。</p>
<p>中杏仁毒，搗蘭汁飲之。</p>
<p>中桐油毒，嘔吐不止，乾柿餅立解。只飲熱酒亦可。</p>
<p>誤食花椒，閉氣不通，取新汲水飲之。</p>
<p>中蟹毒，紫蘇煮汁解之。</p>
<p>中鱔毒並鱉毒、蛤蟆毒，用豆豉一大合，新汲水半碗，浸令豉水濃，溫服。此三物皆能令人小便閉，臍下痛，有致死者。</p>
<p>中啞芙蓉毒或致不省人事者，用熱釅醋調糖，斡開口，灌至一二碗，探吐。</p>
<p>中六畜肉毒，用犀角磨濃水，服一碗良。</p>
<p>中斑蝥毒，煮黑豆汁飲之。</p>
<p>誤吞螞蝗入腹，以濃茶多服自下。</p>

<h2>諸骨鯁</h2>
<p>諸骨鯁，用飴糖如雞子大，吞之。如不下，更作大團吞之，至十團，無不下。</p>
<p>魚骨鯁，另取魚骨一根，插於患人頭髮內，不必言，須臾即下。</p>
<p>雞骨鯁，用金鳳花為末，醋調稀，放舌上，慢慢嚥下。不可犯牙。</p>
<p>諸骨鯁，用象牙屑，以新汲水一盞，浮牙屑水上，吸之，其骨自已。</p>
<p>雞骨等骨所鯁，用細茶濃煎，連吃五七碗，以飽為度。卻用老鴨刀子擂爛，冷水調服，即吐。如不吐，將鵝翎探喉，即吐其骨。</p>

<h2>救急</h2>
<p>自縊死者，切莫割斷繩。急抱起，將繩慢解，用手捻正喉嚨，側臥，蓋被。用二竹管吹兩耳。一人扯發，以雙腳踏兩肩上，再令人摩將胸膛及屈伸手足。如蘇，以溫粥飲灌之即活。</p>
<p>斡開其口，以鵝嘴插入，鵝鳴，應聲即活。</p>
<p>刺雞冠血滴口中即活。男用雌雞，女用雄雞。</p>
<p>溺水死，心下溫者，即放大板凳上，一頭襯高，以鹽擦臍，待水自出。如口緊閉者，以刀斡開，橫放箸一根於牙間，使水可出。切莫倒提。</p>
<p>搗皂角，以綿裹，納臍下。須臾水出即活。</p>
<p>將醋半盞灌鼻中。</p>
<p>凍死及冬落水微有氣者，脫去濕衣，隨解活人熱衣包暖。用米炒熱，囊盛，熨心上，冷則換之。或炒灶灰亦可。候身溫暖、目開氣回後，以溫酒或薑湯、粥飲灌之。若先將火炙必死。</p>
<p>用雄黃、焰硝各一錢，研細末，點兩眼角。</p>
<p>壓死及墜跌死，心頭溫者，急扶坐起，將手提其發，用半夏末吹入鼻內，少蘇，以生薑汁同香油打勻，灌之。次取藥服。如無藥，以熱小便灌之。</p>
<p>中惡魘死者，不得近前呼喚，但唾其面，不醒，即咬其腳根及足拇指，略移動臥處，徐徐喚之。原無燈，不可點燈照。待少蘇，用皂角末吹鼻取嚏，或用韭汁灌鼻內亦可。</p>
<p><u>一方</u>　治縊死、溺死、壓死、靨死及產後暈絕，又治中風不省人事。用半夏一味為末，如豆大，吹入鼻中，須臾即活。</p>

<h2>附經驗秘方</h2>
<p><u>桃源龜齡延壽丹</u>（魏都堂方）</p>
<p>金筍（即熟苄，生精補腎。粗而直者，酒浸一宿，瓦上焙乾為末）五錢</p>
<p>玉枝（即生苄，生血清心。細而長者，乳汁浸一宿，曬乾為末）六錢</p>
<p>萬年松（即天門冬，潤肺清火。酒浸半日，去心、皮，曬乾為末）四錢</p>
<p>夷靈芝（即川歸，活血生精。肥而大者，酒浸一宿，曬乾為末）五錢</p>
<p>鎮番草（即枸杞子，補髓生精。酒露淨，曬乾為末）五錢</p>
<p>碧水龍（即肉蓯蓉，補筋骨，滋腎水。紅而咸者，河水浸一宿，麩炒乾，為末）六錢三分</p>
<p>劈凌雲（即牛膝，生精助陽。去蘆，酒浸、曬乾為末）四錢</p>
<p>亂銀絲（即杜仲，強筋骨，補腎水。厚而實者，去皮，麩炒去絲，小便浸一宿，瓦上焙乾為末）二錢半</p>
<p>補骨脂（即破故紙，補虛助陽。酒浸一宿，瓦上焙乾為末）一錢</p>
<p>壽柴（即鎖陽，補虛助陽益氣。堅而實者，燒酒浸七次，為末）三錢半</p>
<p>滄骨（即青鹽，補骨髓。堅而正者，酥炒乾為末）三錢</p>
<p>重英（即甘菊花，明目生精。黃而小者，小便浸一宿，為末）一錢半</p>
<p>萬岑精（即白茯苓，生心血，潤身體。乳汁炒乾為末）五錢半</p>
<p>伏塵毯（即地骨皮，補虛損。白而輕者，蜜浸一宿，曬乾為末）四錢</p>
<p>天雄（即大附子，補髓生精。重一兩餘者，蜜煮三炷香，水煮一炷香，去椒為末）二錢半</p>
<p>百里馨（即小丁香，寬腸胃。黑色者，同川椒炒一炷香，去椒為末）二錢半</p>
<p>賽桂香（即砂仁，和脾胃。堅而陳者，薑汁炒乾為末）二錢半</p>
<p>海蓮（即蓮肉，養脾胃。溫水泡，去皮心為末）六錢</p>
<p>玉蕃絲（即細辛，通心竅。細而辣者，醋浸一宿，曬乾為末）一錢</p>
<p>油鱉子（即芝麻，潤肺。乳汁炒熟，為末）五錢</p>
<p>黑漆子（即旱蓮草，生血補髓。酒洗淨，曬乾為末）五錢半</p>
<p>槐膠（即槐角子，明目。酒煮透，曬乾為末）六錢半</p>
<p>乾坤髓（即辰砂，安心神，補腎水，卻風邪。四面牆光者，面用蕎麵，包住，蒸熟，去面為末）五錢</p>
<p>主人（即甘草，和中降火，仍壯筋骨。堅而壯者，去皮，蜜炙黃色，為末）六錢</p>
<p>鎮山威（即鹿角，補心血。圓而實者，用砂鍋以好醋添水煮三晝夜，土埋一宿，取出，曬乾為末）一兩</p>
<p>透石烏（即穿山甲，補肺金。厚而大者，燒酒浸一宿，酥炙，研末）八錢</p>
<p>鎖天蛾（即石燕子，補腎。堅而圓者一對，醋浸一宿，薑汁浸一宿，曬乾為末）七錢</p>
<p>崑山雪（即小雀腦，助陽，補虛損。雄者十個，每個入硫黃一分，或入硫黃一錢，攤紙上攪勻，曬乾）三錢</p>
<p>仙靈皮（即淫羊藿，生精髓。乳汁拌，炒乾為末）二錢</p>
<p>水雁（即海馬，補虛助陽。長而全者一對，酥黃色，為末）二錢</p>
<p>旱珍珠（即鳳仙子，透骨通陽。井花水浸一宿，瓦上焙乾，為末）二錢半</p>
<p>大鵬（即紫梢花，補虛助陽。鮮而無土者，河水浸一宿，焙乾為末）五分</p>
<p><u>修制口訣</u></p>
<p>上將各藥如法制畢，選甲子、庚申吉日良時，入淨室通修，合一處。切忌雞犬及孝子婦人見之。裝在磁器內。以鹽泥封口，重湯煮三炷香為度。開口取出，夜露一宿，仍將前藥捏作一處，卻放入銀打盒內，以鹽泥封口，外再以紙筋泥將銀盒團成圓球，放日曬極干，卻用鐵鑄鐘鈴一個，仰口向上，卻將泥盒球放其中，再用鐵絲從鼻內十分拴緊。外用黑鉛四五斤，以慢火熔開成汁，傾鈴內，以遮蓋球盒為度。候冷定，仍入灰缸內，火行三方養之。每方用火一兩六錢，至寅、戌時更換。換時以鈴內滴水響為度，不可太熱。溫養至三十五日，卻將鈴內黑鉛化傾在地，候冷定，卻將銀盒取開，看藥以紫色為度。另用磁瓶收貯，去火毒。打銀盒用八兩重則可。若遇乘興求藥者，取藥五釐，黃酒送下，渾身躁急，百竅通和，丹田微癢，痿陽立興，時度數女而不泄，刻戰百妓而弗溢。酒勝勿攻，食勝勿動。氣血和平，緩行無禁，久久純熟，不拘飢飽，七十老媼春色裊，八十衰翁精神長。行之日久，鼻口馨香，明目寬胃，資全仁壽。未及半年，羸弱變為嬰稚體。若經一載，衰容改作玉朱顏。益精增髓，其功尤大。日久精盈氣壯，血滿神充。女侍之用，不可少間。陽舉不敗，恐擾人事，則未善矣。知道者，斟酌用之。</p>

<h2>作金鈴法</h2>
<p>此藥用五分，加麝香一分，如黃豆大，以綿裹住，用線扎之。以金三錢，打成薄片，將藥居中，焊成圓彈。或用銀亦可。常掩袖中。遇春而尋堤柳，逢夏則覓流鶯，乘興取藥，暗索金彈，握之在手。須臾熱氣直透胸中，緩緩流行，歸於腎海，敗陽似鐵錘，痿莖如鋼釘，不惟己樂，紅粉亦欣。兩情戀戀，雎鳥關情，誠人間之雅藥，乃洞府之仙風。價值雖萬金而莫傳，惟有德而方授。後學幸獲，謹守勿輕。</p>
<p>凡媾精一度經停，二度胎成，三度孕成，不宜再行。若行四度，必產雙生，恐傷母體，反失人倫。其功如神，如兔見鷹，百發百中，萬無一失。要泄須食棗一枚，即解之。</p>
<p>詠制紅棗詩</p>
<p>峴山一帶假桑花，清節橫揮鎮月斜。多少名園培正果，何分百姓帝王家。</p>
<p><u>紅棗製法</u></p>
<p>琥珀精（即小紅棗，能泄氣。核小而甜者，去核）一百個</p>
<p>練風霜（即白砂糖，能回陽。細而白者，夜露一宿，日曬一朝，醋浸一宿）取稠膏二兩用</p>
<p>蕃釐石（即食鹽，能泄腎水。同甘草二兩炒，去甘草不用）鹽用八錢</p>
<p>上三味，各如法制。共攪一處，裝入豬肚內，用綿線縫合，放大米內蒸熟，取出，仍裝磁器內，封口三七日，將棗用釅茶洗淨收之。若食一枚，興陽立敗而不舉矣。</p>
<p>詠煮金鈴鐺法詩</p>
<p>一握渾身氣遂通，上天梯樹方靈。這般理趣誠然少，舉世何人解此風。</p>
<p>上用金鈴鐺一個，洗淨，埋土中一宿。假如頻使年久，用之不效，是為藥力泄盡氣也。仍以川椒湯再洗淨，埋土中一宿，取出放磁器內，以醋貯滿，重湯煮，緩聽鈴內有響聲為度。取出收之。再用之時照前。神效莫測。</p>
<p><u>詠驗藥預知詩</u></p>
<p>臞仙曾贈白釐翁，夜放輝光照月明。不是神功流腎海，粉貓走入黑籠叢。</p>
<p>此藥合成，誠恐心疑，畏尚有毒，遂將藥一分拌入飯中，與白貓食之，三日淫度無休，飲茶即止。旬日變黑，冬要當風，夏要入水，是其驗也。妙不可言，秘當珍重。</p>
<p>邀月仙人捻桂花，塵籠不覺老春斜。閒中笑取一杯飲，多少佳人極口誇。</p>
<p>先師曰：世間方術雖多，效應絕少。好事者往往酷求，未曾有得。吾非上獲老龍授之，豈能知其詳也。先師問曰：男子陽痿，女子絕產，何也？老龍答曰：男子未及二八，色心一動，精泄於外，以損乾陽，故致中年而陽痿也。女年未及二七，欲心一起，血溢於外，以傷坤水，故致中年絕產也。此中丞《寶秘錄》論之。男幼損，身嗜欲貪淫，視如泛常，略無節制，日積月累，釀成疾患，百方弗痊，非賴此方，莫能救援。依法修治，瞬息見功。先師曰：誠確論也，丁寧反復，恐誤後學，造法於後。</p>

<h2>造酒法</h2>
<p>照前製藥，令成塊，取紙包，裝絹袋內，以線增口，墜於瓶底。四下用無灰好酒百壺，醋和泥封口，晝以日曬而攝其精，夜以露敷而浥其液。如此五次，其香噴鼻。取服半盞，老翁變作少年郎，老嫗化為青春女，敗陽猖獗敵百妓，痿莖顛狂戰千女。頻攻頻勝，越戰越強。良久精凝，目明如電，渾身汁汗出。能消痔漏癰疽，化痰痞，治疥癬，去風邪，療左癱右瘓；調血氣而除胎前產後之疾。熱淋、白濁，並皆治之，冷痛、赤白帶下，時刻見功。百日，諸疾無侵，行如奔馬。發白復黑，齒落更生。如此三年，長生不老。返本還元，乃號地仙。種子人間，驅赭使而成形，遺名天下。激將軍而聽令，隨用隨生，功效無窮矣。載酒載歌，樂有餘焉。闡明不昧，以廣其傳，繼業流行，有補於世。</p>
<p><u>靖和庚子八月下浣南溟山人蛟螭謹識</u></p>
<p>總括藥方西江月</p>
<p>藥共三十二味，各依品料炮蒸。石燕海馬辨雌雄，前後增減已定。問君共得多少？一十四兩五分。井河乳便拌調勻，蜜酒酥油協用。</p>
<p>凡修此劑，精白虔誠，審藥真正，辨陰陽奇偶。凡諸腦損陽而莫用，諸血敗血而休餐。單日為陽，產男有準，雙日為陰，生女無差。雄者腰子可重，雌者單胞可輕。赭使時驅，身氣壯盛，咀嚼日久，蓬萊相迎。勞中有逸，怒處成歡。氣歸元海，服握千朝。我命在我，不在於天。</p>
<p>宋真宗皇帝御贊</p>
<p>嫦娥喜竊月中砂，笑取斑龍頂上芽。漢帝桃花敕特降，梁王竹葉誥曾加。須臾度過真堪羨，衰老還童更可誇。中有一般超絕處，能教霜雪黑如鴉。</p>
<p>先師秘言：為人乏嗣者有五：一曰精冷，二曰腎寒，三曰天騙，四曰皮漏，五曰陽痿。詳究聖典，故有此說，乃從人而修之。以及五乏源，若後，茲人必誠必敬，祝於天日之下，啟於列星之前。或服或握，兩途符節。驗火種薪，猶粟造飯；入山求石，涉海求津，編籬為戶，引水為池，夫豈難乎！謹志。</p>
<p>朱晦翁曰：世人陽疾有數：一曰幼搖太過而損其神；二曰落草受風而傷其真；三曰酒勝泄頻而耗其精；四曰食飽無度而喪其氣；五曰暴怒顛狂而失其筋；六曰濕寒乘興而傷其髓；七曰悲泣過多而叛其心；八曰歡樂甚極而失其節；九曰當泄不泄而虧其脾；十曰當行不行而搖其脅；十一曰思慮太過而悖其情，十二曰飢極使房而患其性。似多端犯而致疾，萬藥千方療莫能效，非世乏此方，乃修合誤而閉其門也。古人云，用藥如用兵，存亡以此，不可苟也。蓋藥之主，始各不同，然皆以腎氣為主，理氣調精，無不效耳。</p>

<h2>春雪歌</h2>
<p>茲藥補丹田，清晨服一丸，坐笑松蔭下，橫琴大古絃。目不視邪色，心不被塵牽。耕云並釣月，精氣自周全。世上少閒人，山頭看碧泉。有緣獲此訣，即是地行仙。若有人求方，不與利相干。斯藥金不換，休言浪里煎。一切沉疴苦，服之便安然。左癱與右瘓，產後與胎前。熱嗽並冷嗽，黃痰與白痰。心疼與耳閉，腰痛並風顛。乾血與頭悶，蟲噎與驚疳。中風同不語，停痰並傷寒。茶積兼酒積，酒疸與吐痰。食黃並瘧痢，吐瀉與脾寒。骨蒸同浮腫，腳氣與頭眩。淋瀝並手戰，絞腸與心癇。眼花同內障，疝氣與口酸。喉閉並乳蛾，腫痛與胃翻。血瘤同癭滯，肺氣並黑斑。腸風與痔漏，牙痛並頭旋。夜哭與晝哭，重舌並氣喘。腹脹同吐血，狗咬並蛇餐。消渴與麻木，發熱並狂言。泄精同遺溺，盜汗與疥癬。凍瘡同杖破，蠍螫並崩難，經絕與勞瘵，翻胃並皮穿。病在上食後，病在下食前。多無三兩月，改變勝童顏。自樂煙霞景，人間別洞天。嫦娥知我趣，褒封應失傳。遺文恐不信，聯此各一篇。</p>
<p>英國公自詠金鈴賦</p>
<p>形如雀卵，色似娥黃。外視輕如糞土，內論貴於清琅。無邊佳趣，叢繞吾旁。比金金易得，比玉玉何償。連城和氏璧，不換金鈴鐺。任爾腰金紫，任爾架高堂。任爾跨裘馬，任爾材棟梁。任爾隨鳳闕，任爾制八荒。不如吾安樂，不如吾悠揚。何為如意丸，庭前棲鳳凰。蜀錦添花彩，秋月回輝光。這丸金彈子，千金不易方。用之吾掌內，飄然入洞房。壺中春不老，心頭歲月長。玉山無勝敗，金海有炎涼。愈戰精神爽，久敵氣血剛。累握寬皮腹，連服和胃腸。九竅除沉疴，三尸盡伏降。百日鬢毛黑，千期體健康。固齒且明目，消食並化痰。萬般塵世苦，一握入仙鄉。侯門虛寵位，浮生空自忙。不如予心樂，時侵月殿香。三春真富貴，惟我第一場。半川風月景，幾樹橘花黃。興懶沽春酒，如意懷袖藏。琥珀吞入腹，收兵罷戰場。陽姤生麟子，陰諧產女媓。快活真快活，石枕伴藤床。我今獲此訣，不戀侯與王。功名如浮雲，富貴似粃糠。百子千孫茂，萬載一名揚。清隱林泉下，逍遙汾水旁。琴書共鹿鶴，相隨滋味長。天下奇男子，學此金鈴法。</p>
<p>皮日休贊</p>
<p>鳳儀鱗生世不常，積金難買骨精強。將軍英武無休止，赭使風行罷戰場。</p>
<p>穀神子括曰：</p>
<p>駐世無真訣，探奇遇偓佺。一丸回造化，半點結良緣。紅塵成紫氣，白髮返青年。云外穀神子，留方海內傳。</p>
<p><u>萬杯不醉丹</u>（中書李五山傳）</p>
<p>白葛根（四兩，青鹽水浸一晝夜，取出曬乾）　白果芽（白果內青芽，一兩，蜜浸一日，砂鍋內焙乾）　細芽茶（四兩）　綠豆花（四兩，陰乾）　葛花（一兩，童便浸七日，焙乾）　陳皮（四兩，青鹽水浸一日以上。青鹽用一兩化水）　菊花蕊（未開口菊青朵頭，四兩）　莞豆花（五錢）　真牛黃（一錢）　青鹽（四兩，盛入牛膽內，煮一炷香，同膽皮共用）</p>
<p>上共為細末，用蟒膽為丸，如梧桐子大。飲酒半醉，吞一丸，其酒自解。再飲時再服。如此經年不醉。</p>
<p><u>紫霞丹</u>（徽府秘方）</p>
<p>秋石（陰煉者，五兩）　南薄荷（五兩）　硼砂（二兩）　訶子（去核，五錢）　牛黃（五分）　冰片（二錢）　麝香（一分）　甘松（五錢）　排草（一錢）　膃肭臍（一錢，酥炙）　阿芙蓉（二分）　硃砂（五錢，為衣）</p>
<p>上共為細末，合和研勻。用甘草一斤，炙去皮，水煮成膏子，和為丸如綠豆大，以硃砂為衣。每用一丸，時常噙化嚥下。</p>
<p>詩曰：</p>
<p>秘傳物外紫霞丹，安魂定魄駐少顏。順氣寬胸能解渴，消痰止嗽更除煩。平添牙頰香津滿，善補元精氣海完。每服一丸噙化咽，延年益壽世間仙。</p>
<p>治瘋狗咬，此方驗過。用斑蝥三個，去翅足，研細末，酒一鍾半，空心服，即下小狗娃四十九個。如不盡，再服。神效。</p>
<p>治月經不通、身黃。用白礬（枯）半兩，陳皮三錢（為細末），黃蠟半兩化開為丸。每服三五十丸，米湯送下。</p>
<p><u>一方</u>　用乾漆，炒脆酥。服一錢，黃酒送下。</p>
<p>治乾血勞。用大麥芽、小麥芽（俱炒）、千里馬各一兩，為細末。每四錢，黃酒送下。</p>
<p>治尿血。用龍骨四錢為末，食後酒下。</p>
<p>治腸風下血。用椿皮白皮，酒浸，曬乾，為末，棗肉為丸梧桐子大。每服五十丸，酒下效驗。</p>
<p>治霍亂。用桑皮搗汁。每服一盞。冬月煎湯服。</p>
<p>治痢方　用大麥芒，不拘多少，炒黃為末，加黑豆二十五個（以下明刑本殘缺不全，略）</p>
<p>附日用雜方</p>
<p><u>香茶餅</u></p>
<p>甘松　白豆蔻　沉香　檀香　桂枝　白芷（各三錢）　孩兒茶　細辛　南薄荷（各一兩）　木香　藁本（各一錢）　片腦（五分）</p>
<p>共為細末（用甘草半斤為粗末，水浸一宿，去渣），熬成膏，和為餅用。</p>
<p><u>上清丸</u></p>
<p>南薄荷（一斤）　百藥煎（一斤）　寒水石（煅）　玄明粉　桔梗　訶子肉　南木香　人參　烏梅肉　甘松（各一兩）　柿霜（二兩）　細茶（一錢）</p>
<p>甘草一斤槌碎，水浸一宿，取汁（去渣），熬成膏。或加蜜一二兩同熬二碗許，和前藥為丸，如白果大，每日一丸噙化。</p>
<p><u>玉露霜</u></p>
<p>真干綠豆粉（一斤）　南薄荷（葉，半斤）</p>
<p>水噴令濕，用小磁壇一個，將薄荷一半鋪壇底，將豆粉用新布包裹，入壇中，上又用薄荷蓋住，得壇口封固，勿令泄氣，重湯煮三炷香，要水滾方可壇煮，取起冷定，一二日方開壇，去薄荷，取出豆粉，用白糖半斤拌勻，篩過，磁器收貯任用。（若欲丸，入碾子碾之，即丸得）</p>
<p><u>楂梨膏</u></p>
<p>鮮山楂（大者十斤，去核）　好甜梨（去核、淨，十斤）</p>
<p>共搗爛，取自然汁，入鍋內煎熬，如稀糊樣。如汁十斤，入蜜四斤，再熬成膏，可作餅子用之。</p>
<p><u>法制半夏</u></p>
<p>用大半夏約二斤，先用滾湯泡洗二三次，去滑膩、淨，用白礬六兩，皂角四兩，生薑四兩，水二斗，煎至一斗，浸半夏十四日，俱曬、浸，取出，洗淨，復用白礬二兩煎，水浸七日，又洗淨，取出，用清滾湯洗，又浸三日，又洗淨，切成片，且俱要白色，曬為佳。將製成半夏片，用蘇州好薄荷葉，蒸格上鋪開，上放布，將半夏片鋪薄荷上，以蒸格放鍋上，蓋完固，勿令透氣，蒸二炷香盡，取出曬乾，則成法制半夏。加用半夏一兩，薄荷葉三錢，粉草片二錢，和勻，口中細嚼，則清火化痰，健脾和胃，生津液，解酒毒，除眩暈。</p>
<p><u>法制陳皮</u></p>
<p>每陳皮一個，用甘草四兩，水煎煮陳皮半生半熟，洗去垢膩，曬乾，又用烏梅六兩，青鹽四兩，煎水去渣，煮陳皮半熟，曬乾。又用薄荷葉二兩，紫蘇葉一兩，用水灑濕，鋪甑底，將陳皮放上，蒸透取出，切絲曬乾，入白糖半斤，共炒，取出用之。</p>
<p><u>香豆豉方</u></p>
<p>鹽（二斤）　草果（去皮，十斤）　時蘿（二兩）　小茴（二兩）　花椒（二兩）　官桂（二兩）　砂仁（二兩）　紅豆（去皮，五錢）　陳皮（切絲，五錢）　瓜仁（五錢）　甘草（去皮，切片，一兩）　杏仁（去皮，切四片，五錢）　橙皮（切絲，一兩）　蘇葉（切絲，二兩）　薄荷葉（切，一兩）　生薑（二斤，臨時切絲）　菜瓜（十斤，去囊，切丁，臨時用）</p>
<p>上，各俱為末，於三月三、五月五，用大黃豆一斗，水淘淨，浸一宿，控干，籠蒸至熟，冷一宿，細面拌勻，用羅篩去粗渣，凳箔一二尺高，蘆蓆攤豆約二指厚，用豆蒿或楮葉並席，密覆七日，上有黃衣，取曬乾，箕淨，入料物，六月六日下，不用水，攪勻，一日拌四五次，裝壇內，逐日輪曬至三七傾出，曬半乾濕，復入壇內取用，或將油拌，即是濕豆豉。</p>
<p><u>玉壺春</u></p>
<p>六月六日，取不語水聽用。七月七日造面，每用面十斤，綠豆三升，磨破水泡，去皮，用六月六日水煮熟，曬乾，與面同調一處。又用白蜜半斤煉過，又用官稜、川芎、白芷、香、陳各五錢，為細末，共調一處，踏面。或切作一斤一塊，或半斤一塊，先用楮葉包，吊在微風處三七日，可用造酒。每黃米一斗，春秋用面半斤，夏用六兩，冬用一斤。</p>
<p><u>賽襄陵酒麴方</u></p>
<p>烏頭（去皮臍）　細辛　白芷　良薑　官稜（去粗皮）　白朮（各十二兩）　杏仁（去皮尖，一斤六兩）</p>
<p>上共為末，入白細面一百斤，攪令勻，用綠豆五斤煮熟，晾冷，同和一處，踏成小曲塊，內用桑麻葉包裹，外用白紙包裹。當風處置箔攤上，過一七翻一次，方用米一斗，用此曲十二兩。</p>
<p><u>五香酒</u></p>
<p>治一切飲食過度，最能消導，善退諸疾，又能不病酒，上腹痛，大補血氣，健脾胃，久服自然健壯，其功不能盡述。</p>
<p>木香　丁香　沉香　檀香　香白芷　生地黃　熟地黃　官桂　砂仁　當歸　陳皮　人參　白朮　川芎　薄荷　甘草（各一兩）　熟棗（十二枚）　核桃仁（二兩）　蜜（一斤）　好燒酒（一罈）</p>
<p>將前藥切片，用生絹袋盛之，入壇內，紙封口，復用竹葉封之，煮長香三炷，七日開用。</p>
<p><u>牛脯法</u></p>
<p>每牛肉十五斤，切作四塊，用蔥一大把，鋪鍋底，加肉放上，入花椒二兩，黃酒十碗，清醬油二碗，鹽二斤，添水離肉四五寸高，慢火煮至汁干取用。冬間可放數月不壞。</p>
<p><u>雞松法</u></p>
<p>雞，用黃酒、大茴香、小茴香、花椒、鹽煮熟，擇去皮骨，淨肉火焙乾，擂爛，再焙乾用。牛松、豬松同法。</p>
<p><u>鵝醬法</u></p>
<p>鵝，去毛、骨，切肉絲一斤，用飛鹽八錢，清醬油一碗，紅曲、米糝、大茴、小茴、花椒末，用酒二鍾拌勻，入磁罐內，上用江米酒糟一團，蓋而封固，待月餘，取出食之。（米糝即大米水泡，炒過是）</p>
<p><u>龍蛋法</u></p>
<p>用雞子二三十個，打放一處，攪令勻，入豬尿泡內，懸於日月之下一夕，或蒸或煮，其蛋黃白自分。一法，黃昏裝入井內，至三更取出，煮之。</p>
<p><u>醬油法</u></p>
<p>用黑豆煮爛，濾起，放席上汙七日，取出曬乾，揣去皮殼，加鹽，同入水內泡，日曬至紅色，逐日撇上油水收起，撇至干，取出豆用。</p>
<p><u>椒醋法</u></p>
<p>香油一斤，煎滾，入釅醋一斤，再滾，取下入口椒於內，泡之，裝入壇內封因，用時取之。五六月間好制。</p>
<p><u>續勸善良規四十歌</u></p>
<p>一勸為官者，第一要循良，廉能治百姓，忠蓋報君王。</p>
<p>二勸為民者，先要納差糧，各人尊法度，免得受刑傷。</p>
<p>三勸為父者，教子以義方，窮則守家業，達則登廟廊。</p>
<p>四勸為母者，母心本慈祥，大小無厚薄，合室自安康。</p>
<p>五勸為夫者，家須自己當，婦言莫聽信，男子要綱常。</p>
<p>六勸為婦者，賢孝事姑嫜，莫把是非謗，謹守在閨房。</p>
<p>七勸為兄者，友弟義何長，莫因毫末利，手足各參商。</p>
<p>八勸為弟者，敬兄忠實腸，凡事須體諒，慎勿逞強梁。</p>
<p>九勸為子者，孝須奉高堂，竭力伕甘旨，承歡戲彩裳。</p>
<p>十勸為內者，妯娌莫相戕，大家要和睦，永世不分張。</p>
<p><u>十戒歌其二</u></p>
<p>一戒為士者，當乘駟馬車，必須通萬卷，還要惜三餘。</p>
<p>二戒為農者，耕種莫違時，不辭辛苦力，療得肚中飢。</p>
<p>三戒為工者，伎藝要精奇，寧將勤補拙，莫把懶添愚。</p>
<p>四戒為商者，為利各分離，切將花酒戒，莫負倚閭思。</p>
<p>五戒為親者，往來禮莫遺，未可交財利，因而親也疏。</p>
<p>六戒為鄰者，相敬莫參差，一時有患難，彼此要扶持。</p>
<p>七戒為友者，信義是良期，石交尤可近，面結莫相隨。</p>
<p>八戒為奴者，勤勞莫怨咨，不負主人意，何愁食與衣。</p>
<p>九戒為富者，貴在能設施，不然守財虜，未知留與誰。</p>
<p>十戒為貧者，休嫌陋巷居，甘貧無諂媚，做個好男兒。</p>
<p><u>十莫歌其三</u></p>
<p>一莫學奸詐，暗箭誰堤防，無辜被毒害，鑑察有穹蒼。</p>
<p>二莫去偷盜，犯之必有贓，輕軍重死罪，律條難隱藏。</p>
<p>三莫去賭博，為此破家囊，飢寒妻子怨，羸得淚成行。</p>
<p>四莫縱飲酒，醉後發顛狂，損身喪德行，惹禍起蕭牆。</p>
<p>五莫嗜色欲，欲乃殺身槍，雖然不見血，暗教性命亡。</p>
<p>六莫貪財利，人心無盡量，窮通各有分，不用苦奔忙。</p>
<p>七莫爭閒氣，到官何怕強，不如含忍好，省得賣田莊。</p>
<p>八莫學懶惰，一情百事荒，為人不努力，畢竟受淒涼。</p>
<p>九莫學慳吝，慷慨有何妨，浮生風裡燭，富貴雪中湯。</p>
<p>十莫要積惡，積惡有餘殃，勸人當積善，積善有餘慶。</p>
<p><u>十要歌其四</u></p>
<p>一要重身命，貴莫貴於斯，此身一輕棄，何用萬金資。</p>
<p>二要存好心，心田要坦夷，若還有欺罔，天譴罪難辭。</p>
<p>三要做好人，好人最難為，輕財還重義，有道更無私。</p>
<p>四要積陰騭，念念在於茲，廣行方便事，自有天上知。</p>
<p>五要守本分，莫去佔便宜，難割他人肉，補得自身衰。</p>
<p>六要循天理，公平無所欺，莫使兩鬥秤，暗裡把人虧。</p>
<p>七要能忍奈，忍得是良師，不忍小成大，過後悔時遲。</p>
<p>八要為勤儉，奢侈豈是規，勤乃起家本，儉乃鎮家基。</p>
<p>九要惜守陰，寸陰金不移，若教虛度過，老去徒傷悲。</p>
<p>十要有德量，寵辱不警疑，崒律如丘岳，汪洋若寵陂。</p>
<p>醫要活人，其來遠矣。但世醫徒知攻其已病，而不知治其未病。以余度之，與其能治於已病之後，不若預治於未病之先，乃於暇日吟成四十鄙歌，其中養生之道無弗備焉。然辭雖淺俗，俾世人見而易知，簡而易從，無論通顯之家，寒素之士，能預味之，則可以培養身心，而為太平考終之人矣，豈曰藥石云乎哉。否則心縱滅理，而陷於殞命殺身之地。良可慨夫。余不佞，敢附此於《仙方》之末，以為不病者鑑焉。</p>
<p><u>萬曆癸未仲春</u></p>
<p>金溪雲林山人龔廷賢書</p>
<p>括曰：</p>
<p>海上仙傳秘，人間杏作林，</p>
<p>誰知方藥簡，何畏病根深。</p>
<p>守業經三世，回生抵萬金，</p>
<p>但存斯卷在，不用召醫臨。</p>
<p>慶安三年仲夏之吉</p>
<p><u>室昕通鯉山町</u></p>
<p>小嶋彌左衛門刊</p>
