<header data-type="book">
<h1>存存齋醫話稿</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>趙晴初</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1881">公元1881年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十四冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521062">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>唐王勃撰醫話序一卷。即醫話之鼻祖也。宋張杲著醫說十卷。明俞弁著續醫說十卷。即醫話之導師也。迨前清作者如林。史典著願體醫話。黃凱鈞著友漁齋醫話。王士雄編柳洲醫話著潛齋醫話。毛祥麟著對山醫話。陸以湉著冷廬醫話。計楠著客塵醫話。柳寶詒著惜余醫話。丁福保著醫話叢存。先祖秀山公纂古醫格言。皆本各個人之閱歷。或話所聞。或話所見。或話所心得。或轉述師友之見聞。或指摘醫家之利弊。或憲章先聖之名言。雖各話當年陳跡。而言多精鑿。較之瀏覽醫書。尤有趣味。且足長見識而益智慧。昔老名醫趙晴初先生。得醫中三昧。年七十餘。猶著書不倦。親自手錄。作蠅頭行楷。在中年時。最喜訪道。申江與凌嘉六先年交相善。江蘇與馬培之先生誼尤深。曾為之跋紀恩錄。晚年在紹。與余為亡年交。頗莫逆。與之談醫。知無不言。言無不盡。夜雖深。無倦意。嘗謂余曰。「醫非博不能通。非通不能精。非精不能專。必精而專。始能由博而約。吾紹前輩金士哦陳念義以景岳全書為枕中秘。任䳄波案頭只一冊臨證指南。俞根初案上只一冊仲景傷寒論。可見心得處不在多也。然無心得者。不得以此籍口。欲求心得。正非多讀古今醫書不可。蓋不博。亦斷不能約也。」其言如此。可謂醫林佳話矣。與余會診時。亦不鮮見。其臨診辨證。反覆推詳。選藥制方。心思周到。往往一味佐藥。亦費幾許時刻思想而得。一得即全方靈透。歷驗如神。嘗著奇偶方選。約千餘方。方解亦甚簡明。醫案一冊。斷證確切。方案明通。皆足為後學師範。惜無刊本。即存存齋醫話稿五集。只有初二兩集。由孫瀛階陳晝卿兩先生為之序。姚靜庵先生代為刊行。不久其版散失。迄於今各書肆已無從購覓。本地如此。他省可知。同社友裘君吉生恐其書湮沒不傳。遍覓原版。雖幸而購到。已缺多頁。亟亟然為之重刻付印。茲於其將出板焉。囑余略敘其巔末於簡端。斯亦裘君表彰前哲之苦心也夫。</p>
<p><u>中華民國四年十一月望日何廉臣印岩識於蠡城臥龍山麓之宣化坊</u></p>

<h1>序</h1>
<p>余老友趙君晴初。生平手不釋卷。尤邃於軒岐之學。初不以醫自名。命劑輒效。有不可為者。顧能早決之。以是四方求治者。接踵無虛日。君猶慮耳目之隘也。虛心訪道。不憚涉歷。孜孜焉。汲汲焉。蓋靡刻不留意於活人濟世。余懵不知醫。而樂與君遊。嘗聆其緒論。闡發義理。剴陳利弊。足以拓醫家之胸臆。釋病者之迷罔。非鑽研深。閱歷久。不克臻是。每舉其所話。以話於朋輩中之從事於醫及見困於病者。惟恐其傳之不能遍也。又恐君之苦酬應。不遑燕居。而未嘗筆之於書也。一日。見示是編。受而讀之。則其活人濟世之懷。俱藹然流露於楮墨間。而知向之因其所話以覘其平日之鑽研閱歷者。猶只十一二焉。今年秋。其友姚靜庵廣文請付剞劂以行世。余亟慫恿之。爰不自揣譾陋。焉綴數語於簡端。且曩者欲遍布其話而不可得。而今乃得家置一編焉。並以志余之喜也。</p>
<p><u>光緒辛巳冬月同邑孫垓</u></p>

<h1>序</h1>
<p>事有古守其常而今窮其變者。法家例醫家方其是已。夫事物變無窮也。有其備之變。更出所備外。故變無窮。窮其變者有窮。變無窮。窮其變者當與為無窮。自非挾百試之才。享神明之壽。多其閱歷。神其頴悟。鮮有能相劘相守。以窮無窮之變者。古錦充囊。積羽折軸。而成書出焉。晴初趙子。精於醫。無虛日。年且老。成醫話一書。其言曰。意度者勿錄也。道聽者勿錄也。襲古與違古勿錄也。違古而適合乎古。食古而不泥乎古。時或拾古之遺。糾古之失。補古之闕。釋古之疑。或日一得焉。或月一得焉。或積日月而竟無得焉。蓋四十年於茲矣。夫岐黃而下至於仲聖。亦猶夫人耳。某藥藥某病。某病藥某藥。上古固無書讀也。彼何師而得之與。得之病耳。問得其由。切得其象。而病詔我矣。問得其象中由。切得其由中象。而病又詔我矣。雖然。中一矢而曰吾善射。捷一戰而曰吾善兵。是強獄隸著刑書也。神而明之存乎證。以問證切。以切證問。以甲證乙。以一證千。而同中之異出焉。夫是之為病證。證者。證也。法家所謂比例。例者。比也。無以比諸。烏乎例諸。無以證諸。烏乎治諸。如晴初者。可謂老於證治。而善讀書者矣。顧自以為是焉可乎。誤於兩似而得其一真。悔於百非而衷於一是。是則窮其變而又善自變之說也。晴初之話醫也。暴其短。不炫其長。幸其得。猶悔其失。粹然儒者之言。其臨證也。如駕危檣。行大川。守孤城。御勍敵。一不得當。而覆敗隨之。其生人殺人。不有甚於亭疑獄之平者乎。抑予更有感於天地之好生焉。慮陰陽飲食之殺吾生也。苦不自知。而脈也貢之。又博生萬物。俾各能入人而藥之。向非聖人。又誰與起病者而試嘗之。此造物之所以大也。不明乎此。而假手於庸庸者流。幾何而不蹈殺人之律乎哉。嗚呼危哉。予向不能醫。不幸而先人皆痛於沉痼。其於病也。三折肱矣。讀晴初書。為言天下事物之變之無窮而未易窮其變也。其見於一人之身者已如此。</p>
<p><u>時光緒癸未五月山陰陳錦作於蕺山講舍</u></p>

<h1>卷一</h1>
<p>〔一〕醫話不知始於何人。殆濫觴於詩話而有是目。余所見者。願體醫話友漁齋醫話柳洲醫話潛齋醫話凡四種。願體醫話中多載良方。惟前列醫話十二則。故一名願體醫話良方。友漁齋醫話則分一覽延齡橘旁雜論上池涓滴肘後偶鈔證治指南藥籠小品為六種。柳洲醫話乃王孟英輯魏柳洲玉橫續名醫類按中按語單方。為柳洲醫話。故一名柳洲醫話。良方。潛齋醫話則錄簡效方於前。載醫話於後。故一名潛齋簡效方。同一醫話。其體例不同有如是。余自已冠後。喜讀醫書。有所見聞。隨手識之。間附以心得。以備他日之參考。然已遺失者多矣。戊寅秋。杜門養疴。因檢舊笥。得若干條。命兒子錄出成帙。重為芟潤之。標其名為醫話稿。蓋話所見。話所聞。並話所得。拉雜不分門類。亦全無體例也。稱稿者。明非定本也。條首編以數目字者。欲教我者有可專指。且前條於理有誤。後條可糾正。於義未盡。可重申。有意同者。可參合。有引證者。可披尋。所以清眉目也。引用書有購求數年而始得。有輾轉借閱者。內有世少傳本之書。均記作者姓氏年世。思存古書之名目也。先得二卷。友人姚靜庵廣文見而韙之。以為可以問世。囑乃弟秋岩付諸手民。余固辭不獲。惟有道君子。指其謬疵。而進以高深。則幸甚。〔仲圭按〕此條乃作者自敘。</p>
<p>〔二〕願體醫話曰。「今創一議。無論內外大小。一年之中。豈無一二奇證。若懷之胸臆。則近於秘道不傳。若登之棗梨。又礙於少難成帙。何不於三五知己中。每於歲底。各出所治奇病。觀何證。服何藥。如何療。如何愈。共成一卷。以為醫按。多年增廣。亦是不朽之舉。庶使後人有跡可循。而無識認不真之憾矣。功不在盧扁下也。然近日又有一種時弊。凡遇疾病危險。諸醫會集。其中學術平常者。不過輕描淡寫。而識見高明者。若欲另立意見。惟恐招人妒忌。萬一不效。又慮損名。瞻前顧後。亦是大同小異了事。殊不知上天賦我聰明才智。若臨證之際。不費一番思索。不用一番心血。代天宣化。救濟蒼生。只於此中求富貴。顧聲名。以他人性命。痛癢無關。生死聽天。清夜思之。能無自愧。」按願體醫話一卷。揚州史搢臣典所著。皆時醫藥石之言。多急救生全之法。孳孳為善。可謂無微不至。陳文恭公謂「史君飽諳世故。曲體人情。其言質直而透切。智愚易曉。」偶錄一則。藹然仁者之言。切中時弊之論。窺見一斑矣。</p>
<p>〔三〕柯韻伯先生「氣上騰便是水」一語。最足玩味。蓋陽氣凝結。津液不得上升。以致枯燥。治宜溫熱助陽。俾陰精上交陽位。如釜底加薪。釜中之水氣上騰。而潤澤有立至者。仲聖以八味腎氣丸治消渴。亦此義。以肺為五臟六腑之華蓋。下有暖氣上蒸。即潤而不渴。若下虛極。則陽氣不能升。故肺干而渴。譬如釜中有水。以板蓋之。下有火力。暖氣上騰。而板能潤。無火力。則水氣不能上板。終不可得而潤也。然枯燥由於陰竭者。則是泉源既竭。必須大劑濡養頻服。如救焚然。始克有濟。同一枯燥證。有陰凝陰竭之分。二證霄壤懸殊。萬一誤投。死生立判。不可不細審也。</p>
<p>〔四〕痰屬濕。為津液所化。蓋行則為液。聚則為痰。流則為津。止則為涎。其所以流行聚止者。皆氣為之也。龐安常有言。「人身無倒上之痰。天下無逆流之水。故善治痰者。不治痰而治氣。氣順。則一身之津液亦隨氣而順矣。」余謂「不治痰而治氣」一語。為治痰妙諦。蓋痰之患由於液不化。液之結由於氣不化。氣之為病不一。故痰之為病亦不一。必本其所因之氣。而後可治其所結之痰。醫旨緒餘曰。「治痰當察其源。」倘以二陳統治諸痰。因於濕者固宜。使無濕則何以當之。如因於火。則當治火。火降金清。秋令乃行。水無壅遏。痰安從生。丹溪朱氏曰。「黃芩治痰。假其下火。」正謂此也。余可類推。</p>
<p>〔五〕河間劉氏曰。「腸胃鬱結。穀氣內發而不能宣通於腸胃之外。故善噫而或下氣也。」余謂噫與下氣。即屬宣通。所以肝胃病往往得噫與下氣稍瘥也。雖不能宣通於腸胃之外。而猶得宣通於腸胃之上下也。</p>
<p>〔六〕大黃同附桂用。是溫下法。葉氏醫按痢門。姚頤真用大劑肉蓯蓉配姜附。是即溫下法化為溫滑法。瀉心湯姜連並用。是苦辛開降法。馬元儀印機草中乾薑同栝蔞用。是即苦辛開降法化為辛潤開解法。栝蔞潤燥開結。蕩熱滌痰。為胸膈熱鬱之聖藥。其性濡潤。謂之滑腸則可。若代大黃作下藥用則不可。吾鄉章虛谷有蔞仁辨。言之甚詳。</p>
<p>〔七〕余治一暑濕證。已熱退神清。胃動進食矣。忽急柬邀診。仍發熱神昏。更加氣喘。細詢因吃粥油三四盞。遂致此。餘力辭。病竟不起。閱本草綱目拾遺言。「粥油能實毛竅。滋陰之功勝熟地。」暑濕初愈服此。安得不復發而增劇耶。又袁了凡先生曰。「煮粥飯。中有厚汁滾作一團者。此米之精液。食之最能補精。」又紫竹林單方治精清不孕方。用粥油。日日取起。加煉過鹽少許。空心服下。其精自濃。</p>
<p>〔八〕人知息道從口鼻出入。不知遍身毛竅。俱暗隨呼吸之氣以為鼓伏。所以外感表實證。毛竅阻而氣機不能相引。則發喘。內傷表虛證。汗多亡陽。毛竅開而氣機過泄。則息微。</p>
<p>〔九〕洄溪徐氏謂天士葉氏。每以絡字欺人。其實徐氏軀殼臟腑經絡論有云。「人有皮肉筋骨。所謂軀殼也。而虛其中。則有臟腑以實之。其連續貫通者。則有經有絡。貫乎臟腑之內。運乎軀殼之中。為之道路。以傳變周流者也。」是明知有絡。而每詆之。何也。或云。徐批葉案非真本。乃託名者。</p>
<p>〔十〕朴硝火硝咸名硝石。咸生鹵地。假水火二大以為形質。朴硝屬水。味鹹氣寒。性下走。故能推蕩腸胃積滯。折治三焦邪火。火硝屬火。味辛帶苦微咸。而氣大溫。性上升。故能破積散堅。治諸熱病。升散三焦火鬱。朴硝治熱之結。火硝治熱之郁。一就下。一達上也。火硝投之火中則焰生。朴硝則否。其性從可知矣。紫雪丹中二硝並用。是熱鬱欲其達。熱結欲其降也。瀕湖李氏曰。「火硝與硫黃同用。則配類二氣。均調陰陽。有升降水火之功。治冷熱緩急之病。煅制礞石。則除積滯痰飲。」蓋硫暖而利。其性下行。火硝暖而散。其性上行。礞石之性寒而下。火硝之性暖而上。一升一降。一陰一陽。此制方之妙也。奈汪訒庵醫方集解中礞石滾痰丸。誤以朴硝制礞石。藥肆不察。竟遵其法。蓋同名硝石。汪氏不及詳考。而一字之訛。藥性頓異。大背古人立方之意矣。用辨明之。</p>
<p>〔十一〕世間真虛損少。假虛損多。自患虛損者少。做成虛損者多。歙南吳師朗有鑑於此。著不居集一書。取易傳「變動不居」之義而名其書也。書分上下二集。上集內損。以陰陽五臟內虧立論。下集外損。以六淫外入。似損非損立論。蓋緣內外不分。真假莫辨。印定滋陰降火之一法。以治無定萬變之病情。不虛而做成虛。不損而做成損。良可浩嘆。是書糾繆繩愆。獨開生面。厥功豈不偉哉。惜其論治立方。鋪排門面。無甚精義可咀嚼。竊恐仿其法而施治。未必的有效驗。然能喚醒病家醫家。俾共知有外損之一途。不徒從事於蠻補。由是深思其故。神而明之。則此書安可不讀。（師朗名澄。其自序在乾隆四年。刊書在道光十五年。）〔仲圭按〕虛損之範圍甚廣。近世流行之肺勞遺精等病。殆亦虛損之屬。治肺勞以十藥神書為最佳。而保真保和二湯尤妥。治久遺則林屋山人之加減地黃湯。亦平正可法。</p>
<p>〔十二〕洄溪醫案治毛姓痰喘。乃上實下虛證。用清肺消痰飲。以人參一錢。切小塊送下。二劑而愈。毛曰。「徐君學術固深。但人參切塊之法。此聰明人以之炫奇耳。」後病復作。照前方加人參入煎。而喘愈甚。復延徐。謂「服舊方而病有加。」徐曰。「得非人參與藥同煎耶。」曰「然。」曰「宜其增病也。」仍以參作塊服之。亦二劑而愈。蓋下虛固當補。但痰火在上。補必增劇。惟作塊後入。則參性未發。而清肺之藥已得力。迨過腹中。而參性始發。已達下焦。方有益而無害也。此等治法。古人有行之者。特不察耳。按清肺消痰飲加人參。方也。參切塊吞下。法也。古人有方必有法。如桂枝湯服已。須啜熱稀粥。以助藥力而取汗。附子瀉心湯。附子用煎。三味用泡。扶陽欲其熟而性重。開痞欲其生而性輕。若此之類。不勝枚舉。其方其法。絲絲入蔻。細心體會。妙義始見。族侄柏堂謂余言。二十一歲時。酒後寐中受風。遍身肌膚麻痹。搔之不知痛癢。飲食如常時。淮陰吳鞠通適寓伊家。請診。吳用桂枝湯。桂枝五錢。白芍四錢。甘草三錢。生薑三片。大棗兩枚。水三杯。煮二杯。先服一杯。得汗止後服。不汗再服。並屬弗夜膳。臨睡腹覺飢。服藥一杯。須臾啜熱稀粥一碗。覆被取汗。柏堂如其法。只一服。便由頭面至足。遍身漐漐得微汗。汗到處以手搔之。輒知痛癢。次日病若失。此用古方古法也。假令此證知用桂枝湯。而不知啜熱稀粥。恐未必得汗。即使稍有汗。去病豈能若是之盡且速耶。</p>
<p>〔十三〕慎齋遺書曰。「一婦泄瀉。兩尺無神。此腎燥不合也。醫用茯苓益智仁即發暈。因用肉蓯蓉三錢以潤之。五味子八分以固之。人參一錢以益其氣。歸身八分以養其血。白芍甘草以和其中。炮姜二分以安其腎。二帖效。十帖愈。丸即前方加倍。蜜丸。」張東扶曰。「余因慎齋『腎燥不合』之語。因思精滑一證。理亦同情。蓋腎屬水。水虧則燥。水燥則無以養肝。木無水養。則燥而生火。腎既失其封蟄之職。不合而開。肝遂恣其疏泄之性。因開而泄。愈泄則愈燥。愈燥則愈開。此時徒清火。徒兜澀。無益也。必用潤藥潤其腎。則燥而不合者可以復合。而且肝得所養。火亦不熾。何致疏泄之性。一往不返哉。立方之法。潤腎為君。而兼用清肺補肝之品。」按「腎燥不合」一語。未經人道。似奇創。然具有至理。凡物潤則堅密無縫。燥則綻裂有痕。腎開竅於二陰。腎耗而燥。其竅開而不合矣。</p>
<p>〔十四〕瘧證以日作者輕。間日者重。此不可拘。若日作而寒熱之時短。其勢又不甚。則誠輕。倘勢盛而時又長。反不如間日者尚有休息之一日也。胡可云輕。又瘧發漸早為易痊。漸晏為未止。亦不可拘。如發漸早而熱退之時照舊。則其寒熱加長矣。愈長則正氣愈虛而加劇。如發漸遲而熱退之時照舊。則其寒熱漸短矣。短則邪氣愈衰而自止。又夜瘧皆云邪入血分。當用血藥。以提其邪。說固可通。景岳歸柴飲。鼓峰香紅飲。二方俱佳。然初起在夜。嗣後不早不晏。始終發於夜者是也。設趲前漸近日昃。縮後已至日出。皆不得謂之夜瘧矣。此古今醫案按中語也。此語亦未經人道。古今醫案按。嘉善俞東扶震所著。嘉慶時人。</p>
<p>〔十五〕本草謂豬肉助火生痰。發風動氣。於人有損無益。鄒潤安謂坎為豕。在地支則屬亥。不但養胃。其補腎水有專能。本草損人之說。汪訒庵亦不以為然。惟脾虛濕盛之人。有釀痰滑瀉之弊。時疫流行之際。有壅濁召疾之虞耳。製為蘭薰。俗呼火腿。補虛開胃。病後最宜。按古人以豬肉作藥物者不多見。續名醫類案中一則。特錄出。汪赤厓治張姓夏月途行受暑。醫藥半月。水漿不入。大便不通。唇焦舌黑。骨立皮乾。目合肢冷。診脈模糊。此因邪熱熏灼。津血已枯。形肉已脫。亡可立待。若僅以草木根皮。滋養氣血。何能速生。囑市豬肉四兩。粳米三合。用汁一碗。又梨汁一杯。蜜半杯。與米肉汁和勻。一晝夜呷盡。目微開。手足微動。喉間微作呻吟。如是者三日。唇舌轉潤。退去黑殼一層。始開目能言。是夜下燥屎。脈稍應指。再與養陰。匝月而愈。（溫熱經緯言。溫疫證邪火已衰。津不能回者。宜用鮮豬肉數斤。切大塊。急火煮清湯。吹淨浮油。恣意涼飲。乃急救津液之無上妙品。按此法必須用在邪火已衰之後。）因憶族兄雲濤病痰飲氣喘。身軀肥胖。行不數武。輒喘甚。因偕同志聘吳鞠通來紹。時道光乙酉也。吳以大劑石膏半夏等。治之數月。喘漸平。痰亦少。身軀頓瘦。愈後即登高亦不作喘。案載吳氏醫案中。鞠通歸淮陰。瀕行時。囑弗食豬肉。後偶食之。即覺痰多。身軀復驟胖。嗣後終身不敢食豬肉。此痰濕證忌食豬肉之一徵也。又失音證忌食火腿及皮蛋。余親見患失音人食二物增劇。</p>
<p>〔十六〕營衛之氣。出入臟腑。流布經絡。本生於穀。復消磨其谷。營衛非谷不能充。谷非營衛不能化。是營衛者。生身之大關鍵。不特營衛自病當注意。即臟腑有病。亦當顧及營衛也。內經謂「五臟之道皆出於經隧。以行血氣。血氣不和。百病乃生。是故守經隧焉。」夫所謂經隧者。非營衛所行之道路乎。出於經隧。以行血氣者。是由內而外行於營衛。血氣不和。百病乃生者。是由內而外行之血氣。或行之不及。或行之太過。或偏於營。或偏於衛。皆為不和也。行之不及。則內不化而外不充。行之太過。則枝強而干弱。偏於營則陰勝。偏於衛則陽勝。百病乃生。自然之理也。是則營衛豈不為生身之大關鍵哉。醫者治病。遵內經守經隧之訓加意於營衛可也。讀金匱要略營衛不利。則腹滿脅鳴。相逐氣轉。營衛俱微三焦無所御。四屬斷絕。身體羸瘦。益見榮衛之足重矣。即如痢疾一證。有寒熱表證者。咸知有關於營衛。此外則以病輕在腑。病重在臟。罔不謂內病也。而孰知王肯堂證治準繩論痢之舊積新積。歸重於營衛。內經守經隧之一語。此其一端歟。取其明白易曉。特拈出以印證之。其言曰。「積有新舊之分。舊積者。氣血食痰所化也。新積者。舊積已去。未幾而復生也。然舊積宜下。新積禁下。其故何也。蓋腸胃之熟腐水穀。轉輸糟粕者。皆營衛灑陳於六腑之功。今腸胃有邪。則營衛運行之度。為之阻滯。不能施化。故衛氣鬱而不舒。營氣澀而不行。於是飲食積痰停於胃。糟粕留於腸。與氣鬱血澀之積。相挾而成滯下矣。必當下之。以通其壅塞。既下之後。升降仍不得行。清濁仍不能分。則衛氣復郁。營氣復澀。又覆成新積。烏可復下之乎。但理其衛氣。並和其營血。以調順陰陽。則升降合節。積亦不滯而自化矣。」</p>
<p>〔十七〕短氣與少氣有辨。少氣者。氣少不足於言。內經云。「言而微。終日乃復言者。此奪氣是也。」氣短不能相續。似喘非喘。若有氣上衝。故似喘而不搖肩。似呻吟而無痛是也。金匱要略曰。「平人無寒熱。短氣不足以息者。實也。」無寒熱。無表邪。可知其短氣不足以息者。非關邪束於外。毛竅有阻。而息道為之不利。蓋由裡氣因邪而實。或痰或食或飲。礙其升降之氣致然耳。此條當與第八條參看。</p>
<p>〔十八〕學醫猶學奕也。醫書猶奕譜也。世之善奕者。未有不專心致志於奕譜。而後始有得心應手之一候。然對局之際。檢譜以應敵。則膠柱鼓瑟。必敗之道也。醫何獨不然。執死方以治活病。強題就我。人命其何堪哉。故先哲有言曰。「檢譜對奕奕必敗。拘方治病病必殆。」丹溪朱氏亦曰。「古方新病。安有能相值者。泥是且殺人。」由是言之。世所傳經驗單方。往往僅標治某病。而不辨別脈證。其間清和平淡之品。即不對證。試用尚無大礙。若剛暴猛烈之藥。用者尚其慎之。余親見一婦人。用密陀僧截瘧。一男子用蘄蛇酒治痛風。皆頃刻告殂。與服毒無異。又張石頑曰。「或問近世治黃癉病多用草頭單方。在窮鄉絕域。猶之可也。城郭愚民亦多效尤。仁人鑑此。豈不痛哉。嘗見有服商陸根苦匏酒過山龍雪裡青鹿蔥等汁。吐利脫元而死者。指不勝屈。曾有孕婦病黃。誤用瓜蒂搐鼻。嘔逆喘滿。致胎息上衝。慘痛叫號而斃。設當此際。得何法以救之耶。答言。是皆宿孽使然。與飛蛾觸火無異。欲救之者。惟廣行刊布。垂誡將來。勿蹈前轍。庶不失仁人之用心。欲手挽已覆之車。吾末如之何也。」按此則。草頭單方之誤人。為禍尤烈。第瓜蒂搐鼻治黃。是仲聖法。因不知孕婦應忌。而誤用致斃。拘方治病病必殆。斯言洵不誣矣。至用商陸根等。猶舉其名。當其誤用時。或能知何藥之誤。尚可設法解救。特有一種以草藥治病者。輾轉傳授。謬稱秘方。僅識其形狀氣色之草藥。採而用之。在用者自己。尚不能舉其名。而且先揉搗之。使人莫能辨識。故神其說以惑人。治或得效。則群相走告。詫為神奇。後凡遇是病。以為業經試驗之方。放膽用之而不疑。一服未效。再服三服。殊不知效於此者。未必效於彼。以病有淺深。體有強弱。證有寒熱虛實。斷不能執一病之總名。而以一藥統治之也。且草藥之用。往往力專而性猛。藥病偶或相當。其奏功甚捷。一不相當。亦禍不旋踵。深願世之明哲保身者。守未達不敢嘗之訓。萬弗以性命為試藥之具。並輾轉勸誡。俾共知用藥治病。雖專門名家。尚須詳細體察。詎可輕服草藥。存僥倖之心。致蹈不測之禍哉。</p>
<p>〔十九〕婁全善醫學綱目治血崩類用炭藥。以血見黑則止也。香礬散用香附醋浸一宿。炒黑為炭。存性。每一兩。入白礬二錢。米飲空心調服。一法用薄荷湯更妙。（許學士曰。治下血不止。或成五色崩漏。香附是婦人聖藥。）此氣滯者用行氣炭止之也。五靈脂散治血崩。用五靈脂炒令煙盡。為末。每服一錢。溫酒調下。一法每服三錢。水酒童便各半盞煎服。名抽刀散。此血汙者用行血炭止之也。荊芥散治血崩。用麻油點燈。多著燈心。就上燒荊芥焦色。為末。每服三錢。童便調下。此氣陷者用升藥炭止之也。治崩中不止。不問年月遠近。用槐耳燒作炭為末。以酒服方寸匕。此血熱者用涼血炭止之也。如聖散治血崩。棕櫚烏梅各一兩。乾薑一兩五錢。並燒炭存性。為細末。每服二錢。烏梅酒調下。空心服。久患不過三服愈。此血寒者用熱血炭止之也。棕櫚白礬煅為末。酒調服。每二錢。此血脫者澀血炭止之也。按同一血崩證。同一用炭藥。而條分縷晰有如是。治病用藥。首貴識證。可一隅三反矣。（炭原本作灰。）</p>
<p>〔二十〕徹剩八編內鏡曰。身內有三貴。熱以為生。血以為養。氣以為動覺。故心肝腦為貴。而余待命焉。血所由生。必賴食化。食先歷齒刀。次歷胃釜。粗細悉歸大絡。細者可升至肝腦成血。粗者為滓。於此之際。存細分粗者脾。包收諸物害身之苦者膽。吸藏未化者腎脾也。膽也腎也。雖皆成血之器。然不如肝獨變結之。更生體性之氣。故肝貴焉。心則成內熱與生養之氣。腦生細微動覺之氣。故並貴也。或問三貴之生氣如何。曰。肝以竅體。內收半變之糧。漸從本力全變為血。而血之精分。更變為血露。所謂性體之氣也。此氣最細。能通百脈。啟百竅。引血周行遍體。又本血一分。由大絡入心。先入右竅。次移左竅。漸至細微。半變為露。所謂生養之氣也。是氣能引細血周身以存原熱。又此露一二分。從大絡升入腦中。又變而愈細愈精。以為動覺之氣。乃合五官四體。動覺得其分矣。主制群微曰。人身濕熱而已。熱恆消濕。無以資養。則膚焦而身毀矣。故血者。資養之料也。血以行脈。脈有總曰絡。絡從肝出者二。一上一下。各漸分小脈至細微。凡內而臟腑。外而膚肉。無不貫串。莫定其數。脈之狀似機。其順者因血勢而利導之。斜者留血毋退。橫者送血使進也。脈之力又能存血。不合則壞。血合於痰。乃克順流。合於膽。乃免凝滯。合於體性之氣。乃啟諸竅。導之無閉塞也。從心出者。亦有二大絡。一上一下。細分周身。悉與肝絡同。所不同者。肝引血存血。此專導引熱勢及生養之路耳。心以呼吸進新氣退舊氣。直合周身。脈與之應。少間不應。輒生寒熱諸證。醫者必從三部躍動之勢。揣知病源。蓋以此也。腦散動覺之氣。厥用在筋。第腦距身遠。不及引筋以達百肢。復得頸節膂髓。連腦為一。因遍及也。腦之皮分內外層。內柔而外堅。既以保存生身。又以肇始諸筋。筋自腦出者六偶。獨一偶逾頸至胸下。垂胃口之前。余悉存項內。導氣於五官。或令之動。或令之覺。又從膂髓出筋三十偶。各有細筋旁分。無膚不及。其與膚接處。稍變似膚。始緣以引氣。入膚充滿周身。無不達矣。筋之體。瓤其里。皮其表。類於腦。以為腦與周身連接之要約。即心與肝所發之脈絡。亦肖其體。因以傳本體之性於周身。蓋心肝與腦三者。體有定限。必藉筋脈之勢。乃能與身相維相貫。以盡厥職。否則。七尺之軀。彼三者何由營之衛之。使生養動覺各效靈哉。無可注曰。此論以肝心腦筋立言。是靈素所未發。以上二則。從鈔本醫書錄出。未詳作者姓氏。其說與泰西所著全體新論等書所言略同。而泰西諸書。與王勳臣所著醫林改錯所論亦略同。按泰西醫書與醫林改錯。為醫家所當參閱。以目稽勝於懸揣也。然其言臟腑之功用及氣機之流行。不無可議處。重慶堂隨筆評泰西書。信其可信。闕其可疑。兩言韙矣。仁和徐然石書醫林改錯後曰。易云。天地定位。山澤通氣。人身軀殼以內。物位之定也。飲食之化精。化液。化血。化大小便。氣之通也。信先生明位之定而執之。竊疑先生未能擴氣之通而充之也。此數言亦中肯。</p>
<p>〔二十一〕內經言。「胃中悍氣。循咽而上。沖頭中。外行諸竅。」可知頭汗出者。濕熱隨胃中悍氣上蒸故也。又人逢飲食輒頭汗出。甚者頭上熱氣蒸騰如煙霧。俗謂之「蒸籠頭。」此殆飲食入胃。飲氣食氣。輒隨胃中悍氣上衝。是天稟然也。</p>
<p>〔二十二〕何西池醫碥煎藥用水歌曰。「急流性速堪通便。宣吐回瀾水最宜。（即逆流水）百沸氣騰能取汗。甘瀾勞水意同之。黃齏水吐痰和食。霍亂陰陽水可醫。新汲無根皆取井。除煩去熱補陰施。地漿解毒兼清暑。臘雪寒冰熱疫奇。更有輕靈氣化水。奇功千古少人知。堪調升降充津液。滋水清金更益脾。」按甘瀾水用水置盆。杓揚萬遍。亦名勞水。古人言水性咸而體重。勞之則甘而清。取其不助腎氣。而益脾胃也。又言揚之萬遍。取動極而靜之義。愚謂後說近是。試取仲聖所用甘瀾水方細繹之。其義自見。氣化水者。以水蒸汗。如蒸花露法。一名氣汗水。一名水露。內經謂地氣上為云。天氣下為雨。上為云者。水化為氣也。下為雨者。氣化為水也。水化為氣。則津液上騰。可潤上燥。氣化為水。則膏澤下布。可滋下涸。用水蒸氣。氣復化水。有循環之妙理。得升降之元機。不但可取以煎藥。燥火證口渴者。取而飲之。不亦宜乎。</p>
<p>〔二十三〕吳渭泉治大便燥結。糞後便血。用生豆腐漿七分。荸薺汁三分。約共一茶碗。將豆腐漿熬滾。和冰糖少許。沖荸薺汁。空心溫服。蓋荸薺甘寒而滑。開胃消食。除熱止血。豆漿乃清熱散血。下大腸濁氣。又雞鳴錄治女人帶下屬濕盛者。松石豬肚丸每早淡豆腐漿送服三錢。又仁和何惠川輯文堂集驗方治痰火年久不愈者。用飴糖二兩。豆腐漿一碗。煮化多服即愈。又雞蛋豆腐漿沖服。久則自效。蓋雞蛋能去喉中之風也。余治一幼童喉風證。與清輕甘涼法。稍加辛藥。時止時發。後有人教服雞蛋。頂上針一孔。每日生吞一枚。不及十枚。病愈不復發。此雞蛋能去喉風之一徵。</p>
<p>〔二十四〕雞鳴錄治噎膈方。用川黃連去毛。細切。二兩。以水九碗。煎至六碗。再加水六碗。煎至三碗。下赤金紋銀各一錠。每重二兩。浸湯內。大田螺五十個。洗淨。仰置盤中。以黃連汁挑點螺靨。頃刻化水。用絹濾收半碗。將田螺水同黃連汁金銀共入瓷鍋內。煎至碗半。下蘆菔汁小半碗。無蘆菔時。以蘆菔子煎取濃汁用。同煎至碗半。下韭汁小半碗。次下側柏汁小半碗。次下甘梨汁小半碗。次下竹瀝小半碗。次下瑩白童便小半碗。俱以煎至碗半為候。將金銀取起。下醲白人乳一大碗。次下羊乳一大碗。次下牛乳一大碗。俱以煎至一碗為候。成膏。入瓷罐內。封口埋土內一伏時。每用一茶匙。開水調服。極重者三服必愈。如湯水不能進者。將膏挑置舌上。聽其滲入咽喉。自能飲食。但愈後須食糜粥一月。方可用飯。此方清火消痰。去瘀下氣。養營潤燥。系京口何培元家秘傳。能挽回垂絕之證。故顧松園醫鏡名曰再造丹。按內經曰。「三陽結為之膈。」三陽結者。大腸小腸膀胱熱也。小腸結熱則血脈燥。大腸結熱則後不圊。膀胱結熱則津液涸。三陽俱結。前後秘澀。下既不通。必反上逆。此所以噎食不下。從下而逆上也。又昔人指噎膈為血液枯槁。沉痼之疾。非大劑無濟於事。此方製法頗精。煎膏釀厚。藥力甚大。正合嘉言喻氏所謂「能變胃而不受胃變」之義。　良工調劑之苦心。有如是夫。</p>
<p>〔二十五〕重慶堂隨筆謂。木通味苦。故瀉心火由小腸出。諸本草皆云甘淡。或言微辛。豈諸君不但未經口嘗。且蒭蕘亦未詢乎。按木通古名通草。今之通草。古名通脫木。云木通味甘淡。或通草之傳誤。未可知。其實今之木通味極苦且劣。世謂黃連是苦口藥。殊不知黃連之味。苦而清。木通之味。苦而濁。葉氏醫案以蘆薈入湯劑。徐氏批曰。「請自嘗之。方知其苦。」願以斯語移之木通。且木通性極迅利。不宜多用。余友沈杏田言。曾見一小兒。誤服重劑木通湯藥。小便遂不禁。繼之以白膏。如精狀。叫號慘痛而死。死後溺竅端。猶有精珠數粒。用木通者。其審慎之。</p>
<p>〔二十六〕人身內外作兩層。上下作兩截。而內外上下。每如呼吸而動相牽引。譬如攻下而利。是泄其在內之下截。而上截之氣即陷。內上既空。其外層之表氣。連邪內入。此結胸之根也。譬如發表而汗。是疏其在外之上截。而在內之氣跟出。內上既空。其內下之陰氣上塞。此痞悶之根也。識此在上禁過汗。在內慎攻下之法。後讀仲聖傷寒論結胸及痞塞諸證。則冰消雪化矣。此高學山傷寒尚論篇辨似中語。自昔名醫。無不以陰陽升降。盈虛消長。而為劑量准。如上所云。誤下變結胸。是陽湊於陰也。誤汗作痞悶。是陰乘於陽也。蓋陰陽各有定位。升降自有常度。此盈者彼必虛。此消者彼必長。醫事之補偏救弊。變化生心。端在是矣。繆宜亭醫案中引盧氏之言曰。「不得橫遍。轉為豎窮。」此二語甚妙。橫遍者自內而外。由陰出陽也。豎窮者。直上直下。過升過降也。此陰陽升降盈虛消長之理也。推此二語。為引申數言於後。質之高明。「下既不通。必反上逆。不得上達。轉為橫格。上游塞阻。下必不通。中結者不四布。過泄者必中虛。」</p>
<p>〔二十七〕黃連厚腸胃之說。竊嘗疑之。以謂厚者對待薄者而言者也。必使薄者不薄。始可謂之厚。若謂黃連能除濕熱。即是厚腸胃。其於厚字之義。終未安也。迨歷臨痢證。往往滓穢夾脂膜以俱下。名曰腸垢。亦名刮腸痢。乃恍然悟平人腸胃內。本有脂膜。柔韌黏膩。緊貼於腸胃之四周。因病痢消爍逼迫而下。因下而腸胃內四周之脂膜漸薄。用黃連清濕熱。去其消爍逼迫之源。俾脂膜仍舊緊貼腸胃之內。乃所謂厚耳。雖然。腸與胃原一氣貫通。但胃是胃。腸是腸。詎可混言。痢疾下腸垢。未聞下胃垢也。有刮腸痢。未聞有刮胃痢也。而且腸勢盤曲。中空無幾。濕熱攪擾。易及周遭。或邪氣刮脂膜而下行。或積穢曳脂膜以下出。若夫胃體廣大。藏垢納汙。縱有濕熱。未必傷及邊際。剝及脂膜也。於是黃連厚腸胃之說。竊又疑之。疑胃字之未安也。及考別錄則曰。「調胃厚腸。」益恍然悟黃連厚腸胃之說。系後人混而稱之。非別錄之本文也。黃連能除胃中之濕熱。使胃氣復其沖和。故謂之調。黃連能除腸內之濕熱。使腸內脂膜不致消爍逼迫而下。故謂之厚。於以知古人下語。一字不苟。其精切有如是。〔仲圭按〕黃連何以能厚腸。余嘗為文論之。蓋黃連有收斂制酵。及刺激腸黏膜並其附近之淋巴管。使淋巴球增殖。以增加抵抗力而消退炎症之效。又痢之病原。為變形蟲及志賀氏菌。黃連能使淋巴球激增。以撲滅病源一也。黃連有消炎作用。能消退腸壁之炎症。二也。黃連有收斂功能。能結合腸壁之潰瘍。三也。且其性斂而帶清。勿論初痢久痢。無不合拍。四也。觀此。本品所以能厚腸及為腸澼要藥之故。不難渙然冰釋矣。</p>
<p>〔二十八〕千金方言。凡人好患齒痛。多由月蝕夜餐飲之所致。識者深宜慎之。所以日月蝕未平時。特忌飲食。按此說知者不多。為拈出。又養生家言。今人漱齒。每以早晨。是倒置也。凡一日飲食之垢。積於齒縫。當於夜晚刷洗。則滓穢盡去。故云「晨漱不如夜漱」。</p>
<p>〔二十九〕雞峰普濟方五噎諸氣論曰。此病不在外。不在內。不屬冷。不屬熱。不是實。不是虛。所以藥難取效。此病緣憂思恚怒。動氣傷神。氣積於內。氣動則諸證悉見。氣靜則疾候稍平。手捫之而不得疾之所在。目視之而不知色之所因。耳聽之而不知音之所發。故針灸服藥。皆不獲效。此乃神思（原本作意字）間病也。頃京師一士人家。有此疾證。勸令靜觀內養。將一切用心力事。委之他人。服藥方得見效。若不如是。恐卒不能安。但依此戒。兼之灼艾膏肓與四花穴及服藥。可以必瘥。孫真人云。婦人嗜欲多於丈夫。感病倍於男子。加以慈戀愛憎。嫉妒憂恚。染著堅牢。情不自抑。所以為病根深。療之為艱差。按神思間病。乞靈藥物。竊恐盧扁亦謝不敏。凡遇此等病。苟非其人染著堅牢。總當諄切相勸。令其靜觀內養。推古昔仁人之用心。諒不僅書一紙方。便了厥事也。第靜觀內養四字。談何容易。惟夙具根器者。始能領略耳。</p>
<p>〔三十〕靜觀內養之法。仁和何惠川所輯文堂集驗方內一條。簡切易行。錄後以供眾覽。彥暉質魯學淺。鮮有所知。嘗舉此條。質諸一二老友之喜談心學者。謂條內「自審此念因何而起」一語。妙諦無窮。卻病其小焉者也。海內不乏明眼。然乎否乎。集驗方曰。凡虛損證。由勞力過度而成者。得安養藥食之功。尚在易治。若由偏性七情六慾而成者。藥力之功居其三。惟靜養之功。方可迴天。隨分忘其家業。住於安閒之所。清心寡慾。去其酒色財氣之私心。清晨醒即起。（醒而再睡。易於神馳而昏亂。）物我相忘。安神靜坐。若有妄想。即徐步自審此念因何而起。如何而止。與身心無益之念去之。靜則再坐。動則再步。如此行一炷香。少頃再行。必得心息相依。呼吸自然。坐時以口生津液。坐起周身筋骨舒暢為驗。工夫下手。由淺入深。總以不間斷為妙。即行住坐臥。皆要安神內守。行之半月。即有奇功。加之善願助之。可以希仙矣。若徒服奇藥。或逆氣閉息。非徒無益而有害。〔仲圭按〕靜坐確能治虛損。而神經衰弱之失眠症。收效尤捷。惟坐時妄念起落。最難排除。昔同善社之守竅。因是子之注意丹田。無非為排除妄念而教人以訣也。余意最好當靜坐時。手持念珠。低聲念「阿彌陀佛」身口耳同時並用。妄念自然由少而無。且虛損痼疾。多由業力感應。惟有虔心持誦佛號。方能消除宿世惡業。故虛損病人。除每日朝晚澄心靜坐外。余時可參閱佛典及養生諸書。以明修心保身之大法。實力奉行。病無不瘳。徒恃藥石。詎有濟哉。</p>
<p>〔三十一〕續名醫類案許宣治治一兒。十歲。從戲臺倒跌而下。嘔吐苦水。以盆盛之。綠如菜汁。許曰。此膽倒也。膽汁傾盡則死矣。方用溫膽湯加棗仁代赭石正其膽腑。可名正膽湯。一服吐止。昔曾見此證。不知其治。遂不救。</p>
<p>〔三十二〕病證本輕。因藥而重。藥不對證。固令病重。即或對證。病輕藥重。亦令重也。余治一婦人。噁心嘔吐。頭眩惡食。醫藥兩月。降逆如左金丸。旋覆代赭湯。（代赭石質重下墜。孕婦所忌。）調氣如砂蔻烏沉之類。補益如六君四物等劑。轉見心胸煩懣。惡聞食氣。體重作痛。黃瘦倦臥。氣息奄奄。一醫謂血枯經閉。虛勞重證。囑病家治後事矣。診其脈。細弱之中。終有動滑之象。詳細詢問。腹雖不大。而時有動躍。斷為懷妊惡阻。本屬妊婦之常疾。因過藥傷胃。致現種種惡候。勸令停藥。不肯信從。乃立疏氣降逆養胃。清和平淡之劑。服後胸膈稍寬。隨後出入加減。總以輕劑漸漸收功。數月後。竟舉一男。金匱原有「醫者治逆卻一月。加吐下者則絕之」之明訓。絕之者。絕止醫藥。俟其自安也。不肯絕藥。姑以輕劑與之。</p>
<p>〔三十三〕海䖳（一名海蜇頭）用一兩。漂淨。加大荸薺（一名地慄）四個。水二鍾。煎八分服。名「雪羹。」見絳雪園古方選注。注曰。凡肝經熱厥。少腹攻衝作痛。用以泄熱止痛。捷如影響。王孟英歸硯錄曰。海䖳。妙藥也。宣氣化瘀。消痰行食。而不傷正氣。以經礬鹽所制。入煎劑雖復漂淨。而軟堅開結之勳固在也。故哮喘胸痞。腹痛癥瘕。脹滿便閉。滯下疳黃等病。皆可量用。宜下之證。而體質柔脆不能率投硝黃者。余輒重用。隨機佐以枳樸之類。無不默收敏效。按海䖳本水結成。故煮之仍化為水。人身之痰。有由火摶其水而成者。故為化火痰之專藥。其性寒涼。清火散結。不傷正氣。余每喜用之。若陽氣衰少之體。寒多濕勝之病。不相宜也。小兒疳病由於火盛。致口臭便堅。腹脹內熱者。令服雪羹屢效。</p>
<p>〔三十四〕素問痿論曰。治痿獨取陽明。陽明主潤宗筋。宗筋主束骨而利機關也。王太僕注。宗筋。謂陰髦中橫骨上下之豎筋也。上絡胸腹。下貫髖尻。又經於背腹。上頭項。則宗筋不可以外腎言也。厥論曰。前陰者。宗筋之所聚。前陰。外腎也。為宗筋之所聚。則宗筋亦可以外腎言也。痿論又曰。思想無窮。所願不得。意淫於外。入房太甚。宗筋弛縱。及為白淫。玩繹此節經義。上有入房太甚句。下有及為白淫名。則中有宗筋弛縱句。竟作陽痿解可也。此節宗筋兩字。竟作外腎解可也。夫陽明胃府。位鎮中宮。上合於鼻。下合外腎。驗之於黴瘡毒蘊陽明。或上發而鼻壞。或下注而莖糜。驗之於馬。其鼻黑者莖亦黑。鼻白者莖亦白。陽明與外腎關屬。不更信而有徵哉。是則治陽痿當遵素問治痿獨取陽明之旨。弗徒沾沾於補腎壯陽焉可已。（此條深思妙悟而合學理。仲圭附註。）</p>
<p>〔三十五〕杏軒醫案曰。（新安程文圃觀泉著）經云。腎者主水。受五臟六腑之精而藏之。是精藏於腎。非精生於腎也。譬諸錢糧雖儲庫中。然非庫中自出。須補脾胃化源。余評葉氏醫案有云。此等血肉有情之方。正合精不足者。補之以味經旨。如果病人胃口傷殘。未可遽投。正與杏軒先生之言暗合。蓋補精必用醲厚之品。然總須胃化脾傳。方能徐徐變精歸腎。不過以醲厚之品。較清淡者變精為較易耳。斷不能入口之後。輒變精而藏諸腎也。須補脾胃化源者。飲食增則津液旺。自能充血生精也。</p>
<p>〔三十六〕余合回生丹以救難產。及治產後瘀血為患等證。屢建奇功。而獨不利於虛寒之證。以虛則當補。寒則當溫也。一婦產後甫兩日。惡露不行。腹痛作嘔。服回生丹一丸。嘔不除而轉增泄瀉。乃邀診。面青唇淡。舌苔白滑。脈則右弦緩。左沉澀。㽲痛作嘔。泄瀉不爽。為疏半夏代赭石肉桂琥珀黑薑炭延胡桃仁炙甘草等溫行之品。嘔止痛緩。而惡露亦稍行。左脈漸流利。再二劑。瘀行痛緩。瀉亦止。胃口不開。體甚困乏。改用扶元和胃。溫行血氣。小劑緩調。數劑胃能納穀。形色亦漸轉。惟左小腹有塊如拳大。不時攻觸作痛。乃仿大黃䗪蟲丸法。前方去半夏代赭石。加當歸制穿山甲。酒醉地鱉蟲。（即䗪蟲）為末。搗入醋熬大黃膏。白蜜煉為丸。如桐子大。早晚每服三錢。不匝月塊漸小。痛亦漸除。後與通補奇經。溫養肝腎。病竟脫。體氣復充此證血因寒瘀而上衝於胃。沖胃者。為產後三沖急證中之一。回生丹治三沖急證。本有專功。然能迅推瘀血下行。而不能治因寒凝結之瘀。凡用合成丸藥。必須考覈丸方藥性功能。參合脈證。倘若耳食某丸可治某證。而恣意用之。總屬得失參半。此古人所以有「先議病。後議藥」之訓。</p>
<p>〔三十七〕水鄉農人。多患腳氣。俗名大腳風。又名沙木腿。一腫不消。與尋常腳氣。發過腫消者迥殊。此因傷絡瘀凝。氣亦阻痹。風濕熱雜入之邪。襲入而不能出也。故病起必胯間結核而痛。憎寒壯熱。而漸以下行至足。初起宜用蔥白杵爛和蜜。（蔥蜜相併。至毒殺人。切勿入口。）罨胯核痛處。再用海䖳（俗名海蜇頭）地慄（即荸薺）同煎。俟海䖳化盡。取湯吞當歸龍薈丸三錢。（此丸藥肆多合成發售）能即消散為妙。若已成者。以黃柏（酒炒研末）八兩。海䖳八兩。（勿漂煎化）加蔥須自然汁。和勻法丸。綠豆大。茅根湯日送三錢。外用杉木刨花煎濃湯。入皮硝一兩頻洗。日以藍布浸鹽滷束之。以鹽滷善清濕熱。散風毒。凡洗鵝掌風及腳氣立良也。忌一切辛熱發物。尤忌蠶蛹。（雖愈後宜忌食蠶蛹數年。）</p>
<p>〔三十八〕凡暴厥。卒中。癇魘。及跌墜暈僕諸病。其身中氣血擾亂未定。切勿張皇暄鬧。妄為移動。以致氣絕不返。總宜在原處量證設法。可以得生。如閉證宜取嚏。服玉樞丹蘇合丸之類以開之。虛證用炭醋熏之。或令人緊抱。以口接氣。再灌以參湯薑湯童便之類。按證施治。俟其甦醒。然後移歸臥室可也。世俗不知。往往扶掖他徙。多致不救。總由不知古法。贅此以冀仁心為質者傳播於世也。（如酷暑烈日之中。路途卒倒者。宜先移至陰涼之所。然後設法救治。不可拘於是說。凡見夏日路途卒倒之人。縱無藥贈。但能移之陰處。即是一服清涼散也。何氏濟生論曰。中暑悶亂。不可便與冷水及臥冷地。得冷則死。據此。則止可移至陰處。而不可移至冷地。）</p>

<h1>卷二</h1>
<p>〔一〕醫事難矣哉。學識荒陋者無論矣。其在術精名重。日診百十人。精神不逮。大意處輒復誤人。蓋晨夕酬應。無少息時。索索無精思。昏昏有俗情。雖賢哲不免也。徐悔堂聽雨軒雜記云。乾隆壬申。同里馮姓館於楓橋蔡姓家。夏日蔡自外歸。一蹶不起。氣息奄然。因以重金急延薛生白先生診。至則蔡口目悉閉。六脈皆沉。少妾泣於旁。親朋議後事矣。薜曰。虛厥也。不必書方。且以獨參湯灌之。遽拱手上輿而別。眾相顧。莫敢決。再延一苻姓醫入視。苻曰。「中暑也。當服清散之劑。參不可用。」眾以二論相反。又相顧莫敢決。馮曰。「吾聞六一散能祛暑邪。盍先試之。」乃以葦管灌之。果漸蘇。苻又投以解暑之劑。病即霍然。夫薛氏為一代之名醫。只以匆匆一診。未遑細審。並致疑於少妾之在旁。誤以中暑為虛脫。幾傷其生。醫事不誠難乎其難哉。又類案載曾世榮先生治船中王氏子。頭痛額赤。諸治不效。動即大哭。細審知為船篷小篾。刺入囟上皮內。鑷去即愈。苟不細心審視。而率意妄治。愈治愈壞矣。是故醫家臨診辨證。最要凝神定氣。反覆推詳。慎毋相對斯須。便處方藥也。</p>
<p>〔二〕熊三拔泰西水法云。凡諸藥系草木果蓏谷菜諸部具有水性者。皆用新鮮物料。依法蒸餾得水。名之為露。以之為藥。勝諸藥物。何者。諸藥既干既久。或失本性。如用陳米為酒。酒力無多。若以諸藥煎為湯飲。味故不全。間有因煎失其本性者。若作丸散。並其渣滓下之。亦恐未善。（然峻歷猛烈之品。不得不丸以緩之。）凡人飲食。蓋有三化。一曰火化。烹煮熟爛。二曰口化。細嚼緩咽。三曰胃化。蒸變傳化。二化得力。不勞於胃。故食生冷。大嚼急咽。則胃受傷也。胃化既畢。乃傳於脾。傳脾之物。悉成乳糜。次乃分散。達於周身。其上妙者。化氣歸筋。其次妙者。化血歸脈。用能滋益精髓。長養臟體。調和營衛。所謂妙者。飲食之精華也。故能宣越流通。無處不到。所存糟粕。乃下於大腸焉。今用丸散。皆干藥合成。精華已耗。又須受變於胃。傳送於脾。所沁入宣布。能有幾何。其餘悉成糟粕下墜而已。若用諸露。皆是精華。不待胃化脾傳。已成微妙。且蒸餾所得。既於諸物體中最為上分。復得初力。則氣厚勢大。不見燒酒之味醲於他酒乎。按古人丸散湯飲。各適其用。豈可偏廢。諸藥蒸露。義取清輕。大抵氣津枯耗。胃弱不勝藥力者。最為合宜。其三化之說。火化口化。不必具論。胃化一言。深可玩味。蓋飲食藥物入胃。全賴胃氣蒸變傳化。所以用藥治病。先須權衡病人胃氣及病勢輕重。此古人急劑緩劑大劑小劑之所由分也。如驟病胃氣未傷。勢又危重。非用大劑急劑不可。杯水輿薪。奚濟於事。一味穩當。實為因循誤人。倘或病人胃氣受傷。無論病輕病重。總宜小劑緩劑。徐徐疏瀹。庶可漸望轉機。以病人胃氣已傷。藥氣入胃。艱於蒸變傳化。譬如力弱人。強令負重。其不顛踣者幾希。</p>
<p>〔三〕上條言諸藥蒸露。為輕清之品。氣津枯耗。胃弱不勝藥力者。最為合宜。請更申其說焉。元儀曰。「陰虛有三。肺胃之陰。則津液也。心脾之陰。則血脈也。肝腎之陰。則真精也。液生於氣。惟清潤之品可以生之。精生於味。非黏膩之物不能填之。血生於水穀。非調中州不能化之。」是則人身中津液精血。皆屬陰類。津液最輕清。血則較醲。精則更加厚矣。讀內經「腠理開發。汗出溱溱。是謂津。谷入氣滿淖澤。注於骨。骨屬屈伸泄澤。補益腦髓。皮膚潤澤。是謂液。」則知津與液較。液亦略為醲厚矣。竊謂津者。雖屬陰類。而猶未離乎陽氣者也。何以言之。內經云。「三焦出氣。以溫肌肉。充皮膚。為其津。其流而不行者為液。」豈非液則流而不行。津則猶隨氣流行者乎。內經又云。「上焦開發。宣五穀味。熏膚充身澤毛。若霧露之溉。是謂氣。」霧露所溉。萬物皆潤。豈非氣中有津者乎。驗之口中氣呵水。愈足徵氣津之不相離矣。氣若離乎津。則陽偏勝。即「氣有餘。便是火」是也。津若離乎氣。則陰偏勝。即水精不四布。結為痰飲是也。蒸露以氣上蒸而得露。雖水類而隨氣流行。體極輕清。以治氣津枯耗。其功能有非他藥所能及。泰西贊謂不待胃化脾傳。已成微妙。余謂病人胃弱。不勝藥力者。最為合宜。然其力甚薄。頻頻進之可也。其氣亦易泄。新蒸者為佳。余治傷陰化燥證。清竅乾澀。每用之獲效。內經謂「九竅者。水注之器。」清竅乾澀者。病人自覺火氣從口鼻出。殆津離乎氣。而氣獨上注歟。</p>
<p>〔四〕時毒瘟疫。口鼻吸受。直行中道。邪伏募原。毒凝氣滯。發為內斑。猶內癰之類。其脈短滑。似躁非躁。口乾目赤。手足指冷。煩躁氣急。不欲見火。惡聞人聲。耳熱面紅。或作寒噤。昏不知人。鄭聲作笑。治宜宣通氣血。解毒化斑為主。得脈和神清。方為毒化斑解。但其斑發於腸胃嗌膈之間。因肌膚間不可得而見。往往不知為斑證而誤治者多矣。</p>
<p>〔五〕治痰氣壅塞。雪梨汁一杯。生薑汁四分之一。蜜半杯。薄荷細末一錢。和勻器盛。重湯煮一時。任意與食。降痰如奔馬。此方出幼幼集成。甘寒辛潤。邪襲於肺。泄肺降痰。試用良驗。</p>
<p>〔六〕滑脈多主痰。以津液凝結故也。然有頑痰阻閡氣機。脈道因之不利。反見澀脈者。開通痰氣。脈澀轉滑。見之屢矣。又現證脈象的是痰證。而病人言無痰。服藥後漸覺有痰。亦見之屢矣。閱孫文宿醫案治龐姓。遭跌脅痛。服行血散血藥多劑。痛不少減。孫診脈左弦右滑數。曰。「此痰火症也。」龐曰。「軀雖肥。生平未嘗有痰。徒以遭跌積瘀血。於脅間作痛耳。」孫曰。「痰在經絡間。不在肺。故不咳嗽。而亦不上出。脈書有云。滑為痰。弦為飲。據脈實痰火也。如瘀血。脈必沉伏。或芤或澀也。面色亦不帶黃。前醫以瘀血治者。皆徇公言。不以色脈為據耳。」乃用大栝蔞帶殼者二枚。重二兩。研碎。枳實。甘草。前胡。各一錢。貝母二錢。初服腹中漉漉有聲。逾時大瀉一二次。皆痰無血。痛減大半。再服又下痰數碗許。痛全止。三服腹中不復有聲。亦不瀉。蓋前由痰積瀉也。今無痰故不瀉。觀此。則診病雖須詳問。又當色脈合參。不可徇病人之言。為其所惑。又嘉言喻氏亦謂「痰到胃始能從口吐出。到腸始能從下瀉出。」</p>
<p>〔七〕本經曰。「五味子氣味酸溫無毒。主益氣。咳逆上氣。勞傷羸瘦。補不足。強陰。益男子精。」盧子繇乘雅半偈曰。「五味俱全。酸收獨重。故益降下之氣。咳逆上氣者。正肺用不足。不能自上而下以順降入之令。勞傷羸瘦者。即內經云。煩勞則張。精絕使人煎厥內鑠也。此補勞傷致降令之不足。與補中益氣之治不能升出者相反。能降便是強陰。陰強便能益精。設六淫外束。及肺氣焦滿。餌之反引邪入臟。永無出期。縱得生全。須夏火從中帶出。或為斑疹。或作瘡瘍。得汗乃解。倘未深解病情。願言珍重。」按此則五味子之功能。的在降入。凡病情涉於宜升宜出者。視為戈戟矣。蓋肺統五臟六腑之氣而主之。腎受五臟六腑之精而藏之。腎氣原上際於肺。肺氣亦下歸於腎。一氣自為升降者也。故上而咳逆上氣。由六淫外束。餌此則外邪不特不能升。不能出。直引之及腎。而漸成虛損。倘同熟地麥冬等用。酸而兼膩。不啻錮而閉之。卷一第十一條所謂不虛而做成虛。不損而做成損者。此類是也。若六淫七氣有以耗散之。致肺失其降。而不歸肺之氣。因耗散而日虛。腎之精。因不藏而日損。此際不用五味子而誰用乎。五味子能收肺氣入腎。肺氣收。自不耗散。入腎。則五臟六腑之精。腎得受而藏之矣。雖然。論藥則得一藥之功能。論方則觀眾藥之輔相。凡藥皆然。試即於五味子發其凡。可乎。五味子之功能在降入。病情宜升宜出者。不可用。固已。第執此說以論藥則可。若執此說以論方。則金匱要略中射干麻黃湯厚朴麻黃湯小青龍加石膏湯等方之用五味子。其說遂不可通。殊不知古人治病用藥。每於實中求虛。虛中求實。不比後人之見虛治虛。見實治實。補者一味補。散者一味散。攻者一味攻也。故雜五味子於麻黃細辛桂枝生薑諸表藥中。雜五味子於射干紫菀款冬杏仁半夏諸降氣降逆藥中。雜五味子於石膏乾薑。諸寒熱藥中。雜五味子於小麥白芍甘草大棗諸安中藥中。不嫌其夾雜。而於是表散藥。得五味子不致於過散。降氣降逆藥。得五味子更助其降令。而且寒熱藥得五味子寒不傷正。熱不劫津。安中藥得五味子相得益彰。綜而言之。用五味子意在保肺氣。不使過泄。然皆輔相成方。非君藥也。至桂苓味甘湯之治氣衝。加減者四方。苓甘五味姜辛湯。苓甘五味姜辛半夏湯。苓甘五味加姜辛半夏杏仁湯。苓甘五味加姜辛半杏大黃湯。以小青龍方中雖有五味子輔相之。究竟辛散之力大。能發越外邪。亦易動人沖氣。沖氣者。衝脈之氣也。衝脈起於下焦。挾腎上行者也。氣既沖矣。非斂不降。桂苓能抑沖氣。甘草坐鎮中宮。而斂降之權。當屬之五味子矣。所以四方減去者惟桂枝。而加味以治咳滿。以去其水。以治形腫。以治胃熱沖面。至於五味子收斂腎氣。屹然不動。不使其氣復沖。苓甘若為之輔相者。終不易也。以是知一藥有一藥之功能。一方觀眾藥之輔相。不識藥性。安能處方。不識方義。安能用藥。凡藥皆然。豈特一五味子。試即以五味子發其凡。詞費之誚。奚辭哉。</p>
<p>〔八〕鄒潤安本經疏證論五味子與乾薑同用。設為問答曰。「傷寒論中凡遇咳總加五味子乾薑。豈不嫌其表裡無別耶。曰。經云。脾氣散精。上歸於肺。是故咳雖肺病。其源實主於脾。惟脾家所散上歸之精不清。則肺家通調水道之令不肅。後人治咳。但知潤肺消痰。殊不知潤肺則肺愈不清。清痰則僅能治脾。於留肺者。究無益也。乾薑溫脾肺。是治咳之來路。來路清。則咳之源絕矣。五味使肺氣下歸於腎。是開咳之去路。去路清。則氣肅降矣。合兩物而言。則為一開一闔。當開而闔。是為關門逐賊。當闔而開。則恐津液消亡。故小青龍湯小柴胡湯真武湯四逆散之兼咳者皆用之。不嫌其表裡無別也。」按此論頗透徹。嘉言喻氏謂「乾薑得五味能收肺氣之逆。」是渾而言之也。陳修園不論虛實證。遇咳輒用五味乾薑。是渾而用之也。金匱桂苓味甘加乾薑細辛。乾薑為熱藥。服之當遂渴。乾薑為熱藥。仲聖已有明文矣。外感之由於暑燥火。內傷之涉於陰虧。雖同五味或輔相藥。終不宜用也。考金匱五味同乾薑用者七方。皆有咳滿證。不同乾薑用者二方。射干麻黃湯證。亦見咳而上氣。雖不同乾薑而同生姜用。其義仍在治肺。獨桂苓味甘湯方治氣衝。其義在治腎。然肺與腎一氣。自為升降者也。治肺即所以治腎。治腎即所以治肺。不過因病處方。注意或在肺。或在腎耳。或曰。黑地黃丸中。五味乾薑並用。治在肺歟。曰。論金匱方用五味意義。大抵如此。至後人用五味。其方不可勝數。豈能一一印證。若五味並熟地用。烏得謂不治腎。黑地黃丸。乃治脾濕腎燥方。一剛一柔。一潤一燥。熟地五味治腎燥。蒼朮乾薑治脾濕。此分頭治法也。熟地蒼朮。益腎陰而兼運脾陽。蒼朮五味流脾濕。即以潤腎燥。此交互治法也。嘉言喻氏謂此方超超元箸。豈虛譽耶。若不綜觀全方。尋繹意義。徒沾沾於某藥入某經。某藥治某病。則自窒靈機矣。</p>
<p>〔九〕錢塘趙恕軒。名學敏。一字依吉。撰利濟十二種。其串雅一種。書分內外兩編。類皆草澤醫所傳諸方法。世所謂走方。手持虎刺。遊食江湖者是也。虎刺一名曰虎撐。以鐵為之。形如環盂。虛其中竅。置鐵丸。周轉。搖之有聲。相傳始於宋李次口行山逢虎。齧刺於喉。求李拔。置此器於虎口。為拔去之。其術乃大行。流傳至今。其術治外以針刺蒸灸。治內以頂串禁截。取其速驗。不計萬全。藥上行者曰頂。下行者曰串。頂藥多吐。串藥多瀉。頂串而外。則曰截。截絕也。如絕害然。走醫以頂串截為三大法。末流妄定有九頂。十三串。七十二截等目外。又有九種。十三根等法。能拔骨髓諸毒外出。然不肖瘍科。每竊以取利。種毒留根。變小成大。為害不淺。又有禁法。禁法之大。莫如水法。次則祝由。近於巫覡。且有變病法。如約脾丸中用木瓜露以閉溺竅。掩月散中用鯉脊鱗以遮瞳神。取貝母中之丹龍睛。以弛髓脈。剔刺蝟中之連環骨。以縮骨筋。外科則用白硃砂以種毒。蛇蕈灰以種瘡。即九種十三根之類。更有合扁豆膏以留瘧。曼陀酒以留癲。甚則醉獸散之可以病馬牛。金針丸之可以困花木。種種不仁。愈降愈甚。良由操技不精。欲藉此遂其罔利之心耳。恕軒取其所授。為芟訂之。名曰串雅。不欲泯其實。並欲矯奇。而俾歸於雅也。且謂此書雖盡刪其不經之法。而不能盡絕其傳。故述其大概如是。業醫者不可不知。（串雅中方。多有散見於諸書者。如內編首列韓飛霞黃鶴丹。青囊丸。推為遊方之祖方云。）</p>
<p>〔十〕偶閱孫文垣三吳治驗醫案。次日有一人來就診。其病情與孫案一則相彷彿。遂用其方治之。兩帖愈。於以見古人對證發藥。效如桴鼓。其案曰。「倪姓右頰車浮腫而痛。直衝太陽。發寒熱。兩手寸關俱洪大有力。此陽明經風熱交扇所致。以軟石膏三錢。白芷升麻各一錢。葛根二錢。生熟甘草一錢。薄荷。山梔。丹皮。連翹。各七分。天花粉。貫眾。各一錢半。兩帖腫痛全消。」</p>
<p>〔十一〕相傳天士葉氏治痘多活法。一子病痘閉。諸醫束手。先生命取新漆桌十餘張。裸兒臥於上。以手轉輾之。桌熱即易。如是殆遍。至夜痘怒發得生。又嘗於肩輿中見一採桑婦。先生命輿人往摟之。婦大怒詈。其夫將扭輿人毆。先生曉之曰。「汝婦痘已在皮膜間。因氣滯閉不能出。吾特激之使怒。今夜可遽發。否則殆矣。」已而果然。又一人。壯年患痘閉。先生令取雞屎若干。以醇酒熱調如糊。遍塗其身面手足。越宿雞矢燥裂剝落。而痘已出矣。又先生之外孫。甫一齡。痘閉不出。母乃抱歸求救。先生視之甚逆。沉思良久。裸兒鍵置空室中。禁女弗啟視。迨夜深。始出之。痘已遍體。粒粒如珠。因空屋多蚊。借其嘬膚以發也。此雖「神而明之」之治。第尋繹其意旨之所在。轉輾於漆桌者。火閉也。激之使怒者。氣閉也。塗以雞矢醴者。寒閉也。借蚊口以嘬之者。血閉也。咸有分別之妙義焉。錄之亦可發人之慧悟。</p>
<p>〔十二〕孫文垣先生治潘姓患白濁。精淫淫下。三年不愈。脈來兩寸短弱。兩關滑。兩尺洪滑。曰。疾易瘳。第必明年春仲。一劑可痊。問故。曰。素問曰。必先歲氣。毋伐天和。所患為濕痰下流證也。而脈洪大見於尺部。為陽乘於陰。法當從陰引陽。今冬令為閉藏之候。冬之閉藏。實為來春發生根本。天人一理。若強升提之。是逆天時而泄元氣也。後醫者接踵。迄無效。至春分。孫以白螺螄殼火煅四兩為君。牡蠣二兩為臣。半夏葛根柴胡苦參各一兩為佐。黃柏一兩為使。麵糊為丸。名端本丸。今早晚服之。不終劑而愈。按古名醫治病。無不以陰陽升降為劑量准。卷一第二十六條已具言之。此案端本丸方義固佳。其持論則深明天人合一之理。讀內經「冬三月。此謂閉藏。使志若伏若匿。若有私意。若已有得。逆之則春生者少。」若伏者。若抱雛養蟄也。若匿者。若隱避蹤跡也。若有私意者。恐敗露也。若已有得者。韜晦無觖望也。凡所以重藏精也。有冬月之閉藏。然後有來春之發生。一味發揚。而無翕聚之本。譬諸無源之水。其涸可立而待。</p>
<p>〔十三〕白芥子氣味辛溫。善能利氣豁痰。觀治冷哮。用白芥子末塗肺俞膏肓百勞等穴。塗後麻瞀疼痛。防痘入目。用白芥子末塗足心。引毒歸下。外用功效如是。其性烈從可知矣。其末水發。擂入食品。食些少。輒令人目淚鼻涕交出。其性開發走液。亦從可知矣。繆仲醇本草經疏云。「能搜剔內外痰結。及胸膈寒痰冷涎壅塞者。」然肺經有熱。與陰火虛炎。咳嗽生痰者。法在所忌。奈世醫狃於三子養親湯一方。不論燥證火證。動輒用之。甚且用至數錢。其意原在利氣豁痰。殊不知辛烈之品。爍液劫津。耗氣動火。其害甚大。余嘗見風溫咳嗽證。誤用白芥子。致動血見紅。甚至喉痛聲啞。但罔有歸咎於白芥子者。損人而不任過。白芥子抑何幸歟。諸本草均云肺經有熱虛火亢者忌用。豈未之見耶。</p>
<p>〔十四〕古人隨證以立方。非立方以待病。熟察病情。詳審用藥。味味與病針鋒相對。無濫無遺。適至其所。如寫真焉。肖其人而止。不可以意增減也。千變萬化之中。具有一定不易之理。活潑圓機。有非語言文字所能解說。在學者心領神會而已。其所以設立方名者。規矩準繩。昭示來學。非謂某方一定治某病。某病一定用某方也。古方夥矣。豈能盡記。縱能盡記。而未能變通。雖多奚益。即如桂枝湯一方。加桂枝分兩。名曰桂枝加桂湯。加芍藥分兩。名曰桂枝加芍藥湯。去芍藥。名曰桂枝去芍藥湯。桂枝甘草二味。名曰桂枝甘草湯。芍藥甘草二味。名曰芍藥甘草湯。甘草一味。名曰甘草湯。信手拈來。頭頭是道。一方可分為數方。數方可合為一方。增一藥之分兩。即所以減他藥之分兩。而另名為一方。取一味二味。即名為一方。藥隨病為轉移。方隨證為增減。因物付物。何容心焉。設懸擬一方。以治一病。印定後人眼目。天下豈有呆板之病證。待呆板之方藥耶。奈何張景岳新方八陣及黃元御八種書內。自制之法。不一而足。豈以古方為不足用。而有待於新制乎。集數味藥。輒名一方。方不可勝窮。徒眩人意耳。</p>
<p>〔十五〕王龍谿先生調息法曰。息有四種。一風。二喘。三氣。四息。前三為不調相。後一為調相。坐時鼻息出入覺有聲。是風相也。息雖無聲。而出入結滯不通。是喘相也。息雖無聲。亦無結滯。而出入不細。是氣相也。坐時無聲。不結不粗。出入綿綿。若存若亡。神資沖融。情抱豫悅。是息相也。守風則散。守喘則戾。守氣則勞。守息則密。前為假息。後為真息。欲習靜以調息為入門。使心有所寄。神氣相守。亦權法也。調息與數息不同。數為有意。調為無意。委心虛無。不沉不亂。息調則心定。心定則息愈調。真息往來。呼吸之機。自能奪天地之造化。心息相依。是謂息息歸根。命之蒂也。一念微明。常惺常寂。範圍三教之宗。吾儒謂之「燕息。」佛氏謂之「反息。」老氏謂之「踵息。」造化闔闢之元機也。以此徵學。亦以此衛生。了此便是徹上徹下之道。閱智顗大師小止觀中。有坐禪調息法。其說與龍谿先生同。汪訒庵醫方集解勿藥元詮內。亦載調息法。余竊謂以藥療病。弗計其功。先防其弊。蓋弊無。則其功乃為真功。修養何莫不然。調息法之功效。在行之者自知之。豈容懸揣。若言流弊。則斷斷無之。何也。出於自然。不出於勉強也。至勿藥元詮內載「小周天」法。閉息運送。苟無口訣真傳。不可依法亂做。恐稍不得法。流弊無窮。嘗見妄做丹道工夫。多有致疾者。或發癰疽。或結癥瘕。或疝或淋。或癲或狂。蓋以人身氣血。升降出入。自然而然。肓修瞎煉。矯揉造作。精氣拂亂。必隨其所傷而致種種疾苦耳。惟得明師良友的的真傳。乃為有功無弊。〔仲圭按〕修仙學佛。多有從呼吸入手者。此則須有明師指示。未可妄做。若為強身卻病。似可按法練習。大約呼氣吸氣。以細長而徐緩為要訣。吾杭傷科虞祥林氏。倡氣功療養法於西湖中醫虛損療養院。倩董志仁君編述肺病特殊療養法一書。分送各界。其法與一般深呼吸不同者。一為呼吸之室。須置熾紅之炭一盆。人坐其旁呼吸。二為呼吸時皆有聲如鼾。苟能恆心仿行。亦有愈病功效。惟余總覺吸入之氣宜鮮潔。室內不如室外為佳。況更閉窗戶。置火盆耶。至呼吸時聲巨如鼾。即坐龍溪先生風相之弊。衡以學理。究有未安耳。</p>
<p>〔十六〕戊辰秋初。友人陶姓。以暑熱證來就診。邪熱表裡充斥。病勢頗重。乃仿三黃石膏湯意。為兩解之劑。服一劑。次日其兄來轉方。述服藥後。大渴大汗。汗至床蓆皆淋濕。余以為邪熱在陽明經。白虎湯證也。竟與白虎湯一劑。隔日雇小舟來診。病人忽發狂。舟將顛覆。急折回。乃邀診。至則病大變。身重苔黑。如狂見鬼。大便不解。胸腹硬痛。脈沉數促澀。模糊不清。時時發厥。余大駭異曰。奚至此乎。其兄曰。昨述汗流臥席。歸後細詢家人。乃小便。非汗也。余頓足曰。誤矣誤矣。小便多。豈得作大汗治哉。此等重證。本不能懸擬處方。況又誤述乎。營熱未透達。服白虎逼入血分矣。男子亦有熱結血室證。所以證現如狂見鬼。小便自利。大便不通也。勢急矣。奈之何。沉思久之。書犀角地黃湯合桃核承氣湯與之。方內大黃令用醋拌炒黑。次日復赴診。已便解疹透神清矣。詳述藥成已二鼓。才服半杯。胸腹驟痛不可忍。其父促飲之。盡一杯。則目瞪口噤。肢厥僵臥。奄然氣盡。家人哭泣環守之。夜半。忽大喊。便堅黑糞累累。目開身略動。至天明。遍身發疹。胸背間無隙地。便神清思湯飲。診其脈數滑。至數分明。余曰。險哉。幸年才二十餘。正元充足。能運藥力與邪戰。一戰而捷。不然。一去不復返矣。後與清熱養陰。不匝月全愈。閱三世醫驗陸祖愚先生治董姓。因傷食納涼。困倦熟寐。致頭痛身熱。骨節煩疼。胸腹痞滿。醫以丸藥下之。表證未除。胸滿兼痛。一醫又行表汗。頭痛瘥。胸痛更甚。似此或消導。或推逐。其痛漸下。病將兩月。陸診脈澀數。面色黃白。舌苔灰黑。按其胸腹柔軟。臍下堅硬。晡時發熱。夜半退。小水自利。大便不通。此蓄血證也。用桃核承氣湯。下咽後。滿腹攪刺。煩躁不安。求死不得。父母痛其決死。深咎藥過。哭泣罵詈。陸心知其無妨。然再三解說。終不信。會天暮不得進城。下榻樓上。夜將半。聞步履聲。其父攜燈至榻前笑謂曰。適才大便。所去黑糞衃血約若干。腹寬神爽。誠再生之恩也。後改用調理之劑。半月漸愈。與余所治證。大略相同。特余不留宿。得不聞泣罵聲。為幸多矣。陶姓現遊幕。晤時道及此。猶言服藥後。胸膈間痛如刀割。不可忍。漸次入腹。後痛極。遂不省人事。噫。瞑眩藥入人口腹若是哉。第此證倘與輕藥。當無生理。記此又可見病家述病情。有疑似處。當反復審問。余不敏。誤聽誤藥。幾至病不救。而病家日夕侍病者之側。切須熟察病情。以告醫者。設或因誤告。致誤治。咎將安歸耶。</p>
<p>〔十七〕古聖人治病之法。針灸為先。靈素所論。多為針灸而設。今時治病。用針者極少。用灸者尚多。但病非一概可灸也。大抵脈沉遲。陽氣陷下者最宜。若陽盛陰虛者。斷不宜灸。仲聖傷寒論云。「微數之脈。慎不可灸。因火為邪。則為煩熱。追虛逐實。血散脈中。火氣雖微。內攻有力。焦骨傷筋。血難復也。」脈見微數。則是陰虛而陽熾重。以火力追逐其血。有筋骨焦傷耳。又云。「脈浮熱甚。反灸之。此為實。實以虛治。因火而動。必咽燥吐血。」脈浮熱甚。陽氣實也。反灸之。是陽實以陽虛治。火上加火。咽因火勢上逼而枯燥。血隨火勢上炎而妄行。在所必至矣。此二條垂戒。雖在傷寒論中。然不專指傷寒而言。所以不言證而但言脈也。奈何陰虛血熱。人甘受痛苦而妄灸。致陰益虛。而陽益熾也。吾鄉不辨證而妄灸者。婦女居多。緣操是業者。皆女尼村嫗之類。易為所惑耳。（不可妄灸之說。他書具載。何用贅言。竊以為告誡之辭。冀人覺悟。再四丁寧。不厭重複。拙稿中類是者頗多。閱者幸弗以剿襲舊說訾之。）</p>
<p>〔十八〕蕭山一士人。因戒鴉片煙癮而求似續。購服秘製藥水。極靈驗。不但煙癮除。胃口勝常。精神煥發。陽事倍於平時。未幾。與友人立談。倏覺下身無力。頓跌僕後。遂痿廢。月餘告斃。其所服藥水中。大抵有硫黃等霸道藥。所以得效甚捷。禍不旋踵。凡服些少藥。輒得驟效者。切須留心。蓋非霸道藥。服些少豈能得驟效。謹勸世人。慎弗誤認為仙丹妙藥。為其所惑。致禍發莫救。閱微草堂筆記云：「藝花者培以硫黃。則冒寒吐蕊。然盛開之後。其樹必枯。蓋鬱熱蒸於下。則精華湧於上。湧盡則立槁耳。」觀此。則服藥後種種靈驗。正諺所謂「盡根拔」也。</p>
<p>〔十九〕經驗良方。刊刻印送。救人疾苦。此誠仁人之用心也。第所集者。雖皆試驗之方。而用方者未能確辨其證。往往檢方試病。不效。則更方再試。輕證輕方。當無大礙。若病涉深重。藥屬猛烈。其堪屢試乎。如近今驗方新編。不逕而走。幾至家置一編。其中不無龐雜。間有峻厲之方。意編書者似於醫事未嘗有精詣也。然善化鮑氏。費二十年心力。彙集諸方。校讎不倦。其活人濟世之心。正足令人欽仰。原在用方之人。自己斟酌去取耳。昔李明之先生嘗言。「蘇沈良方。猶唐宋類詩。」蓋言不能詩者之集詩。猶不知方者之集方也。一詩之不善。誠不過費紙而已。一方之不善。則其禍有不可勝言者。夫試驗方豈有不善。不對證或適與證相反。乃為不善耳。願集方者遇峻厲方。可刪則刪之。萬不可刪。則於方下詳細註明病情現證。如何者可用。如何者不可用。庶幾用者可以對證檢方。不致輕試浪投。是亦古人慎疾之意歟。</p>
<p>〔二十〕古人治血積。每用虻蟲水蛭。以其善吮血。然其性極毒。人多患之。不若改用夜明砂。以其食蚊而化者也。蚊之吮血。不減蛭蟲。本草稱其能下死胎。則其能攻蓄血明矣。此說出於不居集。錄出備採。</p>
<p>〔二十一〕陸氏子。患咳失音。醫治殆遍。不得效。烏程汪謝城孝廉。司鐸會稽。因求診。曰。「此蟲咳證也。」為疏殺蟲方分量頗輕。並令服榧果。旬日全愈。失音嗄證。不出金實無聲。金破無聲之兩途。此為醫林中別開一法門也。</p>
<p>〔二十二〕古人煎藥。各有法度。表藥以氣勝。武火驟煎。補藥以味勝。文火慢煎。有隻用頭煎。不用第二煎者。取其輕揚走上也。有不用頭煎。只用第二煎第三煎者。以煮去頭煎。則燥氣盡。遂成甘淡之味。淡養胃氣。微甘養脾陰。為治虛損之秘訣。（出慎柔五書。）又煎藥宜各藥各銚。恐彼煎攻伐。此煎補益。此煎溫熱。彼煎清涼。有大相反者。譬如酒壺沖茶。雖不醉人。難免酒氣也。</p>
<p>〔二十三〕周慎齋（名子幹。宛平太邑人。生正德年間。）中年患中滿疾。痛楚不堪。遍訪名醫無效。復廣搜醫方。又不敢妄試。一夕。強坐玩月。倏為云蔽。悶甚。少頃。清風徐來。云開月朗。大悟曰。夫云。陰物也。風。陽物也。陽氣通暢。則陰翳頓消。吾病其猶是乎。遂制和中方丸。服不一月而安。後成名醫。嘗閱本草鉤元卷首武進陽湖合志楊時泰傳曰。「自明以來。江南言醫者。類宗周慎齋。慎齋善以五行制化。陰陽升降。推人臟氣。而為劑量准。雍正以後。變而宗張路玉。則主於隨病立方。遇病輒歷試以方。迨試遍則束手。」於是購求慎齋先生書。見醫學粹精五種。周慎齋三書。查了吾正陽篇。胡慎柔五書。陳友松脈法解。附陳友松筆談。其慎柔五書。已見於六醴齋叢書。脈法亦是慎齋先生著。陳友松加解而已。查了吾胡慎柔俱為慎齋先生弟子。三書者。皆先生弟子口授耳傳。記錄成編者也。其自制丸方錄後。（周慎齋學問。究不及張路玉。第宗張路玉不善。則有遇病試方之弊耳。）和中丸治鼓脹神效。用乾薑四兩。（冬炒焦夏炒黑）一兩用人參一兩煎湯拌炒。一兩用青皮三錢煎湯拌炒。一兩用紫蘇五錢煎湯拌炒。一兩用陳皮五錢煎湯拌炒。肉桂二兩。一分用益智仁五錢煎湯拌炒。一分用澤瀉五錢同煮。一分用小茴香三錢同煮。一分用破故紙五錢同煮。吳茱萸一兩。一分用苡仁一兩煎湯拌炒。一分用鹽五錢同浸炒。上為末。紫蘇煎湯打神麯糊為丸。如桐子大。每服因證輕重。隨證作湯送。紅曲丸治瀉痢日久。用此補脾健胃。紅曲（三錢炒）鍋巴（一兩燒存性）松花（三錢炒褐色）上為末。入白糖霜。和勻服。紅痢加曲。白痢加松花。蔻附丸治元氣虛寒。及臟寒泄瀉。肉豆蔻（麵裹煨）白茯苓（各二兩）木香（一兩五錢）乾薑（泡）附子（煨各五錢）上為末。薑汁糊為丸。蓮子湯下。通神散治𩞄雜。胸中割痛。三服即愈。白朮（四兩）黃連（四錢）陳皮（五錢）上為末。神麯糊為丸。臨臥津咽三四十丸。</p>
<p>〔二十四〕診脈以辨病證之順逆。脈書言之詳矣。大抵是病應得是脈者為順。不應得是脈者為逆。此餘三十餘年閱歷。為診脈辨證之要訣。後閱查了吾先生述慎柔和尚師訓曰。「凡久病人脈大小洪細沉浮弦滑。或寸浮尺沉。或尺浮寸沉。但有病脈。反屬可治。如久病浮中沉俱和緩體倦者決死。且看其面色光潤。此精神皆發於面。決難療矣」一節。實獲我心。不禁撫案稱快。蓋平人得和緩。為無病之脈。乃病久體倦。不應得此脈而竟得之。是為正元大漓之象。故決其死也。至若滿面精神。豈久病人所宜有。世俗謂病人無病容者大忌。亦是此意。</p>
<p>〔二十五〕尤在涇補中益氣湯六味地黃湯合論曰。（見醫學讀書記）「陽虛者氣多陷而不舉。故補中益氣多用參耆朮草。甘溫益氣。而以升柴辛平。助以上升。陰虛者氣每上而不下。故六味地黃多用熟地萸肉山藥。味厚體重者。補陰益精。而以茯苓澤瀉之甘淡。資之下降。氣陷者多滯。陳皮之辛。所以和滯氣。氣浮者多熱。丹皮之寒。所以清浮熱。六味之有苓瀉。猶補中之有升柴也。補中之有陳皮。猶六味之有丹皮也。其參耆歸術甘草。猶地黃萸肉山藥也。法雖不同。而理可通也。」此論方義上下升降頗精。而薛立齋趙養葵數先生。專以六味八味補中益氣等數方。統治諸病。則失之執滯呆板。無怪為徐靈胎陳修園諸先哲所詆論。周慎齋先生書中亦每以六味八味補中益氣數方治病。蓋先生嘗就正於立齋先生之門。（慎齋先生傳曰。問難數日。證其初悟。豁然貫通。出謂人曰。立齋真名師也。理道甚明。惜其稍泥。）猶不能脫薛氏窠臼。然三書言「補中益氣湯若欲下達。去升柴。加杜仲牛膝。」又言「六味丸腎虛火動之藥。丹皮涼心火。萸肉斂肝火。澤瀉利腎經之火。從前陰而出。若火不甚熾者。只用山藥。茯苓。熟地。單滋腎水而補脾陰。」乃知慎齋先生能變通用藥。不執死方以治活病。</p>
<p>〔二十六〕脈見歇止。為病人所大忌。人盡知之。然余見痰食阻中。及婦人懷孕。間見歇止脈。俱無大礙。蓋以有形之物。阻滯脈道。故有時歇止也。周慎齋先生脈法云。「凡雜病。傷寒。老人見歇止脈者。俱將愈之兆。惟吐而見歇止脈者死。」陳友鬆解曰。「歇止有結促兩種。結者。遲而止也。病後陰血方生。陽氣尚未充足。不能協濟其陰。故有遲滯之象。緩行略止。俟陽氣一充。全體皆春矣。促者。數而止也。以陽氣猶旺。陰分少虧。不能調燮其陽。故有奔迫之勢。急行一止。俟陰血漸生。則五臟自然暢達矣。此皆將愈未愈之時。故見此疲睏之象。待愈後即無是脈。所以雜病傷寒。庸醫誤治。或損其陽。或虧其陰。往往輕病變重。然而未至過傷。久之元氣藉穀氣以生。輒見此等之脈。乃陰陽漸長之機。非氣血全虧之候。至老人年力就衰。或病後見歇止之脈。不過陰陽兩虧。非凶脈也。可見諸脈俱不妨於歇止。惟嘔吐一證。胃氣逆而上行。將胃中有形之物。盡情吐出。此時脈若平和。猶可保元降氣。倘見歇止。是腎氣已絕於下。不能上供其匱乏。雖用藥胃必不納。故知其必死。」按陳友松所解非是。凡脈見結促。皆屬凶候。豈可目為將愈之兆。慎齋先生所言。乃是和平脈中見歇止。方為近理。</p>
<p>〔二十七〕病人大肉已落。為不可救藥。蓋以周身肌肉瘦削殆盡也。余每以兩手大指次指後。驗大肉之落與不落。以斷病之生死。百不失一。病人雖骨瘦如柴。驗其大指次指之後。有肉隆起者。病縱重可醫。若他處肌肉尚豐。驗其大指次指之後。無肉隆起。而見平陷者。病不可治。周慎齋先生三書云。「久病形瘦。若長肌肉。須從內眥眼下胞長起。以此處屬陽明胃。胃主肌肉故也。」此言久瘦漸復之機。又不可不知。</p>
<p>〔二十八〕族孫詩卿婦患肝風證。周身筋脈拘攣。其脈因手腕彎曲作勁。不可得而診。神志不昏。此肝風不直上巔腦。而橫竄筋脈者。余用阿膠雞子黃生地制首烏麥冬甘草女貞子茯神牡蠣白芍木瓜鉤藤絡石天仙藤絲瓜絡等出入為治。八劑愈。病人自述病發時。身體如入羅網。內外筋脈牽絆拘緊。痛苦異常。服藥後。輒覺漸漸寬鬆。迨後不時舉發。覺面上肌肉蠕動。即手足筋脈抽緊。疼痛難伸。只用雞子黃兩枚。煎湯代水。溶入阿膠二錢。服下當即痛緩。筋脈放寬。不服他藥。旋髮旋輕。兩月後竟不復發。按阿膠雞子黃法。本仲聖黃連阿膠湯。傷寒論曰。「少陰病。得之二三日以上。心中煩。不得臥。黃連阿膠湯主之。」以熱入至陰。用鹹苦直走陰分。一面泄熱。一面護陰。陰充熱去。陽不亢而心煩除。陽交陰而臥可得也。第彼以熱邪。故兼苦寒清之。此則液涸筋燥。單取阿膠雞子黃二味。血肉有情。質重味厚。以育陰熄風。增液潤筋。不圖效驗若斯。古云。『藥用當而通神。』信哉。吳鞠通先生目雞子黃為定風珠。立有大定風珠小定風珠二方。允推卓識。（古方用雞子黃。俱入藥攪勻。亦有囫圇同煎者。余用是物。每令先煎代水。取其不腥濁。雞子黃一經煎過。色淡質枯而無味。蓋其汁與味。盡行煎出故也。）</p>
<p>〔二十九〕治痢證用木香以開鬱滯。升降諸氣。誠為佳品。然其氣香而竄。其味苦而辣。宜於實證。而不宜於虛證。宜於寒濕。而不宜於暑熱。其有濕熱黏滯。稍加木香作佐。使宣通氣液。未始不可。獨怪近世治痢。不辨證脈。視木香為家常便飯。幾至無方不用。甚且形消骨立。舌絳而光。陰涸顯然。猶復恣用不已。浸至不救。目擊心傷。特為拈出。醫家病家。切須留意。吳鞠通先生言。「近世以羌活代麻黃髮汗。不知羌活之更烈於麻黃。試以羌活一兩。煮於一室。兩三人坐於其側。其氣味之發泄。弱者輒不能受。」余謂煎劑中有木香在藥銚內。則滿室皆聞木香氣。如此雄烈之品。虛弱人燥熱證曷克當之。（一人患痢月餘。更加食入作嘔。閱前方統計服過木香六七錢。余用甘寒養胃加旋覆代赭石人參石蓮肉等。先止其嘔。繼仿駐車丸法以除痢。本草言陰火衝上者忌木香。此證以多用木香致胃火上衝。）</p>
<p>〔三十〕內經曰。「心者。君主之宮。神明出焉。」又曰。「心者。生之本。神之變也。」是故心不受邪。受邪即死。凡外感證之病涉心者。皆在心包絡與血脈也。蓋包絡為心主之宮城。血脈為心主之支脈。邪入包絡則神昏。邪入血脈亦神昏。但所入之邪有淺深。所現之證有輕重。如邪入包絡。包絡離心較近。故神昏全然不知人事。如入血脈。血脈離心較遠。故呼之能覺。與之言。亦知人事。若任其自睡。而心放即昏沉矣。有邪在血脈。因失治而漸入包絡者。此由淺而入深也。有邪在包絡。因治得其法。而漸歸血脈者。此由深而出淺也。又有邪盛勢銳。不從氣分轉入。不由血脈漸入。而直入心包絡者。陡然昏厥。其證最凶。緩則不過一日。速則不及一時。當即告斃。以其直入包絡而內犯心。犯心即死耳。章虛谷傷寒本旨有神昏讝語辨。謂得之於經歷。古人所未道及。厥功甚大。蓋邪閉血脈。外感病每多是證。醫者未識其故。因而誤治者多也。其論治法。邪閉血脈者。必須溫通。重用桂枝。則太執著矣。溫熱暑濕證現邪閉血脈。設遇熱盛之證。其可重用桂枝乎。即使佐以涼藥。亦難用也。虛谷未始不見及於此。只以「必須溫通。重用桂枝」兩語。橫踞胸中。是以上文云。「如風寒等邪而不提出。」溫熱暑濕者。亦以重用桂枝。有所窒礙。未免自相矛盾。而姑以風寒等邪混言之耳。下一「等」字以包括溫熱暑濕耳。不然。上文仲聖傷寒論中之神昏讝語。已辨之矣。此處何必再言風寒耶。總之閉者通之。此對待法也。桂枝可以通血脈之閉。桂枝究非熱證所宜。但取能入血脈而具流利之品。或佐以辛溫。加意防其閉遏血脈。則得之矣。倘醫者遵信虛谷。執著必須溫通。重用桂枝之說。以治熱證。何異抱薪救火。為明辨之。不敢為先輩諱也。</p>
<p>〔三十一〕談往載崇禎十六年。有疙瘩溫羊毛溫等名。呼病即亡。不留片刻。八九兩月。疫死數百萬。十月間有閩人曉解病由。看膝灣後有筋突起紫者無救。紅則速刺出血可活。至霜雪漸繁。勢亦漸殺。余謂此疫即前條所云邪盛勢銳。直入心包絡。內犯心主之證。所以呼病即亡。危期極速也。考嘉興王肱枕蚓庵瑣語及桐鄉陳松濤災荒紀事皆云。崇禎十四年大旱。十五十六經年亢旱。通國奇荒。疫癘大作。據此。則其病由暑燥熱毒。深入血分可知。所以霜雪繁而病勢殺。刺筋出血。而其人可活也。刺筋出血者。經云。「血實宜決之」之旨也。邪入較淺。筋色尚紅。速刺出血。則血脈鬆動。便有活路。筋紫則為血脈凝瘀已極。縱刺之。血亦不出。為無救耳。此證神識必然昏沉。其脈亦必澀滯模糊。或促或伏。若用藥亦當遵「血實宜決之」之經旨。通利血脈主治。必使血脈漸漸鬆動。不致內犯心主。走死路。方為得法。（病由暑燥熱毒。若重用桂枝溫通。萬萬不可。）近時痧證。亦有頃刻告殂者。亦有刺舌底黑筋。刺兩臂彎。兩膝彎等處。出血而愈者。但不若談往所載既甚且多。為非常之疫癘耳。</p>
<p>〔三十二〕潛村醫案（乾隆時。西吳楊云峰乘六著。）姚繩其病痢。腹痛後重。膿血立見。繼而便孔中解出斷腸一段。長半尺許。延楊診。楊曰。此非斷腸也。若斷腸則上下斷頭。必垂而不舉。上下斷口。必閉而不張。所斷之半尺許者。何能進直腸而出肛門耶。且腸既斷矣。何其人猶活。而便中之膿血。仍相續而不絕耶。不知此乃腸內滑膩稠黏。如脂如膏。黏貼腸上之一層也。是即所謂陰也。腑氣大傷。陰難維繫。又為邪毒所壓而下。其形外圓中空。有似乎腸而實非腸也。試以棒撥之必腐。若真腸雖爛而斷。撥之不腐。家人撥之果腐。進診。面無神氣。脈甚細數弦勁。舌如鏡面。胃氣將絕。無救矣。逾數日。果歿。此與卷一第二十七條同一痢下脂膜。第整段而下。為罕有之證。</p>
<p>〔三十三〕藥氣入胃。不過藉此調和氣血。非入口即變為血氣。所以不在多也。有病人粒米不入。反用膩膈酸苦腥臭之藥。濃煎大碗灌之。即使中病。尚難運化。況與病相反。填塞胃中。即不藥死。亦必塞死。小兒尤甚。此洄溪徐氏目擊心傷。所以慎疾芻言有製劑之說也。拙稿本卷第二條言。「用藥治病。先須權衡病。人胃氣。」亦此意也。乃醫家病家。往往不達此理。以致誤藥傷生。可慨已。洄溪一案。備錄於後。足為世鑑焉。郡中朱姓。有飲癖。在左脅下。發則脹痛嘔吐。始發甚輕。醫者每以補劑療之。發益勤而甚。余戒之曰。「此飲癖也。患者甚多。惟以清飲通氣為主。斷不可用溫補。補則成堅癖。不可治矣。」不信也。後因有鬱結之事。其病大發。痛極嘔逆。神疲力倦。醫者乃大進參附。熱氣上衝。痰飲閉塞。其痛增劇。肢冷脈微。醫者益加參附。助其閉塞。飲藥一口。如刀箭攢心。哀求免服。妻子環跪泣求曰。「名醫四人。合議立方。豈有謬誤。人參如此貴重。豈有不效。」朱曰。「我豈不欲生。此藥實不能受。使我少緩痛苦。死亦甘心耳。必欲使我痛極而死。亦命也。」勉飲其半。火沸痰壅。呼號宛轉而絕。大凡富貴人之死。大半皆然。但不若是之甚耳。要知中病之藥。不必入口而知。聞其氣即喜樂欲飲。若不中病之藥。聞其氣即厭惡之。故服藥而勉強苦難者。皆與病相違者也。內經云。「臨病人。問所便。」此真治病之妙訣也。若孟子所云。「藥不瞑眩。厥疾不瘳。」此乃指攻邪破積而言。非一例也。此案載王孟英歸硯錄。自注云。「余編洄溪醫案。漏此一條。迨刻竣始知之。不便補鐫。故錄於此。」按洄溪醫案為王孟英所編刻。其中疑有託名之案。又慎疾芻言一書。其序文與徐氏六書各序。文筆極不類。疑亦是託名者。然觀古人書。立論處方。平正通達。便足師法。否則。即使真本。亦難信從。正不必辨其真偽也。</p>
<p>〔三十四〕單方治食羊肉成積。煮慄殼湯飲之。立效。殼用外層有毛刺者。閱白雲集（錢唐張繡虎賁著。）載「姑蘇錢禹功之父守默。療病多神異。長洲王司寇二子對食羊肉。腹膨脹。氣垂絕。令沸酒一石。徐沃其腹。飲慄殼湯。立愈。慄能令羊瘦。羊系慄下。食其殼則羸瘠。出雜誌中。本草所無也。」乃知單方亦有來歷。又治一貴人患癇。笑不止。令滿堂陳紅氍毹五色繒以相樂。頃之。一傖父突入。滿身垢盡汙之。貴人大怒。起逐傖父。繞堂走。逸去。不可得。貴人力憊。鼾臥三日夜。乃起。疾竟脫。貴人病在脾。性素慳。激其怒。以肝勝之也。二案推究物理人情。深得古聖治病遺意後一案不特激肝怒以治脾病。且使勞動之。動則陽生。所以治陰滯也。正內經「逸者行之」之旨也。</p>
<p>〔仲圭按〕存存齋醫話稿。何廉臣敘中雲。共五卷。但鐫版行世者。只此而已。即此二卷。據余所見。僅大小兩種木刻版本。今且絕版無購處矣。三卷癍疹痧疹二節。錄自紹興醫藥月報第一卷五六兩號。注者楊質安。系趙氏弟子。蟄廬不知與趙氏有無淵源也。</p>
<p>〔吉生按〕趙氏後輩。藏有散稿。不事整理。先人手澤。湮沒不傳。洵為可惜。蟄廬。即楊先生之別號。</p>

<h1>卷三</h1>

<h2>癍疹</h2>
<p>癍者。有觸目之形。無礙手之質。即稠如錦紋。稀如蚊跡之象也。或布胸腹。或見四肢。以鮮紅起發為吉。紫色成片者凶。色黑色青者不治。</p>
<p>疹者。有顆粒之象。腫而易癢。即痧癮之屬。須知出要周勻。沒宜徐緩。春夏多此。楊質安注。癍與疹當分別。癍出於胃。疹出於肺。傷寒失表失清。邪遏於胃。而發蒸成癍。故傷寒症發癍多。發疹則僅見也。其虛癍陰癍。由於中虛寒伏。逼其浮陽外越。無根之火內動。見癍隱隱而微。色白不鮮者是也。治須溫補。疹或是時毒襲入肺衛而發。或溫暑時邪從肺吸受。由衛入營之證。此邪在上焦。非由失表失清之故。當辨其在氣在營。而用宣肺輕透之法。若遇寒涼。須防抑閉。與癍之治法迥然不同。</p>
<p>大抵發汗不出。或雖汗不解。胸膈煩悶。嘔惡不納。足冷耳聾。脈沉而伏。或寸關躁動。便是癍疹欲出之候。楊質安注。沉伏由邪伏於內。脈道不利所致。寸關躁動者。伏邪勃發之兆。癍疹將出之時。上吐下瀉。其熱毒從吐瀉而外出。分消其勢。大忌止澀。若出齊後。及將回之時。忌吐瀉。恐其邪陷也。又痧瘄最宜通泄。惟二便不利。為凶候。</p>
<p>塞邪郁表。惡寒發熱。咽痛。身上有淡紅白癍。舌苔白而薄嫩者。當以荊防敗毒散溫散之。</p>
<p>溫毒瀰漫三焦。目赤舌絳。汗出津津。發為赤癍丹疹。忌風藥升散。宜涼膈散。陽毒發癍。面如塗朱。眼如噴火。六脈洪大。燥渴欲死。此陽明血熱已極。毒邪傳遍三焦。經絡閉塞。營衛不通。非三黃石膏湯。不能解救。</p>
<p>楊質安注。三焦表裡。俱被熱毒蒸灼。須兩解表裡之熱邪。癍疹方能透達。</p>
<p>伏癍證。傷寒邪入太陰。脈靜神呆。舌心灰黑。或時感過經不解。舌苔灰黑。或中心黑暈。肌表不甚發熱。脈似沉緩。但神識不清。或鄭聲作笑。此陽邪陷入太陰。防伏癍內發。治宜宣通氣血。透提癍毒。如連翹赤芍銀花紫草楂肉天蟲刺蒺藜犀角二刺之類。癍疹外達。自然毒透神清。</p>
<p>楊質安注。太陰為濕土之臟。脾與胃相聯。陽邪故易傳入。灰黑者太陰。濕與熱相蒸也。邪熱陷入。抑遏不宣。故表不甚熱。脈見沉緩。不可誤認為邪退正虛。浪投滋補。</p>
<p>勞倦內傷。虛火遊行於外。亦有淡紅癍點。其身痛心煩寒熱。雖與外感同。第脈虛大。或氣口獨大。倦怠懶言。動則自汗為異。投補中益氣湯。熟睡。汗止身涼。</p>
<p>楊質安注。此中虛稍挾微邪。用補正略佐達邪。</p>
<p>陰癍因有伏寒。或誤進寒涼。逼其虛陽浮散於外。其癍點隱隱而微。脈雖洪大。按之無力。或六脈沉微。手足逆冷。舌白滑。或黑胖。寒水剋火之徵。先用理中湯以復其陽。次隨證施治。若內傷生冷。外感寒邪而發陰癍。調中湯更捷。</p>
<p>腎虛挾感。癍疹無力透達。微現淡紅隱隱癍點。脈沉細無力。舌苔淡紅或紫色。舌形胖嫩圓大。（紫色圓胖少陰虛證舌也）似寐非寐。神識乍清乍昧。此少陰精不化氣。癍不得透也。當以左歸飲加人參。精氣充溢。癍自外達。若兼右尺遲微。手足逆冷。渴不欲飲。此少陰水火俱虧。當以人參八味投之。腎氣一充。其癍自退。</p>

<h2>痧疹</h2>
<p>痧疹有外襲寒邪。內蘊伏熱者。宜兩解肺衛之邪。麻杏石甘湯加桔梗薄荷射干牛蒡主之。蟄廬注。肺有熱邪欲發疹。外受風寒。鬱於肌表。疹不透達。肺火內燔。最易閉悶發喘。而成危證。用麻杏石甘開肺。清熱加味散表透疹。</p>
<p>風溫客於太陰手經。咳嗽咽痛喉啞。兼發疹。治宜辛涼清潤。大忌升葛荊防等。當以羚角連翹薄荷大力元參射干杏仁桔梗象貝銀花蘆根之類。繼以沙參石斛麥冬花粉知母梨漿之屬。養肺胃陰。</p>
<p>蟄廬注。火燥傷金若內挾濕火上蒸咽喉作腐者。是爛喉痧證。亦宜辛涼清透。忌辛溫升散。亦不宜寒涼苦降郁遏其邪。</p>
<p>陽明血熱。疹色如丹。舌絳如朱。環口燥烈。大渴引飲。脈洪數。宜犀角連翹鮮生地丹皮赤芍元參花粉銀花人中黃等。繼以大小甘露出入。以救肺胃。</p>
<p>痧邪餘熱郁肺。痰多氣急咳嗽。宜宣之開之。如梔豉桑杏桔梗枯芩薄荷象貝蔞皮通草蘆根之屬。</p>
<p>如痧疹雖透。而咳嗽聲啞喉痛者。此痧毒不能盡發。鬱於氣分也。亦宜宣通肺氣。如羚角前胡桑杏連翹大力射干薄荷銀花甘桔黃芩蘆根之屬。</p>
<p>痧瘄透發不盡。毒邪犯肺。喘急昏悶者。危證也。宜急透之。</p>
<p>蟄廬注。痧郁不透。內郁肺閉。大危之證。非麻黃大開肺氣不能救。用石膏清火。杏仁下氣。甘草緩急而瀉火。加犀角等提透清化為治。</p>
<p>痧瘄伏邪未清。致傷陰分而發熱不止者。宜甘寒養陰。如沙參玉竹金斛生地丹皮甘草之屬。</p>
<p>陰虧之人。感邪發疹。不可過用柴葛升散。緣此證雖表不得汗解。或雖得汗而疹未透。熱仍不解。惟清解中兼養陰液。庶能得汗。而疹亦透達。</p>
<p>白㾦見於夏秋暑濕伏邪之證。蓋暑必挾濕。為黏膩之邪。病多掩牽。遷延兩三候。邪未達而元氣受傷。發出白㾦。色白點細。形如肌粟。摸之觸手而微癢。狀如水晶珠而明亮滋潤者吉。抓破微有水者。乃濕從外出也。出無定期。熱勢壯則外見。緩則隱伏。甚至連發八九次。邪不達而身熱不退者。由其人元氣虧乏。不能化邪外出。故治白㾦與治疹異。疹宜提透。白㾦提透無益。當養正生津。清暑滲濕。使正氣充旺。則伏邪漸化。而熱得退。若㾦色乾白如枯骨。大凶之證。津液氣竭。邪欲外出。元氣亦隨之外散。乃邪正並脫之候也。</p>

<h1>附錄</h1>

<h2>吳山散記小引</h2>
<p>余於國學喜讀筆記。於醫學喜讀醫話。以其或述心得。或話見聞。頗雋永有味也。回憶民七受業於吾杭名醫王師香岩。師命讀醫經原旨難經經釋等書。頗苦其文義艱澀。不易徹悟。因以醫話為常課。及長。任教席於滬杭各醫校。授課之暇。偶有所得。伸紙濡墨。所作亦以醫話為多。茲遴選若干。附於趙先生醫話之末。不知能免狗尾續貂之誚否。</p>
<p><u>丙子季春古杭沈仲圭志於吳山寄廬</u></p>

<h2>吳山散記</h2>
<p>〔一〕楊君孝緒。患遺精腦弱。其腦症狀為不能多閱艱深之科學書。及微受刺激下部即有似欲遺精之感覺。求治於余。余以滋陰平腦固精之藥進退為方。服二月。遺精雖減而未痊。余囑其長服桂枝加龍牡湯先除腦弱之根源。（遺精）病根既刈。再注意睡眠飲食空氣運動等衛生療法。自可漸復健康。此乙亥春月餘在祥林醫局中醫療養室時為渠治療之情形也。後楊君遊嘉善。月餘始返。適余脫離祥林醫局。余與楊君。因診病而成良友。六橋徐步。湖心蕩槳。幾於無日不見。今相距較遠。過從遂疏。一昨楊君來訪。謂遺精服桂枝龍牡湯頓差。腦弱吞兔腦丸亦效。所謂兔腦丸者。即上海博濟書藥局登報贈送之腎腦再造丸也。方為人參一錢。土炒於朮錢半。云茯神二錢。天麥冬各錢半。遠志一錢。石菖蒲一錢。取汁。清炙甘草一錢。（按此即定志丸。治思慮傷神。遺精腦弱之病。）淡蓯蓉二錢。獺肝一具。淨棗仁二錢。歸身二錢。泡益智仁錢半。牡狗精一錢二。杭芍錢半。熟地五錢。兔腦一具。上藥研末。煉蜜為丸。血珀為衣。再被極薄青黛一層。每服六粒。日服三次。飯後開水下。去臘楊君合此丸時。曾詢余可否服用。余為之刪去蓯蓉牡狗精二味。及今思之。以雄鼠睪丸一二對代替牡狗精。易熟地為生地。並將獺肝兔腦鼠腎三物。取鮮者搗爛。和藥末加蜜為丸。似尤妥善。因獺肝含維他命甲。兔腦含磷。鼠腎含內分泌。皆神經衰弱之要藥。余如菖蒲遠志棗仁。古人認為健忘不眠等症之專藥。近世亦延用之。地芍歸參朮茯甘。即八珍湯去川芎。八珍對此病。據金正愚君之經驗。亦有效。故余認此方可為神經衰弱者服食之資。惟一日量只十八粒。抑何少耶。</p>
<p>〔二〕常習性失眠。多屬神經衰弱之結果。患者精神抑鬱。思慮紛然。臥時常覺睡意毫無。而神情又非常疲乏。勉強入睡。有徹夜不交睫者。（是曰前睡眠障礙）有隻睡三四小時。一到習慣醒時。即不能復睡者。（是曰後睡眠障礙）日間肉體困倦。心緒惡劣。腦昏耳鳴。目眩頭重。思考遲鈍。做事厭倦。勉強為之。乖舛百出。其精神上之不快感覺。有非楮墨所能形容者。故不幸而成斯證。人生樂趣。盡付東流矣。此病治法。當分標本。治標如酸棗仁湯琥珀多寐丸。或以酸棗仁一兩。生地五錢。米一合。煮粥食。亦良。治本如黑歸睥丸。天王補心丹及兔腦丸。總須選定一方久服不輟。方有巨效。此症乃神經官能疾患。尤宜注重衛生。特撮述失眠之無藥療法如下。</p>
<p>１、妄想過甚時。宜起床徐步。或流覽報章。待神經漸覺疲倦。再行安睡。</p>
<p>２、倘覺睡思為妄想所佔據。宜勉力沉靜觀念。理其頭緒。一念初發。即窮此念之起源而澄清之。再發他念。亦復如是。此以念制念也。</p>
<p>３、靜聽壁上鐘聲而默計其次數。此集中思想也。</p>
<p>４、入寢前。或輕微運動。或少食流汁。或溫水洗腳。此引去腦部之充血也。</p>
<p>５、枕宜稍高。並須輕軟。</p>
<p>６、注意大便之調整。夜膳後勿飲湯水茶酒咖啡尤忌。夜膳亦戒太飽。</p>
<p>７、寢室須南向。幽靜。勿點燈。但宜開窗以通空氣。</p>
<p>８、在不易入睡時。可低聲背誦愛讀之詩歌。然陳玉梅之催眠曲。俚俗不足取也。</p>
<p>９、臨臥用鹽含口溶化。或飲鹽湯一杯。有鎮靜神經之效。</p>
<p>余久患神經衰弱。並常失眠。故於此稍有心得。同病諸君。苟照上述藥物衛生等法。遵行不懈。則失眠之苦痛。將消滅於不知不覺間矣。</p>
<p>〔三〕中醫治遺精。有清火滲濕滋陰止澀升提諸法。隨症採用。自有良效。以吾經驗。單純的遺精病。初起用封髓丹（黃柏。砂仁。甘草）久病投桂枝加龍牡湯（桂枝。白芍。甘草。生薑。大棗。龍骨。牡蠣）或金鎖固精丸。（龍骨牡蠣。芡實。蓮肉。蓮鬚。沙苑蒺藜）最為佳妙。章次公藥物學講義牡蠣條下。有餘嘗以龍牡為末。治遺滑疾。病已而大便秘結之句。極言二物止澀效用之強大也。所謂單純的遺精者。對因他病伴發之遺精而言也。（如慢性淋濁。精囊炎。攝護腺肥大。膀胱炎。膀胱結石。膀胱腫瘍。尿道狹窄。龜頭炎。包莖。痔核。直腸炎。初期結核。傷寒之恢復期。糖尿病。脊髓勞。脊髓外傷。脊髓炎等皆可伴發遺精。）此症或宜祛其致病之因。或本病與遺精兼顧。不得概與上方。然臨床所見。一般青年患此疾者。大都由手淫意淫房勞所造成。或用功太過。腦弱遺泄。選用上述三方。殊覺允當。友生林君之遺精處方。用鹽水炒知母二錢。鹽水炒黃柏二錢。龍骨。牡蠣。蓮鬚。各三錢。芡實四錢。砂仁八分。（分沖）炙甘草五分。蓋合封髓丹與金鎖固精丸而為一方。與余意不謀而合也。友人慈航居士近制一方。將六味地黃丸。水陸二仙丹。聚精丸。三方合併。復加牛脊髓百合。共成十二味。以治腎虧遺精。肺病夢泄。此方滋養固澀。兼籌幷顧。苟病人食欲如常。可以試服。</p>
<p>〔四〕常習性便秘。多見於營坐業少運動之智識階級。埋頭研究不喜體操之中大學生。亦恆患之。故有學生病之稱。此外如神經衰弱。肺病。胃病。萎黃病。攝護腺肥大等。每苦便秘。腹部壓重膨滿。胃納不振。噯氣頭暈。大都系大腸部蠕動缺乏。分泌減少。或腸肌弛緩無力所致。欲根治此病。非注意衛生。輔以甘寒養陰劑不可。徒事攻下。無益反損。茲就管見。條舉如下。</p>
<p>１、生活宜有規則　２、養成早起如廁之習慣　３、每日宜啖新鮮之水果與野菜　４、晨起飲鹽湯一杯　５、排便時以手掌徐摩腹部　６、行適宜之運動　７、練習腹式呼吸法　此關於衛生方面者。若夫藥餌。如增液湯二冬膏桑椹膏養陰潤腸。最稱穩健。他如麻仁丸。或以大麻仁一味。搗碎煎服。或取大生何首烏。以人乳拌蒸。均有緩下堅糞之作用。余昔嘗患此。日常三四度如廁。努力掙扎。便終不下。頗苦之。後除遵行上述衛生療法外。並長吞服「卡斯卡拉片。」宿疾乃蠲。</p>
<p>〔五〕余鑑於中醫之特長在治療。治療之優良在方劑。故於讀書臨床之際。遇有驗方。隨手摘錄。日久成帙。顏曰非非室驗方選。除一部分發表於昔年王一仁主編之中醫雜誌外。其餘尚待整理。茲將吐血單方。略錄數條。以告世之患此證者。</p>
<p>【勞症吐血】仙鶴草六錢。大棗十六枚。水六杯。同熬五六點鐘之久。俟水已收成一杯服之。（此方肺結核咳血最宜。）</p>
<p>【吐血衄血下血】白芨三錢。藕節二錢。研末。開水沖服。（此係淺田宗伯方。）</p>
<p>【卒暴吐血】海螵蛸研末。米飲下一錢。（此治胃出血之方也。）</p>
<p>【吐血初起】生牡蠣。生龍骨。各七錢。白芨三錢。參三七八分。（研末調服）鮮藕半斤。（搗汁衝入）酒炒大黃錢半。鮮茆根六錢。溫飲。（張騰蛟曰。吐血急則治標。以龍牡白芨三七為主。緩則治本。以鮮藕。大黃。茅根為要。更隨症加減。治無不效。圭按此方分量。余已略加損益。）</p>
<p>【吐血】龜肉炙炭。研末水下。功能止血。</p>
<p>【失血】赤芍。丹皮各錢半。藕節五個。鮮生地一兩。茆根一兩。十灰丸三錢。（分吞。）黃芩一錢。黑三梔三錢。（陸九芝原注。血症多矣。初起必有所因。凡理氣達郁。清熱降火之法。俱不可廢。）</p>
<p>【吐血】丹參飯鍋蒸熟。泡湯代茶。日日飲之。（此方用於吐血愈後。以資調理甚佳。）</p>
<p>【虛火吐血】甘蔗汁。藕汁。蘆根汁。各一酒杯。白果汁二匙。白蘿蔔汁半酒杯。梨汁一酒杯。鮮荷葉汁三匙。七汁和勻。燉熱。衝入西瓜汁一酒杯。緩緩呷盡。</p>
<p>【陰虛咳嗽吐血】米仁玉竹各四錢。白芍枸杞麥冬沙參各三錢。川斷二錢。建蓮百合各三錢。（陸定圃原按。此方治陰虛咳嗽吐血最良。然必收效於數十劑後。謂非王道無近功乎。圭按原方無分量。今為酌定如上。）</p>
<p>【肺病吐血】童雌雞一隻。治淨。麥冬二錢。童便一盅。用河水瓦鍋煮爛。於天未明時連雞肉服下。連服二三雞。無不見效。（栩園按是方曾刊昔年申報常識。有多人來函報告確效。圭按童雞為未產卵之雞。胃弱之人。但飲其汁。肉不吃亦可。）</p>
<p>【吐血】鮮梨一個。去核連皮。鮮藕一斤。去節。荷葉一張。去蒂。鮮白茆根一兩。去心。柿餅一個。去蒂。大紅棗十枚。去核。煎湯代茶。數日見效。以後逢節前一日煎服。（圭按藕取汁衝入。尤妥。）</p>
<p>【痰血】白茅根（去心）馬蘭頭（連根）湘蓮子（去心）紅棗各四兩。先煎茅根馬蘭。濾去渣。再入湘蓮紅棗。入罐文火燉。隨時取食。二旬即愈。（以上三方。載家庭常識。以其俱屬食品。自然有益無損。誠虛症吐血之良方也。）</p>
<p>〔六〕偶閱崇善報一一六期。有小兒病之幾種鮮果療法一文。茲撮述大旨於下。亦家庭間之藥籠也。</p>
<p>【橘】促胃液和汗液之分泌。制膽汁之排泄。治感冒。黃疸。消化不良。圭按中醫向以橘皮為開胃藥。發表藥。蓋皮與肉之功效。相彷彿也。</p>
<p>【蘋果】含鐵質。性收斂。能制腐。治貧血。營養不良。食滯。下痢。圭按水果皆含果酸。助消化。惟蘋果尤擅勝場。並堪消除食滯之炎症。他如神經衰弱。赤痢。用之亦良。</p>
<p>【梨】含葡萄糖。為水果中之補品。圭按中醫向用作祛痰藥。相傳可治肺萎。</p>
<p>【葡萄】含鐵質。葡萄糖。甲乙二種維他命。治貧血。淋巴腺結核。圭按以葡萄製成之酒。曰葡萄酒。有紅白兩種。嘗謂諸酒皆害。惟此有益。蓋其酒中所含之醇。只百分之七八耳。</p>
<p>【香蕉】富澱粉。含黏液汁。治常習性便秘。圭按蕉根搗汁冷飲。治疔毒。</p>
<p>【西瓜】含磷質頗多。治神經衰弱。又糖尿病亦可食。圭按中醫向用以治熱性病之高熱汗出。美其名曰天生白虎湯。</p>
<p>【桑椹】含酸質及細胞膜質。治由便閉而起之身熱頭痛。以其有清血和瀉下之力也。圭按余嘗謂桑椹治便秘之虛症。桃花瓣（研末。每服五分。調粥中服。）治便秘之實症。堪稱簡效單方。</p>
<p>〔七〕碘質有改進人體新陳代謝。減少蓄積脂肪。以治肥胖病之效。考海藻含碘○·三三九。昆布含碘一·二三四。海帶含碘一·一六八。皆富於碘質之海產植物也。故以昆布。海藻。煎湯代茶。海帶。海蜇。作餚佐膳乃減肥之簡便單方也。民廿二。余在上海中國醫學院執教。有女生張嘉卉。貌端好而體豐盈。張恐減損綽約芳姿。詢余有無中藥可以消肥。余搜索枯腸。一無所得。今閱中醫新論彙編引本草「多食昆布。令人消瘦」之語。遂悟碘之作用。用著於編。以告世之苦肥者。並望張生盍一試之。</p>
<p>〔八〕韋陀鞭鮮者二三兩。白附子防風各三錢。治痛瘋甚靈。此民間單方也。醫生多不取用。惟適應症如何。傳者未詳。愚意此方症實體強而又屬於古人所謂痛痹者。確甚佳妙。傳者又云。韋陀鞭即鬼。箭羽。藥肆備售。因已曝乾。一兩已足。如病在下肢。加牛膝三錢。</p>
<p>〔九〕因多進生冷瓜果而致胃呆泄瀉。或感寒泄瀉日久不差者。理中湯最妙。如兼嘔吐。去朮加半夏（生用）薑汁。如兼腹痛。加木香。惟用此方。以脈沉無力為據。否則。夏秋常見之假性霍亂。治以溫藥。或將助其病勢矣。民廿一夏。余服務復旦實中。某生因過啖冷食。得河魚疾。同事俞東君。為處理中湯。一服而起。蓋俞君於傷寒今釋一書。反復探索。頗多心得也。</p>
<p>〔十〕燕窩系金絲燕所營之巢。以備產卵哺雛之用也。以其營巢之材料。純由黏稠如阿拉伯樹膠之唾液而成。故久浸水中。則膨大而柔軟。此物入藥。年代未遠。方書著其功用。謂能養胃液。滋肺津。止虛嗽虛痢。理膈上熱痰。時醫治虛損勞瘵。咳吐紅痰。每以此物加入藥劑。或勸病家煮食。惟據西醫言。燕窩治病之功效。實微乎其微。不能與其高昂之代價相稱。余意本品既系燕之唾液造成。似有裨於胃臟之消化。又以是項唾液。濃厚如膠。或可減少支氣管之分泌而為滋養化痰藥。促進血液之凝固而為止血藥。惟功效既弱。自非長食不可矣。是物本草雖有載及。但記述簡略。近人曹炳章等。皆有詳細之論文。發表於早年醫刊。論之甚詳。</p>
<p>〔十一〕鮑氏驗方新編頗多妙方。茲摘錄一二如下。</p>
<p>【代參膏】此膏大補氣血。可代參用。嫩黃耆（壯嫩而箭樣者切片用）白歸身（截去頭尾酒洗淨泥各五錢）肥玉竹（一兩）化州橘紅（三錢如無真者用新會陳皮去淨白亦可）共入砂鍋內。用天泉水熬成膏。每早滾水調服。</p>
<p>（圭按）此方妙在橘紅。健運脾胃。使滋補之品。無滯膩之弊。較當歸補血湯僅用歸耆二味者尤為妥善。惟功在補血。方名代參。未免誇張失實。</p>
<p>【法制陳皮】善能消痰順氣。止渴生津。陳皮（一斤清水泡七日去淨白）　臺黨　甘草（各六兩）同煮一日。去參草。留陳皮。加川貝母（兩半研細）青鹽（三兩）拌勻。再用慢火煮一日夜。以干為度。</p>
<p>（圭按）此方性質純和。製為成藥。勝於驥制戈製半夏多多矣。研末密藏。可以致遠。</p>
<p>【保精湯】遺久則玉關不閉。精盡而亡。世人往往用澀精之藥。所以不救。倘於未曾太甚之時。大用補精補氣。何至於此。芡實　真山藥（各一兩）　蓮子（五錢）　茯神（二錢炒）　棗仁（三錢）　臺黨（一錢）水煎服。先將藥湯飲之。後加白糖五錢。拌勻。連渣同服。每日如此。不須十日。即止夢不遺矣。</p>
<p>（圭按）此方安神固精。而稍兼滋補。久遺體虛。長餌此方。確極佳妙。</p>
<p>【盜汗】蓮子　真浙江黑棗（各七個）　浮小麥　馬料豆（各一合）水煎服。數次全愈。其效如神。</p>
<p>【神仙鴨】治勞傷虛弱。無病食之。亦能健脾益精。功效甚大。烏嘴白鴨一隻（去淨毛破開去腸雜不可用水或用白毛老鴨亦可）　南棗（四十九枚去核）　白果（四十九枚去殼）　建蓮（四十九粒去心）　人參（一錢）　陳甜酒（三杯）　好醬油（二杯）各放鴨肚內。不放水。瓦缽裝好封緊。蒸爛為丸。陳酒送服。</p>
<p>（圭按）此方健脾固精。滋陰清熱。肺勞。遺精。皆頗相宜。以上五方。為余覽鮑氏驗方新編時所抄存。（一）為補血劑。（二）為化痰劑。（三）為固精劑。（四）為斂汗劑。（五）為滋補劑。藥既平正無庛。方之應用亦廣。故為轉載於此。洵家庭間之藥籠也。</p>
<p>〔十二〕清道光梁晉竹秋雨庵隨筆載。「諸城劉文正相國。食量倍常。蓄一青花巨盎。大容數升。每晨以半盎白米飯。半盎肉膾。攪勻食之。然後入朝辦事。過午而退。同時尹望山相公。但食蓮米一小碗入朝。亦過午而退。然兩公同享盛名。並臻耆壽。此如宋張僕射齊賢每食啖肥豬肉數斤。夾胡餅。黑神丸五七兩。而同時晏元獻清瘦如削。止析半葉餅以筋卷之。捻其頭一莖而食。後亦並享遐齡。」圭按四公賦稟特異。不能以常情衡之。然食量過多過少。皆非衛生之道。據霍伊特氏所定之保健食物。謂中等壯年而操中等之勞動者。每日須給與蛋白質一一八克。脂肪五六克。含水炭素五○○克。方為適當。但欲將每日所進菜飯。精密估計其所含之營養分。使之適如上數。不但為事實上不易辦到。抑且無甚意義。大約吾人食物。以糙米。麩麥為主。輔以少量之肉類。蛋類。乳類。鮮蔬。水果。日進二三餐。每餐以八分為度。則營養既不虞缺乏。而胃腸亦常保健全矣。</p>
<p>〔十三〕西湖名勝甲天下。而醋溜魚之名。亦與西子湖並傳。遐邇咸知。凡來杭垣遊覽西湖者。莫不一嘗醋溜魚之美味焉。考此物系宋五嫂遺制。烹調得法。味頗不惡。番禺方橡坪孝廉有詩詠之曰。「小泊湖邊五柳居。當筵舉網得鮮魚。味酸最愛銀刀繪。河鯉河魴總不如。」醋溜魚系鯇魚和醋製成。鯇。補胃。肥健人。縱不如鰻鱺鰣魚之富滋養。補虛勞。但消化迅速。味清不膩。較諸獸肉。固勝一籌。病人老幼。食之咸宜。</p>
<p>〔十四〕偶閱浙江新聞千秋副刊載有張君何首烏之考正及虛偽一文。因憶民十七在上海中醫專門學校任教時。曾聽顧惕生先生演講肺癆病之食養療法。顧氏嘗患肺勞。以中藥調理獲愈。其子亦患是病。延西醫療治。卒不救。故其演詞頗揚中抑西。其實肺病無論中西。僉乏特效藥。全賴調養得宜。方能漸愈。調養之道。中醫不及西法完美。顧氏因愛子夭折。悲憤之餘。遂謂西醫不善治癆。其言雖失之偏激。但演詞中所舉治癆方藥。碓屬經驗有效。彌覺珍貴。爰為移錄如下。以便病肺諸君酌量制服。「日人又盛稱何首烏治癆。鄙人亦嘗試服。首烏與六味丸之主藥地黃。皆含鐵之有機體物。服首烏之法。每首烏一斤。加茯苓半斤。咳者加五味子半斤。欲求子者加枸杞半斤。中藥不但令人愈病。且令人有子。斯為奇也。初服即健啖倍常人。苦粳米飯不耐飢。須糯米飯方能果腹。其後多服。效力亦減。乃知治癆之法。藥物不如食養。」又此物有調整大便之用。患常習性便秘之人。取鮮首烏研末。蜜為丸。臨睡以淡鹽湯送下三四錢。自無如廁掙扎之苦。</p>
<p>〔十五〕摯友黃勞逸。以研究國產藥物。著稱於世。嘗語余云。雞卵之滋養價值。黃勝於白。消化吸收。亦黃速於白。故講求衛生者。恆傾去卵白。（因卵白屬半可溶性經高熱即凝固不易消化）專取卵黃打松。調於將起鍋之粥中食之。每粥一碗。可調入卵黃二枚。用代早食。長啜不斷。殊體虛者之恩物也。因卵黃中含有多量之含磷脂肪。蛋白。維他命甲及戊。皆人身之重要營養素也。惟此物生啖熟食。皆非所宜。最好半熟。故須熱粥調之。</p>
<p>〔十六〕客有詢本草善本於余者。答曰。諸家本草。每謂本經言簡意賅。精微處自有神妙不測之用。惟其文字高潔。每多含意未伸。非得慧心人悟徹隱微。得其真解。亦最易自趨歧途。所以後人之說藥性者。輒有似是而非。演成幻景之弊。迨唐以降。本草愈繁。主治更備。非不明白暢曉。言之成理。有時足補本經所未及。然已多數浮泛。難以盡信。甚至將本經舊說。別伸一解。而失之毫釐。謬以千里。全非古人之本意者。所在多有。貽誤後學。為害亦巨。李瀕湖綱目。網羅一切。最為淵博。有時殊病其繁。然羅列古籍。匯為一編。聽學者自為抉擇。可謂集其大成。以後諸家。繆氏經疏。差有發明。而時失之庸。似少精義。徐氏百種錄。文筆簡明。闡發精當。最是上乘。惜其太少。必不足用。石頑逢源。大有獨得之見。啟迪後人不淺。皆治藥物學者不可不讀之書。余若葉天士張隱菴陳修園喜言氣化。貌似高深。實則空談。何裨實用。又若汪氏之備要。吳氏之從新。則僅於綱目中撮取一二。以為能事已足。實如乞兒乍入寶山。舍珠玉而拾瓦石。不值識者一笑耳。（以上節錄瘍科綱要）惟何廉臣之實用藥物學。按西法分類。每品註明用量。體裁最喜。學者若照何氏分類。將本經逢源重加編輯。而以徐氏百種錄附入。作為參考。則眾美咸具。允稱善本。吾子既習本草。敢以是舉之成功相期也。</p>
<p>〔十七〕東醫東洞吉益曰。「名醫別錄言石膏性大寒。自後醫者怖之。遂置而不用。仲景舉白虎湯之證曰。無大熱。越婢湯之症亦云。而二方主用石膏。然則仲景之用是藥。不以其性寒也。不難概見。余篤信而好古。為渴家而無熱者。投以石膏之劑。病良已。方炎暑之時。有患大渴。引飲而渴不止者。使服石膏末。煩渴頓止。石膏之治渴而不足怖也。可以知已。」又曰。「後世以石膏為峻藥。而怖之太甚。是不學之過也。仲景氏之用石膏。其量每多於他藥。恆半斤至一斤。蓋以其氣味俱薄故也。」斯與張錫純石膏宜重用之論。若合符節。而一援本經。一徵傷寒。匯而觀之。無餘義矣。東洞又曰。「用之之法。只須打碎。近世以其性寒。用火煅之。臆測之見。余無取焉。大凡製藥之法。制而倍毒則制之。去毒則不制。以毒外無能也。」觀此。石膏之忌煅用。東洞亦早見到。不待張錫純之大聲疾呼。然亦足徵識者所見略同。惟欲醫林僉明斯義。醫報宣傳。猶病不廣。最好刊成小冊。到處分送。俾溫熱重候。醫生放膽重用。病家信服不疑。挽救民命。當必尤溥。世之慈善家。其以是言為然否。</p>
<p>〔十八〕客有詢余曰。世俗謂牛乳性溫助火。然乎否乎。曰。牛乳味甘氣微寒。功能養心肺。潤大腸。解熱毒。澤皮膚。主治消渴熱噦勞損按三症皆原於火。而牛乳能治之。其性非溫。灼然可見。矧陳藏器有「冷補」之明文乎。此物潤燥生津。為病後調理高年體虛唯一之補品。賤體陰虛火亢。飲用牛乳。將及一載。只蒙其益。未見其弊。此尤足破俗說之謬矣。惟與酸物相反。誤和食。令人腹中癥結。飲牛乳者。不可不知。</p>
<p>〔十九〕大棗氣溫味甘。滋脾土而益氣強力。潤肺金而生津止咳。調榮衛。治泄瀉。近世醫家。多用紅棗。惟鞠通吳氏獨持異議。謂「大棗色赤黑。味甘微酸。取其以補脾經血分之陰。去核使不走下焦。配以生薑。補胃中氣分之陽。一陰一陽之謂道。為中焦調和榮衛之要品。而今人多用紅棗。本草綱目謂紅棗理疏不入藥。豈未之見耶。」圭按黑棗味厚。補脾專長。紅棗力薄。和胃最宜。佐參耆以建中州。宜投黑棗。合生姜以和榮衛。當用紅棗。且久餌黑棗。有助濕熱之弊。而紅棗則否。細核二者功用。大同之中。不無小異。爰為分析如此。</p>
<p>〔二十〕羚羊角與犀牛角。皆為清涼劑。但犀角兼有強心作用。羚羊兼有鎮痙作用。故高熱而脈搏細數或促數者宜犀角。高熱而四肢搐搦者宜羚羊。古人認犀角為心藥羚羊為肝藥者以此。</p>
<p>〔二十一〕愚杭人。執教鞭於鄞南惠風小學。乙丑聖誕。應友人之召。赴鎮海橫河。便道謁師兄王仲生。為愚述夏令所治濕溫暑溫諸症。僉以大冬瓜半枚。鮮青蒿一握為主。隨證加佐使數味。濃煎一甑。一日或二日飲完。無不立愈。按冬瓜寒能瀉熱。淡以滲濕。性通利便。兼解暑邪。青蒿苦寒清濕熱。芬芳不傷脾。以療暑溫及濕溫之熱多於濕者。確屬針鋒相對。矧鮮藥味全。量重力專。迅奏膚功。可無疑義。爰為抉出。以視同道。</p>
<p>〔二十二〕產婦氣血虧損。生產努力太過。或產後即行勞動。輒致子宮脫垂。西醫對於此症。只用子宮托及外科手術。爰將中醫藥方錄左。藉供臨床之借鏡。</p>
<p>（一）人參（一錢）　炙黃耆（三錢）　當歸身（三錢）　川芎（六分）　清炙甘草（四分）　升麻（三分）　五味子（五粒）</p>
<p>（二）蜜炙黃耆（二錢）　土炒白朮（一錢）　歸身（三錢）　人參（一錢）　蜜炙升麻（三分）　炙甘草（五分）　陳皮（一錢）　生薑（一片）　紅棗（二枚）</p>
<p>以上二方。以補益升提為主。蓋原因療法也。</p>
<p>〔二十三〕蘇東坡詩。「主人勸我洗足眠。倒床不復聞鐘鼓。」此誘導上部血液下行之法也。與元明粉（即硫酸鈉）之治喉痛。（見十九年中西醫學報）清寧丸（即一味大黃酒製為丸）之治目赤。調胃丸（即大黃芒硝甘草為末蜜丸）之治齒痛出血。（見玉樞微義）同一理由。</p>
<p>〔二十四〕方書治吐血痰血。多用藕節。而鮮有用藕者。余初以為新鮮之藕。其療效必勝於乾燥之節。凡用藕節之方。允宜代以鮮藕取汁。方為合理。今乃知古人用藕節以止血。亦含有科學原理。未可一筆抹殺。遽斥其非。緣藕之所以能治血症者。恃其所含多量單寧酸有愈合創面血管之效耳。藕中所含固富。但其節幾全為單寧而乏澱粉。收效自然更大也。</p>
<p>〔二十五〕隨息居飲食譜載。「玉靈膏。一名代參膏。自剝好龍眼肉。盛竹筒式瓷碗內。每肉一兩。入白洋糖一錢。素體多火得。再入西洋參片如糖數。碗口幕以絲綿一層。日日於飯鍋上蒸之。蒸至百次。凡衰羸老弱。別無痰火便滑之病者。每以開水瀹服一匙。大補氣血。力勝參耆。產婦臨盆。服之尤妙。」圭按龍眼本草著其功用為定志安神。養心補血。列其主治為思慮勞傷心脾。譯以西說。此物實為大腦之滋養藥。對於神經衰弱。少寐善忘等症。照上述蒸膏之法。長服無間。確有殊效。惟王氏贊為「大補氣血。力勝參耆。」未免言實兩岐矣。</p>
