<header data-type="book">
<h1>產寶諸方</h1>
<dl class="元資料">
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·產寶諸方》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0044/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>
