<header data-type="book">
<h1>汪藝香先生醫案</h1>
</header>

<h1>序</h1>
<p>梁溪汪藝香先生，遜清良醫也。學術淵博，識見高超，生死輕重診斷如神，求治者踵相接。至危至險之症，一經著手，罔不轉危為安，化險為夷，洵我中醫界傑出之人才。醫案透徹詳明，論病理切中肯綮，用藥靈通活變，頗多發明。惜其醫案散佚無多，為一大缺憾，茲將蒐羅所得，錄付本刊，逐期披露，供給同志研究，雖屬零珠碎玉，而於醫林之中亦不無小補，云爾。</p>

<h1>上</h1>
<p>（案1）齒垢舌黃，積之據也；熱壯汗少，邪之徵也。腹硬而痛，屢圊便少，可以下矣；脈浮而數，膚灼舌乾，可以汗矣。症恰七日，伏邪為患，用下不可以承氣，用汗不可以麻桂，姑擬辛涼開表，微苦通里，如得汗下雙暢，或可不致昏閉。</p>
<p>薄荷　浮萍　葛根　豆豉　光杏仁　鮮佛手　枳殼實　花檳榔　竹瀝滾痰丸　玉樞丹</p>
<p>（案2）夏受暑邪，至秋而發，隔季而病，是名曰伏，病之難退，正理此耳。邪之所伏，必在募原。夫募原乃隔膜之稱，居於少陽陽明之間。如伏邪歸入少陽，則為寒熱交作之正瘧；走入陽明，則為不寒但熱之癉瘧。是症始起微寒不慄，熱退不清，的系募原之證，中途轉為連熱，因其挾積邪，並陽明與積合病故也。而今積滯已去，暑濕未化，仍然盤踞陽明，隨衛氣以出入。衛為陽氣，行於周身者也，既為暑濕相客，其間必有聚處，至其所則起，過其所則伏。脈形細數，汗出不快，神倦懶語，有時譫言，病經十有七日，暑濕之未化，正由汗之不暢。而汗也者，乃陽氣陰津蒸化濁邪而出。際此氣陰俱傷，蒸化乏力，欲其有汗難矣，姑從暑濕著想，惟以清泄為主。</p>
<p>法半夏　淡芩　雅連　西洋參　黑山梔　豆豉　薄荷　茯苓神　連翹　竹茹　石菖蒲末　濂珠末　川貝母　益元散</p>
<p>（案3）夏受暑邪，秋必成瘧。瘧類有四，治宜分晰。此症始而間日起伏，先為寒熱不分，繼則寒能戰慄，熱可退清，今變但熱不寒，的是伏暑之邪，從募原走少陽而轉入陽明，竟成癉瘧重症。嘗讀古聖遺訓，陽明之瘧有白虎加桂一法，姑師其意。</p>
<p>桂枝　蘆根　知母　淡芩　黑山梔　豆豉　通草　滑石　鬱金　佛手</p>
<p>（案4）時症三候，例當邪焰已殺，正氣漸復，方為向安之象，詎料暑濕積三寇鼎立不解，竊恐奮勇之師無糧不能前矣。姑效淮陰背水一法，至於成敗利鈍，非余所能逆料也。</p>
<p>南沙參　淡豆豉　桔梗　薄荷　滑石　黃芩　川樸　佛手　鬱金　枳實　檳榔　大黃　玉樞丹　西牛黃</p>
<p>（案5）初診：風、寒、暑、濕、燥、火謂之六淫。六淫即謂之六邪，六邪之中暑濕兩字每多連呼者，良有暑為天之氣，而濕為地之氣。天之暑熱一動，地之濕濁自騰，人在氣交中，強者可御，弱者易受。從口鼻吸入，內伏而發，秋涼引動，病於少陽則為瘧，即《內經》所謂「瘧不離膽」是也；病於陽明則寒不能慄，熱不退清，雖亦名瘧，然必嘔噦、煩悶、胸痞。此症今五日矣，見象大概如是，而以脈象參之，左部見弦，右手濡數，弦則似有轉瘧之勢，濡則仍居於胃。胃為中土，又為坤地，地氣上騰，天氣不肅，猶如隆冬之雲霧迷空，日光被蔽，胸中清曠之地變成煙塵之區，煩躁難過，夜不安寐，勢當然耳。刻交成敗之際，正勝則邪達，自可日臻康壯，邪勝則正負，必致內陷神昏，扶正本非其時，達邪誠為要事。古云：急者先治。旨哉，斯言！但暑濕皆傷氣分，暑居濕下，清之徒然，濕遏熱上，開泄為主，且以苦辛使其氣之升降，溫苦解其濕之瀰漫，輕淡宣其蘊伏，如能應手而效，尚屬立陣布兵之時，何能一鼓掃蕩？望其邪勢折挫，能免變幻幸焉。</p>
<p>桔梗　光杏仁　檀香　香附　枳殼實　檳榔　藿香　川樸　豆豉　滑石　蘇葉　蔻仁　鬱金末　石菖蒲末　二末先服。</p>
<p>二診：暑之中人也，壯者感而即發，虛者著而蘊伏，內舍於骨髓，外舍於分肉，不能傳送，暑邪達外必待秋，秋涼冬寒相搏而出，發於霜降前者為輕，病於霜降後者為重。夫暑必挾濕，二者皆傷氣分，氣能開合，邪隨開而為起，合而為伏，氣為暑濕所傷則開合失其常度。肺氣合則煩悶，胃氣合則嘔噦，腸氣合則不便，脾氣合則膚冷，故昨用桔、杏以開肺，檀、附以開胃，枳、檳專流於三焦以通腸，藿、樸以開脾，郁、菖以開痹，豉、滑以蕩胸中之熱氣，蘇、蔻以祛濕之穢氣，而今氣開未全，暑濕未清，所以症象衰減，不能不解也。仍慮昏蒙之險，再當擴充前方。</p>
<p>桑葉　豆豉　桔梗　光杏仁　鬱金　藿梗　佛手　川樸　蔻仁　花檳榔　枳殼實　竹瀝達痰丸</p>
<p>（案6）不寒獨熱，今恰半月。刻見神識昏迷，譫語無音，面色青晦，目有白翳，六脈濡數而浮，舌苔灰黃似腐，熱不外揚，渴不多飲。此由中陽式微，砥柱無權，暑濕不能達外，反致內陷。古云：陷者舉之。東垣所謂補中益氣是也。扶正達邪，本屬善治，無如邪固可達，痰濕難化，嘗考薛葉諸家每以辛香解逐，由此而論，扶正為督戰之師，達邪作剿賊之將，然危篤若是，百中圖一而已。商用</p>
<p>別直參，河水煎濃湯，調服下藥：明雄精、陳膽星、豬牙皂、當門麝香，四味研末，調服。</p>
<p>（案7）初診：熱勢輕劇無序，他症無起伏，即謂之起伏，惟伏邪能起伏者，須從伏字著意。蓋伏即進，起即出，而進者能出。人身之氣道，晝夜運行，循環不息，晝行二十五度，夜行二十五度以分陰陽。今因伏暑內蓄，邪與衛氣並居，雖不能阻其往來之道路，而必隨衛氣以出入，至其所則起，過其所則伏。若論輕重長短，視其邪之多寡，正氣之強弱為轉移，其中夾他病，須隨症參切。是症今恰半月，熱仍夜甚，煩悶乾噦，脘腹板痛，遍體透斑，斑色紅紫，固是正理，兼有晦青不澤者，誠非佳兆。脈來濡滑而數，舌苔淡黃而垢，良由稟賦本虧，病初之際，經事適來，陰氣暗泄，邪熱乘襲，當此濁邪與積膠錮之時，宜出大隊軍兵。所謂無糧之師，貴於速戰。姑用大黃黃連瀉心合犀角大青之法，蓋斑與疹㾦不同，斑宜清化，古人早已示後，原可一例施治，未識符否，備商。</p>
<p>生軍　雅連　淡芩　法半夏　犀角　大青葉　黑山梔　鬱金　薄荷　茅根肉　苦杏仁　連翹殼　摩枳實</p>
<p>二診：治病猶如敵寇，用藥宛若用兵，應戰則戰，當守則守。是病邪積膠錮，而正陰素虧，無糧之師，貴乎速戰。故昨用大黃黃連合犀角大青之法，幸得便已數行，腹硬較軟，斑色之紅稍退，脈象仍帶滑數，舌轉淡黃而露底，望之色干，紅刺密布，想由腸胃之積滯下而未清，身中之陰液日傷一日，有限之陰液既傷，難勝無情之邪熱，外來之病竟似盜寇，逐去即安。當此大戰之際，對敵之寇苟能散而不聚，可無猖獗之勢矣。</p>
<p>摩犀角　鮮生地　赤芍　丹皮　鮮石斛　元參　茅根肉　瓜蔞仁　生梔子　連翹　摩枳實　竹茹　摩花檳榔</p>
<p>（案8）初診：《經》曰：夏傷於暑，秋必成瘧。又曰：暑必夾濕。夫瘧雖不離少陽一經，然與咳相類，臟腑皆有，贅在《素問》。是症始起，寒雖不慄，熱可退清，仍屬膽病。病尚未楚，即加跋涉道途，不慎於食，不安於居，所以轉加腹撐便泄，形疲力乏。今診脈象，左手弦數，右部濡滑，舌苔薄白，呃逆頻見，納食頗減，痰出黏膩。細思肝膽表裡相應，又為甲乙之木，膽病則肝亦病；脾胃本屬相聯，又為戊己之土，脾病則胃亦病。迄今寒熱止，而脈見弦數者，肝臟病也，腹撐便泄，火升面赤，是其徵也。納少呃逆乃木剋土位，膽脾不能同升，肝胃焉能獨降？脈見濡滑者，脾胃病也，便泄數多，納不能飯，是其徵矣。中少砥柱，氣竄上下，是土被木侮，左道升之太過，右路降之不及。蓋萬物皆有五行，論病首先重此。金生水，則肺腎同旺；水生木，則肝得滋養；木生火，則心主安寧；火生土，則脾胃充足；土生金，則人病何來，名曰相生。金剋木，則肺肝乖違；木剋土，則脾胃受侮；土剋水，則腎水枯槁；水剋火，則心主無權；火剋金，則肺損源絕，名曰相剋。克無多見，一臟一腑已屬難療，人之至要，必在脾胃，所以自古聖人皆以後天為本。脾為營血之源，胃為衛氣之根，方書所謂能納者尚有返還之意，不能納者，徒恃藥力無功。前論木剋土位為一忌，納食迅減為再忌，便泄加呃為三忌，兩脈弦滑為四忌，況年屆杖國，輕重善惡毋庸言而可喻矣。姑擬一法以圖弋獲。</p>
<p>人參　於術　茯苓　橘葉白　柿蒂　吳萸汁　炒白芍　枇杷葉　竹茹　木香　香稻葉　刀豆子　燕窩湯　摩檀香</p>
<p>二診：《經》曰：脈為血府，百骸貫通，臟腑配合，可推病情。位分三部，息分九候。左寸屬心，膻中配之；左關屬肝，膽為其腑；左尺屬腎，小腸同居；右寸屬肺，胸中配之；右關屬脾，胃為其腑；右尺屬腎，大腸同居，此言其臟腑之配合也。又云：肝生於左，肺臟於右，心部於表，腎治於裡，脾胃位中，膽寓於肝，小腸在大腸之上，膀胱傍二腎之側，此言其臟腑之部位也。今診左寸無神，心血久已不足；左關獨弦，肝膽氣火有餘；左尺不鼓，是腎氣之衰弱；右寸微滑，肺經素有貯痰；右關軟濡，脾胃運納無權；右尺乏力，乃腎陽之式微。際此少腹攻撐，下趨則便泄數多，上逆則氣升胸窒，暮夜身熱，兩顴先見戴陽，納惟湯飲，米粒不能嚥下，慵於語言，聲啞不揚，此皆今日病象。初診因其呃逆不已，便泄不止而用六君柿蒂之法，據述藥病相當，頗有轉機之意，無如高年元弱，變端不一。前案已言，木剋土位，不能納者，徒於傷寒邪積盤踞之際，雖用承氣攻伐，聖人尚言急下存正，所以七日不食，有腸胃固絕之戒。是症始起為瘧疾，繼則諸事繁冗，食物不純，直至不能支持，而後已病象日變，元正日乏，竟蹈無胃不治一端。餘本膚才淺見，焉能謬膺重任。既承推愛，勉再搜索枯腸，一則以盡下愚之忱，一則以邀彼蒼之佑，鉛刀襪線盡在於斯，即請明眼採裁。</p>
<p>人參　於白朮　金石斛　白芍　防風根　五穀蟲　桑葉　丹皮　竹茹　香粳谷　荷葉蒂　伽南香　牡蠣　橘白</p>
<p>三診：泄則傷脾，久則必傷於腎，蓋腎主二陰，權亦不小，所以古人立胃關煎脾腎雙補之法。脾為後天之本，腎為先天之源，脾傷則運化乏力，胃納應減，胃為陽土而主容納，脾為陰土專司磨運，一納一運，互相資生，至於腎經一臟，內藏命火，火如充足方能熟腐水穀，生化氣血。而今時寒，烘熱已退，固是暑濕化解之徵，無奈泄之不休，將及兩月，飲食日減，心宕顴赤，脈來細弦，右尺虛散，舌質淡紅，滿布白疳，即此見端，已有藥不勝病之憂。矧十日前陡增咳嗽氣促，不但用藥有顧此失彼之嘆，抑且肺金因咳再傷。土本生金，金為水母，循環受傷，虛莫能支，漫擬引火歸源，猶如釜底添薪，如能土仗火旺，泄少谷多，冬行春令，或有望耳。</p>
<p>東西洋參　砂仁　炒於白朮　朱拌茯苓神　姜渣炒白芍　附子湯　炙龜板　麩炒山藥　菟絲子　川貝　炒秫米　血鹿片　蛤蚧尾　四神丸</p>
<p>（案9）初診：夏邪秋髮，病已兩候，始則微寒，繼則足冷，熱勢起伏，間有輕重。初飲頗多，今反不渴，每痰必嗽，每醒必汗，舌苔滿布淡黃，脘腹按之作痛，此皆伏邪夾積夾濕重症本有之事，無如六脈細數不耐重按，面色㿠白，天庭青暗，詢之正元素乏，未病氣鬱，是以邪內鬱而不得外達，並從虛而恐致內陷。蓋時症一候之中，難分勝負，兩候之內，可見成敗。刻已將及三候，元正日有不支之形，邪客竟無纖毫解退之機。由此而論，雖用開泄疏化之法，竊恐其鞭雖長，其腹難及。</p>
<p>桑葉　豆卷　薄荷梗　光杏仁　桔梗　鬱金　滑石　川樸　佛手　枳殼　花檳榔　石菖蒲</p>
<p>二診：《經》曰：因於暑汗，煩則喘喝，靜則多言，體若燔炭，汗出而散。可見六淫之邪不從表汗，不得外越。前因暑濕混淆，氣機窒痹，邪郁不達，濕遏不宣，以致足冷，身熱起伏，輕重不一，不咳有痰，臥醒有汗，舌苔淡黃滿布，胸悶腹硬作痛，前用開泄上中，疏化邪濕，竟得大汗遍體，㾦乃密布，熱勢居然退清，舌色已化七八，脈緩而胸次開展，無一不是佳景。惟腑道日久未通，臍間自覺阻滯，顯系無形之暑濕可以表解，有質之宿垢必從里通。第症交三候，稟賦素虛，難任承氣大攻大伐，且非急下陽明之際，既從無形而退，仍當專事氣分。古人有言曰：治積先治氣，氣行積自去。此症殆有是焉。至於勞復食復兩端，自宜存之左卷。</p>
<p>桑葉　光杏仁　桔梗　川樸　佛手　蔻仁　枳殼　石菖蒲　香附　通草　花檳榔　竹瀝達痰丸</p>
<p>（案10）人之智識靈慧，皆本乎心，心為君主之官，心包代君用事，諸病之糊塗囈語，無非邪熱痰穢矇蔽心包。心包用藥難表難下，惟取精靈之品佐以滌痰之味，護內攘外，清熱開塞。症方五日，肢冷身熱，頓為神識不慧，糊語不休，苔黃邊白，脈象滑數。此係暑濕入里，濕為熱蒸成痰，暑為痰遏難解，痰熱迷竅，穢濁上蒙，直迫心包，君主無權，閉脫之變，勢恐接踵而至。</p>
<p>生山梔　連翹心　竹葉心　淡芩　朱滑石　朱燈心　石菖蒲　鬱金　川貝　天竺黃</p>
<p>另：麝香　西黃　雄精　玳瑁　膽星　以上五味研末，先服。</p>
<p>（案11）初診：肢寒身熱三日，已見苔黃溲赤，獲汗而勢不衰，非風寒也，伏邪也。昨夜煩懊異常，人事模糊，今午忽爾手舞足蹈，目瞪不語，此名謂閉。猶如天時鬱勃，六合閉塞，風電交加，雖經針刺稍定，然有形之痰與無形之暑膠結，如樞紐不能遽化，現閉極生風，勢有外脫之虞。欲不外脫，須開內閉。再詢之，數日未便，按腹板硬呼痛，又兼積滯內阻，用藥可謂掣肘矣。</p>
<p>生山梔　連翹　竹葉　薄荷　鉤鉤　膽星　天竺黃　朱燈心　碧玉散　鬱金　枳實　竹瀝　滾痰丸（鮮荷葉包入煎）　至寶丹（研細，用細葉菖湯送下）</p>
<p>二診：症經七日，十齡童子已作一候矣，過候而諸恙不退者，尤非所宜。蓋時症以一候為限期，如候上得松，其病漸退；如候上增劇，其勢必有進無退。即如此症，閉象雖開，迷糊不清，手舞雖定，煩懊不平，腹時叫痛，按之板硬，脈來渾滑而帶數，舌苔灰黃而垢膩，從其起伏而論，不見咳嗽，的是暑邪發於募原，因其積滯內阻，所以直抵陽明，痰蒙宮城，開手即閉。閉開舞定而他款不退，時輕時重，猶如邪勢滔天，抑且面色青晦，厥陰所主。而厥陰乃至陰之地，內藏風火，邪如乘入，明早寅卯之間，恐有非常之變。</p>
<p>黑山梔　豆豉　連心翹　竹心　雞蘇散　川貝　鬱金　枳實　上生軍　犀角尖</p>
<p>另：西黃　辰砂　礞石　石菖蒲　以上四味研末，先服。</p>
<p>三診：胃為倉廩之官，又曰水穀之海，觀此經義皆屬專指積滯而論，如概而言之，不惟水穀積滯，即痰熱邪火至此皆可一下而降。所以無論癉瘧、傷寒、瘟疫、濕溫，病及陽明俱可以下，建功甚速。此症因其始起即閉，邪火痰積無一不具，昨用斬關奪門之將，復入清心宣竅之味，宛如兵家之兩路夾攻，水陸並進，幸得桴鼓相應，大為快事。但邪勢猖獗之際，安能驟平，餘波充斥，不可不防。</p>
<p>黑山梔　豆豉　連翹　薄荷　摩犀尖　上生軍　竹茹　蘆根　石菖蒲　鬱金　枳實　萬氏清心丸</p>
<p>四診：六氣為病，望問聞切四字不可缺一。即如此症，脈象舌色各居其半，為病確據，推之經義即是望切兩字，寒熱虛實輕重出入絲毫不錯，復以一切見證合而論之，無微不顯。脈數已和，滑象未退，舌黴已化，苔黃尖絳，的是邪火漸息，痰滯未清，所以神迷好臥，偶而狂起，臍之右旁按之尚痛也。當用瀉心湯合白虎法兩者並進，一清其在經之熱，一通其在腑之積，經腑同治，邪積悉化，病魔自退矣。</p>
<p>法半夏　黃芩　雅連　生軍　玉泉散　知母　黑山梔　豆豉　連翹　茅根　竹黃茹　川貝　鬱金</p>
<p>另：西黃　琥珀　石菖蒲　月石　四味研末，先服。</p>
<p>（案12）年已古稀之外，氣液無有不虛，病患暑濕竟成癉瘧，今已十有三日。熱勢雖衰，尚未退清，脈象小數，舌色光紅，有時神識不清，口渴頗喜湯飲，濕因液虧而化暑，由氣虛尚逗。大凡暑病之不寒獨熱者，陽明症也。《經》所謂：陰氣先傷，陽氣獨發。良有意耳。刻下虛多於實，正負於邪，古法本有扶正達邪之治，然胃氣不振托邪難盡，胃陰不醒飲食難進，竊恐病去元敗，臨崖勒馬收韁而有不及之嘆。</p>
<p>南沙參　金石斛　香稻葉　橘白　竹茹　川貝　蘆根　知母　益元散　元參心　連翹心</p>
<p>（案13）癉瘧一症，傳書甚少，仲祖為歷代之聖師，尚無專書，不過列於諸瘧門中，似敘似釋，亦未立方。後世喻嘉言立甘寒一法，此治癉瘧立論。現之論癉瘧者，不外暑濕二字。暑必傷氣，症甫四日，當時凜發熱，自午後而起逕至黎明，得暢汗而緩，以後至時復作，卻不甚重，汗亦不多，此非邪達勢輕，乃邪伏募原。氣為邪遏不復宣越，所以昨日來勢又甚，甚則胸悶煩躁，嘔惡不止，脈象渾滑而數，舌苔黃厚而膩，數日未便，腹脘覺痛，良由暑濕內蘊為新寒新積觸發，積系穀食所成而必在胃。胃為多氣多血之鄉，胃既受病則氣血不得流暢，邪必因之而入，是以日輕日重成起伏也，恐淹纏生變。</p>
<p>法半夏　淡芩　雅連　蘇葉　乾薑　川樸　蔻仁　枳殼實　花檳　桑葉　桔梗　光杏　闢瘟丹</p>
<p>（案14）小兒蒸變之後，臟腑完備，喜怒自如，其生長猶如草木之欣欣向榮。惟小兒體屬純陽，必得純陰之乳以配之，草木初栽根浮必得濡潤之水以溉之，若曝於日必見枯萎，此小兒受熱變經之喻也。年方四周，玉液初斷，進谷未久，稟賦之陽，蓰倍於陰，概可知焉。是症始聞火驚，繼嚇鑼鳴，夜即身熱，誤會受寒，褥以羊裘，被以重棉，陡發驚搐，氣升痰鳴，四肢不溫而面色青灰，六脈沉而微形弦數，兩目直視，二便皆窒，呼之不應，飲之不啜，此名驚閉。蓋閉乃手少陰之病，驚乃足厥陰之疴，驚則氣亂陽升，閉則氣窒陽伏，驚由熱甚生風，閉由火蒙痰蔽，因驚而經絡牽掣，從閉而智識全無，驚而神氣清澈者方為輕兆，閉在驚厥之後者則為重候。大抵小兒之病，最怕其驚，五臟之疾，心可不犯。歷考古人治驚以鎮，治閉以開，再清其膈間氤氳之痰熱，或可轉險為夷，然雖取法聖賢，特恐病似祖鞭矣。</p>
<p>羚羊角　雙鉤鉤　山梔　連翹心　鮮薄荷　朱燈心　石菖蒲　竹黃葉　川貝　膽星　淡芩　龍齒　礞石　至寶丹</p>
<p>（案15）童女風溫，今恰一月，中途雖則轉輕，而濁邪未清，餘燼復焰，身熱又起，咳嗽無汗，大便不行，脈弦數而帶滑，舌淡黃而尖絳。此由邪積夾痰互阻，肺胃表裡既無出路，自然鬱蒸化熱，蒸痰動風。風藏於肝，痰生於胃，胃為十二經之總路，肝為東方乙木。胃氣不降，風火上升，所以至其時而益甚，驚厥生焉。刻雖針刺便行，然神識未清，手搐目竄，語言不出。胸中本屬清曠之地，而今轉為塵霧之天，機竅被其矇蔽，經絡被其阻痹也，勢在險峻，難免復驚之變。</p>
<p>羚羊角　鉤鉤　竹黃　山梔　連翹心　淡芩　薄荷　大力子　川貝　殭蠶　茅根　珍珠母</p>
<p>另：礞石　膽星　石菖蒲　麝香　金箔　風化硝　六味研末，竹油調服。</p>
<p>（案16）乳兒未及載半，痃瘧已延年餘，幸而脾胃強壯，後天有權，仲春得以向愈。詎知感冒風溫，染成頓咳，邇來熱甚，三日即發驚厥，目竄睨視，搐搦反張，哭不轉聲，涕淚皆無，諸疑畢集，無端不作，作後神識似慧而屢發不已，良由病雜遷延，氣陰俱傷，氣傷則絡脈空乏，陰傷則木失涵養，化無情之風火，夾有形之痰濁，蒙竅襲絡。夫絡為小路，竅乃空洞，非邪不進，非虛不入，所謂邪行如水，虛處則受也。思其既進不易外出，所服藥餌，苟非直抵病所，安能轉危為吉？是故為醫者不得不傾心吐膽，搜索枯腸，勉擬一方，以期化險為夷。</p>
<p>珍珠母　生鐵落　白石英　鉤鉤　竹黃　殭蠶　川貝　薄荷　膽星　絲瓜絡　龍齒</p>
<p>另：礞石　蠍尾　玳瑁　金箔　以上四味研末，先服。</p>
<p>（案17）驚不離肝，閉不離心。熱入於裡宜開，痰積阻中，自然開之不應，既屬有形之阻，必當通導於裡，以望天氣一開，地氣乃降，或可挽回。</p>
<p>金礞石（三錢）　上生軍（三錢）　肥皂莢（四寸）　乾地龍（三條）　干薄荷（一錢）　當門子（三釐，化服）</p>
<p>（案18）初診：多病多虛之體，而患時令風溫之症，始則寒慄而熱，繼則咳嗽多痰，今方三日，忽然熱退咳平，面紅轉白，痰無吐出，旁觀者皆為病去之象，主病者亦因多病多虛之體，雖患時症，不過爾爾。詎意神識漸漸不慧，糊語喃喃不已，及診其脈，細數無神，左手搏指，舌苔浮白，大便溏泄，分明邪乘虛陷，痰蒙內竅，勢屬至危。姑擬扶正達邪，護里宣開一法。古人云虛人善變，此症殆有是焉。</p>
<p>參葉　前胡　桔梗　牛蒡　射干　制殭蠶　鬱金　石菖蒲　膽星　天竺黃　豬苓　萬氏清心丸</p>
<p>二診：今日便瀉竟有二十數之多，自然病情尤增變幻，陰液由此而涸，風陽從斯而升，日昨之神識一毫未慧，反加撮空痙厥，幸而厥少於痙，正氣尚留一線，所以厥而復醒。古云，撮空一症，非大實即大虛，實則神明被逼，虛則神明渙散，此症實耶？虛耶？逼耶？散耶？何待智者言而喻耶。危篤若是，雖無把握，焉能聽其自然？勉擬精靈護里，三甲潛陽，輔以熄風滌痰之品，以望百中圖一而已。</p>
<p>龜板　鱉甲　牡蠣　洋參　鉤鉤　石決　白蒺藜　制殭蠶　天竺黃　膽星　石菖蒲</p>
<p>另：濂珠　玳瑁　金箔　月石　四味研末服。</p>
<p>三診：今日痙厥頓止，昨方難言不效。然一波未平一波又起，令人有應接不暇之勢。午後忽變，似祟之附，確似癲狂之象。《內經》曰：重陽則狂，重陰則癲。陰者痰之類，陽者火之謂。兩日前神識已糊，勢必痰火駕輕就熟而入，冀其返正得奏線效，再觀休咎。</p>
<p>西洋參　辰茯神　龍齒　青蛤散　遠志　膽星　竹黃　玉泉散　知母　鉤鉤</p>
<p>另：濂珠　西黃　玳瑁　硃砂　金箔　以上五味共研末服。</p>
<p>四診：狂亂整日，繼之以夜，直至今晨，二便並行乃止，止則其脈也宛如平人，未刻而大汗遍體，濕透重衾，遂為兩目迷睡，隱隱嘆息，循衣摸床，手指蠕動，面色如紙，脈細若無，舌苔光澤不紅，言語聲氣不續，此名脫。本無治法，勉因脈未躁疾，汗未全冷，陽氣雖欲離陰而飛越於外，陰精尚有涵養而交紐於內。然素傷之陰能有幾何，如不汲汲斂攝補益，終歸於脫。勉擬一方，亦屬背誠矣。</p>
<p>人參　坎氣　白芍　牡蠣　五味子　牛膝　菟絲子</p>
<p>五診：昨日陽欲離陰，脫象已備，而用獨參扶正，坎氣鈕鏈，牡蠣澀以固之，五味酸以收之，牛膝引陽入陰，白芍從陰引陽，菟絲凝結正氣，居然汗止陽回，氣歸神宅。如此轉機，藥功厥偉。如當此之際，委之天命，其悔何窮？由此觀之，病之挽回雖系造化，亦由人力耳。刻下大寇蕩靖，城倉敝敗，善後之事，宜作如是論。</p>
<p>人參　茯苓神　金石斛　橘白　竹二青　川貝母　枇杷葉　秫米</p>

<h1>中</h1>
<p>（案1）大凡時症，不外六淫。六淫者，風、寒、暑、濕、燥、火是也。燥火與風，陽多陰少，隨感隨發；寒與暑濕，陽少陰多，能伏能蘊，所以傷寒與癉瘧都有內伏而發者。秋季之病由於暑。伏暑必夾濕，濕能傷氣，暑亦傷寒。是病不寒獨熱，今恰半月。刻見神識昏迷，譫語無音，面色青晦，目有白翳，六脈濡數而浮，舌苔灰黃似腐，熱不外揚，渴不多飲。此由中陽式微，砥柱無權，暑濕不能達外，反致內陷。古云：陷者舉之。東垣所謂補中益氣是也。扶正達邪本屬善治，無如邪固可達，痰濕難化，嘗考薛、葉諸賢每以辛香能逐。由此而論，扶正為督戰之師，達邪作剿賊之將。然危篤若此，百中圖一而已。擬方即請有道商進。</p>
<p>上明雄精（二分）　九制膽星（二分）　當門麝（二釐）　豬牙皂（二分）</p>
<p>四味同研末，用人參鬚五分，河水煎濃湯調服。</p>
<p>（案2）症恰半月，已屬三候期日，際此中秋節令，向愈之期，似不為遲。然不但暑濕未化，抑且積亦未清，暑、濕、積三者已屬鼎足之勢，安可增一熱字？所以熱戀不退，稍動輒汗，汗不通體，睡中較多，咳嗽痰黏，煩懊夜甚。從脘至腹偏右一帶按之板硬，問之略痛，脈形濡滑渾數，重按無力，舌色淡黃干垢，尖紅心露。想其暑乃夏令之邪，天之暑熱一動，地之濕氣自騰，人處其間，無不感受。暑濕兩字每多連呼，暑由三伏而受，故謂之伏，夏邪秋髮，亦謂之伏。伏之一字，邪根深蘊，可知現已化熱，熱之性固速，而與暑濕為伍，亦不易化，且易傷液。症之口渴、煩躁、面赤、舌紅，皆從此出。胸前刻雖紅疹密布，而隱約未透，固是暑濕熱之出路，然不足以挫其病勢。昔諺云：透疹之際，不可下奪。非確論也。蓋疹㾦之來，必從暑濕積熱鬱蒸而出，若得四者可以分化，何傷其疹與㾦哉？論變非昏即厥，須預防之。擬方請政。</p>
<p>鎊犀尖　白桔梗　丹皮　連翹　蟬衣　竹茹　鮮薄荷　全瓜蔞　粉葛根　黑梔　鬱金　枳實　茅根</p>
<p>另：上犀黃　石菖蒲　風化硝　同研末，先服。</p>
<p>（案3）症恰三候，始起寒熱似瘧，得汗不解，繼則熱戀不退，入夜為甚，咳嗽痰黏，煩悶不舒，脈來郁澀而數，左部帶弦，舌底光紅干碎，苔如糜腐。此由濁邪交蒸化熱，兼之情懷悒鬱，木不條達，亦易化火，充斥肺胃，蒸濁成痰，上熾於華池，消灼於陰液也。當此時邪為病，自然持之於藥，草木之功原可克奏，若論拂鬱情傷，須期怡情暢懷，兩者並行方合病機。擬方商進。</p>
<p>玄參　薄荷　淡芩　生石膏　生梔　知母　連翹　益元散　鮮生地、淡豆豉（同打）　牛蒡　竹茹　蘆根　摩鬱金　摩犀尖　二味沖。</p>
<p>（案4）症經四日，當時大寒大熱，自午後而起，逕至黎明，得汗而解，以後至時復作，卻不甚重，汗亦不多。此非邪達勢輕，乃邪伏募原，氣為邪遏不得外越，所以昨日午後來勢又甚，甚則煩悶胸躁，渴難多飲，脈來弦滑而數，舌苔厚黃而膩，乃暑濕內蘊，為新寒新積觸發。積乃飲食所成，而必在胃。胃屬陽明，乃多氣多血之鄉，胃既為病，氣血不得流暢，邪必因之而入，是以日輕日重，是起伏，惟恐淹纏生變。</p>
<p>香薷　葛根　半夏　制茅朮　制廣軍　白蔻仁　川樸　柴胡　藿梗　焦枳實　冬桑葉　闢瘟丹（一兩）</p>
<p>（案5）年紀甫冠，智慧過人，以致情竇早開，腎關不固可知矣。邇來不寒但熱，今交三日，熱勢起伏。伏則猶可，起則煩懊胸悶，睡中背部出汗，湧吐涎沫，當臍跳躍，偏右按痛，脈來弦滑而數，舌苔淡黃而膩。此由夏令之暑邪內伏募原，新傷之寒滯盤踞陽明。若論動氣，非大虛即大實，病甫起而見此，所謂未病先虛。當臍乃少陰地位，顯系元海不藏，封固失司，體虛症實，不但用藥殊難，更卜易生變幻。商進。</p>
<p>南沙參　蘇葉　全瓜蔞　乾薑　連皮檳　桑葉　粉前胡　陳皮　法半夏　枳實　上川樸　豆蔻　摩烏藥（四分）　摩石募（三分）　二味沖。</p>
<p>（案6）夏受暑邪，秋必成瘧。瘧類有四，治宜分晰。此症始而先為寒熱，繼則但熱不寒，腹硬按痛，的是暑邪從募原走少陽，而傳入陽明，與積合病，竟成癉瘧也。列於諸瘧門中，似敘似釋，亦未立方。後出喻嘉言，立甘寒一法，即熱之謂，濕乃黏之濁，每以清泄取效。是病熱積未聚，攻消不合，過清非宜。轉輾思之，擬芩葛並瀉心法，其間復入宣竅蕩滯之品，未識符否，請主翁斧政。</p>
<p>鎊犀尖　葛根　淡芩　川雅連　石菖蒲　白茅根　豆豉　枳實　鮮荷葉　白桔梗　連翹　竹黃　木香導滯丸</p>
<p>（案7）初診：症經四月有餘，始起寒不能慄，熱不退清。刻下寒熱雖退，變為腹脹，得食脘痛，手按輒拒，舌苔滿布濁膩，脈象右手沉實，小溲不多，大便艱行。《經》云：先夏至者病溫，後夏至者病暑。病肇祭屈之令，競渡之際，其為暑濕無疑，病於少明之間，名曰似瘧。其時若能藥當病情，風食禁忌，何致迄今不愈，反加成臌之險？邪濕既不能達，自然壅積為內傷脾土，中焦運化之機乃息，為腫、為脹，諸症紛起。《經》所謂，濁氣在上，則生䐜脹。太陰氣至，亦䐜脹也。為今之計不得不用疏逐一法。古人有言，兩虛一實當開實面。且是症元傷成損，當可緩調，喘急驟加，危期至速。姑擬先賢劉河間神佑舟車為主，五皮泄水佐之，以望有形濁滯隨便而去，無形清氣由此而升，方可轉機。然背水之戰，即此一舉矣，未識然否。即質高明。</p>
<p>金沸草　冬瓜皮　前胡　澤瀉葉　青陳皮　蔞皮　連皮檳　赤豬苓　上川樸　焦枳實　舟車丸　方通</p>
<p>二診：儒經云：氣之輕清而上浮者為天，氣之重濁而下凝者為地。人身之中以肺為天，脾胃為地。蓋肺位本高，其氣清輕，卦中配為乾天。脾胃居於中下，其氣重濁，卦中配為坤地。肺降脾升以成天地交泰而生萬物，何病之有？今因瘧後濁邪渾合，清氣不升，濁氣不降，而為否卦。否者，脾也。絡氣不和，隧道壅塞，為腫、為脹、為痞、為滿，無一不為，竟成束手重症，幸得大方疊進，化險為夷，否轉為泰。濁邪化其六七，病情退下三舍。然還須慎寒暖，節飲食，方不再蹈前轍。再擬一方，以冀餘氣肅清為妥。</p>
<p>金沸草　前胡　上川樸　冬瓜皮　製半夏　桑根皮　老桂木　香附　茯苓皮　連皮檳　草果仁　炒姜皮</p>
<p>（案8）天氣清明，地氣安靖，氣來如正則人民少病。今歲甫交夏至，天氣暴熱，吳氏謂之未至而至。氣來不正，即謂之邪，人處其間，壯者自可運行，怯者著而內蘊，至秋而發，皆曰伏邪。觀其時之早晚，邪之多寡，而伏必在募原，其發或入少陽，或歸陽明。入於少陽則輕，可成瘧疾，歸入陽明則重。此症皆因胃腑傷積，所以甫發即陽明與積合病，病已十有三日，入暮四肢漸寒，繼則甚熱，煩懊頭暈，腹時呼痛，從脘而至少腹俱為滿硬，大便雖行，盡是稀水，脈來滑數而弦，舌苔黃而膩。熱至寅卯之間，無汗而和。夫寅卯從陰轉陽，身中之氣循行注肺，所以無論傷寒癉瘧此時必和。蓋邪猶如陰柔小人，一切轉陽則伏，設使有汗當言其伏，況無汗乎？一切款端刻皆隱匿於後，恐其接踵而至，便成棘手重候，際此大戰之秋，安可不出大隊臨陣？否則悔之晚矣。</p>
<p>黑山梔　豆豉　桔梗　連翹　川鬱金　方通草　橘紅　蟬衣　花檳　木香　枳實　鮮薄荷　鮮竹茹</p>
<p>另：石葛根（二分）　生黑醜（三分）　煨木香（三分）　巴豆殼（四釐）　上川樸（三分）　五味為末，先服。</p>
<p>（案9）古云：體肥多濕。暑必挾濕，體肥則中氣必弱，暑濕亦傷氣分。夫氣主於肺，邪從口鼻而入，內伏而發，名曰伏邪。六淫之邪，惟暑濕易伏，伏於臟為瘧，瘧之間作日作即邪之可淺可深耳。伏於胃亦為瘧，瘧之不寒起伏，乃兩陽合明故也。是症今交十有三日，始今的是陽明瘧症，所云暑濕皆病於氣，肺胃見象無一不具。鼻竅黴黑，鼻尖不溫，熱勢起伏，胸痞煩悶，皆其徵也。蓋暑為天之陽邪，濕屬地之陰邪，暑欲化火化燥而不果者，濕遏故也，濕濁瀰漫而內蒙者，暑之蒸也。舌苔灰黴，底質乾燥，渴飲，脘痞，右脈濡小，皆其徵也。暑濕相互必當開氣，氣開則暑濕不合，清氣自升，津液乃復。法當開展上焦，宣化中焦，淡利下焦，俾得肺氣清曠，化源自流，則暑濕之邪自然分泄矣。由此而論，治上為主，取微苦微辛條，參入芳香甘寒一二，以望應手。不爾，恐暑濕交蒸，熱穢之氣內衝心包，必至神識昏糊，四末清厥等險。拙見如是，即請有道商進。</p>
<p>香豆豉　大腹皮　川萆蘚　苦桔梗　蠶沙　光苦杏　廣鬱金　生苡仁　乾白荷花瓣　辰滑石　摩犀尖（半分）　摩花檳（三分）　二味和沖服。</p>
<p>（案10）初診：天之熱邪為暑，地之陰邪為濕，暑濕蒸騰，人受之以口鼻，發於少陽則為正瘧，發於陽明則為起伏。起伏之因根於募原，正瘧由乎半表半裡也。所以熱至亦覺先寒，惟是寒不能慄，熱不退清，謂之陽明之起伏瘧。蓋胃與脾相為表裡，胃病則脾亦病，病甚強食不化而為積，與濕雜蘊於迴腸而成下痢。夫痢症，古稱滯下。又謂其病先痢而後瘧者，其病輕而為順；先瘧而後痢者，其病重而為逆。何況多病久煙之軀，瘧勢未衰，痢又復甚乎？即此兩端已屬險危，猶堪灰黃之苔，邊有白腐，熱甚之時中兼神迷乎。歷考古方，先瘧後痢名曰經邪入腑，羅氏有敗毒一法，虛則加以人參，實則增以大黃，其法最美。喻氏稱謂逆流挽舟，提邪出腑，概可想見。今症邪積未去，人參難加，素體不足，大黃可去，治宗敗毒之意，以冀弋獲之幸，未識然否。</p>
<p>羌獨活　木香炭　柴胡　枳殼　炒撫芎　紅神麯　前胡　赤苓　苦桔梗　福澤瀉　薄荷　滑石（辰拌）　戊己丸　香粳稻葉（同荷葉包刺孔）</p>
<p>二診：凡人有經有腑，腑乃藏積之處，經有留邪之地。夫邪有感，有伏。伏則自內而發，感則從外而入。瘧痢之為病，暑濕之根源，暑濕為夏令之邪，瘧痢是秋時之病，其為內伏而發，如操券矣。所以始起為瘧，繼則變痢，經邪因府之積而益熾，痢症由乎瘧病而為逆。痢必有積，瘧必有痰。至於裡急後重，腹痛窘迫，勢所必然，舌苔灰黃，痰黏神昏，理之固耳。前投敗毒一法，寒熱較減，痢勢亦稀，未始不美。第久煙多病之體，呃忒苔腐之忌，一線轉機，焉能足恃，再擬一方，希圖旋吉。</p>
<p>葛根炭（二錢）　淡酒芩（一錢）　五穀蟲炙（二錢）　福澤瀉（二錢）　苦桔梗（八分）　赤芍炭（錢半）　柴胡（四分）　前胡（二錢）　香連丸（七分）　紅神麯（各三錢）　槐米炭（二錢）　枇杷葉（一片）　檀香（三枚）</p>
<p>三診：凡人生長皆在脾胃，所以五行配土，八卦為坤。胃司納而下降，脾司健運而上升。水穀入胃，精液生脾，灑陳於六腑而氣至，和調於五臟而血生，氣血由此而生，百病從何而至？古之聖賢無不歸重於脾胃，正所謂土生萬物是也。刻診自瘧變痢，體本煙虛，初進逆挽之法，繼投葛芩之劑，寒熱神昏固退，下痢度數亦稀，未始不為美事。惟宿垢雖下，納仍不加，紅膩雖少，急重不除，四肢有牽振之意，遍體出溱溱之汗，時見呃忒，苔現灰浮，左脈弦數，右手更甚。暑濕積滯雖有分化之機，中土氣陰已具敗變之象，叔和云：胃見肝脈，木假土也。醫書云：痢宜小脈與症符也。蓋痢雖濕積所成，能成則愈。今則所納之物止能米飲，稍多即覺停滯中脘，必借煙力撫磨而後方可。其胃之敗，其脾之戕，朗若列眉，其病之凶，其款之忌，明如繪素也。自昔聖賢以藥治病，無非補偏救弊而已，至於收功無一不以脾胃為主，前之李氏，後之葉氏，皆詳論也。為今之計，宜先扶土以振後天，疏補以冀運納，然襪線鉛刀不足以濟事矣。</p>
<p>南沙參　於術　懷山藥　扁豆　石蓮子　秦皮炭　茯苓　赤白芍　地榆　香粳米</p>
<p>另：五穀蟲（一錢）　當歸（一錢）　炮薑炭（七分）　上於術（六分）　黃柏（五分）　煨木香（七分）　研末，米飲為丸。</p>
<p>四診：苔浮乃腐之根，不食乃呃之源，痢之敗症，必有之事，何也？蓋陰傷則陽亢為腐，中虛則氣弱為呃，所以謂之敗症也。症既敗矣，藥何能調？但既操司愈之權，雖屬臨淵結網不及之事，不得不縈思披素，上挽天機，下盡我心，是固有數存焉者矣。</p>
<p>大西洋參　野於術　生白芍　山藥　鐵皮　石斛　炒赤芍　毛燕窩　扁豆　陳阿膠　香粳米　豬苓</p>
<p>五診：古云：泄久傷脾，痢久傷陰。昨用仲聖豬苓法益陰化濕，參以東垣之方補脾醒胃，服後竟得便行成糞之垢半碗之多，腐苔化去，絳底黑麵，此等轉機，確非淺鮮。無如陰液不能一時而復，元氣難以頃刻即回，自覺煩躁，日常睡露，脈象仍見弦數，口渴時喜飲湯。以此而論，尚在險津。歷考聖賢，痢久元傷之門，有用益陰，有用補氣，雖能轉險為夷，然中土弊敗，藥力難施，姑再出入前意而治，第恐杯水不足以救輿薪，蝦力何能主任行舟也？再疏一方，仍冀亦兼之吉。</p>
<p>西洋參（半生半熟）　生熟龜板　杭白芍　於術　石榴子　生山藥　金石斛　陳阿膠　宣木瓜　茯苓神　黑豆豉</p>
<p>六診：痢多傷陰，心陰傷則夜不寐，肝陰傷則肢震動，胃陰傷則煩而燥，脾陰傷則舌根強，種種見端，皆其徵也。今雖納食轉醒，焉能供其悉欲取資於胃液乎？前進益陰養營，有裨於下，未礙於中，所論諸陰皆傷，東垣、易老本有胃陰傷則不食之訓，養陰之藥甘寒為主，鹹寒佐之，酸寒之品亦可濟陰，不爾其病雖退，其元不復，如能氣陰恢復，飲食漸加，方可一日霍然而愈。不然，近則恐厥脫，遠則惟慮損怯。</p>
<p>沙參（三錢）　鮮斛（五錢）　生龜板（七錢）　牡蠣（五錢）　野於術（錢半）　白芍（三錢）　豆衣（三錢）　淮山藥　阿膠（錢半）　五味子（五分）　訶子（錢半）　棗仁（三錢）　濂珠（二分）　真玳瑁（三分）　同研末服。</p>
<p>七診：二十餘次之痢數，轉為干溏兩次，誠為快事。然脾土既不能運，必無痢數遞減之理，胃土既虛於陰，自然清養漸進，穀食湯飲雖少，形神日乏，痰吐頗多，納穀難化。胃陰之虧，脾氣之虛，猶可據矣。但一波未平，一波復起，病者豈可主任，治者不遑應接。古人云：有胃則生，無胃則敗。良非謬言，歷考東垣、潔古之訓，萬病皆以胃藥收功。蓋醒胃之藥，非溫即燥，施於痢久傷陰，舌紅刺滿之症，可乎？否乎？從陰陽而減，前法勢難迅棄，姑選陰不味厚，陽不溫燥，以冀有彼此得益，是耶？非耶？是症波折既甚，用藥可謂掣肘，擬方冀能應手，未識有從人願否。</p>
<p>北沙參（五錢）　金石斛（三錢）　竹茹（錢半）　上於術（二錢）　製半夏（三錢）　枇杷葉（十片）　川貝母（三錢）　新會白（一錢）　雲苓（四錢）　海蛤殼（一兩）　資生丸（三錢）</p>
<p>（案11）向有停飲，外感風邪，表氣束縛，不從汗泄，風氣通肝，邪郁絡阻，左脅作痛，邪郁生熱與有形之痰積交蒸，神明為之擾亂，大便不解，頭脹身熱無汗，言語有時錯亂，氣逆噯氣，舌苔中心干糙。此風溫夾積夾痰，不達不化，將顯傷陰劫液之象，脈細數少力，是本質素虧。無糧之師，利在速戰，管窺之見，請主翁裁奪。</p>
<p>牛蒡子　桔梗　廣鬱金　桑葉　杜竹茹　川貝母　橘紅　摩枳實　前胡　竹瀝達痰丸（三錢）</p>
<p>（案12）大概六淫之邪，上受者不離手太陰肺經，下受者不外足太陽膀胱經。《內經》云：清邪中上，濁邪中下。風燥為陽化之邪，自傷肺經，肺主一身之氣，又司五音，在時為秋，在色為白，在變動為咳，在津液為涕。刻症肺病畢具，所重者鼻竅扇動，但坐難臥，熱勢重而脈象過數，咳嗽甚而舌苔黃濁。不離風燥為主，抑且痰積相互而閉，里痹表鬱則動風生驚，氣升喘促。諺所謂夾驚肺脹者是也。擬方備商。</p>
<p>淡射干　前胡　光杏　象貝　冬桑葉　豆豉　牛蒡　橘紅</p>
<p>另：摩鬱金　摩枳殼　用鮮荷葉（五錢）、萊菔（半個）、雅梨（半隻，打汁）　調二摩末藥服。</p>
<p>（案13）痢曰滯下，滯乃不通之謂。由於濕熱食積阻於迴腸屈曲之間，傷氣則色白，傷血則多赤，傷於五臟，各隨其臟色而異。治法暴則為實宜通，久則為虛宜澀。此病已愈兩旬，始起寒熱似瘧，繼則變為腹痛下痢，舌色灰黃而干，脈形濡數而實，所痢之物紅勝於白，竟有形塊，稍見穢膩，仍無宿垢，形神日削，納只粥飲。濕熱積滯互阻不通，脾土無消運之權，腸金乏傳導之官。古云：兩虛一實，尚開一面，標本同病，急在先治。明指實急於虛，通先於補之義。脈舌症象匯而合參，不得不假法於一下。如能濕滯分消，方可痢止痛停，二便如常，納食復舊矣。倘言因其元虛而因循望愈，則呃逆、起腐，延恐不免，拙見如此，即請明商。</p>
<p>煨葛根　建澤瀉　淡芩　撫芎　赤芍　楂肉炭　紅神麯　煨木香　青皮　雅連　木香檳榔丸</p>
<p>（案14）《內經》論血，陽絡傷則血外溢。又曰：陰氣者，靜則充長，動則消亡，所動之由，氣也火也。所以古人治法不清其火，必降其氣。徐之才、繆宜亭所謂氣為血之舟楫，火能載血上浮是耳。刻下吐血雖止，脈尚帶數，陰絡固靜，氣火未熄。今宜安養以待其復，倘仍經營操持，必致由傷而損，自損成癆之險。</p>
<p>西洋參（五錢）　炙紫菀（一兩五錢）　石斛（二兩）　冬瓜子（二兩）　茜草（二兩）　大生地（三兩）　大白芍（二兩）　黛蛤散（三兩）　黑山梔（二兩）　西瓜子（二兩）　蓮鬚（一兩五錢）　陳阿膠（二兩）　黑豆衣（二兩）　粉丹皮（一兩五錢）　鬱金（一兩）　淡黃芩（一兩）　龜膠（二兩）　鮮藕汁（兩碗）　真秋石（三錢）</p>
<p>用水煎之，次將兩膠化入，下秋石，藕汁收膏。</p>
<p>（案15）夫痧必在於肺者，皆由痧從風溫而成。蓋風為有形之陽邪，溫是化熱之氣，無形無質，其從口鼻而入，肺居上焦，首先犯之。肺為嬌臟，又曰華蓋，而司一身之氣，氣宜下降。肺既受病，則氣道憤郁，濁聚成痰，逆而不降，以致喉間痰聲漉漉，氣粗宛如拽鋸，脈來滑數，舌苔黃膩而厚，已成肺脹重症，病之重險可知。當用疏胃府而化其濁，宣肺氣以徹其邪，使其邪達濁化，其氣自降。如不應手，則變幻倏忽矣。</p>
<p>麻黃　橘紅　金沸草　半夏　廣鬱金　生石膏（桑葉包煨）　牛蒡　前胡　光杏仁　枳實　炙白前　控涎丹</p>
<p>（案16）大凡病中不能食者，脾胃必虛。《經》云：清氣在下則飧泄。中氣不足，溲便為變，皆指脾胃而言。便泄氣滯溲清，舌淡面色無華，脈形小而無力，何一非中焦為賊蹂躪，倉廩久乏積貯之故。蓋五穀入胃，磨運在脾，清者為營，濁者為衛，灑陳於五臟，和調乎六腑，諸經與絡得以滲灌，內外表里皆能充實。所以體之壯者其食倍加，面有露桃之色，指有扛鼎之力；體之怯者其食減常，面具露氣之痰，手乏縛雞之能。至於脾胃之論，最重東垣，大旨脾宜升則健，胃宜降則和，和者取其甘溫，升者必用溫熱。姑以耆附六君加減，俾得脾胃並復，穀食有增則病愈速矣。</p>
<p>綿耆（三錢）　東洋參（三錢）　茯苓（三錢）　於白朮（二錢）　炙升麻（五分）　炙草（三分）　淡熟附（五分）　木香（七分）　菟絲餅（三錢）</p>
<p>（案17）濕為六淫之一，其傷人也有表有里，里生於水穀，表由乎雨露。雨露從天而降，由皮毛而走經絡，水穀自內達外，由臟腑而走經絡。古人以肺與膀胱為濕之表病，脾與胃腑為濕之裡病。主治之法，有散有運，並宜分利，大概如是。是病也，遍體作痛，手足麻木，舌苔黃膩，寒熱不甚，乃表裡同病，皆由勞倦則脾肺之氣皆傷，傷則衛外不固，表濕襲而蘊於經絡，運化不司則里濕聚而營漸失和。濕性瀰漫，最怕神識昏糊之險，姑仿羌活勝濕湯加減。</p>
<p>羌獨活　桑葉枝　秦艽　桂枝　蠶沙　建曲　川萆薢　赤豬苓　川樸　防風　蔻仁　陳皮</p>
<p>（案18）運籌握算，本傷心脾，脾傷則易生濕痰，心傷則不充神血。是以未病之前常有嗽痰少寐，今暑熱伏邪已經匝月有餘，其中輕重變遷不煩多贅，且就刻下而論，熱不外揚，神識糊塗，呃逆頻頻，不嗜湯飲，舌苔漸黃而黴，脈象濡數，時見噯氣，大便溏薄。此乃平素痰濁與積為伍，伏暑之邪本喜入心，心經神血一虛則內走尤易，脾臟濁痰不化則窒塞益甚。頃見吐痰兩甌，呃忒，神識頓覺稍慧，其為上中清曠之地悉被痰濕矇昧可知。蓋時症患於元虛之體，已屬不支易變，矧加呃忒糊塗之忌，險重何待余言？姑擬開泄滌化宣竅安護一法，竊恐投鞭不足以斷流耳。</p>
<p>金沸草　香附　丹參　法半夏　枇杷葉　茯苓神　天竺黃　紫菀　橘紅　廣鬱金　姜竹茹</p>
<p>另：陳膽星（三分）　刀豆子（四分）　九節菖（三分）　上沉香（三分）　同研細末，加竹油一小碗、薑汁一小匙。</p>
<p>（案19）今秋天過亢晴，晴則燥，燥乃溫類所盛之邪，是以一熱則甚，甚致言語糊塗，今得大汗遍體，熱勢已解大半，似有告痊之機。然左脅以及胸膺呼吸皆痛，舌苔淡黃而厚，脈象糊悶而數，此由邪熱因汗而稍達，氣閃於絡而不和。《經》云：肝生於左，肺生於右。又云：肝臟血轉司經絡。昔賢治法，溫邪當分感與伏，閃氣宜辨肝與肺。今病溫邪在肺，宜用辛涼；閃氣在肝，宜和血絡。姑擬一方，以望應手，庶免昏喘痰紅之險。</p>
<p>牛蒡子　前胡　豆豉　紫蔻仁　枳實　達痰丸　竹茹　橘紅絡　桑葉　光杏　金沸草</p>
<p>上鬱金、細香附，同研末服。</p>
<p>（案20）夏令暑濕，至秋而發，名曰伏氣。夾積則病甚於里，腑受則泄矣，感風則病甚於表，經受則熱矣。是症始起不覺寒熱，即為便泄，其夾積也，昭如繪素。雖經調理而愈，未久即患寒熱，似瘧非瘧，膽胃同病。據述中途寒熱雖止，不免口腹未謹，皮毛未固，既感時令風溫，復傷新食之積，是以病來兩候，已見神識昏糊，不言不語，熱勢內熾，舌質灰黃，口渴飲少，汗疹全無，數日之前大便夾雜紅穢，今按其腹板硬，兩手推拒，眵障其目，目亦不開，焦燥其唇，唇乾裂血，咳嗽不揚而聲被痰黏，痛癢不知，而煩懊如故。呼吸氣粗，面色晦滯，脈象右寸弦澀，右關數實，右尺重按似有搏指之意，左寸濡數，左關見弦，左尺嫌太露有不藏之象。此由風溫蘊於肺胃，逆傳宮城之內，痰積熏於臟腑之間，蒙迷清曠之地。蓋風溫本屬陽邪，變燥化火，素為易事，痰積自有穢熱之氣，熏竅蒸絡，尤屬不免。大抵心主一臟義不受邪，人之聰明智慧，皆繫於此。既被邪陷入，自然險象疊出，忌款畢集。聊作背城之計，竊恐畫餅於紙，徒增想象之嘆，得邀蒼天默佑，或可轉機一線否。</p>
<p>參鬚　鬱金　射干　鮮薄荷　生廣軍　川象貝　光杏　桔梗　連翹　遠志炭　天竺黃</p>
<p>另：豬牙皂（三分）　九節菖（三分）　陳膽星（三分）　明雄精（半分）　同研末，用雅梨一隻、薄荷頭兩朵，打汁調服。</p>
<p>改方：去雄精加安宮牛黃丸半粒，大黃換摩。</p>
<p>（案21）夾食似瘧，發於小雪之後，已屬遲而且晚，濁邪之甚，病根之深，何待言哉？復以因積而起三者，置成犄角之勢，無怪其病及四旬，不但濁邪未化，抑且積亦不清，如不見虛象，從似瘧例治，當不致於鞭長莫及，而體質已傷，竟是輕舟重載，變幻莫測矣。</p>
<p>半夏　藿梗　茯苓神　廣生軍　淡芩　草果仁　丹參　雅連　枳殼實　連皮檳　桑葉</p>
<p>摩烏藥、石菖根沖。</p>
<p>（案22）初診：夏令暑濕，至冬而發，始起為瘧，繼合成痢，腹痛攻撐，裡急後重，舌淡黃而厚濁，脈弦而右實，納少噦惡，寒熱依然。伏暑必挾濕濁。是以日久不愈，復加鬱怒異常，食物不謹，經病未已，腑病接踵。諺云：瘧變為痢，最屬大忌。竊恐轉輾不愈，有猝變之險。</p>
<p>上川樸　赤芍　蔻砂仁　藿梗　通草　紫蘇梗　連皮檳　川芍　沉香曲　紅曲　桑葉　青陳皮　赤豬苓　香砂枳實丸　木香導滯丸</p>
<p>改方：去導滯丸，加荷葉（半張）</p>
<p>二診：大抵下痢之病，當分虛實，實乃腑積欲下，虛則臟液被劫，前用痛欲其通之法，今得黑垢一次，腹痛隨之較減，其為積也，何疑？夫痢症根於暑令濕熱夾積，交秋不發，及冬而病，其病深也可知。矧而先患瘧疾，既而變痢，方書謂之經邪入腑，忌逆之象。世有先瘧後痢為不治之諺，危也險也，何煩余言？再擬一方，以圖弋獲。備商。</p>
<p>紅建曲　煨葛根　黃芩炭　桑葉　上川樸　連翹　五穀蟲　炒豆豉　枳殼實　雞金　炒澤瀉　砂仁</p>
<p>另：摩青皮（五分）　檳榔（六分）　香連丸（八分）　山楂炭（一錢）　同研末服，或和入藥內。</p>
<p>三診：數十次之下痢，今減至六七之度，兩月以外之似瘧，刻已熱勢退清，兩方之效，可謂美矣。夫服藥則下黑糞，不藥則仍紅痢，其故在何？痢症必夾濕熱，傷氣則色白，傷營則色赤，水穀雖入於胃，摩運則在於脾，泌別必由於腸。從此而論，足太陰未克輸化之故，手陽明難司傳導之職，向推病情專事中下為要領，和氣化濕為佐，如得應手，方收全功。</p>
<p>豆豉　淡芩炭　青皮　五穀蟲　廣木香　駐車丸　楂炭　赤白芍　澤瀉　雞內金　臟連丸　沉香　穀芽</p>
<p>（案23）西方生燥，燥必爍金，金屬庚辛，在人為肺，即燥之一字已足令人為病。況值冬令氣暖，風夾溫氣，名曰風溫。風溫乃無形之邪，首必襲肺，肺主皮毛而司咽喉，肺為風爍，肺氣不能下降，胃濁凝聚成痰。冬至一陽未復，燥氣乘機而發。是以先為咳嗽，繼則身熱，音啞氣逆，胸脅作痛，喉間痰聲霍霍，咽房腫漫如梗，會厭之內白腐滿布，連日嘔痰數盂，症勢較前舒松。然未得暢汗，大便堅結，肺胃之風溫痰濁尚未得以外達。風溫為天之陽邪，其性迅速，恐其偏退易復，須得內外分泄，方為妥貼。</p>
<p>麻黃　薄荷　象、川貝　杏仁　馬勃　淨蟬衣　苦甘草　牛蒡　玄參　桔梗　前胡　生梔　生石膏</p>
<p>另：摩犀尖　鬱金　和入風化硝調服。</p>
<p>大便雖行，尚未自然，六脈雖一，尚嫌弦大。得食則腹有脹陣，得飲則痰出較易，交寅則虛火上炎，至晨則咳甚汗泄，其為陰分日虛，陽不潛藏可知。蓋人猶天也，天以春夏為生髮，人逾四十，臟氣漸衰，今則年已五旬外，時屆秋冬，欲望生生，不亦難矣。前投潛陽之品，胃納不減，古人立方，無非補偏救弊，陰欲其平，陽欲其秘則壽，陰竭於下，陽炎於上則病。法當加重前方，以冀陰充陽潛，納食漸加，或可返秋冬而變春夏，則陽和之氣充滿乾坤。</p>
<p>炙龜板　川百合　棗仁炭　金斛　女貞子　人參鬚　大麥冬　北沙參　淮麥　海浮石　川貝母</p>
<p>（案24）夫厥者，盡也。凡物陰盡而陽生，陽盡則陰復，人之厥陰寓肝，肝為木，木能生火，火為陽，陽宗於陰。所以古人有相火藏肝之訓也。肝性條達而捨生風，一有悒鬱，母子則經育兩難，肝病及脾則為腹痛，為攻撐，忽寒忽熱，為不寐，為心悸，常噦常吐。《經》云：肝膽乃生髮之機，脾胃謂之營衛之源，肝氣橫久化火，胃陰日見消耗，所病神乏形疲，納減不寐，甚至血從上溢，難過莫名，無一非生髮之氣衰敗，營衛之源枯槁。治肝之法，《內經》有「辛以補之，酸以益之，甘以緩之」。名曰：治體治用治本。苟能肝臟一治，則脾胃自復，所患之病可愈矣。即擬膏方，一則能代湯藥之繁，一則可收緩圖之效，所有謬疵，即請有道政之。</p>
<p>生熟地　西黨參　茯苓神　蘇羅子　杭白芍　當歸身　紫石英　冬於術　新會皮　女貞子　酸棗仁　炙甘草　厚杜仲　龍眼肉　延胡索　陳香櫞　奎杞子　柏子仁　細香附　陳阿膠　白蜜收膏。</p>
<p>（案25）初診：下江之地，濕邪恆多，況久居滬上，地濕尤盛。濕為土氣，不在胃而在脾。胃居中脘，脾主肌肉，苟其脾胃之氣充足，運化有權，安有濁留中脘，濕阻脾絡之患？此症始起似屬勞倦無力，繼則不寒身熱，已而兩足酸重，步履維艱，邇來手亦如是，上舉無力，轉側不能，脈來濡滑而數，舌色厚白而膩，咳嗽痰沫，小溲渾濁。良由冬令氣暖，寒風外襲，肺經內應，肺屬乾金，以配為天，脾胃屬土，以配為地，地濕已甚，天氣復痹，競為陰霾四合，清曠失司，燥烈之地變為沃壤之土。幸而風寒不多，尚可不成痛痹。且開天氣，逐地濕，冀其內外分化，擬方候商。</p>
<p>麻黃　半夏　川芎　橘絡皮　茅朮　活絡丹　桂枝　前胡　蔥白　桑葉枝　川樸　枳殼實</p>
<p>二診：《內經》曰：人有五臟，外配五合，皮毛是肺之合，肌肉是脾之合，血脈是心之合，筋絡是肝之合，骨髓是腎之合，營行脈內，衛行脈外，晝行二十五度，夜行二十五度，左升右降，迴流不息，猶日月轉旋耳。今因濕濁內阻，營衛失於流利，經絡被其窒痹，牽掣轉側維難，咳不揚而痰黏，脘常痞而不暢，小溲雖渾，大便未行，脈象似大於前，舌苔已化其半，時覺煩懊，得汗不暢。前服五積散合活絡丹一法，絡隧稍通，蘊濕略化，無如中脘既為濁滯所踞，不能下降自然上泛，胃為陽土以通為主，脾為陰土以運為用，若得脾胃通運之有權，何患濕濁之不化？再擬一方，以冀漸入佳境。</p>
<p>熟附　北細辛　桂枝尖　川芎　羌獨活　青蔥管　桑枝　橘紅　枳殼實　絡石藤　寄生金狗脊　溫化丸</p>
<p>（案26）泄則傷脾，久則必傷於腎。所以古人立胃關煎脾腎雙補之法。脾為後天之本，腎為先天之源。脾傷則運化乏力，胃納應減，胃為陽土而主容納，脾為陰土，專司磨運，一納一運，互相資生。至於腎經一臟，內藏命火，火如充足方能腐熟水穀，生化氣血。而今時寒烘熱已退，固是暑濕化解之徵，無奈泄之不休，今及兩月，飲食日減，心蕩顴赤，脈來細弦，右尺按之虛散，舌質淡紅，滿布點點白疳。即此見端已有藥不勝病之慮，況十日後陡增咳嗽氣促，不但用藥有顧此失彼之虞，抑且肺經因咳再傷，土本生金，金為水母，循環傷虛，滋漫難圖。擬引火歸源，猶如釜底增薪，如能土健火旺，泄少谷增，冬行春令，或有望焉。</p>
<p>玄武版（五錢）　淡附子（三分，煎湯炙）　白芍（一錢）　訶子（錢半）　血鹿片（三錢，先煎）　菟絲子（三錢）　茯苓神（各三錢）　淮藥（四錢）　生炒於術（二錢）　五味（四錢）　炒黃川貝　東西洋參（各一錢）　秫米（三錢）　白蘞（一錢）　蛤蚧尾（一對）　四神丸</p>
<p>（案27）諸恙經治漸平，元氣未能迅復。婦人不孕，因有數端。考之方書，不外稟賦薄弱，肝脾氣鬱，子宮寒涼，衝任同病。欲得天上玉麟，而借草木之功者，無非補氣血，疏肝脾，暖子宮，兼調衝任，自宜靜養遠怒親觀，或可一索而得。</p>
<p>大熟地（六兩）　青陳皮（各一兩）　茺蔚子（三兩）　茯苓神（各三兩）　當歸身（三兩）　大川芎（一兩）　山萸肉（三兩）　淮山藥（二兩）　杭白朮（三兩）　制香附（三兩）　大有耆（二兩）　潼白蒺（各二兩）　滁菊花（二兩）　奎杞子（炙，二兩）　西黨參（二兩）　二泉膠（二兩）　臺烏藥（二兩）　陳艾絨（八錢）</p>
<p>上藥同研細末，水泛為丸綠豆大，每日清晨、入暮各服二三錢，開水送下。</p>
<p>（案28）風溫症一候之外，曾見熱蒙痰痹，神識昏亂，氣喘呃咳，甚至撮空罵詈，二便不知。治者不止一人，病家亦知難救，有用葶藶瀉肺湯，有用蘇子降氣湯，皆佐摩鬱金刀豆子一類。案頭諸方談論不一。余亦謝其不效，細思風溫發於冬令，必非伏邪，自然先傷於肺，繼入於胃，逆傳必至膻中，正與葉氏法合。蓋葶藶瀉肺中之有水氣咳喘，蘇子治上實下虛之氣喘，雖未盡進，進亦無益。勉擬東垣清心涼膈散，參入鮮薄荷、雪梨汁、鮮枇杷葉、白茅根，送入萬氏清心丸。一劑知，二劑減，後因熱痰尚踞，神識難清，而用導赤散加入膽星、竹黃、菖蒲等品，諸象皆退，惟如舌根灰黃，小溲痛閉，榮云上中痰熱盡移於下，心肺久受病困則膀胱無輸化之權，小腸為熱邪之結，八正、三石不應，必是下焦陰虛，濕熱閉結，乃用通關滋腎丸，非惟小溲大暢，抑且旬余之宿垢亦從後陰而出矣。凡病自凶變吉，豈可不運神思，不任干係。當時余雖辭謝，因思人命至重，又兼病家勿怪，乃有此舉。方附案內</p>
<p>（案29）初診：經停三月，按徐之才逐月司胎，本在足厥陰經。厥陰屬肝，肝為木，木能生火，火沖胃濁。例有嘔吐、惡食、喜酸等象，辛溫雜投，甚至上下血溢。血為陰，陰虛則陽更旺，幸有平木養陰之劑，絡和血止，但嘔吐仍然，滴水不納，膠痰頻出，通宵不寐，五心煩躁，近日尚用冷水口含，勿含則嘔惡連作，竟有風動頸搖，四肢震掉，足冷額汗，氣從下升，明是痙厥脫離之險。蓋人陰陽有偏必有旺，嘔吐一症，本有寒而有熱，景岳之神香散為寒而設也，《內經》之諸嘔吐酸屬熱之文也，自入姜藿，反加血溢，其為熱嘔明矣。然刻下胃氣逆亂，陰液大傷，純苦又恐格拒，姑仿經旨，甘以緩急，涼以泄熱，先示其喜，而後復用苦以降之，寒以清之，未識得線效否。</p>
<p>鮮生地　雪梨　鮮石斛　蘆根</p>
<p>同打汁，溫熱，先服一半，後送三補丸一錢。</p>
<p>二診：此病一劑減半，二劑已止，而後擴充前方乃愈。三補丸取其黃柏堅下，則於火不協為患，黃連清肝，黃芩泄膽。後進者，胃虛惡苦是也。不清其下，雖甘寒治胃亦屬徒然。四汁法取鮮地、鮮斛養陰，蘆根、雪梨滋液。先服者，胃虛喜甘，然後胃氣乃降，方可受其苦寒以至下焦也。用汁取其力全，用丸取其過胃方化耳。</p>
<p>（案30）《經》云：形寒飲冷則傷肺。有外感內侵之義也。蓋衣寒風寒從外而入，飲寒食寒從內而侵。肺司皮毛，肺主上焦，外感無有不自皮毛而侵，豈能不由上焦？所以肺經之病較倍於他臟，肺病氣上逆，多致咳嗽。是症肇起，多服苦寒解毒，嗣又寒冷不慎，咳嗽之患已延數載，遇冬則甚，交夏稍平。肺為天，天氣不用則土氣常濕；脾為地，地氣不燥則金氣益疲。津液既難於上輸，水濁不易於下化，究竟肺病為本，脾病為標。是咳甚於嗽，痰少於聲耳。今雖苗秀之紀，陽旺之時，尚難杜除，始至二八之歲，陰通之日，止能帶病為累矣？姑宗經旨，肺欲散，急食辛以散之。肺苦氣上逆，急食苦以降之，溫以化之之例。商進。</p>
<p>東洋參（一兩）　苦杏仁（一兩）　蘇子（一兩）　製半夏（一兩半）　廣鬱金（一兩）　雲茯苓（一兩五錢）　桂枝尖（二錢）　前胡　黃白朮（一兩）　上耆皮（一兩五錢）　北細辛（錢半）　薄橘紅（五錢）</p>
<p>上藥共研細末，用枇杷葉卅片、白果肉卅粒，煎湯泛丸，每服三四錢，開水送下。</p>
<p>（案31）大凡損症，惟肺最易者，何也？蓋肺病必咳，咳則氣易泄，火易動。氣泄則不固，火動則陰傷，然後高源漸竭，龍相均熾，水火日偏，陰陽失濟。所以古人有損則不復，謂之癆症。必上為痰紅，下為走泄，咳嗽不已，食減肌灼，傳至便泄而後已。即越人所謂：上下交損，中土已敗也。客秋諸象俱見，後又值經營煩冗，天地之陽未復，人身之陽多動，皮毛開張，風邪侵隙，先覺頭脹咳嗽，繼則吐紅夢遺。兩進參蘇飲，外邪已盡，今擬膏方，並補三陰，俾得太陰有相生之權，少陰無觸陰之弊，則土能生金，水能涵木，厥陰一經亦得平補矣。</p>
<p>大生熟地（各一兩）　西歸頭（二兩）　奎杞（二兩）　西洋參（二兩）　黨參（三兩）　肥知母（二兩）　茯苓神（各三兩）　天麥冬　連須（二兩）　女貞子（二兩）　制香附　粉丹皮（二兩）　黑豆衣（三兩）　白芍（三兩）　炙紫菀（一兩五錢）　蛤黛散（三兩）　川百合（二兩）　石決明（煨，四兩）　阿膠（二兩）　煅龍骨、牡蠣（各三兩）　雪梨膏（二兩）　川斛（二兩）　白蒺藜（三兩）　桑葉（二兩）　龜膠（二兩）</p>
<p>（案32）閨秀十四，通經本屬順正，因肝氣常郁，肺氣不宣，藏統失職，衝任貯少，以致一潮即止，脈來細數，大腹旋滿，忌款見矣，藥恐難圖。</p>
<p>全當歸　撫芎　香附　延胡　月季花　沉香化氣丸　五靈脂　花檳　砂仁　烏藥　茺蔚子　四制香附丸</p>
<p>（案33）右脈稍揚，左關尚弦，肺氣少宣，肝陽未平。肺屬金，肝屬木，木無所畏，則風陽上騰，金不能制，則子氣亦衰，病非六淫，效焉能速。</p>
<p>歸身炭　黑衣豆　秦艽　橘白葉（炒）　白蒺藜　穀芽　功勞葉　川斷肉　香附　金狗脊　桑椹枝</p>
<p>（案35）痛無定處，氣病為多。蓋脘為胃部，腹為肝地。胃喜降，肝喜疏，疏降既應，痛自輕緩，再從土木同治。</p>
<p>川楝子　赤白芍　烏藥　青皮　橘葉白　木香　陳香櫞　大腹皮　枳殼　穀芽　砂仁殼</p>

<h1>下</h1>
<p>（案1）大便數行，宿垢溏糞俱見，未始不美。詎知竟有赤膩之物，殷紫之塊，想是營血為熱迫而出。至於甫醒即睡，睡中囈語，舌根之灰黃，較昨日又多，固是濁邪之外越，然濁為熱蒸即是痰火，機竅如不被矇蔽，應號轉即睡，不致言語如夢也。總而論之，當在險嶺矣。再擬一方，若得諸款畢謝，庶可把握。備商。</p>
<p>陳阿膠（錢半，黃柏末同炒）　石決明（六錢）　茯苓神（各三錢）　鮮石斛（四錢）　益元散（四錢）　竹黃（二錢）　炙龜板（三錢）　杭白芍（錢半）　花檳榔（五錢）　北沙參（三錢）　竹茹（十張一錢五）</p>
<p>另：上西黃（二釐）　陳膽星（二分）　金箔（一張）　川貝（二分）　同研末，先服。</p>
<p>（案2）拱頭日久，近加身熱便泄，兩目赤翳，是膿出過多，肝木失養之故。</p>
<p>大豆卷　歸身　池菊　決明子　杭白芍　碧玉散　生地　桑葉　女貞子　桑白皮</p>
<p>（案3）脘腹脹痛，大便溏泄，濕濁內阻，肝脾胃三經失和也。</p>
<p>老蘇梗　川樸　防風樸　烏藥　煨木香　桑葉　香附　淡吳萸　枳實　連皮檳　蔻仁</p>
<p>另：上沉香（二分）　生黑醜（三分）　上皮桂（二分）　巴豆殼（二分）　研末服。</p>
<p>（案4）吐血大勢雖定，而脈來數大不靖，舌苔淡黃，乃五志之火內熾，肺經為其蒸灼也。</p>
<p>羚羊角　丹皮　石膏　紫菀　絲瓜絡　碧玉散　知母　煅牡蠣　黑山梔　阿膠　白芍　摩三七（二分）　摩犀尖（三分，沖）</p>
<p>（案5）大瘧五旬有餘，脘脹痞痛而嘔，汗少不便，脈數，舌黃。邪積阻痹氣機，防其昏閉之變。</p>
<p>柴胡　桑葉　藿梗　廣生軍　枳實　連皮檳　鬱金　川樸　橘紅　草果仁　蘇葉　闢瘟丹（三分）</p>
<p>（案6）瘧久結癖，得汗不暢，當從榮衛間疏達。</p>
<p>柴胡　防風　枳實　草果皮　桑葉　冬瓜皮　葛根　豆豉　桃仁　連皮檳　竹茹</p>
<p>（案7）寒熱月餘，汗少，面浮，邪戀傳脾，再延防變。</p>
<p>麻黃　光杏　老桂木　桃仁　冬瓜皮　防風　枳實　前胡　桑葉　草果皮　豆豉　連皮檳　葛根　竹茹</p>
<p>（案8）初瘧半月，汗出不暢，近加面浮腹脹，防其成臌。</p>
<p>老桂皮　柴胡　草果皮　枳實　紫蘇　方通草　冬瓜皮　川樸　連皮檳　橘皮　桑葉</p>
<p>（案9）腹脹復發，又經半月，大腹滿痛，水濕積滯均有之，當從二便圖治。</p>
<p>商陸　官桂　澤瀉　連皮檳　五加皮　備急丸（一分半）　木通　苓皮　枳實　冬瓜皮　淡姜皮</p>
<p>（案10）脈形左手細小，右手帶數，舌苔黃膩，無夢而遺者。氣虛不攝，濕熱渾竅，腎關不固也。</p>
<p>南沙參　金櫻子　川萆薢　茯苓神　炒蓮鬚　封髓丹（二錢）　淮山藥　大有耆　白尖芡　白蒺藜　金鎖固精丸（二錢）</p>
<p>（案11）頭痛偏左，爾後為甚，風邪不言可知，然好酒必有痰熱入絡。</p>
<p>制殭蠶　池菊　絲瓜絡　桑葉　橘紅絡　枳實　丹皮　法半夏　蔓荊子　鉤鉤　荷葉邊</p>
<p>（案12）脾運不及，則有形凝聚，仲祖於太陽一篇本有腹滿之訓，閱前方以宣通為治，頗有益，仍從此意立法。</p>
<p>粗桂枝　連皮檳　連皮苓　小茴香　葫蘆巴　臺烏藥　青木香　川楝子　制香附　焦枳殼　上沉香　餘糧石（二錢）　連殼砂仁　沉香化氣丸（錢半）</p>
<p>（案13）淋濁痛勢極甚，右尺滑數不靖，濕熱蘊伏下焦，腎陰虛而相火熾，治從兩顧之法。</p>
<p>地骨皮　生山梔　萹蓄草　赤豬苓　萆薢　草梢　石蓮子　海金砂　牛膝梢　白茅根　滑石　荸薺二妙丸（一錢半）　當歸龍薈丸二錢）</p>
<p>（案14）瘧因強截，身熱不退，再加外風，咳嗽苔黃，太陽、少陽合病也。</p>
<p>麻黃　橘紅　法半夏　光杏　枳殼　豆豉　象貝　前胡　鬱金　薄荷　射干</p>
<p>（案15）寒熱至而經停，其病外輕可知，且用當歸桂枝同小柴胡出入，必得熱退方免損怯。</p>
<p>當歸尾　秦艽　赤芍　柴胡　法半夏　白薇　延胡　五靈脂　桂枝　荊芥　桑葉　無參回生丹（半粒，化服——</p>
<p>（案16）病後熱又一旬，兩脈數大，邪受於表，積蒸於裡，驚閉最易。</p>
<p>豆豉　光杏　萊菔子　紫蘇　葛根　川樸　桑葉　前胡　鬱金　枳實　佛手</p>
<p>（案17）諸象皆減，惟膚溲俱黃，蓋黃為土色。明是土虛則色泛於外，仍宜運脾化濕。</p>
<p>蒼朮　茵陳　滑石　革蘚　秦艽　赤豬苓　川楝子（淡吳萸四分同炒）　前胡　桑枝　通草　芸曲　功勞葉</p>
<p>（案18）咳嗽，汗少，身熱夜甚，治宜清泄太陰。</p>
<p>麻黃　黑山梔　生石膏　光杏　連翹　橘紅　桔梗　前胡　牛蒡子　淡芩　薄荷　竹茹</p>
<p>（案19）恙後濁蘊化熱，胃逆不降，以致頻頻嘔惡，舌苔黃厚，入夜胸脘煩灼，二便不利。諸恙彙集也。</p>
<p>法半夏　雅連　茯苓　生石膏　代赭石　藿梗　橘皮　枳實　竹茹　鬱金　檳榔丸（錢半）　備急丸（一分五釐）</p>
<p>（案20）去冬類中，今又復發。幸而左邊一手仍可舉動，身中之氣血尚可周流貫注，安養調治，庶可恢復。</p>
<p>細生地　潼沙苑　當歸　川斷　杞子　橘紅　陳阿膠　菟絲餅　杜仲　白芍　狗脊　桑枝</p>
<p>（案21）大熱稍挫，邪蘊不達，以致咳仍朝甚，痰沫不濃，苔黃邊絳，音啞不揚也。</p>
<p>金沸草　羚羊角　象貝　桔梗　蟬衣　淡芩　滑石　生石膏　粉前胡　桑葉　玄參</p>
<p>另：金礞石　風化硝　天竹黃　川貝母　四味同研細末，先服。</p>
<p>（案22）一熱即驚，危重可知，欠乳之體，焉能相競。備商。</p>
<p>蟬衣　枳實　桑葉　鉤鉤　蘇葉　薄荷　前胡　豆豉　上川樸　靈寶如意丹（十粒）</p>
<p>（案23）瘧久，寒不慄，熱不退，陽明之症，由少陽所歸。不忌口腹，致色黃面浮，遠則恐損，近則防臌。</p>
<p>香青蒿　黑山梔　紫蘇　連皮草果　滑石　連皮花檳　冬桑葉　豆豉　川樸　連皮赤苓酒芩</p>
<p>（案24）產後寒熱，咳嗽，必因外邪乘虛而入，蓐勞可懼。</p>
<p>豆豉　象貝　蘇子梗　秦艽　前胡　鬱金　當歸　川樸　茺蔚子　光杏仁　生薑　紅棗</p>
<p>（案25）先熱後寒，舌黃，腹痛，經邪腑積交阻為患，慢驚最易。</p>
<p>羌獨活　砂仁　柴前胡　撫芎　薄荷頭　南楂炭　焦神麯　赤苓　白桔梗　枳實　摩木香　摩花檳（沖）</p>
<p>（案26）素有脫肛腸紅，去冬又增痛淋，而今痛勢雖定，淋勢時輕時重，當從氣虛濕陷例治。</p>
<p>西洋參　碧玉散　升麻　茯苓　煅牡蠣　蓮鬚　大有耆　防風　焦白朮　龍齒　柴胡　威喜丸（三錢）</p>
<p>（案27）徒然發驚之後發熱，此非外邪所因，乃風陽上旋，恐成癇症。</p>
<p>炙龜板　石決明　天麻　制蠶　楂炭　橘紅　白石英　杭白芍　龍齒　半夏　蠍尾　鉤鉤</p>
<p>（案28）初瘧兩旬，遍體浮腫，耳後紅腫，防發外瘍。</p>
<p>金沸草　苦葶藶　淡芩　生山梔　花檳　板藍根　草果皮　大貝母　楂炭　連翹　薄荷　冬瓜皮</p>
<p>（案29）《經》云：心與小腸相為表裡，多於跋涉則陽動，事多拂意則火盛，致為小溲短赤，則兩目色紅。古人導赤散與症相符，出入投之。</p>
<p>木通　黑山梔　豆卷　大腹皮　桑白皮　赤茯苓　秦艽　滑石　桑枝　淡竹茹　海金砂</p>
<p>（案30）淋濁似有若無，肛門近又作痛，脈來滑數，舌質光紅。濕火下注，攻走不定也。</p>
<p>玄參　寒水石　連翹　知母　淡芩　生石膏　生山梔　碧玉散　竹葉　茅根　丹皮　漢防己</p>
<p>（案31）麻桂開泄，辛苦降逆，飲勢盤踞不解，咳嗽尚不能止。王氏云：甚於清晨者，宜參鹹寒。</p>
<p>海蛤殼　連皮檳　枇杷葉　光杏　法半夏　蜜炙橘紅　生苡仁　杜蘇子　半貝丸（錢半）　浮石　鬱金　鮮杜竹茹</p>
<p>（案32）月信前後，腹脹且痛，衝脈有寒，肝脾之氣違和也。</p>
<p>全當歸（小茴香五分同炒）　川芎　砂仁　香附五靈脂　寧坤丸（一粒）　赤白芍　延胡　烏藥　桂木　月季花</p>
<p>（案33）因傷致咳，邇日漸漸形衰力乏，宿傷仍在，其血易見。古詔五勞七傷，此症類是。</p>
<p>旋覆花　北細辛　橘紅絡　茜草　蘇子梗　款冬花　光杏仁　炙紫菀　左秦艽　前胡　陳猩絳　川鬱金（摩）</p>
<p>（案34）寒熱雖退，而又痛泄，良由榮衛和而肝脾之氣不和也。停經日久，亦須兼顧。</p>
<p>秦艽　沉香曲　茺蔚子　赤芍　全當歸　檀香　穀芽　砂仁　摩木香　延胡索　丹皮　玫瑰花　青蒿</p>
<p>（案35）瘧後連熱，又加咳逆，伏邪為主，新風為輔。喘驚兩字只恐不免。</p>
<p>射干　薄荷　前胡　枳殼　橘紅　豆豉　白金丸（三分，研服）　牛蒡　光杏　象貝　靈寶如意丹（七粒）</p>
<p>（案36）濕濁阻氣，寒熱，脘痞嘔惡，舌黃，得汗不解，是似瘧也。</p>
<p>蘇梗　川樸　廣藿香　江枳實　香附　草果皮　半夏　橘紅　制茅朮　連皮檳　桑皮　溫化丸（三錢）</p>
<p>（案37）榮衛失和，濕濁內戀，是以脘痞舌黃，微寒發熱也。</p>
<p>制茅朮　連皮檳　陳皮　豆豉　枳實　杜竹茹　川雅連　上川樸　淡芩　黑山梔　桑葉　摩烏藥（四分）</p>
<p>（案38）肝風夾痰，頭暈舌黃，時覺烘灼，脈來弦滑。宜從肝胃並治。</p>
<p>制烏藥　歸身　白芍　潼白蒺藜　茯苓神　桑枝　陳阿膠　天麻　牛膝　白石英　石決明</p>
<p>（案39）癉瘧幾及四候，積滯已清。今又暢汗，而熱仍不退，舌色干黴，時而噦惡。乃濁邪交蒸化熱，陰液被劫，恐有昏陷之變。</p>
<p>元參（二錢）　連翹（三錢）　雅連（二分）　生石膏（五錢，打）　益元散（四錢，包）　生地（三錢）　蟬衣（錢半）　淡芩（錢半）　知母（錢半）　竹茹（一錢，炒）　川石斛（三錢）　摩犀尖（沖，三分）　茅根肉（去心，一兩）</p>
<p>（案40）幼嬰產未盈月，身熱已經八日，熱至似有寒意而不甚，得汗不暢，時而噦惡，大腹按之微膨，陰囊腫如晶球，脈滑數而帶弦，舌薄白而膩。此由產母感暑，內胎應之，蘊於少陽之間，染成似瘧時症。暑必夾濕，濕為水類，侵入囊中，幸而余處未腫，不致蔓延於上耳，免節外生枝。小兒體屬純陽，熱甚之際，恐其暴風鴟張，即有牽引經絡，為瘛瘲之變。擬方商進。</p>
<p>黑山梔　粉葛根　草果仁　連翹　楂炭　豆豉　通草　枳實　連皮檳　川雅連　淡芩　竹茹　鮮荷葉</p>
<p>（案41）症經十有二日，伏邪夾濕，蒸遏氣分。初則起伏，繼而熱盛，時見糊語，通宵不寐，曾得汗而不解，大便日泄數次，舌淡黃厚，脈至不揚，未病之前已覺不寧。良由心神不定，況又暑喜入心，所幸中焦尚健，未盡入內，恐其延久而變昏陷，則去生遠矣，明見正之。</p>
<p>豆豉　滑石塊　上川樸　通草　黑山梔　赤苓神　燈芯　桑葉　淡黃芩　紫豆蔻（勿打入煎）　佛手　鬱金　薄荷梗</p>
<p>（案42）風溫襲肺，釀濁成痰，以致咳嗽痰白，脘痞氣逆，脈數微熱也。</p>
<p>麻黃　光杏仁　荊芥　前胡　薄荷　萊菔子　橘絡　川樸　牛蒡子　象貝　枳實　桑皮　摩鬱金（四分）</p>
<p>（案43）由瘧而變連熱，膚色萎黃，力乏，舌色濁膩，脈象濡數。瘧本傳脾，勞碌亦傳脾，最恐淹纏入損。</p>
<p>青蒿　橘皮絡　紫蘇　豆卷　桑葉枝　連皮檳　淡芩　上川樸　秦艽　萆薢　功勞葉　連皮苓</p>
<p>（案44）浮腫往來不一，繼由風寒濕滯困之，足太陰乏力運化而然也，最怕腹脹之變。</p>
<p>上川樸　香櫞皮　通草　赤豬苓　焦麥芽　舟車丸　澤瀉　連皮檳　枳殼　冬瓜皮　嫩防己　溫化丸</p>
<p>（案45）《內經》臟象，肝生於左。耳脹而癢，腹脹而撐，皆盛於左者，肝家風火之象也。</p>
<p>丹皮　夏枯草　砂仁殼　香附　白芍（吳萸四分同炒）　鉤鉤　生石決明　木香　合歡皮　陳香櫞　池菊　制蠶　摩開心果（五分）　摩上沉香（三分）</p>
<p>（案46）不咳而嗽，胃痰故也。痰中見紅，肝火熾也。左脈弦數，右手濡滑，刻下血雖止，嗽未平，終屬不宜，如此脈象，恐其久延為損。</p>
<p>桑葉　光杏　橘紅　黑山梔　竹二青　枇杷葉　法半夏　丹皮　茯苓　姜皮　絲瓜絡　海蛤殼（青黛挫打）</p>
<p>（案47）邪熱由於陽明，兼涉厥陰，則不哭無淚，牙疳在於穿腮，當可多延一二，若發驚厥，即在交睫之間，瘍科先生立方，可謂面面俱到，再當擴充可也。</p>
<p>摩犀尖　豆豉　生梔（鮮地同打）　粉丹皮　竹葉　蘆根　大川貝　鉤鉤　竹黃　片鬱金　上西黃（一釐）　玉樞丹（二分）　研末服。</p>
<p>（案48）瘧後灑淅寒熱，舌苔半白，乃余濁未盡，因勞而發也。</p>
<p>丹參　草果　前胡　獨活　枳實　鬱金　秦艽　蘇葉　淡芩　川斷　桑葉　橘紅</p>
<p>（案49）脘部結癖，今移於右，滿腹膨脹，二便不利，是脾肝鬱結，營衛失和，反復無定也。</p>
<p>草果仁　延胡　木通　香附　山三稜　商陸　連皮檳　老桂木　乾薑　沒藥　枳實　舟車丸（錢半）　備急丸（一分五釐）</p>
<p>（案50）先咳後熱，今又嘔血，脈象左手數大，舌色光紅，有汗。風熱外入，宿傷在絡，恐沖。</p>
<p>淡豆豉　前胡　杏仁　絲瓜絡　丹皮　荊芥　冬桑葉　紫菀　鬱金　牛蒡子　上三七（三分）　黑山梔（三分）　研末服。</p>
<p>（案51）便泄腹痛，後有紅色，氣損絡虛，營陰虧損也。</p>
<p>歸頭炭　煨木香　赤白芍　五穀蟲　於木炭　荊芥　槐花炭　紅神麯　荷葉蒂　春砂仁　炒青皮</p>
<p>（案52）子和云：七疝大抵屬寒，而厥陰之病為多。腎子日大，不痛不熱，名曰㿗疝，最屬難愈之症。</p>
<p>小茴香　青皮　青木香　大當歸　吳萸　玄胡索　老桂木　山楂　川楝子　橘紅絡　桃仁　上沉片</p>
<p>（案53）寒熱月餘，汗少，邪戀傷脾，再延防變。</p>
<p>麻黃　前胡　桑葉　桂木　花檳　草果仁　防風　光杏　姜皮　枳實　川樸　冬瓜皮</p>
<p>（案54）初瘧半月，汗不通體，近加面浮，腹脹，防其成臌。</p>
<p>老桂木　連皮檳　柴胡　苓皮　紫蘇　枳實　冬瓜皮　草果仁　川樸　通草　桑葉</p>
<p>（案55）病經載半，刻下熱戀不退，經停不行，虛損之象已露，山川草木恐難圖治。</p>
<p>當歸　丹皮　秦艽　柴胡　茺蔚　薄荷　淡芩　香附　白芍　桑葉　白薇　加味逍遙丸（錢半）　沉香化氣丸（錢半）</p>
<p>（案56）病勢稍減，惟如夜不得睡，多食難消，心血脾氣虛而不運，再從前法加上一層治之。</p>
<p>南沙參　白芍　雞內金　連皮檳　功勞子葉　冬瓜皮　五加皮　茯神　上於術　夜合花　杏仁炭　炒穀芽</p>
<p>（案57）不咳則已，咳則連聲，名曰頓咳。每咳必嘔，肺氣熱盛，防其見血。</p>
<p>麻黃　生石膏　前胡　象貝　桔梗　桑葉　光杏　新會紅　牛蒡　鬱金　薄荷</p>
<p>（案58）脈數，內熱，面黃力乏，是郁傷脾，脾不運濕，濕化為熱也。</p>
<p>大豆卷　制茅朮　枳殼　茯苓　川樸　滑石　石菖蒲　左秦艽　鬱金　藿梗　桑枝　川斷</p>
<p>（案59）痎瘧三年，今又復發，而熱不退清，頗有陰傷成損之險。</p>
<p>當歸　柴胡　豆豉　全蘇　上川樸　桑葉枝　陳皮　秦艽　淡芩　知母　青皮　穿山甲、煨草果（同研末服）</p>
<p>（案60）熱至先寒，轉瘧可望，宿癖乘攻，表散里和為善。</p>
<p>摩青皮　川樸　全蘇　柴胡梢　大豆卷　佛手　草果仁　淡芩　葛根　摩花檳　左秦艽</p>
<p>（案61）氣分窒痹，濁阻聚凝為痛，痛而腑結，先以溫通。</p>
<p>上瑤桂（二分）　生黑醜（五分）　煨木香（四分）　上沉香（三分）　廣生軍（五分）</p>
<p>五味共研末，蜜丸，用砂仁香櫞湯送下。</p>
<p>（案62）肺為風溫侵襲，則津變為痰，音啞咳逆，金實無聲。擬開泄潤肺為主。</p>
<p>麻黃　射干　象貝　馬兜鈴　光杏仁　桑葉　牛蒡　鬱金　前胡　生石膏（薄荷同打）　蟬衣</p>
<p>（案63）氣升多而降少，肝病為患也。腹滿便艱，肋脅作脹。治從行氣化濁，兼泄下導滯為佐例。</p>
<p>金沸草　吳萸　香附　商陸　花檳　上沉香　溫化丸（一錢）　金鈴子　川樸　烏藥　枳殼青皮　舟車丸（五分）</p>
<p>（案64）咳嗽屬肺，肺令不行，則外風上受，夾痰為患，疏降為法。</p>
<p>金沸草　白石英　枳實　牛蒡　鉤鉤　橘紅　羚羊角　粉前胡　光杏　竹黃　薄荷</p>
<p>（案65）肺居於上，有熱則氣降失司。治宜清氣泄化。</p>
<p>黑山梔　川雅連　防風　淡芩　澤瀉　通草　連翹　大豆卷　枳殼　茯苓　竹葉　竹茹</p>
<p>（案66）熱迫血分，經事每月數行，而且作痛。治宜疏氣涼榮。</p>
<p>鮮生地　木香　淡芩　白芍　蒲黃　黑山梔　炙龜板　丹皮　川芎　青皮　藕節　摩沉香（三分）</p>
<p>（案67）下痢載余，隱癖攻痛，且從肺胃疏泄。</p>
<p>丹皮　枳殼　木香　摩烏藥　連皮檳　連皮茯苓　草果　肉果　五靈脂　範志曲</p>
<p>（案68）產後咳嗽，小腹作痛，是新風輻輳，衃血不清也。</p>
<p>麻黃　蘇子　半夏　前胡　牛蒡　薄荷　摩降香（四分）　象貝　光杏　桑枝　枳殼　鬱金　橘紅　達痰丸（二錢）</p>
<p>（案69）肝胃雖和，濁邪未化，所以熱退不清，無汗舌黃。擬疏中達表法。</p>
<p>蘇葉　鬱金　豆豉　半夏　陳皮　連皮檳　前胡　川樸　枳殼　香附　沉香　霜桑葉</p>
<p>（案70）大產兩旬，而發寒熱，汗出半體，衃血不多，臍下極痛，近又便泄，脈形弦滑而數，舌苔淡黃而膩。此由產後正虛，伏邪內發，留瘀結癖，名曰似瘧，當從疏泄。</p>
<p>炒青皮　連皮檳　柴胡　草果　桑葉　延胡　蘇葉　煨木香　上川樸　葛根　枳實　香附　降香屑</p>
<p>另：生黑醜（二分）　巴豆殼（二分）　木香（二分）　山甲片（二分）　四味研末服。</p>
<p>（案71）頭痛偏甚於左者，肝膽風火痰無疑。再予清熄以望弋獲。</p>
<p>羚羊角　制蠶　橘紅絡　川芎　鉤鉤　白芷　粉丹皮　生決明　製半夏　桑葉　甘菊</p>
<p>另：外貼頭風膏，方用細辛、川烏、桂心、麝香，研末放布膏內，貼兩太陽。</p>
<p>（案72）瘧勢不退，脈小，色晦，慢驚、肺脹即在交睫之間。勉方以圖幸。</p>
<p>青蒿　淡芩　鬱金　豆豉　前胡　石菖蒲　白金丸（一錢）　橘紅　象貝　光杏　薄荷　竹黃　靈寶如意丹（七粒）</p>
<p>（案73）紅痢腹痛，舌乾心嘈。濕熱互蘊，先為通因通用，煙體當此，大非所宜。</p>
<p>煨葛根　赤苓　花檳　紅曲　焦穀芽　槐米　熟砂仁　青皮　楂炭　赤芍　枳殼實　香連丸（三錢）</p>
<p>（案74）嘔吐攻撐，從下而至脘者，為肝木犯胃。然脈已數，嘔沫帶酸，內郁化熱，溫方參以苦降。</p>
<p>半夏　上雅連　香櫞　廣藿梗　瓜蔞皮　陳皮　白茯苓　竹茹　細香附　江枳實　摩檀香</p>
<p>（案75）因傷見血，血止納少，作嘔，脈濡，舌濁者，痰濕內蘊，陽明氣不宣降也。</p>
<p>紫廣皮　新絳　白殘花　檀穀芽　冬瓜子　廣藿香　茯苓　杜竹茹　功勞葉</p>
<p>（案76）經停日久，近加內熱，欲便痛者，氣血皆病矣，乾血根萌。</p>
<p>全當歸　延胡　柴胡　薄荷　青皮　玫瑰花　制香附　秦皮　丹皮　白薇　茺蔚　四制香附丸</p>
<p>（案77）宿傷未去則脅痛氣逆，濕濁內阻則納少嘔惡，宜溫足陽明足厥陰例治。</p>
<p>金沸草　橘紅絡　制香附　淨穀芽　上川樸　竹茹　左秦艽　製半夏　廣鬱金　炒枳殼摩降香</p>
<p>（案78）便泄自夏及秋，雖則較減，而脾元未復，能食難化，恐滋腹滿之虞。</p>
<p>五穀蟲　青陳皮　穀麥芽　雞金　和中丸（錢半）　連皮檳榔　範志曲　赤白芍　青香櫞　上川樸　香砂枳實丸（錢半）　連殼砂仁</p>
<p>（案79）痰由濕化，火從氣生，脘中似嘈非嘈，若痛不痛，辛涼佐以鹹味，已應，當以原法擴充。</p>
<p>煅蛤殼　半夏曲　枳殼　茯苓神　遠志曲　川貝母　炒青皮　杜竹茹　穀芽　細香附　瓜蔞皮</p>
<p>（案80）咳久，舌黃，脈仍右大，風燥外襲，濕熱內戀。素有不夢自走，且以湯丸分治。</p>
<p>蜜炙桑葉　冬瓜子　馬兜鈴　鬱金　光甜杏　象貝母　蜜炙橘紅　生苡仁　法半夏　竹茹　鮮枇杷葉　茯菟丹（三錢）</p>
<p>（案81）年屆十七，身雖長大，天癸未至，榮分未充可知，所以背部兩足不時發熱，頭旋掉眩，面色無華，恐其秀而不實。</p>
<p>玄武版　厚杜仲　蒺藜　丹皮　九孔石決明　女貞子　大有耆　白芍　牛膝　沉香　炒穀芽</p>
<p>（案82）咳熱稍輕，痰白不濃，兩脅作痛，嘔噎作干，是風邪化熱，絡氣失和也。</p>
<p>桑皮　薄荷　白桔梗　旋覆花　甜葶藶　光杏　元參　前胡　橘紅絡　生石膏　象貝母　鬱金</p>
<p>（案83）便雖數行，嘔未全止，乃胃氣已逆行，欲降無權也。</p>
<p>釘頭赭石　生石膏　藿梗　茯苓　雅連左金丸（五分）　白石英　法半夏　竹茹　橘皮　枳實</p>
<p>（案84）開而復閉，皆由熱與痰蒙故也，波折當此，藥恐不持。</p>
<p>九節菖　豆豉　鉤鉤　薄荷　鬱金　紫雪丹（二分）　天竺黃　制殭蠶　蟬衣　川貝　淡芩</p>
<p>（案85）喘屬於肺，脹屬於脾。先脹後喘，脾病傳肺，脘部更硬，想是脾之磨運失司，肺之肅降少權，胃居於中，安能和降如常乎？</p>
<p>金沸草　連皮檳　桑葉　鬱金　半夏　上川樸　葶藶子　冬瓜皮　橘紅　前胡　枳實　控涎丹（五錢）</p>
<p>（案86）瘧延兩月，汗出面浮，邪蘊不達，脾肺氣傷，恐有腹滿之變。</p>
<p>麻黃　防風　川樸　草果皮　連皮檳　桑葉　前胡　光杏　枳實　冬瓜皮　帶皮苓　通草</p>
<p>（案87）瘧久傳脾，寒熱無序，面黃色浮，腹亦脹滿。乃邪蘊少陽，濁阻脾胃，脾胃屬土，土傷則榮衛失和也。</p>
<p>柴胡　淡芩　象貝　草果仁　連皮檳　茯苓皮　紫菀　豆豉　枳實　冬瓜皮　冬桑葉　舟車丸（錢半）</p>
<p>（案88）脘部脹痛，已經多年，此度已發數月，不但脘部脹痛，抑且經亦不行，正所謂氣為血舟，氣鬱則血亦郁也。</p>
<p>高良薑　全瓜蔞　草果　川樸　枳實　烏藥　花檳　制香附　薤白頭　青皮　蘇葉梗</p>
<p>另：上沉香（二分）　生黑醜（二分）　上瑤桂（一分）　巴豆殼（五釐）　研末服。</p>
<p>（案89）病後強食，則脾土受傷，肝木乘侮，須怡情逸志，以助藥效。</p>
<p>當歸　香附　香櫞　帶皮檳　檀香　炒穀芽　砂仁　川斷　柴胡　秦艽　杭白芍（吳萸同炒）　摩烏藥（五分）　沉香（三分，沖服）</p>
<p>（案90）病經五月，始起似屬風溫之象，而今氣鬱生火，火盛生痰，清靈之處日被痰火所蒙。是以喉中如痹，火盛氣升，左脈如無，右手弦滑而數，夜不能寐，舌色漸減，此名痰火，須從氣鬱痰阻論治，開懷怡情，方顯藥效。</p>
<p>茯苓（四錢）　光杏（打，三錢）　鮮枇杷葉（五片）　腹皮（錢半）　枳實（錢半）　竹茹（錢半）　珍珠母　細香附（打，二錢）　姜皮（三錢）　海蛤殼（打，六錢）</p>
<p>另：上西黃（三分）　石菖蒲（二分）　貝母（三分）　研末服。</p>
<p>（案91）酒濕內郁，化熱成瘡，當從榮衛清泄。</p>
<p>川雅連　羚羊角　生山梔　苓皮　桑葉　象貝　碧玉散　忍冬藤　淡黃苓　丹皮　防己　紫草　龍薈丸（三錢）</p>
<p>（案92）癉瘧月餘，又成牙疳，雖未穿腮，忽已落齒，恐不足持。</p>
<p>元參　淡芩　象貝　生石膏　人中黃　蘆根尖　川斛　生山梔　知母　連翹　薄荷頭　摩犀尖（五分，沖）</p>
<p>復診：加菖蒲根、上西黃、川貝母，同研末服。</p>
<p>（案93）咳嗽幾及三載，近日再加嘔吐，肺病及胃，前方既應，再當清而宣之。</p>
<p>象貝　熟石膏　粉前胡　金沸草　蘇子梗　薄橘紅　麻黃（留節）　製半夏　光杏仁　煨代赭　北細辛　姜竹茹</p>
<p>（案94）滯下兩季，仍見裡急，脈舌相參，虛實各半，仿古散法。</p>
<p>肥兒丸（二錢）　香連丸（一錢）　炮薑炭（七分）　山楂炭（四錢）　炒青皮（一錢）</p>
<p>以上五味同研細末，分七日服。</p>
<p>（案95）脾主四肢，多動者必傷於脾，脾傷則陽氣下陷，濕寒隨注，病退十七，當參補益。</p>
<p>東洋參　金狗脊　萆薢　黃耆　秦艽　生熟穀芽　全當歸　生苡仁　川斷　牛膝　白朮連絡陳皮</p>
<p>（案96）腫由足及於腹，由腹而至於面，濕勝於風，二便皆塞，且用開泄。</p>
<p>浮萍　冬瓜皮　花檳　赤豬苓　生苡仁　舟車丸（一錢）　桂枝　粉前胡　姜皮　澤蘭　澤瀉　方通草　溫化丸（一錢）</p>
<p>（案97）先為身熱，繼則咳嗽，舌絳，邇來汗少，乃伏暑內蘊，風邪襲於手太陰經。手太陰屬肺而居於上，肺之氣化不行，水氣氾濫，所以面浮肢腫，接踵而至也。為勢非輕，恐有腹脹喘驚之變。</p>
<p>麻黃　橘紅　川樸　老桂枝木　牛蒡　江枳殼　前胡　光杏　薄荷　白萊菔子　防風　冬瓜皮</p>
<p>（案98）似瘧日久，肆食致重。蓋食則多熱，熱則入心為昏閉，傳厥陰為驚厥。</p>
<p>青蒿皮　川樸　淡豆豉　淡芩　花檳　桑枝葉　佛手　粉葛根　黑山梔　滑石（薄荷同打）</p>
<p>（案99）瘧止復來，因勞而然，仲祖所謂勞復是也。脈小而數，虛實各半，擬小柴胡法。</p>
<p>南沙參　知母　豆卷　帶皮檳　山梔　秦艽　冬桑葉　柴胡　淡芩　統紫蘇　草果</p>
<p>（案100）瘧已五閱月矣。刻下寒熱依然，舌光，脈小，咳嗽氣逆，納漸遞減。有成損之險，無向愈之象。</p>
<p>當歸　淡芩　柴前胡　清水豆卷　光杏　桑葉　象貝　鬱金　蘇子梗　蜜炙橘紅　秦艽</p>
<p>（案101）欠乳傷脾，脾疳已成，雖服藥餌，無力回春矣。</p>
<p>南沙參　金石斛　淡芩　青蒿　木香　扁豆衣　胡黃連　上於術　淮藥　白芍（桂枝一分，同炒）　桑葉　砂仁</p>
<p>（案102）寒熱，力乏，舌黃灰，脈象數，邪濁因勞而發，誤食滋膩所致，非輕恙也。</p>
<p>香附　烏藥　前胡　全蘇　秦艽　達痰丸（錢半）　方通　枳實　枳殼　花檳　桑葉　川樸　蔻仁末（四分）</p>
<p>（案103）勞勩未復，自然力慵神乏，外風戀客，無怪咳嗽痰多，病分標本，治當兩顧。</p>
<p>秦艽　橘紅絡　光杏　當歸　鬱金　功勞葉　川萆薢　川斷　桑葉梗　前胡　貝母　建曲　寧咳健脾丸（一錢五分）</p>
<p>（案104）經停腹痛，爾後身熱，肝脾不和，延恐乾血重症。</p>
<p>歸尾　香附　延胡　連皮檳　青皮　烏藥　玫瑰花　撫芎　柴胡</p>
<p>另：上桂心（四分）　生蒲黃（一錢）　五靈脂（七分）　沉香（五分）　酒軍（一錢）　炙山甲（五分）　六味同研末，紅糖為丸，日兩次服。</p>
<p>（案105）諸恙雖減，惟咳不平，肺氣上逆，所以面色仍浮也。</p>
<p>冬瓜子皮　象貝母　鮮薄荷　桑皮（薑汁炒）　苓皮　前胡　苦葶藶　金沸草　達痰丸　蘇子　鬱金　枳殼</p>
<p>（案106）營虛氣鬱，心悸寒熱，脘腹攻痛，嘔惡便泄，久延非宜。</p>
<p>丹參　砂仁　枳殼　煨木香　連皮檳　辰茯苓　白芍　桑葉　竹茹　範志曲　炒白薇　摩烏藥</p>
<p>（案107）脈象未清，仍從手太陰肅降。夫肺為乾天屬金，必辛涼甘潤為主。</p>
<p>桑葉　枇杷葉　甜杏仁　淨蟬衣　冬瓜子　鬱金　桔梗　象貝母　生苡仁　雞蘇散　雪梨肉</p>
<p>（案108）食物不化，變為便泄，泄則傷脾，脾與胃以膜相聯，所以脾病則胃亦病矣。</p>
<p>南沙參　茯苓神　廣皮　桑枝葉　廣藿梗　穀芽　夜交藤　製半夏　砂仁　建曲　健脾丸　硃砂安神丸</p>
<p>（案109）得汗不暢，邪未外達，所以寒熱仍作，腹撐舌黃也。</p>
<p>桂枝尖　白茯苓　蘇葉　柴胡　橘紅　草果仁　青皮　連皮檳　上川樸　滑石　枳殼　竹茹　冬桑葉</p>
<p>（案110）咳久內熱，已延兩月，痰白不黃，得汗不解，是風為濁戀，不易達化也。</p>
<p>麻黃　光杏　淡芩　蘇子　橘紅　金沸草　前胡　桑皮　薄荷　半夏　石膏　冬瓜子</p>
<p>（案111）脫力日久，近加寒熱，乃伏邪乘勞而發也。</p>
<p>老桂木　獨活　苓皮　草果皮　柴胡　當歸　金狗脊　桑葉　秦艽　冬瓜皮　竹茹</p>
<p>（案112）瘧久不已，面浮汗少，邪戀於脾，脾不運化，恐有脹滿之變。</p>
<p>麻黃　防風　枳殼　前胡　生苡仁　豬苓　桂木　苓皮　通草　桑葉　草果皮</p>
<p>（案113）經行落後，或淋帶遷延，是氣虛血寒，經絡失宣也。</p>
<p>細生地　玫瑰花　當歸　白芍　香附　五靈脂　大有苠（防風炒）　干佩葉　川芎　杞子　艾葉</p>
<p>（案114）便雖暢行，脘腹稍舒，是濁阻氣痹，肝脾失於條達也。</p>
<p>上安桂　枳殼　沒藥　三稜　通草　草果　延胡　連皮檳　商陸　川樸　烏藥　備急丸（一分五釐）　滾痰丸（錢半）</p>
<p>（案115）寒熱腹撐皆減，然病屬七情所致，必得怡暢情志，方不入損。</p>
<p>當歸　玫瑰花　柴胡　赤芍（吳萸四分炒）　丹皮　延胡　砂仁　花檳　摩烏藥　白薇　薄荷　茯苓　香附　降香</p>
<p>（案116）上午之熱已退，夜分之咳未已，晨起苔灰，痰出黏膩，邪濕固然未清，榮衛亦屬不和，前方既應，逍遙再投，再添泄肺化胃之品。</p>
<p>當歸　秦艽　法半夏　橘紅　光杏仁　柴胡　竹茹　淡芩　薄荷　上川樸　鬱金　金狗脊</p>
<p>（案117）《經》云：夏傷於暑，秋必成瘧。瘧雖不離少陽，然口渴舌光，熱不退清，則兼涉陽明。古人於瘧之一症，必以小柴胡為主方。既見胃病，當用歸桂柴胡白虎意。</p>
<p>桂枝尖（四分）　淡芩（錢半）　草果（七分）　鮮藿梗（半尺）　淡豆豉（三錢）　佛手（錢半）　帶皮檳（三錢）　柴胡（七分）　半夏（二錢）　肥知母（錢半）　荷花瓣（七片）</p>
<p>（案118）睪丸日大，不脹不痛，氣虛下陷，寒濕襲入。《經》云：肝絡環陰器，雙丸主腎。前用流氣通絡，和血緩下之品。未覺響影，其為痼症無疑，惟不納藥，姑以丸方治之。</p>
<p>橘核丸（二錢）　金匱腎氣丸（錢半）　補中益氣丸（錢半）　砂仁湯下。</p>
<p>（案119）經停腹痛，爾後身熱，肝脾氣血不和，延恐乾血重症。</p>
<p>歸尾　玫瑰花　延胡　連皮檳　撫芎　制香附　青皮　烏藥　春柴胡</p>
<p>另：上桂心（四分）　生蒲黃（一錢）　沉香（五分）　五靈脂（一錢）　生軍　川甲　共研末，紅棗為丸，勻兩次服。</p>
<p>（案120）似瘧半月，汗常頭出，近加面色黃浮，腹痛便泄。是瘧久傷脾，脾不運化之故。</p>
<p>老桂木　柴胡　葛根　桑葉　冬瓜皮　通草　草果皮　川樸　豆豉　楂炭　江枳殼　淡芩</p>
<p>（案121）咳嗽雖爽，喉燥嗌乾，身熱不退，脈浮而數。乃風邪未散，猶然化熱蒸痰也。</p>
<p>荊芥　元參　射干　生梔　碧玉散　橘紅　牛蒡　象貝　蔓荊　桔梗　淨蟬衣　桑葉</p>
<p>熱勢漸和，喉仍乾燥，痰白或紫，今見血絲，是溫化熱，肺絡內傷。再擬清氣涼營法。</p>
<p>鮮生地　象貝　川石斛　元參　生梔　摩犀尖（三分，沖）　生石膏　紫菀　肥知母　桔梗　鬱金</p>
<p>（案122）懷妊而患起伏，癉瘧今已十有二日，夜分神糊，舌黃滿布，煩悶無汗，脈象沉數。伏暑與濕皆重，最怕動胎神昏等變。</p>
<p>炒豆豉　山梔　淡芩（薑汁炒）　鮮藿梗　囫圇砂仁　大腹皮　冬桑葉　佛手</p>
<p>另：薄荷梗、九節菖、鬱金（各三分）　研末，以佩葉露、荷花露各二兩調下。</p>
<p>得汗熱退，仍屬起伏，然伏暑夾濕，蘊於氣分之故，每每如此。刻下病在出入之際，加以有娠，豈可忽略。</p>
<p>上川樸　桑葉　子芩　淡豆豉　連皮檳　佛手　鬱金　紫蔻仁　山梔　竹茹　鮮薄荷</p>
<p>另：九節菖、老檀香各（三分）　同研細末，勻兩次服。</p>
<p>（案123）症勢大減，惟咳嗽一症，病易愈而根難拔，宜謹慎而緩圖之。</p>
<p>金沸草　前胡　鬱金　桑葉　象貝　生苡仁　枇杷葉　光杏　橘紅　半夏　竹茹　北細辛</p>
<p>（案124）時症之後，得脘窒便泄，寒熱，邪又輻輳，濁滯不化，有陰虛成損之險。</p>
<p>蘇子梗　桑葉　烏藥　帶皮檳　穀麥芽　砂仁　柴胡　青陳皮　上川樸　神麯　大豆卷　川桂枝　香砂　枳實丸</p>
<p>（案125）腹痛乏力，微有寒熱，脘部作疼，嘔惡面黃，是脫力夾邪，胃氣失和也。</p>
<p>良薑　燕白　全瓜蔞　香附　廣皮　川斷　上川樸　牛膝　蔻仁　左秦艽　枳殼　竹茹溫化丸（錢半）　備急丸（一分五釐）</p>
<p>（案126）辛涼甘寒治肺胃，熱退脈緩，可知風溫內蘊，非無徵也。然咳痰尚多，前賢治其一面之例。</p>
<p>馬兜鈴　光杏　冬瓜子　桑皮　滑石　通草　竹茹　生苡仁　象貝　海浮石　橘紅</p>
<p>另：鬱金、白芨、川貝，研末，先服。</p>
<p>（案127）瘧久脾土受傷，傷則濕聚蒸痰，是以獨熱不寒，舌黃滿布，脈象濡數，小溲混赤也，恐入損境。</p>
<p>上雅連　新會皮　滑石　淡芩　赤豬苓　福澤瀉　大豆卷　製半夏　通草　佩葉　採芸曲　二妙丸（錢半）</p>
<p>（案128）內熱已退，腹痛亦安，誠佳事也。能於外不勤勞，內無忿恨，方可慶全。</p>
<p>當歸　丹參皮　香青蒿　白蒺藜　玫瑰花　鉤鉤尖　秦艽　青陳皮　延胡索　滁菊　煨木香　四制香附丸</p>
<p>（案129）經行而停，寒熱日久，得食脘腹不舒，脈象漸見細數，邪濁內戀，元正日虛，頗有成損之險。</p>
<p>當歸　黑山梔　香附　茯苓　豆卷　穀芽　柴胡　桑枝葉　秦艽　丹皮　薄荷　淡芩　香砂枳實丸</p>
<p>（案130）風邪襲肺，身熱痰白，噦惡舌黃，得汗不暢。且從陽明疏達。</p>
<p>麻黃　光杏　牛蒡　前胡　竹茹　杜蘇子　桑皮　桔梗　枳實　薄荷　橘紅　摩鬱金（四分）</p>
<p>（案131）勞倦受寒，由寒停積，以致腹脹而痛，體酸身熱，不一而作也。</p>
<p>蘇梗　川樸　桂枝尖　前胡　烏藥　金狗脊　秦艽　枳實　連皮檳　桑枝　蔻仁　溫化丸（三分，沖）</p>
<p>寒熱稍衰，氣短色浮，脾肺同病，兩顧為治。</p>
<p>桂枝　川樸　金沸草　羌獨活　桑枝　蘇子葉　半夏　枳實　連皮檳　冬瓜皮　陳皮　摩沉香（三分，沖）</p>
<p>（案132）身熱不揚，腹痛便膩，是邪積挾濁，阻於太陽陽明故也。</p>
<p>蘇葉　防風　煨木香　烏藥　前胡　桑葉　川樸　枳實　蔻仁　帶皮檳　煨葛根　檳榔丸（二錢）　溫化丸（一錢）</p>
<p>（案133）似瘧一月，形瘦力乏，面色無華，得汗不暢。是勞傷脾土，邪濁留戀也。</p>
<p>制茅朮　白朮　青蒿　大豆卷　桂木　秦艽　金狗脊　川樸　枳殼　製半夏　桑葉　茯苓</p>
<p>（案134）大便雖行，得汗不暢，肢寒身熱，面色黃浮。濁邪不化，脾胃同病也。</p>
<p>麻黃　川樸　桂枝尖　前胡　豆豉　金沸草　防風　枳殼　草果皮　薄荷　桑葉　方通草</p>
<p>（案135）便血復來，前後不一，脘腹時覺作痛，舌苔黃膩。乃濕邪蘊於大腸，肝脾胃三經不和也。</p>
<p>荊芥炭　地榆炭　川樸　於術　烏藥　茯苓　槐米炭　上雅連　白芍　紅曲　藕節　駐車丸</p>
<p>（案136）表邪方解，里積又傷，脾升胃降，皆失其常，食物起居必使其適。宜辛溫苦芳，以調中下。</p>
<p>蘇葉　佛手　豆卷　烏藥　秦艽　上川樸　廣藿　範志曲　香砂枳實丸（錢半）　溫化丸（錢半）同服。</p>
<p>（案137）寒熱咳腫，汗少脈浮，風水阻於肺脾，二經合病也。恐變喘促。</p>
<p>蜜炙麻黃　桑葉枝　前胡　光杏　防風　焦麥芽　連皮檳榔　赤豬苓　橘紅　通草　象貝　舟車丸</p>
<p>（案138）古云：足腫乃脹之始，上咳是喘之漸。又云：先脹後喘，治脾；先喘後脹，治肺。足腫而繼上咳者，當先治脾。然咳勢較重，治腫亦不可緩，且擬越婢青龍等法。</p>
<p>蜜炙麻黃（後下）　煨石膏　前胡　光杏　老桂木　枳殼　冬瓜子皮　北細辛　橘紅　雲苓　金沸草　鬱金</p>
<p>（案139）脈細而弦，弦為肝氣有餘，細為陰液不足。補陰之藥，味勝於氣，疏氣之品，辛多於甘，獨顧一邊，猶恐顧此失彼，姑選酸甘辛芳之品。</p>
<p>白芍（吳萸炒）　川斛　橘葉紅　川楝子　蜜炙香櫞　沉香化痰丸（錢半）　青皮　木瓜　上沉香　黑豆衣　小溫中丸（錢半）　脾約麻仁丸（錢半）</p>
<p>（案140）肝脾失和，濁滯內阻，且用疏中通腑法。</p>
<p>川樸　青皮　制軍　香附　光杏仁　黑山梔　枳實　全瓜蔞　花檳　蔻仁　摩沉香（三分，沖）</p>
<p>（案141）得汗不暢，大便未行，邪積無路可泄，再為雙解。</p>
<p>麻黃　青皮　石膏　橘紅　前胡　連皮檳　桔梗　牛蒡　薄荷　黑山梔　枳實　滾痰丸（七分）</p>
<p>（案142）腹脹又盛，而且作痛，再從太陰陽明疏通。</p>
<p>老桂木　川樸　香附　草果皮　烏藥　桑枝　連皮檳　木香　枳實　川木通　控涎丹　溫化丸（錢半）</p>
<p>（案143）頭暈已平，烘熱未退，再為清養以濡之。</p>
<p>炙龜板　白芍　丹皮　石決明　天麻　桑枝　羚羊角　蒺藜　茯神　煅龍骨　鉤鉤　竹茹</p>
<p>（案144）脘腹攻痛，而為下痢，是暑濕挾積，交阻脾胃也。</p>
<p>川樸　枳實　生軍　烏藥　木香　紅曲　花檳　楂炭　乾薑　茯苓　通草</p>
<p>（案145）肝風夾痰，內阻而蒙機竅，恐成症。</p>
<p>半夏　鉤鉤　白石英　金沸草　制蠶　鐵落　鬱金　竹黃　薄橘紅　煨天麻　決明　礞石滾痰丸</p>
<p>（案146）衛氣翕開不和，遂為寒熱，口膩痰多，舌色黃厚，口渴喜飲，心悸眩暈。臟真亦虧，邪濕留戀，用藥有顧此失彼之難，病勢無一掃而清之效矣。</p>
<p>當歸炭　竹茹　桑子　半夏　秦艽　鉤鉤尖　丹參炭　青蒿　香櫞附　橘紅　蔻仁　和中丸</p>
<p>（案147）先為面浮，繼漸入下，腹亦滿，二便少，風襲於上，滯傷於下。且用開泄，必得汗便俱暢，庶免喘急。</p>
<p>浮萍　防風　前胡　連皮檳　赤豬苓　川通草　枳殼　上川樸　光杏　冬瓜皮　澤葉瀉　舟車丸</p>
<p>（案148）寒甚極，熱壯熾，似屬瘧象。第熱退不盡，無汗咳嗽，風邪伏邪同病也。</p>
<p>浮萍　前胡　薄荷　柴胡　鬱金　象貝　葛根　光杏　豆豉　酒芩　花檳　黑山梔　滑石</p>
<p>（案149）瘧久加以浮腫，邪濁傷脾之故，恐變驚久成臌。</p>
<p>青皮　草果　桑皮　淡芩　桑葉　赤茯苓　花檳　川樸　姜皮　豆豉　青蒿　冬瓜皮</p>
<p>（案150）恙延八月，不寒連熱，兩足為甚，咳嗽痰紅，汗泄不暢，痰穢噴人。是風戀日久，內蘊化熱蒸痰灼肺，肺絡暗傷也。</p>
<p>炙紫菀　生石膏　淡芩　薄荷　連皮檳　冬瓜子　象貝母　粉前胡　橘紅　丹皮　摩犀尖　摩鬱金（各三分）</p>
<p>（案151）便血日久，用補中歸脾，而覺氣墜多泄者，是脾氣大傷，統攝無權也。</p>
<p>西黨參　大生地　白芍　升麻　訶子肉　御米殼　大有耆（防風根炒）　野於術　淡芩　柴胡石榴皮　駐車丸、十灰丸（各錢半）</p>
<p>（案152）有夢而遺，心火先動，背脊作痛，精虧之象。</p>
<p>青囊斑龍丸、荊公妙香丸各（二錢）　大補陰丸（二錢）　分上下午服，蓮心湯下。</p>
<p>（案153）汗便雖得，邪未盡達，所以熱勢不退，而尚煩懊也，再從肺胃清泄。</p>
<p>射干　鬱金　豆豉　黑山梔　竹茹　牛蒡子　淡芩　前胡　橘紅　桔梗　連翹　鮮薄荷（洗打，四錢）</p>
<p>（案154）小產之後，脘腹鼓脹，胎墮之後小瘥，繼則動氣，以致腹又膨脹，惟慮成痼不治。</p>
<p>老桂木　草果皮　連皮檳　川樸　延胡　枳實　商陸</p>
<p>（案155）蒂丁下垂，恙後當此，是氣火上熾，陰液不足也。</p>
<p>西洋參　馬勃　淡芩　連翹　雅連　白茅根　黑山梔　元參　象貝　竹茹　丹皮　碧玉散</p>
<p>（案156）脈象揚抑不齊，中氣為痰所阻，陽不入陰。《內經》所謂胃不和也。仿黃連溫膽法。</p>
<p>姜雅連　茯苓神　秫米炭　橘紅　枳實　栝蔞　礬半夏　杜竹茹（薑汁炒）　京川貝　山梔　棗仁　滑石</p>
<p>（案157）胃司納，脾司消，納多而消遲，勞倦傷脾可知，脾屬土，濕為土氣。脈象之濡數，稍勞則溲赤，陽動則濕蒸為熱也。</p>
<p>滁菊　枳殼　通草　赤苓神　豆卷　採芸曲　鉤鉤　白蒺　萆薢　功勞葉　秦艽　穀麥芽</p>
<p>（案158）鼻漏濁涕，謂之鼻淵。此由風溫上襲而走孔竅，雖屬多年，尚宜辛散。</p>
<p>辛夷　牛蒡　桔梗　白芷　蒼耳子　蔓荊子　蔥管（一尺）　黑山梔　滁菊　蟬衣　薄荷　松羅茶　藿肥丸（二錢）</p>
<p>（案159）五更寒暑，常為寒熱，加以操勞不輟，月事不行，脈舌參之，元正固虛，邪濁尚戀。古云：鞭長莫及。此症是也。</p>
<p>當歸　桑葉枝　柴胡　茺蔚　澤蘭　加味逍遙丸（二錢）　上川樸　功勞葉　秦艽　淡芩豆豉　四制香附丸（二錢）</p>
<p>（案160）咳嗽之恙，本難速愈，況為日久，屢治屢發，治平則易，杜根則難。</p>
<p>冬瓜子　光杏　象貝　法半夏　鬱金　桑皮　枇杷葉　甜葶藶　前胡　橘紅　薑汁炒竹茹</p>
<p>（案161）得汗熱退，汗止熱起，的是濕邪熏蒸之故，有娠當此，最易增變。</p>
<p>黑山梔　子芩　佛手　上川樸　桑葉　滑石　豆豉　腹皮　桔梗　通草　連蒂荷葉（半張）</p>
<p>（案162）獨熱不寒，病在陽明。陽明為中州之地，出入最易，恐變驚閉。</p>
<p>黑山梔　花檳　上川樸　淡芩　桑葉　紫蘇　豆卷　枳實　通草　滑石　佛手</p>
<p>（案163）經事愆期，且兼寒熱攻痛，而見右脈大者，先治其標。</p>
<p>全當歸　柴胡　薄荷　甘菊　延胡　赤芍　桂枝（四分）　茯苓神　桑葉　秦艽　澤蘭　穀芽　茺蔚</p>
<p>（案164）積勞為本，邪濕為標，標急於本，治標為主，治本緩圖。</p>
<p>獨活　豆卷　甘菊　蘇葉梗　上川樸　蠶沙　枳殼　秦艽　通草　桑葉枝　前胡</p>
<p>（案165）瘧邪未楚，因勞復發，當從少陽疏達。</p>
<p>葛根　柴胡　草果　蘇葉梗　川樸　獨活　秦艽　枳實　桑葉　新會皮　延胡</p>
<p>（案166）風邪襲肺，咳嗽痰黏，症勢甫起，疏達為法，無如素有血症，恐其引血上乘。</p>
<p>荊芥　前胡　橘紅　冬瓜皮　光杏仁　紫菀　牛蒡　象貝　半夏　桑葉皮　薄荷頭　竹茹</p>
<p>（案167）先痢後熱，表裡俱病，勢非輕淺，恐成慢驚。仿通則不痛，通因通用之法。</p>
<p>煨葛根　荊芥炭　淡芩　枳殼　使君子　赤茯苓　熟砂仁　紅神麯　青皮　赤芍　摩沉香、摩木香（各三分）　加楂炭末（五分）</p>
<p>（案168）似瘧乃少陽之病，左腹微滿，絡間欲假氣血痰滯而成癖矣，癖則臌，虛則損。</p>
<p>青蒿　秦艽　淡芩　全蘇　枳殼　通草　豆豉　川樸　黑山梔　桑葉　佛手　青皮、花檳（各六分，沖）</p>
<p>（案169）初瘧日久，又加浮腫，便紅，標本同病，恐有腹滿喘急之險。</p>
<p>連皮檳榔　柴胡　荊芥炭　淡芩　血餘炭　青皮　連皮草果　荷蒂　葛根炭　豆豉　冬桑葉　楂炭</p>
<p>（案170）瘧變為痢，復又傷風，致增咳嗽身熱，且從太陰陽明治之。</p>
<p>煨葛根　荊芥　楂炭　桔梗　橘紅　枳實　桑葉　防風根　烏藥　茯苓　前胡　摩花檳、摩木香（各三分，沖）</p>
<p>（案171）初瘧月餘，汗少加咳，是復感新風襲肺也。</p>
<p>麻黃　光杏　製半夏　前胡　藿梗　公丁香　川樸　桑葉　草果仁　橘紅　楂炭　冬瓜皮</p>
<p>（案172）伏暑新風夾痰，以致身熱咳逆，腹脹而嘈，汗泄不暢。</p>
<p>麻黃　光杏　牛蒡子　前胡　橘紅　草果仁　淡芩　枳實　連皮檳　川樸　鬱金　冬桑葉</p>
<p>（案173）瘧方三次，遽爾堵截，則邪伏濁遏，趁其外不停作，內發隱癖，以致腹痛攻撐，寒熱似瘧。擬芳香宣泄。</p>
<p>秦艽　上川樸　豆卷　全蘇　枳殼　赤芍（吳萸三分，同炒）　香附　沉香　連皮花檳　摩烏藥　摩青皮（沖）</p>
<p>（案174）獨熱不寒，咳嗽嘔吐，外風引伏邪，病在肺胃二經，如入厥陰，恐變喘驚。</p>
<p>薄荷　前胡　光杏　象貝　楂炭　菔子　橘紅　桑葉　豆豉　鬱金　牛蒡　枳殼</p>
<p>（案175）寒熱已退，便泄咳嗽，詢知過饕所使，仿金匱移食例治。</p>
<p>豆卷　沉香曲　烏藥　煨木香　麥芽　新會皮　赤苓　連皮檳　通草　雞內金　青皮　陳香櫞</p>
<p>（案176）寒熱而見咳嗽，必涉於肺，肺司皮毛，似可假汗一達，然右脈澀而不暢，誠恐昏喘之變。</p>
<p>豆豉　麻黃　枳殼　前胡　辰滑石　光杏仁　象貝　菔子　鬱金　薄荷　冬桑葉</p>
<p>（案177）瘧來不一而作，無非伏邪逗留於少陽陽明之間，寒既戰慄，熱若燎原。擬桂柴白虎意。</p>
<p>桂枝尖　肥知母　柴胡　草果　酒炒芩　秦艽　花檳　蘆根　淡豆豉　紫蘇　桑葉</p>
<p>（案178）惡寒已罷，脈數亦靜，至於邪去正傷，勢所當然，猶乎賊到蹂躪，賊去自然修葺完固，正所謂醫家如兵家耳。</p>
<p>丹參（二錢）　桑子（二錢）　桑枝（五錢）　黑豆衣（三錢）　穀芽（四錢）　青蒿（二錢）　陳皮（一錢）　秦艽（三錢）　歸身炭（二錢）　淮於術（一錢）　竹茹（一錢）　香櫞（一錢）　枳殼（一錢）</p>
<p>（案179）寒熱不慎口腹，致為遍體腫脹，已見咳嗽，喘息難免。</p>
<p>青蒿（錢半）　麥芽（三錢）　草果（五錢）　建曲（二錢）　澤蘭瀉（各二錢）　桑皮（三錢）　桑葉（一錢）　花檳（錢半）　上川樸（七分）　赤苓（二錢）　桂枝（五分）　生苡仁（四錢）　冬瓜子皮（各五錢）</p>
<p>（案180）胃為六腑之海，以通為用。胃病則通達自失，無怪其納減如前，胸似砥柱也。</p>
<p>烏藥　薤白　鬱金　香附　全瓜蔞　焦楂　上川樸　枳殼　沉香　麥芽　溫化丸（二錢）</p>
<p>（案181）便血不已，治宜補中歸脾，冀其引血歸經也。</p>
<p>於白朮　升麻　白茯苓　柴胡　十灰丸　黨參　當歸頭　白芍　大有耆　藕節　石榴皮</p>
<p>（案182）便行溏水為多，脘腹作痛，一日數行，再當疏胃運脾。</p>
<p>川樸　茯苓　花檳　廣生軍　臺烏藥　寸金丹　木香　枳實　煨姜　淡吳萸　煨肉果</p>
<p>（案183）大汗得而熱退去，邪達故也，穢惡仍而舌尚膩，濁未化耳，還恐增變。</p>
<p>豆卷　腹皮　通草　竹茹　佛手　子芩　上川樸　黑山梔　桑葉　佩葉　摩烏藥、摩檀香（各三分，沖）</p>
<p>（案184）便血不止，圊數不減，尾閭酸，舌黃，納減。想其不但脾胃之濕濁未化，抑且督陽衰罷也，當更葉氏法出入。</p>
<p>毛鹿角（三分）　益智（二錢）　茯苓（三錢）　車前子（三錢）　樗白皮（一錢）　臟連丸　菟絲餅（一錢）　白芍（一錢）　五味（四分）　禹餘糧（三錢）　荷葉蒂</p>
<p>（案185）寒熱咳逆，今恰七日，胸脅脘痛腹板，痰不爽而見紅，脈形滑數，舌色灰黃。此伏暑為新風引發與宿傷同病，防其昏喘之變。候商。</p>
<p>金沸草　竹茹　豆豉　橘紅絡　薄荷　象貝　鬱金　牛蒡子　前胡　紫菀</p>
<p>另：摩烏藥　三七　生軍　三味沖。</p>
<p>（案186）咳嗽載余，近加身熱，是濁邪留戀，肺氣已傷，頗有入損之慮。</p>
<p>光杏仁　前胡　丹皮　白前　桑葉　冬瓜皮　半夏　蜜炙麻黃　桑皮　石膏　象貝　橘紅　摩鬱金（三分）</p>
<p>（案187）初診：脘部痞窒則通體掣痛，正所謂胃為十二經之海，諸經皆稟氣於陽明也。</p>
<p>炒乾姜　枳實　川樸　金狗脊　左秦艽　香附　連皮檳　烏藥　滁菊　桂枝尖　溫化丸（二錢）　桑枝</p>
<p>二診：中氣不宣，諸氣皆痹。</p>
<p>金沸草　枳實　乾薑　烏藥　桑枝　連皮檳　赤茯苓　川樸　秦艽　香附　薤白</p>
<p>三診：胃氣失和，脾氣窒痹，是以遍體掣痛，夜寐不安。</p>
<p>製半夏　桂枝尖　茯神　碧玉散　當歸　佩葉　狗脊　威靈仙　左秦艽　川斷　夜合花　桑枝　獨活</p>
<p>（案188）濕熱內蘊，為肝火交蒸，其勢益甚，所以遍發疹塊，已歷十載，圖治非易。</p>
<p>羚羊角　丹皮　蓮子肉　生山梔　忍冬藤　茯苓　鮮生地　大貝　白蘚皮　桑枝　碧玉散　防己</p>
<p>（案189）初診：年近天命，經事未停，甚則兩旬一至，此度百日而行，不但經行如注，且有隱紫結塊，良由氣生火，火勢動徹，血海不固也，再延防變。</p>
<p>炙龜板　於術　淡芩　黃柏　藕節　血餘炭　陳阿膠　白芍　蒲黃　丹皮　樗皮　十灰丸</p>
<p>二診：經漏漸止，脈常帶數，數則為熱，熱從火生，正所謂血之動由乎火也。再擬清養之中佐以益氣，氣足而脾可固攝矣。</p>
<p>西洋參　玄武板　茯苓　磁石　淡芩　石榴皮　陳阿膠　野於術　白芍　牡蠣　蓮鬚　柏子仁</p>
<p>三診：經漏後甚，脘痞氣逆，脈形左大於右，舌苔淡黃而膩，的系濁阻胃中，升多降少，肝氣肆橫，脾乏統攝也。</p>
<p>製半夏　陳皮　茯苓　豬苓　姜皮　砂仁　佩葉　大腹皮　白芍　烏藥　龜板　藕節　檀香</p>
<p>四診：漏紅雖止，脈見滑數，數有熱，滑有濕濁，顯系所蘊之濕濁尚未盡化，虛則肌表失護，未免輻輳新邪也。</p>
<p>南沙參　天麻　紫石英　龜板　干佩葉　桑葉　石決明　茯神　制茅朮　磁石　白蒺藜　鉤鉤</p>
<p>五診：脈症稍佳，立方似合，再從前意出入。</p>
<p>制茅朮　於術　大腹皮　滑石　白檀香　半夏　桑枝　炙龜板　陳皮　干佩葉　藕節　香穀芽　磁石</p>
<p>（案190）血崩之後，遍體黃浮，股腹攻痛，便瀉溲澀，是脾傷肝橫，土乏堤防，水濕氾濫於脾也。</p>
<p>老桂木　川樸　連皮檳　木通　姜苓皮　香附　草果仁　枳實　嫩桑枝　商陸　冬瓜皮　琥珀丸、舟車丸（各錢半）</p>
<p>（案191）氣機未和，濕濁內阻，當從太厥二陰立方。</p>
<p>上安桂　川斷　連皮檳　枳實　木通　冬瓜皮　制香附　桑枝　帶皮苓</p>
<p>另：上血珀（三分）　生黑醜（四分）　沉香（二分）　巴豆殼（三分）　研末服。</p>
<p>（案192）恙延月餘，始為遠途傷脾，兼感風邪，以致足腫與咳嗽並駕齊至，喘不得已，高年恐有腫滿之變。</p>
<p>金沸草　苓皮　桑葉　前胡　白芍　舟車丸（錢半）　淮牛膝　苦葶藶　蘇子　鬱金　橘紅　半夏　達痰丸（一錢）</p>
<p>（案193）汗雖得，而咳腫未減，是風水夾濁，相搏於肺脾之間也。</p>
<p>金沸草　前胡　草果皮　半夏　冬瓜皮　川樸　姜皮　老桂木　豬苓　連皮檳　枳實　舟車丸　橘紅</p>
<p>（案194）得汗不暢，大便溏泄，熱勢起伏，咳嗽煩懊。乃邪熱夾濕，交蒸肺胃也。</p>
<p>生石膏　枳實　石菖蒲　前胡　豆豉　桔梗　鮮薄荷　淡芩　花檳榔　連翹　木香　射干</p>
<p>（案195）大便雖行，脘腹未舒，音啞不持，舌黃底絳。邪熱夾濕，濕聚成痰，再從肺胃清泄。</p>
<p>生山梔　淡芩　川雅連　蟬衣　元參　淡射干　石菖蒲（三分）　象貝　馬勃　光杏仁　桔梗　竹茹　碧玉散</p>
<p>（案196）經行落後，色殷而痛，舌苔黃膩，脈數而鬱，是氣滯血熱，蒸濕成痰也。</p>
<p>半夏　淡芩　川雅連　陳皮　丹皮　延胡　麥芽　黑山梔　花檳　干佩葉　香附　降香　莪朮</p>
<p>（案197）寒熱屢發，面浮，腹脹。濕邪留戀，不食脾傷不運也。</p>
<p>青蒿　淡芩　秦艽　川樸　桑枝　連皮檳　草果　豆豉　枳實　滑石　雅連　冬瓜皮</p>
<p>（案198）濁邪阻痹肺胃，治宜疏中通腑。</p>
<p>金沸草　前胡　枳實　川樸　橘紅　全瓜蔞　連皮檳　半夏　香附　鬱金　蔻仁　滾痰丸（一錢）</p>
<p>（案199）寒熱咳嗽，面色黃浮，是伏暑新風合病，再延防驚。</p>
<p>麻黃　光杏　金沸草　前胡　草果皮　川樸　防風　象貝　炒枳殼　薄荷　摩鬱金　橘紅</p>
<p>（案200）脫力夾邪，身熱汗少，面色黃浮，舌苔厚膩，濁戀太陰，太陰屬脾，勞則傷脾，一定之理。</p>
<p>制茅朮　白朮　苓皮　胡黃連　淡芩　滑石　大豆卷　秦艽　黑山梔　炒竹茹　桑葉　青蒿</p>
<p>（案201）舌光而碎，陽邪也；色晦而青，陰徵也，良由風熱為痰所遏，驚脹兩字竊恐難免。備商。</p>
<p>牛蒡　前胡　九節菖　豆豉　象貝　達痰丸（三分）　薄荷　鬱金　天竹黃　連翹　光杏　靈寶如意丹（三分）</p>
<p>（案202）伏邪晚發，獨熱不寒，舌色乾白，脈象濡數，陽明之症，逆傳最易。</p>
<p>葛根　豆豉　佛手　薄荷　枳實　前胡　桑葉　光杏　花檳　鬱金　紫金錠（二分，先服）</p>
<p>（案203）寒熱已退而納食不加，舌有灰色，小溲混濁，餘邪未清也。</p>
<p>豆卷　法半夏　赤白芍　煅牡蠣　滑石　生熟穀芽　丹參　秦艽　方通草　陳廣皮　淮麥</p>
<p>（案204）寒熱既系外邪，何得脈反左大，良由勞碌，濕滯朋比則氣分不舒，脈道不揚也。</p>
<p>上川樸　秦艽　桑葉枝　豆豉　前胡　藿香梗　花檳　滑石　枳殼實　半夏　蘇葉　保和丸</p>
<p>（案205）痢數雖減，而又咳熱，喻氏逆挽法本因先熱後痢而設，痢仍未止。擬假其挽逆之力，以望轉機，否恐慢驚接踵耳。</p>
<p>南沙參　羌獨活　柴前胡　赤芍炭　赤苓皮　大撫芎　薄荷　枳實炭　槐花炭　紅神麯　香連丸（八分）　回春丸（二粒）　楂炭</p>
<p>（案206）因瘧強截，內傷脾土，熱蘊膚浮色黃，濕熱內戀，恐其入損。</p>
<p>青蒿　桑葉枝　淡芩　豆卷　滑石　赤苓　通草　採芸曲　秦艽　花粉　萆薢</p>
<p>（案207）症勢稍減，經仍未行，舌裂未滿，總屬損怯根萌。</p>
<p>全當歸　赤白芍（桂枝三分，同炒）　白薇　桑葉枝　黑豆衣　玫瑰花　粉丹皮　茺蔚子　秦艽　柴胡　功勞葉　香附丸　逍遙丸</p>
<p>（案208）每至黎明，即覺脘阻逆脹，且尚噦惡，是肝與胃氣火上熾也。</p>
<p>半夏　淡芩　川雅連　黑山梔　橘葉　藿梗　香附　連皮檳　陳皮　沉香（摩沖）</p>
<p>（案209）瘧意未清，勞力引發，以致膚色黃浮，小有寒熱也。</p>
<p>柴胡　川樸　川斷　草果仁　金狗脊　滑石　秦艽　苓皮　枳殼　冬瓜皮　桑葉枝　牛膝</p>
<p>（案210）此次天癸堪差如舊，痛亦迅減，誠美事也。如能逐日向安，則天上玉麟，豈云不到人間也。</p>
<p>全當歸（小茴香五分，同炒）　延胡　桂木　制香附　赤白芍　寧坤丸（一粒）　五靈脂　川芎　砂仁　月季花　臺烏藥</p>
<p>（案211）瘧久不食，面色黃浮，是濁邪留戀於脾胃也。</p>
<p>制茅朮　川樸　青蒿　豆豉　秦艽　竹茹　冬瓜皮　香附　枳殼　桑葉　苓皮　滑石</p>
<p>（案212）舌光多裂，陰分虛也，陰虛則不斂陽而心煩不寐。</p>
<p>南沙參　枳殼　茯苓神　首烏藤　棗仁炭　焦於術　焦秫米　法半夏　新會皮　桑葉枝　合歡皮</p>
<p>（案213）涼營化濕，血淋已減，白濁未止，痛必有火，脈沉尺大，古人治法不外痛為不通，病日已久，當參脾胃，《經》旨所謂中氣不足，溲便為變是也。</p>
<p>小薊炭　生白朮　碧玉散　澤瀉　威喜丸（錢半）　鮮南沙參　川萆薢　海金砂　豬白苓　黑山梔　二妙丸　炒白扁豆</p>
<p>（案214）今雖胸脅腹痛得減，然咳嗆氣逆不平，臍上按硬，手不可近，喉間痰聲，宛如拽鋸，舌苔淡黃而干，滿布黴黑斑點，此係邪積化熱，蒸濁成痰，痰生於胃，而貯於肺，肺胃本降而反升矣，如蒙入膻中，則昏閉可立而待，擬方候商。</p>
<p>生山梔　橘紅絡　桑皮　牛蒡　象貝　竹茹　前胡　連翹　紫菀　鎊犀尖　枳實　葶藶　茅根　薄荷　礞石滾痰丸（三錢）</p>
<p>（案215）先為胃痛，近又寒熱嘔惡，汗少，脈滑而數，當從少陽厥陰疏和。</p>
<p>青皮　桑葉　蘇葉　摩花檳（三分）　炒枳實　雷丸　鶴蝨　豆豉　川樸　淡吳萸（雅連三分，同炒）　使君子</p>
<p>（案216）壯年遺泄，不為急務，又因咳嗽食少，是濁痰內阻，由胃及肺，為之嗽也，且從此立方。</p>
<p>蘇子　白朮　象貝　製半夏　潼沙苑　橘紅　桑皮　前胡　牡蠣　白茯苓　檀穀芽　桑枝</p>
<p>（案217）血轉紫殷，較前似減，肝脾似有統藏之意，從前法出入投之。</p>
<p>西黨參　於術　槐米　樗白皮　芡實　陳阿膠　大有耆（防風炒）　白芍　牡蠣　石榴皮　藕節</p>
<p>（案218）血輕復重，陰絡受傷，童子當此，舍栽培後天一法，別無他求。</p>
<p>大生地　白芍　於術　訶子　樗白皮　藕節　西潞黨　槐米　上耆　牡蠣　十灰丸</p>
<p>（案219）獨熱不寒，病在陽明，逆傳心胞則易昏厥，擬梔豉湯加減。</p>
<p>黑山梔　象貝　鬱金　枳殼實　牛蒡子　川樸　淡酒芩　豆豉　薄荷　苦桔梗　滑石塊　菖蒲</p>
<p>（案220）寒熱已退，腹痛亦減，然日昨之勢有似破竹，今日之象形似大。兵家恐詐，病家慮伏。古人云，知己知彼，百戰百勝，能從此參之，思過半矣。</p>
<p>豆卷　秦艽　山楂　枳殼實　青皮片　木香導滯丸　神麯　花檳　佛手　嫩前胡　方通草　香砂枳實丸</p>
<p>（案221）病緒多端，本病則氣鬱血虛，標病則寒濁為多，且用逍遙化氣成方，然不若安養怡情為上策耳。</p>
<p>上川樸　香附　烏藥　前胡　金沸草　沉香（四分）　桂枝　蘇子　光杏　橘紅　廣鬱金（八分）</p>
<p>（案222）病癲無有不傳心肝，豈能免其痰火。火之性上炎，痰之性瀰漫，癲之所以作也。</p>
<p>當歸龍薈丸（二錢）　通便；清氣化痰丸（錢半）滌痰；硃砂安神丸（錢半）　安神。</p>
<p>（案223）頭搖目竄，兩脈似絲，便泄五次，哭聲呀呀，脾元大傷，恐猝然風動厥脫。</p>
<p>老臺參鬚　煨木香　茯苓神　煨天麻　川貝母　土炒於術　淮山藥　白蒺藜　煨訶子　回春丸</p>
<p>（案224）瘧痢並行，經腑同病，仍屬伏邪，濕熱積滯互相為患，暫假喻氏逆挽法，望其熱退痢止，方免慢驚。</p>
<p>羌獨活　神麯　柴胡　赤苓　撫芎　前胡　枳殼　苦桔梗　薄荷　楂炭</p>
<p>摩木香（五分）　摩花檳（五分），二味沖。</p>
<p>（案225）截瘧早止，致為力乏熱戀，不惟邪濕未清，抑且積勞而發也。</p>
<p>青蒿　萆薢　豆卷　桑葉枝　全蘇　滑石　茯神　川樸　淡芩　左秦艽　方通　蠶沙</p>
<p>（案226）瘧象略減，然熱退未清，力不能復，前法佐以泄化，方合病機。</p>
<p>香青蒿　左秦艽　白蒺藜　採芸曲　連皮檳　菊花　淡豆豉　川萆薢　蠶沙　淡酒芩　桑葉枝　川樸</p>
<p>（案227）丹溪云，上升之氣皆出於肝，肝固宜升，升過則肺胃不降矣。</p>
<p>金沸草　橘紅絡　鬱金　大腹皮　合歡花　摩沉香　川楝子　白芍　香櫞　砂仁殼　檀穀芽　蘇羅子（摩）</p>
<p>（案228）瘧久不退，遍體萎黃，邪與濕滯一無出路，恐藥不足恃。</p>
<p>上川樸　豆豉　陳皮　萆薢　通草　連皮檳　秦艽　淡芩　滑石　全蘇　茵陳　炒桑枝</p>
<p>（案229）濕熱交蒸，痰氣穢臭，苔溲俱黃，乃肺癰之萌芽。</p>
<p>生苡仁　綠豆衣　大貝母　滑石　方通　海浮石　生扁豆　光杏仁　甜葶藶　桑皮　赤苓　海金砂</p>
<p>（案230）似瘧加咳，兩感於邪所致，一在足少陽，一在手太陰，且先合治。</p>
<p>柴前胡　桑葉枝　光杏　橘紅　秦艽　法半夏　蘇子葉　上川樸　豆豉　象貝　牛蒡　酒芩</p>
<p>（案231）脘腹撐脹痞痛，脈沉屬氣鬱濁聚，女子以肝為先天，胃宜下降，且以溫通疏達。</p>
<p>陳香櫞　香附　沉香曲　摩木香　生熟苡仁　帶皮檳　吳萸　檀穀芽　摩烏藥　菖蒲　青陳皮</p>
<p>（案232）瘧痢兩月，形消肉脫，邪積交阻，藥焉能恃，勉方以望轉機萬於一也。</p>
<p>南沙參　青蒿　楂肉　神麯　白芍（吳萸炒）　於術　赤苓　當歸炭　砂仁</p>
<p>另：陳松花（三分）　煨木香（五分）　五穀蟲（五分）　炒澤瀉（五分）　火腿骨（七分）　五味共研末，粥糊為丸。</p>
<p>（案233）咳不離乎肺，非外感即內傷。為日已久，邇來加甚，脈浮而滑，痰色帶紫。想風邪久蘊化熱蒸痰，再從肺胃清泄。</p>
<p>麻黃　前胡　半夏　生石膏　橘紅　冬瓜子　光杏　象貝　桑葉　牛蒡子　薄荷</p>
<p>（案234）胃氣夾濁，脘痞嘔惡，為日已久，恐成反胃。</p>
<p>公丁香　延胡　代赭石　苓皮　前胡　廣藿香　橘紅　金沸草　半夏　上川樸　枳實　蔻仁　溫化丸（二錢）</p>
<p>（案235）恙延兩月有餘，寒熱無序，近覺大腹膨脹，舌苔黃膩。乃少陽之邪併入陽明，脾氣失於健運也。</p>
<p>製半夏　豆豉　草果皮　淡芩　川通草　冬桑葉　連皮檳　川樸　江枳實　滁菊　香青蒿　溫化丸</p>
<p>（案236）咳血有年，近加音啞，內熱是邪熱逼肺，肺氣大傷也。</p>
<p>元參（三錢）　象貝（三錢）　生山梔（三錢）　生石膏（七錢）　鮮薄荷（一錢）　桔梗（一錢）　射干（一錢）　知母（錢半）　竹茹（錢半）　全蟬衣（一錢）　鎊犀尖（五分）　淡芩（錢半）</p>
<p>（案237）痢成休息，脈數內熱，咳嗽痰白，得汗不暢，是濕熱不化，復感新風也。</p>
<p>煨葛根　炒防風　茯苓　枳實　橘紅　木香　川雅連　制川樸　前胡　槐米　砂仁　花檳</p>
<p>（案238）寒熱已輕，咳嗽不平，痰色已濃，舌苔黃膩，濁邪不化，肺失通降之權也。</p>
<p>金沸草　生石膏　前胡　桑葉　赭石　淡芩　竹茹　冬瓜子　馬兜鈴　象貝　薄荷　橘紅　紫菀</p>
<p>（案239）內熱漸退，咳嗽不減，音啞氣逆，痰色濃白。是邪熱灼肺，肺陰已傷，本宜清養，無如近加腹痛便泄，是腸有停積，脾運少權也。</p>
<p>射干　連翹　蟬衣　玉泉散　桔梗　煨木香　牛蒡　前胡　枳實　連皮檳　竹茹　木香　導滯丸（二錢）</p>
<p>（案240）寒熱雖退，胃濁未清，胃為六腑，以通為主。</p>
<p>川樸　鬱金　半夏　制軍（後下）　花檳尖　枳實　香附　桑枝　淡芩　草果仁　摩烏藥、摩鬱金（各四分）</p>
<p>（案241）寒雖陣作，熱退不清，汗出遍體，咳嗽痰白，面有浮意，兩足亦腫。邪蘊不達，脾傷不運，肺感新風，合而為病也。</p>
<p>金沸草　川樸　枳殼　冬瓜皮　粉前胡　豬苓　草果皮　桑葉　牛蒡　老桂木　薄橘紅苓皮</p>
<p>（案242）歸柴已退寒熱，內虛可知，腹中常覺不和，氣血並病，仍從損門出入。</p>
<p>當歸　香附　茺蔚子　砂仁　桑葉枝　花檳　丹皮　延胡　五靈脂　青蒿　寧坤丸（一粒）</p>
<p>（案243）咳嗽多年，近覺哽噎，脘部作痛，嘔惡便泄。寒邪夾濁交阻肝胃，防其成噎。</p>
<p>金沸草　前胡　半夏　橘紅　控涎丹（三分）　杜蘇子　苦葶藶　鬱金　木香　蔻仁　乾薑　枳實　杵頭糠（三錢）</p>
<p>（案244）去夏瘧後，脘左結成一癖，攻撐氣逆，甚則咳嗆，舌黃便艱，是寒濁阻氣，氣痹血瘀，升降不利也。</p>
<p>炒乾姜　大豆卷　沒藥　香附　枳實　溫化丸（二錢）　延胡索　制茅朮　陳皮　草果　花檳　檳榔丸（二錢）</p>
<p>（案245）營虧未復，復聚濁邪，以致先為左肩膊不利，近又脈數，內熱，苔黃納少也。</p>
<p>丹參　淡芩　半夏　川雅連（乾薑同炒）　豆卷　穭豆衣　川斷　茯神　蘇葉　桑葉枝　竹茹　金狗脊</p>
<p>（案246）痘案。</p>
<p>初診：第四朝，地角稠密，又起麟坐，色雖明潤而太嬌嫩，咳嗽作嗆，穀食不多，乃心脾之毒火太甚，身中之氣血為其壅痹，不得流利，一周乳子當此，恐其漿汁不充，為半途而廢。擬方備商。</p>
<p>西洋參（錢半）　制殭蠶（三錢）　丹皮（錢半）　楂炭（三錢）　大有耆（三錢）　大生地（三錢）　川芎（五分）　前胡（一錢）　紅花（二分）　羚羊角（八分）　杭白芍（錢半）　歸身（錢半）　桔梗（四分）　紫花（錢半）　三尖湯代水。</p>
<p>二診：第七朝，莫言地角麟坐，擦靨愈大，即背部陽躋，現已擦損，漿汁甚清，皆由氣血兩虧，毒火太甚不得外越成漿，反有內陷之勢，所以煩懊不定，咳嗽音啞，不思穀食，大便溏泄，諸款畢集也，變端在爾，將奈之何？醫者之力、草木之功難以挽回，若得神功默佑，或可斡旋元吉。勉方備商。</p>
<p>西洋參（一錢）　白桔梗（四分）　白朮（錢半）　川貝（錢半）　制殭蠶（錢半）　竹茹（錢半）　生甘草（二分）　炙甲末（三分）　白芍（錢半）　茯苓（三錢）　楂炭（二錢）　燈心（三分）</p>
<p>另：上西黃（二釐）　人中黃（一分五釐）　青果炭（一分）　三味研末。</p>
<p>三診：第八朝，若論擦靨，已有六七，所有未靨之花，不過三四，漿汁雖濃，然粒數無多，不足以泄其毒火，幸而飲食覺增，便數大減，脾胃漸得生機。胃者，衛也；脾者，榮也。若得榮衛先足，內則保護宮城，外能逐毒表分，從空而化，或有望焉。候商。</p>
<p>北沙參（三錢）　白芍（錢半）　生甘草（二分）　大天冬（錢半）　炒白朮（錢半）　炒淮藥（三錢）　雲茯苓（三錢）　扁豆（三錢）　白桔梗（八分）　淡竹葉（十片）　辰燈心（三分）　清米湯代水。</p>
<p>另：上犀黃（二釐）　上濂珠（半分）　西血珀（一分五釐）　人中黃（一分五釐）　同研細末服。</p>
<p>四診：第九朝，頭頂背部漿汁漸濃，然胸腹猶屬空殼清汁，咳嗽噦嗆，咬牙音啞。乃毒火內熾充斥上下，未能盡歸花囊也，尚有擦靨之險。備商。</p>
<p>生熟地（各三錢）　西黨參（三錢）　白朮（錢半）　歸身（一錢）　楂炭（二錢）　元參（一錢）　肉果（八分）　大有耆（三錢）　杭白芍（錢半）　象貝（錢半）　制殭蠶（三錢）　竹茹（五分）　炙甲末（三分）　檀穀芽（四錢）　煎湯代水。</p>
<p>另：上犀黃（二釐）　人中黃（一分五釐）　川貝母（一分五釐）　研末服。</p>
<p>五診：十一朝，瘡至結痂，元氣大傷，其倦怠嗜臥，似乎合理，但自早至暮，通宵達旦，竟無片刻舉動，此為太過。至於不欲吸乳，但能食粥，良由鼻孔窒塞，轉氣不能故耳。論其脈象舌苔，內蘊之毒火尚熾，毒雖緩而火最迅速，易生反復，不得不預告之，抑不得不預防之。候商。</p>
<p>南沙參　人中黃　川斛　茯苓　象貝　竹茹葉　大麥冬　淮山藥　扁豆　澤瀉　竹心　綠豆煎湯代水。</p>
<p>六診：十二朝，神識頗安，似乎倦怠，幸而稍動即覺，呼之即知，從正氣衰憊而論原屬正理，惟仍不食乳，粥食減昨，乃脾胃不運，生氣不振，細以脈舌合參，現已成痂脫疕，毒火諒可外越，想無內竄之理，法當清解之中，兼以扶正。</p>
<p>北沙參　人中黃　扁豆　地丁　燈心　桔梗　大麥冬　淡竹葉　元參　象貝　茯苓　川斛　生熟穀芽　上西黃、青果炭（二味同研末服）　綠豆湯代水。</p>
<p>（案247）足兩朝，心肺二經之痘重候，色紫不鮮，神識糊迷，咳嗽身熱。風溫引動伏毒，刻下見點未齊，且先解肌透達。</p>
<p>羚羊角　鮮地　紫草　連翹　石菖　蟬衣　薄荷　摩犀角　丹皮　橘紅　桔梗　牛蒡　象貝　三尖湯代水。</p>
<p>（案248）第十朝，漿汁較昨雖濃而多，但下體仍然空殼漿清，咳嗆食少，氣短似喘，頭震咬牙，大便不實，乃氣虛不能托毒，血虛不能養木，風動火熾掣提於上，充斥肺胃也，恐其驚厥之變。備商。</p>
<p>生熟地（各三錢）　歸身（一錢）　制殭蠶（三錢）　白芍（二錢）　象貝（三錢）　肉果（一錢）　楂炭（三錢）　人參鬚（四分）　黨參（三錢）　白朮（錢半）　黃耆（三錢）　炙草（四分）　竹茹（一錢）　生熟穀芽（四錢）　煎湯代水。</p>
<p>（案249）第九朝，花已靨之八九，疕紫而厚，氣血猶可，毒火未能盡泄，本宜清解為法，但從透至今，咳嗽不平，當此立方為主。</p>
<p>冬瓜子　牛蒡子　杏仁　橘紅　地丁草　淡竹葉　馬兜鈴　桑白皮　薄荷　前胡　象貝母　金沸草</p>
<p>（案250）身熱三日，花透一朝，且用清氣解表法。</p>
<p>荊芥　蟬衣　紫草　赤芍藥　楂炭　牛蒡　筍尖（三個）　連翹　丹皮　桔梗　鎊犀尖　薄荷　橘紅</p>
<p>（案251）初診：自熱五日，花見朝半，咳嗽噴嚏，煩懊噦惡，點來細小稠密，又犯托腮忌款，形滯色紫，腹硬不便。此痘至肝肺毒火本甚，而又外感時令之風邪，內挾有形之痰滯，體小花繁，恐其無力托載，以致行漿費手。擬方候商。</p>
<p>鎊犀尖（四分，先煎）　桃仁泥（三錢）　紫草（錢半）　赤芍（錢半）　桔梗（五分）　連翹（三錢）　橘紅（五分）　廣生軍（三錢，後入）　粉丹皮（錢半）　薄荷（錢半）　歸尾（錢半）　牛蒡（三錢）　三尖湯代水。</p>
<p>二診：兩朝半，痘犯托腮，已屬不順，足底未見，勢當未齊，形色較昨雖從耳而轉淡，然大便未行，咳嗽煩懊，肝經之風邪，陽明之積滯與內蘊之毒火，充斥營衛，不得宣越也。當此重險之花，雖略奏小效，無如五齡童兒任性堅執，不但不肯服藥，抑且衣被不能著蓋，恐其內不得藥力之助，外不能調護邇適宜，致生變幻，姑再精選至要之品，不苦易服之味，仿兵在精而不在多之義。候商。</p>
<p>鮮生地（五錢）　羚羊角（一錢）　桔梗（五分）　紫草（一錢）　三尖湯代水。</p>
<p>三診：四朝半，大便雖行三次，溏而不多，肝肺之毒火稍得下泄之機，而不能挫其猖狂之勢，所以點雖從耳抬髮際，漿腳已動，似屬寒谷春回，詎意天庭擦去一處酒杯大，兩腿上面亦屬揉損，咳嗽乾噦，燔熱不退，乃先天之梟毒，胎中之伏火，充斥於內，擾亂榮衛。衛者陽氣，榮者陰血。花中最吃緊者，莫重於漿。漿乃毒火所成，而毒火全賴乎氣血之消解，氣血既為毒火沖激擾亂，自顧不暇，焉能托毒火歸囊成漿，若別處再見損殘，則狂瀾莫挽矣。候商。</p>
<p>西洋參（錢半）　大有耆（三錢）　生石膏（五錢）　制殭蠶（三錢）　桔梗（五分）　中原地（三錢）　鮮生地（五錢）　大白芍（二錢）　穀芽（三錢）　三尖湯代水。</p>
<p>四診：五朝半，大便暢行，穀食稍增，似轉一線生機，但天庭、地角、眉間、顴腮無處不損，損固不為善，苟能堆沙發臭，毒火原可外泄，而今結成血蓋，行漿無望矣。而以身體四肢視火漸淡，漿甫起，得食則咳，咳則作嗆，毒火膠固不松，氣血難以駕馭，樹小枝繁，乏力支任，八九之險浪風波難免矣。擬方候商。</p>
<p>西黨參（三錢）　西洋參（錢半）　杭白芍（錢半）　角針（一錢）　楂炭（三錢）　大有耆（四錢）　西歸身（錢半）　炙甘草（五分）　元參（二錢）　制殭蠶（三錢）　大生地（五錢）　鮮石斛（四錢）　生穀芽（三錢）　三尖湯代水。</p>

<h1>汪藝香先生醫案</h1>
<p>（案1）初診：一熱則驚，其故者何？蓋緣邪積極甚，充塞於內，閉而生風也。驚後四肢反冷，熱熾於內可知，舌苔黃厚，脈象數實，症之險重何辭？歷考古人治法，都以涼膈散泄其無形之熱，去其有形之積為主。然陽氣能宣不閉，能行不冷，由此而論，治氣亦為緊著，必得腑通表達，庶可截其駕輕就熟之路，或可不踏前轍為妙，是否商進。</p>
<p>淡豆豉（三錢）　薄荷（一錢）　鮮佛手（錢半）　牛蒡子（三錢）　鉤鉤尖（四錢，後入）　黑山梔（三錢）　連翹（三錢）　廣鬱金（二錢）　粉前胡（錢半）　達痰丸（二錢，入煎包）　大還丹（二分，待熱甚服）</p>
<p>二診：進涼膈散，腑氣雖未流通，無形之熱氣已泄，譫語稍平，煩躁亦止，熱衰十八，苔化大半，能於明日如是，方為邪敗之象，出入前議，以冀霍然。</p>
<p>大豆卷（三錢）　黑山梔（三錢）　全瓜蔞（四錢）　前胡、佛手、薄荷（各一錢半）　滑石塊（六錢）　焦枳實（錢半）　鬱金　牛蒡　荷梗　竹瀝達痰丸（一錢）</p>
<p>（案2）初診：症延十有六日，寒來不過四肢，身熱起伏，咳微不爽，從未得汗，脈來浮滑而數，舌質光紅而干。前日陡加煩躁，竟無片刻可安，的是伏邪歸入陽明，鬱蒸化熱。陽明本是多氣多血之鄉，經中氣血既為邪熱煎沸，變為多煩多躁之地。蓋胃上覆肺，迫近心包，此處既為邪熱所交迫，無怪其勢益甚焉。如再進一層則不堪設想矣。姑擬白虎湯一法，救肺之品亦寓其中矣。</p>
<p>生石膏（八錢）　生山梔（三錢）　天冬（三錢）　茯神（三錢）　夜交藤（三錢）　阿膠（三錢）　肥知母（三錢）　玄參（三錢）　淡芩（錢半）　生炙草（各五分）　百合心（五錢）</p>
<p>二診：煩躁又輕於前，今日脈象不靜，腹痛時作，臍下膨滿，舌苔黃而膩，中心一條光裂，乃濕溫化熱，分而後合。熱則陰分受灼，久則木橫乘土，脾胃雖皆屬土，大腹乃脾土所主。養陰泄熱，抑木和土乃一定章程。</p>
<p>川連（四分）　大豆卷（三錢）　北沙參（三錢）　煨木香（七分）　白芍（錢半）　茯苓神（各二錢）　淡黃芩（錢半）　冬桑葉（錢半）　白石英（二錢）　大腹皮（三錢）　香附（三錢）　臺烏藥（錢半）　杜竹茹（錢半）　戊己丸（一錢）</p>
<p>三診：大便數行，似可推陳致新，刻下不但腹痛未除，而臍上更且發熱，而兼身熱，舌心光裂今布淡黃，此無他，定由陽明之宿垢未楚，太陰又招新風。風為無形之邪，首必襲肺，肺令人咳，咳甚則身熱耳，還慮驚喘之變。</p>
<p>荊芥　枳殼　桔梗　蟬衣　橘紅　桑葉　前胡　象貝　竹茹　蘇子　牛蒡　神麯</p>
<p>四診：病中加咳既非本病，實由新感所致，雖未起床出幃，而虛則衣被之間亦可冒風。風性鼓盪，為百病之長。所以陡加咳嗽，身熱復甚，非散不可，非汗不解，且不宜緩，正所謂無糧之師，利於速戰耳。</p>
<p>南沙參　麻黃　荊芥　象貝　鬱金　橘紅　牛蒡子　前胡　桔梗　光杏仁　枳殼　竹茹</p>
<p>（案3）初診：癉瘧之濁邪本未盡徹，復因感寒，與素有之肝氣併發，犯胃侮脾，無所不為，是以陡為上嘔下泄，寒熱腹痛，不一而至也。恙後久虛，恐其不支而變。</p>
<p>廣藿香　川樸　烏藥　淡吳萸　制廣軍　新會皮　蘇梗　香附　枳實　連皮檳　白蔻仁</p>
<p>另：上瑤桂（一分）　上沉香（二分）　巴豆殼（二分）　生黑醜（二分）　研末先服。</p>
<p>二診：《經》曰：用藥如用兵，應戰則戰。昨日宛如敵寇圍集，勢不可緩，非大將長驅攻伐，焉能攻出重圍。必待敵人不得奔散，方可直走坦道，病勢自然告退，但餘氣尚甚，宜肅清為妥。</p>
<p>製半夏　藿梗　淡吳萸　香附　連皮檳　摩沉香（沖）　煨木香　廣皮　煨草果　枳實　制廣軍</p>
<p>三診：熱勢雖和，腹痛不已，連及腰脅，欲圊不便，舌色灰黃，乃濁滯內阻，氣遂窒痹，迫入於橫絡之間也。肝性剽悍，恐其肆橫無制，為暴厥之變。候商。</p>
<p>青皮　香附　乳香　草果仁　連皮檳　橘皮　延胡　川樸　木香　淡吳萸　上沉香　枳實</p>
<p>備急丸（二分）　溫化丸（二錢）　二味和先服。</p>
<p>四診：《經》云：藥與病竟如對待，寒宜溫，食宜消，窒滯宜通。此是寒滯阻氣，阻痹不便，以溫、化、通三法並行，得暢便數次，宿垢頓下，庶能腹痛大減，黃苔半化，脈象宣揚，正是陽明主腑，以通為用。況今氣道雖曰：無論虛實皆貴乎通暢，而在實面尤甚，昔賢早已定例。刻下余濁未楚，氣機未宣，還宜疏化，毋用通劑。</p>
<p>制茅朮　川樸　烏藥　枳實　香附　半夏　木香　連皮檳　制軍　陳皮　小茴　摩沉香（三分）　摩青皮（四分，沖）</p>
<p>（案4）初診：邪痧一候，遍體色紅，如塗胭脂，邪熱分泄，但點粒不清，面部色淡未足，咳痰不爽，煩躁神糊，滿口碎腐，汗瀉不暢，脘腹板硬而痛，大便溏泄不實，脈濡滑數，舌尖布刺，乃邪不外達，積難下化，化熱蒸痰，由肺胃而下趨大腸也。泄則傷氣，恐無力托載，邪從內走，為昏閉之變。</p>
<p>黑山梔　豆豉　連翹　淡芩　廣生軍　前胡　天竺黃　木香　枳實　連皮檳　鮮薄荷　川雅連　桔梗　蘆根　摩犀尖　萬氏清心丸</p>
<p>二診：熱雖得和，神識仍糊，皆由邪不外達，積難下化之故。蓋痧症即是時邪，邪與積蒸，化熱煉痰，蒙灼於肺胃。肺胃居於中土，在於胸膈之間。夫胸中本是清曠之地，氣機所聚之處，今為熱邪痰積僭居，機竅失靈，神明逆亂，所以語言無序，苔浮起腐，咳痰不爽，脘腹板痛，諸恙不退也。為勢尚在險途，恐有非常之變。</p>
<p>生石膏　黑山梔　前胡　射干　淡芩　天竺黃　鮮蘆根　生廣軍　連翹　牛蒡　桔梗　膽星　鮮薄荷</p>
<p>另：上濂珠（三分）　西黃（三釐）　川貝（三分）　同研末，和入摩犀尖（三分）。</p>
<p>三診：便雖兩行，俱屬不暢，有形之痰積仍與無形之邪火相蒸於表裡，充斥於上下，無怪其壯熱，煩悶，咳嗽不爽，喉間痰聲宛如拽鋸，口唇舌色竟如豬肝，滿口腐爛，神糊目赤，脘腹按之板痛，脈形沉濡滑數，諸款畢集也。刻下一葉小舟行於萬頃波濤之中，險莫甚焉。回思既業醫者，何思束手望視，不得不曲運神思，搜索枯腸，勉擬一方，乞得神功默佑，或可有弋獲之幸。</p>
<p>玄參　象貝　連翹　生石膏　前胡　廣生軍（四錢，梨汁浸，打汁沖先服）　牛蒡　知母　竹黃　鮮生地（豆豉同打）　枳實　風化硝（錢半，沖）　鮮薄荷　鮮蘆根　白茅根　摩犀尖（沖）</p>
<p>（案5）《經》云：夏傷於暑，秋必成瘧。瘧不離乎膽者，猶咳不離肺也，蓋咳有聲音，瘧有寒熱故也。是瘧已延兩候有餘，始起似有間日輕重之象，寒總不能慄，熱不退清，陽明之病兼涉少陽，不曰似瘧，名之起伏，起伏之由病居募原之間，相隨衛氣而發。古云：暑必挾濕，傷人氣分。所以作則煩悶嘔惡，非常難過，必然並見。刻下苔色黃而膩，脈象濡數不持，胸次痞窒，甚則覺痛，形似間日之瘧，實則為起伏耳。懷孕八月，手陽明司胎，大腸與肺相為表裡，胎為熱迫，其氣乃逆，逆則猶可，竊恐胎動下墜耳。總之暑為熱氣，胎宜涼安，用藥從此著筆，佐以芳香化濁，苟能應手，方可把握，然否？商進。</p>
<p>豆豉　桂枝尖　知母　連皮檳　川樸　淡子芩　草果　鮮佛手　滑石　鮮蘆根　鮮荷葉　摩近根蘇梗（三分）、摩老山檀香（三分，沖）</p>
<p>二診：間日起伏，邪在衛分，汗多不解，濕蒸故也。舌苔淡黃而膩，胸次痞窒而間暑濕之病，陽明之症昭如繪素矣。有娠病久，其元自虛，純補有礙於邪濕，獨散猶慮其傷正，法當兼顧以望各有裨益。</p>
<p>南沙參　香豉　淡子芩　連皮檳　香青蒿　川樸　草果仁　上紫蔻　鮮佛手　鮮薄荷　辰滑石　冬桑葉</p>
<p>（案6）寒熱下痢而致胎墮，張氏云：五日不止者，不治。古人之言，良不詒我！</p>
<p>當歸頭　撫芩　荊芥　紅神麯　橘紅　枇杷葉　澤蘭　澤瀉　楂炭　鬱金　粉前胡　枳殼　赤砂糖</p>
<p>西血珀（四分）　煨木香（四分）　同研末先服。</p>
<p>（案7）夏邪秋髮，謂之伏邪。伏邪二字，邪根深蘊可知。況今歲，甫交夏天即暴熱，吳氏所謂：時未至而氣先至，此謂太過。人處其間，壯者猶可運行；怯者從此感受，至秋風而成病。病來寒熱無序，起伏不一，汗不遍體，噦惡便難，胸悶煩懊，通宵達旦，無一刻可安之勢，從脘至腹按之板痛，乃積膈腸胃之徵。脈來滑數而渾，舌苔膩而心絳者，陰分素虧，陽邪獨發，夾積阻氣蒸濁成痰，內擾肺胃，上迫膻中。年雖不過五外，而早已未病先虛，當此之證，不但用藥殊難，更卜其易生變幻。姑擬一方，若得如合其意，或有見長之地則更妙矣。</p>
<p>半夏　淡芩　廣生軍　藿梗　鎊犀尖　桑葉　竹茹　豆豉　雅連　枳殼實　姜仁　白茅根　茯神</p>
<p>另：西牛黃（二釐）　濂珠（二分）　九節菖（三分）　生黑醜（三分）　同研末，先服。</p>
<p>二診：熱勢輕劇無序，即謂之起伏。他症無起伏，惟伏邪能起伏者，須從伏字著想，蓋伏即進，起即出，能進者能出，人身之氣道，晝夜運行，循環不息，晝夜行二十五度以分陰陽。今因伏暑內蘊，邪與衛氣並居，雖不能阻其往來之道路，而必隨衛氣以出入，至其所發，過其所伏。若論輕重長短，視其邪之多寡，正氣之強弱。其中夾他病，須隨症參切。此症素體陰虛，今為隔食阻氣，氣有餘即為火，昨用大黃黃連法復入清泄氣分，便已數行，腹硬得減，脈仍滑而帶數，舌轉花，淡黃而露底，望之質乾紅刺密布，良是滯積下而未清，胃中之津液傷。有限之陰液，難勝無情之邪熱，至於熱起之時，時候常早，似難捉摸。外來之病猶如盜賊，逐去即安，當此大戰之際，對敵之寇，若得散而不聚，應無猖獗之勢矣。擬方高明商進。</p>
<p>鮮生地　黑山梔　粉丹皮　石斛　茅根　瓜蔞仁　連翹　枳殼實　玄參　竹茹　摩犀尖（二分）　摩花檳（四分）　二味沖服。</p>
<p>（案8）上吐下瀉，名曰霍亂。霍亂者，霍然而亂之謂也。病有真偽之別，真者勢不可當，險如朝露；偽者不過寒積交阻，中宮格拒。此症固然非真，上不得納，便行如水，而今四日，指臂不溫，脈來沉濡而滑，舌苔淡黃而膩，乃寒積夾濕，交阻中宮，升降失度，水穀不分。煙體當此，近則恐其閉脫，遠則防轉為痢。姑用芳開天氣，溫通地道一法。擬方候商。</p>
<p>香薷（一錢）　木香（六分）　烏藥（三錢）　法半夏（三錢）　枳殼實（三錢）　藿梗（三錢）　紫樸（八分）　帶皮花檳（三錢）　橘皮（一錢）　紫豆蔻（六分）　桂枝尖（三分）　溫化丸（三錢）　桑枝（四錢）</p>
<p>（案9）年已古稀之外，氣液無有不虛。病患暑濕，竟成癉瘧，今已十有二日，熱勢雖衰，尚未退清。脈象小數，舌色光紅，有時神識不清，口渴頗喜得飲，濕因液虧而化，暑由氣虛尚逗。大凡暑病之不寒獨熱者，陽明病也，《經》所謂陰氣先傷，陽氣獨發，良有以耳。刻下虛多於實，正負於邪，古法本有扶正達邪之治，胃氣不振，托邪難盡，胃陰不復，飲食艱進，竊恐病去元敗，臨崖勒馬收韁而有不及之嘆。姑仿先賢兩虛一實之例，然否？</p>
<p>鮮南沙參（五錢）　川貝母（一錢）　益元散（四錢）　方通草（五分）　香粳稻葉（三十片）　肥知母（錢半）　鮮荷梗（二尺）　佛手露（一兩）　金釵石斛（三錢）　大豆卷（三錢）　新會白（五分）　佩蘭露（一兩）　連翹心（三錢）　元參心（三錢）　蘆根（一兩）　竹茹（五錢）</p>
<p>（案10）初診：夫暑為天之氣，濕為地之氣，天之暑氣一動，地之濕氣隨之，人在氣交之中，觸目口鼻，內伏而發，秋涼引激，病於少陽則為瘧，即《內經》所謂「瘧不離膽」是也。病於陽明則寒不能慄，熱不退清，雖亦名瘧，然必嘔噦，胸痞煩悶。是症今五日矣，見象大概如是。而以脈象參之，左部見弦，右手濡數，弦則必有轉瘧之勢，濡則仍居於胃。胃為中土，又為坤地，地氣上騰，天氣不肅，猶如隆冬之雲霧迷空，日光被蔽，胸中清曠之地，宛如煙塵之處。煩躁難過，夜不安寐，勢當然耳。刻交成敗之際，正勝則邪達，似可日增康境；邪勝則正負，必至內陷神昏，扶正本非其時，達邪誠為要事。古云急者先治，旨哉斯言！但暑居濕下，清之徒然，濕遏熱上，開泄為主。治以苦辛，使其氣之升降，溫芳闢其濕之瀰漫，輕淡宣其蘊伏，希能應手而效，尚屬立陣布兵之時，何能一鼓掃蕩，如邪勢折挫，能免變幻，幸矣。備方商進。</p>
<p>香豆豉（三錢）　上川樸（八分）　苦桔梗（一錢）　桑葉　檀屑（三分）　全紫蘇（三錢）　上紫蔻（五分）　光杏仁（三錢）　闢瘟丹（三分，熱甚時服）　廣藿香（三錢）　生香附（三錢）　滑石塊（四錢）　九節菖、廣鬱金（各三分，研末服）</p>
<p>二診：《經》曰：暑傷氣，濕亦傷氣。氣能開合，邪隨開而為起，合而為伏。前日之起伏者，即氣為暑濕所傷，開合失其常度故也。煩悶為肺氣之合，膚冷為脾氣之合，不便為腸氣之合，是以桔梗以開肺，檀附以開脾，藿樸以開胃，郁菖以開痹，花檳專流於下焦之氣阻，豉滑以蕩胸中氣熱，蘇蔻以祛濕中之穢氣。而今氣開未全，暑濕未清，以致症象雖減不能大解也，仍處昏蒙之險，再當擴充前方。</p>
<p>上川樸　枳殼　鮮佛手　藿梗　生香附　炒香櫞　連皮檳　光杏仁　九節菖　桑葉　上紫菀　竹瀝滾痰丸</p>
<p>（案11）今歲甫交夏至即為大熱，吳氏所謂：時未至而氣先至，乃太過之謂也。人處其間，壯者猶可運行，怯者著而成病。病恰半月，熱仍夜盛，煩悶乾噦，脘板而痛，遍體透斑，斑色紅紫，固是正理，兼晦澀不澤者誠非佳兆，脈來濡滑而數，舌苔淡黃而垢，熱由氣膠錮不化之時，姑用大黃黃連瀉心合犀角大青之法。蓋斑與疹、㾦不同，斑宜清化，古人早已示後，原可一例而治，未識符否。備商。</p>
<p>半夏　川雅連　淡芩　廣鬱金　光杏仁　白茅根　黑山梔　鎊犀角　桔梗　薄荷頭　廣生軍　杜竹茹</p>
<p>（案12）六淫，即謂之六邪，惟暑濕二字，每都連呼者，良由天之暑氣動，地之濕氣自騰，人處其間，氣強壯者自可運行泄化，氣怯弱者未免著而成病。病經一旬，熱勢雖為大戢，而退之不清，脈來濡滑而數，舌苔積白如粉。自汗溱溱，暑可從此而泄，濕仍留戀中土，且素來心力紛勞，肺之液，胃之津，不但不得上供，未免因病益傷也，姑用十味香薷飲出入。</p>
<p>香薷　川樸　陳皮　川雅連（乾薑二分，同炒）　丹皮　歸身　茯苓　滑石　江枳實　杜竹茹</p>
<p>（案13）初診：夏病秋痢雖屬趲季為痢，然有其病者必有其因，抑且今歲天符熱早，雖非夏行秋令，其氣先至，顯然人為一小天地，豈不隨時更變？此症今恰半月，開手即痢，日夜竟有五六十度，裡急後重，紅白相兼，穀食宛如登仙，大腹竟似仰瓦，口舌滿布糜腐，幸而脈濡沉細。想其腸胃中之積滯早已隨痢而去，瀰漫之濕熱現被胃火充斥，升降失度，上衝則為腐為呃，下攻則為痢為泄。較之陰火為腐者，似輕一層，但年近花甲，症情已屬上為實熱，下為虛寒，上下宛如冰炭，用藥之難何待言者？擬用連理湯出入，應如桴鼓，或可斡旋元吉。候用。</p>
<p>東西洋參（各一錢，同粳米炒）　雅連（三分，東壁土炒）　茯苓（四錢）　橘白（八分）　鮮竹茹（錢半，薑汁炒）　生炙甘草（各二分）　炮姜（三分）　扁豆（三錢，炒）　砂仁（三分）　駐車丸（二錢，另服）　炒於白朮（各錢半）　訶子（一錢，麵裹煨）　白芍（三錢）　黃芩（一錢）　陳倉米（三錢，鮮荷葉色刺孔，煎湯代水）</p>
<p>二診：大便直行謂瀉，溏水細屑為泄，膠膿黏膩為痢，此三者似分而實合也。其間有臟腑之別，淺深之分。蓋瀉從腸胃而來，泄由太陰而起；至於痢之一症，雖則臟腑皆有，而實腑少臟多。大腸為腑，因其隸屬庚金，金旺於秋，痢為秋病，故以大腸為下痢之主症也。若論臟痢，肝脾腎三經皆有，腑淺臟深，輕重有分。此症開手即痢，諸款畢集，前進連理湯兩劑，不但圊數大減，且有轉泄態勢，即穀食亦可稍進，似屬佳徵。惟呃忒不平，喉腐未退，良以由肺胃宜降而返逆，所蘊之熱濁無不隨氣上衝，如七日不減就有非常之變，不得不預告知，抑不得不預防之，擬方。候商。</p>
<p>釘頭赭石（煅，三錢）　紫石英（四錢）　於白朮（各錢半）　東西洋參（各二錢）　刀豆子（三錢）　法半夏（三錢）　煨訶子肉（二錢）　旋覆花（二錢，包）　雲茯苓（三錢）　雅連（二分）　白芍（炒，三錢）　橘皮（八分）　竹茹（一錢）</p>
<p>另：上沉香（二分）　公丁香（一分）　大砂仁（半分）　西血珀（三分）　四味同研末服。</p>
<p>三診：夏病秋痢，晝夜無度，竟然口腐呃忒，穀粒不納，已屬危險之至，不堪設想矣。幸而素不嗜煙，為日不久，腐不滿口，呃不連聲，是暑邪蘊於陽明，濕滯阻於太陰，運化少權，和降失司而成，尚屬從實面而來，猶可挽回。即用連理湯兩劑，庶得圊數大減，噦惡得止，稍進穀食，口腐漸脫，雖屬佳徵，然延至今日，為勢只有輕減之意，而無告退之期，多延一日則元氣傷殘一日，直至土頹胃爛則去生遠矣，擬方。備商。</p>
<p>西洋參　茯苓　淮藥　橘白　公丁香　竹茹　於白朮　白芍　石斛　雅連　白扁豆　紋銀（懸煎，半分）　柿蒂　紫石英</p>
<p>（案14）夏令穢濕痹氣，觸自口鼻曰痧，當時針刮皆由散而不清，遂致似病非病者兩月，其間食物必雜，至今變為寒熱。熱有起伏，寒無定時，舌苔淡黃而厚，脈象濡數右大，腹痛板硬，便泄似痢，膩噦惡，汗少頭脹。先寒熱而後泄者，古謂經邪入腑，屬不順而逆。夫經者，陽明之表；腑者，腸胃之裡。胃為六腑之冠，腸為傳導之首，胃病則熱，腸病則寒，陽明半表半裡，其名募原，募原為病，寒熱不分。吳氏有達原飲一法，喻氏設逆流挽舟一法，羅氏參黃敗毒一法。刻下經邪未達，府積未通，為瘧為痢皆屬易易。年適花甲，如不早為驅逐，必致近則內閉外脫，遠則噤口昏陷。三子之法從中去取而治，必期應手，方為轉機，即請有道政之。</p>
<p>羌獨活（各八分）　柴胡（四分）　前胡（錢半）　木香（五分）　佛手（二錢）　上川樸（七分）　摩花檳（七分，沖）　薄荷（一分）　藿梗（二尺）　枳殼炭（一錢）　摩青皮（五分，沖）　豆豉（三錢）　生熟砂仁（各四分，打，後入）</p>
<p>（案15）胎前久瘧，產後未止，忌象疊見，藥焉能挽？勉強擬一方，以盡人謀。</p>
<p>東西洋參（各一錢五分，粳米炒）　茯苓（三錢）　煨肉果（一錢）　上上於術（錢半）　澤瀉（二錢）　煨訶子（一錢，土炒）　白芍（二錢）　木香（煨，五錢）　炙五味（二分）　毛燕窩（錢半）　香稻葉　生穀芽（一兩，荷葉包刺孔）</p>
<p>（案16）初診：暮秋至今，天晴不雨，燥氣流行，人處其間，感而受病，無有不襲肺。蓋西方生燥，在時為秋，在人為肺，一定之理。所以先為咳嗽身熱，汗泄不暢，痰白不濃，且不安易出，煩躁狂起，神糊亂語，脘腹板硬而痛，大便溏泄不實，脈來浮滑而數，舌乾白而底絳，此風溫化燥，濁未成痰與積交蒸，傷陰爍液，肺胃迫近心包，如再進一步則不堪設想矣。症經十有一日，本在波濤洶湧之際，抑恐狂瀾莫挽矣。擬方候商。</p>
<p>麻黃　光杏仁　生石膏　薄荷　前胡　天竺黃　牛蒡梗　竹茹　枳殼實　檳榔丸　連翹　茅根　玄參</p>
<p>二診：夾有時邪，治必散解。古人早已立論，蓋風溫口鼻而入，須從毫竅而出。所出者，汗也。積是穀食而成，定由糟粕而下。所下者，便也。前進麻杏甘膏湯復入檳榔丸一法，得汗透㾦，且已大便，表裡似已通暢，邪積應可分化，無如既成時症大病，非一汗透痦，便行一次即可解散，所以勢雖稍和，口渴舌乾，臍上依然板痛，咳痰猶然不爽，脈滑而數，重按少靜，乃所存之邪積仍然化熱蒸痰，傷陰爍液。當此兩候末期而正在進退之際，抑且邪積半留半化之時，若論其變尚易易，須得小心防護，始能挽入佳境。再擬涼膈散出入，以冀里通表達。</p>
<p>豆豉　連翹　廣生軍　薄荷　前胡　鮮石斛　黑山梔　淡芩　連皮檳　桔梗　枳實　白茅根</p>
<p>（案17）冬令正病皆是傷寒。今因自秋至今，天符亢燥，燥氣盛行，肺經感受所發見症，肖乎傷寒而實風溫也。夫傷寒乃冬令寒邪，先伏太陽，繼則循次傳經，延至七日，經盡乃戰，得汗而解；而風溫一症，始終在肺，夾痰濁者，兼涉陽明，因不傳經，故不外戰，所以病經一句，表外似達，裡熱尚甚，咳不揚，痰如沫，神糊語亂，汗泄不暢，當臍膨滿，大便欲解不行，脈來悶滑而數，舌苔淡黃而膩，此由風溫為濁所戀，濁未成痰，欲化熱而未化火，互蘊肺胃。而肺胃居於胸膈，迫於心包，心包為君主宮城，城外既為熱灼，神明焉得不亂。抑且病前已見寒熱，正氣無有不傷，誠恐正不勝邪，為內陷昏閉之變。</p>
<p>麻黃　鬱金　半夏　竹黃　桔梗　生石膏　連皮檳　前胡　光杏　枳實　薄荷　橘紅　牛蒡子</p>
<p>另：太乙紫金錠（三分）　加入上西黃二釐同研和，另服。</p>
<p>改方加黑山梔、犀尖。</p>
<p>（案18）《經》曰：夏令汗出少者，至秋風而為瘧。瘧類有四，其因非一，此症不但發於冬令，抑且間日而作。夏邪秋髮，已屬隔季為病，安知交冬甫發乎？邪之深蘊何待言哉？夫間日瘧者，其邪本不在少陽，而蘊於營衛之間。衛者陽氣，行於脈外；營者陰血，行於脈內，而衛氣一日一周力，左升右降，循環不息，氣為血舟，血隨氣流行其間，既為伏邪所遏而不能與衛氣俱行，邪亦不出，故間日而作。現已逾月，前日尚來，余濁故未掃清，而營衛亦可為寒熱也。蓋瘧者，虐也，久則傷脾。脾統血，統攝無權，便血後發。脾屬土，脾病則木來乘侮，以致滿腹攻撐，當臍作痛，脈來細澀而弦，舌苔花白而底絳，血見糞後，仲祖謂之遠血，此非大腸為病，乃從肝脾而來也。《金匱玉函經》詳註最細，用黃土湯一法，補少陰之火，生太陰之土，抑且恐溫藥性烈，內有生地以益陰，阿膠以養營，冀其剛柔相濟，火土合德，統攝有權，則血自歸經矣。當宗其旨，略為擴充。</p>
<p>熟附子　炙草　歸頭　伏龍肝　砂仁　紫石英　淡芩　大生地　白芍　橘葉　白粳米　於術　戊己丸</p>
<p>（案19）初診：症交七日，已作一候，起伏太甚，甚至譫語不已，起坐頻頻，四末乍寒乍熱，脈象右小左大，舌苔滿黃，大便直泄，伏暑夾濕夾積，頗有不得外達輾轉入里之險。蓋暑為無形之氣，濕為瀰漫之邪，同氣相求，每傷人氣。氣分三焦，主宰在肺。肺氣開展，則胸中清曠之處或可不成煙霧之天，心居其內方能君主有權，不為暑濕所侵，而致昏閉等險。</p>
<p>豆豉　桔梗　九節菖　鮮藿香　滑石　鬱金　上川樸　枳實炭　鮮薄荷　囫圇蔻仁　鮮佛手</p>
<p>另：天竺黃（三分）　陳膽星（二分）　二味研末服。</p>
<p>二診：症經九日，其勢本在顛風折浪之際，雖昨日午後得汗，熱勢外揚，神識覺慧，似屬邪從外越，熱傳膻中之險得以稍緩。然呃已三日不平，呃則氣逆，痰亦隨之上升。肺胃本宜下降，升則逆，降則順。逆則諸氣皆逆，肺胃失其順降之職，生化之權漸失，如日延一日，傷而益傷，勢必正不勝邪，而起內陷昏閉之變。擬方備商。</p>
<p>川樸　廣生軍　豆豉　陳廣皮　代赭石　枳殼　冬桑葉　半夏　嫩前胡　炒竹茹</p>
<p>另：上沉香（一分五釐）　公丁香（二分）　白蔻仁（二分）　同研末服。</p>
<p>三診：伏邪暮秋而發，本屬遲遲，若論愈期，輕則兩候得退，重則二十一天方愈。此症今恰十有二日，熱勢雖和，尚有起伏，便雖數行，得汗不暢，乃欲退而不愈之兆，似在正理。但呃仍不平，神識不慧，脘部板痛，咳痰不爽，由於無形之邪與有形之積痰互阻肺胃，而難泄化。夫肺胃皆欲下降，今既為其所阻，無怪其應降反逆。清不能升，濁不能降，肺為乾天，胃為坤地，乾天坤地竟似天地之氣，否而不泰，清朗之處轉為塵霧之天。若非開氣以徹其邪熱，通地道而化其痰滯，兩候不松，頗有昏陷之虞。候商。</p>
<p>半夏　膽星　枳實　上雅連　帶皮檳　天竹黃　川樸　淡芩　廣皮　制廣軍　鮮薄荷　石菖根　金沸草　杜竹茹</p>
<p>另：金礞石（二分）　豬牙皂（半分）　上沉香（二分）　春黑醜（二分）　四味同研末服。</p>
<p>四診：人無根株，穀食為命。無病之人，七日不食則不堪下問矣。抱病之人莫言一朝，即二十一天不妨身體者，何也？蓋病則邪勢充斥，臟腑為其蒙塞，所有一線正氣含蓄於內，俟其邪勢一退，先以米飲，繼以稠粥，使穀食之氣接續，正氣日長一日，勃然甦醒，猶如春節一到，草木榮華，氣滿乾坤，此生長自然之理也。至於此症雖未全愈，而已得痊，所謂小瘥也，惟胃氣索然，杳不思食，繼因服花露一杯，即為便泄，宛如痢然，且甚裡急，脈來細弱無神，舌花白而底絳，的系胃經氣陰俱傷，脾陽衰而不運，以致不飢、不食、不運三款疊見，生長無權，而欲其恢復難矣。反見神識不慧，兩耳不聰，懶言慵事，恙後見此，皆非所宜。姑擬培中土以進穀食，開心氣以通神明，冀其漸人坦道。高明商進。</p>
<p>人參鬚　白朮　益智仁　茯神　遠志炭　四神丸　炙龜板　龍骨　煨訶子　竹黃　石葛根　肉果　秫米</p>
<p>（案20）恙延月餘，始起寒熱夾痢，並駕齊至，延至兩旬，即為分娩。夫瘧與痢是秋令時病，豈可萃於一身。況妊娠下痢，諺云：井欄圈上釘銅錢，其錢無有不入於井者。胎之墮也，似在正理。然則瘧痢久延，氣無不傷，復又大產，血分亦虧。所以病至今日，瘧意雖輕，痢仍不止，裡急雖減，後重依然，且甚覺熱，舌苔花白底露鮮紅，脈來小數無神，杳不思食，小溲艱澀，乃邪固大半得退，其既化之熱與濕渾合，由胃入腸，腸雖多氣多血之鄉，但纏綿不解，氣血早已受傷，而陰與液焉得不為其燥，抑恐胃液告竭，竟至傾頹，轉成噤口下痢則不堪下問矣。再轉一法，以冀斡旋元吉。擬方候商。</p>
<p>東西洋參（各一錢）　柴胡（五分）　黃柏（五分）　益元散（四錢）　粉葛根（錢半）　茯苓（三錢）　撫芎（五分）　方通草（七分）　川雅連（五分）　淡芩　桔梗（七分）　荷葉蒂（四分）　戊己丸（四分）　導滯丸（八份）　縮砂仁（四分，打後入）</p>
<p>（案21）經事甫淨，即發伏邪，陰分之虛不言而喻，況邪行如水，虛處則受，幸而年輕氣足，尚可迎敵，所以熱勢夜甚，汗泄不暢，煩悶痞滯，脘腹板痛，大便難行，不甚爽暢，脈來郁滑而數，舌乾白而心灰。陽明之邪積交蒸化熱，肺胃之陰液無不受其蒸爍。急宜開氣達邪，通腑化積，不至陰傷及氣，托載乏權，或免昏陷兩字。擬方留請有道之士商進。</p>
<p>豆豉　鬱金　淡芩　廣生軍　黑山梔　連翹　枳實　鎊犀尖</p>
<p>另：上西黃（二釐）　西血珀（二分）　九節菖（二分）　辰燈心（二分）　同研末服。</p>
<p>（案22）伏暑夾濕，今交七日，正在充斥之際，適當經事下行，是以神糊譫語，苔加灰色，脈象沉濡而數,心中煩悶不已，氣血並病，其險何辭？勉擬桂枝白虎意，參入護里宣開之品，未識符否，明眼商進。</p>
<p>桂枝尖　黑山梔　鮮蘆根　鬱金　鮮佛手　淡豆豉　淡芩　鮮薄荷　滑石　苦桔梗</p>
<p>另：上西黃（二釐）　上西珀（二分）　九節菖（三分）同研末服。</p>
<p>（案23）起伏癉瘧，夾食腹痛，曾已熱閉，其險可知，且擬表裡雙解，能於應手，方不復蹈前轍。商進。</p>
<p>上川連　豆豉　桔梗　制軍　連皮檳　鮮佛手　光杏　鬱金　枳殼　蔻仁　辰滑石　冬桑葉</p>
<p>（案24）人之一身，從口而至肛門，門數有七，《內經》載注詳細，上四下三，穀食入胃，遊溢津氣，清升濁降，胃之下口曰幽門，渣滓歸入大腸而為糟粕，水濕走於膀胱而為小溲，而今結糞已抵腸間，欲下不得，當用通幽湯加減，水寬則舟自行也。</p>
<p>鮮生地　玄參　桃仁　廣生軍　生山梔　當歸身　郁李仁　麻仁　枳殼　全栝樓　梨皮　龍薈丸（二錢）</p>
<p>（案25）初診：陰分不足，木火凌金，不時吐血，翫忽未治，致木叩金鳴，咳遂不已，即此而論已足束手。秋間感觸風邪，邪入太陰，咳劇凜熱，熱勢稍減，旋即氣升，胸間悶，脈數弦，舌紅苔白而不甚厚，心胸之間，若有無數凝痰結聚攻劫，而致於保赤丹之猛烈，胸中並未得舒。非痰也，氣也。夫肺為氣出之戶，腎為納氣之源，氣但出而不納，將至腎氣日形空乏，暫以重鎮塞責，日後調攝須任高賢，非庸者之所可診治也。</p>
<p>旋覆花　代赭石　蘇子　鬱金　摩沉香　冬瓜子　光杏仁　薏米　蘆根　海蛤殼</p>
<p>二診：重以鎮逆，氣升減退什五，喉管結痹，大為寬展，無如呼吸之氣依然入少出多，內熱雖覺退輕，仍不能靜，脈猶帶數。勉再鎮墮以冀喘平，調理功夫，務再擇賢而任耳。</p>
<p>靈磁石　茯苓　蘇子　青蛤殼　代赭石　白芍　川貝　牛膝炭　款冬花　廣沉香　鬱金　竹茹</p>
<p>三診：重鎮之劑，喘退什五，原意繼進，理應續效，豈意初投則如桴應鼓，繼進如石沉海。無論在肺在腎皆與中樞無涉，何至食入而脘中不舒，脈細數而關部帶滑，舌紅咽膩苔白。良以腎本虧於下，肺氣壅於上，胃中之痰濕為熱氣所激，復注於肺，致肺胃下降之權全失，再從前意兼導濕熱下行。</p>
<p>冬瓜子　青蘆管　生苡仁　赤白芍　光杏仁　焦枳殼　廣鬱金　杜竹茹　炙桑皮　甜葶藶</p>
<p>（案26）素來腎關不固，癸水不足可知，泄時無夢，坎離失濟以致不無所養，雷火上衝，刑金則咳，絡傷血溢。病標雖則在肺，而病本實由乎肝腎也。此疾之發，固從實風輻輳，而虛體感邪，邪必不甚，但是隨感隨發，法當培本為主，稍兼函肺之品。</p>
<p>鮮生地　淡芩　川貝　炙桑皮　赭石　丹皮炭　浮石　阿膠　全栝樓　決明　馬兜鈴　十灰丸　白芍</p>
<p>（案27）病久其中變遷不一，且就刻下而論，風不潛藏則瘧，神不歸舍則昏，風旋於上則夢寐必飛，神遊於外則譫語不定，魂魄浮於軀殼之外，人身宛在縹緲之間。《內經》曰：上盛則夢飛，下盛則夢墮。上盛者則下虛，下盛者則上虛，非盛也，陰陽相離不相攝納也。而大腹䐜脹，補氣之藥似是而非。蓋心血無主，肝無血藏，臟主既失，神魂乃越。古云：治厥必以通，然愈通則愈虛，虛則恐有不省之險；治痞必以鎮，愈鎮則愈墜，墜則恐有下脫之虞。勉擬鎮熄，但危險若此，恐有鞭長不及之嘆。</p>
<p>陳阿膠　煨天麻　煅牡蠣　乾地黃　珍珠母　雞子黃　夜交藤　炙龜板　干河車　辰茯苓　白芍　鐵落</p>
<p>（案28）經停七日，邇日汗多如雨，飲食減少，內熱不退，右脈細澀，左脈弦數，屢投益陰固衛之品，未見所長。拙見經因病而不至者，非瘀也，虛也；汗不醒寐而出者，非虛也，火也。既非停瘀不必以攻，知是火迫不必以補。古云：先斷經而後身熱者，為乾血；先時症而後經停者，為血虧。蓋血屬陰，陰為水類，氣屬陽，陽為火族，火燒則水涸，即所以益水滅火，必籍以苦寒。仿古四法之一。</p>
<p>當歸六黃丸　四制香附丸</p>
<p>（案29）按脈中空邊實，來往不利，此名芤澀，澀則有瘀，芤則血虛，胃絡震動，諸經失養，不可堵截，且用和絡。</p>
<p>茜草炭　黑豆衣　茅花炭　血蒺藜　血餘炭　丹皮炭　生蘇子　牛膝炭　鉤鉤　石決明　十灰丸　六味丸</p>
<p>（案30）懸飲入胃為痛，攻撐不已，漉漉有聲，溫和不應，當易疏通，河間、子和等法是也。</p>
<p>金沸草　橘葉皮　半夏　上川樸　雲茯苓　枳殼實　姜渣　連皮檳　溫化丸　舟車丸　香附　麥芽</p>
<p>（案31）胸脅作痛，吐血色紫，瘀傷在胃。胃為多氣多血之鄉，亦屬通衢大道，且仿古人折其上逆，引其下達之法。</p>
<p>鮮生地　廣生軍　牛膝梢　三味打汁，溫熱調服。</p>
<p>另：煅花蕊（三分）　上三七（三分）　研末同服。</p>
<p>（案32）灑淅寒熱，肖乎瘧狀，實則營衛不和，虛而且郁，正所謂氣痹則密，營虛則熱也，當用逍遙散出入投之。</p>
<p>當歸　草果　青皮　蘇梗　桑葉　雅連　柴胡　茯苓　丹皮　川樸　摩香附　沉香</p>
<p>（案33）風溫蘊肺，咳熱並重，兩感之症非輕可知，肺病逆傳，必至心胞，脈數舌紅。辛涼佐以甘寒方與春令風溫合宜。</p>
<p>射干　橘紅　鬱金　枳殼實　豆豉　牛蒡　象貝　前胡　光杏　白桔梗</p>
<p>另：鮮薄荷　萊菔　荸薺　同打絞汁，沖。</p>
<p>（案34）大便兩行，極少積滯，尚未盡下，脘右按之猶痛，噦惡稍減，汗仍未得，所蘊之邪亦未外赴，是以午後寒熱仍起，起則煩悶更甚，脈來濡數，舌苔黃膩，症經九日，本在波濤洶湧之際，其勢不劇即是退機，姑觀兩候期上動靜，擬方候商。</p>
<p>黑山梔　制軍　半夏　雅連　廣藿　枳實　鬱金　豆豉　竹茹　紫金錠（加入上西黃二釐）</p>
<p>（案35）虛火內熱，由乎肝腎而來，上吐血下泄精，陰虧則陽旺，火熾則水涸，勢所必然，山川草木焉能圖其痊愈，竊恐後交夏令火旺之時，身中素虧陰精，不足供其灼劫耳，速清，明見診治可也。</p>
<p>北沙參　白殘花　生淮藥　石斛　桑葉　丹皮　生鱉甲　香青蒿　川貝母　扁豆　料豆　當歸六黃丸　資生六黃丸</p>
<p>（案36）《經》曰：脈來數而中止為促，促為陽甚陰虛之病，咳熱痰紅而見此脈，推因外風入肺，已經化火內熾，古云水出高源，源病則水必日涸，凡為癆瘵者，比比皆是。</p>
<p>桑葉皮　地骨皮　冬瓜子　炙紫菀　馬兜鈴　炒丹皮　北沙參　光甜杏　竹茹</p>
<p>另：青培散、川貝母（各三分）　同研末，枇杷露調服。</p>
<p>（案37）久咳見血，本屬極易之事，蓋咳則諸絡皆震，肺絡受傷，則血溢於上。左脈弦數，咳血所忌者，有木火刑金之勢。</p>
<p>炙紫菀　丹皮炭　血餘炭　絲瓜絡炭　光甜杏　海蛤殼　海浮石　冬瓜子　炒黑竹茹</p>
<p>另：上三七（五分）　飛青黛（四分）　黑山梔（三錢）　燒秋石（一錢）　廣鬱金（一錢）　茅花灰（一錢）　六味為末，用陳阿膠烊化為丸。</p>
<p>（案38）風入於肺，身熱咳嗽，已經兩閱月矣，脈數而滑，舌紅而光，邪不外達，勢欲內傳，古人有咳嗽而成勞損者，此之謂耳。</p>
<p>麻黃　橘紅絡　鬱金　生草　竹茹　生石膏　象貝　光杏仁　桑葉　前胡　冬瓜子</p>
<p>（案39）大便數行，俱泄如水，以致喉間仍然哽窒，偏左攻觸，不時火升，頭面脘部汗出如浴，想其腸間之水濕雖下，肺胃之黏痰未化，鬱則肝火易迫液外泄也。</p>
<p>法半夏　淡射干　玄參　馬勃　控涎丹　薄橘紅　廣鬱金　川貝母　桔梗　香附　竹茹炭</p>
<p>（案40）過於耕作則肝脾兩傷，肝傷則血衰，脾傷則氣弱，遍體萎黃力乏，近又漸寒而熱，脫力如此，名曰勞傷，《內經》之重症也。</p>
<p>當歸　茵陳　連皮檳　橘白絡　功勞葉　白朮　豆卷　連皮苓　桑葉枝　五加皮　左秦艽　餘糧丸　資生丸</p>
<p>（案41）寒積動蛔，腹痛陣作，牙齦糜爛，得食痛甚，是氣鬱化熱上走於絡也。痛甚恐變驚厥。</p>
<p>川雅連　摩花檳　黃柏　雷丸　吳萸　江枳實　使君子　鶴蝨　蕪荑　生軍　摩鬱金　楝根皮</p>
<p>（案42）熱戀不退，下午為甚，天明白汗，咳嗽痰白，脘腹脹痛，不時攻撐，乃厥陰氣火未平，上凌肺金，中犯肝胃也。</p>
<p>青蒿　香附　橘紅　黑山梔　桑葉　川雅連　羚羊角　象貝　淡芩　花檳　枳殼</p>
<p>另：上沉香　生黑醜　巴豆殼　同研末服。</p>
<p>（案43）古云：爍物消物，最莫如火，火劫津液，病成上消。上消治法，獨取太陰，清養既應，再宗甘寒，佐以微酸，正合經旨，甘守津還，酸甘濟陰之條。</p>
<p>鮮生地　鮮蘆根　南北沙參　甘草　白芍　黑玄參　烏梅肉　真陳阿膠　麥冬　知母</p>
<p>（案44）瘧母必結於左脅者，瘧不離膽，其絡行於此也。夫塊當分聚散，散則無形曰瘕，氣也；聚則不散、不移、不動曰症，血也。至於瘧母，當假邪濁痰沫而成，其根較深，其愈益遲，潔古、東垣每取丸散留中，亦由有形之病治以有形，即同氣相求之謂耳。</p>
<p>鱉甲煎丸　香砂枳朮丸</p>
<p>（案45）瘧連三月有餘，汗不通體，近加咳嗽噦惡，舌苔黃膩。乃邪不達，輻輳新風，防其變驚。</p>
<p>半夏　川雅連（吳萸同炒）　前胡　生石膏　麻黃　枳殼　藿梗　牛蒡子　淡芩　廣鬱金　橘紅　桑葉</p>
<p>（案46）血敗之後，淋瀝不淨，脈數內熱，舌苔黃膩。是氣虛血熱，夾濁內阻也。</p>
<p>炙龜板　腹皮　香附　淡芩　藕節　煨木香　陳阿膠　白芍　通草　黃柏　杜仲　木香導滯丸</p>
<p>（案47）寒輕熱甚，頭痛無汗，腰疼項強，脈形緊數，宛如巨陽初症，例用麻桂，然時當暮春，舌漸干黃，溫邪為新邪所伏，宜用葛仙翁肘後蔥豉煎之法，方不背於先賢。苟能應手，方免喘驚。</p>
<p>蔥白頭　淡豆豉　光杏仁　萊菔子　甘菊花　秦艽　廣鬱金　桑葉枝　嫩前胡　晚蠶沙　江枳實</p>
<p>（案48）初診：花後氣血兩傷，外邪易入，咳熱半月，右脈數大。乳兒當此，喘驚極速，慎之慎之。</p>
<p>牛蒡　橘紅　射干　楂炭　淡豆豉　鮮薄荷　桑葉　前胡　杏仁　象貝　廣鬱金　鮮萊菔</p>
<p>二診：花後元虛火盛，玄府易開，衛不固，風溫湊襲，咳熱痰鳴，脈數舌乾。辛涼佐以微苦，既得其效，當仍步其議，諺所謂：效邊求是也。</p>
<p>牛蒡子　橘紅　象貝母　射干　鬱金　枳殼　冬桑葉　前胡　淡豆豉　杏仁　連翹</p>
<p>（案49）寒熱無序，咳久不已，左脈大，舌黃膩，邪尚在肺。蓋肺胃為衛氣之主，尤能剋制肝木，自然衛虛則邪易出入，肝橫則腹滿脹痛。前方既應，再當擴充而投。</p>
<p>蘇子梗　前胡　桑葉皮　半夏　川樸　烏藥　蔞皮　橘紅絡　鬱金　花檳尖　摩香附　木香（沖）</p>
<p>（案50）脾之大絡名曰大包，出淵液下三寸，實則身盡痛，虛則百節皆縱，由乎持重拼傷而起，曾經嘔吐見血，脾絡大傷，最怕身熱之險。</p>
<p>絲瓜絡子　金沸草　大川芎　降香屑　川鬱金　生蘇子　橘葉絡　焦麥芽　大腹皮　摩三七、香附（沖服）　赤芍藥（吳萸同炒）　臺烏藥</p>
<p>（案51）不咳而血從上出，胃病居多，雖云胃為多氣多血之鄉，然血由五穀精液所成，日生幾何，無怪其四維痠軟，頭眩耳鳴，虛象鳩聚也。</p>
<p>金沸草、猩絳（同包）　血餘炭　廣鬱金　生蘇子　茜草炭　竹茹　丹皮炭　白蒺藜　石決明　牛膝炭　雙鉤鉤　杞菊地黃丸　十灰丸</p>
<p>（案52）氣乃無形，宜乎清通，痰因氣鬱而阻，氣由痰濁窒痹，致為喉中作脹，脘中痞悶。微辛以開，微苦以降，症象頗退，再當損益。</p>
<p>金沸草　陳香櫞　半夏　腹皮　光杏仁　老檀屑　白芥子　瓦楞子　竹茹　香附　雲茯苓　枇杷葉</p>
<p>（案53）《經》云：木性條達，脾司健運。健運失司則作脹，條達失職則攻撐，肝脾既病藏統無權，衝任何由而充，經傷不行，少腹漸滿。正所謂氣為血之舟楫，氣病則血亦病矣。</p>
<p>金鈴子　玫瑰花　撫芎　香櫞　五靈脂　上沉香片　連皮檳　延胡索　砂仁　香附　摩降香、烏藥（沖）</p>
<p>（案54）肝病不犯於脾，即犯於胃。大腹攻撐，脘窒兼嘔，犯胃之徵。蓋肝屬木，脾屬土，土衰則木旺，自然風動不熄，上盛下虛，頭暈耳鳴，蜂飛鵲起矣。</p>
<p>製半夏　白蒺藜　白芍炭　陳香櫞　廣陳皮　雙鉤尖　焦麥芽　紫石英　竹茹　酒香附　摩降香、蘇羅子（沖）</p>
<p>（案55）喉燥雖減，氣粗痰黏，不時心悸，火升頭汗，是肝火爍肺，濁蘊痰聚之所致也。</p>
<p>金沸草　羚羊角　前胡　川貝　代赭石　云茯神　玄參　香附　杜竹茹　全栝樓　廣鬱金　控涎丹</p>
