<header data-type="book">
<h1>溫熱暑疫全書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>周揚俊</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1679">公元1679年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2948">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>自序</h1>
<p>醫之道難矣哉。凡病傷寒最重。溫熱尤烈。傷寒僅在一時。溫熱暑疫。每發三季。為時既久。病者益多。苟不明其源。溯流不得清也。不辨其類。療治不得當也。則溫熱暑疫。皆熱證也。燎原之下。竟乏清涼一滴。人無今昔。性有異同。神酣往聖。志切琳瑯。俊以一隙微明。靜中索照焉。夫上古聖人。首重色脈。以營之未交已交。定人生死。片言已畢。中古聖人。專論穀氣盛衰。定人生死。片言已畢。仲景叔季聖人也。既立方論。復出不盡之臟。緯以膀胱之傷與絕。定人生死。先後合符。了無剩義矣。乃仲景於傷寒論中。溫熱森森。具載黃芩、白虎等湯。是其治也。後之學者。苟能引伸此意。便可變化不窮。神明千載。不能細察其理。反執以為治傷寒之法。盍思本湯既無外解之功。又無內奪之力。聖人立法。果何謂乎。自晉以來。疑鬼疑蜮。陋濕無巳。如崔文行解溫。用白朮、烏頭、細辛、桔梗四味。更加附子。名老君神明散。更加螢火。名務成子螢火丸。熱藥相投。以火濟火。誰其辨諸。如仲景書。謂太陽病發熱不惡寒而渴者。為溫病。朱肱活人書。謂發熱惡寒。頭疼身痛者。為溫病。已悖聖訓矣。又云。春秋發斑咳嗽為溫病。至風溫治在少陰。其所立五方。如葳蕤湯、知母葛根湯、防己湯、栝蔞根湯、葛根龍膽湯。風火相熾。燔灼無休。復改聖散子。仍用附子。表裡香燥同之。東坡先生在黃州時。頗稱其效。豈知朱肱已三易其方。用敗毒散而遠熱藥。然厥功奚減厥罪。吳氏謂傷寒壞病。更遇溫熱為溫病。潔古老人。傷寒名家也。其子云岐。以傷寒過經不解者為溫病。指叔和之言。為仲景之文。趙嗣真謂仲景云重感異氣。變為溫病。汪機謂仲景云遇溫氣為溫病。遇溫熱為溫毒。竟不顧聖經之載於方策者。何曾有此一語。巢氏病源。遵崔文行解散法。一日用摩膏火灸。二日針灸解散。三日復汗之。四日用藜蘆丸、瓜蒂散吐之。五六日解未了了者復針之。七日熱已入胃。雞子湯下之。遂使龐安常自撰微言。一以和解為主。奉為靈寶。少移則蹶。巢龐比匪何極。李思訓亦宗和解。王海藏稱其當宋全盛。明哲莫逾。擬非其倫矣。丹溪長於溫熱。善用涼藥。溫熱遇之。自能解散。要非有斟酌於其間也。東垣不善外感。長於內傷。乃從內經悟出冬溫春溫二義。誠暗中一大炬。嘉言極口歡頌。真先得我心者矣。迨劉河間傷寒直格。於熱病每多入理深談。然混在正傷寒中。在人眼光采擇。不免金屑雜於泥沙者歟。至明季方中行著傷寒條辨。可謂直登仲景之堂。獨開生面。惜其論溫熱。亦分陰分陽。似可用熱。遂為嘉言所宗。嗟乎。病名溫熱。自需寒涼。乃千百年來。盈庭聚訟。先後支吾。陽春寡和於漢庭。塤篪迭奏於晉室。良由來派不清。復無面牆體認。誠習焉而不察耳。不然。豈諸公各自名家。乃甘悖聖矩如是耶。若夫夏月暑證。即金匱中濕暍氣蒸之病也。潔古東垣。以動靜分陰陽。動而得之為陽。用白虎。靜而得之為陰。用大順、冷香諸劑。豈知夏月杲杲炎威。有陽無陰。動靜不甚相遠。惟多食冰果冷物。及恣意房幃。致傷太陰少陰者。熱藥可以暫用。豈得視溫熱之味。為通行之藥乎。漕憲北海林夫子。為一代偉人。醫學宗匠。俊立雪程門。三五年間。極蒙提命。因授所刻明計部張鳳逵治暑書。申明理蘊。精確不磨。雖有小疵。不掩大德。誠可振聾瞶於千古者也。至叔和云四時不正之氣。感則為疫。不知非時不為厲氣。僅為寒疫。而大疫之沿門闔境。傳染相同者。允在兵荒之後。屍濁穢氣。充斥道路。人在氣交。感之而病。氣無所異。人病亦同。所以月令於孟春。掩骼理胔。不敢或後者。聖王早慮及此耳。非徒澤及枯骨也。後世治疫之法。未有定見。如嘉言上焦如霧。升逐解毒。中焦如漚。疏逐解毒。下焦如瀆。決逐解毒。俟其營衛既通。乘勢追拔。勿使潛滋暗長於未盡之時。此固不易之論。然求其反復盡義。變態直窮。老長吳又可之言。別無依傍也。俊幸生明備。不安苟且。日引光明之藏。志披榛莽之途。輯仲景傷寒論。三注金匱。補註之餘。先將溫熱暑疫四證。釐訂經文。採集方論。無背聖法。有合病情。各自成帙。蒙藩憲丁夫子。因戊午年時疫盛行。憫編戶之疾苦。如恫瘝之乃身。遂下詢疫所自始。與所為治。惻然嘆曰。嗟乎。安得明此理者數十輩。循行救治。俾在火輪火樹。夢魘心迷者。一旦提置冰山雪寶之中。奚止飲醍醐而稱快哉。命急付棗。以公同志。</p>
<p><u>康熙己未辜月吳門周揚俊禹載識</u></p>

<h1>卷一·溫病方論</h1>
<p>太陽病發熱而渴。不惡寒者。為溫病。</p>
<p>周注。溫病由伏邪自內發出。一達於外。表裡俱熱。熱勢既壯。郁邪耗液。故發而即渴。其表本無邪郁。內方喜寒。故不惡寒。延至三五日間。或腹滿。或下利者。即此證也。與傷寒之先表后里者大異。然獨系太陽。以未顯他經之證。明自少陰發出為表裡也。</p>
<p>若發汗已。身灼熱者。名曰風溫。風溫為病。脈陰陽俱浮。自汗出。身重多眠睡。鼻息必鼾。語言難出。若被下者。小便不利。直視失溲。若被火者。微發黃色。劇則如驚癇。時瘛瘲。若火熏之。一逆尚引日。再逆促命期。方注。灼熱。謂熱轉加甚也。風溫。謂於溫病有風也。陰陽俱浮。太陽本浮。而風溫皆陽。故上下皆見浮也。自汗出。亦衛受傷也。身重多眠睡。鼻息必鼾。語言難出者。風擁則氣昏。熱甚則氣鬱也。小便不利者。太陽主膀胱。而風溫皆陽。下則反攻。徒亡其津液。而膀胱之氣傷也。直視者。太陽之筋。支者為目上綱。故不轉睛而上竄也。失溲。言小便甚失其常度也。火。灸熨之類也。微。言攻之微。則變亦微。發黃者。火熱則土燥。故其色外奪也。劇。言攻之劇。則變亦劇。如驚癇時瘛瘲者。火盛熱極而生風也。熏。亦火劫也。一逆。言乍誤也。尚引日。言猶可俄延。再逆。言復誤也。促命期。言夭枉人之天年。其致警之意深矣。</p>
<p>周注。此條緊承上文云。若發汗已。身灼熱者。名曰風溫。是仍太陽病溫。誤發其汗。與更感於風者自是不同。然亦名風溫何也。既曰太陽。不即顯少陰證。惟誤汗則其證本溫。復以辛熱之藥汗之。則陰津外出。表裡增熱。脈必至尺寸俱浮。正以風與溫混。腎水不能獨沉。其證自汗身重。腎本病也。多眠睡。鼻息鼾。語言難。腎本病也。始先太陽。因汗使少陰之候同時薦至。危且殆矣。古律垂戒云。風溫治在少陰。不可發汗。發汗者死。豈知太陽亦不可發汗。發汗則亦同於風溫之少陰乎。緣醫者誤認為傷寒。而用正汗藥也。若不汗而誤下者。傷膀胱之氣化。小便不利。津液大傷。直視失溲。一腑一臟。同時兩絕矣。至誤被火劫者。微則熱傷營氣。而熱瘀發黃。劇則熱甚風生。而驚癇瘛瘲。蓋因亂其神明。擾其筋脈也。然則於三者之中。一逆已待斃。再犯則立危矣。喻嘉言論內經刺熱論溫。首引太陽之脈色榮顴骨。榮未交。曰今且得汗。待時而已。與厥陰爭見者死。期不過三日。其熱病內連腎。少陽之脈色榮頰前。榮未交。曰今且得汗。待時而已。與少陰脈爭見者死。互言得汗。非發汗也。故聖人專論穀氣。腎中精勝。乃汗則生。腎中虛甚。更熱則死。其旨至矣盡矣。仲景復出不盡之臟。更視膀胱以緯之。視小便不利。則膀胱傷甚。直視失溲。命門所藏之精不能照物。神髓涸矣。瞳子高為太陽不足。戴眼為太陽已絕。已絕者。其足不可屈伸。是以中風暴病。多絕膀胱。不識人者。風溫扼要。首視膀胱。未有膀胱不絕。而腎水先絕者也。</p>
<p>太陽與少陽合病。自下利者。與黃芩湯。若嘔者。黃芩加半夏生薑湯主之。</p>
<p>周注。黃芩湯。治溫本藥也。明言太少二陽。何不用二經藥。非傷寒也。傷寒由表入里。此則自內發外。無表何以知太少二陽。或脅滿。或頭痛。或口苦引飲。因不惡寒而即熱。故不得謂之表也。如傷寒合病。皆表病也。今不但無表。且有下利里證。傷寒協熱利。必自傳經而入。不若此之即利也。溫何以即利。外發未久。內郁已深。其人中氣本虛。豈能一時盡泄於外。勢必下走作利矣。</p>
<p><u>黃芩湯</u></p>
<p>黃芩（三兩）　甘草（二兩炙）　芍藥（二兩）　大棗（十二枚擘）</p>
<p>上四味。以水一斗。煎取三升。去滓溫服一升。日再服。夜一服。若嘔者。加半夏半升。生薑三兩。</p>
<p><u>黃芩加半夏生薑湯</u></p>
<p>黃芩（三兩）　甘草（二兩）　芍藥（二兩）　大棗（十二枚擘）　半夏（半升）　生薑（三兩）</p>
<p>上六味。以水一斗。煮取三升。去滓溫服一升。日再服。夜一服。</p>
<p>周注。黃芩滌熱。故為溫利主藥。以能泄熱也。然用芍藥者。性酸寒，深入陰分。一泄一收。熱去而利止耳。取甘、棗者。和中也。膀胱與膽。二腑既病。胃無獨安之理。至有嘔。明有痰飲結聚。非薑、半不除。薑、半辛燥。非伏氣所宜。而去嘔則有殊功也。況以芩為君。又何畏乎。</p>
<p>三陽合病。脈浮大。上關上。但欲眠睡。目合則汗。</p>
<p>方注。太陽脈浮。陽明脈大。關上乃少陽之部位。故曰三陽合病。但欲眠睡者。熱聚於膽也。目合則汗者。少陽少血。虛則不與陽和。寐屬陰。故盜汗出也。</p>
<p>周注。溫氣發出。乃至三陽皆病。其邪熱溷實。不言可知。故其脈浮大也。憶邪伏少陰時。則尺脈亦已大。今因由內發外。由下達上。而浮大見於關以上。故曰上關上也。邪雖上見陽位。少陰之源未靖。則欲眠尚顯本證。而目合則汗。即為盜汗。又顯少陽本證。何以獨見少陽。因母虛子亦虛。而少陰邪火與少陽相火。同升燔灼也。所以稍異熱病者。但目合則汗。不似熱病之大汗不止也。然何以不言太陽陽明二經證。以浮為太陽經脈。大為陽明經脈也。治法當以小柴胡去人參、薑、半。加芍藥為主。</p>
<p>師曰。伏氣之病。以意候之。今月之內。欲有伏氣。假令舊有伏氣。當須脈之。若脈微弱。當喉中痛似傷。非喉痹也。病人云。實咽中痛。雖爾。今復欲下利。</p>
<p>周注。於伏氣之時。見伏氣之病。而脈得微弱。則是少陰脈也。其人腎氣虛者。不及於陽。而即發於陰。以少陰脈本循喉也。故將發必咽痛。至發後則痛極似傷矣。豈可認為痹證。而誤治耶。然咽痛勢已發於上。殊不知腎司開闔。陰熱上升。豈遂盡泄。故必疾趨後陰。而下利可預知也。</p>
<p>少陰病二三日。咽痛者。可與甘草湯。不瘥者。與桔梗湯。</p>
<p>周注。伏氣發出少陰之經。必咽痛者。不必言矣。先與甘草湯。以緩其上升之勢。更與桔梗湯。以開其怫鬱之邪。亦不必言矣。但伏氣為重證。少陰為至虛。仲景輕輕先試。不用黃芩本湯者。夫豈無故。以才發少陰。止見咽痛。無胸滿心煩等症也。無下利嘔渴等症也。欲用他藥。從何入手。故二三日間。姑就咽痛。連舉二湯。使服之痛止。則少陰之邪。先已去其大半。後有證見。隨之投藥。此聖人明示不可妄治之道也。</p>
<p><u>甘草湯</u></p>
<p>甘草（二兩）</p>
<p>上一味。以水三升。煮取一升半。去滓溫服七合。日二服。</p>
<p>周注。少陰之脈循喉嚨。邪熱客之。能無痛乎。正挾少陰之火上升也。主甘草者。甘能治熱火也。</p>
<p><u>桔梗湯</u></p>
<p>桔梗（一兩）　甘草（二兩）</p>
<p>上二味。以水三升。煮取一升半。去滓分溫再服。</p>
<p>周注。設服前湯而不除。非藥之不勝病也。正以少陰之火挾邪上攻。則並其母亦病。故加桔梗開之。而自無不愈矣。</p>
<p>少陰病。得之二三日以上。心中煩不得臥。黃連阿膠湯主之。</p>
<p>周注。伏邪未發。津液先已暗耗。今得之二三日以上。雖陰火不升。未見咽痛等證。而心煩不臥。已知陰血消耗。故令芩、連祛熱。膠、芍滋陰。兩得之矣。</p>
<p><u>黃連阿膠湯</u></p>
<p>黃連（四兩）　黃芩（二兩）　芍藥（二兩）　雞子黃（二枚）　阿膠（三兩）</p>
<p>上五味。以水五升。先煮三物。取二升。去滓內入膠。烊盡小冷。內雞子黃。攪令相得。溫服七合。日三服。</p>
<p>周注。裡熱當祛之。內燥須滋之。然滋之而即得其潤。祛之而適滌其熱。惟聖人合宜也。心煩故主黃連。佐以黃芩。則肺胃之邪俱清。然熱甚以消少陰之水。水源既燥。津液有不匱乏者乎。雞子黃、阿膠。深益血分之味。以滋其陰。連、芩得此。功莫大焉。況加芍藥以斂消爍之心氣。兼以入肝。遂使煩者不煩。不臥者臥矣。</p>

<h2>春溫集補證治並方</h2>
<p>凡溫病發。必渴而煩擾。脅滿口苦。惡熱而不惡寒。明系自內發出。更無表證。雖經絡不同。必先少陽。以春行風木之令也。</p>
<p>一法。少陽陽明合病。里證多者。承氣湯。</p>
<p>一法。三陽合病。大柴胡湯。或雙解散。</p>
<p>一法。若少陽經有客邪而發。脈弦兩額旁痛。寒熱口苦。宜小柴胡去人參、薑、半。加栝蔞根。有嘔者但去人參。</p>
<p>一法。脈微緊。兼惡寒頭痛。宜梔子豉湯。或益元散加蔥、豉、薄荷。熱甚涼膈散。去大黃、朴硝。加蔥、豉。</p>
<p>一法。頭痛如破。暴感外邪。宜葛根蔥白湯。散邪後。用黃芩湯。</p>
<p>一法。脈洪大而數。外熱譫語。熱在三焦也。三黃石膏湯。</p>
<p>一法。凡應下證。下後熱不去。或暫解復熱。再下之。</p>
<p>一法。下後熱不止。脈澀咽痛。胸滿多汗。熱傷血分也。葶藶苦酒湯吐之。</p>
<p>一法。裡熱已甚。陽邪怫鬱。作戰而不能汗出。雖下證未全者。宜涼膈散。</p>
<p>一法。腹滿煩渴。脈沉實者。三承氣湯選用。勢劇者。合黃連解毒湯。</p>

<h3>附風溫</h3>
<p>一法。倘溫病少陰伏邪發出。更感太陽客邪。名曰風溫。必陽脈浮滑。陰脈濡弱。發熱。咽痛口苦。但微惡寒者。黃芩湯。加桂枝、石膏。或以蔥、豉先撤其外。後用黃芩湯。甚則葳蕤湯加減。</p>
<p>一法。本太陽病。發熱而渴。誤發汗。身灼熱者。亦名風溫。脈陰陽俱浮如前證。用麻黃升麻湯。去二麻、薑、術。按誤汗風溫一證。仲景不出方者。以為太陽少陰同時薦至。危於兩感。去生甚遠也。</p>

<h3>附冬溫</h3>
<p>一法。冬時有非節之暖。未至而至。即為不正之氣。獨冬不藏精之人。腎氣外泄。腠理不固。溫氣襲人。感之為病。此為冬溫。脈必寸洪尺數。或實大。心煩嘔逆。身熱不惡寒。或頭疼身重。面腫咳嗽。咽痛下利。與溫無異。而時令不同也。宜陽旦湯。加桔梗、茯苓。</p>
<p>一法。若有寒食停滯。加厚朴溫藥一味。以溫散其中。黃芩涼解其外。即仲景陰旦湯之意也。</p>
<p>一法。若先感溫氣。即被嚴寒遏抑。則發熱而微畏寒。汗不出而煩擾。陽旦加麻黃、石膏發之。</p>
<p>一法。醫視冬溫。每有誤認傷寒。辛熱發汗。致令發斑成毒者。當以升麻葛根湯。加犀角、黑參。或犀角黑參湯。</p>
<p>一法。更有辛熱發汗。徒耗津液。裡熱益甚。胸腹滿悶。因誤用下藥。反發熱無休止。脈來澀。此陰血受傷也。急宜葶藶苦酒湯探之。以收陰氣。泄邪熱。若服後熱勢轉劇。神氣昏憒。譫語錯亂者。必不救也。冬溫為病。亦自不一。當各隨見證治之。凡冬溫之毒。大便泄而譫語。脈虛小。手足冷者。皆不治也。</p>

<h3>附溫瘧</h3>
<p>一法。春時溫病未愈。適復感寒。忽作寒熱者。溫瘧也。陰陽例云。脈陰陽俱盛。重感於寒。變為溫瘧。其證寒熱交作。胸脅滿。煩渴而嘔。微惡寒者。小柴胡去參、半。加栝蔞根、石膏。</p>
<p>一法。無寒但熱。其脈平。骨節煩疼。時嘔者。黃芩加生薑湯。至如內經所言。先熱後寒之溫瘧。乃得之冬中於風。寒氣藏骨髓之內。至春陽氣大發之時。邪氣不能自出。因遇大暑。腦髓爍。肌肉消。腠理發泄。或有勞力。邪氣與汗共並而出。此病藏於腎。自內達外者也。如是則陰氣虛而陽邪盛。故為熱。熱盛則必衰。衰則氣反而復入。入則陽虛。陽虛則又寒矣。故先熱後寒。名曰溫瘧。治宜人參白虎湯。</p>
<p>周禹載曰。或有客邪。則必先微惡寒。繼大熱。熱而後大寒者也。本湯中略用桂枝。此伏邪自發之溫瘧。與溫病復感外邪之溫瘧。自是兩種。</p>

<h3>附溫毒發斑</h3>
<p>（熱病發斑同此）</p>
<p>發斑因失於汗下。熱毒內攻。不得散。蘊於胃腑。而發出肌表。或汗下不解。足冷耳聾。胸中煩悶。咳嗽嘔逆。躁熱。起臥不安者。便是發斑之候。春至溫病之人。更遇時熱。為未至而至之異氣。變為溫毒。王叔和云。陽脈洪數。陰脈實大。更感溫濕。變為溫毒。伏溫與時熱交併。表裡俱熱。溫熱為病最重也。其脈浮沉俱盛。其證心煩悶。嘔逆喘咳。甚則面赤。身體俱赤色。狂亂躁渴。咽腫痛。狂言下利而發斑。</p>
<p>最為危候。斑如錦紋。身熱煩躁。大便燥結者。黃連解毒湯。</p>
<p>若躁悶狂妄而無汗者。三黃石膏湯。</p>
<p>自汗煩渴而發斑。為胃熱。人參化斑湯。</p>
<p>煩熱錯語不眠。白虎合黃連解毒湯。</p>
<p>斑不透。犀角大青湯。已透熱不退。本湯去升麻、黃芩。加人參、生地黃、柴胡。凡斑色紫者為危候。黃連解毒合犀角、地黃。然須與病家言過而用。以此證雖藥。十中僅救二三。若黑色而下陷者。必死也。</p>
<p>發斑雖禁下。若大便秘。躁渴色紫者。可微下之。</p>
<p>若發斑已盡。外勢已退。內實不大便譫語。小劑涼膈散。或大柴胡微下之。</p>
<p>凡發斑紅赤者為胃熱。紫為胃傷。黑為胃爛也。大抵鮮紅起發者吉。雖大不妨。稠密成片紫色者。半死半生。雜色青紫者。十死不一生矣。凡斑既出。須得脈洪數有力。身溫足暖者易治。若脈小足冷。元氣虛弱者難治。狂言發斑。大便自利。或短氣燥結不通。而黑斑如果實黶者。皆不治。</p>

<h3>附醫案三則</h3>
<p>許叔微治一人。內寒外熱而發斑。六脈沉細。肩背胸脅斑出數點。隨出隨隱。旋更發出。語言狂亂。乃陽為陰逼。上入於肺。轉之皮毛。故錯亂如狂。非譫語也。肌表雖熱。以手按之。須臾冷透如冰。與薑、附等藥數劑。乃大汗而愈。</p>
<p>滑伯仁治一人。身大熱。脈沉實而滑。四末微清。以燈燭之。遍體皆赤斑。舌上苔黑。而燥裂芒刺。神昏譫語。以小柴胡加知母、石膏。一夕連進三服。次用大承氣下之而安。</p>
<p>呂滄州治一人。脈虛自汗。誤與真武湯。遂至神昏。時時熟睡。脈伏不至。而肌熱灼指。此營熱致斑之候。非陽病陰脈之比。先與白虎加人參湯化其斑。復以桃核承氣下之而愈。</p>
<p>周禹載曰。發斑之證。已致慎其下。及用辛熱。更無是理。而病情之變。復有如三案者。可見病機不可執一。妙在臨證化裁耳。故附之。以廣識見云。</p>

<h2>春溫病論</h2>
<p>周禹載曰。喻嘉言尚論篇。闡發仲景傷寒論殊暢也。醫門法律。闡發金匱要略殊貫也。雖皆有所粉本。然學廣才張。心靈筆古。以各成其妙者也。至尚論溫病云。會內經之旨。以發仲景不宣之秘。且謂仲景略於治溫。而法度錯出於治傷寒中。因內經云。冬傷於寒。春必病溫。此一大例也。冬不藏精。春必病溫。此一大例也。既冬傷於寒。又冬不藏精。至春月同時病發。此一大例也。奉此三例以論溫證。而詳其治。然後與仲景三陽三陰之例先後合符。蓋冬傷於寒。邪藏肌膚。即邪中三陽之謂也。冬不藏精。邪入陰臟。即邪中三陰之謂也。嘉言之論如此。予謂溫病無陰陽之分也。何也。冬有溫氣。先開發人之腠理。而寒得以襲之。所謂邪之所湊。其氣必虛。惟不藏精之人而後虛也。虛則寒傷其經。經必少陰者。以少陰臟本虛也。然所傷原微。且冬月大水當令。其權方盛。微邪不敢抗衡。但臥榻之側。豈容他人鼾睡。惟有阻彼生意。暗爍精髓。至於春。時強木長。而水不足以供其資。始則當春而溫。木旺水虧。所郁升發。火氣燔灼。病溫而已矣。其所傷者寒也。所病者溫也。所伏者少陰也。所發者少陽也。故病必有陽而無陰。藥必用寒而遠熱。黃芩湯其主治也。則嘉言之論溫。有陰有陽。如傷寒三陰經可用辛熱者。予曰。否否。不然也。</p>
<p>又曰。冬傷於寒。春必病溫。是言所感者本寒也。王叔和云。從立春節後其中無暴大寒。又不冰雪。有人壯熱為病者。此屬春時陽氣發外。冬時伏寒。變為溫病。此亦明言寒也。變字大妙。嘉言以為非。予獨以為確。寒氣內伏。郁久而發。自成熱矣。傷寒寒也。暫襲營間。不久而為大熱。況遲之又久耶。為熱乃自然之理。但不言變。不足以教天下也。然何以不言熱而言溫。以春行溫令故也。如李明之所云。冬傷於寒者。冬行春令也。當冬而溫。火勝而水虧矣。水既虧。則所勝妄行。土有餘也。所生受病。金不足也。所不勝者侮之。火太過也。火土合德。濕熱相助。故為溫病。然由明之所言。是冬溫而感之即病者也。非伏寒也。非變也。不然。必無冬溫一證也而後可。既有冬溫。則有是氣。已有是證矣。由其言以悉冬溫。便可垂論不磨。若論春溫。不免貽昧千古矣。經曰。逆冬氣則少陰不藏。不藏則寒邪得而入之。傷於肌膚。伏於骨髓。始知冬為藏精之時。惟逆冬氣。遂使少陰之經氣不閉。復遭非時之暖。致令開泄。忽然嚴寒驟返。不免受傷。故受傷者。仍是寒邪也。因先被溫令開泄。似乎喜寒。且所傷不甚。故不即病。而潛伏於少陰也。然所以不病於冬而病於春者。正因水在冬為旺時。邪伏於經。且俯首而不敢抗。內郁既久。已自成熱。至行春令。開發腠理。陽氣外泄。腎水內虧。至春三月。而木當生髮。孰為鼓舞。孰為滋養。生化之源既絕。木何賴以生乎。身之所存者溫也。時強木長。故為溫病。余故以彼論冬時之感溫非是。而此論冬月之伏寒最精。愚性甚拙。何敢好議先賢。但以為必如此。方與冬溫兩不相阻。且與仲景論溫熱。必推本自始。動曰傷寒之旨無悖云耳。</p>
<p>門人問曰。傷者寒也。何以病溫。答曰。傷寒非病寒乎。而何以熱也。寒鬱營間。不一二日而成大熱。況伏藏於內者數十日之久耶。夫既邪傷肌肉。何以得入少陰經中。蓋惟不藏精則少陰先病。故邪傷者少陰也。春屬木。則自內發出。無論兼太陽或陽明。總無不由少陽何也。彼少陽行春令也。然既從少陰矣。何仲景專云太陽病。蓋太陽與少陰相表裡也。故以發熱為太陽也。曰不惡寒。明無表症也。則其熱自內出。無外邪郁之也。然則仲景復言太少合病者。見發熱不惡寒。或兼有耳聾脅滿證也。言三陽合病者。以脈大屬陽明。而多眠則熱聚於膽也。不言法者。總以黃芩湯為主治也。乃嘉言復謂有發表三五次而外證不除。攻裡三五次而里證不除。以為在表也又似在裡。以為在裡也又似在表。此溫疫證。感天地人濕氣熱氣屍氣。邪入口鼻。溷淆三焦者相近。與春溫全不相涉也。愚故及之。以破後學之惑。</p>
<p>門人復問曰。春溫亦間有一二表症者乎。曰有之。伏氣之病。雖感於冬。然安保風之傷人。不在伏氣將發未發之時乎。但兼外感者。必先頭痛。或惡寒而後熱不已。此新邪引出舊邪來也。或往來寒熱。頭痛而嘔。稍愈後渾身壯熱為病者。此正氣又虛。伏發更重也。總之無外證者。以黃芩湯為主治。兼外感者。必加柴胡。或以本經藥輕解。必無發汗之理。故仲景云。發汗已身灼熱者。名曰風溫。謂誤用辛熱之藥。既辛散以劫其陰。復增熱以助其陽。遂使熱更熾。脈俱浮。有如此之危證也。以及誤下誤火。嚴加戒諭者。舍黃芩湯別無治法也。</p>

<h2>溫熱病脈論</h2>
<p>溫病熱病之脈。或見浮緊者。乃重感不正之暴寒。寒邪束於外。熱邪結於內。故其脈外繃急而內洪盛也。或不識脈形。但見弦脈。便呼為緊而妄治之。蓋脈之盛而有力者。每每兼弦。豈可錯認為緊而誤以為寒乎。夫溫熱病之脈。多在肌肉之分。而不甚浮。且右手反盛於左手者。誠由怫鬱在內故也。其左手盛或浮者。必有重感於風寒。否則非溫熱病。自是非時暴寒耳。</p>
<p>溫熱病亦有先見表證。而後見里證者。蓋怫鬱自內達外。熱鬱腠理之時。若不用辛涼發散。則邪不得外泄。遂還里而成可攻之證。非如傷寒從表而始也。或有不悟此理。乃於春夏溫熱病而求浮緊之脈。不亦疏乎。</p>

<h2>溫病方五道</h2>
<p><u>黃芩湯</u>　<u>黃芩加半夏生薑湯</u>　<u>甘草湯</u>　<u>桔梗湯</u>　<u>黃連阿膠湯</u>（方俱見前）</p>

<h3>附集方二十九道</h3>
<p><u>小承氣湯</u></p>
<p>大黃（四兩去皮）　厚朴（二兩炙）　枳實（三枚炙）</p>
<p>上三味。以水四升。煮取一升二合。去滓分溫二服。</p>
<p><u>大承氣湯</u></p>
<p>大黃（四兩去皮酒洗）　芒硝（三兩）　厚朴（八兩炙）　枳實（五枚炙）</p>
<p>上四味。以水一斗。先煮枳樸。取五升去滓。內大黃。煮取二升。去滓內芒硝。更上微火一二沸。溫再服。</p>
<p><u>調胃承氣湯</u></p>
<p>大黃（四兩清酒洗）　甘草（二兩炙）　芒硝（半升）</p>
<p>上三味㕮咀。以水三升。煮取一升。去滓內芒硝。更上微火煮令沸。少少溫服之。</p>
<p><u>大柴胡湯</u></p>
<p>柴胡（八兩）　黃芩（三兩）　半夏（半升洗）　芍藥（三兩）　枳實（四枚炙）　生薑（五兩切）　大棗（十二枚擘）　大黃（二兩去皮酒洗）</p>
<p>上八味。以水一斗二升。煮取六升。去滓再煎。溫服一升。日三服。</p>
<p><u>雙解散</u></p>
<p>麻黃（去節）　防風　當歸　川芎　薄荷　芍藥　連翹　大黃（酒洗）　芒硝（各半兩）　石膏（碎）　黃芩（酒洗）　桔梗（各一兩）　荊芥　山梔　白朮（薑汁拌生用）　甘草（各二兩炙）　滑石（三兩）</p>
<p>上為散。每服三錢。加生薑三片。水煎。去滓溫服。</p>
<p><u>小柴胡湯</u></p>
<p>柴胡（八兩）　黃芩（三兩）　人參（三兩）　半夏（八兩洗）　甘草（三兩炙）　生薑（三兩切）　大棗（十二枚擘）</p>
<p>上七味。以水一斗二升。煮取六升。去滓再煎。取三升。溫服一升。日三服。</p>
<p><u>梔子豉湯</u></p>
<p>梔子（十四枚擘生用）　香豉（四合綿裹）</p>
<p>上二味。以水四升。先煮梔子。得二升半。內豉煮取一升半。去滓分二服。溫進一服。</p>
<p><u>益元散</u></p>
<p>桂林滑石（六兩）　生甘草（一兩）</p>
<p>上為末。每服三錢。溫水或新汲水調服。取汗加香豉、薄荷。安神加硃砂。止泄加炮姜。消斑加青黛。</p>
<p><u>涼膈散</u></p>
<p>連翹　梔子　薄荷　黃芩　大黃（各五錢酒洗）　芒硝（二錢半）　甘草（一兩半炙）</p>
<p>上為末。每服五錢。水一碗半。煎一碗。去滓。入白蜜一匙。微煎溫服。一方無薄荷。加芍藥、大棗、蔥白。</p>
<p><u>葛根蔥白湯</u></p>
<p>葛根　芍藥　知母（各一錢半）　川芎（二錢）　生薑（二片）　蔥白（五寸連須）</p>
<p>上六味。水煎溫服。　本方去知母。加甘草、大棗。名增損葛根蔥白湯。治感冒風寒頭痛。</p>
<p><u>三黃石膏湯</u></p>
<p>黃連（酒洗）　黃芩（酒洗）　黃柏（各二錢酒洗）　石膏（五錢碎）　麻黃（一錢去節泡）　梔子（二十枚碎）　香豉（一合）　生薑（二片）　蔥白（三莖）</p>
<p>上用地漿水澄清煎服。半日許不得汗解。再服。</p>
<p>如脈數便閉。上氣喘急。舌卷囊縮者。去麻黃、香豉。加大黃、芒硝。捶法加細茶一撮。</p>
<p><u>葶藶苦酒湯</u></p>
<p>葶藶（三錢研搗取汁）　苦酒（三合即米醋）　生艾汁（一合如無干艾浸搗）</p>
<p>上水煎作三服。探吐取汗。</p>
<p><u>黃連解毒湯</u></p>
<p>黃連（酒洗）　黃芩（酒洗）　黃柏（酒洗）　梔子（各一錢半）</p>
<p>上四味。水煎。溫服無時。</p>
<p><u>葳蕤湯</u>（治風溫）</p>
<p>葳蕤（一錢五分）　石膏（二錢碎）　白薇　麻黃（去節泡）　川芎　葛根　羌活　甘草（炙）　杏仁（去皮尖）　青木香（各一錢）</p>
<p>上十味。水煎。日三服。</p>
<p><u>麻黃升麻湯</u>（治誤汗風溫須去二麻薑朮）</p>
<p>麻黃（二兩半去節）　升麻（一兩一分）　當歸（一兩一分）　知母　黃芩　葳蕤（各十八銖）　天門冬（去心）　芍藥　乾薑　白朮　茯苓　甘草（炙）　桂枝　石膏（各六銖碎綿裹）</p>
<p>上十四味。以水一斗。先煮麻黃一二沸。去上沫。內諸藥。煮取三升。去滓。分溫三服。相去如炊三斗米頃令盡。汗出愈。</p>
<p><u>栝蔞根湯</u>（治風溫無大熱而渴）</p>
<p>栝蔞根（一錢）　石膏（三錢碎）　葛根（一錢五分）　防風　人參　甘草（各五分炙）</p>
<p>上六味。水煎。溫服無時。</p>
<p><u>陽旦湯</u>（治冬溫）</p>
<p>桂枝（三錢）　芍藥（酒焙）　甘草（各二錢炙）　黃芩（二錢酒炒）　生薑（三片）　大棗（三枚擘）</p>
<p>上六味。水煎。溫服無時。頭疼咳嗽。咽痛下痢。加桔梗、茯苓。寒食停滯。加厚朴。發熱畏寒。加麻黃、石膏。</p>
<p><u>升麻葛根湯</u></p>
<p>升麻　葛根　芍藥（酒洗）　甘草（各一錢半炙）</p>
<p>上四味。水煎。溫服無時。</p>
<p><u>犀角黑參湯</u></p>
<p>犀角（鎊）　黑參（各二錢）　升麻　射干　黃芩　人參（各一錢）　甘草（八分）</p>
<p>上七味。水煎。溫服無時。</p>
<p><u>小柴胡去參、半加栝蔞湯</u>（即前小柴胡湯去人參半夏加栝蔞根四兩）</p>
<p><u>黃芩加生薑湯</u>（即前黃芩湯加生薑一兩半）</p>
<p><u>白虎加人參湯</u>（方見後熱病以上三方治溫瘧）</p>
<p><u>白虎合黃連解毒湯</u>（即前黃連解毒湯合後白虎湯）</p>
<p><u>犀角大青湯</u></p>
<p>犀角（二錢鎊）　大青（一錢五分）　黑參　升麻　黃連　黃芩　黃柏　梔子（各一錢）　甘草（八分）</p>
<p>上水煎。熱服無時。如脈虛熱甚。本方去芩、柏、升麻。加人參、生地、柴胡。名消斑青黛飲。</p>
<p><u>黃連解毒合犀角地黃湯</u></p>
<p>黃連（酒洗）　黃芩（酒洗）　黃柏（酒洗）　梔子（各一錢半）　犀角（磨水更佳鎊屑亦可）　生地黃（酒浸搗）　牡丹皮　芍藥（各二錢）</p>
<p>上先以七味水煎。去滓。入地黃再煎數沸。濾清。加藕節汁、側柏汁。並磨好墨少許。攪令黑。服之。</p>
<p><u>調中飲</u></p>
<p>蒼朮（二錢泔水浸麻油炒）　白朮（生）　厚朴（薑汁炒）　陳皮　甘草（炙）　枳實（炒）　神麯（炒）　黃連（各一錢薑汁炒）　山楂（二錢薑汁炒）　草果（八分）　炮姜（五分）</p>
<p>上水煎去滓。磨木香汁少許調服。　如腹痛加桃仁。痛甚便秘加大黃。口乾加省頭草。</p>
<p><u>理中去朮加附子藿香升麻橘皮湯</u></p>
<p>人參　甘草（炙）　乾薑　附子（炮）　藿香　升麻　陳皮（等分）</p>
<p>上水煎。溫服無時。</p>
<p><u>補中益氣湯</u></p>
<p>人參　白朮（炒）　黃耆（炙）　甘草（各一錢半炙）　當歸（一錢）　陳皮（五分）　升麻　柴胡（各三分）</p>
<p>上八味。加薑、棗。水煎溫服。</p>
<p><u>通脈四逆湯</u></p>
<p>甘草（二兩炙）　乾薑（三兩）　附子（一枚生用去皮切八片）</p>
<p>上三味。以水三升。煮取一升二合。去滓。分溫再服。其脈即出者愈。面色赤者加蔥九莖。腹中痛者去蔥加芍藥二兩。嘔者加生薑二兩。咽痛者去芍藥加桔梗一兩。利止脈不出者。去桔梗加人參二兩。</p>

<h1>卷二·熱病方論</h1>
<p>傷寒脈浮滑。此表有熱。里有寒。白虎湯主之。</p>
<p>方注。浮者風也。言不獨傷於寒也。滑為裡熱。以滑且浮。知熱不獨在裡也。故指言此表有熱。蓋表裡俱熱之謂也。里有寒者。里字非對表而稱。以熱之裡言。蓋傷寒之熱。本寒因也。故謂里有寒。指熱之所以然者言也。夫表裡皆熱。欲兩偕而解之。誠哉極其難也。譬如夏秋兩屆之間。燥熱酷甚。非金風之薦涼。則毒暑不解也。</p>
<p>又注。世本作表有熱。里有寒。必系傳寫之誤。夫白虎本為治熱病暑病之藥。其性大寒。安得里有寒者可服之理。詳本文脈浮滑。不但無緊。且復多滑。乃陽氣盛而鬱蒸。此里有熱也。裡熱甚。必格寒於外。多厥逆身涼。而為亢害之證。此表有寒也。厥陰篇中脈滑而厥者。里有熱也。白虎湯主之。則知此表裡二字。為錯誤可知。當為上下更易。</p>
<p>周注。熱病皆傷寒伏邪也。至發則但熱矣。乃仲景仍以傷寒揭之者。所謂樂樂其所自生。禮不忘其本也。</p>
<p><u>白虎湯</u></p>
<p>知母（六兩）　石膏（一斤碎）　甘草（二兩）　粳米（六合）</p>
<p>上四味。以水一斗。煮米熟湯成。去滓。溫服一升。日三服。</p>
<p>方注。白虎者。西方之金神。司秋之陰獸。虎嘯穀風冷。涼生酷暑消。神於解熱。莫如白虎。知母、石膏。辛甘而寒。辛者金之味。寒者金之性。辛甘且寒。得白虎之體焉。甘草、粳米。甘平而溫。甘取其緩。溫取其和。緩而且和。得伏虎之用焉。飲四物之成湯。來白虎之嗥嘯。陽氣者。以天地之疾風名也。風行而虎嘯者。同氣相求也。虎嘯而風生者。同聲相應也。風生而熱解者。物理必至也。抑嘗以此合大小青龍真武而論之。四物者。四方之通神也。而以命名。蓋謂化裁四時。神妙萬世。名義兩符。實自然而然者也。方而若此。可謂至矣。然不明言其神。而神卒莫之掩者。君子盛德。此其道之所以大也。</p>
<p>三陽合病。腹滿身重。難以轉側。口不仁而面垢。譫語遺溺。發汗則譫語。下之則額上生汗。手足逆冷。若自汗出者。白虎湯主之。</p>
<p>周注。此因中暍而引動伏邪齊出。三陽為病極重。腹滿者。熱本病也。身重難以轉側者。濕本病也。若口不仁而面垢。譫語遺溺。則是暍本病矣。惟熱暍相兼。其熱勢尤劇。此時倘復汗之。則津液外亡。而譫語轉甚。若下之。則陰氣下竭。而陽氣上脫。故額上汗而手足逆冷矣。故必仍自汗者。主以白虎。設誤汗下而證如上者。加人參為無疑也。</p>
<p>傷寒脈滑而厥者。里有熱也。白虎湯主之。</p>
<p>周注。滑為邪實。何反至厥。即熱深厥深之義。故特申之曰。里有熱也。裡熱安得不用白虎湯乎。</p>
<p>傷寒脈浮。發熱無汗。其表不解者。不可與白虎湯。渴欲飲水。無表證者。白虎加人參湯主之。</p>
<p>周注。發熱汗出。熱本病也。今脈浮無汗。必因邪風襲表矣。豈可竟與白虎湯乎。故必以辛涼先撤其邪。然後治熱。始為無礙。假使表邪解而煩渴轉甚者。明系因邪以更耗津液。白虎湯固非解表之劑。又豈有助正之功。加人參者。益其元也。元稍益而熱易清矣。</p>
<p>傷寒無大熱。口燥渴。心煩。背微惡寒者。白虎加人參湯主之。</p>
<p>周注。燥渴且煩。為熱證本病。而曰無大熱者。以獨背微惡寒也。背為太陽經位。正氣大虛。故微惡寒。安得不用補正之藥。於本湯中乎。</p>
<p>陽明病脈浮而緊。咽燥口苦。腹滿而喘。發熱汗出。不惡寒反惡熱。身重。若發汗則躁。心憒憒。反譫語。若加燒針。必怵惕煩躁。不得眠。若下之。則胃中空虛。客氣動膈。心中懊憹。舌上苔滑者。梔子豉湯主之。（方見前）若渴欲飲水。口乾舌燥者。白虎加人參湯主之。若脈浮發熱。渴欲飲水。小便不利者。豬苓湯主之。</p>
<p>周注。浮緊傷寒脈也。何以為熱病。以其發於夏。反惡熱不惡寒也。又何以獨言陽明。以夏時濕熱上蒸。邪從胃發。且腹滿而喘。種種皆陽明證也。然咽燥非少陰證耶。不知陽明為從出之途。少陰其伏臟之地也。夫既陽明熱病。曷又為脈反浮緊。正以夏時肌腠本開。人本多汗。邪風襲入。致腠理反閉而無汗。故夏之風脈。每反顯冬之寒脈也。今云汗出而脈亦浮緊者。正因浮甚有力。熱邪盛而致也。若不知者。以辛熱汗之。耗其津液。必至躁妄昏昧。火劫溫針。燥其陰血。必至驚擾無寐。下之必亡其陰。必至胃虛邪陷。心中懊憹。此皆誤治。將何以救之乎。觀舌上苔滑者。則外邪尚在。以梔子解熱。香豉去邪。是為合法。若渴飲水漿。口乾舌燥。知其外邪亦入。總以白虎湯為治。加人參者。以誤治而津液大傷也。設使緊脈去而浮在。發熱飲水。小便不利。則其浮為虛。而熱已入膀胱矣。入膀胱者。曷不飲以四苓。而主以豬苓耶。傷寒之小便不利。結於氣分。熱病之小便不利。由於血分者也。因邪郁既深。耗液日久。故必以阿膠補虛。滑石祛熱。而無取於白朮也。</p>
<p><u>白虎加人參湯</u></p>
<p>知母（六兩）　石膏（一斤碎）　甘草（二兩）　粳米（六合）　人參（三兩）</p>
<p>上五味。以水一斗。煮米熟湯成。去滓。溫服一升。日三服。</p>
<p>周注。口至干。舌至燥。無津液極矣。能生津液而神速者。莫若人參。故加之。</p>
<p><u>豬苓湯</u></p>
<p>豬苓（一兩去皮）　茯苓（一兩）　阿膠（一兩）　滑石（一兩碎）　澤瀉（一兩）</p>
<p>上五味。以水四升。先煮四味。取二升去滓。內下阿膠。烊消盡。溫服七合。日三服。</p>
<p>周注。熱甚膀胱。非水能解。何者。水有止渴之功。而無祛熱之力也。故用豬苓之淡滲。與澤瀉之鹹寒。與五苓不異。而此易白朮以阿膠者。彼屬氣此益血也。易桂以滑石者。彼有表而此為消熱也。然則所蓄之水去。則熱消矣。潤液之味投。則渴除矣。</p>
<p>陽明病。汗出多而渴者。不可與豬苓湯。以汗多胃中燥。豬苓湯複利其小便故也。</p>
<p>周注。渴而小便不利。本當用豬苓湯。然汗多在所禁也。此與傷寒入腑。不令溲數同意。蓋邪出陽明。已劫其津。汗出復多。更耗其液。津液曾幾。尚可下奪耶。當以白虎加人參去其熱。則小便之不利者。津回而自利矣。</p>
<p>傷寒病若吐若下後七八日不解。熱結在裡。表裡俱熱。時時惡風。大渴舌上乾燥而煩。欲飲水數升者。白虎加人參湯主之。</p>
<p>周注。吐下後至七八日不解。知誤治而熱邪不為吐下少衰。反因吐下轉甚。時惡風者。陽外虛也。舌燥而煩渴。飲水至數升者。陰內亡也。舍人參白虎。將何以解其表裡。補其津液耶。</p>
<p>服桂枝湯。大汗出後。大煩渴不解。脈洪大者。白虎加人參湯主之。</p>
<p>周注。桂枝辛熱藥也。熱病本汗。或疑為風。飲以此湯。不更益其熱。而大汗淋漓乎。如是則津液益傷。煩渴益甚。洪大轉增。當與本湯加人參也審矣。</p>

<h2>夏熱集補證治並方</h2>
<p>交夏至後。炎暑司令。相火用事。人有發熱身疼不惡寒。但大熱而大渴者為熱病。仲景以白虎湯為主治。今人以此湯治傷寒者誤也。熱病下發上。內發外。必經陽明。故無論三陽。總以石膏之辛涼。乘勢升散。知母之苦寒。靖少陰伏邪之源。甘草、粳米。維持中氣。一了百當。至傷寒既非其時。復非其病。邪自外來。未入者解表。已入者下奪。石膏本非表藥。又非下藥。即欲解熱。熱何從解。況有知母。引入少陰。為害不淺。理自如此。達者自會。愚不敢好與今人辯也。故除以上見證正方外。補集方治。</p>
<p>一法。熱病之脈本洪大。若見浮緊。是又感夏時暴寒。謂輕舉見緊。略按則仍洪盛。以內伏已發也。治宜通解散。去麻黃、蒼朮。或加蔥白、香豉。或先以連須蔥白香豉湯。減生薑撒其外。後用白虎加人參湯。</p>
<p>一法。熱病凡客邪所感。不論脈浮緊。惡風惡寒。宜解不宜下者。通用雙解散去硝黃。於中加減。如去白朮、芍藥、桔梗二三味。加知母蔥豉最妥。</p>
<p>一法。凡溫病之發。因暴寒者居多。熱病之發。兼暑暍者為盛。若始病見譫語面垢遺溺。背微惡寒者。白虎加人參湯。</p>
<p>一法。若本病兼衄。於本湯中加生地黃、牡丹皮。喘加栝蔞根、厚朴、杏子仁。</p>
<p>一法。若惡熱煩渴腹滿。舌黃燥或黑干。五六日不大便。涼膈散或三一承氣湯。</p>
<p>一法。若本病兼暑濕者。或涼膈合天水散。若小便不利者。竹葉石膏湯倍石膏。</p>
<p>一法。若兼風痰者。用雙解散。煎一大豌。先飲半作探吐。法以引痰出外。再盡劑。微以被覆。令汗出解。蓋用涼藥熱飲。發汗百無一損也。河間制雙解散。子和演為吐法甚妙。</p>
<p>一法。誤用辛溫藥。致發斑譫語。喘滿昏亂者。黃連解毒湯加減。</p>
<p>一法。屢下後熱勢猶盛。不便再下。或諸濕內盛。小便黃澀。大便溏。小腹痛者。欲作利也。宜黃連解毒湯。</p>

<h2>總論溫熱死脈死證</h2>
<p>周禹載曰。內經刺熱云。太陽之脈色榮顴骨。營未交。曰今且得汗。待時而已。與厥陰爭見者。死期不過三日。其熱病內連腎。少陽之脈色榮頰前。熱病也。營未交。曰今且得汗。待時而已。與少陰脈爭見者死。太陽之脈色屬赤。初起時其色止榮顴骨一處。不交他處。純是赤色。曰今且得汗者。謂邪勢漸從外解。即餘證未靖。少待而自解。言無害也。至於厥陰爭見者。死不外三日。是為交已。熱病大熱煩渴汗出。反見厥陰肝經之脈色。爭見赤紫晦滯。已為主死。況爭見青黑之色耶。何者。少陽青色。少陰黑色也。爭見者。命期甚促矣。又評熱病論云。帝問曰。有病溫者。汗出輒復熱。而脈躁疾。不為汗衰。狂言不能食。病名為何。夫帝既曰病溫矣。復曰病名為何者。正欲知病之本於陰陽也。岐伯曰。名陰陽交。交者死。何也。交則不解也。謂人所以汗出者。生於精氣也。精氣者穀氣也。邪正交爭而得汗者。是邪退而精氣勝也。精氣勝則能食而不復熱。復熱者邪勝。則是汗出不為汗衰也。不能食者。精無俾也。病而留。其壽可立而傾也。故熱病曰。汗出脈尚躁盛者死。脈既不與汗應。此不勝病矣。其死必矣。狂言者是失志。失志者死。今見三死。不見一生。雖愈必死也。此段論溫。獨創穀氣之旨。穀氣為精。精氣為汗。故藏精者不病溫。其病溫者。咸不藏精之人也。而有生有死者。不藏精甚與不甚之分也。</p>
<p>二陽搏。病溫者。死不治。雖未入陰。不過十日死。二陽者。手足陽明也。</p>
<p>溫病發於三陰。脈微足冷者難治。</p>
<p>溫病大熱。脈反細小。手足逆冷者死。</p>
<p>溫病初起大熱。目昏譫語。脈小足冷。五六日而脈反躁急。嘔吐昏沉。失血痙搐。舌本焦黑。脈促結代沉小者皆死。</p>
<p>溫病汗後反熱。脈反盛者死。</p>
<p>溫病誤發汗。狂言不能食。脈躁盛者皆不治。（以上春溫死證）</p>
<p>熱病七八日。脈微小。溲血。口中乾。一日半而死。脈代者。一日死。</p>
<p>熱病七八日。脈不躁或躁不散數。後三日中有汗。三日不汗。四日死。</p>
<p>熱病已得汗。脈尚躁。喘且復熱。喘甚者死。</p>
<p>熱病不知痛處。耳聾不能自收持。口乾陽熱甚。陰頗有寒者。熱在髓。死不治。</p>
<p>熱病汗不出。大顴發赤。噦者死。</p>
<p>熱病泄甚。而腹愈滿者死。</p>
<p>熱病目不明。熱不已者死。</p>
<p>熱病汗不出。嘔吐下血者死。</p>
<p>熱病舌本爛。熱不止者死。</p>
<p>熱病咳而衄。汗出不至足者死。</p>
<p>熱病熱而痙者死。腰折瘛瘲齒噤齘也。（以上夏熱死證）</p>

<h3>附濕溫</h3>
<p>活人書云。先傷於濕。又中於暑。名曰濕溫。許學士云。先受暑。後受濕。所言先後感受不同。然濕病則緩。暑中則速。由斯以推。先濕後暑者為確也。其證兩脛逆冷。胸滿頸目痛。妄言多汗。蓋濕得暑邪。遏抑陽氣。故脛冷而腹滿。暑挾濕邪。鬱蒸為熱。故頭痛妄言多汗。其脈陽濡而弱。陰小而急。許學士以關前為陽。關後為陰。紀氏以浮為陽。沉為陰。羅謙甫云。濡弱見於陽部。濕摶暑也。小急見於陰部。暑摶濕也。然濕傷血。則必小急。暑傷氣。則必濡弱。於此加浮為陽。沉為陰者當矣。切不可發汗。汗之名重暍死。治宜白虎加蒼朮湯。如有寒熱外邪。加辛涼表藥一二味。</p>
<p>若濕氣勝。一身盡痛。小便不利。大便反快者。加茵陳、香薷。若有寒物停滯。及中寒宜溫。必小便清白。然後可。如赤澀而少。斷不可用。通宜十味香薷飲。清暑益氣。合天水散。</p>
<p>王宇泰云。昔人治濕溫。通身皆潤。足冷至膝下。腹滿不省人事。六脈皆小弱而急。問所服藥。皆陰病藥也。此非受病重。藥能重病耳。以五苓合白虎十餘劑少蘇。</p>
<p>更與清燥湯調理而安。凡陰病厥冷。兩臂皆冷。今脛冷臂不冷。則非下厥上行。故知非陽微寒厥。而合用祛熱藥也。</p>

<h3>附陽毒發斑</h3>
<p>陽邪亢極。遂成陽毒。亦有誤以辛熱與之而成者。金匱云。陽毒為病。面赤斑斑如錦紋。咽喉痛。唾膿血。五日可治。七日不可治。升麻鱉甲湯主之。</p>
<p>虛熱熾甚。毒不化者。陽毒升麻湯。大便結。去射干。加酒大黃。熱甚去人參。加大青。或吐下未當。陷邪內甚。其證壯熱。頭項強痛。躁悶不安。或狂言罵詈。妄見妄言。或面生斑紋。口吐膿血。或舌卷焦黑。鼻如煙煤。或下利黃赤。六脈洪大而數。犀角黑參湯。黃連解毒湯。慎不可用下藥也。勢甚者。以青布漬冷水。搭病人胸膛必喜。熱即易之。須臾得睡。</p>

<h3>附陰毒發斑</h3>
<p>有陰熱亢極而成陰毒者。金匱云。陰毒之為病。面目青。身痛如被杖。咽喉痛。五日可治。七日不可治。升麻鱉甲去雄黃蜀椒主之。活人用本方加桂枝。名陰毒甘草湯。</p>
<p>復有陰寒極盛而成陰毒者。自是兩種。不可混也。惟陰寒至極。反大熱躁渴。四肢厥逆。脈沉細而疾。或尺部短而寸口大。額上手背冷。汗不止。或因入房而後著寒。或內傷生冷而犯房室。內既伏陰。復加外寒。積寒伏於下。微陽消於上。遂成陰盛格陽。陽氣上脫之候。後五六日。胸前發出紅斑。其色淡。其點小。是為陰斑。雖盛夏宜附子理中湯。甚至身重眼睛疼。額冷汗出。嘔噦呃逆。或爪甲青。或腹絞痛。或面赤足冷厥逆。躁渴不欲飲。身發青黑色斑。目鼻灰色。舌黑而卷。莖與囊俱縮。脈沉細而遲。或伏而不出。或疾至七八至而不可數者。急用蔥餅於臍上熨之。隨用附子散。或人參三白湯。合四逆湯。熨後服湯已。手足不和暖者不治。</p>
<p>劉守真曰。世俗所言陰毒。皆陽熱亢極。蓄熱深於內。身表似有陰寒。此特指仲景升麻鱉甲湯去雄黃、蜀椒陰熱亢極之證。若後世所言陰寒極盛之陰毒。非用回陽退陰之藥。內溫正氣。逼邪外出。烏能起死回生耶。</p>
<p>王安道曰。陰陽二毒。與陰陽二證迥異。仲景書雖有陰毒之名。其所敘證。不過面目青。身如被杖。咽喉痛而已。並不言陰寒極盛之證也。沉所治之方。不過升麻、甘草、當歸、鱉甲而已。並不用大溫大熱之藥。故知仲景所謂陰毒。非陰寒之病。乃是感天地惡毒之氣。入於陰經。故名陰毒。而非純陰冱寒。可用熱藥之比也。</p>
<p>趙以德曰。按古方書謂陽毒者。陽氣獨盛。陰氣暴衰。內外皆陽。故成陽毒。陰毒者。陰氣獨盛。陽氣大衰。內外皆陰。故成陰毒。二者或傷寒初得。便有是證。或服藥後變而成者。陽毒治以寒涼。陰毒治以溫熱。藥劑如冰炭之異。何仲景以一方治之乎。且治陰毒去雄黃、蜀椒。則反去其溫熱者矣。豈非一皆熱毒傷於陰陽二經乎。在陽經絡。則面赤如錦紋。唾膿血。在陰經絡。則面青身如被杖。此皆陰陽水火動靜之本象也。其曰七日不可治者。陰陽之津氣血液。皆消減矣。傷寒七日。經氣已盡。而此加之以毒。至七日不惟消滅其陰。且火抑亦自減矣。</p>

<h2>夏熱病論</h2>
<p>周禹載曰。冬傷於寒。夏必病熱。則是熱病與春溫對峙。而非夏時所感之熱也。乃嘉言尚論天之六氣。春秋冬各主一氣。獨夏月兼主三氣。謂為痙濕暍者。此仍是氣感之證。而非伏藏之寒。至夏始發之熱也。故人素有伏氣將發。復感濕暍者言之。若但病痙濕暍。不得即謂之熱病也。故熱病自內發出。不論兼見何經。必由陽明。並無表證。其有表者。必外受風邪。不得遽投白虎。亦必先撤外邪。而後本湯可用。此亦先表后里之法也。</p>
<p>又曰。熱病即伏寒也。彼冬傷於寒。發於春為溫病。發於夏為熱病。何彼發於春。此發於夏耶。蓋感之輕重不同。人之強弱亦異。而觸發亦異。有因飢飽力役者。有因房室勞傷者。故春時雖行風木之令。使氣血不致大虧。感觸亦有先後。不即發也。</p>
<p>至夏則陽氣盡泄。火令大行。正屬濕土寄旺。爾時邪烏肯伏。故其發源。皆自少陰。熱病由出之途自陽明。溫病由出之途自少陽。雖所合之經不一。要不離乎陽明少陽者。各因時令之氣也。但為日既遲。為熱愈熾。此仲景所以用石膏升涼胃熱。以知母盪滌腎伏。用甘草、粳米維持中氣也。名湯曰白虎者。白屬金屬涼。風從虎且猛。人逢悶熱煩躁。無可奈何之際。忽然狂風薦至。偃草揚波。火輪火樹。不頓成清涼世界而稱快乎。</p>

<h2>熱病方四道</h2>
<p><u>白虎湯</u>　<u>白虎加人參湯</u>　<u>梔子豉湯</u>　<u>豬苓湯</u>（方俱見前）</p>

<h3>附集方一十八道</h3>
<p>通解散</p>
<p>麻黃（去節酒洗）　石膏（碎）　滑石　黃芩（各二兩）　蒼朮（四兩去皮泔水浸炒）　甘草（一兩五錢炙）</p>
<p>上為末。每服半兩。加姜三片。水煎。溫服取汗。陶節庵方加羌活、川芎、蔥白、香豉。</p>
<p><u>蔥白香豉湯</u></p>
<p>蔥白（七莖連須）　香豉（一合勿炒）　生薑（一片）</p>
<p>上三味。水煎。日三服。覆取微似汗。不汗加蘇葉。</p>
<p><u>雙解散</u>　<u>承氣湯</u>　<u>涼膈散</u>　<u>天水散</u>（即益元散。四方俱見前）</p>
<p><u>竹葉石膏湯</u></p>
<p>竹葉（二把）　石膏（一斤）　麥門冬（一升去心）　人參（三兩）　半夏（半升洗）　甘草（二兩炙）　粳米（半升）</p>
<p>上七味。以水一斗。煮取六升。去滓內粳米。煮米熟湯成。去米溫服一升。日三服。</p>
<p><u>黃連解毒湯</u>（方見前）　<u>白虎加蒼朮湯</u>（即前白虎湯加蒼朮二兩）</p>
<p><u>十味香薷飲</u>　<u>清暑益氣湯</u>（二方見後暑病）</p>
<p><u>金匱升麻鱉甲湯</u></p>
<p>升麻（二兩）　鱉甲（手指大一片炙）　當歸（一兩）　甘草（二兩）　雄黃（半兩研）　蜀椒（一兩炒去汗）</p>
<p>上六味。以水四升。煮取一升。頓服之。老小再服取汗。陰毒去雄黃、蜀椒。</p>
<p><u>陽毒升麻湯</u></p>
<p>升麻　犀角（各一錢半）　射干　黃芩　人參　甘草（各一錢）</p>
<p>上水煎溫服。溫覆手足。汗出則解。不解再作。</p>
<p><u>陰毒甘草湯</u>（即前升麻鱉甲湯去雄黃蜀椒加桂枝）　<u>犀角黑參湯</u>（方見前）</p>
<p><u>附子理中湯</u></p>
<p>人參　白朮　甘草（炙）　乾薑（各三兩）　附子（一枚炮）</p>
<p>上五味。以水八升。煮取三升。去滓。溫服一升。日三服。</p>
<p><u>附子散</u></p>
<p>附子（七錢五分炮）　桂心　當歸　白朮（各五錢）　乾薑（炮）　半夏（各二錢五分洗）</p>
<p>上為散。每服三錢。加生薑三片。水煎溫服。暖覆取汗。不汗再服。</p>
<p><u>人參三白合四逆湯</u></p>
<p>人參（二錢五分）　白朮（蒸炒）　白茯苓　白芍藥（各一錢五分）　生薑（三片）　大棗（三枚去核）　乾薑　附子（炮）　甘草（各一錢炙）</p>
<p>上九味。水煎冷服。</p>

<h1>卷三·暑病方論</h1>
<p>太陽中暍。發熱惡寒。身重而疼痛。其脈弦細芤遲。小便已洒洒然毛聳。手足逆冷。小有勞身即熱。口開前板齒燥。若發其汗。則惡寒甚。加溫針則發熱甚。數下之則淋甚。</p>
<p>趙注。此證屬陰陽俱虛。脈弦細者陽虛也。芤遲者陰虛也。所以溫針復損其陰。汗之復傷其陽。惟宜甘藥補之。以解其熱耳。即靈樞所謂陰陽俱不足。補陽則陰竭。補陰則陽脫。可以甘藥。因是知白虎湯中石膏之甘寒。粳米、甘草之輔正。人參之益元。為的對之藥矣。雖知母之苦寒。為除足陽明及手太陰氣分之熱。並可益腎。以除煩躁耳。舍此其誰與歸。</p>
<p>太陽中熱者。暍是也。汗出惡寒。身熱而渴。白虎加人參湯主之。（方見前）</p>
<p>周注。趙氏引成注一段。因表裡不明。足以惑疑後人。故刪之。趙雲。此證為令火之氣酷其金。肺主氣者也。肺傷則氣虛。然太陽膀胱屬水主表。肺金之子也。母虛而子亦不足。衛虛表不足。由是汗出身熱惡寒。內經曰。心移熱於肺。傳為膈消。膈消則渴也。皆相火傷肺之所致。此可知其要在救肺也。石膏雖能除三焦火熱。然仲景名白虎者。為石膏功獨多於清肺。退金中之火。是用為君。知母亦就肺中瀉火。滋水之源。人參生津液。益所傷之氣而為臣。粳米、甘草補土以滋金為佐也。愚按冬月有寒。則能傷人名中寒。夏月有熱。亦能傷人名中熱。此是外來之熱。故曰中。非即伏寒發出。夏必病熱之熱也。然而同用白虎者。總以所傷在氣。則所主在金。所病在熱。生金者土。金生者水。金病則我母我子俱病。故與伏氣之在少陰發出之由陽明者無異。要皆並主一湯。全不因冬月之伏。與夏月之中。為二義也。又全不以伏氣之渴與今病之渴為稍異。而必主人參也。嗚呼。聖人於此。有意立方。無心表異。以千古之前。自有此理。萬世之下。自有此悟。不意今之學者。不知冬月伏氣。與暑月中熱。同治之旨。反當以此湯治傷寒。每至投而輒斃。光與盞落。反疑聖人有未盡善者。何可勝悼。</p>
<p>太陽中暍。身熱疼重。而脈微弱。此以夏熱傷冷水。水行皮中所致也。一物瓜蒂湯主之。</p>
<p><u>一物瓜蒂湯</u></p>
<p>瓜蒂（二七個）</p>
<p>上銼。以水一升。煮取五合。去渣頓服。</p>
<p>周注。脈虛身熱。得之傷暑。今身熱脈微弱者暍也。身體疼痛者水也。夏因暑熱。以水灌洗而得。一物瓜蒂湯吐之。常觀仲景。暍病惟出三證。豈偶然哉。舉其端為萬世準繩。一者明其表裡俱虛。一者言其暍中表之熱。而此言水邪郁令火而成中暍也。若邪郁令火。比類而推。其因殆有不可勝言。如取風涼者。感霧露者。食生冷者。素有積熱者。陰血素虛。不勝大熱者。宿邪感而動者。處陰地者。凡此之類。皆足以郁其令火。為中暍之由。或輕或重。或表或里。或虛或實。隨證發現。若論治邪退熱。較量權衡。何可一言盡哉。諸集類方論。徒多其證。聚其方。未有明言其脈證。屬於何因。害於何經。用何藥為君以主之。何藥為臣以佐之。苟不潛心仲景書者。吾未信其泛然方證。果切病情否也。瓜蒂本草謂其主胸腹邪氣。皆吐下之。此以夏月傷冷水。水行皮中。而皮中者豈非屬表。何乃用是藥去胸中之水乎。蓋形寒飲冷則傷肺。皮乃肺之合。胸中又肺之部。內外相應。且瓜蒂又治四肢浮腫。下水而冷。水之在皮中者。不惟灌洗得散。而飲冷所傷者。亦得散於皮中。故兩者皆得而用之。</p>
<p>喻嘉言合論白虎加人參湯、瓜蒂湯二方云。金匱治暍病。止出二方。一以白虎加人參專治其熱。以夏月之熱淫。必僭而犯上。傷其肺金。耗其津液。用之以救肺金。存津液也。孫思邈之生脈散。李東垣之清暑益氣湯。亦既祖之矣。一以瓜蒂湯專治其濕。以夏月之濕淫上甚為熱。亦先傷其肺金。故外漬之水。得以聚於皮間。皮者肺之合也。用以搐其胸中之水。或吐或瀉而出。則肺氣得以不壅。而皮間之水。得以下趨也。何後人但宗仲景五苓散為例。如河間之通苓散。子和之桂苓甘露飲。非不得導濕消暑之意。求其引伸瓜蒂湯之制。以治上焦濕熱而清肺金。則絕無一方矣。抑知無形之熱傷其肺金。則用白虎加人參湯救之。有形之濕傷於肺金。則用瓜蒂湯救之。各有所主也。</p>

<h2>脈理</h2>
<p>周禹載曰。夏日暑濕交蒸。人多中暑。證與熱病相似。首宜以脈辨之。夫熱病之脈必盛。中暑之脈必虛。蓋寒傷形而不傷氣。所以脈盛。暑傷氣而不傷形。所以脈虛。然又有弦細芤遲之脈者何也。人當暑月必多汗。汗多則脈虛。此其常也。守真曰。熱為陽中之至陽。以熱傷氣。則汗自出。病雖為熱。脈不能實。而反虛弱也。若汗出當風。閉其汗孔。則風與汗濕留泊肌腠。脈故弦細。或虛風不作鬱熱。表虛仍自汗出者。脈必芤遲也。統而言之曰虛。分而言之曰弦細芤遲。其不以浮大之脈。混入虛脈之中。稱為暑病之脈也。</p>
<p>張鳳逵曰。劉復真云。暑脈虛而微弱。按之無力。又脈來隱伏。弦細芤遲。皆暑脈也。脈虛身熱。得之傷暑中暍。脈虛而微者是也。寒病傳經。故脈日變。溫熱不傳經。故脈不變。寒病浮洪有力者易治。芤細無力者難治。無脈者不治。若溫熱則不然。溫有一二部無脈者。暑熱有三四部無脈者。被火所逼勒而藏伏耳。非絕無也。於病無妨。攻之亦易。醫人一切驚走不知。照經用辛寒藥。火散而脈起。脈起而病愈。徒駭何益乎。要在辨之詳耳。蓋溫熱病發在一二經。始終止在此一二經。更不傳遞別經者。其一二經或洪數。則別經弱且伏。依經絡調之。則洪者平。伏者起。乃愈徵也。昔在萬曆丁未三月間。予寓京師。備員太倉庫瘥。忽一日吏部同鄉劉蒲亭馳報曰。病劇求救。予就其寓。吏部同僚諸公環守之。已備後事。譫語捻衣。不寐者已七八日。御醫院吳思泉名醫也。偕醫數人治之。予診其脈。止關脈洪大。其餘皆伏。乃書方竹葉石膏湯。諸公皆驚曰。吳等已煎附子理中湯。何冰炭如是。予詰之。吳曰。陽證陰脈。故用附子。予曰。兩關洪大。此陽脈也。其餘經為火所伏。非陰脈也。吳厲聲相爭。予亦動色自任。諸公從之。一劑甫時。即止譫語。就寐片時。予視其脈已洪者乎。而伏者起。諸公相視曰。此真張仲景也。又用辛涼藥調理痊愈。脈證有相合者易知。有相左者難知。脈明而後可以辨證。證真而後可以施藥。要在虛心細察。不可執已見。而以百藥嘗試。令命在反掌間也。慎之慎之。</p>

<h2>辨寒暑各異</h2>
<p>張鳳逵曰。暑證變幻無常。入發難測。不可尋思。彼暴中之激烈。扁鵲不及攦指而投咀。久伏之深毒。長桑不能隔膚而見臟。最為難察而難救已。即尋常之感。亦難於知覺。非若傷寒之有定期定證。可據可療者。不拘表裡。不以漸次。不論臟腑。冒暑蒸毒。從口鼻入者。直中心胞經絡。先煩悶。後身熱。行坐近日。熏爍皮膚肢體者。即時潮熱煩渴。入肝則眩暈頑麻。入脾則昏睡不覺。入肺則喘咳痿躄。入腎則消渴。非專心主而別臟無傳入也。中暑歸心。神昏卒倒。暑傷肉分。周身煩躁。或如針刺。或有赤腫。蓋天氣浮於地表。故人氣亦浮於肌表也。冒暑入腸胃。腹痛惡心嘔瀉。伏暑即冒暑。久而藏伏三焦腸胃之間。熱傷氣而不傷形。旬日莫覺。變出寒熱不定。霍亂吐瀉。膨脹中滿。瘧痢煩渴。腹痛下血等。自入肝至此。採醫學入門並主治法。皆以清內火為主。而解表兼之。寒之中人。乘其虛。暑則虛實並中。而實更劇。蓋氣血強盛之人。內已有伏火。加之外火炎炎相合。故焦灼為甚。經虛處寒棲之。經實處暑棲之。寒凌其弱。而暑親其類也。又藜藿常被寒。惟膏粱獨能御。若暑則不問膏粱藜藿。而咸能勝之侮之。雖廣廈累冰。蕙質生粟。輕羅紈綺。泠泠玉樹。一犯其烈焰。詎能卻之乎。是以知暑氣之毒盛於寒。乃古人專以寒為殺厲之氣。而不及暑何也。試觀傷寒至七八日方危。暑病則有危在二三日間。甚至朝發暮殆。暮發朝殆。尤有頃刻忽作。拯救不及者。如暑風乾霍亂之類。然則暑之殺厲之氣。視寒尤甚。彰明較著矣。且暑證多歧。中熱中暍中內中外。甚者為厥為風。為顛癇。即發則泄瀉霍亂乾霍亂。積久後發則瘧痢瘡瘍。種種病名。約有十餘科。皆暑為厲。則殺厲之氣。視寒豈少哉。除暴中暴發。久伏後發。不可度量。其餘受發。亦有漸次焉。蓋盛夏之時。熱毒鬱蒸。無論動得靜得。其初入人也。不識不知。外之流火與內之陽氣。驟遇而爭。陽氣不服。先昏瞶倦疲。及火與氣合。氣不能勝。火力漸強。散為外熱。燒灼不已。氣耗而血枯。故燥渴痞塞腹痛。諸惡證作焉。此其變化。或乍或久。人莫自覺。醫家亦不能辨。至病深而後施治。故難速愈。宜早辨而早治之。則取效速而易愈。</p>

<h2>暑中二陽</h2>
<p>中暍雖云太陽。然亦頗多陽明。汗大出。微惡寒發熱為太陽。面赤大汗。煩渴喘急為陽明。重者脈或洪大。昏瞶不省人事。有似熱病。但忽輕忽重為異耳。太陽五苓去桂加香薷。陽明消暑丸。</p>

<h2>常暑</h2>
<p>平人偶然中暑。身熱背惡寒。汗出口渴。煩躁悶亂。痰逆噁心。或吐瀉轉筋。小便閉澀。指頭微寒。並宜五苓去桂。合益元散。</p>
<p>脾胃素虛之人。上焦不足。暑濕鬱蒸。肢體困倦。頭重心煩。飽悶喘促。如在煙霧。早晚則寒。日高則熱。此氣血俱虛也。宜清暑益氣。或清燥湯選用。</p>
<p>暑天汗出過多。風犯汗孔。身體重痛。肢節麻瞀。或渴或不渴。或小便黃澀。此風鬱汗濕。與暑相搏。宜益元散加蔥頭。</p>

<h2>動暑</h2>
<p>遠行勞役。大熱而渴。陽氣內伏。熱舍於腎。為水不勝火。發熱煩渴。氣急喘促。日晡病減。此脾胃大虛也。宜補中益氣去升麻。加麥冬、五味、茯苓、澤瀉、黃連、黃柏之類。補益中兼清解漸愈。</p>
<p>農夫田野。及慣力役之人。過受燔灼。頭角額痛。發熱大渴引飲。脈洪汗大泄者。急作地漿水。煎蒼朮白虎湯。</p>
<p>或年高及虛寒之人。不宜用寒涼者。竹葉石膏湯。稍加熟附子溫而行之。</p>
<p>或平昔陰虛多火。不可用溫者。白虎加人參竹葉湯。酷暑之時。道途卒倒。湯藥不便。恐氣脫難治。急扶陰涼處。不可臥濕冷地。掬地上熱土。放臍腹上。撥開作竅。令人溺於其中。索生薑或蒜搗汁。和童便或熱湯灌下。外用布蘸榻。俟醒後用藥。</p>

<h2>靜暑</h2>
<p>避暑深堂。起居不時。汗出煩躁。面垢背微惡寒。或手足微厥。甚則灑然毛聳。腠理開則洒洒然寒。閉則蒸蒸熱悶。乃心胞之火。不勝時火。故反微惡寒也。或坐臥陰涼。表虛不任風寒。自認外感。誤醫發表。禍如反掌。宜清暑益氣湯。</p>
<p>涼亭水閣。大樹濃陰之下。過受涼快。為寒所襲。頭疼惡寒發熱。肢體拘急。是亦感寒之類。脈必弦緊。宜消暑十全散。</p>
<p>脾氣虛弱。汗多惡寒者。十味香薷飲。</p>
<p>過傷飲食。泄瀉嘔吐霍亂者。六和湯。或香薷正氣散。中暑亦有無汗。脈弦細。此雖中暑。必過襲陰涼。身中陽氣。被其所遏。所以煩心。肌膚火熱無汗。非暑邪也。宜消暑十全散。不可全用表藥。暑月腠理易開。香薷熱服。便能汗出也。倘人迎弦緊而氣口反大。咳嗽目疼。鼻流清涕。額與眉稜角痛。選奇湯最效。</p>

<h2>夾水傷暑</h2>
<p>汗出浴起當風。或冷水浸澡。或坐臥濕地而病。非暑傷也。人自致之病。宜溫散之。</p>

<h2>內傷夾暑</h2>
<p>暑熱之時。恣情房欲。兼膏粱與水果雜進。致周身陽氣不得伸越。脈沉細或弦緊。面垢如塵。無汗惡寒。四肢厥逆拘急。或霍亂嘔吐者。冷香飲子。</p>
<p>吐利兼作。脈微欲絕。或虛浮欲散。此為緊病。非漿水散不救。</p>
<p>若冒暑伏熱。引飲過多。及恣啖生冷。致脾胃受寒。腹痛嘔泄。水穀不分。脈沉緊者。宜大順散。</p>

<h2>伏暑</h2>
<p>人受暑熱之毒。棲伏三焦腸胃之間。久久而發者。為伏暑。如霍亂吐瀉。發於秋間。以及瘧痢等證。又如昔人云。三伏之時。以夏曬曝烈日之中。隨即收藏於笥。火氣未散。冬時啟笥。觸之遂病。明者細詢其因。以香薷飲服之立愈。</p>
<p>伏暑霍亂腹痛泄瀉。正氣散。身熱足冷。勢危者。五苓散下來復丹。</p>

<h2>暑風</h2>
<p>病人忽然手足搐攣者。暑風也。香薷飲加羌活、防風。嘔吐加藿香、陳皮。小便不利加茯苓、澤瀉、豬苓、滑石。有痰加姜半夏。渴者去半夏加栝蔞根。瀉利不止加白朮。轉筋加木瓜。腹滿身重。難以轉側。口不仁而面垢譫語遺溺者。此熱兼暍也。白虎湯。</p>
<p>更有痛勢重者。手足搐攣。厲聲呻吟。角弓反張。如中惡狀。亦有先病熱。服表散後漸成風者。譫語狂呼浪走。氣力百倍。此暑風也。以寒涼攻劫之。與陰風不同。宜解散化痰。不宜汗下。日久而脾胃弱者。兼溫補。</p>

<h2>暑瘍</h2>
<p>凡癰疽毒瘡。發熱有時。晡甚旦止。若夏月間有頭面外項赤腫。或咽喉腫痛。或腿足焮腫。長至數寸。不能步履。人皆疑為毒瘡。但頭痛內燥。晝夜發熱不止。自與瘡毒不同。服敗毒散、石膏、黃連等藥。熱證一解。赤腫自消。全無膿血。此名暑瘍。與外科毫釐千里者也。</p>

<h2>暑瘵</h2>
<p>盛暑之月。火能爍金。不禁辛酒。脾火暴甚。勞熱躁擾。火動心脾。令人咳嗽氣喘。驟然吐血衄血。頭目不清。胸膈煩渴不寧。即童稚老夫。間有此病。昧者以為勞瘵。不知火載血上。非真陰虧損。而為虛勞者比也。宜四物去芎、芍。黃連解毒去黃柏。二陳以貝母易半夏。加桔梗以抑之。薄荷以散之。麥冬、五味以斂之。自愈。或黃連香薷飲亦可。</p>

<h2>暑瘡</h2>
<p>暑熱之時。有遍身發泡。如碗如杯。如桃如李。晶瑩脆薄。中含臭水。此濕熱之水。泛於肌表也。黃連、香薷及解毒湯。重者內實便秘。口疳臭穢。涼膈散、承氣湯選用。外以鮮蓮花瓣貼瘡上。周時平復。</p>

<h2>暑痿</h2>
<p>膏粱富貴之人。暑月陽事痿頓。醫以溫熱進之。誤也。濕熱交蒸。石金滲潤。草木流膏。精神虧乏之人。時令應之。金風一鼓。萬類肅然。宜黃連解毒合生脈散。</p>

<h2>絞腸沙</h2>
<p>夏月不頭痛發熱。但覺小腹疼痛。或心腹俱痛。脹痞不能屈伸。醫疑生冷過多。執為陰證。不知皆暑火流注臟腑。故先小腹痛。遍及心腹。宜六和湯清解之。或四苓加香薷、木瓜、紫蘇、半夏之類和散之。或正氣散。或二陳加厚朴炒梔。或炒鹽和滾湯探吐痰涎。大抵此證以吐法為上。若用熱藥。去生遠矣。</p>

<h2>霍亂</h2>
<p>暑氣入腹。噁心腹痛。上吐下瀉。瀉如水注。此暑火暴發。升降不利。清濁不分。所瀉者皆五臟之精液。宜速止之。用五苓散。或胃苓湯。利小便。清暑火。甚者桂苓甘露。此證有夾食積者。醫用下之誤矣。不知精液暴涸。元氣頓傷。當立止之為上。按云止者。非通因塞用之謂也。分陰陽。去暑氣。則吐利自止矣。</p>

<h2>乾霍亂</h2>
<p>更有吐瀉無物。亦有上下關閉。竟不吐瀉者。為乾霍亂。惟心腹絞痛。令人立斃。急以炒鹽湯或二陳湯探吐之。通則可救。即定後周時。勿進粒米。得食復發。慎之慎之。集論曰。中暑一證。不過清心利小便。解暑毒。補真氣而已。即脈來虛弱。重者伏匿。喘促逆冷。卒然昏暈。不可用溫。此熱傷陰氣。用溫則助陽耗陰。且冬月脈浮緊浮緩。分中風傷寒。夏月弦緊傷風。弦緩中暑。表疏自汗則脈緩。表致無汗則脈緊耳。世俗不明。曰夏月陰氣在內。大順為必用之藥。夫陰非寒也。陽外而陰內耳。丹溪云。伏陰在內。陰字有虛之義。作陰冷則誤矣。火令之時。爍石流金。何陰冷之有。孫真人用生脈散。氣虛可知也。古人用大順。非謂伏陰。本治冰果所傷。冷香飲子。治陽氣大虛。多欲厥逆。漿水散治汗多亡陽。脈微欲絕。其餘不過清暑益氣湯。消暑十全散。十味香薷飲之類足矣。</p>
<p>薛氏曰。若中暍者。乃陰寒之證。法當補陽為主。先哲多用薑、桂、附子。或云暍字當作暑字看。然何不竟用暑字。而滋後人之惑耶。</p>
<p>周禹載曰，薛氏本東垣大順散而有此說。其乖謬不可勝言。草菅人命。難逃作俑之罪。</p>

<h2>服藥總法</h2>
<p>傷寒傷暑。溫涼諸證。皆邪氣欺正氣也。用藥如對敵。藥入則邪漸退。藥力盡則邪復熾。必一服周時。即詳勢診脈。藥對則日夜連進三五服。以邪退病安為主。此法惟張長沙傷寒論。孫思邈千金方中載之。孫云。夏月日五夜三服。冬月日三夜五服。必期病退而後止。如禦敵者。愈驅逐愈加精銳。蕩平而後班師。此萬全之勝算也。自宋以後不傳。故取效寡而活人之功疏。予用此法。屢獲神效。</p>

<h2>李東垣暑傷胃氣論</h2>
<p>刺志論云。氣虛身熱。得之傷暑。熱傷氣故也。痿論云。有所遠行勞倦。逢大熱而渴。則陽氣內伐。熱舍於腎。腎者水臟也。今水不能勝火。則骨枯而髓虛。足不任身。發為骨痿。故下經曰。骨痿者生於大熱也。此濕熱成痿。令人骨乏無力。故治痿獨取陽明。時當長夏。濕熱大勝。蒸蒸而熾。人感之。四肢困倦。精神短少。懶於動作。胸滿氣促。肢節沉痛。或氣高而喘。身熱而煩。心下膨痞。小便黃而少。大便溏而頻。或利出黃如糜。或如泔色。或渴或不渴。不思飲食。自汗體重。或汗少者。血先病而氣不病也。其脈中得洪緩。若濕氣相搏。必加之以遲。病雖互換少瘥。其天暑濕令則一也。宜以清燥之劑治之。內經云。陽氣者衛外而為固也。炅則氣泄。今暑邪干衛。故身熱自汗。以黃耆、人參甘溫補之為君。甘草、橘皮、當歸甘辛微溫。補中益氣為臣。蒼朮、白朮、澤瀉。滲利而除濕。升麻、葛根苦甘平。善解肌熱。又以風勝濕也。濕勝則食不消。而作痞滿。故炒曲甘辛。青皮辛溫。消食快氣。腎惡燥。急食辛以潤之。以黃柏苦辛寒。借其氣味。瀉熱補水。虛者滋其化源。以五味子、麥門冬酸甘微寒。救天暑之傷於庚金為佐。名曰清暑益氣湯。</p>

<h2>王宇泰復立清暑益氣變證加減法</h2>
<p>如心火乘脾。乃血受火邪。而不能升發。陽氣伏於地中。地者人之脾也。必用當歸和血。少用黃柏以益真陰。</p>
<p>如脾胃不足之證。須少用升麻。蓋升麻乃足陽明太陰引經之藥也。使行陽道。自脾胃中左遷。少陽行春令。生萬物之根蒂也。更少加柴胡。使諸經右遷。生髮陰陽之氣。以滋春之和氣也。</p>
<p>如脾虛緣心火亢盛。而乘其土也。其次肺氣受邪。為熱所傷。必用黃耆最多。甘草次之。人參又次之。三者皆甘溫陽藥也。蓋脾虛肺氣先絕。故用黃耆之甘溫。以益皮毛之氣。而閉腠理。不令自汗而損元氣也。上喘氣短懶言語。須用人參以補之。心火乘脾。須用炙甘草以瀉火熱。而補脾胃中元氣。然甘草最少者。恐滋滿也。若脾胃之急痛。並脾胃大虛。腹中急縮。腹皮急縮者。卻宜多用。經曰急者緩之之義也。若從權治。必加升麻以引之。恐左遷之邪堅盛。卒不肯退。反致項上及臀尻肉添而行陰道。故引之以行陽道。使清氣出地。右遷而上行。以和陰陽之氣也。若中滿者去甘草。咳甚者去人參。口乾嗌乾者加乾葛。</p>
<p>如脾胃既虛。不能升浮。為陰火傷其生髮之氣。榮血大虧。榮氣伏於地中。陰火熾盛。日漸煎熬。血氣虧少。且心胞絡與心主血。血減則心無所養。致使心亂而煩。病名曰悗。悗者心惑而煩悶不安也。是由清氣不升。濁氣不降。清濁相干。亂於胸中。使周身血氣逆行而亂。經曰。從下上者。引而去之。故當加辛溫甘溫之劑生陽。陽生而陰長也。或曰。甘溫何能生血。又非血藥也。曰。仲景之法。血虛以人參補之。陽旺則能生陰血也。更加當歸和血。又宜稍加黃柏。以救腎水。蓋甘寒瀉熱火。火減則心氣得平而安也。如煩亂猶不能止。少加黃連以去之。蓋將補腎水。使腎水旺而心火自降。扶持地中陽氣也。</p>
<p>如氣浮心亂。則以硃砂安神丸鎮固之。得煩減。勿再服。以防瀉陽氣之反陷也。如心中痞。亦少加黃連。氣亂於胸。為清濁相干。故以陳皮理之。能助陽氣之升而分滯氣。又助諸甘辛為用。故長夏濕土。客邪火旺。可從權加蒼朮、白朮、澤瀉。上下散消其濕熱之氣。濕氣大盛。主食不消化。故食減不知穀味。加炒曲以消之。更加五味子、麥門冬、人參。瀉火益肺氣。助秋損也。此三伏中長夏正旺之時之藥也。</p>
<p>按東垣意見精密。立方中和。清暑益氣湯。近世多宗之。然氣血虛弱之人。用之最宜。如遇強壯者。不能取效。且助濕火。不可不斟酌也。</p>

<h2>朱丹溪辨動靜二暑</h2>
<p>苦暑之時。無病之人。或避暑熱。納涼於深堂大廈。涼亭冷館。大扇風車得之者。是靜而得之陰證也。其病必頭痛惡寒。身形拘急。肢節疼痛而心煩。肌膚大熱無汗。此為陰寒所遏。使周身陽氣不得伸越。宜用辛溫之劑。以解表散寒。用厚朴、紫蘇、乾葛、藿香、羌活、蒼朮之類。若外既受寒。內復傷冰水生冷瓜果者。前藥再加乾薑、縮砂、神麯之類。此皆非治暑也。治因暑而致之病也。</p>
<p>按靜得動得。分中暑傷暑。此論出自張潔古。後皆因之。夫盛暑之時。炎火若炙。無之非是。故古人聞避暑而未聞避寒。深堂廣廈。正以避暑。安得入而中之。且房室陰涼。正可護衛陽氣。又安得而遏傷之乎。即膏粱深處。必不能無。冒暑應接。其傷暑者。亦於動中得之耳。老子曰。人能常清靜。天地悉皆歸一。靜即可祛暑。何從而中也。至於冰水瓜果等寒物。多食自傷脾胃。亦生雜證。謂瀉利諸證。內有此物積聚則可。謂專以此致暑病則不可。若執口得寒物。身犯寒氣。同冬時寒病治之。則謬以千里矣。</p>

<h2>方古庵論</h2>
<p>寒則傷形。熱則傷氣。何以言之。人與天地同一橐籥。夏月天之氣浮於地表。則人之氣浮於肌表。況被盛暑所傷。膚腠疏豁。氣液為汗。發泄於外。是表裡之氣俱虛矣。不善攝生者。暑熱傷於外。生冷戕於中。若之何而能運化也。是以水穀停積。而為濕熱。發為嘔吐。為泄瀉。甚則吐瀉俱作。而揮霍悶亂也。若不即病。濕熱拂鬱於內。他日為瘧為利之所由矣。今大順散非治暑熱之藥。乃治暑月飲涼過多為病之劑也歟。</p>

<h2>王安道中暑中熱辨</h2>
<p>潔古云。靜而得之為中暑。動而得之為中熱。中暑者陰證。中熱者陽證。東垣云。避暑熱於深堂大廈。得之者名曰中暑。其病必頭痛惡寒。身形俱急。肢節疼痛而煩心。肌膚火熱無汗。為房室之陰寒所遏。使周身陽氣不得伸越。大順散主之。若行人或農夫。於日中勞役得之者。名曰中熱。其病必苦頭痛。發躁熱惡熱。捫之肌膚大熱。必大渴引飲。汗大泄。無氣以動。乃為天熱外傷肺氣。蒼朮白虎湯主之。竊謂暑熱者。夏之令也。大行於天地之間。人或勞動。或飢餓。元氣虧乏。不足以御天令亢極。於是受傷而為病。名曰中暑。亦名曰中熱。其實一也。今乃以動靜所得分之何哉。夫中暑熱者。固多在勞役之人。勞役則虛。虛則邪入。邪入則病。不虛則天令雖亢。亦無由以傷之。彼避暑於深堂大廈。得頭痛惡寒等證者。蓋亦感冒微風。或靜夜著涼耳。不可以中暑名之。其所以煩心與肌膚火熱者。非暑邪也。身中陽氣。受外邪所遏而作也。既非暑邪。其可以中暑名乎。苟欲治之。則辛溫輕揚之劑發散可也。夫大順散一方。甘草最多。乾薑、杏仁、肉桂次之。除肉桂外。其三物皆炒者。原其初意。本為冒暑伏熱。引飲過多。脾胃受濕嘔吐。水穀不分。臟腑不調所立。故甘草、乾薑。皆經火炒熟。又肉桂而非桂枝。蓋溫中藥也。內有杏仁。不過取其能下氣耳。若以此藥治靜而得之之證。吾恐不能解表。反增內煩矣。今世俗往往不明。類曰夏月陰氣在內。大順散為必用之藥。籲。其誤也。不亦甚歟。夫陰氣非寒氣也。蓋夏月陽氣發散於外。而陰氣則在內耳。豈竟視陰氣為寒氣。而用溫熱之藥乎。陰果為寒。何以夏日則飲冰乎。然則蒼朮白虎湯。豈可視為通行之藥。必參之治暑諸方。隨所見之證而用之。然後合理。若夫所謂靜而得之之證。雖當夏月。即非暑病。宜分出之。勿使後人有似同而異之惑。</p>

<h3>附醫案十三則</h3>
<p>羅謙甫治蒙古百戶。因食酒肉。飲潼乳。得霍亂吐瀉證。從朝至午。精神昏憒已困。急來告。羅視之。脈皆浮數。按之無力。所傷之物已出矣。即以新汲水半碗。調桂苓白朮散。徐徐服之。稍得安靜。又於牆陰掘地約二尺許。貯以新水。在內攪動。待一時澄定。用清水一杯。再調服之。漸漸氣調。吐瀉遂止。至夜安臥。翌日微煩渴。遂煎錢氏白朮散。時時服良愈。或曰。用地漿者何也。曰。坤屬地。地屬陰。土平曰靜。順感至陰之氣。又於牆陰貯新汲水。以收重陰之氣也。陰中之陰。能瀉陽中之陽。霍亂因暑熱內傷所得。故用地漿治之也。</p>
<p>又治提舉公年近八十。至元丙寅六月初四日中暑毒。霍亂吐利。昏冒終日。不省人事。時夜方半。請羅治之。診其脈洪大而有力。一息七八至。頭熱如火。足冷如冰。半身不遂。牙關緊急。因思內經五亂篇中雲。清氣在陰。濁氣在陽。營氣順脈。胃氣逆行。亂於胸中。是謂大悗。亂於腸胃。則為霍亂。於是霍亂之名。自此而生。蓋因年高氣弱。不任暑氣。陽不維陰則瀉。陰不維陽則吐。陰陽不相維。則既吐且瀉矣。前賢見寒多以理中丸。熱多以五苓散為定法。今暑氣極盛。陽明得時。況因動而得之。中暍明矣。非甘辛大寒之劑。則不能瀉其暑熱。墜浮溜之火。而安神明也。遂以甘露散。甘辛大寒。瀉熱補氣。加白茯苓以分陰陽。約重一兩。冰水調灌。漸漸省事。而諸證悉去。後慎言語。節飲食三日。以參朮調中湯之劑增減。服之理正氣。逾十日後。方平復。</p>
<p>又治一倉官。季夏時病。胸項多汗。足逆冷譫語。醫者不曉。雜治經旬。羅診之。關前濡。關後急。當作濕溫治。蓋先受暑。後受濕。暑濕相搏。是名濕溫。先以白虎加人參湯。次以白虎加蒼朮湯。病漸退。足漸溫。汗漸止。三日愈。此名賊邪。誤用藥。有死之理。心病中暑為正邪。中濕得之。從所不勝者為賊邪。今心受暑而濕邪勝之。水剋火。從所不勝是也。五邪中之最逆也。經曰。濕溫之脈。陽濡而弱。陰小而急。濡弱見於陽部。濕氣搏暑也。小急見於陰部。暑氣蒸濕也。暑濕相搏。名曰濕溫。是謂賊邪也。予亦素有停飲之疾。每至暑月。兩足漐漐。未常干。服此藥二三服即愈。</p>
<p>滑伯仁治一人。病自汗如雨。面赤身熱。口燥心煩。盛暑中且帷幕周密。自以至虛亡陽。服朮、附數劑。脈虛而洪數。舌上苔黃。伯仁曰。前藥誤矣。輕病重治。醫者死之。素問云。必先歲氣。毋伐天和。朮、附豈可輕用。以犯時令。又云。脈虛身熱。得之傷暑。暑家本多汗。加之剛劑。脈洪數而汗甚。乃令撤幔開窗。少頃漸覺清爽。以黃連人參白虎。三進而汗止大半。諸證亦減。兼以既濟湯。渴用冰水調天水散。七日而愈。</p>
<p>丹溪治一人。夏發大熱大汗。惡寒戰慄。不自禁持。且煩渴。此暑病也。脈虛微細弱而數。其人好賭。致勞而虛。以人參。竹葉作湯。調辰砂四苓散。八帖而安。</p>
<p>又治一人。年五十。質弱多怒。暑月因怒後患痢。口渴自引蜜水。病緩數日。後脈稍大不數。朱令以參朮湯調益元散。飲之利減。數日後倦甚。發咳逆。知其久下陰虛。令守前藥。利尚未止。以煉蜜與之。眾欲用薑、附。朱謂陰虛。服之必死。待前藥力到自愈。又四日。咳逆止利除。</p>
<p>吳茭山治一婦。冬月感病。洒洒惡寒。翕翕發熱。惡食乾嘔。大便欲去不去。諸醫皆以虛弱痰飲治之。以二陳補心等藥服不效。延及半月。吳診其脈。虛而無力。類乎傷暑。眾不然之。究問病因。其婦曰。因天寒換著綿衣。取綿套一床蓋之。須臾煩渴。寒熱嘔吐。延綿至今耳。吳曰。誠哉傷暑也。蓋綿套曬於盛暑。夾熱收入笥中。必有暑氣。尚未開泄。今人體虛。得之易入。故病如是。其婦曰。然。遂制黃連香薷飲。連進二服而愈。</p>
<p>陳鬥嵓治倫司成。舟中昏暈不知人。自汗瘛瘲。醫以為中風。陳曰。人迎脈過盛。病因飲後便涼。痰火妄動。非中風也。以清暑益氣湯。一劑而愈。</p>
<p>汪希說治一壯男子。形色蒼黑。暑月客遊舟回。患嘔噦。顛倒不得眠。粒米不入六日矣。脈沉細虛豁。諸醫雜投藿香、柴、苓等藥不效。危殆。汪曰。此中暑也。進人參白虎湯。人參五錢。服下嘔噦即止。鼾睡五鼓方醒。索粥。連進二三服。乃減參。稍輕。調理數劑而愈。</p>
<p>汪石山治一人。年三十餘。形體瘦弱。病上吐下瀉。水漿不入口者七日。自分死矣。汪診脈八至而數。曰。當夏而得是脈。暑邪深入也。吐瀉不納水穀。邪氣自甚也。宜以暑治。遂以人參白虎湯。進半杯。良久復進一杯。覺稍安。三服後。減去石膏、知母。以人參漸次加至四五錢。黃柏、陳皮、麥冬等。隨所兼病而佐使。一月後平復。</p>
<p>又治一人年三十餘。忽病渴熱昏悶。面赤倦怠。汪診之。脈皆浮緩而弱。兩尺尤甚。曰。此得之色欲。藥宜溫熱。其人曰。先生之言誠然也。但病熱如此。復加熱藥惑矣。汪曰。寒極生熱。此證是也。腎虛寒者。本病也。熱甚者。虛象也。譬如雷火。雨驟而火愈熾。日出火斯滅矣。遂以附子理中湯煎熟。冷服三帖。熱渴減半。再服清暑益氣湯。十帖而安。</p>
<p>又治一婦。形色脆白。年五十餘。憂勞六月。背瘡艾灸百餘壯。瘡散病瘧。身熱自汗。口渴頭暈。吐嘔泄瀉。不進飲食。寒少熱多。自用清暑益氣湯。病甚。汪診左脈浮微。似有似無。右脈浮小。按之不足。曰。病雖屬瘧。當作虛治。依方而用清暑益氣湯。固與病宜。但邪重劑輕。病不去耳。令以參、術加作五錢。黃耆三錢。茯苓一錢。陳皮七分。甘草五分。煎服病退。</p>
<p>石山翁年逾六十。形質近弱。八九月酷熱時。往來休歙。外有藥劑之勞。內有病者之憂。內外弗寧。晝夜不靜。至十月初旬。瘧作三日。午後一發。寒熱不甚。喜熱惡寒。寒去熱來。則覺爽快。口乾微渴。臨發昏倦嗜臥。左脈沉小而數。右脈浮濡無力。亦近於數。獨脾部弦而頗洪。瘧去則脈皆大小浮沉相等。微覺緩弱而已。初服補中益氣湯十餘帖。病無加減。夜苦盜汗。繼服當歸六黃湯。黃耆每帖四錢。五帖汗止。瘧如舊。再服白虎湯。人參四錢。石膏三錢。知母一錢。甘草六分。米一撮。煎服十餘帖而愈。</p>
<p>又治一人。病霍亂。欲吐不吐。欲瀉不瀉。心腹絞痛。脈之沉伏如無。此乾霍亂也。急令鹽湯探吐。宿食痰涎碗許。遂飲與六和湯而愈。</p>

<h2>暑病論</h2>
<p>周禹載曰。仲景本內經病熱之旨。申伏氣之論。特敘夏月熱病。白虎湯之治。可謂精矣。乃復出暍病於金匱中曰。太陽中熱者。暍是也。正恐人誤認為熱病。故又言暍自外來而入。熱由內伏而發。實為兩途。然暑為夏火之令。傷人之氣。脈虛身熱。遂令人大渴。齒燥汗出而喘。與伏發無異。並治以白虎湯。俱主甘寒去熱。苦寒除火。甘溫益中。益中者。以暑傷氣故益之。然津液耗甚者。必加人參。與辛散溫散之味。不相涉也。或謂伏發自內。白虎宜也。中暍既由外而內。何為遽用里藥。則以風藥略兼表散。似無不可。愚謂千古之誤。正在於此。雖夏暑與冬寒對峙。而表裡則大不同也。冬月腠理密。即衛虛而受者。必以漸進何也。外陰而內陽也。若夏月。則人身已陽外而陰內。外垣既撤。暑得直入。故風寒必顯有餘。有餘者邪也。暑氣必顯不足。不足者正也。今人以香薷一味。謂傷暑必用之藥。不知乘涼飲冷。遏抑陽氣。或致霍亂者宜之。若強力作勞。內傷重者。清暑益氣。庶幾近之。苟用香薷。是重虛其虛矣。況可以表散辛溫之味。加於其間乎。計部張鳳逵先生編輯諸書。特救其謬。我北海林夫子。申明大義。並集名案。以表其後。不亦勝任而愉快耶。余小子又復為之辨者。願以白虎湯為主治。清暑益氣輔之。亦必隨證加減。至於天水散、甘露飲諸方。皆可引用。如節庵之論。吾未見其可也。設有疑者。請觀汗下溫針之禁。本於仲景聖人。至有夾食而吐利。夾氣而脹悶。夾寒而厥逆。兼風而畏寒。要皆本於脈以測識。而毋庸混淆。然後知聖人之論者常也。隨其所遇者變也。明其常則善於處經。通於變而靡不善於用權者。則有昔賢之案在。亦惟洞曉傷寒書者。可以神而明之也。</p>

<h2>暑病方二道</h2>
<p><u>白虎加人參湯</u>　<u>一物瓜蒂湯</u>（方俱見前）</p>

<h3>附集方二十九道</h3>
<p><u>五苓去桂加香薷湯</u></p>
<p>豬苓　茯苓　澤瀉　白朮　香薷</p>
<p>上五味等分。水煎。服無時。</p>
<p><u>消暑丸</u></p>
<p>半夏（十二兩醋煮乾）　生甘草　茯苓（各四兩去皮）</p>
<p>上為末。薑汁煮糊丸。如桐子大。每服二錢。熱湯下。</p>
<p><u>香薷飲</u></p>
<p>厚朴（制）　白扁豆（各半斤炒）　香薷（一斤）</p>
<p>上㕮咀。每服五錢。水一鍾。入酒一杯。煎七分。沉冷不拘時服。熱則作瀉。香薷須陳者佳。</p>
<p><u>桂苓甘露飲</u></p>
<p>茯苓（去皮）　白朮（土炒）　豬苓（去皮）　滑石（各二兩研）　寒水石（研）　甘草（炙）　澤瀉（各一兩）　肉桂（三錢）</p>
<p>上為末。每服二錢。熱湯冷水任下。入蜜少許更妙。一方加人參、香薷、甘草。</p>
<p><u>益元散</u>（方見前）</p>
<p><u>清暑益氣湯</u></p>
<p>人參（一錢）　白朮（五分炒）　黃耆（一錢）　蒼朮（一錢）　升麻（一錢）　神麯（五分炒）　陳皮（五分）　甘草（五分）　當歸（五分）　麥門冬（五分去心）　黃柏（五分）　五味子（三分）　葛根（三分）　澤瀉（三分）　青皮（三分）</p>
<p>上水煎。溫服無時。</p>
<p><u>清燥湯</u></p>
<p>黃耆（一錢五分）　五味子（九粒）　黃連　神麯　豬苓　柴胡　甘草（各二分）　蒼朮　白朮　麥門冬　陳皮　生地黃　人參　澤瀉（各五分）　茯苓　當歸　升麻（各三分）　黃柏（二分酒拌）</p>
<p>上水煎。服無時。</p>
<p><u>白虎加蒼朮湯</u>　<u>竹葉石膏湯</u>（二方俱見前）</p>
<p><u>白虎加人參竹葉湯</u>（即前白虎湯加人參三兩竹葉二把）</p>
<p><u>消暑十全散</u></p>
<p>香薷（二錢）　白扁豆（炒捶）　厚朴（薑汁炒）　木瓜　陳皮（一作半夏）　甘草（炙）　白朮（薑汁炒）　茯苓　藿香　蘇葉（各一錢）</p>
<p>上水煎。熱服無時。取微汗。</p>
<p><u>十味香薷飲</u></p>
<p>香薷（二錢）　人參　黃耆　白朮　茯苓（各一錢）　甘草（五分炙）　白扁豆　陳皮　厚朴（各一錢姜炒）　木瓜（五分）</p>
<p>上以水二鍾。煎七分。欲令汗熱服。欲利水冷服。</p>
<p>如伏暑去人參、黃耆。加黃連、藿香、澤瀉。</p>
<p><u>六和湯</u></p>
<p>縮砂仁（炒研）　半夏（湯泡七次）　杏仁（去皮尖）　人參（去蘆）　甘草（各一兩炙）　赤茯苓（去皮）　藿香　白扁豆（薑汁略炒）　木瓜（各二兩）　香薷　厚朴（各四兩薑汁製）</p>
<p>上㕮咀。每服一兩。水二鍾。生薑三片。棗一枚。煎一鍾溫服。</p>
<p><u>藿香正氣散</u></p>
<p>大腹皮（黑豆水洗七次）　白芷　茯苓（去皮）　白朮（土炒）　厚朴（薑汁炒）　桔梗　紫蘇葉　甘草（各一兩炙）　藿香　陳皮（各三兩去白）　半夏（二兩湯洗七次）</p>
<p>上㕮咀。每服一兩。水二鍾。姜三片。棗一枚。煎一鍾溫服。</p>
<p><u>選奇湯</u></p>
<p>羌活（一錢五分）　防風（一錢）　甘草（一錢五分夏生冬炙）　黃芩（一錢酒炒熱甚倍用）</p>
<p>上水煎。食後稍熱服。</p>
<p><u>冷香飲子</u></p>
<p>附子（生用）　草果　橘紅　甘草（各一錢炙）　生薑（五片）</p>
<p>上水煎冷服。</p>
<p><u>漿水散</u></p>
<p>附子　乾薑（炮）　甘草（炙）　肉桂（各五錢）　高良薑　半夏（各二錢半醋製）</p>
<p>上用漿水煎。去滓冷服。（漿水即點乳酪淡醋也）如虛熱喘乏。加人參。汗多加黃耆、五味子。</p>
<p><u>大順散</u></p>
<p>甘草　乾薑（各五錢）　杏仁（去皮尖）　官桂（各三錢）</p>
<p>上先將甘草用白砂炒。次入姜。卻下杏仁。炒過篩去砂。合桂為末。每服三錢。沸湯調下。</p>
<p><u>黃連香薷散</u></p>
<p>香薷（二錢）　厚朴（一錢薑製）　黃連（五分酒蒸）</p>
<p>上水煎冷服。</p>
<p><u>加減瀉黃散</u></p>
<p>黃連　茵陳（各五分）　黃柏　黃芩（各四分）　茯苓　梔子（各三分）　澤瀉（二分）</p>
<p>上㕮咀。都作一服。水一大盞。煎至六分。去滓。食前稍熱服。一服減半。待五日再服。</p>
<p><u>二香散</u></p>
<p>藿香（一兩）　半夏（薑製）　陳皮　桔梗　白朮（土炒）　茯苓　蘇葉　厚朴（薑汁炒）　黃連（各二兩去須）　香薷（一斤）　白扁豆（八兩炒）　白芷（一兩）　甘草（二兩五錢）　大腹皮（黑豆水捶洗七次）</p>
<p>上㕮咀。每服一兩。水二鍾。生薑三片。蔥白二根。煎一鍾。食後溫服。</p>
<p><u>枇杷葉散</u></p>
<p>枇杷葉（二兩去毛炙）　香薷（七錢五分）　白茅根　麥門冬（去心）　甘草（炙）　木瓜（各一兩）　丁香　陳皮（去白）　厚朴（各五錢去皮薑汁炒）</p>
<p>上為末。每服二錢。水一鍾。生薑三片。煎服。如止渴燥去丁香。加知母。冷水調下。</p>
<p><u>百合湯</u></p>
<p>百合（一錢二分）　人參（五分去蘆）　柴胡（一錢去蘆）　黃芩（一錢）　知母（八分去毛）　陳皮（一錢去白）　甘草（五分）　生地（七分）</p>
<p>上㕮咀。水二鍾。姜三片。捶法醋炙鱉甲。煎之溫服。如渴加栝蔞根。胸中煩熱加山梔。頭痛加羌活、川芎。嘔吐加姜炒半夏。胸滿加枳殼、桔梗。食復者加枳實、黃連。甚重大便實者加大黃。胸中虛煩加竹茹、竹葉。瘥後乾嘔。錯語失神。呻吟不寐。加黃連、犀角。咳喘加杏仁。血少心中驚惕加當歸、茯神、遠志。虛汗加黃耆。疲倦加白朮。腸鳴加煨生薑。勞復時熱不除。加葶藶、烏梅、薑汁。</p>
<p><u>加味胃苓丸</u></p>
<p>蒼朮（五兩）　陳皮（三兩）　厚朴（二兩）　甘草（二兩炙）　白朮（四兩）　茯苓（二兩）　肉桂（二兩）　豬苓（二兩）　澤瀉（二兩去毛）　人參（一兩去蘆）　黃連（一兩薑汁炒）　白芍（二兩炒）</p>
<p>上為末。蜜丸。每服五六十丸。清米湯下。</p>
<p><u>黃龍丸</u></p>
<p>黃連（二斤去毛）</p>
<p>上以好醋煮乾為末。麵糊丸桐子大。每服三十丸。熱湯下。</p>
<p><u>玉露散</u></p>
<p>寒水石　滑石（去黃垢土）　石膏（火煅）　栝蔞根（各二兩）　甘草（一兩）</p>
<p>上為細末。每服五錢。新汲水調下。</p>
<p><u>卻暑散</u></p>
<p>赤茯苓（四兩）　寒食麵　生薑（各一斤）　甘草（四兩生）</p>
<p>上為末。每服二錢。白湯調下。</p>
<p><u>傷暑霍亂轉筋危急方</u></p>
<p>吳茱萸（三錢）</p>
<p>同黃連炒至煙起方取。去黃連。將茱萸煎湯一大盞。溫服。</p>
<p><u>香連丸</u></p>
<p>木香（二兩）　陳皮（二兩）　地榆（一兩）　枳殼（二兩麩炒）　黃連（八錢吳茱萸炒）　枳實（一兩麩炒）　檳榔（二兩）　槐角子（一兩五錢）　益元散（二兩）</p>
<p>上為末。醋糊丸。每服一錢。紅痢米湯下。白痢薑湯下。或白湯下。日三服。或湯一丸二亦可。老弱數服後。即當溫補。</p>

<h1>卷四·疫病方論</h1>
<p>吳又可曰。疫癘之邪。從口鼻而入。舍於伏脊之內。去表不遠。附胃亦近。乃表裡之分界。即內經瘧論所謂橫連膜原者也。其熱淫不正之氣。本氣充滿者。或不受邪。適有內因。便乘外因。感之淺者。或俟有觸而發。若感之深者。中而即病也。其始陽格於內。營衛運行之機。阻抑於表。遂覺凜凜惡寒。甚則四肢厥逆。至陽氣困鬱而通。厥回而中外皆熱。昏昧不爽。壯熱自汗。此時邪伏膜原。縱使有汗。熱不得解。必俟伏邪已潰。表氣潛行於內。精氣自內達表。表裡相通。振慄大汗。邪方外出。此名戰汗。脈靜身涼而愈也。若伏邪未盡。必復發熱。其熱有久有淺。因所感之輕重也。因元氣之盛衰也。要皆始先惡寒。既而發熱。至於發出。方顯變證。其證或從外解。或從內陷。外解則易。內陷則難。更有先後表裡不同。有先表后里者。有先里後表者。有但表而不復里者。有但里而不復表者。有表而里再表者。有里而表再里者。有表裡分傳者。有表多於里者。有里多於表者。此為九傳。從外解者。或發煩。或戰汗自汗。從內陷者。胸膈痞悶。心下脹滿。腹中痛。燥結便秘。熱結旁流。協熱下利。或嘔吐噁心。譫語舌黃。及黑苔芒刺等證。因證用治。脈不浮不沉而數。晝夜皆熱。日晡益甚。頭疼身痛。不可用辛熱藥汗之。又不可下。宜用達原飲。以透膜原之邪為當也。若見各經。加入引各經藥。不可執滯。感之輕者。舌苔亦薄。脈亦不甚數。如此者。必從汗解。如不能得汗。邪氣盤錯於膜原。表裡不相通達。未可強汗。衣被逼汗。湯火劫汗也。感之重者。舌上苔如粉漬。藥後反從內陷。舌根先黃。漸至中央。此邪漸入胃也。前方用大黃下之。若脈長洪而數大汗多。此邪氣適離膜原。欲表未表。白虎湯證也。如舌上純黃色。兼見里證。此邪已入胃。乃承氣湯證也。有兩三日即離膜原者。有半月十日不傳者。有初得之四五日。厭厭聶聶。至五六日。陡然勢張者。凡元氣勝者。毒易傳化。元氣薄者。邪不易化。即不易傳。故曰邪與元氣。不兩立也。倘有他病久虧。適又感邪。能感而不能化。安望其傳。不傳則邪不去。淹留日久。愈沉愈伏。因誤進參、耆。愈壅愈固。不死不休也。</p>
<p><u>達原飲</u></p>
<p>檳榔（二錢）　草果（五分）　厚朴（一錢）　知母（一錢）　芍藥（一錢）　甘草（五分）　黃芩（一錢）</p>
<p>上七味。以水二鍾。煎八分溫服。</p>
<p>疫邪為病。有從戰汗解者。有從自汗盜汗不解者。有無汗竟全歸胃者。有自汗淋漓。熱渴反甚。終得戰汗而解者。有胃氣壅抑。必從下而得戰汗解者。有汗解未盡。越三四日前熱復發者。有發黃因下。而復熱發出斑者。有竟從發斑而愈者。有里證急。雖有斑不愈者。此雖傳變不常。要亦為常變也。又有局外之變者。男子適逢使內。邪熱乘虛陷於下焦。氣道不施。以致小便淋塞。少腹脹滿。至夜發熱。以導赤五苓散之類。分毫不效。與大承氣一服。小便如注而愈。女子經水適來適斷。失血崩帶。及心痛疝氣。痰火喘哮。凡此皆非常變。大抵邪行如水。惟窪處受之。此妙喻也。要之新疫而來舊病。但治其疫。他病自已也。</p>
<p>疫發一二日。舌上苔白如粉。早服達原飲一服。午後舌色變黃。隨見胸膈滿痛。大渴煩燥。此伏邪之毒傳裡也。前方加大黃下之。煩熱稍減。傍晚復加躁煩。發熱通舌變黑。刺生。鼻如煙煤。此邪毒最重。復合瘀胃。急投承氣湯。抵暮大下。至夜半熱退。次早苔刺如失。一日有此三變。數日之法。一日行之。因其毒甚。故傳變亦速。用藥不得不緊。設用緩劑。必無救矣。每見瘟疫二三日即死者。皆此類也。</p>
<p>疫病初起。脈雖數。未至洪大。其邪尚在膜原。宜達原飲。若誤用白虎。既無破結之能。但求清熱。是猶揚湯止沸耳。邪入胃者。非承氣不愈。誤用白虎。既無奪邪之能。徒伐胃氣。反抑邪毒。致脈不行。反變細小。倘認陽證陰脈。妄言不治。因見脈微。復不敢下。逡巡死耳。當此之際。惟急投承氣湯。庶可救也。</p>
<p>疫發於半表半裡。一定之法也。至於傳變。出表入里。表裡分傳。俱未可定。醫見有表有里。乃引經論。先解其表。乃攻其里。此大謬也。嘗見大劑麻黃。一毫無汗。轉加煩熱者何耶。蓋發汗者。以邪氣在表。故用表藥。即得宣其氣而使之出也。今邪在裡。裡氣結滯。陽氣不得即達於表。即四肢未免微厥。又安能氣勢蒸蒸而達乎外。譬之水注。閉其後竅。則前竅不得涓滴。與此欲汗之義相類。故必承氣解其里。裡氣一通。不待發散。多有自汗而解者。其義可知也。設下後脈浮而微數。身微熱。神思不爽。此邪熱浮於肌表。而里已無滯也。再與白虎湯。則餘熱復得清散。外即蒸蒸汗解。仍此意也。若下後脈空而數。按之豁然如無。宜白虎加人參湯。覆杯即汗解。下後脈數而浮。原當汗解。遷延五六日。脈證不改。仍不得汗者。以其反復數下。致血液枯。正氣微故也。用白虎加人參湯。以涼解中外。鼓舞元氣。開泄腠理。即得汗而解也。里證脈沉而數。當下之。下之當得汗解。脈改浮矣。今不得汗。二三日脈更沉者。膜原之邪。仍瘀到胃也。更宜下之。或脈浮即與白虎湯。里證下後。熱退身涼。越幾日復熱者。非關飲食勞復。乃膜原之餘邪復聚。醫者不知。每歸咎於病者誤也。仍下之為當。但製劑宜輕耳。</p>
<p>應下失下。口燥舌乾而渴。身反熱減。四肢時厥。欲得被近火。此陽氣伏也。既下厥回。脈大而數。舌上生津。不思水飲。此里邪去而鬱陽暴伸也。宜柴胡清燥湯。去栝蔞根、知母。加葛根。隨其性而升泄之。</p>
<p><u>柴胡清燥湯</u></p>
<p>白芍藥　當歸　生地黃　陳皮　甘草　竹心　燈心　栝蔞根　知母　柴胡</p>
<p>上九味。水煎溫服。</p>
<p>溫病下後。二三日舌上覆生苔刺。邪未盡也。再下之。苔刺雖去。而煩熱未除。更下之。熱渴已減。日後更復熱復苔者。更下之。不以數計。總之有是證。則用是藥耳。醫者經歷未到。中道生疑。往往失治。但其中有間日一下者。有連下三四日者。有下二日間一日者。其後輕重緩急。有應用柴胡清燥湯者。有用犀角地黃湯者。至投承氣。何日多與少與。亦皆治法。苟或不明。亦足誤事。然數下之證。亦僅見也。</p>
<p>疫病下後。脈證俱平。腹中有塊。按之則痛。自覺有所阻而微悶。或時升降之氣。往來不利。常作蛙聲。此邪氣已盡。其宿結尚未除也。此不可攻。攻之陡損元氣。須飲食漸進。胃氣漸復。津液潤下。常見病疫愈。啗粥半月。結塊方下。堅黑如石者。又有氣促之病。過月餘其塊方消者。此又無形之結也。不可不知。</p>
<p>瘟疫下後。脈證俱平。大便十數日不行。時時作嘔。此為下膈之證。蓋下不能通。必反於上。宜調胃承氣湯熱服。宿垢頓下。嘔吐立止。慎不可補也。</p>
<p>凡疫邪貴乎早下。但見舌黃。心腹脹滿。便可選用承氣以驅其邪。乘人氣血未亂。津液未枯。投劑不致掣肘。勿拘下不厭遲之說也。且疫證之下。與傷寒異。傷寒必俟結定而後攻。疫邪正欲驅熱以為用。況疫氣多濕。豈能即結。遷延不下。但蒸作極臭如敗醬。如藕泥。臨死不結者多矣。</p>
<p>疫邪傳裡。遺熱下焦。小便不利。邪無輸泄。經氣鬱滯。其傳為癉。身目如金。宜茵陳蒿湯。若用茵陳五苓散不效。此皆胃家移熱。是以大黃為專功也。</p>
<p><u>茵陳蒿湯</u></p>
<p>茵陳蒿（二錢）　山梔子（一錢）　大黃（五錢）　水姜（三片）</p>
<p>上四味。以水一斗。先煮茵陳。減六升。內三味。煮取三升。去滓。分溫三服。</p>
<p>疫邪在胸膈。滿悶喜嘔。腹不滿。欲吐不吐。欲飲不飲。此邪與痰飲結滯也。宜瓜蒂散吐之。</p>
<p><u>瓜蒂散</u></p>
<p>胡瓜蒂（一錢）　赤小豆（一錢）　生梔仁（二錢）</p>
<p>上水煎。分二服。緩下。無瓜蒂。用淡豆豉二錢。</p>
<p>疫氣留血分。裡氣壅閉。不下則斑不出。出則毒邪從外解矣。如下後斑漸出。更不可下。設有下證。宜少與承氣緩服。倘大下則元氣不振。斑毒內陷則危。宜托裡舉斑湯。如下後斑毒隱伏。反見循衣撮空脈微者。本方加人參三錢。得補發出者不死。</p>
<p><u>舉斑湯</u></p>
<p>白芍藥（一錢）　當歸（一錢）　升麻（五分）　柴胡（七分）　白芷（七分）　穿山甲（二錢）　水姜（一片）</p>
<p>上七味。水煎溫服。</p>
<p>疫病日久失下。自利純臭水。晝夜十數行。口燥唇乾舌裂。此熱結旁流也。急下。以大承氣去其宿垢頓止。胃實失下。鬱而為黃。熱更不減。摶血為瘀。故經氣不為熱鬱。不致發黃。熱邪不幹血分。不致蓄血。同受其邪。故發黃而兼蓄血。非蓄血而致發黃也。但蓄血一行。熱隨血泄。黃隨泄減。故治黃茵陳蒿湯。治蓄血桃仁承氣湯。去桂枝、甘草。加牡丹皮、當歸、芍藥。</p>
<p><u>桃仁承氣湯</u></p>
<p>桃仁（十八粒碎）　甘草（二錢）　大黃（四錢酒浸）　芒硝（二錢）　桂枝（二錢）</p>
<p>上水煎。熱服。</p>
<p>胃移熱於下焦氣分。小便不利。熱結膀胱也。若移熱於下焦血分。膀胱蓄血也。夫蓄血證。在小便利不利也。故晝日稍減。夜發熱譫語者瘀血也。未行。桃仁承氣下之。後用犀角地黃調之。</p>
<p><u>犀角地黃湯</u></p>
<p>地黃（一兩）　赤芍藥（二錢）　犀角（二錢鎊）　牡丹皮（二錢）</p>
<p>上四味。以水二鍾。煎八分。溫服無時。</p>
<p>凡失下。以致循衣摸床。撮空肉惕。目不了了。邪熱愈盛。元氣將脫者。勢不可竟下。又不得不下。不得已用陶氏黃龍湯下之。（黃龍湯即大承氣湯加甘草人參當歸）因不下必死。當於死中求生也。得下後用生脈散。加地黃、當歸、白芍藥、知母、陳皮、甘草。</p>
<p>疫病有首尾能食者。此邪不實於胃。切勿絕其飲食。但少少與之耳。</p>
<p>凡大下後調理。清燥養營湯。</p>
<p><u>清燥養營湯</u></p>
<p>知母　栝蔞根　當歸　白芍藥　生地黃　陳皮　甘草　燈心</p>
<p>上八味。水煎溫服。</p>
<p>如表有餘熱。柴胡養營湯（即小柴胡去半夏人參加陳皮當歸芍藥厚朴生地黃大黃枳實生薑）</p>
<p>如有痰飲。胸膈不清者。宜栝貝養營湯。</p>
<p><u>栝貝養營湯</u></p>
<p>栝蔞根　貝母　栝蔞仁　蘇子　橘紅　白芍藥　當歸　知母　生薑</p>
<p>上九味。水煎溫服。</p>
<p>舌苔。邪在膜原故白。在胃則黃。苔老則沉香色。白者不可下。黃者下。黑者急下。下後苔不脫。舌刺舌裂。舌短舌硬舌卷。白沙苔。黑硬苔。皆當下。白苔滑澤。邪在膜原。倘別有下證。宜達原飲加大黃。若大汗脈洪大而渴。白虎湯未可下也。惟目赤咽乾。氣噴如火。小便黃赤。涓涓作痛。揚手擲足。脈沉數。下之無疑。有心下痛。腹脹滿。頭痛。下之立止。初起未可下。如血液枯竭者為虛燥。宜導。</p>
<p>統論傷寒與時疫異同。夫傷寒必有感冒之因。惡風發寒。頭痛身痛。發熱而仍惡寒。脈浮緊無汗。為傷寒。脈浮緩有汗。為中風。時疫初起。原無感冒之因。忽覺凜凜。以後但熱而不惡寒。然亦有所觸而發者。或飢飽勞役。或焦思怒郁。皆能觸動其邪也。然不因有所觸。而自發者居多。且傷寒投劑。一汗即解。時疫發散。雖汗不解。傷寒不染。時疫能染。傷寒之邪。自毫竅入。時疫之邪。自口鼻入。傷寒感而即病。時疫感而後發。傷寒汗解在前。時疫汗解在後。傷寒可使立汗。時疫俟其內潰。自汗盜汗戰汗。傷寒不發斑。時疫能發斑。傷寒感邪在經。以經傳經。時疫感邪在內。邪溢於經。經不自傳。傷寒感發甚暴。時疫多有淹纏二三日。或漸加重。或至五六日。忽然加重。傷寒初起。以發表為先。時疫初起。以疏利為主。其所同者。皆能傳胃。至是同歸於一。故用承氣導邪而出。故傷寒時疫。始異而終同也。傷寒之邪。自外傳內。原無根蒂。惟其傳法。有進無退。故下之皆能病愈。時疫之發。始則匿於膜原。根深蒂固。時發與營衛交併。客邪由經之處。營衛未有不被其傷者。故曰潰。然不潰則不能傳。不傳則邪不能出。邪不出而疾不愈。乃時疫下後。多有不能即愈者何耶。蓋疫邪多有表裡分傳者。因有一半向外。邪傳留於肌肉。一半向里。邪傳留於胃家。惟傳於胃。故里氣結滯。里結表氣因亦不通。於是肌肉之邪。不得即達於肌表。下后里氣一通。表氣亦順。向郁肌肉者。方能盡達於表。或斑或汗。然後可以謀治而愈。傷寒下後。無有此法。雖曰終同。實不同也。</p>
<p>凡陽證似陰者。傷寒與瘟疫多有之。其陰證似陽者。正傷寒有之。溫疫必無此證。宜辨之。夫陽證似陰。外雖寒而內有熱。故小便必赤澀。若陰證似陽者。格陽之證也。上熱下寒。故小便清白。但以小便赤白為據。萬不失一。</p>
<p>凡四損不可治。大勞大欲。大病久病後。氣血俱虛。陰陽並竭。正氣先虧。邪氣自陷也。夫人疫發。見證或輕。雖有頭疼身熱自汗。而飲食不絕。力可徒步。又烏知其疫也。</p>
<p>況脈又不浮不沉而數。病人無處追求。每每妄訴病情。醫家不辨是非。便引東垣勞倦傷脾。元氣下陷。乃執甘溫除熱之句。轉補壅熱。至於不救矣。</p>
<p>疫痢相兼之證最危。夫疫者胃家事也。必從下解。利者大腸事也。大腸既病。失其傳送之職。故糞不行。下膿血。所以向來谷復。停積在胃。直須大腸邪氣將退。胃氣通行。積糞從此而下。今既大腸失職。糞尚不行。又何能與胃載毒而出耶。毒既不行。最能傷敗胃氣。毒氣在胃。一日有一日之害。在一時有一時之害。耗氣摶血。神氣既盡則死。凡遇疫痢兼證者。在痢尤為吃緊。宜檳榔順氣湯。</p>
<p><u>檳榔順氣湯</u></p>
<p>大黃　厚朴　芍藥　檳榔　枳實　生薑</p>
<p>上六味。水煎溫服。</p>
<p>妊娠時疫。設用三承氣。須隨證施治。不可過慮。慎勿惑於參、耆安胎之說也。病家見用承氣。先自驚疑。更加左右有粗知醫者。從旁嘈雜。必致掣肘。遂令子母不祥。若應下之證。反用補劑安胎。熱毒愈熾。胎愈不安。耗氣摶血。胞胎何賴。是以古人有懸鐘之喻。梁腐而鍾未有不落者。惟用承氣逐其邪。火毒消散。炎熇頓為清涼。氣回而胎自固。當此證候。大黃反為安胎聖藥。歷治歷當。母子俱安。若見腹痛腰疼。則必墮無疑矣。須預言之。</p>
<p>婦人病疫。與男子無異。惟經水適來適斷。及崩漏產後。與男子不同。經水適來。邪不入胃。入於血海。胸膈無邪。勿以胃實攻之。但熱隨血下自愈。宜小柴胡加生地黃、牡丹皮、赤芍藥主之。如結胸狀者。血因邪結。刺期門。經水適斷。血室空虛。邪乘虛入為難治。與適來者有虛實之分。宜柴胡養營湯。新產亡血。衝任空虛。與素病崩漏。經氣久虛者。亦用此湯。若藥停不行。加生薑以和其性。中氣虛而不運。加人參以助其行。疫行之時。凡小兒兩目上吊。驚搐發痙。十指勾曲。角弓反張。勿認驚風治。宜同大人。但藥劑輕小耳。</p>
<p>應下之證。下後當脈靜身涼。今反發熱者。因結開氣通。郁陽暴伸也。不久自息。如不息。仍是餘邪未盡也。下後自臥二三日。或四五日。汗不止。身微熱。此仍屬熱。其表有餘邪。邪盡汗止。不止者。小柴胡湯加廣皮。嘔加半夏。虛加人參。斟酌治之。不可用耆、術之屬。如脈靜身涼。數日後反盜汗。宜用略補。虛實之分。在有熱無熱也。下後邪去嘔止。今反復嘔者。胃虛也。少進粥飲調之。</p>
<p>如人方食肉而病。停積在胃。用承氣連下。惟下旁流臭水。其病不退。必加人參一味。即數十日停積頓行也。應下失下。真氣微虛。及投承氣下咽。少頃額上汗出髮根搔癢。手足厥冷。甚則戰慄。心煩坐臥不安。如狂之狀。此中氣已虧。不勝藥力。名曰藥煩。凡遇此證。藥中多加生薑。均二三次服。以防嘔吐之患。</p>
<p>病有勞復食復自復。勞者補之養之。食者輕則損谷。重則下奪。自復者。前用何藥。依前增減自愈。</p>
<p>感冒兼疫。先治感冒後治疫。瘧疫相兼。治疫而瘧自已。</p>
<p>瘟疫九傳。</p>

<h2>但表不里</h2>
<p>疫之傳有九。然亦不出表裡之間而已。但表而不里者。其證頭疼身痛發熱。而復凜凜。內無胸滿等證。穀食如常。此邪傳外。由肌表而出。或斑消。或汗解為順。輕劑可愈。有汗出不徹而熱不退者。宜白虎湯。或斑出不透而熱不退者。宜舉斑湯。有斑汗並行而並不透者。合用前湯。</p>

<h2>但里不表</h2>
<p>但里不表者。惟胸膈痞悶。欲吐不吐。吐而不快。宜瓜蒂散。若邪傳裡之中下者。心腹脹滿。不吐不嘔。或燥結便閉。或熱結旁流。或協熱下利。或大腸膠閉。並宜承氣輩。有里而再發。或至於三。皆依前法。</p>

<h2>表而再表</h2>
<p>表而再表者。所發未盡。膜原尚有隱伏之邪。故三四日後。依前發熱。脈洪而數。及其解也。斑者仍斑。汗者仍汗而愈。至於三表者。亦稀有也。</p>

<h2>表裡分傳</h2>
<p>表裡分傳。始則邪氣伏於膜原。尚在半表半裡。二證俱現。必先通其里。令里邪去。自能達表。或斑或汗。隨其性而升泄之也。病退而熱未除者。膜原尚有未盡之邪也。宜三消飲調之。若分傳至再至三。未之頻見。照前同治。</p>

<h2>再表再里</h2>
<p>有再表再里。或再表裡分傳者。醫家不解。反責病人不善調養。以致反復。病家不解。每咎醫師疏於救治。彼此歸怨。胥失之矣。不知病勢之當然。其氣性如此。</p>

<h2>先表后里</h2>
<p>先表而後里者。始則但有表證。而無里證。宜達原飲。有經證者。當依三陽加法。繼而脈大且數。自汗而渴。邪離膜原。未能出表。宜白虎湯。辛涼解散。邪從汗解。脈靜身涼而愈。二三日後。或四五日後。依然發熱。宜達原飲。至後反加胸滿腹脹。不思穀食。煩渴等證。加大黃微利之。</p>

<h2>先里後表</h2>
<p>先里後表者。始則發熱。漸加里證。下之便愈。後復發熱。反加頭疼身重脈浮者。宜白虎湯。服之不得汗者。津液枯竭也。加人參。覆杯即解。若大汗大下後。表裡之證悉去。繼而一身盡痛。身如被杖。脈沉細者。此汗出太過。陽氣不周。骨寒而痛。非表證也。此不必治。二三日內陽回自愈。</p>

<h2>表證偏勝</h2>
<p>表證偏勝者。膜原伏邪發時。傳表之邪多。傳裡之邪少。何以知之。表證多而里證少。當治其表。里證兼之。</p>

<h2>里證偏勝</h2>
<p>若里證多而表證少。但治其里。表證自愈。</p>
<p>邪之傷人也。始而傷氣。既而傷血。傷肉傷筋。以至傷骨。有行邪。有伏邪。故治法有難有易。取效有遲有速。如行邪者。即正傷寒也。始自太陽。或傳陽明。或傳少陽。病勢雖重。一汗可解。若歸胃府。一下而愈。如瘟疫之邪。先伏後行。伏於膜原。如鳥棲巢。如獸藏穴。營衛所不關藥石所難及。至其發也。邪毒漸張。內侵於腑。外淫於經。營衛受傷。諸證漸顯。然後得而治之。方其侵淫之際。邪毒尚在膜原。此時但可疏利。使伏邪易出。邪毒既離膜原。乃觀其變。或出表或入里。然後可導邪而出。邪盡方愈。初發之時。毒邪漸張。莫之能御。不惟不能即瘳。而病證日惟加重。病家見證反增。即欲更醫。醫家不解。亦自驚詫。竟不知先時感受。邪盛則病重。邪微則病輕也。人云。瘟疫莫治頭。勞怯莫治尾。所以疫邪方張之際。勢不可遏。但使邪毒速離膜原。便是治法也。全在後段工夫。識得表裡虛實。詳夫緩急輕重。投劑不致差謬。如是可以萬全。即使感受之最重者。按法治之。必無隕命之理。若夫久病枯極。酒色耗竭。耆耄之年。皆是天真幾絕。又加疫證。自難支矣。</p>

<h2>大頭瘟</h2>
<p>大頭瘟者。此天行之厲氣也。其濕熱傷高巔之上。必多汗氣蒸。初憎寒壯熱體重。頭面腫甚。目不能開。上喘。咽喉不利。舌乾口燥。不速治。十死八九。宜普濟消毒散。如大便硬。加酒蒸大黃一二錢。緩緩服。作丸噙化尤妙。若額上面部焮赤。面腫脈數者。屬陽明。本方加石膏。內實加大黃。若發於耳之上下前後。並額角旁紅腫者。此少陽也。本方加柴胡栝蔞根。便實亦加大黃。若發於頭腦項下。並耳後赤腫者。此太陽也。荊防敗毒散。去人參。加芩、連。甚者砭針刺之。</p>
<p><u>普濟消毒散</u></p>
<p>黃連　黃芩（酒炒）　人參　黑參　甘草（生）　桔梗　連翹　牛蒡子（炒研）　升麻　白芷　馬勃（各一錢）　殭蠶（炒七分）　藍根（如無以青黛代之）　柴胡（各二錢）</p>
<p>上為末。半用水煎去滓。食後徐服。半用蜜丸。噙化就臥。以令藥性上行也。節庵於普濟消毒散中。去人參、升麻、白芷、黑參、馬勃、殭蠶、藍根。加川芎、羌活、防風、荊芥、射干、薑汁、竹瀝。名芩連消毒飲。</p>

<h2>捻頸瘟</h2>
<p>捻頸瘟者。喉痹失音。頸大腹脹。如蝦蟆者是也。宜荊防敗毒散。</p>
<p><u>荊防敗毒散</u></p>
<p>羌活　獨活　前胡　柴胡　人參　甘草（人中黃更妙）　枳殼　桔梗　茯苓　川芎　牛蒡子（炒研）　薄荷　荊芥　防風</p>
<p>上諸藥各一錢。惟防風加五分。水煎緩服。加金汁一杯尤效。</p>

<h2>瓜瓤瘟</h2>
<p>瓜瓤瘟者。胸高脅起。嘔血如汁者是也。宜生犀飲。</p>
<p><u>生犀飲</u></p>
<p>犀角（二錢鎊）　蒼朮（泔水浸麻油炒一錢）　川黃連（一錢）　黃土（五錢）　岕茶葉（一大撮）　金汁（半盞）</p>
<p>上五味。水煎去滓。入金汁攪和。日三夜二服。如大便結加大黃。渴加栝蔞根。虛加人參。鹽水炒。表熱去蒼朮、黃土。加桂枝、黃連。便膿血去蒼朮。倍黃土。加黃柏。便滑以人中黃代金汁。</p>

<h2>楊梅瘟</h2>
<p>楊梅瘟者。遍身紫塊。忽然發出黴瘡者是也。清熱解毒湯。下人中黃丸。並刺塊出血。</p>
<p><u>人中黃丸</u></p>
<p>大黃（三兩溺浸）　人中黃（如無坑垢代之）　蒼朮（去皮麻油炒）　桔梗　滑石（各二兩）　人參　黃連（酒洗）　防風（各五錢）　香附（薑汁拌勿炒一兩五錢）</p>
<p>上神麯為丸。氣虛四君子湯送。血虛四物湯送。痰甚二陳湯送。熱甚童便送。通用清熱解毒湯送二三服。</p>
<p><u>清熱解毒湯</u></p>
<p>黃連（酒洗）　黃芩（酒洗）　白芍藥（酒洗）　生地　人參（各三錢）　石膏（雞子大碎）　羌活　知母（各二錢）　甘草（生一錢五分）　升麻　葛根（各一錢）　生薑（二錢切）</p>
<p>上以水一斗。煮取五升。每服一升。日三夜二服。</p>

<h2>疙瘩瘟</h2>
<p>疙瘩瘟者。發塊如瘤。遍身流走。旦發夕死者是也。三稜針刺入委中三分出血。及服人中黃散。</p>
<p><u>人中黃散</u></p>
<p>辰砂　雄黃（各一錢五分）　人中黃（一兩）</p>
<p>上為末。薄荷桔梗湯下二錢。日三夜二服。</p>

<h2>絞腸瘟</h2>
<p>絞腸瘟者。腸鳴乾嘔。水泄不通者是也。探吐之。宜雙解散。</p>

<h2>軟腳瘟</h2>
<p>軟腳瘟者。便清泄白。足腫難移者是也。即濕溫。宜蒼朮白虎湯。不可輕下。小兒亦易傳染。人見驚搐發痙。誤作驚治。與大人多彷彿也。故凡盛夏濕溫之證。即藏疫癘在內。一人受之。則為濕溫。一方傳遍。即為疫癘。所以疫癘之發。每每盛於春夏者。以其濕熱暑三氣交蒸故也。蓋春主厥陰肝木。秋主陽明燥金。冬主太陽寒水。各行其政。惟春分以後。至秋分以前。少陽相火。少陰君火。太陰濕土。三氣合行其事。天本熱也。益以日之暑。日本烈也。益以地之濕。三氣交動。時分時合。其分也風動於中。勝濕解蒸。不覺其苦。其合也。天之熱氣下。地之濕氣上。人在氣交之中。無隙可避。故病之繁且苛者。莫如夏月為最。以無形之熱。蒸動有形之濕。即無病之人感之。未免為患。況素有濕熱。或下元虛人。安得不患濕熱之證乎。是以濕熱之證。最忌發汗。發汗則濕熱混而為一。中氣盡傷。多成死證。惟宜分解。先抉中氣。使中氣徐領其表其里。上下分消。故多愈也。至若疫氣。則邪正混合。邪極勝。正極衰。轉眼立斃。苦寒傷胃。溫補助邪。如人中黃之類。方為合法也。夫傷寒之邪。先行身之背。次行身之前。次行身之側。由外廓而入。瘟疫之邪。則直行中道。流布三焦。上焦為清陽。故清邪從之上入。下焦為濁陰。故濁邪從之下入。中焦為陰陽交界。凡清濁之邪。必從此區分。甚者三焦相混。上行極而下。下行極而上。傷寒邪中外廓。一表即散。疫邪行在中道。表之不散。傷寒邪入胃腑。則腹滿便鞕。故可攻下。疫邪布在中焦。散之不收。下之復合。此與治傷寒表裡諸法。有何涉哉。</p>
<p>周禹載曰。按吳又可皆論尋常所有疫癘。喻嘉言止論天地不正之大疫。各極快暢。不可執一。要知瘟疫有傷氣。傷血傷胃之殊。故見證不同。治亦稍異。若入臟者。則必不知人而死矣。大法以證為則。毋專以脈為據也。</p>

<h3>附醫案十則</h3>
<p>成化二十一年。新野疫癘大作。死者無虛日。鄰人樊滋夫婦。臥床數日矣。余自學來。聞其家人如殺羊聲。急往視之。見數人用綿被覆其婦。床下置火一盆。令出汗。其婦面赤聲啞幾絕。余叱曰。急放手不然死矣。眾猶不從。乃強拽去被。其婦躍起倚壁坐。口不能言。問曰。飲涼水否。頷之。與水一碗。一飲而盡。始能言。又索水。仍與之。飲畢汗出如洗。明日愈。或問其故。曰。彼發熱數日。且不飲食。腸中枯涸矣。以火蒸之。速死而已。何得有汗。今因其熱極。投之以水。所謂水火既濟也。得無汗乎。觀以火然枯鼎。雖赤而氣不升。注之以水。則氣自來矣。遇此等證者。不可不知。</p>
<p>虞恆德治一婦。年二十九。三月間患瘟疫證。病三日。經水適來。發熱愈甚。至七八日病劇。胸中氣築作痛。莫能臥。眾醫技窮。入夜迎虞治。病者以綿花袋盛托背而坐於床。令婢摩胸不息。六脈俱微數而無倫次。又若蝦游狀。虞問曰。恐下早成結胸耳。主人曰。未也。虞曰。三日而經水行。致中氣虛與下同。乃用黃龍湯、四物湯、小陷胸湯。共為一劑。加薑、棗煎服。主人曰。此藥何名。虞曰。三合湯也。一服諸證悉減。遂能臥。再服熱退病安。又因食粥太多。復病熱作內傷。治用補中益氣湯。出入加減。調理而愈。</p>
<p>汪石山治一人。年弱冠。房勞後。忽洒洒惡寒。自汗發熱。頭背胃脘皆痛。唇赤舌強。嘔吐。眼胞青色。醫投補中益氣。午後譫語惡熱。小便長。初日脈皆細弱而數。次日脈則浮弦而數。醫以手按臍下痛。議欲下之。汪曰。此疫也。疫兼兩感。內傷重。外感輕耳。臍下痛者。腎水虧也。若用利藥。是殺之耳。古人云。疫有補有降有殺。茲宜合補降二法以治。用清暑益氣湯。除蒼朮、澤瀉、五味。加生地、黃芩、石膏。服十餘帖而安。</p>
<p>壺仙翁治文學張微伯。病風熱不解。時瘟疫大行。他醫診其脈。兩手俱伏。曰。此陽證見陰不治。欲用陽毒升麻湯升提之。翁曰。此風熱之極。火盛則伏。非陰脈也。升之則死矣。卒用連翹涼膈之劑。一服而解。</p>
<p>泰和二年四月。民多疫癘。初覺憎寒壯熱體重。次傳頭面腫盛。目不能開。上喘咽喉不利。舌乾口燥。俗云大頭傷寒。諸藥雜治。莫能愈。漸至危篤。東垣曰。身半以上。天之氣也。邪熱客於心肺之間。上攻頭面而為腫耳。用普濟消毒散。如法服之。活者甚眾。時人皆曰天方。</p>
<p>羅謙甫治中書右丞姚公茂。六旬有七。宿有時毒。至元戊辰春。因酒再發。頭面腫疼。耳前後腫尤甚。胸中煩悶。咽嗌不利。身半以下皆寒。足脛尤甚。由是以床相接作坑。身半以上臥於床。身半以下臥於坑。飲食減少。精神困倦而體弱。命羅治之。診得脈浮數。按之弦細。上熱下寒明矣。內經云。熱勝則腫。又曰。春氣者病在頭。難經云。蓄則腫熱。砭射之也。蓋取其易散故也。遂於腫上。約五十餘刺。其血紫黑。如露珠之狀。頃時腫痛消散。又於氣海中。大艾炷灸百壯。乃助下焦陽虛。退其陰寒。次於三里二穴。各灸三七壯。治足胻冷。亦引導熱氣下行故也。遂處一方。名既濟解毒湯。論曰。熱者寒之。然病有高下。治有遠近。無越其制度。以黃芩、黃連。苦寒酒炒。瀉其上熱以為君。桔梗、甘草。辛甘溫上升。佐諸苦藥以始其熱。柴胡、升麻苦平。味之薄者。陰中之陽。發散上熱以為臣。連翹苦辛平。以散結消腫。當歸辛溫。利血止痛。酒煨大黃苦寒。引其上行至巔。驅熱而下以為使。投劑之後。腫消痛減。大便利。再服減大黃。慎言語。節飲食。不旬日良愈。秋官陳同野。元氣素弱。脈細微而伏。用參、朮、芎、歸、陳皮、柴胡、升麻、炙甘草以升舉陽氣。用牛蒡、玄參、連翹、桔梗以解熱毒。二劑腫頓消。而脈亦復矣。設以脈微細為純陰。以腫為純陽。藥之鮮有不誤者。</p>
<p>江篁南治給事中游讓溪。嘉靖壬子正月。忽感大頭風證。始自頸腫。時師以為外感。而誤表之。繼以為內傷。而誤補之。面發赤。三陽俱腫。頭頂如裂。身多汗。寐則譫語。綿延三日。喘咳勢急。其親汪子際以竹茹橘皮湯。繼以川芎茶調散。合白虎湯。去人參服一劑而減。次日用前方去寒峻藥。至晚漸定。耳輪發水泡數個。余腫漸消。獨耳後及左頰久不散。又次日以當歸六黃湯為主。加散毒之藥。延及二旬。頂巔有塊。如雞子大。突起未平。及面頰余腫未消。有時頭痛。大便稀溏。</p>
<p>時二月中旬。江至。診得左脈浮小而駛。右脈浮大近快。有勃勃之勢。江按脈證。當從火治。以生黃耆八分。白朮、薏苡各一錢半。茯苓、片芩各八分。生甘草三分。煎加童便服。次日脈稍平。然兩頰猶赤。早間或覺頭痛。蓋餘火未全殺也。黃耆加作一錢二分。薏苡加作二錢。頂塊漸消。以後加生耆二錢。更飲綠豆湯、童溲。五劑而愈。</p>
<p>靖康二年春。京師大疫。有異人書一方。凡因疫發腫者。服之無不效。方用黑豆二合。炒令香熟。甘草二寸。炙黃。水二盞。煎半。時時呷之。</p>
<p>崇禎壬午癸未。時疫盛行。道殣相藉。發汗和中藥內。惟用人參者。多以活人。</p>

<h2>疫病論</h2>
<p>周禹載曰。疫之行於天地間久矣。而人之治之者。未之知也。治之而適奏其效者。亦未知之也。觀周禮方相氏所掌。難以逐疫。則疫者氣為之也。惟氣故為害。從口鼻入。雖然。六淫之氣皆氣也。而風寒暑濕燥火之病。不聞有沿門闔境相染。觸發者何也。六淫之氣。日留於天地之間。偏勝則病。且人之病之者。每因於己之所不勝。以淫於所勝。而不獨天地之氣。足以害之也。若疫則古今來雖有是證。而天地間實無是氣。或因天之風雨不時地之濕濁蒸動。又因胔骼掩埋不厚。遂使大陵積屍之氣。隨天地之升降者。飄泊遠近。人在氣交中。無可逃避。感之而病而死。於是更增一種病氣屍氣。流行其間。復相漸染。至久彌甚矣。故從來疫癘行於兵荒之後居多。不但人之中氣先弱也。良由所積之穢氣特甚耳。乃數千年來。說鬼說夢。賴嘉言先生。援經據古。特標蘊義。我北海林夫子。引伸觸類。指點治法。豈非功在萬世者乎。但嘉言自詡於平脈篇中。已見一斑。謂清邪中於上焦。濁邪中於下焦云云。以為此即是仲景論疫。予未之信也。天下穢惡之氣。至疫則為毒極矣。人犯之者。三焦混淆。內外無間。不分表裡。直行中道。然究竟古今恆變。未有定情。而中上中下之說。仲景實論濕氣之脈如是。而後入腑入臟。遊行經絡。便有種種危證。只因三焦相混。內外不通等語。有似乎疫。而實無涉也。此嘉言善讀書處。能開發人之聰明。譬之茫無畔岸。借為指南。則可。謂竟為疫之脈證。則甚謬矣。然則如世俗所稱大頭瘟者。下非不病也。特甚於上耳。所稱疙瘩瘟者。內非不病也。特現於外耳。所稱蝦蟆瘟者。腹非不病也。特痹於喉耳。其他證顯多端。要以寒涼解毒則一。施治之法。先上先下。從內從外。可以因證起悟。予惟奉吳又可先生書為主治。余採集諸方。以相裨佐。俾後之學者。豁然心目云。</p>

<h3>附北海林先生題喻嘉言疫論序</h3>
<p>張鳳逵之著傷暑全書也。翻古人之成案。妙生心之化裁。可謂善於立言者矣。第疫證引說不明。關係醫學非小。雖以東垣之淵通。丹溪之博洽。亦隨俗相沿。未有確解。近喻嘉言先生。以通今博古之才。著開天闢地之論。掃叔和之穢。闡仲景之奧。不剿陳言。獨標新義。從來迷謬。渙然冰釋。至於治法。高出千古。直髮前人所未發。誰謂今人不及古人之精乎。故附刊之。用告業醫之士焉。蓋天地以生物為心。寒熱溫涼。四氣遞運。萬古不易。人生其間。感觸寒暑而病者。皆其起居無時。飲食不節。氣虛體弱。自行犯之。非寒暑之過也。然亦不過千百中之一二耳。若以寒暑為殺厲之氣。觸之即病。則人無噍類久矣。豈天地生人自然之道哉。至非其時而有其氣。謂之不正之氣則可。謂之疫氣則非也。何也。不正之氣。人感之者。有病有不病。未可一概論也。若夫疫氣。則不論富貴貧賤。老幼男女。強弱虛實。沿門闔境。傳染相同。人無得免者。此唯大兵大荒之後有之。而饑饉之年尤甚。流離滿野。道殣相望。或趨鄉鎮。或集郡邑。或聚都城。安置失所。賬濟寡術。九重萬里。呼答無門。三五為群。死無虛日。千百一豖。埋藏不深。掩蓋不厚。時至春和。地氣轉動。浮土塌陷。白骨暴露。血水汪洋。死氣屍氣。濁氣穢氣。隨地氣上升。混入蒼天清淨之氣。而天地生物之氣。變為殺厲之氣。無形無影。無聲無臭。從口從鼻而入。直犯臟腑。正氣閉塞。邪氣充斥。頃刻云亡。莫可救藥。說文云。疫者。民皆病也。厲鬼為災。斯名疫耳。禮記月令云。孟春之月。先王掩骼埋胔。正以是月天氣下降。地氣上升。誠恐胔骼穢惡之氣。隨天地之氣升降。混合為一。有害人物。故掩埋之。此預補造化。大有功也。蓋以人在氣交之中。如魚在水。一毫渣滓。混雜不得。設川澤潑灰。池塘入油。魚鮮有得生者。人受疫氣。何以異此。是以自古聖君賢相。參贊化育。變理陰陽。消弭疫端於平日。捍患御災。煮粥施藥。救濟疫害於臨時。人無橫夭。世躋雍熙。文人解為澤及枯骨。失其旨矣。詎春月當澤及枯骨。而夏秋冬之枯骨。遂不當澤及哉。近有好事之輩。設立壇廠。每於小兒出痘之年。購求夭亡屍骸。雖經埋痤。亦必刨出。堆集如山。架火燒焚。烈焰張熾。腥聞於天。神人掩鼻。毒氣熏蒸。惡味氤氳。流行傳染。以致嬰孩生出一等怪證。似痘非痘。似疹非疹。似斑非斑。一二日間。即涉危篤。雖有良醫。莫敢措手。共相詫諤。咸謂天生異災。不知致此之由。頻年以來。冤枉赤子。何啻數萬。離城二三十里。即無此證。豈非明驗與。嗟嗟。異端妖術。惑世誣民。昧者反以為善。聚眾譁之。斂財助之。此倡彼和。奔走若狂。揆之先王掩骼埋胔之義。不大相乖舛耶。因序疫證而並及之。以望世之學醫者。加之意焉。漁陽林起龍北海識於補拙齋。</p>

<h3>附喻嘉言瘟疫論</h3>
<p>喻昌曰。聖王御世。春無愆陽。夏無伏陰。秋無悽風。冬無苦雨。乃至民無夭札。物無疵癘。太和之氣。彌滿乾坤。安有所謂瘟疫哉。然而周禮儺以逐疫。方相氏掌之。則瘟疫之由來。古有之矣。鄉人儺。孔子朝服而致其誠敬。蓋以裝演巨像為儺神。不過彷彿其形。聖人以正氣充塞其間。俾疫氣潛消。乃位育之實功耳。古人元旦。汲清泉以飲芳香之藥。上已採蘭草以襲芳香之氣。重滌穢也。後漢張仲景著傷寒論。欲明冬寒春溫夏秋暑熱之正。自不能併入疫病以混常法。然至理已畢具於脈法中。叔和不為細繹。乃謂重感於寒。變為瘟疫。又謂春時應暖而復大寒。夏時應大熱而反大涼。秋時應涼而反大熱。冬時應寒而反大溫。此非其時而有其氣。是以一歲之中。長幼之病。多相似者。此則時行之氣也。又謂冬溫之毒。與傷寒大異。冬溫復有先後。更相重沓。亦有輕重。為治不同。又謂從春分節後。至秋分節前。天有暴寒者。皆為時行寒疫也。蓋以春夏秋為寒疫。冬月為瘟疫。所以又云三月四月。或有暴寒。其時陽氣尚弱。為寒所折。病熱猶輕。五月六月。陽氣已盛。為寒所折。病熱則重。七月八月。陽氣已衰。為寒所折。病熱亦微。後人奉此而廣其義。謂春感清邪在肝。夏感寒邪在心。秋感熱邪在肺。冬感溫邪在腎。塤篪遞奏。舉世若狂矣。嗟嗟。疫邪之來。果寒折陽氣。乘其所勝。而直入精神魂魄之臟。人無噍類久矣。更有謂疫邪無形象聲臭。定時定方可言。是以一歲之中。長幼莫不病此。至病傷寒者。百無一二。治法非疏里則表不透。非戰汗則病不解。愈摹愈遠。究竟所指之疫。仍為傷寒傷溫傷暑熱之正病。疏里則下早可知。戰汗則失表可知。只足自呈敗闕耳。夫四時不正之氣。感之者因而致病。初不名疫也。因病致死。病氣屍氣。混合不正之氣。斯為疫矣。以故雞瘟死雞。豬瘟死豬。牛馬瘟死牛馬。推之於人。何獨不然。所以饑饉兵凶之際。疫病盛行。大率春夏之交為甚。蓋溫暑熱濕之氣。交結互蒸。人在其中。無隙可避。病者當之。魄汗淋漓。一人病氣。足充一室。況於連床並榻。沿門闔境。共釀之氣。益以出戶屍蟲。載道腐墐。燔柴掩席。委壑投崖。種種惡穢。上混蒼天清淨之氣。下敗水土物產之氣。人受之者。親上親下。病從其類。有必然之勢。如世俗所稱大頭瘟者。頭面腮頤。腫如瓜瓠者是也。所稱蝦蟆瘟者。喉痹失音。頸筋脹大者是也。所稱瓜瓤瘟者。胸高脅起。嘔汁如血者是也。所稱疙瘩瘟者。遍身紅腫。發塊如瘤者是也。所稱絞腸瘟者。腹鳴乾嘔。水瀉不通者是也。所稱軟腳瘟者。便清泄白。足重難移者是也。小兒痘瘡尤多。以上疫證。不明治法。咸委劫運。良可傷悼。大率瘟疫痘疹。古昔無傳。不得聖言折衷。是以墮落叔和坑塹。曾不若俗見摸索病狀。反可顧名思義也。昌幸微窺仲景一斑。其平脈篇中雲。寸口脈陰陽俱緊者。法當清邪中於上焦。濁邪中於下焦。清邪中上。名曰潔也。濁邪中下。名曰渾也。陰中於邪。必內慄也。表氣虛微。裡氣不守。故使邪中於陰也。陽中於邪。必發熱頭痛項強。頸攣腰痛脛酸。所謂陽中霧露之氣。故曰清邪中上。濁邪中下。陰氣為慄。足膝逆冷。便溺妄出。表氣微虛。裡氣微急。三焦相溷。內外不通。上焦怫鬱。臟氣相熏。口爛蝕齦也。中焦不治。胃氣上衝。脾氣不轉。胃中為濁。營衛不通。血凝不流。若胃氣前通者。小便赤黃。與熱相摶。因熱作使。遊於經絡。出入臟腑。熱氣所過。則為癰膿。若陰氣前通者。陽氣微厥。陰無所使。客氣內入。嚏而出之。聲嗢咽塞。寒厥相逐。為熱所擁。血凝自下。狀如豚肝。陰陽俱厥。脾氣孤弱。五液注下。下焦不闔。清便下重。令便數難。臍築湫痛。命將難全。凡二百六十九字。闡發奧理。全非傷寒所有事。乃論疫邪從入之門。變病之總。所謂赤文綠字。開天闢地之寶符。人自不識耳。篇中大意。謂人之鼻氣通於天。故陽中霧露之邪者。為清邪從鼻息而上入於陽。入則發熱頭痛項強頸攣。正與俗稱大頭瘟蝦蟆瘟之說符也。人之口氣通於地。故陰中水土之邪者。為飲食濁味。從口舌而下。入於陰。入則其人必先內慄。足膝逆冷。便溺妄出。清便下重。臍築湫痛。正與俗稱絞腸瘟軟腳瘟之說符也。然從鼻從口所入之邪。必先注中焦。以次分布上下。故中焦受邪。因而不治。中焦不治。則胃中為濁。營衛不通。血凝不流。其釀變即見中焦。俗稱瓜瓤瘟疙瘩瘟等證。則又陽毒癰膿。陰毒遍身青紫之類也。此三焦定位之邪也。若三焦邪混為一。內外不通。臟氣熏蒸。上焦怫鬱。則口爛蝕齦。衛氣前通者。因熱作使。遊行經絡臟腑。則為癰膿。營氣前通者。因名客邪。嚏出聲嗢咽塞。熱擁不行。則下血如豚肝。然以營衛漸通。故非危候。若上焦之陽。下焦之陰兩不相接。則脾氣於中。難以獨運。斯五液注下。下焦不闔。而命難全矣。傷寒之邪。先行身之背。次行身之前。次行身之側。由外廓而入。瘟疫之邪。則直行中道。流布三焦。上焦為清陽。故清邪從之上入。下焦為濁陰。故濁邪從之下入。中焦為陰陽交界。凡清濁之邪。必從此區分。甚者三焦相溷。上行極而下。下行極而上。故聲嗢咽塞。口爛蝕齦者。亦復下血如豚肝。非定中上不及下。中下不及上也。傷寒邪在外廓。故一表即散。疫邪行在中道。故表之不散。傷寒邪入胃腑。則腹滿便堅。故可攻下。疫邪在三焦。散漫不收下之復合。此與治傷寒表裡諸法。有何干涉。奈何千年憒憒。試折衷以聖言。從前謬迷。不渙然冰釋哉。治法。未病前。預飲芳香正氣藥。則邪不能入。此為上也。邪既入。則以逐穢為第一義。上焦如霧。升而逐之。兼以解毒。中焦如漚。疏而逐之。兼以解毒。下焦如瀆。決而逐之。兼以解毒。營衛既通。乘勢追拔。勿使潛滋。或問春夏秋蒸氣成疫。豈冬溫獨非疫耶。余曰。冬月過溫。腎氣不藏。感而成病。正與不藏精之春溫無異。計此時有春無冬。三氣即得交蒸成疫。然遇朔風驟發。則蒸氣化為烏有矣。是以西北土高地燥。即春夏氣難上升。何況冬月之凝冱。東南土地卑濕。為霧露之區。蛇龍之窟。其溫熱之氣。得風以播之。尚有可耐。設旦暮無風。水中之魚。衣中之蝨。且為飛揚況於人乎。蒸氣中原雜諸穢。益以病氣死氣。無分老少。觸之即同一病狀矣。此時朔風了不可得。故其氣轉積轉暴。雖有薰風。但能送熱。不能解涼。盛世所謂解慍阜財者。在兵荒反有注邪布穢之事矣。叔和以夏應大熱而反大寒為疫。詎知大寒。正疫氣消弭之候乎。故疫邪熾甚。惟有北方。始能消受。詩惡譖人。思欲投畀有北。以熄其焰。析義精矣。</p>

<h2>疾病方一十六道</h2>
<p><u>達原飲　柴胡清燥湯</u>　茵陳蒿湯</p>
<p><u>瓜蒂散</u>　舉斑湯　桃仁承氣湯</p>
<p><u>犀角地黃湯</u>　清燥養營湯　栝貝養營湯</p>
<p><u>檳榔順氣湯</u>　普濟消毒散　荊防敗毒散</p>
<p><u>生犀飲</u>　人中黃丸　清熱解毒湯</p>
<p><u>人中黃散</u>（方俱見前）</p>

<h3>附集方一十六道</h3>
<p><u>既濟解毒湯</u></p>
<p>黃芩（一錢酒炒）　黃連（一錢酒炒）　桔梗（一錢）　甘草（五分生）　柴胡（五分）　升麻（七分）　連翹（一錢）　當歸（一錢酒洗）　大黃（一錢酒煨）</p>
<p>上以水二盞。煎一盞。徐徐溫服。</p>
<p><u>黃連解毒湯</u>　<u>黃連阿膠湯</u>（二方俱見前）</p>
<p><u>黃連瀉心湯</u></p>
<p>黃連　生地黃　知母（各一錢五分）　甘草（五分生）</p>
<p>上以水一盞半。煎八分溫服。</p>
<p><u>黃連龍骨湯</u>　治腹痛咽痛。體熱煩苦。</p>
<p>黃連　黃芩　芍藥（各八分）　龍骨（五分為末）</p>
<p>上以水一盞半。煎八分溫服。</p>
<p><u>黃連犀角湯</u>　治狐惑。</p>
<p>犀角（三錢磨汁）　黃連（二錢）　烏梅（四個）　木香（三錢磨汁）</p>
<p>上以水一盞半。入黃連、烏梅。煎八分。入犀角汁、木香汁和勻服。</p>
<p><u>黑膏</u>　治疫毒發斑嘔逆。</p>
<p>生地黃（二兩六錢）　淡豆豉（二兩六錢）</p>
<p>上二味。以豬膏六兩合煎。令三分減一。絞去滓。取濃汁如膏。入明雄黃豆大麝香少許。和勻分三服。</p>
<p><u>犀角消毒湯</u></p>
<p>牛蒡子（炒）　防風（各二錢）　荊芥（一錢）　甘草（八分）　犀角（磨汁）</p>
<p>上㕮咀。每服三錢。水煎。入犀角汁服。</p>
<p><u>漏蘆湯</u>　治臟腑積熱。發為腫毒。時疫疙瘩。頭面洪腫。咽溢堵塞。水藥不下。一切危惡疫癘。</p>
<p>漏蘆　升麻　大黃　黃芩（各一兩）　藍葉　黑參（各二兩）</p>
<p>上六味。為粗末。每服二錢。水一盞半。煎至六分。去滓溫服。腫熱甚加芒硝二錢半。及生甘草、牛蒡子、連翹更神。</p>
<p><u>消毒丸</u></p>
<p>大黃　牡蠣（燒）　殭蠶（各一兩炒）</p>
<p>上為末。蜜丸彈子大。新汲水化下一丸。無時。</p>
<p><u>雄黃丸</u></p>
<p>雄黃（一兩研）　赤小豆（炒熟）　丹參　鬼箭羽（各二兩）</p>
<p>上為細末。煉蜜丸如梧子大。每日空心以溫水下五丸。雖同床共屋。亦不相染。</p>
<p><u>運氣五瘟丹</u></p>
<p>黃芩　黃柏　黃連　山梔子　香附　紫蘇　甘草梢　大黃</p>
<p>上七味生用。於冬至日為末。將大黃三倍。煎湯去滓。搗藥丸如雞子大。硃砂、雄黃為衣。再貼金箔一丸。取泉水七碗。浸化可服七人。此藥乙庚年黃芩為君。</p>
<p>丁壬年山梔子為君。丙辛年黃柏為君。戊癸年黃連為君。甲巳年甘草梢為君。為君者多一倍也。餘四味與香附、紫蘇為臣者減半。每年熱病。改為小丸。救人甚妙。</p>
<p><u>大青丸</u></p>
<p>薄荷　山梔子　黃芩　黃連（各三錢）　連翹（六錢）　甘草（三錢）　大黃　白龍骨粉（各八分）</p>
<p>上為末。用青蒿自然汁為丸。綠豆大。雄黃為衣。每服十丸。白湯送下。</p>
<p><u>二黃丸</u>　治大頭時疫。</p>
<p>黃連（酒炒）　黃芩（酒炒）　生甘草（各等分）</p>
<p>上㕮咀。每服五錢。水一盞半。煎八分。稍溫徐徐呷之。</p>
<p><u>救急解毒丸</u></p>
<p>甘草　桔梗（各二兩）　荊芥　防風　連翹　酒黃芩　酒大黃　薄荷　酒黃連　升麻（各一兩）　殭蠶　蒲黃　青黛　盆消　射干（各五錢）</p>
<p>上十五味。共為極細末。羅淨。以烏梅湯調柿霜和丸。如圓眼大噙化。煎湯亦可。</p>
<p><u>神授香蘇散</u>　治瘟疫。昔有城中大疫。一白髮老人教富人合此藥施病者。皆愈。疫鬼相顧曰。此老教三人矣。遂遁。</p>
<p>紫蘇　香附（各二兩醋製）　陳皮（一兩去白）　甘草（五錢）</p>
<p>上為細末。每服三錢。水一盞半。煎七分溫服。</p>
<p>凡遇天行時氣。恐其傳染。須遲出早入。腹中常飽。身佩靈符。時焚椒、蘭、芷、術清烈之香。鼻孔塗雄黃最良。老君神明散。東坡聖散子等方。皆一派辛熱燥烈有毒之藥。全無扶正驅邪逐穢解毒之品。不知醫書。何以列之疫條。必系後人偽託。學者慎勿徇名妄用。害人非淺。虞天民辨之最詳。不可不考。</p>
