<header data-type="book">
<h1>瘦吟醫贅</h1>
</header>

<h1>自序</h1>
<p>學道不成，退而學藝；雞窗燈火，四十寒暑，轉益茫然，誠哉！此事果難知也。醫贅二卷，聊述舊聞，都無片段，就正有道，何啻一吷，詅癡之誚，所不免夫。</p>
<p><u>道光己亥重九日瘦吟自識。</u></p>

<h1>卷上</h1>
<p>1.傷寒雖分六經，而三陽為要，而三陽則又以陽明胃尤要；以胃主生陽故也。若三陰不過陽明胃裡事耳。未有胃陽不虛而見太陰證者，亦未有胃陰不虛而見厥陰證者；至於少陰，尤為陽明之底板，惟陽明告竭，方致少陰底板外露，若陽明充盛，必無病及少陰之理。蓋少陰有溫、清二法，其宜溫者，由胃陽偏虛，太陰濕土偏勝而致；其宜清者，則由胃陰偏虛，厥陰風木偏勝所致。陽明偏虛則見太陰、厥陰，陽明中竭則露少陰底板。故柯韻伯以陽明為三陰之外護，可謂卓見。然愚以謂陽明亦三陽之同賴也。如太陽宜發汗，少陽養汗，汗，非陽明之津液乎？</p>
<p>2.太陰以溫為主，救胃陽也，厥陰以清為主，救胃陰也；由太陰濕勝而傷及腎陽者，救胃陽以護腎陽，由厥陰風勝而傷及腎陰者，救胃陰以滋腎陰，皆不離陽明治也。邪在太陽，須藉胃汁以汗之。邪郁少陽，所謂半表半裡、經絡之間，從乎中治者，須藉胃汁以和之，養汗以通元府之法也。謂之養汗者，太陽宜汗，陽明禁汗，少陽則不宜汗而欲其汗，不禁汗而非發汗，欲陰陽自和而如時雨之化者也。傷寒一證，全藉陽明，非至要至要者乎。</p>
<p>3.《傷寒論》最重「桂枝」、「柴胡」二方，百十三方從「桂枝」、「柴胡」出者，實居大半。可見治病以和為貴，偏寒、偏熱，不得已也。</p>
<p>4.今之傷寒，皆溫熱病也，如太陽之「麻」、「桂」、「青龍」等證無有也。初起只須「蔥豉」合「清心」、「涼膈」，或「陽旦」，或「葛根芩連」，或「柴連」、「溫膽」之屬，散表邪兼清裡熱，令其微汗而解；如熱仍不退，漸覺口乾、舌燥，便當撤去表藥，參入玉竹、天麥冬、生地之屬以存津液，略佐薄荷葉等輕揚清透；若舌潤不渴，而見胸痞，噁心，可於前「蔥豉」等散表清裡方中，枳、桔、「小陷胸」、「瀉心」之類，寬胸消痞，此氣窒不宣，故宜辛泄，不必滋清；若津液既傷，壯熱渴飲，須「玉女煎」、「竹葉石膏湯」大滋胃液；若再煩悶、舌絳，須防斑點，急進「犀角地黃」，化入「至寶」、「牛黃」以清包絡；即不傳包絡，胃液既劫，尚防厥陰風動而致痙厥。熱痢宜「復脈」及「黃連阿膠」、「白頭翁」等選用，以清滋少陰。此大略也；若作太陽傷寒治，失之遠矣。</p>
<p>5.溫熱病，利小便用「豬苓湯」；暑濕病，利小便用「桂苓甘露飲」。</p>
<p>6.傷寒以陽為主，陽司開，故治太陽、太陰；表寒散太陽，裡寒溫太陰也。溫熱以陰為主，陰司合，故治陽明、厥陰；實熱清陽明，虛熱滋厥陰也。寒熱不齊，從乎中治，中為樞也，故治少陽、少陰；或從樞而開，或從樞而合，旋轉陰陽，環應不忒也。</p>
<p>7.伏邪都屬伏氣鬱發，蓋所受者非一氣，所積者非一年，蘊於異所，無關經絡、藏府，風寒觸之而不動也，暑濕觸之而不動也，必俟天地之大氣轉旋，虛空之伏氣鬱發，而後人之有伏邪於氣機之隱微者應焉。故其發也，往往充徹藏府，彌滿三焦，難分經絡，且其氣錯雜，非可以常法構也；然大旨不外苦寒清熱，芳香解毒而已；以郁久而發，縱有寒濕，亦變燥熱也。然此猶言其常也，如近年來寒濕伏邪，亦正不少，如「東坡聖散子」，自明以來從無用者，而今則應用頗繁。總之時行之邪，當因時制勝，不可拘守成法，亦不可偏信司天運氣之說，而致迂遠不切，但起《熱病論》《傷寒論》熟讀精思，更參之後世各家名論，如或論傷寒，或論溫熱，或論暑濕，或論溫疫，或論中惡等書讀之，久久得其氣化之會通，則自能握其制化之要領矣。</p>
<p>8.內無伏氣，縱感風、寒、暑、濕之邪，病必不重，重病皆新邪引發伏邪者也，惟所伏之邪有微甚，有偏全，人之藏性有陰陽，有強弱，故就中又有輕重之分焉。</p>
<p>9.大抵治伏邪總以通陽為主，通陽非用溫之謂，雖用硝、黃亦通陽也；清陽旋轉，節節通靈，何伏邪之不消散乎。無形令其旋轉，三焦自有專司，葉天士可謂聰明絕世。</p>
<p>10.內科於瘍症多不甚留心，故方法亦不甚精熟，然腸癰有腹痛、吊腳、肩痠沉重、肌膚甲錯可辨，肺癰有咳唾臭痰、胸前隱痛可辨，故不致南轅北轍。惟脈痔一證，與便血初無分別，而內科則僅知為便血而已，殊不知脈痔十居八九，凡三年、五年以至數十年不愈之便血，皆脈痔也。夫「陰絡傷則血內溢」，是謂便血，病關藏真，死生參半，豈有久延之理；痔血出於腸府，故雖年久不致疲憊。此症最多，不可不知。</p>
<p>11.今治風邪，都用辛散表藥，不知風從燥化，汗為津液，於仲聖「桂枝」、「柴胡」二方所用人參、芍藥、甘草、大棗之意，可謂全無理會。</p>
<p>12.孫真人謂凡中風多由熱起，可為要言，後世繆仲淳、王肯堂頗領其旨。</p>
<p>13.《金匱》「防己地黃湯」，用地黃獨多，《千金·中風門》用地黃、麥冬等汁者亦不少，可見風邪化燥，而治風必先治血也。後世此旨不傳，乃有真中、類中之別，其實類中固宜固本，而真中亦無一味辛散之理，徒自妄生分別耳。</p>
<p>14.《傷寒論》只百十三方，而治風、治寒、治暑、治濕、治燥、治火、治氣、治血，治痰、治食、治水、治蟲等法，無不備焉。</p>
<p>15.今人皆以《傷寒》為不全之書，謂之未讀《傷寒》可矣。試思東垣、立齋暢論內傷，能出「建中」、「復脈」範圍否；河間、震澤暢論熱病、溫疫，能出「白虎」、「承氣」範圍否；喻西昌獨出手眼，擅改《內經》，快談秋燥，能出「竹葉石膏」範圍否。而尚謂之非全書，真同說夢矣。</p>
<p>16.左：心、小腸、肝、膽，腎；右：肺、大腸、脾、胃、命之說，本於《難經》《脈經》，非高陽生之杜撰，況以六氣配六部，確有至理，未可非也。西昌乃謂二腸脈不當混處心、肺清虛之上；吾謂不然，手經皆自手走頭，若二腸脈不應同診於兩寸，則二腸經亦不應上行之頭矣，況六部皆手太陰也，降寸於尺，何殊五十步百步耶。</p>
<p>17.脈位之說，吾所見者有四：《難經》《脈經》《脈訣》一也；景岳、西昌、士材所注《脈要精微論》二也；《褚氏遺書》三也；《韓氏醫通》四也；可以合參，不可偏主一說。近見葉天士《醫效秘傳》一條亦佳，可以參觀。</p>
<p>18.凡病皆當合參，不可偏主一說，如舌苔白如積粉，就吳又可而論，乃疫邪初離募原，「達原飲」證也；而王絳雪又謂戊午歲自春徂秋，民病毋論三因，舌苔白者居多，有白滑、白屑、白粉之異，用薑、附則白苔厚而液燥，用芩、連則手足冷而陽脫。因制「薑桂湯」：薑汁為君，辛潤泄衛，肉桂通營，佐以參、歸、南棗甘補，應手而愈，若進吳氏法，豈不大謬。</p>
<p>19.楊汘村以舌胖為陽虛之微。然須與腫大有辨；腫大而紫，乃是酒毒。</p>
<p>20.舌色如豬肝，胃敗之象，病多不起。</p>
<p>21.看溫熱時邪，以驗舌為要，而驗舌之法，以辨燥潤為要。</p>
<p>22.舌起煙煤，總屬胃虛，急宜甘溫醒胃；平生經手用「人參養營」起者甚多，不可拘牽外象之寒熱等證也。</p>
<p>23.傷寒、溫熱、時邪，以渴不渴為要訣。不渴者用「柴胡」、「小陷胸」、「枳桔瀉心」等為一隊；渴者有二，傷上焦津液者，用「玉女」、「竹葉石膏」、「犀角地黃」等為一隊；傷下焦津血者，用「白頭翁」、「復脈」、「黃連阿膠」等為一隊。蓋肺、胃、心包宜甘寒，腎、肝宜參苦泄，苦以堅陰也。若調治非法而致實結，宜下；或絡閉，宜開。攻伐太過而致正虛，宜補；或陽亡欲回，則皆屬壞病，隨機應變可也。「麻黃」、「青龍」之真傷寒證，江浙絕無，斷不可用；惟冬溫為秋燥之餘氣，即伏暑之類而更感寒邪束之，間有用「麻杏石甘」者，亦不多見也。若尋常冬溫，只須「蔥豉湯」加玉竹、桔梗、白薇、青木香、生甘草足矣。</p>
<p>24.暑瘧多燥，其治在肺，重者，「人參白虎」或「竹葉石膏」加厚朴；輕者，杏仁、滑石、蔻仁、絲瓜葉、蘆根、米仁之屬。濕瘧多寒，其治在脾，宜苓、桂、朮、姜或「消暑丸」之屬。暑濕兩甚者，「桂苓甘露」加草果、知母。久瘧多虛，「四獸飲」、「歸耆建中」之類，更吞「鱉甲煎丸」。</p>
<p>25.白痢濕化，雖主大腸而內關脾臟；赤痢風化，雖主小腸而內關肝臟。故白耐剛而赤耐柔也；久則同歸於腎矣。或煦督陽，或濡任陰，皆治腎也。今人用藥，全不察臟性之耐剛、耐柔，聞有治腎之說，便泥熟地為久痢要藥，殊為可嘆。</p>
<p>闢如「五苓散」，太陽之剛劑也，而「導赤散」，柔劑也；「平胃散」，陽明之剛劑也，而「白虎湯」，柔劑也。就一方而論，如「桂枝湯」，桂枝、生薑剛藥也，而人參、大棗柔藥也。或剛劑而參以柔藥，或柔劑而參以剛藥，無非因臟性之體用，病機之出入而為之錯綜變化，約之雖一言可了，推之實神變無窮。</p>
<p>26.虛能生百病，因虛而致病者，斷不可見病治病，然亦不可蹈蠻補之弊，當因證變通，隨時消息；如中風一症，可用「續命」、「三化」等湯者固絕少，若一例「地黃飲子」，亦非法也。</p>
<p>27.漢、唐人用丸子補藥，所服甚少，不過十粒、二十粒而止，此意最精。蓋服藥如吃飯，必上頓消盡，然後能吃下頓，惟其消化之盡，而人之精神便充長於生生化化，之所謂造化存神也。若消有不盡，便屬停滯，反為害矣；服藥亦然，必藥之渣滓、氣味消融盡淨，而藥之精華醇粹方潛然默長，日積月累，有無中生有之妙，蓋存神於氣血之先也。今人用丸補方，有用至每服兩許者，胃怯者安能免停滯之弊乎。</p>
<p>28.《寓意草》治金鑑春溫一症，自述收功反掌，並笑人見熱煩枯燥之症，不敢用附子之愚。夫溫病之異於傷寒者，在不惡寒而渴也，今身踡足冷，非不惡寒矣，半渴不渴，則非渴矣，且不載脈象，何所據而謂之春溫邪？蓋金鑑自是虛陽不歸，陰火上盛，更感於寒，寒邪束其浮陽之夾陰傷寒證也，豈溫病邪。果系春溫而投「麻附細辛」，及「附子瀉心」二方，覆杯而斃矣。</p>
<p>29.世有患痼疾而百藥不靈，往往奉行《感應篇》《陰騭文》而愈，此有至理。蓋吾人身根於氣，而氣根於性。性者，氣之生理也。氣虛而投以參、耆補氣，亦惟氣中之生理也，未屈者方能有功。若生理已屈，補氣何益？蓋惟積德行善，乃所以直接生理而氣自充長，以理為氣之先天也。蓋人之生也直而性本善，積德行善，則隱微之地，自有一種愜意悅心之處，故生理自完，而生氣常伸，所謂「義理之悅心」，「猶芻豢之悅口」也。芻豢悅口，可以滋養其身，義理悅心，獨不能溫存其性乎？性得養而生理日充，生理充則生氣自日新矣。此實理也。《老子》曰：「死而不亡者壽」，蓋性無生死，生生不息者也，完得性分，與天同壽，生死且不足計，況區區病幻乎。</p>
<p>30.治病必求其本，如同為濕熱之證，因濕而蒸熱者，必化其濕而熱方退；因熱而蒸濕者，必清其熱而濕方行，不可混也。又如同為白舌、口渴之證，若濕邪內聚而津液不主上承者，當以舌白為據，而用辛溫開濕，不以口渴為忌也；若燥邪上受，津液不司通降者，當以口渴為據，而用清潤化燥，不以舌白為拘也。又可混治乎？</p>
<p>31.看虛勞全要留心胃納。胃納強者，或清潤，或滋填，可隨證施治；若胃納不佳，或大便不實，便當以照管胃關為要，不但清潤非宜，滋填尤非宜也。</p>
<p>32.看病總要在空處盤旋，方能「得之環中，超之象外」。</p>
<p>33.「柴胡加龍骨牡蠣湯」，徐靈胎謂能祛肝膽驚痰，可治癲癇；「桂枝去芍藥加蜀漆龍骨牡蠣救逆湯」，葉天士用以治瘧疾之汗多亡陽者。並可為用古之法。</p>
<p>34.「四君」補氣，參、苓通，補胃氣；朮、草守，補脾氣。「四物」補血，芎、歸通，補絡血；地、芍守，補經血。皆當分別以用。</p>
<p>35.六淫之邪，惟寒、濕傷陽，風、暑、燥、火則無不傷陰，故治傷寒以存津液為要。</p>
<p>36.六經實熱，總清陽明；六經虛寒，總溫太陰。</p>
<p>37.六淫之感於一時者輕，伏氣之積以數年者重。感於一時，不外六經，積以數年，乃在異所，即募原及奇經之屬，衛氣不到之區。故病不發則相安於不覺，如小兒之痘疹，然必異氣外觸，而後伏邪內動也。若夫冤業之邪、則尤甚焉。蓋伏氣雖隱於無形，終為病氣，氣尚有跡；故神仙鼓八脈之氣而衛陽通徹，則邪無所容而終身無病。冤業不然，乃歷劫以來無明所結，蘊於神光不照之區，而癡情不斷，闇昧難求，非內照功深，天心洞徹，超然物外者，未易燭其隱而消其障也。《圓覺經》曰：「有形之罪可免」，其如無形乎；《中庸》②曰：「君子之所不可及者，其惟人之所不見乎」。此醫者第一義諦也。不能醫無形之病，非至醫也，六淫云乎哉！伏氣云乎哉！</p>
<p>38.讀《生氣通天論》而知天人一理，天道生生不息，人能體天地好生之心以為心，修仁、敬、孝、悌、慈、信之行，以崇生生之本，是謂養生主也。若不能於天心上修仁、敬、孝、悌、慈、信之行，而徒務靜功，縱能完復精神，終歸變滅。蓋不合《上古》《通天》之旨，而自絕於生生之本矣，烏得「死而不亡」之妙諦哉。</p>
<p>39.邪入太陽，先傷營衛，而營衛實心肺主；「麻黃」治衛，肺家藥也；「桂枝」治營，心家藥也。推而進之，胃為衛之本，脾為營之源；故「麻黃」有加石膏法，散肺衛兼清胃氣；「桂枝」有加飴糖法，和心營兼補脾血也。</p>
<p>40.知心營、肺衛之統於太陽，則知葉天士所謂「溫邪上受，首先犯肺，逆傳心包」之說，仍不外太陽治也；蓋「葦莖湯」之泄肺衛，「犀角地黃湯」之清心營，雖曰手經，實太陽地界也。</p>
<p>41.今人知太陽主表，而不知太陽之裡；今人知膀胱為太陽之裡，而不知胸膈之上，心營、肺衛之間，皆太陽所統也。仲景不云乎，「病有發熱惡寒者，發於陽也」，此太陽之表，表之表也；「無熱惡寒者，發於陰也」，此太陽之裡，表之裡也。故誤下而為結胸、痞症，則用「大、小陷胸」及「瀉心」等方。曰瀉心、曰陷胸，明明心胸之間為太陽所統也。此明證也。今人惟不知太陽里病，故於發陽。發陰之旨，往往不得其解，雖《尚論》《論翼》具空前絕後之識者，亦於此昧昧焉。殊不知發陽、發陰，同屬太陽，同為熱病；以發為中陰者固非，以無熱為未熱者，又寧免支離之誚乎。</p>
<p>42.「病發於陽」，表之表者，「麻黃」證也；「病發於陰」，表之裡者，即陽明之表，「梔豉」證也。今之溫熱病，用「清心涼膈散」，即「梔豉」之意，「病發於陰」之治法也；亦有發熱惡寒而參用蔥、蘇、葛根之屬者，即「麻」、「桂」之意矣，而不竟用「麻」、「桂」者，以江浙溫暖，人多蘊熱，無西北嚴寒之故也。若冬、春之交，如「萎蕤湯」、「陽旦湯」，因亦未始不用也。蓋「發」者，自內而出之謂。「發於陽」、「發於陰」雖不同，而同為熱自內出之太陽證，故曰：「熱病者，皆傷寒之類」也。此旨不明，千家聚訟，而後葉天士有心營、肺衛之辨，可謂發仲景千古之蘊，惜其不引《太陽篇》中原文為證，而反牽合吳氏《溫疫論》之說亦一失也。</p>
<p>43.傷寒只一，而傷寒之類非一也。治傷寒只三法，汗以「麻黃」，吐以「瓜蒂」，下以「承氣」；而治傷寒之類非僅三法也。世之病傷寒者少，病傷寒之類者多，世之醫者僅知三法者多，而能立方於三法之外者少，此仲景所以有《傷寒論》之作也。「桂枝湯」，辨非「麻黃」證也。「梔豉湯」，辨非「瓜蒂」證也。「瀉心湯」，辨非「承氣」證也。種種妙義，無非為株守三法者設。是教人辨傷寒之類，非教人治傷寒也；是教人慎用三法，非教人用三法也；此仲景之苦心也。而後人乃謂仲景立汗、吐、下三法以治傷寒，其然乎。</p>
<p>44.或謂怔忡病不全屬心，亦當責之腎；夢遺病不全屬腎，亦當責之心。可知心、腎之相關矣。</p>
<p>45.太陽、太陰、少陰，大旨宜溫；少陽、陽明、厥陰，大旨宜清。甲乙歸戊土燥化，壬癸歸己土濕化，此傷寒之大局也。</p>
<p>46.喻西昌獨闢秋燥，葉香岩大闡手經，自朱南陽、郭白雲以來，誠可謂獨開生面，別樹一幟。蓋溫熱之邪，皆從燥化，而心營、肺衛實當衝要，三焦之火用太過，二腸之津液被戕，必致心包之清竅不宣，而成內閉外脫之症，此「清燥救肺」、「犀角地黃」，以及「至寶」、「牛黃」、「紫雪」等方，實足以發仲景未宣之蘊。然其為病也，多燥而少濕，有熱而無寒，故只須以上焦津液為主，而清解絡熱，不比正傷寒之頭緒錯雜、應變多方之難治也。</p>
<p>47.「陽氣者，若天與日」，吾人生身之命之本也。蓋人之一身，五官百骸、皆死物也，所以運此五官百骸者，是活物，所謂陽氣也。陽氣有通而無塞，充滿於五官、百骸、九竅、十二臟而運轉不息。或外邪觸之，或情志郁之，則失其健運之常，而通者塞矣。然治之者，仍須目注其陽氣之屈伸，陽機之出入而利導之，則病無不解；所謂無形令其轉旋，則三焦自能升降，如庖丁解牛，行所無事而塞者自通，此決病第一要訣，不可不精察者也。若不明陽氣為生人之本，則受病者誰受，發病者誰發，而能卻此病者，果藉誰之力而卻之，皆茫無把握矣。</p>
<p>48.陽氣作而人因以生，陽氣息而人因以死；一陽氣之屈伸耳。故人雖有死、生之殊，而彼陽氣者，初未嘗與生俱生、與死俱死也；蓋其為氣，至大至剛，以直養而無害，則塞於天地之間，而超於死生之外。</p>
<p>49.天體純陽，有通無塞，有直無曲，有生無死，故為醫而能通人之塞，直人之曲，生人之死，便是天醫。</p>
<p>50.仲景、叔和而後，能得《傷寒》之大旨者《千金翼》《本事方》《活人書》《補亡論》《總病論》數種為最精。今之讀《傷寒論》者，類取後世無實之空言為秘本，欲其藝之出人頭地也，難矣！</p>
<p>51.《內經》治傷寒，只汗、下二法，故仲景雖分六經，而陽明、太陽證最多。（寒病統於太陽，熱病統於陽明。）</p>
<p>52.胸痞為少陽證者，以胸為太陽之裡，又為陽明之表，表裡之間，正少陽也。然太陽自是太陽病「瀉心」證也，陽明自是陽明病「梔豉」證也，少陽自是少陽病「柴胡」證也，不可混治。何以別之？太陽必無熱惡寒，陽明必發熱不惡寒，少陽必往來寒熱也。胸痞為溫熱、時邪所必見之證，而今之醫者，亦不外「柴胡」、「梔豉」、「瀉心」三法以治，但不能溯其源流，未必一一對症，故表而出之。溫熱之胸痞，蓋陽明病也。</p>
<p>53.劉河間、王安道、陶尚文、吳又可、張鳳逵諸公，已暢言溫熱矣，後此如喻嘉言，周揚俊、張路玉、葉天士、薛生白，皆精於溫熱之源流者也，可知溫熱之不少於傷寒矣。吾四十年越歷以來，凡病之屬陽明、少陽、厥陰而宜滋清者，十有八九，如太陽、太陰、少陰之宜溫散、溫補者，百無一二，不知時代之不同歟，抑南北之異也。</p>
<p>54.《四明心法》，亦只論得溫熱，故以養陰為要，若論傷寒法，豈止此。</p>
<p>55.太陽病二三日，不得臥，但欲起，心下必結，脈微弱者，此本有寒分也。反下之，若利止，必作結胸，（寒實結胸。）未止者，此作協熱利。（「未止者」下，原有「四日復下之」五字，蓋衍文。）結胸宜「枳實理中湯」，協熱利宜「桂枝人參湯」。注者以結胸為陷胸證，大謬。故拈出之。</p>
<p>56.太陽與陽明合病、必自下利，「葛根湯」主之。《千金翼》云：「一作葛根黃芩黃連湯」，其義似長。</p>
<p>57.太陽主表，陽明主裡，焉得合病？惟太陽之裡，即陽明之表，同位於心胸之間，故合病也。而半表半裡正屬少陽心胸之間，又少陽所轄，故三陽皆得合病，而三陰則無者，以不涉心胸故也。知此則不但合病、並病之由心胸以轉旋，即傳經亦由心胸以傳化可知矣。蓋三陽皆受氣於胸中，胸中為諸陽之本故也。</p>
<p>58.巨陽為諸陽主氣，而陽明、少陽，不過因病以變名，非別有一氣也。病在表，則為太陽；病在裡，則為陽明；病在半表半裡則為少陽。在表、在裡及半表半裡者，病也；曰太陽、曰陽明與少陽者，氣也。病有風、寒、暑、濕之不齊，故面目不一，而應病之氣則同，此巨陽初無二致，其為之陽明、少陽者，猶之金閶之有胥門、齊門，非不另有其門，然只是金閶而已。</p>
<p>59.太陽為氣實，陽明為血實，惟少陽為血弱氣虛，故不可汗、下。</p>
<p>60.三陰惟少陰有「承氣」證，急下以存津液也，厥陰、太陰並禁下。《厥陰篇》所謂諸厥宜下者，是下其熱，蓋酸苦以泄之，非謂「承氣」也。《太陰篇》曰：「若下之，必胸下結硬」，亦非謂誤下太陰也，言縱有實熱應下之症，見太陰即不可下，下之必陽邪內陷，太陰症仍在而反增胸下結硬矣。要知厥陰內寄相火，下之利且不止，太陰為至陰之臟，下之豈僅胸下結硬而已耶。再，厥陰何以下之便利不肯止，蓋木火本傷脾陰，苦寒復損脾陽，陰陽並傷，脾將絕矣，利何由止；用「烏梅丸」者，一以殺木火之威，一以救脾陽之困，蓋誤下者厥陰而利不止，已屬太陰，故剛柔之必並進也歟。</p>
<p>61.少陽是開合之樞，太陽由胸而開，陽明由胸而合也；少陰亦開合之樞，太陰由腹而開，厥陰由腹而合也。三陽惟少陽症最少，表邪不及少陽，里邪亦不及少陽也。三陰惟少陰症最多，寒邪能犯少陰，熱邪亦能犯少陰也。少陽無死症，二陽同衛之也。少陰多死症，二陰同賊之也。</p>
<p>62.陽道實，故風寒實邪從太陽汗之，燥熱實邪從陽明下之，邪之微者從少陽和之。陰道虛，故寒濕虛邪從太陰溫之，風熱虛邪從厥陰清之，虛之甚者從少陰補之。陽道雖實，而少陽為陽之微，故和而兼補；陰道本虛，而少陰尤虛之極，故補之須峻。</p>
<p>63.《千金》《活人》有虛煩一症，此症甚多，而今人往往不知，誤治者多矣。古法用「竹葉湯」，予常用「溫膽湯」加麥冬、生地甚效。又百合一症，熱病後肺胃陰虛而餘邪不清者，亦所常有，今人都不識也。</p>
<p>64.熱已離表，汗之既遲，熱未入腑，下之太早，故用「白虎」，直清陽明，使熱邪從小便而出，所謂「氣化則能出矣」。當識「五苓」化寒水之氣，「白虎」化燥金之氣也。</p>
<p>65.肝虛絡痛，「旋覆花湯」佐以芎、歸、桃、柏二仁甚效。熱者「金鈴子散」，寒者「當歸四逆湯」，並皆佳妙。</p>
<p>66.少陰主虛，故太陽之寒、陽明之燥、太陰之濕、厥陰之風，並能犯之，與少陽之汗、下、溫、清皆不及者天淵。少陽為「中清之府」、「中正之官」，不染一塵者歟。</p>
<p>67.太陽宜汗，陽明宜下，少陽宜和，太陰宜溫，少陰宜補，厥陰宜清，此千古不易之法；但病有合、並，方有離、合，故治有先、後、緩、急。彼此之殊，須如星家之推命，縱同此八字，而取用有大不同者，取用或差，全不驗矣。醫家亦然，病不外此六經，治不外此六法，而錯綜變化之間，倘取用不真，縱方能對症，往往先後倒施、緩急失機而貽禍，況方不對症乎。故能讀古書，猶非難事，善取用神，實醫家第一難也。</p>
<p>68.厥、利不盡屬寒，柯韻伯特集熱厥、利症於《厥陰篇》後，頗可嘉惠後進。</p>
<p>69.太陽用太陽方，陽明用陽明方，人知之也；太陽不用太陽方，陽明不用陽明方，人不知之矣。有一經、兩經同病而方亦兼治之者，有兩經、三經同病而只治一經者，有全不用此兩經、三經之方而反治他經者，有先治一經而再治一經者，有從脈不從證，有從證不從脈者，有脈證並不從而得之象外者；仲景書中，無巧不備，皆所以教人善取用神之法也。</p>
<p>70.「太陽病，頭痛至七日以上自愈者，以行其經盡故也」，此指本氣。「若欲作再經者，針足陽明，使經不傳則愈」，此指病氣。七日再傳太陽之說，及本氣來復，非為病氣傳入厥陰，而再傳太陽也。「若欲作再經」，亦非說七日以上不愈，而「欲作再經者，針足陽明」，使歸併陽明也。</p>
<p>71.古人謂杜詩可以治瘧，此有至理。要知好文字皆可以治病，不獨杜詩也；知此則知符篆卻邪之理矣。總之：心精結撰，無不通靈，心力到處，感鬼格神，況區區病魔乎；但非平日心地上具有功夫，臨時便少定力，徒恃符篆，亦不靈也。</p>
<p>72.六經惟厥陰最難調治，蓋厥陰內寄相火，本屬有熱無寒，縱使直受寒邪，症現四逆、脈細，仲景只用「當歸四逆」、而不與薑、附可悟也；而「烏梅丸」中乃桂、附、辛、姜並進者，何也？蓋厥陰火鬱，必犯陽明，陽明氣實則厥火自由少陽而散，苟胃陽不支，則木邪乘土，必撤陽明之合，而為太陰之開，以至吐利交作，亡陽可畏，故必重用溫脾，俾以就陽明之實，而不陷太陰之虛，此轉絕陰為生陽，以破絕陰之法也；否則酸苦等味，雖有清泄厥陰之長，能無害胃傷陽之弊乎。總之厥陰症全以胃陽為用神。胃陽勝，則轉出少陽而病退；胃陽負，則轉入太陰而病進。觀仲景用「理中」以治霍亂，其義又易見也。</p>
<p>73.害生之病，惟郁為最；養生之方，惟樂為先。樂者，不郁之謂。夫人之神氣，好伸而惡屈，其屈伸之機，在自欺自慊之微，不僅能達觀之謂也。但人非賢聖，焉能在在慎獨，當此缺陷世界，苟能曠觀一切，超然物外，不為薄俗炎涼所動，亦養生之要矣。</p>
<p>74.人有無故而常鬱鬱不樂者，此由膽氣不伸，膻中之陽不能敷布而然，當用「十味溫膽」合「逍遙」治之，或「甘麥大棗」煎送「枕中丹」亦妙。不得意人往往犯此，醫者見其脈澀，不知氣鬱，誤為陽虛者多矣。</p>
<p>75.嘉慶甲子以來，天氣偏溫，往往暑熱太過，冬令少藏，人在氣交之中，是以腎真不固，脾無正火，木失土培而不條達，郁久火發，反凌脾土，多致霍亂氣脫。治之之法，大概「烏梅丸」是其主方，溫通脾腎之陽，清泄厥陰之熱，並行不悖也。就中有宜先溫而後清者，有宜先清而後溫者，有一溫而肝火自散，不必再清者，有一清而真陽自回，不必再溫者，有以填下而氣固者，有以培中而木達者，有用芳香而陽始通者，有用金石而氣方定者。種種治法，難以縷舉，在人知其綱要而隨機應變，不可執死板以求，然大旨則不能出「烏梅丸」苦、辛、酸協濟之範圍耳。</p>
<p>76.熱厥以「白虎湯」為主方，清化燥金也，而暑邪則加人參者，以其脈虛也。癉瘧則加「桂枝」者，以其骨節煩痛也。古人用藥，一絲不亂。如此，又可見暑病而骨節煩痛，亦可加桂枝；癉瘧而脈虛，亦可加人參。醫必執方而不執方，醫不執方而必執方也。</p>
<p>77.「太陽病，發熱惡寒，熱多寒少」，「宜桂枝二越婢一湯」。「脈微弱者，此無陽也，不可更汗」。此倒筆法，注家並謬，故訂正之。</p>
<p>78.周慎齋有腎不納氣，脾無正火，肝木火起之說。查庚辰、辛巳二年大疫，正合此義。蓋庚辰春夏之交，雨水太過，濕邪內聚，長夏酷熱四十餘日，陽氣偏泄，冬冷過暖，少陰不藏，故是歲已有霍亂轉筋、驟脫之症，然猶未甚。至辛巳春分時，肝木鬱發之證，十人而九，所謂腎不納氣，肝木起火也；夏至後或吐瀉，或筋急，須臾即死，閩、廣最甚，江、浙繼之，豈非其地溫暖，陽氣偏泄，以脾無正火而風動，濕鬱則陰閉陽脫歟？後竟蔓延北省，遠及外洋，是又非可以常理測矣。籲！安得慎齋其人，起而一救此生靈歟。</p>
<p>79.少陽主骨，故柴胡為骨蒸要藥。</p>
<p>80.鳳尾草背有金星，故又名金星草，其金星即海金沙也；用其根洗去泥、打爛，同雞子清研和如膏，入麝香少許，厚敷臍上，一日一換，小便即長，退水腫甚速，不動藏府，信良方也。《綱目》有「青蛤丸」：用蛤粉同生蒜頭打和，乾溼得所，丸如梧子大，每服二十丸，空心、開水吞送，亦小便漸長而腫自退。上方治熱，此方治濕。</p>
<p>81.鮮鮮合歡皮兩許，煎服，治雞盲頗效。俗名烏絨樹。</p>
<p>82.吐蛔，瓦松、炙存性，等分研細，和入制過爐甘石內，敷爛弦風眼，極有神功。</p>
<p>83.青鹽水煅管仲，為末，三錢、開水調化；止血熱妄行，吐、衄等症。可代「十灰散」。</p>
<p>84.一味白及，微炒、為末，糯米漿糊為丸，每服三錢，開水吞送；治肺癰神效，十服全安。袁簡齋《子不語》誤作白朮，想及、術聲音相近，聽未確耳。</p>
<p>85.疥瘡外治無一定之方，惟每日煎鮮首烏一兩、川萆薢五錢；服一、二十劑，重者二、三十劑，無不效。</p>
<p>86.鮮鮮蒼耳葉，搓熟塞鼻，男左、女右，截瘧甚效。</p>
<p>87.腎囊濕癢，用山茱萸皮、核，煎洗一二次即安。</p>
<p>88.小兒小水不通，脹急欲死。囫圇蓮房一隻，煎服即通；鮮者尤妙。</p>
<p>89.對口疽：用白狗矢、甘蔗渣，煅、等分研細，蜜調，厚敷患處，便漸高起，不必洗去，日日厚封其上，自然流出毒水而愈。</p>
<p>90.婦人玉門腐爛：用鹼一斤，研碎，置淨桶中，衝入滾水半桶，坐上薰之，衣被圍緊，勿令泄氣，一二次自安。</p>
<p>91.小兒關𤺪⿸疒貢頭：揀食鹽中硬塊，填入爛孔令滿，外蓋膏藥，即愈。</p>
<p>92.「雞肝丸」。治小兒疳積，目翳，肚大，唇紅，渴飲，泄瀉，此神方也：</p>
<p>琥珀、西黃、真珠、麝香、冰片、蘆薈、辰砂、雄黃、青黛、百草霜各一分。用田雞肝，煮熟；研和為丸，如綠豆大，每服二三分，醇酒送下。</p>
<p>93.「金不換」。治一切無名腫毒：</p>
<p>麝香三錢，辰砂二錢，青紅娘、去頭翅、三錢，雄黃五錢，共為細末。摻膏藥上貼。</p>
<p>94.蜈蚣咬：用鼻涕乾擦上，立刻止痛；雖符禁無此神速。</p>
<p>95.「定風散」。治豬、羊癇症。此方治膠痰實症，虛者宜參、茸、河車之屬，庶可望安。</p>
<p>魚膠二兩，鉛粉一兩、魚膠炒，皂礬一兩、醋煅紅，辰砂三錢、飛，共為末。每服二錢，酒調下。</p>
<p>96.胡椒、雄黃，等分為末，摻膏藥上，貼臍，截瘧。馬錢子、母丁香、各四枚，為末，摻膏藥上，貼臍，止痢；或用米飲和丸，安入臍中，外蓋膏藥亦妙。</p>
<p>97.「疔膏」：以透明松香、瀝青各五錢，蓖麻子肉二錢五分，二味、大青石上以鐵錘錘至前藥黏在錘上，黏起如清水一般為度，又加飛丹一錢，再錘數百下，收小瓷杯內。如遇初起疔毒，以新青布照疔大小，攤膏藥貼之，痛即止。少頃，毒水漸漸流盡。疔根如燈芯一條，拔出，仍將原膏貼上；至重者，再換一膏全愈矣。攤法：取瓷杯隔湯燉化，竹箸攤約一文錢厚。</p>
<p>98.「六汁飲」。治咽喉痛久，形枯虛熱，懨懨就斃者：</p>
<p>十年陳醬汁一兩，竹瀝一兩，薑汁五分，白萊菔汁五錢，石菖蒲汁一錢，枳實磨汁一錢五分。以上六汁，調和、隔湯燉溫，徐徐頻服。愈後接服「雪羹」兩月。</p>
<p>99.盤肛楊梅瘡，用熟石膏一兩，黃升丹四分，研細，摻，神效。</p>
<p>100.「海浮散」雖能止痛，然亦能長肉；毒未盡者不可輕敷，宜「壽星散」為妥。</p>
<p>101.灶馬俗名蟑螂，徽州人呼為油蟲，炒熟，研細，每服二、三錢，井水調服；治小兒疳積神效。</p>
<p>102.漢口膏藥：</p>
<p>陶丹十兩，銅綠十兩，蜜陀僧五錢，白桐油四十兩。先將桐油煎開，下陶丹，不住手攪，看油色紫黑，下銅綠，不住手攪，俟油中泡破、青煙起，下蜜陀僧，不住手攪，煎至滴水成珠，傾入瓷器，臨用攤貼。</p>
<p>此方甚佳，予常用木鱉半斤，煎麻油三斤，以代桐油，尤妙。呼膿用「壽星散」（水澄南星粉），解毒用「生肌散」（生石膏、熟石膏、赤石脂），收口用「海浮散」（乳香、沒藥），去腐用「烏金膏」（巴豆炭）。</p>
<p>103.外瘍初起，用「遠志膏」塗，最妙，「二味拔毒散」亦妙。</p>
<p>104.七里神效散：</p>
<p>歸尾二錢，乳香一錢五分，兒茶二錢五分，紅花八錢，沒藥二錢五分，硃砂二錢五分，雄黃八錢，血竭二錢五分，冰片三分，麝香三分。</p>
<p>以上諸藥，共研為細末。治刀傷、跌打損傷、昏迷；沉重者用溫熱水沖服三錢，輕者服二錢，外以藥掩刀口傷處。如跌打未破者，止宜沖服，不必敷掩。約人行七里即愈，屢試屢驗，真神方也。</p>
<p>105.下疳方：</p>
<p>鉛粉一兩，乳香二分半，沒藥二分半，雄黃二分半，銀硃二分半，輕粉二分半。用豬腰子剖開，搽藥其上，扎患處。</p>
<p>106.陳年爛腿方：</p>
<p>鉛粉四兩，龍骨二兩，硃砂二錢，白佔二兩，牡蠣二兩，輕粉二錢。香油調。</p>
<p>107.圍邊方：</p>
<p>銅綠一兩，煙膠四兩，回丹二兩，枯礬三兩，膽礬一兩，人中白一兩。香油調圍。</p>

<h1>卷下</h1>
<p>108.「冬傷於寒」者，非僅指冬時之傷中風寒，正謂「冬不藏精」也。「冬不藏精」之人，不但冬時易感風寒，亦且春易病溫，夏易病暑濕，秋易病燥；六淫之邪，無不由不藏精而致也。故仲師特以傷寒名其書，正欲人葆精於未病之先，豈僅以傷寒一病之傷寒而名之哉。</p>
<p>109.厥陰只是血虛鬱熱。</p>
<p>110.寒實者，痰熱也；無熱者，無表熱也；「小陷胸湯」的是正方。「白散」，劫法也，故曰「亦可服」。「亦可」者，非正法也。</p>
<p>111.「麻黃升麻湯」，乃治誤下厥陰溫熱、歹證之方。「千金麥門冬湯」、「五味子湯」、「活人萎蕤湯」，從此方脫胎者也。</p>
<p>112.「文蛤散」，當從柯氏作「文蛤湯」。</p>
<p>113.傷寒之邪，傳胃而定。胃家實，則力能吞併諸邪而招降制化，自不致於傳變。故凡傳變之病，皆胃之無權者也。</p>
<p>114.後人都以葛根為陽明表藥。亦知陽明主裡，無表法耶！少陽半表不可發汗，況陽明乎。</p>
<p>115.腳攣急是血虛。</p>
<p>116.胃為衛之本。故衛氣之健行，亦藉胃陽之充實；太陽亦倚重陽明也。</p>
<p>117.濕病脈沉細，陽虛氣滯也；痙病脈沉細，陰枯血澀也。</p>
<p>118.「證象陽旦」一條，乃血虛風燥之症，因用「桂枝」誤汗致變，故詳敘其救逆回陽，仍歸補血、和胃等法。雖病屬厥陰、陽明，而卻與「桂枝」相疑似，故列於《太陽》以合辯。因稍有錯簡，遂為千古疑團耳。</p>
<p>119.太陽之表已衰，陽明之裡未實，是謂少陽病也。</p>
<p>120.少陰「黃連阿膠」症，脈數、心煩，已逗厥陰之機矣；蓋少陰只有虛寒，以君火藏而不用故也。凡有熱象，皆相火之所為，非本病也。猶之厥陰門一切虛寒之症，亦少陰之所為，非厥陰本病也。</p>
<p>121.便膿血乃厥陰熱邪，用「桃花湯」者，因痢久傷及太陰之陽，故為之堵截陽明耳。</p>
<p>122.觀「吳茱萸湯」一方，則知少陰犯胃，的是厥陰來矣；溫陽明以制厥陰，則少陰自甸安矣。</p>
<p>123.少陽主氣，故先寒後熱；厥陰主血，故先厥後熱。厥陰轉少陽，則陽機通而病退；少陽轉厥陰，則陽機塞而病進。</p>
<p>124.蔬者，疏也，以能疏利腸胃也。鄉村小兒多蔬食，故痘出稀而鮮險逆；鳥雀常以生菜飼之則不生黃，皆疏利腸胃食毒之功也。古人蔬谷並重，良有以也。</p>
<p>125.風寒治在太陽，中寒治在少陰，風溫治在少陽，風燥鬱熱治在厥陰，暑熱治在陽明，濕溫治在太陰。風濕治在太陽，寒濕治在太陰，燥火治在陽明。</p>
<p>126.太陽脈浮，陽明脈大，少陽脈弦，太陰脈濡，少陰脈微，厥陰脈澀。風脈多弦，寒脈多緊，暑脈多虛，濕脈多濡，燥脈多澀，火脈多空；溫熱病脈大，疫病脈渾渾不清。</p>
<p>127.近年有一吐瀉而脈。色並脫者，此屬氣脫，與暑濕霍亂不同，輕者「理中」、「真武」，重者「來復丹」，如救一二。皆坐連年冬藏不固，炎暑太過，真陽泄越所致；養生者冬令宜遠房幃，入夏更淡口腹，並戒生冷，可免此等病症。</p>
<p>128.東垣方多偏溫燥，蓋中虛則脾陽不醒，寒濕內生，但用甘補而不參辛通，必反致壅滯矣。</p>
<p>129.伏暑之邪，古無是說，至深秋而發者，始見於葉氏《指南》，然亦從無伏至來春始發者。近年則不然，往往秋暑過酷，冬令仍溫，收藏之令不行，中氣因大泄而傷，邪熱因中虛而伏，直至春深夏初，因感他病而伏邪併發，其綿延淹滯，較《指南》所論更甚，而調治之法則尤難，非參、耆所能托，非芩、連所能清，惟藉輕清靈通之品，緩緩撥醒其氣機，或可望生。若稍一呆鈍，則非火閉即氣脫矣。臨症者不可不熟究之也。</p>
<p>130.仲景謂有熱屬臟者攻之，不令發汗。臟者，心營、肺衛也，攻之如「千金葦莖」、「犀角地黃」、「黃連阿膠」，以及「紫雪」、「至寶」、秋露、花露、金汁之屬皆是。蓋臟熱則氣血呆鈍而不靈，靈其氣機，清其血熱，的是第一要義，所謂無形令其轉旋，三焦自有專司也。</p>
<p>131.伏暑難治，固矣；即平常暑濕之邪，而遇中氣素虧及好酒之人，亦不易調理也。蓋中氣先虛，而暑復傷氣，暑必挾濕，而濕復滯氣，氣機已先呆鈍不靈，用藥稍不空靈，往往反增其病。如因其熱，而用膏、連以清之，稍過則氣陷而泄矣。因其濕，而用蔻、樸以開之，稍過則津涸而痙矣。或因其虛，而用參、術以補之，稍過則濕更壅，熱更郁，而病更甚矣。夫清也，開也，補也，不可非也，而稍過、不及便不應手者，皆坐不明病機之進退，由於氣機之轉旋故也。臨症者，苟能注目於氣機之靈鈍，而旋轉其無形之生化，則或清，或開，或補，或兼用，或全用，或超然於三法之外，而仍能針鋒相對，不離乎三法之準繩，則庶幾乎。</p>
<p>132.先天者，未形之機，不可以方所求，能立方於病機未動之先，是則真知先天者。近世都以腎為先天，夫腎，特脾胃之先天耳，非凡病之先天也。若然，則先天有方所矣，豈其然乎。</p>
<p>133.《名醫類案》載人暴縮小一症，蓋死病也。嘉善金介峰云：曾目擊一女，年二十餘，無故身漸縮小，不半載，居然襁褓，醫無識者，後忽思羊肉，乃日餌之，漸復如舊，至今無恙。理之所必無，事之所或有，此之謂矣。</p>
<p>134.治紫雲風方：</p>
<p>胡蔥十斤，用好酒十斤煮爛，去渣，再入鉤藤十斤，三五沸，去渣。將酒飲盡即愈，重者不過兩服。</p>
<p>秀水曹振翁親試。據云：此症初起不過如蚤蝨斑一點，奇癢不堪，漸多漸大，如遊風塊而色紅紫，隔夜已蔓及遍體，而手足盡腫。一乞者授此方，一服而愈，後傳一人，亦效。</p>
<p>135.痹症惟血痹、熱痹二症最多；血痹宜「黃耆五物湯」，熱痹宜「木防己湯」。</p>
<p>136.痿症只是熱，熱為本，虛為標；東垣「清燥湯」、丹溪「虎潛丸」，治痿主方也。</p>
<p>137.痿陽不盡屬虛，有濕熱下注者（滋腎丸），有膽郁不伸者（白蒺藜丸）。</p>
<p>138.痙厥乃木火鬱發，非水不涵木，即土不培木，無實症也。</p>
<p>139.腳氣乃濕鬱肝火，臌脹亦然；但腳氣氣實，臌脹氣虛。</p>
<p>140.痘屬臟，喜溫暖，亦有腑熱壅盛而宜清涼者，然非以清涼治痘。痧屬腑，喜清涼，亦有臟氣不振而宜溫暖者，然非以溫暖治痧。費建中之論痘，論疫癘也，高士宗之論痧，論內傷也，非痘痧之正法。</p>
<p>141.病變不常，氣血有素。窮不常之病變，須門門透徹；葆有素之氣血，要息息通靈；斯可以言醫矣。</p>
<p>142.痘症始終以脾胃為主，錢仲陽之清涼，治陽明也，陳文中之溫熱，治太陰也。陽明無燥火，何必膏、黃，太陰無寒濕，何必薑、桂。</p>
<p>143.伏氣有二：傷寒伏氣，即春溫、夏熱病也。傷暑伏氣，即秋燥、冬溫病也。所伏之氣不同，而受病之體質亦異，且邪伏既久，正氣必傷，故治之之法，與傷寒、傷暑正法大異。夫痘，即先天之伏氣也，而可株守一說以求治乎？惟其發必沿門合境，有似乎吳又可《瘟疫》之說，故費建中一以清涼為主，而作《救偏瑣言》。想其時、其地，適當其宜耳，非必後世他鄉盡同其氣也。不然，何以吳又可治大疫之年，即喻西昌治大疫之年也，而彼則謂惟進人參者多不死，與吳說大相徑庭乎。學者思之。</p>
<p>144.識得伏氣，方不至見病治病，能握機於病象之先也。然非熟於亢害承製之理，亦豈能測未來之病乎；然非謂司天運氣也。雨暘寒燠，在在留心，久當自悟耳。</p>
<p>145.凡病以開鬱為先，如表鬱而汗，里鬱而下，寒濕而溫，火燥而清，皆所以通其氣之郁也。病變不同，一氣之通耳，塞則病，通則安，無所謂補益也。補益乃服食之法，非治病之法也。然近世宜補之病十九，不補之病十一，則何也？此固虛也，而非病也。蓋虛能幻百病，東垣之所謂內傷似傷寒也，而非傷寒；景岳之所謂非風似中風也，而非中風；無非因虛變幻。由此推之，如瘧、如痢、如痹、如痞，獨不許因虛而變乎？因虛而致，焉得不補。是補者，補其虛，非補其病也。病無補法，開其鬱，通其塞而已矣。雖就中非無因病致虛，及病不因虛而人虛之症，自宜通補並進。然通者，自通其病；補者，自補其虛。雖兩相兼，仍兩不借也。</p>
<p>146.凡病皆可屬寒，凡病皆可屬熱，凡病皆可屬虛，凡病皆可屬實。頭痛身熱者同，而所以頭痛身熱者不同也。醫者眼光心力，苟未能洞照於頭痛身熱之表，寧免受病魔所瞞。蓋治病者，治其所以頭痛身熱，而非治頭痛身熱也。</p>
<p>147.治寒病，須察其有無熱邪；治熱病，須察其有無寒邪；治虛病，須察其有無實邪；治實病，須察其有無虛邪。留心久久，自能識病於病外，而不受病瞞矣。</p>
<p>148.春溫一症，固宜清涼，然不可不照管腎中真氣。以其病由冬不藏精而致，恐熱邪解而真陽亦脫，故邪解及半，便宜參以收攝腎真，如「生脈」、「都氣」之屬；若浮陽不潛，附子亦可加入。如國手下棋，遙遙先布一子，看似閒著，殊不知正是收局時之要著。蓋眾人較量官子，而國手胸羅全局也。今之見病治病，而後來緩不及事者，皆較量官子而失全局者也。</p>
<p>149.無論大病、小病，都要通盤打算；獅子搏象用全力，搏兔亦用全力。仲景過人處，亦只是思致周密耳，粗心人斷斷不可為此事也。</p>
<p>150.暑熱無不傷氣，補氣而不清暑熱，氣雖復而暑熱未必全消，必待秋涼、冬冷，方得潛融默化。若秋暑仍盛，冬令過溫，則熱伏不化，直至入春陽氣開發，乃漸漸乘機竊發。治法：輕者「涼膈」、「解毒」，重者「承氣」、「紫雪」，不但大忌參、耆呆補，即地、冬亦在所慎，以熱伏既久，氣壅不宣故也。觀仲景用人參於「白虎」，東垣用益氣於「清暑」，治虛而仍以理邪為主，自無將來留熱遺患之弊。因知古人雖隨時應病立方，無不通盤打算，後人草草看過，有負多矣。</p>
<p>151.濕熱膠固之邪，最不易治，要惟熟讀西昌、石頑諸家，精通其義，不泥其方，而變化出之者，庶幾得之。</p>
<p>152.寒病少，熱病多。寒病易識亦易治，以其無變端也；熱病變幻不測，故難識、難治。如傷寒，熱病也，故傳變不常；若中寒，則顯然易見，亦易治，始終不變也。稍有變端，必病已化熱，應作熱論矣。六淫之邪，皆從火化，能調火病，百病渙然冰解矣。</p>
<p>153.吾吳前輩吳正功，只教人看《醫方集解》，徐炳南晚年，案頭只兩本《廣筆記》，青浦吳元常，以《臨症指南》為枕中之秘，甪里平孚亭，於《己任編》亦然；可見心得處不在多也。然無心得者，不得以此藉口，欲求心得，正非多讀古書不可，蓋不博，亦斷不能約也。</p>
<p>154.人心無火則無孽，人身無火則無病。或曰：真火奈何？余曰：古無所謂真火之說也，《難經》但曰「腎間動氣」，後人乃有命門真火之說，其實命門非水非火，秉於有生之初，生生之元氣耳。寒邪直中，元氣飛越，故用桂、附驅散寒邪而元氣回，非補火也；熱極而元氣亦脫，古人用「生脈散」、「六味」以回其元氣者，亦補火歟。「火與元氣不兩立」，豈有元氣虛而反補其火者歟。此說始於立齋，原為內真寒而外假熱之症而說，初不教人專以補火為事也。</p>
<p>155.丹溪曰：「氣有餘便是火」，蓋平氣即所以清火，清火即所以平氣也；而景岳乃曰：「氣不足便是寒」，然則補氣即可以驅寒，驅寒即不須補氣乎，殊為費解。吾恐氣不足正因火耳，「火與元氣不兩立也」，經曰：「少火之氣壯，壯火之氣衰」；景岳之說，似於少、壯、承、制之理，尚欠分曉。</p>
<p>156.東垣曰：內傷極多，外傷間而有之。丹溪曰：凡證與傷寒相類者極多，皆雜症也，雜病亦有六經所見之證，故世俗混而難別。由此觀之，今所謂傷寒者、豈真傷寒哉。吾行道四十餘年，所治內傷十之七，雜病十之三，未見一真傷寒也，古人豈欺吾哉。</p>
<p>157.「壯水之主」，補腎也；「益火之源」，補心也。後世以「腎氣丸」為益火之方，恐非確論。</p>
<p>158.胃虛宜補腎氣，脾虛宜滋心血，心腎為脾胃之源，脾胃為心腎之交。胃實宜降肺陰，脾實宜升肝陽，肺肝為脾胃之用，脾胃又為肺肝之紐。心、腎、肺、肝無不交紐於脾胃，此脾胃之所以獨立一科，而東垣、立齋之所以自成一隊歟。</p>
<p>159.心生脾而脾生肝，肝復生心；腎生胃而胃生肺，肺復生腎。心、脾、肝主血，腎、胃、肺主氣。</p>
<p>160.今人知心生血，脾統血，肝藏血，而不知腎生氣，胃統氣，肺藏氣。</p>
<p>161.人知木剋土而土剋水，而不知水生土而土生木。「二神丸」可以健胃，非腎生胃乎；「建中湯」可以養肝，非脾生肝乎。</p>
<p>162.徐靈胎具有卓識，但欲超劉、李、朱、薛而遠紹漢、唐，恐無是理。立法雖千古不易，用方須應時相傳，豈有千百年不變之風氣耶。</p>
<p>163.丹溪謂瘦人心下痞，乃是鬱熱所致，此即立齋、鼓峰輩用「滋腎生肝飲」及「逍遙」合「左金」之證也。</p>
<p>164.鬱熱化燥，自宜滋清；若鬱熱生濕，則仍當以「涼膈」、「通聖」等方為主，滋膩在所禁也。後人往往咎丹溪偏用芩、連、知、柏，殊不知丹溪本為濕熱立法，不為燥熱立法也；若血燥生風之症，丹溪亦不用芩、連、知、柏矣。繆仲醇佩服丹溪者，而立方都偏滋潤，豈丹溪家一味苦燥哉。</p>
<p>165.凡上年秋冬不寒，而入春反寒之年，肝家必多鬱熱，腎氣自少藏聚，縱當清疏肝鬱，不可不照管生陽，蓋邪火與正火已混合一區，恐正隨邪盡也。且肝本無熱也，因木不條達，鬱而生熱，而木不條達，則由於脾無正火，而脾無正火，則又由於腎失藏聚。然則肝之邪火，即脾之正火，但藏於腎而為正，鬱於肝而為邪；使腎氣得藏，則脾土溫暖，肝木條達，而鬱熱自化矣，何待疏耶。即使木火亢甚，亦宜連、附，或萸、連並進，斷斷不可偏用苦寒，致貽得指而失肩背之誚也。</p>
<p>166.「逍遙散」加連炒吳萸，煎湯吞「附子都氣丸」，庶幾近之。此又春溫門一內傷變局，較陰旦、陽旦，更上一層樓矣。</p>
<p>167.納氣之法不一：如腎經寒濕而致氣不歸原者，治以「真武湯」，衝脈伏熱而致氣不歸原者，治以「滋腎丸」，陰不戀陽而致氣不歸原者，治以「都氣丸」；此皆氣之不歸，而非氣之虛也。若氣虛不續，自宜以「保元」為主，不但溫清並繆，即滋納亦隔靴搔癢矣。</p>
<p>168.同一治內傷也，東垣是飢飽勞倦之傷，立齋是思慮色欲之傷，若近年卻是秋暑、冬溫之傷。既已消耗於酷日，又不使斂藏其殘喘，中氣幾何，寧不困憊，故近年治法，總以培植中陽為第一義，如「異功散」加五味、炮薑、木香，可為主方；面白如傅粉者，再加黃耆、歸、桂；如有伏熱，佐使兼顧，燥熱加麥冬，濕熱加萸、連，但不可過劑；若中陽既醒，便去薑、桂，一以「生脈」、「六君」調理；病因暑傷，仍歸暑治，辛熱之品亦不得過劑也。</p>
<p>169.沈良哉兄向有目疾，因上年冬暖，未免房勞，入春暴寒，以致浮陽不潛，目赤疼痛，兩脈濡細，尺部尤空，用「附子都氣」去澤瀉，加牛膝、細辛，兩劑痛止而紅不退，因思相火之僭，不僅腎氣之浮越，亦由君火之無權也，乃減去細辛，加入棗仁、龍齒、菖蒲、遠志，四五劑而紅全退矣，可見目疾之必關心也。</p>
<p>170.凡伏暑傷中之症，亦必以補心之藥收功，以暑喜歸心故也。</p>
<p>171.李述翁去秋病伏暑晚發症，自初起至向安，約百餘日，寒熱如瘧，不寐，不飲，不納，大便不行者三十餘日，小水點滴疼痛，舌苔如漆。予因知其為內傷也，不論其症，不論其脈，直以參、耆退其寒熱，以參、耆通其二便，以參、耆化其舌苔，以參、耆安其眠食而已，就中佐使如柴胡、石膏、生地、竹茹、首烏、歸、藥、梔、翹之屬，無不出入，參、耆則無日無。蓋翁由綿州解組旋里，寄跡鴛湖，水陸之勞，八千餘里，寒暑之侵，風水之憂，兼之令侄病殤，二女未嫁，妻妾善病，望七老翁，其心境為何如哉？見病治病，其能免乎。同時有葉丈者，與翁同病，亦且同庚，而納穀、安眠，強翁十倍，邀余診治；余用「金匱麥冬湯」。商之他醫，咸謂必邪盡方可投補，乃日從事於犀角、石膏，漸至胃閉不納，虛陽浮越，頭項發腫，而醫者猶作暑瘍論治，以致腫勢日盛，復邀余診，則脈色並脫矣，惜哉。為醫而不知歲氣之亢害承製，人情之苦樂勞逸，死板醫書，不能會通古今之全局，而欲操活人術，吾誰欺？欺天乎。</p>
<p>172.大人、小兒，同一時也。伏邪、痘疹，同一義也。近來大人伏邪多挾內傷，補正為主，理邪佐之；每歲經治，無不盡然，間有不需補者，亦不多也。何小兒痘疹火毒之盛，亙古不變，而犀、連、膏、黃，動手便用耶？每當發痘之死喪無算，吾恐死於痘者十之三，死於藥者十之七，豈今之兒醫，但知有費氏一家，如陳文中、魏桂岩、萬密齋、聶久吾諸家，全不知耶！抑劫數耶？傷哉。</p>
<p>173.今春所見皆「冬不藏精」，春傷於寒之症。「冬不藏精」，則脾失溫養，而肝木無氣，不能條達；春傷於寒，則無氣之木更郁，不伸而屈曲化火。其病多微寒微熱微溏，心疼熱，口乾苦，脈則細、軟弦、澀，治之之方，溫攝脾腎為主，清疏肝鬱為佐。予用人參、山藥、五味、益智、菟絲，以固其本，參入柴胡、白芍、青皮、萸、連，以理其標，往往見效。不用大苦大寒，恐更敗其胃，不用大辛大熱，恐更傷其氣，但用從、引法，使之自歸自化，而卻病於不覺也。若立方稍不平淡，則病不服而激變矣。</p>
<p>174.今年之病，只有養之一法，《己任編》有「養汗」之說，雖一隅之舉，正今日之救命金丹矣。汗、下、溫、清，無不宜養，直汗、直下、直溫、直清皆殺人也。然非蠻補也。《古今醫案》載：沈堯峰治大頭天行一案，深得養法之妙，精玩之，可悟治近年之病。</p>
<p>175.沈友山幼女出痘，延專科治之，曰：乾紅、渴飲，火毒痘也，立方用犀角、黃連等藥。且云：險中之險，六朝關節。友山素奉孫真人，因詣云豫堂求請簽方而不服醫藥，不數日，灌漿結痂而愈。其簽方則參、耆、歸、朮、桂、附等也；使進犀、連，尚有生理乎。</p>
<p>176.痘症不必延醫。痘果逆，醫斷不能生之；痘本順，醫反足以殺之。寧守中醫之戒。</p>
<p>177.有外感者，有內傷似外感者，有內傷挾外感者，同一頭痛身熱，不可不各求其故也。</p>
<p>178.邪祟亦外感也。陰虛感熱，陽虛感寒，神虛感鬼。</p>
<p>179.血熱肝痛，亦能發黃；蓋血本濕類，氣鬱生熱，則蒸黃矣，「許氏甘露飲」最合。</p>
<p>180.鶴膝風乃足三陰不足之症，斷不可用風藥。</p>
<p>181.痙病，燥病也。喻西昌謂「秋傷於燥」，吾亦謂「諸痙項強」，皆屬於燥。觀仲景於項背強，用「桂枝加葛根、加栝蔞根」二湯；於腳攣結用「芍藥甘草湯」，都以生津養陰為主，則其為燥病顯然矣。</p>
<p>182.酸症，總因肝鬱，但致郁之由不同。有風寒外郁，有濕熱內郁，有氣虛木不條達，有血虛木失滋潤，以及氣阻食滯，皆能作酸，治之當各分其因，不可混用「左金」一方。</p>
<p>183.陰虛火炎而致失血，丹溪用知、柏則往往敗胃，瀕湖用丹皮亦未免辛散，予每重用山藥一、二兩，時見奇功。蓋陰火上炎，總屬脾虛不能坐鎮中宮，任脈失其擔任而致，苦辛焉能中竅，山藥甘淡性澀，大補脾陰，脾陰固，則陰火自潛矣。</p>
<p>184.血病初起，必先調氣，氣病日久，必佐調血。</p>
<p>185.治虛勞，用丹溪法往往致敗。然予曾治盛川一婦，年未三十，咳血夜熱，一側眠，飲食大減，口苦，脈來數軟；用阿膠三錢，貝母二錢，川連七分，米仁、地骨皮各三錢，青蒿一錢，鱉甲五錢，川柏一錢；四帖，胃口大啟，後用「四物」、知、柏、柴胡、鱉甲、丹皮，八帖，全安。先是其兄咳血畏寒，求治，按脈偏弦，知其飲邪，與「苓桂術薑湯」加五味、半夏、杏仁而愈，乃同其妹就診，豈知病同而所因霄壤。因知東垣之甘溫，治氣分之虛火，丹溪之苦寒，治血分之實火，各有攸當，不可偏執也。</p>
<p>186.曾治骨蒸熱勞，用「紫雪」及生石膏露而愈者。《外臺》《聖濟》等方，豈可不考。</p>
<p>187.拔管藥條方：一江湖醫者試過，余以萬錢得之。</p>
<p>白礬一兩，膽礬三錢，白人言三錢、用生豆腐煮過，火硝三錢，水銀一兩，銅綠三錢，錫粉三錢。以上七味，同入小鐵鍋內，用粗厚中碗蓋好，無令走氣，再用桑皮紙拈條以封碗口，再加生石膏末，將紙條蓋沒，再少用白礬末，水調，灑石膏末上；其碗底用生綠豆一撮鋪平，然後政放上煉三炷香。老管用此。</p>
<p>新管用：巴豆油八分，生石灰一錢，銅綠三錢，斑蝥五枚，鹼一分。共研細末，入生石膏入用。</p>
<p>洗方：紅花、荊芥、歸尾、生川烏各一錢。</p>
<p>188.「酒客病，不可與桂枝湯，得湯則嘔。以酒客不喜甘故也。」「喘而汗出者，葛根黃連黃芩湯」主之。</p>
<p>「太陽病，桂枝症，醫反下之，利遂不止，脈促者，表未解也」，「桂枝人參湯主之」。（此兩條錯簡，注家都順文牽合，故訂止之。）</p>
<p>189.心氣不足，痰火素盛，一下而陽邪內陷，神怯、煩、驚，直犯少陽之腑，故立方以鎮膽為主。柴胡、參、半，溫存膽氣，鉛丹、龍、牡，重鎮膽怯，桂、苓通太陽之陽，大黃調陽明之陰，共勷清肅膽府之功也。</p>
<p>190.「救逆湯」之蜀漆，乃蜀黍之誤；古漆字無水傍，與黍相似故也。黍為心谷，用以救驚狂起臥不安者，取其溫中而澀腸胃，協龍、牡成寧神鎮脫之功也。二千餘年，惟柯韻伯疑非常山之苗，而不知蜀漆之果是何物，故特正之。此余聞之方大章先生者，先生名燮，吳中詩伯，尤工書法，袁倉山、梁聞山二老之高第弟子，精於醫。</p>
<p>191.太陰提綱：「若下之，必胸下結硬」，非下太陰也，太陽誤下而成結胸與痞，則屬太陰，便當於「桂枝人參湯」、「枳實理中丸」二方消息之。</p>
<p>192.少陰雖屬君火，以藏為用，其體常虛，惟賴太陽衛之於外，而表寒不侵，陽明鎮之於中，而裡寒不起；若衛陽不固而胃陽尚強，寒邪猶未便斬關直入，惟是胃陽失守，寒水無制，鼓厥陰之風而厥逆，挾太陰之濕而下利，則真火立見消亡矣。以此知衛陽尚倚胃陽為根蒂，而三陰則無不仰胃陽為柱石，可不重歟。</p>
<p>193.凡少陰之宜滋清者，皆屬厥陰，而厥陰之用溫熱者，則皆少陰也；以厥陰風化，內藏少陽相火，而少陰雖屬君火，實主太陽寒化。</p>
<p>194.厥陰轉陽明則病退，轉太陰則病進，故戒下，下之利不止，陷生陽而入絕陰也。厥陰病之生死，全看胃陽之進退，故以少陰負趺陽者為順也；少陰負趺陽太過，不過咽痛、便膿血耳，故為順也；若趺陽負少陰，則厥、利不止，而去生遠矣。</p>
<p>195.肝為血海，故厥陰病以亡血為眼目，觀熱厥之「四逆散」、寒厥之「當歸四逆湯」，並以柔潤為主，可知剛燥之非宜矣。又可知厥陰門之薑、附，斷斷為少陰設矣。</p>
<p>196.鄉里小兒遺屎於地，十日、半月之後，其土中必有一黑殼蟲飛出，俗名屙夾蟲。據吳西林雲：伊族叔小盧先生，曾治一人得屙奇疾，諸藥無效，後於先世所遺破書堆中，得一方投之，立愈；蓋用屙夾蟲為末，生軍三錢煎湯調服也。病果奇，方亦神矣。</p>
<p>197.傷寒，「胃家實」則不復傳變，胃家虛則變證蜂起，於此見東垣果得仲景之心印也。</p>
<p>198.丙申秋冬不雨，丁酉春夏沉霪，血素虛者，木鬱不宣，加以雨濕傷脾，木邪郁發，夏秋之交，吐瀉、轉筋者比比，「厚朴溫中湯」、「當歸四逆湯」固是正治；然「黃連香薷飲」參合「四逆散」者，亦復不少。可見不盡屬寒也，豈可與庚辰、辛巳年之寒疫同論哉。</p>
<p>199.趙養葵、高鼓峰用「逍遙」、「六味」以治傷寒，蓋暗合仲景厥陰門正法；後來葉天士，乃溯源於「復脈」及「黃連阿膠」等方，雖曰承接西昌，其實四明諸老、先有以啟之矣。</p>
<p>200.金蟾化管丸：</p>
<p>水銀三錢，雄黃一兩，大蟾一隻，銀硝一兩，明礬一兩。</p>
<p>先以水銀、雄黃，用火酒二斤、漸煮漸添，酒盡為度，共為末，用紙包好，取大蟾去腸，留肺、肝，以藥納入縫好。另用銀硝、明礬研末，入陽城罐，加水半茶盅，放火上熬干於底，入蟾於內，升文火二枝、中火一枝、武火一枝候，開看；刮下靈藥，用蟾酥汁為丸，如芥子大。聽用。</p>
<p>凡管用一丸，放管口，外蓋膏藥，自入至底，雖彎曲處能到；嫩管自化，老管自退，七日見效，如不全退，再用一丸，無不除根。海寧蕭貫齋傳，乃郎親試過。</p>
<p>201.倭煙之性，大概升提而澀斂，故初嗜之能醒睡，興陽，攝痰，消食，平肝止瀉，然大耗津液，尤傷中氣，故久嗜之必反痰多，泄痢，痿陽，減谷，遺精，消瘦，甚至愈病愈嗜，愈嗜愈病，以至於死，無苟免者；誠大劫數，蓋自作孽也。癮未深者，痛自懲艾，用真川椒，或白芥子，或吳茱萸，日日吞服，亦可漸戒；即念稍深者，日服上藥，大進補益，亦可漸減。但見斷煙者數人，往往煙止而壽亦不永，可見此物之毒人者深矣。故凡煙客有病，當同大虛人感邪例治，不可見病治病，憑脈立方也。若因煙致病，則萬病萬死，和扁卻走者矣。</p>
<p>202.《金匱》痰飲門「甘遂半夏湯」，劫法也，故用甘草以激甘遂之悍，以逐飲邪之留伏也。趙以德、程云來並謂用甘草以緩甘遂之峻，恐未然。</p>
<p>203.煮馬蘭，飽吃，可治內癰，試效者非一人矣，蕭貫齋傳。時同人在吳山啜茗，望隔江山色。桐鄉馮春墅少尹，亦傳一治臁瘡夾膏方，用：</p>
<p>沒藥二錢，輕粉二錢，叭噠杏仁八粒，去皮尖。上三味共為細末，用脊髓大者一條、小者可兩條，去衣，搗和，用老油紙如瘡口大小，一面刺滿細眼，夾好，縛於患處；重者兩、三膏，無不愈。丁酉十二月二日，書於武林郡齋。</p>
<p>204.墓頭回，一名雞糞草，切片，每服二錢，用水、酒各一盞煎服，治婦女血崩及經事淋瀝等證，神效。此藥在北京正陽門外同仁堂兌，每斤八百大錢。</p>
<p>205-1.上海王協中先生言：血症愈後，每多反復，此由胃膜破傷，須用法補之。訂方用：白及、魚膘、絲綿燒灰，等分、丸服，永不復發。</p>
<p>205-2.一人唇上一瘡，血出如箭，月餘不止，醫治無功，自分死矣。忽夢其先亡，語用：慄一枚，連殼燒灰，同硫黃等分研末，和敷而愈。以上二則，見新安《程杏軒醫案》。杏軒著有《醫述》，惜覓之未得。</p>
<p>206.百合、狐惑、陰陽毒，皆厥陰病也，故匯為一篇。</p>
<p>207.太陽主營衛。營出中焦，營氣虛者，必加人參以建其中。衛出下焦，衛氣虛者，必加附子以固其本。</p>
<p>208-1.「傷寒脈浮，自汗出，小便數，心煩，微惡寒，腳攣急，（厥陰血虛風熱，「芍藥甘草湯」症）。反與桂枝湯，欲攻其表，此誤也，得之便厥。咽中干，煩躁、吐逆者，作甘草乾薑湯與之，以復其陽；（救逆。）若厥愈足溫者，更作芍藥甘草湯與之，其腳即伸，（正治。）若胃氣不和，譫語者，（胃氣生熱。）少與調胃承氣湯；若重發汗，復加燒針者，（其陽則絕。）四逆湯主之。」（因甘草乾薑湯加附子參其間，附子溫經，亡陽故也。）</p>
<p>208-2.「問曰：證象陽旦，（桂枝。）按法治之」而增劇，厥逆、咽中干，兩脛拘急而譫語。師言：夜半手足當溫，兩腳當伸；後如師言，何以知此。答曰：寸口脈浮而大，浮則為風，（風熱。）大則為虛，（血虛。）風則生微熱，虛則兩脛攣，病症象桂枝，（芍藥甘草湯症。）增桂令汗出，厥逆，咽中干，煩躁，陽明內結，譫語煩亂，更（平聲）飲甘草乾薑湯，（若重發汗，復加燒針者，因加附子參其間，附子溫經，亡陽故也，四逆湯主之。）「夜半陽氣還，兩足當熱，脛尚微拘急，重與芍藥甘草湯，爾乃脛伸，以承氣湯，微溏，則止其譫語，故知病可愈」。</p>
<p>此二條，厥陰救逆症。</p>
<p>209.「脈浮而芤，浮為陽，（胃陽。）芤為陰，（厥陰。）浮芤相搏，胃氣生熱，（胃陽。）其陽則絕」。（厥陰。）厥陰病，熱多厥少為病退，「胃氣生熱」也，厥多熱少為病進，「其陽則絕」也；故少陰負趺陽者為順，趺陽負少陰者必逆，厥陰為陰之絕陽也。</p>
<p>210-1.「陽明病，反無汗，（陰不得有汗也。）而小便利，（病不在氣分也。）二三日，嘔而咳，手、足厥者（厥陰。）必苦頭痛，（三陰惟厥陰有頭痛。）若不渴、不嘔，手、足不厥者，頭不痛。（非厥陰血虛火動矣，乃陽明液燥不汗也。）</p>
<p>210-2.「陽明病，但頭眩、不惡寒，故能食（中風）而咳，其人咽必痛，（厥陰風火上攻。）若不咳者，咽不痛。（「非風火矣，胃未和也。）</p>
<p>此二條，陽明、厥陰疑似症。</p>
<p>211.「病人有寒，復發汗，胃中冷，必吐蛔」。此即趺陽負少陰之厥陰病也。</p>
<p>212.縱、橫二症，及熱入血室諸條，皆厥陰血虛風火之症。</p>
<p>213.痙病諸條，有曰：「發其汗，其表益虛」，謂之益虛，則未發汗而表自虛矣。有曰：「無汗而小便反少」，則不因汗而里自虛矣。有曰：「風病，下之則痙」，厥陰血液下竭也。有曰：「發汗太多致痙」，太陽津液外竭也。有曰：「瘡家，發汗則痙」，蓋津血重傷也。由此參觀，痙之為病，其人體質本自血虛風燥，更外感風、寒、暍、濕等邪，治不如法，燥極而成者也；竊宜與霍亂同參，不僅與濕、暍合論也。蓋霍亂吐瀉，固屬太陰濕土為病，而所以致上吐下瀉者，實由厥陰風木乘脾而鬱發也。故其眼目全在陽明，必以趺陽不負為順：如胃家實者，既吐瀉則濕鬱已發，而風木自息；倘胃家不實而陽虛，則風木必挾寒水以凌脾，吐利不止而四逆；胃家不實而陰虛，則風木必煽相火以竄絡，拘攣不伸而痙急。蓋陽虛者，風從寒化；陰虛者，風歸火化。霍亂與痙，總以趺陽為柱石者，其病同源也。籲！霍亂為太陰病，知之矣；而所以致霍亂者屬厥陰，人未知之也。至於濕竭化燥、動風竄絡之痙病，應屬何經，應從何治，無怪其更不知矣。二千年來，厥陰一病，真同長夜，良可嘆也。</p>
<p>214.痙者，風燥病也，縱挾寒濕外邪，必兼顧胃津肝血。故仲景治太陽中風用「桂枝湯」，薑、桂固溫散太陽，芍、棗、甘草，非滋養厥陰乎。「在天為風」，「在藏為肝」，「肝藏血」，治風先治血也，況痙固筋病乎。</p>
<p>215.「百合」，心包絡病也。傷寒汗、吐、下後，大邪雖解，津液未回，餘熱熏蒸，肺不清肅，膻中鬱結而成，蓋熱病後之餘邪也。肺朝百脈，心為百脈之一宗，故所用諸方，不外清肺通絡，養心泄熱而已；若燥澀甚者，「復脈湯」可以商進也。亦有不經汗、吐、下而病者，非傷寒遺熱，乃離愁菀結，喜樂不宣所致，大約與臟躁相類。惟臟躁屬足厥陰肝血虛，膽氣不伸，百合屬乎厥陰心包，血熱而肺津不降為稍異，其為血虛氣鬱則一也。</p>
<p>216.狐惑，亦傷寒病後遺邪，氣血不清、厥陰風熱鬱蒸之證，較陽毒、陰毒則略輕，較百合則已甚矣。</p>
<p>217.陽毒，陽經之熱毒。陰毒，陰經之熱毒。名之曰毒，自當以解毒為第一義矣。後人有以中寒為陰毒者，豈其然。</p>
<p>218-1.暑邪入肝為瘧，乃千古要訣。欲其提散，必需柴胡；欲其清解，必用青蒿；肝燥欲潤，可用鱉甲；但寒不熱，謂之牡瘧，乃熱鬱使然，開提可效。</p>
<p>218-2.痢疾：外有頭痛，身熱，胃風者，脈多浮數，用「香蘇散」（香用藿香），加建曲、滑石、銀花炭、生山楂肉；如赤白相兼，重用楂肉以和血。如系裡症，亦屬吸受時令暑濕，拒格三焦，用滑石為君，生薑渣、建曲、蘇梗、鮮藿香、荷葉汁、稻秧；如赤多，加荷藕數片；胸膈拒痛作痞，加炒銀花、蒲公英。如裡寒症，「枳實理中」、「真武湯」。虛症必久痢休息，因病致虛，斷無因虛致病者也。</p>
<p>218-3.臌症：濕邪入絡居多，消滯利水，徒傷氣分，焉能奏績。定方用：新絳一錢半，蜣螂蟲二錢，延胡索一錢半，絲瓜絡一枚，淡木瓜一錢半，川通草一錢，路路通十枚，生米仁八錢，陳香櫞皮半隻，干佛手三片，川鬱金一錢，遠志八分。即此數味，加減出入，自能奏捷。至消滯莫如紅曲、雞內金，達下莫如車前子，降氣莫如蘇子、川貝。</p>
<p>218-4.咳嗽：新病辛以散之，久而虛者，甘淡為妙，如：沙參、川貝、米仁、玉竹、叭噠杏、川斛、蛤殼之屬。阿膠絕無真者，濫用反致膩膈滯痰，礙胃減食。</p>
<p>218-5.吐血：必理外感，徒以涼血，為害非小。</p>
<p>218-6.消症：總屬痰火，竹瀝之外，繅絲湯亦妙。</p>
<p>218-7.霍亂：系疫癘滯而不宣所致，有用熱藥幸而全，乃郁散而然，豈真有寒霍亂耶。如鄉僻之所，只消鮮藿香煎服為妙；若轉筋，揉、拿、刺、刮，或用棉紗線煎湯，顧亦能通絡。至如「大順散」、「附子理中」等，此因暑而過進冰水、瓜果所致之方，另是一症，不可漫試也。</p>
<p>218-8.病名中風，其實不拘六淫何邪，入於血分絡中，肝風因之而動，當審證用藥，不可株守成法。</p>
<p>以上八則，不知何人手筆，在《己任編》眉間，雖未盡善，然非三折肱者，不能具此妙悟也，故錄之。</p>
<p>219.嘗治一徽商，積虛痰喘，用「金水六君」加熟附、細辛、五味，煮米仁漿，丸，外用水澄生半夏、生薑二粉為衣，終劑而十餘年之疾如失，後治數人並效。</p>
<p>220.北蘆埂陳姓子，年二十許，手足拘攣，脈虛無力，作血痹治，用「黃耆五物湯」，加黨參、熟附、歸身、虎骨，百餘劑始能行動，乃去附子，加枸杞、白蒺藜、杜仲、陳皮，百劑全安。</p>
<p>221.五弟潤齋，縱酒失血，成盆不止，自覺少腹洶洶如潮上湧，醫用大劑鎮補罔效，時予寓聞川，急足促歸，見其面色純青，脈數，舉按無力，肝傷竭矣，非大劑甘緩不可，用炙甘草二兩，炮姜五錢，濃煎；一劑吐緩，三劑全止，繼與「人參養榮」、峻補半年而安。損其肝者，緩其中也。</p>
<p>222.方大章師之第三世兄，一日忽惡寒之至，蒙被晝寢，頃刻吐鮮血盈盆；師自脈之，曰：緊甚，此中寒也，投以「麻黃附子細辛湯」，一啜而愈。</p>
<p>周惠泉，酒濕凝寒，少腹㽲痛，桂、附、薑、椒，雜進半載，如水投石；乞方於師，授以茅朮，吳萸各三錢；小水如注，其痛若失，不復再劑，濁陰出下竅也。</p>
<p>223.客謂：「小柴胡」轉少陽陽樞，「四逆散」轉少陰陰樞。又曰：陽在陽位，陰在陰位，「陰陽不相順接」，故厥；治者當下其陽於陰，如苦、辛、酸輩，若以厥為寒，而誤與辛溫發汗，則動其陽部之陽，必致口傷爛赤矣。</p>
