<header data-type="book">
<h1>重訂痧疫指迷</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>費養莊</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>急救溯原</h1>
<p>時行霍亂及痧脹溫疫諸病其最關緊急判死生於頃刻之間者莫如閉痧而救閉之藥非倉猝所可辦故欲制丸散以濟世急者莫如先備開閉之藥但閉症有寒熱二種勢同冰炭倘以熱治熱以寒治寒則是助邪為虐害必更烈讀近日外間所送痧藥丸藥諸方雖皆屬有驗之陳方而藥味則率多燥烈施之風餐露宿受寒濕為病者固頗合宜若施於感暑燥熱而成者則大相悖謬而今年夏暑太酷加以亢旱不雨秋燥又甚其為病也寒濕當少燥暑必多苟寒熱不分但以一種燥烈之藥混同概治恐非徒無益而又害之矣惟是患病之家既不能識寒熱之情形而送藥者又不能深諳醫藥況博施濟眾之事又焉能盡人人而問之誠恐功不補過矣豈送藥之本心哉鄙人之意不若制寒熱通用之藥以濟世急惟太乙紫金丹一方薛一瓢稱其比蘇合丸而不熱較至寶丹而不涼兼玉樞丹之解毒備二方之開閉洵濟生之仙品立八百功之上藥足可內服又有飛龍奪命丹一方王夢隱稱其芳杳闢穢化毒祛邪宣氣通營尤妙在人中白一味駕輕就熟為使迅掃濁邪下趨濁道有馬到成功之捷其全體大用有斬關奪隘之功而具起死回生之力足可外吹二方藥味不熱不寒寒症熱症均可通用實為兩便急宜修合以濟急需博愛好善之士能選料預製而廣傳之其利溥矣</p>
<p>按市售痧藥者莫若揀選道地藥品依法預製四方丹藥以備應急固可濟世又能銷售豈非雙方並進有利無害之善舉哉然較之痧氣丸功用大相逕庭痧氣丸中茅朮雄黃冰麝蟾酥等僅治寒濕受病而暑熱症用之是抱薪救火往往誤事以上四方寒熱皆宜今特揭出以廣其傳播云爾</p>

<h1>辨證要訣</h1>
<p>當稽寒閉熱閉二症以紫金飛龍二丹相通應用可無貽害惟更有慮者閉症與脫症每每相似苟系脫症而與以閉症之藥則又速其死矣醫者臨證務要確切辨明形症然後用之若遇索藥之人尤當問明病原與之庶不致誤茲列形狀於右</p>
<p>閉症形象手指麻木神迷似昏瓜色或板或青心胸或煩或痞其劇者四肢如冰兩手無脈神情躁亂口噤難言面色或紫漲或灰垢而呆腹中或脹或痛顛倒不安而悶或唇口瓜甲皆青手面皆黑甚則神昏不省其脫症形象亦往往大略相同但脫症汗多閉症汗少閉症神識多於迷濛脫症神識多於清爽閉症小便短澀赤黃脫症小便清長不熱脫症舌胎多於宣潤而和閉症舌胎不拘或黃或白必黏膩渾濁閉症之脈忽然便無脫症之脈漸次而絕以此數款辨之似可無所逃情</p>
<p>按此篇是辨症絕大之關鍵死生之出入也要在細心體認庶免貽誤之憾至於閉症與脫症與尋常霍亂有間又不可不知也然辨別之訣宜研究於初候自無惑焉若初起才覺吐瀉但見手腳作麻胸口滿悶頭目昏蒙面色或灰垢或紫漲兩眼白睛泛紅更問其先覺神氣如蒙渾渾然如處雲霧者便是時行霍亂蓋感受穢濁時氣也如無自覺神氣如蒙若云若霧面色紫漲手足心如烙等症便是尋常霍亂也</p>

<h1>急救閉症方</h1>
<p>（寒閉熱閉均可通用此下三方用以救急）</p>
<p>太乙紫金丹</p>
<p>治霍亂痧脹時氣溫疫嵐障中惡暑濕溫疫之邪瀰漫熏蒸神明昏亂諸症</p>
<p>山慈菇（二兩）　川文蛤（二兩）　紅芽大戟（一兩五錢）　安息香（一兩五錢）　蘇合油（一兩五錢）　千金霜（一兩）　血琥珀（五錢）　上梅片（三錢）　當門子（三錢）　白檀香（一兩五錢）　明雄黃（飛淨五錢）</p>
<p>十一味共研極細末研勻濃糯米飲杵丸如綠豆大外以飛真金為衣每服錢許涼開水下孕婦忌服</p>
<p>此方藥料甚貴有力者能合全料更妙否則合半料或合十分之一均量力而可也蓋此種閉症不多俟送完接續再合亦無不可</p>
<p>飛龍奪命丹</p>
<p>治感受溫暑障疫穢惡陰晦諸邪霍亂輕筋痧脹㽲痛（腹中急痛也）心腹悶塞煩躁顛倒小安手面遍身青黑四肢水冷兩手無脈瞀亂昏狂神昏危急及時症逆傳神迷狂譫機竅閉塞諸症</p>
<p>硃砂飛（二錢）　西牛黃（二分）　當門子（三分）　真珠（三分）　人中白漂（煆八分）　明雄黃飛（一分）　杜蟾酥（一分五釐）　蓬砂（三分）　梅水（四分）　明礬（五分）　燈心炭（一錢）　火硝（一分五釐）　牙皂（三分）　麻黃（去節四分）　青黛飛（五分）　飛真金（三十頁）</p>
<p>十六味各研極細末合研勻瓷罐緊收毋令泄氣以少許吹鼻取嚏重者再用涼開水調服一分小兒減半孕婦忌服</p>
<p>凡遇神昏不省或雖省而自覺如蒙如霧渾渾不清兩手忽然無脈肢冷無汗小便短澀赤黃舌胎不拘何色必黏膩渾濁再兼見上條方下所注症候者均宜急與此丹</p>
<p>如遇神氣清爽自汗甚多小便清長不熱舌胎宣潤而利兩手脈逐漸細小非忽然便無者便是脫症切不可再與此丹切囑</p>
<p>速效丹</p>
<p>治諸痧手足麻木牙關緊急目閉不語胸背有紅點或咽腫心痛及風餐露宿塞暑雜感危急之症</p>
<p>北細辛（三錢五分）　枯礬（一錢五分）　貫眾（二錢）　製半夏（二錢）　白芷（一錢）　牙皂（三錢五分）　陳皮（二錢）　薄荷葉（二錢）　防風（二錢）　廣木香（二錢）　硃砂（二錢五分）　甘草（二錢）　桔梗（二錢）</p>
<p>十三味共研細末瓷罐緊裝母令泄氣每用三分吹入鼻孔寒濕內盛而病重者開水調服一錢</p>
<p>孕婦有忌服紫金丹奪命丹者則以此速效丹代之</p>
<p>按此方即道光元年治麻腳瘟之方載在瘟疫彙編其藥計十五味照此方多降香藿香雄黃三味少廣木香一味今世施送改名雷擊散如合此方即將明雄等三味補入亦無不可</p>
<p>此方價值甚廉功效亦著施之風餐露宿之人感穢濁惡氣而為痧脹霍亂諸病氣機閉塞者亦頗合宜不妨多為修臺以補四鄉廣送也</p>

<h1>定亂丸（此方用以祛病）</h1>
<p>治伏暑霍亂及時行溫熱疫癘□般霍亂初起才覺手腳作麻胸口滿悶頭目昏眩神氣如蒙若云若霧隨即吐瀉交作便宜服之</p>
<p>並治感冒穢濁邪氣寒□痧脹（痧症脹症俱有寒熱二種）及寒暑雜感伏暑化疫等症</p>
<p>香薷（一錢）　澤瀉（二錢）　真廣木香（四分磨入）　廣陳皮（一錢）　小川連（五分）　白檀香（四分磨入）　紫蘇梗（八分磨入）　生香附（二錢）　白茯苓（三錢）　上樸（五分）　炒山梔（二錢）　江西香豉（四錢）　甜白朮（一錢五分）　白萹豆（一錢）　生甘草（二錢五分）　生香附（二錢）　真廣藿香（二錢）</p>
<p>照方配十劑或五劑研細末水法為丸每服三錢用真廣藿香二錢真陳皮一錢五分煎湯送下</p>
<p>如舌黃心煩者加益元散三錢晚蠶沙四五錢同煎如胸悶氣塞者加苦桔梗二錢枇杷葉（去毛）三錢蟬退二錢同煎加腹痛者加石菖蒲八分白蔻仁五分省頭草二錢同煎腹脹者加水炒川厚朴五分大腹皮二錢同煎爽受水毒者加貫眾三錢同煎</p>
<p>以上數方閉症可用脫症切不可川而閉症與脫症形象往往相似不可不慎思而明辨之</p>

<h1>治時行霍亂簡便章程</h1>
<p>痧症有寒熱二種霍亂有風寒暑濕溫熱疫癘數種至於吐利腹痛似霍亂而非真霍亂者則其種類尤多令人一見吐瀉先事驚慌針刺亂施痧藥亂服不但無濟恐反誤事故特將是否此症形狀開明遇此病者照單對證用法開列於後</p>
<p>一才覺吐瀉但見手腳作麻胸口滿悶頭目昏蒙面色或灰垢或紫漲兩眼白睛泛紅更問其自覺神氣如蒙若云若霧者便是感受穢濁時氣或成痧症或成霍亂急宜內外兩治再解散病人頭髮細看如有赤色者即拔去之再脫其衣細看胸背如有長毛數莖必盡拔之此熱毒深入營分也</p>
<p>一外用皂角末或通關散或痧藥吹鼻取嚏（即紅靈丹塘西丸）</p>
<p>一取嚏不問有無隨繼以刮凡肩頸脊背胸前脅肋兩肘灣兩膝灣等處皆宜用磁碗口或厚邊青銅錢蘸菜油自上向下刮之以紅紫色綻方止景岳云凡毒深病急者非刮背不可以五臟之系咸附於背也（按五臟六腑皆繫於背刮法誠解毒散邪之捷法前哲用之屢效）</p>
<p>一刮後繼之以刺今世針法失傳凡須放瘀者往往取材於修發匠多不知穴道在何地方但孟浪下針以多為貴實屬有損無益不若用刮法為妙惟少商尺澤曲池委中四處自家人亦可會謹開部位於右</p>
<p>少商（在手大指頭內側去爪甲角如韭葉）尺澤（在兩肘灣約文中）曲池（在肘外輔骨屈肘曲骨之中）委中（在兩膝灣）</p>
<p>按此四穴乃痧疫轉危為安之捷徑</p>
<p>刮後凡兒有紅筋紫梗起或露出紅點即用銀針輕輕刺破擠出惡血一於吹鼻後用刮法一面用天水半碗煎百沸（如無天水河水亦可）新汲井水半碗和勻令病人服下或少刻再服一碗稍停又連進一碗（此名生熟水）</p>
<p>一服生熟水後看其情形如病勢緩者即用定亂丸一付或連服二三付用廣陳皮廣藿香煎湯送下一二日內忌食米粥湯如飢用冬瓜茲仁煮湯代之（一周時內忌食米粥）</p>
<p>一病勢重急者毒邪犯髒髒氣閉塞經腧不通死亡頃刻是為閉症外用痧藥吹鼻內急服太乙紫金丹或磨玉樞丹濯之（玉樞丹即紫金錠丸藥店有現成者）孕婦忌服（另以速效丹代之）其證四肢如冰兩手無脈（忽然便無非逐漸細小而絕者）神情躁亂目陷聲嘶唇口爪甲皆青手面皆黑甚至神昏不省者其轉筋腹痛則或兼或否但驗其吐出酸穢瀉下臭惡如火小便點滴黃赤熱短面色紫眼睛紅舌胎黃膩或白厚黏濁者為感受熱毒瀉水不臭小水清白舌胎灰白潮薄口中生水雖渴而不欲多飲者為感受陰毒熱閉宜用八寶紅靈丹紫雪丹陰閉宜用霹歷散蟾酥丸回陽膏之類但病家茫昧者多況倉猝之際恐難辨別不若用玉樞丹太乙紫金丹不問寒熱均叮無礙</p>
<p>一吐瀉太多元氣耗散肢體加冰冷汗頻出脈微欲脫者是為脫症急宜大劑參附理中四逆回陽等法救之外用回陽膏貼臍中（即時下施送之硫黃散又名感應靈丹孕婦忌貼）</p>
<p>一霍亂轉筋吐下已多脈無氣短大汗欲絕者置好醋二三斤於病人面前將鐵器燒紅頻淬醋內使聞其氣節可轉危為安足冷者另搗生附子二兩貼湧泉穴（其穴在兩足心）再接症用藥以挽回元氣不論寒熱二種凡元氣欲脫者皆當亟用此法並治產後昏量</p>
<p>一心煩腹中絞痛吐瀉不出者名乾霍亂用食鹽一撮放刀頭上用火炙透以新汲水百沸湯各半碗和服取吐或用刀頭燒鹽和熱童便服之</p>
<p>此上諸法專為危急之際倉皇失措而設俾人略知定向免得因驚致亂因亂致誤也至於病之變化無窮一面當延醫辨症用藥又非徒此所可專恃耳</p>
<p>以上辨症救急諸方系壬子歲霍亂盛行費養莊先生選訂近年歲氣雖與壬子不同然其邪亦寒熱錯雜之邪蓋近數年清明以後雷既發聲雪猶疊降穀雨以後亢旱月餘芒種以後大雨兼旬與純乎寒濕者亦不同近年所治名以寒熱互用獲效燥烈之藥亦非所宜仍須制寒熱通用之藥以濟斯厄共登仁壽之宇曉瀾識時（其餘未盡之旨各方藥列入後篇者系余錄驗選集以補費氏所未備曉瀾再志）咸豐辛酉中秋後十日記於祟川雅竹齋中</p>

<h1>摘錄霍亂論守險預防要法</h1>
<p>一食井中每交夏令宜入白礬雄黃之整塊者解水毒而闢蛇虺也水缸內宜浸石菖蒲根降香</p>
<p>一天時潮蒸室中宜焚大黃茵陳之類亦可以解穢氣或以艾搓為繩點之亦佳</p>
<p>一用川椒為末時塗鼻孔則穢氣不吸入矣如覺稍吸穢惡即服玉樞丹數分（即藥店之紫金錠）且宜稍忍飢俾其即時解散切勿遽食尤忌補物恐其助桀為虐奸細來而得內應也</p>
<p>一無論老少強弱之人虛實寒熱之體常以枇杷葉煎湯代茗可杜一切外感時邪此葉天士先生法也見醫案存真然必慎起居節飲食勿謂有葉先生法在諸可廢弛也</p>
<p>一無論貧富夏月宜供饌者冬醃乾菜蘆菔芹荀冬瓜瓠𤬛及綠豆黃豆所造諸物人人可食且無流弊肉食者鄙焉知此味嗚呼苟能常齩菜根則百事可做豈但性靈不為淚沒足以御揮霍披亂之災乎再酒性純陽大冷不冰造酒之屋木尚漸腐生物酒浸皆能漸熟不但能腐人腸也然嚴寒之令略飲可御風寒卒犯飛屍溫服可祛陰氣若縱飲無節未有不致病者又惟夏月為尤甚蓋疫癘皆是熱濁穢毒之氣所釀同氣相求感受甚易且酒之濕熱久蓄於內一旦因邪氣入之而為一家其勢必劇其治較難其愈不易縱性耽麴蘖甘醉死而不辭者夏令必須戒飲或不屈死於揮霍撩亂之中也又鰻鱓性熱肋陽鱉性寒滋陰然或有毒者夏令更有蛇變者尤勿輕嘗即無毒者其質味濃厚膩滯難消如吸外邪而誤食之皆難救治市脯尤覺穢濁咸宜杜絕</p>
<p>選方十九首</p>
<p>暑熱霍亂主治方</p>
<p>白虎湯（傷寒論）治暑熱熾盛而為霍亂者</p>
<p>石膏（一斤）　知母（六兩）　甘草（炙二兩）　秔米（六合）</p>
<p>水一斗煮米熟湯成去滓溫服一升日三服按治霍亂秔米須用陳倉者最妙以苡仁代之既叮利濕且能舒筋又不犯米飲守中留邪之虞</p>
<p>白虎加人參湯（傷寒論）治證如前而元氣已虛者</p>
<p>原方加人參（三兩）</p>
<p>王夢隱謂白虎湯神於解熱妙用無窮加人參則補氣以生津加桂枝則和螢而化瘧加蒼朮則清濕而治痿變而為竹葉石膏湯則為熱病後之補劑余因推廣其義凡暑熱霍亂之兼表邪者加香薷蘇葉之類轉筋之熱極似寒非反佐莫能深入者少加細辛威靈仙之類痰濕阻滯者加厚朴半夏之類血虛內熱者加生地地丁之類中虛氣弱者加白朮茲仁之類病衰而氣短精乏者加大棗枸杞之類無不奏效如神也</p>
<p>竹葉石膏湯（傷寒論）治中虛暑熱霍亂及霍亂已定而餘熱未清虛贏少氣者</p>
<p>竹葉（二握）　生石膏（一斤）　半夏（半升洗）　人參（三兩）　麥門冬（一升）　秔米（半升）　甘草（炙二兩）</p>
<p>水一斗先煮六味取六升去滓內秔米煮米熟湯成去米溫服一升日三服</p>
<p>按集驗云此方加生薑治嘔最良王盂英謂治霍亂宜用地漿煎更妙桂苓甘露飲（河間）治暑熱夾濕之霍亂</p>
<p>桂（去皮）　白朮　豬苓（各五錢）　茯苓（去皮）　澤瀉（各一兩）　寒水石　石膏　甘草（炙各二兩一方）　甘草（一兩五錢）　滑石（四兩）</p>
<p>九味為末每用三錢溫水或新汲水或生薑湯量證調下小兒每服一錢接此方一名桂苓白朮散一方不用豬苓或云去豬苓加人參名桂苓白朮散</p>
<p>六一散（河間）（即益元散一名天水散）</p>
<p>桂府膩白滑石六兩甘草炙一兩</p>
<p>二味為末每三錢溫水或新汲水調下日三服挾表邪者以蔥白五寸豆豉五十粒煎湯調下　按益元散內有硃砂</p>
<p>左金丸</p>
<p>川連（六兩）　吳茱萸取陳而開口者一兩</p>
<p>二味同煮乾為細末米飲餬丸綠豆大每三錢陳木瓜五錢煎湯下吐酸者竹茹生苡仁各三錢煎湯下</p>
<p>黃芩定亂湯（夢隱）治溫病轉為霍亂腹不痛而肢冷脈伏或肢不冷而口渴苔黃小水不行神情煩躁</p>
<p>黃芩（酒炒）　焦梔子　香豉（炒各一錢五分）　原蠶砂（三錢）　製半夏　橘紅鹽水（炒各一錢）　蒲公英（四錢）　川連薑汁（炒六分）　鮮竹茹（二錢）　陳吳萸泡淡（一分）</p>
<p>陰陽水二盞煎一盞候溫徐服轉筋者加生苡仁八錢絲瓜絡三錢溺行者用木瓜三錢濕盛者加連翹茵陳各三錢</p>
<p>蠶矢湯（霍亂論）治霍亂轉筋肢冷腹痛口渴煩躁目陷脈伏時行急證</p>
<p>晚蠶砂（五錢）　生苡仁　大豆黃卷（各四錢）　陳木瓜（三錢）　川連薑汁（炒二錢）　製半夏　黃芩（酒炒）　遍草（各一錢）　焦梔（一錢五分）　陳吳萸（泡淡三分）</p>
<p>用地漿或陰陽水煎稍涼徐服</p>
<p>解毒活血湯（夢隱）治溫暑痧邪深入營分轉筋吐下肢厥汁多脈伏溺無口渴腹痛面黑目陷勢極可危之證</p>
<p>連翹　絲瓜絡　淡紫菜（各三錢（　石菖蒲（一錢）　川連吳萸（水炒二錢）　地丁　原蠶砂　益母草（各五錢）　生苡仁（八錢）　銀花（四錢）</p>
<p>地漿或陰陽水煮生綠豆四兩取清湯煎藥利入生藕汁或白茅根汁童便一杯稍涼徐徐服</p>
<p>昌陽瀉心湯（夢隱）治霍亂後胸前痞塞湯水礙下或渴或呃</p>
<p>石菖蒲　黃芩（酒炒）　製半夏（各一錢）　川連薑汁（炒五六分）　蘇葉（三四分）　製厚朴（八分）　鮮竹茹　枇杷葉刷（去毛各二錢）　蘆根（一兩）</p>
<p>天雨水急火煎徐徐溫服小溲秘澀者加紫苑（接汪謝城謂此方甚妙）地漿（千金）□黃土地作坎深三尺以新汲井水沃入攪之少頃取清者飲三五杯</p>
<p>寒濕霍亂主治方</p>
<p>四苓散（溫疫論）治濕盛霍亂胸悶溺澀而渴者</p>
<p>茯苓　豬苓　澤瀉　橘皮</p>
<p>水煎服王夢隱謂吳氏五苓去桂而治胃中濕熱最為有見且以橘皮易術則無實中之弊而有利氣之功當變而變斯為善用古法欲平霍亂者宜知所趨鄉矣　按此方變化加減可應無窮之用誠良醫之濟世苦心也</p>
<p>理中湯（傷寒論）治寒霍亂口不渴者</p>
<p>人參　甘草　白朮　乾薑（各三兩）</p>
<p>四味搗篩為末蜜和丸雞黃大以沸湯數合和一丸研碎溫服之日三夜二服中未熱益至三四丸然不及湯湯法以味依兩數切用水八升煮中三升去滓溫服一升日三服加減法詳載傷寒論集中</p>
<p>四逆湯（傷寒論）治陰寒霍亂汗出而四肢拘急小便複利脈微欲絕而無頭</p>
<p>痛口渴等症</p>
<p>生附子（一枚）　乾薑（一兩五錢）　甘草（炙二兩）</p>
<p>水三升煮取一升二合去滓分溫再服強人可用大附子一枚乾薑三兩通脈四逆加豬膽汁湯（傷寒論）治陰寒霍亂愈後四肢拘急脈微欲絕者前方加豬膽汁半合利服無豬膽以羊膽代之</p>
<p>按羊膽代豬膽若非冬令羊膽更難於豬膽況羊性熱豬性涼不能相代或編集者未及三複而載之今特訂正</p>
<p>附子秔米湯（金匱）治中寒霍亂肢冷腹痛吐少嘔多者</p>
<p>附子薑汁（炮切）　法夏薑汁（炒）　甘草炙（各三錢）　大棗（十枚擘）　秔米（半升）</p>
<p>水五升煮米熟湯成去滓溫服一升</p>
<p>冷香飲子治陰寒霍亂腹痛脈沉細或弦緊無汗惡寒面色如土四肢厥逆陽氣大虛之症</p>
<p>甘草　附子　草果仁　橘紅（各一錢）　生薑（五片）</p>
<p>水煎冷服</p>
<p>平胃散（局方）治濕盛於中霍亂吐濁</p>
<p>茅朮（去粗皮米泔浸五兩）　紫厚朴（去皮薑汁炒）　陳皮（去白各三兩二錢）　甘草（炙二兩）</p>
<p>四味為末每服二錢水一盞姜一片煎七分服轉筋者加木瓜本方加霍香半夏名金不換正氣散</p>
<p>霍香正氣散治濕蘊於中寒襲其外而為霍亂吐瀉者</p>
<p>厚朴　陳皮　桔梗　白朮　半夏（各二兩）　霍香（三兩）　大腹皮（一本作）　蒼朮或用檳榔亦可　白芷　茯苓　蘇葉（各三兩）　甘草（一兩炙）</p>
<p>十一味為粗末每三錢姜三片棗一枚煎服（按蘭臺軌範此方無白朮若易茅朮尤佳）</p>
<p>王夢隱謂上二方皆治風寒外感食滯內停或兼濕邪或吸穢氣或傷生冷或不服水土等證的是良方若溫暑熱證不兼寒濕者在所切禁今人謂其統治四時感證不審病情一概濫用殊可笑也用治霍亂薑棗宜裁</p>
<p>痧疫回春散　治寒濕霍亂吐瀉脈沉肢冷目陷肌肉漸次消鑠等症（俗名鬼偷肉）</p>
<p>川厚朴薑製（一兩）　廣藿梗　白檀杳　制茅朮（各一兩）　製半夏（一兩五錢）　新會皮（一兩）　宣木瓜（一兩）　淡吳萸（五錢）　川椒種（八錢）　制附片（八錢）　高良薑（八錢）　烏梅肉（八錢）　廣木香（五錢）　臺烏片（五錢）</p>
<p>共研極細末每服三錢重者加倍開水煎調服原方載於武林項君爾康所刊同壽錄中屢試屢驗之良方惟寒濕證尤捷若挾暑熱者切勿沾唇</p>

<h1>霍亂轉筋外沽法</h1>
<p>凡霍亂轉筋者亟以手蘸鹽滷撲之久久自定如無鹽滷即用新汲井水和食鹽亦效又法用燈芯一撮搓成團用真高粱酒燉溫摩擦轉筋處亦良方也</p>
<p>按治霍亂往往誤投燥熱者多未將寒熱分別施治惟近醫王孟隱學超前哲立法選方專為補偏救弊而設亦因世俗專執桂附一方統治一切霍亂緣立病情治法醫案藥方四種分門別類痛切直言以濟世人之厄惜其書不易得尚無刊本也蓋霍亂一證其來太驟施治稍遲辨證稍忽挽救為難特其編帙繁多閱者或難細審今特擇其明晰簡要治法寒熱平穩藥方參以臨證心得實驗方法彙集一編俾可一覽瞭然分別施治庶不致以藥誤人若編首所載四方藥味和平寒熱兼治然非倉卒可辦況藥料貴重惟冀仁人君子量力製備刊明藥味證治廣為傳播洵造福無涯矣曉瀾又識</p>
