<header data-type="book">
<h1>知醫必辨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李冠仙</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1849">公元1849年</data></dd></div>
</dl>
</header>

<h1>自序</h1>
<p>余雖稍知醫道，實儒生也。儒者佩聖門之訓，一言必慎，敢好辨哉!雖然，醫不至於殺人，不辨可也；醫殺人而予不知，不辨可也；殺人在一時，而不至流毒後世，即不辨猶可也。奈今之醫者，並不知醫，惟知求利，草菅人命，恬不為怪；即或稍有涉獵，而偏之為害，更甚他醫。殊不知自昔醫書，惟漢仲景《傷寒論》審證施治，無偏無倚，為醫之聖。後世自晉叔和以下，無不有偏。迨至金元間，劉、張、朱、李，稱為四大家，醫道愈彰，而其偏愈甚。河間主用涼，丹溪主養陰，東垣主溫補，潔古為東垣之師，想因道傳高第，未另立書。下此前明王，薛、張、馮，亦稱為四大家，大率師東垣之論，偏於溫補，而張景岳則尤其偏焉者也。其實《新方八陣》何嘗盡用溫補，而其立說則必以溫補為歸。後人不辨，未免為其所誤耳!果醫者細心參酌，遇熱症則用河間，遇陰虧則用丹溪，遇脾虛則用東垣，遇虛寒則用景岳，何書不可讀?何至咎景岳之誤人哉!無如今之醫者，皆知有《景岳全書》，而未究全書，止得其一、二溫補方，遂奉為家傳秘法，以致戕人性命，甚且自戕。其後起者，因而不改。余家後人，設不知明辨，安知不亦害人而自害哉!至於吳又可《溫疫論》，本不成書，稍有知識，何至受害?無如竟有無知者，以為獨得之奇，殺人無數；且更傳徒，互相標榜，其害更甚於偏主景岳者。《內經》垂訓：無實實，無虛虛，無遺人禍殃。此其禍殃為何如?若不急急明辨之，於聖門慎言之訓則得矣，而何以遂吾濟世之初心，且何以正吾後人之學術哉?然則，予豈好辨哉，予不得已也!</p>
<p><u>時道光二十八年春三月如眉老人自序於含飴堂</u></p>

<h1>再自序</h1>
<p>有友來予齋，見《知醫必辨》，遍閱之，而以為明白曉暢，有益於人，力勸其再增十數篇，可以付梓傳世。予曰：醫不通，而抄襲成文，妄災梨棗，沽名釣譽惡習，最為可惡，予豈為之?今予所作，不過為教訓後人而設，意求清醒，明白若話，使子若孫一覽而知而已!若以付梓，則文多鄙俚，貽笑方家。此不可者一也。論中語多傷時，庸工所忌。設使若輩見予論，而幡然改悔，則不獨有濟於世，而先有益於醫；無如今之人，剛愎者多，虛心者少，徒增怨毒而已!此不可者二也。且既付梓，難免流傳他方，他方之醫，未必盡善，而其習氣未必如吾鄉，見吾書者，或以為異，謂吾處並無如此戕人者，要此何用?或且菲薄潤色，醫理不通，予為此邦之人，亦復何光耶?此不可者三也。且今不通之輩，不講醫而講術，呼朋引類，互相標榜，殺人而不動心。我生之初，所見老輩，並無此惡習也。此嘉言先生所謂生民之扼運，乃致醫道中疊生鬼蜮耳!過此以往，或扼運已終，若輩將盡，後起者能真講歧黃，不蹈惡習，吾書又安所用之?此不可者四也。友曰：聽子之言，反復辨論，皆有至理，竟以不付梓為是，然子之好辨殊難辭也。予笑應之曰：予豈好辨哉，予不得已也!</p>
<p><u>時道光二十九年歲次己酉春正月再序於含飴堂之秋水軒時年七十有八</u></p>

<h1>合論諸書之得失以示初學之從違（四條）</h1>
<p>《內經》，即古三墳之書也。書之古，無有古於《內經》者，或疑有後人粉飾，未嘗無因。蓋古書不獨無今之刻本，且無筆無紙，不過韋編竹簡刻劃而成，其成書甚難，其傳書必不多。列國時，惟楚左史倚相得而讀之，聰明穎悟，豈無他人?奈書不易得，故讀者甚少也。其時秦多良醫，如和如緩，豈有未讀《靈》、《素》者?則秦必有之，始皇焚書，而不焚醫書，故《內經》尚存，惟是代遠年湮，必多殘缺。韋編之絕，聖人之學《易》且然，而謂《內經》之竹簡，能久而完全乎?秦之後，楚漢分爭，誰復能修理《內經》者?迨文景之世，漢已治平，大儒輩出，必取《內經》修明之。今閱全書，頗有漢文氣味，必非歧黃之原文。然如《素問》所言五運六氣，宏深奧妙，《靈樞》所言經絡穴道，縷析條分，實秘笈之靈文，非神靈其孰能知之?今學醫者，不必讀盡全書，如歧黃問答，儘可刪去，只取其切要之句，牢牢記之，臨症引經施治，自然有靠。吾故曰：訒庵之《類纂》、士材之《知要》，足以致用也。</p>
<p>仲景先師作《傷寒論》，時在後漢，已有蒙恬之筆、蔡侯之紙，無庸刻竹，成書較易。然其時蔡紙不多，尚有縑帛，三都賦成，洛陽紙貴，雖漢陽太守，成書一部，已屬非易。不同今日之刻本，但得一部，即化為千百部而無難也。故其書十六卷，至晉時已亡其《卒病》六卷，至今莫之能見。然即觀十卷中之一百十三方，攻補寒熱，無所不備，已應用不窮。後世方書，盈千累萬，不能出其範圍。學者能於仲景之方，精心探索，自然左右逢源，其他醫書可看不可看也。多集方書，始於唐王燾《外臺秘要》。其方往往不合時宜，如茯苓飲一方，可以古今通用者甚少，故曰可看不可看也。</p>
<p>醫書之不能無疑者，莫如扁鵲之《難經》。扁鵲，渤海郡人也，姓秦氏，字越人，所居地為盧，故又曰盧醫。《史記》稱其遇長桑君，授以禁方，飲上池水，視病盡見五臟癥結，特以診脈為名。在晉視趙簡子，在虢視虢太子，在齊視桓侯，皆一望而知。在趙貴婦人為帶下醫，在周愛老人為耳目痹醫，在秦愛小兒為小兒醫。傳記甚詳，並未言有《難經》傳世。至仲景先師作《傷寒論》，惟本《內經》，亦未嘗用《難經》。謂為扁鵲之書，殊可疑也。且有可疑者，病機千變萬化，而《難經》止八十一難，何能包括?且其一難至二十一難，皆言脈；二十二難至二十九難，論經絡流注、奇經之行及病之吉凶；三十難至四十三難，言榮衛三焦臟腑腸胃；四十四、五難，言七衝門；四十六、七難，言老幼寤寐、氣血盛衰，言人面耐寒見陰陽之走會；四十八難至六十一難，言脈候病態，傷寒雜病之別，繼以望聞問切而能事畢矣；六十二難至八十一難，皆言臟腑榮腧用針補瀉之法。　然則其有益於方脈者，止六十一難耳，何足以盡病情乎?且其論大率本乎《內經》，既有《內經》之詳，何取《難經》之略?其中亦有與《內經》不合者，人將從《內經》乎?抑從《難經》乎?更可疑者，四十四難論七衝門，會厭為吸門，胃為賁門，太倉下口為幽門，大小腸會為闌門，下極為魄門，而先之以唇為飛門，齒為戶門，此二門有何意味?似乎湊數而已!三十五難以小腸為赤腸，大腸為白腸，膽為青腸，胃為黃腸，膀胱為黑腸，以五色為五腸，有非腸而以為腸者，似乎新奇，而實無用。扁鵲神醫，似不應有此湊數之文與無用之論。考漢晉六朝以前，無稱越人著《難經》者，至《隋唐書·經籍·藝文志》，始有《難經》，其真扁鵲之書耶?抑後人之假託耶?好在其書無幾，一覽無餘。學者究以《內經》為主，《難經》則參看而節取之，亦無不可也。</p>
<p>學醫之道，神聖之書，不可不讀，後世之書，不必多看。唐許嗣宗醫理甚精，而不肯著書，謂醫者意也，可意會而不可言傳。其好著書者，雖有切當，不過竊神聖之經而敷衍，其別出心裁者，往往有偏僻之弊。如王叔和《脈經》，自以為仲景之徒矣，而後人之批駁者不少。至今人所推尊者，以金元間劉、張、朱、李為四大家。以劉為首，其《原病式》果有發揮，不可不看，然偏於用涼，不能辭也。張氏無書。朱則偏於養陰。李則偏於溫補。東垣《脾胃論》，實有至理。其補中益氣湯，實開千古不傳之秘，應用無窮。惟其論病，無論何症，皆附會為脾胃之故，人之五臟六腑，豈無自病其經者?且盡如其論，丹溪養陰之書可廢，乃今人之陰虧者十有六七，補土剋水，豈盡健脾所能治耶?且脾胃亦當有分，脾為陰土，宜於香燥，胃為陽土，宜於清通，其性不同，治當有別，渾而言之，殊欠明晰。然則四大家之書，尚難　盡信，何況下此者乎!四大家書，惟河間鮮有傳其道者，殆用涼太過，難於獲效乎!劉完素醫道雖高，未免有術，如自稱嘗夢二道士，飲似仙酒，醒時猶有酒味，從此醫理精通。此不過欲仿扁鵲遇長桑君故事，自炫以動人耳目。不然完素自病傷寒，八日不食，不能自治，反需張潔古救之，何仙傳能救人而不能自救耶?足見行道而兼行術矣。潔古作藥注，草稿始立，未及成書，言論往往見於《難經》，而其道則東垣傳之。丹溪則有高弟戴元禮克傳其道，明太祖服其藥。稱為仁義人也。其道不用新奇，病無不治，足見師傳之有法。惟後人假其名，而著《證治要訣》，其書太簡亦太淺，若輩只知假名獲利，而不知反為名家之累也。東垣傳徒甚多，王海藏、羅謙甫其尤著者也。厥後薛立齋獨宗之。薛氏著書最多，如《十六種》，如《薛氏醫案》，大旨以溫補脾胃為主。張景岳最重薛氏，其偏於溫補所自來也。吾嘗閱《薛氏醫案》，其書不止盈尺，其症幾於千萬，一男子，一婦人，一小兒，一頁可紀數症，言之不詳，徒令閱者繁多難記。此真薛氏所診者耶?抑薛氏懸擬者耶?</p>
<p>自予見喻西昌《寓意草》，乃嘆此真足稱為醫案，其議論詳明透徹，真足益人神智。雖王肯堂《證治準繩》，論頗持正，醫案不少，亦不能希冀喻氏。此予所以拜服西昌，而其他醫案置之不論也。若夫《馮氏錦囊》，乃三折肱於醫道者，其書平正通達，先幼科，後方脈，且有至理，婦科、外科，無所不備，即痘科亦講求精切，非今之幼科徒知用大黃涼藥者，所能望見。予嘗救痘症數人，得力於《錦囊》也。喻氏而外，馮氏最善，其書不可不看。</p>
<p>他如士材之書《醫宗必讀》，雖名不及四大家，而其書頗有益於醫道，亦不可不看。再如《東醫寶鑑》，雖外夷之書，而內景、外形，本乎《內經》，足備參考。其症治分門別類，甚屬詳明。如邪祟一門，有中國所不及載者。方雖繁雜，聽人擇取，適可臨症備查，亦不可不看。總之，醫書汗牛充棟，何能盡閱?即吾家醫書不少，初學亦難盡閱。然果能於吾諸論所引之書，遍觀而盡識，已勝於時下之空空，可以出而濟世矣。</p>
<p>至書有徒美其名而不足濟者，如生生子《赤水元珠》，似多元妙，其實人云亦云，平平無奇。其書盈尺，等於《錦囊》，以工夫看此，不如看馮氏矣。如《石室秘錄》，冒陳眉公之名，假託乩方，黃帝、岐伯、雷公、扁鵲、仲景、華佗，紛來踏至，日日到壇，有是理乎?其方皆襲成方，而重其分量，一方用之數斤，以為奇異，以為仙方，有是理乎?雖其治法間有可取，而其方何可用乎?孟子曰：盡信書，則不如無書。此之謂矣。</p>
<p>是故予所立論，何能明醫道之十一，但前人往往有欺人者，予一生不受人欺，不得不明辨之，以示我後人，故特立篇名曰《知醫必辨》。</p>

<h1>論讀醫書之難</h1>
<p>甚哉!讀書之難，無過於醫書矣。我輩學文，必先讀書，所讀不外於十三經。其書皆聖賢刪定，無敢改易，即後賢註釋，間有不同，不至過於差謬，況有欽定十三經注疏，果能誦習，即是通人，雖外有諸子，不過以供博雅，不能惑亂所宗主也。乃若醫者，自神農時先師祖僦貸季造《上經》，今僅存七十字，喻西昌雖註釋之，已不足用矣，自當以軒歧《內經》為宗主。其書精深奧妙，非聖賢不能創作，後學本難領會。唐王太僕，諱冰，號啟元子，始有撰注，加以宋高保衡、林億輩補註。學者從此究心，臨症時引經斷症，可以無誤。乃自成無己另為註釋，從此注《內經》者又增十數家，勉強增易，其意不過攀龍附驥，藉此傳名，其實未必善於王注，徒令後學無所適從。</p>
<p>至後漢張仲景先師，天生醫中聖人。其《傷寒論》三百九十七法，一百一十三方，實為醫方之祖。後世醫方，不可以數計，而總不能出其範圍。惟其書文義古奧，不易明通，必有資於註釋。乃自成無己註釋後，接踵者幾至百家，議見多歧，有如聚訟，徒亂人意。予讀至喻氏《尚論篇》，以為明白曉暢矣。乃見柯氏三書，彼又以喻氏為歧說，意在菲薄前人，則後來居上。其實柯氏實不及喻氏，即其書不以六經名篇，而以症名篇，自覺得仲景心法，然乎否乎?</p>
<p>予以為《內經》竟以王注為主。我輩診病，非同考據。每診一症，但有經文一二句可靠，即可無訛，惟在《內經》要語能熟記耳!近如李士材《內經知要》、汪訒庵《靈素類纂》，果能熟讀，盡彀診病。如看註疏，近有薛一瓢《醫經原旨》，以王注為主，間有采擇各家，兼有案說，可謂盡善。至《傷寒論》究以喻嘉言《尚論篇》為善，其書深入顯出，非天人交盡者不能。必要參看各家，則有本朝《醫宗金鑑》，以成注為主，而各家可取者，無不備載。果能考覈，即是通醫，亦不必泛求註疏也。我輩作文，責簡煉以為揣摩，學醫亦如之。安見難讀者，不幾於易讀哉?</p>

<h1>論診病須知四診</h1>
<p>診病之法，無過於望、聞、問、切，所謂四診也。此四字無人不知，果得其法，病無不治。而醫多差誤者，口能言之，而心不能得，手不能應也。其中奧妙，本難盡言，然初學診病，果能得其大略，臨症留心，久之純熟，自然觸手成春。</p>
<p>第一曰望。望者，望其色也。凡人五官，應乎五臟：目為肝竅，鼻為肺竅，耳為腎竅，口為脾竅，心開竅於舌，又心寄竅於耳。病在何官，即可知其在何臟矣。又五色配乎五臟：白屬肺，赤屬心，黑屬腎，青屬肝，黃屬脾。面現於色，又可推及五臟矣。面部多屬陽明，左顴屬肝，右顴屬肺。色有不當現而現者，可推而知臟腑之受克於何臟矣。凡此變化，言不能窮，而總以五行之生克推之，自然有得。昔扁鵲見齊侯，一望而知其病在腠理；又五日，而知其病在血脈；又五日，而知其病在腸胃；又五日，而知其病皆在髓。望之時義大矣哉!今人雖不敢希古神醫，而氣色之現於面者，未嘗不可望而知也。至望其舌，尤屬緊要。蓋病在臟腑，醫非盧扁，何能視見?而有可見者，除二便外，則舌為要。舌之可推測者最多。《傷寒舌鑑》三十六舌，不可不曉。《張氏醫通》加至一百二十舌，其繪圖大半以苔之裂紋為辨，以為精詳，實多造作，徒亂人意耳!予以為看舌之道，先看其有苔無苔。舌赤無苔，陰虧已極；兩旁有苔，中心無苔，有似紅溝，亦屬陰虧。薄薄苔痕，平人之舌。若苔厚則胃有停滯，白則夾寒，黃則夾熱，板則邪滯未化，腐則邪滯漸化。苔如米粉，邪滯甚重，在時邪門，雖白而干，可以用下。然又必觀其堆積之鬆緊，緊則為實；松又為虛，有用補而退者。舌苔焦色，屬熱所致。苔之全黑，火極似水，非下不可。然必審其燥與潤，燥生芒刺，熱重無疑；若黑而潤，絕不煩渴，反屬火不歸原，急宜桂、附回陽，稍進寒涼，則必隕命。此看舌之重在苔也。至於舌乃心之苗，脾脈連舌本，腎脈夾舌本，肝脈繞舌本。舌本紅，屬陰虛內熱；舌尖紅，屬心火；舌本紅腫或破碎疼痛，屬心脾積熱；舌強，屬痰熱；舌卷，屬肝氣欲絕；舌不能言，屬腎氣不至。此類由臟而發者居多，全在乎望之詳審，則望舌不誠要哉?</p>
<p>第二曰聞。診病可聞而知者較少，然不可不辨也。外感聲多壯厲，內傷聲多怯弱。聞呼吸而辨其調否?聞鼻息而辨其利否?床帳內有病氣，知其邪之深；床帳內無病氣，知其邪之淺。語言舛錯，恐其邪之伏；語言清白，恐僅內之傷。哼聲不止，恐疼痛之難禁；怠惰懶言，恐形神之交憊。此皆聞之不可忽者也。</p>
<p>第三曰問，尤不可不細。問其寒熱與否；問其有汗與否；問其頭疼、身痛與否；問其大解閉否；問其大便之或燥或稀或溏，並問解出之熱否臭否；問其小溲之利否、多否少否；問其溲色之或白或黃或赤，並問溲出之熱否臭否、清否濁否；問其夜尚能寐否；問其飲下之甘否，飢否吐否?問其胸胃之悶否；問其腹之痛否。痛而拒按屬實，輕則消導，重則攻下，雖痛喜按屬虛，或宜溫通，甚宜溫補。問其口中乾渴否；渴欲飲否；飲欲熱否；飲欲冷否；邪熱作渴，必然欲飲。陰虛內熱，渴不欲飲。問其有汗與否；汗出退熱否；邪從汗解，得汗熱退，或退不淨，再汗即淨。陰虛發熱，雖汗不解，屢發其汗，而熱轉甚。此非問不得而知也。而更有不得不問者，問其人向有舊疾否，或向有肝氣，或向有血症。發散之藥性屬辛溫，太過則肝氣因之而發，消導之藥性多香燥，太過則吐紅便血之恙因之而發；外感未去，內傷加增，醫者何以處此?況病情甚多，凡有舊疾，必先細細問明，用藥兼顧，早為監製。問而知之謂之工，不誠然乎!</p>
<p>若夫第四曰切，尤四診中之最要者。學者須將二十七脈細細推敲，《瀕湖脈訣》熟熟記誦，諸名家論症必論脈，多多考驗。臨症時心平氣靜，先以中指按定關脈，掌後高骨謂關也，乃齊下前、後二指，是為三部脈，前指按關前寸部也，後指按關後尺部也。先浮按，次中按，次重按，每部各浮、中、沉三診，合為九候。毋庸以二十七脈來尋病脈，而病人自然現出何脈。大抵浮、沉、遲、數、其象易明；洪、微、弦、滑，亦尚可曉；其餘脈象，初學不易推求，然久熟貫串，自能領會。雖仲景先師，謂心中了了，指下難明，正要人細心領會耳!不然脈之不知，何能診病耶?至於何脈主何病，有獨見者，有兼見者，有三四見者。如傷寒脈必浮而兼緊，傷風脈必浮而兼緩，風寒化熱脈必浮而兼數，由熱生痰脈必數而兼滑。又如肝病脈必弦，有熱必兼數，犯胃生痰必弦數而兼滑。凡病可從此類推。至於獨大、獨小、獨數、獨弦，更可以尋病之所在。或脈本六陽，陰必先虧；或脈本六陰，陽先不足。用藥另有斟酌。病雖變幻無窮，總不外乎五臟六腑，三部九候果能無差，自能按經施治。予論雖言大略，而學者從此入門，加以工夫考校，何患醫道之不明哉?</p>

<h1>論《景岳全書》</h1>
<p>張景岳先生，博覽岐黃，定為《全書》，分門別類，可謂周詳，文筆亦極暢達，可謂醫中之通人，非吳又可輩淺率粗疏，所能望見於萬一也。惜乎偏於溫補，往往誤人。夫天以陰陽化生萬物，《內經》亦云「陰平陽秘，精神乃治」，陰陽之不可偏廢也明矣。乃其書專重補陽，至引陶宏景說「陽氣一分不盡不死」為說。不知此乃陶君學仙之說，非謂醫也。其下聯云：陰氣一分不盡不仙。然則人儘可陰氣全無耶?夫陰生陽，陽生陰；孤陰不生，獨陽不長。理之常也。彼異端邪說，何可用以濟世?且宏景之論果信，彼山中修煉，想應重濁之陰盡去，清輕之陽獨全，必能飛昇仙去，何以《梁書》紀其卒時不過八十一歲?今人並不修煉，而壽過陶君者甚多。其說尚足信耶?而景岳且欲宗其說以壽世，用藥必偏於溫，豈不惑歟?</p>
<p>尤可異者，景岳稱陽藥為君子，陰藥為小人。夫神農嘗百草，上、中、下三品約三百味，其中陰藥多於陽藥，神農豈重小人者耶?且其《新方八陣》，亦頗用陰藥。如五陰煎，無一非以陰藥為君；其他方，歸、地尤所常用。豈景岳亦愛用小人耶?至論吐血一症，專主薛氏，以為吃童便百無一死，吃涼藥百無一生。夫當火性上炎，吐血鮮紅湧出不止，此時猶執引火歸原之說，以桂、附投之，豈不火上澆油耶?予曾見南門王姓者，得吐血症，某醫用景岳治法，遂狂吐不止，直至血盡而亡。又見有張氏子得吐血症，某醫仍用景岳法，僅服一劑，大吐不止。予見尚可救急，以犀角地黃大劑投之，連服四劑而愈，今已二十年，並未復發。吃涼藥者百無一生，信乎否乎?在景岳高手，即或有誤，必能自救其偏。而今人如執其說，其不至於殺人者鮮矣!</p>
<p>至景岳尚論前人，專駁河間、丹溪。夫河間《原病式》專主用寒，實未免於偏；丹溪謂一水能勝二火，專主養陰，不善學者，亦未免偏勝之弊，景岳議之可也。然不自知其偏於溫補，凡論一症，必歸到溫補，即實系陰虛發熱、脈數等症，又以為假熱假數，或又抱定甘溫能退大熱，謂語出東垣，必然無誤，多方曲誘，必要人學其溫補而後已。此其偏之為害，不更甚於劉、朱二公耶?</p>
<p>嘗見我輩中有宗景岳者，得其參附理陰煎一方，以為陰陽互用、氣血雙補，又有可加麻、桂之論，雖外感可以攻補並用，於是奉為秘方。適赴金河考試，曾以此治好一人，於是相傳某氏出一名醫，而其人亦遂業醫懸壺，凡遇疑難症，每投是方，不意漸多不效，甚且遺人禍殃，乃改用果子藥，有責以不用重劑者，則仍以參附理陰應之，而終無金河之效矣。然其僻性，終身不改，後其家有病時邪者，以此投之，發黃而死。景岳之誤人，豈不甚哉!雖然此非景岳之誤人，亦其人之不善學而自誤耳!參附理陰煎實系名方，用之得當，實有大效，予治李耀西子，用至十餘劑，幾於起死回生，仿《寓意草》有案可證。</p>
<p>藥不執方，相宜而用。溫涼攻補，用之得當，無非救人；用之不當，無非殺人。景岳專於溫補，似乎人能學之，醫無餘蘊矣，此則《景岳全書》之過。吾家向有此書，予知其善而惜其偏，曾遍閱而駁正之，惜夷亂失落。後人有學醫者，此書不可不讀，特為買補。但知醫而不知有《景岳全書》不可，知景岳而不知偏於溫補之害不可。予老矣!不能復為駁正。讀景岳者，先觀此診，後閱《全書》，將知其善而不受其害，於醫道其庶幾乎!</p>
<p>或問假熱之症，亦實有之。嘗見有外現發熱，醫者專於清熱，屢用寒涼，而熱不退，反致口味不甘，飲食減少；或用溫和之品，升扶胃氣，而飲食加增，外熱自退。此豈非假熱之症，而宜於溫補乎?是景岳之論，誠不謬也。予應之曰：是誠然矣。但亦有外現惡寒，而內實有熱者；有外寒愈甚，而內熱愈重者；有愈服熱藥而外寒愈甚者。所謂同氣相求之症，予屢見之，而景岳未議及此，殆欲自成一家，偏於溫補耳!如道光二十三年，正月天寒，李楚生兄得惡寒症，周身凜凜。某醫屢投溫散，兼加辛熱，而其寒愈甚，且湯飲不下。予診其脈不浮而急數異常，知其熱鬱胸胃，投以犀角地黃，一服而寒止，再服而身溫進食。此豈非假寒，非涼藥不能透解乎?設使景岳於熱辨其假，於寒亦辨其假，雙管齊下，使後人知寒熱皆當明辨，庶學者不至不偏。乃第言假熱而不言假寒，豈非偏於溫補乎?</p>
<p>且尤有令人悶悶者，如吐酸一症，劉河間以為屬熱，景岳以為屬寒。河間曰：酸者木之味也，由火盛制金，金不能平木，則肝木自甚，故為酸也。如飲食熱則易於酸矣，或以吐酸為寒者誤也。而景岳則本東垣之說，以為吐酸者收氣也，西方肺金旺也，寒水乃金之子，子能令母實，故用大咸熱之劑瀉其子，以辛熱為之佐，而瀉肺之實，病機作熱攻之誤矣。河間謂如飲食熱則易酸，夏令暑熱，飲食易酸，其明證也。景岳則謂食在釜中，能化而不能酸者，火力強而速化無留也，若起置器中，必久而後酸，此停積而酸，非因熱而酸也。二名家之論，如水火之不同，學者將何所適從乎?不知吐酸一症，有屬熱者，有屬寒者。或乍感風寒，立即作酸作吐，此化熱不及，得不謂之寒乎?或並未受寒，而肝火犯胃，因而吐酸，得不謂之熱乎?大約此症出於胃，則屬寒有之；由肝犯胃，則屬熱有之。且果屬寒，脈必沉滯；果屬熱，脈必弦數。乃二名家不分肝胃，不論脈象，惟主熱者執見無寒，主寒者執見無熱，殊不可解。予診病四十餘年，所見吐酸之症，不可勝數，大約屬寒少而屬熱多，而婦人則尤多屬熱，蓋十婦九肝氣也。書曰：曲直作酸。《素問》云：諸嘔吐酸，皆屬於熱。河間論非無本，而景岳必反復辨論以駁之，毋乃欲成其溫補家數，而非中庸之道也乎!</p>
<p>或問景岳既過於偏，其書竟可廢乎?予曰：是何言也!景岳於醫道，實三折肱者，故能集為《全書》，論雖時偏溫補，而《全書》並不以溫補為專主。試觀《新方八陣》，其所用寒涼甚多，如玉女煎、知柏八味，皆新方也，今人用之，亦垂不朽。至其溫補之方，亦實有效，如六味回陽飲、參附理陰煎，用之得當，真有起死回生之功。且其聰明過人，如變理中湯為理陰煎、補中益氣為補陰益氣，皆有神悟，後學果玩索而有得焉，未嘗不可大獲其益。無如庸工，並未遍睹《全書》，不能參觀互用，惟得其一、二溫補方，遂奉為家珍，妄行施治，致令受其害者，歸咎於溫補之為害，而《景岳全書》似不可看也，豈不冤哉!總之，醫書甚多，除《內經》、《傷寒論》可謂無弊，此外鮮有不偏，全在善看，如景岳之偏，尚未及張子和之十一。</p>
<p>子和字戴人，其書曰《儒門事親》，偏於用涼，尤偏於忌補，專以汗、吐、下三法治病，無論外感、內傷，皆恃三法。其於大毒之藥，如黑白牽牛、芫花、大戟、甘遂、常山之類，皆視為泛常，且多刊醫案，載其成效，使人相信。殊不思經云：大毒治病，十去其六；常毒治病，十去其七；小毒治病，十去其八；無毒治病，十去其九。歧黃用藥之慎如此，何戴人魯莽無忌耶?設以其書與景岳並看，幾有天淵之隔。學者將何所適從?平心而論，《景岳全書》斷不可廢，《儒門事親》除玉燭散一方可存，余則竟廢之可也。或問張子和似亦名醫，何其書偏僻太甚?蓋子和元人也，元起於極北，北方風氣剛勁，人之體質壯實異常。試觀宋當日者，燕云六州為遼所據，在宋之北，而宋人畏遼；金起於遼之北，而遼又畏金；元起於金之北，而金又畏元；卒之元滅金滅宋，如拉枯摧朽。其人所食皆牛羊肉，所飲皆牛羊乳，強壯非凡，有病類多熱症實症。子和生當其時，鮮有虛寒之症，故用藥以補為戒，惟取寒涼攻伐，想多獲效，故其書亦傳。迨至前明，非復元人氣候，體質變更，而庸庸者狃於故習，仍守戴人之法，焉有不害人者?故王、薛、張、馮皆主溫補，景岳又重溫補者，亦補偏救弊之意也。但久之又久，或又狃於景岳之說，則未免有弊耳!總之，戴人之書，今竟無用，而景岳之宜酌用。四方風氣不同，南北之分尤甚，今北人服藥，大黃用至一、二兩而無妨，南人則五、七錢而難受。或生於南方而常居北方，所食者面飯，所用者煤火，病果當下，少用大黃而竟不靈；或生於北方而常居南方，飲食一切與北迥異，病即當下，過用大黃而亦不受。惟醫者細心審問，庶幾無誤。若夫禹功散、浚川散、琥珀散等方，以牽牛、甘遂、芫花、大戟等藥，隨手妄用，則斷乎不可也!</p>

<h1>論金匱腎氣湯</h1>
<p>景岳參附理陰煎，實系良方，用之得當，每見大效，誤用則傷人，予既已詳辨之矣。更有金匱腎氣湯，為仲景先師之良方，用六味地黃加車前、牛膝、肉桂、附子，治水蠱最效，治腎氣上衝，亦甚有效。</p>
<p>乃有某醫者，素習葉氏《臨症指南》。葉氏初學幼科，後學方脈，與薛一瓢同時，而其道不及，惟其人靈機活潑，治病頗有聰明，但究非儒醫，所傳醫案平常，虛字亦多不順，迥非喻嘉言《寓意草》可比。乃某醫奉為家傳，治病往往仿之，偶聞王九峰先生治李姓氣衝於上，用金匱腎氣湯一藥而愈，以為得有秘法，每遇氣逆上衝治之不愈，即投以腎氣湯，往往一藥而死。後李姓有婦人吐血，氣逆不下，伊連用腎氣湯七劑，致狂吐不止，血盡而亡。又有劉頌芬之夫人氣逆不下，伊久治無效，亦用腎氣湯一服而亡。此何以故?蓋方名腎氣湯，並非肝氣湯。腎為至陰之臟，陰不潛陽，虛陽上衝，故用歸、附引火歸原，用六味納氣歸腎，自有奇效。至某醫所治者，皆肝氣也。肝為陰中之陽臟，氣至上中不下，其火必甚，非滋水養肝以平之不可，而反投以桂、附，火上添油，有不傷人性命者哉?嗟乎!以聖醫之方，亦為害人之方，皆由於古方立名之義未之能辨耳!予非敢揭人之短，惟一方之誤，關人性命，不得不明辨之，以示我後人凡用先師之方，不可不顧名思義也。</p>

<h1>論倪涵初先生瘧痢三方</h1>
<p>（附錄王子聖大歸芍湯、張潔古芍藥湯　附論噤口痢）</p>
<p>涵初生瘧、痢三方，真有閱歷，煞具苦心，足以活人濟世，非吳又可粗率成書之比也。時氣之病，瘧、痢最多，夏秋之間，患者尤眾。二者之病，以瘧為輕，然必治之得法，如不合法，亦頗傷人。蓋瘧論《內經》最詳，然其時專用針法，不論藥餌，並無醫方。後世醫方之多，無有過於瘧門者。如《外臺秘要》集魏晉以來諸方，不啻百首，內稱《千金方》、《肘後方》，似乎擇取最精，幾於仙傳之意。其他崔氏、深師所謂名方者，不可枚舉。大率皆云：其效如神。然其方多以常山為君，竟鮮有不用常山者。今人之體，安能當此常山之吐耶?故方雖多而不適用也。至《景岳全書》，則又以補為主，意在補正祛邪。無如補反助邪，而邪更難去。吾鄉有某醫，固守其書，見人病瘧，至有不吃補藥不診之說，於是經其治而死者不少。某醫後自病瘧，亦服補藥，以致邪不出而死。夫景岳雖偏於補，其方不盡補方，乃不善看書者，遂至害人自害，如此豈不冤哉!再如葉氏《臨症指南》，治瘧之方不下數百，而不用一分柴胡。夫柴胡為少陽經發散之品，舍此並無二味，瘧發少陽，豈能不一用柴胡?果瘧偏於熱重者，可用葉氏青蒿、鱉甲、桑葉、丹皮、知母、花粉，加減酌用；若寒重者，斷無不用柴胡。乃葉氏因毀薛氏有瘧疾不可用柴胡一語，以後治瘧竟不復用。至今吳人患瘧，皆不用柴胡，以致纏綿難愈，有數月不起者。然則《指南》之方，又烏足用哉!</p>
<p>惟涵初先生治瘧三方，既不用補，亦不克削，其藥平平無奇，而用之自有神效，真為治瘧之宗主也。其三方之中，二方最妙。其一方雖善，但瘧症有寒有熱，其寒未必不由太陽、陽明而來，邪從汗解，必從陽明、太陽而去。太陽為頭門，陽明為二門，少陽為三門，柴胡開少陽之門，而太陽、陽明之門不開，則汗不易透，而邪不得解。予往往用其初方，必加羌、防、葛、芷，先開太陽、陽明，一二劑後，始用柴胡，而去羌、防、葛、芷，口渴仍用葛根，而汗無不透，邪自漸輕。威靈仙初亦不用，其藥截瘧甚靈，而屢用反覺不靈，竟留待二方中用之，往往一服即止。至二方予亦不驟用，必瘧勢已衰，照方製藥，分毫不加減，煎成露一宿，大早空心服之，瘧竟鮮有不止者。此予佩服先生之方，而用之別有心得，我後人牢牢記之，雖初學亦能治瘧矣。</p>
<p>至治痢三方，則初方最善，其分兩亦不可加減。其微理妙論，一曰忌溫補，二曰忌大下，三曰忌發汗，四曰忌分利，皆精切無疑，而溫補之忌，尤不可忽。予近見治瘧死者尚少，而治痢死者獨多。詢其致死之由，大抵由於溫補也。吾鄉有大富戶，得血痢症，其為熱症無疑，此三黃湯或加生地黃湯症。乃醫者泥於景岳專事溫補，其家人參甚多，於是人參、附子屢進不休，不過九日，直至腸胃腐爛，所下如爛魚腸而死。溫補之害為何如，能不以為大忌哉!設使佩服涵初之訓，何至放肆如此?予四十餘年以來，治痢甚多，亦無死症，未嘗不得力於涵初之論也。先生方論不多，而精妙絕倫，學者其用心玩索，毋負前賢之暗度金針哉!</p>
<p>涵初治瘧第一方：</p>
<p>陳皮（一錢）　半夏（一錢）　白茯苓（一錢）　威靈仙（一錢）　柴胡（八分）　蒼朮（八分）　黃芩（八分）　厚朴（八分）　青皮（六分）　檳榔（六分）　甘草（三分）</p>
<p>第二方：</p>
<p>生首烏（三錢）　陳皮（八分）　柴胡（八分）　白茯苓（八分）　炒白朮（二錢）　黃芩（八分）歸身（一錢）　威靈仙（一錢）　鱉上甲（二錢，醋炙炒）　知母（二錢）　甘草（三分）</p>
<p>加生薑三片，河井水各一碗，煎至八分，加無灰酒五分，再煎數滾，夜露一宿，於瘧期清早空心服。</p>
<p>第三方：</p>
<p>人參（一錢）　黃耆（蜜炙一錢二分）</p>
<p>歸身（一錢二分）　白朮（一錢）　陳皮（八分）　柴胡（八分）　升麻（四分）　甘草（三分）</p>
<p>或加：何首烏（二錢）　炒知母（一錢）</p>
<p>又加：青蒿子（八分）　麥芽（一錢）</p>
<p>涵初治痢第一方：（第二、三方不錄）</p>
<p>生黃連（一錢二分）　生黃芩（一錢二分）　白芍（一錢二分）　山楂肉（一錢二分）　枳殼（八分）　川樸（八分）　檳榔（八分）　青皮（八分）　歸身（五分）　甘草（五分）　地榆（五分）　紅花（三分）　桃仁（一錢）　木香（二分）</p>
<p>如滯下之甚，加大黃二三錢。</p>
<p>涵初治痢之方，固甚妙矣，然亦尚有虛弱之體，而得痢症，腹痛裡急後重，勢不得不通因通用，不得不用大黃，而又恐其難受，將奈何?乃聞前輩王子聖者，治痢頗有名，不論虛實皆極效，刊有瘧痢一書，但不甚行。予於金幕友書匣中見之，翻閱一過，其治瘧總合司天歲會，用藥未免拘執，故治瘧不甚效。惟治痢有大歸芍湯，其方雖虛人痢疾，無不一劑而通，二、三劑而愈。予知其方乃從潔古老人芍藥湯變化而來，深合《內經》行血則便膿自愈，調氣則後重自除之意。不獨虛人可恃無恐，即不甚虛者，亦未嘗不宜。故予治痢，或用涵初方，或用大歸芍湯，頗獲效驗。今並錄出，以聽後人之取裁!</p>

<h2>附錄</h2>

<h3>王子聖大歸芍湯</h3>
<p>全當歸（八錢）　生黃芩（一錢）　大白芍（八錢）　川連（一錢）　山楂肉（三錢）　萊菔子（二錢）車前子（一錢半）　檳榔（八分）　生大黃（二三錢）　厚朴（八分）　枳殼（八分）　甘草（五分）</p>

<h3>張潔古芍藥湯</h3>
<p>大白芍（一兩）　黃連（五錢）　當歸（五錢）　黃芩（五錢）　大黃（三錢）　肉桂（二錢五分）甘草（二錢）　檳榔（二錢）　木香（一錢）</p>
<p>上九味，㕮咀，每服用水二盞，煎至一盞，去渣，溫服。如痢不減，漸加大黃，食後服。喻嘉言先生論治痢，恐陽陷於陰，用逆流挽舟之法，最重活人敗毒散，於痢初起時用之。予仿其意，而恐羌、獨過於表散，於大歸芍湯中加柴胡一錢許以升少陽，葛根一錢許以升陽明，不致清陽下陷，獲效頗易。並不犯涵初發汗之忌，而可收嘉言逆挽之功。但可加於歸芍湯中，若加於涵初之方，嫌其不符合也。</p>

<h3>附論噤口痢</h3>
<p>痢疾經稱腸澼，今稱滯下，皆濕熱蘊結所致。濕熱干於氣分則白，干於血分則紅。治法主通，《內經》通因通用，為痢言之也。症雖日夜百行，通則自愈，不至於死。惟噤口痢實屬危險，飽不煞的痢疾，奈何湯下不下乎?其故亦由濕熱熏蒸，胃口壅塞不通，非通不生，而通胃口，頗難於通大腸。古方或用人參加石蓮肉，或用敗毒散加陳倉米，謂之倉廩湯，而多不效。夫濕熱之毒壅塞胃口，乃藥必用參，適以助邪，安望其通耶?大抵非苦寒之品，加以通胃降氣之藥不可。或云涵初之方，非苦寒為君耶?然則即服涵初方可矣。不知噤口痢連藥亦不能下，如能下，不為噤口矣。大約初起，只好以些少藥緩緩投之，以生川連為君，稍加通藥一二味，或加制軍少許，但得下咽不嘔，即緩緩再進；藥果能進，自可漸漸納穀，然後以大劑通大腸之藥進之，大腸得通，胃口自不壅塞。予嘗治此症，用生黃連五分，新會皮五分，鮮竹茹三錢，煎清汁半鍾，以銅匙少少進之，略停一刻再進，半日始將半鍾服盡，竟得不嘔，居然胃漸開而熱漸退，可進米飲，次日以涵初方加大黃三錢與服。其始便次不可數計，服藥後約三四時辰，陡然大通，便次大減，腹痛亦大減。次日只解六次，再進原方，減大黃一錢，又再進原方，去大黃不用，而痢全止矣。因治噤口痢不易，特記此案，以見急症緩調之法，切勿急投大劑，致胃不能受，以為無藥可救矣，不知所貴在服藥得法耳!我後人不可輕視此法也。</p>

<h1>論吳又可《溫疫論》（四條）</h1>
<p>吳又可以溫作瘟，竟謂古書無瘟字。不知溫病古人未嘗無書，仲景先師現有溫病上中下三篇，至劉河間《原病式》，大率皆言溫病。其餘論溫症者，不可枚舉，治溫之方，亦不可枚舉。所謂溫者，大抵六淫之氣，人感之而化為溫熱時邪是也。至論瘟疫，卻無專門。吳又可當兵荒之際，瘟疫傳染，欲另闢一書以濟世，何不可有助於醫，惜以溫為瘟，字義不清，意在論瘟而說在於溫。惟急下一說，合乎溫症，其他論說，無非時邪之溫病，混時邪於瘟疫，其貽害匪淺。時邪無時不有，瘟疫輕易不見。果系瘟疫，初病即有臭氣觸人；時邪初起則不然，必數日傳至陽明腑症，或有氣味，然亦只作腐氣，不作屍氣。瘟疫初發，即作屍氣，輕則盈床，重則滿室，誠非急下不可；若系時邪，或感風寒，或系暑濕，或系燥火，或由太陽而入，或由口鼻而入，仍當按經施治，豈可以下字蔽之乎?後戴麟郊《瘟疫明辨》，較勝於吳又可之論，惟重用下法。書中有二語云，傷寒下不厭遲，時邪下不厭早，則大有語病，若改為瘟疫下不厭早，則得矣。至又可達原飲一方，最屬夾雜不清。若症屬寒耶，何以用黃芩、知母?症屬熱耶，何以用草果、厚朴?其意固以為熱也，行將下其熱，何又助其熱?芩、芍、知母之涼，恐難敵草果、厚朴之燥烈。若云非此不能達膜原，夫膜原近在陽明胃經，達之之藥甚多，方欲急下其熱，何必用此燥烈達之也?且從不聞草果、厚朴為達膜原之品也。吳又可一書，卑卑不足道，原可置之勿論，奈為其所誤者，幾於相習成風，害人而不知悔，非吳氏之流毒哉!予故不得不明辨而深斥之。</p>
<p>吳又可書二卷，中有正名一條，因其溫疫二字，只用溫字，不用瘟字，以為後人添設，只要稱為疫而已。不知瘟疫二字，義本有辨。瘟屬陽毒，疫屬陰毒，不得概稱熱症也。道光五年，大行疫氣，但服大熱藥則生，不及服則死，俗謂之麻腳瘟，其實寒症也，陰毒也。十二年大行瘟症，得病即壯熱非常，神糊妄語，甚則發狂，稍服燥藥，立見致命，服犀角地黃湯則愈，此瘟症也，陽毒也。此二年中《瘟疫論》之方，無所用之。吾故曰：又可之書，義理粗率，不求精詳也。如雲臨症悉見溫疫，傷寒百無一二，有是理乎?既以溫疫為熱症，以三承氣湯為主治，何又先用達原飲耶?經云：冬傷於寒，春必病溫。又云：冬不藏精，春必病溫。內因、外因皆有溫症，但可謂之溫，不可謂之瘟，然則瘟疫之瘟，亦不得謂之溫也。</p>
<p>或問時邪未嘗無瘟症，如大頭天行、蝦蟆瘟等症，不亦謂瘟疫之類乎?然此等瘟症，究屬時邪，非同兵荒之後，死亡相繼，屍氣化為厲氣而行瘟也。其治法不離乎東垣先生普濟消毒飲。設又可遇此，亦能和達原飲耶?亦能三承氣湯下之耶?</p>
<p>或問時邪盛行之時，亦有逢人傳染，似乎瘟疫者，究系六淫之氣，而非兵荒之後，厲氣所沖，見症即當用下者也。《景岳全書》亦有瘟疫一門，而施治之方，無異時邪。他書亦未嘗無論瘟疫者，而亦治同時邪。若有高明，於傷寒外定為時邪一門，於時邪外定為時邪之瘟疫一門，於時邪之瘟疫外另定天地厲氣所中真正瘟疫一門，如此分門別類，按症施治，自可無訛。惜古無是書，致吳氏混瘟疫於傷寒，謂所醫之症，止見瘟疫，不見傷寒，殊不知傷寒與瘟疫，風馬牛不相及，何可相提而並論也?</p>

<h1>論時邪</h1>
<p>今之醫者，見人有外感，即曰上時邪，即斷之曰此七天症，七日不解，則曰十四天症。不知外因之症有三：曰傷寒，曰時邪，其輕者則曰感冒。</p>
<p>惟傷寒必講傳經，《內經》有之：一日太陽，二日陽明，三日少陽，四日太陰，五日少陰，六日厥陰；至七傳經盡，而太陽病衰，八日而陽明病衰，九日而少陽病衰，十日而太陰病衰，十一日而少陰病衰，十二日而厥陰病衰。治之各通其臟脈，病日衰已矣。此不過本七日來復之義，並無復傳之說。復傳之說，出成無己註釋之謬，前人馬元臺早批駁之。蓋厥陰至太陽有數經之隔，豈有遽出而傳太陽之理?即七日傳經，在《內經》亦明白示人，知在太陽，即在太陽治之，不必待傳陽明也；知在陽明，即在陽明治之，不必待傳少陽也；知在陽分，即在陽分治之，不必待傳入陰分也。且所謂一日、二日者日字，亦不可呆講，猶言一傳、二傳耳!蓋人有虛實不同，有胃氣素旺，太陽受邪，經二、三日而不傳陽明者；有衛氣本虛，始終太陽之邪不去者。豈可以呆法治之?凡此之論，乃論傷寒也，而江南無正傷寒，如仲景麻黃等湯，殊不合用。</p>
<p>大抵時邪居多。所謂時邪者，冬寒、春溫、夏暑、秋涼，受之者曰時邪；又有冬宜寒而溫，春宜溫而寒，夏宜熱而涼，秋宜涼而熱，所謂非時之寒熱，故直謂之時邪。其受寒涼，有由太陽而入者，必有頭項痛、腰脊強等症；或傳陽明，必有身熱、目痛、鼻乾、不得臥等症；或傳少陽，必有脅痛，耳沉、口苦等症。此當按三陽治法，勿使傳裡，此所謂小傷寒也，但亦當小其治耳!其受溫熱者，大抵由口鼻而入，不走太陽，每由陽明而達膜原，失治則易侵心胞，有神煩、譫語之慮。治宜辛涼，涼藥為主，辛藥為佐。若夏令炎熱太過，致煩熱、無汗，此必用白虎湯，或天生白虎湯服之，即大汗而解。但必先審其大渴欲冷飲，乃真受熱，否則亦不可妄投也。</p>
<p>若夫感冒，不過些微外感，小小疏散，或有停滯，稍加消導宣通，不難一藥而愈。乃醫者，亦曰此七天症候。初感未免兼有寒熱，乃曰此作瘧未正，多用柴胡，欲其成瘧。不知柴胡為少陽經藥，感冒初起，無在少陽經者。柴胡誅伐無過，感冒不轉難去耶?更有見感冒即曰時邪者，治以《溫疫論》之達原飲，不愈，即轉用下法，以致害人而無悔，尤可嘆也!</p>
<p>夫《溫疫論》作於吳又可，伊乃明末人，其時兵荒相繼，百姓流離，死於溝壑者不知幾千萬，其屍氣化為厲氣，流行於天壤之間，中其氣者，延門逐戶，無不受病，且傳染無窮，古方雖間有溫疫，而無以溫疫成書者。吳又可窺破病由口鼻而入，邪在膜原，遂立達原飲，且宜急下，故方多用下法。其時治必有效，因特撰《溫疫論》二卷，獨開生面，未嘗非醫家之一助。然其書義理粗率，不求精詳，果遇溫疫之年，可用其法。今之時邪，並非溫疫，何可妄用?若夫視時邪無異溫疫，初診即用達原飲，草果、厚朴屢進，以致燥熱不堪，旋即以大黃下之，幸而生者，且以為功，不幸而死，則以為病本不治，其實有以致之也。以達原飲治時邪，不知出於何典，可怪哉!尤可詫者，或有重勞倦，未免寒熱，而亦治同時邪，投以達原飲。夫勞倦發熱不重，有汗不退，乃陰虛也，而誤為時邪遏伏，妄用達原，致犯虛虛之戒，遺人禍殃。予親友中被害不悟者有之，徒令予為之浩嘆而已。吾家有習醫者，務須博覽群書，精求義理，勿貪一書之簡易，孟浪施治也。大抵勞倦之寒熱，似乎外感者甚多，然必有辨其熱必不甚，且按之愈重，則熱愈輕，寒亦若有若無，或輕或重，得暖便解，熱時或有微汗，仍不退熱，其手心之熱必甚於手背，或兼頭疼，或時疼時止，或重或輕，雖身體倦痛，精神疲睏，而人事清白，無神糊譫語之象。此則調其氣血，安心靜養，自然痊可。更有勞倦傷陰，汗不退熱，則以生地、當歸輩養陰清熱，熱自退而病自愈。若誤以外感治之，必犯虛虛之戒，再以時邪遏伏治之，妄用達原飲，鮮有不殺人者。</p>

<h1>論初診用藥</h1>
<p>初診立方，宜小其制，不及可以補進，太過恐挽救為難也。如遇傷寒，似可以用麻黃湯，而姑用羌、防。江南無正傷寒，麻黃湯甚不合用。昔陶節庵制九味羌活湯，以代麻黃湯，煞有苦心。知人傷於寒則病熱，於方中特少加生地、黃芩以預防之，真良法也。然予思初受寒邪，芩、地究慮其早，往往去芩、地，加當歸、赤芍，兼加二陳以和暢陽明，使痰不生而邪無所踞，寒頗易解，而熱亦不甚，似亦芻蕘之一得。遇陰虛不能化汗者，當歸用至八錢，一汗而解。曾醫李青原著有成效。此等運用，學者宜知。至於傷風，亦不必驟用桂枝。南方之風氣柔弱，非比北方之風氣剛勁，只須蘇杏二陳加防風錢許可解。如果頭痛、項強，傷及太陽，不見有汗，則羌、防亦可稍加。如果畏風兼畏寒，則桂枝亦可加用，但不宜多耳。</p>
<p>至於時邪症候，乃天地六淫之氣，非盡寒邪，亦非盡熱邪也。如受風寒，則按上法治之。如受暑，則多從口鼻而入，侵及心胞，三陽之藥全不合用，宜清暑益氣湯，六一散或生脈散，於醫書暑門內參酌而用之。惟暑能傷氣，不可妄用溫散；暑能傷陰，不可妄用剛燥也。如受熱，則所謂陽邪，不同暑乃陰邪也。故受暑必有汗，而受熱必無汗；受暑則心中懊憹，受熱則神情煩躁。人參白虎湯、天生白虎湯服之，一汗而解。有治之已遲，熱入心胞者，則犀角地黃湯在所必用。診此須分析明白，切不可暑、熱混為一門也。若夫長夏傷於濕，有宜燥者，有宜利者。但長夏受濕，往往兼暑，暑傷氣，暑傷陰，專於燥、利，又恐轉傷陰氣，濕更難化。昔人以補中益氣湯調理脾胃，濕自不能困脾；以六味地黃湯治下焦濕熱，而濕熱因養陰而化。此皆治其本也。若先治其標，則五苓散、四苓散、平胃散、小分清飲、滲濕湯，皆可相宜而用。要之，濕有未化熱者宜燥；漸化熱者宜濕熱兼治，古方所以有二妙、三妙也；濕有全化熱者，則宜專治其熱。今人總言曰濕熱，而不分此三等治之，所以鮮效也。至於冬傷於寒，春傷於風，夏傷於暑，秋傷於濕，此《內經》之言也。而喻西昌增為長夏傷於濕，秋傷於燥，實有至理，足補《內經》之缺。常見秋分以前，或暑氣未盡，即濕氣亦未盡，秋分以後，暑濕俱退，金風拂拂，燥火侵人，肺不耐燥，故生咳嗽，喻氏清燥救肺湯實可獲效。乃柯韻伯以為多事，此不過欲抹煞前人，自詡高明耳!即其傷寒註釋之書，何能如喻氏之深入而顯出?吾輩宜宗喻氏，即秋燥一層，毋庸疑議，庶可備六淫之氣，而詳審時邪之病也。</p>
<p>但用藥之道，宜小其制，得效乃漸加增。李士材云：將欲用涼，先之以清；將欲用熱，先之以溫。後人萬不及前人，安得任意妄用乎?至於大寒、大熱之藥，尤宜謹慎。寒藥如水，熱藥如火。譬如一卷書，錯落水中，急急撈起，難免破爛矣；錯落火中，急急救起，難免枯焦矣。病人之臟腑，豈堪破爛、枯焦乎?若夫用下，更宜慎之又慎。六淫之邪，如風寒便閉，腹痛拒按，熱邪傳裡，神糊譫語，可以用下，然非瘟疫，亦下不可早。至暑濕亦可用下乎?戴北山《瘟疫明辨》，較勝於吳又可《瘟疫論》。然其書止辨氣一條，謂瘟疫必作屍氣，不作腐氣，可見時邪、瘟疫之分，而其餘所論，則皆時邪也，何不云時邪明辨，而曰《瘟疫明辨》耶?其最誤人者，謂下法至少用三劑，多則有一、二十次者。人之腸胃無血肉，不得已而用下，未嘗不傷氣血，下至一、二十次，豈不邪正俱亡耶?戴北山究治何人，具有成效，並無醫案，而為此妄言，其害不更勝於吳氏耶?今之醫者，輕率用下，往往以此為辭。現有鄉醫某姓，在城懸壺，好用下法，屢次誤事，每以下遲下少為說。予親見李氏子出麻，被其再下而死，而猶執戴氏之說以為辨，豈不深可痛恨哉!予此篇真可謂之明辨，我後人宜細玩之，切忌之，毋負老人苦心也。</p>

<h1>論肝氣（二條）</h1>
<p>人之五臟，惟肝易動而難靜。其他臟有病，不過自病，亦或延及別臟，乃病久而生克失常所致。惟肝一病，即延及他臟。肝位於左，其用在右。肝氣一動，即乘脾土，作痛作脹，甚則作瀉。又或上犯胃土，氣逆作嘔，兩脅痛脹。肝之大脈，布於兩脅，而胃之大絡，亦在兩脅也。又成上而衝心，致心跳不安。又或上而侮肺，肺屬金，原以制肝木，而肝氣太旺，不受金制，反來侮金，致肺之清肅不行，而嗆咳不已，所謂木擊金鳴也。又或火化為風，眩暈非常。又或上及巔頂，疼痛難忍。又或血不榮肝，因不榮筋，四肢搐搦，周身抽掣。又或疏泄太過，致腎不閉藏，而二便不調。又或脹及背心，痛及頭項。其變幻不測，不能盡述；其往來無常，不可思議。總之，肝為將軍之官，如象棋之車，任其縱橫，無敢當之者。五臟之病，肝氣居多，而婦人尤甚。治病能治肝氣，則思過半矣。《內經》治肝有三法：辛以散之，酸以斂之，甘以緩之。後人立方，合三法為一方，謂之逍遙散。用柴胡為君，以為辛散；用白芍以為酸斂，用炙草以為甘緩。因肝氣必有肝火，又加丹皮、山梔，謂之加味逍遙散。今之醫者，一見肝氣，即投以逍遙；不應，即投以加味逍遙；再不應，則束手無策矣。不知《內經》論治肝，不過言其大概，臨證則變幻無常，而治法甚多，豈能拘於三法?</p>
<p>予嘗深思詳考，治肝竟有十法焉。心為肝之子，實則瀉其子，一法也；腎為肝之母，虛則補其母，二法也；肺為氣之主，肝氣上逆，清金降肺以平之，三法也；膽在肝葉之下，肝氣上逆，必挾膽火而來，其犯胃也，嘔吐夾酸、夾苦酸者，肝火苦，則膽火宜用溫膽法，平其膽火，則肝氣亦隨之而平，所謂平甲木以和乙木者，四法也；肝陽太旺，養陰以潛之，不應，則用牡蠣、玄武版介類以潛之，所謂介以潛陽，五法也；肝病實脾，則仲景之老法，六法也；亦有肝有實火，輕則用左金丸，重則用龍膽瀉肝湯，亦應手而愈，七法也。合之《內經》三法，豈非十法乎?若夫專用破氣，縱一時較快，而旋即脹痛，且愈發愈重，此粗工之所為，不足以言法也。然而庸庸者，大抵以破氣為先，否則投以逍遙散，至不應，則以為病重難治，豈不冤乎?予故特作肝氣之論。</p>
<p>或問逍遙散一方，集方書者，無不取之，如子言，其方竟不可用歟?予應之曰：逍遙散本是良方，奈粗工不善用，遂覺不靈耳!其方以柴胡為君，主於散郁，所謂木鬱達之也。果病者肝氣鬱結，或為人所制，有氣不能發泄，鬱而生火，作痛作脹，脈雖弦數而見沉意，投以逍遙，辛以散之，自然獲效。若其人並無所制，而善於動怒，性不平和，愈怒愈甚，以致肝氣肆橫，脹痛交作，不時上火，頭疼頭暈，脈來弦數而無沉意，此乃肝火化風，平之不及，而猶治以辛散，譬如一盆炭火，勢已炎炎，而更以扇扇之，豈有火不愈熾，而病不加甚耶?故逍遙散非不可用也，奈用之者，自不求甚解耳!</p>

<h1>論類中症不可妄用再造丸</h1>
<p>（三條　附錄龔趙氏常服調理方）</p>
<p>類中之症，多由肝虛生風，所謂內風，非外風也。間有外風引動內風者，然所見甚少。大抵風自內生也，故景岳直謂之非風症。其論曰：凡非風，口眼歪斜，半身不遂，四肢無力，掉搖拘攣之屬，皆筋骨之病也。肝主筋，腎主骨，肝藏血，腎藏精，精血虧損，不能滋養百骸，故筋有緩急之病，骨有痿弱之病，總由精血敗傷而然。如樹木之衰，一枝精液不到，即一枝枯槁。景岳素重溫補，而於類中之症，則獨重養血。誠以《內經》有云：足得血而能步，掌得血而能握，指得血而能攝。治偏廢者，能無以養血為主乎?陳臨川先生有云：治風先治血，血行風自滅，可謂要言不繁。予數十年來，守此法以治類中，未有不效。雖初病亦有痰涎壅塞，不得不先為疏通者，然如活絡丹方，不宜多用，恐養陰不及，反耗其陰也。乃乾隆年間，揚州鹽商；不知所延何醫，制有再造丸，藥味夾雜五十餘味，多用香燥，以為可以通絡開竅，全不思類中多由精血不足，肝失所養，虛風鼓動，經絡空虛，焦燥太過，轉傷陰血，何能熄風乎?吾鄉有原任池州府吳某者，半身不遂，延予調治。其人好內，腎不養肝，陰虛火盛，且食量甚大，專嗜肥濃，胃火亦甚旺。予專以滋肝清熱，兼以清胃消痰，日見痊好，惟語言謇滯耳!或勸以須服再造丸，予再三開導與病不合，伊見手足如常，亦暫依從，常服膏方，不復診治，已數年矣。乃忽急延予診，至則臥床不起，謂左腿不知何在矣。細詢其過，則有某醫者，勸服再造丸，其人本自賣此丸，連服五丸，而左腿若失矣。伊悔恨無窮，求予挽救。予曰：還爾腿尚可，履步如常，萬不能矣。仍以前法加減，調治十數日後，腿漸有知，又數日漸可待人而行，而軟弱無力。其人年逾七旬，現雖尚存，然經年臥床不起矣。再造丸之害如此，不知醫而妄用者，尚慎旃哉!</p>
<p>今之人先天不足，氣血多虧，加以利慾熏其心，酒色耗其腎，肝失所養，木燥生風，類中之症多由於此。能先事預防，一病即治，調養得法，或即痊愈，或帶病延年。予所治者不少，大約除中風不語，最難獲效，予卻不治，余則鮮有無效者，但總不用再造丸耳!如莊儀吉類中風幾二十年，至今尚存。劉頌芬類中十年，尚能遊覽。龔趙氏乃吾義女，類中治愈，今已十餘年，並不復發。又治丹徒縣熊公，今亦十餘年不復發，即如今歲朱惠疇、王新樓皆有中象，一治而愈。凡此皆先告以勿妄服再造丸。夫再造丸非必一無所用，如遇肥人多痰，經絡阻塞，或夾外風，其方香藥散藥不少，亦可有效；而如遇腎不養肝，木燥生風之症，則服之無益而有損。近來此症甚多，而一遇此症，症者、醫者以及旁人，無不欲服再造丸。嗟乎!醫理精深，豈一再造丸遂能治天下之類中症耶?予明辨之，尚望醫者同辨之，不然，吳某前車可鑑也。</p>
<p>予治類中症，嘗用十味溫膽湯加減。其方有開有合，以開進補，以補進開，不涼不暖，調理最宜，而治類中為尤合。惟初病夾痰，不宜用參，則易以沙參、孩兒參；初病風火交盛，則以地易熟地；心肺火旺，則以麥冬易遠志，以白芍或女貞易棗仁。若夫筋惕肉瞤，則羚羊角在所必用，所謂入肝舒筋之聖藥也；更佐以豨薟，雖口眼歪斜，無不應手而愈。至經絡不和，血脈不通，則加以參鬚、歸鬚，謂之二須飲；或助以橘絡、絲瓜絡，謂之二絡飲。至大便結燥，養陰即以潤燥，久自能通，或以五仁潤之，切不可下，致犯虛虛也。方藥甚多，不能盡述，大致如此，在後人神而明之，觸類而長之耳!</p>

<h2>附錄</h2>

<h3>龔趙氏常服調理方</h3>
<p>大生地（八錢）　北沙參（二錢）　大白芍（三錢）　大麥冬（三錢）　法半夏（一錢五分）　陳皮（八分）　雲苓（三錢）　生甘草（八分）　枳殼（一錢）　鮮竹茹（三錢）</p>
<p>時有加減，總不出此範圍。用十味溫膽意，而不拘拘成法。如女貞、羚羊、豨薟、二須、二絡等，亦臨時酌用。此方服數十劑全愈，迄今三十餘年，其方珍藏，其人猶健，豈易易哉!</p>

<h1>論胎孕</h1>
<p>（附論胎產金丹）</p>
<p>或謂予論症宜遍考病機，詳求治法，始於人有益，乃論止一二，毋乃太簡乎?不知醫書汗牛充棟，症無不備，方法繁多，何能更著書立說?惟古書雖系名家，或立說偏執，予不得不辨；庸工淺陋，誠恐害人，予不得不辨；而予非治有成效，屢試屢驗，亦不敢妄為辨論也。即如胎孕一門，婦人以此為重，數年不孕，即延醫服藥，膏、丸並進，乃不獨不能受胎，而轉生他病，月事不調一月經行二三次，甚且淋漓不盡，致成崩漏。此何以故?大率醫家皆以溫熱藥為主，而婦人亦以為多服溫熱，即可受孕，不知未能受胎，而早已受害矣。夫天地之道，陰陽和而萬物生焉，孤陰不生，獨陽不長。其以春藥醫男子，謂可種子，已遺害無窮，何能生子?即或生子，而胎毒甚重，赤遊丹等症，疊起環生；縱或苟延，天花症斷難存活。此男子服春藥之效也。乃治婦人亦用此法，以致血海之波瀾不靜，血熱妄行，經且不調，安能懷孕乎?總之婦科首重調經，縮則為熱，過則為寒，如果月事愆期，脈來遲濡，實屬虛寒，寒體不能受胎，溫經亦可，但此等脈象最少。蓋今之婦人，十有九肝氣，脈多弦數，再服溫熱，必致肝火盛而血妄行，其患豈獨不受胎乎?予嘗見望子之婦人，愛服暖藥，而庸工多附婦人之意以用藥，究之子不得孕而病不離身，實堪痛恨，故辨言及此。至於業已受孕，而又易於滑胎，大約在三月內者居多，請醫保胎，竟未見有能保者何也?蓋庸工既不讀書，故不明醫理也。夫婦人懷孕，一月足厥陰肝養胎，二月足少陽膽養胎，三月手厥陰心包絡養胎，四月手少陽三焦養胎，四經皆有相火。凡滑胎者，皆由水不濟火，血熱所致，欲安胎必須涼血。雖朱丹溪代人安胎，用白朮為末，以黃芩煎湯下之，遂得安好，後人因以黃芩、白朮為安胎之聖藥。其實黃芩性涼，白朮性燥，懷孕三月前後，胎火、相火併旺，只宜涼之，不宜燥之。今粗工安胎，總恃此二味，或加續斷，而全不見效。不知胎前宜涼，三、四月內尤宜於涼，治以燥藥，胎何能安?續斷性溫而動，保胎宜靜不宜動，藥當論性，豈能取其名以為用耶?若至五、六月間，足太陰脾、足陽明胃養胎，可健脾胃，丹溪方或可全用耳!丹溪必不欺人，但其方未注月分，恐亦在脾胃胎時耳!蓋胎以二十七日為一月，三月半後，已換養胎之經矣。予安胎不知凡幾，無有不效。如丁鄒氏三次滑胎，鄒趙氏七次滑胎，繆余氏十一次滑胎，總在三月之內，後俱請予保胎，無不安全，且生產後或更懷孕，竟無滑胎之慮。予總以生地養血涼血為君，黃芩則加之，白朮則不用，人稱余善保胎，其實並無異法，不過深悉養胎之經，知胎前宜涼之理，不泥於丹溪之法耳!此實屢試屢驗，故詳論之，以示我後人，庶不至以濟世之術，轉變為戕生之術云!</p>

<h2>附論胎產金丹</h2>
<p>或問部胎產金丹用以調經可乎?曰：不可。金丹真良方也，然名曰胎產，因胎前、產後而設。其方以河車為君，佐以肉桂，取溫暖暢達之意。懷孕將至足月，不復宜涼，服金丹一、二丸，可以易產；產後最忌停瘀，服一、二丸，可以行瘀。予治旗營婦人，懷孕五、六月忽小產，二胎不下，腹痛異常，以芎歸湯下金丹一丸，不過數劑，衣胞下而腹痛止，足見為行血通瘀之品，胎前、產後實屬相宜，至婦人經水不調，豈皆虛寒停瘀所致，如果過期不至，子宮虛冷，金丹可服，否則經不過期而轉頻數，金丹豈可服耶?至有善於滑胎，而欲以金丹保胎者，則保之適以催之，殊可笑也。</p>

<h1>雜論（十一條）</h1>
<p>病之生也，百出不窮，治法總不外乎陰陽五行四字。天以陰陽五行化生萬物，醫以陰陽五行調治百病。要之，五行之生克，仍不外乎陰陽。陰陽即血氣之謂也，氣為陽，血為陰也。氣血即水火之謂也，氣為火，而血為水也。氣無形，而血有形，氣附血以行，血無氣亦不能自行。無陰則陽無以生，無陽則陰無以化，陰陽和而萬物生焉。人生一小天地，陰陽必得其平。醫者偏於用涼，偏於用溫，皆不得其正也。</p>
<p>醫有定理，亦有活法。王太僕云：寒之不寒，是無水也，宜壯水之主，以制陽光；熱之不熱，是無火也，宜益火之原，以消陰翳。此定理也。又有論目云：能遠視不能近視，責其無水；能近視不能遠視，責其無火。夫目乃水精之光，無水則任意滋水可也。而書稱目無火不病，又稱眼病無寒，設以不能遠視之故而任意補火，能無損目乎?凡人生而近視者甚多，往往不受熱藥，此則當參以治法，不可盡責其無火也。</p>
<p>用藥之道，惟危急存亡之際，病重藥輕，不能挽救，非大其法不可。否則法先宜小，有效乃漸加增，不得以古方分量之重為準。況考古方之分量，合之於今，並不甚重。如仲景立方，動以斤計，或稱升合，似甚多也。及其用末藥，不過方寸匕；丸藥如梧子大，所服不過三十粒，又似甚少。何丸、散、湯液之相懸如此耶?考《千金》、《本草》，皆以古三兩為今之一兩，古三升為今之一升，則所兩者，僅得今之三錢耳!且仲景湯液總分三次服，則又止得三分之一。合而計之，豈非古之一兩，僅得今之一錢乎?惟世有古今，地有南北，人有強弱，藥有剛柔，醫者知所變通，庶幾有得耳!</p>
<p>凡人有病，如鎖錯鐄；醫者治病，如以鑰開鎖。不善開鎖，雖極用力而鎖不開，甚且將鎖損壞。銅匠善開鎖，只須銅錢一根，輕輕一撥，而鎖自開。故不善治病者，雖用重劑，而病不解，甚且加增；善治病者，只須一藥，即可得救。初學治病，當自審其能治則治，否則以待善治者，不可未識病情，孟浪用藥，將人損壞，雖有善者，未如之何!夫鎖可損也，人亦可損乎哉?</p>
<p>凡用藥調理病人，如澆灌花木，然有宜清水者，有宜肥壯者，既得其宜，而又澆灌適中，無太過不及之弊，自然發旺異常。調理病人亦然，有宜清養者，有宜峻補者，有宜補氣者，有宜補陰者，必求其當而後有效，不可矇混施治也，即如有求速效者，以為人參補氣，既服人參，何氣尚不足?熟地補陰，既服熟地，何陰尚不足?不知用藥培養，亦如澆灌花木之道，澆灌得宜，則花木藉以易長，非所澆灌者，即是花木也。即如芍藥最宜稠糞，多以稠糞加之，豈即變為芍藥乎?是故氣虛者，宜參，則人之氣易生，而人參非即氣也；陰虛者，宜地，服地則人之陰易生，而熟地非即陰也。善調理者，不過用藥得宜，能助人生生之氣，若以草根樹皮，竟作血氣用，極力填補，如花木之澆肥太過，反遏其生機矣。我輩用藥，總要輕重得宜，不可呆泥。況善用補者，補中有開，譬如作文，盡填實字，無一虛字，可能成文乎?總之，不通儒學，不能通醫理也。</p>
<p>藥有甚貴，宜於人有益而反有損者，人參是也。據《本草》人參能回元氣於無何有之鄉，可謂仙丹矣。於是富貴之家，病至莫救，無不服參者，奈十難救一。蓋參雖補氣，必得人有氣而弱，可以補救；若氣至無何有，人參何能為無氣之人生出氣來耶?然此不過無益而已，而更有損者，何也?富貴之人，驕奢之性，淫欲不節，自謂體虛，初病即欲服參，庸工無識，意在奉承，一藥不效，遂即用參，或因外感邪滯未去，得補不治，或因內傷壯火食氣，得補病進。予至親丁吳氏，肺熱音啞，某醫順病人之意，人參服之數兩，而更無音。乃延予診，囑以停參，進瀉白散數服而愈。又予至友吳在郊翁，肝火上升，頭暈、出汗，其家皆以為虛，某醫亦以為虛，逐日服參，而汗、暈更甚。遂延予診，欲代平肝，本人深信，而旁言嘵嘵，以為如此溫補，汗尚不止，況停參服陰藥耶?予辨以服參多日，毫未見效，且覺病進，猶不更法，必欲以參治死老翁耶!予曾代伊家排難解紛，素知感激，故能如此爭論。而其子以為知醫，最喜用參，某醫附和之，究不信予之言，幸老翁深信不疑，自願服予之方。予總以平肝養血為主，調理一月而愈，然則服參何益耶?更有目睹者，吾鄉富戶趙氏，為予近鄰。其父血痢，死於參。其弟疔證，亦死於參。又有吳景賢者，偶感時邪，趙氏因其父之老友，特送參數錢，景賢並不肯服，奈旁人以為財東所送，何能不服?某醫尤加附和，極力勸服，遂致邪不出而死。此皆人所同知，以益人之藥而損人，誰之過歟?予治病四十餘年，大抵富貴者少，中平者多，類多無力用參，而予亦輕易不用；即富貴之人，其病不當用參，予必禁止不用。如必用參而始能活人，則無力之人能活者有幾哉?</p>
<p>藥有極賤，似於人無益而大有益者，黑芝麻荄是也。予嘗治肝氣脹痛異常，氣逆嘔吐，前醫用二陳、香附、木香，順氣不效，加用破氣，如枳殼、腹皮、烏藥、沉香之類，更不效。予思肝氣橫逆，固非順氣不可，但肝為剛臟，治之宜柔，前醫所用皆有剛意，故肝不受。治宜甘以緩之，兼養陰以平肝，然非兼通氣之品，亦難速效，惟通氣之藥，難免剛燥之意。偶思及芝麻荄，外直內通，其色黑可徑達腎，其性微涼，毫無剛意，遂用一支，助以金橘餅三錢，一服而效，數服全愈矣。每遇舉發，即用是方，無不速愈。嗣後予治肝氣必用之，無不應手，所謂軟通於肝最宜。因思凡人臟腑之氣，無不貴通，《內經》通則不痛，痛則不通，固已。而推廣其意，通則不脹，脹則不通；通則不逆，逆則不通。凡治氣病，無不宜通，不獨肝經也。兼治哮症多年，腎氣上逆，予用六味地黃加減為丸，每服五錢，以芝麻荄一支，煎湯下，竟能漸愈，久不發矣。又治肝氣犯胃，飲食阻滯，欲成膈症，予以滋潤平肝、青金暢胃之品，加芝麻荄、金橘餅，十數服而愈。又遇脹症，幾有單腹之象，予用甘麥大棗湯加芝麻荄、金橘餅，連服月餘而愈。其它諸氣為病，服之得效者，不可數計。今諸親友，凡有氣症，延予診治，必囑以芝麻荄為家藏。若夫財翁，惟知愛參，此種賤藥之妙，彼固不知，且不信也。此藥各家本草所不載，予偶得之，十年於茲，始以治肝氣，漸則可治之病甚多，雖蠱脹單腹，亦所能治。予不肯以為獨得之奇也，特表而出之，以公諸世。</p>
<p>予嘗以所閱醫書，配以儒書。如《內經》，儒書之五經也；仲景《傷寒論》、《金匱玉函》，儒書之四書也。漢以後醫書雖多，皆不甚醇正，惟喻嘉言發揮仲景之書，精微博大，奧義畢宣，儒書中之朱注也。雖有柯氏出其後，意欲抹煞喻氏以炫其書，亦如朱注之後，有吹毛求疵，妄肆譏評者，究何能滅朱文正而行其說耶?予所以心悅誠服於喻氏也，惟其書獨詳於《傷寒》、《金匱》，欲為仲景後之一人。其《醫門法律》於雜症頗略，幸有《馮氏錦囊》，書稱美備，議論深醇，且其書於幼科尤為精細，為錢仲陽所不能及，即如痘症一門，予嘗本之以治家中痘症，皆萬全無弊，時下幼科所未嘗見也。予故於喻氏外，又推重馮氏，而欲後人學之也。</p>
<p>予不習外科，而治楊梅瘡十數人，果未吃捺藥，無不應手而愈者，蓋推馮氏治痘之法而用之也。今外科治楊梅，總不離乎下法。不知此毒必須升透，即如治天花，果能升透如花之發旺，自然上漿結痂，無不順吉。升透之法，必善內托，保元湯：人參、黃耆、官桂、糯米、紫草、甘草，所以為主方也。若肆用大黃，氣血下虛，痘必內陷，毒何能透?命何能保耶?夫天花先天之毒也，楊梅後天之毒也。先天之毒欲透發之，猶必內托，不可傷其氣血；後天之毒欲透發之，可不內托，而惟以大下傷其氣血乎?蓋氣血旺，則毒易托出而易盡，無後患也；氣血弱，則毒難托出而難盡，遺禍無窮：是故切不可傷其氣血也。天花、楊梅，竟屬一理，予比而同之，聞者得毋驚而至於惑乎!然予天花雖少，而無不愈，治楊梅較多，而亦無不愈，取《錦囊》治痘之意而貫通之，屢獲大效。吾家後學，或不治楊梅，而家中生育甚多，幼子童孫難免痘症，能講求於馮氏之書，庶幾有得，而不至受時下幼科之害也。</p>
<p>今將治楊梅之法，姑述大略。楊梅初起，火毒甚重，大便必難，不得不先通之，龍膽瀉肝湯加大黃，三兩劑，大便已通則止。此等毒由肝腎受者居多，故先用此湯。或已現於面，毒已由臟及腑，面部多屬陽明，陽明主肌肉，則用河間防風通聖散，內有發散、攻下、清涼解毒諸藥，且有兼顧氣血之品，可服三、四劑，亦大便通即止。二方皆以土茯苓二兩，煎湯煎藥。戒吃茶葉，恐解藥性。嗣則看其人之本體，如氣分不足，則以四君加敗毒之品　，銀花、槐蕊之類；如血分不足，則以四物加敗毒之品，銀花、槐蕊可以多加，更加養血涼血之品。亦以土茯苓煎湯煎藥，另合五寶丹：硃砂五分，琥珀五分，滴乳石五分，珍珠五分，研極細，入冰片二分五釐，牛黃五分，再同研，加飛羅面二兩和勻，瓷瓶收貯。每服五分，土茯苓湯下。逐日必戒茶飲，恐解性，可以土茯苓湯代之。如此醫治，輕者丹服一料即愈，重者不過二料，無不愈者。予屢見有過服下藥，致飲食不進，而其瘡臭不可近，予用歸脾湯合加味五寶丹，不過三服，其臭遂止，十日後而其瘡愈矣。其一為巫某，其一為老友柏邃庵，今邃庵八十有四猶健，可問而知也。</p>
<p>最可笑者，吾鄉之小兒科，自不知書，毫無學問，不過其師傳以發散、消導數方，如張子和三子養親湯：蘇子、白芥子、萊菔子，在所必傳，加以羌、防、柴、葛、枳殼、腹皮、山楂、厚朴消導藥十數味，再傳以脈案，曰：受涼停滯。食乳相裹，防變防驚數語，遂即懸壺行道矣。每遇臨症，即將師傳數語立方，叮囑人家症重不可吃乳，米飲亦不可吃，日以發散、消導與服，數日不退熱，不易原方，雖十數日不退熱，仍用原法，略為加減耳!其家少進米飲，則曰吃壞了。因燥藥吃多，血分大虧，不能榮筋，以致抽搐，則曰此急驚也，吾早言之矣。多日不吃飽乳，且服發散，治得氣微欲絕，則曰此慢驚也，吾早言之矣。直至於死，醫者不悟，而受害者亦不悟，猶以為先生甚靈，彼早言矣。尤可恨者，有拂驚之婦人，毫無傳授，妄行作孽，其兒並無驚，實因誤藥，氣血已虛，往往一拂而死。夫喜、怒、憂、思、悲、恐、驚，驚乃七情之病，必因驚嚇而後起，豈有因外感而成驚者乎?我輩方脈，不看幼科，然因方脈而救小兒者不少。如曹耕之之孫女，某幼科治之將死，遂請拂驚老婦，余再三勸止，囑令止藥，吃乳食粥，數日全愈。韋廷璋次子，甫生八月，偶因外感發熱不退，某醫肆用發散，不許吃乳以及米飲，延至多日，看看待斃，乃回絕不治。適予至伊家有事，廷璋各予求救。予以手指探其口，尚裹予指，知將餓死，乃偽曰我有妙方，能救此兒，但先須吃乳。其家謂已將斷氣，何能吃乳?予斷以必能吃乳，但須其母上床以乳就之耳!其母依言，以乳就之，果然能吃，且吃不少，乳後安睡。予告以今夜且不必服藥，明早我來進藥可也。次早往視，兒夜間吃乳不少，且得安眠，似已全愈。伊家問藥，笑應之曰：予有何藥，仍吃乳耳!此兒有病多日，過服發散、消導，有何外感?有何停滯?又不許吃乳，直餓死耳!而不死者，殆與我前世有緣也。其家感激，強將其子寄我名下，予亦聽之。又在蔣姓家診病，其家順以小兒藥方請教。予看脈案，痰喘聲如拉鋸，藥甚厲害。　予問小兒何在?奶媽現抱在予旁，並無拉鋸之聲，惟神氣甚弱耳!予稍為診脈，曰：此發散、消導太過，想必又不許吃乳，乃虛痰耳!速宜進乳，不必服藥。其家依言，數日全愈矣。幼科之誤人也，予姑略述二、三，類此者甚多，不能盡舉。我後人學方脈，於幼科亦須留意。凡名家醫書，皆有幼科，固宜善看，而《馮氏錦囊》，由小兒始，以痘科終，尤不可忽。果能遍看方脈，小兒無不兼備。家中生育頗多，庶不至受幼科之誤也。</p>
