<header data-type="book">
<h1>雜症會心錄</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>汪蘊谷</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1754">公元1754年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第六冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521056">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫學之有傳書。自張長沙傷寒論始。嗣經東垣河間丹溪。號為四家歷代纂述。不啻汗牛充棟焉。近惟張景岳。綜百氏。分八陣。厥指祖大易扶陽抑陰。可謂徹天人之秘。洞性命之原矣。其書洋洋洒洒。不下數十萬言。然其中條分縷析。間有引而不發。以待後學之體會者。苟非神而明之。變而通之。則寒熱虛實。表裡陰陽。鮮有不誤人於反掌者。余見今之業斯術者。根柢既荒。閱歷復淺。徒摭藥性湯頭。便署壺天自負。臨病議方。而不議症。知藥而不知脈。以至疾中膏肓。雖有善者。亦無如之何矣。嗚呼。不死於病。而死於醫。此庸醫殺人。所以甚於挺刃也。若吾邑蘊谷汪君者。其十洲尊公。暨廣期伯兄。皆以名醫世其家。先生丕承家學。上溯靈素諸經。靡不淹貫。尤於景岳全書。窺其秘鑰。觀其會通。故每治一病。必憑脈辨症。有症同而藥異者。有症異而藥同者。莫不應手取效。余嘗疑而問之。先生曰。是烏可執一論也。夫見症雖同。體有寒熱虛實之別。脈有洪細遲數之殊。則用藥不得不異。至見症本異。有陰虛陽虛。其法定當補益者。脈實症實。其法定宜攻下者。則用藥概從乎同。此又萬不可任臆變動者也。用是知先生師前賢之書。而不泥其跡。體前賢之旨。而更通其權。誠有如秦越人之洞見五臟癥結者。豈時流所能望其項背哉。且先生於貧乏家。症有必須參耆。則解囊而贈之。歲不僅一二見。其用心之仁如此。茲會心錄一書。乃先生數十年考索精研。施投應驗。筆之書以授其及門。余受而觀之。甚樂夫後學之有津梁也。急請付諸剞劂。以廣其傳。俾與景岳前後相輝映。天下之讀是書者。益知折衷於一。庶不致以學醫費人。貽譏當世云爾。時</p>
<p><u>乾隆十有九年歲次甲戌小春月上浣之吉春同學教弟程世法拜撰</u></p>

<h1>序</h1>
<p>方書之傳尚矣。靈素景先。其文字高古簡質。人苦難讀。然苞孕萬千。要亦醫門鼻祖也。後世如華元化。徐之才。皆稱善醫。然未有刊書。即有書而未傳。惟沈存中張仲景有所著。然非罄心眇慮。未易窺其奧窔。自千金本事三因以下諸書。可類推也。海陽汪君蘊谷。夙精岐黃。求者填門限。幾與書家智永等。一日詣予請曰。今日醫良夥哉。然家扁人倉。實無所謂醫也。夫舍脈是離中星談天也。舍證是堪與而釋山水也。實無所謂醫也。僕不揣固陋。承先父兄業。閱寒暑昕夕。鑽研精久。恍然竊若有以窺其肯綮者。因著雜症會心錄一編。幸先生為我序之。予視其書。明晰甚。如辨頭痛之內外。別中風之是非。產前後有異體之虛實不同。詳哉其言之。而尤於證脈三致意焉。昔人謂龐安常傷寒論。能與傷寒說話。君殆亦有然乎。余雖不知醫。竊謂君是書足以蛾述靈素。羽翼華徐。而為千金諸書津梁也。醫門得此。庶無扣槃捫燭之見矣。君雖隱於醫。然好讀書。博涉如舉子業。尤喜為詩。每過予。必袖以示多佳者。蕭然有意於刀圭之外也。其尊公約齊翁。廣期。皆夙以醫鳴蓋世。而宿其業者。故言皆信有徵云。</p>
<p><u>乾隆二十年乙亥孟冬月史官吳以鎮頓首拜譔</u></p>

<h1>序</h1>
<p>蓋聞物理論云。醫者非仁愛不可托。非聰明理達不可任。故曰與其自任。無寧執方。與其執方。無寧窮理。必宣暢旁通。達幽闡微。知天地萬物之故。明性命精微之旨。然後隨氣用巧。意在筌蹄之外。而神存心手之間。固非膠柱鼓瑟。師心襲貌者。所能庶幾也。余叔蘊谷先生。賦資聰敏。幼年博綜典籍。喜讀書窮理。繼承先業。不蘄仕進。酬應之暇。獨寄意於詩。觸景興懷。托於詠歌。以寫其自得之趣。蓋其天性然也。其後本業日精。聲名日盛。方之所剖。劑之所投。若行所無事者。而遠近之人。爭奔走恐後焉、居平籃輿遠出。片帆遙指。延請之家。相望於道。而余叔閒適自如。手揮目送。于山川雲物。草木之美。禽獸之觀。繪聲撫狀。莫不爭現於青囊藥籠。間歸而錄之於集。方隱几樂其所得。而臥者起。憊者愈。神明感嘆於其側已。誦其功於巍乎莫及。噫嘻。余叔之於醫。何若是之大遠乎俗。而調達其性情。洞見其癥結。曲盡其原本哉。吾聞夫昔人詩之為教。通志氣。格神人。導斯民於中正和平。登之仁壽。以抒其煙郁隱伏。蓋亦有天事焉。今余叔之於醫。殫精竭慮。於寒暖燥濕。結蓄沉滯。七表八里。三焦六脈之道。剖析通微。一如四聲五音。歌吟嘯呼。寫人情之難言。宣人性之至樂。無有隱顯。遠邇莫不神而明之。以臻其至。此詩之進而益工。愈可知醫之獨有千古也。又何疑哉。甲戌冬。余請假歸省。今春訪余叔於牡丹藥欄之側。把盞敘話。快讀近日詩歌。為之神怡心醉。既而出雜症會心錄一編相示。牢籠百家。匠心獨運。蓋舉平昔讀書窮理之功。與夫閱歷參稽之驗。畢露於卷帙中。其本仁愛之心。發為不可磨滅之論。辭達理舉。於以信今而傳後也。豈非不朽盛業哉。爰敘厥巔末。以見余叔之學。原原。本本。其來有自。而非庸耳俗目所克窺見萬一云爾。時</p>
<p><u>乾隆二十年歲在乙亥秋七月立秋日愚侄存寬拜手謹序</u></p>

<h1>自敘</h1>
<p>醫者意也。不得其意。則雖博極群書。而於醫茫然莫辨。得其意。則守古法而非苟同。變古法而非立異。引伸觸類。起斯人於阽危。躋生民於壽域也。余家世業岐黃。甫齠齡。即留心活人術。自靈素內雜。以迄張朱劉李亦既博聞強記矣。然往往見夫讀古人書。遵法奉行。卒多不驗。非古人之欺我也。蓋氣運不齊。方隅各異。稟賦懸殊。嗜好有別。後之人誦其詞而不能通其意。是以投劑寡效耳。余自顧樗櫟。豈能超出古人之範圍。第閱歷之餘。嘗與伯兄廣期。審脈論證。竊慨世之業此者。徒資殘編斷簡。亹亹而談。以欺世盜名。無怪乎坐而言者。不能起而行。於是酌古准今。凡夫外感內傷。務求至當。明其理。而不必泥其詞。會其神而不必襲其跡。著論若干首。寒必明其所以寒。熱必明其所以熱。虛實必明其所以虛實。且真中有假。假中有真。無不推詳曲盡豈敢自矜度越前賢哉。誠以書不盡言。言不盡意。古人不能以意告今人。今人當以意會古人也。蘇子云。藥雖進於醫手。方多傳於古人。苟無所本於前。安能有所述於後。然而善師者不陣。得魚者忘筌。得心應手。不違乎法而不拘乎法也。古人有知。應許我為知心。又何必膠柱鼓瑟。而後為善醫哉。夫子云。蓍之德圓而神。卦之德方以智。方智之中。具有圓神之妙。故曰會心錄。時</p>
<p><u>乾隆十九年歲次甲戌春王月上元之吉休寧汪文綺蘊谷氏識</u></p>

<h1>卷上</h1>

<h2>魂魄論</h2>
<p>朱子云。死則謂之魂魄。生則謂之精氣。天地公其德。謂之鬼神。魂者陽之神。魄者陰之神。所謂神者。以其主乎形氣也。故言魂魄。而神即在其中矣。人之形骸。魄也。形骸而能運動。亦魄也。夢寐變幻。魂也。聰慧靈通。神也。分而言之。氣足則生魂。魂為陽神。精足則生魄。魄為陰神。合而言之。精氣交。魂魄聚。其中藏有真神焉。主於心。而虛靈不昧。聰明知覺者也。若精氣衰。魂魄弱。真神漸昏。何也。本體常明。因氣血衰敗。則少生動之機。而神無所輔助。故本來面目斂矣。譬之於燈油與燈草即魄也。火即魂也。光芒四射即神也。油干火暗。光芒隱。魂之陽神。魄之陰神。中之真神皆散。僅存燈中之草。草即死魄耳。譬之於爐灰。炭即魄也。火即魂也。火之焰即神也。炭燼火熄焰滅。魂之陽神。魄之陰神。中之真神皆散。灰即死魄耳。人死軀殼存。亦死魄而已矣。但此真神與天地同休。如燈之光。爐之焰。人以為滅也。而不知燈復添油。爐復加炭。火焰依然。是滅者有相。而不滅者無相也。人死神無軀殼依附。魂魄無神依附。皆脫出虛空。魂魄猶有相。空則無主而飛散。散則莫知所之矣。神則絕無相。空亦無主。然散而實不散。不靈而靈機猶在。必借生人之氣血藏之。魂魄生而靈機動。是與燈中之光。爐中之焰無異矣。不觀小兒初生。亦一魄乎。形體未充。魄未壯也。無夢寐變幻。魂未聚也。無聰慧靈通。神未明也。精氣盛。魄則壯矣。魂則聚矣。神則靈矣。內經曰。精者身之本。又曰。氣內為實。人可不自愛惜哉。是以道家以精氣為實。借有形氣血。而養無形之神。釋家以自性不滅是實。不以氣血迷吾之性。性本空虛。無來無去。明心即見性。吾謂道家著實工夫。釋家從空會悟。明乎此。不第知魂隨神而往來。魄並精而出入。而生死機關。可以心會。作佛修仙。亦不外是矣。</p>
<p>魂魄之義。自大易有精氣為物。遊魂為變之言以後。經傳諸儒。各有議論發明。茲篇前段深合聖賢之理。後幅能闡道釋之微。</p>

<h2>審虛實</h2>
<p>經曰。五實死。五虛死。虛者固難補救。而實者亦多喪命。醫家詳辨之。庶虛實不致混淆。而投劑立效矣。蓋外感之實。邪氣實也。實中有真虛。正不勝邪。邪乘虛而內陷也。內傷之虛。根本虛也。虛中有假實。火熱為害。灼津液而耗血也。如傷寒有虛實矣。病在陽者多實。病在陰者多虛。腹痛有虛實矣。痛而拒按者多實。痛而喜按者多虛。咳嗽有虛實矣。鼻塞聲重者多實。痰血潮熱者多虛。虛實二字。乃諸症之大綱。舉三者而千萬症之虛實。亦瞭然於心目之間也。故風寒暑濕燥火之邪。或在表。或在裡。或在腑。必有所居而直指之。邪之實也。若無六淫之邪。而為病者。則惟情欲以傷內。勞倦以傷外。非實似實。及細審之。乃症之虛也。實實虛虛。安可不明其義耶。夫世人之病。百不一實。而世間之醫。百不一補。以新病為實似矣。而久病亦以為實也。以補不效為實似矣。而表散不應。猶以為實也。以外症為實似矣。而脈象空虛亦以為實也。是實而誤補邪增。尚可解救。虛而誤攻氣散。不可救藥。喜攻惡補之弊。其何以挽回哉。且實症易醫。虛症難療。真實易認。假實難辨。設內症寒熱面赤。舌乾口苦。牙宣鼻衄。頭痛心煩。大小便不利。脈來數大。或弦細急數。當此之際。莫不以芩連知柏之屬清火為先。豈知陰不維陽。內臟水虧。無根之焰不斂。病勢危篤。明者急投六味湯壯水之主。八味湯益火之源。俾陰液生而陽火藏。精氣回而坎離交。庶可有救也。設外症壯熱不退。口渴不飲。煩燥不寧。大便不解。舌黑如墨。小便如血。兩脈虛數。或沉細而數。當此之時。莫不以白虎承氣湯為治。豈知陰盛隔陽。內真寒而外現假熱。危在頃刻。明者急用附子理中湯。或人參八味湯之屬。反佐從治。俾虛陽斂而陰寒現。真元復而外邪退。方可得生。又有二三候後潮熱肌瘦。人倦力怯。胸悶少食。口渴引飲。小便赤澀。大便秘結。不能起立。斯時莫不以病久大虛擬之。及診兩脈沉細有力而數。明者速進承氣湯一劑。大便通而邪解。精神旺而火除。庶可無虞也。不然。一七之投。誤人不淺。書不云乎。至虛有盛候。大實有羸狀。真假之別。非診脈之精。歷症之熟。未易窺其虛實。虛者用參耆而安。實者用膏連而起。視夫以實為虛。以虛為實者。不啻霄壤之隔矣。</p>
<p>病有虛實。有真假。闡發至此。可謂發前賢未發之秘。</p>
<p><u>附子理中湯</u></p>
<p>人參（三錢）　白朮（三錢炒）　炮姜（三錢）　川附子（三錢）　甘草（三錢炙）</p>
<p>每服八錢。水煎服。</p>
<p><u>人參八味湯</u></p>
<p>熟地（三錢）　山藥（三錢炒）　茯苓（一錢五分）　人參（一錢五分）　皮丹（一錢）　山萸肉（一錢）　川附子（一錢）　肉桂（一錢）　澤瀉（五分）</p>
<p><u>承氣湯</u></p>
<p>大黃（四兩）　芒硝（二合）　厚朴（半觔）　枳實（五枚）</p>
<p>上用水一斗。先煮厚朴枳實。取五升去渣。再入大黃。煮取二升。去渣。納芒硝。更上微火煮一二沸。候溫之。得下即止。不必盡劑。</p>
<p><u>六味湯</u></p>
<p>熟地（五錢）　山藥（二錢炒）　茯苓（一錢五分）　丹皮（一錢）　澤瀉（五分）　山萸肉（一錢）</p>
<p>水二鍾。煎七分。食遠服。</p>
<p><u>八味湯</u></p>
<p>即前六味湯。加附子肉桂各五分。水二鍾。煎七分。食遠服。</p>

<h2>知生死</h2>
<p>今夫氣聚則生。氣散則死。人生所賴。惟此氣也。醫寄死生。責任最重。若平日不能講究精微。臨症而吉凶莫辨。豈足謂之醫耶。經曰。陰精所奉其人壽。陽精所降其人夭。是精能生氣。氣能生神。古人言之鑿鑿。余亦何容嘵嘵。第生死機關。極難確認。新久輕重。更難分別。即以暴吐而死者。先言之平日無恙。忽然嘔吐。愈吐愈甚。點水不入。入則反出。大汗如雨。神識昏憒。手足厥冷。脈如懸絲。此脾胃本虧。孤陽離根。由胃而上。大吐不已。胃氣暴絕矣。有嘔血鬥余。或鮮或瘀。傾囊而出。冷汗如雨。手足如冰。元氣暴絕矣。有咳血如泉。急衝而上。內挾血塊。其大如拳。壅塞喉竅。吞之而上。送之血又至。咯之而結塊之血不出。氣道不通。真氣暴絕矣。有忽然泄瀉。晝夜不下數百行。飲食入口。隨即吐出。或已入胃。隨即瀉下。大汗氣促。神色改變。兩脈全無。脾腎暴絕矣。有忽然頭痛。漸不可忍。目定神昏。手足抽掣。譫語厥冷。脈非沉細如絲。即數大無倫。此平素精血內虧。腎中之虛陽直逆巔頂。陽氣暴絕矣。有房室之後。陰寒乘虛直中。小腹急痛不可耐。嘔酸苦味。喜曲喜按。漸致指甲青黑。手冷如冰。冷汗如雨。真陰真陽暴絕矣。有忽然卒中。五絕皆見。腎元敗而陰陽離。兩手無脈。大汗出而暴絕矣。有感受時令。二三日間。即傳厥少兩經。神昏目定。抽掣譫語。舌黑冷汗。正氣為邪所耗。陰液灼盡。五臟六腑暴絕矣。若久病而生者。何以見之。如咳嗽。吐血。寒熱等症。脈尚未數。飲食未減。河車丸以進。久服不輟。加之心靜神藏。善於內養。或半載。或一載。陰液漸回。諸症漸退。久病而生矣。腹脹如鼓。兩足及面皆浮。病在脾腎。尚未傳肺而變喘咳。惟口渴面赤。大便秘。脈數大。病在陰虧。宜壯水之主。如手足冷。大便瀉。脈細遲。病在陽虧。宜益火之原。服藥兩百日不斷。兼之養氣吞津。久病而生矣。痛痹在床。手足紅腫。叫喊不休。食飲減少。半載不能步履。或滋陰養血。或陰陽兩補。參地歸杞。久久服之。痛除腫消。久病而生矣。三陰瘧疾。延纏不已。或變陰虛而咳嗽。或變陽虛而浮腫。壯水益火。補脾生血。歸地參耆。河車鹿茸。合宜而用之。久病而生矣。婦人崩漏。淋漓不止。日久面黃氣浮。手足亦腫。腹中亦脹。飲食亦少。大便亦薄。脈息亦細。重進參耆。多投歸地。卻慮靜養。久病而生矣。以上數條。此其大略也。神而明之。因此可以識彼。是在醫者自勉之而已矣。雖然。醫之而生者。病有元氣也。醫之而不能生者。脈無胃氣也。病可醫而終於不能醫者。醫伐其氣也。人生之所賴。惟此氣而已。彼精之與神。不又即是而可推哉。</p>
<p>前提後束。中分二段。生死之機。了無遺義。</p>
<p><u>河車丸</u></p>
<p>河車一具（用甘草煎湯泡洗）　人參（一兩焙研）　山藥（四兩人乳拌蒸曬）　茯苓（三兩人乳拌蒸曬）</p>
<p>上為末。用黑棗十二兩。煮爛去皮核。搗為丸。每早開水下四錢。</p>
<p><u>活命湯</u>　治暴吐欲絕。急以此湯濃煎。徐徐飲之。隨吐隨飲。</p>
<p>人參（一錢或二三錢）　炙甘草（一錢）　製附子（一錢）　炮姜（一錢）</p>
<p>加炒陳米一撮。水煎服。</p>
<p><u>救元飲</u>　治嘔血鬥余。鮮瘀並出。急用此飲。</p>
<p>白朮（二錢土炒）　人參（二錢多加亦可）　炙甘草（一錢五分）　炮姜（一錢五分）　黃耆（三分炙）　當歸（三錢酒炒）</p>
<p>水煎服。</p>
<p><u>生脈散</u>　治咳血。真氣暴絕。急用此飲。</p>
<p>麥冬（三錢）　五味子（五分）　人參（二錢）</p>
<p>加童便一杯。水煎服。</p>
<p><u>附子理中湯</u>（見審虛實門）　治忽然泄瀉。不下數百行。飲食即吐。</p>
<p><u>八味地黃湯</u>（見中風門）　治忽然頭痛漸不可忍。目定神昏等症。</p>
<p><u>六味回陽煎</u>　治房室之後。陰寒乘虛。直中小腹等症。</p>
<p>熟地（三錢）　人參（二錢）　製附子（一錢）　白朮（一錢炒）　丁香（五分）</p>
<p>水煎服。</p>
<p><u>參附救生湯</u>　救忽然卒中。五絕皆見。</p>
<p>附子（二錢）　人參（三錢）　炒陳米（二錢）</p>
<p>加姜一片。水煎灌之。</p>
<p><u>六味參附湯</u>　治感受時疫。二三日即厥。神昏目定等症。</p>
<p>熟地（三錢）　生地（三錢）　人參（一錢）　當歸（二錢）　甘草（一錢）　附子（一錢）</p>
<p>加稻上露水。或荷葉上露水。煎服。</p>

<h2>中風</h2>
<p>竊怪中風一症。古法相傳。皆謂六淫之邪。外風之襲。藥投表散清涼。如三化續命愈風等湯。議論紛紜。訓示諄諄。後人守定此法。以為先賢必不我欺。豈料指鹿為馬。遵法奉行。藥下咽而即斃。嗚呼。何醫學之不明。而人心之愚昧如是耶。即一二有識之士。以類風辨之。以真風目之。然類風者。猶不離乎風。而有似於風。真風者。則實指為風。不能捨六淫之外。而又有所謂風也。今中風之症。其果六淫之風乎哉。又謂中風須分閉脫兩種。閉則有六經之症。脫則有五絕之險。夫脫為五絕之險是矣。而閉兼六經之症。亦不外仲景傷寒之所謂中風脈浮緩。自汗出而發熱也。今中風之症。其果仲景之所謂中風乎哉。蓋外風為陽邪。其中人也。必先皮毛而入。決不比陰寒之邪。不從陽經而直中三陰之速。設中屬外風之說。則當入傷寒一門。何必於傷寒之外。而又立中風之條。風邪最輕。從無直中傷人之患。何中風疾發有頃刻垂絕之危。仲景傷寒於中風症脈。言之極詳。何未聞將中病同發明於傷寒中風之內。以此辨之。則向之所謂風。為真風。謂症兼六經者。其何說之辭。況經謂虛邪偏客身半。未嘗雲實。營衛衰則真氣去。明是云虛。其言微。知可治。甚則不能言。不可治。從根本而驗生死。又何嘗言及外風與六經之形症耶。即言及外風者。亦不過外感之表邪。自有頭痛身痛寒熱之兼症耳。明張景岳直闢前人之誤。斷以非風之名。可謂發千古之未發。奈病家卒不知信。醫家卒不知從。旁人卒不知解。有令人讀是書而不禁三嘆者矣。夫風自內生。屬東方之木氣。氣動便是火。火動便是風。是氣也。火也。風也。分而言之。有三者之名。合而言之。則有一無二之別。且風亦不過氣之逆火之熾耳。並非氣之外而別有火。火之外而別有風也。第此火發於腎。虛多而實少。此風根於氣。陰虧而陽弱。是以中症之發。大約精血內虧。元氣內敗者。為此症之大旨。如虧在陰則虛火無制。虧在陽則真氣無根。當此之際。必有一股虛氣從腎中間。上挾脊。穿崑崙。過泥丸。直到命門。而三陰三陽之氣。突然而散。臟腑之氣。亦隨之而去。此所謂五絕之脫候也。若症之輕者。乃一半精氣未敗。尚可挽回於萬一。蘇後必半身不遂。經所謂偏枯之症者此也。其口眼歪斜者。筋無精血榮養也。其舌喑不能言者。脾腎元虧。不能上達舌本也。其口流涎沫者。脾虧不能攝津液。腎虧不能藏津液也。其口噤不開者。陽明之筋。虛火灼而勁急。真氣寒而拘攣也。治法五絕症見。宜用參附湯參朮湯。大補元煎之類。以救垂絕之危險。偏中症見。宜用地黃飲子八味生脈湯。六君子湯之類。以扶余生之歲月。脾腎大敗。宜用六君子湯。四君子湯。歸脾湯之類。以回中焦之穀氣。肝血大虧。宜用人參養營湯。歸芍地黃湯。八味生脈湯之類。以生肝木之汁少。倘內有燥熱。風火相煽。亦令人暴厥。雖古法有白虎之方。然不若壯水補陰為穩。蓋火之有餘。乃水之不足。陽之有餘。乃陰之不足也。噫。中年之後。始有是症。三旬以前。從無是患。形體豐肥。每遭此禍。質弱清癯。僅見此厄。不亦精血虧。真氣衰之明效大驗乎。倘庸醫必以外風強辨。試問此風何不及於幼少。而必及於老壯。少及於清癯。而多及於豐肥者。又將何說以解之耶。故臨川陳先生曰。治風先治血。血勝風自滅。旨哉言乎。</p>
<p>中風之論。隨方書所載。人云亦云。不幾誤乃公事乎。本經酌議洗盡謬說。方屬上工見解。後學遵而行之。陽春滿眼矣。</p>
<p><u>參附湯</u></p>
<p>人參（一兩）　川附子（五錢）</p>
<p>姜水煎服。</p>
<p><u>參朮湯</u></p>
<p>人參（二錢）　白朮（二錢炒）　黃耆（二錢炙）　陳皮（一錢）　白茯苓（一錢）　甘草（一錢炙）</p>
<p>水二鍾。煎八分。食遠服。</p>
<p><u>大補元煎</u></p>
<p>熟地（五錢）　人參（三錢）　山藥（二錢）　枸杞子（二錢）　杜仲（二錢）　當歸（二錢）　甘草（一錢炙）　山萸肉（一錢）</p>
<p>水二鍾。煎八分。食遠服。</p>
<p><u>地黃飲子</u></p>
<p>熟地　巴戟肉　山萸肉　肉蓯蓉（酒洗）　石斛　川附子　五味子　白茯苓　石菖蒲　肉桂　遠志肉　麥冬</p>
<p>上各等分。每服五錢。入薄荷少許。生薑同大棗煎服。</p>
<p><u>八味生脈湯</u></p>
<p>熟地（五錢）　人參（一二錢或五七錢）　麥冬（二錢）　山藥（一錢五分）　山萸肉（一錢五分）　丹皮（一錢）　茯苓（一錢）　肉桂（五分）　澤瀉（五分）　五味子（五分）　川附子（五分）</p>
<p>水二鍾。煎七分。食遠溫服。</p>
<p><u>四君子湯</u></p>
<p>人參（二錢）　白朮（二錢炒）　茯苓（二錢）　甘草（二錢炙）</p>
<p>加薑棗。水煎服。或加粳米百粒。</p>
<p><u>六君子湯</u></p>
<p>即四君加陳皮（一錢五分）　半夏（一錢五分）　或加鍋心焦（三錢）</p>
<p>如前煎服。</p>
<p><u>歸脾湯</u></p>
<p>人參（二錢）　白朮（二錢炒）　茯神（二錢）　棗仁（二錢）　黃耆（二錢炙）　當歸（一錢）　遠志（一錢）　木香（五分）　甘草（五分炙）　龍眼肉（七枚）</p>
<p>煎七分。食遠服。</p>
<p><u>人參養營湯</u></p>
<p>人參（一錢）　白朮（一錢炒）　黃耆（一錢炙）　白芍（一錢五分炒）　當歸（一錢）　陳皮（一錢）　肉桂（一錢）　甘草（一錢炙）　熟地（七分）　茯苓（七分）　遠志（五分）</p>
<p>加薑棗。水煎服。</p>
<p><u>歸芍地黃湯</u></p>
<p>熟地（五錢）　當歸（三錢）　山藥（二錢炒）　萸肉（一錢）　白芍（一錢五分炒）　茯苓（一錢五分）　丹皮（一錢）　澤瀉（五分）</p>
<p>水二鍾。煎七分。食遠服。</p>
<p><u>三化湯</u></p>
<p>厚朴（薑製）　大黃　枳實　姜活（各等分）</p>
<p>每服三兩。水三升。煎至一升。終日服。以微利即止。</p>
<p><u>金匱續命湯</u>　治中風肢體不收。口不能言。冒昧不知痛處。拘急不能轉側。並治伏不得臥。咳逆上氣。面目浮腫。</p>
<p>麻黃（去節）　人參　當歸　石膏　桂枝　川芎　乾薑　甘草（各三兩）</p>
<p>上九味。以水一斗。煮取四升。溫服一升。當小汗。薄覆脊。憑几坐。汗出即愈。不汗更服。無所禁忌。勿當風。</p>
<p><u>千金大續命湯</u>　即前方內去人參加黃芩。荊瀝元戎方用竹瀝。</p>
<p><u>小績命湯</u>（千金）　通治八風五痹痿厥等疾。以一歲為總。六經為別。春夏加石膏知母黃芩。秋冬加官桂附子芍藥。又於六經分別。藥內隨症細分加減。自古名醫。不能越此。</p>
<p>麻黃（去節）　人參（去蘆）　黃芩（去腐）　芍藥　甘草（炙）　川芎　杏仁（去皮尖炒）　防己　官桂（各一兩）　防風（一兩五錢）　附子（五錢炮去皮臍）</p>
<p>上除附子杏仁外為粗末。後入二味和勻。每服五錢。水一盞半。加姜五片。煎至一盞去渣。稍溫。食前服。</p>
<p><u>愈風湯</u>　治中風諸症。當服此藥以行通諸經。則大風悉去。縱有微邪。只從此藥加減而治之。若初覺風動。服此不致倒僕。此乃治未病之要藥也。</p>
<p>羌活　甘草　防風　當歸　蔓荊子　川芎　細辛　黃耆　地骨皮　獨活　秦艽　黃芩　芍藥　枳殼　人參　麻黃　白芷　甘菊　薄荷　枸杞子　知母（各三兩）　生地黃　蒼朮（各四兩）　肉桂（一兩）</p>
<p>上㕮咀。每服一兩。水二鍾。生薑三片。煎七分。空心臨臥服。空心一服吞下二丹丸。謂之重劑。臨臥一服吞下四白丹。謂之輕劑。假令一氣之微汗。用愈風湯三兩。加麻黃一兩。作四服。加姜七片。空心服。以粥投之。得微汗則佳。</p>
<p>便不通利。用愈風湯三兩。加大黃一兩。亦作四服。每服加生薑五七片。臨臥煎服。得利為度。</p>
<p>景岳曰。中風一症。病在血分。多屬肝經。肝主風水。故名中風。奈何自唐宋名家以來。竟以風字看重。遂多用表散之藥。不知凡病此者。悉由內傷。本無外感。既無外感。而治以發散。是速其危耳。若因其氣血留滯。而少佐辛溫。以通行經絡則可。若認風邪。而必用取汗以發散則不可。倘其中亦或有兼表邪而病者。則諸方亦不可廢。錄之亦以存古人之法耳。</p>

<h2>偏中</h2>
<p>偏風一症。名曰類中。類中者。有類於風。而實非風也。譬如樹木一邊葉枯。則不能灌溉而欣欣向榮。人身之四末。亦猶是也。經曰。虛邪偏客於身半。其入深者。內居營衛。營衛衰則真氣去。邪氣獨留。發為偏枯。可見內經謂邪為虛邪。而非外襲之風也明矣。蓋肝腎精虧。經脈失榮。血不運行。氣不貫通。氣血兩虛。不仁不用。是以脈中脈外。皆少生動之機。或左或右。無非氣血之敗。善醫者補腎生肝。掌得血而能握。足得血而能步矣。填實下元。腎氣回而經脈通。上達舌本。語不蹇澀矣。益氣生精。筋脈得血滋養。而營衛之氣不失常度。口無歪斜矣。培補脾土。為胃行其津液。灌溉四藏。口涎收攝矣。夫肝邪之為害。實由肝血之虧虛。血虛則燥。氣生而木從金化。風必隨之。血虛則火性烈。而津為熱灼。痰自生焉。治此者。當養血以除燥。則真陰復而假風自滅。補水以制火。則腎氣充而虛痰自化。補陽以生陰。則元陽回而水泛自消。風痰之藥。不可用斷斷如也。設也誤認內生之風。為外入之風。而竟以外風之藥進之。則枯者益枯。誤認內生之痰。非津化為痰。而竟以攻痰之藥進之。則虧者愈虧。誠如是也。則一邊之廢。已離恃其無虞。而耗氣敗血。勢必龍火無制。從命門丹田之間。直衝髓海。斯時五絕見而人事昏。大汗出而元神散。群醫皆曰。此復中也。不可救也。藥之誤也。真可畏也。噫晚矣。</p>
<p>透發內經營衛衰。則真氣去之旨。足以昭示來茲。</p>
<p><u>補腎生肝飲</u>　治肝腎精虧。經脈失榮。血不運行。氣不貫通。氣血兩虛。不仁不用。</p>
<p>當歸（二錢）　熟地（三錢）　白芍（二錢炒）　女貞子（二錢）　山藥（一錢五分炒）　人參（一錢）　枸杞子（一錢五分）　丹參（一錢）　炙甘草（一錢）</p>
<p>水二鍾。煎七分。食遠溫服。</p>

<h2>眩暈</h2>
<p>眩暈一症。有虛運火運痰運之不同。治失其要。鮮不誤人。醫家能審脈辨症。細心體會。斯病無遁情。而藥投有驗矣。曷言乎虛運也。如縱欲無節而傷陰。脫血過多而傷陰。癰膿大潰而傷陰。崩淋產後而傷陰。金石破傷失血。痛極而傷陰。老年精衰勞倦。日積而傷陰。大醉之後。濕熱相乘而傷陰。其症面赤耳熱。口乾不渴。煩躁不寐。寒熱往來。大便秘而小便赤。其脈或弦細而數。或弦大而數。或細澀而數。無非精血受虧。陰虛為病。蓋蒂固則真水閉藏。根搖則上虛眩僕。此陰虛之運也。如勞倦費神而傷陽。嘔吐過甚而傷陽。泄瀉無度而傷陽。大汗如雨而傷陽。悲哀痛楚。大呼大叫而傷陽。其症面色青慘。神倦氣乏。畏寒厥冷。身面浮氣。大便泄而小便清。其脈或沉細而微。或弦細而遲。或浮大而空。無非元陽被耗。氣虛為病。蓋稟厚則真火歸臟。臟虧則氣逆上奔。此陽虛之運也。治陰虛者。用六味歸芍湯。加人參之類。壯水之主。以生精血。治陽虧者。用八味養血湯。加人參之類。益火之源。以生元氣。所謂滋苗者。必灌其根也。曷言乎火運也。如房勞則火起於腎。暴怒則火起於肝。思慮則火起於脾。兩耳磬鳴。兩目昏黑。上重下輕。眩僕卒倒。脈象細弱。無非動亂勞擾。虛火為用。蓋火藏則清明內持。動擾則掉搖散亂。此虛火之運也。若實火眩暈者。其人必強健。其症必暴發。其渴必引飲。其脈必洪數。其嘔酸苦水之味。運稍定。其飲食寒冷之物運稍緩。其大便燥結。解後運稍止。無非風火相搏。實熱為害。蓋有餘則上盛而火炎。壅塞則火熾而旋轉。此實火之運也。治虛火者。宜六味湯。逍遙散之屬。滋陰以制火。舒肝以養脾。治實火者。宜三黃湯竹葉石膏湯之屬。清降以抑火。辛涼以瀉熱。所謂虛火可補。實火可瀉也。曷言乎痰運也。如水沸水泛。則痰起於腎。風火生涎。則痰起於肝。濕飲不行。則痰起於脾。頭重眼花。腦轉眩冒。倦怠嗜臥。食飲不甘。脈象緩滑。無非疲勞過度。虛痰為虛。蓋清升則濁陰下走。氣滯則津液不行。此虛痰之運也。若實痰眩暈者。其症實而脈實。其積熱在陽明。其阻塞在經絡。其鬱遏在腸間。無非風火結聚。積痰生災。蓋液凝則濁陰泛上。飲停則火逆上升。此實痰之運也。治虛痰者。宜六味八味歸脾之屬。補脾腎之原。治痰之本。治實痰者。宜二陳湯加芩連滾痰丸之屬。逐腸胃之熱。治痰之標。所謂實實虛虛。補不足而損有餘也。大抵虛運者。十之六七。兼痰火者。十之二三。即傷寒眩暈。雖有表散之法。亦多因汗吐下後。虛其上焦元氣所致。且今人氣稟薄弱。酒色不謹。肝腎虧而內傷劇。致眩暈大作。望其容。則精神昏倦也。聞其聲。則語言低微也。察其症。則自汗喘促也。切其脈。則懸懸如絲也。當此之時。須執一定之見。毋惑多歧之臆說。惟投參耆朮附重劑。多進庶可轉危為安。倘病家畏驟補而生疑。醫家見驟補而妄駁。旁人因驟補而物議。以虛症為實火。以參耆為砒毒。點滴不嘗。卒中之變。至危脫之象現。雖有智者。亦無如之何矣。豈不惜哉。</p>
<p>大呼大應。發明脈因症治之理。條分縷析。而又結出望聞問切之情。法精辭暢。氣象沉雄。直逼西漢大家。</p>
<p><u>六味歸芍湯</u>（見中風門）</p>
<p><u>八味養血湯</u></p>
<p>熟地（五錢）　當歸（三錢）　山藥（二錢炒）　肉桂（五分）　茯苓（一錢五分）　白芍（一錢五分炒）　附子（五分）　丹皮（一錢）　澤瀉（五分）　山萸肉（一錢）</p>
<p>水二鍾。煎七分。食遠服。</p>
<p><u>四君子湯</u>（見中風門）</p>
<p><u>八味生脈湯</u>（見中風門）</p>
<p><u>逍遙散</u></p>
<p>柴胡　當歸　白芍（炒）　白朮（炒）　茯苓　甘草（各等分）</p>
<p>上加生薑。水煎服。</p>
<p><u>六味湯</u>（見審虛實門）</p>
<p><u>三黃湯</u></p>
<p>黃連　黃柏　黃芩（各等分）</p>
<p>水二鍾。煎七分。食遠溫服。</p>
<p><u>竹葉石膏湯</u></p>
<p>石膏（一兩）　人參（三錢）　麥冬（三錢）　半夏（二錢）　甘草（二錢）　竹葉（二十片）　粳米（一撮）</p>
<p>此係今方分兩。非仲景舊法。　水二鍾。姜三片。煎服。</p>
<p><u>歸脾湯</u>（見中風門）</p>
<p><u>八味湯</u></p>
<p>熟地（五錢）　山藥（二錢炒）　茯苓（一錢五分）　丹皮（一錢）　澤瀉（五分）　山萸肉（一錢）　附子（五分）　肉桂（五分）</p>
<p>水二鍾。煎七分。食遠服。</p>
<p><u>二陳湯</u></p>
<p>茯苓（三錢）　陳皮（三錢）　半夏（三錢）　甘草（一錢）</p>
<p>上加姜三片。水煎服。</p>
<p><u>滾痰丸</u></p>
<p>青礞石（硝煅金色一兩）　大黃（酒蒸）　黃芩（各八兩）　沉香（五錢）</p>
<p>上為細末。滴水為丸。如梧桐子大。每服三五十丸。量人強弱加減。</p>
<p><u>補肝養榮湯</u>　治亡血血虛。眩暈心煩。如坐舟車。舉頭欲倒</p>
<p>當歸　川芎（各三分）　白芍（炒）　熟地　橘皮（各一錢五分）　菊花（一錢）　甘草（五分）</p>
<p>水煎服</p>
<p><u>益氣補腎湯</u>　治色欲傷腎。氣逆不能歸元。眩暈耳鳴耳聾。</p>
<p>人參　黃耆（各一錢二分蜜炙）　白朮（二錢土炒）　白茯苓（一錢）　炙甘草（五分）　山藥（炒）　山萸肉（各一錢五分）</p>
<p>加姜水煎。</p>
<p><u>羚羊角散</u>　治一切頭眩。</p>
<p>羚羊角　茯神（各二錢五分）　川芎　防風　白芷　半夏（湯洗各五錢）　枳殼　附子（各二錢五分）</p>
<p>共為細末。每服四錢。水一鍾。慢火煎七分溫服。</p>

<h2>燥症</h2>
<p>燥症何自而起哉。有外因者。六淫之一也。有內因者。血液之枯也。醫家往往誤治。不辨脈之虛實。症之新久。體之強弱。概以燥病為外邪。而藥投清涼剝削。無怪乎操刃殺人者矣。夫外因之燥。非雨露愆期。即秋日暴烈。非南方不毛。即北方風勁。氣偏陽亢而燥生。大約氣從皮毛而入者。則肺受之。肺受燥氣。咳嗽咽痛之症見矣。從口而入者。則胃受之。胃受燥氣。結胸便秘之症見矣。明喻嘉言謂秋傷於燥。冬生咳嗽。議論發前人之未發。而清燥一方。創自己意。可為治燥之靈丹。至於結胸便秘。世俗多以傷寒混治。不知燥則生火。津液耗而腸胃干。大小陷胸之法。利於體實。而不利於體虛者也。可不慎歟。若內傷之燥。本於腎水之虧。精血之弱。真陰之涸。在肺則清肅之令不行。咳逆口渴。皮聚毛落矣。在肝則將軍之性不斂。脅痛暴怒。筋急拘攣矣。在脾則生血之原不運。蓄瘀便結。皮膚不澤矣。欲治其燥。先貴乎潤。欲救其脾。先滋乎腎。誠以腎主水。而藏五臟六腑之精。養百骸而為性命之本。若腎陰足而及於肺。水道可以通調。腎陰足而及於肝。木氣可以向榮。腎陰足而及於脾。四及可以灌溉。燥無自而生也。第水日虧而火日熾。決非清涼之味所可療。必須重用六味歸芍湯。合生脈散為主治。肺燥則加沙參、天冬、梨汁之屬。肝燥則加丹參、棗仁、乳汁之屬。脾燥則加柏子仁、松子仁、甘蔗汁之屬此燥病之正治也。倘久病而氣因精虛。參、耆、河車及八味等湯。亦宜急投。蓋陰生則陰長。氣化則血潤。此燥病之反治也。雖然。草木之枯。得雨滋榮。人身之燥。非血不澤。參乳湯救燥病之根。活命飲治燥病之原。又何必紛紛而他求耶。經不云乎。諸澀枯涸。幹勁皴揭。皆屬於燥。又曰燥勝則乾。其為血液之涸。已明效大驗。如膈病之枯。胃之燥也。消病之渴。肺之燥也。爪甲之焦。筋之燥也。產後之痙。血之燥也。而敢謂治燥症為易易哉。庸醫必以此症為實。不惟清涼藥進。而反以燥藥治燥病。不亦犯內經剛與剛陽氣破散。陰乃消亡之旨乎。</p>
<p>燥則當潤。經義如是。得其肯綮。治燥之效。有不捷於影響乎。</p>
<p><u>清燥湯</u></p>
<p>桑葉（經霜者三錢）　石膏（煅二錢五分）　胡麻仁（一錢炒研）　甘草（一錢）　阿膠（八分）　人參（七分）　麥冬（七分）　杏仁（去皮尖炒黃七分）　枇杷葉（去毛蜜炙一片）</p>
<p>上九味。以水一碗。煎六分。頻頻二三次。滾熱服之。</p>
<p><u>六味歸芍湯</u>（見中風門）</p>
<p><u>八味湯</u>（見審虛實門）</p>
<p><u>生脈散</u>（見知生死門）</p>
<p><u>參乳湯</u></p>
<p>人參（一錢）　人乳（一杯）</p>
<p>不拘時服</p>
<p><u>活命飲</u></p>
<p>人參（二錢）　鍋焦（一兩）</p>
<p>水煎和參湯服。</p>
<p><u>滋燥養榮湯</u>　治外燥皮膚皴揭。筋爪枯焦。</p>
<p>當歸（三錢）　熟地（二錢）　白芍（一錢炒）　秦艽（一錢）　黃耆（一錢）　防風（八分）　甘草（五分）</p>
<p>水煎服。</p>
<p>肝血虛則風熱而金燥。故令皮膚皴揭而筋燥爪枯也。以當歸芍地滋潤榮血。而以艽防參草消風燥。</p>
<p><u>活血潤燥生津飲</u>　治內燥津液枯少。</p>
<p>當歸（一錢）　白芍（一錢炒）　熟地（一錢）　天冬（八分）　麥冬（八分）　栝蔞根（八分）　桃仁（八分爛研如泥）　紅花（五分）</p>
<p>水煎服</p>
<p>燥者。血液少而生也。歸芍地黃。沉陰可以養血。栝蔞二冬。甘寒可以生津。桃仁紅花。滋濡可以潤燥。</p>

<h2>濕症</h2>
<p>濕之為病。有外因內因之不同。有濕熱寒濕之各別。苟不辨表裡察虛實而求本施治。未有不誤人於反掌間者矣。如外因之濕也。有感天地之氣者。則雨露水土之屬。有中陰濕之氣者。則臥地濕衣之屬。多傷人皮肉筋脈者也。內因之濕也。有由於飲食者。則酒酪炙煿之屬。有由於停積者。則生冷瓜果之屬。多傷人臟腑腸胃者也。其見症也。在肌表則為發熱。為惡寒。為自汗。在經絡則為痹為重。為筋骨疼痛。為腰痛不能轉側。為四肢痿弱痠痛。在肌肉則為麻木。為胕腫。為黃疸。為按肉如泥不起。在臟腑則為嘔惡。為脹滿。為小水秘澀。為黃赤。為大便泄瀉。為後重㿗疝等症。然在外者為輕。在內者為重。及其甚也。則未有表濕而不連臟者。里濕而不連經者。此濕病之變。不為不多也。況濕從內生。多由氣血之虛。水不化氣。陰不從陽而然。即濕從外入。亦由邪之所湊。其氣必虛之故。若泥於治濕。不利小便。非其治之旨。而概以濕為實症。豈不誤施而犯虛虛之戒耶。夫濕從土化而分旺四季。故土近東南則火土合氣。而濕以化熱。如脈滑數。小便赤澀。大便秘結。引飲自汗者。方是熱症治法。宜清宜利。四苓散大小分清飲。茵陳飲之類主之。土近西北。則水土合德。而濕以化寒。如脈細遲。小便清白。大便泄利。身痛無汗者。方是寒症治法。宜溫宜燥。五苓散理中湯。金匱腎氣湯之類主之。大抵濕中有火。則濕熱薰蒸而停郁為熱。濕中無火。則濕氣不化而流聚為寒。且內濕之症。屬陰虛者。因濕生熱而陰愈虛。陰虛則精血內耗。而濕熱反羈留而不動。屬陽虛者。因濕化寒而陽愈虛。腸虛則真火內敗。而寒濕更積蓄而不消。是以醫家察脈。而確知其為陰虛生濕也。須用壯水補陰之品。則真水運行而邪濕必無所容。察脈而確知其為陽虛生濕也。須用益火補陽之藥。則陽氣流通。陰濕不攻而自走。可見內傷外感之症。皆由元氣虛弱。致濕邪內而發之。外而襲之。經曰。壯者。氣行則已。怯者著而為病。彼妄行攻擊。喜投推蕩者。安可不兢兢自慎哉。蓋脾元健運。則散精於肺。而膚腠堅固。外濕無由而入也。腎氣充實。則陰陽調和。而升降有度。內濕何自而生乎。不然者。徒知表汗燥濕。利二便之法。而不惜人元氣。將見腫脹泄瀉之症變。而議論更多臆說矣。</p>
<p>開鬼門。潔淨府。人以為確守經義。而不顧元氣。宜其人甚多而濕病之根難拔。先生卓見。自不雷同。</p>
<p><u>四苓散</u></p>
<p>澤瀉（一兩七錢五分）　豬苓　茯苓　白朮（炒各七錢五分）</p>
<p>古法為末。今法以水煎服。</p>
<p><u>五苓散</u></p>
<p>即前方減澤瀉五錢。加肉桂五錢。</p>
<p>古法為細末。每服二錢白湯調下。今法以水煎服。</p>
<p><u>大分清飲</u></p>
<p>梔子（炒焦）　豬苓（各四錢）　茯苓　澤瀉　木通（各二錢）　枳殼（一錢）　車前子（一錢）</p>
<p>水一鍾半。煎七八分。食遠溫服。</p>
<p><u>小分清飲</u></p>
<p>茯苓（三錢）　澤瀉（二錢）　苡仁（二錢）　豬苓（二錢）　枳殼（一錢）　厚朴（一錢）</p>
<p>水鍾半。煎八分。食遠服。</p>
<p><u>茵陳飲</u></p>
<p>茵陳　梔子（焦）　澤瀉　青皮（各三錢）　甘草（一錢）　甘菊花（二錢）</p>
<p>用水三四鍾。煎二鍾。不時陸續飲之。</p>
<p><u>理中湯</u></p>
<p>人參　白朮（炒）　炮姜　甘草（炙各一錢五分）</p>
<p>水煎服。</p>
<p><u>金匱腎氣湯</u></p>
<p>熟地（三錢）　茯苓（一錢五分）　山藥（一錢）　牛膝（一錢）　山萸肉（一錢）　車前子（一錢）　丹皮（八分）　澤瀉（五分）　附子（五分）　肉桂（五分）</p>
<p>水煎溫服。</p>

<h2>頭痛</h2>
<p>頭痛一症。病家視其微疾而輕忽之。醫家盡認傷寒而妄治之。藥投而病漸增。病增而藥愈亂。束手無策。待斃莫救。此辨之不可不早也。夫經言外感有頭痛。內傷亦有頭痛。豈容混治。而無所區別。第外感頭痛。有痛在陽經。有痛在陰經。如太陽。陽明。少陽。頭痛屬陽經。厥陰頭痛屬陰經。然其初發。必寒熱。其背必痠痛。其項必強痛。其目珠額前痛。其耳聾兩脅痛。其脈必緊數。其厥陰無身熱嘔而吐沫。若素無頭痛之患。而忽然暴發痛。兼表症。痛亦隱穩。及按之摩之。縛束之。而痛不定者。乃外感之頭痛。治在風池風府。調其陰陽。汗在表而散在巔。清在陽而溫在陰也。內傷頭痛。有痛在陰虛。有痛在陽虛。如火升巔頂作痛者。必煩躁內熱。面赤口渴。大便秘結。其脈必大數而空。或細數而弦。屬陰虛。如寒沖髓海作痛者。必羞明畏寒。手足厥冷。面多青慘。大便溏泄。其脈必細遲而微。或虛大無力屬陽虛。然其初發無寒熱。無急痛。不可忍。其精神必倦怠。其飲食必不甘。若素有頭痛之患。忽然暴發痛。無表症。陰分痛甚。及按之摩之。縛束之而痛稍緩者。乃內傷之頭痛。治在水火二臟。調其營衛。補真陰而益元陽。病在上而治在下也。夫六腑清陽之氣。五臟精華之血。皆會於頭。為至清至高之處。故為天象。謂之元首至尊。而不可犯者也。凡手之三陽。從手走頭。足之三陽。從頭走足。以為常度。則無頭痛之患。苟外因風寒霧露之觸。內因痰火濕熱之薰。及偏正頭風之症。雖痛不見殺人於數日之間。而殺人於數日之間者。則為內傷之真頭痛也。蓋腦為神藏。謂之泥丸宮。而精髓藏焉。人生精氣。實於下則髓海滿於上。精神內守。病安從來。無如以酒為漿。以妄為常。醉以入房。以欲竭其精。以耗散其真。致腎氣不充。而髓海空虛。腎陰不足。而陰火沖逆。腎陽不壯而寒氣通腦。醫者不達其故。復投羌防辛芷之屬溫之散之。夫既虧在陰矣。我又從而溫之。不益虧其真陰乎。既虧在陽矣。我又從而散之。不愈虧其真陽乎。無怪乎變症蜂起。痛極而厥。吾見神為之昏。目為之定。牙為之噤。舌為之黑。面為之戴陽。手足為之抽掣。語言為之譫妄。斯時真知其虧在陰也。則用六味歸芍湯。加人參童便之屬。壯水之主。以鎮陽光。真知其虧在陽也。則用八味養血湯。加人參鹿茸之屬。益火之原。以消陰翳。此症尤惟婦人血海空虛者。多有此患。安可不法內經精則養神。柔則養筋之旨。而以補元為汲汲耶。奈何庸碌之輩。不明肝腎為髓海之原。精氣為神藏之根。一見頭痛。概以傷寒目之。濕熱疑之。食滯謂之。人事清則日病在傷寒三陽經。人事昏則日病在傷寒厥陰經。及至病勢危篤。險症疊見。醫者尚引傷寒書需待用藥。不知病者竟以頭痛劇而頃刻亡。醫術不精。誤人性命。有令人不寒而慄者矣。夫痛在經者。輕而易治。痛在臟者。重而難療。若頭風而害目者。肝陰虧則內風動搖。邪害空竅。痛在經也。頭痛而昏憒者。腦藏傷則神志失守。心火不寧。痛在臟也。頭痛而痰厥者。陽虛則氣寒而飲聚。陰虛則火熾而液凝。經脈不行。陰陽之氣。不相順接也。頭痛而積熱在陽明。實火實痰為瘧。脈洪數大而有力者。則又利於清涼攻下也。頭痛而紅腫壯熱。口渴脈浮數而有力者。此大頭天行時熱之邪。宜從疫法治也。頭痛而手足寒。且青至節。脈懸懸欲絕者。此危脫之症。旦發夕死。夕發旦亡。不及藥治。藥亦不能治也。予因閱歷頭痛之害。病家之愚。醫藥之誤。傷人之速。故作是篇。敢謂後學之準繩。亦令其觸目警心。不敢以人命為兒戲耳。</p>
<p>頭痛一症。諸說紛紛。皆擇焉而不精。語焉而不詳。得此暢論。至言而群言可廢。</p>
<p><u>六味歸芍湯</u>（見中風門）</p>
<p><u>八味養血湯</u>（見眩暈門）</p>
<p><u>貞元飲</u></p>
<p>熟地（五錢）　當歸（三錢）　炙甘草（一錢）</p>
<p>水二鍾。煎服。</p>
<p><u>定痛明目飲</u>　治頭痛目生翳膜。紅腫如破。</p>
<p>生地（五錢）　龜版（三錢）　當歸（三錢）　白芍（一錢五分炒）　石斛（一錢）　丹皮（一錢）　菊花（一錢）　夏枯草（一錢）　羚羊角（水磨衝入）</p>
<p>加桑葉五片煎。好童便一杯衝入。</p>
<p><u>救元補髓湯</u>　治頭痛昏憒。心主不明。則十二官危。此方救之。</p>
<p>熟地（五錢）　人參（三錢）　當歸（三錢）　紫河車（一錢）　茯苓（一錢）　麥冬（一錢五分）　棗仁（一錢五分炒研）　熟附（五分）　鹿茸（一錢）　五味子（七粒）</p>
<p>加桂圓肉五枚。水二鍾。煎服。</p>
<p><u>醒迷湯</u>　治頭痛厥逆。痰聚胞絡。目定口噤。手足冷過肘膝。陽氣虛寒者宜之。</p>
<p>人參（三錢）　白朮（二錢土炒）　當歸（三錢）　茯苓（一錢）　白芍（一錢炒）　半夏（一錢）　杜仲（二錢炒）　陳皮（八分）　棗仁（一錢炒研）　炙甘草（八分）　川附子（五分）</p>
<p>加大棗三枚。煨姜三片。水二鍾。煎服。</p>
<p><u>普濟消毒飲</u>　治大頭天行。紅腫壯熱。口渴脈有力等症。此方主之。</p>
<p>黃芩（五分酒炒）　黃連（一錢酒炒）　人參（一錢）　橘紅（五分）　元參（五分）　生甘草（一錢）　桔梗（一錢）　鼠黏子（八分炒）　柴胡（五分）　薄荷葉（六分）　連翹（八分）　板藍根（五分）　馬勃（五分）　升麻（七分）　白殭蠶（七分炒）</p>
<p>上為細末。半用湯調。時時服之。半用蜜丸噙化。服盡良愈。或加防風川芎當歸薄荷細辛。水二鍾。煎一鍾。食遠稍溫服。如大便鞕加酒蒸大黃一二錢以利之。或熱腫甚者。以砭針刺出其血。心悟云。體虛加人參五分。又云此症須用貝母。人中黃。荷葉為妙。發頤症倍柴胡丹皮。喉嚨腫痛。倍桔梗甘草。</p>
<p><u>既濟豁痰湯</u>　治頭痛厥逆。痰聚胞絡。目定口噤。手足冷不過肘膝。陰虛有火者宜之。</p>
<p>生地（三錢）　白芍（一錢炒）　茯神（三錢）　鉤藤（三錢）　丹皮（一錢五分）　當歸（二錢）　柏子仁（二錢）　棗仁（二錢炒研）　龜版（四錢）</p>
<p>竹瀝十匙。水二鍾。煎服。</p>

<h2>暑症</h2>
<p>今夫夏日烈烈。為太陽之亢氣。人觸之者。則生暑病。然有靜而得之者為陰暑。動而得之者為陽暑。症各不同。治法迥別。非古法香薷飲一方可以盡之也。陰暑症。富貴安逸之人多有之。因畏暑而貪涼。食瓜果而傷臟也。身貪涼者。內空虛而外寒乘之。食瓜果者。脾胃寒而吐利作焉。其症不壯熱。其口不渴飲。其脈或細弱。或虛大為辨。即脈虛身熱為傷暑者是也。陽暑症。藜藿勞苦之人多有之。因受暑而中熱。熱傷真陰。其症頭痛大熱。口渴大汗。其脈或洪大有力。或洪數有力為辨。即因於暑。體若燔炭。汗出而散者是也。陰暑者宜溫補。補中益氣湯。生脈散之屬。陽暑宜清熱。六一散之屬。受熱而體虛者。六味湯之屬。為合法也。蓋暑熱傷氣。益氣而暑自消。暑熱傷陰。益陰而暑自退。值此陽氣外泄之時。毛竅疏通。暑氣易入。不救本源。而從事於攻邪。真不明邪之所湊。其氣必虛之旨耳。</p>
<p>陰暑陽暑。辨別極清。益氣益陰。治法尤妙。</p>
<p><u>補中益氣湯</u></p>
<p>黃耆（炙一錢五分）　人參（一錢五分）　甘草（炙一錢五分）　當歸（一錢）　白朮（一錢五分炒）　陳皮（五分）　升麻（三分）　柴胡（三分）</p>
<p>加薑棗。水煎服。</p>
<p><u>生脈散</u>（見知生死門）</p>
<p><u>六一散</u></p>
<p>滑石（水飛細六兩）　甘草（一兩）</p>
<p>共為細末。每用五錢。新汲水調服。</p>
<p><u>六味湯</u>（見審虛實門）</p>
<p><u>八味湯</u>（見審虛實門）</p>
<p><u>香薷飲</u>　治一切暑熱腹痛。或霍亂吐利。心煩等症。按此方惟治陽暑。陰暑不用。</p>
<p>香薷（一斤）　厚朴（姜水炒）　白扁豆（各半斤炒）</p>
<p>每服五錢。水一鍾半。煎八分。不拘時溫服。</p>
<p><u>五物香薷飲</u>　治一切暑毒腹痛。霍亂吐瀉。或頭痛昏憒等症。</p>
<p>香薷　茯苓　白扁豆（炒）　厚朴（薑汁炒）　炙甘草（各一兩）</p>
<p>上為咀㕮。水一鍾半。煎服。本方加黃連即名黃連香薷飲。</p>
<p><u>十味香薷飲</u>　治伏暑身體倦怠。神昏頭重吐瀉等症。</p>
<p>香薷（二錢）　人參　黃耆（蜜炙）　白朮（土炒）　茯苓　陳皮　厚朴（薑汁炒）　白扁豆（各一錢炒）　木瓜　炙甘草（各五分）</p>
<p>水一鍾。煎七分。食遠服。</p>

<h2>喘症</h2>
<p>喘者息促。氣急不能平臥也。外感邪入而為喘。屬肺受風寒。其來暴。其脈實。其人強壯。數日之間。忽然壅氣。喘咳不得平臥者是也。如近日哮病居多。乃肺金一經受病。藥宜甘梗湯加減。此屬實喘也。若內傷無外邪中入。乃肺腎受病作喘。其來漸。其脈虛。其人倦怠。或因病後。或因咳久而喘促漸甚。不得平臥者是也。如近日大富羸病。乃腎元虧損。腎氣不納而上出於肺。肺為門戶而主氣。腎氣上衝。肺不能主。出多入少。又肺葉脹大。不能收斂。臥則葉向脊。上阻塞氣道之路。喘咳更甚矣。此屬虛喘也。治宜大補肺腎之原。第內傷之喘。有陰虛陽虛之異。如面赤口渴。大便秘屬陰虛。如面㿠白。口不渴。大便泄。手足冷屬陽虛。陰虛者。六味地黃湯加減。如麥冬沙參苡仁玉竹阿膠童便之屬。皆為合法。陽虛者。八味地黃湯加減。如人參紫河車枸杞子菟絲子杜仲鹿角膠之屬。皆為合法也。然陰虛作喘而補陰是矣。第陰中有陽。服六味湯多劑不應。則又加人參枸杞子菟絲子杜仲河車之屬。取陰陽互根之義也。陽虛作喘而補陽是矣。第陽中有陰。服八味湯多劑不應。則又加沙參麥冬玉竹童便之屬。取陰陽相濟之義也。治病貴乎貫通。聞一知十。神而明之。存乎其人矣。</p>
<p>陰陽互根。相濟之義。發喘症未發之蘊。</p>
<p><u>甘桔湯</u></p>
<p>桔梗（四錢）　甘草（二錢）</p>
<p>水二鍾。煎八分。食後服。</p>
<p><u>六味湯</u>（見審虛實門）</p>
<p>八味湯（見審虛實門）</p>

<h2>咳嗽</h2>
<p>咳嗽一症。有外感內傷之分。有陰陽虛實之別。醫家症脈不察。混治誤人。而概以表散風寒之說。盡咳嗽之治法。合病家之意見者。比比皆是也。豈不有愧司命之責乎。夫外感之咳。因偶受風寒。由皮毛而入肺。其症或頭痛而身痛。或惡寒而發熱。或鼻塞而聲重。或鼻涕而氣急。其脈或浮大而緊。或弦大而數。及素無積勞虛咳之症。而忽病咳不已者。即外感之症也。治法宜用甘梗湯升發肺氣。使邪從外達。疏通肌腠。使熱從表散。此治外感咳嗽之法也。第人生氣稟薄弱者居多。腎水不足者居半。肌表空虛。風邪易入。醫家不明邪之所湊。其氣必虛之理。非投麻桂羌芷。即用細辛荊防。嘗謂人曰。肺欲辛以辛瀉之。此內經之旨也。閉門留寇。寇欲出而無路。致穿窬而走。此醫家之忌也。於是堅執逐寇之法。久進表汗之劑。不知肺屬嬌臟。又屬燥金。升提則傷氣。辛香則耗液。咳血漸熱之症見。而往往症變虛損者多矣。故余治外感初咳。先用甘桔湯數劑。即進六味湯加減。壯腎水以清肺熱。補正氣以退客邪。屢用屢效。萬舉萬當。非故與俗見相反。而嗜好滋補。亦為生人之性命起見耳。內傷之咳。凡肝腎陰虛於下。而木火刑金者。其症或灑寒而潮熱。或形瘦而容減。或痰多而帶血。或氣短而喉干。其脈或弦大而空。或弦細而數。及素有酒色勞傷之患。而漸致咳嗽日增者。即內傷勞損陰虧之症也。治法宜六味湯補陰斂陽。使肺氣充實。補水保元。使虛火歸根。此治陰虧咳嗽之法也。又有元陽下虧。而水冷金寒者。其症或畏寒而喘促。或嘔惡而泄瀉。或水泛而痰冷。或腹脹而食減。其脈或細澀而微。或浮大而遲。及素有下元虛寒之患。而漸致咳嗽日甚者。即內傷陽虧勞損之症也。治法宜八味湯溫補真元。使生氣上布。填助真火。使陰寒冰消。此治陽虧咳嗽之法也。且內傷之咳。不獨肺金為病也。經謂腎脈從腎上貫肝膈。入肺中。循喉嚨。達舌本。所以肺金之虛。多由腎水之涸。而腎與肺。又屬子母之臟。呼吸相應。金水相生。苟陰損於下。陽孤於上。肺苦於燥。不咳不已。是咳雖在肺。而根實在腎也。司命者。其可不兢兢耶。奈何近日庸工。每遇內傷之咳。惟投清金之藥以為穩當。及變症百出。始委之莫救。蓋不知肺受他人之侮。我又從而侮之。肺金豈順王道之化乎。是以治咳而咳愈甚矣。雖然。更有說焉。脾為倉廩之官。後天之本。散精於肺。有生金之能。灌溉四旁。有益肺之力。若久咳而滋補無功。必須培養脾元。補母以及其子。先賢有言。補腎不如補脾。誠深知肺屬辛金。生於巳土。而歸脾四君之屬。所宜急進也。總之外感之咳。實中亦有虛。宜寓攻於補內。內傷之咳。虛中或挾實。宜補水兼清外感之咳。脈數易治。邪退則脈靜。內傷之咳。脈數難治。愈虛則愈數。至於疫後咳嗽。熱傷真陰也。瘧痢咳嗽。脾胃虧虛也。肺癰咳嗽。風寒外襲。積熱內發。而蓄有膿血也。肺痿咳嗽。金氣外泄。肺臟內損。病劇衰靡也。瘡閉咳嗽。皮毛之毒。內攻肺臟。肺受毒害也。支飲咳嗽。脾胃生痰。肺失治節。而清肅不行也。脹滿咳嗽。土不制水。浸潰入肺。而關門不利也。哮喘咳嗽。內有夙根。痰塞肺竅。而太陰屢困也。乾咳無痰。氣不生精。精不化氣。而津液枯涸也。種種咳嗽之症多端。調治之法各異。而察色按脈。分別施治者。尤必以補元氣為上策也。嗟夫。內外之咳。無非金燥生癢。虛實有辨。豈容混亂而誤施。有內經咳嗽論在。學者其可不盡心會悟乎哉。</p>
<p>今日治咳嗽者。在外感亦僅得其半。孰知肺腎相關。己土生金之理。惟此能闡明其奧。</p>
<p><u>甘桔湯</u>（見喘症門）</p>
<p><u>六味湯</u></p>
<p><u>八味湯</u>（見審虛實門）</p>
<p><u>歸脾湯</u></p>
<p><u>四君子湯</u>（見中風門）</p>

<h2>時氣咳嗽</h2>
<p>今夫天之雜氣有各種。人之感受有重輕。其來也無時。其著也無方。有觸之者。各隨其氣而為諸病焉。如秋冬之交。咳嗽一症。遍於四方。延門合戶。眾人相同者。此皆時行之氣。即雜氣為病也。其初起惡寒發熱。咳嗽咽乾。鼻塞聲重。頭痛身痛。脈浮而數。或細而數。醫家守五運六氣之說。謂此症為風寒所中。而用藥多不效。是亦不明氣之所至無時。所著無方。而混施誤人也。豈知寒熱之候。乃雜氣中之一種。較厲氣疫病為稍輕。認症不確。而治不合法。病安有不轉輕為重者哉。蓋肺屬太陰。居高位。而金體本燥。通腎氣而子母相生。惟腎陰素虧之輩。肺藏陰液必虛。堅剛之體。更多燥氣。加以秋冬令節。雨澤愆期。天之燥氣生而外入。肺之燥氣動而內發。兩相感召。熱則風生。肺金畏火。內則咳嗽之症見。肺主皮毛。外則寒熱之候作矣。治法甘桔湯加何首烏玉竹貝母黑豆枇杷葉麥冬桑葉丹皮地骨皮梨汁之屬。清肺熱而潤肺燥。俾外入之燥氣自解。內發之燥氣自平。若不明寒熱咳嗽之由。混投辛溫發散之藥。將見肺愈燥而愈咳。肺愈咳而愈喘。是所謂火上添油者矣。如進前藥不應。則用六味湯除山萸加麥冬沙參童便梨汁之屬。壯水保金。益陰退熱。無不立效。如體素陽虛。則用六味湯加枸杞杜仲炙甘草胡桃肉之屬。甘潤養陰。甘溫養陽。方為兩全。倘素有咳血之患。哮咳之疾。及產後老人病人。而忽感此症。表散妄用。則無有不喪命者也。嘉言喻氏。謂秋傷於燥。上逆而咳。發為痿厥。燥病之要。一言而終。只以誤傳燥病為傷濕而解者。競以燥病為濕病。遂至經旨不明。今一以論之。而燥病之機。了無余義。真獨開門戶。破千古之潰潰矣。夫天之燥氣入肺。金傷而受火刑。化剛為柔。燥極生癢。不咳不已。如以燥治燥。恬於操刃。曾不顧陰氣消亡之旨耶。內經曰。秋傷於燥。冬生咳嗽。又曰必先歲氣。毋伐天和。司命者。其可不知天時人事之理。而徒泥於辛甘發散之法。竟禍人於反掌間哉。</p>
<p>言言是理。字字是法。軒岐復生。不過是矣。藏之金匱可也。</p>
<p><u>甘桔湯</u>（見喘症門）</p>
<p><u>六味湯</u>（見審虛實門）</p>

<h2>吐血</h2>
<p>血也者。總統於心。藏受於肝。生化於脾。宣布於肺。施泄於腎。為七竅之靈。為四肢之用。為筋骨之柔和。為肌肉之豐盛。滋養五臟。而神魂得以安充。實皮膚而顏色得以潤調。和營衛而津液得以運行。二陰得以通暢。凡形質所在。無非以血為用。是一身百骸。表裡之屬。惟賴此血。以為生人立命之根者也。夫血屬陰精。本純靜而不動。必隨氣之轉動。而血亦運行而不息。如日月之麗天。而無所阻礙。如江河之行地。而無所壅塞。所謂氣如橐龠。血如波瀾。營行脈中。衛行脈外。陰陽和而水火藏。安有陽絡受傷。血從外溢之理哉。奈何膏粱之人。暴怒而傷肝陰。憂思而傷心脾。酒熱而傷腸胃。陰血無不受虧。惟色欲過度。損傷腎氣者為最劇。當此之時。真陽失守於陰分而無根。虛火浮泛於上。致營行遲而衛行疾。營血為衛氣所迫。而上逆肺竅。臟傷而血妄動。咳血咯血唾血之候見矣。即胃火熾盛。而血大吐。乃陽明之本病。固不待言。至若怒氣上逆而嘔血者。肝木之邪乘胃也。欲火上炎而嘔血者。火發原泉。陰邪之乘胃也。由此觀之。凡五志之火。皆能及胃而奔迫上衝。直出咽竅。腑傷而血妄溢。或暴吐而色鮮。或暴脫而色黯矣。蓋血出喉竅。逆行氣道。病雖在上。而根在下。病雖在肺。而源在腎。故趙氏謂咳嗽咯唾之血。皆少陰之火上奔。以子母相顧。金水相生。呼吸相應者。而盡屬腎病也。若血出咽竅。雖屬多氣多血之海。較臟血上溢。而殺人之烈者為稍輕。然氣血由此而虧。營氣由此而耗。穀氣由此而減。其能免虛虛之禍乎。是以醫家當審病情輕重。凡偶有所傷。而根本未搖者。輕而易治。內有所損。而症劇脈數者。重而難療。如肝腎陰虛。或為咯血。或為咳血。或為唾血。而脈靜芤大。或細弱微弦。惟用甘醇補陰。培養絡脈。使營氣漸回。而陰火歸根。如血久咳逆。陰虧已甚。而脈急浮大。或弦細緊數。雖投壯水益陰。培補肺腎。奈真元已敗。而臟損無救。如咯血過多。驟傷真陰。龍火不歸宅窟。斯時脈則微細無神。症則自汗喘促。聲則語言低微。此危急虛脫之險症。大進參地鹿茸附子童便之屬。回元氣於無何有之鄉。救真陽於將斷絕之時。所謂引火歸原。逆者從治。或冀回生於萬一也。如陽明積熱。吐血成塊。有火證火脈可據。治宜清火而血自安。犀角地黃湯主之。如怒動肝火。載血上逆。從胃而吐者。治宜平肝而血自安。加味逍遙散主之。如勞傷心脾。血走空竅。從胃而吐出者。治宜救本而血自安。歸脾湯主之。如飲灑過多。脾胃受傷。而血從胃出者。葛花解酲湯主之。如欲念妄動。腎火沖逆於胃。而血從胃出者。治宜壯水而血自安。六味地黃湯主之。如陽虛陰走。胃中脫瘀。陰分受虧者。宜補精以化氣。正元飲主之。陽分受虧者。宜補氣以生精。八味生脈湯主之。又嘗見暴吐失血。來如湧泉。垂危於頃刻者。速以補氣為主。蓋有形之血。不能驟生。無形之氣。所宜急固。但使氣不盡脫。則命猶可保。血漸可生。須用人參二兩為末。加飛羅面錢許調服。此正血脈益氣。陽生陰長之法也。大抵上逆之血。宜補水以制火。而寒涼不可輕投。宜補陽以生陰。而反治多有奇效。且土為萬物之母。有生化精血之能。胃為五臟之本。有灌溉一身之力。古人有言一切血症。須以四君胃藥收功。蓋深知陰血生於陽氣。而脾土健運。則中焦取汁變化為赤。司命者。其可不惓惓於東垣脾胃論而加之意哉。</p>
<p>失血之人。非有大損於臟腑。則血不易以至。斷未有真陰足而血妄動者。亦未有元氣充而血不攝者。惟深明陰陽之理。議論自突過前賢。</p>
<p><u>犀角地黃湯</u></p>
<p>生地　白芍（炒）　丹皮　犀角（鎊末極細各一錢五分）</p>
<p>上將上三味。水煎去渣。入犀角末服。</p>
<p><u>加味逍遙散</u></p>
<p>當歸（一錢）　白芍（一錢）　茯苓（一錢）　柴胡（一錢）　丹皮（五分）　梔子（薑汁炒黑五分）　甘草（五分炙）</p>
<p>上加生薑三片。水煎服。</p>
<p><u>歸脾湯</u>（見中風門）</p>
<p><u>葛花解酲湯</u></p>
<p>葛花（一錢）　豆蔻（一錢）　砂仁（一錢）　青皮（六分）　白朮（四分炒）　神麯（四分炒）　乾薑（四分）　人參（三分）　陳皮（三分）　茯苓（三分）　豬苓（三分）　澤瀉（四分）　木香（三分）</p>
<p>水二鍾。煎一鍾服。</p>
<p><u>六味地黃湯</u>（見審虛實門）</p>
<p><u>正元飲</u></p>
<p>熟地（七八錢甚者一二兩）　當歸（三錢）　甘草（二錢炙）</p>
<p>水二鍾。煎八分。溫服。</p>
<p><u>八味生脈湯</u></p>
<p><u>四君子湯</u>（俱見中風門）</p>

<h2>肺癰</h2>
<p>肺癰為病始萌之時。最易惑人。極難識認。醫家誤作風寒。見咳治咳。用藥不應。及醞釀成膿。傾囊吐出。方知肺內生癰。已為棘手之候。是亦未嘗察脈辨症。而竟以人命為草菅者也。蓋肺屬西方之位。為五臟之華蓋。內司呼吸。外充皮毛。其色白。其時秋。肺金獨旺於秋者。應其輕清之候也。倘有所克。其病自生。故患肺癰者。或因腠理不密。外邪所乘。而內感於肺。或因菸酒炙爆。內蘊積熱。而薰蒸於肺。其症惡寒發熱。咳嗽聲重。胸膈隱痛。鼻塞項強。氣血稽留。日久則鼻流清涕。咳唾膿血。腥穢稠濁。甚則胸脅脹滿。呼吸不利。其脈未潰之先。或浮緊而數。或洪大而數。既潰之後。或芤大而數。或弦細而數。初發宜甘桔湯。黑豆湯加減。解毒開提。已成宜百合固金湯加減滋水清金。潰後宜用六味湯加減補陰保肺。誠以清肺之熱。救肺之氣。則肺不致焦腐。其生乃全。蓋清一分肺熱。則存一分肺氣。而清熱必須散其火結。滌其壅遏。以分散其勢。於大腸令膿血濁沫。日漸下移。因勢利導。乃為不易之良法也。夫肺為嬌臟。屬太陰而體燥。必被火熱之毒內攻。致臟傷而膿血外泄。醫者不知益肺之虛。救肺之燥。生肺之液。反恣膽妄投燥熱之藥。其能堪此虛虛之禍。況難成易虧之陰。日為膿血剝削。而多氣少血之臟。勢必熇熇不救。且今日之人。入房太過。腎水素虛。而母病及子。化源益弱。咳嗽增而虛象現。由是肺喘生脹矣。聲出音啞矣。潮熱口渴矣。食少下泄矣。痰如米粥。肌瘦如柴矣。病勢至此。皆由醫學無傳。用藥誤治之明驗。而救治之法。舍參耆補氣。熟地補血。安能起垂危於萬一耶。大抵血熱則肉敗。營衛不行。必蓄為膿。是以金匱以通行營衛為第一義。而脾旺則生金。津液流行。痰嗽漸減。是以內經有欲治其子。先健其母之旨。薛氏云。脾土虧損。不能生肺金。肺金不能生腎水。故始成則可救。膿成則多死。苟能補脾肺。滋腎水。庶有生者。若耑攻其瘡。則脾胃益虛。鮮有不誤者矣。夫火熱為害。肺氣壅塞。須用升提之品。俾清虛之臟。毋致瘀滯而不通。成氣血暴喪。辛金受困。更宜補元之法。俾堅剛之體。全賴血液而潤枯。後之學者。於金匱肺癰論而熟讀之。則其治是症也。庶不致誤投於初病矣。</p>
<p>肺癰之症。初起難於辨別。既成拘於清熱解毒。千人一類。用開提補元。可為萬世之良法。</p>
<p><u>甘桔湯</u>（見喘症門）</p>
<p><u>黑豆湯</u></p>
<p>黑豆（二錢）　甘草（四錢）</p>
<p>水煎服。</p>
<p><u>甘草乾薑湯</u>　治咳嗽痰涎。咽燥而渴。肺經虛熱。</p>
<p>甘草（四兩炙）　乾薑（二兩炒）</p>
<p>上咀片。以水三升。煮取一升五合。分數次溫服。</p>
<p><u>百合固金湯</u></p>
<p>生地（二錢）　熟地（三錢）　麥冬（一錢五分）　貝母（一錢）　百合（一錢）　當歸（一錢）　白芍（一錢）　元參（八分）　桔梗（八分）</p>
<p>水二鍾。煎八分。食遠服。</p>

<h2>肺痿</h2>
<p>肺痿一症。金匱治法。非不彰明。奈混在肺癰一門。精意難解。然論脈條中。謂脈數虛者為肺痿。數實者為肺癰。虛實之辨。可謂詳悉。醫家能細心會悟。決不以肺痿之虛症。而誤作肺癰之實熱矣。夫肺為五臟之華蓋。其位至高。其質至清。內主乎氣。中主乎音。外司皮毛。人生血氣充足於內。水火互藏其根。斯嬌臟無畏火之炎。金水有相生之用。肺氣安得受克而痿弱不振者乎。無如先天之稟既虧。復又房勞不慎。戕賊真元。根本搖動。致腎水虧而相火熾。上薰肺金。金被火刑。觀其症則咳嗽失血矣。寒熱往來矣。盜汗側眠矣。音啞咽痛矣。上嘔而下泄矣。切其脈或浮大空數。或弦細而澀數矣。病勢至此。形體消削。咯吐瘀膿。色如桃花。或如米粥。此病劇而變肺痿之惡症。竟為百死一生之危候。醫藥難救。其奈之何哉。雖然。病固難救。而必欲立法以救之。則責在補腎水以鎮陰火。生津液以潤肺燥。更宜參耆河車之屬。填實下元。補真氣以通肺之小管。以復肺之清肅。所謂補其肺者益其氣。補其腎者益其精。庶可起垂危於萬一也。夫人身之氣。稟命於肺。肺氣清肅。則周身之氣。莫不服從而順行。肺氣壅濁。則周身之氣。易致橫逆而犯上。彼肺痿之形象。與肺癰似是而實非。肺痿發在病虛之後。肺癰發在無病之初也。肺痿咳白血而吐涎沫。肺癰則咳臭膿而胸脅痛也。肺痿人肌瘦而神倦。肺癰人體實而強壯也。肺痿病久。始灑寒而潮熱。肺癰初發。則毛聳而惡風也。肺痿脈芤數而無神。肺癰脈浮數而有力也。種種症脈。不同如是。是肺痿為虛。誤以肺癰治之。是為虛虛。肺癰為實。誤以肺痿治之。是為實實。實實虛虛。損不足而益有餘。如此而死者。醫殺之耳。余也察色按脈。分別虛實。審病情之吉凶。求此中之順逆。大約從外因而成肺癰者。急宜調治。雖肺傷而尚可補救。從內因而成肺痿者。多方培補。奈肺枯而百法難療。庸手不知仲景肺痿之論。虛實混治。兩症欠明。惟用金銀花清熱解毒。甘桔湯極力開提。喘咳痰鳴。危在旦夕。病家情急。遍閱方書。始知肺痿之症以告醫。醫家矇昧。學淺才疏。又誤認痿躄之候而著想。指鹿為馬。傷人性命。莫此為甚也。嗚呼。以堅剛之體。忽變衰靡之象。無非木火炎於上。君火灼於中。腎氣不相顧。土氣不相救。而陰液內耗。白血外溢。肺臟之真氣盡泄。金能保其全乎。自今以後。後學能知病之原。察病之情。熟讀仲景金匱方論。講究甘草乾姜等湯。悉心化裁。神明運用。於肺痿一症。思過半矣。</p>
<p>闡發脈因症治之理。已屬最上一乘。又想見作此論時。真有筆歌墨舞之樂。</p>
<p><u>人參養肺湯</u>　治咳吐痰涎。色白痿頓。脈大無力。肺虛之證。</p>
<p>人參（一錢五分）　白茯苓（一錢）　炙甘草（一錢）　黃耆（一錢，蜜炙）　阿膠（一錢）　五味子（二十粒）</p>
<p>水煎溫服。</p>
<p><u>甘草乾薑湯</u>（見肺癰門）</p>
<p><u>人參平肺湯</u></p>
<p>人參　天冬（各四錢）　橘紅（五錢）　知母（七分）　甘草　茯苓　地骨皮（各三錢）　桑白皮（一兩）</p>
<p>每服五錢。入姜水煎服。</p>

<h2>胎瘧並三日瘧</h2>
<p>按瘧疾一症。內經詳言之。先賢備述之矣。至於人生初次發瘧。則為胎虐。古人未有發明。患此者延纏難愈。輕則月餘。重則數月。或變虛咳。或變浮腫。多致喪命。即體實之人。亦成瘧母。為終身之患。是可憫也。蓋瘧乃暑邪。伏在募原之間。呆在少陽之界。不同傷寒溫疫傳裡之險。常發瘧者。數發之後。邪無所容。即從毛竅熟徑而出。霍然愈矣。若胎瘧之作。膜原忽被其耗擾。復又纏綿不已。氣血由此大虧。兼之隧道少疏通之機。毛竅非熟由之路。正愈虛而邪愈陷矣。予悟此理。初發投小柴胡湯加減數劑。陰虛者改用救陰補元之法。陽虛者改用溫養元陽之法。俱重加人參。俾營衛正氣大盛。則膜原流戀之邪。斯時急走隧道之間。肌腠雖非熟徑。而自有不能不出肌腠之勢矣。或問曰。胎瘧之故。既得聞命矣。乃三日瘧。尤難愈於胎瘧。抑又何也。余曰。膜原之界限。宜分陰陽淺深之不同。營衛之氣血。亦分陰陽盛衰之各異。在膜原之淺者。陽盛於陰。陽盛則正強而邪弱。隨衛氣出入。而瘧難久留。在膜原之深者。陰盛於陽。陰盛則邪勝而正弱。居營氣之間。而瘧多伏藏。所以邪中淺者。一日而作。邪中深者。間日而作。邪中極深者。間二日而作也。汪機云。三日一發者。非入於臟也。由氣血盛衰而然。氣血未補。未至於強健。已補強健。邪無容留矣。可見邪伏募原之深界。而離肌腠之路遠。須宜陽分肋氣之藥。加血藥引入陰分。方可掣起。如是則氣血大盛。邪不攻而自走。經所謂邪正不兩立也。或又問曰。募原之界。營衛之道。安有淺深盛衰之不同。子言得毋謬乎。余曰。經言邪氣內薄於五臟。橫連募原。其道遠。其氣深。其行遲。何得無淺深之分經言陰陽上下交爭。虛實更作。陽並於陰。則陰實而陽虛。陽盛則外熱。陰虛則內熱。何得無盛衰之別。但募原本是少陽表裡之界。營衛既分陰陽。而在表者。又屬陽中之陽。陽性動而行速。故邪出表易。在裡者又屬陰中之陰。陰性緩而行遲。故邪出表難。一遲一速。相拒交爭。而所發之時日不同矣。經曰。陰氣多而陽氣少。故其發日遠。陽氣多而陰氣少。則其發日近。又曰。其間二日者。邪氣與衛氣客於六腑。而有時相失不能相得。故休數日乃作。此之謂也。此症初發用補中益氣。合桂枝湯升其邪。陷於陰經。久發腎陰虛而瘧不止者。用六味合生脈散。以補其真水。久發腎陽虛而瘧不止者。用人參養營湯。八味湯以補其真火。久發脾胃虛而瘧不止者。用四君子湯。或六君子湯以補其脾土。總之此症本於根原內空。衛外之陽不密。邪有隙而可乘。惟重加參朮煎湯吞八味丸。久服自有神功。血虧甚者。加當歸。氣弱甚者。加黃耆。若陰虛火盛者。二母湯吞六味丸。或陰虛火盛而胃滯者。二母湯吞獨何丸。治瘧之法。不外乎是。舍此而他求。勢必變症百出矣。理從悟入。每遇病機。他人苦思之而不能得。即偶得之而格格不吐。一經悟思。偏出之亹亹。其神於醫理者乎。</p>

<h3>胎瘧</h3>
<p><u>小柴胡湯</u></p>
<p>人參（二兩）　柴胡（八兩）　半夏（半升）　黃芩（三兩）　生薑（二兩切片）　大棗（去核十二枚）　甘草（三兩炙）</p>
<p>上藥用水一斗二升。煮取二升去渣。再煎取三升。溫服一升。日進三服。</p>

<h3>三日瘧</h3>
<p><u>補中益氣湯</u>（見暑症門）</p>
<p><u>桂枝湯</u></p>
<p>桂枝（三兩去皮）　芍藥（三兩）　甘草（二兩炙）　生薑（三兩）　大棗（十二枚去核）</p>
<p>上用水七升。煮取三升。服一升。日三服。</p>
<p><u>六味湯</u></p>
<p><u>八味湯</u>（俱見眩暈門）</p>
<p><u>四君子湯</u></p>
<p><u>六君子湯</u></p>
<p><u>人參養營湯</u>（俱見中風門）</p>
<p><u>生脈散</u>（見燥症門）</p>
<p><u>二母湯</u></p>
<p>知母　貝母（各等分）</p>
<p>水煎服。</p>
<p><u>獨何丸</u></p>
<p>何首烏（黑豆拌蒸）</p>
<p>為末。煉蜜丸。如梧桐子大。每早滾湯下四錢。</p>

<h2>痢症</h2>
<p>愚按痢疾一症。非六淫之邪所感。瓜果生冷所傷。而後始有此患也。余嘗觀古法相傳。謂炎暑大行。相火司令。酷熱蓄積為痢。近日醫家。皆宗其說。不知暑乃六淫之一。中暑而發熱者有之。受暑而發瘧者有之。與痢症毫無關涉。醫用其法者。往往取效少而傷人多。夫痢症即時疫中濁邪中下。名曰渾者是也。邪毒入胃脘之上焦。則浮越於肌表。而惡寒發熱。邪毒中胃脘之下焦。而走入大小腸。則剝脂膏之膿血。而後重裡急。邪毒出肌表。由三陽而傳入三陰。入里殺人。邪毒在腸臟。致惡飲食而敗脾胃。絕谷殺人。若下痢而兼寒熱者。殺人尤速。此疫邪入胃之不同。而見症之各別也。蓋天地不正之雜氣。種種不一。而痢症疾速。亦雜氣所鍾。病遍於四方。延門闔戶。一人病此。人人亦病。此始也感受於天。繼也傳染於人。其為氣所感召。已明驗矣。且經不云乎。夏傷於暑。秋為痎瘧。未見傳染也。因於暑。煩則喘喝。靜則多言。未見傳染也。脈虛身熱。得之傷暑。未見傳染也。而痢疾之傳染。益信暑熱之無與。況雜氣所著無方。或發於城市。或發於村落。他處安然。無有雜氣之所發無定。或村落中偶有一二所發。或一年中竟無一人所感。而暑熱則每歲時之所必有。瓜果每夏秋之所必熟。何值此痢疾不發之年。雖暑熱酷烈。瓜果多食。卒未見滯下而廣行如此。則不辨而自明矣。而余謂疫邪作痢之說。亦不為無據矣。此症初治。宜用黃金湯解疫毒而救胃氣。繼用四君子湯扶脾土而補元氣。久則用八味加參湯。補真元而生土氣。經曰。腎為胃關。主二便而開竅於二陰者也。即體實受邪。於黃金湯中加黃連一味。無不捷應。若兜澀太早。休息久痢。邪在腸間。體實餘邪不下者。宜犀角地黃湯。或巴豆霜丸。體虛餘邪不下者。宜六味歸芍湯。或桂附八味丸。此治痢大略之法也。若症見膿血切膚。少腹必急痛也。赤白刮下脂膏有淺深也。裡急後重。或塞或熱而下迫。或氣虛而下陷也。口渴引飲。或液少而亡陰。或胃熱而火熾也。是以治痢之訣。要在虛實寒熱得其法。則萬無一失矣。第疫氣之來。有一無二。而人生稟賦不齊。虛實寒熱各殊。虛體受邪。則為虛痢。實體受邪。則為實痢。寒體受邪。則為寒利。熱體受邪。則為熱利。司命者其可不詳察歟。嗚呼。余曾見痢疾蜂起。醫者洋洋得意。謂家人婦子曰。滯下發矣。正吾技之擅長。可操必勝之術也。及其舉方。非檳樸之破氣。即承氣之攻下。未幾嘔惡惡食之變在先。冷汗呃逆之變在後。醫家至此而技窮。病家至此猶不悟。推其故也。緣誤認暑熱瓜果之利害。不明疫邪入腸之傷人。豈知疫痢之惡。能絕人之谷。削人之脂。損人之脾。傷人之胃。耗人之氣血。正氣為邪毒敗壞如是。而醫尚惓惓於香連。切切於承氣。極之不可救。而莫可如何也。籲。醫過矣。醫過矣。</p>
<p><u>自制黃金湯</u></p>
<p>黃土（五錢）　扁豆（四錢炒）　穀芽（二錢炒）　茯苓（一錢）　黑豆（三錢）　甘草（八分）　白芍（一錢五分炒）　生薑（三片）　金銀花（三錢）　五穀蟲（二錢炒研）　扁豆花（十枚）</p>
<p>水二鍾。煎八分。不拘時服。</p>
<p>立方精確。可為一百十四方矣。</p>
<p><u>四君子湯</u>（見中風門）</p>
<p><u>八味加參湯</u>（見審虛實門）</p>
<p><u>犀角地黃湯</u>（見吐血門）</p>
<p><u>巴豆霜丸</u></p>
<p>巴豆（去皮心研）</p>
<p>飯搗為丸。每次滾湯下四五粒</p>
<p><u>六味歸芍湯</u>（見中風門）</p>
<p><u>桂附八味丸</u>（見眩暈門）</p>

<h2>攣症</h2>
<p>愚按拘攣屬肝。肝主身之筋也。古書有風寒濕熱血虛之不同。然總不外亡血。筋無榮養。則盡之矣。蓋陰血受傷則血燥。血燥則筋失所滋。為拘為攣。勢所必至。又何待風寒濕熱相襲。而後謂之拘攣耶。且精血不虧。雖有邪干。亦決無筋脈拘急之病。而病至堅強。其枯可知。治此者。必先以氣血為主。若有微邪。亦不必治邪。氣血復而血脈行。邪自不能留。何足慮哉。內經曰。陽氣者。精則養神。柔則養筋。又曰。足受血而能步。掌受血而能握。指受血而能攝。此之謂也。</p>
<p>攣主血虛。一洗風寒濕熱之妄見。</p>
<p><u>養血舒筋湯</u>　治血虛不能榮筋而攣症作。</p>
<p>當歸（二錢）　白朮（二錢土炒）　茯苓（一錢）　沙參（一錢五分）　麥冬（一錢）　棗仁（一錢炒研）　牛膝（一錢）　苡仁（二錢）　丹參（二錢）　何首烏（二錢）</p>
<p>加桂圓肉五枚。水煎服。</p>

<h2>膈症</h2>
<p>愚按膈症。病在上焦。而其原實在下焦。飲食下咽。至膈不能直下。隨即吐出。乃賁門為病。血液乾枯。胃口收小。初病漿粥尚可入。病久飲食俱難下。蓋血液枯熇。津液不潤。凝結頑痰而阻塞胃脘者有之。氣結不行。血滯成瘀。而阻塞胃脘者有之。第賁門之熇。頑痰之聚。瘀血之阻者。皆由憂思過度則氣結。氣結則施化不行。酒色過度則傷陰。陰傷則精血耗竭。運守失職。而脾中之生意枯。五液無主。而胃中之津液涸。緣虛陽上泛。挾衝任二脈。直上陽明。賁門終日為火燔燎。迫之又迫。不熇不已。是以隔塞不通。食不得入矣。雖然。膈之食不得入為有火。與反胃之食久復出為無火。迥乎不同。而膈症之火。其根實發乎腎。若腎中水虧。不能攝伏陽光。而虛火不藏者。治宜壯水之主。從陰引陽。而焰光自斂。若腎中火虧。不能生化元氣。而龍火不歸者。治宜益火之源。補陽生陰。而真氣上升。如是則血液有生動之機。賁門有滋養之潤。胃司受納。而脾司傳化矣。夫酒色操心之輩。多有此症。為虛為實。不辨自明。若劉氏下以鹹寒之味。損胃尤烈。嚴氏分有五膈之名。惑人失從。不若養血益氣。以通腸胃。補陰助陽。以救本原。則大便潤而小便通。下既宣通。必無直犯清道。上衝賁門之患也。奈何學淺庸工。泥於氣結不行。阻礙道路之故。妄投辛香破氣。化痰清火之藥。謂病生於鬱結。而驟開之。或得效於頃刻。終必至於乾枯委頓而斃者。不可勝數也。張雞峰云。病在神思間。謂養其神。清其思。而後津液歸聚於胃中。庶能稍延歲月。病膈者。其可不達觀而返觀內照耶。余閱歷數十載。見年少者無此患。年老者有此症。其為氣血之虧。水火之弱。上焦之枯。腸胃之燥。已明效大驗。治此者不急急求脾腎根本而補救之。而反從事於開關詭異之法。以為捷徑也。以為得計也。以為理是也。噫。醫亦愚矣哉。</p>
<p>膈之因。本於陰陽之虛。自當補救根本。泥於氣結。投以破氣。去病遠矣。主此論以治膈。不有春回寒谷哉。</p>
<p><u>六味地黃湯</u></p>
<p><u>八味地黃湯</u>（俱見審虛實門）</p>
<p><u>通幽湯</u>　治幽門不通。上衝吸門。噎塞不開。氣不得下。大便艱難。名曰下脘不通。治在幽門。</p>
<p>當歸身　升麻　桃仁　紅花　甘草（炙各一錢）　生地黃　熟地黃（各一錢）　加麻子仁（三錢）</p>
<p>水煎服。</p>
<p><u>秘方</u>　治噎膈</p>
<p>童便　牛羊乳　韭汁　竹瀝　蜜　薑汁　甘蔗汁</p>
<p>和勻溫服。</p>
<p>又方　以手巾裹杵頭糠。時時拭齒。或括下杵頭糠。口內含之。</p>

<h2>盜汗</h2>
<p>盜汗者。乘人睡熟而出。意同盜賊之義也。蓋本原充實者。睡則神氣收斂於內。本元不足者。睡則神氣浮越於外。汗亦因之流溢。總之由陰不平。而陽不秘耳。夫寤寐皆由衛氣為主。晝行於陽。動則為寤。夜行於陰。靜則為寐。衛氣行里。則表中陽氣不致。平人營衛調和。雖毛竅開發。而津液內藏。若腎失閉藏之職。肝行疏泄之令。水虛而火炎。衛強而營弱。內熱蒸蒸。氣化汗泄。亦毛竅疏豁。有隙可乘也。寤則目張。行陰之氣復還於表。而肌腠秘密。汗欲出而無由矣。治法宜滋陰以榮內。益氣以衛外。薛氏云。腎氣虛弱。盜汗發熱者。用六味丸。腎氣虛乏。盜汗惡寒者。用八味丸。氣血俱虛。而盜汗者。用十全大補湯。陽盛陰虛者。用當歸六黃湯。傷寒盜汗。責在半表半裡。膽有熱也。用小柴胡湯。是在醫家運用變化之妙。而不得膠乎一定之則也。</p>
<p>寤則目張。行陰之氣復還於表數語。盡得盜汗之秘。</p>
<p><u>六味丸</u></p>
<p><u>八味丸</u>（見審虛實門）</p>
<p><u>十全大補湯</u></p>
<p>熟地（三錢）　當歸（三錢）　人參（二錢）　茯苓（二錢）　白朮（二錢炒）　白芍（二錢炒）　川芎（一錢）　肉桂（一錢）　黃耆（一錢炙）　甘草（一錢炙）</p>
<p>水二鍾。煎八分。食遠服。</p>
<p><u>當歸六黃湯</u></p>
<p>黃耆（二錢炙）　當歸（一錢）　生地（一錢）　熟地（一錢）　黃柏（五分）　黃連（五分）　黃芩（五分）</p>
<p>水煎服。</p>
<p><u>小柴胡湯</u>（見胎瘧並三瘧門）</p>

<h2>脈間止變喘滿症論</h2>
<p>今夫脈理精微。診切艱難。口不能言傳。指不能區別。求其得於心。應於手。識病情而知生死者。蓋亦寡矣。夫脈之原也。資始於腎。資生於胃。營行脈中。衛行脈外。脈不自行。隨氣而至。氣動脈應。十二經中。皆有動脈。不獨手太陰寸口一經。而診定生死。則必不外於手太陰寸口者何也。以此以屬肺主氣而司呼吸。五臟六腑之氣血。皆會於此。人一心晝夜。凡一萬三千五百息。脈行五十度周於身。營衛行陽二十五度。行陰亦二十五度為一周。故五十度復會手太陰寸口者。五臟六腑之所終始。故法取寸口也。是以診脈之法。有三部九候。一部中。有浮中沉三候。診有百五動。六部亦如之。往來不止者為無病人。而五十動有止者。又可以決生死而起垂危。切脈其可忽乎哉。脈訣謂間至有促代結之不同。有陰陽生死之各異。有痰積。有狂斑。有毒疽。有氣衰胎墮等候。要皆真元敗而氣血枯。無論其促代結之分。則二三十動之間。時間一止者。其離根尚淺。猶可延纏歲月。若三五動一止。二三動一止者。其離根已近。死期將至。其見症也。豈止如脈訣所云。痰積狂斑。毒疽胎墮等類者哉。余閱歷多載。切脈初知。見症頗多。大約三五動一止。二三動一止之脈。初病必氣短。間亦咳嗽。漸變面浮足腫。劇之則遍身浮氣。腹大囊腫。不得平臥。水泛為痰。穀食日減。已成不可救藥。而醫者曰。間止之脈。老人不為病。即病矣。亦不過。痰阻經絡。壅塞不通。不足為慮也。嗚呼。病家聞此說。即深信醫而任之專。醫家進此說。則大劑藥而攻之速。不知間止乃生死相關。攻伐驟進。氣血驟竭。可以計日而亡矣。夫脈以氣血為貫。間止則氣血不續。三五一間。二三一間。則氣血更不續矣。初病有氣短之驗。醫獨未之見乎。間止而變喘滿。醫獨未之聞乎。蓋此症由於肺腎。肺主諸氣。肺氣虛則喘咳。肺主皮毛。肺氣虛則浮腫。肺司呼吸。肺氣虛則脈不貫。肺主通調水道。肺氣虛則小便短少。溢於肌肉毛竅。水出而尤根源於腎。以腎為生氣之源。金水相生。子母之臟。內經曰。其本在腎。其末在肺。皆聚水也。即此之謂。且氣短在先。浮腫在後。為母傳子。即脈不間止。已屬逆症。況間止而先喘後滿。無胃氣者乎。縱有良醫。日投八味參耆之屬無益矣。經不又云乎。呼出心與肺。吸入腎與肝。脈隨呼吸。為性命之根蒂。生死之源頭。豈容間斷。庸手不悟。切脈艱難。而曰痰凝氣滯。老人不為病也。其信然耶。其不然耶。</p>

<h3>附案</h3>
<p>洪坑洪翰思先生。年七旬有二。己巳六月患背疽。疽愈後大便泄瀉。且有血。脈息沉細。三五至一間。至十二月漸變氣促咳嗽。遍身浮腫。腹大囊大。夜不能平臥。諸醫皆雲氣血凝滯。風邪未清。藥投幾脫。請餘一診。余辭不治。姑與參地河車之屬投之。半月足流黃水。氣消咳減。一月全瘳。惟間止之脈不退。延至五月復喘腫而卒。</p>
<p>脈至間止。無論結代。總屬不治。特有遲早之異耳。得此明論。顛撲不破。</p>
<p>而行文亦有韓蘇手意。那得不壓倒一時。（門人敏識）</p>
<p>兩儀煎　治肺腎虧虛。永息間止。</p>
<p>人參（一錢）　熟地（三錢）　陳米（五錢炒）</p>
<p>水煎服。或倍為丸。</p>

<h1>卷下</h1>

<h2>疫症</h2>
<p>疫病。是天地不正之異氣。四時皆有。能傳染於人。以氣感召。從口鼻而入。不比風寒。乃天地之正氣。從皮毛而入。不傳染於人者也。又與瘧相似。但瘧乃天地暑熱之正氣。呆在少陽一經。不傳染於人。寒熱各半。不比疫病。起始凜凜惡寒。繼而大熱晝夜不退。寅卯二時。是疫病交關之所。此時熱可暫退。過此又發大熱矣。疫病亦有間日發寒熱者。但發時寒短熱長。不呵欠。不鼓頷為異耳。醫家大病。概認作傷寒治。誤謂邪從毛竅而入。藥進羌防。以散太陽之邪。又謂為少陽陽明二經。藥進柴葛。以散少陽陽明之邪。不知疫從口鼻而入。多在募原少陽之界。亦在胃中陽明之腑。表散不惟疫不能解。反耗一身津液元氣。邪反乘虛入里。或傳少陰。或傳厥陰。人事昏沉。而元氣敗壞。血液耗灼。未有不死者矣。故余創立救陰解疫毒一方。初病即用。意謂先補正氣。正旺則內臟堅固。邪無由而入。陰回則津液內生。邪不攻而自走。張仲景建中湯之意也。且內有甘豆銀花黃泥之屬。解熱毒之邪於扶正之中。又何患熱不退。而病不痊耶。若其人本體素虛。服救陰而不效。則從而用八味以救陽。其人本體脾虛。服救陰而不效。則從而用補中異功之屬以救土。此又法之變也。</p>
<p>治疫妙法。創自己見。真闢地開天手也。先生屢治屢效。乾隆壬申歲。活人無算。立有醫案。其功偉哉。</p>
<p><u>新制救疫湯</u></p>
<p>黑豆（三錢）　綠豆（三錢）　白扁豆（三錢）　貝母（一錢）　甘草（一錢）　金銀花（二錢）　丹皮（一錢）　當歸（三錢）　玉竹（三錢）　老薑（三片）　大生何首烏（五錢）　黃泥（五錢泄瀉者當歸易丹參）　赤飯豆（三錢）</p>
<p><u>補中益氣湯</u>（見暑症門）</p>
<p><u>建中湯</u></p>
<p>膠飴（一升）　甘草（一兩炙）　桂枝（去皮三兩）　芍藥（六兩）　大棗（十二枚去核）　生薑（切片三兩）</p>
<p>水七升。煮三升。去渣。納膠飴。微火消解。溫服一升。日三服。嘔家不用建中。以甜故也。</p>
<p><u>異功散</u></p>
<p>人參（二錢）　白朮（二錢炒）　陳皮（一錢五分）　甘草（一錢炙）</p>
<p>加薑棗。水煎服。</p>
<p>新增醫案附後外。有歷年疫病危症醫案一集嗣刻。</p>
<p>程維新。年五十二歲。乾隆辛酉九月八日。忽然微寒發熱。醫用發表消導藥。熱不退。易醫用清涼之劑。不應。又易一醫診之。用達原散加黃連知母花粉之屬三劑。人事漸倦。寒不成寒。熱不成熱。小便如血。延余視之。診其六脈如絲舌白無苔。急進歸脾湯加減。寒熱始退。六脈方起神色方轉。飲食方進。再進數劑。霍然而愈。倘執脈伏為內熱未解。忌用補劑。仍投承氣下之。焉有生理。</p>
<p>余妾王氏。年二十四歲。乾隆乙丑八月十九日午間。忽惡寒發熱。診右關脈模糊鼓數。即服何首烏丹皮麥冬玉竹當歸白芍甘草黑豆貝母之屬。是夜發熱至天明。次早又進前藥。加丹參。地骨皮。午後又進第二劑。是夜壯熱到天明。早晨診脈仍數而無倫。舌白苔。說話帶硬。進六味湯加麥冬歸芍玉竹之屬服之。粥後余出外回。室人程氏告余曰。病者漸昏。譫語癡笑。呃逆。大便自遺。得毋傳經乎。余診之果入里也。急投人參二錢。和童便灌之。薄暮熱退。呃逆止。下利亦止。人事稍清。如是熱退者三日夜矣。至三日。又發熱如瘧。仍進前藥。延纏半月。寒熱漸退。未幾又變咳嗽。面浮喘而不得平臥。用六味合固金湯之意。加減不應。改用八味加減亦不效。事急矣。進大劑陰陽兩補之藥。如熟地、枸杞、人參、麥冬、菟絲之屬。服至八十餘劑。然後嗽止。氣消而愈。月事阻有半載方通。始終不服表藥。得以保全。附此為發表者戒。</p>
<p>小女年十四歲。乾隆癸酉七月二十六日下午。忽惡寒發熱。天明始退。是日余往歙西。更方回。因未服藥。次早診其脈。弦數而大。頭眩嘔吐。舌心焦黑。用何首烏、當歸、玉竹、黃泥、甘草、金銀花、黑豆之屬投之。至夜稍安。二十八日早。又大發熱而不惡寒，診脈仍數大。惟舌焦黑全退。頭眩嘔吐未止。於前方加參鬚一錢。服一刻。熱退其半。二十九日再進前藥。變瘧疾五發而痊。（汪蘊谷識）</p>

<h3>溫疫論</h3>
<p>時疫一症。何自而起哉。起於非其時而有其氣。是為天地之厲氣。是為不正之異氣。沿門排戶。傳染於頃刻之間。流散四方。殺人於數日之內。醫家不知疫毒之烈。而概以傷寒之法施治。無怪乎病愈急而藥愈亂。不死於病而死於醫。不死於醫。而死於聖經之遺亡也。夫厲氣之來。有從鼻而入者。則伏於募原。有從口而入者。則中於胃腑。其間體實而受邪者有之。體虛而受邪者有之。本熱而假寒者有之。本寒而假熱者有之。非可盡投膏黃。純用芩連。而專以丹溪河間為法者也。蓋時疫之初發。與傷寒似同而實異。時疫之傳變。與傷寒似異而實同。當其邪在三陽也。惡寒壯熱。頭痛身痛。口渴引飲。嘔吐下利。脈大而數。又可吳君立達原一方。乃驅邪離散直達巢穴之藥。白虎承氣。乃辛涼推蕩。清火逐邪之劑。惟壯實之體投之。可謂萬舉而萬全。倘遇內虛之輩。白虎失之過寒。承氣失之過攻。苟非神明變化。別會長沙公之秘旨。未有不誤人於反掌間者矣。至於邪陷三陰。臟氣受敵。其見症也。神昏目定。撮空捻指。譫妄舌黑。脈沉細而數。種種惡症疊出。吳君用仲景法。投承氣湯。非不盡善。第恐正弱邪強。證實脈虛之輩。當此邪傳三陰。元氣由邪熱而虧。胃氣由邪熱而耗。臟氣由邪熱而傷。不知變計。徒拘攻下一法。虛虛之戒。可不慎歟。獨是今日醫士。不究疫病之原。識病之情。僅以消散之品混治。至七八日間。忽然內陷。斯時既不敢用參附以回陽。又不敢用歸地以生陰。展轉思維。向病家言曰。與其委之莫救。不若復進膏黃芩連之屬。冀厥少回而疫邪解。未可知也。斯言也。強壯而脈實者耶。痞滿而燥實者耶。膏黃芩連之投。固其宜也。不然三陰之經。與臟氣相近。非察脈辨症。而藥味難投。其亦不知厥逆連臟之旨。而深長思矣。余兄廣期。謂疫病乃熱毒為害。治法以逐疫解毒為第一義。因設立乾一老人湯一方。除疫毒而退熱邪。正如喻氏所謂上焦如霧。升而逐之。兼以解毒。中焦如漚。疏而逐之。兼以解毒。下焦如瀆。決而逐之。兼以解毒之意同。而可稱為治疫之聖藥也。</p>
<p><u>乾一老人湯</u></p>
<p>黑豆（五錢）　甘草（三錢）　金銀花（五錢）　鮮黃土（五錢）</p>
<p>水煎服。</p>
<p><u>達原散</u>　治疫症初起。</p>
<p>檳榔（二錢）　厚朴（一錢）　草果仁（五分）　知母（一錢）　白芍（一錢炒）　黃芩（一錢）　甘草（五分）</p>
<p>水二鍾。煎八分。午後溫服。凡疫邪遊溢諸經。當隨經用引。以助升泄。如脅痛耳聾。寒熱嘔而口苦。此熱邪溢於少陽經也。本方加柴胡一錢。如腰背項痛。此邪熱溢於太陽經也。本方加羌活一錢。如目痛。眉稜骨痛。眼眶痛。鼻乾不眠。此邪熱溢於陽明經也。本方加乾葛一錢。</p>
<p><u>白虎湯</u>　治疫症脈長洪而數。大渴大汗。通身發熱。</p>
<p>石膏（一兩）　知母（五錢）　甘草（一兩）　炒陳米（一撮）</p>
<p>加姜煎服。</p>
<p><u>大承氣湯</u>　以下三承氣湯。惟熱邪傳裡。脈實症實者宜之體素虛寒。及未傳裡者禁用。</p>
<p>大黃（五錢）　厚朴（一錢）　枳實（一錢）　芒硝（三錢）</p>
<p>加姜煎服。弱人減半。邪微者各復減半。</p>
<p><u>小承氣湯</u></p>
<p>大黃（五錢）　厚朴（一錢）　枳實（一錢）</p>
<p>加姜煎服。</p>
<p><u>調胃承氣湯</u></p>
<p>大黃（五錢）　芒硝（二錢五分）　甘草（一錢）</p>
<p>加姜煎服。</p>
<p>按三承氣湯。功用彷彿。熱邪傳裡。但上焦痞滿宜小承氣湯。中有堅結者。加芒硝耎堅而潤燥。病久失下。雖無結糞。然黏膩極臭。惡物得芒硝大黃有盪滌之能。設無痞滿。惟存宿結。而有瘀熱者。調胃承氣宜之。三承氣功效俱在大黃。余皆治標之品也。不耐湯藥者。或嘔或畏。當為細末蜜丸湯下。</p>

<h2>黃疸</h2>
<p>發黃一症。有內傷陰陽之不同。外感傷寒時疫之各別。傷寒期十八日而始痊。時疫待陽明解而熱退。內傷之陽黃。熱濕鬱在胃也。而其原本於脾虛。內傷之陰黃。寒濕蓄在胃也。而其原本於腎虛。古人雖分有五疸之名。而要不外於脾腎。蓋脾氣旺則能散精於肺。通調水道。下輸膀胱。何熱鬱而生濕之有。腎氣壯則火能生脾土。而中州運行。何寒蓄而生濕之有。縱實體而受濕熱。雖進清利之品在先。亦必培土之味在後。而始收功也。余嘗治陽黃之症。大補脾陰之中。少加茵陳梔子。治陰黃之症。大補腎元之中。重加參朮炙耆。莫不應手取效。不然。徒知濕之可利。熱之可清。攻伐多進。脾元敗而腎元虧。中滿之症變。雖長沙復起。亦無如之何矣。又有疫病發黃。邪熱在陽明。脈數發熱。口渴引飲。大便秘結。小便赤澀。宜陳皮扁豆穀芽神麯黑豆甘草石斛麥冬赤茯苓何首烏車前子鮮黃土之屬。解疫毒而救脾胃。俾邪從陽明解而出表為順也。若其人平日脾腎素虛。雖邪熱在陽明。而脈細無力。人倦少神。冷汗自出。大便不實。小便黃赤。急宜參朮歸地脾腎兩救。庶不致內傳厥少。而有虛脫之險也。倘黃未退而瘀血先下。此陰絡已傷。土氣已壞。雖重進參朮。萬無生理者矣。蓋外感之黃熱解。而黃自消。內傷之黃元回。而黃始退。且外發體實者。投清涼可愈。內發元虧者。非補益不痊。經曰。中央黃色。入通於脾。如陰黃腎中元虧。胃氣不升。中央之地。失健運之常。脾之真色盡現於外。欲求其黃如羅裹雄黃也。不亦難哉。彼黃疸輩。兩目如金。久久不退。一以濕熱由此而現。一以真色。由此而泄。陽明主宗筋。諸脈皆屬於目。而上走空竅也。外此胃脘久痛。變為黃疸。此乃脾胃大虧。非內挾瘀血。即中藏痰飲。虛熱者救脾陰為急。虛寒者救胃陽為先。庶不致有脹滿之患矣。</p>
<p>闡發疸症。無一遺義。</p>
<p>上渡金嘉會。年三十七。平日嗜酒。己巳十一月。因食羊肉。又值夢泄之後。右脅急痛。數日不大便。始投破滯不應。繼用桂附不效。再進攻下丸藥。大便雖通而痛不止。適余在渠村中。邀去一診。兩脈細數。舌黑如墨。余曰。肝脾腎皆虧。內挾瘀血作痛。非停滯。非陰症。但先用破氣溫熱之劑。後用大攻大下之藥。是泥通則不痛之說。元氣受傷而誤投矣。治用扶脾養元。益血救腎之品。服下稍定。次日兩目及一身發黃。易醫不知內傷為害。反進分利清熱之藥。大下瘀血鬥許。呃逆而亡。蓋此症乃瘀血暴脫。陰絡受傷之故。其發黃者。血蓄於中。元氣不運。脾之真色盡現於外也。（自識）</p>
<p><u>理脾陰煎</u>　治陽黃之症。</p>
<p>南沙參（二錢）　白朮（二錢土炒）　茯苓（一錢）　山藥（一錢五分）　白扁豆（二錢炒）　陳皮（一錢）　甘草（五分）　茵陳（二分）　梔子（五分）　白芍（一錢炒）　苡仁（三錢）　穀芽（三錢炒）</p>
<p>水煎服。</p>
<p><u>培腎元煎</u>　治陰黃之症。</p>
<p>熟地（二錢）　當歸（二錢）　山藥（一錢）　枸杞（一錢）　附子（一錢）　白朮（一錢五分）　茯芩（一錢五分）　炙甘草（一錢）　炮姜（八分）　黃耆（一錢五分）　人參（一錢）</p>
<p>水煎服。</p>
<p><u>四君子湯</u></p>
<p><u>茵陳五苓散</u>　清濕熱利小便。</p>
<p>茵陳　豬苓　赤苓　白朮（土炒）　澤瀉（各二錢）</p>
<p>水煎服。</p>

<h2>消渴</h2>
<p>消渴一症。責在於下。腎水虧虛。則龍火無所留戀。而遊行於中上。在胃則善食易飢。在肺則口渴喜飲。亦有渴而不善食者。亦有善食而不渴者。亦有渴而亦善食者。火空則發是也。若火灼在下。耳輪焦而面黑。身半以下。肌肉盡削。小便所出。白濁如膏。較之上中二消為尤甚。亦有上中二消。而及於下消者。勿泥看也。治法壯水生津。制火保元。而尤惓惓於救脾胃。蓋水壯則火熄。土旺則精生。真火歸原。在上則肺不渴矣。在中則胃不飢矣。在下則肉不消矣。倘補陰之法不應。正治之法不效。不得不從反佐之法。益火之源。以消陰翳。而投八味救脾胃之藥。亦不可缺也。但白朮宜慎用耳。張景岳專以救腎為主。而進八味丸。謂枯禾得雨。生氣歸巔。必須腎中元氣薰蒸。津液生而精血旺。三消之症。方可漸愈。不然徒用白虎之方。暫解一時。多服寒涼。反能助火。真火自焚。五臟灼枯。肌肉受敵。絡脈不通。榮氣不從。逆於肉理。疽發而病不救矣。若其人壯實。脈洪有力。人參白虎。亦未嘗不可投。但在臨症者。神明變化耳。</p>
<p>培養元氣。俾薰蒸以生津液精血。愈三消之法。莫善於此。與古法用寒涼者。奚啻霄壤之隔。若實大在胃。第患口渴。即進茶湯。亦可解免。以此思消症豈白虎所能治者哉。</p>
<p><u>八味丸</u>（見審虛實門）</p>
<p><u>人參白虎湯</u></p>
<p>石膏（一觔打碎）　知母（六兩）　人參（三兩）　甘草（二兩）　粳米（六合）</p>
<p>上四味。以水一斗。煮米熟去渣。溫服一升。日一服。</p>
<p><u>丹溪方</u>　治胃熱善消水穀。</p>
<p>黃連　天花粉（等分為末）　生地汁　白花藕汁</p>
<p>二汁熬膏。入上藥末。和入牛乳薑汁。白蜜為膏。徐徐留於舌上。以白湯少許送下。</p>
<p><u>六味湯</u>（見審虛實門）</p>
<p>壯水之主。以鎮陽光。則渴飲不思。</p>
<p><u>易簡地黃飲子</u>　治消渴咽乾。面赤浮躁。</p>
<p>人參　生地　熟地　黃耆（蜜炙）　天冬　麥冬　澤瀉　石斛　枇杷葉（去毛蜜炙）　甘草（炒各等分）</p>
<p>上㕮咀。每三錢。水煎服。</p>
<p><u>忍冬丸</u>　治渴疾愈後。預防癰疽。</p>
<p>忍冬（根莖花葉皆可用）</p>
<p>上用米麴酒浸於瓶。糠火煨一宿取出。曬乾。入甘草少許為末。即以所浸酒和為丸。每服五十丸。酒飲任下。</p>

<h2>不寐</h2>
<p>不寐一症。責在營衛之偏勝。陰陽之離合。醫家於衛氣不得入陰之旨。而細心體會之。則治內虛不寐也。亦何難之有哉。夫衛氣晝行於陽二十五度而主寤。夜行於陰二十五度而主寐。平人夜臥之時。呵欠先之者。以陽引而升。陰引而降。陰陽升降。然後漸入睡鄉矣。若肝腎陰虧之輩。陽浮於上。營衛不交。神明之地。擾亂不寧。萬慮紛紜。卻之不去。由是上則兩顴赤。中則胃脘脹。下則小便數。而坐以待旦。欲求其目暝也。得乎。又嘗見初睡之時。忽然跳躍似驚而醒。醫以為心虛膽怯而始有此。孰知有大謬不然者。何也。緣陽升而陰降。陰陽交合。有造化自然之妙。奈營弱衛強。初入之時。契合淺而脫離快。升者復升。降者復降。形體之間。自不覺如有所墜。而斯時復寤矣。明乎此。則治陰虛不寐者。必須壯水之主。以鎮陽光。蓋水壯則火熄。心靜則神藏。乙癸同源。而藏魂之臟。亦無相火妄動之患。倘其人本體陽虛。虛陽浮越而不寐。又宜歸脾八味之屬。陰陽相濟。益火之源。蓋陽生則陰長。逆治則火藏而心神自安其位耳。至於外感時疫而不寐者。乃邪氣之耗擾。內傷停滯而不寐者。乃胃中之乖戾。更有喘咳不休。諸痛不止。瘧痢不愈。而不寐者。無非本症之累。及但治其受困之由。而無有不酣睡者矣。雖然。治外因者。投藥易治。內因者。投藥難效。先君子於陰不維陽。達旦不寐一症。專用純甘之味。加入犀角、羚羊角、龜板、虎睛、琥珀、龍齒、珍珠之屬。以物之靈。而引人之靈。兩相感召。神有憑依。誠法中之善者也。彼逍遙散之舒肝。補心丹之安神。溫膽湯之化痰。未為不善。是在用之者焉何如耳。</p>
<p>頭頭是道。言言入理。步步有法。至哉。</p>
<p>余夜夢同一道者談醫。於不寐症。猶記幾句云。火熄則氣平。心靜則神斂。營衛交而心腎通。萬慮消而魂魄藏。心依於息。息依於心。高枕安臥矣。醒時思之。覺衛氣不得交於陰之旨。確乎不易也。（乾隆庚午嘉平月自識）</p>
<p><u>歸脾湯</u>（見中風門）</p>
<p><u>天王補心丹</u></p>
<p>生地（四兩洗淨）　棗仁（一兩炒）　天冬（一兩炒）　麥冬（一兩炒）　當歸（一兩酒洗）　人參（五錢）　元參（五錢）　丹參（五錢炒）　茯神（五錢）　桔梗（五錢）　遠志（五錢炒）　石菖蒲（五錢）　柏子仁（一兩炒）　五味子（一兩炒）</p>
<p>煉蜜為丸。每兩分作十丸。金箔為衣。每服一丸。燈心棗湯下。食遠臨臥服。或分作小丸亦可。</p>
<p>類方</p>
<p>如前方內加酒炒黃連二兩。</p>
<p><u>八味湯</u>（見審虛實門）</p>
<p><u>逍遙散</u>（見眩暈門）</p>
<p><u>溫膽湯</u></p>
<p>陳皮　半夏（湯洗）　枳實　竹茹（各一錢）　生薑　甘草（四分炙）</p>
<p>上六味。水煎服。</p>
<p><u>酸酒湯</u>　治虛勞虛煩不寐。</p>
<p>酸棗仁（一兩炒研）　甘草（一錢）　知母（一錢）　茯苓（一錢）　川芎（二錢）</p>
<p>水二鍾。煎八分服。</p>
<p><u>鱉甲丸</u>　治四肢無力。膽虛不寐。</p>
<p>鱉甲（炙）　棗仁（炒研）　羌活　牛膝　黃耆（蜜炙）　人參　五味子（各等分）</p>
<p>上為細末。蜜丸梧子大。每服三錢。溫酒送下。</p>

<h2>胃脘痛</h2>
<p>胃與胞絡近。俗謂之心痛。非心痛也。真心痛則旦發夕死。夕發旦死。無藥可救者也。蓋陽明中土。乃水穀之道路。多氣多血運化精微。通於脾而灌溉四臟。為後天之本。胃不綦重矣哉。無如人生酒色過度。七情乖違。飢飽不節。胃脘因之而痛。有寒熱氣血。痰蟲食滯內虛之不同。治法雖各別。然總不外虛實寒熱氣血之間。細為之詳辨也。夫痛而虛者。必喜按。痛而實者。必拒按。寒痛者得溫稍定。熱痛者飲冷稍安。中焦寒則氣虛不運。或生痰飲者有之。或蓄瘀血者有之。或蛔蟲上逆者有之。中焦熱則氣阻不行。或吐酸味者有之。或吐苦汁者有之。或食停蛔動者有之。如真知其為虛寒痛也。則塞因塞用以補之。真知其為實熱痛也。則通因通用以瀉之。虛寒而挾食挾瘀。生痰生蟲者。以溫補藥中。消之逐之。實熱而挾食挾痰。吐蛔嘔酸者。以清涼藥中。攻之伐之。此治胃脘痛之成法也。倘神明變化。則存乎其人耳。雖然。胃間受病。人所易知。肝木凌脾。人亦易曉。苦男子肝腎虧。挾虛火而上逆。婦人衝任弱。挾肝陽而上升。多有胃脘作痛之症。醫家不察病原。不識病情。非投辛溫耗氣。即用清涼敗血。愈治愈甚。何其庸也。內經曰。衝脈起於氣街。並少陰之經。挾臍上行。至胸中而散。任脈起於中極。上毛際。循腹裡。上關元。至咽喉。可見胃脘之痛。有自下而上。由腎而胃。隱隱示人勿泥中焦為病也。何也。衝任二脈。與陽明之脈。兩相照應。衝任虛則鼓動陽明之火。結聚不散。而筋脈失榮。痛之所由生也。治法須填補真元。以生津液。導引元陽。以補真氣。如此治法。非膽大心小者。安能知此中之奧妙耶。又有肝陰久虧。肝葉枯燥。抵塞胃脘。痛不可耐者。法宜六味飲。乙癸同治。參乳湯氣血雙救。高鼓峰之論醫者。亦曾聞之乎。大抵肝主疏泄。鬱則木不舒而侮所不勝。腎為胃關。虛則精氣耗而累及中土。至於氣分有餘之痛。延胡香附有奇驗。不足之痛。人參桂附有殊功。血分有餘之痛。桃仁瓦楞可立應。不足之痛。當歸熟地亦取效。而敢云通則不痛者。盡病之情哉。丹溪曰。諸痛不宜補氣。此惟邪實氣滯者當避之。而曰諸痛皆然。吾不信也。外此有胃脘成癱。疼痛不休。食飲難入者。自必惡寒發熱。脈息芤數為別。症不多見。亦不易治也。</p>
<p>議論透闢。一線不亂。一筆不漏。</p>
<p><u>六味飲</u>（見審虛實門）</p>
<p><u>參乳湯</u>（見燥症門）</p>
<p><u>拈痛丸</u>　治九種心痛。</p>
<p>五靈脂（炒）　蓬朮（煨）　木香　當歸（各等分）</p>
<p>上為末。煉蜜為丸。如桐子大。橘皮煎湯送下。</p>

<h2>腫脹辨</h2>
<p>或問於余曰。腫與脹有辨乎。余曰。腫自腫。而脹自脹。不可不辨也。蓋氣血流行。臟腑調和。脈絡疏通。在外安得作腫。在內安得作脹。而為有病之軀耶。緣其人腎氣虛而失開闔之權。肺氣虛而失清肅之令。脾氣虛而失健運之常。表氣虛而外邪易入。於是在肌肉則腫生。在臟腑則脹生。現於外而自知其腫。人亦知其腫也。發於內而自知其脹。人不知其脹也。其腫脹之多端。虛實之各異。風寒濕熱。水蟲血食之各種。不詳悉言之。何以示後學而知所適從哉。夫風寒外入之腫。則為實症。如頭面之腫。發頤之腫。牙齦之腫之屬是也。濕熱外入之腫。多實而亦有虛症。如瘡瘍之腫。單腹之腫。痛痹之腫之屬是也。若氣水蟲血之腫。則有虛實兩症。如目下之腫。周身之腫。手足之腫。腹皮光亮之腫。腎囊腎莖之腫。腹有青筋紅筋之腫之屬是也。治法自有各門方藥。而以症合脈。為盡善也。然脹病則與腫病。迥乎不同矣。腎火衰微。中土虛寒。脾元不運而脹矣。水不生肝。木鬱不達。兩脅不和而脹矣。陰火灼肺。金氣膹郁。喘咳壅塞而脹矣。不特此也。又有濕熱在脾胃而脹矣。水飲在中脘而脹矣。瘀血在中焦。及蟲積在腸胃而脹矣。氣滯食阻。在陽明而脹矣。大小便不通。在少腹而脹矣。外風無脹病也。而脹病亦不一也。大抵腫有形。而脹無形。脹者腫之漸。內傷者居多。腫者脹之劇。外感者無與。內傷有脹。而亦有腫。外感有腫。而卻無脹。以虛脹而作實治。不腫不已。以實腫而作虛醫。雖脹無害。醫家務必以外腫內脹。確認親切。則腫自腫。而脹自脹。不有了然胸中者乎。安可不與子細辨之乎。</p>
<p>如剝蕉葉。如抽繭絲。名士名醫。兼而有之。</p>
<p><u>普濟消毒飲</u>（見頭痛）治風寒外入諸腫。察各症虛實加減用。</p>
<p><u>壯火溫脾湯</u>　治腎火衰微。中土虛寒。脾元不運而脹。</p>
<p>白朮（三錢土炒）　炙甘草（一錢）　山藥（二錢）　陳皮（八分）　芡實（二錢）　製附子（八分）　茯苓（一錢）</p>
<p>水煎服。</p>
<p><u>加味逍遙散</u>　治木鬱不達。兩脅不和而脹。</p>
<p>柴胡（七分）　薄荷（五分）　當歸（一錢）　白芍（一錢炒）　陳皮（七分）　甘草（五分）　茯苓（八分）　白朮（二錢土炒）　丹皮（一錢）　山梔（五分）</p>
<p>共為末。每服五錢。</p>
<p><u>熱鬱湯</u>　治陰人火灼。肺金氣膹郁喘咳。壅塞而脹。</p>
<p>熟地（三錢）　麥冬（二錢）　南沙參（二錢）　阿膠（一錢）　五味子（十粒）　胡桃（二枚打碎）</p>
<p>水二鍾。煎八分服。</p>
<p><u>燥濕消中飲</u>　治濕熱在脾胃而脹熱。因濕燥濕。而熱自除。</p>
<p>白朮（一錢五分土炒）　陳皮（一錢）　茯苓（一錢）　半夏（一錢）　苡仁（二錢炒）　白扁豆（一錢五分炒）</p>
<p>水煎。食後服。</p>
<p><u>小半夏湯加茯苓</u>　治水飲在中脘而脹。</p>
<p>半夏（五錢）　生薑（五錢）　茯苓（三錢）</p>
<p>加佛手三片。水煎。食遠服。</p>
<p><u>平中飲</u>　治瘀血在中焦作脹。</p>
<p>人參（一錢）　白朮（一錢五分）　丹參（二錢）　瓦楞子（一錢醋淬研碎）　桃仁（一錢）　炮姜（八分）</p>
<p>水煎服。</p>
<p><u>寬中安蟲丸</u>　治蟲積腸胃而脹。</p>
<p>使君子（二兩去殼）　陳皮（二兩）　乾薑（七錢煨）　檳榔（七錢）　烏梅（二十個）　木香（五錢）　南星（五錢薑製）</p>
<p>上研為細末。蜜丸。每晨砂糖水下。三四錢。</p>
<p><u>消胃飲</u>　治氣滯食阻。在陽明而作脹。</p>
<p>製半夏（一錢）　陳皮（一錢五分）　神麯（一錢）　厚朴（一錢姜炒）　萊菔子（一錢炒研）　穀芽（二錢炒）　砂仁（八分）</p>
<p>加煨姜二片。水煎服。</p>
<p><u>牡蠣炮姜散</u>　治寒秘。大小便不通。作脹。通二便則脹已。</p>
<p>牡蠣（一兩煅研）　炮薑末（一兩）</p>
<p>男病用女人唾津調。手內擦熱。緊掩二丸上。女病用男人唾津。緊調手內。擦熱緊掩二乳上。得汗愈。或內服半硫丸。</p>
<p>又方　治熱秘。大小便不通作脹。</p>
<p>取大田螺連殼打碎。入麝香少許貼臍上。以手揉挼之立通。內服涼膈散。</p>

<h2>脅痛</h2>
<p>今夫古書論脅痛一症。不徙責在肝膽。而他經亦累及之。有寒熱虛實之不同痰積瘀血之各異。支離繁碎。使後學漫無適從。而投劑不驗。無怪乎變症多端。傷人性命者多多矣。嘗考經旨謂肝脈挾胃絡膽。上貫膈。布脅肋。膽脈貫膈絡肝。循脅裡。其直者循胸過季脅。是兩脅之痛。皆屬肝膽為病。內傷者。不外氣血兩端。外感者。責在少陽一經而已。蓋肝為將軍之官。其性暴怒。非怫意交加。則憂鬱莫解。非酒色耗擾。則風寒外襲。痛之所由生也。使其人而虛寒也者。則內臟虧而痛矣。使其人而虛熱也者。則隧道塞而痛矣。使其人而實熱也者。或邪氣入而痛。或鬱火發而痛矣。痛在氣分者。治在氣。寒者溫之。虛者補之。熱者清之。實者泄之。血藥不宜用也。使其人而血虛也者。則肝少血養而痛矣。使其人而血熱也者。則木火內灼而痛矣。使其人而血分實熱也者。或邪在半表半裡而痛。或滿悶懼按多怒而痛矣。痛在血分者。治在血。血虛者以血藥補之。血熱者以陰藥滋之。血實者以苦藥通之。氣藥不宜用也。更有瘀血內蓄。痰飲內聚。及肥氣痞氣。皆屬有形之積。非益血則邪不退。即令氣寒而得此。亦宜補陽在先。補陰在後。陰陽兩補。痰瘀除而積聚消。脅痛豈有不愈者哉。雖然。操心者常有此症。房勞者每有此患。人多委之莫救。而藥投罔效者何也。醫家不明肝腎同源。精髓內空。相火易上之理也。故其用方。一味辛香行氣。冀其奏功。不知辛能通竅。香能耗血。肝病不已。復傳於肺。而咳嗽喘促。甚至血動。斯時有莫可如何者矣。是以初起確認為肝腎之病。宜乙癸合治。用六味加人乳河車之屬。以人補人。以血補血。俾水生而木榮。母實而子安。正治之法也。倘氣因精虛。宜用八味加人參河車之屬。陰中求陽。坎中生火。從治之法也。或者謂內傷脅痛。逍遙散乃不易之方。外感脅痛。小柴胡為必用之藥。有此二者。可以盡病之情乎。而猶未也。誠以法之運用無窮。方之變化無定。通因通用者。治肝邪之有餘。塞因塞用者。治肝臟之不足。而其間必以拒按喜按。探虛實之消息。喜溫喜冷。驗寒熱之假真。更以以脈之大小遲數。有力無力為辨。是在醫者神而明之。勿泥古法而不化也。且脅痛而及他臟者。亦有之矣。咳唾腥臭者。肺痛也。痛連胃脘。嘔吐酸味者。木凌脾也。痛而寒熱譫語。如見鬼狀者。婦人熱入血室也。舍氣血而何所補救哉。蓋甘可緩中。則木氣調達。自然右降而左升。和能平怒。則疏泄令行。漸次氣充而血潤。脅痛云乎哉。</p>
<p>以韓蘇之筆。寫軒岐之旨。那得不壓倒群英。</p>
<p><u>六味湯</u>（見審虛實門）</p>
<p><u>八味湯</u>（同上）</p>
<p><u>逍遙散</u>（見眩暈門）</p>
<p><u>小柴胡湯</u>（見肺痿並虛痿門）</p>

<h2>痹症</h2>
<p>痛痹一症。肝腎為病。筋脈失於榮養。虛火乘於經絡而紅腫疼痛。若腫痛不紅。得溫稍定者。又屬虛寒也。初起惡寒發熱。類於傷寒。多腫痛於四肢經絡之間。或左右移動。或上下游行。或脈大而數。或細而數。或細而遲。或細而澀。或大而空。醫家認作風寒濕三氣雜至之說。概以外邪為治。病勢漸增。陰液漸耗。虛虛之禍。有不可勝言者矣。蓋風自內動。濕熱內生者。屬陰虛而有火。表之清之。症變虛損者居多。寒自內發。寒濕內生者。屬陽虛而無火。表之消之。症變中風者居多。即令其人體實。果系外邪侵入。表散不應者。雖進大涼之藥。痛止而腫消。亦必用扶脾益血之品。以收後效。又有服熱藥太過。胃中蘊熱日深。筋脈不利。不能轉移。手足腫痛如錐。苦楚異狀。以陽明主宗筋。筋熱則四肢緩縱。痛歷關節而為熱痹也。醫家不知清熱降火。泥於風寒濕三氣雜至之說。非表散風寒。則溫經利濕。火上添油。愈服愈熱。其症口渴面赤。聲高叫喊。大便秘結。小便短赤。脈數大有力。或洪大有力。所謂歷節白虎風症。痛如虎齧也。治法宜黃芩黃連黃柏石膏生地知母元參之屬。清陽明之積熱。降有餘之實火。然後熱解筋舒。而痛方定。此種極少而慎治。不可不知而誤治也。雖然。內經有入臟者死。留連筋骨間者痛。久留皮膚間者易已之旨。足見內生之風寒濕三氣。鼓舞於經絡之中者。恐用攻表耗元之藥。而臟氣空虛真陰欲竭。外入之風寒濕三氣。鼓舞於經絡之中者。恐用攻表耗元之藥。而臟氣受敵。真陽欲脫。況痹者閉也。乃脈絡澀而少宣通之機。氣血凝而少流動之勢。治法非投壯水益陰。則宜補氣生陽。非急急於救肝腎。則惓惓於培補脾土。斯病退而根本不搖也。倘泥於三氣雜至。為必不可留之邪。而日從事於攻伐。是體實者安。而體虛者危矣。可不慎歟。</p>
<p>探本之論。與泥於風寒濕三氣之說者。有上下床之別。</p>
<p><u>六味湯</u></p>
<p><u>八味湯</u>（均見審虛實門）</p>
<p><u>十全大補湯</u>（見盜汗門）</p>
<p><u>四君子湯</u>（見中風門）</p>
<p><u>清熱定痛湯</u>　治脈數有力。歷節白虎痛風症。此方主之。</p>
<p>生地（三錢）　元參（一錢五分）　麥冬（二錢）　知母（一錢）　黃連（五錢）　石膏（二錢）　黃柏（五分）　黃耆（一錢，蜜炙）　甘草（五分）</p>
<p>加黑棗三枚。炒陳米五錢。水二杯。煎杯半。空心服。</p>

<h2>痿症</h2>
<p>痿症是肺熱葉焦。兩足軟弱而不任地。不痠痛。不紅腫。與痹症異也。肺氣熱則通陽明。陽明主宗筋。束骨利機關。陽明為熱所灼。而筋脈弛長。痿病大作。是陽明之熱。肺熱累及之也。下部屬肝腎。根由陰虧而髓空。火逆於肺。肺葉焦枯。金不生水。水益虧而火益熾。筋為熱灼。未有不痿躄者也。丹溪有東實西虛。瀉南補北之法。壯水之主。以鎮陽光。火歸窟宅。金不受火刑。而陽明亦無肺熱之氣乘之。宗筋柔和。機關可利耳。譬之弓逢暑月而力輕。逢寒月而力重。此症之筋痿。亦猶是也。痿手者少。痿足者多。痿而不咳。尚可延纏歲月。痿而咳嗽。虛損將成。死期近矣。愚更謂痿病之來。確在筋脈之間。肺熱葉焦。亦是肺葉之脈絡焦枯。不是肺臟焦枯。若是肺臟其葉已焦。火灼之甚。安有足痿在下。而肺金不咳嗽者乎。尚有十年不咳。而其人存者乎。難經曰。一損損於皮毛。皮聚而毛落。痿果肺臟葉枯。則身中毛髮盡皆敗落矣。何今日之痿病。獨有不然者邪。</p>
<p>發明肺熱葉焦之旨。真超前越後。得未曾有。</p>
<p><u>補北健行湯</u>　治痿症足不任地。真水不定。陽明為熱灼而小筋弛長。此方立效。</p>
<p>生地（三錢）　熟地（三錢）　茯苓（四錢）　丹皮（一錢）　龜版（三錢）　女貞子（二錢）　生苡仁（四錢）　南沙參（二錢）　丹參（一錢）　阿膠（二錢）　山藥（一錢五分）</p>
<p>水煎服。</p>

<h2>瘡閉</h2>
<p>瘡閉一症。古書不多見病者得之。十有九死。是為極危極重之候。宜醫家之所當辨者。何古人反未之言耶。及考之各方書。惟王肯堂先生有云。患生瘡用干藥太早。致遍身腫。宜消風敗毒散。若大便不通。升麻和氣飲。若大便如常。或自利。當導其氣。自小便出。宜五皮飲和生料五苓散。若腹腫只在下。宜除濕湯和生料五苓散。加木瓜如澤瀉之數。如此治法。亦皆治標而不求其本也。夫瘡之生也。由於風濕熱毒中於皮毛。不時而癢。愈癢愈發。愈發愈多。瘡雖有大小之不同。必待毒氣盡發。方可漸愈。安得有所謂瘡閉之候哉。然任其自然而生者。則任其自然而愈。毒氣外達。瘡無由而閉。奈何今人不知此症之惡。一見瘡發。急用水銀硫黃之屬薰之擦之。望其即日而痊。不知毒氣正發於皮毛之間。而反用藥以禁其所出。則毒不達於皮毛。而內攻肺臟。以肺主皮毛。故毒得以入肺也。然肺臟中毒。則通身肌肉浮腫。咳嗽喘促。胸滿壅塞。不能平臥。痰鳴鼻動。小便短少。是外瘡雖沒。而內毒更烈。當此之時。雖欲求其出而不可得也。不死何待耶。其通身肌肉浮腫者。以肺氣中毒。則不能下行清肅之令。而水妄溢也。其咳嗽喘促者。以肺臟中毒。不得宣通阻礙氣道也。其小便不通者。以肺有毒而不能通調水道。下輸膀胱也。其胸滿不能平臥者。以毒入於肺。則肺葉生脹也。其痰鳴鼻動者。以瘡毒內攻。肺氣將絕也。以上惡候。極為危險。治之稍失。鮮不誤人。臨症者。急宜速救肺臟。而兼以解毒。加入鮮發之物。以托毒外出。俾瘡盡發於肌表。而不使內攻於肺。庶幾可保無虞。倘不知此理。而徒用羌防之屬。汗之散也。是人既入井。而又下之石矣。然則羌防之不可用者何也。以邪之所湊。其氣必虛。其人體弱也。若實體而投羌防。又何害焉。</p>
<p>瘡閉方法。又超人一乘矣。神化若此。能無後賢哉。</p>
<p><u>保金宣毒飲</u>　瘡症誤治。毒氣入肺。諸證悉急。用此方治之。其驗如神。</p>
<p>南沙參（三錢）　麥冬（三錢）　百合（五錢）　貝母（三錢）　筍尖（五錢）　糯米（五錢）　鯽魚（一尾）</p>
<p>水煎服。</p>
<p><u>解毒內托飲</u>　體虛瘡發。治以內托。預防陷肺。宜用此方。</p>
<p>何首烏（三錢生用）　甘草（一錢）　當歸（一錢五分）　赤芍（一錢）　貝母（一錢）　丹皮（一錢）　黑豆（三錢）　忍冬藤（二錢）</p>
<p>水二杯。煎服。</p>
<p><u>消風敗毒散</u></p>
<p>人參　獨活　柴胡　枯梗　枳殼（麵炒）　羌活　茯苓　川芎　前胡　甘草　荊芥　防風（各一錢）</p>
<p>水二鍾。姜三片。煎八分。食遠服。</p>
<p><u>升麻和氣飲</u>　治瘡腫癤疥癢痛。</p>
<p>甘草　陳皮（各兩半）　芍藥（七錢五分）　大黃（五錢煨）　乾葛　蒼朮（炒）　枯梗　升麻（各一兩）　當歸　茯苓　白芷（各二兩）　乾薑　枳殼（各五錢）</p>
<p>三因方有厚朴（五錢）　上咀片。每服一兩。水煎。</p>
<p>按此手足太陰陽明經也。五積散世俗用之。故收入。蓋欲燥脾胃勝濕和氣。為治瘡之要劑。然臨症而不通變。恐不合宜也。</p>
<p><u>五皮飲</u></p>
<p>橘紅　桑白皮　生薑皮　大腹皮　茯苓皮</p>
<p>上各一錢。水煎服。</p>
<p><u>五苓散</u>　治下部濕熱瘡毒。小便赤少。</p>
<p>澤瀉（二兩五錢）　豬苓（一兩五錢去皮）　肉桂（七錢五分）　白朮　赤茯苓（各一兩五錢）</p>
<p>上為末。每服三錢。熱湯下。</p>
<p><u>除濕湯</u>　治寒濕所傷。身體重著。腰腳痠痛。大便溏泄。小便或澀或利。</p>
<p>半夏曲（炒）　厚朴（薑製）　蒼朮（米泔水制各二兩）　藿香葉　陳皮（去白）　白茯苓（去皮各一兩）　甘草（七錢炙）　白朮（生用一兩）</p>
<p>上咀片。每服四錢。水一杯。姜七片。棗二枚。煎七分。食前服。</p>

<h2>腫腮</h2>
<p>腫腮一症。是疫病非傷寒也。是清邪中上焦。非風熱也。何以辨之。一人病。眾人亦病。一村病。村村皆病。氣相感召。傳染於人。與風寒迥別。為疫病之最輕者。其症初起惡寒發熱。脈浮數。耳之前後作腫痛。隱隱有紅色。醫家不認症。往往誤作傷寒施治。牙腫混醫。體實者表散亦愈。體虛者不任大表。邪乘虛而內陷。傳入厥陰脈絡。睪丸腫痛。耳後全消。明者或投溫里。或投補水。數劑可退。昧者或用疏肝。或作疝治。一服神昏。遍閱方書。又無是症。始終莫解。此中機關而傷人性命者多多矣。若世俗所稱大頭瘟。頭面腮頤。腫如瓜瓠。乃疫病中之最重。豈非為是症之確據哉。又有時疫壞症。神識昏迷。邪陷厥少。從耳後發出。名曰遺毒。治法與腫腮不同。而醫者非進甘桔。即用膏連。邪復內陷。萬無生理矣。蓋耳之前後。雖屬少陽。而厥少部位亦會於此。經曰。頸項者。肝之俞。又曰。腎開竅於耳。甘桔牛蒡之屬。非元氣虧敗。遺毒所宜用之藥也。余於腫腮體實者。用甘枯湯加牛蒡丹皮當歸之屬。一二劑可消。體虛者用甘桔湯加何首烏玉竹丹皮當歸之屬。二三劑亦愈。如遺毒為害。必須救陰以回津液。補元以生真氣。俾邪熱之毒。從腫處盡發。庶一線之生氣未斷也。大抵初發辛涼治標。而辛溫不可妄投。變病養陰扶正。而溫補亦宜善用。司命者神明變化。辨症用藥而不以此症作傷寒治也。則得之矣。</p>
<p>以疫症為患。而誤認傷寒為治。是欲登山而揚帆矣。一經點出。乃開千古迷途。功何偉哉。</p>
<p><u>甘桔湯</u>（見咳嗽門）</p>
<p><u>救陰保元湯</u>　治遺毒腫腮。</p>
<p>熟地（二錢）　丹皮（一錢）　山藥（一錢）　麥冬（一錢五分）　南沙參（一錢）　黃耆（一錢炙）　炙甘草（八分）　黑豆（三錢）</p>
<p>水煎服。</p>

<h2>口角流涎</h2>
<p>口角流涎。醫以為脾不攝也。而藥投補脾。孰知不盡在脾也。而補脾藥多不效。則束手無策矣。蓋五液屬腎。廉泉通任脈。而亦屬腎。人生血液之味皆咸。惟舌下之液獨甘。乃天一真水所生。身中之至寶。行經絡。養筋骨。潤腸胃。生精血。灌靈根者也。古人有言。遠唾不如近唾。近唾不如不唾。唾即津液也。涎亦津液也。而津液不綦重哉。凡人夜臥之時。心靜神斂。則腎氣藏而廉泉穴閉。若老年腎陰虧。而氣不攝。舌下兩穴。寤寐皆開。側臥枕間。口角流涎。液不藏矣。故道家靜坐吞津。舌抵上顎。取廉泉穴開。津液易於湧出。而綿綿納下。如是可以驗涎不攝之故。皆由開而不合也明矣。第此係經絡空虛。受病亦淺。然早衰之象。已見於口角之間。人其可不自惕歟。夫偏中之候多。責在腎水虧。朝夕流涎。流涎者生。設口角乾燥。而涎沫不流。復中之禍立至。精液枯。腎氣絕。非脾敗也。曷不觀小兒初生時。口涎終日不斷。豈脾虛者乎。亦小兒陽常有餘。陰常不足。腎氣不實。故涎液妄溢。可為老人偏中之確據矣。或者謂脾開竅於口。而為涎。脾中有熱。涎為火迫。上溢口角。亦常有之。然必其人腎水素虛。脾中始生虛熱。若腎氣壯而脾陰足。何口角流涎之與有。經又不云乎。胃緩則廉泉開。廉泉開故涎下。補足少陰。是流涎雖在胃。而實在腎。更可知也。吾故思之。小兒流涎其常也。偏中流涎是病也。老人流涎。老轉幼也。吾為老人危矣。</p>
<p>一症自有一症真種子。向來醫傢俱指脾虛。一經勘破。不啻撥雲見天。噫。以予觀於夫子賢於軒岐遠矣。（門人戴敏識）</p>
<p><u>八味地黃湯</u>（見審虛實門）</p>
<p>脾雖開竅於口。而津液則出於腎。足少陰之氣。上交陽明。戊癸相合。而後能化水穀之精微。氣不上交。則水邪反從任脈而上於廉泉。故涎下。惟補足少陰以助下焦之生氣上升。則任脈下盛而上之廉泉通。則涎下於內。不下於外矣。主此立議。可謂斯道中理析毫芒。</p>

<h2>鼻淵</h2>
<p>嘗觀古人謂鼻淵一症。乃寒凝腦戶。太陽濕熱為病。皆治標而不求其本。攻邪而反耗其元。於經旨迥乎不合。其說可足信歟。內經曰。膽移熱於腦。則辛頞鼻淵。明明屬之內傷。與外感全無關涉。何醫家辛夷蒼耳防芷雜投。致輕者重。而重者危。無非泥古書不化。而虛實莫辨。夭枉人命。是可悲也。夫腦屬神臟。藏精髓而居高位。鼻為肺竅。司呼吸而聞香臭。清陽由此而升。濁陰無由而上。是為平人。而要非論膽熱及於腦。腦熱及於鼻者也。蓋少陽生髮之氣。全賴腎水為之滋養。腎水虛則膽中之火無制。而上逆於腦。腦熱蒸蒸氣化。濁涕走空竅而出於鼻。臭濁不堪。聞涕愈下。則液愈耗。液愈耗則陰愈虧。斯時也。頭為之苦傾矣。喉為之作咳矣。身為之潮熱矣。食飲為之減少矣。而醫猶謂之曰風未散也。表藥不可缺。寒未退也。辛味不可除。曾不知辛散傷元。有升無降。有陽無陰。腎肝虛於下。而肺氣虛於上。雖有盧扁。其奈之何哉。雖然。膽之火。胡為而入腦也。經謂其脈起於目銳眥。上抵頭角。下耳後。曲折布於腦後。脈絡貫通。易於感召。惟其虛也。則灼腦炙髓。陰液下漏。治法宜戒怒以養陽。絕欲以養陰。藥進補水保肺。而藿香牛腦。尤為必用之藥。俾水壯火熄。木榮金肅。膽汁充滿。而生之氣流行。火自安其位矣。倘脾胃漸虧。陽分漸弱。壯水之法。又宜變通。或脾腎雙補。或陰陽兩救。庶幾於病有濟。而不致錯誤也。且腦為諸陽之會。髓為至精之物。鼻屬金氣之路。治腦也補在髓。治鼻也清在金。腦滿可以生水而制火。金空可以化液而制木。而春升少陽之氣。與厥陰相為表裡。上屬於腦。如此則內經謂膽熱所關。義亦明矣。馮氏有言。鼻淵乃風熱灼腦而液下滲。或黃或白。或帶血如膿狀。此腎虛之症也。斯言極中病情。第此風非外入之風。乃肝膽火勝而熱極風生也。若寒凝腦戶。濕熱為病。較馮氏之說。不啻霄壤之隔。治鼻淵者。其可不知清竅無壅。陽開陰合之理。而深玩味也哉。</p>
<p>治以腎為主。暢所欲言。可補前人之未備。</p>
<p><u>益氣湯</u>　治鼻病過於解散。其治流清涕者。繼成濁涕。漸而腥穢黃赤間雜。皆由滲開腦戶。日積月累而致尫羸。用此湯治之。</p>
<p>黃耆（一錢五分蜜水炒）　人參（一錢）　白朮（一錢炒）　當歸（一錢）　麥冬（一錢）　炙甘草（五分）　藿香（一錢）　五味子（十粒）</p>
<p>虛寒少入細辛。內熱監以山梔。加薑棗。水煎服。</p>
<p><u>補腦丸</u>　治鼻淵久不愈者。神效。此上病下取。高者抑之之治也。</p>
<p>人參（一兩）　麥冬（二兩去心）　茯苓（一兩五錢人乳拌蒸）　熟地（二兩）　萸肉（一兩蒸）　黃耆（二兩蜜灸）　枸杞子（二兩酒蒸）　菟絲子（二兩酒蒸）　鹿茸（一兩五錢酥炙）　五味子（一兩蜜水拌焙）　牛腦（一具蒸熟搗入）</p>
<p>上為末。蜜丸。桐子大。每服四錢。</p>

<h2>失榮</h2>
<p>失榮一症。經謂先富後貧。先貴後賤。心志屈辱。神氣不伸。而憂煎日切。奉養日廉。始有此患也。夫營屬陰血。衛屬陽氣。脈中脈外。乃往來之道路。故百骸得以榮養。經絡得以流通。又何至脫營失精。而病從內生哉。無如稟賦素虛。平日以酒為漿。以妄為常。醉以入房。欲竭其精。以耗散其真。而鬱火相凝。隧痰停結。乃成是症。其患多生肩之上下。初起微腫。皮色不變。日久漸大堅。硬如石。推之不移。按之不動。半載一年。方生陰痛。或破爛紫斑。滲流血水。或泛如蓮。穢氣薰蒸。病勢至此。氣血衰敗。形容瘦削。未有不斃者矣。蓋肝主謀慮。心主血脈。腎主五液。思慮多則傷肝。精神耗則傷心。精液少則傷腎。肝傷則筋不榮而腫。心傷則血不生而枯。腎傷則液不潤而塞。漫腫無頭。發在關節。病雖在經。根實在臟。譬之樹木根搖。而枝葉已先萎矣。奈何醫家誤認流痰癰毒。藥進清涼表散。愈耗陰血。是速其危也。不知流痰之發。堅而痛。痛而紅。紅而腫。腫而潰。在陰則平塌不紅。不腫不痛。數日立斃。失榮則堅久隱痛。皮色如故。數載乃亡也。其見症之不同。治法之各異。安可不細辨乎。初起宜六味歸芍湯。久久服之。救其根也。病久隱痛。陰虧者宜左歸加生脈湯。補其元也。陽虧者。宜十全大補湯。培血氣也。雖然。六慾不遂。損傷中氣。枯於外而及於內。耗其氣而傷其形。如婦人之乳岩。男婦之瘰癧。皆精血虧而真元敗。大筋短而小筋攣。其症豈草根木皮所能勝任哉。若經謂陷脈為瘤。與失榮相肖。但此乃經脈為病。臟氣安然。觀其所發。皆非關節之處。可以驗其輕重矣。</p>
<p>病本難療。而立論以救之。一片婆心。和盤托出。</p>
<p><u>六味歸芍湯</u>（見中風門）</p>
<p><u>左歸飲</u></p>
<p>茯苓（一錢五分）　山藥（二錢）　甘草（一錢炙）　枸杞子（二錢）　熟地（二三錢或加至一二兩）　山萸肉（一二錢畏酸者少用）</p>
<p>水二鍾。煎七分。食遠服。</p>
<p><u>生脈散</u></p>
<p><u>十全大補湯</u>（均見盜汗門）</p>

<h2>吐蛔</h2>
<p>吐蛔一症。內傷者有熱有寒。有虛有實。有風木所化。有濕熱所生。小兒最多。胃脘脅痛者。亦復不少。必兼嘔酸痰水。輕重不一。治法熱者清之。寒者溫之。虛者補之。風木所化者平之。濕熱所生者清利之。法固善矣。第物必先腐。而後蟲生。縱實熱為害。先暫治標。而後求本。即虛熱為災。宜急治本。而決無標可求。否則蟲可殺。而人獨不可殺耶。如時令吐蛔。始得之二三日。壯熱如烙。口渴引飲。喜食涼水梨漿。舌苔黃厚。手足冷不過肘。大便秘結。小便赤澀。其人壯實。年富力強。平素無病。脈洪大而數。或細數有力者。乃邪熱在胃。蟲為熱迫。不能自容。上逆而出。宜清熱逐疫。邪解熱退。而蛔自安。如麥冬丹皮貝母黑豆甘草銀花黃泥黃連地骨皮之屬投之。此治熱深厥亦深。胃熱有餘之吐蛔也。然亦有胃寒之人。二三日吐蛔。在胃而不在厥陰者。即投理中湯治之。勿泥胃熱而概用涼藥也。如七八日後。身微熱。口不渴。不思涼水梨漿。舌苔雖黃厚而潤。手足冷過肘膝。出冷汗。小便清。大便利。其人體弱。或平素有病。或屬老人。或屬幼稚。脈虛大。按之不應指。或細遲。按之全無神者。乃邪傳厥陰。胃中寒冷。蛔亦不能自安。宜溫胃補肝腎。餘邪始退。蛔蟲亦安。理中湯加人參桂附丁香烏梅之屬。或八味湯加人參菟枸耆朮之屬投之。此治厥陰虛寒大虛之吐蛔也。夫內傷吐蛔。責在脾而先責在腎。時令吐蛔。治在邪而先治在正。不知此而遂謂之善醫乎。若庸手謂余不明時令一症。而彼竟以時令吐蛔殺人。故憤憤不平。因述內傷時令吐蛔不同治。備言時令吐蛔。有胃病厥陰病兩種。立有一定之治法也。願諸子熟讀是篇。依法救人。庶不錯誤。倘他日遇時令吐蛔。而仍誤投醫藥。不遵余法。豈非以人命為兒戲耶。</p>
<p>景岳云。凡絕處得生。皆在根本真處得之。讀此足與相發明。</p>
<p><u>理中湯</u>（見濕症門）</p>
<p><u>八味湯</u>（見審虛實門）</p>

<h2>吐屎</h2>
<p>吐屎一症。古書所未載。大約其標在胃。其本在腎。幽門失開闔之職也。經曰。飲入於胃。遊溢精氣。上輸於脾。脾氣散精。上歸於肺。食氣入胃。散精於肝。淫氣於筋。食氣入胃。濁氣歸心。淫精於脈。是清者上升而運行精微。濁者下降而變化糟粕。安得穢濁之物。直透幽門。逆上反從清道出哉。無如腎水虛。則火走腑道。無形之火而沖逆者。其常也。無形之火。挾有形穢物而沖逆者。其變也。喻氏有地氣加天之說。得毋與此症隱隱有合。而倒行逆施。於理法之所無。而病情之所有者。其為幽門關鎖之地為病。胃氣虧於中。而腎氣虧於下者耶。不然者。膈噎之吐。未見吐屎也。反胃之吐。未見吐屎也。脫瘀之吐。未見吐屎也。更有嘔酸苦汁。痰飲蛔蟲。未見吐屎也。而茲則陰陽錯亂。清濁混淆。為醫家所不及逆料者。洵為幽門無權。胃液空虛。腎火迫之。又迫而不足以敵直奔之勢。從小腸入胃。糟粕隨之。已可知矣。治法非救胃則救腎。非正治則逆治。經曰。腎者胃之關。又曰腎主開闔。開竅於二陰。又曰清陽出上竅。濁陰出下竅。必待腎陰回而虛火藏。大便通而機關利。清陽升而濁陰降。此理之所必然者。倘認為實熱。不顧斯人元氣。治標而不治本。耑於攻下。如承氣等湯急進。正呂氏所謂矢醫。惟知通矢耳。而去生遠矣。或者謂諸逆沖。皆屬於火。小腸與心相表裡。亦主有火而滓穢又屬火化。可為此症實熱之確據。第不知體實脈實。初病屬實火者。亦或有之。若體虛脈虛。久病而屬虛火者。比比皆是。內經病機之條。不可泥看也。彼吐屎之症。又安可概以實火治乎。</p>
<p>創論極確。古人復起。不易吾言矣。</p>
<p><u>清胃平逆散</u>　治吐屎初病火者。此方主之。</p>
<p>生地（三錢）　丹皮（一錢五分）　茯苓（一錢五分）　知母（一錢）　花粉（一錢）　杏仁（二錢去皮尖）　扁豆（二錢炒）　黑豆（五錢）　蘆根（五錢）</p>
<p>水煎服。</p>
<p><u>救腎安逆湯</u>　治久病體虛脈虛。此方主之。</p>
<p>熟地（三錢）　丹皮（一錢）　澤瀉（一錢）　山藥（一錢）　茯苓（一錢）　萸肉（一錢）　沙參（一錢）　五穀蟲（一錢四分酒炒研末）</p>
<p>水煎服。</p>

<h2>鼓脹脈洪大者生產後脈數大者死</h2>
<p>鼓脹者。中空似鼓。腹皮繃急是也。其症單腹作腫。四肢身面無氣。多得之農夫輩。濕熱為患。脾土受傷。與中滿病在氣分之遍身。腫在水分之皮膚亮。而根發於腎者。迥乎不同也。夫鼓脹責在脾胃。乃水穀出入之道路。較他臟之病為稍輕。虛中挾實。較中滿之治為稍異。故此症專以救脾陰為主。蓋脾陰足。則萬邪息。脾土健而濕熱消。仍宜戒鹽食淡。恐助濕而生脹。是以全活者。十中有六七耳。經云。諸腹脹大。皆屬於熱。諸濕腫滿。皆屬於脾。脈經云。腹脹脈浮大。是出厄也。可見鼓症之脈洪大。皆由濕熱積於內。陰血虛而陽氣存。脾胃生火。故脈象如是。豈非不足中而屬有餘之症乎。舟車禹功等湯。非為此種病而設乎。若產後脈數大者。則不然。蓋產後陰血驟虧。孤陽上越。症則發熱。脈則數大。最為危險之候。何也。陽浮而陰涸。營衛之氣疾速。致手太陰之脈。反現數大之假象。且胎下之後。內臟空虛。脈細弱者。於法之所宜。是虛症而得虛脈也。脈數大者。於法所不合。是虛症而得實脈也。景岳云。陰陽俱虧。氣血敗亂。脈必急數。愈數者愈虛。愈虛者愈數。治產後者。可不法景岳乎。倘產後而得血鼓之症。洪大亦凶。數大更危。正經所謂陽絡傷則血外溢。陰絡傷則血內盜之旨。而實象之脈。萬不可見也。彼農夫輩濕熱內結成鼓。與產後血結而成鼓者。以脈合症。又不啻天淵之隔矣。嗚呼。持脈有道。虛靜為保。得之於手。應之於心。庶指下了然。否則四診且不識為何象。而欲求其鼓病。利於洪大。產後不利於數大者。吾見其茫然指下。而舌辨嘵嘵。假以為善診而已矣。</p>
<p>或分或合。確有至理。非同浮論。</p>
<p><u>舟車丸</u></p>
<p>青皮　陳皮　木香　檳榔（各五分）　黑牽牛（四兩）　大黃（二兩）　甘遂（麵裹煨）　大戟（醋炒）　芫花（醋炒各一兩）　輕粉（一錢）</p>
<p>上為末。水法為丸。如綠豆大。每空心溫水下。初服五丸。日三服。以快利為度。</p>
<p><u>禹功散</u></p>
<p>黑牽牛（四兩）　茴香（一兩炒）</p>
<p>上為細末。以生薑自然汁。調一二錢服。</p>
<p><u>十全大補湯</u>（見盜汗門）</p>

<h1>婦人雜症</h1>

<h2>落三月胎論</h2>
<p>今夫男女媾精。萬物化生。二氣交感。凝結成形。自有造化之妙。原從虛無中來也。內經云。二七而天癸至。任脈通。太衝脈盛。月事以時下。故有子。考之經旨。婦人有孕。又當責在少陰。須逐月養胎。衝任堅固。以保無虞。何至未足月而半產哉。第其間情欲感觸。胎落者有之。思慮過度。胎落者有之。跌撲損傷。胎落者有之。破膽驚心。胎落者有之。此亦有所因而動。無足怪者。獨葉孕三月。兢兢自持。至期必動。醫家非涼血則固氣。非升舉則利氣。百藥不效。其胎必墮。皆由易於受而後易於墮也。而墮之之故。果安在哉。蓋胎繫於脾。而根於腎。一年而屢孕者。相火之有餘也。三月而屢墮者。相火之過旺也。屢墮而不先不後者。脾土主有信也。繆氏謂三月陽明脈養胎。其人脾土素弱。而相火搖搖。風木侮之。無故自落。豈尋常意見所能補救者耶。必也戒怒以舒肝。卻慮以安脾。節欲以養腎。然後用先君子豬肚丸藥。清相火以實脾土。土旺則四臟之氣皆旺。精自生而氣自固。不必慮難安易落之胎矣。雖然。藥宜服於未孕之先。莫遲服於已孕之後。所謂未雨綢繆。不治已病。治未病也。若巢氏以三月屬手少陰脈養胎。雖雄雞湯可用。而藥進不驗。書其可盡信乎。余熟思之。土生萬物。補脾尤急。土載萬物。養胃為先。從衝任為受孕之原。亦必脾腎雙補而更有益。何也。無形之土。能生無形之水。水壯相火亦靜。三月易落之胎。變為足月而產矣。且胎落在單月居多。單為陽數。三月又屬老陽之數。其人腎陰既虧。脾土既弱。相火又盛。肝木易泄。值此三而九之之候。陽數過亢。陰液受耗。脾中之血。亦復消灼。似難保其根深而蒂固。況庸手更不諳脾為生血之源。腎為立命之根。而徙泥當歸之辛。杜仲之溫。艾葉之熱。以安胎散為神方。而堅守之。遂深信胎無不安也者。豈其然乎。</p>
<p>症無剩義。筆有餘妍。繆氏之說。得此更明。</p>
<p><u>約齊豬肚丸</u></p>
<p>元參（二兩酒蒸）　苦參（二兩酒蒸）　丹參（三兩）　山藥（三兩炒）　穀芽（二兩炒）　扁豆（二兩炒）　石斛（二兩）　白芍（二兩酒炒）　芡實（二兩炒）　蓮肉（二兩去心炒）　南沙參（四兩）　鍋焦米（二兩）　茯苓（二兩人乳拌蒸）　人參（三兩切片研末另入）　甘草（一兩五錢蒸）</p>
<p>用雄豬肚一具。將藥裝入。蒸熟搗爛。焙乾為末。煉蜜為丸。每早白滾湯下五錢。豬肚先用水酒洗淨。裝藥。</p>
<p><u>雄雞湯</u></p>
<p>妊娠三月為定。形有寒。大便青。有熱。小便難。不赤即黃。卒驚恐。憂愁嗔怒。喜頓僕。動於經脈。腹滿繞臍苦痛。或腰背痛。卒有所下。宜服此湯。</p>
<p>雄雞（一隻治如食法）　黃芩　白朮　生薑（各一兩）　麥冬（五合）　芍藥　人參　茯苓　甘草　阿膠（各一兩）　大棗（十二枚劈）</p>
<p>上㕮咀。以水一斗三升。煮雞減半。出雞。納藥湯中。煮取一半。納清酒三升。並膠煎取三升。分三服。一日食盡取效。</p>

<h2>子癇</h2>
<p>竊怪子癇為病。古人謂之風痙。印定後人眼目。牢不可破。害人不淺。即令柔痙所發。原屬大虛。並非外風中入。張景岳於此症議論暢快。辨之甚悉。醫人熟讀。胸中變化。用之以治子癇也。又何不可哉。夫婦人有孕之後。衝任血養胎元。致肝少血而木火動。搖搖靡定。風象生焉。其症目吊口噤。角弓反張。流涎昏迷。時作時止。知內傷之癇象同。而非厥也。俗醫以為外入之風。真屬聾聵。試問風入皮毛。則當惡寒發熱。何表症未見。而厥少之症疊出。是無孕安然。有胎反病。風果如是耶。症亦無恙耶。真令人不解也。余審其病情。無非肝腎陰虛。陰虛則血燥。血燥則筋失所滋。強直反張。有似於風。而實非風。即風亦屬內動之風。而實非六淫之風也。故胎在母腹。陰血愈耗。虛火愈熾。經脈空而為火所灼。致精不能養神。柔不能養筋。而如厥如癲。神魂失守。復又誤投外風之藥。變症多端。豈非病者之厄哉。且癇與厥症相似。而實非厥。則終朝昏憒。癇則或有醒時。厥則晝夜無聲。癇則忽然叫喊。厥回身寒熱。癇醒口流涎。其見症之不同如此。而臨症安可不細察耶。是以治癇之法。有在陰在陽之別。陰虛者養陰。陽虛者養陽。庶陰液足而真氣回。木火藏而虛風定。子安母亦無不安矣。然考之古方。有羚羊角散。以為治子癇之聖藥。不知亦錯認此風為外入之風。而藥多不合。惟羚角一味。入肝舒筋。棗仁當歸。補肝益血。與症相投。奈內有防獨。則耗真元。又有薏苡。則下生胎。古方其可輕用乎。嗚呼。學古不化。則生人者反殺人。方書盡信。則去疾者反增疾。真紙上談兵。托諸空言。不能見諸行事者也。</p>
<p>見得明。說得透。灶下之嫗。亦當領會。</p>
<p>羚羊角散治妊娠中風。頭項強直。筋脈攣急。言語蹇澀。痰涎壅盛。或時發搐。不省人事。謂之子癇。</p>
<p>羚羊角　獨活　棗仁（炒）　五加皮（各八分）　苡仁　防風　當歸　川芎　茯神　杏仁（各四分）　木香　甘草（各二分）</p>
<p>加姜三片。水煎服。</p>
<p><u>寧神養榮湯</u>　治妊娠氣血兩虛。因而卒倒。或時心神潰亂。恍忽昏運。此方主之。</p>
<p>歸身（二錢）　人參（一錢五分）　麥冬（一錢五分）　茯神（一錢）　遠志（甘草湯炒一錢）　熟地（二錢）　白芍（一錢炒）　白朮（一錢土炒）</p>
<p>加桂元肉五枚。水一鍾。煎八分。食遠服。</p>

<h2>產後泄瀉</h2>
<p>產後泄瀉一症。有外因食滯是也。有內因脾腎虛是也。夫胎繫於脾。脾中之血。為胎所耗。產後脾土失健運之常。復又食物無節。生冷不慎。致中焦不化。而噫氣噯腐。腹中腸鳴。大便下泄矣。體實輩用平胃散加減。在一二劑之間。不可多進也。體虛輩平日脾土薄弱。產後更弱。而夾食不消者。用長生活命湯投之。百試百效。設純用楂樸檳卜之屬。耗其真元。其人必死。此治外因者也。若內因傷在脾腎。最為產後之惡症。蓋脾司倉廩。後天根本。生血液以灌溉四臟。如脾中血虛而生火。則暴注下迫。疾走大腸。如脾中氣虛而生寒。則運行失職。完穀不化。產後氣血內空。食飲入胃。不能變化精微。升清降濁。而時時頻泄。未免下多陰亡。泄久陽亡之患矣。至於腎為生氣之原。命火能生脾土。為人生立命之根蒂。產後去血過多。則傷腎中之陰氣。因血耗則傷腎中之陽。陰虛者。火必刑金。上逆作咳。肺虛熱移大腸。下通作泄。醫家不知有腎陰虧虛泄瀉之症。一味補土。未見奏功。若誤認夾食。更為醫中之庸者矣。蓋陽虛泄瀉。必命火衰微。己土不生。而真氣不固。非如陰虛有火者。脈細數面赤。口渴為異也。況陽虛脈必細遲而微。或空大而虛。面色慘淡。手足冷而浮腫。自有症脈虛寒之真象。醫家宜細心體會者也。治脾陰虛而有火者。嘉禾飲為必用之藥。脾氣虛而無火者。六君子湯為必用之藥。腎虛而有火者。六味加人參湯為必用之藥。陽虛而無火者。八味加人參湯為必用之藥。倘服此而泄瀉不止。四神丸用參湯吞下。更為治泄之神丹。再用枯礬附子五倍子研末。和麵人唾作餅。貼臍中。無不立驗。此治內因者也。內經曰。腎者胃之關。又曰腎主開闔。開竅於二陰。治脾泄者。亦宜治腎。況腎泄乎。補脾不如補腎之說。亦未之聞乎。</p>
<p>內因外因。分開兩門。又處處提出產後與平常泄瀉不同。精義不磨。</p>
<p><u>平胃散</u></p>
<p>蒼朮（五斤泔浸七日）　陳皮（三斤去白）　厚朴（三斤薑汁炒）　甘草（十二兩炙）</p>
<p>上共為末。白滾湯調服三五錢。</p>
<p><u>長生活命飲</u>（見燥症門）</p>
<p>嘉禾飲</p>
<p>苡仁（二錢）　扁豆（二錢炒）　丹參（一錢五分）　茯苓（一錢）　白芍（一錢炒）　山藥（一錢炒）　穀芽（一錢炒）　沙參（一錢）　人參（一錢）　石斛（一錢）　陳皮（八分）　神麯（八分）　半夏曲（八分）　蓮子（七粒去心炒）　甘草（五分）　黑棗（三枚）</p>
<p>水煎服。</p>
<p><u>六君子湯</u>（見中風門）</p>
<p><u>六味湯</u></p>
<p><u>八味湯</u>（均見審虛虛門）</p>
<p><u>四神丸</u></p>
<p>破故紙（四兩炒）　肉豆蔻（麵裹煨）　五味子（各二兩）　吳茱萸（一兩湯炮炒）</p>
<p>上為末。用大棗百枚。生薑八兩煮爛。取棗肉搗丸桐子大。每服七八十丸。空心或食前淡鹽湯或滾湯下。</p>

<h2>產後血暈</h2>
<p>產後血暈。有虛實之各異。實者瘀血之假實。而虛者氣血之真虛也。夫血由氣化。氣行則血行。氣滯則血阻。是血隨氣流轉者也。胎下之後。陰血暴行。氣分驟虧。失於運動。故將下未下之血。停蓄成瘀。上衝胸腹作痛。斯時頭目掉眩。迷亂心神。眼前生花。劇則人事昏憒。牙關不開。外治或燒漆器。或薰醋炭。內治宜生化湯加失笑散。體素陰虛者。加童便。體素陽虛者。加肉桂。體虛甚者。加人參。世俗惑於用參瘀反不行之說。印定後人眼目。不敢輕用。致元氣下陷而脫者多矣。此假實之症也。若去血過多。氣孤無偶。察其外症。眼合口張。面白手撒。氣出多而入少。手足冷而厥逆。冷汗自出。脈細如絲或浮大無根。此腎氣不納。而肺氣不主。根本搖搖。氣虛欲脫之象也。治宜血脫益氣。陽生陰長。用人參兩許。而以歸地姜附佐之。庶可救垂危於欲絕。此真虛之症也。要之實中有虛。瘀去而真虛自現。虛中更虛。血枯而真氣亦離。切勿信古載牡丹奪命等方。以散血而損人命也。醫家其慎諸。</p>
<p>暈因於血。血之瘀。氣之弱也。粗工熟能察此。惟先生言之鑿鑿。</p>
<p><u>生化湯</u></p>
<p>當歸（五錢）　川芎（二錢）　炮姜（一錢）　甘草（五分炙）　桃仁（十粒去皮尖雙仁不用）</p>
<p>水二鍾。加酒少許。煎好溫服。</p>
<p><u>失笑散</u></p>
<p>蒲黃（揀淨）　五靈脂（揀去砂石等分俱炒）</p>
<p>上為末。每服二三錢。酒煎熱服。</p>
<p><u>參附回生湯</u>　治產後氣血暴去過多。急用此方。</p>
<p>人參（三錢）　熟地（三錢）　當歸（二錢）　炮姜（一錢）　附子（一錢）　白朮（二錢土炒）</p>
<p>陳米炒熟。水煎服。</p>

<h2>產後發熱</h2>
<p>產後發熱。有內傷。有外感。有瘀血。有食滯。症各不同。脈亦迥異。醫家宜詳辨之也。蓋外感發熱。因產後空虛。風寒乘虛而易入。其症惡寒發熱。頭痛身痛。脈浮緊而數。用表藥一二劑可愈。若感時令疫熱之邪。寒短熱長。頭痛身痛。口渴譫語。脈浮數。或細數。用扶正逐疫藥治之。然所發與血虛發熱無異。但此時必疫邪盛行。或為他入傳染。或因未產之先。症雖有別。而救元則一也。若有瘀血不行。阻塞氣道。或腹中作痛。或經絡作腫。亦大發熱。其脈芤數。宜去瘀生新藥治之。若有食滯發熱。必嘔吐噯腐。腹痛泄瀉。脈大而滑。宜消導藥治之。若下血過多。孤陽無偶。浮越於外。壯熱不退。煩躁不寧。譫語不休。湯飲不絕。脈浮大空數。宜大補氣血藥治之。古人有言。產後類傷寒。三陽症惡寒發熱頭痛。毋認為傷寒。太陽症發熱頭痛。乍寒乍熱。或兼脅痛。毋認為少陽症。潮熱有汗。大便不通。毋認為陽明症。蓋由氣血兩虛。陰陽不和。而類外感。且產後重發汗。汗發則虛。而禍至矣。產後類傷寒三陰症。腹滿咽乾。大便實。勿專論為太陰症。口燥咽乾。勿專論為少陰症。又汗出譫語。便秘。勿專論為胃中有燥屎宜下。數症多由勞倦傷脾。運化艱難。氣血枯竭。腸腑燥渴。乃虛症類實。所當補者也。夫產後之熱。氣血兩虛者居多。藥宜甘溫。陰虛生熱者。或有藥宜壯水。丹溪大補氣血之論。不可泥。丹溪大補氣血之論。正可法也。先君子治產後壯熱發狂。持刃殺之。用附子一枚。人參一兩。童便一杯。一劑霍然。甘溫能除大熱也。余治侄女產後陰虛發熱。口渴面赤。六味湯加童便一劑。成功壯水之主。以鎮陽光也。即如產後感風寒。染時疫而發熱。亦必以養正為主。蓋正旺則邪不攻。而自走矣。至於仲景論產後有實症。必其人體實脈實。邪可攻者攻之。若其人體虛脈虛。而復又攻之。則殺人之禍。在於反掌間矣。醫可不自惕歟。</p>
<p>產後發熱。用藥專以溫補為主。亦非確論。大約產後之熱。宜從陽引陰。反佐從治者居多。以陰血驟虧。孤陽外越。非大溫大補。則虛火不藏。所謂甘溫能除大熱是也。倘其人陽有餘而陰不足之體。一遇產後發熱。泥於甘溫退熱之法。薑桂參附多進。陰益虧而火益熾。熱愈不退。宜從陰引陽。壯水正治。方可取效。古人謂芍藥酸寒。以為產後忌藥。而仲景謂陰氣散失。正當用之。真知陰可維陽。水可制火者也。總之人生屬陰陽互根。不可偏勝。一味溫熱。知有陽而不知有陰矣。</p>
<p>條分縷晰。著法立方。真是長沙復出。</p>
<p><u>六味湯</u>（見審虛實門）</p>
<p><u>人參當歸散</u>　治產後去血過多。血虛則陰虛。陰虛子午不交。非大補真陰。填實下元。不能挽回垂危於欲絕。第陰血暴脫。真氣上越。草根木皮。一時難生有形之血。不若重進參附歸地。及鹿茸河車之屬。急生無形之氣。且同類有情血肉為補。庶無根之焰。漸漸歸原。而相傳之官。清肅下行矣。倘惡露未盡。敗血停凝。上薰肺金。亦令人喘。須進人參生化湯。逐瘀於補元之中。元氣回而瘀血通。間有得生。未可知也。若其人平素原有哮喘之疾。因胎下偶受外風。舊疾亦作。宜金水六君煎主之。難經曰。呼出心與肺。吸入腎與肝。今產後呼出多而吸入少。衛氣無主。大補猶恐不回。而醫家不悟。仍以表散之藥投之。以迎合病家之意。是耶非耶。</p>
<p>凡喘症虛多實少。況屬產後。而喘忽發。虛耶實耶。庸工何不察也。</p>
<p><u>人參生化湯</u></p>
<p>人參（三錢）　當歸（五錢）　川芎（二錢）　炮姜（一錢）　甘草（五分炙）　桃仁（十粒去皮尖）</p>
<p>水二鍾。加酒少許。煎一鍾溫服。</p>
<p><u>金水六君煎</u></p>
<p>熟地（三五錢）　當歸（二錢）　茯苓（二錢）　半夏（三錢）　陳皮（一錢五分）　甘草（一錢炙）</p>
<p>水二鍾。姜五七片。煎八分。食遠溫服。</p>

<h2>產後腹痛</h2>
<p>大凡腹痛者。皆責在脾土。而產後耗脾中之血。非大補脾元。難以生陰液。而定痛者也。第痛有虛實寒熱瘀血之不同。而用藥迥別。苟非察脈辨症。細心體會。未有不殺人於反掌間者矣。夫痛之生也。喜按為虛。拒按為實。喜熱飲為寒。喜冷飲為熱。而瘀血之痛。則按之為更甚。勿以通則不痛之說。遂謂產後逐瘀為第一義也。蓋脾主血而生血。養胎既虛在先。胎下復虛在後。脾元不運。痛而面赤。口渴潮熱。大便秘。按之稍定。脈細數等症。無非陰虧而火動。治宜芍藥甘草湯。加丹參沙參熟地當歸之屬投之。自然陰血生而虛火靜。營衛調而痛亦止矣。若脾臟虛寒。氣不運行。痛而面青。曰手足冷。冷汗出。大便泄。按之稍定。脈細遲等症。無非陽虛而火衰。治宜六君合生化湯。加桂附投之。自然元陽回而真氣復。營衛調而痛亦止矣。倘瘀血內蓄。積塊未消。傷在衝任。臍之上下。乃二脈所由之道。瘀血塞而不行。衝任虛而受困。按之疼痛。雖實也。而實中挾虛耳。治宜生化湯除瘀生新。俾瘀從舊路下走。腹痛亦可止。若一味逐瘀。而不顧元氣。將見攻愈急。而痛愈甚。正愈虧而瘀愈阻。瘀愈阻而藥愈亂。變症百出。豈能保全乎。臨症者。宜視其人平素體氣壯實。用生化湯加延胡丹參。莫不應手取效。視其人平素體虛。用生化湯加人參桂附。氣壯易動。此萬舉萬當之法也。又有小腹有塊作痛。名曰兒枕。宜補中逐瘀可也。舊血須當消化。新血亦當生養。如專主攻舊。新亦不寧矣。張景岳云。子宮蓄子既久。忽爾相離。血海陡虛。所以作痛。胞門受傷。必致壅腫。所以亦若有塊而實非真塊。腫既未消。是以亦頗拒按。但宜安養其臟。不久即愈。景岳之說。深合病情。可見少腹之痛。與臍上之痛。部位雖不同。而瘀血為害。則一也。補中之消。消中之補。並行不悖。斯為醫中之良手矣。設無血塊。但小腹作痛。按之少止。此屬血海空虛。生化湯加熟地肉桂。取效亦甚速也。內經曰。腹為陰。陰中之陰脾也。治腹痛者。其可不知溫養脾土而生陰血耶。</p>
<p>產後腹痛主溫養脾土而生陰血。非泛論腹痛。真產後腹痛之論也。</p>
<p><u>十全大補湯</u>（見盜汗門）</p>
<p><u>參歸生化湯</u>（見產後喘門）</p>
<p><u>四物湯</u></p>
<p>熟地（三錢）　當歸（三錢）　白芍（二錢炒）　川芎（一錢）</p>
<p>水煎服。</p>
<p><u>六君子湯</u>（見中風門）</p>
<p><u>補中益氣湯</u>（見暑症門）</p>
<p><u>八味地黃湯</u>（見審虛實門）</p>
<p><u>芍藥甘草湯</u></p>
<p>白芍（五錢炒）　甘草（一錢）</p>
<p>水一鍾。煎八分服。</p>
<p><u>定痛散</u>　治產後惡血不止。腹中作痛。</p>
<p>當歸（四錢）　白芍（三錢炒）　肉桂（五錢）</p>
<p>加姜五片。水煎服。</p>

<h2>產後嘔吐</h2>
<p>嘔吐有虛實。而產後之嘔吐。虛者十居其九。醫家不從症脈詳察。而混以尋常止嘔定吐之法投之。則殺人之禍立至。雖有良工補救。亦無如之何矣。夫產後脾胃必虧。因去血過多而耗傷也。脾胃虛而熱。則食入即吐。脾胃虛而寒。則食久反出。然亦不可拘也。倘其人平素脾元大虛。加之產後傷氣血。脾陰枯而胃陽敗。忽然食入即吐。全不納穀。手足冷。冷汗出。氣促不接。脈懸懸如絲。如此危症。乃胃絕之候也。而遂謂其暴吐為有火哉。即令嘔吐酸味。雖屬有火。而產後之吐酸。多責在胃寒。必須切脈之遲數。或有力。或無力。然後虛實可分。如有火而吐者。宜扁豆穀芽沙參丹參石斛陳壁土之類主之。如無火而吐者。宜人參白朮茯苓黑姜肉桂炙甘草之類主之。薛氏法最良也。雖然。腎者胃之關也。脾胃之病。必推原於腎。腎氣壯則水穀入。胃散精於肺。而變化精微。腎氣虧則完穀不化。陽火衰弱。而不生脾土。幽門少運動之機。下不通而勢必上逆矣。又有腎陽無根。內真寒而外假熱。虛火上衝胃口。嘔吐不休者。非附子理中湯。八味地黃湯。重加人參。引火歸原。而吐未必定也。或者謂敗血散於脾胃。不能納水穀而生吐逆。此說亦中病情。第敗血之阻。由元氣之虧。非生化湯。則二陳湯加人參澤蘭葉丹參之屬進之。數劑可愈。若用藿香砂仁延胡等藥。一味破氣。正氣轉傷。非其治也。大約吐而輕者。救在脾。吐而重者。救在腎。舍此他求。豈足謂之善醫產後者耶。</p>
<p>症不因產後而生。固可以雜症之法治之。症既因產後而生。亦混投尋常之法。非治也。此嘔吐又以救脾救腎為主。</p>
<p><u>八味地黃湯</u>（見審虛實門）</p>
<p><u>二陳湯</u>（見眩暈門）</p>
<p><u>附子理中湯</u>（見審虛實門）</p>
<p><u>生化湯</u>（產後血暈門）</p>
<p><u>加減四君湯</u>　治脾虛產後嘔吐。</p>
<p>白朮（二錢土炒）　炮姜（八分）　炙甘草（一錢）　人參（一錢）　炒陳米（五錢）</p>
<p>吐甚者加附子。（八分）水煎服。</p>

<h2>產後不寐</h2>
<p>產後不寐一症。由於氣血大虧。陰不維陽者居多也。夫衛氣日行於陽則寤。夜行於陰則寐。凡人將睡之時。必陽引而升。陰引而降。陰陽相引。然後呵欠乃作。漸入睡鄉矣。今胎下而血驟脫。陽浮於上。不入陰而常留於陽。是以達旦不寐。煩躁出汗。面赤口渴等症疊見。而醫家之治此者。其法果何在哉。蓋壯水則火熄而神安。益陰則血足而心寧。六味歸芍湯。加童便人參。無不應手取效。若心腎不交。神志恍惚。補心丹加減。亦為合法。倘血去而孤陽浮越。營衛偏勝。終夜不眠。宜歸脾湯或人參養營湯加減。方為盡善。大抵陰虛不寐。陽藥不宜輕投。陽虛不寐。陰藥豈宜混施。必須察脈辨症。心靈會悟。勿泥呆法者也。此外血塊痛而不寐者。治在血也。血行而痛定。可以安臥矣。兼食滯而不寐者。治在食也。食消而痛止。可以安臥矣。兼時疫而不寐者。治在疫也。疫退而熱解。可以安臥矣。兼瘧痢而不寐者。治在瘧痢也。瘧痢止而神斂。可以安臥矣。張景岳云。心藏神為陽氣之宅。衛主氣司陽氣之化。凡衛氣入陰。則靜。靜則寐。正以陽有所歸。故神安而寐也。又心為事擾。則神動。神動則不靜。是以不寐也。故欲求寐者。當養陰中之陽。及去靜中之動。則得之矣。彼產後陰血虧而陽火動。非純靜之藥。無以制其炎炎之勢。雖欲高枕而望其酣睡也。不亦難哉。</p>
<p>產後去血必多。治主純靜之藥。以鎮動陽。陽不浮越。得其所歸。則神安而寐。</p>
<p><u>六味歸芍湯</u>（見中風門）</p>
<p><u>補心丹</u>（見不寐門）</p>
<p><u>歸脾湯</u>（見中風門）</p>
<p><u>人參養營湯</u>（見中風門）</p>

<h2>產後大便不通</h2>
<p>大便不通。在雜症有陽明實熱之積。有腸胃瘀血之阻。而在產後。則責在氣血之虛也。夫陰血驟脫。氣亦驟虧。少陰失開闔之令。大腸少津液之潤。是以秘結不解。醫家不窮其原。急用硝黃巴牛等藥。求其暫通。取快一時。因而重虛其虛。元氣更受耗傷。緩則復秘。而變脹滿。速則亡陰而致虛脫。甚可憫也。夫產後空虛。新血未生。元氣未回。幸得後門堅固。旬日未解。亦自無妨。雖有澀滯。當從緩治。宜用生化湯。加人乳肉蓯蓉以潤枯涸。倘氣因血耗。傳化失職。宜用八味湯加人參肉蓯蓉。以助真氣。無不應手取效者也。古人有言。產後大便日久不通。由血少腸燥。參乳湯多服。則血旺氣順。自無便澀之病。真先得我心之同者矣。蓋陰血乾燥。須俟地道升。而天氣降。元氣衰弱。更待真陽復。而真陰生。此自然之道也。不然。徒知推下一法。而漫無變計。不亦為古人所譏謂之矢醫耶。</p>
<p>通以治塞。印定庸工眼目。得此可喚醒其夢。</p>
<p><u>生化湯</u>（見產後血暈門）</p>
<p><u>八味湯</u>（見審虛實門）</p>
<p><u>參乳湯</u>（見燥症門）</p>

<h2>產後變痙</h2>
<p>痙分剛柔。虛者十居六七。而產後之變痙。則無不本於氣血大虧者也。當胎下之後。血去過多。陽孤無依。斯時類傷寒三陽症而實大異。類傷寒三陰症而實不同。醫家不察脈辨症。始進表汗之劑。繼投攻下之藥。亡陰亡陽。致氣愈虛而血愈耗。筋脈失於榮養。燥極生風。反張強直。口噤拳攣。險症疊出。而命難全矣。夫血液枯涸。大傷衝任二脈。而督脈在背。亦少柔和。因產後而重虛其虛。反有類傷寒太陽發痙之大實症耳。治法責在肝腎。陰陽兩救。陰虛者人參六味湯。陽虛者加參生化湯。或十全大補湯。大劑投之。俾真氣流轉。精血相通。筋脈得以滋潤。而惡症始退。內經曰。陽氣者。精則養神。柔則養筋。產後亡血。而又誤汗。誤下亡陰。而又亡陽矣。可笑庸手復認作傷寒之症。誤治錯中之錯。殺人之禍。可勝言哉。且傷寒汗下過多。亦變發痙。並宜大補氣血為主。則產後之大補氣血。更無疑矣。若不因藥誤。初病即汗出不止而發痙者。乃陽氣頓虛。腠理不密。津液妄泄。急用人參養營湯。加附子主之。丹溪曰。產後不論脈症。當以大補氣血為主。若產後而變痙症。空虛極矣。舍大補而何所取哉。</p>
<p>痙病多因誤汗誤下。虛虛之禍。誰實致之。然則實病或儕伍可療。虛症須參問醫王。</p>
<p><u>六味湯</u>（見審虛實門）</p>
<p><u>加人參生化湯</u>（見產後喘門）</p>
<p><u>十全大補湯</u>（見盜汗門）</p>
<p><u>人參養營湯</u>（見中風門）</p>

<h2>產後瘀血流注經絡</h2>
<p>今夫血主於心。資於腎。藏於肝。統於脾。而陽明又為多氣多血之海。下通衝任。為女子月事。應時而下。受胎之地也。葉孕之後。稟賦虛而肝腎虧。一身氣血僅僅養胎。及產後血泄過多。氣因血耗。不能逐瘀下出。反流注經絡。阻塞關節。斯時惡寒發熱。或腫或痛。醫家不明其故。概以風寒停滯目之。藥非表散。即是消導。豈知血因散而益虧。氣因消而益弱。變症多端。而病勢危矣。余每遇此症。急進十全大補湯。大培氣血。俾脈中脈外。營衛之氣。得以通暢流行。而在經在絡。蓄積之瘀。不待攻逐而從外自走。成膿而潰者有之。故道而出者有之。十可保全三四。若一味逐瘀。不救根本。如木香流氣飲。回生丹之類妄投。未有能生者也。即體氣稍實。而產有此症。法宜攻補兼施。或先補而後攻。或先攻而後補。是在臨症之權衡也。蓋血隨氣而至。氣行則血行。氣虛則血阻。欲求其故。可不急急於救元而加之意哉。且惡露而流注於腰臀腿足之處。漫腫結塊。宜內服參歸生化湯。以散血滯。外用蔥熨患處。以消積瘀無緩也。憎寒惡寒。陽氣虛也。日晡內熱。陰血虛也。飲食嘔吐。胃氣虛也。食少體倦。脾氣虛也。四肢逆冷。小便頻數。腎氣虛也。陽虛則補陽。十全大補湯。加鹿茸河車。陰虛則補陰。四物湯加人參白朮。胃虛則益胃。六君子湯加炮姜。脾虛則補脾。補中益氣湯加茯苓半夏。腎虛則補腎。八味地黃湯加菟絲子益智仁。此萬全之法也。內經曰。營氣不從。逆於肉理。今瘀血不從。而逆於腠理者。其為營氣不從。乃此症之確據乎。</p>
<p>此症人所難曉。每以產後血虛混之。即知之而亦無此透徹。</p>
<p><u>十全大補湯</u>（見盜汗門）</p>
<p><u>參歸生化湯</u>（見產後喘門）</p>
<p><u>四物湯</u>（見產後腹痛門）</p>
<p><u>六君子湯</u>（見中風門）</p>
<p><u>補中益氣湯</u>（見暑症門）</p>
<p><u>八味地黃湯</u>（見審虛實門）</p>

<h2>辨胸脅痛後臨經變症</h2>
<p>病本肝腎之陰虧。衝任之脈弱。血海空虛。虛火內發。瘀血阻塞。致肝火挾衝任二脈而上逆。胸脅脹痛。醫投利氣胸脅之痛減。非痛減也。利氣而火暫降。在腹而脹痛矣。醫又投利氣腹中之痛減。非痛減也。利氣而火暫降。在少腹而脹痛矣。醫再投利氣而痛減。非痛減也。血室為利氣藥所耗。血隨氣下。而月事亦動。變症百出矣。夫肝主藏魂。少腹乃肝之部位與衝任及陽明相照應。陰血既行。虛火更熾。復鼓動陽明之火。乘灼胞絡。故忽然厥逆。目定神昏。見鬼譫妄。診其脈不急數。觀其症不發熱。非外入之疫邪。實神魂之離舍。皆由初治不得其法耳。傷寒論曰。婦人中風發熱惡寒。胸脅下滿。如結胸狀譫語者。此為熱入血室。與此病臨經譫語相同。豈非陰血虧而虛火為害哉。第時疫乃外邪。有虛而有實。臨經乃內發。有虛而無實。彼外入者。促景猶謂無犯胃氣。及上中二焦。況內發者。更屬大虛。陰血陽氣。萬萬不可耗矣。初病用逍遙散。無後來之變症也。救逆仍用逍遙散。加棗仁丹參麥冬杜仲之屬。舒肝木而益陰血也。若誤認風痰食滯為治。氣血愈耗。不亦犯內經厥逆連臟之旨耶。</p>
<p>認定熱入血室為主。故頭頭是道。</p>

<h3>附案</h3>
<p>一婦人年二十一。庚午夏六月望日。胸脅脹痛。醫用二陳加延胡川楝香砂黑姜之屬。胸脅之痛。走入臍上痛矣。又進前藥。臍上之痛。走入少腹痛矣。仍進前藥。少腹痛減。是夜經動不多。人事昏沉。譫語見鬼。延余診視。其脈右手細弱。左手弦細。全不知人事。舌常伸出。大便不解。本家疑為時疫。醫家疑為停食。莫知所從。余曰。此肝腎素虛。血海有瘀未行。致虛火沖逆胞絡。而為厥逆之症。與時疫經期適來適斷同也。法宜補陰血之劑。重加當歸以通血室。加童便以降虛火。兩劑。月事大行。大便亦下。神識清爽。霍然愈矣。蓋其人前月經期五十日而動。乃半產也。不慎調攝。虛中挾瘀。至此月臨經時欲動未動。火逆昏迷。如有邪祟。而庸手不識初藥破氣耗血之誤。反謂為食阻。為風痰豈不悖哉。豈不可畏哉。</p>
<p><u>逍遙散</u>（見眩暈門）</p>

<h2>陰吹</h2>
<p>陰吹一症。古書不多見。惟張長沙金匱要略云。胃氣下泄。陰吹而正喧。此穀氣之實也。發煎導之。夫陰器屬厥陰部位。精竅通衝任之脈。尿竅通小腸之路。氣道不從此出。安得有聲而喧。蓋由肝腎虧於下。肺氣虧於上。致陽明胃氣。不能鼓舞上行。而虧於中。下走陰器。直入精竅而出。豈同大腸矢氣。經謂濁陰出下竅者可比耶。嘗見虛損之輩。久咳經阻。胃氣不升。往往多有此患。以言乎腎。則氣不攝可知。以言乎肝。則氣不平。可知。以言乎肺。則氣不主可知。是以上咳下吹。氣竅相通。陰器隱隱而有聲。足見精血之虧。元氣之弱。根本搖搖矣。夫陽明為多氣多血之海。與衝任血海之脈。同氣而相應。下為經而上為乳。變化取汁。血氣之實也。喧聞戶外。胃氣之虛也。魏氏云。穀氣之實。其實胃中正氣之衰。斯言極中長沙之秘旨。如必謂穀氣實。而引導濁氣。從大腸出。縱胃氣下泄。必由濁道而不致干亂清道。是錯認溺竅為病也。第胃氣下泄。前陰之膀胱何異。下泄後陰之大腸而終無補於病情。豈仲景當日之深意哉。且腎主開闔。為生氣之原。陰器屬肝。主疏泄之令。今胃氣下走。豈尋常之藥。可以奏功。必須培補肝腎。以固肺金。生精益血。以助真氣。若陽分多虧。補中歸脾之屬可投。陰分多虧。六味左歸之屬可用。陰陽兩虧。八味右歸之屬可服。耗氣敗血之藥非其治也。倘不咳而竅有聲。較咳而竅有聲者為稍輕。逍遙六味。皆合法也。雖然。膀胱有下竅而無上口。胃氣何由下泄。其從精竅而來。不待辨而自明。男子從無。婦人常有。無非竅空而妄泄。況穀道後通。而前陰之吹者有之。穀道後秘。而前陰不吹者有之。穀氣實。胃氣安得下泄。仲景發煎導引之法。其說似屬難明矣。即令胃氣從溺竅下泄。小便當隨氣而共出。何吹時惟有聲而無溺。則溺竅而來之說。更屬無據。要之胃氣者。乃水穀之精氣。上輸於脾。脾氣散精。上歸於肺。與腎中生氣而互根。得毋因其人水穀之真氣衰弱。而以脂膏益血之品。從陰引陽。填補衝任。不使氣陷於子宮。直走精門。未可知也。</p>
<p>陰吹一症。人但知氣從下泄。而昧於出自何竅。拘泥長沙之文。未有暢發其因者。先生為之條分縷析。可振聾聵。非三折肱良手。安能搜此精義。</p>
<p><u>補中湯</u>（見暑症門）</p>
<p><u>歸脾湯</u>（見中風門）</p>
<p><u>六味湯</u>（見審虛實門）</p>
<p><u>左歸湯</u>（見失榮門）</p>
<p><u>八味湯</u>（見審虛實門）</p>
<p><u>逍遙散</u>（見眩暈門）</p>
<p><u>右歸飲</u></p>
<p>熟地（二三錢加至一二兩）　山藥（二錢炒）　杜仲（二錢薑汁炒）　枸杞子（二錢）　肉桂（一二錢）　川附子（一二三錢）　山萸肉（一錢）　甘草（一二錢炙）</p>
<p>水二鍾。煎八分。食遠服。</p>
