<header data-type="book">
<h1>醫方拾錦</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>田綿淮</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1853">公元1853年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫方拾錦者，寒勁子游藝所輯也。拾者何也，東取也。不曰取而曰拾者，何也？或因散失，或因拋棄，芥布星羅，世多翫忽，揉而集之，盡歸有用，是以謂之拾也。錦者，何也？華物也，言有花樣，可採覽之呈以悅目也。收詩之豔者，擬比織錦，詞之佩者，此以錦繡。安在醫方之豔珮者，不可以錦名也。是以根府歧黃，博及百家，正訂無訛，蒐羅幽隱，勿能得此。收拾之便，綿方之精者，收是集也。善用則有益，不善用亦無損也。寒勁子簡練揣摩。未求有功，先求無過可知矣。陳氏有《拾遺》，馮氏有《錦囊》，寒勁子想已洞晰其蘊。拾錦之名，吾未能窺其命意所在，聊姑妄言之。以為遊藝所輯。然所否所。</p>
<p><u>同治癸酉一陽月陽生日云岩莫知之識</u></p>
<p><u>大梁王風年敬書</u></p>

<h1>一、頭方</h1>
<p>治頭上屑皮</p>
<p>胡桃肉（七個）　河子肉（五個）　梨（一個）　側柏葉（三片）</p>
<p>共搗如泥，水浸片時，搽之。</p>
<p>又方</p>
<p>白芷、零陵香為細末，摻頭上，三五日，篦去。</p>
<p>又方</p>
<p>藁本、白芷為細未，晚塗頭上，次早梳，垢盡去。</p>
<p>治發落不生。</p>
<p>亂髮洗淨，油煎焦，細研為膏，搽之。</p>
<p>又方</p>
<p>青果（五個）　訶子肉（三錢）　官桂　山奈　樟腦（各一錢）　香油（二兩）</p>
<p>將藥入油內浸三日，每早手蘸油擦三十六下，日後無者生也。</p>
<p>又方</p>
<p>鮮猴姜擦之，或生薑浸油擦之。</p>
<p>治發少</p>
<p>側柏葉陰乾，為末，和菜油塗之。</p>
<p>治發黃</p>
<p>羊尿燒灰，和臘豬脂塗之，日三次，候黑乃止。</p>
<p>又方</p>
<p>陳醋煮黑豆汁染之。</p>
<p>治發短</p>
<p>東行棗根三尺，橫火爐上蒸之，兩頭汗出，敷發上。</p>
<p>治發亂</p>
<p>鹿角菜熬成膠，刷發上。</p>
<p>治發槁不潤澤</p>
<p>木瓜浸油搽之。</p>
<p>令髮長黑</p>
<p>香油煎桑葉，去滓沐之。</p>
<p>治發好落</p>
<p>胡桃肉二個，榧子肉二個，側柏葉一錢。</p>
<p>共為細末，擦頭上，或浸水擦頭亦可。</p>
<p>治少白頭</p>
<p>黑芝麻九蒸九曬，研細末，棗肉為丸，每服五錢，開水送下。</p>
<p>又方</p>
<p>枸杞子（三兩）　柿餅（五個）。</p>
<p>酒浸煮爛，同搗為丸如桐子大，每服八十丸，空心茅根湯下。</p>
<p>烏須方</p>
<p>胡桃皮。蝌蚪同搗如泥，磁器盛之，埋地下二十一日，取出塗之。</p>
<p>又方</p>
<p>百藥煎（一兩）　針砂（五錢）　蕎麥麵（五錢）</p>
<p>先洗淨髮須，從荷葉熬醋調刷，再用荷葉包之，次日洗去。</p>
<p>又方</p>
<p>五倍子（一個）　銅末（一錢）　白及（八分）　食鹽（五分）　沒石子（三分）　訶子肉（三分）　細辛（三分）　白礬（三分）　黑礬（六分）</p>
<p>共為細末，熱茶調煮，後入黑礬，再煮至面上生光，用搽鬚髮上，油紙包，立黑。</p>
<p>拔白生黑</p>
<p>母丁香為末，生薑汁調塗孔中，即生黑者。</p>
<p>又方</p>
<p>梧桐子搗汁塗孔中，或豬膽汁塗孔中，俱生黑者。</p>
<p>長鬚方</p>
<p>鹿角尖（二錢）　牙皂（二錢）　皂刺（二錢）　青果（四兩，燒灰存性）　橘子（一枚，取汁）　生薑（取汁）</p>
<p>等分調勻，入磁器內收貯，用木塞口，煮三柱香，晚上用肥皂水洗淨，短鬚用藥搽上，天明洗去，至四十九日，須即長。如欲再長，再搽藥。每日吃核桃一枚，至二七日吃二枚，至三七日吃三枚為例。</p>
<p>治眉毛不生</p>
<p>半夏　白芥子</p>
<p>等分研細末，生薑汁調擦。</p>
<p>又方</p>
<p>黑芝麻花陰乾為末，以黑芝麻油漬之，日塗自生。</p>

<h1>二、面方</h1>
<p>梨花散　治面黑。</p>
<p>白芷　白及　白丁香　白茯苓　白附子　白殭蠶　白蒺藜　皂角（去皮弦，各等分）</p>
<p>共為細末，加豆麵少許，每日洗面用之。</p>
<p>桃花散</p>
<p>密陀僧（二兩）　塞水石（一兩）　官粉（五錢）　硃砂（三錢）　銀硃（三錢）　白及（五錢）　麝香（七分）</p>
<p>共為細末，雞子清調，盛磁器內，用蜜封其口，蒸熟曬乾，再研極細末，洗面用之。</p>
<p>八寶芙蓉散</p>
<p>官粉（一兩）　干胭脂（八錢）　潮腦（八錢）　元明粉（四錢）　烏梅（十個）　硃砂（三錢）　川芎（二錢）　洋糖（二兩）</p>
<p>共為細末，洗面用之。</p>
<p>仙光散</p>
<p>三月三日採桃花，七月七日收雞血，和塗面上，三二日脫下，則顏色光華如仙。</p>
<p>玉光散　兼治風刺。</p>
<p>梨花　李花　櫻桃花　白菜花　紅蓮花　白蓮花　旋花（各六錢）　木瓜花　桃花　青木香　廣木香　丁香　沉香　覆鍾乳粉（各三錢）　珍珠　玉屑（各二錢）　豆麵（七合）</p>
<p>共為細末，收放磁器內，每日㾴靧，用洗手面。</p>
<p>如玉丹　兼治凍裂。</p>
<p>杏仁（一兩）　花粉（一兩）　棗肉（十枚）　胰子（三具）</p>
<p>共搗如泥，好酒四盞浸於磁器中，以潤面手。</p>
<p>玉鏡膏　兼治渣鼻。</p>
<p>金色密陀僧（二兩），研極細末，人乳調或蜂蜜調，每晚蒸熱敷面上，次早洗去。</p>
<p>治面黑</p>
<p>冬瓜一個，竹刀去皮切片，燒酒一壺，米水煮，去渣，熬成膏。每夜塗之，次早洗去。</p>
<p>治面上黯點</p>
<p>白殭蠶（一兩）　黑醜（一兩）　細辛（五錢）</p>
<p>共為細末，煉蜜為丸，洗數次自去。</p>
<p>又方</p>
<p>元荽煎湯洗之，自去。</p>
<p>治雀斑</p>
<p>紫背浮萍　白梅肉　櫻桃枝　牙皂</p>
<p>等分，共為細末，煉蜜為丸，洗面用之。</p>
<p>治汗斑</p>
<p>官粉　硫黃　穿山甲</p>
<p>共為細末，用雙蒂秋茄蘸藥拭之。</p>
<p>又方</p>
<p>密陀僧為末，黃瓜蒂蘸藥拭之。</p>
<p>治紅斑</p>
<p>鱔魚血塗之自去。</p>
<p>治面痣</p>
<p>益母草灰和肥皂洗之。</p>
<p>治面上白駁</p>
<p>白鱔魚脂（一兩，煎）　先刮駁上，令燥疼，以油塗之。</p>
<p>治面上皴裂</p>
<p>豬蹄煮如膠，臥時塗面，次早洗去。</p>
<p>治面上皺裂</p>
<p>桃仁為末，豬脂熬數次，夜臥塗之。</p>
<p>治面上凍瘡</p>
<p>燒酒洗之，或櫻桃汁拭之。</p>
<p>治抓破面皮</p>
<p>輕粉研極細末，生薑汁調敷，無疤。</p>
<p>治面上瘢痕</p>
<p>鷹尿白和人精塗之，三日即光。</p>
<p>又方</p>
<p>茯苓（一兩）　杏仁（一兩）　百部（一兩）　香附（一兩）　天冬（一兩五）　冬瓜子（二兩，去皮）　茨菇根（二兩）　瓜蔞（二個）　甘草（三兩）　豆麵（六兩）　皂角（一斤，去皮弦）　清膠（二兩，酒炙）　益母草灰（四兩）</p>
<p>米泔共搗成餅，焙乾為細末，每日洗面如藻豆用之。</p>
<p>又方</p>
<p>馬齒莧熬水洗之。</p>
<p>又方</p>
<p>雞蛋黃炒黑，日三次拭塗之。</p>
<p>治刺瘊</p>
<p>蜘蛛絲系根上，自落。</p>
<p>治肉瘊</p>
<p>天南星，飛羅面等分研細末，醋調搽之。</p>
<p>治肉瘤</p>
<p>金鳳花科熬水洗之，夏用鮮，冬用干。</p>
<p>清肺飲</p>
<p>治面上粉刺。</p>
<p>白芷　川芎　連翹　黃連　黃參　川貝　梔仁　苦參　荊芥　甘草　桑皮</p>
<p>等分水煎，臨臥時服。</p>
<p>升麻附子湯　治面寒。</p>
<p>升麻（七分）　附子（七分）　炙耆（七分）　葛根（七分）　白芷（七分）　黨參（五分）　草蔻（五分）　益智仁（五分）　蓮鬚（三分）　甘草（五分）　蔥（三寸）</p>
<p>水煎服。</p>
<p>升麻黃連湯　治面熱</p>
<p>升麻（一錢五）　葛根（一錢五）　蒼朮（八分）　白芍（七分）　黃連（六分，酒浸）　黃參（六分，酒浸）　犀角（五分）　川芎（四分）　荊芥（三分）　薄荷（三分）　白芷（二分）　甘草（五分）</p>
<p>水煎，食後服。</p>
<p>除青散　治面上字。</p>
<p>礦石灰（一錢）　煉蓼灰（一錢）　紫蓼灰（一錢）　百草霜（一錢）　黨參（五錢）</p>
<p>共為細末，水調寫字上，有泥起，拂去再寫。</p>

<h1>三、耳方</h1>
<p>聰耳</p>
<p>用綠豆皮填枕頭，常枕不生耳疾。</p>
<p>治耳聾</p>
<p>大貓兒眼珍珠，綿包塞耳內。</p>
<p>治水銀入耳</p>
<p>用金銀著耳邊自出。</p>
<p>飛蛾入耳</p>
<p>醬油灌耳中，即出。</p>
<p>又方</p>
<p>擊銅器於耳邊即出。</p>
<p>螞蟻入耳</p>
<p>穿山甲焙為細末，水調灌之即出。</p>
<p>蚰蜒入耳</p>
<p>香油作煎餅枕臥自出。</p>
<p>又方</p>
<p>活地龍一條，納入蔥葉中，化水滴耳內，蚰蜒亦化成水。</p>
<p>蜈蚣入耳</p>
<p>生薑汁或生韭汁滴耳內即出。</p>
<p>蛆蟲入耳</p>
<p>杏仁搗汁滴耳內，非出即死。</p>
<p>惡蟲入耳</p>
<p>桃葉作枕枕之，蟲自鼻出。</p>
<p>諸蟲入耳</p>
<p>鮮雞冠血滴入即出。</p>
<p>又方</p>
<p>好醋滴耳內即出。</p>
<p>又方</p>
<p>貓尿滴耳內即出。用生薑擦貓鼻自尿。</p>

<h1>四、目方</h1>
<p>明目枕</p>
<p>黑豆皮　綠豆皮　蕎麥皮　草決明　菊花</p>
<p>等分填枕頭，常枕至老，不生目疾。</p>
<p>又方</p>
<p>皮硝（六錢），白水一盅半煎至七分。每遇日期早晨洗一次，不可間斷。洗至三年，有目疾者全愈，無目疾分外光明，千萬不可誤日期。正月初一，二月初一，三月初四，四月初十、十三，十月十三，十一月初四，十二月初四。</p>
<p>飛絲入目</p>
<p>石葛蒲擂碎。左目塞右鼻，右目塞左鼻。</p>
<p>又方</p>
<p>縐紗手帕包白菜，揉汁滴入目即去。</p>
<p>麥芒入目</p>
<p>大麥煮濃汁，洗之即去。</p>
<p>竹木入目</p>
<p>蠐螬搗爛，塗之即出。</p>
<p>沙塵入目</p>
<p>蜣螂一枚，手持其背於目上影之，塵沙自出。</p>
<p>雜物入目</p>
<p>雞肝血滴目中即出。</p>
<p>又方</p>
<p>木梳上垢為丸，放眼角內即出。</p>

<h1>五、口方</h1>
<p>口乾</p>
<p>黨參　熟地　天冬　麥冬　白芍　五味子　烏梅</p>
<p>水煎服。</p>
<p>口酸</p>
<p>柴胡　膽草　黃芩　青皮</p>
<p>水煎服。</p>
<p>口辛</p>
<p>梔子　桔梗　黃芩　桑皮　天冬　麥冬　南沙參</p>
<p>水煎服。</p>
<p>口苦</p>
<p>生地　天冬　麥冬　丹皮　黃連　知母　甘草</p>
<p>水煎服。</p>
<p>口甘</p>
<p>黃芩　白芍　陳皮　花粉　梔子　甘草</p>
<p>水煎服。</p>
<p>口咸</p>
<p>生地　山藥　茯苓　洋瀉　萸肉　丹皮　元參　知母</p>
<p>水煎服。</p>
<p>口臭</p>
<p>生地　石膏　犀牛　石斛　枳殼　茵陳　枇杷葉　竹葉</p>
<p>水煎服。</p>
<p>七香丸</p>
<p>紫蔻仁（一兩）　藿香（八錢）　黨參（五錢）　桂心（三錢）　香附（四錢，炒）　丁香（二錢）　木香（一錢五分）</p>
<p>共為細末，煉蜜丸如桐子大，噙口中化之，出氣亦香。</p>
<p>獸骨鯁喉</p>
<p>象牙磨水咽之即下。牙笱、牙梳皆可用。</p>
<p>又方</p>
<p>狗涎滴耳中即下。或含陳皮咽汁亦下。</p>
<p>魚骨鯁喉</p>
<p>百合（十兩，研末），蜜水調，包圍頸項三五次即下。</p>
<p>又方</p>
<p>貓涎滴口中，即化為水。或含硼砂亦化。</p>
<p>又方</p>
<p>青果核煎水飲之，即消。</p>
<p>骨刺入喉</p>
<p>栗子內薄皮燒灰，研極細末，吹之即下。</p>
<p>又方</p>
<p>鳳仙子研細末，水調服，諸骨皆化。</p>
<p>竹木入喉</p>
<p>威靈仙、紅糖等分，醋煎，飲之即消。</p>
<p>麥芒入喉。</p>
<p>飴糖嚼滿口，咽之即下。</p>
<p>亂髮繞喉</p>
<p>自己亂髮燒灰，開水和服，即消。</p>
<p>誤吞銅錢</p>
<p>荸薺生食數十枚，即化。</p>
<p>又方</p>
<p>核桃多食幾枚，亦化。</p>
<p>誤吞針</p>
<p>蠶豆煮熟，同韭菜食，自下。</p>
<p>誤吞鐵</p>
<p>慄木灰研極細末，紅糖和服三錢，即出。</p>
<p>誤吞金</p>
<p>羊脛骨燒焦，研細末，米湯和服三錢即出。</p>
<p>誤吞金銀器</p>
<p>陳大麥仁炒研作粉，用紅糖拌之，日食三次成碗，三五日即下。止可食米飯大葷，不可飲湯水，或多吃肥肉，自能從大便出。</p>
<p>又方</p>
<p>煉蜜服三升即出。</p>
<p>誤吞金銀錫銅</p>
<p>紅糖一碗，白糖一塊燒紅，放入紅糖內，共搗為膏，多服自下。</p>
<p>又方</p>
<p>砂仁煎濃汁服之，其物自出。</p>
<p>誤吞水銀</p>
<p>柴灰研極細末，煎濃汁服。</p>
<p>誤吞鉛粉</p>
<p>香油和蜂蜜服。</p>
<p>誤吞螞蝗</p>
<p>此物最毒，雖燒灰為末，入水亦活，惟入蜂蜜內即化成水。誤吞者，多食蜜可也。</p>
<p>誤吞蜈蚣</p>
<p>急取生豬血喝之，須臾以清油灌口中，其蟲滾在血內即吐出。再用雄黃米酒調服，解其毒。</p>

<h1>六、齒方</h1>
<p>固齒</p>
<p>石膏、青鹽、白礬等分。</p>
<p>共為細末，指蘸擦牙齒少頃，溫水漱口，日三次，不生齒疾。</p>
<p>無比散　固牙齒，烏鬚髮。</p>
<p>大熟地（二兩，砂仁炒）　地骨皮（二兩，蜜炙）　青鹽（二兩，炒）　沒石子（四錢，公母成對）　破故紙（二錢，酒炒）　細辛（一錢五分，酒洗）</p>
<p>共為細末，每早擦牙良久，白開水嚥下。</p>
<p>白牙散　治牙齒黑黃。</p>
<p>石膏（二兩）　砂鍋（二兩）　青鹽（五錢）　白芷（三錢）　零陵香（二錢五分）　升麻（二錢五分）　細辛（一錢）　麝香（五分）</p>
<p>共為細末，每晨擦牙上，溫水漱口吐出。</p>
<p>牙齒動搖</p>
<p>白鹽末擦之，用溫水含漱百遍。五日內即牢固，或內服還少丹或八味丸更良。</p>
<p>又方</p>
<p>骨碎補一兩炒黑色為末，揩牙根，鹽水漱，良久吐之。</p>
<p>又方</p>
<p>牛齒煅為末擦之，取二錢水煎，熱漱冷吐，日久自固。</p>
<p>牙齒漸長</p>
<p>白朮為末，開水和服，更用白朮煮水灌漱，自愈。</p>
<p>牙落重生</p>
<p>雄鼠脊骨為末，揩折處，復生如故。</p>
<p>雌雄散</p>
<p>雌雞糞　雄雞糞　舊麻鞋底</p>
<p>三物等分燒為末，入麝香少許，摻折處一月生齒。</p>
<p>又方</p>
<p>齒初落一枚，則用布瓦焙為末，典酒調服，永不再落。</p>

<h1>七、鼻方</h1>
<p>人馬平安散　治百病。</p>
<p>赤金（二十張）　明雄（二錢）　硃砂（一錢五分）　硼砂（一錢五分）　枯礬（一錢）　良薑（一錢）　朴硝（五分）　蓽菝（一個）　青鹽（三分）　冰片（二分）　麝香（一分）</p>
<p>共為細末，吹鼻中。男左女右。</p>
<p>神愈散　治肺熱鼻塞，不聞香臭。</p>
<p>歌曰：</p>
<p>細辛白芷與防風，</p>
<p>羌活當歸半夏芎。</p>
<p>桔梗茯苓陳皮輩，</p>
<p>一般等分銼和同。</p>
<p>七分薄荷姜煎服，</p>
<p>氣息調勻鼻塞通。</p>
<p>治鼻血不止</p>
<p>附子為末，蒜搗如泥，塗兩腳心自止。</p>
<p>又方</p>
<p>生地（一兩）　麥冬（八錢）　元參（五錢）　降香（一錢五分）</p>
<p>水煎服。</p>
<p>又方</p>
<p>茅根煎濃汁服，即止。或溫水洗腳即止。</p>

<h1>八、聲音方</h1>
<p>鐵笛丸</p>
<p>治聲嘶失音。</p>
<p>生地（一兩，酒浸）　當歸（二兩，酒浸）　天冬（五錢，鹽炒）　麥冬（五錢，鹽炒）　黨參（五錢，蒸）　訶子肉（五錢，酒蒸）　知母（五錢，鹽炒）　阿膠（五錢，炒珠）　黃柏（五錢，蜜炙）　烏梅（十五個）</p>
<p>共為細末，外入人乳一杯，牛乳一杯，梨汁一杯，煉蜜為丸如桐子大，每服百丸，蘿蔔湯下。</p>
<p>好音丸　治同前。</p>
<p>杏仁炒去皮尖，研極細末，入豬脂一兩，煉蜜丸如桐子大，每服五七十丸，米湯送下。</p>
<p>通音膏</p>
<p>白蜜（六兩）　核桃仁（二兩）　冬花（二兩）　川貝（一兩）</p>
<p>共為細末，和蜜成膏，隨飯蒸熟，每用三錢，空心開水送服。</p>
<p>又方</p>
<p>杏仁（三兩，炒去皮尖）　蘇子（二兩，炒）　百藥煎（二兩）　訶子肉（二兩，煨）</p>
<p>共為細末，每服三錢，黃酒送下。</p>
<p>又方</p>
<p>桔梗　烏藥　甘草　烏梅等分</p>
<p>水煎服。</p>
<p>又方</p>
<p>生白礬煉蜜為丸，開水送下。</p>

<h1>九、周身方</h1>
<p>香肌散　兼治風癬。</p>
<p>當歸　川芎　羌活　獨活　白芷　防風　荊芥　翻白草　藿香　細辛　甘松　藁本　紅花　皂角（去皮弦）</p>
<p>煮水沐浴。</p>
<p>治癢癢疙瘩</p>
<p>荊芥　防風　白芷　川芎　當歸　白芍　茜草　蛇床子　地骨皮　川椒　蒺藜　透骨草　苦參</p>
<p>等分熬水沐浴。</p>
<p>又方</p>
<p>金銀花　地骨皮　猴綿筋　川椒</p>
<p>熬水洗之。</p>
<p>德州肥皂方</p>
<p>白芷（三兩）　細辛（七錢）　獨活（五錢）　赤小豆（五錢）　肥皂（一斤）</p>
<p>共為細未，和蜜為丸，洗面洗澡皆可用之。</p>
<p>六香散</p>
<p>二醜（十兩）　皂角（四兩，去皮弦）　零陵香（二兩）　天花粉（二兩）　甘松（二兩）　白芷（二兩）</p>
<p>共為細末，洗澡用之。</p>
<p>天香散</p>
<p>藿香（一兩五錢）　零陵香（一兩）　甘松（一兩）　桂心（五錢）　紫蔻仁（二兩）　益智仁（一兩）　當歸（六兩）　白芷（六錢）　檳榔（六錢）　丁香（三錢）　木香（三錢）　麝香（五分）</p>
<p>共為細末，煉蜜丸如桐子大，空心噙化五七丸，遍身皆香。</p>
<p>四香丸</p>
<p>紫蔻仁　冬瓜子（去皮）　松樹皮（去粗皮）　桂心</p>
<p>共為細末，煉蜜為丸如桐子大，空心噙化五七丸，遍身皆香。</p>
<p>輕身丸</p>
<p>黃精切片，九蒸九曬，煉蜜為丸，每服五錢，三年可平飛過岸。</p>
<p>大力丸</p>
<p>厚地黃九蒸九曬，煉蜜為丸如桐子大，每服三錢，開水送下。</p>
<p>耐飢丸</p>
<p>海松子九蒸九曬，炒研為末，去油煉蜜為丸如桐子大，每服三錢，溫酒送下，久服不飢。</p>
<p>耐老丸</p>
<p>柏子仁九蒸九曬，炒研為末，去油煉蜜為丸如桐子大，每服三錢，溫酒送下，久服不老。</p>
<p>仙蓮丸</p>
<p>七月七日採蓮花七兩，八月八日採蓮根八兩，九月九日採蓮子九兩。陰放半乾，砂鍋蒸熟曬乾，研細末，煉蜜為丸如桐子大。每服三錢，開水送下。久服快志悅色，延年不老。</p>
<p>伏桑丸</p>
<p>桑葉（伏天採取，酒浸曬乾）　懷山藥　黑芝麻　藥黑豆四味（各二斤）</p>
<p>共為細末，入蜂蜜三斤，和成塊，每塊切一兩二錢，共切二百塊，用蓮葉墊定，以籠蒸之。每服一塊，早晚空心鹽湯送下，百日服完，不可間斷，有病服之，百日全愈。無病服之，百病不生。</p>
<p>仙家服槐子方</p>
<p>十月上已日，收放新磁器中盛之，以盆合其上，密封其口，勿令走氣。三七二十一日，開取去皮，從月初一日服起一粒，日加一粒，至月半，日少一粒，周而復始。上服令人夜看細書，氣力百倍。</p>
<p>服藥豆方</p>
<p>何首烏（一兩）　肉蓯蓉（八錢）　巴戟天（六錢）　青鹽（八錢）　破故紙（六錢）　小茴香（六錢）　藥黑豆（三斤）</p>
<p>同入砂鍋煮透，曬乾去藥，食豆。益氣力，壯筋骨。</p>

<h1>十、茶酒方</h1>
<p>戒茶</p>
<p>男用女，女用男新鞋，盛茶令滿，任意喝盡，再喝一鞋，如此三度，自不喝也。</p>
<p>戒酒</p>
<p>好酒七斤，硃砂五錢，裝瓶內緊封瓶口，放豬圈中，任豬搖動七日，取出頓飲。</p>
<p>又方</p>
<p>蠐螬研細，沖酒服之，永不再飲。</p>
<p>百杯不醉。</p>
<p>葛根（二兩）　白梅肉（五錢）　葛花（三錢）　薄荷（二錢）</p>
<p>共為細末，茶酒沖服皆可。</p>
<p>又方</p>
<p>葛子（三錢）　紫蔻仁（三錢）　青果核（三錢）　檳榔（三錢）</p>
<p>共為細末，煉蜜為丸，噙舌下。</p>
<p>一杯醉倒</p>
<p>無花果（一個，焙乾）　醉仙花（一錢）　共為細末，入酒杯內，飲之即醉。</p>
<p>又方</p>
<p>鵓鴿屎研細末，入酒杯內，飲之即醉。</p>
<p>引飲方</p>
<p>葛根、紫蔻、丁香、砂仁（各五錢）　百藥煎、甘草（各二錢五分）　木瓜（四兩）　炒鹽（一兩）</p>
<p>共為細末，溫酒調服一錢。素不飲者，亦能飲。</p>
<p>千里茶</p>
<p>沙糖（四兩）　薄荷（四兩）　茯苓（三兩）　甘草（一兩）</p>
<p>共為細末，煉蜜丸如棗大，每噙化一丸。行千里不渴。</p>
<p>假大煙</p>
<p>高麗參（一兩）　兒茶（一兩）　潞黨參（二兩）　天冬（二兩）　麥冬（二兩）　木蓮花（一兩）</p>
<p>共合一處，水煮三五滾，用花尖紙過籠，如熬煙法，打泡進鬥，則過癮。</p>

<h1>十一、雜方</h1>
<p>治男子怯弱</p>
<p>天雄（二枚），細雄雞腸中，搗爛蒸食之。令人有勇。</p>
<p>禦寒湯</p>
<p>炙黃耆（三錢）　焦白朮（二錢）　茯苓（一錢五分）　廣皮（一錢）　肉桂心（八分）　五味子（十五粒）</p>
<p>姜引，水煎服，避寒氣。</p>
<p>忘冷湯</p>
<p>茯苓、天冬等分，共為細末，溫酒和服。每服三錢，日二服。雖大寒天，亦出汗不冷。</p>
<p>治腋下狐臭</p>
<p>先用自己小便洗一次，又用米泔洗一次，再用生薑汁頻塗除根。</p>
<p>縮陽丹</p>
<p>水蛭九條，入水碗養至七月七日，取出陰乾，稱有多少，麝者、蘇合三味等分，研細末，蜜和為餅。陽興時，用少許擦左腳心立刻陽縮，過時復興，再擦可也。</p>
<p>又方</p>
<p>芒硝四兩，兩手捧住，任他流水，陽自縮。</p>
<p>又方</p>
<p>鮮絲瓜藤搗爛，塗自莖自縮。</p>
<p>治夫婦不和。</p>
<p>鴛鴦肉作羹，私與食之，即恩愛和好。</p>
<p>又方</p>
<p>五月五日取布穀鳥腳、腦、骨帶之，亦恩愛和好。</p>
<p>治婦人忌姤</p>
<p>天冬（去心，炒）　赤黍米（炒）　薏苡仁（炒，等分）</p>
<p>共為細末，水丸如桐子大，每服五錢，開水送下。</p>
<p>又方</p>
<p>鴿鷓肉食之，不忌姤。</p>
<p>治男子遺尿</p>
<p>雄雞肝，肉桂心等分，同搗，為丸如小豆大。每服一丸，米湯送下。</p>
<p>治婦人遺尿</p>
<p>雄雞翎燒灰，研細末，溫酒和服。</p>
<p>治男婦尿床</p>
<p>蔥頭（七錢）　雄黃（二錢）</p>
<p>同搗，用布包臍上，即不尿。</p>
<p>又方</p>
<p>白紙一張，鋪身下，待尿紙上，取出曬乾，燒灰，浸酒和服。</p>
<p>治小兒尿床</p>
<p>龜尿滴臍中即不尿。荷葉放盆內，龜放荷葉上，用鏡照，龜見影自尿。</p>
<p>治小兒夜啼。</p>
<p>五倍子研細末，津調填臍上即止。</p>
<p>畫眉膏　令小兒斷乳。</p>
<p>雄黃（二分）　雌黃（二分）　硃砂（二分）　麝香（二分）　輕粉（一分）</p>
<p>共為細末，待小兒睡熟，用香油調擦兩眉間及眉毛上，即不思乳。</p>
<p>治小兒五歲不語</p>
<p>赤小兒研細末，酒和敷舌下。</p>

<h1>十二、足方</h1>
<p>軟足散</p>
<p>白芷（五錢）　防風（五錢）　細辛（二錢）　川芎（二錢）　山奈（二錢）</p>
<p>共為細末，撒鞋底，行路腳汗皆出香。</p>
<p>治腳汗</p>
<p>蘿蔔湯洗之，仍用枯礬末摻之。</p>
<p>治腳凍</p>
<p>秋茄根熬湯洗之。如破皮，用螃蟹殼燒灰，研末摻之。</p>
<p>治腳疼　兼治肉刺雞眼。</p>
<p>黃丹　枯礬　朴硝</p>
<p>等分為末，炒蔥白和塗之。</p>
<p>穩步膏　治雞眼。</p>
<p>地骨皮　紅花</p>
<p>等分為末，塗之。</p>
<p>又方</p>
<p>蜈蚣（一錢，焙）　硼砂（一錢）　白礬</p>
<p>共為細末，香油浸埋土中，十一月取出，點之自落。</p>
<p>理腳散</p>
<p>當歸（一兩）　川芎（五錢）　桂枝（三錢）　牛膝（一錢五分）</p>
<p>水煎溫服，裹腳不疼。</p>
<p>又方</p>
<p>當歸（三錢）　牛膝（二錢）</p>
<p>水煎，空心服。外用蕎麥稈煮湯，加枯礬浸洗數次。</p>
<p>束腳散</p>
<p>猴骨（一兩）　枯礬（一兩）　威靈仙（六錢）　皮硝（五錢）　川椒（五錢）</p>
<p>熬水洗之，瘦則易裹。</p>
<p>又方</p>
<p>鳳仙科熬水洗腳，軟則易裹。</p>
<p>又方</p>
<p>茄柴（一科）　蕎麥稈（一把）　礞石（三錢）　血竭（三錢）　皮硝（三錢）　沒藥（三錢）　乳香（一錢五分）　猴骨（二錢）</p>
<p>熬水洗腳，勿著手，著手手亦小。</p>
<p>治行路腳疼</p>
<p>草烏　細辛　官桂　防風　山奈</p>
<p>等分共為細末，襯鞋底。</p>

<h1>十三、救飢方</h1>
<p>黑豆（一斤，炒）　芝麻（一斤，炒）　江米（一斤，炒）　茯苓（四兩）</p>
<p>共為細末，用青布囊盛之。每服三錢，開水送下，日三服，不飢。</p>
<p>又方</p>
<p>黃耆（炙）　龍骨（煅）　赤石脂（各三錢）　烏頭（炮）　防風（各一錢）</p>
<p>同入石臼內搗一千杵，煉蜜丸如彈子大，每行路吃飽飯一頓，服藥一丸，可行五百里，服藥二丸，可行一千里。</p>
<p>又方</p>
<p>芝麻：江米炒研細末，煮棗肉為丸如彈子大。每服一丸，一日不飢。</p>
<p>又方</p>
<p>黑豆同鐵角風尾草蒸熟，揀去草，每服豆五七粒，終日忘食。</p>

<h1>十四、諸傷方</h1>
<p>葦刺入肉</p>
<p>栗子生嚼，敷之即出。</p>
<p>竹刺入肉</p>
<p>牛膝生嚼，敷之即出。</p>
<p>竹木入肉</p>
<p>老薑細嚼，敷之即出。</p>
<p>又方</p>
<p>羊屎燒灰，豬脂和塗之即出。</p>
<p>針刺入肉</p>
<p>車脂油攤紙上貼之，二日一易，三五次即出。</p>
<p>箭鏃入肉</p>
<p>螻蛄腦同硫磺研細熬之，覺癢即出。</p>
<p>又方</p>
<p>頭上蝨子、人牙　同研塗之即出。</p>
<p>銃子入肉。</p>
<p>蜂蜜沖好酒，飲醉即出。</p>
<p>鳥槍子入肉</p>
<p>煮陳臘肉皮，連膘揭下。貼傷處，看膘油化盡，又換，頻換數日即出。</p>

<h1>十五、諸蟲傷方</h1>
<p>蠍子蜇</p>
<p>生半夏　生南星　生川烏　生草烏　白芷　膽礬</p>
<p>共為細末，水調塗之。</p>
<p>毒蜂蜇</p>
<p>生半夏、生白礬研細末，和醋塗之。</p>
<p>蠍虎咬</p>
<p>桑葉燒灰，水煎數沸，濾濃汁，和白礬末塗之。</p>
<p>蠶咬</p>
<p>麝香和蜂蜜敷之。</p>
<p>蝸牛咬</p>
<p>蓼子嚼汁敷之。</p>
<p>螻蛄咬</p>
<p>醋和石灰敷之。</p>
<p>蚯蚓咬</p>
<p>雞屎塗之，或鹽水浸之。</p>
<p>蜈蚣咬</p>
<p>雞冠血塗之，或嚼胡椒塗之。</p>
<p>蜘蛛咬</p>
<p>重者遍身生絲，腹大如孕，不治則死。治法頻飲羊乳，外用生薑汁調水粉塗之，輕則香油和食鹽敷之。</p>
<p>毒蛇咬</p>
<p>重則用雄黃、五靈脂（各五錢），酒調服，渣敷患處，輕則用眉豆葉搗爛絞汁，酒沖服，渣敷患處。</p>
<p>蛇入七竅挽不出，急以刀傷蛇尾，納川椒、胡椒三五粒，裹著即出。又以艾炙蛇尾即出。後以雄黃末調人參湯服之，解蛇毒。</p>
<p>凡卒為蛇繞不解，以熱湯蕩之，或令人尿之亦解。</p>
<p>八角蟲</p>
<p>隱於壁內，以尿射人，生瘡如湯火傷。烏雞翎燒灰，雞蛋清調塗之，或生犀角磨水塗之。</p>
<p>金蠶蟲</p>
<p>南方有之，能入人腹。中毒者，嚼白礬味甘，嚼黑豆不腥是也。石榴根皮煎濃汁服，吐出活蟲即愈。此蟲刺猥能捕獲。</p>
<p>應聲蟲</p>
<p>在腹內隨人言語。生薑汁一盞，分五次服，或青黛水調服。</p>
<p>飲油蟲</p>
<p>頭髮入胃，氣血裹化為蟲，最喜飲油者是也。雄黃五錢為末，白水調服。</p>
<p>人咬</p>
<p>先用童便飲之，次用小米嚼爛敷之。或龜版燒灰，油調敷之。</p>
<p>馬咬</p>
<p>馬齒莧煎湯飲之，外嚼栗子敷之。</p>
<p>狗咬</p>
<p>虎骨（煅）研末塗之。或桑樹砍出自然汁塗之，或嚼杏仁敷之。</p>
<p>瘋狗咬</p>
<p>防風（獨莖者良）、南星（制七次，曬乾）、殭蠶（炒斷絲）、白芷等分。</p>
<p>共為細末，每服三錢，黃酒和童便服，出汗自愈。</p>
<p>貓咬</p>
<p>薄荷葉細嚼，敷之。</p>
<p>鼠咬</p>
<p>貓毛燒灰，入麝香，唾調敷之。</p>
<p>凡一切毒蟲咬傷，內用白雞血熱飲之，外用蛇蛻煎湯洗之。</p>
<p>凡瘋狗、毒蛇咬傷，急以新糞塗之，好遲時用藥。</p>
<p>凡百蟲咬蜇，宜於傷處上下扎縛，使毒不走散。食蒜、飲酒令飽，使毒不攻心。或礬石甘草等分為末，冷水調服三錢。更搗蒜敷患處，加艾灸之。</p>

<h1>十六、闢蟲方</h1>
<p>藏書闢蟲</p>
<p>芸香燒煙燻之。</p>
<p>藏筆闢蟲</p>
<p>黃柏、川椒煎湯染之，或硫黃研水浸之。</p>
<p>裱畫闢蟲</p>
<p>生白礬、川椒、黃蠟共為細末，入糊裱之。或臘雪水打糊裱之。</p>
<p>床帳闢蟲</p>
<p>長莖浮萍兩邊生葉者，焙乾，放床上，燒煙燻之。</p>
<p>衣裳闢蟲</p>
<p>野菊花（三錢，研細末）　水銀（三錢）　白果（三十枚）</p>
<p>同搗和勻，漿衣裳用之。</p>
<p>又方</p>
<p>端午日取蒿苣葉放櫃箱內，闢蟲。</p>
<p>毛衣闢蟲</p>
<p>硼砂洗之。</p>
<p>氈衣闢蟲</p>
<p>生芋擦之。</p>
<p>諸物闢蟲</p>
<p>荸薺菜曬乾，燒煙燻之。</p>
<p>點燈闢蟲</p>
<p>荸薺菜梗作燈棒，能闢蟲。故荸薺菜，一名護生草。</p>
<p>又方</p>
<p>臘雪水浸燈草，曬乾點之。</p>
<p>點燈闢鼠</p>
<p>蟹中黃（陰乾）　鱉甲　芸香　安息香</p>
<p>共為細末，焚於室中四壁，其鼠自走。</p>
<p>闢蛇</p>
<p>雞糞放上風頭燒之，蛇自去。</p>
<p>闢蠅</p>
<p>藁本煎湯浸抹布，抹桌子並酒器，蠅自去。</p>
<p>闢蚊子</p>
<p>鱉甲　藜蘆　苦參　川芎　芫花　楝花等分。</p>
<p>共為細末，棗肉為丸，曬乾點之。</p>
<p>又方</p>
<p>夜明砂　鱉甲等分為末，燒煙燻之。</p>
<p>又方</p>
<p>木鱉子　雄黃　川芎等分，為末熏之。</p>
<p>闢臭蟲</p>
<p>百部（二兩）　芸香（二兩）　鱉甲（兩八）　白芷（兩七）　甘草（兩五）　雄黃（兩二）　蛇床子（一兩）　硫黃（一兩）　浮萍（一兩）　蟹殼（十個）　木鱉子（三十個）</p>
<p>共為細末，入炭火內，閉門，燒煙燻之即出。</p>
<p>又方</p>
<p>蜈蚣研細末，燒煙燻之。</p>
<p>又方</p>
<p>青鹽灌洗床帳，臭蟲永絕其跡。</p>

<h1>十七、汙衣方</h1>
<p>墨汙衣</p>
<p>生白果　生半夏　生杏仁</p>
<p>搗爛擦之，即去。</p>
<p>血汙衣</p>
<p>蘿蔔細嚼，擦之即去。</p>
<p>膿汙衣</p>
<p>好酒滾熱，擺之即去。</p>
<p>油汙衣</p>
<p>石脂水調塗之，即去。</p>
<p>桐油汙衣</p>
<p>豆渣洗之即去。</p>
<p>漆汙衣</p>
<p>先用油洗，再用皂角擺之，即去。</p>
<p>膠泥汙衣</p>
<p>先用生薑拭過，擺之即去。</p>
<p>膏藥汙衣</p>
<p>米泔浸二日，再用熱酒浸三五次，清水擺之即去。</p>
<p>醬醋汙衣</p>
<p>藕汁擦之即去。</p>
<p>大煙汙衣</p>
<p>大煙柴淋灰火，洗之即去。</p>
<p>瓜子仁嚼碎，洗之即去。</p>
<p>蟲糞汙衣</p>
<p>燈心蘸水擦之即去。</p>
