<header data-type="book">
<h1>瘍科指南醫案</h1>
</header>

<h1>序</h1>
<p>瘍科名目甚繁，舉其要不外乎虛實寒熱四大提綱。名為外科，實與內科同出一源。書云：成於中，形於外。此即是治外科之宗旨也。樂亭王太夫子幼習岐黃，精究靈素，效法仲景，迨內科功成之後，復參瘍科。故太夫子之治外症也，與泛乎言醫不同矣。對口發背疔毒流注諸大症，諸醫束手無策矣，而太夫子尤能洞悉其源，按步進齊，挽回造化，故邑乘已載於醫術門。其學問之高超毋庸重述耳。此按乃太夫子親診之按，授用康華業師者，此令長男豫貞錄而寶之。略序緣起俾不忘業師華夫子培植之恩焉。</p>
<p><u>光緒二十六年歲次庚子仲冬受業小門人燿南謹序於梁溪橘庵</u></p>

<h1>頭部</h1>
<p>小門人李燿南維賢甫編輯</p>
<p>（案1）陳，左。偏腦疽，腫連面目，雖系不避風寒起見，第恐散漫，則為害非細。</p>
<p>綿耆（六錢）　角刺（三錢）　當歸（三錢）　炙甲片　羌活（一錢）　廣皮（一錢）　生草（一錢）　連翹（三錢）　花粉（一錢）　赤首烏（五錢）　荊芥（一錢）　銀花（八錢）　防風（一錢）　川芎（一錢）　木香（三分）</p>
<p>（案2）周，左。腦後板而頭重，有因風客太陽，有因上氣不足，有因腎不藏。且宗風客太陽為治。</p>
<p>虎頭骨（四錢）　綿耆（六錢）　羌活（一錢）　桑葉（一錢）　鹿角霜（三錢）　川芎（一錢）　當歸（三錢）</p>
<p>（案3）腦疽偏於右半，頂不高，根不束，色帶紫，此氣血不充之見證。沈年逾六旬，欲其起發脫腐生新收口，無變，豈不難乎？速速重劑托解，十日內頂高根束，飲食加增乃是轉機。如蔓延不已、惡證頻添，則為害非細也。</p>
<p>羌活　綿耆　草節　當歸　連翹　川芎　銀花　廣皮　香附　穀芽　焦白朮　甲片（炙）　角刺　丹皮　荊芥　乳香（一錢，去油）　沒藥（一錢，去油）</p>
<p>專方原加洋參（一錢）</p>
<p>（案4）秦。腦疽潰陷見骨，飲食不貪，用大劑固托兼以透解。十日內不致神昏，或可挽回。</p>
<p>洋參（二兩）　黃耆（三兩）　銀花（二兩）　扁豆（一兩）　冬朮（一兩五錢）　川芎（三錢）　荊芥（炒，三錢）　羌活（一錢半）　木香（七分）　焦曲（三錢）　當歸（五錢）　赤苓（三錢）　廣皮（三錢）　乳香（去油，五分）　棗仁（三錢）　生甘草（三錢）</p>
<p>另用生熟穀芽二兩煎代。</p>
<p>五六劑後胃口漸起，腐肉漸脫，肌肉漸生，逐漸減去攻散之味，加熟地、白芍等。服至七十餘劑收功。</p>
<p>（案5）曾，孩。胎中蘊熱，熱極生風，風熱引濕上行，頭面生瘡浸淫赤爛，屢愈屢發，毒不清也。勢甚如此，何妨寒涼，暫服以清其熱。</p>
<p>胡黃連（三分）　黃芩（五分）　荊芥（五分）　防風（五分）　赤苓（一錢）　澤瀉（四分）　桑白皮（四分）　地骨皮（四分）　連翹（六分）　石菖蒲（一分）　木香（一分）</p>
<p>又方　綿耆（三錢）　當歸（一錢）　苡米（一錢半）　銀花（一錢）　生草（五分）　桑皮（四分）　防風（四分）　黃芩（五分）　砂仁（三分）</p>
<p>加鮮側柏葉三分。</p>
<p>（案6）何，左。百會發。</p>
<p>黃耆（四錢或六錢）　當歸（二錢）　川芎（一錢）　甘草（一錢）　加銀花</p>
<p>復診　原方加藁本（一錢）　花粉（一錢）　角刺（二錢）</p>
<p>（案7）陳，左。豆渣瘤。</p>
<p>羌活（六分）　川芎（六分）　大貝母（一錢）　半夏（一錢）　橘紅（一錢）　甘草（一錢）　姜（一片）</p>
<p>又方　紫金錠、生南星、生半夏，醋磨搽。</p>
<p>（案8）腦後生疽原是重大之症，本要極其小心，飲食寒暖不可不慎，否則陽症亦能變陰。</p>
<p>羌活（一錢）　中生地（三錢）　陳皮（二錢）　生冬朮（三錢）　川芎（一錢半）　白芍（炒，一錢）　洋參（三錢或四錢）　焦穀芽（五錢）　荊芥（炒，一錢或一錢半）　紅花（四分）　甘草節（一錢或一錢半）　黃耆（一兩或一兩五錢）　銀花（七錢）　生赤首烏（五錢）　木香（磨沖，四分）</p>
<p>復診　去首烏。</p>
<p>（案9）朱，左。一名偏疽，一名燕尾毒。色紫漫腫，發於左半，頂不高，起泡，此發於肝鬱，出於太陽部位。太陽為寒水之腑，其氣不足易於下陷，故宜以托為先。肝鬱者，喜條達兼以疏之為貴。</p>
<p>黃耆（一錢半）　柴胡（五分）　桔梗（一錢）　甘草（二錢）　當歸（六錢）　甲片（炙，一錢）　白芍（一錢）　銀花（一兩）　川芎（二錢）　角刺（三錢）　木香（五分）</p>
<p>（案10）張，右。腦後疽。</p>
<p>黃耆（四錢）　洋參（二兩二錢）　冬朮（二兩）　山藥（一兩）　銀花（二兩）　穀芽（炒，二兩）　生熟地（二兩）　首烏（一兩）　當歸（一兩）　扁豆（六錢）　羌活（三錢）　川芎（五錢）　枳殼（一錢）　木香（一錢）　陳皮（一錢）　甘草（三錢）　角刺（四錢）　甲片（炙，一錢半）　紅花（一錢）　荊芥（三錢）　白芍（炒，五錢）　丹皮（三錢）　連翹（三錢）　生薑（三片）</p>
<p>（案11）嚴，左。對口發於督脈，頂雖未起而根腳不散，乃半陰半陽之症。所慮年高氣血已枯，不可不兼護托。</p>
<p>黃耆（八錢或一兩）　角刺（三錢或四錢）　炙甲片（一錢）　木香（六分）　大貝（一錢）　荊芥（一錢）　茯苓（一錢半）　川芎（一錢或三錢）　生赤首烏（一兩）　羌活（一錢或二錢）　甘草（一錢或二錢）　銀花（一兩五錢）</p>
<p>復診　根散矣，究屬年高氣衰血枯之故，急急大劑托解。投後，明日宜看宜酌，切勿出外勞動受寒，致生變端也。</p>
<p>原方加當歸一兩、紅花七分，去首烏、貝母、茯苓。加生熟穀芽一兩煎代。</p>
<p>（案12）董，右。疽生腦後，偏於右半，色雖紫，頂尖而高，急急內托，俾毒外出即無妨。</p>
<p>角刺（二錢）　當歸（三錢）　黃耆（八錢）　川芎（一錢）　甲片（一錢半）　甘草節（一錢）　銀花（一兩）　連翹（二錢）　焦穀芽（四錢）　羌活（一錢）</p>
<p>（案13）徐，童。抱頭火。</p>
<p>薄荷（一錢）　甘草（四分）　羚羊角（五分）　黃芩（八分）　防風（五分）　甘菊（五分）　連翹（一錢）　牛蒡子（一錢）　銀花（一錢半）　滑石（一錢）</p>

<h1>鼻部</h1>
<p>（案1）徐，左。肺氣窒塞，鼻竅生痔。</p>
<p>白芷（一錢）　辛夷（八分）　桔梗（一錢）　枳殼（八分）　紫蘇（一錢）　杏仁（二錢）　寒水石（二錢）　通草（一錢半）　桑白皮（三錢）　地骨皮（一錢半）</p>
<p>（案2）陳，左。腦漏鼻淵更兼頭痛，無非濕鬱化火，火動風生，清空之地受邪為患，宜開泄肺經，以鼻為肺竅也。</p>
<p>川芎（一錢）　白芷（一錢）　辛夷（八分）　赤苓（三錢）　茶葉子（十粒）　蔓荊子（一錢半）　黃芩（一錢）　桔梗（一錢）　苡米（一兩）　姜（一片）　加鮮藿香（一錢）、近根絲瓜藤（一尺）</p>
<p>（案3）某，右。鼻中出膿。</p>
<p>桔梗（一錢）　黃芩（一錢）　苡仁（五錢）　辛夷（六分）　石膏（三錢）　甘草（一錢）　川芎（八分）　白芷（七分）　紫蘇（一錢）　加絲瓜藤（七寸）。</p>
<p>（案4）惠，右。腦漏是清氣不升，濁氣不降所致。</p>
<p>升麻（三分）　柴胡（三分）　炙草（四分）　黨參（三錢）　當歸（三錢）　茯苓（一錢半）　黃耆（六錢）　冬朮（三錢）　川芎（四分）　加廣藿（一錢）、茶葉子（三分）</p>
<p>（案5）華，右。肝陽上熾，肺經受爍，鼻竅因而塞閉，腦門亦覺不適，久之不清，非腦漏鼻痔之根也。</p>
<p>桂枝（五分）　苡米（三錢）　通草（三分）　茶葉子（三分）　鮮藿香（二片）　北沙參（二錢）　香附（三分）　黑山梔（三分）　鮮玫瑰（一朵）　鮮茉莉花（三朵）</p>

<h1>耳部</h1>
<p>（案1）徐，左。耳為腎竅，少陽附焉。為腫為痛者，惟恐成癰。</p>
<p>柴胡（六分）　黃芩（一錢）　薄荷（一錢）　生山梔（一錢）　銀花（四錢）　甘草（一錢）　川芎（一錢）　夏枯草（二錢）　白芍（一錢）　防風（一錢）　連翹（二錢）</p>
<p>（案2）潘，左。耳挺、耳菌、耳痔之類也。</p>
<p>柴胡（三分）　連翹（一錢）　白芍（炒，一錢）　草節（一錢）　夏枯草（一錢）　丹皮（一錢）　黑梔（一錢）　銀花（三錢）　當歸（二錢）</p>
<p>（案3）王，左。耳為腎竅，肝亦寄之。出血流膿作痛，良由肝陽亢逆火動風生，為此時覺頭暈眩，法當壯水涵之。</p>
<p>生地（四錢）　丹皮（一錢）　山梔（三錢）　山藥（三錢）　澤瀉（一錢）　茯苓（一錢半）　白芍（一錢）　甘草（五分）　桑葉（一錢）　當歸（一錢）　甘菊（一錢）　玉鬱金（炒，五分）　夏枯草（一錢）</p>
<p>（案4）某，右。癰生於耳，流膿多而氣血傷。脈數，牙關不開，柴胡四物加減。</p>
<p>柴胡（三分）　川芎（一錢）　當歸（三錢）　大生地（四錢）　紅花（四分）　殭蠶（一錢）　牛蒡（二錢）　黃芩（一錢）　梔子（一錢）　連翹（二錢）　甘草（一錢）　洋參（一錢）　銀花（五錢）　秦艽（二錢）　香附（二錢）　丹皮（二錢）　丹參（三錢）　夏枯草（二錢）</p>
<p>（案5）金，右。風入少陽、陽明，耳竅流膿、口角歪斜由來已久，邪未盡徹而氣血虧矣。</p>
<p>柴胡（四分）　川芎（一錢）　白芷（一錢）　殭蠶（一錢半）　黃芩（五分）　洋參（二錢）　甘草（五分）　全蟲尾（一條）　當歸（三錢）　銀花（二錢）　引鬼箭羽（二錢）、雍正錢（十個）</p>
<p>（案6）王，右。耳竅流膿由來數月，痛不減而脈至細數無力。用擬歸芍六味加減以滋肝腎之陰，兼少陽之火。</p>
<p>生地（八分）　茯苓（三錢）　當歸（三錢）　丹皮（一錢半）　澤瀉（二錢）　白芍（三兩）　黑梔（一錢）　甘草（一錢）　山藥（三錢）　銀花（五錢）　香附（一錢）　夏枯草（二錢）</p>
<p>（案7）王，右。耳癰。</p>
<p>柴胡（五分）　黑梔（一錢）　黃芩（一錢）　連翹（二錢）　銀花（三錢）　薄荷（一錢）　牛蒡子（二錢）　甘草（一錢）　歸尾（一錢）</p>
<p>（案8）莊，左。肝血不充而多鬱悶，耳下結核連肩，隱隱作痛。</p>
<p>柴胡（三分）　白芷（一錢半）　茯苓（二錢）　當歸（四錢）　焦白朮（二錢）　石決明（五錢）　殭蠶（三錢）　甲片（炙，一錢）　炙甘草（六分）</p>

<h1>目部</h1>
<p>（案1）周，童。不腫不痛，非外風也。無翳，無腫，無胬肉，無紅筋，並非火也。其視不明，至夜尤甚，乃腎水有虧，肝血不足。至於眼包寬縱者，關乎脾氣不運、絡脈有虧。寒涼發散決無此理。培補脾腎兼以養血一定方法，但培原固本之久，自然見功。欲求速，勢所不能。</p>
<p>川芎（三分）　當歸（一錢半）　生熟地（各二錢）　白芍（炒，一錢）　洋參（一錢）　冬朮（一錢）　甘菊（炒，一錢）　石決明（三錢）　杞子（二錢）　夜明沙（二錢）　加不落水豬肝（一片）</p>
<p>（案2）範，左。肝開竅於目，其液為淚。今近風淚流不止，時而乾澀，入夜目珠疼痛，此屬肝血不足。擬六味以壯水涵木兼熄內風，即子虛補母之義。</p>
<p>六味飲加當歸、白芍、杞子、甘菊、香附、桑葉、夏枯草</p>
<p>（案3）郭，右。兩目失明，右目風輪翳起，左目內障瞳神，脈見弦數，肝陰虧而陽亢。</p>
<p>石決明　穀精珠　大生地　當歸　蟬蛻　川芎刺　蒺藜　蕤仁羚羊角　甘菊　木賊草加望月沙、夏枯草</p>
<p>（案4）劉，右。風輪起翳，氣輪赤脈貫睛，脈數，淚多，雖因風熱閉結，恐損及瞳神，則調治不易。</p>
<p>柴胡（四分）　川芎（八分）　防風（一錢）　蟬蛻（二錢）　刺蒺藜（三錢）　石決明（四錢）　甘菊（二錢）　木賊（一錢半）　車前（二錢）　當歸（一錢半）　元參（二錢）　黃芩（一錢）　黃連（三分）　甘草（五分）　穀精珠（三錢）　夜明沙（一兩）　夏枯草（一錢半）　荸薺（四個）</p>
<p>復診　加洋參、生地、蔻仁、香附。</p>
<p>（案5）馬，右。足得血而能履，目得血而能視。既無力步趨又視物不明，得肝腎精血虧乎？</p>
<p>杞子（三錢）　當歸（二錢）　石決明　茯神（二錢）　熟地（五錢）　遠志（七分）　芡實（三錢）　紅棗（三個）　桑葉（一錢）　川石斛（八錢）　黑芝麻（三錢）　馬料頭（二錢）</p>
<p>（案6）陳，右。黃膜上衝，熱逼膏傷，視物不見，脈至右關沉有力，春間曾患乳癰，此係陽明餘火不清，火性上升害及於目。陽明為多氣多血之腑，宜於清降。十日內能見日光，方可調理。</p>
<p>大黃　血竭　川芎　木賊草　石決明　黃芩　密蒙花　穀精珠　鮮生地　當歸　蟬蛻　生甘草　犀角　滑石</p>
<p>（案7）王，右。右目向已失明，肝血之虧不待言矣。今左眼驟加腫痛，黑珠渾濁，視物不見，淚出如糊，左脈全無，內外兩症俱有，虛體實邪之恙。眼科一門亦有虛體實邪之證。此其是乎宜養血之中加以辛溫疏散之品。</p>
<p>白及　川芎　當歸　獨活　細辛　刺蒺藜　防風　紅花　桑葉　生地　木賊　蟬蛻</p>
<p>（案8）朱孩。熱逼膏傷，瞳神散大視物不明，急宜填精固攝精光。</p>
<p>大麥冬（一錢）　洋參（三錢）　熟地（六錢）　草白及　沙苑子（三錢）　萸肉（三錢）　加靈磁石（五錢）</p>
<p>（案9）秦，左。氣輪赤而風輪起翳，此肝肺兩經之邪。脈至右寸關較大，可清可散。</p>
<p>甘菊　桑皮　鮮生地　黃芩　元參　蟬蛻　木賊　川芎　知母</p>
<p>（案10）左。火鬱則發之。</p>
<p>柴胡　川芎　黃芩　荊芥　甘草　蟬蛻　夜明沙　元參　耆　紅花</p>
<p>（案11）楊，左。咳嗽吐血，腰痠腿重，胸腹脹滿，日暮視物不明。高鼓峰先生《醫學心悟》中有此一症，名曰：雞胸雀目。起於脾不健運而有積滯，肝血有虧之故。</p>
<p>焦茅朮　白朮　麥芽　神麯　當歸　夜明沙　穀精珠　石決明　加螢火蟲（二個）</p>
<p>復診　原方加白芍、焦穀芽。</p>
<p>（案12）陸，左。肝鬱瘀凝，上齶左半結塊，大如核桃硬而無情，破則但有血而無膿。法在難醫，商以化堅活血一法，倘得化血為膿方可許醫。</p>
<p>山羊血（一錢）　綠豆粉（一兩）　犀黃（五分）　滴乳石（二錢）　琥珀（二錢）　乳香（一兩）　沒藥（一兩）　川貝（一兩）　兒茶（五錢）　冰片（三分）　麝香（一錢）　生礬（五分）　延胡索（五錢）　甲片（五錢）　飛面（一兩）</p>
<p>上為末，每服三分，銀花湯送下。</p>
<p>以上一方亦是口部中。</p>

<h1>口部</h1>
<p>（案1）周，左。口舌糜爛，門齒下根為甚，脈至左關尺較數，法宜清肝火、養腎陰，兼以涼解。</p>
<p>細生地（四錢）　鮮石斛（二或三錢）　丹皮（一錢半）　山梔（一錢）　薄荷（一錢）　連翹（一錢半或二錢）　甘草（一錢）　元參（一錢）　滑石（二錢）　黃柏（八分）　知母（一錢）　銀花（四錢或三錢）　竹葉（十片）　夏枯草（一錢）　燈心草（卅寸）</p>
<p>復診　口疳患處雖未增重亦未減輕，今左脈數而有力，更益頭痛，又受風熱之故也。</p>
<p>原方加黃連（四分）、蘆根（一兩）、荊芥（一錢），去生地、元參、丹皮、滑石、知母、夏枯草、燈心</p>
<p>（案2）口疳，上下門牙獨甚，腎之火也。</p>
<p>細生地（四錢）　黃柏（八分）　山梔（七分）　元參（一錢）　銀花（二錢）　甘草（一錢）　薄荷（七分）　燈心（四十寸）</p>

<h1>牙部</h1>
<p>（案1）強，右。牙痛。</p>
<p>川芎（五分）　白芷（五分）　獨活（五分）　蓽茇（五分）　加蔥頭（一個）</p>
<p>（案2）陳，童。上門牙屬心，牙齦屬胃，此處碎而有膿流。雖因跌傷起見，而不易收斂者，究屬兩經之火不清，法當寒折，但苦寒無有不傷脾胃生生之氣，況在童體臟腑薄弱，恐不勝任，在時令亦不相宜，改用甘寒，庶乎穩妥。</p>
<p>銀花（一錢）　麥冬（一錢）　元參（一錢）　甘草（四分）　加骨碎補（二錢）</p>
<p>（案3）諸，左。牙疳碎爛，色紫暗無神，舌滑帶黑，六脈軟弱，下門齒脫落，此係腎經下疳，虛症之極重險者，論脈論症理宜桂附導火歸原，但遠途而來不無外感，況時令又在風陽甚時，難以擅投，勉商六味以壯水制陽，佐以去骨中之濕毒。</p>
<p>六味加牛膝、銀花、苡米、骨碎補。</p>
<p>復診　昨投壯水制陽，兼卻骨中濕毒。而爛處色紫，澤稍為明潤，脈亦稍為有神。</p>
<p>加重扶正解毒之品。</p>
<p>熟地（一兩）　生地（六錢）　洋參（二錢）　當歸（二錢）　苡米（八分）　銀花（八錢）　黃柏（鹽水炒，八分）　山藥（三錢）　萸肉（一錢半）　澤瀉（一錢半）　丹皮（一錢半）　茯苓（三錢）　牛膝（三錢）　車前（三錢）　甘草（一錢）　川石斛（四錢）　甘菊（二錢）　骨碎補（一兩）</p>
<p>又：左半碎爛，不至於蔓延右半還未能定，方不外乎前法。</p>
<p>原方加茵陳草，去牛膝、甘菊</p>
<p>（案4）陳，左。風火上熾，牙齦碎爛，脈至得數，擬與清疏。</p>
<p>薄荷（一錢）　葛根（一錢）　銀花（二錢）　滑石（三錢）　防風（一錢）　荊芥（一錢）　黃芩（一錢）　黑梔（一錢）　甘草（一錢）　竹葉（十片）　蘆根（六錢）</p>
<p>（案5）吳，右。上下門牙齦腳碎爛，色帶紫暗，脈至右大於左，此肝腎之陰不足，陽明濕化為火。</p>
<p>川芎（五分）　當歸（三錢）　赤芍（一錢）　生地（四錢）　薄荷（一錢）　苡仁（三錢）　車前（二錢）　細辛（一分）　丹皮（一錢半）　澤瀉（一錢半）　甘草（一錢）　滑石（三錢）　黃柏（八分）　燈心（五十寸）</p>
<p>（案6）周，右。牙齦碎爛：</p>
<p>熟地（六錢）　制首烏（五錢）　牛膝（一錢）　當歸（三錢）　赤苓（二錢）　車前（一錢半）　天麻（一錢）　洋參（一錢）　苡米（三錢）　加骨碎補（四錢）</p>
<p>（案7）劉，左。胃陽上浮，牙齦腫痛，肺絡受傷，咳帶紅絲，且清上焦。</p>
<p>蘆根鬚（三錢）　糯稻根鬚（三錢）　川貝母（一錢半）　新絳屑（一錢）　扁豆皮（三錢）　穭豆皮（三錢）　天冬（一錢）　加炒絲瓜絡（三錢）</p>
<p>（案8）秦，左。牙痛。</p>
<p>紫蘇（一錢）　升麻（一錢）　白芷（一錢）　獨活（一錢）　石膏（四錢）　甘草（一錢）</p>
<p>合漱吐二錢。</p>
<p>（案9）孫，左。骨槽風。</p>
<p>花粉（六錢）　歸尾（三錢）　白芷（一錢）　銀花（一兩）　川芎（一錢）　薄荷（一錢半）　六一散（六錢）</p>
<p>又方　大黃　花粉　赤芍</p>
<p>三味以絲瓜葉汁磨敷。</p>
<p>復診　原方加連翹（一錢半），減六一散（二錢）。</p>
<p>（案10）孫，左。近喉左半牙齦腐爛，形似翻花，左脅肋脹痛，脈至沉弦。沉為氣滯，弦為肝脈，此症起於抑鬱而成，並非時邪客感可比。再慮纏綿，藥不易效，須得怡情悅性、耐心靜養，一切淡泊，或可有望不致加重。藥餌總宜不傷氣血，切忌攻伐苦寒有礙生生之氣。</p>
<p>刺蒺藜（炒，三錢）　生熟地（各五錢）　川貝（二錢）　草節（二錢）　生赤首烏（各一兩）　紫荊皮（一錢）　玉金（七分）　銀花（四錢）　紫檀香屑（一錢）</p>
<p>又方　人中白（煅，六錢）　西黃（五分）　輕粉（三錢）　冰片（五分）　珠子（二錢）　月石（五錢）　辰砂（五錢）　生礬（一錢）　貝母（二錢）　霜梅（炙，二錢）</p>
<p>上藥為極細末，吹之。</p>
<p>（案11）楊，左。牙衄，上下門牙獨甚，以瀉南補北法治之。</p>
<p>黃連（三分）　細生地（四錢）　玄參（二錢）　丹皮（一錢）　鮮石斛（二錢）　生甘草（五分）　燈心（二分）　穭豆衣（二錢）</p>
<p>（案12）錢，右。牙又發，連咽喉脹，口噤難開，飲食難進。煎藥緩不及事，先為開導血絡以衰其勢，上自百會、頰車、曲池、曲澤、少商，一一按穴用針。當時痛減四五，方以重劑涼清疏。</p>
<p>薄荷（二錢）　桔梗（一錢）　甘草（一錢）　牛蒡（炒，一錢）　銀花（一兩）　川連（三分）　黑梔（一錢）　大貝（三錢）　元參（三錢）　山豆根（一錢）　黃芩（八分）　元明粉（一錢）　柴胡（三分）　木瓜（三分）　荊芥（一錢）　角刺（一錢）　燈心（一圈）　竹葉（十片）</p>
<p>（案13）龔，右。牙癰有膿，余腫不消，六脈細弱。以扶正為主，稍益清解。</p>
<p>洋參（三兩）　當歸（二錢）　川芎（一錢）　白芷（一錢）　甘草（五分）　花粉（一錢）　銀花（三錢）</p>

<h1>舌部</h1>
<p>木舌，腫連咽喉，脈至滑數，左三部更甚，火熾甚矣。用梔子金銀花湯，急宜清三焦之火。明晨輕減，方可得生，否則難治。</p>
<p>川連　黃芩　黃柏　連翹　銀花　鮮地　車前　山梔　甘草　引竹葉</p>
<p>（案1）張，右。托舌。</p>
<p>川連（酒炒，三分）　元參（二錢）　大貝母（一錢半）　牛蒡（炒，二錢）　甘草（一錢）　花粉（一錢）　歸尾（三錢）</p>
<p>（案2）尤，左。偏查舌連及左半咽喉腫痛，脈雖細弱無力，此屬上焦風熱挾痰。宜與清疏，當從症不從脈，然宜輕用，重則犯及中下二焦。初學者此等處留心為囑。</p>
<p>桔梗（一錢）　牛蒡（二錢）　元參（二錢）　半夏（一錢）　川連（三分）　甘草（一錢）　薄荷（一錢）　大貝（一錢半）　銀花（三錢）　花粉（一錢半）　竹葉（十片）　燈心（五十寸）</p>
<p>（案3）陸，左。痰火凝結舌本，清三焦之火。</p>
<p>桔梗（一錢）　川連（薑汁炒，一分）　大貝（一錢）　牛蒡子（炒，二錢）　歸尾（三錢）　草節（一錢）　川芎（一錢）　半夏（二錢）　白芥子（一錢半）　橘紅（一錢）　甲片（一錢）　加姜（一片）</p>
<p>復診　原方加重貝母、半夏各一錢，又加銀花一錢。</p>
<p>（案4）張，余。舌癰，脈至弦數，內膿已成，目下數日勢屬危險，急急清解。</p>
<p>川連　黑梔　黃芩　牛蒡　薄荷　桔梗　角刺　歸尾　大貝　元參　荊芥　銀花　甘草</p>

<h1>喉部</h1>
<p>（案1）竇，左。咽痛連及牙齦，脈至左寸關浮數，大便不解，此宜清降兼疏。豈可辛溫施於燥火者？之在上亦忌升提。</p>
<p>桔梗（一錢）　薄荷（一錢半）　牛蒡（炒，二錢）　元參（三錢）　荊芥（一錢）　連翹（一錢）　黑梔（一錢）　甘草（一錢）　川連（三分）　元明粉（一錢）　加燈心（五十寸）、竹葉（十片）</p>
<p>（案2）徐，右。咽喉潰爛，脈至細弱無神，宜活血養血為主，勿用寒涼致傷生生之氣。</p>
<p>川芎（一錢）　白芍（一錢）　熟地（四錢）　射干（一錢）　制首烏（六錢）　甘草（一錢）　當歸（三錢）　加桔梗（一錢）</p>
<p>（案3）蔣，左。水虧火旺，咽爛音雌，此肺腎已傷。雖兼毒火，攻伐難施，商以清上實下佐解毒為治。</p>
<p>桔梗（八分）　元參（二錢）　洋參（三錢）　沙參（四錢）　花粉（二錢）　生地（八錢）　天冬（一錢）　白薇（一錢）　貝母（一錢半）　橘紅（一錢）　銀花（三錢）　訶子肉（一錢）　射干根（一錢）　苡米（三錢）　甘草（一錢）　蟬蛻（五隻）　燈心（五十寸）　青果（一枚）　土茯苓（一兩）</p>
<p>（案4）高，右。風熱在上，咽痛頭疼，脈帶浮數，宜與清散。</p>
<p>柴胡（四分）　薄荷（一錢）　荊芥（一錢）　鮮石斛（三錢）　滑石（三錢）　黑梔子（一錢）　黃芩（一錢）　甘草（一錢）　銀花（二錢）　加蘆根（三錢）、竹葉（五十片）</p>
<p>（案5）梅，右。桂附之性大熱而燥，多服則血液被劫，肺經受灼，音雌，咽痛，喉如火焚。</p>
<p>雪梨（一兩）　銀花（八錢）　川貝（三錢）　元參（三錢）　桔梗（一錢）　紅花（三分）　綠豆（一兩）　刺夕（三錢）　天冬（一錢）　甘草（三錢）</p>
<p>復診　加生地（四錢）。</p>
<p>又方生地（一兩）　丹皮（一錢半）　山藥（四錢）　紅花（五分）　刺蒺藜（三錢）　桔梗（一錢）　元參（三錢）　薄荷（一錢）　銀花（一兩）　川貝（三錢）　天冬（一錢）　甘草（三錢）　澤瀉（一錢半）</p>
<p>此方加服川連三分三帖，黃芩三帖，黃柏七分、知母（鹽水炒）一錢半五帖。</p>
<p>又方大生地二兩，水浸透用磚搗爛作兩餅，將吳萸一錢研末摻於餅上，扎兩足心。另用霜梅肉一兩、元明粉三錢、柿霜五錢，搗勻，作丸如指面大，用一丸含咽。</p>
<p>（案6）祝，右。咽喉碎爛，色脈合參並無火象，清滋苦寒之藥決不可投。</p>
<p>桔梗（一錢）　洋參（一錢半）　甘草（一錢）　生地（四錢）　銀花（二錢）　射干（一錢）</p>
<p>（案7）莊，右。咽喉上齶潰爛，脈至弱而細，宜調養氣血兼以甘涼解毒，勿服苦寒。</p>
<p>黃耆（三錢）　洋參（二錢）　生赤首烏（六錢）　桔梗（一錢）　銀花（三錢）　甘草（一錢）　苡米（四錢）　大生地（五錢）　射干根（一錢半）</p>
<p>復診　已得應效，原方加玄參一錢、甘菊一錢、夏枯草一錢。</p>
<p>潰爛漸漸而愈，此得補藥之力也。</p>
<p>黃耆（三錢）　洋參（二錢）　生赤首烏（六錢）　桔梗（七分）　銀花（三錢）　甘草（一錢）　花粉（一錢）　生地（四錢）　射干根（八分）　加夏枯草（三兩）</p>
<p>（案8）潘，右。色脈和參，並非重恙，只因勤於女紅，肺氣窒塞為此，咽如茅刺。一切偏寒偏熱勿投為囑。</p>
<p>茯苓（一錢半）　丹參（三錢）　陳皮（一錢）　通草（三分）　加百合（三錢）</p>
<p>五劑後去通草。</p>
<p>（案9）陳，右。為素有肝氣，治痛治嘔之藥畢竟溫燥者多，肺液被劫，以致咽如炙臠，脈右寸關帶數。清金保肺緩緩圖治之，自效，但苦寒之品亦不相宜。</p>
<p>豬膚（三錢）　川貝（一錢）　北沙參（三錢）　茯苓（一錢）　百合（三錢）　枇杷葉（去毛，一錢）　加白燕窩（一錢），煎湯代水煎藥。</p>
<p>將燕窩加水、冰糖一錢，晨作點心食之。</p>
<p>（案10）許，右。咽喉左半腐爛，脈至浮數有力。風熱有餘，可清可散。</p>
<p>川連（三分）　薄荷（一錢）　桔梗（一錢）　甘草（一錢）　川芎（八分）　牛蒡（二錢）　荊芥（二錢）　連翹（三錢）　射干（一錢半）　黑梔（一錢）　元參（二錢）　銀花（三錢）　竹葉（十片）　燈心（五尺）</p>
<p>（案11）辛，左。咽喉燥而紅腫，腰痛而遺泄，擬填下清上法。</p>
<p>大生地（八錢）　山藥（二錢）　丹皮（一錢半）　茯苓（一錢半）　麥冬（二錢）　元參（二錢）　桔梗（四分）</p>
<p>又方　川貝（一錢）　薄荷（一錢）　甘草（一錢）　橄欖炭（五分）　月石（二錢）　桔梗（一錢）　兒茶（一錢）　馬勃（五分）　青黛（三分）</p>
<p>共為細末，用白蜜入藥作丸，含咽。</p>
<p>（案12）朱，右。外無六淫見症，脈至似有若無，惟左關隱隱帶弦帶數。今見咽喉右半絡脈紅紫，每食物下咽，右半咽喉微微硬痛，此肝鬱氣滯，厥陽亢。絡為之瘀，氣為之滯，脈不流利，咽喉作此，所謂一陰一陽結為喉痹也。</p>
<p>紅花（四分）　刺夕（三錢）　馬勃（五分）　製半夏（一錢）　元參（一錢）　雞蛋白（一個）　好醋（五匙）</p>
<p>（案13）趙，左。咽喉碎爛，甚於右半，即有實邪，為日已久。只用疏解，施於近感風火之症則可，此症色、脈已虧，必兼清補。</p>
<p>北沙參　射干根　薄荷　桔梗　大生地　甘草　元參　馬勃　燈心　竹葉</p>
<p>（案14）唐，左。咽痛，色如秋海棠葉背紅絲絆滿，肩背怯寒，脈至浮弦帶滑。平素體質陰虧，多半因房欲後受邪所致，宜清上實下。</p>
<p>生地　北沙參　細辛　甘草　桔梗　玄參　薄荷　川連　燈心　竹葉</p>
<p>（案15）俞，左。喉恙得膿後而音不揚，咽嗌不利，顯系肺經受灼，焉有不補而再用開散之理乎？</p>
<p>北沙參（三錢）　麥冬（一錢）　川貝（三錢）　元參（一錢）　大生地（四錢）　百合（三錢）</p>
<p>（案16）周，左。水不上承，金被火灼，喉如茅刺。</p>
<p>熟地　半夏　茯苓　苡仁　百合　桔梗　北沙參　陳皮　砂仁　丹皮　丹參</p>
<p>（案17）宗，右。咽痛而甚於左半，脈至帶數，此心陽肝火上亢。</p>
<p>川連　黑梔　薄荷　甘草　荊芥　牛蒡　川金　元參　燈心　竹葉</p>
<p>又　接服方：</p>
<p>北沙參　丹參　生地　元參　甘草　薄荷　山梔　廣皮　川貝　燈心　百合</p>
<p>（案18）童。此名石鵝，不膿不腐，亦不為害。良由肺氣不足，腎水有虧，而誦讀聲高，氣火上浮，虛陽夾痰所致。切不作實症喉科一門為治，否則害非輕淺。用擬清金壯水之劑。氣旺腎水足，不愈而自愈。</p>
<p>北沙參（四錢）　丹皮（一錢）　川貝（一錢）　茯苓（一錢半）　大生地（五錢）　澤瀉（一錢）　山藥（二錢）　元參（一錢半）　苡仁（三錢）　青果　百合　荸薺</p>
<p>（案19）蘇，右。陰虧者火必上浮。咽喉乃肺之所主，日受火灼以致咽痛食物維艱。</p>
<p>北沙參　苡仁　元參　薄荷　刺蒺　中生地　丹參　甘草　川貝　燈心</p>
<p>（案20）諸，左。凡咽喉之症，風火居其八九。去冬曾患喉癰，得膿後迄今咽喉腫痛不除。近因感冒嗆咳見紅，脈至浮大。先為清散，續商調理，此三月內飲食寒暖須小心，否則非喉癰，即喉風。不可不慮！</p>
<p>桔梗　元參　黃芩　茯苓　橘紅　薄荷　黑梔　甘草　丹皮　蘇子　荊芥　竹葉　燈心　橄欖</p>
<p>（案21）陳，右。咽喉漫腫無形，痛甚於左，脈浮而不甚流利，風寒束縛，熱鬱於裡不得透達，則成喉風也。擬散之中兼清藥。</p>
<p>桔梗　牛蒡　防風　荊芥　薄荷　元參　川連　黃芩　甘草　山梔　紫蘇　滑石　竹葉　燈心</p>
<p>（案22）朱，左。操勞過度，五志之火上升熏蒸灼肺，咽痛年餘不已。此金制陽兼以壯水。</p>
<p>大生地　澤瀉　川貝　刺夕　元參　丹皮　甘草　陳皮　沙參　丹參　茯苓　苡米　燈心　百合</p>
<p>（案23）王，左。咽喉碎爛而甚於右，脈至右寸浮數，究屬風熱上感。先為清散。</p>
<p>薄荷　桔梗　元參　甘草　牛蒡　黑梔　荊芥　銀花　川連　防風　黃芩　蘆根　射干　竹葉　燈心</p>

<h1>面部</h1>
<p>（案1）丁，右。胎腮。</p>
<p>花粉（一錢）　牛蒡子（一錢）　薄荷（一錢）　黃芩（一錢）　銀花（三錢）　甘草（一錢）　荊芥（一錢）　連翹（二錢）　竹葉（十片）</p>
<p>（案2）王，童。風痰凝結，腮頷之右浮腫。</p>
<p>柴胡（三分）　赤芍（一錢）　牛蒡子（炒，一錢半）　白芥子（炒，一錢）　連翹（一錢半）　歸尾（八分）　甘草（一錢）　元參（二錢）　殭蠶（炒，一錢）　黑梔（八分）　銀花（二錢）　半夏（炒，一錢）　大貝母（一錢）</p>
<p>（案3）丁，左。病有發肌表者，有發於筋骨者。肌表者易愈，筋骨者難痊。此名骨槽風。外觀似屬陽明之表症，其實系筋骨之重瘍，為此內連咽喉，下連頤頷，上達髮鬢。腫勢漫延，雖得膿而硬仍不減，法當大補氣血兼以消堅疏利，耐心久投為囑。</p>
<p>升麻（三分）　柴胡（三分）　殭蠶（二錢）　川芎（一錢）　當歸（六錢）　甘草（一錢）　苡仁（二錢）　銀花（六錢）　黃耆（一兩）　陳皮（三兩）　甲片（一兩）　洋參（三錢）　加骨碎補（一兩）、豬牙床骨（炙，五分）</p>
<p>（案4）楊，左。肺胃風熱結毒。</p>
<p>桔梗（一錢）　花粉（二錢）　白芷（一錢）　川芎（一錢）　大貝母（一錢）　黃芩（一錢）　甲片（炙，一錢）　角刺（三錢）　銀花（三錢）　甘草（一錢）</p>
<p>復診　大勢已退，余腫未平，還宜清解。</p>
<p>原方加當歸三錢，去角刺、黃芩</p>
<p>（案5）崔，左。脈至浮遲，牙關緊急，腮頤作脹，此風寒襲於少陽、陽明。宜與清，切忌寒遏。</p>
<p>升麻（五分）　川芎（一錢）　荊芥（一錢）　白芥子（二分）　白芍（一錢）　半夏（一錢）　歸尾（三錢）　甘草（一錢）　殭蠶（二錢）　角刺（二錢）　銀花（二錢）</p>
<p>（案6）吳，右。迎香穴處結瘍，即為迎香毒，此係手陽明痰火蘊結。現在身懷六甲，攻消難用。顧此失彼，殊非善計。</p>
<p>花粉（一錢半）　蘇梗（二錢）　橘紅（一錢）　連翹（二錢）　銀花（二錢）　甘草（一錢）　川貝（一錢）</p>
<p>（案7）龔，右。迎香毒。</p>
<p>薄荷（一錢）　元參（二錢）　蘆根（三錢）　花粉（一錢半）　甘草（一錢）　連翹（一錢半）　銀花（三錢）　川貝母（一錢）</p>
<p>脈至右關較數，面頰浮腫，少陽陽明風熱之邪有旺。清之散之。</p>
<p>升麻（四分）　黃芩（一錢）　歸尾（三錢）　石膏（三錢）　連翹（一錢）　防風（一錢）　薄荷（一錢）　大貝母（二錢）　甘草（一錢）　銀花（三錢）</p>
<p>（案8）汪，左。顴疽色紫木硬無情，得膿不化，脈至左弦帶滑，此肝鬱氣滯、積久痰凝所致。急切不易見效，須怡悅情懷，緩緩圖治。藥忌苦寒，症非實火，恐傷胃也。</p>
<p>真紫檀（二錢）　製半夏（一錢半）　白芥子（炒，一錢半）　焦穀芽（四錢）　甲片（炙，一片）　生赤首烏（八錢）　歸身（二錢）　川貝（三錢）　銀花（二錢）　甘草節（二錢）</p>
<p>又方　真西黃（六分）　當門子（一錢半）　乳、沒藥（各一兩）　川貝母</p>
<p>上藥為末，用陳米飯二兩二錢研爛，和藥搗勻，作丸如卜子大。每用陳酒一杯送下三錢，食後一時服。</p>
<p>（案9）祝，右。穿腮得膿後患處堅硬不化，此係氣血不足，餘邪未盡也。</p>
<p>洋參（一錢）　川芎（一錢）　當歸（三錢）　貝母（三錢）　甲片（一錢）　甘草（一錢）　銀花（三錢）</p>
<p>復診　原方加白芷（一錢）、半夏（一錢半）、白芥子（一錢半）、冬朮（三錢），去甘草、銀花</p>
<p>（案10）余，右。面無華色，脈來少神，氣血虧矣。頤頷結核，牙齦碎爛。不可作尋常外症同例，而肆用寒涼攻伐，以傷生生之氣。</p>
<p>白芷（七分）　川芎（七分）　花粉（一錢）　元參（二錢）　半夏（一錢）　川貝（二錢）　當歸（三錢）　甘草（一錢）　銀花（三錢）　洋參（一錢半）</p>
<p>面頰浮腫，牙齦碎爛。頰屬少陽，齦屬陽明。浮為風，宜散；碎為火，宜清。</p>
<p>柴胡（四分）　牛蒡（二錢）　川芎（八分）　荊芥（一錢）　歸尾（二錢）　花粉（二錢）　銀花（三錢）　甘草（一錢）　防風（一錢）　連翹（一錢半）　薄荷（一錢）</p>
<p>（案11）秦，左。風熱夾痰結於少陽。</p>
<p>連翹（一錢半）　元參（二錢）　川貝（理用大貝，二錢）　牛蒡（炒，一錢半）　花粉（一錢）　甘草節（一錢）　夏枯草（一錢）</p>
<p>（案12）祝，左。穿牙毒。</p>
<p>川芎（一錢）　白芷（一錢）　當歸（三錢）　花粉（一錢半）　大貝母（二錢）　銀花（三錢）　黃耆（六錢）　甘草（一錢）</p>
<p>復診　氣血未和，堅硬未化。</p>
<p>洋參（一錢半）　當歸（二錢）　黃耆（三錢）　花粉（一錢）　白芷（七分）　大貝母（一錢半）</p>
<p>（案13）蔣，右。穿牙毒。</p>
<p>川芎（一錢）　中生地（四錢）　當歸（二錢）　甘草（一錢）　白芍（炒，一錢半）　銀花（三錢）　花粉（一錢）　白芷（一錢）　加骨碎補（四錢）</p>
<p>（案14）周，左。牙齦屬胃，而右顴屬肺。癰有內外之分：膿出外者順，而收功易；膿出於內者逆，而收功難。膿從牙齦滲出，胃氣不醒，納穀不多，必培土為要。</p>
<p>真山藥（炒，四錢）　冬朮（炒，一錢半）　砂仁（炒，六分）　苡米仁（炒，三錢）　白芨（一錢半）　陳皮（一錢）　半夏（炒，一錢）　黨參（炒，三錢）</p>

<h1>項部</h1>
<p>血從清竅而出，繼見頸側患瘍，板硬無情，神形頓改，所謂失榮，獨陽無陰者不治，獨陰無陽者亦不治，此其是也。遠途而來，勉付一方：</p>
<p>元參（一兩）　甘草節（一錢）　首烏（二兩）　煅牡蠣（鹽水，一兩）　生赤白芍（各二兩）</p>
<p>外用鮮狼毒搗爛加鹽敷之，能漸和軟，乃是效處。荸薺、關蜇、海粉每日食一兩許。</p>
<p>（案1）顧，左。頸側頤頷之下結塊重重，大小不一，頑硬無情。症由抑鬱不舒，肝陽亢逆，痰凝氣滯。先治於早，致成棘手，且商調和營衛，鹽能軟堅一法。如得化膿，方許可醫。破後流水出血，非藥可治。急早怡悅情懷乃此症之良方，徒恃藥力難以見功。</p>
<p>當歸（三錢）　石決明（一兩）　煅牡蠣（一兩）　白芥子（一錢）　洋參（三錢）　甘草節（一錢）　紫檀屑（二錢）　核桃（二十枚）　元參（五錢）</p>
<p>小金丹每日一錢，用陳酒化服。</p>
<p>每個歧縫破開，將肉取出，和蟬蛻七個打勻仍入殼內，外將鹽泥包裹，置於礱糠火內煨一晝夜，取出去泥。中如炭者可用，如未成炭為不及，如已成灰為太過，俱不合用。研細末。能飲者用陳酒送下一個。</p>
<p>左。脈至右脈洪滑而大，此為痰火有餘。鼻衄之類，頸側之癧皆由此也。</p>
<p>花粉（二錢）　元參（六錢）　川貝（三錢）　甘草（二錢）　白及（二錢）　黃芩（一錢）　銀花（三錢）</p>
<p>（案2）季，右。脈滑數而有力，甚於右關，頦下癧生累累，痰火有餘之象。</p>
<p>川連（三分）　黑山梔（一錢）　半夏（一錢）　羚羊角（一錢）　黃芩（一錢）　白芥子（一錢）　桔梗（一錢）　風化硝（一錢）　元參（二錢）　生草節（一錢）</p>
<p>（案3）周，右。風痰閉結，宜開少陽。</p>
<p>柴胡（四分）　半夏（二錢）　白芥子（炒，二錢）　橘紅（一錢半）　甘草（一錢）　殭蠶（二錢）　歸尾（二錢）　夏枯草（一錢）</p>
<p>（案4）許，右。痰有虛實，熱有內因外因，治各不同。此症之發熱不已，頸側左半之痰俱從產後而起，今面色萎黃，熱甚於夜，脈至左三部浮弦帶數，顯系肝腎之陰有虧。其頸之痰亦屬肝血有虧，肝陽上亢，痰隨火升，凝鍊而成。因虛而致，非比實症之熱可以清散、實症之痰可以攻消，法當育陰制陽，兼以咸能軟堅。耐心守服，藥力到時，方能應效。如求速愈則難矣。</p>
<p>生熟地（一兩）　白芍（炒，一錢半）　甘草節（一錢）　銀花（一錢）　石決明（八錢）　丹皮（五分）　牡蠣（六錢）　川貝（一錢）　丹參（二錢）</p>
<p>杜，童。風痰結閉太陽，經氣不通，乃生癰腫。</p>
<p>川芎（一錢）　白芷（一錢）　制南星（一錢）　黃芩（六錢）　當歸（五錢）　半夏（一錢半）　白芥子（炒，一錢半）　角刺（二錢）　甲片（一錢）　銀花（四錢）　羌活（五分）　姜蠶（炒，一錢）　加竹油（十匙）、姜（一片）</p>
<p>（案5）華，右。木鬱不舒，頸左結核，按之棉軟，脈來艱澀，此氣滯痰凝。宗木喜條達法。</p>
<p>柴胡（四分）　當歸（三錢）　白芥子（炒，一錢半）　白芍（炒，一錢）　甘草（二錢）　香附（醋炒，二錢）　象貝母（二錢）</p>
<p>加紫背天葵草根四錢。</p>
<p>左。瘰癧破潰，脈至弦數，面色㿠白，大便溏薄，此係癧勞，最難圖治。擬香貝養營湯以培根本。</p>
<p>黨參（四錢）　冬朮（三錢）　茯苓（一錢半）　炙草（一錢）　白芍（一錢半）　熟地（五錢）　山藥（炒，三錢）　香附（一錢）　川貝（一錢）　丹參（三錢）</p>
<p>（案6）張，右。瘰癧。</p>
<p>牡蠣（四兩）　黨參（二兩）　甘草節（一兩）　大貝（二兩）　白芷（二兩）</p>
<p>上為末，白糖調服二三錢。</p>
<p>（案7）史，左。瘰癧按之棉軟，此是氣虛痰滯。</p>
<p>黃耆（六錢）　白芥子（炒，一錢半）　穿山甲（炙，一錢）　當歸（三錢）　冬朮（三錢）　茯苓（一錢）　草節（一錢）　半夏（一錢）　陳皮（一錢）</p>
<p>（案8）繆，左。疽生於項，硬如頑石，右脈細弦，色紫，時穿矣。此屬氣血凝滯。潰後得膿則吉，出血出水則凶。</p>
<p>紫檀香（二錢）　川玉金（七分）　白芍（炒，一錢半）　當歸（五錢）　夏枯草（一錢）　生石決明（一具）　草節（二錢）　川貝（三錢）</p>
<p>（案9）鄒，孩。論其面色淡黃、納食嘔吐，似宜甘溫補氣，芳香悅脾。如論其頸上兩旁瘰癧硬而無情，此由肝血枯槁。脈見細數、久熱不已，又當壯水涵木以制陽光。</p>
<p>製半夏（醋炒，一錢）　廣皮（一錢）　竹茹（炒黃，六分）　五穀蟲（炙二錢）</p>
<p>此服一二劑。接服：</p>
<p>大生地（炒，五錢）　山藥（六錢）　丹皮（炒，一錢）　澤瀉（鹽水，一錢）　萸肉（炒，二錢）　白芍（炒，一錢）　川貝（炒，一錢）　茯苓（一錢半）</p>
<p>（案10）侯，右。癧破而便溏，此當先培脾土，症屬纏綿，不易應效。</p>
<p>冬朮（三錢）　山藥（炒，五錢）　穀芽（五錢）　煅牡蠣（一兩）　甘草（一錢）　夏枯草（二錢）</p>
<p>（案11）陳，左。結喉痰。</p>
<p>桔梗（一錢）　海帶（二錢）　白芥子（炒，一錢）　竹油（十匙）　半夏（炒，一錢）　夏枯草（一錢半）　黃藥子（炒，一錢半）　姜（一片）</p>
<p>（案12）龔，右。肝無血養，木火上炎，痰凝結癧，脈至細數。此屬虛症，切勿攻消為事。</p>
<p>六味湯加白芍、大貝、元參、夏枯草各一錢</p>
<p>（案13）孫，左。頸項結核。</p>
<p>半夏（一錢）　大貝母（一錢半）　連翹（二錢）　柴胡（三分）　歸尾（一錢）　白芍（一錢）　花粉（一錢）　白芷（一錢）　川芎（一錢）　石決明（四錢）　橘紅（一錢）</p>
<p>（案14）姚，左。項痰。</p>
<p>柴胡（三分）　當歸（三錢）　白芍（炒，一錢）　石決明（四錢）　橘紅（一錢）　川貝（一錢半）　茯苓（一錢半）　甘草（一錢）　大生地（炒，五錢）　夏枯草（一錢）　甲片（一錢）</p>
<p>（案15）唐，右。疽生於項，硬如岩石，此係鬱結痰滯，肝無血養，脈所以左關獨見弦滑而有時歇止也。</p>
<p>川芎（一錢）　當歸（八錢）　白芍（桂枝湯拌炒，一錢）　石決明（一兩）　甲片（炙，一錢）　冬朮（炒，一錢）　香附（一錢半）　夏枯草（一錢半）　柴胡（三分）</p>
<p>（案16）鄒，左。血去營枯，肝無所養，頸側生癧如串珠，此宜壯水涵木。凡攻消苦寒之品，非虛症所宜，切忌切忌。但王道無近功。</p>
<p>六味湯去山藥，加白芍、石決明、當歸、元參、牡蠣、甘草</p>
<p>（案17）顧，左。頸側結核，木硬無情，脈至左弦帶數，此肝無血養，木火上熾，挾痰凝結，非急切可愈。</p>
<p>川貝（二錢）　石決明（一具）　元參（三錢）　連翹（二錢）　當歸（三錢）　羚羊角（一錢）　生地（八錢）　夏枯草（一錢半）</p>
<p>（案18）方，右。六脈細澀，面淡黃而舌白，經事愆期，納穀甚少。先從肩上少陽之經累累結核，漸延頸項，背足俱滿。初腫則按之痠痛，潰破則腐且見骨，此由營陰本虧，加以情不能暢舒，遏壅榮行之度而結痰癧。形傷及氣，陰陽兩阻，故蔓延上下也。用加味歸脾法增損圖治。</p>
<p>丹參（二錢）　焦穀芽（四錢）　香附（一錢）　川貝（一錢）　黃耆（六錢）　冬朮（炒，三錢）　陳皮（一錢半）　炙草（六分）　白芥子（炒，一錢半）　當歸（一錢半）　遠志（炒，七分）　茯苓（一錢）</p>
<p>復診　形神俱旺，宗前方意。</p>
<p>原方加金銀花（二錢），加重黃耆（二錢）、冬朮（二錢）。</p>
<p>（案19）鄭，左。素有失血，脈細數，今頸側兩旁生癧不一，雖有客邪，攻消升散之劑在所宜慎。</p>
<p>羚羊角（一錢）　大生地（六錢或一兩）　連翹（二錢）　白芍（炒，一錢）　元參（二錢）　石決明（一具）　川貝（一錢半或三錢）　甘草（一錢）　甘菊（一錢半）</p>
<p>加金銀花（三錢）。</p>
<p>復診　腫減，核軟已有可消之機。</p>
<p>原方加花粉（二錢）</p>
<p>（案20）陸，右。癧瘡。</p>
<p>白芥子（二兩）　甲片（炙，四兩）　花粉（二兩）　半夏（二兩）　大貝（炒，二兩）　紅花（二兩）　全蟲（炙，廿個）　當歸（酒炒，三兩）</p>
<p>紫背天葵草子（炒）四兩，枯草四兩，煎湯代水，泛為丸如卜子大，食後時許開水送下。</p>
<p>（案21）儲，左。石疽近於失榮，藥難調治。</p>
<p>大生地（八錢）　石決明（一具）　生赤首烏（一兩）　當歸（三錢）　加香紫檀木（二兩）</p>
<p>（案22）胡，左。體質陰虧，風濕襲於營分，遍身瘡疥，頑痰凝於項下，結核如珠，宜與活血疏風理氣豁痰。</p>
<p>殭蠶（炒，二錢）　元參（二錢）　甘草（一錢）　銀花（四錢）　苡仁（五錢）　當歸（六錢）　荊芥（一錢半）　川芎（一錢）　川貝（二錢）　甲片（炙，二錢）　赤苓（二錢）　大生地（八錢）　半夏（一錢）　白芥子（炒，一錢）　加紅棗（五個）</p>
<p>（案23）吳，左。頦下生痰不一，大便有時而溏，月水不克如期，此肝陰不足，脾氣不運也。</p>
<p>川冬朮（二錢）　丹參（三錢）　白芥子（一錢）　半夏（一錢）　茯苓（一錢）　甘草節（一錢）　新會皮（一錢）</p>
<p>（案24）過，左。擬香貝養營調和氣血，須經年常服，塊自消散。如希圖欲速，用攻用伐無益有損。</p>
<p>洋參（四兩）　香附（八兩）　茯苓（三兩）　白朮（三兩）　川芎（二兩）　當歸（酒炒，五兩）　白芍（二兩）　熟地（八兩）　草（曬，三兩）　甲片（炙，三兩）</p>
<p>甲片煎湯泛丸，每服三四錢，淡鹽湯送下。</p>
<p>（案25）沈，左。夾喉癰。</p>
<p>柴胡（四分）　川芎（一錢）　牛蒡子（炒,二錢）　桔梗（一錢）　荊芥（一錢）　連翹（二錢）　歸尾（二錢）　半夏（二錢）　角刺（二錢）　甘草（一錢）　元參（一錢）</p>
<p>復診　陽症見陰，吉少凶多，況穀食難進，胃氣日虛，殊為棘手。原方加：</p>
<p>紫蘇（一錢）　黃耆（一兩）　當歸（四錢）　甲片（一錢）　橘紅（一錢）　大貝（三錢）</p>
<p>加重川芎（五分）、角刺（一錢）、銀花（二錢），去荊芥、元參、連翹、歸尾</p>
<p>（案26）何，右。痰氣交凝，但於咽噫喉外臃腫軟綿。怒長郁消，當理氣豁痰，切勿寒涼抑遏。</p>
<p>桔梗（八分）　川芎（一錢）　牛蒡子（炒，一錢半）　白芥子（炒，一錢）　陳皮（一錢）　半夏（炒，一錢）　香附（一錢）　焦神麯（一錢）　黑山梔仁（二分）　甘草（一錢）　茯苓（一錢）　蘇葉（五分）　加茶葉子（二錢）</p>
<p>（案27）童，兒。喜豆後餘邪未清，耳後項上發出一塊，腫而不紅，脈不數，舌不厚，神情清爽，乃屬氣不宣達，挾外邪所致。宜疏散。</p>
<p>牛蒡子　丹皮　黑山梔　赤芍　銀花　象貝母　黃芩　大連翹　當歸　甘草　桑葉</p>
<p>（案28）龔，童。風寒入於太陽，頸項強直而痛甚於腦。</p>
<p>羌活（一錢）　鹿角霜（三錢）　姜（一片）</p>
<p>三劑大效。</p>
<p>復診　風寒漸徹，已有向愈之勢。原方加川芎、砂仁、棗、姜。</p>
<p>（案29）曹，左。左三部脈細如絲、右寸關弦滑；頤頷之左結塊如桃，不紅不腫，此屬虛痰。不可專用攻堅克伐之品。用擬金水六君加理氣行痰為治。非比實症可以速效，還宜休養為囑。</p>
<p>熟地　當歸　半夏　陳皮　茯苓　甘草　加白芥子、殭蠶、煅牡蠣、牛蒡（炒）、薑汁。</p>
<p>復診　胃口雖能多進薄粥，大便亦能堅固，脈亦不是前之細數無根，而頷頤之下結塊已消。在不明醫理者，似如日有起色，殊不知吸吸氣短，乃源海無根，非比肺家實喘，往往有頃刻變生脫絕者，況無大劑人參在此急救，焉能挽回元氣於無何有之鄉？勉商觀音夢授散合參麥散以納在上之虛氣，都氣丸作湯以攝在下之脫氣。倘或應手，還有可生之機。否則別無良法。</p>
<p>黨參（炒，一兩）　麥冬（元米炒，一錢）　五味子（炒，八分）　加青鹽（三分）</p>
<p>合桃夾口</p>
<p>接方　熟地（一兩五錢）　山藥（八分）　丹皮（炒，一錢）　牛膝（一錢半）　萸肉（炒，二錢）　茯苓（一錢）　五味子（一錢）　澤瀉（鹽水炒，一錢半）　加青鉛（一兩）</p>
<p>（案30）辛，左。脈見細數，著手即空，右更無力，內熱不已，肝腎陰虧，無形之火上升，有形之痰凝聚，頸側兩旁結塊累累，按之無情，乃虛痰也。非實症可比可用攻消，且擬育陰制陽養營軟堅一方，投後，以觀效否，再酌。但體虛症重，急宜靜養，課讀且停，切囑切囑。</p>
<p>銀柴胡　白芍　當歸　熟地　山藥　澤瀉　萸肉　茯苓　元參　丹皮　石決明　廣皮　煅牡蠣　川貝　甘草　竹油（十匙）</p>
<p>復診　自投育陰制陽、養營軟堅法，熱勢難減，胃口略起，頸側癧塊亦稍平。方非不對，惟左三部脈象仍如前細數，右三部未見有力，不特陰虧，氣分當急為培補。所謂陰根於陽，陽根於陰也。且補陰，陰不能驟生；補氣，則無形能生有形。但炎熱之令將至，陰虧氣弱之體須要極其小心調養。炎威固不可受，風寒亦不可感。至於飲食，一切腥膩生冷、麵食、發物，切勿入口。因體極易受邪，為此叮嚀告戒。如不遵守，往往變生。慎之慎之，原方去當歸、石決明。</p>
<p>又：參、耆、朮、苓、芍、歸、銀花、草節、扁豆、建蓮、牡蠣</p>
<p>（案31）楊。素質陰虧，兼之課讀耗氣，而頸側結核有紅仁。脈至左三部細數，寸尤甚；右三部細軟。顯系氣分有虧，肝腎之陰不足，虛陽上熾，痰為凝結血分是也。</p>

<h1>肩部</h1>
<p>（案1）虞，右。脈至左關獨見弦細，左肩內側痛，而不能屈伸如意，此肝血不榮於筋也。更兼外寒侵襲於絡，法當溫通活血。</p>
<p>川芎（七分）　當歸（四錢）　甘杞子（三錢）　桂枝（三分）　秦艽（一錢半）　桑枝（一兩）　海桐皮（一錢半）　虎掌骨（四錢）　沒藥（五分）</p>
<p>五六劑後去桂枝，加黃耆五錢。</p>
<p>（案2）龔，右。過肩疽。</p>
<p>柴胡　防風　羌活　歸尾　角刺　銀花　大貝　陳皮　連翹　川芎　甘草　香附　甲片　木香　桑枝　乳、沒</p>
<p>（案3）龔，右。偏肩風。</p>
<p>綿耆　桂枝　乳、沒　海桐皮　當歸　羌活　桑枝　片子薑黃</p>
<p>（案4）江，左。兩肩痠痛，風寒夾邪，溫之散之。</p>
<p>當歸　海桐皮　羌活　桑枝（酒炒）　防風　威靈仙　綿耆</p>

<h1>臂部</h1>
<p>（案1）陳，左。舌苔滑白，脈至遲軟，肩臂痠麻，猶有濕痰不清。</p>
<p>桑枝　苡仁　白朮　茯神中木（去茯神留木）　桑節　半夏　秦艽</p>
<p>（案2）張，孩。鼓柱風。</p>
<p>冬朮　當歸　芥子　半夏　桑枝　金銀藤　桑節</p>
<p>（案3）高，左。左臂木硬。</p>
<p>桔梗　芥子　半夏　焦曲　白朮　陳皮　赤苓　桑枝　木香　紅花</p>
<p>（案4）高，左。毒發於手腕內側，或觸蟲毒所致，脈有力有神。擬仙方活命飲加減。</p>
<p>（案5）宗，右。右肩臂膊疼痛，此氣分偏虧而著寒濕。</p>
<p>黃耆　當歸　片子薑黃　茯苓　桐皮　陳皮　香附　川牛膝　半夏　秦艽　桂枝　赤苓</p>
<p>（案6）孫，左。臂癰。</p>
<p>角刺（針）　當歸　川芎　黨參　甲片　甘草　銀花　桑枝</p>
<p>（案7）孟，左。肩臂、骨節、腰痛。</p>
<p>桑枝　桑節　木瓜　當歸　半夏　靈仙　桂枝　黃芩</p>
<p>加鳳仙梗。</p>
<p>（案8）丁，右。沉寒入於肘節，藥難應效。</p>
<p>川芎　當歸　熟地　木瓜　紅花　桂枝　秦艽　芥子　甲片　香附（酒炒）　桑枝（酒炒）</p>
<p>（案9）秦，右。指麻固是氣虛，而精神脈象不見衰弱，放心可也。</p>
<p>洋參　黑芝麻　棗仁　當歸　茯神　丹參　山藥　穀芽　杞子　制首烏　桂圓肉　紅棗　桑枝</p>
<p>（案10）高，右。手發背。</p>
<p>川芎　秦艽　紅花　木香　歸尾　赤苓　苡仁　桑枝</p>
<p>（案11）過，左。經云：掌得血而能握。今指屈而難伸，此血虛不榮於脈絡。但補血血不能驟生，還當先補氣。所謂無形者能生有形也。然絕欲為囑。</p>
<p>黃耆　當歸　木瓜　秦艽　鹿筋（打炒，三錢）　紅棗</p>
<p>加向陽桑枝，此方六劑後加冬朮、苡仁、陳皮、茯神中木、帽幃屑、鳳仙梗、忍冬藤。</p>
<p>洗方：桂枝、桑枝、青松毛各一兩，臨臥時煎湯洗。</p>
<p>（案12）金，左。血不榮末而成風。</p>
<p>四物湯加生赤首烏、荊芥、桑枝。</p>
<p>另用紅玉膏塗患處。</p>
<p>（案13）蘆，左。鵝掌風。</p>
<p>川芎　當歸　白芍　熟地　杞子　秦艽　豨薟草　桑枝</p>
<p>又方：大楓子　板豬油　白及</p>
<p>上藥各一兩，和，打千下如膏，每日早晚搽之。另用白鳳仙花打爛，係指甲上甚效。</p>
<p>（案14）楊，右。蛇頭。</p>
<p>花粉　白芷　歸尾　大貝　銀花　甘草　角刺　甲片　乳沒　桑枝</p>
<p>（案15）余，右。氣血不和，指麻，腹痛，有時而癢。</p>
<p>紅花　荊芥　當歸　桑枝　楊樹枝</p>
<p>洗方：杉木皮（一錢）　桃枝（五錢）　槐枝（五錢）　香樟木（一兩）　桑枝、楊枝（五錢）</p>

<h1>胸乳部</h1>
<p>病後失調，氣血未復，乳房結核。</p>
<p>當歸　半夏　川貝　石決明　陳皮　洋參　香附　川楝子</p>
<p>（案1）程，右。左乳之旁結塊，根堅頂紫，純乎肝鬱氣滯、痰瘀凝結。切不能見效。</p>
<p>川貝（三錢）　川楝子（三錢）　生熟元胡（各一錢）　當歸（三錢）　青皮（一錢）　地丁草（二錢）　香附（一錢）　丹參（三錢）　連翹（一錢）　橘核（三錢）　紫檀香（一錢）</p>
<p>（案2）秦，右。乳癰。</p>
<p>花粉（三錢）　半夏（一錢半）　瓜蔞（一個）　當歸（一兩）　甲片（一錢）　乳香（一錢）　大貝（一兩）　白及（二錢）　焦麥芽（一兩）　青木香（一錢）</p>
<p>服兩劑，痛減塊消。</p>
<p>（案3）丁村。乳房近脅板硬，色白，此係氣滯痰凝。</p>
<p>柴胡（六分）　川芎（一錢）　半夏（一錢半）　青皮（一錢半）　白芥子（二錢）　歸尾（三錢）　甘草（一錢）　陳皮（一錢）　甲片（一錢）　牛蒡（炒，二錢）　木香（六分）　香附（一錢半）　玉金（一錢半）　川楝子（三錢）　陳酒（一杯，沖）</p>
<p>（案4）孟，右。夾積夾痰，中脘結塊拒按，防成脘癰。</p>
<p>半夏（一錢半）　焦枳實（一錢）　茅朮（一錢半）　萊菔子（炒，二錢）　甲片（一錢）　香附（一錢）　甘草（一錢）　檳榔（一錢）　莪朮（炒，一錢）　焦神麯（一錢）　歸尾（二錢）　瓜蔞仁（二錢）　石菖蒲（五分）</p>
<p>（案5）汪，右。木鬱氣滯則痰凝。乳房結痂，頂起紅色，不易消散。慎勿多勞多怒為囑。</p>
<p>銀花　蒲公英　夏枯草　豭鼠糞　甘菊　大貝　橘葉　連翹　地丁草　漏蘆　白芷　山慈姑　炙草　瓜蔞仁　陳皮　茜草　乳沒</p>
<p>上藥各三兩為末，另用夏枯草□熬膏為丸。每服五錢，臥時開水送下。</p>
<p>（案6）周，左。鳩尾之下，上脘部位結疽如盤，此係痰阻交凝、冷寒停聚。法宜溫通。</p>
<p>官桂（一錢）　丁香（四分）　焦枳殼（一錢）　茅朮（炒，二錢）　當歸（五錢）　甲片（炙，一錢）　半夏（炒，一錢半）　陳皮（二錢）　白芥子（二錢）　焦神麯（一錢）</p>
<p>加木香五分。</p>
<p>復診　堅如頑石，硬如牛領，大若覆碗，踞於中脘期門之間。脈至沉細，納穀日減。此純乎寒氣痰積閉結，非但難消，成功不易，倘若潰膿，有性命之憂。商以回陽三建湯以冀得溫則化，然亦只可希圖萬一。</p>
<p>熟附子（一錢）　黨參（四錢）　川芎（一錢）　當歸（五錢）　茯苓（一錢半）　黃耆（六錢）　杞子（二錢）　紅花（三分）　紫草（八分）　生茅朮（二錢）　陳皮（二錢）　小樸（一錢）　半夏（二錢）　木香（六分）　甲片（一錢）</p>
<p>又方　加黃連（三分）、神麯（炒，一錢）</p>
<p>又方　生南星（一兩五錢）　生半夏（一兩五錢）　川烏（一兩）　草烏（一兩）　官桂（一兩）　五倍子（二兩）　杜赤豆（三兩）　木香（五錢）　寸香（一錢）　赤芍（一兩）　薑黃（一兩）　陳小粉（炒，三兩）</p>
<p>上藥為末，用雞子白、蜂蜜、燒酒調和，厚敷腫處，每日一換。</p>

<h1>腹部</h1>
<p>（案1）左。脈至左弦右弱，臍左寸許有塊，硬而似痂，此處並非結痂地位，乃是肝血不足，筋不柔和，似塊非塊，攻散消破，斷斷不宜。</p>
<p>當歸（三錢）　柏子仁（一錢）　白芍（一錢）　洋參（二錢）　木瓜（一錢）　棗仁（三錢）　制首烏（四錢）　石決明（三錢）　黑梔子（四分）　秫米（炒，三錢）</p>
<p>（案2）右。筋無血養，氣不流行，少腹結塊，痛連腿膝，不能屈伸。六脈細弱如無，此宜溫培氣血。</p>
<p>黨參（三錢）　熟地（八錢）　茯苓（一錢）　炙草（五分）　川芎（一錢）　白芍（一錢）　當歸（三錢）　白朮（炒，二錢）　續斷（二錢）　木瓜（一錢半）　杜仲（四錢）　炮姜（六分）　熟附子（四分）　牛膝（一錢半）　木香（三分）</p>
<p>（案3）右。塊大，周圍徑尺，不在皮膚，亦不在肉。雖不著骨而附於筋，所以痛則牽連絡脈，後連腰脊，下連於腿，無處不痛。症屬陰經之陰症，所以朝輕暮重，蒂固根深，消之甚難。成功亦不易，議與血氣兼培之中加宣絡行血，血瘀理氣消堅一法。</p>
<p>洋參（三錢或五錢）　黃耆（八錢或一兩）　當歸（一兩）　丹參（三錢）　延胡索（生熟各一錢半）　川楝子（炒，二錢）　赤芍（一錢）　紅花（四分）　烏藥（一錢）　丹皮（一錢）　銀花（四錢）　肉桂（二分）　劉寄奴（二錢）　炙甲（一錢）　角刺（二錢）　桃仁泥（二錢）　車前（二錢）　甘草（一錢）　楂肉（炒，二錢）　乳沒（各一錢）　木香（四分）</p>
<p>復診　原方加赤芍五分。</p>
<p>又：消補兼施之中佐以舒筋活絡之品。</p>
<p>洋參（四錢）　黃耆（一兩）　當歸（八錢）　丹參（三錢）　元胡索（三錢）　川楝子（一錢半）　熟地（四錢）　紅花（四分）　烏藥（一錢）　丹皮（一錢）　銀花（四錢）　肉桂（三分）　劉寄奴（二錢）　甲片（一錢）　續斷（二錢）　桃仁泥（二錢）　車前子（炒，一錢半）　澤瀉（一錢半）　砂仁（炒，一錢）　木瓜（炒，一錢）　木香（四分）　荔枝核（一錢）　沒藥（一錢）</p>
<p>原方加大腹皮。</p>
<p>又：諸恙漸次向安，惟過午身熱不退者，究屬產後營虧未復。原方中漸增肝腎補陰之品。</p>
<p>洋參（四錢）　黃耆（一兩）　當歸（八錢）　丹參（三錢）　牛膝（一錢半）　熟地（六錢）　紅花（四分）　烏藥（八分）　生熟元胡（各一錢半）　川楝子（一錢半）　丹皮（一錢）　銀花（四錢）　肉桂（三分）　劉寄奴（一錢半）　甲片（一錢）　續斷（一錢半）　桃仁泥（一錢）　車前（一錢半）　澤瀉（一錢）　砂仁（一錢）　木瓜（一錢）　木香（四分）　沒藥（一錢）　白芍（一錢半）</p>
<p>又：原方加青皮、烏藥。</p>
<p>（案4）毛，右。臍下右半紅腫而痛，因膿出不清，餘毒猶存也。培養氣血之中兼清解疏理之品，還宜稍為加重以清余焰。</p>
<p>黃耆（六錢）　當歸（三錢）　甘草（一錢）　赤芍（炒，五分）　生地（五分）　山藥（炒，五錢）　扁豆（三錢）　陳皮（一錢）　白芍（一錢）　銀花（三錢）　洋參（三錢）　砂仁（八分）　生熟穀芽（三錢）</p>
<p>（案5）某。腹皮癰塊大如盤，色白，板硬，脈至左三部遲滯，此寒積夾瘀所成。</p>
<p>烏藥　川楝子　寄奴　生地榆　甲片　桃仁泥　元胡索　當歸　白芍　楂肉　角刺　條芩　肉桂　沒藥　瓜蔞仁　木香　銀花</p>

<h1>腋部</h1>
<p>（案1）史，右。爪枯為血虛，畏風為氣虛。腋下生痰，脈見左寸關滑數甚於別部。脈症合參，良由肝腎之陰虧於下。陰虧則陽浮於上，火動風生，風動痰生，此症之由來也。壯水涵木，制陽熄風，不治痰正所以治痰也。</p>
<p>生地（五錢）　丹皮（一錢）　萸肉（一錢半）　茯苓（一錢半）　黑梔（一錢）　川貝（三錢）　當歸（三錢）　白芍（二錢）　澤瀉（一錢）　石決明（六錢）　山藥（三錢）　甘草（一錢）　牡蠣（五錢）　竹油（十匙）</p>
<p>（案2）蘇，右。腋疽潰而不斂，由來已久，脈至軟弱，氣血虧矣。</p>
<p>十全大補去肉桂，加陳皮（一錢）、香附（一錢）、生熟穀芽（三錢）、桑枝（四錢）、薑棗（各若干）。</p>
<p>（案3）錢，右。木鬱氣滯痰凝，頸側腋下結塊，硬而色白，此非尋常外症可以清散攻消，治當養營和衛，佐以化堅。耐心服之。</p>
<p>柴胡（鹽水炒，三分）　香附（醋炒，二錢）　大貝（二錢）　白芍（一錢）　川楝子（二錢）　白芥子（炒，一錢）　黨參（三錢）　冬朮（炒，三錢）　當歸（一錢半）　神麯（炒，一錢）　炙甘草（五分）　炙甲片（一錢）　煅牡蠣（五錢）　姜（一片）</p>
<p>（案4）左。穿胛腋疽生於右半，漫腫色白，痛連胸背。脈至浮數，左關為甚；右脈澀滯。增寒壯熱，此係努力傷筋，血凝氣滯，更兼重感風寒。肝鬱不舒，邪襲太陽、少陽、陽明以致內外併發重症也。為日已多，難於消散，論脈論症，理當疏托兼施。受病夾雜，方亦不能簡淨。病勢方張，素體虛弱，正多變遷，飲食起居不可不小心調養，還須耐煩。倘能根束頂高，毒聚得膿，則吉。</p>
<p>柴胡（四分）　當歸（四錢）　角刺（三錢）　連翹（三錢）　川芎（一錢）　紅花（六分）　廣玉金（一錢）　陳皮（二錢）　草節（一錢）　銀花（四錢）　大貝（二錢）　花粉（四錢）　木香（八分）　白芥子（炒，一錢半）　赤芍（一錢）　綿耆（一兩）　洋參（二錢）　焦穀芽（四錢）</p>
<p>復診　原方加刺蒺、半夏，去大貝、赤芍。</p>
<p>又：大膿已得，六脈細弱，氣血俱虧，純乎虛象，法當氣血兼顧，加重補脾醒胃之品投之。但飲食寒暖要極其小心，否則虛人多變。</p>
<p>當歸（三錢）　川芎（一錢）　白芍（一錢半）　熟地（六錢）　木香（八分）　元胡索（三錢）　官桂（五分）　甲片（一錢）　洋參（五錢）　連翹（二錢）　川楝子（炒，三錢）　刺夕（炒，五錢）　石決明（一具）　楂炭（二錢）　青皮（一錢）　神麯（炒，一錢半）　茅朮（七分）　香附（二錢）</p>

<h1>肋部</h1>
<p>（案1）右。脾肺兩虧之體，今右肋生疽，腐而不脫，膿少水多，色滯紫暗，更兼吸吸短氣，納少便溏，百骸疼痛，此氣虛毒散，甚是可危。十日無變，方許可醫。</p>
<p>洋參（五錢）　黃耆（八錢）　扁豆（四錢）　砂仁（四分）　陳皮（一錢）　川金（七分）　山藥（六錢）　甘草（一錢）　銀花（五錢）　加合核桃肉（兩個）、乳香（六分）</p>
<p>（案2）左。疽生於肋，頂軟根硬，內膿既成，急急托之。</p>
<p>川芎（一錢半）　黃耆（七錢）　當歸（五錢）　甲片（一錢）　角刺（三錢）　甘草（三錢）　木香（八分）　銀花（四錢）</p>
<p>（案3）左。肋疽日數已多，難於消散。</p>
<p>黃耆　歸尾　甲片　角刺　赤芍　白芍　花粉　大貝　銀花　新會皮　白芷　甘草　加木香、乳末</p>
<p>復診　原方加白芥子。</p>
<p>又：原方加南星一錢半、歸身五錢，去歸尾，減木香三分。此方服之，堅腫已軟。</p>

<h1>背部</h1>
<p>（案1）宜興。蜂窩搭手偏於背之右半，腫而不高，束而未束，次系外症之重陰者，急宜托解以防內陷。況脈至無力，氣血本不充足，極要小心，不得泛視。</p>
<p>羌活（一錢）　黃耆（一兩四錢）　角刺（三錢）　木香（一錢）　川芎（二錢）　當歸（五錢）　銀花（一兩二錢）　荊芥（一錢半）　甲片（炙，一錢）　冬朮（炒，二錢）　新會皮（一錢半）　甘草（一錢）　洋參（四錢）　乳沒（各五分）</p>
<p>（案2）嚴莊。背右太少兩經交會之處患瘍，大小不一，色白漫腫而硬。一為少氣之腑，一為少血之腑。痰注寒凝，氣血因之不宣，脈亦為滯遲。法宜溫通化堅、和衛養營。</p>
<p>羌活（一錢）　柴胡（一錢）　黃耆（三錢）　當歸（三錢）　白芥子（二錢）　南星（一錢半）　白芨（二錢）　甲片（炙，一錢）　官桂（一錢）　黃芩（一錢）　角刺（三錢）　香附（三錢）　加木香（八分）</p>
<p>（案3）衛，左。癰生於背，色紫，頂平根散，症非輕淺。</p>
<p>川芎（一錢半）　當歸（五錢）　黃耆（一兩）　羌活（一錢）　冬朮（炒，三錢）　銀花（一兩）　乳香（一錢）　洋參（四錢）　砂仁（炒，一錢）　陳皮（一錢半）　生熟穀芽（各五錢，煎代）</p>
<p>復診　原方加淮山藥、扁豆、神麯。</p>
<p>（案4）朱，右。背疽橫偏左半，發於太陽，近於肝俞。一臟一腑皆是少氣，氣衰則血亦虧，所以散而不束，頂亦平塌。況年逾六旬，氣血本虧矣。論症，理當重託，兼以解毒，而於脾胃不傷之劑乃是正治。但毒勢方張，變幻正多，難恃無恐。總要大膿得，根腳束，腐肉脫，半月之內七惡不見，方可無虞。非輕之症，可以藐視？</p>
<p>羌活（一錢）　荊芥（一錢半）　川芎（一錢半）　甲片（炙，一錢）　黃耆（一兩二錢）　廣皮（一錢半）　玉金（七分）　銀花（一兩）　角刺（三錢）　當歸（三錢）　草節（一錢）</p>
<p>（案5）左。背瘍漫腫，偏於右半，系足太陽膀胱經循行之處，在肺俞穴下肝俞、膽俞、脾俞穴部位。時維七八月，頂不高，根不束者，氣不足，血不充也；瘡口紫暗，四圍紅光飛越者，毒火勢勝也；怯寒汗多者，表虛也；舌苔垢膩而白，中有濕滯也。膀胱主司水道。經絡壅，但生瘍，所以小便赤熱。平素不免憂思拂鬱，更兼勞碌好飲，所以肝脾兩傷而發於本經俞也。治當氣血同培，兼以清熱解毒而顧脾胃。</p>
<p>黃耆（一兩四錢）　川芎（一錢）　草節（一錢）　當歸（五錢）　黑梔（一錢）　茯苓（三錢）　銀花（一兩五錢）　角刺（三錢）　廣皮（一錢半）　甲片（一錢）　羌活（一錢）　荊芥（一錢）　赤芍（一錢）　洋參（三錢）　焦茅朮（一錢半）　乳香（去油，一錢）　生、熟棗仁（各一錢半）　綠豆（五錢）　苡米（炒，五錢）　木香（六分或四分）　丹參（三錢）　砂仁（六分）　神麯（炒，一錢半）　車前子（炒，一錢半）　鮮荷梗（五寸）</p>
<p>另：生熟穀芽各五錢煎代。</p>
<p>復診　昨見痰多而冷，飲食不貪，純乎脾胃濕滯不化。外瘍一症，必得氣血充足，方能化膿脫腐收口，而氣血之生必籍脾土資養。今納少如此，而藥亦不能酣飲，前方加重培土之品，必得脾胃強旺，方可無慮。所謂得神者昌也。</p>
<p>黃耆（二兩）　川芎（一錢）　甘草（一錢）　當歸（五錢）　甲片（一錢）　銀花（一兩五錢）　角刺（三錢）　廣皮（二錢）　苡米（六錢）　羌活（一錢）　茯苓（三錢）　荊芥（一錢）　赤芍（一錢）　洋參（四錢）　茅朮（一錢）　棗仁（炒，二錢）　砂仁（炒，一錢）　車前子（炒，一錢半）　神麯（炒，一錢半）　木香（八分）　乳香（六分）　白朮（炒，二錢）　淮山藥（炒，一兩）　赤苓（一錢）　黨參（四錢）　半夏（炒，一錢半）　遠志（炒，七分）　白蔻仁（三粒）　生熟穀芽（八錢）　煎湯代水</p>
<p>復診　前方去砂仁、赤苓、甲片。</p>
<p>又：多慮多勞又兼酒濕，以致脾胃兩傷、營衛不和，疽發於背。潰大如盤，根腳不束，頂腐不脫，勢在極凶，急宜丟開家事，怡悅情懷，此症之第一妙方。至於藥餌，不外乎培補脾胃，氣血兼顧，大料重劑，日夜酣飲，庶乎藥力可以勝病。如不肯多吃，譬之杯水車薪，而欲見功，豈不難乎？</p>
<p>黃耆（三兩四錢或二兩二錢）　川芎（一錢半）　當歸（三錢）　黨參（一兩或二兩二錢）　焦白朮（一兩二錢或八錢）　半夏（炒，二錢）　廣皮（三錢）　茯苓（三錢）　蒼朮（一錢）　蔻仁（三粒）　砂仁（一錢）　荊芥（炒，一錢）　羌活（二錢）　神麯（炒，一錢半）　苡米（四錢）　遠志（六分）　山藥（一兩或一兩二錢）　木香（八分）　車前子（一錢半或二錢）　銀花（一兩五錢）　生熟穀芽（各五錢，煎代）</p>
<p>又：屢投大劑重託解，根腳雖不能收束，頂得漸漸高聳。數日前之膿水稀而色晦，今日逐膿厚而見黃色，此藥力漸得，毒有向外之勢。但飲食不多，未為全美。此時，第一不可受寒；第二不可氣悶；第三一切家事宜置之度外。不遵戒守，極易生變。勿為余言之不早也。方與前同，分兩稍為增減。</p>
<p>（案6）許，左。寒濕夾痰，流注於足太陽經，疽大周二尺有餘，重症也。</p>
<p>羌活（一錢半）　官桂（一錢）　歸尾（三錢）　半夏（三錢）　白芥子（炒，二錢）　大貝母（三錢）　草節（三錢）　甲片（炙，一錢半）　全蟲（三個）　角刺（三錢）　制南星（一錢半）　澤瀉（一錢半）　黨參（三錢）　木香（三錢）</p>
<p>（案7）吳，右。背發癰。</p>
<p>黃耆（六錢）　當歸（三錢）　川芎（八分）　銀花（三錢）　甘草（一錢）　焦穀芽（三錢）</p>
<p>（案8）呂，右。背疽黑陷，六脈俱伏。常城內外之醫俱曰不治。來質於余。余細細參之。瘡而至黑，黑而至陷，陷而至於脈無。即當神不安寧，非昏即憒矣。而語言如前，氣爽神倦，此非虛也，亦非陷也。及省其大便，已十餘日不解；問其飲食，雖不能如未病之時，而減亦無幾。及看其所服之方，用人參、附子者不少。余曰：此非虛而邪陷，乃毒閉而火結也。半由醫藥所致，以熱濟熱，火上添油也。經所謂不焦而枯，所以黑也。閉結則脈絡不通，所以脈伏而便閉也。法當清解透達，所謂火鬱則發之。</p>
<p>川連（五分）　竹葉心（一錢）　大豆卷（三錢）　生石膏（一兩）　銀花（一兩五錢）　黑梔（一錢）　薄荷（一錢）　生甘草（一錢）　角刺（二錢）　洋參（三錢）　當歸（三錢）　加鮮蘆根（一兩）</p>
<p>上方服至三劑，而口舌糜爛，可畏，六脈洪大，瘡形高，黑色轉紅而痛矣。伊胞弟同來，見而畏之。余曰：此毒火外達，是吉兆也。從此加緊趕服清解之品可以而愈，以後蘆根常用之一斤，搗汁沖服，石膏常用一兩，銀花常用二兩，洋參常用一兩，其餘不過見症加減。重託清解服至四十劑，而腐脫新生。改用清補，又三十劑而收功。</p>
<p>（案9）程，左。背疽偏於左半，色暗而紫，頂平根散。瘡形大有尺許，頭面數十孔如椒眼，無膿而流血，色暗，神情委軟，六脈虛軟。飲食減少，唇舌色淡，此氣弱血虛、脾胃兩傷，陽衰之症。非大加溫補不可。</p>
<p>荊芥（炒黑，二錢）　綿耆（二兩）　當歸（酒炒，八錢）　黨參（炒，一兩）　山藥（一兩）　陳皮（二錢）　肉桂（一錢）　附子（一錢）　羌活（一兩）　白芍（一錢）　焦穀芽（一兩）　炮姜（一錢）　冬朮（一兩）　生熟甘草（二錢）　扁豆（炒，二兩）</p>
<p>上藥服至十餘劑，而瘡形起發，血亦不流，而膿見矣。精神漸好，脾胃日起。耆加至四兩而止，附子加至三錢而止，炮薑、肉桂加至二錢而止，銀花、冬朮加至二兩而止，服至六十劑，腐脫新生，改輕藥方，服而收功。</p>
<p>（案10）汪，左。色帶紅而頭多，計日半月還未得膿，症屬半陰半陽。托解則可，寒涼則變。</p>
<p>羌活（一錢半）　川芎（三錢）　黃耆（一兩）　當歸（五錢）　角刺（三錢）　銀花（八錢）　荊芥（二錢）　冬朮（三錢）　新會皮（二錢）　甘草（一錢）　生赤首烏（一兩）　炙甲片（一錢）</p>
<p>（案11）沈，左。疽發於背，漫腫無盤。面浮，納減，腐肉不脫，勢欲內陷，可危之至。能受大劑半月之中不變，方有轉機。此時未使許醫。</p>
<p>羌活（一錢半）　荊芥（二錢）　川芎（二錢）　洋參（一兩）　黃耆（一兩五錢）　當歸（五錢）　廣皮（三錢）　銀花（一兩五錢）　甘草（三錢）　冬朮（八錢）　加焦穀芽（一兩）、乳香（去油，五分）</p>
<p>復診　原方加熟地（六錢）、山藥（一兩）、白芍（二錢）、神麯（炒，二錢）、砂仁（炒，八分），加重黃耆（一兩）、冬朮（七錢）。</p>
<p>又：加重熟地四錢，減羌活五分、當歸二錢、川芎五分，去乳香。</p>
<p>又：羌活（一錢）　荊芥（二錢）　川芎（一錢半）　洋參（一兩）　黃耆（二兩五錢）　冬朮（一兩三錢）　當歸（三錢）　新會皮（三錢）　銀花（一兩五錢）　甘草（三錢）　熟地（一兩二錢）　山藥（一兩）　白芍（二錢）　神麯（炒，一錢）　砂仁（炒，八分）</p>
<p>又：原方加楂炭（一錢半）。</p>
<p>又：加木香（五分），減羌活（五分）、川芎（五分）、荊芥（一錢）</p>
<p>又：加重白芍（一錢）、神麯（炒，一錢）、楂炭（五分）、木香（五分），減黃耆、銀花（各三錢），洋參（二錢）</p>
<p>又：減銀花（三錢）</p>
<p>又診：又減銀花（一錢）</p>
<p>又：身熱倦怠，新肉不起。黃耆仍宜加重。</p>
<p>楂肉（炒，二錢）　木香（一錢）　羌活（五分）　荊芥（一錢）　川芎（一錢）　洋參（八錢）　黃耆（二兩五錢）　冬朮（一兩三錢）　當歸（四錢）　廣皮（三錢）　銀花（七錢）　甘草（三錢）　熟地（一兩二錢）　山藥（一兩）　白芍（炒，三錢）　焦神麯（二錢）　砂仁（八分）　焦穀芽（一兩）</p>
<p>復診　加丹皮（炒，一錢半）、香附（炒，三錢）</p>
<p>（案12）張，左。蜂窩發偏於左半，色紫，根散平，此係肝鬱氣滯，體弱血虧而結。所服方藥甚是合宜，惟托藥還可加重，解毒之藥不可不兼。擬方俟。倪先生主裁：</p>
<p>羌活（一錢半）　川芎（三錢）　荊芥（三錢）　洋參（一兩二錢）　當歸（一兩）　草節（三錢）　銀花（一兩五錢）　楂炭（二錢）　黃耆（一兩五錢）　木香（二錢）　紅花（六分）　角刺（三錢）　廣皮（一錢半）　棗仁（炒，三錢）　乳香（五分）　鬱金（一錢）　生熟穀芽（一兩）　赤苓（三錢）　神麯（炒，一錢）</p>
<p>復診　大便溏薄，原方減當歸五錢，加重銀花三錢、焦楂肉一錢。</p>
<p>又：毒勢正當熾甚，藥惟恐不敵，還宜加重。內有正氣護托，或能漸漸向外，不致攻裡，但須寒暖小心，勿動氣惱為囑。如不戒守，頃刻可變，千萬自愛。</p>
<p>冬朮（一兩）　扁豆（五錢）　羌活（一錢半）　川芎（四錢）　荊芥（三錢）　洋參（一兩五錢）　黃耆（三兩）　當歸（七錢）　草節（三錢）　銀花（一兩七錢）　楂肉（三錢）　木香（一錢）　紅花（六分）　角刺針（三錢）　新會皮（一錢半）　棗仁（炒，三錢）　乳香（五分）　生穀芽（一兩五錢）　鬱金（一錢）　神麯（炒，一錢半）　赤苓（三錢）</p>
<p>又：頂得高，根得束，大便漸固，已有可生之機。藥醫、人事兩能湊合，自然漸入佳境。</p>
<p>原方加大熟地（四錢）、砂仁（六分）</p>
<p>復診　去角刺針。</p>
<p>又：蜂窩發已有向愈之勢，但人事調理還當格外小心。</p>
<p>原方減羌活（五分）、川芎（一錢半）、黃耆（五錢）、荊芥（一錢）、洋參（五錢），銀花（二錢）、加重生地（四錢）、砂仁（二分）、紅花（一分）、白芍（二錢），去乳香、鬱金。</p>
<p>（案13）錢，右。無論內症外症，有胃氣者生，無胃氣者死。今背心潰大如盤，腐肉已脫。先賢云：半月之後，治當大補，得全收斂之功，切忌寒涼，致取變生之局，寒涼尚忌，況可攻伐？且其食少，而中宮痞塞，脾胃有敗絕之虞。目下急以醒胃醒脾方法進之，穀食漸增，方有生息，此時吉少凶多也。</p>
<p>冬朮（一兩）　茯苓（二錢）　砂仁（二錢）　黨參（炒，五錢）　生熟穀芽（一兩）　炙草（六錢）　銀花（八錢）　廣皮（二錢）　扁豆（炒，一兩）　生薑（一片）</p>
<p>（案14）徐，左。悒鬱恚怒，氣滯血凝，毒發肝腎。頂平色紫，頭多如蜂窩，散漫不束，病屬重險。脈至左弱右弦，正虛邪盛，調治失宜，極易變陷。此時勢若燎原，急當大劑托解。十日內頂高根聚，半月後腐脫膿多，乃是佳兆。凡寒暖氣惱，急宜自慎，切囑切囑。</p>
<p>羌活（一錢）　川芎（二錢）　當歸（一兩八錢）　銀花（一兩八錢）　陳皮（三錢）　荊芥（三錢）　玉金（一錢）　木香（一錢）　生地（一兩）　角刺（三錢）　草節（三錢）　洋參（六錢）　乳、沒（各五分）　焦穀芽（一兩，煎代水）</p>
<p>復診：原方加黃耆（二兩）、砂仁（八分）、洋參（八錢），減當歸。</p>
<p>又：羌活（一錢）　川芎（二錢）　當歸（五錢）　銀花（二兩四錢）　大生地（一兩五錢）　陳皮（三錢）　荊芥（三錢）　玉金（一錢）　木香（一錢）　角刺（三錢）　草節（三錢）　洋參（一兩八錢）　黃耆（三兩）　砂仁（炒，一錢）　麥冬（一錢）　冬朮（一兩三錢）</p>
<p>加乳沒（各五分）、焦穀芽（一兩，煎代水）</p>
<p>又：加扁豆（炒，五錢）、白芍（炒，二錢四分），加重洋參（二錢）。</p>
<p>又：加重白芍（一分）、冬朮（三錢）、黃耆（五錢）、銀花（一錢）。</p>
<p>又：羌活（一錢）　川芎（二錢）　當歸（五錢）　銀花（二兩四錢）　生地（一兩五錢）　廣皮（炒，三錢）　荊芥（炒，三錢）　玉金（一錢）　木香（一錢）　草節（三錢）　洋參（二兩）　黃耆（三兩）　砂仁（炒，一錢）　麥冬（一錢）　冬朮（一兩三錢）　扁豆（炒，八錢）　白芍（一錢）　棗仁（炒，三錢）　神麯（炒，二錢）　山藥（炒，五錢）　乳沒（各五分）　熟地（炒，五錢）　穀芽（二兩）</p>
<p>（案15）陸，左。毒發肝腎，透於太陽。色紫，頂平，根不收束脈至細弱無根。轉側不能輕便。腐而不化，按之板硬。毒盛正虛，凶多吉少。凡實症，可攻，可散，可清，可消，至於虛症，能護托於十日之前，收功者多。及其毒勢散漫，雖托亦無及矣。坐視不援，固非仁者之心，然馬到臨崖，收韁惟恐已晚。勉方以應主人之命，自問學淺，不勝重任，還祈速請高明診治。</p>
<p>川芎（一錢半）　當歸（一兩）　荊芥（二錢）　洋參（五錢）　黃耆（二兩）　銀花（二兩）　紅花（五分）　甲片（炙，二錢）　草節（二錢）　陳皮（二錢）　木香（七分）　杜仲（三錢）　赤苓（三錢）　羌活（一錢）　角刺（一錢）</p>
<p>又：昨投大劑護托透解之法，色轉紅活，略能高聳，根亦稍聚，脈數亦稍減，舌苔亦稍淨，惟胸腹滿悶如前，按之中空，此氣火毒邪盤踞於中。所云：實者可攻可逐，虛者只可托解。邪正本不兩立：正虛則邪進，正旺則邪退。內外一理，並非臆說。昔賢云：脈虛正虛，首尾必行補法。又曰：半月之後，膿少不腐、頂不高跟不束者，乃極虛之症，治當大補，得全收斂之功，豈狂語乎？余非好奇好異，更，讀古人之書不敢不遵古人之訓。仍用前法。</p>
<p>川芎（二錢）　當歸（一兩）　荊芥（二錢）　洋參（八錢）　黃耆（二兩四錢）　扁豆（炒，五錢）　銀花（二兩）　紅花（五分）　甲片（炙，一錢）　甘草（一錢）　陳皮（二錢）　羌活（一錢）　木香（八分）　杜仲（三錢）　赤苓（三錢）　川貝（一兩）　砂仁（炒，一錢）　角刺（三錢）　焦穀芽（一兩五錢，煎代）</p>

<h1>腰部</h1>
<p>（案1）汪，左。中石疽，覆大如碗，頑硬如岩，脈至左關弦大而滑，此屬木鬱痰凝。如能化膿則吉，否則，服藥不易見功。</p>
<p>桂肉（五錢）　當歸（五錢）　木香（八錢）　白芥子（二兩）　昆布（三兩）　瓦楞子（三兩）　海浮石（三兩）　川楝子（三兩）　兩頭尖（二兩）　青皮（一兩）　半夏（一兩）　元胡索（二兩）</p>
<p>上為末，水泛為丸，食後一時許，開水送下四五錢。</p>
<p>（案2）王，左。腎俞部位結塊板硬，痛而不能轉側，此穴生疽非輕小可比也。</p>
<p>肉桂（五分）　黃柏（鹽水，一錢）　杜仲（四錢）　牛蒡（炒，四錢）　甲片（一錢）　知母（炒，一錢）　當歸（五錢）　加獨活（一錢）、鹿角膠（三錢，化沖）</p>
<p>（案3）卯，左。腹之右半腫痛連於腰背，由來幾及一月，此係盤腸腰注，重恙也。</p>
<p>當歸（一兩）　川芎（一錢）　元胡索（半生半熟，三錢）　烏藥（一錢）　白朮（炒，三錢）　桃仁泥（一錢半）　沒藥（一錢）　川楝子（三錢）　黃耆（五錢）　木香（六分）　肉桂（三分）　銀花（二錢）</p>
<p>（案4）吳，左。腰脊兩旁板硬無情，脈至沉遲，此寒痰濕濁滯於足太陽。膀胱為寒水之府，宜溫通則化。</p>
<p>羌活（一錢半）　茅朮（一錢半）　赤苓（一錢半）　澤瀉（一錢半）　桂枝（一錢半）　白芥子（二錢）　牛蒡子（二錢）　豬苓（一錢半）　歸尾（二錢）　甲片（一錢）　木香（三分）</p>

<h1>內癰部</h1>
<p>（案1）伍，左。外症有發於外者，有生於內者。發於外者，人易知；發於內者，人不知覺。據述右肋之間，先隱隱作痛。月餘之後，即吐似膿似血內夾稠痰者，似屬癰生於內。至於用藥調治，內外本無二理。此時惟有氣血兼培，脾胃並顧。留方備未，不識高明以為然否？還祈酌裁。次診在外。</p>
<p>黃耆（六錢）　當歸（三錢）　扁豆（四錢）　甘草（一錢）　白芍（一錢）　陳皮（一錢）　建蓮（炒，五錢）　生熟穀芽（各二錢）</p>
<p>早服獨參湯。</p>
<p>（案2）右。月前產後惡露不清，少腹之左先攻撐作痛，今結塊拒按，左足屈伸不利，身熱，脈數，勢欲成癰，症非輕淺。</p>
<p>苡仁（一兩）　川牛膝（二錢）　續斷（炒，三錢）　川芎（一錢半）　當歸（八錢）　元胡索（生熟各二錢）　丹皮（一錢半）　桃仁泥（二錢）　楂炭（二錢）　角針（三錢）　甲片（一錢）　車前子（二錢）　澤瀉（一錢半）　劉寄奴（二錢）　銀花（八錢）　木香（八分）　乳沒（各五分）</p>
<p>復診：癰勢稍平，而身熱無汗仍然不退。原方加味，宜投加柴胡四分、赤芍一錢。</p>
<p>（案3）費，右。少腹左半拒按作痛，左足難伸，腸內防生癰瘍。</p>
<p>川芎（一錢）　當歸（一兩）　川楝子（三錢）　元胡索（生熟各二錢）　白芍（一錢）　楂肉（炒，一錢半）　沒藥（一錢半）　川梔（一錢）　丹皮（一錢）　車前（三錢）　柴胡（四分）　甘草（一錢）　木香（四分）　角刺（二錢）　銀花（四錢）</p>
<p>（案4）王，左。近患懸癰，餘毒不清，內走腸間。少腹左半拒按作痛，足不能伸，此腸內生癰之象。</p>
<p>川苡米（一兩五錢）　秦艽（二錢）　木香（二錢）　紅花（六分）　炒牛膝（三錢）　青皮（一錢半）　烏藥（一錢）　角刺（四錢）　續斷（三錢）　元胡索（生熟各一錢半）　川楝子（三錢）　桃仁泥（二錢）　木香（八分）　沒藥（一錢）　神麯、楂炭（炒，一錢半）</p>
<p>復診未錄，略同。</p>
<p>（案5）余，童。童兒腹中不適，似有橫梗。按之不痛，脈來細弦，乃氣血不和之故也。延久慮成肚癰。</p>
<p>全當歸（三錢）　粉丹皮（炒，一錢半）　生白芍（一錢半）　陳皮（一錢）　澤瀉（一錢半）　赤苓（三錢）　赤小豆（三錢）　大貝（二錢）　生、熟甘草（各二分）　加玫瑰（二朵）</p>
<p>江北童九歲。血海有一橫梗，按之不痛微硬。此方服七十餘劑即愈，後加黃耆，服二十餘劑已。</p>

<h1>手足部</h1>
<p>（案1）左。手麻足痛，脈至細弱，氣虛血弱之故。</p>
<p>廣皮　秦艽　木瓜　松毛　桑枝　紅棗　杜仲　黃耆　當歸　川斷　牛膝　熟地</p>
<p>（案2）左。便血手足生瘡，浸淫濕爛。先以培土祛風滲濕治之，續宜商補劑調治。</p>
<p>防風　荊芥　苡仁　當歸　赤苓　黃耆　生茅朮　紅棗　桑枝</p>

<h1>下部</h1>
<p>（案1）程，左。下焦濕熱：</p>
<p>茅朮　黃柏　苡仁　赤苓　萆薢　川牛膝　銀花　甘草</p>
<p>又接方　赤首烏　丹皮　細生地　川石斛　甘草　當歸　苡仁　赤苓　銀花</p>
<p>又方　川貝八兩、竹油一兩，飯碗收干，研末，每用二錢，臨臥時淡鹽湯送下，或將好川貝一錢置於雞蛋殼內，一頭置一草圈於碗中，以蛋放草圈內，飯上蒸熟。下午食之亦可。</p>
<p>（案2）秦，左。表有風寒，里有濕濁，少腹之左近陰器囊處結塊，作痛連腰。發熱，脈數，恐成外瘍。</p>
<p>蘇梗　青皮　通草　元胡索　赤苓　杜仲　川楝子　木香　前胡　當歸</p>
<p>又：血疝半在少腹，入陰囊通連腰。為日已多，難行消散，勢在成癰。今脈至弦洪而大、右關尺更甚，舌苔黃厚，顯系下注厥陰而兼肝鬱氣滯，瘀凝所結。商以疏托兼施。所嫌向來多病，年及五旬，氣血不虧而虧，成癰出膿正多時日。非細事也。倘調理不善，變幻正多，不可不極其小心。</p>
<p>川芎　當歸　川楝子　元胡索　南沙參　角刺　甲片　青皮　洋參　赤苓　連翹　銀花　木香　生熟穀芽</p>
<p>復診：一病毒結四處，兩處得膿，其餘兩處亦不得消。遷延時日不待言矣。所慮腰痛近於脊骨命門，自病至今將及一月，日夜痛無已，時臥不成寐，精神有幾，其何以堪用？擬氣血兼培，佐以平肝清理濕熱一法。能逐漸減輕，乃是佳兆。吾恐體虛病重難以見功。</p>
<p>山藥　生地　丹皮　澤瀉　知母　砂仁</p>
<p>（生熟）　棗仁　洋參　赤苓　當歸　杜仲　南沙參　苡仁　延胡索　銀花　木香　生熟穀芽（煎代水）</p>
<p>又：大便閉結有虛實之分。實者因於火閉，必痞滿燥實兼全，在所必通，且不可緩；虛者乃肝腎陰虧，氣弱不能轉化，法當育陰扶正，少佐清潤之品，方不外乎前法。</p>
<p>生地（一兩）　山藥（三錢）　丹皮（一錢）　澤瀉（一錢）　知母（一錢）　苡仁（三錢）　棗仁（三錢）　洋參（五錢）　柏子仁（三錢）　南沙參（五錢）　杜仲（三錢）　當歸（五錢）　元胡索（三錢）　銀花（三錢）　扁豆（三錢）　生熟穀芽（一兩）</p>
<p>又：不更衣者，二旬有三，前日得解，神情反見頹困，日夜寤不成寐。氣血之虛不待言而知矣。從此大補氣血，大便不溏，胃口漸起，乃是轉機。</p>
<p>黃耆（八錢）　當歸（一錢半）　洋參（一兩）　茯神（二錢）　棗仁（三錢）　扁豆（五錢）　陳皮（一錢）　山藥（一兩）　砂仁（一錢）　銀花（三錢）　桂圓（十粒）　建蓮（炒，三錢）　熟地（炒，一兩）　杜仲（四錢）　冬朮（五錢）</p>
<p>復診：原方加秫米（三錢）、懷牛膝（一錢半）。</p>
<p>（案3）楊，左。魚口不斂，當活血解毒。</p>
<p>川芎　當歸　白芍　生地　大貝　甘草　銀花</p>
<p>（案4）王，左。寒濕下注腎囊化熱，紅腫連少腹，防成癰。</p>
<p>川楝子（二錢）　元胡索（炒，二錢）　茅朮（一錢）　小茴香（四分）　赤苓（三錢）　澤瀉（一錢半）　青皮（炒，一錢）　木香（六分）　豬苓（一錢）　烏藥（一錢）　連翹（三錢）</p>
<p>（案5）右。脈至沉而有力，濕熱下注肝腎。</p>
<p>黑梔　細牛地　草梢　丹皮　赤苓　荊芥　摩香附　連翹　銀花　石菖蒲</p>
<p>（案6）杜，左。下疳瘡。</p>
<p>耆　當歸　甘草　澤瀉　赤苓　中生地　夏枯草</p>
<p>復診：原方加川連。</p>
<p>（案7）金，左。下疳翻花。</p>
<p>銀花　中生地　黃柏（鹽水炒）　龜膠（化服）　烏梅</p>
<p>又方：田螺十個曬乾，硇砂紅番一兩，烏梅（炙）一個，共為細末，摻之。</p>
<p>（案8）楊，左。下疳瘡。</p>
<p>乳香　沒藥　川貝　寸香　制南星　西黃　草梢　山羊血　甘草節</p>
<p>蜜丸，每服三四錢。</p>
<p>（案9）周，左。懸癰。</p>
<p>用臂大甘草一斤，切四寸長，用橋下長流水一大碗，將甘草浸於水內，置於瓦上炙，輪流更換，以盡為度。每用此甘草一兩煎濃湯，清晨服。</p>
<p>（案10）楊，左。始因濕火下注而成囊癰，今雖得膿，收口晚，時少腹陰囊微有脹悶，此餘邪究未盡淨。用擬補中泄邪。</p>
<p>柴胡　大生地　丹皮　澤瀉　茯苓　青皮　新會皮　芡肉　黑山梔　山藥</p>

<h1>臀部</h1>
<p>（案1）左。濕火下注肛門，難安於坐。</p>
<p>苡米　赤苓　條芩　槐米　檳榔　枳殼　銀花　六一散</p>
<p>（案2）許，左。毒火夾濕下注。</p>
<p>黃柏　細生地　草梢　赤苓　萆薢　銀花　澤瀉　滑石</p>
<p>（案3）高，左。管瘍久不愈。</p>
<p>黃耆　當歸　冬朮　山藥　白芍　升麻　炙草　建蓮</p>
<p>（案4）夏，左。眼白屬肺，肛門屬大腸，原相為表裡。在上之邪熱不清，移於下而為漏瘍，為腫。</p>
<p>黃芩　槐角　白芷　桑皮　苡米　銀花　加象牙屑（五錢）</p>
<p>（案5）吳，左。濕熱下注肛門，結癰成漏，半由攻伐傷氣，半由濕濁不清。今脈象軟弱，氣血不可不補，還宜滲濕之品。但至陰之下藥不易到，須耐心調養方能痊愈。</p>
<p>黃耆　當歸　甘草　熟地　白芍　白芷　花粉　銀花　洋參　冬朮　槐角　苡米　象牙屑（五錢）　引豬後蹄腳（一對）</p>
<p>（案6）虞，左。肛旁左半生瘍，由於濕火下注。業已自潰。</p>
<p>當歸　白芍　黨參　生地　赤苓　甘草　銀花</p>
<p>（案7）王，左。素體薄弱，患瘍不斂而成管漏。膿水交流以致氣血愈傷。今神情委頓，六脈細數，飲食減少，內熱不已，勢非淺輕。用擬言，法以滋化源，以培根本。倘脈數減、飲食增，乃是轉機，此時正在凶險，無晦理及外瘍。</p>
<p>六味地黃湯清晨服，補中益氣湯晚間服。</p>
<p>（案8）某。肛旁潰瘍不斂，不時脹痛。</p>
<p>升麻　柴胡　耆　黨參　當歸　甘草　陳皮　桔梗　苡仁　麥冬　龜板　銀花</p>
<p>（案9）周，左。肛旁外瘍成漏。</p>
<p>刺蝟皮（炙，一張）　血餘（四兩）　象牙屑（炒，四兩）　黃耆（六兩）　當歸（酒炒，三兩）　甘草（四兩）　豬腳殼（炙，一兩）　龜板（炙，一個）　槐角（炒，二兩）</p>
<p>煉蜜為丸。</p>
<p>（案10）範，左。痔有內外之分，塊結肛門之裡，不腫不膿者，即內痔也；無非濕熱下注而成。臟頭一個洗淨，另用胡黃連五分、槐米三錢、木耳四錢入於臟內，煮熟，作飯菜食，鹽酒亦可用。</p>
<p>另方：桔梗　地榆　苡仁　枳殼　陳皮　檳榔　滑石　黃芩</p>
<p>（案11）江，左。失血於上，患瘍於肛旁，此所謂天穿地漏，為症非輕。患在至陰之下，藥力不易及，難求速效。</p>
<p>黨參　當歸　熟地　銀花　黃耆　白芍　甘草　苡仁　甲片　加豬後蹄腳殼（炙，一對）</p>
<p>（案12）王，左。尻骨之下為尾閭，患瘍不斂。周身之氣血，督脈一虧，無不虧矣。藥不過樹皮草根，焉能挽回氣血，已壞之後，且用十全大補合龜鹿以固任督。如有效還可著手，否則甚難。加銀花、杜仲。</p>
<p>（案13）張，左。頻年吐紅不除，肛瘍成漏不斂，一身氣血，奚堪遭此剝削而不為傷損乎？課讀耗氣勞神，非有病所宜，而房欲不可不絕，並不可動心為囑。</p>
<p>熟地　丹皮　茯苓　澤瀉　萸肉　天冬　麥冬</p>
<p>接方：炙綿耆（六兩）　炙當歸（酒炒，三兩）　草節（二兩）　龜板（炙，四兩）　血餘（三兩）　象牙屑（炒，三兩）　豬腳殼（炙，十個）　洋參（五兩）　棕灰（一兩）　銀花（二兩）</p>
<p>（案14）何，左。濕火下注，大便為痔，為疳。宜清下焦之火。</p>
<p>條芩　槐米　黑梔　黃柏　知母　滑石　銀花　當歸　細生地　龍膽草　甘草　大黃</p>

<h1>股部</h1>
<p>（案1）張，右。痰注發。</p>
<p>羌活　花粉　白芷　歸尾　赤芍　甲片　角刺　銀花　甘草　牛膝　陳皮　木香</p>
<p>復診　腿面陽明部位結疽，色白木硬，此係寒痰。經云：先腫而後脹者，寒傷形也。脈至軟弱。主以香貝溫散。方失。</p>
<p>（案2）王，左。痰附於骨，急切難消。</p>
<p>半夏（炒，二兩）　制南星（薑汁炒，二兩）　白芥子（炒，二兩）　官桂（一兩）　橘紅（鹽水炒，四兩）　甲片（三兩）　大貝母（二兩）</p>
<p>上藥煉蜜為丸，清晨鹽化湯送下四五錢。</p>
<p>（案3）高，右。癰結三陰，業已自潰，色帶紫暗，此肝腎營陰不足，濕火下注，凝聚而成。脈象雖虛，幸有根有神、不弦不數。能人事小心，不難就愈。擬托解一法。</p>
<p>紅花　銀花　丹皮　荊芥　生赤首烏　甘草　陳皮　牛膝（炒）　砂仁　焦穀芽</p>
<p>如胸膈不寬加木香，如色紅不退加連翹，如口渴加花粉，二三劑後加洋參。</p>
<p>（案4）秦，右。附骨疽。</p>
<p>祖十八味流氣飲攻托兼施：</p>
<p>木香　當歸　白芍　川芎　蘇梗　桔梗　枳實　烏藥　陳皮　半夏　茯苓　甘草　黃耆　大腹　檳榔　青皮　白芷　澤瀉</p>
<p>復診：懸擬方。</p>
<p>原方去甲片、角刺、防風、澤瀉，蒼朮換冬朮。</p>
<p>又：大膿已得，右脈還見數大，補氣血之中當佐以涼解。</p>
<p>洋參　茯苓　冬朮　甘草　當歸　銀花　川牛膝　白芍　生地　丹皮</p>
<p>（案5）張，左。寒濕下注三陰，腿內側結瘍，漫腫色白。先以溫通。</p>
<p>獨活　茅朮　白芥子　赤苓　木香　歸尾　甲片　防風　桂枝　全蟲（三個）　加川牛膝。</p>
<p>（案6）過，左。腿外側痛而不腫，脈至左三部弦數，理宜清疏少陽濕熱，即是從脈不從症之一法。若因其不紅而為寒，便認錯矣。</p>
<p>柴胡　川牛膝　連翹　木瓜　夏枯草　丹皮　青皮　當歸　木香</p>
<p>（案7）李，右。環跳疽。</p>
<p>杜仲　續斷　羌活　肉桂　銀花　木香　沒藥　當歸　川牛膝　加白鳳仙根。</p>
<p>（案8）劉，童。腿肚生癰已及半月，焮熱紅腫。</p>
<p>當歸　角刺　甲片　川牛膝　銀花　花粉　防風　廣皮　穀芽　甘草　大貝　赤芍　乳，沒藥</p>
<p>腿痛難伸，肌肉日削，脈弱無力，氣血有虧，沉寒深入，著骨附筋也。</p>
<p>大防風湯：</p>
<p>川芎　防風　冬朮　黃耆　肉桂　杞子　熟地　當歸　杜仲　牛膝　木瓜　秦艽　續斷　虎骨　獨活　鹿角霜</p>
<p>（案9）金，左。環跳痛而足不能伸，病在筋也。所嫌脈數，泄瀉，於症不合。且先固正育陰，以觀效否，再酌。</p>
<p>熟地　丹皮　萸肉　茯苓　澤瀉　杜仲　秦艽　木瓜　續斷　獨活　山藥</p>
<p>復診　原方加肉桂、黃柏。</p>
<p>（案10）山，南。腿之正面腫大如盤，位在陽明，其勢散漫。屬在重險，非他症輕小者可比。為日已久治以內托。</p>
<p>（案11）張，童。先起於不能步履，繼見大腿內側患疽。色白，潰後斂，而反復出膿，此足三陰虧損，寒痰凝結有力。服藥，加以小心調理。非必盡歸不治。兩者有一不能，欲愈甚難，況非可以速效，如法遵治，尚須曠日持久。目下兼感時邪，發熱咳嗽，補養之中略為疏解。</p>
<p>（案12）某。環跳痠痛，不能步履，由來半載，今面黃唇白，納少，胸悶，近加便溏。病本是寒濕下流，病標是寒濕積滯。</p>
<p>白朮　豬苓　澤瀉　赤苓　炙草　車前　扁豆　陳皮　杜仲　麥芽　神麯　防風　木香　木瓜　苡米　黑梔　茵陳　秦艽</p>
<p>（案13）某。環跳穴痛，跨縫之間內有濕，外受寒邪。仿二十四味流氣飲法以和營衛，加白鳳仙根。</p>
<p>（案14）王，左。喜按而痛，甚於夜。右腿環跳腫痛，連於內側跨縫並及委中，屈而難伸。兩尺脈來微細。午後日見寒熱，舌色苔黃。此肝腎兩虛，重寒深濕，著於筋骨，寒欲化火、濕欲化熱而成，附骨環跳疽之重恙也。用擬大防風加減治之。</p>
<p>黃耆　羌活　附子　蒼朮　川芎　黨參　牛膝　熟地　木瓜　苡米　當歸　防風　杜仲　甘草　細辛　柴胡　秦艽　續斷　加金銀藤</p>
<p>（案15）薛，左。肝主筋，腎主骨。凡有病之人，無論內外，舉動輕便、轉側自如者雖重，不重至於臥。不能起且不能動，非傷於肝即傷於腎矣。稍為明理，即當補托尚不能易見功。至於羌、獨、防風、芩、連、知、柏，施之於肌表風濕熱結成患，未嘗不效。用之於附筋著骨、肝腎兩傷之症則為害不淺，況可多服乎？無怪乎氣血日傷、脾土敗壞以致難挽，誰之咎歟？勉留一方以應主人之命。</p>
<p>（案16）朱，孩。此名胎瘤，痰附筋著骨，消之不易，成膿亦難。日後穿破，得膿可醫，清水不治。</p>
<p>白芥子　當歸　冬朮　半夏　骨碎補　淮牛膝　加姜（三片）、竹油（十匙）</p>
<p>（案17）劉，左。胎痰回陽三建湯。</p>
<p>加白芥子、甲片、川牛膝，改作丸藥，每早服三四錢，開水送下。</p>
<p>（案18）余，左。穿腸腿癰，日久難行消散，近腿縫處隆隆而起。按之微軟，內膿已成，所按色脈兩虛，且為補托，俟頂起膿足，庶可用刀出膿。</p>
<p>（案19）楊，左。股陰疽。</p>
<p>用攻散內加全蟲</p>
<p>（案20）王，左。腿痛上連於腰，不能屈伸。喜人揉按，不腫不紅，此因房欲後收寒，而又竭力動作傷筋，寒邪乘虛深入。症非輕淺。邪散恐防入腹攻心之劇，邪結則成貼骨腿癰之患。二十劑內應效尚可，否則往往遷延日月。</p>
<p>當歸　川斷　川膝　木瓜　杜仲　防風　紅花　木香　生地　獨活　秦艽　乳末　蔥頭　白鳳仙根　金銀藤</p>

<h1>膝部</h1>
<p>（案1）膝蓋腫痛連及踝骨，從痢後而得，即為之痢後風。</p>
<p>獨活　秦艽　防風　川芎　歸身　熟地　桂枝　茯苓　杜仲　牛膝　柴胡　黨參　黃耆　木瓜　續斷　炙草　細辛　砂仁　桑節</p>
<p>（案2）尤，左。膝腫連於委中，此係風寒夾濕，下注肝腎之絡。由來一月，惟恐成功出膿之勢居多。</p>
<p>年幼質弱，擬獨活寄生兼托兼清。</p>
<p>（案3）劉，左。瘀凝肝腎之絡，膝為腫脹，青筋暴露，藥不能速效。</p>
<p>當歸　續斷　獨活　豬膝蓋骨（炙，兩個）　生地　紅花　銀花　加松節</p>
<p>敷方：杜赤豆　赤芍　紫荊皮　白蘞　大黃</p>
<p>上藥為末，用鮮土艾汁調敷。</p>
<p>（案4）都，童。血氣筋攣，手足為之不伸。</p>
<p>又：兩膝浮腫，色白而熱，脈象帶數，此寒化為熱、濕化為火，宜溫涼並用，氣血兼培。</p>
<p>（案5）錢，童。溫熱夾風，流散膚腠，絡脈注於節骱兩膝。</p>
<p>復診　五行之中，惟風惟火遊移無定。火之有餘乃是水之不足；風之至盛，由血之有虧。經云：治風先治血，壯水可制陽。此症是也。然必耐心多服。</p>
<p>生地　秦艽　木瓜　丹參　當歸　銀花　沒藥　虎脛骨　向陽桑枝　茯神中木　青松毛　防風　羚羊角　黃柏</p>
<p>上三味如見骨節煩疼亦可暫用。</p>

<h1>脛部</h1>
<p>（案1）江，左。穿踝雖已得膿，而毒火蔓延，上下腿、趾俱腫。惟恐散走入腹，即有昏痙之變。能過十日，毒勢歸於一處，方可無虞。此時正多變幻不定，寒暖飲食極要小心。</p>
<p>（案2）宣，右。溫化熱，熱化風，遍體肌膚瘙癢，足踝赤爛浸淫。脈見左關尺數而有力。當清解下焦濕熱為主，並以疏泄風邪也。</p>
<p>黃柏　苦參　豨薟草　蒼耳子　苡米　桑白皮　當歸　細生地　防風　荊芥　川膝　石菖蒲　茅朮　黑梔</p>
<p>（案3）段，左。腿腫，內側肝經部絡脈腫，結聚成塊，得刺出血則松，此即血痣，血箭之屬。良由血熱阻位，絡脈不宣。</p>
<p>銀花　桃仁泥　紅花　松毛　歸尾　干蚯蚓（一條）　側柏葉　細生地　川牛膝</p>
<p>又方：血見愁（四兩）　紫草（四兩）　鐵屑研末，用醋調敷，側柏葉汁亦好。</p>

<h1>足部</h1>
<p>（案1）患瘍於足指，久而無膿，此氣血有虧。況年近七旬，用藥宜以扶土育陰而益清解之不傷胃氣者。</p>
<p>（案2）胡。濕濁歸於肝腎，足跟腫痛。</p>

<h1>發無定處</h1>
<p>（案1）夏，左。風濕感於營衛，遍體浸淫赤爛，下身尤甚。</p>
<p>荊芥　苦參　防風　紅花　桑皮　地骨皮　川芎　當歸　赤芍　細生地　苡仁　銀花　川膝　石菖蒲</p>
<p>（案2）龔，右。諸節屬肝，痛而且腫，脈致弦數，身見發熱，此木鬱氣滯、風旋陽亢。用擬逍遙以舒其鬱，加味以清其火。</p>
<p>（案3）王，左。肝風成而為厥。經云：治風先治血，血寧風自滅。慎勿猛烈再劫其陰。</p>
<p>川芎　生地　赤首烏　甘菊　荊芥　銀花　當歸　赤芍　豨薟草　蒼耳子　防風　丹皮　加紅花、桑枝。</p>
<p>（案4）秦，左。脈至滑數，肌膚瘋如血鱗，此血燥有火，宜涼血活血。</p>
<p>川芎　赤芍　當歸　銀花　豨薟草　防風　荊芥　黃芩　苦參　蒼耳子　桑皮　側柏葉　生赤首烏</p>
<p>脈至沉遲細弱，左足難伸，腰間作痛。結塊色白不熱不紅，而疼痛拒按。由來一月，日逐增重，乃寒濕深入肝、腎、膀胱三經，氣血因而凝滯，此流注中及重者，邪實正虛，治難速效，藥以溫通宣絡，疏理氣血為主。</p>
<p>復診　肝主疏泄，胃司二便，筋屬肝而骨屬腎。今屈伸轉不能自如，二便不爽，此係肝腎虧損，寒濕乘虛內襲，更兼挹郁，鬱則氣滯，以致營衛不行，結成外瘍，脈不洪大，舌不焦乾而見渴，症屬水虧。疏泄消瘀之中宜兼養營育陰之品。</p>
<p>又：無論內外凡實症，其症秘結者，宜通宜利；虛症、寒症秘結者，非但不宜攻通利，總以得守為貴。昔賢云：大便彌固者彌良，雖日無礙。其所以秘結因氣血不通達耳。養其營陰，滋其枯涸，河流有流，舟楫自通也。但病勢方張，正當耐心為囑。</p>
<p>又：二十四味流氣飲法。</p>
<p>（案5）陸，右。附骨流注，能轉側者還可施治，不能動移者例在難醫。況起病至今兩月有餘，覆臥不動，穀食焉能運化？無怪乎便溏不已，非能盡歸於人事不慎。</p>
<p>（案6）陸，左。凡有多骨，無論上下，總屬寒濕深入腎經，久之，漸漸化熱而作痛作脹者，將欲潰也。雖無大害，甚屬纏綿。煎劑輕而上浮，不合於用，擬六味加溫通利濕之品，作丸常服，或能應效。然須保養，勿使腎關有泄。不遵守戒，服藥無功。</p>
<p>大生地（八兩）　熟附（八錢）　含鹽（二錢）</p>
<p>煎湯拌蒸九次。</p>
<p>丹皮（三錢）　牛膝（四兩）　茯苓（三兩）　澤瀉（三兩）　萸肉（四兩）　杜仲（三兩）　當歸（三兩）　骨碎補（去毛炙，三兩）　羊筋骨（炙，四兩）　制首烏（四兩）　龜背殼（炙，三兩）　豬膝蓋骨（炒，廿個）　核桃（鹽泥包好，煨成炭，廿個）</p>
<p>上藥煉蜜丸，鹽化湯送下。</p>
<p>敷藥密陀僧為末，桐油調厚，敷患處，用布紮好。</p>

<h1>疔部</h1>
<p>（案1）周，右。疔生鼻竅，名曰白刃。唇面腫脹連及左肋，心煩嘔惡，六脈洪大。業已走黃，勢難挽回。見遠途而來，不得不勉為圖治，以翼萬一也。</p>
<p>生礬三錢、蔥頭三個，和，研爛，以陳酒下之，取其澄清，無經不達。即用大劑清解，速速服之。</p>
<p>又方　銀花（四兩）　丹皮（三錢）　紅花（五錢）　連翹（五錢）　角針（五錢）　當歸（一兩）　紫地丁（一兩）　草節（五錢）　知母（四錢）　大貝（五錢）　甘菊（一兩）　製半夏（二錢）　白芨（三錢）　甲片（二錢）　乳香（一錢）　鬱金（一錢）　鮮菊葉（一兩）</p>
<p>此兩日半共服四貼。腫消勢減，頂高根束，熱退脈平，已有可生之機。</p>
<p>（案2）唐，右。疔毒走黃，從足指上及於膝，臃腫可畏。倘火毒攻心入腹，藥所難挽。茲以大劑日夜酣飲不輟。三日能得輕減，即有轉機；如其加重，便成棘手。</p>
<p>紫地丁（一兩）　銀花（二兩）　連翹（一兩）　黃柏（一兩）　滑石（三錢）　川牛膝（三錢）　赤苓（四錢）　大貝（三錢）　甘菊（一兩）　甘草（二錢）　生礬（二錢）</p>
<p>此方兩日四劑，而見大效。</p>
<p>復診　原方加歸尾、苡米，共服八、九劑而奏痊。</p>
<p>（案3）疔生顴右，紫色板硬，面目浮腫連及頸項。毒散如此，勢在難挽。但坐視不援，究非仁者之心，況為其子者，心甚懇切。焉有不用方之理？所開方味不合時宜，無怨則投，有疑勿服。</p>
<p>川芎（二錢）　當歸（一兩）　黃耆（一兩）　甘草（二錢）　川鬱金（一錢）　乳香（二錢）　生礬（三錢）　銀花（二兩）　加鮮菊葉（打汁，一茶杯，沖服）</p>
<p>上藥煎濃兩碗，日夕飲之。初五一劑，初六一劑。瘡口流血而膿少，乃是氣弱，肝脾失統失藏。用擬疔毒清神湯加減，以托毒外出，血去者益氣。</p>
<p>川芎（二錢）　當歸（一兩）　黃耆（二兩）　甘草（二錢）　乳香（一錢）　洋參（五錢）　荊芥炭（一錢）　丹皮（炒，一錢半）　銀花（二兩五錢）　生砂仁（八分）　連翹（二錢）　紅花（四分）　花粉（三錢）　木香（六分）　焦穀芽（六錢）　角刺（三錢）　地丁（五錢）　加鮮菊葉汁（一茶杯，沖服）</p>
<p>又：原方加重洋參三錢、紅花一分、焦穀芽五錢，減當歸四錢。</p>
<p>為昨日得解，恐其便溏毒陷也，再加重洋參、穀芽者益其氣，醒其胃，健其脾也。加重紅花者，活其血。血活則歸經也。</p>
<p>又：數日邪毒幸未內陷，疔根已能漸去。但腐必脫盡無變，方可望有生機。目下全仗無虧，調理得宜。稍有不慎，極易生變。</p>
<p>陳皮（一錢）　鮮菊葉（五錢）　生熟穀芽（煎湯代水二兩）　乳香（一錢）　紅花（五分）　地丁草（四錢）　當歸（五錢）　花粉　甘草（一錢）　連翹（一錢半）　砂仁（一錢）　黃耆（二兩）　川芎（一錢）　洋參（一兩）　銀花（二兩）　丹皮（炒，二錢）　荊芥（炒，一錢半）　木香（八分）　赤芍（一錢半）　鬱金（一錢）　大生地（八錢）　扁豆（二兩）</p>
<p>（案4）薛，右。疔發坤門，毒走四肢，關節作痛，屈伸不便。能不內攻臟腑為幸，飲食風寒小心為囑。</p>
<p>銀花（八錢）　甘菊（四錢）　連翹（三錢）　防風（一錢）　歸尾（二錢）　地丁草（三錢）　紅花（五分）　角針（一錢）　荊芥（一錢）　甘草（一錢）</p>
<p>加桑枝一兩、鮮菊梗二錢、青松毛二錢。</p>
<p>疔生足底，紅絲上行，過膝入腹攻心，最為棘手。今砭去惡血，勢可稍衰。急投清解以免加重，然須調養為宜。</p>
<p>地丁草（五錢）　甘菊（六錢）　銀花（八錢）　知母（一錢半）　草萆薢（三錢）　甲片（一錢）　川牛膝（二錢）　連翹（二錢）　角刺（三錢）　玉金（一錢）</p>

<h1>梅瘡</h1>
<p>（案1）毒結喉腮，惟恐延綿歲月。</p>
<p>白芷（一錢）　滑石（二錢）　花粉（一錢）　甘草（一錢）　皂子（二粒）　當歸（三錢）　大貝（一錢）　銀花（三錢）　土赤茯苓（四兩）</p>
<p>吹方：黃連（五分）　黃柏（五分）　犀黃（三分）　月石（一錢）　珠（二錢）　辰砂（一錢）　人中白（三錢）　青果核炭（一錢）　薄荷（五分）　冰片（三分）　青黛（四分）　甘草（五分）　木香（三分）　血珀（一錢）　桂圓（三分）</p>
<p>共為極細末吹之。</p>
<p>梅毒結於舌上。擬草十寶治之。</p>
<p>制南星（一錢）　半夏（一錢）　川芎（一錢）　防風（一錢）　大貝母（一錢）　花粉（一錢）　白芷（一錢）　銀花（三錢）　海螵蛸（一錢）　生甘草（一錢）　加土茯苓（四兩）</p>
<p>（案2）吳，左。凡痛，總要明虛實寒熱，四字做主，再分臟腑經絡。雖不中，不遠矣。若見症治症，實症則效，虛症無不受傷。至於吾先生之恙，身體薄弱，更兼應減煩勞。所有伏毒脈症並無實象可據，扶正之中稍兼清解，緩緩圖痊。</p>
<p>沙參　山藥　苡仁　甘草　當歸　麥冬　生赤首烏　龜板　黃耆　銀花　土茯苓</p>
<p>（案3）吳，右。無論內外，輕者實者可以正治，重者虛者必須從治，此千古治病之一定方法。惜乎今世不宗，輕者實者多愈重，虛者每每不治。即以此症而論，未嘗不可作實症。但脈至數而無力，面色不華，飲食減少，似當培養氣血兼理脾胃，佐以化毒清解而不傷正氣一法，乃可久投。藥力到，血氣旺。雖有毒邪，自然盡徹。</p>
<p>川芎　洋參　茯苓　當歸　白芍　草梢　澤瀉　黑梔　丹皮　滑石　生地　冬朮　銀花　砂仁　車前　生熟穀芽　土茯苓（一兩）</p>
<p>右鼻為肺之竅，咽喉為肺之戶。肺有毒火熏蒸上熾，所以先見咽喉碎爛，繼之鼻，鼻繼穿破，甚至音嘶氣喘，納食作艱，此即金破不鳴。其由皆因毒火。</p>
<p>桔梗（一錢）　甘草（一錢）　蟬衣（一錢）　川芎（七分）　赤芍（一錢）　中生地（四錢）　苡米（炒，五錢）　銀花（一兩五錢）　當歸（三錢）　射干（五分）　天冬（一錢）　馬兜鈴（一錢）　馬勃（五分）　花粉（一錢）　北沙參（三錢）　土茯苓（一兩）</p>
