<header data-type="book">
<h1>醫醫病書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>吳瑭</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1831">公元1831年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>自譭譽失實，人之品行學術非確證不能明，余於醫理見一斑焉。余質本陽虛，幼服滋陰藥，乃益弱。戊辰會試至京，去藥而習射，氣漸充。辛未旋里，居數載，稍得外感，醫治之，體愈肥，氣反弱。人目為壯，非也。陰愈盛，陽愈衰耳。一切停飲、畏勞、嗜臥、口渴、中消、心悸、脾泄及喉痹、外痔等症，不時迭出矣。丙子再至京，人言北京無醫，遂不問藥。丁丑冬，下榻覺羅毓君書齋，獲晤淮陰吳君鞠通。論甚豪，上下古今，瞭如指掌。一日竊告毓君：胡君體肥嗜肉，不久將得中風。余心訝之。又以嚴親己巳得熱痹，左足拘攣，心常慼慼，因踵門叩之。所論與他醫不同，心益異之，然亦未敢遽信也。戊寅春，君以所刻《溫病條辨》囑余重校，又見君所醫皆奇效，乃大驚服，遂信醫學自有真也，爰請就學。君勉余先禁肉食，從之，乃峻治之，效稍稍著。是冬，延余課其次子及婿，治益峻。次年，余妻患寒痹，以君之方抵家，為時醫所阻，妻竟亡。痛醫道之晦甚，因與君論醫焉。先是臨海郟君芷谷得針法於天台山僧，居京以瘍醫著名。吳君欲余疾之速愈也，謂沉痼之疴，非針不達，偕訪之。論相得，心亦古，遂訂交。郟君欲余習其傳而未暇。余服君藥三載，體日癯，人皆驚，而病則愈。醫學至是日進。癸未，余成進士，歸班待選，聞慈親病，遄歸，痛不及治，匍匐抵家。嚴親扶杖行已十年矣，壬午增劇，臥不能起，誡家人不余告，至是始知之。急投以消痰之劑，數月愈。夫以七旬老人，十年劇病，非余身試有得，安敢遽屏肉食、補劑，反加消導哉？後仍扶杖行者四載，卒以疽發，痛莫能救，猶是膏粱生疔之故。理雖曉然，惜郟君已於甲申卒，而傳遂絕。余深悔未曾習其傳也。是歲秋，吳君抵淮省墓，余鄰趙君岷江雲濤昆季痛其母時患痰飲，且各有痼疾，因余以禮迎之。君喜越中山水，且熟知余友嵊邑吳君雲章精地理，樂與之友。雲章病痰飲，諸醫皆投以補劑，故無效而轉劇，得君治之乃愈。其外沉疴怪症，君應手而愈，一如在京師時。雖醫忌且詬，識者自嘆服焉。戊子，余至京，君已年愈七十，聰明強固，得於讀書之力為多。君之為人，心正口直，性剛氣傲，不如用藥之中正和平，因是譭譽不一。蓋明醫關造化，非如時醫乘命運、俗醫工便佞，有由然也。原非至親及窮乏者，不為立方，自以心性與君同也。幸其子及婿傳而習之。余因身受時醫補陰之誤，囑君著《醫醫病書》。辛卯歲書成。當與君《溫病條辨》及未刻之醫案並傳不朽。余師顧南雅先生贈以楹帖云：具古今識藝斯進，真世俗見功乃神。蓋先生辛巳染燥疫，得君而愈，亦以身受之，故言之親切有味也。君之醫學，余何能窺其涯涘？特敘其知交之始末如此。</p>
<p><u>道光十有三年歲次癸巳仲秋之月蔣湖書屋主人序</u></p>

<h1>增訂醫醫病書序</h1>
<p>昔裴子有云：學不貫今古，識不通天人，才不近仙，心不近佛者，斷不可作醫以誤世。醫固神聖之業，非後世讀書未成，生計未就，末路而居之具也。是必慧有夙因，念有專習，窮致天人之理，精思竭慮於古今之書，而後可以言醫。淮陰吳君鞠通研究醫書，上自軒岐、仲景，下迄葉氏香岩，先以醫術名於北。與越人莫寶齋尚書交最密切。莫壞痰飲，喘不得臥，病頗重。吳君適回南省墓，遂留紹，或往莫家，或居趙園。時紹城任濟堂九先生名頗盛，與之討論古今醫籍，心心相印，遂出《溫病條辨》一書，互相辨析。任君獨讚揚「解兒難」、「解產難」二篇，謂多發前人所未發，余則謂自條自辨，著書無此成例，且其中缺誤處甚多。由是拂吳君之意，交遂疏。厥後，果見譏於會稽章氏虛谷，載在《醫門棒喝》中。益以見著書之難也。吳君又著有醫案及《醫醫病書》兩種。《吳氏醫案》從高君德僧處轉錄，《醫醫病》一書，從何君廉臣處錄存。醫案議論高超，方藥精切，足為後學師範，堪作診斷術之專書。惜立方有流於過重者，學之不善，生命攸關，尚宜逐案批明，庶知去取，不致貽誤來學。《醫醫病》原文則體例混淆，先後陵躐，未盡妥善。因不揣譾陋，為之益其體例，第其先後，別為上下兩卷，分作四編。初編曰學醫總論，計二十三條；二編曰病理各論，計十七條；三編曰證治要論，計二十四條；四編曰用藥統論，計十七條。原書七十六條，新增五條，合計八十一條，以成黃鐘之數。並逐條加以按語，或發其未盡，或補其未備。閱三月而始竣。後人讀之，可想見先生臨證時沉思渺慮診病制方之概，庶不負先生之苦心也夫。</p>
<p><u>中華民國四年七月一日四明後學曹炳章赤電序於古越之和濟藥局</u></p>

<h1>增訂醫醫病書序</h1>
<p>醫，所以醫病者也。醫病者而干醫之病，則病者之為病不可言矣。炎黃以來，醫者夥頤，醫之病者亦夥頤，病者之死於醫者之病亦正不知夥頤。傷心人類，悇憛孰甚，此淮陰吳鞠通氏所以有《醫醫病》之作也。原書七十餘條，羼雜無紀，讀者瞀目。曹子炳章，醫之好學者也，為之鉤釽其義，犁次其文，目門為四：曰學醫，曰病理，曰證治，曰用藥。吳說多溷，曹乃剔之；吳說尚微，曹乃顯之；吳說不免罅漏，曹乃為之補苴；吳說有時矜張，曹乃為之折當。吳氏學力全在溫病，於是書亦確有見地，然文不足以濟其質。其論學醫也，語多概略，獨於病理證治上詆諆陰常不足之說，而能辨明陰邪之王於陰分，異於陰虛，因力排苦寒諸方，並及痘科、外科、眼科，而特舉建中。此與臟腑體用、藥即隨之之說，皆仁術慧心，足以起天下人之死於不少。曹子惟習之久，服之深，故三匝月而殺青。將以付工，問言於余。余不知醫，特竊悲悠悠人世，病者不死於病者之病，多死於醫者之病，而醫者又不自知其所以病，病者將愈益重其病。若欲救病者之病，則不得不先醫醫者之病；欲醫醫者之病，則吳氏之書不得不急行。曹子其孟晉哉！</p>
<p><u>中華民國四年乙卯七月于越黃壽袞圃人甫志</u></p>

<h1>吳鞠通傳</h1>
<p>吳君諱瑭，字配珩，號鞠通，江蘇淮安府山陽縣人。父守讓，郡庠生，以學教授，里中弟子從者甚眾。君十九歲而孤，家貧，棄舉子業，走京師，時四庫館開，傭書以自給。既於醫有得，見宋元以來諸書，皆疑其未盡。及得《內經》《靈樞》《難經》，乃知其源之所出；《傷寒論》《金匱》，知醫學莫先於此，乃專力焉。以觀諸家之書，合而存，不合者屏，而學大進。六氣為病，今惟存《傷寒論》，後人遂以傷寒之法遍治外感，不效，又謂辛溫不可用，而各立方法，然無能出《傷寒論》之範。元人劉守真，明吳又可，始知其非。我朝喻嘉言論之，而方法亦不備。吳人葉天士出，始有治溫病之方，而溫與寒判。君師其意，又甫求前人之書以明之，為《溫病條辨》。始於傷風，繼言溫，繼言暑、濕、燥，而六氣之病治法始備。道光之初，民多病吐利死者，君曰此燥之正氣也。乃考明人沈目南「燥病論」，復補秋燥勝氣論一卷。其年順天鄉試，監臨檄京尹市霹靂散百餘劑，場中無死者。霹靂散，君所制方也。性狷急，不能容物，遇俗醫處方之謬，輒疵之。所至輒避去，至病家交口訾君。君據理直言，不徇人意，人皆憚之。同里參知汪文端公，知君最深，未幾卒。既士彥以憂歸，君遂無可語者。長子卒，君遂抑鬱，得衄血疾，道光十六年二月卒。往與士彥言醫書，仲景以下，惟孫真人論八脈，張隱菴《本草崇原》，葉氏《臨證指南》可觀。竇材之書，但許其扶陽抑陰，亦不可過信。又嘆醫之謬妄，欲為《醫醫病書》，嚐出其稿相示。君既卒，求之則定為七十二則。君居心忠厚，篤於故舊，與人能盡言，處事悉當。聞天下有水旱盜賊，輒有憂色。論某某賢，某某不肖，無阿徇，豈獨精於醫哉！然君之醫，要可以信今而傳後，難為不知者言也。君初娶鮑氏，生子廷蓮，順天增生，既卒，有孫二人：繼祖、念祖。繼室崔氏，有子廷芷，國子監生，廷荃，婿周宗信，同里人，庶乎守君之教。</p>
<p>惟病在人，醫司其柄，何圖爾醫，乃先自病。嗟嗟蒸民，又焉託命？君子憫焉，為醫求醫。焫艾砥針，應手而施。醫病其廖，民用熙熙。病繁而變，其數盈千。病醫視之，非可言詮。孰簡而賅，庶幾十全。凡醫之病，或迷不知。肌膚腠理，在淺不治，既入膏肓，盧扁奚為？或者自知，坐而不理，諱疾忌醫，謂疢於美，沉痼而軀，卒以不起。嗟嗟爾醫，盍誦此書？若藥瞑眩，沉疴用祛。苦口之利，勿謂徐徐。自漢迄今，其書如海。守先待後，體用斯在。嗟嗟爾醫，慎旃無悔。</p>
<p><u>寶應</u>　朱士彥撰</p>

<h1>題詞</h1>
<p>病人之病，賴醫人之醫。醫人之病層出不窮，將何以恤災救患、捍衛生民哉？仲尼謂：工欲善其事，必先利其器。子輿氏謂：不以規矩，不能成方圓。醫人者，規矩也；病人者，所制之器也。今將修規矩以成器，作《醫醫病書》。</p>
<p><u>道光辛卯冬月吳鞠通自題</u></p>

<h1>一、醫非上智不能論</h1>
<p>餘年三十歲時，汪瑟庵先生（山陽汪文端公）謂余曰：醫非神聖不能。余始聆之而驚且疑也，以為醫何如是之難哉？醫道何如是之深哉？茲經歷四十年矣，時時體念，時時追思，愈知醫之難且深也。蓋醫雖小道，非真能格致誠正者不能。上而天時五運六氣之錯綜，三元更遞之變幻，中而人事得失好惡之難齊，下而萬物百穀草木金石鳥獸水火之異宜，非真用格致之功者，能知其性味之真耶？及其讀書之時，得少便足，偏好偏惡，謬於一家之言，人者主之，出者奴之，愛讀簡便之書，畏歷艱辛之境。至於臨症之際，自是而孟浪者害事，自餒而畏葸者亦害事。有所偏則不得其正。非真能用誠正之功，能端好惡以備四時之氣哉？</p>

<h1>二、氣運論</h1>
<p>五運六氣之理，天地運行自然之道。宋人疑為偽書者，蓋未體驗也。《內經》論氣運諸篇，當與大《易》、「月令」參看，與大《易》相為表裡者也。統言之，天地陰陽，一氣之流行也。分言之，則有兩儀、四時、五行、六氣、七政、八風，相為流行，對待制化，以化生萬物者也。在天原未傷人，在人之氣體有偏，觸其相剋之氣而病。如陽虛者，易傷濕、燥、寒之陰邪：陰虛者，易傷風、火、暑之陽邪也。精通氣運之理，有先知之妙。時時體驗其氣之已至未至，太過不及，何者為勝氣，何者為中氣，何者為復氣，何者為化氣，再用有者求之，無者求之，微者責之，盛者責之之功，臨症自有準的。今人概不之講，夢夢處方，張冠李戴，民命何堪！</p>

<h1>三、醫不明六氣論</h1>
<p>風、寒、暑、濕、燥、火，六淫之病，唐宋以後，皆未分析清楚，如以傷寒法治溫病，而又以溫病法治燥症。且自唐以後，皆未識燥症，不講燥症。只有沈目南先生論燥之勝氣，引經為證，與喻氏、葉氏之論燥但指化氣而言者大不相同，（余已詳載《溫病條辨》中，）其餘概不之講。甚至有云燥不為病者，謬之至，愚之甚也。風為長養萬物之用，在天為元，且為百病之長，豈燥屬金，為殺厲之氣，有反不為病之理！蓋以「陰陽應象大論」中但言冬傷於寒、春傷於風、夏傷於暑、秋傷於濕，脫簡燥症一條，故云爾也。豈未見「天元紀」、「六元正紀」諸篇詳言燥症之病乎！此讀書而不能周密之故也。</p>

<h1>四、醫必備四時五行六氣論</h1>
<p>醫不備四時五行六氣之學，萬不能醫四時五行六氣之病。唐以後之醫，多為門戶起見，蓋欲天下之病人就其學術，並非以我之學術救天下之病。甚至某醫內傷，某醫外感，各由人定，醫亦自誇。豈知內因、外因、不內外因，疑似甚多。病者果能認症，方書具在，何待求醫？醫學果可專門，就醫者來，宜先擇病。且儒理兼賅，非瘍醫可分業，況外證脈絡，亦內科可應通。各執一見，難號十全。試由天道論之，雖天亦不能不備四時五行六氣之全，以為生長化收藏，而成長養萬物之功，豈人力大於天力，但執一氣即能概六氣之全乎！唐以後名醫之法，可採而不可宗者也，蓋皆各有所偏，不能殫述。如李東垣偏於溫和，有似乎春；竇真定（名材，宋·紹興中開州巡檢，又為太醫）偏於火功，有似乎夏；劉河間偏於寒涼，有似乎秋；朱丹溪偏於補水，有似乎冬。雖不甚確，然皆有所近。學者能兼數子之所長，而以《內經》《難經》、仲景為主，知用法而不僅於用方，參考百家，再渾之以太和之氣，庶乎不背於道矣。</p>

<h1>五、三元氣候不同論</h1>
<p>三元氣候不同，亦猶四時之候不同也。上元之明醫，其用藥必能合上元之氣；中元之明醫，其用藥必能調中元之偏；下元之明醫，其用藥必能矯下元之弊。三元一百八十年，人多無是長壽，不能遍歷三元。四時則每年一周，醫可借四時以測三元矣。如初春去寒未遠，換大毛之衣為小毛之服，仲春則著棉衣，季春則換單夾，夏則紗葛，秋則由葛而單夾，而棉而皮，冬則復用大毛矣。如仲景，明醫也，其作《傷寒論》，原為建安紀年下元甲子傷寒頗多，不忍宗族之死、君親之病而作也。後世不問何氣為病，而一以傷寒之法治四時之病。亦自覺不合，遂人各注一傷寒書。而悉以傷寒名書，試問置風、火、暑、濕、燥五氣於何地？「傷寒」二字，顧名思義，六氣本不全也。餘生於中元戊寅，癸丑年，溫疫大行，余著《溫病條辨》，以正用傷寒法治溫病之失；及至下元甲子以後，寒病頗多。辛巳年，燥疫大行，死者無算，余作霹靂散以救之，又補燥金勝氣論一卷，附《溫病條辨》後。近日每年有燥金症。是餘一人之身，歷中元則多火症，至下元則多寒症、燥症，豈可執一家之書以醫病哉！</p>

<h1>六、藥物體用論</h1>
<p>體用互根之理，醫者不可不知。如肝與脾，陰臟也，而用則陽；胃與膀胱，陽腑也，而用則陰。如白芍、烏梅，生於陽，而用則陰。烏梅得初春之氣，三陽開泰而開花；白芍生芽於亥月，歷六陽之月，春盡而後開花。其性皆能以收斂為用。半夏生於夏半，當歸秋分開花，皆得陰氣而生者也。半夏逐痰飲而最補胃陽，當歸行血中之陽氣。推而廣之，無不皆然。特舉臟腑、藥味一二條，以類其餘。學者細心，隨處體察，其用無窮，皆實學也。學醫可也，學儒亦可也。泰極必否，否極必泰；損者多益，益者可損。莫不皆然，道在是矣！</p>

<h1>七、五臟六腑體用治法論</h1>
<p>今人概言補虛，不知五臟六腑各有補法。即一臟一腑之中，又有體用相反之殊。臟屬陰，其數五者，陰反用奇也；腑屬陽，其數六者，陽反用偶也。亦如乾有四德，坤有五行。陽用偶而陰用奇，互也。故五臟六腑體陰者，用必陽；體陽者，用必陰。</p>
<p>心為手少陰，心之體主靜，本陰也；其用主動，則陽也。補陰者，補其體也，如龜板、柏子仁、丹參、丹砂之類；補陽者，補其用也，如桂枝、人參、茯神之類。肝為足厥陰，肝之體主人，本陰也；其用主出，（肝主疏泄，又寅賓出入也。）則陽也。補陰者，補其體也，如阿膠、萸肉、鱉甲、牡蠣之類；補陽者，補其用也，如當歸、鬱金、降香、香附之類。肺為手太陰，主降，本陰也；其用主氣，則陽也。補陰者，補其體也，如麥冬、沙參、五味子、百合之類；補陽者，補其用也，如茯苓、人參、白朮、白蔻之類。脾為足太陰，主安貞，體本陰也；其用主運行，則陽也。補陰者，補其體也，如桂圓、大棗、甘草、白朮之類；補陽者，補其用也，如廣皮、益智仁、白蔻仁、神麯之類。腎為足少陰，主潤下，主封藏，體本陰也；其用主布液，主衛氣，則陽也。補陰者，補其體也，如鮑魚、海參、地黃、元參之類；補陽者，補其用也，如肉桂、附子、硫黃、菟絲子之類。</p>
<p>六腑為陽，其用皆陰。膽為足少陽，主開陽氣之先，輸轉一身之陽氣，體本陽也；其用主決斷，主義，十一臟皆取決於膽，則陰也。補陽者，補其體也，如川椒、吳萸、當歸之類；補陰者，補其用也，如青黛、龍膽草、胡連、蘆薈之類。胃為足陽明，主諸陽之會，經謂陽明如市，體本陽也；其用主納，主下降，則陰也。補陽者，補其體也，如人參、茯苓、半夏、薏仁之類；補陰者，補其用也，如生地、玉竹、梨汁、藕汁之類。大腸為手陽明，主傳化，主變化，體本陽也；其用主納小腸之糟粕而降濁，則陰也。補陽者，補其體也，如薤白、杏仁、木香、訶子之類；補陰者，補其用也，如芒硝、旋覆花、知母、豬膏之類。小腸為手太陽，主受盛化物，體本陽也；其用主納胃之水穀，分其水而傳糟粕於大腸，則陰也。補陽者，補其體也，如附子、灶中黃土、丁香、蓽茇之類；補陰者，補其用也，如蘆薈、黃連、黃芩、龍膽草之類。三焦為手少陽，體本陽也；其用主引導陰陽，開通障塞，則陰也。補陽者，補其體也，如川椒、吳萸、丁香、肉桂之類；補陰者，補其用也，如滑石、木通、燈芯、寒水石之類。膀胱為足太陽，體本陽也；其用則承氣化，溲便注瀉，則陰也。補陽者，補其體也，如肉桂、附子、豬苓、茯苓之類；補陰者，補其用也，如黃柏、川楝子、晚蠶砂、滑石之類。</p>
<p>凡補五臟之體者，皆守藥；補六腑之體者，皆通藥。蓋臟者，藏也；腑則過而不留者也。</p>

<h1>八、藥不能治病論</h1>
<p>藥之能治病者，止有制方。如吸毒石之吸毒，雞嘴之治蜈蚣毒之類，所謂禽之制在氣也。時下所用之湯、丸等方，皆和方也，藥物不能直行治病。或曰：藥既不能治病，汝醫病能不用藥乎？曰：藥之走臟腑經絡，撥動其氣血。如官行文書，行該管衙門，使該管衙門官吏照牌理事。臟腑以氣為官者，則以血為吏；以血為官者，則以氣為吏。藥入某臟某腑，使其氣血調和，令本臟之氣血，自行去本臟之病。亦有二三臟並治者，如會稿然；以一臟為主者，如主稿然。若臟腑氣血稍離，雖有妙藥，該管官吏不為奉行，不為核轉查辦，藥其如之何哉？今人以為藥能治病，尚隔一層。</p>

<h1>九、看病須察兼症論</h1>
<p>余前著《溫病條辨》中，言外感交互有一千二百九十六條之多，見者必以為怪，惟深明大《易》之道者知之。要知一千二百九十六條，但指外感之自為交互而然，尚未及內傷也。若兼內傷，則靡可紀極矣。如《傷寒論》中酒客不可與桂枝湯，凡大便先硬後必溏者不可與梔子豉湯，瘡家禁汗，亡血家禁汗，腹中有動氣不可下之類，皆設兼症之禁也。今人治病，一氣且辨之不清，何況兼症。按兼症，有外感兼外感者，如燥金氣運，雖在夏月，亦多腹脅疼痛，嘔惡，氣上阻胸，脈弦緊短澀，或泄瀉不止，或竟大便十數日不通，煩躁不寧，反口渴思涼，得涼則腹愈痛，必以溫熱藥解之，蓋金剋木之症，必用火剋金也；解尚未清，忽又加暑症。葉氏又有秋後伏暑內發，新涼外加之明文。按暑症已三氣，蓋熱一氣，濕一氣，濕熱交而成暑，又一氣，再加新涼燥氣，是四氣矣。萬一病者本有肝鬱、疝瘕、動氣、便血等症，不知多少氣矣，醫者可不條分縷析而細察之哉？刑名家定案，只舉其罪名之至重者而定之，故曰除輕罪不議外。醫者則不能，一有遺漏，必有後患。如時文家做理搭題，不敢空中駕御，必須層層還到方可。而兼症，又當辨明何者為新病，何者為舊病。定法先治新病。仲景云先治新病，謂舊病當後治也。即同為新病，亦有次第，如仲景《傷寒論》中，表急急當救表，裡急急當救里是也。遺漏固不是，而緩急有先後，斷不可案也。</p>

<h1>十、答病家怕不怕論</h1>
<p>凡診，病之家多有以怕不怕問醫家者，答之不易，非可以徑情答之也。蓋膽大者，答以不怕，則小病必大，大病必危。雖不怕亦必答以怕也，再三警戒，以收其放恣之念，而後可成功。膽小者，答以怕甚，則病家毫無主見，甚至一日延十數醫，師巫雜進，必不可救矣。必醫者有識見，有擔當，答以有可救之理，但不可亂，而後可成功。時下一概答以不怕，蓋以都下風氣答以怕甚則另延醫矣。只為自己打算，不為病人打算，惡在其為醫也。</p>

<h1>十一、用古方必求其立方之故論</h1>
<p>按古方用意微奧，非若宋元以後之方無大深意而流弊無窮。如八味丸專為攝少陰而設然，專治婦人腎虛轉脬，故名曰腎氣丸，非為泛治水腫臌脹而設。何今人不問症之偏寒偏熱、偏虛偏實，一概以八味丸作湯以治水腫臌脹？即痰飲門中，胸中有微飲，苓桂朮甘湯主之，腎氣丸亦主之。按苓桂朮甘湯所治之飲，外飲，治脾也；腎氣丸所治之飲，內飲，治腎也。按腎虛水泛為痰，但嗽不咳。若外飲脾虛，不能為胃行其津液，一以強卑監之土為要。土最惡濕，八味丸中之地、萸，酸甘化陰，愈化愈濕，豈非背道而馳、為賊立幟乎？如麻黃湯治太陽傷寒，葛根湯治陽明傷寒，小柴胡湯治少陽傷寒，今人不問何經，一日便將羌、防、柴、葛三陽表藥一齊俱用，悖謬極矣。甚至暑溫、溫熱、秋燥、無不以三陽表藥治之者。且有不問是何外感，只以一柴葛解肌湯了事，是何拉解？如何能有效哉？辯之不勝其辯，學者由此類推可也。再古方不可不信，不可信之太過，亦不能全信，須對症細參，斟酌盡善。</p>

<h1>十二、診病以現症為主不必拘執古方論</h1>
<p>診病者，全在確識病情之寒熱、虛實、燥潤，再能精察藥性，有是病即有是藥，無是病即無是藥，有是病，雖險絕之藥亦敢用，無是病，雖平淡之品亦不敢妄加，再無不效之理。有現症雖同，而所以致病之由不同者，斷不可執定古方如是用，後學敢移易哉？如陰吹一症，《金匱》用豬膏發煎，取其氣血俱潤也。注謂腸胃俱槁，故用純潤。余凡治陰吹者三，皆與原方相反，無不神效。其一面青唇白，舌白滑，不食不便，脈則兩至，腸雖槁而胃不槁，因重用半夏、桂枝、廣皮、枳實，使胃中之積飲下行大腸而愈；其一泄瀉腹痛，知腸亦不槁矣，蓋寒濕為病，大用分利、溫腑陽而愈；其一少腹久痛而致陰吹，脈弦緊，竊思如男子小腸疝氣者然，因大用溫通下焦而愈。皆非豬膏發煎之症，設使不能變通，三症皆不愈矣。</p>

<h1>十三、不讀古書論</h1>
<p>今人不讀古書，安於小就，得少便足，囿於見聞，愛簡便，畏繁重，喜淺近，懼深奧，大病也。《神農本經》《靈樞》《素問》《難經》《傷寒論》《金匱要略》《易經》《詩經》《周禮》《禮記》，皆不可不讀者也。近人所讀者，陶氏六書、《壽世保元》、李士材三書，汪訒庵《本草備要》《醫方集解》、吳又可《溫疫論》。甚至只讀《藥性賦》《湯頭歌訣》，便欲行醫。近代葉氏醫案，精詳者多，粗疏者少，遠勝陶、龔、李三氏等書，近日南方人多喜讀之。然不讀古書，不能得其要領，但襲皮毛以謂葉派。葉氏之書，本不易讀，蓋其書用古最多，讀者不知其來路，不能領會其用意。而其書集於門人之手，往往有前無後，散金碎玉，不能全備，非其真有天分功夫者，不能讀也。且不讀《內經》《金匱》等古書，不知其妙，不能用也。</p>

<h1>十四、好博而不務精詳論</h1>
<p>滿眼書集，各家議論，萬有不齊。胸中毫無要領，務博而情不專，學人大病。以之吟風玩月則有餘，以之立天下之大本，了天下之大事則不可。吾見六朝以後之才子，誇多鬥靡，下筆千言，夷考其行，反不如不識字之農夫女子能盡其子臣弟友之道。天地間何樂生此聰明才辨人哉？唐以後之醫家，亦多染此習。儒家之書，汗牛充棟，雖孔、顏亦不能讀盡今日之書。孔、顏亦無那大工夫讀盡今日之書。蓋孔、顏斷不務虛名而拋荒實德也。儒家之書雖多，而要緊只有經書。經書之中，要緊而又要緊者，莫過於《易經》《四書》。人能身體力行《易經》《四書》之道，他書雖不讀可也。醫家之書亦不少，而要緊之書，亦只有《內經》《難經》《玉函經》（內三種，《傷寒論》《金匱要略》皆存，《卒病論》亡。）《臨證指南》。葉氏博而能精，其不精者十之一二，如不識燥證、誤用桑白皮之類。張隱菴《本草崇原》能識其所以然之故也。拙著《溫病條辨》，補古來一切外感之不足者也。他如東垣十書，《丹溪心法》、河間三書，可閱而不可讀，以皆有倚於一偏之弊焉。至陶氏六書，則壞道之尤，直不必閱。其他不勝枚舉，要皆不識六氣之全，可參考而不必讀者也。</p>

<h1>十五、果達藝三者缺一不可論</h1>
<p>當日孔子稱仲子之果，端木子之達，冉子之藝，蓋各舉其長而稱之。要知果者不可不達不藝，達者不可不果不藝，藝者不可不果不達。設使果者不達不藝，豈非一鹵莽之夫，何事不壞，豈能從政？設使達者不藝，雖知其事，而無以處其事，亦未見其能了事也。達者不果，徒達而已矣。藝者不果，亦猶達之不果也。藝者不達，藝於何加？余故謂非果達藝三者兼全，不可以從政。醫者亦然。</p>

<h1>十六、見理見事真切不恤人言論</h1>
<p>下愚之人不恤人言，使下愚之人而恤人言，其奸盜不可行矣；上智不恤人言，使上智而恤人言，其天德王道亦不可行矣。未曾學問思辨而驟欲篤行者，孟浪人也。既能學問思辨而恤人言，不能篤行者，乃見義不為，無勇也。儒與醫皆然。</p>

<h1>十七、治內傷須祝由論</h1>
<p>按祝由二字，出自《素問》。祝，告也；由，病之所以出也。近時以巫家為祝由科，並列於十三科之中。《內經》謂信巫不信醫，不治。巫豈可列之醫科中哉！吾謂凡治內傷者，必先祝由。詳告以病之所由來，使病人知之，而不敢再犯。又必細體變風變雅，曲察勞人思婦之隱情，婉言以開導之，莊言以振驚之，危言以悚懼之，必使之心悅情服，而後可以奏效如神。餘一生得力於此不少，有必不可治之病，如單腹脹、木乘土、乾血癆、噎食、反胃、癲狂之類，不可枚舉。葉氏案中謂無情之草木，不能治有情之病，亦此義也。俗語云有四等難治之人，老僧、寡婦、室女、童男是也；有四等難治之病，酒、色、財、氣是也。難治之人，難治之病，須憑三寸不爛之舌以治之。救人之苦心，敢以告來者。</p>

<h1>十八、治內傷須辨明陰陽三焦論</h1>
<p>今人治內傷，用六味、八味者遍天下，皆誤聽丹溪陽常有餘、陰常不足之說；用補中益氣湯者，十之二三，誤用東垣重方輕用之意，而又不察傷陰傷陽，惟自己好尚傳派是從。從古稱誦讀勞陽，謀慮傷陰。如作文、辦案、持籌握算、運籌帷幄者，皆勞陰也；如誦讀、歌唱與一切力作汗出過多者，皆勞陽也。如外感濕、燥、寒三者陰邪，皆傷人之陽氣者也，然間有應補陰者；如風、火、暑三者陽邪，皆傷人之陰者也，然間有應補陽者；產後及老人，大抵多陰不足，然亦有陽不足者。又必究上、中、下三焦所損何處。補上焦以清華空靈為要；補中焦以脾胃之體用，各適其性，使陰陽兩不相姦為要；補下焦之陰，以收藏納縮為要；補下焦之陽，以流動充滿為要。余於《溫病條辨》拙作，議補下焦，峙立三法：專翕膏補下焦之陰者也；奇經丸補下焦之陽者也；天根月窟膏陰陽並補，使陰陽交紐者也。補上焦如鑑之空，補中焦如衡之平，補下焦如水之注。</p>

<h1>十九、無論三因皆以胃氣為要論</h1>
<p>人之十二經，皆取決於膽，皆聽命於心，皆受養於胃。《內經》謂胃為十二經之海，又謂十二經皆稟氣於胃。秦越人著《難經》，一則曰以胃氣為主，再則曰以胃氣為主，蓋有胃氣者生，無胃氣者死。余之所以惡人之一以六味補虛，惡丹溪陽常有餘、陰常不足之論，立數地黃丸，如麥味地黃丸、知柏地黃丸之類丸者，因黃柏滲濕而瀉相火，知母瀉陽明獨勝之熱，使陽明即有獨勝之熱，可暫瀉而不可久服，久服胃氣必傷，必致不食。試問人之後半生盡不得食，盡服六味丸可活乎？經謂凡甘皆補，凡苦皆瀉。名曰補之，實則瀉之。視仲景先師之建中純甘以補者，豈非賊盜之與仁人乎！且相火輔君火用事，人之相火，一刻所不能無者，而可盡瀉之乎？即有真陰不足、相火過盛之症，何不輔之以淡菜、海參、鮑魚、龜板、烏雞等多咸少甘、血肉有情之品，又能收納相火者，而必以極苦瀉之乎？麥味地黃，酸甘化陰，肺胃乾燥之症猶有用處，而美其名曰八仙長壽丸，使補陰而可長壽，古謂人非陽氣不生活，竟須改為人非陰液不生活矣；古謂陽不盡不死，陰不盡不仙，須改為陰不盡不死，陽不盡不仙矣。豈非笑話！胃為陽明，經謂陽明如市，諸陽之會也，能生諸陽者也。補虛重陽者，謂護胃氣而然也。即一切攻外感之邪，與不內外之飲食傷，必須一服註定胃氣，多方以調護之，方為正法，不致有失。</p>

<h1>二十、時醫俗醫病論</h1>
<p>孔子謂：如有周公之才之美，使驕且吝，其餘不足觀也已。時醫又驕又吝，妄抬身分，重索謝資，竟有非三百金一日請不至者（此等風氣，蘇州更甚。）如果能起死回生，亦覺太過，蓋病者不盡財翁。細按其學，甚屬平平，用藥一以三分、五分、八分、一錢為率，俟其真氣復而病自退，攘以為己功。稍重之症，即不能了。為自己打算則利，其如人命何？己以是謀生，人竟由是致死，清夜自思，於心安乎？俗醫之病百出，余不忍言。即以一端而論，京師謂做買賣，紹興謂之開醫店。可恥之極，遑問其他！且即以市道論，殺人以求利，有愧商賈遠甚。</p>

<h1>二十一、名醫病論</h1>
<p>名醫之病，首在門戶之學。其次則以道自任之心太過，未免奴視庸俗，語言過於剛直，為眾所不容。或臨症之際，設有以不對症之方，妄生議論者，則怒髮衝冠，幾有不顧而唾之勢。設有性情柔遜者，不肯力爭，宛轉隱忍，又誤大事，做成庸醫殺人。嗚呼！安得許多聖人來學醫哉！</p>

<h1>二十二、論藥不論病論</h1>
<p>天下無不偏之藥，無不偏之病。醫者原以藥之偏，矯病之偏。如對症，毒藥亦仙丹；不對症，穀食皆毒藥。無論病家、醫士，只當講求病系何病，法當用何法，方當用何方，藥當用何藥，對準病情，寒熱溫涼，皆在所用，無好無惡，妙手空空，無不見效。若不論病之是非，而議藥之可否，寒者畏其泄，熱者畏其燥，醫者紙上談兵，膠柱鼓瑟，病者以耳為目，惡直好諛，吾不知其可也。</p>

<h1>二十三、醫者有好用之藥有畏用之藥論</h1>
<p>醫者之於藥也，不可有絲毫成見。不可有好用之藥。有好用之藥，必有不當用而用者，病人死於是矣。不可有畏用之藥。有畏用之藥，必有當用而不用者，病人又死於是矣。甚至自信自是，直以身徇。修齊治平，以端好惡為主，孰謂醫家不當如是耶？然非格物誠意，好惡莫端。嗚呼！可懼哉！</p>

<h1>二十四、世醫不知通補守補法論</h1>
<p>時人悉以黃耆、地黃等呆笨之藥為補，少涉流動之品便謂之消導。不知補五臟補以守，補六腑補以通，補經絡、筋經亦補以通也，補九竅亦補以通，《周禮》謂滑以養竅是也，補肌肉則有守有通。守補處所用者少，五臟為地氣，其形小也；通補處所用者多，六腑與外廓為天氣，其形大也。</p>

<h1>二十五、補虛先去實論</h1>
<p>虛損有應補者，先查有無實症，礙手與否。如有實症礙手，必當先除其實。不然，虛未能補，而實症滋長矣。古謂病有三虛一實者，先治其實，後治其虛，蓋謂虛多實少，猶當先治實症也。如澆灌嘉禾，必先薅除糧莠；撫卹災民，必先屏除盜賊；房破當修，損症也，必先除去碎磚、破瓦、積土、陳灰，而後可以安線。此理甚明，舉世不知，何昧昧耶！</p>

<h1>二十六、俗傳虛不受補論</h1>
<p>俗傳虛不受補，便束手無策，以為可告無愧，蓋曰非我之不會補，彼不受也。不知虛不受補之症有三：一者，濕熱盤踞中焦；二者，肝木橫穿土位；三者，前醫誤用呆膩，閉塞胃氣而然。濕熱者，宣其濕而即受補；肝木橫者，宣肝絡，使不剋土即受補；誤傷胃氣者，先和胃氣，即受補矣。和胃有陰陽之別、寒熱之分。胃陽受傷，和以橘、半之類；胃陰受傷，和以鮮果汁、甘涼藥品之類。隨症類推，惟胃氣絕者不受補，則不可救矣。</p>

<h1>二十七、陽大陰小論</h1>
<p>泰卦謂小往大來，否卦曰大往小來。可見陽大陰小，不待辨而自明矣，而人猶不之知。再觀地球，陰也，地球之外皆陽也。地球較日輪猶小。試觀日輪之在天下也，不及天萬分之一，則天之大，為何如哉！天不如是之大，何以能包羅萬象，化生萬物哉！人亦天地之分也。內景五臟為地，外則天也。外形腹為陰，余皆陽也。陽不大，斷不能生此身也，亦如天不極大，不能包地而化生萬物也。是陽氣本該大也，陰質本該小也。何雲陽常有餘、陰常不足，見癆病必與補陰，必使陽小陰大而後快於心哉？經謂勞者溫之。蓋溫者，長養和煦之氣，故能復其癆也，豈未之讀耶？</p>

<h1>二十八、陰常有餘陽常不足論</h1>
<p>前人有陽常有餘、陰常不足之論，創為補陰之說。不知陽本該大，陰本該小，前已論之矣。竊思陰苦有餘，陽苦不足也。如一年三百六十日，除去夜分日光不照之陰一百八十日，晝分日光應照之陽實不足一百八十日也，蓋有風雲雨雪之蔽，非陽數較缺乎？一也。再，人附地而生，去天遠，去地近，濕系陰邪，二也。君子恆少，小人恆多，三也。古來治世恆少，亂世恆多，四也。在上位恆少，在下位恆多，五也。故三教聖人未有不貴陽賤陰者，亦未有不扶陽抑陰者，更未有不尊君父而卑臣子者。陽畏其亢，藏者則吉。坤之初六曰：履霜堅冰至。聖人示戒之早如此，概可知矣。</p>

<h1>二十九、虛勞論</h1>
<p>虛勞一證，今人概用補陰，惑於陽常有餘、陰常不足之論。自丹溪作俑，牢不可破，為害無窮，殺人無算，可勝嘆哉！蓋陽剛一錯，立刻見禍；陰柔雖錯，可至月餘，甚至二三月之久，仍然拖延歲月。用陰柔易於藏拙。不知陽藥之錯，即時見症，立可補救，陰柔錯之既久，則不可為矣。蓋陰柔小人，禍暗而深，人狎而玩，所謂雖有善者，亦無如是何矣。按虛勞一症，陽虛者多，陰虛者少。一則人身附地而生，陰自有餘；二則人為倮蟲，屬土，賴火而生。至於一朝動作行為，皆傷中陽與衛陽也。惟熱病之後、婦人產後，傷陰者十居八九。房勞則有傷陰，有傷陽，有傷八脈。八脈受傷，補之亦以督脈之陽為主，蓋陽能統陰，陰不能統陽也。其他則傷陽居多。今人恣用補陰，愛用寒涼，傷陽益甚矣。古人云：陽不盡不死。又云：人非陽氣不生活。試觀卒中而死之人，死後肌肉一毫不減，陰雖充滿，無補於生。群毆重傷之人，肌肉渾身受損，苟非致命，無害於生。觸類旁通，陰陽孰重？即應當補陰之症。仍所以為戀陽計也。析薪為生火也，添油為明燈也，娶妻為生子也。從來最善補虛者，莫若仲景。仲景謂：大則為芤，弦則為減，芤則為虛，減則為寒，虛寒相搏，其名曰革，男子失精亡血，女子半產漏下，諸虛不足，小建中湯主之。夫失精亡血，半產漏下，非傷陰也哉？仲景何以不用冬、地、丹、萸，而用建中乎？蓋建中以調和營衛為扼要，以補土為主。藥止六味，而甘藥居其四，俾病者開胃健食，欲其土旺生金，金復生水以生木，木生火而火又生土，循環無已。其意蓋不欲以藥補虛，而使之脾胃健旺，以飲食補虛，此君子以人治人之道也，豈淺學所知哉！至東垣喜立門戶，舍建中不用，而易之以補中益氣。雖補中益氣用處不少，原從建中脫胎，究不若建中之沖和恬淡。補中益氣未免矜才使氣，中虛而下焦實者，猶不害事，若下焦亦虛，禍正不小，前人畏其有盜腎氣之慮。建中妙在雖然補氣，營藥實多。桂枝雖然衛藥，營中之衛藥也，不似補中益氣之升、柴純然走衛矣。建中得陽卦多陰、陰卦多陽之妙，補中益氣何足以語此！故建中可以久服，補中益氣斷不可多服也。婦人虛勞門中之新絳旋覆花湯，血藥居其一，氣藥居其二，仍以通陽為主。薯蕷丸陰陽平補，陽虛居多。傷寒脈結、代，虛之極矣，復脈湯中用參、桂、薑、棗、甘草，大概可知矣。</p>

<h1>三十、吐血論</h1>
<p>吐血一症，有內傷，有外感；有熱症，有寒症；有氣病，有血病。今人見血投涼，見血補陰，相習成風，南北一轍。經謂陽絡傷則血上溢。其傷絡者，豈盡陽邪哉？如君相兩火司令，與風溫、溫熱三陽實火吐血，固系陽邪，自宜涼潤，且用苦寒。若怒郁脅痛咳血，則屬陰邪，非溫絡不可。痰飲震動肺絡咳血，脈洪大者，用石膏、茯苓皮之類；脈弦細者，則用乾薑炭、廣皮炭矣。若氣不攝血，脈芤者，急急峻補陽氣，如獨參湯之類猶恐不及，豈可用寒涼與補陰哉？吐血之症，有吐血，有咳血，有嘔血；有肺血，有胃血，有肝血，有腎血，有衝脈上衝之血。心血見則必死。須分別治之。何者當溫經，當補陽，當通絡，當補絡，當補陰，當瀉火，當清金，各有調理，豈一犀角地黃湯可以了事哉？</p>

<h1>三十一、便血論</h1>
<p>便血一症，今人舍槐花、地榆、生地、丹皮，無二法焉。《金匱》明分遠血、近血。先血後糞曰近血，乃大腸濕熱，治以當歸散；先糞後血曰遠血，乃小腸寒濕，治以黃土湯。黃土湯中用附子峻溫之。即或先後難辨，總有色脈可憑，豈可一概寒涼哉！更有糞之先後俱見血者，當從遠血例治。</p>

<h1>三十二、溺血論</h1>
<p>溺血一症，今人概用導赤散，不知此症肝鬱最多，當活肝絡。其所以當活肝絡之故，蓋由飲食入胃，取汁變化而赤是謂血，心主之，脾統之，肝藏之，由肝下注衝脈，肝鬱則血瘀滯，血瘀滯則失其常行之路，非吐血、咳血，則溺血矣。不吐、不溺，其脅必痛甚。皆以活肝絡為要。主在診病時，問其曾有怒郁否，或肝絡所行之道有痛楚否。其脈必弦甚，或微數，或竟不數。導赤法即不合。蓋肝藏血，肝病則疏泄太過，由衝脈而注前陰。若女子崩症，亦多有因肝鬱而得者，女子更以肝為先天也。予素治溺血，用新絳旋覆花湯合繆氏法蘇子降氣湯、虎杖散法，應手而效不一矣，敢以質之同志。</p>

<h1>三十三、小便論</h1>
<p>小便不通或淋，今人概用五苓、八正，不知有病在溺管者，有病在精管者。如病在精管，豈通膀胱之腑所能效哉！當通陰絡。怒郁溺不通者，亦當通陰絡。按小便之不通，有肺病，蓋肺主天氣，又肺為人身之橐鑰，此氣一鼓，則周身之氣運動，肺家有病，則周身之氣呆鈍。蓋物之無肺者不溺，當開肺痹。亦有小腸結者，當極苦以通火腑。更有極怒而大小便俱閉者，亦當極苦以通小腸。此膽病也，膽無出路，借小腸以為出路。小腸火腑，非苦不通。</p>

<h1>三十四、大便論</h1>
<p>大便不通一症，今人概以大黃下之。按肺與大腸相表裡，開肺痹即所以開大腸之痹。有因感受燥金之氣而寒閉者，非巴霜溫下之不可。疝瘕大便閉，亦同上溫下法，蓋疝瘕即燥金之氣所結而成者也。有燥氣化火，或臟氣本乾燥者，則當用甘潤法。有幽門血分不通者，則當用東垣通幽法。有痰飲，津液不行大腸而便閉者，則當用杏仁、枳實、陳皮、半夏，以通幽門氣分，使津液下行。怒鬱則用蘆薈、胡連、龍膽草，極苦通小腸。惟陽明腑實，方用承氣。</p>

<h1>三十五、頭痛論</h1>
<p>頭痛一症，今人概用羌活、藁本、蔓荊子之通太陽者治之，此外絕無他法。不知有太陽頭痛，有陽明頭痛，有少陽頭痛（此係外感），怒郁少陽偏頭痛（此係內傷），厥陰頭痛，陽虛頭痛，陰虛頭痛，膽移熱於腦而成鼻淵，頭亦暈痛，怒郁上衝滿頭痛，風襲太陽之絡久頭痛，各宜分別治之，稍不清楚，則不見效。若真頭痛，一痛即死，無可治也，與真心痛同例。</p>
<p>頭暈一症，陰虛者多，今人概認為風。即肝風內動，亦系陰虛之故，乃上盛者下必虛也，非外風也。有產婦頭暈，治以補陰者；有痰飲頭暈，治以半夏者；有水飲頭暈，治以澤瀉散者；有中虛頭暈，治以實土治風法，用天麻者；有暑盛頭暈，治以辛涼者；有過天君頭暈，治以補心體者。《金匱》凡言冒，兼言眩冒者，皆頭痛也，豈盡風哉？今人不但以頭暈為風，且以天麻為風藥，甚屬可笑。按天麻為赤箭之根，氣味甘平屬土，形如芋魁，有遊子十二枚周環之，以仿十二辰，應六氣之司天。天麻如皇極居中，得氣運之全，為補土之聖藥。惟赤箭辛溫屬金，金能制風木耳。</p>

<h1>三十六、經閉論</h1>
<p>經閉一症，俗名乾血癆，今人概用四物、八珍、當歸養營之類。不然則用三稜、莪朮、大黃、桃仁，大攻大伐，以致不起者，不可勝數。經謂：二陽之病發心脾，男子不得隱曲，女子不月。男子不得隱曲者，蓋陽明主約束筋骨而利機關，陽明虛則筋骨無以約束而機關不利矣。故經謂諸痿獨取陽明。女子不月者，中焦受氣，飲食入胃，取汁變化而赤是謂血，心主之，脾統之，肝藏之，由肝下注衝脈，衝脈滿則月事以時下矣，茲陽明虛，飲食少，血無以生，月事從何而來？故調經先以胃氣為本，次以條暢肝氣為主，蓋女子以肝為先天也。如肝胃無病，方責下焦，或通或補，視其病之虛實。</p>

<h1>三十七、中風論</h1>
<p>中風症，古人有真中、類中之分。類中者，《靈樞》謂之痱中，本實先撥之症，外形必緩縱。虛在下焦血分者，多現於左；虛在中焦氣分者，多現於右。亦有不盡然者。合之色、脈、飲食、起居，自無難辨。再見內風掀動之象，乃腎虛無以養肝，孤陽獨上，有乙癸同源治法。土虛肝侮，亦有內風掀動之象。蓋土之與木也，一勝則一負，有實土製風法、建金制木法。若真中風之症，外形必拘攣。六淫之邪，無不可中，古以中風名者，六淫之邪，非風無由得入，蓋風為百病之長也。講求六氣不透徹清楚，斷不能識中風也。凡緩縱之虛症，宜以痱中之法治之；若拘攣之實症，除中臟不治外，當察其所感何氣，所中何經，分別治之。仲景於中風門中加「有痹症」三字，何也？痹症本與中風一類，最似中風，先師恐學者誤以痹症為中風，故特提出曰「有痹症」也。蓋痹症即中風而未傷及臟腑也，但以治痹之法治之即愈，不必誅伐無過之臟腑也。今人概用攻風劫痰何哉？</p>

<h1>三十八、外感總論</h1>
<p>今人不明六氣皆能為病，見外感皆曰傷寒，而悉以治傷寒之法治一切外感。不知傷寒由表及裡，其來之漸，非至臟不死。經謂傷寒者皆熱病之類也，熱雖甚不死。其兩感於寒者，必不免於死。蓋兩感者，一日太陽受之，即見少陰症也。少陰者，臟也。經又謂臟病者半死半生也。若溫熱暑濕，過衛入營，肺主衛，心主營，入營則近於心胞矣。經謂譫語癲狂者死。肺也，心也，皆臟也，是溫暑初起，即入臟矣。溫傷太陰，太陰亦臟也。燥金剋木，木系厥陰經，乃臟之盡頭也，較之傷寒豈不速而又速哉？雖燥金亦有傷表之症，但傷里者多，以金性沉著之故。燥金入里，木病必剋土，土病則嘔吐、泄瀉之症蜂起矣。經謂燥極而澤。又謂陽明之上，中見太陰。又謂陽明從中治。蓋謂此也。大抵經絡受邪入臟腑，其來也漸；九竅受邪入臟腑，其來也頓。漸之病，猶可截其前路，不使之進；頓之病，必須急護臟真，速度之退也。</p>

<h1>三十九、溢飲水腫論</h1>
<p>溢飲、水腫、蠱脹，三者相似，而實大有區別。今人悉以五皮，五苓、八味從事，而用八味者最多。不知八味攝少陰，柔多剛少，專為婦人轉脬而設，並非腫脹門中本方也。考古止有內飲用之。《金匱》治溢飲，主以大、小青龍。蓋有脈弦緊為寒，主以小青龍之薑、桂；脈洪大，兼熱，則非大青龍之石膏、杏仁不可。《內經》於水腫、蠱脹，峙立三法：一曰開鬼門，二曰潔淨腑，三曰去陳莝。《金匱》有風水、皮水、石水、黃汗之分。又總論之曰：腰以上腫當發汗，腰以下腫當利小便。《素問》有病始於上而盛於下者，先治其下，而後治其上之明文，今人概不之講，而一以八味了事，人命其何堪哉！大抵溢飲必兼咳嗽；水腫色白，腹無青筋；蠱脹色赤，腹有青筋如蟲紋，形似水蛙。水腫，《內經》所謂太陰所至，發為䐜脹；蠱脹，《內經》所謂厥陰所至，發為䐜脹也。單腹脹亦厥陰病，但與開鬱，不必利水。余此論不過指出今醫之病，略舉其大綱，本非全書，未及盡言，學者當於古訓求之，意外悟之。</p>

<h1>四十、午後發熱論</h1>
<p>午後身熱，今人僉以為陰虛，大劑補陰，愈補愈劇，至死不悟。蓋陰虛身熱，原在午後。要知陰邪自旺於陰分，亦午後身熱也。如伏暑、燥症、溫瘧、濕中生熱、瘀血作燒、幼孩食積夜熱之類，皆陰邪自旺於陰分，最忌陰柔滋膩。大抵陰邪之午後暮夜發熱，五更必有微汗而解；（此汗今人皆指為盜汗。）虛勞午後暮夜發熱，必無汗而自解。再合之色、脈、他症、舌苔、飲食嗜好，自無難辨者矣。</p>

<h1>四十一、癥瘕論</h1>
<p>今人治癥瘕，概以三稜、莪朮、歸尾、紅花攻瘀之陽藥治之，斷不能見效。不但不效，攻之過急，且有癥散為⿸疒鼓之患。按癥瘕屬金，堅剛牢固，深藏在下，非緩通絡脈之丸藥（如化癥回生丹之類）朝夕漸磨不可。蓋湯者，蕩也，其力甚猛，宜新病，不宜久病，宜上中焦，不宜下焦。延醫者見其十數日不效，則以為醫不能治，而更醫矣，功安在哉？丸者，緩也，既不傷正，漸磨錮疾，假以時日，三月不化至五月，五月不化至年餘。余治癥瘕，有三五月即化者，有三四年而後化者。若用湯藥，何能候至三四年哉！雖體強氣壯之人，有攻之立效者，不可為常也。設散為蠱，責有攸歸。經謂大積大聚，衰其大半而止。其謹慎為何如哉！</p>

<h1>四十二、噎食論</h1>
<p>噎食之為病，陰衰於下，陽結於上。有陰衰而累其陽結者，治在陰衰；有陽結而累及陰衰者，治在陽結。其得病之由，多由怒郁日久，致令肝氣橫逆，或酒客中虛，土衰木旺。木乘脾則下泄，或噯氣。下泄久則陰衰，噯氣久則陽結。噯氣不除，久成噎食。木克胃則氣上阻胸，食不得下，以降逆鎮肝為要。其夾痰飲而陽結，則善嘔反胃，一以通陽結、補胃體為要。亦有肝鬱致瘀血，亦有發瘕致瘀血，亦有誤食銅物而致瘀血者。雖皆以化瘀為要，然肝鬱則以條暢木氣，兼之活絡；肝逆則降氣鎮肝；發瘕須用敗梳菌；銅物須用荸薺汁，用各不同。若病在上脘，絲毫食物不下者，非吐不可。亦有食膈，因食時受大驚大怒，在上脘者吐之，在中下脘者下之。云岐子九法，一以劫法、下法為主，未免純用霸氣，喻氏斥之誠是。然亦間有應用其法者，不可一概抹殺。再如單方中之咸韭、菜滷之治瘀血，牛乳之治胃燥，五汁飲之降胃陰，牛轉草之治胃槁，虎肚丸之治胃體弱，獅子油之開錮結，活鵝血之治老僧打坐、精氣不得上潮泥丸宮而成舍利，反化為頑白骨而結於胃脘，蓋鵝血純陰，能化純陽之頑結也，狗尿粟、狗寶以濁攻濁，而又能補土，不可勝紀。何今人非用枳、樸傷殘，則用六味之呆膩，余概不聞哉！</p>

<h1>四十三、痿痹論</h1>
<p>近醫之病，見痿痹皆云血虛，悉從丹溪之說，用六味等陰柔，恣意補陰。古人謂痿痹為軀殼病，有終身之累，無性命之憂。可見痿痹不死病也。若久用陰柔，與寒濕相搏，固結而不可解，其胃氣必傷，土惡濕也，必溏泄而至於死。俗謂濕熱歸脾，若用湯藥補氣，固住濕熱，必成濕痰流注而死。《金匱》水氣門中久不愈必致癰膿，即此義也。吾見屢矣，悲夫！</p>

<h1>四十四、自汗論</h1>
<p>自汗不止，今人悉用黃耆、浮麥，其他法概不知之。按傷寒漏汗，治以桂枝加附子湯；中風自汗，治以桂枝湯；風溫自汗，治以辛涼，佐以苦甘，如桑葉、連翹之類；中暑自汗，治以白虎，狂汗不止，脈芤者，加人參，亦有用生脈散處；陽虛自汗，輕則用人參、黃耆，重則用桂、附、朮、甘；肺虛自汗，用沙參、麥冬、五味子、桑葉之類；心虛自汗，用秋小麥、人參、柏子仁、龜板之類，重者用龍骨牡蠣救逆湯；（按小麥備四時之氣，種於秋而成於夏，故走心經。種於秋，得秋金收斂之氣。初生之皮，純得秋金之氣。以秋小麥洗淨，藥煎半熟後入小麥，則皮之味恆多。重在用皮收斂，亦取其成在夏而入心也。古時用法如此，今人皆用浮小麥。按浮小麥有二種：一則生時未曾結實，自己得氣不足，焉能治人？一則入倉以後，濕熱生蟲，有病之物，又烏可以治人之病哉？）陰虛不受陽納自汗（即盜汗），治以介屬潛陽，大固腎氣；濕家、燥家自汗，均以護陽為主；痰飲咳嗽自汗，即用發汗之麻黃，單用其根，以收太陽歸縮之氣。諸如此類，隨症而施，可以類推。</p>

<h1>四十五、幼科論</h1>
<p>兒科三大症，急驚、慢驚、疳疾是也。俗謂急驚者，《內經》所謂少陽所至為瘛瘲也，多得之風、火、暑三種陽邪，與汗出過多、本臟自病，法宜辛涼與補陰。俗謂慢驚者，《內經》所謂太陽所至為痙是也，多得之濕、燥、寒三種陰邪，又有嘔吐、泄瀉、飲食內傷，法宜溫脾陽。疳疾多由於飲食傷脾，亦有思乳思母，肝鬱而成者，法宜溫宣中焦，兼之芳香開鬱，亦有殺蟲者。痘症從內發，癮疹系溫邪，最忌發表，今人必與表藥。治痘症必備四時之氣，且前清後溫，先瀉後補，如制藝中之截搭題法居多。亦有純系虛寒，始終用保元、異功者；亦有梟毒大熱，始終用石膏、大黃者，斷不可拘於一格。今人偏於寒涼攻下，急驚亦與發表，慢驚仍用寒涼，疳疾則恣用苦寒，民豈堪命哉！余詳《溫病條辨·解兒難》中。</p>

<h1>四十六、用藥分量論</h1>
<p>用藥分量，有宜多者，少則不效。如溫暑、痹症、痰飲，脈洪者，用石膏每至數斤、數十斤之多，是其常也。乙酉年，余在浙江紹興治趙大兄伏暑痰飲，發則大喘，每劑用石膏，必以半斤、一斤之多，而後喘得少減。連用七八劑，或十數劑，而後喘定。遲數日又發，脈必洪大。期年之間，用至一百七八十斤之多，而後大愈，是其變也。有宜少者，萬不可多用。如寒、燥門之用蟾酥，瘀血門中之用皂礬。蟾酥猶可入丸藥，皂礬止入外科丹藥，丸藥中亦不能用。湯劑中用新絳紗，用染匠之巧法，皂礬在幾微之間，稍多則染成元青矣。奈紀曉嵐先生《閱微草堂筆記》中雲：乾隆癸丑春夏間，京中多疫，以張景岳法治之，十死八九，以吳又可法治之，亦不甚驗。有桐城一醫，以重劑石膏治馮鴻臚星實之姬人，見者駭異，然呼吸將絕，應手輒痊。踵其法者，活人無算。有一劑用至八兩，一人服至四斤者。雖劉守真之《原病式》、張子和之《儒門事親》專用寒涼，亦未敢至是，實自古所未聞矣。考喜用石膏者，莫過於明·繆仲淳，（名希雍，天崇間人，與張景岳同時，而所傳各別。）本非中道，故王懋竑《白田集》有石膏論一篇，力駁其非。不知何以取效如此。此亦五運六氣適值是年，未可執為定例也。按先生深惡講學家之拘執，先生何嘗不是講學家習氣！皆識不卓之故耳。前云桐城醫重用石膏治馮姬之病，見者駭異，然呼吸將絕，應手輒痊等論，是何足奇？余治西人李姓布賈熱病，大熱大渴，周身純赤，一夜飲新汲涼水至二三擔之多，汗如雨下，譫語癲狂，勢如燎原，余用石膏，每劑先用八兩，後加至十二兩，後加至一斤，後早晚各服一劑，每劑煮六碗，一時服一碗，間服紫雪丹、牛黃丸。紫雪共用二三兩之多，牛黃丸共用至二十餘丸之多。鏖戰十數日之久，邪之大勢方解。繼清餘邪，石膏每帖仍用四兩，六七帖之後，方能脈靜身涼。他多類似，不能盡述，半載余醫案中。蓋藥之多寡，視病之輕重也。又云：劉守真、張子和專用寒涼，亦未敢至是，實自古所未聞矣。斯未讀古書之故也。按張仲景《傷寒論》中白虎湯，石膏本系半斤，別本有一斤者。即汪訒庵《醫方集解》中白虎湯，用石膏亦系半斤。《金匱要略》木防己湯中，石膏用雞子大十二枚。或云：漢朝戥量本小，照今時不過二六扣耳。按漢時戥量本小，漢時雞子亦小於今乎？又云：考古喜用石膏者，莫過於明·繆仲淳，本非中道。是未聞道之言也。試問中道何以定哉？蓋中無定體，病輕藥重為不中，病重藥輕亦為不中；病淺藥深為不中，病深藥淺亦為不中；味厚氣盛之藥，多用為不中；味淡氣薄之藥，少用亦為不中。石膏質堅汁少，氣薄味淡者也，古皆重用，何繆仲淳為本非中道也哉？自王懋竑《白田集》石膏論力辯其非，亦系未聞道之下士，固不足論，何足為據？桐城醫以秉辛涼金氣、金水相生之石膏，以復太陰之金體、陽明之金用，制木火有餘、火來剋金之溫病，救化源之絕，此所以取效如神，實系天經地義之定例，何云未可執為定例也？近時蘇州醫用甘草必三五分，余藥皆五七分，至一錢即為重用，何病可治？此故用少之過也。本京有某砂鍋之名，用大剛大燥，皆系八兩、十兩，一劑有用至數十兩者；幼科用歸宗法者，十日以外，咬牙寒戰，灰白塌陷者，仍用大黃、石膏至一二斤之多，人命豈何堪哉？此誤用多之過也。</p>

<h1>四十六、柴胡醫勞病論</h1>
<p>柴胡非醫癆損藥也。宋元以來，多有以柴胡退癆損之午後身熱。《本經》稱其主心腹脹、胃中結氣、飲食積聚、寒熱邪氣，並無治虛損之明文。汪訒庵《本草備要》中則稱其治虛勞肌熱，並引李時珍之言曰：勞有五，若勞在肝、膽、心、心包，有熱，則柴胡乃手足厥陰、少陽必用之藥；勞在脾胃，有熱，或陽氣下陷，則柴胡為升清退熱必用之藥；惟勞在肺、腎者，不可用耳，寇氏一概擯斥，殊非通論。按李時珍一生學問，博而不精，汪氏為其所惑，反怪寇氏之不通。嗚呼冤哉！蓋汪氏只於紙篇上用工夫，並未將自己之心識對著病人之病機上用工夫。井蛙之見，簡陋之書，讀之愈多，貽害愈甚。按柴胡之妙，其芳香之氣，從土中上透雲霄，凡外感陷症，非此不可。濕、燥、寒三者陰邪，用處最多；風、火、暑三者陽邪，即斷不可用。惟伏暑系陷伏之症，藉以升提，俾邪從中土之下，上升外出。若勞損斷不可用者也。按經謂陽虛生外寒，陰虛生內熱。其熱也，由於陰虛，尚可再用升提，使下竭上厥哉？或曰：古人以柴胡治勞熱，倘不見效，必不敢筆之於書，子何以不敢從其說哉？曰：是有若大分別，從古糊塗，至今而莫之辨也。《中庸》曰：明辨之，而後可以篤行之。蓋陰虛者，午後身熱，至子、醜而自退，人所共知；陰邪與陷下之邪亦午後身熱，至子、醜而解，余《溫病條辨》中謂陰邪自旺於陰分，則人皆不知也。其幾微之辨，在退燒之際，勞病多無汗而熱自退，陰邪、陷症退熱時，必微微汗出也。前人所治之勞熱，非真勞也，乃陰邪與陷症也。以其外形午後發熱與勞病相似，混而同之，真以為柴胡退勞損熱矣，誤人不淺。若真陰虛之暮熱而用柴胡，不死不止。</p>

<h1>四十八、產後恣用歸芎論</h1>
<p>產後之血，大概有三：有瘀滯而痛者，有絡虛而痛者，有不寒不熱，不虛不實，不必用藥者。此中惟瘀血作痛、兒枕痛者，可用歸芎。有瘀血上攻，歸芎且不作用，必用回生丹，取其內有食血之蟲，飛走有情，加醋製大黃，急破其瘀，緩則有性命之憂。若血絡虛而痛者，不但不可攻，且要急補絡脈，如桂圓、人參之類，尚可攻哉？至於無病而妄用歸、芎，竄其血中之陽氣，不至於鬱冒不止也，豈非天下本無事，庸人自擾之乎！何今人一概用生化湯，成產後印板方法，是何理解？民命其何堪哉？即胎前保胎亦不可純任歸、芎。近日藥肆中有保胎無憂散，一以歸、芎為主。血寒者不成胎，或微寒而氣滯血凝者，固屬相宜；若血熱而氣滑利者，易成易墮，以翕攝陰氣、峻補任脈為要，豈非見歸、芎如讎寇乎！今人不問虛實寒熱，一概施之，不識何故。大抵為當歸生血之謬論所誤耳。即有可用歸芎之症，而又畏其竄陽，不如用香附、砂仁之為妙。蓋歸、芎止能活血通滯，不能保胎；香、砂芳香，既能通下焦之滯，又能開胃健食以養胎元，其辛竄之氣較柔于歸、芎遠矣。香附一節一膜，深藏根底；縮砂蔤一房一膜，深藏葉底。二者均有胎包深藏之象，故亦能保胎也。再婦科胎前產後專究八脈，時人均不知之。蓋八脈為生化之源也。余詳《溫病條辨·解產難》中。</p>

<h1>四十九、渴證論</h1>
<p>時人治渴，舍涼藥無二法。仲景謂渴者與豬苓湯。蓋腎主消渴。此渴即司馬相如病消渴之渴也。病在臟，瀉其腑，故以豬苓、澤瀉、滑石瀉膀胱，使火從水中去；而單以一味阿膠補本臟之液。此渴必飲多溺少。他如痰飲之反渴，用辛能潤法。蓋飲居心下，格拒心火，不得下通於腎，反來上鑠咽喉，故嗌乾；又格拒腎中真水，不得上潮於喉，故引外水求救之。水之不得行者，陽氣鬱也，若以涼藥、潤藥治之，無不死者。今人則皆然矣。哀哉！</p>

<h1>五十、肝鬱用逍遙散論</h1>
<p>今人見肝鬱，僉用逍遙散，效者半，不效者半，蓋不知有仲景新絳旋覆花湯、繆仲淳蘇子降香湯之妙也。蓋經主氣，直行，屬陽，逍遙散中之柴胡，直行，為縱；絡主血，橫行，屬陰，新絳等湯專走絡，橫行，為橫。治肝宜橫而不宜縱，蓋肝之怒氣直衝上行，豈可再以柴胡直性上行者助其勢乎？其間有見功者，肝喜條達故也，或有陰邪伏陷故也。肝主血，絡亦主血，同類相從，順其勢而利導之，莫如宣絡。再肝鬱久則血瘀，瘀者必通絡，豈逍遙散氣藥所能治乎！</p>

<h1>五十一、升陽散火論</h1>
<p>「升陽散火」四字，一聯而下，絕解不通。蓋陽升則火愈熾，火性炎上，是其理也。若真正火症，如何可以升陽治之哉？唐以前無是法，宋元以後，此法盛行。瑭思維數十年，不解其故，以為總無是理，必無此事。古人未必安心害人，必其用之得效，而後立法相傳。近年以來，下元甲子兌七宮用事，燥金之症頗多。燥金本寒標燥，頗似火症，煩躁不寧，身熱如火。若燥金之脈，本弦短而澀，格陽者，反洪大數實，純似火症之脈。感燥表裡兼受，受邪太重者，必格陽。格陽者，純似火症，非用升陽藥不可。蓋前人誤認燥為火也。見腹痛、胸脅痛、瘕疝等症，又誤認燥為寒也。</p>

<h1>五十二、痰飲用二冬二母六味論</h1>
<p>黃帝問曰：肺之令人咳，何也？岐伯對曰：形寒飲冷則傷肺也。雖五臟六腑俱能令人咳，外有風溫、溫熱之咳不在痰飲之中者，究系痰飲居多。仲景謂：病痰飲者，當以溫藥和之。所以必用溫藥者，補脾陽與三焦之火也，坎中滿水，非陽氣不行也。其《金匱》痰飲門與咳嗽門中，僉用溫藥，何近世一概以二冬、二母之苦寒，不然則以六味之酸甘化陰？如果肺胃燥熱，用之誠善。風溫、溫熱之咳，只用辛涼甘潤，亦不用苦寒。若遇痰飲陰邪，或兼風寒及燥金本氣，豈非見苦寒如讎仇乎！古人有因咳致痰、因痰致咳之辨，學者不可不知。蓋因痰致咳者，半日無痰絕不咳嗽。且痰飲夜咳必甚，亥、子、醜，水旺時也。其聲重濁屬土，飲本兩太陰病也。若因咳致痰者，必無甚多痰，或稍有痰，或竟無痰，唇、口、舌、面多赤色，脈多數，或舌有黃苔，或寅、卯時咳甚脅痛，為木扣金鳴之咳，面色不改，舌多白，脈必弦，或雙弦，或單絃，病至極，亦有洪大、滑數者，乃反象也，為難治。陰陽現症，不可不辨。再痰飲之所以不可用一毫苦寒涼藥者，經謂飲食入胃，脾氣散精，上輸於肺，歷絡三焦，通調水道，下達膀胱。三焦之火不足，不能生土，脾虛不能代胃行津液，遂成支飲射肺之咳。脾為太陰，飲為陰邪，弦為陰脈，（脾病而現肝之脈也。）再投涼藥或柔藥，豈非為賊立幟乎？吾又見有肝鬱者，多兼痰飲。蓋木病必剋土，克胃土則不食或嘔，克脾土，不泄則咳，脾受克則失其散津之職也。今人見肝鬱，多用黃芩、冬、地，亦大與痰飲不合。且無飲者，服久必致成飲矣。見痰飲之咳，又謂為勞病，恣用補陰，不可為矣！</p>

<h1>五十三、外感身熱或咳僉用瀉白散論</h1>
<p>瀉白散，錢仲陽治小兒實熱已退、虛熱不除者，納氣歸元法也。痘後無外感，氣不歸元者，用之誠然。今人外感僉用之，致令風寒深入腎竅，終身不拔，為害甚多。夫以葉氏之明，猶不知此，緣載在《金匱要略》金瘡門中王不留行散下，特未之讀耳。余「解兒難」中已詳之矣，茲不多贅。</p>

<h1>五十四、眼科恣用發表苦寒論</h1>
<p>五臟六腑之精華，皆上繫於目。人之有目，如天之有日，水火之精相搏而成，皆清空之氣浮而上升者也，用藥豈容稍有鹵莽！必實有外感何氣，方可用外感何氣之藥。必實系實火，方可少加苦寒，亦必有甘寒監之。蓋畏其苦先入心，其化以燥也。今人不問外感、內傷，一概先用發表，繼以苦寒，不瞎何待！如偏頭痛有害一目之弊，系本臟自病，少陽膽經之熱，乃大用辛溫發三陽之表，繼以苦寒，無怪乎損目之多。余謂世無眼科，則瞽者必少。</p>

<h1>五十五、外科恣用苦寒論</h1>
<p>內科臟病為重，腑病為輕，外科則不然。蓋臟病傳腑，出腑則輕矣；腑病傳臟，入臟則重矣。外科不可輕用苦寒，畏其傷腑陽而入臟也。蓋癰者，壅也；疽者，阻也。營衛不和，氣血不得周流無間，而後成癰疽。再用苦寒以泄之，使毒氣壅滯，愈不得調，潰爛無已，傷里膜則毒侵入臟而死矣。大抵以調和營衛為第一要著。如病勢沉重，非大補腎中真陽不可。蓋營出中焦，衛出下焦，兩腎中間之陽氣乃衛氣之根本也。再善治外症者，原不必令其潰膿出頭，不動聲色使其自化最妙。今之外科，以為不潰膿、不出頭，則無功可見，只為自己取錢起見，不顧人之性命，可恨之極。使之出頭甚易，既使之出，又不能收，日久氣血耗散，雖有善收口者，亦無如之何矣！再有不善脫腐，腐不盡而驟收之，收後必再發，屢發屢收，成壞瘡矣。哀哉！</p>

<h1>五十六、痘科恣用苦寒論</h1>
<p>《大學》注云：是則偏之為害，而家之所以不齊也。豈必齊家為然哉？天下萬事莫不因偏而壞。余前云醫必備四時之氣而後可。近代著痘科書者，多主寒涼。考歸宗一法，其源出於胡氏，繼有費建中《救偏瑣言》。歸宗特寒涼攻伐梟毒之一法而已。費氏之書，名曰「救偏」，蓋救淺學者單主陳文中溫補一法、有春夏而無秋冬之偏。寒涼則有秋冬而無春夏，又烏足以成歲哉？余《溫病條辨·解兒難》中辨之最詳，不贅。</p>

<h1>五十七、《醫方集解》不通咸宗之論</h1>
<p>子輿氏謂：楊墨之道不熄，孔子之道不著。唐以後醫道之壞極矣。先是唐末五代之際，醫者率用毒藥，不能對準病情，傷人實多，以致有《雷公炮製》《和劑局方》之設，將毒藥之方俱收入禁方，此醫道之一壞也。繼則代有名醫，如東垣、丹溪、河間輩，各以一偏之見，各立門戶，以成一家之名，又一壞也。下而明季，陶氏六書之作，混六氣俱曰傷寒，籠統立方，籠統治病，世咸宗之，樂其簡便，又一大壞也。至汪訒庵《醫方集解》一出，家弦戶頌，樂其簡便，若以之治病，鮮有不殺人者。其補劑首選一方，曰六味地黃丸，補陰者也，反將小建中、黃耆建中、當歸建中，附於桂枝湯表劑之下。陰陽倒置，莫此為甚。其贊六味丸也，妙不可言；其於建中也，無一言發明。是使天下重地而輕天，有母而無父，有秋冬而無春夏。嗚呼！可哉？不知六味丸本錢仲陽幼科門中存陰退熱法也。自丹溪專主補陰，唱之於前，薛立齋、趙養葵、汪訒庵等眾，和之於後，而生民之禍極矣。訒庵於三黃石膏湯下云：治傷寒、溫毒表裡俱熱。夫以表裡俱熱之溫毒，而可以麻黃、豆豉，合生薑、大棗，辛甘化陽，大助其表裡之熱哉？又五黃散下云：治傷寒表症，又治內傷生冷、腳氣、瘧疾等症，又治婦人經水不調。其總論曰：此陰陽表裡通用之劑也。夫表裡陰陽，正相反者也，有一方而可以統治之理乎？雖以仲祖之賢，其曰：表急，急當救表；裡急，急當救里。其於表裡陰陽，分之最悉。若一方可以統治，醫道不難矣，仲景當日何必至再至三分析表裡乎！其於九味羌活湯下云既治傷寒，又治傷風。而仲景謂風家表虛，寒家表實，細立桂枝、麻黃兩法，豈可俱以羌活一方治之乎？既治風與寒矣，又治溫病、熱病，夫傷寒，陰邪也，溫與熱，陽邪也，豈可均以羌活發太陽之陽統治之乎？他如此類甚多，不及殫述。其不通，彼不自知也。若自知，必不筆之於書矣。後人宗之，轉相仿效，生民之禍，何日已哉？不通之書，不止此一種，惟此種最行於世，余目擊神傷，不得不起而辨之，獲罪無所逃也。</p>

<h1>五十八、四君子湯論</h1>
<p>舉世用四君子湯，而不知其所以然之故。余藉此一方，以開後學測古方之妙義，又開加減去取之法，是古方皆當如是體驗也。四君為補氣而設。按肺主氣，補氣必補肺矣。然不從肺著想，而從脾胃著想者何也？虛則補其母也，補土生金，即所以補氣也。白朮、炙甘草，脾經守藥也。甘草純甘，不兼他味，守中之守藥也。白朮兼苦而能滲濕，守中之通藥也。人參、茯苓，胃中通藥也。人參苦少甘多，通中之守藥也。茯苓淡滲而能達下，通中之通藥也。知此，欲單用通則去朮、草，單用守則去參、苓，單用通中通則單用茯苓，單用守中守則單用甘草，當兼用通守者，則兼用之。能合能分，能加能減，能輕能重，能暫能久，用藥之能事畢矣。補土必兼滲濕者，土最受濕而反惡濕也。色白黃之藥，多兼走肺胃也。蓋肺之臟象屬金，化氣屬土也；胃之臟象屬土，化氣屬金也。</p>

<h1>五十九、腎氣丸論</h1>
<p>腎者，坎也。坎以中陽為體，以外陰為用，在六氣中曰少陰君火，不曰太陽寒水。故以附子得日之魂者，以補中陽氣分之陽；以肉桂得日之魄者，補中陽血分之陽；以色黑入腎之地黃，合萸肉酸甘化陰者，以補外用之陰。水喜流通，下入於地，故以茯苓松根生者滲之；水喜升化，上交於天，故以澤瀉升之；水惡氾濫，故以山藥補土而堤防之。虛則補母，故以丹皮金水相生者，補母以生之。山藥、茯苓，色白人肺，亦能補其母也。其所以治婦人轉脬者奈何？蓋轉脬原腎氣之虛，然徒補腎，未見其即治也。此方地黃壯水之源；前後二陰，皆肝經所過之地，肝主疏泄，萸肉合丹皮，酸泄辛通，使肝復其疏泄之職；茯苓合陰藥下降，澤瀉合陽藥上升，山藥補土，從中以制之。有升，有降，有制，而脬系之轉者直矣。系直則溺出，溺出則由漸而暢，轉脬治矣。再補一臟者，必兼三臟。剋水之土，有山藥、茯苓以治之；水克之火，有桂、附以實之。</p>

<h1>六十、宋·竇材《扁鵲心書》論</h1>
<p>竇氏述扁鵲法，其頭等方，以艾火燒之，多至五百壯，如風關、氣關、命關各五百壯，則一千五百壯矣。二等法則用大丹。三等法則純用辛熱，以為能治死症、大症。小仲景之書，以為但能治小症而已，不足學也。對天立誓，懇摯肫誠。夫竇氏之眼孔，亦只見一時，未能上觀千古、下觀千古也。在竇氏當日，必有奇效，屢試屢驗，遂自信不疑，故敢對天立誓也。不知燥金行疫之時，原宜火攻，竇氏適逢其會耳。按扁鵲自云：吾未能生死人者也。竇氏述扁鵲之法，而反能生死人哉？學者於竇氏法，不可不信，人非陽氣不生活，如四時之有夏也，但取其能剋金而已；不必全信，以為能治一切諸症，則非矣。湯液醫方，自仍當以仲景之法為得中，參之諸家，以補其不備可也。</p>

<h1>六十一、誤用苦寒反似火症論</h1>
<p>誤用苦寒，久而唇舌齒牙焦黑，脈反洪數，純是火症之形。醫者見是曰：若是，猶非火症之明徵乎？至死不悟。經云苦先入心，其化以燥。未知體驗耳。苦寒在濕熱門中用之最多，欲其化燥也；風火門中用處反少，要以甘寒當權，斷不可令苦寒當權而使之化燥也，炎上作苦，苦本屬火，為佐藥可也；燥症門中，籍以反佐，更須少用。</p>

<h1>六十二、雨水論</h1>
<p>坎離代天地用事，人非水火不生活，故醫者必究水火。按草之火最柔，而木火則剛矣。然木之中亦萬有不齊。其性堅者，火必剛；葇脆者，火必柔。最剛者莫如石火，亦萬有不齊。石火之中，至剛者莫如京師之紅煤。凡試火之法，以大錢一枚，置水鍋內，紅煤之高者，水開時則錢浮水面，其次則半浮半沉，火柔則錢離鍋底不過二三寸而已矣。剛火所排之靴、帽，至舊不改樣，柔火萬不能也。學者可藉以助格致之理。食剛火者多熱病，食柔火者多濕病。</p>
<p>至水於，泉水最清，削去垢有餘，清頭目最勝。河為陽水，通六腑最速。濟為至陰之水，伏流黃泉之下，其性沉降，補五臟有專功。他如千里急流水，《靈樞》半夏湯治不寐用之，取其急驅胃陰下降也。甘瀾水因無從取之千里急流水者，但以水揚千萬遍，使之起花，急逐痰飲，前人治痰飲用之。其生化最速，去陳菀如神者，莫如雨水。而雨水之中，化氣最速，又莫如伏雨，《孟子》所謂有如時雨化之。何李時珍《本草綱目》於雨水條下毫無發明，但曰春分日雨水，夫婦各飲一杯，可以有孕。試問誰系飲春分之水而後有孕哉？如此耳食之談，副載一條，亦未始不可，雨水正文何反不言功用？余特補之。</p>

<h1>六十三、五穀論</h1>
<p>五穀亦百草之結子者也。谷者，善也；五者，五行也。聖人取其性善、形色氣味之可以養五臟者，教民樹藝以養生焉。五穀何以為善？味甘淡也。人系倮蟲，屬土。土味甘，以甘補土，故取甘也。尤必以淡為善者何也？蓋味之至重者必毒，稍重者必偏，惟淡多甘少者，得中和之氣，故曰谷也。且淡開五味之先，不在五味之中而能統領五味者也。五味皆屬地氣，地食人以五味也。惟淡屬天氣，清華沖和，最能滲泄土中之濁氣，而使之復其清明之體，故必以淡為善也。五穀中最重黍稷者何也？黍稷體圓而色黃，味得甘淡之中，故先王首重黍稷焉。如黃豆在五穀中甘味最重，則不可作飯，且不可多食，多食則脹滿。《論語》云：食夫稻，衣夫錦。似稻又細於黍稷者何也？蓋黍稷生於剛土而性剛，長於補脾；稻生於濕土而性柔，長於補胃，淡味獨勝，似其品高於黍稷，但色白形長，喜水，偏於濕重，終就臣位，自仍當以黍稷之中正為君也。《周頌》曰：貽我來牟。似大、小二麥亦不輕於黍稷也。蓋二麥補，五穀之所不及者也。五穀除麥之外，皆以濕土行令而下地，以濕土收令而上倉。麥則反是，以秋分後濕土收令而下地，以夏至前濕土行令而上倉，單避濕土之氣，故其性燥而開胃，有濕病者最宜，土性濕而反惡濕也。且金水木火四時之氣，即元亨利貞之天氣也，濕土則純然地氣矣。但補偏救弊者，皆臣道也。</p>

<h1>六十四、大棗論</h1>
<p>大棗木之至堅，而棗肉則果肉中之至密者也，色赤黑，味甘微酸，取其以補脾經血分之陰。去核，使不走下焦。配以生薑，補胃中氣分之陽。一陰一陽之謂道，為中焦調和營衛之要品。而今人多用紅棗。《本草綱目》中謂紅棗理疏，不入藥，豈未之見耶？</p>

<h1>六十五、白芍論</h1>
<p>《本經》稱白芍氣味苦平無毒，主治邪氣腹痛，除血痹，破堅積、寒熱疝瘕，止痛，利小便，益氣。並無酸味之明文。張隱菴謂後人妄改聖經曰微酸，元、明諸家相沿為酸寒之品，試將芍藥咀嚼，酸味何在？春生紅芽，稟厥陰木氣而治肝；花開三四月間，稟少陰君火而治心。瑭按芍藥亥月生芽，藏於根中，仲春紅芽出於地上，春盡而後開花，何丹溪謂產後忌服，伐生生之氣？按陽生於子中，實根荄於亥，故古人禘祭，祭始祖所自出，必用亥月，以亥為始祖所自出也。芍藥亥月生芽，遍歷子、醜、寅、卯、辰、巳六陽之全而後開花，豈伐生生之氣者哉？並未細心格物，無知妄作，莫此為甚。</p>

<h1>六十六、桂枝論</h1>
<p>桂生於廣南，氣味辛溫，無毒，枝有暢茂條達之義，行陽氣，利關節，補中益氣之要藥，用處最多。何東垣謂其橫行手背，禁人之用？試問槐枝、桑枝不能橫行手背乎？何獨單禁桂枝？其說有二：或者當日以桂枝醫溫熱，必不合拍，以溫病最忌辛溫補中益氣也；或者東垣欲立補中益氣湯，獨創一門，必沒殺仲景之建中法，故力砭桂枝也。若識見不到，學術不精，因誤成忌，其過猶輕；若為門戶起見，上滅先師，下蒙後學，其心尚堪問哉？再按桂生於廣南日出之地，色赤，得日之魄者也；附子生於章明赤水日光對照之地，色白兼黑，得日之魂者也。故有走氣走血之分。</p>

<h1>六十七、甘草論</h1>
<p>甘草純甘，不兼他味，故獨擅甘草之名。其性守而不走，甘屬土，土主信也。為其守也，故中滿腹脹者忌之，宣通絡脈者避之。今人則一概用之，不問何方，必加甘草，以為能和百藥，此必用甘草之病也。至於當用甘草之方，如炙甘草湯之類，湯名甘草，以之為君也，治傷寒脈結代，防其脫也，全賴其坐鎮不移之力，而用一錢，或八分、五分，不盡其力，烏得有功？此不敢用甘草之病也。</p>

<h1>六十八、枳實枳殼論</h1>
<p>枳實堅實下沉，專走幽門。幽門者，胃之下口，小腸之上口也。逐渣滓痰飲，使由胃而入小腸，由小腸而入大腸。枳殼生穰，輕虛上浮，專走賁門。賁門者，胃之上口也。方書謂誤用枳殼，傷胸中至高之氣。今人以本草中稱枳實有推牆倒壁之功，避而不敢用，反用枳殼，誤傷無過之地，而幽門之渣滓痰飲反不得除，是何理解？且藥肆中以枳實少而枳殼多，竟以枳殼代枳實，改做外貌，醫者不察，害人不淺矣！</p>

<h1>六十九、細辛論</h1>
<p>細辛，細而辛者也，一莖直上，端生一葉，其莖極細，其味極辛。《本經》稱其氣味辛溫，無毒，主咳逆上氣、頭痛、腦動、百節拘攣，風濕痹痛、死肌，久服明目，利九竅，輕身長年。張隱菴謂：細辛乃《本經》上品藥也，味辛臭香，無毒，主明目利竅。宋元祐陳承謂：細辛單用末，不可過一錢，多則氣閉不通而死。近醫多以此語忌用。嗟！嗟！凡藥所以治病者也，有是病，服是藥，豈辛香之藥而反閉氣乎？豈上品無毒而不可多服乎？方書之言，俱如此類，學者不善詳察而遵信之，醫門終身不能入矣！汪訒庵《本草備要》中將「單用末」三字刪去，直謂之不可過一錢，多則悶絕而死，雖死無傷可驗，且引開平獄嘗治此以實之。其不通有如此哉？</p>

<h1>七十、偽藥論</h1>
<p>古時醫者自採藥，詳辨其形、色、氣、味，屢試確當者，方敢為人醫病。近日藥肆買之藥行，藥行買之客人，客人買之大馬頭坐客，坐客買之各省山農，其中作偽，不可悉數。即如黃河以南所用之黨參，系青州軟苗防風；本京所用之黨參，系北口薺苨，間有山西潞州之防風薺苨，美稱之曰潞黨、西黨。按上黨所產之參，與遼產無二形，其價亦相若。現在王氣在東，上黨所產甚少，不能發賣。豈有數百文買參一斤之理？豈天下之大，四海之廣，藥鋪之多，大者積數百斤，中者數十斤，上黨一山，豈竟能產如許之參以待天下之用？不待智者而知其偽也。且黨參果可代用，何必以重價買人參哉？何世醫僉不知之，而必以黨參代人參之用？豈真不知哉？以為便於行也。不知醫便於行而用假藥，是欺病人也。病人賴醫者救命，可設一騙局以欺之哉？他如石蓮子，系蓮子之老堅者落水入汙泥中，經年不壞，其功能澀下焦滑脫。蓮子甘多咸少，石蓮子則咸多甘少矣。近日藥肆中所備之石蓮子，系野樹之子，黑殼黃肉，無心，其味極苦，最能瀉人。李時珍著《本草綱目》時，已謂其斷莊二百餘年。滑脫之病，反用極苦瀉之，不死不止。赤小豆即五穀中之小豆，皮肉俱赤。近日藥肆中用廣中半紅半黑之野豆，色可愛而性大非，斷不堪用。新絳紗內系三品生絲，既能通絡，又能補絡，紅花生血和血，單以幾微皂礬化瘀，今人概以帽幃代之，斷不可用也。如四君子湯，人參即是假，茯苓系安苓，白朮系種術，只餘甘草一味，又不敢重用，將挾何術以取效乎？其他偽藥，不可盡述。有心救世者，當自考之。</p>

<h1>七十一、雷公炮製論</h1>
<p>雷公炮製，此雷公系五代時之雷斆，其學術未見精也。今人誤認為黃帝、岐伯時論道之雷公，謹遵之而不敢議。蓋世運至五季之衰，無道不壞。古方多用生藥、毒藥，藥之偏，所以矯病之偏也。五季之時，醫失其學，殺人者多，故雷公起而救之，不能使天下之醫皆有學問，遂將稍有性氣之藥，不分有毒、無毒，上品、中品、下品，一概炮製。如茯苓，平淡之上品，用乳制，恐其滲也。若畏其滲，何如不用。用之者，用其滲也。去其滲而用之，何所用哉？人參用秋石制，欲其入腎也。以大隊補腎藥或補八脈藥，而用人參，自有功用，何必制之？即制之亦未必入腎也。阿膠炒成珠，畏其膩也。既畏其膩，何不改用他藥？且阿膠取濟水之極深沉降，水曰潤下，茲以火炒之，是炎上也。半夏不用薑製而用礬制，古法用生薑制，以生薑能製半夏之小毒，半夏、生薑有相須之妙。近日藥肆中用礬制，潔白好看，不適於用，斷不可從。他如麥冬之去心，論詳《溫病條辨》中。其他錯謬之處，不能殫述。學者當隨時考查，通者從之，不通者違之，一視天理之公，不可稍存好惡。</p>

<h1>七十二、引經論</h1>
<p>藥之有引經，如人之不識路徑者用嚮導。若本人至本家，何用嚮導為哉？如麻黃湯之麻黃，直走太陽氣分；桂枝湯之桂枝，直走太陽營分。蓋麻黃、桂枝為君者，即引也。雖其中有生薑、大棗，生薑為氣分之佐，大棗為營分之佐，非引經也。何今人凡藥鋪中不賣，須本家自備者，皆曰引子？甚至所加之引，與症不合，如痘科中既用蘆根，又用香菜，大熱赤疹，必用三春柳。每方必曰引加何物，不通已極，俗惡難醫。</p>

<h1>附一、半夏論</h1>
<p>半夏古法用生薑制，蓋生薑能製半夏之小毒，半夏、生薑，二者有相須之妙。近日肆中概用礬制，取其潔白好看，不適於用，斷不可從。</p>

<h1>附二、醫字論</h1>
<p>古云：醫者，意也。不通之至。醫豈可以意而為之哉？凡有巧思者，藝也，非意也。按《周禮》醫為醬屬，取其由蒸變而成之物，而又能蒸變人之脾胃也。醫士之名醫，取其自能蒸變而成學術，自能蒸變人之疾病由痛苦而平和。余益之以一言曰：醫者，易也。有不易之定理，有交易之變通，有變易之化工。</p>

<h1>附三、醫德論</h1>
<p>天下萬事，莫不成於才，莫不統於德。無才固不足以成德，無德以統才，則才為跋扈之才，實足以敗，斷無可成。有德者，必有不忍人之心。不忍人之心油然而出，必力學誠求其所謂才者。醫也，儒也，德為尚矣。</p>

<h1>附四、醫以明理為要論</h1>
<p>醫之為學，明道之一端，為塚宰屬官，所以佐相業之調和鼎鼎、燮理陰陽者也。奈後世高者為藝術，低者為餬口計，日趨日下。按《內經》以明理為要，方止有七。越人《難經》亦以明理為要，並無方藥。自唐以後，竟尚方術，遂有《千金方》《肘後方》，各家本草、方書，汗牛充棟，而醫道大壞。不明理者用毒藥，如未能操刀而使割，以致殺人無算。有宋起而救之，不明明理為要，乃有《和劑局方》之設。醫道至此，壞而愈壞矣。蓋以方救方，如以火救火，不至於燎原不止也。《局方》之設，將以前所有毒藥之方一概禁止，名之曰禁方，不準世用，而單行《局方》。不知《周禮》醫師掌醫之政令，聚毒藥以共醫事。若一以和劑為主，如甘草至和之藥，膨脹得之即死。五穀為日用之需，善而又善者也，熱病熱未退時，早食即死。能將藥之甘草並五穀悉禁之哉？此方書不足恃之明效大驗也。不明理者，雖飲食亦不能調，飲食亦能殺人。餘生十五子，死者九人，為不明理之婦人以飲食殺之者七人。明理者，雖毒藥亦應手而效。故醫必以明理為要。《中庸》謂明善而後可以誠身，擇善而後可以固執也。</p>
