<header data-type="book">
<h1>傷寒尋源</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>呂震名</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1850">公元1850年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第四冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521054">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>余既為呂君𣗪村作傳。從其子小𣗪茂才索君遺箸。得內經要論一卷。傷寒尋源三卷。受而讀之。因憶與君交念年。輒能彷彿君況。君治病之暇。好飲酒。善弈棋。余常過君。几上縱橫殘帙。一編爛然。則所箸傷寒尋源也。床頭越釀一甕。旁幾楸枰一奩。二弈友見客至。輒避去。窗半破。風吹有聲。短童發鬅鬙.侍側室中。懶不治。日惟孜孜箸書。是三卷。上下二卷皆成書。中卷詳諸證候。猶有未備。蓋未竟作也。君之驅使草木。如其弈下子。無一閒著。而其嗜醫。殆甚於其嗜酒。技也而進於道宜哉。夫三墳言道。書闕有間唐令列醫學付之執技之流。薦紳先生罕言之。去古日遠。說益淆雜。人命至重。可為寒心。君是書庶不背古亟為檢校以行於世。要論一卷。尚俟續刊。</p>
<p><u>咸豐甲寅長夏吳縣潘遵祁識。</u></p>

<h1>自序</h1>
<p>醫學始於內經。而仲景傷寒論。實為羽翼內經之書。內經闡發天人奧旨。非尋常能測其涯涘。仲景就人一身之表裡腑臟。推闡陰陽。搜抉病機。此以人道合天道。使學者有切實下手工夫。不止為傷寒立法也。而其書以傷寒命名者。蓋以病之最繁而善變者莫如傷寒。傷寒及雜證。總在六經上辨認。能解得六經辨證之法。雖繁劇如傷寒。尚不為多岐所眩。而雜症即一以貫之。故學醫者必從此問津。乃不迷於所行。惜其書散亡於兵燹之餘。經王叔和裒輯成帙。後之學者墨守叔和序例之說。以為凡傷寒之病。多從風寒得之。殊不知傷寒不必盡屬寒因。若風若濕若溫若熱。皆統轄於傷寒二字內。仲景大法井井。本有矩矱可循。特以序次錯綜。必待善悟者觸類旁通。方能得其神髓。淺嘗之輩。未經深求。於是執麻黃桂枝治風寒之成法。而概施之於溫熱病誤矣。及其既誤。遂謂仲景之法。宜於風寒不宜溫熱。於是談溫熱者接踵而起。補方造論。非無可採。然舍仲景而言溫熱。究屬一家之論。必仍向仲景討根源。而傷寒之面目始全。（僕）究心仲景書二十餘年。差有心得。因將仲景引而不發。言下躍如之旨。一一拈出。分為三編。首編辨明風寒濕溫熱源流。及六經種種辨證諸法。次將各證辨別疑似。疏為中編。後將制方精義。疏為下編。探歷聖之淵源。綜諸家之得失。理必求其至當。言匪涉於無稽。仲景自序有云。若能尋余所集。雖不能盡愈諸病。庶可以見病知源。爰名是編曰傷寒尋源。俾及門諸子得藉是以為讀仲景書之津梁。於醫事亦不無小補云。</p>
<p><u>道光三十年歲次庚戌冬日錢唐呂震名撰</u></p>

<h1>上集</h1>

<h2>傷寒正名</h2>
<p>萬病莫逃於傷寒。傷寒之祖。斷推仲景。而後人輒議仲景之書。詳於風寒。略於溫熱。予謂此非惟不知仲景。並亦不知傷寒。按仲景本素問及八十一難等書而作傷寒論。考難經云。傷寒有五。一曰中風。二曰傷寒。三曰濕溫。四曰溫病。五曰熱病。其所苦各不同形。既曰傷寒有五。則傷寒只屬病之總名。而五者之中。病又不專屬寒因。若風。若濕。若溫。若熱。同隸傷寒有五條下。仲景作書而以傷寒命名者。義取諸此。今從仲景原文。反覆互勘其實仲景大法。合之難經傷寒有五之例。若合符契。其法總從太陽病辨起。如所云太陽病發熱汗出惡風脈緩者。名為中風。太陽病。或已發熱。或未發熱。必惡寒體重嘔逆。脈陰陽俱緊者。名曰傷寒。太陽病發熱而渴。不惡寒者為溫病。太陽病關節疼痛而煩。脈沉而細者。此名濕痹。太陽中熱者暍是也。其人汗出惡寒身熱而渴也。以此分配難經傷寒有五之例。界劃分明。仲景傷寒論。此傷寒字即難經傷寒有五之傷寒。而傷寒類中專有一種太陽病。或已發熱。或未發熱。必惡寒體重嘔逆。脈陰陽俱緊者。獨名之曰傷寒。此外若風若濕若溫若熱。同屬傷寒之類而各異其名。欲識傷寒之病。須先定傷寒之名。語云名不正則言不順。故予急正其名以冠於篇首。</p>

<h2>論王叔和</h2>
<p>仲景傷寒論。本散亡之餘。王叔和編輯成帙。觀其序例云。搜採舊論。錄其對病真方。擬防世急。此非仲景原本可知矣。然則仲景之書。賴叔和而傳。叔和之名。亦賴仲景而傳。後之編次傷寒者不下數十家。徒相爭於篇次之間。紛如聚訟。究之吾輩讀書。苟能深明其義理。奚必相爭於篇目。獨其序例誠有可訾。前明方中行僅從削去。至國朝喻嘉言程郊倩始痛加貶駁。雖立言未免過激。然以余平心而論。叔和傳書之功。誠不可沒。其序例之可議者。內如所陳溫熱異氣。拉雜不清。至如以時論病。以日分經。與夫先汗後下之法。實與本論多相矛盾。反將仲景之圓機活法。說成呆相。予非敢輕詆前賢。乃沿此說者。其禍至今而未有已。故不得不為之辨。辨在後篇。</p>

<h2>闢泥四時論病之謬</h2>
<p>天有四時以布五運而分六氣。人身應之。則有六經以分主五行。人在氣交之中果能奉若天道。御氣調神。則寒暑溫涼。亦自循乎天地自然之令氣。何至於病。惟逆之而病生焉。則言病當窮乎人事之變。故仲景但就人身表裡腑臟上審其所犯者何證。即知六氣中之病屬何氣。六經中之病在何經。因其證之異同而病名斯定焉。其辨證之法。如同一太陽病而以證之有汗無汗。脈之浮緩浮緊。分別風與寒。又以口之渴與不渴。分別風寒與溫，同一渴而又以惡寒不惡寒。分別溫與熱。至於傳變之後。或出表。或入里。剖晰毫芒。隨證通變。又施種種誤治救逆之法。何等精細。何等圓活。今乃謂冬月中而即發者。名為正傷寒。春為溫。夏為熱。不惟仲景論中並無此語。且如執是說。則冬月中豈無患太陽病發熱而渴者乎。夏月中豈無患太陽病惡寒無汗者乎。將安所適從乎。豈一時之中。只許人生此一病。不許更生他病乎。此說實倡自叔和之序例。而疑團至今未破。故予亟打破此機關。為千百年來一掃魔障。</p>

<h2>闢泥日數分經之謬</h2>
<p>子謂傷寒有五。其辨證先從太陽病辨起。而病正有不必盡從太陽起者。且即從太陽起而亦有傳有不傳。仲景以病靜者為不傳。若傳胃者不復更傳。即傳經之中。亦不能泥定太陽之後。必傳陽明。有由太陽而徑傳少陽者。有由太陽而徑傳三陰者。有由太陽不傳陽明而傳太陽之府者。且傳府之中。有傳氣分者。有傳血分者。又有病不起於太陽。由陽明而太陽者。由少陽而太陽者。更有直中陰經者。有由陰而還返於陽者。有陰陽分傳者。有陽證似陰者。有陰證似陽者。種種變化。更僕難數。總不能以日數為拘。只宜在表裡腑臟上探消息。如一二日即見里證。斷無發表之理。五六日仍見表證。斷無攻裡之理。里證急於表證者。先治其里。後治其表。表證急於里證者。先治其表。後治其里。仲景論中朗若列眉。能解此活變之法。則先汗後下之邪說。更不煩言而知其謬矣。</p>

<h2>論陶節庵</h2>
<p>陶氏之學。盛行於世久矣。人謂仲景之學。得陶節庵而始彰。吾謂仲景之書。得陶節庵而遂廢。非苛論也。節庵畢生精神。致力於仲景傷寒論。非不費一番苦功。而卒為王叔和所掩。故其論傷寒仍指為冬月正病。以桂枝麻黃二方。專為冬月正傷寒說法。此外論溫論熱。仍按節氣論病。此仍沿序例之說。而於傷寒開手辨證功夫。尚未透徹。至其六經分證。牽入內經熱病法。與仲景傷寒法。一併砌入。混同無別。其論脈尤為可議。仲景識病大法。全憑脈證互參。方能諦實病因。論中辨脈平脈兩篇。精微圓妙。非寤寐神遊。焉能窺其奧窔。且其脈法之散見於六經篇中者。更當隨證體認。節庵乃謂但憑浮中沉三部。及指下之有力無力。分別表裡陰陽寒熱虛實。殊不知此僅持脈之大綱。惡足以盡病情之變。而其尤悖謬者。謂小柴胡湯可以通治溫疫時證。見熱甚合解毒湯。不須論脈。此病定一七。或二三七。自然汗出身涼而愈。信如此言。更不必辨其何經何證。並不必再辨浮中沉三部之脈。並不必辨其脈之有力無力。但用一小柴胡湯。聽其延久自愈。此說一開。病之輕者。延久始愈。病之重者。後救亦無及矣。乃此書偏盛行於後世者。皆由今人無不避難而趨易。得如此簡便之法。誰不樂從。而節庵自序。乃云後之同志。但須熟玩此書。不必集閒方而觀別論。是分明教人以不必復讀仲景書矣。試思仲景妙蘊。安能闡發得盡。縱日諄諄教人以宜學仲景。人猶畏難而思阻。今如集中所輯方論。即果搜剔無遺。亦只拾糟粕而遺神髓。何如汲汲直追仲景淵源。語云。取法乎上。僅得乎中。欲學傷寒。舍仲景其誰與歸。</p>

<h2>論吳又可</h2>
<p>吳又可撇開仲景而自作溫疫論。則似非仲景之徒者。而吾謂吳又可正深於仲景者也。仲景於風傷衛。寒傷營。傷風兼寒。傷寒兼風。尚不許混同施治。奚況溫病。又可易麻黃桂枝成法於病之初起。而立達原飲一方。誠可補仲景之未備。至其傳變之後。仍恪遵仲景成法。絲絲入扣。非枕籍仲景者。惡能解此。但書以溫疫命名。殊有未稱。溫病之中。有風溫。有濕溫。有新邪所傷。有伏邪為病。今論中所指三陽表證。而兼胸膈痞悶。心下脹滿。或腹中痛。或燥結便秘。或熱結旁流。或協熱下利。或嘔吐噁心。舌胎滿布如積粉而渴者。此確是今之濕溫病。又可之法。允為至當。喻嘉言謂濕溫即包疫而言。命名之義。當在乎此。然此特溫病中之一。而尚未該溫病之全。至於疫字之義。凡病長幼率相似者名曰疫。疫毒之最厲者。如大頭瘟。蝦蟆瘟。絞腸瘟。軟腳瘟。瓜瓤瘟。疙瘩瘟。種種危證。呼吸死生。另有治法。非達原飲一方。所能該括。且不獨陽毒之病為疫。即陰經之病亦能成疫。試以近事徵之。嘉慶年間。民患咽瘡者多。甚則下利。此少陰證也。道光之初。民病霍亂者多。甚則轉筋。此厥陰證也。皆疫也。仲景論中具有成法。依法治之。率多痊可。然則又可之書。非不足以輔翊仲景。予謂當易其名曰濕溫論。則名斯稱矣。</p>

<h2>諸家編次</h2>
<p>門人問曰。仲景傷寒論。固非完書。諸家編次。各一是非。當奉何為定本。答曰。此不能定。並亦不必定者也。仲景書當漢魏之交。久已散佚。脫不有叔和。今日安能復睹其書。叔和裒集舊論。自以序例冠於篇首。各篇之中。亦間有增入。仲景本論。逼真漢文筆法。叔和筆力。去仲景奚啻天淵。此就文義本屬可辨內如辨痙濕暍篇云。傷寒所致太陽病痙濕暍三種。宜應別論。以為與傷寒相似。故此見之。此一段便是叔和集論發端語氣。又如可吐可汗可下篇云。大法春宜吐。春夏宜發汗。秋宜下。此種斷非仲景話頭自喻嘉言而後。叔和序例。既加駁斥。而各篇中叔和綴入之條。諸家亦多有當作聖經。詳加詮註者。至於篇目序次。則古本已亡。又安能確指某條必在某條之下。此予所謂不能定者也。然而不能定者篇目也。其可定者。理也。法也。欲讀是書。先要使六經辨證之法。分得開。分得開。則一經有一經之定證。而不為旁議所撓。可以識病體之常。又要使六經辨證之法合得攏。合得攏。則此經有彼經之兼證。而不為疑似所惑。可以窮病情之變。此條之脈證有與彼條互見者。則當參酌以觀其通。此家之註釋有與彼家不合者。則當折衷以求其是。夫如是不拘何人所注之傷寒論。任彼節目之顛倒錯亂。而以吾定識定力。寤寐神遊。則正可因其參伍錯綜而悟出仲景當日之圓機活法。仲景之圓機活法既得。而吾心之圓機活法自生矣。特此詣難遽期之中智以下。困勉之功。惡可少哉。</p>

<h2>司天運氣</h2>
<p>司天運氣。仲景不言，非忽也。上古聖人。欲通天之紀。從地之理。以調民之氣。五運者即金木水火土運行之數。六氣者即寒暑燥濕風火臨御之化。因按十二辰紀歲以明其氣。太陽寒水。陽明燥金。少陽相火。太陰濕土。少陰君火。厥陰風木。子午之歲。上少陰火。下陽明金丑未之歲。上太陰土。下太陽水。寅申之歲。上少陽相火。下厥陰木。卯酉之歲。上陽明金。下少陰火。辰戌之歲。上太陽水。下太陰土。巳亥之歲。上厥陰木。下少陽相火。此天地之氣。運行旋轉。以是綰定上下。分別司天在泉。其次可按歲而紀。然上下旋轉。雖有定位。而其中所乘之運。又按歲上所臨之天干。分別異運。且六氣皆有左右間。一歲之間。分別循環作主。此外又有天符歲會三命之不齊。南政北政之易位。與夫氣之勝與不勝。脈之應與不應。以及初終勝復。氣至先後。自非通天徹地參贊位育之聖人。焉能知化窮神。洞燭無間。乃今人開口輒言司天運氣。置一切精義於不講。但言本年何氣司天。是年之民。當生何病。此種耳食之談。殊堪噴飯。且必按司天運氣以言民病。則歲不一氣。民不一病。轉使學者無著實下手工夫。故仲景但就人身上三陰三陽。諦實病因。而天之五運六氣。即已範圍於莫能外。經云善言天者必有驗於人。內經所言天人合一之學。仲景所言盡人合天之學。醫之有仲景。猶儒之有孔子。試觀四子書中所言皆日用倫常之事。雖極參天地贊化育之功能。總在倫常日用上做起。端木子曰。夫子之文章。可得而聞也。夫子之言性與天道。不可得而聞也。此誠悟道之言也。</p>

<h2>分別陰陽</h2>
<p>天地之陰陽。數之可十。推之可百。數之可千。推之可萬。莫窺其始，孰既其終。其切於人身者。則內經言人之陰陽。則外為陽。內為陰。言人身之陰陽。則背為陽。腹為陰。言人身之臟腑中陰陽。則臟者為陰。腑者為陽。肝心脾肺腎五臟皆為陰。膽胃大腸小腸膀胱三焦六腑皆為陽。此言人身上分陰分陽之定位。然有陰中之陽有陰中之陰。有陽中之陽有陽中之陰。若背為陽。陽中之陽。心也。陽中之陰。肺也。腹為陰。陰中之陰。腎也。陰中之陽。肝也。陰中之至陰。脾也。按五臟皆為陰。而其表裡內外雌雄相輸應者。仍不離陰陽互根之義。由是則六腑概可推矣。要之陰在內。陽之守也。陽在外。陰之使也。陰勝則陽病。故陽病治陰。陽勝則陰病。故陰病治陽。陽勝則熱。陰勝則寒者。病體之常也。重寒則熱。重熱則寒者。病情之變也。此軒岐之宗旨。而仲景當日平脈辨證。分別三陰三陽之治。其大旨不越乎此然泛言陰陽。無從把握其下手工夫。先要在表裡臟腑上。分別清楚。仲景辨脈法有四語。足以蔽之。曰浮為在表。沉為在裡。數為在腑。遲為在臟。此大綱也。從此悟入。思過半矣。</p>

<h2>十二經離合</h2>
<p>內經金匱真言論。以肝心脾肺腎五臟為陰。膽胃大腸小腸膀胱三焦六腑為陽。至靈蘭秘典論。以五臟六腑合膻中為十二官。臟者為陰。足太陰脾。手太陰肺。足少陰腎。手少陰心。足厥陰肝。手厥陰膻中。總之陰也者。藏精而起亟者也。腑者為陽。足太陽膀胱。手太陽小腸足陽明胃。手陽明大腸。足少陽膽。手少陽三焦。總之陽也者。衛外而為固者也。然陰陽必相維附。故臟與腑相為表裡。脾與胃為表裡。同從土化也。肺與大腸為表裡。同從金化也。腎與膀胱為表裡。同從水化也。肝與膽為表裡。同從木化也。心與小腸相表裡。同從火化也。膻中與三焦為表裡。乃手少陰之別脈。攝行君火者也。此三陰三陽之定位。至其離合之數。則更合前後上下內外互為環抱。三陽之離合。太陽為開。陽明為闔。少陽為樞。三陰之離合。太陰為開。厥陰為闔。少陰為樞。內經陰陽離合論。可覆按也。不觀陰陽之所以分。無以識病體之常。不觀陰陽之所以合。無以達病情之變。故善診者察色按脈。分別陰陽。陽病治陰。陰病治陽。定其血氣。各守其鄉。其旨遠矣。</p>

<h2>察脈大法</h2>
<p>自王叔和脈經而後。宋之崔嘉彥。明之李時珍。其脈訣皆盛行於世。然皆繁瑣莫得其要領。仲景脈法。有最要一字訣曰緩。仲景云。陽脈浮大而濡。陰脈浮大而濡。陰脈與陽脈同等者。此名曰緩。緩則不疾不徐。以周行於營衛之間。無太過。亦無不及。因推及太過之脈。則若衛氣盛名曰高。營氣盛名曰章。高章相搏名曰綱。不及之脈。則若衛氣弱名曰惵。營氣弱名曰卑。惵卑相搏名曰損。此於緩脈外別著此二條。以明有餘不足之脈態。然遲與緩亦微有別。緩則衛氣和。遲則營氣和。脈緩而遲。剛柔相得。此名曰強。若緩遲相搏。即名曰沉。凡診本脈及病脈。總以相得者為平脈。相搏處認病脈。此是仲景當日言下宗旨。至於表裡腑臟。固從浮沉遲數上看。然合之高章卑惵。互相體認。則陰陽之間。虛實判焉。故以大浮數動滑列為陽脈。沉澀弱弦微列為陰脈。由是引伸觸類。則若芤若革若牢之屬。種種不一其名。俱從相搏處分別脈狀。以審病因。更以呼吸按之。則若代若結若促之類。亦即從此推出。後世脈訣。皆宗此分門別類。然此中參伍錯綜之妙。具有徹上徹下徹表徹里工夫。使非從仲景經文。反覆討論一番。惡能通其精微哉。</p>

<h2>寸口脈論</h2>
<p>五臟六腑死生吉凶之法。獨取決於寸口。內經脈法。以左寸屬心。右寸屬肺。而難經云。寸口者脈之大會。手太陰之脈動也。手太陰肺之經也。其獨責在肺者何也。蓋以左寸屬心。心為一身營氣之主。右寸屬肺。肺為一身衛氣之主。此位之分寄者也。然營衛之氣。全賴穀氣以為輸布。穀氣入胃以傳於肺。五臟六腑。皆以受氣。其清者為營。濁者為衛。營行脈中。衛行脈外。營衛行陽二十五度。行陰二十五度為一周。五十度復會於手太陰。人一呼一吸。皆出於肺。以此為呼吸之門。而營衛之主。實兩而一者也。仲景於寸口脈。先示以十六字金針。曰浮為在表。沉為在裡。數為在腑。遲為在臟。夫以人身為論。則背為陽。腹為陰。外為陽。內為陰。腑為陽。臟為陰。以脈象而論。則寸為陽。尺為陰。浮為陽。沉為陰。數為陽。遲為陰。寸本屬陽。而何以並得為藏陰之診。故仲景復申言之曰。假令脈遲。故知在臟也。由此觀之。不特陽經之病。宜取決於寸口。即病之由陽入陰。或直入陰經者。寸口之診。皆不容忽矣。有此十六字以為大綱。此外之相搏而成病脈者。即從此引伸觸類。以審病因之所在。此在平日熟玩工夫。</p>

<h2>趺陽少陰脈論</h2>
<p>寸口脈為一身營衛之主。設非胃氣。何以上輸津液而分布營衛。趺陽者。正陽也。居中土為五行之母。是持脈必以胃氣為本。少陰屬腎。腎為水臟。與三焦合為一氣。人身之真水真火。根蒂於此。水賴土製。少陰必得趺陽鎮伏。而後能交合三焦。蒸布津液。經曰少陰負趺陽者順也。趺陽以候胃氣。為中焦之主。少陰以候腎氣。為下焦之主。實與寸口脈分配上中下三部。按叔和脈訣。以衝陽穴在足跗上五寸。骨間動脈上去陷谷三寸者。為趺陽之診。然脈法未有按足之明文。且本論明言脈有三部。陰陽相乘。又何以言寸口而不及關尺。則知兩關主中焦。脾胃之所司。即趺陽之診。兩尺主下焦。腎之所司。即少陰之診。趺陽診在關。以右統左。少陰診在尺。以左統右。亦猶寸口脈之專主手太陰也。欲明趺陽少陰之診。還在三部內推詳。</p>

<h2>脈分陰陽死生論</h2>
<p>門人問曰。仲景云。陰病見陽脈者生。陽病見陰脈者死。世遂謂仲景之書。專主扶陽而抑陰。然與答曰。此陰陽二字。只須就表裡虛實上講。凡邪之中人。在表為輕。在裡為重。出表為順。入里為逆。陰病見陽脈。則里邪有出表之機。故主生。陽病見陰脈。則表邪有陷里之勢。故主死。大浮動數滑五者為陽脈。陽脈主表主實。陰病見陽脈。則正復而邪自退。病雖重可生。沉澀弱弦微五者為陰脈。陰脈屬裡屬虛。陽病見陰脈。則正衰而邪孰御。病雖輕亦死。陽病本主生。然見陰脈。則生中伏有死機。陰病本主死。然見陰脈則死中具有生路。兩見字即中庸莫見乎隱。莫顯乎微之義。臨病之工。可不知戒懼乎。至於扶陽抑陰。乃是元明以來相沿之陋說。易言一陰一陽之謂道。陽統乎陰。然而陽亢有悔。陰承乎陽。然而陰疑必戰。故經云。陰平陽秘。精神乃治。所謂病者。悉由乎陰陽之偏也。仲景治病諸法。第就其陰陽之偏勝者。劑其偏而病自已。故有時陽氣亢極。但用純陰之劑。不雜一毫陽藥。非毗於陰也。育陰正以劑陽。有時陰氣盛極。但用純陽之劑。不雜一毫陰藥。非毗於陽也。扶陽正以劑陰。其有陰陽氣雖偏勝。而尚未至於偏極者。陽藥方中。必少加陰藥以存津。陰藥方中。必少加陽藥以化氣。雖有時寒熱互投。補瀉兼進。似乎處方之甚雜。其實原乎陰陽互根之理。劑其偏勝以協於中。人受中以生。聖人之道。中道也。後世聖道不明。流為曲說。因之丹溪有陰常不足陽常有餘之論。景岳闢丹溪。而又為陽常不足陰常有餘之論。則學者漫無適從而惑滋甚矣。內經生氣通天論。明言生之氣本於陰陽。其論司天運氣治諸勝復之法。則但曰。寒者熱之。熱者寒之。溫者清之。清者溫之。無問其數。以平為期。是明言陰陽貴得其平矣。仲景之學。直接軒岐。歷聖相傳之道。不外一中。偏陰偏陽。總屬邪說。讀仲景書。當在中字上著眼。</p>

<h2>仲景六經辨證與內經熱病論互異</h2>
<p>仲景六經辨證之法。與內經不盡相合。余嘗深思之而不得其解。及讀程郊倩傷寒後條辨。其貶駁叔和序例內。有一段入理深譚。殊為可採。內經云。熱病者皆傷寒之類也。著一類字。見熱病特傷寒中之一類耳。然類而不類。亦不類而類。蓋同此六經。而病因之寒熱有不同。如一日巨陽受之。頭項痛腰脊強。類也。其不類者。惡寒與不惡寒也。二日陽明受之。身熱目痛鼻乾不得眠。類也。其不類者。傷寒入胃。熱病不入胃。入胃則不傳故也。三日少陽受之。胸脅痛而耳聾。類也。其不類者。傷寒有往來寒熱。熱病但有半里之熱。而無半表之寒也。傷寒三陰證。有寒熱錯雜之不齊。熱病則但有熱而無寒。四日太陰受之。則腹滿嗌乾。全不類。傷寒腹滿吐利食不下之太陰也。五日少陰受之。則口燥舌乾而渴。雖類傷寒少陰負趺陽之一證。而總不類。傷寒脈微細但欲寐之少陰也。六日厥陰受之。則煩滿而囊縮。在傷寒煩或有之。而卻不類。傷寒食不下下即吐蛔之厥陰也。似此剖晰精詳。可稱千古隻眼。而吾更謂內經之言日數者。使人知其常。仲景之不言日數者。欲人通其變。學傷寒家。先須打破此疑團。於仲景法始有把握矣。</p>

<h2>辨中風一</h2>
<p>仲景書以傷寒命名。而首列中風。內經云。風者百病之始也。清靜則肉腠閉拒。雖有大風苛毒。弗之能害。是則中風之為病。多由於腠理之疏。而後風邪得以易襲。故本論云。太陽中風。陽浮而陰弱。陽浮者熱自發。陰弱者汗自出。嗇嗇惡寒。淅淅惡風。翕翕發熱。鼻鳴乾嘔者。桂枝湯主之。所言太陽中風之病狀。皆就皮毛上形容。邪本由外而入。亟當驅之外出。但腠理本疏。又不可大發其汗。故仲景桂枝湯之取義。但主調和營衛以解肌表。取其漐漐微似有汗。不可令如水流漓。方中芍藥甘棗。主固營氣以托出衛邪。使風邪不敢內入而外出。然後桂枝合生姜。得建驅邪之續。今人不識此義。改用一派風藥。迫之使汗。甚或加辛熱之藥。擾動營血。其不致召變逆而成危證者鮮矣。醫者可不慎之於始歟。</p>

<h2>辨中風二</h2>
<p>門人問曰。金匱所稱中風歷節病。與傷寒論中之中風何以異。答曰。傷寒例中之中風。其病先犯太陽。逗留於肌表之間。治不如法。傳變之後。方始入里。若金匱所指中風。外不見頭痛發熱諸表證。總因絡脈空虛。賊邪不瀉。正氣引邪。喎僻不遂。邪在於絡。肌膚不仁。邪在於經。即重不勝。此猶淺者也。若邪入於腑。即不識人。邪入於臟。舌即難言。口吐涎。則入之深矣。同一風因。而其間深淺緩急。迥乎不同。以金匱所指。不從太陽病起。不待傳變。故不入傷寒之例。</p>

<h2>辨中風三</h2>
<p>門人問曰。世俗所稱傷風病。又何以別之。答曰。此病頭痛惡寒發熱。與傷寒例中之中風同。以其咳嗽鼻塞涕自出。是由皮毛以入於肺。與鬲間痰飲相合。並不傳變。然人每視為尋常感冒。病家醫家。皆從忽略。殊不知此病一經誤治。久而不愈。肺金立敗。肺敗則腎水之子失蔭。而腎亦與俱敗。且本氣既傷。日盜脾胃母氣。以供其挹取。久之而中土亦敗。其始不覺。其繼莫救者。比比皆然。徐靈胎曰。傷風之疾。由皮毛以入於肺。肺為嬌臟。寒熱皆所不宜。太寒則邪氣凝而不出。太熱則火爍金而動血。太潤則生痰飲太燥則耗精液。太泄則汗出而陽虛。太澀則氣閉而邪結。並有視為微疾。不避風寒。不慎飲食。經年累月。病機日深。或成血症。或成肺痿。或成哮喘。或成怯弱。誤治之害。不可勝數。至哉言也。</p>

<h2>辨傷寒一</h2>
<p>仲景書以傷寒命名。此傷寒乃外感病之統名也。而傷寒類中。專有一種太陽病。或已發熱。或未發熱。必惡寒體重嘔逆。脈陰陽俱緊者。獨名之曰傷寒。傷寒與中風。同見頭項強痛惡寒之太陽病。同一浮脈。最易牽混。最宜分別。脈浮而緩。汗自出者。此屬風因。脈浮而緊。汗不出者。此屬寒因。風則傷衛。寒則傷營。營衛界限綦嚴。絲毫不容錯認。而叔和序例。謂凡傷寒之病。多從風寒得之。風與寒尚混同無別。奚況溫熱耶。又謂冬時嚴寒。中而即病者。名曰傷寒。無論仲景當日未有此說。即指定冬時發者始為正傷寒。設當嚴寒之時。遇有頭痛發熱之太陽病。或其人脈緩汗自出。或但發熱不惡寒而渴者。將概從仲景大發其汗之例。其不誤人者幾希。然則從時乎。從證乎。惑滋甚矣。要之仲景之圓機活法。初未嘗泥定四時言病。但教人從平脈辨證上認取。太陽病無論已未發熱。必惡寒體重嘔逆脈陰陽俱緊者。即此便是真正寒傷營病。似此辨得真確。自不得以風混寒。並不至以熱亂寒矣。</p>

<h2>辨傷寒二</h2>
<p>傷寒病有同一發熱。其邪不在太陽而直入陰經者。按三陰經中。惟少陰一經。最易與太陽病牽混。以太陽膀胱。與少陰腎。一臟一腑。相為表裡。其在陰精素虛之人。寒邪不俟由表傳經。徑從膀胱之腑。襲入腎臟者有之矣。故仲景於大青龍湯一證。傷寒脈浮緩。身不疼。但重乍有輕時。必辨其無少陰證。方予以大發其汗。若誤施之少陰病。則腎中真陽。隨汗飛騰。可不慎歟。太陽傷寒。其脈浮緊。或兼風因。間有浮緩。若少陰病。其脈必沉而微細。仲景於少陰病。始得之。反發熱。脈沉者。特有麻黃附子細辛湯之制。蓋必以附子鎮攝腎中真陽。而後麻黃細辛始得引少陰之邪驅之出表。其有寒邪初犯太陽。以次傳經。漸入三陰者。又多寒熱錯雜之證。不必盡屬寒因。更有種種救逆諸法。或徑從里解。或還從表解。隨證施治。又各不同矣。若寒邪直入三陰。絕不見一毫表證者。其證或吐利。或厥冷。或煩躁。種種危候。死生之機。只爭俄頃。則當急用回陽猛劑。直破重扃。收復真陽。迅掃陰霾。稍緩須臾。即屬不救。仲景大法。森森俱列。誰謂傷寒之病。可概從表散哉。</p>

<h2>辨溫病一</h2>
<p>溫病之於風寒。在太陽病初起時。已自不同。仲景於傷寒中風而外。明揭出太陽病發熱而渴。不惡寒者為溫病。太陽中風。嗇嗇惡寒。翕翕發熱。太陽傷寒。或已發熱。或未發熱。必惡寒。太陽溫病。但發熱。不惡寒。而其辨證最要之訣。又全在渴之一字。蓋風寒之邪。由外而入。必待傳變后里熱熾盛。方始口渴。若溫病初起便渴。此在太陽病時。早與裡熱相合。消爍津液。不即善治。真陰之亡。可立而待。且風寒之病。或微汗。或大汗。或戰汗。病隨汗解。溫病雖汗不解。若汗出熱不退而脈反躁盛者。內經即決為死證。陰精亡故也。故凡治溫病者。當以陰精為至寶。此自軒岐以來一脈相傳之宗旨。仲景既揭明溫病。苦無專方。後人以意造方。思補仲景之缺。究未可為典要。以予度之。仲景於中風病。以風為陽邪衛氣易泄。尚不取大發其汗。則溫病之不宜發汗。此理斷然莫易。內經云。溫者清之。意者當以清裡為主。而微兼解肌可乎。</p>

<h2>辨溫病二</h2>
<p>仲景既言太陽病發熱而渴不惡寒為溫病。更剔出風溫之為病。而特申發汗之禁。是有二說焉。溫邪內發。誤責其汗。衛氣既疏。風邪又襲。兩陽相合。身反灼熱。此一說也。溫邪內伏。少陰既病。腎精不藏。內風易動由里出表。汗出之後。身乃灼熱。此又一說也。二說可以並存。而其不宜發汗則一也。余按溫之為病。本有新邪伏邪之不同。新邪者。內熱本郁。適與時令之溫邪相感召。身乃灼熱。此病之兼內外因者。伏邪者。陰分自病。風自內生。雖見表熱。其病全屬內因。而絕不關外因。若發汗後而身反灼熱者。不惟陽脈本浮。即陰津與汗俱泄。陰脈亦浮。故脈陰陽俱浮。若自汗出。身重。多眠睡。息必鼾。語言難出。何一非津傷之象。更逆之以誤下。則陰虛重泄其陰。逆之以誤火。則陽亢益擾其陽。一誤再誤。不至促命期不止。仲景禁例。如此森嚴。能知其所禁而治法可微會矣。然則治溫病者。亦當於未發汗之前。詳審病因。慎勿誤治焉可矣。</p>

<h2>辨溫病三</h2>
<p>門人問曰。內經言冬傷於寒。春必病溫。又言冬不藏精。春必病溫。仲景但言溫病。並未指明春溫。溫病果專屬春時發乎。答曰。冬三月此謂閉臟。古聖人順冬氣以養臟。使志若伏若匿。若有私意。若已有得。去寒就溫。無泄皮膚。使氣亟奪。此養臟之道。預為來春奉生地步。故月令先王以至日閉關。商旅不行。後不省方。誠慎之也。冬傷於寒者。以無固密居室之功。致泄皮膚而寒氣內薄。然當其時不即病。感春月之溫氣始發。肌膚乃陽明胃經之所主。寒毒藏於肌膚。陽明經中久郁之邪。一旦發出而外達於太陽。是由陽明而太陽。不盡由太陽而陽明少陽。故與風寒之邪由表入里者。治法不同。然此猶病溫之輕者。若冬不藏精之溫病。則更不守閉臟之令。數犯房室。其人腎水先虧。一遇溫邪感觸。乘虛直入。遂有勃然不可御之勢。此邪往往直入少陰。更不得以太陽論治。大凡冬傷於寒之溫病。病在太陽。即當急存胃中之津液。冬不藏精之溫病。病入少陰。尤當急顧腎中之津液。至謂病溫必在春時。則四時之中。非其時有其氣者。當亦不免。即如內經言秋傷於濕。冬生咳嗽。豈咳嗽必在冬時耶。故仲景大法。斷不泥四時言病也。</p>

<h2>辨溫病四</h2>
<p>門人問曰。有病溫而反宜用溫藥愈者。何也。答曰。此正仲景所指伏氣之為病。仲景云。伏氣之病。當須脈之。若脈微弱者。當喉中痛。似傷。非喉痹也。病人云。實喉中痛。雖爾。今復欲下利。按喉痹一證。多由溫邪鬱結三陽。宜按陽經論治。今咽中雖痛。似傷而非真傷。又脈見微弱。則病不在太陽陽明而在少陰。冬不藏精之人。少陰腎臟。先已自病。少陰之脈夾咽。故為咽痛。陽僭於上。陰亦無以自固。故雖咽痛。熱必復作下利。咽痛復下利。此為少陰證。若誤作喉痹而以陽經論治。亡可立待矣。更有身體灼熱。絕。似陽經表證。而脈見微弱且多雜以少陰證者。是內挾真寒。外顯假熱。誤進寒涼。即速其斃。凡此皆當急溫之證。仲景大法。森森俱列。同一病溫。而陰陽寒熱。判然不同。藉非脈法辨別真確。毫釐千里。幾何不為疑似所惑哉。</p>

<h2>辨濕溫一</h2>
<p>仲景論濕病。未嘗明言濕溫。然濕溫之病狀。可即仲景論中。比類得之。王叔和於仲景傷寒論。剔出痙濕暍三種以為宜應別論。其於濕病首列濕痹。即從太陽辨證。曰太陽病關節疼痛而煩。脈沉而細者。此名濕痹。則是濕證中同有頭項強痛惡寒之太陽病。其類於傷寒者以此。然濕痹之病其人小便不利。大便反快。故當利小便。使濕邪從太陽之腑而解。是濕也。而不必其兼溫也。又云。濕家之為病。一身盡疼。發熱。身色如似熏黃。此又示人以諦實濕病之法。然濕病多端。亦不必盡屬兼溫。因思仲景已分明揭出太陽病發熱而渴不惡寒者為溫病。以所言種種濕證。與此條之溫病互勘。則濕溫之病狀。可得而言矣。濕溫初起。所見之太陽病。頭痛。腰痛。骨節煩痛。與太陽傷寒同。以濕病本主身疼也。發熱。汗出。惡風。與太陽中風同。以溫邪本易汗出也。但風寒之邪。由表入里。濕溫之邪。由里出表。故當太陽病初起時。其蒸郁之氣。即已彌布三焦。故或往來寒熱。胸膈痞滿。嘔吐。不欲食。或腹中痛。不大便。或下利稀臭水。表裡之病。往往一時並見。以上各證。不必悉具。必兼口渴舌上胎者。此屬濕溫之定證。又濕病脈多沉細。濕既兼溫。脈不盡沉。溫病脈浮。溫復挾濕。其脈又不盡浮。不浮不沉之間。其中候必數。以數之甚與不甚。別邪之輕重。病之緩急。合此脈證互參。始知仲景不言濕溫。而濕溫之脈證在其中。濕溫之治法。即在其中矣。讀仲景書。當知比類。不知比類。即風寒之顯然者，尚且目眩。奚況濕溫哉。</p>

<h2>辨濕溫二</h2>
<p>門人問曰。夫子本仲景法而言濕溫之為病。既可比類以通其義矣。然仲景言濕病曰風濕。曰寒濕。此顯然可稽者。不識治法可與濕溫相通否。答曰。此同一濕病而治法判然不同。今且與子先論風濕。仲景言風濕相搏。一身盡疼痛。其稍輕者。身體煩疼。不能自轉側。重則骨節煩疼。掣痛不得屈伸。近則痛劇。或身微腫。甚至汗出短氣。小便不利。惡風不欲去衣。此其證雖有輕重不同。總由風濕中入關節。浸淫於皮膚筋骨之間。並無里邪。故仲景於風濕相搏證。特著出不嘔不渴四字。以明與濕溫有別。風濕相搏之證。法當汗出而愈。但大發其汗。風氣去。濕氣在。只取微微似欲汗出者。此為風濕俱去。閱仲景方。主用術以理脾勝濕。更藉附子之大力。迅走衛外。追風逐濕。絕不雜一毫風藥。自得微汗而解。此與中風病之主用桂枝。必賴芍藥甘棗。和營分以托出衛邪者同義。設以此等劑而誤施之既渴且嘔之濕溫病。不立速其斃者幾希。又濕家之為病。身色如似熏黃。發黃之證。不惟濕熱已也。寒濕在裡。亦能發黃。仲景有不可下之戒。以其別於濕溫病也。而曰當從寒濕中求之。則當以溫藥祛寒勝濕不言可知矣。子欲知濕溫。當知濕證中又各有表裡寒溫之不同。能辨於其似。則濕溫之真面目始見。欲知濕溫之別於風濕寒濕。當先審其口之渴與不渴。在他證皆可或有或無。斷未有溫邪內伏。而口不渴者。此要訣也。</p>

<h2>辨濕溫三</h2>
<p>門人問曰。仲景言太陽病發熱而渴不惡寒者為溫病。濕症兼溫。以渴辨證矣。然太陽中暍。其初起亦汗出而渴。與濕溫之渴。又何以別之。答曰。此當以舌上胎為辨。凡熱邪之在經者。口雖渴。舌上無胎。且渴能引飲。濕溫之病。陽明胃腑。先為濕困。內伏之溫邪。被濕邪郁遏。不能遽出於陽經。故當濕溫病初起之時。雖渴不能引飲。必待傳變之後。邪入於胃。而成陽明可攻之證。方大渴引飲。故仲景云。濕家病。舌上如胎者。以丹田有熱。胸中有寒。渴欲飲水而不得飲。則口燥煩也。此一段文字。雖未明言濕溫恰確是濕溫初起之候。仲景於此證雖有下早則噦之禁。若邪已入胃大渴引飲而成陽明可攻之證。則此時下不宜遲。又仲景言外之意矣。而謂仲景書中無從窺濕溫真面目者。彼其人實未窺仲景藩籬。惡足與言治病哉。</p>

<h2>辨濕溫四</h2>
<p>門人問曰。夫子本仲景法而勘破濕溫之源流。可謂詳且盡矣。究之主治若何。願並明之。答曰。欲知其治。當先明其禁。予從仲景書推廣其義。按仲景言濕家不可發汗。又溫病不宜發汗。若見頭痛發熱之太陽病而妄發其汗。卒之汗出熱不退。且津液內奪。里邪愈錮。變證蜂起。此首禁也。濕溫病一經傳胃。便當急下以存陰。切不可誤信後人下不厭遲之謬說。若當初起之時。全是一團蒸郁之氣。未傳到胃。遽予妄下。轉致壅遏。胃氣無由輸邪外泄。此二禁也。燥能勝濕。此理之常。今濕邪又兼溫邪。若純用香燥。破氣立致。劫津化熱。此三禁也。溫者清之。亦理之常。今溫邪又兼濕邪。若純用寒涼直折。轉致助濕壅邪。此四禁也。濕痹之病。可利小便。若兼溫邪。全藉內中津液。足勝病氣。病雖劇可治。若用苓澤等滲泄之劑。強責其小便。則有著之邪。安能從膀胱宣泄。一經傳變。內外灼熱。真陰隨涸。此五禁也。溫邪內伏。與濕交蒸。熱淫之氣。上蒙清竊。往往病起。即見昏譫。但當逐去其邪。則神識自清。若遽指為熱入心營。遂予犀角牛黃之屬。是謂誅伐無過。究之膈間之邪。分毫不動。徒擾營血。反致引邪深入。立召斑狂喘厥諸變。此六禁也。凡此皆濕溫病初起之禁例。至於傳變之後。仍當按仲景種種救逆諸法。分別施治。然則初起之時。汗之不可。下之又不可。燥之不可。清之又不可。利之不可。開之又不可。果何從著手耶。則惟化濕之中。佐以清溫。其庶幾乎。</p>

<h2>辨濕溫五</h2>
<p>門人又問曰。夫子向言吳又可溫疫論。其所列溫疫各證。即今之濕溫病。今言濕溫初起治法。但當於化濕之中。佐以清溫。則吳氏達原飲。當必有合。而今人每訾吳氏為偏於用下。夫子亦言濕溫初起。不宜妄下。若吳氏之書。其不能無弊與。答曰。吳又可覷破此等證。與風寒之邪。由外而入者不同。其所定達原飲一方。厚朴檳榔草果。破結以化濕。知母黃芩芍藥甘草。和陰以清溫。當時服之者稱為仙方。然吳氏目此病為溫疫。指為異氣所致。未嘗明言濕溫。至喻嘉言辨明溫疫。謂濕溫即包疫而言。今以吳氏所列種種各證與今病相參。始知其所指溫疫。即今之濕溫病。此則無心暗合。至於傳變之後。仍不離仲景種種救逆諸法。故吾謂吳氏立論。雖似撇開仲景。反足為仲景之功臣。至濕家病。仲景本有下早之禁。而吳氏亦有邪未入胃不宜妄下之戒。若入胃之後。不予以急下大下。則津液立涸。且風寒之邪傳入陽明。而成胃實可攻之證。一下即解。濕溫系黏著之邪多有下之未盡。仍須再下者。此實病機之使然。而不得議其偏於用下也。倘不傳入胃。便不得妄下。凡風寒之種種傳變。濕溫病皆得有之。並有轉屬寒證。宜用溫藥而愈者。此又吳氏論中之所未及。亟當從仲景追尋淵源矣。</p>

<h2>辨熱病一</h2>
<p>劉河間闡發素問元機。敍熱病凡三十有三證。此泛言熱因之病機。而傷寒例中所稱之熱病。卻不繫此。此亦猶傷寒例中之中風。不與金匱中風歷節病一例看者同義。凡風寒之病。一經傳變之後。大率轉成熱證。其最難辨者。莫如太陽病初起時。此傷寒例中之熱病。卻要在初見頭痛項強惡寒發熱之太陽病時辨起。按仲景云。太陽中熱者暍是也。其人汗出惡寒身熱而渴也。仲景分明指此為暍病。則合之內經熱病論。所云先夏至日為病溫。後夏至日為病暑者。即從此例矣。同一太陽病。溫病渴而不惡寒。熱病渴而惡寒。中風汗出而不渴。熱病汗出而渴。傷寒不渴而惡寒無汗。熱病汗出惡寒而渴。仲景辨證。如此明確。其主治不與風寒溫濕同法。又可推矣。蓋熱則傷寒。故反惡寒。熱則耗津。故見口渴。至於汗出身熱。罔非陽邪怫鬱之狀。金匱明設人參白虎湯之制。取其益氣生津。滌除煩熱。此又顯示人以可循之矩矱。後世之用六一散。即祖此意。設遇此等病而妄行解肌發汗。其不致貽誤者幾希。誰謂同一頭項強痛惡寒之太陽病。而可不辨之於微哉。</p>

<h2>辨熱病二</h2>
<p>問曰。病熱而反惡寒者。何也。答曰。此義內經明言之。經云。惡寒戰慄者。皆屬於熱。又云禁慄如喪神守。皆屬於火。故河間云。病熱甚而反覺其寒。此為病熱。實非寒也。夫火鬱於內。逼陰向外。陽盛拒陰。往往見外寒之證。且惡寒而渴。自與中風傷寒之惡寒不同。但當直徹其熱。則惡寒之表證自罷。又難經云。熱病之脈。陰陽俱浮。浮之而滑。沉之散澀。此病機之常。然以今人當夏月盛暑。或坐臥當風。或恣啖生冷。內熱被外寒所束。熱益鬱而不得泄。因反病熱。故仲景於太陽中暍。別出脈弦細芤遲脈微弱兩條。以盡病情之變。此又仲景當日之圓機活法。以牖後人臨症之靈心善悟。遇此等證。便不宜用寒涼直折。後賢治夏月暑病。有用大順散。香薷飲者。正自此義。且內經云。人傷於寒。則為病熱。正惟熱病中亦見頭項強痛惡寒之太陽病。故得類於傷寒之例。夫上古聖人。夏三月養長之道。夜臥早起。無厭於日。使氣得泄。若所受在外。熱固欲其外泄。不欲其內壅也。旨深哉。</p>

<h2>太陽問答一</h2>
<p>問曰。何以識為太陽病。答曰。太陽之為病脈浮。頭項強痛而惡寒。凡論中所稱為太陽病者。即指此脈此證而言。假如病家云。苦頭項強痛惡寒。診之脈浮。此即太陽病。便當察其身熱之微與甚。視其有汗無汗。若身熱汗自出。脈浮而緩者。此太陽中風證。或未發熱。或已發熱。無汗而喘。脈浮而緊者。此太陽傷寒證。又如病家云。苦頭項強痛發熱。問之。不惡寒。反渴者。此屬溫病。若視之舌上胎。一身盡疼。身色如似熏黃者。此屬濕溫。又如病家云。苦頭項強痛惡寒。視之汗出身熱而渴者。此屬熱病。凡此五者。乃太陽病初起平脈辨證之大綱。然又有傷風兼寒。傷寒兼風。或風兼溫。或風兼濕。或寒兼濕。或風兼熱。甚或寒熱錯雜。皆從此定證定脈。參伍錯綜以觀其通。太陽一經。乃傷寒家開手工夫。能從此處諦實病因。則投劑悉中肯綮。手到病除。更無傳變之足言矣。學傷寒家。首宜識此。</p>

<h2>太陽問答二</h2>
<p>問曰。太陽病主頭項強痛惡寒者何義。答曰。太陽之脈。起於目內眥。上額交顛。從顛入絡腦。還出別下項。連風腑。循肩膊。內俠脊。抵腰中。故頭項強痛惡寒。是太陽病必有之證。仲景特挈此為提綱。此外或已發熱或未發熱。或體重腰痛。或自汗。或無汗。皆太陽病中或然或不然之證。故但散見於諸條。而不入提綱之內。至溫病之不惡寒者。以溫病由里而出表。雖見太陽病。其病因本不關太陽。故微有別。按內經云。巨陽者諸陽之屬。其脈連於風腑。故為諸陽主氣。夫手太陽小腸。為受盛之官。足太陽膀胱。為州都之官。小腸受盛之物。全藉膀胱氣化而始能出。此氣字即巨陽為諸陽主氣之氣。膀胱小腸。位居腹下。當至陰之地。內經謂太陽根起於至陰。結於命門。心與小腸。同資火化。設膻中之使道絕。而肺之治節不行。何以下注膀胱而輸津液。心主營。肺主衛。太陽一經。統司營衛。故為諸陽主氣。而冠六經之首。謂太陽主表。義系諸此。自後世注傷寒家。專責太陽膀胱經。遂有傳足不傳手之謬說。又謂太陽為寒水之氣。以寒召寒。故有傷寒之名。亦未免失之穿鑿。但從營衛上討消息。則於太陽病已思過半矣。</p>

<h2>太陽問答三</h2>
<p>問曰。太陽病不解。即傳入陽明乎。答曰。此不盡然。仲景云。傷寒一日。太陽受之。脈若靜者為不傳。頗欲吐若燥煩脈數急者為傳也。傷寒二三日。陽明少陽證不見者。為不傳也。可見病之輕者不傳。即病之重者。治之如法。亦不必盡傳。其必欲傳者。亦不必盡傳陽明。有本經自傳。而從太陽之經。轉入太陽之腑者。此謂犯本。太陽病由經入腑。其中又有氣血之殊。熱傷膀胱氣分。則為蓄水。熱傷膀胱血分。則為蓄血。蓄水之證。利其水則愈。蓄血之證。下其血則愈。蓋邪既入腑。即從腑解。治仍不離乎太陽也。至於誤治之後。種種變逆。亦非一致。尤當按證分別施治。設拘於一日太陽。二日陽明之說。使當其時陽明之脈證不見。亦可從陽明論治乎。故夫泥日數以分經者。其貽誤必不少也。</p>

<h2>太陽問答四</h2>
<p>問曰。凡病傷寒。其傳為熱。而有反寒者何也。答曰。太陽病誤治致逆。救逆之法。當分水火為二大綱。足太陽膀胱。與足少陰腎為表裡。手太陽小腸。與手少陰心為表裡。脈法以左尺屬水。為元陰之根。坎象也。右尺屬火。為元陽之根。離象也。太陽寒水之氣。全資火化。第心君之火。寂然不動。賴膻中為臣使之官。下合三焦。以生趺陽而伏少陰。方合坎離既濟之妙。太陽主表病。本當從表解。但解表之中。須相其人之津液。夫此所謂津液者。水火合化而陰陽互為其根者也。太陽病治不如法。陽虛則陰盛。而水邪致逆。陰虛則陽盛。而火邪致逆。水邪之為病水入即吐。甚則心下支滿。腹中雷鳴。又其甚者。氣從少腹上衝心。或臍下悸欲作奔豚。若此之類。皆以陽微而致水逆。火邪之為病。其人腰以下必重而痹。或圊血。或大渴引飲。甚則譫語。又其甚者。手足躁擾。捻衣摸床。若此之類。皆以劫陰而致火逆。水盛則火就滅。急當扶陽以制水。火盛則水立涸。急當瀉火以存陰。此在太陽病誤治之後。其傳變便有水火寒熱之不同。正不必盡傳為熱。又況誤汗誤下之後。或大汗出。筋惕肉瞤。或下利不止。此亡陽之候。以大劑參附。駟馬追之。猶虞不及。此尤當急溫者矣。若謂某日當在某經。而計日以定汗下。豈理也哉。</p>

<h2>太陽問答五</h2>
<p>問曰。太陽誤汗。其變有別否。答曰。最危者誤發少陰汗。仲景於大青龍湯證。必辨無少陰證相雜者。方可大發其汗。蓋太陽與少陰相表裡。少陰病亦有發熱身重之證。然脈微細。但欲寐。便與太陽病不同。若誤認為太陽病。而大發其汗。則腎中真氣。與汗俱泄。以致筋惕肉瞤。真陽之亡。可立而待。又有太陽病本宜汗解。或其人陽氣素虛。不相其人之津液。妄予大發其汗。亦足召亡陽之變。更有發汗後。衛陽已虛。外風又襲。此屬漏風。其人惡風。小便難。四肢微急。難已屈伸。其證與亡陽微有別。皆當以回陽為急者也。若發汗之後。津液被劫。真陰受戕。其人大渴引飲。不大便。甚則譫語口乾咽爛。手足躁擾。甚則熱深厥逆。此真陰將涸之候。但看陰液尚有一線未亡。可施灌溉之力。若陰已涸者。救亦無及。要之陽亡之候。其死速。急回其陽而取效轉易。陰亡之候。其死遲。急顧其陰而取效反難。果當太陽病初起時治之如法。何遽至此哉。乃知今人妄稱傷寒。不察其人之病因。不顧其人之津液。謂病在太陽。概從汗散者。誠操刃之事也。</p>

<h2>太陽問答六</h2>
<p>問曰。誤下若何。答曰。太陽病誤下後。若作協熱利者。法當挽下陷之邪。仍從太陽之表而解。若中土陷者。以理中為急。若下元憊者。以固下為急。若下利清穀不止者。急溫其里。非四逆湯不救。此皆真陽將隨下利而亡。挽回陽氣。不容稍稽時日。若熱邪在表。因誤下之故。致表邪陷入。搏聚於心胸。因有為痞為結之變。仲景云。病發於陽而反下之。熱入因作結胸。病發於陰而反下之。因作痞。治心下痞。仲景有諸瀉心法。治結胸。仲景有大小陷胸法。各因其勢之輕重緩急。分別救療。其法絲絲入扣。不容分毫假借。宜熟玩也。今人於太陽病下法。亦不敢輕試。然但屏去硝黃。以為慎下。至一切香燥導氣之品。最耗散正氣者。反恣行無忌。致釀成種種變逆。我見甚多矣。夫豈必待用硝黃而後為妄下哉。</p>

<h2>太陽問答七</h2>
<p>問曰。誤火者其變亦有別否。答曰。太陽病脈浮者當以汗解。汗者心之液。心主營。必使營與衛和。則汗出津津而解。若以火迫汗。火氣內攻。營氣受灼。故或圊血。或發黃。或譫語。甚至口乾舌爛。骨焦筋傷。種種皆亡陰之象。此證之易辨者。又有其人心陽素虛。一遇火灼。心陽隨之外越。以致驚狂臥起不安者。亟亟挽飛越之陽神。間有可救。然亦危矣。同屬誤火。其變證亦有亡陰亡陽之別。誤火之弊。今人亦不敢妄試。然當太陽病時。習用辛熱迫汗者。其弊與誤火等。可不慎哉。</p>

<h2>陽明問答一</h2>
<p>問曰。何以識為陽明病。答曰。陽明之為病。胃家實是也。然泛言胃實。恰從何處辨證而知陽明之為病。此其間亦有經府之別。發熱汗自出。不惡寒。反惡熱。甚則舌上乾燥而煩。渴欲飲水者。此是陽明經證。若潮熱不大便。譫語。腹滿痛者。此屬陽明府證。傳經之邪。在經則傳。入府則不傳。故曰陽明居中土也。萬物所歸。無所復傳。惟有亟從下奪而解。其欲作經者。陽明一經。來路自太陽。去路自少陽。其太陽證未罷。而陽明證已見者。亟當從太陽領出其邪。以斷陽明從入之路。若陽明證具。而少陽證未見者。當直折本經散漫之熱。使胃中津液和而愈。以斷陽明從出之路。若陽明證未罷。而少陽證已見者。又當亟從少陽和解之法。即以斷從少陽轉入三陰之路。此傳經之邪。亟當相其人胃中之津液。前後照顧。預防變逆。不必盡屬可攻之證。至既入於府。無所復傳。不予亟攻。津液隨竭。則惟當急下以存陰。更不必有所瞻顧。欲識陽明病。先要在經府上辨明真確而或謂病在陽明。概從清涼攻下者。此非法也。</p>

<h2>陽明問答二</h2>
<p>問曰。太陽病傳入陽明。其狀何若。答曰。太陽之為病。頭項強痛而惡寒。其後惡寒將自罷。濈濈然微汗出。此欲傳陽明之候。汗出。潮熱。不惡寒。反惡熱。則陽明之外證悉具矣。然陽明病從太陽傳入。必審太陽病全罷。方可從陽明論治。若陽明證已見。而太陽證未罷者。治當仍從太陽而不從陽明。故仲景於太陽初入陽明之候。特挈出兩條。謂陽明病。脈遲汗出多。微惡寒者。表未解也。可發汗。宜桂枝湯。陽明病。脈浮無汗而喘者。發汗則愈。宜麻黃湯。蓋風寒之邪。由表而入里。此將入未入之界。當逆挽其邪。使仍從太陽而解。至溫病初起。即不惡寒。熱病初起。即汗出而渴。此在太陽病時。陽明證同時並見。更當急顧陽明之津液。不與風寒同法。此又仲景言外之意。可從無字句處悟入。故凡讀仲景書。既從有字句處知其定法。又當從無字句處參其活法。則庶幾其可進於道乎。</p>

<h2>陽明問答三</h2>
<p>問曰。陽明經病。可解表乎。答曰。陽明為水穀之海。輸布津液。外主肌肉。無津液何由得汗。汗過多即傷津液。陽明病本自汗出。汗雖出熱仍不解。正當急存胃中之津液。豈有再行發汗之理。今人誤以葛根湯為陽明表藥。殊不知仲景葛根湯之制。以麻桂合葛根。仍屬太陽與陽明同治。不得執是方以治陽明經熱。若潮熱汗出。大渴引飲。此陽明證悉具。而太陽證全罷。亟當顧陽明之津液。以除渴而滌熱。設誤發其汗。則津液隨竭。至入府之候。其宜下不宜汗。更不必言矣。仲景於太陽中風太陽傷寒宜發汗之證。尚慎重不敢過發其汗。正以胃中津液為重也。風寒如此。奚況溫熱哉。太陽如此。奚況陽明哉。</p>

<h2>陽明問答四</h2>
<p>問曰。陽明府病。攻之宜矣。然不大便豈皆屬陽明病乎。答曰。不大便。不必盡屬陽明病。陽明病亦不必悉皆不大便。按脈法云。脈有陰結陽結者。何以別之。曰其脈浮而數。能食不大便者。此為實。名曰陽結也。其脈沉而遲。不能食。身體重。大便反硬。名曰陰結也。即此可見不大便之病因。內有陰結陽結之不同。不必盡屬陽明可攻之證。又仲景於陽明病提綱。既揭明云。陽明之為病。胃家實是也。又云有太陽陽明。有正陽陽明。有少陽陽明。太陽陽明者。脾約是也。正陽陽明者。胃家實是也。少陽陽明者。發汗利小便已。胃中燥煩實。大便難是也。此在仲景恐人誤以陽明病概屬胃實可攻之證。故於陽明之來路去路。別出太陽少陽兩條。以示下法不宜孟浪之意。必於陽明病發熱汗多不大便腹滿痛。或繞臍痛煩躁譫語者。此當急下之證。然或大便乍難乍易。喘冒不能臥。或自利清水。色純青。心下痛。口乾燥者。亦宜急下之證。由此觀之。則所謂陽明之為病胃家實者。更不得泥定不大便矣。不此之察。或不應下而下。或應下而反失下。其弊正相等。安得呆執下法。以治陽明府病哉。</p>

<h2>陽明問答五</h2>
<p>問曰。陽明病。其傳入之路。皆從太陽乎。答曰。不然。太陽病不解。潮熱。汗自出。不惡寒。反惡熱者。此太陽傳入陽明之候。然溫熱之病。汗出而渴。其初起多由陽明而太陽者。已不侔矣。更有太陽病甫傳陽明。只在於經。腹中矢未定成硬。慎不可攻。久之矢定硬。乃可攻之。此邪由經入府。此謂本經自相傳。又少陽病。服柴胡湯已渴者。屬陽明也。此少陽亦有轉屬陽明之候。此在三陽經中。其傳入之路已別。然猶顯而易辨者。至三陰經病。多有寒熱錯雜之證。若熱邪之傳入三陰者。亦有從陽明下奪之法。如太陰病之大實痛。宜取桂枝大黃。微利以約脾陰。少陰病之口燥咽乾，當用大承氣。急下以救腎水。至厥陰病熱深厥深之後。下利譫語者。亦主有燥矢。則可見三陰經病。亦有還返陽明者。故曰陽明居中土。萬物所歸。一入陽明之府。則邪自無所復傳。惟有下奪而解。然則陽明病之來路。種種不齊。於何辨之。亦先辨之於經與府而已矣。經與府之辨。亦辨之於脈與證而已矣。而益信計日以定經者。誠謬說也。</p>

<h2>陽明問答六</h2>
<p>問曰。陽明病有寒證否。答曰。胃為水穀之海。胃中實熱者。胃陰就涸。當存胃陰為急。胃中虛冷者。胃陽將憊。當顧胃陽為急。凡熱入胃而成可攻之證者。其攻法當在不先不後之界。攻之太早。誅伐無過。徒傷胃氣。攻之太遲。坐延時日。劫盡胃液。仲景於陽明病。既臚列種種當急下之證。復別出種種不可攻之戒。誠以胃中虛冷者。水穀不別。則欲作固瘕。若不能食者。攻其熱必噦。又食谷欲嘔者。更當急溫其胃。此中寒熱殊因。絲毫不容假借。然而疑似之間。尤當細辨。即以嘔證論。若太陽之惡寒嘔逆。少陽之心煩喜嘔。便與陽明之食谷欲嘔者不同。且同屬食谷欲嘔之一證。若予吳茱萸湯而反劇者。則又屬熱格上焦之證。又陽明病。誤攻其熱必噦。然太陽誤火劫津。甚亦至噦。則同一噦而寒熱又不同。至於水穀不別而作固瘕者。更與協熱下利者不同。仲景辨證。如此森嚴。藉非寤寐神遊其理。則臨證之間。幾何不為他岐所惑哉。</p>

<h2>陽明問答七</h2>
<p>問曰。陽明病傳入少陽。其狀何若。答曰。凡邪入陽明之府者不傳。其在經者有傳有不傳。其必欲傳者。在陽明病一見少陽證。便當從少陽和解。故仲景云。陽明病。發潮熱。大便溏。小便自可。胸脅滿不去者。小柴胡湯主之。若陽明病。脅下硬滿。不大便而嘔。舌上白胎者。亦當與小柴胡湯。此正陽明傳入少陽之候。亟當從少陽逆奪其邪。使上焦得通。津液得下。則胃氣和而病自解。喻嘉言謂陽明之邪。來自太陽。去自少陽。太陽欲傳陽明者。當推其邪使速還太陽來路。陽明欲傳少陽者。當推其邪使速往少陽去路。此非深得仲景三昧者。不能有些微論。且陽明病一見少陽證。即從少陽逆奪其邪。不惟少陽證罷。即陽明證亦罷。且從少陽傳入三陰之證。一罷而無不罷。必識此意。始足與語傷寒之傳變。而豫防於未然。否則必待傳到一經。專治一經。總使辨證無訛。總屬粗工。非聖法也。</p>

<h2>少陽問答一</h2>
<p>問曰。何以識為少陽病。答曰。少陽之為病。口苦咽乾目眩也。少陽之脈。起於目銳眥。從耳後。入耳中。挾咽出頤頷中。其支者。會缺盆。下胸中。循脅。以足少陽膽。與三焦相火合化。此經受邪。多從升處而走所絡之空竅。故仲景以口苦咽乾目眩。括少陽病之提綱。至若往來寒熱。胸脅苦滿。默默不欲飲食。心煩。喜嘔。皆邪入少陽當然之證。其或胸中煩而不嘔。或渴。或腹中痛。或脅下痞硬。或心下悸。小便不利。或不渴。身有微熱。或咳。此又少陽病中或然或不然之證。總不離一小柴胡湯加減之法。故又曰傷寒中風。有柴胡證。但見一證即是。不必悉具。又少陽受病。其脈尺寸俱弦。故仲景言傷寒脈弦細。頭痛發熱者屬少陽。此又不從證而從脈。雖見頭痛發熱之表證。不責太陽而責少陽。則可見弦為少陽之定脈。有此定脈定證。以審實少陽之為病。自不至誤汗誤下。犯少陽之大禁矣。</p>

<h2>少陽問答二</h2>
<p>問曰。少陽病。盡傳自陽明乎。答曰。此不盡然。內經謂三陽之離合。太陽為開。陽明為闔。少陽為樞。凡邪中太陽。有陽明以為之迎。正賴有少陽以為之拒。傷寒以出表為順。入里為逆。設非少陽之樞居中攔截。則外來之邪長驅直入而無所御。是少陽一經。關係甚鉅。太陽病往往有初得之二三日。不傳陽明。逕傳少陽者。有太陽與少陽同時病見者。正不必盡俟陽明經盡。始傳少陽。且邪入三陰之後。亦有還返少陽而解者。總以定證定脈為據。就脈證上審實其為少陽病。即可主用少陽之治法而無疑矣。</p>

<h2>少陽問答三</h2>
<p>問曰。少陽病不解。即傳三陰乎。答曰。有傳有不傳。仲景云。傷寒三日。三陽為盡。三陰當受邪。其人反能食不嘔。此謂三陰不受邪也。若此者。其病機本不傳。又少陽證一見。即從少陽治法而病速已。則亦不傳。凡陽經之病。在太陽則頭痛發熱。陽明則潮熱汗自出。少陽則往來寒熱。若久之無大熱。其人躁煩者。此為陽去入陰之候。其中具有先見之機。然則治傷寒家。何如乘其機之未動。亟從少陽解去其邪。以預弭陽去入陰之變。何便如之。</p>

<h2>太陰問答一</h2>
<p>問曰。何以識為太陰病。答曰。太陰之脈。起於大指之端。上循膝股內廉入腹。屬脾絡胃。上膈挾咽。連舌本。仲景以腹滿而吐。食不下。自利益甚。時腹自痛。屬太陰之為病。蓋太陰為陰中之至陰。太陰之前。名曰陽明。太陰之後。名曰少陰。太陰受病。不能為陽明行其津液。而少陰腎水。因泛浸而無所制。故見吐利滿痛等證。仲景以是為太陰病之提綱。太陰屬裡。吐利滿痛。皆里證也。凡傷寒之邪。在陽經誤治。轉陷入陰者。必種種表證全罷。但見吐利滿痛等證。卻是邪入太陰之候。然又必以脈為辨。故仲景云。太陰病。脈浮者可發汗。宜桂枝湯。太陰病脈本當沉。今反浮。則是雖見太陰病。而邪尚逗遛於表。仍可逆挽其邪。使從表解。由是推之。則太陰之脈必主沉。又不必言矣。太陰證具。而脈又沉。即宜專就太陰論治。若邪直犯太陰。不因傳經而本經自病者。亦當專就太陰論治。內經言三陰之離合。太陰為開。厥陰為闔。少陰為樞。飲食入胃。全恃太陰司轉輸之職。太陰受病則轉輸之道窒。故食不下。腹滿時痛。因之上湧則吐。下注則利。其主治之法。大約宜扶植中州陽氣。使復其轉輸之常職。則病自已。仲景辨列六經。而太陰獨略。然就此義而引伸觸類。大旨初不越乎此。奚俟繁言哉。</p>

<h2>太陰問答二</h2>
<p>問曰。太陰病治宜主溫乎。答曰。此不可執一而論。寒邪直中太陰。而本經自病者。是當急溫無疑矣。其有陽經之邪。熱過寒生。而轉入太陰者。亦當主溫。若屬熱邪陷入太陰。而見吐利滿痛等證者。純溫非宜。純清亦不可。則惟有和之一法。如所謂太陽病。脈浮者可發汗。宜桂枝湯。此逆挽其陷入之邪。仍從外解。而方中甘芍薑棗。亦足以奠安太陰。是和法也。若本太陽病。因誤下而腹滿時痛。轉屬太陰者。用桂枝加芍藥湯。此仍用桂枝升舉陽邪。但倍芍藥以收太陰之逆氣。是亦和法也。若大實痛者。不下則痛勢須臾難緩。峻下又恐脾陰隨下利而盡泄。故仍用桂枝升舉陽邪但加大黃以微和胃氣。是亦和法也。三陰經中。以少陰厥陰。尚有實熱之證。可用大寒大下者。太陰濕土。位處中州。全賴陽氣布護。以資健運轉輸之力。病在太陰。雖屬熱因。切不可用寒涼直折。遏抑陽氣。陰邪愈錮。故仲景又謂太陰為病。設當行大黃芍藥者宜減之。以其人胃氣弱。易動故也。觀此則太陰病之治當主溫。可知矣。而治太陰之病不可呆執溫法。又可知矣。不知溫法者。不可與議太陰本臟虛寒之病。徒執溫法者。不可與議太陰他經傳變之病。仲景治太陰病法。大約以升舉陽氣為主。或當急溫。或宜兼清兼下。隨證變通。後世李東垣脾胃論。殆能覷破此旨。其處方似甚夾雜。而於陰陽升降之機。庶乎其得之矣。</p>

<h2>少陰問答一</h2>
<p>問曰。何以識少陰之為病。答曰。少陰腎水。上承心火合化。人身之元陰元陽。根蒂於此。故脈法以兩尺屬腎。分配水火。為人一身之根本。此經之病。熱因寒因。變幻不一。其中陰陽消息之機甚微。不得呆執一證論治。故仲景獨以脈微細但欲寐。為少陰病之提綱。以衛氣行陽則寤。行陰則寐。邪入少陰。則氣行於陰。不行於陽。故但欲寐。少陰病本在裡。無論陰寒直中於本經者。脈固微細。即由陽邪陷入少陰者。雖屬熱因。其脈亦必微細。則是微細為少陰之定脈。但欲寐為少陰之定證。緣少陰病所見各證。或惡寒發熱。與太陽證易混。或口燥咽乾。腹脹不大便。與陽明證易混。或嘔咳欲吐。與少陽證易混。或下利不止。與太陰證易混。甚或手足逆冷。更與厥陰證易混。總憑此定脈定證。以審實其病之不在他經。只在少陰。或當急存其陰。或當急回其陽。絲毫不容誤治。傷寒之邪。以出表為順。入里為逆。三陽在表。三陰在裡。三陽經中。惟太陽頭緒最繁。三陰經中。惟少陰頭緒最繁。然太陽病誤治致逆。尚有種種救逆諸法。邪入少陰。急救已危。若更誤治。死可立待。尚何及救哉。籲。可懼也已。</p>

<h2>少陰問答二</h2>
<p>問曰。少陰病。傳經屬熱。直中屬寒。然否。答曰。論中所列一二日二三日之少陰病。即直中之邪。五六日七八日之少陰病。即傳經之邪。傳經固多熱。而亦有從寒化者。直中固多寒。而亦有由熱伏者。脈微細但欲寐。是少陰病之定脈定證。而寒熱之分。要在兼證上推詳。寒不至於過甚者。猶當溫經以散寒。若陽將脫。非急溫不足以回陽。熱不至於過亢者。尚可潤燥以清熱。若陰將涸。非急下不足以存陰。病機至此。不惟不容誤治。即因循瞻顧。亦足誤人。然非辨之至確。鮮有不生疑畏者。則平日體認工夫。自不容已矣。</p>

<h2>少陰問答三</h2>
<p>問曰。有犯房勞而病傷寒者。責在少陰否。答曰。不然。傷寒病適當房勞後而發。仍當責其本病。陽經之證。仍責陽經。陰經之證。始責陰經。仲景於汗下諸法。兢兢必顧其人之津液。虛家患傷寒。原有不從正治之例。正不必問其曾犯房勞與否。虛象果見。即非房勞。亦不得妄施汗下。若房勞之後。而所患仍系實證。則應汗者仍當汗。應下者仍當下。邪去而正自安。所謂陰病者。必實見有三陰證也。房勞後之傷寒。亦有陽證。不得概從陰病論治。此說前賢久經辨正。而近日醫家。猶沿其陋。我見有誤補致邪壅而死者。有誤溫致陰竭而死者。既死而猶歸咎於房勞。惑滋甚矣。</p>

<h2>厥陰問答一</h2>
<p>問曰。何以識為厥陰病。答曰。厥陰之為病。其證亦錯雜不一。而仲景以消渴。氣上撞心。心中疼熱。飢而不欲食。食即吐蛔。括厥陰病之提綱。蓋以厥陰當兩陰交蓋。其脈起足大指。循股內。入陰中。環陰器。抵少腹。貫心膈。邪入厥陰。循經上逆。致見前證。又厥者逆也。逆則陰陽不相順接。故又因之致厥。厥陰乃陰盡之臟。陰盡則陽生。陰陽消長。大伏危機。此際出表則生。入里則死。故仲景以厥多熱少為病進。熱多厥少為病退。然邪入既深。寒熱錯雜。極難辨認。喻嘉言謂厥陰篇中。有純陽無陰之證。有純陰無陽之證。有陰陽差多差少之證。有陽進欲愈。陰進未愈之證。復有陰居八九。陽居一二之證。厥而發熱。熱深厥深。上攻而成喉痹。下攻而便膿血。此純陽無陰之證也。脈微細欲絕。厥冷。灸之不溫。惡寒。大汗大利。躁不得臥。與夫冷結關元。此純陰無陽之證也。厥三日。熱亦三日。厥五日。熱亦五日。手足厥冷。而邪熱在胸。水熱在胃。此陰陽差多差少之證也。渴欲飲水。飢欲得食。脈滑而數。手足自溫。此陽進欲愈之證也。默默不欲食。寸脈雖浮數。尺脈自澀。嘔吐涎沫。腹脹身疼。此陰進未愈之證也。下利清穀。裡寒外熱。嘔而脈弱。小便複利。本自寒下。復誤吐下。脈沉微厥。面反戴陽。此陰居八九。陽居一二之證也。條分縷晰。序次最為明暢。厥陰皆里證。惟發熱則有遠出於表之機。大約病專屬裡者。亟當治其里。由表陷入者。宜挽之出表屢寒者利在急溫。屬熱者不宜直折。予統會仲景大法如此。神而明之。存乎其人。</p>

<h2>厥陰問答二</h2>
<p>問曰。厥之寒熱。何以別之。答曰。仲景言諸四逆厥者不可下。虛家亦然。又曰。厥陰下之。其語似涉兩歧。然要認明病之來路。彼因四逆而厥。故不可下。此因發熱而厥。故應下之。此中消息。言下本自躍然。再推厥深熱深之義。溫熱病一二日或五六日。沉昏譫妄。手足厥逆。是熱邪入膻之候。膻中屬手厥陰是亦厥陰證也。仲景雖未明言。而厥深熱深一語。已包括無遺矣。誰謂溫熱之法。不可向仲景推尋哉。</p>

<h2>統論六經</h2>
<p>仲景六經之法。一經有一經之證。先要分看。分看宜在有字句處精研。而或此經雜彼經之症。又要合看。合看全在無字句處善悟。而尤要在於辨似。有陽中之陰。有陰中之陽。有陽中之陽。有陰中之陰。有陽證似陰。有陰證似陽。有陽證轉陰。有陰證轉陽。有陽證雜陰。有陰證雜陽。有陰陽錯雜非細心體認。惡能窺其萬一。今人輒畏仲景書難讀。而從事於後世之方書。是猶涉海問津。從仲景傷寒入手。始覺甚難。久之則其易焉者至矣從後世方書入手。始覺甚易。久之則其難焉者至矣。總之凡病不外此六經。能解仲景六經辨證之法。可以識傷寒。即推此六經辨證之法。可以識萬病。傷寒既瞭然無遺。於雜證乎何有。此一以貫之之道也。故曰萬病莫逃乎傷寒。</p>

<h1>中集</h1>

<h2>發熱</h2>
<p>凡發熱必察其表裡有無兼證。而後可窮其致熱之因。其但發熱而表裡別無兼證者。此內傷發熱。不在此例。所謂兼證者。以外兼頭痛惡寒身疼腰痛等證。此邪在表者也。內兼煩渴胸腹痛不大便或下利等證。此邪在裡者也。發熱特其見端耳。必互勘明確。辨證方的。</p>
<p>凡發熱必責重太陽者。以太陽屬表。統司營衛。而為諸陽之主氣。經云。陽者衛外而為固也。外邪之傷人。多由於衛之不固。故論外感病。必自太陽起。然太陽雖主表。而其根起於至陰。此實表裡上下。互相呼應。故由太陽而陽明而少陽。以及三陰。皆互見發熱證詳列於後。</p>
<p>太陽之為病。脈浮。頭項強痛而惡寒。不即發熱也。其惡寒正發熱之機也。論中所稱為太陽病者。即指此脈此證而言。他經皆仿此。</p>
<p>太陽中風。發熱有汗。其脈浮緩。風則傷衛。宜桂枝以解肌。太陽傷寒。發熱無汗。其脈浮緊。寒則傷營。宜麻黃以發汗。然桂枝證全在歠熱稀粥以助藥力。取其漐漐微似有汗。不可令如水流漓。至麻黃證始取大發其汗。此麻黃桂枝分治風寒。截然二法。不能混同施治。其或風寒兩傷。營衛同病。經云。太陽中風。脈浮緊。發熱惡寒。身疼痛。不汗出而煩躁者。大青龍湯主之。又云。傷寒脈浮緩。身不疼。但重。乍有輕時。無少陰證者。大青龍湯發之。蓋中風脈宜浮緩。而反見浮緊之脈。傷寒脈宜浮緊。而反見浮緩之脈。即易桂枝麻黃之成法。而主用大青龍湯大發其汗。此仲景治風寒之法。成方具在。而或謂仲景之法。詳於風寒。略於溫熱。此大不然。仲景於風寒之外。特揭明太陽病發熱而渴不惡寒者為溫病。此其辨證最要之訣。所以與風寒異者。全在渴不惡寒四字。風寒發熱。必兼惡寒。今不惡寒。此宜辨者也。風寒發熱。口全不渴。必待傳變之後。口始作渴。今病初起即渴。此又宜辨者也。又有所謂濕溫者。經云濕家之為病。一身盡疼。發熱。身色如似熏黃。又云。太陽病。關節疼痛而煩。脈沉而細者。此名濕痹。此仲景但言濕不言溫也。而以論中所列種種濕證。加以發熱而渴不惡寒。則濕溫之情狀。自可比類而得。至於熱病。仲景明云太陽中熱者暍是也。其人汗出惡寒身熱而渴也。此與溫病同一口渴。而暍病惡寒。溫病不惡寒。又自有別。仲景處以人參白虎湯。則不惟有其法而並有其方矣。此太陽病初起發熱辨證之大法。乃傷寒切實下手工夫。</p>
<p>有謂翕翕發熱者。但表不里也。有謂蒸蒸發熱者。自里而表也。太陽主表。其發熱必兼頭項強痛身疼痛等證。此皆太陽之部署。純乎表者也。至陽明發熱。則兼有煩滿口渴等證。少陽發熱。則兼有胸脅滿痛口苦喜嘔等證。而其脈皆主浮。太陽之脈。或浮緩。或浮緊。陽明之脈浮大。少陽之脈浮弦。若脈沉而不浮。三陰證中。亦互見發熱證。其發熱同而所以致熱之因不同。不得以發熱為邪在表。概從太陽發表例施治。</p>
<p>陽明發熱。與太陽異者。經云。陽明病外證云何。答曰。身熱。汗自出。不惡寒。反惡熱也。蓋始則惡寒發熱。今惡寒自罷。雖汗出而熱仍不解者。即轉屬陽明之候。當此時。無論風寒暑濕。所感不同。而同歸火化。陽明病。仲景有發汗之禁。而治法宜分經府。其熱雖甚而尚在於經者。宜以甘寒直撤其熱。如經云。傷寒若吐若下後。七八日不解。熱結在裡。表裡俱熱。時時惡風。大渴。舌乾燥而煩。欲飲水數升者。白虎加人參湯主之是也。其邪已入腑而猶汗出發熱者。如經云。太陽病三日。發汗不解。蒸蒸發熱者。屬胃也。調胃承氣湯主之。又云。陽明病發熱汗多者。急下之。宜大承氣湯是也。</p>
<p>少陽發熱。仲景亦申發汗之禁。少陽病本主往來寒熱。而亦有發熱屬少陽者。必兼脅下滿心煩喜嘔諸證。且其脈必弦。故經云。傷寒四五日。身熱惡風。頸項強。脅下滿。手足溫而渴者。小柴胡湯主之。又云。傷寒發熱。汗出不解。心下痞硬。嘔吐而下利者。大柴胡湯主之。蓋脅痛嘔渴。已明見少陽之半里證。雖發熱表證未除。不得從太陽發表之例。而當以大小柴胡湯。半表半裡治之也。又曰。傷寒脈弦細。頭痛發熱者屬少陽。少陽不可發汗。發汗則譫語。此屬胃。胃和則愈。胃不和則煩而悸。蓋弦為少陽之定脈。細則邪不在表。仲景恐人以頭痛發熱。誤為太陽證。故明指之曰此屬少陽。而又申言之曰。少陽不可發汗。其所以辨其發熱之屬少陽者。前二條以證辨。此一條以脈辨也。</p>
<p>太陰發熱者。其脈不浮而沉。而更兼吐利腹痛諸證。經云。病發熱惡寒頭痛身疼吐下者。此屬何病。答曰。此名霍亂。霍亂自吐下。又利止復更發熱也。吐利本太陰病。利止復熱者。陰病轉陽也。既已轉陽。其脈當浮。故又曰。太陰病脈浮者可發汗。宜桂枝湯。吐下之後。津液已傷。復又往往口渴發熱。故又曰。霍亂頭痛發熱。身疼痛。熱多欲飲水者。五苓散主之。寒多不用水者。理中湯主之。此與陽經之發熱。治各不同也。</p>
<p>少陰病發熱。最易與太陽牽混。故仲景於大青龍證。必辨其無少陰證者。方取大發其汗。而又申言之曰。少陰病。脈沉細數。病為在裡。不可發汗。又曰。少陰病脈微不可發汗。亡陽故也。則少陰之不可發汗明矣。陰病必當轉陽。故曰少陰病。吐利。手足不逆冷。反發熱者不死。蓋太陽寒水之氣。與少陰君火。相濟為用。此之吐利。少陰為寒所抑。茲得陽熱之氣。而其氣還返於太陽。故反發熱不死也。然何以辨其為少陰之發熱也。經云。少陰之為病。脈沉細。但欲寐也。沉細為少陰之定脈。但欲寐為少陰之定證。且太陰病吐利。手足自溫。此則手足逆冷。更加之以惡寒身蜷。其甚者厥冷無脈。又或咽痛煩躁便膿血種種危證。死生呼吸。蓋因少陰腎藏。分配水火。為先天根本。故其病情寒熱錯雜。變幻不測有如此。至發熱則陰寒之中。猶寓陽熱之氣。而強責少陰汗者。將其人之根本先拔。至於下厥上竭則難治矣。其有寒邪直犯少陰。而即發熱者。如經云少陰病。始得之。反發熱脈沉者。麻黃附子細辛湯主之。又曰。少陰病。得之二三日。麻黃附子甘草湯微發汗。以二三日無里證。故微發汗也。蓋必以附子鎮攝腎中真陽。俾根本先固。而後可以引邪外出。此於微發汗之中。而仍寓不發汗之義也。厥陰發熱者。以其人厥與熱之多少。辨病之進退。厥陰者。兩陰交盡之名。然陰盡之中。實寓陽生之義。故其時陰陽不相順接便為厥。厥熱相等。其病可愈。厥多熱少。此為病進。熱多厥少。此為病退。所謂厥者。手足逆冷是也。逆甚而至於冷過肘膝。則不名曰逆冷而直名曰厥。此時正藉發熱為一線生陽可續。故發熱為病欲愈之機也。故曰傷寒先厥。後發熱而利者。必自止。又傷寒熱少厥微。欲得食者。其病為愈。若發熱下利至甚。厥不止者死。又傷寒六七日不利。便發熱而利。其人汗出不止者亦死。要知發熱之後。其脈必不沉而浮。乃為陰病轉陽之真候。故曰脈微浮為欲愈。不浮為未愈。此又與少陰發熱同一義也。</p>
<p>傷寒之脈。始終一以靜為主。故經云。傷寒二三日。脈若靜者為不傳。若脈數急者為欲傳也。內經云。汗出而脈尚躁盛者死。是始熱以脈靜為易愈。而傳變之後。又必以脈靜為真愈之候。凡病之自表而里者。以太陽為始。病之由里而表者。以厥陰為始。太陽雖主表。而其脈連於風府。其根起於至陰。又與少陰為表裡。仲景慎重不敢妄發其汗者以此。三陰病固不宜發汗。即三陽經發熱。其致熱之因。又不全屬太陽。如病起發熱。即兼口渴汗出大便閉等證。此由陽明而太陽者也。又如病起發熱。即兼喜嘔胸脅滿痛等證。此由少陽而太陽者也。皆不得藉口於傷寒一日。太陽受之。概與發表也。</p>
<p>大約溫熱病起於陽明者居多。至濕溫病。其邪伏於募原。募原屬半表半裡。故其發熱每兼胸痞腹滿煩渴不大便等證。加以骨節煩疼。舌胎如積粉。其病先犯少陽與太陰。而內連於胃府。外溢於太陽。濕家本自易汗出。尤不可重發其汗也。至所謂異氣者。非於六氣之外。別具一氣。蓋六氣本天地自然之令氣。因其氣之偏勝。而釀為厲氣。故其病沿門傳染。長幼相似。乃稱曰疫。而治法仍不離乎六氣之中也。</p>
<p>有病已愈而復又發熱者。此名遺熱。由於起居飲食之不慎。凡病後飲食。最宜清淡。使胃中津液漸復。邪氣全盡。自然健啖。而世俗每飫肥鮮。兼之喜投補益。皆所不宜。故內經曰。病熱少愈。食肉則復。多食則遺。此其禁也。然其熱之復發。亦有虛有實。故內經云。視其虛實。調其逆從。可使必已矣。至仲景食後勞復。以及大病瘥後。種種各法。載明論中。更不待他求矣。</p>

<h2>惡寒</h2>
<p>太陽之為病。脈浮頭項強痛而惡寒。是惡寒乃太陽病一定之證。始而惡寒。繼且發熱矣。其惡寒與發熱相兼。非如寒熱往來之熱時自熱。寒時自寒也。所謂身大熱而不欲去衣者此也。凡風寒客於營衛之中。而灑淅惡寒者。其脈必浮。浮為在表。故曰惡寒者表未解也。雖里證悉具。而表未解。不可攻裡。必俟外解已。乃可攻也。若太陽病傳入陽明者。則惡寒將自罷。即濈濈汗出。而不惡寒。反惡熱矣。此太陽病初起發熱惡寒之大概也。惡寒屬表者脈必浮。其有不浮而沉者陰病也。經云。發熱惡寒者。發於陽也。無熱惡寒者。發於陰也。發於陽者病在表。宜解表為主。發於陰者病在裡。宜溫里為主。若陰病而誤發其汗。則陽亡之變。頃刻即至矣。陰病惡寒。以手足溫者易治。手足逆冷者難治。故經云。少陰病惡寒而蜷。時自煩。欲去衣被者可治。又曰。少陰病惡寒身蜷而利。手足逆冷者。不治。又曰少陰病下利。若利止惡寒而蜷臥。手足溫者可治。此其義也。</p>
<p>惡寒屬表者。在未汗以前。是謂表實。若既發汗之後。當不惡寒矣。而反惡寒者。則又不屬實而屬虛。故經云。發汗病不解。反惡寒者。虛故也。芍藥甘草附子湯主之。蓋以芍藥甘草兩和營衛。而必藉附子以溫經。則同一惡寒。而未汗以前。與既汗以後。又各不同如此。</p>
<p>更有裡熱郁盛。致陽氣不得宣泄。而外惡寒者。此即內經所謂諸病惡寒。皆屬於火者是也。辛溫發表。大屬非宜。而表陽被遏。其脈又多沉。與陰病相似。而又不可誤於溫里。其外顯假寒。內實真熱。一經誤用。反掌生殺。其辨之之法。則不以脈辨而以證辨。蓋風寒之邪。未經入里。口中必和。此則口中先干。其舌上燥白如積粉。甚或兼黃黑色。胸膈痞滿。不大便。或下利如深醬色。其兼厲氣者。口中必有穢氣。此即熱甚陽郁之候。治宜宣發伏邪。使裡氣通而鬱陽發。則惡寒自罷。反大熱而煩渴矣。然熱作之後。人皆信為熱。而當惡寒時。鮮有識其為熱者。不可不細心體認也。</p>
<p>又有背惡寒者。夫惡寒則一身皆惡。何以止稱背惡寒。內經云。人身之陰陽。腹為陰。背為陽。背者胸中之府。諸陽受氣於胸中，而轉行於背。陰寒之氣盛。陽虛不足御之。則背為之惡寒。經云。少陰病一二日口中和。其背惡寒者當灸之。附子湯主之。論中口中和三字。最宜著眼。惟其口中和。故可放膽用附子。又或乘陰氣不足陽氣內陷入陰中。而不轉行於背。則背亦為之微惡寒。經云。傷寒無大熱。口燥渴。心煩。背微惡寒。白虎加人參湯主之。二者治法天淵。於何辨之。亦辨之於口之渴與不渴而已矣。</p>

<h2>惡風</h2>
<p>惡風與惡寒異。惡寒者。不待風而自寒。雖置之密室之中。幃帳之內。甚至覆被向火。而猶不能禁其寒也。惡風者。風至斯惡。一居密室之中。幃帳之內。而即坦然自若矣。故惡寒者未有不惡風。而惡風者不必皆惡寒。惡風屬表者。風邪客於衛也。經云。太陽病。發熱汗出。惡風脈緩者。名曰中風。又云。太陽中風。嗇嗇惡寒。淅淅惡風。翕翕發熱。鼻鳴乾嘔者。桂枝湯主之。此有風者必惡風也。而寒邪亦有惡風。以有汗無汗為辨。經云。太陽病。頭痛發熱。身疼腰痛。骨節疼痛。惡風無汗而喘者。麻黃湯主之。此太陽病初起風寒異治不易之定法。其有太陽病循經下入。其勢未趨入陽明。而猶戀於太陽之表。致頭痛已瘥。惡風仍在者。如經云。太陽病。項背強𠘧𠘧。無汗惡風者。葛根湯主之。又云。太陽病。項背強𠘧𠘧反汗出惡風者。桂枝加葛根湯主之。則仍以有汗無汗為辨也。亦有太陽病其勢徑趨入少陽。而惡風證仍未罷者。經云。傷寒四五日身熱惡風。頭項強。脅下滿。手足溫而渴者。小柴胡湯主之。是其里證已具。而惡風為表未解。故以半表半裡治之也。蓋惡寒有屬於陽者。有屬於陰者。惡風則主表而專屬於陽。此皆治表之大略也。</p>
<p>其有發汗太過。致漏不止而惡風者。經云。太陽病發汗。遂漏不止。其人惡風。小便難。四肢微急。難以屈伸者。桂枝加附子湯主之。蓋汗出既多。即召亡陽之變。故於桂枝湯中加附子以扶陽固衛。同一惡風。而前宜和衛以解肌。此宜固衛以實表。其治法又各不同矣。</p>
<p>更有裡熱熾甚。而外反惡風者。經云。傷寒若吐若下後。七八日不解。熱結在裡。表裡俱熱。時時惡風。大渴。舌上乾燥而煩。欲飲水數升者。白虎加人參湯主之。蓋必直撤其熱。則表裡俱和。而惡風自止。又非解表所能愈也。又有風濕相搏而外惡風者。經云。風濕相搏。骨節煩疼。掣痛。近之則痛劇。汗出短氣。小便不利。惡風不欲去衣。或身微腫者。甘草附子湯主之。其所謂濕。蓋寒濕。非濕熱也。寒濕之內郁者。自里而搏乎表。風邪之外入者。自表而搏乎里。其相搏在骨節之間。則陽氣被遏。遂惡風不欲去衣。必以甘草附子湯宣達陽氣。則風與濕俱去。痛止而惡風自罷矣。</p>

<h2>潮熱</h2>
<p>潮熱者。不惡寒。但惡熱。其來如潮之至。不失其時。謂之潮熱。其證屬裡而不屬表。凡惡寒發熱屬太陽。至少陽則往來寒熱。此之潮熱則屬陽明。往往發於日晡。日晡未申之時。陽明居中土。王於未申。邪入中土。無所復傳。</p>
<p>故郁為實熱。隨王而潮。經云。日晡所發潮熱者。屬陽明也。惟其屬陽明。則胃實為可下之證。故曰潮熱者實也。</p>
<p>潮熱固可下而下法要有次第。經云。太陽病三日。發汗不解。蒸蒸發熱者屬胃也。調胃承氣湯主之。此因胃已實而熱未潮。故但用調胃承氣。微利之而已。又云。陽明病脈遲。雖汗出不惡寒者。其身必重。短氣腹滿而喘。有潮熱者。此外欲解可攻裡也。手足濈然汗出者。此大便已硬也。大承氣湯主之。若汗多微發熱惡寒者。外未解也。其熱不潮。未可與承氣湯。若腹大滿不通者。可與小承氣湯。微和胃氣。勿令大泄下。按三承氣俱用大黃。大承氣重用枳樸。兼以芒硝。上承邪熱而下。用以攻堅破結。盪滌腸胃。乃峻下之劑。小承氣去芒硝而輕用枳樸。止取通利腸胃。其下較輕。調胃承氣。佐以甘草。又於下中兼和。三承氣各有所主。仲景下法。不敢妄施。其慎細如此。又云。太陽病。重發汗而復下之。舌上燥而渴。日晡小有潮熱。從心下至少腹。硬滿而痛不可近者。大陷胸湯主之。夫病至心下及少腹硬滿而痛不可近。則勢已劇甚。此又非大承氣所能勝任。宜兼破胸膈之結。以下通於腸胃。則必主以大陷胸湯而無疑矣。</p>
<p>其有陽明病潮熱未去。而已趨入少陽者。經云。陽明病。發潮熱。大便溏。小便自可。胸脅滿不去者。小柴胡湯主之。此非小柴胡湯之能治潮熱也。胸脅滿不去。已具少陽證。且大便已溏。雖潮熱未罷。未可再攻也。</p>
<p>更有癉瘧者。但熱不寒。發作有時。此亦陽明經熱。其熱止在於經。未入於府。且病不從傷寒來。故名之曰癉瘧。仲景不立方。而但曰以飲食消息之。</p>
<p>要之甘寒徹熱。與治陽明經熱同法也。</p>

<h2>寒熱</h2>
<p>寒熱往來者。主半表半裡。其病屬少陽。蓋少陽當陰陽出入之樞。邪至其地。與正氣相爭。相爭則寒。爭勝則熱矣。此與惡寒發熱有別。惡寒發熱者。寒熱互見。此則寒時自寒而不見熱。熱時自熱而不見寒也。又與寒熱如瘧者有別。寒熱如瘧者。作止有時。此則寒已而熱。熱已而寒。一日三五發。甚者十數套。與瘧狀有以異也。小柴胡湯專治往來寒熱。蓋以柴胡治半表。半夏治半里。黃芩生薑交除寒熱。而加以人參甘棗扶正逐邪。蓋病至少陽。發汗攻裡。皆所不宜。故以是為和解之劑。乃少陽病之定法也。</p>
<p>小柴胡湯主治往來寒熱。人皆知之。此特半表證。而半里證。人多忽焉不講。所謂半里者。如口苦心煩喜嘔胸脅滿痛之類是也。凡邪從太陽而來。其人仍發熱。而少陽半里證已見。雖未往來寒熱。即當從少陽和解。如經云。傷寒四五日。身熱。惡風。頸項強。脅下滿。手足溫。而渴者。小柴胡湯主之。又云。傷寒後六七日。發熱。微惡寒。支節煩疼。心下支結。外證未去者。柴胡桂枝湯主之是也。至少陽病。來路自太陽。而其去則入陽明之府。其來自太陽者。如經云。傷寒五六日已發汗而復下之。脅滿微結。小便不利。渴而不嘔。往來寒熱心煩者。此為未解也。柴胡桂枝幹薑湯主之是也。其欲入府而猶未入者。如經云。傷寒十餘日。熱結在裡。復往來寒熱者。與大柴胡湯是也。</p>
<p>寒熱往來。屬半表半裡證。然有由表而里者。又有由里而表者。不可不辨也。大凡風寒之邪。多自表而里。濕熱之邪。多自里而表。風寒法。仲景論中詳矣。至濕熱之邪。伏於募原。其起病即見嘔渴。胸腹滿。不大便諸里證。及其發熱。往往熱已而寒。寒已而熱。此其里證重於表證。宜察其里證之輕重。使里先和。則表自解。蓋病自里而表。少陽正當往來出入之界。故其始往來寒熱。繼則熱多寒少。再則但熱不寒。至晝夜壯熱。而譫妄煩渴畢見。此病之由輕入重也。至於由重出輕。則必使譫妄煩渴諸里證先罷。身熱漸和。其時邪氣已退。正氣未復。又復相爭而為往來寒熱。此乃病出入之大機。而前之寒熱往來為病進。後之寒熱往來為病退。總視其里證之輕重有無為據也。其有邪氣全退。表裡俱和。而仍寒熱未去。往來如瘧者。此因正氣未復。宜調其飲食。和其營衛。自然漸愈。切不可驟與峻補。恐餘邪為戀。反增其害矣。</p>
<p>又傷寒往來寒熱。與瘧相似而實非。凡瘧當未作之時。飲啖如平人。至瘧作而始作。此則默默不欲飲食。兼有口苦心煩喜嘔胸脅痛諸里證。以此為辨。</p>

<h2>煩熱</h2>
<p>煩熱者。因熱而煩。與發熱異。發熱者但身熱而不煩。此則為熱所煩。故謂之煩熱。經云。病人煩熱。汗出則解。此證得之於陽熱者居多。欲作汗而未能遽汗。往往先有此候。故經又云。欲自解者。必當先煩。乃有汗而解。何以知之。脈浮故知汗出解也。浮為在表。在表者宜汗。故汗出則解也。</p>
<p>凡風寒之邪。由太陽而入者。不即發煩也。至煩而熱。為汗解之佳兆。發其汗則熱解而煩亦除矣。故經云。太陽病。脈浮緊。無汗發熱。身疼痛。八九日不解。表證仍在。此當發其汗。服藥已微除。其人發煩熱。目瞑。劇者必衄。衄乃解。所以然者。陽氣重故也。又云。傷寒發汗已半日許。復煩。脈浮數者。可更發汗。宜桂枝湯。此皆邪之在太陽者也。太陽病。當汗不汗。或誤與以冷水。或誤下者。仲景又施種種救逆諸法。如經云。傷寒若下之。而煩熱胸中窒者。梔子豉湯主之。又云。病在陽應以汗解之。反以冷水噀之若灌之。其熱被卻不得去。彌更益煩。肉上粟起。意欲飲水。反不渴者。服文蛤散。若不瘥。與五苓散。蓋一因誤下而陽氣陷入胸中。則必解去其胸中之邪。一因誤與冷水。而其邪由太陽之經。轉入太陽之府。故不從經解而從府解也。更有太陽證未罷。已轉屬陽明者。如經云。傷寒表裡俱熱。舌上乾燥而煩。白虎加人參湯主之。此由表裡俱熱。則必以甘寒徹熱。使表裡俱和。自然得汗而解。又法之變也。</p>
<p>凡稱煩熱者。因熱而煩。煩在外者也。若煩在內者。另立虛煩一門詳後。</p>

<h2>虛煩</h2>
<p>虛煩者。其人無大熱。心中溫溫欲吐。而又不能吐。致內擾而煩。然名為虛煩。而其證有因於虛者。亦有因於實者。皆邪熱傳裡之候。宜分別施治。有邪熱傳入少陽而發煩者。經云。傷寒五六日。往來寒熱。心煩喜嘔。或胸中煩而不嘔。小柴胡湯主之。蓋少陽既不可發汗。而里未實又不可下。故以小柴胡湯兩和其表裡。表裡俱和。則煩自除矣。</p>
<p>又有陽熱之氣。下陷入胸中。而作虛煩。宜用吐法以宣其熱。如經云。發汗吐下後。虛煩不得眠。若劇者。必反復顛倒。心中懊憹。梔子豉湯主之。若少氣者。梔子甘草豉湯主之。若嘔者。梔子生薑豉湯主之。心煩腹滿。臥起不安者。梔子厚朴湯主之。又傷寒。醫以丸藥大下之。身熱不去微煩者。梔子乾薑湯主之。此皆取吐之劑。宜按其兼證。分別加減。其吐中有發散之義。足以升舉下陷之陽邪。此乃吐虛煩之大法。至於煩之實者。非大吐不能除。如經云。病人手足厥冷。脈下緊者。邪結在胸中。心中滿而煩。飢不能食者。病在胸中。當吐之。宜瓜蒂散。則同一取吐。而輕重又不同矣。</p>
<p>病在胸中者當吐。其胃實者。又非吐法所能除。經云。陽明病不吐不下心煩者。調胃承氣湯主之。所謂陽明病者。胃家實是也。與調胃承氣以滌其煩。是於微利之中。仍寓和解之義也。</p>
<p>煩熱者。因熱而煩。其所患皆陽熱之證。無陰證也。至虛煩。則有陽病。又有陰病。經云。少陰病二三日。心中煩不得臥者。黃連阿膠湯主之。少陰病胸滿心煩者。豬膚湯主之。又云少陰病下利六七日。咳而嘔渴。心煩不得眠者。豬苓湯主之。蓋少陽為陽中之樞。少陰為陰中之樞。熱傷少陰。津液被耗。邪熱內擾。故各以其兼證。施種種存陰滌煩之法。亦和解之義也。至陰寒證。則反以煩為可轉陽之機。故又云少陰病惡寒而蜷。時自煩欲去衣被者。為可治也。</p>
<p>少陽病有煩而悸者。此屬胃。胃不和則煩而悸。和胃為主。又有悸而煩者。如經云傷寒二三日。心中悸而煩者。小建中湯主之。是也。大凡先煩而後悸者。屬實。先悸而後煩者。屬虛。補虛泄實。治各不同矣。</p>
<p>別有所謂懊憹者。比煩而甚者也。宜因證而分別吐下。如經云。陽明病。其外有熱。手足溫。不結胸。心中懊憹。飢不能食。但頭汗出者。宜梔子豉湯。此宜吐者也。又經云。陽明病。心中懊憹而煩。胃有燥矢者。可攻。此宜下者也。更有因蛔厥而時自煩者。經云。傷寒蛔厥者。其人當吐蛔。病者靜而復時煩者。此為藏寒。蛔上入其膈。故煩。須臾復止。得食而嘔。又煩者。蛔聞食臭出。其人當自吐蛔。蛔厥者。烏梅丸主之。此得之於時煩時止。得食復煩。與熱鬱者不同。臨證時當細辨也。</p>
<p>有病已愈而猶煩者。經云。吐利發汗。脈平。小煩者。以新虛不勝穀氣故也。又云。病人脈已解而日暮微煩。以脾胃尚弱。不能消穀。故令微煩。損谷即愈。此可勿藥。即藥亦不過平調脾胃。慎勿再與泄熱。重傷胃氣也。</p>

<h2>煩躁</h2>
<p>煩熱者病在外。虛煩者病在內。至所稱煩躁者。謂心中鬱郁而煩。又加以手足躁擾。則謂之煩躁。有屬於陽者。有屬於陰者。其中表里殊因。溫涼異用。宜細辨之。</p>
<p>有邪熱在表。欲汗不汗。因作煩躁者。經云。太陽中風。脈浮緊。發熱惡寒。身疼痛不汗出而煩躁。大青龍湯主之。此乃發汗之峻劑。必辨其無少陰證相雜。方可大發其汗。蓋少陰病之煩躁。由於陽氣微，故忌發汗。太陽病之煩躁。由於陽氣盛。故宜發汗。何以辨之。則以太陽之脈或浮緩或浮緊。而少陰之脈必沉細也。</p>
<p>經云當汗不汗。其人躁煩。病在太陽。宜以汗解矣。然有發汗之後而煩躁者。則以津液被奪。胃中水竭。如經云。太陽病發汗後。大汗出。胃中乾躁。煩躁不得眠。欲得飲水者。少少與飲之。令胃氣和則愈者也。至於胃已實者。如經云。陽明病若發汗則躁。又云。病人不大便五日。繞臍痛。煩躁發作有時。此有燥屎。是又不宜汗而宜下矣。</p>
<p>煩躁屬熱者。為邪熱傳裡之候。然有自表而傳裡者。又有自里而傳表者。大約濕熱之邪。往往先里後表。其病起即胸膈痞滿。口渴譫語。種種里證悉具。其里邪欲出於表。而又不能出。因煩躁發熱者。此等證便不可發汗。發汗則津液被奪。里邪愈錮。宜先與疏里。佐以透表。使裡氣先和。自然得汗而解。蓋其病傳之先後有不同。第就仲景汗下諸法。隨其證之先後而錯綜之。其治法可微會矣。</p>
<p>若風寒之邪。其病初起不煩躁。其後漸煩躁而身熱反去者。如經云傷寒六七日。無大熱。其人躁煩。此為陽去入陰故也。病至此增劇矣。</p>
<p>凡邪入三陰而煩躁者。雖所傳漸深。始終總歸於熱。其有陰盛陽微而作煩躁者。經雲陽微發汗。躁不得眠。則深以發汗為戒矣。蓋其人陽氣本微而陰盛又迫陽於外。則外顯假熱。內實真寒。其脈必沉細。口雖渴。但欲漱水不欲咽者。此其候也。然其中有病本陰寒而致陽微者。又誤施汗下而致陽微者。如經云。少陰病吐利。手足逆冷。煩躁欲死者。吳茱萸湯主之。是此病本陰寒而陽微者也。又如經云。下之後。晝日煩躁不得眠。夜而安靜。不嘔不渴。無表證。脈沉微。身無大熱者。乾薑附子湯主之。又云。發汗若下之。病仍不解。煩躁者。茯苓四逆湯主之。是誤施汗下而陽微者也。然陽氣微者。尚可施回陽之力。其陰盛逼陽於外。而陽已外脫者。如經云。少陰病吐利躁煩四逆者死。少陰病四逆。惡寒而身蜷。脈不至。不煩而躁者死。少陰病脈微細沉。但欲臥。汗出。不煩。自欲吐。至五六日自利。復煩躁。不得臥寐者死。傷寒六七日。脈微手足厥冷煩躁灸厥陰灸不還者死。傷寒發熱下利厥逆躁不得臥者死。如此之煩躁。是陽已垂脫。救亦無及矣。</p>
<p>又有因水氣而煩躁者。金匱云。肺脹咳而上氣。煩躁而喘。脈浮者。心下有水。小青龍加石膏湯主之。蓋心下有水。上射及肺。肺為之脹。故煩躁而喘。乃立此泄肺行水之法。然此病不獨風寒之從外入者。足以與內飲相合。即濕熱之在裡者。或因熱甚而恣啖生冷。或濕邪未解。誤投寒涼。皆能停飲於胸膈之間。寒飲怫鬱其邪。外不能達表。內不能傳胃。故煩躁轉甚。必先消其水氣。則邪得有出路。而煩躁自能漸除。又治法之變也。</p>

<h2>無汗</h2>
<p>汗者心之液。心主營。寒傷營。則血凝泣而無汗。無汗則宜發汗矣。然同一無汗而受病之因有不同。宜審其邪之所在而善調之。使陰陽氣和。營衛流通。自然汗出而解。而非純用辛溫發散之劑。可以迫之使汗也。</p>
<p>太陽病宜以汗解。以太陽主表故也。然風寒暑濕熱之邪。起自太陽者。往往多自汗出。惟寒傷營則無汗。必大發其汗而始解。如經云。太陽病頭痛發熱。身疼腰痛。骨節疼痛。惡風無汗而喘者。麻黃湯主之。又云。太陽中風脈浮緊。發熱惡寒。身疼痛。不汗出而煩躁者。大青龍湯主之。又云。太陽病項背強𠘧𠘧。無汗。惡風者。葛根湯主之。此皆邪在表而宜發汗者是也。</p>
<p>其有不從汗解而從衄解者。經云。太陽病脈浮緊發熱身無汗。自衄者。愈。蓋寒傷營。營主血。得衄而解。與汗同義。即俗所稱為紅汗者是也。</p>
<p>其有病在陽明而無汗者。如經云。陽明病反無汗而小便利。二三日嘔而咳。手足厥者。必苦頭痛。又云。陽明病無汗。小便不利。心中懊憹者。身必發黃。蓋邪在於表。熏發腠理。則使汗自出。故經云。病人濈然汗出者。是轉屬陽明也。此則邪向內傳。不外熏發。故無汗也。</p>
<p>有陽虛而無汗者。經云。脈浮而遲。遲為無陽。不能作汗。其身必癢。又云。陽明病反無汗。其身如蟲行皮中狀者。此以久虛故也。是陽虛而無汗者也。有因陽熱熾盛。陰液被奪。而無汗者。經云。傷寒脈浮。發熱無汗。其表不解者。不可與白虎湯。渴欲飲水。無表證者。白虎加人參湯主之。蓋有表證者。還宜治表。此則表證除而熱渴熾盛。故宜以人參白虎急救其陰。俾陰氣和則陽熱外越。自然汗出而解也。</p>
<p>三陰為病。不得有汗。以邪行於里故也。同一無汗而陰與陽又何以別之。蓋陽脈主浮。而陰脈必沉也。</p>
<p>又有水飲內蓄而無汗者。經云。服桂枝湯或下之。仍頭項強痛。翕翕發熱無汗心下滿微痛。小便不利者。桂枝去桂加茯苓白朮湯主之。蓋汗者津液所布。今水飲內蓄。則津液內滲。故外不得有汗也。</p>
<p>凡當汗之證。服湯一劑。病勢仍在。至於服三劑而仍不得汗。又加以脈躁盛者主死。</p>

<h2>自汗</h2>
<p>太陽病惟寒傷營者無汗。此外若風濕暑熱之邪。初起即令汗自出。至一入陽明。即寒傷營者。其始發熱無汗。至此亦濈然汗出。而不惡寒反惡熱矣。此之自汗。皆不得以表虛論治也。</p>
<p>有邪在於表。汗出不徹。應須再汗而愈者。經云。病常自汗出者。此為榮氣和。榮氣和者外不諧。以衛氣不共營氣和諧故爾。以榮行脈中。衛行脈外。復發其汗。榮衛和則愈。宜桂枝湯。又曰。病人臟無他病。時發熱自汗出而不愈者。此衛氣不和也。先其時發汗則愈。宜桂枝湯。蓋麻黃乃發汗之峻劑。惟無汗者宜之。桂枝則於發汗之中。仍寓固衛之氣。故汗出而復發其汗者。不取麻黃而取桂枝也。</p>
<p>經云。酒客病不可與桂枝湯。以酒客不喜甘故也。蓋酒氣與穀氣相併。其中必熱。故不可與桂枝。以其人濕熱重故也。酒客如此。則凡病之因暑濕而起者。其不宜桂枝更明矣。</p>
<p>其有因裡實而汗自出者。經云。陽明病其人多汗。以津液外出。胃中燥。大便必硬。硬則譫語。小承氣湯主之。又云。陽明病發熱汗多者。急下之。宜大承氣湯。蓋裡氣既通。則邪熱下行而汗自止矣。</p>
<p>又有汗多亡津液。而邪猶在於經。未入於府者經云。服桂枝湯。大汗出後。大煩渴不解。脈洪大者。白虎加人參湯主之。蓋必急救其陰。則煩渴除而汗亦止矣。更有汗多亡陽者。經云。太陽病發汗。遂漏不止。其人惡風。小便難。四支微急。難以屈伸者。桂枝加附子湯主之。又云。發汗病不解。反惡寒者。虛故也。芍藥甘草附子湯主之。蓋必以附子合芍藥以溫經固衛。則陽回而汗自濈。則同一汗出。而虛實寒熱。治又不同矣。</p>
<p>陰病不得有汗。其有汗出如油。喘而不休。以及傷寒六七日不利便。發熱而利。其人汗出不止者。皆死病也。其間有可治者。如經云。下利清穀。裡寒外熱。汗出而厥者。通脈四逆湯主之。既吐且利。小便複利而大汗出。下利清穀。內寒外熱。脈微欲絕者。四逆湯主之。又吐已下斷。汗出而厥。四支拘急不解。脈微欲絕者。通脈四逆湯主之。此皆急溫之證。不可須臾緩也。</p>

<h2>頭汗</h2>
<p>（附手足汗　盜汗）</p>
<p>凡陽明病一身自汗出者。謂之熱越。此熱從外達也。若熱不得越而從上達。則有頭汗證。從傍達則有手足汗證。而其證皆屬陽而不屬陰。仲景云。陰不得有汗。故以是列陽明證也。</p>
<p>頭為諸陽之會。邪鬱於里。不得外越。熱蒸於陽。則頭汗自出。凡見此證者。</p>
<p>多發黃。經云。但頭汗出。余處無汗。劑頸而還。身必發黃。又云。陽明病被火。額上微汗出。而小便不利者。必發黃。此以熱鬱在裡。不得外越故也。然其間有郁之淺者。如經云。陽明病下之。其外有熱。手足溫。不結胸。心中懊憹。飢不能食。但頭汗出者。梔子豉湯主之。此可用吐法以宣其熱也。有郁之深者。如經云。傷寒熱結在裡。但結胸無大熱者。此為水結在胸脅也。但頭微汗出者。大陷胸湯主之。此可用下法以泄其熱也。此皆陽明病。其邪不能外出於陽明之表。而鬱在陽明之裡也。</p>
<p>其有不屬陽明而屬少陽者。經云。傷寒五六日。頭汗出微惡寒。手足冷。心下滿。口不欲食。大便硬。脈細者。此為陽微結。必有表復有里也。脈沉亦在裡也。汗出為陽微。假令純陰結。不得復有外證。悉入在裡。此為半在裡半在外也。脈雖沉緊。不得為少陰病。所以然者。陰不得有汗。今頭汗出。故知非少陰也。可與小柴胡湯。設不了了者。得屎而解。又云。傷寒五六日。已發汗而復下之。胸脅滿微結。小便不利。渴而不嘔。但頭汗出。往來寒熱心煩者。此為未解也。柴胡桂枝幹薑湯主之。小柴胡本少陽之劑。所以兩和表裡。今里證已具。而猶持於半表。故尚見頭汗證也。</p>
<p>更有邪熱陷里而成頭汗證者。經曰。陽明病下血譫語者。此為熱入血室。但頭汗出者。刺期門。隨其實而泄之。濈然汗出而愈。蓋熱入血室而肝藏實。故當刺肝之期門以泄其實。血液為汗。熱邪並汗而出。則血自止矣。然此猶入里之淺者也。更有太陽中風。以火劫發汗。陰陽俱虛竭。身體則枯燥。但頭汗出。劑頸而還。此則津液垂涸之證。惟小便利者。則一線真陰未涸。可以亟救其真陰。故雖種種危證悉具。而仲景曰。小便利者。其人可治也。</p>
<p>又有真陽上脫而頭汗者。經云。關格不通。不得尿。頭無汗者生。有汗者死。又云。濕家下之其人額上汗出。微喘者死。此絕證不可治也。</p>
<p>手足汗乃專屬陽明證。經云。手足濈然汗出者。此大便已硬也。手足濈濈汗出。大便難而譫語者。下之則愈。蓋陽明屬胃。胃主四肢。此由熱聚於胃也。然又有不屬熱而屬寒者。經云。陽明病不能食。小便不利。手足濈然汗出。此欲作固瘕。必大便初硬後溏。所以然者。以胃中冷。水穀不別故也。熱聚於胃者。可下。寒聚於胃者。不可下。此又不可不辨也。</p>
<p>更有盜汗者。乃半表半裡證。邪氣侵行於里。外連於表。睡則衛氣行於里。乘表中陽氣不致。津液得泄。故但睡而汗出。覺則氣散於表而汗止矣。故經云。微盜汗出反惡寒者。表未解也。又陽明病當作裡實而脈浮者。云必盜汗。又三陽合病。目合則汗。凡若此者。皆當清裡和表為治。蓋傷寒盜汗。與雜病之盜汗不同。雜病盜汗可用補法。傷寒盜汗則惟有和表而已。無補法也。</p>

<h2>戰汗</h2>
<p>戰汗者。邪正相爭也。經云。脈浮而緊。按之反芤。此為本虛。故當戰而汗出也。其人本虛。故當發戰。以脈浮。故當汗出而解。觀此則知戰乃邪氣向外之徵。而當欲出未出之界。因本虛必先發戰。而正猶足以拒邪。故戰而汗出。為病解之佳兆也。</p>
<p>戰邪向外者也。若邪向內者。則不名之曰戰。而名之曰慄。戰者身戰也。慄者心戰也。經云。陰中於邪。必內慄也。又云。胃無穀氣。脾澀不通。口急不能言。其人則戰而慄。戰與慄有陰陽之分。不可不知。又有名為振者。與戰相近。但戰則身為之戰搖。振但森然聳動而已。其人素虛。至欲汗之時。必蒸蒸而振。卻發熱汗出而解。是振較之戰為輕也。如經所云。亡血家發汗則寒慄而振。與夫下後復發汗其人振寒者。皆虛象也。然此猶淺焉者也。若經云。若吐若下後。心下逆滿。氣上衝胸。起則頭眩。發汗則動經。身為振振搖者。茯苓桂枝白朮甘草湯主之。又云太陽病發汗不解。其人仍發熱。心下悸。頭眩身瞤動振振欲擗地者。真武湯主之。此之振也。亟與回陽。猶恐不及。又非戰汗所可同日語矣。</p>
<p>戰汗之脈。以浮緩為主。浮則邪出於表。緩則胃氣自和。可以托邪外出。而又必察其氣。氣細而長者吉。氣粗而短者危。戰汗之時。不可服藥。補則汗不透而留邪為患。泄則正氣不支而成虛脫。只宜多與熱湯。養津液以助其作汗。須靜候其脈靜氣長。便屬無害。不必驚慌。俟戰止之後。再察其有無留邪。按法施治。若當戰時而驚駭叫喚。則神氣先亂。邪反勝正。轉為危候。不可治矣。</p>
<p>大凡風寒之邪。自表而里。戰汗者少。濕熱之邪。自里而表。戰汗者多。戰汗之後。脈靜身涼。舌胎已淨。胸腹無阻。漸思飲食。斯為全解。否則餘邪未淨而復熱。則有再作戰汗而解者。有戰汗至三四次而解者。總視里證以為據。又或戰定之後。其人忽沉沉睡去。如死一般。須察其脈仍和緩有根者勿訝。俟其氣復即醒矣。亦間有脈停者。又必察其呼吸。如呼吸尚長。此屬脈厥。久之自復。亦勿訝也。</p>
<p>戰解固為佳兆。又或其人脈促氣粗。形體不仁。水漿不下。目直視。舌痿不能言。此則欲脫之象。而非戰解之象矣。</p>
<p>戰汗非由發汗而得。若病之可發汗者。邪在於表也。發汗則汗自出。奚俟於戰。戰汗者。由里出表也。故往往有清涼攻下之劑。絕不參一毫表藥。自得戰汗而解者。此由表裡通達。陰陽交和。自然而然。而非可逼之使汗也。</p>

<h2>頭痛</h2>
<p>（附項強）</p>
<p>太陽之為病。脈浮。頭項強痛。而惡寒。是頭項強痛專屬太陽證。然他經亦互見。特太陽其專主耳。凡邪之自外而入者。必主頭痛。如經云。太陽病頭痛發熱身疼腰痛骨節疼痛惡風無汗而喘者。麻黃湯主之。太陽病頭痛發熱汗出惡風者。桂枝湯主之。此與發熱同機。風寒之邪。自外而入。其脈主浮。故可發之使從汗解也。</p>
<p>其有不從太陽而從少陽者。經云。傷寒脈弦細。頭痛發熱者。屬少陽。少陽不可發汗。此屬胃。胃和則愈。胃不和則煩而悸。蓋弦為少陽定脈。其頭痛特邪之外溢於太陽。而非太陽之自病。故仲景特申發汗之禁。又太陽與少陽並病。頭項強痛。或眩冒。時如結胸。心下痞硬者。慎不可汗。而亦不可下。汗下俱不可。而從少陽和解之法。仲景雖不言。在人因證善會矣。</p>
<p>陽明病尤忌發汗。經云。傷寒六七日。不大便頭痛有熱者。與承氣湯。其小便清者。知不在裡仍在表也。當鬚髮汗。若頭痛者必衄。此言風寒之邪。由表而入。熱未入里。仍宜汗解。既入於裡。則宜以承氣湯下之矣。由此推之。濕熱之邪。本在於里。而外溢於表。其初起每見頭痛證。當以清裡為主。微兼透表。里和則表自解。若徒與攻表。非但頭痛不減。恐里證增劇矣。</p>
<p>太陰病亦有頭痛者。經云。霍亂頭痛發熱身疼痛。熱多欲飲水者。五苓散主之。寒多不用水者。理中湯主之。霍亂。太陰證也。頭痛發熱。是陰病有轉陽之機。惟亟去其裡寒。則病出於陽而可治矣。</p>
<p>少陰一經。與太陽相表裡。太陽之脈浮。少陰之脈沉。經云病發熱頭痛脈反沉。若不瘥。身體疼痛。宜四逆湯。蓋沉非太陽之脈。即不得同太陽發表之例。而與以大發其汗矣。</p>
<p>太陰少陰。其脈上至頸胸中而還。不循於頭。應無頭痛證。然陰陽出入。互相輸應。其機正妙於轉。不能呆執而論。至厥陰之脈。循喉嚨之後。上入頏顙。連目眥。上出額。與督脈會於巔。病亦有頭痛者。如經云。乾嘔吐涎沫頭痛者。吳茱萸湯主之是也。厥陰頭痛。往往直升巔頂。其有痛甚入連於腦。而手足寒者不治。</p>
<p>太陽經病不解。轉傳入府者。其人頭痛而小便不利。治當不從經解。而從府解。如經云。服桂枝湯。或下之。仍頭項強痛翕翕發熱無汗心下滿微痛小便不利者。桂枝去桂加茯苓白朮湯主之。蓋所以運胸中之陽。以化寒水之氣。使從小便則解。故曰。小便利則愈也。由是推之。其有熱結於府。頭痛小便不利。而又加以口渴。則宜以甘寒瀉其府熱。而頭痛自愈。其法又可會矣。</p>
<p>太陽之邪並於上。則頭項強痛。並於下則項背強痛。經云。太陽病項背強𠘧𠘧反汗出惡風者。桂枝加葛根湯主之太陽病項背強𠘧𠘧無汗惡風者。葛根湯主之。此以有汗無汗分別風寒與發熱同義。又經云。病者身熱足寒。頸項強急。惡寒。時頭熱面赤。目脈赤。獨頭面搖。卒口噤背反張者。痙病也，另詳痙門。又結胸者。項亦強如柔痙狀。下之則和。宜大陷胸丸。蓋氣結於胸。則項牽連而強。故下之則和。此雖見項強證。而其邪又不關太陽也。</p>

<h2>身痛</h2>
<p>身痛亦太陽表證。欲發其表。宜以汗解。然陰陽表裡。互有出入。在權其輕重而善治之。不能執一也。</p>
<p>其宜汗解者。如經云。太陽病。頭痛發熱。身疼腰痛。骨節疼痛。惡風無汗而喘者。麻黃湯主之。又云。太陽中風。脈浮緊。發熱惡寒。身疼痛。不汗出而煩躁者。以大青龍湯發之。此發汗之正法也。至於太陽之邪。連及少陽。則如經云。傷寒六七日。發熱。微惡寒。支節煩疼。微嘔。心下支結。外證未去者。柴胡桂枝湯主之。此專用少陽和解之法。而兼桂枝以和太陽之表。則又不純用汗法矣。而脈必以浮為斷。若脈沉者即不得治表。如經云。病發熱頭疼。脈反沉。若不瘥。身體疼痛。當救其里。宜四逆湯。又云。發汗後。身疼痛。脈沉遲者。桂枝芍藥生薑人參新加湯主之。又云。少陰病。身體疼。手足寒。骨節痛。脈沉者。附子湯主之。其間治法天淵。在相其緩急。以分別先後。如傷寒醫下之。續得下利。清穀不止。身疼痛者。急當救里。後身疼痛。清便自調者。急當救表。救里宜四逆湯。救表宜桂枝湯。仲景論中本身昭晰。不得以身痛屬表證。概與發表。致召亡陽之變也。</p>
<p>身痛同為表證。然濕家之為病。一身盡疼。此邪著於裡。外舍於肌肉之間。要當溫經。使自作汗而解。無徑行發表之理。如經云。風濕相搏。身體疼煩。不能自轉側。不嘔不渴。脈浮虛而澀者。桂枝附子湯主之。又曰。風濕相搏。骨節煩疼。掣痛不得屈伸。近之則痛劇。汗出短氣。惡風不欲去衣。或身微腫者。甘草附子湯主之。此二者。當溫經則其汗自透。若大發其汗。病反不除。不嘔不渴。方可溫經。由此推之。則嘔而且渴。又屬濕熱壅滯。汗法尤忌矣。故仲景又曰。太陽中暍者。發熱惡寒。身重而疼痛。要之濕淫與熱淫。皆能使身疼痛。雖宜得汗而解。而汗法不可一例施也。</p>
<p>霍亂下利。本屬陰病。陰病轉陽。往往見身疼痛之證。治宜先溫其里。乃攻其表。如理中四逆輩是也。至吐利止而身痛不休。當消息和解其外。宜桂枝湯小和之。此在仲景論中。有法有方。可以遵循。其有寒盡化熱。轉成陽明燥渴證者。則又當別論矣。</p>
<p>凡用汗法。宜相其人之津液。經云。脈浮緊者。法當身疼痛。宜以汗解之。假令尺中遲者。不可發汗。何以知之然。以榮氣不足血少故也。又瘡家雖身疼痛。不可發汗。汗出則痙。凡用汗法者其慎諸。</p>
<p>有身疼痛而兼體重者。有但體重而身不疼者。有身疼痛而體不重者。如傷寒脈浮緊。一身盡疼痛。必惡寒體重嘔逆。又傷寒脈浮緩。身不疼但重乍有輕時。無少陰證者。此均當大發其汗也。至少陰病。四肢沉重。其脈則沉而不浮矣。他如風溫為病。自汗出。身重多眠。三陽合病。腹滿身重。難以轉側。與夫太陽中暍者身重而疼痛。皆申發汗之禁。總之體重亦有宜汗不宜汗之辨。可與身痛參看。</p>
<p>腰痛一證。其由頭疼身痛而牽連及之者。同屬太陽表證。表解則痛自已矣。兼濕者當察其兼證。分別寒濕與濕熱。依法施治。但太陽病與少陰相為表裡。腰痛又須防腎虛之候。不可不察。</p>
<p>四肢痙痛者。同屬太陽經脈之郁。與身痛參看。痛在周身者。邪之分布也。痛在一處者。邪之專注也。專注之邪。其血脈必別有凝泣之處。須於解表藥加一二引經藥。方驗其風寒暑濕之辨。尤必察其兼證。分別施治。庶無差忒。</p>

<h2>頭眩</h2>
<p>（附目眩　搖頭）</p>
<p>頭痛屬太陽證。其有頭不痛而但苦眩旋者。則得之陽明者居多。凡病初起即苦頭眩者。有風有熱有痰。如經云。陽明病但頭眩不惡寒。故能食而咳。其人必咽痛。陽明病以能食為中風。是因風而頭眩者也。又云。陽明病脈遲。食難用飽。飽則微煩頭眩。必小便難。此欲作谷癉。瘀熱在裡。乃發癉黃。是因熱而頭眩者也。由是而推之於痰。則挾風為風痰。挾熱為熱痰。凡痰必有其致痰之因。審其所因以治生痰之本。則痰自去。此皆實證立治之大法。至於少陽之為病則為目眩。目眩與頭眩有別。而總為陽熱上升之所致也。其有太陽病誤施汗下。因虛致冒而頭眩者。經云。太陽病發汗。汗出不解。其人仍發熱。心下悸。頭眩身瞤動。振振欲擗地者。真武湯主之。又傷寒若吐若下後。心下逆滿。氣上衝胸。起則頭眩。脈沉緊。發汗則動經。身為振振搖者。茯苓桂枝白朮甘草湯主之。是虛寒之候。亟與溫里補虛。猶虞不及。總之汗下不可誤施。經云。動氣在左。不可發汗。發汗則頭眩。動氣在右。不可下。下之則頭眩。動氣在下。不可下。下之則猝起頭眩。仲景早垂深戒矣。</p>
<p>又少陰病。下利止而頭眩。時時自冒者死。諸逆發汗劇者。言亂目眩者死。此陰竭而虛陽上脫。不可復救。有搖頭者。與頭眩又有別。經云。獨頭面搖。卒口噤。背反張者。痙病也。另詳痙門。更有搖頭言者。里痛也。亦尚非逆候。至於陽反獨留。形體如煙燻。直視搖頭者。此為心絕。必不可救。</p>

<h2>咳</h2>
<p>咳之一證。在尋常感冒。由風邪襲於皮毛。內合於肺。其證但鼻塞聲重而不發熱。人多目為傷風輕症。而忽視之。不以為意。然致咳之因。已有寒熱內外之不同矣。若發熱而咳。其病亦有傳變。正不以咳為肺疾。概從肺經論治也。</p>
<p>太陽病表證不解與寒飲相合。因而致咳者。經云。傷寒表不解。心下有水氣。乾嘔發熱而咳者。小青龍湯主之。蓋內外合寒。非溫不解。方用麻黃桂枝。所以去外寒也。半夏乾薑。所以去內寒也。而佐以芍藥五味以收肺氣之逆。此純溫之劑也。至於肺脹咳而上氣。煩躁而喘。脈浮者。即用本方加石膏。蓋其肺氣已熱。而中挾寒飲。上凌及肺。故不廢麻桂之辛溫。而加石膏以降肺金清肅之氣。使水從下趨。此熱因寒用。又非純溫所宜矣。若陽明熱甚。火來乘金。因熱致咳者。不但誤與麻桂。變證不小。即半夏之辛溫亦所不宜。當遵仲景法以栝蔞根易半夏。而欲折陽明之熱。舍石膏又誰與歸。</p>
<p>其有自表入里。轉屬少陽者。經云。傷寒中風。往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔或咳者。小柴胡去人參大棗生薑加乾薑五味子主之。蓋小柴胡湯之用半夏。乃逐飲之聖藥。又有柴胡黃芩以和在表之邪。復用乾薑五味以收肺氣之逆。且有黃芩而乾薑不嫌於過溫。有半夏而五味亦不嫌於過斂也。少陰為水臟。全賴君火以化氣。故與太陽相表裡。其有陽邪陷入陰中而咳者。如經云。少陰病四逆。其人或咳者。四逆散加乾薑五味子湯主之。蓋陽陷入陰。其人四逆。用柴胡以啟其生陽。乾薑五味化飲平逆。此乃和劑而非溫劑也。若少陰君火自病者。如經云。少陰病下利六七日。咳而嘔渴。心煩不得眠。豬苓湯主之。此已從陽熱化氣。其下利乃陽熱下利。以豬苓湯分調水道。則煩渴平而咳利均止矣。凡此皆不宜純溫之證。其宜急溫者。則如經云。少陰病腹痛。小便不利。四肢沉重。疼痛自下利者。此為有水氣。其人或咳者。真武湯加五味子細辛乾薑主之。此則少陽本藏虛寒之病。陽衰陰盛。當急溫而無疑矣。</p>

<h2>衄血</h2>
<p>衄血者。邪熱在表也。邪在於表。宜以汗解。不得汗因致衄。經云。傷寒脈浮緊。不發汗因致衄者。麻黃湯主之。此非麻黃湯之治衄也。謂宜麻黃而不依法以麻黃湯發汗。乃作衄也。又曰。傷寒不大便六七日。頭痛有熱者。與承氣湯。其小便清者。知不在裡仍在表也。當鬚髮汗。若頭痛者必衄。宜桂枝湯。此又非桂枝湯之治衄也。謂宜桂枝而不依法以桂枝湯發汗。乃成衄也。衄與汗同義。而衄家不可發汗。發汗則額上陷脈緊急。直視不能眴不得眠。是衄解之後。無再發汗之理。蓋風寒在表。先犯太陽。從陽化熱。逼血妄行。故經曰。陽盛則欲衄。又曰。太陽病脈浮緊。發熱自衄者愈。是在經之邪。隨衄而解。則知衄正邪解之候也。至陽明病口燥。但欲漱水不欲咽者。此必衄。陽明熱甚則口燥。而熱尚在於經。未入於裡。故但欲漱水不咽以此為欲衄之兆。亦以熱在表故也。</p>
<p>太陽病當汗不汗。轉從衄解。其不當汗而妄汗者。莫如誤發少陰汗。擾動陰血。為變滋烈。經云。少陰病但厥無汗而強發之。必動其血。未知從何道出。或從口鼻。或從目出。是名下厥上竭為難治。則又不得責其為表熱矣。二者。一則誤於當汗不汗。其變小。一則誤於不當汗而汗。其變大。用藥者可不慎歟。</p>

<h2>鼻鳴</h2>
<p>（附鼻如煙煤　鼻如扇張）</p>
<p>太陽中風。鼻鳴乾嘔。鼻鳴者。風邪干肺也。肺主皮毛。風邪襲於皮毛之間。未經深入。故但取輕揚之劑。解散其皮毛之邪。則鼻鳴自已矣。若挾熱者。則鼻鳴而干。宜兼清肺胃之熱。然此猶淺焉者也。至邪熱爍肺。則鼻如煙煤。是肺氣將絕。亟與大劑甘寒。生津瀉熱。猶恐不及矣。更有鼻孔扇張者。或由痰鬱。或由熱鬱。其病亦尚淺而可治。倘因虛竭。鼻中之氣出入皆微。或出多入少。亦屬敗證。百難救一。</p>

<h2>耳聾</h2>
<p>耳聾屬少陽證。少陽當半里半表。邪入少陽。挾痰上升。清竅為蒙。治當清解少陽。則耳聾自罷。又有發汗太過。因虛而致耳聾者。經云。未持脈時。病人叉手自冒心。師因教試令咳而不咳者。此必兩耳聾無聞也。所以然者。以重發汗虛故如此。又曰。病人兩耳無所聞者。以虛故也。既責其為虛。不但不宜再發其汗。而且不宜妄下。惟有以輕清之劑。通調表里。使邪氣漸退。粥食漸加。正氣漸復。自然而愈。不能強治。</p>

<h2>咽痛</h2>
<p>咽痛一證。陰陽寒熱所因不同。最難辨認。大凡陽熱之證。多起於太陽。而陽明與少陽亦互見之。陰寒之病。多中於少陰。而太陰與厥陰亦牽及之。其間溫涼異治。倘辨證先錯。率意投劑。召變甚捷。可不慎諸。</p>
<p>風邪從皮毛而入。首犯太陽。肺先受邪。與痰涎互結。則咽痛而梗。與以驅風利咽。其邪尚淺而易療。其結之甚者。則加以紅腫。則當參用破結消腫之品。又甚者。熱浮之氣彌滿三陽。與毒涎惡血兩相膠結。頃刻之間。脹塞咽喉。致氣不得通而死。或用吐法以宣其痰涎。或用刺法。以去其惡血。救之不容須臾緩矣。</p>
<p>凡陽熱之證。雖至險極惡。人猶易識。至少陰咽痛。人多不識。即識之而溫里之劑。又多畏而不敢輕投。殊不知陰寒之甚。格陽於上。乃致咽痛。真寒假熱。非溫不辦。而溫法又各有別。不容概施。如經云。少陰病二三日咽痛者。可與甘草湯。不瘥者與桔梗湯。又云。少陰病咽中痛。半夏散及湯主之。又云少陰病咽中傷。生瘡不能語言聲不出者。苦酒湯主之。此雖少陰病。以尚無下利逆冷諸變。而證有輕重。方亦有緩急。其不取寒涼直折。一也。若咽痛而復下利。則如經云。少陰病下利清穀。裡寒外熱。手足厥逆。脈微欲絕。身反不惡寒。其人咽痛者。通脈四逆加桔梗湯主之。此因陰寒氣盛。元陽將脫。故宜亟使陽氣歸根。是非峻溫不可矣。</p>
<p>凡咽痛之宜用溫藥者。仲景原為真寒假熱者之立法。若辨證不的。為禍甚速。倘非陰盛陽衰之候。即不得施回陽勝陰之法。故仲景又曰。少陰病下利咽痛。胸滿心煩者。豬膚湯主之。蓋彼因下利而陽亡此因下利而陰涸。治又不同也。更有陽熱熾甚。痰涎湧結。其脈反遲。而協熱下利者。此又屬陽證似陰之候。此惟吐法為最善。經云。病胸上諸實胸中鬱郁而痛。不能食。欲使人按之。而反有涎唾。下利日十餘行。其脈反遲。寸口脈微滑。此可吐之。吐之則利止。蓋胸中閉塞者不可汗。又胸中閉塞者不可下。仲景已有深戒。而病當胸中當吐之。且吐中自寓發散之義。則可使結開而利止也。</p>

<h2>渴</h2>
<p>（附口苦　口甘）</p>
<p>口渴一證。乃傷寒一大關鍵。不可不細心體察。凡風寒在表。邪在太陽。不言渴也。一入陽明。則不惡寒反惡熱。口漸知渴矣。其有太陽病初起而即口渴者。溫熱之邪。自里出表。雖見表證。邪不在表。故仲景云。太陽病發熱而渴。不惡寒者為溫病。又太陽中暍者。其人汗出惡寒身熱而渴也。是不宜發汗。與風寒異治。至於濕溫初起。濕未化熱。口雖渴。卻不能飲。化熱之後。始大渴引飲矣。故就口之渴與不渴。可以辨邪之表裡。中之寒熱。而即可以渴之微甚。辨熱之輕重。臨證時首宜辨此。</p>
<p>凡陽熱之證。一見口渴。即當泄熱為主。至三陰證。如系本藏虛寒自病者。本無所為渴也。然陰病轉陽。亦有發熱而渴者。當與和調津液。不宜直折其熱。緣陰盛陽微。口渴正陽回之候。泄熱則轉瀉其陽矣其或陰液乾涸燥渴轉甚。則量與泄熱之中。尤當佐以養陰生津。此為大渴引飲者立法。若口中雖渴而不欲飲。見水輒避者。即屬真寒假熱之候。其脈或沉細。或空大。當以溫劑引陽歸根。則虛寒之狀反著。倘誤與寒涼。禍不旋踵矣。</p>
<p>霍亂後多見口渴之證。經云。霍亂頭痛發熱身疼痛。熱多欲飲水者。五苓散主之。寒多不用水者。理中丸主之。蓋吐下之後。津液已傷。且陰病轉陽。宜以理脾為主。使脾氣散精。表裡並解。津液流通。而渴自止矣。切不可見渴投涼。反增其逆。且五苓散上升脾津。下通水道。若太陽病不解。犯入膀胱之府。其人有表裡證。渴欲飲水。水入則吐者。亦主此方。以白飲和服方寸七。多服暖水汗出愈。若無太陽表證。而但脈浮發熱。渴欲飲水。小便不利者。五苓之溫化。又所不宜。則宜豬苓湯化熱通津。凡若此者。皆與治陽熱之渴用甘寒者不同也。</p>
<p>凡口渴多屬裡證。若熱在經而不在裡者。口雖渴。但欲漱水不欲咽。此欲作衄血及斑疹之先兆。不可遽用寒涼壅遏邪氣。當審其病因而施解表之法。又凡諸渴證欲飲水者。但當少少與之。令胃氣和則愈。若飲水過多。恐增喘噦悸滿諸變。不可不慎。</p>
<p>別有口苦者。乃邪熱入於少陽。故仲景以口苦咽乾為少陽病之提綱。至於口甘。內經稱為脾癉。由濕熱鬱蒸而成。宜掃除胸中陳腐之氣。此二者口雖不渴。總屬熱證。辛溫忌投矣。</p>

<h1>下集</h1>

<h2>桂枝湯</h2>
<p>桂枝（三兩去皮）　芍藥（三兩）　甘草（二兩炙）　生薑（三兩切）　大棗（十二枚擘）</p>
<p>上五味。㕮咀。以水七升。微火煮取三升。去滓。適寒溫服一升。服已。須臾啜熱稀粥一升余以助藥力。溫覆令一時許。遍身漐漐微似有汗者益佳。不可令大汗如水流漓。病必不除。若一服汗出。病瘥。停後服。不必盡劑。若不汗重服。依前法。又不汗。小促役其間。半日許令三服盡。若病重者。一日一夜服。周時觀之。服一劑盡。病症猶在者。更作服。若汗不出者。乃服二三劑。禁生冷黏滑肉面五辛酒酪臭惡等物。此太陽中風主治之方也。經云。太陽中風。陽浮而陰弱。陽浮者。熱自發。陰弱者。汗自出。嗇嗇惡寒。淅淅惡風。翕翕發熱。鼻鳴乾嘔者。桂枝湯主之。衛強故陽脈浮。營弱故陰脈弱。衛本行脈外。又得風邪相助。則其氣愈外浮。陽主氣。風為陽邪。陽盛則氣易蒸。故陽浮者熱自發也。營本行脈內。更與衛氣不諧。則其氣愈內弱。陰主血。汗為血液。陰弱則液易泄。故陰弱者汗自出也。嗇嗇惡寒。內氣虛也。淅淅惡風。外體疏也。惡寒未有不惡風。惡風未有不惡寒。二者相因。所以經文互言之。翕翕發熱。乃就皮毛上形容。鼻鳴。陽邪壅也。乾嘔。陽氣逆氣。太陽中風之病狀如此。諦實此證。宜用此方。凡欲用仲景方。先須辨證也。</p>
<p>愚按本方主以桂枝者。以桂枝能入營而作汗。非徒取其能驅風也。輔以芍藥者。以芍藥能和營而息風。非徒取其能止汗也。桂枝得芍藥。於發汗之中。仍寓斂液之義。芍藥得桂枝。於益血之內。仍收化氣之功。而桂枝又藉生薑之力。攘之於外。以導風邪之出路。芍藥又得甘草大棗之力。安之於內。以斷風邪之入路。凡讀仲景方。宜深求制方之義。</p>
<p>再按仲景於桂枝湯一方。獨自注云。桂枝本為解肌。解肌者。乃解肌表之邪。不使擾動營血。以是示微發汗於不發汗之中也。而要之桂枝本入營作汗之品。賴有芍藥以收斂汗之功。今人誤謂桂枝一味。能固衛而斂汗。失之遠矣。觀其服法云。服已須臾歠熱稀粥一升。以助藥力。溫覆令一時許。遍身漐漐微似有汗者益佳。不可令如水流漓。此段斡旋之法。具有精義。歠熱稀粥者。欲藉穀氣以助營血而資其汗。若如水流漓。則營弱者益不能勝。故曰病必不除。此中用法之妙。全在營衛強弱上討消息。處桂枝湯方者。先須參透此一關。</p>
<p>再按經文云。太陽病。頭痛發熱汗出惡風者。桂枝湯主之。此與前條太陽中風陽浮陰弱一段大同小異。何所取而重疊其文耶。殊不知彼條言太陽中風。乃昭揭中風之病狀而示之以主方。此條渾言太陽病。則如所云頭項強痛惡寒。乃中風傷寒公共之太陽病。即如本條之頭痛發熱惡風。亦太陽中風傷寒之公共證。更何所辨而知其孰宜麻黃孰宜桂枝耶。其關鍵全以汗出為辨。汗出便是桂枝的對之證。若汗不出而發熱脈浮緊者。是麻黃湯證。誤用桂枝之辛熱。而益以芍藥之酸收。則寒邪凝結。漫無出路。變證蜂起。即顯犯桂枝之大禁矣。此仲景教人辨證之法也。</p>
<p>桂枝湯有禁用三法。用桂枝者不可不知。其一曰。桂枝本為解肌。若其人脈浮緊發熱汗不出者。不可與也。夫脈浮緊發熱汗不出。是寒傷營之脈證。宜麻黃湯主治。脈浮緩發熱汗自出。是風傷衛之脈證。宜桂枝湯主治。今見寒傷營之脈證。即不得主用風傷衛之治法。以其同見頭項強痛惡寒之太陽病。同見浮脈。最易牽混。故重言之曰常須識此。勿令誤也。不此之察而誤用之。其人營氣本實。邪無出路。不能外泄。勢必上湧。又得辛熱酸斂之性。怫鬱其營中之血。不至吐膿血不止。故曰凡服桂枝湯吐者。其後必吐膿血也。至若酒客病不可與桂枝。得湯則嘔。仲景即自注云。以酒客不喜甘故也。諸家皆以酒客胃中濕熱素盛。故得之便滿逆而嘔。則由此而類推之。凡感外邪而中挾溫熱者。其不可亂用桂枝也審矣。予每見今人誤認桂枝湯為斂汗之藥。凡遇濕溫風熱等證。見其汗出熱不解。竟敢恣用桂枝而無忌。此又仲景當日意料之所不及。用之貽誤。不自咎其辨證之不清。反謂古方之難用。而鑑此者轉引叔和桂枝下咽陽盛則斃之說。實其言以相戒。其亦勿思之甚也矣。</p>
<p>桂枝之禁例既明。則凡見頭項強痛惡寒之太陽病。而汗出脈浮緩者。主以桂枝之解肌而無疑矣。解肌者乃解其肌表之邪。而仍欲使之微似有汗也。故經中又指桂枝曰發汗。欲發汗而仍不欲大發其汗。故又曰和。和則發汗之機必不迅。故他方皆刻期取效。而桂枝服後。病證仍在。仍宜作服。觀其服法云。若一服汗出。病瘥。停後服。不必盡劑。若不汗重服。依前法。又不汗。後服小促役其間。半日許令三服盡。若病重者。一日一夜服。周時觀之。服一劑盡。病證仍在。更作服。若汗不出。乃至二三劑。以是為調和營衛。解肌發汗。一定不易之法。但須辨證明晰。用當其病。即未遽效。仍堪復進。以視麻黃湯之大發其汗。固有間也。</p>
<p>再太陽病以風傷衛寒傷營二證。分主桂枝麻黃二法。其說始於許學士。而前明方中行及國朝如喻嘉言程郊倩輩。皆仍其說。唯柯韻伯謂桂枝湯一方。凡頭痛發熱惡風惡寒其脈浮弱汗自出者。不拘何經。不論中風傷寒雜病。鹹得用此發汗。若妄汗妄下而表不解者。仍當用此解肌。推柯氏之意。蓋以仲景於桂枝湯。散見於他經。而用之者亦多。故主論若此。而予就經文細繹之。如經所云傷寒發汗解半日許復煩脈浮數者可更發汗宜桂枝湯一條。柯氏殆據此以為傷寒亦宜桂枝之證。而不知經文明言傷寒發汗解。其用麻黃髮汗可知矣。半日許復煩。脈轉浮數。則因發汗之後。在外之風邪易襲。而在內之營氣已傷。煩因心擾。數屬陰虛。奚堪復任麻黃。其改用桂枝者。非太陽傷寒之宜桂枝。乃發汗後復煩脈浮數之的宜桂枝也。至陽明病之亦有用桂枝者。若經雲陽明病。脈遲。汗出多微惡寒者。表未解。可發汗。宜桂枝湯是也。按陽明本自多汗。但不惡寒而惡熱。今微惡寒。則太陽之表證未罷。亟當從太陽領出其邪。此又非陽明病之宜桂枝。乃太陽表未解之的宜桂枝也。且其下文又云。陽明病。脈浮無汗而喘者。發汗則愈。宜麻黃湯。合此二條觀之。要知邪自太陽初入陽明。須察其邪自太陽中風而來。而中風證未罷。仍當從中風主治之法。邪自太陽傷寒而來。而傷寒證未罷。仍當從傷寒主治之法。益見桂枝麻黃。分主中風傷寒二證。為天然不易之定法矣。至三陰經本無發汗之例。雖太陰病有脈浮可發汗之條。亦非太陰病宜用桂枝。亦以脈浮自當發汗。而本方芍藥生薑大棗。亦得資以奠安太陰。若謂妄汗妄下之後而表未解者。亦宜用此解肌。試思何謂妄汗。正謂桂枝證誤用麻黃。麻黃證誤用桂枝耳。且發汗後不可更用桂枝湯。下後不可更用桂枝湯。仲景設有明禁。其誤下後間有宜桂枝者。亦須察其脈浮。其氣上衝者。方可與之。若不爾者。不可與也。仲景經文。本自明白易曉。若如柯氏所云。則求之多歧。適以滋亂。轉使後之學者。漫無頭緒可尋。況風寒之邪。皆從太陽而入。太陽一經。實為傷寒家開手第一工夫。此等源頭不清。開手便錯。余故不憚援引經文。以直破其惑。而臨證處方。庶有把握。不致淆亂矣。</p>
<p>再按桂枝湯固為太陽初病時立法。而日久亦有宜用之者。總以外證未解為辨。至柯氏所指誤汗誤下兩層。此恰渾舉不得。自當分辨。蓋誤汗之後。即有亡陽漏風諸變。另有專方救逆。雖仲景有傷寒大下後復發汗。心下痞。惡風者。表未解也。不可攻痞。當先解表之條。亦因下後發汗。其痞究從誤下所致。又從惡寒上辨出表未解來。自當先解其表。表解乃可攻痞。此外別無汗後復用桂枝明文。更有表裡錯雜之邪。宜先里後表者。若下利清穀。腹脹滿。身疼痛者。則里證急而表證緩。又當先溫其里。後攻其表。必俟下利止而身痛未休。再當消息和解其外。解外仍不離桂枝成法。此中出入變化。具有元機。全要平時體認經文。臨病詳參脈證。則一百一十三方。皆無誤用。奚啻桂枝也。</p>
<p>再按桂枝固為太陽主方。而救逆之法。從此方變化者。無論增一味。減一味。其主治各不同。但就原方增減分兩。即另立湯名。治證迥別。如本方加桂即名桂枝加桂湯。重加芍藥即名桂枝加芍藥湯之類是也。另宜逐方詮解。附於本方之後。而總以此方為祖。故以是冠一百一十三方之首。</p>

<h2>桂枝加桂湯</h2>
<p>桂枝湯方內。更加桂二兩。成五兩。上五味以水七升。煮取三升。去滓。</p>
<p>溫服一升。</p>
<p>桂枝湯治太陽中風。乃兩和營衛之聖藥。今照原方加桂。便另立湯名。主治之病。迥然不同。可見先聖立方之嚴。即分兩亦不可苟也。經云。太陽傷寒者。加溫針必驚也。又云。燒針令其汗。針處被寒。核起而赤者。必發奔豚。氣從少腹上衝心者。灸其核上各一壯。與桂枝加桂湯更加桂。按奔豚乃少陰腎水凌心之證。何以主用桂枝太陽之方。蓋太陽為諸陽主氣。而行太陽之令者。心主是也。太陽傷寒。理應發汗。汗為心之液。全賴心主之一點真陽。以化氣而逐邪。誤用溫針。則寒邪不外出而內入。內入則擾動心營。心陽受寒邪所迫。君主孤危。腎水得而乘之矣。核起而赤。心陽不能內固。色已外見。氣從少腹上衝心。水邪上逆。真火將受其撲滅。故亟灸核上。先使溫經而復陽。而方中重用桂枝者。以桂枝能直入營分。扶陽化氣。得此重兵以建赤幟。則君主得自振拔。而腎水自降。泄北補南。一舉兩得。此為制勝之師。</p>
<p>按此方加桂。或作桂枝外另加肉桂。但有成五兩三字。當仍屬桂枝。且此證本因太陽病誤治所致。重用桂枝。正以一物而全收安內攘外之功。</p>

<h2>桂枝加附子湯</h2>
<p>於桂枝湯方內。加附子一枚。炮去皮。破八片。余依前法。</p>
<p>此治汗出漏風之方也。經云。太陽病。發汗。遂漏不止。其人惡風。小便難。四肢微急。難以屈伸者。此方主之。按太陽病當取漐漐微似有汗者佳。不可令如水流漓。大發其汗。衛撤藩籬。營不能守。遂至漏不止矣。腠理既開。風無所御。而津液盡隨陽氣外泄。無復滲膀胱而柔筋脈。乃至小便難。四肢微急。難以屈伸。種種變證。皆因衛氣撤護。致在內之津液。直趨於外。有莫御之勢。亟當乘津液尚未全涸之時。固其衛氣。使趨外之津液。還返於內。故主桂枝湯加附子。以固衛之法。為救液之法也。此證全是衛氣外泄。津液內奪之象。而附子乃燥液之品。仲景偏用之救液。此何義也。蓋衛陽將脫。非得附子之大力。必不能迅走衛分以回陽。今但使衛陽亟固。先斷其外泄之路。則就吾身固有之津液。還返於內。陽回而津自復。更無藉他藥生津潤燥之力。此其立方之所以聖也。按此方之加附子。與亡陽證之用真武同義。喻嘉言曰。此陽氣與陰津兩亡。更加外風復入。與亡陽證微細有別。故主桂枝加附子。以固表驅風。而復陽斂液也。</p>

<h2>桂枝新加湯</h2>
<p>芍藥　生薑（各一兩）　人參（三兩）　桂枝（三兩去皮）　芍藥（四兩）　甘草（二兩炙）　人參（三兩）　生薑（四兩）　大棗（十二枚擘）</p>
<p>上六味。以水一斗一升。微火煮取三升。去滓分溫服。</p>
<p>經云。發汗後。身疼痛。脈沉遲者。此湯主之。身疼痛。表未盡也。脈沉遲。里已虛也。得之發汗之後。則營血亦微矣。故加芍藥以益營血。加生薑以逐表邪。以其脈沉遲。不得不兼人參以補虛。但一桂枝湯而稍一轉移。已非桂枝之舊法。故曰新加。</p>
<p>按柯韻伯傷寒論翼。謂此方系去芍藥生薑。新加人參。加芍藥生薑。乃坊本之訛。但諸家皆仍加芍藥生薑之說。想柯氏之意。以脈見沉遲。似無再加芍藥之理。但病屬發汗以後。則芍藥益營之功。自宜重恃。</p>
<p>程郊倩曰。身疼痛。脈沉遲。得之太陽病發汗後。非屬陰寒。乃由內陽外越。營陰遂虛。營主血。血少則隧道窒塞。衛氣不流通。故身疼痛。於桂枝湯中倍芍藥生薑。養營血而從陰分宣邪。加人參托裡虛而從陽分長陰。脈沉者營氣微。遲者營中寒。此沉遲之脈。非本來之沉遲。乃汗後新得之沉遲。故治法亦新加人參而倍姜芍。此說亦自解得明白。</p>
<p>喻嘉言曰。桂枝人參湯中去芍藥者。以誤下而邪入於陰。芍藥主陰。不能散陽邪也。桂枝新加湯中倍芍藥者。以誤汗而陽虛邪湊。恐陽孤無偶。用芍藥以和之。俾不至散亂也。此說亦當參看。</p>

<h2>芍藥甘草附子湯</h2>
<p>芍藥（三兩）　甘草（二兩炙）　附子（一枚泡去皮切八片）　</p>
<p>以上三味。以水五升。煮取一升五合。去滓。分溫服。</p>
<p>此桂枝湯去桂薑棗。加附子。亦桂枝湯之變方也。經云。發汗病不解。反惡寒者。虛故也。此湯主之。發汗後之惡寒。其非表邪可知。若因其惡寒而投以桂枝。誤也。故以附子合芍藥甘草。從陰分斂戢其陽。陽回而虛自止矣。</p>
<p>凡汗後之惡寒屬虛。汗不出之惡寒屬實。不得以汗不出之惡寒。攔入陽虛一路。此又仲景言外之意。宜識之。</p>

<h2>桂枝甘草湯</h2>
<p>桂枝（四兩去皮）　甘草（二兩炙）　</p>
<p>上二味。以水三升。煮取一升。去滓頓服。</p>
<p>此於桂枝湯中摘取二味。遂變和營固衛之方。而為理虛護陽之劑也。經云。發汗過多。其人叉手自冒心。心下悸。欲得按者。桂枝甘草湯主之。</p>
<p>汗者心之液。發汗過多。則心氣虛。虛故悸。叉手冒心。心陽失護而求衛也。因虛而悸。故欲得按。乃於桂枝湯中盡撤生薑之辛散。大棗之泥滯。並無藉於芍藥之酸收。獨任桂枝入心營以助陽。又得甘草逗遛中土。載還陽氣。則心君復辟。中宮謐泰矣。</p>
<p>徐靈胎曰。此乃亡陽之輕者。同一心下悸證。若其人頭眩身瞤動。振振欲擗地。又屬真武湯矣。一證而輕重不同。用方迥異。其義精矣。</p>

<h2>茯苓桂枝甘草大棗湯</h2>
<p>茯苓（半斤）　桂枝（四兩去皮）　甘草（二兩炙）　大棗（十二枚擘）</p>
<p>上四味。以甘瀾水一斗。先煮茯苓。減二升。納諸藥。煮取三升。去滓。溫服一升。日三服。作甘瀾水法。取水三斗。置大盆內。以杓揚之。水上有珠子五六千顆相逐。取用之。</p>
<p>發汗後。其人臍下悸者。欲作奔豚。此湯主之。按心下悸。是心陽虛。臍下悸。是腎氣動。腎氣一動。便有凌心之勢。若俟其奔豚既作。則補救已晚。亟當乘此欲作未作之時。預伐其謀。桂枝保心氣。茯苓泄腎邪。甘草大棗培土製水。煮以甘瀾水。取其力薄。不致助水也。</p>
<p>再論桂枝加桂湯。不用茯苓者。以氣已從少腹上衝心。難恃茯苓滲泄之力。故寄重任於桂枝。以助心陽而伐腎氣。此則水勢尚在下焦。尚堪培土以制水也。</p>

<h2>桂枝去桂加茯苓白朮湯</h2>
<p>芍藥　白朮　茯苓　生薑（各三兩）　甘草（二兩炙）　大棗（十二枚擘）</p>
<p>上六味。以水八升。煮取三升。去滓。溫服一升。小便利則愈。</p>
<p>此治太陽里水法也。經云。服桂枝湯。或下之。仍頭項強痛。翕翕發熱。無汗。心下滿。微痛。小便不利者。本方主之。按頭項強痛。翕翕發熱。明是桂枝湯證。乃服湯已。或下之。而本證仍在。反加無汗。汗不外出。水氣停於心下。因而滿痛。但滿而不硬。痛而尚微。又非誤下結胸之比。皆因小便不利。膀胱之水不行。致中焦之氣不運。雖見太陽諸證。病恰在府而不在經。病不在經。不當攻表。自宜去桂。病已入府。法當行水。宜加苓朮培土製水。而姜芍甘棗。乃得協成利水散邪之功。以其證本太陽。故雖去桂而仍以桂枝名湯也。</p>
<p>按此條。方中行謂中風兼寒。故桂枝及下法皆誤。喻嘉言亦從其解。而程郊倩又以中氣虛津液少立論。總覺牽強附會。與方義不甚相合。惟柯韻伯主太陽府病立論。王晉三亦以為治太陽里水法。則理路乃覺清晰。而方義亦屬熨貼。今從之。</p>

<h2>桂枝人參湯</h2>
<p>桂枝（四兩去皮）　甘草（四兩炙）　白朮（三兩）　人參（三兩）　乾薑（三兩）</p>
<p>上五味。以水九升。先煎四味。取五升。納桂枝。更煮取三升。去滓。溫服一升。日再服。夜一服。</p>
<p>此理中加桂枝而易其名也。經云。太陽病。外證未除。而數下之。遂協熱而利。利下不止。心下痞硬。表裡不解者。此湯主之。蓋因誤下則裡虛。裡虛則熱入。裡虛不能內守。遂協同外熱。變而為利下不止。而必又心下痞硬。邪滯上焦。猶兼半表。故曰表裡不解。夫下利不止。何以不用四逆以救里。以表熱未罷也。心下痞硬。何以不用瀉心以清裡。以裡氣已虛也。此證輒防陽併入陰。故不但瀉心中芩連不可用。即桂枝湯中芍藥亦不可用。乃取桂枝行陽於外以解表。理中助陽於內以止利。此表裡兩解之治法也。</p>

<h2>葛根黃連黃芩湯</h2>
<p>葛根（半斤）　黃連（三兩）　黃芩（二兩）　甘草（二兩炙）</p>
<p>上四味。以水八升。先煮葛根。減二升。納諸藥。煮取二升。去滓。分溫再服。</p>
<p>此桂枝證誤下救逆之法。非葛根湯之變制也。經云。太陽病。桂枝證。醫反下之。利遂不止。脈促者表未解也。喘而汗出者。此湯主之。夫誤下致利。亦有陽盛陽虛之別。但下利脈不應促而反促者。此屬表未解之診也。邪束於表。陽擾於內。喘而汗出。乃表裡俱熱之象。則治表不宜用桂枝。而當改葛根以解表。治里不宜用理中。而反取芩連以清裡矣。</p>
<p>按此當與前條桂枝人參證參看。柯韻伯曰。上條脈證是陽虛。此條脈證是陽盛。上條表熱裡寒。此條表裡俱熱。上條表裡俱虛。此條表裡俱實。同一協熱利。同是表裡不解。而寒熱虛實。攻補不同。補中亦能解表。亦能除痞。寒中亦能解表。亦能止利。神化極矣。</p>

<h2>桂枝去芍藥湯</h2>
<p>於桂枝湯方內去芍藥。余依前法。</p>
<p>此當與上條葛根黃連黃芩湯證參看。經云。太陽病。下之後。脈促胸滿者。桂枝去芍藥湯主之。按下後脈促。同屬表未解之診。而促脈中又有陽盛陽虛之別。誤下脈促。雖與上條同。然既無下利不止之證。又無喘而汗出之證。但見胸滿。而又非結胸硬痛者比。則胸滿非下後陽邪之內陷。實因下後陰邪之上搏。但當扶陽逐邪。不宜再益陰氣。故治法仍主桂枝。而方中芍藥。自在急刪之列也。</p>

<h2>桂枝去芍藥加附子湯</h2>
<p>於桂枝湯方內去芍藥。加附子一枚。泡去皮。破八片。余依前法。</p>
<p>太陽病。脈促胸滿者。桂枝去芍藥湯主之。若微惡寒者。去芍藥方中加附子湯主之。按上條脈促胸滿。是下後陽虛。陰邪搏膈。但當薑桂助陽散邪。不宜芍藥益陰增滿。若微惡寒。則搏膈之陰邪。漸將侵越衛外。瞬有亡陽之變矣。前方雖去芍藥。而薑桂之力。尚不足以勝回陽之任。故必藉附子之剛烈。迅走衛外。以驅陰而復陽。預杜亡陽之變也。</p>

<h2>桂枝加厚朴杏仁湯</h2>
<p>於桂枝湯方內。加厚朴二兩。杏仁五十個。去皮尖。余依前法。</p>
<p>此亦當與葛根黃連黃芩湯證參看。經云。太陽病。下之微喘者。表未解故也。桂枝加厚朴杏仁湯主之。同屬喘之一證。有表有里。不可不辨。下後汗出而喘者。其喘必盛。是裡熱壅遏。火炎故也。下後微喘者。其汗必不大出。是表邪閉遏。氣逆故也。表未解仍宜從表。治主桂枝解表。加樸杏以下逆氣。按本草厚朴杏仁。主消痰下氣。故又曰喘家作桂枝湯。加厚朴杏子佳也。</p>
<p>喻嘉言曰。此誤風邪誤下作喘治法之大要。若寒邪誤下作喘。當用麻黃石膏。即此可推。</p>

<h2>桂枝加芍藥湯</h2>
<p>於桂枝湯方內。更加芍藥三兩。隨前共六兩。余依桂枝湯法。</p>
<p>桂枝湯原方倍加芍藥。即另立湯名。主治各別。與桂枝加桂湯同妙。經云。本太陽病。醫反下之。因爾腹滿時痛者屬太陰也。桂枝加芍藥湯主之。大實痛者。桂枝加大黃湯主之。按腹滿時痛。痛而不實。即已伏下利之機。但究因太陽誤下。表邪內陷。留滯太陰。非太陰藏寒本病。故仍用桂枝領出太陽陷入太陰之邪。但倍芍藥滋脾陰而除滿痛耳。</p>
<p>再按腹滿時痛。倍用芍藥。得毋疑其太斂。程郊倩曰。以其邪陷已深。一經桂枝升舉陽邪。正防脾陰隨表藥而外泄。此為獨得真解。</p>

<h2>桂枝加大黃湯</h2>
<p>桂枝（二兩去皮）　大黃（一兩）　芍藥（六兩）　生薑（二兩切）　甘草（一兩炙）　大棗（十二枚）</p>
<p>上六味。以水七升。煮取三升。去滓。溫服一升。日三服。</p>
<p>按此條之大實痛。則非腹滿時痛之比矣。腹滿時痛。是脾陰為虛陽所擾。大實痛則脾氣與陽氣俱實。大實大滿。似宜亟下。但陽邪究從太陽陷入太陰。與陽明胃實不同。仍宜桂枝領出陽邪。但加大黃微導其滯。則表裡兩邪。各有去路。程郊倩曰。二證雖屬太陰。然來路實從太陽。則脈必尚有浮者存。</p>
<p>再按柯韻伯謂腹滿時痛。是太陽太陰並病。若大實痛。是太陽陽明並病。滿而時痛。下利之兆。大實而痛。燥屎之徵。桂枝加芍藥。小試建中之劑。桂枝加大黃。微示調胃之功。王晉三亦沿此論。然經文大實痛三字直接上文。並無轉屬陽明之說。而仲景於太陰病。亦有當行大黃芍藥之條。若果陽明胃實。則大實痛正承氣亟攻之證。而桂枝加大黃。究屬和解之法。並非下奪之劑。恐柯氏所云。未免失之穿鑿。</p>

<h2>桂枝去芍藥加蜀漆龍骨牡蠣救逆湯</h2>
<p>桂枝（三兩去皮）　甘草（二兩炙）　生薑（三兩切）　大棗（十二枚擘）　蜀漆（二兩洗去腳）龍骨（四兩）　牡蠣（五兩熬）</p>
<p>上為末。以水一斗二升。先煮蜀漆。減二升。納諸藥。煮取三升。去滓。溫服一升。經云。傷寒脈浮。醫以火迫劫之亡陽。必驚狂。臥起不安者。此方主之。按亡陽有二義。發汗過多。厥逆筋惕肉瞤而亡陽者。乃亡陰中之陽。故用真武輩以救之。此以火劫致變。驚狂臥起不安而亡陽者。乃亡陽中之陽。故無藉於芍藥斂陰。而當加重鎮入心之品。以急挽飛越之陽神也。此證稍緩須臾。神丹莫挽。故重加救逆二字。喻嘉言曰。桂枝湯除去芍藥。非惡其酸收也。蓋陽神散亂。當求之於陽桂枝湯。陽藥也。然必去芍藥之陰重。始得疾趨以達於陽位。既達陽位矣。其神之驚狂者。漫難安定。更加蜀漆為之主統。則神可賴之以安矣。緣蜀漆之性最急。丹溪謂其能飛補是也。更加龍骨牡蠣。有形之骨屬。為之舟楫。以載神而反其宅。亦於重以鎮怯。澀以固脫之外。行其妙用。如是而後天君復辟。聿追晉重耳越勾踐返國之良圖矣。</p>

<h2>桂枝甘草龍骨牡蠣湯</h2>
<p>桂枝（一兩去皮）　甘草（二兩炙）　牡蠣（二兩炙）　龍骨（二兩）</p>
<p>上為末。以水五升。煮取二升。去滓。溫服八合。日三服。</p>
<p>經云。火逆下之。因燒針煩躁者。此湯主之。此證較上條稍輕。以元陽尚未至飛越。故無取蜀漆迅疾之性。急追以滋擾。但下後燒針誤而再誤因致煩躁。則此煩躁。非太陽病汗不出之煩躁。又非少陰病吐利後之煩躁。是已具起臥不安之象。而為驚狂之漸。即伏亡陽之機。故主桂枝入心助陽。而加甘草龍骨牡蠣。以安中而鎮逆也。</p>

<h2>桂枝麻黃各半湯</h2>
<p>桂枝（一兩十六銖去皮）　芍藥　生薑　甘草　麻黃（各一兩去節）　杏仁（二十四枚湯浸去皮尖及雙仁者）　大棗（四枚擘）</p>
<p>上七味。以水五升。先煮麻黃一二沸。去上沫。納諸藥。煮取一升八合。去滓。溫服。</p>
<p>按太陽病。得之八九日如瘧狀。發熱惡寒。熱多寒少。此當正邪勝復之關。一則慮其邪之轉屬。一則慮其正之已虛。不可不細辨矣。若其人不嘔。清便欲自可。是邪不屬裡。一日二三度發。是邪已外向。脈又微緩。則胃氣足以敵邪。乃為欲愈之徵。倘脈微而惡寒甚。此陰陽俱虛。不可更發汗更下更吐。恐誤治傷陽。反生他變。若其人面色反有熱色者。是為欲解未解之象。以其不能得小汗以宣助陽氣。致陽氣雖不內擾。卻怫鬱於皮膚肌肉之間。其身必癢。此明證也。故主桂麻而小其制。但得汗出而邪盡解矣。</p>

<h2>桂枝二麻黃一湯</h2>
<p>桂枝（一兩十七銖）　芍藥（一兩六銖）　麻黃（十六銖去節）　生薑（一兩六銖切）　杏仁（十六個去皮尖）　甘草（一兩二銖炙）　大棗（五枚擘）</p>
<p>上七味。以水五升。先煮麻黃一二沸。去上沫。納諸藥。煮取二升。去滓。溫服一升。日三服。</p>
<p>此條與桂枝麻黃各半湯證相類。經云服桂枝湯大汗出脈洪大者。與桂枝湯如前法。若形如瘧。日再發者。汗出必解。宜用此湯。彼以陽氣怫鬱在表。故主桂麻並用。此屬大汗出之後。故桂枝略重而麻黃略輕。</p>

<h2>桂枝二越婢一湯</h2>
<p>桂枝（去皮）　芍藥　甘草（各十八銖炙）　生薑（一兩三錢切）　大棗（四枚擘）　麻黃（十八銖去節）　石膏（二十四銖碎綿裹）</p>
<p>上七味。㕮咀。以水五升。先煮麻黃一二沸。去上沫。納諸藥。煮取二升。去滓。溫服一升。本方當裁為越婢湯桂枝湯合飲一升。今合為一方。桂枝二。越婢一。</p>
<p>經云太陽病。發熱惡寒。熱多寒少。脈微弱者。此無陽也。不可更汗。宜桂枝二越婢一湯。按無陽何以用石膏。因此諸家詮釋。不得其解。或謂無陽乃無津液之義。與亡陽有別。並與陽虛不同。或謂陽邪來乘。正陽為其所奪。至柯韻伯謂此條必有錯簡。愚按無陽二字。乃謂無陽邪也。發熱惡寒。熱多寒少。疑屬陽邪為患。但脈見微弱。知邪不在陽分也。既無陽邪。不當更汗。文義便明白易曉。故主以桂枝之二。越婢之一。以和陰而宣陽也。</p>
<p>按越婢二字之義。喻嘉言謂化熱生津。柔緩之性。比女婢尤為過之。恐仲景命名取義。當不若是之遠也。外臺方作越脾。內經言脾不濡。脾不能為胃行其津液。此起太陰之津。以滋陽明之液。成無己亦作發越脾氣解。</p>

<h2>桂枝加葛根湯</h2>
<p>桂枝湯原方。加葛根四兩。桂枝芍藥各減一兩。余同。</p>
<p>上六味。以水一斗。先煮葛根減二升。去上沫。納諸藥。煮取三升。去滓。溫服一升。覆取微似汗。不須啜粥。</p>
<p>經云。太陽病。項背強𠘧𠘧。反汗出惡風者。此方主之。按太陽病頭項強痛。強不及背。項背強𠘧𠘧五字連讀。𠘧音殊。鳥之短羽者。動則引頸𠘧𠘧然。形容病人俯仰不能自如之狀。此屬太陽兼陽明之象。汗出惡風。太陽未罷。故仍以桂枝為主方。加葛根者。恐邪氣愈轉愈深。亟伐陽明之邪也。</p>

<h2>麻黃湯</h2>
<p>麻黃（三兩去節）　桂枝（二兩去皮）　甘草（一兩炙）　杏仁（七十個湯泡去皮尖）</p>
<p>上四味。以水九升。先煮麻黃。減二升。去上沫。納諸藥。煮取二升半。去滓。溫服八合。覆取微似汗。不須啜粥。余如桂枝法將息。</p>
<p>此太陽傷寒主治之方也。經云。太陽病。頭痛發熱身疼腰痛骨節疼痛惡風無汗而喘者。麻黃湯主之。同屬脈浮頭項強痛惡寒之太陽病。發熱汗出惡風脈緩者。名為中風。或已發熱。或未發熱。惡寒體重嘔逆。脈陰陽俱緊者。名曰傷寒。中風頭痛。傷寒亦頭痛。中風發熱。傷寒亦發熱。中風惡風。傷寒亦惡風。至身疼腰痛。骨節疼痛。乃屬體重之徵。似與中風不同。然身疼痛。亦有宜桂枝解表者。然則從何辨其證之的宜麻黃。不宜桂枝耶。其著眼全在無汗而喘四字。麻黃走衛發汗。杏仁下氣定喘。以是為主。而佐以桂枝入營散寒。甘草和中保液。視桂枝之調和營衛。以取微汗者不同也。</p>
<p>桂枝麻黃。分主太陽病風傷衛寒傷營二證。桂枝湯中不用麻黃。而麻黃湯中何以反用桂枝。或謂麻黃髮汗太峻。取桂枝以監製之。予則不信也。按桂枝辛熱。能入營而助汗。桂枝湯中。尚取芍藥監製桂枝。豈桂枝反能監製麻黃。蓋凡病之在太陽者。全要從營衛上討消息。風則傷衛。衛氣疏則風易入。衛屬陽。風為陽邪。兩陽相合。則衛強而營反弱。故脈緩而有汗。衛邪易出。但取主桂枝入營助汗。而無取麻黃過泄衛分之氣也。寒則傷營。營氣實則寒易著。營主陰。寒為陰邪。兩陰相搏。則寒凝而衛亦閉。故脈緊而無汗。營邪不易出。宜主麻黃走衛發汗。必兼藉桂枝以散營分之寒也。此本發汗之峻劑。故更不須啜稀粥以助藥力也。不用薑棗者。以姜性升而棗味滯。慮礙杏仁下氣定喘之功也。</p>
<p>脈陰陽俱緊者名曰傷寒。則緊固為寒邪之定脈矣。然沉緊者不宜發汗。當以浮字為辨。故又曰脈浮者病在表當發汗。宜麻黃湯也。脈之緊者與數不同。緊以象言。有堅凝之義。數以數言。有迅走之狀。傷寒脈數者為欲傳也。但浮而數則病尚在表。可乘其半渡而擊之。亦宜以麻黃湯發汗也。</p>
<p>麻黃湯為發汗之重劑。投之不當。變逆非小。即宜發汗之劑。亦須相人之津液。若尺中遲者不可發汗。身重心悸者不可發汗。咽喉乾燥者不可發汗。淋家不可發汗。瘡家不可發汗。衄家不可發汗。亡血家不可發汗。汗家不可重發汗。俱在麻黃之禁例矣。然當發汗者。或疑畏而不發。邪氣不從表解。轉陷入里。其變逆亦不小。總須審系營衛俱實。無汗而喘者。可放心用之而無疑。此全在平脈辨證工夫。</p>
<p>傷寒有從衄解者。經云。太陽病。脈浮緊。無汗。發熱。身疼痛。八九日不解。表證仍在。此當發其汗。服藥已微除。其人發煩熱目瞑。劇者必衄。衄乃解。所以然者。陽氣重故也。麻黃湯主之。又云。傷寒脈浮緊。不發汗。因致衄者。麻黃湯主之。注家隨文衍義。謂衄後當再用麻黃。以散餘邪。按傷寒有衄家不可發汗之禁。而經又言太陽病脈浮緊發熱身無汗。自衄者愈。衄後病解。何以又用麻黃之峻攻。柯韻伯謂麻黃湯主之五字。當屬未致衄以前是前人倒找文法。此言近是。</p>
<p>再按太陽病之主麻黃湯。總以脈浮無汗而喘。為對證之藥。其有太陽與陽明合病。喘而胸滿者。邪結上焦。不可妄下。治不從陽明而從太陽。仍宜麻黃湯也。太陽病過十日以上。脈浮細。嗜臥。設胸脅滿痛者。屬柴胡證。若脈但浮者。是邪尚戀太陽。治亦從太陽而不從少陽。仍宜麻黃湯也。</p>
<p>再按柯韻伯謂桂枝麻黃。是通治太陽風寒之藥。中風之重者。便是傷寒。傷寒之輕者。便是中風。桂枝發汗之輕劑。麻黃髮汗之重劑。不必在風寒上細分。只在有汗無汗上著眼。此啟後人淆亂之階。不可為訓。要之麻黃髮汗。杏仁定喘。無汗而喘。是傷寒之的證。麻黃湯是傷寒之的方。用者審之。</p>

<h2>麻黃杏仁甘草石膏湯</h2>
<p>麻黃（四兩去節）　杏仁（五十個）　甘草（二兩炙）　石膏（半斤碎綿裹）</p>
<p>上四味。以水七升。先煮麻黃。減二升。去上沫。納諸藥。煮取二升。去滓。溫服一升。</p>
<p>此即麻黃湯去桂枝而加石膏也。即用以治發汗及下後。汗出而喘之證。然必審無大熱。方可用之。有大熱者。恐兼里證。無大熱者。明是表邪未徹。留戀在肺。肺主衛。故仍宜麻杏直泄肺邪。去桂枝者辛熱之性。不宜再擾動營血也。加石膏者。降肺金清肅之氣。用以生津而保液也。中風之誤下而喘者。用厚朴杏仁加入桂枝湯中。傷寒汗及下後而喘者。用石膏加入麻黃湯中。喻嘉言曰。仲景正恐人以傷寒已得汗之證。認為傷風有汗。而誤用桂枝。故特出汗後下後兩條。示以同歸麻黃一治之要。益見營衛攸分。而成法不容混施矣。</p>
<p>程郊倩曰。喘而汗出脈必浮數。可去桂枝之熱。而加石膏之涼亦脈浮數者可發汗之一徵也。</p>

<h2>大青龍湯</h2>
<p>麻黃（六兩去節）　桂枝（二兩去皮）　甘草（二兩炙）　杏仁（五十粒去皮尖）　生薑（三兩切）　大棗（十二枚擘）　石膏（如雞子大碎）</p>
<p>上七味。以水九升。先煮麻黃。減二升。去上沫。納諸藥。煮取三升。去滓。溫服一升。取微似汗。汗出多者溫粉撲之。一服汗者停後服。汗多亡陽遂虛惡風煩躁不得眠也。</p>
<p>此即合麻桂二方。去芍藥而加石膏也。按桂枝主風傷衛。麻黃主寒傷營。此則傷風見寒。傷寒見風。主大青龍。方中行喻嘉言皆以此分為三大綱。疏太陽上中下三篇。程郊倩謂本論太陽煩躁一條。系寒溫雜邪。溫得風而陽熱化氣。陰寒在表。郁住陽熱之氣在經。而生煩熱。熱則並擾其陰而作躁。故加石膏於麻黃湯中。使辛熱之氣變為辛涼。則寒得麻黃湯之辛熱而外解。熱得石膏之辛涼而內解。又以傷寒脈浮緩一條。屬小青龍湯。大字系坊本之訛。而柯韻伯又謂此屬麻黃證之劇者。由風熱相搏。故倍麻黃以發汗。加石膏以除煩。不宜以風寒兩傷立說。愚按經文中風脈浮緊。傷寒脈浮緩。本自迴環互說。若攔入溫熱一路。則溫熱未有內鬱而不口渴者。何以本文並不言渴。而發熱惡寒身疼痛。皆中風傷寒互見之證。雖煩躁似屬熱象。亦因不汗出。則風寒之邪無從解。邪無從解。則鬱而成熱。因致煩躁。故方中麻桂生薑辛熱之藥。用至十兩有奇。而石膏僅如雞子大一塊。又得甘草大棗相輔。借其生津之妙用。以作汗而除煩止躁。謹將經文兩條闡發於後。</p>
<p>經云。太陽中風。脈浮緊。發熱惡寒。身疼痛。不汗出而煩躁者。大青龍湯主之。按太陽中風。脈當浮緩。是桂枝湯證。今浮緊是見寒傷營脈。又發熱惡寒身疼痛而不汗出。又與中風之汗自出者不同。不汗出則風邪之傷衛者。得寒凝而多束。寒邪之傷營者。得風拒而內郁。內煩外躁。正陽氣壅遏不宣。將致化熱入里之候。治法雖仍不離乎麻黃桂枝而證已見煩躁。辛熱之性。慮劫傷津液。故加入石膏。且得棗甘相輔。用以生津而保液。此正立方入微入細處。不可概執石膏為涼解之品也。</p>
<p>又經云。傷寒脈浮緩。身不疼。但重。乍有輕時。無少陰證者。大青龍湯發之。按傷寒二字。便已括無汗而喘之證在內。傷寒脈當浮緊。是麻黃湯證。今浮緩是見風傷衛脈。傷寒體重。身疼腰痛骨節疼痛。今身不疼。但重。乍有輕時。則又非全屬傷寒證。其為風寒錯雜之邪顯然。以無汗而喘之傷寒病。又得風之陽邪相合。非惟桂枝湯中之芍藥不宜用以斂陰。即麻黃湯之純行辛熱。亦恐有礙風邪。則宜理肺金清肅之氣。佐麻桂以驅風散寒。故不得不借資於石膏矣。此條徐靈胎疑有錯簡。程郊倩謂小青龍之誤。總由忘卻傷寒自有無汗而喘之本證在。至張令韶又謂此證太陽兼太陰。此方即越脾之義。尤鑿。</p>
<p>按大青龍原為陽氣壅實。汗不出者立法。若汗出惡風。便是中風之本證。只取和營衛以解肌。誤服此湯。即致厥逆筋惕肉瞤種種亡陽之變。然風寒兩傷之證。又必辨無少陰證相雜。蓋少陰之脈微細。正恐與太陽浮緩浮弱之脈相混。喻嘉言謂無少陰證。仲景原文。但重乍有輕時六字。早已挈明。言但身重而無少陰之欲寐。其為寒因可審。況乍有輕時。不似少陰之晝夜俱重。又兼風因可審。此解頗為入細。至成注謂不久厥吐利。則尤辨證之顯者矣。</p>
<p>再按青龍取義。諸家皆神其說。以形自己一篇絢爛文字。余則謂其理甚庸。試觀夏日地中之陰氣未升。而天上之陽威已極。人在氣交之中皆苦炎熱。霎時間龍升云興。滂沱遍野。人皆精神爽慧也。天地鬱蒸。得雨則和。人身煩悶。得汗則解。其理本庸。惟其庸也。正其所以神乎。</p>

<h2>小青龍湯</h2>
<p>麻黃（三兩去節）　芍藥（三兩）　五味子（半升）　乾薑（二兩）　甘草（二兩炙）　桂枝（三兩）　半夏（三兩洗）　細辛（三兩）</p>
<p>上八味。以水一斗。先煮麻黃。減二升。去上沫。納諸藥。煮取三升。去滓。溫服一升。</p>
<p>此治太陽寒水之法也。雖同名青龍。卻與大青龍主治迥別。太陽表邪不解。與陽熱相搏。宜大青龍發之。太陽表邪不解。與寒飲相格。宜小青龍逐之。經云。傷寒表不解。心下有水氣。乾嘔。發熱而咳。此為小青龍的對之證。故方中用麻黃桂枝細辛之屬。以散寒而解表。用半夏乾薑五味之屬。以蠲飲而降逆。復以芍藥甘草。兩和表裡。但表裡錯雜之邪。病出恆不一致。若微利者。水已下趨。故去麻黃。加芫花。順其勢以導之也。若渴者。寒已化熱。故去半夏。加栝蔞根。反其用以治之也。若噎者。寒格上焦也。故去麻黃。加附子以散寒。若小便不利。少腹滿者。水蓄下焦也。故去麻黃。加茯苓以利水。若喘者。水邪射肺也。故去麻黃。加杏仁以下肺氣。此方本不至發汗。故或用麻黃。或去麻黃。皆相表裡證之輕重。而為加減之圓機活法也。</p>
<p>按大青龍發汗以除陽熱。猶龍之乘雲上天而布甘霖。小青龍逐水以散陰寒。猶龍之翻波逐浪而歸江海。制方之妙。亦猶龍之變化而不可測乎。</p>

<h2>真武湯</h2>
<p>茯苓（三兩）　芍藥（三兩）　生薑（三兩切）　白朮（二兩）　附子（一枚炮去皮破八片）</p>
<p>上五味以水八升。煮取三升。去滓。溫服七合。日三服。</p>
<p>真武為北方司水之神。方名真武。主鎮北方寒水之氣。實與小青龍湯對峙。蓋太陽膀胱。少陰腎。一臟一腑。同居北方寒水之位。傷寒表不解。心下有水氣。乾嘔發熱而咳。此水氣屬太陽府邪。太陽主表。宜小青龍發之。少陰病。腹痛。小便不利。四肢沉重疼痛。自下利者。此水氣屬少陰藏邪。少陰主裡。宜真武湯鎮之。方中茯苓白朮。培土以制水也。生薑附子溫中以散寒也。更加芍藥斂少陰浮越之氣。使水得坎止而歸其故宅。此誠有合乎真武坐鎮北方。攝伏龍蛇之神力矣。但水邪泛溢。其病體恆變動不居。若咳者加五味子半斤。細辛乾薑各一兩。以水邪射肺。法當兼散肺邪也。若小便利者去茯苓。以水道已通。無取再泄腎氣也。若下利去芍藥加乾薑二兩。以脾氣下泄。用以醒脾也。若嘔者去附子加生薑足前成半斤。以胃氣上逆。用以溫胃也。隨其逆而治之如法。其諸神之神者乎。</p>
<p>按真武主治少陰水氣。固與小青龍對峙。而太陽病誤服大青龍。致成厥逆筋惕肉瞤之變者亦用此以救逆。蓋龍非得水不靈。當陽氣鬱蒸之時。但得龍升雨降。煩熱頓除。若淫溢不止。則龍適滋害。攝伏龍蛇。舍真武更向何處乞靈哉。</p>
<p>再按太陽病。發汗。汗出不解。其人仍發熱。心下悸。頭眩。身瞤動。振振欲擗地者。亦主此湯救逆。按汗多亡陽。何以不用四逆輩而用真武。蓋四逆功在以熱卻寒。真武功在以土製水。水氣奔越。不宜火溫而宜土製。用真武者。不宜混作回陽一例看。</p>

<h2>麻黃附子細辛湯</h2>
<p>麻黃（二兩去節）　細辛（二兩）　附子（一枚炮去皮破八片）</p>
<p>上三味。以水一斗。先煮麻黃減二升。去上沫。納藥。煮取三升。去滓。溫服一升。日三服。</p>
<p>經云。少陰病。始得之。反發熱脈沉者。麻黃附子細辛湯主之。按少陰病不當發熱。今始得之而反發熱。則邪始入少陰。猶兼表邪矣。發熱脈浮者。當從太陽解肌發汗之例。今脈沉。則諦實少陰病無疑。少陰本有發汗之禁。以其始得發熱。故借細辛為嚮導。引麻黃入散少陰之邪。而亟亟加附子溫經助陽。托住其里。俾腎中真陽。不致隨汗飛越。此少陰溫經散邪之大法也。</p>
<p>徐靈胎曰。此條必先從少陰諸現症細細詳審。然後反發熱。知為少陰之發熱。否則何以知其非太陽陽明之發熱耶。又必候其脈象之沉。然後益知其為少陰無疑也。凡審證皆當如此。</p>

<h2>麻黃附子甘草湯</h2>
<p>麻黃（二兩去節）　甘草（二兩炙）　附子（一枚炮去皮）</p>
<p>上三味。以水七升。先煮麻黃一二沸。去上沫。納諸藥。煮取三升。去滓。溫服一升。日三服。</p>
<p>經云。少陰病。得之二三日。麻黃附子甘草湯微發汗。而即自注云。以二三日無里證。故微發汗也。按少陰與太陽為表裡。三陰經中。惟少陰尚有汗解之理。以二三日之少陰病。而無吐利煩躁嘔渴之裡證。則邪未深入。微發汗者。即和解之義。故可撤細辛之嚮導。而但以甘草梢殺麻黃之力。更得熟附固陽。自無強責汗之弊。此又少陰溫經散邪之緩法也。</p>

<h2>葛根湯</h2>
<p>葛根（四兩）　麻黃（二兩去節）　桂枝（二兩去皮）　芍藥（二兩酒洗）　甘草（二兩炙）　生薑（三兩切）　大棗（十二枚擘）</p>
<p>上七味。㕮咀。以水一斗。先煮麻黃葛根。減二升。去沫。納諸藥。煮取三升。去滓。溫服一升。覆取微似汗不須啜粥。余如桂枝法將息。及禁忌。此治太陽傷寒。傳入陽明。未離太陽。故以葛根為君。並加麻黃於桂枝湯中。仍屬太陽與陽明同治。並非陽明經之主方也。故經云。太陽病。項背強𠘧𠘧。反汗出惡風者。桂枝加葛根湯主之。太陽病。項背強𠘧𠘧。無汗惡風者。葛根湯主之。此明以有汗無汗。辨邪之或自中風而來。或自傷寒而來。但見陽明一證。即用葛根一味。亟伐陽明之邪。而太陽未盡之邪。仍不離桂枝麻黃。分別風寒主治。其有太陽陽明。同時病發。不分先後者。則太陽之邪。合陽明胃中之水穀而下奔。必自下利。仍以葛根湯主治。以葛根湯中自有麻桂。並伐太陽之邪也。今人誤以葛根湯為陽明經藥。大謬。</p>

<h2>葛根加半夏湯</h2>
<p>葛根湯原方。加半夏半升。洗煎服法同。</p>
<p>太陽與陽明合病者。必自下利。葛根湯主之。不下利。但嘔者。葛根加半夏湯主之。此合病中亦有主風主寒之不同。喻嘉言曰。風者陽也。陽性上行。故合陽明胃中之水飲而上逆。寒者陰也。陰性下行。故合陽明胃中之水穀而下奔。下奔則利。但用葛根。已足解邪而止利上逆則嘔。必加半夏。方能滌飲而止嘔。此以見先聖制方。一藥不苟處。</p>

<h2>白虎湯</h2>
<p>石膏（二斤碎）　知母（六兩）　甘草（二兩）　粳米（六合）</p>
<p>上四味。以水一斗。煮米熟湯成。去滓。溫服一升。日三服。</p>
<p>經云。三陽合病。腹滿身重。難以轉側。口不仁而面垢。譫語遺尿。發汗則譫語。下之則額上生汗。手足逆冷。若自汗者。白虎湯主之。按三陽合病。其脈浮大。其證欲眠。而目合則汗。諦實此三陽合病之證。而見腹滿身重者。陽盛於經。裡氣莫支也。口不仁而譫語者。熱淫於內。神識為蒙也。因而濁氣上蒸則面垢。陰津下泄則遺尿。若汗若下。皆足以奪津液而召變。計惟白虎。肅肺金而清胃熱。則表裡之邪自解耳。</p>
<p>諸書皆謂白虎主治陽明經熱。此三陽合病。而何以獨責陽明。因謂陽明居中土萬物所歸。三陽合邪。故統於陽明主治。愚按方中之用石膏知母。取降肺金清肅之氣。而滋腎水生化之源。水出高源胃土藉資灌溉。兼以甘草粳米。載之逗遛上焦。以生津而化燥則煩熱自蠲。所謂治病必求其本也。</p>
<p>又經云。傷寒脈滑而厥者。里有熱也。白虎湯主之。按厥之一證。總為入里之候。但有寒熱。之不同。脈微而厥為寒厥。脈滑而厥為熱厥。前因失治而致厥。若既見厥而復失治。則熱邪愈轉愈深。陰津之亡。可立而待。故急用白虎保陰津而驅陽熱。以預弭熱深厥深之變也。</p>
<p>再按大青龍之與白虎同用石膏。而主治各別。青龍主雨。譬如甘霖遍野。而蒸郁自消也。白虎主風。譬如涼飈薦爽。而炎熇若失也。故用青龍以無汗為辨。用白虎以自汗為辨。</p>

<h2>白虎加人參湯</h2>
<p>白虎湯原方。加人參三兩。煮服同前法。</p>
<p>白虎。西方金神也。主治在肺。並非專屬陽明。茲之加人參者。則治在陽明胃矣。按經文於白虎湯證。並無一言及渴。而加人參方中。或曰口燥渴。或曰大煩渴。或曰渴欲飲水數升。此多得之汗吐下後。內熱未除。胃液垂涸。故加入人參於白虎湯中。是移清金滌熱之功。轉而為益胃滋干之用。庶幾瀉子實而補母虛。兩收其利。</p>
<p>再按白虎湯證主散邪滌熱。故不宜加入人參。留戀邪氣。此加人參。用以救垂盡之胃氣。故宜人參益胃。而白虎乃得協成其清熱止渴之用。</p>
<p>古聖立方。一藥豈輕加哉。</p>

<h2>小柴胡湯</h2>
<p>柴胡（半斤）　黃芩（三兩）　人參（三兩）　甘草（三兩）　半夏（半斤洗）　生薑（三兩切）　大棗（十三枚擘）</p>
<p>上七味。以水一斗二升。煮取六升。去滓。再煎。取三升。溫服一升。日三服。</p>
<p>此少陽之主方也。按仲景以口苦咽乾目眩。責少陽之為病。而少陽之邪。大都從太陽傳入。此當半里半表之界。邪正分爭。因而往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔。此皆少陽必有之證。邪不在表。不宜汗吐。又不在裡。不宜妄下。獨主小柴胡為和解之劑。但轉入之邪。恆難捉摸。其或胸中煩而不嘔。或渴。或腹中痛。或脅下痞硬。或心下悸。小便不利。或不渴。身有微熱。或咳。皆非少陽必有之證而少陽病見此。另有加減之法。而規矩總不難乎小柴胡湯也。</p>
<p>按柴胡感一陽之氣而生。少陽之邪。非此不解。合之甘草以兩和表裡。此為小柴胡湯中不可移掇之藥。生薑兼散太陽之寒。使半表之邪。得從外宣。黃芩兼清陽明之熱。使半里之邪。得從內徹半夏有逐飲之能。取以降逆而止嘔。大棗擅和中之用。取以安土而戢木。用人參者。非取其補正。以邪在半表半裡之界。預行托住裡氣。使邪不內入也。以此為往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔諸證的對之主方。其加減諸法。並按本方逐條互參於後。本方之用人參。以邪正相爭。故宜輔正。用半夏。以證見嘔滿。故宜止嘔。若但煩而不嘔。不嘔則並無飲邪。何須半夏逐飲。不嘔而但煩。則煩非本證心煩喜嘔之煩。而正為熱邪摶結將欲入里之煩。若用人參。不能轉正。反能實邪。禍不小矣。故並去之而加栝蔞實。以栝蔞實能降熱痰而開胸痹也。</p>
<p>半夏辛溫而性燥。寒濕之痰宜之。熱痰則不宜也。若渴則津液已竭。並無痰之可伐矣。本方雖有黃芩甘草大棗。能養正而祛熱。但胃中津液非人參不能鼓舞。故加人參以喚胃氣。而得栝蔞根以生津潤燥。人參仍無實邪之患也。</p>
<p>黃芩苦寒。本文用此以清半里之熱。若腹中痛。則陽邪轉陷太陰。豈能復任黃芩之苦寒乎。不宜黃芩。何以反宜芍藥。以證雖屬太陰。而病因卻是從陽邪陷入。故用此以約脾陰也。太陽病轉屬太陰。但於桂枝湯中加芍藥。若桂枝加芍藥湯是也。少陽病兼見太陰。即於柴胡湯中加芍藥。即本方之加芍藥是也。後人執藥治病。遂謂芍藥能止腹痛。試思太陰寒濕之證。芍藥宜之乎。熱發大實痛之證。芍藥宜之乎。殊不知陽邪陷里。本方中自有柴胡人參生薑半夏。已足以升舉陽氣。而理脾胃之困。但加芍藥以約陰。則邪返於陽而陰亦安。不除痛而痛自止。仍不離和解之法也。</p>
<p>本方之用大棗。慮木邪賊土。用以安中也。若脅下痞硬。則邪滯中焦。便不宜大棗之守中矣。脅下屬少陽部位。痞硬則氣血交結。故以牡蠣佐柴胡。一以散氣分之結。一以軟血分之堅也。</p>
<p>少陽屬木。木乘土位。則土不能制水。故有心下悸小便不利之證。若用黃芩。是助水邪為瘧矣。小便不利。但當利其小便。本方中已有參甘薑棗之植土。而但當加茯苓之淡滲。以兼導其水也。</p>
<p>渴為邪欲入里之兆。若不渴則無里證可知。外有微熱。則太陽之表證未罷。又可知矣。表邪未解。人參實邪。究宜去之。本方加桂枝。則又易表裡和解之制。而偏乎表以為治也。</p>
<p>咳屬水邪射肺。人參大棗。究非咳證所宜。生薑散表有餘。溫里不足。故以乾薑易生薑。以散寒而逐水。用五味者。以肺非自病。乃水邪從下而上。因之致咳。故以五味與乾薑同用。一以散水邪。一以收肺逆。與風火淫肺之忌五味不同也。不去黃芩者。留以制相火而存肺陰也。</p>
<p>按小柴胡湯之主少陽。乃傷寒一大關鍵。此際出則陽。入則陰。凡陽邪之入陰者。全賴少陽把關守隘。使不得遽入於陰。治之可不慎歟。凡他經所有之證。少陽病皆得兼見。其隨證加減之法。絲絲入扣。頭頭是道。讀仲景書者。當於此處猛下一參。</p>
<p>傷寒中風。有柴胡證。但見一證即是。不必悉具。此非教人以辨證之可從略也。蓋病入少陽。正當陰陽相持之會。此際不出於陽。即入於陰。故一見少陽證。即當用柴胡從少陽領出其邪。使不內入。須知其辨證從寬處。正是其治病吃緊處。且少陽本傳入之邪。多有或然或不然之證。又安能逐證一一見到也。</p>
<p>再按渴之一證。有出入之不同。傷寒四五日。身熱惡風頸項強脅下滿手足溫而渴者。此少陽而兼太陽也。治可從少陽而不從太陽。服柴胡湯已渴者。屬陽明也。治又當從陽明而不從少陽。凡見渴證者宜審。</p>
<p>少陽之脈責弦。其有太陽病不解。轉入少陽。未經吐下而脈沉緊者。但見脅下硬滿。乾嘔不能食。往來寒熱諸證。則脈沉緊。正是邪從少陽將欲入里之候。急當用小柴胡從少陽領出其邪。則太陽之邪自解。</p>
<p>陽明病。脅下硬滿。不大便而嘔。舌上白胎者。此邪未結於陽明。但當用小柴胡湯。使上焦得通。津液自下。則胃和而陽明之邪自解。</p>
<p>婦人熱入血室。是熱邪已乘虛陷入陰分。何以主小柴胡湯少陽之藥。按三陰三陽。少陽為從陽入陰之樞紐。陽經熱邪。已越少陽而陷入陰分。亟當從陰分領出其邪。使還從少陽而出也。</p>

<h2>大柴胡湯</h2>
<p>柴胡（半斤）　黃芩（三兩）　半夏（半斤洗）　芍藥（三兩）　枳實（四枚炙）　大黃（二兩）　生薑（五兩切）　大棗（十二枚擘）</p>
<p>上七味。以水一斗二升。煮取六升。去滓。再煎。溫服一升。日三服。</p>
<p>此小柴胡去人參甘草。加枳實芍藥大黃。乃少陽陽明合治之方也。往來寒熱。熱結在裡。是邪已內實。因其內實而下解之。乃通以去塞之法也。心中痞硬。嘔吐下利。是邪已內陷。因其內陷而下奪之。此通因通用之法也。表未罷仍主柴胡。里已實宜加枳實大黃。不用人參甘草者。懼其緩中而戀邪也。加芍藥者。取其約營而存液也。按少陽病本不可下。</p>
<p>此則熱邪結於陽明。而少陽證仍在。故主此為表裡兩解之法。</p>

<h2>柴胡加芒硝湯</h2>
<p>柴胡（二兩十六銖）　黃芩　甘草（炙）　人參　生薑（各一兩切）　半夏（二十銖洗）　大棗（四枚）　芒硝（二兩）</p>
<p>上八味。以水四升。煮取二升。去渣。納芒硝。更煮微沸。分溫再服。不解。更作服。</p>
<p>小柴胡湯原方加芒硝。而分兩較輕。蓋潮熱固為內熱之候。但其人業已微利。是裡氣已通。特因下不如法。故府邪未解。則無取大柴胡之峻攻。其柴胡證之未罷者。亦已先用小柴胡湯以解外。此更無須柴胡之全劑。故復減約其分兩。而但加芒硝以微通其滯。此劑之最輕者。張令韶謂當用大柴胡湯加芒硝。與經旨大悖矣。</p>
<p>徐靈胎曰。大柴胡湯加大黃枳實。乃合用小承氣也。此加芒硝。乃合用調胃承氣也。皆少陽陽明同治之方。</p>

<h2>柴胡加桂枝湯</h2>
<p>柴胡（四兩）　黃芩　人參　桂枝　芍藥　生薑（各一兩半）　甘草（一兩）　半夏（二合半）大棗（六枚擘）</p>
<p>上九味。以水七升。煮取三升。去滓。分溫服。</p>
<p>此合桂枝小柴胡二方。而各取其半。用以和解太陽少陽各半之邪。經云。傷寒六七日。發熱微惡寒。支節煩疼。此太陽之表邪未解也。微嘔心下支結。則證兼少陽矣。按支結者。結而不痛。與結胸殊。不可攻下。只宜和解。此方之義。和營衛以通津液。仲景已自注明白。故發汗多。亡陽譫語者。亦用此方。以復陽和陰。今人誤用此湯以發汗。豈非大謬。</p>

<h2>柴胡桂枝幹薑湯</h2>
<p>柴胡（半斤）　桂枝（去皮）　黃芩（各三兩）　栝蔞根（四兩）　乾薑（三兩）　牡蠣（三兩熬）甘草（二兩炙）</p>
<p>上七味。以水一斗二升，煮取六升。去滓。再煎。取三升。溫服一升。日三服。初服微煩。復服。汗出便愈。</p>
<p>此方全是小柴胡加減法。柯韻伯曰。心煩不嘔而渴。故去參夏加栝蔞根。胸脅滿而微結。故去棗加牡蠣。小便雖不利。而心下不悸。故不去黃芩。不加茯苓。雖渴而表未解。故不用參而加桂枝。並以乾薑易生薑。散胸脅之滿結也。可見小柴胡加減之法。出入變化。妙用無窮。真神於法者矣。</p>

<h2>柴胡加龍骨牡蠣湯</h2>
<p>柴胡（四兩）　半夏（二合洗）　龍骨　人參　茯苓　鉛丹　生薑（切）　桂枝（去皮）　牡蠣（各一兩半煅）　大黃（二兩）　大棗（六枚擘）</p>
<p>上十一味。以水八升。煮取四升。納大黃。切如棋子。更煮一二沸。去滓。溫服一升。</p>
<p>傷寒八九日。下之。胸滿煩驚。小便不利。譫語。一身盡重。不可轉側者。柴胡加龍骨牡蠣湯主之。按此證全屬表邪誤下。陰陽擾亂。濁邪填膈。膻中之氣。不能四布。而使道絕。使道絕。則君主孤危。因而神明內亂。治節不行。百骸無主。以致胸滿煩驚。小便不利。譫語。一身盡重。不可轉側。種種皆表裡虛實。正邪錯雜之證。但病屬表邪陷入。則陰陽出入之界。全藉少陽為樞紐。故以柴胡名湯。而陰邪之上僭者。復桂枝生薑半夏以開之。陽邪之下陷者。用黃芩大黃以降之。使上下分解其邪。邪不內擾。而兼以人參大棗。扶中氣之虛。龍骨牡蠣鉛丹。鎮心氣之逆。且柴胡大黃之攻伐。得人參扶正以逐邪而邪自解。龍骨牡蠣之頑鈍。得桂枝助陽以載神而神自返。其處方之極錯雜處。正其處方之極周到處。不如此。其何能施補天浴日之手。而建扶危定傾之業耶。神哉弗可及已。</p>

<h2>小建中湯</h2>
<p>桂枝（三兩去皮）　芍藥（六兩）　甘草（二兩炙）　生薑（三兩切）　膠飴（一升）　大棗（十一枚擘）</p>
<p>上六味。以水七升。煮取三升。去滓。納膠飴。更上微火消解。溫服一升。日三服。</p>
<p>此桂枝湯倍芍藥而加膠飴也。本太陽表藥。一轉移而即變為安太陰之制。神化極矣。傷寒二三日。心中悸而煩者。中土虛餒。都城震恐。桂枝湯本主和營復陽。而但倍芍藥加膠飴。奠安中土。故曰建中。甘能滿中。仍與桂枝湯同。故重申其禁曰。嘔家不可用建中湯。以甜故也。</p>
<p>傷寒陽脈澀。陰脈弦。腹中急痛者。先與小建中湯。蓋陽脈澀。則中土已虛。陰脈弦。則木來賊土之象。腹中急痛。是脾陽下陷。此時若用小柴胡制木。其如中土先已虛餒何。夫中土虛餒。非甘不補。土受木克。非酸不安。必先以小建中湯。扶植中土。土氣既實。若不瘥。再以小柴胡。疏土中之木。用藥自有先後。非先以小建中姑為嘗試也。</p>

<h2>梔子豉湯</h2>
<p>梔子（十二枚擘）　香豉（四兩綿裹）</p>
<p>上二味。以水四升。先煮梔子。得二升半。納豉煮取一升半。去滓。分為二服。溫進一服。得吐者止後服。</p>
<p>此非吐法之主方也。因誤汗吐下後。正氣已傷。邪留上焦。擾動陽氣。因生煩熱。無論虛煩實煩。皆宜此方取吐。虛煩者。若經中所指虛煩不得眠。反覆顛倒。心中懊憹。胃中空虛。客氣動膈。按之心下濡。舌上胎飢不能食。不結胸。但頭汗出。皆虛煩之候也。實煩者。若經中所指胸中窒。心中結痛。皆實煩之候也。此方主宣膈上之熱。使得湧吐而解。若本有寒分者不宜。故經有病人舊微溏不可與之戒。</p>
<p>今人用梔子俱炒黑。不能作吐。本方生用。故入口即吐也。香豉蒸罯而成。性主上升。故能載之以作吐。乃吐法中之輕劑也。</p>
<p>凡用吐法。當先審邪之高下。心下滿而硬痛者。結胸證也。宜陷胸法。心下痞硬者。虛痞也。宜瀉心法。此則心中懊憹。心中結痛。心下濡。故宜湧吐。毫釐千里。須當辨之。</p>

<h2>梔子甘草豉湯</h2>
<p>於梔子豉湯方內。加入甘草二兩。余依前法。得吐。止後服。</p>
<p>梔豉湯證具。若少氣者。本方加甘草。按少氣乃津液被奪。加甘草者。取其能益中而存液。並取其能載藥而速吐也。</p>

<h2>梔子生薑豉湯</h2>
<p>於梔子豉湯方內。加入生薑五兩。余依前法得吐。止後服。</p>
<p>梔豉湯證具。若嘔者。本方加生薑。蓋嘔則膈上之熱。已犯及胃。生薑升散。領引胃中之熱。一概湧之上出。此導引之藥也。</p>

<h2>梔子乾薑湯</h2>
<p>梔子（十四枚擘）　乾薑（二兩）</p>
<p>上二味。以水三升半。煮取一升半。去滓。分三服。溫進一服。得吐者。止後服。</p>
<p>傷寒。醫以丸藥大下之。身熱不去。微煩者。梔子乾薑湯主之。喻嘉言謂此乃溫中散邪之法。余謂不然。溫中不宜用梔子。且中已宜溫。何堪再吐。按誤下多陽邪內陷。此則雖經誤下。而身熱不去。微煩。則陽邪猶未入里。故可引之上越。必以乾薑斷陽邪入里之路。而梔子乃得載邪上出。一寒一溫。相反而實以相成。此之謂聖。</p>

<h2>梔子厚朴湯</h2>
<p>梔子（十四枚擘）　厚朴（四兩姜炙）　枳實（四兩水浸去穰炒）</p>
<p>以上三味。以水三升半。煮取一升半。去滓。分三服。溫進一服。得吐止後服。</p>
<p>此雖取吐而不專恃乎吐法也。傷寒下後。心煩腹滿。臥起不安者。梔子厚朴湯主之。蓋表邪雖經誤下。心煩則邪半踞於上。腹滿則邪半陷於下。故以梔子湧上邪。而以枳樸通下氣。亦兩解之法也。</p>

<h2>枳實梔子豉湯</h2>
<p>枳實（二枚）　梔子（十四枚）　豉（一升）</p>
<p>上三味。以清漿水七升。空煮取四升。內枳實梔子。煮取二升。下豉。更煮五六沸。去滓。溫分再服。覆令微似汗。</p>
<p>梔豉湯散上焦之結熱。為取吐之輕劑。此則先用清漿水空煮減三升。則水性熟而沉。使梔豉從枳實下行之力。清上泄下。以此通利三焦。營衛得和而病自愈。若有宿食者。加大黃如博棋子大五六枚。則食復之治法。亦不外是矣。因食而復。去其食。而邪自化。從此可悟治病總當責邪也。</p>

<h2>梔子柏皮湯</h2>
<p>梔子（十五枚）　甘草（一兩炙）　黃柏（一兩）</p>
<p>上三味。以水四升。煮取一升半。去滓。分溫再服。</p>
<p>傷寒身黃髮熱者。梔子柏皮湯主之。按身黃髮熱。熱已有外泄之機。從內之外者治其內。故用梔子柏皮。直清其熱。則熱清而黃自除。用甘草者。正引藥逗遛中焦。以清熱而導濕也。</p>
<p>按梔豉湯乃取吐之輕劑。此方之用梔子。得炙草之甘緩。黃柏之苦降。而梔子又能從中焦分解濕熱。洵乎處方之妙。乃用藥而不為藥用者也。</p>

<h2>瓜蒂散</h2>
<p>瓜蒂（熬黃）　赤小豆（各一分）</p>
<p>上二味。各別搗篩為散已。合治之取一錢匕。以香豉一合。用熱湯七合。煮作稀糜。去滓。和散。頓服之。不吐者少少加，得快吐乃止。諸亡血虛家。不可與之。</p>
<p>凡邪在胸中者宜吐。所謂在上者因而越之是也。三味皆探吐之品。必煮作稀糜。留戀中焦。方得引邪上湧而出。梔豉湯吐虛邪。此方以吐實邪。同一吐法。而所主不同。</p>

<h2>五苓散</h2>
<p>茯苓　豬苓（去皮）　白朮（各十八銖）　澤瀉（一兩六銖半）　桂枝（半兩去皮）　</p>
<p>上五味。為末。以白飲和服方寸匕。多飲暖水。汗出愈。</p>
<p>此治太陽表病不解。邪陷入府。凡渴而小便不利者宜之。亦兩解表裡之法也。以其有表證。故用桂枝主表而化氣。以其有里證。故用苓澤主裡而利水水不下趨。勢必上泛。故用白朮奠安太陰。以土製水。此方不宜湯而宜散。以散能逗遛中焦。通調水道。更借多服暖水之力。使水精四布。上輸下注。熱解津回。則小便利而渴自止矣。</p>
<p>按渴欲飲水。有類白虎加人參證。何以彼宜白虎。此宜五苓。蓋白虎主治陽明經熱。五苓主清太陽府熱。白虎證脈洪大。是表證已解。五苓證脈浮數。表證未解。以此為辨。</p>
<p>諸家皆以導濕滋干。釋五苓之取義。但以桂枝之辛溫。苓澤之滲泄。即白朮亦主燥脾。與生津潤燥之義。全不相涉。而渴證宜之何也。蓋此證由經入府。水蓄於下。不能輸津於上。故治渴必先治水。且散服而多飲暖水。自有輸精散布之功。</p>

<h2>豬苓湯</h2>
<p>豬苓（去皮）　茯苓　澤瀉　滑石（碎）　阿膠（各一兩）</p>
<p>上五味。以水四升。先煮四味。取二升。去滓。納阿膠烊消。溫服十合。日三服。</p>
<p>同屬渴欲飲水小便不利之證。太陽從寒水化氣。故宜五苓散。主桂枝白朮之甘溫。以宣陽而輸精。陽明從燥土化氣。故宜豬苓湯主滑石阿膠之涼降。以育陰而利水。但利小便。還宜相人之津液。若陽明汗出多而渴者。是津液已虛。便不宜重虛其津液也。</p>
<p>少陰病。下利六七日。咳而嘔渴。心煩不得眠者。何以亦主豬苓湯。蓋咳渴嘔煩不得眠。得之下利之後。是陰津下迫。陽邪上逆。主豬苓湯育陰利水。正以少陰腎與太陽膀胱。一臟一腑。相為表裡。急引少陰之邪。從府而解。則下利得止。而熱去津回矣。</p>

<h2>文蛤散</h2>
<p>文蛤（五兩）</p>
<p>上一味為散。以沸湯。和一方寸匕服。湯用五合。</p>
<p>病在陽不從汗散。反以冷水噀之灌之。寒束其外。熱被卻而不得去。陽無出路。彌更益煩。水客皮膚。肉上粟起。陽氣為水邪所格。故欲飲水。反不得飲。五苓散宣陽逐水則有餘。育陰散熱則不足。獨任文蛤一味。可以兩收散熱導濕之功。</p>
<p>服文蛤散不瘥。復用五苓散者。以既得文蛤鹹寒之性。清熱導濕。免致增逆矣。而表陽不宣。水無出路。文蛤不堪再任。則仍取五苓宣陽逐水。此救逆之次第也。</p>

<h2>茯苓桂枝白朮甘草湯</h2>
<p>茯苓（四兩）　桂枝（三兩去皮）　白朮（二兩）　甘草（二兩炙）</p>
<p>上四味。以水六升。煮取三升。去滓。分溫三服。</p>
<p>此方主治太陰濕困。而膀胱之氣。不行。經云。心下逆滿。氣上衝胸。起則頭眩。脈沉緊。發汗。則動經身為振振搖者。此湯主之。按心下逆滿。乃伏飲搏膈。至於氣衝頭眩。則寒邪上湧。助飲為逆。飲本陰邪。故脈見沉緊。脈沉不宜發汗。誤汗則陽益不支。而身為振搖。故以桂枝茯苓。扶陽化飲。而加白朮甘草。伸太陰之權。以理脾而勝濕。脾乃能為胃行其津液。而膀胱之氣始化也。</p>
<p>再按金匱用此方以治痰飲。其一曰。心下有痰飲。胸脅支滿。目眩。苓桂朮甘湯主之。又曰。短氣有微飲。當從小便去之。苓桂朮甘湯主之。蓋治痰飲大法。當以溫藥和之。溫則脾陽易於健運。而陰寒自化。白朮茯苓雖能理脾而勝濕。必合桂枝化太陽之氣以伐腎邪。而通水道。方能取效。</p>

<h2>茯苓甘草湯</h2>
<p>茯苓　桂枝（各二兩去皮）　生薑（三兩切）　甘草（一兩）</p>
<p>上四味。以水四升。煮取二升。分溫三服。</p>
<p>此即桂枝湯去芍藥大棗而加茯苓。防水漬入胃而預杜其變也。水停心下因致悸。故主茯苓為治水之主藥。甘草載桂枝入心以固陽。生薑佐茯苓溫中心散寒。俾水之停於心下者。得桂姜之辛溫而解。而茯苓乃得建利水之功。</p>
<p>五苓散用白朮。理脾氣以輸精。故渴者宜之。此方用桂姜。散水寒而逐飲。故不渴者宜之。</p>
<p>再按此方及五苓散。並茯苓桂枝甘草大棗湯。茯苓桂枝白朮甘草湯。俱相類。五苓散。散太陽之水停。苓桂朮甘湯。泄太陰之水蓄。茯苓桂枝甘草大棗湯。防少陰之水逆。此方堵陽明之水漬。數方增減。不過一二味。而主治各別。能解此。自不敢孟浪處方矣。</p>

<h2>小承氣湯</h2>
<p>大黃（四兩）　厚朴（二兩炙去皮）　枳實（三枚熬）</p>
<p>上三味。以水四升。煮取一升二合。去滓。分溫三服。初服湯當更衣。不爾者盡飲之。若更衣者勿服之。</p>
<p>小承氣以大黃為君。微加枳樸以開氣結。不用芒硝迅走下焦。經所謂微和胃氣。勿令大泄下也。故曰小。凡矢未定成硬。未可與大承氣者。可先以小承氣試之。腹中轉矢氣者。大便已硬。乃可攻也。不轉矢氣者。但初頭硬。後必溏也。同一承氣而有大小之分者。大承氣枳樸重而益用芒硝以峻攻。小承氣枳樸輕而不用芒硝以亟下。故里證急者宜大承氣。里證不甚急者宜小承氣。是當細辨。</p>

<h2>大承氣湯</h2>
<p>大黃（四兩酒洗）　厚朴（半斤炙去皮）　枳實（五枚炙）　芒硝（三兩）</p>
<p>上四味。以水一斗。先煮二物取五升。去滓。納大黃。煮取二升。去滓。納芒硝。更上微火一二沸。分溫再服。得下。余勿服。</p>
<p>大承氣開陽明之結。直達下焦。其力猛而效速。故曰大。蓋胃大實。故重任厚朴以破結。而數獨倍於大黃。矢已硬。故雖有枳實以導下。而功必資於芒硝。至其煎法。尤有深義。厚朴枳實之汁。以濃而力銳。大黃芒硝之性。以生而力銳。故分作三次煎。此斬關奪門之將。用此以急下存陰也。</p>
<p>大承氣治陽明胃實之主藥。必審明表證盡罷。不惡寒。但惡熱。或潮熱汗出譫語。腹滿痛。或喘冒不能臥。口乾燥。脈滑而實。或澀者。方可用之。下不宜早。早則陽陷。並不宜遲。遲則陰亡。恰好在陽明胃實之界。一下奪而諸病盡解。臨證時不可錯過。</p>
<p>陽明居中土。萬物所歸。無所復傳。大熱入胃。惟有下奪一法。蓋陽明胃實之證。有從太陽傳入者。有從少陽轉屬者。並有從三陰轉屬者。三陰經中。少陰更有急下之證。此乃傷寒一大歸宿。若應下失下。變證蜂起。津液之亡。可立而待。孟浪不可。因循亦不可。</p>
<p>大承氣證非惟不大便腹滿痛者宜之。即下利之證。亦有宜從下奪者。如經文所指下利不欲食。下利心下硬。下利脈反滑。下利脈遲而滑。少陰病自利清水色純青。心下痛。口乾燥者。皆宜大承氣。此通因通用之法。不可不知。</p>

<h2>調胃承氣湯</h2>
<p>大黃（三兩清酒浸去皮）　甘草（二兩炙）　芒硝（半斤）</p>
<p>上三味。㕮咀。以水三升。煮取一升。去滓。納芒硝。更上火微煮令沸。少少溫服。</p>
<p>調胃承氣湯。以甘草緩硝黃下行之性。使留戀中焦胃分。以清熱而導滯。不用枳樸以傷上焦之氣。蓋熱邪聚胃。宜分有形無形。有形者。當破其結而穢方解。無形者。但滌其熱而氣自和。胃宜降則和。故曰調胃。</p>

<h2>桃核承氣湯</h2>
<p>桃仁（五十個去皮尖）　桂枝（二兩去皮）　大黃（四兩）　芒硝（二兩）　甘草（二兩炙）</p>
<p>上五味。以水七升。煮取二升半。去滓。納芒硝。更上火微沸。下火。先食溫服五合。日三服。當微利。</p>
<p>此治太陽瘀熱入腑。膀胱蓄血。其人如狂。表已解而但少腹急結。血自下者。主用桃仁以利瘀。承氣以逐實。使血分之結熱。亟從下奪。與三承氣之攻陽明胃實者不同。</p>
<p>方主攻裡。而仍用桂枝者。用以分解太陽隨經之熱。喻嘉言曰。正恐餘邪稍有未盡。其血得以留戀不下。析義最精。此先聖處方絲絲入扣處。此與五苓散同為太陽府病立治法。膀胱為太陽之府。熱傷膀胱氣分則蓄溺。當導其熱從小便而解。熱傷膀胱血分則蓄血。當導其熱從大便而解。</p>

<h2>抵當湯</h2>
<p>水蛭（三十個熬）　虻蟲（三十個去翅足熬）　大黃（三兩酒浸）　桃仁（三十個去皮尖）</p>
<p>上四味。為末。以水五升。煮取三升。去滓。溫服一升。不下。再服。</p>
<p>抵當。攻血之峻劑也。視桃仁承氣則加猛矣。蓋病不止如狂而至於發狂。則逆血攻心。瞬將危殆。雖表證仍在。難任桂枝攻表。雖少腹硬滿。不事芒硝軟堅。非迅走血分之品。不能斬關取勝。而桃仁大黃。猶以力緩而難膺重寄。故必資水蛭虻蟲。方能直入血道。峻奪其邪。轉逆為順。然抵當峻劑。從何諦實血證。可以用之無誤。而仲景教人辨證之法。全以小便之利與不利為斷。小便不利。非蓄血證。小便自利。非蓄水證。故經特申言之曰。小便不利者。為無血也。小便自利其人如狂者。血證諦也。諦者審也。又當也。言當審之至當也。</p>

<h2>抵當丸</h2>
<p>水蛭（二十個熬）　虻蟲（二十五個去翅足熬）　桃仁（二十個去皮尖）　大黃（三兩）</p>
<p>上四味。杵分為四丸。以水一升。煮一丸。取七合。服晬時。當自下血。若不下。更服。</p>
<p>同一抵當而變湯為丸。另有精義。經云。傷寒有熱。少腹滿。應小便不利。今反利者。為有血也。當下之。宜抵當丸。蓋病從傷寒而得。寒主凝泣。血結必不易散。故煮而連滓服之。俾有形質相著得以逗遛血所。並而逐之。以視湯之專取盪滌者。不同也。</p>

<h2>十棗湯</h2>
<p>芫花（熬）　甘遂　大戟　大棗（十枚擘）</p>
<p>上上三味等分。各別搗為散。以水一升半。先煮大棗肥者十枚。取八合。去滓。納藥末。強人服一錢匕。羸人服半錢。溫服之。平旦服。若下少病不除者。明日更服加半錢。得快下利後。糜粥自養。太陽中風。下利嘔逆。表解者乃可攻之。其人漐漐汗出。發作有時。頭痛。心下痞。硬滿引脅下痛。乾嘔短氣。汗出不惡寒者。此表解里未和也。十棗湯主之。按下利嘔逆。明是水邪為患。但病屬太陽中風而來。必須表罷可攻。漐漐汗出。有似表證。但發作有惡寒非表矣。頭痛有似表證。但汗出不惡寒。則非表矣。而心下痞。硬滿引脅下痛。乾嘔短氣諸證。全是水邪內壅之狀。乃知汗出亦屬水氣外蒸頭痛亦屬水邪上逆。主裡而不主表。里未和則宜攻下。但邪在胸脅。與攻胃實不同法。胃實者邪劫津液。責其無水。此則邪搏胸脅。責其多水。若施盪滌腸胃之藥。誅伐無過。反滋變逆。故用芫花甘遂大戟三味。皆逐水之峻藥。別搗為散。而以大棗作湯。取其甘味載藥入至高之分。分逐水邪。從上而下。此法。今人多畏而不敢用。豈知不如此。水邪何由攻下耶。</p>

<h2>大陷胸湯</h2>
<p>大黃（六兩去皮）　芒硝（一升）　甘遂（一錢匕）</p>
<p>上三味。以水六升。先煎大黃。取二升。去滓。納芒硝。一兩沸。納甘遂末。溫服一升。得快利。止後服。結胸兼涉陽明。仍用本湯。</p>
<p>大陷胸湯。由胸膈直達腸胃。亟從下奪。不用一藥監製。此最猛劣之劑。故曰大。經云。太陽病。脈浮而動數。浮則為風。數則為熱。動則為痛。數則為虛。頭痛發熱。微盜汗出而反惡寒者。表未解也。醫反下之。動數變遲。膈內拒痛。胃中空虛。客氣動膈。短氣躁煩。心中懊憹。陽氣內陷。心下因硬。則為結胸。大陷胸湯主之。按動數變遲三十六字。形容結胸之狀如繪。蓋動數為欲傳之脈。遲則不能復傳。陽邪因誤下而內陷。而里飲復與之相格。心下因硬。膈間拒痛。本方雖用硝黃。而關鍵全在甘遂末一味。使下陷之陽邪。上格之水邪。俱從膈間分解。而硝黃始得成其下奪之功。若不用甘遂。便屬承氣法。不成陷胸湯矣。</p>
<p>又經云。傷寒十餘日。熱結在裡。復往來寒熱者。與大柴胡湯。若結胸無大熱者。此為水結在胸膈也。但頭微汗出者。大陷胸湯主之。觀此條云。水結胸脅。而仍主此者。則全資甘遂逐水之功也。</p>

<h2>大陷胸丸</h2>
<p>大黃（半斤去皮）　葶藶（半斤熬）　芒硝（半斤）　杏仁（半斤去皮尖熬黑）</p>
<p>上四味。搗篩二味。納杏仁芒硝。合研如脂。和散。取如彈丸一枚。別搗甘遂末一錢匕。白蜜二合。水二升。煮取一升。溫頓服之。一宿乃下。如不下。更服取下為效。禁如藥法。</p>
<p>結胸者項亦強。如柔痙狀。下之則和。宜大陷胸丸。按結胸而至於項強。則胸結十分緊迫。濁邪布滿胸中。升而上阻。津液不行。筋脈失養。故如柔痙狀。邪踞於上。法當峻下。但湯劑直趨下焦。必變湯為丸。煮而連滓服之。使其逗遛病所。自上而下。方能與邪相當。而結自解。</p>
<p>喻嘉言曰。方中用大黃甘遂芒硝。可謂峻矣。乃更加葶藶杏仁。以射肺邪而上行其急。煮時又倍加白蜜令留戀而潤導之。而下行其緩。必識此意。方知用法之妙。</p>

<h2>小陷胸丸</h2>
<p>黃連（一兩）　半夏（半升洗）　栝蔞實（大者一枚）</p>
<p>上三味。以水六升。先煮栝蔞取三升。去滓。納諸藥。煮取二升。去滓。分溫三服。</p>
<p>小結胸病。正在心下。按之則痛。脈又浮滑。視大結胸證從心上至少腹痛不可近者有間矣。邪入未深。故本方黃連清熱。蔞半散結。但開中焦之熱結。勿犯下焦。故曰小。</p>
<p>大陷胸證。痛不可近。小陷胸證。按之則痛。大陷胸證。痛連心上。小陷胸證。正在心下。同一陷胸。證隔天淵。不能通用。</p>

<h2>白散</h2>
<p>桔梗　貝母（各三分）　巴豆（一分去皮心熬黑研如脂）</p>
<p>上三味為末。納巴豆。更於臼中杵。以白飲和服。強人服半錢匕。羸者減之。病在膈上必吐。在膈下必利不利進熱粥一杯。利過不止。進冷粥一杯。身熱皮粟不解。欲引衣自覆者。若以水噀之洗之。益令熱卻不得出。當汗而不汗。則煩。假令汗出已。腹中痛與芍藥三兩。如上法。此為寒實結胸立法。以其胸之結也。用桔梗貝母以開結。以其寒之實也。用巴豆以攻寒。與大小結胸不同法。必審無大熱者方可用。</p>
<p>寒實結胸。恰從何辨其為寒實。而可任此方之猛峻耶。蓋本文明言病發於陽。以冷水灌之噀之。其熱被卻不得去。太陽寒水之氣。復與外寒相格。因成寒實之證。故可主以此湯無疑也。</p>
<p>經言寒實結胸無大熱者。與三物小陷胸湯。白散亦可服。夫小陷胸之黃連。與此方之巴豆。寒熱天淵。何堪通用。想三物小陷胸湯。即屬白散之藥味。但有為湯為散之不同。此說亦是。</p>

<h2>麻仁丸</h2>
<p>麻子仁（二升）　芍藥　枳實（各半斤擘）　大黃（去皮）　厚朴（去皮）　杏仁（各一斤去皮尖熬別研作脂）</p>
<p>上六味為末。煉蜜為丸。如桐子大。飲服十丸。日三服。漸加。以利為度。趺陽脈浮而澀。浮則胃氣強。澀則小便數。浮澀相搏。大便則難。其脾為約。麻仁丸主之。按經言太陽陽明者。脾約是也。此與攻胃實不同。故用芍藥以益陰。麻杏以潤燥。而大黃厚朴分兩皆從輕減。服止十丸。以次漸加。皆示不欲遽下之意。</p>

<h2>蜜煎導法方</h2>
<p>蜜七合。一味納銅器中。微火煎之。稍凝飴狀。攪之勿令焦著。欲可丸。並手捻作挺。令頭銳。大如指。長二寸許。當熱時急作。冷則硬。以納穀道中。以手急抱。欲大便時。乃去之。</p>
<p>按汗出矢硬。何殊陽明內實之證。但小便自利。則津液內竭。慎不可攻矣。一切下劑。皆在禁例。誤投之則重虛其津液。故宜蜜煎導而通之。不從內治而從外治。但使硬矢得下。仍無傷於胃氣也。</p>

<h2>豬膽導法</h2>
<p>大豬膽一枚。瀉汁。和醋少許。以灌穀道中。如一食頃。當大便出。此與蜜煎導方同義。但蜜煎導借其熱勢以行津液。此則於導滯之中。</p>
<p>兼寓滌熱之意。微細有別。土瓜導亦同此法。</p>

<h2>生薑瀉心湯</h2>
<p>生薑（四兩切）　甘草（三兩炙）　人參（三兩）　乾薑（一兩）　黃芩（三兩）　黃連（一兩）　半夏（半升洗）　大棗（十二枚擘）</p>
<p>上八味。以水一斗。煮取六升。去滓。再煎取三升。溫服一升。日三服。</p>
<p>傷寒汗出解之後。胃中不和。心下痞硬。乾噫食臭。脅下有水氣。腹中雷鳴下利者。生薑瀉心湯主之。按傷寒成痞。多因誤下。此則不因誤下而成痞。皆因胃中不和。太陽未盡之餘邪。入而與內飲相搏結。陽邪居胃之上口。故心下痞硬。乾噫食臭。水邪居胃之下口。故脅下有水氣。而腹中雷鳴下利。故君以生薑。兩擅散邪逐飲之用。而熱之格於上者。用芩連之苦以瀉之。寒之格於下者。用乾薑半夏之溫以瀉之。復以人參甘草大棗和養胃氣。使邪不能犯正而痞自解。以痞在心下。故方以瀉心名。此寒熱錯雜之邪。故以寒熱錯雜之藥治之。而一一對證。制方之義精矣。</p>

<h2>甘草瀉心湯</h2>
<p>甘草（四兩）　黃芩　乾薑（各三兩）　黃連（一兩）　半夏（半升洗）　大棗（十二枚擘）</p>
<p>上六味。以水一斗。煮取六升。去滓。再煎。取三升。溫服一升日三服。</p>
<p>傷寒中風。醫反下之。其人下利日數十行。穀不化。腹中雷鳴。心下痞硬而滿。乾嘔心煩不得安。醫見心下痞。謂病不盡。復下之。其痞益甚。此非結熱。但以胃中虛。客氣上逆。故便硬也。甘草瀉心湯主之。按下利完穀。腹中雷鳴。是因胃中空虛。心下痞硬而滿。乾嘔心煩不得安。是因客氣上逆。若以心下痞而復下之。是重犯虛虛之戒。本方照生薑瀉心。除去人參生薑。以胃中虛。不宜生薑之散。以氣上逆。無取人參之補。但君甘草。坐鎮中州。使胃虛得復而痞自解耳。</p>

<h2>半夏瀉心腸</h2>
<p>半夏（半升洗）　黃連（一兩）　乾薑　甘草（炙）　人參　黃芩（各三兩）　大棗（十二枚擘）</p>
<p>上七味。以水一斗。煮取六升。去滓。再煎取三升。溫服一升。日三服。</p>
<p>傷寒五六日。嘔而發熱者。柴胡湯證具。而以他藥下之。柴胡證仍在者。復與柴胡湯。此雖已下之不為逆。必蒸蒸而振。卻發熱汗出而解。若心下滿而硬痛者。此為結胸也。大陷胸湯主之。但滿而不痛者。此為痞。柴胡湯不中與之。宜半夏瀉心湯。按此即生薑瀉心湯。去生薑而君半夏。又屬小柴胡之變方。以其證起於嘔。故推半夏為主藥耳。</p>

<h2>大黃黃連瀉心湯</h2>
<p>大黃（二兩）　黃連（一兩）</p>
<p>上二味。以麻沸湯漬之。須臾絞去滓。分溫再服。</p>
<p>脈浮而緊而復下之。緊反入里則作痞。按之自濡。但氣痞耳。心下痞。按之濡。其脈關上浮者。大黃黃連瀉心湯主之。此條柯韻伯謂按之濡。當作按之硬。必有當急下之證。故制比峻攻之劑。疑屬錯簡。此說強經就我。轉使作聖之靈思巧法。盡行埋沒。愚按經文言緊反入里。里邪不能再使出表。當從里解。但按之不濡。中挾飲邪。按之自濡。中不挾飲。故曰但氣痞也。若表邪未罷。脈當尺寸俱浮。今但關上浮。則屬中焦痞結。氣有上逆之象。既曰氣痞。但當順其氣。本方大黃黃連。分兩既輕。漬以沸湯。絞去滓而溫服。則但取其氣。不取其味。使氣順而痞自解。況經文本有表未解不可攻痞之條。此之表解而邪入里。攻痞自宜此法。先聖處方。妙在能用藥而不為藥用。觀其服法。本非急下之劑。與大陷胸之用大黃。小陷胸之用黃連。藥雖同而制則異矣。</p>

<h2>附子瀉心湯</h2>
<p>大黃（二兩）　黃連（一兩）　黃芩（一兩）　附子（一枚炮去皮破別煮取汁）</p>
<p>上四味。㕮咀三味。以麻沸湯二升漬之。絞去滓。納附子汁。分溫再服。心下痞而復惡寒汗出者。附子瀉心湯主之。此條柯氏於心下痞之下。自添大便硬心煩不得眠八字。謂惡寒者表未解。不當用大黃。若汗出是胃實。不當用附子。若汗出為亡陽。不當用芩連。當有大便硬心煩不得眠句。始與此方相合。愚按此說尤悖。大凡惡寒汗不出者屬表實。惡寒汗自出者屬表虛。若但汗出惡寒。仲景自有芍藥甘草附子湯之制今心下痞而復惡寒汗出。則表虛而裡實。但固表則里邪愈壅。但清裡則表陽將亡。故以三黃附子合而用之。附子自能固表。三黃自能清裡。且三黃得附子。其苦寒不致留滯陰邪。附子得三黃。其剽悍不致劫傷津液。此正善用反佐之法。故能以一方而全收復陽驅邪之效。若必加入大便硬心煩不得眠八字。以求與本方之三黃相合。則本經之用大黃。豈必盡為胃實而設。亦有本自下利而反用大黃者。至心煩不得眠。安知非由胃虛客氣上逆之證。亦不得概從苦寒直折。且附子雄烈之性。又安見與大便硬心煩不得眠者相宜。柯氏膠執己見。擅改經文。無論其所言背謬。即使見果確鑿。亦當存闕疑之例。況一偏之見。泥藥求方。使先聖極空靈極神變之活法。而轉以死法求之。悖甚矣。余歷考前賢醫案。用附子瀉心湯而愈者。不一而足。且余亦嘗試驗。故敢直闢柯氏之謬。</p>

<h2>黃連湯</h2>
<p>黃連　甘草（炙）　乾薑　桂枝（各三兩去皮）　人參（二兩）　半夏（半升洗）　大棗（十二枚擘）</p>
<p>上七味。以水一斗。煮取六升。去滓。溫服一升。日三夜二服。</p>
<p>傷寒胸中有熱。胃中有邪氣。腹中痛。欲嘔吐者。黃連湯主之。按胸中有熱。則陽邪格於上。故欲嘔吐。胃中有邪氣。則陰邪格於下。故腹中痛。腹中痛。欲下而不得下也。欲嘔吐。欲吐而仍不得吐也。上熱下寒。法當和解。方用黃連瀉胸熱。乾薑散胃寒。復以半夏寬中而開結。佐以桂枝通陽而化陰。然上徵下奪。宜從中治。故用人參甘草大棗。建立中氣。而上下之邪。各隨所主之藥而分解。此瀉心之變方。而又與瀉心之取義不同。</p>

<h2>黃芩湯</h2>
<p>黃芩（三兩）　甘草（炙）　芍藥（各二兩）　大棗（十二枚擘）</p>
<p>上四味。以水一斗。煮取三升。去滓。溫服一升。日再夜一服。</p>
<p>太陽與少陽合病。自下利者。與黃芩湯。按合病而至於下利。則邪氣將從少陽。轉陷入里。故君黃芩徹少陽之熱。而復以芍藥約之。甘棗和之。使熱清而利自止。雖半表半裡之邪。而里多於表。故治法不從表而從里。</p>
<p>太陽陽明合病下利。表證為多。主葛根湯。陽明少陽合病下利。里證為多。主承氣湯。太陽少陽合病下利。半里半表之證為多。此方即是和法。同一合病下利。而主治不同。何等深細。</p>

<h2>黃芩加半夏生薑湯</h2>
<p>於黃芩湯方內。加半夏半升洗。生薑三兩。余依黃芩湯服法。</p>
<p>太陽與少陽合病。自下利者。與黃芩湯。若嘔者。黃芩加半夏生薑湯。按嘔亦屬少陽證。故加半夏生薑以止嘔。即小柴胡加減法也。</p>

<h2>乾薑黃連黃芩人參湯</h2>
<p>乾薑　黃連　黃芩　人參（各三兩）</p>
<p>上四味。以水六升。煮取二升。去滓。分溫再服。</p>
<p>傷寒本自寒下。醫復吐下之。寒格更逆吐下。若食入口即吐。乾薑黃連黃芩人參主之。按此證系陰格於內。拒陽於外。以乾薑開通陰寒。芩連泄去陽熱。復以人參鼓助胃氣。並可助乾薑之辛溫。衝開陰邪。俾格開而吐自止。</p>

<h2>旋覆代赭石湯</h2>
<p>旋覆花（三兩）　代赭石（一兩）　人參（二兩）　生薑（五兩切）　半夏（半升洗）　甘草（三兩炙）　大棗（十二枚擘）</p>
<p>上七味。以水一斗。煮取六升。去滓。再煎。取三升。溫服一升。日三服。</p>
<p>傷寒發汗若吐若下解後。心下痞硬。噫氣不除者。旋覆代赭湯主之。按心下痞硬。中虛而有留邪也。噫氣不除。胃逆而兼蓄飲也。主旋覆導飲下行。代赭鎮心降逆。而邪之留滯者。復生姜半夏以開之。氣之逆亂者。用人參甘草大棗以和之。虛回邪散。則痞可解而噫亦止矣。</p>

<h2>厚朴生薑甘草半夏人參湯</h2>
<p>厚朴（半斤去皮炙）　生薑（半斤切）　半夏（半升洗）　人參（一兩）　甘草（二兩炙）</p>
<p>上五味。以水一斗。煮取三升。去滓。溫服一升。日三服。</p>
<p>發汗後。腹脹滿者。厚朴生薑半夏人參湯主之。按汗後陽虛不能化氣。</p>
<p>陰邪內結。壅而為滿。本方主厚朴除滿。而生薑半夏人參甘草。皆醒胃和脾。使氣得化而滿自除矣。</p>

<h2>理中丸（並湯）</h2>
<p>人參　白朮　甘草（炙）　乾薑（各三兩）</p>
<p>上四味。搗篩為末。蜜和為丸。如雞子黃大。以沸湯數合。和一丸研碎。溫服之。日三服。夜二服。腹中未熱。益至三四丸。然不及湯方。法以四物依兩數。切用。水八升。煮取三升。去滓。溫服一升。日三服。若臍上築者。腎氣動也。去朮加桂四兩。吐多者去朮加生薑三兩。下多者還用術。悸者加茯苓二兩。渴欲飲水者。加朮足前成四兩半。腹中痛者。加人參足前成四兩半。寒者加乾薑足前成四兩半。腹滿者去朮加附子一枚。服湯後。如食頃飲熱粥一升許。微自溫。勿揭衣被。</p>
<p>經云。大病瘥後。喜唾。久不了了。胃上有寒。當以丸藥理之。宜理中丸。霍亂頭痛發熱。身疼痛。寒多不用水者。宜理中湯。蓋理中者理中焦之寒也。寒在胃上。取丸藥之暖。逗遛於上。以溫胃而散寒。若寒勝熱之霍亂。利在急溫。則不宜丸而宜湯。緩宜丸。急宜湯。此先聖之成法。不可紊也。再理中湯加減之法。與小青龍小柴胡加減法同義。宜當細玩。不得草草讀過。</p>

<h2>桂枝附子湯</h2>
<p>桂枝（四兩去皮）　附子（三枚炮去皮破八片）　生薑（三兩切）　甘草（三兩炙）　大棗（十二枚擘）</p>
<p>上五味。以水六升。煮取三升。去滓。分溫三服。</p>
<p>傷寒八九日。風濕相搏。身體煩疼。不能自轉側。不嘔不渴。脈浮虛而澀者。桂枝附子湯主之。按身體煩疼。不能自轉側。固屬風濕相搏之候。然風濕相搏。有屬濕溫。有屬寒濕。於何辨之。蓋以證言。則嘔而渴者屬溫。不嘔不渴者屬寒。以脈言。則實而數者屬溫。虛浮而澀者屬寒。諦實此證此脈。便可主以桂枝附子湯而無疑也。</p>
<p>徐靈胎曰。此即桂枝去芍藥加附子湯。但彼桂枝用三兩。附子用一枚。以治下後脈促胸滿之證。此桂枝加一兩。附子加二枚。以治風濕相搏身疼脈浮澀之證。一方而治病迥殊。方名亦異。分兩之不可忽如此。義亦精矣。後人何得以古方輕於加減也。</p>

<h2>桂枝附子去桂加白朮湯</h2>
<p>白朮（四兩）　甘草（二兩炙）　附子（三枚炮）　生薑（三兩）　大棗（十二枚）</p>
<p>上五味。以水六升。煮取二升。去滓。分溫三服。初服。其人身如痹。半日許。復服之。三服盡。其人如冒狀。勿怪。此以附術並走皮內逐水氣。未得除。故使之耳。法當加桂四兩。此本一方二法。以大便硬。小便自利。去桂也。以大便不硬。小便不利。當加桂。附子三枚恐多也。虛弱家及產婦。宜減服之。</p>
<p>按前證若其人大便硬。小便自利者。去桂加白朮湯主之。小便自利。無取桂枝開膀胱而化氣。恐滲泄太過。重虛津液也。大便硬反用白朮者。以白朮能益脾而輸精也。當察二便以與前方相出入。附術並走皮內逐水氣。未得除之。先其人身如痹。繼復如冒狀。亦險絕矣。險而穩。此其立方之所以聖也。藉非胸有把握。安能任用附子至三枚之多。而履險如夷哉。</p>

<h2>四逆湯</h2>
<p>甘草（二兩炙）　乾薑（一兩半）　附子（一枚生用去皮破八片）</p>
<p>上三味。以水三升。煮取一升二合。去滓。分溫再服。強人可用大附子一枚。乾薑三兩。</p>
<p>四逆者。手足厥冷也。方以四逆名。用治三陰經吐利厥逆之寒證也。乾薑溫中散寒。生附驅陰復陽。二味合用。乃能徹上徹下。開闢群陰。而挽垂絕之陽。復以甘草者。正取其甘緩留中。制雄銳之師。迅奏膚功。迎陽復辟。此三陰經中之第一方也。</p>
<p>經云。脈浮而遲。表熱裡寒。下利清穀者。四逆湯主之。蓋下利清穀。里證已急。急當救里。若復瞻顧表熱。恐陽隨下利而亡矣。此表裡緩急先後之界。失治即駟馬難追。急當著眼。</p>
<p>自利不渴者屬太陰。以其藏有寒故也。夫自利不皆屬寒。自利不渴。則寒證可知。雖未至手足厥逆。而溫中散寒。當防於未然矣。此太陰用四逆之大法。</p>
<p>少陰病脈沉者。沉為在裡。急當救里。若欲吐而膈上有寒飲乾嘔者。益屬陰邪上逆之象。尤當從事於此湯之急溫。此少陰用四逆之大法。諸四逆厥者不可下之。虛家亦然。凡厥者陰陽氣不相順接便為厥。厥者手足逆冷是也。厥有寒有熱。凡下利厥逆而惡寒者。大汗若大下利而厥冷者。則屬虛寒可知。皆主是湯。此厥陰宜四逆之大法。</p>
<p>又經云。吐利汗出。發熱惡寒。四肢拘急。手足厥冷者。四逆湯主之。既吐且利。小便複利。而大汗出。下利清穀。內寒外熱。脈微欲絕者。四逆湯主之。按此二條。乃寒邪直中三陰而成霍亂之證。汗出惡寒。手足厥冷。下利清穀。脈微欲絕。若不急溫。瞬有轉筋入腹之變。此三陰通用四逆之大法。</p>
<p>四逆證具。若無脈沉微惡寒等陰象。雖下利而並非清穀。反下重者。既屬轉經之熱邪。不可誤用。貽禍難挽。當須細辨。</p>

<h2>四逆加人參湯</h2>
<p>四逆湯原方。加人參一兩。</p>
<p>惡寒脈微而複利。利止亡血也。四逆加人參湯主之。按亡血即亡津液之謂。故加人參補虛以生津液也。</p>

<h2>通脈四逆湯</h2>
<p>甘草（二兩炙）　乾薑（三兩強人四兩）　附子（大者一枚生用去皮破八片）</p>
<p>上三味。以水三升。煮取一升二合。去滓。分溫再服。其脈即出者愈。</p>
<p>面色赤者。加蔥九莖。腹中痛者。去蔥加芍藥二兩。嘔者。加生薑二兩。咽痛者。去芍藥加桔梗一兩。利止脈不出者。去桔梗加人參二兩。</p>
<p>四逆湯為驅陰復陰之主藥。此因陰盛格陽。故加蔥以通其格。經云。少陰病。下利清穀。裡寒外熱。手足厥逆。脈微欲絕。身反不惡寒。其人面色赤。面色赤加蔥九莖。按下利清穀。手足厥冷。脈微欲絕而裡寒者。陰盛於內也。身反不惡寒。面色赤而外熱者。格陽於外也。面色赤者加蔥九莖。此通脈四逆之正法也。或腹中痛者。去蔥之辛散。加芍藥斂脾陰而止痛。或嘔者。加生薑以止嘔。或咽痛者。去芍藥之酸斂。加桔梗以清咽。四逆主治其本。諸加減法兼治其標。若利止脈不出者。去桔梗加人參。即與四逆加人參湯同義。至四逆證具。裡寒外熱。汗出而厥者。此陽有立亡之象。亦宜此方主治。</p>

<h2>通脈四逆加豬膽汁湯</h2>
<p>於通脈四逆原方。加豬膽汁半合。余如前法煎成。納豬膽汁。溫服。其脈即出。</p>
<p>吐已下斷。汗出而厥。四肢拘急不解。脈微欲絕者。通脈四逆加豬膽汁湯主之。按汗出而厥。四肢拘急。脈微欲絕。皆四逆及通脈四逆固有之證。何取乎膽汁之加。要其著眼全在吐已下斷四字。蓋吐已下斷。津液內竭。投通脈四逆純陽之劑。正恐格不相入。故藉膽汁導引之力。以和陰而復陽也。</p>

<h2>乾薑附子湯</h2>
<p>乾薑（一兩）　附子（一枚生用去皮破八片）</p>
<p>上二味。以水三升。煮取一升。去滓頓服。</p>
<p>下之後。復發汗。晝日煩躁不得眠。夜而安靜。不嘔不渴。無表證。脈沉微。身無大熱者。乾薑附子湯主之。按下後則陰氣盛而陽已虛。復發汗以散其陽。則虛陽擾亂。故晝日煩躁不得眠也。夜而安靜。非吉兆也。止以入夜純陰用事。而衰陽欲躁擾不能也。此法不用甘草。較四逆湯尤峻。取其直破陰霾。復還陽氣。必審無嘔渴表證。脈沉微身無大熱者。則煩躁的為虛陽擾亂之煩躁。乃可主以此方而不至誤用也。</p>
<p>獨陰自治於陰分。孤陽自擾於陽分。故用姜附助陽以配陰。</p>

<h2>白通湯</h2>
<p>乾薑附子湯原方。加蔥白四莖。煎服法照前。</p>
<p>少陰病下利。白通湯主之。按少陰下利。腎中真陽。將隨下利而亡。故以姜附溫腎。而加蔥白以升舉下陷之真陽也。</p>

<h2>白通加豬膽汁湯</h2>
<p>白通湯原方。加人尿五合。豬膽汁一合。以水三升。煮取一升。去滓。納豬膽汁人尿和令相得。分溫再服。</p>
<p>少陰病下利脈微者。與白通湯。利不止。厥逆無脈。乾嘔煩者。白通加豬膽汁湯主之。按少陰下利。治用白通。藥本不誤。正以陰氣太甚。與辛熱之藥格不相入。故加人尿豬膽汁以為嚮導。與通脈四逆加豬膽汁同義。服湯脈暴出者。乃為藥力所迫。而陽氣將泄露無餘。仍主死也。微續乃正氣漸復。故可生也。</p>

<h2>茯苓四逆湯</h2>
<p>茯苓（六兩）　人參（一兩）　甘草（二兩）　乾薑（一兩半）　附子（一枚生用去皮破八片）</p>
<p>上五味。以水五升。煮取三升。去滓。溫服七合。日三服。</p>
<p>發汗若下之。病仍不解。煩躁者。茯苓四逆湯主之。按未經汗下而煩躁屬陽盛。既經汗下後而煩躁屬陽虛。且汗下之後。津液告竭。故於四逆湯中。加茯苓以安下。人參以補虛也。</p>

<h2>四逆散</h2>
<p>柴胡　枳實（炙）　甘草（炙）　芍藥</p>
<p>上四味。各十分。搗篩。白飲和服。方寸匕。日三服。</p>

<h2>當歸四逆湯</h2>
<p>當歸　桂枝　芍藥　細辛（各三兩）　甘草（炙）　通草（各二兩）　大棗（二十五枚）</p>
<p>上七味。以水八升。煎取三升。溫服一升。日三服。</p>
<p>此又屬血虛而致四逆者也。血虛則不宜姜附。重劫津液。故以當歸補血為主。佐以芍藥甘草大棗。和陰而生津。復以桂枝細辛通草。通陽而溫表。使陰陽之氣順接。則四末溫而厥逆止。</p>
<p>按此方為亡血家設法。亡血家四逆。有脈細欲絕者。血虛不能榮於外也。有脈浮革者。血虛不能固於中也。同為當歸四逆湯主治。</p>

<h2>當歸四逆加吳茱萸生薑湯</h2>
<p>即前方。加吳茱萸二兩。生薑半斤。切。以水六升。清酒二升。和煮取五升。去滓。溫分五服。</p>
<p>手足厥寒。脈細欲絕者。當歸四逆湯主之。若其人內有久寒者。宜當歸四逆加吳茱萸生薑湯主之。按內有久寒。不用幹姜附子者。總因亡血家慮其劫陰召變。但以吳萸生薑溫中散寒。而復以清酒和之。則陰陽和而手足自溫。</p>

<h2>附子湯</h2>
<p>附子（二枚炮）　茯苓（三兩）　人參（二兩）　白朮（四兩）　芍藥（三兩）</p>
<p>上五味。以水八升。煮取三升。去滓。溫服一升。日三服。</p>
<p>按經云。少陰病。身體疼。手足寒。骨節痛。脈沉者。此湯主之。沉為在裡。只宜溫里。此全以脈沉為辨。又云。少陰病得之一二日口中和其背惡寒者當灸之。此湯主之。此又以口中和為辨。口中和而背惡寒。則非陽邪怫鬱之惡寒。乃可主以此湯而無疑。</p>
<p>此少陰病溫經散寒正治之法。主附子之雄烈。下消腎中之水寒。上資君主之熱化。人參助陽。芍藥和陰。茯苓利竅以逐水。白朮燥濕以燠土。併力溫托。絕不加入一毫升散之藥。但使元陽得振而病自解。</p>
<p>柯韻伯曰。此與真武湯似同而實異。倍朮附。去生薑。加人參。是溫補以壯元陽。真武湯還是溫散而利胃水也。此辨明真武附子。界限卻清。</p>

<h2>甘草附子湯</h2>
<p>甘草（二兩炙）　附子（二枚炮去皮破八片）　白朮（二兩）　桂枝（四兩去皮）</p>
<p>上四味。以水六升。煮取三升。去滓。溫服一升。日三服。初服得微汗則解。能食汗出復煩者服五合。恐一升多者。宜服六七合為始。</p>
<p>經云。風濕相搏。骨節煩疼。掣痛不得屈伸。近之則痛劇。汗出短氣小便不利。惡風不欲去衣。或身微腫者。甘草附子湯主之。按此段形容風濕相搏之病狀最著。濕壅於經。故身腫痛劇而小便不利。風淫於衛。故汗出短氣而惡風不欲去衣。附子白朮。宣太陰以驅濕。甘草桂枝。通太陽以散風。凡風濕證大發其汗。病必不解。此方亦是不欲發汗之意。當取微汗為佳。</p>

<h2>赤石脂禹餘糧湯</h2>
<p>赤石脂（一斤碎）　禹餘糧（一斤碎）</p>
<p>上二味。以水六升。煮取二升。去滓。分三服。</p>
<p>傷寒服湯藥。下利不止。心下痞硬。服瀉心湯已。復以他藥下之。利不止。醫以理中與之。利益甚。理中者理中焦。此利在下焦。赤石脂禹糧湯主之。複利不止者。當利其小便。按此段經文。本已自解明白。利在下焦。關閘盡撤。急當固下焦之脫。石脂餘糧固澀之品。性皆重墜。直走下焦。攔截穀道。修其關閘。此以土勝水之法。若複利不止。則又當通支河水道。以殺其下奔之勢。而關閘始得完固。</p>

<h2>炙甘草湯</h2>
<p>甘草（四兩炙）　生薑（二兩切）　桂枝（三兩去皮）　麥冬（半斤去心）　麻子仁（半斤）　人參（二兩）　阿膠（二兩）　大棗（十二枚擘）　生地黃（一斤）</p>
<p>上九味。以清酒七升。水八升。先煎八味。取三升。去滓。內膠烊銷盡。溫服一升。日三服。一名復脈湯。</p>
<p>傷寒脈結代。心動悸者。炙甘草湯主之。按脈結代而心動悸。則心悸非水飲搏結之心悸。而為中氣虛餒之心悸矣。經文明以結陰代陰。昭揭病因。證津液衰竭。陰氣不交於陽。已可概見。君以炙甘草。坐鎮中州。而生地麥冬麻仁大棗人參阿膠之屬。一派甘寒之藥。滋陰復液。但陰無陽則不能化氣。故復以桂枝生薑。宣陽化陰。更以清酒通經隧。則脈復而悸自安矣。</p>

<h2>甘草乾薑湯</h2>
<p>甘草（四兩炙）　乾薑（二兩炮）</p>
<p>上二味。以水三升。煮取一升五合。去滓。分溫再服。</p>
<p>按此方系因誤用桂枝。陽越於上。致有厥逆咽中干。煩躁吐逆譫語諸變。特出此復陽救逆之法。觀方中甘草倍乾薑。專任其甘緩之性。特微加乾薑為嚮導。引陽還返於下。並非資乾薑之辛熱以復陽也。用者須識此意。</p>

<h2>芍藥甘草湯</h2>
<p>芍藥（四兩）　甘草（四兩炙）</p>
<p>上二味。以水三升。煮取一升五合。去滓。分溫再服。</p>
<p>按陽越於上。既用甘草乾薑湯以復其陽。而攣急未解。明是津液不榮經脈。但以芍藥甘草和之。而腳即伸。亦正所以救桂枝之逆也。此法試之頗驗。不可以其平易而忽之。</p>

<h2>麻黃連軺赤小豆湯</h2>
<p>麻黃（二兩去節）　赤小豆（一升）　連軺（二兩）　杏仁（四十枚去皮尖）　生薑（二兩切）　生梓白皮（一升）　甘草（一兩炙）　大棗（十二枚）</p>
<p>上八味。以潦水一斗。先煮麻黃。再沸。去上沫。納諸藥。煮取三升。分溫三服。半日服盡。</p>
<p>傷寒瘀熱在裡。身必發黃。麻黃連軺赤小豆湯主之。按瘀熱在裡。則傷寒之表邪。亦瘀而不行。內外合邪。因致發黃。治亦當內外並解。傷寒解外。仍不離麻黃杏仁甘草之成法。熱瘀則不宜桂枝而改用連軺。以散在經之熱。更用赤小豆梓白皮以清在裡之熱。而復以薑棗和之。以其發黃從傷寒而來。猶兼半表。亦麻黃湯之變制也。</p>

<h2>茵陳蒿湯</h2>
<p>茵陳蒿（六兩）　梔子（十四枚擘）　大黃（三兩）</p>
<p>上三味。以水一斗。先煮茵陳。減六升。納二味。煮取三升。去滓。分溫三服。小便當利。尿如皂角汁狀。色正赤。一宿腹減。黃從小便去也。</p>
<p>傷寒七八日。身黃如橘子色。小便不利。腹微滿者。茵陳蒿湯主之。陽明病發熱汗出者。此為熱越。不能發黃也。但頭汗出。身無汗。劑頸而還。小便不利。渴飲水漿者。此為瘀熱在裡。身必發黃。茵陳蒿湯主之。按發黃證若小便自利而發黃者。屬蓄血。小便不利而發黃者。屬瘀熱。小便不利而至渴欲飲水。濕從火化也。腹微滿熱瘀不行也。茵陳利濕。山梔降熱。大黃行瘀。導在裡之濕熱。從小便而解。而身黃自除。</p>

<h2>麻黃升麻湯</h2>
<p>麻黃（二兩半去節）　升麻（一兩一分）　當歸（一兩一分）　知母　黃芩　葳蕤（各十八銖）白朮　石膏　乾薑　芍藥　天冬（去心）　桂枝　茯苓　甘草（各六銖炙）</p>
<p>上十四味。以水一斗。先煮麻黃。一二沸。去上沫。納諸藥。煮取三升。去滓。分溫三服。相去如炊三斗米頃。令盡。汗出愈。</p>
<p>傷寒六七日。大下後。寸脈沉而遲。手足厥逆。下部脈不至。咽喉不利。唾膿血。泄利下重者為難治。麻黃升麻湯主之。按此條傷寒六七日。陰液已傷也。復經大下。陽津重竭也。下後陽氣陷入陰中。而陰氣亦復衰竭。故寸脈沉而遲。陽氣既已下陷。將隨下利而亡。故下部脈不至。以致咽喉不利唾膿血。手足厥逆。泄利不止。種種見證。皆因陽去入陰。上徵下奪。最為危候。故稱難治。本方用一派甘寒清熱之藥。不嫌重複。獨任麻黃升麻二味。從陰分提出陽氣。復以桂枝幹姜佐諸陰藥化氣生津。蓋熱不清則津不復。陽不升則津不固。錯雜之邪。以錯雜之藥解之。先聖立方之精如此。</p>

<h2>吳茱萸湯</h2>
<p>吳茱萸（一升洗）　人參（三兩）　生薑（六兩）　大棗（十二枚）</p>
<p>上四味。以水七升。煮取二升。去滓。溫服七合。日三服。</p>
<p>此本溫胃之方。而亦以通治厥少二陰吐利垂絕之證。蓋陽明居中土。食谷欲嘔。土受木克。胃氣垂敗。按吳萸本厥陰藥。茲以人參甘草大棗。奠安中土。而主吳萸溫中散寒。以泄土中之木。則嘔吐而谷可納。至少陰病吐利。手足逆冷。煩躁欲死。此因上下交徵。胃氣隨吐利而將敗。而厥陰更得侮其所不勝。病本在腎。病機在肺。而主治則在胃。得此劑補火生土。而濁陰自退矣。</p>

<h2>黃連阿膠湯</h2>
<p>黃連（四兩）　黃芩（一兩）　芍藥（二兩）　阿膠（三兩）　雞子黃（二枚生用）</p>
<p>上四味。以水五升。先煮三物。取二升。去滓。內膠烊盡。小冷。內雞子黃。攪令相得。溫服七合。日三服。</p>
<p>少陰病得之二三日以上。心中煩。不得臥。此真陰為邪熱煎熬。故以育陰清熱為治。芩連瀉熱也。膠黃養陰也。再佐以芍藥斂陰復液。則熱清而煩自除。</p>
<p>按此條之不得臥。乃熱傷陰而心腎不交也。雞子黃入心。阿膠入腎。病本少陰。自宜心腎同治。</p>

<h2>桃花湯</h2>
<p>赤石脂（一升一半全用一半篩末）　乾薑（一兩）　粳米（一升）</p>
<p>上三味。以水七升。煮米令熟。去滓。納赤石脂末。方寸匕。溫服七合。日三服。若一服愈。余勿服。</p>
<p>少陰便膿血。是感君火熱化。奔迫太過。閉藏失職。關閘盡撤。不急治則亡陰。故取石脂乾薑之辛澀。以散邪固脫。加梗米以益中虛。先使中氣不下墜。而復以一半石脂末調服。俾黏著大腸。攔截穀道。方以桃花名者。非特色相似。亦取晹谷春回之意也。</p>

<h2>半夏散（並湯）</h2>
<p>半夏（洗）　桂枝（去皮）　甘草（炙）</p>
<p>上三味等分。各別搗篩已。合治之。白飲和服方寸匕。日三服。若不能散服者。以水一升。煎七沸。內散兩方寸匕。更煎三沸。下火。令小冷。少少咽之。</p>
<p>少陰病。咽中痛。半夏散及湯主之。按少陰咽痛。大都上熱下寒。不宜寒涼直折。本方用半夏開痰。桂枝散邪。復甘草以緩其急。使無劫液之虞。能咽者用散。不能咽者用湯。須令小冷。少少咽之。此病在上者。但治其上。不欲其犯及中下也。</p>

<h2>豬膚湯</h2>
<p>豬膚（一斤）　</p>
<p>上一味。以水一斗。煮取五升。去滓。加白蜜一升。白粉五合。熬香和令相得。溫分六服。</p>
<p>少陰病。下利咽痛。胸滿心煩者。豬膚湯主之。按下利咽痛。有陰盛而陽格於上者。治以驅陰復陽。若通脈四逆加桔梗是也。有陰虛而液不上蒸者。治宜育陰復液。若本方豬膚湯是也。腎液既從下溜而不上蒸。則陰火充斥。因致煩滿。故以豬膚滋腎臟之液。而緩以白蜜白粉。留戀中焦。輸精布液。以解其上徵下奪之危。</p>
<p>喻嘉言曰。豬膚與用黑驢皮之意頗同。若以燖豬皮外毛根薄膚。則薟劣無力。且與熬香之說不符。但用外皮。去其內層之肥白為是。</p>

<h2>甘草湯</h2>
<p>甘草（二兩）</p>
<p>上一味。以水三升。煮取一升五合。去滓。溫服七合。日二服。</p>
<p>少陰病二三日。咽痛者可與甘草湯。按咽痛而不下利。得病只二三日。是邪熱客於少陰之標也。少陰咽痛。總不宜苦寒。直折。故但取甘草之甘。以緩腎急而制火邪也。</p>

<h2>桔梗湯</h2>
<p>桔梗（一兩）　甘草（二兩）</p>
<p>上二味。以水三升。煮取一升。去滓。分溫再服。</p>
<p>少陰病二三日咽痛者。與甘草湯不瘥。既得甘緩之力。而經氣尚阻而不通。仍用本方加桔梗一兩。載藥上浮。成開邪利咽之功。</p>

<h2>苦酒湯</h2>
<p>半夏（十四枚）　雞子（一枚去黃）</p>
<p>上二味。納半夏著苦酒中。以雞子殼置刀環中。安火上。令三沸。去滓。</p>
<p>少少含咽之。不瘥更作三劑。</p>
<p>少陰病。咽中傷。生瘡。不能語言聲不出者。苦酒湯主之。諦實咽痛之屬少陰病。始而痛者。繼且咽中傷生瘡矣。不能語言聲不出。則陰火沸騰。並舌本亦強矣。半夏雞子。消痰利咽。二味並用。俾半夏無燥液劫津之慮。雞子得通聲利竅之功。而消腫斂瘡。更有藉於苦酒之斂降。其煎法服法。總使其逗遛病所。妙義天開。真令人不可思議。</p>

<h2>烏梅丸</h2>
<p>烏梅（三百個）　人參（六兩）　當歸（四兩）　黃連（一斤）　黃柏（六兩）　蜀椒（四兩炒去汁）　桂枝（六兩）　乾薑（十兩）　附子（八兩炮）　細辛（六兩）上十味。各搗篩。合治之。以苦酒浸烏梅一宿。去核。蒸之。五升米下飯熟。搗成泥。和藥令相得。納臼中。與蜜杵二千下。丸如梧桐子大。先食飲服十丸。日三服。稍加至二十丸。禁生冷滑物臭食等。</p>
<p>經云。傷寒脈微而厥。至七八日膚冷。其人躁無暫安時者。此為藏厥。非蛔厥也。蛔厥者。其人當吐蛔。今病者靜而復時煩者。此為藏寒。蛔上入其膈。故煩。須臾復止。得食而嘔又煩者。蛔聞食臭出。其人當自吐蛔。蛔厥者烏梅丸主之。又主久利。按此方主治蛔厥。其妙處全在米飯和蜜。先誘蛔喜。及蛔得之。而烏梅及醋之酸。椒薑桂附及細辛之辛。黃柏黃連之苦。則蛔不堪而伏矣。但厥後氣血不免擾亂。故加人參當歸奠安氣血。此方雖寒熱錯雜。但溫藏之力居多。又得烏梅之酸澀以固脫。故又主久利。</p>

<h2>白頭翁湯</h2>
<p>白頭翁（二兩）　黃連　黃柏　秦皮（各三兩）</p>
<p>上四味。以水七升。煮取二升。去滓。溫服一升。不愈。再服一升。</p>
<p>按此方寒以勝熱。苦以堅陰。用治熱利下重欲飲水者。蓋下重則熱邪奔迫。欲飲水則津液為熱所傷矣。或通或澀。皆所不宜。但清其熱而利自止。</p>

<h2>竹葉石膏湯</h2>
<p>竹葉（二把）　石膏（一斤）　半夏（半升洗）　人參（三兩）　麥冬（一升去心）　甘草（二兩炙）　粳米（半升）</p>
<p>上七味。以水一斗。煮取六升。去滓。納粳米。煮米熟湯成。去米。溫服一升。日三服。</p>
<p>傷寒解後。虛羸少氣。氣逆欲吐者。竹葉石膏湯主之。按此係肺胃之津液。因病熱而受傷。故主此方。滋養肺胃。以復陰氣而清餘熱。石膏竹葉之辛涼。得人參麥冬甘草粳米以相輔。便為益胃生津之品。因氣逆欲吐。微加半夏。以平逆氣。此愈得調理之法。其靈警有如此者。</p>

<h2>牡蠣澤瀉湯</h2>
<p>牡蠣（熬）　澤瀉　蜀漆（洗盡腥）　栝蔞根　葶藶子（熬）　海藻（洗去鹽）　商陸根（熬）　以上各等分</p>
<p>上七味。異搗下篩為散。更入臼中杵之。白飲和方寸匕。小便處。止後服。</p>
<p>大病瘥後。從腰以下有水氣者。牡蠣澤瀉散主之。按大病瘥後。津液已傷。而從腰以下有水氣。是水蓄於陰分也。水蓄陰分。非咸不降。故以牡蠣澤瀉海藻鹹寒之性。入陰軟堅。而加蜀漆以通經隧。葶藶商陸以逐水邪。復以栝蔞根。於潤下導滯之中。迴護津液。為散服者。亦以病後當從緩治也。</p>

<h2>燒裩散</h2>
<p>上取婦人中裩近隱處。剪燒灰。以水和服方寸匕。日三服。小便即利。陰頭微腫即愈。婦人病。取男子裩當燒灰。</p>
<p>經云。傷寒陰陽易之為病。其人身體重。少氣。少腹裡急。或引陰中拘攣。熱上衝胸。頭重不欲舉。眼中生花。膝脛拘急者。此方主之。按大病新瘥。餘邪未盡。強合陰陽。二氣交感。互易為病。推其病本。感從前陰而入。仍當導其邪。使驅從前陰而出。故必小便利而始愈。方中單用燒裩一味。取其氣之所感。以類相從。古所傳禁方。有令人不可思議者。大率類是。</p>
