<header data-type="book">
<h1>誠求集</h1>
</header>

<h1>一、急驚風</h1>
<p>小兒夜臥不穩，臥困中笑哭，齧齒咬乳，鼻額有汗，即發驚之漸。其發也，痰壅壯熱，面赤唇紅，忽然手足牽引，竄視反張，脈浮洪數緊，口中氣熱甚，且牙關緊急，或啼不出聲，此由內實有熱，外挾風邪（小兒陽旺則內熱，熱極則風生。此風非外來之風，則內出之風。）風火相摶，肝心二臟交爭，痰涎壅塞，關竅不通，風氣蓄甚，盛而無所泄，故暴烈而為急驚也。治先通關，取吐取嚏，次用截風定搐丸（只清其火、治其驚，便是截風定搐，原不必用風藥以表散也。）痰熱既降，當養血安神。若搐定而尚有微邪，宜消痰清熱；若搐不定，仍議下之，然須詳審所因，分別處治。或傷風熱，至心熱甚而生驚，肝邪動而發搐，宜先清散，疏肝經，安魂退熱。或傷暑熱，面垢唇紅，脈沉細數，忽發驚搐，不省人事，宜消暑清心飲、辰砂六一散之類。有傷風咳嗽，痰涎壅盛而發驚搐者，宜導痰順氣，如王氏抱龍丸，疏解之劑送下。有因異相惡物，厲聲觸響及客忤而發驚搐者，宜鎮驚安神，牛黃鎮驚丸，茯神金銀器煎湯服之。有兒心神不足，獨臥無伴，恐懼發驚者，或平時為驚恐便掣搦者，安神丸。有胎毒瘡腫頓愈，其毒內攻，腹脹發搐者，百解散主之。如瘡再發可愈，不發則喘脹而死。有飲食傷脾，脾弱不化，氣血凝滯，腹脹發搐者，以消化為主。是則善治驚風者，當無執驚風二字於胸中，乃稱神妙。薛按云：急驚多屬肝膽經症，不可純用去風化痰。其實熱，抽搐飲冷，便閉者，瀉青丸；便調者，抑肝散；大便不實作渴者及食少者，地黃丸；肝血虛而風火相摶，抽搐目瞤，筋急痰盛者，四物加鉤藤、山梔，以清肝生血，更用四君以補脾，六味以滋腎。又云：邪入本臟，則面青眼竄，宜柴胡清肝散加龍膽草。邪入心，則面赤夜啼，梔子清肝散加川連。邪入脾，則面黃嘔吐，虛汗嗜臥，六君加柴胡、山梔。邪入肺，則面白氣喘，異功加柴胡、桂枝。邪入腎，則面黑，齧齒咬牙，六味丸。如已服祛風化痰、瀉火辛散之劑而病不愈者，便宜認作脾虛血損，急保脾土，此尤推本之治，不可不參。</p>
<p><u>治驗</u></p>
<p>（案1）發熱，腮紅臉赤，見其兩目如怒，直視不轉，知其驚風將至，急為瀉其肝膽之火而愈。</p>
<p>（案2）九歲，因驚發熱，抽搐頓悶，煩渴飲冷，面目赤色，印堂左腮尤甚。此心肝二經風熱相摶，為形病俱實之症。用瀉心丸料，入炒川連，一劑便利，而熱抽搐減，繼以清心平肝而愈。</p>
<p>（案3）二月發搐多痰，投二陳、薑汁、竹瀝不效。密齋診之，三關青氣，兩頰赤色，目常直視，指如捻物。曰：此得之外感，未與發散，熱入於裡。蓋肝有熱則目直視，得心熱則搐。小兒肝常有餘，又乘木旺之時，當與瀉肝。陳皮、半夏、生薑之辛，皆助肝之物，安得取效？乃用瀉青丸以瀉肝木之有餘，導赤散以瀉火熱之在心，兼服而安。</p>
<p>（案4）二歲，身熱驚悸，諸罔效。一日忽作鴉聲，少頃音啞，魚口開張，狀如欲哭，卻但眉皺結，終無音出。遂以指探其口中，唇乾舌燥，知其為心熱，故欲言而不能也。急用清心解毒湯，一服而鴉聲復出，再劑而音始全而愈。世人一見驚症不啼，便以啞驚風目之，棄而不治，或從用通關利竅之藥，終歸無益，深可痛也。</p>
<p>（案5）五歲，悶亂喘逆，痰壅聲啞，醫者欲作驚治。余曰：是肺脹也，試驗其鼻張（肺竅通於鼻），可信。與牛黃葶藶丸，一服，立見痰下降而諸症悉平。</p>
<p>（案6）發熱抽搐，角弓反張，神昏多汗。醫者或因其搐掣，將投鎮墜；或因其昏汗，欲進補益。予診之，尺寸俱浮，攢眉多啼，信用太陽疏解藥一劑，勢減大半，後遂不服藥而愈。諸醫詢其故，曰：予脈浮，知其表症也。眉皺啼哭乃頭疼之明驗也。症在太陽，其脈上連風府，下貫腰脊，病則筋脈牽強而為搐掣，只因小兒腠理未密，神智未全，故傷寒初起，太陽早已多汗神昏耳。</p>
<p>（案7）夏月，卒然驚搐，悶亂不寧，煩熱作渴，多汗神昏，脈虛微。余用鮮青蒿、川連、香薷、人參、茯神、絲瓜葉，露水煎服，以清時令火熱，補元氣之不足，二劑如釋（審前症，倘有鬱悶之疾者，加開豁之味）。其現症，似與前症太陽之患略同，但傷寒初起不渴，傷暑初起便渴；傷寒脈盛，傷暑脈微。以此辨之，合參二症，既可識寒暑之分，復當知抽搐似驚而實非驚者，最易混同處治，不可不審其毫芒間也。</p>
<p><u>急驚風方　</u></p>
<p>取吐法：南星　牙皂　殭蠶　麝香　赤腳蜈蚣</p>
<p>為細末，薑汁調，擦牙上或入二三滴於口鼻中，取吐出涎，關自通矣。</p>
<p>取嚏法：牙皂　細辛　川芎　白芷　麝香</p>
<p>銼曬為末，用燈心蘸入鼻內，得嚏可愈。</p>
<p>截風定搐丸：天麻　殭蠶　南星　防風　硃砂　全蠍　蜈蚣　白附子　麝香</p>
<p>蜜丸梧子大，薄荷鉤藤湯送下一丸。</p>
<p>定搐丸：赤腳蜈蚣（酒浸，炙，一條）　麻黃（去節）　南星（炮）　白附子　殭蠶　羌活　代赭石（醋煅七次）　蠍梢　薑黃（各二錢）　硃砂（一錢）</p>
<p>各為末，荊芥蘇葉湯調下。又法，蜜丸梧子大，每服五分。又方，去麻黃，加薄荷、麝香、乳香、白花蛇頭一個酒炙一錢五分、天麻。</p>
<p>消暑清心飲：香薷　澤瀉　扁豆　黃連　薄荷　豬苓　厚朴　乾葛　甘草　茯苓</p>
<p>鎮驚丸：麻黃　人參（三錢）　甘草　茯苓　松殼（五錢）　白附子　硼砂　硃砂（二錢五分）　全蠍（去尾稍）　麝香</p>
<p>安神丸：硃砂（四錢）　川連　生地（五錢）　甘草（二錢五分）</p>
<p>瀉青丸：羌活（一兩）　防風（一兩）　川芎（一兩）　當歸（一兩五錢）　山梔（二兩）　龍膽草（一兩）　大黃（三兩）</p>
<p>蜜丸芡實大，每服一丸，山梔湯下。</p>
<p>抑肝散：柴胡　鉤藤　龍膽草　薄荷　山梔　甘草　當歸　白芍</p>
<p>水煎服。</p>
<p>百解散：葛根　升麻　赤芍　黃芩　薄桂　甘草　麻黃</p>
<p>梔子清肝散：柴胡　山梔　丹皮（各一錢）　茯苓　川芎　芍藥　當歸　牛蒡子（各七分）　甘草（三錢）</p>
<p>柴胡清肝散：柴胡（五錢）　黃芩（炒，一錢）　人參（三錢）　甘草（四錢）　川芎（炒，一錢）　山梔（一錢五分）　連翹　桔梗（各一錢）</p>
<p>水煎服。</p>
<p>導赤散：生地　木通　甘草　竹葉　燈心</p>
<p><u>急驚風不治症</u></p>
<p>目睛不轉，口中出血，兩足擺跳，肚腹搐動，或神緩而摸體尋衣，或症篤而神昏氣促，灌藥不下，通關不嚏，口中熱痛，忽大叫者，不治也。</p>
<p><u>慢驚不治症</u></p>
<p>慢驚四肢厥冷，直臥如屍，吐瀉痰喘，二便不禁，脈沉肢冷者，不治。</p>

<h1>二、慢驚風</h1>
<p>慢驚者，面淡青白，眉唇間青黯，神緩氣微，鴉聲歇發。兩眼似睡非睡，兩足非搐似搐，脈來沉微散緩，喉中無活甚痰聲，或身熱，或不熱，或四肢冷，或不冷，較急驚勢若稍緩而轉深。此因天稟薄弱，或久病元神消耗，或吐瀉有傷中氣，或過服克伐之品損傷氣血，以致土虛木侮而成。治宜保脾為主，使土旺生金，金來平木，其風自定，甚不可攻擊。症雖有痰，只六君加天麻、鉤藤、炮姜主之。若痰多唇白，肢冷如冰，不省人事，此虛慢之極，固真湯主之。然須詳審。如果無陽症，速宜助胃回陽。若症從急驚傳變，手足熱而尚有陽症者，但當調脾養血，佐以安心制肝，不可全用陽藥。薛按云：慢驚多因脾胃虧損，肝木所勝，異功加當歸、棗仁，佐以鉤藤飲子。脾土虛寒者，六君加炮薑、木香，不應急與附子以回陽，或有生者。法最精當，可宗。</p>
<p><u>慢驚風方　</u></p>
<p>四君子湯：人參　白朮　茯苓　甘草</p>
<p>異功散：即四君加廣皮。</p>
<p>六君子湯：即四君加廣半夏。</p>
<p>固真湯：即四君加黃耆、附子、肉桂、山藥。</p>
<p>八味丸：即六味加附子、肉桂。</p>
<p>熟地（八兩）　山藥　萸肉（四兩）　丹皮　澤瀉　茯苓（各三兩）　桂心（一兩）　附子（一兩）</p>

<h1>三、慢脾風</h1>
<p>慢脾風者，四肢微搐，冷而不收，兩眼常合，睡中搖頭，昏沉不省，痰涎凝稠（脾虛不能攝涎，故津液妄泛而似痰，即不可作痰論），此蓋胃氣虛甚，傳變已極，無風可逐，無驚可療，宜附子理中湯。若太衝有脈，當灸百會穴（在巔頂上）。</p>
<p><u>慢驚治驗　</u></p>
<p>（案1）患傷食發丹，服發表之劑，手足抽搐，服抱龍丸，目瞤（虛風內動也），痰盛（涎無所流也）。此蓋脾胃虛損，傳變已極，急當溫補胃氣，用六君加附子，一劑而安。</p>
<p>（案2）久瀉後作嘔吐，面白額汗，目慢神昏，此為慢驚將至，命用參苓散作丸與之，不信。服消導藥，更昏睡不醒，肢冷抽搐，眼微上視，喉有痰聲。復診之，用六君加南星、炮附子、殭蠶、天麻而愈。</p>
<p>（案3）每遇驚搐，即痰盛、咬牙、發搐、搖頭、作瀉，恪服腦、麝、硃砂等藥，以致慢驚而卒。</p>
<p>（案4）五歲患感症，初起脈細數，予以清解方與之。因其子不肯服藥，少嘗遂止，漸見目竄手搐。醫者皆曰慢驚矣。診之，口渴舌燥無苔，大便不通。乃曰：此傷寒敗症也。緣稟賦陰虧，故初起便脈來細數，茲已危極。急與左歸飲去茯苓加花粉、天冬治之，便潤而安。復調補正氣而愈。</p>
<p><u>慢脾風方　</u></p>
<p>理中湯：人參　白朮　炙草　炮姜</p>
<p>加附子即附子理中湯</p>
<p>左歸飲：歌曰：左歸萸地藥苓叢，杞草齊成壯水功，若使為丸除茯草，更加龜鹿二膠同，菟絲牛膝還宜用，精血能充效莫窮。</p>
<p>熟地　茯苓　炙草　枸杞子　淮山藥　山茱萸肉</p>

<h1>四、疳症</h1>
<p>疳者，乾瘦也。多由乳食不節，致傷脾胃，或吐久、瀉久、痢久、瘧久、熱久、汗久、嗽久、瘡久，以及痘後疹後，耗損氣血，相挾成疳。古人分五臟論治。心疳即驚疳，面黃頰赤，體若燔炭，尿赤盜汗，驚悸煩渴，或口舌生瘡。此為心臟積熱，宜茯苓丸或寧心丸，虛者安神丸。肝疳即風疳，肌肉消瘦，腦熱青筋，目札赤腫，白膜遮睛，或更渾身瘡癬，項脅結核，下則瀉青或瀉血，此為肝臟受熱，宜蘆薈丸兼地黃丸。脾疳即食疳，黃瘦面腫，腹大熱身熱，瀉下酸臭，便蟲溲白，喜合面臥，好吃泥炭等物，宜磨積調脾，用大肥兒丸。虛者先與四君子湯。肺疳即氣疳，潮熱咳嗽，或吐濃血，鼻乾毛聳，咽喉不利，或流涕而口鼻生瘡，此為熱壅傷肺。此先宜清金飲，次化蟲丸，外用斂鼻散。腎疳即急疳，耳輪焦黃，爪黑麵黧，蒸熱骨軟，口渴唇紅，肌瘦痛泄，四肢如冰，或耳內流膿，或齒根腐爛，或食自發，或喜臥濕地，此為臟腑伏熱，腎氣受傷，宜九味地黃丸。又名熱疳，焦渴，自汗，喜臥冷處，煩躁多啼，酷嗜瓜果，如聖丸。冷疳，羸瘦肢冷，目腫，面黧，腹脹，腸鳴，溏色不一，或沫青白，加減木香丸。蛔疳者，眉皺多啼，嘔吐清沫，腹中作痛，肚脹青筋，唇口紫黑，腸頭齒癢，此為早食肥甘，畜滯生蟲，使君子丸。有脊疳者，蟲食脊膂，身熱羸黃，拍背如鼓鳴，脊骨如鋸齒，瘡生十指，頻齧爪甲，青黛丸，瀉血不止，定粉散。有腦疳，頭皮光急，滿頭餅瘡，腦熱如火，髮結如穗，遍身多汗，腮腫囟高，外用吹鼻散，內服龍膽丸。有疳渴者，體熱煩躁，多渴少睡，吉氏方或天竺黃散。胃氣下陷，津液不生，日則煩渴引水，乳食不進，夜則渴止，小兒疳渴方或參苓白朮散。有疳瀉者，毛焦唇白，額上青紋，肚脹腸鳴，瀉下糟粕不聚，香蔻丸，沒石子丸。有疳痢者，停積宿滯，少腹煩冤，頻下惡物，木香丸，兼下部癢者，青黛散。有疳瘧者，病瘧未已，胃虛成疳，腹中有癖，小柴胡去黃芩加炙黃耆、鱉甲，合肥兒丸。有疳腫脹者，虛中有積，其毒與氣交併，故令肚脹青筋，手足瘦細，或下部生瘡，宜金醜丸。又或脾氣受濕，頭面四肢俱腫，先與實脾利水，兼與肥兒丸。有疳勞者，潮熱往來，五心煩熱，盜汗骨蒸，喘嗽神枯，瀉渴惡食，肚硬如石，面白如銀，朝涼暮熱，肌肉消瘦，六脈細數，黃雞丸，兼調元之劑。又名猴子疳者，因疳癆骨蒸，身體瘦悴，面赤而削，形如猴子，治用鰻魚丸。有無辜疳者，腦後項邊結核如彈丸，按之轉動，軟而不疼，其內有蟲，不速針出，則內熱臟腑，肢體癰疽，便痢濃血，肚熱羸瘦，頭露骨高，從茲夭折，宜肥兒丸、蟾蜍丸、人中白散。其若手足極細，項小骨起，尾削體痿，腹大臍突，胸高，或生谷癥，即名丁奚。若虛熱往來，頭骨分開，翻食吐蟲，煩渴嘔噦，即名哺露。二症與無辜症略同，總為難治之候。要之，名症雖多，可參合五臟症處治。已任篇云：疳症，一味五味異功散加川連、木香，百不一失。若頭大，肚大青筋，四肢獨細，即川連、木香亦不可輕用，一味參苓白朮散主之。如疳而有蟲，異功散加蛤蟆、川連（大便必似水，兩焦出無渣），甚至經月累年，服之自愈。法雖未備，其議論卻高絕，會其大旨可也。</p>
<p><u>疳症治驗　</u></p>
<p>（案1）患心疳，面黃頰赤，體瘦身熱，驚悸煩渴，用秘製安神丸，愈。</p>
<p>（案2）又一兒患前症，兼掌中熱，通身如疥，用安神、肥兒二丸而愈。</p>
<p>（案3）患肝脾之疳，面黃腹脹，內熱少食，大便不調，倦怠口渴，遍身生瘡，此肝脾疳症，用大蘆薈丸，不月而安痊。</p>
<p>（案4）困睡泄瀉，好食泥炭，遍身生疥，此脾經疳症。薛有成按：用六君兼肥兒丸，予變易之，先以四味肥兒丸料，加使君子、蛤蟆，服五六朝，後繼以異功散加川連、木香，數劑而愈。</p>
<p>（案5）六歲，患疳症，忽目睛垂出寸許，脹痛難忍，時大便出血。見者俱為驚怪。予曰：此肝病也。肝受邪而壅，內脹也。大便出血，肝木侮土也。用羌活一味煎汁，送下消疳之劑，四五日得安，繼以調養肝脾，多服而愈。</p>
<p>（案6）田家兒四歲，不禁生冷、油膩、麵食，漸見身面俱黃，釀瀉肚脹，體削身熱，年餘未愈。予以消疳丸與之。或曰：「病久矣，奈何？」予曰：「其病雖久，宿滯猶存。」其初，形氣本盛，病得傷食，為有餘之症也。服月餘漸安。繼加參朮，去五靈蓬朮青皮，更月餘而愈。</p>
<p>（案7）五歲，痘後患痢，痢未止而疳症悉具。醫以消導，謂無積不成痢也。豈知病已成疳症，屬不足。況痘後氣血重耗之際，再可導乎？多服加減肥兒丸及參苓白朮散而愈。</p>
<p>（案8）肝症欲作，兩目連札，色赤，寸指拭眉眼，治驗（見目病。失集。）</p>
<p>疳症，目赤腫，眵淚多，弦爛痛癢，揉擦不休，治驗（見目病。失集。）</p>
<p>（案9）四歲，咳嗽身熱，便溏，伏邪久斂傷陰，恐成疳積。附方：生甘芍、淡黃芩、丹皮、茯苓、焦神麯、澤瀉、象貝母、廣陳皮、桑葉、荷葉。</p>
<p>小兒食甘物，多生疳病。疳有五：心肝脾肺腎也。治疳先辨冷熱肥瘦，初病為肥熱疳，久病為冷瘦疳。五疳諸積，腹大筋青，面黃肌瘦，或腹痛。以蔥椒煮蛤蟆食之，大效。</p>
<p><u>疳症方　</u></p>
<p>寧心丸：麥冬　牙硝　寒水石　淮山藥　茯苓　甘草　硃砂（飛）　荷葉</p>
<p>安神丸：人參　歸身　甘草　半夏　橘紅　棗仁　茯苓　赤芍　五味子　淡姜</p>
<p>蘆薈丸：人參　淮山藥　人麥　茯苓　陳皮　當歸　蘆薈　青皮　檳榔　麥芽　麝香</p>
<p>大兒肥丸：人參　白朮　淮山藥　陳皮　山楂　蓬朮　茯苓　白芍　黃連　胡連　厚朴　青皮　澤瀉　檳榔　川芎　肉蔻　谷蟲　蟾蜍頭　柴胡　甘草　使君子</p>
<p>化蟲丸：薑黃　白芷　青黛　胡連　蘆薈　川連　川芎　蛤蟆</p>
<p>茯苓丸：茯神　蘆薈　琥珀　黃連　茯苓　遠志肉　鉤藤　蛤蟆　菖蒲　寸香</p>
<p>各為末，米湯糊丸。</p>
<p>沒石子丸：木香　黃連（二錢五分）　沒石子（一個）　蔻仁（二個）　訶子肉（三個）　干蛤蟆（一隻，酒炙）</p>
<p>為細末，飲丸麻子大。食前量大小服之。</p>
<p>如聖丸：胡連　川黃連　辛荑（炒，二錢）　使君子肉（三錢）　麝香（一錢五分）　干蛤蟆（一隻，酒炙）</p>
<p>使君子丸：厚朴　使君子　廣皮　甘草　訶子　青黛</p>
<p>為末蜜丸芡實大，每服一丸。</p>
<p>香蔻丸：黃連（三錢，炒）　肉蔻　木香　訶子肉（煨）　砂仁　茯苓（各一錢）</p>
<p>為末丸如麻子大，米飲下，輕重量大小用之。</p>
<p>清金飲：前胡　杏仁　桔梗　旋覆花　半夏　桑皮　甘草　薄荷　陳皮　水煎服。</p>
<p>天竺黃散：天竺黃　雄黃　牛黃　硃砂　胡連　犀角　廣木香　甘草　鉤藤　麝香　薄荷　蛤蟆　蘆薈</p>
<p>為末，每服五分，日三服。</p>
<p>木香丸：木香　青黛　檳榔　肉果　麝香　續隨子　蛤蟆　為末蜜丸。</p>
<p>參苓白朮散：見泄瀉門。</p>
<p>龍膽丸：龍膽草　升麻　苦楝根皮（烤）　油發灰　防風　蘆薈　青黛　黃連</p>
<p>香連丸：木香（一兩）　烏梅（炙乾，四錢）　吳茱萸　炒黃連（二兩）</p>
<p>為末，用阿膠五錢水化為糊丸，麻子大，每服三十丸，甘草湯下。</p>
<p>人中白散：人中白（一分）　麝香（五錢）　蛤蟆（一隻，干）　蘆薈（五錢）</p>
<p>每服五六分。</p>
<p>香蔻丸：肉豆蔻　木香　砂仁　訶子肉（煨）　茯苓（各一錢）</p>
<p>異功散：白芍　黃耆　鱉甲　人參　柴胡　茯苓　甘草　乾薑</p>
<p>青黛丸：青黛（一兩）　胡連（五錢）　川連（五錢）　天竺黃（五錢）　硃砂（二錢五分）　麝香（一錢）　肉蔻（二枚）　牛黃（五分）　干蛤（一隻）</p>

<h1>五、瘧疾</h1>
<p>小兒不避風寒暑濕，邪侵不散，久則結積於太陰（手太陰肺）而發往來寒熱也。其因寒者，惡寒，腰背頭項痛，寒重熱輕而汗難，蔥白湯加桂枝、柴胡。因風者，惡風，頭痛，骨節疼痛，熱多寒少而自汗，桂枝湯加柴胡、黃芩。食瘧者，惡食，噯氣，胸腹滿悶，小柴胡去人參加枳實、厚朴、麥芽、神麯之類。痰瘧者，多食瓜果、油、面，鬱結成痰，心下脹滿，或煩嘔吐沫，頭疼肉跳，甚則昏迷卒倒，二陳加柴胡、黃芩、薑汁之類（風寒痰食多相兼，當量所屬輕重加減）。濕瘧者，寒熱身重，骨節疼，自汗喜嘔，得之汗出脫衣，沖冒風寒雨濕所致，二陳加蒼朮、防風、柴胡。暑瘧者，面垢口渴，大熱大喘，熱已而常有汗，柴胡白虎湯。驚瘧者，發熱發搐，小柴胡去人參加鉤藤、龍膽草。陰瘧者，至晚則發，累月不已，在於血分，加升提引出陽分，方與散截。</p>
<p>三日瘧，如陽虛寒多，主以參朮薑桂。如陰虛熱多，主以首烏、鱉甲、牛膝、知母之類。隨症選用。初起症實，仍主解散（萬氏以平瘧養脾丸，久服則移近而汗解）。久瘧後，脅下痞滿，或腹中結塊，名瘧母，鱉甲散加減。治瘧之法，大略寒多者，小柴胡加山梔、丹皮；渴甚者，小柴胡去半夏加花粉；汗出腹滿便閉者，大柴胡湯；本虛兼癆倦內傷夾外感而致瘧者，寒熱交作，倦怠少氣，加味補中湯；久瘧氣血俱虛，寒熱不甚，或不寒而但微熱，如邪已盡，八物湯，邪未盡，或乘虛復侵，加柴胡、陳皮、黃芩。有虛人病久，日夜寒熱不時，似瘧非瘧，六君、補中、六味、八物選用。有陰虛症，午後惡寒發熱，至曉汗解，似瘧者，實瘵症也，重宜補陰（唯瘧脈多弦數，陰虛脈多虛澀而數，為辨）。上二症，切不可泛作瘧治。世人一見寒熱往來，便用青皮、草果、常山一切剛燥克滯之藥，以為攻截良法，豈知正氣益虛，邪氣愈深，輕則綿延不已，重且變症多端，因而致斃者比比，可不戒之！</p>
<p><u>瘧症治驗　</u></p>
<p>（案1）五歲，患瘧，始髮間日，繼而三日，漸作連日不已，年餘未愈。視之面黃色，肢體消瘦，腹大而堅，手足面目俱浮。或專與利濕之劑，不效。予用加味胃苓丸，合小柴胡湯，以健脾去濕除邪，更加青皮、鱉甲、當歸，入厥陰血分而破其結積，兩月而愈。</p>
<p>（案2）九歲，患瘧，寒熱俱甚，脅痛多嘔，渴欲飲冷，此少陽陽明二經症也。用小柴胡加石膏、麥冬、竹葉，二服而安。繼以和中養胃而愈。</p>
<p>（案3）一女患瘧，獨熱不寒，煩渴飲水，與和解不效。診之，脈數且疾，此為癉瘧，得之肺素有熱，用麥冬、知母、黃芩、花粉、山梔、厚朴、陳皮、甘草，一劑減，二劑愈。</p>
<p>（案4）患瘧，兼便血盜汗年餘。審乳母素有鬱怒，寒熱便血。先以加味逍遙散治其母，兒以健脾平肝之劑與之，母子病痊。</p>
<p>（案5）十三歲，瘧久，寒來如冰，熱來如烙，渴欲引飲，面赤如脂，竟作腎陰中虛治。用六味加柴胡、白芍，大劑煎與而安。</p>
<p>（案6）瘧愈後，忽發浮腫，屬汗後御風之故，以胃苓丸，用大腹皮、生薑皮、桑白皮，煎湯送下而愈。</p>
<p>（案7）一兒瘧久，漸見浮腫，為瘧邪未盡退，脾虛不能勝濕所致。用小柴胡合胃苓丸湯加減，調理而愈。</p>
<p><u>瘧疾方　</u></p>
<p>蔥白湯：羌活　防風　淡豆豉　杏仁　生薑　蔥白</p>
<p>二陳湯：半夏　茯苓　新會皮　甘草</p>
<p>或有去陳皮加橘絡</p>
<p>柴胡白虎湯：柴胡　煨石膏　知母　甘草　粳米</p>
<p>小柴胡湯：半夏　黃芩　甘草　薑棗　人參　柴胡</p>
<p>鱉甲散：生地　熟地　黃耆　白芍　地骨皮　鱉甲</p>
<p>大柴胡湯：柴胡　黃芩　大黃　白芍　半夏　枳實　甘草</p>
<p>八物湯：白朮　茯苓　炙草　當歸　白芍　川芎　熟地（等分）</p>
<p>治心肺血脈虛損，效能益氣和血。</p>
<p>左金丸或湯：川連　吳茱萸</p>
<p>加味逍遙散：柴胡　南薄荷　當歸　陳皮　甘草　白朮　丹皮　黑山梔</p>
<p>瘧症有嘔逆，乃胃中火邪熾盛，氣逆上升耳。治宜解表肌去邪為法。倘視其舌苔黃厚，或胸脘痛，當兼消導。</p>

<h1>六、痢疾</h1>
<p>痢由濕熱蘊積，交滯腸胃而作。白者濕熱傷於氣分，赤者濕熱傷於血分。赤白相雜，氣血俱傷（前人以赤白分寒熱，誤以濕為寒耳）。大法：初起，症實、脈實，可施推蕩；稍久，則調氣和血。如見形色虛薄，脈微弱，或因攻而愈劇者，均當愈議補。然更須究其所因而治。挾熱者，煩渴引飲（久痢，內亡津液，亦多燥渴，勿混），肛門口燥，下痢純血，小便短澀、黃赤（初起居多），宜四順清涼飲，或黃連芍藥湯。挾冷者，口不渴，身不熱，喜熱手熨，或純白而乳亦不消（漸至者居多），理中湯加白芍、木香。食積痢者，色黃臭穢，腹痛下痢後痛減，保和丸加木香、厚朴。挾風邪者，初起即惡寒發熱頭痛，清涕自流，脈浮數，先用柴葛、防風、厚朴、陳皮之類以疏表。挾暑熱者，痢下赤白相兼，或見紫色，煩渴，噁心，脈數，溲禁，煎六味香薷飲調益元散。濕盛者，身重，肢痛，或下如菜汁，香連丸合平胃散。驚痢，色青如苔，兼驚治。疳痢，色黃白，積下無時，兼疳治。時行疫痢者，一方一家傳染，發兼頭痛，口渴煩躁，下痢尿澀，甚者一日一夜百次，或兼發斑疹，宜升麻、葛根、柴胡、芩連之類，熱甚渴甚，可加寒水石，更有別症，以意加減。切忌大黃、樸、硝、檳榔、枳實、烏梅等物。其或得晴雨不常，陰濕之氣盛者，宜木香、川連、地榆、川芎、白芍、當歸、肉蔻之類調理。有休息痢者，糞如魚腦，經年不已，或愈而復發，有積者，楂術膏，無積者，異功散加木香、訶子肉。虛甚，用八物加桂、烏梅、肉果，作丸常服。其有濕熱熏蒸清道，上至胃口熱極，湯藥入口即出，為噤口痢，用田螺肉入麝香，搗罯臍中，以引下其熱，用陳倉米、川連、石蓮肉同煎，細細呷之。虛者，以人參湯倉米，名倉連湯，或香連丸加石蓮肉末，陳米湯下。五臟蘊熱，熏蒸臟腑，五液俱下。而痛痢五色者，急清熱解毒和血，銀花酒、連、歸、芍、木香、乳香之類。飲食不飡，肛門寬大深黑，腹痛，頻滴鮮血，名刮腸痢。日夜頻並，飲食直過，不為肌膚者，名滑腸痢，與前噤口五色，併為惡候。痢中有里結後重症，數至圊而不能便，圊後少減，系火性速急而氣滯甚也，疏氣化滯湯。久痢脾虛下陷，亦有欲去不去之狀（頻見汙衣，得解愈甚，為驗）。補中湯加減。大孔痛者，熱流於下也，木香、檳榔、黃芩、黃連、炒乾姜。久病腸胃虛弱，亦肛墜痛，但宜溫之。肝氣嘔逆者，香、連、吳萸、青皮、白芍平之。久痢胃氣虛寒亦作嘔吐，理中六君溫補之。久痢變瀉，為積滯去，脾土尚虧，脾得養而自止。瀉久變痢，脾土敗而積滯方壅，恐藥劑之難投。其有初痢而變瀉者，此血病傳入氣中，宜調氣和血，不可遽止。初瀉即變痢者，此氣病傳入血中，宜養血加調氣，切莫妄行。痢而變瘧，腑病傳經，助其升達而易愈。若痢從瘧致經病傳腑，其氣不能升舉也，難愈，積滯盛者，必死。瘧痢並作，莫重之症，疏其經，通其腑，用人參敗毒散，香連丸。有痢後脾虛，不能制水，遍身浮腫者，實皮利水為主。久痢內亡津液，漸成疳症，參苓白朮散，大補胃氣，兼與治疳。痢後脫肛見本條。凡治痢，當知四大忌。一忌大下，蓋痢多積滯，與溝渠壅塞相似，摩刮疏通自愈。若經用水氣等劑，奔潰太甚，壅塞轉不能除，徒傷元氣。壯盛猶可，怯者危矣。二忌溫補收澀太早。蓋積滯未盡，早與參朮，則熱愈熾氣愈滯而血亦凝，久之正氣虛邪氣愈盛，便難為力。若更用訶子、粟殼等收澀，則脹滿喘逆，噦惡不食，諸惡症頓起，殺人最速。三忌誤發汗。蓋頭痛目眩，身發寒熱，必不盡屬外感，乃內毒熏蒸，自內達外而然。若發汗，則正耗而邪益肆。且風劑燥烈，愈助熱邪。表虛於外，邪熾於內，鮮不斃者。故前挾風一症，最宜端的。四忌分利小便。蓋分利，水瀉之良法。痢因邪熱膠滯，津液枯澀而成，漫用五苓等劑，則津液愈枯而滯澀轉甚，遂致纏綿不息。但清熱導滯則痢自愈而小便自清矣。安用分利為哉？</p>
<p><u>痢疾治驗　</u></p>
<p>（案1）三歲，病痢。醫下之，且瀉痢頻並，醫自知前非而止之。痢甚，後重而少物。予診之曰：通因通用之法，須因人而施。此子胎稟薄弱，過下傷脾，中氣下陷，故今瀉痢頻並也。脾胃大傷而陳腐未盡，驟用止澀，故今物少而後重愈甚也。用異功散加香連歸芍，數日痢止，月餘元氣始復。</p>
<p>（案2）久痢，裡急後重，去不自禁，去後痛益甚，手足並冷，此胃氣虛寒下陷也。補中湯加木香、補骨脂，倍升、柴而愈。</p>
<p>（案3）暑月患赤痢，所下純血，煩渴尿澀，以天水散加神麯作丸與之，頓愈。</p>
<p>（案4）鄰家兒九歲，赤痢初起，壯熱腹痛且滿，脈洪盛。醫診之曰：身涼脈靜者生，身熱脈燥者死。予曰：大熱矣。若痢久而六脈洪數，身熱煩渴，固難治。此則邪氣方盛，但以磨蕩通利為急，用香、連、歸、芍、枳殼、檳榔、楂曲、厚朴、陳皮、甘草，次加大黃，再劑，脈平熱退而漸安。</p>
<p>（案5）瘧後，多食油膩瓜果，轉而成痢。予與香連扶脾丸愈。又一兒前症同，更加脫肛。即以前藥加升麻煎湯送下，頓安。此症每多於夏末秋初，若妄投通利，多致不救。蓋以瘧後致痢，多因胃氣下陷，當作虛治，或補中湯送下香連丸，效。</p>
<p>（案6）久痢淹淹欲絕，以赤石脂末四五兩，煎汁成水，煎六君子加蓮肉，一劑而止。此仲景收澀下脫真氣之法。</p>
<p>（案7）久痢大渴，用七味白朮散加黃連、阿膠、黑薑、烏梅，二服渴止，漸愈。（此渴非實熱而渴，乃津液枯焦而渴也）</p>
<p>（案8）赤痢經年不已，面目虛浮，肌肉晦暗，至夜則身熱口渴，諸藥罔效。診之，脈沉而數，乃曰：此陽邪陷入於陰中也，必提其內陷之邪，使盡從表而出，方可取效。</p>
<p><u>痢疾方　</u></p>
<p>人參敗毒茯苓草，枳桔柴前羌獨芎，薄荷少許姜三片，時行感冒效奇功。去參名為敗毒散，加入消風治亦同。</p>
<p>人參敗毒散：人參　茯苓　甘草　枳殼　桔梗　柴胡　前胡　羌活　獨活　川芎　薄荷　淡姜</p>
<p>四順清涼飲：白芍　當歸　生地　甘草　柴胡（等分）</p>
<p>煎服。</p>
<p>黃連芍藥湯：黃連　白芍　豬苓　澤瀉　茯苓　白朮　甘草</p>
<p>清暑益氣湯：人參　黃耆　升麻　白朮　陳皮　神麯　澤瀉　黃柏　當歸　青皮　乾葛　五味子　甘草</p>
<p>煎服。</p>
<p>理中湯：人參　白朮　甘草　乾薑</p>
<p>香連丸：木香（一兩）　吳茱萸炒黃連（二兩）　炙烏梅肉（四兩）</p>
<p>各為末，用阿膠五錢，水化丸麻子大，每用三十丸。紅痢，甘草湯下；白痢，生薑湯下。</p>
<p>加味理中湯：治脾肺俱虛，咳嗽不已。</p>
<p>人參　白朮　茯苓（各一錢）　甘草（五分）　陳皮（一錢）　半夏（一錢半）　五味子（九粒）　乾薑（二錢）　細辛（五分）</p>
<p>加味二陳湯：陳皮　半夏　生薑　茯苓　杏仁　木香　細辛　枳殼（各等分）</p>
<p>安腎丸：肉桂　川烏　桃仁　白蒺藜　巴戟　山藥　茯苓　石斛　萆薢　白朮　肉蓯蓉　補骨脂</p>
<p>蜜丸。</p>
<p>小安腎丸：香附子　川烏　川楝　茴香　熟地　川樸</p>
<p>保和丸見嘔吐門</p>
<p>參苓白朮散見泄瀉門</p>
<p>六味香薷飲：香薷　厚朴　扁豆　黃連　茯苓　木瓜</p>

<h1>七、目直目竄</h1>
<p>小兒目直，肝病也。肝有熱則目直視，不搐，得心熱則搐。當辨所屬，而隨其症之虛實以為治。又有飲食停滯中焦，清不能升，濁不能降，致令中滿腹痛，甚且痰涎壅塞，目定似驚之狀者，輕則消導化痰，重則探吐積滯，繼以扶脾。目乃肝之竅，肝熱見於目，牽其筋脈，兩眥俱緊，不能轉視，故目直。</p>
<p>小兒眼上竄，為心熱所致，火氣上炎也。若發熱發搐，飲冷啼叫者，瀉心湯，導赤散；水虧不能制火，火無所制者，六味丸。</p>
<p>目直又有感冒吐瀉，致土敗木侮而生虛風者，勿用驚藥，宜補脾平肝，其病自愈矣。</p>
<p><u>目直目竄治驗　</u></p>
<p>（案1）忽然僕身，啼哭如叫，兩目直視。村醫作驚治。余視其唇口紫色，口吐清涎，知為蟲痛也，不得因其目直，拘㷮肝症。投安蟲飲，果愈。</p>
<p>（案2）發熱，腮紅臉赤，見其兩目怒，直視不轉。（見急驚門）</p>
<p>（案3）受驚，服鎮驚化痰。忽尋衣撮空，目上視。（治驗見目竄條）</p>
<p>（案4）腰背反張，目上視，面青赤。（治驗見反張條門）</p>
<p><u>目直目竄方　</u></p>
<p>升陽散火湯：升麻　葛根　獨活　羌活　防風　甘草（生）　人參　白芍　柴胡　炙草</p>
<p>一字散：治時氣纏喉、風漸入，風咽塞，水穀不下，牙關緊閉者。雄黃　蠍子梢　白礬　藜蘆　豬牙皂角</p>
<p>上為末，每用一豆大，鼻內㗜之，即口鼻涎流，牙關自開矣。</p>
<p>清音丸：治咳嗽失音　桔梗　訶子（各一兩）　甘草（五錢）　硼砂　青黛（各三錢）　冰片（三分）　上為細末，煉蜜丸豌豆大，每服一丸。</p>
<p>定喘散：大杏仁　半夏　廣橘絡　瓜蔞仁炙甘草　淡黃芩　治稠痰塞壅，體肥而喘者。</p>
<p>指迷七氣湯：製半夏　藿香　香附　桔梗　肉桂　陳皮　益智仁　蓬朮（各一錢五分）　甘草（七分）</p>
<p>鬱症脈法：郁脈多沉伏，郁在上則見於寸，郁在中則見於關，郁在下則見於尺。</p>
<p><u>痧症（即痧子）　</u></p>
<p>（案1）一男，兩顴紅赤，熱邪尚伏。</p>
<p>蘇梗　焦麥芽　牛蒡子（炒研）　連翹殼　木通　廣皮　冬桑葉</p>
<p>加蘆根。</p>
<p>（案2）又一男，痧點雖見，仍未透達。連翹　廣皮　杏仁　大力子（炒研）　桔梗　元參　生甘草</p>
<p>加大竹葉</p>
<p>（案3）一男，兩目羞明，痧火甚重，皆緣見點，冒風所致。肺中伏邪尚未清泄，故身熱不和，咳嗽不寬，理宜清透。荊芥穗　蘆根　蟬衣　連翹　去皮尖杏仁　廣皮　薄荷梗　焦麥芽</p>

<h1>八、發搐</h1>
<p>驚搐一也，而晨夕分焉。發於寅卯辰時者，乃肝用事之時。症見壯熱目直，項急頓悶，則宜瀉肝。若作渴，飲冷便結，屬肝膽經熱；作渴引飲，自汗盜汗，屬肝膽經血虛；兼口吻流涎，乃肝木勝脾土。發於巳午未時者，乃心用事之時。症見目睛赤色，啼叫上竄，則宜瀉心。若頓悶煩渴飲水，屬風熱相摶，作渴飲湯，體倦不乳，土虛木旺者也。發於申酉戌時者，乃肺用事之時也。症見煩悶，上氣喘滿，則宜瀉肺。反見叫哭，兩目直視，呵欠頓悶諸症者，風火相摶而勝肺金也。若身微熱，目微斜，睡露睛，大便淡黃水，是肺金虛熱；手足逆冷，或喘瀉不食，為脾肺虛寒。發於亥子丑時者，乃腎用事之時也。不甚搐而臥不穩，身體溫壯，目睛斜視，喉中有痰，大便銀褐色，乳食不消，多睡不省，當補脾治心。若更吐瀉不乳，厥冷多睡，寒水侮土之症也。有因傷風而得者，口出熱氣，呵欠煩悶，手足搖動，當辨有汗無汗、分別經絡而解散之。若因風邪內郁，發熱久而變諸症者，當理肺金，清風邪。若外邪既解而內症未除，當理肺補金。若肺金虧損而致驚搐等症者，當補脾肺以平心肝，則驚搐自止。有因傷食而得者，身溫多睡，或吐不思食，急與消導，其搐自定，不得已方議下之（原因脾胃氣虛，引動肝風而發搐，故未可輕下）。若停滯已去而前症仍作，或變生他症者，脾土傷而肝木乘之也。至於百日內發搐，真者屬內生風，發二三次必死，假者屬外生風（口中氣出熱者，是）。雖頻發不死，當用大清膏塗囟門，及浴體法。</p>
<p><u>發搐治驗　</u></p>
<p>（案1）錢李兩先生同治一兒，三歲，病潮熱，每日發搐，身微熱，兩目微斜，四肢冷而喘，大便微黃。錢問李曰：「病，何搐也？」李曰：「有風。」「何身熱微溫？」曰：「四肢所作。」「何目斜露睛？」曰：「搐者目斜。」「何肢冷？」曰：「冷厥，心內熱。」「何喘？」曰：「搐之甚也。」「何以治？」曰：「涼驚丸，鼻中灌之必止。」錢曰：「不然。搐者心肝熱也。身微熱者，日西肺用事之時也。肺主身溫，今且熱者，肺虛也。目微斜露睛者，肝肺相乘勝也。四肢冷者，脾虛也。肺若虛甚則母脾亦弱，木氣乘脾四肢即冷。」遂先用益黃散、阿膠散補脾肺，俟脾虛症退，然後治其心。九日而愈。</p>
<p>（案2）錢先生治廣親宅七大尉，方七歲，潮熱數日，欲愈。謂義二大王曰：「七使潮熱將安，八使預防驚搐。」王怒曰：「但使七使愈，忽言八使病。」錢曰：「過來日午間，即無苦也。」次日午前果作搐。急召錢治之，三日而愈。蓋預其目直視而囟赤，必心肝熱，更坐石杌子，乃熱甚而欲就冷也。又肌膚素肥盛而本實，其脈急促，故當發搐。言午時，自寅至午，皆心肝用事之時。治以瀉心肝補腎水，則自安矣。</p>
<p>（案3）發搐，多喜多哭，治驗。（見臟門。失集）</p>
<p>（案4）因驚發搐，屬心肝風熱相摶，治驗。（見急驚條）</p>
<p>（案5）發搐多痰，誤服化痰，治驗。（見急驚條）</p>
<p>（案6）光發熱煩渴，漸見驚搐，治驗。（見風熱症。）</p>
<p>（案7）因怒吐血，咬牙發搐，治驗。（見血症。失集）</p>
<p>（案8）熱痰壅盛，發搐，誤下致凶之症，治驗。（見痰症條。失集）</p>
<p>（案9）發熱抽搐，項腫口噤，痰壅，治驗。（見結核。失集）</p>
<p>（案10）發熱四五日，手足搐掣，兼口眼歪斜。治驗。（見偏風條。失集）</p>

<h1>九、霍亂</h1>
<p>霍亂悴然而來，胸悶腹痛，撩亂不寧，遂作上吐下瀉。其有欲吐而不得、欲瀉而不能、心腹絞痛、幾欲悶絕者，為乾霍亂，最為危急。此惟炒鹽水湯探吐，以提其氣，令清氣上升而濁下降。小兒飲食不調，生冷內傷，復外受暑熱之邪，陰陽乖隔，清濁相干，乃作是症。用藥不宜偏寒偏熱，過攻驟補。寒恐邪愈凝結，熱則轉滋火痰，攻慮元神被耗，補則停滯不化。宜藿香正氣散，宣通氣分為主。其中更有寒熱虛實之分，最宜詳辨。若先吐而後瀉者，乃脾胃有熱，脈洪數，面赤唇紅，煩渴尿赤，用四苓散，加鮮藿香調下益元散；先瀉而後吐者，乃脾胃虛盛，脈沉濡，面白神倦，不熱不渴，異功加木香藿香；若素虛久病後患此，兼手足厥冷，額前有汗者，虛寒更甚，附子理中湯；有積滯於脾，不能運水穀而作吐瀉者，胸腹滿，不思食，消導二陳湯；夏秋晝近極熱之地，夜則乘涼露臥，失蓋感冷，陰陽相摶，氣射中焦而作吐瀉者，六和湯，既胃苓散。吐瀉，四肢重著，骨節煩疼者，濕也，五苓散合平胃散。吐瀉，身熱多啼，喜人懷抱者，風也，參蘇飲加減。時時欲嘔，兀兀欲吐，時或腹水雷鳴，大便作瀉，此痰聚中脘，阻其降升之路，故嘔痢交作，平胃、二陳加減。煩悶身熱，氣粗口燥，或眩暈昏花者，暑毒也，鮮青蒿香薷藿香湯，調下益元散。吮乳母熱乳而吐瀉，玉露散。外感風冷，內傷飲食，發熱頭痛者，表裡疏解。霍亂之極，手足轉筋者，肝勝脾也，木瓜為君，佐以青皮、川連、扁豆、芍藥之類，制肝養筋。又用大劑藿香正其氣，砂仁、木香調其氣，茯苓、蘇子順其氣，自然調暢。須知霍亂初愈時，不可早與穀氣及厚味之物，惟宜黃米清飲，帶溫徐徐服之，使神氣來復，中脘清後，然後用薄糜。此症夏月居多，冬令絕少。若發於冬令而屬虛寒，脈沉厥冷，口噤咬牙者，當與理中四逆湯救之。凡見吐瀉後，元神衰脫，或惡寒逆冷，或發熱煩躁，或遺尿不知，或膏汗如珠胃氣久不開，六脈終不至者，多不救。</p>
<p><u>霍亂治驗　</u></p>
<p>（案1）上吐下瀉，俯仰不安，煩悶啼叫，知其腹中有痛，此霍亂症也。以藿香正氣散，表裡通解而痊。</p>
<p>（案2）夏月卒然胸腹大痛，霍亂脈伏，審知其飯後雜食涼冰瓜果之類，寒凝食滯填塞於中，以致陰陽暌隔而成，遂以冷香飲子加減服之，二劑得安。</p>
<p>（案3）吐瀉，上下所出皆黃水，中有乳，即用二陳加川連（薑汁炒）愈。</p>
<p>或問二者病同治異者何也？曰：所出乳不化，胃有寒也，理中湯溫之。此乳即不化而有黃水，乃胃中有熱，邪熱不殺穀，宜半夏黃連解之。</p>
<p>（案4）盛暑，吐瀉米穀不化。或用黃連香薷飲之類，腹脹作病，手足指冷，此脾氣虛而伏陰在內也。用異功散加木香、炮姜而愈。</p>
<p>薛氏家傳：凡暑冷吐瀉，手足指熱，作渴飲冷，屬陽症，宜用清涼。肢冷，作渴飲熱者，屬陰症，宜與溫補。凡陰症誤服寒冷者，必死。手足青黑，或遍身皆然，可愈。</p>
<p>（案1）吐瀉後食少體削，成疳症。（見疳症門）</p>
<p>（案2）吐瀉後飲食不止，治驗。（見燥門）</p>
<p>（案3）吐瀉發熱作渴，囟陷，治驗。（見囟陷條。失集）</p>
<p><u>霍亂方　</u></p>
<p>藿香正氣散：藿香　陳皮　桔梗　甘草　茯苓　半夏　厚朴　神麯　大腹皮　姜　棗</p>
<p>消導二陳湯：半夏　茯苓　陳皮　甘草</p>
<p>即二陳湯。</p>
<p>二陳去甘草加白朮、蒼朮、砂仁、神麯、香附、麥芽。</p>
<p>六和湯：二陳加　藿香　厚朴　香薷　木瓜　扁豆　黃連</p>
<p>附子理中湯：人參　白朮　甘草　乾薑　熟附子</p>
<p>去附子即理中湯。</p>
<p>五苓散：白朮　茯苓　澤瀉　豬苓　肉桂</p>
<p>胃苓散：即五苓散加甘草、陳皮、厚朴。</p>
<p>參蘇飲：人參　蘇子　陳皮　桔梗　前胡　半夏　干菖蒲　茯苓　枳殼　木香　甘草　生薑</p>
<p>參蘇溫肺湯：人參　肉桂　木香　甘草　五味子　陳皮　半夏　紫蘇葉　桑皮　白朮　茯苓　生薑</p>

<h1>十、嘔吐</h1>
<p>嘔者，有聲者也。吐者，吐出乳食也。其病皆屬於胃而所因不同。胃虛而吐，吐多出少，乳汁不消，或清涎挾乳吐出，二便清利，不熱不渴，脈息沉微，二陳湯加丁香、炮姜。虛寒甚者，面白神疲，口出氣冷，額前有汗，理中湯。甚，加附子，並須冷服。若中有停痰，胸滿嘔吐，或遇冷即發，當溫胃消痰。胃熱而吐，吐少出多，色黃酸苦，身熱煩渴，便閉尿赤，面赤唇紅，二陳湯加竹茹、川連。若炎天傷暑，煩渴暴吐，黃連香薷飲加乾葛、竹茹（嘔吐津液即去，其中煩、口必渴，不可因其渴以為熱症）。積吐，眼胞浮，面微黃，足冷肚熱，日輕夜重，吐黃酸水，或清痰、或宿食挾乳吐出，有酸餿氣，二陳湯化下保和丸。風痰吐者，痰結氣逆，連嗽而出，疏利肺氣為主。若久嗽面白唇乾，發乾嘔，急宜保肺，兼培脾土。蟲吐、昏困不省人事，胃口時痛時止而嘔清水（得食則止，飢則甚），於養胃中加使君子、苦楝皮之類以化蟲（戴元禮曰：嘔家不納藥，當有蛔在隔間，聞藥則動，動則藥出，於嘔藥中加川楝十粒，或先飲楝湯一二口良）。驚吐，早晚發熱，山根青色，吐而不睡，安神丸，和胃之劑送下。肝膽之火上逆，嘔吐酸苦，黃連、吳萸、白朮、陳皮。傷風吐，咨於無度，運化不及，滿而溢出，節乳為上，消乳散。氣乳吐，由乳母憂鬱，或氣怒不時，令兒乳哺不化而吐，須釋其忿怒，服寬中順氣藥。釀乳，兒少與之。凡治吐，須辨新久。如初吐，當導利以順氣下行。久則須防胃氣虛。行虛則生風，至目慢氣微，手足肢冷，囟動露睛，此虛極危症，急溫補胃氣，亦有生者。</p>
<p><u>嘔吐治驗　</u></p>
<p>（案1）八月患吐，食入即出。或作火治，不效。易醫，進理中湯，不納。密齊診之。此內寒已甚，格拒其陽，故藥不得入也。即將理中湯分開，用豬膽汁及童便各半，拌炒煎服，果下矣，即止。經云：治寒以熱，涼而行之。此之謂也。</p>
<p>（案2）久患嘔吐，脈藥不減。士材云：氣口脈大軟，此穀氣少，藥氣多也。且多犯辛劑，可以治表實，不可以治中虛；可以理氣壅，不可以理氣弱。投半夏、人參、陳倉米，加白蜜甘潤水煎，二劑減，數劑安。</p>
<p>（案3）暑月吐瀉，服香薷、五苓之類止。但飲食不下，腸鳴作嘔，手足肢冷，仍欲投以清暑，力止之。蓋此症乃始為熱，終為寒也。用人參理中丸，薑湯化下，二服勢定，繼以助胃膏、六君子湯而痊。</p>
<p>（案4）發熱煩渴，嘔吐，治驗。（見傷寒門）</p>
<p>（案5）陽明頭痛，壯熱渴嘔，治驗。（見傷寒門）</p>
<p>（案6）盜汗不食，聞藥即嘔，治驗。（見汗門·失集）</p>
<p>（案7）吐乳便黃，身有微熱，治驗。（見客忤·失集）</p>
<p><u>嘔吐方　</u></p>
<p>黃連香薷飲：厚朴　香薷　扁豆　黃連</p>
<p>保和丸：山楂　半夏　神麯　茯苓（各一兩）　陳皮（炒五錢）　萊菔子（炒五錢）　連翹（五錢）</p>
<p>安神丸：半夏　茯神　遠志　棗仁　橘絡　川連　人參</p>
<p>作丸，硃砂為衣，每服一二丸。</p>
<p>助胃膏：四君子湯加山藥、木香、砂仁、丁香、藿香、炮姜。</p>
<p>消乳散：砂仁　橘絡　神麯　麥芽</p>
<p>共為末。</p>

<h1>十一、泄瀉</h1>
<p>泄，出少而勢緩；瀉，則直下而不可阻。其病皆責之脾，而所因不一。冷瀉，多出白水，乳食不化，所下無腥穢臭，眉皺腹鳴，尿清，不渴，脈沉微，四君子湯加薑、桂、木香、益智之類。熱瀉，色黃有沫而臭穢，小便赤少，煩渴，少食，五苓散加山梔、川連、車前、木通之類。若腹痛雷鳴，卒痛一陣，瀉一陣者，為火盛之極，瀉黃散。傷暑瀉，身熱煩渴，所下如水，小便不利，黃連香薷飲，調服益元散。濕瀉，身重軟弱，瀉下多水，糟粕不實，腸鳴腹不痛，五苓散、胃苓湯加減。痰積瀉，所下黏膩，或多或少，腹不痛，平胃二陳加減。食積瀉，瀉下臭極，或噯氣吞酸，腹痛甚而瀉，瀉後稍寬，保和丸加減。若食消痛已而瀉不止者，補中湯；食消痛不止者，異功散。水瀉，潰徹不開，小水不利，陰陽不分，五苓散。疳瀉，面黃肌瘦，肚脹腳弱，瀉下顏色不一，晝涼夜熱，不思食，大兒肥丸。驚瀉，糞青如苔，稠若膠黏，或時搐搦，大溫驚丸。風邪里陷，挾濕作瀉，水穀不化而完出，洞注作聲，平胃散加枳殼、乾葛、防風，散風去濕而瀉自止。脾虛瀉，神情困倦，不思飲食，小便自利，腹不疼，瀉下完穀不化，或食後作脹，或清早虛膨，參苓白朮散加減，八珍粉亦佳。若久瀉而脾虛下陷，補中湯升補之。腸滑不禁，更加收澀，又有受肚瀉者，飲食運化不及，故脾滿而瀉盡則止，復有如是，是脾陽弱也，椒連散。又有每至五更泄瀉，交子時後臍腹痛，微響則作泄，此由先天真火衰微，脾土失生化之源，當四神丸加減。凡治瀉，不外清理、淡滲、補虛、消脫諸法，然補虛卻不可純用甘溫，恐太過則生濕；清熱消導切不可純用苦寒峻厲，恐太過則傷脾；收澀不可太早，恐留滯餘邪；淡滲不可太多，恐津枯陽陷。其中應否輕重，不可不詳審也。</p>
<p><u>泄瀉治驗　</u></p>
<p>（案1）患熱瀉，服五苓散、六一散愈。後過食冷粽，腹痛飽悶作嘔，用保和丸，一服未止。易醫下之，腹病益甚，上吐下瀉，飲食不食。醫以腹痛未除，仍行克削，頓見發搐多痰，幾不可救。因其父懇，勉用固真湯，去桂加白芍，二劑稍平，繼以六君，調理半月而愈。</p>
<p>（案2）患冷瀉，時作呃逆，進理中湯，呃不已，轉加腹痛，仍用前方加木香、炮姜，一劑痛緩，二劑瀉緩痛止，三劑飲食如常。</p>
<p>（案3）乳食失節，泄瀉腹痛，自用藥下之，反加痰搐，又與化痰定搐而痰搐益甚，肢冷露睛。此蓋脾胃而重傷之也。用異功散加木香、鉤藤，母子並服，三日痰搐止，五日泄瀉除。</p>
<p>（案4）泄瀉，稠黏色青、腹痛，乃木肝乘脾之症。用四君子湯加木香、白芍、麥冬、桔梗、鉤藤，以補土為君，佐以益金制水，頓愈。</p>
<p>（案5）患傷風咳嗽，腹脹不食，泄瀉酸臭。此食滯傷脾而肺氣虛也，用六君子加桔梗，愈。</p>
<p>（案6）女，病瀉，諸藥不效。身熱口渴，引飲不止，日漸形瘦。或欲作疳治。密齋云：止久瀉津液不足而渴也。病本濕熱，渴則多飲湯水，脾復受濕，故泄不止也。瀉久傷陰，陰虛而發熱也。用白朮散倍葛根（以升胃中津液），大劑煎與並即代湯水。一日解渴，二日熱退瀉止。此症若因熱渴投以涼藥，愈傷中氣，是一誤也；因瀉下多水，投以淡滲，愈竭津液，又一誤也。毫釐千里之間，可不慎之？</p>
<p>（案7）久瀉作嘔，成慢驚，治驗。（見驚門）</p>
<p>（案8）熱病，下痢不止，燥渴煩滿，治驗。（見傷寒門）</p>
<p>（案9）暑傷脾，腹痛瀉下，色黃穢膩，口渴尿澀，治驗。（見暑門）</p>
<p>（案10）陽氣不升，濕邪內陷，瀉下清水，當用風熱藥升舉，治驗。（見濕門）</p>
<p>（案11）大便久泄，小溲不行，分利愈澀，治驗。（見小便不通條）</p>
<p>（案12）清晨便泄，久患脫肛。（見脫肛門）</p>
<p><u>泄瀉方　</u></p>
<p>參苓白朮散：人參　白朮　茯苓　甘草　山藥　扁豆　米仁　砂仁　桔梗　蓮肉（各二兩）</p>
<p>共為末，薑棗煎湯調服。</p>
<p>平胃散：蒼朮　厚朴　陳皮　甘草</p>
<p>二陳湯：半夏　茯苓</p>
<p>上兩方即平胃二陳湯</p>
<p>大兒肥丸：五穀蟲（一兩）　膳頭（一隻）　使君子　柴胡（二錢）　楂肉（一兩）　川連　厚朴　神麯　小青皮　澤瀉（各七錢）　川芎　甘草　檳榔　肉蔻（各五錢）　人參　山藥　陳皮　蒼朮　茯苓　白芍（各七錢）</p>
<p>為極細末，砂糖少許，調服。</p>
<p>大溫驚丸：麥冬　代赭石　甘草　木香　辰砂（各五錢）　棗仁（一兩）　桔梗（一錢五分）　金銀箔（六片）　人參　白朮　茯苓（各五錢）　天蟲（二錢五分）　全蠍（六個）</p>
<p>為末，白蜜丸。</p>
<p>八珍粉：人參　白朮　砂仁（各一兩）　蓮肉　芡實　米仁　山藥　茯苓（各二兩）</p>
<p>或藥內去人參，調服時以人參湯送下可也。如不用人參，上黃耆、西黨參代之。</p>
<p>四神丸：山萸肉（五錢）　五味子（一兩）　補骨脂（四兩）　肉果（二兩，麵裹煨。各為細末）　紅棗（五十枚）　生薑（四兩）</p>
<p>同煎，去薑、棗肉，搗丸，空心淡鹽花湯送下，二錢。</p>
<p>一男，四歲，泄瀉，面黃腫，是濕熱邪滯，腹膨，熱蒸，跗腫，下瀉。恐熱吐胃陷。方附：</p>
<p>淡黃芩　煨葛根　赤茯苓　川連　焦神麯　江枳殼　炒楂肉　陳皮　雞肫皮</p>
<p>久瀉，土傷渴引，又新溫熱阻，恐滿逆喘。</p>
<p>方附：</p>
<p>桑白皮　澤瀉　赤茯苓　枳殼　豬苓　川連　陳皮　桔梗　大杏仁　象貝　鮮荷梗</p>

<h1>十二、腹痛</h1>
<p>小兒腹痛，起於飲食停滯居多。眼胞浮腫，噯氣酸腐，飽悶惡食，按之堅痛，彈如鼓聲，保和丸（方見痢門）、消導二陳湯。食久成積，痛則欲便，便下酸臭，下後痛減，或大便難澀，面黃色，足冷嗜臥，不思飲食，宜香砂平胃散。痛甚便閉，可議下之。熱痛者，時痛時止，痛來迅烈，肚熱煩渴，喜冷惡熱，瀉黃散利之。寒痛者，綿綿不止，痛無增減，口不渴，身不熱，不思乳食，喜熱飲而惡寒冷，宜薑、桂、木香、白芍、甘草，甚且口出冷氣，爪甲唇口俱青黯，理中湯溫之，厥冷加附子。氣滯痛者，胸腹痞滿，按之無形，調氣飲。痰凝氣阻而痛者，腹中漉漉有聲，時或吐痰（與蟲痛吐清水有別），痢下色白不臭，小水不利者，二陳湯加薑汁菖蒲。蛔痛者，蟲居腸胃，動則口吐清涎，撲身啼哭，面黃唇白，時痛時止，治宜安蟲飲、烏梅丸，蟲類不一，總宜使君子丸。攪腸痧痛者，四肢厥冷，腹中絞痛，勢迫（小兒多卒然悶亂死者，類皆此症。兒不能言，醫不反覺耳）。急用探吐法，然後隨症施治。</p>
<p><u>腹痛治驗　</u></p>
<p>（案1）泄瀉，腹痛，四肢厥冷，時作呃逆，是寒水侮土之症也，用六君、薑、桂、木香未效，更加附子（應寒水）乃安。</p>
<p>（案2）五歲，胃口當心痛，啼咬悶絕，或與順氣飲之類，痛不減。診之脈遲而緊，四肢俱冷，令人以熱手摩其痛處，果少緩，此內外俱著寒也。用草蔻、吳茱萸、木香、乾薑、益智，以溫其表裡而安，繼以調中養胃而愈。</p>
<p>（案3）二歲，忽大叫（濕病形而知也），曲腰而啼，此腹痛也。用六君、薑、桂、木香不效，乃以手按其腹至臍下兩旁，有筋一條埂起，直至腎囊之側，知其為小腸膀胱氣痛之症。用木香、茴香、川楝子、橘核為末，入酒調服，數日而痊。</p>
<p>（案4）十五歲，患少腹痛二年餘，服行氣克滯之劑益盛。診之脈沉而遲，手按無形，小便頻數，作腎中虛寒治（薛氏云：中脘痛屬胃，少腹痛屬腎）。用金匱腎氣丸炒黑為末，每日調服四錢，時或間與補中湯，調理三月始愈。</p>
<p>（案5）夏月，卒然胸腹大痛，飯後雜食寒凝之故，治驗。（見霍亂門）</p>
<p>（案6）盛暑，伏陰在內，腹脹作痛，治驗。（見霍亂門）</p>
<p>（案7）過食飽悶，腹痛作嘔。誤下，痛益甚，吐瀉不食，治驗。（見泄瀉門）</p>
<p>（案8）泄瀉，稠黏色青，腹痛，治驗。（見泄瀉門）</p>
<p>（案9）腹痛能食，善食焦土，體瘦腹大成形，治驗。（見腹脹條）</p>
<p>（案10）忽患小腹痛，曲腰而啼，治驗。（見疝氣門）</p>
<p><u>腹痛方　</u></p>
<p>順氣散：木香　陳皮　烏藥　枳殼　檳榔</p>
<p>瀉黃散：黃連　茵陳　黃柏　黃芩　赤苓　山梔　澤瀉</p>
<p>調氣飲：香薷　厚朴　神麯　陳皮　木香　砂仁</p>
<p>安蟲丸：川連　烏梅　炮姜　山楂　使君子　厚朴　白芍　枳實　川楝子　陳皮</p>
<p>烏梅丸：治胃咳，咳而嘔，嘔甚則長蟲出。黃連（一兩五分）　當歸（四錢）　蜀椒（四錢）　細辛（六分）　桂枝（六錢）　黃柏（六錢）　乾薑（一兩）　烏梅（三十個）</p>
<p>為末，酒浸烏梅一夜，去核蒸之，倉米飲搗丸梧子大，每服二十丸。</p>
<p>使君子丸：君子肉（一兩）　川芎（一錢五分）　甘草（一錢五分）　厚朴　陳皮（各一兩）　烏藥（五錢）</p>
<p>為末，蜜丸梧子大，白湯下，大小輕重服之。</p>

<h1>十三、腹脹</h1>
<p>腹脹者，肚腹膨脹也，皮膚迸急，多由脾不健運，濁氣填塞所致。初起宜香砂丸，或保和丸去連翹加木香、檳榔之類。甚或二便澀滯，當微痢利之。若日久成積，或更生蟲，兼與磨積化蟲，繼以扶脾（與腹痛、蟲積門參治）。積寒而脹者，四肢不溫，堅滿不喘，喜熱手熨腹，宜逐冷而兼破積滯。濕壅而脹者，面目黃腫，小便不利，須燥脾而兼利水。間有濕熱留滯於脾，郁久成火，面色黃赤，吞酸吐酸而作脹滿者，宜健脾解鬱，佐以枳實、川連。凡腹脹，壯實初起，以行疏導為先。若虛人，或病久，或過克伐，元神虧耗而作虛滿者，只宜六君加木香、砂仁補之，或兼升麻、柴胡以提之。虛而挾寒，手足並冷，附子理中湯。此症總屬脾虛失傳變化之職，未免虛中有實。有積聚而脹者，苟非氣有餘，切不可泛用行氣疏泄，甚或峻厲攻擊，以取一時通快，為害不淺。至於喘脹相因，須先後分調，以定標本。參喘門自得。</p>
<p><u>腹脹治驗　</u></p>
<p>（案1）五歲，食粽後咬牙欲吐，頃刻間腹脹昏憒，鼻青黃赤，此脾土傷而食厥也。令用雞翎探吐出酸物，頓醒。節其飲食，勿服藥而愈。</p>
<p>（案2）六歲，壯熱面赤，煩渴飲冷，悶亂喘急，腹脹滿，五六日不大便，此風火燥實之症。余與涼膈散一劑，煩渴頓安，仍用膽導法，便通熱退，漸愈。</p>
<p>（案3）素有食積脾虛病，出痘後又傷食，腹脹惡食，以胃苓丸加減，調理半月而愈。</p>
<p>（案4）鄰家幼孤三歲，腹脹惡食，為傷食病，醫下之愈。又傷食，症如前，醫欲再下，問予之。曰：立阻。初起傷食腹脹，治宜消導。無容攻下，今脾氣為藥劑所傷，不能消克，故又作脹，惟當補脾以助其傳化。若更下必致不救。此子身命非輕，一誤豈容再誤乎！以白朮散加減調理而痊。</p>
<p>（案5）九歲，善食焦土，腹痛能食，四肢漸瘦，肚腹漸大，按之有形，此蟲積脹也。以追蟲取積散，煎補脾胃之藥送下，即下蟲甚多，下後轉以補劑投之，月餘病愈。</p>
<p>（案6）面黃腹脹內熱，大便不調，遍身生瘡，治驗。（見疳門）</p>
<p>（案7）腹脹面黃，飲食難化，善噎，治驗。（見噎氣條。失集）</p>
<p>（案8）久瘧體瘦，腹脹浮腫，治驗。（見瘧疾門）</p>
<p>（案9）小便泔白，肚腹膨脹，治驗。（見便濁門。失集）</p>
<p>（案10）痢後食少脫肛，復克帶並腹膨脹，漸且四肢浮腫，治驗。（見脫肛條）</p>
<p><u>腹脹方　</u></p>
<p>香砂丸：蓬朮　香附　檳榔　青皮（各一兩）　山楂　麥芽　神麯　陳皮（一兩）　砂仁　木香　白蔻（五錢）</p>
<p>蜜丸彈子大，每服一丸，米飲下。</p>
<p>涼膈散：黃芩　山梔（一兩）　連翹（四兩）　薄荷（一兩）　大黃　芒硝　甘草（各二兩）</p>
<p>為末，每服三錢。</p>
<p>五苓散：白朮　茯苓　澤瀉　肉桂　豬苓　小茴香（量為輕重，等分用之）</p>
<p>金匱腎氣丸：六味丸加肉桂、車前子、牛膝，分兩輕重，隨病用之，蜜丸。</p>

<h1>十四、浮腫</h1>
<p>經云：諸濕腫皆屬於脾。脾失健運之常，則水濕停留，凝閉滲道，流注於經絡皮膚而為腫者。治法先補燥濕，使脾得升降運行，次開滲道，以決水邪，加減胃苓丸主之。其水有陰陽之別，陽水遍身腫，皮色黃赤，煩渴尿澀，大便閉，脈數，宜前方加黃芩、山梔、防己；陰水遍身腫，皮色青白，身冷不渴，大便溏，小便雖少而不澀，前方加椒目、乾薑、肉桂。有氣腫，皮厚色蒼，四肢消瘦，胸腹痞滿，腫處隨按隨起，宜香附、木香、陳皮、厚朴、枳殼、檳榔之類。若水腫，皮薄色嫩，腫有分界，按之成凹即不起，胃苓丸、五皮飲送下。風腫者，腫在於上，或從上起，肢體面浮，走注疼痛（風多在上，濕多在下），脈浮身重，惡風，五皮飲加蘇葉、秦艽、防風。如風邪入肺，肺脹發熱，喘咳，面目浮腫者，瀉白散加葶藶、杏仁。濕腫，有濕熱濕寒之辨。蓋濕鬱則熱生，煩渴尿澀，身熱目黃，四肢浮腫者，胃苓丸加茵陳、山梔。若濕寒者，身腫腹滿，不熱不渴，大便泄瀉，四肢不溫，除濕防風湯去白芍，加附子、防己。飲食停塞胃中，清不能升，濁不能降，氣壅而為腫者，先與化導，繼以健中。有中氣不固，晨起面浮，午後足腫，為虛腫也，白朮散加減，或人參茯苓平胃散加砂仁、木香、藿香為丸服之。有瀉後、痢後、瘧後、痘後、諸病後，脾虛發腫者，飲食減少，四肢無力，補中湯、六君子湯。病後脾肺氣虛，不能通除水道者，金匱加減腎氣丸。又有遍身膿瘡發腫，治先去濕熱，次用敗毒散散之，切忌寒涼搽敷，使毒歸內，不治。凡腫，惟春令難療，時當木旺，土受木克，故也。</p>
<p><u>浮腫方　</u></p>
<p>五皮飲：桑白皮　茯苓皮　大腹皮　陳皮　生薑皮</p>
<p>加減胃苓湯：蒼朮　厚朴　陳皮　茯苓　澤瀉　豬苓　大腹皮　生薑皮　砂仁　桑白皮</p>
<p>煎服。</p>
<p>胃苓丸：蒼朮　厚朴　陳皮　澤瀉　白朮　茯苓　豬苓　甘草　官桂　草果仁（各三錢）</p>
<p>為末，飲丸麻子大。</p>
<p>除濕防風湯：防風　蒼朮　茯苓　白朮　白芍</p>
<p>煎服。</p>
<p>瀉白散：治肺實咳嗽面腫身熱。桑白皮　地骨皮　炙草　白米</p>
<p>敗毒散：前胡　柴胡　川芎　羌活　獨活　甘草　茯苓　枳殼　桔梗　生薑　薄荷</p>
<p>此方加人參即人參敗毒散。（人參敗毒茯苓草，枳桔柴前羌獨芎，薄荷少許姜三片，時行感胃效奇功。去參名為敗毒散，加入消風名異同。）</p>

<h1>十五、大便不通</h1>
<p>小兒便閉，有痰、食、風、火及氣閉、虛閉之不同。食閉者，飲食停滯，留結腸胃，腹痛脹滿，水穀不行，保和丸、枳樸大黃丸。痰閉者，頑痰膠固，阻塞胸臆，諸竅不通，或發驚搐，礞石丸、清金化痰丸。氣閉者，氣有所阻，不得升降，穀氣不行，多噫，順氣飲、麻仁丸。火閉者，面必赤，身必熱，煩渴飲冷，或口舌生瘡，涼膈散、四順清涼飲。風閉者，風搏於肺，傳入大腸，風能燥物，以致下極之際而燥結不通，治當益潤燥，不得專以去風為事（所謂治風先治血，若過用風藥，是愈燥其燥矣）。又有虛閉者，血液不足，大腸乾澀，宜歸地冬麥麻仁阿膠蓯蓉等味，以滋潤之。若元虛病久，氣不傳運，宜參耆白朮沉香以鼓動之。其稟賦陰虧、時常便難者，多服六味丸，不可妄與硝、黃、巴豆、牽牛等酷烈之劑，以致變害非輕。</p>
<p><u>大便不通治驗　</u></p>
<p>（案1）咳嗽，面赤身熱，飲冷便閉，此肺與大腸有熱，熱則津液燥而結，用四順清涼飲。愈後復停食，腹痛拒按，大便不通，用六安丸煎，順下之劑送下，頓安。</p>
<p>（案2）十二歲，時患便難。余書丸方與之，用六味丸加阿膠、麥冬、歸、芍。醫阻之，服下藥。下後愈結，迫欲去而反不得去，且痛極難忍。復邀予至。予曰：是本腎陰不足之症也。誤下則氣陷而陰血更耗矣。遂以熟地、阿膠、柏子仁、炙甘草，少加升麻，服三四劑，而繼大補真陰，常服而愈。</p>
<p>（案3）疸症，大便閉，尿黃而澀，治驗。（見疸門。失集）</p>
<p>（案4）喉間腫痛，發熱咳嗽，大便閉結，治驗。（見咽喉門。失集）</p>
<p>（案5）便燥，努力脫肛，焦痛，治驗。（見脫肛門）</p>
<p><u>大便不通方　</u></p>
<p>（案1）麻仁丸：治大便閉結，腸胃燥熱。厚朴　芍藥　枳實　製大黃　麻仁　杏仁</p>
<p>輕重量用。</p>
<p>潤燥丸：羌活　歸尾　製大黃（各五錢）　麻仁　桃仁（一兩）</p>
<p>蜜丸白湯下。</p>
<p>四順清涼飲：當歸　大黃　白芍　甘草</p>
<p>煎服。</p>
<p>柏子仁膏：柏子仁　松子仁　胡桃肉</p>
<p>等分白湯下。</p>
<p>四磨湯（即順氣飲）：烏藥　鬱金　厚朴　檳榔　枳殼</p>
<p>又一方去鬱金加沉香。</p>
<p>備急方：治寒氣冷食，稽留胃中，心腹大腹痛，大便不通者，《金匱》治中惡，心腹脹滿，卒痛如錐刺，氣飲口噤如卒死者，捧頭起灌，令下咽，須臾當瘥。不瘥，更與三丸，當腹中雷鳴，即吐痢而愈。若噤不開，須□牙灌之。大黃、乾薑、巴豆各一兩，熬如脂，先將大黃、乾薑為末，入巴豆，令搗千杵，蜜丸豆大，藏罐器之中。勿泄氣，每服三四丸，溫水服，或酒下。</p>
<p>洗熨備急方：先煎蔥湯，淋洗其腹，又用熟艾、幣上烘熱，以帕子包熨臍腹間，頻換去寒。</p>

<h1>十六、小便不通</h1>
<p>小兒尿閉，多由肺氣燥熱，不能生水（肺清則氣行，肺濁則氣壅，故尿閉也），治當清金潤燥。用紫菀、桑白皮、麥冬、山梔、黃芩、茯苓、車前之類。其心熱移於小腸膀胱而不行者，舌赤口燥，飲冷便閉，導赤散加川楝、麥冬、滑石。腎虛火燥而不行者，必兼足熱、腿軟（此症熱在下焦血分，於其不渴辨之），滋腎丸。膀胱有熱，澀其流而不行者，每小腹前陰作痛，金沙散。陰陽不分、津液偏滲大腸，小水不行者，大便多下清水，五苓散。脾腎虛、濕熱壅滯而不行者，腹脹滿，或陰囊腫脹，腎氣丸。脾肺氣虛，不能通調水道者，漸見四肢浮腫，補中湯、金匱加減腎氣丸。若因乳母曾服燥劑而致者，四物、麥冬、甘草。稟腎陰虛燥而澀者，六味丸。仍參諸淋治之。</p>
<p><u>小便不通治驗　</u></p>
<p>（案1）心神煩躁，尿澀不通。煎犀角、赤苓、竹葉、車前，調下辰砂六一散，二服煩躁止，再導赤散，二劑愈。</p>
<p>（案2）鄰家兒五歲，大便久泄，小便不利，余以五苓散與之，愈澀，小便及陰囊俱腫。易醫，用金沙散。余聞之，不招自至。謂其父曰：此症原因脾胃氣虛，不能通調水道，投以宜五苓，未免益損真氣真陰，再服金沙，復更難為力矣。更用六味，加車前、牛膝、肉桂，合補中湯，間服而安。</p>
<p>（案3）患小便赤澀不利，醫用導赤散加滑石、車前，服至數劑，且點滴不行，內急脹滿，痛極難忍。余即前方加升麻三分，立時通快，諸症頓除。或問其故，余曰：譬之水至閉塞，啟其上竅則下竅自然流暢矣。</p>
<p>（案4）疝症，小便不通，腫脹下墜，治驗。（見疝症條）</p>
<p>（案5）小便赤色，引囊丸腫痛，寒熱作嘔，治驗。（見疝症條）</p>
<p>（案6）稟怯，早近女色，小便滴瀝，治驗。（見淋症條。失集）</p>
<p>（案7）癰毒，膿血太多，尿赤而短，治驗。（見淋症條。失集）</p>
<p><u>小便不通方　</u></p>
<p>滋腎丸：黃柏　知母　肉桂</p>
<p>水泛丸梧子大，每服二十丸。</p>
<p>金沙散：鬱金　海金沙　滑石　木通　地膚子　甘草</p>
<p>桑苓散：茯苓　桑皮　黃芩　山梔　車前　木通　甘草</p>
<p>外治法：治小腸小便閉，緩則不救。用蔥白二斤，切細炒熟，絹包，分兩袋，更替熨臍下，氣透則通。</p>
<p>又法：炒鹽半斤，囊盛熨小腹。</p>
<p>又法：取田螺泥，加寸香少許，墊臍中。或炒鹽半匙，填臍中紮緊，更救。</p>

<h1>十七、夜啼</h1>
<p>小兒至夜則啼，百計安之不能止，其因不一。有為脾寒者，面色青白，腹冷肢冷，不思乳食，至夜則陰勝，腹中作痛，曲腰而啼，以手按其腹則少止，宜用益元散加鉤藤。有因心熱者，面深紅多淚，小便赤澀，仰身而啼，見火則兩陽相摶而啼愈甚，無燈則稍息，宜導赤散加辰砂麥冬。有因客忤者，或曾見異常惡物，或惡祟所侵，睡中驚跳，抱母大哭，面色紫黑，手紋俱隱，用抱龍丸、蘇合香之類。若面色白，黑睛少，腎氣不足，至夜陰虛而啼也，六味丸。心血不足者，面色不華，睡濃忽醒而啼，舌色淡白，安神丸。或兒生口疳重舌，㖒而不能吮乳則作啼，或乳母缺乳，兒飢亦啼。諸因不可不辨。若連聲多淚，眼白青色，唇紫者，不治。</p>
<p><u>夜啼治驗　</u></p>
<p>（案1）一兒生下數日，啼哭不已。來告以病狀，予曰：此必斷臍不謹，復失於包護，風冷內熱，故腹痛而啼也。昔萬氏用蘄艾炒熟，護其臍，冷則易之。果如法處治而安。（艾必要打極軟而炒）</p>
<p>（案2）一兒未周，患睡臥則驚啼，如是三日。余往視之，曰無病。繼覆命將其子放席上，將仰臥，見忽然大叫啼哭，覆臥則稍安。余將燈火而照尋，見肩骨後竟有竹刺，入肉二分許，遂依《子母秘錄方》用刺蝟皮三寸燒灰，捏乳頭上與兒食之，果刺出而啼已。</p>
<p>（案3）嬰孺治小兒夜睡忽驚啼，不識母，母喚之搖頭。是蓋夢中見母棄之去，故忽驚而啼。但令人抱坐於暗中，母把燈火從外入來，喚之即止。何以然者？謂母去而還來也。</p>
<p><u>夜啼方　</u></p>
<p>蘇合香丸：治鬼魅瘧瘴，順氣化痰。</p>
<p>沉香　丁香　青木香　安息香　香附　蓽茇　檀香　熏陸香（各二兩）　訶黎勒（煨，用皮，二兩）　犀角（二兩）　合香油（入安息香內）</p>
<p>龍膽為末將研藥末入安息香羔並白蜜丸，隨病作湯下。</p>
<p>硃砂安神丸：麥冬　馬牙硝　白茯苓　淮山藥　寒水石　甘草　硃砂　南薄荷</p>
<p>白蜜丸芡實大，每服半丸，糖湯化下。</p>
<p>茯苓甘草湯：治膀胱咳，咳而遺尿。</p>
<p>茯苓（二錢）　桂枝（二錢）　生薑（二大片）　炙甘草（一錢）</p>

<h1>十八、煩躁</h1>
<p>火入於肺則煩，入於腎則躁。蓋君火旺，水虧金爍，惟火獨存，故肺腎火甚，合而為煩躁，不可發汗攻下，當與人參竹葉湯，兼嘔者橘皮湯。小兒當辨其嗞煎不安是煩，嗞啀不定是躁。嗞煎者，心經有熱，精神恍惚，煩滿生驚；嗞啀者，心經有風，躁亂驚搐也。熱甚者，黃連解毒湯；輕者，導赤散；脈數而實，便閉者，或少與利之，此皆實熱之治也。若煩而短氣，口乾咽燥不渴者，虛熱也，宜四君加芎、歸；因藥攻伐而作渴者，竹茹湯；虛煩驚悸不眠，酸棗仁湯；心神顛倒煩熱，欲吐者，硃砂安神丸；水虧火炎，煩渴不安者，六味飲。若躁而裸體欲入井者，脈沉細，或浮，按之如無者，此為陰盛格陽，陰極發躁，冷服附子理中湯，或可回生。</p>
<p><u>煩躁治驗　</u></p>
<p>（案1）六歲，患感症，熱退後心神煩擾，起臥不安，時欲作嘔。醫者欲與清心安神之劑。余曰：此病後氣衰而餘熱未盡之故也。氣衰則泄越上浮，故逆而為嘔。書竹葉石膏湯與之，兩服而愈。</p>
<p>（案2）潰瘍煩躁，驚搐撮空。用六味煎服以滋腎水平木，異功散以補脾肺，漸愈，又服八珍湯而痊。</p>
<p>（案3）痢後煩躁作渴，面赤，脈大按之如無，此血脫煩躁也。先用當歸補血湯，又異功散加當歸升麻，漸愈。</p>
<p><u>煩躁方　</u></p>
<p>酸棗仁湯：棗仁（一錢）　甘草　知母　茯苓　生薑　川芎（各五分）</p>
<p>人參竹葉湯：麥冬　竹葉　甘草　半夏　小麥　人參　粳米</p>

<h1>十九、傷暑</h1>
<p>炎蒸之氣，酷烈最甚，兒質柔脆，尤易感觸。症見體若燔炭、面垢、口渴、汗出、煩躁，此內熱與外熱相併，一時猝中而成，宜涼脾加六一散、白虎湯、竹葉石膏湯，隨症加減。其熱干於心，猝然驚搐，悶亂不寧者，辰砂六一散加青蒿、竹葉、川連。其熱乘於肺，咳嗽寒熱，盜汗脈數者，宜清肺，柴胡天水散加麥冬、桔梗。有暑傷胃，腹痛水瀉者，胃與大腸受之，噁心，系胃口有痰，宜五苓散加香薷、藿香、半夏、陳皮。有忽然上吐下瀉，身熱眩暈，躁亂不寧，或膚如針刺，或兼赤腫，為暑傷肉分，六和湯、解毒白虎湯，加柴胡。伏暑大熱，水瀉脈數者，黃連香薷飲。若久而變為潮熱、寒熱、或吐、或瀉、或瘧痢，俱詳本條。弱質不任外邪，因暑傷元氣而至發熱自汗，倦怠少食，身重胸滿者，清暑益氣湯。如無身重、胸滿等症，補中湯加麥冬、五味。又有避暑病者，炎天納涼太過，抑遏陽氣，手足厥冷，當舍時從症為治，用大順散。外冒暑熱，復外感寒邪，而見頭痛鼻塞，寒熱似瘧，去衣則冷，著衣則煩者，六和湯加羌活、柴胡。有乘汗冷水洗浴，暑濕相摶，而見一身盡痛，自汗發熱者，四苓散加防風、蒼朮。至於夏末秋初，頭疼腳軟，食少體倦，身熱為疰夏。病屬陰虛，元氣不足，宜補中湯去升麻柴胡，加白芍、酒炒黃柏治之。</p>
<p><u>傷暑治驗　</u></p>
<p>（案1）三歲，夏月忽發手熱，時作啼叫，精神躁亂，其體轉側不停，以投驚藥，益甚。面垢唇焦，遍體紅斑，乃曰：此即熱傷肉分，體熱頭疼，身如針刺。遂以人參白虎湯加花粉、元參、麥冬、竹葉，煎與一服，頓安。</p>
<p>（案2）女，十三歲。夏月奔走酷日，忽發眩暈，昏困不省人事，口不言，體不能動，身涼而不欲近衣。或謂陰症，將投溫熱。柯德兄曰：此中熱病也，外雖涼而內熱甚。遵慎齊法，用天水散，調飲二盞，更以涼物置胸前，果發戰汗而愈。</p>
<p>（案3）夏月，患腹痛作瀉，便下色黃穢膩，口渴尿澀，此脾先受濕，復外著暑氣，乃暑濕傷脾之症，治以平胃散加黃連、木通、神麯、澤瀉，清其暑，理其脾，漸愈。</p>
<p>（案4）三歲，正在酷熱，忽然蹙額多啼，大熱無汗，身形物束。余曰：是避暑病也。細問之，果如時臥冷地，並常抱當門有風處。遂用厚朴、蘇葉、羌活、乾葛、藿香、陳皮、生薑，一服汗至，二服熱退，更避風三五日，愈。</p>
<p>（案5）暑病似驚，治驗。（見急驚條）</p>
<p>（案6）痢下純血，煩渴尿澀，屬暑症，治驗。（見痢疾門）</p>
<p><u>傷暑方　</u></p>
<p>白虎湯：煨石膏（五錢）　知母（二錢）　甘草（一錢）　粳米（一撮）</p>
<p>又方：加竹葉名竹葉白虎湯。</p>
<p>又方：加人參名人參白虎湯。</p>
<p>天水散：治中暑身熱，小便不利，解煩，分水道，降妄行之火。即六一散。</p>
<p>參麥散：人參（五分）　大麥冬肉（一錢半）　五味子（七粒）</p>
<p>大順散：杏仁（炒）　甘草（炒）　乾薑（炒）　肉桂（各等分）</p>
<p>清暑救心湯（即消暑清心飲）：六一散加青蒿、川連、茯神、扁豆葉。</p>
<p>正氣散：六君去人參加蘇葉、藿葉、藿香、桔梗、白芷、厚朴、大腹皮、薑、棗。</p>
<p>解熱消暑散：青蒿　茯苓　葛根　陳皮　香薷　白朮　扁豆</p>
<p>此方用青蒿解暑去熱，茯苓行濕熱盡從膀胱而出為君，佐以去暑，更用白朮、葛根、扁豆、陳皮以健脾胃之氣，使暑熱退而胃氣不傷也。</p>
<p>小青龍湯：麻黃　白芍　乾薑　炙甘草　細辛　桂枝　半夏　五味子</p>
<p>平胃散：見泄瀉門</p>

<h1>二十、傷風（附風熱）</h1>
<p>小兒或更衣脫帽，洗浴當風，皮毛受邪，頓然發熱，頭痛，鼻塞流涕，與傷寒相似（但傷風，惡風居暖室則自已；傷寒，惡寒體近熱火不除也）。脈浮，其關紋紅紫而長（或云：當以候風為左關），參蘇飲加減。挾食則惡食，噯氣飽悶，加神麯、山楂、麥芽。挾痰則吐痰。痞滿噁心，倍半夏加薑汁。果有濕痰，當如上治法。若肺經風痰，當參咳嗽條處治。挾驚則抽搐，面青目竄，神亂，先散風邪，次鎮驚，抱龍丸、薄荷湯下之。有傷風自利，腹脹，手足冷者，脾怯也，當與和脾兼發散。有漸熱多睡，氣粗嘔吐，乳食不消，大便黃白而咳嗽者，乃脾肺受寒，不能入倉，故吐也。二症通用，調解散之意，斟酌加減。</p>
<p><u>傷風治驗　</u></p>
<p>（案1）傷風咳嗽，數日後且發熱口渴，與紫蘇飲，熱渴轉甚。予即其方去紫蘇、芩、半，加薄荷、花粉、桑皮、杏仁、竹葉，二劑熱退渴止，繼以清養肺氣而痊。凡傷風初起，藥宜辛溫發散，忌與寒涼以遏其邪，郁久則宜辛涼和解，忌與溫散以增其熱，此大法也。</p>
<p>（案2）發熱咳嗽吐痰，頻與解散，久而不愈。予視之，面色枯白，表虛易汗。乃曰：弱體感風初起，解散藥中便須帶甘溫補益，久則當以補益為主，少佐開提足矣。投二劑頓安。予復謂其母曰：此症當乘其病去之時，重用參耆苓朮，以保脾元，以固其表，所謂不治已病治未病，乃為知本之治也。如吾言，果精神倍勝於前，而病從此少矣。</p>
<p>（案3）傷風發熱，鼻塞頭痛，與輕清疏解，遂愈。後少觸微風，每身熱頭痛，其父則取前方與之，如是者三，直至服藥不效。乃復迎予。視其形體瘦弱，面白微黃，脈微，遂以補中益氣湯，去升麻，加防風，三服愈，後不發。或問表症，何用參耆？予曰：症因脾肺氣虛，腠理不密，故愈發而愈虛，愈虛而邪愈易入也。惟此能固中而御外耳。</p>
<p><u>傷風方　</u></p>
<p>紫蘇飲：前胡　蘇葉　葛根　枳殼　甘草　桔梗　半夏　茯苓　橘絡　薑汁</p>
<p>調解散：人參　白朮　炮姜　炙草　陳皮　防風　升麻</p>
<p>清解散：前胡　薄荷　花粉　元參　桔梗　甘草　木通　防風　枳殼　陳皮</p>
<p>如咳嗽加桑皮、杏仁，咳不轉加瓜蔞，夜咳多加知母，痰多加貝母，內熱甚加黃芩。</p>
<p>加減麻黃湯：治肺感寒邪咳嗽。麻黃　杏仁　半夏　陳皮　辣桂　甘草　紫蘇　生薑</p>

<h1>二十一、風熱</h1>
<p>風熱者，咳嗽喉疼面赤，即熱傷風也。多因素有痰火，鬱熱在內，或為風涼所乘，不得發越。此熱為本，寒為表，宜輕清之劑解之。若熱盛而內生風者，但治其熱而風自消。風木生熱者，但治其風而熱自退也。</p>
<p><u>風熱治驗　</u></p>
<p>（案1）四歲，先發熱面赤，自汗煩渴，六七日不愈，漸見驚搐之狀。予曰：此因風生熱，因熱而復生風也。用薄荷湯去羌活、防風，加葛根、柴胡、木通、元參，二劑驚搐止，三劑熱亦退矣。</p>

<h1>二十二、燥症</h1>
<p>小兒燥症，多因風熱。風能勝濕，熱能耗液。如邪氣怫鬱在表而裡氣平者，善伸數欠（表），臉赤煩渴，或時惡寒，或時筋惕而搐，清潤散加瓜蔞皮、木通、竹葉、燈心。若風熱鬱甚於里，為煩滿（里），為閉結，涼膈散。心熱甚加川連。有火盛之極、因熱愈熱而燥者（火），舌有芒刺，唇口焦裂，大渴呼飲，白虎湯。有汙便為宜解毒湯（無汙便利為宜）選用。恐嬰兒不勝大寒，清涼散最穩。有病後陰虛火動而燥者，五心煩熱（虛火），口無津液，肌體瘦弱而虛煩，地黃丸加天冬、麥冬。汗下亡津，滋本湯。肺體本燥，受熱化而更燥澀，症見咳嗽咽乾（肺），久而音啞聲嘶，或咯血，或吐濃血，潤肺湯加減。心燥者心血不足，善作驚惕，養心湯。心經蘊熱作渴，小便赤澀痛者（心），清心散。肝主筋，風氣自盛，燥熱加之，液聚胸膈，不榮筋脈，勁急瘛瘲（肝），或昏冒口噤，滋肝飲。脾為中洲，澆灌四旁，與胃行其津液者也。脾胃中津液枯涸，則食入難下，大便燥澀不潤（脾），養脾湯。稟賦腎或虛，早近女色，津血枯耗，憔悴羸弱（腎虛），發熱作渴，肢體焦燥，宜六味主之。凡燥症，在外則皮膚皺揭，滋燥養榮湯；在內則焦枯煩渴，大補地黃湯；在上則咽乾鼻焦（上），清涼飲子；在下則便尿俱澀（下），均宜通潤為先，務使水液自生而燥熱不容不退矣。</p>
<p><u>燥症治驗　</u></p>
<p>（案1）一女患痧症，悶伏不出，喘急抬肩，鼻煽喉鳴，醫用外發之劑，痧不能透，火愈沖急，頭額多汗。余用麻杏湯加桔梗，一服而痧始見，二服而諸症稍平。其家不善調攝，時或內傷，未滿一月，反復者三，俱余為調治得安。數日忽復迎余，甚迫，云：此女已發狂矣。往視，果聲非平日之聲，狀非平日之狀，妄見妄聞，妄言妄動，目札，兩手戰搖不止，脈浮弦而數，左臉微赤。予問其前二三日內何如？其母曰：兩日前忽噴嚏，鼻塞，身微熱，適乘醫之，便服藥二劑，熱不退，轉變出怪狀如是。予索其方視之，則荊、防、橘、半之屬也。乃謂其母曰：令愛病久，肝陰虧極，復客風邪，風能燥物，燥極生風，當輕清養陰，少佐和解。荊、防，風藥也；橘、半，燥藥也。目札、手搖，肝之挾火虛風動也。見聞怪異等症，神魂失守之象。余用生金滋肝飲，一服即安。又命以六味丸料蒸露，早晚與飲。其家人以危症既去，竟不服藥。一月後又復迎余。診之脈細而澀，形體骨立，乾咳微喘，時或見血，煩熱不已，肌膚粗澀，竟成千勞之症矣。用馮氏甘露膏，仍蒸六味露，調理兩月。自三月起病，直至六月收功。</p>
<p>（案2）吐瀉後，津液頓亡，引飲不止，服七味白朮散愈。</p>
<p><u>燥症方　</u></p>
<p>清潤散：鬱金　荊芥　連翹　山梔　黃芩　薄荷　甘草</p>
<p>解毒湯：川連　黃芩　山梔　黃柏　烏梅</p>
<p>清涼飲：青蒿　元參　生地　麥冬　甘菊　車前</p>
<p>滋本湯：人參　黃耆　白朮　甘草　歸身　白芍　麥冬</p>
<p>潤肺湯：阿膠　麥冬　杏仁　川貝　紫菀　桑葉</p>
<p>加味地黃湯：即六味丸料加麥冬、五味子</p>
<p>養心湯：治夢寐不寧，驚悸健忘等症。茯神　棗仁　歸身　人參　丹參　五味子</p>
<p>清心湯：石蓮　麥冬　木通　竹葉　燈心　黃芩　地骨皮　車前子　甘草</p>
<p>滋肝飲：生地　歸身　白芍　丹皮　柴胡　山梔　麥冬　元參　甘草</p>
<p>甘露飲：甘露（於草木上收之一鍾）　蜂蜜（半杯）　人乳（一杯）　人參（三至五錢，隨症輕重煎汁一杯）</p>
<p>四汁並一處，煎濃溫和日服。</p>
<p>涼膈散：黃芩　山梔　連翹　薄荷　大黃　芒硝　甘草（各藥細末）</p>
<p>清涼飲子：黃芩　黃連　薄荷　甘草　白芍　元參　歸身　流水煎。</p>
<p>滋燥養榮湯：生熟地　歸身　黃芩　防風　白芍　秦艽　甘草</p>
<p>養脾湯：即前方去黃芩、秦艽、防風，加山藥、麻仁，即養脾湯。</p>
<p>生金滋木飲：人參　麥冬　歸身　生地　白芍　丹皮　甘草</p>
<p>柴胡飲子：解一切肌骨蒸熱、寒熱往來及傷寒發汗不解，或汗後餘熱。　人參　大黃　白芍　當歸　甘草　柴胡（各等分）</p>

<h1>二十三、火症</h1>
<p>水一也，而火有二（所謂一水不勝二火）。心為君火，命門為相火，又五臟皆有火（所謂一水不勝五火）。心火盛則狂躁面赤，舌上破裂，瀉心湯、導赤散。肝火盛則項急頓悶，面青目直，瀉青丸、抑肝散（方見急驚）。肺火盛則喘嗽音啞，鼻孔干塞，瀉白散加黃芩、桔梗。脾火盛則渴易飢，腹脹有聲，口鼻唇腫，瀉黃散（見腹痛門）。腎火盛（即相火，所謂陰微陽強，相火熾甚，以乘陰伍）。則朝涼暮熱，日漸煎熬，或躁擾牙宣，黃蠟丸去血餘、赤苓，加炒黃柏（其餘六腑之火，如膽胃大小腸三焦膀胱，可參五臟處治）。有火鬱者，鬱火內伏，因生冷內傷，抑遏陽於脾土，致內外發熱，漸成羸瘦，宜升麻散火湯。如火在上，大熱面赤，煩躁口渴，涼膈散（方見燥門）加減。火在下，臍下熱，利下熱臭色黃，欲飲涼水，白頭翁湯加減。濕火由於濕熱（詳暑門），燥火由於血虛（詳燥門）。風火為火鬱於內，風襲於外，發熱頭疼，痰結咽痛，清涼飲去元參、麥冬，加荊防牛蒡之類（以上皆實火，或涼、或瀉、或散、或升，俱一例取效。以下四條皆虛火）。至於勞倦內傷，懶言惡食而身熱心煩者，為氣虛之火，宜參耆炙草甘溫之劑補之。腎水受傷，陰虛火盛而為骨蒸勞熱者，為陰虛之火，宜生地熟地、天冬、麥冬甘寒之劑滋養之。體弱病後，或吐瀉脫元，上熱下寒，為陽虛之火，宜保元湯，加附子，以益元湯。陽水衰，火無所附而不歸源者，為無根之火，宜六味，少加附桂，從其性而伏之。大抵實火，必口渴飲冷，大便堅閉，熱無止息。虛火口乾不能飲，大便滑泄，朝熱夜至。其有實火而大便泄瀉者，暑濕食傷之症也。虛火而大便乾燥者，稟賦陰虧，或病後血枯，便燥是也。當合色脈參之。</p>
<p><u>火症治驗　</u></p>
<p>（案1）三歲，煩躁面赤，唇焦舌絳，口內生瘡。此內外皆熱，為三焦實火，用黃連解毒湯，二劑得安。繼以輕清潤養而愈。此症若大便閉結，便宜涼膈散加減，當隨機應用。</p>
<p>（案2）九歲，夏月忽身體大熱，躁亂如狂，渴欲飲水。毒火太盛，急用鮮地、元參、青蒿、連翹、花粉、犀角、丹皮、薄荷、黃芩、生甘草，一劑，遍體發出紫斑。余曰：火毒外現，此子生機也。前方加麥冬、菊花，再劑而斑色漸淡，三劑而斑盡熱解，後遂不藥而愈。</p>
<p>（案3）一女六歲，五月患發熱，咳嗽，鼻塞流涕，用疏解之劑而愈。數日後，忽復喘嗽面赤，咳來連聲無數，必痰出血隨，而後咳罷。此火令刑剋肺金之症也。同張翼蕃議進阿膠散去鼠子，加川貝母、麥冬、竹葉、生甘草，五六劑漸安，繼以潤肺湯，多服而愈。</p>
<p>（案4）又一女，時常衄血。自九歲至十二歲，服犀角黃連之類，不效。予診之，脈來細數，血至時，面赤烘熱，血去則白，是陰虛火逆為患，用黃蠟丸，調理而愈。至十五歲，復患經水先期，色紫而多，齒根出血，鼻衄又作，且口瘡咽痛，頭一偏痛，夜熱煩渴。醫用四物加芩連，不效。欲更用犀角地黃湯。其父甚憂，請診之。予曰：非也，是水虧火熾，血熱血燥之症也。逐用生熟地、阿膠、人中白、血餘炭、牛膝、茯苓、杜仲、龜板甲、豬脊髓，生打為丸，常服而愈。觀此可識，同是症，同是火，而火之所屬不同，則用藥當因之不同各異，不可拘常格以施治也。</p>
<p><u>火症方　</u></p>
<p>導赤散：生地　木通　甘草　竹葉　燈心　</p>
<p>瀉白散：桑白皮　地骨皮　炙甘草　白粳米</p>
<p>河間地黃飲子：熟地　巴戟　山茱萸　肉蓯蓉　附子　石斛　五味子　雲茯苓　干菖蒲　遠志　官桂　麥冬　薄荷（少許）</p>
<p>千金治暴嗽失音：杏仁　薑汁　砂糖　白蜜　五味　紫菀　通草　桑皮　川貝</p>
<p>茯神湯：治脈虛咳嗽或心痛。桔梗　茯神　人參　麥冬　遠志　通草　黃耆　甘草</p>
<p>腎氣丸：熟地　山藥　萸肉　澤瀉　丹皮　茯苓</p>
<p>補陰丸：黃柏　知母　熟地　龜板　白芍　陳皮　牛膝　虎骨　鎖陽　當歸</p>
<p>百勞丸方：當歸　乳香　沒藥　虻蟲　大黃　人參　水蛭　桃仁</p>
<p>蜜丸。</p>
<p>清骨散：專退骨蒸勞熱，嗽多加阿膠、五味子、麥冬，血虛甚加當歸、白生地。黃連　秦艽　鱉甲　地骨皮　青蒿　知母　甘草　銀柴胡</p>
<p>瀉黃散：見腹痛門。</p>

<h1>二十四、諸熱辨</h1>
<p>小兒之病，惟熱居多而所因不同。有衣熱者，以手輕捫之則熱，重按之則不熱，此皮膚血脈之熱，熱在表也。壯熱惡風寒，為氣不足，表之虛熱也。壯熱不惡風寒，為外邪所客，表之實熱也。裡熱者，以手重按，深按乃熱，輕手按則不熱，此筋骨之熱，熱在裡也。壯熱煩渴飲水，尿赤便閉，為內火銷爍，里之實熱也。壯熱，飲湯，尿數，為津液短少，里之虛熱也。傷寒熱，初起頭痛惡風，鼻塞聲重，自汗發熱，治法載傷寒條。傷暑熱，精神困倦，自汗煩渴，治法詳暑門。傷食熱，目胞腫，從頭至肚尤熱，面黃足冷，飽悶惡食，噯氣酸腐，當分新久虛實處治。疳熱，黃瘦不長，泄瀉無時，肚脹腳弱，治法在疳症。驚風熱，十指稍冷，手心汗出，時作驚搐，治載驚風條。風熱，熱，身熱倍，能食。氣熱，二便或閉或瀉，治以散風清熱為主。煩熱者，五心熱甚，煩躁不安，手足時欲露出。如小便赤色，導赤散加麥冬、山梔；飲水不止，竹葉石膏湯。潮熱者，或午後或日晡發熱，如水之熱潮，依時而至。治法：有汗，用地骨皮散；無汗，秦艽散。熱甚，生犀散。如有宿食，三黃枳樸丸。又晝熱而夜靜者，陽氣旺於陽分也，小柴胡合白虎湯主之。夜熱而晝靜者，陽氣陷入陰分也，四物合桂枝湯主之。重陽無陰，則晝夜俱熱，骨蒸，宜益陰和陽。骨蒸熱，神氣虛弱，遇晚則熱，有熱無熱，微汗方止，此為先天真元不足，用補中湯加地骨皮、青蒿、鱉甲，又六味丸。或病後津液消爍所致，凝神散，或地骨飲加減。變蒸熱，上唇尖有小泡如水珠，輕則身熱微汗，重則壯熱吐瀉煩渴啼哭，不須用膏。痘疹熱，耳後有赤紋，眼如含水，懶於言笑，身體時作振動，常恐跌僕，更以耳尻俱冷為驗，治詳痘疹誠求集。虛熱者，因兒熱病，或解表，或攻裡，既退而復熱，或施涼劑，熱反愈甚，此表裡俱虛，陽浮於上，宜溫平之劑，如參苓白朮散之類加減。又須知氣虛而熱者，氣短不續，面色青白，自汗，乳食少思，手足指冷，午前熱甚，宜氣分藥，異功散、補中湯之類溫補之。血虛而熱者，發熱惡寒，頰赤唇紅，四肢無力，午後益甚，宜陰藥，四物湯、六味湯之類滋養之。灰子病者，母復有孕，兒未斷乳，漸成肌肉瘦羸，壯熱發黃，大便不調。務令斷乳，少與消導，繼以補益。更有乳母七情厚味、飲食停滯、遺兒發熱者，當兼治其母。五臟實熱虛熱，各見本臟症。凡小兒諸熱，當隨其表裡虛實，細切投之劑，不可概用大寒攻擊，反致熱退而寒起，脾胃損傷，變症百端而出，慎之。</p>
<p>食積病，盜汗少食，晝涼夜熱，治驗。（見汗症。失集）</p>
<p>潮熱，日西發搐，治驗。（見發搐門）</p>
<p><u>諸熱辨症方　</u></p>
<p>導赤散：生地　木通　甘草　竹葉　燈心</p>
<p>地骨皮散：治潮熱、虛熱、病後餘熱。人參　知母　柴胡　炙草　地骨皮　半夏　赤苓（各等分，惟減柴胡、炙草、人參）</p>
<p>竹葉石膏湯：石膏　半夏　人參　麥冬　甘草　竹葉　粳米　生薑</p>
<p>秦艽散：治漸熱減食蒸瘦。秦艽　炙甘草　薄荷　水煎溫服。</p>
<p>生犀散：地骨皮　赤芍　柴胡　乾葛　甘草　犀角</p>
<p>三黃枳樸湯：黃芩　黃連（皆酒炒）　大黃（酒煨）　枳實（火炒）　陳皮　白朮</p>
<p>各為末，薄荷水丸如麻子大，白湯下。又方加厚朴。</p>
<p>地骨飲：即地骨皮散去半夏，加鱉甲、黃芩。</p>
<p>凝神散：治小兒經汗下後，熱去復作無時，收斂胃氣肌表，神效。即四君子加山藥、扁豆、粳米、知母、生地、麥冬、竹葉、骨皮、薑、棗，煎服。</p>
<p>金沸草散：治風寒所傷，咳嗽、身重、頭痛。半夏　甘草　赤芍　荊芥　前胡　麻黃　旋覆花　姜　棗</p>
<p>加減金沸草散：治熱咳、咽喉干痛、鼻出熱氣、痰濃腥血，或帶血縷。旋覆花　前胡　甘草　荊芥　赤芍　薄荷　五味子　枇杷葉　杏仁　桑皮　貝母　茯苓　桔梗</p>
<p>黃連解毒湯：治咳而喘、面赤潮熱，脈洪大。黃連　黃芩　黃柏　梔子</p>
<p>梔子仁湯：治熱燥而咳。鬱金　枳殼　升麻　梔子仁　棗　姜</p>
<p>麥門冬湯：治火熱乘肺，咳唾有血。麥冬肉　生地　淡竹葉　半夏　桔梗　桑白皮　甘草　五味子　紫菀　麻黃</p>

<h1>二十五、不寐</h1>
<p>小兒不寐，多由胃氣不和、血氣不從所致。（《經》云：胃不和，則寤臥不安）。治宜四君子湯加遠志、棗仁。若心血不足，睡中不聞人聲忽醒而不寐者，人參安神丸。膽虛，恐怕睡中稍有響動即驚而不寐者，人參竹葉湯。肝腎虛熱，煩躁不寧，六味丸。肝火熾盛，面青多怒者，加味小柴胡湯。病後餘熱，棗仁湯。其餘夜啼，驚哭不寐，各詳本條，當參求之。</p>
<p><u>不寐治驗　</u></p>
<p>（案1）二歲，夏月傷暑，煩躁不得眠。用六一散，人牛黃少許，用竹葉、燈草煎湯送下，日兩服而愈。</p>
<p>（案2）十六歲，勤於功課，徹夜不寐，虛煩口乾，腰痛。用熟地、天冬、芡實、茯神、青鹽、杜仲、黃精、龜甲、豬脊髓，搗為丸，盡劑而愈。</p>
<p>（案3）患感症，發熱頭痛。醫重與表散，汗出極多，熱已而夜不成寐，投溫膽湯不效。易醫，謂此病後餘熱，欲進棗仁湯。予曰：汗多亡陽，陽氣暴泄，陰無所附，故煩擾而不寐。議用人參養營湯，煎與二服，頓安。</p>
<p>壯熱頭痛，鼻乾燥，不得眠，治驗。（見傷寒條）</p>
<p><u>不寐方　</u></p>
<p>酸棗仁湯：治虛勞煩熱不得眠。棗仁（四兩）　川芎（一兩）　甘草（蜜炙一兩）　茯神（二兩）　知母（二兩）　遠志（一兩）</p>
<p>建蓮粉作糊打丸。如作煎劑，均作十服。</p>

<h1>二十六、多困（即多睡）</h1>
<p>小兒多睡，皆由脾虛弱，健運之令不行，化生之功失職。治當溫補其脾，脾氣旺，則臟腑清陽之氣升舉，易於運行，何困倦之有。用四君子湯倍加白朮、木香、半夏。若脾虛好睡，則多驚。乃心血虛而火動之，宜安神養血。若心脾氣虛，則有痰，用人參、茯苓、麥冬、五味子以補心氣，當歸、棗仁、白芍以養心血，橘紅、半夏以開痰。若脾肺氣虛，胸膈有痰，宜補中湯以健脾胃，佐以膽星、半夏之類以化痰涎。若因飲食停滯而作，宜健脾消導。若乳母過飲，致兒昏睡，乾葛、陳皮解之。</p>
<p><u>多困治驗　</u></p>
<p>（案1）一兒未周歲，忽昏睡不醒，遍身如丹。審之其因，乳母醉後即乳之故。用菊花、葛花、綠豆、天花粉、陳皮煎湯，多與乳母，兒亦即湯少飲而愈。</p>
<p>（案2）甲子，有兒六歲患痧症，將發，壯熱無汗，煩渴鼻衄。至五六日，始見紅點，音啞鼻煽，終日昏昏，鼾睡而不醒（熱浮於上則陽氣煩擾而不眠，熱伏於裡則神志沉昏而不醒）。水嗆，湯藥不能下咽，甚且咬牙並搖頭，諸惡症悉具。予審其舌色紅潤，鼻流清涕，氣喘急而不致口張，痰壅而能吐出，當有生機之理。遂取甘桔、石膏、麥冬、蟬蛻、蘆根、西河柳等，淡味煎濃汁，以連翹、牛蒡、荊芥、元參、前胡、薄荷、花粉、知母、貝母，苦味將木甑蒸露，沖和藥汁，入米粉作薄荷糊，多與飲之（水嗆，得有形之物使能嚥下）。三日後始得汗，數日熱退，神清，百餘日始聲音響亮而愈。</p>
<p>（案3）病後，面目痿黃，飲食少思，怠惰嗜臥，是為脾氣虛困，用異功散加升麻、柴胡而愈。</p>
<p>（案4）一兒四歲，壯熱困睡，渴極飲水，此脾實之故，用瀉黃散一劑，熱緩渴亦減，神氣略爽。其父因熱未盡退，再進一服，昏睡不醒，不食泄瀉，指冷，蓋過劑矣。急以理中湯加茯苓、陳皮、穀芽，連服五劑，得效。自此，每用涼瀉，必諄諄相戒，稍效即止。</p>
<p>（案5）痢後，嗜臥唾痰，胸腹膨脹，飲食難化，服化痰利氣益甚。此為脾胃氣虛而飲食化痰也。朝用補中湯，夕用異功散，幾兩月而愈。</p>

<h1>二十七、喜笑</h1>
<p>《經》曰：心藏神，有餘則笑不休。又曰：火太過，為赫曦。又曰：精氣並於心則喜笑。皆言屬心火也。其人唇口赤色，可治，青黑者死。瀉心湯主之。其或腎水虧乏，不勝心火而喜笑不休、尋作不安之態者，六味丸。肝木過盛，能生心火而喜笑不休者，柴胡清肝散。余兼別症，當參治之。</p>
<p><u>喜笑治驗　</u></p>
<p>（案1）三歲，發熱躁亂，抽搐，搐過後，多喜多笑。醫泛用去風化痰，日甚。予曰：此心症也。心在志為喜，在聲為笑，用導赤散加川連，專走心經，以去其熱，頓安。繼以調養心脾而愈。</p>

<h1>二十八、啼哭</h1>
<p>哭者肺之聲，淚者肝之液。心火炎則乘肺，肺不受屈而哭，哭則肺盛而乘肝，故多淚。心火太甚則煩躁多哭，身熱面赤，宜導赤散加川連。若面青啼叫，晝夜不止者，肝熱也，宜梔子清肝散。若肝心木火相摶，宜用導赤散合清肝散。或身有痛處，體不安閒，先啼叫而後悲哭，當審治之。其有病後心神暴虛，煩悶厭倦，不生歡喜而多哭，且睡去忽驚，便啼哭不止，皆為虛象，當補益安神為主。</p>
<p><u>啼哭治驗　</u></p>
<p>晝夜啼哭不止，莫辨其故。予俟其飲乳時，乘小兒之不覺，以手按其胸腹，按至當臍，忽大叫，內有硬塊，如雞子大。予曰：此寒氣鬱聚，痰涎凝結而成塊，心腹刺痛而為啼叫也。用大順散去杏仁加半夏，以甘緩之，以辛散之，補其虛，通其滯，漸愈。</p>
<p><u>啼哭方　</u></p>
<p>煎方大順散：杏仁　甘草（炙）　炒乾姜　肉桂心</p>
<p>心熱，啼哭不止，治驗。（見色症合參條，失）</p>
<p>夏月，發斑躁亂，啼叫，治驗。（見暑門）</p>
<p>忽然大叫，曲腰而啼，治驗。（見腹痛門）</p>
<p>胃口當心痛，啼叫悶絕，治驗。（見暑門）</p>
<p>生下數日，啼哭不已，治驗。（見夜啼門）</p>
<p>啼叫不已，其體傴僂，面青唇黑，手足並冷，治驗。（見盤腸氣。失集）</p>
<p>不時大叫大哭，心中痛甚，且強直，口噤不語，治驗。（見癇症。失集）</p>
<p>夜臥，忽然大叫啼哭，治驗。（見夜啼）</p>
<p>叫啼不已，驗其卵腫囊丸冷硬，作積寒疝症，治驗。（見疝症）</p>
<p>忽然撲身啼哭叫，兩目直視，治驗。（見目直條）</p>

<h1>二十九、傷寒</h1>
<p>小兒傷寒與大人無異，所異者挾驚挾食耳。寒邪自外入內，由皮毛經脈而臟腑。初起在太陽經，脈浮而緊，發熱惡寒，無汗頭項痛，腰脊強，太陽之脈（連風府、貫腰脊），嚏噴凌振，五指稍冷，蔥白湯加減（外雖發熱，里永燥渴，不可聚驟與苦寒）。過此則少陽陽明二經，在半表半裡之間。外候在陽明，則熱多寒少，頭額連眉骨痛，鼻乾不得眠（其脈挾鼻絡與目），脈洪而長，葛根湯加減。在少陽，則寒熱往來，胸脅痛而耳聾（其脈循脅絡與耳），嘔逆口苦（邪初入里，邪正分爭，故作嘔逆），脈弦數，小柴胡湯加減。少陽陽明俱病，柴胡湯加葛根、芍藥（若外不惡寒而里燥熱者，須即用芩連之類以清解之）。三陽不已，傳入三陰，症見腹滿而咽乾，則別為太陰（其脈布胃中絡於嗌）。口燥舌乾而渴，則別之少陰（其脈貫腎絡於肺系舌本），舌卷囊縮，煩滿腹堅痛，則別為厥陰（其脈循陰器絡於肝）。其實總是陽明胃府裡實之症，邪犯八府，脈必沉實洪數有力。外候大熱譫語，轉則身輕，掀衣擲被，六七日不大便，宜大小調胃三承氣湯，量輕重加減下之（下宜遲不宜早。七日後小腹滿硬，按之痛，時失氣，方可議下，否則變害不測，慎之）。如表症未除，里症又急，當大柴胡湯雙解之。若下早，邪乘虛入，成結胸者，胸高氣粗，按之則痛，小陷胸湯（小兒無大結胸症，故不及）。若但痞滿而不痛者，為痞氣，用瀉心湯。有汗下後表症已解，邪熱在裡，心胸煩渴，欲飲水者，人參白虎湯。夾驚症，或先驚而復感寒邪，或先傷於寒而復受驚搐，以致熱極生風，發抽搐，呵欠煩悶，面紅痰嗽，山根準頭有青色，宜先解表，次與鎮驚，或煎薄荷湯送下抱龍丸。若傷寒熱邪乘心，生風生驚者，黃連湯。夾食症，或先傷食而復感寒邪，或先受寒而復有停津滯，以致發熱頭疼，胸滿之痛，噯氣酸臭，時或嘔逆，嗞煎不乳，目胞微浮，治當解表而兼消導。如表邪已解而里結未除，宜下之，大柴胡湯（舌有醬色苔，可驗。）直中陰症傷寒，初起便不發熱，身靜而重，頭不痛，語言無力，難以布息，目睛不明，口鼻柔冷，水漿不入，大小便不禁，面上惡寒如刀刺，宜先用蔥熨法，內服四逆湯。亦有陽症未傳入里，誤服涼藥，或過飲冷水而變為陰病者，宜轉用溫中湯為主。傷寒新痊，或過與食物，脾弱不運，餘邪與穀氣相併而為食復，枳實梔子皮湯。或腠理未密，不慎風寒而為頭痛發熱者，風復也，宜輕劑疏解外邪，兼扶元氣。大凡傷寒治法，在表則汗之，在中則和之，在裡則下之，煩躁則清之，寒冷則溫之，稟弱人或久病後邪未盡則調之，邪去本虛則補之。治若少差，變端百出，不可不謹。</p>
<p><u>傷寒治驗　</u></p>
<p>（案1）兒二歲，發熱無汗，眉皺多啼，是頭痛喜藏其身於母懷內，是惡寒。遂用芎蘇散加減之，得汗，邪散而退。</p>
<p>（案2）五歲，發熱煩渴，時作嘔逆，與竹茹、花粉、黃芩、薄荷、丹皮、蘆根等以清解之。二劑而安。</p>
<p>（案3）患頭痛，壯熱渴甚且嘔，鼻乾燥，不得眠。醫知為陽明症，用葛根湯不效。仲淳曰：葛根湯，固陽明表劑，但其渴嘔，乃胃中火邪熾甚，氣逆上升，葛根升散，非宜也。改用石膏竹葉湯解肌，熱退而安。或謂嘔家不用半夏，何也？先生曰：半夏有三禁：渴家、汗家、血家是也。病人渴甚，乃陽明熱邪熾盛，劫其津液所致。邪火上升故嘔，半夏辛溫而燥，可妄進乎？</p>
<p>（案4）患熱病衄血，醫用犀角地黃湯加麥冬、知母。予曰：邪在陽明，原因失於解散，陰血為邪熱所侵，以致妄行於上。方中宜去芍藥，加葛根、荊芥、茅根、花粉，以清解表裡。服之果血止熱解而愈。</p>
<p>（案5）發熱氣粗，胸膈按之痛，往來寒熱，左脅結滿，症在少陽陽明，用小柴胡去人參、甘草，加川連、瓜蔞、枳實、鬱金，二服取效，繼以清調胃氣收功。</p>
<p>（案6）病熱六七日，下痢不止。以慮其瀉脫，將投固劑。診之，六脈洪數有力，煩滿燥渴。予曰：此協熱自利也。用黃芩湯加枳實、川連，二劑熱少退，痢亦止，繼以輕清調理而愈。</p>
<p>（案7）發熱頭痛五六日，忽見紅疹。醫用犀角升麻等藥不效。豈知斑與疹表裡各別，斑為陽明火毒，疹為太陰風熱。乃黃芩、薄荷、防風、甘草、桔梗、蟬蛻，服之斑疹安退。</p>
<p>（案8）十二歲，終日少睡，手足指冷，便下如清水。或作陰症治，勢益劇。診之，脈雖沉而有力，口燥唇焦，按腹痛甚。予曰：多睡者神昏也。四肢逆冷，熱深厥亦深也。便下清水，熱結旁流也。信用小承氣湯，一劑下之而熱勢頓減，繼輕清調理而愈。</p>
<p>（案9）始痛寒熱，醫表散之，不效；加消導，熱不止；更用下法，便通而病益劇。診之，脈弦數，面赤唇焦，熱渴引飲，視其舌，則燥極色黑。予曰：此本少陽症，因藥用攻劫，變成肝腎陰虛之敗症也。急用滋腎清肝之劑，連服得安，直至數日後，陰液漸充，得汗便通而痊。</p>
<p>（案10）十二歲，秋初時發熱不已，胸膈痞悶，汗出欲飲水，時或嘔逆。此陽明半表半裡症。遂用豆豉、滑石、川連、山梔、半夏、橘紅，一劑頓見熱退而痞悶除（如無嘔惡等症，則用葛根以開健陽明之陽）。繼再一劑，去豆豉加竹葉、麥冬，津生而煩渴亦解。須識傷寒半表半裡症，則為少陽，若熱多寒少，或單熱不寒，唇乾口燥，喜飲湯水，脈洪大者，則為陽明脈症，最宜參辨。</p>
<p>（案11）酷熱傷寒，大熱無汗，身形拘束，治驗。（見暑門）</p>
<p>（案12）季秋，肺受寒邪，痰喘胸高，治驗。（見喘條。失集）</p>
<p>（案13）發熱抽搐，症在太陽，治驗。（見急驚條）</p>
<p>（案14）感症陰虧，燥渴便閉，治驗。（見慢驚條）</p>
<p>（案15）感症，熱退後心神煩擾，起臥不安，時欲作嘔，治驗。（見煩躁門）</p>
<p><u>傷寒不治症　</u></p>
<p>直視搖頭不語，為心絕，不治。唇吻反青，四肢漐習，為肝絕，不治。環口黑黧，柔汗發黃，即冷汗，為脾絕，不治。汗出如雨，發潤如油，喘而不休，為肺絕，不治。溲便遺失，狂言，目反，直視，為腎絕，不治。譫語狂煩，脈沉細，不治（陽症得陰脈也）。額汗而喘，小便頻利，不治（陽氣上逆，陰氣下流，故不治）。尋衣摸床不治（惟大便閉而脈實者，是為實熱犯里，攻之間或有生）。頭重視身，天柱骨倒，不治。兩眼常閉不開，不治。口如魚口，唇顫搖不止，不治。氣出不返，不治。叉手冒心，不治。兩足不可屈伸，不治。汗大出不至足，不治。大便如死血甚黑，或食藥直下，不治。遺尿不知者，不治（裡熱甚而昏迷，下之神氣清者，或可救）。屢汗屢下，病不減，不治。汗下後，躁亂身熱者，不治。陰症汗冷如冰，四肢及小腹厥冷，不治。陰症口噤，不治（陰症亦多死）。胃虛臟寒，發噦不止，不治。呃從丹田而氣海而起，不治。</p>
<p><u>傷寒方　</u></p>
<p>蔥白湯：溫散太陽風邪。蔥白　羌活　防風　豆豉　杏仁　生薑</p>
<p>葛根湯：葛根　黃芩　桂枝　甘草　白芍　生薑</p>
<p>大柴胡湯：治傷寒少陽症、瘧疾、痰實嘔吐。柴胡　黃芩　半夏　甘草　陳皮　枳實　姜</p>
<p>大承氣：枳實　厚朴　大黃　芒硝</p>
<p>小承氣：大黃　枳實　厚朴　生薑</p>
<p>調胃承氣：大黃．芒硝　炙甘草</p>
<p>石膏湯：治傷寒汗吐下後熱結在裡，心煩欲飲水（即白虎湯）。煨石膏　知母　甘草　粳米　加人參名人參白虎湯。</p>
<p>竹葉石膏湯：人參　麥冬　半夏　甘草　生薑　粳米</p>
<p>治暑煩熱渴脈虛。</p>
<p>涼膈散：治諸熱留積。為末每服二分入蜜後煎。連翹　山梔　薄荷　黃芩　大黃　甘草　朴硝</p>
<p>小柴胡湯：柴胡　半夏　黃芩　甘草　陳皮</p>
<p>天麻湯：治受驚復感寒邪。天麻　橘紅　薄荷　鉤藤　羌活　防風　甘草　姜</p>
<p>黃連湯：治傷寒邪熱乘心，熱極生風見驚狀。川連　山梔　柴胡　鉤藤　大生地　木通　茯神　甘草　燈心　竹葉</p>
<p>柴葛湯：柴胡　葛根　枳實　厚朴　陳皮　甘草　黃芩　防風</p>
<p>流水煎。</p>
<p>小陷胸湯：瓜蔞　半夏　枳實　川連</p>
<p>葛根湯：蔥白　麻黃　葛根　赤芍　豆豉</p>
<p>桂枝加葛根湯：桂枝　葛根　赤芍　甘草　或加防己、羌活亦可。</p>
<p>瓜蔞湯：治小結胸症。川連　半夏　瓜蔞　流水煎。</p>
<p>四逆湯：附子　甘草　乾薑</p>
<p>枳實梔子豉湯：淡豆豉　枳實　黑山梔</p>
<p>龍膽瀉肝湯：龍膽草　澤瀉　車前子　木通　生地　當歸　山梔　黃芩　甘草</p>
<p>四物湯：川芎　當歸　白芍　熟地</p>
<p>平氣散：陳皮（去白五錢）　大黃（五錢）　青皮（三錢）　雞心檳榔（三錢）　白牽牛（半生半熟、取頭末，一兩）</p>
<p>二因玉鑰匙：治風熱喉閉。又方加雄黃（二錢），名全鑰匙。焰硝（一錢五分）　硼砂（五分）　薄荷（一字）　白殭蠶（二錢）</p>
<p>小柴胡湯：半夏　黃芩　甘草　陳皮</p>
<p>大柴胡湯：即小柴胡湯加大黃。</p>

<h1>三十、角弓反張</h1>
<p>《經》云：風從上受。足太陽主周身之氣。其脈起於目內眥而行於背。小兒肌膚未密，外邪易侵，症見身反強直，發熱而不搐，治宜小續命湯及人參羌活散之類加減。有因暴怒掣動於肝火，發搐，面青，忽腰反張者，宜瀉青丸、山梔散之類加減，痰盛加抱龍丸。若服前藥，其症益甚，此邪氣去而脾氣虛也，宜異功散加芎歸補之。若因下而脾氣困憊，肚腹膨脹者，中氣虛損也，宜白朮散補之。若氣血素弱，或服攻伐之劑而手尋衣領，咬牙呵欠，肝經火甚也，急用地黃丸之。</p>
<p><u>角弓反張治驗　</u></p>
<p>（案1）忽然腰背反張，目上視，面青赤。青屬肝，主風；赤屬心，主火。此風與火相摶，用柴胡梔子散，倍加鉤藤，頓安。而痰如舊，又服抱龍丸愈。</p>
<p>（案2）忽腰反張，服治驚藥後，不時舉發。面色黃白，肢體甚倦，用異功十餘劑愈。後因驚兼飲食不節，復前。隨用前藥即安。平時更與溫補元氣，始愈。</p>
<p><u>角弓反張方　</u></p>
<p>黑地黃丸：補氣益胃之劑。</p>
<p>蒼朮（一斤，土炒。米泔水浸洗曬乾，飯上蒸三次，以多為妙）　熟地黃（一斤，煮、搗）　五味子（八兩，蒸、焙）　乾薑（切炒。秋冬一兩，夏間五錢，春間七錢）</p>
<p>除熟地為末，將地黃煮爛打和為丸</p>
<p>雙和湯：治虛勞養血氣。白芍　熟地　黃耆　當歸　川芎　肉桂　炙草</p>

<h1>三十一、睡中驚動</h1>
<p>睡中驚動，多由心腎不足（心主血與神，腎主精與恐）。蓋人之精氣，寤則行於目，寐則棲於腎。今心腎虛，不能寧攝精神，故睡中為之驚跳。治當大補心腎為主。有專以心血不足，神不守舍者，養心湯。有為驚嚇而作者，因擊動其肝，故魂不安也（肝藏血與魂），抱龍丸之類。若木火太過，心神不寧者，導赤散（實則瀉子）。風熱相摶者，柴胡梔散。食鬱生痰，驚動不安者，用四君以健脾，神麯半夏以化痰，山梔芍藥以清熱。</p>
<p><u>睡中驚動治驗　</u></p>
<p>（案1）一兒夜睡，忽然驚動如搐，大便臭及色青。此飲食傷脾而肝旺也，服調脾平肝而愈。</p>
<p>（案2）不時睡中驚動發搐，作渴飲冷，左腮青，額間赤，用柴胡清肝散加鉤藤，四劑，以治肝火而安。繼以健脾補腎而病全安。</p>
<p>（案3）讀書勤於功課，發驚盜汗，治驗。（見汗門。失集）</p>
<p>溫肺湯：治上焦虛寒，咳嗽，嘔吐涎沫。陳皮　半夏　肉桂　乾薑　白芍　杏仁　五味　細辛　甘草</p>

<h1>三十二、脫肛</h1>
<p>脫肛，多因瀉痢氣陷而成。其色赤而痛者，補中湯送下香連丸。血痢後，佐以四物湯加丹皮。若不赤，不甚痛，體倦少食，但用升補，或兼收澀。亦有不必因乎瀉痢者，皆由肺氣虛寒。蓋肺與大腸為表裡，肺實則肛藏，肺虛則肛脫也。治宜溫脾肺，使土金相生，參苓白朮散加減，多服乃效。有痘後遍生瘡，如常洗浴者，裡虛而脫，日漸羸瘦者，以清熱解毒為主，外用蓖麻子，研貼頂心。</p>
<p><u>脫肛治驗　</u></p>
<p>（案1）十四歲，大便燥澀，努力脫肛，肛門焦痛，時或血下。用玄明粉、當歸、杏仁、桔梗、甘草、升麻，一劑痛減，便順。遂去玄明粉加白芍、黃柏，再劑而安。</p>
<p>（案2）三歲，時大便出血，忽患脫肛，色赤而腫。審知其乳母嗜酒，且喜食辛辣之物。遂用四物湯加黃連、黃柏、升麻（即隱合清散，）子母並服而愈。</p>
<p>（案3）痢後脫肛，食少，面青黃，服克滯之藥，腹痛膨脹，倦怠作嘔，漸且結重墜，四肢浮腫。立齋云：此土虛木侮之症也。至於腹脹重墜，氣更下陷矣。用異功散加木香，四劑而手足轉冷，更加乾薑，脹墜諸症漸安。後復傷食，作瀉、脫肛，同補中湯，加木香及異功散，愈。</p>
<p>（案4）脫肛半載，清晨便泄，兩目白多黑少，服升補脾氣藥，不應。蓋以腎開竅於二陰，前症乃腎虛症也。用四神、六味二丸加減，間以補中湯，兩月而痊。</p>
<p><u>脫肛方　</u></p>
<p>逍遙散：治血虛小便不禁勞傷五心發熱。茯苓　白朮　當歸　白芍　柴胡　甘草</p>
<p>又方：加薄荷、丹皮、陳皮、山梔，即加味逍遙散。</p>
<p>溫膽湯：半夏　竹茹　會紅　甘草　茯苓</p>
<p>保和丸：治食積，此方主之。</p>
<p>山楂　半夏　吉橘　人曲　麥芽　茯苓　連翹　萊菔子（即蘿蔔子）　黃連</p>
<p>左金湯：平肝氣肝火、吐酸水，使金合左行則肝木有制也。</p>
<p>黃連　吳茱萸（泡淡）</p>
<p>玉屏風散：香薷　砂仁　半夏　杏仁　人參　甘草　赤苓　扁豆</p>
<p>六和湯：厚朴　木瓜　防風　黃耆　白朮　老薑</p>
<p>和中丸：開胃進食。</p>
<p>人參　白朮　陳皮　甘草　乾薑　木瓜　</p>
<p>王隱君滾痰丸：一切痰，百種怪症，為痰家之聖藥。</p>
<p>大黃（蒸少頃取出，不可過）　黃芩（各八兩）　青礞石（硝煅如金色）　沉香　百藥（各五錢）</p>
<p>上為末，水丸如梧子大，白湯送下，空心服。用藥多寡小大，酌量用之，非獨小兒，冠夫婦女亦可服也。</p>

<h1>三十三、肛門作癢</h1>
<p>肛門癢，多因嗜食甘肥，大腸濕熱壅滯而成，每兼遍身瘡疥，體瘦發熱，宜四味肥兒丸及蘆薈丸之類，或更濕毒生蟲，蟲食肛門。多兼齒根無色，舌上盡白，上下唇生瘡，宜先與化蟲丸，次與健脾清熱。若餂肛透內者，不治。</p>
<p><u>肛門作癢治驗　</u></p>
<p>（案1）肛門連陰囊作癢，出水淋漓，症屬肝經濕熱，用龍膽瀉肝兼蘆薈丸，愈。</p>
<p>（案2）肛門作癢，無他症，屬大腸經風熱所致。用刺蝟皮（炙）、槐花、荊芥、當歸、皂角仁、白芷、枳殼、黃芩等，為末，水調服，數日止。</p>
<p>（案3）素喜食高粱甘味，多生瘡疥，當與清胃，以治濕熱，並禁厚味，不從。外用敷藥，更肛門作癢，發熱瘡益甚，體削少食，用蘆薈丸、五味異功散，加升麻尋愈。</p>

<h1>三十四、咬牙</h1>
<p>咬牙一症，系水虧火炎之象，而所致之經不同。若兼發熱飲水，叫哭而搐者，心經實熱也。睡臥驚悸，心虛熱也。兼面青目札，項強頓悶，肝經實熱也。尋衣捻物，肝虛熱也。發搐目青面赤，心肝風熱也。煩悶喘促，甚於申酉時者，肺經熱也。盜汗作渴，甚於亥子時者，腎經熱也。眼目畏明，無睛光，或解顱下竄，胎稟怯弱也。飲水口中氣熱，胃中實熱也。飲湯口中氣冷，胃經虛熱也。發搐呵欠面青，脾虛生驚也。亦有乳母膏粱厚味，致兒為患者，須認症精切，用藥庶幾無誤。</p>
<p><u>咬牙治驗　</u></p>
<p>（案1）病後不語，睡中咬牙，驚悸作渴，困倦少食，用化痰鎮驚，益甚。此心脾腎虛症也。以六味丸為主，及秘旨安神丸，間服而愈。</p>
<p>（案2）女，十四歲，發熱作渴，經水先期，睡中咬牙。此肝脾二經有熱，用加味逍遙散得安。後因怒，前症復作。用柴胡梔子散而瘥。</p>
<p>（案3）睡中咬牙，審知其母大怒。用小柴胡加梔子、丹皮，母子並服而愈。</p>
<p><u>咬牙方　</u></p>
<p>秘旨安神丸：人參　茯神　半夏　橘紅　棗仁　歸身（酒炒）　炙草　赤芍　五味子</p>
<p>為末，用薑汁糊丸，芡實大，薑湯送下一錢，大小增減。</p>
<p>柴胡梔子散：即梔子清肝散。</p>
<p>川芎　當歸　柴胡　山梔　牛蒡子　甘草　茯苓　丹皮　赤芍</p>
<p>桔梗湯：桔梗　半夏　橘紅　楮實子</p>
<p>導痰湯：半夏　南星　枳實　赤苓　橘紅　甘草</p>
<p>青礞石丸：即滾痰丸。</p>
<p>礞石　天南星　茯苓（各五錢）　半夏（七錢五分）　風化硝（二錢）</p>
