<header data-type="book">
<h1>考正周身穴法歌</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>廖潤鴻</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1874">公元1874年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫用針灸，由來久矣。嘗見痼疾沉疴、藥力所不能愈者，得針灸而奏效獨奇。自穴道難明，業醫者憚於窮究，遂藉口泄氣，極力詆訶，俾患者視為畏途，致令《內經·素問》心法終於就湮，可慨也。今歲夏，偶遇明師以《針灸大成》相示，因取而讀之，漸覺豁然有得。竊以為下手用功處，在熟穴法，熟極則巧自生。而余性健忘，深慮旋得旋失，因將原書考正穴法，韻以五言，用當記誦，並遵御纂《醫宗金鑑》參互考究，正其訛舛，且近取諸身，時當尋按，至忘寢食。更覺胸有把握，益信古人救世深心，金針度盡，特患不甚研求耳。余自維留京五載，年已四十，文章無靈，終不能進蓬瀛一步。雖平日於天文、算學、地學，以及卜筮、壬遁、星命諸學，時深探討，究無補於斯世，獨得此一端，可以衛生，並可以濟人。殆所謂思之思之，鬼神通之者耶！歌既成，將銅人圖按法縮繪小幅，以便案頭搜討。坊友饒君松圃，謂是可益初學，樂為梓行，附諸《針灸大成》之後，因記其爰起如此。</p>
<p><u>同治十三年甲戌冬十月湖南淥江廖潤鴻逵賓氏敘于都門琉璃廠有真樂齋寄廬</u></p>

<h1>手太陰肺經</h1>
<p>手太陰肺經，膺（胸前兩旁高處也）間中府（一名膺俞）起，雲門下寸六（下一寸六分，以後言寸幾者仿此），乳上三肋里（肋，虛則切，肋之單條骨。）脈應手陷中，胸旁六寸取（去胸中行，旁開六寸也。以後言旁幾寸者仿此），手足太陰會，肺膜結於此（原文膜作募）。</p>
<p>雲門巨骨（即膺上肩下之大骨，大腸經之巨骨穴，因此得名）下，氣戶旁二寸，去胸中旁行，以六寸為定，陷中有動脈，舉臂（音秘，自肩至肘曰臑，自肘至腕曰臂。又為上身兩大肢之通稱）取之應。</p>
<p>天府腋（音澤，左右脅之間也）下三，謂三寸也，以後言單數者仿此）動脈應手間，肘腕（胳膊中節上下骨交接處為肘，音帚。其能宛屈為腕，音宛）上五寸，鼻尖點墨參（以墨塗鼻尖，舉臂轉頭向鼻，墨點到處是穴。）</p>
<p>府後為俠白，去肘五寸測，亦在動脈中，肘腕即尺澤，屈肘橫紋理，筋骨中陷缺，手太陰合水，肺實便當瀉。</p>
<p>孔最腕（手腕也）上七，側取斯為的。列缺腕（亦手腕）側上，一寸五分畢，兩手交叉取，食指盡處立（以患人大指、食指交叉虎口中，食指盡處是穴也，食指即第二指），兩筋骨罅（呼訝切，音嚇，裂也，孔罅也）中，通任脈最密。</p>
<p>經渠寸口取，動脈復陷中，手太陰經金，勿灸令神蒙。</p>
<p>太淵（一名大泉）掌後取，內側橫紋頭，諸脈所會地（脈會太淵），寅時氣血流，肺虛須用補，輸土動脈求（穴在動脈中）。</p>
<p>大指本節（指之後節曰）本節後，魚際（以形象魚得名）白肉際，陷中散脈中，肺經滎火地。</p>
<p>大指之內側（指向胸者曰內），去爪角韭葉，少商肺井木，喉閉微出血。</p>

<h1>手陽明大腸經</h1>
<p>手陽明大腸，井金起商陽（一名絕陽），食指之內側，爪角韭葉詳。本節前二間（一名間谷），節後三間（一名少谷）藏，均內側陷中，滎水輸木鄉。</p>
<p>合谷在虎口，此穴透勞宮，大腸脈之原，歧骨間陷中（骨兩叉者曰歧）。</p>
<p>居腕（臂掌之交曰腕）中上側，陽谿（一名中魁）兩筋通，張大指次指，其穴即陷中，手陽明經火，以次偏歷逢，腕中後三寸，絡脈走太陰（大腸經絡脈，別走肺經。）</p>
<p>溫溜（一名逆注，一名池頭）在腕後，上側六寸間（遵《醫宗金鑑》改正）。下廉輔骨下，銳肉分處看。溫溜上二寸五分，再寸上廉觀，再寸手三里，肉起銳肉端。</p>
<p>上二寸曲池，以手拱胸取，屈肘橫紋頭，合土定於此。</p>
<p>肘髎（音聊）依大骨，外廉（骨際曰廉）陷中處。五里行向里，大脈中央際，離肘上三寸，卻是禁針地。</p>
<p>臂臑（音導）肘上七（肩髃下一寸），恰在膕（音國，膕曲腳中也。在肩之腳，故云膕）肉端，兩筋兩骨罅，宛宛陷中央，脈與陽維會，及手足太陽，手陽明之絡，伸臂平手看。</p>
<p>肩髃（音虞，一名中肩井，一名偏肩）膊（音博，肩膊也）骨頭，恰在肩端上，舉臂即有空，兩骨罅間看。</p>
<p>巨骨肩尖上，兩叉骨罅間，陽蹺脈相會，與肩髃同參。</p>
<p>天鼎缺盆上，扶空後一寸，扶突（一名水穴）氣舍上，一寸五分正，在頸當曲頰（頰者，耳前顴側兩旁之稱。曲頰者，頰骨曲如環形，受頰車骨尾之鉤者也），下一寸為定，人迎後寸半，仰取穴莫遁。</p>
<p>禾髎（一名長顣，又名禾窌）鼻孔下，俠水溝之旁，恰好離五分，陽明氣發皇（大腸經氣所發。）</p>
<p>迎香穴禁灸，手足陽明會，上禾髎一寸，鼻旁五分外，若求內迎香，鼻孔通臭味。</p>

<h1>足陽明胃經</h1>
<p>足陽明胃經，其穴頭維起，本神旁寸五，額角（髮際之下，兩眉之上曰額，兩旁骨稜起者曰額角）髮際取，又去神庭旁，四寸五分擬。下關在耳前，動脈下廉里（骨際曰廉），合口即有空，開口則閉矣，足陽明少陽，二脈會於此。</p>
<p>頰車（下牙床骨起處）在耳下（八分），開口便有空，令人側臥取，曲頰端陷中。</p>
<p>承泣目胞下（胞者，外衛之胞也），直瞳子陷中，陽蹺與任脈，一一會其宮，其病目翳綠，禁灸亦禁針。</p>
<p>四白在目下，一寸直瞳子，針刺僅三分，反是目烏矣。</p>
<p>巨髎鼻孔旁，八分直瞳子（平水溝），手足陽明經，陽蹺脈會此。</p>
<p>口吻（音汶，口邊也）四分外，近下脈微動。亦三脈所會，地倉穴甚重。</p>
<p>曲頷（胡感切，口含物之車也。曲頷者，耳下頸上之曲骨處）前寸二，骨陷中動脈，口下當兩肩，此是大迎穴。</p>
<p>頸大脈應手，結喉旁寸五，仰取見人迎（一名五會），會足少陽部（結喉者，喉之管頭，人瘦者多見。）</p>
<p>頸大筋之前，正直人迎下。其穴名水突（一名水門），又下為氣舍，貼骨尖陷中，外旁缺盆（一名天蓋）大，肩前橫骨中，狀如盆在架。</p>
<p>氣戶巨骨下，俞府旁二寸（亦在雲門旁二寸），戶下一寸六，庫房穴莫遁。房下寸六分，屋翳更可症。屋下再寸六，好把膺窗認。其穴各陷中，去中各四寸，均須仰取之，四穴於斯定。</p>
<p>乳中乳之中，微刺卻禁灸。乳根下寸六，去中四寸有。</p>
<p>不容更承滿，梁門復關門，太乙滑肉門，均一寸相承，去中各三寸，六穴得其真（自不容至滑肉門，《醫宗金鑑》均去中旁開二寸。）</p>
<p>天樞（一名長溪，一名谷門）大腸膜，去肓俞一寸，俠臍之兩旁，二寸陷中論。</p>
<p>外陵天樞下，大巨繼外陵，各直下一寸，去中二寸行。</p>
<p>水道巨下三，再二寸歸來，去中各二寸，下一又氣街（原名氣衝），宛宛動脈應，殆衝脈起哉（《素問》：刺中脈，血不出，為腫鼠璞。東垣：吐血多，不愈，以三稜針於氣街出血，立愈。）</p>
<p>髀關伏兔後，正值交紋中。伏免（按捺上有肉起，如伏兔之狀，故名）在膝上，六寸肉起隆，取穴正跪坐，三指按捺工。</p>
<p>陰肺（一名陰鼎）拜揖取，伏兔下陷中，膝之上三寸，禁灸伏兔同。</p>
<p>梁邱在膝上，二寸兩筋間。犢鼻（狀如牛鼻，故名）形陷中，膝眼當兩旁，微刺莫輕縱，出液足便傷《素問》：刺出液為跛）。</p>
<p>三里膝眼下，三寸大筋旁，胻骨（俗名臁脛骨，其骨兩根。在前者，形粗，膝外突出之骨也。在後者名輔骨，形細，膝內側之小骨也。此則指形粗，膝外之骨而言）之外側，胃脈合土參。</p>
<p>再三寸上廉（一名上巨虛），兩筋骨罅中。再二寸條口，舉足取之同。</p>
<p>下廉（一名下巨虛）條口下，一寸兩筋骨，罅中如何取，蹲地舉足得。</p>
<p>外踝（踝者，胻骨之下，足跗之上，兩旁突出之高骨也。在外者為外踝，在內者為內踝）上八寸，胻骨外陷中，豐隆胃之絡，別走太陰宮。</p>
<p>解谿居腕（腳掌骨交接，能宛屈處也）上，衝陽後寸五，陷中系鞋處，次指直上取，所行為經火，胃虛宜用補。</p>
<p>衝陽跗上（腳背也）五，去陷谷二寸，骨間有動脈，胃脈之原徑。</p>
<p>陷谷次指外，本節後陷中，去內庭二寸，胃脈輸木逢。</p>
<p>內庭次指外，本節歧骨會，其穴形陷中，陽明滎水界。</p>
<p>去爪甲韭葉，指端為厲兌，井金胃脈終，實則瀉無害。</p>

<h1>足太陰脾經</h1>
<p>足太陰脾經，大指之內側，井木隱白起，去爪角韭葉。</p>
<p>大指次節末（遵《金鑑》改正），內側而陷中，大都在骨縫，赤白肉際逢，脾脈滎火地，虛以補為功。</p>
<p>足大指內側，太白內踝（見足陽明胃經注）前，核骨（本節骨隆起如核）下陷中，輸土在是焉。</p>
<p>大指本節後，一寸是公孫，內踝前絡脈（足太陰之絡），別走足陽明，又交通衝脈，合於胃胸心。</p>
<p>足內踝骨下，微前而陷中，前封（中封也）後照海，其中商邱逢，經金系此穴，脾實瀉為功。</p>
<p>內踝上三寸，夾骨陷中真，足三陰所會，三陰交斯名（瀉三陰交，補合谷，能下胎。瀉合谷，補三陰交，能安胎。妊婦慎之。</p>
<p>內踝上六寸，夾胻骨（注見陽明胃經內，此則指膝內側之骨而言）陷中，其穴名漏谷（一名太陰絡），以次地機（一名脾舍）逢，在膝下五寸，內側輔骨（見足陽明胃經注）隆，郄脈伸足取，夾骨下有空。</p>
<p>曲膝橫紋頭，內側輔骨下，陰陵泉陷中，伸屈可取也，與陽陵泉對，稍高一寸者，足太陰合水，內外莫相假（陽陵泉在外。陰陵泉在內。）</p>
<p>膝臏（膝上蓋骨也）上一寸，內廉白肉際，血海穴陷中，再上箕門閉，陰股（足之大腿陰股者，向內面之股也）起筋間，動脈應手細，難禁手重按，恰在魚腹地。</p>
<p>再上即衝門（一名上慈宮），府舍下一寸，橫骨之兩端，約紋動脈應，去腹中橫行，四寸五分定。</p>
<p>上一寸府舍（《金鑑》：從衝門上行七分），會厥陰陰維，三脈絡脾肝，更與心肺依。上二寸腹結（一名腸窟。《金鑑》：從府舍上行三寸），寸三大橫依，太陰陰維會，再上腹哀隨，相去三寸五，穴亦會陰維，各去腹中行，四寸五分微（《金鑑》：自衝門至腹哀，均上腹中行旁開三寸半。）</p>
<p>食竇舉臂取，天溪下寸六，天溪穴陷中，再上胸鄉續，旋有周榮繼，各離六寸促，均仰取去胸，旁行六寸足。</p>
<p>大包在腋下，六寸九肋間（又在洲液下三寸），為脾脈大絡，總諸絡陰陽，由脾灌五臟，足太陰穴完。）</p>

<h1>手少陰心經</h1>
<p>手少陰心經，極泉臂內探，有動脈入胸，在腋下筋間。青靈舉臂取，細看肘上三。</p>
<p>少海（一名曲節）肘內廉，節後大骨外，肘後端五分，屈肘向頭蓋，手太陰合水，禁灸得安泰。</p>
<p>靈道居掌後，寸半屬經金。通里腕側外，腕後寸陷中（原文掌後一寸陷中，未實指何處，今遵《金鑑》改正），手少陰之絡，別走小腸經。陰郄動脈應，掌腕後五分。</p>
<p>掌後銳骨端，陷中是神門，轉手令骨開，得穴始為真，手少陰輸土，實則瀉之云。</p>
<p>小指本節末，外側骨縫中（原文系本節後骨縫陷中，似與後谿穴相混，今從《金鑑》改正），陷中少府穴，心經滎火紅。</p>
<p>小指之內側，去爪角韭葉，並木虛則補，視此少衝（一名經始）穴。</p>

<h1>手太陽小腸經</h1>
<p>手太陽小腸，小指外側端，爪角下一分，少澤（一名小吉）井金鄉。</p>
<p>手小指外側，本節前陷中，小腸脈滎水，穴在前谷通。</p>
<p>後谿通督脈（合於目內眥及頸項、耳、肩膊、小腸、膀胱），亦小指外側，本節後陷中，橫紋握拳得（在橫紋尖上），手太陽輸木，虛以補為訣。</p>
<p>腕骨手外側，腕前起骨下，小腸脈之原，罅縫陷中也。</p>
<p>陽谷手外側，腕下銳骨下，小腸脈經火，亦是陷中者。</p>
<p>手踝骨前上（掌後兩大骨名手踝骨），陷中名養老（腕後一寸）。支正手外廉，腕後五寸考，手太陽絡脈，別走心經好。</p>
<p>肘外大骨外，去肘端五分，屈肘向頭取，陷中小海真，小腸脈合土，實則瀉之云。</p>
<p>肩貞曲胛下（胛者。即髃骨之末，成片骨也。亦名肩膊，俗名鍁板子骨。所謂髃骨者，肩端之骨也。大腸經肩髃穴在此，即肩胛骨臼頭之上稜骨也。其臼接臑骨上端，俗曰肩頭。其外曲捲翅骨，肩後之稜骨也，其下稜骨在背肉內），在兩骨解間（肩端之骨節解處也）。肩髃後陷中，以次臑俞探。</p>
<p>臑俞俠肩髃，其後大骨下（臑者，肩膊下內側對腋處高起耎白肉也，自肩至肘皆曰臑），胛上廉陷中，舉臂可取也，與陽維陽蹺，三脈所會者。</p>
<p>天宗秉風后，大骨下陷中，秉風天髎外（又在曲垣之後），舉臂即有空，肩上小髃後，四脈所會同，手太陽陽明，手足少陽通。</p>
<p>曲垣肩中央，在曲胛陷中，按之應手痛．痛處穴難蒙。</p>
<p>肩外俞陷中，肩胛上廉取，去脊傍幾何，只在三寸裡。</p>
<p>再上肩中俞，在肩胛內廉，去大椎二寸（原文去脊二寸，今遵《金鑑》改正，較顯明），陷中亦復然。</p>
<p>頸之大筋前（原文大筋間，今依《金鑑》改正），恰在曲頰下，天窗（一名窗籠）穴陷中，動脈應手者。</p>
<p>耳下曲頰後，其穴即天容。顴髎（音聊，又通作窌，故窌深空處也）頄骨下（頄，音求，䪼內鼻旁間，近生門牙之骨也。䪼，音拙，目下之眶骨、顴骨內下連上牙床者也。顴音權，面兩旁之高起大骨也。總之，目眶上骨眉稜骨，下即䪼骨，䪼骨之外即顴骨。䪼骨、顴骨之間。近生門牙者曰頄骨），銳骨端陷中，手太少陽會，以次為聽宮（一名多所聞），耳中之珠子，有如小豆紅，會手足少陽，手太陽穴終。</p>

<h1>足太陽膀胱經</h1>
<p>足太陽膀胱，晴明（一名淚孔）穴始章，內眥（音次，眼角也，近鼻者曰內，近鬃者曰外）外一分，會者手太陽，足陽明陰蹺，陽蹺脈同商（可刺一分半，禁灸。）</p>
<p>攢竹（一名始光。一名員柱，一名光明）針宜瀉治（治目疾，用細三稜，針刺之以瀉熱氣），兩眉頭陷中。再直眉頭上，二穴名眉沖，神庭曲差間，禁灸攢竹同。</p>
<p>曲差入髮際，神庭旁寸五。五處上星旁，一寸半為伍。直行離五分，二穴相接武。寸五上承光，通天絡卻（一名強陽，一名腦蓋）起，三穴去中行，橫直寸五取（以上遵《金鑑》校正。）</p>
<p>玉枕絡卻後，直下寸半間，俠腦戶之旁，卻是一寸三，起肉枕骨上，髮際二寸探。</p>
<p>天柱俠項後，髮際大筋外（項，戶讓切，頭後也），陷中頭部終，以下言肩背。</p>
<p>一椎下陷中，骨會於大抒，手足太少陽，督脈別絡與。二椎下風門（一名熱府），肺俞三椎伍（刺中肺，三日死，其動為咳），均正坐取之，去脊（音積，俗名背梁骨，共二十一椎）旁寸五。肺俞穴更明，引繩宜對乳，或搭手取之，左手取右部，右手取左穴。中指末為主。</p>
<p>厥陰（一名厥俞）與心俞（刺中心，一日死，其動為噫），督俞膈俞場（刺中膈，一歲內必死），四（厥陰）五（心俞）六（督俞）七（膈俞）椎，其下之兩旁，去脊各寸半，血會膈俞方。</p>
<p>肝俞（刺中肝，五日死，其動為欠）九椎下，膽俞（刺中膽，一日半死，其動為嘔。十椎量，脾俞（刺中脾，十日半死，其動為吞）十一椎，胃俞（十二詳，十三椎三焦俞，均在下兩旁，去脊各寸半，正坐取之良。</p>
<p>腎俞（刺中腎，六日死，其動為嚏）與臍平，十四椎下定，再有氣海俞，十五椎下問，去脊各寸半，坐取均且正。</p>
<p>大腸（十六椎下）關元（十七椎下）俞，十六七下旁。十八□□下，小腸（十八）與膀胱，去脊亦寸半，伏取好參詳。</p>
<p>二十椎中膂（一名脊內俞），伏地肉伸起，白環（俞）廿一椎，挺身伏地取，兩手重支額，縱息皮緩里，均去脊寸半，俞穴終於此（自大杼至白環俞，《醫宗金鑑》均云去脊中二寸。《針灸大成》則云去脊一寸五分。蓋《金鑑》自背脊之中量起，《大成》自脊旁量起。蓋人身背脊骨寬一寸，自脊中分半，則有五分，合一寸五分計之，則適足二寸也。今依《大成》原文。）</p>
<p>上髎第一空，腰髃下一寸（腰髁骨者，十四椎下，十五、十六椎間，尻上之骨也。尻骨者，腰髁骨下，十七椎至二十一椎，五節之骨也，上四節紋之旁，左右務四孔，即上、次、中、下各髎穴），足太少陽絡，二空次髎間，三空是中髎，下髎四空定，均俠脊陷中，一一穴可證。</p>
<p>會陽（一名利機）在陰尾，尻（考，平聲，脊骨盡處）骨之兩旁，僅離五分許（遵《金鑑》），其穴俠長強。</p>
<p>附分二椎下，項內廉兩旁，魄戶三椎下，亦在兩旁看，去脊各三寸，正坐取宜詳。</p>
<p>四椎下一分，五椎上二分，去脊各三寸，四肋三間明，正坐屈脊取，更教兩手伸，以臂著膝前，大指與膝平，再以物支肘，毋令搖動頻，如病人側臥，挽著上臂尋，識得膏肓俞，多灸疴起沉，更刺足三里，引火氣下行。</p>
<p>神堂五椎下，兩旁陷中里，六椎下兩旁，令人呼譩譆，以手重按之，譩譆應手矣，去脊旁三寸，均須正坐取。</p>
<p>七椎下膈關，十椎下陽綱，去脊旁三寸，正坐開肩看（均陷中）。</p>
<p>魂門九椎下，兩旁形陷中，意舍十一椎，十二胃倉封，去脊旁二寸，取宜正坐恭。</p>
<p>十三椎肓門，十四椎志室，陷中正坐取，脊旁三寸值。</p>
<p>胞肓十九椎，二十椎秩邊，去脊旁三寸，陷中伏取焉（自附分至秩邊各穴，《金鑑》均云去脊中三寸半，《大成》言去脊三寸，蓋《金鑑》自脊中量起，大成自脊外量起故也。今依一大成。原文。）</p>
<p>承扶（一名肉郄，一名陰關，一名皮部）尻臀（尻旁大肉也，即坐橙處）下，股上約紋中。浮郄下二寸，殷門門可封（《金鑑》作從殷門外循斜上一寸是浮郄，則是浮郄斜下一寸是殷門也。今依原文以備考。）</p>
<p>浮郄屈膝得，下寸委陽確，出膕中外廉，兩筋間裡托，承扶下六寸，認取勿疑惑，三焦下輔俞，足太陽別絡。</p>
<p>委中（一名血郄）膕（音國，腿彎也）中央，約紋動脈里（由屈曲而見紋者，曰約紋），膀胱脈合土，面挺扶臥取。</p>
<p>約紋下三寸，此穴名合陽，承筋（一名腨腸，一名直腸）穴陷中，腨腸（音舛長，俗名小腿肚）之中央，腳跟上七寸，禁針恐筋傷。</p>
<p>承山（一名魚腹，一名肉柱，一名腸山，因形似魚腹故名）腨腸下，分肉間陷中，兩手托壁上，兩足離地空，足大指堅起，審取穴難蒙。</p>
<p>飛揚（一名厥揚）足外踝，骨之上七寸，足太陽絡脈，別走少陰定。</p>
<p>外踝上三寸，附陽（足太陽前，少陽後，故名）筋骨間，陽蹺脈之郄，足太少陽參。</p>
<p>崑崙足外踝，離後有五分，陷中細脈動，跟骨（足後根之骨也）上邊尋，足太陽經火，側下僕參（一名安邪）名，陷中跟骨下，陽蹺脈本根。</p>
<p>申脈（一名陽蹺）通陽蹺（合於自內眥、頸、耳、肩膊、小腸、膀胱），外踝下五分，容爪白肉際，穴前後有筋，上踝下軟骨，其穴在中停。</p>
<p>金門（一名梁關）外踝下，申脈一寸前，足太陽之郄，陽維別屬焉。</p>
<p>京骨足外側，小指本節後，大骨下陷中，赤白肉相湊，膀胱脈之原，虛實拔為妙。</p>
<p>束骨足小指，本節後外側，赤白肉陷中，輸本實則瀉。</p>
<p>足小指外側。通谷滎水脈，本節前陷中，以次至陰列，井金虛則補，離爪角韭葉。</p>

<h1>足少陰腎經</h1>
<p>足少陰腎經，湧泉（一名地衝）起足心，屈足復卷指，宛宛中處尋，腎脈屬井木，實則瀉之云。</p>
<p>然谷（一名龍淵）內踝前，大骨下陷中，別於太陰郄（與隙同，言脈之隙也），少陰滎火紅</p>
<p>太谿（一名呂細）足內踝，其後有五分，陷中跟骨上，動脈定死生，足少陰輸土，牙痛必須針。</p>
<p>大鐘足後踵（音腫，腳底板也），骨上兩筋中，足少陰之絡，別走太陰宮。</p>
<p>水泉少陰郄，太谿下寸深，照海通陰蹺（合於肺系、咽喉、胸膈），內踝下四分，上踝下軟骨，前後二筋尋。</p>
<p>復溜（一名昌陽，一名伏白）足內踝，其上二寸明，筋骨陷中是，腎虛補經金，交信陰蹺郄，亦上二寸憑，傍骨是復溜，傍筋交信真，二穴分前後，只隔一條筋。</p>
<p>築賓內踝上，遠在腨分中（小腿肚之分槽處也），陰維脈之郄，最上陰谷臨，膝內輔骨後，屈膝求其真，恰在大筋下，小筋以上云，按之應手得，腎經合土敦。</p>
<p>橫骨在陰上，宛曲如仰月，可灸不可針，上一寸大赫（一名陰維，一名陰關），氣穴（一名胞門，一名子戶）與四滿（一名髓府），中注肓俞列，上下各一寸，腹中寸為則（去腹中行各一寸）。又云旁寸五，錄此備考測。衝脈足少陰，所會已六穴。</p>
<p>商曲與石關，陰都（一名食宮）並通谷，幽門穴陷中，均離一寸足，去腹中旁行，一寸五分屬（《銅人》：五分。素注：一寸），少陰衝脈會，五穴又連續。</p>
<p>步郎神封續，靈墟神藏通，直離一寸六，旁行二寸逢，仰取陷中是，再寸六彧中。</p>
<p>俞府氣舍下，璇璣旁二寸，陷中仰取之，腎經穴已盡。</p>

<h1>手厥陰心包絡經</h1>
<p>手厥陰心包，穴起天池（一名天會）高，腋下有三寸，乳後一寸遙，著脅復直腋，撅肋間相遭。（脅者，腋下至肋骨盡處之統名。腑者，肩之下、脅之上際。肋者，脅之單條骨也。撅，音厥，手有所把也。手有所把，則乳後之肋動也，故曰撅肋）。手足少陽會，與足厥陰交。</p>
<p>天泉繞腋起，外循臂（此是肘以上之臂）內廉，下行有二寸，舉臂可取焉（原文大混，遵《金鑑》改正。）</p>
<p>肘內廉陷中，曲澤為合水，大筋之內側，橫紋動脈是。</p>
<p>郄門在掌後，去腕五寸逢（心包絡之郄，故名郄門），去掌後三寸，其中間使通，心包絡經金，兩筋間陷中。</p>
<p>內關在掌後，去腕二寸探，與外關相抵，正在兩筋間，手厥陰之絡，別走少陽參，又通陰維脈，合胃胸心間。</p>
<p>掌後骨橫紋，兩筋間大陵，陷中屬輸土，實則瀉之云。</p>
<p>勞宮（一名五里，一名掌中）掌中央（可透合谷），可以屈指取，中指四指間，動脈在其里，心包絡滎火，再後中衝起，在手中指端，去爪韭葉比，心包絡井木，虛則補之矣。</p>

<h1>手少陽三焦經</h1>
<p>手少陽三焦，關衝脈之苗，四指之外側，爪角韭葉飄，廿三穴所起，井金理孔昭。</p>
<p>小指與四指，歧骨間陷中，液門握拳取，三焦滎水通。</p>
<p>液門上一寸，陷中是中渚，手少陽輸木，三焦虛則補。</p>
<p>陽池（一名別陽）穴陷中，四指直上取，手背腕中心，與大陵相抵（可針透抵大陵，可破皮，不可搖手），手少陽之原，虛實拔之矣。</p>
<p>外關在腕後，二寸兩骨分，手少陽之絡，別走手厥陰，又通陽維脈（合於目銳眥、耳後、頰、頸肩），與內關對針。</p>
<p>支溝（一名飛虎）外關後，上一寸可憑，兩骨間陷中，手少陽之經。</p>
<p>會宗並支溝（會宗與支溝均在腕後三寸），實外開一寸，支溝一寸上，三陽絡（一名通門）可證（以手三陽三脈同行也。故名），臂上大交脈，二穴針休進。</p>
<p>四瀆肘前五，陷中外廉測，天井在肘上，大骨後寸列，兩筋叉骨罅，屈肘拱胸得，或叉手按膝，合土實則瀉。</p>
<p>肘上二寸際，即是清冷淵，伸肘舉臂取，消濼更繼焉，肩下臂外處，肘上分肉間（遵《金鑑》校正。）</p>
<p>臑會（一名臑交）肩前廉，去肩端三寸，少陽陽維會，宛宛中處問。</p>
<p>肩髎斜舉臂，肩端髎陷中，天髎缺盆內，陷處上有空，在起肉上認，刺陷處便凶（傷臟氣，令人卒死），手足少陽會，陽維亦會同。</p>
<p>頸之大筋外，天牖不宜灸（灸即令人面腫眼合），正當完骨下，髮際上可數，恰值天柱前，又在天容後。</p>
<p>翳風在耳後，尖角陷中巧，按之耳中痛，更令患人咬（以銅錢二十文，令患人咬之），手足少陽會，尋取穴了了。</p>
<p>瘈脈（一名資脈）耳本後，雞足青絡脈（刺出血，如豆汗），顱息在耳後，亦青絡脈測，兩穴針一分，不得多出血（血多殺人）。</p>
<p>角孫耳廓（耳上輪也）間，開口便有空，手足少陽會，手太陽亦同。手足少陽脈，發自絲竹空（一名目髎），眉後陷中處，勿灸令目朦。</p>
<p>耳前銳發下（即鬢腳也），橫動脈和髎，手足少陽會，手太陽相遭。</p>
<p>耳前起肉處，陷中當耳缺，耳門原禁灸，三焦終此穴。</p>

<h1>足少陽膽經</h1>
<p>足少陽膽經，瞳子髎（一名太陽，一名前關）穴起，目外眥五分，去目幾何矣，與手少陽會，手太陽同此。</p>
<p>耳前起骨上，動脈宛宛中，此穴名聽會，上寸主人（即客主人，一名上關）翁，均張口可取，開口同一空（以《金鑑》參校更明晰。）</p>
<p>頷厭曲周下，顳顬（鬢骨也）上廉胎（針七分止，刺深令人耳聾），懸顱在中廉（亦針七分止，不可刺深），懸釐下廉排，均手足少陽，陽明同會哉。</p>
<p>曲鬢（一名曲發）居耳上，髮際曲隅中，鼓頷有空是，再上率谷逢，入髮際寸半，嚼齒宛有空，入耳後髮際，二寸為天衝，浮白亦耳後，髮際一寸容，足少陽太陽，四穴皆會同。</p>
<p>竅陰名枕骨，完骨上邊尋，穴在枕骨下，搖動有空憑，手足少陽會，手太陽亦臨。</p>
<p>完骨在耳後，入髮際四分，足少陽太陽，均會於此云。</p>
<p>本神直耳上，曲差旁寸五（神庭旁三寸），入髮際四分，陽維同會此。</p>
<p>陽白在眉上，一寸直瞳人，手足少陽會，並手足陽明，陽維同會此，臨泣目上尋，令人正睛取，入髮際五分（陷中），足少陽太陽，陽維所會云。</p>
<p>目窗臨泣後，半寸穴可憑（《金鑑》，作一寸），又看目窗後，寸半即正營（《金鑑》作一寸），承靈正營後，亦一寸五分，腦空陷中處，玉枕骨邊停（俠玉枕骨下），離承靈寸半，頭風向此針，風池腦空下，髮際陷中尋，在大筋外廉，按之引耳深。均手足少陽，陽維所會云。</p>
<p>肩井（一名膊井）缺盆上，大骨前寸半，以三指著肩，中指往後按，足陽明陽維，手足少陽伴，四經均會此，脈連入五臟。</p>
<p>淵液（一名泉液）舉臂得，腋下三寸測（不宜灸），復前行一寸，即是輒筋（一名神光，一名膽膜）穴，橫直蔽骨旁，七寸五分列，又平直兩乳，其端在三肋，問君如何取，側臥上足屈。足太少陽會，又為膽之膜，乳下二肋端，五分後日月，足太陰少陽，陽維會其側。</p>
<p>京門（一名氣俞，一名氣府）腎之膜，監骨下腰中（監骨俟考。即《醫宗金鑑》周身名位骨度篇，亦未言及。令以各穴分寸按之，當是腰間上下之骨為監骨也），季肋（脅下各小肋骨也，俗名軟肋。脅者，腋下至肋骨盡處之總名，故又名季脅）本俠脊（凡骨之隆起，皆曰脊。俠脊，俠肋之脊也），以後帶脈逢，季肋下寸八，臍上二分蹤，旁開七寸半（《金鑑》作八寸十），陷中處不蒙，足少陽帶脈，二脈所會同。</p>
<p>帶脈下三寸，穴又為五樞，恰當水道旁，五寸五分居。維道章門下，五寸三分余。足少陽帶脈，亦會於此歟。</p>
<p>居髎章門下，八寸有三分（在維道下三寸），監骨上陷中（此穴又云監骨上，可見監骨是腰間上下之骨），陽蹺會此經。</p>
<p>環跳髀樞中（髀者，膝上之大骨也。上端如杵，接於臀內之大骨處，如樞紐然，故稱髀樞），側臥屈足取，下足任其伸，搖撼宛曲是，三指叉髀樞，指在筋骨里，筋應大指甲，大骨下邊止，已刺不可搖，怕令針傷毀，足少陽太陽，均會於此矣此（此穴為治足不能起立者要穴，可針至二寸許，復生先生取之最精，因用其口傳。）</p>
<p>風市在膝上，外廉兩筋中，本人手著腿，中指盡處攻。</p>
<p>中瀆居膝上，五寸外廉尋，陷中分肉處，絡脈走厥陰。</p>
<p>陽關（一名陽陵）犢鼻外，膝上二寸關，宜針不宜灸，陷中處好探，在膝下一寸，陽陵泉可參，外廉尖骨前，陷中筋骨間，合土筋所會（足少陽之合土，筋會陽陵泉），蹲坐取無難。</p>
<p>陽交（一名別陽，一名足窌）陽維郄（窌，音寥），足外踝上七，三陽分肉間，外邱亦並，外邱卻外斜，少陽所生的。</p>
<p>外踝上五寸，隱隱放光明，是足少陽絡，又別走厥陽。</p>
<p>外踝上四寸，絕骨端內斜。恰針三分許，輔骨前是他，去邱墟七寸，陽輔（一名分肉）穴不差，足少陽經火。膽實瀉之耶。</p>
<p>懸鐘（一名絕骨）足外踝，上三寸可憑，其中有動脈，摸著骨尖真（骨尖，是骨上入肉不見處。以手重按，動脈在隱約之間），足三陽大絡，髓會於此經（髓會絕骨）。</p>
<p>邱墟外踝下，更斜前陷中，恰在骨縫裡，臨泣三寸通（去臨泣三寸），足少陽之原，虛實拔為功。</p>
<p>足小指四指，本節後陷中（在足跗間。跗，足背也），去俠谿寸五，臨泣此間逢，足少陽輸木，又與帶脈通（合於目銳眥、耳後、頰、肩）。臨泣五分下，地五會之蹤（禁灸）。</p>
<p>俠谿小四指，陷中歧骨間，本節前滎水，膽實瀉宜參。</p>
<p>竅陰膽經畢，四指之外側，足少陽井金，去爪角韭葉。</p>

<h1>足厥陰肝經</h1>
<p>足厥陰肝經，穴起於大敦，大指端外側，去爪韭葉尋，恰在聚毛際，井木初向榮《（大成》原文；足大指端三毛中。《金鑑》作足大指端外側聚毛中，是因《玉龍歌》而改正也，今從之）。</p>
<p>大指本節前，上下皆有筋，前後有小骨，動脈陷中尋，行間滎火地，肝實瀉之云。</p>
<p>太衝足大指，本節後二寸（在足跗間），動脈決生死，陷中輸上論。</p>
<p>中封（一名懸泉）足內踝，骨前一寸尋，筋里宛宛中，足厥陰經金。</p>
<p>蠡溝（一名交儀）肝之絡，別走足少陽，內踝上五寸，上七中都（一名中郄）詳，穴在胻骨中，直足少陰鄉。膝關犢鼻下，陷中二寸旁。</p>
<p>曲泉膝骨上，內側輔骨下，大小筋中間（大筋上，小筋下），屈膝可取者，正在橫紋頭，合水虛補也。陰包膝上四，股內兩筋間，卷足看內側，中有槽可觀。</p>
<p>氣衝下三寸，陰股動脈應，五里又陰廉，上一寸為定（陰廉在氣衝下二寸，五里上一寸）。</p>
<p>急脈傍陰器，去中二寸半，按之隱指堅，極按痛下上，足厥陰大絡（為睪丸之系睪丸者，腎丸也，針灸均莫亂（《大成》，無此穴，遵《金鑑》補之）。</p>
<p>章門（一名長平，一名脅髎）大橫外，直季脅肋端，臍上有二寸，兩旁六寸看。側臥肘尖盡，盡處穴已詳，脾膜臟所會（臟會章門），又會足少陽。</p>
<p>期門肝之膜，直乳二肋端，乳旁一寸半（在不容穴旁，亦一寸半），直下寸五看，足厥陰太陰，陰維會此方。</p>

<h1>任脈經穴</h1>
<p>任脈廿四穴，胸腹中綱紀。會陰（一名屏翳）兩陰間（在腎囊之下，有縫通肛門。陰器與肛門為兩陰也），任督沖所起，督由此行背，任由行腹裡，沖行足少陰，針刺治溺水（溺死者，令人倒拖出水，針以補法行之，尿屎出則活），非是切莫針，此地關生死。</p>
<p>曲骨橫骨中，臍下（五寸）毛際逢，陷中動脈應，與足厥陰通（會肝經）。上一寸中極（一名玉泉，一名氣原），臍下四寸窮，為膀胱之膜，足三陰會同。</p>
<p>關元小腸膜，臍下三寸憑，與足三陰會，上一寸石門（一名利機，一名精露，一名丹田，一名命門），石門三焦膜，臍下二寸真。</p>
<p>臍下一寸五，氣海（一名脖胦，一名下肓）宛宛中，上五分陰交（臍下一寸），會少陰及沖，當膀胱上際，三焦膜所逢。</p>
<p>神閥（一名氣舍）居臍內，上一寸水分（一名分水），當小腸下口，泌別濁與清，入膀胱大腸（水液入膀胱，渣滓入大腸），二穴皆禁針。</p>
<p>又一寸下脘，臍上二寸憑，穴當胃下口，小腸上口承，水穀從此入，脈會足太陰。</p>
<p>建里臍上三，中脘（一名大會）臍上四，六腑所會地，腑病宜治此（腑會中脘），手太陽少陽，足陽明同會，又為胃之膜，胃虛引導是。</p>
<p>上脘（一名胃脘）臍上五，絡脾而屬胃（中脘亦然），在脈足陽明，手太陽同會。</p>
<p>上一寸巨闕，心膜在此也，再一寸鳩尾（一名尾翳，一名𩩲骭，𩩲骭者，胸之眾骨也。因眾骨止此，故名），居兩歧骨下，骨垂鳩尾形，針灸莫輕者（僅可針三分，大妙手方針，不然，針取氣多，令人夭）。</p>
<p>中庭膻中下，一寸六陷中，橫量兩乳間，膻中（一名元見）針莫攻，足太陰少陰，手太少陽同（四脈之會）。</p>
<p>上寸六玉堂（一名玉英），又寸六紫宮，再寸六華蓋，一寸璇璣蹤，陷中仰面取，針下三分窮。</p>
<p>天突（一名天瞿）結喉下（在璇璣上一寸），兩缺盆之中，下針莫低手，直下始為功（針五分，若低手而下傷人）。</p>
<p>廉泉（一名舌本）結喉上，中央是其蹤，陰維任脈會，低針一分通。</p>
<p>承漿（一名懸漿）唇稜下，陷中開口取，與太陽胃督，各脈會於此。</p>

<h1>督脈經穴</h1>
<p>督脈廿八穴，走背腦中心。長強（一名氣之陰郄，一名厥骨）尾閭下，骨端計三分，是督脈之絡，別走任脈云，足少陰陽會，治痔之本根。</p>
<p>腰俞（一名背解，一名體孔，一名腰柱，一名腦戶）廿一椎，其下宛宛中，挺身伏地臥，兩手支額重，又令四體縱，穴乃不能蒙。</p>
<p>陽關十六椎，坐取莫倚斜，十四椎命門（一名屬累），懸樞十三耶，均須伏而取，椎下莫教差。</p>
<p>脊中（一名神宗，一名脊俞）十一椎，中樞十椎下（遵《金鑑》增入），筋縮（九椎）與至陽，（七椎）九椎七椎惹，靈臺伏六椎，神道五椎也，身柱隱三椎，陶道一椎者。足太陽督脈，相會陶道野，均須仰取之，各在椎下里，脊中灸漫施（灸之令人腰傴僂），靈臺針莫把。</p>
<p>大椎一椎上，陷者宛宛中，手足三陽會，百勞名亦同。啞門（一名舌厭，一名舌橫，一名喑門）項中央，入髮際五分，督脈陽維會，卻系舌之根，此穴不可灸，灸則啞無音。</p>
<p>風府（一名舌本）髮際寸，疾言肉立起，大筋內宛宛，言休立下矣，足太陽陽維，與督脈會此，是穴亦禁灸，繼後腦戶（一名合顱）峙，在枕骨上邊，足太陽會是，灸亦令人啞，針灸俱無取。</p>
<p>上寸半強間（一名大羽），又寸半後頂（一名交沖），百會居頂中（一名三陽，一名五會，一名顛上，一名天滿），亦離寸半定，旋毛可容豆，與兩耳尖並。會手足三陽，穴能治百病。</p>
<p>繼此為前頂，亦離一寸五，骨間微陷中，顖會（顖，音信，同囟，頭會，腦蓋頂門也。子在母胎，諸竅尚閉，惟臍內氣，囟為之通。生則竅開，口鼻納氣，尾閭泄氣，囟乃漸合，陰陽升降之道也。離前頂寸半）又接武，至八歲以後，方可針分許（八歲以前不可針，緣小兒囟門未合，刺之傷骨）。</p>
<p>上星（一名神堂）入髮際。一寸穴容豆。神庭僅五分，直鼻上相湊，此穴亦禁針，傷目發狂謬，與足太陽會，目翳針微透（在鼻柱上端）。</p>
<p>素髎穴禁灸，在鼻端準頭，鼻孔下陷中，穴又名水溝（一名人中），手足陽明會，又與腎脈交。</p>
<p>兌端唇上端，齘交在唇內，齒上齦縫中，足陽明任會（齘音銀，齒本也，齦亦音銀，齒根肉）。</p>

<h1>衝脈帶脈陽蹺陰蹺陽維陰維分寄各穴</h1>
<p>衝脈起橫骨，大赫並氣穴，四滿與中注，肓俞商曲列，石關陰都地，通谷幽門徹，乃散入胸腹，與腎經同測。</p>
<p>帶脈起季脅，五樞維道側，能回身一周，附在膽經穴。</p>
<p>陽蹺起膀胱，申脈僕參鄉，循外踝上行，其郄在附陽。會膽經居髎，又附於大腸，肩髃及巨骨，二穴可參詳。小腸經臑俞，胃經之地倉，巨髎與承泣，膀胱睛明鄉。</p>
<p>陰蹺起腎經，然骨照海深，再通交信穴，終膀胱睛明。</p>
<p>陽維陽之維，膀胱金門起，走膽經陽交，小腸臑俞際，三焦臑會場，天髎亦其地，膽經穴最多，肩井陽白位，本神與臨泣，目窗正營繼，承靈並腦空，風池日月系。又附於督脈，風府瘂門閉。</p>
<p>陰維起築賓，先附於腎經，脾經之腹哀，大橫府舍尋，肝經期門地，又與任脈親，天突廉泉位，一十二穴真（以上六脈各穴在諸經中已有位置、分寸，茲不復贅）。</p>

<h1>經外奇穴</h1>
<p>經外有奇穴，鼻孔內迎香（值大腸經，近胃經、督脈），鼻準穴何在，鼻柱尖上藏（值督脈）。耳尖耳之尖（值三焦經，近膽經。三焦脈出耳上角，膽脈下從耳後人耳中），卷耳取其端。聚泉在舌上，正當舌中央（值脾經，通心經），吐舌直有縫，陷中是其方。金津與玉液，在舌下兩旁，捲舌見紫脈，海泉舌下看（三穴值脾經，通腎經。脾脈連舌本，散舌下，腎脈俠舌本）。魚腰眉中間（沿皮向兩旁取之，近膽經。故人膽氣壯，則眉上豎也），眉後是太陽（近三焦經、膽經），陷中紫脈上，紐領脈始揚。</p>
<p>大骨空二穴，手大指中節（近肺經），中魁中指背，在第二節側（近心包經），陷中當骨尖，均屈指可得。</p>
<p>五指歧骨間，八邪按次列，大都虎口上，赤白肉際歇（近大腸經），食指中指叉，上都在本節（近心包絡經），均須握拳取，更以中都測，中指無名指，本節歧骨隙（近心包絡經），下都在何處，四指小指得，本節歧骨後，一名中渚穴（值三焦經），左右手各四，一一俱淮的。</p>
<p>八風在足上，五指歧骨間（大指、次指歧骨間，近肝經，膽經，以近肝經行間穴，而膽經支脈循大指歧骨內出也。次指、中指歧骨間，近胃經內庭穴。中指、四指歧骨間，近胃經，以胃脈之支，別入中指外間也。小指、四指歧骨間，近膽經俠谿穴）。十宣手指頭，去爪一分看（大指頭近肺經穴，次指頭近大腸經穴，又近心胞絡、肺經，以二經之支脈，出次指端也。中指頭近心包絡經穴，四指頭近三焦經穴，小指頭近心經、小腸經穴）。</p>
<p>肘尖肘尖上，屈肘可得之（值三焦經，近小腸經、心經）。肩柱骨何在，肩端骨尖余（近三焦經、小腸經）。</p>
<p>二百在掌後，橫紋上四寸（即郄門穴，屬心包絡經），筋內兩筋間，間使後寸定，一穴在筋外，與筋內穴並（共有四穴，左右各二）。</p>
<p>獨陰足二指，指下橫紋里（近胃經）。外踝骨尖，均是立穴地（內踝尖值肝經、脾經、在踝前，腎經在踝後。外踝尖，膽經在前，膀胱經在後夾之）。</p>
<p>鬼眼在手足，當大指內側（手大指值肺經，足大指值脾經），兩指歧縫界，去爪角韭葉。（手足各二穴，以兩手大指用帛縛之，當歧縫處盡穴，治五癇。當發疾時灸之甚效，足穴亦然）。</p>
<p>髖骨在膝上，梁邱兩旁按，即從梁邱穴，兩旁各寸半（每足二穴，左近膽經，右近肝經）。</p>
<p>中泉手背腕，陽谿陽池畔，穴在溪池間，陷中容易看（內近大腸經，外近三焦經）。</p>
<p>四關在何處，合谷（大腸經）太衝（經肝）是。小指二節尖，小骨空在此（近心經、小腸經）。</p>
<p>印堂穴何在，兩眉中陷中（近膀胱經、值督脈）。子宮中極旁，各開三寸逢（前胃經，後肝經，夾之）。</p>
<p>龍元兩手側，腕叉紫脈上（近肺經，禁針）。四縫手四指，其內中節看。</p>
<p>高骨在掌後，寸部前五分（近肺經、大腸經）。蘭門離曲泉，兩旁三寸真（近肝經）。</p>
<p>百蟲窠二穴，其實即血海（值脾經）。陰囊囊底穴，十字紋中在（值督脈）。</p>
<p>睛中在眼中，黑珠正中取，此穴冶內障，後學莫輕試。</p>
<p>總之人周身，寸寸皆是穴。下針莫狐疑，但開筋與骨，遇著隔凝處，傍針是真訣。疼痛無定處，細審自能得，善針信左手，法先在爪切。不痛無他巧，要分開血脈，右手徐徐下，深淺用耳測，驚針手即止，心與針管攝。刺榮勿傷衛，刺衛榮休賊。既宜辨經絡，又須明補瀉。部分天人地，迎隨別順逆，陽九陰六數，道與河洛葉。指頭左右轉，導引在呼吸，進水似水涼，進火似火熱。青龍擺尾樣，白虎搖頭格，或交戰升降，為宣通關節。住痛手漫捻，左九右六別，泄則遲按摩，補則急捫塞。手法難盡言，粗心人便拙，補瀉倘不明，平針最穩協。候氣至沉緊，氣松方出得，下急便傷氣，出猛便傷血。前後面不同，深淺當明白，前面似井深，後面薄餅隔，背穴須淺刺，應聲手便歇，令患人仰臥，方刺腹上穴，以手重揉按，肚腸離兩側，胸膺與腹殊，亦在淺刺列。頭面少深刺，艾灸毋多設，手足有淺深，認準筋骨隙。貴賤既攸殊，肥瘦尤相越，太淺病麻除，太深氣恐泄。審穴須相時，時哉弗可失，春夏須淺取，秋冬可深測。飢渴醉飽人，暴雨狂風刻，喜怒男女交，行路未休息，凡此須緩刺，令人心惻惻。前賢良法多，後學貴採擇，果能通神妙，百倍於藥為，作此便誦讀，細密與君說，記得穴道清，下手方有則。</p>

<h1>人身尺寸歌</h1>
<p>人身有尺寸，先將頭部說，前後至髮際，折作十二節，為一尺二寸，寸分准此測。髮際倘不明，眉心直上行，量至大椎上，一尺八無零（生人髮際高低不一，不若徑從大椎量至眉心為妥）。橫寸如何取，內外兩眥明，內角至外角，恰好一寸憑。（從目胞下陷中處，外眥內量至內眥紅肉止，方與中指中節兩橫紋頭同身寸相合。若從內外兩眥盡處量之，則恰合兩橫紋頭外之中節長短也）。神庭至曲差，曲差至本字申，再至頭維穴，各一寸半臨，自神庭合計，四寸五分真。</p>
<p>背部廿一椎，通共作三尺，大椎至尾骨，三尺軀所積。一寸四分一，上七椎每節，共九寸八分七，（釐）每椎亦不窄。一寸六分一，中七椎相隔，一尺一寸二（分）七（釐），分釐共審的。一寸二分六，下七椎各得，共八寸八（分）二（釐），直行均可測。第二行俠脊，各一寸半長，內並脊一寸，四寸分兩旁。第三行俠脊，各三寸分疆，內並脊一寸，七寸兩旁看。</p>
<p>膺腹部分寸，原用對乳間，橫折作八寸，前後穴可探（以中指同身寸量之，則左右至乳尖內旁，共得八寸）。若直寸取穴，先准看天突（在結喉下、兩缺盆之中）。天突至膻中（兩乳之間陷中處），六寸八分足，下行至中庭，又是一寸六。共作八寸四，又看歧骨際，直下至臍心，原是八寸地，臍心至曲骨，五寸當毛聚，手足如何定，中指同身寸，背部之橫行，亦用此為信。總之人周身，同身寸為則，男左女右手，中指第二節，中指與大指，相交如環屈，兩橫紋之尖，橫離一寸測。身形有長短，據此為準的，但能明此理，分寸無差失。</p>

<h1>跋</h1>
<p>余患拘攣，至不能俯仰將十年。癸酉十月朔，遇聶復生先生於濟寧行針灸，灸十餘，歷針逾二百，期年如常人。綜其治法，不外《針灸大成》一書。察其運用，手與神會，以視以聽，若有獨得。正如運斤成風，堊去而鼻不傷。規規於古法求之，亦有不盡然者，身受其益，莫能悉其妙。殆亦聖則力而智則巧耶！噫，治法必人而興。針，危器也。刺，危道也。病，危機也。危機，而以危器行危道，求安於危，蓋亦難矣。故用之當，效捷影響。一不當，呼吸間廢且死，禍於將來。幸耳無惑乎！針法之失傳久也，非聶先生之仁明廉慎，其孰能神於斯？《成》書具在，人得習之，原聶先生非其人毋傳也。偶讀《針灸大成》，書其後。</p>
<p><u>同治甲戌冬月上浣瀋陽裕麟識於京邸酌愚昧淡之軒</u></p>
