<header data-type="book">
<h1>銀海精微</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>孫思邈</dd></div>
<div><dt>朝代</dt><dd>唐</dd></div>
<div><dt>年份</dt><dd><data value="0682">公元682年</data></dd></div>
<div><dt>底本</dt><dd>明刊本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=edb92f3dd859455f9941f93ff682ae24fDkwODAxOQ2&SourceID=1">國家圖書館掃描本</a>）；《欽定四庫全書·子部五·醫家類·銀海精微》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0014/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>夫眼者，乃五臟之精華，如日月麗天，昭明而不可掩者也。其首尾赤眥屬心，其滿眼白睛屬肺，其烏睛圓大屬肝，其上下肉胞屬脾，而中間一點黑瞳如漆者，腎實主之，是隨五臟各有症應。然論其所主，則瞳子之關係重焉，何以言之？目者肝之外候也。肝取木，腎取水，水能生木，子肝母腎，焉有子母而能相離者哉！故肝腎之氣充則精彩光明，肝腎之氣乏則昏朦眩暈。烏輪赤暈，刺痛浮腫，此肝熱也。眼生清淚，枯黃繞睛，此肝虛也。瞳仁開大，淡白偏斜，此腎虛也；瞳仁焦小，或帶微黃，此腎熱也；一虛一實，以此驗之。然人肝腎之氣相依而行，孰知心者神之舍，又所以為肝腎之副焉！所謂一而二，二而一者也。何則？心主血，肝藏血，血能生熱，凡熱沖發於眼，皆當清心涼肝，又不可固執其水生木之說。特眼者，輕膜裹水，照徹四方，溯源返本，非天一之水，又果孰為主宰乎？折而論之，則拘急牽颼，瞳青胞白，癢而清淚，不赤不痛，是謂之風眼；烏輪突起，胞硬紅腫，眵淚濕漿，裡熱刺痛，是謂熱眼。眼昏而淚，胞腫而軟，上壅朦朧，酸澀微赤，是謂之氣眼。其或風與熱並，則癢而浮赤；風與氣搏，則癢澀昏沉。血熱交聚，故生淫膚粟肉紅縷偷針之類；氣血不至，故有渺視胞垂雀目盲障之形。淡紫而隱紅者為虛熱；鮮紅而蠹赤者為實熱。兩眥呈露，生胬肉者，此心熱血旺；白膜紅膜如傘紙者此氣滯血凝。熱症瞳仁肉壅，白睛帶濕，色浮而赤者也；冷症瞳仁青綠，白睛枯槁，氣沉而濁也。眼熱經久，復有風冷所乘則赤爛，眼中不赤，但為痰飲所注則作痛。肝氣不順而挾熱，所以羞明。熱氣蓄聚傷胞所以胞合，此外症之大概。然而五臟不可闕一，脾與肺獨無預何也？曰：白睛帶赤，或紅筋者，其熱在肺；上胞下瞼，或目唇間如疥點者，其熱在脾。脾主味也，五味之秀養諸中則精神發於外；肺主氣也，水火升降，榮衛流轉，非氣孰能使之。前所以五臟各有症應，於此又可推矣。雖然眼之為患，多生於熱，其間用藥，大抵以清心涼肝，調血順氣為先。有如腎家惡燥，設遇虛症，亦不過以當歸地黃輩潤養之，輕用溫藥不可也。況乎肺能發燥，肝亦好潤，古方率用杏仁、乾柿、飴糖、砂蜜為佐，果非潤溢之意乎？至於退翳一節，尤關利害，凡翳起於肺，肺家受熱，輕則朦朧，重則生翳。如珍珠如碎米者易散，翳狀如梅花者難消。雖翳自熱生，然治法先退翳而後退熱者，謂熱極生翳。若先去赤熱，則血為之冰而翳不能去矣。其有赤眼，涼藥與之過多，又且滌之以水，不反掌而水凝矣。眼特一團水，且水性清澄尤不可拘拘於點洗。喜怒失節、嗜欲無度、窮役眼力、泣涕過多、凌寒衝風，當暑月日、不避煙火、飲啖熱多，此皆患生於臟腑者也。專事點洗可乎哉！有能靜坐澄神，愛護目力，放懷息慮，心逸目休，調和飲食以養之，斟酌藥餌以平之，明察秋毫，斷可必矣。</p>

<h1>引</h1>
<p>《銀海精微》二卷，未知何人氏所撰著。蓋餘生而目善病，昔直掖垣，余同寅友李沖涵公出以示余曰：庶幾有當於目病方技乎？余檢閱，見其圖像立論及答問宗旨俱一一分晰明盡，若嘗飲上池所視見者，取名銀海本之道藏，其為方書，信乎精矣微矣。數年宦遊所至，每攜之笥中，茲承乏河朔，因檄所屬付欹劂，蓋不欲秘之自私也。雖然方亦未可盡拘泥也，脈證有陰陽、表裡、虛實之異，斟酌損益存乎其人，不然拘泥古法而不通變，則是編也真古人糟粕耳！至易簡妙方，則古宋陽裡子所授，魯東門伯所修，六物不竣外假，而自稱絕技，又是書所不載也。</p>
<p><u>賜進士第中憲大夫河南等處提刑按察司副使奉敕兵巡河北道前吏科左給事中北海齊一經書</u></p>

<h1>卷上</h1>

<h2>五輪八廓總論</h2>
<p>人有兩眼，猶如天地之有兩曜，視萬物，察纖毫，何所不至。日月有一時之晦者，風雲雷雨之所致也；眼之失明者，四氣七情之所害也。大抵目為五臟之精華，一身之要系，故五臟分五輪，八卦名八廓。五輪：肝屬木曰風輪，在眼為烏睛；心屬火曰血輪，在眼為二眥；脾屬土曰肉輪，在眼為上下胞瞼；肺屬金曰氣輪，在眼為白仁；腎屬水曰水輪，在眼為瞳仁。至若八廓無位有名，大腸之腑為天廓，脾胃之腑為地廓，命門之腑為火廓，腎之腑為水廓，肝之腑為風廓，小腸之腑為雷廓，膽之腑為山廓，膀胱之腑為澤廓，斯為眼目之根本，而又借血為之胞絡，或蘊積風熱，或七情之氣，鬱結不散，上攻眼目，各隨五臟所屬而見。或腫而痛，羞澀多淚，或生障昏暗失明，其症七十有二。治之須究其源，因風則散之，熱則清涼之，氣結則調順之，切不可輕用針刀鉤割。偶得其愈，出乎僥倖，或有誤而為者，則必為終身之患也。又不宜通用涼藥，恐冰其血，凝而不流，亦成痼疾。用藥當量人之老少，氣體之虛實。又有腎虛者，亦令人眼目無光，或生冷翳，宜補暖下元，滋補腎水。北方患者，多是日冒風沙，夜臥熱炕，二氣交蒸，故使之用涼藥。北方之人故與南方之人用藥有不同也。疹痘之後，毒氣鬱結於肝而氣不能瀉，攻發於眼目，傷於瞳仁者，素無治法也。</p>

<h2>五輪之圖</h2>
<p>眼中赤脈血輪心，黑睛屬腎水輪深，白睛屬肺氣輪應，肝主風輪位亦輪，更有肉輪脾臟應，兩瞼屬脾胞胃侵。</p>

<h2>五輪圖式</h2>
<figure>
<img data-orig-src="urn:270:05251.jpg" alt="五輪圖式">
</figure>
<p>大小眥為血輪，屬心火。大眥赤者，心之實也。小眥赤者，心之虛也。黑睛為風輪，屬肝木。瞳仁為水輪，屬腎水。白仁為氣輪，屬肺金。上下胞瞼為肉輪，屬脾土。</p>

<h2>八廓之圖</h2>
<p>肝為養化之廓：腎與眼疾豈無由，酒色過時更惜憂，莫道睛光無大故，看看膜障裹雙眸。</p>
<p>膽為清淨之廓：視物依稀似霧中，時時手拭兩睛瞳，要知冷淚頻頻出，此是肝虛膽氣攻。</p>
<p>膀胱津液之廓：膀胱屬水腎為夫，冷淚相形本臟虛，赤脈縱橫輪廓內，不逢妙手豈能蘇。</p>
<p>胃名水穀之廓：飲食相干在胃中，更加積熱兩相攻，瞼胞漸腫生睛赤，不解中宮熱不通。</p>
<p>命門抱陽之廓：內抱真陽是命門，眼前花發色紛紛，不能補腎調肝氣，睛腫縱橫似有根。</p>
<p>大腸傳送之廓：傳送原因是本經，肺家壅滯熱相侵，只宣大腸依次第，閉澀之時醫患睛。</p>
<p>小腸關泉之廓：小腸腑屬關泉廓，受病先從心裡傳，兩眥皆赤生癢痛，但調經脈自然痊。</p>
<p>腎屬會陰之廓：視物如看霜霧多，抬頭畏日事如何，急宜補腎禁房室，免使昏朦不得過。</p>

<h2>八廓圖式</h2>
<figure>
<img data-orig-src="urn:270:05252.jpg" alt="八廓圖式">
</figure>
<p>天廓屬大腸，傳送，肺金，乾卦。火廓屬心，抱陽，命門經，離卦。地廓屬脾胃，水穀之海，坤卦。水廓屬腎經，會陰，坎卦。山廓屬膽經，清淨，艮卦。風廓屬肝經，養化，巽卦。雷廓屬心，小腸經，關泉，震卦。澤廓屬膀胱經，津液，兌卦。</p>
<p>六腑：三焦、膽、胃、大腸、小腸、膀胱。</p>
<p>五臟：心、肝、脾、肺、腎。</p>
<p>心屬火，肝屬木，脾屬土，肺屬金，腎屬水。</p>
<p>五行生剋：金生水，水生木，木生火，火生土，土生金；金剋木，木剋土，土剋水，水剋火，火剋金。</p>
<p>五臟表裡：心與小腸為表裡；肝與膽為表裡，脾與胃為表裡，肺與大腸為表裡，腎與膀胱為表裡，三焦與命門為表裡，一說命門與心胞絡為表裡。</p>
<p>三陰三陽經：心是手少陰經，小腸是手太陽經，腎是足少陰經，膀胱是足太陽經，肺是手太陰經，大腸是手陽明經，脾是足太陰經，胃是足陽明經，肝是足厥陰經，膽是足少陽經，三焦是手少陽經，命門是手厥陰經，此是三陰三陽也。</p>
<p>七情：喜怒憂思悲恐驚喜傷心其氣散，怒傷肝其氣緊，憂傷肺其氣聚，思傷脾其氣結，悲傷心胞其氣急，恐傷腎其氣怯，驚傷膽其氣亂，此乃七情是也。汗乃心之液，淚乃肝之液，涎乃脾之液，唾乃肺之液，精乃腎之液，此五臟之液是也。苦入心經，酸入肝經，甘入脾經，辛入肺經，鹹入腎經。</p>
<p>四氣：酒色財氣，風寒暑濕，過度成病。</p>

<h2>大眥赤脈傳睛</h2>
<figure>
<img data-orig-src="urn:270:05253.jpg" alt="大眥赤脈傳睛圖">
</figure>
<p>赤脈傳睛之症，起於大眥者心之實也，此心邪之侵肝也。心屬火主血，肝屬木主筋；筋得血灌引漸至黑睛，蔓延瞳仁，甚則看物如同隔絹，是三焦相火炎上。或勞心事太過，或夜觀書史，或能飲酒，及好食五辛，煎炒熱物。法宜瀉火退熱，老少不同治。日積月累，筋脈大者，宜用小鋒針挑斷，毒血流出，赤脈斷矣。若是乍發赤脈，不用針挑發，點以陰二陽四藥，服以四順八正當歸散涼肝之劑，其病無不蘇矣。又有暴橫之人，赤脈灌睛者，此生相也，非比前症治之。</p>
<p>問曰：人之患目大眥赤脈傳睛，大眥常壅澀，看物不準者何也？答曰：乃心經之實熱；況心或因思慮勞神，或飲食太過，致使三焦發熱，心火愈熾，故目常赤也。治之雖攻少陰經，心胞陽火廓，先服三黃丸瀉其心火，次以洗心散去其病，肝連丸常鎮三黃丸，點用清源散，服用清心利小腸經，降火為主，用八正散。</p>
<p><u>八正散</u></p>
<p>大黃　瞿麥　木通　梔子　滑石　甘草　萹蓄　車前子</p>
<p>上各等分為末，每服五錢，水一鍾煎，或入竹葉燈心蔥頭，食後服。</p>
<p><u>導赤散</u></p>
<p>木通　甘草　梔子　黃柏　生地黃　知母</p>
<p>上每服細末四五錢，水一鍾，入竹葉燈心草同煎，食後服。</p>
<p><u>七寶洗心散</u></p>
<p>當歸　赤芍　大黃（各一兩）　麻黃（二兩）　荊芥（五分）　黃連（一兩）　梔子</p>
<p>上為末，每服三四錢，水煎食後服。</p>
<p><u>三黃丸</u></p>
<p>黃連　黃芩（各一兩）　大黃（三兩，酒浸過炒）</p>
<p>上為末，煉蜜為丸，如桐子大，每服三十丸，熱水下。</p>
<p><u>肝連丸</u></p>
<p>白羊子肝一付，勿令下水，以線結定總筋，吊起高處，濾乾血水，輕輕刮去外膜，可將肝置於平木板上，以竹刀割下肝粉，筋膜不用，肝粉和為丸。每服五十丸，茶送下。</p>

<h2>小眥赤脈傳睛</h2>
<p>小眥赤脈傳睛者，心之虛也，與大眥不同，治法分二症治之。五臟之主，六腑之宗，且屬南方，候陽象德之君。火生土，火乃土之母，脾土實則心火虛矣。治先瀉其脾土之實，後補其心之虛。多因夜近燈火，勞傷心經，致使心虛氣弱，血運不行，積在小眥之間，故引此二者，以為後之學者識。然此症宜吃藥，不必挑剪。</p>
<figure>
<img data-orig-src="urn:270:05254.jpg" alt="小眥赤脈傳睛圖">
</figure>
<p><u>瀉肝散</u></p>
<p>桔梗　黃芩　大黃　芒硝　梔子　車前子</p>
<p><u>九仙散</u></p>
<p>黃芩　荊芥　甘草　赤芍藥　菊花　川芎　當歸　木通　白芷</p>
<p>上等分，為末，每服三錢，用水煎，食後服。</p>
<p>駐景丸　治心腎俱虛，血氣不足，下元衰憊，服。</p>
<p>楮實（微炒）　枸杞子　五味子　人參（各一兩）　熟地（酒浸，焙乾，二兩）　乳香（一兩，制過）肉蓯蓉（酒浸，焙乾，四兩）　川椒（去目炒乾，一兩）　菟絲子（淘淨去沙土，酒浸三宿，蒸過焙乾，四兩）　一方加當歸</p>
<p>上為末，煉蜜為丸，梧桐子大，每服三十丸，空心鹽湯下。</p>
<p><u>補勞人參丸</u>　治心神恍惚。</p>
<p>人參　白茯苓　白附子　續斷　遠志　菊花　甘草</p>
<p>上為末，煉蜜為丸，彈子大，每服一丸，細嚼，食後桔梗湯下，日三次。</p>
<p><u>補虛人參丸</u></p>
<p>茯苓　人參　續斷　遠志（各一兩）　白附子（三錢）　甘草　白殭蠶（各五錢）</p>
<p>上為末，煉蜜為丸，如彈子大，每服一丸，細嚼，桔梗湯送下。</p>

<h2>胬肉攀睛</h2>
<p>胬肉攀睛者，與大眥赤脈之症同。然此症者，脾胃熱毒，脾受肝邪，多是七情鬱結之人。或夜思尋，家筵無歇，或飲酒樂欲，致使三焦壅熱；或肥壯之人，血滯於大眥。胬肉發端之時多癢，因乎擦摩，胬肉漸漸生侵黑睛。日積月累者為實，乍發乍痛者為虛。治法：實者小鉤為鉤，鉤起剪斷些寬，三五日剪痕收滿，方可點陰二陽四藥，吹點，余翳漸清，避風忌口，齋戒可也。若乍發不宜鉤剪，宜服藥，點以淡丹藥可也。三焦心火俱炎，亦能生此疾，治之須鉤割後，宜服瀉脾除熱飲。</p>
<figure>
<img data-orig-src="urn:270:05255.jpg" alt="胬肉攀睛圖">
</figure>
<p><u>瀉脾除熱飲</u></p>
<p>黃耆　防風　茺蔚子　桔梗　大黃　黃芩　黃連　車前子　芒硝（各一兩）</p>
<p>每服六錢，水煎服。</p>
<p>此症脾胃積熱，相火胃火旺也。若經久翳厚施實烏睛者，宜鉤剪，剪訖，次日用退翳捲雲散調津液點之，日一次，三黃湯加寒劑。常點用對交丹加清涼散。若筋腫厚大者，宜剪，剪畢頭處用火烙之，使其再不復生，愈後仍用三黃丸收功，鎮其上炎之火。</p>
<p><u>三黃湯</u>　治脾胃積熱，致生此症，宜服。加芍藥、宣連。</p>
<p>黃連　黃芩　大黃（各一兩）</p>
<p>若熱甚者，脈紅盛者，加黃柏、石膏、山梔子之類，水煎，食後溫服。</p>
<p><u>金花丸</u></p>
<p>黃連　黃柏（各四兩）　黃芩　人參（各三兩）　桔梗（三兩半）　半夏（二兩）　梔子仁（二兩）</p>
<p>上為末，煉蜜為丸，梧桐子大。每服五十丸，茶下。</p>

<h2>雞冠蜆肉</h2>
<figure>
<img data-orig-src="urn:270:05256.jpg" alt="雞冠蜆肉圖">
</figure>
<p>雞冠蜆肉者，心之熱酒之毒也。脾胃壅滯，肝臟積熱，肉翳漸漸而長，侵至黑睛，發來高大，形似雞冠蜆肉壅蔽大眥，皆因相火胃火鬱結，致生紅肉，磣澀淚出。治法：初發之時，用小鋒針破，使惡血流出，以輸其肉，二三日又可針一次。又法可鼻孔內，剪竹葉卷作一小筒，彈進放血，或小鋒針亦可，右眼右孔，左眼左孔，服三黃加朴硝丸如彈子大，夜臥噙化，以沃上焦火。正謂揚湯止沸，莫如去薪息火，肉翳者可烙三五度，其效甚速，烙可用軟皮剪孔，濕按眼眶，烙則不傷四弦眥肉，有虛有實，虛切不可用剪，剪則流血汪汪，變為利害。或壅如桃李之狀，難治。</p>
<p>問曰：眼內生虛肉，形似雞冠蜆肉者何也？脾胃受風熱，火旺脾土燥熱也。治法：年少者只宜瀉脾胃本臟，若脾胃衰不受寒涼者，宜瀉子瀉母之法，瀉本臟用三黃湯加寒涼劑，瀉子用瀉肺湯，瀉母用八正散、瀉心湯主之，點用清涼散加涼藥，仍服三黃丸收功。若積久大者亦宜剪，剪後宜烙，新發小者，宜挑不用烙，宜用退翳捲雲散點之，一二次。</p>
<p><u>三黃丸</u>　八正散　二方前症條下。</p>
<p><u>瀉肺湯</u>　治肺經得脾熱，白仁變生雞冠蜆肉，宜服。</p>
<p>桑白皮（一兩，去皮）　地骨皮（一兩，去骨）　甘草（七錢）　黃芩（一兩）　桔梗（一兩）</p>
<p>上為末。每服三四錢，水煎食後服。</p>
<p><u>瀉心湯</u>　治心熱傷脾土，燥熱宜服。</p>
<p>大黃　黃芩　桔梗　知母　黑參　馬兜鈴　防風</p>
<p>上等分。水煎食後服。</p>

<h2>兩瞼黏睛</h2>
<figure>
<img data-orig-src="urn:270:05257.jpg" alt="兩瞼黏睛圖">
</figure>
<p>兩瞼黏睛者，脾胃風虛，冷弱邪氣聚於瞼，致胞瞼風赤濕爛，肝膈虛熱眵黏四眥，夜睡上下胞瞼膠凝黏緊，血滯不散，久則漸生翳膜。治法：宜陰一陽三吹點。若發年久，眼皮漸長，雖不是拳毛倒睫，亦可夾起眼皮，使露黑睛，消散血氣，瞼積有瘀血，可劆可洗，爛癢者洗以碧天丹，每日侵晨用桑白皮入鹽熏洗，或大寒後不落桑葉名為鐵扇子煎洗極妙。或菊花葉煎湯洗亦可。此乃發年久有此症，初發者無此病症耳。問曰：眼患年久兩瞼黏而不開明者何也？答曰：脾胃受風冷所傷，邪氣久積不散，致血氣凝滯，久注不開，時自眵淚含糊。治法：年久，宜當歸活血煎、神清散主之；近患，蟬花散、密蒙花散主之。若經久不愈，久注不開眼皮長者，雖不是拳毛倒睫，亦可夾起眼皮，點用重藥，片腦不用。</p>
<p>〔久患虛冷〕</p>
<p><u>當歸活血煎</u>　治風冷久積兩瞼黏眼，服之。</p>
<p>當歸　黃耆　沒藥　川芎（血氣旺者勿用）　蒼朮　荊芥　薄荷　熟地黃　羌活　菊花麻黃</p>
<p>上等分為末，煉蜜為丸如彈子大。每食後細嚼一丸，清茶送下，日進三次。</p>
<p>〔久受風邪〕</p>
<p><u>神清散</u>　治風毒傷胞瞼，眼生翳膜，日漸細小，服之。</p>
<p>川芎　薄荷　羌活　附米　藁本　防風　荊芥　川烏　枳殼　石膏　白芷　甘草　細辛麻黃（各等分）</p>
<p>上為末，每服三四錢，食後清茶蔥白湯送下。</p>
<p>〔無疼痛時〕</p>
<p><u>蟬花散</u>　治肝經蘊積熱毒傷肝，上攻於目，赤腫多淚羞明，一切風毒傷肝，並皆治之。</p>
<p>穀精草（去土）　菊花　蟬蛻　羌活　甘草　蔓荊子　蒺藜　草決明　防風　川芎　梔子仁　密蒙花　黃芩　荊芥穗　木賊</p>
<p>上各等分為末。每服二錢，食後用清茶調服，或荊芥湯調服。</p>
<p>〔無痛有羞明時〕</p>
<p><u>密蒙花散</u>　治眼羞明怕日，肝膽虛損，瞳仁不清，服之。</p>
<p>密蒙花　羌活　菊花　蔓荊子　青葙子　木賊　石決明　蒺藜　枸杞子</p>
<p>上各等分為末。每服三錢，食後清茶送下。脾胃虛者，加白朮五分。</p>

<h2>眵淚黏濃</h2>
<p>問曰：眵淚黏濃出而不絕者何也？答曰：此肺之虛也。肺受心火之邪熱所克，金得心火而衰，故眵淚而不絕也。宜先服艾煎丸以去肺與大腸經天廓之邪熱，後用阿膠散而補之。</p>
<figure>
<img data-orig-src="urn:270:05258.jpg" alt="眵淚黏濃圖">
</figure>
<p><u>艾煎丸</u></p>
<p>好艾葉（醋蒸焙乾）　薄荷　當歸　地骨皮　晚蠶沙（即蠶屎）　糯米　秦艽　黃柏　桔梗綿黃耆</p>
<p>上為末，煉蜜為丸。每服十五丸，食後服，桑白皮湯下，或薄荷湯下。</p>
<p><u>阿膠散</u></p>
<p>阿膠（蛤粉炒，一兩）　鼠黏子（炒，一兩）　甘草（五錢）　糯米（一兩）　馬兜鈴　款冬花　紫菀（各一兩）</p>
<p>上為末。每服六錢，水煎服。</p>

<h2>眵淚淨明</h2>
<p>問曰：人患眼白仁常淚，紅壅熱眵，淚出而不絕者何也？答曰：此肺之實熱也。肺屬金，金生水，金旺則水溢，淚本通肝，亦是肺之精華，肺經實熱故目眵淚出而不絕也，治之須用瀉肺湯，瀉肺經之實熱，後用省味金花丸治其肺火，則與大腸傳導流利，而天廓目經於度，無上炎之火，眵淚淨明矣。</p>
<figure>
<img data-orig-src="urn:270:05259.jpg" alt="眵淚淨明圖">
</figure>
<p><u>瀉肺湯</u></p>
<p>地骨皮　大黃　芒硝　桔梗　甘草（各一兩）</p>
<p>上每服五錢，水煎。</p>
<p><u>省味金花丸</u></p>
<p>川黃柏（二兩）　黃芩　知母　桔梗　連翹（各一兩）　地骨皮　薄荷（五錢）</p>
<p>上煉蜜為丸。每服五十丸，桑柏皮湯下，或薄荷湯下。</p>

<h2>蠅翅黑花</h2>
<p>問曰：人之患眼目有黑花，芒芒如蠅翅者何也？答曰：此腎水衰。腎乃肝之母，腎水不能濟於肝木則虛熱，膽乃生於肝之侵，肝木枯焦膽氣不足，故行動舉止，則眼中神水之中，盪漾有黑影如蠅翅者。治之須用豬苓散順其肝腎之邪熱，次用黑參湯以涼其肝，則膽經清淨之廓，無邪熱之所侵，後用補腎丸，黑花自消。</p>
<figure>
<img data-orig-src="urn:270:05260.jpg" alt="蠅翅黑花圖">
</figure>
<p><u>豬苓散</u></p>
<p>木豬苓（一兩）　車前子（五錢）　木通　大黃　梔子　黑狗脊　滑石　萹蓄（各一兩）　蒼朮</p>
<p>上為末。每服三錢，鹽湯下。</p>
<p><u>黑參湯</u></p>
<p>黑參　黃芩　生地黃　赤芍藥　菊花　青葙子　白蒺藜</p>
<p>上為末。每服四錢，水煎服。</p>
<p><u>補腎丸</u></p>
<p>石菖蒲　枸杞子　白茯苓　人參　山藥　澤瀉　菟絲子　肉蓯蓉（各一兩）</p>
<p>上煉蜜為丸。每服五十丸，鹽湯下。</p>

<h2>目暗生花</h2>
<p>（與坐起生花不同）</p>
<p>目暗生花不能久視者，何也？此乃腎之虛也。眼雖屬於竅門乃歸腎而為主，腎虛則眼昏，或貪淫樂欲酒色過度，使腎臟衰憊，稟受天真不全，精神短少，致瞳仁神水不清，眼目無力，故目生花，不能久視。治之須用還精補腎丸，使陰水足無不還矣。</p>
<figure>
<img data-orig-src="urn:270:05261.jpg" alt="目暗生花圖">
</figure>
<p><u>還精補腎丸</u></p>
<p>人參　白朮　茯苓　蒺藜　羌活　木賊　菊花　防風　甘草　川芎　山藥　肉蓯蓉　密蒙花　青葙子　牛膝（各一兩）　菟絲子</p>
<p>上為細末，煉蜜為丸。或煎服亦妙。</p>

<h2>熱極眵睛</h2>
<p>眼目熱極，珠磣淚出者也，此陰陽不和，五臟壅熱，肝膈毒風上充，忽然腫痛難忍，五輪振起，乃五臟熱極致使也。宜服救睛散，次用涼膈連翹散，先點清涼散，次用九一丹。</p>
<figure>
<img data-orig-src="urn:270:05262.jpg" alt="熱極眵睛圖">
</figure>
<p><u>救睛散</u></p>
<p>川芎　防風　羌活　甘草　木賊　石膏　薄荷　菊花　石決明</p>
<p>上為末。每服三錢，清茶下。</p>
<p><u>涼膈連翹散</u></p>
<p>連翹　大黃　黃連（各二兩）　薄荷　梔子　甘草　黃芩　朴硝（各一兩）</p>
<p>上，水煎服。</p>

<h2>胞肉膠凝</h2>
<p>胞肉膠凝與兩瞼黏睛頗同，兩瞼黏睛，瞼之病。此症，胞之病，瞼熱則眵黏病之淺，胞熱則膠黏病之深，故分作兩症治之。脾胃壅熱，肝膈風充瞼胞內，蠹肉壅起，爛濕眵黏膠凝，氣血壅滯，不能疏散，積之年久，黑睛生翳，朦昧不明，羞明怕日，治法以陰二陽四吹點，有瘀血可劆洗，以桑白皮、鐵扇子、菊花、當歸、防風、荊芥、木賊、薄荷、鹽花之類。胞肉積久堅硬厚實者，番轉烙二三度，而實其肉可也。</p>
<figure>
<img data-orig-src="urn:270:05263.jpg" alt="胞肉膠凝圖">
</figure>
<p>問曰：眼久注不開，內生虛肉，眵淚膠凝者何也？答曰：胃中有伏熱鬱於內也。治宜通脾瀉胃湯加寒劑，降火涼血去風，宜點堅藥，內肉結厚實者，宜劆洗，至肉平淨方止，堅厚者亦烙無妨，烙後清涼消毒膏敷之。</p>
<p><u>通脾瀉胃湯</u></p>
<p>麥門冬　茺蔚子　防風　大黃　知母　天門冬　黃芩</p>
<p>熱甚者，加黃柏、石膏、朴硝、梔仁。一方又加黑參。</p>
<p>上等分為末。每服五錢，水煎食前服。</p>

<h2>胞肉生瘡</h2>
<p>胞肉生瘡，與胞肉膠凝、瞼生風粟、兩瞼黏睛四症大同小異，此皆上胞下瞼之病。然中間分析治法，各有輕重、深淺，劆洗、針烙不同。胞肉生瘡者，此脾胃熱毒，胞肉疙瘩或風粟變而為瘡，血熱化膿，腐爛煋臊，流汁流膿，浸漬黑睛生翳，眼如硃砂之色，此症雖少，不可不知，治用陰二陽十藥，日月、桑白皮煎湯，入枯礬鹽化，番轉眼皮，以鴿翎刷洗有瘡處，以血竭、乳香、沒藥、輕粉、密陀僧，或有瘡處烙二三下無妨。</p>
<figure>
<img data-orig-src="urn:270:05264.jpg" alt="胞肉生瘡圖">
</figure>
<p>問曰：胞肉生瘡，礙澀睛珠者何也？答曰：胃得心熱也。治宜泄心火解胃熱，用八正散、三黃湯之類，痛者用沒藥散，有瘡處仍用劆洗，點以清涼及重藥，肉虛者宜烙，外用清涼消毒膏敷之。</p>
<p><u>八正散</u>　在前大眥赤脈條下。</p>
<p><u>三黃湯</u>　在前胬肉條下。</p>
<p>〔血滯痛甚服〕</p>
<p><u>沒藥散</u>　治心脾胃得熱，致胞肉生瘡。宜服。</p>
<p>大黃（多用）　真血竭（破積血、止痛、去赤）　沒藥（少）　朴硝（多）</p>
<p>上照多少加減為末。每服二三錢，食後用清茶調下。</p>

<h2>瞼生風粟</h2>
<p>瞼生風粟者，瞼間積血年久，致生風粟，與眵黏症同，眵黏者無風粟，故又作一症。胞者上胞也，瞼者下瞼也，此脾胃壅熱，致令胞瞼之間，漸生風粟如米，甚如楊梅之狀，摩擦瞳仁，黑睛有翳。治法：番轉瞼，風粟逐個用鋒針密針三五度，亦烙更妙。睛有翳者，用陰三陽五藥吹點，二三夜吹一次，忌口，動風、動血之物莫吃可也。</p>
<figure>
<img data-orig-src="urn:270:05265.jpg" alt="瞼生風粟圖">
</figure>
<p>問曰：下瞼生風粟如楊梅之狀者何也？答曰：脾得邪熱，血滯不行，致生風粟。紅蠹不平，宜劆洗，脾熱用瀉脾湯，久患宜烙，點用清涼可也。</p>
<p><u>瀉脾湯</u></p>
<p>人參　黃芩　大黃　桔梗　白茯苓　芒硝　茺蔚子（二兩）　白芍藥（一兩）　黑參（兩半）　細辛白芷（各一兩）</p>
<p>上各等分加減。每服四五錢，水煎服。</p>

<h2>天行赤眼</h2>
<p>天行赤眼者，謂天地流行毒氣，能傳染於人；一人害眼傳於一家，不論大小皆傳一遍，是謂天行赤眼。腫痛沙澀難開，或五日而愈，此一候之氣，其病安矣。治法：此症再不可劆洗，只用童子小便煎黃連露宿溫洗，日進五遍，以解惡毒之氣，更用胡宣二連，礬雄黃共研細調，薑汁點二眥，通其惡淚，其痛立止，或酒調散服之，二三貼無妨。此症只氣候瘴毒之染，雖腫痛之重，終不傷黑睛瞳仁也。</p>
<figure>
<img data-orig-src="urn:270:05266.jpg" alt="天行赤眼圖">
</figure>
<p>問曰：一人患眼，傳於一家者何也？答曰：天時流行，瘴毒之氣相染，治宜解毒涼血清熱，痛甚者，服用洗肝散，七寶洗心散。點用清涼散加解毒，但此症與內無損，極甚者，二七不療自愈，切不可劆洗去血。</p>
<p><u>洗肝散</u>　治暴發赤腫，天行赤眼時常眼痛，宜服。</p>
<p>大黃　梔子　防風　薄荷　川芎　當歸　羌活　甘草</p>
<p>上一兩為末。食後熱水調二三錢服之。</p>
<p><u>七寶洗心散</u>　方在大眥赤脈條下。</p>

<h2>大患後生翳</h2>
<p>大患後生翳者，與天行赤眼同一症也，何分兩症治之？天行赤眼只一候或七日愈矣，雖同，無生翳之患。大患者，初起陡然而起，腫痛，發來甚重，沙澀難忍，增寒作熱，坐臥不安，或通夜行至達旦，羞明怕日，淚出如湯，鼻涕溏流，兩眼腫起如桃，日夜呻吟，飲食無味，二七不愈，遂生翳如黃膿疥瘡，佔在風輪，其腦牽痛。治宜用胡宣二連藥，照前研細調薑汁點，用苦桃葉、側柏葉、菊葉、柳葉、熏洗，服宜四順、八正、導赤散，雖療痊可，赤昏昧三個月方得復舊。失於調治，喪明必矣。問曰：天行赤眼後生白翳者何也？答曰：邪氣甚傷經絡也。外邪甚則傷肝，肝受傷則生翳。治宜四順散、細辛湯，點用熊膽膏，翳厚者用九一丹點。</p>
<figure>
<img data-orig-src="urn:270:05267.jpg" alt="大患後生翳圖">
</figure>
<p><u>四順湯</u>　治經絡得熱，大患後生翳，宜服。</p>
<p>大黃　當歸　甘草　赤芍藥</p>
<p>上各等分。每服四五錢，水煎食後服。</p>
<p><u>細辛湯</u>　治風邪傷肝，致眼生翳。</p>
<p>茺蔚子　黑參　黃芩　桔梗　大黃　車前子　木通　生地黃　甘草</p>
<p>上各等分。水煎食後服。</p>

<h2>暴露赤眼生翳</h2>
<p>暴露赤眼生翳者，與天行赤眼同理。天行赤眼者，能傳染於人；暴露赤眼但患於一人而無傳染之症。天行者，雖痛腫而無翳。暴露者痛而生翳，故此有別治法。即其所因，量其老少虛實，熱則清涼之，氣結則調順之。此眼縱有瘀血切不可劆洗，亦不可峻補，藥宜酒煎散發散，內有麻黃、蒼朮，或大黃當歸散，疏通血氣，點以淡藥九一丹。如翳厚，珍珠散點之，洗以黃連、當歸、防風、菊花、側柏、赤芍藥、薄荷、荊芥之類。</p>
<figure>
<img data-orig-src="urn:270:05268.jpg" alt="暴露赤眼生翳圖">
</figure>
<p><u>酒煎散</u></p>
<p>漢防己　防風　甘草　荊芥　當歸　赤芍藥　牛蒡子　干菊花</p>
<p>上各等分。酒煎食後溫服。</p>
<p><u>大黃當歸散</u>　治眼壅腫，瘀血凝滯不散，攻發生翳服。</p>
<p>當歸（酒浸，二錢）　菊花（三錢）　大黃（酒蒸）　黃芩（各一兩）　紅花（炙用）　蘇木　梔子（酒炒）　木賊</p>
<p>上水煎，食後服。</p>

<h2>暴風客熱</h2>
<p>暴風客熱，與暴露赤眼同也。暴露者，肝心二經病也，故赤而痛，致黑睛生翳；暴露客熱者，肝、肺二經病，故白仁生虛翳四圍壅繞，朝伏黑暗，凹入白仁，紅翳壅起，痛澀難開。故分暴露與暴風有別之症。暴者，乍也，驟也，陡然而起，治法疏通退熱，涼膈、瀉肝增減酒調之劑，發散風熱。俗云熱眼忌酒，孰知酒能引血，藥無酒不能及於頭目也。此眼不可劆洗，不可點涼藥，暴客之邪來之速、去之亦速耳！非比五臟六腑蘊積發歇不時之症同，俗為傷寒眼也。</p>
<figure>
<img data-orig-src="urn:270:05269.jpg" alt="暴風客熱圖">
</figure>
<p>問曰：白仁壅起，包小烏暗，疼痛難開者何也？此時肺經受毒風不散，久則發熱攻入眼中，致令白睛浮腫，名曰暴風客熱。宜服酒調散補肝湯，用搜風煎洗服。</p>
<p><u>瀉肝散</u>　治眼發歇不時。</p>
<p>羌活　黃芩　黑參（各兩半）　桔梗　大黃　芒硝　地骨皮（各一兩）</p>
<p>上每服六錢，水煎服。</p>
<p><u>補肝湯</u></p>
<p>藁本（一兩）　白芷　車前子　石決明　天麻　赤芍藥　防風　細辛（各一兩）</p>
<p>上每服二錢，水湯調下。</p>
<p><u>搜風散</u>　洗眼，治眼中有黑花。</p>
<p>陳皮　秦艽　防風　細辛（各一兩）　黃連　木香（各五錢）</p>
<p>上為末。水一鍾浸一宿去渣，入龍腦一錢，蜜四兩浸，火熬成膏點之，不用蜜，煎湯熏亦可。</p>
<p>又以當歸活血煎主之，腫痛甚亦用雙解散酒調散發表之，點用重藥加姜粉，以辛散之。</p>
<p><u>雙解散</u></p>
<p>防風　川芎　歸尾　赤芍藥　大黃　麻黃　薄荷　連翹　芒硝　黃芩　桔梗　石膏　滑石　荊芥　甘草　山梔　白朮（實者去之）</p>
<p>上等分。水煎食後溫服，如暴發加蔥三根。</p>
<p>〔風甚眼痛〕</p>
<p><u>桑螵蛸酒調散</u>　治眼紅腫，有血翳壅腫，服之。</p>
<p>當歸　甘草　大黃　赤芍藥　菊花　蒼朮　桑螵蛸　羌活　黃麻　茺蔚子</p>
<p>上各等分。用水煎，食後加酒溫服。如熱甚，加大黃、朴硝。或為末溫服，酒調服三錢。</p>

<h2>痛如神祟</h2>
<p>痛如神祟，舊無根基，只依痛甚怪異，或日痛而夜愈，或夜痛而日愈，如艾之灸，針之刺，忽來忽往，無蹤無跡，號曰痛如神祟。豈有神祟為禍而害眼？孰知陰陽偏勝，動靜氣血攻擊使然，亦有信巫之地，因所禱厭痕作福而愈者有之，孰知病勢將除，偶因而愈，曰神祟眼非也。治法：痛時只將艾蔥熨之，服酒煎散一二貼住痛，點以時藥，洗以歸尾、白芷、防風、芍藥、川芎、生地黃止痛散血可也。</p>
<figure>
<img data-orig-src="urn:270:05270.jpg" alt="痛如神祟圖">
</figure>
<p>問曰：眼內不紅不赤不腫，乍痛如神祟者何也？答曰：陰陽升降不和，氣血偏勝，相攻使然。或有血虛者下午痛，或有氣旺太甚者上晝痛。下晝痛者宜服助陽和血湯，上晝痛者宜服酒調洗肝散、明目流氣飲，點清涼之藥。又有一樣眼，時時痛如針刺，此是新血與舊血相攻擊，治法亦同。</p>
<p>〔血氣虛服〕</p>
<p><u>助陽和血湯</u>　治血氣不調，如神祟，痛如針刺，服之。</p>
<p>蔓荊子（三分）　香白芷（三分）　柴胡　黃耆　升麻（各四分）　炙甘草　當歸身（酒浸）　防風（各五分）</p>
<p>上作一帖，水一鍾半，煎八分溫服。臨避風處睡可也。又並渣服。</p>
<p>〔熱氣攻痛〕</p>
<p><u>酒調洗肝散</u>　治眼熱氣上攻無時，黑睛痛者服之。</p>
<p>黑參　大黃　桔梗　知母　朴硝　梔子　黃芩　</p>
<p>熱甚者，加生地、歸尾之類。</p>
<p>上為末。每服二三錢，溫酒調下，日服二次。</p>
<p>〔熱氣鬱結〕</p>
<p><u>明目流氣飲</u>　治氣鬱眼目赤腫，服之。</p>
<p>菊花　細辛　大黃　牛蒡子　川芎　蒺藜　荊芥　玄參　甘草　蔓荊子　防風　梔子　黃芩　木賊　蒼朮　草決明</p>
<p>上各等分。水煎食後服。</p>

<h2>痛如針刺</h2>
<p>眼痛如針刺者，即是神祟症中，如艾之灸如針之刺痛同，然此症皆因心臟潛伏熱毒，風壅在於膈間，目眩頭痛，眼系常急，欲臥澀痛，淚出難開，時時如針刺相似，急服瀉心湯八正散之劑，口噙水㗜以雄黃散正其頭，點以時藥消散血氣，洗以側柏葉、防風、荊芥、薄荷、黃連、生地黃之類，黑睛有星如釘之釘凹進痛如針刺，點以淡藥可也。</p>
<figure>
<img data-orig-src="urn:270:05271.jpg" alt="痛如針刺圖">
</figure>
<p><u>瀉心湯</u>　方在前雞冠蜆肉症內。</p>
<p><u>八正湯</u>　方在前胞肉生瘡症內。</p>

<h2>傷寒熱病後外障</h2>
<p>傷寒熱病外障者，蓋由大病新瘥出早，形骸羸瘦，臟腑未實，氣血尚虛，陰陽偏勝未復，縱口多毒，五辛油膩煎炒，一切熱物之類，蓄積諸毒，眾聚停留於內，熱邪必表於外，攻衝於眼。眼者五臟六腑之精華，其症各現於五輪。此症發時赤腫淚出痛澀難開，瞳仁闊大黑花繚亂，不能遠視，此血虛也。治法點以時藥，洗以散風前症活血之藥，不宜劆洗，只平補臟腑，損其有餘，益其不足，是為活法也，宜忌三兩月可也。</p>
<figure>
<img data-orig-src="urn:270:05272.jpg" alt="傷寒熱病後外障圖">
</figure>
<p>問曰：兩目或發腫痛者何也？答曰：氣血不足，虛陽攻上故也。此症縱有疼痛，切不可服瀉藥涼藥，只宜和解之。痛腫甚者，明目細辛湯、熊膽丸、地黃湯之類，點三七丹，腦射不用，又不可劆洗。</p>
<p>〔風熱作痛〕</p>
<p><u>明目細辛湯</u>　治熱病後患腫痛，大便結，羞明服。</p>
<p>生地黃　川芎　蔓荊子　歸尾　白茯苓　藁本　荊芥　麻黃根　防風　羌活　川椒　細辛　密蒙花</p>
<p>上各等分。食後溫服，日一次。</p>
<p><u>熊膽丸</u>　治肝膽得熱火邪為病，用清熱解毒。</p>
<p>熊膽（一個）　石決明　車前子　澤瀉　細辛（各一兩）　乾地黃　茺蔚子　牛膽（一個）　龍膽草上為細末，煉蜜丸，如梧桐子大。每服四十九丸，食後溫酒送下。</p>
<p><u>地黃湯</u>　治眼久病昏澀，因發而久不愈，宜服。</p>
<p>防風　羌活　人參　白茯苓　當歸　熟地黃　黃連　黃芩</p>
<p>上各等分。水煎溫服。</p>

<h2>風牽出瞼</h2>
<p>風牽出瞼者，脾胃受風，壅毒出胞瞼之間，瞼受風而皮緊，脾受風則肉壅，此皮緊肉壅，風牽出瞼，淚出汪汪，無分四季，此土陷不能堤水也。水漬於瞼，濕爛之狀。治法：先用摩風膏刮散脾外風邪，塗以白斂膏消散風毒，翻轉瞼皮，烙三五度無妨。此症一年半載易治，若年久肉堅難治，若眼有紅筋，貫上黑睛，有翳有膜，吹以丹藥。癢塌洗以碧天丹藥。此症大抵眼弦之病也。此症大風瘷䕸之人，面部所牽多受此病症，難以調治，故名風牽出瞼。</p>
<figure>
<img data-orig-src="urn:270:05273.jpg" alt="風牽出瞼圖">
</figure>
<p>問曰：下瞼翻出久不收，淚出汪汪者何也？答曰：脾經受風邪所傷，致土壤不能堤水也。治法：肉堅厚者用火烙三五度，至皮轉為度，服用夜光柳紅丸，外用摩風膏摩擦之，點用重藥少加涼。</p>
<p><u>夜光柳紅丸</u>　治風邪傷胞瞼，致風牽出瞼不收，宜服。</p>
<p>人參　川芎　荊芥　白芷　川烏（火煨）　南星　石膏（各二兩）　石決明　草烏（去火溫炮，少用）　藁本　雄黃　細辛　當歸　蒲黃　蒼朮（浸炒）　防風　薄荷　藿香　全蠍（各二兩）　何首烏（一兩）　羌活（三兩）　甘松（二兩）</p>
<p>上為末，煉蜜為丸。每服三十丸，茶清下。</p>
<p><u>摩風膏</u>　治胞瞼受風，或疼痛，諸痛處可摩可貼。</p>
<p>木香　當歸　白芷　防風　細辛　藁本　黑附子　沒藥　骨碎補（各一兩）　川烏　赤芍藥肉桂（各一兩）　豬脂　牛酥　鵝脂（各四兩）</p>
<p>上為末，香油八兩，浸一日，次一日沙鍋內熬，入牛酥鵝脂同熬成，以手摩擦按有瘡處，或半身不遂，用砂弓刮之，使風氣散去。</p>

<h2>風牽喎斜</h2>
<p>風牽喎斜者，雖與風牽出瞼同，喎斜者脾胃虛，房事不節，脾胃有毒，夜臥多痰，或醉飽坐臥當風貪涼，左右忽受風牽喎斜，眼內赤癢時時顫動，其眼血絲四起，瞳仁不開大，視物濛濛，甚至半身不遂。治法：急用摩風膏擦摩面部，更以砂弓刮所患風一邊，手臂通刮，或通身亦可刮，一日一遍。用大瓷青碗搗碎入磁石多寡搜麵糊為餅，烘熱貼面對鼻一邊，右喎貼左，左喎貼右，貼至扯口眼正其藥取起，又可灸頰車、耳門穴，開口取之，太陽、人中、承漿，喎左灸右，喎右灸左，近患者易治，若年久難治。</p>
<figure>
<img data-orig-src="urn:270:05274.jpg" alt="風牽喎斜圖">
</figure>
<p>問曰：目睛斜視倒目者何也？答曰：肝經受風邪所牽，使其筋緩縮不利。治法：宜灸火發散風邪，以加全蠍、白附子、南星、半夏、夜光柳紅丸，外用摩風膏，導引發散，目睛必轉。</p>
<p>灸火穴　太陽　頰車　耳門　聽會　耳尖　風池各一穴</p>
<p><u>夜光柳紅丸</u>　方在前篇針症內。</p>
<p><u>摩風膏</u>　方亦在前症內。</p>

<h2>被物撞破</h2>
<p>被物撞破者，並無所患而所因者三，此外因也。全然無事，誤被物撞破，或打撲或跌著或撞破傷胞瞼也，積血紫青，撞破白仁，外控硬殼，此不能為害，惟撞破三風輪，血灌瞳仁，五並輪混雜，最為利害之症也。</p>
<figure>
<img data-orig-src="urn:270:05275.jpg" alt="被物撞破圖">
</figure>
<p>痛惡瞳忍澀難開，治法服以酒調散，熨以蔥艾。或專以生地黃搗爛作餅烘熱貼，一日一換，以散其血，如無生地黃用芙蓉葉，無葉用根，去泥粗皮，用白皮搗爛烘熱貼亦可，若眼眶青黑，搗生蘿蔔護貼。切宜將息避風忌口，動風動血之物，諸般母肉莫吃。新撞者易治，若撞久血凝不散，無痛者難治也。</p>
<p>問曰：並無所患，誤被物撞破，或生翳者何也？答曰：外傷也，與內無損。治法：初起者宜散血為主，痛甚者沒藥散止之，若至血散變生白翳，為不治之症也。</p>
<p><u>沒藥散</u>　方在前胞肉生瘡內。</p>

<h2>撞刺生翳</h2>
<p>被物撞刺生翳者，與撞破一理，然刺被竹木簽刺，痕傷受血灌溉，遂生血翳，磣澀淚出，紅筋滿目，此症外傷，與患眼生翳不同，患眼者五臟六腑之毒發出為有根病也，刺傷者，外傷與內無預。治法：與同症同寬，一七之後，痕變成翳，可用輕丹少少吹點。忌淫欲嗔怒，避風將息，失於調治，潰痛發腫，傷於風輪，釀成大患，或至瞎，進無治法也。</p>
<figure>
<img data-orig-src="urn:270:05276.jpg" alt="撞刺生翳圖">
</figure>

<h2>血灌瞳人</h2>
<p>血灌瞳仁者，因毒血灌入金井瞳仁水內也。猶如水流入井中之狀，清濁相混，時痛澀，紅光滿目，視物濛濛，如隔絹看物，若煙霧中然，先患一隻，後乃相牽俱損。此症有三：肝症血熱，日積月累，灌入瞳仁，血凝入水，此關乎肝腎二經病也，此血難退；撞破之血鮮而熱，灌雖甚，退之速；又有開金針失手，撥著白仁，亦有瘀血灌入瞳仁。舉此三症，治法頗同。亦用大黃當歸散、沒藥散、墜翳明目丸。前被物刺破及撞刺生翳，並血灌瞳仁，皆可服前藥三料，其效甚大，或生地黃芙蓉根搗爛每貼三症，通呼用之，或蔥艾熨亦可，或可方而或可圓，活法而行，不可拘執其方焉，而獲功哉！</p>
<figure>
<img data-orig-src="urn:270:05277.jpg" alt="血灌瞳人圖">
</figure>
<p>問曰：人患眼目無內患，忽因物刺著胞瞼睛珠，血積不散，或瘀血灌入瞳仁，或用針誤損惡腫痛難忍，或因惡拳打著睛珠脫出一二分者，將何治法？答曰：打傷之時，搗爛生地黃敷之以散其血，先服止痛末藥散，後服墜翳明丸。若因傷風服除風湯。若打著睛珠流出者，以手掌心搽進珠，亦以生地黃敷之，若無生地黃，用乾地黃酒浸濕搗爛亦可，服止痛沒藥散。</p>
<p><u>沒藥散</u></p>
<p>沒藥　血竭　大黃　朴硝</p>
<p>上為末。每服二錢，酒調下，茶下亦可。</p>
<p><u>墜翳明目丸</u></p>
<p>石決明　川芎　五味子　知母　山藥各兩　人參　細辛</p>
<p>上為末，煉蜜為丸。清茶送下。</p>
<p><u>除風湯</u></p>
<p>防風　車前子　藁本　五味子　細辛　川芎　桔梗</p>
<p>上每服三錢，白湯送下，或水煎服。</p>

<h2>血翳包睛</h2>
<p>問曰：人之患血翳遮兩睛者何也？答曰：皆因心經發熱，肝臟虛勞，受邪熱，致令眼中赤澀，腫痛淚出，漸有赤脈通睛，常時舉發，久則發筋結厚，遮滿烏睛，如赤肉之相，故名曰血翳包睛。宜服瀉心湯，次以修肝活血湯。</p>
<figure>
<img data-orig-src="urn:270:05278.jpg" alt="血翳包睛圖">
</figure>
<p><u>瀉心湯</u></p>
<p>黃連　黃芩　大黃　連翹　荊芥　赤芍藥　車前子　薄荷　菊花（各一兩）</p>
<p>上㕮咀。每服四五錢，水煎溫服。</p>
<p><u>修肝活血湯</u></p>
<p>當歸　生地黃　赤芍（各兩半）　川芎　羌活（各七錢）　黃耆　防風　黃連　大黃　薄荷　連翹　菊花　白蒺藜（各一兩）</p>
<p>上每服四五錢，水煎，入酒二盞，溫服。</p>
<p>問曰：血翳包睛者何也？答曰：心熱血旺也。此病初患易治，若至血散盡難消，痛時用破血紅花散、當歸龍膽湯，點用清涼散。</p>
<p><u>當歸龍膽湯</u></p>
<p>防風　石膏　柴胡　羌活　五味子　升麻　甘草　黃連（酒洗）　黃芩（酒洗）　黃耆　黃柏（酒洗）　當歸　龍膽草　赤芍藥（各五錢）</p>
<p>上㕮咀。每服五錢，水煎至二碗，去渣，入酒少許，臨臥熱服，忌言語。</p>
<p><u>破血紅花散</u></p>
<p>當歸梢　川芎　赤芍藥　枳殼　蘇葉　連翹　黃連　黃耆　梔子　大黃　蘇木　紅花　白芷　薄荷　升麻</p>
<p>上各等分。水煎，加酒三盞，溫服。</p>

<h2>瞼生偷針</h2>
<p>問曰：人之患目瞼生小癤，俗名偷針者何也？答曰：陽明胃經之熱毒也，或因食壅熱之物，或飲食太過，使胃經上充於眼目，故瞼眥之間時發瘡毒，俗名偷針。此症番轉瞼皮，劆洗瘀血，點用清涼散，先宜服退赤散，後用通精散、瀉脾飲。</p>
<figure>
<img data-orig-src="urn:270:05279.jpg" alt="瞼生偷針圖">
</figure>
<p><u>退赤散</u></p>
<p>黃芩　黃連　白芷　當歸　赤芍藥　梔子　桑白皮　木通　桔梗　連翹</p>
<p>每服水煎，食後服。</p>
<p><u>通精散</u></p>
<p>防風　川芎　當歸　赤芍藥　大黃　芒硝　蒺藜　石膏　黃芩　甘草　桔梗　牙硝　黃連　羌活　滑石　荊芥</p>
<p>上用姜三片，食後服。</p>
<p><u>瀉脾飲</u></p>
<p>茺蔚子　防風　黃芩　玄參　梔子　石膏　大黃（炙）　知母　黃柏</p>

<h2>黑翳如珠</h2>
<p>黑翳如珠者，腎肝俱勞，七情鬱結之人，毒氣攻充，熱極淚出，難開疼痛，甚至水輪突起，黑翳，如豆如珠，大小不定，撐起眼胞，磣澀礙人眼睛，難以運動，寢食不安，先患一隻，後乃相牽俱損。治法：用小鋒針逐個橫穿破，其黑翳，中有惡水流出即平，勢若拾芥，瞬息痊安，眼即能開，設若不諳此療，服涼劑點涼藥，靡有其功，小兒如此患者多是疳眼，其翳起來或如小香菰之狀，不宜針，其治法載小兒疳眼條下，其針破翳根處，宜淡丹藥吹點消磨翳根。</p>
<p>問曰：風輪生翳如珠如蠅頭如蟹眼者何也？答曰：肝腎二經風熱氣鬱也。治法：久積黑翳高者，宜挑破珠頭，疼者宜撥雲湯，明目細辛湯主之，熱甚者，當歸龍膽湯主之，點用二八丹調乳汁用，未成此症，以暴發推之。</p>
<figure>
<img data-orig-src="urn:270:05280.jpg" alt="黑翳如珠圖">
</figure>
<p><u>撥雲湯</u>　治眼黑翳如珠，蟹睛，疼痛，風氣傷肝腎二經，宜服之。</p>
<p>黃耆（蜜炙）　細辛　生薑　乾葛　川芎（熱者除之）　柴胡　荊芥　藁本　甘草　升麻　當歸　知母　羌活　防風　黃柏</p>
<p>上為末。每服六七錢，水煎服。</p>
<p><u>明目細辛湯</u>　方在傷寒熱病後外障症內。</p>
<p><u>當歸龍膽湯</u>　方在前血翳包睛症內。</p>

<h2>蟹睛疼痛</h2>
<p>蟹睛疼痛者，如黑翳同症，起於瞳仁，肝腎之病焉，其翳如豆如珠蟹睛者，其翳起占瞳人，翳根小而苗大，此乃胋膈之病，膈中壅毒，胋氣伏熱，赤澀淚出，疼痛難開，羞明怕日，其翳發起尖高如蟹睛一般形狀，治法與前症同，用小鋒針針出惡水，流盡即平，次點以淡淡丹藥，消其翳根，其服藥不同前症，宜用瀉肝補腎之劑服之，空心服補腎之藥，飯後服瀉肝散。</p>
<figure>
<img data-orig-src="urn:270:05281.jpg" alt="蟹睛疼痛圖">
</figure>
<p><u>瀉肝散</u></p>
<p><u>補腎散</u></p>
<p>蟬蛻　防風　蒺藜（炒）　當歸　密蒙花　木賊　川芎　菊花　荊芥　茯苓　石決明（煅過）　枸杞子　知母　黃柏　青鹽</p>
<p>上各等分。水煎空心服。</p>

<h2>旋螺尖起</h2>
<p>旋螺尖起者，熱積於肝胋，毒壅於膈門，充攻睛珠疼痛，中央瞳仁漸變青白色，忽然凸起血絲纏繞，此乃是膜入水輪，二家並熱旋起尖來，狀若螺尾，遂號旋螺尖起證。治法：宜陰二陽四丹吹點，或調鱔魚血點尖處，若年久須有鋒針對瞳仁中央針入半分，放出惡水，此乃取平之，就紙封將息，避風忌口，十數日可也。服用雙解散、鬱金酒調散。</p>
<figure>
<img data-orig-src="urn:270:05282.jpg" alt="旋螺尖起圖">
</figure>
<p><u>鬱金酒調散</u></p>
<p>黃芩　鬱金　大黃　防風　梔子　當歸　川芎　赤芍藥　龍膽草</p>
<p>上為末。每服三錢，溫酒調下，食後服二次。</p>

<h2>突起睛高</h2>
<p>突起睛高，險峻厲害之症也，同前旋螺尖大不祥矣，皆因五臟毒風所蘊，熱極充眼者，內屬五臟，外屬五輪，五臟之氣，毒攻五輪之瞳。初起麻木疼痛，汪汪淚出，病勢洶湧，卒暴之變莫測，非精於龍木之奧旨，不能措手。諺云：眼不醫不瞎，正此也。苟非其人，殆有甚焉，非徒無益而反害之。治法：揚湯止沸，莫若去薪息火，急投酒調散、酒煎散，宣退五臟之毒熱，搗蔥艾熨五輪之突起，消除疼痛，洗以白芷、細辛、當歸、蒼朮、麻黃、防風、羌活，未可與點藥，宜忌口葷腥，將息避風，治法稍遲，或控膿，或突出一寸高者，至此之際，須鋒針針出惡水，疼痛方止，睛高取平耳！無尤之效也。</p>
<figure>
<img data-orig-src="urn:270:05283.jpg" alt="突起睛高圖">
</figure>
<p><u>酒調散</u></p>
<p>當歸　甘草　赤芍藥　菊花　羌活　桑螵蛸　茺蔚子　防風　荊芥　木賊</p>
<p>上各等分。水煎，食後加酒三盞溫服。</p>

<h2>硬瞼硬睛</h2>
<p>硬瞼硬睛者，胞瞼睛珠俱木，痛澀難運，膈間積熱，肝風上壅，氣血凝滯，睛瞼堅硬，血旺氣虛之人，或飲酒大腸堅結，多受是症，先患一眼，後乃相牽俱損，漸生翳膜。治法：初發時宜摩風膏，摩去風邪，散運血氣，或煎生地黃、當歸、川芎、赤芍、白芷、羌活熏洗，日三度，宜瀉肝膈之熱，點以時藥，若積年久，瞼有瘀血，宜劆洗，黑睛有翳有膜，可吹可點。問曰：眼患經久，瞼胞睛珠俱木不運者何也？答曰：血氣受邪，凝閉不行故也。治法：宜劆洗，服用當歸活血煎、助陽和血湯，點用重藥加辛熱姜粉之類。</p>
<figure>
<img data-orig-src="urn:270:05284.jpg" alt="硬瞼硬睛圖">
</figure>
<p><u>當歸活血湯</u>　方在前兩瞼黏睛症內。</p>
<p><u>助陽和血湯</u>　方在前傷寒熱病症內。</p>

<h2>白陷魚鱗</h2>
<p>白陷魚鱗者，肝肺二經積熱，充壅攻上，致黑睛遂生白翳，如魚鱗鋪砌之狀，或入棗花，中有白陷，發歇不時，或發或聚，疼痛淚出，然婦人多生此病，何也？苦樂不由己出，七情鬱結不舒，毒蘊於肝肺者，血之室也，婦人以血為主，血傷則生肝風，黑仁風輪多生是翳，甚至白陷釘入黃仁，引血相授，漸成大患，額頭兼痛，用摩頂膏摩擦，封貼於額頭處，用陰二陽四丹吹點，或用青鹽黃泥固濟包，煨熟研末，以鴨毛點於魚鱗中，日一次，又能除此翳耳！問曰：黑睛生白翳，凹入不平成陷者何也？答曰：肝虛血衰也。故肝虛則受風，風甚則作痛，血衰則成陷。治法：點用珍珠二八丹之類。</p>
<figure>
<img data-orig-src="urn:270:05285.jpg" alt="白陷魚鱗圖">
</figure>
<p>痛甚宜服：</p>
<p><u>酒調散</u>　方在前突起睛高症內。</p>
<p><u>沒藥散</u>　方在血灌瞳仁症內。</p>
<p>羞明而不痛者宜服：</p>
<p><u>蟬花散</u>　密蒙花散　二方在兩瞼黏睛症內。</p>
<p><u>桑螵蛸酒調散</u>　方在暴風客熱症內。</p>

<h2>花翳白陷</h2>
<p>（與棗花白陷同）</p>
<p>人之患眼生翳如蘿蔔花，或魚鱗子，入陷如碎米者，此肝經熱毒入腦，致眼中忽然腫痛，赤澀淚出不明，頭痛鼻塞，乃是肝風熱極，腦中風熱極致使然也。宜服瀉肝散，加味修肝散主之。</p>
<figure>
<img data-orig-src="urn:270:05286.jpg" alt="花翳白陷圖">
</figure>
<p><u>瀉肝散</u></p>
<p>黑參　大黃　黃芩　知母　桔梗　車前子（各一兩）　羌活　龍膽草　當歸　芒硝</p>
<p>上為末等分。水煎服。</p>
<p><u>加味修肝散</u></p>
<p>羌活　防風　桑螵蛸　梔子　薄荷　當歸　赤芍藥　甘草　麻黃　連翹　菊花　木賊　白蒺藜　川芎　大黃　黃芩　荊芥（各一兩）</p>
<p>上為末等分。水煎，入酒溫服。</p>
<p><u>蟬花散</u></p>
<p>蟬蛻　菊花　蒺藜　蔓荊子　草決明　車前子　防風　黃芩　甘草</p>
<p>上等分。水煎服。</p>
<p><u>補腎丸</u>　方在前蠅翅黑花症內。</p>
<p><u>密蒙花散</u>　方在前兩瞼黏睛症內。</p>

<h2>冰蝦翳深</h2>
<p>冰蝦翳深者，黑睛上生翳，如冰蝦形狀，因而名曰冰蝦也，大抵與魚鱗白陷同也。亦因肝經有熱，微微小小，點在眼之風輪，黑睛含糊，清眵填黏於翳之低處，乍時赤澀淚出，眵滿，矇蔽瞳仁一重如鼻涕，或黃或白，看則如膜遮障一般，蘸卻又生，日久能致損眼，發歇來往，治法宜陰二陽四，二夜吹一次，稍退宜點，侵晨用菊花、側柏葉、黃連、歸鬚、桑白皮之類煎湯，日洗二三次，服撥雲退翳散。</p>
<figure>
<img data-orig-src="urn:270:05287.jpg" alt="冰蝦翳深圖">
</figure>
<p><u>撥雲退翳散</u></p>
<p>楮實子　薄荷（各五錢）　川芎（一兩五錢）　黃連　菊花　蟬蛻（各五錢）　栝蔞根（生用，三錢）　蔓荊子　密蒙花　蛇蛻（各五錢）　荊芥穗　香白芷　木賊　防風　甘草（各五錢）</p>
<p>上為末，煉蜜為丸，如櫻桃大。每一兩作十丸，每服二丸，一日二服。</p>
<p>治眼引子於後：氣障，木香湯下。眼常昏暗，菊花湯下。眼睛無神懶視，當歸湯下。婦人血暈，當歸湯下。虛弱之人，十全大補湯下。</p>

<h2>玉翳浮瞞</h2>
<p>玉翳者，風充入腦，積熱肝膈，發歇疼痛，失於調治，日久積累，血凝不散，結成白翳，遮瞞瞳仁，如玉色相似，立名玉翳浮瞞。如此之狀，有進有退，有紅有淚，發歇未定。治法：用陰三陽二藥吹點一次，眼淚帶藥汪汪流出，如此之狀，其翳膜必能漸漸收卷，渾如磨鏡，塵埃去盡，明必復矣，若發年久，無進無退，不紅不痛，縱有丹藥之驗，刀針之利，終無措手之處，撥雲墜翳，服藥之聖，功效不能施為，縱然公侯王孫，若受此疾，為廢人矣，雖有千金之貴，天下之良醫，莫能出其手也。</p>
<figure>
<img data-orig-src="urn:270:05288.jpg" alt="玉翳浮瞞圖">
</figure>
<p>問曰：人之患眼翳如玉色遮瞞烏睛者何也？答曰：此同肝風攻充入腦，積熱在於肝膈之間，久乃腎虛，致眼中常發熱或赤痛，初則紅腫赤脈穿睛，漸漸生白翳膜，初起時如碎米，久則成片遮瞞烏睛，凝結如玉色，名曰玉翳遮睛。治之宜服瀉肝散、明目菊花散、通明補腎丸。</p>
<p><u>瀉肝散</u>　治胃中熱。</p>
<p>歸尾　大黃　黃芩　知母　桔梗　茺蔚子　芒硝　車前子　防風　赤芍藥　梔子　連翹薄荷</p>
<p>上各等分。每服六錢，水煎服。</p>
<p><u>明目菊花散</u></p>
<p>菊花　車前子　熟地黃　木賊　密蒙花　薄荷　連翹　白蒺藜　防風　荊芥穗　甘草　川芎</p>
<p>各等分，水煎服。</p>
<p><u>通明補腎丸</u></p>
<p>楮實子　五味子　枸杞子（各一兩）　人參　菟絲子　肉蓯蓉　菊花　熟地黃　當歸　牛膝知母　黃柏　青鹽（各一兩）</p>
<p>上煉蜜為丸。每服五十丸，空心鹽湯下。</p>

<h2>膜入水輪</h2>
<p>膜入水輪者，肝臟積熱，邪在肺經，此金剋木之候也，故黃仁乍時生瘡白色，可後又發，日往月來，致膜漸入水輪，此翳之根也，如水之得土，變化異常，遂生瘡不退，日積月累，久成大患，謂之膜入水輪。流汁流膿，痛澀難開，右患傳左，左患傳右。治法：宜明藥之類，加以蔥艾，吹以丹藥，服以湯散，無有不效。若傷日久，不痛不疼，不淚不紅，如釘入木，如玉之有瑕玷，如玳瑁之有黑點，此黃仁與水輪變白定矣，雖使岐黃龍木再世，亦不能為也。</p>
<figure>
<img data-orig-src="urn:270:05289.jpg" alt="膜入水輪圖">
</figure>
<p>問曰：風輪生瘡或突起，愈後變成白翳，久不散者何也？答曰：肝木衰金氣甚也。此病初患時有痛有淚，治宜退血瀉肺金，修肝活血，無痛無淚淡白色者，宜服補暖活血之劑治之。</p>
<p><u>瀉肺散</u></p>
<p>當歸　黃芩（各一兩）　桔梗　麻黃　枳殼（各半兩）　秦皮　葶藶　菊花　旋覆花　生地黃　防風　白芷　甘草　玄參　梔子（各一兩）　地骨皮（八錢）</p>
<p>上為末。每服三錢，桑白皮煎湯下。</p>
<p><u>修肝活血湯</u></p>
<p>歸尾　赤芍（各一兩半）　川芎　羌活（各七錢）　黃耆　防風　大黃　黃連（各三錢）　薄荷　連翹　白蒺藜　菊花（各一兩）</p>
<p>上每服四錢，水煎服。</p>

<h2>風輪釘翳</h2>
<p>釘翳根深者，與膜入水輪同也，此乃勞傷肝經，或性躁急促之人，啼哭含情之婦，欲強制郁傷於肝，赤澀難開，痛牽頭腦，淚出羞明怕日，釘翳日深，接引黃仁，根深血援終不移。治法：用退熱飲去風散血之劑，或痛甚服酒調散一二帖，頭痛熨以蔥艾，洗以防風、川芎、菊花、歸尾、白芷、麻黃、羌活、荊芥之類，量翳大小輕重吹以丹藥，將息避風，大忌淫欲嗔怒，不疼不痛，亦為不治之症也。</p>
<figure>
<img data-orig-src="urn:270:05290.jpg" alt="風輪釘翳圖">
</figure>
<p>問曰：風輪生翳如針如麻米者何也？答曰：肝虛火動也。此症多是性躁之人，或思慮太過所致。治法：疼痛甚者，宜服洗肝散、糖煎散，點用珍珠散加涼膈散。（俱在前）</p>
<p><u>洗肝散</u></p>
<p>梔子　薄荷　防風　當歸　甘草　連翹　大黃　黃芩　蒼朮　羌活　菊花　木賊　赤芍藥　麻黃</p>
<p>上各等分為末。每服二錢，食後蜜水調下，或煎，日進二三服。</p>
<p><u>糖煎散</u></p>
<p>龍膽草　防風　防己　大黃　荊芥　赤芍藥　當歸　甘草　川芎</p>
<p>上各等分為末。水煎，臨時投入砂糖少許，同服。</p>

<h2>黃膜下垂</h2>
<p>黃膜下垂者，脾胃熱，風結血凝氣滯，膏脂窒塞，血運不能通，故生是疾，發歇無時，痛澀淚出，漸生黃膜下垂，發則膜舒，退則膜卷，胞皮下垂，羞明怕日，雖舉不張，黃膜漸長，遮瞞瞳仁也，甚至滿目皆黃，難辨人物。治法：雖不是拳毛倒睫之症，亦可夾些眼皮，使露黑睛，黃膜氣舒發歇年久可夾，乍發不宜夾。治宜通脾瀉胃撥雲八正之劑以對，充之丹片腦少許，如有淚退之速，無淚退之遲，忌口齋戒，使衰其血易於調理也，又有一症，黃膜從下生上，為之黃膜上充，大抵治同，厚者宜挑剪。</p>
<figure>
<img data-orig-src="urn:270:05291.jpg" alt="黃膜下垂圖">
</figure>
<p>問曰：白睛黃赤生翳如赤膜者何也？答曰：脾胃得肝木剋土之候也。治宜省味金花丸去其黃膜，後用針沙平胃丸收功，點用重藥，腦不可用，少下。</p>
<p><u>針沙平胃丸</u>　久服平胃氣，去肝邪。</p>
<p>蒼朮　厚朴　陳皮　甘草　針沙</p>
<p>上各等分，㕮咀為末，煉蜜為丸，如綠豆大。每服五十丸，空心米湯下。</p>
<p><u>省味金花丸</u>　治脾胃積熱，致生黃膜。</p>
<p>梔子　黃芩　黃柏　桑白皮　地骨皮　桔梗　知母　甘草</p>
<p>上為細末，煉蜜為丸。清茶送下。</p>

<h2>赤膜下垂</h2>
<p>眼胞下生赤膜垂下，遮於黑睛疼痛者，乃胃熱也。治法：紅痛甚者服鬱金酒調散、大黃當歸散，微退後，用撥雲湯、生地黃散，點用重藥加清涼散藥，以上方俱在前。</p>
<figure>
<img data-orig-src="urn:270:05292.jpg" alt="赤膜下垂圖">
</figure>
<p><u>大黃當歸散</u>　治胃中有熱，生膜疼痛。</p>
<p>當歸　芍藥　川芎　菊花　大黃　黃芩　杏仁　薄荷</p>
<p>上各等分，㕮咀。食後水煎溫服。</p>
<p><u>生地黃散</u>　治眼下赤膜，發歇無時，久服則不發。</p>
<p>生地黃　黃柏　知母　防風　荊芥　升麻　乾葛　天花粉　黃芩　甘草　桑白皮　白茯苓　赤芍藥</p>
<p>上㕮咀。每服七八錢重，水煎食後服。</p>

<h2>逆順生翳</h2>
<p>逆順生翳，與赤膜下垂與黃膜下垂上充之症頗同，然此順逆者，五臟虛勞，風熱衝於肝膈。上胞，陽明經毒壅，血氣凝滯，故生赤膜垂下，謂之垂簾翳，此為順。下瞼，太陰肝經毒壅，故翳膜下生向上，謂之逆翳。治法：宜服瀉脾胃之劑，大抵去翳之藥，隨其輕重增減用之，宜忌口諸毒。</p>
<figure>
<img data-orig-src="urn:270:05293.jpg" alt="逆順生翳圖">
</figure>
<p>問曰：眼上下逆順上翳者何也？答曰：肝經虛損，積毒熱甚，至生翳四起侵黑睛，治宜明目流氣飲、蟬花無比散，點用珍珠散，次用三七丹，腫者亦可劆洗。</p>
<p><u>明目流氣飲</u>（方在前傷寒熱病症內）　治脾得邪熱，或逆順生翳。</p>
<p><u>蟬花無比散</u>　治風毒傷目，昏暗漸生白翳遮睛。</p>
<p>白茯苓　甘草（炙，助胃）　防風（各四兩）　川芎　赤芍藥（各二兩）　石決明（鹽水煮研極細）白蒺藜（炒去尖，各四兩）　蛇蛻（炙，三兩）　蟬蛻（去頭足，四兩）　蒼朮（一兩）　當歸（酒浸，二兩）</p>
<p>上為末。每服三錢，食後米汁調服，茶亦可。忌食毒物。</p>

<h2>漏眼膿血</h2>
<p>漏眼膿血者，有甚於釘翳並膜入水輪二症之利害也，此症未發之時，其頭先覺昏悶，四肢如勞，五臟多積風熱壅毒，攻充於黑睛、黃仁生出毒瘡，灌溉水輪控血，潰爛流膿。治法：宜蔥艾入白芷鍋內炒熱，以棉裹熨於眼胞上，屢換熱的，散其惡血，消其敗膿，止其惡痛，生地黃搗爛煨熨於有瘡處更妙，用陰二陽四丹對於有瘡處吹，或單用枯礬、輕粉、血竭、乳香研細對著瘡處吹點，亦可洗以桑白皮入鹽花明礬熏洗，服以墜翳明目丸、沒藥散，忌動風動血之物。</p>
<figure>
<img data-orig-src="urn:270:05294.jpg" alt="漏眼膿血圖">
</figure>
<p><u>墜翳明目丸</u>（方在前血灌瞳仁症內）</p>
<p><u>沒藥散</u></p>
<p>沒藥　大黃（蒸，少用）　朴硝</p>
<p>上為末。每服三錢，酒調下，茶亦可。</p>

<h2>飛塵入眼</h2>
<p>飛塵入眼者，此病全然無事，誤被物或飛塵飛絲入眼者，此外傷也。只為塵物黏在胞瞼之間，黏定不出，痛澀難開，磣淚出，致生障膜。初患之時，治法用絲線纏耳環腳，番轉上下胞瞼，撥出塵物即可。若初時不諳此法，少療，日久必生翳膜遮瞞瞳仁，須有丹藥吹點，胞瞼內仔細番看，有物黏處，必定有血積成塊或肉疙瘩，此是病之發縱處，宜小鋒針挑撥，或有刺塵處針毒血出，可此為病之根也，曰外病也，初起宜將絲線卷銅匙腳，捻撥出塵物，久者宜番轉看上下，有積處劆洗至平，點用清涼散，服以散血退熱之劑。</p>
<figure>
<img data-orig-src="urn:270:05295.jpg" alt="飛塵入眼圖">
</figure>
<p><u>酒調散</u></p>
<p>當歸　甘草　大黃　赤芍藥　菊花　桔梗　蒼朮　桑螵蛸　麻黃　羌活　茺蔚子　連翹（各一兩）</p>
<p>上為末。每服三錢，酒調服。</p>
<p><u>修肝散</u></p>
<p>防風　羌活　當歸　生地黃　黃芩　梔子　赤芍藥　大黃　甘草　蒺藜（各一兩）</p>
<p>上水煎服。</p>

<h2>拳毛倒睫</h2>
<p>拳毛倒睫者，此脾與肺二經之得風熱也，肺為五臟之華蓋，主一身之皮毛，肺虛損則皮聚而毛落也，脾家多壅濕熱，致令上胞常腫，大抵肝家受熱不時淚出，痛癢羞明怕日，赤澀難開，常以手摩引，致令上下胞瞼皮漸長，眼漸緊，故睫毛番倒裡面，刺眼礙澀瞳仁，漸生翳膜，欹頭則視不能正觀。治法：先宜劆洗瘀血，後用竹夾夾起眼皮，灸四五壯為妙，使毛生向外，其疾瘳耳！睛中有翳，用陰二陽五丹，吹點，翳即消磨，其夾須依口訣，務令夾起，不可滋水，恐潰有疤痕，若脫下痕處用光粉調香油逐早搽抹，久則生肉一般，眼目光明如舊。</p>
<figure>
<img data-orig-src="urn:270:05296.jpg" alt="拳毛倒睫圖">
</figure>
<p><u>細辛湯</u>　治脾經腫，得風熱宜服。</p>
<p>細辛　防風　茺蔚子　知母　大黃　桔梗　羚羊角　黑參</p>
<p>上㕮咀，每服四錢，用水煎，食後溫服。</p>
<p><u>防風飲子</u></p>
<p>黃連（一兩）　細辛　蔓荊子（各三錢）　葛根　防風（各五錢）　當歸身（七錢）　甘草（炙）　人參</p>
<p>上水煎，食遠服。避風、忌口。</p>
<p><u>除濕壓熱飲</u></p>
<p>細辛　蒼朮（各一兩）　防風　知母　茺蔚子（各兩半）　桔梗（二兩）　大黃　黃芩　梔子仁　朴硝</p>
<p>上水煎服。</p>
<p><u>阿膠丸</u></p>
<p>阿膠（蛤粉炒）　鼠黏子（炒）　甘草　糯米（炒，各一兩）　馬兜鈴　款冬花　紫菀　桔梗上為末，煉蜜為丸，如彈子大。每服一丸，食後細嚼，薄荷湯下。</p>
<p><u>密蒙花散</u></p>
<p>密蒙花　羌活　菊花　石決明　木賊　黃柏　白蒺藜　黃芩　蔓荊子　青葙子　枸杞子</p>
<p>上每服三錢，茶送下，水煎亦可。</p>

<h2>充風淚出</h2>
<p>充風淚出者，症非一也，有腎虛不生肝木，肝經受風而虛損，故木動也，迎風而淚出也，肝經虛者，宜服止淚補肝散止之。大止淚之法，點用重藥，熱淚者服川芎茶調散，點用清涼散，肝風者宜蒼朮止之。不赤不痛淚出，是謂之風淚，腫痛赤澀淚出者此熱淚也。若迎風而出汪汪，冬日多，夏日少，拭即還生，又不分四季皆有，此冷淚也，冷淚者乳香川烏丸，川烏一個草烏二個去皮，明礬一錢白麵塊一個為末，䝋豬膽汁為丸，如黍米大，每用一丸，夜臥時放在眼之大眥頭，淚出即止，或灸止之。又有肺臟久冷，大眥有竅，名為淚堂，淚堂通肺腑，此淚難治，久流則能令目昏暗，血氣虛弱之人，不腫不赤，但淡紫紅者，澀痛淚出，是虛淚。</p>
<figure>
<img data-orig-src="urn:270:05297.jpg" alt="充風淚出圖">
</figure>
<p><u>灸法</u>　久流冷淚，灸上迎香二穴，天府二穴，肝腧二穴，第九骨開各對寸。</p>
<p><u>止淚補肝散</u>　治肝虛迎風淚出不止，宜灸睛明二穴，系大眥頭，風池二穴，臨泣二穴。</p>
<p>蒺藜　當歸　熟地黃　白芍藥　川芎　木賊　防風　夏枯草（血虛者不用）</p>
<p>上各等分，為末。每服二三錢，茶清送下。</p>
<p><u>蒼朮散</u>　治風濕傷肝，濕淚昏花。</p>
<p>蒼朮　木賊　香附米　夏枯草　蟬蛻　甘草　蒺藜　白芷　防風　蔓荊子　川芎　殭蠶</p>
<p>上依各等分為末。每服二三錢，茶清下，酒亦可。</p>
<p><u>川芎茶調散</u>　治一切熱淚，眼弦濕爛。</p>
<p>川芎　防風　羌活　甘草　石決明　木賊　石膏（炒）　荊芥　菊花　薄荷葉</p>
<p>上各一兩為末。每服二三錢，食後茶下。</p>

<h2>肝風積熱</h2>
<p>肝風積熱者，肝家勞苦，七情鬱結，二三年間來來往往，一發一歇，遂生翳膜，或聚或散，赤澀淚出。此症多是夜勤燈光觀書史，或雕畫打銀細巧之人，久累肝家，積熱成風，肝若受風，必有腦疼，不覺漸漸昏蒙。治法：有翳者吹以丹藥，內服瀉肝省風之劑，除肝家之風熱，忌口將息，一年半載，病根除矣。其洗眼照依疼痛腫澀洗眼之方，載在前症條下。</p>
<figure>
<img data-orig-src="urn:270:05298.jpg" alt="肝風積熱圖">
</figure>
<p>問曰：眼目連年歇發無時者何也？答曰：肝經積熱也。經云：肝勞則氣逆，肝寧則氣順。氣急則發，氣順則歇。治宜發時痛甚者服洗肝散、省風湯之類，常服此數方則能除此病也，點用清涼散。</p>
<p><u>洗肝散</u>　方在天行赤眼症內。</p>
<p><u>瀉肝散</u>　治肝經積熱。</p>
<p>黑參　大黃　黃芩　知母　桔梗　芒硝</p>
<p>上各等分為末。每服二三錢，食後熱水調下，日二次。</p>
<p><u>省風湯</u>　治肝熱火旺，瞳仁不清或細小，宜服。</p>
<p>防風　犀角　大黃　知母　玄參　黃芩　羚羊角（肝虛不用）　桔梗</p>
<p>上為末。每服二錢，水煎入燈心、竹葉，食後服。</p>

<h2>坐起生花</h2>
<p>坐起生花者，此是內障。此症肝血衰，肝、腎二經虛也。六陽不舉，故久坐傷血，起則頭暈眼花，或前常見花發數般，或赤或黑或白，繚亂昏暗不明，良久乃定，瞳仁開大不清。此症宜補肝腎，或明目固本丸。不治，患久變為青盲內障，變為五風，難治之症也。固本丸只生熟二地黃、天門二冬，加人參也。</p>
<figure>
<img data-orig-src="urn:270:05299.jpg" alt="坐起生花圖">
</figure>
<p>問曰：人之坐起眼前見花，數般茫茫如蠅翅者何也？答曰：肝腎二經乏氣也。經云：肝腎之氣充則精彩光明，肝經之氣乏則昏蒙眩暈。治法：宜補腎丸、補肝重光散、還精丸、明目固本丸、補腎明目丸，隨人氣體虛實加減用之。</p>
<p><u>補腎丸</u>　治血氣虛弱，變成內障，宜服。</p>
<p>磁石（火煅醋淬七次，水飛過）三兩　肉蓯蓉（酒浸焙）　五味子　熟地黃（酒蒸焙）　枸杞子　菟絲子（洗淨，酒浸，蒸另研，各二兩）　楮實子　覆盆子（酒浸）　車前子（酒浸）　石斛（去根，各一兩）　沉香（另研，五錢）　黃柏（各二兩）　青鹽（另研，五錢）　或加知母</p>
<p>上煉蜜為丸，如桐子大。每服五十丸，空心鹽湯下。</p>
<p><u>補腎明目丸</u>　治肝腎血虛，視物不明，諸眼服涼藥，表裡愈後少神光。</p>
<p>羚羊角　生地黃　肉蓯蓉　枸杞子　防風　草決明（各一兩）　楮實子（五錢）　干菊花　羌活當歸（各二兩）　羊子肝（四兩，煮焙）</p>
<p>上為末，煉蜜丸，如梧桐子大。每服二十丸，空心鹽湯送下，日午清茶下，臨臥酒下，不飲酒人參當歸湯下。</p>
<p><u>明目固本丸</u>　治心熱，腎水不足用，少睛光，久服生精清心。</p>
<p>生地黃　熟地黃　天門冬　麥門冬　枸杞子　干菊花</p>
<p>上各研末，煉蜜為丸，如梧桐子大。每服三十丸，空心鹽湯下。</p>

<h2>黃昏不見</h2>
<p>人之兩目，至日落西之時，漸漸不見，亦系內障，俗謂之雞矇眼也。此乃腎之虛也。眼雖屬於竅門，乃歸腎而為主，腎虛則眼目昏，或貪淫樂欲酒色過度，使腎臟衰憊，稟受天真不全，精神短少，致瞳仁神腎水不清，故目之無光也。治之須有還睛補腎，看人老少虛實，斟酌藥餌以平之，飲食以補之，戒色斷怒，使會陰水自然明矣。</p>
<figure>
<img data-orig-src="urn:270:05300.jpg" alt="黃昏不見圖">
</figure>
<p><u>還精補腎丸</u>　治內障（方在目暗生花症內）。</p>
<p><u>補腎明目丸</u>　治諸內障，欲變五風，變化視物不明。</p>
<p>川芎　當歸　熟地黃　菊花　山藥　知母　石菖蒲　黃柏　青鹽　遠志　白蒺藜　川巴戟　五味子　白芍藥　桑螵蛸　茺蔚子　菟絲子　青葙子　密蒙花　枸杞子　肉蓯蓉　石決明</p>
<p>上為末，煉蜜為丸，如梧桐子大。每服四十丸，空心鹽湯下。</p>
<p><u>十味還睛丸</u>　治下元虛憊，一切內障。</p>
<p>防風　羌活　密蒙花　青葙子　川芎　蒺藜　甘草　白朮　木賊　菟絲子（酒浸三宿，生用，焙乾）</p>
<p>上為末，煉蜜為丸，如梧桐子大。每服二十丸，空心鹽湯下。</p>

<h2>瞳人幹缺</h2>
<p>瞳仁幹缺者，亦系內障，與外障無預，但因頭疼痛而起，故列外障條中。按此症因夜臥不得，肝臟魂肺藏魄，魂魄不安，精神不定而少臥勞傷於肝，故金井不圓，上下東西如鋸齒，䱇缺參差，久則漸漸細小，視物濛濛，難辨人物，相牽俱損。治法：宜瀉肝補腎之劑，一本無眥鴻飛內有，腎肝俱虛火旺也，用豬肝煮熟，露宿侵晨切薄，蘸夜明沙細嚼，此藥能通明益膽之功。瞳仁小者肝之實，瞳仁大者肝之虛，此症失於醫治，久久瞳多鎖緊，如小針眼大，內結有云翳，或黃或青或白，陰看不大，陽看不小，遂成瞽疾耳！初起時眼珠墜痛，大眥微紅，猶見三光者，治宜服五瀉湯、省風湯同補腎丸，及補腎明目丸，久服效，方俱在前。</p>
<figure>
<img data-orig-src="urn:270:05301.jpg" alt="瞳人幹缺圖">
</figure>
<p><u>五瀉湯</u>　治瞳仁幹缺火旺，及五臟虛火旺動，此藥能瀉火。</p>
<p>黃柏　知母　木通　梔子　生地黃　甘草　黑參　桔梗　黃芩　防風　熱甚加羚羊角　犀角　黃連</p>
<p>上㕮咀。每服六七錢，用水煎，食後服。</p>

<h2>癢極難忍</h2>
<p>癢極難忍者，肝經受熱，膽因虛熱，風邪攻充，肝含熱極，肝受風之燥動，木搖風動，其癢發焉。故諸癢屬虛，虛則癢，諸痛為實，實則痛。有黑珠癢者，有眼弦癢者，點以丹藥，或煨姜摩擦，淚通癢止，或濕癢用碧天丹洗，侵晨洗以鹽湯，或入桑白皮、防風、荊芥、薄荷之類。問曰：眼迎風受癢者何也？答曰：肝肺二經受風邪也。治法：癢時用三霜丸、撥雲散、棉裹散，洗用去風藥。</p>
<figure>
<img data-orig-src="urn:270:05302.jpg" alt="癢極難忍圖">
</figure>
<p><u>三霜丸</u>　治癢極難忍，用此丸即愈。</p>
<p>姜粉　枯礬　白硼砂</p>
<p>上為末，口津液調和如粟大。要用時，將一丸放於大眥止之。</p>
<p><u>棉裹散</u>　治眼濕淚爛弦眼目。</p>
<p>當歸　黃連（各一錢）　銅青（七分）　枯礬（四分）　朴硝</p>
<p>上各為細末，用細絹包綿縛緊，每一個約龍眼核大。要用時將一個用白湯半盞泡洗，一日二次。</p>

<h2>眼內風癢</h2>
<p>問曰：人之患眼，遇風癢極者何也？答曰：此因肝虛，合畜風熱，膽經風毒上充入眼，遂遇風受癢。宜劆洗，服藁本烏蛇湯、補膽湯。</p>
<figure>
<img data-orig-src="urn:270:05303.jpg" alt="眼內風癢圖">
</figure>
<p><u>藁本烏蛇湯</u></p>
<p>藁本　烏蛇　防風　羌活　白芍藥　川芎　細辛</p>
<p>上浸酒，煎服亦可。</p>
<p><u>補膽湯</u></p>
<p>前胡　馬兜鈴　茯苓（各一兩）　柴胡　人參　桔梗　細辛　黑參</p>
<p>上煉蜜為丸。每服三錢，水煎服亦可。</p>

<h2>垂簾翳</h2>
<p>問曰：人之患眼生翳，如珠垂簾遮睛者何也？答曰：此因心火虛炎，肝經風熱，上攻入腦中，熱毒流下，注於風輪，故眼赤澀淚出，腫痛無時，年久烏睛白紅色，故名曰垂簾翳。宜服洗心散，加味修肝散。</p>
<figure>
<img data-orig-src="urn:270:05304.jpg" alt="垂簾翳圖">
</figure>
<p><u>洗心散</u></p>
<p>荊芥　薄荷　連翹　麻黃　赤芍藥　梔子　黃連　大黃（各一兩）</p>
<p>上每服五錢，水煎服。</p>
<p><u>加味修肝散</u></p>
<p>梔子　薄荷（各三兩）　羌活（一兩）　當歸　大黃　連翹（各五錢）　黃芩　赤芍藥　菊花　木賊白蒺藜　川芎（各一兩）　麻黃　甘草</p>
<p>上為末。每服三錢，用酒調下，痛用酒，不痛水煎服。</p>

<h2>鶻眼凝睛</h2>
<p>鶻眼凝睛，此驟然所感，非久患之症，因五臟皆受熱毒，致五輪振起，堅硬不能轉運，氣血凝滯，睜然如鶻鳥之眼，凝視不運之貌，難辨人物，因形而名曰鶻眼凝睛，治法：宜用香油調姜粉汁於額瞼部摩擦及面上，或摩風膏摩擦更好，服以酒煎散，以被蓋出汗，其眼即活動。面面用燈火燒之，斷其風路，此症多是小兒急慢驚風之症，大人少有此患。</p>
<figure>
<img data-orig-src="urn:270:05305.jpg" alt="鶻眼凝睛圖">
</figure>
<p><u>桑螵蛸酒調散</u>（方在前暴風客熱內）　眼障初服。</p>
<p><u>導痰消風散</u></p>
<p>陳皮　半夏　甘草　白芷　全蠍　羌活　防風　荊芥　升麻　細辛　蘆薈</p>
<p>上㕮咀，各等分。水煎，姜三片，溫服。</p>

<h2>轆轤展開</h2>
<p>轆轤展開者，與鶻眼凝睛症同，鶻眼凝睛者睛凝不運之貌，轆轤展開而大者，此膽腎之水散焉，瞳仁之大小隨黃仁之展縮，黃仁展則瞳仁小，黃仁縮則瞳仁大，人不知瞳仁能大小者非也，此乃肝受風而不展轆轤，則瞳仁囨圓也，隨肝輪而縮，覺見瞳仁大不收，號曰轆轤展開症。風充入腦眼帶吊起，此症小兒急慢驚風受之，治法同前，薑汁調香油摩風膏摩擦，藥用蚌殼頻頻灌下，乳母忌口。</p>
<figure>
<img data-orig-src="urn:270:05306.jpg" alt="轆轤展開圖">
</figure>
<p>問曰：瞳仁開大眼不收而展縮者何也？答曰：肝受風，痰盛也。治法：僻巽錠子、牛黃丸，石楠散，初起者宜發表，小兒如患此，治法亦同。</p>
<p><u>僻巽錠子</u>　治肝膽受風，變成前症，小兒通睛，瞳仁闊大，並皆治之。</p>
<p>牛膽南星（七錢）　防風　乾薑（各三錢）　白附子（五錢）　牛黃（三分）　川烏　白芷　薄荷　木香白朮　白茯苓　人參（各五錢）　硃砂（一錢）　麝香（五分）　白殭蠶（二十個，生用）　片腦（五分）</p>
<p>上將前藥俱研為細末，冬用蜜二斤甘草半斤煎作膏稀稠得宜，將次藥末和作錠子，金箔為衣。小兒急慢驚風，手足搐搦，金銀箔磨湯化下一錠；大人破傷風，酒化下三四錠子，約一錢一個，或七分一個，夏用麻黃一斤甘草半斤，用水三四碗砂鍋內煎至一鍾之時，入蜜一斤，緩緩熬煉，滴水內成珠，方將前藥搜和為丸，即作錠子也。</p>
<p><u>牛黃丸</u>　能去風痰。</p>
<p>牛黃（二分）　白附子　全蠍　肉桂　川芎　石膏（各一兩）　白芷（三分）　藿香（五錢）　麝香（少許）硃砂（二錢）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。每服二三丸，臨臥薄荷湯下。</p>
<p><u>通頂石楠散</u>　能利膈開風痰。</p>
<p>石楠藤　藜蘆（各一兩）　瓜蒂（七分）</p>
<p>上為末。米湯下一匙，日一二度，灌入口內，去風痰。</p>

<h2>小兒通睛</h2>
<p>小兒通睛，與鶻眼凝睛、轆轤展開此三症頗同，然此症或因外物打著頭顱，或被諸般人物驚心，遂成驚風之症。風熱傷肝魂不應目，風邪上壅黃仁不成關鎖，瞳仁開，惟直視不辨人物，致眼通睛，通者黃仁、水輪皆黑，似無黃仁，瞳仁水散，似無瞳仁，此黃仁與瞳仁通混不分，號曰通瞳。亦風藥摩擦二法，發散風邪宜服牛黃丸，不須點藥，只服藥，然前症牛黃丸、通頂石楠散亦可用也。</p>
<figure>
<img data-orig-src="urn:270:05307.jpg" alt="小兒通睛圖">
</figure>
<p><u>牛黃丸</u>　通頂石楠散　二方俱在前症條下。</p>
<p><u>五七犀角飲</u></p>
<p>犀角　人參　茯苓　甘草　遠志（各一兩）　麝香（少許）　龍膽草　黃芩（各五錢）</p>
<p>上㕮咀。水煎服。</p>

<h2>小兒疹痘</h2>
<p>小兒疹痘者，名為百歲瘡也。不論大小俱患一度，疹痘入眼，疹有兩分，痘瘡初上皮膚之際，眼閉不開，眼上即有痘瘡點在黑睛上易治，急取益母草煎湯熏洗，日三度，更以陰一陽五丹調鱔魚血點，忌口及夜啼，乳母亦忌口，須疹痘痊可，其眼漸開，眼中之痘，亦隨而痊矣。又有一症，痘疹之後瘡痂落盡，肌體肥壯，眼中忽然紅澀，此乃餘毒鬱結於肝而發出，此症十分利害，失治多能害目，只用車前草擂水頻與飲下，洗卻肝經之熱毒，洗以益母草，點以鱔魚血調藥。經曰：疹痘之後，毒氣鬱結於肝而氣不能泄，攻發於眼，傷於瞳仁者，素無治法也。</p>
<figure>
<img data-orig-src="urn:270:05308.jpg" alt="小兒疹痘圖">
</figure>
<p>問曰：小兒此症入眼者何也？答曰：小兒痘瘡之發，五臟皆熱毒之氣壅塞停留，熱氣在肝膈充入眼，使疼痛淚出，怕日羞明難開，遂生瘡於眼內，久發變為白膜。初覺瘡入眼中赤澀之時，急將藥泄其毒，外以退翳之藥，若不能為，終身之患也。先將秦皮湯洗目眼，紅花退翳散服之效。</p>
<p><u>秦皮湯</u>　洗眼。</p>
<p>秦皮　秦艽　防風　細辛（各兩）　甘草（一錢）</p>
<p>上將水二盞，煎至一半，熱洗。</p>
<p><u>紅花散</u></p>
<p>紅花　連翹　當歸　生地黃　紫草　大黃　甘草　赤芍藥</p>
<p>上燈心竹葉，水煎服。</p>
<p><u>退翳散</u>　即豬肝散</p>
<p>真蛤粉　穀精草　夜明砂</p>
<p>上為細末。用豬肝二兩切開，摻藥於內，以麻扎定煮，水冷，將肝同藥細嚼，煮肝本汁咽，諸般毒物莫吃。</p>

<h2>小兒眼生翳</h2>
<p>小兒眼生翳者，脾胃實熱所致。或是胎中受毒，或因乳母好食熱物，皆能令小兒患眼。量兒之大小，疾之遠近輕重，一周半載者，其藥須令母吃，或蛤殼灌入小兒吃可也。二三歲者，此是胎毒也。離母之後患眼者，此是小兒自受之症，與母無預。此藥須令小兒吃，忌以油膩煎炒、糖甜果子之類，不獨患眼所忌，不忌多生驚症，變為疳傷，亦能害目，甚至不治之症，其疳眼別有余條款，此乃小兒生翳症也。黑睛如麻豆，大如蘿蔔花，與疳眼大不侔矣。一倍三黃丹，一倍珍珠散點用。</p>
<figure>
<img data-orig-src="urn:270:05309.jpg" alt="小兒眼生翳圖">
</figure>
<p><u>加味修肝散</u></p>
<p>梔子　薄荷　連翹　麻黃　赤芍藥　羌活　當歸　大黃　黃芩　菊花　木賊　白蒺藜　川芎　甘草</p>
<p>上水煎，食後服。</p>

<h2>痘疹入眼</h2>
<p>問曰：小兒疹痘入眼者何也？答曰：小兒於母胎中受其毒，必發疹痘，出之時五臟俱有熱相攻，或肝臟受熱甚，必有痘生於目內，宜服。</p>
<figure>
<img data-orig-src="urn:270:05310.jpg" alt="痘疹入眼圖">
</figure>
<p><u>涼肝散</u></p>
<p>草決明　天花粉　甘草　赤芍藥　綠豆皮　穀精草</p>
<p>上為末。每服六錢，蜜水調下。</p>
<p>問曰：小兒痘疹傷眼者何也？答曰：內臟虛熱上攻也。治法：經云：切不可泄，餘毒宜用微涼劑和解。此症初起，睛上紅紫澀痛，可用通神散，或車前草擂蜜水，頻頻與吃，洗去肝中火邪。若至喪明，睛中有翳，或凹入者，經云：疹痘之後，毒氣鬱結於肝，傷於瞳，素無治法也。</p>
<p><u>通神散</u>　治小兒疹痘，用此能解毒。</p>
<p>白菊花　綠豆皮　穀精草　石決明（煅過）</p>
<p>上各等分為末。每服二錢，乾柿一個，米汁水一盞同煎，候水乾，不拘時服，能服湯藥，只將本方煎服亦可。</p>
<p><u>救苦觀音散</u></p>
<p>桔梗　當歸　連翹　藁本　細辛　蒼朮　龍膽草　羌活　黃連　知母　黃芩　黃柏　川芎　柴胡　防風　升麻　生地黃　紅花</p>
<p>上各等分，煉蜜為丸。能吞者每四五十丸服，小者量服之。</p>
<p><u>通神散</u></p>
<p>菊花　穀精草　密蒙花　綠豆皮　蒼朮　石決明　甘草　黃芩　蟬蛻　木賊</p>
<p>上各等分。水煎，食後溫服。</p>

<h2>小兒雀目</h2>
<p>問曰：大人小兒雀目，至申酉時不見物者何也？答曰：肝虛受邪熱所傷，經絡凝滯不和，陰陽不和，榮衛不通，夜至昏也。治法：宜服五膽丸、蝙蝠肝散，又宜服蒼蠅散，豬肝散主之，不用點藥，虛極者用補藥亦可，增減用之。</p>
<figure>
<img data-orig-src="urn:270:05311.jpg" alt="小兒雀目圖">
</figure>
<p><u>蒼蠅散</u></p>
<p>用蒼蠅翅草及花為細末，用白水煮豬肝露一宿，空心煎丸。又可服豬肝散。</p>
<p><u>豬肝散</u>　即退翳散。方在前小兒疹痘症內。</p>
<p><u>五膽丸</u></p>
<p>熊膽（一個）　黃牛膽（二個）　青魚膽（一個）　鯉魚膽（二個）　青羊膽（一個）　石決明（二兩）　夜明沙（一兩）　麝香（少許）</p>
<p>上為末，將前膽和為丸如綠豆大。每服三十丸，空心茶下。</p>
<p><u>蝙蝠散</u></p>
<p>蝙蝠肝（一個）　石膏（一兩）　黃丹　石決明（煅）　白蒺藜（炒，各二兩）　若無蝠肝用羊肝加夜明沙</p>
<p>上將前藥研細末。每服二錢，米湯調下，無蝙蝠肝用羊肝一塊切作四塊，以藥一二錢摻肝內，以麻縛定，用米汁水入罐內煮熟，次早取出羊肝藥細嚼，以煮肝汁同食效，如體虛弱之人亦可服補藥，為丸尤妙。</p>

<h2>胎風赤爛</h2>
<p>胎風赤爛者，其症有三：初時血露入眼，洗不乾淨，而生是疾，遂至赤爛；又有在母胎中，其母不知忌口，多食壅毒之物，酒面五辛之類，至產生三四個月，兩眼雙赤，眵黏四眥，紅赤濕爛，此是胎毒所致，此小兒在腹中飲母血，血毒於兒，出生方發此症也；又有乳母壯盛之人，抱兒供乳之際，兒口未哺，乳頭汁脹滿，其汁灑然射出，充入兒眼亦能生此爛濕，若充射面部則能生疵濕瘡癢。大抵此三症通號曰胎風赤爛。孰知內有三因之由，血露不淨與乳充射，宜碧天丹洗，胎毒者須再服三黃丸。忌口。其兒亦用三黃湯熏洗，點以時藥可也，服宜小防風湯、小承氣湯、小菊花膏、導赤散，此數方隨冷熱用之，或童子患眼者，治法亦用此數方加減，點用時藥。</p>
<figure>
<img data-orig-src="urn:270:05312.jpg" alt="胎風赤爛圖">
</figure>
<p><u>小防風湯</u>　此方治小兒胎風赤爛，小兒眼生翳。</p>
<p>大黃　梔子　甘草　赤芍　歸尾　防風　羌活</p>
<p>上等分。水煎食後服。</p>
<p><u>小承氣湯</u></p>
<p>大黃　薄荷　杏仁　蟬蛻　甘草　羌活　天麻　當歸　赤芍藥　防風</p>
<p>上水煎服。</p>
<p><u>小菊花膏丸</u>　治小兒風毒眼。</p>
<p>黃連　枯黃芩　大黃　干菊花　羌活　蒼朮　荊芥　防風</p>
<p>上為細末，煉蜜為丸。每服四五十丸。或為膏。</p>

<h2>小兒疳傷</h2>
<p>小兒疳傷之症，富貴之家，多生是疾，蓋因父母過愛之由也。小兒如草木之萌芽難受風日寒露之欺，且小兒五臟六腑未實，氣血柔弱，怎禁油膩、煎炒及諸般葷腥。或一周半載，縱口味食糖甜之物，及鵝鴨雞豬牛羊等肉；或飯方了，又哺以乳；或乳方飽，又與其飯，此出於父母至情。富貴之家，有是症焉，或貧賤之家，亦有是症何也？一食諸物不消不化先傷於脾，致腹脹，午後發熱，至夜半方退，日久頭髮稀疏，轉作泄瀉頻頻，瀉甚則渴，至傷肝膽，眼之白仁鮮紅，羞明怕日，漸生翳膜，遮瞞黑珠，或突起如黑豆如香菰之狀。治法：先治內，後治外。用雞卵入輕粉一二分，使君子仁一個半，蔥珠幾顆，濕綿包煨與吃，宜空心連吃五七彈止。又宜煮羊肝露宿蘸夜明沙吃，或煮豬肝亦可。切宜忌口葷腥。其白膜用陰一陽七藥調乳點，煎胡宣二連服，側柏葉熏洗，若疳傷肝膽，眼珠突出或瞎盡，為不治之症，不獨瞎眼，甚至傷命。若聲啞口乾，手腳俱腫，十死八九。</p>
<figure>
<img data-orig-src="urn:270:05313.jpg" alt="小兒疳傷圖">
</figure>
<p>問曰：小兒疳傷眼目，疼痛羞明不開，烏睛上青翳如黑珠子，或白膜遮睛者何也？答曰：此因飲乳之際，好食果子雜物油膩及熱毒物，多使脾胃生疳，或瀉泄不止，夜間潮熱，久則疳蟲傷肝，上攻眼目，初覺紅澀羞明，急療。若烏睛上變成有黑翳如珠，泄瀉不止者，多是不治。宜服除熱飲等方。</p>
<p><u>五疳丸</u>　治小兒疳眼，面瘦皮黃，羞明怕日，食乳不消。</p>
<p>綠礬（成堁浣淨）　密陀僧（制過）　夜明砂（各一兩）</p>
<p>上為末，用蒸棗肉，搗前藥末為丸，如黍米大。每服三四十丸，量兒之大小，空心米湯下。</p>
<p><u>除熱飲</u></p>
<p>大黃　知母　防風　黃芩各兩　黑參　茺蔚子　菊花　木賊（各一兩半）</p>
<p>上水煎，食後服三貼，用雞蛋一個，使君子仁三個，輕粉二分，合研末入蛋內煨熟，空心服，至二三個即去疳蟲，後服五疳丸。</p>
<p><u>五疳丸</u></p>
<p>胡黃連（五錢）　牛黃（一錢）　密陀僧（一兩）　夜明砂　綠礬（三兩）</p>
<p>上用棗肉為丸，綠豆大。空心服三十丸，米湯送下。</p>
<p><u>蕪夷丸</u>　治小兒五疳。</p>
<p>蕪夷　黃連　神麯　麥芽（炒）</p>
<p>上各等分為末，麵糊為丸，綠豆大。每服十丸至十五丸，米湯下。</p>
<p><u>五疳陳皮湯</u>　寒熱往來，薄荷湯下。</p>

<h2>風弦赤眼</h2>
<p>問曰：人之患眼，兩瞼時常赤爛者何也？答曰：大人患者，因脾土蘊積濕熱，脾土衰不能化濕，故濕熱之氣相攻，傳發於胞瞼之間，致使羞明淚出，含在胞瞼之內，此淚熱毒，以致眼弦赤爛。治法：春夏爛者為熱爛，服用三黃湯，洗用散、金錢湯，有瘀血宜劆洗，與服瀉脾湯；秋冬爛者為冷爛，又曰迎風灑淚，洗用碧天丹，點用重藥，瞼厚劆洗之，後宜火烙之，小兒患者，因母胎中受熱，或落地之時，惡露入目，沐浴不淨，拭之未乾，卻感外傷風邪，使邪入目，亦生此疾，治之小兒服黃耆湯，大人服茶調散，熱甚洗金錢湯，風甚洗碧天丹，先劆洗後服藥。</p>
<figure>
<img data-orig-src="urn:270:05314.jpg" alt="風弦赤眼圖">
</figure>
<p><u>黃耆湯</u></p>
<p>黃耆　車前子　細辛　黃芩　五味子　蒼朮　黃連（各一兩）</p>
<p>上各等分，水煎服。</p>
<p><u>茶調散</u>　即川芎茶調散。方在前充風淚出症內。</p>
<p><u>三黃湯</u>　在胬肉攀睛症內。</p>
<p><u>棉里散</u>　在癢極難忍症內。</p>
<p><u>碧天丹</u></p>
<p><u>金錢湯</u>　治年久弦爛。</p>
<p>古錢（即老銅錢生鏽者，用七個）　黃連（研末，二錢）　白梅乾（五個，梅自落者為白梅）</p>
<p>上將此三味，用老酒二小盞，於瓷罐內煎至半盞，至夜時冷可洗用，不過三四次即愈，日二次。</p>
<p><u>爛弦火穴法</u></p>
<p>魚尾二穴　睛明二穴　上迎香二穴　攢竹一穴　太陽二穴</p>
<p>爛弦風之症，因脾胃壅熱，久受風濕，更加吃諸毒物，日積月累，致成風爛。胞瞼之內變成風痘，動則發癢，不時因手拂拭，甚則連眼眶皆爛，無分春夏秋冬皆如是，眵淚滿腮，有不近人手之怕。治法：翻轉眼瞼，利洗瘀血二三度，或小鋒針針出瘀血亦可，若因摩引有紅筋者，宜老醋燒爐甘石淬七次，加以陰丹量輕重搽點眼弦，或吹點眼內無妨。忌動風動血之物，不食可也。</p>

<h2>肝風目暗疼痛</h2>
<p>此症肝風目暗者，乃是肝腎虛勞，肝氣不足，血虛故也。不時疼痛，舉發無時，痛則惟眼珠墜痛，頗有赤澀淚出，看物依稀，眼前多見花發數般，或黃或白或黑，見一物如見兩般形狀不清，療治恐損眼也。此症實有內外相兼病也，非徒治外，而不治內曷濟哉！內則白蒺藜散，補外則陰二陽八丹，調乳汁點二三夜，點一次加片腦少許，洗以黃菊花、赤芍藥、側柏葉、秦皮、白芷、川芎。更加忌口，五辛諸熱物莫吃。</p>
<figure>
<img data-orig-src="urn:270:05315.jpg" alt="肝風目暗疼痛圖">
</figure>
<p><u>補肝活血散</u>　虛者宜服。</p>
<p>藁本　白芷　石決明　天麻　防風　細辛　羌活　黃耆　菊花　當歸　生地黃　黃連</p>
<p>上各等分。水煎服。</p>
<p><u>補腎丸</u>　治目暗疼痛，恐變成黑風內障，先宜服之。</p>
<p>澤瀉（去土）　細辛（去苗）　菟絲子（酒浸焙乾）　五味子（炒，各一兩）　茺蔚子（焙，二兩）　山藥（一兩五）　熟地黃（焙，二兩）</p>
<p>上為末，研勻，煉蜜為丸，如梧桐子大。每服二十丸，空心鹽湯下。</p>
<p><u>白蒺藜散</u></p>
<p>蒺藜　菊花　蔓荊子　草決明　甘草　連翹　青葙子</p>
<p>上各等分。水煎食後溫服。</p>

<h2>迎風灑淚症</h2>
<p>問曰：迎風灑淚者何也？曰：肝之虛也，是亦腦冷，迎風淚遂出，拭卻還生，夏月即少，冬月即多，後若經二三年間，不以冬夏皆有，此疾乃淚通於肝，肝屬木，目乃肝之外候，為肝虛風動則淚流，故迎風淚出，即服補肝散治冷淚。</p>
<figure>
<img data-orig-src="urn:270:05316.jpg" alt="迎風灑淚症圖">
</figure>
<p><u>補肝散</u>　治冷淚。</p>
<p>當歸　熟地黃　川芎　赤芍藥　防風　木賊</p>
<p>上等分。水煎服。</p>
<p><u>菊花散</u>　治熱淚。</p>
<p>菊花　川芎　木賊　香附子　夏枯草　羌活（各一兩）　草烏（一錢）　防風　甘草　荊芥　白芷（各五錢）</p>
<p>上為末。每服三錢，茶下，水煎亦可。</p>
<p><u>又方</u>　治實淚。</p>
<p>菊花　蒺藜　防風　羌活　川芎　夏枯草　木賊　甘草（各三兩）</p>
<p>上每服三錢，湯調下，水煎亦可。</p>
<p><u>川芎茶調散</u>　治熱淚。方在前充風淚出症內。</p>
<p><u>蒼朮止淚散</u></p>
<p>木賊　香附子　白芷　石膏　菊花　荊芥　白蒺藜　薄荷　當歸　白芍藥　川芎　蟬蛻夏枯草</p>
<p>上為末。每服三錢，食後茶清下，冬淚，酒下。</p>

<h1>卷下</h1>

<h2>紅霞映日</h2>
<figure>
<img data-orig-src="urn:270:05317.jpg" alt="紅霞映日圖">
</figure>
<p>問曰：人之患眼赤澀腫痛，年深有紅翳於烏睛上，濃淚如紅霞映日者何也？答曰：此乃三焦積熱，肝膈風熱上攻致然也。治之須用去風散血清涼之藥。</p>
<p><u>修肝散</u>　治肝氣不順。</p>
<p>防風　羌活　當歸　黃芩　生地黃　梔子　赤芍藥　甘草　藁本　大黃　白蒺藜</p>
<p>上各等分，水煎服。</p>
<p><u>撥雲散</u></p>
<p>黃芩　甘草　藁本　梔子　防風　菊花　密蒙花　連翹　桔梗　薄荷　赤芍藥　白蒺藜</p>
<p>上水煎，食後服。</p>
<p><u>加味修肝散</u></p>

<h2>早晨疼痛</h2>
<figure>
<img data-orig-src="urn:270:05318.jpg" alt="早晨疼痛圖">
</figure>
<p>問曰：早晨痛至午者何也？答曰：早晨至午皆陽旺，是虛陽攻上，頭風攻注，為諸陽之首，早晨人動則血運赤陽轉於首，與風氣相攻，早晨疼痛兩眥，宜服川芎散、白蒺藜散。</p>
<p><u>川芎散</u></p>
<p>石膏（二兩）　川芎（五錢）　白附子（一兩）　甘草　羌活　菊花　地骨皮</p>
<p>上等分，水煎服。</p>
<p><u>白蒺藜散</u></p>

<h2>午後疼痛</h2>
<figure>
<img data-orig-src="urn:270:05319.jpg" alt="午後疼痛圖">
</figure>
<p>問曰：人之患眼，午後至夜，漸加疼痛者何也？答曰：腦虛陽毒勝也。人身之血，午後行於陰道，至夜歸於肝之司，況腦虛陽毒勝，故午後漸疼痛昏花也。治之須用回陽湯，次以夜光柳紅丸。宜服：</p>
<p><u>回陽湯</u>　治眼珠淡紅，羞澀難開，宜服：</p>
<p>附子　人參　當歸　川芎　赤芍藥　茯苓　五味子　細辛　車前子　甘草</p>
<p>上每服棗子一枚，姜三片，水煎，飢服。</p>
<p><u>夜光柳紅丸</u>　治風濕傷肝。</p>

<h2>痛極憎寒</h2>
<figure>
<img data-orig-src="urn:270:05320.jpg" alt="痛極憎寒圖">
</figure>
<p>問曰：人之患眼痛而憎寒者何也？答曰：此乃氣衰血盛。經曰：血榮氣衛。足厥陰主血，榮陰也，衛為陽，今氣衰血旺，乃陽不勝陰，故痛極而惡寒也。宜服附子豬苓湯、白朮湯主之。</p>
<p><u>附子豬苓湯</u></p>
<p>白芍藥　甘草　羌活（各一兩）　附子　豬苓　加黃芩　柴胡</p>
<p>上每服五錢，水煎服之。</p>
<p><u>白朮湯</u></p>
<p>白朮　川芎　蔓荊子　沒藥　白蒺藜（去刺）　黃芩　防風　五味子　菊花　甘草　</p>
<p>上各等分，水煎服。</p>
<p>問曰：人之患眼痛而體熱者何也？答曰：衛屬陽而發熱，榮屬陰而發寒，榮衛為陰陽之道也，在上屬心肺，在下屬肝腎，今乃氣旺而血衰，是陽多陰少，故痛而體熱，是熱邪歸於心也。宜服洗心散、解明散。</p>
<p><u>洗心散</u></p>
<p>大黃　赤芍藥　荊芥　黃連　當歸　連翹　薄荷　甘草</p>
<p><u>解明散</u></p>
<p>當歸　赤芍藥　黃芩　菊花　柴胡　地骨皮　車前子　桔梗　生地黃　梔子　連翹（各一兩）</p>
<p>上各等分，水煎服。</p>

<h2>瞼停瘀血</h2>
<figure>
<img data-orig-src="urn:270:05321.jpg" alt="瞼停瘀血圖">
</figure>
<p>問曰：人之患眼瞼停瘀血者何也？答曰：此乃肝氣凝滯，脾胃停風濕也，或因天行赤眼之後，起之太早，不能調養，則使血凝於胞瞼之間，名曰瘀血。治之須番上下胞瞼，劆洗瘀血至盡，宜服退赤散、當歸散。</p>
<p><u>退赤散</u></p>
<p>大黃　黃芩　黃連　白芷　當歸　赤芍藥　梔子　桑白皮</p>
<p>上各等分，水煎服。</p>
<p><u>當歸散</u></p>
<p>當歸　生地黃　赤芍藥　川芎　甘草　菊花　木賊　黃芩　大黃　白蒺藜　木通　梔子</p>
<p>上各等分，水煎服。</p>

<h2>不赤而痛</h2>
<figure>
<img data-orig-src="urn:270:05322.jpg" alt="不赤而痛圖">
</figure>
<p>問曰：人之患眼，不癢不赤而痛者何也？答曰：氣腦虛也，榮衛不和，氣血凝滯亦有也。七情鬱結，肝風衝上，腦中風氣相攻，故不癢不赤而痛。初患急服藥，恐變為五風內障難治。宜服透紅勻氣散、川芎散、助陽和血湯。</p>
<p><u>透紅勻氣散</u></p>
<p>當歸　細辛　白芷　沒藥　澤蘭　甘草　茴香　天仙藤　厚朴　乳香　肉桂　黑牽牛　生地黃　羌活（各一兩）</p>
<p>上為末，每服三錢，熱酒調下。</p>
<p><u>川芎散</u></p>
<p>川芎　菊花　細辛　鼠黏子　石膏　殭蠶　蒺藜（各一兩）</p>
<p>上為末，每服二錢，米湯下。</p>
<p><u>助陽和血湯</u></p>

<h2>赤而不痛</h2>
<figure>
<img data-orig-src="urn:270:05323.jpg" alt="赤而不痛圖">
</figure>
<p>問曰：人之患眼，赤而不痛者何也？答曰：肝熱也。膀胱澀而不利，心火炎也，人身之血若河澤之流，此若川澤疏通，必歸於海，若膀胱壅塞，則洪水妄流，人之血順則經絡流利，上下相接，周而復始，逆則散漫妄行，上注於目，故赤而不痛也。今膀胱不利，心火上炎，肝經實熱，豈不若川澤之壅塞也。治之須用八正散、導赤散、順肝丸服之。</p>
<p><u>八正散</u>　導赤散</p>
<p><u>順肝丸</u></p>
<p>黃連　黃芩　當歸　蕤仁（三十粒）</p>
<p>上共為末，煉蜜為丸。</p>

<h2>左赤傳右</h2>
<figure>
<img data-orig-src="urn:270:05324.jpg" alt="左赤傳右圖">
</figure>
<p>問曰：左赤傳右何也？答曰：此陰經火熱也。陽中行陰肝也，陰中行陽心也，邪熱攻積於肝也，肝邪交於心，傳於目也，左目屬太陽，右目屬太陰，故左赤傳右，太陽經旺也。宜服三黃丸、洗心散。</p>
<p><u>三黃丸</u>　熱甚加黃柏</p>
<p><u>洗心散</u></p>
<p>大黃　赤芍藥　當歸　甘草　荊芥　麻黃　梔子（各一兩）</p>
<p>上各等分，水煎服。</p>

<h2>右赤傳左</h2>
<figure>
<img data-orig-src="urn:270:05325.jpg" alt="右赤傳左圖">
</figure>
<p>問曰：右赤傳左何也？答曰：此陰經火旺。脈有陰經及陽絡皆屬於肺，氣者肺之精也，故右赤傳左，乃肺經邪熱，陰絡火旺，宜服瀉肺散。一曰陰虛，命門火旺也。</p>
<p><u>瀉肺散</u></p>
<p><u>桑白散</u>　治肺氣壅塞，邪熱上攻眼目，白睛腫脹，日夜痛，心煩悶。</p>
<p>桑白皮　元參　升麻　杏仁　旋覆花　赤芍藥　菊花　葶藶　防風　黃芩　枳殼　甘草（炙，各一兩）</p>
<p>上每服水一鍾半，姜三片，煎至八分，食遠溫服。</p>

<h2>胞腫如桃</h2>
<figure>
<img data-orig-src="urn:270:05326.jpg" alt="胞腫如桃圖">
</figure>
<p>問曰：人之患眼，胞瞼壅腫如桃者何也？答曰：此乃脾肺之壅熱。邪客於腠理，致上下胞腫如桃，痛澀淚出，不絕之注。桃目治之，用桃葉烘熱熨其腫處，宜服此散清涼散、羌活除風湯、蟬化散主之。</p>
<p><u>此散清涼散</u></p>
<p>升麻　赤芍藥　川芎　柴胡（各三兩）　元參　黃芩　荊芥　甘草　白朮　梔子　赤茯苓　乾葛　草決明</p>
<p>上共為末，每服六錢，水煎服。</p>
<p><u>羌活除風湯</u></p>
<p>羌活　獨活　川芎　桔梗　大黃　地骨皮　黃芩（各一兩）　麻黃　蒼朮　甘草　菊花　木賊</p>
<p>上水煎服。</p>
<p><u>蟬花散</u></p>

<h2>視物不真</h2>
<figure>
<img data-orig-src="urn:270:05327.jpg" alt="視物不真圖">
</figure>
<p>問曰：人之患眼，視物不明，如紗遮睛何也？答曰：此血衰氣旺。血為營氣為衛，衛為陽而氣清，榮為陰而氣濁，《素問》曰：清氣為天，濁氣為地，清陽發腠理，濁陰走五臟者，心肝脾肺腎也。眼有五輪內屬五臟，腎屬於水輪為瞳仁，腎水衰不能濟於肝木，使肝木血衰，不榮於眼目，故睛少短，不能久視；腎衰不為心火交濟，故心火上炎，眼目必熱，則看物不準。今腎水衰乃虛陽攻上，肝血衰故目不得血，豈非血衰而氣旺也。服駐景丸補腎，四順涼肝散。</p>
<p><u>駐景丸</u></p>
<p>川椒（去目，一兩）　楮實子　五味子　枸杞子　乳香　人參（各一兩）　菟絲子　肉蓯蓉（各五錢）</p>
<p>上煉蜜為丸，鹽湯下。</p>
<p><u>四順涼肝散</u></p>
<p>荊芥　川芎　當歸　防風　赤芍藥　甘草　漢防己</p>
<p>上各等分，水煎溫服。</p>

<h2>室女逆經</h2>
<p>問曰：人之患眼，女子逆經，血灌瞳仁，滿眼赤澀者何也？</p>
<figure>
<img data-orig-src="urn:270:05328.jpg" alt="室女逆經圖">
</figure>
<p>答曰：此乃室女或肥壯婦女血熱經閉，過期不行，則血逆行於上，注於目，灌於睛外，皆紅色，或烏睛上起如胬肉。治之切不可鉤割，只用下氣破血通經之藥，其血翳自退。宜服調經散、破血紅花散、順經湯、導赤散。</p>
<p><u>調經散</u></p>
<p>香附米　當歸尾（各一兩）　大黃（蒸，五錢）　黃芩（二兩）　黃連　生地黃　赤芍藥　川芎　羌活　梔子　薄荷　木賊　蘇木　紅花　甘草（以上各一兩）</p>
<p><u>破血紅花散</u>　治室女逆經，眼疼痛，生血翳包睛。</p>
<p><u>順經湯</u>　能通經，行血止痛。</p>
<p>當歸尾　川芎　枳殼　小茴香　柴胡　陳皮　玄胡索　白芍藥　青皮　香附子　桃仁　紅花　肉桂　熱甚加黃連、黃芩。</p>
<p>上各等分，水煎食後溫服。</p>
<p><u>導赤散</u></p>
<p><u>沒藥散</u></p>

<h2>血室澀痛</h2>
<figure>
<img data-orig-src="urn:270:05329.jpg" alt="血室澀痛圖">
</figure>
<p>問曰：婦人遇行經之際，眼目澀痛者何也？答曰：肝虛也。凡婦人稟受虛者，眼中原有病根，若遇行經之際，去血過多，肝經愈加虛損，故使眼目轉加疼痛，腫澀難開，頭痛眩暈，生翳於黑睛上，或如粟米，或如花翳白陷者，皆因肝衰虛也。宜服當歸補血散、煎以九一丹。</p>
<p><u>當歸補血散</u></p>
<p>當歸　川芎　白芍藥　防風　細辛　菊花　甘草　車前子　蒺藜　白朮　羌活　茺蔚子　薄荷（各一兩）　大黃（五錢）</p>
<p>上每服八錢，水煎入酒三盞，溫服。</p>
<p><u>八物湯</u>　治虛損血枯，上攻眼目。</p>
<p>黃耆　茯苓　熟地黃　川芎　當歸　人參　菊花　白芍</p>
<p>上每服，半飢溫服。</p>

<h2>白睛黃赤</h2>
<figure>
<img data-orig-src="urn:270:05330.jpg" alt="白睛黃赤圖">
</figure>
<p>問曰：白睛漸漸黃赤者何也？答曰：酒毒也。酒能發陽，過飲無度，脾經受濕，傷肝膽，助火，火傷於肺經，白仁屬肺，故白睛黃赤者酒之過也，引血傷於肝，肝受其血熱，自上朝於目，目受其酒之熱毒灌注睛輪黃赤。宜服黃連解毒散，服數帖之後，點以清涼散。</p>
<p><u>黃連解毒散</u></p>
<p>黃連　黃芩　黑參　龍膽草　荊芥　梔子　天花粉　茵陳　生地黃　車前子　桔梗　連翹</p>
<p>上每服水煎，加童便三盞，溫服。</p>
<p><u>清金涼肝散</u></p>
<p>黃連　黃芩　梔子　連翹　葶藶　桑白皮　麥門冬　天花粉　赤芍藥　乾葛　荊芥　杏仁　青皮　甘草</p>
<p>上水煎，加蜜一盞入內，煎一沸，食後溫服。</p>

<h2>患眼頭痛</h2>
<figure>
<img data-orig-src="urn:270:05331.jpg" alt="患眼頭痛圖">
</figure>
<p>問曰：人之患眼，偏正頭痛者何也？答曰：風毒甚也。頭風在右者屬痰屬熱，用蒼朮、半夏，熱用酒製黃芩；在左屬風及血虛，風用荊芥、薄荷，血虛者用芎、歸、芍藥、酒製黃柏，此三症看而用之有驗。治法：痛甚者酒調散表之；熱痛者，石膏散、清空散、川芎茶調散；冷痛者酒調散、川芎散、神清散主之；風毒作痛，菊花散、如神散主之，不必點丹。</p>
<p><u>酒調散</u>（下桑螵蛸的）</p>
<p><u>灸穴</u></p>
<p>百會一穴　神牕四穴　臨泣二穴　聽會二穴　耳尖二穴　風池二穴　光明二穴　太陽二穴　率骨二穴</p>
<p>定髮際並點各穴法則（南筠參入。偏則，灸一邊痛處）：前眉心平以墨點記；以草比同身寸三寸，自眉心比至草盡處是前髮際，亦以墨點記；又大杼骨上一點，以前草三寸盡處，亦點記，是後髮際；又將草自前髮際比至後髮際，平折摘去一節，又將草均分作六折，摘一折止存五折，以此草，自前髮際比至草盡處，是百會穴；又以百會穴為中，四邊各開二寸半，乃神牕穴也。</p>
<p>灸耳尖穴（即率骨穴）　將耳折轉，尖上比寸半，盡處是率骨穴（考過同）。</p>
<p>臨泣穴　以瞳仁對眉尖上點為記，以草自點，比上三寸半是臨泣穴。</p>
<p>光明穴　對瞳仁上眉中，是光明穴。</p>
<p>攢竹穴　眉頭兩陷中，是攢竹穴。</p>
<p>睛明穴　在目內大眥外畔肉上，陷宛中。</p>
<p>頰車穴　在耳下曲頰端，陷中。</p>
<p>風池穴　在後髮際，陷中。</p>
<p>肝腧穴　在第九骨下，各開寸半。</p>
<p>天府穴　在胸兩腋下，三寸宛宛中。</p>
<p>聽會穴　在耳下前陷中，開口取之。</p>
<p>耳門穴　在上耳前起肉，當耳缺。</p>
<p>魚尾穴　在眥橫紋盡處。</p>
<p>太陽穴　在外眥五分，是。</p>
<p><u>石膏散</u></p>
<p>石膏（五錢）　麻黃（一兩）　何首烏（五錢）　乾葛（八錢）</p>
<p>上用水煎，食後服。</p>
<p><u>清空散</u></p>
<p>川芎（五錢）　柴胡（七錢）　黃連（炒）　防風（去蘆）　甘草（炙）　羌活（各一兩）　梔子（兩半）黃芩（炒一半，酒製一半，三兩半）</p>
<p>上為細末，每服一錢。熱酒內入茶少許調如膏，臨臥抹口內，少用白湯下。如頭疼每服加細辛二錢。如太陰脈緩有疾，名痰厥頭疼，加羌活、防風、川芎、甘草、半夏（一兩五錢）。如偏正頭痛服之不愈，減羌活、防風、川芎一半，加柴胡一倍。如發熱惡寒熱而渴，此陽明頭痛，只服白虎湯加香白芷。</p>
<p><u>白虎湯</u></p>
<p>知母　石膏　甘草　加香白芷</p>
<p>上各等分，入粳米三十粒，水煎服。</p>
<p><u>川芎茶調散</u>　治諸風上攻頭目、偏正頭痛、熱頭風。</p>
<p>薄荷（八錢）　防風（一兩五錢）　細辛（一兩）　羌活　白芷　甘草（各二兩）　川芎　荊芥（各四兩）</p>
<p>上為末，每服三錢，蔥白茶調湯溫服。常服清頭目。</p>
<p><u>芎藭散</u>　治冷頭風。</p>
<p>石膏（二錢五分）　草烏（一分五釐）　芎藭（二分）　薄荷（二分）　白附子（二分）　甘草（一分）　白芷（三分）　細辛（一分）　仙靈脾（二分）</p>
<p><u>神清散</u>　治冷頭風。</p>
<p>枳殼　白芷　石膏　甘草　細辛　麻黃</p>
<p><u>菊花散</u></p>
<p><u>如聖散</u></p>
<p>白芷　川烏　防風（各一兩）　細辛（二分半）　雄黃（二分）　草烏（炮過去皮，兩頭尖）</p>
<p>上為末，溫酒調下，二日服一次。</p>
<p><u>通頂散</u>　治一切頭風。</p>
<p>川芎　白芷　穀精草　藜蘆　防風　薄荷　牙皂　蔓荊子　細辛　蒲黃</p>
<p>上為末，口含水㗜之，吹入鼻內亦可。</p>
<p><u>雄黃丸</u>　治偏正頭痛。</p>
<p>全蠍　雄黃（各二錢）　盆硝（一錢五分）　乳香　沒藥（各二錢）　薄荷　川芎（各一錢）　冰片（一分）</p>
<p>上為末，口㗜水搐，吹鼻內，日二次。</p>
<p><u>貼諸般疼痛眼方</u></p>
<p>赤芍、蒲黃與鬱金，芙蓉研末拌均勻，朱缺土螺緊薑汁，若然常痛只擦睛。痛甚，加白芷、南星、無名異。血見熱，久不開，加生川烏等分為末，熱水調搽眼眶四圍幹了再換。</p>
<p><u>羌活除風湯</u></p>

<h2>眼能遠視不能近視</h2>
<p>問曰：能遠視不能近視者何也？答曰：氣旺血衰也。經云：近視不明，是無水也。治宜六味地黃丸，加補腎丸，諸補陰藥皆可主之。</p>
<figure>
<img data-orig-src="urn:270:05332.jpg" alt="眼能遠視不能近視圖">
</figure>
<p><u>六味地黃丸</u>　治腎虛、眼不奈視、神光不足。</p>
<p>熟地黃　澤瀉　白茯苓　牡丹皮　山萸　山藥　一方加川芎、當歸、蔓荊子。</p>
<p>上為末，煉蜜為丸，如桐子大，每服三十丸，空心服，不必點丹。</p>

<h2>能近視不能遠視</h2>
<p>問曰：能近視，不能遠視者何也？答曰：血虛氣不足也。經云：遠視不明，是無火也。治初起者宜服地芝丸、千里光散、菊花散，隨人氣血虛實加減，諸補藥皆可用。</p>
<p><u>地芝丸</u></p>
<p>甘菊花　枳殼（各一兩）　生地黃（四兩）　天門冬（四兩，又加麥門冬亦可用）</p>
<p>上為末，煉蜜為丸，每服三十丸，空心鹽湯下。</p>
<p><u>千里光散</u></p>
<p>菊花　千里光　甘草（各等分）</p>
<p>上為末，每服三錢，夜間臨臥，用茶清調下。</p>
<p><u>菊花散</u></p>
<p>菊花（四兩）　甘草（五錢）　生地黃（四兩）　白蒺藜（去刺炒，二兩）</p>
<p>上為末，每服二錢，食後米泔水下。</p>

<h2>治小兒疳傷</h2>
<p>問曰：小兒三五歲，身如癆瘵，面色萎黃，眼內紅腫或突者何也？答曰：脾胃受傷，五臟火旺，名曰疳傷也。治宜退熱，用寒涼劑；潮熱用胡宣二連湯；有蟲使君子湯；收功用五疳丸；點用清涼散。若至胃氣下陷泄瀉頻頻，無治法；眼珠或突起變白者，廢人耳。</p>
<p><u>二連湯</u></p>
<p>胡黃連（五分）　宣黃連（一錢）　成童子者倍之</p>
<p>上為末，用蜜水調服，或以末服亦妙，熱甚加銀柴胡。</p>
<p><u>使君子湯</u>　能殺疳蟲。</p>
<p>使君子（三個）　輕粉（一分）　蔥珠（數顆）</p>
<p>上使君子、輕粉二味為細末，入雞蛋一個攪勻，以濕紙包七重煨熟蛋，息火氣，空心與吃，連吃四五個蛋止，不可多用。</p>
<p><u>五疳丸</u></p>
<p><u>豬肝散</u></p>
<p><u>駐景補腎明目丸</u>　治肝腎俱虛，瞳仁內有淡白色，昏暗漸成內障，服能安魂穩魄，補血氣虛散。</p>
<p>五味子　熟地黃（酒蒸妙）　枸杞子　楮實子（酒浸）　肉蓯蓉（酒蒸焙）　車前子（酒洗）　石斛（去根，各一兩）　青鹽（另研，一兩）　沉香（另研，五錢）　磁石（火煨醋水飛過）　菟絲子（酒浸另研，各一兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服七十丸，空心鹽湯下。</p>
<p><u>救苦湯</u>　治熱症，用裹不能退，熱亦赤。</p>
<p>桔梗　連翹　紅花　細辛　歸身　甘草（炙）　蒼朮　龍膽草　羌活　升麻　柴胡　防風　藁本　黃連　生地黃　黃芩　知母　川芎　赤芍藥</p>
<p>上姜三片，蔥三根，食後溫服。</p>
<p><u>決明子散</u></p>
<p>黃芩　甘菊　木賊　草決明　石膏　赤芍藥　川芎　羌活　甘草　蔓荊子　石決明</p>
<p>上各等分為末，每服三錢，水一盞，姜三片，煎至七分，食後服。</p>
<p><u>貼諸般赤眼方</u>　治眼赤腫不開者。</p>
<p>黃柏　薑黃　南星　草烏　黃連</p>
<p>上等分為末，姜自然汁，調貼兩太陽穴，一二次痛止。如有赤障起亦可貼；打傷赤腫不開加芙蓉葉、綠豆粉調貼，同蔥搗貼亦妙。</p>
<p><u>清涼消毒膏</u>　敷諸熱眼。</p>
<p>薄荷葉　芒硝　大黃　細辛　雄黃　黃柏</p>
<p>上等分為末，水調塗之效。</p>
<p><u>經驗洗眼散</u>　洗時眼熱眼。</p>
<p>大黃　山梔子　防風　薄荷　川芎　羌活　甘草</p>
<p>上等分，用水煎熏洗。</p>
<p><u>洗眼湯泡散</u></p>
<p>當歸梢　赤芍藥　黃連　杏仁</p>
<p>上為細末，每日二次，用水湯泡洗。</p>
<p><u>酒煎散</u>　治眼有風熱，赤澀痛，宜服。</p>
<p>防風　防己　甘草　荊芥　當歸　赤芍藥　牛蒡子</p>
<p>上等分，用好酒煎，食後服。</p>
<p><u>酒調散</u>　治白仁腫痛可服。</p>
<p>槐花　梔子　牛蒡子　防風　蛤粉</p>
<p>上共為末，水煎，食後入酒少許調服。</p>
<p><u>大黃當歸散</u>　治眼壅腫，瘀血凝滯不散，攻充生翳，宜服。</p>
<p>歸尾（酒洗）　川芎（各一兩）　菊花（三兩）　大黃（酒炒，五錢）　黃芩　蘇木　梔子（酒炒，各一兩）紅花（五錢）</p>
<p>上等分，照加減，用水煎，食後服。</p>
<p><u>加味湯泡散</u>　洗眼方。</p>
<p>歸尾　赤芍藥　黃連　杏仁　加防風（各一兩）　銅青（二錢）　薄荷葉（三錢）</p>
<p><u>〔三淚〕</u>　一曰冷淚，二曰熱淚，三曰眵淚。</p>
<p>一冷淚，不赤不痛，無翳無膜，凡早起迎風有淚，或至秋迎風有淚，其淚自出，病在肝也。</p>
<p>二熱淚，如糊黏下與上瞼皮，有紅有腫，眼罔不見日，夜見燈火淚湧出，病在心也。</p>
<p>三眵淚，如糊黏兩眼弦，赤腫生胬肉，病在肺也。</p>
<p><u>冷淚用，肝經止淚方：</u></p>
<p>當歸　青鹽　地黃　木賊</p>
<p><u>熱淚用方：</u></p>
<p>荊芥　梔子　黃芩　黃連　木賊　地黃　夏枯草</p>
<p><u>眵淚方：</u></p>
<p>桑白皮　夏枯草　川芎　木賊　葶藶　麥冬　梔子</p>
<p><u>治上實下虛血貫瞳睛方</u></p>
<p>防風（二錢）　羌活　白芍藥（各兩半）　荊芥（二錢）　生熟地黃（各兩半）　粉草（五錢）　當歸（二錢）川芎（四錢）　菊花（二錢）　加茯苓</p>
<p>上為末，水一鍾入當土地黃同煎，溫服，忌一切毒物。</p>
<p><u>川芎丸</u>　治頭風冷淚。</p>
<p>川芎　細辛　白朮　甘菊　白芷</p>
<p>上為細末，蠟丸如黍米大。夜臥一丸，日中一時辰換一丸。荀牧仲嘗謂予曰：有人視一物作兩物，醫者作肝氣有餘，故見一為二，教服補肝氣藥皆不效此何疾也？予曰：孫真人云，目之繫上屬於腦後，出於項中，邪中於頭，逢身之虛，其人沉則隨目系入於腦，轉則目系急，急則目眩以轉，邪中其睛，所中不相比則睛散，睛散則歧，故見一物為兩物也。後令服驅風入腦藥則愈。</p>
<p><u>加減駐景丸</u>　治肝腎氣虛，視物䀮，血少氣多。</p>
<p>車前子（略炒，二兩）　當歸（去尾）　熟地黃（洗，各五錢）　枸杞子　川椒　楮實子（無翳不用）五味子（各一兩）　菟絲子（酒煮焙，半斤）</p>
<p>上為細末，蜜水煮糊丸，如梧桐子大，每服三十丸，空心或酒或鹽湯下。</p>
<p><u>撥雲散</u>　能散風毒，退翳障，及赤爛弦者。</p>
<p>羌活　防風　川芎　白蒺藜　荊芥　蟬蛻　甘菊花（各一兩）</p>
<p>上為細末，每服二錢，食後，桑白皮煎湯調服。</p>
<p><u>瀉膽散</u>　治瞳仁幹缺內障。</p>
<p>玄參　黃芩　地骨皮　麥門冬　知母（各一兩）　黃耆　茺蔚子</p>
<p>上每服水煎，食後溫服。</p>
<p><u>天門冬飲子</u>　治轆轤轉則外障。</p>
<p>天門冬　茺蔚子　知母（各二兩）　五味子　防風（各一兩）　人參　茯苓　羌活（各兩半）</p>
<p>上每服水煎，食後溫服。</p>
<p><u>補言方</u>　所著法最奇，云眼癢流淚，或生翳或赤痛並皆治之。</p>
<p>上用宣州黃連稿碎末，蕤核仁去皮，研為膏等分和合，取無所病干棗三枚，割頭少許留之卻去核，以二物滿模於中，卻將割下棗頭依前合定，以少棉裹之為薄膏，則以茶甌量水半碗於銀罐器內文武火煎，取一雞子大，以棉濾待冷點眼，前後試數人皆應，食翳家用亦多得效，故附之萬不失其驗。</p>
<p><u>補陽湯</u>　治陽不勝其陰，乃陰盛陽虛，則九竅不通，今青白翳見於大眥及足太陽、少陰經中郁遏，足厥陰肝經氣不得上通，故目青白翳內阻也。當於太陽、少陰經中九原之下，以監府中陽氣衝天上行，此乃先補其陽，後於太陽標中標者頭也，泄足厥陰肝經火也，上下伏於陽中，乃陰治也。《內經》云陰盛陽虛，則當先補其陽，後泄其陰，此法是也。每日侵晨，以腹中無宿食，服補陽湯，臨臥服益陰丸。若天色變大寒大熱並勞役，預日飲食不調，精神不足，乃先補其陽，氣上升，通於肝經之末，利矣。</p>
<p>人參　熟地黃　黃耆　白朮　甘草　白芍藥　羌活　獨活（各一兩）　澤瀉　陳皮　防風（各五錢）　知母（炒）　歸身（酒製去蘆）　白茯苓（去皮）　生地黃（炒，各三錢）　柴胡（去苗，三兩）　肉桂</p>
<p>上同為粗末，每服半兩，水三盞，煎至一盞，去渣，空心宿食盡消服。</p>
<p><u>知母飲子</u>　治花翳多年不退。</p>
<p>知母　茺蔚子（各三兩）　防風　細辛　桔梗　茯苓　大黃　芒硝（各一兩）</p>
<p>上每服水一碗，煎至五分，食後溫服。</p>
<p><u>開明丸</u>　治遠年近日，翳障昏盲，寂無所見，一切目疾。</p>
<p>熟地黃（酒浸，一兩半）　菟絲子　車前子　麥門冬　蕤仁（去皮）　決明子　地膚子　茺蔚子　枸杞子（去心）　黃芩　五味子　防風（去蘆）　澤瀉　杏仁（炒去皮尖）　細辛　青葙子　葶藶　官桂　羊肝（須用白羊者肝，薄切片焙乾作末；或只以水煮爛研為末，作丸；或少則以蜜漬之）</p>
<p>上為細末，糊丸如梧桐子大，每服三十丸，熱水下，日三服，但忌生薑、糟酒、炙煿等物。</p>
<p><u>磨光散</u>　治諸風攻眼，磨翳障，除昏暗。</p>
<p>防風　羌活　菊花　草決明　蟬蛻（去足）　蛇蛻（剪碎和麻油炒）　甘草（炙）　沙苑蒺藜（形如羊腎者，慢火略炒）　石決明（揚碎研細，以水飛過，各五錢）</p>
<p>上為細末，每服一錢半，食後麥門冬煎湯調服。</p>
<p><u>密蒙花散</u>　治冷淚昏暗。</p>
<p>密蒙花　菊花　蒺藜　石決明　木賊（去節）　白芍藥　甘草（各五錢）</p>
<p>上為細末，每服一錢，清茶調下。服半月加至二錢。</p>
<p><u>決明散</u>　治眼見黑花不散。</p>
<p>決明子　甘菊花（各一兩）　防風（去蘆）　車前子　芎藭　細辛　梔子仁　玄參　蔓荊子　白茯苓　山茱萸（各一兩半）　生地黃（三兩）</p>
<p>上為末，每服二錢，食後鹽湯調下。</p>
<p><u>羌活散</u>　治風氣攻眼，昏澀多淚。</p>
<p>羌活　川芎　旋覆花　天麻　藁本　防風　蟬蛻　甘菊花　細辛　杏仁（去皮，各二兩）　甘草（炙，五錢）</p>
<p>上為末，水煎食後服。</p>
<p><u>龍膽草散</u>　治上焦風熱，毒氣攻衝，眼目暴赤、磣痛羞明、多眵、迎風有淚、翳膜攀睛，胬肉隱痛，並皆治之。</p>
<p>龍膽草　木賊（去節）　草決明（微炒）　甘草（炙，各二兩）　附米（炒去毛）　川芎（各四兩）</p>
<p>上為末，每服二錢。麥門冬熱水入沙糖少許同煎，食後調服；或米泔汁調亦可。</p>
<p><u>地黃散</u>　治黑睛或白睛先赤而後癢、迎風有淚、隱澀不開。</p>
<p>生地黃（一兩）　芍藥（五錢）　當歸　甘草（各五錢）</p>
<p>上每服五錢，食後服。</p>
<p><u>搐鼻散</u>　治目風熱，赤腫難開。</p>
<p>雄黃　辰砂（各三兩）　細辛（五錢）　麝香　片腦（各一分）</p>
<p>上為細末，口含少許，搐鼻中。</p>
<p><u>瀉肝散</u>　治天行赤眼外障。</p>
<p>知母　桔梗　茺蔚子　大黃　玄參　羌活　細辛</p>
<p><u>車前飲</u>　治肝經積熱，上攻眼目，逆順生翳、血灌瞳仁、羞明怕日、多淚，宜服之。</p>
<p>車前子（炒）　蒙花（去枝）　草決明　羌活　白蒺藜（炒去角）　龍膽草　菊花　粉草</p>
<p><u>還睛補肝丸</u>　治肝虛兩目昏，睛衝下淚。</p>
<p>白朮　細辛　川芎　人參　決明子（微炒）　羌活（去蘆）　當歸（切焙）　白茯苓（去皮）　苦參　防風（去蘆）　官桂（去粗皮）　地骨皮　玄參　黃芩（去黑心）　五味子　車前子（炒）　菊花　青葙子　甘草（炙）</p>
<p>上為細末，煉蜜糊丸。每服三十丸，加四十丸，不拘時米飲下。</p>
<p><u>鎮肝丸</u>　治肝經不足，內受風熱，上攻眼目，昏暗癢澀難開、多眵灑淚、怕日羞明、時發腫赤，或生翳障澀，並能治之。</p>
<p>遠志（去心，三兩）　地膚子（二兩）　青葙子（炒）　白茯苓　防風　決明子　蔓荊子　人參（各二兩）　山藥　甘菊花　柏子仁（炒）　甘草（炙，各五錢）　細辛（一分）　玄參　車前子　地骨皮（各五錢）</p>
<p>上蜜糊丸，每服三十丸，食後米湯下，日三服。</p>
<p><u>羌活散</u>　鎮肝明目暴赤眼，一切內外障翳。</p>
<p>羌活　川芎　防風　旋覆花（各五錢）　楮葉　楮實　蒼朮（米泔浸去皮）　蟬蛻　木賊　菊花　桑葉　甘草（各二兩）</p>
<p>上為細末，每服二錢，清茶下，早晚食後，臨臥時各一服。合藥時不得犯鐵器，及不見火。忌面及酒諸毒物。</p>
<p><u>青葙子丸</u>　治肝虛積熱外障。</p>
<p>青葙子（二兩）　車前子　菟絲子　熟地黃　茺蔚子　五味子　細辛　防風　人參　澤瀉　茯苓（各一兩）</p>
<p>上每服三十丸，空心清茶下。</p>
<p><u>地黃丸</u>　治用力勞心，肝虛風熱攻眼，赤腫羞明、漸生翳膜，兼肝腎風毒熱氣上衝。久視目疼傷肝血，肝主血，勤書則肝傷而目昏，肝傷則目傷風而熱氣湊目，昏益甚。不宜專服補藥，當益血鎮肝，而目自明矣。</p>
<p>熟地黃（兩半）　菊花　防風　光明硃砂　羌活　桂心　沒藥（各五錢）　決明子　黃連（各一兩）</p>
<p>上為末，煉蜜為丸，每服二十丸，食後熱水服，日三次。</p>
<p>晉範寧嘗苦目痛，就張湛求方。湛戲之曰：古宋陽子少得其術，以授魯東門伯，次授左丘明。遂世世相傳，以及漢杜子夏，晉左太衝，凡此諸賢皆有目疾。得此方云：省讀書一，減思慮二，專內視三，簡外觀四，日起晚五，夜早眠六，凡六物熬以神火，下以氣飾，蘊於胸中，七日然後納諸方寸，修之一時，近其數其目睫遠視尺棰之餘，長服不已，非但明目亦能延年。審如是而行，可謂嘲戲亦有方也。</p>
<p><u>菊花散</u>　治肝受風毒，眼目昏蒙，漸生翳膜。</p>
<p>甘菊花（四兩）　蟬蛻（去足）　白蒺藜（炒焦去刺）　木賊（童便浸宿，曬乾）　羌活（各三兩）　荊芥甘草（各二兩）</p>
<p>上為細末，每服二錢，食後清茶調下。</p>
<p><u>湯泡散</u>　治肝虛，風熱攻眼，赤腫羞明，漸生翳膜。</p>
<p>杏仁　防風　黃連　赤芍藥　歸尾（各五錢）　銅青（一錢）　薄荷（三錢）</p>
<p>上剉碎，每服二錢，極沸湯泡，乘熱先熏後洗，冷則再換熱用，日兩三次。一方入白鹽少許，開目沃沸洗，鹽亦散血。</p>
<p><u>雷岩丸</u>　治男子婦人，肝經不足，風邪內乘，上攻眼目，淚出羞明怕日、多見黑花、翳膜遮睛、瞼生風粟、或癢或痛、隱澀難開，兼人患偏正頭風，牽引兩目，漸覺細小，視物不明，皆因腎水不能既濟肝木。此藥久服大修腎臟，能添目力於人。服藥多不知根源，往往不效。</p>
<p>枸杞子　菊花（各二兩）　巴戟（酒浸一宿，去皮心）　肉蓯蓉　牛膝（各一兩）　川椒（三兩，去目）　黑附子（青鹽二錢，以泔水同皂莢水浸去皮根）</p>
<p>上為細末，浸藥水煮麵糊為丸，每服十丸，空心溫酒下。</p>
<p><u>又方</u>　治肝虛，或當風眼淚，鎮肝明目。</p>
<p>上用臘月犍牛膽盛黑豆，不論多少浸，候百日開取食，後夜間吞三七粒，神效。</p>
<p><u>萬壽地芝丸</u>　治目能近視，不能遠視，食之能治風熱。</p>
<p>天門冬（去心）　生薑（焙，各四兩）　甘菊花（二兩）　枳殼（炒，三兩）</p>
<p>上為末，每服一百丸，食後茶清或酒下。</p>
<p><u>洗肝散</u>　治肝實眼。</p>
<p>人參　黃芩（去黑心）　赤茯苓　梔子仁　川芎　柴胡　地骨皮　菊花　桔梗　黃連　甘草</p>
<p>上每服入苦竹葉七片，食後服。</p>
<p><u>羚羊角散</u>　治肝臟實熱，眼目昏暗，時多熱淚。</p>
<p>黃芩　梔子　栝蔞　胡黃連　菊花　細辛</p>
<p>上每服加竹葉煎之。</p>
<p><u>竹葉湯</u>　治肝臟實熱，眼赤疼痛。</p>
<p>淡竹葉　黃芩　升麻　木通　車前子　黃連　玄參　芒硝　梔子　大黃（炒）</p>
<p>上食後服。</p>
<p><u>龍膽飲</u>　治肝臟實熱，眼赤腫痛。</p>
<p>龍膽草　梔子　山茵陳　防風　川芎　玄參　荊芥穗　菊花　楮實　甘草</p>
<p>上食後服。</p>
<p><u>決明子湯</u>　治肝臟實熱，目眥生赤肉，澀痛。</p>
<p>決明子（炒）　柴胡　黃連　竹葉　防風　升麻　細辛　菊花　甘草</p>
<p>上水煎服。</p>
<p><u>泄肝散</u>　治肝熱，赤眼腫痛。</p>
<p>梔子仁　荊芥　大黃　甘草</p>
<p><u>羊肝丸</u>　治肝經有熱，目赤睛痛，視物昏澀，及治障翳，青盲之眼。</p>
<p>羯羊肝（五兩，切片生用）　黃連（研為末）</p>
<p>上先將羊肝去筋膜，於砂盆內擂入黃連末杵和為丸，每服五十丸；不拘時，熱水送下。忌豬肉及冷水，一連作五劑瘥。昔唐崔承元內障喪明，……授此方。依方修合，服之眼復明朗。</p>
<p><u>助陽活血湯</u>　治眼發之後，熱壅甚，白睛紅，多眵淚，無疼痛，而隱澀難開。此因服苦寒藥過多，真氣不能通九竅也，故眼花不明。宜補陽和血，益氣眼中自然明朗，不必點丹。</p>
<p>柴胡　白芷　升麻　當歸　黃耆　防風　蔓荊子　甘草</p>
<p>上水煎，臨臥熱服，避風寒，忌食冷物。</p>
<p><u>甘菊花散</u>　治肝氣壅塞，翳障遮睛，隱澀難開。</p>
<p>菊花　木賊　防風　蒺藜　甘草　木香</p>
<p>上為末，每服一錢七分，不拘時，沸湯點服。</p>
<p><u>甘菊花湯</u>　治內外障翳，一切眼疾。</p>
<p>菊花　升麻　旋覆花　石決明　川芎　大黃（炒，各五錢）　石膏　羌活　地骨皮　木賊（炒）　青葙子黃芩　防風　梔子仁　草決明　荊芥　黃連　甘草</p>
<p>上為細末，每服五錢，水一碗，蜜一盞，煎至七分，食後溫服。</p>
<p><u>八子丸</u>　治風毒氣眼，翳膜睛不開，久新及內外瘀障。</p>
<p>青葙子　決明子　葶藶子　車前子　五味子　枸杞子　地膚子　茺蔚子　麥門冬（去心）　澤瀉　防風（去蘆）黃芩（各一兩）</p>
<p>上為細末，煉蜜和丸，每服二十丸，加至三十丸，茶清送下，溫米飲亦好，日進三服。</p>
<p><u>靈圓丹</u>　治男女攀睛翳膜，癢澀羞明，赤筋碧暈，內外障瘀，內風赤眼，並宜服之。</p>
<p>蒼朮（米泔浸，四兩）　川芎　柴胡　白附子　遠志（去心）　羌活　獨活　菊花　青皮　陳皮　荊芥　石膏　防風　青葙子　全蠍　仙靈脾（酥炙）　木賊（去節）　楮實　黃芩　甘草（各一兩）</p>
<p>上為細末，煉蜜，糊餅蒸熟為丸一錢重一個，食後荊芥湯，或酒或茶磨服，日進二丸，其功立驗。</p>
<p><u>羌活退翳丸</u>　一名地黃丸。治內障，右眼小眥青白翳，大眥微顯白翳，腦痛，瞳子散大，上熱惡寒，大便澀或時難，小便如常，遇天暖熱處，頭痛睛脹，能食，日沒後天陰則昏暗，此症亦可服，名滋陰地黃丸。</p>
<p>熟地黃（八錢）　生地黃（酒洗炒）　黃柏　當歸（酒製）　茺蔚子　丹參（各五錢）　知母（酒炒，三錢）　黑附子（炮）　寒水石（各一錢）　芍藥（一兩三錢）　防己（酒製，二錢）　牡丹皮　羌活　川芎（各三錢）　柴胡（五錢）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服五七十丸，空心白湯送下；如有宿食未盡，俟飢時服之，忌語言，隨後以食壓之。東垣《蘭室秘藏》方，去翳在大眥加葛根、升麻，翳在小眥加柴胡、羌活是也。</p>
<p><u>補腎丸</u>　治黑翳如珠，外障。</p>
<p>人參　茯苓　細辛　五味子　桔梗　肉桂（各一兩）　乾山藥　柏子仁（各二兩）　乾地黃（一兩五錢）　加知母、黃柏（二兩）　青鹽（一兩）</p>
<p>上為末，煉蜜和丸，每服三十丸，空心白湯下。</p>
<p><u>退熱飲子</u></p>
<p>防風　黃芩　桔梗　茺蔚（各三兩）　大黃　玄參　細辛　五味子（各一兩）</p>
<p>上為末，每服五錢，水一盞，煎至五分，食後服。</p>
<p><u>搜風湯</u>　治旋螺大起，外障。</p>
<p>防風　大黃　天門冬　五味子　桔梗（各一兩）　細辛　茺蔚（各三兩）　菊花　芍藥（各一兩半）</p>
<p>上每服五錢，水一鍾，煎至五分，食後服。</p>
<p><u>抽風湯</u>　治奚魁蜆肉，外障。</p>
<p>防風　桔梗　大黃　細辛　黃芩　玄參　車前子　芒硝（各一兩）</p>
<p>上每服五錢，水煎食後服。</p>
<p><u>摩風膏</u>　治鶻眼凝睛，外障。</p>
<p>黃耆　細辛　當歸　杏仁　防風　松脂　黃蠟（各一兩）　白芷　小麻油（各四兩）</p>
<p>上為末，煎成膏塗之。</p>
<p><u>補腎丸</u>　治眼暗浮花，恐變成黑風內障。</p>
<p>澤瀉　細辛　菟絲子（酒浸焙乾）　五味子（炒，各一兩）　茺蔚子（焙，二兩）　山藥（一兩五錢）熟地黃（焙，二兩）</p>
<p>上為丸，每服二十丸，空心鹽湯下。</p>
<p><u>磁石丸</u>　治雷頭風，變內障。</p>
<p>磁石（燒紅醋浸三次）　五味子（炒）　乾薑　牡丹皮　玄參（各一兩）　附子（炮，五錢）</p>
<p>上為末，蜜和為丸，每服十丸，食後清茶或鹽湯下。</p>
<p><u>瀉肝散</u>　治肝虛雀目，恐變成內障。</p>
<p>防風（去蘆）　黃芩　桔梗　芍藥　大黃（炒）</p>
<p>上每服入芒硝半字，臨臥溫服。</p>
<p><u>連柏益陰丸</u>　一名泄陰火丸</p>
<p>黃連（酒洗炒，一兩）　防風　五味子　甘草　羌活　獨活　歸尾（酒洗，各一兩五錢）　黃柏　細辛知母（各一兩）　石決明（燒存性）</p>
<p>上煉蜜為丸，如綠豆大，每服三十丸，漸加至百丸止，用清茶下。常服補陽湯，少服此藥，為不可勝，補陽恐妨飲食。</p>
<p><u>升陽柴胡湯</u>　升陽瀉陰，羌活柴胡補陽湯。</p>
<p>柴胡　羌活　獨活　甘草根（去梢）　歸身　熟地黃（酒炒）　楮實　人參　白茯苓　白朮　黃耆（各五錢）澤瀉　陳皮　防風（各三錢）　知母（三錢，酒浸，夏月加五錢）　肉桂（五分）</p>
<p>上剉碎，每服五錢，水二盞，煎至一盞，去渣稍熱服。仍合一料煉蜜為丸，食遠清茶下五十丸。每日與前藥各一服，如天氣熱加五味子三錢，天門冬去心五錢，更加楮實五錢。</p>
<p><u>桑白皮湯</u>　治目生花翳白點，狀如棗花。</p>
<p>桑白皮　木通　澤瀉　犀角　黃芩　甘草　玄參　旋覆花　川大黃（炒，各一兩）　菊花（一兩五錢）　甘草（炙，五錢）</p>
<p>上為細末，每服二錢，水一盞煎六分，連渣湯溫服。</p>
<p><u>枸苓丸</u>　治男子婦人腎臟虛耗，水不上升，眼目昏暗，遠視不明，漸成內障。</p>
<p>枸杞子（四兩）　白茯苓（去皮，八兩）　當歸（二兩）　青鹽（另研，一兩）　菟絲子（酒浸蒸，四兩）</p>
<p>上為細末，煉蜜和丸，每服七十丸，食前白湯下。</p>
<p><u>熟地黃丸</u>　治血弱陰虛不能養心，致心火旺，陽必盛，偏頭腫悶，瞳子散大，視物則花。理當養血涼血，益血除風，散火則愈矣。</p>
<p>熟地黃（一兩）　五味子　枳殼（炒）　甘草（炙，各三錢）</p>
<p>上為細末，煉蜜和丸，每服一百丸，食遠清茶送下，日進三服，忌食辛辣物，而助火邪，及食寒冷物損胃氣，藥不能上行也。</p>
<p><u>煮肝散</u>　治目生黑花，漸成內障，及開睛偏視，風毒攻眼，腫痛澀癢，短視倒睫雀目。</p>
<p>羌活（去蘆）　獨活（去蘆）　青葙子　菊花（各一兩）</p>
<p>上為細末，每服三錢匕。羊肝子一葉剉細，淡竹葉數片同裹，如棕子大，別用黑豆四十九粒，米泔一碗，銀石器內同煮，豆爛泔干為度，取肝細嚼，溫酒下；又將豆食，空心日午夜臥服。</p>
<p><u>芎藭散</u>　治目暈昏澀，視物不明。</p>
<p>白芷（一錢）　芎藭　地骨皮　荊芥穗　何首烏（去黑皮）　菊花　旋覆花　草決明　石決明（制不碎）　甘草（各一兩）　青葙子　蟬蛻（去足）　木賊草（各五錢）</p>
<p>上為細末，每服一錢匕，米泔水調下。</p>
<p><u>滌風散洗眼方</u>　治風毒攻眼，赤腫癢痛。</p>
<p>黃連　蔓荊子（各五錢）　五味子（二錢）</p>
<p>上剉細末，分三次，新水煎，濾清汁，以手撥洗效。</p>
<p><u>通頂散</u>　治風毒攻眼並夾腦風。</p>
<p>細辛（去葉）　香白芷　藿香葉（去土）　川芎　躑躅花（三錢）</p>
<p>上為細末，每用先含新汲水一口，然後挑少許搐在鼻內，以手擦兩太陽穴。</p>
<p><u>銅青方</u>　洗眼，治風弦毒眼。</p>
<p>銅青（黑豆大一塊）　防風（一兩）　杏仁（去皮尖，二個）</p>
<p>上各細切，於盞中新汲水，浸湯瓶中頓，令乘熱洗之；如痛者加當歸數片。</p>
<p><u>蟬殼散</u>　治眼目風腫，及生翳目等疾。</p>
<p>蟬蛻　地骨皮　黃連　牡丹皮　蒼朮（米泔浸焙）　白朮　菊花（各一兩）　龍膽草（五錢）　甜瓜子（三兩）</p>
<p>上為細末，每服一錢五分，荊芥煎湯送下，食後臨臥各一服。</p>
<p><u>涼膈丸</u>　治眼狀青色大小。</p>
<p>黃連（洗不見火）　黃芩　荊芥　龍膽草（各五錢）　蘆薈　防風（各一兩）　黃柏（去皮）　地膚子</p>
<p>上為細末，煉蜜為丸，每服二十丸，食後薄荷湯送下。</p>
<p><u>麥門冬散</u>　治血灌瞳仁，昏澀疼痛，及轆轤門，外障。</p>
<p>麥門冬　大黃　黃芩　桔梗　玄參　細辛　芒硝（各五錢）</p>
<p>上每服，水一鍾煎至七分，去渣下芒硝少許，食後溫服。</p>
<p><u>連翹飲子</u>　治目中惡翳與大眥隱澀小眥緊，久視昏花，近風有淚。</p>
<p>連翹　當歸　菊花　蔓荊子　甘草　柴胡　升麻　黃芩　黃耆　防風　羌活　生地黃</p>
<p>上等分，食後服。</p>
<p><u>調經散</u>　治室女月水停久，倒行逆上衝眼。先以光明散點；血膜不退，用珍珠散點。先以調氣，則血通矣。</p>
<p>烏藥　附米　陳皮　川芎　當歸　茯苓　防風　荊芥　升麻　乾葛　血竭　紫薇花　紅花　血不通加蘇木　氣不順加木香、沉香</p>
<p>上二香不過火，煎出藥後，將此二味香磨與藥同服；若經脈月流不斷，或因氣脹沖眼，眼珠腫痛翳膜不退，服天麻散。</p>
<p><u>天麻退翳散</u>　治垂簾翳障，昏暗不明。</p>
<p>當歸（好酒浸焙乾，一兩）　熟地黃（酒浸焙乾，一兩）　川芎（一兩五錢）　赤芍藥（熱水泡，二兩五錢）　白殭蠶（熱水泡過，洗去絲，薑汁炒，一兩）　蟬蛻（水泡，洗去頭足，五十個）　羌活　防風　荊芥　木賊（去根節，各一兩）　石決明（燒過存性，一兩）　白蒺藜（一兩五錢）　白芷（一兩五錢）　甘草（七錢）　麥門冬（二兩）　黃芩尾　羊角天麻（炒存性）　厚枳殼（炒）　蔓荊子（打少碎，各一兩）　菊花（一兩）　密蒙花（七錢）</p>
<p>共二十一味，每服蓮子三個，燈芯七根，水一鍾半，煎至八分，食後溫服；若眼紅加黃連。</p>
<p><u>酒煎散</u>　治眼赤色有氣熱，宜服；此方通治婦人赤腫下垂，初起服此。</p>
<p>漢防己　防風　甘草　荊芥　當歸　赤芍藥　牛蒡子</p>
<p>上酒煎，食後服。</p>
<p><u>大黃當歸散</u>　治眼壅腫，瘀血凝滯，攻衝生翳，宜服。</p>
<p>當歸　菊花　大黃（炒）　黃芩　紅花（炒）　蘇木　梔子（炒）</p>
<p>上煎服。</p>
<p><u>當歸薄梗湯</u>　治眼生翳，淚出羞明，發久不愈。</p>
<p>薄荷　桔梗　知母　黑參　赤芍藥　黃芩（酒炒）　生地黃　菊花　茺蔚子　當歸　桑白皮　防風　川芎　白芷　甘草</p>
<p>上淨水一鍾煎服。</p>
<p><u>黃芩白芷散</u>　治眼血翳，淚出羞明，發久不愈。</p>
<p>當歸　黃芩　防己　防風　川芎　白芷　蒺藜　石決明　草決明　桔梗　青葙　蒙花　茺蔚子　菊花　木賊　知母　赤芍藥</p>
<p>上為細末，食後清茶下。</p>
<p><u>黃風菊花湯</u>　治初起胬肉攀睛，急宜服之。</p>
<p>防風　黃連　桑白皮　赤茯苓　瞿麥　車前子　梔子　大黃　黃芩　細辛　桔梗　連翹</p>
<p>上水煎，半飢溫服。</p>
<p><u>加減當歸菊連湯</u>　治膜下垂，初起發，此方致效；如久病，此方收功。</p>
<p>當歸　白芷　赤茯苓　黃芩　赤芍　知母　桑螵蛸　生地黃　木通　連翹　麥門冬　菊花　防風　川芎　石膏覆盆子　茺蔚　甘草</p>
<p>上水煎，食後服。</p>
<p><u>蒼朮散</u>　治小兒痘瘡入眼，生翳膜，羞明怕日。</p>
<p>蒼朮　槐花　防風　乾葛　藁本　川芎　蛇蛻　枸杞子　黃芩（酒炒）　蒺藜　乳香（不見火藥煎成方下）　白菊花（家產）　蟬蛻　木賊　石膏　穀精草　甘草　沒藥（不見火，煎成藥傾碗內，同乳香一齊下服）</p>
<p>上為末，水煎食後服；大人水煎，小兒為末服之。</p>
<p>此治小兒疳眼，其症泄後眼不開，宜服此進賢方：</p>
<p>當歸　菊花　黃連（各五錢）</p>
<p>上為末，水一鍾入蜜一匙，煎三沸，食後服之。</p>
<p><u>小兒斑瘡入眼</u>　柴胡湯，又用茶調洗肝散，如赤眼用四物湯。</p>
<p><u>四物湯</u></p>
<p>赤芍藥　羌活　蟬蛻　木賊　黃芩　大黃　蒙花　粉草　桔梗　蒺藜　鬱金　當歸　防風　龍膽草　獨活　川芎石膏　川椒　菊花　草決明　車前子　穀精草　黃連　蒼朮　荊芥</p>
<p>上每服，燈芯十根，溫服。</p>
<p><u>六一丸</u>　治熱淚。</p>
<p>蛤粉　黃連　木賊　香附米</p>
<p>上為末，糊丸，茶送下。</p>
<p><u>通草散</u>　治風淚障翳。</p>
<p>赤芍藥　川芎　羌活　甘草　當歸　麝香</p>
<p>上為末，調勻為丸，如皂角子大，百沸湯泡，淚眼神效。</p>
<p><u>治眼赤腫方</u></p>
<p>大黃　荊芥　鬱金　薄荷　朴硝　痛加沒藥</p>
<p>上為末，用薑汁調，或赤加蔥根捶爛，和藥貼太陽二穴。</p>
<p><u>治小兒眼不開方</u></p>
<p>用葶藶子為末，取豬膽調貼額上。</p>
<p><u>小撥雲散</u>　治男婦目澀痛爛，淚出羞明怕日，血灌瞳仁。</p>
<p>黃芩　甘草　梔子　大黃　芍藥　鬱金　龍膽草　羌活　蟬蛻　木賊　當歸　蒙花　蒺藜</p>
<p><u>洗心散</u>　治眼目腫痛難開，澀淚。</p>
<p>大黃（炒）　黃芩　梔子　甘草　黃柏　木通　菊花　赤芍藥　防風　荊芥</p>
<p><u>密蒙花散</u>　治久患內外障翳，羞明怕日，迎風灑淚，腫痛難開，胬肉攀睛，風熱氣障等病皆治之。</p>
<p>蒙花　威靈仙　草決明　羌活　黑附子　大黃　石膏　川椒（炒）　木賊　甘草　蟬蛻　獨活　楮實子　川芎　荊芥　車前子　防風　菊花　黃連　蒼朮</p>
<p>上燈芯煎服。</p>
<p><u>消風散</u>　治一切風毒上攻，頭目拘急鼻澀，男婦宜服。</p>
<p>藿香　白芷　全蠍　甘草　防風　青風藤</p>
<p><u>又方</u>　治前症，外感風邪，頭痛鼻塞流涕，眼目赤腫。</p>
<p>荊芥　甘草　羌活　防風　陳皮　川芎　蘇葉　蟬蛻　附米　升麻　麻黃</p>
<p>上姜三片，蔥三根，熱服，取汗為度。</p>
<p>治爛弦風　不間遠年近日，洗藥：</p>
<p>黃連　五倍子　蕤仁　當歸　明礬（焙）　銅青</p>
<p>上為細末，將小鐘張水入藥於內，飯上蒸過，藥水點洗爛處為妙。</p>
<p><u>治時行熱眼方</u></p>
<p>防風　川芎　生地黃　赤芍藥　梔子　龍膽草　蒼朮（浸炒）　甘草　荊芥　黃柏</p>
<p>上煎服。</p>
<p><u>爛弦風方</u></p>
<p>用白礬，光醋飛過，取無病婦人乳汁調，雞毛點搽之。</p>
<p><u>爛弦風，赤眼方</u></p>
<p>水銀（一錢）　銀硃（五分）　銅青（三分）</p>
<p>上姜包煨過，共為末篩過，點眼弦如神。</p>
<p><u>眼目頭痛消風散</u></p>
<p>藿香　川芎　甘草　人參　白茯苓　荊芥　逢州豆　甘草蠶　陳皮　蟬蛻　羌活　獨活　防風　加細辛、白芷、薄荷名川芎茶調散</p>
<p><u>點藥</u>　冷眼用。</p>
<p>火硝（水飛過曬乾，二錢）　爐甘石（煉過，二分），不開流淚風癢，一切治之。</p>
<p><u>熱眼方</u></p>
<p>硼砂（一錢，研細）　片腦（二釐，入前藥）</p>
<p><u>暴赤眼方</u></p>
<p>雞子（去黃用白，一個）　黃連（研細末，一錢，入雞子白內，紙封放爛泥中埋一日一夜，次早取出濾過點之）</p>

<h2>五臟要論</h2>
<p>心熱眼紅者，血熱則可用黃連、當歸尾、蘇木、紅花、赤芍藥之類；虛者癢痛本方；若虛此數味除之，加人參、細辛、沒藥、歸尾、熟地、茯苓之類。</p>
<p>肺熱火旺者，則可用山梔、桑白皮、地骨皮、黃芩、防風、天麥二門冬之類；虛則可加人參、沉香、黃耆、磁石、五味子之類；實者用葶藶子、連翹。</p>
<p>肝氣盛火旺者，則可用柴胡、羌活、青葙子、白芍藥、羚羊角；虛則除之，加熟地黃、當歸、川芎、楮實子、枸杞子之類；脾胃實者，則可用石膏、朴硝、黃芩、黃柏；虛則除之，可加白朮、蒼朮、枳殼、陳皮、半夏、人參之類。</p>
<p>腎熱相火旺者，則可用黃柏、知母、車前子、木通、滑石、瞿麥、萹蓄、大黃、朴硝之類；虛則大忌之，可加肉蓯蓉、五味子、磁石、菟絲子、乳香、川椒、青鹽、枸杞子之類。</p>
<p>夫審瞳仁之法，瞳仁開大者，忌辛辣之藥；瞳仁焦小者，宜寒涼辛辣則可也。開大者，以酸藥收之；焦小者，以辛藥散之。久注不開者，宜發之，久積宜行氣血為主。</p>
<p>養肝血還睛丸亦可用之。未成症主方秘要，服表裡不退，疼痛愈甚，用細辛湯。</p>
<p><u>明目細辛湯</u>　治眼赤痛、眉攢腫悶、鼻塞涕涶稠黏、大便秘結、羞明怕日、隱澀難開、睫成紉多眵黏。</p>
<p><u>助陽和血湯</u>　治陰陽不升降，作痛不時，隱澀有淚，眵蠹紅淚糊；或時發赤眼，涼藥不退者用。</p>
<p><u>當苦湯</u>　眼暴發熱，火旺苦痛不住，服利藥未效，有熱火退可用。</p>
<p><u>當歸龍膽湯</u>　治眼中黃仁生黃白翳，從下而上。此候多是火旺也，人若患此，此藥能瀉火退熱，又且能退翳消紅腫。</p>
<p><u>桑螵蛸酒調散</u>　治風熱里病雙解散，實熱里病。此藥治傷風頭疼及眼珠腫痛，或偏正，此是傷風寒，眼腫雖甚，其眼皮帶浮而軟，人多鼻塞聲重，眼羞明怕日，白仁雖虛壅而不蠹紅。如此狀者，用前二散表裡之，腫消痛止，用生地黃散、撥雲湯。變用又變，前方不可久服。</p>
<p><u>鬱金酒</u>　裡熱無表症，治一切實熱，其眼腫起如桃，有不近人手之怕，羞明怕日，或內壅突起，蠹紅淚出如湯，鼻涕溏流內生淡赤虛翳。如此狀者，其翳不能為害，熱去退翳即消。此藥通解之，痛止後用救苦湯，當歸龍膽收功。</p>
<p><u>酒調洗肝散</u>　經驗洗肝散　治一切熱眼，及赤腫難開，眼珠痛，白仁赤而痛，不虛可用止痛。生地黃散後用，功亦同。</p>
<p><u>當歸活血湯</u>　治一切羞明怕日者，頭痛雖甚，內不蠹紅，此樣眼多虛，或眼上珠生白陷翳者。此方可與蟬花散、密蒙花散相間服之效。</p>
<p><u>密蒙花散</u>　治一應體虛之人，無疼有羞明者，服涼藥不得，其眼羞明而內痛，白仁內隱紅，常流清涕淚，視物濛濛，此藥可用。日進二三服。決明子散、蟬花散此三方功亦同效。</p>
<p><u>省風湯</u>　治一切肝氣有餘，瞳仁鎖緊，或成幹缺，視物不能明，繚亂白仁淡紅，瞳仁焦小黃色，夜見五色烽光者。此方能除肝膽極熱。</p>
<p><u>久仙飲</u>　治年老之人，眼赤不退，帶紫紅白色。若有蠹紅者，以暴發客熱類推之。</p>
<p><u>洗肝散</u>　治眼肝氣有餘，風輪變色，焦枯或疼痛，外生赤翳。此方能除火退肝熱。</p>
<p><u>紫金丸</u>　治外障生云膜血翳，服涼藥不退，而不多痛者可用。</p>
<p><u>夜光柳紅丸</u>　治風毒上攻眼，虛腫，頗有紫紅或癢或痛，生翳年久，服諸藥不效可用。</p>
<p><u>修肝散</u>　治暴發眼，及發不時，疼痛甚者，熱服肝氣上升，淚出汪汪，內有鮮紅可用。至如痛止血散不用。</p>
<p><u>補肝重明丸</u>　治諸眼服涼藥表裡愈後失神光者，其眼無羞明，用之能補養肝血。還睛丸亦可用之。</p>
<p><u>當歸龍膽湯</u>　治眼中黃仁生白翳，從下而上。此候多是火旺也，人有此患，此藥瀉熱退火，用能退翳消紅腫。</p>

<h2>審症應驗口訣</h2>
<p>如男子婦人患偏正頭痛者，先審熱甚用雙解散二三帖，大通之後，服川芎茶調散加涼劑，點用九一丹。冷痛者用桑螵蛸酒調散，大通之後，用川芎散神清散主之，點用清涼散少加腦，入些姜粉，無不效矣。</p>
<p>烏輪赤暈、刺痛浮漿，此肝熱也。治法，宜用酒調洗肝散加麻黃、赤芍，或瀉肝散、修肝散；收功生地黃散；點用清涼間九一丹。</p>
<p>眼生清淚、枯黃繞睛，此肝虛也。治法　用止淚補肝散，點用九一丹；後服補腎丸。此乃滋母益子也。</p>
<p>瞳仁開大淡白偏斜者，此腎虛也。治方服補腎丸、補腎明目丸、駐景丸，點用九一丹。多服少點。</p>
<p>瞳仁焦小或帶微黃，此腎熱也。治法，先服五瀉湯著風之類，後收功用補腎明目丸，久服甚效。</p>
<p>瞳青胞白、癢而清淚、不赤不痛，是謂之風眼。治法，服羌活除風湯，點九一丹間二八，入些姜粉效。</p>
<p>烏輪突起、胞硬瞳紅、眵淚濕漿，裡熱則痛，是謂之熱眼。治法，用雙解散加涼大通之劑；瞳痛止用生地黃散，點用清涼散間九一丹點之，隨人治法用之。</p>
<p>眼渾如淚、胞腫而軟、上壅濛濛、酸渣微赤，是謂之氣眼。服桑螵蛸酒調散，後服明目流氣飲、當歸湯主之。</p>
<p>其或風與熱並，則癢而浮赤；風與氣搏，則癢澀昏沉。點用九一丹間二八丹，服羌活除風湯。</p>
<p>血熱交聚，故生淫膚粟肉紅縷偷針之類，服用瀉脾湯、瀉心湯主之，點用清涼散。有淫膚粟肉可劆洗至平，洗止。</p>
<p>眼熱經久，復有風冷所乘，則赤爛。點用清涼散，服用瀉心湯、洗肝散主之，洗用綿裹散，其效甚捷。</p>
<p>眼中不痛而赤，但為痰飲所注則作痛。服用半夏二陳湯，三四貼後，服明目流氣飲，不用點藥。</p>
<p>肝氣不順而挾熱，所以羞明。服用洗肝散二三貼加麻黃，後服密蒙花散五七貼，補腎主之，點用九一丹加清涼散，初不可重藥。</p>
<p>白睛帶赤或紅筋者，其熱在肺。服洗肺湯，除熱飲洗肝散，點用清涼藥九一丹。</p>
<p>上胞下瞼或目唇間如疥點者，其熱在脾。治法，服泄脾湯、泄脾除熱飲、三黃丸主之，可劆可洗。用清涼散點，有淚翳者九一丹點之。</p>
<p>因風則散之，九一丹入些姜粉；熱則清涼散點之；氣結則調順之，將前藥間點；因風者可用防風散、通聖散即名雙解散，後服羌活除風湯；熱者洗肝散、修肝散；氣結者服流氣飲、黃耆湯主之。</p>
<p>白陷魚鱗之症，多因肝腎俱實，血衰成陷。治法，服酒調散二貼後，服蟬花散、密蒙花散相間服之效。點用二八丹調乳汁點，間九一丹點之。</p>
<p>突起睛高，旋螺尖起，險峻利害之症也。又有一法，與他取平之效，將鋒針針入三分，以鳳屎點針口所，以毒攻毒，或陰丹蘸點亦可。先服鬱金酒調散四五貼後，可動針，此乃平之法，無光之效也。</p>
<p>又有一症，遞年月眼內癢極，秘曰諸痛為實，諸癢為虛。人之患眼，虛腫及眼眶骨，此痰飲為患。治法，用明目流氣飲加半夏、陳皮、厚朴三味，用姜二片同煎，連服四五貼，其痛即除。另將二陳湯丹藥亦可點用。治之隨輕重所施，治法在人意耳。</p>
<p>頭風：</p>
<p>冷痛　熱痛　風痛　痰厥痛（系偏風）　陽明頭痛</p>
<p>眼淚：</p>
<p>熱淚　冷淚　虛淚　風淚　濕淚</p>

<h2>審症秘論</h2>
<p>暴發眼者，審他是熱甚，用雙解散、救苦湯、當歸龍膽湯、修肝散、洗肝散、瀉肝散、鬱金酒調散。</p>
<p>有是風熱火病，服涼藥不退者，用明目細辛湯、助陽活血湯、紫金川芎茶調散、明目流氣飲、桑螵蛸酒調散。</p>
<p>有是久病血滯風甚，用當歸和血煎、神清散、沒藥散、捲雲湯。發歇無時用生地黃散、破血紅花散。</p>
<p>有是風毒為病，用蟬花散、如聖散、川芎茶調散、神清散、夜光柳紅丸。痰病用清熱、半夏、二陳湯之類，老痰用四生湯。</p>
<p>有是久病無表病里病，眼內淨了。用蟬花散、密蒙花散、決明子散、十味還睛丸。</p>
<p>若內病俱無，但是外病，可次第依法不須服藥，有翳只是去翳藥加減療之。</p>

<h2>辯眼經脈交傳病症論</h2>
<p>有人問於予曰：人之眼目，乃五臟六腑之精，苟有患傷於內腑，其理何哉？然則又有左病而不傳右，右病而不傳左，左右俱病，未審其詳，請而言之。予應之曰：剺非精於岐黃龍木之奧者，莫明乎此也。</p>
<p>夫眼者乃五臟之專精也，目者乃心之竅也，瞳仁者腎之精也，宗精之水所以不出行，血裹之，氣輔之，共湊於目。頭者諸陽之所聚也，足太陽膀胱之脈，起於目之銳眥，通頂入腦正屬目本，名曰眼系，督脈陽柔之會，首循風府而出，則入系腦則為目風。厥肝脈上出額督，會於巔頂，其別交者，從目系風相搏，故目𥉂瞴無所見，頂中風府兩筋之間，乃別陰陽交於目內銳眥，陰氣盛則目膜，陽氣盛則目瞑。病而不得臥者，衛氣不得入於陰，故陽氣滿而陰氣虛，故目不瞑而不得視者，衛氣流於陰不得於陽，陽氣虛，故目閉。故病猶有偏勝之理，且飲食之中有五味，天地之氣有六淫，人身之中有七情，皆能生病，更有賊微正邪之別。氣與味也皆無形之物，能傷於有形之質，何患不生於病。況眼科之中又有大方之不同，治之各有異，亦宜審其受病之因，視其內外淺深之症，假若一概治療，不無抱薪之患，良可惜哉！予因幼耽疾苦，求醫療治，迨今數年於是，熟玩諸家之書，可知玄妙之旨，訪尋師友廣博方書，採集百端，推原其本，凡有疑難之間，不恥下問，務究奧旨，子能潛心注意，雖不登岐黃龍木之岸，亦可謂醫中魁者也。</p>
<p>凡看眼法，先審瞳仁神光，次看風輪，再察白仁，四辨胞瞼二眥，此四者眼科之大要。看眼之時，令其平身正立，緩緩舉手，輕撐開眼皮，先審瞳仁，若有神光則開合猛烈，次看風輪若展縮雄健，則魂魄無病，三察氣輪無病澤潤光滑，四辨其肉輪若好，則開合有力，二眥不蠹赤矣。</p>
<p>凡察翳法，久年翳膜能去者，其翳浮虛爛紅，其眼不張，若近年發歇眼，其翳紅白色，浮厚者有些紅未退，有淚者易散，看其中多有死釘不能去，若散翳其紅霞色者易退，若因頭痛起因有死白翳者難退。又有一樣厚翳，去盡其眼全痊，黑睛有些微云，薄薄帶淡白色不能去，名日冷翳。</p>
<p>凡烙法，將烙時可安心定志將眼撐開，用濕紙將四眥好肉處用濕紙敷定，只留要烙處許大，將匙燒紅，於細綿上開過即烙之，不可傷四弦，烙乾用和解藥外敷之，使其拔出火氣。</p>

<h2>用夾法</h2>
<p>夾時先翻轉看上下胞瞼，有瘀血處可劆，劆至平，血盡方可夾上夾子，其夾不可高大，只在重弦上，仔細看其睫毛，轉又要平正，方可著力扯緊，其夾肉處用小艾團灸三個，不可多灸，灸多恐潰夾決目，夾肉若未乾，可再催用淡淡丹藥，去其餘翳，此眼縱有厚翳，不可用重藥。</p>
<p>用金針撥光了之時，將蓉花葉末調水護之，一日一換，宜服謹翳丸等方。</p>
<p>凡撥金針者，看人肥瘦，就手撥之，肥狀者先宜服退氣散血，和其五臟，後可撥之。</p>
<p><u>退氣散血方</u></p>
<p>大黃（末，二錢五分）　當歸（末，二錢五分）　穿山甲（一分二釐）　連翹（二分二釐）　白芷（一分二釐）乳香（一分二釐）　沒藥（一分二釐）</p>

<h2>開金針法</h2>
<p>凡開金針，須擇吉日，靜風日暖，須待日午之時，……然後方靜坐片時，定自己之氣息，令人取木凳一條，以綿被貼軟同患者坐於凳被上，騎馬對坐面與我對平，勿使高低，緩緩用銅簮腳於開縫處點計之，次看鋒針口，與瞳仁三分之下，要憑口訣使高低遠近，方將鋒針令其入眼，轉看數遍足了，方按鋒針三四下，看透了即取起，有些血出，用綿紙拭乾其血後，方用地方令針緩緩拈訊若透此針，取出，然後依法，用天字針，再進取翳，其翳若好撒開裹針，緩緩收下，停針畢方落在後去紙，舉物與他看之，即見，不可與他人久視，即用濕紙重重封固，太陽用水膏塗之，至次早方開看，再換濕紙再封，如此七日，斜臥不可憑他翻身轉側，七日後方開封與起無妨矣。……方取出金針，看其翳不浮起，即用濕紙封片時，方去紙，舉手動之。</p>

<h2>眼科用藥次第法</h2>
<p>夫眼疾之醫，雖分症類，而其中病源，不可不深思而熟視也。夫疾有久新，症有輕重，須分表裡、風熱、氣熱、濕熱、實熱。而新病者，皆因內積熱毒之輕，循經絡而上頭目，遇外風寒所觸而發者，必須先發表風邪，後乃遠其火熱，黃連、黃芩以瀉火，防風、薄荷以疏風，兼以麻黃、蒼朮之類。如無風寒所逼，惟血壅上，宜用大黃、當歸、防己墜下之劑。久眼昏蒙所曉，宜用當歸、地黃、防風、羌活之類，有翳膜加木賊、蒺藜、蟬蛻、決明等劑。如胞閤眼皮不開此乃寒邪之氣傷胞，宜行氣之藥，青皮、黃耆、香附兼以風藥佐之。血滯者宜調血，赤芍、歸尾、鼠黏。如頭痛者羌活、白芷、蔓荊，藁本、川烏之類，佐以風藥防風、荊芥、玄參、柴胡、細辛用之必當也。如眼眩暈昏瞶十分作痛，但虛腫痛及眼眶，此乃痰飲所患，宜服二陳湯兼佐以風藥。如腫脹暗痛熱淚難禁者，苦寒之藥宜然，但視人之形氣虛實，體之盛衰，務究其內外淺深，不可專書全在人之活法。方書者乃前人立法之規，使後無失其序，如歸於症者則緩可以尋方，倘暴發者變動於頃刻，苟不明於藥性寒溫，病勢之緩急，而使之療，非徒無益而反害之矣。予掇拾諸家之方，贅成歌括六十餘首，此平昔應驗之神方也，若用意熟記，則不思忖而瞭然矣，若能知抽添之工夫，加減之意趣，真可謂眼科中之至寶哉。後之學者，當以予之用心，珍之重之，俾術不輕而身不賤矣。內障一書，乃心授之法，故不形於紙筆，如若泛泛，豈仁人君子哉！</p>

<h2>金針眼科經驗方藥詩括</h2>
<p>酒調散歸及麻蒼，赤芍菊甘羌大黃，茺蔚桑螵共十味，暴風腫痛用之良。</p>
<p>酒煎散內歸芎苓，赤芍木通山梔仁，龍膽大黃鬱金入，防風加上效如神。</p>
<p>酒調洗肝有黑參，知母大黃芩桔梗，梔子朴硝共七味，睛痛淚出用之痊。</p>
<p>四順當歸與大黃，更兼甘草赤芍良，不拘疾眼經年久，一服交君便可康。</p>
<p>八正車前與瞿麥，萹芎滑石山梔仁，大黃木通同甘草，燈心竹葉效如神。</p>
<p>雙解防風將軍芍，薄荷芎歸草朴硝，梔翹梗芩膏麻黃，荊芥白朮滑石良。</p>
<p>當歸活血煎黃耆，薄荷蒼朮麻黃宜，川芎羌活菊花等，熟黃荊芥沒藥醫。</p>
<p>大黃當歸散菊花，薄荷黃芩川芎佳，壅腫血凝生赤翳，頻頻服藥再連渣。</p>
<p>七寶洗心當歸芍，黃連荊芥及麻黃，梔子大黃共七味，眼疼赤痛正相當。</p>
<p>九仙飲治眼通紅，赤芍當歸與木通，白芷黃芩同甘草，菊花荊芥與川芎。</p>
<p>治眼散有密蒙花，歸菊荊蟬枝子加，木賊防風甘草術，更兼赤白芍無差。</p>
<p>蒼朮散能止昏淚，夏枯木賊甘香附，蒺藜白芷芎防風，蟬蛻天蠶蔓荊助。</p>
<p>修肝散有當歸芩，薄荷連翹山梔仁，甘草防風加蜜烹，肝虛目暗用之靈。</p>
<p>瀉肝散內有桔梗，大黃知母與黑參，朴硝黃芩連十味，眼痛暴發霎時平。</p>
<p>加味修肝散芥歸，菊花羌活甘蒺藜，大黃連翹薄荷梗，赤芍黃風莫改移。</p>
<p>涼隔連翹梔子仁，大黃甘薄朴硝芩，更加黃連赤芍藥，服之熱毒化為塵。</p>
<p>茶調散內菊薄荷，羌活川芎荊芥和，石決石膏甘草少，防風木賊去沉疴。</p>
<p>眼中淚出如何得，四物補肝加木賊，蒼朮防風白蒺藜，川芎羌活甘草炙。</p>
<p>明目細辛藁本芎，紅花歸蔓荊防風，生黃椒茯麻根入，羌活蒙花共奏功。</p>
<p>救苦湯內桔翹辛，羌活川藁柴歸身，龍膽知母荊防草，黃芩連柏生地升。</p>
<p>撥雲菊花及蟬蛻，白蒺川芎荊芥配，羌活防風桑白皮，掃除熱翳真無偽。</p>
<p>肝風沖眼淚昏蒙，羌活黃耆及撫芎，甘草蒺藜荊芥穗，何愁翳膜障雙睛。</p>
<p>密蒙花散有菊花，木賊石決明莫差，白芍甘草白蒺藜，細研為末用清茶。</p>
<p>連翹散內有黃芩，羌活菊花草決明，白蒺密蒙龍膽草，更兼甘草去羞明。</p>
<p>川芎羌活治頭疼，藁本細辛白芷增，更有蔓荊防風佐，教君一服便安寧。</p>
<p>暖肝湯內有防風，茺蔚藁甘及川芎，五味細辛知母等，黃芩若治最多功。</p>
<p>省味修肝用當歸，赤芍防風白蒺藜，蟬蛻大黃川芎使，更加木賊是其宜。</p>
<p>復明散內石決明，茺蔚青葙甘蔓荊，木賊人參夏枯草，白芷芎蒺草決明。</p>
<p>人參羌活散獨活，甘草茯苓桔梗芍，枳殼天麻地骨皮，柴胡前胡川芎藥。</p>
<p>洗心散內七般藥，甘草當歸同芍藥，荊芥蒼朮麻大黃，眼腫服之如捻卻。</p>
<p>退赤散內有大黃，黃連白芷赤芍詳，當歸蒺藜蔥去白，何愁淚出白如湯。</p>
<p>小菊花散只五味，蒺藜木賊五味是，羌活為末用茶調，專治羞明並澀淚。</p>
<p>防風湯內用蟬蟲，薄荷當歸及川芎，羌活大黃梔子草，熱沖眼目並頭風。</p>
<p>蟬花散內菊芩風，羌活山梔白蒺芎，木賊蔓荊決明子，穀精荊芥草密蒙。</p>
<p>省風湯內有羚羊，羌活黑參麻大黃，知母當歸升桔梗，密蒙甘草是奇方。</p>
<p>補血當歸熟地黃，白朮芎芷白芍防，車菊辛羌甘白茯，桔梗茺蔚蒺大黃。</p>
<p>活血當歸散木通，黃芩生地與撫芎，白蒺當歸生梔子，赤芍甘草菊花同。</p>
<p>破血當歸劉寄菊，玄明赤芍紅蘇木，黃芩歸尾羌連翹，木賊甘草生地熟。</p>
<p>菩薩散藥只五味，甘草防風白蒺藜，蒼朮荊芥治羞明，效若靈丹故名是。</p>
<p>明目流氣飲牛蒡，荊玄梔藜細防風，甘草大黃再添入，眼中赤澀不來攻。</p>
<p>蔓荊散內有黃耆，甘草人參白芍宜，黃柏倍加將酒炒，昏蒙虛氣用之宜。</p>
<p>川芎茶調散薄荷，白芷防風甘草和，更有細辛兼羌活，荊茶同煎用者多。</p>
<p>助陽和血補氣湯，甘草當歸白芷防，蔓荊升麻柴胡使，黃耆加上水煎嘗。</p>
<p>省風百解荊芥參，甘草陳皮白茯苓，殭蠶芎藭防風藿，蟬蛻厚朴羌活葶。</p>
<p>散熱飲子用黃連，防風羌活黃芩兼，大黃當歸生地入，腫痛暴發即時痊。</p>
<p>龍膽散有干菊花，川芎香附木賊加，草決明中加甘草，迎風冷淚卻無些。</p>
<p>芎藭散內荊芥多，甘草菊花及薄荷，蒼朮一味米泔浸，研為細末任調和。</p>
<p>神仙退翳羌活歸，甘草蒙花荊賊藜，地骨栝蔞蔓枳實，椒連蟬菊薄蛇皮。</p>
<p>當歸龍膽升麻草，赤芍柴胡五味藁，羌活石膏同黃耆，黃柏連翹酒炒好。</p>
<p>洗心眼散治退紅，羌活升麻草木通，梔子大黃赤芍藥，黃芩九味湊防風。</p>
<p>偏正頭痛用清空，黃連酒炒及川芎，柴胡羌活黃芩草，細辛少使配防風。</p>
<p>菊花茶調散川芎，荊芥細辛草防風，白芷薄荷羌活劑，殭蠶蟬蛻治頭風。</p>
<p>打撲疹痘紅花散，升麻生地羌活草，大黃連翹赤芍藥，更加當歸尾國老。</p>
<p>小防風湯梔子仁，羌活甘草當歸身，赤芍大黃水煎服，小兒熱毒用之神。</p>
<p>小承氣湯薄荷蟬，甘草杏仁及防風，羌活天麻當歸是，大黃赤芍水煎同。</p>
<p>菊花膏內用大黃，荊芥黃芩術草蒼，羌活防風黃連佐，細辛為末蜜調嘗。</p>
<p>糖煎散有龍膽草，防己防風同甘草，赤芍川芎荊芥歸，服之奇效如神好。</p>
<p>蟬花無比有茯苓，羌活防風當歸身，赤芍蒺藜同甘草，川芎蒼朮草決明。</p>
<p>退翳撥雲黃連芩，菊花龍膽羌活荊，大黃石膏甘白芷，石決防風草決明。</p>
<p>以上六十一方　隨手作效。</p>

<h2>丹藥和論</h2>
<p>對交丹四六丹，可吹久年翳膜。虛厚未堅實者，不見人物者，可三日一次，九一丹解之，其翳即消散，如水厚薄至效，如是對交四六不可用也，後可用珍珠散間九一丹點之。</p>
<p>三七丹施於年久眼，凡經曰翳不拘下生上，上生下，厚極者可二日一次，以淡淡丹和解之。</p>
<p>二八丹理三五年發歇眼，有紅絲，略有疼痛癢澀，共翳帶紅白色，可一夜一次，輕藥和之。</p>
<p>九一丹治眼時常發歇，眼目生翳，或疼痛可點，若無疼痛只用清涼散間九一丹點之，若有淡翳似飛雲霧者，只用碧雲丹清涼散吹點。</p>
<p>又有一切冷眼，不受寒藥者，只用清涼散少加片腦入些姜粉時時點之效。</p>
<p>又有一切眼不受納藥者，看去翳若去得，將各樣膏丹少少調乳汁，時時少少點之，更不受者，用淨三黃陽丹，不用腦點亦能消翳，吹雲膏亦可主之。</p>
<p>又有一樣受不得煎藥，只將陽丹不用腦射硼砂點之。</p>
<p>又有一樣眼，諸丹藥點不服，將雞子檳榔磨冷水，將雞翎點，亦能退翳。</p>
<p>又有一樣眼，不用丹藥，將青鹽及食鹽火燒過，冷水調，雞毛點，亦能退翳。</p>
<p>又有一樣眼，人丟刺在眼不得出者，將蔥捶碎敷之，又將五倍子捶碎敷刺亦出，又將蜣螂即噴屎蟲研碎敷之，刺亦出。</p>
<p><u>煉爐甘石浸藥水方</u></p>
<p>防風　黃芩　大黃　當歸　龍膽草　黃柏（各一兩）　生地黃　羌活　川芎　白芷　細辛　菊花（各八錢）　麻黃　赤芍藥　蒼朮　木賊（各六錢）　黃連（一兩五錢）　荊芥（五錢）　山梔子　薄荷（各七錢）　草烏（以下新增）　柏子仁　柴胡　密蒙花</p>
<p>上將二十四味俱選新鮮的，細切如麻豆，一咀用冷水四五碗銅盆內浸三四夜，若春夏浸二宿，秋五冬七日，常以手擦過，使其味出，用細布濾過之。</p>
<p><u>煉爐甘石法</u></p>
<p>其甘石須選帶隔，又要輕或帶淡天青色可也。打碎用燒過銀鍋內貯滿，一仰一蓋，頓丹爐內煉至極紅透鈐出淬藥水內，其吃過藥傾撇，仍將甘石置火內，依前淬，如此者三。凡一次須煉及紅，不透恐甘石變色黑淬三次已定，將甘石打通碎，又用新藥水浸一宿去火毒，次日傾盡藥水曬乾，研末，有石者作一處，無石者作一處，異研，又可將藥水濕過曬過，研細，極細絹篩過，即為陽丹。</p>
<p><u>修合陰丹法</u></p>
<p>煉過甘石（四兩）　銅青（七錢五分）　硇砂〔白的（二錢半）〕　青鹽（二錢半）　密陀僧（一錢）</p>
<p>上將此五味，用龍膽草及黃連二味浸過的水，通將五味和勻，濕過⿰石禹碗內，研得如泥，至膩方可，曬乾再研，方入別藥。又入六味：</p>
<p>黃連（為末，二錢五分）　細辛（末，去葉，二錢）　草烏（末，二錢）　薄荷葉（八分）　乳香（制過，一錢五分）　沒藥（制過，一錢，合乳香製法在後）</p>
<p>上將此六味研至極細膩，方入別諸藥。</p>
<p>後藥味：</p>
<p>硼砂（明者，一錢五分）　膽礬（三分）　雄黃（要黃明者，七分）　輕粉（七分）　黃丹（五分）（以水淘去沙將沉丹曬乾）　硃砂（五分）　牙硝（五分）　海螵蛸（火煅味淡白色者不用，七分）　白丁香（即小雀屎立軟者，五分）　血竭（五分）　明礬（火枯，一錢）　姜粉（薑汁濾細曬乾，七分）　片腦（少許）　麝香（少許）</p>
<p>除片腦及麝香隨時加減外，其餘藥二十三味，通共一處，並研至細膩，細絹篩過，貯作一罐，謂之捲雲丹即陰丹也。惟此一料捲雲丹以陰陽動靜用之，或可加可減，斟酌膜之厚薄，翳之遠近。假如年久翳膜厚者，加以陰丹減陽丹，若使翳膜薄者，或乍發不久者，又加以陽丹減以陰丹，外障諸症不出此藥，百試百驗，無不效，真乃濟世之靈寶也。</p>
<p><u>珍珠散</u>　治一切膜障眼。</p>
<p>乳香（制過）　沒藥（制過）　珍珠（制過，以上各一錢五分）　硼砂（枯過，一錢）　輕粉（一分半）　麝香（七釐）　銅青（五分）　牙硝（二分半）　硃砂（一錢五分）　片腦（二分）　血竭（五分）　膽礬（二分半）　枯礬（二分半）　白丁香（二分）　蕤仁（新竹筒盛，於文武火煅去殼油，筒兩頭亦要紙封固，取出去白皮，乃去油研用，二錢）　琥珀（買時以一點研，將簮腳點放火上燒，化為青煙者，氣做松香，其色蠹紅乃為真也，八分）</p>
<p>上精製為極細末，配童子小便浸三黃水，煮甘石為陽丹，聽用。</p>
<p>怕日羞明多淚，並皆治之。卻將黃連末、熊膽、牛黃、蕤仁四件，用長流水一大碗，於瓷器內熬至半碗，用重棉布濾去渣，量意入蜜二兩，文武火熬至紫色，蘸起牽絲為度，不可太過不及，將方龍腦硼砂收貯在瓷器封固，土埋七日出火毒，用時將銅簮蘸點於眼內少許，日點三次，忌動風之物。</p>
<p><u>靈妙應痛膏</u>　此膏治眼疼痛，暴發不可忍者。</p>
<p>蕤仁（去皮油，一百粒）　硃砂（飛，一錢）　片腦（一字）　乳香（如棗核大）　硼砂（一錢）</p>
<p>上將前藥俱為細末，調蜂蜜為膏子，以銅簮點之，一二次其痛即止。</p>
<p><u>神仙碧霞丹</u></p>
<p>銅綠（一兩）　當歸（二錢）　沒藥（制過，二分）　麝香（二分）　馬牙硝（五分）　乳香（制過，五分）黃連（末，二錢）　片腦（二分）　白丁香（二分）　一方無後二味。</p>
<p>上將前藥俱研為末，熬黃連膏子為丸，如龍眼核大，用時將一丸涼水化開，日點二次，六次效。</p>
<p><u>吹雲丹</u>　治目中淚及迎風，並羞明怕日，常欲閉目在暗室，塞其戶牖，翳成歲久遮睛，此藥多點神效。</p>
<p>細辛　升麻　蕤仁（各二分）　青皮　連翹　防風（各四兩）　柴胡（五分）　甘草　當歸（各六錢）　揀黃連（三錢）　荊芥穗（絞取濃汁，一錢）　生地黃（一錢五分）</p>
<p>上將㕮咀，除連翹外，用淨水二碗，先熬余藥，重半碗入連翹同煎，至大盞許去渣，入銀石器內，文武火熬至滴水內成珠不散為度，煉熟蜜少許熬用之。</p>
<p><u>搐鼻散</u></p>
<p>黃柏　黃芩　黃連</p>
<p>煉煮，罐內三黃同便以干為度，取出，又以龍膽草水洗浸一宿曬乾，甘石即三黃丹聽用，以前珍珠散藥末為極細末，再不必用制，配合三黃聽用。</p>
<p><u>珍珠散</u>　此能退翳，翳厚者點之，合此藥硼砂要枯過用。</p>
<p>一倍三黃丹　一倍珍珠散　腦麝硼砂臨時放量度下　如要輕些　一倍三黃丹　一倍珍珠散　腦麝硼砂如前再要輕些陽丹一倍　三黃丹一倍　珍珠散一倍　上三樣共合腦麝硼砂亦要。</p>

<h2>合丹日切要法</h2>
<p>其合丹之日，要天清日朗，更擂諸藥要細，篩而又篩方妙。</p>
<p>九一丹　九匙陽丹　一匙陰丹</p>
<p>二八丹　八匙陽丹　二匙陰丹</p>
<p>三七丹　七匙陽丹　三匙陰丹</p>
<p>四六丹　六匙陽丹　四匙陰丹</p>
<p>以上丹藥俱腦麝硼砂枯煅過，臨時量度加減放。</p>
<p>假如二八丹陽丹八匙陰丹二匙，用片腦三釐，枯過硼砂四釐，射香二釐。</p>
<p>九一丹陽丹九匙陰丹一匙，枯過硼砂五釐，片腦三釐，麝香一釐，能止淚去翳。</p>
<p><u>清涼散</u>　即陽丹十匙，硼砂六釐生用，片腦三四釐，射香三釐，其腦麝硼砂，點時合丹量度下。</p>
<p><u>碧雲丹</u>　即清涼散加銅綠，亦要腦射，或加枯礬少許，能去翳膜用。</p>
<p><u>捲雲丹</u>　即陰丹。如遇眼勾剪大小眥，頭暈，可將藥調液點，退血。</p>
<p>又有一丹，點能退翳。</p>
<p>捲雲丹（一匙）　陽丹（半匙）　姜粉（三分）　飛礬（半分）　燒過鹽（一分半）　共合點之。</p>
<p><u>七寶散</u></p>
<p>琥珀　珍珠（各三錢）　硼砂（五分）　珊瑚（一錢五分）　硃砂　碙砂（各五分）　玉屑（一錢）　蕤仁（三十粒）　片腦　麝香（各一分）</p>
<p>上將前藥俱細研⿰石禹如塵埃，方入麝香、片腦、蕤仁三件，再研，熟官絹篩過於罐內，臨臥時，以銅簮挑一米大許，點於有翳膜處。</p>
<p><u>撥雲散</u></p>
<p>爐甘石（煉過，二兩）　黃丹（制過，二兩）　川烏（一兩五錢）　犀角（一兩）　乳香　沒藥　硇砂　青鹽（各一錢五分）　硼砂　血竭　輕粉　鷹屎（各二錢）　片腦（五分）　麝香（五分）　蕤仁（去殼，一錢五分）</p>
<p>上將前藥如法精製，共研和勻極膩，以羊角罐收貯。但有翳膜者，以銅簮每夜臨臥點二次，極厚者亦能去也。</p>

<h2>治諸眼一切點眼膏藥</h2>
<p><u>千金勝極膏</u></p>
<p>爐甘石（煉過，一兩）　黃連（末，六錢）　川烏（泡去皮，六錢）　銅青（好的，二錢）　川薑（煨去皮）（六錢）　鷹屎（二錢）　沒藥（制過）　黃丹（各一錢）　乳香（制過，一錢）　血竭（一錢）　硼砂（五分）　龍腦（五分）　麝香（二分）　蕤仁（去皮油淨，六錢）</p>
<p>上將前藥俱為末，冬蜜一斤沙罐內溶開，生絹濾過去蠟煎熬，用棍棒不住手攪熬至紫色，滴水不散，將前藥末入內攪勻，取出於青石上鐵捶可打千餘下，或為錠子或為丸子，不拘作法，遠年近日疼痛風濕難開諸症，將一丸溫水化開，或點眼，或作錠子磨水點之極效。又或為膏於紙上貼兩太陽穴，散血尤妙。</p>
<p><u>熊膽膏</u></p>
<p>熊膽（一錢，真者其色如砂糖樣，帶潤濕色，吃在口內味苦又涼，即真者）　牛黃（一錢）　龍膽（五分）（即蘇州薄荷，其葉三四指大如羊葉相似）　蕤仁（去油，一錢）　硼砂（一錢）　黃連（為末，二兩）</p>
<p>此膏治男女遠年近日，內外障膜，赤爛天行時氣，暴發赤腫。</p>
<p>治眼腫紅，痛澀難開。若用劆洗之後，可吹鼻中，先含水一口，然後吹之，以通其氣，散其風邪。</p>
<p><u>治眼腫紅方</u></p>
<p>鵝不吃草（二兩）　川芎　白芷　石菖蒲　蔓荊子（各三錢）　細辛　牙皂　全蠍（各一錢）　鬱金（三錢）</p>
<p>上為細末，罐內收貯，勿令泄氣，以備後用。</p>
<p><u>五黃膏</u>　治目腫痛澀，欲以冷洗應驗。</p>
<p>好黃連　黃芩　黃柏　大黃　黃丹</p>
<p>上為細末，以芙蓉葉用冷水，或煎茶調，貼二太陽穴。</p>
<p><u>白斂膏</u></p>
<p>好白芨　小白芷　白斂</p>
<p>上為末，牛脂熬成膏，如前敷貼。</p>
<p><u>四生散</u>　治眼目被物刺傷，或摸損。</p>
<p>生地黃　生薄荷　生艾葉　生當歸　朴硝</p>
<p>上共搗爛，貼眼眶並患處。</p>
<p><u>神仙散</u>　治頭目昏眩，偏風痛極。</p>
<p>甜瓜蒂　焰硝　蒼耳子　川芎　薄荷　藜蘆　鬱金　雄黃</p>
<p>上將前為末，口含水吹一字入鼻中，令患者含水一口，方吹藥入患者鼻中。</p>
<p><u>碧天丹</u>　專治遠年近日爛弦風眼。</p>
<p>銅青（五錢）　明礬（四錢）　五倍子（一錢）　白墡土（一錢）　海螵蛸（一錢）　薄荷葉（五分）</p>
<p>上將此六味俱為末，用老薑汁攪和為丸，如圓眼核大，要用時將一丸淡薑湯一盞泡散，洗眼弦，次日再洗，依此洗三四次即愈。</p>
<p><u>八仙丹</u>　治爛眼弦風有蟲癢甚效。</p>
<p>當歸（七分）　銅綠（一錢）　薄荷（七分）　白礬（一錢）　黃連　五倍子　焰硝（各五分）　輕粉（二分）</p>
<p>上為極細末，以絹篩用絹包，約龍眼核大，泡洗日三五次。</p>
<p>一方點藥</p>
<p><u>撥翳膏</u></p>
<p>蕤仁（去皮殼）　麝香（四分，另研）　珍珠（一錢，放豆腐內蒸過）　琥珀（一錢，另研）　石蟹（一錢，煨）片腦（五分，另研）　硼砂（一錢，另研）　青鹽（八分，另研）　白丁香（五分，水澄）　紅珊瑚　石燕（煅）滴乳香（炙）　熊膽（微炙乾）　辰砂　血竭　金精石（滾水泡）　銀精石（滾水泡，各一錢）　蘆甘石（火煅黃連水淬，淬七次，用五錢或七錢）　硇砂（一錢，明者，將紙七重包煨另研，包起遇有翳厚者加入，無翳者不用）</p>
<p>上為細末，和勻，用瓷器罐盛起，一半乾點，一半入後藥內為膏子點。</p>
<p>當歸尾　生地黃　赤白芍　防風　蔓荊子　羌活　連翹　黃芩　薄荷</p>
<p>各用五錢，剉細，用雪水或臘月水兩大盞，石器內煮藥至一盞，去渣，用真正好白蜜三兩，再用文武火熬三四沸，以新絹袋濾出，收入瓷罐內，卻將前藥末共作一處攪勻，用清油紙縛住常常旋取點用。此藥收八九年亦好不壞，此仙傳方也。</p>

<h2>藥性論</h2>
<p><u>當歸</u>　味甘性溫，入心肝二經。尾能破血，頭養血，全用活血，熱者不可用，制用酒洗。</p>
<p><u>川芎</u>　味辛性溫，入肝經。上行頭角，助陽氣止痛，下行血海，能養血，如氣旺者不可用。</p>
<p><u>赤芍藥</u>　味苦辛性寒，入肝經。能散血行血，去赤膚止痛。</p>
<p><u>白芍藥</u>　味苦酸性寒，入肝經。能補脾損肝氣，能養肝血瀉肝火。如肝虛火衰者不可用。</p>
<p><u>熟地黃</u>　味甘性溫，入心經肝經。補血，如熱者不可用。用酒蒸，杵爛為餅，曬乾，研為末作丸，如不作丸勿蒸。</p>
<p><u>黃柏</u>　味苦寒，入腎經。補腎降相火，如火衰不可用。</p>
<p><u>龍膽草</u>　味苦性涼，入肝經。益肝膽氣，治目赤腫，除胃家伏熱。</p>
<p><u>半夏</u>　除濕化痰和胃氣，利胸膈，治太陰頭痛，制用薑汁炒。</p>
<p><u>羌活</u>　入膀胱經。治頭痛，去風邪，降肝氣，肝虛不用。</p>
<p><u>防風</u>　味甘辛性熱，入膀胱經。以體用通療諸風，以氣味能瀉肺經。</p>
<p><u>黃連</u>　味苦寒，入心經。能瀉心火，涼血去中焦熱，厚腸胃。</p>
<p><u>大黃</u>　味苦寒，入胃經。有推牆倒壁之功，能消腫去其皮膚之熱。實者生用，虛者酒蒸，勿患虛腫者勿用。</p>
<p><u>生地黃</u>　入心經。治血熱，生新血，散瘀血，涼血，血寒者勿用。</p>
<p><u>麻風</u>　入肺經。去風寒，退邪熱，開九竅發表。</p>
<p><u>白芷</u>　味辛性熱，入腸經。去風止痛，治足陽明頭痛，去肺肝二經發熱。</p>
<p><u>細辛</u>　味辛性熱，入心經，能去風止淚，頭痛，益肝膽通竅，去葉用。</p>
<p><u>山梔子</u>　味苦，入肺經。瀉肺火，除五臟熱。目熱赤腫宜用，要炒。</p>
<p><u>木賊</u>　味甘，入肺經。去膜翳，益肝膽，明目去風，通竅止淚。</p>
<p><u>蒼朮</u>　味辛性溫，入胃經。平胃氣去風邪，去濕止淚，發散。用米泔水浸，一日一換，水浸炒乾用。</p>
<p><u>瞿麥</u>　味苦，入小腸經。去膀胱熱，養腎氣，明目利小便。</p>
<p><u>黃耆</u>　味甘性溫，入脾經。行氣固表虛，血滯不行，宜用蜜浸火炙，研為末作丸，如不作丸，勿如此。</p>
<p><u>滑石</u>　入小腸經。能降上炎之火，通九竅利小便。</p>
<p><u>車前子</u>　味甘鹹性寒，入小腸經。清利小便，去肝經風熱。</p>
<p><u>石決明</u>　入肝經。去目障明目，有沉墜之功。肝虛者不用，火煅極紅為度。</p>
<p><u>青葙子</u>　性微寒，入肝經。瀉熱上衝，去赤障，肝虛不用，制用酒洗。</p>
<p><u>草決明</u>　入肝經。治肝熱，熱痛淚出，明目，肝虛不用。</p>
<p><u>白蒺藜</u>　不入湯藥，宜丸。入肝經，明目去風止癢。炒，杵去刺用。</p>
<p><u>牡丹皮</u>　味苦寒，入腎經。瀉陰火陽火，能涼心血，能行滯血，止痛。</p>
<p><u>地骨皮</u>　味苦寒，入腎經。退熱除蒸，瀉肺熱宜用。</p>
<p><u>桑白皮</u>　味甘，入肺經，除肺熱，瀉肺氣，肺寒不用。</p>
<p><u>麥門冬</u>　味甘寒，入肺經。治肺熱，去肺腑火，又清心竅。</p>
<p><u>密蒙花</u>　味甘入肝經。去目中赤脈眵淚，能明目。</p>
<p><u>烏藥</u>　入肝經。能順氣行氣去風。</p>
<p><u>胡黃連</u>　味苦寒，入肝經。退骨熱潮熱，補肝膽明目，能治小兒疳傷不下食，霍亂熱痢疾，小兒藥多用之。</p>
<p><u>蔓荊子</u>　味苦寒，入三焦。治頭疼，眼睛痛，能明目開鬱降火。</p>
<p><u>枸杞子</u>　味甘入腎經。補腎明目，去目中赤膜遮睛，酒洗用。</p>
<p><u>何首烏</u>　味苦入心經。去風寒，治陽明頭疼。</p>
<p><u>蟬蛻</u>　入肝經。去風解毒，脫目翳，止淚散寒邪。</p>
<p><u>白朮</u>　味苦溫，入脾、胃經。能健脾胃，生津液，去胞瞼濕熱，氣喘者勿用，又能助氣。</p>
<p><u>香附米</u>　味苦辛。能行氣助胃氣，止淚去濕，用之炒去毛杵淨。</p>
<p><u>夏枯草</u>　稟純陽之氣，得陰氣則枯，能止淚去風，以陽補陰之理。</p>
<p><u>千里光</u>　入心經。去風解毒熱，明目，亦能行氣，即夜明砂，水淘去屎留砂。一種草藥名千里光，採其嫩葉，淨洗搗汁，熬成膏，單用點眼，退翳明目，恐即此也，前注恐非。</p>
<p><u>遠志</u>　味苦氣溫，入心經。定心益志，利竅安魂魄。</p>
<p><u>犀角</u>　入心經。涼血解心熱，清頭目。鐵剉剉碎用，或水磨服。</p>
<p><u>羚羊角</u>　入肝經。清肺肝火，清心明目，肝虛不用。</p>
<p><u>石膏</u>　入胃經。泄胃火伏熱，有鎮之功，胃虛不用。</p>
<p><u>乾葛</u>　味甘平，入胃經。解肌發表，退熱，升提胃氣。</p>
<p><u>藁本</u>　味辛，入膀胱經。去顛頭痛，引藥上行。</p>
<p><u>使君子</u>　味甘，入胃經。殺疳蟲，利小便。</p>
<p><u>薄荷</u>　味辛寒，入肝經。去賊風，發表，利關節，止痛。</p>
<p><u>菊花</u>　味苦甘，微寒，入肝經。明目，清頭風，去目翳，發表。</p>
<p><u>茺蔚子</u>　味甘辛，入眼經。除血熱，明目去風。</p>
<p><u>甘草</u>　味甘，生寒熟溫，入脾經。生用能瀉火解毒，炙者能助胃和平。</p>
<p><u>桑螵蛸</u>　補腎去風，通五淋，利小便，明目散翳。</p>
<p><u>槐花</u>　味苦寒，入心經。去心赤，瀉血，瀉大腸熱。</p>
<p><u>鬱金</u>　味苦寒，入心經。治血鬱於目，能涼能破心下氣，開鬱。</p>
<p><u>黑參</u>　味苦鹹，入腎經。補腎氣，明目，得黃芩瀉肝火，除肝熱。</p>
<p><u>知母</u>　味苦寒，入腎經。補腎水，瀉腎火、三焦火。</p>
<p><u>桔梗</u>　味苦溫，入肺經。治肺熱，為諸藥之舟楫，乃肺部之引經。</p>
<p><u>芒硝</u>　治積聚熱疾，利大便不通。</p>
<p><u>漢防己</u>　味辛苦寒，通行諸經，去風寒有走達之功。</p>
<p><u>蒲黃</u>　味甘性平，入心經。能消瘀血，破血、消腫，炒用。</p>
<p><u>連翹</u>　瀉心火，解脾胃濕熱，除心經客熱。</p>
<p><u>五味子</u>　味酸性溫，入腎經肺經，補腎滋肺益肝。</p>
<p><u>獨活</u>　味苦溫，走諸經。去外受賊風，無分新舊。</p>
<p><u>楮實子</u>　味苦寒，入肺經。升陽上行，能去風治頭痛。</p>
<p><u>肉蓯蓉</u>　味酸鹹，性溫，入腎經。補腎生精，用酒洗，相火旺不用。</p>
<p><u>川椒</u>　味辛熱。用之於上，退六腑之沉寒；用之於下，去目中障盲，去目炒去汗用。</p>
<p><u>人參</u>　味甘性溫無毒，入肺經。補氣不足，安魂魄，生精開心竅通血。肺寒可用，肺熱傷肺。</p>
<p><u>白茯苓</u>　味甘溫，入肺經。安魂定魄，補心虛，養神，利小便。</p>
<p><u>旋覆花</u>　味甘，入肺經。清痰明目，治頭風。</p>
<p><u>菟絲子</u>　味辛甘，入腎經。補腎明目，能去目黑花。酒洗蒸餅，曬乾為丸，不做丸勿制。</p>
<p><u>澤瀉</u>　味甘寒，入膀胱。利水通淋，補陰不足，明目。</p>
<p><u>黑附子</u>　味辛大熱，入三焦。主陽散風去寒邪，火旺者不用，即大附子去粗皮。</p>
<p><u>木香</u>　味苦性溫，入心經。主治心痛，泄胞腹中滯寒冷氣，不必過火，磨入藥中服。</p>
<p><u>牛膝</u>　能引諸藥下行。凡用土牛膝，春夏用葉，冬用根。惟葉之效尤速，能益精。又治竹木刺入肉，敷之即出。</p>
<p><u>石斛</u>　味甘性溫，入腎經。去胃熱，補陰血，益精壯筋骨。</p>
<p><u>紅花</u>　味甘苦，入心經。能破血行滯血，少用又養血。</p>
<p><u>天門冬</u>　味苦氣寒，入肺經。瀉肺火，定肺氣，利小便，涼血。去心杵為餅，曬乾為丸，如不做，分研。</p>
<p><u>石菖蒲</u>　味辛性熱，入腎經。補腎，能開心竅明目。</p>
<p><u>柴胡</u>　味苦寒，入肝經。能除往來結熱積於胸中，除肝熱，又得黃芩能瀉肝火。</p>
<p><u>黃芩</u>　味苦寒，入肺經。枯者瀉肝火，實者退膀胱熱。</p>
<p><u>巴戟</u>　能補腎益精，療陰萎，引氣上行。</p>
<p><u>陳皮</u>　去白者消痰利氣，留白者補胃和中。</p>
<p><u>葶藶</u>　味苦寒，入肺經。瀉肝喘，利水下肺氣，炒用。</p>
<p><u>芎藭</u>　入腦。治頭痛，血虛者去頭風，養血。</p>
<p><u>白附子</u>　一名兩頭尖。去風痰，止頭痛，去粗皮用。</p>
<p><u>天麻</u>　主頭風去風疾，利四肢濕痹。</p>
<p><u>枳殼</u>　寬腸下氣，祛風化痰，治風邪作痛。</p>
<p><u>栝蔞根</u>　即天花粉，入肺經，去痰火，解熱毒，又能除酒毒。肺寒者不用，冷痰者不可過用，有熱藥，此宜亦可用之。</p>
<p><u>萹蓄</u>　利小腸經熱閉。</p>
<p><u>小茴香</u>　味辛氣平，開胃行氣，止嘔吐，膀胱冷氣腫痛，入藥炒。</p>
<p><u>南星</u>　去風痰，消腫毒，用薑汁煮過。</p>
<p><u>草烏</u>　走筋骨敗血，去風止痛，薑汁煮用。</p>
<p><u>川烏</u>　去風寒作痛，助陽。</p>
<p><u>荊芥</u>　去皮風邪發。</p>
<p><u>雄黃</u>　解熱毒，散血止痛。</p>
<p><u>乳香</u>　調血氣，利諸經之痛。制用厚箬三片夾藥在中，熨斗火熨去油，研末用。</p>
<p><u>沒藥</u>　破血止痛，去目翳暈，同前製法。</p>
<p><u>血竭</u>　破積血止痛，去赤膚。</p>
<p><u>木通</u>　利小腸經結熱，降心火。</p>
<p><u>牛蒡子</u>　去風明目行血。</p>
<p><u>蛤粉</u>　能消痰火，涼血，解肌表極熱。</p>
<p><u>蛇蛻</u>　即蛇皮。去風毒，止淚癢痛。</p>
<p><u>全蠍</u>　消風毒，破風痰，尾更佳，去四足。</p>
<p><u>藿香</u>　開胃氣，結痰利之。</p>
<p><u>蠶蛻</u>　去風消痰，明目去翳膜，即晚蠶砂。</p>
<p><u>龍腦</u>　即薄荷。性熱，能通利寒熱，去風，消目赤。</p>
<p><u>甘松</u>　味甘性溫，去風下氣，治心腹痛，辟惡風。</p>
<p><u>硃砂</u>　鎮心安魂魄，涼血。</p>
<p><u>肉桂</u>　引太陽經，止頭痛，去寒邪，利肝膽氣。</p>
<p><u>白蘞</u>　散結氣，除目赤熱。</p>
<p><u>藜蘆</u>　吐氣風痰，快膈。去蘆用，根有大毒，用宜斟酌。</p>
<p><u>白芨</u>　去賊風，解中風熱閉。</p>
<p><u>豬牙皂角</u>　去風痰，解表利氣，炙去皮弦。</p>
<p><u>香白芷</u>　去皮膚風熱瘡癢。</p>
<p><u>杏仁</u>　潤肺氣，去痰行血。</p>
<p><u>紫蘇</u>　消痰解表利氣。</p>
<p><u>夜明砂</u>　明目去風。</p>
<p><u>山茱萸</u>　入腎經。除頭暈，補虛生精，去核。</p>
<p><u>天麻子</u>　去風補腎明目，碎研入煎藥。</p>
<p><u>熊膽</u>　退熱降火，去目赤熱。試真假用水一碗，撒灰在內，將熊膽放水中，分灰水各開兩邊為真者，其色潤黑。</p>
<p><u>山藥</u>　補腎不足，生精。</p>
<p><u>牛黃</u>　去熱痰，能安魂魄，涼血清心。</p>
<p><u>石燕</u>　通血，利小便，治淋。</p>
<p><u>蕤仁</u>　去目中赤痛風癢，去翳。製法去殼用仁，以竹筒盛在內，於紅火煨藥，紙干取出，可去油聽用。</p>
<p><u>珍珠</u>　清心明目去目翳。製法用豆腐一塊，入珠於腐內，蒸過取出，用洗淨白棉布兩三重包珠，石上杵爛，用細末。</p>
<p><u>玄精石</u>　安魂魄有氣之功。</p>
<p><u>沙魚皮</u>　解風毒止淚。</p>
<p><u>威靈仙</u>　去風邪。</p>
<p><u>青皮</u>　能下氣快膈，消痰濁氣，升於至高者而能下氣，虛者不用。</p>
<p><u>青鹽</u>　補腎引至下部。水磨花銅鍋熬成鹽，聽用。</p>
<p><u>川楝子</u>　明目退熱補腎。去核用。</p>
<p><u>沉香</u>　補右尺命門，壯元陽，散滯血。</p>
