<header data-type="book">
<h1>聖濟總錄纂要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>程林</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1681">公元1681年</data></dd></div>
<div><dt>底本</dt><dd>《聖濟總錄纂要》，1937年大東書局印行（國立臺灣圖書館掃描本：<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015257">1</a>、<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015258">2</a>、<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015259">3</a>、<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015260">4</a>、<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015261">5</a>、<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015262">6</a>、<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015263">7</a>、<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015264">8</a>、<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015265">9</a>、<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015266">10</a>）；《欽定四庫全書·子部五·醫家類·聖濟總錄纂要》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0027/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>
