<header data-type="book">
<h1>里中醫案</h1>
</header>

<h1>序</h1>
<p>蓋聞萬變而不可拘者，命曰病機；一定而不可易者，命曰方藥。若夫膠一定之方以應無窮之變，未有見其或可者也。故曰：用古方治今病，譬猶拆舊料改新房，不再經匠氏之手，其可用乎？余以方藥起沉疴，蓋比比也，而不至於陰陽逆用，虛實倒施者，誠有見於病狀萬殊，剎那生死，不敢不窮源而治也。而源於何窮，不過以色合脈，以脈合症，以症合問，謹持四者，互而求之。病機雖人人殊，而方藥且符節合矣。以是受知於當世，四十餘年，吹枯振槁，固非褚墨所勝紀，茲摘其朱紫易淆者，聊錄一二，以傳後世。非敢妄自矜詡，良欲偕天下為窮源之學，勿得草草以欺世而自欺也。仲景云：觀今之醫，務在口給，相對須臾，便定湯劑。按寸不及尺，握手不及足，人迎趺陽，三部不參，動數發息，不滿五十，明堂閥庭，概不見察，夫欲定死決生，實為難矣！余也三復斯言，肌膚粟起，遂沉湎於三墳，惟魚蠹是師，故可幸無罪耳。倘天下後世，因予之案以尚友三世，弗令南陽捧腹則幾矣。</p>
<p><u>云間李中梓士材甫識</u></p>

<h1>里中醫案</h1>
<p><u>顧六吉胸痛嘔吐，不食神昏</u></p>
<p>文學顧六吉，胸中有奇痛，不吐則不安者，已歷兩載。偶為怒觸，四十日不進粥漿，三十日不下溲便，面赤如緋，神昏如醉。終事畢備，以為旦夕死矣。余視其脈，舉之則濡，按之則滑，是胃中有火，膈上有痰，浸淫不已，侵犯膻中，壅遏心竅，故迷昧乃爾。以沉香、海石、膽星、瓦楞子、牛黃、雄黃、天竺黃、硃砂、冰、麝為細末，薑汁、竹瀝和沸湯調送。初進猶吐其半，繼進乃全納矣。隨服六君子加星、香、薑、瀝，兩日而溲便通，三日而糜飲進。調攝百餘日，遂復正常。</p>
<p>遺書鳴感云，不肖允謙氣暴於怒，神戕于思，形體不得休息，飲饌不能諧，宜中外弗戢，痰伺為殃，淫沔綦深，直干心主，沉疚越乎尋常，谷液荒於累月，焦腧否塞，溲便交封，剎那就木，誰曰不然。命意老先生隔垣洞視，病魔陡遁三舍，甘露一灑，起死而更生之。嗟乎！今日有生之年，糜非老先生手援之力，劫運可消，血悰不泯，生生世世，銜結奚窮。請以數行，收紀案帙。俾普天之下，知秦越人猶在今日，不得合上池神餌，而聽命於庸人也。不其胥吾世於仁壽之域哉。</p>
<p><u>陳眉公瘧症</u></p>
<p>隱士陳眉公，患三日瘧，浹氣未瘥。素畏藥餌，尤不喜人參。余診其脈，浮之則濡，沉之則弱，營衛俱窮，故綿延不已。因固請曰：夫素不服參者，天畀之豐也。今不可缺者，病魔之久也。正氣虛憊，脈如懸絲，而可拘以常乎？變通趨時，不得失也。先服人參錢許，口有津生，腹無煩滿。乃色喜云：素所膠而不化者，今日發吾覆矣。敢以性命委重，惟兄所命耳。遂以人參一兩，何首烏一兩，煎成膏，加薑汁一鍾。甫一劑而勢減七八，再進而瘧遂絕。</p>
<p><u>錢機山兩膺隱痛，食後刺酸</u></p>
<p>相國錢機山，兩膺隱隱痛，膈間不快，食後苦刺酸。余門人孫黃緒，以六君子加黃連、山梔未效。余曰：肝木挾火，脾土伏寒，乃以參、術各三錢，乾薑、黃連、甘草各一錢，煎成加薑汁少許，調治一月而愈。</p>
<p><u>許霞城寒熱腹滿</u></p>
<p>給諫許霞城，悲鬱之餘，陡發寒熱，腹中滿悶。醫者謂外感風而內挾食也。余獨以為不然。舉之無浮盛之象，按之無堅搏之形，安在其內傷外感乎？不過郁傷中氣耳！以補中益氣加木香、白蔻，十劑而復其居處之常。</p>
<p><u>施元廓飲後嘈雜</u></p>
<p>浦東施元廓、劇飲後忽發嘈雜，似痛非痛，似飢非飢。或曰痰因火動，治之以芩、連、花粉、知母、瓜蔞，劑盈百矣，而病猶是也。余為診之，滿指而緩且軟，是脾家濕痰，非肺家燥痰也。貝母、瓜蔞何緣下乎？是虛氣為孽，非實火為殃也。芩、連、花粉安敢用乎？為處六君子湯，加蒼朮以勝濕，加薑汁以行痰。越半月不復來招，余意其更醫矣。比使者至，遺手啟云：弟為酒誤，釀此奇疴，他人歷歲月無功，仁兄以一七立起，不十日而盡掃病。夫形景何幸如之，何感如之！業已改煎作丸，茲且朝夕服矣。以其神效，遂不敢易絲毫耳。</p>
<p><u>沈子凡氣虛暈絕</u></p>
<p>文學沈子凡之內，忽然暈絕，周身如冰，自寅至申，竟不得蘇。咸曰不可救矣。余曰：脈雖潛伏，而氣口則隱隱見也。但真微之脈，粗浮者不能察耳。東垣以卒倒為氣虛，正謂是症也。以人參一兩，生薑汁一鍾，冰片一分，和勻灌之，下咽便醒。</p>
<p><u>秦景明痰飲</u></p>
<p>社友秦景明，素有痰飲，每歲必四五發，發即嘔吐不能食。余曰：病日久而結成窠囊，非大涌之弗愈也，須進補中益氣十日，而後以瓜蒂散頻投，湧如豆汁，繼如赤豆沙者數升，已而復得水晶者升許。如是者七補之，七湧之。百日而窠囊始盡，專服六君子湯、八味丸，經年不輟。</p>
<p><u>張萃甫之妾產後蒸熱，昏困不食</u></p>
<p>盟友張萃甫之妾，產後蒸熱昏困，不進食者半月有奇，口不能言，身不能動，業已瞑目而治凶具。余聞而往，診之寸關已不可見，左尺猶瞥瞥如𤸒上肥珠。余曰：症雖萬無一生，脈可百中救一。以人參五錢，煨姜五錢煎湯，磨琥珀丸抉口灌之。一服目開，再服能言，三服而進漿粥遂愈。</p>
<p><u>施笠澤兩足腫重劇痛</u></p>
<p>別駕施笠澤，兩足腫重，痛若虎齧，叫號徹於戶外。醫以四物湯加檳榔、木通、牛膝、苡仁，數劑病不少減。余曰：陰脈細矣，按之至骨則堅，未可竟以虛責也。況兩膝如緋，拊之烙手，當以黃柏五錢為君，木通四錢為佐，檳榔一錢為使，日進兩劑，可使遄已。笠澤服之。十餘劑而愈。</p>
<p><u>張侗初胸痛不寐</u></p>
<p>少司丞張侗初，善怒善郁，且酬應繁劇，胸中痛甚，夜不成寐。醫用菖蒲、枳、樸、木香、豆蔻，殊不知此症屬虛，虛則濁陰不降，神氣失守，故痛不寐也。遂以歸脾湯倍加人參、當歸，不十劑而胸次快然安寢。</p>
<p><u>朱□和陽痿</u></p>
<p>永平兵憲朱□和，醉而使內，會有盛怒，陽事遂痿，諸溫熱助陽之藥無益。余曰：乙癸同源，是以腎肝同治。既匿於內則腎陰虧歉，復因於怒，則腎氣激張，況筋者木臟獨司之，自非疏泄東方，何由復其常耶？乃取沉香、木香各二錢，肉桂三錢，當歸四錢，兩日服四劑而陽痿。</p>
<p><u>鄒中涵喘嗽</u></p>
<p>太學鄒中涵，久困痿喘，痰中時或帶血，服清金保肺、降火滋陰無益。余曰：陽強而陰弱，本於中氣不足，而虛炎干清肅之司也。若血家之藥，投在上苦膩膈，在下苦滑潤矣。中涵曰：胸中滯悶，已非朝夕，腸胃近滑泄矣。遂煎參朮膏，日暮同二陳湯服，喘嗽咸寧。</p>
<p><u>品公原內疝</u></p>
<p>孝廉品公原，宦途失志，胸膈間覺有一物忽上忽下，甚則少腹痛不可忍。服開鬱化氣藥無益。余問塊之上下時作聲否？曰：其聲甚長。余曰：此丙丁之氣鬱於小腸之間，乃內疝也。用青木香，廣木香、沉香、肉桂、黃連、菖蒲煎飲，十日瘥。然元本日虧，必須十全大補丸，竟以不用而斃。</p>
<p><u>許惺初泄瀉腹滿不食</u></p>
<p>銀臺許惺初，腹滿不食，日瀉數次，醫用六一、香薷。余曰：非暑也，是高年土虛，頻傷於飽，當扶其本。以六君子加薑、桂，二十劑而瀉止食進。</p>
<p><u>朱文哉痰飲</u></p>
<p>文學朱文哉，遍體如蟲螫，口舌糜爛，寅卯時必見二鬼執盤餐以獻，時年尚未滿三十。余診之寸脈，乍大乍小，亦知其為鬼祟矣。細察兩關弦滑且大，定為痰飲之疴。投滾痰丸，一服微有所下。更以小胃丹下痰及積，身痛減半，至明旦而鬼亦不見矣。更以參、術煎湯送小胃丹，復下數行而愈。</p>
<p><u>杜完三夫人蓄血</u></p>
<p>大司寇杜完三夫人，淋瀝兩年，靡藥弗用。余診得兩尺沉數，為有畜血，法當攻下。因在高年，不敢輕投，但於八珍湯中加鬱金、琥珀、牛膝。然此等緩藥須以歲月奏功，而夫人急於期效，數劑未平，輟欲更療，遂成痼疾。</p>
<p><u>黃敬如小便癃澀</u></p>
<p>郡守黃敬如，痰火喘嗽，小便癃澀，服五苓、八正無功。余曰：右寸獨大，是金燥不能生水，氣化不及州都。惟用紫菀五錢，麥門冬三錢，人參二錢，一劑而溲如泉湧。</p>
<p><u>俞彥直小便癃閉</u></p>
<p>孝廉俞彥直，修云府志，形神交疲，忽小便癃閉。余曰：寸微而尺鼓，是腎水涸而心火傷也。用人參、丹皮、地黃、知母、茯苓、黃柏，數劑而溲始快。</p>
<p><u>徐厚源神倦滿悶不食</u></p>
<p>憲副徐厚源，神氣困倦，滿悶不食已經月矣。余曰：濕鬱生痰，凝泣於經。以蒼朮、菖蒲、半夏、白蔻、橘紅、茯苓連飲十劑，悶少舒而食亦進，每日吐出痰數口。更以二陳、二朮、薑、芥汁為丸，日服之。痰泛、大便出甚多，月餘而神旺。</p>
<p><u>吳玄水白濁淋漓，莖痛如刺</u></p>
<p>光祿卿吳玄水，閉精入房有年，時有文字之勞，白濁淋漓，莖痛如刺。服疏利藥、服補腎藥無當。余曰：敗精久蓄，已足為害，何況心勞，則水火不交，坎離順用也。萆薢分清飲加茯神、牛膝、黃連、肉桂，使心腎交而閼敗之精有以疏導，因服之而愈。</p>
<p><u>陸文蔚之內腹痛</u></p>
<p>內侄陸文蔚之內，自上脘抵少腹奇痛欲絕，服山梔、枳、樸，彌甚。余曰：脈誠數矣，獨不察其沉則軟乎？不第土憊，抑且火衰。六君子加薑、桂，大劑飲之而痛減，原醫猶謂之火症。文蔚信余言，調一月愈。</p>
<p><u>張七澤子舍心腹痛而動</u></p>
<p>廉憲張七澤子舍，心腹痛而動、或注於兩足、或升於高巔、或在手腕、或在肩髃。余朝診之而大如鼎沸，暮診之而小如蛛絲，此祟憑也。磨蘇合丸，入獺肝，甫進一口，大呼曰：穢物也，何汙吾口耶？忽躍起尺許，憑虛而走數步呼余。詈曰：吾於成廟時構冤，得請於上帝，汝何以糞灌我耶？余因不治。七澤請其期。余曰：秋分倉公日，安穀者逾期，不安穀者不及期。今糜飲未絕，可逾期也。果秋分後三日而絕。</p>
<p><u>杜仲畹子大熱，胸腹滿痛</u></p>
<p>醫者杜仲畹子，傷寒八日而大熱不休，胸腹滿痛，脈細且軟，為陽症得陰脈，法在不治。余曰：欲攻之，則形體已虛；欲補之，則邪氣猶在。無已，用杏仁五錢，蘇子、枳實、厚朴、當歸各三錢服之，外用薑、楂、蔥白炒熱熨之，又令兩人更互揉摩，時時以濃𡵚茶加生蜜飲之。至夜分腹中大響，下結糞殊多，更以前湯服，仍令揉摩，復下宿物，而後熱退神已，困倦虛熱蒸蒸不已，令食糜菜，繼食人乳一鍾，日進數次，兩日而神清熱止。更以生地、麥冬、茯苓、知母、陳皮、甘草、大棗服二日，更以四君子加陳皮、麥冬，服數日而元神復。夫陽症陰脈，十發九死，況大積未消，猶難措手，乃知法不可以盡拘也。</p>
<p><u>錢相國孫女傷寒發癍</u></p>
<p>錢相國孫女，患傷寒發癍，昏悶大熱，鼻多出血，暈不知人。醫用黃芩，煩躁憒亂，遍床跌擲，鼻血不已。余曰：癍毒未徹而壯火方炎，欲發其癍則血益甚，欲涼其血則癍愈伏。乃以紫草五錢，乾葛一錢，陳皮、甘草各八分飲之，癍乃快而血□止。然後以玄參、犀角等劑授之而愈。</p>
<p><u>夏彝仲太夫人發熱喘促</u></p>
<p>邑寧夏彝仲太夫人，年屆八十，因彝仲遠仕閩中，憂思成疾，忽發熱頭疼，醫以傷寒發散禁食，一劑而汗如洗，氣喘促，神昏倦。業已治凶具矣。余謂其脈大無力，即令食而投參、耆，猶恐或失之，禁其食而攻之，未遽絕者幸耳。用人參、黃耆各五錢，白朮三錢，橘、半各一錢五分，甘草六分，煨姜三錢。諸醫鼎沸。用一劑而喘汗差減，倍用參、術至一兩，症愈七八，惟食未強耳。此火衰不能生土耳，加熟附二錢，乾薑一錢，服二月而始全愈。</p>
<p><u>王漢梁泄瀉神亂</u></p>
<p>工部主政王漢梁，鬱怒成痞，形堅痛甚，攻下之劑太過，遂若洞泄，一日一夜計下一百餘次，肌肉盡消，神氣憒亂，舌不能言。余曰：在症已無活理，在脈猶有生機，以真藏脈未見也。此甚虛之症，法當甚補。以枯礬、龍骨、粟殼、肉果以固其腸，人參二兩，熟附五錢以救其氣。三日之內用參半斤，用附二兩，瀉減大半，舌遂能言。更以補中益氣加生附、炮薑、肉果，大補百日而食進神強，然晝夜下四五行，兩手痿廢，以仙茅、巴戟、桂、附等為丸，參附湯送下。□五日余而痞消、瀉止、能步。向使畏多參、附，或掣肘於投劑之時，或懈弛於將愈之際，安望其在生哉。信醫不專者，戒諸。</p>
<p><u>薛曇孚之內小腸癰</u></p>
<p>門人薛曇孚之內，十五歲，腹痛甚，面黃體瘦。服清熱藥，通經藥，疏氣藥，補血養氣等藥，無效。余察其皮膚甲錯，左尺獨數，是小腸有癰。脈數知膿已成，當以藥潰之。以葵根一兩，皂角刺二錢，陳皮三錢，兩劑而膿血大下。更以太乙膏為丸，參、耆湯送下，一月而愈。</p>
<p><u>吳玄水夫人大腸癰</u></p>
<p>光祿卿吳玄水夫人，腹滿而痛，喘急不能食。或以中滿治之，無效。余診其脈，右尺偏大，皮膚甲錯。余謂此大腸癰也。先用黃耆、白朮、陳皮、當歸、白芷托裡，三日而脈始數，數則膿已熟矣。用黃耆、角刺、白芷、山甲，加葵根五錢，連投兩劑而膿潰如注，昏暈不支。飲獨參一兩，更以八珍湯補養，一月而康寧。</p>
<p><u>張介甫之內妊娠泄瀉</u></p>
<p>龍華張介甫之內，懷娠腹脹泄瀉，肢體腫重。余謂六脈緩大而軟，皆緣以泄傷脾，先止其瀉，後補其中，參、朮、茯苓、肉果、補骨脂，十劑而泄止。更以補中益氣加茯苓、牛膝、車前、澤瀉、木香、炮姜，二十劑而腫脹愈，未幾生男無所苦，□日進參、術平復。</p>
<p><u>楊方壼夫人傷食腹痛</u></p>
<p>太史楊方壼夫人，怒余傷食腹痛，枳、樸、楂、芽飲之。余曰：中虛而□積滯，須補而逐之。以人參五錢，白朮三錢，陳皮、山楂、神麯各二錢，玄明粉二錢服之，宿垢消，腹脹痛止。但昏倦甚，食下便瀉，日用人參一兩，熟附二錢，耆、朮、肉果各二錢，甘草八分，間服補中益氣湯，參必一兩，附必三錢，百日之內未嘗少間。服人參八斤，薑、附二斤方愈。</p>
<p><u>吳君明傷寒譫狂</u></p>
<p>儒者吳君明，傷寒六日，譫狂笑語，頭痛有汗，大便不通，小便自利，眾議承氣下之。余謂其脈浮而大，察腹不硬不痛。因思仲景云：傷寒不大便六七日，頭疼有熱，小便清，知不在裡，仍在表也。方今仲冬嚴寒，宜用桂枝湯。眾皆咋舌云：譫狂為陽盛，用桂枝必死。余曰：汗多神昏故妄語。雖不大便，腹無所苦，和其營衛，必自愈耳。用之及夜而笑語止，明日大便通。夫既譫語而能察為表症者，百不得一也。向使誤行下劑，則立斃可知。</p>
<p><u>王月懷傷寒協熱自利</u></p>
<p>醫者王月懷，傷寒五六日以來，下利日數十行，懊憹目脹，眾謂瀉將脫矣，必山藥、苡仁補之。余謂其脈沉且數，按其腹便攢眉作楚，此協熱自利，謂之旁流，非正糞也，當有燥屎。飲以承氣湯，果得結糞數枚，利乃止，懊憹亦定。</p>
<p><u>韓茂遠傷寒</u></p>
<p>文學韓茂遠，傷寒九日，體不能動，口不能言，目不能視，四肢俱冷，眾認陰症欲溫之。余診六脈皆無，惟趺陽脈大而有力，以手柱其腹，則熱且堅也。煎承氣湯下之，得燥屎甚多，遂能言動矣。若按手不及足，察面不及腹者，何以拯此垂絕之症哉！</p>
<p><u>姚岱之吐痰泄瀉</u></p>
<p>大司寇姚岱之，吐痰泄瀉，滿悶不快，見食則惡，面黃神困，自秋□春多藥病增，致目不能開，口不能語。余以補中益氣加熟附、肉果各二錢。人參五錢，日飲二劑，四日而瀉止，但痰不減耳。余以為腎虛水泛為痰，乃以八味丸、補中湯並進，四十日進飲食，不吐痰而愈。</p>
<p><u>張三星泄瀉</u></p>
<p>郡守張三星，泄瀉無度，自服燥濕分利達氣藥。余診其脈滑而無力，此中虛下陷，而痰滯不化也。以六君子加升、柴、沉香、五倍子，十劑而安。</p>
<p><u>俞元濟背痛</u></p>
<p>明經俞元濟，背心一點痛，久而漸大。用行氣和血藥，絕不取效。余問之曰：遇天陰覺痛增否？元濟曰：天陰痛即甚。余曰：脈既滑而遇天陰痛輒甚，其為濕痰無疑。以胃苓湯加半夏三錢，數劑而痛消。</p>
<p><u>徐凌如汗出昏倦，語言錯亂</u></p>
<p>刑部主政徐凌如，勞與怒並，遂汗出昏倦，語言錯亂，危篤殆甚，迎余視之，脈滑而軟，為氣大虛而痰上湧。以補中益氣湯加半夏、附子，四日而稍蘇。更以六君子加薑汁、熟附將兩月而愈。</p>
<p><u>張方之顛疾</u></p>
<p>文學張方之，久憂暴驚，遂發顛妄，服補心神藥，服逐痰涎藥，均無俾也。余曰：六脈結而有力，非大下其痰，無由痊也。先服寧志膏三日，遂以小胃丹下之。三月之內，服小胃丹數次，去痰積始盡。更以歸脾、妙香加牛黃，龍骨為丸，劑畢而康。向使下之不如是之屢屢，以盡其痰，將成痼疾矣。</p>
<p><u>史明麟咳嗽</u></p>
<p>太學史明麟，經年咳嗽，醫謂虛勞。余曰：脈無虛數之象，惟浮大而滑，是風痰膠固於至高之府，未得宣越耳。且多服酸收之劑，故久而日劇。乃用麻黃、杏仁、半夏、橘紅、甘、桔、蘇子，五劑而愈。</p>
<p><u>姚三省噎膈</u></p>
<p>太學姚三省，膈噎嘔吐，服清火疏氣藥、化痰開鬱藥半載而食減。余曰：氣口無神，神門衰軟，脾腎兩虛之象也。脾虛則升降失耶，而痰起中焦；腎虛則真火衰殘而精微不奉。用白朮五錢，補骨脂三錢，半夏、炮姜各一錢，沉香、人參各二錢，一劑而減，十劑而食進。</p>
<p><u>張孟端夫人噎症</u></p>
<p>邑侯張孟端夫人，憂憤交乘，食下輒噎，胸中隱隱痛。余曰：陽脈滑而陰脈搏，痰血互凝之象也。以二陳湯加歸尾、桃仁、鬱金、五靈脂，四劑未效。因思五靈脂與人參同劑，善於浚血，即前方入人參二錢，倍用五靈脂。再劑而血從大便出，十劑而噎止，一月而愈。</p>
<p><u>金元之之內噎症</u></p>
<p>金元之之內患噎，胸腹有奇痛而經阻，醫認瘀血。余察其脈，細為氣衰，沉為寒痼，若攻瘀血，加霜於雪也。況自下而上，處處皆痛，明非血矣。參、耆、術各二錢，木香、薑、桂各一錢，煎成，和醇酒飲之。甫入口便快，半月而痛止。因常服理中湯，數年弗輟。</p>
<p><u>倪念嵐胸膈悶滿，畏食如仇</u></p>
<p>文學倪念嵐，累勞積鬱，胸與膈俱悶滿，畏食如仇，服理氣，改服行痰，改服清火而益病。余曰：脈大而軟，兩尺為尤，火衰不能生金，反以寒劑傷之，是下井而投石也。乃用六君子加薑、桂，十劑稍效，兼脅八味丸，半載而痊。</p>
<p><u>宋敬夫令愛喘急厥逆不知人</u></p>
<p>宋敬夫令愛，中氣素虛，食少神倦，仲春忽然喘急，厥逆不知人，將死。余曰：氣虛之極，土府違轉輸之職，金宮失治節之權，非大溫大補，奚以極其積虛。用人參一兩，熟附三錢，煎成加醇酒飲之。一劑蘇，十劑愈，服參至七斤而使起病。</p>
<p><u>張七澤夫人小便不禁</u></p>
<p>大方伯張七澤夫人，穀食不安，小便不禁。余曰：六脈沉遲，兩尺益甚，水泉不藏，轉輸違度，是衰火不能生弱土也。以理中湯、八味丸並進，再劑而驗，十劑而瘥。</p>
<p><u>顧淡之虛煩</u></p>
<p>顧淡之，勞神之後，燥熱甚，頭角掣痛，時作時止。醫禁其食而解表，越四日而熱不衰，議將攻內。余細視之，脈不浮緊，安得表耶？又不沉實，安得里耶？只有少陰大而無力，為勞神太過，乃虛煩類傷寒也。若禁飲食則病深矣，先飲糜粥，用大劑歸脾湯，十日而痊。</p>
<p><u>錢臺石類中風</u></p>
<p>錢臺石，年近六十，肢體不能轉側，昏倦不能言，鼻竅不利，二便俱秘。是心肺俱虛，為類中風也。醫伐其氣，攻其痰，幾危矣。余診之，六脈洪盛，按之搏指。此至虛有盛候，以形色驗之灼然也。法當從症不從脈，補中為主，方可回生。不信余言兩日，余發聲曰：今日不進藥，不治矣。以補中益氣加秦艽、天麻、竹瀝、薑汁，再劑而神清，十日而轉側利便，珍攝半載全愈。</p>
<p><u>楊方壼夫人肝木乘脾</u></p>
<p>太史楊方壼夫人，盛怒得食，忽然暈倒，醫認中風。余曰：左關弦急，右關滑大而軟，本中氣不足，又為肝木乘脾，故食不能化。先用理中湯加枳殼、玄明粉，二劑下黑糞數枚，急以六君子加薑汁而服，四劑暈乃止。</p>
<p><u>董玄宰少妾下焦瘀血</u></p>
<p>大宗伯董玄宰少妾，吐血咳嗽，蒸熱煩心，先服清火，繼而補中。藥餌雜投，竟無少效，而後乞治於余。余曰：兩尺沉且堅，小腹按之即痛，此有下焦瘀血，當峻劑行之。若平和之劑，血不得行也。以四物湯加鬱金、穿山甲、䗪蟲、大黃，武火煎服。一劑而黑血下二碗，而痛猶未去，更與一服，又下三四碗而痛止。遂用十全大補丸，四斤而愈。</p>
<p><u>唐名必思慮傷脾</u></p>
<p>工部主政庸名必，心勞大過，又多食海鮮，吐血多痰，喉間如鯁，日哺發熱，喜其六脈不數，惟右寸細且澀，右關大且軟，思慮傷脾之象也。以歸脾湯加生地、麥冬二十餘劑，兼進六味丸三月，永不發。</p>
<p><u>馮五玉令愛吐血咳嗽，大便溏瀉</u></p>
<p>侍御馮五玉令愛，灼熱咳嗽將一年矣，時仲冬吐血甚，飲食少，大肉消瘦，大便溏瀉，脈來七至。余曰：在法不救，然脈尚有根，可以救十中之一二。每劑人參五錢，耆、朮、附各一錢五分，陳皮、歸身各一錢，日投三劑。約進十餘劑，及壯水丸五斤而起床。</p>
<p><u>顧明華哮喘</u></p>
<p>文學顧明華，十年哮喘，遍治無功。余曰：兩寸俱澀，餘部俱實。澀者痰凝之象，實者氣壅之徵。非吐利交行，則根深蒂固之痰，何能去耶？於是半載之間，吐五次而下七次，更以補中之劑加雞子、秋石，期年而愈。</p>
<p><u>王邃初哮喘</u></p>
<p>王邃初，老於經商，患哮喘者二十年。舟次談及，余謂年望六十難治，及診脈尚有神，右寸浮滑，是風痰膠固於太陰之經。以杏仁、防風、甘、桔、白芥子、麻黃，三劑而病狀減。因以丹溪治哮丸與之，仍日進六君子湯，連服無間，經年而愈。</p>
<p><u>陳文阿兩足麻痹</u></p>
<p>文學陳文阿，兩足麻痹，初服和血，改服攻痰，更服導濕，並兩手亦患矣。余曰：脈洪而軟，陰陽並虛，虛風鼓動，良由攻治太深，真元日削耳。用神效黃耆湯加茯苓、白朮、當歸、生地，十劑而小效，更以十全大補加秦艽，六十餘服而安。</p>
<p><u>王春卿行痹</u></p>
<p>孝廉王春卿，久患行痹，俗云流火，傷於藥餌，病甚。余曰：病魔日深，痛傷元氣，況有讀書之癖，心血衰痼，非大補何以救乎？春卿曰：去冬服參耆，痛益甚。余曰：症有新久之殊，醫無膠執之法，不以新是圖，而以舊是懲，毋乃因噎而廢食乎？不聽而守祛風抑火，後兩月而歿。</p>
<p><u>葉作舟痛痹</u></p>
<p>葉作舟，同體疼痛，尻髀皆腫，足膝攣急，分□病營，氣衰□□，寒□採之。經云寒則筋急血痼，則無以榮筋，斷痛痹也。以十全大補加□□、秦艽、羌活，一日而安。後輒以己意□方以致。</p>
<p><u>張遠公久嗽</u></p>
<p>張遠公，久嗽將死。余問其飢時，則胸中大痛。視其上唇則有白點，痛發則口角流涎，此蟲齧其肺，故咳嗽耳。用百部、烏梅煎膏與服，十日而痛止嗽止。令其家人從淨桶索之，得寸白蟲數十條而愈。</p>
<p><u>陳臥子之內眩暈、心腹痛</u></p>
<p>司理陳臥子之內，眩暈吐清□，每心腹痛必進食方止，屢止屢發，苦甚。余曰：視其上下唇，俱有白瘰者數處，故知其痛、其吐皆蟲也，非痰也。以黑醜、檳榔、雄黃、青黛為末，以蜜水調之，空心進五錢。不移時而大下，蟲如柳葉者，不可勝數。凡三下之，蟲盡而痛吐止。</p>
<p><u>葉震瀛夫人臨終時症候</u></p>
<p>京卿葉震瀛夫人，痞悶而喘，肌膚如灼，汗出如洗，目不得瞑，六脈皆代，有醫者請以十劑決效。余謂之曰：神氣不甚衰者，燈將滅而復明也，汗如油，喘不休，明旦死矣。果夜分神□，初曉死。</p>
<p><u>顧以功滑精</u></p>
<p>文學顧以功，科試老瘁，從南都歸，苦精滑溲後，至夢必遺，服金櫻子膏弗效，且沉困住床矣。余曰：從來精滑無如是之頻且數者，今氣將脫矣。須人參一兩，煎好調蓮鴉不二散服之，十日而蘇，百日而起。</p>
<p><u>張寧之精漏</u></p>
<p>武科張寧之，縱飲違度，一□小便後滴□數點，謂有餘之疾，不醫。逾月時有精漏，頭目眩暈，神氣困倦，服固澀藥益漏。余曰：六脈滑大，此曲藥中濕熱下干精道。以乾葛、白豆蔻、白朮、茯苓、陳皮、甘草、黃柏，大劑煎，日恣飲五六碗而精止，更以地黃丸料加黃柏，服十餘日而愈。</p>
<p><u>朱寧侯之子滑精</u></p>
<p>太學朱寧侯之子，年十六而精滑，聞女子聲即下莫禁，其脈大而無力。此中氣虛而下陷，以補中益氣湯，倍用升、柴，以六味丸料多加芡實、金櫻、五味、人參，服三月而精固。</p>
<p><u>錢用賓夢遺滑精</u></p>
<p>儒者錢用賓，色欲過度，夢遺精滑，服清火藥，服固澀藥弗效。余以玉華白丹濃煎，人參湯送五錢。兩服稍固，兼服生脈散、連鴉散、六味丸，交互服之，一月愈。</p>
<p><u>李易齋白濁</u></p>
<p>郡侯李易齋，患白濁，服五苓散、六一散、知柏散。余曰：寸與尺交數而滑，為心腎不交之症，以六味丸加杏仁、遠志，麥冬、丹參為丸，硃砂為衣，生脈散送下，五服而霍然矣。</p>
<p><u>羅忍庵滑精</u></p>
<p>文學羅忍庵，精滑經年，膀足腫痛，困頓床蓆兩月餘。忽被巨寇火灼之，誤以黃柏、井泥傅之，遍身糜爛。醫謂火毒入腹，擬用連翹、薄荷等藥涼之，余曰：久虛之人脈如蜘絲，氣將竭絕，非參、附恐無生理。其弟怒色不允，忍庵信余言，遂煎服而神稍復，肌膚痂脫，用溫補二月始安。</p>
<p><u>王徵美腰痛</u></p>
<p>孝廉王徵美，腰痛不得坐臥，服補腎藥弗效。余曰：脈緩大而無力，為風濕交侵，用獨活寄生湯四劑而痛止，但苦軟弱。余曰：邪去則正虛。服八味丸數日而愈。</p>
<p><u>宋敬夫心疝</u></p>
<p>上舍宋敬夫，心腹大痛，傴僂不能仰。日服行氣和血藥，無益也。余謂寸脈左手滑而急，其氣不能以息，偶得一咳，攢眉欲絕。此為心疝無疑。以醬姜進粥，取小茴香、川楝子、青木香、廣木香、茱萸、木通，玄胡索、歸身、青皮，一服而痛減，五日而安。</p>
<p><u>徐淡寧腹脹氣粗</u></p>
<p>大博徐淡寧，病餘膏粱不節，且傷於怒，腹脹氣粗，其脈盛大而滑，按之不甚虛。余用疏肺達肝之劑稍愈，即旦暮更醫，兩月病增。余曰：今病仍用參、朮、香、砂等藥矣。用二十餘劑而安。</p>
<p><u>張少椿令愛悲驚傷心</u></p>
<p>張少椿令愛，以喪子過喪，傷驚於迅雷，時泣時笑，時語時罵，如中鬼祟者，左寸浮滑，余皆沉細。是悲恐傷心，心傷則熱，熱積生風，痰因以聚也。用滾痰丸七錢，陳皮、杏仁、丹參煎湯，遂下出痰積甚多，更進四錢，再下而痊。</p>
<p><u>念山尿閉氣喘</u></p>
<p>先兄念山，謫官浙江按察，鬱怒之餘，又當炎暑，小便不通，氣高而喘，服胃苓湯不效。余曰：六脈大且結，乃氣滯也。用鹽炒枳殼八錢，木通三錢，生薑五大片，急火煎服。一劑遂通，四劑霍然矣。</p>
<p><u>楊方壼瘧</u></p>
<p>大史楊方壼，瘧髮間日，脈見弦緊，兩發後苦不可支，且不能忌口，急欲截之。余曰：強截之必變他症，當令其自止。用升麻、柴胡各二錢，提陽氣上升，使遠於陰而寒可止；黃芩、知母一錢半，引陰氣下降，使遠於陽而熱自已；生薑五錢，劫邪歸正；以甘草五分，和其陰陽；以蒼朮、陳皮，正其胃氣。兩劑而寒熱減，再劑進而止。</p>
<p><u>顧偉男之內下痢</u></p>
<p>文學顧偉男之內，痢下一月，脈大而無力，其虛可知。余禁痢藥，第以十全大補湯兼補中益氣湯加薑、桂，相間而服，二十餘日而安。</p>
<p><u>董玄宰泄瀉</u></p>
<p>大宗伯董玄宰，夏初水泄，完穀不化，服胃苓湯、四君子湯。余曰：春傷於風，夏生飧泄，謂完穀也。用升麻除濕湯加人參二錢，兩劑頓止。</p>
<p><u>董生公心脾痛不食</u></p>
<p>邑宰董生公，八月應試，心脾痛甚，不食，兩寸澀而無力。余用大劑歸脾湯，加人參三錢，官桂二錢。生公曰：痛無補法，得無礙乎？余保其無礙。不逾時而服藥痛減，再劑而痛止。</p>
<p><u>吳伯玉少妾纏喉風</u></p>
<p>京卿吳伯玉少妾，頸間腫脹，喉間且痛且麻。余曰：此急喉痹也，亦名纏喉風。若不治，明日必死。今脹而喘，毒勢方張，且惡寒者，病方在表，急以甘、桔、荊、防、牛蒡、枳殼、薄荷煎成，加生薑汁五匙服之，喘脹如故。急刺少商穴出血，再進前劑愈矣。此症一見惡寒便是表邪，是症若用寒冷藥，食冷物，毒邪凝閉無救矣。又硼礬□斂□之劑，無表邪者可用。若見脈浮惡寒，亦在禁例。</p>
<p><u>陳邃玄令郎脫髮</u></p>
<p>陳邃玄令郎，年十六歲，發盡脫落，脈數而大。余曰：腎之合骨也，其榮發也。多食甘則骨痛而發落，此《內經》之言也。及揣股髀間骨，果覺大痛。用還少丹加生地、當歸作丸，日服一兩。兼進清胃湯，半載而發出。</p>
<p><u>吳凝所令郎皮膚甲錯</u></p>
<p>文學吳凝所令郎，初秋到館，忽遍身搔癢，皮膚澀而不滑，在《內經》謂之索澤，在仲景謂之皮膚甲錯，此肺金燥邪也，精血枯痼，故體無膏澤。以地黃、枸杞、當歸、麥冬煎膏，加白蜜、真酥油拌勻，服至三月而潤澤如故。</p>
<p><u>姚元長手足不隨</u></p>
<p>姚元長，自奉奢侈形肥，以艱於嗣，鬱鬱不樂，當夏末忽手足不隨，醫認中風經月矣。余曰：形樂志苦，病生於筋，治之以熨是也。乃內服歸脾湯加鉤藤、木瓜，外用吳茱萸、桂枝、晚蠶沙，共為末，入蔥打和如膏，以絹盛著患處，火斗熨之，七日瘥。</p>
<p><u>俞彥直伏火</u></p>
<p>孝廉俞彥直，肌膚灼熱，神氣昏悶，聞食即嘔，強食即吐，困憊不支。或欲溫補，余按其熱處在骨間，脈沉而搏，此伏火也。用黃連一錢五分，山梔、黃柏各一錢，枳殼、陳皮各二錢，甘草五分，煎成入薑汁三匙，服四劑而痊。更以六味丸加生脈散，調攝次歲。</p>
<p><u>張仲輿令愛譫妄</u></p>
<p>張仲輿令愛，未出閣時，困於邪祟，終日譫妄。服安神化痰、祛邪辛香之劑。已無遺用，病不少間也。余曰：六脈忽大忽小、忽沉忽浮，確為祟憑。內服八毒赤丸，外以帛緊拴兩臂，復以二拇指相併扎定，以小艾炷於兩介甲側肉處灼之。甫十壯而乞哀願去，更與四壯，旦日復報七壯而祟絕。</p>
<p><u>鞠上囡譫語</u></p>
<p>鞠上囡，抑鬱蒸熱如焚，引飲不休，臥床譫語，戶外事如見。醫認傷寒，又認鬼祟。余曰：肝脈浮濡，肺脈沉數。夫木性雖浮，肝則藏血藏魂，而隸於下焦，脈當沉長而弦。金性雖沉，肺則主氣藏魄，而居乎至高，脈當浮短而澀。肺燥而失其相傅之權，則肝為將軍之官，無所畏制，遂飛揚而上越，不能自藏其魂耳。魄強則魂安，今魄弱而魂不肯退藏，乃逐虛陽而放蕩，此名離魂。魂既離矣，則出入無時，故戶外事皆見皆聞也。當救肺金之燥，使金氣足而肝木有制，則魂歸矣。用清燥加減，人參、黃耆、麥冬、天冬、五味、當歸以潤肺養氣；芍藥、棗仁、梔子、甘草以攝肝歸魂；橘紅、沉香使九天之陽下降；升麻、柴胡使九天之陰上升。兩劑而囈語止，十劑而煩渴皆除，一月而病魔退。</p>
<p>已下四方醫案</p>
<p><u>吳文邃真熱假寒</u></p>
<p>新安吳文邃，眩暈者三載，戰慄惡寒，五月而向火。數妾擁居帷帳，屢服薑、桂，千里延余。予謂脈浮之細小，沉而堅搏，是鬱火內伏，不得宣越也。用山梔三錢，黃連二錢，黃柏一錢五分，柴胡一錢，甘草五分，生薑五片，乘熱亟飲之。移時而惡寒稍減，再劑而輟去火爐，逾月而起。更以六味丸、知、柏，用人參湯送下，兩月全安。余知此病者，雖惡寒而喜飲熱湯，雖脈細而按之搏指，灼然為內真熱而外假寒，熱極反兼勝己之化。以涼藥熱飲者，內真寒而外假熱之劑也。</p>
<p><u>張石林脛膝紅腫疼痛</u></p>
<p>制臺張石林，脛膝腫痛，赤如塗丹。服檳榔、木通、牛膝、苡仁等藥，繼服蒼朮、黃柏。余曰：尺大而軟，責在少陰。用人參、地黃各三錢，麥冬二錢，丹皮、牛膝、枸杞各三錢，沉香一錢。四劑少減，二月而安。</p>
<p><u>萬玄圃神氣不充，兩足痠軟</u></p>
<p>蘇淞道萬玄圃，神氣不充，兩足痠軟。服安神壯骨，服補腎養陰，服清熱去濕，卒不效也。余曰：六脈衝和，獨有中州澀而無力，是土虛不能制水，濕氣注於下焦。以補中益氣湯加蒼朮，旬日愈。夫脈虛下陷之症，用牛膝、苡仁、黃柏等下行之劑則愈陷，故前藥所以無功也。</p>
<p><u>顧鄰初腳麻痹，大便燥結</u></p>
<p>少宗伯顧鄰初，手腳麻痹，大便燥結。余曰：腎虛不能上交，心虛不能下濟。服八味丸、十全大補湯，一月而精神旺，肌肉漸充。</p>
<p><u>趙昌期臂痛</u></p>
<p>車駕郎趙昌期，兩臂痛甚，兩手灼熱。用清胃健脾，三日溺色如泔。余曰：六脈俱澀，喉有喘呼。《內經》曰：肺所生病者，上氣喘滿，臂痛，掌中熱，溺色變。今病是也。用枳殼、桔梗各三錢，茯苓、知母各二錢，甘草一錢，一劑而痛減，再劑而溺清，三劑而安。</p>
<p><u>胡慕東不寐</u></p>
<p>太常卿胡慕東，形神俱勞，十晝夜目不得瞑，服歸脾湯數劑，中夜見鬼。更服蘇時丸，無功。余曰：脈大而滑，痰氣膠固也。二陳湯加枳實、蘇子，兩日進四劑，未效。以人參湯送滾痰丸，下痰積甚多，因而瞑眩。大劑六君子湯，服一月愈。</p>
<p><u>趙榮庵食厥</u></p>
<p>內臣趙榮庵，忽然昏僕，胸膈肚腹硬滿，氣口獨強。此食厥也，以枳實、橘紅二兩，煎服四碗，加食鹽少許，探吐頗多。更用香砂平胃散，數劑而安。</p>
<p><u>錢長玉夫人疝症</u></p>
<p>沔陽州學憲錢長玉夫人，腹痛腸鳴，或謂怒傷肝氣，又謂蟲積血積。余見其身傴僂而氣喘呼，脈弦而細。此女子之疝也，用青木香、廣木香各一錢五分，川楝子、木通、肉桂，茴香各一錢，當歸、甘草各八分。一劑痛止，四劑已。</p>
<p><u>樊山甫腸風下血</u></p>
<p>黃州樊山甫，形服善飲，腸風下血。余知其熱而且虛，以枳殼、黃連燒灰，升麻、生地、甘草煎湯，調服血止後，以八珍湯培養之。</p>
<p><u>鄒子尹夢遺</u></p>
<p>江右鄒子尹，患夢遺，服清心固精劑。余曰：兩尺俱濡，傷在少陰。以六味丸料、人參固本膏為丸，盡劑而精固。</p>
<p><u>褚怒飛腹痛白濁</u></p>
<p>京口褚怒飛，腹痛白濁，其脾濕下陷也。以補中益氣加蓮實十劑效，四十劑平復。兩月再發，以前方加蓮實、五味子丸服愈。</p>
<p><u>吳聲宏眩僕</u></p>
<p>新安吳聲宏，荒於酒色，立輒眩僕。余診兩尺如爛綿，左關弦且急。病得之立而使內，筋與骨俱傷也。用萆薢蠲痹湯加龜板、虎骨、鹿茸，服兩旬而痛若失。</p>
<p><u>王偉然嘔血</u></p>
<p>維揚孝廉王偉然，無寒暑讀書。忽嘔血碗許，不藥而愈。余曰：尊恙雖愈，元本日虧，須保任過長夏乃安。偉然不以余言為意，余復謂其弟張甫曰：令兄神門欲脫，水不勝火，炎赫之令，將不祿矣。蓋因陽躁而不鼓，陰衰而欲絕也。果至六月十九日嘔血而死。</p>
<p><u>王維凝傷寒</u></p>
<p>丹陽邑侯王維凝，傷寒汗下後時時灼熱，醫謂汗後不為汗衰，邪氣深重，禁其食，服清劑。困倦已極，求治於余。余曰：脈小腹濡，此邪氣已盡，正氣未復，穀氣不加，陽明失養，非病也，飢也。病者不能言，但首肯不已。徐進糜粥日五六次，居五日，不藥愈。</p>
<p><u>郭履臺昏倦不食</u></p>
<p>吳門僉憲郭履臺，年高入房，昏倦不食。醫知其虛，服補中益氣湯加薑、桂，不效。遣使迎余，兼夜而往視之，目不能瞬，口不能言，肌體如烙。余曰：脈大而鼓，按之如無，真氣欲絕，正嫌病重而藥輕耳。以人參三兩，熟附三錢，煎液，半日飲盡，目開。再劑能言笑，數日神氣漸復。用大劑補中，兼服八味丸，五十日而起。</p>
<p><u>王徵明喘咳吐血</u></p>
<p>吳門孝廉王徵明，喘咳吐血十餘年，余曰：脈浮而濡，是金臟既薄而飛風客之，為處薄荷二錢五分，人參、麥冬各三錢，桔梗、蘇子、甘草各一錢，橘紅、茯苓各八分，二劑效，三月而除根。</p>
<p><u>方禹修足瘡浸淫</u></p>
<p>相國方禹修，足瘡浸淫三載。服解毒藥、燥濕藥、清熱祛風藥。余曰：脈大無力，氣虛之候也。氣虛則下陷，服疏利藥，則愈下矣。以補中益氣加萆薢、蒼朮服之，外用當歸白朮膏和二妙散塗之，膿水漸干，更以六味丸加蒼朮、黃柏，間服一年而愈。</p>
<p><u>□望之嘔吐</u></p>
<p>諸暨□望之，積熱嘔吐，灑淅惡寒。余曰：竹茹、梔子三錢，茯苓、陳皮二錢，甘草一錢，煎成加薑汁七匙，乘熱服。望之曰：他醫方相類，不效。何故？余曰：熱甚而嘔，口有冷氣，此火極似水之象，須冷藥熱飲，方得《內經》之旨。昨他醫未知熱服，熱飲有效而速，望之曰：然。</p>
<p><u>吳修宇令侄不寐</u></p>
<p>新安吳修宇令侄，煩躁發熱，肌體骨立，三年在床，目不得瞑。余診其肝脈沉而堅，此怒火久伏，木鬱宜達也。以柴胡五錢，白芍、丹皮、梔子各三錢，甘草、桂枝各五分。日晡方進劑，未抵暮而熟寐，至明午未覺，舉家驚疑。余曰；臥則魂歸於肝。三歲不歸，疲勞已極，譬如久熱得涼，樂而忘返，無庸慮也。直夜分方醒，喜不自禁，愈。</p>
<p><u>秦五梅發熱困倦頭痛</u></p>
<p>楚中中翰秦五梅，發熱困倦頭痛，以風治轉劇。余曰：六脈虛軟，中氣下陷，陽氣不充而頭痛，陰氣衰少而內熱。補中益氣加葛根一劑而減，數劑而愈。</p>
<p><u>楊文若痰喘善飢不能食</u></p>
<p>相國楊文若，痰喘極楚，善飢不能食，服清氣化痰丸。余曰：翻受藥害矣。肥人氣居於表，中氣必虛，脾弱不能勝濕，氣虛不能健運，故雖飢而弗能食，痰滯而氣上升也。以六君子湯加蒼朮、南星、薑汁，數劑而痰喘止，嗣後脅痛眩暈，使來求方。余制白朮半夏天麻丸，參薑湯送下而愈。</p>
<p><u>方禹修夫人眩暈欲僕</u></p>
<p>相國方禹修夫人，觸於驚恐，身靄靄如在車船，開目則眩，起立欲僕。醫補虛化痰，屢投弗效。余為察脈，左獨沉牢。是驚氣入心，畜血為祟。用大黃、川山甲、歸尾、桃仁、降真、蘇木、鬱金，一劑而血下，再劑而復下數升而愈。</p>
<p><u>汪華泉中風脫症</u></p>
<p>徽商汪華泉，忽然昏僕，遺尿撤手，汗出如珠，口不能言。余曰：法在不治，然大進參、附或救萬一。用人參三兩，熟附子五錢，濃煎灌，至晚而汗減。再一劑，身體轉展動，更用參、附、白朮煎膏，加竹瀝、薑汁，數日神氣漸爽，調補二百日而安。</p>
<p><u>唐東瀛中風</u></p>
<p>延平郡唐東瀛，多思善郁，昏冒痰湧，口喎語澀，四肢不隨，時時悲泣，脈大而軟，為脾肺氣虛，風乘經遂。余以補中益氣加羌活、防風、秦艽、天麻、半夏、鉤藤，十劑而症減。又以前方去風藥，倍用人參、黃耆，兼八味丸，兩月乃安。</p>
<p><u>張可真中風</u></p>
<p>燕邸張可真，中風昏冒，牙關緊閉，先以皂角末取嚏，挾口灌蘇合丸，繼以防風散連三服，汗出如洗，邪從外解矣。去麻黃、獨活、羚羊角，加秦艽、半夏、膽星、薑汁、竹瀝，十餘劑而痰清神爽。</p>
<p><u>姚現聞中風</u></p>
<p>吳門太史姚現聞，中風昏憒，面赤發笑，難飲食月餘。余於孟秋診之得石脈，即語門生唐名璧曰：石者，冬脈也。新秋見之非其時，果歿於冬。</p>
<p><u>□□之父腸風下血</u></p>
<p>江右學憲□□之父，腸風下血，面色枯黃，腹高不快。余診脈右關浮緩，此脾土□足風濕交浸也。白朮一錢，人參、茯苓、黃耆、陳皮、甘草各一錢，升麻、柴胡各八分，數十劑而色潤。</p>
<p><u>葉行可下血</u></p>
<p>崑山□公葉行可，腹脹下血，服涼劑久而食減。余曰：脾土下陷，且未傳寒中也。補中益氣湯加益智仁、炮姜，久服全效。</p>
<p><u>何金陽令郎虛勞</u></p>
<p>邵武邑宰何金陽令郎，久困虛勞，已瀕於危，數千里招余。其脈大而數，按之極軟，此中氣積虛，反為涼劑所苦耳。乃以歸脾湯入桂一錢，人參五錢，當晚得熟寐。二十日而汗斂精藏。更以還少丹與補中益氣間服，數月而康。</p>
<p><u>章魯齋令郎吐血蒸熱，遺精自汗</u></p>
<p>給諫章魯齋令郎凌九，吐血蒸熱，遺精自汗，醫戒用人參。余曰：脾肺大虛之侯，非大劑參耆不可。魯齋以參為駭。余曰：必佳參數斤□□可效，以六君子湯及七味丸間服，百日而蒸熱退，肌肉漸生。</p>
<p><u>陳縣尊名鏕夫人蒸熱乾咳，肌體骨立</u></p>
<p>青溪陳縣尊名鏕夫人，蒸熱乾咳，肌體骨立，服滋陰降火而食減泄瀉。余曰：脈狀如絲，陽氣虛也，以補中益氣加肉果、訶子、乾薑，月餘而瀉止減咳矣。</p>
<p><u>許輪所孫女痰喘</u></p>
<p>南都許輪所孫女，十八歲，患痰喘羸弱。於四月初診之，手太陰脈搏指，足少陰脈如爛綿，水衰而火乘金也。余曰：金以火為仇，今不浮澀而反洪大，賊脈見矣。腎水不能救，秋令可憂。至八月初五日復診之，脈之洪大者變為細，腎之軟者變而為大。歲在戊午，君火司天，法當兩尺不應。今尺當不應而反大，寸當浮大而反細。經曰：尺寸反者死。況肺脈如絲，懸懸欲絕。經云：肺至懸絕，十二日死。此病短期，當在十六日。然安穀者逾期，不安穀者不及期，今食不斷，於十六、十六二日皆金，助其一線之氣，安得遽絕！十八日交寒露節，又值火日。經云：手太陰氣絕，丙日篤，丁日死。寅時乃氣血注肺之時，不能注則絕，輪所以能食，不信。於十八日寅時死。</p>
<p><u>方太和肢體腫脹，煩悶欲絕</u></p>
<p>新安上□方太和，怒後大醉，肢體腫脹，煩滿欲絕，六脈大且堅，當逐其水。用疏鑿飲子一劑，而小便大行，再服而四肢寬，以五皮飲加木香、沉香，服數日而瘥。</p>
<p><u>錢賞之遍體腫急</u></p>
<p>武林錢賞之，酒色無度，遍體腫急，臍突皆平。余辭不治，舉家迫餘下藥。余以金匱腎氣丸料大劑煎服，兼進理中湯，五日不效。舉家迫余尤急，乃以人參一面，生附三錢，牛膝、茯苓各五錢，小便忽通而進食。計服人參四斤，附子、薑、桂各斤余而安。</p>
<p><u>李來吳肢體脹滿</u></p>
<p>兩廣都憲李來吳，積勞善郁，肢體脹滿，服胃苓湯加木香、白豆蔻，轉增痞悶。余曰：脈沉澀而軟，色黃而枯，宜大溫大補。不從，僅用人參二錢，稍覺寬舒，欲投薑、附不肯。余曰：症坐虛寒，喜行攻伐。弗聽，果兩月歿。</p>
<p><u>周東志胃火</u></p>
<p>閩中周東志，形羸善飯，忽脹滿。醫認食多不化，服檳榔、枳、楂、麥芽、神麯、厚朴，脹勢轉增。余曰：右手脈滑，知為胃火。用石膏、黃連、山梔、木香、陳皮、酒蒸大黃，二劑而脹止。</p>
<p><u>張仲輝泄瀉</u></p>
<p>閩中太學張仲輝，縱飲無度，兼嗜瓜果，忽患泄瀉，日一十餘次。先服分利，不應；繼服燥藥，轉見沉劇。余曰：六脈俱浮，因思經云春傷於風，夏生飧泄。非大汗之，不能解也。用麻黃、升麻、乾葛、甘草、生薑煎服。或曰麻黃為重劑，雖傷寒不敢輕用者。仲輝嘆曰：吾命將盡，姑服此劑，以冀萬一。遂服而取汗，泄瀉頓止。</p>
<p><u>姚越甫傳屍</u></p>
<p>白下姚越甫，乙卯秋二子俱癆瘵死，悲痛不已。蒸熱咳嗽，兩目不明，腰肢無力，口吐清涎，唇有白點。服滋陰藥，開鬱藥，補中藥，清火藥。余曰：左脈數大無倫，右脈沉緩無力。此為傳屍，有蟲蝕藏，不去蟲，無生理。用加芎歸血餘散，加甘遂、天靈蓋，共為末。以東引桃枝煎湯，於八月初二天未明時空心調服，至辰、巳時，下蟲如小鼠者三枚，兩頭尖者數枚。以病者困頓，亟於人參一兩煎服。薄暮又服參一兩。明日四鼓，更以末藥減半服之，下兩頭尖蟲數枚。另以十全大補湯料丸服半載平復。其蟲以烈火煅過，雄黃末研勻，入瓶封固，埋於僻地絕人行處。</p>
<p><u>孟文時虛痛</u></p>
<p>大司丞孟文時，□□□痛甚，服理氣藥。余曰：脈緩而澀，法當峻補。醫曰：諸痛屬實，痛無補法。余強用參、耆、術各三錢，陳皮錢半，甘草四分服之。是夕痛定，明日進食。</p>
<p><u>晏懷泉如夫人腹痛</u></p>
<p>江右給諫晏懷泉如夫人，盛暑腹痛，自汗淋漓。服清火行氣藥，俱無當也。余曰：左脈澀，右脈濡。此氣弱不能運行，血因以阻耳。用參、耆、薑、桂、桃仁、歸尾、蘇木、玄胡索、鬱金，二劑而痊。當暑而用薑、桂，舍時從症也。</p>
<p><u>周洱如脹滿喘嗽</u></p>
<p>撫臺周洱如，傷於拂鬱，脹滿喘嗽，多藥愈腫，臥床不起，粥飲一杯。余曰：左寸大而滑，右關弱而沉，法當參、附。門人柳子青曰：曾服參喘急，服附煩焦矣。余以秋石制人參，黃連製附子，白蔻制白朮，薄荷制橘紅，沉香末佐之，另以通草、茯苓各一兩，煎液二碗。投藥煎成，加薑汁半酒鍾，和勻熱服，更以紅鉛、煅鼠糞，烏、附、冰、麝，蒸其臍，小便如泉湧。治五日而腫脹減十之七，進飯一碗。又十日而肉食，精神煥發矣。會部院索錢穀舟楫，乃晝夜草文，憂勞靡寧，三日而前疴復作。脈數大無倫，按之則了不可見，是根本敗壞，虛陽上亢之象也，且春杪如得夏脈，因辭不治，果於午月歿。</p>
<p><u>蔣恬庵歧視，手足麻痹</u></p>
<p>吏部少宰蔣恬庵，目中歧視，手足麻痹，服滋陰藥，補土藥，化痰湯液屢更，迄無功驗。余曰：寸口獨大，兩尺獨澀，是心腎不交也。以六味地黃丸料配補心丹作煎液，六劑而歧視收，一月而麻痹釋然。更服十全大補丸數斤，遂不復發。</p>
<p><u>張大𤸒子中虛有積</u></p>
<p>常鎮道張大𤸒子，舍有腹疾。余曰：六脈俱濡，氣口獨牢，乃中氣太虛而有堅積也。困憊不食者，以攻積太過也。雖用補中湯，只可延時日耳，果月餘斃。</p>
<p><u>章魯齋膚癢起塊</u></p>
<p>給諫章魯齋，肌癢且麻，三日發黑塊如博棋子，大便痛楚，嘔惡，一歲四五發，服熱毒藥。余診其脈，舉之則大，按之則緩，濕與風俱也。以荊、防、羌、獨，二朮、芎、歸、甘、桔、黃耆、茯苓、木通，十劑而旋效。更以前料為末，酒糊為丸，參湯送下，以杜其根蒂。</p>
<p><u>孫瀟湘夫人真寒假熱</u></p>
<p>屯院孫瀟湘夫人，久痢發熱不食，猶服香、連、芩、芍。余曰：脈大而數，按之如蜘絲，腹痛喜按，此火衰不能生土，內真寒而外假熱也。煎附子理中湯，待水冷服之，一劑而減，再加肉果、五味子，二十餘劑而起。</p>
<p><u>傅世烈瘧痢</u></p>
<p>郡侯傅世烈，瘧發而汗如雨，此風傷衛耳。醫認氣虛，用參、術致病。余以青皮飲加卜子、麥芽而愈。因不節飲食，腹痛下痢。余曰：既經下後，愈而復發，一月之瘧，兩月之痢，脈如懸絲，其虛已極，正須大補，第杯水不救車薪火矣。用二劑少安，逾旬不起。</p>
<p><u>何宗魯腹脹氣喘</u></p>
<p>山右何宗魯，夏令好飲涼水，因宗師發放，晨起候至未申，為炎威蒸逼，飲水過多，脹滿不食，腹如抱甕，氣高而喘。余曰：皮薄而光澤，土傷不化也，且病暴成，六脈堅實，法當峻劑攻之，以舟車丸三錢，香薷湯送下，再劑而二便下水，腹減如故。</p>
<p><u>韓原善陰黃</u></p>
<p>青浦邑尊韓原善，遍體發黃，服茯苓滲濕湯。余曰：脈細如絲，身冷如冰，口中不渴，此陰黃也。以薑汁同茵陳遍身擦之，服六君子加乾薑、熟附、茵陳，應手而效。</p>
<p><u>張綗閹下痢</u></p>
<p>蘇淞道張綗庵，秋初下痢，服香、連、歸、芍、枳、樸、檳榔、陳皮。用之兩月而病不衰。余曰：脈滑而有力，失下故也。於前劑中加大黃一錢，兩劑下積穢甚多，更以香砂六君子調攝而神旺。</p>
<p><u>毛孺初痢疾嘔吐</u></p>
<p>撫臺毛孺初，痢如魚腦，腸鳴切痛，聞食即嘔。余曰：脈雖洪大，按之濡軟，右尺倍甚，此命門火衰，不能生土。若非參、附，無益於病。今脾土太虛，虛則補母，復何疑乎？用人參五錢，熟附一錢五分，炮姜二錢，白朮、陳皮各二錢。三劑嘔吐止，更服補中湯加薑、附，十四劑即理事。</p>
<p><u>尹文輝腹痛睪腫</u></p>
<p>常州尹文輝，嗜火酒。閩中溪水漲，涉水裡許，腹痛半月後右睪丸腫大。余曰：嗜火酒則濕熱蘊於中，涉大水則濕寒束於外，今病在右者，脾濕下注睪丸也。以胃苓湯加黃柏、枳殼、茴香、川楝子，數劑差減，即以前方為丸，服十五斤乃愈。</p>
<p><u>駱元賓厥疝</u></p>
<p>文學駱元賓，患疝十年，左脅有形如臂，以手握之，瀝瀝有聲。此《內經》所謂厥疝也，用當歸四逆湯。半月積形減少，更服八味丸，五月而疝積消。</p>
<p><u>於鑑如腹痛有積</u></p>
<p>襄陽邑侯於鑑如，酒後腹痛，痛處漸堅。余曰：脈大而長，且搏指矣，必有堅積。然兩尺濡軟，不敢峻攻。先以四君子湯補完胃氣，然後以攻積丸，下十數行黑而韌者，腹猶痛也。經曰：大積大聚，其可犯也，衰其半而止。但以補中益氣加蓬朮為丸，服兩月而霍然。</p>
<p><u>程旃林肥氣</u></p>
<p>新安程旃林，素稟虛羸，左腹有肥氣。余以補中湯，兼肥氣丸，三增三減，積始盡去，更以參、朮、薑、附為丸，調攝數月而瘳。</p>
<p><u>沈明縝瘧症蛔動</u></p>
<p>相國沈明縝，丙辰仲秋瘧發嘔吐，出蛔蟲五枚，昏悶不能食，六脈沉細。余曰：瘧邪干犯太陰，中寒而蛔動也，以理中湯加烏梅、黃連，數劑吐止，去烏梅、黃連，加熟附子五劑愈。（此病素有寒中之患者。）</p>
<p><u>程武修瘧症</u></p>
<p>新安程武修，患瘧一日一發，自巳午時起至次日寅時退，月餘困頓。余曰：脈沉而大，頭痛，惡寒，寒勢甚於熱勢，此非失汗，必誤截耳。武修云：曾服家中截瘧丹，百發百中。弟服之病勢增劇，何也？余曰：邪方熾而止之，邪不能伏，愈猖獗矣。以石膏、黃芩各三錢，抑陽明之熱，使其退就大陰；豆蔻三錢，生薑五錢，救太陰之寒，使其退就陽明；脾胃為夫妻，使之和合，則無乖亂之愆。半夏、檳榔各錢半，祛胸中之痰；蘇葉三錢，發越太陽之邪；乾葛一錢，斷其入陽明之路。服三劑而勢減半，改用小柴胡湯四劑，而瘧不復發矣。四日服八劑效。</p>
<p><u>吳文哉真寒假熱</u></p>
<p>休邑吳文哉，傷寒發躁，面赤足冷，時時索水不能飲，且手揚足擲，難以候脈。五六人制之就診，則脈大而無倫，按之如無。余曰：浮大沉小，陰證似陽，謂之陰躁，非附子理中湯不可。伊弟日休曰：不用柴胡、承氣、不用三黃、石膏，反用熱劑耶。余曰：內真寒而外假熱，服溫補猶救十中之七。日休卜之吉，乃用人參四錢，熟附一錢，白朮二錢，乾薑一錢，甘草八分，煎成冷服之。甫一時許，而狂躁少定，數劑而神清氣爽。</p>
<p><u>張爾和傷寒</u></p>
<p>類江張爾和，傷寒頭痛發熱。余曰：症在太陰，方今正月，天令猶寒，必麻黃取汗，當兩日愈。若中和湯不惟不得汗，即得汗，必致傳經沉困，乃以麻黃湯熱飲之，更以滾水於床下熏之，得汗如雨，密覆移時，神已爽，頭痛止，至晚索粥。余曰：邪已解矣，可粥也。粥之明日愈。</p>
<p><u>周復庵傷寒汗後暈昏不蘇</u></p>
<p>吳門周復庵，年五旬，荒於酒色。忽頭痛發熱，服羌活湯以散邪，汗出不止，暈昏不蘇，余灸關元十餘壯而醒，用四君子加薑、桂服之而愈。因分析家產，勞而且怒，復暈而厥，用參、附大劑煎服稍醒。但一言語一展動便昏，一日昏絕者數四。服參三兩，以人參煮羊肉、大米羹服之，至五日昏止。余曰：元氣雖虛，幸脈有根蒂，非三年調攝不可。乃遵余言，兩月服人參四斤，投劑六百，丸藥三十斤愈。</p>
<p><u>王文麓吐血乾咳</u></p>
<p>湖州王文麓，吐血乾咳五年。余曰：察君之脈，望君之色，俱合補氣，卻聞服參必喘而見血，肺素有熱也。然疾已危，非人參不能振其衰者，乃以秋石制之，便可大進而無虞也。何則？人參入肺補氣，金家有火，故不勝也，然人參畏溲及滷，咸潤下可以制其上升之性耳。先服一錢，明日服二錢，嗽減少，用四君子加麥冬、五味、陳皮，以秋石湯泛為丸，同地黃丸兼進，服至兩年竟愈。</p>
<p><u>張飲光發熱乾咳喘促</u></p>
<p>吳門張飲光，發熱乾咳，呼吸喘促，服蘇子降氣，改服八味、理中。余曰：兩頰俱赤，六脈數而有力，金木兩家蘊熱不得越也。用逍遙散濟以秋石，地黃丸濟以龜膠，歷歲不怠，乃克全功。</p>
<p><u>須日華吐血</u></p>
<p>京師須日華，暴怒傷陰，吐血甚多。余思《內經》云：大怒則血菀於上，令人薄厥。今血厥而嘔數升，金氣大虛，而木寡於畏也。以人參一兩，培養金宮，且木欲實，金當平之。又況血脫益氣，治其母也。以沉香三錢制肝木，更以炮姜少許為嚮導之兵，再進而血始定，然脈法則已違度矣。經云：至如頹土，按之不得，是肌氣予不足，白虆發而死。言木剋土也。及期果驗。</p>
<p><u>張太羹令郎昏不知人</u></p>
<p>邑尊張太羹令郎，丙子六月間未、申時，昏不知人，夜半未蘇，得之納涼廣廈，過食生冷，陰寒外遏，陽氣不得發舒。用皂角末取嚏，沉香焚之，便芳香滿室，以宣其竅。用薑汁調皂角灰，沸湯點服，至寅卯時獲神爽，更服十味香薷飲加薑汁半酒鍾，以解其未盡之邪。</p>
<p><u>陳蓮石感冒</u></p>
<p>郡侯陳蓮石，易於感冒，得風劑乃安。頻發頻服，四五年矣。余曰：脈大如波湧，軟若𤸒肥，表虛而玄府不密也。日散其邪，是開門延寇矣。制玉屏風散三斤，劑畢而永不再發。</p>
<p><u>程九屏嘈雜</u></p>
<p>蘇淞道程九屏，嘈雜不寧五月矣，服痰劑、涼劑。余曰：脈陽強而陰弱，病得之酒且內，用連理湯同加減八味丸並服，三月而胸中之楚盡釋。</p>
<p><u>楊龍交少妾癍疹</u></p>
<p>青田縣令楊龍交少妾，發熱頭疼，遍身有細點。醫認癍也，治以升麻、犀角，轉加煩悶懊憹。余曰：脈浮而大，皆有頭粒，此太陰之疹，非陽明之癍。癍為熱毒，蘊於陽明，病在肌肉。疹為風邪客於太陰，病在皮毛，乃用荊、防、甘、桔、蟬退、陳皮、生薑，二劑而疹透。</p>
<p><u>袁啟莘癃閉</u></p>
<p>江右袁啟莘，居恆勞心，遇事沉滯。時當仲夏，溲便不通。服五苓、六一累進無功。余曰：兩寸洪大，知為心火刑金，故氣化不及州都也。黃連、知、柏、麥冬、牛膝、茯苓、人參、兩劑而小便如泉。</p>
<p><u>陳實庵脾腎兩虛</u></p>
<p>太史陳實庵，脾腎素虛，心神抑鬱，大便不實，飲食不化，吐痰不已。用六君子加炮薑、益智，理之而痊。若誤用清火理氣，是顧標而失本矣。</p>
<p><u>顧以貞風秘</u></p>
<p>文學顧以貞，素苦風痰，大便秘結。余曰：此風秘也，治風者先治血。以十全大補加防風、杏仁、麻仁，半月愈。</p>
<p><u>李集虛勞</u></p>
<p>太史李集，虛勞而無度，醉而使內，汗發知雨，痰湧如泉，脈沉而澀，兩尺為□，余語伊修楊玄潤曰：澀脈見於痰家，實艱於治，況尺澀更甚，傷精之象也，在法不治。勉用六君子合補中數劑小效，眾皆喜。余曰：澀象不減，按重無根，有日無月矣，果越十六日而歿。</p>
<p><u>黃健庵真寒假熱</u></p>
<p>檇李給諫黃健庵，中風大虛，喘急自汗，得食即吐，脈大且疾，沉之豁然，內有真寒，外有假熱，當用理中湯冷飲之。不從，反服清火劑而死。</p>
<p><u>朱修之脈痿</u></p>
<p>金陵朱修之，八年痿廢。余曰：六脈有力，按之搏指，猶是強飯。此心陽獨亢，壯火炎蒸，故稱脈痿者是也。以承氣下數行，右足展舒。再下之，手中可以持物。更用芩、連、山梔、酒蒸大黃蜜丸，以參湯送。一月之內，積滯盡去，四肢皆能屈伸。余曰：積滯雖祛，真元虛憊矣。用三才膏十斤，盡劑而康。</p>
<p><u>倪君儔痿症</u></p>
<p>崇明文學倪君儔，痿廢著床，春秋四易。余曰：脈浮之則大，沉之則濡，榮衛交損也。用十全大補湯加附子、鹿茸、虎骨、龜板、黃柏為丸，日進一兩。百日而機關利，半載而康。</p>
<p><u>侯啟東腹痛嘈雜吐涎</u></p>
<p>給練侯啟東，腹中嘈雜，左肋異痛，嘔吐涎沫，每飲食到口，咽嗌間若有一物接之者。余曰：脈大而數，按之輒減，此虛而挾濕，濕熱相兼，蟲乃生焉。中氣素虛，當以參湯送檳榔丸以滌蟲，種蟲不祛而服補湯無益。不從，竟至不起。</p>
<p><u>方春和噎</u></p>
<p>江右方春和，年近五旬，多欲善怒，患噎三月，日粥一鍾猶吐其半，六脈弱薄，神情困倦，喜飲熱湯，小便清白。用理中湯加人乳、薑汁、白蜜，二劑便減，十劑而多粥，加減至四十劑，而噎與吐咸絕跡矣。</p>
<p><u>錢遠之蓄血</u></p>
<p>練川錢遠之，以鼓盆之戚太過，胸痛不能飯，數日粥不下咽，隨食隨吐，涎如卵白，溲便堅澀。余曰：脈有根本，其畜血可下也，用酒蒸大黃加桃仁、歸尾、鬱金、延胡索、降真香、山甲，蜜丸酒送四錢，再劑而黑皆下，補養數月，病苦減去。</p>
<p><u>蕉漪園腹痛</u></p>
<p>太史蕉漪園，當臍切痛。余曰：腎脾俱弱矣，當益火之元，以消陰翳，用八味丸作煎液，兩劑而痛止。</p>
<p><u>高肖泉吐血</u></p>
<p>上海邑尊高肖泉，大醉大勞，吐血二十餘碗。服滋陰止血藥，兩頰俱赤，六脈洪大，按之有力，時仲春重裘登火炕。余曰：此因形體過暖，為有餘之症，法當涼之。用生地、芍藥、梔、連、白蔻、橘紅、甘草，十劑而止，更以清胸湯料為丸，服之而安。</p>
<p><u>嚴知非淋瀝大痛</u></p>
<p>浙江邑宰嚴知非，淋瀝大痛，陰脈疾而鼓，為龍火虛炎，醫泥痛無補法，轉通轉虛。余以六味丸料加車前、牛膝、沉香、通草，八劑痛減。醫曰：實火妄行而淋痛反補耶。余仍用補中湯、六味加減互進，五月而愈。</p>
<p><u>張鳴之吐血</u></p>
<p>錫山張鳴之，吐血兩年，面色痿黃，潮熱咳嗽，膈有微痛，服滋腎，服補中。時仲冬，余曰：脈數而沉且搏，其痛而不可按，而甚於夜分，是堅血畜積，非大下不可，又以久痛，不敢峻攻，用鬱金、降真香、當歸、生地、山甲、蓬朮、人參，下血如漆者數次而痛減，月餘復痛。余曰：病重而藥輕也，乃以大黃、乾漆、蓬朮、鬱金、山甲、肉桂、歸尾、桃仁、虹蟲為丸。每日服參耆之劑，午後服丸錢許。十日而血積大下，數次痛止神旺，吐血煩熱咸已。</p>
<p><u>後記</u></p>
<p>此書系我曾祖於磐公手錄，至今有五十餘年矣。其殘編猶存於古架之上，覽其前後，凋落不堪，已成半廢。吾父見之曰：此士材李公家藏之脈案，因吾祖與李公舊交，故得此抄錄以秘藏之，當須珍重。噫！我曾祖手錄之時，不知四世孫之續其全矣。吾續之後，不知復有何人重較耶！</p>
<p><u>丙辰小春下浣四世孫升庵續記。</u></p>
