<header data-type="book">
<h1>留香館醫話</h1>
</header>

<h1>孫序</h1>
<p>醫小道也，有至理存焉，明其理，及能精其術。善守古方，膠執己見，皆非也。濠湖華劬生茂才以通儒為良醫，學識優長，經驗豐富，善於此道，三折肱者，近著醫話一冊，將其平生所得，筆之於書，以諗來者，復反覆指示，百端取譬，盡人應有之知識，卻無人能道其詳；間述名醫、庸醫各節，尤足為後生法戒。他日梓行後，俾家置一編，即為病家、醫家之常識也可。</p>
<p><u>庚午中秋八八叟孫魁識於擁書軒</u></p>

<h1>自序</h1>
<p>吾國醫術，自軒岐而後，代有名人，著述宏富，學者畢生不能卒其業。振自弱冠後，始涉獵及之，家藏而外，復假諸友人，得稍窺其門徑。旋由族人介紹，受業子北範席君育先師之門。先師不以振為不肖，立案立方，往往俯有所商。徒以處境艱窘，未獲久侍函丈，良以為憾。應診之始，每診一病，輒為查覈古方，推闡病象，仿徨終夜，休息未遑。迨再診奏效，始釋重負。倘或不治，等於剚刃，深自引咎，迄今三十年矣，事以經過而知難，言以有徵而益信。回首前塵，庸有一得，謹就追憶所及，拉雜記之。對於細微之事，古人所不道，良工之易忽者，尤加詳焉。若夫精微之學，深奧之理，有古籍在，非振所敢贅也。名之曰醫話，等諸尋常之談話云爾。</p>
<p><u>中華民國十九年秋月</u></p>
<p><u>鵝湖劬生華國振記</u></p>

<h1>留香館醫話</h1>
<p>先君子喜讀稗官野史，而尤好醫術，然未嘗為人治病也。先慈多產體弱，中年善病，病急時，則邀查家橋錢子裕先生診視，一二劑後，先君子輒自調之。錢公常許其精細，勸之應診。先君子以生命所關，終弗敢也。父子性相近，振之好讀醫書，殆得之遺傳性耳。</p>
<p>醫者意也，凡治一病，對於天時之寒暖，人事之勞逸，體格之強弱，年齡之老少，病前之飲食起居，平素之有無宿恙，一一皆當推究，以意融會之，自能得其病根之所在。《經》云：「治病必求其本。」本者病根之謂也，再參以所現之症象，望其色以；知其陰陽；聽其聲，以辨其虛實；按其腹，以驗其垢；察及頸項胸膺，以探其疹㾦，視其唇舌齒齦，以究其津液之枯潤，及虛熱實火之表現，以意融會之，自有的對之方，得於心，應於手，按部就班，勿急於圖功，勿緩以誤事，當機立斷，自有左右逢源之樂。若徒恃方書，所云某方治某病，某藥入某經，按圖索驥，膠柱鼓瑟，未有不僨事者。</p>
<p>醫學與科學同，無止境也。古人方書，汗牛充棟，學者每興望洋之感，則莫如擇要而讀焉。《內經》、《難經》《金匱》、《傷寒論》、如儒書之六經，不可不讀也。四大家各有所偏，然當時所治皆效，無所謂偏也。學者慎勿是甲非乙，以今議古。惟陳修園、張景岳二氏，自信太深，未免拘執，讀者須斟酌焉。大部醫書，則《證治準繩》、《張氏醫通》、《醫宗金鑑》等選讀其一可也。夫科學新理日出，故書籍以愈近者為佳，醫書亦猶是也。或發明新義，或兼參西法，學者宜博採並觀焉。醫案則參考書也，三家醫案，高難學步，《臨證指南》駁而不純，予所見者，階《柳選四家醫案》，為最合時宜之名構，方案皆當時原本，不加雕琢，置之案頭，亦一良導師也。</p>
<p>經云：「熱病者，傷寒之類也。」而於是著書立說者，無不重視傷寒一門。近代時流，幾舉六淫之病，無不以傷寒目之，而其實傷寒熱病，迥然不同，以喻西昌醫律之精，尚不知溫熱病為何物，強引《內經》之文，分為三大綱，寧知古今有印板之書，安有印板之病，泥古不化，死於溫熱者必多。自葉天士氏《溫熱論》出。學者始有所宗，繼起者無慮數十家，而死於溫熱者始鮮。葉氏真軒岐之功臣，仲景之高足也。仲景之書，《傷寒》《金匱》而外，更有《卒病論》，惜古籍云亡，遂令後人對於猝暴之病，無所適從。唐宋元明以來，闡發傷寒精義，無餘蘊矣。然不善用其方，拘泥太甚，動輒枘鑿，說者遂謂古方不可以治今病，置之高閣，不復鑽研。折中者，謂用古方治今病，如拆舊料改今房，須經匠人斧削，此言是也。</p>
<p>大江以南，傷寒絕少，而溫病則四時皆有，在春曰春溫、風溫；在夏曰暑溫、濕溫；在秋曰秋溫、伏暑，癉瘧；在冬曰冬溫，近代三衢雷氏《時病論》論列綦詳，大可師法。其它病機、脈法、藥性，悉能納博於約，要言不煩。學者苟於此探索焉，則學醫之道，思過半矣。</p>
<p>醫師操活人之柄者也，當以道德為重，博愛為懷，患得患失之心不可有，重富輕貧之見不可存。若競爭心、嫉妒心、不負責任心，尤當切戒者也，中心但然，注全神於病人之身，自然不入岐路。若審症不甚分明，治法毫無把握，寧知難而退，萬勿敷衍塞責，延宕貽誤，致犯庸醫殺人之戒。醫術關乎生命，豈可與工商諸業，藉圖餬口者比哉！</p>
<p>學佛者必損眾生，知見、佛見、法見皆須掃蕩而空之，無見之見乃為真見，《楞嚴經》所謂「見非見也。」學醫者亦然，讀古人書，須食而化之，若以之橫梗胸中，則學東垣者，偏於補中；學丹溪者，偏於滋陰；學河間、子和者，偏於清瀉。在古人當時，對病發藥，既無隨人俯仰之心，亦無矯在過正之見。今人讀其書而不能通其意，遂目之為偏，或者拾其唾餘，矜為心得，握管在手，牽強附會，為古人之奴隸，窒一己之性靈。此所謂削足以就屢耳，安望其批邵導窾遊刃有餘哉。方書之金木水火，猶代數之甲乙丙丁也。代數之字可以變更，改甲乙丙丁為愛皮西提可也，改阿伊烏哀亦無不可。吾國狃於生克之說，牢不可破，隔二隔三之治，穿鑿附會，雖謂續貂，無益治療，徒滋聚訟。學者於此等處，須拿定主意，勿為所淆。對病立方，要知化學方程式，五雀六燕，銖兩悉稱，方為愜心之作，若拘泥於生克，則必有勉強湊合之處矣。</p>
<p>病有病名，認定病名，則提綱攣領。向的發矢，自無錯誤。喻氏先議病，後論藥，可宗也。若病情錯雜，似是而非，不能斷定其為何病者，盲人瞎馬，行不得也哥哥。醫者遇此，不如婉言謝之，勉強開方，斷無一效者也。</p>
<p>「不為良相，便為良醫。」範文正以生人為心，其心良，則無往而非良也。心者，生命之原也。心可以離形而獨立，形不可離心而生存。儒家所謂「放之則彌六合，卷之則退藏於密者也。」內典三藏十二部，無非發明心之體，心之量也。試以月喻之，舉頭所望之月，月體也；大地所照之光，月量也。月體不變，月量無盡，心亦猶是。曰性、曰魂、曰靈，一物而異名也。一念未起之時，聖賢與盜蹠無殊也，及其既起，善惡判焉。人苟能以範文正之心為心，則不論操何柄，營何事，亦無往而不良矣，獨醫事云乎哉？</p>
<p>讀古人書，不能瞭解其義，姑置之一、二月。再讀，再不解，仍置之，或多讀古書，當有互相發明之處，觸類旁通，心領神會，試再讀其書，如破竹然，一節之後，迎刃解矣。</p>
<p>古人讀書之暇，方讀醫書，今人讀書不成，改習醫業，以醫為啖飯之計，而醫術於是卑矣。夫醫掌生殺之柄，必有生人之仁，殺人之膽，而後可以言醫。其殺人也，審病未確，輕進圖功，生之之心太切，而反以殺之。此偶然之誤，初學者所難免，但既誤矣，不自引咎，巧言文過，則醫術何由而進？必也凜凜於心，常如臨深履薄，審之再三，千確萬確，然後放膽用藥，自能絲絲入筘。設誤於前，而惕於後，從此膽小如鼠，藥不輕投，方務減削，一味敷衍，養成重病，此張路玉所謂庸醫不能生人，亦不能殺人，而終至於殺人者是也。</p>
<p>治外感病如良將治軍、除暴安良，務使邊無寇驚，野無伏莽，而其職在靖。治內傷病如良相治國，舉賢任能，務使陰陽調和，閻閻安堵，而其職在平。</p>
<p>用藥如用兵，選藥如選將。漢高祖善將，知將性也。名醫善定方，知藥性也。善用兵者，能審敵情，知已知彼，百戰百勝。善治病者，能識病情，辨症投藥，百藥百效。然有審症無誤，用藥不謬，而藥不奏效者，何也？非藥不道地，而羼偽藥，即煎不合法，而失藥性耳。或兩醫同治一病，用藥無甚出入，而一效一不效者，何也？此屬於病人信仰心之強弱也。信仰心強者，未服其藥，病已去十之四、五矣。故醫師為人所輕視者，治療不易奏功也。</p>
<p>用藥如用兵，選藥如選將，既如上述。然兵非久練，將非素信，猶難操必勝之券也。兵在精而不在多，將在謀而不在勇，用藥之法亦然。非習用之藥，勿好奇而輕試；非必要之品，弗好多而雜投。君藥直搗其中堅，佐使謹防其竄擾，多至十二、三味足矣。若頭痛醫頭，腳痛醫腳，多多益善，枝枝節節而為之，則牽制既多，動輒掣時，安望其有成功也？</p>
<p>泥古不化者，個可言兵；先入為主者，亦不可以言兵。韓信陣背水而勝，馬謖營絕處而敗，一化一不化也。武穆不拘兵法，所向皆靡；趙括徒讀父書，一軍盡沒，一拘成見，一無成見也。治病亦然，有某醫青，偶與之淡，必曰太陽病用何藥，少陽病若何治，背《傷寒論》如數家珍。聞其鄉人云，初應診門庭若市，經二、三月，求治者，減十之七，半年後，門可羅雀矣。今已改業為童子師，身孔孟而口詩書，道貌儼然，望而知為鄉館先生也。又有某醫者，少年氣盛，學於蘇州某名醫之門，沾其空頭之習，懸壺鄉里，求治者踵相接，出必乘轎，診金，轎金有定額。經車棚轎不能過，轎伕請先生出轎，待過棚再乘，先生怒斥之，不得已，佝僂而過焉。所開方多貴品，五金、十金，以為常藥。店主以病家貧，索現金，病家往訴先生，先生大怒，將治以誤人生命之罪，店主不得已，許焉。鄉有某氏婦患溫熱，神錯譫語，液涸不得汗，以親戚故邀先生。先生以為虛極將脫，不肯開方。求西醫打針，亦拒之。的招予往，先生與西醫異口同聲，皆言不效。予為定扶液清裡辛涼透邪之劑，另服全寶丹一丸。神蘇熱減，竟以漸愈，至今其人尚健在，而先生則無人過問矣。此則於泥古拘執之外，有虛驕之氣焉。</p>
<p>病有失表而變壞病者，病雖久，仍當表之。鎮有廣東人士店小主某，患溫病，開首醫，誤投鮮斛、鮮地、芩，連等味，以致表邪遏伏，熱勢陡增，繼一醫下之，亦不效。又醫以為夾陰也，大溫之，舌裂出血。又一醫滋之，口轉膩。又一醫燥之，病如故。所邀皆鄉間著名之醫也。病經四十餘日，自分絕望，時予初應診，其家姑邀予往，亦聊盡人事而己。予見其方厚迭如簿，略翻一過，見藥皆重劑，於視其面，癯而微紅，舌微絳，中有縱紋，裂而出血未止。聞其聲，重濁而見咳嗽，胸悶而脅痛。切其脈，細浮數。方食陳米湯，以冀續命。予斷其為失表而成壞病也，投以辛涼輕開之劑。一藥見㾦，病稍差。再劑㾦足，然咳嗽表熱未平也。再投前法，參以養液，三日更布㾦，又三、四日而更㾦。凡發㾦三次，予方始終未變也。後以清養調之而痊。</p>
<p>病宵失下而變危病者。予弱冠時，曾患熱病，病由冷浴、熱浴相間，且浴後當風所致，故一發便重，壯熱譫語，口燥津枯。時怙恃皆背，庶祖母為邀鎮上某醫。醫膽素小，不敢投清瀉，以致發狂液涸。適錢子裕先哲應鄰家之召，因邀治，處方：犀尖磨、鮮地、豆豉、鮮首烏、硝黃，老蘇梗，大劑灌下。得安臥，冷汗如雨，黎明便暢下。再劑霍然。至今不敢忘錢公再造之恩也。後十年，予又病秋暑，氣升莫制，時神識已時迷時蘇，自定方倩人代書，藥病相左，幾致不救。先師適來蕩，邀診亦無效。以伽楠香和雅片進，氣升如故。內子按予腹，堅如石，乃以豬膽汁灌肛中，下堅糞兩枚，堅硬異常，出時肛門若火灼。明日乞得豬膽七八枚，儘量灌之，糞下乃如牛屎，下後汗㾦俱得。後倩先姐丈蔡望求調理而愈。膽汁導法，予屢用之，以救危症，較洋密灌更佳，因其有寒性也。</p>
<p>病有早下而變危病者。河沿橋南楊姓，年約四旬，本濕溫病，醫誤以虛痞為實脹，投生軍、元明粉至四劑，所下皆稀薄，愈下愈脹。予切脈濡數無力，視其舌薄灰，以指捫之，潤而不燥。予投附、桂以溫之，茅、樸以燥之。救病兼救藥誤也，診三次而愈。</p>
<p>有同病而體異，用藥特殊於眾者。某年四、五月間，熱病盛行，投白虎透斑湯，疹㾦並見乃愈。鎮有老紫陽豆腐店老闆阿德者，亦患熱病，神昏譫語，疹㾦俱見而不愈。先師偕予往診，用白虎湯，病轉劇。繼邀予診，切其脈，不鼓指，口喃喃如鄭聲，無片刻清醒，觀其舌白膩微黃，乃投桂枝、茅朮等品。一劑神稍蘇，再劑而疹㾦布滿，至無下針處。後以二陳、朮、桂等品調之而愈。生命所關，當仁不讓，先師亦不以為忤也。</p>
<p>葉氏曰：「溫邪上受，首先犯肺，逆傳心胞。」解之者曰：熱傳心胞，為逆；熱傳胃腑，為順。言逆傳，而順傳不煩言而明矣。順傳、逆傳，皆有神昏譫語之象。逆傳用至寶丹、神犀丹、紫雪、牛黃清心丸等酌用。手搐搦者，必加羚羊角。順傳按之滯在胃者，以硝黃盪滌之；已入於腸則緩其制，瀉葉、枳實、蔞仁等足矣。一下之後，神未了了者，再下之勿餒也。</p>
<p>濕溫者，濕與熱合，糾結不清，薛一瓢名曰濕熱。熱與溫同類而異名耳，或曰溫者熱之漸，熱者溫之極是也。或先受熱，或先受濕，或濕與熱同時感受。治之之法，必先祛其濕，或風以揚之，或日曝之，或實土以堤之，或開溝以泄之。法雖不同，而先祛其濕則一也。祛濕之法不同，當視其微甚而斟酌之，不可以板法印定後人眼目也。迨其化燥而清之，若化不足而早清，仍有後患。必捫其舌已干，唇燥起皮，或有血痕，然後清之，一、二劑愈矣。譬如行舟遇橫風，必先吃足上風一板，由風順駛捷，無阻礙矣。鄭莊克段，故縱其好，勾踐沼吳，先驕其主，理乃通於治濕溫。將軍欲以巧勝人，盤馬彎弓故不發，此言似之。</p>
<p>治諸溫易，治濕溫難。江南地卑多濕，濕病最多。暑邪必夾濕，秋暑、伏暑皆可治濕溫之法治之。伏暑風雨霧露暑熱，瓜果攙雜湊集，最難速愈。大抵體弱者，其發早，早發者愈速；體強者，其發晚，晚發者愈遲。其發於深秋者，又兼燥氣，治之合法，動經匝月。治不合法，久延成虛，多有傷生者。病家認定一醫，信任而委之，尚易奏功。若病家無主見，一、二劑不效輒易一醫，易一醫而不易其法，猶無大患。設易一醫更一法，轉瞬燥氣臨矣，西風起矣，津液漸涸，以致不救者比比也，可不慎哉！</p>
<p>溫熱，下不嫌早；濕溫，下不嫌遲；一實脹一虛痞也。必按其腹，堅而拒按，矢氣頻作，舌苔或黃，或灰而厚者，急攻之，倘攻不下，必求其故，勿再下，姑守之。其食在胃腑者，雖攻不下；其堅在臍右者，尚不可攻，必待其累累；然在臍左，乃攻之，則順流而下矣，此言濕溫之下法也。下藥硝、黃力猛有毒，內傷臟腑，勿輕投，瀉葉、蔞仁、枳實足矣。濕溫早下則泄稀火，邪易陷，反增其病。速化其濕，濕盡燥結乃可攻。</p>
<p>溫病疏表宜辛涼，銀翹散最合。無汗者，防風、荊芥、蘇藿迭加一、二味。濕溫疏表以蘇藿為宜，豆豉亦可，用必參以二陳，濕甚者術樸亦可加入。若分利之品，則在所必用也。無汗用杜藿香，有汗用廣藿香。</p>
<p>下劑必加桔梗，開上竅以通下竅也。透㾦必佐橘絡，疏肺絡以達皮毛邊。溫病經旬日以外，未有不發疹㾦者，以邪入深也。桔梗、橘絡尤為必需之品，一宣肺以達皮毛，一疏絡以佐外布也。</p>
<p>溫病久不解，非內實，即內虛。內實者，表下兼施，垢去而疹㾦透矣；內虛者，津傷也，扶津透邪，津回而皮毛潤，疹㾦透矣。疹㾦既透，萬不可早投補品及進米麥食物，恐留邪反復也。必辛涼輕劑佐以清養，進二、三劑再定治法。下後胃氣已傷，熱退則不欲食者，弗強食之，或先進藕粉，以其養胃而無補性也。</p>
<p>濕溫大忌早清，必驗之於舌，縱舌絳似燥，手捫之仍潤者，或細察之。有浮膩者，胸悶反復不寧者，口渴不欲多飲者，表熱綿綿不揚者，此皆早清之咎，必仍當芳香二陳等品，或可加入川樸，催其悉從火化，然後黑膏一投，疹㾦布而熱解矣。</p>
<p>時下名流，往往喜清而畏溫，好潤而忌燥，一見患者舌尖微絳，表熱熾盛，不問其為溫熱濕溫，鮮地、石斛亂投，知母、石膏混用，不知邪不外透，煩悶轉加，表熱益壯，而於是手忙腳亂，另請高明，自圖卸責。倘遇明眼人辨其病根之所在，病變之由來，再叩以病前之先兆（重病必有先兆，如天時人事，皆當參考。）病中之經過，夢中之所見（實熱夢火；虛寒夢墜；內實夢便；表寒夢雨；陽盛夢飛之類。）多方推詳，必能究出所以然之故，此時須誠心負責，放膽定方，十可全其八九焉。</p>
<p>外實表之，內實下之，濕盛燥之，火炎清之，津枯潤之，六淫之邪各有對治之方，此粗知醫理者類能言之。然言之非艱，行之維難，開手定方，萬無忽略，倘失表留邪，變症漸起，醫師慌張，病家變計，易醫不誤表之尚易，倘再失機，病必愈變幻矣，或表邪未淨，早投補品，或自矜奏功，促進飲食，如斯變重，皆醫之咎。迨病屢變、醫屢更，雜藥亂投，愈無把握，卒至潮熱，咳嗽、液枯、舌絳或致光剝，更以重金聘請名家，設投以清養寧嗽之方，而於是虛勞之病成矣，此徐靈胎所以以沙參、麥冬為治嗽之戒品也。及既成癆，病家猶以為病根實深，用心已盡，委之天命，徒喚奈何，而不知皆開手一醫誤之也。設遇明眼人於變症蜂起之時，投以表散之方，抱定主意，不稍遊移，則失之東隅者，猶可收之桑榆也。醫者安可忽於病之始起時哉！</p>
<p>兵法十則圍之，倍則攻之。治實熱病，如遇勁敵，必十倍其兵力，圍而困之，然必寬其一面，以開其逃生之路，然後迫蹙而消滅之，否則困獸之鬥，所傷實多。治病之兼開其肺氣者，寬其一面之意也。大病雖解，必有餘邪，亦令其還從肺泄，迫蹙而消滅之，方無後患。其治次重之病，得寸進尺，皆有步序，此倍則攻之之意也。</p>
<p>治實病，如治盜匪，利用剿治；虛病如治饑民，利用撫治；本虛標實之病，如治亂民，宜先剿而後撫。剿撫得其宜，亂未有不止者；攻補得其法，病未有不痊者。強弱異勢，攻守異形，當病勢方張之時，汗之不汗，下之不下，姑投輕劑以俟之，此以守為攻之意也。料敵決勝全在能審敵之虛實，或正兵以圍之，或奇兵以襲之。垓下破楚，重圍困羽，此正兵也；井脛攻趙，輕騎易幟，從治奇兵也。治病亦然，正治正兵也，從治奇兵也。曹劌論戰，必攻齊氣之既衰，宋襄用兵，不擊楚軍於未濟。一則明敵情而勝；一則昧敵情而敗。故善用兵者，能審敵情；善治病者，能審病情，其理一也。醫必三世，肱須三折，醫道豈易事哉！</p>
<p>兵不嫌詐，藥亦有利用詐者。所謂從治之法，猶兵家之詐降也。古有以辛烈之藥濃煎其汁，收入甘平藥中者；又有作丸，外殼與中心異性者，此則醫術之化境矣，非初學者所能學步也。</p>
<p>外感病禁食，內傷病則否。其禁食者何？邪熱不殺穀，此古訓也。竊以為藥之入於胃也，分布於表裡氣血，全憑胃氣鼓動運化而傳達之。設胃有食滯，則胃力全消耗於運化食物，安有餘力化藥以達病所哉？堅壁清野，令敵無所資，亦破敵之法也。</p>
<p>內傷病則反是，有胃則生，無胃則死，凡虛症皆然，故須望其納穀以養胃氣。胃氣存得一分，即生命保得一分。即藉食以養胃，更藉胃以化藥，輾轉相資，如循環然。故調理之法，首宜注重者在胃。</p>
<p>內傷宿恙又感新邪者，須速去其邪。倘正氣未至極虛，不可兼參補品，以免掣肘，所謂無糧之師，利在速戰也，經云：「緩則治其本，急則治其標。」標病，即新邪也。</p>
<p>病有正虛內結者，不可下，此下元虛，命火衰，不能腐熟水穀，運行氣機耳。須補其腎陽，益火之原，以消陰翳者是也。服之似不甚效而濁陰漸化，久服方見大效，大便不通而自通。扶陽之劑須兼補中，補中之品須參入消化，防其壅滯，反礙胃運也。</p>
<p>經曰：「寒極生熱，熱極生寒。」熱極生寒假寒也，百不見一；寒極生熱真熱也，十病而九。凡六淫之邪，久必化熱，秋半以後，燥氣加臨，始為勝氣，為次寒，謂燥病次於傷寒也，一散即解。終為復氣，屬實火則非清潤滋液不可。其挾伏暑者，內無食滯治之尚易，內有食滯則化火最易，津液易涸，有一、二日便劫液舌乾，神昏譫語者，其唇必有血痕，其齒必有灰垢，急以大劑清瀉救之，更須恣飲梨汁、雪水之類，以折其火，以滋其液。倘遲緩貽誤，舌黑而短，則雖有仙丹莫可挽回矣。夫燥為秋氣，梨為肺果，燥若傷肺，最宜以梨汁救之，即使津液未傷亦宜加梨皮於藥中，或用梨肉。大抵無汗宜皮，有汗宜肉，液枯宜汁。</p>
<p>秋燥病夾食者多，倘有汗不解，不必論其日數，不必拘其舌苔，便當問明有無矢氣。若有矢氣，即投潤導，雖無矢氣，按其腹堅者，即下之，勿令化火劫液，橫生枝節，此予屢治屢驗者。良以燥氣消爍，腸液內虧，大便雖行而不暢，已有積垢矣。錢步云君之病即系此咎，參看醫案（標錢姓者即是）便知，共診四次，案載兩方。其始步云堅不肯服寒涼，雲系某醫所囑，經予竭力促之，始肯服。翌日諸患皆平，且得安臥，始信予言非謬。</p>
<p>病有假寒假熱，藥有正治從治。然假寒絕少，假熱病則十有五焉，設投涼藥而熱反熾者，須防其假熱。辨之之法，細察舌苔，絳而似干非乾者，呼氣不甚熱，渴欲飲冷飲，一、二口即止者，則假熱無疑矣。</p>
<p>溫藥之過易見，清藥之誤難知。投清藥而效不甚著者，已誤矣，速改方針，萬勿再投。蓋清藥如陰險之小人，受其害者，初不明瞭，及至覺察，已難挽回，非如溫藥之一誤即見，顯而易見也。</p>
<p>病重藥輕，反張邪焰；病輕藥重，誅伐無過。過猶不及與相左之方，猶五十步之笑百步耳。故權衡輕重，當有把握。或因認病不確而姑以相試者，則一劑之後必有正確之見地，若仍模糊影響，速謝主人，勿誤病者。</p>
<p>暑邪病有表之而出冷汗，或自出冷汗者，弗驚也，此由貪涼過度，或午夜納涼，或清晨涉野，中霧露之邪耳。以辛溫表之病，有表之大汗淋漓，呼呼而臥，喚之不醒，身冷如脫者，勿驚也，此正邪退之候，陽不能驟復耳。葉氏云：「膚冷經一晝夜自愈。」予治張伯庭女名靈官者，果如葉氏所云。病家以為將脫也，再邀予往，意在譏予誤藥，令予難堪耳，予力保其無妨，一肩任之，為定善後之方，果一晝夜而蘇，腹飢索食，扶之膚已溫矣。調養尋愈，今已出嫁生子矣。</p>
<p>六淫之病，火病變幻最速，殺人最易。風寒暑燥諸氣，久必化火，變症緩而殺人亦少。惟濕勝之病，既少變症，亦不殺人。每見有兼旬經月而現如故者，其症不欲食，不大便，胸悶而不舒，神倦而嗜臥。病家以其病久而不納食也，必慌張無措。醫家以投藥之不見功也，亦心癢難搔。其實，濕戀於中，不易化耳。治之之法，芳香以化之，淡滲以泄之，二陳、苓、朮、穀芽等品以和之。總之，濕病無死法，緩以調之，耐心以俟之，雖日久可愈也。</p>
<p>外感經旬不布疹㾦，縱投疏解無效，必有他故，或內實，或液虧，或夾陰。內實下之，液虧養而散之。至於夾陰，或房後，或遺精，少陰著寒，見症必有下列之一者，方可斷定。少腹痛，或腰痛如折，或四肢寒涼至節是也，甚者反復不寧，懊憹萬狀，必以溫暖下焦之藥參入應用主劑之中。夫夾陰非主病也，或溫瘧，或濕溫，或其它各病，必有主病可指，而夾陰其兼症之一耳，故蠻溫其下未必效也。</p>
<p>夾陰病，老年強欲自然易犯，若少壯之年，雖房後即病，不得便斷為夾陰，不可惑於病家之言妄投溫熱。設誤投之，輕則發狂，重則液涸而死。昔年本鎮南街華梅卿，暑溫夾陰，壯熱有汗，煩懊不寧，醫投清暑之藥無效，乃求治於予。按其脈，濡數無力，表熱雖壯，神識殊清，有汗溱溱，舌不甚絳，有薄白苔。渴喜熱飲，少腹及腰俱痛。予問其曾遺泄否？彼頷之。為定其方如下：附子、熟地、肉桂、白芍、細辛、麻黃、瑣陽、巴戟、韭子、車前、半夏、新會〔皮〕，一劑汗大出，疹㾦布，再劑而疹㾦足，三劑而表熱平，後以溫養之劑調之而安。不意病未復元有要事赴蘇，舟車勞頓，更作葉子戲，通宵達旦，兩夜未休，而於是復病，無起死回生法矣。</p>
<p>老友朱錦芳之孫名阿乖者，年十七，患暑溫夾食，投以芳香疏化，病轉劇，腹撐脹而痛，一夕昏厥三次，四肢涼至節。翌晨邀予診，伊家以曾行房，決為夾陰，出方二，皆附、桂溫劑。問其曾服未？云：未服。予為定其方如下：瀉葉、枳實、全瓜蔞、川樸、藿香、青蒿、桔梗、半夏、新會，促其急煎服。且宿垢大下，病若失，再劑愈矣。此病倘無確見，鮮有不誤於病象而感於病家之言者。予之抱定宗旨，以夾陰病痛在少腹及腰，不在當臍大腹也。即痛矣，不當撐脹，且更無昏厥之理。兼之按其腹堅硬，下有矢氣，其為食厥何疑。食厥四肢亦冷，此等似是而非之處，最當細究。</p>
<p>治病之法，望其色，察其舌，聞其聲，病情已得六七矣。再叩以臨病之狀態，病中之經過，病已得七八九。而按脈以究其虛實寒熱，內傷外感，不過驗其脈症之相符與否而已。驗舌之法，前人論之已詳，毋庸多贅。惟已化燥、未化燥，濕灰、干灰、苔之厚薄，舌質之紫絳，大有分別，不可忽略。其有一種舌質，色不絳而光剝，無苔，望之不潤，指觸之似有津，此為胃氣告竭，必死。縱能苟延殘喘，不過稍緩時日耳。</p>
<p>舌苔與病情不符者，須防其染舌。如吃枇杷則苔黃，服楂炭則苔黑之類。予同門羊尖周君治某甲，病見黑苔，誤為真也，投三鮮、膏、連等味，病幾殆。翌日邀先師往診，以溫劑救之，得慶更生。初學者於此等處須細心察之，倘似燥非燥，必以指捫之，庶不致誤。</p>
<p>肺氣，猶天氣也；胃氣，猶地氣也；舌苔，猶地面所生之草也。土膚之際，生氣所聚，地氣平，則苔薄白；地氣厚，內蓄垢穢，則黃苔而厚，甚者灰黑，消之下之可也。若厚黃而燥者，或有裂紋者，或起刺者，急攻之。其光剝者，色絳傷胃陰，滋以甘寒；色不絳傷胃陽，扶以甘溫，舌質青紫者，病必重，疫症多有之，須防其劇變。其有胃實而苔白膩者，肺有濕痰，痰煉稠凝則苔有裂紋而液涸矣，慎勿見苔膩而便投燥劑。宅前某甲，患濕溫，時方黴雨連朝，濕氣瀰漫，視其舌白膩苔，胸悶嗜臥，皆濕象也。時既濕勝，病又濕象，投以香燥，病轉劇，以致神昏譫語。乃細按其脈，數而有力，按其腹堅硬，實熱象也，然苔仍白膩。予乃追思黴雨之前曾暴熱數日，甲之病必中於是時而適發於濕盛之候，舌之白膩乃新吸之黴濕也。為定清瀉之方，便暢疹布，熱退而愈。此病若見性遲純，不究病前之氣候，誤以神昏為濕迷則殆矣。</p>
<p>入病家而治病，隨在留心，或有觸機之處。如見痰盂而知嗽，見灰器而知吐，見高枕而知氣升，見敞胸而知煩悶，手按其腹必氣撐，眶有淚痕必多郁。閉目向內者必畏日火之光，旁人耳語者必有難言之隱。面赤為火，面青為痛，面黃為濕，面白陽虛，麵灰色者病多危，時嘆氣者氣必窒，多眵者熱之徵，鼻煤者熱之極。其它如枕邊之食物，桌上之器具，或有關於病情者，無一不在留神之列也。</p>
<p>傷風咳嗽輕淺病也，治之也易，病者多忽，然六氣皆令人咳。病者一例忽之，遷延勿治，數旬而後，咳傷肺絡，痰中見血，見血之後，病人方知著急求治。醫師須認清為何氣所幹，散其邪，化其瘀，倘見血而投止澀，見嗽而投潤肺，其始非不小效也，而瘀血內積，外邪留伏，咳既不愈，瘀凝成塊，更感外邪，則咳轉劇，瘀塊陡出，醫更以大清之劑遏之，暫愈續發，輾轉成癆，以致不可救藥者，我見甚多，不可不戒也！又有冷嗽者，病由夏雨淋背，寒襲肺俞而作，咳逆上氣不得臥，病似至危，其實無妨也，以小青龍湯治之，無不愈者。其病經三、五年之老嗽，遇寒即發，投以小青龍亦無不愈者，但不能拔其根株耳。</p>
<p>瘧每發於秋令，西法謂瘧菌由蚊喙傳染，繁殖於脾，抽以金雞納霜殺其菌而愈。予亦常用之，但必寒熱分清，曾經暢汗者，方無後患，否則先發其汗，蠲其暑濕外邪，然後投之，日三丸，空腹吞服，三日盡九丸，病愈矣。愈後忌食雞卵及雞，雖結癖塊亦可愈。其實非癖也，脾臟腫耳。若寒熱不分清，日一至或兩至，或有汗，或無汗，熱退而不思納食者，此為類瘧，與暑濕、伏暑治無異也。其但熱不寒者，癉瘧也，名瘧而實非，治同溫熱。葉氏治瘧不用柴胡，徐氏非議之。夫柴胡湯仲景以之治少陽傷寒寒熱往來症也。江南無真傷寒，葉氏不用，必有見地，若泥古不化，拘牽經義，治必師古。倘別出新法而治愈者，將責以離經叛道乎？抑贊成其新法勝古乎？陶淵明讀書不求甚解，非不求解釋也，通其大義，不尚穿鑿也。徐氏明達，尚有拘泥之失，遑論其他。</p>
<p>癉瘧之病，熱病也。《金匱》有飲食消息之文，嘉言喻氏立甘寒之方以實之，此則喻氏武斷之失也。夫飲食消息者，非治病之法，乃候病之方也，探其胃氣如何，以斷是正瘧、是瘴瘧耳。大抵瘧病寒熱間斷者能食，以邪不幹胃也。不能食者為癉瘧，熱干陽明，可仿溫熱例治之，不必另立方也。故消息之者，探其消息也。</p>
<p>痢疾，古稱滯下，俗名曰積。積言其病根，滯下言其病象也。大抵中有食積不化，再感暑濕，醞釀而成，滯遲而下，不能通暢，其症腹必痛，裡急後重，下後氣仍下注，似欲再下者，虛坐怒責，有矢氣而無續下。少傾又痛，又下，日夜有多至數十行者，或白，或紅，或紅白相間，膩如膿血。白屬寒，宜溫中暢氣；紅屬熱，宜涼血清降。大法白痢用川樸、二陳、木香、炮薑、楂炭、六曲等味；紅痢用炒地榆、炒槐花、炒銀花、炒荊芥、赤苓、楂炭、紅曲炭、木耳炭等味。或有宜用雅連者，其檳榔一味為後重必需之品。六腑以通為用，萬不可早澀。若久延脫肛，則正氣下陷，可投固攝，或桃花粥養胃氣兼止澀甚效。更有用逆挽法者，緣初起有表邪，俠表早投寒涼，以致胃陽遏伏，脾氣不升，勢成噤口，則用逆挽法以升舉之；兼表邪者，溫而散之，實土以堤之，開溝以泄之，愈之殊易也。</p>
<p>瘟疫隨時而異，亦隨地而異，非大熱即大寒，然熱多而寒少，此中天地泄厲之氣挾有毒氛，由口鼻吸受。用藥之法，或大清，或大瀉，或大溫大散，必參入解毒之方。成方有普濟消毒飲、玉樞丹、行軍散等，臨時酌用）</p>
<p>瘋癆臌隔，實病難醫，此古諺也。瘋有專科，痹無善法，茲姑勿論。臌病，病原不一。經予治者有二：一濕臌，一氣臌也。濕臌膚中蓄水，遍體浮腫，色黃而鮮明。江湖醫生以刀針開泄其水，始非不取快一時，迨水再蓄聚，則難治矣。予治界徑上王福官子，水鼓已急，腎囊如水泡，小便捩轉，投以扶土泄水不效，繼專逐其水，芫花、甘遂、大戟等品連服，三劑水從小便泄，遂霍然愈。氣臌即單腹脹也，單單腹脹，倘無臍突、青筋等敗象，速投消補兼施、溫腎扶陽之劑，十可全八九，倘投破氣消導之劑，則無氣索矣。隔病亦名關格，謂內關外格食不得下也。其反胃者，朝食暮吐，暮食朝吐，亦關格之漸也，不急治漸成隔，其病之樞在胃。肝木侮土，上撐嘔吐者，予每以椒梅理中治之多效，其破氣伐肝之品須慎用。</p>
<p>腹瀉有非痢非瀉，下如菸灰水者，不能納穀，死不治。嗜鴉片者曰煙漏，亦死。便血者大都痔血也，勿論糞前糞後，清血中濕熱可愈。木耳生於濕地，炒炭可以止血，用治痔血頗效。</p>
<p>淋濁小便必痛，頻通之，五苓、八正要藥也。或挾花柳毒者。須解毒。溲血者，將成血淋，予用虎杖散治愈多人。</p>
<p>肺癆將成未成，必有留邪，俟其發時，宣其邪，屢發而屢宣之，或可救。若不發時，雖搜其邪無益也。</p>
<p>病邪未淨而早補是謂關門捉賊，若不驅而出之，後患正多。在肺延為瘍病；痢則成休息痢；瘧早截則不久便發三陰瘧，有時愈時發，經二、三年之久者，正犯此病。</p>
<p>糞怪近時新有之病，良由黴雨之後，日蒸濕騰，桑田糞毒隨氣而上升，人往採桑，毒由足受，先發下腫，次乃上行，腹大面浮，終見咳嗽，一身盡黃，治之非易。方宜燥濕解毒之中加入煅皂礬末作丸，每日服之，可拔根。倘有人合就送人，其功非細。</p>
<p>呃忒（逆）一症，平人常有，非病也。由肺胃之氣為寒氣或冷飲所遏，冷氣欲入，熱氣欲出，互相牴觸故呃。呃連聲而作也，以熱湯大口頓飲之立己。其久病正虛而呃者，聲由丹田而上，其呃低而長，一聲之後良久再作，此大虛將脫也，不治，同道張君息呃，自投溫中散寒之劑不效，招予往診。其呃急促，連續不斷，知發於上焦。問其病由，據述面西北風行急，路口吸寒氣，夜半口渴，又飲冷茶，遂呃。予云此肺氣為寒所襲，胃為冷飲所遏，肺胃之氣欲出，寒氣欲入，互相牴觸所致，宜開泄其肺。方用枇杷葉為君，佐以桔梗、香豉、象貝、牛蒡、鬱金、前胡等味略煎進之，呃驟減。越二日病轉甚，又相邀。視其舌尖絳，液干，駭甚。視其方，自加五味、細辛、乾薑、麻黃等品，蓋誤投辛溫以傷液，五味以閉肺也。因再投原法，加入養液之品，堅囑勿改，未幾即痊。</p>
<p>痧子，溫熱病也。宜辛涼不宜辛溫，宜甘寒不宜苦寒，開手至終無甚變更，不過涼藥之進退視熱勢之程度而定耳。內實者，通其便；液虧者，養其液。凡西河柳、防風、荊芥、細辛、麻黃、白芷之類，皆在禁例，石膏亦須慎用，若用之必與薄荷同打。衣被戒暖，窗牖勿閉，乳食禁止。方用銀翹散，舌尖絳加鮮地、鮮姘、沙參；舌燥者藕汁、蔗漿、地慄、蘆根、茅根、枇杷葉皆當用之品，橘絡、桔梗尤要。</p>
<p>幼稚之病，大抵外感多而內傷少，實熱多而虛寒少。族子云之孫女，年四歲，本暑邪也，似瘧狀，面微赤，表熱起伏。予診之投疏解（已布㾦矣，猶未透也。病家以予已赴添川，邀他醫，以為虛㾦也。投藥相左，熱陡增，㾦立隱，乃大驚。子云親到埭相邀診之，變未劇，僅舌苔已灰黑，捫之潤，小水清長，姑投芳香一劑，病如故。叩病狀，其母云：「頃連作矢氣三。」乃按其腹，哭而拒，大便不行，內實無疑矣。為定雙解法，垢大下，㾦始透足，再以輕透劑調之，餘邪肅清而愈。此稚年內外俱實之證也，若拘小水清長為寒，灰苔為濕，而誤投溫燥之劑，則津涸而昏厥矣，且內垢不去，㾦仍不能透足，所謂揚湯止沸不如釜底抽薪者，此類是也。</p>
<p>朱姓子，年亦四齡，表熱便泄，醫數更無效，乃邀予診。望其面㿠白無華，所下青膩，乃斷其為濕勝陽虛，為定扶土益陽之劑，佐以芳香疏化。一劑見㾦，瀉稍稀，再劑㾦足，瀉止，續進和中健脾蘇胃之方，調之而愈。此病與華姓孫女之病，以面色大使相反，故用藥亦相反。</p>
<p>幼稚臟腑嬌嫩，消化力弱，故以乳汁養之。能食則食，宜早斷乳。病人亦有宜乳者，必其消化力乏，津液內耗，一則取其易消化而無渣滓，一則取其滋潤而補津液也。</p>
<p>古諺云：「若要小兒安，常帶三分飢與寒。」此不刊之論也。乃為母者愛之過甚，必然厚其衣被，飽其飲食，以致釀為溫熱病者，比比皆是。及既病矣，又閉其窗牖，下其帳帷，抱持同眠，意在勿令著風，逼其出汗。不知病之熱，衣被之熱，人氣之熱，交蒸並灼而熱愈甚，汗㾦愈不得透，結果痰稠氣急，變成急驚，角弓反張而死。予妗氏屢產屢殤正犯此病，所生女皆長成無病，以其不若男孩之姑息，而聽其飢寒也，此亦可以悟其故矣。奈妗氏狃於積習，終於不悟，愛之適以殺之，安得大雄氏廣長舌喚醒天下婦女也哉！</p>
<p>肥人陽虛多濕，瘦人陰虛多火。多火者色蒼，多濕者色白，其淡紅而微黃者正色也。予見有善用香燥者，動手即寫樸朮、不顧人之陰虛陽虛也。不知濕病無死法，既如上述，而火則其變最速，倘誤投香燥，每致液涸舌燥，指捫之如砂石，須大劑滋潤或可挽救。若至舌短難伸，則木已燒炭，不可救矣。其症必見循衣摸床，撮空理線，病家以為猴精作怪，虛擲金錢，卒至人財兩失，吾見實多。迷信難破，無可如何也。</p>
<p>醫家治病，萬勿危詞駭主人，病人前更要婉言慰之。予見有等醫師，專好危言恫嚇，以致病家不惜重金召巫建醮，喧嚷終宵，人多聲雜，香菸濁氣，臭穢逼人，病人尚有知覺，豈不擾神明而益其病乎！</p>
<p>吳俗信鬼，到處皆然，鄉村尤甚，如見有神昏譫語之象，便認為鬼祟，起課召巫，齋神祭鬼，動費巨金，未服湯藥，已築債臺，良可憫矣。亦有起病之後，專信巫覡，及至請醫，病已阽危，多致不救。有等病家就商於醫，萬勿加以贊否，贊之則損已德，否之則招眾怨，我盡我心，由他而已。然醫亦有藉此卸責者，既無起死回生之能，免招庸醫殺人之謗，亦藏拙之一道也。</p>
<p>師巫邪術何知藥性，病家有向之乞仙方者，信口開河，兒戲人命。醫師竭力挽之，而不足師巫一言，敗之而有餘。有地方之責者，奈何聽其流毒社會耶？</p>
<p>治貧家之病易，治富室之病難，力食小民，請醫不易，非有大變不輕易也。富家則不然，病勢方張，急求速效，一劑無功，即易他醫，醫既數易，方亦多疑，議熱議涼，畏首畏尾，及起變波，議論蜂起，服藥打針，中西雜進，如是死者十人而九。金錢萬能，反以速死，可不戒哉！</p>
<p>病家請醫，必所素信，宜令一人獨任。倘請醫多人，言龐意雜，甲欲投涼，乙云宜熱，兩折其中，不寒不熱，此為疲藥，安能愈疾？效則居功，不效卸責。更有一般非族即戚，指東話西，假充明白，不問病情，徒議藥力。醫非老練，必亂心曲，動而招尤，不如謝絕。</p>
<p>治病要仗精神，倘醫師身體欠佳，或有心事，切勿應診。倘病者尋常小恙，自有常軌，若遇險症，則精神既疲，心思不靈，用藥安能入級？不如早卸仔肩為妙。</p>
<p>無病眼藥，久而增氣，偏勝致患；諱疾忌醫，邪必深入，久延痼疾，二者皆非也。藥者所以補偏救弊也，病來則藥，病去則已，不必多服，以傷胃氣。病後當以飲食調養，飲食者，無上之妙藥也，世有終身不服藥而無病者；寧有終身服藥，不進飲食，可以生存者乎？此亦可以悟其故矣。</p>
<p>內外俱實者，責其實；內外俱虛者，調其中；內虛外實者，責其實；內實外虛者，責其實。責其實者，汗之、下之也；調其中者，扶土蘇胃，培後天資生之本也。</p>
<p>煎藥之法，上焦表散之劑，取氣不取味，宜略煎；中下焦藥，取味不取氣，宜濃煎。經所謂上焦如霧，中焦如漚，下焦如瀆者，即形容其意也。此等文字無書不載，無人不談，而醫師往往忽略，臨時忘囑，以致治不見效，反疑藥誤，其實煎未合法也。天下事有視若細微，實關重要者，此類是也。</p>
<p>煎藥宜炭火，鄉農往往以梗柴煎之，火烈而水易干，藥性反不易出也，即表散劑亦非所宜，近更有用洋爐子者，便則便矣，其如藥性難出何！</p>
<p>用藥有引子，或引入某經，或引之透表，亦似細微而關重要者。凡植物萌芽皆有透發之能，取其意也，如新荷、蘆苟、二青、稻葉等是。凡花露俱涼而能散，以取露之法，賴蒸氣上騰，下滴為露，有云騰致雨之意。西瓜翠衣治暑邪，以皮達皮，且合時令而同氣相應也。</p>
<p>制炒之法，或可取其和緩藥性，或取其互助功能，或為節制之師，或賴引導之力，皆有古法可宗。研調磨沖全其力也，先煎、後下合其性也。</p>
<p>有等藥夥不究病情，為人開方，或藥味多至二十餘品，或一方兼用三四古方，如行軍不知敵人之所在，多發幾路必有一遇。病家說病討藥，利其便宜，店中意在招徠，逢迎主顧，何其重金錢而輕生命耶！予願其有則改之，亦積德之一道也。</p>
<p>服藥之法，無論何病總以空腹為宜，俾藥汁入胃無所障礙，得以即時輸化，見效乃速。凡表散之劑，宜乘熱飲，倘冷而再溫，則香已散，氣已泄，必無效矣。若藥已涼，須飲熱湯以助其汗，亦補救法也，至於熱藥冷飲，冷藥熱飲，有從治之意，讀古籍自知。</p>
<p>表熱起伏者，熱來時不可服藥，服則熱反熾。或嘔逆者，須俟其熱衰，進之，或服於熱未來時，一則迎其機而導之，一則乘其退而擊之也。</p>
<p>病房宜通空氣，被褥衣服與平人同，萬勿過暖。病家狃於積習，往往閉窗厚被，試令無病之人當之能不受熱而煩躁乎？且一遇神昏閉厥，床前遍布健男，意在嚇鬼，熱氣薰蒸，片刻難忍，豈非速其死乎？醫者於此等處，須反復開導，房內只許兩人，開其窗，薄其衣，否則，治雖合法，難見效也。</p>
<p>予七世祖爾昌公得消渴疾，赴蘇求葉天土先生診治，以城鄉不便，賃屋寓蘇。八世祖一匡公亦留蘇陪焉。葉診月餘，忽謝不敏，叩其故，云病已不救，由於開手數方用之太早，力自引咎。一匡公與葉本世交，勿怪也。古人存心忠厚，一則不諱其過，一則能容其過。君子之過如日月之食，宜葉公之名重當時，澤流後世也。</p>
<p>蘇州某醫名重一時，吾鄉王生慕其名，往受業。一日從師出診，師口道而生筆揮，藥與病左，生筆稍停，師促之，乃書及。歸問師，師亦自知藥誤矣。翌日再往，病稍重，及書方，則昨日之誤藥赫然首列，而倍重焉。生疑聽未確也，停筆不書。師口誦而促之，生仍搖筆不遽下。師怒之以目，口道其藥，聲益厲，生不得己書焉。歸又請問師，師曰：「前已誤矣，設更原法，則自證其誤，而予名損矣，所以重量倍前者，令其不及更醫，欲速之死也。設易醫而識予破綻，則予名從此敗矣，為保全名譽計，不得不忍而出此耳。」生聆之默然，有頃，拂袖竟歸，終身不復業醫。此先姑丈蔡叔初公為予言。</p>
<p>吾鄉王對揚先生，名醫也，有王一帖之名。一日乘舟出診，診畢歸，已行十餘里矣，其徒有疑問，請教先生，恍然悟藥之誤，急命返掉。抵病家問藥服末。病家言已煎未服也。先生命傾之，另易一方與之，一劑霍然，先生與蘇某醫相較，其賢不肖相去不何如哉？！</p>
<p>外科之藥及牙痛疔瘡等，一方既效，同息皆靈，乃世人往往矜為秘方，不肯外傳。察其義又非牟利，寧破財施藥，堅不授方，此意牢不可破，殊不知其是何居心也。夫方既靈效，正宜廣為傳流，一則可以多救病人，一則可以方不失傳，功德無量。予以為不傳秘方，其罪等於見死不救，雖解囊施藥，無功可言，其心慳也。吾原挾有靈方者，竭力宣傳，人得其方，轉相授受，愈人必多，功德與自施者無異其心仁也。</p>
<p>予治病何不錄存方案，自知學力譾陋，不足示人也。今因年老體衰，就館埭川鄭氏，生徒僅一人，館政清閒，藉資休養，擬不再應診矣。乃親友不諒，往往急舟相邀，不得已為馮婦之行，定期到蕩。計一月中可得十八日之閒，課餘無事，追憶所及，率成此篇，非敢自矜心得也，聊以示及門諸子暨小兒起云，俾知醫術之難工，弗冒昧而從事云爾。其間偶載病症，詳言治法，皆當時嘔心絞腦出之者，非僅僅於古紙堆中按圖而索者也。</p>

<h1>附：</h1>

<h2>最近醫案</h2>
<p>華××　上年咯血，盈碗盈盆，其勢頗盛，厥後時發時止。今屆暑熱外爍，咳逆痰升，西法打針，僅止其血。中醫投藥，誤用清滋，以致氣愈逆、痰愈多，高枕不得平臥，胃氣索然，按其脈濡數無力，視其舌薄白膩苔，此暑濕新病也，急則治標，當先化其暑濕。</p>
<p>川樸　藿香　桔梗　橘紅　橘絡　杏仁　雞蘇散　白茯苓　佩蘭　豆豉　前胡　扁豆衣</p>
<p>復診　氣稍平，咳已稀，濕痰上泛，胃氣未蘇，再宗原法出入，不必過事更張也。</p>
<p>白朮炒　橘紅　橘絡　廣藿梗　牛蒡　桔梗　姜樸　赤白苓　佩蘭　前胡　穀芽　六一散　野薔薇花</p>
<p>三診　諸恙皆平，胃蘇能納，差幸得奏膚功，忽又急舟相邀，察其神怠倦嗜臥，間作囈語，切其脈仍見濡數，視其舌胖膩有加，且胃氣索然加以作惡，此濕邪瀰漫，蒙其神明也，既非熱灼膻中，亦非痰迷心竅，不過君主困於群小，乾綱不能振作耳，毋庸驚駭，濕去自安。</p>
<p>焦茅朮　新會皮　桔梗　滑石　焦六曲　生熟穀芽　白朮炭　茯苓　生熟苡仁　澤瀉　廣藿梗　杏仁</p>
<p>四診　胃健加餐，諸恙悉蠲，忽以行走赤日之下，暑熱外灼陽絡，由激動而傷，咯血又作，醫投清裡化瘀之劑，業已血止多日，而咳逆未已，當此秋分大節將臨，難保其早恙不發，但肺家既有留邪，正可迎機而導之，譬之盜賊深匿則搜之良難，竊發則捕之甚易也。</p>
<p>於朮炒　橘紅　橘絡　大力子　桑白皮炙　生蛤殼　杏仁　象貝　白茯苓　桔梗　前胡　紫菀　款冬花　雞蘇散</p>
<p>宋××　面目黧黑，氣升莫制，舉步則喘促，脈浮而數。按之豁然而空，此下元虛極也，症屬損怯，豈可忽視。</p>
<p>青鉛　海浮石　旋覆花　人參　蘇子　熟地　代赫石　五味子　坎氣（即臍帶之別名）</p>
<p>宋××　病本冬溫極尋常之病，為疲藥所誤，疏之不合法，下之藥太輕、輾轉兼旬，以致熱漸入營，神昏譫語，舌尖干絳。若再失治，勢必液涸發狂，亟滋其液，下其垢，內外交攻，冀其垢去，疹布方是生機。</p>
<p>鮮地　鮮斛　豆豉　大力子　銀花　連翹　元明粉　瀉葉　鮮沙參　全瓜蔞　桔梗　雞蘇散　茅根</p>
<p>復診　垢下熱退，疹㾦遍布，此得力於甘寒也，咳嗽痰稀，餘邪未淨，防其死灰復燃，切勿驟進穀食。</p>
<p>鮮地　鮮沙參　豆豉　牛蒡　銀花　連翹　川石斛　雞蘇散　桔梗　橘紅　光杏仁　白茅根</p>
<p>三診　表熱已平，早進糜粥葷腥，以致熱象又熾，晚有譫語，舌根及心苔灰，臍旁堅硬有形，此宿垢未淨復得薪食而揚其波，予所以諄諄告誡者，正防其食復耳，幸液來涸，即系生機，不然殆矣。</p>
<p>鮮生地　鮮金斛　銀花　連翹　瀉葉　全瓜蔞　枳實　杏仁　桔梗　橘絡</p>
<p>四診　所下之垢黑而臭極，視其疹㾦有續布者，彷彿灌漿，此熱邪蘊毒外泄之徵。表熱雖退，咳嗽未已，擬再肅清餘邪，萬勿慮虛進食，慎之慎之。</p>
<p>鮮地　鮮斛　豆豉　銀花　連翹　川貝　雞蘇散　前胡　杏仁　桔梗　橘絡</p>
<p>五診　諸恙皆平，咳痰如沫，俟其黃濃則痊矣。</p>
<p>豆豉　桔梗　前胡　杏仁　蔞皮　橘紅　橘絡　牛蒡　製半夏　川貝母　茯苓　南沙參　雞蘇散</p>
<p>王××　表熱泄瀉旬余未已，黃先生投攻劫之劑，胸膺劇痛，泄利轉盛，此表邪失於疏散，遏伏則痛，下陷則利，仿古逆挽法，汗布則利，稀痛緩矣。</p>
<p>葛根　豆豉　青蒿　前胡　黃芩　新會皮　桔梗　藿梗　茯苓　六一散</p>
<p>楊××　濕勝陽微，胃失消化之權，脾乏運輸之力，匝月以來，表熱綿綿不揚，汗不克布，面白無華，胸痞腹脹，醫師憒憒，謬以硝黃攻其食積，所下無非稀水，一誤再誤，而至於三，脹勢愈攻愈甚，而苦寒之性戕賊胃氣，以致杏不恩納，舌苔灰薄而潤，脈象軟數不鼓，若不亟救脾胃之陽，勢必浮腫而敗矣。</p>
<p>肉桂　熟附　茅白朮　乾薑　川樸　新會皮　鹿角霜　姜半夏　老蘇梗　廣藿香　茯苓</p>
<p>復診　脹勢已松，胃氣稍蘇，表熱反揚，此久遏之邪欲出也。前法救其藥誤，今再透其表邪兼分利其小水，俾表裡之邪內外分消，庶幾霍然。</p>
<p>乾薑　熟附　桂枝　蘇梗　防風　藿香　川樸　腹皮　陳皮　赤苓　車前　澤瀉</p>
<p>三診　脹平腹軟，大汗淋漓，小水通暢，舌灰全退，白㾦遍布，遏伏之邪業已宣泄殆盡矣，蠻補非宜，仍從中土立法，望其胃氣克振，方為穩當。</p>
<p>土炒白朮　煨乾姜　桂枝　陳皮　廣藿梗　姜半夏　北秫米　砂仁　穀芽　野薔薇花</p>
<p>右××　肝氣宿恙，每逢大節必發撐脹嘔惡，不能納食，所吐皆酸苦膩涎，木乘土為賊邪，將來定有痛厥之慮，治以平肝和胃暫安。</p>
<p>川椒炒　烏梅炒　制香附　士炒白朮　煨乾姜　陳香櫞　桂心　醋炒青皮　川連　炒吳萸　姜半夏　瓦楞子煅</p>
<p>老人×　夜間捕魚，霜露寒濕，日積月累，以致腹脹納減，久延脹劇，已成單腹脹重病，大便不爽，形容消瘦，花甲以外之年，中陽已餒，勢難望其復振，勉立溫運一法，聊盡人事。</p>
<p>熟附子　乾薑　胡蘆巴　茅朮　赤白苓　老桂木　吳萸　青陳皮　川樸　雞內金</p>
<p>此病連診三次意愈，後以貧困，仍理舊業，復脹而死。</p>
<p>錢××　濕熱醞釀延成滯下，紅白錯雜，脹痛後重，日夜數十行，醫投白頭翁湯病轉利，姑和其氣血，清其宿積，切勿再進苦寒，戕其胃氣致延噤口重症。</p>
<p>帶皮檳榔　炒地榆　白朮炭　楂炭　青皮　陳皮　煨木香　炒槐花　紅曲炭　藿梗炙陳火腿骨　玫瑰花　穀芽</p>
<p>錢××　秋燥驟加伏暑，竊發牽引肝氣宿恙，諸醫偏治氣分，誤進燥烈之品，以致攻撐脹痛，嘔逆噦惡，其苦萬狀，幾無片刻寧息，切其脈細澀，右現小實，視其舌乾燥微黃，指捫之如砂皮，此上有膠痰下有宿垢也，若不急救其津，何以止其噦？若不涼鎮其肝，何以平其逆？姑試一劑，得效再商。</p>
<p>雅梨汁　左金丸　鮮石斛　知母　全瓜蔞　紫貝齒　石決明　鮮地　川貝　銀花　連翹</p>
<p>復診　津回嘔止，諸恙都平，宿垢未蠲，尚難拔其根株。</p>
<p>瀉葉　全瓜蔞　銀花　連翹　青蒿　雅梨肉　豆豉　紫貝齒　知母　川貝　桔梗　碧玉散</p>
<p>陸××　大實大熱，神昏譫妄，揚手擲足，猶以厚被強覆之，豈非速其死耶？當臍堅硬如石，力拒按摩，齒有灰垢，唇有血痕，急以清瀉救之，尚恐鞭長莫及耳。</p>
<p>生軍　元明粉　鮮地　鮮斛　鮮首烏　辰砂拌帶心連翹　羚羊角　石決明　豆豉　銀花　雪水　梨汁　另服至寶丹</p>
<p>復診　神呆不語，手足之揮舞已止，宿垢己下，然按其腹力拒如故，堅硬未減，力叩其故，據述昨日之藥，僅服其半，切囑之言竟充耳若不聞，當機自誤，尚有何說？今既相邀，勉宗原法，防其痙厥之變。</p>
<p>原方去羚羊角、右決明。至寶舟易紫雪丹。</p>
<p>三診　垢去津回，倉廩已消烈焰，神清語了，宮城已解重圍，如斯九死一生之病，倘畏首畏尾者，豈不誤其生命耶？前師不設曲實之謀，我來已是焦頭之客，慮其死灰復燃，再投清解。</p>
<p>鮮生地　鮮石斛　銀花　連翹　桔梗　雅梨肉　淡豆豉　肥知母　黃芩　橘絡　丹皮</p>
<p>丁××　濕溫發於房事之後，表熱不揚，濕多熱少，四肢寒涼，腰痛如折，舌苔薄灰，口膩不渴，宜下溫少陰，外祛濕邪，雙方兼顧。</p>
<p>熟附子　桂枝　細辛　韭子　巴戟　鎖陽　藿香　蘇梗　陳皮　半夏　佩蘭　車前子</p>
<p>復診　諸恙向安。舌苔灰膩有加，胃氣杳不思納，據述曾服某先生藥，堅囑勿進溫熱，連診五次，以致漸不欲食，日就困頓，差幸尚無變症，仍以原法挽之。</p>
<p>熟附子　吳萸　乾薑　陳皮　半夏　韭子　上肉桂研末作丸　蘇梗　藿梗　川樸　白朮炒　穀芽　野薔薇花</p>
<p>三診　胃納漸加，舌灰未退。原方去蘇梗、藿香加杜仲、熟地炭。丸方：</p>
<p>製附子　肉桂　吳萸　乾薑　半夏　陳皮　韭子　車前　杜仲　土炒於朮　炒黨參　砂仁　以蓯蓉、熟地煎濃汁泛丸，日進三、四錢。</p>
<p>程XX上年曾患黃道，今感暑濕伏邪，竊發寒熱，間日汗不暢布、面目微見黃色，慮其舊恙復作，宜疏和參以法降濕熱之品6</p>
<p>柴胡偎草果炒淡苓窄香制川軍六一散、青蒿炒知母宋半夏佩蘭黑梔鮮佛手</p>
<p>某××濕溫表熱頗壯。神煩胸悶，懊膿不寧，渴不多飲，諧語模糊，有汗漆漾，病經西候以外，誤服清涼之劑，煩懊轉加，自云熱極，視其舌苔白尖絛，望之似干，指鋼之仍潤，此病若投芳香化之，早已痞布而解矣。譬草堆熱氣鬱蒸以水澆之，徙增其濕，不能去熱，設的之以火，曝之以日，濕熱雖去而草又慮其枯，不若挑而鬆之，則空氣通而濕熱去矣。病情有可以物理參加，如是如是。</p>
<p>廣蠢香嫩蘇梗宋半夏飛滑石桔梗佩蘭葉淡豆豉新會皮生米仁佛革</p>
<p>復診神清熱減瘠布，僅見頸項、胸膺尚少，此以涼藥遏伏，一劑不能透足，仍宗原法，自入坦途。</p>
<p>前方加橘絡、茯苓、薄荷。</p>
<p>三診白瘠遍布如水晶色，諸症悉退，自云腹飢索食，恐其反復，且勿與之，再宗原意出入。</p>
<p>廣茬梗佩蘭陳皮炒自術白茯苓通草宋半夏煎仁穀芽桔梗</p>
<p>野薔蔽花六一散</p>
<p>張調＼脾陽餒弱，命火下衰，納食不馨，口淡無味，大便泄瀉，經久不愈。良由歷年嗜酒積濕，傷其脾陽，近因暑濕內襲，漬脾成利，更以年事已衰，腎陽不振，譬如釜底乏薪，火力式微，不能腐熟水穀耳。況多思多慮，亦為傷脾之一，從此戒酒恰養，尚可引年。</p>
<p>製附子吳奠偎益智上炒於朮縮砂仁肉桂乾薑五味炒補骨脂獲苓積懼子</p>
<p>楊右／溫病久延，業已疹布）便解而內熱綿綿不斷，舌光絳如柿，津液之竭，勢將口糜起腐，此為溫熱傷陰，病後失於調理，一誤再誤，漸延虛怯，雖有良方，恐難奏效。</p>
<p>楓斜白芍龜板南北沙參香穀芽主地甘草鱉甲麥冬烏梅肉另以楓斛代茶恣飲之。</p>
<p>復診津液稍潤，舌光如故、仍守原法，望其納穀方是生機。</p>
<p>原方加米露、研薔衍花，仍以楓斜湯代茶。</p>
<p>三診津液已回，內熱頗減，既畏藥不肯服、以楓斛湯常服可也。此病若在膏粱之體或善操心機之人，決無生理，幸是農家作苦之人，平素無恩無慮，、竟得漸愈。</p>
