<header data-type="book">
<h1>十四經穴歌訣</h1>
<dl class="元資料">
<div><dt>出處</dt><dd>針灸大成</dd></div>
<div><dt>品質</dt><dd>100%</dd></div>
<div hidden><dt>版式</dt><dd>今版</dd></div>
</dl>
</header>

<p>手太陰肺十一穴，中府雲門天府訣，俠白尺澤孔最存，列缺經渠太淵涉，<br>
魚際少商如韭葉。</p>
<p>手陽明穴起商陽，二間三間合谷藏，陽谿偏歷溫溜長，下廉上廉手三里，<br>
曲池肘髎五里近，臂臑肩髃巨骨當，天鼎扶突禾髎接，鼻旁五分號迎香。</p>
<p>四十五穴足陽明，頭維下關頰車停，承泣四白巨髎經，地倉大迎對人迎，<br>
水突氣舍連缺盆，氣戶庫房屋翳屯，膺窗乳中延乳根，不容承滿梁門起，<br>
關門太乙滑肉門，天樞外陵大巨存，水道歸來氣衝次，髀關伏兔走陰市，<br>
梁丘犢鼻足三里，上巨虛連條口位，下巨虛跳上豐隆，解谿衝陽陷谷中，<br>
內庭厲兌經穴終。</p>
<p>二十一穴脾中州，隱白在足大指頭，大都太白公孫盛，商丘三陰交可求，<br>
漏谷地機陰陵穴，血海箕門衝門開，府舍腹結大橫排，腹哀食竇連天谿，<br>
胸鄉周榮大包隨。</p>
<p>九穴午時手少陰，極泉青靈少海深，靈道通里陰郄邃，神門少府少衝尋。</p>
<p>手太陽穴一十九，少澤前谷後谿藪，腕骨陽谷養老繩，支正小海外輔肘，<br>
肩貞臑俞接天宗，髎外秉風曲垣首，肩外俞連肩中俞，天窗乃與天容偶，<br>
銳骨之端上顴髎，聽宮耳前珠上走。</p>
<p>足太陽經六十七，睛明目內紅肉藏，攢竹眉衝與曲差，五處上寸半承光，<br>
通天絡卻玉枕昂，天柱後際大筋外，大杼背部第二行，風門肺俞厥陰四，<br>
心俞督俞膈俞強，肝膽脾胃俱挨次，三焦腎氣海大腸，關元小腸到膀胱，<br>
中膂白環仔細量，自從大杼至白環，各各節外寸半長，上髎次髎中復下，<br>
一空二空腰髁當，會陽陰尾骨外取，附分俠脊第三行，魄戶膏肓與神堂，<br>
噫嘻膈關魂門九，陽綱意舍與胃倉，肓門志室胞肓續，二十椎下秩邊場，<br>
承扶臀橫紋中央，殷門浮郄到委陽，委中合陽承筋是，承山飛揚踝跗陽，<br>
崑崙僕參連申脈，金門京骨束骨忙，通谷至陰小指旁。</p>
<p>足少陰穴二十七，湧泉然谷太谿溢，大鍾水泉通照海，復溜交信築賓實，<br>
陰谷膝內跗骨後，以上從足走至膝，橫骨大赫聯氣穴，四滿中注肓俞臍，<br>
商曲石關陰都密，通谷幽門寸半闢，折量腹上分十一，步廊神封膺靈墟，<br>
神藏彧中俞府畢。</p>
<p>九穴心包手厥陰，天池天泉曲澤深，郄門間使內關對，大陵勞宮中衝侵。</p>
<p>二十三穴手少陽，關衝液門中渚旁，陽池外關支溝正，會宗三陽四瀆長，<br>
天井清冷淵消濼，臑會肩髎天髎堂，天牖翳風瘈脈青，顱息角孫絲竹張，<br>
禾髎耳門聽有常。</p>
<p>少陽足經瞳子髎，四十四穴行迢迢，聽會上關頷厭集，懸顱懸釐曲鬢翹，<br>
率谷天衝浮白次，竅陰完骨本神邀，陽白臨泣目窗闢，正營承靈腦空搖，<br>
風池肩井淵液部，輒筋日月京門標，帶脈五樞維道續，居髎環跳風市招，<br>
中瀆陽關陽陵穴，陽交外丘光明宵，陽輔懸鐘丘墟外，足臨泣地五俠溪，<br>
第四指端竅陰畢。</p>
<p>一十三穴足厥陰，大敦行間太衝侵，中封蠡溝中都近，膝關曲泉陰包臨，<br>
五里陰廉羊矢穴，章門常對期門深。</p>
<p>任脈三八起會陰，曲骨中極關元銳，石門氣海陰交仍，神闕水分下脘配，<br>
建里中上脘相連，巨闕鳩尾蔽骨下，中庭膻中慕玉堂，紫宮華蓋璇璣收，<br>
天突結喉是廉泉，唇下宛宛承漿舍。</p>
<p>督脈中行二十七，長強腰俞陽關密，命門懸樞接脊中，筋縮至陽靈臺逸，<br>
神道身柱陶道長，大椎平肩二十一，啞門風府腦戶深，強間後頂百會率，<br>
前頂顖會上星圓，神庭素髎水溝窟，兌端開口唇中央，齦交唇內任督畢。</p>

<span data-rev="校">
<h2>校註</h2>
<ul>
<li>手少陽：絲竹空－耳門順序與今日不同
<li>足厥陰：缺急脈
<li>督脈：缺中樞
</ul>
</span>
