<header data-type="book">
<h1>玉龍歌</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王國瑞</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>品質</dt><dd>75%</dd></div>
<div hidden><dt>版式</dt><dd>今版</dd></div>
</dl>
</header>

<p>扁鵲授我玉龍歌，玉龍一試絕沉疴，玉龍之歌真罕得，流傳千載無差訛。<br>
我今歌此玉龍訣，玉龍一百二十穴，醫者行針殊妙絕，但恐時人自差別。<br>
補瀉分明指下施，金針一剌顯明醫，傴者立身僂者起，從此名揚天下知。<br>
中風不語最難醫，髮際頂門穴要知，更向百會明補瀉，即時甦醒免災危。<br>
鼻流清涕名鼻淵，先瀉後補疾可痊，若是頭風並眼痛，上星穴內剌無偏。<br>
頭風嘔吐眼昏花，穴取神庭始不差，孩子慢驚何可治，印堂刺入艾還加。<br>
頭項強痛難回顧，牙疼並作一般看，先向承漿明補瀉，後針風府即時安。<br>
偏正頭風痛難醫，絲竹金針亦可施，沿皮向後透率谷，一針兩穴世間稀。<br>
偏正頭風有兩般，有無痰飲細推觀，若然痰飲風池刺，倘無痰飲合谷安。<br>
口眼喎針最可嗟，地倉妙穴連頰車，喎左瀉右依師正，喎右瀉左莫令斜。<br>
不聞香臭從何治，迎香二穴可堪攻，先補後瀉分明效，一針未出氣先通。<br>
耳聾氣閉痛難言，須知翳風穴始痊，亦治項上生瘰癧，下針瀉動即安然。<br>
耳聾之症不聞聲，痛癢蟬嗚不快情，紅腫生瘡須用瀉，宜從德會用針行。<br>
偶爾失音言語難，啞門一穴兩筋間，若知淺針莫深刺，言語音和照舊安。<br>
眉問疼痛苦難當，攢竹沿皮刺不妨，若是眼昏皆可刺，更針頭維即安康。<br>
兩睛紅腫痛難熬，怕日羞明心自焦，止刺睛明魚尾穴，太陽出血自然消。<br>
眼痛忽然血貫睛，羞明更澀最難睜，須得太陽針血出，不用金刀疾自平。<br>
心火炎上兩眼紅，迎香穴內刺為通，若將毒血搐出後，目內清涼始見功。<br>
強痛脊背瀉人中，挫閃腰痠亦可攻，更有委中之一穴，腰間諸疾任君攻。<br>
腎弱腰痛不可當，施為行止甚非常，若知腎命二穴處，艾火頻加體自康。<br>
環跳能治腿股風，居髎二穴認其攻，委中毒血更出盡，愈見醫科神聖功。<br>
腿膝無力身立難，原因風濕致傷殘，倘知二市穴能灸，步履悠然漸自安。<br>
髖骨能醫兩腿痛，膝頭紅腫不能行，必針膝眼膝關穴，功效須臾病不生。<br>
寒濕腳氣不可熬，先針三里與陰交，再將絕骨穴兼刺，腫痛登時立見消。<br>
腿足紅腫草鞋風，須把崑崙二穴攻，中脈太谿如再刺，神醫妙訣起疲癃。<br>
腳背痛取丘墟穴，斜針出血即時輕，解谿再與商丘識，補瀉行針要辨明。<br>
行步艱難疾轉加，太衝二穴效堪誇，更針三里中封穴，去痛如同用手抓。<br>
膝蓋紅腫鶴膝風，陽陵二穴亦堪攻，陰陵針透尤收效，紅腫全消見異功。<br>
腕中無力痛艱難，握物難移體不安，腕骨一針雖見效，莫將補瀉等閒看。<br>
急痛兩臂氣攻胸，肩井分明穴可攻，此穴原來真氣聚，補多瀉少應其中。<br>
肩背風氣連臂痛，背縫二穴用針明，五樞亦治腰間痛，得穴方知病頓輕。<br>
兩肘拘牽筋骨連，艱難動作欠安然，只將曲池針瀉動，尺澤兼行見聖傳。<br>
肩端紅腫痛難當，寒濕相爭氣血旺，若向眉髃明補瀉，管君多灸自安康。<br>
筋急不開手難伸，尺澤從來要認真，頭面縱有諸樣症，一針合谷效通神。<br>
腹中氣塊痛難當，穴法宜向內關防，八法有名陰維穴，腹中之疾永安康。<br>
腹中疼痛亦難當，大陵外關可消詳，若是協痛並閉結，支溝奇妙效非常。<br>
脾家之症最可憐，有寒有熱兩相煎，間使二穴針瀉動，熱瀉寒補病俱痊，<br>
九種心痛及脾疼，上脘穴內用神針，若還脾敗中脘補，兩針神效免災侵。<br>
痔漏之疾亦可憎，表裡急重最難禁，或痛或癢或下血，二白穴在掌中尋。<br>
二焦熱氣壅上焦，口苦舌乾豈易調，針剌關衝出毒血，口生津液病俱消。<br>
手臂紅腫連腕痛，液門穴內用針明，更將一穴名中渚，多瀉中間疾自輕。<br>
中風之症病非輕，中衝二穴可安寧，先補後瀉如無應，再刺人中立便輕。<br>
膽寒心虛病如何，少衝二穴最功多，刺入三分不著艾，金針用後自平和。<br>
時行瘧疾最難禁，穴法原來未審明，若把後谿穴尋得，多加艾火即時輕。<br>
牙疼陣陣若相煎，穴在二間要得傳，若患翻胃並吐食，中魁奇穴莫教偏。<br>
乳鵝之症少人醫，必用金針疾始除，如若少商出血後，即時安穩免災危。<br>
如今癮疹疾多般，好手醫人治亦難，天井二穴多著艾，縱生瘰癧灸皆安。<br>
寒痰咳嗽更兼風，列缺二穴最可攻，先把太淵一穴瀉，多加艾火即收功。<br>
痴呆之症不堪親，不識尊卑妄罵人，神門獨治痴呆症，轉手骨開得穴真。<br>
連日虛煩面赤壯，心中驚悸亦難當，若須通田穴尋得，一用金針體便康。<br>
風眩目爛最堪憐，淚出汪汪不可言，大小骨空皆妙穴，多加艾火疾應痊。<br>
婦人吹乳痛難消，吐血風痰稠似膠，少澤穴內明補瀉．應時神效氣能調。<br>
滿身發熱痛為虛，盜汗淋漓漸損軀，須得百勞椎骨穴，金針一剌疾俱除。<br>
忽然咳嗽腰背疼，身柱由來灸便輕，至陽亦治黃疸病，先補後瀉效分明。<br>
腎敗腰虛小便頻，夜間起止苦勞神，命門若得金針助，腎俞艾灸起邅迍。<br>
九般痔漏最傷人，必剌承山效如神，更有長強一穴是，呻吟大痛穴為真。<br>
傷風不解嗽頻頻，久不醫時癆便成，咳嗽須針肺俞穴，痰多宜向豐隆尋。<br>
膏盲二穴治病強，此穴原來難度量，斯穴禁針多灸艾，二十一壯亦無妨。<br>
腠理不密咳嗽頻，鼻流清涕氣皆沉，須知噴嚏風門穴，咳嗽宜加艾火深。<br>
膽寒由是怕驚心，遺精白濁實難禁，夜夢鬼交心俞治，白環俞治一般針。<br>
肝家血少目昏花，宜補肝俞力便加，更把三里頻瀉動，還光益血自無差。<br>
脾家之症有多般，致成翻胃吐食難，黃疸亦須尋腕骨，金針定必奪中脘。<br>
無汗傷寒瀉復溜，汗多宜將合谷收，若然六脈皆微細，金針一補脈還浮。<br>
大便閉結不能通，照海分明在足中，更把支溝來瀉動，方知妙穴有神功。<br>
小腹脹滿氣攻心，內庭二穴要先針，兩足有水臨泣瀉，無水方能病不侵。<br>
七般疝氣取大敦，穴法由來指側間，諸經俱載三毛處，不遇師傳隔萬山。<br>
傳尸勞病最難醫，湧泉出血免災危，痰多須向豐隆瀉，氣喘丹田亦可施。<br>
渾身疼痛疾非常，不定穴中細審詳，有筋有骨須淺刺，灼艾臨時要度量。<br>
勞宮穴在掌中尋，滿手生瘡痛不禁，心中之病大陵瀉，氣攻胃腹一般針。<br>
哮喘之症最難當，夜間不睡氣遑遑，天突妙穴宜尋得，檀中著丈便安康。<br>
鳩尾獨治五般癇，此穴須得仔細觀，若然著丈宜七壯，多則傷人針亦難。<br>
氣喘急急不可眠，何當日夜苦受煎，若得璇璣針瀉動，更取氣海自然安。<br>
奔豚疝氣發甚頻，氣上攻心似死人，關元兼刺大敦穴，此法親傳始得真。<br>
水病之疾最難熬，腹滿虛脹不肯消，先灸水分並水道，後針三里及陰交，<br>
腎氣沖心得幾時，須用金針疾自除，若得關元並帶脈，四海誰不仰名醫。<br>
赤白帶下婦人難，只因虛敗不能安，中極補多宜瀉少，灼艾還須著意看。<br>
吼喘之症咳痰多，若用金針疾自如，俞府乳根一樣剌，氣喘風痰漸漸磨。<br>
傷寒過經猶未解，須向期門穴上針，忽然氣喘攻胸膈，三里瀉多須用心。<br>
脾泄之症別無他，天樞之穴刺休差，此是五臟脾虛疾，艾火多添病不加。<br>
口臭之疾最可憎，勞心只為苦多情，大陵穴內人中瀉，心得清涼氣自平。<br>
穴法深淺在指中，治病須臾顯妙功，勸君要治諸般症，何不當初記玉龍。</p>
