<header data-type="book">
<h1>婦科問答</h1>
</header>

<h1>經症十八問</h1>
<p><u>一問：婦人室女，一生經閉不通，服何藥？</u></p>
<p>答曰：視其血，不足者當服養榮補腎之劑；脈有餘而氣相併者當服順氣生血之劑。</p>
<p>養榮補腎：</p>
<p>生地　川芎　茯苓　白芍　陳皮　甘草　杜仲　續斷　知母　當歸　條黃芩</p>
<p>順氣生血：</p>
<p>川芎　當歸　烏藥　香附　陳皮　甘草　生地　花粉　木香　丹皮　玄胡索</p>
<p><u>二問：室女經閉成勞，服何藥？</u></p>
<p>答曰：男子精盛則懷女，女子精盛則懷胎，陰陽和而雨澤降，速與配偶可也。宜補中益氣湯：</p>
<p>人參　白朮　陳皮　甘草　當歸　黃耆　柴胡　升麻　茯苓　白芍　香附</p>
<p><u>三問：寡婦凡姑經閉，服何藥？</u></p>
<p>答曰：此獨陰無陽也，宜服養血劑：</p>
<p>生地　川芎　當歸　白芍　茯苓　陳皮　甘草　知母　杜仲　黃柏　香附</p>
<p><u>四問：娼婦經閉，服何藥？</u></p>
<p>答曰：娼婦無經閉之理，因原氣不足而為男子所傷，故經閉而不通。宜服補血之劑：</p>
<p>熟地　川芎　當歸　白芍　茯苓　陳皮　甘草　杜仲　川斷　香附</p>
<p><u>五問：婦人室女經事過期而來，服何藥？</u></p>
<p>答曰：此症有氣澀滯者，有血虛者。肚不痛身微熱當服清熱養榮劑：（批：此症單是血虛肚不痛者為真）</p>
<p>首烏　知母　條芩　當歸　生地　白茯苓　白芍　陳皮　香附　甘草</p>
<p>氣血澀滯者肚痛、腰痛、胸膈不寬，當服順氣和榮湯：</p>
<p>烏藥　香附　木香　陳皮　川芎　玄胡索　丹皮　當歸　紅花　甘草</p>
<p><u>六問：經事不及期而來，服何藥？</u></p>
<p>答曰：此症有血熱者，有氣多傷血海者，大抵血熱妄行之症多耳。血熱者，宜服涼血地黃湯：（批：此症宜問經色紫者為火為熱，淡者為寒為虛）。</p>
<p>犀角　地黃　白芍　黃芩　知母　山梔　甘草　當歸　茯苓</p>
<p>氣多傷血海者，服益氣養榮湯：</p>
<p>香附　甘草　川芎　白茯　白芍　當歸頭　生地　陳皮　杜仲　川續斷</p>
<p><u>七問：婦人經事將來而小腹作痛，服何藥？</u></p>
<p>答曰：過期作痛屬血虛，當服養榮之劑。此氣血澀滯，宜服順氣和榮湯：</p>
<p>烏藥　香附　枳殼　蘇梗　陳皮　玄胡索　甘草　川芎　當歸　白茯　白芍　牡丹皮　木香</p>
<p><u>八問：經水有紫黑色，有深紅色，服何藥？</u></p>
<p>答曰：紫黑有二，有氣血相併者，有熱而成者。氣血相併，肚痛是也；熱而成者，肚不痛是也；淡紅色者，血虛也。三者皆宜服四物湯：</p>
<p>熟地　當歸　芍藥　川芎</p>
<p><u>九問：婦人月水淋清不斷者，服何藥？</u></p>
<p>答曰：此症多屬氣，亦有經行之時食生冷物，多有此症。宜服歸附丸：</p>
<p>當歸（四兩，酒洗）　香附（四兩，酒洗）</p>
<p><u>十問：老年經水不斷，服何藥？</u></p>
<p>答曰：經水不斷成淋，然氣血俱盛，雖老年不斷亦無妨。宜加減補中益氣湯：</p>
<p>人參　白朮　甘草　橘紅　柴胡　升麻　香附　川芎　歸身</p>
<p><u>十一問：婦人淋症，服何藥？</u></p>
<p>答曰：淋症腎虛而膀胱熱也。腎虛則便數，膀胱熱則便澀，其狀：小腹疼痛，澀數淋漓。故淋症有五：曰赤、曰白、曰熱、曰石、曰沙，當辨其濕熱虛實而治之，不可執一論也。若小便頻頻欲出而不多，此腎與膀胱俱虛而熱乘之也，不可以淋症治。宜服滋陰抑火方：</p>
<p>黃柏　生地　升麻　甘草　知母　柴胡　防己　當歸　山梔　陳皮</p>
<p><u>十二問：婦人白帶，服何藥？</u></p>
<p>答曰：濕氣流注下焦，滲泄膀胱，故變為白帶。其症腰痠痛，四肢少力。宜服後藥：</p>
<p>川芎　知母　歸身　杜仲　白茯　生地　白芍　山茱　陳皮　牡蠣　甘草　續斷　牛膝</p>
<p><u>十三問：婦人暴崩而血不止，服何藥？</u></p>
<p>答曰：陰陽相搏謂之崩。血不歸經，故下血不止耳。宜服調榮益氣湯：（此症急救方：用墨荷葉蒂及棗灰，以大紅棕緯煎。批：此三味煎湯調服，歷用多效。又用棕蓑衣燒灰，陳酒送下即愈）。</p>
<p>川芎　白茯　香附　歸頭　人參　荊芥　白芍　阿膠　杜仲　蒲黃　地榆　生地　續斷　甘草</p>
<p><u>十四問：血崩而小腹作痛，服何藥？</u></p>
<p>答曰：血崩脈急者死，遲者生，緊大者死，虛少者生。崩痛病而腹痛，醫者甚難治。治崩而腹愈痛，治腹痛而愈崩甚。愚即用前調益氣湯加小茴香一錢，服之頻效。醫家明此症者鮮。</p>
<p><u>十五問：婦人月水準而不成胎者，當服何藥？</u></p>
<p>答曰：有子宮寒者，有男子宮冷不入子宮者，皆不受胎。宜服暖宮種子補榮之藥：</p>
<p>蘄艾（醋炙二兩）　當歸（酒洗二兩）　知母（二兩）　木香（少許）　香附（四兩）　茯苓（二兩）　黃柏（二兩）　人參（二兩）　杜仲（二兩）　山萸（二兩）　生地（三兩）　熟地（二兩）　牛膝（二兩）　川芎（二兩）　枸杞子（二兩）</p>
<p><u>十六問：婦人咳嗽吐血，腹痛泄瀉，胸膈痞悶，喉嚨痰塞，飲食少進，手足麻木，如此之症，當服何藥？</u></p>
<p>答曰：人以脾胃為主。胃為水宮之海，脾為傳化之器，而氣血精光，皆賴飲食以滋養。若氣稟素弱，兼之氣鬱不舒，則脾胃必傷，而精神益減，此前症所由生也。咳嗽吐血者，肺熱生痰，而肝不納血也；腹痛作瀉者，暴注不迫或有痰飲，或有食疼而腹瀉，瀉而腹疼，虧損乎脾土之氣也；胸膈痞塞，隨火上升，窒礙於咽喉之間也；飲食少進，胃弱而不能運化者，手足麻木，濕痰滯於經絡也。如此之症，受病多端，若不早治，恐後難去其根也。用藥亦不易，若以熱症治之，反助火而生痰；若以寒劑服之，必損胃而成瀉；順氣寬中而體愈氣，補血則中益滿而腸必滑。宜服平肝劑、刮心火、滋腎水、清肺金、健脾土之藥，以拔去病根，痰疾可瘳矣。然必須戒惱怒、節飲食、省勞碌方妙。宜服平肝清肺健脾湯：</p>
<p>黃連　花粉　木通　白朮　白芍　柴胡　澤瀉　甘草　陳皮　貝母　山楂　蘇梗　白茯</p>
<p><u>十七問：婦人久患崩症，兼之泄瀉，當服何藥？</u></p>
<p>答曰：宜服補血、調血、調榮健脾之劑。</p>
<p>生地　白朮　續斷　白茯　陳皮　當歸頭　白芍　甘草　杜仲　蒲黃　澤瀉　山藥　黃連</p>
<p><u>十八問：婦人傷寒，何治？</u></p>
<p>答曰：婦人傷寒與男子不同。男子調其氣，婦人調其血。況婦人以血為本，氣血宜行，其神自清。若經後、產後去血過多，津液燥少，致使陰陽俱虛、乍寒乍熱，有類傷寒。但當服清熱養血和解之劑：</p>
<p>川芎　當歸　柴胡　黃芩　陳皮　甘草　防風　花粉　紫蘇　白茯</p>

<h1>胎前三十四問</h1>
<p><u>一問：胎前不語者，何治？</u></p>
<p>答曰：凡聲出於肺，不言多屬痰，蓋氣閉於心竅也。亦有啞胎，不必服藥。</p>
<p>砂仁（一兩水煎，空心服）</p>
<p><u>二問：胎前傷寒，服何藥？</u></p>
<p>答曰：宜服紫蘇飲，以發散風邪。</p>
<p>紫蘇　香附　枳殼　黃芩　羌活　防風　柴胡　陳皮　甘草　川芎</p>
<p><u>三問：胎前霍亂吐瀉，服何藥？</u></p>
<p>答曰：因孕婦飲食不節，觸冒風邪寒冷，致使陰陽不和、清濁相干、膈胃虛冷，此霍亂也。如壯熱或心腹痛，使風入於腹內，吐瀉併發，甚以傷胎。急服下藥：</p>
<p>厚朴　香附　橘紅　當歸　人參　乾薑</p>
<p><u>四問：胎前大小便不通，服何藥？</u></p>
<p>答曰：臟腑氣盛而生寒熱，熱積停處即成病也。若熱入大腸，則大便閉。宜服下藥以潤之：</p>
<p>水通　枳殼　赤茯　山梔　甘草　車前子　麻仁　瞿麥　黃芩</p>
<p><u>五問：胎前咳嗽，服何藥？</u></p>
<p>答曰：五臟六腑皆受氣於肺。咳嗽者，感於寒也。秋則肺受之，冬則腎受之，春夏則心肝受之。其諸臟咳嗽不已，則傷胎。宜服後藥：</p>
<p>白芍　白茯　橘紅　桑皮　連翹　甘草　知母　山梔　桔梗　前胡　黃芩　貝母</p>
<p><u>六問：胎前鼻衄，服何藥？</u></p>
<p>答曰：由傷動血氣所致，若血氣調和，則病奚。有勞傷、生動。因而生熱，氣逆流於鼻，則衄，多致墜胎。產後衄者不治，宜服下藥：</p>
<p>犀角　阿膠　生地　當歸　桔梗　黃耆　白芍　白茯</p>
<p><u>七問：胎前痢疾，服何藥？</u></p>
<p>答曰：脈沉細者生，洪大者死。經云：胎前痢疾，產後多死。宜服黃連護胎飲，可無虞。</p>
<p>人參（一錢）　甘草（六分要白）　豆蔻（八分要白）　陳皮（一錢）　木香（少許另磨）　厚朴（一錢）　黃連（一錢）　澤瀉（八分）　歸身（一錢）　茯苓（一錢）　白朮（一錢）　白芍（一錢五分）</p>
<p><u>八問：胎前瘧疾，服何藥？</u></p>
<p>答曰：以草果飲治之，即愈。</p>
<p>甘草　草果　烏梅　蒼朮　厚朴　陳皮　枳實</p>
<p><u>九問：胎前眩暈，服何藥？</u></p>
<p>答曰：有痰，有虛，痰則服補中益氣湯：</p>
<p>黃耆（五錢）　甘草（五錢）　人參（三錢）　白朮（七錢五分）　柴胡（四錢五分）　升麻（五錢）　陳皮（七錢五分）　貝母　竹瀝（一兩）</p>
<p>水二鍾煎八分服下。</p>
<p>虛則宜服十全大補湯：</p>
<p>人參（去蘆）　白朮（去蘆土蒸炒）　甘草（炙）　當歸（酒洗）　黃耆　白芍（酒浸炒）　地黃（酒洗焙）　川芎　肉桂（去皮）</p>
<p>上為㕮咀，每服五錢，水二鍾，姜三片，棗二枚，煎八分，空心服。</p>
<p><u>十問：胎前四肢浮腫及腹大，服何藥？</u></p>
<p>答曰：因產過虛，水血散入四肢，遂致腹脹手足（浮腫）、面目昏浮、大便閉結。必利小便為主，宜服後藥：</p>
<p>蘇梗　陳皮　白茯　桑皮　枳殼　大腹皮　木通　桔梗　車前子</p>
<p><u>十一問：胎前內傷，凝血作痛，既不能服活血之劑，何以治之？</u></p>
<p>答曰：此必內傷，宜安胎為主。服：</p>
<p>川芎　當歸　白芍　艾葉　白茯　甘草　陳皮　香附　烏藥</p>
<p><u>十二問：胎前手足麻痹，服何藥？</u></p>
<p>答曰：此血少耳，宜服補血安胎之劑：</p>
<p>人參　白朮　白茯　生地　當歸　白芍　甘草　香附　黃芩　川芎</p>
<p><u>十三問：胎前忽耳聾，忽目盲，服何藥？</u></p>
<p>答曰：此暴怒所致，宜服安胎飲：</p>
<p>當歸　陳皮　白芍　甘草　川芎　熟地　黃芩　白朮　砂仁</p>
<p><u>十四問：胎前咳嗽吐血，吉凶若何？</u></p>
<p>答曰：諸血皆可治，惟面青聲啞者不治。宜服安胎清金飲：</p>
<p>知母　白茯　五味子　甘草　前胡　款冬花　麥冬　桔梗　黃耆　人參　阿膠（蛤粉炒）</p>
<p><u>十五問：胎前下血不止，服何藥？</u></p>
<p>答曰：因勞役、喜怒，觸動胎氣，故下血耳。宜服固胎保安湯：</p>
<p>川芎　香附　歸首　蒲黃　阿膠　艾葉　白朮　生地　黃芩</p>
<p><u>十六問：有胎無胎，何驗？</u></p>
<p>答日：六脈洪大而身不熱者，是也。反則無胎。左手大為男，右手大為女。六脈洪大者，難胎也；兩手洪大者，是雙胎也。</p>
<p><u>十七問：婦人腹胎有鬼胎，何驗？</u></p>
<p>答曰：視其脈，乍大乍小、乍短乍長，或時鳥啄，或綿綿而來，不知度數，浮沉不一者，是也。宜灸鬼哭穴。</p>
<p><u>十八問：婦人慾產未產，何治？</u></p>
<p>答曰：此氣逆也，當順其氣，自然安妥。宜服：</p>
<p>砂仁　白芍　烏藥　香附　白茯　大腹皮　陳皮　甘草　蘇梗　川芎　當歸</p>
<p><u>十九問：婦人未產，乳汁先生，何故？</u></p>
<p>答曰：此名鬼泣，不必服藥。</p>
<p><u>二十問：胎死腹中，何治？</u></p>
<p>答曰：小便作痛，如寒熱、面黑而青者，子死也。因胎母患熱症，熏灸其胎，是以欲死。宜用：</p>
<p>官桂（一錢）　麝香（五分）</p>
<p>研細末溫酒服下。</p>
<p><u>二十一問：妊娠難產，累日不下者，何治？</u></p>
<p>答曰：宜服順氣滑胎飲：</p>
<p>川芎　當歸　白茯　白芍　蘇梗　大腹皮　烏藥　香附　陳皮　甘草　天花粉　車前子　滑石　蔥頭（三個）　伏龍肝　黃楊頭（七個）</p>
<p>或產生如醒散（秘傳用蛇腿一條煅）</p>
<p>麝香（一錢）　金箔（五張）　硃砂（三錢）　伏龍肝（一錢）　車前子（一錢）　當歸（一兩）　秋葵子（三錢）　牛膝（二錢）　白芷（三錢）　枳殼（二錢）　川芎（二錢）　白芍（一錢）　大腹皮（二錢）</p>
<p><u>二十二問：胎上逼心，何治？</u></p>
<p>答曰：因妊娠血氣不和，而勞役過度，致兒恐動，而上逼心。宜服安胎理氣飲：</p>
<p>香附　烏藥　白茯　白芍　川芎　歸身　人參　蘇梗　陳皮　甘草　大腹皮</p>
<p><u>二十三問：妊娠心腹痛，服何藥？</u></p>
<p>答曰：宜服分氣和平湯：</p>
<p>烏藥　香附　木香　青皮　白芍　陳皮　蘇頭　歸首　枳實</p>
<p><u>二十四問：胎未下，胞水先破，蓋服何藥？</u></p>
<p>答曰：宜服無憂散：</p>
<p>當歸（三錢）　川芎（三錢）　白芍（三錢）　木香（一錢五分）　枳殼（一錢）　乳香（二錢）　血餘灰（一錢五分）</p>
<p><u>二十五問：橫產，服何藥？</u></p>
<p>答曰：小兒生下先露手，忽露臂，未嘗用力，產母遂知橫而不能下。設有此疾，即令仰臥，令收生者輕手推兒身，漸漸直進，以中指抵其背推上去，候其轉身，與推生散一鍾，方可用力。</p>
<p>車前子　當歸　秋葵子　牛膝　白芷　大腹皮　枳殼　川芎　白芍</p>
<p><u>二十六問：倒產者，何治？</u></p>
<p>答曰：因胎氣不足，用力太早，致令生不順而足先露也。當令產母仰臥，使收生者推入分毫，產母不得用力，亦不可驚恐，候兒自順，卻令收生者輕手納入陰戶，推其足上，漸漸順下。待其自轉門戶，煎催生散服之，方可用力。</p>
<p><u>二十七問：偏生者，何治？</u></p>
<p>答曰：因兒迴轉其身，未順生路，卻被產母用力一送，致令兒頭偏，雖近門路而不能生下。當令仰臥，使收生者輕推兒上，以手抵其頭，用力生下。　</p>
<p><u>二十八問：凍產者，何治？</u></p>
<p>答曰：三冬血凝不散，以致難生。宜閉戶生起火爐，以綿衣裹煨產母，和其血，則易產也。</p>
<p><u>二十九問：盤腸生者，何治？</u></p>
<p>答曰：臨產則腸先出，復生子，子緩其腸不收。以醋半盞、新汲水七分，三噀產母面上，其腸即上。上收一法：用蓖麻子十四粒，研膏貼產母頭頂上，其腸即上，上即收去。</p>
<p><u>三十問：臨產時，胎死腹中，何治？</u></p>
<p>答曰：因產母潮熱經旬，臟腑熱極熏其胎，又兼吃熱毒之物，或交合傷胎，致於子死腹中矣。宜服下藥：</p>
<p>車前子　當歸　秋葵子　牛膝　枳殼　大腹皮　乳香　白芍　甘草　木香　川芎　白芷</p>
<p><u>三十一問：小產者，服何藥？</u></p>
<p>答曰：因妊娠血氣不足，怒至氣傷肝，血不能養胎故也。大抵正產之理順，小產之理逆，凡遇妊後，多服安胎之劑為炒。不然，血室滑致小產者多矣。</p>
<p><u>三十二問：胎衣不下者，何治？</u></p>
<p>答曰：積血攻入衣中，黏滯不能墜落也。宜服後藥。</p>
<p>紅花　枳殼　當歸　赤芍　蓬朮　天花粉　朴硝　官桂　甘草　威靈仙</p>
<p><u>三十三問：胎前傷寒，服何藥？</u></p>
<p>答曰：安胎為主：</p>
<p>紫蘇　白茯　枳殼　香附　黃芩　陳皮　甘草　川芎　當歸</p>
<p><u>三十四問：胎前小便不通，腹中作痛，服何藥？</u></p>
<p>答曰：宜服後藥：</p>
<p>枳殼　甘草　山梔　燈心　蘇梗　白茯苓　白芍　木通　陳皮</p>

<h1>產後三十四問</h1>
<p><u>一問：產後陰脫，何治？</u></p>
<p>答曰：因氣血俱虛，不能升斂也。宜服：</p>
<p>人參　當歸　白茯　麥冬　甘草　川芎　生地　陳皮　香附</p>
<p><u>二問：產後玉門不閉，何治？</u></p>
<p>答曰：宜服後藥：</p>
<p>川芎　當歸　茯苓　陳皮　甘草　續斷　杜仲　人參　牛膝　熟地</p>
<p><u>三問：產後不語者，何治？</u></p>
<p>答曰：心有七竅，因產後敗於血、閉於心竅，心氣閉塞，故不語也。宜服：</p>
<p>石菖蒲　荊芥　香附　茯苓　當歸　陳皮　甘草　丹皮</p>
<p><u>四問：產後狂言亂語，何治？</u></p>
<p>答曰：因產後之氣虛弱，神不守舍故也。宜服後藥：</p>
<p>茯苓　遠志　棗仁　荊芥　甘草　石菖蒲　當歸　川芎　香附　陳皮　丹皮</p>
<p><u>五問：產後咳嗽，服何藥？</u></p>
<p>答曰：宜服清肺飲：</p>
<p>玄參　桔梗　前胡　山楂　天花粉　白桑皮　甘草　枳實　牡丹花　馬兜鈴</p>
<p><u>六問：產後發熱，口乾作渴，唇裂生瘡，服何藥？</u></p>
<p>答曰：宜服後藥：</p>
<p>連翹　花粉　玄參　桔梗　前胡　丹皮　當歸　陳皮　甘草</p>
<p><u>七問：產後寒熱如瘧，服何藥？</u></p>
<p>答曰：宜服後藥：</p>
<p>川芎　枳實　當歸　前胡　白茯　半夏　丹皮　青皮　香附　甘草　陳皮　山楂</p>
<p><u>八問：產後小便短澀，服何藥？</u></p>
<p>答曰：此血熱積於小便也，宜服八正散：</p>
<p>木通　豬苓　澤瀉　茯苓　赤芍　海金沙　廣皮　甘草　瞿麥　燈心　車前子</p>
<p><u>九問：</u>（原缺）</p>
<p><u>十問：產後中風不語者，何治？</u></p>
<p>答曰：因產後元氣虛弱，或赤腳下床踏於冷地，或月內房事，或當風取涼洗，風邪觸傷所致。宜服後藥：</p>
<p>川芎　半夏　當歸　廣皮　枳實　丹皮　甘草　白茯　防風　殭蠶　赤芍</p>
<p><u>十一問：產後取重物，膀胱墜下，出外不收，何治？</u></p>
<p>答曰：產後原氣虛弱，又勞役太過，致傷五臟，故陰中挺出一物。宜服：</p>
<p>升麻　熟地　當歸　川芎　白茯　山茱萸　人參　廣皮　甘草</p>
<p><u>十二問：產後忽心痛，不可忍，何治？</u></p>
<p>答曰：此亦惡血上升之故也，宜服後藥：</p>
<p>枳實　烏藥　蓬朮　青皮　山楂　玄胡索　廣皮　甘草　厚朴　沒藥　木香　小茴香</p>
<p><u>十三問：產後瘧疾，何治？</u></p>
<p>答曰：宜服後藥：</p>
<p>川芎　廣皮　山楂　青皮　半夏　白茯苓　枳實　厚朴</p>
<p><u>十四問：產後痢疾，何治？</u></p>
<p>答曰：宜服胃風湯：</p>
<p>木通　豬苓　澤瀉　蒼朮　厚朴　山楂　蓬朮　白茯　赤芍　陳皮　木香　草豆蔻　枳實　甘草</p>
<p><u>十五問：產後吞酸，何治？</u></p>
<p>答曰：宜服下藥：</p>
<p>枳實　丹皮　山楂　香附　廣皮　厚朴　半夏　甘草</p>
<p><u>十六問：產後眩暈，何治？</u></p>
<p>答曰：宜服下藥：</p>
<p>天麻　當歸　白茯　荊芥　前胡　花粉　陳皮　丹皮　益母草</p>
<p><u>十七問：產後麻木，何治？</u></p>
<p>答曰：宜服後藥：</p>
<p>生地　當歸　天麻　白茯　丹皮　廣皮　秦艽　甘草　杜仲　牛膝　續斷</p>
<p><u>十八問：產後血暈，何治？</u></p>
<p>答曰：宜服清魂湯：</p>
<p>川芎　當歸　荊芥（炒）　澤蘭葉　益母草　石菖蒲　白茯　甘草　赤芍　牡丹皮　廣皮</p>
<p><u>十九問：產後小腹痛，何治？</u></p>
<p>答曰：此瘀血未盡也，宜服芎歸散：</p>
<p>川芎　歸尾　紅花　赤芍　丹皮　玄胡索　蓬朮　香附　烏藥</p>
<p><u>二十問：產後乳汁不通，何治？</u></p>
<p>答曰：宜服芎歸湧泉湯：</p>
<p>川芎　當歸　木通　白芷　花粉　漏蘆　甘草　桔梗　陳皮　赤芍　牡丹皮</p>
<p><u>二十一問：產後兜枕痛，服何藥？</u></p>
<p>答曰：小腹中有塊，疼痛者是也。宜服芎歸湯：</p>
<p>川芎　歸尾　烏藥　香附　蓬朮　玄胡索　紅花　丹皮　陳皮　赤芍　花粉　厚朴</p>
<p><u>二十二問：產後譫語，何治？</u></p>
<p>答曰：心主血，產後去血過多，精神失守故也。脈若大熱甚者，難治。宜用鎮心寧神湯：</p>
<p>酸棗仁　石菖蒲　茯神　遠志　麥冬　甘草　黃連　陳皮　薄荷　當歸</p>
<p><u>二十三問：產後瘀血不止腰痛者，服何藥？</u></p>
<p>答曰：宜服益榮湯：</p>
<p>川芎　白茯　當歸　白芍　甘草　香附　續斷　陳皮　杜仲　牛膝　知母　破故紙</p>
<p><u>二十四問：產後汗出不止，何治？</u></p>
<p>答曰：宜服後藥：</p>
<p>麻黃根　酸棗仁　白茯神　麥冬　赤芍　炙乾姜　益母草　當歸　甘草　陳皮</p>
<p><u>二十五問：產後頻尿而不多者，何治？</u></p>
<p>答曰：此濕熱也，宜服滲濕抑火之劑：</p>
<p>通草　陳皮　花粉　白茯　白芍　車前子　玄參　甘草</p>
<p><u>二十六問：斷產，服何藥？</u></p>
<p>答曰：宜服無憂散：</p>
<p>白芷　赤芍　川芎　當歸　丹皮　玄胡索　蓬朮　陳皮　花粉</p>
<p><u>二十七問：產後乳癰，何治？</u></p>
<p>答曰：宜服橘翹湯：</p>
<p>橘葉　連翹　川芎　當歸　花粉　桔梗　玄參　枳殼　陳皮　甘草　防風　青皮　赤芍　牡丹皮</p>
<p><u>二十八問：產後小便不通，服何藥？</u></p>
<p>答曰：宜服通米散：</p>
<p>桃仁　郁李仁　麻仁　當歸　木通　陳皮　蓬朮　天花粉　豬苓　前胡　枳實　牡丹皮</p>
<p><u>二十九問：產後血泄瀉，服何藥？</u></p>
<p>答曰：此脾肺二經受病，宜服清熱寧肺健脾湯：</p>
<p>前胡　黃連　花粉　桑皮　桔梗　玄參　木通　澤瀉　豬苓　白茯　山楂　赤芍　陳皮　甘草</p>
<p><u>三十問：</u>（原刪）</p>
<p><u>三十一問：產後大便七、八日不通，發熱腹脹，何治？</u></p>
<p>答曰：宜服順燥寬中湯：</p>
<p>枳實　陳皮　大黃（酒製）　當歸　麻仁　郁李仁　桃仁　丹皮　花粉</p>
<p><u>三十二問：產後腿足疼痛，不能行步，何治？</u></p>
<p>答曰：宜服芎歸獨坐湯：</p>
<p>獨活　牛膝　紅花　杜仲　米仁　桑寄生　川芎　甘草　當歸　丹皮　秦艽　萆薢　木瓜　防己</p>
<p><u>三十三問：產後傷寒，何治？</u></p>
<p>答曰：產後去血過多，元氣虛弱，乍寒乍熱，狀如傷寒也。輕輕淅淅、惡寒、翕翕發熱、微嗽鼻塞，重者頭痛體疼，飲食不進。雖當發汗，如麻黃不可用。宜服後藥：</p>
<p>花粉　丹皮　甘草　山楂　乾葛　陳皮　枳實　羌活　前胡　川芎</p>
<p><u>三十四問：產後胸膈不寬，小腹疼痛，時發寒熱，何治？</u></p>
<p>答曰：產後元氣虛弱，瘀血未盡，余血與氣相搏，隨其上下而成胸膈不寬、小腹疼痛、時發寒熱也。若以血虛用參、耆、地黃之藥，則瘀血補住而不行；若以積聚而用薑、桂、蓬朮之藥，則元氣益耗而愈虛。當服生新血、去瘀血而調理之藥，方為兩全。用理氣和榮湯：</p>
<p>川芎　甘草　當歸　香附　丹皮　益母草　山楂　紅花　木香（少許）　白茯　陳皮</p>
<p>臨產時先服四物湯，加枳殼以理氣，加牛膝以達下，屢試屢驗。產後服童便一盞。</p>

<h1>雜症四十三問</h1>
<p><u>一問：婦人中風，右身半邊不遂者，何治？</u></p>
<p>答曰：右屬氣，此傷氣也。須服行氣湯：</p>
<p>人參　香附　白芷　青皮　陳皮　白茯苓　白朮　甘草</p>
<p>又用八味順氣散加枳殼、香附，腰痛加紅花、柴胡。</p>
<p>凡中風者先服此湯以順氣。</p>
<p><u>二問：婦人中風，左邊半身不遂者，何治？</u></p>
<p>答曰：左屬血，此傷血也，須服活血之藥：</p>
<p>當歸　枳殼　香附　紅花　甘草　赤芍　烏藥　青皮　木香　官桂</p>
<p><u>三問：婦人中風，口眼歪斜，言語不清，頭痛難眠者，何治？</u></p>
<p>答曰：血少著風，醫風先醫血，血行風自滅。須服大補氣血之劑，兼治痰。用二陳湯。</p>
<p><u>四問：婦人中風，有肥瘦不同，如何治之？</u></p>
<p>答曰：肥人治痰，瘦人補血。用補中益氣湯，加貝母、黃連。</p>
<p><u>五問：婦人中風，有汗不出與大便秘結，如何治之？</u></p>
<p>答曰：大補血、生血兼痰治之，以四物湯為主，去熟地。</p>
<p><u>六問：婦人傷風咳嗽，有痰、身熱、頭痛多汗者，何治？</u></p>
<p>答曰：用旋覆花湯加人參。</p>
<p><u>七問：婦人頭痛身熱，鼻息咳嗽者，何治？</u></p>
<p>答曰：用人參敗毒散，咳嗽加桔梗、半夏、桑皮、姜三棗一。</p>
<p><u>八問：婦人咳嗽有發於旦者，何治？</u></p>
<p>答曰：此陽火也，用黃芩之類治之。</p>
<p><u>又問：有發於夕者，何治？</u></p>
<p>答曰：此陰火也，用生地之類治之。</p>
<p><u>九問：婦人連年咳嗽不止者，何治？</u></p>
<p>答曰：此脾胃虛寒也，用人參潤肺湯。</p>
<p><u>十問：婦人胸中嘈雜，食過即飢者，何治？</u></p>
<p>答曰：此虛火太盛也，用山梔、半夏、黃連、橘紅。若肥人，用二陳湯加白朮、蒼朮、山梔、撫芎。</p>
<p><u>十一問：婦人胸中常飽，不能進食者，何治？</u></p>
<p>答曰：此濁氣在上，故生填脹。用木香順氣散。</p>
<p><u>十二問：婦人夏四月四肢倦怠，氣不能舒者，何治？</u></p>
<p>答曰：調理脾胃為上，用清暑益氣湯。</p>
<p><u>十三問：婦人周身骨痛，有風、有勞、有痰者，何治？</u></p>
<p>答曰：周身痛，心嘈，痰也。用二陳湯，加枳殼、山梔、橘紅；滿身痛、手足腫者，濕也。用健脾湯；滿身痛、內熱、口乾、面黃者，勞也。以血虛斷之，用逍遙散；身熱、咳嗽者，風也，用金沸散。</p>
<p><u>十四問：婦人皮膚折裂，口渴舌乾或大小便結者，何治？</u></p>
<p>答曰：此症要犯血淋，今所患者，血枯也。當以散血補氣為主，如生地、黃連、知母之類。</p>
<p><u>十五問：婦人小便利而大便結，或大便通而小便結者，何治？</u></p>
<p>答曰：宜服生血之劑。</p>
<p><u>十六問：婦人喉中痰塞如塊，又如梅核吐不出、咽不下，何治？</u></p>
<p>答曰：此氣鬱也，用二陳湯，去半夏，加貝母，黃連、枳實可也。或用四七湯治之，尤妙。</p>
<p><u>十七問：婦人飲食嘔吐而不納，甚至藥亦不納者，何治？</u></p>
<p>答曰：此傷胃也，宜服下藥：</p>
<p>半夏　生薑　藿香　烏梅，忌甜食。</p>
<p><u>十八問：婦人老瘧而腹中有癖者，何治？</u></p>
<p>答曰：宜用清胃湯。</p>
<p><u>十九問：婦人瀉而見血，有散、有塊、有鮮、有紫，如何辯其為傷、為痢、為臟毒？</u></p>
<p>答曰：瀉而見血，有散有塊，以手按之，腹作痛，此傷也，用胃風湯；腹作響，即欲去後者，此痢也，用加減平胃散；腹不痛，不時去血，乃臟毒也，用槐角丸。</p>
<p><u>二十問：婦人痢疾，不去純紅者，何治？</u></p>
<p>答曰：此中暑毒盛，此症難治。</p>
<p><u>又問：禁口痢者，何治？</u></p>
<p>答曰：此熱毒衝心，嘔而不食也。用黃芩、吳茱萸，或倉癝湯。</p>
<p><u>二十一問：婦人胸中作痛，嘔吐清水，得食即止，不食即飢者，何治？</u></p>
<p>答曰：此火病也，服養胃湯，去參，加薑、炒黃連、香附。</p>
<p><u>二十二問：婦人嘔吐清水及黃水，食物痰飲，冬、夏各用何藥？</u></p>
<p>答曰：用養胃散，夏月去參加半夏，冬月用炮姜。</p>
<p><u>二十三問：婦人腹脹者，何治？</u></p>
<p>答曰：此多氣也，用木香流氣飲。如氣下陷，加升麻，有痰，加半夏。</p>
<p><u>二十四問：婦人胸中痞滿壅塞者，何治？</u></p>
<p>答曰：宜用指迷七氣湯加木香。</p>
<p><u>二十五問：婦人腹中有塊，聚散生降、發寒熱、作痛者，何治？</u></p>
<p>答曰：有形作血治，服：</p>
<p>蓬朮　甘草　三稜　藿香　香附　益智仁　半夏　薑棗</p>
<p><u>二十六問：婦人時時腰痛者，何治？</u></p>
<p>答曰：用補中益氣湯，加杜仲。</p>
<p><u>二十七問：婦人腰膝走注，痛如虎咬之狀不可忍者，何治？</u></p>
<p>答曰：此傷也，當服活血藥，如當歸、白朮、牛膝之類，加童便。</p>
<p><u>二十八問：婦人跌撲閃挫，損傷凝血，胸肋作痛者，何治？</u></p>
<p>答曰：用活血藥，加丹皮，此乃生新血、去宿血之藥。煎好，加童便。</p>
<p><u>二十九問：婦人心胸嘈雜者，何治？</u></p>
<p>答曰：婦人多患此症，乃多痰故也。皆汗液變成痰涎。不知，以血嘈治，謬矣。宜用旋覆花湯，加貝母、薑汁。</p>
<p><u>三十問：婦人遍身麻木者，何治？</u></p>
<p>答曰：麻者，氣虛也；木者，無血也，又有胃中有痰而麻木者，有血虛而麻木者。凡婦人肥，血而心嘈，當以痰治之；黃瘦而無力者，當以血虛治之。</p>
<p><u>三十一問：婦人遺尿、遺糞者，何治？</u></p>
<p>答曰：此氣虛也，宜用補中益氣湯，數帖而愈。</p>
<p><u>三十二問：婦人陰痛、陰癢者，何治？</u></p>
<p>答曰：此濕也，用柴胡石膏湯。</p>
<p><u>三十三問：婦人陰癢不可忍者，何治？</u></p>
<p>答曰：此濕熱生蟲蝕之也，不治，漸漸淫入臟腑。速用杏仁研爛，布包入陰戶之內，一二日即愈。</p>
<p><u>三十四問：婦人小便尿血者，何治？</u></p>
<p>答曰：此下元委曲之火也，炒山梔不可無。</p>
<p><u>三十五問：婦人破傷鳳，如何斷之？</u></p>
<p>答曰：此患非輕。如頭目青黑、額上出汗如珠不流、眼小目瞪、身上出汗如油，必不可治。如傷不至此，當服防風散。</p>
<p><u>三十六問：婦人腹中有塊，諸藥不效者，何治？</u></p>
<p>答曰：宜鬼見愁草打汁，和酒飲之。或曬乾力末，酒調亦可。</p>
<p><u>三十七問：婦人交傷者，何治？</u></p>
<p>答曰：小便出大便者，謂交傷，傳送失度也。用茯苓散分利水穀，再服黃連阿膠丸。</p>
<p><u>三十八問：婦人喉嚨作痛者，何治？</u></p>
<p>答曰：此名虛火，不可誤以乳蛾治之。止用人參、薄荷、貝母、乾葛、桑皮、甘草、桔梗、玄參、花粉、當歸、生地之類。如因酒傷人作痛，去人參活之。</p>
<p><u>三十九問：婦人陰戶生瘡者，何治？</u></p>
<p>答曰：用桃仁搗爛，麻布裹塞之。</p>
<p><u>四十問：婦人陰戶如水者，何治？</u></p>
<p>答曰：用母丁香，縫紗囊如指頭大者，塞入內即暖。</p>
<p><u>四十一問：婦人無病而陰痛者，何也？</u></p>
<p>答曰：必交傷也，用炒鹽，青布裹熨之。</p>
<p><u>四十二問：胎前心口氣塞，腹痛自痢非痢，何治？</u></p>
<p>答曰：以安胎為主。宜用後藥：</p>
<p>白朮（二錢）　紫蘇（五分）　甘草（五分）　陳皮（八分）　當歸（二錢）　川芎（一錢）　黃芩（八分）　木香（三分）</p>
<p>氣順，去木香；虛，加熟地；腰痛，加山藥、姜一片、棗三個。</p>
<p><u>四十三問：婦人產後腰痛、腹痛，惡露似通非通，何治？</u></p>
<p>答曰：可用後藥：</p>
<p>川芎（一錢）　當歸（二錢）　甘草（三分）　桃仁（十粒）　乾薑（五分）</p>
<p>酒六匙，煎服。</p>
