<header data-type="book">
<h1>解圍元藪</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈之問</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1550">公元1550年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2874">北京大學圖書館掃描本</a>；杭州三三醫社版（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NCL-9910015368">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>卷一</h1>

<h2>風癩論</h2>
<p>四時酷烈暴悍賊邪風也，為病最甚，殘害最劇，古人稱癘為惡疾之首，患之變敗形質頑固不知所之。</p>
<p>酷、惡毒也，烈、凶猛也，暴、速也，悍、剛也，皆風之質也。春夏多有旋風，秋令多有飈風，冬有嚴寒，皆煞癘之邪氣也。經云：冬至之日有疾風從東南來者，名曰賊風，最能傷人，犯之不可解，俯仰動作不可得矣。按之應手而痛，烙熨則爽，時刻抽掣，擊剝疾火，沖蕩氣血，輕者結為瘰癧，重者聚為偏枯。若遇熱鬱摶凝，則變為附骨癰疽。如寒濕凝滯深入臟腑，久則積成風癘。人皆不知：陰陽和平，寒暑適時，則疾病不作；若天地變駁，風濕舛逆，是為不正之氣，則人感而病焉。《說文》云：蟲入幾中曰風。故風動而蟲生，蟲無風而不育。諸蟲皆八九日而化，感八風之邪氣而成形也。《靈樞》云：從東南來者曰弱風，其傷人也，內舍於胃，外在肌肉，其氣主體重。從正南來者曰大弱風，其傷人也，內舍於心，外在於脈，其氣主熱。從正西來者曰剛風，其傷人也，內舍於肺，外在皮毛，其氣主燥。從正北來者曰大剛風，其傷人也，內舍於腎，外在骨與肩背之膂筋，其氣主寒。從西南來者曰謀風，其傷人也，內舍於脾，外在肢腋，其氣主弱。從西北來者曰折風，其傷人也，內舍小腸，外在手太陽之脈，脈絕則溢，脈閉則結而不通若死，其氣主關格痿憊。從東北來者曰凶風，其傷人也，內舍於大腸，外在兩脅肋骨下及肢節，其氣主強勁洞泄。從正東來者曰嬰兒風，其傷人也，內舍於肝，外在筋紐，其氣主經。乃煞癘之邪氣，非時暴悍酷烈之毒；中於人身，即生諸蟲，滋蔓為害。自古聖賢避色如避寇仇，避風如避矢石，鮮有大病。而人不畏避，妄肆縱欲荒色內虛，惡風乘假而入，故多疾病。黃帝云：八風之毒，百花犯之無色，百穀傷之不實，草木觸之枯瘁，禽獸中之顛猘。水御之狂越，土蓄之崩裂，人中其邪，則成麻癘。蟲生臟腑，啖肌髓，飧血液，形態醜惡，神思昏迷，遍身瘡穢，先儒曰癘，即此候也。中古分為風、癘二名，內駐曰風，所感深；外著曰癘，所感淺。風甚於癘，而癘輕於風，形氣本源則一類也。又曰風入臟腑，久注脈絡，數年之後，發於肌表，由漸而變癘，一傷人即發瘡穢，至見敗形。故風疾發遲死速，癘病發速死遲，大害皆然。江北燕冀，呼癘為炮瘡，南人擬其名而曰楊梅瘡，又曰廣東瘡。蓋閩廣間有室女過癘，即生蟯蟲，發為惡瘡，穢毒極盛，其氣易於傳染殺人，因此滋蔓於世，相感而生。</p>
<p>充塞脈絡之內，輸散分肉之間，榮衛不利，肌腋膹䐜，氣聚不通，使血淤不流，筋骨馳縮，膚體腐爛，膿穢淋漓，眉須脫落，手足痿痹，趾指墮折，寒熱麻癢，或如棰楚如掣，掌如攣如縛，如拶如夾，瘸癟腫酸，荼毒疙瘩，百惡對駢，集得之所由，有五充貯而滿也。分肉、腠理也，輸、運納也，膹、結滯也，䐜、脹悶也瘀，凝寒也，弛、渙散也，縮、拘急也，穢、汙濁也，淋漓、黏汙也，毻、敗脫也，痿、半邊罷軟不舉也，痹、頑痛也，指、手指也，趾、足指也，麻、不知痛癢也，棰、擊刑也，掣、牽絞也，掌以木為刑床，傑住不容轉動也，攣、筋縮也，縛、繩縛也，拶、刑其手指，夾、刑其足踝，此皆痛而難忍者，言風癘有此異常之惡候也。瘸、手指屈倒，不能執物也，癟、肌膚枯槁也，腫高起也，酸、骨節麻痛難動也，疙瘩、顆塊也，此言風癘之形勢也。足少陽膽，其榮在須；足少陰腎，其榮在發。衝脈、任脈，為生經之海，謂之血海。其別絡上唇口，血氣盛則榮於頭面，須華髮美。若血氣衰則脈絡虛耗，不能榮潤，故鬚髮頹落也。風入榮衛，關節壅閉，氣血不舒，皮肉不仁，膚腠浮腫虛脹，自覺如堅厚之狀，痛癢不知，故曰大麻風。《病源》曰：風癘之相感，皆由惡風寒濕、房勞嗜欲、醉飽露臥變駁所成，二者病源無異，患害之由五條明列於下。</p>
<p><u>一曰風水陰陽所損</u></p>
<p>地脈方向、吉凶之理曰風水，星曆盈虛曰陰陽。如修築安葬，豎造開鑿，植伐之類，皆有年命相問，神煞禁忌，犯於幽冥，測然致病。巫人之本命元辰為害，遍身痠痛，走注痿痹。金神七煞為害，偏枯，口眼歪斜，半身不遂，軟弱痿困。白虎為害渾身塊瘰，腫痛臭惡，濃血淋漓。天罡大煞為害，蠱脹滿塞，迷悶癱瘓。八煞將星為害，奔走狂越，逾垣上屋，嗷號悲笑，無倫暴惡，持刀鬥勇。五土猖鬼為害，噤暈昏迷，腹大肢軟，癰疽疫癘。太歲月將時日星辰為害，變異不測，無所防禁，俗之風水、陰陽所損，不可醫治，其謬之甚!夫陰陽神煞，不可瀆其無而闢慢之，亦不可信其有而諂媚之，皆惑於偏也。且妖邪之祟，若觸犯於人，不過一時之間，豈有終身隨而為禍之理?亦因人氣血不正，受其邪氣而病生焉。若調其氣血，清其思慮，則神正而復元，使邪氣漸消而安矣。故云燮理陰陽以和元氣，大道君子也。醫家十三科之內亦有祝由一科以符水咒訣禳辟邪魅妖氛，而歸揖正氣。巢元方云：脈遽遲伏，或如雞喙，或去或來，此邪物也。若脈來微弱，綿綿遲伏，不知度數，而顏色不變，此邪病也。若脈來乍大乍小，乍短乍長，為禍脈也。若脈兩手浮泛細微綿綿不可知者，但陰脈亦細，此為陰蹺陽蹺之脈也。其家會有患風病死者，乃若恍忽亡人為禍也。若脈洪大弱者，社祟也。若脈來沉沉而澀，或四肢重，土祟也。若脈來如飄風，從陰趨陽，風邪也。若脈一來調、一來速鬼邪也。若脈有表無里，邪祟為害也。以寸為表脈，以關為里脈，有表無里者，乃兩頭有而關中無也，曰隔絕不至之脈也。若尺脈上半不至關為陰絕，寸脈下半不至關為陽絕。故曰陰絕而陽微，死而不治，此名妖怪之脈，乃氣血神思受邪而見於脈也。然皆虛妄之談，亦《巢氏病源》並諸典籍考究者，姑書之以補不足之論。</p>
<p><u>二曰源流傳染所襲</u></p>
<p>人稟父母精血而成形，受天地造化而為用，故觸天地不和之氣則病焉。若父母素患惡疾，必精血有毒，交感於胚胎，傳至於兒女。凡風勞病人，皆有惡蟲於臟腑，代相稟受，傳染源流，故曰傳屍須於幼年未曾發病之先，預常服藥，使蟯蟲內死，不得長養，滋蔓延育為害。若至長大婚配，耗散精神，虧損氣血，病作而難治矣。今人焉肯於未病之先，延醫調治哉!故使病劇無療，臨危措手，咎在微時不治之故。若其人未染惡疾之時，所生兒女必無傳疰。若既生惡疾之後，所生兒女，定難免之。先君諭之曰：吳中有一富翁，患癘病，吾治愈，久生一女，適人不久，其夫染大風，其妻終身無恙，而毒氣遺疰於夫，實大異也。又有一人風病而死，其妻無病，再適於人，其後夫即患前夫之疾無異，數年而死。其毒不遺於妻，而婦人受毒在臟腑，於交感之中，移疰男子以受害。想其毒初在交感淫欲中來，原在交感淫欲中去，可不畏哉!又有一人風癘而死，生三子一女，皆患風而死，又有一風病人之女無恙，適於人生一子，幼即患風者。不傳於女，而傳於甥也。古云：世有惡疾不娶，信可警哉!又有一徽商，三代癆病而死，第四代之子於髫齔時，即隨母舅往兩廣為商，並不回家，其父在家勞瘵，既死之後半月，其勞蟲飛至廣內，到其子店中，其子偶出赴席其蟲逕入房門上鎖內，有一老僕竊見此蟲，即以物塞其鎖門，急報主人忙將濕泥厚固鎖上，連門栨撬下，烈火焚之，木皆成灰，鎖已迸開，其蟲猶活，取出搗爛煅之，後方免禍。其傳屍之惡如此，宜預防之。姑錄以告將來君子。</p>
<p><u>三曰氣穢蠱疰所犯</u></p>
<p>他人之毒，傳之此人曰疰，因其穢惡之氣觸感而成也。若人血氣虛，脾胃弱，偶遇惡疾之人，聞其汙氣，或對語言，而病人口內之毒氣，衝於無病人之口鼻，直入五內，則發為病。又如惡疾人登廁之後，而虛弱人或空腹人隨相繼而圊，則病人泄下穢毒之氣未散衝上，從無病人口鼻，直入於臟腑。其如清晨未飲食之時，犯之禍不旋踵，百難逃一。如汗氣相傳、痢疫相染者，亦一類也。閩廣之間，造成蛇蠱、符水、魘癰之毒，最能害人。有患惡疾之人乍死，毒蟲皆從七孔中出，一遇生人，則飛蠹潛伏為害。昔人從古墓經行，內葬惡疾之人，已久死骸腐化，其蟲疰人，發為大癘而死。故有九疰之說，皆由體虛而受飛蠹傳屍之毒，或風寒暑濕之邪客於榮衛，注於經絡，陰陽失守，隨氣遊行，而成大害：一曰風疰，乃人死三年之外，神魂化作飛塵，著人成病，皮肉掣振，遊變不定，一年之後，毛髮落，頸項痛，骨立肉解，目痛鼻酸，齒蝕，發為蠔風則頑痹，或如蠔螫，或癢或痛。二曰寒疰，心腹滿悶，懊痛嘔沫，三年之後，大便出血，青白色，腰脊強，發為絕風，則不覺絕倒。三曰氣疰，如失神機，妄言譫語，百日之後，體重乍來乍去，一年之後，體滿，失顏色，二年之後，變吐作蟲難治，發為顛風則披髮狂走，打破器物，或發狂風則嗷干語哭。四曰生疰，心脅轉痛無常，三日後，體痛移易，牽掣沖絞心脅，一年顏赤目紅，二年吐逆不利，變蟲難治，發為列風則身生瘡，眉毛脫落。若發罩風則舉身戰動，或口鼻喎斜。五曰涼疰，心下乍熱乍寒，一年四肢重，喜臥，噫酸，體浮腫，皮肉黑瘦，生澼目黃，爪甲唇青，發為害風則口噤面喎，肢軟。六曰酒疰，體氣重，熱氣從胸脅上下，無處不痛，一年四肢重，喜臥，善噦噫，體酸面浮腫，往來不時，發變大風則腦肉裂，目系痛，惡聞人聲。七曰食疰，心下𩊅（音報）痛，懊憹徹背，一年羸瘦，皮腫體黑，從腳而起，臍內時常絞痛，發為水風，啖食眠臥汗出。八曰水疰，手足腫，百日體黃髮落，兩目失明，一年難治，三年身大水盛，生蟲不治，發為濕風則頭痛欲卻中，發為柔風則手足眼鼻遊腫。九曰屍疰，體痛牽掣非常，肉白血靿（音袎），喉如吞物，發為汗風則骨節痛強。此九疰之病，乃癩風毒之根，華佗、東垣諸先聖皆論之，惟巢元方最詳，故纂著於卷帙。</p>
<p><u>四曰保養失度所發</u></p>
<p>忍飢勞役，醉飽入房，縱欲毒怒憂愁思慮，妄想貪嗜，邪毒蘊積，穢濁外蕩，樂佚內耗真元，以致火熱之邪沖激臟腑。凡烙肉、生菜、怪味之物，入腹皆變為蟲。水土不服，沙冰嵐瘴，皆為留毒，久而不散，積成麻癘發則變形。養生禁忌云：醉臥露濕，必生癩疾又云魚無腮者，食之五日生癩。夫人為萬物之靈，生於天地之間，宜惜身命，保養元神，永延長命，古之聖賢，以道德奉天壽，至百歲為常；後世之人，以六慾七情為事，故多夭折殤殂，忤違天地賦生大恩矣。巢氏云：凡病四百四種，總而言之，不出五種風毒所成：一曰黃風，二曰青風，三曰赤風，四曰白風。五曰黑風人身中有八萬屍蟲，共成人身，若無八萬蟲，人身不成不立復有諸惡病橫諸風生害人。身所謂有五種風生五種蟲，皆能害人黑風生黑蟲，黃風生黃蟲余皆仿此。此五種惡氣生五種毒蟲，害於人身名，曰疾風入於五臟，蝕人臟氣其蟲無數，在人身中食骨髓，來去無礙。若食人肝，眉睫墮落；食人肺，鼻梁崩倒；食人脾，語聲變散或啞；食人腎，耳鳴啾啾沿生瘡，或如雷聲；食人心，膝虛腫，足底穿爛，難治。夫心乃君主之位，不受邪觸，故應死。其脈來徐去疾，上虛下實，是其候也。</p>
<p><u>五曰感冒積鬱所生</u></p>
<p>風寒暑濕燥火之氣，為天地之六淫，若不避忌，感其鬱蒸，或逞勇悍，乘汗渡河，踏冰履霜，醉飽當風，房勞入水，露臥濕席，或時炎暑，喜臥藤竹，漆床涼蕈，柳木臺幾，濕冷之氣，逢迎汗液，入於肌膚，邪毒漸深，剋剝榮衛初起麻木久變屍蟲。蠹齧肌體，則風癩生焉。皆人自輕身命，縱性妄為，輕犯天地陰陽，五運六氣，積成大病。不惟煞癘之氣宜避，即四時敷和之氣，亦宜謹守。若縱房勞，氣血弱而復犯之，即發為害。巢氏云：汗出入水，冷透肌體，或飲酒而臥濕地，或當風坐臥樹下，及濕草上，或身癢搔之，以乘疾風迅涇，漸生瘡㾦，經年不瘥，即變風癩。病機云：八方氤氳，鼓邪害人，若客經絡，久而不去，與血氣相擊，則榮衛不和，濕邪散溢，面色敗，皮膚傷鼻柱壞，鬚眉落。八風者西北乾方，尊之曰老公，乃乾稱父之意也，名曰金風。一曰黑風，二曰旋風，三曰風。其發病之由，奄奄忽，忽不覺得之，七年後眉毛墮落。東北艮為少男，名曰石風。一曰春風，二曰遊風，三曰乳風。遇中此風，體頑肉堅，斑白如癩，十年後眉毛墮落。正東為震長男，名曰青風。一曰終風，二曰衝風，三曰行龍風。若中此風，手足生瘡，來去有時，　朝發，夕發五年後眉毛墮落。正北坎為中男，名曰水風。一曰面風，二曰瓦風，三曰敖風。偶著肌體，春秋生瘡，淫淫習，習類如蟲行，遊走無定，十年後毛墮落。西南坤為老母名曰穴風。一曰陰風，二曰臚風，三曰腦風。初受此風不知痛癢，亦不生瘡，漸成白癩，十年後眉毛墮落。東南巽為長女，名曰角風。一曰因風，二曰歷節風，三曰膀胱風，此風有蟲，三色，頭赤，腹白，尾黑，三年後眉睫墮落，蟲出可治。南方離為中女，名曰赤風，一曰大風，二曰搖風，三曰抖風，若中此風，身體遊遊奕，奕心不安寧，肉色變異，十年後眉睫墮落。西方兌為少兒，名曰淫風。一曰缺風，二曰明風，三曰清風。此風發時百日後，體肉蒸熱，眉發墮落。皆由內傷七情，真元失耗，氣血衰弱者感之，如調養固密，何由致此哉?</p>

<h3>受病所在經絡</h3>
<p>先中於手太陽、足陽明胃經，其次延及手足太陰，不發病者何也?蓋肺主皮毛，而遇風寒，足太陰脾主肌肉，而逢濕熱，百骸流注。六經傳遍，皆因三焦相火熱甚制金，不能平肝木，肝獨勝而生風，故相剋侮，以致肺金脾土皆虧，風熱寒濕諸毒化生九蟲，鑽齧臟腑。手陽明大腸之絡，環交口，挾鼻孔，出於迎香，貫於齒縫，而下肺膈。足陽明胃之絡，亦在鼻額，齒中而行，挾臍氣衝，風氣皆由出入，故先中焉。手太陰肺，其竅在鼻，主一身之皮毛。足太陰脾，其竅在唇，主一身之肌肉，亦風氣之門戶，故風病多見唇鼻爛壞也。是以金燥而惡寒，土卑而忌濕，故寒熱作也。風濕內扇，諸火皆動，金氣有虧，木無所制，木旺而侮土，脾乃受傷，而肺無滋養，子母俱弱，則風木獨旺，心火炎，炎血熱妄行，其所積穢惡邪毒，風濕火相扇，化生九蟲，吃蝕臟腑，則為癩風。食肝毛脫，食肺鼻崩，食脾聲變，食腎耳鳴，食筋節解，食肉痛癢，食皮頑裂，食脂起疱，食心而死。《內經》備言腸胃為市，無物不受，無物不包。飲食不謹，朝傷暮損，積久成熱，濕熱相積，諸般奇蟲，各從五行之氣而化生，亦如腐肉生蛆，腐草化螢之理。《外臺秘要》載有九蟲，食人臟腑：一曰伏蟲，長四寸許，為諸蟲之首。二曰蛔蟲，長尺許，人常生之，多則貫心殺人。三曰白蟲，長四五尺，子母相生，形勢轉大，亦能殺人。四曰肉蟲，食人之肉，令人煩悶。五曰肺蟲，其狀如蠶，令人咳嗽。六曰蛔蟲，狀如蛤蟆，令人嘔吐，逆善噦。七曰弱蟲，又名腸蟲，狀如瓜瓣，令人多吐。八曰赤蟲，狀如生肉，令人腸鳴。九曰蟯蟲，狀如菜蟲，形至微細，居廣腸內，即胴腸也，多即為痔瘻，甚則為漏澼，劇則為風癘。因人瘡處已發，癰疽癬瘻，瘑疥齲蝕。若元氣壯實，未為大害，稍有虛損，遂侵蝕隨之。其蟲動而變生多病，如嗝噎、癆瘵、癩風、蠱脹之類。又有螇鼠、應聲蟲奇怪之類，未易悉舉，蟲之為害大矣哉。</p>
<p>中於手少陰，面目舌赤，翕翕然發熱，喑不能言，久乃生蟲，蝕心則足底穿，膝虛腫，渾身潰爛，涎膿腥穢者，榮血先死矣。</p>
<p>舌乃心之苗，君火妄動，必舌枯無津液也。火氣燥金，故音啞而發熱。虛火下流，熱毒注腎，直出湧泉，故腫痛，循膝節而至足底穿爛，無可救療。心主血，火炎內泛，則渾身腫腐，皮肉傷殘，不能聚斂。毒入於心，血泛無制，七年不治。中於足厥陰，面目多青，惡風自汗，左脅偏痛，久乃生蟲，蝕肝則眉發焦毻，滿身生黑斑。若指腫攣癟墮折者，筋死矣。</p>
<p>木泛形色於外，肝氣已敗，濕土無制，故惡寒、自汗，其絡循陰器，布脅肋，上入頏顙，肝脈見左關，故左脅偏痛，眉發焦脫者，血不滋養，氣不充潤，如木無水灌而枝萎葉落也。生黑斑者，乃腎水泛上也。指屈趾爛者，如木朽、根枝死也。癟攣者，正謂肝木乾枯也。肝病多癢痛，風木動搖故也。三年成大患，筋死不榮，為病已劇。</p>
<p>中於足太陰，四肢怠惰，皮肉瞤動，身體虛黃，久乃生蟲，蝕脾則音啞膚癟。若麻木不仁者，皮死矣。</p>
<p>脾絡注心循臂，故四肢倦。土敗不能安堵，故肉瞤動振跳也。氣弱不磨穀食，故怠惰不思食味，或食息則四肢不收。血液阻涸，不能賙濟，故啞而癟。脾屬土惡濕，其氣既敗，不能運動矣，故發麻木。然麻乃不仁與平常皮肉不同，按之如隔一紙。木乃肉內唧唧然，不知痛癢而酸楚之至也。蓋麻是氣虛木是濕痰、死血為病。既麻又木，乃氣虛濕聚，血絡枯涸，晝夜不行，絕不充潤於皮膚也。經言濕生痰，痰生熱，熱生風。丹溪云：濕熱必生風，風甚則生蟲。正如腐草化螢，濕熱之氣乘風也病人於脾，則腫脹多水，非是濕熱生風。因有濕熱在內，則風乘隙而入也。六載病成，十五年不治。中於手太陰，面頰浮白，口燥喘急，久則生蟲，蝕肺則鼻梁崩塌，若眼斷、唇翻、失音者不治，乃骨死矣。</p>
<p>金性燥，故口乾。火熱煏之，故發聲喘急。其竅在鼻，蟲蝕肺，故山根崩折，劇則鼻柱爛落。金敗不能生水，腎氣必虛，故目暗乾枯，皮急棚而吐。痰氣泛漫於脾中，故唇厚而翻。熱氣聚於會厭，故失音聲也。如金器碎，則無音律。骨屬金，故髓枯而骨死。病入肺經，皮枯不仁。三年之後難治。</p>
<p>中於足少陰，面耳黧晦，腰脊引痛，小腹隱隱不利，久則生蟲蝕腎，則耳鳴啾啾，沿𦗴生瘡，或癢或痛。若割切不知痛者，肉死矣。</p>
<p>腎水泛上，故變色，或灰或黑。耳乃腎之竅，水枯精乏，故耳熱生瘡。腰脊引痛者，虛極也。津液既絕，為病痠麻不知痛癢。腎邪最速，一年即成大患矣。</p>
<p>中於足陽明，額多汗，膈塞不通，餐寒則啘啖（音噎儋），久乃生蟲蝕胃，散蠹周身，則皮癢浮游。若欷歔蒙眛，食減倦憊者，氣死矣。</p>
<p>胃絡循於目之上下，故額多汗。脾胃氣弱，五穀不消，膈臆填滿，上逆嘔吐。氣血不通，皮膚自癢。神魂離散，臆滿則欷歔不爽，腸氣既敗，疲倦惡食也。經云腸胃為市，無不包藏，熱積於中，必泛形於外，胃腑受毒，勢由蟲瘴，膚體脹腫虛浮，二十年不治。</p>
<p>癩風之害根於六淫中，於六部發為六邪，部各六種，症名三十有六。</p>
<p>六淫，即風、寒、暑、濕、燥、火，乃天地六慾不正之氣也。六部，即心、肝、脾、肺、腎、胃也。六邪，即痛、癢、麻、爛、脹、憊之六病也。胃居脾之下，為受盛之司，藏納五味，故多受毒與五臟同。風癩異名，六部每各六種，故有六六三十六件，由八八有六十四卦也。</p>
<p>天時毒氣，臟腑混淆，互傷舛疰，變症源當。然肺病則痛，胃病則癢，腎病則麻，心病則爛，肝病則攣，脾病則膿。</p>
<p>金之氣燥，故作痛。土之氣濕，遇陽乘之，則為沙塵，故癢。遇陰乘之為泥淤，則軟水之氣寒，陽蕩之則麻，陰凝之則木，皆不知痛癢也。君相二火，能敗諸物潰爛。風木之性，動搖牽引，縮伸為攣，其五臟六腑，榮衛肺絡，充貫人身，聯絡相繼，淫邪中人，則周身沿蠹，豈有止於一臟而別經不傷之理?其先中之經絡與後中者，在輕重之間耳，但一臟受病則餘臟難免其傷。且如麻木、腎病也，殊不知麻乃風氣乘之，木乃濕兼寒也。外雖不知痛癢，而骨肉間反知痛癢者，乃腎病重而肺病輕也。麻而軟痿無力者，脾腎相殊也。麻而足長短手攣者，水不滋木肝受病也。麻而潰爛者，水火不相濟，上犯於心也。又痛乃肺病，如痛久而癱者，母不能顧子，脾氣害也。痛而麻木者，母弱難扶其子，腎氣虧而受毒也。痛而覺癢，搔之則痛極難忍者，胃氣虛而毒氣入深也。痛而潰爛者，肺不能生水以制火，而金火相刑也。余可以此例推。</p>
<p>感於不測，貯於無稽，曰癩曰風，異種類聚。</p>
<p>心主血，肝臟之毒傷血分，則心肝發病肺主氣凡風癘皆因氣悶而生。腎藏精，色欲房勞為害。脾胃通連而藏穀氣，其醉飽、五味之傷在此。故風之為病，惟在心、肝、脾、肺、腎、胃之六經受邪，其餘六經不能容受，不被所傷，無所幹犯，故風癘不由此而起。手少陽三焦乃無形之腑，厥陰包絡乃附系之經，陽明大腸、太陽小腸，為出入之門戶，足太陽膀胱，僻居下元，少陽膽乃清淨幽閒之司，邪毒之氣皆不傷犯而藏蓄。況肺之竅在鼻，氣從而入，脾之竅在唇，味從而入病始之由多是氣味之感，故先見於皮毛之間。《病源》曰：六部各有風病六種，共三十六種，皆由六慾七情、寒濕風熱邪毒之氣傳疰膚體，周流百節絲絡交錯。凡中傷者，非在一經，非發一症，故治法方藥浩汗彌常，取效者惟靈寶大藥，名平分家產方，最為王道，治三十六種風皆有全功。其次止東華玉髓水制黃香丸，又名黃龍丸，小還丹等數方而已。亦能治諸風，其餘一方止治一症，若以他治，如水澆石，罕有取效者。而大風之外，又有癩瘡十四種，後世因其病勢顏色之多端而巧立名色以惑人，上古止言風癩，並無奇異繁名。凡言臟腑如此，特其先惑之由耳。若病一發，譬諸風水，隨處充滿，流蕩百骸，各經傳遍，無不至焉。</p>

<h2>三十六瘋六經分屬</h2>
<p>其大麻、蛇皮、脫跟、魚鱗、邪昧、血風、發於心經。</p>

<h3>大麻風</h3>
<p>夫大麻風者，乃諸風之長，初起時發於身手，按皮膚如隔一紙，灑淅不仁，或遇陰雨或至夜間，則肌肉之內如漉漉然或痛或癢，漸至皮肉堅頑，剜切不知，身體虛腫。此症最易穿爛，手足拘攣，臭惡廢弛，由於縱意妄為，不避風寒暑濕，六慾七情，使榮氣虛，衛氣實，邪入於肌肉，氣血滯而不通也。此症以大麻湯並奪命丹、神仙換骨丹、珠雲散、奪命還真丹等藥治之。又云大風者，初則體氣熏熱，氣從胸中上下，無處不痛，四肢重喜臥，善噦噫酸，體面浮腫，往來不時，久而腦脹，肉裂，目系痛，惡聞人聲，危矣!</p>

<h3>蛇皮風</h3>
<p>此症起於手臂股腿之間，皮膚迸裂，形如蛇腹之紋，隔寸喬斷，流出血水，或痛或癢，蔓延遍身。此症最速，勢迅而凶，若不即治禁戒，十難救一，皆由性悍逞勇，暴妄太甚，觸冒風濕，蓄之不散，致犯心火，焰焚肺竅，遍敗五臟，耗傷元氣用火龍散、奇效良丹等方治之，兼以大補之劑，大料緊服之。如妄行點刺、熏蒸，即死無逃矣。</p>

<h3>脫跟風</h3>
<p>此症初起腳後跟並兩踝下發水泡，或皸裂迸開，或生小瘡，或痛或癢，或生腫蹇，久而穿爛，延至足底，俗曰草鞋風。遂至延於足趾頭上下及趾丫內，生瘡，痛癢淫爛者，俗曰魚腮風，即一類也。與漏蹄風不同，此由酒色太過，不避寒濕，敗傷氣血，或辛苦之人，寒濕凝滯，釀成熱邪，以致心火泛流肝腎，風邪毒疰臟腑，用苦參丸、大消風散、大龍散等藥，禁戒酒色，大補氣血，免成漏蹄之害。</p>

<h3>魚鱗風</h3>
<p>此症初起於遍身乾白，浮癢麻木漸生小瘡，變成梅花大片，如刀刮魚肚之皮，或如蛇背之紋。癢而搔之則痛，或出黃滋水。冷熱皆怕，或如榆樹蛻皮，大小不一，俗又稱為榆皮風。則延爛成瘡，渾身腥潰，膿血黏穢，皆由耗散氣血。元陽虛敗，寒濕風邪，漫流肢體，又遇暴勇、忿怒、房勞、五味乘其侮而深入臟腑，最能害人。宜以大消風散、一粒金丹。火龍散等藥治之。此乃心經毒疰腑之害也。</p>

<h3>邪魅風</h3>
<p>此症初時偶爾好悲、如醉狂言、驚怖、向壁悲啼、錯詞、歌笑或不言語。夢寐喜魘或與鬼交，乍寒乍熱，心腹滿悶，氣短不食，古云氣疰，又名狂風。走入神廟妄言譫語、時號嘻笑、體滿失色、久而癱瘓、身痛危頓。此由風水、陰陽所損，偶為鬼魅、妖邪、驚恐觸心，或憂思妄想，以致邪迷心竅，損敗心液耳。速用搜風順氣丸，疏風散氣，鎮心補血，安養元神，兼以內助，扶救氣血可愈。</p>

<h3>血風</h3>
<p>此症初起於皮肉之間，如血灌周身，充滿肌膚，如被杖之狀，或生血泡浮腫，或朝夕來去，陽氣乘之則早盛暮平，陰氣乘之則晚凶早減。或衄血、吐血、咯血，或喜臥、噦噫、㕭酸，或齒縫中時，流血、面腫、目疼、腦裂、或生紅片如錢，麻痛或腫處穿，即流血不止，或大便出血，血虧則手足攣蹩，血乏則形變，神焦漸死。乃心毒流於肝經火炎血泛邪熱太甚，風濕外馳。由於乘風行濕，醉飽房勞，好勇鬥狠入水迎風，或忿怒飲酒，或忍飢竭力，以致邪毒攻擊，疲睏倦軟。宜以補舊湯、鉛汞膏、二八濟陽丹等件。散邪降火，清氣養榮之餌救之免死。</p>
<p>其鵝掌、鼓槌、血痹、糍糕、痛風、癲風發於肝經。</p>

<h3>鵝掌風</h3>
<p>此症先於手心並指丫間生紫白癬，麻癢頑厚，抓之有白皮鱗屑，搔後又痛又癢，湯沃則爽，每於湯中爬破，或瘡、或紅，曰乖癩。其形儼如鵝鴨腳皮，故以名之。或生於足面及穿鞋處，混如鞋面而生，俗云鞋帶瘡，又名鞋套風，其實即此風也。久則穿潰、穢爛、膿臭、延及遍身敗、惡彌甚，乃因勞心焦思，飢飽肆欲汗露，縱力，風濕，傷血，或暴怒冷餐，火邪入肝，心、肺戕害，日漸虛損。發於肝家，故先起四肢、四末，次傷及根本也，不可輕視，最耗真元。以大消風散、二八濟陽丹、小棗丹，用心調治，另有一種指甲浮薄，隱隱如見血痕，不痛而作拘急不爽，名曰鵝爪風。久則爛去爪甲，指頭脫落，大害難救。每日清晨未梳洗，取自己眼脂塗之，久則自愈，名曰還神丹。內治以清陽、散風、攝血之藥，久服可愈，除此再無他法。</p>

<h3>鼓槌風</h3>
<p>此症初起於肘膝間，痠痛，怕見寒濕、風冷，行步艱難，俗醫皆認為寒濕腳氣。久則肢脛屈弱，骨節大痛，腿肉漸去、漸小，膝踝脹大，趾指痠麻、痛爛、墮落，或皮肉紫黑，形如鼓槌，故有此名。由感冒、雨露、勞倦、臥濕、恣食、生冷、喪敗氣血，風濕無制，邪傷榮衛，肝血無拘流注，脾、腎液竭精枯致，使筋骨不榮也。以神仙換骨丹、獨聖丹、棗靈丹等藥治之。另有一種怪症，四肢節骱如脫止，有筋皮相連，不能舉動，此名筋癬風。風病之，內或多雜之以黃藜蘆酒浸一宿，焙燥研末，名獨勝散。每服三錢酒送下，久服自愈。</p>

<h3>血痹風</h3>
<p>此症初起時，常疲倦汗出，臥寐不時搖動，形體如被風吹，淫奕倦怠或時攻擊而痛。久漸發出紫塊、腫脹，痛極則癢，痠軟而麻，癢極則痛，或時穿爛臭惡，跛攣敗形，日夜叫號。乃由體虛而風邪深入陰分，氣血為風邪所擊，肌膚弛緩，皮腠疏開，風邪暴侵，肝家受病，至心氣煏郁，脾濕並疰，故生毒蟲、蠹蝕肌肉也。以補舊湯、鉛汞膏、二八濟陽丹等劑，治之庶免變傳無治。</p>

<h3>糍糕風</h3>
<p>此症初起於眉稜骨上，或起面類間，發生㾦癗穿，爛為瘡，開大如錢，或遍身先發小瘡，遂變為爛，其症但有膿水流出，變成干堆黏汙，結穢積厚甚，腥汗流涎黏沾著之處，即爛為瘡。從首至足，身癩、眼坍、鼻折、唇翻，又名眉風。由貪酒、好色、不避風濕，肝血凝結，心火泛蒸，陽氣墮散也。急以補舊湯、苦參丸、大消風散等藥服之，外用淋洗、擦藥，大補氣血為主。</p>

<h3>痛風</h3>
<p>此症初起於身肌骨節間，遊變抽掣疼痛，晝夜無所休息。手足不能屈伸，坐臥不能轉側，或筋緩無力，或伏床癱瘓。陽氣虛則夜靜晝極，陰氣弱則日輕夜重。病久則衣被不能著體，濕氣盛則湯沃稍爽，但浴一次則病增一分，風氣勝則火煏而略緩，離火更凶。病久則加浮腫，或噦啘不食，或瘡爛不能收斂。乃由房勞太過，憂思妄想，六慾七情日損氣血。風濕邪毒傷憊肝液，邪傳脾胃，榮衛枯涸，以致精髓敗絕。或郁蓄私念不得發泄，激盪氣血而成，或勇怒、飢飽、傷感、疾風、迅雨、逆塞充漫四肢、經絡，為之行痹也其痛轉展不定，又名旋風。治以大定丸，意通聖散，陽起聖靈丹，神釀丸等藥服之，則可。</p>

<h3>癲風</h3>
<p>此症為狂病也。狂妄不情，筋攣作振，肢體牽掣，號叫不已。或屋檐駭走，或歌舞哭笑，毛瘁色敗，皮肉腫脹，寒熱交作，或噦嘔、咳吐、氣疰。云顛風一發，跳入神廟，妄言神鬼，披髮狂走，打破器物。百日之後變吐作蟲，手足痿蹩、屈曲、痛麻，變症百出。經云：丹人身之氣血為正、為內天時之風寒為邪、為外。若居處失宜，飲食不節，使臟腑內損，氣血內虛，風邪則外傷之矣。肝臟血主魂，悲哀慟忡則傷魂，驚恐忿怒，積鬱狠毒氣血敗亡矣。以奪命還真丹，四魔丹等藥主治，再以養神攝血為要。</p>
<p>其半肢、軟癱、紫雲、干風、刺風、癢風，發於脾經。</p>

<h3>半肢風</h3>
<p>此症上下痠疼，或左或右，注於身之半邊。如酸、如痛、如麻、如木、如困、如癡、倦怠廢弛，或虛腫，或作攣拳，或骨髓抽掣，或遍身遊變，或振抖若驚，或痿敗。若癱在左則死血凝滯，在右則痰涎淤䐜，或曰偏枯，或曰痿痹。久則眼痞、唇歪、背僂、肢軟，叫號而死。乃寒濕疰於骨節，風邪克敗脾土，肺腎無根，賊邪自勝也。以救苦回生丹、二八濟陽丹，兼以大補元陽，養血調氣壯本，則愈。</p>

<h3>軟癱風</h3>
<p>此症初如痛風之狀，或作寒熱，或麻痹不仁，精神疲憊，漸漸肢節倦敗，怠惰困乏，骨節痛緩，手足無力，身如柔綿，或腫或癟，拘縮攣急，或節間鳴響，或怕風寒，遂成癱瘓。水疰云：手腳遊腫作痛，四肢不收，古稱骨痿，即因痹也。由風冷賊邪中傷髓液，脾土不固，五臟無本，以致血氣虧乏。以神仙換骨丹，搜風順氣丸，二八濟陽丹，等選治。</p>

<h3>紫雲風</h3>
<p>此症世多有之，身生紫赤黑斑如錢，延暈如雲霧之狀，非疥非癬，形似麻癩，或稍作癢，人不為怪，視之如常。久而腫起，微見形狀，漸覺麻癢，抓之則痛，或有皮起，手足捉硬，嘴唇微厚，眼胞微腫，或日日羸瘦，或時腸澼隱隱，口眼歪斜，肢困力倦，皮肉浸淫，不時跳動，間或幾處劇切，不知毫毛脫落脈絡閉澀，痿軟癱瘓攣曲，變成爛麻難治。蓋緣危敗遲而人不為異耳初。起時，又有錯認為汗斑，忽而不治。由七情蠹疰，元氣損傷，感冒穢毒，積久蟲鑽五內，酒色財氣，郁忿暴怒，風寒暑濕，煎釀成之。脾、胃、肝、腎精血衰敗也。以搜風四七丹，二八濟陽丹，久服有效。</p>

<h3>干風</h3>
<p>此症身無痛處，惟生灰白斑點，與常皮肉略異，肌膚乾燥，手心足底發熱，身體漸癟，血液乾枯。初視輕易不治，久則氣消、血枯、倦困、氣短、減食、無精、若周身乾癟，皮肉不仁，已難治矣。由大怒、大忿、大勇、大怯、戰兢、驚恐，或酒色過度，或抱怨不舒風濕不知而自中，寒暑不避而暗傷，妄餐、努力、忍飢、勞神，以致脾土敗壞，閉塞元神也。以神仙換骨丹，二八濟陽丹，神效追風丸，救苦回生丹，昇天腦麝散等方，與紫雲風一般選用。此種又可用蒸、洗之法，須行氣、補血、大養元神，以活膚腠。</p>

<h3>刺風</h3>
<p>此症皮肉間不時驀然如錐刀所刺，霎然掣痛，尋摸則不知。甚則如割剜皮肉。淫跳振躍，閃然走痛，流注不定，或骨節間如火燒熨烙，痠痛難忍，久則不能動搖、行履，甚則衣被不能著肉，眠臥不能翻身，若經轉側刺痛幾死，攣困而憊，由體虛腠開則暴風入里，邪氣與正氣交爭，風濕擊駁。急服迅藥，逐去邪毒，則愈。若少懈怠，則大病成矣。不治，宜以一粒金丹，小棗丹等方。擇治。</p>

<h3>癢風</h3>
<p>此症渾身淫癢，蜉蝣不息，猶如腐木細蟲行於肌膚，皮肉跳動，搔之不止，湯沃不息。久則氣血衰敗，津液耗竭，癢入骨髓，搔破成瘡，彌爛方止。又曰淫風，曰𫋞子風。內有細蟲著人，其癢不見其形。由不擇居處，不節，飲食，濕熱自熾，風邪並蠹，脾胃虧乏，化生九蟲，鑽齧肺、肝、泛傷脾胃。以大消風散，六神輔聖丸，二八濟陽丹，防風通聖散選治。另有一種遍身皮里，渾渾如波浪聲，癢不可忍，搔之即血不止，乃風氣復遇，火熱而奔走膚腠，名曰氣奔。用人參、苦杖、青鹽、細辛各一兩，水二碗煎數沸飲之，連進愈止。又有血不榮於腠理，以致體虛作癢，火煏湯沃少息，復作丹溪，以凌霄花末一錢，水萍末七分，四物湯加黃芩煎湯調服，其白癜、蛓蠔、歷節、壁泥、疹風、啞風，發於肺經。</p>

<h3>白癜風</h3>
<p>此症初無痛處，但皮膚麻木，生灰白斑點。久如塗堊、頑憊、又變亮、赤色，即曰紫癜。患之不治，亦有終身無害惟，形狀怪異者，又多有損敗氣血，遍身皆然，神瘁精疲，減食，憎寒壯熱，怫鬱困怠而死者，由淫毒傷肺金。氣泛於外以克肝血，毛髮枯萎也。以棗靈丹、玉樞丹選治。又有夏日身生紫白斑點，汗出則癢，秋涼少息，年復增之赤，曰紫癜，名汗斑也。酗酒，房勞，感受風濕，邪熱摶於皮膚，血氣不和而發，又名歷瘍，又名汗黯，皆一類也。以雄雞內腎調麝香，浴出敷之，用新青布衫緊著睡一夜，大汗出，明早熱湯沃之，其斑俱脫在湯內，不發矣。</p>

<h3>蛓蠔風</h3>
<p>此症偶然把搔誤觸皮膚卒然極痛難忍，正如夏洞蛓蠔螫人之狀。久則轉側動搖之間皆痛走注遊變如斜刀割刺肌肉，叫號不已，若及遍身，無可救矣。由乘汗入水，踏冰履霜，不懼寒濕以致心火泛焚，肺經毒注脾絡，以致毫毛不舒，榮氣掣縮毛尾拳曲倒插肌肉，以大消風散、棗靈丹等方治之。風疰，云人死三年之外，人魂代作飛塵，著人成病，皮肉掣振，遊變不定，發落，頸項痛、骨立、鳴解，目疼、鼻酸、齒蝕、頑痹如蛓蠔螫也。</p>

<h3>歷節風</h3>
<p>此症於腰膝、腿肘、肩膊之間，麻冷酸淅，漸覺走、疰，抽掣疼痛，肢節腫大、攣癟，舉足不能，甚則手指、足趾節節痠痛，俗名鬼箭風。禱祀求神，養成大病。皆由妄性肆欲，保養失節，感冒所致。六淫蕩敗，血枯氣衰之故。肺主皮，肝主筋，肺、肝受傷，血氣不運，亦曰白虎風。多發於肘、膝、臀、胛之間，人喚為鶴膝風。惟在節骱間病也，又曰纏肢風。其在肢節間病也，大人稱為著痹。宜以定風散，駐車丸。救苦回生丹，選之。</p>

<h3>壁泥風</h3>
<p>此症身生灰白色片如陳壁土狀，呆燥無光，無所痛癢，人不驚心。殊不知肉死不榮矣。乃素性矯暴，或郁忿動勞不惜保養妄冒六淫，寒濕風毒濫傷諸臟，虛火兢起克伐肺金，泛形於外，以致皮毛枯槁，形容憔悴，血液不運，手足軟痿也。若遍身皆然而死，此為風症之惡疾。故凡風之白色者，皆不易治，以補舊湯，奇效丹等方治之。</p>

<h3>疹風</h3>
<p>此症初生癮疹形如麻豆疥癬之狀，或痛或癢乃暴勇之時，或微醉之際，乘風露臥，或浴後肌膚疏暢，即被風邪所犯。復有邪毒不正之氣並寒濕相乘，注於肌中，則邪熱之氣結於腠理，逢陰雨即凶，睛暖少緩，屢瘥屢發，久則連片穿爛，使肺毒並心戕賊氣血，以大消風散、小棗丹、玉樞丹等方治之。又有一種面上風癬，初起㾦癗，似疥非瘡似癬，非癬多感於春秋之時，或癢或痛，或作寒熱，漸成細瘡，黃膿腥穢，滋水滴流，黏處即變成瘡，延蔓倏息，名曰吹花瘡，又曰吹花癬。婦女多生之，此乃肺受火炎，蘊積風熱毒穢之氣，陽邪上升，故發於面部。如在眉頭間起者凶，但飄逸俏俐愛潔者。偏生之，或暴妄偏執驕傲者，或陰毒固感戚者，或醉臥乘風御濕者，或恣食糕果油膩炙爆者，皆患之。倘又使陽火賊風沖激，則勢愈盛，若不速治，被風火濕邪襲之，妄為癘風，延入發內，則不能治矣。急以清心順氣，散肺火祛風解熱，而止淫邪，方可除根，否則雖愈必發。</p>

<h3>啞風</h3>
<p>此症音啞無聲，肺氣者音聲，五臟清明之氣皆貫於竅而為五音，若溫融和潤則陽氣調勻，真聲通暢，若風濕陰邪摶於陽分，凝滯津液，使氣道不調，清聲閉塞。會厭是音聲之門戶，懸壅為發音聲之關節，若風邪觸於關戶，橐鑰閉塞，激動痰火，輕則聲嘶而喉破，重則語啞而失音，五火皆動，肺金傷敗。以救苦回生丹、奪命還真丹，兼以涼血生津，降火祛邪，養氣和肺之藥服之則可。</p>
<p>其冷麻、漏蹄蝦蟆、核桃、風水風、熱風發於腎經。</p>

<h3>冷麻風</h3>
<p>此症初時麻木，久漸堅頑，剜切不知，或冷痛，或節骱痠痛，怕見霜露，不能入水汗液不出，或遇秋冬愈覺抽掣不能動履，血閉不流則生水疱穿爛成瘡，手足軟曲，肌膚弛緩，筋骨懈惰。由酒色過度，腎水枯竭，或勞怒之時不避寒濕，風邪中深，內氣不固，毒從外寇，病極則癱瘓，痿敗憔悴而死。以奇效丹、二八濟陽丹、六神輔聖丹等方選治，再以收濕補血之劑佐之。</p>

<h3>漏蹄風</h3>
<p>此症於當腳底中央踏不著實處，乃是湧泉穴內生小水窠，淫癢搔破則流黃水，疑是水窠疥瘡，視為微疾，久漸成瘡，內生蠹蝕，爛穢不斂，漸至對腳背上穿爛流膿，一身之氣直注下流，無所關阻。津液氣血下敗不收，俗名穿心腳底風，死者多，而活者少，因初不速治之咎也，由勞役太過，風濕乘襲；色欲太盛，腎水耗竭，憊傷心主，妄想縱肆，貪淫無厭，憂思克念，氣血難聚之故，以苦參丸、奇效丹、火龍散等方選治之。</p>

<h3>蛤蟆風</h3>
<p>此症身生瘰塊大者如拳，慄小者如彈丸，凸起高低，麻冷疼痛，肘後酸勁，或癬癩小瘡，紫黑腫脹，形似蛤蟆之狀，俗名癩麻風，穿即成瘡，流膿臭穢，由酒色荒淫無度，傷敗腎水，又遇水濕寒邪聚損脾絡，周身敗壞。以班龍八帥丹、奪命還真丹、神效追風丸擇而治之，生疰云名曰糾風，使心脅轉痛，體疼移易，牽掣沖激心脅，目赤吐逆，眉發毻脫，身生毒瘡，皮黑㾦瘰，形如癩蛤蟆之狀，南方呼為癘廝蟆也。另有一種頭面遍身肉內發起腫塊，如蛇盤之狀，名曰盤核，用雨濕磚上青苔藥細末，水調塗之。</p>

<h3>核桃風</h3>
<p>此症初起疙瘩，高低塊瘰紅紫壘壘，大者如慄，三五連串，小者如槐實，色如葡萄之狀顆粒皮間，乃憂思過度，房勞太甚，邪傷腎水神無資助，風濕妄肆於膚絡之表。急用火龍散、棗靈丹、昇天腦麝散救治。若仍不禁戒色欲，則腰背屈曲，手足痿頓，指膝攣毀，口面腐敗，鼻崩、眼坍、骨蒸、發脫而多汗，體常牽掣而強直，皮肉隱痛喉如吞物者，害則甚矣，又名汗風，亦名葡萄風。又有一種或於手掌、指膊，或足腕股腹肋脅之間，或頸胲頭面之上生細黑塊瘰，若天明氣朗則隱而不見，遇陰雨濕蒸則發之，或平日不見，一交酉戌之時則發淫癢，抓搔則痛，或天氣晴明其色鮮紅或浮白作癢，陰雨則晦黑紫痛者，名曰妒癡瘡，鬱火風邪蕩注臟腑也，速以祛風養血、調氣清陽之劑治之，不爾則成大風矣。</p>

<h3>水風</h3>
<p>此症初起如水臌，四肢浮腫，飽悶痿憊，後漸周身發疱灌水，穿則為瘡，膿滋腥汙，霎時潰爛。若於肢節間發，則軟癱不能行動，發眉為脫，手足攣折鼻崩唇翻，趾掌毀墮，又曰爛風。若臍中時常絞痛，飲食、坐臥、汗出漸漸羸瘦，若腫從腳起者，害甚急矣，由酒色暴勇，性狠偏狂、怒忿氣鬱，榮衛敗壞，精液枯涸，又被濕毒寒邪，傷損五臟，虧耗脾腎，或怒入水濕滯凝留之故。此種多是風水陰陽所損，年命神煞為禍，以搜風順氣丸、苦參丸、昇天腦麝散，兼以祛邪調氣、養正扶神之劑方愈。</p>

<h3>熱風</h3>
<p>此症初起目脫、惡風、寒戰，鼻中常流黃濁涕，或咳吐膿血，鼻崩、眼坍、耳塞，而氣閉不通，救遲則死又《水疰》云：熱風，即濕風體黃髮落兩目失明，三年身大，水盛生蟲內蝕五臟津液，由勞役太過腎水枯竭，肌膚不固，暑濕、風熱、暴火之氣先從毛皮而入，後傷氣道，肺液受虧，五火乘邪而起，此等正謂保養失節所致也。以搜風順氣丸、棗靈丹、神效追風丸等方治之，兼服大補元陽之劑。</p>
<p>其雁來、疙瘙、雞爪、螻蟈、泄蠱風發於胃經。</p>

<h3>雁來風</h3>
<p>此症每起於七八月間，作時則手足乖癩、燥癢，形如蝕癬，或白或紫，或頑厚如牛領之皮，搔破則血水流出，疼痛無時，交春則愈，交秋則發，按年如是，故曰雁來風，感受非時也。然癘之邪毒蠹肺金，五火交作，風濕乘之則發矣，若雁去時不愈，四季皆然則成大風矣。以奇效丹、六神輔聖丹、昇天腦麝散治之。南人呼此曰社風瘡，蓋雁乃春社去而秋社來也。又有一種濕癬，名歷瘍瘡，亦於春二月秋八月雁去來時發於四肢，軟而漸大熱痛，亦名雁瘡，荊漢人多患之，與雁風同治。另有一種，每至秋冬則手指或遍身發紅點作癢，乃寒氣攻於腠理，陽氣閉絕不能發越，拂鬱而作，亦名雁風，治以人參敗毒散解其表，補中益氣湯實其里則愈。又有一種每於二三月乃手足生疥癬之類，名痹瘡，形如雁風，交秋風變則愈，名曰燕瘡或發於頸項之上與雁風同治。</p>

<h3>疙瘙風</h3>
<p>此症初發㾦瘰，五色癮疹，遇熱則癢，逢寒則痛，搔之成瘡，久則寒熱交作，蟲，齧肌體形如蚤蟲瘢痕隱，隱在內復感寒濕則斑爛癱攣難治，若發於腳背並趾頭後跟，連片紫白，其腳面大胻（音行）骨俱無，名曰鞋帶瘡，又曰草鞋風。由寒濕風邪客於皮膚，漸入榮衛，肺金受制，脾胃空虛土衰水賊，又遭霜露觸之即發。巢元方云：初生斑癩隱隱如癬，或紅或紫，或黑或白，漸大變形，或腫或癟，或癢或痛久成瘡，筋骨痠痛，冷熱抽掣，膿涎臭穢肢體敗爛而死。乃酒色太濫荒淫無度，或陰毒傲慢含蓄鬱氣傷肝，乏力勞神覆敗腎水，又遇風濕注損胃絡遍延臟腑致成大病，以六神輔聖丹、苦參丸、神效追風丸治之，如發白燥癬瘡從手足起者，名曰四末風最難治。</p>

<h3>雞爪風</h3>
<p>此症手足自搖振抖無力，不能持物，舉動艱難，牽引攣縮，霎時僵直或節骱麻木大痛，腿肘轉筋，乃穢毒過傷也。肝胃太薄濕熱已極，血涸骨枯肺肝損壞，亦有地理陰陽所損成患，以大麻湯，真方奪命丹大消風散等方治之，兼補氣血清陽養元為上。</p>

<h3>螻蟈風</h3>
<p>此症漸生塊瘰，三五連串，大小相貫，肘膝先見者輕，頸項脅肋先見者重，漸大成串，延長如土狗蟲鑽入地穴。身之病形或作實熱或痛或癢，俗醫認為栗子，治之反速其禍，久則周身穿爛而死。乃犯惡毒臭穢不正之氣，暴觸胃腑，大毒伐脾，五內皆空，泛走膚絡，氣血虧弱，惡邪外鼓，九疰之蟲毒蠹於肌表。須斑龍八帥丹、苦參丸、真方奪命丹、玉樞丹等方治之，再加熏洗方愈。又有一種渾身火泡如甘棠梨樣，破則出水，內有石一片如指甲大，穿則石出方愈，其泡復生不已，抽盡肌肉則死，以莪朮、三稜各五兩為末，作三服溫酒送下則愈。</p>

<h3>嚲泄風</h3>
<p>此症或肘不覺強勁，暈倒，手足無物，或舞踏牽掣，或攣拳伸縮，肢冷臥地，俗名打鳥風即此也。寒疰云：即名絕風，心腹內悶、懊痛。嘔沫久則大便出血，吐涎青白色，腰脊強時不覺絕倒在地，與癩症相似。蓋人以胃氣養內灌溉經絡肌膚，若肆欲醉飽，房勞憂怒，使胃氣衰竭，以致經絡虛耗，則筋肉懈惰，肢休弛縱不能取攝，風邪漸搏氣血渙散，困乏痿頓以一粒金丹、奪命還真丹、真方奪命丹、四魔丹，兼以祛風、降火、消痰、調氣之，劑治之免成大風，穿爛，癱瘓難治。</p>

<h3>蠱風</h3>
<p>此症初起腹大肢瘦，形如蠱毒，眼赤唇翻，久則渾身脹腫，皮內紫黑，浮大虛腫，毛髮先落，形貌醜陋，後則腐爛危困，或身動戰口眼歪斜攣屈又稱為畢風。勢惡危速而易於傳染害人，乃氣血虛損，以致九疰毒蟲入於胃腑流蠹五臟也，或因寒濕太重，血滯脈絡虛火擊搏而成。以救苦回生丹、搜風順氣丸、四魔丹選治。此種亦有邪祟不正，陰陽所損之故。又有一種面上生瘡如貓兒眼睛，不放光生彩亦無膿出，冬天自退頭背皆然，名曰寒瘡，亦怪症也，由多食雞魚蒜韭之故，用溫補之劑自愈。</p>
<p>夫歷節、蛓蠔、疙瘙、雞爪、刺風，皆痛風之類也；魚鱗、鵝掌、雁來、疹風、干風皆癢風之類也。</p>
<p>病症之類最多如走疰而痛者，風與邪氣流行也。痛在一處定而不動者，死血聚也。抽掣遊變霎然如刀錐刺，尋之不知其所者，乃濕流關節也。夜劇晝靜者陰邪侮陽也，暮蘇旦甚者，陽邪侮陰也。如遇陰雨或至隆冬嚴寒則發者，寒濕摶凝也，似痛非痛灑淅不知其處者，勞傷氣血濕痰散走也。皆邪氣傷於內與臟腑傳應而作也。若癢則不然，皮膚之上浮游淫癢者，血虛火氣乘之也，外雖癢而內覺痛者，邪在表而毒注內也，烙之以火，沃之以湯，則爽者，勞傷瘀血凝滯而不散也，癢而搔之又痛者，血虛熱氣聚也癢生見陽則腫者，元氣虛敗諸火布於腠理也。古云痛無補法，又云癢麻虛宜補，疼痛實宜瀉，又諸痛無補，諸癢無瀉。實乃邪氣充灌經絡，補則助邪為害矣，虛乃正氣虧乏，瀉則引邪深入而無救矣。</p>
<p>紫雲、白癜、大麻、核桃、啞風，皆冷麻之類也；脫跟、糍糕、蛇皮、漏蹄、血痹、熱風，皆爛穢之類也。</p>
<p>凡似痛非痛，似癢非癢，或抓刺剜切不知，或按於肌膚如隔一紙之狀，或酸淅頑癡之類，皆曰木，篤而麻也，凡瘡癢穿潰膿血淋漓，濁水滋黏迸裂皸破，皮內腐惡，皆爛壞之屬也。</p>
<p>蛤蟆、螻蛔、血風、水風、蠱風、顛風皆腫脹之類也；邪魅、鼓槌、軟癱、壁泥、半肢、嚲泄瀉，皆痿憊之類也。</p>
<p>凡身體虛浮腹大如鼓，手足頭面腫大皮肉如癱而不穿凹凸不定，或胸臆悶塞脅肋䐜憤，氣不升降，神不舒爽，皆腫脹之類也；凡手指攣瘸，腿趾跛蹩，腰背傴僂，口眼歪斜，身體痿軟疲睏，左癱右瘓，乾癟僵直廢馳，行步艱難，皆憊壞之類也。</p>

<h1>卷二</h1>

<h2>六經三十六瘋總論</h2>

<h3>若夫嵐瘴蒸襲日月霾光</h3>
<p>嵐瘴乃山川郁薄、沆瀣之氣，天道乖違，則瀰漫充塞於六合之內，則日月蔽其光彩。如患癘風之人，濕熱邪毒之氣蒸襲，或服熱毒之藥久，則眼目昏暗，翳障注爛，自然失明也。</p>

<h3>龍虎驕騰波瀾泛湧</h3>
<p>云從龍，風從虎，乃陰陽物理之道。若龍虎失職，暴厥逞威，則風雲倏陡，電雷交掣，淫雨滂沱，飆颶噓吼，其波濤湧躍，氾濫狂越矣。如風癘之人不惜身命，冒犯賊邪，則氣血由之而蕩敗，惡證由此而變更，大病既成，將何救治?</p>

<h3>火炎昆崗兮英華凋落</h3>
<p>火炎昆崗，則玉石俱成灰燼矣。煙炱狂洋，草木豈能抵受?枝葉焦墜，根本傷殘。如風病之人邪火內盛，則毛髮鬚眉焦燥敗脫，髓液乾枯，面貌不榮，肌膚黃瘁不澤矣。</p>

<h3>神離元牝兮空谷傳聲</h3>
<p>《老子》云：穀神不死，是為元牝。又云：元牝之根，眾妙之門。人之泥丸、丹田，元神守之，如元神不守，則精氣離散，病將生焉。神既不守於宮，精神渙散，元氣無依矣。則聲何從而響應，神氣之者，元神有虧，橐籥關節危敗，則音聲變異矣。如風病之人邪火焰盛，致精神散亂，氣血敗亡，橐籥會厭無從攝養，則語言錯雜，音啞呆噤之病變，更健忘顛倒也。</p>

<h3>蜂蠹花心而不實</h3>
<p>草木果粟之實由花以結成，花之精靈乃心上之簇粉也。若花之粉箱有損，則不結實矣。如花發時被蜂蝶之蠹殘蝕其心，則不成實，總結亦難肥大。由此，知人之元神在於精氣，元神全以腎水所鍾，若風病之人不惜身命，恣貪色欲，敗損精液，如花之損心，則性命不能延永。</p>

<h3>鷹餒臡胾而爛腸</h3>
<p>鷹含諸禽之肉以養生，不食草木之類。宋王養一鷹甚愛之，意其食肉則肥健，日令庖人剮百鳥之肉剁成團而唼之，姿其過飽，肉內又以椒辣之味和之使其香而美也，鷹食過甚，不久腸嗉腐臭而死。如風病之人宜節飲食，澹滋味，菜蔬調養，若不謹戒而饞食肥甘香辛美味，猶鷹食臡餅，非惟不能養生，豈得苟延殘命?</p>

<h3>色如隨錦流霞邪充五內</h3>
<p>渾身遍發斑駁紅腫，赤色黑色，五色之紋者，乃寒濕風邪，毒氣流注，充滿於五臟，泮渙於脈絡百骸，病勢已劇，內形於外矣。</p>

<h3>形似熏煤磊石血溢六經</h3>
<p>人賴氣血周流充潤，故肌膚滑澤，容貌光華。若面色如煙燻昏暗，或似煤炱晦黑，或塊壘高低，黧敗灰塵之狀，此則氣血不守，內液枯焦，元氣泛傷於外，精神敗蠹離脫，榮衛大病已劇。若不速救，則夭折之患立至矣。風病之質，不過痛、癢、麻、爛憊、脹六種也。</p>
<p>古云頭面起者曰順風，腰足起者曰逆風。上部先見者上必盛，下部先見者下必多。</p>
<p>人身十四經枝絡絲系，皆環於巔頂，交於百會，氣血周流，旦夕不息。五臟之竅，皆達於面。故面乃諸陽之會，獨能耐寒。諸氣相逼，故臟腑受病先見於頭面，氣血皆向上，領毒上出也。若於腰胯之間先發者，則氣血凝毒搏滯關格，上下不舒，腿股厚實之處不能藏蓄，若先見病，則氣血引毒垂下，而日益深沉，藥力難至，不易驅伐。經云：身半以上同天之陽，身半以下同地之陰。從上發者，陽中之陽，氣從上出而為順，攻之易散；氣反下行為逆，伐之難於奏效。上部先病邪聚於上，下部先發，邪並於下。丹溪云：氣受之則上多，血受之則下多。蓋氣之性衝上，血之性流下也。故上多病者氣必虛，下多病者血必竭。風本屬陽，癘本屬陰，故癘瘡於下部先見易治，在頸面起者必凶，又有遺毒之患。陽明胃與大腸無物不受，曰百納之倉廩，風毒之氣皆蓄於此，而發如布囊盛物，一有穿孔，皆從而泄之。風在人身亦然，如有穿爛者，則不能速斂，毒氣漸出也。</p>
<p>導痰去濕，利氣清陽，針委中，刺腫塊，耗泄毒血，治要之捷，萬類千方，不過如此。風濕中人，虛火隨起，痰因火動，氣滯不清，腫處則毒凝聚，針之使散。且如有治紫雲腫塊者，以小艾炷灸之，火氣透入皮膚，攝引邪入走路也。委中穴在兩足對膝後膕中央、曲䐐兩筋中，即血郄穴也，三稜針出血妙。八風八邪穴，在手足指趾本節背後交叉中，虎口內直針入三分，瀉多，不灸，經絡與膀胱經之委中同治癘風麻痹不仁，攣曲無力之症。</p>
<p>蛕附、輕粉、砒霜切忌不可妄投，參、耆、白朮、芎、歸尚且宜擇，而用祛風、瀉火、殺蟲、排毒為先，補血、壯元、導滯、堅筋相濟。血足風自消，氣清風自散，是聖賢確論，萬古之下豈能改乎?</p>
<p>世有妄醫，用八將追魂方，內有砒霜與土狗、蜈蚣等件。又有一等粗人，妄用烏梢、赤𧐖等蛇煅灰，暗投藥中，與病人服，乃云以毒攻毒，其害甚大。古有醉仙散，以輕粉為主，服之或見苟愈，必使毒留臟腑，百節鑄痛，至死不已。又使腫塊痿頓，蓋毒犯心經，則肘膝腫大潰爛，筋節脫落，毒犯肝經，則眉發脫落，皮色放光不澤；毒犯脾經，則貪嗜饞食音啞，眼皮坍垂失明，肉堅塊瘰，口喎頭暈疼痛；毒犯肺經，則痰湧喉痹，鼻毀臭爛，手足攣曲；毒犯腎經，則腰跛膝蹩，骨節痠痛，腦裂，陰莖爛落；毒犯胃經，則渾身疙瘩，膿穢腐臭，癱痿脹滿，或脾泄瀉痢腹痛，終身為害。風癘之人其熱必盛，故血液乾燥，皮毛枯脫，若加附子、川烏等熱藥，猶抱薪救火。人之眼毛扇掃塵埃，使不入目故常閃霎那動，若燥熱脫落，則塵埃無所祛掃，飛入目中必常揩拭，漸致眼紅坍爛而成大害。且虛火暴虐則真水必衰，若又以烏、附謬言補陽，豈不助火邪而燥其陰，腎水乾涸，欲火熾盛，以速其死?又謬云用蛇蠍等藥以毒攻，毒欲劫病於一時以誘財，不知癩風由毒積成，又遇毒藥以火濟火，如寇遇夥類聚混淆，反助賊邪，鑽透骨髓，蠹戕元命，豈可用乎?蓋風病血虛，即陰虛，庸醫擬以大補為主，用人參、黃耆，不知黃耆乃補氣之劑，服之反助陽邪而耗陰血。經云：血虛服氣藥則血愈虧，病必日增，過多則死。如水在溝潭，風捲必涸，故血虛忌用氣藥。人參益氣，生津和中，病後僅可服之，又助太陰之火，故肺熱者宜忌，況多服必有參毒發喘湧痰，總不如元參攝血歸元，祛五臟之遊火，為風科之要劑。白朮調脾去濕，川芎為血中之氣藥，行血滯於氣分；當歸為血中之主藥，活血各歸於其經始治必用之為綱領。古云：醫風須補血，血足風自滅。又云：醫風須理氣，氣清風自去。極有旨趣。壯元可不痿，堅筋可不攣，豁痰則氣自清，降火則血可養，此治風三要也。</p>
<p>須戒嗜欲絕女色，禁食一切動風、傷血、敗氣腥鮮、辛甘、瓜果、粉面，方可延生，否則雖愈必發。</p>
<p>風病之人不忌毒食，乃加重之端；不戒女色，實速死之兆。故丹溪言：治五人，止一貧婦淡薄且寡，得永天年，禁戒之專也。余皆不免再發，不守禁戒之咎也。孫真人治四五十人，終無一人免於再發，非真人不能治，蓋無專心守戒者也。其豬肉、羊肉動氣發風，牛肉、驢肉，沉疴頓起，燒酒動火，麵食動濕，肥甘美味皆宜忌之。惟鳥魚功並，蚺、蛇、蟃、蜊殺蟲最勝，烏鴨涼血補元，食之又助藥力，凡椒、芥、蔥、蒜、薑、茄，大能發病，猶當絕之。若不嚴戒，雖愈必尋毒而生，疥痹蝕癬之類漸滋舉發，為喪命之機。</p>

<h2>藥病總說</h2>
<p>三十六種風症不過痛、癢、麻、爛、腫、憊之類，一百八道方藥皆排毒、殺蟲、補血、壯元、理氣之劑。諸賢秘論，各擅門牆，自古聖賢遇病立方議論參詳各據一理，癘風多種所由不一。且如北人剛勇而地高燥，南人風氣柔弱而地卑濕，閩廣多有嵐瘴蟲毒之氣，江淮常受海水寒冰之傷，海島風濤，山溪妖魅貽害無窮。丹溪專攻外感，理氣清陽，利於南方；東垣端理內傷，導痰去濕，利於北方；孫真人、王好古、許旌陽、抱朴子等，或以殺蟲排毒，或專補血壯元，或惟調氣清神，各有大意，而制方無不驗然。諸家各有秘旨，後人若能辨症用之，自有效驗，須博覽各家之術，約而選之，定合符節。如得一方便誇能治，必無皆驗之理。且如五龍丸有斬關奪帥之功，千年藥有起死回生之妙，癱爛敗絕者非東華玉髓不能復其原，斑爛舛錯者舍馮夷瓊漿烏能掃其跡。若合其宜如弩發機，若違妄用如水澆石。</p>
<p>黃龍丸，即水煮黃香丸，能治三十六種大風危症。烏龍丸治風症內熱痰火上攻，並周身乖癩燥癢作痛。白龍丸，又名捕龍丸，治上半身痛風極凶者。花龍丸又名渾元丹，治腰半以下腿膝大痛者。赤龍丸即一粒金丹，治痛風遍身抽掣日夜叫號者。千年藥乃祖師邋遢張真人遺下平分家產方，又曰靈寶千年大藥，治三十六種大風，十四般大癘，無所不效。東華玉髓乃大風子油膏，治爛風瘡穢者。馮夷瓊漿，又名推云酒，治五色疙瘩云顏麻木者，若對症用之無不奏效，若亂投妄用則不見功。</p>
<p>必須脈藥相配，診視相參，對症施治，隨手獲功，執方膠固，彌紊何靈?</p>
<p>凡有一般症候，自有一般脈色。辨診不同，古有形診、聲診、色診、脈診之條。欲觀其形而診驗吉凶，如頭為清明之府，若傾視則神將奪矣；背為胸臆之府，若胸曲肩垂則氣將壞矣；腰為腎之府，若轉搖不能則神將竭矣；骨為髓之府，若不能久立、行動振掉則骨將敗矣；筋絡為血之帥，若攣曲不舒則血將枯矣。此為望形之診也。欲聽其音聲而診驗吉凶，如語先輕後重、高厲有力則外感有餘也；若語先重後輕沉困無力，內傷不足也。此為聞聲之診也。欲觀其色而診吉凶，如青者欲如蒼璧、不欲如藍，如翠羽者生，如草滋者死；黃、者欲如羅裹雄黃不欲如黃土，如蟹腹者生，如枳實者死；赤者欲如綿裹硃砂、不欲如赭，如雞冠者生，如衄血者死；白者欲如鵝羽、不欲如鹽，如豕膏者生，如枯骨者死；黑者欲如重漆、不欲如地蒼如鳥羽者生，如煤炱者死。此為顴色之診也。《脈經》云：癘脈陽浮弦（關上也），陰實大（關下也），兩寸浮而緊或浮而洪，浮緩者易治，洪大而數或沉實者難治。脈若沉者病反在上，浮者病反在下，皆不治。此為切脈至而診吉凶也。故曰陰陽配偶，方脈參詳，此理通徹則藥對症，何憂治而不愈哉?若執一死方以治諸症，非惟無益，反害於人。</p>
<p>然導痰去濕，如蒼朮、白朮、南星、半夏、貝母、皂莢、茯苓、阿膠、厚朴、元明粉、栝蔞仁、胡黃連、青礞石、銀柴胡之類。</p>
<p>濕而膨脹痰結者非厚朴不消，元明粉止可為丸服，不宜入湯液。濕痰成塊者阿膠專主為末服之，若水煎服則臭而無功。皂莢打痰從大孔出甚速，銀柴胡治肺熱之神藥，癘風聲濁痰臭者必用之，止入丸散，不入湯液。若骨蒸寒熱者，一見胡黃連即愈，亦不入煎劑，煎則無功矣。</p>
<p>利氣清陽，如沉檀、麝腦、乳沒、木香、縮砂、豆蔻、益智、遠志、升麻、犀角、珍珠、丹砂、牛黃、柴胡之類。</p>
<p>氣閉則陽微，氣結則血匿，諸香皆能開導幽微隱僻之郁。通達關竅氣滯，非提不起，必須升麻、柴胡之屬。牛黃珠粉等件香劑能消氣聚之塊，止宜丸散不入湯液者，以火炒水煎則味愈苦，令人嘔吐噦啘，況有諸香不宜見火之說。</p>
<p>祛風散邪，如羌活、麻黃、荊芥、紫萍、苦參、風藤之類。</p>
<p>病以風名，皆由風濕寒暑之感，若不發散邪氣，何能消溶?羌活之，類皆不可缺，苦參最殺風癘之蟲、瘡癬皮肉之蟲立死，服之五臟蟯蟲立去，必用藥也。補血生津液，如當歸、元參、紅花、茜草根、紫草、血竭、鹿茸、夏枯、草桑、螵蛸、原蠶蛾、生地黃之類。</p>
<p>元參去五臟之遊火、攝血歸元，紅花去死血，生新血為治風必用。戴元禮云：夏枯草為血虛所宜，桑螵蛸之補陽填精比於人參，有霄壤之功。晚蠶蛾有再生精髓之捷，血竭乃去積瘀血作痛之卒徒，故多用之。</p>
<p>盪滌積滯，如代赭、皂莢、雷丸、蜂蜜、人牙、千金子、人中黃之類。</p>
<p>油膩脂膠之積淤腸胃，非皂莢不去。代赭石名血師，專排血積淤凝，善活血不使攣曲。雷丸去積殺蟲，止可用於男子，婦人服之必脹悶腹痛、發昏，甚則顛呆，痰涎湧塞。故男子用雷丸，婦人用皂莢。</p>
<p>劫殺蟯蟲，如錫灰、黃芽、雄黃、鶴蝨、枲實、鵝翎灰之類。</p>
<p>黃芽糞中蛆也，於四月內未食茄子之前收者方好，以濃茶滷養淘炙香，方無油泛，專祛蟲積。鵝翎灰最殺風瘡中蝕蟲，若皮內瘡疥蟲，非此不除。麻瘠癱瘓、如菖蒲、天麻、萆薢、防己、秦艽、豨薟、胡麻、香蛇、漏蘆、石斛、蒼耳草、白蒺藜之類。</p>
<p>血枯必痛，血凝必麻，須用補血逐血之劑，故萆薢之補陽，菖蒲之升陽豨薟草乃風病元氣虧乏之聖藥，非止癱瘓者用之。</p>
<p>筋攣肢軟，如苡仁、牛膝、杜仲、續斷、狗脊、萎蕤、白生蛇、仙靈脾之類。</p>
<p>風注四肢，非萎蕤不能上下左右搜逐又能消爍諸般毒物。陽痿筋攣，非仙靈脾不能興起，乃大補元陽之藥，實救本之妙藥也。</p>
<p>愛食瓜果者須倍麝香，耽嗜面檗者必求枳椇，曾服汞粉，定用鉛磁。若進毒藥，急行和解，參耆之性不及升柴，此特大略，博而約之。</p>
<p>治風之法，先散寒邪，次攻蟲毒，次調元氣，次養陰血，待風散蟲死，血足氣清之候，再拔瘡穢，舒其筋而伸其攣，滋生毛髮則病愈不發，補益之藥終身服之不可止，乃不刊之秘論也。若欲速不分次序，則隨得隨失，變駁反掌，非惟無益，必反害之。如升麻能使濁氣從右而上散，柴胡能合清氣從左而上達，參耆惟能助氣而反附陽邪以損陰血，風癩以養血清陽為要，故參耆不及升柴之提散調達，開導肌表也，麝香能消諸瓜果之毒發渴者，乃瓜果之積用之即消。枳椇即金鉤樹子，能祛酒毒，好酒之人宜服之。黑鉛磁石花椒專收輕粉水銀之毒，恐庸醫暗投，故宜服之以免發毒。此用藥之大略也。</p>
<p>近世專用大風子為良方，不知此藥性猛大熱，有燥痰劫血之迅力，制煉不精則病未愈而先失明矣。</p>
<p>大風子即海松子，又名丟子，因其專能治風而名也，生於東海日出燥炎之地，故性大熱，能直入肌骨殺蟲祛濕，夷人稱為丟子，當果食之以治百病，蓋海島之俗食生物者腹多蟯蟲之毒，服此以盪滌之，如閩廣人食檳榔以御風瘴也，其肉上白膜最能損目，其油最能敗血，如生食之傷人臟腑，其性怕醬，見醬物即消之無用，故服此者必忌醬。若得麻腐與之同服則功愈勝，須專門用之，制度有法則功勝於諸藥，若無傳授而道聽妄用，非惟無功反生他害。丹溪云：大風子有燥熱之毒，能敗血動痰，損人之目，信不誣矣。且據富翁陳善長患風年久，求予先君治之先君思善長耽於酒色，日不間斷必難治，固辭不藥。善長密賄予家老奴，盜傳制大風子之法，善長依法制度三年，共食大風子肉七十餘斤，其病脫去，絕無他患。一日持禮幣至予家，謂先君曰，昔年求治力辭何也?先君甚赧顏，厚謝老奴而去，始知盜方之弊，想風病損目難歸咎於大風子，蓋世之不食大風子而瞽者甚多，後人不可泥於紙上之語。</p>
<p>始以湯藥宣暢，次以膏酒灌融，丸散調護，王道之常。</p>
<p>風癩之藥，煎劑奇方最能速效，逐散風邪，通暢脈絡，無留毒之患。第恐蕩敗脾胃，故不宜久服。一見病勢稍緩即進丸散以厚脾胃，其豨薟、苦參、蒼耳、八寶、歸朮、丁公藤等膏捷於卻病補養，但恐傳授無修煉之法，其藥酒雖人喜服切不可施於初病之時，且風疾初起，病尚點滴塊瘰，未曾散漫若即用藥酒追排氣血，領毒遍透脈絡，則遍身皆病難治矣。須待病愈之後，防其再發，宜藥酒使藥力鑽透肢體，把截毫竅，基固神堅，邪毒不能再犯也其腦麝、牛黃、金石、香料不入湯液，又忌見火，惟和丸散，服之功力合宜而順。故治風者先須湯液，次用丸膏，愈後方進藥酒，為治法之序。</p>
<p>世有妄徒盜習火劫蒸燒之術，愚人爭赴戕害，深可痛也。夫風病根於臟腑，既發於外，其勢已減，何又煨逼使毒氣復入，假火為禍暫雖少爽，禍不旋踵。</p>
<p>風癩之病穢積毒先傷臟腑，延注筋骨，譬如寇入驅出，即禍減，追上為上何故又加蒸熨劫之，復令毒氣回伏膚腠、潛入肌脈，假火鬱之勢，流蠹既開之孔竅，仍傷臟腑耶?且人身毫髮孔竅，一見火氣，百孔皆開，何氣不入，舊邪未息，新邪又入，初則毒氣御，火暫離肌表必然皮毛顏色頓改，骨節酸折，疑是愈而爽快，愚人喜以為美，非吉兆也，乃新舊邪毒入鑽之，故為加病之漸耳。夫病人血氣已弱，再犯火毒，則氣愈敗、血更衰、津枯骨燥，若至二七日外火熨，濕熱之氣在內尋注經絡，充蠹臟腑，必使皮肉堅硬而痠痛，瘦弱無力，精乏目暗，肢軟足蹩步澀，再不避風寒、戒酒色，必至腐爛失明矣。宜速解救，以免大害。且風蟲因內熱而生，復得火濕，愈加滋蔓，仍傷髓液，至一百二十日後，其火鬱濕熱之氣流遍周身，病勢反凶於舊，急宜用解藥掃拔禍根，多有氣血衰弱者隨蒸而斃，人猶不畏何哉?若未曾服藥，便用蒸熨，則驅毒氣深入骨髓，淆蕩血液，若已服藥既攻毒氣欲散，烏再復邀郁聚?初治行之使毒氣勝於正氣禍又旋踵，後治行之使毒氣入於新元，禍仍僭亂，急則急危，緩則緩害，戒之!戒之!故丹溪云：必先殺其蟲，瀉其火，然後生。蓋涼血祛風、通滯、降陽升陰，雖治法頗多，大都不外乎此。夫丹溪云尚如此，後人何可用蒸燒之劫而害理殃人乎?</p>
<p>點刺鋒鐮慘楚，何益針灸、熏洗、緩泄還宜。</p>
<p>凡風癘所起之處每難全愈，欲其全愈必追毒並歸於此，然後以藥點之使爛而可跡熄根滅也。若病未愈不可周身塗點，其點藥之性熱過於火毒過於亢，若點遍身則熱毒圍攻，焉能當之?又每有妄徒以針刺破皮肉，用醋墨塗之使爛，妄言攔阻病勢，不知病根鑄於腸胃，年深發見於肌表，先從髓液透出，豈可於皮外刺爛而能阻之乎?空受痛苦而結痂痕疙瘩使形醜貌陋，其病反加，未見毫釐效驗。其或濕癢痠麻、腫塊皮肉脹大、血死漬實者，可以鋒鐮敗泄。如紫雲、白癜、血癬等症，可以小艾炷團圍灸之，使艾火引毒漸泄，雖疼痛一時亦能提散毒氣。若干風痹燥之症，氣血尚且不足，烏可又行鋒刺，愈加耗竭。肌膚之間全憑血液轉使，筋枯力乏，手足不能運用，其皮膚麻痹者，乃血液虧損之故。內頻服藥，外頻熏洗，內外應施，引其經絡之間新血充足氣脈，漸漸榮活而愈矣。切不可驟用點刺、鋒鐮，暴虐慘酷，剝害膚體。況風癩非一時可愈者，總不如令其服藥，緩緩奏功為上。且風癩之人氣血必衰，治風癩之藥無非克伐，迅劑治之將半即宜用補劑扶其根本，不可伐盡氣血，致津液乾枯，形神憔悴而損遐齡，用藥尚然，豈可妄下針鐮霸道之毒手以速其死乎?</p>

<h2>癩症一十四種六經所屬</h2>
<p>大風症名，考究諸書悉無遺失，《病源》云：風、癩一症，輕重之別耳，其害則一也。癩愈形猶可復，風愈元氣難全。癩死者少，風死者多，大都皆非善症轍跡一類。</p>
<p>曰火曰蟋蟀，心之癩也。</p>

<h3>火癩</h3>
<p>此症初起如火灼之瘡，大小不一，或如癬皮裂斷肢趾，愈又復發，由心臟受毒七年，病根方盛，眉睫落，大勢成手足痿。又有一種遍身點滴紅紫，生於皮膚之上，形似瘢痕之狀不過十數日漸自散去，或五六日亦自散，復結心毒生瘡，不能速愈，亦能傳注於人。</p>

<h3>蟋蟀癩</h3>
<p>此症乃火癩之後餘毒內結變成，形如蟋蟀，蟲紋內泛鑽齧百節，諸竅皆欲出血，額爛鼻朽，口唇毀斷，齒牙脫落，癱瘓難動，或時驚跳戰兢，多懼或眼赤爛淚疼，乃心火焰烈也。</p>
<p>曰木曰風，肝之癩也。</p>

<h3>木癩</h3>
<p>此症初起如蟲癬之狀，大小不一，其色赤白不一，或連錢高低不定，俗稱棉花瘡，久則連片腐爛腥穢，眉睫落，面目癢，愈而又作，或去或來無時，定息三年，始成大害，肝敗難治。又有一種如棉花之核，其粒高起硬㾦者，火變成蝕癬不愈。</p>

<h3>風癩</h3>
<p>此症乃木癩之後，毒蓄肝經，則四肢骨節筋骱掣痛，甚者叫喚，不能轉側，皮毛枯槁，肘膝大小狀如鶴膝白虎風，腐穢癱瘓，聲變形異，或結於脅肋腹肚，上爛至腸胃，或爛去耳𦗴，皆癩之毒也。</p>
<p>曰土曰䖲，脾之癩也。</p>

<h3>土癩</h3>
<p>此症初生塊瘰，先發漸熱，或嘔吐，或黃腫，大如雞卵，小如彈丸，或如麻豆，穿即成瘡，膿滋腥穢，由脾受賊邪，炙爆毒味禽獸魚鱉，久而成之。急治則可，若至六年，病成禍速，人聞其氣息即染成病，遺害甚大。</p>

<h3>䖲癩</h3>
<p>此症乃土癩之毒潛注脾臟，流於四肢，則垂重難舉，手足肘膝腐爛，膿血臭穢，或指趾毀落，腫大如車軸，癱痹注爛，直見筋骨，痛憊而死，或發於胸臆肋背，先腫如痞，後又穿爛，日久叫號刺痛而死。</p>
<p>曰金曰面曰白，肺之癩也。</p>

<h3>金癩</h3>
<p>此症初發如楊梅之狀，上無蓋殼，內泛碎肉，出紫赤色爛花，凸起儼若楊梅，由毒入肺經，不久眉睫脫落，三年鼻柱崩倒，眼翻唇斷，此乃天付之咎，陰空神祟之禍，定有遺毒，久治方可挽回，天意不比他種，可以速愈。</p>

<h3>面癩</h3>
<p>此症乃金癩既愈，餘毒難消，蠹存肺臟，致生如面細蟲，舉體艾白，斑駁周身，或如痹癬，儼如泥壁風狀，惟外加熏洗，則能取效。</p>

<h3>白癩</h3>
<p>此症乃寒暑濕熱之氣，邪毒釀襲，瀰漫肺竅，積生惡蟲，蠹齧肺管，使聲破目暗，肢體頑痹骨骱，中如火燃，心胸燥熱，手足背膂拘緊，肉如剜劈，以致身體手足癮疹，鼻生息肉，氣塞不通，濁涕流涎，山根高腫，腦門時痛，或目生白翳無光，多為鼻癰，外不發瘡，人皆不識此癩，故治之無效。</p>
<p>曰水曰雨曰烏，腎之癩也。</p>

<h3>水癩</h3>
<p>此症必先得水病，因而停留，又為風濕觸激，或生陰莖疳蝕，或陰囊兩傍發起腫塊，漲泮腿腰，形似橫痃，寒熱交作，脹痛難舉，上下漸大，如潰即變成瘡，遍身腐爛，一年眉發落，病劇難治。</p>

<h3>雨癩</h3>
<p>此症乃水癩愈後，餘毒在腎，以致生蟲，其毒泛注周身，生五色斑點，乖癩眉發脫落，陰莖酸爛，或陰囊破損，或陰莖蛀干，皮肉流膿，漸漸爛去，輕則為下疳、魚口等瘡，久則唇鼻𦗴皆爛毀，腐腥臭與廣症同。</p>

<h3>烏癩</h3>
<p>此症乃邪毒入腎，變生惡蟲，餐齧精髓，下虛無救。若胸脅肋腿臀股間，生如李奈桃梅狀顆塊，軟泡穿爛腐臭，難治。或如漏瘡，或癮疹赤黑，手足頑痹，針刺不知，或腳不能踏地，或飲食時則開口而鳴，或兩肘如繩縛，或穿處則腐爛流膿，黏著即生腐瘡，或皮內淫癢，怕見風濕，或平時骨間淅淅酸響，皆當大補氣血。</p>
<p>曰酒曰麻，胃之癩也。</p>

<h3>酒癩</h3>
<p>此症因酒色之時，汗出體虛，迎風入於胃腑，遍身生瘡，大者如錢，小者如豆，不赤不白，灰黃變形，膿黶黏堆。或有不飲酒之人，素受寒濕風邪，微見酒氣，汗出迎風，亦然。或有好剛性急躁，暴色欲過度之人，多犯此症，久則眉發脫落，令人惶懼，惟難治。</p>

<h3>麻癩</h3>
<p>此症由酒癩之後，毒留胃腑，遍生毒瘡如癬疥，淫癢難忍，或手足掌背頑痹不仁，黑白不等，形如雁來鵝掌風之狀，或如牛皮血癬，時痛時麻，蟲蝕脾胃或發內痔，頭硬而碎形如蟮頭，遍身皆然，觸之則大痛、冷汗，一二時而息。</p>

<h2>癘症總論</h2>
<p>夫治癘之方與風少異，丸散點擦各有秘傳，切忌熏鐮輕粉。</p>
<p>凡患風癩，決非一種，或二三種者有之，甚至有四五種者，先傷一臟，則注各經。故年久者面色變駁，病勢愈甚。且如風病先染冷麻而變紫雲黑色者有之，先染痛風而成半肢軟癱者有之，先染火癩腫大穿爛、手足廢弛、筋骨痛痿者有之。故治難以一定方藥，不能驟攻，愈一症而他症變駁，反見其勢凶也。又有風癩同患一人者，若先染風病後患癩症，曰風癩；先患癩症致成風病者，曰癩風，等最多，風則先治其癩，癩愈方治其風，風癩則用治風之藥，後加治癩之劑，此是大意。治至半愈，即服解毒大補氣血元陽之劑。勇進三年方可。</p>
<p>經云：逐五臟之邪，鬼門開方死；瀉膀胱之濁穢，淨腑始潔。倒陽絕欲，勉強矯揉。內養靜修，仙機妙運。</p>
<p>魂魄屍神之竅曰鬼門。掃蕩臟腑之穢惡，則清氣得以升降，運育自然，形容潤澤。若穢濁之滓沉滯下元，則九竅不清，十四經晦塞。祛滌其穢，則源清流還，陽氣舒暢，而精神爽悅，上下清明矣。故制烏龍丸之劑，一進以靖內汙之濁。風癩之人五火俱盛，陽事易舉，若不愛命而近女色，則服藥無功效。欲其不舉，不得已以藥倒之，病雖可愈，又恐斷人生育之根。陰陽相關，若已有子者，則全現在之命，絕其喪命之端，未為不可；若未有子嗣，則宗祀為大，切不可行之。然倒陽之秘，有用藥者，有用功者，妙在心傳，此理非庸人可知。若病人聰達，授以元門內事靜修導引之功，使內固丹基，外安神役，再進藥力並攻，則其壽無疆。此方得英敏之士方可行之，若愚妄利徒，非惟不能盡術，反使冒瀆聖賢。再針灸之法前後無忌，熱藥止可用於愈後除根，點刺之端始終不可用，若鋒鐮一有不當則刀口引風入內，令人殘痿枯敗，戒之!戒之!</p>
<p>籲!醫司民命，藥有良毒，不讀方書，懵然無據，生死關係，陰陽非輕。患風癩者，當保惜天賦，毋從愛憎譭譽之口，自宜揀擇醫之良拙。治風癩者，當敬畏天譴，毋貪欺詐苟且之財，害人之命。</p>
<p>人患風癩，命懸旦夕，求醫調治，死生攸關，務得高明仁厚之人，方可倚托。往往見人不擇醫工之精粗，但見其自稱矜今誇，不讀方書，盜襲死方，欺罔狂侫，惟貪輕任，或倩人妝拔薦點巧譽之言，即從而治之，豈不殺人乎?且風癩之科，一症有一方，其人止學得一二方，豈能悉治諸症?如紫雲之藥不能治爛風，痛風之藥不能治癢麻，漏蹄之方若治癱攣則反為害。庸俗何知之?病者既欲延生而求醫，若不揀選實輕命也。痛哉!惜哉!夫癩風乃十三科之首，此論亦十三科中妙訣，反覆精研，不為不備，後之，君子得之則瞭然無所窒礙矣。</p>
<p>夫城池受困於寇，即如人身受蠹於風癩，形質一也。以兵攻賊，如以藥攻病，籌猷一也。寇不退則城池崩陷，風不消則元命傷殘，患害一也。欲救城池必運神機，欲救人命必行妙術，妙用一也。所論風癩之理皆明，是書所治風癩皆備，此外更無遺隙。然用藥如用兵，保黎如救命，療人之病以復元命，能解城之圍以活蒼生、輕重之殊，實元元之妙法，深淵之大澤也。故曰《解圍元藪》云。</p>

<h1>卷三</h1>

<h2>六經湯丸秘方</h2>
<p>心風先傳肺經，外證損目。</p>
<p><u>煎方</u>　一</p>
<p>防風　細辛　南星　白茯苓　薄荷　大茴香　桔梗　山梔（各二兩）　當歸　首烏　羌活牛膝　牙皂　蟬蛻　枳實　元參　川芎　附子（各一兩）</p>
<p>加薑棗，水煎服十劑，如有痰，再加薄荷一兩，均作十服。</p>
<p><u>丸方</u>　二</p>
<p>羌活　防風　黃連　柴胡　獨活　全蠍（去頭足用土炒）　白芷（各一兩）　當歸　穀精　地骨皮（各二兩）　白茯苓　芍藥　熟地　茯神　遠志（各一兩五錢）　乳香　沒藥　檀香（各六錢）　細辛（七錢）殭蠶（八錢）　麝香（三錢）　甘菊（二兩）　訶子肉（八兩）　風藤（二兩）</p>
<p>上為末，蜜丸或黃米飯丸，如桐子大，飛硃砂為衣，每服三錢，用前煎藥送下，日服三次。</p>
<p>肝風先傳脾經。外證發紫泡。</p>
<p><u>煎方</u>　三</p>
<p>防風（八兩）　元參　當歸　牛膝　柴胡　芍藥　蟬蛻（各一兩）　胡麻　草烏（各四兩）　白芷　官桂（各一兩五錢）</p>
<p>有痰加乾葛二兩均作十服。</p>
<p><u>丸方</u>　四</p>
<p>防風　荊芥　葛根　丟子（各四兩）　胡麻　當歸　草烏　元參　麻黃　附子（各一兩）　白蒺藜　乾薑　皂角　桔梗　牛膝　川芎　羌活　甘草（各二兩）　全蠍（一兩五錢）　苦參（五兩）</p>
<p>上為末，蜜丸桐子大，青黛為衣。</p>
<p>脾風先傳腎經，外證遍身頑癬，或時刺痛。</p>
<p><u>煎方</u>　五</p>
<p>防風　當歸　風藤（各三兩）　元參　川芎　甘草節　枳實　陳皮　白芷　桔梗　枳殼　烏藥（各一兩五錢）　木香（一兩）</p>
<p>有痰加半夏一兩五錢，均作十服</p>
<p><u>丸方</u>　六</p>
<p>元參　枳實　當歸　陳皮　白芷　胡麻　乾薑　厚朴　滑石（各二兩）　防風（八兩）　川芎　甘草　殭蠶　芍藥　麻黃　草烏　蟬殼　羌活　全蠍　木香（各一兩）</p>
<p>上為末蜜丸，用鬱金黃柏末為衣。</p>
<p>肺風先傳肝經，外證眉須鬢髮焦脫。</p>
<p><u>煎方</u>　七</p>
<p>元參　川芎　知母　滑石　半夏　蒺藜　牙皂　黃芩　牛膝　胡麻　羌活　乾薑　桔梗木香　當歸（各二兩）</p>
<p>有痰加防風三兩。上均作十帖。</p>
<p><u>丸方</u>　八</p>
<p>當歸　牛膝　防風　蟬蛻　獨活（各四兩）　羌活　胡麻　石膏　首烏（各三兩）　荊芥（六兩）　殭蠶　全蠍　南星　白芷（各二兩）　元參（五兩）</p>
<p>上為末蜜丸，滑石半夏末為衣。</p>
<p>腎風先傳心經，外證腳底穿爛。</p>
<p><u>煎方</u>　九</p>
<p>甘草　麻黃　防風　羌活　薄荷　茯苓　桔梗（各一兩）　川芎　當歸　厚朴　半夏　知母　黃柏（各二兩）　獨活　大黃　苦參（各四兩）　滑石（五兩）</p>
<p>有痰加石膏三兩，均作十帖服。</p>
<p><u>丸方</u>　十</p>
<p>桔梗　川芎　白朮　丟子（各四兩）　當歸　甘草　川樸　木香　乾葛（各一兩）　牛膝（八兩）　人參　乾薑　白芷　全蠍　麻黃（各二兩）　天麻（一兩五兩）　白花蛇（五錢）</p>
<p>上為末蜜丸，用百草霜為衣。</p>
<p>胃風遍傳五臟，外證渾身潰爛。</p>
<p><u>煎方</u>　十一</p>
<p>羌活　澤蘭　藿香（各二兩）　蒺藜　柴胡　防風　細辛　白芷　薄荷（各三兩）　荊芥（四兩）　獨活　木瓜　牛膝　連翹　黃芩　生地　山楂（各二兩五錢）　菖蒲　枳實　陳皮（各一兩）　麻黃（一兩五錢）</p>
<p>有痰加象貝母、石膏各一兩，均作十劑服。</p>
<p><u>丸方</u>　十二</p>
<p>荊芥（二兩）　蒺藜　天麻　白芨（各一兩五錢）　獨活　柴胡　羌活　木瓜（各三兩）　風藤　皂莢　厚朴　前胡　象貝母　蒼耳子　金銀花（各一兩五錢）　麝香（二兩）　乳香　檀香（各三兩）　紫背浮萍（四兩）</p>
<p>上為末，蜜丸，甘草大黃末為衣。</p>

<h2>風癘各方</h2>
<p><u>通經利竅湯</u>　十三　三十帖，按日服之，風癘初服藥起，須以此開經絡。</p>
<p><u>第一日</u></p>
<p>大黃　荊芥　桔梗　歸尾　黃芩（各一錢）　羌活　防風　連翹（各一錢二分）　防己　白芷（各八分）　牛膝（七分）　甘草（五分）</p>
<p><u>第二日</u></p>
<p>大黃　羌活　防風　桔梗（各一錢）　白芷　防己　歸尾　獨活　荊芥　牛膝（各八分）　甘草（五分）</p>
<p><u>第三四日</u></p>
<p>羌活　桔梗　防風　黃芩（各二錢）　白芷　荊芥　防己　獨活　牛膝　歸尾（各八分）　甘草（五分）</p>
<p>腹中有積作痛，加製大黃一錢，心痛、大腸不利，則用生大黃一錢。</p>
<p><u>第五六七八日</u></p>
<p>羌活　獨活　防風　荊芥（各一錢）　歸尾　芍藥　防己　連翹　黃芩（各八分）　甘草（五分）</p>
<p>如腹痛大便不利加大黃一錢。</p>
<p><u>第九日</u></p>
<p>大黃　荊芥　羌活　獨活　防風　川芎（各一錢）　當歸　牛膝　黃芩　白芷　桔梗（各八分）　甘草（五分）</p>
<p>十日至十八日同，惟大黃用二錢。</p>
<p><u>十九日</u></p>
<p>大黃　黃柏　連翹　羌活　苦參　荊芥　黃芩（各一錢）　黃連　防風　防己　甘草　當歸（各八分）</p>
<p>第二十日如有白蟲從大便出，藥與十九日同。如無，再加白醜末，虛弱者不加。</p>
<p><u>二十一二日</u></p>
<p>黃柏（炒）　大黃（蒸）　苦參　羌活（各一錢）　連翹　防風　黃芩　牛膝　防己　獨活（各八分）　甘草（五分）　黃連（一錢五分）</p>
<p><u>二十三四日</u></p>
<p>芍藥　羌活　黃芩　荊芥　牛膝　白芷　大黃　連翹（各一錢）　獨活　當歸　防己　桔梗（各八分）　甘草（五分）</p>
<p><u>二十五日</u></p>
<p>元參　連翹　獨活　當歸　防己　桔梗　牛膝　芍藥（各八分）　防風　大黃（各一錢）　黃連（七分）　草烏（一錢）　川芎　甘草（各五分）</p>
<p>二十六七日同上。</p>
<p><u>二十八日</u></p>
<p>草烏　芍藥　羌活　荊芥　防己（各一錢）　川芎　當歸　桔梗　牛膝　白芷　苦參　防風（各八分）　甘草（五分）</p>
<p>二十九三十日同，服此倘痕色不退，再服此方三四劑。</p>
<p>上藥三十帖，俱水煎，早晚服，溫酒同下。如腸澀加大黃一錢。</p>
<p><u>白玉蟾遺方</u>　十四　治痹麻諸風、癱瘓、爛、攣、腫、危，並大麻雞爪嚲曳、螻蟈、冷麻等症。</p>
<p>防風　黃連　黃柏　苦參　牛膝　草烏　麻黃　紫風藤　荊芥穗　蔓荊子　升麻　川芎大黃　當歸　藁本　山梔</p>
<p>上水煎服，大劑十服，內竅俱通，其外油光，紫黑疙瘩皆退，隨服丸方。</p>
<p><u>白玉蟾丸方</u>　十五</p>
<p>胡麻　川牛膝　木瓜　山梔　黃柏　蒼朮　明天麻　白蒺藜（各五兩）　五加皮　風藤　羌活苦參　當歸（各十兩）　水銀　水飛朱　車米麵包（煨）　麝香（三錢）　香蛇（一兩）　代赭石醋（煅二兩）　新鮮丟子肉</p>
<p>四十兩，此即木楓子肉</p>
<p>朱將大楓子肉，用水二十碗，煮至二三碗濾干，入臼搗爛，以朱、汞、赭、米四味共研，不見星，收瓷器內，用香燭花果供於八仙元檀神前，忌婦女、雞、犬觸汙，再將各藥末稱准，以煮大楓子汁，加陳米糊丸，如桐子大，於卯午酉時各服三錢，酒送下。疾輕者只服二錢或一錢五分，至四五日反覺病凶，口內齒根麻木，精神恍惚，過後漸痊，面色紅潤，再不沉重，惟要戒守則永不發。</p>
<p><u>白玉蟾末藥方</u>　十六　治癱瘓、軟痿、冷麻、困痹。大有奇功。</p>
<p>草烏　白朮　硃砂　細辛　雄黃　白芷　防風　蒼朮（各五兩）　麻黃（八兩）　川烏（一大個）</p>
<p>上為末，每服一錢，用蔥白頭七枚，陳酒一碗，煎滾送下。重者用之，先以藥湯洗，再進此藥，臨臥服，汗避風。</p>
<p><u>白玉蟾浴湯方</u>　十七　將各藥燒湯洗滌，如爛者日洗一二次。</p>
<p>蒼耳子　防風　馬鞭子草　紫蘇　苦參　金銀花　白芷　遍地香　澤蘭</p>
<p><u>白玉蟾蒸法</u>　十八</p>
<p>先以湯藥洗滌再用蒼朮一斤煎酒五六碗，將地鋪稻柴，再用藁薦礱糠四五斗，米醋十餘杓，拌勻，蒸熱，鋪在薦上，用席蓋糠，令人睡之上，以棉被蓋之，待出臭汗，毒氣已盡，漸去衣被，須於無風處蒸之。</p>
<p><u>白玉蟾擦藥方</u>　十九</p>
<p>白芷　草烏　南星　半夏　丟子　杏仁　白芨　白蘞　蛇床（各等分）</p>
<p>上為末，手足及遍身有腫塊成瘡或冷麻者，以生薑蘸藥擦之，待皮活病退方止，當先用洗法次服末藥，次又行汗法，隨時擦之。隔三日再洗再汗再擦，一連五六次，如病不減，不得已方行蒸法卻之，但丸方要服數年。</p>
<p><u>大瓢李遺丸方</u>　二十　治哉蠔蛇皮刺風、癢風、雞爪、疙瘙、歷節等風，並麻木冷痛、手足屈折痛癢、不知痿憊、癱瘓、腐爛、危篤等症。</p>
<p>琥珀（五錢）　天麻（一錢）　真珠　冰片　硃砂　膽星　血竭　殭蠶（各二錢）　蟬蛻　細辛（各四錢）　川芎　羌活　防風（各六錢）　遠志（五錢）　茯神（八錢）　犀角（三錢五分）　菖蒲（六錢五分）鐵粉（三錢六分）　雄黃　牛黃（各五錢六分）　蛇含石（醋煅四錢六分）　白附子（五錢二分）半夏（四錢四分）　麝香　蘆薈　烏梢蛇（各五錢五分）　牙皂（一兩）　丟子霜（八兩）　青礞石（煅四兩）</p>
<p>上為末，酒糊丸桐子大。每服一百丸，空心酒送下。如覺恍惚困倦，麻木委厥者，以豨薟、蒼耳、金銀藤煉膏服之。</p>
<p><u>大瓢李末藥方</u>　二十一　治男婦癘風，癱瘓，口眼歪邪、面如蟲行、身痛如切，或皮肉淫癢難忍，久而手足反張。</p>
<p>當歸　防風　川芎　白芷　細辛　麻黃　荊芥　全蠍　天麻　藁本　雄黃　羌活　甘草（各五錢）　硃砂　人參　白花蛇　大茴香　兩頭尖（各三錢）　香蛇（七錢）　川烏　草烏　蒼朮（各四兩）</p>
<p>上為末，每服五六分，漸至一錢，臨臥以無灰酒調服，忌一切熱物、或有汗，麻木身癢，乃藥力至也。服此後，用鳳仙花梗煎湯洗浴，汗出為度。</p>
<p><u>人參固本丸</u>　二十二　治手足攣痛，晝靜夜劇，歷節大風，腰腿痛，口眼喎邪。</p>
<p>白朮（四兩）　沒藥　沉香（各五錢）　天麻（一兩）　青皮（一兩）　人參（一兩）　白芷（一兩）　蒼耳子（二兩）　烏藥（三兩）　紫蘇（一兩五錢）　甘草（五錢）</p>
<p>上為末，酒糊丸桐子大，每服百丸，用後方煎藥送下。</p>
<p><u>煎方</u>　二十三</p>
<p>白朮　桂心　防風　人參　柴胡　甘草　川烏　當歸　芍藥　赤茯苓</p>
<p>薑棗煎服。</p>
<p><u>孫思邈真人煎方</u>　二十四　治核桃紫雲等風。</p>
<p>防風　苦參　薄荷　芍藥　黃芩　連翹　山梔　知母　柴胡　大黃　麻黃　天麻　半夏　花粉　甘草　紫蘇　香附　白芷　當歸　羌活</p>
<p>加細茶一撮，煎服五六帖退斑，十服效臨，臥服忌見風。</p>
<p><u>孫思邈真人丸方</u>　二十五　此方甚妥，尚可量症加藥。</p>
<p>牙皂　苦參　蒺藜　防風　當歸　荊芥穗　蔓荊子　牛蒡子　胡麻（各一兩）　黃柏（三兩）　白花蛇　丟子（各四兩）　麝香（二錢）</p>
<p>上為末，黃米飯丸，桐子大，硃砂為衣。每服四十丸，日服三次，清茶送下，忌食鹽物止食淡鴨妙。</p>
<p><u>邋遢張真人靈寶千年大藥</u>　二十六　治三十六種大風，後人稱平分家產方。</p>
<p>羌活　蒼朮　烏藥　風藤　防己　白芷　防風　大黃　五加皮　獨活　藁本　桔梗　草烏　柴胡　黃芩　明天麻　細辛　甘松　蔓荊子　白蒺藜　川續斷　芍藥　南星　大腹皮　皂角刺　薄荷（各三兩）　槐角　荊芥　升麻（各五兩）　紫萍　鬧羊花（各二斤）　麻黃（十斤）　天雄（一斤）　當歸（八兩）　苦參皮（二斤）　紅花　元參（各六兩）　仙靈脾　萆薢（各三兩）　草烏頭（四兩）</p>
<p>用陰陽水各一桶，春浸五日，夏三，秋七，冬九，煎去渣，煉成膏。</p>
<p>人參　白朮　沉香　川芎　木香　乳香　牛膝　紅花　磁石（醋煅七次）　沒藥　香蛇　血竭　松脂　姜蠶　檀香　安息香　雲母粉　降香　鵝管石　蓯蓉（各一兩）茯苓　雄黃砂仁　青礞石　萎蕤　胡麻（各二兩）　蟾酥　麝香（各五錢）　冰片（二錢）　花蛇（一條）　人牙（炙黃香五兩）</p>
<p>上為末，以前膏和丸，彈子大，硃砂為衣，金箔包裹。遠年病服十丸，近年病七丸，用麻姑酒磨服，汗出則病愈。方中若加桑螵蛸、原蠶蛾末各一兩五錢尤妙。</p>
<p><u>神效奪命還真丹</u>　二十七　治三十六種風，如癘麻、嚲曳、大麻、啞風、癘風，立效。</p>
<p>全蠍　殭蠶　黃芩　陳皮　熟地　肉桂　生地　蔓荊子　地骨皮　黃連　甘菊　防風　茴香芍藥　知母　枳殼　柴胡　甘草　石膏　當歸　半夏（各一兩）　明天麻　木香　川芎　藁本　菟絲子　白朮　人參　獨活（各一兩五錢）　羌活（三兩）　桔梗　麻黃　薄荷（各二兩五錢）　細辛（五錢）　蛤蚧（一對酥炙）　茯苓（二兩）</p>
<p>上為末，蜜丸，彈子大，金箔為衣。每服一丸，細嚼。中風、癱瘓、大風、癘病，茶酒下。遍身筋骨痛及心氣痛不省人事，熱醋湯下。頭風、暗風，茶下。驚痛、口吐涎，溫酒下。婦人胎前產後，經水不調，香附湯下。冷風寒濕，氣頓抽掣，走注叫號，日夜不安，黑豆炒焦烹酒下。</p>
<p>又有一方加麝香牛黃冰片更妙。</p>
<p><u>車華玉髓</u>　二十八　尹蓬頭真人傳，以丟子油為君，丟子生東夷島故以此名。</p>
<p>大風子（依法取油四兩）　沒藥　滴乳　血竭（各二錢）　牛黃（五錢）　麝香（五分）　阿膠（一錢）　琥珀　珍珠（各三錢）　雄黃（五錢）　地龍（火炙去土七錢）　冰片（三錢）　芒硝（八分）</p>
<p>上研末，隔湯化油，藥攪勻，每服一錢。內熱者柿餅湯下。內寒者花椒湯下。平常者溫酒下。其大風紫黑、痿痹、癱瘓、攣屈、喎邪、臭爛危篤者，不過一料全愈。須絕欲，戒性，避風，忌一切腥鮮鹽物，五辛諸毒，只宜食淡，方能見效。（紫雲風）去牛黃、芒硝、加血竭一錢，乳沒各四分。</p>
<p>（云顏成形不退腫起）以艾作小炷，四圍團團灸。每灸五七團，泄其氣即愈。（蛇皮風、魚鱗風）加白花蛇末一錢，冰片二分，有細瘡乖癘同治。（漏蹄、白癜風）加牛黃三分。（臭）加水飛雄黃末三分五釐。（冷麻風）加羌活、獨活、歸尾各五分。（瘦弱者）去芒硝，加人參五分，地骨皮、柴胡各一錢。（內熱者）加川芎、白芍、黃芩、山梔各二錢，歸尾一錢五分。</p>
<p>（爛瘡）用枯礬四兩，硫黃、信石煅，各一錢，花椒三兩，生礬五錢，蛇床二兩，共為末，用豬油調敷。</p>
<p>（手腿大爛不收斂）用黃蠟一兩，東丹五錢，膩粉二錢，乳香、沒藥車米各三錢，桐油調油紙攤貼。（爛瘡）用爐甘、石錢、龍骨三錢，乳香、沒藥、雄黃各五錢，研細乾摻。（風癬）用蛇床子、雄黃、砒等分為末，醋調青布包之，重重頻擦。（癢塊）用車米、硫黃各一錢，大風子一兩，樟、冰、雄黃各二錢為末，以生芝麻二合炒黑，研和如泥，以生布包擦塊上，四五日愈。爛者不用。其破者，皆屬脾經毒已從破處出，內服追毒，則自愈。（起泡者）用蛤粉、車米、石膏、乳、沒等分，研末敷之。（眉落者）用荊芥、防風、白芷、蟬殼、天麻、首烏、羌、獨活各五錢，丟子肉四兩，牛蒡子、大黃各六錢。（眼赤）加菊花五錢。（兩眼痛）去大風子二兩，加全蠍七錢，蜜丸桐子大，臨臥以方中止去大風子，將各藥銼劑煎之，送下五七十丸。（生眉）用牙皂炒，加麝香少許，雞蛋油調，生絹包，擦眉稜上，二十日可出。（黑斑）用牙皂、鹿角屑、白附子等分為末，薑汁調，惟塗久脫常妙。吳氏亦以此方得名，每油四兩，用乳沒六分，血竭二錢，芒硝八分，牛黃三分，服之雖效，總不如前方有奇功。如夏暑油不肯凍，不能成羔，以米仁炒熟研末，加入為丸服。余時以藥放酒盞內，每日在飯上燉化服，以助胃氣，服至十日，其毒必追至手足處發出。或腫或瘡，即將蓖麻子、巴豆、丟子打成膏貼之，其臭水倘出滋延，敗惡不可聞。以菖蒲草根炒末，罨上即乾癟。如臭水流盡則愈。急服補氣血藥三年方保全生。</p>
<p><u>神效追風丸</u>　二十九　治癩、麻、疙瘩、熱風、干風一切危篤等症。</p>
<p>當歸　麻黃　羌活　白朮（各五錢）　荊芥（二兩五錢）　白芍　黃芩　殭蠶　川芎（各一兩）　人參（三兩）　蒺藜　胡麻　防風（各二兩）　沒藥　乳香（各二錢五分）　麝香（四分）　苦參皮（六兩）　大風子肉（兩）</p>
<p>上為末，黃米粉酒糊丸，桐子大。每服五七十丸，早晚溫酒下。</p>
<p><u>搜風四七丹</u>　三十　治紫雲、白癜、紫癜等風。</p>
<p>防風　川芎　當歸　芍藥　麻黃（各五錢）　黃芩　山梔　連翹　白朮　甘草　薄荷　桔梗　全蠍　蟬殼　羌活　獨活　胡麻　乾葛　升麻（各六錢）　荊芥（一兩）　人參（三錢五分）　牛膝滑石（各一兩五錢）　木香（七分五釐）　麝香（五分）　石膏（八錢）　大風子肉（半斤）</p>
<p>上為末，黃米粉糊丸，桐子大。每服五十丸，空心酒下，茶亦可。</p>
<p><u>神仙換骨丹</u>　三十一　治鼓槌軟癱干風瘸癟麻木委困倦敗等症大黃。</p>
<p>白芷　槐花　川芎　防己（各一兩）　乳香　沒藥　木香　沉香（各三錢）　蒼朮（二兩）　細辛　苦參（各一兩五錢）　紫萍（三兩）　麝香（五分）　草烏（五錢炒，三錢生，三錢炒黑，共一兩一錢）</p>
<p>上為末，用去節麻黃半斤煎膏，加蜜丸，彈子大，約重二錢，硃砂為衣。每服一丸，臨臥蔥酒磨，服，避風。又一方，去蒼、麝，加當歸、防風、花蛇、木鱉子。</p>
<p><u>大消風散</u>　三十二　治雞爪、癢風、脫跟、魚鱗、鵝掌、糍糕、哉蠔、疹風等症。</p>
<p>防風　蒺藜　荊芥　苦參（各十二兩）　乳香　沒藥（各二兩）　麝香（五錢）　當歸　黃柏（各八兩）　黃芩　胡麻（各十兩）　丟子肉（一斤，煮一晝夜）</p>
<p>先以一料，去丟子、沒、麝、乳，均作十帖煎服。再用一全料，不見火為末，酒米糊丸，桐子大。辰、午、戌時各服三錢，溫酒下。（如面上病重）加白芷、風藤、蟬殼各四兩，升麻五錢。（口眼喎邪）加白殭蠶四兩。（四肢重）加羌、獨活各四兩。</p>
<p>如服此藥，須用細辛、蒼耳草、豨薟草、遍地香、馬鞭子草煎湯，不時洗浴，待汗透神爽方止，久則脫愈。</p>
<p><u>救苦回生丹</u>　三十三　治歷節、半肢、紫雲、啞風、蠱風、干風，走注，遍身寒濕、麻痹、癱瘓等症，及中風不語，口眼喎邪。</p>
<p>乳香　沒藥　當歸　川芎（各一兩五錢）　五靈脂　檀香　松香　自然銅（醋煅）　威靈仙（各一兩）　虎骨（炙）　地龍　草烏（各五錢）　天麻（七錢）　全蠍（二錢）　麝香（三錢）　荊芥　白芷　苦參（各一兩二錢）　番木鱉（三十七個炙）　冰片（三分）　京墨（一塊）　黑豆（二合炒）　鬧羊花（五錢）　殭蠶（六錢）</p>
<p>上為末，糯米飯丸，如龍眼大，硃砂為衣，金箔飛裹。薄荷酒磨下。一丸，如昏迷則病愈。若婦人血暈經閉，胎衣不下，用炒焦黑豆淋酒服之，如神。</p>
<p><u>斑龍八帥丹</u>　三十四　治螻蟈、蝦蟆、癱腫等症。</p>
<p>殭蠶（炒）　花蛇（炙）　香蛇（炙）　蜈蚣（炙）　蜂房（炙）　穿山甲（炙）　全蠍（炙）　蟬殼鹿角（煅）</p>
<p>上各等分為末，每服三四分，酒下。或以此藥加在各方丸散中，服之無不立效。</p>
<p><u>奇效良丹</u>　三十五　治雁來、漏蹄、冷風、壁泥、蛇皮一切大風，服之皆效。</p>
<p>胡麻　木瓜　山梔　黃芩　牛膝　蒼朮　五加皮　天麻　蒼耳子　風藤　羌活　獨活　細辛黃柏　蒺藜（各五兩）　苦參　當歸（各十兩）　麻黃　紫葳蕤　防己　殭蠶　草烏（各三兩）甘松蟬殼　紫萍（各四兩）　乳香　沒藥　香蛇（各二錢）　代赭　磁石（各二兩醋煅）　荊芥（八兩）　川芎（一兩五錢）　丟子（十二兩）　麝香（一錢五分）</p>
<p>上為末，蜜丸，桐子大，硃砂為衣。每服五十丸，酒下。</p>
<p><u>一粒金丹</u>　三十六　又名赤龍丸又名一錠金。治遍身嚲曳、魚鱗、刺風、遠年寒濕，手足痿痛、走注叫喚者。</p>
<p>麝香（二錢五分）　乳香（六錢）　沒藥　當歸（各七錢）　地龍　白檀香（各二兩五錢）　木鱉子（五錢）　草烏　五靈脂（各二兩）　京墨　線膠（麩炒）　紫萍（各二兩五錢）</p>
<p>上為末，用去節麻黃二兩煎汁煮，為末，飯丸龍眼大，硃砂為衣。每服一丸，酒下。至黑汁從足底出乃為驗，日進二服。</p>
<p><u>搜風順氣丸</u>　三十七　治軟癱風、邪魅風、熱風、蠱風，並腰腿腹痛、氣悶冷熱、寒濕，腳膝少力，男婦怯弱。此能和三焦，潤五臟，厚腸胃。中風者服之大有功。</p>
<p>製大黃　麻仁　山萸　山藥　檳榔　菟絲子　枳殼　防風（各三兩）　牛膝（二兩）　郁李仁　獨活（各一兩）　車前子（二兩五錢）</p>
<p>上為末，蜜丸桐子大。每服百丸，或酒或茶下。壯精神，消百病。癱瘓腸風並效。</p>
<p><u>保真丸</u>　三十八　治大麻、邪魅、半肢、軟癱等風，麻痿痠疼不能動止者。</p>
<p>人參　川芎　草烏　川烏　白芷　當歸　槐角　羌活　五加皮　獨活　紫背浮萍　防風荊芥　首烏　枳殼　連翹　風藤　烏藥　杜仲　桔梗　肉桂　乾薑　殭蠶　石楠藤　甘草　芍藥　升麻　虎骨　花蛇　防己（各一兩五錢）　乳香　沒藥　沉香（各五錢）　麻黃（二十斤去節）</p>
<p>上為末，用麻黃煎膏丸，每丸重五錢，酒磨，服一丸，神效，避風為妙。</p>
<p><u>二八濟陽丹</u>　三十九　治軟癱、癘麻、血風、癢風、干風、冷麻、半肢、血痹、鵝掌、風血枯氣敗等症。</p>
<p>元參（半斤酒漿浸曬三次）　苦參（一斤薑汁酒漿各浸一夜曬炒末半斤）　犀角　當歸　蒺藜　熟地白芷（薑汁炒）　獨枝防風　全蠍（去足土炒）　牛蒡子　乳香　沒藥　石楠藤　紅花（各二兩）　甘草（五錢）　殭蠶（炒去絲足嘴一兩五錢）</p>
<p>此藥前二味各八兩，後十四味二十八兩，共十六味，故名二八丹。共為末，蜜丸桐子大。每服四十丸，陳酒下，日進三次。</p>
<p><u>六神輔聖丸</u>　四十　治疙、瘙、雁來、冷風、癢風、麻痹、痛風。</p>
<p>草烏（一斤白嫩者佳）　麻油（一斤）　甘草（半斤）　荊芥　羌活　紫蘇　風藤（各四兩）</p>
<p>用無灰酒煮一晝夜，另用一鍋煎滾汁浸之，方可擠去烏皮，如用冷酒浸，則烏皮擠不脫矣。將草烏擠淨搗爛為丸，每服二十丸，溫酒下。</p>
<p><u>四魔丹</u>　四十一　治嚲曳、顛風、蠱風，癱瘓、委頓者神效。</p>
<p>敗龜板（煅白）　番木鱉（麻油煮三沉三浮）　鬧羊花（酒拌九蒸曬各二兩）　蒼耳子（一斤炒）　白蜜（一斤）</p>
<p>上為末，煉蜜和勻，入竹筒內，掛當風處。七日後初次服五分，三四日服六分，漸加至一錢，空心燒酒下。</p>
<p><u>火龍散</u>　四十二　治脫跟、蛇皮、魚鱗、漏蹄、核桃，癱爛、麻木、委敗等症神效。</p>
<p>人牙（一兩五錢）　雄黃　辰砂　大黃（酒蒸）　代赭石（醋煅各一兩）</p>
<p>共為末，每服三錢，臨臥用防風、荊芥煎湯洗浴，熱酒送下即睡，則皮內毒蟲迫出肌膚，然後用雄黃、硫黃、硃砂、代赭石、車米各等分，研末，香油調熏，擦遍身捷愈。</p>
<p><u>棗靈丹</u>　四十三　治核桃、壁泥、哉蠔、白癜、鼓槌等風。</p>
<p>丟子（一斤半）　防風　荊芥　牛蒡子　苦參　首烏　風藤（各三兩）　桔梗　枳殼　川烏草烏　香附　大黃　黃芩　木賊草　白附子　角刺　兩頭尖　白芷　檳榔　烏藥　石膏　薄荷　滑石　山梔　芒硝　葶藶　木通　木香　沒藥　胡黃連　車前子　黃柏（各一兩）　甘草　蒺藜羌活　天麻　白朮　柴胡　菖蒲　藿香　蔓荊子　天花粉　殭蠶　厚朴　陳皮　藁本　威靈仙　遠志　麻黃　枸杞　甘菊　蟬殼　血竭　乳香（各二兩）　胡麻（四兩）　梧桐皮淚　黃連花蕊石　辛夷　麝香　青皮（各五錢）　牛黃（一錢）　冰片（五分）</p>
<p>上為末，棗肉丸綠豆大。每服五七十丸，春白，夏茶，秋鹽湯，冬酒下，忌油膩生冷。</p>
<p><u>小棗丹</u>　四十四　治鵝掌風、刺風、疹風。</p>
<p>防風　殭蠶　首烏　全蠍　羌活　獨活　芍藥　生地　威靈仙　蔓荊子　牛蒡子　苦參胡麻　大黃　黃芩（各二兩）　枸杞子　薄荷　南星　天麻（各一兩）　荊芥　柳枝　山梔（各四兩）　炙甘草（五錢）　白朮（一斤）　丟子肉（一斤）　兩頭尖（一錢，要大者為佳）上為末，棗肉丸，桐子大。每服六十丸，薄荷湯下。</p>
<p><u>守中丸</u>　四十五　治雁來、鼓槌、核桃、紫雲、水風，此係山西張守中所用故名之。</p>
<p>防風　荊芥　苦參　連翹（各二兩）　當歸　胡麻　牙皂　蔓荊子　蒺藜　牛蒡子（各三兩）　白芷　甘草　硃砂（各五錢）　羌活　獨活（各一兩五錢）　陳皮　黃芩　胡黃連　山梔　升麻　天麻（各一兩）　乳香　沒藥（各三錢）　牛黃（一錢）　麝香（三分）　冰片（三分）</p>
<p>上為末，米糊丸。每服三錢，鹽湯下。</p>
<p><u>祖傳玉樞丹</u>　四十六　治白癜、螻蟈、疹風。</p>
<p>苦參皮　荊芥穗　當歸　元參　蒼朮（各八兩）　烏藥　羌活　川胡麻　藁本　白芷　防風　白蒺藜　川芎　獨活　麻黃　蒼耳子　甘草（各四兩）　紅花　牛蒡子　天麻　殭蠶　風藤　薄荷（各三兩）　草烏　半夏　貝母　桔梗　大黃　葳蕤（各一兩）　麝香（二錢）　牛黃　木香　檀香沉香　乳香　沒藥　血竭（各一兩五錢）　琉璃灰（二兩爛者方加）　桑螵蛸（一兩）　銀柴胡不見火蠶蛻（各二兩）　元明粉　秋石　蘇木　夏枯草　虎骨　旱蓮草　犀角（各二兩）　仙靈脾（一兩五錢）　大風子肉（四兩）</p>
<p>上為末，陳米糊丸，桐子大，硃砂為衣。用後煎藥，送下百丸，早晚服。如怕服煎藥，以酒代之，在密室中，睡三四時，方可行動。</p>
<p><u>煎藥方</u>　四十七　水煎送前丸藥。</p>
<p>黃芩　大黃　羌活　獨活　防風　防己　連翹　黃柏　桔梗　荊芥　當歸　山梔　木通白芷　甘草　半夏　紫蘇　薄荷　升麻　麻黃　川芎　烏藥</p>
<p><u>補舊湯</u>　四十八　又名救苦湯。治糍、糕、壁、泥血痹、血風。</p>
<p>苦參皮（一錢五分）　牛蒡子　人參　首烏　山梔（各一錢）　殭蠶　白蘚皮　防風　連翹天麻蔓荊子　黃芩（各五分）　全蠍　黃連　甘草（各四分）　薄荷　羌活　獨活　荊芥（各三分）乾葛黃柏（各七分）　威靈仙　蒺藜（各八分）　仙靈脾（怯弱者加五分）</p>
<p>先用酒煎，十帖服。再用水煎，須儘量飲酒服。至百帖其眉須復生、腫塊漸退，手足痿頓者有力。須戒色省勞，避風忌口，方能有功。再以每味加十倍為末，再加乳香、沒藥、血竭、沉香各一兩，冰片、牛黃各一錢，麝香二錢，用米仁糊丸，桐子大，硃砂為衣。每服百丸，酒下，三年身固絕根。臨服時，每服加威靈仙末三分，效速。</p>
<p><u>神釀丸</u>　四十九　治歷節、痛風，筋骨走痛。</p>
<p>蒼朮（八兩）　草烏（三兩）　杏仁　川芎　白芷　半夏（各二兩）</p>
<p>上銼片，用姜二斤蔥一斤搗汁拌濕，以藥鋪入瓶內，封好埋土中，春三夏五秋七冬九日取出，曬乾，加猴薑、木香、牛膝、紅花各二兩，當歸、萆薢、茄根各四兩，共為末，老酒糊丸，桐子大。每服六十丸，酒下，日進三次，神效。又一方，有乳香、沒藥、麝香、地龍各五錢，尤奇。</p>
<p><u>神守散</u>　五十　治蛇皮、魚鱗、邪魅、癢風、顛風，一切危重之症。</p>
<p>番木鱉用銅刀刮去粗皮，將麻油入瓦罐內煎滾，漸投下木鱉煎之，待三沉三浮發泡焦黃，取出曬乾，為末。每服一分，臨臥白湯下，避風，待汗乾方可起。服至百日，眉生指直，斑退腫消瘡斂。如病熱反增，乃內毒發出，甚妙。此方亦治痰火，服之則痰從兩脅滾下。又治癲癇，量人強弱服一方，藥末一兩，加甘草末五分更妙。如藥力凶，以黑豆湯解之，綠豆湯亦可（製法未佳，必須照《全生集》方盡善。此方可名獨勝散，各風以此為主方，量加白花蛇、地龍、麝香、蠶蛻、蟬衣、殭蠶、當歸等品尤妙）。</p>
<p><u>黃雄漆丸</u>　五十一</p>
<p>嚴漆（一兩）　蟹黃（五錢）</p>
<p>拌勻，曬。漸去面上汗水，待盡，又加水飛雄黃、牙皂末各五錢，為丸，不可見日，曬則不幹，每服三分，溫酒下。</p>
<p><u>參翎丸</u>　五十二</p>
<p>隔年純白鵝一隻，男用雄，女用雌，尋其毛不可失一根，炒為末，用苦參皮一斤，酒煮為末，黃米酒糊丸，桐子大。每服百丸，空心酒下服，病愈。</p>
<p><u>吳氏苦參丸</u>　五十三　此方胡僧傳於車塘吳氏今以養生，一料共三十六斤，治三十六種風病，不知其由。</p>
<p>苦參（十斤）　草胡麻（九斤）　防風　荊芥　蒺藜（各五斤）　丟子（二斤，俱生）</p>
<p>用為末，酒水為丸。每服一二合，日進三次。似覺傷人臟腑，姑集之，以備參考。能治漏蹄、螻蟈、糍糕、脫跟、疙瘩等風。惟黑色痿爛並初起年少者，服之方好。若久病血衰氣弱老年，俱不宜服。</p>
<p><u>調榮丸</u>　五十四　治大麻、癘麻、嚲曳、啞風、顛風諸癩。</p>
<p>川芎　蘇木　丹皮　蒲黃　乳香　沒藥　草烏　血竭　烏藥　菖蒲　黃芩（各一兩）　益母草　生地　敗龜板　熟地　夏枯草　枸杞　當歸（各四兩）　阿膠　苦參　蓯蓉（各二兩）　知母地骨皮　人參（各一兩五錢）　瑣陽（五錢）　牛膝　銀柴胡　藁本　升麻（各三兩）　桃仁　芍藥　柴胡　紅花（各一兩五錢）</p>
<p>上為末，蜜丸桐子大。卯午酉時各服百丸，乳酪湯下。</p>
<p><u>大定風丸</u>　五十五　治痛風、麻痹、寒濕、走注、疼痛。</p>
<p>南星　白芍　木瓜　官桂　甘草　荊芥　川烏　殭蠶　白芷　牛膝　當歸　檳榔　天麻人參　首烏（各一兩五錢）　羌活　桔梗　獨活　白朮　防己　全蠍　木香　半夏　厚朴　杜仲黃芩（各二兩）　陳皮　枳實　麻黃（各三兩）　白附子　防風（各二兩五錢）　蒼朮（一斤）　川烏（一兩）　乳香　沒藥　沉香　血竭（各五錢）</p>
<p>上為末，酒糊丸桐子大。每服七十丸，酒下。</p>
<p><u>駐車丸</u>　五十六　治歷節、痛痹、寒濕、腳氣、抽掣。</p>
<p>獨活　川烏　沙參　生地　蒺藜　白芷　木瓜　海桐皮（各五錢）　米仁　羌活　防風　細辛　甘草節　牛膝（各一兩）</p>
<p>上為末，用五加皮浸酒煎汁，為糊丸，桐子大，每服七十丸酒下。</p>
<p><u>如意通聖散</u>　五十七　又名麻黃赤芍湯。治白虎、歷節、痛風、寒濕、手足不能舉、渾身走注、抽掣叫號等症。</p>
<p>罌粟殼　丁香　麻黃　赤芍　防風　荊芥　當歸　川芎　羌活　獨活　白芷　甘草　黃芩　威靈仙　草烏（炒黃色）　桔梗　葛根（各二錢五分）　人乳香　沒藥末（各三分）</p>
<p>煎熱服，蓋被取汗。如病在肩背上，加白芷末二錢，如用乳、沒、芷末，待煎好沖服。</p>
<p><u>八將驅邪散</u>　五十八　即八將追魂丹，又名三釐散。治大風、癱、爛、敗症。</p>
<p>麝香（三分）　穿山甲（炙一兩）　蜈蚣（炙去頭足三錢）　土狗（炙）　地龍（去土炙）　番木鱉（酥炙）　金鼎砒　雄黃（各五錢）</p>
<p>上為末，每服三釐，溫酒下。服七日，停七日，服退藥一月又服之。如人素弱，三服三日，就服退藥五日，服補藥三日，再服之。不然使人牙齒浮爛，昏潰疲敗，飲食不進，幾於無救矣。</p>
<p><u>退藥</u>　五十九</p>
<p>乳香　沒藥　血竭　硃砂　當歸　元參　胡麻　桑寄生　牛黃　沉香（各等分）</p>
<p>為末，蜜丸服。</p>
<p><u>補藥</u>　六十</p>
<p>桑螵蛸　晚蠶蛾　銀柴胡　仙靈脾　牛膝　防己　紅花　破故紙　柏子仁　天冬</p>
<p>上為末，蜜丸，桐子大。每服五十丸，酒下，日進二次。</p>
<p><u>陽起聖靈丹</u>　六十一　治痛風不舉伏床者。</p>
<p>當歸　枳殼　川芎（各四錢）　虎骨酥（炙）　牛膝　木瓜　生地　桑寄生　補骨脂　天花粉　烏藥麻黃　陳皮　山藥　蒼朮　自然銅（各二錢）　赤芍　殭蠶　白芷　桔梗　黃芩　紅花　黃耆　甘草　陽起石　龍泉香（各三錢）　防風　荊芥　連翹　風藤（各一兩）</p>
<p>上為末，用不見水，鵝掌二雙，酒煮焙乾，又用狗蹄四隻燒灰，用鵝血煮酒各半碗，不見水，狗血一碗，加面少許，為丸，桐子大，用蔥酒送下，七八十丸，早晚服，一月全愈。</p>
<p><u>鐵魔丹</u>　六十二　治諸般風症。</p>
<p>大風子（一斤用麻黃鬧羊花各四兩酒煮一晝夜）　苦參皮（酒拌九蒸曬一斤）　荊芥穗（淨末一斤）　白蒺藜（微炒一斤）　狗蝨　胡麻（微炒，淨末一斤）　（春）加柴胡　草麻　升麻　川芎　藁本（各四兩）　（夏）加桔梗　黃芩　半夏　銀柴胡（各四兩）　（秋）加石膏甘草　元參　當歸（各四兩）　（冬）加知母　生地　五加皮（各四兩）　（心經）加茯苓硃砂　遠志　山萸　蒲黃　當歸（各四兩）　（肝經）加荊芥　白芷　風藤　羌活　白芍　甘草　地黃（各四兩）　（脾經）加荊芥　白朮　陳皮　蒼朮　獨活　乳香　沒藥　血竭（各四兩）（肺經）加天麻　桔梗　半夏　貝母　柴胡　沙參　巴戟　胡麻（各四兩）　（腎經）加黃柏知母　茯苓　當歸　升麻　草烏　甘草（各四兩）　（胃經）加枳殼　藿香　蒼朮　半夏厚朴　柴胡　益智　草果　白豆蔻（各四兩）</p>
<p>上為末，酒糊丸，桐子大，每服百丸，溫酒下，日進三次。</p>
<p><u>保命丹</u>　六十三</p>
<p>苦參皮　荊芥穗　羌活　蒺藜　胡麻　明天麻　風藤　元參　獨活　連翹　白芷　厚朴紫萍　牛膝（各四兩）　蒼朮　烏藥　藁本　麻黃　甘草　紅花　蒼耳子　川芎　升麻　薄荷　半夏　牛蒡子　木瓜　殭蠶　桔梗　大黃　蒲黃　巴戟　防風　萆薢　蟬殼　牙皂　全蠍　續斷　蔓荊子（各三兩）　石斛（二兩）　甘松　猴姜　菖蒲　草烏　貝母　木香　檀香　沉香　銀柴胡　柏子仁　硃砂　乳香　沒藥　遠志　元明粉　血竭　雄黃（各一兩）　麝香（錢半）　牛黃（一錢）　秋石（一兩五錢）　黃芽（二兩）　（手足攣痛）　加葳蕤（半斤）　香蛇（一條）　（陽痿）　加仙靈脾（六兩）　（身浮腫）　加白花蛇（一條）　紫萍（八兩）　（黑斑）　加廣陵香地骨皮　血見愁（各四兩）　（眼赤爛）　加珠粉　知母　胡黃連（各四兩）　（破音）　加木通（十二兩）　訶子（六兩）</p>
<p>上為末，用甘草膏和陳米糊丸，桐子大，每服八十丸，酒下，日進三次。</p>
<p><u>搜風無價丸</u>　六十四　治諸癩風。</p>
<p>全蠍（四兩）　苦參（三兩五錢）　防風　當歸　川芎（各三兩）　蟬殼　荊芥　羌活（各二兩五錢）　柴胡　獨活　牙皂（各二兩）　丟子（十兩）</p>
<p>上不見火為末，早赤米糊丸，桐子大，上硃砂為衣，每服五十丸，茶酒俱可下。</p>
<p><u>八仙丹</u>　六十五　治新久一切大風。</p>
<p>巨勝子　麻黃　苦參　荊芥　防風　獨活（各十二兩）　大風子肉（八兩）　蒺藜（四兩）</p>
<p>上曬為末，赤米糊丸，桐子大，上硃砂為衣。每服七十丸，茶下。</p>
<p><u>射老丸</u>　六十六　治癩風變形敗體一切惡症。</p>
<p>蟬殼　當歸　柴胡　荊芥（各二兩五錢）　苦參（三兩）　防風（三兩）　全蠍（四兩）　川芎（一兩五錢）　獨活（一兩六錢）　羌活（二兩）</p>
<p>上曬為末，每藥末，一兩加大風子肉一兩六錢為末赤米糊丸，桐子大，西洋珠為衣，每服八十丸，白湯下，日進三次。三日後其腿下黑紫塊上汙皮漸好，十日後即服利藥一次，每月利三次。</p>
<p><u>利藥方</u>　六十七</p>
<p>江霜（一錢）　牙皂末（三錢）</p>
<p>飯丸，葡子大，每服二丸，白湯下。</p>
<p><u>小還丹</u>　六十八　治癩風、眼爛、昏花、眉發、脫落、鼻梁崩倒、肌膚瘡癬、穢破臭惡、癱爛勢危不救者可用。</p>
<p>皂角刺（三斤，酒拌，經大火蒸半日，取出曬乾）　白鵝毛（一隻，微火炒）　苦參（酒浸一日夜，打去皮，半斤）</p>
<p>上為末，用大黃煎酒，打糊丸桐子大。每服三十丸，酒下。服至旬日，眉發生，肌膚潤，眼目明，一料全愈。</p>
<p><u>六和定風散</u>　六十九　治癱瘓、風寒、濕痹、歷節、白虎等風。</p>
<p>蒼朮（四兩）　草烏（二兩）　杏仁（一兩一錢去尖皮）　當歸　牛膝（各四錢）　乳香　沒藥（各一錢）</p>
<p>以生薑、胡蔥搗自然汁各一碗浸蒼朮，待蒼朮泛白曬乾，又加去節麻黃末一兩，每服三四分，酒下。重者五六分，其病根從元府汗中，泄盡愈。</p>
<p><u>轆轤丹</u>　七十　治大風惡癩手、足筋攣、屈曲癱瘸者。</p>
<p>細辛　川芎　黃耆　防風　金毛狗脊　菖蒲　獨活　丹皮　牛膝　米仁（各一兩）　山藥蒼耳實　當歸　巴戟　秦艽（各一兩五錢）　藁本　漏蘆　牛蒡　天麻　虎骨（各一兩）　葳蕤（三兩）</p>
<p>上為末，酒糊丸，桐子大，每服五十丸，酒下，以粗藥末加柴胡，煎湯浴。</p>
<p><u>長春丸</u>　七十一　治風癱困頓者。</p>
<p>苦參　獨活　荊芥　豨薟　紫萍　蒼朮　風藤（各六兩）　木通（三兩）　草烏（二兩）　大風子（一斤）　巨勝子（十二兩）　仙靈脾（四兩俱不見火）</p>
<p>上為末，水滴丸，每服五十丸，茶下。</p>
<p><u>固命丹</u>　七十二　又名飛步丹。治風癩既愈之後氣血虧敗，過服克伐藥，未免神枯陽痿，憔瘁昏倦，腰腿腳痠軟，四肢不暢，服此可使如舊。無病人五十以外者，若常服延齡卻病，行步如飛，妙難盡述。</p>
<p>人參　熟地（各四兩）　枸杞　麥冬（各六兩）　白茯苓　當歸（各一斤）　仙靈脾（取葉一斤，去毛，酒拌蒸）</p>
<p>上為末，蜜丸，桐子大，每服四十丸，米湯、酒俱可下。如陽痿不起，加真陽起石、原蠶蛾各四兩，甚妙。</p>
<p><u>五子芥風丸</u>　七十三　治大風症。</p>
<p>胡麻子　蒺藜子　車前子　澄茄子　大風子　荊芥　防風（各二兩）</p>
<p>上為末，酒糊丸，桐子大，每服百丸，或茶或酒下。</p>
<p><u>順氣散</u>　七十四　治風癘之人元氣枯滯，鬱悶不寧，常服之清爽。</p>
<p>陳皮　桔梗　白芷　甘草　枳殼　川芎（各二兩）　殭蠶　麻黃　乾薑　烏藥（各一兩）</p>
<p>上為末，每服三錢，薑棗湯下。</p>
<p><u>二九還元丹</u>　七十五　治風癘危篤惡症。</p>
<p>胡麻　苦參　荊芥（各八兩）　防風　羌活　升麻　獨活（各二兩）　風藤　木通　當歸　黃柏　白芷（各四兩）　柴胡（三兩）　殭蠶（一兩五錢）　蟬殼　川芎（各一兩）　蒺藜（二兩五錢）　大風子（十二兩）</p>
<p>上為末，酒糊丸，桐子大，硃砂、麝香為衣，每服五十丸，溫酒下，日進三次，避風，戒色。</p>
<p><u>二聖丸</u>　七十六　治癘風痿爛。</p>
<p>大粉草　大柴胡（各等分）</p>
<p>為末，每服三錢，或酒或湯下，日進三次，服至百日，自然病愈。</p>
<p><u>戒止丸</u>　七十七　治穢爛黑腫，臭惡癘風。</p>
<p>荊芥　白芷　防風（各十二兩）　苦參（一斤）　丟子（八兩）　蒺藜　胡麻　牛蒡子（各十兩）　當歸　紅花　川芎（各四兩）　鬧羊花（四兩酒蒸曬二次）</p>
<p>上為末，酒糊丸，桐子大，每服百丸，早晚茶下，腹中響動不安，兩三時即定。</p>
<p><u>參靈丸</u>　七十八　治大風、腫爛、癱瘓、抽掣、困頓，大有奇功。</p>
<p>苦參（一兩）　荊芥　防風　牛膝　威靈仙（各四兩）　蒺藜　胡麻（各一兩）　丟子（八兩）鬧羊花（五錢）</p>
<p>上為末，黃米糊丸，桐子大，每服六十丸，白湯下，日進三次。</p>
<p><u>烏龍丸</u>　七十九　治癩風。遍身瘡癬瘍疥，腫爛臭惡。服此消風散熱，利膈化痰。又治肺氣不和，能推陳致新，去腸垢，滌臟腑穢毒有大功。肥皂角刮去皮筋子，水浸捶爛，絞去渣，取汁入瓦器，煎膏，用黑醜末，共搗為丸，桐子大，每服五十丸，白湯下。如氣虛者，服二三十丸。無病之人氣若實，服一兩利，用三五次不傷正氣，身體輕健，肌膚光澤，永無風痰疥癬。</p>
<p><u>洞虛丹</u>　八十　治惡風、麻木、走注、抽痛者。</p>
<p>藁本　天麻　川芎　細辛（各一兩五錢）　牛膝　羌活（各三兩）　大風子（四兩）　蟬殼　胡麻　防風獨活　殭蠶　荊芥　蘇木　風藤　石膏　蒺藜　山梔　芍藥　菖蒲　石蠶　黃芩　連翹　草烏　紫萍　升麻　紅花　麻黃　白芷　石斛　當歸　威靈仙（各二兩）</p>
<p>上為末，酒糊丸，桐子大，每服百丸，用羊躑蠍草根一斤四兩打碎，以酒二十斤煮，去渣，每以一杯送下，一月病愈，忌食鹽物。</p>
<p><u>清平丸</u>　八十一　治大風、中風、跌蹼、打傷，喎瘓等症。有歌為證。</p>
<p>天生靈草無根斡。</p>
<p>不在山間不在岸。</p>
<p>始因飛絮逐風飄。</p>
<p>泛梗青青浮水面。</p>
<p>神仙一味去沉疴。</p>
<p>採時須是七月半。</p>
<p>癩麻疼痛立時消。</p>
<p>寒熱瘡痍及癱瘓。</p>
<p>任從癲癩暴中風。</p>
<p>些小微風都不算。</p>
<p>黑淋酒化服三丸。</p>
<p>鐵漢頭上也出汗。</p>
<p>七月上旬採河中紫背浮萍，曬乾為末，每斤加草烏、葳蕤、風藤、麻黃各二兩、麝香二錢。</p>
<p>共為末，蜜丸，彈子大。以草烏煎，酒磨，服一丸。重者以烏頭煎，酒磨下。輕者以黑豆炒香，烹，酒磨，服。</p>
<p><u>豨薟丸</u>　八十二　治肝腎風氣，四肢麻痹，骨節痠疼，腰膝無力，癩風痿爛，濕痰中風，口眼喎邪，手足屈曲癱瘓等症。</p>
<p>於五月五、六月六、七月七等日採豨薟草葉，拭去毛沙土，曝乾，以老酒拌蜜酒層層和灑，以柳木甑蒸透，曬乾，共九次，加乳香、沒藥、沉檀、降木、真麝等香，當歸、血竭各等分，共為末，蜜丸，桐子大，每服三錢，無灰酒下，神效。</p>
<p><u>胡麻丸</u>　八十三　治大風、大癘、中風，乃風科之妙方。</p>
<p>胡麻（一斤）　苦參皮（五斤酒浸七日）　荊芥穗（四斤）　豨薟草（葉淨三斤）　蒼耳草（葉淨三斤）　紫背浮萍（二斤蒸透曬乾）</p>
<p>先將豨、蒼二味蜜拌，蒸一伏時，曬乾，後共為末，酒糊丸，桐子大，硃砂為衣，每服百丸，茶酒俱可下，日進三次。</p>
<p><u>獨聖散</u>　八十四　治鼓槌風、手指攣瘸、足趾腫爛脫落、腿肘曲折腫痛難忍。</p>
<p>蓖麻子肉（二兩碎者不用）　黃連（二兩）</p>
<p>同貯瓶內，加水浸之，春五夏三秋七冬九日取出，每晨朝東南方，以瓶中水一鍾吞蓖麻一粒，漸加至四五粒，若微泄無妨，如手指足趾節間腫疼，諸病即愈，戒食動風辛辣毒物。</p>
<p><u>跨鶴丹</u>　八十五　治雞爪風。</p>
<p>五加皮　海桐皮　川烏　川芎　赤芍（各五錢）　乾薑　肉桂（各一錢）</p>
<p>上為末，每服三錢，用水二盞，將青錢一個入青油浸三日，同煎服。</p>
<p><u>靈芽芷珠</u>　八十六　治爛風痿頓，臭惡疙瘩。</p>
<p>人蛆以水養淨，再以濃茶養三日夜，炙香為末，每兩加麝香一錢，酒糊丸，彈子大每服一丸，熱酒磨下，眩瞑周時自醒，病若脫去，重者五七丸全愈。</p>
<p><u>雄漆丸</u>　八十七　治爛風瘡穢臭惡者。</p>
<p>透明雄黃（水飛淨八兩）　淮熟地（八兩）　乾漆灰（一兩）</p>
<p>上為末，醋糊丸，桐子大，每服七十丸，酒下，服藥一料全愈。</p>
<p><u>蓬萊棗</u>　八十八　治癱瘓痿爛，臭惡困頓者。</p>
<p>北紅棗（一斤，取肥大不破者）　五臺草（取自然汁十碗，一名貓耳眼，又名濃灌草）　透骨草（即馬鞭草）　左纏藤（即金銀花）　夏枯草　透天龍（即茜草）　土風藤（即九龍草）　蒲公英（各取汁一碗）　黃花根（一兩）</p>
<p>上各草於二月中旬收採，加白酒漿二碗，入砂鍋內文火慢煎，汁盡用千年葉、川椒煎湯，洗去棗上泥，陰乾。如病人手指攣瘸屈倒，五年者服二斤，十年者服四斤，二十年者不治。服時要在靜處避風，端坐養神。先吃一個，三日外增三枚，五日外增五枚，常服之，仍以扁柏川椒湯洗手，外用沉香、麝香末為衣更妙。其煮過棗汁，為瘡疽圍藥極好。或以金銀花藤蒸曬為末，和丸，外科服之甚妙，風科服之亦好。</p>
<p><u>聖散子</u>　八十九　治諸風痿困攣曲，臭惡危爛者。</p>
<p>鬧羊花根（老酒拌九蒸曬）　缸岸即坑垽，要多年露天者，醋煅三四次，（各一兩）　人牙（炙黃）　雄黃（水飛，各八錢）　牛黃（一錢二分）　蟾酥（三錢）　硃砂（五錢）　麝香（一錢）</p>
<p>上為末，每服四分，沙糖調溫酒下。</p>
<p><u>花龍丸</u>　九十　又名混元丹。治風濕，腰背以下腿股癱瘓，寸步不能，日夜抽掣，伏床不起。</p>
<p>蒼朮（四兩）　黃柏（酒，浸炒）　靈殼（酥炙）　朱膝　當歸　蓖麻　防己　茄根皮（各一兩）</p>
<p>上為末，酒糊丸，桐子大，每服百丸，姜鹽湯下。</p>
<p><u>白龍丸</u>　九十一　又名輔龍丹。治風濕，腰跨以上肩背大痛，肘膊僵軟，匙筋難舉，傴僂脊高。</p>
<p>乳香　沒藥　川烏　草烏　地龍　南星（各等分）</p>
<p>上為末，酒糊丸，每服四十丸，或酒或荊芥湯下，服至四兩除根，外以石楠葉煎湯洗沃。</p>
<p><u>香身湯</u>　九十二　治大風。腥臭穢人不能近者。</p>
<p>白芷　香附　當歸　桂心　檳榔　益智　甘松（各三兩）　檀香（二兩）　麝香　韶腦（各五錢）　木香　沉香　松子（各一兩五錢）　香蛇（二兩）</p>
<p>上為末，甘草膏丸，桐子大，臨臥含化五丸，大能祛症。</p>
<p><u>大衍丸</u>　九十三　治諸風。癱痿變形，脹腫困敗者。</p>
<p>羌活　當歸　白芷　防風　粉草　連翹　熟地　牛蒡子　殭蠶（各二兩）　蒺藜（六兩）　元參（半斤酒拌曬）　苦參皮（一斤酒浸九蒸曬）</p>
<p>上為末，酒糊丸，桐子大。每服百丸，滾湯下，日進三次外用</p>
<p>甘草　黃柏　荊芥　苦參　槐頭　椿頭　防風　大風子殼</p>
<p>蔥煎洗浴。</p>
<p><u>仙花膏</u>　九十四　治大風惡症神效。</p>
<p>鬧羊花（八兩酒蒸九次）　蒼耳子（八兩炒）　敗龜板（煅白如霜二兩）　番木鱉（醋炙二兩）</p>
<p>上為末，用蜜一斤熬去水氣，調之。入竹筒內掛當風處。病人初起酒服五分，弱者服一二分，不飲者沙糖調下。</p>
<p><u>水制黃香丸</u>　九十五　又名黃龍丸，治諸風危困，無藥可治，將斃者。舶上硫黃</p>
<p><u>，黑色者曰雌。黃色者曰雄。各半打碎，滴花傾入釅醋內，取出裡面之油。取淨者一斤，用竹筒一個削去青，入硫在內。以蠟封口，投入無水糞坑中。浸一年取起。放長流水中四十九日。明亮松香溶化加燒酒煮六七沸，傾入冷水內抽扯去，內苦黃味，再煮再抽，一連七次，拔淨，細白無腳，方用三兩茅朮米（泔浸刮去粗皮，用白淨者一斤）</u>　紫檀香　茅香（俱不見火）　白膠香　川烏（泡去皮）　川芎（各四兩）　惡實頭（末）　草烏炮（去皮）　明天麻（各三兩）　一方加地龍二兩名黃龍丸。</p>
<p>上為末，陳皮糊丸梧子大。每服五十丸，滾湯下。如皮膚髮熱，加番木鱉五錢，以麻油煮熟，忌豬肉，房事。</p>
<p><u>治鵝掌風雁來風方</u>　九十六</p>
<p>銀杏肉打爛，搓擦如干，撲去渣，不可水洗，再加冰片、麝香各三分，研勻。桐油調塗上，以艾火熏之。</p>
<p>又方</p>
<p>用真平胃散、桐油調塗，於炭火上熏之。頻塗頻熏。</p>
<p>又方</p>
<p>用烏骨白雞，勿使犯雌，另蓄一處。收其糞曬乾，加入蛇床子末，煎湯入瓶內，熏之。待溫即洗。　一方加雄黃皮硝尤妙。</p>
<p>又方</p>
<p>用蒼朮、艾煎湯，瓶內熏之，俟溫洗之。</p>
<p>又方</p>
<p>水銀（三錢）　鉛（二錢化開）投入水銀為末，用硫黃三錢研細，將茄蒂蘸擦。一法以滴滷洗，二三次則愈。</p>
<p><u>白癜風方</u>　九十七</p>
<p>用麻油半斤生柿柁兩個打爛和勻入鍋內熬黑去渣點在患處自變好肉。</p>
<p><u>三分散</u>　九十八　治諸惡風、痿困、癱爛危篤者。</p>
<p>鬧羊花（酒拌九蒸曬）　用生漆每兩加樟冰（二錢）　雄黃（二錢）　攪勻隔湯燉化，拌蒸曬乾。又以茜草根搗汁，拌蒸曬乾為末，每兩加雄黃（三錢）　麝香（五分）　蟾酥（二錢）　研勻，每服三分，沙糖調，溫酒下。半日不可見風。</p>
<p><u>四物湯</u>　九十九</p>
<p>川芎　當歸　白芍　大生地</p>
<p><u>人參敗毒散</u>　一百</p>
<p>人參　羌活　獨活　前胡　柴胡　荊芥　防風　桔梗　川芎　枳殼　茯苓　生甘草　生薑　大棗</p>
<p><u>補中益氣湯</u>　一百另一</p>
<p>升麻　柴胡　人參　綿黃耆　當歸　茯苓　白朮　炙草　姜　棗</p>

<h1>卷四</h1>
<p><u>參朮遇仙丹</u>　百另二　治三十六種大風諸惡危症。</p>
<p>人參　白朮（各一兩）　川芎　皂角刺　藁本　蟬殼　天麻（各二兩）　羌活　獨活　細辛紫參　丹參　沙參　知母（各三兩）　元參　當歸　荊芥穗　紅花　蒼朮（各四兩）　穿山甲　殭蠶　蜈蚣漏蘆　萆薢　石斛　秦艽（各一兩）　乳香　沒藥　血竭（各七錢五分）　麝香（五分）　木香（二兩五錢）　地龍（八錢）　苦參皮（半斤）</p>
<p>上為末，蜜丸桐子大。每服五十丸溫酒下，忌牛、羊、豬肉、野味、雞、鵝、燒酒、房事，避風為上。</p>
<p><u>子和方</u>　百另三</p>
<p>五經風症少人知　金肺傷風損兩眉　肝木不仁身紫色　土脾受濕癬斑皮　火心傳遍傷雙目　水腎生災漏兩蹄　識透五般風病症　才堪世上作良醫</p>
<p>又云</p>
<p>蟲入肺經先落眉　蟲入心經手拳　蟲入脾經身麻木蟲入腎經穿腳底　蟲入肝經眼目反　蟲入胃經將癢皮</p>
<p><u>第一神效散</u>　百另四</p>
<p>黃柏末　皂角灰（各三錢）</p>
<p>研勻作一服，溫酒調，空心服。晚勿食，至二三更必下蟲。大小長短者甚多。</p>
<p><u>第二清氣散</u>　百另五</p>
<p>枳殼　檳榔　青皮　陳皮　厚朴　澤瀉　半夏　茯苓　豬苓　當歸</p>
<p>水煎服。</p>
<p><u>第三大皂丸</u>　百另六</p>
<p>皂角二十，刮去黑皮，酒炙黃，研末。另以十片搗取汁煉膏丸梧子大，空心酒下三十丸。</p>
<p><u>第四消風散</u>　百另七</p>
<p>白芷　全蠍　人參（各一兩）</p>
<p>上為末，每服一錢空心溫酒下</p>
<p><u>第五順氣散</u>　百另八</p>
<p>苦參皮（二斤）　烏藥　防風（各四兩）</p>
<p>上為末，每服三錢酒下。</p>
<p><u>大風丸</u>　百另九　治眉目遍身穢爛者。</p>
<p>大風子肉（三十兩）　防風　川芎（各十兩）　蟬殼　羌活　細辛　首烏　獨活　苦參　當歸　牛膝　全蠍　黃耆　薄荷（各二兩）　白芷　狗脊　牛黃　血竭（各五錢）</p>
<p>上為末，米糊丸，桐子大。每服十五丸，茶下空心服，日進三次，外以桑條灰二斗。滾湯淋汁，洗頭面有瘡者，以汁調灰塗之，或用黑豆，綠豆浸取豆漿三日，煎湯浴一次，仍頻洗腳。</p>
<p><u>大麻三方</u>　百十　治一切大麻風危者大有功效。</p>
<p>當歸　川芎　熟地　桃仁　防風　荊芥　紫蘇　薄荷　芒硝　連翹　赤芍　桔梗　紫萍麻黃　紅花　蘇木　大黃　白朮　厚朴　山梔　黃芩　丹皮　石膏　甘草（各一錢）　滑石（一錢五分）</p>
<p>水煎服十劑，重者加全蠍，上部加升麻，下部加木瓜、牛膝、麝香、獨活。發熱加乾葛、柴胡。面部加白附子，氣滯加木香磨酒沖服。</p>
<p><u>發表攻裡散</u>　百十一</p>
<p>老人牙灰（四個）　牛蝨（三十個焙）　桑蟲（四條焙）　穿山甲　虎骨（酥炙）　鹿角灰（各一兩）　蜈蚣（二十條炙）　敗龜板（炙）　蜂房（炙）　官桂（各一兩）　麝香（五分）　牛黃（三分）蜒蚰（四條）　血餘灰　雞鵝卵殼（煅，各一兩）</p>
<p>上為末，每服三錢酒下。</p>
<p><u>丸方</u>　百十二</p>
<p>苦參皮（一斤酒浸一夜曬）　皂角（八兩）　花椒（四兩）</p>
<p>上為末，酒糊丸桐子大。每服五十丸，空心溫酒下。</p>
<p><u>奪命丹</u>　百十三</p>
<p>苦參　桔梗　升麻　當歸　白芍　連翹　荊芥　防風　羌活　蒼朮（各四兩）　獨活　茯苓　黃芩　川芎　蛇床子（各二兩）　薄荷　大黃　白芷（各五兩）　陳皮　半夏　乾葛（各三兩）　枳殼（一斤）　甘草（一兩）　山梔（半斤）　芒硝（三兩）</p>
<p>上均作十帖水煎服。</p>
<p><u>丸方</u>　百十四</p>
<p>防風　當歸　牛蒡　荊芥（各四兩）　蒺藜　胡麻（各二斤）　荊子　苦參（各一斤）　大風子肉（六斤）　血竭（八兩）　牛黃（三錢）　麝香（六錢）　冰片（一錢五分）　辰砂（七錢）</p>
<p>上為末，蜜丸梧子大。每服八十丸，空心酒下</p>
<p><u>擦方</u>　百十五</p>
<p>丟子（三錢）　杏仁（二十粒）　蛇床子　檳榔　防風　荊芥　苦參　風藤　川槿皮　威靈仙　茅香藁本　菊花　藿香　甘松　麝香　細辛　水銀　車米　硫黃　枯礬　白芷（各一錢）</p>
<p>共研末擦之。</p>
<p><u>洗方</u>　百十六</p>
<p>荊芥　防風　菊花　枳殼　金銀花　大風子　蔓荊子　苦參　元參　沙參　煎湯洗之。</p>
<p>上方治心、肝二經受病，其色青、遍身紫、綠色或有泡初起，眉毛未落，面目瘙癢，如蟲行之狀者神妙，若加桃柳楮桑槐嫩枝在內，煎湯洗更妙。</p>
<p><u>遠年大風煎方</u>　百十七</p>
<p>升麻　川芎　枳殼　陳皮　天麻（各三兩）　黃連　黃芩　前胡　連翹　地骨皮（各四兩）麻黃（五兩）　全蠍　薄荷（各二兩）　木香三錢　丟子（一斤）　（　眼昏）加菊花　黃柏（各一兩）　（麻木）加木通　滑石（各一兩）　（爛瘡）加雄黃　苦參（各一兩）　（紫泡）加紅花　蘇木（各一兩）　（身痛）加羌活　防風　蒼朮（各一兩）　（面癢）如蟲行加白附子（一兩）</p>
<p>上均作十帖水煎服。</p>
<p><u>丸方</u>　百十八</p>
<p>防風（六兩）　羌活　升麻　菖蒲　連翹　牛蒡子　前胡　檳榔　厚朴　蒼朮（各四兩）　苦參（八兩）　胡麻　花粉　蒺藜（各一兩）　殭蠶　枸杞　木瓜　天麻　菊花　川芎（各二兩）　丟子（一斤）　（如紫色）加硃砂（五錢）　（腳軟）加牛膝　防己（各二兩）　（腳腫）加木香（五錢）　（瘡爛）加雄黃（二兩）　（遍身爛）加白花蛇（一條）　（身痛）加羌活　獨活（各二兩）</p>
<p>上為末，米糊丸桐子大。每服百丸白湯下，日進三次。</p>
<p><u>洗方</u>　百十九</p>
<p>首烏　荊芥　防風　槐枝　苦參　馬鞭草　金銀花　楓樹皮</p>
<p>煎湯服下。</p>
<p><u>末藥西江月</u>　百二十</p>
<p>雄黃　南星　半夏　川芎　草烏　硃砂　更加一味白天麻　每服半分酒下　七味皆為細末　分兩稱准無差　渾身出汗住疼麻　萬兩黃金無價。</p>
<p><u>草方</u>　百二十一</p>
<p>荔枝草　箭頭草　黃花地丁草（蒲公英）　忍冬藤草各等分，　曬乾為丸酒下。</p>
<p><u>既濟丹</u>　百二十二　治三十六種危惡大風。</p>
<p>白砒（二錢綠豆腐煮半日）　人中白（六兩醋煅七次）　明雄黃（五錢）　硃砂（四錢）</p>
<p>上為末，每服半分以大黃、黑牽牛，各五分煎湯空心下。七日後追出異蟲從大便出，用荊芥湯洗澡，則蟲皆墜缸底。如身上覺癢，將白芨煎湯，服藥二七日，則面黑腫皆退。如愈後即服下除根方。</p>
<p><u>除根方</u>　百二十三</p>
<p>白砒（一錢）　地骨皮　丹皮　當歸　生地（各一兩）</p>
<p>上為末，蜜丸卜子大。每服十丸或酒或茶，下日進三次，則永不發。服此之後，要服蘇骨丹一年。</p>
<p><u>蘇骨丹</u>　百二十四</p>
<p>漢防己（三兩）　風藤（四兩）　甘草（二兩）　松香（一斤）</p>
<p>酒煮一日，傾水抽扯五七次，白淨細膩俟冷共為末，米糊丸桐子大。每服七十丸，白湯下，則筋舒血足矣。</p>
<p><u>又方</u>　百二十五</p>
<p>水銀　膽礬　明礬（各等分）</p>
<p>上研至不見星，以三分擦手足心，先服前末藥，五七日再服。蘇骨丹三五日，然後擦二三日，又服末藥，如此間行之。</p>
<p><u>藥酒方</u>　百二十六</p>
<p>石六軸子（四兩）　烏蛇（一條）　當歸（四兩）　甘草（八兩）</p>
<p>先以水六碗，煮甘草汁三碗，方入燒酒一斤，並三味藥隔湯煮三炷香，埋地七日，每早飲一杯。</p>
<p><u>黃白丹</u>　百二十七　治大風攣斃敗絕危困者。</p>
<p>白：松香水煮淘五七次，又以黃酒或火酒煮。曰：占各等分為末紅棗肉丸，每服百丸酒下。</p>
<p><u>漱風散</u>　百二十八</p>
<p>甘草　石斛　藁本　麻黃　乳香（各一兩）　當歸　蒼朮　細辛　荊芥　川芎　全蠍（去硝泥炙）　牙皂　兩頭尖　升麻　白芷　川芎　胡麻（各三兩）　草烏（三兩六錢）　川烏（二個各重一兩）童便浸煨。</p>
<p>上為末，每服五七分酒下。麻木者三四服即愈。</p>
<p><u>養龍湯</u>　百二十九　治大風癱攣眉毻。</p>
<p>歸尾　白芷梢　全蠍　殭蠶　蟬殼　風藤　菖蒲　木瓜　苦參　荊芥　甘草　薄荷　紅花　生地　連翹　蔓荊子　首烏　米仁　角刺　牛蒡子　白蒺藜　威靈仙　金銀花　五加皮　胡麻蝨　養骨龍　水煎加乳香沒藥服。</p>
<p><u>脫胎丹</u>　百三十　治三十六種風症。</p>
<p>紅砒（四兩）　羌活　獨活　黃連　山梔皮（各五錢）　硇砂　甘草（各三錢五分）　丟子（半斤）　大皂莢（六兩）　共研勻水煮一晝夜，微火炒乾，加樟、水各一兩五錢，入罐封固。打火三炷香，取升起靈藥四兩，用青布包之以童便浸。山梔皮搗為餅，包藥七日，取出研末，聽用每藥三釐用姜一片，荊芥一撮，泡湯下，七日後身發癢，煎白芨湯飲之則止，再服苦參丸收功。</p>
<p><u>苦參丸</u>　百三十一</p>
<p>苦參三斤銼片，童便浸七日。以長流水漂淨曬乾，加甘草、黃連、山梔各三兩，共為末水法丸。每服百丸酒下，日進三次。</p>
<p><u>定風酒</u>　百三十二　治痛風寒濕痿困諸症。</p>
<p>檀香　羌活　防風　牛膝　杜仲　芍藥　當歸　木瓜　天麻　白芷　川芎　麻黃　陳皮荊芥　半夏　黃芩　官桂　蒼朮　首烏（各一兩）　沉香　木香　乳香　沒藥　血竭　紅花（各五錢）</p>
<p>上均作三帖，用無灰酒一罈入藥，一帖封固。隔湯煮五七沸，不拘時隨量飲。</p>
<p><u>碧霞漿</u>　百三十三</p>
<p>羌活　獨活　白芷　川烏　細辛　菖蒲　蒼朮　風藤　苦參　當歸　防風　升麻　藁本蒺藜　荊芥　木瓜　薄荷　茄根　防己　天麻　川芎　射干　麻黃　水萍　胡麻　葳蕤　首烏木香　檀香　沉香　仙靈脾　威靈仙　蛇床子　枲實　金銀花　羊躑躅花（各五錢）　酒漿一罈入藥五兩，隔湯煮透俟冷。每飲一杯，避風二時，朝夕飲。</p>
<p><u>無憂酒</u>　百三十四　治濕痹諸般腫痛。</p>
<p>防風　牛膝　羌活　鱉甲炙　虎骨炙　松節　蠶沙　白朮（各二兩）　萆薢　當歸（各三兩）　秦艽（四兩五錢）　蒼耳子　枸杞（各四兩）　茄根皮（八兩）　杜仲（一兩五錢）　紅花　藁本　香蛇（各一兩）</p>
<p>酒漿一罈入藥四兩煮熟隨量飲。</p>
<p><u>甘醴</u>　百三十五　治麻痹不省人事。</p>
<p>羊躑躅花（一兩）　北紅棗（五十枚）　風藤（二兩）　燒酒（五六碗）　共入壇內，糠火煨，飲半小杯，令人昏迷一周時，酒未完而病已脫。</p>
<p><u>神仙酒</u>　百三十六　治痛風遍身僵腫及半身不遂並外廣瘡寒濕皆效。</p>
<p>鬧羊花根（三斤）　生薑（四兩）　紅棗（六兩）　醇酒（二十碗）　酒漿（十碗）　將藥浸入酒內，煨熟去渣，臥時服一小杯。</p>
<p><u>烏茶酒</u>　百三十七　治痛風、痹症、癘風、疙瘩、黑腫、癱瘓，等症。</p>
<p>烏茶草即七葉連根草　當歸　五加皮　川芎　生地　芍藥　升麻　白芷　防風（各二兩）甘草（五錢）　元參　蒼耳子（各三兩）　烏藥　羌活　獨活　前胡　秦艽　金銀花　鬧羊花根（各一兩）　千金草〔（即⿰土厭草九首頭香糙米菊回回草）二兩〕　好酒一罈入藥，隔湯煮透，隨量飲，醉醒痛止。</p>
<p><u>推云酒</u>　百三十八　又名馮夷瓊漿，治紫雲、疙瘩、攣困、麻木、剜割不知者。</p>
<p>川烏（三兩泡）　苦參　羌活　防風　胡麻　甘菊　荊芥　風藤　連翹　粉草　白芷　黃連　當歸　川芎　黃芩　芍藥　牛膝　獨活　殭蠶　蟬殼　生地　首烏　威靈仙　金銀花（各五錢）</p>
<p>上均作二帖，用酒漿一罈入藥，一帖密封蒸之。每日三進，每進一杯，重者四壇全愈。輕者一料，飲酒時以藥湯頻浴為妙，藥湯方備下。</p>
<p><u>浴藥方</u>　百三十九</p>
<p>菊花　乾荷葉　藿香　白芷　甘松　麻黃　沙參　各等分為末每水一桶，入藥末三錢，加桃柳枝各一把，煎四五沸，睡時於無風處熱洗久出。忌豬羊肉、房事、勞役、惟鰻鱺、烏魚白鴨，啖之方效。</p>
<p><u>治冷痛麻風</u>　百四十</p>
<p>鬧羊花根（四兩）　北紅棗（一斤）　燒酒（五斤）</p>
<p>上藥酒共入壇封固煮。一日每飲一小杯，一周時醒頓愈。</p>
<p><u>苦參膏</u>　百四十一　治大麻風癮疹攣瘓等症。</p>
<p>新鮮苦參十斤銼片，老酒一罈浸之。春五、夏三、秋七、冬九日取出，曬乾為末。加紫萍五兩，用蒼耳草自然汁十碗煎熟，加白蜜五六斤同煉成膏，入參萍末和勻，瓷瓶收貯，每用一匙以白湯或酒化下。</p>
<p><u>仙黃花膏</u>　百四十二</p>
<p>三四月間收羊，躑躅草連根搗取自然汁，煎煉加白蜜成膏，量加麝香、冰片、松香，收貯瓷瓶。每服一匙，酒下昏沉一二時，醒後自覺爽快。其風癘、麻痛頓愈。</p>
<p><u>豨薟膏</u>　百四十三</p>
<p>六七月間收豨薟草，水洗淨拭去毛刺，搗取自然汁，文火慢熬，不住手攪之。勿冷黏底，加白蜜煎煉，熟加當歸　蘇木　紅花　乳香　沒藥　血竭　木香　沉香　檀香　麝香　葳蕤　各等分為末煉成膏，瓷瓶收貯，每用一匙白湯下　一方取蒼耳汁對分煎之亦好。</p>
<p><u>鉛汞膏</u>　百四十四　治風癩血、枯手足、僵攣身、內干憔、骨瘦如柴者。蘇木十</p>
<p><u>斤研碎，以水三四桶煎試，滴水不散，去渣加紫草二斤。當歸</u>　紅花　各一斤銼碎入內，再煉去渣，再加乳香　沒藥　血竭　沉香　檀香　香蛇　人參　麝香　各等分為末，白蜜二斤同煎煉成膏收貯任服。</p>
<p><u>百花膏</u>　百四十五</p>
<p>透骨草　忍冬藤　蒲公英　鶴蝨草　九龍藤　野天麻　旱蓮草　半枝蓮　地楊梅　豨薟草　蒼耳草　紫地丁　地錦草　旱辣藜　大小青　薄荷葉　靈芝草　魚腥草　見腫消　血見愁　淡竹葉　南天竹　枸杞頭　橘樹頭　枳椇葉　五加葉　接骨木　石楠頭　地蜈蚣　萹蓄草　馬齒莧　野芥菜　蛇床葉　長青草　慎火草　太湖蔥　各等分，搗汁煎加蜜，煉成膏。再加沉香　檀香　冰片　麝香　各等分為末，入內收貯瓷瓶，勿泄氣。每服一匙酒下，日進三次。倏合時，忌婦女雞犬見。</p>
<p><u>烏飯膏</u>　百四十六　治大風攣曲者。</p>
<p>南天竹即（名烏飯時山人呼為一丈虎）春夏收其枝葉秋冬取其根皮水熬成膏服。</p>
<p><u>太乙神漿</u>　百四十七　治諸風癘大症。</p>
<p>肥蟹十二隻，雌雄各半，去垢淨剁，爛入瓷瓶，內好嚴漆三十六兩入內，唸咒六遍。以云鶴馬，包封埋陰地，喜神方向七七日取出，日飲一杯。咒曰：天靈地靈　天地清寧　神仙和合　萬氣本根　祛邪療病　永保長生，吾奉太上老君天醫使者敕令。</p>
<p><u>四聖膏</u>　百四十八　治手背攣曲不舒，節間疼痛，攤在紙上貼之，漸漸痛止伸直。</p>
<p>薑汁　蔥汁（各二碗）　線膠（四兩）</p>
<p>同煎煉，再入草烏末四兩為膏，如無蔥汁，須加火酒，再入乳沒（各一兩）。</p>
<p><u>五灰膏</u>　百四十九</p>
<p>桑柴灰　毛竹灰　豆箕灰　慄柴灰　蕎麥灰（各五升）　淋取濃汁文武火煉俟凝加明鹼（一塊）　礦灰（一塊）　硇砂　白丁香　白附子　巴豆　附子斑毛　各等分為末，和勻收貯，如冷麻、大風、腫塊，並手足拘攣者以刀刺破皮膚塗之，爛去惡肉，以除毒根。</p>
<p><u>黑雲膏</u>　百五十　大風大癘，紫黑腫塊，瘡癬惡形，塗之旦夕脫光。</p>
<p>當歸　川烏　川椒　飛鹽（各二兩）　赤芍　白芷　羌活　木香　殭蠶　杏仁（各五錢）　黑豆（一升半）　芝麻（二升）　蓖麻子（一百粒）　蒼耳子（半升）　白附子（一兩五錢）　各為末，和勻，以槐花油四兩拌之，入瓷罐內築實。以青槐枝數條插內通底，生布包瓶口。將地掘一穴，埋一闊口，矮瓶在內，將藥瓶倒入，瓶內鹽泥封固上面，以棉花核二斗堆在瓶上，以桑柴二百斤燒半日，去柴留炭，火煨至午間，則油滴在下瓶，內俟冷取出加　雄黃　乳香　沒藥　血竭（各五錢）　牛黃（一錢）　麝香（二錢）　共研末加入。</p>
<p><u>通天膏</u>　百五十一　凡大風癘瘡癢疼干爛疥癬塗之立愈。</p>
<p>大風子（四斤）　川胡麻　蓖麻子　土木鱉　杏仁　山棘（各二兩）　芝麻（四合）</p>
<p>上搗爛入瓶內築實，以柳枝三四根插著瓶底，掘地潭埋一大罐，外以水灌泥潭將藥瓶合在上口上以炭火打三炷香煏油下溜。</p>
<p><u>九子油膏</u>　百五十二</p>
<p>蛇床子　栝蔞子　牛蒡子　棉花子　木鱉子　蓖麻子　胡麻子　大風子　蒼耳子各等分</p>
<p>上搗和入，瓶內倒轉，炭火煏油加雄黃、麝香、樟腦末塗癬瘡。</p>
<p><u>長肉膏</u>　百五十三　如風瘡爛潭，以濃茶洗淨，將膏塞入，不日長平。</p>
<p>銀硃　雲母粉　象牙末（各等分）</p>
<p>以雞子清調之。</p>
<p><u>坎離膏</u>　百五十四　凡大風乖癘，久爛無皮，以甘草湯洗淨，搽之三四日即愈。</p>
<p>血竭（三錢）　冰片（一錢）　輕粉　水銀（各二錢）　大風子肉（一兩）　白占（五錢）</p>
<p>上研至不見星，加熬熟香油，調加麝香（一分）　冰片（二分）　如治鶴膝風。再加鬧羊花根二兩、穿山甲末六錢。</p>
<p><u>三白膏</u>　百五十五　凡風癘、癬瘡、乖爛，塗二三次即愈。</p>
<p>大風子肉　冰片　水銀　車米　和研不見星。</p>
<p><u>小春膏</u>　百五十六　凡痛風寒濕大風腫塊貼之如神。</p>
<p>桐油（一斤），煎滾即下黃丹（四兩），隨下穿山甲（一兩），又下蜈蚣（十條），漸投白鵝毛（二兩），血餘（五錢），化盡傾水內俟冷收杯內，隔湯化開，入乳香、沒藥、血竭、車米、韶粉（等分，各一兩）。</p>
<p><u>青白膏</u>　百五十七</p>
<p>用白松香、青葙子各等分，以蔥頭同打為餅，塞入爛潭，即生好肉長平。</p>
<p><u>三聖膏</u>　百五十八</p>
<p>風瘡爛潭深久者，以濃茶同甘草煎洗淨。用杏仁七十粒，半夏半粒，同搗細塞，俟肉長平，用摻藥收用。</p>
<p><u>雁來風</u>　百五十九</p>
<p>黃占　穿山甲炙　車米　大風子肉</p>
<p>研細，菜油調塗，日易。</p>
<p><u>佛手膏</u>　百六十　治諸風黑紫瘡核並手足腫大，惡瘡脹濕，久爛者。</p>
<p>斑毛（七個）　巴豆（七十粒）　杏仁（二十粒）　砒（一錢）　盆硝（一兩）　紅娘子（十四個）黃占　韶粉（各五錢）　硫丹（各三錢）　瀝青　膩粉（各一兩）　綠豆（一合）　槐角（三條）　清油（四兩）　血餘（五錢）</p>
<p>上以油煎發化，次下紅娘子，巴豆、槐角等逐件俟，焦枯漉出方下硫硝丹粉，不住手攪滴水成珠為度，先將針刺破腫塊，以膏貼之二三日愈。</p>
<p><u>千捶膏</u>　百六十一　治大風腫脹黑瘡手足脹大者。</p>
<p>杏仁　江子　蓖麻子（各六十粒）　銅青　松香（各四兩）</p>
<p>先將前三味搗千杵，加後二味再搗成膏，如干加香油少許，放水中忌見火。</p>
<p><u>呼膿膏</u>　百六十二</p>
<p>蓖麻子、大風子白肉（各一百粒），搗千杵加松香再搗成膏，加乳香、沒藥、血竭、車米、麝香各少許，貼之。</p>
<p><u>水成膏</u>　百六十三　治諸風破爛及面手足汙瘡能令生肉。</p>
<p>陳皮（八兩炒黑）　陳米（半升炒香）　藿香　馬蹄香（各一兩）　麝香（一錢）</p>
<p>上為末，冷水調敷，有膿處如破，用槐枝湯洗淨敷之。</p>
<p><u>昇平散</u>　百六十四</p>
<p>紫萍　黑豆　升麻　麻黃（各等分）</p>
<p>上為末，酒糊丸綠豆大，每服五十丸，酒下，臨臥服取汗，三日再服，三次愈。</p>
<p><u>云翎散</u>　百六十五</p>
<p>白鵝毛炒鐵色為末，老酒下三錢，再飲酒以醉為度，取汗必滋黏者，三日後腫塊漸退。</p>
<p><u>雨霖丹</u>　百六十六</p>
<p>當歸　川芎　沉香　甘松　木香（各一兩）　乳香　沒藥（各五錢）　槐實　紫萍　白花蛇（一條去皮頭足炙）　麻黃（十斤去節根水煎膏）</p>
<p>上為末，麻黃膏丸彈子大。每服一丸，麻黃酒磨下臥半日避風。</p>
<p><u>雷公散</u>　百六十七　如服丟子丸當常服此，以免害目。</p>
<p>雷丸（二錢六分）　丟子肉（一兩五錢）　檳榔（一兩六錢）　無名異（二兩五錢）　錫灰（五錢）</p>
<p>上為末每服五錢酒米糊亦可。壯人半月一瀉，瘦人二十日一瀉。</p>
<p><u>牙霜丸</u>　百六十八</p>
<p>牙皂末（一兩）　巴霜（三錢五分）</p>
<p>飯丸綠豆大，白湯下二丸，利下黑物。</p>
<p><u>紅玉散</u>　百六十九</p>
<p>東丹　象牙末（各五錢）　乳香　沒藥（各一錢）　孩兒茶　車米　韶粉　赤石脂　爐甘　石（煅）　寒水石（煅，各二錢）　白占（一錢）　血竭（三錢）</p>
<p>研末輕摻。</p>
<p><u>珠雲散</u>　百七十</p>
<p>雲母粉　真珠粉　敗龜板（煅白）　乳香　寒水石　象牙末　壞子粉</p>
<p>研細末用。</p>
<p><u>輕蛤散</u>　百七十一</p>
<p>五倍子　車米</p>
<p>等分，研末用。</p>
<p><u>半夜散</u>　百七十二</p>
<p>用末生毛，小鼠搗爛，搭在壁上風乾，焙黃香研細，土鱉蟲灰鑽糞蟲灰白占各五錢，摻之一夜長平。</p>
<p><u>四魔粉</u>　百七十三</p>
<p>硇砂　斑毛　江子　銀油</p>
<p>和為細末，凡風症高腫、紫黑成塊、堅頑者將楮葉擦損苦皮，以藥擦上，貼膏即爛去。</p>
<p><u>香皂粉</u>　百七十四</p>
<p>麝香（一分）　兒茶（五錢）　冰片（六分）　輕粉　胎骨灰（各二錢）</p>
<p>研細，摻臭爛深潭妙。</p>
<p><u>香珠散</u>　百七十五　治大麻風足底穿爛者。</p>
<p>木香　硃砂　車米　赤石脂（煅）　東丹（各等分）</p>
<p>研細先以茶葉川椒煎湯洗淨摻上，外用綿紙用麵糊貼上，七八層不數日內長平。</p>
<p><u>四聖散</u>　百七十六</p>
<p>牛黃（二錢）　麝香（三錢）　膽礬（四錢）　明礬（五錢）　上為末，香油調如，上身病重，以二分擦手心一分擦足心。下身重，反是每度以四次均擦，三四日則吐出臭黑水，七日不可吃鹽葷，二七日以雄雞約一斤半重，一隻煮熟醬拌食之，其汁煮飯吃，三七日用防風　荊芥　蒼朮石斛　蛇床　羌活　白芷　煎湯洗浴，四七日服蠟礬丸半升，病愈。</p>
<p><u>香蒲丸</u>　百七十七　治大麻風，諸藥不效者服此除根。</p>
<p>松香（二十兩水澄化七次）　草烏（八兩）　光烏（四兩）此二味用水二桶煎濃汁去渣，沉去泥腳鮮菖蒲（三斤煎濃汁去渣）　防風　荊芥　蒼朮　甘草（各四兩）　用水一桶煎濃汁去渣沉去泥腳　先將二烏汁煮松香干，次將防風等汁煮松香干，又將菖蒲汁煮松香干，又將好醋一碗煮松香干，熬入鰍眼，看火候持起，俟冷浸水，內出火毒，再以火微溶取起，曬乾搗研末。上部用陳米醋丸，下部用麵糊丸。起初三日每服一錢五分，次三日每服二錢，五分日進二次，第七日再起用而復始空心酒下。</p>
<p>五死加減。</p>
<p>皮死麻木不仁加天麻二兩屬脾。</p>
<p>肉死刀割不知加首烏四兩屬腎。</p>
<p>血死臭爛成膿加當歸四兩屬心。</p>
<p>筋死手足指落加葶藶四兩屬肝。</p>
<p>骨死鼻梁崩塌加骨碎補二兩屬肺。</p>
<p>五經受病，加減。</p>
<p>肺經受病面如紫藍，加殭蠶一兩。脾經受病，遍身紅癬，加蒼朮四兩。肝經受病，骨絡筋縮，加皂角六角去尖。腎經受病，足底穿爛，加乳香沒藥各五錢。心經受病，目中流血，加黃連一兩。虛弱人加人參和前加減用酒煮藥?吞前丸藥，上身用黃耆三錢，下身用牛膝七錢，疼痛不止加乳沒各三錢，水四碗煎二碗服。</p>
<p><u>擦方</u>　百七十八</p>
<p>阿魏（二錢）　樟腦（三錢）　輕粉（四錢）　大風子（一兩淨肉）　花椒末（一兩）</p>
<p>生桐油調布包藥擦。</p>
<p><u>生眉方</u>　百七十九　治落眉。</p>
<p>皂角（焙）　鹿角（煅灰）</p>
<p>等分為末，用生薑搗勻，頻擦眉稜骨上，則眉漸生。</p>
<p><u>治口眼喎邪神效方</u>　百八十</p>
<p>大全蠍（酒洗淨鹽焙乾為末七錢）　白殭蠶末（七錢）　竹節白附子末（七錢）</p>
<p>稱准，和勻。每服一錢五分，酒調服，至三日加五分。</p>
<p><u>附雄散</u>　百八十一</p>
<p>歪附子一隻生搗　雄黃　白附子　樟冰（各二兩）　白芷　杏仁　草烏　南星　半夏　牙皂　蛇床子（各五錢）　白芨　白蘞　川椒（各一兩）　川烏　車米　山慈菇　五倍子（各七錢）　蠍尾殭蠶（各一兩二錢）　蟾酥（三錢）</p>
<p>上為末，以姜蘸擦斑剝腫塊，上須於密室內擦，如見風觸之則病反凶。如手指足趾皮肉麻木，用藥末一兩，白芨一兩和勻，先以秦椒透骨草煎湯拿洗麻處，再用柏葉熏蒸，方用火酒調藥，燉為膏子，搽上漸平復。</p>
<p><u>掃云丹</u>　百八十二　治遍身不可忍者。</p>
<p>用草烏末生薑搗汁，調麻布包擦自愈。</p>
<p><u>白雄散</u>　百八十三</p>
<p>雄黃（一兩）　白附子（五錢）　皂莢（炙去皮，弦筋，三錢）</p>
<p>共為末如黑腫，斑塊赤癬，以老薑蘸藥一兩擦　若鵝掌雁來等風，用燥姜蘸藥擦。如爛風瘡，用蟹黃調塗極妙。</p>
<p><u>紅玉散</u>　百八十四</p>
<p>文蛤　白芷　當歸　白芨　大黃　草烏（各一兩）　乳香　沒藥　兒茶　血竭　雄黃　韶粉　東丹（各三錢）</p>
<p>上為末如癢塊斑腫者香油調，黑塊頑頓者，薑汁調擦極妙。</p>
<p><u>消斑散</u>　百八十五　去面上一切斑駁。</p>
<p>白附子　花蕊石　川椒　南星　五倍子　牙皂　山慈菇　各等分為末薑汁調臨臥塗之。</p>
<p><u>飛白散</u>　百八十六</p>
<p>用老薑切開作片，將砒末夾在內，以線緊縛，定用山黃泥封固曬乾。入火煨候，內姜收盡砒末取出，將斑毛末乘濕揩拭於上，病人浴出以穿山甲刮去塊上苦皮，用此姜重擦則成瘡，忌見風七日脫光，重者三次除根。</p>
<p><u>消毒丹</u>　百八十七　又名太白散。治牛皮癬瘡更妙。</p>
<p>明礬（十兩）　白砒（五錢）　蛇床子（七合炒）　硫黃（五兩）　海螵蛸（五兩）</p>
<p>各研末，先將砒礬漸摻入鍋內，俟礬化枯收起，又將些摻下如此，待枯盡，方同下三味和研細。如血風臭穢，成片濕腫，黃水淋漓，或膿血黏漬太重，加核桃殼灰一兩，以菜油調塗，四五日脫光。</p>
<p><u>舒攣湯</u>　百八十八　治手指攣曲者。</p>
<p>薜荔枝葉梗每斤加川椒三兩，側柏葉四兩，煎濃汁久洗，自然伸直。又名過水龍鬚，古橋上生者。</p>
<p><u>虎跑泉</u>　百八十九</p>
<p>虎杖草　豨薟草　蒼耳草　防風　升麻　荊芥　金銀花　紫蘇　鶴蝨草</p>
<p>煎汁洗浴。</p>
<p><u>蘭湯</u>　百九十</p>
<p>大風子殼　白芷　防風　荊芥　苦參　首烏　蒼耳子草　麻黃　川椒　蔥</p>
<p>煎湯久洗，取汗避風。</p>
<p><u>烏龍湯</u>　百九十一</p>
<p>蒼耳子（一斗）　烏魚（一個，重二斤者）</p>
<p>二味同煮，取魚食之。以湯洗浴，病重者二三十次即愈。歌曰：仙苗蒼耳野園中，非比尋常草類同，治風用此如神效，救人真有大奇功。</p>
<p><u>仙授方</u>　百九十二</p>
<p>凡風癘惡疾，多因嗜欲勞傷動氣，血熱汗泄，不避邪氣，使淫氣與衛氣相併，則肌肉不仁，腑熱不利，故色敗皮癢鼻崩壤，或自不仁，極惡之業所致，久則身白皮脫，如蛇皮之狀，用桑枝灰一斗，熱湯淋汁洗頭面，次用大豆及毛豆漿添熱水，三日一浴，一日一洗，外用側柏葉蒸，曬乾白膠香等分，蜜丸梧子大每服三十丸，白湯下，日進三次，隨浴隨服。</p>
<p><u>五草六木湯</u>　百九十三</p>
<p>歌曰：椿槐桃柳干茄柯，桑谷天麻酒一鍋，蒼耳金銀藤辣蓼，久年風癘自消磨。</p>
<p><u>濕風痛風湯</u>　百九十四</p>
<p>石楠葉　馬鞭草　辣蓼</p>
<p>煎湯浸洗即愈。</p>
<p><u>三宣湯</u>　百九十五</p>
<p>麻黃根　地骨皮　草烏頭（各二兩）　加朴硝（二兩）</p>
<p>研勻上，每用一兩，水一桶，椒一合，蔥三十根，艾一兩，煎十數沸，加入米醋一碗，去渣，於密室中，先以蛻巾拖搭四肢，候冷，即澡洗之，令汗透，身面如珠就於室中睡一時，汗解方出，五日一浴。</p>
<p><u>八葉湯</u>　百九十六</p>
<p>桑葉　荷葉　地黃葉　皂角葉　蒼耳葉　薄葉　菖蒲葉　首烏葉</p>
<p>各曬乾，燒存性，淋汁揩洗。</p>
<p><u>倒陽方</u>　百九十七　又名石蠶散。凡大風瘡腫，斑黑頓消，必須戒色，方可保命。</p>
<p>用石蠶生研為末，酒下一錢，陽莖即痿軟不舉。</p>
<p><u>蚺蛇油</u>　百九十八</p>
<p>用蚺蛇油塗在陽莖上，即痿軟不舉。</p>
<p><u>敗豬血散</u>　百九十九</p>
<p>臘月內取殺豬流血盡時滴出者，貯陰自干為末，以豬腦調為丸梧子大，飛鹽酒下三錢，則一月不舉。</p>
<p><u>生瓜散</u>　二百　又名敗花散。</p>
<p>諸果皆先開花而後結實，惟絲瓜則先結實而後開花，若開狂花則連瓜爛去，若好花則花謝瓜長，看其蔓上若有狂花謝下，即採此瓜干之，名敗花果，以此為末與人服之，則陽事不舉，非惟絲瓜，但是先生本身而後開花之物，服之皆可痿陽。</p>
<p><u>蒸法</u>　二百另一</p>
<p>將地上掘一深坑，長六尺，闊三尺，深二尺，以桑柴火或炭火燒通紅，酒糟拌襲糖各五斗，先於甑內蒸熱，乘熱投於坑內鋪平即用，扁柏葉鋪厚，上以草荐蓋之，再攤一席，令病人臥在席上，以被蓋厚，勿使通風，睡一二時，底下火氣透過糟糠煏其柏葉，自然出臭汗，遍身通泰，半夜後漸去被，待汗自干方出，至明日於無風處以草木湯浴洗，去其汗穢。如病人強壯可服防風通聖散一二碗，或青風藤膏一二錢，方入蒸也，甚妙如虛弱者，不可服藥，只蒸可也。</p>
<p><u>熨法</u>　二百另二</p>
<p>用晚蠶砂和鹽炒熱，布包，但有腫塊處，乘熱熨之，冷即易，以醋拌炒尤妙。初起者即退。如無蠶沙，即太湖沙泥或珠子，無名異醋炒熨之亦好。</p>
<p><u>洗熏法</u>　二百另三</p>
<p>川椒　川烏　胡蔥　草烏</p>
<p>煎濃湯加雄黃、石黃末浸洗攣指一日，用側柏葉、松節、辣蓼燒爛熏半日，將乳香、沒藥、血竭、硇砂、川烏、草烏、麝香、樟冰、白芨為末，減水調煎一二沸，塗在攣指上，七日不可見湯，其皮自然退下，再熏二三次即愈。</p>
<p><u>治癘瘡法</u>　二百另四　洗方</p>
<p>威靈仙　首烏　菖蒲　甘草　防風　荊芥　劉寄奴　苦參（各一兩三錢）</p>
<p>上銼碎入甕，滿水煎濃汁，清晨令病人飲食略飽，將藥湯放缸內，病人坐於缸上，架子安穩，令湯氣熏之，如冷以燒火大磚投下，使熱氣衝上如此三四次，方入湯中洗澡，須在小密室不通風處方好，早晨浴至午間方止，即以擦藥五錢，半於兩手心擦摩，半於兩足心擦摩，以右摩左，以左摩右，手足頻易摩之。午間浴罷，摩至申酉時，手心足底如火熱，用紙條捆縛兩手足底心緊包，以免散氣。即吃煎藥一大碗，如此縛定三日，不許解開，亦不吃鹽醬，不可見風，如見風則久不肯變色，亦不肯退斑痕，止吃煎藥一碗，第四日以生雞湯開腥守戒，七日全愈。</p>
<p><u>擦方</u>　二百另五</p>
<p>水銀（一錢七分）　膽礬　明礬（各八分半）</p>
<p>和研不見星，用麻油調厚，再久擂之，如泥。</p>
<p><u>煎方</u>　二百另六</p>
<p>防風　荊芥　山梔　羌活　獨活　連翹　前胡　川芎　當歸　木瓜　花粉　黃連　風藤白芷　皂刺　冷飯糰（各等分）</p>
<p>薑棗水煎服，三服，分三日服之。</p>
<p><u>雙根沙皮飲</u>　二百另七　治初癘瘡，又治結毒下疳蛀斡。</p>
<p>荊芥根（二兩）　麻黃根（二兩五錢）　晚蠶沙（五錢）　白蘚皮　五加皮（各三兩）　防風　當歸　大黃（各一兩）　牙皂（九斤）　天花粉　連翹（各一兩五錢）　羌活　獨活（各七錢）　土茯苓（一斤）</p>
<p>上均作五帖，水煎，加酒一半，溫服，先服十帖。</p>
<p><u>丸方</u>　二百另八</p>
<p>金銀花　荊芥穗　防風（各四兩）　舊琉璃灰（二兩）</p>
<p>共為末，熟地四兩，酒煮搗爛，再加冷飯糰十兩，搗成糊方加藥末為丸，桐子大。以煎藥送下五十丸，其冷飯糰取白肉為妙。</p>
<p><u>煎方</u>　二百另九</p>
<p>當歸　防風　風藤　生地　熟地　荊芥　木通　甘草　天麻　米仁　蜂房（燒黃香）　桑寄生　赤芍　皂刺　金銀花　白蘚皮</p>
<p>大劑每帖加冷飯糰一兩，水煎，送丸藥下。如頭面，多加川芎；身上，多加升麻，藁本；手臂，多加五加皮；腳腿，多加牛膝、木瓜。</p>
<p><u>七聖散</u>　二百十</p>
<p>金銀花（四兩）　杏仁（十四粒）　皂角子（七粒）　牙皂（七片）　殭蠶（十四條）　蟬蛻（二錢）　土茯苓（一斤）</p>
<p>水四碗煎二碗，作二三次服，輕二帖，重三四帖，愈。</p>
<p><u>白通湯</u>　二百十一</p>
<p>白朮　木通　木瓜　前胡　柴胡　羌活　獨活　花粉　金銀花　風藤　牛膝　甘草　陳皮　角針　蒺藜　薄荷　米仁　蒼耳子　皂角子（各等分）</p>
<p>每帖加土茯苓一兩，薑棗水煎服。</p>
<p><u>荊神飲</u>　二百十二　治癘瘡初起。</p>
<p>荊芥穗四兩，水五六碗，煎去三之二，濾清服。又以一斤煎湯先熏後洗，不過三四次即愈。無毒不發。</p>
<p><u>火珠漿</u>　二百十三　治初生癘瘡。</p>
<p>用蛇卵草取自然汁，沖酒溫服數碗，一連四五次，脫愈。</p>
<p><u>黃龍髓</u>　二百十四　治癘瘡初起。</p>
<p>取白頸蚯蚓，於盆內搗爛，加水研淘澄清，取其清水，日服一次，二三日即愈。</p>
<p><u>杞頭湯</u>　二百十五　治癘初起，即服敗毒散三四帖。</p>
<p>以枸杞頭二三斤，煎濃湯熏洗二三次，愈。</p>
<p><u>番白飲</u>　二百十六　此真方也，並可治黴毒（家嚴注）。</p>
<p>番白草　紫花地丁　當歸　木通　皂刺　風藤　皂角子　牛蒡子　蛇床子　殭蠶（十二個）　桑皮　米仁</p>
<p>每帖加土茯苓四兩，水酒各半，煎服十帖，病愈。</p>
<p><u>八仙湯</u>　二百十七　兼治癘瘡結毒。</p>
<p>人參（三分）　米仁（二錢）　花粉（一錢二分）　皂刺（二十一個）　蜂房（七孔）　浮麥（一握）　冷飯糰（三兩）　琉璃灰（七分半）</p>
<p>水煎溫服，七帖病愈。</p>
<p><u>三川神應湯</u>　二百十八</p>
<p>川芎　牛膝（各五分）　川黃連　土黃連（各一錢）</p>
<p>先以飯糰一斤半，將竹刀刮去皮，止用白肉，不用黃色，打碎不見鐵器，用水四大碗，煎至二碗去渣入藥，再煎取一碗，又用雄豬夾肝煎油三匙入內，服三四帖止。</p>
<p><u>三分散</u>　二百十九　治癘風初起。</p>
<p>用黃花酒拌，九蒸曬為末。溫酒送下一二分，酒儘量飲，麻木一晝夜，隨服補中湯三帖，第四日照前又服三分，又服補中湯三帖，如此三次，初服發瘡，二服出水盡干，三服脫光，永不再發。</p>
<p><u>黃白大丹</u>　二百二十　治同上。</p>
<p>用槐花半斤，以滾湯泡去石灰，焙乾為末。加白礬四兩，酒糊丸桐子大。每服五六十丸，酒下，日進三服，服盡病痊。</p>
<p><u>坎離丹</u>　二百二十一</p>
<p>明雄黃（一兩）　明礬（二兩）</p>
<p>共為末。每服五分，熱酒下，如難服，用黃米糊丸，桐子大。服三七日，全愈永無毒發。</p>
<p><u>棗靈丹</u>　二百二十二</p>
<p>敗龜板灰　馬瓢草　地骨皮（各一兩）　槐實　川椒　油胡桃（各一兩）</p>
<p>如瘡大加樺皮末一兩，上為末，北紅棗丸，梧子大。每服三十丸，茶下，七日愈。</p>
<p><u>三母五子丹</u>　二百二十三</p>
<p>益母草　知母　貝母　槐子　蒼耳子　蔓荊子　皂角子　牛蒡子</p>
<p>等分為末，每一兩加虎脛骨一錢，煅存性和白酒糊丸桐子大，每服一二十丸，溫酒下。</p>
<p><u>定痛飲</u>　二百二十四　治筋骨疼痛久不愈者。</p>
<p>茜草　麻黃　烏藥（各一錢）　細茶芽（三錢）　槐子炒焦　川椒（各五錢）　魚膘腸（三錢米粉和炒成珠）　乳香（一錢）　姜（五片）　蔥（五根）</p>
<p>煎服三劑全愈。</p>
<p><u>七神湯</u>　二百二十五</p>
<p>蜂房（三錢）　殭蠶（二錢）　角子（五個）　淡竹葉（二十片）　燈心（七寸長二十根）　土茯苓（四兩）</p>
<p>用蛤蟆一隻，刮去腹中垢，風乾，切四塊，每帖下一塊煎服。如服蛤蟆左前足則愈左手病，服左後足則愈左足病，上亦然。一二帖發起，三帖勢定，四帖收功。</p>
<p><u>歲桃漿</u>　二百二十六　治癘瘡初起。</p>
<p>用核桃按歲一枚取白肉，豎排炒鍋內，每桃上放細茶一撮，以酒煎，嚼桃飲酒，速愈。</p>
<p><u>胡麻飯</u>　二百二十七</p>
<p>大棗二十一枚去核，每枚入宮粉填滿，每日以三枚和米半升煮飯食之，七日棗完，瘡愈。</p>
<p><u>蠟礬丸</u>　二百二十八</p>
<p>鬧羊花（酒拌九蒸曬）　草烏（酒浸炒）　白礬　黃占（溶化，各等分）</p>
<p>上為末，加蜜少許，丸卜子大。每服五六十丸，酒下。</p>
<p><u>糖岸散</u>　二百二十九</p>
<p>缸中岸（半斤煅）　黑沙糖（半斤）</p>
<p>拌勻分三次服。又以雄黃研飛發灰，枯礬各五錢，共為末，每服三錢，酒下。</p>
<p><u>天塵丹</u>　二百三十</p>
<p>頭垢（擇婦人者）　雄黃（各二錢）　硃砂（五分）</p>
<p>均打作十八丸，先服一半，七日退光，不愈，再服，完則定好，酒下。</p>
<p><u>保真飲</u>　二百三十一</p>
<p>精羊肉四兩，煮爛，取汁六七碗，入蟬殼四兩，麻黃春秋用一兩五錢，夏用一兩，冬用二兩，再煮存四碗，旋服完，吃羊肉取汗，昏沉一日，醒後三日皆退盡，無毒。如筋骨痛者，加上好點紅川椒一兩，不痛不必加。</p>
<p><u>虛鳴湯</u>　二百三十二</p>
<p>蟬殼（四兩）　仙遺糧（即土茯苓半斤）　荔枝草（一兩）　麻黃春夏用七錢秋冬用（一兩五錢）</p>
<p>作一帖水三碗煎一碗，服三四日脫光，瘡多凶者不過三服，即愈不發，無毒。</p>
<p><u>乳酥湯</u>　二百三十三</p>
<p>精羊肉一斤，用水八碗煎至一半取起以酒送下，肉存汁，加蟬殼四兩，川芎一兩，威靈仙一兩，麻黃春用九錢，夏用六錢，秋用八錢，冬用一兩，煎至一碗溫服即換衣穿之，以帛包裹頭必出臭汗，用荊芥湯洗浴，其瘡俱發出不過三四日脫光，無毒不發。</p>
<p><u>胡麻飲</u>　二百三十四</p>
<p>金銀花　赤茯苓　明天麻　胡麻（各一兩）　防風　荊芥　羌活　獨活　殭蠶　連翹　五加皮　地骨皮　當歸　黃芩　黃連　杜仲　牛膝　黑牽牛　米仁　角刺（各五錢）</p>
<p>均作十帖，加土茯苓一兩。</p>
<p><u>肉核油</u>　二百三十五</p>
<p>防風　荊芥　首烏　花粉　苦參（各三兩）　冷飯糰（一兩）　肥皂核肉（四兩）　豬脂油（四兩）</p>
<p>水一碗煎至半，作五六服，如瘡多不效，再一服，全愈。忌鐵器。</p>
<p><u>治結毒方</u>　二百三十六</p>
<p>硃砂（五錢）　雄黃　硫黃（各七錢）　乳香　沒藥（各二錢）</p>
<p>共為末，以黃佔一兩溶化為丸，卜子大。每服四釐，土茯苓四兩煎湯下，日進三次。</p>
<p><u>又方</u>　二百三十七</p>
<p>白砒〔四錢（宜減十成之八）〕　雄黃（一兩）　黃占（一兩）　牛黃（三錢）</p>
<p>共為末，作丸，重一分半。空心土茯苓煎湯下，一丸。</p>
<p><u>雷公散</u>　二百三十八　即再造散。</p>
<p>鬱金　木香（各五錢）　大黃　朴硝　白醜（半生半熟）　角刺（各一兩）</p>
<p>上為末，每服五錢，清晨面東酒下量人虛實病勢輕重緩急用之，服此之後或蟲如魚腦魚腸惡異之物而出，忌食一切毒味發風動氣鮮腥鹽物，半月其牛、馬、驢、騾、雁、雉、禽、獸、糟食熏炙之類，終身忌之，惟鹿麝可食。</p>
<p><u>醉仙散</u>　二百三十九</p>
<p>胡麻　牛蒡子　蔓荊子　枸杞子（各一兩）　白蒺藜　苦參　防風　栝蔞仁（各五錢）　荊芥（二兩）　蛤粉　全蠍　藿香（各七錢）　麝香　乳香　沒藥（各六錢）　車米（一兩二錢）　丟子（半斤）</p>
<p>上為末，每服二錢，酒下，日進三服。先服再造散，次服補劑，元氣復還，然後復此　忌鹽、醬、油、醋、魚、椒、果子、燒炙之物，止可食淡粥、時菜。尤忌茄芥，惟烏梢蒸食最好。服之身如醉　，齒中出血或臭水，乃見功。</p>
<p><u>神仙紫花丸</u>　二百四十　服前二方完，即服此方，三年方保無虞。</p>
<p>白花蛇（一兩）　首烏　威靈仙　荊芥（各四錢）　麻黃（二錢）　胡麻（一錢）　蛇床子（二錢）</p>
<p>將六味銼碎，共蛇用無灰酒一大碗浸一夜，去蛇皮骨，通曬乃還原酒內，再浸再曬，酒盡方止，為末。加人參一兩、木香、沉香各三錢五分，當歸七錢五分，天麻、牙皂各五錢，麝香三錢、乳香、沒藥各一錢，雄黃、辰砂各五錢，肉豆蔻一個，定風草二錢五分，還瞳子一兩，　俱不見火為末、防風、羌活、甘草、細辛、川芎、獨活、蒼朮、芍藥、枇杷葉、蒺藜、金銀花、五加皮、白芷、苦參各五錢、胡麻、麻黃、牛膝、草烏、川烏、白附子、菖蒲各三錢五分，各為末，用丟子二斤去殼入瓶內，以酒拌濕箬紙密包，隔湯煮一日夜黑爛杵成膏，分作二分，每分入第一號藥末六錢，第二號藥末八錢，第三號藥末一兩五錢，和勻糯米飯搗膠丸桐子大，每服二十丸加至五六十，雞鳴午夕三時各一服，茶下。忌勞碌、房事、鹽醋糟鮮、海味、水果、辛辣之物。</p>
<p><u>芥朱丸</u>　二百四十一　治紫黑癱爛等症。</p>
<p>青萍　荊芥　苦參　土朱　白花蛇（各四兩）</p>
<p>上為末皂莢熬膏，丸桐子大，每服六十丸，茶下毒從毛孔中出。</p>
<p><u>奪命丹</u>　二百四十二　又名九龍丹。治諸大風。</p>
<p>草烏　首烏　沒藥　黃芩　禹餘糧　威靈仙　蒺藜　菖蒲　天麻　蓖麻子（各一兩）　雷丸　川椒　荊芥　胡麻　麻黃　牛蒡子　白花蛇　赤芍　全蠍　烏梢蛇（各一兩）　乳香　車米（各三錢）　蜈蚣（一條）　羌活　風藤（各五兩）　木鱉子（一兩五錢）　蒼朮　丟子（各半斤）　皂莢（一斤銼碎）</p>
<p>無灰酒，浸一夜去酒以新汲水一碗探取汁，銀瓷器內熬膏丸，桐子大，每服六十丸，茶下，面足覺癢乃藥力至，不日全愈。</p>
<p><u>活血丹</u>　二百四十三　治筋骨痛甚</p>
<p>木香　乳香（各一兩）　麝香　皂角（各三錢）　大風子（四兩）</p>
<p>上為末，飯為丸芡實大，每服五十丸，茶下。加至七八十丸。</p>
<p><u>羌活愈風湯</u>　二百四十四　治肝腎虛敗，筋骨軟弱，語言蹇澀，精神昏倦，大能安養精神，調理陰陽。</p>
<p>羌活　甘草　防風　川芎　細辛　枳殼　熟地　人參　麻黃　薄荷　甘菊　當歸　知母黃耆　獨活　白芷　杜仲　秦艽　柴胡　半夏　厚朴　防己　前胡　地骨皮　枸杞子　蔓荊子（各三分）　黃芩　茯苓　芍藥（各四分半）　石膏　蒼朮　生地（各六分）　桂枝（一分五釐）</p>
<p>水二鍾煎八分，天陰加生薑五片。欲利加大黃三錢，欲汗加麻黃一錢，姜五片，春冬加半夏，夏加知母石膏，秋加白朮。</p>
<p><u>防風通聖散</u>　二百四十五</p>
<p>川芎　當歸　荊芥　芍藥　蒼朮　大黃　芒硝　滑石　山梔　石膏　桔梗　甘草　黃芩薄荷　麻黃　連翹（各等分）</p>
<p>共為末，每服三錢酒下，如飲片薑棗煎服，以渣曬乾，煎湯洗浴。</p>
<p><u>加減通聖散</u>　二百四十六　病甚者服之。</p>
<p>防風　川芎　桔梗　枳殼　石膏　柴胡　黃連　羌活　連翹　生地　熟地　芍藥　當歸薄荷　甘草　麻黃　滑石　黃芩（各三錢）　芒硝（一兩）　角刺（二兩）　風藤（三兩）　荊芥穗（五兩）</p>
<p>上藥分作八服，每服用水二大碗，煎八分，空心服，日進三服，五六日後，方服紫花丸。</p>
<p><u>烏藥順氣散</u>　二百四十七　初起先服二十帖。</p>
<p>麻黃　陳皮　烏藥（各一兩）　殭蠶　川芎　枳殼　甘草　桔梗　白芷（各一兩二錢）　乾薑（五錢）</p>
<p>為粗末煎服，為細末薑湯送下三錢。</p>
<p><u>五積散</u>　二百四十八　不拘前後皆可服。</p>
<p>蒼朮（一斤半）　桔梗（十二兩）　枳殼　陳皮　麻黃（各六兩）　厚朴　乾薑（各四兩）　半夏（二兩五錢）　芍藥　白芷　川芎　當歸　白茯苓　甘草　官桂（各二兩）</p>
<p>共為末，每服三錢，薑湯下。</p>
<p><u>小續命湯</u>　二百四十九</p>
<p>麻黃　人參　黃芩　芍藥　防己　桔梗　川芎　當歸　附子　杏仁　甘草　石膏（各七分）　防風（一錢）　（如中風無汗）倍麻黃　防風　杏仁　（中風有汗惡風）倍桂枝　芍藥　杏仁　（中風無汗身熱不惡寒）倍黃芩　加乾葛　桂枝　（中風無汗身涼）倍甘草　附子　加乾薑　（中風有汗不熱）加桂枝　倍甘草　附子　（中風六經混淆或枝節攣痛麻木）加羌活　連翹。</p>
