<header data-type="book">
<h1>宜麟策</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="汪和鼎">汪和鼎</data>整理自<data value="張介賓">張介賓</data>之論述</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1636">公元1636年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十四冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521062">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>總論</h1>
<p>天地絪縕，萬物化醇，男女構精，萬物化生，此造化自然之理也。亦無思無為之道也。故有人道，即有夫婦。有夫婦，即有子嗣。又何有乏嗣之說？然天有不生之時，地有不毛之域，則人不能無乏嗣之流矣。然則生者自生，乏者當乏，而求嗣之說，又何為也？果可求耶？果不可求耶？則其中亦自有說，亦自有法矣。所謂說者，非為不生不毛者而說也，亦非為少壯強盛者而說也。蓋不生不毛者，出於先天之稟賦，非可以人力為也。少壯強盛者，出於妙合之自然，不必識，不必知也。惟是能子弗子者，無後難堪，本非天付。衰老無兒者，精力日去，豈比少年？此所以有挽回之人力則有說而有法矣。雖法之垂諸古者已不為少，然以余覺之，則若有未盡其妙蘊者焉。因而臚列其法，曰天時，曰地利，曰人事，曰藥食，曰疾病。但犯其一，便足敗乃公事矣。賓於晚年得子，率鑑乎此。凡苦於是者，惟察之信之。則嗣續之猷，或非渺小，故命之曰《宜麟策》。</p>

<h1>時氣（天時一）</h1>
<p>凡交會下種之時，古云宜擇吉日良時，天德月德，及干支旺相，當避丙丁之說，顧以倉猝之頃，亦安得擇而後行，似屬迂遠不足憑也。然惟天日晴明，光風霽月，時和氣爽，及情思清寧，精神閒裕之況，則隨行隨止，不待擇而人人可辨，於斯得子，非惟少疾，而必且聰慧賢明。胎元稟賦，實基於此。至有不知避忌者，犯天地之晦冥大霧，則受愚蠢迷濛之氣，犯日月星辰之薄蝕，則受殘缺刑剋之氣，犯雷霆風雨之慘暴，則受狠怒驚狂之氣，犯不陰不陽倏熱倏寒之變幻，則受奸險詭詐之氣，故氣盈則盈，乘之則多壽，氣縮則縮，犯之則多夭。顧人生六合之內，凡生長壯老已，何非受氣於生成？而知愚賢不肖，又孰非稟質於天地？此感兆元始之大本，苟思造命而贊化育，則當以此為首務。</p>

<h1>陰陽（天時二）</h1>
<p>乾道成男，坤道成女，此固生成之至道。然亦何以見之？亦何以用之？蓋乾坤不用，用在坎離，坎離之用，陰陽而已。</p>
<p>夫離本居陽，何以為女？以陽之中而陰之初也。坎本居陰，何以為男？以陰之中而陽之初也。蓋中者盛於上，盛者必漸消。初者生於下，生者必漸長。故陽生於坎，從左而漸升，升則為陽而就明。陰生於離，從右而漸降，降則為陰而就晦，此即陰陽之用也。而千變萬化，莫不由之。由之推廣，則凡冬至夏至，一歲之陰陽也。子東午西，一日之陰陽也。有節有中，月令之陰陽也。或明或晦，時氣之陰陽也。節前節後，消長之陰陽也。月光潮汛，盈虛之陰陽也。再以及人，則老夫少妻，陰若勝矣，有顛之倒之之妙，彼強此弱，陽亦在也。有操之縱之之權，顧無往而非陰陽之用也。知之而從陽避陰，則乾道成男，不知而背陽向陰，則坤道成女矣。明眼入其鑑而悟之，筆有難於盡意也。</p>

<h1>地利（地利一）</h1>
<p>地利關於子嗣，非不重也。有陰宅之宜子孫者，常見螽斯之多。有陽宅之宜子孫者，惟生氣天乙方為最吉。然吉地吉人，每多不期而會。所謂有德斯有人，有人斯有土，此其所致之由，自非偶然。故曰必先有心地而後有陰地，信非誣也。第其理深義邃，有非一言可悉。然宗枝攸系，誠有不可不知者。此外如寢室交會之所，亦最當知宜忌。凡神前廟社之側，井灶塚樞之傍，及日月火光照臨，沉陰危險之地，但覺神魂不安之處，皆不可犯。倘有不謹，則夭枉殘疾，飛災橫禍，及不忠不孝之流，從而出矣。驗如影響，可不慎哉？</p>

<h1>基址（地利二）</h1>
<p>谷綿瓜瓞，當求基址，蓋種植者必先擇地，破礫之場，安望稻黍？求子者必先求母，薄福之婦，安望熊罷？倘欲為子嗣之謀，而不先謀基址，計非得也。然而基址之說，隱微叵測，察亦誠難，姑舉其顯而易者十餘條，以見其概云耳。大都婦人之質，貴靜而賤動，貴重而賤輕，貴厚而賤薄，貴蒼而賤嫩。故凡唇短嘴小者不堪，此子處之部位也。耳小輪薄者不堪，此腎氣之外候也。聲細而不振者不堪，此丹田之氣本也。形體薄弱者不堪，此藏蓄之宮城也。飲食纖細者不堪，此倉廩血海之源也。發焦齒豁者不堪，肝虧血而腎虧精也。睛露臀削者不堪，藏不藏而後無後也。顏色嬌豔者不堪，與其華者去其實也。肉肥勝骨者不堪，子宮隘而腎氣詘也。嬝娜柔脆筋不束骨者不堪，肝腎虧而根幹不堅也。山根唇口多青氣者不堪，陽不勝陰，必多肝脾之滯逆也。脈見緊數弦澀者不堪，必真陰虧弱，經候不調，而生氣杳然者也。此外如虎頭熊項，橫面豎眉，及聲如豺狼之質，必多刑剋不吉，遠之為宜。又若剛狠陰惡，奸險剋薄之氣，尤為種類源流，子孫命脈所繫，烏可近之。雖曰堯亦有丹朱，舜亦有瞽瞍，然二氣相合，未必非一優一劣之所致。倘使陰陽有序，種址俱宜，而稼穡有不登者，未之有也。惟一有偏勝，則偏象見矣，是種之不可不擇者有如此。不然則麟趾之詩，果亦何為而作者耶？余因人艱嗣之苦，復見人有不如無之苦，故日願天常生好人。</p>

<h1>十機（人事一）</h1>
<p>陰陽之道，合則聚，不合則離，合則成，不合則敗。天道人事，莫不由之，而尤於斯道為最。合與不合，機有十焉，使能得之，權在我矣。</p>
<p>一曰闔闢，乃婦人之動機也。氣靜則闔，氣動則闢。動緣氣至，如長鯨之飲川，如巨觥之無滴。斯時也，吸以自然，莫知其入，故未有闢而不受者，未有受而不孕者。但此機在瞬息之間，若未闢而投，失之太早，闢已而投，失之太遲。當此之際，自別有影響情狀可以默會，不可以言得也。惟有心人能覺之，帶雨施云，鮮不穀矣。</p>
<p>二曰遲速，乃男女之合機也。遲宜得遲，速宜見速。但陰陽情質，稟有不齊。固者遲，不固者速。遲者嫌速，則猶飢待食，及咽不能。速者畏遲，則猶醉添杯，欲吐不得。遲速不侔，不相投矣，以遲遇疾，宜出奇由逕，勿逞先聲。以疾遇遲，宜靜以自持，挑而後戰，能反其機，適逢其會矣。</p>
<p>三曰強弱，乃男女之畏機也。陽強陰弱，則畏如蜂蠆，避如戈矛。陽弱陰強，則聞風而靡，望塵而北。強弱相凌，而道同意合者鮮矣。然撫弱有道，必居仁由義，務得其心。克強固難，非聚精會神，安奪其魄？此所以強有不足畏，弱有不足虞者，亦在乎為之者之何如耳。</p>
<p>四曰遠近，乃男女之會機也。或以長材排闥，唐突非堪。或以偷覷跽門，敢窺堂室。欲拒者不能，欲吞者不得，聧隔如斯，其能姤乎？然斂跡在形，致遠在氣。斂跡在一時，養氣非頃刻。使不有教養之夙謀，恐終無剛勁之銳氣，又安能直透重圍，而使鳩居鵲巢也？</p>
<p>五曰盈虛，乃男女之生機也。胃有盈虛，飽則盈而飢則虛也。腎有盈虛，蓄則盈而泄則虛也。盛衰由之，成敗亦由之，不知所用，則得其幸而失其常耳。</p>
<p>六曰勞逸，乃男女之氣機也。勞者氣散而怯，逸者氣聚而堅，既可為破敵之兵機，亦可為種植之農具，動得其宜，勝者多矣。</p>
<p>七曰懷抱，乃男女之情機也。情投則合，情悖則離，喜樂從陽，故多陽者多喜，鬱怒從陰，故多陰者多怒。多陽者多生氣，多陰者多殺氣，生殺之氣，即孕育賢愚之機也。莫知所從，又胡為而然乎？</p>
<p>八曰暗產，乃男子之失機也。勿謂我強，何虞子嗣？勿謂年壯，縱亦何妨？不知過者失佳期，強者無酸味，而且隨得隨失，猶所莫知，自一而再，自再而三，則亦如斯而已矣。</p>

<h1>附：小產論</h1>
<p>凡小產有遠近，其在二月三月為之近，五月六月為之遠，新受而產者其勢輕，懷久而產者其勢重，此皆人之所知也。至若猶有近者，則隨孕隨產矣。凡今艱嗣之家，犯此者十居五六，其為故也，總由縱欲而然。第自來人所不知，亦所不信。茲謹以筆代燈，用指迷者，倘濟後人，實深願也。請詳言之。蓋胎云始肇，一月如珠露，二月如桃花，三月四月而後血脈形體具，五月六月而後筋骨毛髮生。方其初受，亦不過一滴之玄津耳。此其橐籥正無依，根荄尚無地，鞏之則固，決之則流。故凡受胎之後，極宜節欲，以防泛溢。而少年縱情，罔知忌憚。雖胎固欲輕者，保全亦多。其有兼人之勇者，或恃強而不敗，或既敗而復戰。當此時也，主方欲靜，客不肯休，無奈狂徒，敲門撞戶，顧彼水性熱腸，有不啟扉而從，隨流而逝者乎？斯時也，落花與粉蝶齊飛，火棗共交梨並逸，合汙同流，已莫知其昨日孕而今日產矣，朔日孕而望日產矣！隨孕隨產，本無形跡。蓋明產者胎已成形，小產必覺，暗產者胎仍似水，直溜何知？故凡今之衏⿲彳充亍家，多無大產，以小產之多也。娶娼妓者多少子息，以其子宮滑而慣於小產也。今嘗見艱嗣求方者，問其陽事，則曰能戰。問其功夫，則曰盡通。問其意況，則怨嘆曰：人皆有子我獨無。亦豈知人之明產，而爾之暗產耶？此外如受胎三月五月而每有墮者，雖衰薄之婦常有之。然必由縱欲不節，致傷母氣而墮者為尤多也。故凡恃強過勇者多無子，以強弱之自相殘也。縱肆不節者多不育，以盜損胎元之氣也。豈悉由婦人之罪哉？欲求我方者，當以此篇先讀之，則傳方之思，已過半矣。</p>
<p>九曰童稚，乃女子之時機也。方苞方萼，生氣未舒，甫童甫笄，天癸未裕。曾見有未實之粒，可為種否？未足之蠶，可為繭否？強費心力，而年衰者能待乎？其亦不知機也矣。</p>
<p>十曰二火，乃男女之陽機也。夫君火在心，心其君主也。相火在腎，腎其根本也。然二火相因，無聲不應。故心宜靜，不靜則火由欲動，而自心挑腎，先心後腎者，以陽爍陰，出乎勉強，勉強則氣從乎降，而丹田失守，已失元陽之本色。腎宜足，腎足則陽從地起，而由腎及心，先腎後心者，以水濟火，本乎自然。自然則氣主乎升，而百脈齊到，斯誠化育之真機。然伶薄之夫，每從勉強，故多犯虛勞。詎雲子嗣，樸厚之子，常由自然，故品物咸亨，奚慮後人？知機君子，其務陽道之真機乎？</p>

<h1>蓄妾（人事二）</h1>
<p>無故置妾，大非美事。凡諸反目敗亂，多有由之。可已則已，是亦齊家之一要務也。其若年邁妻衰，無後為大，則勢有不得不置者。然置之易而蓄之難，使蓄不有法，則有蓄之名，無蓄之實，亦仍與不蓄等耳。而蓄之之法，有情況焉，有寢室焉。以情況言之，則主母見妾，大都非出樂從，所以或多嗔怒，或多罵詈，或因事責其起居，或假借加以聲色，是皆常情之所必至者，而不知產育由於血氣，血氣由於情懷，情懷不暢，則衝任不充，衝任不充，則胎孕不受，雖云置妾，果何益與？凡蓄妾之不可過嚴者以此。再以寢室言之，則宜靜宜遠，宜少近耳目者為妙。蓋私構之頃，銳宜男子，受宜女人，其銳其受，皆由乎氣。當此時也，專則氣聚而直前，怯則氣餒而不攝，此受與不受之機也。然勇怯之由，其權在心。蓋心之所至，氣必至焉。心有疑懼，心不至矣。心有不至，氣亦不至矣，倘臨期驚有所聞，則氣在耳，而不及器矣。疑有所見，則氣在目，而不及器矣。或忿或畏，則氣結在心，而不至器矣。氣有不至，則如石投水，而水則無知也，且如兩陣交鋒，最嫌奸細之偵伺，一心無二，何堪讒間以相離？閨思兵機，本無二致，凡妾室之不可不靜而遠者以此。雖然，此不過為錦囊無奈者設。倘有高明賢淑，因吾言而三省，惟宗祧之是慮，不惟不妒，而且相憐，則愈近愈慰，而遠之之說，豈近人情？又若有恭謹良人，小心奉治，則求容已幸，又安敢有遠而敬之之念？其然其然，吾末如之何也已。</p>

<h1>藥食（論方）</h1>
<p>種子之方，本無定軌，因人而藥，各有所宜。故凡寒者宜溫，熱者宜涼，滑者宜澀，虛者宜補，去其所偏，則陰陽和而生化著矣。今人不知此理，而但知傳方，豈宜於彼者亦宜於此耶？且或一人偶中，而不論宜否，而遍傳其神，競相制服，又豈知張三之帽，非李四所可戴也？</p>

<h1>飲食（戒飲）</h1>
<p>凡飲食之類，則人之臟氣各有所宜，似不必過為拘執，惟酒多者為不宜。蓋胎種先天之氣，極宜清楚，極宜充實，而酒性淫熱，非惟亂性，亦且亂精，精為酒亂，則濕熱其半，真精其半耳。精不充實，則胎元不固，精多濕熱，則他日痘疹驚風脾敗之類，率已受造於此矣，故凡欲擇期布種者，必宜先有所慎，與其多飲不如少飲，與其少飲猶不如不飲，此亦胎元之一大機也。欲為子嗣之計者，其毋以此為後著。</p>

<h1>男病（疾病一）</h1>
<p>疾病之關於胎孕者，男子則在精，女子則在血，無非不足而然。凡男子之不足，則有精滑精清精冷者，及臨事不堅，或流而不射者，或夢遺頻數，或便濁淋澀者，或好色以致陰虛，陰虛則腰腎痛憊，或好男風以致陽極，陽極則亢而亡陰，或過於強固，強固則勝敗不治，或素患陰疝，陰疝則肝腎乖離，此外則或以陽衰，陽衰則多寒，或以陰虛，陰虛則多熱。若此者，是皆男子之病，不得盡諉之婦人也。倘知其由而宜治則治之，宜反則反之，必先其在我而後及婦人，則事無不濟矣。</p>

<h1>女病（疾病二）</h1>
<p>婦人所重在血，血而構精，胎孕乃成。欲察其病，惟於經候見之。欲治其病，惟於陰分調之。蓋經即血也，血即陰也。陰以應月，故月月如期，此其常也。及其為病，則有或先或後者，有一月兩至者，有兩月一至者，有枯絕不通者，有頻來不止者，有先痛而後行者，有先行而後痛者，有淡色黑色紫色者，有瘀而為條為片者，有精血不充而化作白帶白濁者，有子宮虛冷而陽氣不能生化者，有血中伏熱，而陰氣不能凝成者，有血癥氣痞，子臟不收，月水不通者。凡此皆真陰之病也。真陰既病，則陰血不足者，不能育胎。陰氣不足者。不能攝胎，是以求子之法，首重調經。</p>

<h1>附：衍慶編調經至言</h1>
<p>天地生生之理，止陰陽二氣。合則生之理全，分則人之質定，故男秉陽，女秉陰，男肖日，女肖月。男子生氣，一日一動。女子生氣，一月一周。夜半子時，男子生機所發，月經行日，女子生意所萌，能於此生生之時，加意保護，便可卻病延年，此一定之理也。每思世間女子，較男子頗逸。至於富貴之家，閨閣婦女，錦衣美食，曲房深室，無飢寒風露筋力勞苦之事，然癆瘵偏多，疾病時作，此何故哉？蓋其受病甚微，起於所忽而不自知也。大抵女子年十四則天癸至，月事時下，此時生意勃然，凡以生以育，皆由於此耳。第其將行之時，新者未生，舊者欲去，意中必有煩躁之態，異於平日，彼時能自知經將欲行，一切起居，便當加意調攝，勞碌氣惱，俱不宜犯，最不可飲食冷物，坐臥冷處。蓋寒冷乃肅殺之氣，最害生意。況經行之時，凡百骸四肢，毛孔皆開，然後舊血入於衝脈而下，彼時若一受寒氣，不論何處，其欲下之血，即停留不行。初則止須毫毛之聚，逐日血行周身，至於所凝之處，則滯而不行，日積日多，此瘀血癆，癥瘕痞塊，瘰癧膈噎，行經疼痛短縮，所由來也。至於淨後一二日內，則百骸四肢，皆生新血，此時一受冷氣，則生機郁遏，無論何處受冷，則此處便不生髮，此血枯癆症，黃瘦無力，心脾脹悶，月經過期，白帶諸病，所由生也。當其時感之至微，原不知覺，至病已成，醫家又隨病施治，不究所由，此婦人所以多病也。況當貴之家，婦女素習驕恣，又善於掩飾，甜瓜冷果，一時可口，禁之不能，且好吃生冷，則胃氣內寒，見熱便怕，不知一時之爽利有限，日久之疼痛難當，以致不能生育，種種受害皆由於此，今特指出。凡天下婦女，能於經行時，戒生冷氣惱，如產後調攝一般，每月不過五六日，使百病自除。此時服藥，亦易收效，故去積行瘀，須於經行之時，趁勢下之。補養調理，須於經淨一日，乘機助之。其奏功必速於往日，此中實具至妙元機。奈天下庸醫，茫如霧露，嗣後見此書者，信而遵行。若有疾婦女，半年之內，有不脫體安吉者，誓斷吾舌。茲因衍慶編成，特著此論以贅於後，使天下婦女知之，不惟永無疾苦，而廣嗣多男，亦庶幾少助天下大生之德耳。</p>

<h1>辨古</h1>
<p>種子之法，古人言之不少，而余謂其若未盡善者，蓋亦有疑而云然，謹並列而辨之，亦以備達者之裁正。</p>
<p>一廣嗣訣云：三十時辰兩日半，二十八九君須算。落紅滿地是佳期，金水過時徒霍亂。霍亂之時枉費功，樹頭樹底覓殘紅。但解開花能結子，何愁丹桂不成叢。按：此言婦人經期方止，其時子宮正開，便是布種之時，過此佳期，則子宮閉而不受胎矣。然有十日半月，及二十日之後受胎者，又何為其然也？又一哲婦曰：若依此說，則凡有不端者，但於後半月為之，自可無他慮矣。善哉言也！此言果可信否？</p>
<p>一道藏經曰：婦人月信止後，一日三日五日合者，乾道成男。二日四日六日合者，坤道成女。按：此以單數屬陽，故成男，偶數屬陰，故成女。果若然，則誰不知之？得子何難也？總未必然。</p>
<p>一褚氏遺書云：男女之合，二情交暢。若陰血先至，陽精後沖，血開裹精，精入為骨，而男形成矣。陽精先至，陰血後參，精開裹血，血入為本，而女形成矣。按：此一說，余初見之，甚若有味有理，及久察之，則大有不然。蓋相合之頃，豈堪動血？惟既結之後，則精以肇基，血以滋育，而胎漸成也。即或以血字改為精字，曰陰精先至，似無不可！然常見初笄女子，有一合而即孕者。彼於此時，畏避無暇，何雲精泄？但其情動則氣至，氣至則陰闢，陰闢則吸受，吸受則無不成孕，此自然之正理也。若褚氏之說，似穿鑿矣。</p>
<p>一東垣曰：經水斷後，一二日，血海始淨，精勝其血，感者成男，四五日後，血脈已旺，精不勝血，感者成女。按：此說亦非確論。今見多生女者。每加功於月經初淨，而必不免於女者，豈亦其血勝而然乎？</p>
<p>一丹溪曰：陰陽交構，胎孕乃凝，所藏之處，名曰子宮，一系在下，上有兩歧，中分為二，形如合缽，一達於左，一達於右，精勝其血，則陽為之主，受氣於左子宮而男形成。精不勝血，則陰為之主，受氣於右子宮而女形成。按：此乃與《聖濟經》「左動成男，右動成女」之說同，第以子粒驗之，無不皆有兩瓣，故在男子亦有二丸，而子宮之義，諒亦如此。惟左受成男，右受成女之說，則成非事後，莫測其然。即復有左射右射之法，第恐陰中闔闢自有其機，即欲左未必左，欲右未必右。而陰陽相勝之理，則在天時人事之間，似仍別有一道耳！</p>

<h1>續篇</h1>

<h2>大意</h2>
<p>張景岳先生《宜麟策》，為求嗣者必讀之書。今採諸書名論，編為四類以續之：曰蓄德，曰培元，曰布種，曰胎教。或補其未備之義，或發其未暢之旨，合而讀之，遵而行之，無弗子者矣。</p>

<h2>乾道（蓄德一）</h2>
<p>孕元立本章云：天地之大德曰生，人者天地之心也。具此生理，生生無窮，乃有無子者曷故？觀夫層冰積雪，天行肅殺之令，地合閉蟄之德，斯時生物亦鮮矣。人之氣稟無偏，而生機偶歇者，非其心之所趨，冬秋陰慘之氣深，春夏陽和之氣少乎？故不可錄曰：殘惡之人多無子，陰賊之人多無子，好殺之人多無子，淫亂之人多無子，財緊之人多無子，清刻之人多無子，狷隘之人多無子，好潔之人多無子，是豈天定之哉？由人心之自致耳。然人心至靈，如舟之有舵，一捩便轉。其捩轉之術如何？曰：存仁而已矣，仁者生之德，是以草木蔬谷百果之核，名之曰仁。植之無有不生者也。人能在在存仁，隨地隨時，不放過去，如有言責者用其言，（如林給事疏減賑米，妻夢神責，二子皆死，門戶遂絕，則奏疏活人者，後嗣蕃昌必矣。）有官職者盡其職，（如虞允文禁民溺女，本無子而有子之類。）將兵者不嗜殺，（如曹彬徐達子孫貴盛之類。）掌刑者不妄刑，（如馬默除島囚投海之例，本無嗣而有子之類。）富者不私其富，（一切眾生，以財為命，凍者得之暖，飢者得之飽，離者得之合，死者得之生，財聚於我，寬一分，則人受一分之福，其仁豈不薄哉，多男之慶有必然者。）貧賤者能盡其誠，（如任奔走效口舌，以解人之厄，恤人之難，隱人之過，成人之善，步步是仁，所謂不費錢功德也。非求嗣之捷徑乎？）凡此皆自盡其心而已。然已默契夫天地生物之心，種豆者其苗必豆，種瓜者其苗必瓜，斷斷然矣。夫所謂捩轉云何？即改過之謂也，人非聖賢，孰能無過，過而能改，即求仁得仁，是故存仁之道。以改過為先，欲求有子而且賢者，可不以此為首務哉？</p>

<h2>坤道（蓄德二）</h2>
<p>又云：夫子贊乾元資始曰大，贊坤元資生曰至，坤者順承乎天以成其生物之功，故曰妻者齊也。是以子嗣之有無，重在男子，尤重在婦人。婦人雖不與戶外事，倘其悖謬垂戾之性成，而門內先受其禍，既失其坤順之德，豈能著生物之功？或孕而不育，育而不壽者多矣。婦人之心，求子最切，禱祀求神，神弗福也。曷若近而求之門內耶？公姑孝之，夫主敬之，妯娌和之，奴婢恤之，庶事寬之，如是則戾氣消，和氣溢，作善降祥，瓜瓞之慶，神必福之矣。又有婦人焉，性非凶暴，貌似柔和。亦艱於子嗣者，蓋婦人秉質於陰，易流為毒，其家庭日用之常，處心積慮之地，煞有關係。常見有能幹之婦，其營家也勤而儉，其持己也謹而嚴，錙銖之數無差，恩怨之分至晰，揆其大較，不過自私自利之心多，恕人寬人之地少，似乎無大失德，然而家業暗替，子息杳然何哉？蓋婦人之德，不期於寬厚，即流於刻薄。剝削元氣於冥冥之中，是為隱慝，故不特悖謬乖肩，為無嗣之顯端，即事事義勝於恩，已非坤厚生物之體矣。婦人無子，即干七出之條，可不痛自修省，贊夫為善，以期螽斯麟趾之慶哉！</p>

<h2>精血盛衰之驗（培原一）</h2>
<p>褚尚書曰：飲食五味，養髓骨肉血肌膚毛髮。男子為陽，陽中必有陰，陰中之數八，故一八而陽精升，二八而陽精溢。女子為陰，陰中必有陽，陽中之數七，故一七而陰血升，二七而陰血溢。陽精陰血，皆飲食五味之秀實也。方其升也，智慮開明，齒牙更始，發黃者黑，筋弱者強，暨其溢也。凡充身肢體手足耳目之餘，雖針芥之瀝，無有不下。凡子形肖父母者，以其精血嘗於父母之身，無所不歷也。是以父一肢廢，則子一肢不肖其父，母一目虧，則子一目不肖其母。精未通而御女以通其精，則五體有不滿之處，異日有難狀之疾。陰已痿而思色以降其精，則精不出內敗，小便道澀而為淋。精已耗而復竭之，則大小便道牽疼，愈疼則愈欲大小便，愈便則愈疼。女人天癸既至，逾十年無男子合則不調，未逾十年思男女合亦不調，不調則舊血不出，新血誤行，或漬而入骨，或變而之腫，或雖合而難子，合男子多則瀝枯，虛人產乳眾則血枯殺人，觀其精血，思過半矣。</p>

<h2>聚精之道有五（培原二）</h2>
<p>袁了凡先生云：聚精之道，一曰寡欲，二曰節勞，三曰息怒，四曰戒酒，五曰慎味。今之談養生者，多言採陰補陽，久戰不泄，此為大謬。腎為精之府，凡男女交接，必擾其腎，腎動則精血隨之而流。外雖不泄，精已離宮，未能堅忍者，亦必有真精數點，隨陽之痿而溢出，此其驗也。如火之有煙焰，豈有復反於薪者哉？是故貴寡欲。精成於血，不獨房勞之交，損吾之精，凡日用損血之事，皆當深戒。如目勞於視，則血於視耗。耳勞於聽，則血以聽耗。心勞于思，則血于思耗。吾隨事而節之，則血得其養，而與日俱積矣。是故貴節勞。主閉藏者腎也，司疏泄者肝也。二臟皆有相火，而其繫上屬於心。心，君火也。怒則傷肝而相火動，動則疏泄者用事，而閉藏不得其職，雖不交合亦暗流而潛耗矣。是故當息怒。人身之血，各歸其舍則常凝，酒能動血，人飲酒則面赤，手足俱紅，是擾其血而奔馳之也。血氣既衰之人，數月無房事，精始厚而可用，然使一夜大醉，精隨薄矣。是故宜戒酒。《內經》云：精不足者，補之以味。然釀郁之味，不能生精，惟恬淡之味，乃能補精耳。蓋萬物皆有真味，調和勝而真味衰矣。不論腥素淡，煮之得法，自有一段沖和恬淡之氣，益人腸胃。《洪範》論味而曰「稼穡作甘」，世間之物，惟五穀得味之正，但能澹食穀味，最能養精。又凡煮粥飯，中有厚汁滾作一團者，此米之精液所聚也，食之驟能生精，試之有效。</p>

<h2>葆真為種子首務（培原三）</h2>
<p>大生要旨云：大寒之後，必有陽春，天地之道，不蟄封則不發育也。今人之無子者，往往勤於色欲，豈知施泄無度，陽精必薄，縱欲適情，真氣乃傷，妄欲得子，其能孕乎？夫男象天主施，女象地主受，一施一受，其妊始成。今其所施，全非先天濃郁之氣，不過後天澆漓渣滓之物。縱使陰受可化，而實無陽施之用矣。故有心種子者，毋傷于思慮，毋耗其心神，毋意馳於外而內虛，毋志傷於內而外駁，毋以酒為色媒，毋以藥而助火，葆精匯神，靜養日久，及至陰陽交媾，兩神相搏，其一點先天元真之氣，勃勃生育之機，即寓於情欲大動之時，萬舉而萬當矣。《內經》云：陰平陽秘，精神乃治，陰陽離決，精氣乃絕。《老子》曰：必清必靜，毋搖爾精。《人鏡經》曰：精氣盛則生二男。諺云：寡欲多男子。歷歷名言，不特老而無子者，當奉為龜鑑，即壯年難子者，亦須尊為節符。寡欲廣嗣篇云：世人無不急於生子，亦知生子之道，精氣交媾，熔液成胎。故少欲之人恆多子，且易育，氣固而精凝也。多欲之人恆艱子，且易天，氣泄而精薄也。譬之釀酒然，鬥米下鬥水，則酒濃，且耐久，其質全也。鬥米倍下水，則淡，三倍四倍，則酒非酒水非水矣，其真元少也。今人夜夜淫縱，遍御妾婢，精氣妄泄，邪火上升，邪火愈熾，真陽愈枯，安能成胎？即僥倖生子，亦不能育，或殤於痘，或殤於驚。痘者熱毒，驚者熱風。毒者，父母之真精不足。風者，父母之真氣不固也。昔有人艱於子息，醫者教以節欲靜攝，勿勞心神，心靜則精不搖，神完則氣不走。每妻經淨，乃一交媾，否則各榻，如是半年，妻果有娠。娠後即異榻，足月之後，果生男子，後來天花只三五粒。彼求子而廣蓄婢妾，不知節欲，豈有當哉？</p>

<h2>藥忌燥熱（培原四）</h2>
<p>大生要旨云：天地之道，只貴和平，太熱則陽亢，太寒則陰凝。陰凝肅殺，人果知之。陽亢消爍，人都不察。常見世之艱於子嗣者，構覓傳方，希圖種子。其方大抵興陽壯熱之品居多，甚至鍛鍊金石，及製取毒穢悍劣諸物，劫盡其陰，以為培陽。益以房幃重耗，漸至髓消肉減，神昏氣奪，毛瘁色枯，尚不知為藥所誤，可勝道哉！</p>

<h2>色戒男淫（培原五）</h2>
<p>陳成卿曰：養生家言男淫損人，尤倍於女。蓋男為陽，兩陽相亢，必竭其精，精竭則寒，寒則不能生育，故求嗣者當首戒男淫。且穀道為幽冷穢濁之地，屢屢犯之，氣偏為戾。縱陽未衰而有子，非生而不育，即長亦為敗家之子。知以後嗣為重者，可不畏乎？況溺於此者，或痿廢，或失明，未老先衰，不一而足，是以有子者亦當深戒也。人能痛自改悔，誓不再蹈前非，外資藥力，內養生機，久久堅持，陽和漸復，不特寧馨有慶，且康壽可期矣。</p>

<h2>合男女必當其年（布種一）</h2>
<p>褚尚書求男論云：建平孝王妃姬，皆麗無子。擇民家未笄女子入御，又無子。問曰：求男有道乎？澄對曰：合男女必當其年，男雖十六而精通，必三十而娶，女雖十四而天癸至，必二十而嫁，皆欲陰陽完實，然後交而孕，孕而育，育而子。堅壯強壽，今未笄之女，天癸始至，已近男色，陰氣早泄，未完而傷，未實而動，是以交而不孕，孕而不育，育而子脆不壽，此王之所以無子也。然婦人有所產皆女者，有所產皆男者，大王誠能訪求多男婦人至宮府，有男之道也。王曰：善。未再期，生六男。夫老陽遇少陰，老陰遇少陽，亦有子之道也。</p>

<h2>百脈齊到則孕成（布種二）</h2>
<p>程鳴謙云：褚澄氏言男女交合，陰血先至，陽精後沖而男形成，陽精先入，陰血後參而女形成，信斯言也。人有精先泄而生男，精後泄而生女者，獨何歟？東垣曰：經水才斷一二日，血海始淨，感者成男，四五日，血脈已旺，感者成女，至於六七日後，則雖交感亦不成胎，信斯言也。人有經始斷，交合生女，經久斷交合生男者，亦有四五日以前交合無孕，八九日以後交合有孕者獨何歟？俞子本撰《廣嗣要略》，著方立圖，謂實陽能入虛陰，實陰不能受陽，即東垣之故見也。又謂微陽不能射陰，弱陰不能攝陽，信斯言也。世有尪羸之夫，怯弱之婦，屢屢受胎，雖欲止之而不能止者，亦有血氣方剛，精力過人，顧乃艱於育嗣而莫之救者，獨何歟？朱丹溪論治，專以婦人經水為主，然富貴之家，侍妾已多，其中寧無月水當期者乎？有已經前夫頻頻生育，而娶此以圖其易者，顧亦不能得胎，更遣與他人，轉盼生男矣，豈不能受孕於此，而能受孕於彼乎？愚以為父母之生子，如天地之生物。易曰：坤道其順乎，承天而時行。夫知地之生物，不過順承乎天。則知母之生子，亦不過順承乎父而已。知母之順承乎父，則種子者果以婦人為主乎？以男子為主乎？然所謂主於男子者，不拘老少強弱，康寧病患，精易泄難泄，只以交感之時，百脈齊到為善耳。交感而百脈齊到，雖老弱病患易泄，亦可以成胎。交感而百脈參差，雖少強，雖康寧，雖難泄，亦難以成胎矣。婦人所構之血，固由於百脈合聚，較之男子之精，不能無輕重之分也。孔子贊乾元資始曰大，贊坤元資生曰至，得無意乎？若男婦之辨，又不以精血先後為拘，不以經盡幾日為拘，不以夜半前後交感為拘，不以父強母弱母強父弱為拘，只以精血各由百脈齊到者別勝負耳！是故精之百脈齊到，有以勝乎血則成男矣。血之百脈齊到，有以勝乎精則成女矣。至有既孕而小產者，有產而不育，有育而不壽者，有壽而黃耈無疆者，則亦精血之堅脆，分為修短耳。世人不察，其精血之堅脆，已定於稟受之初。乃以小產專責之母，以不育專付之兒，以壽天專諉之數，不亦謬乎？</p>

<h2>種子須知絪縕之時（布種三）</h2>
<p>袁了凡云：天地生物，必有絪縕之時，萬物化生，必有樂育之時。貓犬至微，將受娠也，其雌必狂呼而奔跳，以絪縕樂育之氣觸之而不能自止耳，此天然之節候生化之真機也。世人種子有云：三十時辰兩日半，二十八九君須算。此特言其大概耳，非的論也。丹經云：一月止有一日，一日止有一時。凡婦人一月經行一度，必有一日絪縕之候於一時辰，間氣蒸而熱，昏而悶，有欲交接不可忍之狀，此的候也。於此時逆而取之則成丹，順而施之則成胎矣。其曰三日月出庚。又曰溫溫鉛鼎，光透簾幃，皆言其景象也。當其欲情濃動之時，子宮內有如蓮花蕊者，不拘經淨幾日，自然挺出陰中，如蓮蕊初開。婦人洗下體，以手探之自知也，但含羞不肯言耳。男子預密告之，令其自言，一舉即中矣。</p>

<h2>娠子論（胎教一）</h2>
<p>娠子論云：至精才化，一氣方凝，始受胞胎，漸成形質。子在腹中，隨母聽聞。自妊娠之後，則須行坐端嚴，性情和悅，常處靜室，多聽美言，令人講讀詩書，陳說禮樂，耳不聞非言，目不觀惡事，如此則生男女，福壽敦厚，忠孝賢明。不然，則生男女，多鄙賤不壽而愚頑，此所謂外象而內感也。昔太妊懷文王，耳不聽惡聲，目不視惡色，口不出惡言，世傳胎教之道，此之謂也。</p>

<h2>逐月養胎（胎教二）</h2>
<p>徐之才曰：妊娠一月，名胎胚。飲食精熟，酸羹受御，宜食大麥，毋食腥辛，是謂才正。是月足厥陰脈養胎，不可針灸其經。足厥陰屬肝，主筋及血。一月之時，血行痞澀，不為力事，寢必安靜，無令恐畏。</p>
<p>妊娠二月，名始膏。毋食辛臊，居必靜處，男子勿勞，百節皆痛，是為胎始。是月足少陽脈養胎，不可針灸其經。少陽屬膽主精。二月之時，兒精成於胞里，當慎護之，勿驚動也。</p>
<p>妊娠三月，名始胎。此時未有定象，見物而化。欲生男者，操弓矢，欲生女者，弄珠璣，欲子美好，數視璧玉，欲子賢良，端坐清虛，是謂外象而內感者也。是月手心主脈養胎，不可針灸其經。屬心。毋悲哀思慮驚動。</p>
<p>妊娠四月，始受水精以成血脈，食宜稻，宜魚，是謂盛血氣，以通耳目，而行經絡。是月手少陽脈養胎，不可針灸其經。內輸三焦。此時兒六腑順成，當靜形體。和心志，節飲食。</p>
<p>妊娠五月，始受火精以成其氣，臥必晏起，沐浴浣衣，深其居處，厚其衣服，食稻粱，羹牛羊，和以茱萸，調以五味，是謂養氣以定五臟。是月足太陰脈養胎，不可針灸其經。屬脾。此時兒四肢皆成，毋太飢飽，毋食乾燥，毋自炙熱，毋太勞倦。</p>
<p>妊娠六月，始受金精以成其筋，身欲小勞毋逸，出遊於野，食宜鷙鳥猛獸之肉，是謂變腠理，紉筋，以養其力，以堅背膂。是月足陽明脈養胎，不可針灸其經。屬胃，主口目。此時兒口目皆成，調五味，食甘美，毋太飽。</p>
<p>妊娠七月，始受水精以成其骨，勞身搖肢，毋使定止，動作屈伸，以運血氣，居處必燥，飲食避寒，食稻粱以密腠理，是謂養骨而堅齒。是月手太陰脈養胎，不可針灸其經。屬肺主皮毛。此時兒皮毛已成，毋多言哭，毋洗浴，毋薄衣，毋飲冷。</p>
<p>妊娠八月，始受土精以成膚革，和心靜息，無使氣極，是謂密腠理而光澤顏色。是月手陽明脈養胎，不可針灸其經。屬大腸，主九竅。此時兒九竅皆成，毋食燥物，毋輒失食，毋忍大便。</p>
<p>妊娠九月，始受石精以成皮毛，六腑百節，莫不畢備，飲醴食甘，緩帶自持而待之，是謂養毛髮，致才力。是月足少陰脈養胎，不可針灸其經。屬腎，主續縷。此時兒脈絡續縷皆成，毋處濕冷，無著炙衣。</p>
<p>妊娠十月，五臟俱備，六腑齊通，納天地氣于丹田，故使關節人神皆備，只俟時而生。是月足太陽脈養胎，不可針灸其經。屬膀胱。宜服滑胎藥。</p>

<h2>胎教邇言（胎教三）</h2>
<p>張石頑曰：胎教之說，世都未諳。妊娠能遵而行之，不特無產難之虞，且生子鮮胎毒殤夭之患，誠為廣嗣要旨，姑以大概陳之。婦人經後四十餘日不轉，即謹房室，慎起居，薄滋味，養性情，刻刻存心，與執持寶玉無異。舉趾必徐，行立勿仰，坐不實其前陰，臥勿久偏一側，弗舉手攀高取物，勿擎手沐浴篦頭，不可看異形，不可獨處暗室，毋登高，毋臨深，毋移重，毋磋跌，忌耽坐嗜臥，使氣血凝滯。雖不可負重作勞，然須時時小役四體，則經絡流動，胎息易於運動，腰腹漸粗。飲食不宜過飽，茶湯更須節省，大熱大涼，總非所宜。犬羊蟹鱉等一切有毒之物，固宜切禁，即椒姜常用之品，亦須少嘗。其豕肉醇酒濕面之類，縱不能摒絕不食，亦不可恣啖。歸精於胎，過於蕃長，致母臨蓐難產。而子在胞中，稟質肥脆，襁褓必多羸困。即如沃壤之草木，移植塉土，枝葉得不凋委乎？甫交三月，即當滿裹其腹。胎氣漸長，僅可微松其束，切勿因其氣急滿悶而頓放之。在夏洗澡，須避熱湯。冬時寤寐，勿迫爐炭。其最甚者，尤在不節交合，淫火盡歸其子，以釀痘疹疥癩之毒。然須妊娠稟性安靜，不假強為，方遵實濟。若強制以違其性，則鬱火彌熾，此與恣情無禁者雖截然兩途，而熱歸胎息則一。嘗見有切於求嗣者，得孕即分處房帷，而子仍歿於痘，豈非強制，其火彌熾之明驗乎？蓋人之志欲匪一，苟未能超出尋常，又須曲體母情，適其自然之性，使子氣安和，是即所謂胎教也。當知胎教原非一端，若懷子受驚則子多胎驚。懷子抱郁，則子多結核流注。懷子恐懼，則子多癲癇。懷子常起貪妄之念，則子多貪吝。懷子常挾憤之心，則子多暴狠。懷子常造綺語詭行，則子多詐偽。非但懷子之後，當檢束身心，而經淨交感，慎毋恣肆，以遺胎息之患。若大醉後媾精，精中多著酒濕，則子多不育。大怒後媾精，精中多挾怒火，即子多乖戾。大勞後媾精，精中不滿真氣，則子多孱弱。若夫熱藥助戰，作意秘精，精中流行毒悍，則子多異疾。至於風雨雷電媾精，感觸震氣，則子多怪類。以此言之，則三元五臘，宜確遵禁戒，誕育自是不凡。宗祧重務，安得視為嬉戲哉？</p>

<h2>保孕六說（胎教四）</h2>
<p>胎前節養篇云：一除惱怒。凡受胎後切不可打罵人。蓋氣調則胎安，氣逆則胎病。惱怒，則痞塞不順肝氣上衝，則嘔吐衄血。脾肺受傷，肝氣下注，則血崩帶下，滑胎小產。欲生好子者。必須先養其氣，氣得其養，則生子性情和順，有孝友之心，無乖戾之習，所謂和氣致祥，一門有慶，無不由胎教得之。</p>
<p>二禁房勞。保胎以絕欲為第一要事，試觀貓犬至微，尚知有孕不復交合，何況人為萬物之靈，豈反不如之耶？所以婦人於經過一二日，交感之後，只宜分床獨宿，清心靜養，則臨盆易生易育，得子少病多壽。倘或房勞不慎，必致陰虛火旺，半產滑胎，可不謹歟？</p>
<p>三戒生冷。胎前喜食生冷，只因懷孕以後，多惱多氣，不慎房勞，以致火旺口渴。殊不知生冷等物，豈能退血分之熱？徒使脾胃受傷，瘧疾痢疾，嘔吐泄瀉諸病，皆由此起。病則消耗精液，口渴愈甚。惟戒惱怒，慎房勞，服健脾補血之藥，調理本原，可保平復。否則臨產之虛脫，產後之絕證，斷不免也。　</p>
<p>四慎寒溫。胎前感冒外邪，或染傷寒時證，鬱熱不解，往往小產墮胎，攸關性命。要知起居飲食，最宜調和。夏不登樓，宜著地氣。夜不露坐，宜暖背腹。古人有言，不受寒自不發熱，不傷風自不咳嗽。此為胎前緊要關頭。</p>
<p>五服藥餌。胎前產後，藥能起死回生。世人鑑誤治之害，遂言胎產不必服藥，迷亂人意，以致關於調補，株守含忍，勉強臨盆，諸證蜂起。若知接養有方，隨時調治，其所安全母子者，藥餌之功，正復不淺也。</p>
<p>六宜靜養。胎前靜養，乃第一妙法。不校是非，則氣不傷矣。不爭得失，則神不勞矣。心無嫉妒，則血自充矣。情無淫蕩，則精自足矣。安間寧靜，即是胎教。紹宗祧之重，承舅姑之歡，葉琴瑟之和，衍螽斯之慶。所以古人必先靜養，無子者遵之，即能懷孕。懷孕者遵之，即為易育。靜養所關，豈不大哉？</p>

<h2>防磋跌（胎教五）</h2>
<p>保生輯要云：孕婦切忌傾跦，懷子之初，胎元未固，一遭磋跌，多致損墮。至月分已多，兒神識初生，魄魂怯弱，母身傾跌，兒在母腹，如山崩地陷，神驚氣亂，無論胎墮子母不保，即幸而生育，其子必有胎驚夭折之虞，可不慎哉？</p>

<h2>忌多浴（胎教六）</h2>
<p>護生編云：凡覺受妊，不可抬手洗頭，不可曲身洗足，不可熱湯多洗下體，易致竅開胎墮。初受胎及臨月，尤宜禁戒。關係不小也。</p>

<h2>論胎肖（胎教七）</h2>
<p>月令：先雷三日，奮木鐸以令兆民。曰雷將發聲，有不戒其容止者，生子不備，必有凶災。是可知民生，垂疣枝指，朦聾喑啞，侏儒跛躄，形體不備者，其來有故矣。聖人早戒於生身受氣之初，後人徵驗於凝質象形之際，所謂胎肖之說，其言豈不可信哉？霏雪錄云：礬昌高八舍家，軒墀間畜龜，數年生育至百餘，其家產子四五人，皆龜胸傴僂。至正末，越有夫婦二人，於大善寺金剛神側，縛葦而居，其婦產一子，首兩肉角，鼻孔昂縮，類所謂夜叉形，陳白雲家，籬落間植決明，家人摘以下茶，生三子，皆短而跛，而王氏女甥亦跛，予皆識之。會稽民朱氏，一子亦然，其家亦多種之，悉拔去。胎養保真論云：吾見鄙俗婦人，懷胎時看搬傀儡，裝神像，舞猴戲者，後生子貌多肖之。便產須知云：孕婦應避宰殺凶殘之事，不見殘廢穢毒之人。種種瑣言，其旨衷於聖訓，可忽乎哉？蓋胎元化始，未有定儀，如鑑納形，有感隨象，自然之理也。</p>

<h2>修造犯胎不足信（胎教八）</h2>
<p>便產須知云：不利嗣息，動必成災。雖鄰家自家，修造動土，犯其胎氣，令子破形損命。刀犯者形必傷，泥犯者竅必壅，打擊者色青黯，繫縛者相拘攣等說，此為術者妄言，百無一驗，必不可信，惟修造興工，下椿動土，皆非娠婦所宜見，謹避之可也。</p>

<h2>轉女為男之理（胎教九）</h2>
<p>乾坤秘竅云：古人有轉女為男之法。夫男女媾精，陽勝成男，陰勝成女，氣以成形，豈有法焉？可以人力轉變之哉？其法於始覺有娠之時，以斧仰置孕婦床下，弗令知之，則生男。又為之說曰：如不信，待雞抱卵時，置斧窠中，則一窠盡雄。又法取弓弩弦縛孕婦腰下，滿百日去之。又法三月以前，或取雄雞尾尖上長毛三莖，或取夫發及手足甲，潛安婦人臥席下，弗令知之。又法帶雄黃袋，或佩宜男草。是瑣瑣者，豈竟能奪造化之功哉？此難憑信者也。然而術不足信，理有可憑，轉女為男，實有良法。人能方寸之地，刻刻栽培，積功累行，則陽長陰消，陰從陽化，不弄瓦而弄璋，有斷斷然者，則人定可勝天，特恐人之不能自蓄其德耳。</p>

<h2>孕婦飲食忌（胎教十）</h2>
<p>雞肉合糯米食，令子生寸白蟲。</p>
<p>食犬肉，令子無聲。</p>
<p>鱠鯉同雞子食，令子生疳多瘡。</p>
<p>兔肉食之，令子缺唇。</p>
<p>羊肝，令子多厄難。</p>
<p>鱉肉，令子短頸。</p>
<p>鴨子與桑堪同食，令子倒生心寒。</p>
<p>鱔魚同田雞食，令子喑啞。</p>
<p>雀肉合豆醬同食，令子面生雀斑黑子。</p>
<p>食螃蟹，橫生。</p>
<p>食子姜，令子多指生瘡。</p>
<p>食水漿，冷絕產。</p>
<p>食雀肉飲酒，令子多淫無恥。</p>
<p>食茨菰，消胎氣。</p>
<p>乾薑蒜雞，毒胎無益。</p>
<p>黏膩難化，傷胎。</p>
<p>食山羊肉，子多病。</p>
<p>無鱗魚勿食。</p>
<p>菌有大毒，食之令子風而夭。</p>
<p>食雀腦，令子雀目。</p>

<h2>孕婦藥物忌（胎教十一）</h2>
<p>蚖斑水蛭及虻蟲，烏頭附子配天雄。</p>
<p>野葛水銀並巴豆，牛膝薏苡與蜈蚣。</p>
<p>三稜代赭莞花麝，大戟蛇蛻黃雌雄。</p>
<p>牙硝芒硝牡丹桂，槐花牽牛皂角同。</p>
<p>半夏南星與通草，瞿麥乾薑蟹甲爪。</p>
<p>硼砂乾漆兼桃仁，地膽茅根莫用好。</p>

<h2>附保命延生戒期</h2>
<p>從來娶婦必期偕老，生子必望長成，乃人有伉儷極篤，而中道死亡，產育艱難，而半途夭折者，只因肆情縱欲，暗犯禁忌，而不自知也。道經云：男女交媾，最有避忌，若犯所忌，天奪其算，神降之殃，生子醜貌怪相，性行不良，殘疾夭札，實有明驗，故君子不獨外色鋤之務盡，即房幃之內，琴瑟之歡，俱有克治之道焉。</p>
<p>正月初（一名天臘玉帝下界，校世人祿命犯者，削祿奪紀。）初三（萬神都會，犯者奪紀。）初五（五虛）初六（六耗）初七（上會）初九（玉皇上帝誕，犯者絕嗣。）十四（三元下降，犯者減壽。）十五（天官誕）十六（三元下降）二十五（每月二十五為月晦日，犯者減壽。）二十七（北斗下降，犯者奪紀，每月如此。）二十八（每月二十八神人在陰，犯者惡疾。）三十（每月三十灶君奏事，犯者減壽，如逢月小即戒二十九，嗣後每月初三皆宜避忌。）</p>
<p>二月初一（犯者奪紀，每月如此。）初三（文昌帝君誕，又萬神教會，犯者削祿奪紀。）十五（犯者奪紀，每月如此。）十八（至聖先師孔子諱辰，犯者削祿奪紀。）十九（觀音大士誕，犯者奪紀。）二十五　二十七　二十八　三十（俱同前。）</p>
<p>三月初一（同前）初三（玄天上帝誕，犯者奪紀。）初九（牛鬼神出，犯者產惡胎。）十五（同前）十六（准提菩薩誕，犯者奪紀。）十八（中嶽帝誕）　二十五　二十七（俱同前）二十八（東嶽帝誕，犯者削祿奪紀。）三十（同前。）</p>
<p>四月初一（同前）初四（萬神善化，犯者失喑。）初八（佛誕，又善惡童子降，犯者血死。）十四（呂祖誕）十五（同前）二十五　二十七　二十八　三十（俱同前。）</p>
<p>五月初一（同前）初五（名地臘五帝考校生人官爵，犯者削祿奪紀。）自初五　初六　初七　十五　十六　十六　二十五　二十六　二十七（此九日名九毒日，犯者天亡。十五子時，犯者男女三年內雙亡。十六為天地萬物造化之辰，最忌。）十三（關聖帝君成神日）二十八　三十（俱同前）。</p>
<p>六月初一（同前）十五（同前）十九（觀音得道）二十三（火神誕）二十四（關帝聖誕，又雷祖誕。）二十五</p>
<p>二十七　二十八　三十（俱同前）</p>
<p>七月初一（同前）初七（名道德臘五帝校生人善惡）初十（陰毒日十五地官校籍，犯者奪紀。）十九（太歲誕）二十五　二十七　二十八（同前）三十（地藏菩薩誕，犯者奪紀。）</p>
<p>八月初一（同前）初三（灶君誕，又北斗誕，犯者奪紀。）初十（北嶽帝誕）十五（太陰朝元焚香守夜）二十五（同前）二十七（至聖先師孔子誕，犯者削祿奪紀。）二十八　三十（俱同前。）</p>
<p>九月初一（同前）初九（鬥母誕，犯者奪紀。）十五（同前）十七（金龍四大王誕）十九（觀音出家，犯者困苦。）二十五　二十七　二十八　三十（俱同前。）</p>
<p>十月初一（歲臘）初五（下會）初六（天曹考察）初十（西天王降，犯者暴亡。）十五（水官校籍，犯者奪紀。）二十五（同前）二十七（北極紫微大帝誕）二十八　三十（俱同前。）</p>
<p>十一月初一（同前）十一（太乙救苦天尊誕）十五（同前）十七（阿彌陀佛誕，犯者奪紀。）二十五　二十七　二十八　三十（俱同前。）</p>
<p>十二月初一（同前）初七（犯者惡疾）初八　初旬戊日（名王侯臘）十五（同前）十六（南嶽帝誕）二十（天地交道，犯者奪紀。）二十四（司命上奏善惡）二十五（上帝下界考察）二十七　二十八（同前除夕諸神考察，犯者奪紀。）</p>
<p>每歲二至之日，（夏至、冬至，乃陰陽相爭死生分判之時，宜禁欲事。二分春分雷將發聲，犯者生子五官四肢不全，父母有災。秋分殺氣浸盛，陽氣日衰，前後數日俱宜戒。）三元日，（犯之減壽五年。）四始二分二至社日，（犯之減壽四年）三伏日，弦日，晦日，（犯之減壽一年。）庚申甲子日，祭祀前齋戒日，父母誕日，諱日，夫婦誕日，本命日，（犯之減壽一年。）丙丁日，（犯之得病。）白晝星月下，燈光下，（犯之損壽。）烈風雷雨日月薄蝕高山大川之上，（犯之損壽產惡胎。）酷暑嚴寒，（犯之得重疾。）寺廟之中，井灶坑廁塚墓屍柩之傍，（犯之惡人降胎。）鬱怒，（大怒傷肝，犯之必病。）遠行，（行房百里者病百里，行房者死。）醉飽，（醉後入房，五臟反覆。）空腹，（犯之傷元神。）胎前，（犯之傷胎。）產後，（百日內犯之婦病。）天癸來時，（犯之男女俱損。）病後，（犯之變症。）一夕勿兩度，勿忍蓄不泄。竹蓆（竹性寒涼，犯之恐感寒氣。）薄衾（犯之寒氣入骨）牖罅有風宜避，夜深就枕宜戒。</p>
<p>陳摶曰：上士異室，中士異床，下士異被，守此戒期者，非異室異床不可。謹按：《禮記月令》：日夜分，雷乃發聲。先雷三日，奪木鐸以令兆民。曰雷將發聲，有不戒其容止者，生子不備，必有凶災。可知禁忌，自古有之。日長至則曰止聲色，毋或進。日短至則曰去聲色，禁嗜欲。蓋冬夏二至，陰陽相爭之時，最難保護。前後數日，皆宜絕欲。語云：樂極生悲，縱欲成患。謹勸世人，須為長久之歡，弗逞暫時之樂。夫欲濃則暫，欲淡則長，其理不爽，其事不誣也。凡一切非地非時者，能不嚴戒乎？篤信之士，賢德之婦，每逢禁忌，必謹遵之。不特身其康強，自能多生好子矣。</p>
