<header data-type="book">
<h1>怪證奇方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>作者不詳</dd></div>
</dl>
</header>

<h1>卷上</h1>
<p>治忽覺自形作兩人並臥，不別真假，不語，問亦無對，乃離魂也。用硃砂，人參，茯苓濃煎服。真者氣爽而假者即化。</p>
<p>治鼻中毛出，晝夜長一二尺，漸漸粗圓如繩，痛不可忍，摘去更生。此因食豬羊血過多而然也。用硇砂，乳香，飯為丸。水下十粒，早晚各一服，病去乃止。</p>
<p>治蟲如蟹走於皮下，作聲如兒啼，為筋內之化。用雷丸，雄黃等分，為末，摻豬肉上，炙而食之，即愈。</p>
<p>治因著艾灸訖，火瘸便落瘡內鮮血片片，如蝴蝶樣騰空飛去，痛不可忍。此是血肉俱熱。用大黃，芒硝等分，為末，水調下，微利即愈。</p>
<p>治臨臥忽渾身蝨出約五升，血肉俱壞而舌尖血出不止。用鹽醋湯飲十數次，即愈。</p>
<p>治眼赤、鼻張大喘，渾身出斑，發如銅鐵絲硬，乃目中熱毒氣結於下焦。用白礬，滑石各一兩，水三碗，煎至一碗半，不住口飲盡，乃效。</p>
<p>治遍身忽然肉出如錐，癢痛不能飲食，名血擁。用赤皮蔥燒灰，水淋汁洗，內服淡豆豉湯數盞而愈。</p>
<p>治眼前常見禽蟲飛去，捉之即無，乃肝膽經為疾。用酸棗仁，羌活，玄明粉，青葙子各一兩，為末。每水煎二錢，和滓服，日三服。</p>
<p>治眼珠垂下至鼻，大便血出，名肝脹。用羌活，水煎數服，即愈。</p>
<p>治腹中有物作聲，隨人語言，名應聲蟲。服雷丸而愈。</p>
<p>治飲油五升方始快意，乃發入胃，血裹化為蟲也。用雄黃五錢，水調服。</p>
<p>治臥床四肢不能動，只進得食，好大言說吃物，謂之失說物望病。如說某肉，即以其肉與看，不與食之，失他物望也。睡中流出饞唾，即愈。</p>
<p>治手十指斷壞，唯有筋連，無節肉。內蟲出如燈心，長數尺，遍身綠，手名血餘。用茯苓，胡黃連煎服，愈。</p>
<p>治遍身皮底渾渾如波浪聲，癢不可忍，抓之血出不能止，名氣奔。用人參，苦杖，青鹽，細辛各一兩，水二碗，煎十數沸，飲盡便愈。</p>
<p>治眼內白眥俱黑，見物依舊，毛髮直如鐵條，不語如醉，名血潰。用五靈脂，酒調下二錢，愈。</p>
<p>治忽然氣上，喘不能語，口中涎流，吐逆，齒皆搖動，氣出轉大即悶絕，名傷寒並熱霍亂。用大黃，人參各五錢，水三盞，煎一盞服。</p>
<p>治口內生肉球，有根線長五寸余，吐球出方可飲食。以手輕捏，痛徹於心。水調生麝香一錢，頻頻服之。三日根化而愈。</p>
<p>治手足甲忽然長倒生肉刺如錐，食葵菜自愈。</p>
<p>治面上及遍身生瘡似貓兒眼，有光彩，無膿血，冬則近脛，名白寒瘡。多食魚、雞、蔥、韭而愈。</p>
<p>治脅破腸出，臭穢。急以香油抹腸送入，即不出。又以人參，枸杞子煎湯淋之，皮自合。吃豬腎粥十日愈。</p>
<p>治口鼻中氣出，盤旋不散，凝似黑蓋。過十日漸漸至肩，與肉相連，堅勝鐵石，無由飲食。多因瘧後得之。用澤蘭水煎，日飲三盞，五日愈。</p>
<p>治頭面發熱有光色，他人手近如火炙。用蒜汁半兩，酒調下，吐物如蛇，遂安。</p>
<p>治渾身生泡如甘棠梨，破則出水，內有石一片，如指甲大，其泡復生。抽盡肌肉不可治矣。急用三稜，莪朮各五兩，為末，分三服，酒調下。</p>
<p>治夜有醉者，誤吞水蛭，腹痛，黃瘦不進飲食。用小死魚三四個，豬脂煎熔，攪勻，入巴豆十粒，碎爛，和田中干泥，丸如綠豆大。以田中冷水吞下一丸，泄下為度。</p>
<p>治小便中出屎，大便出尿，名交腸。用舊幞頭燒灰，酒下五分，愈。</p>
<p>治玉莖硬，不痿，精流無歇時。如針刺，捏之則脆。乃為腎滿漏疾。用韭子，破故紙各一兩，為末，每三錢水煎，日三服，即止。</p>
<p>治身及頭面肉腫如蛇狀。用雨濕磚上青苔一錢，水調塗，立消。</p>
<p>治大腸內蟲出不斷，斷之復生，行坐不得。鶴蝨末水調，服五錢，自愈。</p>
<p>治小兒初生如魚胞，又如水晶，碎則水流。用密陀僧羅極細，摻之。</p>
<p>治兒初生遍身無皮，俱是赤肉。掘土坑臥一宿即長皮。又方，白早米粉干撲於上，候生皮乃止。</p>
<p>治項上生瘡如櫻桃，有五色，瘡破即項皮斷。逐日飲牛乳自消。</p>
<p>治寒熱不止，四肢如石，擊之如鐘磬聲，日漸消瘦。用茱萸，木香等分，水煎一二服，即愈。</p>
<p>治大腸頭出寸余，候乾自退，落又出，名截腸。病用芝麻油器盛，坐之，飲大麻子汁數升，愈。</p>
<p>治鼻腥臭水流，以碗盛而視之，有鐵色蝦魚，如米大，走躍，捉之即化為水。此肉壞矣。食雞肉一日二次，一月而愈。</p>
<p>治兩足心凸如腫，硬如釘，脛骨生闢孔流髓，身發寒戰，惟思飲酒。此肝腎氣冷熱相吞。用川烏炮為末，敷之，內煎韭菜湯，服之愈。</p>
<p>治四肢節脫，但有皮連，不能舉動，名曰筋解。用黃蘆，酒浸一宿，焙為末，酒下二錢，多服即安。</p>
<p>治咽喉間生肉，層層相疊，漸漸腫起，有竅，出臭氣。用臭橘葉煎服，愈。</p>
<p>治腹中如鐵石，臍中水出，旋變作蟲行之狀，繞身匝豕，癢痛不忍，扒掃不盡。濃煎蒼朮浴之，又以蒼朮，麝香水調服之。</p>
<p>治眉毛搖動，目不能視，喚之不應，但能飲食。用蒜三兩，取汁，酒調下，即愈。</p>
<p>治毛竅節次血出，少間不出，即皮脹如鼓，口鼻眼目俱脹，合名脈溢。用生薑汁並水各一二盞，服之即安。</p>
<p>治人面瘡。昔人患此於臂上，滴酒瘡口中，即面赤，與物食之即肉脹。獨與貝母服之，則斂眉閉口。若有苦楚之狀，乃煎貝母，以葦筒灌之，數日戍甲而愈。</p>
<p>治婦人年二十餘，腦生一竅，口中所咳膿血與竅相應而出，此肺痿也。用參、耆、當歸加退熱排膿之劑而愈。</p>
<p>治患蛇瘕，乃蛇精及液沾菜上，人誤食之，腹內成蛇，或食蛇亦有此症。其人常飢，食之即吐。用赤頭蜈蚣一條，炙為末，分二服，酒下。</p>
<p>治蛟龍瘕。用寒食飯三升，每食五合，日三服，吐出蛟龍而愈。</p>
<p>治鱉瘕，痛有來止，或食鱉即痛。用雞屎一升，炒黃，投酒中浸一宿，焙為末，原浸酒調下。</p>
<p>治雞瘕，有病冷痰者，醫曰：因食白瀹雞過多故也。用蒜一枚，煮服，乃吐一物如升大，痰裹，開視之，乃雞雛也。再服，吐十三雛而愈。</p>
<p>治婦產後有傷，胞破不能小便，常漏濕不幹。用生絲絹一尺，剪碎，白牡丹根皮，白及各末一錢，水一碗，煎至絹爛如餳，空心頓服。不得作聲，作聲即不效。</p>
<p>治屍厥，奄然死去，腹中氣走如雷。用硫黃一兩，焰硝五錢，細研，分三服，好酒煎，覺煙起則止，溫灌之，片時再服，即安。</p>
<p>治諸瘡如蛇出數寸。用硫黃塗之，即消。</p>
<p>治眼中視物倒置。用藜蘆，瓜蒂為粗末，水煎服。得吐而愈。</p>
<p>治心漏，當胸數竅，血液常流二十年。用鹿茸酥炙，附子炮，鹽花、棗肉為丸，每酒下三十丸，即愈。</p>
<p>治患心疾，見物如獅子伊川。教以手直前捕之，見其無物，久久自愈。</p>
<p>治婦人見滿壁皆蓮花。以礞石滾痰丸下之，愈。</p>
<p>治婦人產後，忽兩乳細小，下垂過小腹，痛甚，名乳懸。用芎、歸各二斤，內用半斤水煎服。余用燒煙燻口鼻二料，乃效。</p>
<p>治婦產後，水道中出肉線一條，長三四尺，動之則痛欲絕。先服失笑散數服，次以帶皮姜三斤，研爛，入清油二斤，煎，油干為度。用絹兜起肉線，屈曲於水道邊，以前姜熏之，冷則熨之。一日夜縮其大半，二日即盡入。再服失笑散、芎歸湯調理之。如肉線斷，則不可治矣。</p>
<p>治患腫毒，潰後不時出一細骨。用生桐油調密陀僧如膏，絹攤貼，妙。</p>
<p>治炎火至五壯，血出一縷，急如溺，手冷欲絕。以酒炒黃芩一二錢，酒下則止。</p>
<p>治頭皮內時有蛆出。以刀切破皮，用絲水葉擠汁搽之。蛆出盡，絕根。</p>
<p>治小兒痘爛生蛆。以柳條帶葉鋪地，將兒臥其上，蛆盡出而愈。</p>
<p>治淵疽之發於肋下，久則一竅有聲如嬰兒啼。灸陽陵泉二七，聲即止而愈。</p>
<p>治手指攣曲，節間疼不可忍，漸至斷落。以草麻子去殼二兩，碎者不用。黃連四兩，貯瓶內，水二升，浸之。春夏三日，秋冬五日，每早面東，以此水吞下草麻子一粒，漸加至四五粒，微泄無害。忌食動風，屢驗。</p>
<p>治患頭風證，耳內常鳴，頭上有鳥雀啾啾之聲，此頭腦挾風所為也。用芎歸湯而愈。</p>
<p>治傷寒舌出寸余，連日不收。用梅花腦摻舌上，應手而收。重者，用五錢方愈。</p>
<p>子和治一婦人木舌脹滿口，諸藥罔效。以䤵針砭之五七度，腫減，三日方平，血出盈斗。</p>
<p>治婦人產子，舌出不能收，以硃砂磚其舌，乃令作產兒狀。以二女扶之壁外，潛堆盆盎，令墮地聲響，使婦聞而驚，則收。</p>
<p>治婦人忽生蟲一對，於地能行，長寸余。自後月生一對。醫以苦參加打蟲藥為丸，服之。又生一對，埋於土中。過數日，發而視之，暴大如拳，名子母蟲。從此絕根。</p>
<p>治眼中忽有血如射而出，或緣鼻流下，但出血多時，即經不行，乃陰虛相火之病。遂用歸身尾、生地、酒芍，加柴胡、黃柏、知母、條芩、側柏葉、木通、桃仁、紅花，水煎，食前服，數帖而愈。</p>
<p>治奶頭裂。尋秋後嫩茄子裂開頭者，陰乾，燒為末，水調服。</p>
<p>治被鬼擊，身有青痕作痛。以金銀花水煎服，愈。</p>
<p>治男子每至秋冬，遍身發紅點作癢。此寒氣收斂，腠理陽氣不能發越，炥郁內作也。宜以人參敗毒解表，再以補中益氣湯實表而愈。</p>
<p>治因剝死牛，瞀悶，令看遍身俱紫泡。使急刺泡處，良久遂蘇，更以敗毒藥而愈。</p>
<p>治患腦疽，面目腫閉，頭焮如斗，此膀胱濕熱所致。以黃連消毒飲二劑，次以槐花酒二碗，頓退。以指按下，腫即復起，此膿已成也。於頸、額、肩、頰各刺一孔，膿並湧出，口目始開。更以托裡藥加金銀花，連翹三十劑，全愈。</p>
<p>紅絲瘤。東垣云：李叔和問「中年得一子，一歲後身生紅絲瘤而死。後四子皆然，何也？」曰：「汝乃腎中伏火，精內有紅絲故也。俗名胎瘤。汝試取精觀之。」果如其言。遂以滋腎丸數服，其妻服六味地黃丸，乃受胎生子，前證不復作矣。</p>
<p>蛇入人竅中，急以手捻定，以刀刮破尾，以椒或辛辣物置尾，以綿擊之，即自出。不可拔。</p>
<p>治婦人產後，日食茶粥二十餘碗。一月後，遍身冰冷數塊，人以指按其冷處，即冷從指下上應至心，如是者二年，諸治不效。以八物湯去地黃加橘紅，入薑汁，竹瀝一酒鍾，十服乃溫。</p>
<p>治小兒七歲，聞雷則昏倒，不知人事。以人參，當歸身，麥門冬，少入五味子，熬。膏盡一斤後，聞雷自若。</p>
<p>治飲食若別有一咽喉，斜過膈下，徑達左脅而作痞悶，以手按之，則瀝瀝有聲。以控涎丹十粒。服之少時，痞處熱，作一聲，轉瀉，不痰飲二升。再飲食，正下而達胃矣。</p>
<p>治婦人三陰交無故血出如射，將絕。以指按其竅，縛以布條，昏倒不知人事，以人參一兩煎湯，灌之。</p>
<p>治頸項腫與頭相統，按之堅硬。漏蘆湯一劑，服下發癢，頃刻消散。</p>
<p>治田間收稻，忽然遍身癢入骨髓。用食鹽九錢，泡湯三碗，每進一碗，探而吐之，三進三探，則不癢矣。</p>
<p>以上六法出《意庵醫案》。</p>
<p>治小兒遍身癢。以生薑搗爛，用布包，擦之而止。</p>
<p>治盤腸產者，臨產即子腸先出，而後產子，產子之後，其腸不收。以醋半盞，冷水七分，調均，噴婦面。三噴則腸收盡，此良法也。</p>
<p>丹溪治一婦，產戶下一物如帕，有尖，約重一斤。卻喜血不盡虛。急與黃耆、白朮、升麻各五分，水參，當歸各一錢，水煎。連服三劑，即收上。</p>
<p>治少婦胸間潰一竅，有膿血與口中所咳相應而出。以參、耆、歸加退熱排膿等藥而愈。</p>
<p>治少年玉莖挺長，腫而痿，皮塌常潤，磨股難行，兩脅氣衝上，手足倦弱。先以小柴胡湯加黃連，大劑行其濕熱，少加黃柏降其逆上之氣。腫漸收，莖中硬塊未消。以青皮為君，佐以散風之藥，為末，服之。外以絲瓜汁調五倍子末，傅之，愈。</p>
<p>治病人似喘不喘，似嘔不嘔，似噦不噦，徹心中憒憒然無奈者，用生薑半夏湯主之。半夏半斤，生薑汁一升，水三升，先煎半夏至二升，後入薑汁，共煎至一升半。小冷，分四服，日三夜一，病止停後服。</p>
<p>夏月中寒。一人暑月行百里，渴而飲山水，至晚，以單席陰地上少睡。頃間寒熱吐瀉，身如刀刮而痛。醫皆曰中暑也。進黃連香薷飲不應。予診其脈細緊而伏，此中寒也。眾皆笑曰：六月中寒有是事乎？予以附子理中湯，大服乃濟。</p>
<p>冬天傷暑。一婦冬月患洒洒惡寒，翕翕發熱，惡食，乾嘔，大便欲去不去。諸醫皆以虛弱，用滌痰二陳湯不效後請予治。脈虛無力，予曰：類乎傷暑。眾以為不然。予究之。婦曰：「昨因天寒，令取綿套蓋之，因得此證。」予曰：「誠哉，傷暑也。汝之綿套，曬之盛暑，熱收箱中，必有暑氣。今體虛，得之易入，故病如是。」婦曰：「然」。遂用黃連香薷飲，進二服，其病瘳矣。</p>
<p>噫！冬天傷暑，夏月中寒，病亦鮮見。醫家問切之功，活變之法，不可不知也。</p>
<p>以上二方出《諸症辨疑》。</p>
<p>治人在山亭裸體而臥，其陰莖被飛絲纏繞，陰頭腫欲斷。以威靈仙搗汁，入水浸洗而愈。</p>
<p>妙應丸，治胃寒腸熱，水穀不化，腸脹痞滿，泄利不已。用川烏頭（去尖，半兩），梔子仁，干蠶（各二錢五分），生薑汁，麵糊丸。每五丸，溫酒下，日二服。</p>
<p>青橘皮丸，治胃熱腸寒，善食而飢，便溺小腹脹痛，大便或澀。青皮，三稜，蓬朮，黃連各（一兩），巴豆霜（二錢五分），麵糊丸，綠豆大，茶、酒任下三、五丸。</p>
<p>蒺藜湯，治陰疝，牽引小腹痛。諸厥疝即陰疝也。蒺藜炒，附子炮，梔子各（一兩），每三錢，水煎服。</p>
<p>茴香練實赴筵散，治口瘡不已者。</p>
<p>密陀僧　黃柏　青黛　等分乾摻妙。</p>
<p>訶子湯，治失音不能言語者。</p>
<p>訶子四個（半炮半生），桔梗一兩（半炙半生），甘草二寸（半炙半生），每二錢，童便一盞，水一盞，煎五、七沸，溫服。甚者不過三服。</p>
<p>小兒出痘疹，眼內有翳。</p>
<p>輕粉，黃丹等分，左右反吹耳內。妙。</p>
<p>神應散，治春夏間腳指叉濕爛，婦人多有此。</p>
<p>枯礬（六錢），飛丹（五分），為末，乾摻。</p>
<p>治婦人腹中諸病。</p>
<p>當歸（一兩半）　芍藥（八兩）　澤瀉　川芎（各四兩）　白朮　茯苓（各四兩）　共為末，酒調下一錢，一日三服。</p>
<p>產後腹痛，煩滿不得臥。以枳實略燒黑，芍藥等分，為末。每服一七，日三服。並主癰膿，以麥粥下之。</p>
<p>湯火傷。即將酸醋洗之，甚妙。</p>
<p>治當額害楊梅癰一個，數年不愈。一方士治之。先用藥爛去腐肉，偶見內有骨一片，如錢大，取而去之。治仍不效，復爛之。又有骨一片，再取去，敷生肌散，收口而愈。</p>
<p>治耳內有丁如棗核大，痛不可動，後用火酒滴耳內，令仰上半時，以箝取出，絕根。</p>
<p>治莖頭腫脹，大如升，光如魚肥。以二陳湯加升麻，青黛，牡蠣，水煎服。二劑即愈。</p>
<p>治少年新婚欲交媾，女子阻之，乃逆其意，遂陰痿不舉者五七日。以禿筆頭灰，酒調下一二錢，即起。</p>
<p>治婦產後因子死，經斷不行者半年。一日小腹忽痛，陰戶內有物如石硬塞之，而痛不禁。眾醫不識。青林曰：此石瘕病也。用四物加桃仁、大黃、三稜、檳榔、玄胡索、附子、澤瀉、血竭為湯，二劑而愈。</p>
<p>治左手無名指爪甲生一小瘡，初起麻粒大，用小刀挑開瘡頭，血出如濁，不止。日夜長出肉瘤如菌，裹指頂內開一孔，如一眼目轉動，此疔毒也。以艾灸四十壯，不知疼癢，復烙之，剪去肉瘤，敷拔疔散，外以膏藥貼之，內服解毒湯，七日全愈。</p>
<p>縮泉丸治脬氣不足，小便頻數，一日夜百餘次。以益智仁，天台烏藥大如臂者等分，俱為末，酒煮山藥打糊為丸，如梧桐子。臥時用鹽酒送下五、七十丸。</p>
<p>一女子十六歲，四腕軟皮處生惡物，如黃豆大，半在肉內，紅紫色，痛甚，諸藥不效。一方士教貫水銀四兩，以白紙二張，揉熟，蘸水銀擦，三日自落而愈。</p>
<p>漏瘡。先服蠟礬丸，外以油發燒灰，雞子黃調，傅。</p>
<p>祖傳牙疼方。</p>
<p>新掘李樹根，取白皮搗細，水濃浸一碗，時時含之，絕根。</p>
<p>犬咬。虎頭骨為末，摻之，良。風狗咬更好。</p>
<p>烏梅丸，治腸風下血。</p>
<p>烏梅燒灰存性，醋糊為丸，米飲下七十丸。</p>
<p>酒毒下血。</p>
<p>大田螺五個，洗淨，仰安火上煅，乾焦為度，作一服，酒下。</p>
<p>立驗膏，治痔漏，腸頭不收有血者，貼之，除根。</p>
<p>黃鱔一條，以刀斷其頭，血下，以掌盛之，急取大蜘蛛一枚於內，研化，瓷罐收之。發時塗三、五次，妙甚。</p>
<p>虎骨散，</p>
<p>治肛門突出。以虎骨燒灰為末，水下一匕，日三服。</p>
<p>眼目一切病。</p>
<p>羊膽一個入蜜一錢，札定，重水煮熟。入冷水浸一時，取出候乾，傾入罐內。以箸點眼四角，妙。</p>
<p>金絲膏，治打破傷損，止痛散血退腫。</p>
<p>嫩松脂二兩熔化，傾入水中，候冷，取出再熔，謂之兩熟。又下生松脂二兩，熔化入麻油五錢，油紙攤貼傷處。</p>
<p>又方，綠豆粉新鐵銚內炒紫，以新汲水調成膏，厚傅傷處，貼以紙花，杉木皮縛定，其效如神。</p>
<p>商陸膏，治石癰不作膿者。</p>
<p>生商陸根打爛，傅之，日久自消。</p>
<p>陰囊濕癢瘡，流黃水。以白礬為末，冷水調洗。</p>
<p>治諸骨鯁。飴糖如雞子黃大，吞之。如不下，更作大團吞之，至十團無不下。</p>
<p>又方，金鳳花子嚼爛，噙下三錢。又催生妙。</p>
<p>備急丸。大黃、乾薑、巴豆（炒）等分，共搗一千杵，煉蜜丸，密器貯，莫令泄氣。加大戟，甘遂更妙。</p>
<p>治心腹卒暴，百病及中惡猝死者，痛如錐刺。白湯酒任下三四丸。口禁者灌之。如未瘥，再進三丸，腹中鳴，則吐下便瘥。</p>
<p>雄黃解毒丸，治諸證各有引子。</p>
<p>雄黃、鬱金（各兩），巴豆（八錢），去油炒焦。乳香沒藥（各二錢），醋糊丸，硃砂為衣，每服五、七丸。</p>
<p>疔瘡數日，毒氣入內，服之即效。</p>
<p>心氣疼，醋下。纏喉風，茶下。吐涎妙，不吐，再服。</p>
<p>急心疼，艾湯下。人暴死，但心頭有熱，灌下，無不活。氣不順，木香湯下。諸瘢腫毒癰疽，小兒驚風，酒下，無不效。蛇傷，雄黃水下。發熱，白湯下。</p>
<p>風狗傷，斑貓七個炒，防風湯下。</p>
<p>喉痹，薄荷湯下，乳香酒下。身浮腫，荊芥，艾湯下。</p>
<p>婦人經行行，紅花湯下。</p>
<p>頭風疼，川芎湯下。</p>
<p>口眼喎斜，麻黃湯下。</p>
<p>膨脹，香附湯下。　痄腮，芍藥湯下。</p>
<p>痢疾，甘草湯下。　瘧證，井花水下。</p>
<p>產後，皂角湯下。　酒食傷，鹽湯下。</p>
<p>赤白帶，酒下。　腰腳痛，當歸酒下。</p>
<p>小兒亦可用。</p>
<p>半身不遂，風證，用姜十片，棗十枚，蔥十根，絹袋盛，入罐，煮酒下，日三次，緩即浸酒亦可。春三，夏一，秋五，冬七。</p>
<p>小兒刮腸痢，眼閉口合，禁口至重者。</p>
<p>精豬肉一兩，薄切片，熳火炙，以膩粉末半錢，旋鋪肉上，炙令成脯。如不吃，放鼻頭聞香，自然要吃。</p>
<p>又方，臘肉脯煨熟，食之，妙。大人亦可服。</p>
<p>一婦開甑為熱氣所沖，面目腫而經閉。</p>
<p>用炊飯布經久者燒灰，隨傅隨消，半日而愈。</p>
<p>耳中出血。龍骨為末，吹入即止。</p>
<p>發背色黑不疼痛者。艾葉一斤，雄黃、硫黃各五錢，水煎，溫傅十餘度。疼則可治，若不疼，黑血出者難治。</p>
<p>汗血不止。驢糞燒灰，吹鼻內，即止。</p>
<p>治患癆瘵二年，一日無肉味，腹痛不可忍。其家恐傳染，置於空室，待自終。三日無肉食，或惠雞子，病人自煎食。將熟，忽打噴嚏，有紅線二尺許自鼻出入銚。遂以碗覆，煎熟視之，即癆蟲，遂安。</p>
<p>治人自幼好酒，片時無酒，叫呼不絕，全不進食，日漸羸瘦。或執其手縛柱上，將酒與看而不與飲，即吐一物如豬肝入酒內，其人遂安，絕酒不飲。</p>
<p>雞屎醴，散鼓脹，旦食不能暮食，痞滿。</p>
<p>大黃、桃仁、雞屎醴要乾者等分，每一錢，水一盞，姜三片，煎湯調下。愈後臨臥服。</p>
<p>又方，用豬血不著鹽水，待自凝硬，瀝去水，曬乾，為末，酒下。泄之妙。</p>
<p>治小兒猝死而吐利，不知是何病焉。</p>
<p>狗屎一丸絞取汁，灌之。無濕者，水煎乾者取汁，亦可。</p>
<p>狐惑證，下唇有瘡，曰狐，乃蟲食其肛。黃芩煎湯洗之。上唇有瘡，曰惑，乃蟲食其臟，因腹內熱，腸胃虛，蟲出求食。用瀉心湯。大黃（二兩），芩連（各一兩）水煎服。</p>
<p>四聖散，治小兒胎受熱毒，生下兩目不開。。</p>
<p>燈心、黃連、秦皮、木賊草各五錢，水一小盞，煎，澄清，頻洗，妙。</p>
<p>室女近窗做女工，忽患頭疼甚，諸藥不效。一醫徐察之，窗外畜鵝，知為鵝蝨飛入耳內咬而痛也。以稻稈煎濃汁，灌之。蝨死而出，遂不痛。</p>
<p>一居民逃難石室中，賊以煙攻之，欲死。偶得蔔葡，食之而蘇。又法，一口呵地即不死。</p>
<p>禿積。鯽魚一個，三四兩重者，去腸，雜以亂髮填滿，濕紙裹，燒存性，入雄黃，生麻油調傅，先洗透，妙。</p>
<p>治諸骨骾，以象牙末吹之，妙。又取犬涎徐徐嚥下，立效。</p>
<p>治喉閉，牙關不開。以針刺少商穴，口遂開，以膽礬吹入，吐痰一二碗，仍投防風通聖散而愈。（少商穴在大指內側去爪甲韭葉許。）小兒初生身破裂者，必死；陰囊白者，必死；陰不起者，必死；股間無生肉者，必死；無糞門者，必死，一云，必假物以開之。</p>
<p>大小子疝腫。木鱉子醋磨，加芙蓉葉末，敷之。（謝古溪方）</p>

<h1>卷下</h1>
<p>治男子陰證傷寒因女色者，唇黑甲青，四肢冷，陰縮。</p>
<p>大附子一枚一兩重者，小便煮去其毒，量用二三錢，大人參三錢，乾薑一錢五分，水煎服。陽回，去附子，調理全愈。</p>
<p>又方，小雞一隻，軟肚邊去毛，切破，夾陰莖。換四五隻，陽回為度。神效！神效！</p>
<p>治頭風，六月畏寒，重裹綿絮，三十年不愈。予以蕎麥粉二升，水調，打餅二片，更換合頭上，微汗出，即愈。治腿風痛。生薑半斤，搗爛如泥，入火酒一杯，調勻。</p>
<p>一服止，二服而愈。</p>
<p>治風痛數年。余以七葉黃荊取根皮，加接骨草，五加皮，酒二鍾煎一鍾，次日溫服，即愈。</p>
<p>如聖散，治風氣遍身疼痛。草烏半斤，薑、蔥等分，共搗，置陰地上待生白毛，曬乾，為末。每酒下三分，三四服必愈。（惟五月雷天好修合。）</p>
<p>面黃而氣短，此元氣損少之故也。</p>
<p>乾薑（少煨），生附子（各五錢），硃砂（一兩，另研），赤石脂（一兩五錢），酒糊丸如黑豆大，每服十五丸，加至二三十丸，米飲下。小便數而不禁，茯苓湯下。怔忡多忘，魘夢不已，茯神湯下。</p>
<p>治癰瘡有惡肉不能去者。膏藥內用巴豆末，雄黃末各少許，不傷良肉，只去惡肉。</p>
<p>又方，用丁香為末上之。深則紝之，淺則摻之，外以膏藥護之。</p>
<p>一切腫毒不消者。薑汁調輕粉塗之，立消。</p>
<p>陰頭生瘡。蜜煎甘草塗之，神效。又治湯火瘡。</p>
<p>清胃散，治胃熱，上、下牙疼不可忍，牽引頭腦，發熱腫痛。生地黃，黃連，當歸身一錢，牡丹皮一錢五分，並酒洗升麻二錢，水煎服，效如神。</p>
<p>渴欲飲水，水入則吐，名曰水逆，五苓散妙。</p>
<p>渴欲飲水不止者，文蛤為末，沸湯下妙。</p>
<p>治飲水，水在脅下，咳唾引痛，謂之懸飲，用十棗湯。</p>
<p>芫花炒，甘遂，大戟各等分，為末，水一升半，先煮肥大棗十枚，煎八合，去滓。強人納藥末一錢，瘦人五分，平旦溫服。不下者，明日再服五分。得快下後，糜粥自養而愈。</p>
<p>食生肉中毒。掘地深三尺，取下土三升，以水五升，數沸，取青汁，服一升，即愈。</p>
<p>食牛肉中毒。甘草煮汁飲即解，又因而生疔瘡者，以茶花根水煎一碗服妙。</p>
<p>又方，以生菖蒲擂爛，以熱酒調，取汁，服一碗，汗出而愈。</p>
<p>凡鳥獸中毒箭死者，其肉有毒，用此解之。大豆煮汁及鹽服之妙。</p>
<p>食諸果中毒。豬骨燒灰，冷水下一匕。</p>
<p>梨不可多食，令人寒中，金瘡、產婦皆不可食。</p>
<p>食蟹中毒，紫蘇煮汁，飲三升瘥。食冬瓜亦妙。</p>
<p>食花椒氣閉欲絕者，飲冷水即解。</p>
<p>凡飲解毒藥，雖云救急，不可熱服。諸毒得熱便甚，宜冷飲之。</p>
<p>水銀入人耳及入六畜等耳皆死。以金銀著耳邊，水銀即吐出。</p>
<p>傷寒小結胸，按之微痛。甘遂水先煎，後入大黃，芒硝，一服下之而愈。</p>
<p>開胃湯治傷寒失音。人參、黃耆、蒼朮、白朮、當歸各一錢，陳皮半去白，茯苓、乾薑、半夏、細辛、橘皮各五分，五味子四分，芍藥二錢、黃柏、甘草各少許，水煎服愈。</p>
<p>治瘧。柴胡，半夏與黃芩、甘草、常山、白茯苓、蒼朮、烏梅、薑、草果、檳榔、蘇葉及青陳，水煎服，妙。</p>
<p>意庵治婦人患心痛數年。茶末一分，人言半分，白湯調下，吐瘀血一塊而愈。</p>
<p>衄血，小勞及酒後即出。白朮、梔子、黃芩、黃連等分，為末，粥丸，米飲下，每服三十丸，久服即效。</p>
<p>血虛上行。人參一兩為末，每酒下三錢，妙。</p>
<p>冷氣吐白沫。良薑末三分，陳火酒調下。</p>
<p>嘈雜時吐清水。上好廣陳皮去白為末，五更起坐床上，安藥五分於手心，男左女右，干舐下而眠。服三朝必效。如陳皮不好即不驗。</p>
<p>翻胃。水澄螺螄泥曬乾，每火酒下一錢。（胡松谷方）</p>
<p>治途中遭雨打，面腫大甚。麻黃湯加黑豆炒三合，水煎熱服，大汗出即消。</p>
<p>前後便秘。取烏桕樹正根搗爛，水煎服，立通。傍根能止。</p>
<p>治熱淋痛甚，渴欲飲水。滑石（一兩，煅紅），入醋淬一次，水飛過，炙甘草（一錢二分），和勻。五更井花水下，日二服，神效。冷水多飲之亦妙。</p>
<p>治大病後，身面俱黃，四肢無力，吐血成盆，諸藥不效。</p>
<p>螺螄十一個，水漂去泥，連殼搗爛，露之。立更取澄清水，服三、二次，黃去血止而愈。</p>
<p>平昔發痧。煨鹽一錢五分，吳茱萸炒黃，每歲一粒，共為末，滾酒下。絞腸痧亦妙。</p>
<p>九種心痛，噁心吐水，積聚氣滯，是有蟲也。取出蟲即愈。乾漆四兩，慢火燒煙盡，醋糊為丸綠豆大。食後酒醋熱下五、七丸，不愈加服。</p>
<p>腰痛，曲而難伸。山楂為末，茶、酒、鹽湯隨下，神效。</p>
<p>外腎紅腫，大如升者。川山甲三片炙焦取末。</p>
<p>白姜蠶（炒）、杏仁、白芷（各二錢），麝香（二分），乳香（五分），大黃（五錢），俱為細末，歸尾（一兩）。蜜糖（一兩），水二碗煎一碗，空心調下。一服不盡，作二服亦可，或用生蜜和為丸亦可。</p>
<p>耳鳴。坐下微煨綿包塞耳內，即止。</p>
<p>耳後軟節愈而復發。松香（八分），銅青（二分），天麻子同搗為膏，紙攤貼，妙。</p>
<p>耳猝痛。核桃油滴入即止。</p>
<p>耳膿。枯礬（一錢），黃丹（三分），先以綿絞膿干，吹入，妙。</p>
<p>鼻生贅肉，臭不可近，痛不可搖，束手待斃。白礬加硇砂少許，吹入，即化水而愈。</p>
<p>鼻常流清涕。以蓽撥末吹入即愈。</p>
<p>赤鼻。枯礬（三錢），硫黃（二錢），臥時取三分於手心，唾調，以指塗鼻孔內，睡醒再塗。三日則變色，七日全愈。</p>
<p>走馬牙疳及口瘡。黃連，升麻等分，為末，米泔水洗淨，摻之，妙。</p>
<p>又方，鬱金磨水下，更妙。</p>
<p>風牙疼。良薑、細辛、全蠍為末，擦。</p>
<p>西獄蓮花峰斷碑方。</p>
<p>豬牙皂角及生薑，西國升麻熟地黃，木律旱蓮槐角子，細辛荷蒂要相當，青鹽等分同燒煅，研末將來使最良。揩齒固牙髭鬢黑，誰知世上有仙方。（木律即梧桐淚）共入新礶，鹽泥固濟，倒放磚上，煅至煙盡，次日取出，擦牙甚妙。</p>
<p>口禁不開。巴豆油紙燒煙煍鼻，即開。又治喉閉，甚妙。</p>
<p>手指害蛇頭瘡腫痛甚者。寒水石，雄黃為末，水調傅，效。</p>
<p>又方，烏梅肉，魚鮓共搗爛，傅之，妙。</p>
<p>治冬居大室，衣薄，表有大寒，壅遏裡熱，火邪不得舒伸，故血於口後遂成衄。與麻黃湯，一汗而愈。</p>
<p>白牙散。白芷（七分），升麻（一錢），石膏（一錢五分），羊脛骨（燒灰一錢），麝香（少許），為末，擦牙。</p>
<p>吐血，氣衛穴以三稜針出血，立止。</p>
<p>鵲石散，治傷寒發狂，逾垣上屋。</p>
<p>黃連、寒水石（各一錢），濃煎，甘草湯冷調下，妙。</p>
<p>鬲食，鬲氣，梅核氣。甘遂（五錢面里煅），木香（一錢），為末。壯者用一錢，弱者五分，酒調下。</p>
<p>胃寒嘔吐不止。陳皮（二錢），生薑（六錢），水煎，熱服。</p>
<p>足轉筋入腹。多著鹽水煎，溫洗。</p>
<p>脫肛不收。大艾葉濃煎汁，漫之。再用芭蕉葉托上，用之甚效。</p>
<p>食已即吐者。大黃（四錢），甘草（一兩），水煎服。</p>
<p>乾嘔噦，若手足厥者。橘皮（四兩），生薑（半斤），用水煎服。</p>
<p>嘔吐而病在膈上，後思水者，欲解也。</p>
<p>豬苓，茯苓，白朮等分，為末，米飲下一匕，日三服。</p>
<p>胃反嘔吐者。半夏（二升不切），人參（三兩），白蜜（一升），水一斗二升，如和蜜，揚之二百四十遍，煎至四升。溫服一升，余再服。</p>
<p>噦逆。橘皮竹茹湯。又治噫氣五、七日不止者。</p>
<p>橘皮（二升），竹茹（二升），大棗（三十個），生薑（半斤），甘草（五兩），人參（一兩），水煎，二三服。</p>
<p>下利譫語者，有燥屎也。大黃（四兩），厚朴（二兩），枳實（大者三枚），水煎服，得利則止。</p>
<p>腎著湯，治腰曲不能伸。</p>
<p>赤茯苓，白朮（各四兩），炙甘草（三兩），乾薑（二兩炮），每五錢，二服。</p>
<p>秘真丸，治白淫，小便不止，精氣不固及有餘瀝，或夢陰人交而泄。龍骨（一兩另研），大訶子（五個去核），硃砂（一兩分一半為衣），麵糊丸綠豆大，每服一丸，空心調下，冷水亦得。不可多服，服則大秘，蔥白亦可。</p>
<p>下利清穀，裡寒外熱，汗出而厥者。</p>
<p>附子（一枚生用），乾薑（二兩），炙甘草水煎，溫服。</p>
<p>下利已瘥，至其時復發者，以病不盡故也，當下而愈。</p>
<p>大黃、厚朴、枳實、芒硝，水煎服，一下而愈。</p>
<p>陰狐疝氣者，偏有大小，時時上下。</p>
<p>蜘蛛（十四個熬焦），桂枝（五錢），米飯調服一匕，日再服。蜜丸亦可。</p>
<p>咳逆上氣，時時唾濁，但坐不得眠。皂角八兩刮去皮，炙酥為末，蜜為丸。棗膏和湯，服三丸，二三夜一服。</p>
<p>治心痛澈背，背痛澈心。赤石脂、蜀椒、乾薑（各一兩），附子（五錢炮），烏頭（二錢半炮），蜜丸，每服一丸。二三服效。</p>
<p>治腹患癰，口出血膿如蟹吐沫，此肉潰透膜也。瘡瘍透膜，十無一生，須以大補亦不能救，惟待膿出，自之戒也。</p>
<p>治婦人腹內一塊，不時作痛，痛則人事不知。脈沉細，則非瘡毒。劉河間云：失笑散治疝氣及婦人血氣，並效。二劑而平。</p>
<p>失笑散。蒲黃（炒），五靈脂，等分，每二錢醋湯調下。</p>
<p>治小兒十歲，腹脹痛，服消導藥不應，其脈右關沉伏，此食積也。詢之，果因食粽得此。以白酒面熱酒服而愈。</p>
<p>治睡間蟲入耳，痛甚。用生薑擦腎鼻，其尿自出，取滴耳內，妙。用香油滴入，則蟲死難出。</p>
<p>治左足大指赤腫焮痛，此脾經積毒下注而然。各脫疽喜色赤而痛。以人參敗毒散去人參，桔梗，加金銀花，白芷，天黃，二劑。更以金銀花，甘草，瓜蔞，四劑而愈。</p>
<p>意庵治婦人足大指紫腫，痛不可忍。用大黃，朴硝，石膏，瓜蔞根，大下數次而愈。</p>
<p>治患疽，色紫赤，不痛。以鬲蒜炙五十壯。不知痛，再炙至百壯而愈。孫真人云：脫疽之症，急斬去之，如毒延腹內則不治。紫黑者不治。</p>
<p>治女子誤吞針入腹。同蠶豆，菱熟，同韭菜食之。針從大便出。</p>
<p>治誤吞銅錢。胡桃仁食之自化。又食荸薺亦好。</p>
<p>治開肆市藥，忽患頭腫如斗大，痛如錐刺，諸藥不效。</p>
<p>復教以甘草濃煎湯，煮之就令溫服，飲一二盞遂愈。蓋聞藥毒所致也，甘草解之。</p>
<p>金瘡破腹，腸突出。以幹人糞抹腸頭上，自入。</p>
<p>老人遺尿。研薔薇根汁，酒調下。</p>
<p>嗽欲死者。半夏一兩二錢湯泡，水煎二分，服。</p>
<p>中惡卒死。灸臍中百壯，以皂角末吹鼻，或韭汁灌耳。</p>
<p>治婦人膝冷至足，湯火不能溫，以附子治之不效。</p>
<p>用四物湯加黃柏、知母，四劑而愈。</p>
<p>治婦初足下強硬，數月膝亦硬，一年則手足骨節俱不能動，臥床如癱風，診之又非風證，知為虛也。以人參、當歸、附子煎膏，盡二斤而起。</p>
<p>赤白痢。初來三、五日用大黃一兩水煎服，下之。下後用收拾湯。罌粟殼二錢去筋膜炒，川芎、陳皮、甘草各五分，加燈心、紅棗、水煎服。如腹脹，加草果五分。治痢後之妙藥也。</p>
<p>封臍膏，治大人、小兒水泄赤白痢。</p>
<p>陳小粉炒黃為末，每四兩加乳沒各一兩。每用一匙，醋調封臍，膏藥貼之。重者一日一換，即愈。</p>
<p>冷氣痛。火酒入飛鹽服之妙。</p>
<p>小兒來尿不禁。蜜一杯，車前草一科，搗汁入內，略熬，露一夜，清晨服之。妙。</p>
<p>婦人新久腹痛。</p>
<p>玄胡、蒼朮、檳榔、良薑（各一錢），茯苓、肉桂、丁皮、乾薑（各五分），稜、莪、甘草、青皮、砂仁（各八分），連須蔥白三根，水煎服。效如神。</p>
<p>萬山觀蘆吸散治一切嗽，乃洞賓祖師仙傳方也。軟石膏煅一日，自蘇為度，款冬花蕊揀淨，官桂去渣，甘草炙，四味各制，各篩稱勻，各和再研，再篩二三次。每日臨晚仰臥，以蘆管，吸入三分，茶清咽之。七日必效。用三分置舌上而睡，次早飲白湯，亦妙。催生並胎衣不下。用鰾膠八寸，瓦上焙乾，燒灰酒送下。</p>
<p>產後兒枕痛。</p>
<p>山楂一兩搗碎，水二鍾，煎一鍾，入砂糖二匙服之，痛立止。</p>
<p>小兒吐瀉。</p>
<p>巴豆（一粒，去殼燈上燒），黃蠟一小塊（燈上燒），滴入水中同擂，丸如黍米大。小兒五九，大兒七丸，用蓮子七個，燈草七段，湯送下。</p>
<p>大便不通。</p>
<p>芒硝，川大黃，巴豆（去油，各五錢），水丸如梧桐子，每日空心粥飲下七丸。不效，再加丸服。</p>
<p>小便血。用病人頭髮一丸燒灰，好酒調。</p>
<p>水瀉，腹中響如雷者。軟石膏火煅，老米飲為丸如梧桐子大，飛過黃丹為衣，每服二十丸，米飲下，不二服即效。</p>
<p>腫睡。蟬退為末，入牯豬膽，蜜和調塗。赤小豆亦可。</p>
<p>食過飲痞脹。陳吳茱萸半升，水煎濃汁，入馬牙硝一兩，服。良久不轉，更進一服，必效。</p>
<p>心痛。石菖蒲、良薑，為末，白湯下一錢。</p>
<p>火燒瘡。土蜂窩、硃砂（各一錢），片腦（一分），雞子清調服。</p>
<p>腦癰。石灰入飲內搗爛傅之。</p>
<p>行路腳打破，腫甚。乳香，沒藥，油調傅瘡口，立收。再用黃柏，大黃，雞子清調傅腫處，即消。</p>
<p>噤口痢。蜂蜜，砂糖並薑汁湯下。瀉，用老米飲下。肚痛，炒米湯下。忌魚腥生冷。</p>
<p>胸膈痰壅閉塞不快。半夏為末，薑汁調濕，紙包煨香即取出，切碎，入水煎服。妙。</p>
<p>牛皮癬。生騾皮一塊，入皮硝醃之，燒灰，油搽，一掃光。</p>
<p>絞腸痧。胡椒，綠豆各二十四粒，擂細，酒調服，妙。</p>
<p>吃飲直出。梔子二十個，微炒，去殼，入水煎服。</p>
<p>蟲蛙牙痛。巴豆花椒飲丸，安窩內。</p>
<p>點痣方。巴豆（一錢）入石灰同炒，去石灰，人言（一錢），糯米（五分炒），和勻點之。如有痔丁，點之，待爛，唾調醫痔藥傅上，以紙封之，則氣閉而易愈。</p>
<p>治大驚，九竅出血。平旦初汲井花水噀面，即止。</p>
<p>五淋。用破席水煎服。</p>
<p>腫毒堅硬不穿。歸尾，赤芍藥，芎芷，麻黃，甘草，烏藥，枳殼，茴香，木通，何首烏，獨活，連須蔥白一根，水煎熱服，汁出即穿。</p>
<p>油炒半夏，大治濕痰，又治氣喘，又治心疼。粥丸，薑湯下三十丸。</p>
<p>房中妙術。白馬莖陰乾，為末，和肉蓯蓉，蜜丸，空心酒下四十丸。</p>
<p>治乳癰，腫及頭面。韭菜園內尋蚯蚓糞，生擂絕細，篩淨，以井水調塗頭面，即全消矣。</p>
<p>治發背初起。麻黃（十斤搗碎），川歸，防風（各一斤），甘草（五錢），熬膏，滾酒調下一匕，即汗出而愈。</p>
<p>疫病不染方。蒼耳草頂上嫩苗焙乾，為末，用三指撮，冷水下，妙。</p>
<p>蟻窠瘡。蒼耳草，車前草，松毛煎湯洗，百草霜摻之，收口妙。</p>
<p>治牙惡熱飲，痛。黃連末擦之，立止。</p>
<p>治牙冷痛。蒜半瓣，巴豆一粒，綿裹反塞耳內。</p>
<p>產後血氣疼。白雞冠花酒煎服，妙。</p>
<p>治喉秘。枯礬，姜蠶，等分為末，吹入，效。</p>
<p>治大腸燥秘。當歸（酒洗）、熟地黃（酒浸各八分），桃仁（一錢去皮尖），條芩（酒），大黃（酒），人參（各五分），升麻（三分），生甘草（二分），水煎服。</p>
<p>療痔神方。懞子粉、糯米粉（各一升，炒黃），以滾水調，作果，飯上蒸熟，空心食遠吃之，四五次，效。</p>
<p>紫霜丸，治小兒宿滯不消，胸膈痞滿，泄瀉如痢等積，及硬塊如石，妙不盡述。杏仁（四十九粒，去皮尖，另研），巴豆（三十粒，去心皮去油），赤石脂（一兩），代赭石（一兩），煅紅醋淬五七次，水飛過，湯浸蒸餅為丸，黍米大。三歲小兒每服二三丸，四五歲服五六丸，十歲服七丸而止。入早飯、中飯內吞之，晚飯不可服。</p>
<p>收斂發背一切瘡口。鱉甲燒存性，研極細，摻之，妙。</p>
<p>洗赤眼。銅綠，黃連，芒硝，白鹽、生薑少許，水煎一沸，紙濾，洗之。</p>
<p>酒後嗽。白殭蠶炒，為末，每茶下一錢。</p>
<p>九漏，煉松枝為末，填孔內令滿，日三四次，七日瘥。大效。</p>
<p>卒不得小便。車前草一把，桑白皮半兩，水三升，煎一升，頓服。又方，酒下亂髮灰，一雲水下。</p>
<p>疥瘡。硫黃，密陀僧，等分，油調，擦。</p>
<p>口吐清水。干艾水煎服。</p>
<p>血崩。老豬母糞燒存性，為末，酒下。</p>
<p>嘔吐。用二陳湯加丁香三分，砂仁五分，熱止去丁香，加石膏，薑棗煎服。</p>
<p>乏乳。川山甲七片，新瓦焙燥，為末，酒下。</p>
<p>小兒水泄。風化石灰，糯米粥丸如芡實大，冷水下一丸則好。</p>
<p>陰囊生瘡痛癢甚。蛇床子，蒺藜子煎湯浴之，永不再發。</p>
<p>胎衣不下。朴硝二錢，童便調下。</p>
<p>催生散。白芷二錢燒存性，或炒，滑石一錢，百草霜二錢，以當歸、川芎、紫蘇煎湯，加童便、好酒各一合，調下。</p>
<p>火丹。銀硃入雞子清，銀簪調，傅。</p>
<p>治婦人乳毒及一切初起腫毒，服之則消。</p>
<p>敗龜板一枚，煅去火毒，每三四錢酒調下。</p>
<p>一捻金，專治咳嗽。知母、貝母（各一兩）　巴豆（四十九粒，去油），每臨臥用生薑一片，蘸藥一豆許，嚼下，舌拄上齶，臥則效。</p>
<p>臁瘡。公雞肭皮洗淨貼之，日一換，十日全愈。</p>
<p>一切時行陰證傷寒，不拘老幼，惟孕婦不可服。</p>
<p>白芷（二兩），甘草（一兩），每服一兩，水一碗，薑蔥共煎，減半，熱服，一汗為度。有半月不汗者，服之則汗。只許濟人，不許賣錢。</p>
<p>新添三黃丸，治五勞七傷，流濕潤燥，消渴煩熱甚者。大黃，黃芩，黃連，等分，煉蜜丸。每三十丸，加至五十丸，薑湯下，日三服，妙。</p>
<p>大小便不通，用鐵腳丸。皂角炙，酒麵糊丸，酒下。</p>
<p>蓽澄茄丸，治中焦痞塞，氣逆上攻，心腹㽲痛，吐逆下痢，不美飲食。蓽澄茄（五錢），良薑（二兩），神麯（炒），青皮（去白），桂（各一兩），阿魏（五錢，醋曲裹煨），醋曲糊丸，薑湯下。</p>
<p>寒嗽。麻黃（四兩），官桂（一兩），為末，每一二錢，以蠟二錢入水煎，調下。</p>
<p>熱嗽喘甚。石膏（二兩），炙甘草（五錢），每三錢水下。又薑汁蜜調下亦可。</p>
<p>二氣散。黑白牽牛等分，大麥面同為燒餅，臨臥茶下，降氣為驗。</p>
<p>牙痛，出血不止。調胃承氣蜜丸服之。</p>
<p>取牙。草烏，蓽撥（各一兩半），川椒，細辛（各三兩），擦之自落。</p>
<p>牙疼。土蒺黎鹽水煎，熱漱，妙。</p>
<p>噫氣法。食物時氣逆，即到轉筋頭，吸氣一口，直嚥下丹田，即止。</p>
<p>救卒死方。雄雞冠血吹鼻內。</p>
<p>又方。雞肝及血塗面上，灰圍四旁，立起。</p>
<p>治婦人六十二種風及腹中血氣刺痛。紅花一兩，酒煎服。</p>
<p>當歸散，有孕宜常服，則無胎產之苦。產後諸病皆主之。當歸、芍藥、黃芩、川芎（各一斤），白朮（半斤），為末，酒下一錢，日再服。</p>

<h1>怪證奇方雜錄附</h1>
<p>足轉筋，密念木爪二字即愈。</p>
<p>諸骨哽，解開衣帶，低頭視下部數次，其骨不下行則上出矣。</p>
<p>一切蟲入耳，如在左耳，以手緊閉右耳，努氣至左耳，其蟲自出。</p>
<p>一切塵埃等物眯目，自以手撐開眼皮，內盡力啐之數口，即出。不勞倩人吹也。</p>
<p>傷寒無汗，鄉村無藥去處，令其人盤足而坐，以兩手指相交抱腦後，低扣向前數十次，汗出為度。（胡松谷方）</p>
<p>冬月極冷，以兩手緊握其拳，一時即汗出。</p>
<p>無朝以兩手夾耳根，上下擦一十二次，永無聾瞶之患。</p>
<p>無事時常閉其口，以上下齒咬住，永無痛壞之患。</p>
<p>無朝靜坐，以兩手搓熱，擦兩腎一十二次，即腰不痛。</p>
<p>又法，用兩手搓熱，擦足心一百二十次，兩足俱擦，能治百病。</p>
<p>修心要作長生客，煉性當為活死人。</p>
<p>一分塵心盡，則明一分道，十分盡則明十分道。塵心絕盡，則可全於性；色心絕盡，則可全於命。無明心絕盡，則可得於沖和。刻刻常披己過，方得神氣內安，則為真功，不見他人非，則為真行。</p>
<p>手足或發瘤，白粱米粉鐵鐺熬赤，眾唾調塗寸厚，即消。</p>
<p>魚骨鯁。即令其人到轉筋頭食之，骨自下。</p>
<p>又法，即魚刺點插其人頭髮上，即自上。</p>
<p>一切火眼。以鹽擦牙，手接涎唾，洗眼數次，則愈。</p>
<p>兩眼腫如桃大。用豬鬃四根，各插入攢竹、睛明四穴拈之，得睡一覺，醒去之。妙。（戴溪築方）</p>
<p>蜈蚣咬。以右手大指、中指托地，中指盡處掐起少土，傅之，勿使患者知，妙。</p>
<p>救溺死法。將溺者以腹橫架板凳或牛背上，使頭自下，倒瀝去腹中之水，即活。</p>
<p>摩一切癰疽法。春初雷始發聲，急以兩手指雷，候聲止乃止，七日勿洗。平此後有惡蟲所傷及瘡腫摩之，隨手而消。</p>
<p>救縊法。徐徐抱住解繩，不得截斷上下，安被臥之，令兩人以管吹其兩耳。此法最好，無不活者。自旦至暮，雖冷亦可救；自暮至旦，陰盛則難救。</p>
<p>意庵傳收蠍螫法。每年除夜，左手拽起前裾，右手執三尺長棍，問門楣上敲三下，唸咒云：蠍蠍蠍，螫螫螫，不向梁上走，卻來這裡螫，一敲敲八節。咒畢，吸氣一口吹於杖頭，復吸其氣吹於執杖手心，如此三次即已。遇有喝螫，以手摩之即不痛，可用一年。次年除夜，又加法為之，否則不驗。</p>
<p>收一切腫毒法。每朝向東書三字於腫上，咒曰：赫赫陽陽，日出東方，神筆到處，萬病消亡。一如律令敕：⿱𫩠⿲飠糹⿱亠龶⿱𫩠饍⿱𫩠⿰飠車○⿱𫩠⿰飠殊⿱𫩠𩜊⿱𫩠⿰飠怪○⿱𫩠𩚵⿱𫩠⿰飠存⿱𫩠餔○。</p>
<p>已上用好京墨磨得極濃，每唸咒一遍，書符字一個於腫毒上。未成則消，已成則潰，極驗。</p>
<p>截瘧法。告狀人某於某年月日，自不合打從太行山下過，遇著五鬼：一飢、二飽、三寒、四冷、五惱。向被纏害，以致飲食少進，身體倦怠如蒙。准告乞拘到案，審究禁革，發遣遠方，庶免纏害為便。為此具告，可備福事於當境神祠，告之，即愈。</p>
<p>蔥慰法治陰證。生蔥一束，以繩扎如杯大，切去根葉，留二寸，以火燒一面令熱，著臍下。外以鬥熨之，令熱透中，便作三、四餅，壞則易之。俟病人手溫有汗，乃服四逆湯調理。</p>
<p>火攻法。以火燒地坑令赤，以酒傾入。待滲干，以草荐鋪上，病人臥之，上蓋取汗，妙。</p>
<p>或燒火磚噴以醋，紙包入被中薰之；或燒熱丸噴醋，紙包熨胸背四肢已上，皆取汗之法也。</p>
<p>水攻法。審其邪熱輕重，如欲飲一斗，止與五升，不可過飲。少待半時又欲飲，仍新汲與之。蓋頻與水不妨，但不宜一飲而極意也。凡飲水後，寒戰交作，汗出而解者，即愈也。若欲飲而不與則乾燥，無由而作汗，反煩躁悶亂矣。古人以傷寒時氣欲飲水者為欲解。凡熱盛者，必用水清法，或以噀面，或以澆身，或置病人於水中，或浸手足，或浸舌漱口而不欲咽者。大抵陽證陽脈，內實熱甚，煩渴舌燥者，與水無礙。凡中暑、霍亂欲水者，少與之，慎勿恣。</p>
<p>靈火針。硫黃、雄黃（各一錢），鬧洋花（一兩），牙皂（三錢）、川烏、草烏（各五錢），熟艾（一兩），鈔卷如指大，以□紙封之，按痛處上，以紙隔五六層針之。病人叫痛即起，以膏藥貼之，則不害，妙甚。咒云：天火地火雷火針，天天開，針地地裂，針病萬病消滅，吾奉紫虛元君急急如律令勑。</p>
<p>遺精夢泄法。每夜側身臥，兩足縮起，彎腰，手握拳，心無外慕，則不泄矣。</p>
<p>口中言少，心頭事少，壯裹食少，自然睡少，依此四少，神仙決了。</p>
<p>師曰：酒為亂性之漿，肉為斷命之物，直須不吃為上。酒肉犯之猶可恕，若犯於色，罪不容誅。蓋色之害人甚於狼虎，敗人善行，損人善事，亡精滅神，至於殞軀，故為道人之大孽也。</p>
<p>又曰：身不勞而功不大，行不廣而心不死。</p>
<p>欲得心中神不出，莫向靈臺留一物，物在心中神不清，耗散真精損筋骨。</p>
<p>色身元有限，情欲浩無涯，癡似蜂貪蜜，狂如蝶戀花。</p>

<h2>又詩</h2>
<p>朝朝掃心地，掃著越不靜。若要心地靜，撇下苕帚柄。</p>

<h2>又</h2>
<p>大道不遠在身中，物即皆空性不空。性苦不空和氣住，氣婦元海壽無窮。</p>
<p>破衲頭，爛唐巾，個個出來會點金。如何不點自家用，留下方兒哄別人。</p>
<p>二五為一，天地至精，情以口訣，難以書傳。</p>
<p>鉛汞鼎中居，煉成無價珠。都來兩個字，了徹萬字書。</p>

<h1>又李小仙附雜錄</h1>

<h2>醫有三十科</h2>
<p>大方脈科　小方脈科　婦人科　傷寒科　風科　口齒咽喉科　瘡腫科　針灸科　眼科　正骨科　金鏃科　祝由科　養生科</p>

<h2>察色脈一定吉凶</h2>
<p>脈，地也；色，天也。地生天，則順；天生地，則逆。假令得弦脈而面赤色，地生天也，兒生母兮差速也。假令得弦脈而面黑色，天生地也，母仰子兮退遲也。</p>
<p>凡欲灸者，先診其脈，脈浮者不可灸，灸則必變。</p>
<p>罷大無言：用古方治今病，正如拆舊屋湊新屋，其材木非一，未嘗經匠氏之手，其可用乎？由是，又思許學士曰：予讀仲景書，用仲景法，然未嘗守仲景之方，乃為得仲景之心也。</p>

<h2>五臟者身之強</h2>
<p>頭者，精明之府，頭傾視深，精神將奪矣。</p>
<p>背者，胸中之府，背曲肩隨，腦將壞矣。</p>
<p>腰者，腎之府，轉搖不能，腎將憊矣。</p>
<p>膝者，筋之府，屈伸不能，行則僂俯，筋將憊矣。</p>
<p>骨者，髓之府，不能久立，行則振掉，骨將憊矣。得強則生，失強則死。</p>

<h2>十二官</h2>
<p>心者，君主之官，神明出焉。肺者，相傅之官，治節出焉。肝者，將軍之官，謀慮出焉。膽者，中正之官，決斷出焉。膻中，臣使之官，喜樂出焉。脾胃，倉廩之官，五味出焉。大腸，傳導之官，變化出焉。小腸，受盛之官，化物出焉。腎者，作強之官，伎巧出焉。三焦，決瀆之官，水道出焉。膀胱，州都之官，津液出焉，氣化則能出矣。</p>

<h2>精明五色氣之華</h2>
<p>赤欲如白裹朱，不欲如赭。白欲如鵝羽，不欲如鹽。青欲如蒼壁之澤，不欲如藍。黃欲如羅裹雄黃，不欲如黃土。黑欲如重漆色，不欲如地蒼。</p>
<p>夫精明者，所以視萬物，別白黑，審短長。以長為短，以白為黑，如是則精衰矣。</p>

<h2>視而可見</h2>
<p>黃赤為熱，白為寒，青黑為痛。</p>

<h2>百病生於氣</h2>
<p>怒則氣上，喜則氣緩，悲則氣消，恐則氣下，寒則氣收，炅則氣泄，驚則氣亂，勞則氣耗，思則氣結。（炅，音桂，熱也。）</p>

<h2>夢</h2>
<p>陰盛則夢涉大水恐懼，陽盛則夢大火燔灼，陰陽俱盛則夢相殺毀傷。上盛則夢飛，下盛則夢墮。甚飽則夢與，甚飢則夢取。肝氣盛則夢怒，肺氣盛則夢哭。短蟲多則夢聚眾，長蟲多則夢相擊毀傷。</p>

<h2>四氣調神</h2>
<p>春三月，夜臥早起，廣步於庭，披髮緩形，以使志生。</p>
<p>夏三月，夜臥早起，使氣得泄。</p>
<p>秋三月，早臥早起，與雞俱，使志安寧，使肺氣清。</p>
<p>冬三月，早臥早起，必待日光，去寒就溫，無泄皮膚。此養生之道也。</p>

<h2>六失</h2>
<p>一失於不察，二失於不信，三失於過時，四失於不擇醫，五失於不識病，六失於不知藥。</p>

<h2>六不治</h2>
<p>驕恣不論於理，一也。輕命重財，二也。衣食不能適，三也。陰陽並，臟氣不定，四也。形羸不能服藥，五也。信巫不信醫，六也。</p>
<p>我但臥病，即於腦前不時手寫死字，則百般思慮俱息。此心便得安靜，勝如服藥。此真無上妙方也。</p>
<p>又有一等，明知畏死，而怕人知覺，諱而不言。或病已重，而猶強作輕淺態度以欺人者。欺又不知畏死而反以取死，尤可笑哉。</p>
<p>東坡云：脈之難明，古今所病也。至虛有盛候，大實有羸狀，疑似之間，便有生死之異。士大夫多秘所患，以驗醫能否。吾平生求醫，蓋於平時默驗其工拙。有疾請療，必盡告以所患，便醫瞭然知患之所在，虛實冷熱先定於中，脈之疑似不能惑也。故雖中醫法，吾疾常愈，吾求疾愈而已，豈不因醫為事哉。</p>
<p>或問丹溪先生曰：醫之為事，切脈，察病，用藥，先生必以讀儒書者能之。何也？曰：非四書，無以窮理盡性，成格物致知之功。非《易》，無以知陰陽造化、功用消長、生成之道，升降浮沉之理。孫真人曰：不知《易》者，不足以言太醫。</p>
<p>問曰：醫書何先？曰：必須先讀《內經》、《本草》、《脈經》。非《內經》無以識病；非《本草》無以識藥；非《脈經》無以診候。然後卻參諸家之說。</p>
<p>治病用藥猶權衡，不可毫釐輕重也。若以執古方而治今病，更不斟量，吾不知其不能無少差也。</p>
<p>問曰：《素》《難》之外，更看何書為要？曰：外感法仲景，內傷法東垣。則仲景治法更合《內經》，然於諸書皆須覽過，以長識見。</p>
<p>問曰：一人之證久伏床枕，處方既定，前後又有加減者，何也？曰：內有初中虛實之異，外有八風之變，四時更易，氣運迭遷，七情所動。是以主病之藥雖不更，佐便豈無加減也。</p>
<p>先生曰：治病必分血氣。氣病補血，雖不中病，亦無害也。血病補氣，則血愈虛散，散則氣血俱虛，是謂誅罰無過也。病或晝輕夜重者，血病也，晝重夜輕者，氣病也，故晝陽夜陰也。</p>
<p>座右銘曰：學問所以別理欲開昏閉，衣食所以資身體廣恩惠。言行要留好樣與兒孫，心術要不險為良地。</p>
<p>銘曰：在表治表，在裡治里，汗下之間，反掌生死。上制以緩，下制以急，緩急不分，無過受擊。新病猛除，久病寬治，不久不新，寬猛相濟。求治不識，必當自寶，毋得苟就，輕此至道。病不可治，必當速已，毋得容情，啟人之毀。</p>
