<header data-type="book">
<h1>丹方之研究</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data value="岡西為人">岡西為人</data></dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第十一冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015282">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>一　例言</h1>
<p>一、滿洲醫科大學中國醫學研究室所藏之漢籍約一千六百餘種中。　本書仍選其記載丹方之醫書三百二十二種。一一錄其丹方之名目。有一方載於數書者。有數方載於一書者。按其方名之筆畫。依辭典排列之式。記其出處。共得二千四百○五方。</p>
<p>一、本一覽本。為便宜上。專採其方名為本表之基礎。</p>
<p>一、排列處方之次序。依辭典方式視其首字筆畫多少為定。字畫少者置於前。字畫多者列於後。如逢首字相同時。以其第二字之筆畫多寡而定之。</p>
<p>一、本書一覽表之表格。分為三欄。第一欄乃處方番號。第二欄乃處方名。第三欄表其所出之處。其下連之數字。仍表明由同一書籍中收載丹方之番號。</p>
<p>一、引用書目之表格。成為四欄。第一欄乃醫書之番號。第二欄書名。第三欄乃引用書之「中國醫學書目」之分類番號。第四欄乃由同書所取的丹方數。（存仁按。第三欄因無關係故刪去。）</p>
<p>一、本表中未備之處甚多。對於活用上本擬連載卷數。惟余近來毫無餘暇。且余就一覽表觀之。亦未覺如何不便。故此先付印。後來如覺不滿。將漸次改訂。</p>

<h1>二　引用書目</h1>
<figure>
<img data-orig-src="urn:270:03459.jpg" alt="表1">
</figure>
<figure>
<img data-orig-src="urn:270:03460.jpg" alt="表2">
</figure>
<figure>
<img data-orig-src="urn:270:03461.jpg" alt="表3">
</figure>
<figure>
<img data-orig-src="urn:270:03462.jpg" alt="表4">
</figure>
<figure>
<img data-orig-src="urn:270:03463.jpg" alt="表5">
</figure>
<figure>
<img data-orig-src="urn:270:03464.jpg" alt="表6">
</figure>
<figure>
<img data-orig-src="urn:270:03465.jpg" alt="表7">
</figure>
<figure>
<img data-orig-src="urn:270:03466.jpg" alt="表8">
</figure>

<h1>三丹方一覽</h1>
<figure>
<img data-orig-src="urn:270:03279.jpg" alt="表1">
</figure>
<figure>
<img data-orig-src="urn:270:03280.jpg" alt="表2">
</figure>
<figure>
<img data-orig-src="urn:270:03281.jpg" alt="表3">
</figure>
<figure>
<img data-orig-src="urn:270:03282.jpg" alt="表4">
</figure>
<figure>
<img data-orig-src="urn:270:03283.jpg" alt="表5">
</figure>
<figure>
<img data-orig-src="urn:270:03284.jpg" alt="表6">
</figure>
<figure>
<img data-orig-src="urn:270:03285.jpg" alt="表7">
</figure>
<figure>
<img data-orig-src="urn:270:03286.jpg" alt="表8">
</figure>
<figure>
<img data-orig-src="urn:270:03287.jpg" alt="表9">
</figure>
<figure>
<img data-orig-src="urn:270:03288.jpg" alt="表10">
</figure>
<figure>
<img data-orig-src="urn:270:03289.jpg" alt="表11">
</figure>
<figure>
<img data-orig-src="urn:270:03290.jpg" alt="表12">
</figure>
<figure>
<img data-orig-src="urn:270:03291.jpg" alt="表13">
</figure>
<figure>
<img data-orig-src="urn:270:03292.jpg" alt="表14">
</figure>
<figure>
<img data-orig-src="urn:270:03293.jpg" alt="表15">
</figure>
<figure>
<img data-orig-src="urn:270:03294.jpg" alt="表16">
</figure>
<figure>
<img data-orig-src="urn:270:03295.jpg" alt="表17">
</figure>
<figure>
<img data-orig-src="urn:270:03296.jpg" alt="表18">
</figure>
<figure>
<img data-orig-src="urn:270:03297.jpg" alt="表19">
</figure>
<figure>
<img data-orig-src="urn:270:03298.jpg" alt="表20">
</figure>
<figure>
<img data-orig-src="urn:270:03299.jpg" alt="表21">
</figure>
<figure>
<img data-orig-src="urn:270:03300.jpg" alt="表22">
</figure>
<figure>
<img data-orig-src="urn:270:03301.jpg" alt="表23">
</figure>
<figure>
<img data-orig-src="urn:270:03302.jpg" alt="表24">
</figure>
<figure>
<img data-orig-src="urn:270:03303.jpg" alt="表25">
</figure>
<figure>
<img data-orig-src="urn:270:03304.jpg" alt="表26">
</figure>
<figure>
<img data-orig-src="urn:270:03305.jpg" alt="表27">
</figure>
<figure>
<img data-orig-src="urn:270:03306.jpg" alt="表28">
</figure>
<figure>
<img data-orig-src="urn:270:03307.jpg" alt="表29">
</figure>
<figure>
<img data-orig-src="urn:270:03308.jpg" alt="表30">
</figure>
<figure>
<img data-orig-src="urn:270:03309.jpg" alt="表31">
</figure>
<figure>
<img data-orig-src="urn:270:03310.jpg" alt="表32">
</figure>
<figure>
<img data-orig-src="urn:270:03311.jpg" alt="表33">
</figure>
<figure>
<img data-orig-src="urn:270:03312.jpg" alt="表34">
</figure>
<figure>
<img data-orig-src="urn:270:03313.jpg" alt="表35">
</figure>
<figure>
<img data-orig-src="urn:270:03314.jpg" alt="表36">
</figure>
<figure>
<img data-orig-src="urn:270:03315.jpg" alt="表37">
</figure>
<figure>
<img data-orig-src="urn:270:03316.jpg" alt="表38">
</figure>
<figure>
<img data-orig-src="urn:270:03317.jpg" alt="表39">
</figure>
<figure>
<img data-orig-src="urn:270:03318.jpg" alt="表40">
</figure>
<figure>
<img data-orig-src="urn:270:03319.jpg" alt="表41">
</figure>
<figure>
<img data-orig-src="urn:270:03320.jpg" alt="表42">
</figure>
<figure>
<img data-orig-src="urn:270:03321.jpg" alt="表43">
</figure>
<figure>
<img data-orig-src="urn:270:03322.jpg" alt="表44">
</figure>
<figure>
<img data-orig-src="urn:270:03323.jpg" alt="表45">
</figure>
<figure>
<img data-orig-src="urn:270:03324.jpg" alt="表46">
</figure>
<figure>
<img data-orig-src="urn:270:03325.jpg" alt="表47">
</figure>
<figure>
<img data-orig-src="urn:270:03326.jpg" alt="表48">
</figure>
<figure>
<img data-orig-src="urn:270:03327.jpg" alt="表49">
</figure>
<figure>
<img data-orig-src="urn:270:03328.jpg" alt="表50">
</figure>
<figure>
<img data-orig-src="urn:270:03329.jpg" alt="表51">
</figure>
<figure>
<img data-orig-src="urn:270:03330.jpg" alt="表52">
</figure>
<figure>
<img data-orig-src="urn:270:03331.jpg" alt="表53">
</figure>
<figure>
<img data-orig-src="urn:270:03332.jpg" alt="表54">
</figure>
<figure>
<img data-orig-src="urn:270:03333.jpg" alt="表55">
</figure>
<figure>
<img data-orig-src="urn:270:03334.jpg" alt="表56">
</figure>
<figure>
<img data-orig-src="urn:270:03335.jpg" alt="表57">
</figure>
<figure>
<img data-orig-src="urn:270:03336.jpg" alt="表58">
</figure>
<figure>
<img data-orig-src="urn:270:03337.jpg" alt="表59">
</figure>
<figure>
<img data-orig-src="urn:270:03338.jpg" alt="表60">
</figure>
<figure>
<img data-orig-src="urn:270:03339.jpg" alt="表61">
</figure>
<figure>
<img data-orig-src="urn:270:03340.jpg" alt="表62">
</figure>
<figure>
<img data-orig-src="urn:270:03341.jpg" alt="表63">
</figure>
<figure>
<img data-orig-src="urn:270:03342.jpg" alt="表64">
</figure>
<figure>
<img data-orig-src="urn:270:03343.jpg" alt="表65">
</figure>
<figure>
<img data-orig-src="urn:270:03344.jpg" alt="表66">
</figure>
<figure>
<img data-orig-src="urn:270:03345.jpg" alt="表67">
</figure>
<figure>
<img data-orig-src="urn:270:03346.jpg" alt="表68">
</figure>
<figure>
<img data-orig-src="urn:270:03347.jpg" alt="表69">
</figure>
<figure>
<img data-orig-src="urn:270:03348.jpg" alt="表70">
</figure>
<figure>
<img data-orig-src="urn:270:03349.jpg" alt="表71">
</figure>
<figure>
<img data-orig-src="urn:270:03350.jpg" alt="表72">
</figure>
<figure>
<img data-orig-src="urn:270:03351.jpg" alt="表73">
</figure>
<figure>
<img data-orig-src="urn:270:03352.jpg" alt="表74">
</figure>
<figure>
<img data-orig-src="urn:270:03353.jpg" alt="表75">
</figure>
<figure>
<img data-orig-src="urn:270:03354.jpg" alt="表76">
</figure>
<figure>
<img data-orig-src="urn:270:03355.jpg" alt="表77">
</figure>
<figure>
<img data-orig-src="urn:270:03356.jpg" alt="表78">
</figure>
<figure>
<img data-orig-src="urn:270:03357.jpg" alt="表79">
</figure>
<figure>
<img data-orig-src="urn:270:03358.jpg" alt="表80">
</figure>
<figure>
<img data-orig-src="urn:270:03359.jpg" alt="表81">
</figure>
<figure>
<img data-orig-src="urn:270:03360.jpg" alt="表82">
</figure>
<figure>
<img data-orig-src="urn:270:03361.jpg" alt="表83">
</figure>
<figure>
<img data-orig-src="urn:270:03362.jpg" alt="表84">
</figure>
<figure>
<img data-orig-src="urn:270:03363.jpg" alt="表85">
</figure>
<figure>
<img data-orig-src="urn:270:03364.jpg" alt="表86">
</figure>
<figure>
<img data-orig-src="urn:270:03365.jpg" alt="表87">
</figure>
<figure>
<img data-orig-src="urn:270:03366.jpg" alt="表88">
</figure>
<figure>
<img data-orig-src="urn:270:03367.jpg" alt="表89">
</figure>
<figure>
<img data-orig-src="urn:270:03368.jpg" alt="表90">
</figure>
<figure>
<img data-orig-src="urn:270:03369.jpg" alt="表91">
</figure>
<figure>
<img data-orig-src="urn:270:03370.jpg" alt="表92">
</figure>
<figure>
<img data-orig-src="urn:270:03371.jpg" alt="表93">
</figure>
<figure>
<img data-orig-src="urn:270:03372.jpg" alt="表94">
</figure>
<figure>
<img data-orig-src="urn:270:03373.jpg" alt="表95">
</figure>
<figure>
<img data-orig-src="urn:270:03374.jpg" alt="表96">
</figure>
<figure>
<img data-orig-src="urn:270:03375.jpg" alt="表97">
</figure>
<figure>
<img data-orig-src="urn:270:03376.jpg" alt="表98">
</figure>
<figure>
<img data-orig-src="urn:270:03377.jpg" alt="表99">
</figure>
<figure>
<img data-orig-src="urn:270:03378.jpg" alt="表100">
</figure>
<figure>
<img data-orig-src="urn:270:03379.jpg" alt="表101">
</figure>
<figure>
<img data-orig-src="urn:270:03380.jpg" alt="表102">
</figure>
<figure>
<img data-orig-src="urn:270:03381.jpg" alt="表103">
</figure>
<figure>
<img data-orig-src="urn:270:03382.jpg" alt="表104">
</figure>
<figure>
<img data-orig-src="urn:270:03383.jpg" alt="表105">
</figure>
<figure>
<img data-orig-src="urn:270:03384.jpg" alt="表106">
</figure>
<figure>
<img data-orig-src="urn:270:03385.jpg" alt="表107">
</figure>
<figure>
<img data-orig-src="urn:270:03386.jpg" alt="表108">
</figure>
<figure>
<img data-orig-src="urn:270:03387.jpg" alt="表109">
</figure>
<figure>
<img data-orig-src="urn:270:03388.jpg" alt="表110">
</figure>
<figure>
<img data-orig-src="urn:270:03389.jpg" alt="表111">
</figure>
<figure>
<img data-orig-src="urn:270:03390.jpg" alt="表112">
</figure>
<figure>
<img data-orig-src="urn:270:03391.jpg" alt="表113">
</figure>
<figure>
<img data-orig-src="urn:270:03392.jpg" alt="表114">
</figure>
<figure>
<img data-orig-src="urn:270:03393.jpg" alt="表115">
</figure>
<figure>
<img data-orig-src="urn:270:03394.jpg" alt="表116">
</figure>
<figure>
<img data-orig-src="urn:270:03395.jpg" alt="表117">
</figure>
<figure>
<img data-orig-src="urn:270:03396.jpg" alt="表118">
</figure>
<figure>
<img data-orig-src="urn:270:03397.jpg" alt="表119">
</figure>
<figure>
<img data-orig-src="urn:270:03398.jpg" alt="表120">
</figure>
<figure>
<img data-orig-src="urn:270:03399.jpg" alt="表121">
</figure>
<figure>
<img data-orig-src="urn:270:03400.jpg" alt="表122">
</figure>
<figure>
<img data-orig-src="urn:270:03401.jpg" alt="表123">
</figure>
<figure>
<img data-orig-src="urn:270:03402.jpg" alt="表124">
</figure>
<figure>
<img data-orig-src="urn:270:03403.jpg" alt="表125">
</figure>
<figure>
<img data-orig-src="urn:270:03404.jpg" alt="表126">
</figure>
<figure>
<img data-orig-src="urn:270:03405.jpg" alt="表127">
</figure>
<figure>
<img data-orig-src="urn:270:03406.jpg" alt="表128">
</figure>
<figure>
<img data-orig-src="urn:270:03407.jpg" alt="表129">
</figure>
<figure>
<img data-orig-src="urn:270:03408.jpg" alt="表130">
</figure>
<figure>
<img data-orig-src="urn:270:03409.jpg" alt="表131">
</figure>
<figure>
<img data-orig-src="urn:270:03410.jpg" alt="表132">
</figure>
<figure>
<img data-orig-src="urn:270:03411.jpg" alt="表133">
</figure>
<figure>
<img data-orig-src="urn:270:03412.jpg" alt="表134">
</figure>
<figure>
<img data-orig-src="urn:270:03413.jpg" alt="表135">
</figure>
<figure>
<img data-orig-src="urn:270:03414.jpg" alt="表136">
</figure>
<figure>
<img data-orig-src="urn:270:03415.jpg" alt="表137">
</figure>
<figure>
<img data-orig-src="urn:270:03416.jpg" alt="表138">
</figure>
<figure>
<img data-orig-src="urn:270:03417.jpg" alt="表139">
</figure>
<figure>
<img data-orig-src="urn:270:03418.jpg" alt="表140">
</figure>
<figure>
<img data-orig-src="urn:270:03419.jpg" alt="表141">
</figure>
<figure>
<img data-orig-src="urn:270:03420.jpg" alt="表142">
</figure>
<figure>
<img data-orig-src="urn:270:03421.jpg" alt="表143">
</figure>
<figure>
<img data-orig-src="urn:270:03422.jpg" alt="表144">
</figure>
<figure>
<img data-orig-src="urn:270:03423.jpg" alt="表145">
</figure>
<figure>
<img data-orig-src="urn:270:03424.jpg" alt="表146">
</figure>
<figure>
<img data-orig-src="urn:270:03425.jpg" alt="表147">
</figure>
<figure>
<img data-orig-src="urn:270:03426.jpg" alt="表148">
</figure>
<figure>
<img data-orig-src="urn:270:03427.jpg" alt="表149">
</figure>
<figure>
<img data-orig-src="urn:270:03428.jpg" alt="表150">
</figure>
<figure>
<img data-orig-src="urn:270:03429.jpg" alt="表151">
</figure>
<figure>
<img data-orig-src="urn:270:03430.jpg" alt="表152">
</figure>
<figure>
<img data-orig-src="urn:270:03431.jpg" alt="表153">
</figure>
<figure>
<img data-orig-src="urn:270:03432.jpg" alt="表154">
</figure>
<figure>
<img data-orig-src="urn:270:03433.jpg" alt="表155">
</figure>
<figure>
<img data-orig-src="urn:270:03434.jpg" alt="表156">
</figure>
<figure>
<img data-orig-src="urn:270:03435.jpg" alt="表157">
</figure>
<figure>
<img data-orig-src="urn:270:03436.jpg" alt="表158">
</figure>
<figure>
<img data-orig-src="urn:270:03437.jpg" alt="表159">
</figure>
<figure>
<img data-orig-src="urn:270:03438.jpg" alt="表160">
</figure>
<figure>
<img data-orig-src="urn:270:03439.jpg" alt="表161">
</figure>
<figure>
<img data-orig-src="urn:270:03440.jpg" alt="表162">
</figure>
<figure>
<img data-orig-src="urn:270:03441.jpg" alt="表163">
</figure>
<figure>
<img data-orig-src="urn:270:03442.jpg" alt="表164">
</figure>
<figure>
<img data-orig-src="urn:270:03443.jpg" alt="表165">
</figure>
<figure>
<img data-orig-src="urn:270:03444.jpg" alt="表166">
</figure>
<figure>
<img data-orig-src="urn:270:03445.jpg" alt="表167">
</figure>
<figure>
<img data-orig-src="urn:270:03446.jpg" alt="表168">
</figure>
<figure>
<img data-orig-src="urn:270:03447.jpg" alt="表169">
</figure>
<figure>
<img data-orig-src="urn:270:03448.jpg" alt="表170">
</figure>
<figure>
<img data-orig-src="urn:270:03449.jpg" alt="表171">
</figure>
<figure>
<img data-orig-src="urn:270:03450.jpg" alt="表172">
</figure>
<figure>
<img data-orig-src="urn:270:03451.jpg" alt="表173">
</figure>
<figure>
<img data-orig-src="urn:270:03452.jpg" alt="表174">
</figure>
<figure>
<img data-orig-src="urn:270:03453.jpg" alt="表175">
</figure>
<figure>
<img data-orig-src="urn:270:03454.jpg" alt="表176">
</figure>
<figure>
<img data-orig-src="urn:270:03455.jpg" alt="表177">
</figure>
<figure>
<img data-orig-src="urn:270:03456.jpg" alt="表178">
</figure>
<figure>
<img data-orig-src="urn:270:03457.jpg" alt="表179">
</figure>
<figure>
<img data-orig-src="urn:270:03458.jpg" alt="表180">
</figure>