<header data-type="book">
<h1>香奩潤色</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>胡文煥</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>底本</dt><dd>江戶抄本（<a href="https://www.digital.archives.go.jp/file/3610649">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>夫天生佳人，雪膚花貌，玉骨冰肌，若西子、楊妃輩，即淡掃蛾眉，自然有動人處，果何假脂粉以汙其真哉？是潤色為不必也。然而良工必藉利器而後其事善，繪事必加五彩而後其素絢，故佳人之修其儀容，潔其服飾，譬如花之得滋，玉之就琢，而其光瑩為益增，是潤色又所必假矣。矧世不皆西子、楊妃輩，此予所集聊為香奩之一助耳。至若其間，療其疾病，證其怪異，調其經血，安其胎產，皆其至要者乎。而藏貯洗練，雖為末務，要亦佳人之所必用者，其法盡為列之，當不獨區區潤色已也。而保攝修齊之道，蓋見之此矣，唯畫眉傅粉之郎，為能格焉。倘以此紅粉贈與佳人，佳人將必曰：幸孔，幸孔，彼良工之利器，繪事之五彩，而又何羨乎？而胡生者玉成於人，庶幾君子。</p>

<h1>頭髮部（附眉）</h1>
<p><u>女人鬢不亂如鏡生光方</u></p>
<p>鹿角菜（五錢）</p>
<p>滾湯浸一時，冷即成膠，用刷鬢妙。</p>
<p><u>梳頭髮不落方</u></p>
<p>側柏（兩片如手指大）　榧子肉（三個）　胡桃肉（二個）</p>
<p>上件，研細，擦頭皮極驗，或浸水掠頭亦可。</p>
<p><u>生髮方</u>　又名生禿烏雲油方</p>
<p>秦椒　白芷　川芎（各一兩）　蔓荊子　零陵香　附子（各五錢）</p>
<p>上各生用銼碎，絹袋盛，清香油浸三七日，取油，日三度擦無發處，切勿令油滴白肉上。</p>
<p><u>常用長髮藥</u></p>
<p>亂髮（淨洗，曬乾）</p>
<p>以油煎令焦，就鐺內細研如膏，搽頭長髮。</p>
<p><u>又法</u></p>
<p>凡婦人發禿，酒浸漢椒搽發自然長。</p>
<p><u>治女人發少方</u></p>
<p>側柏葉（不拘多少）</p>
<p>陰乾為末，加油塗之，其發驟生且黑。</p>
<p><u>又驗方</u></p>
<p>羊屎（不拘多少）</p>
<p>取以納鯽魚腹中，瓦罐固濟，燒灰，和香油塗發，數日發生且黑，甚效。</p>
<p><u>治女人發短方</u></p>
<p>東行棗根（三尺）</p>
<p>橫安甑上蒸之，兩頭汁出，用敷發妙。</p>
<p><u>治女人鬢禿再生綠雲方</u></p>
<p>臘月豬脂（二兩）　生鐵末（一兩）</p>
<p>先以醋泔清淨洗禿處，以生布揩令大熱，卻用豬脂細研入生鐵末，煮沸二三度，敷之，即生。柏葉湯洗亦妙。</p>
<p><u>止發落方</u></p>
<p>桑白皮</p>
<p>銼碎，水煮，沐發即不落。</p>
<p><u>脫髮方</u></p>
<p>以猴姜浸水擦之。</p>
<p><u>又方</u></p>
<p>以生薑浸油內，不時擦，即出。</p>
<p><u>治婦人蒜髮方</u></p>
<p>乾柿子（大者五個，滾煎茅香湯煮，令葩）　枸杞子（酒浸，焙乾碾細）</p>
<p>上件合和搗研為末，丸如梧桐子大。每日空心及夜臥時煎茅香湯，下五十凡，神妙。</p>
<p><u>除頭上白屑方</u></p>
<p>側柏葉（三片）　胡桃（七個）　訶子（五個）　消梨（一個）</p>
<p>上同搗爛，用井花水浸片時，搽頭，永不生屑。</p>
<p><u>洗髮香潤方</u></p>
<p>白芷（三錢）　甘松（三錢）　山奈（三錢）　苓香草（三錢）</p>
<p>上共煎水洗髮，每月三次好。</p>
<p><u>洗頭方散</u></p>
<p>白芷　川芎　百藥煎　五倍子　甘松　薄荷　草烏　藿香　茅香（各等分）</p>
<p>共為末，乾摻擦頭，三五日篦之；或為丸，吊在身或頭上，皆香。</p>
<p><u>洗頭方</u></p>
<p>胡餅　菖蒲　槵子皮　皂角</p>
<p>上同槌碎，漿水調團如球子大，每用炮湯洗頭，去風清頭目。</p>
<p><u>乾洗頭去垢方</u></p>
<p>藁本　白芷（各等分）</p>
<p>上為末，夜擦頭上，次早梳自去。</p>
<p><u>醒頭方</u></p>
<p>王不留行　板柏葉　貫眾　甘松　薄荷　芎藭</p>
<p>上為細末，摻之。</p>
<p><u>醒頭香</u></p>
<p>白芷　零陵香　滑石　甘松　荊芥　防風　川芎　木樨</p>
<p>上為細末，摻在發上，略停片時，梳篦為妙。此藥去風清頭目，亦能令人香。</p>
<p><u>桂花香油</u></p>
<p>桂花（初開者，二兩）</p>
<p>香油一斤，浸有嘴磁瓶中，油紙密包，滾湯鍋內煮半晌，取起固封，每日從嘴中瀉出搽發，久而愈香，少勾黃臘，入油胭脂亦妙。</p>
<p><u>茉莉香油</u>（人名羅衾夜夜香）</p>
<p>茉莉花（新開者，二兩）</p>
<p>香油浸，收製法與桂花油同，不蒸亦可，但不如桂花香久。</p>
<p><u>百合香油</u></p>
<p>冰片（一錢）　桂花（一兩）　茉莉（一兩）　檀香（二兩）　零陵香（五錢）　丁香（三錢）</p>
<p>香油二斤，製法同前。冰片待蒸後方下，一搽經月猶香。</p>
<p><u>搽頭竹油方</u></p>
<p>每香油一斤，棗枝一根，銼碎，新竹片一根，截作小片，不拘多少，用荷葉四兩入油同煎，至一半，去前物，加百藥煎四兩，與油。再熬，入香物一二味，依法搽之。</p>
<p><u>黑髮麝香油方</u></p>
<p>香油（二斤）　柏油（二兩，另放）　訶子皮（一兩半）　沒食子（六個）　川藥煎（三兩）　五倍子（五錢）　酸榴皮（五錢）　真膽礬（一錢）　豬膽（二個，另放）　旱蓮臺（五錢，諸處有之，葉生一二尺高，小花如狗菊，折斷有黑汁出，又名胡孫頭。）</p>
<p>上件為粗末，先將香油鍋內熬數沸，然後將藥下入油內，同熬少時，傾出油入罐子內盛貯，微溫，入柏油攪，漸冷；入豬膽又攪，令極冷。入後藥</p>
<p>零陵香　藿香葉　香白芷　甘松（各三錢）　麝香（一錢）</p>
<p>上再攪勻，用厚紙封罐子口，每日早、午、晚四時各攪一次，仍封之，如此十日後，先晚洗頭髮淨，次早發乾搽之，不待數日，其發黑紺光澤、香滑，永不染塵垢，更不須再洗，用後自見發黃者即黑。</p>
<p><u>生香長髮油</u></p>
<p>亂髮（洗淨，五兩）　花椒（五錢）　零陵香（二兩）　菊花（一兩）</p>
<p>用香油一斤煎亂髮令焦，研細如膏；再加香油一斤，同浸菊花等藥，大能生髮，黑而且長。</p>
<p><u>金主綠雲油方</u></p>
<p>蔓荊子　沒食子　訶子肉　躑躅花　白芷　沉香　附子　卷柏　覆盆子　生地黃　苓香草　蓮子草　芒硝　丁皮　防風</p>
<p>上件等分洗淨曬乾，細銼，炒黑色，以綿紙袋盛入罐內。每用藥三錢，香油半斤浸藥，厚紙封七日。每遇梳頭，淨手蘸油摩頂心令熱，後發竅，不十日禿者生髮，赤者亦黑。婦人用，不禿者發黑如漆；若已禿者，旬日即生髮。</p>
<p><u>倒梳油方</u></p>
<p>雞頭子皮　柿皮　胡□　石榴皮　百藥煎　馬矢（即馬糞）　五倍子（以上同浸油）</p>
<p>上等分為末，瓷合貯，埋馬矢中七七日，入金絲礬少許，以豬膽包指蘸捻之。</p>
<p><u>掠頭油水方</u></p>
<p>甘松　青黛　訶子　零陵香　白及</p>
<p>上為細末，絹袋盛浸油，或浸水用亦妙。</p>
<p><u>浸油治頭風並脫髮</u></p>
<p>柏子仁（半斤）　白芷　朴硝（各半兩）　訶子（十個，炮）　零陵香　紫草　香附子（各一兩）</p>
<p>上為粗末，香油一斤，生鐵器盛，逐日用之。</p>
<p><u>治女人病後眉毛不生方</u></p>
<p>烏麻花（七月取）</p>
<p>陰乾為末，用生烏麻油敷之即生。</p>

<h1>面部</h1>
<p><u>楊妃令面上生光方</u></p>
<p>蜜佗僧（如金色者一兩）</p>
<p>上研絕細，用乳或蜜調如薄糊，每夜略蒸帶熱敷面，次早洗去。半月之後面如玉鏡生光，兼治渣鼻。唐宮中第一方也，出《天寶遺事》。</p>
<p><u>又方令面手如玉</u></p>
<p>杏仁（一兩）　天花粉（一兩）　紅棗（十枚）　豬胰（三具）</p>
<p>上搗如泥，用好酒四盞，浸於磁器。早夜量用以潤面手，一月皮膚光膩如玉。冬天更佳，且免凍裂。</p>
<p><u>太真紅玉膏</u></p>
<p>杏仁（去皮）　滑石　輕粉（各等分）</p>
<p>上為細末，蒸過，入腦、麝各少許，用雞蛋清調勻，早起洗面畢敷之。旬日後色如紅玉。</p>
<p><u>趙婕妤秘丹令顏色如芙蓉</u></p>
<p>落葵子（不拘多少）</p>
<p>洗淨蒸熟，烈日中曬乾，去皮，取仁細研，蜜調。臨臥敷面，次早用桃花湯洗去，光彩宛如初日芙蓉。</p>
<p><u>金國宮中洗面八白散方</u></p>
<p>白丁香　白殭蠶　白附子　白牽牛　白芷　白及　白蒺藜　白茯苓</p>
<p>上八味，入皂角三定，去皮弦，綠豆少許，共為末。早起洗面常用。</p>
<p><u>洗面妙方</u></p>
<p>豬牙皂角（四兩）　白殭蠶（三錢）　白附子（三錢）　藿香（三錢）　密陀僧（五錢）　山奈（五錢）　白芷（五錢）　麝香（少許）　白茯（五錢）</p>
<p>每日清早洗之，酒調塗，能去雀斑。</p>
<p><u>洗面方</u></p>
<p>丁香（五錢）　肥皂角（五十定，去皮，核）　零陵香　檀香　茅香　藿香　白朮　白及　白蘞　川芎　沙參　防風　藁本　山奈　天花粉　木賊　甘松　楮桃兒　黑牽牛　白殭蠶（炒）　香白芷（各一兩）　綠豆（五升，湯泡一宿，曬乾）</p>
<p>上為細末，每日洗面用，治面上諸般熱毒風刺，光澤精神。</p>
<p><u>塗面藥方</u></p>
<p>白附子　密陀僧　茯苓　胡粉（各一兩）</p>
<p>桃仁（四兩）　香白芷（半兩）</p>
<p>上件為細末，用乳汁臨臥調塗面上，早晨漿水洗，十日效。</p>
<p><u>敷面桃花末</u></p>
<p>仲春收桃花陰乾為末，七月七日取烏雞血和之塗面及身，紅白鮮潔大驗。</p>
<p><u>七香嫩容散</u></p>
<p>黑牽牛（十二兩）　皂角（四兩，去皮，炒）　天花粉　零陵香　甘松　白芷（各二兩）</p>
<p>上為細末，洗面或洗浴時，蘸藥擦之。</p>
<p><u>玉容方</u></p>
<p>黑牽牛（四兩）　白芷　甘松　川芎　藿香　藁本（各五錢）　零陵香　天花粉（一兩）　細辛　檀香（五錢）　膠珠（二錢五分）　豬牙皂角（二兩）　楮實（二兩）　茅香（五錢）</p>
<p>上為末，洗面常用。</p>
<p><u>容顏不老方</u></p>
<p>一斤生薑半斤棗，二兩白鹽三兩草，丁香沉香各五錢，四兩茴香一處搗。煎也好，點也好，修合此藥勝如寶。每日清晨飲一杯，一世容顏長不老。</p>
<p><u>好顏色</u></p>
<p>以百花上露飲之。</p>
<p><u>又方</u></p>
<p>以井華水研硃砂服之。</p>
<p><u>益容顏</u></p>
<p>以小麥苗作齏汁吃。</p>
<p><u>解面黑</u></p>
<p>或甘草煎湯，或紅棗煎湯，或烏龍尾煎湯。</p>
<p><u>梨花白麵香粉方</u></p>
<p>官粉（十兩）　密陀僧（二兩）　輕粉（五錢）　白檀（二兩）　麝香（一錢）　蛤粉（五錢）</p>
<p>前三項先研絕細，加入麝香，每日雞子白和水調敷，令面瑩白，絕似梨花更香。漢宮第一方也。</p>
<p><u>桃花嬌面香粉方</u></p>
<p>官粉（十兩）　密陀僧（二兩）　銀硃（五錢）　麝香（一錢）　白及（一兩）　寒水石（二兩）</p>
<p>共為細末，雞子白調，盛磁瓶密封，蒸熟，取出曬乾，再研令絕細，水調敷面，終日不落，皎然如玉。</p>
<p><u>秘傳和粉方</u></p>
<p>官粉（十兩）　密陀僧（一兩）　黃連（五錢）　白檀（一兩）　蛤粉（五兩）　輕粉（二錢）　硃砂（一錢）　金箔（五個）　腦麝（各少許）</p>
<p>上為末，和勻用。</p>
<p><u>常用和粉方</u></p>
<p>好粉（一兩）　白檀（一錢）　密陀僧（一錢）　蛤粉（五錢）　輕粉（二錢）　腦麝（各少許）　黃粉（二錢五分，水淘，置紙上干）　白米粉子（二錢）</p>
<p>上為末，和勻用。</p>
<p><u>麝香和粉方</u></p>
<p>官粉（一袋，水飛過）　蛤粉（白熟者，水碾）　硃砂（三錢）　鷹條（二錢）　密陀僧（五錢）　檀粉（五錢）　腦麝（各少許）　寒水石粉（和腦麝同研）　紫粉（少許輕重用之）</p>
<p><u>雞子粉方</u></p>
<p>雞子一個，破頂去黃，只用白，將光粉一處裝滿，入密陀僧五分，紙糊頂子，再用紙渾裹水濕之，以文武火煨，紙干為度，取出用塗，面紅自不落，瑩然如玉。</p>
<p><u>唐宮迎蝶粉方</u></p>
<p>粟米隨多少，淘滌如法，頻易水，浸取十分潔，傾頓瓷缽內，令水高粟少許，以薄綿紙蓋缽面，隔去塵汙，向烈日中曝乾，研細為末。每水調少許，貯器，隨意用。</p>
<p>將粉覆蓋熏之，媚悅精神。</p>

<h1>瘢痣部</h1>
<p><u>洗面去瘢痕方</u></p>
<p>茯苓（二兩，去皮）　天門冬（三兩）　百部（二兩）　香附子（二兩）　瓜蔞（二個）　茨菰根（五兩）　冬瓜子（半斤）　甘草（半斤）　杏仁（二兩）　皂角（二斤，酒塗炙）　清膠（四兩，火炙）　大豆（十兩，蒸去皮）　益丹子（一斤，燒灰，用將末、水和成丸）</p>
<p>上件和合焙乾，搗羅為末，早晨如澡豆末用，其瘢自去。</p>
<p><u>去諸斑方</u></p>
<p>豬牙皂角（三錢）　大皂角（三錢）　山奈（五錢）　甘松（五錢）　細辛　檳榔（取末）</p>

<h1>美人面上雀子斑方</h1>
<p>白梅（五錢）　櫻桃枝（五錢）　小皂角（五錢）　紫背浮萍（五錢）</p>
<p>共為末，煉蜜丸如彈子大。日用洗面，其斑自去，屢驗。</p>

<h1>治面上黑斑點方</h1>
<p>白附子　白及　白蘞　白茯苓　蜜陀僧　定粉（以上各等分）</p>
<p>上為細末，洗面淨，臨臥用漿水調塗之。</p>

<h1>治美人面上黑䵟如雀卵色方</h1>
<p>白殭蠶（二兩）　黑牽牛（二兩）　細辛（一兩）</p>
<p>上研細末，煉蜜為丸，如彈子大，日洗數次。一月其斑如掃。此南都舊院親傳驗方。</p>

<h1>治面䵟方</h1>
<p>白附子為末，酒調。</p>
<p><u>又方</u></p>
<p>杏仁用酒浸，皮脫，搗爛，絹袋盛拭面。</p>
<p><u>又方</u></p>
<p>雞子二個，酒浸密封四七日，取以敷面，其白如玉色之光潤。</p>
<p><u>治美人面上黑痣方</u></p>
<p>藜蘆灰（五兩）</p>
<p>用滾湯一大碗淋灰汁於鉛器中，外以湯煮如黑膏，以針微撥破痣處，點之，不過三次，痣即脫去。</p>
<p><u>去粉痣</u></p>
<p>益母草（燒灰）　鸚條石（各等分）</p>
<p>上和勻調敷。</p>
<p><u>治美人面上粉刺方</u></p>
<p>益母草（燒灰，一兩）　肥皂（一兩）</p>
<p>共搗為丸，日洗三次，十日後粉刺自然不生。須忌酒、姜，免再發也。</p>
<p><u>治粉刺黑斑方</u></p>
<p>五月五日，收帶根天麻自花者、益母紫花者。天麻曬乾燒灰，卻用商陸根搗自然汁加酸醋作一處，絹絞淨，搜天麻作餅，炭火煅過，收之半年方用，入面藥尤能潤肌。</p>
<p><u>治面上酒渣粉刺方</u></p>
<p>硫黃　白礬　白附子　密陀僧（各一錢）　白薇</p>
<p>上為細末。用豬爪一隻，水三杓，熬成稠膏，去渣，以布濾過，入藥末。每夜取一指於掌心，呵融搽之，不過六七日見效。</p>
<p><u>治婦人酒渣鼻及鼻上有黑粉痣</u></p>
<p>生硫黃（五錢）　杏仁（二錢）　輕粉（一錢）</p>
<p>上為末，每晚用酒調和，敷搽鼻上，早則洗，數次絕根。</p>
<p><u>去靨塗面方</u></p>
<p>輕粉（五分）　朝腦（五錢）　硃砂　川粉　山奈　鷹糞　干胭脂（各一錢）</p>
<p>以上為細末，唾津塗調搽面。</p>
<p><u>取靨五灰膏</u></p>
<p>桑柴灰　小灰　柳柴灰　陳草灰　石灰</p>
<p>上件，五灰用水煎濃汁，入釅醋點之，凝定不散收貯。</p>
<p><u>夜容膏治靨䵟風刺面垢</u></p>
<p>白芷　白牽牛（頭末）　玉女粉　密陀僧　鷹條　白檀　白茯苓　白蘞　白丁香　白及</p>
<p>上各等分，為細末，雞清和為丸，陰乾，每用唾津調搽面，神效。</p>
<p><u>青樓美人時瘡後面上有靨痕方</u></p>
<p>人精（二錢）　鷹屎白（二錢）</p>
<p>和勻，加蜜少許，塗上二三日，即光，亦可治瘢。</p>
<p><u>美人面上忽生白駁神方</u>（白駁似癬非癬，皮漸生白，無藥可治。）</p>
<p>鰻鱺魚脂（火炙出，一兩）</p>
<p>先拭駁上，刮使燥痛，後以油塗之，神效。</p>
<p><u>治美人面上皺路方</u></p>
<p>大豬蹄（四枝，洗淨）</p>
<p>煮漿如膠，臨臥時，用塗面上，早以漿水洗之。半月後，麵皮細急如童女。</p>
<p><u>又妙方</u></p>
<p>麋角（二兩）</p>
<p>用蜜水細磨如糊，常用塗面，光彩照人可愛。</p>

<h1>唇齒部</h1>
<p><u>治冬月唇面皺裂方</u></p>
<p>用豬脂煎熟，夜敷面臥，遠行野宿不損。</p>
<p><u>治冬月唇乾折出血</u></p>
<p>用桃仁為細末，豬脂調敷。</p>
<p><u>常用白牙散</u></p>
<p>石膏（四兩）　香附（一兩）　白芷　甘松　山奈　藿香　沉香　零陵香　川芎（各二錢半）　防風（五錢）　細辛（二錢五分）</p>
<p>上為末，每日早晨常用。</p>
<p><u>治女人齒黑重白方</u></p>
<p>松節（燒灰，一兩）　軟石膏（一兩）</p>
<p>研末頻擦，一月雪白。須忌甜酒、大蒜、榴、棗、蜜糖。</p>

<h1>乳部</h1>
<p><u>婦人無乳</u></p>
<p>通草（三錢）　川山甲（炒成珠，為末，一分二錢半）</p>
<p>雄豬前蹄，煮爛去肉煎藥，先服肉，次藥。</p>
<p><u>女人乳無汁方</u></p>
<p>天花粉（二錢）</p>
<p>滾湯調服，日二進，夜汁流出。外用京三稜煎湯洗。</p>
<p><u>女人乳腫神方</u></p>
<p>楊柳根皮（四兩）</p>
<p>水熬爛，溫熨腫處，一宿愈。</p>
<p><u>又方</u></p>
<p>馬溺，塗之立愈。</p>
<p><u>治乳毒</u></p>
<p>葫蘆芭（焙燥為末，一兩）　白芷（三錢）　乳香　沒藥（各錢）</p>
<p>無灰酒調服。</p>
<p><u>治乳癰</u></p>
<p>蝦蟆皮（初服七株，次服倍用）　青桑頭（初服七枝，次服倍用）</p>
<p>上二物一處研細，冬則用根，酒解隨量飲；其渣加蜜於中，敷乳上，即用草芎、白芷、荊芥煎湯薰洗。每服藥一次，即洗一次。如未效，以龍舌草（即蔓尾草）、忍冬藤二件，研細蜜調敷，仍服托裡散。如毒已結了，先用桐油調鹽搽了，用後藥：</p>
<p>水枝葉　黃花草（即金錢花）　水莧　青桑頭</p>
<p>上細研，蜜調敷之。</p>
<p><u>又方</u></p>
<p>九牛葉一握，研細酒調服，滓敷乳上，即效。</p>
<p><u>又方</u></p>
<p>鼠糞（兩頭尖者，一合）</p>
<p>收干銅杓焙燥，以麻油小半盞拌勻，再焙乾，約手捻得開，用無灰酒調，作二次服之，出膿即收口矣。</p>
<p><u>又方</u></p>
<p>雄黃（一錢）　木梳內油膩（二錢）</p>
<p>上糊為丸，雄黃為衣，好酒送下，立效。</p>
<p><u>又方</u>　（不拘內吹，外吹，但囊爛不盡者治）</p>
<p>桑黃</p>
<p>上一味為末，好酒送下，取微汗為率，不愈再服，三日一服。</p>
<p><u>又方</u></p>
<p>貝母（去心）</p>
<p>上一味為末，每日空心酒送下二錢，日一服，最忌色欲。</p>
<p><u>婦人奶岩久不愈者</u></p>
<p>樺皮　油核桃（俱燒存性）　枯礬　輕粉（少許）</p>
<p>上香油調敷。</p>

<h1>身體部</h1>
<p><u>漢宮香身白玉散</u></p>
<p>白檀香（一兩）　排草（交趾真者，一兩）</p>
<p>上為細末，暑月汗出，常用敷身，遍體生香。</p>
<p><u>滌垢散</u></p>
<p>白芷（二兩）　白蘞（一兩五錢）　茅香（五錢）　山奈（一兩）　甘松（一兩）　白丁香（一兩）　金銀花（一兩）　干菊花（一兩）　辛夷花（一兩）　羌活（一兩）　薔薇花（一兩）　獨活（一兩五錢）　天麻（五錢）　綠豆粉（一升）　石鹼（五錢）　馬蹄香（五錢）　櫻桃花（五錢）　雀梅葉（五錢）　鷹條（五錢）　麝香（錢）　孩兒茶（五錢）　薄荷葉（五錢）</p>
<p>上共為細末，以之擦臉、浴身，去酒刺、粉痣、汗斑、雀斑、熱瘰，且香氣不散。</p>
<p><u>透肌香身五香丸，治遍身熾膩，惡氣及口齒氣</u></p>
<p>丁香　木香（各一兩半）　藿香葉（三兩）　零陵香（三兩）　甘松（三兩）　白芷　香附子　當歸　桂心　檳榔　麝香（半兩）　益智仁（一兩）　白豆蔻仁（二兩）</p>
<p>上件為細末，煉蜜為劑，杵一千下，丸如梧桐子大。每噙化五丸，當覺口香。五日身香，十日衣香，二十日他人皆聞得香。</p>
<p><u>利汗紅粉方</u></p>
<p>滑石（一斤，極白無石者佳，研細用水飛過，每一斤配後藥）　心紅（三錢）　輕粉（五錢）　麝香（少許）</p>
<p>上件研極細用之。其粉如肉色為度，塗身體利汗。</p>
<p><u>挹汗香</u></p>
<p>丁香（一兩）</p>
<p>上為細末，以川椒六十粒擘碎和之，以絹袋盛佩之，絕無汗氣。</p>
<p><u>洗澡方</u></p>
<p>乾荷葉（二斤）　藁本（一斤）　零香草（一斤）　茅香（一斤）　藿香（一斤）　威靈仙（一斤）　甘松（半斤）　白芷（半斤）</p>
<p>上銼粗末，每用三兩或五兩，以苧布袋盛，懸鍋內煮數沸，用水一桶，避風處浴洗，能涼皮、香皮、住癢。</p>
<p><u>洗浴去面上身上浮風方</u></p>
<p>煮芋汁洗，忌見風半日。</p>
<p><u>治女人狐臭方</u></p>
<p>烏賊魚骨（三錢）　枯礬（三錢）　蜜陀僧（三錢）</p>
<p>上為末，先用清茶洗脅下，後以此末擦之，屢驗。</p>
<p><u>治狐臭方</u></p>
<p>以白灰用隔一二年陳米醋和敷腋下。</p>
<p><u>又方</u></p>
<p>用蜜陀僧入白礬少許為細末，以生薑自然汁調，搽腋下，悉更去舊所服衣，七日後，以生薑汁水調方寸匕食之。</p>
<p><u>治女人下部濕癬神方</u></p>
<p>芙蓉葉（不拘多少陰乾）</p>
<p>研絕細末，先洗癬淨，略用瀝油塗之，後糝藥末於上，二三次即結靨，妙不可言。</p>
<p><u>治白癜風方</u></p>
<p>生薑蘸硫黃於上擦之即愈。</p>
<p><u>女人面上及身上紫癜風方</u></p>
<p>硫黃（醋煮一日，一兩）　海螵蛸</p>
<p>上為末，浴後以生薑蘸藥擦患處，須謹風少時，數度斷根。</p>
<p><u>治針入皮膚方</u></p>
<p>不問遠年近日，酸棗燒灰存性，溫酒送下，在上食前服，在下食後服，覺額癢即從原入處出。</p>
<p><u>衣香方</u></p>
<p>零陵香　茅香（各三兩）　山奈子（半兩）　木香（一錢）　大黃　甘松　白芷　牡丹皮　丁香（四十九粒）　松子　樟腦（一錢五分）　上銼碎用之。</p>
<p><u>又方</u></p>
<p>甘松　山奈　細辛　辛夷　小茴　大茴　藁本　官桂　白芷梢　細豆　茅香　丁香　木香　樟腦　檀香　麝香　大黃　羌活　藿香葉</p>
<p>上件為細末後入腦、麝佩帶，妙。</p>
<p><u>又方</u></p>
<p>茅香（四兩）　零陵香（二兩）　甘松（一兩）　山奈（三錢）　木香（七錢）　檀香（五錢）　牡丹皮　藁本（五錢）　白芷　千金草　臺芎　獨活（各二兩）　辛夷（三兩）　大黃（一兩）　丁皮（五錢）　官桂（五錢）</p>
<p>上為細末，連包裹用之。</p>
<p><u>梅花衣香</u></p>
<p>零陵香　甘松　白檀　茴香（微炒各半兩）　丁香（五錢）　木香（一錢）　腦、麝（各少許）</p>
<p>上依常法用之。</p>
<p><u>薰衣香</u></p>
<p>丁香　箋香　沉香　檀香　麝（各一兩）　甲香（三兩）</p>
<p>上為末，煉蜜濕拌入窨一月。</p>
<p><u>又方</u></p>
<p>玄參（半斤，水煮再用，炒乾）　甘松（四兩，淨）　白檀（二錢，炒）　麝香　乳香（各二分半，研入）</p>
<p>上為末，煉蜜丸如彈子大。若用薰衣，先以湯一桶置薰籠下，以衣覆上，令潤了，卻便將香自下燒則衣氣入也。</p>
<p><u>薰衣笑蘭香</u></p>
<p>藿苓松芷木茴丁，茅賴樟黃和桂心，檀麝桂皮加減用，酒噴日曬絳囊盛。</p>
<p>上製法：苓苓香以蘇合油揉，調勻，松茅酒洗，三賴米泔浸，大黃蜜同蒸，麝香逐裹表入。若薰衣加殭蠶，常帶加白梅肉。</p>
<p><u>薰衣除蝨</u></p>
<p>用百部、秦艽搗為末，依焚香樣，以竹籠覆蓋放之。</p>
<p><u>洗衣香</u></p>
<p>牡丹皮（一兩）　甘松（一錢）</p>
<p>上搗為末，每洗衣最後澤水入一錢。</p>
<p><u>敷衣香粉</u></p>
<p>青木香　麻黃根　英粉　甘松　附子（炮）　零陵香　藿香（各等分）</p>
<p>上為末，浴罷以生絹袋盛，遍身撲之。</p>

<h1>手足部</h1>
<p><u>寒月迎風令手不冷方</u></p>
<p>以馬牙硝為末，唾調塗手及面上。</p>
<p><u>女人冬月手指凍裂方</u></p>
<p>白及（不拘多少）</p>
<p>上為細末，調塗裂處妙。</p>
<p><u>又方</u></p>
<p>羊、豬髓腦塗亦妙。</p>
<p><u>又方</u></p>
<p>大黃水磨敷上亦妙。</p>
<p><u>天下第一洗手藥</u></p>
<p>又臘後買豬胰脂愈多愈佳，剁極細爛，入花膩拌之；再剁，搓如大彈子，壓扁，懸掛當道通風處待乾。每用少許如肥皂用。</p>
<p><u>香肥皂方</u></p>
<p>洗面能治靨點風刺，常用令顏色光澤。</p>
<p>甘松　藁本　細辛　茅香　藿香葉　香附子　山奈　零陵香　川芎　明膠　白芷（各半兩）　楮實子（一兩）　龍腦（三錢另研）　肥皂（不蛀者，去皮，半斤）　白蘞　白丁香　白及（各一兩）　瓜蔞根　牽牛（各二兩）　綠豆（一升，酒浸為粉）</p>
<p>上件先將綠豆並糯米研為粉，合和入朝腦為制。</p>
<p><u>女子初束腳苦痛難忍方</u></p>
<p>川歸（一錢）　牛膝（一錢）</p>
<p>水一盞，煎六分，加酒少許，空心服，令血活；外用蕎麥杆煮濃湯，入枯礬少許浸之，數次痛定。</p>
<p><u>女兒拶腳軟足方</u>　（又名西施軟骨方）</p>
<p>乳香　杏仁　朴硝　桑白皮（各二兩）</p>
<p>上先以桑白皮、杏仁投新瓶中，投水五碗，煎去小半，卻入余藥，緊掛瓶口，再煎片時，持起揭去掛，處架足，於其上熏之，待可容手，傾出，浸畢仍舊收貯。經三、兩日後，再溫熱如前法熏洗。每劑可用三次，盡五劑則軟。若束綿任其扎縛，神效。</p>
<p><u>宮內縮蓮步法</u></p>
<p>蕎麥杆（不拘多少，燒灰，用熱水淋取濃汁如釅醋色方可用）　白茯苓　藁本　硇砂（各等分）</p>
<p>上為細末，每用三錢，煎汁三大碗，於砂鍋內同煎數沸，乘熱常常洗腳，浸滌至溫，又添熱者，浸滌不過數次，自然柔軟易扎矣。或為腳面生小瘡，勿疑，乃是毒氣出耳。卻以訶子研為細末，敷之即瘥。此方出於至人，神妙之甚，不可盡述，三十歲亦可為之。</p>
<p><u>玉蓮飛步散</u></p>
<p>煅石膏（五錢）　滑石（一兩）　白礬（少許）</p>
<p>上件為細末，專治腳趾縫爛瘥窩侈黏清，有妨扎縛。每用乾摻患處立驗，陰汗尤妙。</p>
<p><u>金蓮穩步膏</u></p>
<p>黃柏　黃連　荊芥穗　黃丹（各等分）</p>
<p>上方為細末，專治闞甲痛不可忍及腳指縫腫爛，不容包束，少許乾摻患處，神效。</p>
<p><u>又方</u></p>
<p>地骨皮同紅花爛研極細，如雞眼痛處敷之，成瘡者即結靨。</p>
<p><u>金蓮生香散</u></p>
<p>黃丹（一兩）　甘松（五錢）　枯礬（一錢）</p>
<p>共為細末，五六日一洗，敷足指內，轉穢為香，絕妙。黃丹一味亦妙。</p>
<p><u>雞眼</u></p>
<p>荸薺</p>
<p>上搗爛敷患處，以絹縛上。</p>
<p><u>治足生雞眼</u></p>
<p>以黑白蝨各一枚，置患處縛之立愈。</p>
<p><u>女人腳上雞眼肉刺痛方</u></p>
<p>黃丹　枯礬　朴硝（各等分）</p>
<p>上為末，若剪傷者用炒蔥白塗之即愈，神效。</p>
<p><u>治石癮肉刺方</u></p>
<p>莨菪根上汁，塗痛處立止。</p>
<p><u>治闞甲方</u></p>
<p>胡桃皮燒灰貼之，立愈。</p>
<p><u>又方</u></p>
<p>乳香禾糝之，血竭尤妙。</p>
<p><u>遠行令足不繭疼方</u></p>
<p>防風　細辛　草烏　一方用藁本</p>
<p>上為細末，糝鞋底，草履則以水沾之。</p>
<p><u>治足凍瘡</u></p>
<p>以臘月鴨腦髓塗瘡即愈。</p>
<p><u>治足凍瘡方</u></p>
<p>以秋茄樹根煎溫洗。</p>

<h1>陰部</h1>
<p><u>女子初嫁陰中痛方</u></p>
<p>海螵蛸燒末，空心酒調一錢，日進二次，即愈。</p>
<p><u>又方</u></p>
<p>川牛膝（五錢）</p>
<p>用酒半盞、水半盞，煎六分，空心頓服；外用青布包炒鹽熨之，即愈。</p>
<p><u>女人交接苦痛出血方</u></p>
<p>桂心（三分）　伏龍肝（一錢）</p>
<p>共為細末，空心溫酒調服，性熱者不宜。</p>
<p><u>又洗方</u></p>
<p>黃連（六錢）　牛膝　甘草（各四錢）</p>
<p>共用水二碗，煎洗之，日三度。</p>
<p><u>女人交接陽道壯大及他物傷犯血出淋瀝不止方</u></p>
<p>釜底墨　葫蘆汁</p>
<p>和勻敷之，或發灰、青布灰、雞冠血敷，俱妙。</p>
<p><u>女人陰中腫痛或生瘡方</u></p>
<p>黃連（二錢）　龍膽草（一錢）　柴胡（一錢）　青皮（三分）</p>
<p>水一盞，煎，空心頓服。腫甚加大黃一錢，忌酒並辣物。有孕除大黃。</p>
<p><u>又陰中腫痛妙方</u></p>
<p>白礬（二錢）　甘草（二錢）　大黃（二錢）</p>
<p>為末水調，搓作長條，用薄綿裹陰中；外用菊葉煎湯洗，大馬鞭草搗爛塗之，日兩度即效。</p>
<p><u>又方</u></p>
<p>鐵精粉敷之。</p>
<p><u>女人玉門腫痛洗方</u></p>
<p>艾葉（五兩）　防風（三兩）　大戟（二兩）</p>
<p>煎湯日洗三次即愈。</p>
<p><u>陰腫燥癢</u></p>
<p>桃仁（去皮不去尖）</p>
<p>上搗爛如泥敷之。</p>
<p><u>女人陰癢方</u></p>
<p>大黃（一錢）　黃芩（一錢）　黃耆（五分）　赤芍（一錢）　玄參（七分）　丹參（五分）　黃連（五分）　青皮（三分）</p>
<p>為末，白酒調，每次一錢，空心服。有孕除大黃。</p>
<p><u>又陰癢神方</u></p>
<p>杏仁（五錢）　麝香（一分）</p>
<p>上為末，絹袋盛，烘熱納陰中，癢即住，神效。孕忌麝香莫用。</p>
<p><u>女人陰癢不可忍方</u></p>
<p>車前草（四兩）</p>
<p>水五鍾，煎湯薰洗。洗後用鯽魚膽內外塗之即住。</p>
<p><u>女人陰中有蟲癢不可忍</u></p>
<p>豬肝（一片，三寸長）</p>
<p>炙香納陰內少須，蟲隨肝出。</p>
<p><u>又陰中如蟲行方</u></p>
<p>桃葉（或仁，二兩）</p>
<p>生搗碎，綿包外用。桃葉汁浸過，納陰戶中即安。有孕忌用。</p>
<p><u>女人陰蝕方</u></p>
<p>狼牙（三兩）</p>
<p>煎濃湯，入苦酒一杯，以綿蘸湯入陰戶，四五次即愈。</p>
<p><u>又陰被蟲蝕漸上至小腹內癢方</u></p>
<p>枯白礬（不拘多少）</p>
<p>上為末，空心白酒調三分，日二進，其蟲盡死，從小便出。</p>
<p><u>女人陰門忽生雞冠肉或瘰方</u></p>
<p>龍膽瀉肝湯加大黃一錢即消。</p>
<p><u>洗陰戶疳瘡方</u></p>
<p>苦參　荊芥　防風　蒺藜　羌活　蛇床子</p>
<p>先煎湯洗淨，次用鯽魚膽搽之，立效。</p>
<p><u>女人陰中冰冷方</u>（氣血虛也）</p>
<p>蛇床子（二錢）　五味子（二錢）　丁香（二錢）　桂心（二錢）</p>
<p>上為末，用絹作小袋，納陰中。若虛怯者，服八物湯，加桂半分，數服溫暖。</p>
<p><u>洗寬方</u></p>
<p>石榴皮　菊花（各等分）</p>
<p>上為細末，水一碗，煎至七分，洗陰戶如童女。</p>
<p><u>女人過忍小便致胞轉方</u>（此病有致死者）</p>
<p>滑石末</p>
<p>蔥湯調下二錢妙。</p>
<p><u>又方</u></p>
<p>滑石　寒水石　葵子（各二錢）</p>
<p>煎服即利。</p>
<p><u>又方</u></p>
<p>包茶箬葉（燒灰）　滑石</p>
<p>沸湯調二錢亦妙。</p>
<p><u>睡中遺尿</u></p>
<p>用燕窠中草土為末，不語而食之。</p>
<p><u>省溺</u>（此女人出外之良方）</p>
<p>生銀杏七枚，食之，則終日不欲解。</p>
<p><u>女人陰毛生蝨方</u>（即八腳子也）</p>
<p>生白果研爛擦之愈。</p>
<p><u>又方</u></p>
<p>百部湯洗亦妙。</p>
<p><u>治陰毛中生異蝨</u></p>
<p>用銀杏捻碎揩擦即絕其根。</p>
<p><u>經血部</u></p>
<p><u>治女人經次不行</u></p>
<p>經年積血在關元，晝夜停深不得眠，青皮烏藥姜香附，莪朮三稜方得全（姜即乾薑也。）</p>
<p><u>治女人經次不調</u></p>
<p>條芩（一兩，切作片子，老酒晝曬夜浸，三晝夜撈出，曬乾）</p>
<p>為極細末，待經來二日，服之五分，無灰老酒送下，第三日服之一錢。</p>
<p><u>治血淋</u></p>
<p>阿膠（二兩麩炒）　豬苓　滑石　澤瀉（各一兩）　赤茯苓（一兩）　車前子（五錢）</p>
<p>上㕮咀，每服三錢，白水煎，五更早服。</p>
<p><u>血崩</u></p>
<p>兔頭（一個）</p>
<p>上燒灰為末，好酒調下。</p>
<p><u>女人血崩不止方</u>（此名一笑散）</p>
<p>新綿（一口）</p>
<p>上燒為末，空心白酒調下，立止。</p>
<p><u>赤白帶下</u></p>
<p>白芍（二兩）　乾薑（五錢）</p>
<p>上為末，每服三錢，米飲下。二服一日，忌生冷。</p>
<p><u>婦人白帶</u></p>
<p>羊眼豆花（不拘多少，紫花不用）</p>
<p>上為末，酒下或炒米煮飲調末二錢，入炒鹽少許，空心數服即效。</p>
<p><u>又方</u></p>
<p>白雞冠花（陰乾）</p>
<p>上為末，空心酒下。</p>

<h1>胎部</h1>
<p><u>女人無子秘方</u></p>
<p>正月雨水</p>
<p>夫妻各飲一杯合房，當時有子，簡易屢念，價值百金。</p>
<p><u>女人妊娠小便不禁方</u></p>
<p>桑螵蛸（十二枚）</p>
<p>上為末，分作二服，米飲下，立住。</p>
<p><u>治有孕咳嗽</u></p>
<p>貝母（去心，麩皮炒令黃）</p>
<p>上麩皮為末，研砂糖拌勻，丸如雞頭大，含化，神效。</p>
<p><u>胎動</u></p>
<p>砂仁</p>
<p>上搗爛煎湯，服之即定。</p>
<p><u>治觸動胎氣腹痛下血</u></p>
<p>縮砂（不拘多少，於熨斗內炒透，去皮取仁）</p>
<p>上研為末，每服二錢，熱酒調下。</p>
<p><u>治胎漏</u></p>
<p>蔥白（一把）</p>
<p>上濃煎汁飲之，甚效。</p>
<p><u>治死胎</u>（產母寒戰便是）</p>
<p>魚膠（黃乾者三錢，炒黃研末）　麝香（三分）</p>
<p>上為末，以好酒送下。酒用鐵爐燒紅，置碗中，澆熱。</p>
<p><u>治下死胎</u></p>
<p>麝香（五分，另研）　官桂末（三錢，和勻）</p>
<p>上作一服，溫酒調下，須臾如手推下。末下再服。</p>
<p><u>又方</u></p>
<p>兒印（不以多少，黃色者去毛）</p>
<p>上研為末，每服二錢，酒一盞，煎八分，通口飲，立效如神。</p>
<p><u>治橫逆手足先出或子死腹中</u></p>
<p>用灶中心對鍋底下土，細研。每服一錢，酒調。</p>
<p><u>橫生倒養</u></p>
<p>蔥（七莖）</p>
<p>上蔥七莖，只將六莖搗爛，一莖不搗。煎湯入桶內，令產婦跨坐，將那一莖不搗的吃下，立生。</p>
<p><u>治逆生須臾不救母子俱亡</u></p>
<p>蛇殼（一條）　蟬殼（十四個）　頭髮（一握）</p>
<p>共燒為灰，分二服，酒調，並進二服，仰臥，霎時或用小繡針於小兒腳心刺三、七刺，用鹽少許擦刺處，即時順生，母子俱活。</p>
<p><u>催生丹</u></p>
<p>五月以前老鼠，取陰子，去皮膜和末，研搗爛，為丸如黃豆大。臨產時，以溫酒送下。男左女右，捻藥產出，神效異常。</p>
<p><u>又法</u></p>
<p>剪黃曆面上印信，填寫本處巡按官銜。催生，燒灰以酒服之，即下。</p>
<p><u>又法</u></p>
<p>以其夫褲帶剪寸許煎湯服之，即下。</p>
<p><u>兔腦催生丹</u></p>
<p>十二月兔腦（去膜，研如泥）　通明乳香（一錢，研細）　母丁香（一錢，為末）　麝香（一錢，研細）</p>
<p>上以乳、麝、丁香拌勻，入兔腦髓和丸雞豆大，陰乾油紙密封固。臨產服一丸，溫水送下，立產。男左女右，手中握之而出，即效。</p>
<p><u>胞衣不下</u></p>
<p>半夏　白蘞（各一兩）</p>
<p>上為末，每服一錢，難產一服，橫生二服，倒生三服，兒死四服，神效。</p>
<p><u>又方</u></p>
<p>草麻子（十四粒，去殼）</p>
<p>上搗爛，以白麵和成膏，貼腳心，胞衣下，速洗去。如腸出，即以此藥塗頂心，迴腸即效。</p>
<p><u>女人產後玉門不閉方</u></p>
<p>石灰（一斗）</p>
<p>用石灰於鍋中炒令黃色，以水二斗，投入灰中，放冷澄清去灰。再用暖過，將玉門坐溫湯中，以手掬洗，須臾門斂。</p>
<p><u>又方</u></p>
<p>白礬　瓦松　石榴皮</p>
<p>煎湯洗之</p>
<p><u>女人產後腸脫不收方</u></p>
<p>香油（五斤）</p>
<p>上煉熟，以盆盛候溫，卻令產婦坐油盆中。半餉吹皂角末鼻中，令婦作嚏，其腸立上。</p>
<p><u>治產後子腸出不能救者</u></p>
<p>枳殼（去穰，二兩）</p>
<p>上煎湯，溫浸，良久即入。</p>
<p><u>女人產後小便不禁方</u></p>
<p>雞屎（燒灰）</p>
<p>上為細末，空心酒調一錢，即住。</p>
<p><u>女人產後腸中癢不可忍方</u></p>
<p>針線袋（一枚）</p>
<p>以袋暗安於產婦所臥褥下，勿令知之，癢即住。</p>
<p><u>女人產後遍身如粟粒熱如火方</u></p>
<p>桃仁（二兩）</p>
<p>上研爛，用豬脂調敷。日敷三次，粟退熱除。</p>
<p><u>女人產後血暈築心眼同風縮欲死方</u></p>
<p>荊芥穗末（二錢）</p>
<p>以童便調下。</p>
<p><u>治產後血暈，心悶氣絕，腹內惡血不盡絞痛。</u></p>
<p>用紅花酒煎，或以藕汁二次飲之效。</p>

<h1>怪異部</h1>
<p><u>女人夢與鬼交方</u></p>
<p>鹿角末</p>
<p>用三指一撮，和清酒，空心服一盞即出鬼精，神妙。</p>
<p><u>女人被精怪迷方</u></p>
<p>蒼朮（不拘多少）</p>
<p>上為末，酒調，空心服一錢，當有妖怪之精泄出。平胃散亦妙。</p>

<h1>洗練部</h1>
<p><u>洗珍珠法</u></p>
<p>用乳浸一宿，次日以益母草燒灰淋汁，入麩少許，以絹袋盛珠輕手揉洗，其色鮮明如新，忌近麝香，能昏珠色。</p>
<p><u>洗油浸珠</u></p>
<p>用鵝鴨糞曬乾，燒灰，熱湯澄汁，絹袋盛洗。</p>
<p><u>洗焦赤色珠</u></p>
<p>以槵子皮，熱湯浸水洗，研蘿蔔淹一宿，即潔白。</p>
<p><u>洗赤色珠</u></p>
<p>以芭蕉水洗，兼浸一宿，自然潔白。</p>
<p><u>洗犯屍氣珠</u></p>
<p>以一敏草煎汁，麩炭灰揉洗潔淨。</p>
<p><u>洗玳瑁魚鮀法</u></p>
<p>用肥皂採冷水洗之，以清水滌過，再用淡鹽水出色為妙，最忌熱水。</p>
<p><u>洗象牙等物</u></p>
<p>用阿膠水浸洗，刷之，然後以水洗滌。</p>
<p><u>又方</u></p>
<p>水煮木賊令軟掇洗，以甘草水滌之為妙。</p>
<p><u>又方</u></p>
<p>淺盆貯水，安牙物浸之，置烈日中曬，須三五日，候瑩白為度。</p>
<p><u>洗簪梳上油膩法</u></p>
<p>新瓦盛，新石灰以油漬物揮灰中，烈日暴之，翻滲去油候淨，洗之為佳。</p>
<p><u>洗綵衣</u></p>
<p>凡洗彩色垢膩，用牛膠水浸半日，然後以溫湯洗之。</p>
<p><u>又法</u></p>
<p>用豆豉湯熱擺油去色不動。</p>
<p><u>洗皂衣</u></p>
<p>用梔子濃煎水洗之如新。</p>
<p><u>洗白衣法</u></p>
<p>蔻豆稿灰，或茶子去殼洗之，或煮蘿蔔湯，或煮芋汁洗之，皆妙。</p>
<p><u>又方</u></p>
<p>取白菖蒲，不犯鐵，用銅刀薄切、曬乾，為末。欲淨衣服，先以末於盆中，攪水後，將衣服只可擺少時，垢膩自脫落白淨，勝如皂角湯洗。</p>
<p><u>洗羅絹衣</u></p>
<p>凡洗羅絹衣服，稍覺有垢膩者，即摺置桶中，溫皂角湯洗之，移時頻頻翻覆，且浸且拍，覺垢膩去盡，卻別過溫湯，又浸又拍，不必展開，即搭於竹竿上，候水滴盡，方將展開而曬之，不漿不熨，候乾，摺拍藏。</p>
<p><u>洗毛衣</u></p>
<p>用豬蹄爪煎湯，乘熱洗之。</p>
<p><u>洗麻衣</u></p>
<p>用大蒜搗碎，擦洗塵處即淨。</p>
<p><u>洗焦葛</u></p>
<p>用清水揉梅葉洗焦葛衣，經夏不脆。</p>
<p><u>又方</u></p>
<p>用梅葉搗爛洗之，垢膩易脫。</p>
<p><u>洗梅蒸衣</u></p>
<p>用梅葉洗之。</p>
<p><u>洗黃草布</u></p>
<p>以肥皂水洗，取清灰汁浸壓，不可揉洗。</p>
<p><u>洗竹布法</u></p>
<p>凡衣服，惟竹布不可揉洗，揉則隨手斷裂，須是摺疊聚，只用隔宿米泔浸半日，次用溫水淋，以手壓干曬之，則垢膩皆可盡去。</p>
<p><u>洗苧布法</u></p>
<p>梅葉搗取汁，以水和浸布，後用清水漂之，帶水鋪淨地曬乾。未白再浸再曬。</p>
<p><u>洗糨鐵驪布法</u></p>
<p>擂松子肉洗則滋潤不脆。糨時入好末茶少許，或煎茶滷搽色，入香油一滴，薄糊糨之。</p>
<p><u>糨木綿布法</u></p>
<p>銀杏研，入粉糨之，即不吸損綿絹。</p>
<p><u>漿衣法</u></p>
<p>用新松子去殼細研，以少水煮熱，入漿內，或加木香同煮，尤佳。凡漿，以熟麵湯調生豆粉為之極好，若用白墡土，夾漿垢膩湯洗。</p>
<p><u>洗墨汙衣法</u></p>
<p>嚼酸棗洗之妙。</p>
<p><u>又法</u></p>
<p>半夏為末，和水洗之妙。</p>
<p><u>又法</u></p>
<p>急用銀杏去膜嚼破揉汙處，用新汲水浣之即去。</p>
<p><u>又法</u></p>
<p>嚼杏仁亦妙。久汙則揉浸，少須洗之，無痕。</p>
<p><u>又方</u></p>
<p>黑牽牛（一錢）　草果　白芷（各五分）</p>
<p>上為末，牙刷蘸，帶濕洗即脫。</p>
<p><u>衣上墨汙</u></p>
<p>厚醬擂碎塗汙處，半日許，沸湯洗之，即去。</p>
<p><u>洗青黛汙衣法</u></p>
<p>細嚼杏仁，塗於其上，用水洗之為妙。</p>
<p><u>洗油汙衣</u></p>
<p>羊筒骨，燒灰，入滑石末、海螵蛸，和勻摻汙處，用厚紙隔熨斗盛火熨之。</p>
<p><u>又方</u></p>
<p>石灰二三升，鍋內炒熱，將油汙處於灰內擺洗，隨即脫去。雖錦繡亦不作跡。</p>
<p><u>洗油汙衣法</u></p>
<p>用蜜洗之妙。</p>
<p><u>又法</u></p>
<p>即用蔥白湯入瓶內，以湯瓶嘴注所汙處，用人緊崩開衣服，以汙去為度。更不得用手揉洗，自然如故。</p>
<p><u>又法</u></p>
<p>嚼蘿蔔吐於其上，擦之即去，無跡。</p>
<p><u>又法</u></p>
<p>白滾湯泡紫蘇擺洗妙。</p>
<p><u>又法</u></p>
<p>泡牛皮膠湯乘熱洗之妙。</p>
<p><u>又法</u></p>
<p>海螵蛸　滑石（各等分）</p>
<p>上二味為末摻而熨之。</p>
<p><u>又法</u></p>
<p>用白墡土為末，摻少許，輕揉油隨去，無跡。</p>
<p><u>又法</u></p>
<p>用蕎麥麵鋪上下，用紙隔定，以熨斗熨之，無跡。用米糠熨之，亦妙。</p>
<p><u>衣上汙油</u></p>
<p>煮酒洗之即去。</p>
<p><u>洗乾紅衣為油汙法</u></p>
<p>用酸漿和皂角洗，干，滴少麻油揉之，其色不陳。</p>
<p><u>洗紅藍衣為油汙法</u></p>
<p>用豆豉湯熱擺油去，其色不動。</p>
<p><u>真紫紬汙油</u></p>
<p>山炭灰泡汁，乘熱擺之，油自去，水曬乾，不可經手，絕無痕跡。</p>
<p><u>洗桐油汙衣法</u></p>
<p>佛前清淨寫在水中三遍，口中亦念，洗去甚妙。</p>
<p><u>洗漆汙衣</u></p>
<p>用油洗，或以溫湯略擺過，細嚼杏仁揉洗，又擺之，無跡；或先以麻油洗去，用皂角洗之，亦妙。</p>
<p><u>洗血汙衣</u></p>
<p>用冰水洗即淨。</p>
<p><u>洗瘡口膿汙衣</u></p>
<p>用牛皮膠洗之。</p>
<p><u>洗糞汙衣</u></p>
<p>用糞衣服埋土內一伏時，取出洗之，則無穢氣。</p>
<p><u>洗黃泥汙衣</u></p>
<p>以生薑搓過，用水擺去。</p>
<p><u>洗蟹黃汙衣</u></p>
<p>用蟹中腮煮之即去。</p>
<p><u>洗牛油汙衣法</u></p>
<p>嚼粟米洗之。</p>
<p><u>洗羊脂汙衣法</u></p>
<p>用石灰淋湯洗之。</p>
<p><u>洗垢膩汙衣法</u></p>
<p>用莙薘灰汁浣衣潔白如玉。</p>
<p><u>又法</u></p>
<p>茶子去殼搗爛洗甚妙。</p>
<p><u>又法</u></p>
<p>豆稿灰洗衣絕妙。</p>
<p><u>洗垢膩衾法</u></p>
<p>於霜夜，先鋪禾藁於地上如衾像樣，將火燒之成灰。來早，霜鋪其上，覆以裳，候日曬，霜溶，其垢自脫。來日翻轉，再覆其上，兩面皆去。</p>
<p><u>洗衣上蒸斑</u></p>
<p>灰莧燒灰淋湯洗，即去。</p>
<p><u>青紵繫上日久積垢光滑</u></p>
<p>慈母竹茹揩擦，自然潔淨如故。</p>

<h1>藏貯部</h1>
<p><u>收翠花朵法</u></p>
<p>用漢椒不拘多少雜盒中收貯妙。</p>
<p><u>又方</u></p>
<p>用茱萸相雜藏之則不生蛀，亦要勤取曬之。曬背不曬面，宜防貓，藏處又防蟻。</p>
<p><u>藏真紅衣裳法</u></p>
<p>凡真紅衣服不可近麝香，能損其色。</p>
<p><u>收毯褥等物之法</u></p>
<p>若頻頻曬露則蠅類遺種於中，反能速蛀，不曬則蛀愈甚，但以莽草同折摺收之，可永久不蛀。</p>
<p><u>又法</u></p>
<p>五月五日，取萵苣貯廚篋中，闢蛀蟲。</p>
<p><u>又法</u></p>
<p>七月七日，收角蒿置毯褥、書籍中，闢蛀蟲。</p>
<p><u>又法</u></p>
<p>九月九日，收茱萸撒置廚篋中，亦可闢蛀。</p>
<p><u>又法</u></p>
<p>青蒿子採置廚篋盛貯器物中，極能闢蛀。</p>
<p><u>又法</u></p>
<p>樟腦燒薰衣篋、毯席中，可去壁蝨、蛀蟲。</p>
<p><u>收毯褥座等法</u></p>
<p>宜日影曬過，以細捧擊其塵，有汗則取萵苣菜曬燥，逐葉擘開，鋪置背面收之，可永久不蛀。</p>

<h1>跋</h1>
<p>婦女秉陰，教主中饋。曰容，曰工，四德之所兼也。第川岳之所鍾，未必有厚無薄，則妍媸半焉，庸淑半焉。而後人不循壺則不尚誠樸，往往效顰仿步，競為冶容以取憐。如梅花妝、遠山黛、蟬翅翠鈿，殊令人媸笑耳，豈婦女之用宜哉。然則蓬首垢面，任其疾病狼戾又不可，乃有若此帙之所列者具在，蓋令人拔惡易瑕而工容兼備也。錄者誠苦心哉，不識好德之君子以為然否。侄孫光盛謹跋。</p>
