<header data-type="book">
<h1>靜香樓醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>尤怡</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1729">公元1729年</data></dd></div>
</dl>
</header>

<h1>柳序</h1>
<p>此案為尤在涇先生所著。先生名怡，字在涇，自號飼鶴山人，江蘇長洲縣人。邃於醫學，於仲景書尤能鑽研故訓，獨標心得。時吳下以醫名者，如葉氏桂、徐氏大椿、王氏子接，均煊耀一時。先生與之聯鏢接軫，輝映後先，於醫道中可謂能樹一幟者。所著有《傷寒論貫珠集》、《金匱心典》、《醫學讀書記》，均刊行。惟此案未經授樣，其附刻於讀書記後者，僅有三十餘條，非全本也。此本為吾邑吳氏所鈔藏，咸豐兵燹後，詒於詹文橋張氏齋頭見之，假歸鈔錄。復就其中選精粹者，得十之五，評錄如左，分上下兩卷。竊念近時醫學荒廢，其簡陋剽襲，毫無心得者無論已，間有鑽研古籍，不知通變者，動輒以仲景為家法，而咎今人不能用古方，目為庸陋。其實古方今病，往往枘鑿不相入，執而用之，僨事者多矣。及讀先生此案，而不覺憬然有悟也。先生博極群籍，尤服膺仲景之書，所著傷寒論金匱兩注，上溯仲景心傳，獨抒己見。讀其書者，無不知先生之於仲景，不啻升其堂而入其室已。乃觀此案，論病則切理饜心，源流俱澈，絕不泛引古書，用藥則隨證化裁，活潑潑地，從不蹈襲成方。可見食古期乎能化，裁製貴乎因時。彼徒執古書者，不且與王安石之周官，房琯之車戰，其弊適相當哉！是故讀他人之案，有不用古方者，或猶疑其服古未深，未能得力於仲景也。若先生則讀書不可謂不多，用功不可謂不切，其沉酣於仲景之書，尤不可謂其不深，乃其論病之平易近情也如是，立方之妥貼易施也如是。是則此案不第為治病之良規，並可為讀古之心法已。用書之以審後之讀此案者。</p>
<p><u>光緒二十六年庚子二月下旬江陰後學柳寶詒識。</u></p>

<h1>上卷</h1>

<h2>內傷雜病門</h2>
<p>陰虧於下，陽浮於上。服八味丸不效者，以附子走竄不能收納耳。宜加減法。</p>
<p>桂都氣丸</p>
<p>詒按：議論精細，可為用藥者開一悟境。</p>
<p>肝陽盛，肝陰虛，吸引及腎，腎亦傷矣。益肝體，損肝用，滋養腎陰，俾水木相榮，病當自愈。</p>
<p>生地　白芍　小薊　赤芍　當歸　血餘　丹皮　阿膠　甘草　茅根</p>
<p>詒按：此必因肝火而見血者，故方藥如此。</p>
<p>左關獨大，下侵入尺。知肝陽亢甚，下吸腎陰，陰愈虧則陽益張矣。滋水清肝，乃正法也。</p>
<p>知柏八味丸加天冬　龜板　杞子</p>
<p>詒按：方中似宜再增清肝之品。</p>
<p>陰不足者，陽必上亢而內燔。欲陽之降，必滋其陰，徒恃清涼無益也。</p>
<p>生地　知母　甘草　黑梔　麥冬　玄參　丹皮　地骨皮</p>
<p>詒按：案語精粹，有名雋氣。</p>
<p>腎精不足，肝火乘之，故有筋攣骨痿，耳竅二陰氣出等證。夫肝火宜泄，腎精宜閉，於一方之中，兼通補之法，庶幾合理，然非旦夕所能奏功也。</p>
<p>生地　川楝子　茯苓　阿膠　丹皮　女貞子</p>
<p>詒按：論病深中肯綮，方中可增白芍、牡蠣。</p>
<p>肝陰不足，肝火偏勝，傷肺則咳，自傷則脅痛。</p>
<p>阿膠　兜鈴　丹參　炙草　歸身　白芍　玉竹　川斛</p>
<p>詒按：既有脅痛見證，似當兼與通絡清肝，宜加丹皮、山梔、青皮、橘絡、旋覆等味。</p>
<p>咯血脅痛，項下有核，脈數惡熱，咽痛便溏。此肝火乘脾之證，反能食者，脾求助於食，而又不能勝之則痞耳。治在制肝益脾。</p>
<p>白芍　茯苓　川連　牡蠣　炙草　木瓜　益智　阿膠</p>
<p>詒按：論病明快，方中擬加丹、梔、夏枯草。</p>
<p>飲食既少，血去過多，陰氣之傷，蓋已甚矣。茲復憂勞驚恐，志火內動，陰氣益傷，致有心煩、體痛、頭疼等證。是當滋養心肝血液，以制浮動之陽者也。</p>
<p>生地　石斛　麥冬　丹皮　玄參　知母　茯苓　甘草</p>
<p>詒按：肝陰既虧，肝火上升，宜再加歸、芍，以滋養之，羚羊、菊、梔，以清泄之。</p>
<p>肝臟失調，侵脾則腹痛，侮肺則乾咳，病從內生，非外感客邪之比。是宜內和臟氣，不當外奪衛氣者也。但脈弱而數，形瘦色槁，上熱下寒，根本已漓，恐難全愈。</p>
<p>歸身　白芍　炙草　茯苓　桂枝　飴糖</p>
<p>詒按：此內補建中法，宜於腹痛，而不宜於乾咳。宜加清肝保肺之味，乃為周匝。</p>
<p>形盛脈充，兩尺獨虛，下體麻痹，火浮氣急。此根本不固，枝葉雖盛，未足恃也。</p>
<p>熟地　山藥　沙苑　杞子　丹皮　茯苓　桑椹　牛膝</p>
<p>詒按：如此脈證，似可參用腎氣法以溫攝之。</p>
<p>真陽以腎為宅，以陰為妃，腎虛陰衰，則陽無偶而蕩矣。由是上炎則頭耳口鼻為病，下走則膀胱二陰受傷。自春及秋，屢用滋養清利之劑，欲以養陰，而適以傷陽，不能治下，而反以戕中。內經所謂熱病未已，寒病復起者是也。鄙意擬以腎氣丸，直走少陰，據其窟宅而招之，同聲相應，同氣相求之道也。所慮者，病深氣極，藥入不能制病，而反為病所用，則有增劇耳。</p>
<p>腎氣丸</p>
<p>詒按：立論透切，醫案中僅見之作。</p>
<p>真陽氣弱，不榮於筋則陰縮，不固於里則精出，不衛於表則汗泄。此三者，每相因而見，其病在三陰之樞，非後世方法可治。古方八味丸，專服久服，當有驗也。</p>
<p>八味丸</p>
<p>詒按：見識老到，議論明確，此為可法可傳之作。</p>
<p>胃寒背冷，食入則倦，喜溫惡清。以背為陽位，胃為陽土，土寒則食不運，陽傷則氣不振也。治宜溫養陽氣。</p>
<p>人參　桂枝　益智仁　厚朴　炮姜　茯苓　炙草　白朮</p>
<p>詒按：此溫中和氣，平正通達之方。</p>
<p>中氣虛寒，得冷則瀉，而又火升齒衄。古人所謂胸中聚集之殘火，腹內積久之沉寒也。此當溫補中氣，俾土厚則火自斂。</p>
<p>四君子湯加益智仁　乾薑</p>
<p>詒按：議病立方，均本喻氏。近時黃坤載亦有此法。</p>

<h2>類中門</h2>
<p>類中偏左，於法為逆，猶幸病勢尚輕，可以緩圖取效。原方補少通多，最為合理。惟是陽脈則緩，陰脈則急，所以指節能屈不能伸，此亦病之關鍵處，不可忽也。經云：肝苦急，宜食甘以緩之。於前方中增進陰藥之甘潤者一二，更為美備。</p>
<p>人參　茯苓　半夏　白朮　炙草　橘紅　麥冬　竹瀝　薑汁</p>
<p>詒按：此六君加麥冬、竹瀝、薑汁也。</p>
<p>再診：加當歸</p>
<p>脈虛而澀，左半手足麻痹，食不知味。此氣血不能運行周體，乃類中之漸也。</p>
<p>桂枝　茯苓　歸身　半夏　炙草　黃耆　天麻　首烏</p>
<p>詒按：滋養疏化，虛實兼到。</p>
<p>內風本皆陽氣之化，然非有餘也，乃二氣不主交合之故。今形寒跗冷，似宜補陽為是。但景岳云：陽失陰而離者，非補陰無以攝既散之元陽。此證有升無降，舌絳牽掣，喑不出聲，足躄不堪行動。當與河間肝腎氣厥同例，參用丹溪虎潛法。</p>
<p>熟地　萸肉　牛膝　鎖陽　虎骨　龜板</p>
<p>詒按：持論明通，立方簡當。</p>
<p>再診：地黃飲子去附子，加鹿鞭子，煎膠打丸。</p>
<p>熱風中絡。口歪、舌謇、咽痛。治以清滋。</p>
<p>羚羊角　玄參　鉤藤　甘菊　甘草　石菖蒲　生地　竹瀝</p>
<p>再診：生地　阿膠　麥冬　知母　貝母　甘菊　甘草　玄參</p>
<p>三診：咽喉干痛。滋清不愈，宜從降導。</p>
<p>腎氣丸　淡鹽湯送下</p>
<p>詒按：先清之，繼滋之，終用引火下行之法。步伐井然，凌躐急功者，可取法焉。</p>
<p>方書每以左癱屬血虛，右瘓屬氣虛。據述頻年已來，齒疼舌赤，常有精濁。納穀如昔，卒然右偏，肢痿舌強，口喎語謇，脈浮數動。此乃肝腎兩虛，水不涵木，肝風暴動，神必昏迷。河間所謂肝腎氣厥，舌喑不語，足痱無力之證。但腎屬坎水，真陽內藏，宜溫以攝納，而肝藏相火內寄，又宜涼以清之。溫腎之方，參入涼肝，是為複方之用。</p>
<p>地黃飲子去桂附　加天冬　阿膠</p>
<p>詒按：即古法而化裁之。參詳脈證，斟酌盡善。</p>
<p>寒熱後，邪走手少陰之絡，猝然不語，肩背牽引不舒。宜辛以通之。</p>
<p>菖蒲　遠志　甘草　木通　當歸　丹皮　丹參　茯苓</p>
<p>詒按：方法輕靈，恰合餘邪入絡治法。</p>
<p>脈濡，按之則弦，右肩及手指麻木，兩腿痠癢，難以名狀。此脾飲肝風，相合為病，乃類中之漸，不可不慎。</p>
<p>首烏　天麻　刺蒺藜　羚羊角　炙草　茯苓　半夏　白芍　丹皮　廣皮　薑汁和竹瀝泛丸</p>
<p>詒按：以二陳、薑汁、竹瀝除痰飲，以丹、芍、羚、蒺、首烏、天麻治肝風，兩層俱到。就見證論，歸身、牛膝、橘絡，亦可加入。</p>

<h2>痿痹門</h2>
<p>脈虛而數，兩膝先軟後腫，不能屈伸。此濕熱乘陰氣之虛而下注，久則成鶴膝風矣。</p>
<p>生地　牛膝　茯苓　木瓜　丹皮　薏仁　山藥　萸肉　澤瀉　萆薢</p>
<p>詒按：正虛著邪，故補散宜並用。濕而兼熱，故滋燥不可偏。此以六味治陰虛，增入牛膝、木瓜、薏仁、萆薢以除濕熱，所謂虛實兼顧也。</p>

<h2>內風門</h2>
<p>肢麻頭運，此肝病也。便溏食減，脾亦病矣。宜節勞養氣，毋致風動為佳。</p>
<p>羚羊角　白朮　刺蒺藜　茯苓　炙草　天麻　白芍　廣皮</p>
<p>詒按：肝脾兩治，方法周到。</p>
<p>眩運嘔惡胸滿，小便短而數，口中乾。水虧於下，風動於上，飲積於中，病非一端也。</p>
<p>羚羊角　細生地　鉤勾　天麻　茯苓　廣皮　半夏　竹茹</p>
<p>詒按：病非一端，方欲打成一片，非熟於制方之義者不能。擬再增生牡蠣。</p>
<p>再診：前方去生地　加麥冬</p>
<p>三診：人參　茯苓　麥冬　羚羊角　天麻　半夏　炙草　石斛　廣皮</p>
<p>肝陰不足，則火動生風，脾失健運，則液聚成痰。調理肝脾，當漸愈也。</p>
<p>半夏　茯苓　廣皮　鉤勾　生地　竹瀝　麻仁汁</p>
<p>詒按：案屬通論。方中宜加用白芍，方能顧到肝經。</p>
<p>再診：和養中氣。</p>
<p>人參　陳皮　生穀芽　石斛　茯苓　木瓜</p>
<p>肝陽化風，逆行脾胃之分，胃液成痰，流走肝膽之絡。右腿麻痹，胸膈痞悶，所由來也。而風火性皆上行，故又有火升氣逆鼻衄等證。此得之飢飽勞郁，積久而成，非一朝一夕之故也。治法清肝之火，健脾之氣，亦非旦夕可圖也。</p>
<p>羚羊角　廣皮　天麻　甘草　枳實　半夏　茯苓　白朮　麥冬</p>
<p>詒按：持論明通，立方周匝，看似平淡無奇，實非老手不辦。亦當加入白芍。</p>
<p>此肝風挾痰上逆之證，肢冷自汗，有似陽脫，實非脫也。目與唇口牽引，時復歌笑。治宜先卻邪氣，而後養正。</p>
<p>羚羊角　白茯苓　竹茹　鬱金　半夏　甘草　鉤勾　橘紅</p>
<p>詒按：治法的當。時復歌笑，是心臟受邪之象。菖蒲、遠志、膽星、清心牛黃丸之類，均可選入。</p>
<p>肝屬風木，性喜沖逆，其變動為振搖強直，其治法宜柔木熄風。</p>
<p>細生地　鉤勾　歸身　茯苓　阿膠　天麻　羚羊角　山藥　柏子仁　刺蒺藜</p>
<p>詒按：此方可加木瓜、白芍。</p>
<p>脾失運而痰生，肝不柔而風動，眩運食少所由來也。</p>
<p>白朮　天麻　首烏　廣皮　半夏　羚羊角　茯苓　鉤勾</p>
<p>詒按：案語簡煉，方亦純淨。</p>
<p>四肢稟氣於脾胃，脾胃虛衰，無氣以稟，則為振顫。土虛木必搖，故頭運也。</p>
<p>歸芍六君子湯加黃耆　天麻</p>
<p>詒按：案語說理樸實，立方以扶正為主。似宜再加熄風之品。其所加之黃耆，恐非肝風升動者所宜。</p>
<p>木旺乘土，土氣不宣，痰涎郁聚，傳走經絡，故頭旋腳弱，有似虛象，實則未可徒補也。</p>
<p>首烏　橘紅　茯苓　薏仁　木瓜　鉤藤　刺蒺藜　半夏　炙草</p>
<p>詒按：首烏似嫌其澀，不如用生於術為妥。擬再加牛膝、竹瀝、薑汁。</p>

<h2>神志門</h2>
<p>驟爾觸驚，神出於舍，舍空痰入，神不得歸，是以有恍惚昏亂等證。治當逐痰以安神藏。</p>
<p>半夏　膽星　鉤藤　竹茹　茯神　橘紅　黑梔　枳實</p>
<p>詒按：敘病如話如畫。此等方案，非有切實功夫者不能。所謂成如容易卻艱辛也。</p>
<p>驚悸易泄，腰疼足軟，有似虛象，而實因痰火。蓋脈不弱數，形不枯瘁，未可遽與補也。</p>
<p>半夏　炙草　秫米　橘紅　茯苓　竹茹　遠志　石菖蒲</p>
<p>詒按：此秫夏合溫膽加味也。認證既確，立方自然入彀。</p>
<p>抽搦厥逆，合目則發。此肝膽痰熱，得之驚恐，病名癇厥。</p>
<p>半夏　橘紅　竹茹　膽星　炙草　石菖蒲　枳實　茯苓</p>
<p>詒按：痰火之邪，因驚恐而直犯肝膽，故見證如此。臥則陽氣入於陰，合目則發，是陽氣擾動陰臟，致痰火猝發而病作也。方中擬加羚羊角、黃連。</p>
<p>驟驚恐懼，手足逆冷，少腹氣衝即厥，陽縮汗出。下元素虧，收攝失司。宜乎助陽以鎮納。第消渴心悸，忽然腹中空洞。此風消肝厥見象，非桂附剛劑所宜。</p>
<p>炒黑杞子　舶茴香　當歸　紫石英　細辛　桂枝</p>
<p>詒按：風消肝厥之證，當於溫養中佐以滋陰。方中細辛一味，不識何意。愚意再加牛膝、白芍、牡蠣。</p>
<p>肝火挾痰上逆，為厥顛疾。</p>
<p>半夏　鉤藤　茯苓　枳實　廣皮　竹茹　鬱金　羚羊角</p>
<p>詒按：方極清穩。</p>

<h2>痰飲門</h2>
<p>肺飲</p>
<p>紫菀　半夏　桑皮　白前　杏仁</p>
<p>詒按：飲邪在肺，不及於胃，故專用肺藥。</p>
<p>飲邪射肺為咳</p>
<p>半夏　杏仁　乾薑　北五味　白芍　炙草　茯苓　桂枝</p>
<p>詒按：此治飲正法也。</p>
<p>秋冬咳嗽，春暖自安，是腎氣收納失司，陽不潛藏，致水液變化痰沫，隨氣射肺擾喉，喘咳不能臥息，入夜更重，清晨稍安。蓋痰飲乃水寒陰濁之邪，夜為陰時，陽不用事，故重也。仲景云：飲病當以溫藥和之。金匱飲門，短氣倚息一條，分外飲治脾，內飲治腎，二臟陰陽含蓄，自然潛藏固攝。當以腎氣丸方，減牛膝、肉桂，加骨脂以斂精氣。若以他藥發越陽氣，恐有暴厥之慮矣。</p>
<p>腎氣丸減牛膝肉桂　加補骨脂</p>
<p>詒按：此案推闡病原，極其精鑿。</p>
<p>往昔壯年，久寓閩粵，南方陽氣易泄。中年以來，內聚痰飲，交冬背冷喘嗽，必吐痰沫，胸脘始爽。年逾六旬，惡寒喜暖，陽分之虛，亦所應爾。不宜搜逐攻劫，當養少陰腎臟。仿前輩水液化痰阻氣，以致喘嗽之例。</p>
<p>腎氣丸減牛膝肉桂　加北五味　沉香</p>
<p>詒按：議論明確，立方亦極精當。</p>
<p>久遺下虛，秋冬咳甚，氣衝於夜，上逆不能安臥，形寒足冷，顯然水泛而為痰沫。當從內飲門治，若用肺藥則謬矣。</p>
<p>桂枝　茯苓　五味　炙草　白芍　乾薑</p>
<p>詒按：古人云：內飲治腎。據此證情，似可兼服腎氣丸，以攝下元。</p>
<p>肝風與痰飲相搏，內壅臟腑，外閉竅隧，以致不寐不飢，肢體麻痹。迄今經年，脈弱色悴，不攻則病不除，攻之則正益虛，最為棘手。</p>
<p>鉤藤　菖蒲　刺蒺藜　遠志　竹瀝　鬱金　膽星　天竺黃　另指迷茯苓丸臨臥服。</p>
<p>詒按：病屬難治，而立方卻周匝平穩，非學有本原者，不能辦此。</p>
<p>肝陽因勞而化風，脾陰因滯而生痰，風痰相搏，上攻旁溢，是以昏運體痛等證見也。茲口膩不食，右關微滑，當先和養胃氣，蠲除痰飲。俟胃健能食，然後培養陰氣，未為晚也。</p>
<p>半夏　秫米　麥冬　橘紅　茯苓</p>
<p>詒按：審察病機，以為立方步伐，臨證者宜取法焉。</p>

<h2>咳喘門</h2>
<p>風熱不解，襲入肺中，為咳為喘，日晡發熱，食少體倦，漸成虛損，頗難調治。勉擬錢氏阿膠散，冀其肺寧喘平，方可再商他治。</p>
<p>阿膠　茯苓　馬兜鈴　薏米　杏仁　炙草　糯米　芡實</p>
<p>再診：青蒿　丹皮　鱉甲　茯苓　石斛　甘草　歸身　廣皮　白芍</p>
<p>詒按：此正虛而兼感外邪之證，乃內傷挾外感病也。</p>
<p>久嗽脈不數，口不幹，未必即成損證。此為肺飲，鬱伏不達故也。</p>
<p>厚朴　煨姜　桑皮　杏仁　廣皮　甘草　半夏</p>
<p>詒按：此屬飲寒傷肺，乃內因之實證也。</p>
<p>體虛邪滯，肺絡不清，脈弦而細，幸不數耳。</p>
<p>沙參　桑葉　杏仁　茯苓　馬兜鈴　貝母　甘草　粳米</p>
<p>詒按：案語得看病之竅，最宜留意。</p>
<p>肺陰不足，肺熱有餘，咳則涕出，肌體惡風。此熱從竅泄，而氣不外護也。他臟雖有病，宜先治肺。</p>
<p>阿膠　貝母　沙參　馬兜鈴　杏仁　茯苓　炙草　糯米</p>
<p>詒按：此等證，虛實錯雜。若粗工為之，或與疏散，或與補澀，均足致損。</p>
<p>肺病以中氣健旺，能食便堅為佳。茲喘咳已久，而大便易溏，能食難運，殊非所宜。診得脈象與前無異，但能節飲食，慎寒暖，猶可無虞。</p>
<p>沙參　貝母　炙草　杏仁　苡仁　橘紅　枇杷葉</p>
<p>又丸方：六味丸加五味子、肉桂。</p>
<p>詒按：不刊之論，讀者最宜記好。</p>
<p>咳嗽，食後則減。此中氣虛餒所致。治宜培中下氣法。</p>
<p>人參　半夏　粳米　南棗　麥冬　炙草　枇杷葉</p>
<p>詒按：此證不甚多見，學者須記之。</p>
<p>久嗽便溏，脈虛而數。脾肺俱病，培補中氣為要。恐後泄不食，則瘦削日增也。</p>
<p>人參　白芍　扁豆　薏仁　廣皮　茯苓　炙草　山藥（蜜炙）　炮薑炭</p>
<p>詒按：此亦脾肺兩治之法，較前數方為切實。亦以此證中氣虛寒，無咽乾溺澀等虛熱亢炎之證，故用藥稍可著力耳。然欲求效難矣。</p>
<p>陰虛於下，陽浮於上。咳嗆火升，甚於暮夜。治肺無益，法當補腎。</p>
<p>熟地　杞子　天冬　白芍　茯苓　山藥　丹皮　龜板</p>
<p>詒按：此方即胡桃、五味，均可加入。</p>
<p>乾咳無痰，是肝氣衝肺，非肺本病。仍宜治肝，兼滋肺氣可也。</p>
<p>黃連　白芍　烏梅　甘草　歸身　牡蠣　茯苓</p>
<p>詒按：方中少潤肺之品。擬加北沙參、桑白皮。再肝之犯肺，必挾木火，梔、丹亦應用之藥也。</p>
<p>風傷於上，濕傷於下，上為咳嗽痰多，下為跗腫痠痛。宜先治上，而後治下。</p>
<p>薄荷　杏仁　桔梗　旋覆花　甘草　象貝　連翹　前胡</p>
<p>詒按：肺主一身之治節，故以治肺為先。</p>
<p>咳甚於夜間，肌熱於午後，此陰虧也。濁痰咳唾，鼻流清涕，是肺熱也。病本如是，奏功不易。擬甘鹹潤燥法。</p>
<p>阿膠　燕窩　沙參　海浮石　瓜蔞霜　川貝　杏仁　甘草</p>
<p>詒按：此證痰必干黏，故用藥如是。</p>
<p>內熱與外熱相合，肺胃受之，則咳而不能食，頭脹肌熱心煩。宜清上中二焦。</p>
<p>竹葉　蘆根　花粉　杏仁　貝母　知母　桔梗　橘紅</p>
<p>詒按：此外感溫燥之咳，故專用清泄。</p>
<p>脈細數促，是肝腎精血內耗，咳嗽必吐嘔清涎濁沫。此衝脈氣逆，自下及上，氣不收納，喘而汗出，根本先拔，藥難奏功。醫若見血為熱，見嗽治肺，是速其凶矣。</p>
<p>人參（秋石制）　熟地　五味子　紫衣胡桃</p>
<p>詒按：此難治之證，在咳嗽門中，亦別是一種也。</p>
<p>脈虛數，顴紅聲低，咳甚吐食。晡時熱升，多煩躁。此肝腎陰虧，陽浮於上，精液變化痰沫。病已三年，是為內損，非消痰治嗽可愈。固攝下焦，必須絕欲。以飲食如故，經年可望其愈。</p>
<p>都氣丸加女貞子　枸杞子　天冬</p>
<p>詒按：用藥頗為切實。</p>
<p>脈微小，形寒，久嗽失音。是氣餒陽損，議固胃陽，取甘溫之屬。</p>
<p>蜜炙生薑　炙草　白芍　黃耆　大棗</p>
<p>詒按：此亦虛咳中另一法門。</p>
<p>咽痛聲啞，有肺損肺閉之分。所謂金破不鳴，金實亦不鳴也。此證從外感風熱而來，當作閉治，溫補非宜。所慮者，邪不外達而內並耳。</p>
<p>阿膠　杏仁　桔梗　貝母　牛蒡　玄參　甘草　粳米　馬兜鈴</p>
<p>詒按：此錢氏補肺之類，乃虛實兼治之法。</p>
<p>用復脈甘潤法。嗆止音出，得益水濡潤之力也。無如胃弱便溏，此藥不宜再用。仿金匱麥門冬湯義，取養土之陰，以生肺金。</p>
<p>麥門冬湯</p>
<p>詒按：此用藥轉換法也。</p>
<p>久咳，便溏腹滿。脾肺同病，已屬難治。況脈數口乾潮熱，肝腎之陰，亦不足耶。</p>
<p>白芍　薏仁　茯苓　蓮肉　炙草　廣皮　扁豆</p>
<p>詒按：病重藥輕，恐難奏效。且於肝腎，亦未顧到。擬加用水泛六味丸一兩，絹包入煎。</p>
<p>咳而吐沫，食少噁心，動作多喘，中氣傷矣。非清肺治咳所能愈也。</p>
<p>人參　半夏　麥冬　炙草　茯苓　粳米　大棗</p>
<p>詒按：此胃虛咳嗽也。方宗金匱大半夏，麥門冬兩湯之意。</p>
<p>咳而衄。陰不足，火內動也。噁心不食，宜先治胃。</p>
<p>竹茹　粳米　廣皮　石斛　貝母　杏仁</p>
<p>詒按：既有火動而衄見證，宜兼清降。</p>
<p>浮腫咳喘，頸項強大，飲不得下，溺不得出，此肺病也。不下行而反上逆，治節之權廢矣。雖有良劑，恐難奏效。</p>
<p>葶藶大棗瀉肺湯</p>
<p>詒按：此痰氣壅阻之證，故重用瀉肺之劑。</p>
<p>脈寸關大而尺小，口乾，上氣不下，足冷不溫。此陽氣不潛。當用陰中陽藥治之。</p>
<p>六味丸加牛膝　車前　五味　肉桂</p>
<p>詒按：此兼腎氣、都氣兩方之意。</p>
<p>脈數減，咳亦緩。但浮氣不得全歸根本。宜補益下焦。以為吸受之地。</p>
<p>六味丸加五味子　菟絲子</p>
<p>又丸方：六味丸加五味子　杜仲　芡實　蓮鬚　菟絲子　杞子　蜜丸每服五錢</p>
<p>詒按：議論穩實，方亦妥貼。</p>
<p>氣喘足冷至膝，唇口乾，鼻塞，脈虛小。下氣上逆，病在根本。勿以結痰在項，而漫用清克也。</p>
<p>腎氣丸三錢，鹽花湯送下。</p>
<p>詒按：識見老當。</p>
<p>久咳喘不得臥，顴赤足冷，胸滿上氣，飢不能食。此肺實於上，腎虛於下，脾困於中之候也。然而實不可攻，姑治其虛，中不可燥，姑溫其下。且腎為胃關，火為土母，或有小補，未可知也。</p>
<p>金匱腎氣丸</p>
<p>詒按：擬再用旋覆代赭湯送下，則上中兩層，亦可關會矣。</p>
<p>兩寸浮大，關遲沉小，氣上而不下，喘咳多痰。肝腎之氣，上衝於肺。宜以腎氣丸，補而下之。</p>
<p>腎氣丸</p>
<p>詒按：此治本之法。</p>
<p>下虛上實，當治其下，勿清其上，真氣歸元，痰熱自降。宜以十味腎氣丸主之。</p>
<p>十味腎氣丸</p>
<p>詒按：識見卓老。</p>

<h2>失血門</h2>
<p>絡熱血溢，時氣所觸，非陰虛火浮之比。慎勿以滋膩治也。</p>
<p>荊芥　丹皮　茺蔚子　丹參　鬱金　藕汁　細生地　小薊炭</p>
<p>詒按：勘證用藥，老眼無花。</p>
<p>吐血得勞與怒即發，脈小數微嗆。病在肝心，得之思慮勞心，宜早圖之，勿使延及肺家則吉。</p>
<p>阿膠　丹皮　牛膝　丹參　小薊炭　三七　藕汁　童便</p>
<p>詒按：此治吐血之正法。能止血而無流瘀之弊，最為穩當。</p>
<p>再診：前方去丹參　三七　藕汁　童便，加生地　白芍　茺蔚子</p>
<p>又丸方：六味丸加阿膠　五味子　小薊炭　蓮鬚　水泛丸</p>
<p>失血咳逆，心下痞滿，暮則發厥，血色黯，大便黑，肝脈獨大。此有瘀血，積留不去。勿治其氣，宜和其血。</p>
<p>製大黃　白芍　桃仁　甘草　當歸　丹皮　降香</p>
<p>詒按：此專治瘀積之法。</p>
<p>病後失血，色紫黑不鮮。此係病前所蓄，胸中尚滿，知瘀猶未盡也。正氣雖虛，未可驟補，宜順而下之。</p>
<p>小薊炭　赤芍　生地　犀角　鬱金　丹皮　茺蔚子　童便</p>
<p>詒按：此必尚有鬱熱見證，故方中有犀角。既有留瘀未盡，可加醋炙大黃炭。</p>
<p>凡有瘀血之人，其陰已傷，其氣必逆，茲吐血紫黑無多，而胸中滿悶，瘀猶未盡也。而舌絳無苔，此陰之虧也。嘔吐不已，則氣之逆也。且頭重足冷，有下虛上脫之慮。惡寒譫語，為陽弱氣餒之徵。此證補之不投，攻之不可，殊屬棘手。</p>
<p>人參　茯苓　三七　吳萸　烏梅　牡蠣　川連　鬱金</p>
<p>詒按：論病則層層俱透，用藥亦步步著實，此為高手。</p>
<p>失血後，氣從下逆上，足冷頭熱，病在下焦，真氣不納。</p>
<p>六味丸加五味　牛膝　牡蠣</p>
<p>詒按：方亦妥當。若再進一層，可用金匱腎氣法，以導火下行。</p>
<p>血去過多，氣必上逆，肺被其沖，故作咳嗽。此非肺自病也。觀其沖氣甚則咳甚，沖氣緩則咳緩，可以知矣。擬攝降法，先治沖氣。</p>
<p>金匱腎氣丸去肉桂　加牡蠣</p>
<p>詒按：認證獨的，法亦老當。</p>
<p>脈寸靜尺動，屢經失血，覺氣從下焦上衝則嗆，勞動則氣促不舒。此病不在肺而在腎。治嗽無益，宜滋腎陰。</p>
<p>熟地　天麻　牡蠣　茯苓　杞子　萸肉　五味子</p>
<p>詒按：病與上條相同。方中用天麻，不知何意？</p>
<p>心脈獨大，口乾易汗，善怒血逆。此心陰不足，心陽獨亢。宜犀角地黃湯。</p>
<p>犀角地黃湯加茅根　甘草　山梔</p>
<p>詒按：方案均精簡熨帖。</p>
<p>痰中有血點散漫，此心病也。口乾心熱，當是傷暑，因暑喜歸心故耳。</p>
<p>生地　茯神　扁豆　甘草　丹皮　竹茹　麥冬　藕汁</p>
<p>詒按：方法清靈可喜。</p>
<p>葛可久論吐血治法，每於血止瘀消之後，用獨參湯以益心定志。茲以陰藥參之，慮其上升而助肺熱也。</p>
<p>人參　沙參　生地　阿膠　牛膝　茯苓</p>
<p>詒按：此失血後服人參，一定之法。</p>
<p>勞傷失血，心下痛悶，不當作陰虛證治。但脈數咳嗽潮熱，恐其漸入陰損一途耳。</p>
<p>生地　桃仁　楂炭　鬱金　赤芍　製大黃　甘草　丹皮</p>
<p>詒按：此證如早服補澀，則留瘀化熱，最易致損。須看其虛實兼到，絕不犯手。</p>
<p>陰不足而陽有餘，肝善逆而肺多郁。脈數氣喘咳逆，見血脅痛。治宜滋降，更宜靜養，不爾，恐其血逆不已也。</p>
<p>小生地　荊芥炭　白芍　童便　鬱金　藕汁　小薊炭</p>
<p>詒按：此亦氣火上逆之證。可加牛膝、丹皮。</p>
<p>離經之血未淨，而鬱於內，寒熱之邪交煽，而亂其氣，是以腹滿嘔泄，寒熱口燥。治當平其亂氣，導其積血，元氣雖虛，未可驟補也。</p>
<p>丹皮　楂炭　澤蘭　赤芍　鬱金　丹參　牛膝　小薊</p>
<p>詒按：此證挾外感之邪，可加荊芥炭、黑穭豆衣。</p>
<p>久咳見血，音暗咽痛，乍有寒熱。此風寒久伏，傷肺成勞。擬錢氏補肺法，聲出則佳。</p>
<p>阿膠　杏仁　馬兜鈴　牛蒡　薏仁　貝母　糯米</p>
<p>又膏方：阿膠　貝母　甘草　橘紅　杏仁　蘇子　米糖　白蜜　薑汁　紫菀　木通　梨汁　桔梗　牛膝　蘿蔔汁　茯苓</p>
<p>詒按：此正虛邪實之證，用藥能兩面兼顧，尚稱穩適。</p>

<h2>虛損門</h2>
<p>虛損至食減形瘦，當以後天脾胃為要。異功散五六服，頗得加谷。今春半地氣上升，肝木用事，熱升心悸，汗出復咳，咳甚見血，肝陽上熾，絡血遂沸。昨進和陽養陰之劑，得木火稍平，仍以前方加白芍，制肝安土。</p>
<p>生地　白芍　麥冬　阿膠　女貞子　甘草</p>
<p>詒按：方亦穩合。可加牡蠣、丹皮。</p>
<p>羅氏論虛勞之證，多因邪伏血鬱而得，不獨陰虧一端也。臨晚寒熱，時減時增，其為陽陷入陰可知。滋腎生肝，最為合法，略加損益，不必更張也。</p>
<p>熟地　白芍　茯苓　丹皮　山藥　柴胡　炙草　鱉甲</p>
<p>詒按：於養陰中，加柴胡以達邪，佐鱉甲以搜陰。虛實兼到，極為靈巧。然既云邪伏血鬱，似宜加當歸。</p>
<p>再診：熱漸減，頭中時痛，脈數不退，喉中痰滯不清。</p>
<p>青蒿　丹皮　熟地　鱉甲　炙草　牛膝　茯苓　小麥</p>
<p>詒按：似當兼清痰滯。兩方中熟地，不如改用生地為穩。</p>
<p>三診：體雖不熱，脈仍細數，宜養陰氣。</p>
<p>六味丸去萸肉、澤瀉　加白芍、牛膝、青蒿、鱉甲。</p>
<p>面黧形瘦，脈虛而數，咳嗽氣促，腰膝無力，大便時溏。此先後天俱虛，慮其延成虛損。清潤治肺之品，能戕中氣，勿更投也。</p>
<p>紫河車　熟地　山藥　萸肉　五味子　丹皮　茯苓　杜仲　澤瀉　牛膝　加蜜丸每服五錢</p>
<p>詒按：案語得治虛要旨，方亦精當。</p>
<p>絡脈空隙，氣必遊行作痛，最慮春末夏初，地中陽氣上升，血隨氣溢，趁此綢繆，當填精益髓。蓋陰虛咳嗽，是他臟累及於肺，若治以清涼，不獨病不去而胃傷食減，立成虛損，難為力矣。</p>
<p>熟地　金櫻子膏　鹿角霜　五味子　湘蓮子　萸肉　山藥　茯苓　海參（漂淨熬膏）　右為細末即以二膏搗丸</p>
<p>詒按：此必有遺精、腰痠等證，故用藥亦不重在咳嗽也。</p>

<h2>汗病門</h2>
<p>汗出偏沮，脈來不柔，時自歇止。知肝陽有餘，而胃陰不足，於是稠痰濁火，擾動於中，壅滯於外。目前雖尚安和，然古人治未病，不治已病。知者見微知著，須加意調攝為當。</p>
<p>人參　川石斛　麥冬　南棗　製半夏　丹皮　茯苓　炙草　小麥</p>
<p>詒按：此想系左半有汗，右半無汗之證。細繹案語，是防其將患偏痱之意。</p>
<p>心陰不足，心陽易動，則汗多善驚，腎陰不足，腎氣不固，則無夢而泄。以汗為心液，而精藏於腎故也。</p>
<p>生地　茯神　甘草　麥冬　川連　柏子仁　玄參　小麥　大棗</p>
<p>詒按：案語心腎並重，方藥似專重於心。再加五味子、牡蠣、沙苑等攝腎之品，則周匝矣。</p>

<h2>諸郁門</h2>
<p>中年脘悶，多噯多咳，此氣鬱不解也。納穀已減，未可破泄耗氣，宜從胸痹例，微通上焦之陽。</p>
<p>薤白　瓜蔞　半夏　桂枝　茯苓　薑汁</p>
<p>詒按：方法輕靈。</p>
<p>鬱氣凝聚喉間，吞不下，吐不出，梅核氣之漸也。</p>
<p>半夏　厚朴　茯苓　蘇梗　旋覆花　橘紅　枇杷葉　薑汁</p>
<p>詒按：此於《金匱》成方中，加旋覆、杷葉，最有巧思。</p>
<p>寒熱無期，中脘少腹遽痛，此肝臟之郁也。鬱極則發為寒熱，頭不痛，非外感也。以加味逍遙散主之。</p>
<p>加味逍遙散</p>
<p>詒按：此木散達之之法。</p>
<p>病從少陽，郁入厥陰，復從厥陰，逆攻陽明，寒熱往來，色青，顛頂及少腹痛，此其候也。泄厥陰之實，顧陽明之虛，此其治也。</p>
<p>人參　柴胡　川連　陳皮　半夏　黃芩　吳萸　茯苓　甘草</p>
<p>詒按：此從左金、逍遙化裁而出。若再合金鈴子散，似更周到。</p>
<p>此血鬱也，得之情志，其來有漸，其去亦不易也。</p>
<p>旋覆花　薤白　鬱金　桃仁　代赭石　紅花</p>
<p>詒按：此必因血鬱，而絡氣不通，有胸膈板痛等見證，故立方如此。</p>

<h2>嘔噦門</h2>
<p>胃虛氣熱，乾嘔不便。</p>
<p>橘皮竹茹湯　加蘆根　粳米</p>
<p>再診：嘔止熱退。</p>
<p>石斛　茯苓　半夏　廣皮　麥冬　粳米　蘆根　枇杷葉</p>
<p>三診：大便不通。</p>
<p>生首烏　玄明粉　枳殼</p>
<p>四診：大便通，脈和。惟宜滋養。</p>
<p>石斛　歸身　秦艽　白芍　丹皮　炙草　茯苓　廣皮</p>
<p>詒按：迭用四方，運意靈巧，自能與病機宛轉相赴。</p>
<p>下既不通，勢必上逆而為嘔，所謂幽門之氣，上衝吸門是也，治法自當療下。但脈小目陷，中氣大傷，宜先安中止嘔。嘔定再商。</p>
<p>人參　茯苓　刺蒺藜　竹茹　半夏　廣皮　蘆根　石斛</p>
<p>詒按：似當兼通幽門，乃能止嘔，擬加生枳實。</p>
<p>痛嘔之餘，脈當和緩，而反搏大，頭運欲嘔，胸滿不食，神倦欲臥，慮其土隤木張，漸致痙厥。法當安胃清肝，亦古人先事預防之意。</p>
<p>半夏　茯苓　廣皮　白風米　鉤藤　竹茹　枇杷葉　鮮佛手</p>
<p>詒按：議論極是，但恐藥力不足以濟之，然方卻清穩。所謂清肝者，只不過鉤藤、竹茹而已，擬再加木瓜、白芍，較似有力。</p>
<p>病從肝起，繼乃及胃，茲又及於肺矣，然當以胃氣為要。久病之體，必得安穀不嘔，始可圖功。</p>
<p>石斛　蘆根　茯苓　麥冬　廣皮　木瓜　枇杷葉　粳米</p>
<p>詒按：敘病簡要清沏，非績學者不能。方亦中窾。</p>
<p>胃有火邪，故嘔而不食，膽有熱邪，故合目自汗。</p>
<p>橘皮竹茹湯　加石斛</p>
<p>詒按：山梔必不可少，以其專清膽熱故也，川連亦在應用之列。</p>
<p>再診：前方去石斛　加木瓜</p>
<p>嘈雜得食則已。此痰火內動，心胃陰氣不足。</p>
<p>生地　山梔　半夏　麥冬　茯苓　丹皮　竹茹　炙草</p>
<p>詒按：陰虛而挾痰者，用藥最難恰好。方中可加石斛、廣皮。</p>
<p>痰氣阻逆咽嗌，時自嘔惡。此證利在清降，失治則成噎膈。</p>
<p>半夏　枇杷葉　旋覆花　竹茹　茯苓　麥冬　橘紅　鬱金　生薑</p>
<p>詒按：用藥靈動。</p>
<p>氣鬱痰凝，阻隔胃脘，食入則噎，脈澀，難治。</p>
<p>旋覆花　代赭石　橘紅　半夏　當歸　川貝　鬱金　枇杷葉</p>
<p>詒按：旋覆代赭為噎膈正方。食入則噎，肺氣先郁，故加郁、貝、枇杷葉，惟脈澀者正虛，可加人參。</p>
<p>脈疾徐不常，食格不下。中氣大衰，升降失度。</p>
<p>旋覆花　代赭石　麥冬　茯苓　半夏　廣皮　人參　枇杷葉</p>
<p>詒按：此因中氣大傷，故用參、麥。</p>
<p>朝食暮吐，肝胃克賊，病屬反胃。</p>
<p>旋覆花　代赭石　茯苓　半夏　吳萸　生薑　粳米　人參　枇杷葉</p>
<p>詒按：此專治吐，故加薑、萸。</p>
<p>谷之不入，非胃之不納，有痰飲以阻之耳。是當以下氣降痰為法，代赭之用，先得我心矣。</p>
<p>旋覆代赭湯</p>
<p>詒按：識既老當，筆亦爽健。</p>
<p>因氣生痰，痰凝氣滯，而中焦之道路塞矣。由是飲食不得下行，津液不得四布，不飢不食，口燥便堅，必悸頭運，經兩月不愈。以法通調中氣，庶無噎膈腹滿之慮。</p>
<p>旋覆代赭湯加石菖蒲　枳實　陳皮</p>
<p>詒按：論病則源流俱徹，用藥則標本兼到，細膩熨帖，傳作何疑。</p>
<p>中氣疊傷，不能健運，朝食暮吐，完穀不腐。診得脈虛色黑，腰腳少力，知不獨胃病，腎亦病矣，此豈細故哉。</p>
<p>人參　附子　川椒　茯苓　益智仁</p>
<p>再診：前方去川椒益智　加川連　肉桂</p>
<p>詒按：完穀不腐，色黑腰軟，腎傷之徵也，改方加桂、連，是交濟法。</p>

<h1>下卷</h1>

<h2>伏氣門</h2>
<p>肝陰素虧，溫邪擾之，發為痙病，神昏骱齒，瘛瘲不定。法當滋養肝陰，以榮筋脈，清滌痰熱，以安神明者也。若能應手，尚可無慮。</p>
<p>羚羊角　茯神　鉤藤　貝母　阿膠　鮮菖蒲　竹瀝</p>
<p>詒按：此證若表邪未解，當去阿膠，加小生地或鮮生地。</p>
<p>又按：此係伏氣發溫之證，與外感風溫有外內之別。此證邪由少陰外發，潰入厥陰，故見證如此。羚羊角、鉤藤，熄風清熱，皆治標之品也。若圖其本，當從陰分托邪，俾得外達三陽，再與隨經清泄，乃奏全功。病原治法，詳載《溫熱逢原》中，茲不贅述。</p>
<p>熱傷津液，脈細口乾，難治。</p>
<p>蘆根　知母　川斛　蔗漿　細生地　麥冬　甘草　梨汁</p>
<p>詒按：此存陰泄熱之正法，所云難治，想因脈細之故。</p>
<p>熱不止，頭痛不已，紫斑如錦紋，咽痛。表裡邪盛，最為重證。</p>
<p>犀角　豆豉　赤芍　玄參　牛蒡　丹皮　黃芩　甘草</p>
<p>詒按：當加鮮生地。</p>
<p>再診：去豆豉　丹皮　加桔梗　鮮生地　射干</p>
<p>熱病，十二日不解，舌絳口乾，胸滿氣促，邪火為患，亦已甚矣。宜景岳玉女煎，清熱而存陰，否則神識昏冒矣。</p>
<p>鮮生地　石膏　麥冬　知母　竹葉　甘草</p>
<p>詒按：此氣血兩燔之治法。</p>
<p>熱病，四日不汗，而舌黃、腹中痛、下利，宜先里而後表，不爾，恐發狂也。</p>
<p>大黃　柴胡　枳實　厚朴　赤芍</p>
<p>詒按：先里後表，因里證已急，於病機固當如是。</p>
<p>舌乾脈數，汗為熱隔，雖發之亦不得，惟宜甘寒養液。雖不發汗，汗當自出，然必足溫，而後熱退乃吉。</p>
<p>青蒿　知母　蘆根　生地　蔗漿　竹葉</p>
<p>詒按：養液以為作汗之源，是治溫要旨。</p>

<h2>外感門</h2>
<p>頭面腫痛，此風邪上盛，宜辛涼解散。</p>
<p>荊芥　杏仁　桔梗　牛蒡　薄荷　甘草　馬勃　蒼耳子</p>
<p>風溫挾痰，留滯上焦，辛涼解散，原為合法，時至自解，不足憂也。</p>
<p>牛蒡　連翹　薄荷　川貝　豆豉　杏仁　桔梗　蔥白</p>
<p>詒按：此風溫初起之方。</p>
<p>風溫鬱於肺胃，咳而胸滿，痰多脅下痛，脈數口乾。</p>
<p>蘆根　薏米　瓜蔞　甘草　杏仁　紅花　桃仁　貝母</p>
<p>詒按：桃仁、紅花，因脅痛而用之，以和血絡也。若邪郁可加豉、蒡，口乾可加翹、芩。</p>
<p>脈右大，舌黃不渴，嘔吐黏痰，神躁語言不清，身熱不解。此勞倦內傷，更感濕溫之邪，須防變端。</p>
<p>厚朴　茯苓　滑石　陳皮　竹葉　蔻仁　菖蒲根汁</p>
<p>詒按：此溫邪而挾濕者，濕熱上蒙，故證情如是，此方可以為法。</p>

<h2>濕病門</h2>
<p>臍中時有濕液腥臭，按脈素大。此少陰有濕熱也。六味能除　間濕熱，宜加減用之。</p>
<p>六味丸去山藥　加黃柏　萆薢　女貞子　車前子</p>
<p>詒按：六味治腎間濕熱，前人曾有此論，藉以治臍中流液，恰合病機。</p>

<h2>瘧疾門</h2>
<p>暑風成瘧，噁心胸滿，和解則愈。</p>
<p>半夏　黃芩　茯苓　知母　厚朴　陳皮　竹葉　生薑</p>
<p>詒按：小柴胡法之和解，和其表裡兩岐之邪也，此之和解，和其濕熱兩混之邪也。薑、夏、樸、廣，去其濕也，芩、知、竹葉，清其熱也，兩意兼用，故亦云和解也。</p>
<p>又按：此濕熱並重者，故清燥兼用。此與下條皆屬暑濕內伏，發為時瘧之病。苦辛宣泄，最為和法。若拘拘於瘧疾之成方，概用柴胡、鱉甲則誤矣。</p>
<p>暑風相搏，發為時瘧，胸滿作噦，汗不至足。邪氣尚未清解。當以苦辛溫法治之。</p>
<p>藿香　半夏　杏仁　通草　厚朴　廣皮　竹葉</p>
<p>詒按：此濕重於熱者，故用藥稍偏溫燥。</p>
<p>瘧發而上下血溢，責之中虛，而邪又擾之也。血去既多，瘧邪尚熾，中原之擾，猶未已也，誰能必其血之不復來耶。謹按古法，中虛血脫之證，從無獨任血藥之理。而瘧病經久，亦必固其中氣。茲擬理中一法，止血在是，止瘧亦在是，惟高明裁之。</p>
<p>人參　白朮　炮姜　炙草</p>
<p>詒按：識見老確，議論精切。所立理中一法，誠屬血脫益氣，固中止血之要藥。惟愚意所欲商者，瘧來而上下血溢，必因瘧疾之熱，擾及血絡而然。於理中法內，參用安宮清絡之意，似乎更為周到。且標本兼顧，於立方正意，亦不相刺謬也。</p>
<p>三瘧，是邪伏陰分而發，非和解可愈。久發不止，補劑必兼升陽，引伏邪至陽分乃愈。</p>
<p>人參　歸身　鹿角膠　杞子　鹿茸　附子　茯苓　沙苑</p>
<p>詒按：陰瘧本有此法，而不能概用此法，須相題為之。</p>
<p>瘧病方已，遂得脾約，脾約未已，又增厥疼。心腹時滿時減，或得身熱汗出，則疼滿立止。明系瘧邪內陷於太陰陽明之間，是必邪氣仍從少陽外達，則不治疼而疼自止，不治脹而脹自消矣。</p>
<p>詒按：論病已得要領，惜方佚未見。</p>
<p>瘧後，脅下積癖作疼，夜熱口乾溺赤。陰虛邪伏。宜鱉甲煎。</p>
<p>鱉甲　白芍　青皮　丹皮　首烏　柴胡　知母　炙草</p>
<p>詒按：此邪伏陰分之治法。當歸亦可加入。</p>
<p>瘧後，脅下積痞不消，下連少腹作脹。此肝邪也。當以法疏利之。</p>
<p>人參　柴胡　青皮　桃仁　茯苓　半夏　甘草　牡蠣　黃芩　生薑</p>
<p>詒按：此小柴胡法也。加青皮以疏肝，桃仁以和瘀，牡蠣以軟堅，用意可云周到。惟少腹作脹，乃肝邪下陷之證。若再加川楝子、歸尾、延胡，似更完密。</p>
<p>瘧止復發，汗多作嘔，中氣虛逆，宜益陽明。</p>
<p>半夏　茯苓　廣皮　人參　石斛　蘆根　薑汁</p>
<p>再診：寒熱已止，汗嘔並減。宜和養營衛。</p>
<p>人參　桂枝　石斛　廣皮　歸身　炙草　麥冬　白芍</p>
<p>詒按：此膏粱虛體治法，兩方俱清穩熨帖。</p>

<h2>黃疸門</h2>
<p>面黑目黃，脈數而微，足寒至膝，皮膚爪甲不仁。其病深入少陰，而其邪則仍自酒濕得之及女勞也。</p>
<p>腎氣丸</p>
<p>詒按：此證載在《金匱》，近於《愛廬醫案》中，見一方甚佳。此病兼有瘀血，不但濕也。腎氣丸能否見效，尚未可定。</p>
<p>面目身體悉黃，而中無痞悶，小便自利。此仲景所謂虛黃也。即以仲景法治之。</p>
<p>桂枝　黃耆　白芍　茯苓　生薑　炙草　大棗</p>
<p>詒按：案明藥當。</p>
<p>濕停熱聚，上逆則咽嗌不利，外見則身目為黃，下注則溺赤而痛。</p>
<p>茵陳　厚朴　豆豉　木通　豬苓　橘紅　茯苓　黑梔</p>
<p>詒按：論病能一線穿成，用藥自絲絲入筘。</p>
<p>又按：咽嗌不利，可加桔梗、前胡之類。</p>

<h2>痹氣門</h2>
<p>胸背為陽之分，痹著不通，當通其陽，蓋陽不外行而鬱於中，則內反熱而外反寒。通陽必以辛溫，而辛溫又礙於臟氣，擬辛潤通肺以代之。</p>
<p>紫菀三兩煎湯服</p>
<p>詒按：此巧法也。特未知效否若何？</p>
<p>濕邪郁遏，陽氣不宣，外寒裡熱，胸滿溺赤。宜開達上焦。</p>
<p>紫菀　桔梗　鬱金　白蔻　枳殼　杏仁　貝母　甘草</p>
<p>詒按：此治肺痹之正法。</p>
<p>氣窒不散，便閉喘急，不能偃臥，猝難消散也。</p>
<p>紫菀　葶藶　厚朴　杏仁　橘紅　鬱金　枳殼</p>
<p>詒按：此證較前更急，兼有便閉，故用藥從中焦泄降。</p>
<p>再診：大黃　厚朴　檳榔　枳殼　杏仁</p>
<p>詒按：輕劑不效，故更與通腑以泄肺。</p>
<p>胸中為陽之位，陽氣不布，則窒而不通。宜溫通，不宜清開，愈開則愈窒矣。</p>
<p>桂枝　茯苓　乾薑　炙草　益智仁</p>
<p>詒按：再參入開痹之品，如杏、菀、橘、桔等，似更靈動。</p>
<p>食入，則胸背痞塞作脹，噫氣不舒。此陽氣不通。宜辛通之法。</p>
<p>草蔻仁　半夏　桂枝　茯苓　乾薑　炙草</p>
<p>詒按：此證亦與胸痹相似。</p>

<h2>脘腹痛門</h2>
<p>蛔厥心痛，痛則嘔吐酸水，手足厥冷。宜辛苦酸治之。</p>
<p>川連　桂枝　歸身　延胡　烏梅　川椒　茯苓　川楝子　炮姜</p>
<p>詒按：此烏梅丸法也。</p>
<p>此腎厥也。心疼背脹，引及腰中。議用許學士香茸丸。</p>
<p>鹿茸　杞子　沙苑　大茴香　麝香</p>
<p>詒按：寒襲於腎，而氣上逆，故用溫養。脹及腰背者，督陽不用也。鹿茸溫通督脈，麝香開泄濁陰，故以之為君。</p>
<p>脈弦小腹痛，食後胃脘痛，上至咽嗌。肝火乘胃。宜泄厥陰、和陽明。</p>
<p>川楝子　木通　茯苓　甘草　石斛　木瓜</p>
<p>詒按：擬加延胡、山梔仁。</p>
<p>心腹痛，脈弦，色青，是肝病也。</p>
<p>川楝子　歸身　茯苓　石斛　延胡　木瓜</p>
<p>詒按：立方穩合。</p>

<h2>瘕癖門</h2>
<p>臍下積塊，捫之則熱，病者自言，前後二陰，俱覺熱痛，其為熱結可知。況自來之病，皆出於肝耶。鄙見非泄厥陰，不能獲效。</p>
<p>龍薈丸五十粒酒下。</p>
<p>絡病瘀痹，左脅板實，前年用蟲蟻，通血升降開發已效，但胸脘似是有形，按之微痛。前藥太峻，茲用兩調氣血，以緩法圖之。</p>
<p>醋炒延胡　薑黃　阿魏　桃仁　生香附　麝香　歸鬚</p>
<p>為末蜜丸，每服二錢。</p>
<p>詒按：承前方來，雖曰兩調氣血，而仍以疏瘀為主。</p>
<p>脈虛數，色白不澤，左脅有塊杯大，大便小便自利。病在肝家，營血不和，此為虛中有實，補必兼通。</p>
<p>白朮　歸身　炙草　白芍　生地　茯苓　琥珀　廣皮　桃仁　紅花　沉香　鬱金</p>
<p>詒按：方治親切不膚。</p>
<p>時病食復，至今不知飢飽，大便不爽，右脅之旁，虛里天樞，隱隱有形。此陽明胃絡循行之所，多噯氣不化，並不煩渴，豈是攻消急驅實熱之證耶。擬用丹溪泄木安土法。</p>
<p>小溫中丸　如半月後有效仍以前法。</p>
<p>詒按：此中焦濕積阻結之證。</p>
<p>左脅積塊，日以益大，按之則痛，食入不安。凡痞結之處，必有陽火鬱伏於中，故見煩躁口乾心熱等證。宜以苦辛寒藥，清之開之。然非易事也。</p>
<p>川連　枳實　香附　川芎　神麯　茯苓　青皮　赤芍</p>
<p>詒按：脅塊有形益大，則營絡必窒，似宜兼通乃效。</p>
<p>大腹右有形為聚，脈大，食入即作脹，治在六腑。</p>
<p>白朮　茯苓　廣皮　生香附汁　三稜　厚朴　草果　山楂</p>
<p>詒按：方以疏通氣分為主。</p>
<p>心下高突，延及左脅有形，漸加腹脹。思正月暴寒，口鼻吸受冷氣，入胃絡膜原，清陽不用，濁陰凝阻，胃氣重傷，有單腹之累，殊非小恙。</p>
<p>厚朴　草果　半夏　乾薑　茯苓　蓽拔</p>
<p>另蘇合香丸一粒化服。</p>
<p>詒按：寒邪閉於營絡，故用溫通，方中可加桂枝尖。</p>

<h2>腫脹門</h2>
<p>脈遲胃冷，腹脹，氣攻胸脅，噁心少食泄瀉。宜振脾胃之陽。</p>
<p>乾薑　益智仁　半夏　厚朴　神麯　檳榔　川椒　茯苓</p>
<p>詒按：此溫中調氣法也。</p>
<p>命門陽衰，脾失溫養，不克健運，食入輒脹，法當溫補下焦。</p>
<p>腎氣丸去桂，加沉香、椒目。</p>
<p>詒按：此補火生土之法。</p>
<p>濕熱內陷太陰而成脹。</p>
<p>茅朮　川柏　厚朴　陳皮　桑皮　木通　澤瀉　大腹皮　草果仁</p>
<p>詒按：此專治脾土濕熱，古方小溫中丸亦可服。</p>
<p>脈微遲，左脅宿痞，腹漸脹大，便溏溺少。此是濁陰上攻，當與通陽。</p>
<p>熟附子　遠志　椒目　小茴香　澤瀉　茯苓</p>
<p>詒按：此溫通治脹之正法。</p>
<p>脾氣本弱，而更受木克，克則益弱矣，由是脾健失職，食入不消，遂生脹滿。脾愈弱則肝愈強，時時攻逆，上下有聲。半載之疾，年逾六旬，非旦夕可圖也。</p>
<p>人參　茯苓　川楝子　楂核　甘草　木瓜　白芍　吳萸　橘核</p>
<p>詒按：此肝脾兩治，而偏重於肝者，以其不特脹滿，而兼有攻逆之證也。</p>
<p>脈弦中滿，病在肝脾。</p>
<p>人參　吳萸　木瓜　厚朴　廣皮　半夏</p>
<p>詒按：此肝脾兩治之正法。立方精簡可法。</p>
<p>右關獨大而搏指，知病在中焦，飲食不化，痞悶時痛，積年不愈，喉間自覺熱氣上衝，口乾作苦，舌苔白燥。此脾家積熱鬱濕。當以瀉黃法治之。</p>
<p>茅朮　葛根　茯苓　石膏　藿香　木香</p>
<p>詒按：此痞滿門中不常見之證，存之以備一格。</p>
<p>脈證合參，乃氣結在上，津不運行，蒸變濁痰，由無形漸變有形。徐之才謂輕可去實，非膠固陰藥所宜。</p>
<p>白蔻　薏仁　杏仁　厚朴　枇杷葉汁　降香汁</p>
<p>詒按：此方具有輕、清、靈三字之妙。</p>
<p>勞郁交傷，營衛不和，胸中滿痛，時有寒熱。與六淫外感不同。治宜和養氣血。</p>
<p>逍遙散</p>
<p>詒按：再增枳、樸等寬中之品，則更周到矣。</p>
<p>脾以健運為職，心下痞不能食，食則滿悶，脾失其職矣。但健運之品，迂緩無功，宜以補瀉升降法治之。</p>
<p>人參　乾薑　半夏　茯苓　川連　枳實　陳皮　生薑</p>
<p>詒按：此方仿瀉心法加味。</p>
<p>脅下素有痞氣，時時沖逆，今見中滿，氣攻作痛，吞酸嘔吐，能俯而不能仰。此厥陰鬱滯之氣，侵入太陰之分，得之多怒且善郁也。病久氣弱，不任攻達，而病氣久郁，亦難補養為掣肘耳。姑以平調肝胃之劑和之，痛定食進，方許萬全。</p>
<p>半夏　廣皮　川楝子　橘核　茯苓　青皮　炙甘草　木瓜</p>
<p>詒按：審察病機，至為精細，立方亦周到熨帖。</p>
<p>胃陽衰憊，氣阻痰凝，中脘不快，食下則脹。宜辛溫之品治之。</p>
<p>草果仁　厚朴　茯苓　半夏　甘草　檳榔</p>
<p>詒按：此濕痰阻遏中宮之證。</p>
<p>熱結氣閉，腹脹便難。</p>
<p>厚朴　杏仁　滑石　黃芩　大腹皮　茯苓皮　木通</p>
<p>詒按：此運中兼泄熱法也。</p>
<p>腹脹、面浮、跗腫，食不下，欲嘔。脾虛受濕，健運失常。非輕證也。</p>
<p>茅朮　茯苓　廣皮　桑皮　木通　厚朴　澤瀉　半夏　豬苓</p>
<p>詒按：此運中利濕法也。</p>
<p>面黑，目黃，腹滿，足腫，囊腫。濕熱壅滯，從脾及腎，病深難治。</p>
<p>蒼朮　制軍　厚朴　陳皮　木通　茵陳　豬苓　椒目　澤瀉</p>
<p>詒按：邪機壅滯，正氣已傷，故云難治。</p>
<p>臥則喘息有音，此腫脹，乃氣壅於上。宜用古人開鬼門之法，以治肺通表。</p>
<p>麻黃　杏仁　薏仁　甘草</p>
<p>詒按：此兼喘逆，故專治肺。</p>
<p>風濕相搏，面浮腹滿足腫，大小便不利。</p>
<p>杏仁　蘇子　厚朴　陳皮　豬苓　大腹皮　姜皮　木通</p>
<p>詒按：此表裡兩通法也。</p>
<p>腫脹之病，而二便如常，肢冷氣喘。是非行氣逐水之法所能愈者矣。當用腎氣丸，行陽化水。然亦劇病也。</p>
<p>腎氣丸</p>
<p>詒按：此病陽衰氣窒，不治之證也。</p>

<h2>頭痛門</h2>
<p>火升，頭痛，耳鳴，心下痞滿，飯後即發。此陽明少陽二經痰火交郁，得食氣而滋甚，與陰虛火炎不同。先與清理，繼以補降。</p>
<p>竹茹　茯苓　橘紅　炙草　半夏　羚羊角　石斛　嫩鉤藤鉤</p>
<p>詒按：案語分析病機，極其圓到。惟立方似未恰合，陽明藥少，宜加知母、枳實。</p>
<p>頭疼偏左，耳重聽，目不明，脈寸大尺小。風火在上，姑為清解。</p>
<p>羚羊角　生地　甘草　菊花　丹皮　石決明　連翹　薄荷</p>
<p>詒按：此內風而兼外感者，故清散兼施。</p>
<p>風熱上甚，頭痛不已。如鳥巢高巔，宜射而去之。</p>
<p>制軍　犀角　川芎　細茶</p>
<p>詒按：此雖前人成法，而選藥頗精簡。據此則大黃當用酒炒，以使之上行。</p>

<h2>肢體諸痛門</h2>
<p>風邪中入經絡，從肩膊至項強痛，舌乾唇紫而腫，痛處如針刺之狀。此是內挾肝火，不宜過用溫散，惟宜養陰熄肝火而已。</p>
<p>羚羊角　細生地　甘菊　黃芩　鉤勾　秦艽　丹皮</p>
<p>詒按：因唇紫舌乾，故知內挾肝火。方中黃芩，不若山梔為當。</p>
<p>項背痛如刀割。治宜養血通絡。</p>
<p>桂枝　鉤藤　白芍　知母　羚羊角　阿膠　炙草　生地</p>
<p>詒按：擬去知母，加歸鬚、刺蒺藜、絲瓜絡。</p>
<p>身半以上，痛引肩臂，風濕在於太陰之分，行動則氣促不舒，胸膚高起，治在經絡。</p>
<p>大活絡丹</p>
<p>詒按：擬用旋覆新絳湯送下。</p>
<p>脾腎寒濕下注，右膝腫痛，而色不赤，其脈當遲緩而小促，食少輒嘔，中氣之衰，亦已甚矣。此當以和養中氣為要，腫痛姑置勿論。蓋未有中氣不復，而膝得愈者也。</p>
<p>人參　半夏　木瓜　炒粳米　茯苓　廣皮　益智仁</p>
<p>詒按：議論明通。</p>
<p>背脊為督脈所過之處，風冷乘之，脈不得通，則惡寒而痛。法宜通陽。</p>
<p>鹿角霜　白芍　炙草　桂枝　歸身　半夏　生薑　南棗</p>
<p>詒按：方中半夏無所取義。擬再加杜仲、狗脊以通陽。</p>
<p>身痛偏左。血不足，風乘之也。</p>
<p>半夏　秦艽　歸身　廣皮　茯苓　丹參　川斷　炙草</p>
<p>詒按：案只一二句，卻有簡逸之致。</p>
<p>久咳脅痛，不能左側。病在肝，逆在肺，得之情志，難以驟驅。治法不當求肺，而當求肝。</p>
<p>旋覆花　丹皮　桃仁　鬱金　猩絳　甘草　牛膝　白芍</p>
<p>詒按：審證用藥，巧力兼到。擬再加青皮、桑皮、紫蘇、山梔、瓦楞子殼。</p>
<p>脅疼遇春即發，過之即止，此肝病也。春三月肝木司令，肝陽方張，而陰不能從，則其氣有不達之處，故痛。夏秋冬肝氣就衰，與陰適協，故不痛也。</p>
<p>阿膠　白芍　茯苓　丹皮　茜草　炙草　鮑魚湯代水</p>
<p>詒按：樸實說理，絕無躲閃。方用膠、芍、鮑魚，滋肝配陽，亦覺妥貼易施。</p>
<p>風氣乘虛入於腎絡，腰中痛引背脅。宜寄生湯補虛通絡祛風。</p>
<p>生地　歸身　黑大豆　獨活　山藥　白蒺藜　杜仲　炙草　桑寄生</p>
<p>詒按：立方妥貼，層折俱到。</p>
<p>脈數、耳鳴、吐痰，天柱與腰膝痠痛，兩足常冷。病屬陰虧陽升。法當填補實下。</p>
<p>熟地　鹿角霜　菟絲子　山藥　萸肉　杞子　龜板膠</p>

<h2>諸竅門</h2>
<p>風熱蓄於腦髓，發為鼻淵，五年不愈，此壅疾也。壅則宜通，不通則不治。</p>
<p>犀角　蒼耳子　黃芩　鬱金　杏仁　蘆根</p>
<p>詒按：既欲其通，則辛夷、白芷，似不可少。</p>
<p>肺之絡會於耳中，肺受風火，久而不清，竅與絡俱為之閉，所以鼻塞不聞香臭，耳聾耳鳴不聞音聲也。茲當清通肺氣。</p>
<p>蒼耳子　薄荷　桔梗　連翹　辛夷　黃芩　山梔　杏仁　甘草　木通</p>
<p>詒按：語云耳聾治肺，觀此信然。</p>
<p>少陽之脈，循耳外，走耳中。是經有風火，則耳膿而鳴。治宜清散。</p>
<p>薄荷　連翹　甘菊　芍藥　黃芩　刺蒺藜　甘草　木通</p>
<p>詒按：案既老當，方亦清靈。</p>
<p>腎虛齒痛，入暮則發，非風非火，清散無益。</p>
<p>加減八味丸　每服三錢，鹽花湯下。</p>
<p>詒按：立方精到。</p>

<h2>腳氣門</h2>
<p>厥陰之邪，逆攻陽明，始為腫痛，繼而腹疼，胸滿嘔吐。此屬腳氣衝心，非小恙也。擬《外臺》法治之。</p>
<p>犀角　檳榔　茯苓　枳實　杏仁　橘紅　半夏　木通　木瓜</p>
<p>再診：半夏　木瓜　廣皮　蘆根　枳實　茯苓　竹茹　枇杷葉</p>
<p>詒按：腳氣一證，前人歸入類傷寒中，必憎寒壯熱，病與傷寒相似，甚則有衝心之患，故謂之重證。《外臺》有大犀角湯及風引湯，後人有雞鳴散等方，均為專治腳氣之重劑。乃今時所謂腳氣者，則以腳膝痠軟而腫者，謂之濕腳氣，不腫者，謂之乾腳氣，專用防己、木瓜、牛膝、薏米等風濕之藥治之。與前人所稱者，大相徑庭。學者不可不辨。</p>

<h2>遺精門</h2>
<p>遺精無夢，小勞即發，飢不能食，食多即脹，面白唇熱，小便黃赤。此脾家濕熱，流入腎中為遺精，不當徒用補澀之藥，恐積熱日增，致滋他族。</p>
<p>萆薢　砂仁　茯苓　牡蠣　白朮　黃柏　炙草　山藥　生地　豬苓</p>
<p>詒按：此等證，早服補澀，每多愈服愈甚者。先生此案，可謂大聲疾呼。</p>
<p>再診：服藥後遺滑已止，唇熱不除，脾家尚有餘熱故也。</p>
<p>前方去砂仁黃柏　加川連苦參</p>
<p>詒按：唇熱屬脾。</p>
<p>少陰為三陰之樞，內司啟閉，虛則失其常矣。法宜填補少陰。或通或塞，皆非其治。</p>
<p>六味丸去瀉　加菟絲子　沙苑　杞子</p>
<p>詒按：此補腎之平劑，可以常服無弊。</p>
<p>遺精傷腎，氣不收攝，人夜臥著，氣衝上膈，腹脹呼吸不通，竟夕危坐，足跗浮腫清冷，小便漸少。此本實先撥，枝將敗矣，難治之證也。</p>
<p>都氣丸　加牛膝　肉桂</p>
<p>詒按：此陰陽兩損，氣不攝納之重證，舍此竟無良法，然亦未能必效也。</p>
<p>陰虧陽動，內熱夢泄。</p>
<p>六味丸　加黃柏　砂仁</p>
<p>詒按：六味合封髓法也，亦妥貼易施。</p>

<h2>小便門</h2>
<p>兩尺軟弱，根本不固，小便渾濁，病在腎臟，久久不愈，則成下消。</p>
<p>六味丸　加天冬　麥冬　杞子　五味子</p>
<p>詒按：方法穩切。</p>
<p>形偉體豐，脈得小緩。凡陽氣發泄Z之人，外似有餘，內實不足，水穀之氣，不得陽運，釀濕下注，而為濁病，已三四年矣。氣墜宜升陽為法，非比少壯陰火自灼之病。</p>
<p>菟絲子　茴香　車前子　韭子　蒺藜　茯苓　覆盆子　蛇床子　黃魚骨搗丸每服五錢</p>
<p>詒按：此證當以脾土為主。但與溫養下元，尚非潔源清流之道。</p>
<p>又按：此與相火下注者不同，故用藥如是。</p>
<p>煩勞四十餘天，心陽自亢，腎水暗傷，陽墜入陰，故溲數便血，不覺管窒痛痹，實與淋證不同。其中雖不無濕熱，而寢食安然。不必滲泄利濕，宜寧心陽益腎陰，宣通腎氣以和之。</p>
<p>熟地炭　人參　霍石斛　丹皮　澤瀉　茯苓　遠志　柏子仁　湖蓮肉</p>
<p>詒按：此治本之方，由其論病親切，故立方自穩。</p>

<h2>泄瀉門</h2>
<p>惱怒傷中，濕熱乘之，脾氣不運，水穀並趨大腸，而為泄。腹中微疼，脈窒不和，治在中焦。</p>
<p>藿梗　川樸　神麯　澤瀉　茯苓　陳皮　扁豆　木瓜</p>
<p>詒按：此方妙在木瓜一味，兼能疏肝。須知此意，乃識立方選藥之妙。</p>
<p>又按：案中脈窒句，不甚明瞭。</p>

<h2>痢疾門</h2>
<p>暑濕外侵經絡則為瘧，內動腸藏則為痢，而所恃以攘外安內者，則在胃氣。故宜和補之法，勿用攻削之劑，恐邪氣乘虛，盡入於裡也。</p>
<p>詒按：案語殊妙，惜此方之佚也。</p>

<h2>大便門</h2>
<p>氣鬱不行，津枯不澤，飲食少大便難，形瘦脈澀。未可概與通下。宜以養液順氣之劑治之。</p>
<p>生地　當歸　桃仁　紅花　枳殼　麻仁　甘草　杏仁</p>
<p>詒按：此氣阻液枯之證，擬加鮮首烏。</p>
<p>大便閉結，水液旁流，便通則液止矣。</p>
<p>大承氣湯　加甘草</p>
<p>詒按：據吳鞠通之論，用調胃承氣法為穩。</p>
<p>再診：前方加當歸　白芍</p>
<p>三診：改用制軍　加潯桂　厚朴</p>
<p>下血後，大便燥閉不爽，繼而自利，白滑膠黏，日數十行，形衰脈沉。必因久伏水穀之濕。府病宜通，以溫下法。</p>
<p>生茅朮　制軍　熟附子　厚朴</p>
<p>詒按：自利膠滑，有因燥矢不行，氣迫於腸，而脂膏自下者。當專行燥矢，兼養腸液，未可概以濕論也。</p>
<p>脾約者，津液約束不行，不飢不大便。備嘗諸藥，中氣大困。仿古人以食治之法。</p>
<p>黑芝麻　杜蘇子</p>
<p>二味煎濃汁如飴，服三五日，即服人乳一杯，燉溫入薑汁二匙。</p>
<p>詒按：此無法之法也。良工心苦矣。</p>
<p>便血，不獨責虛，亦當責濕，所以滋補無功，而疏利獲益也。茲足痠無力，其濕不但在脾，又及腎矣。當作脾腎濕熱成痹治之。</p>
<p>萆薢　薏仁　白朮　石斛　牛膝　生薑</p>
<p>詒按：案語明確，方亦簡當。</p>
<p>瀉痢便血，五年不愈，色黃心悸，肢體無力。此病始於脾陽不振，繼而脾陰亦傷。治當陰陽兩顧為佳。</p>
<p>人參　白朮　附子　炙草　熟地　阿膠　伏龍肝　黃芩</p>
<p>詒按：此理中合黃土湯法也。方案俱切實不膚。</p>
<p>鼻癢心辣，大便下血，形瘦，脈小而數，已經數年。</p>
<p>黃芩　阿膠　白芍　炙草</p>
<p>詒按：此陰虛而有伏熱之證，方特精簡。</p>

<h2>外瘍門</h2>
<p>肝經液聚氣凝，為項間痰核。病雖在外，其本在內。切不可攻，攻之則愈甚矣。</p>
<p>首烏　象貝　白芍　牛膝　甘草　牡蠣粉　歸身　生地　丹皮</p>
<p>詒按：議論平和，立方清穩。牡蠣粉一味，可以化痰消堅。</p>
<p>瘍證以能食為要。茲先和養胃氣。</p>
<p>石斛　茯苓　益智仁　穀芽　木瓜　廣皮</p>
<p>詒按：案語片言居要，惟用藥嫌少力量。</p>
<p>脈虛細數，陰不足也。鼠漏未愈，熱在大腸。</p>
<p>六味丸　加杞子　天冬　龜板　黃柏　知母　五味子</p>
<p>詒按：此肛門漏也。名為鼠漏，未知所本。脈證已屬損象，故以滋補肝腎為主。</p>

<h2>婦人門</h2>
<p>脾虛生濕，氣為之滯，血為之不守。此與血熱經多者不同。</p>
<p>白朮　澤瀉　白芍　廣皮　炙草　茯苓　牛角腮灰　川芎</p>
<p>詒按：認證既的，藥亦絲絲入筘。</p>
<p>腹滿、足腫、泄瀉。此屬胎水，得之脾虛有濕。</p>
<p>白朮　茯苓　澤瀉　廣皮　厚朴　川芎　蘇葉　姜皮　黃芩</p>
<p>詒按：方案俱老當。</p>
<p>胎前喘咳腫滿，是脾濕不行，上侵於肺，手足太陰病也。治在去濕下氣。</p>
<p>茯苓　陳皮　白芍　澤瀉　厚朴　當歸　蘇梗　杏仁</p>
<p>詒按：方頗靈動，再加紫菀、枇杷葉何如？</p>
<p>產後惡露不行，小腹作痛，漸見足腫面浮喘咳。此血滯於先，水漬於後。宜兼治血水，如甘遂、大黃之例。</p>
<p>紫菀　茯苓　桃仁　牛膝　青皮　杏仁　山楂肉　小川樸　延胡</p>
<p>詒按：用其例而易其藥，因原方太峻也。</p>
<p>再診：瘀血不下，走而上逆。急宜以法引而下之，否則沖逆成厥矣。</p>
<p>歸身　滑石　蒲黃　通草　牛膝　瞿麥　五靈脂　赤芍</p>
<p>三診：膈寬而腹滿。血瘀胞中。宜以緩法下之。</p>
<p>大黃　青皮　炙草　丹皮　桃仁　赤芍　歸身</p>
<p>又丸方：牛膝（一兩）　赤芍　延胡　蒲黃　五靈脂　川芎　桂枝　桃仁（各五錢）　歸尾　丹皮（各八錢）</p>
<p>詒按：迭換四方，一層深一層，次序秩然，恰與病機宛轉相赴。</p>
<p>胎前病子腫，產後四日即大泄，泄已一笑而厥，不省人事，及厥回神清，而左脅前後痛滿，至今三月餘矣。形瘦，脈虛，食少，少腹滿，足腫，小便不利。此脾病傳心，心不受邪，即傳之於肝，肝受病而更傳之於脾也。此為五臟相賊，與六腑食氣水血成脹者不同。所以攻補遞進，而絕無一效也。宜泄肝和脾法治之。</p>
<p>白朮　木瓜　廣皮　椒目　茯苓　白芍</p>
<p>詒按：此等證情，非胸中有古書者，不能道隻字。</p>
