<header data-type="book">
<h1>藥性歌括四百味</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>龔廷賢</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1577/1644">公元1577年至公元1644年</data></dd></div>
</dl>
</header>

<h1>正文</h1>
<p>諸藥之性，各有奇功，溫涼寒熱，補瀉宣通。</p>
<p>君臣佐使，運用於衷，相反畏惡，宜忌不同。</p>
<p>人參味甘，大補元氣，止渴生津，調榮養衛。（去蘆用。反藜蘆。）</p>
<p>黃耆性溫，收汗固表，托瘡生肌，氣虛莫少。（綿軟如箭乾者。瘡瘍生用，補虛蜜水炒用。）</p>
<p>白朮甘溫，健脾強胃，止瀉除濕，兼祛痰痞。（去蘆。淘米泔水洗，薄切曬乾，或陳東壁土炒。）</p>
<p>茯苓味淡，滲濕利竅。白化痰涎，赤通水道。（去黑皮。中有赤筋要去淨，不損人目。）</p>
<p>甘草甘溫，調和諸藥。炙則溫中，生則瀉火。（一名國老。能解百毒。反甘遂、海藻、大戟、芫花。）</p>
<p>當歸甘溫，生血補心，扶虛益損，逐瘀生新。（酒浸，洗淨切片。體肥痰盛，薑汁浸曬。身養血，尾破血，全活血。）</p>
<p>白芍酸寒，能收能補，瀉痢腹痛，虛寒勿與。（有生用者，有酒炒用者。）</p>
<p>赤芍酸寒，能瀉能散，破血通經，產後勿犯。（宜生用。）</p>
<p>生地微寒，能消濕熱，骨蒸煩勞，兼消破血。（一名苄，音戶產懷慶府者佳。宜酒洗，竹刀切片曬乾。）</p>
<p>熟地微溫，滋腎補血，益髓填精，烏須黑髮。（用懷慶生地黃，酒拌蒸至黑色，竹刀切片，勿犯鐵器。忌蘿蔔、蔥、蒜。用薑汁炒，除膈悶。）</p>
<p>麥門甘寒，解渴祛煩，補心清肺，虛熱自安。（水浸，去心用，不令人煩。）</p>
<p>天門甘寒，能治肺癰，消痰止嗽，喘熱有功。（水浸，去心皮。）</p>
<p>黃連味苦，瀉心除痞，清熱明眸，厚腸止痢。（去須。下火，童便。痰火，薑汁。伏火，鹽湯。氣滯火，吳萸。肝膽火，豬膽。實火，朴硝。虛火，酒炒。）</p>
<p>黃芩苦寒，枯瀉肺火，子清大腸，濕熱皆可。（去皮枯朽。或生，或酒泡。）</p>
<p>黃柏苦寒，降火滋陰，骨蒸濕熱，下血堪任。（去粗皮。或生，或酒，或蜜，或童便，或乳汁炒。一名黃柏。）</p>
<p>梔子性寒，解鬱除煩，吐衄胃痛，火降小便。（生用清三焦實火，炒黑清三焦鬱熱，又能清曲屈之火。）</p>
<p>連翹苦寒，能消癰毒，氣聚血凝，濕熱堪逐。（去梗心。）</p>
<p>石膏大寒，能瀉胃火，發渴頭疼，解肌立妥。（或生，或煅。一名解石。）</p>
<p>滑石沉寒，滑能利竅，解渴除煩，濕熱可療。（細膩潔白者佳，粗紋青黑者勿用。研末，以水飛過。）</p>
<p>貝母微寒，止嗽化痰，肺癰肺痿，開鬱除煩。（去心。黃白色輕鬆者佳。）</p>
<p>大黃苦寒，實熱積聚，蠲痰潤燥，疏通便閉。</p>
<p>柴胡味苦，能瀉肝火，寒熱往來，瘧疾均可。（去蘆。要北者佳。）</p>
<p>前胡微寒，寧嗽化痰，寒熱頭痛，痞悶能安。（去蘆。要軟者佳。）</p>
<p>升麻性寒，清胃解毒，升提下陷，牙痛可逐。（去須。青緣者佳。）</p>
<p>桔梗味苦，療咽腫痛，載藥上升，開胸利壅。（去蘆。潔白者佳。）</p>
<p>紫蘇葉辛，風寒發表。梗下諸氣，消除脹滿。（葉背面並紫者佳。）</p>
<p>麻黃味辛，解表出汗，身熱頭痛，風寒發散。（去根節，宜陳久。止汗用根。）</p>
<p>葛根味甘，祛風發散，溫瘧往來，止渴解酒。（白粉者佳。）</p>
<p>薄荷味辛，最清頭目，祛風化痰，骨蒸宜服。（一名雞蘇。龍腦者佳。辛香通竅而散風熱。）</p>
<p>防風甘溫，能除頭暈，骨節痹疼，諸風口噤。（去蘆。）</p>
<p>荊芥味辛，能清頭目，表汗祛風，治瘡消瘀。（一名假蘇。）</p>
<p>細辛辛溫，少陰頭痛，利竅通關，風濕皆用。（華陰者佳。反藜蘆。能發少陰之汗。）</p>
<p>羌活微溫，祛風除濕，身痛頭疼，舒筋活血。（一名羌青。目赤亦要。）</p>
<p>獨活辛苦，頸項難舒，兩足濕痹，諸風能除。（一名獨搖草。）</p>
<p>知母味苦，熱渴能除，骨蒸有汗，痰咳皆舒。（去皮毛。生用瀉胃火，酒炒瀉腎火。）</p>
<p>白芷辛溫，陽明頭痛，風熱瘙癢，排膿通用。（一名芳香。可作面脂。）</p>
<p>藁本氣溫，除頭巔頂，寒濕可祛，風邪可屏。（去蘆。）</p>
<p>香附辛苦，快氣開鬱，止痛調經，更消宿食。（即莎草根。忌鐵器。）</p>
<p>烏藥辛溫，心腹脹痛，小便滑數，順氣通用。（一名旁其，一名天台烏。）</p>
<p>枳實味苦，消食除痞，破積化痰，沖牆倒壁。（如龍眼，色黑，陳者佳。水浸去穰，切片麩炒。）</p>
<p>枳殼微溫，快氣寬腸，胸中氣結，脹滿堪嘗。（水浸去穰，切片麩炒。）</p>
<p>白蔻辛溫，能祛瘴翳，益氣調元，止嘔和胃。（去殼取仁。）</p>
<p>青皮苦溫，能攻氣滯，削堅平肝，安胃下食。（水浸去穰，切片。）</p>
<p>橘皮苦溫，順氣寬膈，留白和胃，消痰去白。（溫水略洗，刮去穰。又名陳皮。）</p>
<p>蒼朮苦溫，健脾燥濕，發汗寬中，更祛瘴疫。（米泔水浸透，搓去黑皮，切片炒。）</p>
<p>厚朴苦溫，消脹泄滿，痰氣瀉痢，其功不緩。（要厚如紫瑩者佳。去粗皮，薑汁炒。）</p>
<p>南星性熱，能治風痰，破傷強直，風搐自安。（薑湯泡透，切片用。或為末裝入牛膽內，名曰牛膽南星。）</p>
<p>半夏味辛，健脾燥濕，痰厥頭疼，嗽嘔堪入。（一名守田，反烏頭，滾水泡透，切片，薑汁炒。）</p>
<p>藿香辛溫，能止嘔吐，發散風寒，霍亂為主。（或用葉，或用梗，或梗葉兼用。）</p>
<p>檳榔辛溫，破氣殺蟲，祛痰逐水，專除後重。（如雞心者佳。）</p>
<p>腹皮微溫，能下膈氣，安胃健脾，浮腫消去。（多有鴆糞毒，用黑豆湯洗淨。）</p>
<p>香薷味辛，傷暑便澀，霍亂水腫，除煩解熱。（陳久者佳。）</p>
<p>扁豆微溫，轉筋吐瀉，下氣和中，酒毒能化。（微炒。）</p>
<p>豬苓味淡，利水通淋，消腫除濕，多服損腎。（削去黑皮，切片。）</p>
<p>澤瀉甘寒，消腫止渴，除濕通淋，陰汗自遏。（去尾。）</p>
<p>木通性寒，小腸熱閉，利竅通經，最能導滯。（去皮，切片。）</p>
<p>車前子寒，溺澀眼赤，小便能通，大便能實。（去殼。）</p>
<p>地骨皮寒，解肌退熱，有汗骨蒸，強陰涼血。（去骨。）</p>
<p>木瓜味酸，濕腫腳氣，霍亂轉筋，足膝無力。（酒洗。）</p>
<p>威靈苦溫，腰膝冷痛，消痰痃癖，風濕皆用。（去蘆，酒洗。）</p>
<p>牡丹苦寒，破血通經，血分有熱，無汗骨蒸。（去骨。）</p>
<p>玄參苦寒，清無根火，消腫骨蒸，補腎亦可。（紫黑者佳。反藜蘆。）</p>
<p>沙參甘苦，消腫排膿，補肝益肺，退熱除風。（去蘆。反藜蘆。）</p>
<p>丹參味苦，破積調經，生新去惡，祛除帶崩。（反藜蘆。）</p>
<p>苦參味苦，癰腫瘡疥，下血腸風，眉脫赤癩。（反藜蘆。）</p>
<p>龍膽苦寒，療眼赤疼，下焦濕腫，肝經熱煩。</p>
<p>五加皮溫，祛痛風痹，健步堅筋，益精止瀝。</p>
<p>防己氣寒，風濕腳痛，熱積膀胱，消癰散腫。</p>
<p>地榆沉寒，血熱堪用，血痢帶崩，金瘡止痛。（如虛寒水瀉，切宜忌之。）</p>
<p>茯神補心，善鎮驚悸，恍惚健忘，兼除怒恚。（去皮。）</p>
<p>遠志氣溫，能驅驚悸，安神鎮心，令人多記。（甘草湯浸一宿，去骨曬乾。）</p>
<p>酸棗味酸，斂汗驅煩。多眠用生，不眠用炒。（去核取仁。）</p>
<p>菖蒲性溫，開心利竅，去痹除風，出聲至妙。（去毛。一寸九節者佳。忌鐵器。）</p>
<p>柏子味甘，補心益氣，斂汗潤腸，更療驚悸。（去殼取仁。即柏實。）</p>
<p>益智辛溫，安神益氣，遺溺遺精，嘔逆皆治。（去殼取仁，研碎。）</p>
<p>甘松味香，善除惡氣，開鬱醒脾，心腹痛已。</p>
<p>小茴性溫，能除疝氣，腹痛腰疼，調中暖胃。（鹽水炒。）</p>
<p>大茴味辛，疝氣腳氣，腫痛膀胱，止嘔開胃。（即蘹香子。）</p>
<p>乾薑味辛，表解風寒。炮苦逐冷，虛熱尤堪。（紙包水浸，慢火煨至極黑，亦有生用者。）</p>
<p>附子辛熱，性走不守，四肢厥冷，回陽功有。（皮黑，頭正圓，一兩一枚者佳。麵裹火煨，去皮臍，童便浸一宿，慢火煮，曬乾密封，旋切片用，亦有該生用者。）</p>
<p>川烏大熱，搜風入骨，濕痹寒疼，破積之物。（頂歪斜。制同附子。）</p>
<p>木香微溫，散滯和胃，諸風能調，行肝瀉肺。（形如枯木，苦口黏牙者佳。）</p>
<p>沉香降氣，暖胃追邪，通天徹地，衛氣為佳。</p>
<p>丁香辛熱，能除寒嘔，心腹疼痛，溫胃可曉。（雄丁香如釘子長，雌丁香如棗核大。）</p>
<p>砂仁性溫，養胃進食，止痛安胎，通經破滯。（去殼取仁。）</p>
<p>畢澄茄辛，除脹化食，消痰止噦，逐寒暖胃。（系嫩胡椒，青時摘取者是。）</p>
<p>肉桂辛熱，善通血脈，腹痛虛寒，溫補可得。（去粗皮，不見火。妊娠用要炒黑。厚者肉桂，薄者官桂。）</p>
<p>桂枝小梗，橫行手臂，止汗舒筋，治手足痹。</p>
<p>吳萸辛熱，能調疝氣，心腹寒疼，酸水能治。（去梗，湯泡微炒。）</p>
<p>延胡氣溫，心腹卒痛，通經活血，跌撲血崩。（即玄胡索。）</p>
<p>薏苡味甘，專除濕痹，筋節拘攣，肺癰肺痿。（一名穿穀米。去殼取仁。）</p>
<p>肉蔻辛溫，脾胃虛冷，瀉痢不休，功可立等。（一名肉果。麵包煨熟，切片，紙包捶去油。）</p>
<p>草蔻辛溫，治寒犯胃，作痛嘔吐，不食能食。（建寧有淡紅花內白色子者是真。）</p>
<p>訶子味苦，澀腸止痢，痰嗽喘急，降火斂肺。（又名訶黎勒。六稜黑色者佳。火煨去核。）</p>
<p>草果味辛，消食除脹，截瘧逐痰，解瘟闢瘴。（去殼取仁。）</p>
<p>常山苦寒，截瘧除痰，解傷寒熱，水脹能寬。（酒浸切片。）</p>
<p>良薑性熱，下氣溫中，轉筋霍亂，酒食能攻。（結實秋收名紅豆蔻。善解酒毒，余治同。）</p>
<p>山查味甘，磨消肉食，療疝催瘡，消膨健胃。（一名糖球子，俗呼山裡紅。蒸，去核用。）</p>
<p>神麯味甘，開胃進食，破積逐痰，調中下氣。（炒黃色。）</p>
<p>麥芽甘溫，能消宿食，心腹膨脹，行血散滯。（炒。孕婦勿用，恐墮胎元。）</p>
<p>蘇子味辛，驅痰降氣，止咳定喘，更潤心肺。</p>
<p>白芥子辛，專化脅痰，瘧蒸痞塊，服之能安。（微炒。）</p>
<p>甘遂苦寒，破症消痰，面浮蠱脹，利水能安。（反甘草。）</p>
<p>大戟苦寒，消水利便，腹脹症堅，其功瞑眩。（反甘草。）</p>
<p>芫花寒苦，能消脹蠱，利水瀉濕，止咳痰吐。（反甘草。）</p>
<p>商陸苦寒，赤白各異。赤者消風，白利水氣。（一名章柳。）</p>
<p>海藻鹹寒，消癭散癧，除脹破症，利水通閉。（粵海帶、昆布，散結潰堅功同。反甘草。）</p>
<p>牽牛苦寒，利水消腫，蠱脹痃癖，散滯除壅。（黑者屬水力速，白者屬金力遲。並取頭末用。）</p>
<p>葶藶辛苦，利水消腫，痰咳癥瘕，治喘肺癰。（隔紙略炒。）</p>
<p>瞿麥苦寒，專治淋病，清熱破血，通經立應。</p>
<p>三稜味苦，利血消癖，氣滯作痛，虛者當忌。（去毛，火煅切片，醋炒。）</p>
<p>五靈味甘，血痢腹痛。止血用炒，行血用生。</p>
<p>莪朮溫苦，善破痃癖，止痛消瘀，通經最宜。（去根。火煨切片，醋炒。）</p>
<p>乾漆辛溫，通經破瘕，追積殺蟲，效如奔馬。（搗，炒令煙盡，生則損人腸胃。）</p>
<p>蒲黃味甘，逐瘀止崩。補血須炒，破血用生。</p>
<p>蘇木甘鹹，能行積血，產後月經，兼治撲跌。</p>
<p>桃仁甘平，能潤大腸，通經破瘀，血瘕堪嘗。（湯浸，去皮尖，研如泥。）</p>
<p>薑黃味辛，消癰破血，心腹結痛，下氣最捷。</p>
<p>鬱金味苦，破血生肌，血淋溺血，鬱結能舒。</p>
<p>金銀花甘，療癰無對，未成則散，已成則潰。（一名忍冬，一名鷺絲藤，一名金釵股，一名老翁須。）</p>
<p>漏蘆性寒，去惡瘡毒，補血排膿，生肌長肉。（一名野蘭。）</p>
<p>蒺藜味苦，療瘡瘙癢，白癜頭瘡，翳除目朗。</p>
<p>白芨味苦，功專收斂，腫毒瘡瘍，外科最善。</p>
<p>蛇床辛苦，下氣溫中，惡瘡疥癩，逐瘀祛風。</p>
<p>天麻味甘，能驅頭眩，小兒驚癇，拘攣癱瘓。</p>
<p>白附辛溫，治面瘢疵，血痹風瘡，中風痰濕。</p>
<p>全蠍味辛，卻風痰毒，口眼喎斜，風癇發搐。（去毒。）</p>
<p>蟬蛻甘寒，消風定驚，殺疳除熱，退翳侵睛。</p>
<p>殭蠶味鹹，諸風驚癇，濕痰喉痹，瘡毒瘢痕。（去絲，酒炒。）</p>
<p>蜈蚣味辛，蛇虺惡毒，止痙除邪，祛風逐瘀。（頭足赤者佳。炙黃，去頭足用。）</p>
<p>木鱉甘寒，能追瘡毒，乳癰腰疼，消腫最速。</p>
<p>蜂房鹹苦，驚癇瘛瘲，牙疼腫毒，瘰癧乳癰。</p>
<p>花蛇溫毒，癱瘓喎斜，大風疥癩，諸毒稱佳。（口有四撩牙，頭戴二十四朵花，尾上有似指甲者是。出蘄州者佳。）</p>
<p>蛇蛻辟惡，能除翳膜，腸痔蠱毒，驚癇搐搦。</p>
<p>槐花味苦，痔漏腸風，大腸熱痢，更殺蛔蟲。</p>
<p>鼠黏子辛，能除瘡毒，癮疹風熱，咽疼可逐。（一名牛蒡子，一名大力子，一名惡實。）</p>
<p>茵陳味苦，退疸除黃，瀉濕利水，清熱為涼。</p>
<p>紅花辛溫，最消瘀熱，多則通經，少則養血。</p>
<p>蔓荊子苦，頭疼能治，拘攣濕痹，淚眼堪除。</p>
<p>兜鈴苦寒，能熏痔漏，定喘消痰，肺熱久嗽。（去膈膜。根名青木香，散氣。）</p>
<p>百合味甘，安心定膽，止嗽消浮，癰疽可啖。</p>
<p>秦艽微寒，除濕榮筋，肢節風痛，下血骨蒸。（新好羅紋者佳。）</p>
<p>紫菀苦辛，痰喘咳逆，肺癰吐膿，寒熱並濟。（去蘆。）</p>
<p>款花甘溫，理肺消痰，肺癰喘咳，補勞除煩。（要嫩蕊，去幹。）</p>
<p>金沸草溫，消痰止嗽，明目祛風，逐水尤妙。（一名旋覆花，一名金錢花。）</p>
<p>桑皮甘辛，止嗽定喘，瀉肺火邪，其功不淺。（風寒新嗽生用，虛勞久嗽蜜水炒用。去紅皮。）</p>
<p>杏仁溫苦，風寒喘嗽，大腸氣閉，便難切要。（單仁者泡去皮尖，麩炒入藥。雙仁者有毒，殺人，勿用。）</p>
<p>烏梅酸溫，收斂肺氣，止渴生津，能安瀉痢。</p>
<p>天花粉寒，止渴祛煩，排膿消毒，善除熱痢。</p>
<p>瓜蔞仁寒，寧嗽化痰，傷寒結胸，解渴止煩。（去殼用仁。重紙包，磚壓去油用。）</p>
<p>密蒙花甘，主能明目，虛翳青盲，服之效速。（酒洗，蒸過曬乾。）</p>
<p>菊花味甘，除熱祛風，頭暈目赤，收淚殊功。（家園內味甘黃小者佳。去梗。）</p>
<p>木賊味甘，疏肝退翳，能止月經，更消積聚。</p>
<p>決明子甘，能祛肝熱，目疼收淚，仍止鼻血。</p>
<p>犀角酸寒，化毒辟邪，解熱止血，消腫毒蛇。</p>
<p>羚羊角寒，明目清肝，卻驚解毒，神志能安。</p>
<p>龜甲味甘，滋陰補腎，逐瘀續筋，更醫顱囟。（即敗龜板。）</p>
<p>鱉甲鹹平，勞嗽骨蒸，散瘀消腫，去痞除崩。（去裙，蘸醋炙黃。）</p>
<p>海蛤味鹹，清熱化痰，胸痛水腫，堅軟結散。</p>
<p>桑上寄生，風濕腰痛，安胎止崩，瘡瘍亦用。</p>
<p>火麻味甘，下乳催生，潤腸通結，小水能行。（微炒，磚擦去殼，取仁。）</p>
<p>山豆根苦，療咽腫痛，敷蛇蟲傷，可救急用。（俗名金鎖匙。）</p>
<p>益母辛苦，女科為主，產後胎前，生新去瘀。（一名茺蔚子。）</p>
<p>紫草苦寒，能通九竅，利水消膨，痘疹最要。</p>
<p>紫葳味酸，調經止痛，崩中帶下，癥瘕通用。（即凌霄花。）</p>
<p>地膚子寒，去膀胱熱，皮膚瘙癢，除熱甚捷。（一名鐵掃帚子。）</p>
<p>楝根性寒，能追諸蟲，疼痛立止，積聚立通。</p>
<p>樗根味苦，瀉痢帶崩，腸風痔漏，燥濕澀精。（去粗皮，取二層白皮切片，酒炒。）</p>
<p>澤蘭甘苦，癰腫能消。打撲傷損，肢體虛浮。</p>
<p>牙皂味辛，通關利竅，敷腫痛消，吐風痰妙。（去弦、子、粗皮。不蛀者佳。）</p>
<p>蕪荑味辛，驅邪殺蟲，痔癭癬疥，化食除風。（火煅用。）</p>
<p>雷丸味苦，善殺諸蟲，癲癇蠱毒，治兒有功。（赤者殺人，白者佳。甘草煎水泡一宿。）</p>
<p>胡麻仁甘，疔腫惡瘡，熟補虛損，筋壯力強。（一名巨勝。黑者佳。）</p>
<p>蒼耳子苦，疥癬細瘡，驅風濕痹，瘙癢堪嘗。（一名枲耳。實多刺。）</p>
<p>蕤仁味甘，風腫爛弦，熱脹胬肉，眼淚立痊。</p>
<p>青葙子苦，肝臟熱毒，暴發赤障，青盲可服。</p>
<p>穀精草辛，牙齒風痛，口瘡咽痹，眼翳通用。（一名戴星草。）</p>
<p>白薇大寒，療風治瘧，人事不知，熱邪堪卻。</p>
<p>白蘞微寒，兒瘧驚癇，女陰腫痛，癰疔可啖。</p>
<p>青蒿氣寒，治瘧效好，虛熱盜汗，除骨蒸勞。</p>
<p>茅根味甘，通關逐瘀，止吐衄血，客熱可去。</p>
<p>大小薊苦，消腫破血，吐衄咯唾，崩漏可啜。</p>
<p>枇杷葉苦，偏理肺臟，吐噦不已，解酒清上。（布拭去毛。）</p>
<p>木律大寒，口齒良藥，瘰癧能治，心煩可卻。（一名胡桐淚。）</p>
<p>射干味苦，逐瘀通經，喉痹口臭，癰毒堪憑。（一名烏翣根。）</p>
<p>鬼箭羽苦，通經活絡，驅邪止痛，殺蟲祛結。（一名衛矛。）</p>
<p>夏枯草苦，瘰癧癭瘤，破症散結，濕痹能瘳。（冬至發生，夏至枯瘁。）</p>
<p>卷柏味辛，癥瘕血閉，風眩痿躄，脫肛下血。</p>
<p>馬鞭味苦，破血通經，癥瘕痞塊，服之最靈。</p>
<p>鶴蝨味苦，殺蟲追毒，心腹卒痛，蛇蟲堪逐。</p>
<p>白頭翁寒，清熱涼血，癭癧瘡疝，止痛百節。</p>
<p>旱蓮草甘，生須黑髮，赤痢可止，血流可截。</p>
<p>慈菇辛苦，疔腫癰疽，惡瘡癮疹，蛇虺並施。</p>
<p>榆皮味甘，通水除淋，能利關節，敷腫痛定。（取裡面白皮。切片曬乾。）</p>
<p>鉤藤微寒，療兒驚癇，手足瘛瘲，抽搐口眼。（苗類釣鉤，故名鉤藤。）</p>
<p>豨薟味甘，追風除濕，聰耳明目，烏須黑髮。（蜜同酒浸，九曬為丸服。）</p>
<p>葵花味甘，帶痢兩功。赤治赤者，白治白同。</p>
<p>辛夷味辛，鼻塞流涕，香臭不聞，通竅之劑。（去心毛。）</p>
<p>續隨子辛，惡瘡蠱毒，通經消積，不可過服。（一名千金子，一名拒冬實。去皮殼，取仁，紙包壓去油。）</p>
<p>海桐皮苦，霍亂久痢，疳䘌疥癬，牙疼亦治。</p>
<p>石南藤辛，腎衰腳弱，風淫濕痹，堪為妙藥。（一名鬼目。）</p>
<p>鬼臼有毒，闢瘟除惡，殺蟲驅蠱，風邪煩惑。</p>
<p>大青氣寒，傷寒熱毒，黃汗黃疸，時疫宜服。</p>
<p>側柏葉苦，吐衄崩痢，能生鬚眉，除濕之劑。</p>
<p>槐實味苦，陰瘡癢濕，五痔腫疼，瀉熱涼血。（即槐角黑子也。）</p>
<p>瓦楞子咸，婦人血塊，男子痰癖，癥瘕可瘥。（即蚶子殼。火煅醋淬。）</p>
<p>棕櫚子苦，禁泄澀痢，帶下崩中，腸風堪治。</p>
<p>冬葵　子寒，滑胎易產，癃利小便，善通乳難。（即葵菜子。）</p>
<p>淫羊藿辛，陰起陽興，堅筋益骨，志強力增。（即仙靈脾，俗呼三枝九葉草也。）</p>
<p>松脂味甘，滋陰補陰，驅風安臟，膏可貼瘡。（一名瀝青。即松香。）</p>
<p>覆盆子甘，腎損精竭，黑鬚明眸，補虛續絕。（去蒂。）</p>
<p>合歡味甘，利人心智，安臟明目，快樂無慮。（即交枝樹。）</p>
<p>金櫻酸澀，夢遺精滑，禁止遺尿，寸白蟲殺。（霜後紅熟者佳。去核用。）</p>
<p>楮實味甘，壯筋明目，益氣補虛，陰痿當服。</p>
<p>郁李仁酸，破血潤燥，退腫利便，關格通導。（碎核取仁，湯泡去皮，研碎。）</p>
<p>沒食子苦，益血生精，染須最妙，禁痢極靈。（即無食子。）</p>
<p>空青氣寒，治眼通靈，青盲赤腫，去暗回明。</p>
<p>密陀僧咸，止痢醫痔，能除白瘢，諸瘡可治。（即金爐底。）</p>
<p>伏龍肝溫，治疫安胎，嘔吐咳逆，下血心煩。（即灶心土。取年深色變褐者佳。）</p>
<p>石灰味辛，性烈有毒，闢蟲立死，能去瘜肉。（陳久者佳。）</p>
<p>穿山甲毒，痔癖惡瘡，吹奶腫痛，通經排膿。（俗呼炮甲。用砂炒醋淬。）</p>
<p>蚯蚓氣寒，傷寒瘟病，大熱狂言，投之立應。</p>
<p>蜘蛛氣寒，狐疝偏病，蛇虺咬塗，疔腫敷用。（腹大黑色者佳。）</p>
<p>蟾蜍氣涼，殺疳蝕癖，瘟疫能治，瘡毒可祛。</p>
<p>刺蝟皮苦，主醫五痔，陰腫疝痛，能開胃氣。</p>
<p>蛤蚧味鹹，肺痿咯血，傳屍勞疰，納氣定喘。</p>
<p>螻蛄味鹹，治十水腫，上下左右，效不旋踵。（俗呼土狗，蟲類。）</p>
<p>蝸牛味鹹，口眼喎僻，驚癇拘攣，脫肛咸治。</p>
<p>桑螵蛸咸，淋濁精泄，除疝腰疼，虛損莫缺。（即螳螂種。）</p>
<p>田螺性冷，利大小便，消腫除熱，醒酒立見。（濁酒煮熟，挑肉食之。）</p>
<p>象牙氣平，雜物刺喉，能通小便，諸瘡可瘳。</p>
<p>水蛭味鹹，除積瘀堅，通經破血，折傷可痊。（一名螞蝗。）</p>
<p>貝子味鹹，解肌散結，利水消腫，目翳清潔。</p>
<p>蛤蜊肉冷，能止消渴，酒毒堪除，開胃頓豁。</p>
<p>海粉味鹹，大治頑痰，婦人白帶，咸能軟堅。（即海石。火煅研。如無，以蛤粉代之。）</p>
<p>石蟹味鹹，點目腫翳，解蠱脹毒，催生落地。</p>
<p>海螵蛸咸，漏下赤白，癥瘕疝氣，陰腫可得。（一名烏賊魚骨。）</p>
<p>無名異甘，金瘡折損，去瘀止痛，生肌有準。</p>
<p>青礞石寒，硝煅金色，墜痰消食，奇妙莫測。（用焰硝同入鍋內，火煅如金色者佳。）</p>
<p>磁石味鹹，鐵毒能殺，鎮驚安神，陽潛氣納。（即吸鐵石。）</p>
<p>花蕊石寒，善止諸血，金瘡血流，產後血湧。（火煅研。）</p>
<p>代赭石寒，下胎崩帶，兒疳瀉痢，鎮逆定癇。（火煅用。）</p>
<p>黑鉛味甘，止嘔反胃，癭瘤蟲聚，安神定志。</p>
<p>銀屑味辛，譫語恍惚，定志養神，鎮心明目。</p>
<p>金屑味甘，善解熱毒，癲狂驚癇，調和血脈。</p>
<p>狗脊味甘，酒蒸入劑，腰背膝痛，風寒濕痹。（根類金毛狗脊。）</p>
<p>骨碎補溫，折傷骨節，風血積疼，最能破血。（去毛。即猴姜。）</p>
<p>茜草味苦，蠱毒吐血，經帶崩漏，損傷虛熱。</p>
<p>預知子貴，治一切風，痃癖氣塊，消食殺蟲。</p>
<p>留行子苦，調經催產，除風痹痙，乳癰當啖。（即剪金子花。取酒蒸，火焙。）</p>
<p>狼毒味辛，破積瘕症，惡瘡鼠瘻。毒殺痛定。</p>
<p>藜蘆味辛，最能發吐，腸澼瀉痢，殺蟲消蠱。（取根去頭用。川黃連為使，惡大黃，畏蔥白，反芍藥、細辛、人參、沙參、玄參、苦參、丹參，切忽同用。）</p>
<p>蓖麻子辛，吸出滯物，塗頂腸收，塗足胎出。（去殼取仁。）</p>
<p>蓽撥味辛，溫中下氣，痃癖陰疝，霍亂瀉痢。</p>
<p>百部味甘，骨蒸勞瘵，殺疳蛔蟲，久嗽功大。</p>
<p>京墨味辛，吐衄下血，產後崩中，止血甚捷。</p>
<p>黃荊子苦，善治咳逆，骨節寒熱，能下肺氣。（又名荊實。）</p>
<p>女貞實苦，黑髮烏須，強筋壯力，去風補虛。（一名冬青子。）</p>
<p>瓜蒂苦寒，善能吐痰，消身腫脹，並治黃疸。（即北方甜瓜蒂也。一名苦丁香。散用則吐，丸用則瀉。）</p>
<p>粟殼性澀，泄痢嗽怯，脘腹疼痛，服之即除。（不可輕用。蜜水炒。）</p>
<p>巴豆辛熱，除胃寒積，破症消痰，大能通痢。（一名江子，一名巴椒。反牽牛。去角。看症制用。）</p>
<p>夜明砂糞，能下死胎，小兒無辜，瘰癧堪裁。（一名伏翼糞，一名蝙蝠屎。）</p>
<p>斑蝥有毒，破血通經，諸瘡瘰癧，水道能行。（去頭翅足，糯米炒用。）</p>
<p>蠶沙性溫，濕痹癮疹，癱風腸鳴，消渴可飲。</p>
<p>胡黃連苦，治勞骨蒸，小兒疳痢，盜汗虛驚。（折斷一線煙出者佳。忌豬肉。）</p>
<p>使君甘溫，消疳消濁，瀉痢諸蟲，總能除卻。（微火煨，去殼取仁。）</p>
<p>赤石脂溫，保固腸胃，潰瘍生肌，澀精瀉痢。（色赤黏舌為良。火煅醋淬，研碎。）</p>
<p>青黛鹹寒，能平肝木，驚癇疳痢，兼除熱毒。（即靛花。）</p>
<p>阿膠甘溫，止咳膿血，吐血胎崩，虛羸可啜。（要阿井者佳，蛤粉炒成珠。）</p>
<p>白礬味酸，化痰解毒，燥濕殺蟲，止癢止血。（火煅過名枯礬。）</p>
<p>五倍苦酸，療齒疳䘌，痔癰瘡膿，兼除風熱。（一名文蛤，一名百蟲倉。百藥煎即此造成。）</p>
<p>玄明粉辛，能蠲宿垢，化積消痰，諸熱可療。（用朴硝以蘿蔔同制過者是。）</p>
<p>通草味甘，善治膀胱，消癰散腫，能醫乳房。</p>
<p>枸杞甘溫，添精補髓，明目祛風，陰興陽起。（紫熟味甘膏潤者佳。去枝蒂。）</p>
<p>黃精味甘，能安臟腑，五勞七傷，此藥大補。（與鉤吻略同，切勿誤用。洗淨，九蒸九曬。）</p>
<p>何首烏甘，種子添精，黑髮悅顏，補血養陰。（赤白兼用。泔浸過一宿搗碎。）</p>
<p>五味酸溫，生津止渴，久嗽虛勞，金水枯竭。（風寒咳嗽者用南，虛損勞傷者用北。去梗。）</p>
<p>山茱萸溫，澀精益髓，腎虛耳鳴，腰膝痛止。（酒蒸，去核取肉。其核勿用為要，恐其滑精難治。）</p>
<p>石斛味甘，卻驚定志，壯骨補虛，善驅冷痹。（去根。如金色者佳。）</p>
<p>破故紙溫，腰膝痠痛，興陽固精，鹽酒炒用。（一名補骨脂。或鹽水炒，或酒洗。）</p>
<p>薯蕷甘溫，理脾止瀉，益腎補中，諸虛可治。（一名山藥，一名山芋。懷慶者佳。）</p>
<p>蓯蓉味甘，峻補精血，若驟用之，更動便滑。（酒洗，去鱗用。除心內膜筋。）</p>
<p>菟絲甘平，夢遺滑精，腰痛膝冷，添髓壯筋。（水洗淨，熱酒砂罐燉爛，搗碎曬乾，合藥同磨末為丸，不堪作湯。）</p>
<p>牛膝味苦，除濕痹痿，腰膝痠疼，小便淋瀝。（懷慶者佳。去蘆酒洗。）</p>
<p>巴戟辛甘，大補虛損，精滑夢遺，強筋固本。（肉厚連珠者佳。酒浸過宿，治去滑，曬乾。俗名二蔓草。）</p>
<p>仙茅味辛，腰足攣痹，虛損勞傷，陽道興起。</p>
<p>牡蠣微寒，澀精止汗。崩帶脅痛，老痰祛散。（左顧大者佳。火煅紅研。）</p>
<p>楝子苦寒，膀胱疝氣，中濕傷寒，利水之劑。（即金鈴子。酒浸蒸，去皮核。）</p>
<p>萆薢甘苦，風寒濕痹，腰背冷痛，添精益氣。（白者為佳。酒浸切片。）</p>
<p>寄生甘苦，腰痛頑麻，續筋堅骨，風濕尤佳。（要桑寄生。）</p>
<p>續斷味辛，接骨續筋，跌撲折損，且固遺精。（酒洗切片。如雞腳者佳。）</p>
<p>龍骨味甘，夢遺精泄，崩帶腸癰，驚癇風熱。（火煅。）</p>
<p>人之頭髮，補陰甚捷，吐衄血暈，風驚癇熱。（一名血餘。）</p>
<p>雀卵氣溫，善扶陽痿，可致堅強，當能固閉。</p>
<p>鹿茸甘溫，益氣滋陰，泄精尿血，崩帶堪任。（燎去毛。或酒，或酥炙令脆。）</p>
<p>鹿角膠溫，吐衄虛羸，跌撲傷損，崩帶安胎。</p>
<p>膃肭臍熱，補益元陽，驅邪辟毒，痃癖勞傷。（酒浸，微炙令香。）</p>
<p>紫河車甘，療諸虛損，勞瘵骨蒸，滋培根本。（一名混沌皮，一名混元衣，即人之胞衣也。以長流水洗淨，或新瓦烘乾，或甑蒸風乾。忌鐵器。）</p>
<p>楓香味辛，外科要藥，瘙瘡癮疹，齒痛亦可。（一名白膠香）</p>
<p>檀香味辛，開胃進食，霍亂腹痛，理氣散寒。</p>
<p>安息香辛，辟邪驅惡，祛痰消蠱，鬼胎能落。（黑黃色，燒香。）</p>
<p>蘇合香甘，開竅誅惡，蠱毒癇痓，祛痰解鬱。</p>
<p>熊膽味苦，熱蒸黃疸，惡瘡蟲痔，五疳驚癇。</p>
<p>硇砂有毒，潰癰爛肉，除翳生肌，破症消毒。（水飛，去土石。生用敗肉，火煅可用。）</p>
<p>硼砂味辛，療喉腫痛，膈上熱痰，噙化立中。（大塊光瑩者佳。）</p>
<p>硃砂味甘，鎮心養神，驚癇癲狂，眠安目明。（生餌無害，煉服殺人。）</p>
<p>硫黃性熱，掃除疥瘡，壯陽逐冷，寒邪敢當。</p>
<p>龍腦味辛，目痛頭痹，狂躁妄語，真為良劑。（即冰片。）</p>
<p>蘆薈氣寒，殺蟲消疳，癲癇驚搐，服之立安。（俗名象膽。）</p>
<p>天竺黃甘，急慢驚風，鎮心解熱，驅邪有功。</p>
<p>麝香辛溫，善通關竅，活血安驚，解毒甚妙。（勿見火。）</p>
<p>乳香辛苦，療諸惡瘡，生肌止痛，心腹尤良。（去砂石用。燈心同研。）</p>
<p>沒藥溫平，治瘡止痛，跌打損傷，破血通用。</p>
<p>阿魏性溫，除症破結，辟惡殺蟲，傳屍可滅。</p>
<p>水銀性寒，治疥殺蟲，斷絕胎孕，催生立通。</p>
<p>輕粉性燥，外科要藥，楊梅諸瘡，殺蟲可托。</p>
<p>靈砂性溫，血脈能通，止煩辟邪，虛人忌用。（系水銀硫黃水火煅煉成形者。）</p>
<p>砒霜大毒，風痰可吐，截瘧除哮，能消沉痼。（一名人言，一名信石。畏綠豆、冷水、米醋、姜肉，誤中毒，服其中一味即解。）</p>
<p>雄黃甘辛，辟邪解毒，更治蛇虺，喉風瘜肉。</p>
<p>珍珠氣寒，鎮驚除癇，開聾磨翳，止渴墜痰。（未鑽者。研如粉。）</p>
<p>牛黃味苦，大治風痰，清熱解毒，驚癇靈丹。</p>
<p>琥珀味甘，鎮驚安神，破瘀消症，利水通淋。（拾起草芥者佳。）</p>
<p>血竭味鹹，跌撲傷損，惡毒瘡癰，破血有準。（一名麒麟竭。敲斷有鏡臉光者是。）</p>
<p>石鐘乳甘，氣乃剽悍，益氣固精，明目延壽。</p>
<p>陽起石甘，腎氣乏絕，陰痿不起，其效甚捷。（火煅，酒淬七次，再酒煮半日，研細。）</p>
<p>桑椹子甘，解金石燥，清除熱渴，染鬚髮皓。</p>
<p>蒲公英苦，潰堅消腫，結核能除，食毒堪用。（一名黃花地丁草。）</p>
<p>石葦味苦，通利膀胱，遺尿或淋，發背瘡瘍。</p>
<p>扁蓄味苦，疥瘙疽痔，小兒蛔蟲，女人陰蝕。</p>
<p>赤箭味苦，原號定風。殺蠱解毒，除疝療癰。（即天麻苗也。）</p>
<p>雞內金寒，溺遺精泄，禁痢漏崩，更除煩熱。（制酥用。）</p>
<p>鰻鱺魚甘，勞瘵殺蟲，痔漏瘡疹，崩疾有功。</p>
<p>螃蟹味鹹，散血解結，益氣養筋，除胸煩熱。</p>
<p>馬肉味辛，堪強腰脊，自死老死，並棄勿食。（懷孕痢疾生瘡者禁食。）</p>
<p>白鴿肉平，解諸藥毒，能除疥瘡，味勝豬肉。</p>
<p>兔肉味辛，補中益氣，止渴健脾，解熱療痹。（秋冬宜啖，春夏忌食。）</p>
<p>牛肉屬土，補脾胃弱。乳養虛羸，善滋血涸。</p>
<p>豬肉味甘，量食補虛，動風痰物，多食虛肥。</p>
<p>羊肉味甘，專補虛羸，開胃補腎，不致陽痿。</p>
<p>雄雞味甘，動風助火，補虛溫中，血漏亦可。（有風人，並患骨蒸者，俱不宜食。）</p>
<p>鴨肉散寒，補虛勞怯，消水腫脹，退驚癇熱。</p>
<p>鯉魚味甘，消水腫滿，下氣安胎，其功不緩。</p>
<p>鯽魚味甘，和中補虛，理胃進食，腸澼瀉痢。</p>
<p>驢肉微寒，安心解煩，能發痼疾，以動風淫。</p>
<p>鱔魚味甘，益智補中，能祛狐臭，善散濕風。（血塗口眼喎斜，左患塗右，右患塗左。）</p>
<p>白鵝肉甘，大補臟腑，最發瘡毒，痼疾勿與。</p>
<p>犬肉性溫，益氣壯陽，炙食作渴，陰虛禁嘗。（不可與蒜同食，頗損人。）</p>
<p>鱉肉性冷，涼血補陰，癥瘕勿食，孕婦勿侵。（不可合莧菜食，切忌多食。）</p>
<p>芡實味甘，能益精氣，腰膝痠疼，固澀止遺。（一名雞頭。去殼取仁。）</p>
<p>石蓮子苦，療噤口痢，白濁遺精，清心良劑。</p>
<p>藕味甘甜，解酒清熱，消煩逐瘀，止吐衄血。</p>
<p>龍眼味甘，歸脾益智，健忘怔忡，聰明廣記。（俗名桂圓。）</p>
<p>蓮鬚味甘，益腎烏須，澀精固髓，悅顏補虛。</p>
<p>柿子氣寒，能潤心肺，止渴化痰，澀腸禁痢。</p>
<p>石榴皮酸，能禁精漏，止痢澀腸，染須尤妙。</p>
<p>陳倉穀米，調和脾胃，解渴除煩，能止瀉痢。（愈陳愈佳，即黏米。陳粟米功同。）</p>
<p>萊菔子辛，喘咳下氣，倒壁沖牆，脹滿消去。（即蘿蔔子。）</p>
<p>芥菜味辛，除邪通鼻，能利九竅，多食通氣。</p>
<p>漿水味酸，酷熱當茶，除煩消食，瀉痢堪誇。</p>
<p>沙糖味甘，潤肺和中，多食損齒，濕熱生蟲。</p>
<p>飴糖味甘，和脾潤肺，止渴消痰，中滿休食。</p>
<p>麻油性冷，善解諸毒，通便消癰，蛔痛可服。</p>
<p>白果甘苦，喘嗽白濁。點茶壓酒，不可多嚼。（一名銀杏。）</p>
<p>胡桃肉甘，補腎黑髮，多食生痰，動氣之物。</p>
<p>梨味甘酸，解酒除渴，止嗽消痰，善驅煩熱。（勿多食，令人寒中作瀉。產婦金瘡屬血虛，切忌。）</p>
<p>榧實味甘，主療五痔，蠱毒三蟲，不可多食。</p>
<p>竹茹止嘔，能除寒熱，胃熱咳噦，不寐安歇。（薑汁炒。）</p>
<p>竹葉味甘，退熱安眠，化痰定喘，止渴消煩。（味淡者佳。）</p>
<p>竹瀝味甘，陰虛痰火，汗熱渴煩，效如開鎖。（截尺余，直劈數片，兩磚架起，火烘，兩頭流瀝，每瀝一盞，薑汁二匙。）</p>
<p>萊菔根甘，下氣消穀，痰癖咳嗽，兼解面毒。（俗云蘿蔔。）</p>
<p>燈草味甘，運利小水，癃閉成淋，濕腫為最。</p>
<p>艾葉溫平，除濕散寒，漏血安胎，心痛即愈。（宜陳久者佳。揉爛，醋浸炒之。）</p>
<p>綠豆氣寒，能解百毒，止渴除煩，諸熱可服。</p>
<p>川椒辛熱，祛邪逐寒，明目殺蟲，溫而不猛。（去目，微炒。）</p>
<p>胡椒味辛，心腹冷痛，下氣溫中，跌撲堪用。</p>
<p>石蜜甘平，入藥煉熟，益氣補中，潤燥解毒。</p>
<p>馬齒莧寒，青盲白翳，利便殺蟲，症癰咸治。（即安樂菜，一名九頭獅子草。）</p>
<p>蔥白辛溫，發表出汗，傷寒頭疼，腫痛皆散。（忌與蜜同食。）</p>
<p>胡荽味辛，上止頭疼，內消穀食，痘疹發生。</p>
<p>韭味辛溫，祛除胃熱，汁清血瘀，子醫夢泄。</p>
<p>大蒜辛溫，化肉消穀，解毒散癰，多用傷目。</p>
<p>食鹽味鹹，能吐中痰，心腹卒痛，過多損顏。</p>
<p>茶茗性苦，熱渴能濟，上清頭目，下消食氣。</p>
<p>酒性辛溫，活血祛風，寒濕痹痛，通絡堪用。（用無灰者。凡煎藥入酒，藥熱方入。）</p>
<p>醋消腫毒，積瘕可去，產後金瘡，血暈皆治。（一名苦酒。用味酸者。）</p>
<p>烏梅味酸，除煩解渴，霍瘧瀉痢，止嗽勞熱。（去核用。）</p>
<p>淡豆豉寒，能除懊憹，傷寒頭痛，兼理瘴氣。（用江西淡豉。黑豆造者佳。）</p>
<p>蓮子味甘，健脾理胃，止瀉澀精，清心養氣。</p>
<p>大棗味甘，調和百藥，益氣養脾，中滿休嚼。</p>
<p>人乳味甘，補陰益陽，悅顏明目，羸劣妙方。（要壯盛婦人香濃者佳，病婦勿用。）</p>
<p>童便味涼，打撲瘀血，虛勞骨蒸，熱嗽尤捷。（一名回陽湯，一名還元湯。要七八歲兒清白者佳，赤黃不可用。）</p>
<p>生薑性溫，散寒暢神，痰嗽嘔吐，開胃極靈。（去皮即熱，留皮即冷。）</p>
<p>藥共四百，精製不同，生熟新久，炮煅炙烘。</p>
<p>湯丸膏散，各起疲癃，合宜而用，乃是良工。</p>
