<header data-type="book">
<h1>神農本草經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>朝代</dt><dd><data value="漢">秦漢</data></dd></div>
<div><dt>底本</dt><dd>電子文本整理自行政院中醫藥委員會94年文本CM096</dd></div>
</dl>
</header>
<h2>神農本草經卷一序錄</h2>
<p>上藥一百二十種為君，主養命，以應天。無毒，多服、久服不傷人。欲輕身益氣，
不老延年者，本上經。中藥一百二十種為臣，主養性，以應人。無毒、有毒，
斟酌其宜。欲遏病，補虛羸者，本中經。下藥一百二十五種為佐、使，主治病，
以應地。多毒，不可久服。欲除寒熱邪氣，破積聚，愈疾者，本下經。
三品合三百六十五種，法三百六十五度，一度應一日，以成一歲。藥有君、臣、佐、
使，以相宣攝。合和者，宜用：一君、二臣、三佐、五使，又可一君、三臣，九佐、
使也。藥有陰陽配合，子、母、兄、弟，根、葉、花、實，草、石、骨、肉。
有單行者，有相須者，有相使者，有相畏者，有相惡者，有相反者，有相殺者。
凡此七情，合和時視之，當用相須、相使者良。勿用相惡、相反者。若有毒宜製，
可用相畏、相殺者，不爾，勿合用也。藥有酸、鹹、甘、苦、辛五味，又有寒、熱、
溫、涼四氣，及有毒、無毒，陰乾、曝乾，採治時月生熟，土地所出，真、偽陳、新，
並各有法。藥有宜丸者，宜散者，宜水煮者，宜酒漬者，宜膏煎者，亦有一物兼宜者，
亦有不可入湯酒者，並隨藥性，不得違越。凡欲治病，先察其源，候其病機，
五臟未虛，六腑未竭，血脈未亂，精神未散，服藥必活。若病已成，可得半愈。
病勢已過，命將難全。若用毒藥治病，先起如黍、粟，病去即止，不去倍之，
不去十之，取去為度。治寒以熱藥，治熱以寒藥，飲食不消以吐下藥，鬼疰、
蠱毒以毒藥，癰腫、瘡瘤以瘡藥，風濕以風濕藥，各隨其所宜。病在胸膈以上者，
先食後服藥。病在心腹以下者，先服藥而後食。病在四肢、血脈者，宜空腹而在旦。
病在骨髓者，宜飽滿而在夜。夫大病之主，有中風，傷寒，寒熱，溫瘧，中惡，霍亂，
大腹水腫，腸澼下利，大小便不通，奔豚上氣，咳逆，嘔吐，黃疸，消渴，留飲，
癖食，堅積，癥瘕，驚邪，癲癇，鬼疰喉痺，齒痛，耳聾，目盲，金創，踒折，癰腫，
惡瘡，痔瘻，癭瘤，男子五勞、七傷、虛乏、羸瘦，女子帶下、崩中、血閉陰蝕，
蟲蛇、蠱毒所傷，此皆大略宗兆，其間變動枝葉，各宜依端緒以取之。
上藥（上品）
菖蒲　菊花　人參　天門冬　甘草　乾地黃　朮　菟絲子　牛膝　茺蔚子　女萎　防葵
　柴胡　麥門冬　獨活　車前子　木香　薯蕷　薏苡仁　澤瀉　遠志　龍膽　細辛　石
斛　巴戟天　白英　白蒿　赤箭　菴䕡子　菥蓂子　蓍實　赤芝　黑芝　青芝　白芝　
黃芝　紫芝　卷柏　藍實　蘼蕪　丹參　絡石　蒺藜子　肉蓯蓉　防風　蒲黃　香蒲　
續斷　漏蘆　天名精　決明子　飛廉　旋花　蘭草　蛇床子　地膚子　景天　茵陳蒿　
杜若　徐長卿　石龍蒭　王不留行　升麻（以上草部）
牡桂　菌桂　松脂　槐實　枸杞　柏實　茯苓　榆皮　酸棗　蔓荊實　辛夷　五加皮　
杜仲　女貞實　蕤核（以上木部）
橘柚　大棗　葡萄　蓬虆　藕實莖　雞頭實　冬葵子　莧實　白瓜子　苦菜　胡麻
（附：青蘘穀）（以上穀部）
丹砂　雲母　玉泉　石鍾乳　礬石　消石　朴消　滑石　空青　曾青　禹餘糧　太一餘
糧　白石英　紫石英　青石脂　赤石脂　黃石脂　白石脂　黑石脂　白青　扁青（以上
石部）
龍骨　熊脂　白膠　阿膠　丹雄雞　鴈肪　石蜜　蜂子　蜜蠟　牡蠣（以上蟲部）
中藥（中品）
乾薑　葈耳實　葛根　栝樓　苦參　芎藭　當歸　麻黃　通草　芍藥　蠡實　瞿麥　玄
參　秦艽　百合　知母　貝母　白芷　淫羊藿　黃芩　石龍芮　茅根　紫苑　紫草　茜
根　白鮮皮　酸漿　紫參　藁本　狗脊　萆薢　白兔藿　營實　薇⿱艹⿲彳缶亍　水萍　王瓜　地
榆　海藻　澤蘭　防己　牡丹　款冬花　石韋　馬先蒿　女菀　王孫　雲實　爵床　黃
耆　黃連　五味子　沙參　桔梗　莨菪子　陸英　姑活　屈草　別羇　翹根　萱草（以
上草部）
梔子　竹葉　蘗木　吳茱萸　桑根白皮　蕪荑　枳實　厚朴　秦皮　秦椒　山茱萸　紫
葳　豬苓　白棘　龍眼　木蘭　桑上寄生　柳花　衛矛　合歡　松蘿　乾漆　石南　蔓
椒　欒花　淮木（以上木部）
梅實　蓼實　蔥實（附：薤）
　水蘇　瓜蒂　水斳　粟米　黍米　麻蕡（以上穀部）
石硫黃　石膏　磁石　陽起石　理石　長石　孔公孽　殷孽（以上石部）
髮髲　白馬莖　鹿茸　羖羊角　牡狗陰莖　羚羊角　牛黃（附：
牛角䚡）　麝香　天鼠屎　伏翼　蠡魚　鯉魚膽　烏賊魚骨　海蛤（附：
文蛤）
　石龍子　白殭蠶　桑螵蛸（以上蟲部）
下藥（下品）
附子　烏頭　天雄　半夏　虎掌　鳶尾　大黃　葶藶　草蒿　旋覆花　藜蘆　鉤吻　射
干　蛇含　常山　蜀漆　甘遂　白蘝　青葙子　雚菌　白及　大戟　澤漆　茵芋　貫眾
　蕘花　牙子　羊躑躅　芫花　商陸　羊蹄　萹蓄　狼毒　鬼臼　白頭翁  羊桃　女青
　連翹　石下長卿　䕡茹　烏韮　鹿藿　蚤休　石長生　藎草　牛扁　夏枯草　敗醬　
白薇　積雪草　蜀羊泉（以上草部）
巴豆　蜀椒　皂莢　楝實　郁李仁　莽草　雷丸　梓白皮　桐葉　藥實根　黃環　溲疏
　鼠李（以上木部）
桃核仁　杏核仁　假蘇　苦瓠　大豆黃卷（附：生大豆，
赤小豆）
　腐婢（以上穀部）
石膽　雄黃　雌黃　水銀　膚青　凝水石　鐵落（附：鐵精，
鐵）
　鉛丹　粉錫（附：錫鏡鼻）
　代赭　鹵鹹（附：戎鹽，大鹽）
　青琅玕　礜石　石灰　白堊冬灰（以上石部）
六畜毛蹄甲　犀角　豚卵　麋脂　鼺（鼯）
鼠　燕屎　龜甲　蝦蟇　鮀魚甲　鱉甲　蚱蟬　露蜂房　馬刀　蟹　蛇蛻　猬（蝟）
皮　蠮螉　蜣螂　蛞蝓　白頸蚯蚓　蠐螬　石蠶　雀甕　樗雞　斑蝥（貓）
　螻蛄　蜈蚣　馬陸　地膽　螢火　衣魚　鼠婦　水蛭　木䖟　蜚䖟　蜚蠊　⿸庶䖵蟲　貝
子　彼子（以上蟲部）</p>
<h2>神農本草經卷二上藥（上品）</h2>
<h3>一　菖蒲</h3>
<p>菖蒲　一名昌陽。味辛，溫，無毒。治風寒濕痺，欬逆上氣。開心孔，補五臟，
通九竅，明耳目，出音聲。久服輕身，不忘，不迷惑，延年。生池澤。</p>
<h3>二　菊花</h3>
<p>菊花　一名節華。味苦，平，無毒。治風頭頭眩，腫痛，目欲脫，淚出，皮膚死肌，
惡風，濕痺。久服利血氣，輕身，耐老，延年。生川澤及田野。</p>
<h3>三　人參</h3>
<p>人參　一名人銜。一名鬼蓋。味甘，微寒。無毒。主補五臟，安精神，定魂魄，
止驚悸，除邪氣，明目，開心益智。久服輕身，延年。生山谷。</p>
<h3>四　天門冬</h3>
<p>天門冬　一名顛勒。味苦，平。無毒。治諸暴風濕偏痺。強骨髓，殺三蟲，去伏屍。
久服輕身，益氣，延年。生山谷。</p>
<h3>五　甘草</h3>
<p>甘草　一名美草。一名蜜甘。味甘，平，無毒。治五臟六腑寒熱邪氣。堅筋骨，
長肌肉。倍力，金瘡，尰，解毒。久服輕身，延年。</p>
<h3>六　乾地黃</h3>
<p>乾地黃　一名地髓。味甘，寒，無毒。治折跌絕筋，傷中。逐血痺，填骨髓，長肌肉。
作湯，除寒熱、積聚。除痺。
生者，尤良。久服輕身，不老。生川澤。</p>
<h3>七　朮</h3>
<p>朮　一名山薊。味苦，溫，無毒。治風寒濕痺，死肌，痙、疸。止汗，除熱，消食。
作煎餌，久服輕身，延年，不饑。生山谷。</p>
<h3>八　菟絲子</h3>
<p>菟絲子　一名菟蘆。味辛，平，無毒。主續絕傷，補不足，益氣力，肥健。
汁，去面䵟。久服明目，輕身，延年。生川澤田野，蔓延草木之上。</p>
<h3>九　牛膝</h3>
<p>牛膝　一名百倍。味苦，平，無毒。治寒濕痿痺，四肢拘攣，膝痛不可屈伸。逐血氣，
傷熱，火爛，墮胎。久服輕身，耐老。生川谷。</p>
<h3>十　茺蔚子</h3>
<p>茺蔚子　一名益母，一名益明，一名大札。味辛，微溫，無毒。主明目，益精，
除水氣。久服輕身。
莖，治癮疹癢，可作浴湯。生海濱、池澤。</p>
<h3>十一　女萎</h3>
<p>女萎　一名左⿰耳丐。一名玉竹。味甘，平，無毒。治中風暴熱，不能動搖，胅筋結肉，
諸不足。久服去面黑䵟，好顏色，潤澤，輕身，不老。生川谷及丘陵。</p>
<h3>十二　防葵</h3>
<p>防葵　一名梨蓋。味辛，寒，無毒。治疝瘕，腸泄，膀胱熱結，溺不下，欬逆，溫瘧，
癲癇，驚邪，狂走。久服堅骨髓，益氣，輕身。生川谷。</p>
<h3>十三　柴胡</h3>
<p>柴胡　一名地薰。味苦，平，無毒。治心腹，去腸胃中結氣，飲食積聚，寒熱邪氣，
推陳致新。久服輕身，明目，益精。生川谷。</p>
<h3>十四　麥門冬</h3>
<p>麥門冬　秦名羊韭。齊名愛韭。楚名馬韭。越名羊韭。味甘，平，無毒。治心腹結氣。
傷中，傷飽，胃絡脈絕，羸瘦，短氣，久服輕身，不老，不饑。
生川谷及堤坂肥土石間久廢處。</p>
<h3>十五　獨活</h3>
<p>獨活　一名羗活，一名羗青，一名護羗使者。味苦，平，無毒。治風寒所擊，金瘡，
止痛，奔豚，癎，痙，女子疝瘕，久服輕身，耐老。生川谷。</p>
<h3>十六　車前子</h3>
<p>車前子　一名當道。味甘，寒，無毒。治氣癃，止痛，利水道小便，除濕痺。
久服輕身，耐老。生平澤、丘陵、阪道中。</p>
<h3>十七　木香</h3>
<p>木香　一名木蜜。味辛，溫，無毒，治邪氣，辟毒疫、溫鬼，強志，治淋露。
久服不夢寤魘寐。生山谷。</p>
<h3>十八　薯蕷</h3>
<p>薯蕷　一名山芋，秦、楚名玉延，鄭、越名土藷，齊、趙名山羊。味甘，溫，無毒。
治傷中，補虛羸，除寒熱邪氣，補中，益氣力，長肌肉。久服耳目聰明，輕身、不饑，
延年。生山谷。</p>
<h3>十九　薏苡仁</h3>
<p>薏苡仁　一名解蠡。味甘，微寒，無毒。治筋急拘攣，不可屈伸，風濕痺，下氣。
久服輕身，益氣。
其根。下三蟲。生平澤及田野。</p>
<h3>二十　澤瀉</h3>
<p>澤瀉　一名水瀉，一名芒芋，一名鵠瀉。味甘，寒，無毒。治風寒濕痺，乳難，
消水養五臟，益氣力，肥健。久服耳目聰明，不饑，延年，輕身，面生光，能行水上。
生池澤。</p>
<h3>二十一　遠志</h3>
<p>遠志　一名棘菀，一名葽繞，一名細草。味苦，溫，無毒。治欬逆，傷中，補不足，
除邪氣，利九竅，益智慧，耳目聰明，不忘，強志，倍力。久服輕身，不老。
葉名小草。生川谷。</p>
<h3>二十二　龍膽</h3>
<p>龍膽　一名陵游。味苦，寒，無毒。治骨間寒熱，驚癇，邪氣，續絕傷，定五臟，
殺蠱毒。久服益智，不忘，輕身，耐老。生山谷。</p>
<h3>二十三　細辛</h3>
<p>細辛　一名小辛，味辛，溫，無毒。治欬逆，頭痛，百節拘攣，風濕痺痛，死肌。
久服明目，利九竅，輕身，長年。生山谷。</p>
<h3>二十四　石斛</h3>
<p>石斛　一名林蘭。味甘，平，無毒。治傷中，除痺，下氣，補五臟虛勞，羸瘦，強陰。
久服厚腸胃，輕身，延年。生山谷、水傍石上。</p>
<h3>二十五　巴戟天</h3>
<p>巴戟天　味辛，微溫，無毒。治大風邪氣，陰痿不起，強筋骨，安五臟，補中，增志，
益氣。生山谷。</p>
<h3>二十六　白英</h3>
<p>白英　一名穀菜。味甘，寒，無毒。治寒熱，八疽，消渴，補中益氣。久服輕身，
延年。生山谷。</p>
<h3>二十七　白蒿</h3>
<p>白蒿　味甘，平，無毒。治五臟邪氣，風寒濕痺，補中益氣，長毛髮，令黑，治心懸，
少食常饑，久服輕身，耳目聰明，不老。生川澤。</p>
<h3>二十八　赤箭</h3>
<p>赤箭　一名離母，一名鬼督郵。味辛，溫。主殺鬼精物，蠱毒，惡氣。久服益氣力，
長陰，肥健，輕身，增年。生川谷。</p>
<h3>二十九　菴䕡子</h3>
<p>菴䕡子　味苦，微寒，無毒。治五臟瘀血，腹中水氣，臚脹，留熱，風寒濕痺，
身體諸痛。久服輕身、延年、不老。生川谷及道邊。</p>
<h3>三十　菥蓂子</h3>
<p>菥蓂子　一名薎菥，一名大蕺，一名馬辛。味辛，微溫，無毒。主明目，目痛，淚出，
除痺，補五臟，益精光。久服輕身，不老。生川澤及道傍。</p>
<h3>三十一　蓍實</h3>
<p>蓍實　味苦，平，無毒。主益氣，充肌膚，明目，聰慧先知。久服不饑，不老，輕身。
生山谷。</p>
<h3>三十二　赤芝　</h3>
<p>赤芝　一名丹芝味苦，平，無毒。治胸中結，益心氣，補中，增智慧，不忘。
久食輕身，不老，延年，神仙。生山谷。</p>
<h3>三十三　黑芝</h3>
<p>黑芝　一名玄芝。味鹹，平，無毒。治癃，利水道，益腎氣，通九竅，聰察。
久食輕身，不老，延年，神仙。生山谷。</p>
<h3>三十四　青芝</h3>
<p>青芝　一名龍芝。味酸，平，無毒。主明目，補肝氣，安精魂，仁恕。久食輕身，
不老，延年，神仙。生山谷。</p>
<h3>三十五　白芝</h3>
<p>白芝　一名玉芝。味辛，平，無毒。治欬逆上氣，益肺氣，通利口鼻，強志意，勇悍，
安魂。久食輕身，不老，延年，神仙。生山谷。</p>
<h3>三十六　黃芝</h3>
<p>黃芝　一名金芝。味甘，平，無毒。治心腹五邪，益脾氣，安神，忠信和樂。
久食輕身，不老，延年，神仙。生山谷中。</p>
<h3>三十七　紫芝</h3>
<p>紫芝　一名木芝。味甘，溫，無毒。治耳聾，利關節，保神，益精氣，堅筋骨，
好顏色。久服輕身，不老，延年。生山谷。</p>
<h3>三十八　卷柏</h3>
<p>卷柏　一名萬歲。味辛，溫，無毒。治五臟邪氣，女子陰中寒熱痛，癥瘕，血閉，
絕子。久服輕身，和顏色。生山谷石間。</p>
<h3>三十九　藍實</h3>
<p>藍實　味苦，寒，無毒。主解諸毒，殺蠱，疰鬼，螫毒。久服頭不白，輕身。
生平澤。</p>
<h3>四十　蘪蕪</h3>
<p>蘪蕪　一名薇蕪。味辛，溫，無毒。治欬逆，定驚氣，辟邪惡，除蟲毒，鬼疰，
去三蟲。久服通神。生川澤。</p>
<h3>四十一　丹參</h3>
<p>丹參　一名郄蟬草。味苦，微寒，無毒。治心腹邪氣，腸鳴幽幽如走水，寒熱積聚，
破癥，除瘕，止煩滿，益氣。生川谷。</p>
<h3>四十二　絡石　</h3>
<p>絡石　一名鯪石。味苦，溫，無毒。治風熱，死肌，癰傷，口乾，舌焦，癰腫不消，
喉舌腫，水漿不下。久服輕身，明目，潤澤，好顏色，不老，延年。生川谷。</p>
<h3>四十三　蒺䔧子肉</h3>
<p>蒺䔧子　一名旁通，一名屈人，一名止行，一名升推，一名犲羽。味苦，溫，無毒。
治惡血，破癥結積聚，喉痺，乳難。久服長肌肉，明目，輕身。生平澤或道傍。</p>
<h3>四十四　蓯蓉</h3>
<p>肉蓯蓉　味甘，微溫，無毒。治五勞七傷，補中，除莖中寒熱痛，養五臟，強陰，
益精氣，多子。婦人癥瘕。久服輕身，生山谷。</p>
<h3>四十五　防風</h3>
<p>防風　一名銅芸。味甘，溫，無毒。。治大風，頭眩痛，惡風，風邪，目盲無所見，
風行周身，骨節疼痺，煩滿。久服輕身。生川澤。</p>
<h3>四十六　蒲黃</h3>
<p>蒲黃　味甘，平，無毒。治心腹膀胱寒熱，利小便，止血，消瘀血。久服輕身，
益氣力，延年，神仙。生池澤。</p>
<h3>四十七　香蒲</h3>
<p>香蒲　一名睢。味甘，平，無毒。治五臟心下邪氣，口中爛臭，堅齒，明目，聰耳，
久服輕身，耐老。生南海池澤。</p>
<h3>四十八　續斷</h3>
<p>續斷　一名龍豆，一名屬折。味苦，微溫，無毒。治傷寒，補不足，金瘡，癰傷，
折跌，續筋骨，婦人乳難，崩中，漏血，久服益氣力。生山谷。</p>
<h3>四十九　漏蘆</h3>
<p>漏蘆　一名野蘭。味苦，寒，無毒。治皮膚熱，惡瘡，疽，痔，濕痺，下乳汁。
久服輕身，益氣，耳目聰明，不老，延年。生山谷。</p>
<h3>五十　天名精</h3>
<p>天名精　一名麥句薑，一名蝦蟆藍，一名豕首。味甘，寒，無毒。治瘀血，血瘕欲死，
下血，止血，利小便，除小蟲，去痺，除胸中結熱，止煩渴。久服輕身，耐老。
生平原，川澤。</p>
<h3>五十一　決明子</h3>
<p>決明子　味鹹，平，無毒。治青盲，目淫膚，赤白膜，眼赤痛，淚出。久服益精光，
輕身。生川澤。</p>
<h3>五十二　飛廉</h3>
<p>飛廉　一名飛輕。味苦，平，無毒。治骨節熱，脛重酸疼。久服令人身輕。生川澤。</p>
<h3>五十三　旋花</h3>
<p>旋花　一名筋根花，一名金沸。味甘，溫，無毒。主益氣，去面䵟黑，色媚好。
其根，味辛，治腹中寒熱邪氣，利小便。久服不饑，輕身。生平澤。</p>
<h3>五十四　蘭草　</h3>
<p>蘭草　一名水香。味辛，平，無毒。主利水道，殺蠱毒，辟不祥。久服益氣，輕身，
不老，通神明。生池澤。</p>
<h3>五十五　蛇床子</h3>
<p>蛇床子　一名蛇粟，一名蛇米。味苦，平，無毒。治婦人陰中腫痛，男子陰痿，濕癢，
除痺氣，利關節，癲癇，惡瘡。久服輕身。生川谷及田野。</p>
<h3>五十六　地膚子</h3>
<p>地膚子　一名地葵。味苦，寒，無毒。治膀胱熱，利小便，補中，益精氣。
久服耳目聰明，輕身，耐老。生平澤及田野。</p>
<h3>五十七　景天</h3>
<p>景天　一名戒火，一名水母花，一名慎火。味苦，平，無毒。治大熱，火瘡，身熱，
煩，邪惡氣。
花，主女人漏下赤白，輕身，明目。生川谷。</p>
<h3>五十八　茵陳蒿</h3>
<p>茵陳蒿　味苦，平，無毒。治風濕寒熱邪氣，熱結、黃疸。久服輕身，益氣，耐老。
生丘陵、坡岸上。</p>
<h3>五十九　杜若</h3>
<p>杜若　一名杜蘅。味辛，微溫，無毒。治胸脅下逆氣，溫中，風入腦戶，頭腫痛，
多涕，淚出。久服益精，明目，輕身。生川澤。</p>
<h3>六十　徐長卿</h3>
<p>徐長卿　一名鬼督郵。味辛，溫，無毒。治鬼物百精，蠱毒，疫疾，邪惡氣，溫瘧，
久服強悍，輕身。生山谷。</p>
<h3>六十一　石龍蒭</h3>
<p>石龍蒭　一名龍鬚，一名草續斷，一名龍珠。味苦，微寒，無毒。治心腹邪氣，
小便不利，淋閉，風濕，鬼疰，惡毒。久服補虛羸，輕身，耳目聰明，延年。
生山谷濕地。</p>
<h3>六十二　王不留行　</h3>
<p>王不留行　味苦，平，無毒。治金瘡，止血，逐痛，出刺，除風痺，內寒。久服輕身，
耐老，增壽。生山谷。</p>
<h3>六十三　升麻</h3>
<p>升麻　一名周麻。味甘、苦，平，無毒。主解百毒，殺百精、老物殃鬼，辟溫疫，
瘴氣、邪氣，蠱毒。外服不夭。生山谷。</p>
<h3>六十四　牡桂</h3>
<p>牡桂　味辛，溫，無毒。治上氣欬逆，結氣，喉痺，吐嘔。利關節，補中益氣。
久服通神，輕身，不老。生南海，山谷。</p>
<h3>六十五　菌桂</h3>
<p>菌桂　味辛，溫，無毒。治百病，養精神，和顏色，為諸藥先聘通使。久服輕身，
不老，面生光華，媚好常如童子。生山谷巖崖間。</p>
<h3>六十六　松脂</h3>
<p>松脂　一名松膏。一名松肪。味苦，溫，無毒。治癰疽，惡瘡，頭瘍，白禿，疥瘙，
風氣，安五臟，除熱。久服輕身，不老，延年。生山谷。</p>
<h3>六十七　槐實</h3>
<p>槐實　味苦，寒，無毒。治五內邪氣熱，止涎唾，補絕傷，五痔，火瘡，婦人乳瘕，
子臟急痛。生平澤。</p>
<h3>六十八　枸杞</h3>
<p>枸杞　一名杞根，一名地骨，一名枸忌，一名地輔。味苦，寒，無毒。治五內邪氣，
熱中，消渴，周痺。久服堅筋骨，輕身，不老。生平澤及諸丘陵阪岸。</p>
<h3>六十九　柏實</h3>
<p>柏實　味甘，平，無毒。治驚悸，安五臟，益氣，除風濕痺。久服令人潤澤，美色，
耳目聰明，不饑，不老，輕身，延年。生山谷。</p>
<h3>七十　茯苓</h3>
<p>茯苓　一名茯菟。味甘，平，無毒。治胸脅逆氣，憂恚，驚邪，恐悸，心下結痛，
寒熱，煩滿，欬逆。止口焦，舌乾，利小便。久服安魂魄，養神，不饑，延年。
生山谷大松下。</p>
<h3>七十一　榆皮</h3>
<p>榆皮　一名零榆。味甘，平，無毒。治大小便不通，利水道，除邪氣，外服輕身，
不饑。
其實尤良。生山谷。</p>
<h3>七十二　酸棗</h3>
<p>酸棗　味酸，平，無毒。治心腹寒熱，邪結氣聚，四肢酸疼，濕痺。久服安五臟，
輕身，延年。生川澤。</p>
<h3>七十三　蔓荊實　</h3>
<p>蔓荊實　味苦，微寒，無毒。治筋骨間寒熱，濕痺，拘攣，明目，堅齒，利九竅，
去白蟲、長蟲。久服輕身，耐老。
小荊實亦等。</p>
<h3>七十四　辛夷</h3>
<p>辛夷　一名辛矧，一名侯桃，一名房木。味辛，溫，無毒。治五臟，身體寒熱，風頭，
腦痛，面䵟。久服下氣，輕身，明目，增年，耐老。生川谷。</p>
<h3>七十五　五加皮</h3>
<p>五加皮　一名犲漆。味辛，溫，無毒。治心腹疝氣，腹痛，益氣，治躄，小兒不能行，
疽瘡，陰蝕。</p>
<h3>七十六　杜仲</h3>
<p>杜仲　一名思仙。味辛，平，無毒。治腰脊痛，補中，益精氣，堅筋骨，強志，
除陰下癢濕，小便餘瀝。久服輕身，耐老。生山谷。</p>
<h3>七十七　女貞實</h3>
<p>女貞實　味苦，平，無毒。主補中，安五臟，養精神，除百疾，久服肥健，輕身，
不老，生川谷。</p>
<h3>七十八　蕤核</h3>
<p>蕤核　味甘，溫，無毒。治心腹邪結氣。明目，目赤痛傷，淚出。久服輕身，益氣，
不饑。齆鼻。生川谷。</p>
<h3>七十九　橘柚</h3>
<p>橘柚　一名橘皮。味辛，溫，無毒。治胸中瘕熱，逆氣，利水穀。久服去口臭，下氣，
通神明。生川谷。</p>
<h3>八十　大棗</h3>
<p>大棗　味甘，平，無毒。治心腹邪氣，安中養脾，助十二經，平胃氣，通九竅，
補少氣，少津液，身中不足，大驚，四肢重，和百藥。久服輕身，長年。
葉，覆麻黃能令出汗。生平澤。</p>
<h3>八十一　葡萄</h3>
<p>葡萄　味甘，平，無毒。治筋骨濕痺，益氣，倍力，強志，令人肥健，耐饑，忍風寒。
久食輕身，不老，延年。可作酒。生山谷。</p>
<h3>八十二　蓬虆</h3>
<p>蓬虆　一名覆盆。味酸，平，無毒。主安五臟，益精氣，長陰令堅，強志，倍力，
有子。久服輕身，不老。生平澤。</p>
<h3>八十三　藕實莖</h3>
<p>藕實莖　一名水芝。味甘，平，無毒。主補中，養神，益氣力，除百疾。久服輕身，
耐老，不饑，延年。生池澤。</p>
<h3>八十四　雞頭實</h3>
<p>雞頭實　一名鴈喙實。味甘，平，無毒。治濕痺，腰脊膝痛，補中，除暴疾，益精氣，
強志，令人耳目聰明。久服輕身，不饑，耐老，神仙。生池澤。</p>
<h3>八十五　冬葵子</h3>
<p>冬葵子　味甘，寒，無毒。治五臟六腑寒熱，羸瘦，五癃，利小便。久服堅骨，
長肌肉，輕身，延年。</p>
<h3>八十六　莧實</h3>
<p>莧實　一名馬莧。味甘，寒，無毒。治青盲，明目，除邪，利大小便，去寒熱。
久服益氣力，不饑，輕身。生川澤及田中。</p>
<h3>八十七　白瓜子　</h3>
<p>白瓜子　一名水芝。味甘，平，無毒。主令人悅澤，好顏色，益氣，不饑。久服輕身，
耐老。生平澤。</p>
<h3>八十八　苦菜</h3>
<p>苦菜　一名荼草，一名選。味苦，寒，無毒。治五臟邪氣，厭穀，胃痺。久服安心，
益氣，聰察，少臥，輕身，耐老。生川谷、山陵、道傍。</p>
<h3>八十九　胡麻</h3>
<p>胡麻　一名巨勝，一名鴻藏。味甘，平，無毒。治傷中虛羸，補五內，益氣力，
長肌肉，填髓腦。久服輕身，不老。生川澤。葉，名青蘘。味甘，寒，無毒。
主五臟邪氣，風寒濕痺，益氣，補腦髓，堅筋骨。久服耳目聰明，不饑，不老，增壽，
生川谷。</p>
<h3>九十　   丹砂</h3>
<p>丹砂　味甘，微寒，無毒。治身體五臟百病，養精神，安魂魄，益氣，明目，殺精魅、
邪惡鬼。久服通神明，不老，能化為汞。生山谷。</p>
<h3>九十一　雲母</h3>
<p>雲母　一名雲珠，一名雲華，一名雲英，一名雲液，一名雲砂，一名磷石。味甘，平，
無毒。治身皮死肌，中風，寒熱，如在車船上，除邪氣，安五臟，益子精，明目。
久服輕身，延年。生山谷山石間。</p>
<h3>九十二　玉泉</h3>
<p>玉泉　一名玉札。味甘，平，無毒。治五臟百病，柔筋，強骨，安魂魄，長肌肉，
益氣。久服耐寒暑，不饑渴，不老，神仙。人臨死服五斤，死三年色不變。生山谷。</p>
<h3>九十三　石鍾乳</h3>
<p>石鐘乳　一名留公乳。味甘，溫，無毒。治欬逆上氣，明目，益精，安五臟，通百節，
利九竅，下乳汁。生山谷。</p>
<h3>九十四　礬石</h3>
<p>礬石　一名羽涅。味酸，寒，無毒。治寒熱，泄利，白沃，陰蝕，惡瘡，目痛，
堅骨齒。鍊餌服之，輕身，不老，增年。生山谷。</p>
<h3>九十五　消石</h3>
<p>消石　一名芒消。味苦，寒，無毒。治五臟積熱，胃脹閉，滌去蓄結飲食，推陳致新，
除邪氣。鍊之如膏，久服輕身。生山谷。</p>
<h3>九十六　朴消</h3>
<p>朴消　味苦，寒，無毒。治百病，除寒熱邪氣，逐六腑積聚，結固，留癖，
能化七十二種石。鍊餌服之，輕身，神仙。生山谷，有鹹水之陽。</p>
<h3>九十七　滑石</h3>
<p>滑石　味甘，寒，無毒。治身熱，泄辟，女子乳難。癃閉，利小便，蕩胃中積聚，
寒熱，益精氣。久服輕身，耐饑，長年。生山谷。</p>
<h3>九十八　空青</h3>
<p>空青　味甘，寒，無毒。治青盲，耳聾，明目，利九竅，通血脈，養精神，久服輕身，
延年，不老，能化銅、鐵、鉛、錫作金。生山谷有銅處。</p>
<h3>九十九　曾青</h3>
<p>曾青　味酸，小寒，無毒。治目痛，止淚出，風痺，利關節，通九竅，破癥堅積聚。
久服輕身，不老，能化金銅。生山谷。</p>
<h3>一〇〇　禹餘糧</h3>
<p>禹餘糧　一名白餘糧。味甘，寒，無毒。治欬逆，寒熱，煩滿。下利赤白，血閉，
癥瘕，大熱。鍊餌服之，不饑，輕身，延年。生東海、池澤及山島中。
　一〇一 　太一餘糧太一餘糧　一名石腦。味甘，平，無毒。治欬逆上氣，癥瘕，
血閉，漏下，除邪氣。久服耐寒暑，不饑，輕身，飛行千里，神仙。生山谷。</p>
<h3>一〇二　白石英</h3>
<p>白石英　味甘，微溫，無毒。治消渴，陰痿不足，欬逆，胸膈間久寒，益氣，
除風濕痺。久服輕身，長年。生山谷。
黃石英，形如白石英，黃色如金，在端者是。
赤石英，形如白石英，赤端、白後者是。赤澤有光，味苦，補心氣。
青石英，形如白石英，青端、赤後者是。
黑石英，形如白石英，黑澤有光。</p>
<h3>一〇三　紫石英</h3>
<p>紫石英　味甘，溫，無毒。治心腹欬逆、邪氣，補不足，女子風寒在子宮，絕孕，
十年無子。久服溫中，輕身，延年。生山谷。一〇四　青石脂青石脂　味甘，平，
無毒。主養肝膽氣，治黃疸，泄利，腸澼及疽、痔、惡瘡。
久服補髓，益氣，不饑，延年。生山谷中。</p>
<h3>一〇五　赤石脂</h3>
<p>赤石脂　味甘，平，無毒。主養心氣，下利赤白，小便利及癰、疽、瘡、痔。
久服補髓，益智，不饑，輕身，延年。生山谷中。</p>
<h3>一〇六　黃石脂</h3>
<p>黃石脂　味甘，平，無毒。主養脾氣，大人、小兒泄利，腸澼，下膿血，除黃疸。
久服輕身，延年。生山谷中。</p>
<h3>一〇七　白石脂</h3>
<p>白石脂　味甘，平，無毒。主養肺氣，補骨髓，排癰、疽、瘡、痔。久服不饑，輕身，
長年。生山谷中。</p>
<h3>一〇八　黑石脂</h3>
<p>黑石脂　一名石涅，一名石墨。味甘，平，無毒。主養腎氣，強陰，治陰蝕瘡，
止腸澼，泄利。久服益氣，不饑，延年。生山谷中。</p>
<h3>一〇九　白青</h3>
<p>白青　味甘，平，無毒。主明目，利九竅，耳聾，心下邪氣，令人吐，殺諸毒，三蟲。
久服通神明，輕身，延年，不老。生山谷。</p>
<h3>一一〇　扁青</h3>
<p>扁青　味甘，平，無毒。治目痛，明目，折跌，癰腫，金瘡不瘳，破積聚，解毒氣，
利精神。久服輕身，不老。生山谷。</p>
<h3>一一一　龍骨</h3>
<p>龍骨　味甘，平，無毒。治心腹鬼疰，精物老魅，欬逆泄利膿血，女子漏下，
癥瘕堅結，小兒熱氣驚癇。龍齒，平。治小兒、大人驚癇，癲疾，狂走，心下結氣，
不能喘息，諸痙，殺精物。久服輕身，通神明，延年。生川谷及巖水岸土穴中死龍處。</p>
<h3>一一二　熊脂</h3>
<p>熊脂　一名熊白。味甘，微寒，無毒。治風痺不仁，筋急，五臟腹中積聚，寒熱，
羸瘦，頭瘍，白禿，面䵟皰。久服強志，不饑，輕身，生山谷。</p>
<h3>一一三　白膠</h3>
<p>白膠　一名鹿角膠。味甘，平，無毒。治傷中，勞絕，腰痛，羸瘦，補中益氣，
婦人血閉，無子，止痛，安胎，久服輕身，延年。</p>
<h3>一一四　阿膠</h3>
<p>阿膠　一名傅致膠。味甘，平，無毒。治心腹內崩，勞極，洒洒如瘧狀，腰腹痛，
四肢酸疼，女子下血，安胎。久服輕身，益氣。</p>
<h3>一一五　丹雄雞</h3>
<p>丹雄雞　一名載丹。味甘，微溫，無毒。治女人崩中，漏下，赤白沃。補虛，溫中，
止血，通神，殺毒，辟不祥。
頭，主殺鬼。東門上者尤良。
肪，治耳聾。
腸，治遺溺。
肶胵裡黃皮。治泄利。
屎白。治消渴，傷寒，寒熱。
黑雌雞，治風寒濕痺，溫，五緩，六急，安胎。
翮羽，主下血閉。
雞子，主除熱，火瘡，癇，痙。可作琥珀神物。
雞白蠹，能肥豬。
生平澤。</p>
<h3>一一六　鴈肪</h3>
<p>鴈肪　一名鶩肪。味甘，平，無毒。治風攣拘急，偏枯，氣不通利。
肉，味甘，平，無毒。久服長毛髮鬚眉，益氣，不饑，輕身，耐老。生池澤。</p>
<h3>一一七　石蜜</h3>
<p>石蜜　一名石飴。味甘，平，無毒。治心腹邪氣，諸驚，癇，痙，安五臟，諸不足，
益氣補中，止痛，解毒，除眾病，和百藥。久服強志，輕身，不饑，不老。
生山谷及諸山石中。</p>
<h3>一一八　蜂子</h3>
<p>蜂子　一名蜚零。味甘，平，無毒。治風頭，除蠱毒，補虛羸，傷中。久服令人光澤，
好顏色，不老。
大黃蜂子，主心腹脹滿痛，輕身，益氣。
土蜂子，平。治癰腫。
生山谷。</p>
<h3>一一九　蜜蠟</h3>
<p>蜜蠟　味甘，微溫，無毒。治下利膿血，補中，續絕傷，金瘡，益氣，不饑，耐老。
生山谷蜜房、木石間。</p>
<h3>一二〇　牡蠣</h3>
<p>牡蠣　一名蠣蛤。味鹹，平，無毒。治傷寒寒熱、溫瘧洒洒，驚恚怒氣除拘緩，鼠瘻，
女子帶下赤白。久服強骨節，殺鬼，延年。生東海池澤。</p>
<h2>神農本草經卷三中藥（中品）</h2>
<h3>一二一　乾薑</h3>
<p>乾薑　味辛，溫，無毒。治胸滿，欬逆上氣。溫中，止血，出汗，逐風，濕痺，
腸澼下利。生者，尤良。味辛，微溫。久服去臭氣，通神明。生川谷。</p>
<h3>一二二　葈耳實</h3>
<p>葈耳實　一名胡葈，一名地葵。味甘，溫，有小毒。治風頭寒痛，風濕周痹，
四肢拘攣痛，惡肉死肌。久服益氣、耳目聰明、強志，輕身。生川谷及田野。</p>
<h3>一二三　葛根</h3>
<p>葛根　一名雞齊根。味甘，平，無毒。治消渴，身大熱，嘔吐，諸痺。起陰氣，
解諸毒。
葛穀，治下利十歲以上。生川谷。</p>
<h3>一二四　栝樓根</h3>
<p>栝樓根　一名地樓。味苦，寒，無毒。治消渴，身熱，煩滿，大熱，補虛，安中，
續絕傷。生川谷及山陰地。</p>
<h3>一二五　苦參</h3>
<p>苦參　一名水槐。一名苦𧄹。味苦，寒，無毒。治心腹結氣，癥瘕積聚，黃疸，
溺有餘瀝。逐水，除癰腫，補中，明目，止淚。生山谷及田野。</p>
<h3>一二六　芎藭</h3>
<p>芎藭　味辛，溫，無毒。治中風入腦，頭痛，寒痺，筋攣緩急，金瘡，婦人血閉，
無子。生川谷。</p>
<h3>一二七　當歸</h3>
<p>當歸　一名乾歸。味甘，溫，無毒。治欬逆上氣，溫瘧，寒熱洒洒在皮膚中。
婦人漏下，絕子。諸惡瘡瘍，金瘡。煮飲之。生川谷。</p>
<h3>一二八　麻黃</h3>
<p>麻黃　一名龍沙。味甘，溫，無毒。治中風，傷寒，頭痛。溫瘧，發表出汗，
去邪熱氣，止欬逆上氣，除寒熱，破癥堅積聚。生川谷。</p>
<h3>一二九　通草</h3>
<p>通草　一名附支。味辛，平，無毒。主去惡蟲，除脾胃寒熱，通利九竅、血脈、關節，
令人不忘。生山谷及山陽。</p>
<h3>一三〇　芍藥　</h3>
<p>芍藥　一名白木。味苦，平，有小毒。治邪氣腹痛，除血痺，破堅積，寒熱，疝瘕，
止痛，利小便，益氣。生川谷及丘陵。</p>
<h3>一三一　蠡實</h3>
<p>蠡實　一名劇草。一名三堅。一名豕首。味甘，平，無毒。治皮膚寒熱，胃中熱氣，
風寒濕痺。堅筋骨，令人嗜食。久服輕身。
花、葉，去白蟲。喉痺。生川谷。</p>
<h3>一三二　瞿麥</h3>
<p>瞿麥　一名巨句麥。味苦，寒，無毒。治關格，諸癃結，小便不通。出刺，決癰腫，
去瞖，破胎墮子，下閉血。生川谷。</p>
<h3>一三三　玄參</h3>
<p>玄參　一名重臺。味苦，微寒，無毒。治腹中寒熱積聚，女子產乳餘疾。補腎氣，
令人目明。生川谷。</p>
<h3>一三四　秦艽</h3>
<p>秦艽　一名秦瓜。味苦，平，無毒。治寒熱邪氣，寒濕風痺，肢節痛。下水，利小便。
川谷。</p>
<h4>一三五　百合百合　味甘，平，無毒。治邪氣腹脹，心痛，利大小便，</h4>
<p>補中益氣。生山谷。</p>
<h3>一三六　知母</h3>
<p>知母　一名蚔母。一名連母。一名野蓼。一名地參。一名水參。一名水浚。一名貨母。
一名蝭母。味苦，寒，無毒。治消渴，熱中，除邪氣，肢體浮腫。下水，補不足，
益氣。生川谷。</p>
<h3>一三七　貝母</h3>
<p>貝母　一名空草。味辛，平，無毒。治傷寒煩熱，淋瀝邪氣，疝瘕，喉痺，乳難，
金瘡，風痙。</p>
<h3>一三八　白芷</h3>
<p>白芷　一名芳香。一名虈。味辛，溫，無毒。治女人漏下赤白、血閉、陰腫、寒熱、
風頭侵目淚出，長肌膚，潤澤。可作面脂。生川谷下澤。</p>
<h3>一三九　淫羊藿淫羊藿　一名剛前。味辛，寒，無毒。治陰痿，絕傷，莖中痛，</h3>
<p>利小便，益氣力，強志。生山谷。</p>
<h3>一四〇　黃芩</h3>
<p>黃芩　一名腐腸。味苦，平，無毒。治諸熱，黃疸，腸澼，泄利，逐水，下血閉，
惡瘡，疽蝕，火瘍。生川谷。</p>
<h3>一四一　石龍芮</h3>
<p>石龍芮　一名魯果能。一名地椹。味苦，平，無毒。治風寒濕痺，心腹邪氣，利關節，
止煩滿。久服輕身、明目、不老。生川澤石邊。一四二　茅根茅根　一名蘭根。
一名茹根。味甘，寒，無毒。治勞傷、虛羸，補中益氣，除瘀血、血閉、寒熱，
利小便。
其苗，主下水。生山谷、田野。</p>
<h3>一四三　紫苑</h3>
<p>紫菀　一名青菀。味苦，溫，無毒。治欬逆上氣，胸中寒熱結氣，去蠱毒，痿厥，
安五臟。生山谷。</p>
<h3>一四四　紫草</h3>
<p>紫草　一名紫丹。一名紫芺。味苦，寒，無毒。治心腹邪氣，五疸，補中益氣，
利九竅，通水道。生山谷。</p>
<h3>一四五　茜根</h3>
<p>茜根　味苦，寒，無毒。治寒濕風痺，黃疸，補中。生川谷。</p>
<h3>一四六　白鮮皮</h3>
<p>白鮮　味苦，寒，無毒。治頭風，黃疸，欬逆，淋瀝，女子陰中腫痛，濕痺，
死肌不可屈伸、起止、行步。生川谷。</p>
<h3>一四七　酸漿</h3>
<p>酸漿　一名醋漿。味酸，平，無毒。治熱，煩滿，定志，益氣，利水道。產難，
吞其實立產。生川澤及人家田園中。</p>
<h3>一四八　紫參</h3>
<p>紫參　一名牡蒙。味苦，寒，無毒。治心腹積聚，寒熱邪氣。通九竅，利大小便。
治牛病。生山谷。</p>
<h3>一四九　藁本</h3>
<p>藁本　一名鬼卿。一名地新。味辛，溫，無毒。治婦人疝瘕，陰中寒腫痛；
腹中急除風頭痛，長肌膚，悅顏色。生山谷。</p>
<h3>一五〇　狗脊</h3>
<p>狗脊　一名百枝。味苦，平，無毒。治腰背強，關機緩急，周痺，寒濕膝痛。
頗利老人。生川谷。</p>
<h3>一五一　萆薢</h3>
<p>萆薢　味苦，平，無毒。治腰背痛，強骨節，風寒濕周痺，惡瘡不瘳，熱氣。生山谷。</p>
<h3>一五二　白兔藿</h3>
<p>白兔藿　一名白葛。味苦，平，無毒。治蛇、虺、蜂、蠆、猘狗、菜、肉、蠱毒，
鬼疰。生山谷。</p>
<h3>一五三　營實</h3>
<p>營實　一名牆薇。一名牆麻。一名牛棘。味酸，溫，無毒。治癰，疽，惡瘡，
結肉胅筋，敗瘡，熱氣，陰蝕不瘳，利關節。生川谷。</p>
<h3>一五四　薇⿱艹⿲彳缶亍</h3>
<p>薇銜　一名麋銜。味苦，平，無毒。治風濕痺，歷節痛，驚癇，吐舌，悸氣，賊風，
鼠瘻，癰腫。生川澤。</p>
<h3>一五五　水萍</h3>
<p>水萍　一名水花。味辛，寒，無毒。治暴熱身癢，下水氣，勝酒，長鬚髮，止消渴。
久服輕身。生池澤水上。</p>
<h3>一五六　王瓜</h3>
<p>王瓜　一名土瓜。味苦，寒，無毒。治消渴，內痺，瘀血，月閉，寒熱，酸疼。
益氣，愈聾。生平澤田野及人家垣牆間。</p>
<h3>一五七　地榆</h3>
<p>地榆　味苦，微寒，無毒。治婦人乳痙痛、七傷、帶下十二病，止痛，除惡肉，
止汗氣，消酒，明目，治金瘡。生山谷。</p>
<h3>一五八　海藻</h3>
<p>海藻　一名落首。味苦，寒，無毒。治癭瘤氣，頸下核，破散結氣，癰腫，癥瘕，
堅氣，腹中上下鳴，下十二水腫。生東海池澤。</p>
<h3>一五九　澤蘭</h3>
<p>澤蘭　一名虎蘭。一名龍棗。味苦，微溫，無毒。治乳婦衄血，中風餘疾，大腹水腫，
身面四肢浮腫，骨節中水，金瘡，癰腫瘡膿。生諸大澤旁。</p>
<h3>一六〇　防己</h3>
<p>防己　一名解離。味辛，平，無毒。治風寒，溫瘧，熱氣，諸癇，除邪，利大小便，
通腠理，利九竅。生川谷。</p>
<h3>一六一　牡丹</h3>
<p>牡丹　一名鹿韭。一名鼠姑。味辛，寒，無毒。治寒熱，中風，瘛瘲，痙，驚癇，
邪氣，除癥堅，瘀血留舍腸胃，安五臟，療癰瘡。生山谷。</p>
<h3>一六二　款冬花</h3>
<p>款冬花　一名橐吾。一名顆東。一名虎鬚。一名菟奚。味辛，溫，無毒。治咳逆上氣，
善喘，喉痺，諸驚癇，寒熱，邪氣。生山谷及水傍。</p>
<h3>一六三　石韋</h3>
<p>石韋　一名石䩾。味苦，平，無毒。治勞熱邪氣，五癃，閉不通，利小便水道。
生山谷石上。</p>
<h3>一六四　馬先蒿</h3>
<p>馬先蒿　一名馬屎蒿。味苦，平，無毒。治寒熱，鬼疰，中風，濕痺，女子帶下病，
無子。生川澤。</p>
<h3>一六五　女菀</h3>
<p>女菀　味辛，溫，無毒。治風寒洒洒，霍亂，泄利，腸鳴上下無常處，驚癇，寒熱，
百疾。生川谷或山陽。</p>
<h3>一六六　王孫</h3>
<p>王孫　吳名白功草。楚名王孫。齊名長孫。味苦，平，無毒。治五臟邪氣，寒濕痺，
四肢疼酸，膝冷痛。生川谷及城郭垣下。</p>
<h3>一六七　雲實</h3>
<p>雲實　味辛，溫，無毒。治泄利，腸澼，殺蟲，蠱毒，去邪惡，結氣，止痛，除寒熱。
花，主見鬼精物，多食令人狂走。久服輕身，通神明。生川谷。</p>
<h3>一六八　爵床</h3>
<p>爵床　味鹹，寒，無毒。治腰脊痛不得著床，俛仰艱難。除熱，可作浴湯。
生川谷及田野。</p>
<h3>一六九　黃耆</h3>
<p>黃耆　一名戴糝。味甘，微溫，無毒。治癰疽，久敗瘡，排膿止痛，大風癩疾，五痔，
鼠瘻，補虛，小兒百病。生山谷。</p>
<h3>一七〇　黃連</h3>
<p>黃連　一名王連。味苦，寒，無毒。治熱氣，目痛，眥傷泣出，明目，腸澼，腹痛，
下利，婦人陰中腫痛。久服令人不忘。生川谷。</p>
<h3>一七一　五味子</h3>
<p>五味子　一名會及。味酸，溫，無毒。主益氣，欬逆上氣，勞傷羸瘦，補不足，強陰，
益男子精。生山谷。</p>
<h3>一七二　沙參</h3>
<p>沙參　一名知母。味苦，微寒，無毒。治血積，驚氣，除寒熱，補中，益肺氣。
久服利人。生川谷。</p>
<h3>一七三　桔梗</h3>
<p>桔梗　味辛，微溫有小毒。治胸脅痛如刀刺，腹滿，腸鳴幽幽，驚恐悸氣。生山谷。</p>
<h3>一七四　莨菪子</h3>
<p>莨菪子　一名橫唐。味苦，寒，有毒。治齒痛、出蟲，肉痺拘急。使人健行、見鬼。
多食令人狂走。久服輕身、走及奔馬。強志，益力，通神。生海濱、川谷。</p>
<h3>一七五　陸英</h3>
<p>陸英　味苦，寒，無毒。治骨間諸痺，四肢拘攣、疼酸，膝寒痛，陰痿，短氣不足，
腳腫。生川谷。</p>
<h3>一七六　姑活</h3>
<p>姑活　一名冬葵子。味甘，溫，無毒。治大風邪氣，濕痺寒痛。久服輕身，益壽，
耐老。</p>
<h3>一七七　屈草</h3>
<p>屈草　味苦，微寒，無毒。治胸脅下痛，邪氣，腸間寒熱，陰痺。久服輕身，益氣，
耐老。生川澤。</p>
<h3>一七八　別羇</h3>
<p>別羇　味苦，微溫，無毒。治風寒濕痺，身重，四肢疼酸，寒邪，歷節痛。生川谷。</p>
<h3>一七九　翹根</h3>
<p>翹根　味甘，寒，有小毒。治下熱氣，益陰精，令人面悅好，明目。久服輕身，耐老。
生平澤。</p>
<h3>一八〇　萱草</h3>
<p>萱草　一名忘憂。一名宜男。一名歧女。味甘，平，無毒。主安五臟，利心志，
令心好歡樂無憂，輕身，明目。</p>
<h3>一八一梔子</h3>
<p>梔子　一名木丹。味苦，寒，無毒。治五內邪氣，胃中熱氣，面赤，酒皰皶鼻，白癩，
赤癩，瘡瘍。生川谷。</p>
<h3>一八二　竹葉</h3>
<p>竹葉　味苦，平，無毒。治欬逆上氣，溢筋急，惡瘍，殺小蟲。
根，作湯，益氣，止渴，補虛，下氣。
汁，治風痙。
實，通神明，輕身，益氣。</p>
<h3>一八三　蘗（柏）木</h3>
<p>蘗木　一名檀桓。味苦，寒，無毒。治五臟腸胃中結熱，黃疸，腸痔，止泄利，
女子漏下赤白，陰傷，蝕瘡。生山谷。</p>
<h3>一八四　吳茱萸</h3>
<p>吳茱萸　一名藙。味辛，溫，有小毒。主溫中，下氣，止痛，欬逆，寒熱，除濕，
血痺，逐風邪，開腠理。
根，溫，殺三蟲。久服輕身。生川谷。</p>
<h3>一八五　桑根白皮</h3>
<p>桑根白皮　味甘，寒，無毒。治傷中，五勞，六極，羸瘦，崩中，脈絕，補虛益氣。
葉，主除寒熱，出汗。
桑耳，平。黑者。治女子漏下赤白汁，血病，癥瘕積聚，陰痛，陰陽寒熱，無子。
五木耳，一名檽。益氣，不饑，輕身，強志。生山谷。</p>
<h3>一八六　蕪荑</h3>
<p>蕪荑　一名無姑。一名𦽄䕋。味辛，平，無毒。治五內邪氣，散皮膚骨節中淫淫行毒，
去三蟲，化食，逐寸白，散腹中嗢嗢喘息。生川谷。</p>
<h3>一八七　枳實</h3>
<p>枳實　味苦，寒，無毒。治大風在皮膚中，如麻豆苦癢，除寒熱結，止利，長肌肉，
利五臟，益氣，輕身。生川澤。</p>
<h3>一八八　厚朴</h3>
<p>厚朴　味苦，溫，無毒。治中風，傷寒，頭痛，寒熱，驚悸氣，血痺，死肌，去三蟲。
生山谷。</p>
<h3>一八九　秦皮</h3>
<p>秦皮　味苦，微寒，無毒。治風寒濕痺，洒洒寒氣，除熱，目中青翳，白膜。
久服頭不白，輕身。生川谷。</p>
<h3>一九〇　秦椒</h3>
<p>秦椒　味辛，溫，有毒。治風邪氣，溫中，除寒痺，堅齒，長髮，明目。久服輕身，
好顏色，耐老，增年，通神。生川谷。</p>
<h3>一九一　山茱萸</h3>
<p>山茱萸　一名蜀棗。味酸，平，無毒。治心下邪氣，寒熱，溫中，逐寒濕痺，去三蟲。
久服輕身。生山谷。</p>
<h3>一九二　紫葳</h3>
<p>紫葳　一名芺華。一名陵苕。味酸，微寒，無毒。治婦人產乳餘疾，崩中，癥瘕，
血閉，寒熱，羸瘦，養胎。生西海川谷及山陽。</p>
<h3>一九三　豬苓</h3>
<p>豬苓　一名猳豬屎。味甘，平，無毒。治痎瘧，解毒，蠱疰不祥，利水道。久服輕身，
耐老。生山谷。</p>
<h3>一九四　白棘</h3>
<p>白棘　一名棘鍼。味辛，寒，無毒。治心腹痛，癰腫潰膿，止痛。生川谷。</p>
<h3>一九五　龍眼</h3>
<p>龍眼　一名益智。味甘，平，無毒。治五臟邪氣，安志、厭食。久服強魂魄，聰明，
輕身，不老，通神明。生南海山谷。</p>
<h3>一九六　木蘭</h3>
<p>木蘭　一名林蘭。味苦，寒，無毒。治身大熱在皮膚中。去面熱，赤皰，酒皶，惡風，
癲疾，陰下癢濕。明耳目。生山谷。</p>
<h3>一九七　桑上寄生</h3>
<p>桑上寄生　一名寄屑。一名寓木。一名宛童。味苦，平，無毒。。治腰痛，小兒背強，
癰腫，安胎，充肌膚，堅髮齒，長鬚眉。
其實，明目，輕身，通神。生川谷桑樹上。</p>
<h3>一九八　柳花</h3>
<p>柳花　一名柳絮。味苦，寒，無毒。治風水，黃疸，面熱黑。
葉，治馬疥，痂瘡。
實，主潰癰，逐膿血。生川澤。</p>
<h3>一九九　衛矛</h3>
<p>衛矛　一名鬼箭。味苦，寒，無毒。治女子崩中下血，腹滿，汗出，除邪，殺鬼毒，
蠱疰。生山谷。</p>
<h3>一〇〇　合歡</h3>
<p>合歡　一名蠲忿。味甘，平，無毒。主安五臟，和心志，令人歡樂無憂。久服輕身，
明目，得所欲。生山谷。</p>
<h3>二〇一　松蘿</h3>
<p>松蘿　一名女蘿。味苦，平，無毒。治瞋怒，邪氣，止虛汗，頭風，女子陰寒腫痛。
生川谷松樹上。</p>
<h3>二〇二　乾漆</h3>
<p>乾漆　味辛，溫，有毒。治絕傷，補中，續筋骨，填髓腦，安五臟，五緩，六急，
風寒濕痺。
生漆，去長蟲。久服輕身，耐老。生川谷。</p>
<h3>二〇三　石南</h3>
<p>石南　一名鬼目。味辛，平，有毒。主養腎氣，內傷陰衰，利筋骨皮毛。
實，殺蠱毒，破積聚，逐風痺。生山谷。</p>
<h3>二〇四　蔓椒</h3>
<p>蔓椒　一名豕椒。味苦，溫，無毒。治風寒濕痺歷節疼，除四肢厥氣，膝痛。
生川谷及丘冢間。</p>
<h3>二〇五　欒花</h3>
<p>欒花　味苦，寒，無毒。治目痛，淚出，傷眦，消目腫。生川谷。</p>
<h3>二〇六　淮木淮木　一名百歲城中木。味苦，平，無毒。治久欬上氣，傷中，虛羸，</h3>
<p>女子陰蝕，漏下，赤白沃。生平澤。</p>
<h3>二〇七　梅實</h3>
<p>梅實　味酸，平，無毒。主下氣，除熱，煩滿，安心，止肢體痛，偏枯不仁，死肌，
去青黑痣，惡疾。能益氣，不饑。生川谷。</p>
<h3>二〇八　蓼實</h3>
<p>蓼實　味辛，溫，無毒。主明目，溫中，耐風寒，下水氣，面目浮腫，癰瘍。
馬蓼，去腸中蛭蟲，輕身。生川澤。</p>
<h3>二〇九　蔥實</h3>
<p>蔥實　味辛，溫，無毒。主明目，補中不足。
其莖，平。作湯，治傷寒寒熱，出汗，中風，面目腫。
薤，味辛，溫，無毒。治金瘡瘡敗，輕身，不饑，耐老。生平澤。</p>
<h3>二一〇　水蘇</h3>
<p>水蘇　一名芥蒩。味辛，微溫，無毒。主下氣，殺穀，除飲食，辟口臭，去毒。
辟惡氣。久服通神明，輕身，耐老。生池澤。</p>
<h3>二一一　瓜蒂</h3>
<p>瓜蒂　味苦，寒，有毒。治大水身面四肢浮腫，下水，殺蠱毒，欬逆上氣，
及食諸果不消，病在胸腹中，皆吐下之。生平澤。</p>
<h3>二一二　水斳</h3>
<p>水斳　一名水英。味甘，平，無毒。治女子赤沃，止血，養精，保血脈，益氣，
令人肥健，嗜食。生南海，池澤。</p>
<h3>二一三　粟米</h3>
<p>粟米　味鹹，微寒，無毒。主養腎氣，去胃中脾中熱，益氣。
陳粟，味苦，寒，無毒。主胃熱，消渴，利小便。</p>
<h3>二一四　黍米</h3>
<p>黍米　味甘，溫，無毒。主益氣補中。多熱，令人煩。
丹黍米，味苦，微溫，無毒。主欬逆，霍亂，止泄，除熱，止煩渴。</p>
<h3>二一五　麻蕡</h3>
<p>麻蕡　一名麻勃。味辛，平，有毒。治五勞七傷，利五臟，下血，寒氣。
多食令人見鬼狂走。久服通神明，輕身。生川谷。麻子，味甘，平，無毒。
主補中益氣。外服肥健，不老。生川谷。</p>
<h3>二一六　石硫黃</h3>
<p>石硫黃　味酸，溫，有毒。治婦人陰蝕，疽，痔，惡瘡，堅筋骨，除頭禿，
能化金銀銅鐵奇物。青白色。主益肝明月。生東海、生谷中。
　二一七　石膏
石膏　味辛，微寒，無毒。治中風寒熱，心下逆氣，驚喘，口乾，舌焦，不能息，
腹中堅痛，除邪鬼，產乳，金瘡。生山谷。</p>
<h3>二一八　磁</h3>
<p>石磁石　一名玄石。味辛，寒，無毒。治周痺，風濕，肢節中痛，不可持物，
洒洒酸痟，除大熱煩滿及耳聾，生川谷及山陰，有鐵處則生其陽。</p>
<h3>二一九　陽起石</h3>
<p>陽起石　一名白石。味鹹，微溫，無毒。治崩中漏下，破子臟中血，癓瘕結氣，寒熱，
腹痛，無子，陰痿不起，補不足。生山谷。</p>
<h3>二二〇　理石</h3>
<p>理石　一名立制石。味辛，寒，無毒。治身熱，利胃，解煩，益精，明目，破積聚，
去三蟲。生山谷。</p>
<h3>二二一　長石</h3>
<p>長石　一名方石。味辛，寒，無毒。治身熱，四肢寒厥，利小便，通血脈，明目，
去瞖眇，下三蟲，殺蠱毒。久服不饑。生山谷。</p>
<h3>二二二　孔公孽</h3>
<p>孔公孽　一名通石。味辛，溫，無毒。治傷食不化，邪結氣，惡瘡，疽，瘻，痔，
利九竅，下乳汁。生山谷。</p>
<h3>二二三　殷孽</h3>
<p>殷孽　一名薑石。味辛，溫，無毒。治爛傷，治瘀血，泄利，寒熱，鼠瘻，癓瘕，
結氣。生山谷及南海。</p>
<h3>二二四髮髲</h3>
<p>髮髲　味苦，溫，無毒。治五癃，關格不通。利小便水道。治小兒癇，大人痙，
仍自還神化。</p>
<h3>二二五　白馬莖</h3>
<p>白馬莖，味鹹，平，無毒。治傷中，脈絕，陰不起，強志，益氣，長肌肉，肥健，
生子。
眼，平。治驚癇，腹滿，瘧疾。
懸蹄，平。治驚邪，瘛瘲，乳難，辟惡氣，鬼毒，蠱疰，不祥。生平澤。</p>
<h3>二二六　鹿茸</h3>
<p>鹿茸　味甘，溫，無毒。治漏下，惡血，寒熱，驚癇，益氣，強志，生齒，不老。
角，溫，無毒。治惡瘡，癰腫，逐邪惡氣，留血在陰中。</p>
<h3>二二七　羖羊角</h3>
<p>羖羊角　味鹹，溫，無毒。治青盲，明目，殺疥蟲，止寒泄，辟惡鬼、虎、狼，
止驚悸。久服安心，益氣，輕身。生川谷。</p>
<h3>二二八　牡狗陰莖</h3>
<p>牡狗陰莖　一名狗精。味鹹，平，無毒。治傷中，陰痿不起，令強熱大，生子，
除女子帶下十二疾。
膽，平。主明目。</p>
<h3>二二九　羚羊角</h3>
<p>羚羊角　味鹹，寒，無毒。主明目，益氣，起陰，去惡血，注下，辟蠱毒、惡鬼、
不祥，安心氣，常不魘寐。外服強筋骨，輕身。生川谷。</p>
<h3>二三〇　牛黃</h3>
<p>牛黃　味苦，平，有小毒。治驚癇，寒熱，熱盛，狂，痙，除邪，逐鬼。生平澤。
牛角䚡，溫，無毒。下閉血，瘀血疼痛，女人帶下血。
髓，補中，填骨髓。久服增年。
膽，治驚，寒熱。可丸藥。</p>
<h3>二三一　麝香</h3>
<p>麝香　味辛，溫，無毒。主辟惡氣，殺鬼精物，溫瘧，蠱毒，癇，痙，去三蟲。
久服除邪，不夢寤魘寐。生川谷及山中。</p>
<h3>二三二　天鼠屎</h3>
<p>天鼠屎　一名鼠法，一名石肝。味辛，寒，無毒。治面癰腫，皮膚洒洒時痛，
腹中血氣，破寒熱積聚，除驚悸。生山谷。</p>
<h3>二三三　伏翼</h3>
<p>伏翼　一名蝙蝠。味鹹，平，無毒。治目瞑，明目，夜視有精光。久服令人喜樂、
媚好、無憂。生川谷及人家屋間。</p>
<h3>二三四　蠡魚</h3>
<p>蠡魚　一名鮦魚。味甘，寒，無毒。治濕痺，面目浮腫，下大水。生池澤。</p>
<h3>二三五　鯉魚膽</h3>
<p>鯉魚膽　味苦，寒，無毒。治目熱赤痛，青盲，明目。久服強悍，益志氣。生池澤。</p>
<h3>二三六　烏賊魚骨</h3>
<p>烏賊魚骨　味鹹，微溫，無毒。治女子漏下赤白經汁，血閉，陰蝕腫痛，寒熱，驚氣，
癥瘕，無子。生東海，池澤。</p>
<h3>二三七　海蛤</h3>
<p>海蛤　一名魁蛤。味苦，平，無毒。治欬逆上氣，喘息，煩滿，胸痛，寒熱。生東海。
文蛤，味鹹，平，無毒。治惡瘡蝕，五痔，大孔出血。生東海。表有文。</p>
<h3>二三八　石龍子</h3>
<p>石龍子　一名蜥蜴。味鹹，寒，有小毒。治五癃，邪結氣，破石淋，下血，
利小便水道。生川谷及山石間。</p>
<h3>二三九　白殭蠶</h3>
<p>白殭蠶　味鹹，平，無毒。治小兒驚癎，夜啼，去三蟲，滅黑䵟，令人面色好，
男子陰易病。生平澤。</p>
<h3>二四〇　桑螵蛸</h3>
<p>桑螵蛸　一名蝕肬。味鹹，平，無毒。治傷中，疝瘕，陰痿。益精生子，女子血閉，
腰痛，通五淋，利小便水道。生桑枝上。</p>
<h2>神農本草經卷四下藥（下品）</h2>
<h3>二四一　附子</h3>
<p>附子　一名茛。味辛，溫，有大毒。治風寒，欬逆，邪氣，溫中，金瘡，破癥堅，
積聚，血瘕，寒濕痿躄，拘孿，膝痛，不能行步。生山谷。</p>
<h3>二四二　烏頭</h3>
<p>烏頭　一名奚毒，一名即子，一名烏喙。味辛，溫，有大毒。治中風，惡風洒洒，
出汗，除寒濕痺，欬逆上氣，破積聚，寒熱。
其汁，煎之名射罔。殺禽獸。生山谷。</p>
<h3>二四三　天雄</h3>
<p>天雄　一名白幕。味辛，溫，有大毒。治大風，寒濕痺，歷節痛，拘孿緩急，破積聚、
邪氣，金瘡，強筋骨，輕身，健行。生山谷。</p>
<h3>二四四　半夏</h3>
<p>半夏　一名地文，一名水玉。味辛，平，有毒。治傷寒，寒熱，心下堅，下氣，
喉咽腫痛，頭眩，胸脹，欬逆，腸鳴，止汗。生山谷。</p>
<h3>二四五　虎掌</h3>
<p>虎掌　味苦，溫，有大毒。治心痛，寒熱，結氣，積聚，伏梁，傷筋，痿，拘緩，
利水道。生山谷。</p>
<h3>二四六　鳶尾</h3>
<p>鳶尾。味苦，平，有毒。治蠱毒，邪氣，鬼疰，諸毒。破癥瘕，積聚。去水，下三蟲。
生山谷。</p>
<h3>二四七　大黃</h3>
<p>大黃。味苦，寒，無毒。主下瘀血，血閉，寒熱，破癥瘕積聚，留飲，宿食，
蕩滌腸胃，推陳致新，通利水穀，調中化食，安和五臟。生山谷。</p>
<h3>二四八　葶藶</h3>
<p>葶藶　一名大室，一名大適。味辛，寒，無毒。治癥瘕，積聚，結氣，飲食寒熱，
破堅，逐邪，通利水道。生平澤及田野。</p>
<h3>二四九　草蒿</h3>
<p>草蒿　一名青蒿，一名方潰。味苦，寒，無毒。治疥瘙痂癢，惡瘡，殺蝨，
留熱在骨節間，明目。生川澤。</p>
<h3>二五〇　旋覆花　</h3>
<p>旋覆花　一名金沸草，一名盛椹。味鹹，溫，有小毒。治結氣，脅下滿，驚悸，除水，
去五臟間寒熱，補中，下氣。生平澤川谷。</p>
<h3>二五一　藜蘆</h3>
<p>藜蘆　一名蔥苒。味辛，寒，有毒。治蠱毒，欬逆，泄利，腸澼，頭瘍，疥瘙，惡瘡，
殺諸蟲毒，去死肌。生山谷。</p>
<h3>二五二　鉤吻</h3>
<p>鉤吻　一名野葛。味辛，溫，有大毒。治金瘡，乳痙，中惡風，欬逆上氣，水腫，
殺鬼疰，蠱毒。生山谷。</p>
<h3>二五三　射干</h3>
<p>射干　一名烏扇，一名烏蒲。味苦，平，有毒。治欬逆上氣，喉痺，咽痛，不得消息，
散結氣，腹中邪逆，食飲大熱。生川谷田野。</p>
<h3>二五四　蛇含</h3>
<p>蛇含　一名蛇銜。味苦，微寒，無毒。治驚癇，寒熱邪氣，除熱，金瘡，疽，痔，
鼠瘻，惡瘡，頭瘍。生山谷。</p>
<h3>二五五　恆山</h3>
<p>恆山　一名玄草。味苦，寒，有毒。治傷寒寒熱，發溫瘧，鬼毒，胸中痰結，吐逆。
生川谷。</p>
<h3>二五六　蜀漆</h3>
<p>蜀漆　味辛，平，有毒。治瘧，及欬逆，寒熱，腹中癥堅，痞結，積聚，邪氣，蠱毒。
鬼疰。生川谷。</p>
<h3>二五七　甘遂</h3>
<p>甘遂　一名主田。味苦，寒，有毒。治大腹疝瘕，腹滿，面目浮腫，留飲，宿食，
破癥堅積聚，利水、穀道。生川谷。</p>
<h3>二五八　白蘝</h3>
<p>白蘝　一名菟核，一名白草。味苦，平，無毒。治癰腫，疽，瘡，散結氣，止痛，
除熱，目中赤，小兒驚癇，溫瘧，女子陰中腫痛。生山谷。</p>
<h3>二五九　青葙子青葙子　一名草蒿，一名萋蒿。味苦，微寒，無毒。治邪氣，</h3>
<p>皮膚中熱，風瘙身癢，殺三蟲。
子，名草決明，治唇口青，生平谷道傍。</p>
<h3>二六〇　雚菌</h3>
<p>雚菌　一名雚盧。味鹹，平，有小毒。治心痛，溫中，去長蟲，白癬，蟯蟲，蛇螫毒，
癥瘕，諸蟲。生東海池澤及渤海。</p>
<h3>二六一　白及</h3>
<p>白及　一名甘根，一名連及草。味苦，平，無毒。治癰腫，惡瘡，敗疽，傷陰，死肌，
胃中邪氣，賊風，鬼擊，痱緩不收。生川谷。</p>
<h3>二六二　大戟</h3>
<p>大戟　一名邛鉅。味苦，寒，有小毒。治蠱毒，十二水，腹滿急痛，積聚，中風，
皮膚疼痛，吐逆。</p>
<h3>二六三　澤漆　</h3>
<p>澤漆　味苦，微寒，無毒。治皮膚熱，大腹水氣，四肢面目浮腫，丈夫陰氣不足。
生川澤。</p>
<h3>二六四　茵芋</h3>
<p>茵芋　味苦，溫，有毒。治五臟邪氣，心腹寒熱，羸瘦，如瘧狀，發作有時，
諸關節風濕痺痛，生川谷。</p>
<h3>二六五　貫眾</h3>
<p>貫眾　一名貫節，一名貫渠，一名百頭，一名虎卷，一名扁苻。味苦，微寒，有毒。
治腹中邪熱氣，諸毒，殺三蟲。生山谷。</p>
<h3>二六六　蕘花</h3>
<p>蕘花　味苦，寒，有毒。治傷寒，溫瘧，下十二水，破積聚大堅，癥瘕，
蕩滌腸胃中留癖飲食，寒熱邪氣，利水道。生川谷。</p>
<h3>二六七　牙子</h3>
<p>牙子　一名狼牙。味苦，寒，有毒。治邪氣，熱氣，疥瘙，惡瘍，瘡，痔，去白蟲。
生川谷。</p>
<h3>二六八　羊躑躅</h3>
<p>羊躑躅　味辛，溫，有大毒。治賊風在皮膚中淫淫痛，溫瘧，惡毒，諸痺。生川谷。</p>
<h3>二六九　芫花</h3>
<p>芫花　一名去水。味辛，溫，有小毒。治欬逆上氣，喉鳴，喘，咽腫，短氣，蠱毒，
鬼瘧，疝瘕，癰腫，殺蟲、魚。生川谷。</p>
<h3>二七〇　商陸</h3>
<p>商陸　一名䓪根。味辛，平，有毒。治水脹，疝瘕，痺，熨除癰腫，殺鬼精物。
生川谷。</p>
<h3>二七一　羊蹄</h3>
<p>羊蹄　一名東方宿，一名連蟲陸，一名鬼目。味苦，寒，無毒。治頭禿，疥瘙，除熱，
女子陰蝕。生川澤。</p>
<h3>二七二　萹蓄</h3>
<p>萹蓄　一名萹竹。味苦，平，無毒。治浸淫，疥瘙，疽，痔，殺三蟲。生山谷。</p>
<h3>二七三　狼毒</h3>
<p>狼毒　一名續毒。味辛，平，有大毒。治欬逆上氣，破積聚，飲食寒熱，水氣，惡瘡，
鼠瘻，疽蝕，鬼精，蠱毒，殺飛鳥走獸。生山谷。</p>
<h3>二七四　鬼臼　</h3>
<p>鬼臼　一名爵犀，一名馬目毒公，一名九臼。味辛，溫，有毒。主殺蠱毒，鬼疰，
精物，辟惡氣不祥，逐邪，解百毒。生山谷。</p>
<h3>二七五　白頭翁</h3>
<p>白頭翁　一名野丈人，一名胡王使者。味苦，溫，有毒。治溫瘧，狂昜，寒熱，
癥瘕積聚，癭氣，逐血，止痛，治金瘡。生山谷及田野。</p>
<h3>二七六　羊桃</h3>
<p>羊桃　一名鬼桃，一名羊腸。味苦，寒，有毒。治熛熱，身暴赤色，風水，積聚，
惡瘍，除小兒熱，生山林川谷及田野。</p>
<h3>二七七　女青</h3>
<p>女青　一名雀瓢。味辛，平，有毒。治蠱毒，逐邪惡氣，殺鬼，溫瘧，辟不祥，
生山谷。</p>
<h3>二七八　連翹</h3>
<p>連翹　一名異翹，一名蘭華，一名折根，一名軹，一名三廉。味苦，平，無毒。
治寒熱，鼠瘻，瘰癧，癰腫，惡瘡，癭瘤，結熱，蠱毒。生山谷。</p>
<h3>二七九　石下長卿</h3>
<p>石下長卿　一名徐長卿。味鹹，平，有毒。治鬼疰精物，邪惡氣，殺百精，蠱毒，
老魅，注易，亡走，啼哭，悲傷恍惚。生池澤、山谷。</p>
<h3>二八〇　䕡茹</h3>
<p>䕡茹　味辛，寒，有小毒。主蝕惡肉，敗瘡，死肌，殺疥蟲，排膿、惡血，除大風，
熱氣，善忘，不樂。生川谷。</p>
<h3>二八一　烏韮</h3>
<p>烏韮　味甘，寒，無毒。治皮膚往來寒熱，利小腸膀胱氣。生山谷石上。</p>
<h3>二八二　鹿藿</h3>
<p>鹿藿　味苦，平，無毒。治蠱毒，女子腰腹痛，不樂，腸癰，瘰癧，瘍氣。生山谷。</p>
<h3>二八三　蚤休</h3>
<p>蚤休　一名蚩休。味苦，微寒，有毒。治驚癇，搖頭。弄舌，熱氣在腹中，癲疾，
癰瘡，陰蝕，下三蟲，去蛇毒。生川谷。</p>
<h3>二八四　石長生</h3>
<p>石長生　一名丹草。味鹹，微寒，有毒。治寒熱，惡瘡，大熱，辟鬼氣不祥。生山谷。</p>
<h3>二八五　藎草</h3>
<p>藍草　味苦，平，無毒。治久欬上氣，喘逆，久寒，驚悸，痂疥，白禿，瘍氣，
殺皮膚小蟲。生川谷。</p>
<h3>二八六　牛扁</h3>
<p>牛扁　味苦，微寒，無毒。治身皮瘡熱氣，可作浴湯，殺牛蝨、小蟲，又治牛病。
生川谷。</p>
<h3>二八七　夏枯草</h3>
<p>夏枯草　一名夕句，一名乃東。味苦，辛，寒，無毒。治寒熱瘰癧，鼠瘻，頭瘡，
破癥，散癭結氣，腳腫，濕痺，輕身。生川谷。</p>
<h3>二八八　敗醬</h3>
<p>敗醬　一名鹿腸。味苦，平，無毒。治暴熱，火瘡赤氣，疥瘙，疽，痔，馬鞍熱氣。
生川谷。</p>
<h3>二八九　白薇</h3>
<p>白薇　味苦，平，無毒。治暴中風，身熱，肢滿，忽忽不知人。狂惑，邪氣，寒熱，
酸疼，溫瘧洒洒、發作有時。生平原、川谷。</p>
<h3>二九〇　積雪草</h3>
<p>積雪草　味苦，寒，無毒。治大熱，惡瘡，癰疽，浸淫，赤熛，皮膚赤，身熱。
生川谷。</p>
<h3>二九一　蜀羊泉</h3>
<p>蜀羊泉　味苦，微寒，無毒。治頭禿，惡瘡，熱氣，疥瘙，痂癬蟲，齲齒。生川谷。</p>
<h3>二九二　巴豆</h3>
<p>巴豆　一名巴菽。味辛，溫，有大毒。治傷寒，溫瘧，寒熱，破癥瘕，結聚堅積，
留飲痰癖，大腹水脹，蕩蓧五臟六腑，開通閉塞，利水穀道，去惡肉，除鬼毒、
蠱疰邪物，殺蟲、魚。生川谷。</p>
<h3>二九三　蜀椒</h3>
<p>蜀椒　味辛，溫，有毒。治邪氣，欬逆，溫中，逐骨節皮膚死肌，寒濕痺痛，下氣，
久服之頭不白，輕身，增年。生川谷。</p>
<h3>二九四　皂莢</h3>
<p>皂莢　味辛，鹹，溫，有小毒。治風痺，死肌，邪氣，風頭，淚出，利九竅，殺精物。
生川谷。</p>
<h3>二九五　楝實</h3>
<p>楝實　味苦，寒，有小毒。治溫疾，傷寒，大熱，煩狂，殺三蟲，疥，瘍，
利小便水道。生山谷。</p>
<h3>二九六　郁李仁</h3>
<p>郁李仁　一名爵李。味酸，平，無毒。治大腹水腫，面目四肢浮腫，利小便水道。
根，治齒斷腫，齲齒，堅齒。生高山川谷及丘陵。</p>
<h3>二九七　莽草</h3>
<p>莽草　味辛，溫，有毒。治風頭，癰腫，乳癰，疝瘕，除結氣，疥瘙，殺蟲、魚。
生山谷。</p>
<h3>二九八　雷丸</h3>
<p>雷丸　一名雷矢。味苦，寒，有小毒。主殺三蟲，逐毒氣，胃中熱，利丈夫，
不利女子。作膏摩，除小兒百病。生山谷土中。</p>
<h3>二九九　梓白皮</h3>
<p>梓白皮　味苦，寒，無毒。治熱，去三蟲。
花、葉，擣敷豬瘡。飼豬，肥大三倍。生山谷。</p>
<h3>三〇〇　桐葉</h3>
<p>桐葉　味苦，寒，無毒。治惡蝕瘡著陰。
皮，治五痔，殺三蟲。
花，主敷豬瘡，飼豬，肥大三倍。生山谷。</p>
<h3>三〇一 　藥實根</h3>
<p>藥實根　一名連木。味辛，溫，無毒。治邪氣，諸痺疼酸，續絕傷，補骨髓。生山谷。</p>
<h3>三〇二　黃環</h3>
<p>黃環　一名凌泉，一名大就。味苦，平，有毒。治蠱毒，鬼疰，鬼魅，邪氣在臟中，
除欬逆，寒熱。生山谷。</p>
<h3>三〇三　溲疏</h3>
<p>溲疏　味辛，寒，無毒。治身皮膚中熱，除邪氣，止遺溺。生川谷及田野故丘墟地。
可作浴湯。</p>
<h3>三〇四　鼠李</h3>
<p>鼠李　治寒熱，瘰癧瘡。生田野。</p>
<h3>三〇五　桃核仁</h3>
<p>桃核仁　味苦，平，無毒。治瘀血，血閉瘕，邪氣，殺小蟲。
桃花。殺疰惡鬼，令人好顏色。
桃梟。在樹不落，微溫，主殺百鬼精物。
桃毛，平，主下血瘕，寒熱，積聚，無子。
桃蠹，殺鬼，辟邪惡不祥。生川谷。</p>
<h3>三〇六　杏核仁</h3>
<p>杏核仁　味甘，溫，有毒。治欬逆上氣，腸中雷鳴，喉痺，下氣，產乳，金瘡，寒心，
賁豚。生川谷。</p>
<h3>三〇七　假蘇</h3>
<p>假蘇　一名鼠蓂。味辛，溫，無毒。治寒熱，鼠瘻，瘰癧生瘡，破結聚氣，下瘀血，
除濕痺，生川澤。</p>
<h3>三〇八　苦瓠</h3>
<p>苦瓠　味苦，寒，有毒。治大水，面目四肢浮腫，下水，令人吐。生川澤。</p>
<h3>三〇九　大豆黃卷</h3>
<p>大豆黃卷　味甘，平，無毒。治濕痺，筋攣，膝痛。
生大豆。平。塗癰腫，煮汁飲，殺鬼毒。止痛。
赤小豆，平。主下水，排癰腫膿血。
生平澤。</p>
<h3>三一〇　腐</h3>
<p>婢腐婢　小豆花也。味辛，平，無毒。治痎瘧，寒熱，邪氣，泄利，陰不起，
病酒頭痛。</p>
<h3>三一一　石膽</h3>
<p>石膽　一名畢石。味酸，寒，有毒。主明目，目痛，金瘡，諸癇、痙，女子陰蝕痛，
石淋，寒熱，崩中下血，諸邪毒氣，令人有子。鍊餌服之，不老。久服增壽，神仙。
能化鐵為銅，成金銀。生山谷大石間。</p>
<h3>三一二　雄黃</h3>
<p>雄黃　一名黃食石。味苦，平，有毒。治寒熱，鼠瘻，惡瘡，疽，痔，死肌，殺精物、
惡鬼，邪氣，百蟲毒腫，勝五兵，鍊食之，輕身，神仙。生山谷山之陽。</p>
<h3>三一三　雌黃</h3>
<p>雌黃　味辛，平，有毒。治惡瘡，頭禿，痂疥，殺毒蟲、蝨，身癢，邪氣，諸毒。
鍊之，久服輕身，增年，不老。生山谷。</p>
<h3>三一四　水銀</h3>
<p>水銀　味辛，寒，有毒。治疥瘙痂瘍，白禿，殺皮膚中蟲、蝨，墮胎，除熱，殺金、
銀、銅、錫毒，鎔化還復為丹。久服神仙，不死。生平土，出於丹砂。</p>
<h3>三一五　膚</h3>
<p>青膚青　一名推青。味辛，平，無毒。治蠱毒，及蛇、菜、肉諸毒，惡瘡。生川谷。</p>
<h3>三一六　凝水石</h3>
<p>凝水石　一名白水石。味辛，寒，無毒。治身熱，腹中積聚，邪氣，皮中如火燒，
煩滿。水飲之，久服不饑。生山谷。</p>
<h3>三一七　鐵落</h3>
<p>鐵落　味辛，平，無毒。治風熱，惡瘡，瘍疽瘡，痂疥，氣在皮膚中。
鐵精，平。主明目，化銅。
鐵，主堅肌，耐痛。生平澤。</p>
<h3>三一八　鉛丹</h3>
<p>鉛丹　味辛，微寒，治吐逆，胃反，驚癇，癲疾，除熱，下氣，鍊化還成九光，
久服通神明。生平澤。</p>
<h3>三一九　粉錫</h3>
<p>粉錫　一名解錫。味辛，寒，無毒。治伏屍，毒螫，殺三蟲。
錫鏡鼻，平。治女子血閉，癥瘕，伏腸，絕孕。生山谷。</p>
<h3>三二〇　代赭</h3>
<p>代赭　一名須丸。味苦，寒，無毒。治鬼疰，賊風，蠱毒，殺精物惡鬼，腹中毒，
邪氣，女子赤沃漏下。生山谷。</p>
<h3>三二一　鹵鹹</h3>
<p>鹵鹹　一名寒石。味苦，寒，無毒。治大熱，消渴，狂煩，除邪及吐下蠱毒，柔肌膚。
生鹽池。大鹽，一名胡鹽。寒，無毒。治腸胃結熱，令人吐。生池澤。
戎鹽。主明目，目痛，益氣，堅肌骨，去毒蠱。生北地。</p>
<h3>三二二　青琅玕</h3>
<p>青琅玕　一名石珠。味辛，平，無毒。治身癢，火瘡，癰傷，白禿，疥瘙，死肌。
生平澤。</p>
<h3>三二三　礜石</h3>
<p>礜石　一名青分石，一名立制石，一名固羊石。味辛，大熱，有毒。治寒熱，鼠瘻，
蝕瘡，死肌，風痺，腹中堅癖，邪氣，除熱。生山谷。</p>
<h3>三二四　石灰</h3>
<p>石灰　一名惡灰。味辛，溫。治疽，瘍，疥瘙，熱氣，惡瘡，癩疾，死肌，墮眉，
殺痔蟲，去黑子、息肉。生川谷。</p>
<h3>三二五　白堊</h3>
<p>白堊。味苦，溫，無毒。治女子寒熱，癥瘕，月閉，積聚，陰腫痛，漏下，無子。
生山谷。</p>
<h3>三二六　冬灰</h3>
<p>冬灰　一名藜灰。味辛，微溫。治黑子，去肬，息肉，疽蝕，疥瘙。生川澤。</p>
<h3>三二七　六畜毛蹄甲</h3>
<p>六畜毛蹄甲　味鹹，平，有毒。治鬼疰，蠱毒，寒熱，驚癇，癲，痙，狂走。
駱駝毛，尤良。</p>
<h3>三二八　犀角</h3>
<p>犀角　味苦，寒，無毒。治百毒，蠱疰，邪鬼，瘴氣，殺鉤吻、鴆羽、蛇毒，除邪，
不迷惑，魘寐，外服輕身。生山谷。</p>
<h3>三二九　豚卵</h3>
<p>豚卵　一名豚顛。味甘，溫，無毒。治驚癇，癲疾，鬼疰，蠱毒，除寒熱，賁豚，
五癃，邪氣，攣縮。
懸蹄，平。主五痔，伏熱在腸，腸癰內蝕。</p>
<h3>三三〇　麋脂</h3>
<p>麋脂　一名官脂。味辛，溫，無毒。治癰腫，惡瘡，死肌，風寒濕痺，四肢拘緩不收，
風頭腫，氣通腠理。生山谷及淮海邊。</p>
<h3>三三一　鼺（鼯）鼠</h3>
<p>鼺鼠　微溫。主墮胎，令產易。生平谷。</p>
<h3>三三二　燕屎</h3>
<p>燕屎　味辛，平，有毒。治蠱毒，鬼疰，逐不祥邪氣，破五癃，利小便。生高山平谷。</p>
<h3>三三三　龜甲</h3>
<p>龜甲　一名神屋。味鹹，平，有毒。治漏下赤白，破癥瘕，痎瘧，五痔，陰蝕，濕痺，
四肢重弱，小兒顖不合，外服輕身，不饑。生南海、池澤及湖水中。</p>
<h3>三三四　蝦蟇</h3>
<p>蝦蟇　味辛，寒，有毒。治邪氣，破癥堅血，癰腫，陰瘡，服之不患熱病。
生江湖池澤。</p>
<h3>三三五　鮀魚甲</h3>
<p>鮀魚甲　味辛，微溫，有毒。治心腹癥瘕，伏堅積聚，寒熱，女子崩中下血五色，
小腹陰中相引痛，瘡疥死肌。生南海池澤。</p>
<h3>三三六　鱉甲</h3>
<p>鱉甲　味鹹，平，無毒。治心腹癥瘕堅積，寒熱，去痞，息肉，陰蝕，痔，惡肉。
生池澤。</p>
<h3>三三七　蚱蟬</h3>
<p>蚱蟬　味鹹，寒，無毒。治小兒驚癇，夜啼，癲病，寒熱。生楊柳上。</p>
<h3>三三八　露蜂房</h3>
<p>露蜂房　一名蜂腸。味苦，平，有毒。治驚癇，瘛瘲，寒熱，邪氣，癲疾，鬼精，
蠱毒，腸痔。生山谷。</p>
<h3>三三九　馬刀</h3>
<p>馬刀　味辛，微寒，有毒。治漏下赤白，寒熱，破石淋，殺禽獸、賊鼠。
生江湖池澤及東海。</p>
<h3>三四〇　蟹</h3>
<p>蟹　味鹹，寒，有毒。治胸中邪氣，熱結痛，喎僻，面腫，敗漆。燒之致鼠。
生池澤諸水中。</p>
<h3>三四一　蛇蛻</h3>
<p>蛇蛻　一名龍子衣，一名蛇符，一名龍子單衣，一名弓皮。味鹹，平，無毒。
治小兒百二十種驚癇，瘛瘲，癲疾，寒熱，腸痔，蟲毒，蛇癇。生川谷及田野。</p>
<h3>三四二　蝟皮</h3>
<p>蝟皮　味苦，平，無毒。治五痔，陰蝕，下血赤白，五色血汁不止，陰腫痛引腰背。
酒者殺之。生川谷、田野。</p>
<h3>三四三　蠮螉</h3>
<p>蠮螉　味辛，平，無毒。治久聾，欬逆，毒氣，出刺，出汗。生川谷或人屋閒。</p>
<h3>三四四　蜣螂</h3>
<p>蜣蜋　一名蛣蜣。味鹹，寒，有毒。治小兒驚癇，瘛瘲，腹脹，寒熱，大人癲疾，
狂昜。生池澤。</p>
<h3>三四五　蛞蝓</h3>
<p>蛞蝓　一名陵蠡。味鹹，寒，無毒。治賊風喎僻，胅筋及脫肛，驚癇，攣縮。
生池澤及陰地、沙石、垣下。</p>
<h3>三四六　白頸蚯蚓</h3>
<p>白頸蚯蚓　味鹹，寒，無毒。治蛇瘕，去三蟲，伏屍，鬼疰，蠱毒，殺長蟲。
仍自化作水。生平土。</p>
<h3>三四七　蠐螬</h3>
<p>蠐螬　一名蟦蠐。味鹹，微溫，有毒。治惡血，血瘀，痺氣，破折，血在脅下堅滿痛，
月閉，目中淫膚，青翳，白膜。生平澤及人家積糞草中。</p>
<h3>三四八　石蠶</h3>
<p>石蠶　一名沙蝨。味鹹，寒，有毒。治五癃，破石淋，墮胎。
肉，解結氣，利水道，除熱。生池澤。</p>
<h3>三四九　雀甕</h3>
<p>雀甕　一名躁舍。味甘，平，無毒。治小兒驚癇，寒熱，結氣，蠱毒，鬼疰。
生樹枝間。</p>
<h3>三五〇　樗雞</h3>
<p>樗雞　味苦，平，有小毒。治心腹邪氣，陰痿，益精，強志，生子，好色，補中，
輕身。生川谷樗樹上。</p>
<h3>三五一　斑蝥（貓）</h3>
<p>斑蝥　一名龍尾。味辛，寒，有毒。治寒熱，鬼疰，蠱毒，鼠瘻，惡瘡，疽蝕，死肌，
破石癃。生川谷。</p>
<h3>三五二　螻蛄</h3>
<p>螻蛄　一名蟪蛄，一名天螻，一名𧏚。味鹹，寒，無毒。治產難，出肉中刺，潰癰腫，
下哽噎，解毒，除惡瘡，生平澤。</p>
<h3>三五三　蜈蚣</h3>
<p>蜈蚣　味辛，溫，有毒。治鬼疰，蠱毒，噉諸蛇、蟲、魚毒，殺鬼物老精，溫瘧，
去三蟲。生川谷。</p>
<h3>三五四　馬陸</h3>
<p>馬陸　一名百足。味辛，溫，有毒。治腹中大堅癥，破積聚，息肉，惡瘡，白禿。
生川谷。</p>
<h3>三五五　地膽</h3>
<p>地膽　一名蚖青。味辛，寒，有毒。治鬼疰，寒熱，鼠瘻，惡瘡，死肌，破癥瘕，
墮胎。生川谷。</p>
<h3>三五六　螢火　</h3>
<p>螢火　一名夜光。味辛，微溫，無毒。主明目，小兒火瘡，傷熱氣，蠱毒，鬼疰，
通神精。生階地、池澤。</p>
<h3>三五七　衣魚</h3>
<p>衣魚　一名白魚。味鹹，溫，無毒。治婦人疝瘕，小便不利，小兒中風，項強，
皆宜摩之。生平澤。</p>
<h3>三五八　鼠婦</h3>
<p>鼠婦　一名負燔，一名𧉅蝛。味酸，溫，無毒。治氣癃不得小便，婦人月閉，血瘕，
癇，痙，寒熱，利水道。生平谷及人家地上。</p>
<h3>三五九　水蛭</h3>
<p>水蛭　一名至掌。味鹹，平，有毒。主逐惡血，瘀血，月閉，破血瘕，積聚，無子，
利水道。生池澤。</p>
<h3>三六〇　木䖟</h3>
<p>木䖟（蝱，䖟）　一名魂常。味苦，平，有毒。治目赤痛，眦傷，淚出，瘀血，血閉，
寒熱，酸痟，無子。生川澤。</p>
<h3>三六一　蜚䖟</h3>
<p>蜚䖟　味苦，微寒，有毒。主逐瘀血，破下血積，堅痞癥瘕，寒熱，通利血脈及九竅。
生川谷。</p>
<h3>三六二　蜚蠊</h3>
<p>蜚蠊　味鹹，寒，有毒。治血瘀癥堅，寒熱，破積聚，喉咽痺，內寒無子。
生川澤及人家屋間。</p>
<h3>三六三　⿸庶䖵蟲</h3>
<p>⿸庶䖵蟲　一名地鱉。味鹹，寒，有毒。治心腹寒熱洒洒，血積，癥瘕，破堅，下血閉，
生子大良。生川澤及沙中、人家牆壁下土中濕處。</p>
<h3>三六四　貝子</h3>
<p>貝子　一名貝齒。味鹹，平，有毒。治目瞖，鬼疰，腹痛，下血，五癃，利水道。
生東海池澤。</p>
<h3>三六五　彼子</h3>
<p>彼子　味甘，溫，有毒。治腹中邪氣，去三蟲，蛇螫，蠱毒，鬼疰，伏屍。生山谷。</p>
