<header data-type="book">
<h1>三元參贊延壽書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李鵬飛</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1294">公元1294年</data></dd></div>
<div><dt>底本</dt><dd>明正統三年朝鮮全州府刊本（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故觀011099）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>黃帝問岐伯曰：「余聞上古之人，春秋皆度百歲而動作不衰，今時之人，年至半百而動作皆衰，時世異耶？人將失之耶？」岐伯對曰：「上古之人，其知道者，法於陰陽，和於術數，食飲有節，起居有常，不妄作勞，故能形與神俱，而盡終其天年。今時之人不然也。以酒為漿，以妄為常，以欲竭其精，以耗散其真，不知持滿，不時御神，務快其心，逆於生樂，故半百而衰也。」又曰：「知之則強，不知則老，知則耳目聰明，身體輕健，老者復壯，壽命與天地無窮」。此僕養生延壽之書所由作歟。所謂養生者，既非爐鼎之訣，使憚於金石之費者不能為；又非吐納之術，使牽於事物之變者不暇為。郭橐馳有云：「馳非能使人壽且孳也，以能順人之天，而致其性焉耳」。僕此書，不過順乎人之天，皆日用而不可缺者，故他書可有也，可無也。此書則可有，也必不可無也。僕生甫二周，而生母遷於淮北，壯失所在，哀號，奔走淮東西者，凡三年。天憫其衷，見母於蘄之羅田。自是歲於涉淮。一日道出龐居士舊址，遇一道人，綠髮童顏，問姓，曰：「宮也，」問所之，曰：「採藥。」與語移日，清越可喜，同宿焉。道人夜坐達旦，問其齒，九十餘矣。詰其所以壽？曰：「子聞三元之說乎」？時匆匆不暇叩。後十年戊辰，試太學至禮部，少憩飛來峰下，忽復遇其人，貌不減舊。始異之，攜手同飲。因詰向語，道人曰：「此常理耳。」余稽手請之，曰：「人之壽天元六十，地元六十，人元六十，共一百八十歲。不知戒慎，則日加損焉。精神不固，則天元之壽減矣；謀為過當，則地元之壽減矣；飲食不節，則人元之壽減矣。當寶嗇而不知所愛，當禁忌而不知所避，神日以耗，病日以來，而壽日以促矣。其說皆具見於黃帝、岐伯、《素問》、老聃、莊周及名醫書中。其與孔孟無異，子歸以吾說求之，無他術也。復為余細析其說，且遺以二圖，余再拜謝。蚤夜以思之，前之所為，其可悔者多矣。於是以其說，搜諸書集而成編，以自警焉。僕年七十，父年且九十一矣，蒙恩免役，侍奉他無以仰報。</p>
<p>明時願鋟諸梓與眾，共之庶讀者詳焉。不敢以父母遺體行，殆安樂壽考，以泳太平，似於天朝好生之德，不為無補云。</p>
<p><u>峕至元辛卯菊月吉日，九華澄心老人李鵬飛</u></p>

<h1>卷之首</h1>

<h2>人說</h2>
<p>天地之間人為貴，然囿於形而莫知其所以貴也。頭圓象天，足方象地，目象日月，毛髮肉骨象山林土石，呼為風，呵為露，喜而景星慶雲，怒而震霆迅雷，血液流潤，而江河淮海。至於四肢之四時，五臟之五行，六腑之六律，若是者，吾身天地同流也。豈不貴乎？按：藏教父母及子相感，業神入胎，地水火風，眾緣和合，漸得長生。一七日如藕根；二七日如稠酪；三七日如鞋襪；四七日如溫石；五七日有風觸胎，名攝提，頭及兩臂脛，五種相現；六七日有風，名旋轉，兩手足四相現；七七及八七日，手足十指二十四相現；九七日眼、耳、鼻、口及下二穴、大小便處九種相現；十七日有風，名普門吹，令堅實及生五臟；十一七日上下氣通；十二七日大小腸生；十三七日漸知飢渴，飲食滋味，皆從臍入；十四七日身前身後，左右二邊各生五十條脈；十五七日又生二十條脈，一身之中共有八百吸氣之脈，至是皆具；十六七日有風，名甘露，安置兩眼，通諸出入息氣；十七七日有風，名毛拂，能令眼、耳、鼻、口、咽喉、胸臆一切合入之處，皆得通滑；十八七日有風，名無垢，能令六根清淨；十九七日眼耳鼻舌四根成就得種報，曰身命意；二十七日有風，名堅固，二腳二手二十指節至，一身二百大骨及諸小骨，一切皆生；二十一日有風，名生起，能令生肉；二十二七日有風，名浮流，能令生血；二十三七日生皮；二十四七日皮膚光悅；二十五七日血肉滋潤；二十六七日發毛爪甲皆與脈通；二十七七日發毛爪甲悉皆生就；二十八七日生屋宇園池河等八想；二十九七日各隨自業，或黧或白；三十七日黧白想現；三十一七日至三十四七日漸得增長；三十五七日肢體具足；三十六七日不樂住腹；三十七七日生不淨臭穢，黑暗三想；三十八七日有風，名藍花，能令長伸兩臂，轉身向下，次越下風，能令足上首下，以向生門。是時也，萬神必唱，恭而生男，萬神必唱，奉而生女。至於五臟六腑，筋骨髓腦，皮膚血肢，精髒水臟，二萬八千形景，一萬二千精光，三萬六千出入，八萬四千毛竅，莫不各有其神以主之。然則人身，豈易得哉？鞠育之恩，又豈淺淺哉？夫以天地父母之恩生，此不易得之。身至可貴，至可寶者五福，一曰壽而已。既得其壽，則富貴利達，致君澤民，光前振後，凡所掀揭宇宙者皆可為也。蓋身者，親之身。輕其身是輕其親矣，安可不知所守以全天與之壽而有以盡事親之大乎？或曰：嬰孺之流，天真未剖，禁忌飲食又無所犯，有至夭枉者，何歟？曰：此父母之過也。為父母者，或陽盛陰虛；或陰盛陽虛；或七情鬱於內；或八邪襲於外；或母因胎寒而餌暖藥；或父陰萎而餌丹藥；或胎元既充，淫欲未已，如花傷培，結子不實。既產之後，稟賦怯弱，調養又失其宜，驕惜太過。睡思既濃，尚令咀嚼；火合既暖，猶令飲酌；厚衾重覆，且令衣著，撫背拍衣，風從內作。指物為蟲，驚因戲謔，危坐放手，我笑渠惡，欲令喜笑，肋脅指齪。雷鳴擊鼓，且與掩耳，眠臥過時，不令早起，飲食飽於，不與戒止。睡臥當風，恐嚇神鬼。如此等事，不一而已。斯言也，演山省翁之至言也。父母者因是而鑑之，則後嗣流芳，同此一壽，豈不偉歟。</p>

<h1>卷之一</h1>

<h2>天元之壽（精神不耗者得之）</h2>
<p>男女居室，人之大倫，獨陽不生，獨陰不成，人道有不可廢者。莊周乃曰：「人之可畏者，衽席之間，不知戒者過也。」蓋此身與造化同流，左為腎，屬水；右為命門，屬火。陽生於子，火實藏之，猶北方之有龜蛇也。膀胱為左腎之腑，三焦為右腎之腑。三焦有脂膜，如掌大，正與膀胱相對，有二白脈，自中而出，夾脊而上，貫於腦。上焦在膻中，內應心；中焦在中脘，內應脾；下焦在臍，下即腎間，動氣分布，人身方其湛寂。欲念不興，精氣散於三焦，榮華百脈。及欲想一起，欲火熾然，翕撮三焦，精氣流溢，並從命門輸瀉而去。可畏哉。嗟夫。元炁有限，人慾無涯，火生於木，禍發必克，尾閭不禁，滄海以竭。少之時，血氣未定，既不能守夫子在色之戒，及其老也，則當寡欲閒心。又不能明列子養生之方，吾不知其可也。麻衣道人曰：「天地人等列三才，人得中道，可以學聖賢，可以學神仙。」況人之數，多於天地萬物之數。但今之人不修人道，貪愛嗜欲，其數消滅，只與物同也。所以有老、病、夭、傷之患。鑑乎此，必知所以自重而可以得天元之壽矣。</p>

<h2>欲不可絕</h2>
<p>黃帝曰：「一陰一陽之謂道，偏陰偏陽之謂疾。」曰：「兩者不和，若春無秋，若冬無夏，因而和之，是謂聖度。」聖人不絕和合之道，但貴於閉密，以守天真也。</p>
<p>《素女》曰：「人年二十者，四日一泄；三十者，八日一泄；四十者，十六日一泄；五十者，二十日一泄。」此法語也，所稟者厚，食飲多，精力健，或少過其度，譬之井焉，源深流長，雖隨汲隨滿，猶懼其竭也。若所稟者薄，元氣本弱，又食減精耗，顧強而為之，是怯夫而試馮婦之術，適以劘虎牙耳。《素女》曰：「人年六十者，常閉精勿泄，若氣力尚壯盛者，亦不可強忍久而不泄，致生癰疾。」</p>
<p>彭祖曰：「男不可無女，女不可無男。若念頭正直，無可思者，大住長年也。」又曰：「人能一月再泄精，一歲二十四泄，得壽二百歲。」</p>
<p>《名醫論》曰：「思欲無窮，所願不得，意淫於外，為白淫而下，因是入房太甚，宗筋縱弛。」</p>
<p>《書》云：「男子以精為主，女子以血為主，故精盛則思室，血盛則懷胎。若孤陽絕陰，獨陰無陽，欲心熾而不遂，則陰陽交爭，乍寒乍熱，久而為勞。」富家子唐靖，瘡發於陰至爛，道人周守真曰：「病得之欲泄而不可泄也。」《史記》濟北王侍人韓女，病腰背痛，寒熱。《倉公》曰：「病得之欲男子不可得也。」</p>

<h2>欲不可早</h2>
<p>齊大夫褚澄曰：「羸女則養血，宜及時而嫁；弱男則節色，宜待壯而婚。」《書》云：男子破陽太早，則傷其精；氣女破陰太早，則傷其血脈。《書》云：精未通而御女，以通其精，則五體有不滿之處，異日有不狀之疾。《書》云：未笄之女，天癸始至，已近男色，陰氣早泄，未完而傷。《書》云：童男室女積想在心，思慮過當，多致苛損，男則神色先散，女則月水先閉。</p>

<h2>欲不可縱</h2>
<p>《黃庭經》曰：長生至慎房中急，何為使作令神泣。</p>
<p>彭祖曰：上士異床，中士異被，服藥千裹，不如獨臥。</p>
<p>老君曰：情欲出於五內，魂定魄靜，生也。情欲出於胸臆，精散神惑，死也。</p>
<p>彭祖曰：美色妖麗，嬌妾盈房，以致虛損之禍，知此可以長生。</p>
<p>《陰符經》曰：淫聲美色，破骨之斧鋸也，世之人若不能秉靈燭以照迷情，持慧劍以割愛欲，則流浪生死之海，害生於恩也。</p>
<p>全元起曰：樂色不節則精耗，輕用不止則精散，聖人愛精，重施髓滿骨堅。</p>
<p>《書》云：年高之時，血氣既弱，覺陽事輒盛，必慎而抑之。不可縱心竭意，一度不泄，一度火滅，一度火滅，一度增油。若不制而縱欲，則是膏火將滅，更去其油。</p>
<p>莊子曰：嗜欲深者，其天機淺。</p>
<p>春秋秦醫和，視晉候之疾曰：「是謂近女室，非鬼非食，惑以喪志」。公曰：「女不可近乎。」對曰：「節之。」</p>
<p>玄樞曰：元氣者，腎間動氣也，右腎為命門，精神之所舍，愛惜保重，榮衛周流，神氣不竭，可與天地同壽。</p>
<p>《元氣論》曰：嗜欲之性，固無窮也，以有極之性命，遂無涯之嗜欲，亦自斃之甚矣。</p>
<p>《仙經》云：無勞爾形，無搖爾精，歸心靜默，可以長生。經頌云：道以精為寶，寶持宜秘密，施人則生人，留己則生己，結嬰尚未可，何況空廢棄，棄損不覺多，衰老而命墜。</p>
<p>《仙書》云：陰陽之道，精液為寶，謹而守之，後天不老。</p>
<p>《書》云：聲色動盪於中，情愛牽纏，心有念，動有著，晝想夜夢，馳逐於無涯之欲，百靈疲役而消散，宅舍無寶而傾頹。</p>
<p>《書》云：恣意極情，不知自惜，虛損生也。譬枯朽之木，遇風則析，將潰之岸，值水先頹。苟能愛惜節情，亦得長壽也。</p>
<p>《書》云：腎陰內屬於耳中，膀胱脈出於目眥，目盲所視，耳閉厥聰，斯乃房之為患也。</p>
<p>《書》云：人壽夭在於樽節，若將息得所，長生不死，恣其情，則命同朝露。</p>
<p>《書》云：欲多則損精，人可保者命，可惜者身，可重者精。肝精不固，目眩無光；肺精不交，肌肉消瘦；腎精不固，神氣減少；脾精不堅，齒髮浮落。若耗散真精不已，疾病隨生，死亡隨至。</p>
<p>神仙可惜許歌曰：可惜許，可惜許，可惜元陽宮無主。一點既隨濃色妬，百神泣送精光去。三尸喜，七魄怒，血販氣衰將何補。尺宅丹田屬別人，玉爐丹灶阿誰主。勸世人，休戀色，戀色貪淫有何益？一神去後百神離，百神去後人不知。幾度待說說不得，臨臨下口泄天機。</p>

<h2>欲不可強</h2>
<p>《素問》曰：「因而強力，腎氣乃傷，高骨乃壞。」注云：「強力入房也。強力入房則精耗，精耗則腎傷，腎傷則髓氣內枯，腰痛不能俛仰。」</p>
<p>《黃庭經》云：「急守精室勿妄泄，閉而寶之可長活。」</p>
<p>《書》云：陰痿不能快欲，強服丹石以助陽，腎水枯竭，心火如焚，五臟乾燥，消渴立至。</p>
<p>近訥曰：少水不能滅盛火，或為瘡瘍。</p>
<p>《書》云：強勉房勞者，成精極、體瘦、尪羸、驚悸、夢泄、遺瀝、便濁、陰痿、小腹裡急、面黑耳聾。</p>
<p>真人曰：養性之道，莫強所不能堪爾。《抱朴子》曰：才不逮，強思之，力不勝，強舉之，傷也甚矣。強之一字，真戕生伐壽之本。夫飲食所以養生者也。然使醉而強酒，飽而強食，未有不疾而害其身，況欲乎？欲而強，元精去，元神離，元氣散，戒之。</p>

<h2>欲有所忌</h2>
<p>《書》云：飽食過，房室勞損，血氣流溢，滲入大腸，時便清血，腹痛，病名腸癖。</p>
<p>《書》云：大醉入房，氣竭肝傷，丈夫則精液衰少，陰痿不起；女子則月事衰微，惡血淹留，生惡瘡。</p>
<p>《書》云：燃燭行房，終身之忌。</p>
<p>《書》云：忿怒中盡力房事，精虛氣節，發為癰疽。恐懼中入房，陰陽偏虛，發厥、自汗、盜汗，積而成勞。</p>
<p>《書》云：月事未絕而交接，生白駁。又冷氣入內，身面萎黃不產。</p>
<p>《書》云：金瘡未瘥而交會，動於血氣，令瘡敗壞。</p>
<p>《書》云：忍小便入房者，得淋疾，莖中疼痛，面失血色，或致胞轉，臍下急痛死。</p>
<p>《書》云：或新病可而行房，或少年而迷老，世事不能節減，妙藥不能頻服，因茲致患。歲月將深，直待肉盡骨消，返⿱穴兄穴神鬼，故因油盡燈滅，髓竭人亡。添油燈壯，補髓人強，何干鬼老來侵，總是自招其禍。</p>
<p>《書》云：交接輸寫，必動三焦，心脾腎也，動則熱而欲火熾，因入水致中焦熱鬱發黃；下焦氣勝額黑：上焦血走隨瘀熱行於大便，黑溏。男女同室而浴者，多病死。</p>
<p>《書》云：服腦麝入房者，關竅開通，真氣走散，重則虛眩，輕則腦瀉。</p>
<p>《本草云》：多食葫行房，傷肝，面無光。</p>
<p>《書》云：入房汗出中風，為勞風。</p>
<p>《書》云：赤目當忌房事，免患內障。</p>
<p>《書》云：時病未復，犯者舌出數寸死。</p>
<p>《三國志》子獻病已瘥，華佗視脈曰：「尚虛未復，勿為勞事，色復即死，死當舌出數寸。」其妻從百里外省之，止宿，夜交接，三日病發，一如佗言。可畏哉。</p>

<h2>欲有所避</h2>
<p>孫真人曰：大寒與大熱，且莫貪色欲。</p>
<p>書云：凡大風、大雨、大霧、雷電霹靂、日月薄蝕、虹霓地動、天地昏冥、日月星辰之下、神廟寺觀之中、井灶圊廁之側、塚墓、屍柩之傍，皆所不可。若犯女，則損人神。若此時受胎，非止百倍損於父母，生子不仁、不孝，多疾損壽。</p>
<p>唐·魏徵令人勿犯長命及諸神，降日犯淫者，促壽。及《保命訣》所載：朔日減一紀，望日減十年；晦日減一年。初八上弦，二十三下弦，三元減五年；二分二至二社，各減四年；庚申甲子本命減二年。正月初三萬神都會，十四十六三官降，二月二日萬神會，三月初九牛鬼神降，犯者百日中惡。四月初四萬佛善化，犯之失音。初八夜蓋惡童子降，犯者血死。五月三個五日、六日、七日為九毒日，犯者不過三年。十月初十夜，西天王降，犯之一年死。十一月二十五日，掠剩大夫降，犯之短命。十二月初七夜犯之惡病死；十日天師相交行道，犯之惡病死。二十天師相交行道，犯之促壽。每月二十八人神在陰；四月十月陰陽純用事，已上辰犯淫且不可，況婚姻乎。</p>
<p>按《庚申論》曰：古人多盡天數，今人不盡天年，何則？以其罔知避慎，肆情恣色，暗犯禁忌，陰司減其齡，算能及百歲者，幾何人哉。蜀王孟昶，納張麗華於觀側，一夕迅雷電火，張氏殞。道士李若沖，於上元夜，見殿上有朱履衣冠之士，面北而立廊下，羅列罪人，有女子甚苦，白其師唐洞卿，師曰：「此張麗華也，昔寵幸於此，褻瀆高真所致。」由是觀之，天地間禁忌不可犯也。</p>

<h2>嗣續有方</h2>
<p>建平孝王妃姬寺，皆麗無子，擇良家未笄女，入內又無子，問褚澄曰：「求男有道乎？」澄曰：「合男女必當其年，男雖十六而精通，必三十而娶；女雖十四而天癸至，必二十而嫁，皆欲陰陽完實，然後交合，合而孕，孕而育，育而子壯強壽。今也不然此，王之所以無子也。」王曰：「善。」未再期，生六男。</p>
<p>書云：丈夫勞傷過度，腎經不暖，精清如水，精冷如冰，精泄，聚而不射，皆令無子。近訥曰：此精氣傷敗。</p>
<p>《書》云：女人勞傷氣血，或月候愆期，或赤白帶下，致陰陽之氣不和，又將理失宜，食飲不節，乘風取冷，風冷之氣，乘其經血，結於子臟，皆令無子。</p>
<p>《書》云：月候一日至，三日子門開，交則有子，過四日則閉，而無子。又經後一日、三日、五日受胎者，皆男；二日、四日、六日受胎者，皆女。過六日胎不成。</p>
<p>凌霄花，凡居忌種此，婦人聞其氣，不孕。</p>

<h2>妊娠所忌</h2>
<p>《產書》云：一月足厥陰肝養血，不可縱欲，疲極筋力，冒觸邪風；二月足少陽膽，合於肝，不可驚動；三月手心主右腎養精，不可縱欲，悲哀，觸冒寒冷；四月手少陽三焦合腎，不可勞逸；五月足太陰脾養肉，不可妄思，飢飽，觸冒卑濕；六月足陽明胃合脾，不得雜食；七月手太陰肺養皮毛，不可憂鬱叫呼；八月手陽明大腸合肺以養氣，勿食燥物；九月足少陰腎養骨，不可懷恐，房勞，觸冒生冷；十月足太陽膀胱合腎，以太陽為諸陽，主氣，使兒脈縷皆成，六腑調暢，與母分氣，神氣各全，候時而生。所以不說心者，以心為五臟主，如帝王，不可有為也。若將理得宜，無傷胎臟。又每月不可針灸其經。如或惡食，但以所思物與之食必愈。所忌之物，見食物門中。</p>
<p>《太公胎教》云：母常居靜室，多聽美言，講論詩書，陳說禮樂，不聽惡言，不視惡事，不起邪念，令生男女，福壽敦厚，忠孝兩全。</p>
<p>演山翁云：成胎後，父母不能禁欲，已為不可。又有臨產行淫，致其子頭戴白被而出，病夭之端也。</p>

<h2>嬰兒所忌</h2>
<p>《書》云：兒未能行，母更有娠，兒飲妊乳，必作鬾病，黃瘦骨立，發熱發落。</p>
<p>《書》云：小兒多因缺乳，吃物太早，又母喜嚼食喂之，致生疳病，羸瘦腹大，發豎萎困。</p>
<p>《養子直訣》云：吃熱莫吃冷，吃軟莫吃硬，吃少莫吃多，真妙法也。</p>
<p>《書》云：母淚勿墮子目中，令子目破，生翳。</p>
<p>《瑣碎錄》云：小兒勿令指月，主生月蝕瘡，勿令就瓢及瓶中飲水，令語訥；又衣服不可夜露。</p>

<h1>卷之二</h1>

<h2>地元之壽（起居有常者得之）</h2>
<p>人之身，仙方以屋子名之。耳、眼、鼻、口其窗牖、門戶也；手足肢節其棟梁、榱桷也；毛髮體膚其壁瓦、垣牆也。曰氣樞、曰血室、曰意舍、曰倉廩玄府、曰泥丸絳宮、曰紫房玉闕、曰十二重樓、曰賁門、曰飛門、曰玄牝等門，蓋不一也，而有主之者焉。今夫屋或為暴風疾雨之所飄搖，螫蟲蟻蠹之所侵蝕，或又為鼠竊狗偷之所損壞，苟聽其自如而不知檢，則日積月累，東傾西頹，而不可處矣。蓋身者屋也，心者居室之主人也。主人能常為之主，則所謂窗戶、棟榱、垣壁皆完且固，而地元之壽可得矣。</p>

<h2>養生之道</h2>
<p>老子曰：人生大期，百年為限，節護之者，可至千歲。如膏之小炷與大耳。眾人大言，而我小語，眾人多煩，而我少記，眾人悸暴，而我不怒。不以人事累，意淡然無為，神氣自滿，以為不死之藥。</p>
<p>莊子曰：能尊生者，雖富貴不以養傷；身雖貧賤，不以利累形。今世之人，居高年尊爵者，皆重失之。</p>
<p>《孫真人銘》曰：怒甚偏傷氣，思多太損神，神疲心易役，氣弱病相縈。勿使悲歡極，當令飲食均，再三防夜醉，第一戒晨嗔。夜寢鳴云鼓，晨興漱玉津，妖邪難犯己，精氣自全身。若要無諸病，常當節五辛，安神宜悅樂，精氣保和純。壽夭休論命，修行本在人，若能遵此理，平地可朝真。</p>
<p>《書》云：未聞道者放逸其心，逆於生樂，以精神殉智巧，以憂畏殉得失，以勞苦殉禮節，以身世殉財利，四殉不置心，為之病矣。</p>
<p>陶隱居云：萬物惟人靈且貴，百歲光陰如旅寄，自非留意修養中，未免疾苦為身累。</p>

<h2>喜樂</h2>
<p>《書》云：喜樂無極則傷魄，魄傷則狂，狂者意不存，皮革焦。</p>
<p>《書》云：喜怒不節，生乃不固，和喜怒以安居處，邪僻不至，長生久視。</p>
<p>《書》云：喜怒不測，陰氣不足，陽氣有餘，榮衛不行，發為癰疽。</p>
<p>《聚書》云：喜則氣和，性達榮衛通行。然大喜傷心，積陽則損，故日少喜則神不勞。</p>
<p>《淮南子》曰：大喜墜陽，大樂氣飛揚，恣樂傷魂魄，通於目，損於肝則目暗。</p>
<p>唐柳公度喜攝生，年八十餘，步履輕健。或求其術，曰：「吾無術，但未常以元氣佐喜怒，氣海常溫耳。</p>
<p>《東樓法語》曰：心喜則陽氣散。是故，抑喜以養陽氣。</p>

<h2>忿怒</h2>
<p>《書》云：忿怒則氣逆，甚則嘔血。少怒則形佚，悄悄忿恨則損壽，怒目久視日月去則損明。</p>
<p>《書》云：大怒傷肝，血不榮於筋而氣激矣，氣激上逆，嘔血、飧泄、目暗，使人薄厥。</p>
<p>《書》云：切切忿怒，當止之。盛而不止，志為之傷，喜忘前言，腰背隱痛，不可以俛仰屈伸。</p>
<p>《書》云：多怒則百脈不定。又多怒則鬢髮焦，筋萎為勞，卒不死，俟五臟傳遍終死矣。藥力不及。苟能改心易志，可以得生。</p>
<p>隱居云：道家更有頤生旨，第一令人少嗔恚。</p>
<p>《書》云：當食暴嗔，令人神驚，夜夢飛揚。</p>
<p>《淮南子》曰：大怒破陰，又勿恚怒，神不樂。</p>
<p>《名醫敘論》曰：世人不終耆壽，皆由不自愛惜，忿爭盡意，聚毒攻神，內傷骨髓，外乏肌肉，正氣日衰，邪氣日盛，不異舉滄波以炷爝火，頹華岳以涓流。</p>
<p>先賢詩曰：怒氣劇炎火，焚和徒自傷，觸來勿與競，事過心清涼。</p>

<h2>悲哀</h2>
<p>《書》云：悲哀、憔悴、哭泣、喘乏，陰陽不交，傷也。故吊死問病，則喜神散。</p>
<p>《書》云：悲哀動中則傷魂，魂傷則狂忘不精，久而陰縮拘攣，兩脅痛不舉。</p>
<p>《書》云：悲哀太甚，則胞絡絕。而陽氣內動，發則心下潰，溲數血也。</p>
<p>《書》云：大悲伐性，悲則心系急，肺布葉舉，上焦不通，榮衛不舒，熱食在中而氣消。又云：悲哀則傷志，毛悴色夭，竭絕失生。近訥云：肺出氣，因悲而氣耗，不所以心系急而消矣。夫心主志，腎藏志，悲屬商，因悲甚則失精陰縮，因悲而心不樂，水火俱離，神精喪亡矣。</p>

<h2>思慮</h2>
<p>黃帝曰：外不勞形於事，內無思想之患，以恬愉為務，以自得為功，形體不弊，精神不散，可壽百數也。</p>
<p>彭祖曰：凡人不可無思，當漸漸除之，人身虛無，但有遊氣，氣息得理，百病不生。又曰：道不在煩，但能不思衣，不思食，不思聲色，不思勝負，不思得失，不思榮辱，心不勞，神不極，但爾可得千歲。</p>
<p>庚桑楚曰：全汝形，抱汝生，無使汝思慮營營。</p>
<p>《靈樞》曰：思慮怵惕則傷神，神傷則恐懼，自失破悃，脫肉毛悴色夭。</p>
<p>《書》云：思慮過度，恐慮無時，鬱而生涎，涎與氣搏，升而不降，為憂氣勞思食，五噎之病。</p>
<p>《書》云：思慮則心虛，外邪從之喘而積氣，在中時害於食。又云：思慮傷心，為吐衄，為發焦。</p>
<p>《書》云：謀為過當，食飲不敵，養生之大患也。諸葛亮遣使至司馬營，懿不問戌事，但以飲食及事之繁簡為問，使曰：「諸葛公夙興夜寐，罰二十以上，皆親覽焉，飲食不數升。」懿曰：「孔明食少事煩，其能久乎？」以後果然。</p>
<p>張承節云：「勞，經言瘵證，有蟲，患者相繼，誠有是理。只譬如俗談，不曉事人，吉相思病也。與一女人情密，忽經別離，念念不捨，失察忘餐，便覺形容瘦悴，不償所願，竟為沉疴。</p>
<p>士人有觀書忘食，一日有紫衣人立前曰：「公不可久思，思則我死矣。」問其何人？曰：「我穀神也」。於是絕思，而食如故。</p>
<p>蓋思則氣結，喉熱不散，久而氣血俱虛，則疾速至而夭枉也。</p>

<h2>憂愁</h2>
<p>《靈樞》曰：內傷於憂愁則氣上逆，上逆則六輸不通，溫氣不行，凝血蘊里而不散，津液澀滲著不去，積遂成矣。</p>
<p>《書》云：憂傷肺氣而不行。又云：遇事而憂不止，遂成肺勞，胸膈逆滿，氣從胸達背，隱痛不已。</p>
<p>《書》云：憂愁不解則傷意，恍惚不寧，四肢不耐。</p>
<p>《書》云：當食而憂，神為之驚，夢寐不安。</p>
<p>《書》云：女人憂慮，思想哭泣，令陰陽氣結，月水時少時多，內熱苦渴，色惡，肌體枯黑。</p>
<p>《書》云：深憂重恚，寢息失時，傷也。又云：久泣神悲感，大愁氣不通，多愁則心懾。</p>

<h2>愁泣</h2>
<p>《真誥》曰：學生之法，不可泣淚及多唾泄，此皆為漏精損液，使喉腦大痛，是以真人、道士常吐納咽味，以和六液。又云：哭者亦趣死之音，哀者乃朽骨之大患，恐君子未悟之，相為憂耳。</p>
<p>《巢氏病源》曰：哭泣悲來，新哭訖不用即食，久成氣病。不可泣淚，使喉澀大渴。憤懣傷神，神通於舌，損心則謇吃。</p>

<h2>驚恐</h2>
<p>《書》云：因事而有大驚恐，不能自遣，膽氣不壯，神魂不安，心虛煩悶，自汗體浮，食飲無味。</p>
<p>《書》云：恐懼不解則精傷，骨痠瘛瘲，精時自下，五臟失守，陰虛氣不耐。</p>
<p>《書》云：驚則身無所倚，神無所歸，慮無所定，氣乃亂矣。</p>
<p>《書》云：大恐傷腎，恐不除則志傷，恍惚不樂，非長生道。</p>
<p>《書》云：驚恐憂思，內傷臟腑，氣逆於上，則吐血也。</p>
<p>《書》云：恐則精卻，卻則上焦閉，閉則氣逆，逆則下焦脹，氣乃不行。有婦人累日不產，以坐草太早，恐懼氣結而然，遂與紫蘇藥破氣，方得下。</p>
<p>《書》云：臨危冒險則魂飛，戲狂禽異獸則神恐。</p>
<p>《淮南子》曰：大怖生狂。</p>
<p>高逢辰表姪，常遊惠山，暮歸遇一二人，醉臥寺門，驚悸不能解，自是便溺，一日五、六十次。心、小腸受盛府也，因驚而心火散失，心寒腎冷而然，其傷心傷腎之驗歟。有朝貴坐寺中，須臾雷擊坐後柱，且碎，而神色不動。又有使高麗者，遇風檣析，舟人大恐，其人恬然讀書，如在齋閣。苟非所守如此，則其為疾，當何如耶？</p>

<h2>憎愛</h2>
<p>老子曰：甚愛必大費，多藏必厚亡，知足不辱，知止不殆，可以長久。甚愛色，費精神；甚愛財，遇禍患。所愛者少，所費者多，惟知足知止，則自可不辱而不危也，故可長久。</p>
<p>《書》云：憎愛損性傷神，心有所憎，不用深憎，常運心於物平等。心有所愛，不用深愛，如覺偏頗，尋即改正。不然損性傷神。</p>
<p>《書》云：多好則專迷不理，多惡則憔悴無歡，乃戕生之斧也。</p>
<p>《淮南子》曰：好憎者使人必勞，弗疾去則志氣日耗，所以不能終其壽。</p>

<h2>視聽</h2>
<p>老子曰：五色令人目盲，五音令人耳聾。</p>
<p>彭祖曰：淫聲哀音，怡心悅耳，以致荒耽之惑，知此可以長生。</p>
<p>孔子曰：非禮勿視，非禮勿聽。</p>
<p>孟子曰：伯夷目不視惡色，耳不聽惡聲。</p>
<p>孫真人曰：生食五辛，接熱食飲，極目遠視，夜讀註疏，久居煙火，博奕不休，飲酒不已，熱餐麵食，抄寫多年，雕鏤細巧，房室不節，泣淚過多，月下觀書，夜視星斗，刺頭出血多，日沒後讀書數卷，日月輪看，極目瞻視，山川草木，馳騁田獵，冒涉風霜，迎風追獸，日夜不息，皆喪明之由。慎之。</p>
<p>《書》云：心之神發乎目，久視則傷心；腎之精發乎耳，久聽則傷腎。</p>
<p>《書》云：耳耽淫聲，目好美色，口嗜滋味，則五臟搖動而不定，血氣流蕩而不安，精神飛馳而不守，正氣既散，邪淫之氣乘此生疾。</p>
<p>《敘書》云：久視日月星辰損目，路井莫顧損壽，故井及水瀆勿塞，令人目盲、耳聾。玩殺看鬥，則氣結。</p>
<p>《書》云：五色皆損目，惟皂糊屏風可養目力。</p>
<p>《淮南子》曰：五色亂目，使目不明，五聲譁耳，使耳不聰。又曰：耳目曷能久熏勞而不息乎。有年八十餘，眸子瞭然，夜讀蠅頭字。云別無服藥，但自小不食畜獸肝，人以《本草》羊肝明目，而疑之。余曰：羊肝明目，性也。他肝不然，畜獸臨宰之時，忿氣聚於肝，肝主血，不宜於目明矣。</p>

<h2>疑惑</h2>
<p>《書》云：疑惑不已，心無所主，正氣不行，外邪干之，失寐忘食，沈沈默默，氣血以虛，漸為虛勞。春秋晉候有疾，秦醫和視之，曰：「不可為也，疾如蠱。」趙孟曰：「何謂蠱？」對曰：「淫溺惑亂所生也，於文血蟲為蠱，在《易》女惑男，風落山謂之蠱。其卦巽下艮上。巽為長女，為風；良為少男，為山。少男而悅長女，非匹，故惑。山木得風而落也。</p>
<p>《國史補》云：常疑必為心疾。李蟠常疑遇毒，鎖井而飲。心靈府也，為外物所中，終身不痊。多疑惑，病之本也。昔有飲廣客酒者，壁有琱弓，影落杯中，客疑其蛇也，歸而疾。作復再飲其地，始知其為弓也，遂愈。又僧入暗室，踏破生茄，疑為物命，念念不釋，中夜有扣門索命者，僧約明日薦拔，天明視之，茄也。疑之為害如此。</p>

<h2>談笑</h2>
<p>老子曰：塞其兌，閉其門，終身不勤；開其兌，濟其事，終身不救。謂目不妄視，口不妄言，終身不勤苦。若目視情欲，又益其事則沒，身不可救矣。</p>
<p>《書》云：談笑以惜精氣為本，多笑則腎轉腰疼。</p>
<p>《書》云：多笑則神傷，神傷則悒悒不樂，恍惚不寧。</p>
<p>《書》云：多笑則臟傷，臟傷則臍腹痛，久為氣損。</p>
<p>真人云：人若不會將理者，只者多說話。戒多言損氣，以全其壽也。</p>
<p>《書》云：呼叫過常，辯爭問荅，冒犯寒暄，恣食鹹苦，肺為之病矣。又云：多笑則傷臟，多樂則意溢，多喜則忘錯昏亂。</p>
<p>《書》云：行語令人失氣，語多須住乃語。</p>

<h2>津唾</h2>
<p>真人曰：常習不唾地，益口中津液，是金漿玉醴，能終日不唾，常含而咽之，令人精氣常留，面目有光。</p>
<p>《書》云：養性者，唾不至遠，遠則精氣俱損，久成肺病。手足重，皮毛粗澀，脊痛，咳嗽。故曰遠唾不如近唾，近唾不如不唾。</p>
<p>《書》云：嗌為醴泉，聚流為華池府，散為津液，降為甘露，溉臟潤身，宣通百脈，化養萬神，肢節毛髮，堅固長春。</p>
<p>《書》云：人骨節中有涎，所以轉動滑利，中風則涎上潮，咽喉袞饗，以藥壓下，俾歸骨節可也。若吐其涎，時間快意，枯人手足，縱活亦為廢人。小兒驚風，亦不可吐涎也。《仙書》云：亥子日不可唾，亡精失氣，滅損年命。</p>
<p>有人喜唾，液干而體枯，遇至人教以回津之法，久而體復潤。蓋人身以滋液為本，在皮為汗，在肉為血，在腎為精，在口為津，伏脾為痰，在眼為淚。曰汗、曰血、曰淚、曰精，出則皆不可回，為津唾則獨可回，回則生意又續矣。滋腋者，吾身之寶。金丹訣曰：寶聚則為富家翁，寶散則為孤貧客。</p>

<h2>起居</h2>
<p>廣成子曰：無勞爾形，無搖爾精，乃可以長生。所謂無勞者，非若飽食坐臥，兀然不動，使經絡不通，血氣凝滯。但不必提重執輕，吃吃終日，無致精力疲極，則妙矣。</p>
<p>莊周曰：人有畏形惡跡而走，舉足愈數而跡愈多，走愈疾而影不隨，是自以為尚遲，疾走不休，絕力而死。不知處陰以休影，處靜以息跡，遇亦甚矣。</p>
<p>《書》云：勇於敢則殺，勇於不敢則活。蓋敢於有為即殺身，不敢有為則活其身也。</p>
<p>《書》云：起居不節，用力過度，則絡脈傷，傷陽則衄，傷陰則下。</p>
<p>《書》云：起居不時，食飲不節者，陰受之而入五臟，填滿拍塞為飱泄，為腸癖。賊風虛邪者，陽受之而入六腑，身熱不得臥，上為喘呼。</p>
<p>《書》云：精者，神之本。氣者，神之主。形者，氣之宅，神大用則竭，精大用則竭，氣大勞則絕。</p>
<p>《書》云：清旦常言好事，勿惡言。聞惡事，即向所來方唾之三遍，吉。又勿嗔怒，勿叱吒咄呼，勿嗟嘆，勿唱奈何，名曰請禍。</p>
<p>《書》云：早起以左右手摩腎，次摩腳心，則無腳氣諸疾。以熱手摩面，則令人悅色，以手背揉眼，則明目。</p>
<p>煨生薑早晨含少許，生胃氣，闢山瘴邪氣。早起先以左足下床，則一日平寧。每日下床，先左腳，念「乾元亨利貞」；下右足，念「日日保長生」，如此各念三遍，則終日吉。晨興以鍾乳粉入白粥中，拌和食之，極益人。早起不可用刷牙子，恐根浮，兼牙疏易損極，久之患牙疼。蓋刷牙子皆是馬尾為之，極有所損。今時出牙者，盡有馬尾灰，蓋馬尾能腐齒根。</p>
<p>《書》云：早起向東坐，以兩手相摩令熱，以手摩額上至頂上，滿二九，正名曰存泥丸。</p>
<p>清旦初起，以兩手又兩耳極上下之二七止，令人不聾。次縮鼻閉氣，右手從頭上引左耳二七止，次引兩髮鬢，舉之，令人血氣流通，頭不白。又摩手令熱，以摩身體，從上至下，名干浴，令人勝風寒，時氣，寒熱頭疼，百病皆除之。凡人旦起，常言善事，天與之福。夜起坐以手攀腳底，則無筋轉之疾。</p>

<h2>行立</h2>
<p>《書》云：久行傷筋，勞於肝；久立傷骨，損於腎。</p>
<p>《養生》云：行不疾步，立不至疲，立勿背日。</p>
<p>《書》云：奔走及走馬，大動其氣，氣逆於膈未散，而又飲水，水搏於氣，為上氣。</p>
<p>《書》云：水有沙蝨處勿浴勿渡，當隨牛馬急渡之，不傷人。水中又有弩射人影即死，以物打水，令弩散，急渡吉。</p>
<p>《書》云：行汗勿跂床懸腳，久成血痹，足痛腰疼。</p>
<p>真人曰：夜行常啄齒，殺鬼邪。又疾行損筋，行不得令人失氣。又行及乘馬，不用回顧，則神去。</p>
<p>凡欲行來，常存魁罡在頭上，所向皆吉。</p>
<p>行不多言，恐神散而損氣。</p>
<p>夜行常琢齒，琢齒亦無限數也，煞鬼邪。鬼邪畏琢齒聲，是故不敢犯人。</p>
<p>夜行及冥臥，心中恐者，存日月還入於明堂中，須臾百邪自滅，山居恆爾此為佳。</p>
<p>夜歸左手或右手，以中指書手心，作「我是鬼」三字，再握固，則不恐懼。</p>
<p>沈存中《筆談草閒》有黃花蜘蛛，名天蛇。遭其螫仍濡露，則病如癩，通身潰爛，露涉者慎之。</p>
<p>《書》云：大霧不宜遠行，行宜飲少酒，以御露瘴。昔有三人早行，一食粥而病，一空腹而死，一飲酒而健，酒能壯氣，闢霧瘴也。</p>

<h2>坐臥</h2>
<p>《書》云：久坐傷肉，久臥傷氣，坐勿背日，勿當風濕，成勞；坐臥於塚墓之傍，精神自散。</p>
<p>《書》云：臥出而風吹之，血凝於膚為痹，凝脈為血行不利，凝於足為厥。</p>
<p>《書》云：燈燭而臥，神魂不安。臥宜側身屈膝，不損心氣，覺宜舒展，精神不散，舒臥招邪魅。</p>
<p>孔子云：寢不屍。</p>
<p>《書》云：寢不得言語，五臟如懸，磬不懸，不可發聲。孔子曰：寢不言。</p>
<p>《書》云：臥不可戲將筆墨畫其面，魂不歸體。</p>
<p>《書》云：臥勿以腳懸踏高處，久成腎水，損房足冷。</p>
<p>《書》云：臥魘魂魄外遊，為邪所執，宜暗喚，忌以火照，照則神魂入，乃至死於燈前。魘者本由明出，不忌火，並不宜近喚及急喚，亦喜失神魂也。</p>
<p>《書》云：臥處頭邊勿安火爐，日久引火氣，頭重目赤鼻乾，發腦癰瘡癤。</p>
<p>《書》云：臥習閉口，氣不失，邪不入。若張口久成消渴，無血色。又夜臥勿覆頭，得長壽。濯足而臥，四肢無冷病。又醉臥當風，使人發瘖。醉臥黍穰中，發瘡，患大風眉墮。又雷鳴時，仰臥星月下，裸臥當風中，醉臥以人扇之，皆不可也。</p>
<p>隱居云：臥處須當傍虛歇，烘烘衣衾常損人。</p>
<p>《書》云：飽食即臥，久成氣病，腰痛，百疴不消，成積聚。</p>
<p>《書》云：汗出不可露臥及浴，使人身振，寒熱風疹。《西山記》：坐臥於塚墓之間，精神自散。枯木大樹之下不可息，防陰氣觸人陽神。</p>
<p>孫真人曰：坐臥莫當風，頻於暖處浴。</p>
<p>《書》云：坐臥處有隙風急避之，尤不宜體虛年老之人。昔有人三代不壽，問彭祖，祖觀其寢處，果有一穴，當其腦戶，令塞之，遂得壽。蓋隙風入耳吹腦，則陽氣散。頭者諸陽所聚，以主生也。</p>

<h2>沐浴洗面</h2>
<p>《書》云：頻沐者，氣壅於腦，滯於中，令形瘦體重，久而經絡不通暢。</p>
<p>《書》云：飽食沐發，冷水洗頭，飲水沐頭，熱泔洗頭，冷水濯足，皆令人頭風。</p>
<p>《書》云：新沐發勿令當風，勿濕縈髻，勿濕頭臥，令人頭風、眩悶及生白屑、發禿、面黑、齒痛、耳聾。</p>
<p>《書》云：女人月事來不可洗頭，或因感疾，終不可治。</p>
<p>《書》云：沐浴漬水而臥，積氣在小腹與陰，成腎痹。</p>
<p>《書》云：炊湯經宿洗體成癬，洗面無光，作甑哇瘡。</p>
<p>《書》云：頻浴者，血凝而氣散，體雖澤而氣自損，故有癰、疽、瘡、癤之疾者，氣不勝血，神不勝形也。</p>
<p>《書》云：時病新愈，冷水洗浴，損心胞。</p>
<p>《書》云：盛暑沖枳，冷水洗手，尚令五臟乾枯，況沐浴乎？</p>
<p>《書》云：因汗入水，即成骨痹。昔有名醫將入蜀，見負薪者，猛汗河浴。醫曰：此人必死，隨而救之。其人入店中，取大蒜細切，熱面澆之，食之汗出如雨。醫曰：「貧下人且知藥，況富貴乎。」遂不入蜀。</p>
<p>《書》云：遠行觸熱，逢河勿洗，面生烏皯。</p>
<p>《閒覽》云：目疾切忌浴，令人目盲。白彥良壯歲，常患赤目。道人曰：但能不沐頭，則不病此。彥良記之，七十餘更無眼疾。</p>

<h2>櫛發</h2>
<p>真人曰：發多櫛，去風明目，不死之道。曰：頭髮梳百度。</p>
<p>陶隱居云：飽則人浴飢則梳，梳多浴少益心目。故道家晨梳，常以百二十為數。</p>
<p>真人曰：發宜多櫛，手宜在面，齒宜數叩，精宜常咽，氣宜精煉。</p>
<p>此五者，所謂子欲不終，修崑崙耳。</p>
<p>安樂詩云：發是血之餘，一日一次梳。通血脈，散風濕。</p>
<p>《瑣碎錄》云：亂髮藏臥房壁中，久招不祥，又云：勿令發覆面，不祥。頭髮不可在魚鮓中食之，殺人。</p>
<p>《本草》云：收自己亂頭髮，洗淨，干，每一兩入椒五十粒，泥固封，入爐，大火一煅，如黑糟，細研，酒服一錢匕，髭髮長黑。</p>
<p>劉安君燒自己發，合頭垢等分，合服如大豆許三丸，名曰還精。令頭不白，服氣積義。</p>
<p>劉根曰：取七歲男齒女發，與己頸垢合燒，服之一歲，則不知老，常為之，使老有少容也。</p>
<p>《書》云：凡梳頭髮及爪皆理之，勿投水火，正爾拋擲。一則敬父母之遺體，二則有鳥，曰鵠鷤，夜入人家，取其爪發，則傷魂。</p>
<p>《書》云：發落諸飲食中，食之成瘕。</p>
<p>宋明帝宮人腰痛引心，發則氣絕，徐文伯曰：「發瘕也。」以油灌之，吐物長二尺，頭已成蛇，懸柱上水瀝盡，惟餘一發。唐·甄立言為太常，昔有病人心腹滿煩彌瘴，診曰：「誤食發而然。」令餌雄黃，吐一蛇，如拇指大，無目。燒之，有發氣，若頭尾全，誤食必然。</p>

<h2>大小腑</h2>
<p>《書》云：忍尿不便，成五淋；膝冷成痹；忍大便成五痔。</p>
<p>《書》云：弩小便，足膝冷呼氣；弩大便，腰痛目澀。</p>
<p>《書》云：或飲食，或走馬，或疾走，或為寒熱所迫，令胞轉，臍下痛，胞屈闢，不小便致死。</p>
<p>《瑣碎錄》云：夜間小便時，仰面間眼，至老眼不昏。又丈夫飢欲坐小便，若飽則立小便，慎之無病。</p>
<p>又云：不可對正北溺，及對三光便溺，及向西北，並損人年壽。</p>
<p>《書》云：凡人求道受戒，勿犯五逆，有犯者凶。大小便向南一逆，向北二逆，向日三逆，向月四逆，仰視天及星辰五逆。</p>
<p>《書》云：大小二事，勿強關抑忍，又勿失度，或澀，或滑，皆傷氣害生，為禍甚速。</p>
<p>劉惟簡至乾寧軍，有人獻金花丸，以縮小便，藥犯砒蠟，服三日，小便極少。至羈州，肢體通腫。蓋被閉卻水道，水溢妄行。不遇盧昶，幾為所誤。蓋水泉不止者，膀胱不藏也，宜服暖劑以攝水，可強止之耶？</p>

<h2>衣著汗</h2>
<p>《書》云：春冰未泮，衣欲下厚上薄，養陽收陰，繼世長生。</p>
<p>《書》云：春天不可薄衣，傷寒、霍亂、食不消、頭痛。</p>
<p>《書》云：冬時綿衣、氈褥之類，急寒急著，急換急脫。</p>
<p>陶隱居云：綿衣不用頓加添，稍暖又宜時暫脫。</p>
<p>《瑣碎錄》云：若要安樂，不脫不著，北方語也。若要安樂，頭脫頭著，南方語也。</p>
<p>《書》云：醉酒汗出，脫衣靴襪，當風承涼，成腳氣。</p>
<p>《書》云：大汗能易衣佳，或急洗亦好。又多汗損血。</p>
<p>又云：大汗偏脫衣，得偏風，半身不遂。又云：勞傷汗出成疾。</p>
<p>《書》云：大汗急宜敷粉。汗濕衣不可久著，令人發瘡及風瘙，大小便不利。</p>
<p>《書》云：汗出毛孔開，勿令人扇，亦為外風所中。又人汗入諸肉，食之作疔瘡。</p>
<p>《黃帝·素問》曰：飲食飽甚，汗出於胃，飽甚胃滿，故汗出於胃也；驚而奪精，汗出於心，驚奪心精，神氣浮越，陽內薄之，故汗出於心也；持重遠行，汗出於腎，骨勞氣越，腎復過疲，故持重遠行汗出於腎也；疾走恐懼，汗出於肝，暴役於筋，肝氣罷極，故疾走恐懼汗出於肝也；搖動勞苦，汗出於脾，搖動體勞，苦謂動作施力，非疾走遠行也，然動作用力則穀精四布，脾化水穀，故汗出於脾也。</p>

<h2>天時避忌</h2>
<p>《內經》云：陽出則出，陽入則入，無擾筋骨，無見霧露，違此三時，形乃困薄。</p>
<p>《經》云：大寒大熱、大風大霧勿冒之。天之邪氣，感則害人五臟。水穀寒熱，感則言人六腑。地之濕氣，感則害人皮肉筋脈。</p>
<p>先賢曰：人以一握元氣，豈可與大造化敵，康節有四不出之訓。</p>
<p>《書》云：犯大寒，而寒至骨髓，主腦逆、頭痛、齒亦痛。</p>
<p>又云：不遠熱而熱至，則頭痛、身熱、肉痛生矣。</p>
<p>真人曰：在家在外，忽逢大風、暴雨、震雷、昏霧，皆是諸龍鬼神經過，宜入室，燒香靜坐以避之，過後方出，吉，不爾殺人。</p>
<p>《書》云：大忌朔不可哭，晦不可歌，招凶。</p>

<h2>四時調攝</h2>
<p>《內經》曰：春三月，此謂發陳，夜臥早起，生而勿殺，逆之則傷肝，夏為寒變，奉長者少。又春傷於風，夏必飧泄。</p>
<p>《書》云：春夏之交，陰雨卑濕，或引飲過多，令犯風濕，自汗體重，轉側難，小便不利。作他治必不救，惟五苓散最佳。</p>
<p>《內經》曰：夏三月，此謂蕃秀，夜臥早起，使志無怒，使氣得泄。逆之則傷心，秋為瘧，奉收者少。</p>
<p>陶隱居云：四時惟夏難將息，伏陰在內腹冷滑，補腎湯劑不可無，食物稍冷休哺啜。</p>
<p>《書》云：夏之一季，是人休息之時，心旺腎衰化為水。至秋而凝，冬始堅，當不問老少，皆食暖物，則不患霍亂，腹暖百病不作。</p>
<p>《書》云：夏冰止可隱映飲食，不可打碎食之，入腹冷熱相搏成疾。</p>
<p>《書》云：夏至以後迄秋分，須慎肥膩，餅臛、油酥之屬，此物與酒漿、瓜果極理相妨，所以多病者，為此也。</p>
<p>陶隱居云：冷枕涼蓆心勿喜。凡枕冷物大傷人目。</p>
<p>《書》云：夏不宜露臥，令皮膚厚，成癬或作面風。</p>
<p>《書》云：夏傷暑，秋痎瘧。忽大寒，勿受之。患時病由此。</p>
<p>《書》云：暑月日曬處，有石不可便坐，熱生瘡，冷成疝。</p>
<p>《書》云：盛熱帶汗，當風不宜過。自日中來，勿用冷水沃面，成目疾。伏熱者，未得飲水及以冷物迫之，殺人。</p>
<p>《書》云：五六月澤中停水，多有魚鱉精，飲之成瘕。</p>
<p>《內經》曰：秋三月，此謂容平，早臥早起，使志安寧，逆之則傷肺。冬為飧泄，奉藏者少。</p>
<p>《書》云：秋傷於濕，上逆而咳，發為痿厥。又立秋日勿浴，令皮膚粗燥，因生白屑。又八月一日後，微火暖足，勿令下冷。</p>
<p>《內經》曰：冬三月，此謂閉藏，水冰地拆，無擾乎陽，早臥晚起，必待日光，去寒就溫，毋泄皮膚，逆之傷腎，春為痿厥，奉生者少。</p>
<p>《書》云：冬時忽大熱，勿受之，患時病由此。又曰：冬傷於寒，春必病溫。</p>
<p>《書》云：冬時天地閉，血氣藏，作勞不宜，汗出冷背。</p>
<p>《書》云：冬寒雖近火，不可令火氣聚，不須於火上烘炙，若炙手暖則已，不已損血，令五心熱，故手足應於心也。</p>
<p>《書》云：大雪中，跣足人不可便以熱湯洗，或飲熱酒，足趾隨墮。又觸寒來，寒未解，勿便飲湯食、熱物。</p>
<p>《四氣調神論》曰：夫四時陰陽者，萬物之根本也。所以聖人春夏養陽，秋冬養陰，與萬物浮游於生長之門。逆其根則伐其本，壞其真矣。故陰陽四時者，萬物之終始，死生之本也。逆之則災害生，從之則苛疾不起，是謂得道。故《天真論》曰：有賢人者，逆從陰陽，分別四時，將從上古合同於道，亦可使益壽而有極時也。</p>

<h2>旦暮避忌</h2>
<p>《書》云：早出含煨生薑少許，闢瘴開胃。又曰：起空腹不宜見屍臭氣，人鼻、舌上白起、口臭，欲見宜飲酒少許。</p>
<p>真人曰：平明欲起時，下床先左腳，一日無災咎，去邪兼辟惡，如能七星步，令人長壽樂。</p>
<p>又清旦常言善事，聞惡事則向所來方三唾之吉。又旦勿嗔恚，暮無大醉，勿遠行。</p>
<p>《經》曰：平旦人氣生，日中陽氣隆，日西陽氣已虛，氣門乃閉。是故暮而收拒，無擾筋骨，無見霧露，違此三時，形乃困薄。</p>
<p>《書》云：夜行用手掠發，則精不敢近。常啄齒，殺鬼邪。又夜臥，二足伸屈不並，無夢泄。</p>
<p>真人云：夜夢惡不須說，旦以水面東噀之，咒曰：惡夢著草木，好夢成珠玉。吉。有教入廣者曰：朝不可虛，暮不可實。今氣候不齊，不獨入廣也。</p>

<h2>雜忌</h2>
<p>《書》云：過神廟勿輕入，入必恭謹，不宜恣視，吉。</p>
<p>《書》云：忽見光怪變異之物，強抑勿怪，吉。</p>
<p>伊川官廨多妖，有報曰鬼使扇，曰：他熱。又曰鬼打鼓曰以槌與之。范文正公常讀書於府學，每夜有大面之鬼怪近案邊，范公以筆書其面曰：汝面非常大，難欺范仲淹。二公不以怪處之，而怪自滅。可為法也。</p>
<p>《書》云：脂油燃燈，人神不安在血光之下，等閒刀畫地，乃招不祥事。</p>
<p>《感應篇》曰：勿朔旦號怒，勿對北惡罵。</p>
<p>不可脢臘歌舞，不可對灶吟詠，不可向灶罵詈，不祥。慎勿上床臥歌凶。凡欲眠，勿歌詠，不祥。</p>
<p>《書》云：凡刀刃所傷，切勿飲水，令血不止而死。若血不止，急以布蘸熱湯盦之，或冷水浸之，嚼寄葉止血妙。</p>
<p>《書》云：凡古井及深井中多毒氣，不可輒入，五六月最甚，先下雞、鴨毛試之，若旋轉不下，是有毒氣，便不可下去。</p>
<p>又云：山有孔穴，採寶者惟三月、九月，余月山閉氣交，死也。</p>
<p>《瑣碎錄》云：蕭管掛壁取之，勿便吹，恐有蜈蚣。</p>
<p>祖師劉復真，赴召早起，見店婦仆地，叫號可畏，但見吹火筒在傍，劉知其蜈蚣入腹，刺豬血灌之，吐出蜈蚣，可不慎歟。</p>

<h1>卷之三</h1>

<h2>人元之壽（飲食有度者得之）</h2>
<p>《黃帝內經》曰：「陰之所生，本在五味；陰之五宮，傷在五味。」扁鵲曰：「安身之本，必資於食，不知食宜者，不足以存生。」鄉黨一篇具載聖人飲食之節為甚詳。後人奔走於名利而飢飽失宜，沉酣於富貴而肥甘之人，是務不順四時，不和五味而疾生焉。戒乎此則人元之壽可得矣。</p>
<p><u>五味</u></p>
<p>《內經》曰：「謹和五味，骨正筋柔，氣血以流，腠理以密，長有天命。」</p>
<p>《淮南子》曰：「五味亂口，使口爽，傷病也。」</p>
<p>陶隱居云：「五味偏多不益人，恐隨臟腑成殃咎。五味稍薄，令人神爽，若稍偏多，損傷臟腑，此五行自然之理。初則不覺，久當為患也。」</p>
<p>酸多傷脾，肉䐢而唇竭，故春七十二日，省酸增甘，以養脾氣。</p>
<p>曲直作酸，屬木，脾主肉，屬土，木剋土也。</p>
<p>酸過食，損胃氣及肌臟筋骨，不益男子，損顏色。不與蛤同食，相背也。有云：「飲少熱醋，闢寒勝酒。」</p>
<p>黃戩云：「自幼不食醋，今踰八十，尤能傳神。」</p>
<p>又：心色赤，宜食酸，小豆、犬肉、李、韭皆酸。</p>
<p>咸多傷心血，凝泣而變色。故冬七十二日，省咸增苦，以養心氣。</p>
<p>潤下作咸，屬水，心主血，屬火，水剋火也。</p>
<p>鹽過於咸，則傷肺，膚黑損筋力，西北人食而耐咸，多壽；東南人食絕欲咸，少壽。病咳及水氣者，全宜禁之。。</p>
<p>晉桃源避世之人，鹽味不通，多壽。後五味通而壽嗇矣。</p>
<p>又：脾色黃，宜食鹹，大豆、豕肉、慄、藿皆咸。</p>
<p>甘多傷腎，骨痛齒落，故季月各十八日，省甘增咸，以養腎氣。</p>
<p>稼穡作甘，屬土，腎主骨，屬水，土剋水也。蜜餳、沙糖，各見本條。</p>
<p>又：肝色青，宜食甘，粳米、牛肉、棗、葵皆甘。</p>
<p>苦多傷肺，皮槁而毛落，故夏七十二日，省甘增辛，以養肺氣。</p>
<p>炎上作苦，屬火，肺主皮毛，屬金，火剋金也。膽、柏皮等。</p>
<p>又：肺色白，宜食苦，麥、羊肉、杏、薤皆苦。</p>
<p>辛多傷肝，筋急而爪枯，故秋七十二日，省辛增酸，以養肝氣。</p>
<p>從革作辛，屬金，肝主筋，屬木，金剋木也。</p>
<p>胡椒和氣，過多損肺，令人吐血。</p>
<p>紅椒久食，失明乏氣，合口者害人，十月勿食。椒損人心，傷血脈，多忘除濕，濕中益婦人。</p>
<p>又腎色黑，宜食辛，黃黍、雞肉、桃、蔥皆。</p>
<p><u>飲食</u></p>
<p>《書》云：善養性者，先渴而飲，飲不過多，多則損氣，渴則傷血；先飢而食，食不過飽，飽則傷神，飢則傷胃。</p>
<p>《書》云：飲食務取益人者，仍節儉為佳，若過多，覺彭亨短氣便成疾。</p>
<p>《書》云：飲食於露天，飛絲墮其中，食之，咽喉生泡。</p>
<p>《書》云：飲食收器中，宜下小而上大，若覆之不密，蟲鼠欲盜食而不可，環器墮涎，食者得黃病，通身如蠟，針藥不能療。</p>
<p>《書》云：飲食以銅器蓋之，汗若入內，食者發惡瘡肉疽。</p>
<p>《書》云：飲食上蜂行住，或貓犬畛破之水生瘡。</p>
<p>《書》云：飲食生冷，北人土厚水深，稟氣堅實，不損脾胃。久居南方，宜忌之。南人土薄水淺，稟賦多虛，不宜脾胃。久居北方者，尤宜忌之。</p>
<p>《書》云：空心茶，宜戒；卯時酒、申後飯，宜少。</p>
<p>《書》云：極飢而食且過飽，結積聚極，渴而飲且過多，成痰癖。日沒後食訖，便未須飲酒，不幹嘔。</p>
<p>太宗謂宰臣曰：「朕每日所為，自有常節，飲食不過度，行之已久，甚覺有力。老子云：『我命在我，不在天，全在人之調適。』卿等亦當加意，毋自輕攝養也。」</p>
<p>陶隱居云：何必餐霞服大藥，妄意延年等龜鶴，但於飲食嗜欲中，去其甚者將安樂。</p>
<p>漿水，按《本草》：味甘，酸，微溫，無毒。調中引氣，開胃止渴，強力通關，治霍亂瀉痢。消宿食，解煩去睡，調理臟腑，治嘔噦，白人膚體如繒帛，為人常用，故不齒其功。</p>
<p>世之所用熟水品目甚多，貴如沉香則燥脾，木骨草則澀氣，蜜香則冷胃，麥門冬則體寒，如此之類，皆有所損。</p>
<p>紫蘇湯，今人朝暮飲之，無益也。芳草致豪貴之疾，此有一焉。</p>
<p>宋仁宗命翰林院定熟水，奏曰：「紫蘇第一，沉香第二，麥門冬第三，以蘇能下胸膈浮氣。」殊不知久則泄人真氣，令人不覺。</p>
<p>《本草》云：酒飲之，體軟神昏，是其有毒也，損益兼行。</p>
<p>扁鵲云：久飲常過，腐腸爛胃，潰髓蒸筋，傷神損壽。</p>
<p>有客訪周顗，顗出美酒兩石，顗飲石二，客飲八斗。次明，顗無所苦，酒量貫也，客已死矣。觀之，客腸已出，脅已穿，豈非量過，而犯扁鵲之戒歟。</p>
<p>飲白酒，食牛肉，生蟲。酒漿，照人無影不可飲，不可合乳汁飲，令人氣結，祭酒自耗者殺人。酒後食芥辣物多，則緩人筋骨。</p>
<p>臥黍穰，食豬肉，患大風。凡中藥毒及一切毒，從酒得者難治。酒性行血脈，流遍身體也。</p>
<p>《書》云：飲酒，醉未醒，大渴飲冷水，又飲茶，被酒引入腎臟，為停毒之水。腰腳重膇，膀胱冷痛，兼患水腫，消渴攣痹。」</p>
<p>《書》云：酒醉當風，以扇扇之，惡風成紫癜。又：醉酒吐罷，便飲水，作消渴。神仙不禁酒，以能行氣壯神，然不過飲也。</p>
<p>《本草》：茶飲者，宜熱，宜少，不飲尤佳。久食去人脂，令人瘦，下焦虛冷，惟飽食後一、二盞不妨消渴也。飢則尤不宜，令人不眠。同韭食身重。</p>
<p>《書》云：將鹽點茶，引賊入家，恐傷腎也。</p>
<p>東坡說茶除煩去膩，世固不可無茶。然暗中損人不少，吾有一法常自修之。輒以濃茶漱口於食後，煩膩既去而脾胃不知，凡肉之在齒者，得茶漱滌，乃不覺脫去，不煩挑剔也。蓋齒性便苦，緣此漸堅牢，而齒蠹且日去矣。</p>
<p>《書》云：飲多，則肺布葉舉，氣逆上奔。</p>
<p>《書》云：陰地流泉，六月行路，勿飲之，發瘧。</p>
<p>《書》云：飲宴於聖像之側，魂魄不安。</p>
<p>《書）云：飲水勿急咽，久成氣病。</p>
<p>《書》云：形寒飲冷，則傷肺，上氣咳嗽，鼻鳴。</p>
<p>《書》云：粥後飲白湯，為淋，為停濕。</p>
<p>陶隱居云：食戒欲粗並欲速，寧可少餐相接續。莫教一飽頓充腸，損氣傷心非爾福。」</p>
<p>《養生》云：美食須熱嚼，生肉不須吞。」</p>
<p>又云：食畢漱口，數過齒不齲；口不臭，漱口忌熱湯，則損牙齒。」</p>
<p>又云：食炙煿，宜待冷，不然傷血脈，損齒。」</p>
<p>《書》云：食廚屋漏水，墮脯肉，成癥瘕，生惡瘡。」</p>
<p>《書》云：人汗入肉，食之作疔瘡。又食諸獸自死肉亦然。」</p>
<p>《書》云：食物以象牙、金銅為匙箸，可以試毒。」</p>
<p>隱居云：生冷黏膩筋韌物，自死牲牢皆勿食。饅頭閉氣莫過多，生膾偏招脾胃疾。炸醬胎卵兼油膩，陳臭淹藏盡陰類。老人朝暮更餐之，借是寇兵無以異。</p>
<p>《瑣碎錄》云：饅頭閉氣悔血，湯以破之。包子包氣，好醋以破之。</p>
<p>《書》云：食物以魚魫器盛之，有蠱毒，輒裂破入閩者，宜審之。</p>
<p>《書》云：夜半之食宜戒，申酉前晚食為宜。</p>
<p>《周禮》：樂以消食。</p>
<p>蓋脾喜音聲，夜食則脾不磨，為音響絕也。夏月夜短，尤宜忌之。</p>
<p>老子云：不飢強食，則脾勞。不渴強飲，則胃脹。食欲常少，勿令虛。冬則朝勿虛，夏則夜勿飽。</p>
<p>《書》云：君子慎言語，節飲食，人之當食，須去煩惱，食畢當漱口，數過令人牙齒不敗，口香。</p>
<p>天隱子云：人之有齋戒者，齋乃潔淨之物，戒乃節慎之稱，有飢即食，食勿全飽，此所謂中也。百味未成熟，勿食，此皆宜戒也。手常摩擦皮膚，溫熱熨去冷氣，此所謂暢外也。此是調理形骸之法。</p>
<p>《書》云：色惡不食，臭惡不食，失飪不食，不時不食。</p>
<p>前云：色臭二惡不食者，謂飯食及肉顏色香臭變惡者，皆不食之。失飪不食者，謂非朝夕日中時也。</p>
<p>《書》云：飲食以時，飢飽得中，水穀變化，沖氣和融，精血生，榮衛以行，腑臟調平，神志安寧，正氣充實於內，元真通會於外，內外邪沴，莫之能幹，一切疾患無從所作也。又：飲食之宜，當候已飢而進食，食不厭熟嚼，仍候焦渴而引飲，飲不厭細呷，無待飢甚而後食。食不可飽，或覺微渴而省飲，飲不欲太煩，食不厭精細，飲不厭溫熱。</p>
<p>食無生冷、韌、焦燥、黏滑物傷，則胃中水穀易於腐化矣。食物飽甚，耗氣非一，或食不下而上湧嘔吐以耗靈源，或飲不消而作痰咯唾以耗神水。</p>
<p>好食炙煿者，將為口瘡、咽痛、壅熱、癰瘍之疾。偶食物飽甚，雖覺體倦，無輒就寢，可運動徐行納百餘步，然後解帶、松衣、伸腰、端坐，兩手按摩心腹，交叉來往約一二十過，復以兩手自心脅間按擦，向下約十數過，令心腹氣道不至壅塞，過飽食隨手消化也。當盛暑時，食飲加意調節，緣伏陰在內腐化稍遲，又果蓏園蔬，多將生啖，蘇水桂漿，唯欲冷飲，生冷相值，克化尤難。微傷即飧泄，重傷即霍亂吐利。是以暑月食物尤要節減，使脾胃易於磨化，戒忌生冷，免有腹臟之疾也。</p>
<p>《瑣碎錄》云：暑月瓷器如日照者，不可便盛飲食。</p>
<p>閻孝忠曰：吳楚之人，每中脘有疾，翻謂脾病，胸腹痛不以虛實，悉謂脾病。凡脾藥皆椒薑朮附之類。又盛夏必熱食，居密室服藥，習以為常。余勸以夏當寒食，高居以遠炎暑。則曰：吳楚與北人異，以此自將安樂，充實豈不難哉。《經》云：春夏養陽，秋冬養陰，順天地之柔剛。注：陰報於陽謂五月，五陽一陰始生，聖人春食溫，夏食寒，以抑陽扶陰。十一月，五陰一陽，故熱附炎以抑陰扶陽，反此者是謂伐根。盛夏熱食，窮冬寒食，以自取困路，吾未如之何。</p>
<p>一日之忌：暮無飽食物，至飽傷臟腑。又人之陽氣，隨日升沉，日中則隆，日西則虛。無勞復筋骨，當休息肢體，力省運行，食難磨化，或即就寢，不免重傷。故云：夜食飽甚損一日之壽也。</p>
<p>玉叔和洞識攝生之道，常謂：人曰食不欲雜，雜則或有所犯，當時或無災患，積久為人作疾。尋常飲食，每令得所，多食令人膨脝短氣，或致暴疾。夏至秋分少食肥膩、餅臛之屬，此物與酒食瓜果相妨，當時不必習病，入秋節變陽消陰息，寒氣總至，多諸暴卒。良由涉夏取冷太過，飲食不節故也。而不達者，皆以病至之日便謂是受病之始，而不知其所由來者漸矣。豈不惑哉。</p>
<p><u>食物</u></p>
<p>物之無益而有損者，常人尤不可多食，況病人當避忌者乎，此書所載。凡物之有益而無損者，不書。或損益相半者，則書其損而不書其益。</p>
<p><u>果實</u></p>
<p>生棗令人熱，渴、氣脹、寒熱、羸瘦者，彌不可多，動臟腑，損脾元，與蜜同食損五臟。</p>
<p>軟棗冷，動宿疾，發嗽，與蟹相忌。</p>
<p>梅子壞齒及筋，多食發熱。</p>
<p>生龍眼平，沸湯內淖過不動脾。</p>
<p>櫻桃，寒熱病多食，發暗風，傷筋骨，嘔吐。小兒多食作熱，性熱也。</p>
<p>生荔枝性熱，多食發虛熱、煩渴、口乾、衄血。</p>
<p>楂子不可多食，損齒及筋。</p>
<p>乳柑太寒，冷脾，發痼疾，利腸，發輕汗。脾胃冷人，尤不可多食，諸柑性同。</p>
<p>橘柚酸者聚痰，甜者潤肺，不可多食，令人口爽，不知五味。</p>
<p>橙子溫，皮多食傷肝，與檳榔同食，頭旋噁心，生痰瘧。</p>
<p>楊梅多食發熱，損齒及筋。</p>
<p>杏實熱，多食傷筋骨。杏酥生熟吃俱得，半生半熟，殺人。杏仁久服，目盲，眉、發、須落，動宿疾。雙仁者，殺人，可研細治犬傷。</p>
<p>桃實，發丹石，損胃，多食有熱。飽食桃仁，水浴成淋。</p>
<p>桃杏花，本五出而六出者，必雙仁能殺人者，失常故也。</p>
<p>李子平，發瘧，多令虛熱，白蜜和食，傷人五內，不可臨水上啖之及與雀肉同食。李不沉水者，毒。仁和雞子食，內結不消。</p>
<p>梨寒，乳鵝梨、紫花梨治心熱，此外生不益人，多食，寒中。產婦，金瘡人，勿食，令萎困。其性益齒而損脾胃，正二月勿食佳。</p>
<p>有人家生一梨，大如斗，送之朝貴，食者皆死。考之樹下有大蛇，聚毒於此，不常為妖也，他仿此。</p>
<p>藤梨，名沐猴梨，食多冷中。</p>
<p>林檎多食，發熱澀氣，好睡發冷疾，生瘡癤，脈閉不行，子不可食，令人煩。</p>
<p>石榴多食，損肺及齒。山石榴多無益，澀氣。</p>
<p>粟子，溫，生治腰腳。生即發氣，宜暴乾蒸炒，食多即氣壅，患風水氣，人不宜食。生慄可於灰火中煨，令汗出，殺其水氣，不得通熟。小兒食生者，多難化。熟者，多滯氣。</p>
<p>柿子，寒，日乾者，性冷，多食腹痛，生者彌冷。紅柿與蟹同食，吐紅；飲酒食紅柿，心痛至死，亦易醉，不解酒毒。一種塔柿引痰，日乾多動風火，干味不佳。</p>
<p>椑子性尤冷，與蟹同食，腹疼大瀉。</p>
<p>葡萄酒過，昏人眼，架下飲酒，防蟲屎傷人。</p>
<p>白果生引疳，解酒；熟食益人，然不可多食，腹滿，有云滿一千個者，死。此物二更開花，三更結子，當是陰毒之物。</p>
<p>有人艱糴，取白果以為飯，飽食，次日皆死。</p>
<p>蔞芰也，冷臟色利，損陽，令陰萎，不益脾，難化，令脹滿，姜酒解之。七月食生菱，作蟯蟲。</p>
<p>茨菰，大寒，動宿冷氣，腹脹滿，小兒秋食之，臍下痛，孕不可食。吳茱萸食，患腳氣，癱瘓，損齒，失顏色。</p>
<p>荸薺性與烏芋同。</p>
<p>芡實生食，動風冷氣，損脾難消卻益精。</p>
<p>藕多食，冷中，能去疫氣，產後惟此不同生冷忌者，破血故也。</p>
<p>甜瓜，動痼疾，多食，陰下濕癢，生瘡，發虛熱。破腹，令人惙惙弱，腳手無力。少食則可不中暑，多食未有不下。貧下多食，深秋下痢難治，損陽故也。患腳氣食此，永不除。五月甜瓜沉水者，殺人。多食，發黃疸，動氣，解藥力。雙蒂者，殺人。與油餅同食發病。</p>
<p>防州太守陳逢原，避暑食瓜至秋，忽腰腿痛，不能舉動，遇商助教療之，更生。</p>
<p>西瓜甚解暑毒，北人稟厚食慣，南人稟薄，不宜。多食至於霍亂，冷病人終身不除。</p>
<p>木瓜，溫，皮薄微赤黃，香，甘酸不澀，向裡子頭尖，一面方，是真。益脾而損齒。若圓和子微黃，蒂粗澀小圓，味澀微咸，傷人氣，多食損牙。</p>
<p>甘蔗多食，衄血，燒其滓，煙入目則眼暗。</p>
<p>砂糖，寒，多食心痛。鯽同食成疳；葵同食生流癖；筍同食成食瘕，身重不能行。小兒多食，損齒及生蟯蟲。</p>
<p>榲桲不可多食，損齒傷筋。</p>
<p>松子多食，發熱毒。</p>
<p>柰子多食，臚脹，不益人，病人尤甚。</p>
<p>胡桃，平，多食，利小便，脫人眉，動風，動痰，噁心嘔吐。酒同食過多，咯血。</p>
<p>五月食未成果核，發癰癤寒熱。</p>
<p>秋夏果落地，惡蟲緣食之，患九漏。</p>
<p>一切果核雙仁害人。</p>
<p>生果停留多日，有損處，食之傷人。</p>
<p>治諸果毒，燒豬骨過為末，水服方寸匕。</p>
<p>枇杷多食，發痰熱。</p>
<p>橄欖食之，必去兩頭，有大熱。過白露摘食，庶不病痁。</p>
<p>榧子多食，能消穀，助筋骨，行榮衛，明目輕身，治咳嗽。食之過多，則滑腸。</p>
<p>榛子，益氣力，寬腸胃。</p>
<p>蓮子，食之宜蒸，生則脹人腹中，噫，令人吐。食當去之，不去心食之霍亂。又：性寒，生食微動氣，蒸食之良。</p>
<p>藕生食，主霍亂後煩渴，虛悶不能食，蒸食能補五臟，實下焦。與蜜同食，令人腹臟肥，不生諸蟲。</p>
<p>除煩解酒毒，壓食反，病後熱渴，食藕用少鹽水或梅水浸，供多食，不損口。久服輕身耐老，止熱破血。</p>
<p>雞頭益精氣志，令耳目聰明。久服，輕身不飢，耐老，作粉食極妙，是長生之藥。與小兒食，不能長大，故駐年耳。生食，動風冷氣，多食不益脾胃氣兼難消化。</p>
<p><u>米穀</u></p>
<p>粳米，生者冷，燔者熱，生不益脾，過熟則佳。蒼耳同食，卒心痛；馬肉同食，發痼疾。</p>
<p>稻米，糯米也。妊娠與雜肉食之，不利其子，生寸白。久食，身軟緩筋故也。性寒，壅經絡氣，使人四肢不收，昏悶多睡，發風動氣，可少食。</p>
<p>秫米，似黍而小，亦可造酒。動風，不可常食。</p>
<p>黍米，發宿疾，久食，昏五臟，好睡。小兒食，不能行，緩人筋骨，絕血脈。白黍久食，多熱，令人煩。赤黍不可合蜜，惟可作糜。不可為飯，黏著難解。</p>
<p>五種黍米，合葵食之，成痼疾，藏脯於中，食之閉氣。肺病者，宜此。</p>
<p>生米戲食，久為米瘕，肌疲如勞，缺米則口吐清水。</p>
<p>飴糖進食，健胃，多食則動脾風。</p>
<p>麥佔四時，秋種夏收。西北多霜雪，面無毒，南方少雪，有毒。</p>
<p>小麥，性壅熱，小動風氣，治面後覺中毒，以酒咽漢椒三五粒不為疾。</p>
<p>大麥，久食宜人，帶生則冷，損人。</p>
<p>麥蘖，久食消腎，不可多。</p>
<p>穬麥，西川多種，山東河北人，正月方種，先患冷氣，人不宜食。</p>
<p>蕎麥，性寒難消。久食動風，頭眩，和豬肉食八九次，患熱風，脫眉須。</p>
<p>粟米食後，勿食杏仁，令人吐瀉。</p>
<p>稷米，穄也，發三十六種病。八谷之中最為下，不可同川附子服。</p>
<p>陳廩粟米、秔米，陳者，性皆冷，頻食之，自利。藏脯臘於中，三月久滿不知而食之，害人。</p>
<p>綠豆治病，則皮不可去，去皮，食少壅氣。</p>
<p>赤小豆，行小便，久食虛人，令人黑瘦枯燥，能逐津液，身體重。</p>
<p>青小豆，一名胡豆，合鯉魚鮓食之，肝黃，五年成干消。</p>
<p>赤白豆合魚鮓食之，成消渴。</p>
<p>黑白黃褐豆，大小豆，作豉極冷，黃卷及醬皆平，多食體重。服大豆末者，忌豬肉。炒豆與一歲以上十歲以下食之，即啖豬肉，久當壅氣死人。有好食豆腐中毒，不能治。更醫至中途，遇作腐人家相爭，因問，妻誤將萊菔湯置鍋中，腐更不成。醫得其說，以萊菔湯下藥而愈。</p>
<p>萊菔，即蘿蔔也。</p>
<p>醬，當是豆為者，今以面麥為者，食之多殺藥力。</p>
<p>夫子云：不得其醬，不食，故五臟悅而愛之，此亦安樂之端。</p>
<p>脂麻炒熟，乘熱壓出生油，但可點。再煎煉方方謂熟油，可食。油發冷疾，滑骨髓，困脾臟，經宿即動氣。牙齒脾疾人宜陳油，飲食須逐日熬熟。黑脂麻，炒食之，不生風疾，風人日食之，則步履端正，語言不謇。</p>
<p>白脂麻，生則寒，炒則無發霍亂，抽人肌肉。又：別有胡麻，味苦，乃苣勝也，不可為補益。用烏麻最益人。</p>
<p>胡麻，一名苣勝，服之不老，耐風濕，補衰老。九蒸九曝，末之，以棗膏丸服之，治白髮還黑。補五內，益氣力，長肌肉，填骨髓腦，堅筋骨。久服輕身不老，明耳目，耐飢渴，延年。</p>
<p>逐日熬熟，用經宿即動氣，有牙齒並脾胃疾人，切不可吃。</p>
<p>大麻仁，不宜多食，損血脈，滑精氣，痿陽氣，婦人多食，髮帶疾。以五升同蔥一握搗，和浸三日，去滓沐發，令白髮不生。研取汁，煎三十餘沸收之，常取汁和羹兼煮粥，食之去一切五臟氣。</p>
<p><u>菜蔬</u></p>
<p>葵為五菜，主秋種，早者至春作子，名冬葵。其心有毒，傷人。性冷，熱食之亦令熱悶，甚動風氣。葵凍者，生食之，動五種瘤，飲甚則吐水，和鯉魚食之、害人。四季勿食。生葵不化，發人一切宿疾。百藥忌食之，發狂犬咬。吳葵，一名蜀葵，不可久食，鈍人志性。被狗咬戒食，誤食之，永不瘥。</p>
<p>戎葵並鳥肉食，無顏色。</p>
<p>生蔥食之，即啖蜜，下痢。食燒蔥啖蜜，壅氣，死。雜白犬肉食之，九竅出血。患氣者多發氣，上充人，五臟閉絕，虛人胃，開骨節，正月食之，生面上游風。大抵功在發汗，多則昏人神。</p>
<p>胡蔥，多食傷神，損性多忘，損目發痼疾，狐臭、䘌齒人食之甚，青魚合食，生蟲。</p>
<p>韭，俗呼草鍾，乳病人可食。然多食，昏神暗目，酒後尤忌。不可與蜜同食。未出土為韭黃，不益人，滯氣。花動風。過清明勿食，不利病人，心腹痼疾者加劇。</p>
<p>霜韭，不可食，動宿飲，必吐水。五月食之損人滋味，乏氣力，不可共牛肉食，成瘕熱病。後十日，不可食，發睏。蔥亦不宜。</p>
<p>薤，肥健人。生食，引涕唾，與牛肉食，作瘕。四月勿食薤。三冬至食，多涕唾。</p>
<p>葫，大蒜也，久食傷肝損目，弱陽。煮以合青魚鮓發黃作，啖鱠伐命。惟生食，不中煮。暑毒，爛嚼下咽即知，仍禁冷水。四月八月，食之傷神，損膽氣，喘悸氣急，腹內生瘡，腸腫成疝瘕。多食葫行房，傷肝，面無光，北方人稟厚者，食慣病少。</p>
<p>小蒜不可常食，食而啖生魚奪氣，陰核疼，欲死。</p>
<p>三月勿食，傷志。時病瘥後，與一切食，竟入房，病發必死。</p>
<p>胡荽，蕎子也，久食令人多忘，狐臭，口氣，慝齒，腳氣加劇，根發痼疾。</p>
<p>蓼子，是水浸令生芽而食之者，多食令人吐水，損陽少精，心痛寒熱，損骨髓。二月食之，傷腎，和生魚食，奪陰氣，核子痛，欲死。</p>
<p>萱草，一名忘憂，嫩時取以為蔬，食之動風，令人昏昏然，終日如醉，因得其名。</p>
<p>菘，發諸風冷，有熱，人食之，不發病，性冷也。</p>
<p>芥，多食動風氣，發丹石，與兔肉同食，成惡病。</p>
<p>蕪青，蔓青也，根不可多食，令氣脹，子作油塗，頭髮黑。</p>
<p>萊菔，即蘿蔔，力弱。人不宜多食，生者滲人血。</p>
<p>生青菜，時病瘥後食之，手足青腫。</p>
<p>一切萊，五月五日勿食之，變百病。</p>
<p>一切萊，熟煮熱食之。凡澹流滴著者，有毒。</p>
<p>十月被霜菜，食者面無光，目澀，腰疼，心瘧。發時，足十指爪青，萎困。</p>
<p>薺菜，不宜面同食，令人督悶發病，凡用甘草皆忌此。</p>
<p>莧菜，多食動氣，冷中損腹，共蕨及鱉食，生瘕。</p>
<p>堇菜，不宜多食，令人身重、多腫，只可一二頓。</p>
<p>蕓薹菜，患腰腳人，多食加劇。損陽氣，發口瘡，齒痛生蟲，狐臭人忌之。</p>
<p>鹿角菜，久食發宿疾，損經絡，少顏色。</p>
<p>菠薐菜，北人食肉面即平，南人食魚米即冷。多食，冷大小腸；久食，腳軟腰痛。</p>
<p>蓴菜，多食性滑發痔，引疫氣，上有水銀故也。七月蠟蟲著上，令霍亂，勿食之。</p>
<p>芹菜生高田者，宜人。黑滑地名水芹，赤色者害人，性寒，和醋食之損齒。</p>
<p>春秋龍帶精入芹中，偶食之，手青肚滿，痛不可忍，服砂糖三二斤，吐出蚰蜴，便愈。</p>
<p>苦蕒，夏月食之以益心，蠶婦忌食之。</p>
<p>萵苣冷，久食昏人目。白萵苣，冷氣人食之，腹冷。產後不可食，寒中。共飴食，生蟲。苦苣不可與蜜同食。</p>
<p>莙薘多食，動氣冷氣，人食之，必破腹。</p>
<p>首蓿，利在小腸。蜜食下痢，多食瘦人。</p>
<p>蕨，久食腳弱無力，弱陽，眼暗多睡，鼻塞，發落，小兒食之，不行。冷氣食之，腹脹。生食成蛇瘕。</p>
<p>郄鑑鎮丹徒出獵，有甲士折一枚食之，覺心淡淡成疾，後吐一小蛇，懸屋前，漸成干蕨，信不可生食蕨也。</p>
<p>茄至冷，五勞不可多食，發瘡損人，動氣發痼疾。熟者少食無憂患，冷人不可食，秋後食之損目。</p>
<p>黃瓜，本名胡瓜，不益人。患腳氣虛腫者，毒永不除。</p>
<p>越瓜，色白，動氣發瘡，腳弱不益。小兒、時病後勿食，與乳酪鮓及空心食，心痛。</p>
<p>青瓜，令人多忘。</p>
<p>冬瓜多食，陰濕生瘡，發黃疸，九月勿食。被霜瓜向冬發血寒熱，反惡。病初食，吐，食竟心下停水，或為翻胃。有冷者食之瘦，瓜能暗人眼，尤不宜。老人中其毒，至秋為瘧痢。一切瓜，苦者有毒。兩蒂兩鼻者，害人。</p>
<p>瓠子，冷氣人食之病甚。大耗食，患腳氣，虛腫。人食之，毒永不除。</p>
<p>葫蘆，多食令人吐。</p>
<p>芋，一名土芝，有紫有白，冬月食，不發病，他月不可食。</p>
<p>薯蕷，亦有紫白，頗勝芋。有小而名山藥者佳，蒟蒻冷氣人少食之。</p>
<p>曾有患瘵，自謂無生，是物不忌，鄰家修蒟蒻，求食之，美，遂多食，竟愈。有病腮癰者數人，余教多食此而愈。</p>
<p>甜瓜多食，令人陰下癢濕生瘡，發黃疸病。凡瓜入水沉者，食之得冷氣，終身不瘥。</p>
<p>上床蘿蔔下床姜。蓋夜間蘿蔔消宿食，早起姜能開胃也。</p>
<p>蘿蔔和羊肉食，下五臟一切氣冷，人肥白。如無羊肉，諸魚肉皆得用也。久服澀腸衛，令人發早白。</p>
<p>牛蒡，通十二經脈，洗五臟壅氣，可常菜食。</p>
<p>蔊菜細切，以生蜜洗或略煎，吃之爽口，妙，能消宿食。多食發痼疾。昆布多食令人瘦。</p>
<p>紫菜多食，令人腹痛，發氣吐白沫，飲少熱醋解。</p>
<p>決明葉，明目輕身，利五臟，作菜食之良。子，主肝家熱，每日取一匙，將去土，空腹吞之，百日後夜見字。</p>
<p>乾薹，發諸瘡疥，下一切丹石，殺諸藥毒，不可多食，令人動血氣。</p>
<p>茭白，不可合生菜食之。多食發氣並弱陽，不可雜蜜食之，發痼疾。主心胸中浮熱動氣。不中食，發冷，滋牙齒，傷陽道，不食為妙。</p>
<p>苦筍，主不睡，去面目並舌下熱黃，消渴，明目，解熱毒，除熱氣，健人。</p>
<p>筍箭，荀新者，稍可食，陳者，不可食。</p>
<p>淡竹荀，雖口美，發背悶、腳氣。</p>
<p>筍以薄荷葉數片同煮，即無奩味。</p>
<p>諸筍煮二三日不爛，脾難克化，脾病者，不宜吃。</p>
<p>生薑，九月九日勿食之，傷神損壽。乾薑，妊多食內消。</p>
<p>椿芽，多食神昏。</p>
<p>榆仁，多食發熱、心痛。</p>
<p>菌，地生為菌，木生為檽、為木耳、為蕈。新蕈有毛者、下無紋者、夜有光者、煮不熟者、欲爛無蟲者、煮訖照人無影者、春夏有惡蟲毒蛇經過者，皆殺人。誤食毒菌，往往笑不止而死。惟掘地為坎，投水攪取清者飲之。</p>
<p>木菌，楮、槐、榆、柳、桑五木之耳可食，冬春無毒，木耳亦不宜多食，如前所云者皆殺人。又：赤色仰面不覆者，及生野田中者，皆毒。又：發冷風氣痔，多睡無力。</p>
<p>甘露子，不宜生食，不可多食，生寸白蟲，與諸魚同食，病生反胃。</p>
<p>茱萸，六七月食之，傷神氣。</p>
<p>茼蒿，多食氣滿。</p>
<p>蒔蘿根，曾有食者殺人。</p>
<p>蔓菁，菜中之最益人者，常食之，通中益氣，令人肥健。</p>
<p>蘭香，不可多食，壅關節，澀榮衛，令人血脈不行，又動風，髮腳氣。</p>
<p><u>飛禽</u></p>
<p>雞，黃者宜老人，烏者暖血，產婦宜之。具五色，食者必狂，六指。玄雞白頭家雞及野禽生子有八字文及死不伸足，害人。烏雞合鯉魚食，生癰疽。丙午日食雞肉，主丈夫燒死，目盲，女人血死，妄見。《千金方》載：四月勿食暴雞肉，作疽液漏，男女虛勞乏氣。八月食之傷神氣。妊婦多食，子患諸蟲。妊食雞子，多令子失音。雞子動風，動氣，合鱉肉食害人；合犬肝、犬肉食泄利害人；合魚汁內成心瘕；合獺肉及野雞共家雞肉合食之，成遁屍，屍鬼纏身，四肢百節疼痛。雞子白合胡荽、蔥、蒜食，滯氣短氣；合生蔥、犬肉食，穀道流血，疹。食雞鴨子眼翳。雞過宿收不密，蜈蚣必集其中，不再煮而食之，為害非輕。</p>
<p>雞並子不可合李子食之。老雞能呼人姓名，殺之則止。雞有四距重翼者，龍也，殺之震死。烏雞最暖，可補血，婦人可食。閹雞善啼，內毒。踏雞子殼令人得白瘕風。半夜雞啼則有憂事。雞生子皆雄者必有喜事。</p>
<p>雉離，禽也。損多益少，久食瘦人，春夏多食有毒。九、十至十一月稍補，他月發痔及瘡疥，八月忌之。益人神氣，丙午日不可食，明主於火也。四月勿食，氣逆。和胡桃、菌子同食，下血，有痼疾者不宜。和蕎麥麵食生肥蟲。卵不與蔥同食生寸白。</p>
<p>鶩，鴨也，六月勿食，益神氣。黑鴨滑中，發冷痢腳氣，人不可多食，有毒。妊娠多食，令子倒生。野鴨不可與胡桃、木耳同食。</p>
<p>《異苑》曰：章安有人元嘉中啖鴨肉成瘕，胸滿面赤，不得飲食，醫以秫菜食之，須臾吐一鴨雛，遂瘥。此因內生所致，又食過而然。</p>
<p>白鴨，補虛，目白者殺人。鴨卵多食發疾冷氣。</p>
<p>老鴨善，嫩鴨毒。鴨子不可合蒜食之，又不可合李子、鱉肉食之。野鴨九月已後，即中食。全勝家者，雖寒不動氣，又身上生熱瘡，多年不好者，但多食之即瘥。</p>
<p>白鵝，肉性冷，多食霍亂髮痼疾。卵不可多食。蒼鵝發瘡膿。老鵝善，嫩鵝毒。鵝毛柔暖而性冷，選細毛夾以布帛，絮而為被，偏宜覆嬰兒而闢驚癇也。</p>
<p>鵪鶉，四月已後，八月已前，不堪食。《本草》云：蝦蟆化也。鶉，患痢人可煮食之，良。和生羹煮食泄痢，酥煎偏令下焦肥。與豬肝同食麵生黑子。與菌同食發痔疾。</p>
<p>鷓鴣不可與筍同食，令人腹脹。此鳥天地之神，每月取一隻饗，至尊，自死者忌之。</p>
<p>山雞頓食發五痔，和蕎麥食生瘡，不與豉同食，殺人，卵不可與蔥同食，生寸白，不可久久食，令人疫。鷩雉，一名山雞，養之禳火災，山雞類也。</p>
<p>南唐相馮延已苦腦痛，久不減，太醫吳延紹誥。庖人曰：「相公平日多食鷓鴣、山雞。」吳曰：「得之矣。」投以甘草湯而愈。蓋此禽多食烏頭、半夏，有毒，以此解之。又類編通判楊立之官南方，多食鷓鴣，生喉癰，膿血日夕不止。泗水楊吉老令先啖生薑一片，愈。蓋以製半夏毒也。唐崔魏公，以多食竹雞暴亡，梁新命捩生薑汁，折齒灌之，復活。亦此意也。</p>
<p>鴛鴦肉常食之患大風。夫婦不相和，煮鴛鴦肉食之，即時和順相愛也。</p>
<p>雀肉不與李同食。合醬食妊娠所忌。不可合雜生肝食之。雀糞和老薑末蜜丸服之，令人肥白。</p>
<p>鵓鴿，雖益人，病者食之多減藥力。</p>
<p>雄鵲，婦人不可食，燒毛納水中沉者是雄。</p>
<p>烏鴉，肉澀不中食。鴉瘦，病嗽骨蒸者，可和五味醃炙食之。鴉眼睛，研，注人目中，令人見神鬼。</p>
<p>燕肉，人不可食，入水必為蛟龍所害，食者損人神氣。出千金博物志</p>
<p>雁肉勿食，損人神氣。脂，可和豆黃末服，令人肥白。</p>
<p>孔雀毛入人眼即瞎。</p>
<p>諸般死鳥皆不可食。</p>
<p>杜鵑初鳴先聞者，主別離。學其聲吐血。廁上聞者，不祥，作犬聲應之，吉。</p>
<p>凡禽自死口不閉者殺人。</p>
<p><u>走獸</u></p>
<p>豬肉之用最多，然不宜人，食之暴肥，致風虛也，閉血脈，弱筋骨，虛人肌，病人金瘡者尤甚。食其肉飲酒，不可臥秫穰中。又：白豬白蹄雜青者，不可食。豬腎理腎氣，多食腎虛，久食少子。</p>
<p>豬心肝不可多食，無益，豬臨宰驚入心，絕氣歸肝也。豬肝、鵪鶉同食，令人面生黑點。</p>
<p>豬肉共羊肝和食之，令人心悶；不可與生胡荽同食，爛人臍；不可合龜鱉肉，食之害人；不可合葵及烏梅，食之氣少；不可合雞子同食，令人氣消悶；食豬脂忌烏梅、生梅子，害人。</p>
<p>野豬青蹄者不可食，江豬多食者令人體重。</p>
<p>豪豬不可多食，發風氣，令人虛羸。凡煮豬肉用桑白皮、皂莢、高良薑、黃蠟塊同煮，食不發風。脂油作燈，目暗。肝肺共魚鱠或𥹋，食之作癰疽。共鯉子食，傷人神。八月勿食佳。腦子損陽，臨房不能舉。今食者以鹽酒，是引賊也，曾不思皮尚可消而不覺其毒耶？頭動風，其嘴尤毒，風人不宜食者。以竹葉燒煙撐口熏之，得口鼻涎出則無害。豬不姜食之，中年氣血衰，面生黑點。俞氏云：「豬肉生薑同食，發疾風。」又云：「發大風。」</p>
<p>羊肉，性大熱，時病愈，百日內不可食，食則復令骨蒸。和鮓食傷人心，和生魚酪食害人。生脂宿有熱者不可食。蹄甲中有珠子白者，名懸筋，發人瘨。肝和豬肉及梅子、小豆食之傷人，心肝有竅，不可合烏梅、白梅食之，皆害人。</p>
<p>山羊肉不可久食，及楮木炙食，及合雞子食，令人腹生蟲。大病人妊娠食肝，令子多厄。一切羊肝共生椒，食之破五臟，傷心，小兒亦忌之。</p>
<p>肚子，病人共飯常食之，久成反胃，作噎病。共甜粥，食之多唾，吐清水。腦子，男子食之損精，少子，欲食者，研細醋和之。豬腦亦然，不食佳。白羊黑頭，食其腦作腸癰。飲酒後不得食羊、豕腦，大害人。心有孔者及一角者，皆殺人。</p>
<p>羖羊，青羝羊也。肉以水中柳木及白楊木，不得於銅器內煮。食之丈夫損陽，女子絕陰，暴下不止。髓及骨汁合食，煩熱難退，動利。六月勿食，以益神氣。</p>
<p>青羊肝和小豆食之，目少明。</p>
<p>羊不醬同食，久而生癩，發痼疾。</p>
<p>羊、豬血，人不可過，多食則鼻中毛出，晝夜可長五寸，漸粗圓如繩，痛不可忍，雖忍痛摘去，即復生。子益治奇疾，方用乳石、硇砂各一兩為末，以飯丸如桐子大，空心臨臥水吞下十粒，自然退落。</p>
<p>牛，盛熱時卒死者，不食，作腸癰，下痢者，必劇。丑月食之，傷神氣。患牛腳蹄中拒筋，食之作肉刺。合馬肉食，身癢；共豬肉食，生寸白。不可和黍米、白酒、桑柴火炙，並生慄食，生寸白蟲。牛肉，患冷人不宜食。五臟各補人五臟。沙牛肉，常食發宿疾。</p>
<p>牛者，稼穡之資，不可屠殺，自死者，血脈已絕，骨髓已竭，不堪食。牛黃髮病，黑牛尤不可食。牛乳汁及酪合生魚食，成魚瘕。花牛最毒，眼疾人吃雙盲，用姜損齒。獨肝牛肉食之殺人，牛食蛇者獨肝。</p>
<p>一切牛，盛熱氣時奇死者，總不堪食，生腸癰之疾。食牛之人，生遭惡鬼侵害，多染疫病，死入地獄，受赦所不原之罪，戒殺編類。</p>
<p>台州攝參軍陳昌夢入東嶽，見廊下有罪數人，悉斷割肢體，號叫極甚。陳問陰吏，曰：「此數人以食牛肉，宰殺耕牛，受此報也。」既覺遂不食牛肉與雞。台州起瘟疫，環城幾無免者，陳頗憂之，夢神告曰：「子不食牛肉，我當護衛。邪疫之氣，各自迴避，不必憂也。」其患遂息。好食牛肉，人壽祿皆減，百神皆散。戒食者，百神守護，妖邪鬼魅不敢侵犯。</p>
<p>馬肉，自死者害人，甚者殺人，勿食。下痢人食者加劇。肉多著水浸洗，方煮得爛，去血始可煮。炙肥者亦然，不然毒不出，患疔腫。只可煮，餘食難消，不可多食。妊不食。五月食之，傷神氣。食肉而心煩悶者，飲清酒則解，濁酒則劇。不與陳食、米同食，卒得惡，十死九。姜同食，生氣嗽，患痢，食心悶。血有毒，飲美酒解。白馬玄蹄腦令人瘨；白馬青蹄肉不可食；黑脊斑臂肉不可食；鞍下黑色徹肉裡者，傷人五臟。馬頭骨作枕，令人不睡。食死馬，勿食倉米，發百病。馬汗氣及毛，不可偶入食中，害人。汗不可近陰，先有瘡，不得近馬汗及肉汁、馬氣並毛等，必殺人。馬筋肉非十二月採者，宜火干。馬心，下痢人不可食。馬蹄，夜目五月以後，勿食之。肉不可與鹿膳同食。患疥人食之，令人身體癢。馬肉不可熱吃，傷人心。馬豬肉共食，成霍亂。</p>
<p>驢肉病死者，不堪。騾，驢、馬為其十二月胎，騾又不產妊，不可食。驢肉動風，脂肥尤甚，食肉慎不可飲酒，至疾殺人。尿稍毒服不過二合。驢、豬肉合食，霍亂。醍醐酥酪有益無損，羊、牛、馬酪食竟即食大酢，變血澹，尿血。牛乳不可與酸物食，成堅積。驢乳冷不堪酪。一切牛馬乳及酪共生魚食，成魚瘕。乳酪煎魚，主霍亂。甲子日勿食一切獸肉，大吉。</p>
<p>《五行書》云：「白犬虎文，南鬥君，畜之，可致萬石也。」黑犬白耳犬，王犬也。畜之令家富貴；黑犬白前兩足，宜子孫；白犬黃頭，家大吉；黃犬白尾，代有衣冠。又白前兩足利人。人家養犬，純白者，主凶。</p>
<p>犬黑色者，養之能闢伏屍。若斑青者，識盜賊則吠之。犬肉不熟食及多食，令人成瘕，患消渴病。</p>
<p>白犬合海鮋食，必生惡病。白犬自死舌不出，食之害人。不與蒜同食，損人，及懸蹄犬肉有毒，敗人。犬瘦者，是病不可食；妊娠食犬，兒無聲。九月禁食，以養神氣。血，食肉而去血，不益人。狂犬，若鼻赤起與燥者，此欲狂，其肉不堪食。</p>
<p>孫真人曰：「春末夏初，犬多發狂，當戒，小弱持杖預防之。防而不免，莫出於灸。其法只就咬處牙上灸一日一次，灸一二三丸，在意灸至百二十日止。咬後便討韭菜煮食之，日日食為佳。此病至重，世不以為意，不可不知也。」</p>
<p>吃犬肉人，減克年壽（《戒殺編》）人能戒牛、犬，壽命延長。</p>
<p>《真武啟聖錄記》云：「食犬折壽祿，作事大不利。」</p>
<p>鹿肉、獐肉為一，不屬十二辰也。五月勿食之，傷神，豹文者，殺人。鹿茸不可以鼻嗅，有小蟲入鼻為蟲顙，藥不及也。鹿肉痿人陰，不可近。</p>
<p>鹿肉，多食令人弱房，髮腳氣。麋不可合獺肉，食之害人。不可合雜鴣肉食，不可合生菜、蝦米，同食之害人。鹿角銼為屑，白蜜五升淹之，微火熬令小變，曝乾更攜篩，服之令人輕身，益氣強骨髓，補絕陽。</p>
<p>鹿一千年為蒼鹿，又百年化為白鹿，又五百年化為玄鹿，玄鹿為脯，食之壽二千歲。貍肉骨，可治勞。白鹿肉和蒲白作羹，發惡瘡。</p>
<p>壺居士云：「餌藥人食鹿肉，必不得效。以其食解毒之草，能散藥力也。」</p>
<p>獐肉，八月至十一月食之，勝羊肉，余月動氣。</p>
<p>獐肉不可合蝦及生菜、梅、李、果實食，發痼疾。</p>
<p>獐肉不可炙食，令人消渴。</p>
<p>麂肉，多食動痼疾。以其食蛇，所以毒。</p>
<p>麋肉，不與野雞及蝦、生菜、梅、李、果實同食，皆病人。</p>
<p>麋脂，不可近男子陰，令痿。肉不可與雉肉同食。</p>
<p>麋脂及梅、李子，若妊娠婦人食之，令子青盲，男子傷精。</p>
<p>麋骨，可煮汁釀酒飲之，令人肥白，美顏色。</p>
<p>生麑肉共蝦汁合食之，令人心痛。</p>
<p>生麑肉共雉肉食之，作痼疾。</p>
<p>麕肉不可合鵠肉食之，成癥病。</p>
<p>麝肉共鵠肉食之，作癥病。</p>
<p>麝臍中香，治一切惡氣，疰。百疾研服之，立瘥也。</p>
<p>象肉不可食，令人體重。</p>
<p>虎肉不可熱食，壞人齒。虎肉正月忌食，以益壽。藥箭死者，毒漬骨間，血猶能傷人，不可食。貍、豹同。</p>
<p>人家畜貓一產止一子者，害其主人，急棄之乃免。又云：雖一產三四而皆雄或皆雌者，亦不可畜。</p>
<p>兔肉，妊娠食，生子缺唇，兔產從口出，忌之宜。丹石人八月、十一月可食。多食損陽絕血脈，令人萎黃。豆瘡，食之大毒，斑爛損人。二月勿食，養神氣。共獺肉、肝食，成遁屍。鵝肉同食，血氣不行。</p>
<p>白雞肝同食，面失血色，一年成疸。共薑、橘同食，心氣痛，成霍亂。</p>
<p>兔肉，深時則可食，令氣全生。</p>
<p>兔死而眼合者，食之害人。</p>
<p>川山甲，多食動舊風氣。</p>
<p>豹肉，酸不可食，消人脂肉，令人瘦，損神情。</p>
<p>獺肉，只治熱，若冷氣、虛脹，食之甚也。消陽不益，男子宜少食。五臟及肉性寒，惟肝溫，治傳屍勞。</p>
<p>熊肉，有痼疾者不可食，終身不愈，十月禁食。脂，不可作燈，煙氣入目，失明。不可近陰，不起。</p>
<p>麝肉共鵠肉食，作瘕。此物夏月食蛇，帶其香，日久透關成異疾。不得近鼻，有白蟲入腦，患蟲顙。</p>
<p>猿猴，小兒近之傷志。</p>
<p>蝟肉，可食，骨不得食，能瘦人，使人縮小。</p>
<p>肉汁在密器中氣不泄者、禽畜肝青者及獸赤足者、有歧尾者、煮熟不斂水者、煮而不熟者、生而斂者、野獸自死北首伏地者、祭肉無故自動者、禽獸自死無傷處者、犬懸蹄沾漏、肉中有星如米者、羊脯三月以後有蟲如馬尾者、米甕中肉脯久藏者皆殺人。</p>
<p>脯暴不燥，火燒不動，入腹不消。自死，肝臟不可食。肉雖鮮似有息氣，損氣傷臟。肉及肝落地不黏塵，不可食。諸心損心，諸血損血，一切腦、一切肝不可食，皆能言人。</p>
<p>一切肉惟爛煮停冷食之，食畢漱口數過，齒不齲。食肉過度，還飲肉汁，即消。禽畜五臟，三月三日勿食，則吉。</p>
<p><u>魚類</u></p>
<p>𩸩魚及䱰魚，有瘡者不可食。</p>
<p>鯉魚，至陰之物也。其鱗三十六，陰極則陽復。所以《素問》曰：「魚，熱中。」王叔和曰：「熱即生風，食之所以多發風熱。」諸家所解皆不言。日華子云：「鯉魚，涼」今不取，直取《素問》為正。萬一風家使食魚，則是貽禍無窮矣。</p>
<p>鯉魚多發風熱，修理當去脊上兩筋及黑血。沙石溪中者，毒多在腦，勿食其頭。山上水中有鯉，不可食。五月五日，勿食鯉。</p>
<p>天行病後不可食，再發癰疽。鯉鮓不可合小豆、藿食。食桂竟食鯉，成瘕。</p>
<p>魚及子不可合豬肝食，鯽魚亦然。</p>
<p>鱖魚背上有十二蓍骨，每月一骨，毒殺人，宜盡去之。</p>
<p>蘇州王順食鱖骨，鯁幾死。漁人張九取橄欖核末，流水調服而愈。人問其故，九曰：「父老傳橄欖木作掉，魚觸便浮，知魚畏此木也。」</p>
<p>白魚，泥人心。瘡癤人不可食，其發膿，灸瘡不發。鱠食之，久食發病。</p>
<p>鯉魚不可合犬肉食之。</p>
<p>六甲日，勿食鱗甲之肉。二月庚寅日，勿食魚，大惡。</p>
<p>鯽魚，春不食，其頭中有蟲也。合猴、雉肉、豬肝食之，不宜。子合豬肉食不宜；和蒜少熱；和薑、醬少冷；與麥門冬食，殺人；與芥菜同食，水腫。</p>
<p>青魚及鮓，服木者忌之。合生葫、葵、蒜、麥醬食不宜；青魚不可合小豆、藿食之。</p>
<p>黃魚發氣、發瘡、動風，不可多食。合蕎麥食，無音；黃顙魚不可合荊芥食，令人吐血。犯者以地漿解。時魚味美，稍發疳痼。</p>
<p>魴魚，患疳痢者禁之。</p>
<p>鮎魚勿多食，赤目赤須者殺人。合鹿肉及無鰓者同。</p>
<p>鯔魚久食，令人肥健。</p>
<p>鱘魚味美而發諸藥毒，鮓雖世人所重，不益人，丹石人不可食，令少氣，發瘡疥，動風氣。小兒食之多成瘕及咳，大人久食卒心痛，合干筍食之癱瘓。</p>
<p>鯸鮧魚腹中有子，最毒，不可食，令人下痢。</p>
<p>鮆魚，多食發疥。</p>
<p>比目魚，多食動氣。</p>
<p>鱸魚，多食令人發痃癖病，鮓尤良。肝不可食，中其毒，麵皮剝落及瘡腫。不可與乳酪同食。</p>
<p>鯽魚，不可同砂糖食，令人成疳蟲；不可合烏雞肉同食，令人發疽。</p>
<p>石首魚和蓴菜作羹，開胃益氣，只不堪鮮食。</p>
<p>鱖魚益氣力，令人肥健，仙人隱常食之。</p>
<p>章魚冷而不泄。</p>
<p>狗魚暖而不補。</p>
<p>鮎魚不可與牛肝合食，令人患風，多噎、涎。又不可與野豬肉同食，令人吐瀉。</p>
<p>鯷魚，即鮀魚也，不可合鹿肉食之，令人筋甲縮。</p>
<p>河豚，又名胡夷魚，味珍。《經》云：「無毒。」實有大毒，修治不如法，殺人。眼赤者害人，獨行者不可食。</p>
<p>食河豚罷，不可啜菊頭。肝有大毒，中之立死。中其毒者，橄欖、蘆根汁解之。</p>
<p>鱖魚，肝及子有毒，入口爛舌，入腹爛腸。</p>
<p>鮀魚，即鼉也，老者多能變化為邪魅，又能吐氣成霧。梁周興嗣常食其肉，後患惡瘡，切勿食之。</p>
<p>鰍魚，不可合白犬肉、血食之。</p>
<p>鯂鱔，不可合白犬肉血食之。</p>
<p>鱔魚，時病起，食之復，過則成霍亂。四月食之，害神氣，腹下黃為黃鱔。</p>
<p>又有曰鱔，稍粗，二者皆動風氣。妊娠食之，胎生疾。凡頭中無腮，皆有白點並殺人。</p>
<p>《茅亭客話》云：「鱔鱉不可殺，大者，有毒，殺人。」</p>
<p>京師一郎官喜食鱔，一日過度，吐利大作，幾殆，信不可多食也。</p>
<p>鱔魚肝生惡瘡，勿以鹽炙。食鱔，不可用桑柴煮之。</p>
<p>鱔是赤圂，形類聖蛇，宜放，不可殺食。</p>
<p>食鱔折人壽祿，作事無成。</p>
<p>烏賊魚久食，主無子。</p>
<p>烏魚，水厭焚修者，忌之。</p>
<p>鱟魚，多食發嗽並瘡癬。小者，謂之鬼鱟，害人。</p>
<p>魚鮓中若有頭髮在內，誤食殺人。</p>
<p>黃鱨魚食後，食荊芥殺人。凡食一切魚，皆忌荊芥。</p>
<p>一切魚毒。魚油點燈，煙盲人眼，諸禽獸油亦然。無鱗惡荊芥。無腮發癲。全腮發癰。魚目有睫。目自開合。二目不同。魚連鱗者。無鱗者。皆殺人。</p>
<p>腹下丹字魚，煮不熟食，之成瘕。</p>
<p>石礬魚，勿食腸卵，就成霍亂吐瀉。</p>
<p>魚無腸膽，食之三年，丈夫陰萎，女人絕產。</p>
<p>頭有白色如連珠至脊上者，殺人。</p>
<p>白目、白背黑點、赤鱗、目合，並不可食。有角食之發心驚；目赤者，作鱠成瘕，作鮓害人，共菜食，作蛔蟯蟲。下痢者食魚，加劇難治。</p>
<p>一切魚尾不益人，多有勾骨著人咽。</p>
<p>魚子共豬肝，食不化，成惡病。妊娠食乾魚，令子多疾。魚汁肉不可合鸕鷀肉食。魚鱠、瓜，忌同食。</p>
<p>鰻鱺魚，雖有毒而治勞。</p>
<p>昔陳通判女病勞將死，父母以船送之江中，飄泊孤洲，漁人見而憐之，與之鰻鱺羹，漸有生意，越月漁人送還陳府，女病已脫然矣。</p>
<p>治蚊蟲，以鰻鱺魚乾於室中燒之，蚊子即化為水矣。燒煙燻氈中蛀蟲，置其骨於箱衣中，斷白魚蛀蟲。</p>
<p>鱧魚屬北方癸化，不可殺，只宜放。能發瘡，忌食。又能治腳氣，風氣，食之效。</p>
<p>南方溪澗中有魚，生石上，號石班魚，作鮓甚美，至春有毒，不可食，云與蜥蜴交也。</p>
<p>《真武啟聖錄》大忌食鱉，系四足狀，如神龜，只宜放，不宜殺，食折人壽祿，作事不利。</p>
<p>鱉居水底，性甚冷海。有勞氣、癥瘕人，不宜食。肉主聚，甲主散，凡制鱉當銼其甲，同煮熟，則去其甲食之，庶幾性稍平。目大者、顯足者、肉下有王字形者、三足者並能殺人。獨目者、目白者害人。腹下有蛇紋者，是蛇，須看之。合雞子、鴨、豬肉、兔肉、芥子、醬，食之損人。</p>
<p>妊娠食之，令子短項。六甲日忌食龜鱉及鱗甲，害人心神。薄荷煮鱉，曾殺人。合莧菜食，腹中生鱉。</p>
<p>巢氏云：「有主人共奴俱患鱉瘕，奴前死，剖腹得一白鱉仍活。有人乘白馬來看，馬尿落鱉上即縮頭，尋以馬尿灌之，化為水。其主曰吾病將瘥矣。即服之，果瘥。」</p>
<p>龜黑者，常啖蛇不中食，其甲不可入藥。十一月勿食龜鱉，能發水病。</p>
<p>龜肉共豬肉食害人；合酒並菰、白米、果子同食，令人生寒熱；不可瓜食之；不可合莧菜食之。</p>
<p>六甲日勿食龜，害人心神。</p>
<p>蟹未被霜者，甚有毒，云食水茛。人中之不即療，多死。背上有星點者、腳不全者、獨螯者、獨目者、兩目相向者、足斑目赤者、腹下有毛、腹中有骨並殺人。中其毒，速以冬瓜汁、紫蘇湯或大黃汁灌之。</p>
<p>妊娠食之，令子橫生。</p>
<p>蟹及動風，體有風疾、風氣人，不可食之。</p>
<p>至八月蟹腸有真稻芒長寸許，向冬輸與海神，未輸芒未可食，十二月勿食，以養神氣。</p>
<p>食蟹即食紅柿及荊芥，動風，緣黃下有風蟲，去之不妨，與灰酒同食吐血。</p>
<p>海邊又有彭蜞擁出，似彭螖而大，似蟹而小，不可食。</p>
<p>蔡謨初渡江，不識而食之，幾死。嘆曰：讀《爾雅》不熟，幾為所誤。</p>
<p>蛙，骨熱食之，小便淋，甚苦。妊娠食之，令子壽夭。</p>
<p>蛙之小者，亦令多小便閉，臍下痠疼，有至死者，冷水擂車前草飲之。</p>
<p>牡礪火上炙令沸，去殼，食之最美，令人，細肌膚，美顏色。</p>
<p>蝦，發風動氣及瘡癬、冷積之疾。無須者及腹中通黑煮而色白者，不可食。</p>
<p>鱠蝦、生蝦不可合雜肉，食之損人。</p>
<p>鮓內有者，大毒。以熱飯盛密器中，作鮓毒人至死，蝦鱠共豬肉食之，常噁心，多唾，損顏色、精氣。</p>
<p>螺，大寒，療熱，醒酒，壓丹石，不可常食。螺、蚌、菜共食之，心痛三日一發。蚌著甲之物，十二月勿食之。</p>
<p>蚌，冷，無毒。明目除煩，壓丹石藥毒。</p>
<p>蚶子，每食後以飯壓之，不爾令人口乾。</p>
<p>蚶，益血色，利五臟，健脾，可火上暖之令沸，空腹中食十數個，以飯壓之，大妙。</p>
<p>蛤蜊，服丹石人食之，腹中結痛。</p>
<p>淡菜多食，煩悶、目暗，微利即止。</p>
<p>蜆多食，發嗽並冷氣、消腎。</p>
<p>馬刀，京師謂之橦岸，發風痰，不可多食。</p>
<p>蟶與服丹石人相宜，天行病後不可食，切忌之。又云：主胸中煩悶，邪熱相過，須在飯後食之佳。</p>
<p><u>蟲類</u></p>
<p>蜜，七月勿食，生韭發霍亂，蜜瓶不可造鮓，鮓瓶不可盛蜜。煎，損神氣。</p>
<p>白花蛇，用之去頭尾，換酒浸三日，棄酒不用，大炙仍令去皮骨，此物毒甚，不可不防。</p>
<p>烏蛇，生商洛，今蘄黃有之，皆不三稜，色黑如漆，性善，不齧物，多在蘆叢嗅花氣，尾長能穿百錢者佳。市者偽以他蛇，煙燻貨之，不可不察。脊高，世謂斂脊烏稍。</p>
<p>商州有患大風，家人惡之，為起茅屋，山中有烏蛇，墮酒罌，病人不知而飲，遂瘥。《史記》有患者，食至胸，即吐，作胃疾不愈。病者日素有大風，求蛇肉，風愈而有此疾。蓋蛇瘕，腹上有蛇形也。</p>
<p>蛇頭不可以刀斷，必回傷人，名曰蛇箭。</p>
<p>已年不宜殺蛇。見蛇莫打，損壽，凡見蛇交則有喜。</p>
<p>蛤蜊，其毒在眼，其功在尾，尾全為佳。</p>
<p>水蛭乾者，冬月豬脂煎令黃，乃堪用，腹有子去之，此物極難死，火炙經年，得水猶活。</p>
<p>石蛭，頭尖腹大，不可藥用，誤用令人目生煙不已，漸至枯損，不可不辨。</p>
<p>有吳少師得疾數月，肉瘦，食下咽，腹中如萬蟲鑽刺且癢痛，皆以為勞，張蛻取黃土溫調服，下馬蝗千餘，皆困。云：去年出師飲澗水，似有物入口，吞入喉，自得疾。夫蟲入肝脾，勢須滋生，食時則聚丹田間，吮咂精血，隨則散處四肢，久則殺人，不可不甚也。</p>
<p>蜈蚣黃足者甚多，不堪用。</p>
<p>雞殺過宿，收拾不密，此蟲必集其中，不再煮而食之，其害非輕。</p>
<p>花蜘蛛絲，最毒，能瘤，斷牛尾，人有小遺，不幸而著陰，纏而後已，切宜慎之。</p>
<p>曾有斷其陰者。</p>
<p>蠶砂煮酒，色清美，能療病疾。</p>
<p>蜘蛛，灰色大腹，遺尿著人，作瘡癬。</p>
<p>蚯蚓，著月履濕毒，能中人。</p>
<p>昔有中其毒者，腹大，夜聞蚯蚓鳴於身，以鹽水浸之而愈。又張歆為蚓所咬，形如大風，眉須盡落，蚓鳴於身，亦以此取效，仍當飲鹽湯。</p>

<h1>卷之四</h1>

<h2>神仙救世卻老還童真訣</h2>
<p>三元之道，所謂地元，人元，百二十歲之壽，得其術則得其壽矣。如迷途，一呼萬里可徹然，天元六十者，固已失之東隅，能不收之桑榆者乎？歸而求之，又將與天地始終，豈止六十而已哉？喬松彭祖，當斂在下風，或曰此道神仙所秘也。少火方炎，強勉而行真，可一蹴而造仁壽之域？奈之何！道不易知也，縱知之亦未易行也。人年八八，卦數已極，汞少鉛虛，欲真元之復殆，渴而穿井，不亦晚乎？煮石為粥，曾不足喻其難，於是豈知道也哉？剝不穹則復不返也，陰不極則陽不生也，知是理可以制是數矣。《回真人內景訣》曰：「天不崩地不裂，惟人有生死何也？」曰：「人晝夜動作，施泄散失元氣不滿天壽，至六陽俱盡，即是全陰之人，易死也。」若遇明師指訣，信心苦求則雖一百二十歲，猶可還乾，譬如樹老用嫩枝再接，方始得活。人老用真氣還補，即返老還少。勤修一年，元氣添得二兩，便應復卦道。《書》曰：人者，物之靈也。壽本四萬三千二百餘日，元陽真氣，本重三百八十四銖，內應乎乾。乾者，六陽具而未知動作施泄。迨十五至二十五，施泄不止，氣虧四十八銖。存者，其應乎姤。加十歲焉，又虧四十八銖。存者，其應乎遯。加十歲焉，又虧四十八銖。存者，其應乎否。至此乃天地之中氣。又不知所養，加五歲焉，其虧七十二銖。存者，其應乎觀。加五歲焉，其虧九十六銖。存者，其應乎剝。剝之為卦，上九一陽爻而已。《仙書》曰：「有一爻陽氣者不死。」倘又不知所覺則元氣盡矣，其應乎坤。坤者，純陰也，惟安穀而生，名曰苟壽。當此苟壽之時，而不為延壽之思，惑矣。天下無難事也，馬自然怕老怕死。有六十四歲將謂休之嘆，汲汲求道，遇劉海蟾傳以長生之訣，返老還嬰，遂得壽於無窮。彼何人哉？睎之則時在一覺頃耳。苟能覺之體大易之，復日積月累，元氣充暢，復而臨，臨而泰，泰而大壯，大壯而央，真精純粹，乾陽不難復矣。箕疇五福之一微，斯人吾誰與歸？雖然此道天之寶也，有能覺之，天不負道，必將默佑於冥冥中，當遇至夫如劉海蟾者，以盡啟其秘。滋補有藥，導引有法，還元有圖，則俱列於左。</p>
<p><u>滋補有藥</u></p>
<p>孫真人曰：「人年四十以後，美藥當不離於身。」神仙曰：「世事不能斷絕，妙藥不能頻服，因茲致患，歲月之久，肉消骨弱。」彭祖曰：「使人丁壯，房室不勞損，莫過麋角，妙藥也。」</p>
<p>麋角末（七兩，酒浸炙熟）　生附子（一個炮熟）</p>
<p>上為末，合和，每服方寸匕，酒調，日三。</p>
<p>昔城都府有綠須美顏道士，酣酒樓歌曰：尾閭不禁滄海竭，九轉丹砂都謾說，惟有班龍腦上珠，能補玉堂關下血。</p>
<p>乃奇方也，今名班龍珠丹。</p>
<p>鹿角霜（十兩，為末）　鹿角膠（十兩，酒浸數日，煮糊丸藥）　菟絲子（十兩，酒浸二宿，蒸焙）　柏子仁（十兩，淨，別研）　熟地黃（十兩，湯洗，清酒浸二宿，蒸焙入藥用）</p>
<p>上末，以膠酒三四升煮糊，杵一二千下，丸如梧桐子大，食前鹽湯或酒吞下，五六十丸。</p>
<p><u>導引有法</u></p>
<p>夜半後生氣時，或五更睡覺，或無事閒坐，腹空時寬衣解帶，先微微呵出腹中濁氣，一九止或五六止，定心閉目，叩齒三十六通，以集身中神氣。然後以大拇指背拭目，大小九過，使無翳障，明目去風，亦補腎氣。兼按鼻左右七過，令表裡俱熱，所謂灌溉中嶽以潤肺。次以兩手摩令極熱，閉口鼻氣，然後摩面不以遍數，連發際，面有光。又摩耳根、耳輪不拘遍數，所謂修其城郭以補腎氣，以防聾瞶。</p>
<p>名真人起居之法：以舌柱上齶，上漱口中內外，津液滿口作三嚥下之，如此三度九咽。《黃庭經》曰：「漱咽靈液，體不幹」是也。便兀然放身心同太虛，身若委衣，萬慮俱遣，久久行之，血氣調暢，自然延壽也。</p>
<p>又兩足心湧泉二穴，能以一手舉足一手摩擦之百二十數，疏風去濕健腳力。</p>
<p>歐陽文忠公用此有大驗。</p>
<p>神枕法：昔太山下有老翁者，失其名姓，漢武帝東巡見老翁鋤於道傍，背上有白光高數尺。帝怪而問之有道術否？老翁對曰：「臣昔年八十五時，衰老垂死，頭白齒落，有道士者教臣服棗，飲水絕谷，並作神枕法，中有三十二物，其三十二物中二十四物藥以當二十四氣，其八物毒以應八風。臣行之轉少，白髮返黑，墮齒復生，日行三百里。臣今年一百八十歲矣，棄世入山，顧戀子孫，復還食谷，又已二十餘年，猶得神枕之力，往不復老。」武帝視老翁顏狀當如五十許人，驗問其鄰，皆云信。帝乃從受其方作枕而不能隨其絕谷飲水也。方用五月五日、七月七日取山林柏以為枕，長一尺二寸，高四寸，空中容一斗二升，以柏心赤者為蓋，厚二分，蓋致之令密，又當使可開用也，又鑽蓋上為三行，每行四十孔，凡一百二十孔，令容粟米大。其用藥：芎藭、當歸、白芷、辛夷、杜衡、白朮、藁本、木蘭、蜀椒、官桂、乾薑、防風、人參、桔梗、白薇、荊實、飛廉、柏實、白朮、秦椒、麋蕪、肉蓯容、薏苡仁、款冬花，凡二十四物以應二十四氣；加毒者八物以應八風：烏頭、附子、藜蘆、皂莢、甘草、礬石、半夏、細辛。</p>
<p>上三十二物各一兩，俱㕮咀，以此藥上，安之滿枕中，用布囊以衣，枕百日面有光澤。一年體中所疾及有風疾一一皆愈，滿身盡香。四年白髮變黑，齒落更生，耳目聰明，神方有驗，秘不傳其非人也。藁本是老芎藭母也，武帝以問東方朔，答曰：「昔女廉以此方傳玉青，玉青以傳廣成子，廣成子以傳黃帝。近者，谷城道士淳于公枕此藥枕耳，百餘歲而頭髮不白。夫病之來皆從陽脈起，今枕藥枕，風邪不得侵人矣。又當以布囊衣枕，復以幃囊重包之，須欲臥枕時乃脫去之耳。」帝大喜，詔賜老翁匹帛，老翁不受。曰：「陛下好善，故進之耳。」</p>

<h2>神仙警世</h2>
<p>黃帝問氣之盛衰，岐伯對曰：「人生十歲，五臟始定，血氣通，真氣在下，好走；二十歲血氣始盛，肌肉方長，好移；三十歲五臟大定，肌肉堅固，血氣盛滿，好步；四十歲臟腑十二筋脈皆大盛以平定，腠理始疏，榮華頹落，發頗斑白，平盛不搖，好坐；五十歲肝氣始衰，肝葉始薄，膽汁始滅，目始不明；六十歲心氣始衰，善憂悲，血氣懈惰，好臥；七十歲脾氣虛，皮膚枯；八十歲肺氣衰，魄離，故言善誤；九十歲腎氣焦，四臟經脈虛；百歲五臟皆虛，神氣乃去，形骸獨居。」</p>
<p>《經》曰：「人年四十陰氣陪；五十肝氣衰；六十筋不能動，精氣少，須當自慎自戒，少知調和攝養，寧不為養生之本；七十以上，宜取性自養，不可勞心苦形冒寒暑，若能順四時運氣之和，自然康健延年，苟求貪得，尚如壯歲，不知其可如矣。」</p>
<p>《壯神真經》曰：「養生以不損為延年之術，不損以有補為衛生之經，處安慮危防未萌也，不以小惡為無害而不去，不以小善為無益而不為。雖少年致損，氣弱體枯。及晚景得悟，防患補益，氣血有餘而神自足矣，則自然長生延壽也。」</p>

<h2>陰德延壽論</h2>
<p>一念所覺，因所以得三元之壽，考一德之修，又所以培三元之壽脈甚矣。念之不可以不覺，而德之不可以不修也。老子曰：「我命在我，不在天。」紫陽真人曰：「大藥修之有易難也，須由我也，由天若非積行施陰德，動有群魔作障，緣是可以自信矣。」道人郭太史，精於談天者也，應天有書，後之星翁推步必來取法。曰：「五行四柱曰星辰運限如是，而富貴壽考如是，貧賤疾苦如是，而是凶惡夭折若鏡燭影，若契合符，世之人似不能逃其數者及其究也。合於書者固多，其不合者亦不少，是何歟？豈人生宇宙間，或囿於數，或不囿於數歟？蓋嘗考之。其推玄究微，既條列於前，至其後則曰：「陰功不延其壽，吉人依舊無凶。」又曰：「隨時應物行方便，縱犯凶星亦不危。」是必有見矣，不然，壽夭休論命，修行本在人。」</p>
<p>孫思邈曰：「何以有此言歟？」太極真人徐來勒嘗遇南鬥壽星，問壽夭吉凶之事，星君曰：「天道福善禍淫，神明賞善罰惡逆。人能刻意為善，靜與道合，動與福會，如此則我命在我，不為司殺所執，不求壽而自壽，不求生而自生。苟或墮綱紀，違天地，肆愚悖侮神明，背仁慈，虧忠孝，明則刑綱理之，幽則鬼神誅之，是不知所積，冥冥中奪其算而夭其壽者矣，廣行陰德如於公治獄，子為丞相；徐卿積善，袞袞公侯，在所不論。昔比丘得六神通，與一沙彌同處林野間，比丘知沙彌七日當死，因曰父母思汝可暫歸，八日復來。沙彌八日果來，比丘怪之入三昧。察其事，乃沙彌于歸路中脫袈裟壅水，令不得入蟻穴，得延壽一紀。孫叔敖兒時見兩頭蛇，恐他人又見，殺而埋之，母曰：「吾聞有陰德者，天報之福，汝不死也。」後為楚令尹。</p>
<p>竇禹鈞夜夢祖父謂曰：「汝年過無子，又壽不永，當早修陰德。」禹鈞自是勤修陰德，行之罔倦。後又夢其祖父與曰：「大以汝陰德，故延壽三紀，賜五子，榮顯後，居洞天之位。」范仲淹為之記。由是觀之，三元壽考，固得於一念之覺，三元壽脈，又在於一德之修也。或曰：陰德易從而修之？曰：「凡可修者，不以富貴貧賤拘，亦不在勉強其所為，但於水火、盜賊、飢寒、疾苦、刑獄逼迫、逆旅狼狽、險陰艱難，至於飛、潛、動、植，於力到處種種，多行方便，則陰德無限量，而受報如之矣。善乎！《西山之記》曰：至人得傳真法，雖云修養所至，是亦陰德之報也。此予所以於參贊書後，復作論曰：陰德延壽。</p>

<h2>函三為一歌圖</h2>
<p>天地人三元，每元六十年，三六一百八十年，此壽得於天。天本全付與，於人或自偏。全之有其法，奈何世罕傳。函三為一圖，妙探太極先。外圓而內方，一坤與一乾。定體凝坤象，妙用周乾園。壽年在黃間，得之本自然。一歲加一點，漸此喬彭肩。未悟參贊法，所點恐莫全。此書神仙訣，識者作壽仙。顏朱髮長綠，髓滿骨且堅。豈特點盡圖，天地相周旋。</p>
<figure>
<img data-orig-src="urn:270:10410.jpg" alt="行天之健應地無疆">
</figure>
<p>乾，陽剛也，生意本具，一旦為陰柔乘之，為姤、為遁、為否、為觀、為剝，剝極而為坤。坤，純陰也，陰極則主殺矣。苟知所復則碩果不食，陰極而陽，靜極而動，生意又勃然矣。</p>
<p>坤，陰也，陰極陽復。陰，人慾也。陽，天理也。以理制欲，於是陽長陰消，患迷復耳。苟不迷焉復而臨，臨而泰，泰而大壯，大壯而夬。夬，決也，決則純乾可復，行天之健，與天同壽矣。</p>
<figure>
<img data-orig-src="urn:270:10411.jpg" alt="還元圖">
</figure>
<p>道心混而人心勝，則自望至晦之月也。</p>
<p>人慾盡而天理還，則自旦至望之月也。</p>
<figure>
<img data-orig-src="urn:270:10412.jpg" alt="圖">
</figure>
