<header data-type="book">
<h1>祝由科諸符祕</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張虛靖</dd></div>
<div><dt>底本</dt><dd>朱墨鈔本（<a href="https://lccn.loc.gov/2012402276">美國國會圖書館藏本</a>）</dd></div>
</dl>
</header>
