<header data-type="book">
<h1>傷寒微旨論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>韓袛和</dd></div>
<div><dt>朝代</dt><dd>北宋</dd></div>
<div><dt>年份</dt><dd><data value="1086">公元1086年</data></dd></div>
<div><dt>底本</dt><dd>《墨海金壺》本（<a href="https://ctext.org/library.pl?if=gb&res=80981">掃描本</a>）；《欽定四庫全書·子部五·醫家類·傷寒微旨論》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0025/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>
