<header data-type="book">
<h1>南病別鑑</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>宋兆淇</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1878">公元1878年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://archive.org/details/02093317.cn">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>序一</h1>
<p>考工記謂材美工巧然而不良則不時不得地氣也於是以橘窬淮產為枳鸜鵒不窬濟貉不窬汶明乃地弗良之意一再曰地氣然也鳥虖不行地氣不能成良工不察地氣又曷為良醫哉九竅之變猶是也九藏之動猶是然而齊與楚言語不通嗜欲不同焉燕與越言語不通嗜欲一沒焉不同者地也即氣了也言語嗜欲其氣之常疾病則其氣之變也用治齊者治楚吾知其必難巳用治燕者治越吾知其必增劇無他常者不能同而變者反能同未之有也傷寒者北方之病也而南人有病輒曰傷寒何也仲景之書遍天下人習誦之而忘其地氣之不同也不幾用治齊者治楚治燕者治越乎已乎劇乎　國朝康熙間吳中名醫輩妯香岩葉氏一瓢薛氏為最著葉有溫證論治薛有濕熱條辨皆發明南人之病不宜概用傷寒法厥後公望薛氏有傷寒辨證歌名雖襲北治實偏南不外葉薛宗旨宋君佑甫為公望外孫治病之暇取葉書詳註之復合二薛所著菡三為一題曰南病別鑑將授諸梓問序於余余不知醫惟尋厥題名證以考工佑甫其能察地氣者乎佑甫為醫其良者乎</p>
<p>光緒九年歲次癸未五有元和顧文彬撰</p>

<h1>序二</h1>
<p>康熙朝吾吳葉香岩先生醫名重當代同時有一瓢徵君繼起有松心孝人號稱鼎足惟先生最為正宗足資後學模楷所傳世著作幾種皆及門採轉醫按乃最著名者也此溫證論治一編較舌鑑舌辨更加明晰今得佑甫世棣逐條詮疏憂覺精詳佑甫為薛公望先生外孫好學深思治病往往出人意表而一轉乎正豈非淵源有自耶茲將付手民屬書緣起</p>
<p>時光緒巳卯四月南宮後生徐康</p>

<h1>序三</h1>
<p>醫書自零素金匱後代有名腎著作幾於汗先充棟求其能上繼岐黃真傳而有益於後學者渺不可得推原其故蓋由食古不化致古人著作之精心晦而難明或更妄求異說自作聰明或各立門戶好為奇僻於南北地氣之分性質強弱之異概置勿論無怪醫道竟成絕學也近有葉香岩先生濕證論治薛一瓢先生濕熱條辨薛公望先生傷寒古風議論精醇根只深厚五行盡其變五土異其宜實上繼零素金匱之一脈而大有功於後世者也惜香岩一瓢兩先生之書難雖會稽章虛谷註釋而未得其詳醫家深以為憾茲宋君佑甫於治病之暇朝夕披覺詳加註釋俾前人之著述如掌真後學之津梁也猶憶餘十年前得不寐疾輾思索床褥午夜彷徨遍訪時醫盡皆束手後得佑甫診治應手而愈至今年逾六十日高三丈猶作酣眠始知佑甫於此道中不知幾費揣摩斯能致此妙技古人所謂三折肱者真無愧焉余故樂得而為之序</p>
<p>光緒己卯春仲既望□山畢長慶撰</p>

<h1>序四</h1>
<p>天下至難為者莫如醫天下至易為者亦莫如醫必欲窮經義索病源對症施藥務求中肯此固難為者也苟其不讀古人書不問病人因妄曰馮脈知病任意書方偶然中病愚夫愚婦奉以為奇事即暗被他傷醫家病家茫然不知此又易為者也然以難為者也易為者較豈獨不可同日而語殆有為善造孽之分歟內經徵四失論曰診病不問其始憂患飲食之失節起居之過度或傷於毒不先言此卒持寸口何病能中妄言作名為粗所窮此之謂也此之謂也此固不在醫林可置之勿論夫司命者望聞問切之外憂須分別土地人情如北方地寒人強傷寒最多故仲景立麻黃桂枝湯等原有傷寒論可稽而江以南地卑濕多人情柔弱患傷寒者不過百中一二患濕熱者十之八九若以治傷寒者治濕熱豈非大相徑庭耶余自幼喜讀醫書素零內經仲景傷寒金匱玉函等書而外誦至葉香岩先生溫證論治薛一瓢先生濕熱條辨及處祖薛公望公傷寒古風三十一首每朝夕服誦而不忍去知其於江南人病最為合法惜香岩先生論口授門人隨筆記錄層次未楚雖後人稍為分排而不有註釋余因之或參經旨或集陳言或從素見增在句讀之下非敢云注以暢其說耳稿既成忽有人告予曰會稽章君名虛谷者曾有註釋予即購而閱或參以已見而標之其濕熱條辨章君亦詳註矣而外祖公望公傷寒古風已瞭如指掌不敢謬加一詞因襲三家名言付之剞劂為案頭課徒之餘事名之曰南病別鑑謂與北方病迥異也是為序</p>
<p>光緒戊寅孟春上浣平江宋兆淇佑甫氏序</p>

<h1>序五</h1>
<p>掃葉莊一瓢耕牧且讀之所也維時殘月在窗明星未稀驚烏出樹荒雞與飛蟲相亂雜香無聚少焉曉影漸分則小烏鬧春間春間關啁啾盡巧極靡寂淡山林喧若朝市不知何處老鶴橫空而來長唳一聲群烏寂然四顧山光直落檐際清靜耳根始為我有於是盥漱初畢伸紙磨墨將數月以來所歷病機與諸子弟或闡發前人或攄已意隨所有得隨筆數行錄竟讀之如噉虀羹寸寸各具酸鹹要不與珍錯同登樽俎亦未敢方乎橫空老鶴一聲長唳薛雪書於掃葉山莊</p>

<h1>序六</h1>
<p>薛氏濕熱論乃家藏秘書先君素精醫理於是書憂深寶之蓋其辨晰受病之原委多由陽明太陰兩經表裡相傳其凶之也確其言之也詳其治之也各得其宜可為後世法莫能出其範圍者我吳處江以南地氣卑濕患是病者最多而治之者或稱為濕溫傷寒未能辨析豈知如論所云濕熱之病不獨與傷寒不同且與濕病大異哉俊不敢獨秘亟壽棗梨以公同志俾審病者不致歧誤焉道光九年九月元和李清俊跋</p>

<h1>卷上</h1>

<h2>第一論濕病大概</h2>
<p>溫邪上受首先犯肺`風從寒化屬陰故先受於足經風從熱化屬陽故先受於經`　逆傳心胞`心肺最近邪盛傷營即傳心胞`　肺主氣屬衛心主血屬營辨營衛氣血雖與傷寒同若論治法則與傷寒大異傷寒由太陽而傳入他經當先辛溫發汗溫邪由肺入胃當先辛平解表`　蓋傷寒之邪留戀在表然後化熱入里溫邪則化熱最速未傳心胞邪尚在肺肺合皮毛而主氣故在表初用辛涼散解挾風加薄荷牛蒡之屬挾濕加盧根滑石之流或透風於熱外或滲濕於熱下不與熱相摶勢必孤矣不爾`初當辛平解散若過涼遏邪邪反內走用溫發汗劫津化火`　風挾溫熱而燥生清竅必干謂水主之氣不能上榮兩陽`風與熱也`　相劫也`有陽虛氣不化液而燥治宜甘濕有積飲液不上升而燥治宜甘辛有陰液枯涸而乾燥治宜酸甘此風熱劫爍其津液治宜甘寒`　濕與溫合蒸鬱而蒙痹於上清竅為之壅塞濁邪害清也`滲濕透熱佐以芳香`　其病有類傷寒驗之之法傷寒多有變症濕病雖久總在一經為辨</p>

<h2>第二論化熱入營</h2>
<p>前言辛涼散內甘淡驅濕若病仍不解是漸欲入營也`由氣入營`　營分受熱則血液受劫心神不安夜甚無寐或斑點隱隱即撤去氣藥`如從風熱陷入者用犀角竹葉之屬如從濕熱陷入者用犀角花露之品`　參入涼血清熱方中若加煩燥大便不通金汁亦或加入老年及平素有寒者以人中黃代之急速透斑為要若斑為要若斑出縶不解者胃津亡也主以甘寒重則玉女煎輕則梨皮蔗漿之類或其人腎水素虛病雖未及下焦每多先自彷徨`驚疑恐懼之貌蓋腎水虛則生恐也`　此必驗之於舌如甘寒之中加入鹹寒滋養如生地元參龜版阿膠之類質絳而中心乾厚焦燥者生地阿膠龜版咖元明粉大黃以上之`　務在先安未受邪之地恐其陷入耳若其邪始終在氣分流連者可冀其轉汗透邪治宜益胃`此法極難詳蓋汗由胃中水穀所化氣旺邪與汗相併而出如仲景服桂枝湯後啜稀粥者是也若胃虛發戰邪不能出反從內入也要在辨邪之淺深若邪已內人慾行此法反見助邪為害矣如風寒溫熱之邪初在表者可行若暑疫等邪受即在膜原而當胃口斷無益胃助邪雖虛人必先開達誤用即為害不淺也`　今邪與汗並熱達腠開邪開邪從汗出解後胃氣空虛當盧冷一書夜待氣還自溫暖如常矣蓋戰汗而解邪退正虛陽從汗泄故漸盧冷未必即成脫症此時宜安舒靜臥以養陽氣來復旁人切勿驚惶頻頻呼喚擾其元氣但診其脈若虛軟和緩雖倦臥不語汗出盧冷卻非脫症若脈急疾躁擾不臥盧冷汗出便為氣脫之症矣`此正不勝邪內經言險陽交交者死也`　更有邪盛正虛不能一戰而解停一二日再戰汗而解者不可不知</p>

<h2>第三論邪留三焦</h2>
<p>氣病有不傳血分者邪留三焦猶之傷寒中少陽病也彼則和解表裡之半此則分消上下之勢隨症變法如近時杏樸芩等類或如溫膽湯之走泄因其仍在氣分猶有戰汗之門戶轉瘧之機括也`不入營而傳　心胞即傳於三焦蓋三焦主升降出入表裡之氣全賴三焦以出入法當轉其氣機雖溫邪不可用涼藥遏之故只宜辛平甘苦順其升降轉其氣機開透汗化瘧之門戶`　大凡看法衛之後方言氣`衛行脈外`　營之後方言血`營行脈中`　在衛`必惡寒`　汗之可也`宜辛平表散`　到氣`不惡寒而惡熱小便色黃`　才宜清氣`方可辛涼亦不可太涼反使邪不外達而內閉`　乍入營分`脈數舌絳`　猶或透熱仍轉氣分而解`開達即所以轉氣分`　如犀角元參羚羊等物是也至入於血`舌深絳煩擾不寐或夜有囈語`　則恐耗血動血直須涼血散血如生地丹皮阿膠赤芍等物是也若不循緩急之法盧則動手便錯反致慌張矣且吾吳濕邪害人最多如面色白者須要顧其陽氣濕勝則陽微也如法應清涼用到十分之六七即不可過涼蓋恐濕熱一去陽亦衰微也`陽虛者本多痰濕受寒濕非姜附術芩不能去受濕熱亦必黏滯難解須通陽明化濕過涼則濕閉而陽更困矣`　面色蒼者須要顧其津液清涼到十分之六七往往有熱減身寒者不可便云虛寒而投補劑`陰虛者內火易動濕從火化易傷陰液陰傷則陽少依附但當和胃不可偏陰偏陽`　恐爐煙雖熄爐火猶存須細察精詳主可少少與之慎不可漫然而進也又有酒客里濕素盛外入里與之相摶在陽旺之軀胃濕恆多`如身黃如橘子色而鮮明者此陽黃胃濕豕茵陳蒿湯`　在陰盛之體脾濕亦不少`色如薰黃而沉晦者此陰黃辦濕用梔子柏皮湯或附子理中湯`　然其化熱則一熱病救陰猶易通陽最難救陰不在補血在養津與化汗`津液虛則汗無由化養津則汗自出`　通陽一在溫而在利小便`膀胱者州都之官津液藏焉氣化則自能出矣`　較之雜症有不同也</p>

<h2>第四論里結陽明</h2>
<p>三焦不從外解必致里結里結於在陽明辦與腸也`無形之邪必依有形這物百摶結如痰滯濕是`　亦須用下法不可以氣血之分謂其不可下也`不下勢必蒸爍傷陰`　惟傷寒熱邪在裡劫爍津液下之宜猛此多濕邪內摶下之宜輕`如小陷胸湯黃連瀉心湯`　傷寒大便溏為邪已盡不可再下濕溫病大便溏為邪未盡必大便硬乃為無濕始不可再攻也再入之體脘在腹上其位居中按之痛或自痛或痞脹當用苦泄以其入腹近也必驗之於舌`全舌苔之色`　或黃或濁`濕與溫合蒸`　或與小陷胸湯或瀉心湯隨症治之若白不燥`全是寒有痰濕`　或黃白相兼或灰白不渴`皆陽不化邪陰濁凝阻`　慎不可亂投苦泄其中`即胃中`　有外邪未解里先結者`宜先通氣滯杏蔻橘桔之類`　或邪郁未伸素屬中冷者`當加姜`　雖有脘中痞痛宜從開泄宣通氣滯以達歸於肺如近世這杏蔻橘桔等輕苦微辛具流動之品可耳又有舌上白苔黏膩口吐濁厚涎沫者其口必甜此為脾癉乃濕熱氣聚與穀氣相傳土有餘也盈滿則上泛當用佩蘭葉芳香辛散以逐以`更當看其舌本紅赤為熱當清涼泄濁色淡不紅脾虛不能攝液而上泛當健脾降濁`　若舌上苔如鹼者胃中宿滯挾濁穢鬱伏當急急開泄否則閉結中焦不能從膜原達泄矣</p>

<h2>第五論白舌</h2>
<p>舌苔白厚而乾燥者此胃燥氣傷也`白厚本是濁邪熱爍津傷濁結不化當先養津化濁`　滋潤藥中加甘草今甘守津還之意`其人必素屬中虛故可用甘草`　舌白而薄者外感內寒也當疏散之若薄白而乾者肺液傷也加麥冬花露盧根汁等輕清之品為上者上之也`肺位最高輕清乃得若重濁與肺無益而反傷及胃`　若苔白而質絳者濕遏熱伏當先泄透熱防其即干也此可勿憂再從里而透於外則變潤矣`泄濕用辛開苦降濕泄自然熱透熱透自然舌乾再用苦辛甘涼從里透外則胃氣化而津液升舌即潤汗作而邪熱隨解`　初病即舌乾`津液素虧`　神不昏者`幸而未入心胞`　急宜養正微加透邪之藥若神已昏此內匱不可救藥矣</p>

<h2>第六論黃舌</h2>
<p>前云舌黃或濁當作陷胸瀉心須要有地之黃`如草生地上必有根腳無根即為浮垢刮之即去`　若光滑者乃無形濕熱已有中虛之象大忌前法`若妄行攻瀉必致表邪入里為結胸痞氣腹脹等症`　其臍以上為大腹或滿痛或脹`不因藥誤病出自然`　此邪已入里表症必無或存十之一二亦須驗之於舌或黃甚或如沉香色或如灰黃色或老黃色或中有斷紋皆當下之如小承氣湯加檳榔青皮枳實元明紛生首烏等皆可若未現此等舌不宜用此等藥恐其中有濕聚太陰為滿或寒濕錯雜為痛或氣壅為脹`皆有虛實寒熱總以利氣和氣為主`　又當以別法治之矣</p>

<h2>第七論薄黃舌</h2>
<p>黃苔不甚厚而滑者熱未傷津猶可清熱透表`辛開透發從汗而解`　若雖薄黃苔不甚厚而津受傷也`當以養津為主`　苦重之藥當禁宜甘寒輕劑以養之</p>

<h2>第八論絳舌</h2>
<p>熱邪傳營舌色必絳`指舌本言`　絳深紅色也初傳舌色中兼黃白色`指舌苔言`　此氣分之邪未盡也泄衛透營兩和可也`仍從表解`　純絳鮮澤者`言無舌苔胃無濁結邪已離衛入營`　胞絡受邪也宜犀牛鮮生地連翹鬱金石菖蒲等清泄之延這數日或其人平素心虛有痰`必有舌苔但心血虛者舌質多不鮮明或淡晦無神邪陷多危而難治於此可卜吉凶`　外熱一陷里絡即閉非菖蒲鬱金等所以開須用牛黃丸至寶丹之類以開其閉`若邪火盛而舌質赤宜牛黃丸虛而色淡晦者宜至寶丹以牛黃丸太寒故也`　恐其昏厥為痙也</p>

<h2>第九論燥絳舌</h2>
<p>舌絳而乾燥者火邪劫營涼血清血為要`胃無濁邪則無厚苔邪熱入營則舌質色絳雖薄苔必黃又加乾燥則火邪劫營`　色絳而舌心乾者`舌全絳心干`　乃心胃火燔劫奪津液即黃連石膏亦可加入其有舌心獨絳而乾者`四連有苔或黃或白獨絳而干只在舌心`　亦胃熱而心營受灼也當於清胃中加入清心之品否則延及於尖為津干火盛之候矣舌尖獨絳而干`熱止在心`　此心火炎和導示散瀉其腑若煩熱舌心干四邊色紅中心或黃或白者`舌四邊紅而不絳中兼黃白而渴故知其熱不在血分`　此非血分也乃上焦氣熱爍津`熱在氣分者必渴熱在血分者但口乾而不渴多飲能消水為渴不能多多飲但欲略潤為干如血分無熱而口乾者是陽氣虛不能生化津液宜辛潤如姜附之類`　急用涼膈散散其無形之熱再看傳變可也慎勿用血藥反致滋膩留邪至若舌絳望之若干手捫之原有津液此津虧濕熱薰蒸將成濁痰蒙閉心胞也`胃以通絳為用濁降則清升而化津液熱邪入營鬱蒸胃中濁氣成痰反以蒙閉心胞即成錯厥當急疏其胃降濁以清營熱`　舌色絳而上有黏膩似苔非苔者中挾穢濁之氣急加芳香以逐之舌絳而抵齒難伸出者痰阻舌根有內風也`內風上熾當開降中中辛涼咸潤以熄內內脾腎之脈皆連舌本亦有脾腎氣敗舌短不能伸出者其形貌面色必形枯瘁多為死證不獨風痰為患也`　舌絳光亮國陰亡也急用甘涼濡潤之品舌z絳有碎點黃白者將生疳也大紅點者熱毒乘心也用黃連金汁有雖絳不鮮乾枯而痿者此腎陰涸也急以阿膠雞子地黃天冬等救之緩則恐涸而無救也</p>

<h2>第一論紫舌</h2>
<p>熱傳營血其人素有於傷宿血在胸中舌色必紫而暗捫之潮濕`不幹故為於血`　當加散血之品如琥珀丹參桃仁丹皮等否則於血與熱相摶阻遏正氣遂變發狂之症若紫而腫大者乃酒毒衝心`急加黃連`　紫而干晦者肝腎色泛也難治`腎色黑肝色青黑相合而成紫晦故曰難治`</p>

<h2>第十一論淡紅舌</h2>
<p>舌淡紅無色`心脾氣血素虛`　或干而色不勞者乃胃津傷而氣無化液也當用炙甘草湯`養血養氣以通經脈則邪自可去`　不可用寒涼藥</p>

<h2>第十二論芒刺舌</h2>
<p>凡舌不拘何色生芒刺者`苔必焦黃或黑或無苔而絳若苔白或淡黃胃無大熱必無芒刺或兩邊有小赤瘰是營熱鬱結當開泄氣分是焦熱極者宜涼膈散散之`　皆上焦熱極也當用青布拭泠薄荷水揩之即去者輕旋生者險</p>

<h2>第十三論血跡腫大舌</h2>
<p>舌苔不燥自覺悶極者`脾陽弱濁壅不行`　脾濕盛也`雖有熱邪當先辛開泄濕而後清熱切不可先用寒涼遏閉`　或有傷痕血跡者當問曾經搔挖否不可以有血而便為枯症仍從濕治可也再有神情清爽舌腫大不能出口者`或兼唇腫`　此脾濕胃熱鬱極化風而毒延於口用大黃摩入當用劑內舌脹自清`神清邪在脾胃神昏即在脾胃神昏即在心脾兩臟`</p>

<h2>第十四論如煙煤舌</h2>
<p>舌無苔有如煙煤隱隱者慎不可忽視若口渴煩熱而燥者平時胃燥也不可攻之宜甘寒益胃`此陰虛而燥`　若不渴肢寒而舌潤者乃挾陰症宜甘溫扶中`此陽虛不可用苦寒只甘溫不可用苦濕`　此何以故外露而里無也`外露熱象里無熱也`</p>

<h2>第十五論黑舌</h2>
<p>舌黑而滑者水來剋水陰症也當溫之`附桂之類`　若見短縮此腎氣竭也為難治若加人參五味子或救萬一舌黑而乾者`黑燥無苔胃無濁邪`　津枯火熾急急瀉南補北`黃連阿膠湯`　若黑燥而中心厚者`胃中有垢濁與邪熱相結`　土燥水竭急以鹹苦下之`元明粉大黃`</p>

<h2>第十六論粉白滑舌並斑疹</h2>
<p>舌白如粉而滑`濁邪甚盛`　四邊色紫絳者`熱邪亦重熱為濕遏`　溫疫病初人膜原`外通肌肉內近胃府即三焦之門戶而實一身之半表半裡也`　未歸胃腑急急透解`吳又可達原飲加減`　莫待傳入而為險惡之症且見此舌者病必見凶須要小心凡斑疹初見須用只捻照`熱閉營中多成斑疹斑從肌肉而出屬胃疹從血絡而出屬經其或斑疹並見此陽明經府皆熱`　看胸背兩肋點大而在皮盧之上者為斑可雲頭隱隱或瑣碎小粒者為疹又宜見而不宜多見按方書謂斑色紅者為胃熱紫者熱極黑者胃爛然當看外症所合方可斷之春夏之間濕病俱發斑疹為甚如淡紅色四肢清口不湛渴脈不洪數`虛斑也`　此非虛斑即屬陰或胸前微見數點面赤足冷或下利清穀陰斑也`　此陰盛格陽於上`內真寒外假熱逼其無根之火上浮必面赤戴陽`　當溫之`如白通湯之類熱藥冷服不然拒格不受而吐矣`　若斑色紫而點小者心胞熱也`點小即是從血絡而出之疹熱在惱胞`　點大而紫胃中熱也`從肌肉而為斑熱在胃`　斑黑而光亮者`光亮元氣猶充故可救`　熱毒極熾雖屬不治然其人氣血充者依法治之或可救之若黑而晦者必死`黑晦元氣敗`　黑而隱隱四旁赤色者`四旁赤色氣血尚活`　乃火鬱內伏大用清涼發透間有轉紅而可救者又有夾斑帶疹皆是邪之不一各隨其部而泄`或經或府`　然斑屬血者恆多疹屬氣者不少`熱在胃本屬氣分見斑則邪屬血矣疹從血絡而出本屬血分然邪由氣而閉其血方或疹也故治斑疹必當兩清氣血況欲透發必通其血中之氣如赤芍鬱金歸鬚之類以佐犀角元參等如清氣分則用知母石膏以芩連佐桂枝枝亦可通營清熱也`　斑疹皆是邪氣外露之象發之時宜神情清爽方為外解里和如斑疹出而昏者此正不勝邪而內陷`雖用扶正開泄如人參至寶丹之類總歸死者十之八九`　或胃津內涸之候矣`昏而聲音洪厲力氣尚強舌乾黑無苔用大劑滋養雞子黃生地黃阿膠之類或可救之苔黑中心燥者救陰中加鹹苦下之亦可救之`</p>

<h2>第十七論白㾦</h2>
<p>白㾦小粒如水晶色者此濕熱傷肺邪雖出而氣液枯也必得甘藥補之`此言病久宜然`　若未至久延氣液尚在未傷乃為濕鬱衛分汗出不徹之故當理氣分之邪`辛溫疏表如蘇梗藿梗使氣伸汗出邪達而愈`　枯白如骨者`枯白如暴露人獸死骨色`　多凶氣液竭也</p>

<h2>第十八論齒血</h2>
<p>溫病看舌亦須驗齒齒為腎之餘`腎主骨齒為骨這余故齒浮齦不腫為腎火水虧也`　齦為胃之絡`胃脈絡於上齦大腸脈絡於下齦皆屬陽明故牙齦腫痛為陽明風火或濕遏火伏`　熱邪不燥胃津必耗腎液且二經之血走於此處病深動血`邪熱入胃必連大腸血循經絡而行遂動血上溢`　結瓣於上陽血色紫紫如干漆`陽明這血`　陰血色黃黃如醬瓣`少陰之血`　陽血若見安胃為主`鮮地霍斛石膏知母之類`　陰血若見救腎為要`生地阿膠之類`　然豆瓣色者多陰惟病尚不逆者猶可治否則難治矣此何故陰下竭陽上厥也`水不勝火`</p>

<h2>第十九論齒燥具枯</h2>
<p>齒若光燥如石者胃熱甚也證見無汗惡寒衛偏勝也`衛陽內郁表氣不通故無汗為衛偏勝`　辛涼泄衛透汗為要`泄衛發汗內熱即從表散凡惡寒而汗出者為表陽虛腠理不固雖有內熱亦非實火`　如枯骨色者腎液枯也`齒燥有光胃液雖干腎氣未竭如枯骨色腎液大敗`　為難治如上增截潤當作燥觀上水不上承句可知`　為不上承而心火炎急宜清心救水`黃連阿膠湯`　俟枯處轉潤乃妥若咬牙齧齒者濕熱化風痙病也但咬牙者胃熱氣走其絡也咬牙而脈症皆衰者辦虛無谷以內榮也`胃中空內風乘虛而入其絡`　此何以故虛則喜實耳舌本不縮而硬牙關咬定難開者此非風痰阻絡即欲作痙症用酸物擦之即開酸走肝木來泄土也</p>

<h2>第二十論齒垢</h2>
<p>若齒垢如灰糕樣者胃氣無權津亡而濕濁用事多死`齒垢由腎熱蒸爍胃中濁氣所結甚色如灰糕則枯敗而津氣俱亡腎胃竭惟有濕濁用事故知必死`　初病齒縫流清血痛者為胃火沖激`出於牙齦屬陽明故痛`　不痛者為龍火內燔`龍火謂腎火宜壯水主`　齒焦無垢者死`齒焦腎水告涸無垢胃液亦竭故死`　齒焦有垢者腎熱胃劫也`有垢者火盛而氣液未竭用調胃承氣微下胃熱`　當微下之或玉女煎清胃救腎可也`腎水虧者用之`</p>

<h2>第二十一論婦人溫病</h2>
<p>婦病與男同但多胎前產後及經水適斷大凡胎前病古人皆經四物加減用之謂恐邪來害妊也`然邪猶在表分當從開達外解倘執用四物反引邪入里輕病變重故必審其邪之淺深而治為至要也`　如熱極者有用井底泥及藍布浸冷覆蓋腹上等`須見邪熱逼胎有胎躍不已之象急清內熱可用此治否則致熱內走反傷其胎`　皆是護胎之意然亦須看其邪之可解而用之如血膩之藥不零又當審察`不零當作不宜斷無試之不零而後更之清熱　解邪勿使傷胎即為保護若助氣和氣之藥猶可酌用若滋膩補血本元未傷而用之恐反遏其邪`　不可固執仍宜步步保護胎元恐正損邪陷也至於產後方書謂慎用苦寒恐傷已亡之陰也然亦要辨其邪以從占解者稍從證用之亦無妨也`上者如宣肺之類中者如疏中和中之類`　不過勿犯下焦`謂肝脾腎初治不善邪陷入臟即死`　且屬虛體當如虛怯人病邪而治`此法最妥`　況產後當血氣沸騰之際最多空隙邪必乘虛內陷虛處受邪為難治也`產後大傷下元若稟質陽虛者偶傷寒邪飲食瀉痢不止脾腎氣脫往往二三日即死其陰虛者肝風易熾熱邪乘之即成痙者有之故最為難治陽虛者養陰為先`　如經水適斷邪將陷於血室少陽`衛脈為血室肝主之少陽為肝之表其脈起於氣街氣街又陽明胃經之穴故云隸屬陽明也`　傷寒言之詳悉不必多贅但數動`當作變動或竟作溫邪亦可`　與正傷寒不同仲景立小柴原湯提出所陷熱邪`從少陽提出`　參棗以扶胃氣`必胃無邪及中虛之人方或用之否則肋邪為害`　因衝脈隸屬陽明也此惟虛者為合治若熱邪陷入與血相結者當宗陶氏`陶節庵有傷寒全生集`　小柴胡湯去參棗加生地桃仁查肉丹皮或犀角等`此因邪血結`　若本經血結自甚必少腹滿痛輕者刺期門穴`在左肋`　重者小柴胡湯去甘草加延胡歸尾桃仁尾桃仁挾寒加肉桂心氣滯加香附陳皮枳殼等`此血結為主`　然熱陷血室之症多有讝語如狂之象與陽明胃熱相似此等病機最須辨別血結者身體必重非若陽明之輕便者何也險主重濁絡脈被阻身之側旁所痹連及胸背皆為阻窒故云邪通絡正合其病往往延久上逆心胞胸中痹痛即陶氏所謂血結胸也王海藏出一桂枝紅花湯加海蛤桃仁原欲表裡上下一時盡解之此方大有巧妙也血室者營血停止之所經脈留會之處即衝脈是也衝脈者奇經八脈之一脈也起於腎下出於氣街並陽明經夾臍上行至胸中而散為十二經之海王水曰沖為血海言諸經之血朝會於此男子則運行生精女子則上為乳汁下為月事用力寒之邪子人則隨經而入男子由陽明而傳以沖之脈與少陰之絡起於腎女子感邪太陽隨經便得而入沖之經並足陽明男子陽明內熱方得而入也衝脈得熱血心妄行在男子則下血讝語在婦人則月水適來蓋言男子不獨謂婦人也針經曰婦人熱人血室有須治而愈有不須治而愈假今婦人中風發熱惡寒經水適來得之七八日熱除而脈遲身涼和脅下滿如結胸狀讝語者此為熱入血室刺期門穴隨其實而瀉之假今婦人中風七八日續得寒熱發作有時經水適斷者此謂熱入血室其血必結故如瘧狀發作有時小柴胡湯主之二者須治而愈者也若發熱書則明瞭夜則讝語如見鬼狀此熱入血室無犯胃氣及上二焦心自愈是不須治而愈者也讝語為病邪之甚者何不須治而愈耶且胸脅滿如結胸讝語是邪氣留結胸脅而不去者必刺期門隨其實而瀉之寒熱如瘧發作有時者是血結而不行也須小柴胡湯散之二者既有留邪必須治之可也若發熱經水適來書日明瞭暮則讝語此經水既來以里無留邪但不妄犯熱隨血散必自愈經曰血自下下者愈故無犯胃氣及上二焦必自愈所謂妄犯者恐以讝語為陽明內實攻之犯其胃氣也此無胸脅之邪恐刺期門犯其中焦也也此無血結恐與小柴胡湯犯其上焦也小柴胡湯解散則動衛出上焦動衛氣是犯上焦也刺期門則動營氣營出中焦動營氣是犯中焦也脈以曰無犯胃氣及上二焦豈但言藥不言針耶邪入血室仲景分淺深而立兩法其邪深者如結胸狀若讝語刺期門穴隨其實而瀉之是從肝而瀉其邪亦即陶氏所謂之血結胸也其邪淺者往來寒熱如瘧狀而無讝語用小柴胡湯是從膽治也蓋往來寒熱是少陽之證故以小柴原湯提少陽之邪則血室之熱亦可隨之而出以肝膽為表裡故深則從肝淺則從膽以導泄血室之邪也其言小柴胡湯惟虛者合治何也蓋傷寒之邪由經而入血室其胃無邪故可用參棗若溫熱之邪先已犯胃後入血室故當去參棗惟胃無邪及中虛之人方可用之須知傷寒之用小柴胡湯者正防少陽經邪乘虛入胃故用參棗先助胃以御之`如上言法宜益胃`　共與溫熱之邪來路不同故治法有異也</p>

<h1>卷中</h1>

<h2>濕熱論</h2>
<p>濕熱症始惡寒後但熱不寒汗出胸痞舌白或黃口渴不引飲此條乃氣虛則病入太陰病在二經之表者多兼少陽三焦病在二經之裡者每兼厥陰風木以少陽厥陰同司相火陽明太陰濕鬱生熱甚則少火皆成狀火而表裡上下充斥肆逆故最易耳襲乾嘔發痙發厥而提綱中不言及者因以上諸症皆濕熱兼見之變局而非濕熱病必見之正局也始惡寒者陽為濕遏而惡寒終非若寒傷於表之惡寒後但熱不寒則鬱而成熱反惡熱矣熱甚陽明則汗出濕蔽清陽則胸痞濕邪內盛則舌白濕熱交蒸則苔黃則液不升而口渴濕則飲內留而不引飲然所云表者乃太陰陽明之表而非太陽之表太陰之表四肢也陽明之有肌肉也胸中也故胸痞為濕熱必有之證四肢倦怠肌肉煩疼亦必並見其所以不幹太陽者以太陽為寒水之腑主一身之表風寒必自表入故屬太陽濕熱不盡從表入故不必由太陽況風寒傷營衛營衛乃太陽所司表濕傷肌肉為陽明所主寒濕之屬太陽者以太陽為寒水同氣相求也濕熱之屬陽明者陽明為中土火化從陽也濕熱之邪從表傷者十之一二由口鼻入者十之八九陽明為水穀之海太陰太陰乃濕土之臟故多由陽明太陰受病膜原者外通肌肉近胃腑即三焦之門戶而實一身之半表半裡也邪由上受直趨中道故病亦多歸膜原要知濕熱之病不獨與傷寒不同且與溫病大異溫病乃太陽少陰同病而提綱中反不言及脈者以濕熱之症脈無定體或洪或緩或伏或細各隨症見不拘一格故難以一定之脈拘定後人眼目也</p>
<p>濕熱之病陽明必兼太陰者人徒知臟腑相連濕土同氣而不特此也當與溫病之必兼少陰此例少險不藏木火內燔風邪外襲表裡相煸故為溫病太陰內傷濕飲停聚客邪再至內外相引故病濕熱此皆先有內傷再感客邪非由腑及臟之謂若濕熱之症不挾內傷中氣實者其病必微或先因於濕再因飢勞役而病者亦屬內傷挾濕標本同病然勞倦傷脾為不足濕飲停積為有餘所以內傷外感孰多孰少孰實孰虛又在治病者之臨症時權衡矣</p>
<p>濕熱症惡寒無汗身重頭痛濕在表分宜藿香薷羌活蒼朮薄荷牛蒡子等味頭不痛者去羌活</p>
<p>身重惡寒濕遏衛陽之表症頭痛必挾風邪故加羌活不獨勝濕用以祛風此條乃陰濕傷表之候</p>
<p>濕熱症汗出惡寒發熱身重關節疼痛濕在肌肉不為汗解宜滑石豆黃卷芩皮蒼朮皮藿香葉鮮荷葉通草桔梗等味不惡寒者去蒼朮皮</p>
<p>此條外候與上條頗同惟出汗獨異更加關節疼痛乃濕邪初犯陽明之表故略見惡寒及至發熱惡寒當自罷矣用藥通陽明之表而即清胃脘之熱者不欲濕邪之鬱熱上蒸而欲濕邪之淡滲下走耳此條乃陽濕傷表之候濕熱症三四日即口噤四肢牽引拘急甚則角弓反張濕熱侵入經絡脈隧中宜鮮地龍秦艽威零仙滑石巷耳子絲瓜藤酒炒川連等味</p>
<p>此條乃濕邪挾風邪者為木氣風動則木張乘入陽明之絡則口噤走竄太陰之經則拘攣故用藥不獨勝濕重用熄風一則風藥能勝濕一則風藥能疏肝也選用地龍諸藤者欲其宣通絡脈耳或問仲景治痙原有桂枝湯加括蔞根及葛根湯二方後人屏而不用豈宜於古者不宜於今即今之痙者與厥相連仲景不言及厥豈金匱有遺文耶余曰非也藥因病源既異治法自殊故同一發痙而傷寒與濕熱之病因不同傷寒之痙自外來症屬太陽治以散以外邪為主濕熱之痙自內出波及太陽治以熄內風為主蓋三焦與肝膽同司相火中焦濕熱不解則熱甚於里而少火悉成壯火火動則風生而筋攣脈急風煸則火熾而熾亂神迷身中之氣隨風火上炎而有升無降常度盡失由是而形若屍厥正內經所謂血之與氣並走於上則為暴厥者是也外竄經脈則成痙內並膽中則為厥內外充斥痙厥並見正氣猶存一線則氣復返而生胃津不克支持則厥不回而死矣所以痙之與厥往往相連傷寒之痙自處來者安有是哉　暑月痙症與霍亂同出一源風自火生火隨風轉乘入陽明則嘔賊及太陰則瀉名霍亂竄入筋中則攣邪勢愈甚不免逼亂無厥者痙則風火閉鬱郁則邪勢愈甚不免逼亂神明故多厥霍亂則風火外泄泄則邪勢外解不致循經內走故少厥此痙與霍亂之分別也然痙症邪滯三焦三焦乃火化風得火而愈煽則逼入膽中而暴厥霍亂邪走脾胃脾胃乃濕化邪因濕而停留則淫及諸筋而拘攣火鬱則厥火竄則攣又痙與霍亂之遺禍也</p>
<p>痙之攣急乃濕熱生風霍亂之轉筋乃風來勝濕痙則由經及臟而厥霍亂則由臟則由臟及經而攣總由濕熱與風淆亂清濁升降失常之故夫濕多熱少則風入土中而霍亂熱多濕少則風乘三焦而痙厥厥而不反者死胃液乾枯火邪盤踞也轉筋入腹者死津液內涸風邪獨勁也然則胃中之津液關係顧不鉅哉厥症用辛泄胸中無形之邪也乾霍亂用探吐泄胃中有形之邪也然泄邪而胃液不上升者熱邪益熾探吐胃液不四布者內邪益攻終成成候不可不知</p>
<p>濕熱症壯熱口渴舌黃或焦紅髮痙神昏讝語或笑邪灼心胞營血已耗宜犀角連翹羚羊生地元參銀花露鉤藤鮮菖蒲至寶丹等味</p>
<p>上條言痙此條言厥濕邪暑邪本傷陽氣及至熱極逼人營陰則津液液耗而陰亦病心胞受灼神熾昏亂用藥以清熱救陰泄邪平肝為務濕熱症發痙神昏笑妄脈洪數有力開泄不效者濕熱蘊結胸膈宜涼膈散若大便數日不通者熱邪閉結腸胃宜仿承氣微下之例</p>
<p>此條系陽明實熱或上結或下結清熱泄邪只能散絡中流走之熱而不除膈中蘊結之邪胡陽明為出路也</p>
<p>濕熱症熱煩渴舌焦紅或縮癍疹胸痞自利神昏痙厥熱邪充斥表裡三焦宜大劑犀角羚羊角生地元參銀花露紫草方諸水金針鮮菖蒲等味此條乃痙厥症之最重者上為胸痞下挾熱痢癍疹痙厥陰陽舌困獨以清陽明之救陽明之液為急務者恐胃液不存其人必自焚而死也</p>
<p>濕熱症寒縶如瘧濕熱阻遏膜原宜柴原厚朴檳榔草果藿香六一散蒼朮半夏石菖蒲等味瘧由暑熱內伏秋涼外束而成若夏月腠理大開毛竅疏通安得成瘧而寒熱有定期如瘧之發作者以膜原為陽明之半表半裡濕熱阻遏則營衛氣爭症難雖不得與瘧同治故放吳又可達原飲之例蓋一由外涼束表一由內濕阻遏也</p>
<p>濕熱症數日後脘中微悶知飢不食濕邪蒙繞上焦宜藿香葉薄荷葉鮮稻葉鮮荷葉枇杷葉佩蘭葉盧尖冬瓜仁等味</p>
<p>此濕熱巳解餘邪蒙閉清陽胃氣不輸宜用極輕清之品以宣上焦陽氣若投味重之劑是與病情不相值矣</p>
<p>濕熱初起亦有脘悶懊憹汗出口渴眼欲閉時讝語濁邪矇蔽清陽屬在上焦者宜用枳殼桔梗淡豆豉生山梔湧泄法若投投輕清劑又與病情不相當矣說須與第九第十兩條參看同一邪在上焦而第九條屬虛此說屬實且同一實症而第十條邪在中焦此說邪在上焦臨症者當慎之</p>
<p>濕熱症初起發熱汗出胸痞口渴舌白濕伏中焦宜藿香蔻仁杏仁枳殼桔梗鬱金蒼朮厚朴草果半夏石菖蒲六一散佩蘭葉等味濁邪上干則胸痞胃液不升則口渴病在中焦氣分故多開中焦氣分之藥此條多有挾食者宜加瓜蔞查肉菔子舌根現黃色即是挾食症</p>
<p>濕熱症數日後自利溺赤口渴濕流下焦宜滑石豬茯芩澤瀉萆薢通草等味下焦屬陰所司陰道虛故自利化源滯則溺赤脾不轉津則口渴然必不引飲太陰濕故也濕滯下焦故獨以分利為治</p>
<p>此條藥味獨用分利症兼口渴胸痞須佐入桔梗杏仁豆捲開泄中上源清則流自潔矣不可不知以上三條皆濕重熱輕之候</p>
<p>濕熱之邪不自表而入故無表裡可分而未嘗無三焦可辨猶之河間治消渴以三焦分者是也夫熱為天之氣濕為地之氣熱得濕而熱愈熾濕得熱而濕愈橫濕熱兩分其病輕而緩濕熱交合其病重而速濕多熱少則蒙上流下當三焦分治若濕熱俱多則下閉上壅而三焦俱病矣猶之傷寒門二陽合病三陽合病是也太陰濕化三焦火化有濕無熱止能蒙閉清陽或阻於上或阻於中或阻於下濕熱一合則身中少火悉化壯火而三焦相火有不皆起而為暴者哉所以上下充斥內外煎熬最為酷烈兼之木火同氣表裡分司再引肝內痙厥立至胃中津液幾何其能供此交徵乎至其所以必屬陽明者以陽明為水穀之海鼻食氣口食味悉歸陽明邪從口鼻而入則陰明為必由之道路也其始也邪入陽明早已先傷其胃液其繼也邪盛三焦更欲取資於胃液司命者可不為陽明顧慮哉</p>
<p>可問木火同氣熱甚生風以致痙厥理固然矣然有濕熱之症表裡極熱不痙不厥者何也余曰風木為火熱引動原因木氣素旺肝陰先虧內外相引兩陽相煽因而勁張若肝腎素優並無裡熱者火熱者火安能招引肝風哉試觀小兒一經壯熱便成瘛從以純陽之體陰氣未足故肝風易動也濕熱症舌遍體白口渴濕滯陽明宜用辛如厚朴半夏草果乾菖薄等味</p>
<p>此濕邪極盛邪尚未蘊結故重用辛以開之使上焦得通津液得下也</p>
<p>濕熱症舌根白舌尖紅濕漸化熱余濕猶滯宜用辛泄佐以清熱宜蔻仁半夏干菖蒲豆卷六一散連翹錄豆殼等味</p>
<p>此濕熱參半之證而燥濕之中即佐清熱者赤所以存陽明之液也上二條憑驗舌以投劑極為臨症時要訣蓋舌為心之外候濁邪上薰心肺舌肺因而轉移　</p>
<p>濕熱症初起即胸悶不知人瞀亂大叫痛濕熱阻閉中上二焦宜草果檳榔鮮菖蒲六一散芫荽各重用或加角末地漿水煎服</p>
<p>此條濕熱俱重之候而去濕藥多清熱藥少者以病邪初起即閉正未有傷故以辛通散邪為急務不欲以寒涼凝滯病機也</p>
<p>濕熱症四五日口大渴胸悶欲絕乾嘔不止脈細數舌光如鏡胃液胃液受劫膽火上衝宜西瓜白汁金汁鮮生地汁甘蔗汁痞悶再磨鬱金木香烏藥香附等味此營陰素虧木火素旺者今木乘陽明而耗其津液然幸無飲邪故一清陽明之熱一散少陽之邪不用　煎者取其氣之全耳</p>
<p>濕熱症嘔吐清水或痰多黏膩濕熱內留水火上逆宜濕膽湯加瓜蔞碧玉散等味</p>
<p>此素有痰飲而陽明少陽同病故一以滌飲一以降逆與上條嘔同而治異正當合參</p>
<p>濕熱症嘔惡不止書夜不瘥欲死者肺胃不和胃熱移肺肺不受邪也宜用川連三四分蘇葉二三分兩味煎湯呷下即止</p>
<p>肺胃不和最易致嘔蓋胃熱移肺肺不受邪不定還歸於胃嘔惡不止若以治肝膽之嘔治之誤矣故必用川連以清濕熱蘇葉以通肺胃則投之立愈以肺胃之氣非蘇葉不能通也數輕者以輕劑能治上焦之疾故耳</p>
<p>濕熱症咳嗽書夜不寧甚至喘而不得眠者暑邪入於肺絡宜葶藶子六一散枇杷葉等味</p>
<p>人知暑傷肺氣則氣虛不知暑滯肺絡者則肺實葶藶引滑石直瀉邪則病自除矣</p>
<p>濕熱症十餘日後大勢已退惟口渴汗出骨節疼隱痛不已餘邪留滯經絡宜元米湯泡於朮隔一宿去朮煎飲之病後濕邪未盡陰液已傷故口渴身疼此時救則助濕治濕則劫陰宗仲景麻沸湯之法取氣不取味走陽不走陰佐以元米湯養陰逐濕兩擅其長也</p>
<p>濕熱症數日後汗出熱不除或痙忽頭痛不止者營液大耗厥陽風火上升宜羚羊角蔓荊子鉤藤元參生地女貞等味濕熱傷營肝火化風上逆血不營筋而痙作上升巔頂則頭痛熱氣已退木氣獨張故痙而不厥投劑以熄風為標養險為本濕熱症胸痞發熱肌肉微痛始終無汗者暑邪伏於腠理內閉宜六一散一兩薄荷葉四五分泡湯調下即汗解</p>
<p>濕熱發汗昔腎有禁此不微汗之病必不愈蓋既有不可汗這大戒復有得汗始解之治法臨症者當知所變矣</p>
<p>濕熱症按法數日後忽吐下一時並至者中氣虧損升降悖逆宜生穀芽蓮心扁豆米仁半夏甘草伏芩等味甚極者用理中湯之意升降悖逆法當和中猶之霍亂之用六和湯也若太陰憊甚　中氣不支非理中不可濕熱症十餘日後左關弦婁腹時痛時圊血肛門熱痛血液內燥熱邪傳入厥陰之陰宜仿白頭翁湯法</p>
<p>熱入厥陰而下痢即不圊血亦當宗仲景治熱法若更逼入營陰安得不用白頭翁涼血而散邪乎設熱入陽明而下痢即不圊血又宜師仲景治下痢讝語用小承氣之法矣</p>
<p>濕熱症十餘日後尺脈數下痢或咽痛口渴心煩下元不足熱邪直犯少陰之陰宜仿豬膚湯涼潤法</p>
<p>同一下痢症有厥少之分則藥有寒涼之異然少陰有便膿血之候不可不細審也</p>
<p>濕熱症身冷脈細汗胸痞口渴舌白濕中少陰之陰之陽宜人參白朮附子茯芩益智等味肥胖氣虛之人夏月多有是病</p>
<p>濕邪傷陽理合扶陽逐濕口渴為少陰症焉得妄用寒涼耶暑月病初起但惡寒面黃口不渴神倦四肢懶脈沉弱腹痛下痢濕困太陰之陽宜仿縮脾飲冷香冷香飲子甚則大順散來復丹等法</p>
<p>暑月為陰氣外泄陰液內耗之時故熱邪傷陰陽明灼爍宜清滋太陰告困濕濁迷漫宜溫宜散古法最詳醫者鑑諸</p>
<p>濕熱症按法治之諸症皆退惟目瞑則驚悸夢惕餘邪內留膽氣不舒宜酒浸郁李仁薑汁炒棗仁豬膽皮等味滑可去著郁李仁性最滑脫古人治驚後肝系滯而不下始終目不瞑者用之以下肝系而去滯此濕熱之邪留於膽中膽為清靜之府藏而不瀉是以病去而內留之邪不去寐則陽氣行陰膽熱內擾肝魂不寧故用郁李仁以泄邪必用酒浸者酒入於胃先走於膽也棗仁之酸入肝安神而制以薑汁者安神而又兼散邪也用藥至此乃謂善於驅遺者也</p>
<p>濕熱症曾開泄下奪者惡候皆平獨神思不清倦語不思食溺數唇齒乾胃氣不輸肺氣不元神大虧宜人參麥冬生穀芽川石斛木瓜生甘草鮮蓮子等味</p>
<p>開泄下奪惡候皆平正亦大傷故見症多氣虛這象理合清補元氣若用泥滯陰藥去生便遠</p>
<p>濕熱症四五日忽大汗出手足冷脈細如絲或絕口渴莖痛而起坐自如神清語亮乃汗出過多衛沖外之陽暫亡濕熱之邪仍結一時表裡不通脈故伏非真陽外脫也宜五芩散去朮加滑石酒淬川連生地耆皮等味</p>
<p>此條脈症全似亡陽之候獨於舉動神氣中得其情噫此醫之所以貴識見也</p>
<p>濕熱症發痙神昏獨足冷陰縮下體外受客寒仍宜從濕熱治只用辛溫之品煎湯薰洗</p>
<p>陰縮為厥陰之外合之足冷全似虛寒矣乃諦觀本症無一屬虛姑知寒客下體一時營氣不達不但症非虛寒並非上熱下寒之可擬也仍從濕熱治之又何疑耶</p>
<p>濕熱症初起壯熱口渴脘悶懊憹眼讝語濁邪蒙閉上焦宜湧泄用枳殼桔梗淡豆豉生山梔無汗加葛根</p>
<p>若病退後皖中微悶知飢不食是餘邪蒙繞上焦法宜輕散此則濁邪蒙閉</p>
<p>上焦故懊憹脘悶欲閉者肺氣不舒也時讝語者邪逼心胞也若投輕劑病必平除云高者越之用梔鼓湯湧泄之劑引胃脘之陽而開心胸之表邪從吐散一了百當何快如之濕熱症經水適來壯熱口渴讝語神昏胸腹痛或舌無胎脈滑數邪陷營分宜大劑犀角紫草茜根貫仲連翹銀花露鮮石菖蒲等味熱入血室不獨婦女男子亦有之不但涼血並須解毒然必重劑乃可奏功濕熱症上下失血或汗血毒邪深入營分走竄欲泄宜大劑犀角生地丹皮赤芍連翹紫草茜根銀花等味</p>
<p>熱逼而至上下失血汗血勢極危而猶不即壞者以毒從血出生機在是大進涼血解毒之劑以救陰而泄邪邪解而血自止矣血止後須進參耆善後乃得</p>
<p>濕熱症七八日口不渴聲不出與飲食亦不卻默默不語神熾昏迷進辛香涼泄芳香逐穢俱不效者邪入厥陰主客渾交宜仿吳又可三甲散醉地鱉蟲醋炒鱉甲土炒穿山甲生天蟲柴原桃仁泥等味</p>
<p>暑濕雖傷陽氣然病久不解必及於陰陰陽兩困氣鈍血滯而暑濕不得外泄遂深入厥陰絡脈凝瘀使一陽不能萌動生氣有降無升無主阻遏零氣不通所以神熾不清而昏迷默默也用入厥陰之藥破滯通瘀斯絡脈通而邪得解矣</p>
<p>濕熱症口渴胎黃起刺脈弦緩囊縮舌硬讝語昏不知人兩手搐搦津枯邪滯宜鮮生地盧根生首烏鮮稻根等味若脈有力大便不解者大黃加入亦可胃津劫奪熱邪內擾宜潤下以泄徒用清滋無當病情故仿承氣之例以甘涼易苦寒正恐胃氣受傷胃津不復故也</p>

<h1>卷下</h1>

<h2>辨表分寒熱第一</h2>
<p>書夜頭疼渾不了`先提清表分`　身熱脈浮邪在表病症看來似一般表寒表熱須分曉`點出眉目`　或有汗無汗汗多少且莫管只就脈浮中分出兩此綿`是最著眼處`　表寒浮緊或兼弦表熱浮數兮或兼滑表長與弦緩寒者身疼慣怕寒`以上旁證之`　頻求衣被遮溫暖熱者雖然也畏風無風便欲開帷幔寒不渴兮熱或渴寒舌白苔熱黃澤寒者口和熱口苦寒減食兮熱能食表寒散以辛溫味表熱辛涼非一例表寒切勿先消食惟恐引邪入里去表熱切忌用辛溫變成燥熱為難治`以治法為收束`</p>

<h2>辨表分虛寒虛熱第二</h2>
<p>頭痛`表也`　脈浮`或兼大兼弦或兼數兼弦`　按無力`虛也`　表分虛同寒熱別表若虛寒必惡寒若進辛溫汗難出`若用辛涼必致汗多而近於亡陽矣此下言服辛溫之後變象`　氣擾翻教身體麻或大熱兮或微熱胸前微滿且欲嘔口淡或渴或不渴表如虛熱口亦淡必兼微渴思潤澤服過辛涼身反痛`此下是服辛涼後變象`　舌形定現微苔色不論大汗與無汗但查熱勢加猖獗兩症皆須補益來寒加薑桂`宜用桂枝湯加耆術甚則加人參干炮姜之類如血虛無汗加當歸紅花和其陰血`　熱芩柴`宜柴芩歸芍耆朮之類甚則加人參`</p>

<h2>辨裡寒第三</h2>
<p>裡寒脈沉緊或兼緩與遲惡寒骨節痛`五字是表證`　表症似而非胸腹滿痛且欲嘔或吐或利俱有諸或熱或不熱手足指冷厥喉有冷涎苔白滑或如豬腰或茶褐此宜桂枝湯去芍加乾薑裡寒溫補是良方甚則加桂附可以復其陽</p>

<h2>辨裡熱第四</h2>
<p>裡熱脈沉`主腦`　數或緩滑以長無論其神昏與清無認其身熱與涼唇焦齒黑讝語現舌短苔黑或起芒裂破出血反不渴飲冷小溲長或利清水或便鞭聲音洪厲力氣強狂發登高棄衣走否且循衣而模床面目或或不赤其色垢`即不赤亦面垢`　濁如薰黃此宜芩連石膏類甚則芒硝與大黃</p>

<h2>辨裡虛寒第五</h2>
<p>里若虛寒者脈必沉而緩`主腦`　微細按無神救之惟愁晚手足常四逆面色青黑黯渴而不欲飲但覺口中淡惟喜極熱湯稍解胸中滿或嘔或吐或下利或不便心下悸心煩喜躁不思食踡臥恍惚每獨語舌帶淡墨色或如豬腰或糙米或白苔而潤或無苔而燥短縮不能伸望之萎且稿理中四逆急溫之否則神昏汗脫了</p>

<h2>辨裡虛熱第六</h2>
<p>欲知裡虛熱脈沉而數按無力`主腦`　身熱退不淨口渴神恍惚與湯測飲之不與亦不討有思食來食到便先飽舌上略覺燥得湯燥即好或有微苔或無苔或淡紅色`淡紅色香岩行生用炙甘草湯謂津傷而氣無化液也不可用寒涼藥`　如桃腮此為里分少津液瀉心導赤佐生脈</p>

<h2>辨假虛寒第七`實熱內伏也`</h2>
<p>脈沉細兮或緩長出則遲兮入則疾`主腦`　或伏筋骨按有力`沉實也本宜下`　口中不渴舌燥短`邪入營往往不渴四逆謂熱深厥亦深`　不但身涼且四逆神昏讝語口目動狀若驚風作痙厥或利清水`熱瀉`　可不便解下或如爛桃色人事不知歌且哭身輕偏自能起立`大證據`　或吐蛔蟲口舌苦辣小便行時長且赤此是虛寒假證現應須解毒和涼膈</p>

<h2>辨假實熱第八`虛陽上浮也`</h2>
<p>脈浮而大或洪數無奈按之全不見`主腦`　任他熱勞如燎原`浮大洪數卻是熱象按之不見全是虛證然邪盛之脈亦有按之不見教師不可不慎也`　真底實板已先現苔白或黑短不燥或如豬腰或米糙而目俱赤為戴陽譫語發狂手足躁或有汗兮或無汗從臥只求並中蹈舌腫唇齒出血渴飲湯水常不絕內是真寒外假理中八味合生脈煎成冷飲代茶湯庶幾虛火歸源得誤服芩連增躁渴`變成死證`　庸醫到此休饒舌</p>

<h2>辨渴第九</h2>
<p>渴症須分寒與熱熱者脈數而口舌`主腦`　身熱汗出喜冷飲或兼湯下百杯可`大證據`　此宜花粉與川連加味參同伴白虎虛寒而渴者脈必細兼遲即教洪且大終是數而虛`主腦`　渴喜極熱湯稍溫便嫌冷有時思得水`大證據`　仍復不能飲此宜生脈中姜附辛以潤又有汗下之後亡津液生津之品始為得不宜涼藥不宜溫`生津為主`　何況諸多辛與熱`此非口渴乃口乾濁屬實熱干為虧當生津如酸甘化陰之類`</p>

<h2>辨舌第十</h2>
<p>胃氣現於舌上有淡白苔俗醫漫消食必致光無胎調理到思食苔白漸生來君不見病有`厚苔`　厚苔滿舌者忽然退去光而燥乃為胃氣絕之症從此參詳便分曉又有大紅舌無苔者君火色浮於外盛極將衰欲化灰`無病之人亦常有之宜用附子`　引火歸源才得退`舌色純紅必腎氣素虛之人無他症而忽現此舌者附子引火歸源固合又若敖氏傷寒金鐿載純紅為將瘟舌乃熱蓄於內而病將發也不問何經宜用透頂清神散搐鼻法亦不可不知`　又有舌黑如淡墨更不須問燥與濕總歸腎水克心火陰盛陽衰須早識除非黑起芒刺燥而制陽熱結何消說</p>

<h2>辨虛寒舌燥第十一</h2>
<p>舌燥有多般或淡黃或淡白或起微刺或灰色更有望之如燥捫之澤`望之燥捫之澤溫證論言舌絳望之似燥手捫之原有津液此津虧濕熱薰蒸將成濁痰蒙閉心胞也`　其色或紫而或黑必兼吐利而厥逆神昏譫語詞謇澀`舌燥而語言不清因燥而不清可治舌黑而語言不清所謂口雖欲言舌不得前死證也`　脈形微細定如絲或雖洪大終無力`虛寒定案`　急用生脈以養津附姜芩草和耆朮`俗醫為五味味厚多則用十餘粒少則七八粒此不通之論必須錢餘方效`</p>

<h2>辨實熱舌燥第十二</h2>
<p>實熱舌燥先有地或黃或黑起芒刺`溫證論凡舌不拘何色生芒刺者皆是上焦熱極也常用青布拭冷薄荷水揩之即去者輕旋生者險`　即使苔輕偏破裂必兼身熱焦唇齒渴喜飲冷麵目赤並無吐利與厥逆讝語便閉諸症現洪數滑長脈可驗白虎承氣隨變換`隨症變換也`</p>

<h2>辨寒頭痛第十三</h2>
<p>寒頭痛脈浮而緊`主腦`　或弦或沉更兼遲惡風與寒四肢冷`大證據`　頭喜熱物包里之`更有劉河間論頭痛屬熱者亦惡寒喜熱緣熱為寒閉則其痛甚熱氣流通則痛止也然上後必復作而益甚為驗脈亦必有異`　理中參人桂天麻附子細辛重者加少佐羌防法亦佳</p>

<h2>辨熱頭痛第十四</h2>
<p>熱頭痛脈浮而數或滑而長亦有諸口苦舌乾渴欲飲痛連風府與風池惡熱其常惡風暫此為風熱症已顯羌防柴葛連翹芩甚則石膏用之驗</p>

<h2>辨虛頭痛第十五</h2>
<p>虛頭痛脈弦而大弦則為寒大則虛`主腦`　痛極不堪喜得按日夜呼叫語聲嘶`大證據`　其痛或專在額上遍頭皆痛亦有之急宜參芩者術加附子此症失治危即死</p>

<h2>辨風寒骨痛第十六</h2>
<p>風寒骨痛脈弦緊`主腦`　或遲而緩亦有淮身熱惡寒手足冷`大證據`　舌上白苔口不渴拘攣偏體痠難忍甚則上嘔下利並桂枝湯內手天麻有濕去芍加附穩</p>

<h2>辨虛骨痛第十七</h2>
<p>脈弦而大數無力`主腦`　或發熱兮或不熱惡同兮拘急口淡兮神思恍惚大證據`　痛在骨節兮服發散藥而痛愈劇此神氣傷也合用桂枝與耆術大凡人身諸骨節其數三百有六十是神氣之所遊行而出入君不見仲景新加湯重用參姜以復陽`桂枝湯加參姜`</p>

<h2>辨虛寒腹滿第十八</h2>
<p>臟寒生滿`出內經`　病脈遲緩兮或沉緊可虛大兮按無力腹滿時減又甚不欲食兮食即嘔或泄瀉惡寒兮而渴喜熱飲薑桂香砂溫散之不應再加參朮耆</p>

<h2>辨實熱腹滿第十九</h2>
<p>脈沉而實`主腦`　兮或滑與長兼腹滿`證據`　不減兮減亦不足言`二句出金匱`　大便雖解而不暢兮或得解而少寬滿腹硬痛不可按兮無吐暈等虛症之相參此宜枳樸以消之甚則加大黃參其間</p>

<h2>辨虛寒不大便第二十</h2>
<p>大便不通群呼熱不知寒凝亦斂結腹不滿兮不渴`穎案`　白滑胎兮弦緊脈`定案`　上屬虛寒無浪攻照常飲食`切不可飢`　且從容遲之一二十日後溫補足時氣自通</p>

<h2>辨實熱不大便第二十一</h2>
<p>脈數有力長滑甚煩渴腹滿按之硬或潮熱兮食即脹時有濁氣從後並此為胃熱宜下之`凡服下藥燥糞已來又得溏泄此已解也如服下藥但利清水一二次又無燥屎痞滿如故此未解也再當下之如服下藥二三次仍不通者此腸胃枯澀也當下取之取之而不通者死`　一有虛症須綱審`大約實症一下即愈一有虛症便須細審即必當下者亦中用涼隔以微利之解毒以和之陶氏黃龍湯以補而下之`　`陶節庵黃龍湯即大承氣湯加參歸草桔薑棗`</p>

<h2>辨小便不通第二十二</h2>
<p>小便不通分虛實虛則三焦失其職屢經利水不相合此宜金匱腎氣丸治其三焦決瀆官象牙生煎服亦安實者人素強或好食熱物肺熱不能通水道以致膀胱成熱結宜用豬芩澤瀉梔滑石用後仍不效須向膀胱尋外竅經說毫毛是其應`經曰三焦膀胱才腠理毫毛其應是三焦主腠理膀胱主毫毛膀胱有出竅而無入竅濟泌別汁而滲入膀胱者也毫毛是其外竅譬如水注塞其上竅則水不能出矣如人不虛利小水而仍不通者宜發其汗外竅通而內竅亦通此所謂開鬼門也`　改從發汗最為妙又有動其胞中血虛寒實熱隨症別虛寒便溫補熱則而養血因症施方不可執</p>

<h2>辨嘔第二十三</h2>
<p>其人受暴寒`審問`　或食生冷物吐酸`證據`　並乾嘔平胃正氣合脈滑`主腦`　胃有餘飲冷不喜熱`證據`　服溫熱藥嘔愈甚黃連竹茹佐薑汁`溫熱症肺胃不和每有嘔吐用黃連四分蘇葉五分泡湯吃即止`　兼虛參以參加入脈或虛大數`主腦`　無力嘔吐清涎`虛寒嘔證據`　及冷沫胃虛不能容穀食聞食即哎`胃陽竭矣`　食反出人參理中最為良丁得附子加亦得脈滑有力`主腦`　症不虛胸滿按之痛`證據`　愈劇全、合用樸實與二陳此謂中焦之嘔`東垣語`　從乎積</p>

<h2>辨吐蛔第二十四</h2>
<p>熱厥吐蛔蛔必多`凡屬吐蛔無論熱與寒切忌涼藥`人情清楚脈形和隨生隨吐無煩燥瀉其濕熱勿蹉跎厥陰傷寒屬風木吐蟲兼吐水清緣手足厥冷`主腦`　煩躁甚烏梅丸義君須讀</p>

<h2>辨汗第二十五</h2>
<p>虛汗須分陰與陽最虛`凡服發汗藥不可太過過則反致陽虛如服一劑無汗再作湯與之後無汗此營衛乏絕法當義陰轉正而再汗之三治無汗者死`　自汗補其衛`其人素虛或勞傷或大病後腠理虛陽不能衛外而為固則自汗宜用參者五味芩術甚則加桂附如乾薑半夏陳皮開達之工皆不可用`　盜汗歸之陰氣虛參甘歸地從其類`人臥則血歸於肝陰虛而不能為守則盜汗宜參芩耆術五味歸芍生熟地之類`　惟有陰明邪並來熱氣薰蒸毛竅開汗出溱溱常不止但宜涼解得和諧`汗有心家血液之汗太陽津液之汗俱不可出惟陽明水穀陽明水穀之汗雖出無害故陽症傷寒熱氣薰蒸毛竅開發溱溱而自出亦猶滾湯盛於器中熱氣上蒸而外濕也若汗不出熱氣不得泄必鬱而發黃即宜用清涼以解其熱而汗自水必用止汗之藥`　更有傷寒病久無汗出大劑參耆柴桂合頓然出汗退其熱景岳書中亦曾說</p>

<h2>辨讝語第二十六</h2>
<p>讝語是多言皆因胃液干就中讝語有實象讝字從嚴侃侃然旋轉風輪難自主才呼四便張三鄭聲氣短神蕭索`鄭聲者聲如鄭衛之音不能正也孔子曰惡鄭聲之亂雅樂經曰虛則鄭聲蓋因汗下過多表裡虛竭以致陽脫陰勝其人正氣衰而本音失精神奪而語句重手足並冷神昏舌短音響模糊與譫語迥不相同此症十無一治不得巳姑與獨參湯或白通湯`　鄭重頻煩不厭復一樣逢人講話多不曾說南又道北設使讝語鄭大半屬無稽是則名為妄虛實皆有之若夫似睡非睡間隱隱約約如交談此為獨語未全亂各從脈症細詳參</p>

<h2>辨面目赤第二十七</h2>
<p>面目赤有三須從脈症參陽氣鬱於表辛涼可散焉裡熱薰於上白虎及黃連無根火外浮盯是內真寒八味生脈煎冷飲假對假兮古所傳</p>

<h2>辨下利第二十八</h2>
<p>下清穀者為虛寒下清水者為實熱惟在膿血稀溏和汁沫此三件中細詳別假如作嘔不食兮腹痛喜按心恍惚而煩兮或動悸與頭眩燥而不欲飲兮頭眩耳鳴而口淡後重逼迫兮既解而仍不減脈弦數而虛大兮皆虛寒之外現苟脈症之反是兮即實熱之證驗</p>

<h2>辨厥第二十九</h2>
<p>手足冷時為四逆厥才其冷過肘膝仲景傷寒俱禁汗無論陽厥與陰厥陽厥是傳經病自三陽迸入陰熱極必兼勝化行還有始熱終寒因藥誤也能轉入陰寒路執定傳經亦是錯陰厥是直中喻氏中寒論當誦寒邪斬關直入來急救直陰休夢夢還怕熱邪深入血頓然厥冷身無熱君不見吞痧樣子忌熱湯不比中寒一例說總之脈症要詳參莖草拈來生殺間陰厥譫渴陰吐涎陰者身輕陰者踡復看其人唇爪甲青紫為熱青黑寒又有痰厥食厥和屍厥病久陰陽二氣虛亦厥各等各樣在淮繩步步須求脈症合</p>

<h2>辨腹痛第三十</h2>
<p>腹痛是虛喜揉按虛者必寒病涉陰脈遲緩兮或虛大諸多虛象察其因理中桂附可施行熱者面黃澤加以長滑脈宜用黃連苦清熱少佐姜萸亦相得`治脾寒泄瀉腹痛仿仲景溫下之法先去其滯而後調補勿畏虛以養病`　更有欲嘔不嘔腹痛多寒熱其如錯雜何黃連湯內乾薑桂好共參甘兩下和食痛應消食`凡治傷寒須按其腹痛與不痛硬與不硬若腹中痛與硬者此燥屎也臍下硬而痛者此燥屎與蓄血也臍下築築然痛上衝於心者此奔豚氣也腹中氣響下趨者欲作瀉也燥也燥屎者小便不利而臍下如疙瘩狀蓄血者小便利而臍下如懷孕狀`　難在虛寒兼仿積學士溫脾法可宗`許學士有溫脾湯見本事方`　`許叔微溫脾湯乾薑肉桂心熟附子炙甘草枳實厚朴大黃`　化為煎法尤慰貼`有虛寒之人患腹痛服溫補藥而相安時止時作痛仍不解甚則清水或白沫此虛中有實或先有宿食在腸不曾去或病中腸胃虛不能運化所食之物停於腸中即一二塊宿糞亦能作楚宜用溫補藥煎好去渣人大黃一錢不甚虛者可加一錢五分滾四五沸服之宿食自下正氣不傷而病隨愈此屢試屢驗之妙法也`　蟲痛面黃吐涎沫食酸即安甜即劇虛實寒熱要分曉殺蟲方中求配合氣痛因郁惱心運脘與兩病久人必虛滋補兼疏郁痛不可近者按之濡軟為蓄血不比硬滿為熱結重則桃仁承氣湯輕者宣通微下奪別有吞痧現濕熱薰蒸邪變幻急刺委中出血良磨服玉樞丹亦善最怕是三陰寒症認為痧不飲溫湯飲冷茶亂進丹丸並放刮臨危空自悔前差</p>

<h2>辨脈脫第三十一</h2>
<p>六脈俱脫者大命垂危矣`神昏脈脫者死神清脈脫者亦者`　通脈四逆急服之`仲景四逆湯中姜附草三陰厥逆太陽沉或益蔥姜參芍桔通陰復脈力能任`　還怕脈因暴出死但得脈來微續生更需附子四五枚人參小半周時服盡休間斷隨進米粥始回春參力偶不繼前功必盡棄平時無學力到此滋疑懼每見虛寒之極服溫補躁亂不寧`換陽也`　嘔且吐此為藥力尚未全切莫心疑換別路大約三陰病症露危劇急則六日三日緩則行期十二日幸而君火未全衰反見舌乾等症出更須姜附助其陽漸得陰回舌生液`景岳六味回陰飲又增地歸姜附草人參諸虛則甚陰陽脫此劑扶危力可任四味回陽用理中以術易附力加雄元虛虛脫垂危頃溫服徐徐定有功`　若見舌乾投涼劑壞`切戒切戒`　乃百年人壽事起手果然認行真斷不朝三與暮四君不見景岳全書用法精十補一清巧相濟又不見嘉言寓意重叮寧陰症轉陰必自愈濟困扶顛道在斯一有遊移去更有虛寒服藥來溫補不安涼適意兩寒相得從其類正氣敗壞決不治至於實熱失汗下脈伏似脫君休怕大承十棗用即安神氣分明現真假須知實熱治可緩涼瀉一投撥便轉不比虛寒救濟難仁術全馮思與辨</p>

<h2>司天在泉歌</h2>
<p>子午少陰君火天陰明燥金應在泉丑未太陰太陰治寅審少陰厥聊卯酉劫與子午倒辰戍巳亥亦皆然每歲天泉四間氣上下分統各半年卯酉與子午倒　辰戍與丑未倒　巳亥與寅申倒</p>
<p>子午年`少陰君火司天陽明燥金在泉`　丑未年`太陰濕土司天太陰寒水在泉`　寅申年`少陰相火司天厥陰風木在泉`　卯酉年`陽明燥金司天少陰君火在泉`　辰戍年`太陽寒水司天太陰土在泉`　巳亥`厥陰風木司天少陰相火在泉`</p>

<h1>續集</h1>

<h2>看病須必先熾病</h2>
<p>凡看傷寒至要看各經中死證脈親須一一理會過免致臨病疑惑但見死證便以脈參之如果有疑切莫下藥雖至親央浼亦莫亂治倘有挫失咎將歸已</p>
<p>凡看傷寒初學後生須要治其病之可曉者缺其不可曉者胸中證不明白有一毫疑惑不可強治故君子不強其所不能若不能若不量力私親故或見利而動輕易玩弄新人命如草芥非君子之用心也謹而敬慎母怠母忽初得傷寒一二日頭痛惡寒皆除便覺胸中連臍注悶疼痛脈沉有力坐臥不安上氣喘促不候他證便可下藥若頭項強痛惡寒發熱每日如此不以日數多少尚在太陽經止宜發汗要隨在其所見之表時而治之不拘於日數也若煩渴欲飲水由內水消竭欲得外水自救耳大渴欲飲一升止與一半常今不足不可過飲若恣飲過量則為水結之證射於肺為喘為欬留為噎為噦溢於脾為腫蓄於下焦為癃皆飲水之過也</p>
<p>病若經十餘日以上以有下證者止宜大柴胡湯恐承氣太峻蓋傷寒過經則正氣多傷故也</p>
<p>病七八日未得汗大便閉發黃生斑譫語而渴越脾桃仁湯主之</p>
<p>病八九日已汗下脈尚洪數兩目如火五心煩熱狂葉欲走三黃石膏湯主之病五六日但頭汗出身無汗際勁而還小便自利渴飲水漿此於血證也看上中下分虛實而治之犀角地黃湯治上桃仁承氣湯治中抵當湯當丸治下病六七日別無刑剋證假忽然冒昧不知人事六脈俱靜或至無脈此欲汗忽攻之如久旱將雨六合陰晦雨後蔗物皆蘇換陽這吉候也</p>
<p>夫今人治傷寒一二日間不問屬虛屬實便用桂枝之類以類以汗之三五日後不問在表在裡便用承氣湯之類一之多致內外俱虛諸變蜂起大抵病人虛實表裡不同所以邪之傳變有異豈可以日數為淮為蓋有即傳者有傳一二經而止者有始終只在一經者不必拘始太陽終厥陰也</p>

<h2>陰證</h2>
<p>初病無熱便四肢厥冷或胸腹中滿或嘔吐腹滿痛下利脈細無力此自陰證受寒即真陰證非從陰經傳來便宜溫之不宜少緩經云發熱惡寒者發於陽也無熱惡者發於陰也治宜四逆湯凡腹痛悉是陰證只有微甚不同治難一概腹痛不大便桂枝芍藥湯腹痛甚桂枝大黃湯若自利腹痛小便清白便當溫理中四逆看微甚用輕者五積散重者四逆湯無脈者通脈四逆湯使陰退而陽復也</p>
<p>陰毒病手足指甲皆青脈沉細而急者四逆湯無脈者通脈四逆湯陰毒甘草沁臍中蔥熨氣海關元著艾可二三百壯仍用溫和補氣之藥通內外以復陽氣若俱不效死證也</p>
<p>凡看傷寒惟陰證最難識自然陰證人皆可曉及至反常則不能曉矣如身不發熱手足厥冷好靜默不渴泄痢腹痛脈沉細人共知為陰證能至於發熱面赤煩躁不安揭去衣被飲冷脈大人皆不識認作陽證誤投寒藥而死者多矣必須憑脈下藥至為切當不問浮沉大小但指下無力按至筋骨全然無力必有伏陰不可與涼劑急與五積散一服通解表時之寒隨手而愈若內有沉寒之甚須用姜附以溫之秘之勿匯脈雖洪大按無力者重按全無便是陰證凡治傷寒服藥不效斑爛皮膚手足皮俱脫身如塗朱眼如火燥渴欲死脈洪大而有力不知人宜三黃石膏湯主之</p>
<p>凡看傷寒須問病人有何疼痛處所苦所欲欲飲食大便並服過何藥問有吐蛔者雖有大熱忌下涼藥犯之必死蓋胃中有寒則蛔上入膈大凶之兆急用炮姜理中湯加烏梅二個煎服蛔安卻以小柴胡湯退熱蓋蛔性聞酸則靜見苦則安故也</p>
<p>凡看傷寒有口沃白沫或唾多或流冷涎俱是有寒吳茱萸湯理中真武湯之類看輕重用切忌涼藥雜病亦然或用甘草溫補無氣四君子湯加附子片血虛用仲景八味丸</p>

<h2>傷暑</h2>
<p>傷寒與傷寒俱有熱若作傷寒治則大誤蓋寒傷營熱傷氣傷寒則外惡寒而脈浮緊傷暑則不惡寒而脈虛此為異耳經云脈盛身熱得之傷寒脈虛身熱得之傷暑治宜小柴胡湯柴湯柴胡宜酌用渴加知母石膏或人參白虎湯天久淫雨濕今大行蒼朮白虎湯若元氣素弱而傷之重者清暑益氣湯治之</p>

<h2>急下急溫</h2>
<p>凡言急下急溫病勢已迫將有變也非若他病尚可少緩如少陰屬腎水主口燥咽乾而渴乃熱邪內熾腎水將絕故當急下以救將絕之水如腹脹不大便土勝水也亦當急下陽明屬土汗多熱盛急下以存津液腹滿痛為土實急當下之熱病目不明熱不巳者死目睛不明腎水巳竭不能照物則已危矣急須下之少陰急溫有二證內寒已甚陽和之氣欲絕急宜溫之無疑也</p>
<p>少陰病自利純青色心下必痛口燥咽乾急下之大承氣湯</p>
<p>少陰病六七日腹脹不大便急下之大承氣湯</p>
<p>陽明病發熱汗多胃汁乾急下之大承氣湯　汗出不解腹滿痛急下之大承氣湯</p>
<p>少陰病脈沉微急溫之四逆湯</p>
<p>少陰病膈上有寒飲乾嘔不可吐急溫之四逆湯</p>

<h2>生死脈候</h2>
<p>陽證發熱不退見陰脈者死若得汗熱退見陰脈者瘥陰陽諸證脈平吉傷寒下利厥逆煩躁不得臥者死</p>
<p>傷寒咳逆上氣脈散者死形損故也</p>
<p>唇物反青四肢熱習習汗出肝先絕也</p>
<p>陽反獨留體如煙薰搖頭直視心先絕也</p>
<p>環口黧黑汗發黃脾先絕也</p>
<p>脈浮而滑身汗如油喘而不休水漿不入肌膚不仁乍靜乍喘汗出發潤肺先絕也</p>
<p>溲便遺失腎先絕也</p>
<p>脈三部緊盛大汗出不解者死</p>
<p>陰陽俱虛熱不止者也</p>
<p>身熱氣粗見陽脈而躁者死</p>
<p>汗出微熱不解未可言死若脈如轉索即死</p>
<p>譫語微熱脈浮大手足溫欲汗出但汗暴出者死</p>
<p>熱病七八日脈不軟不散者當音啞不言三四日汗不出者死</p>
<p>溫病三四日以下不得汗脈不疾者生脈細小難得者死</p>
<p>溫病下痢腹中痛甚者死不治</p>
<p>溫病汗不至足者死</p>
<p>溫病二三日身體熱腹滿頭痛飲食如故脈直而疾者死四五日頭痛腹滿而吐脈來細僵者死八九日頭不痛目不赤色不變而反下利脈來□□按之不彈手或時大心下堅者死不堅硬者生</p>
<p>熱病七八日其脈微細小溲不利加暴口燥舌焦乾黑者死</p>

<h2>厥分寒熱辨</h2>
<p>或曰人之手足乃胃土之末凡脾胃有熱手足必熱脾胃有寒手足必冷理之常也惟傷寒有厥深熱亦深厥微熱之論何耶曰胃寒手足冷胃熱手足熱固巳若夫極則變不可以常道拘也蓋亢則害承乃制火氣亢極反見化水如金銀等烈火爍烊與水無異陰陽反覆病之逆從未可以常理論也凡經言厥逆厥冷手足寒冷等語皆變交耳不可以論輕重若言四肢則有異亦未可純為寒證若厥冷直至臂脛以土則為真寒無疑急用姜附等藥溫之少緩則難療謂其上過手肘下過足膝非內有真寒達於四肢而何然更當憑脈並所見之證參之庶乎其無誤也凡看傷寒不可以厥逆便斷為寒必須以兼證參之方知端的如手厥逆兼以復滿泄利清白小便亦清口不渴惡寒戰慄面如刀刮皆寒證也若腹滿後重泄利稠黏小便亦澀渴而好飲皆熱證也宜詳審之</p>

<h2>結胸解</h2>
<p>結胸之證嘗見世俗不問曾下與否但見心胸滿悶便呼結胸而與桔梗湯治之蓋本朱奉議之說也有頻頻與之反成真結胸者殊不知結胸乃下早而成未經下者非結胸也乃表邪傳至胸中未入於腑證雖滿悶尚為在表正屬少陽部分只宜小柴胡加枳殼以治如未效則本方對小陷胸湯一服豁然其效如神但秘之不與俗人言耳若因下之而成者方用陷胸湯凡丸分淺深而治之不宜太峻蓋上焦乃清道至高之分若過卜則傷元氣陷胸湯丸宜從緩而治這嘗讀仲景傷寒論結胸條之病發於陽而反下之熱入因作結胸病發於陰而反下之因作痞所以成結胸者以下早故也成氏註釋曰發熱惡寒者發於陽也無熱惡寒者發於陰也再三熟玩不能不致疑其間蓋無熱惡寒者寒邪直中陰經真陰證也非陽經傳至陰經之病若誤下之不死即巳危矣豈可以瀉心湯熱相參之藥治之而愈乎豈反輕如結胸乎詳此恐言當衛陰陽也風屬陽陽邪傷衛頭痛發熱微盜汗出反惡寒者當服桂枝湯止汗散邪醫者不達而不之衛氣重傷胸中結硬經又云結胸脈浮大者不可下下之即死結胸證悉具而煩躁者亦死蓋衛出上焦清道受傷不重也故也用陷湯峻利之藥下之寒者陰陰邪傷營當以麻黃髮表誤下之而成痞滿者宜瀉以理痞蓋營出中焦黃連能瀉心下之痞邪陷於膈不犯清道則元氣不傷故輕於結胸耳若陰經自中之寒以瀉心理之而可愈吾不信也</p>

<h2>傷寒合病並病論</h2>
<p>趙嗣真曰吾嘗疑合病並病之難明也久矣因始釋之合病者二陽經或三陽經同受病受病病之不傳者也並病者一陽先病又過一經病之傳者也且如太陽陽明並病一證若並而未盡是傳未過尚有表證仲景所謂太陽未罷面色赤陽氣費怫鬱在表不得越煩躁短氣是也又當汗之麻黃湯桂枝各半湯若並之已盡是傳過仲景所謂太陽證罷潮熱手足汗出大便硬而有譫語者是也法當下之以承氣湯是知傳則入腑不傳則不人腑所以仲景論太陽陽明合病止出三證如前論太陽明明並病則病則言其有傳變如此三陽互相合病皆自下利仲景太陽陽明合病主以黃芩湯少陽陽明合病主以承氣湯至於太陽少陽並病其證頭痛強痛眩冒如結胸心下痞便當刺大椎肺輸肝輸不可汗下太陽陽明並病已見上論但三陽合病仲景無北景強惡寒語句雖別有口燥渴心煩背微惡寒者乃屬太陽證而非三陽合病也三陽若與三陰合病即是兩感所以三陰無合病例也</p>

<h2>傷寒別名</h2>
<p>語無倫者曰譫語實則譫語也外語大便秘小便赤</p>
<p>聲重曰鄭聲虛則鄭聲外語大小便利而手足冷也</p>
<p>下泄曰轉矢氣</p>
<p>大便堅小便利曰脾約</p>
<p>大便如常曰清便自調`或云自可`　</p>
<p>水穀不化曰下利清穀</p>
<p>傷寒十三日曰過經</p>
<p>陰病發躁曰陰躁屬少陰</p>
<p>手足逆冷曰厥`在陰厥陽厥二證`　</p>
<p>手足指頭微冷曰清`屬二陰`　</p>
<p>肌膚冷或下利而發躁無時暫安曰臟厥</p>
<p>兩手無脈曰雙伏一手無脈曰單伏</p>
<p>男子病新瘥而婦人與之交陰腫小腹絞痛者曰陽易女子病新瘥而男子與　</p>
<p>之交裡急腰胯連腹內痛者曰陰易</p>
<p>冬應寒而反溫人暴感之而病者曰冬溫</p>
<p>非時暴寒伏於少陰之經咽痛下利曰腎傷寒</p>
<p>傷寒病二月至夏方發曰晚發</p>
<p>發汗後身猶灼熱自汗曰風溫</p>
<p>中暑曰中暍</p>
<p>感不時之氣而病老幼皆相似者謂之天行`即瘟疫也`　</p>
<p>妄發濕溫汗者曰重暍`重暍者不治`　</p>
<p>汗後不為汗衰謂之陰陽交死證也　熱煩身躁太陰寸口脈兩沖尚躁盛是陰陽交死得汗脈靜者生</p>
<p>病瘥後發熱曰遺熱</p>
<p>傷寒瘥後勞曰勞復</p>
<p>傷寒瘥　後食肉再病曰食復</p>
<p>自亂無神氣曰無精</p>
<p>吐利並作曰霍亂</p>
<p>鼻出血曰衄</p>
<p>熱病脈躁盛不得汗者曰陽極死證</p>
<p>陰獨盛而陽暴絕曰陰毒</p>
<p>陽獨盛而陰暴絕曰陽毒</p>
<p>咳逆曰噦</p>
<p>乾嘔曰啘</p>
<p>陽明與少陰合病下利脈長大而弦者曰負死證也</p>
<p>大便堅硬曰鞕溏曰鴨澹</p>
<p>協欲飲水水入即吐曰水逆</p>
<p>心振寒而動曰悸`即怔忡之別名也`　</p>
<p>心中若有所失曰懊憹</p>
<p>強發少陰汗則動血或出口鼻或出耳目謂之下厥上竭不治</p>
<p>身振搖而動曰肉瞤</p>
<p>臍下有動氣曰奔豚</p>
<p>病在上吐之曰湧病在下泄之曰利</p>
<p>血曰營</p>
<p>氣曰衛</p>
<p>汗孔曰元府`即腠理也`　</p>
<p>手足搐搦曰瘛瘲</p>
<p>二陽俱病曰合病</p>
<p>先二陽俱病曰兩感`又曰雙傳`　</p>
<p>四肢病曰未疾</p>
<p>厥而下利當不能食反能食者曰除中不治</p>
<p>目中不明瞭曰目中不了了`一曰病瘥`　</p>
<p>皮膚頑而不知有無者曰不仁</p>
<p>傷寒陽病下之早即為結胸按之即心下即心下痛為小結胸不按自痛連腹堅硬曰大結胸若飲水過多停結在胸肋間無大熱而頭微汗出者曰水結胸煩躁多而有結胸證曰熱實結胸無熱而有結胸證曰寒實結胸傷寒陰病下之早按之不痛胸中氣結曰痞氣傷過傷寒證似結胸飲食如常時時下利而舌上白胎者曰臟結不治傷寒後上唇有瘡蟲食其喉或食其臟早惑</p>
<p>傷寒後下唇有瘡曰食其肛　食其陰曰狐</p>
<p>發熱汗不止曰漏風`亦亡陽之別名也`　大下之後損陰傷血亦謂之亡陽太陽病桂枝症而投麻黃汗出多遂漏不止曰亡陽發狂證有因火劫驚狂謂之火邪其人亦曰亡陽大抵陰病不當有汗若反有汗者亦亡陽也</p>
<p>傷寒發汗吐下溫針後及小柴胡湯證罷病不解曰壞證看犯何逆以法治之柴胡證仍有則不為逆`凡逆有四種或變為溫瘧或變為風溫或為溫毒或為溫疫也`　</p>
<p>熱病不知痛所在不能自收口乾渴甚陰頭有寒者熱在骨髓死不治</p>
<p>熱病在腎今人渴口乾舌焦黃赤書夜欲飲不止腹大而脹尚不歇目無精光死不治</p>
