<header data-type="book">
<h1>邵蘭蓀醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>邵蘭蓀</dd></div>
<div><dt>朝代</dt><dd><data value="清">清</data>末<data value="中華民國">民</data>初</dd></div>
<div><dt>年份</dt><dd><data value="1937">公元1937年</data></dd></div>
</dl>
</header>

<h1>史序</h1>
<p>張仲景著《金匱玉函經》，為萬世醫學之準繩；司馬遷為淳于意立傳，即後世醫案之權輿。但歷代醫案，類多自己編述，殊少遺方於人。其中發明新理，表示心得者，固屬不少。然而誇張虛語，欺誑後學者，亦所難免。蓋完全是功則歸己，過則諉人之心理。一經治愈，即稱驗案，此種自負之通弊，甚無功效之足言。惟葉香岩之醫案，錄自門人之手，細心參玩，精義環生，洵堪稱為臨證之指南焉。</p>
<p>但江浙為濱海之邦，居溫帶之地，溫熱之症，十中可佔八九，傷寒之病，百中只得二三。良由地勢卑下，氣候多溫，以西金肅殺之氣，北風凜冽之威，感之而多傷寒之症者，不同也。所以葉香岩極少傷寒之案，王孟英善用清涼之劑，而當世服其卓識，良有以也。</p>
<p>吾紹先哲有邵蘭蓀先生者，系王馥原先生之高足。其臨證則四診必詳，而處方則率多桴應，所以名噪浙東者，垂四十年。且其診箋，遵喻嘉言之《寓意》，仿葉天士之程式。方上立案，案中擬方。對於病家，既可徵明病象之進退，若逢同道，亦可討論治法之步驟。今不佞與曹炳章先生，兼搜並蓄，共得其方案約計二百餘十則，雖未能窺其全豹，而立法處方，大致楚楚，堪與葉案媲美。惟治傷寒之案，尚付闕如，誠如《醫宗金鑑》所謂大江以南多傷溫之意夫。倘如同志尚有珍藏者，希即續行刊布，俾以嘉惠來茲。今不佞不揣譾陋，略分門類並附管窺之見，以冀高明之教正焉。是為序。</p>
<p><u>民國二十二年十月紹興史久華介生識於右軍祠畔之寓次</u></p>

<h1>凡例</h1>
<p>一、案中病證，有暑邪而兼濕熱食積，有帶下而兼經阻咳嗽等類，病名難以鑑別，只以治法注重何證作為標準，稍分眉目。例如暑邪而兼濕熱，若治法是清熱利濕，即列於濕熱門中，余者仿此。</p>
<p>一、案中有初診之方而無末診者，或有善後善養胃之方而無初診者，恕難一一搜集。只得根據病象治法，略分門類。</p>
<p>一、案中雖則註明病者地址，今仍照原方錄出；內有數方遺失地址者，則以某字代之。</p>
<p>一、此編時病，尚缺傷寒以及火病兩類。傷寒一症。諒以吾紹地居溫帶，真正傷寒極少，兼以此類方案，一時無從購覓，以後遇見，再當續刊。至於火症，從沈堯封先生謂火之微者曰溫，火之甚者曰熱之意，故凡火症，既散見於各症之中，又立溫熱一門，庶幾眉目朗然。</p>
<p>一、每案有效與否，雖則難以確定，但其理之所存，即法之所在，明哲之士，自能意會，編者恕難懸揣，尚希閱者諒之。</p>

<h1>卷一</h1>

<h2>風</h2>
<p>漁莊沈　邇夾風邪，咳嗽尤甚，脈形浮弦，舌滑膩，形寒，左腋刺痛。宜清肺、和絡、疏風。（十一月望）</p>
<p>百部（七分，蒸）　桔梗（錢半）　橘紅（一錢）　金沸草（三錢，包煎）　炙草（八分）　紫菀（錢半）　荊芥（錢半）　絲瓜絡（三錢）　象貝（三錢）　廣鬱金（三錢）　前胡（錢半　引）　枇杷葉（五片，去毛）</p>
<p>兩帖。</p>
<p>介按：凡治風寒咳嗽，必先辛散輕開，宣肺豁痰，俾病從表入者，仍從表出，則肺氣自復清肅之常，而咳嗽自除。此案是風邪於肺，肺氣阻痹而肝絡不和，以致左腋刺痛，脈形浮弦而咳嗽尤甚。治以清肺疏風，兼用旋覆花、絲瓜絡以和絡，恰是咳嗽而患腋痛之對症良劑。</p>
<p>遺風鬱　風邪伏肺，咳嗽久累，已曾失血。脈寸浮滑，音嘶。宜清肺、疏風、化痰。防損。（四月五號癸卯十八日）</p>
<p>紫菀（錢半）　光杏仁（三錢）　栝蔞皮（錢半）　蘇梗（錢半）　橘絡（錢半）　白前（錢半）　川貝（二錢）　佛耳草（三錢）　荊芥（錢半）　杜兜鈴（一錢）　生訶子（錢半）　鮮枇杷葉（三片，去毛）</p>
<p>三帖。</p>
<p>介按：咳嗽由於風寒入肺，肺為嬌臟，一味誤投，即能受害。若用熟地、麥冬、萸肉、五味等滋膩酸斂之品，補住外邪，必至咯血失音，此徐洄溪之言也。今此人因風邪伏肺，而咳嗽日久，甚至失血音嘶，諒以前醫誤投滋膩，或病家誤食滋補，漸致傷風誤補成勞之症。治以清肺疏風之品，乃是根本療法。</p>
<p>遺風龐　咳嗽日久。咽乾音嘶，脈弦，舌微白，頭疼。姑宜清肺、疏風。</p>
<p>桑葉（三錢）　桔梗（錢半）　杜兜鈴（一錢）　絲瓜絡（三錢）　杏仁（三錢）　生甘草（五分）廣橘紅（一錢）　胖大海（三錢）　甘菊（二錢）　川貝（錢半）　白前（錢半）　枇杷葉（三片，去毛）</p>
<p>介按：風邪舍於肺腧，勢必氣逆咳嗽。若能飲食有節，起居有常，而服疏風清肺之劑，則咳嗽自已。諒以病家妄食滋補，而助痰遏風，邪居肺絡，久而釀熱，氣道為痰所壅，則咽乾音嘶。此方從甘桔湯，而加清肺寧絡之品，可謂治病必求其本矣。</p>
<p>衙前施　風邪未清，左脈浮滑，咳逆，舌薄白，頭疼較差。宜止嗽、化痰、疏風。</p>
<p>百部（八分）　紫菀（錢半）　馬兜鈴（一錢）　冬桑葉（三錢）　生甘草（七分）　白前（錢半）橘紅（一錢）　光杏仁（三錢）　桔梗（錢半）　荊芥（錢半）　川貝（錢半引）　枇杷葉（三片，去毛）</p>
<p>四帖。</p>
<p>介按：風邪由皮毛而入，內應於肺，以致頭痛咳嗽，故以清肺降氣，解肌疏風為治。</p>
<p>安昌沈　風邪未盡，脈弦，舌薄白，迎風頭疼，嗆咳不已。宜清肺疏風為主。</p>
<p>紫菀（錢半）　桑葉（三錢）　石決明（六錢）　代赭石（三錢）　川芎（一錢）　川貝（錢半）　廣橘紅（一錢）　杏仁（三錢）　甘菊（二錢）　刺蒺藜（三錢）　白前（錢半）　鮮枇杷葉（三片，去毛）</p>
<p>介按：風邪外侵，日久不解，又以肝膽鬱熱內熾，而肺氣不宣，因致咳嗽不已，迎風頭疼，故治法於清肺疏風之中，佐以平肝降氣之品。</p>
<p>安昌葉　風熱頭脹，脈數，氣輪紅，外寒內熱，心悸。宜清疏為穩。（九月十二日）</p>
<p>冬桑葉（三錢）　木賊草（錢半）　人中黃（八分）　淡竹葉（錢半）　焦山梔（三錢）　夏枯草（二錢）　甘菊（二錢）　蜜銀花（三錢）　蕤仁（錢半）　生石決明（六錢）　光杏仁（三錢）</p>
<p>清煎二帖。</p>
<p>又　風熱未清，脈小數，不時汗出，厥陽上越則熱，仍遵前法加減為妥。（九月十七日）</p>
<p>冬桑葉（三錢）　生牡蠣（四錢）　青葙子（三錢）　穭豆皮（三錢）　甘菊（二錢）　丹皮（三錢）　刺蒺藜（三錢）　女貞子（錢半）　茯神（四錢）　焦梔子（三錢）　蕤仁（一錢）</p>
<p>清煎三帖。</p>
<p>又　舌微黃，脈弦細數，午後寒熱不清，姑宜清少陽為主。（九月二十二日）</p>
<p>青蒿（錢半）　遍釵斛（三錢）　淡竹葉（錢半）　女貞子（錢半）　炙鱉甲（三錢）　蕤仁（一錢）　刺蒺藜（三錢）　通草（錢半）　丹皮（二錢）　生石決明（五錢）　冬瓜子（三錢）</p>
<p>清煎四帖。</p>
<p>介按：此症外因感冒風熱，內因肝膽鬱熱。第一方清熱疏風；次方因厥陽上越，不時汗出，參用女貞子、穭豆皮，加減恰好；第三方，因此時外邪已去，少陽之鬱熱未淨，以致午後寒熱，治以清少陽，平肝熱。方法亦佳。</p>
<p>某　帶下腰疼不減，脈浮虛，夾風邪，嗆咳，癸澀，牙縫出血。宜清肺疏風為主。（二月二十九日）</p>
<p>霜桑葉（三錢）　川貝母（錢半）　杜仲（三錢）　烏元參（三錢）　焦梔子（三錢）　蘇梗（錢半）　川斷（二錢）　粉丹皮（二錢）　光杏仁（三錢）　生牡蠣（四錢）　絲瓜絡（三錢　引加）　竹肉（一丸）</p>
<p>介按：帶脈不固，腎液未充，是以帶下腰疼，茲以更感風熱之邪，犯及肺胃，以致咳嗆而牙縫出血。此方既清肺胃之熱，復補腎液之虛，乃是欲要調經先須去病之意。</p>

<h2>暑</h2>
<p>遺風王　暑風濕熱，寒熱交作，脈濡，舌滑微黃，脘悶欲嘔。宜和中祛邪。</p>
<p>青皮（八分）　桂枝（五分）　仙半夏（錢半）　廣藿香（二錢）　厚朴（一錢）　炒知母（錢半）酒炒條芩（二錢）　防己（錢半）　大腹皮（三錢）　原滑石（四錢）　焦六曲（四錢）</p>
<p>清煎二帖：</p>
<p>介按：暑挾濕邪，入於膜原，故寒熱脘悶嘔惡。治以辛香溫化之品，開達膜原之邪，確是對症療法。</p>
<p>阪里汪　暑邪寒熱，脈弦數，頭疼脘悶，溲數。宜和中清邪。（七月三號丙午二十九日）</p>
<p>青蒿子（錢半）　藿香（三錢）　佩蘭（錢半）　青皮（八分）　炒知母（錢半）　白芷（八分）　滑石（四錢）　威靈仙（錢半）　仙半夏（錢半）　大豆卷（三錢）　蔻殼（錢半）　（引）荷葉（一角）</p>
<p>二帖。</p>
<p>又清解已效，脈虛細，寒熱交作，午後稍瘥，舌滑白根微黃，便利。宜清暑和中。（七月六號丙午初二日）</p>
<p>藿香梗（二錢）　仙半夏（錢半）　銀花（錢半）　連翹（三錢）　滑石（四錢）　黃芩（錢半）　赤苓（四錢）　大豆卷（三錢）　蔻仁（八分）　扁豆衣（三錢）　通草（錢半）　（引）荷葉（一角）</p>
<p>二帖。</p>
<p>介按：此與前案大同小異，而處方亦是開達膜原，但濕熱較輕，故初則頭痛而用祛風之品，繼則寒熱，至午後少瘥，而仍以清暑為主。</p>
<p>遺風龐　暑風夾濕，寒熱如瘧，渴飲，溲數，脈濡右大，舌白，中心嫩黃。宜清解，防重。（八月十一號丁未二十九日）</p>
<p>淡竹葉（錢半）　香薷（七分）　蟬衣（錢半）　牛蒡子（三錢）　連翹（三錢）　光杏仁（三錢）六一散（四錢，包煎）　通草（錢半）　薄荷（五分）　天花粉（三錢）　銀花（二錢）　（引）鮮荷葉（一角）</p>
<p>二帖。</p>
<p>又　寒熱未除，脈弦濡，舌黃滑，腹中濯濯。姑宜清暑和中。（八月十五號戊申初三日）</p>
<p>廣藿香（二錢）　青蒿子（錢半）　炒青皮（八分）　炒枳殼（錢半）　焦山梔（三錢）　連翹（三錢）　山楂（三錢）　原滑石（四錢）　省頭草（三錢）　條芩（錢半）　通草（錢半）　（引）鮮荷葉（一角）</p>
<p>介按：葉香岩曰。暑邪必挾濕，狀如外感風寒，忌用柴、葛、羌、防。如肌表熱無汗，辛涼輕劑無誤。香薷辛溫氣升，熱伏易吐。佐苦降如杏仁、黃連、黃芩，則不吐。宣通上焦，如杏仁、連翹、薄荷、竹葉，暑熱深入，伏熱煩渴，白虎湯、六一散。今此人寒熱如瘧，是屬暑而挾濕之候。初方悉宗葉氏之意，次因寒熱未除，故於清暑之中，又佐清少陽餘熱之味。</p>
<p>阪里汪　暑風傷肺，頭疼發熱，汗微不出，脈右浮濡，身痛，溲數，舌微黃。宜清解，防變重。（五月十九日）</p>
<p>香薷（八分）　桔梗（錢半）　薄荷（錢半）　天花粉（三錢）　連翹（三錢）　象貝（錢半）六一散（四錢）　蔻仁（八分沖）　白芷（八分）　炒知母（錢半）　光杏仁（三錢）</p>
<p>清煎二帖。</p>
<p>介按：暑風先傷氣分，是屬上焦之病。治以辛涼微苦，廓清肺氣為主。</p>
<p>蜀阜馬，暑濕傷氣，脘悶發熱，脈濡，右弦細，舌滑白，溺數，噁心。宜開氣分為治。（八月初四日）</p>
<p>栝蔞皮（三錢）　藿香梗（二錢）　仙半夏（錢半）　炒枳殼（錢半）　川樸（一錢）　省頭草（三錢）　條芩（錢半）　苦丁茶（錢半）　通草（錢半）　蔻殼（錢半）　滑石（四錢）</p>
<p>介按：暑為熏蒸之氣，濕為膩濁之邪，熱處濕中，阻於氣分，日久不解，蔓延中焦。故脘悶嘔惡，發熱溺數。治以芳香止嘔，苦辛開肺。</p>
<p>馬安趙　暑濕傷氣，舌灰黃，汗出發熱，脈虛，右濡，頭目不爽，溲數。宜清熱利濕為治，防重。（七月二十五號丁未十二日）</p>
<p>淡竹葉（錢半）　焦六曲（四錢）　焦梔子（三錢）　藿香（三錢）　連翹（三錢）　赤苓（四錢）條芩（二錢）　光杏仁（三錢）　苦丁茶（錢半）　大豆卷（三錢）　滑石（四錢）　（引）鮮荷葉（一角）</p>
<p>二帖。</p>
<p>介按：肺主皮毛，今以肺氣被郁，則自汗發熱而頭目不爽，脈虛右濡，尤為傷暑挾濕之徵。治以辛涼輕劑清解上焦，兼以滲濕，方法極是</p>
<p>安昌姚　暑濕傷氣，嘔渴身熱，大便自利，脈弦濡數，舌黃滑，腹痛，症非輕藐。宜清熱和中。候正。（七月十八號丁未初五日）</p>
<p>藿梗（二錢）　焦六曲（四錢）　炒黃芩（錢半）　天花粉（三錢）　六一散（四錢，包）　連翹（三錢）　枳殼（錢半）　佩蘭（三錢）　銀花（三錢）　石菖蒲（八分）　大豆卷（三錢）</p>
<p>清煎一帖。</p>
<p>又　清熱和中，自利嘔渴悉瘥，脈濡，右弦數，舌黃滑。身熱已緩，頭暈耳鳴，仍遵前法加減為穩。（七月二十二號丁未初九日）</p>
<p>廣藿香（錢半）　苦丁茶（錢半）　條芩（錢半）　省頭草（三錢）　六一散（四錢）　扁豆衣（二錢）　赤苓（四錢）　通草（錢半）　銀花（三錢）　連翹（三錢）　焦山梔（三錢）</p>
<p>清煎三帖。</p>
<p>介按：暑濕兼穢，由口鼻吸受而傷氣分，漸入膈膜，下滲大腸，以致嘔渴身熱，腹痛自利。故以清熱和中之劑，諸恙悉瘥。次診頭暈耳鳴，是屬肝膽餘熱，上犯清竅，而治法注重上焦濕熱。亦是良方。</p>
<p>西池余　暑濕傷氣，潮熱，溺赤，大便如醬，脈濡細數，舌心焦黃，口甜。宜清利，防變。</p>
<p>晚蠶砂（三錢）　仙半夏（錢半）　光杏仁（三錢）　苦丁茶（錢半）　連翹（二錢）　赤苓（錢半）　大腹皮（三錢）　淡竹葉（錢半）　大豆卷（三錢）　炒黃芩（錢半）　原滑石（四錢）　荷葉（一圈）</p>
<p>二帖。</p>
<p>次診　潮熱已退，脈左濡，右細，舌黃燥，口甜，溲溺赤，大便閉。宜瀉心湯加減，防變。</p>
<p>仙半夏（錢半）　炒黃芩（錢半）　廣鬱金（三錢）　省頭草（三錢）　炒川連（六分）　炒枳實（二錢）　厚朴（一錢）　通草（錢半）　生白芍（錢半）　光杏仁（三錢）　赤苓（三錢）</p>
<p>二帖。</p>
<p>三診　舌轉嫩黃尚膩，脈兩手弦細，口尚甜。系脾癉，胃鈍。宜瀉心湯加減。</p>
<p>仙半夏（錢半）　焦神麯（三錢）　炒穀芽（三錢）　新會皮（錢半）　炒川連（六分）　杏仁（三錢）　赤苓（三錢）　滑石（四錢）　炒枳實（錢半）　蔻殼（錢半）　省頭草（三錢）</p>
<p>清煎三帖。</p>
<p>四診　舌色猶黃，胃氣不振，脈濡，左弦細，便結，心泛。宜養胃清利，最怕變端。</p>
<p>遍金釵（三錢）　栝蔞皮（三錢）　藿梗（二錢）　雞內金（三錢）　省頭草（三錢）　光杏仁（三錢）　穀芽（四錢）　淡竹葉（一錢）　原滑石（四錢）　陳皮（錢半）　晚蠶砂（三錢）</p>
<p>五診　舌色未清，大便稍下，飢不欲食，頃六脈虛細，胃逆噁心。濕熱猶存，仍遵前法加減，不致變端無慮。</p>
<p>遍金釵（三錢）　柏子仁（三錢）　栝蔞皮（三錢）　通草（錢半）　省頭草（三錢）　合歡皮（三錢）　藿梗（二錢）　蕤仁（錢半）　雞內金（三錢）　白茯神（四錢）　炒穀芽（四錢）</p>
<p>介按：暑而兼濕，錮結不解，最為淹纏難愈之症。治療之際，務須辨明暑多與濕多之異，蓋因過用清涼以治暑，則濕愈留戀，過用溫燥以利濕，則化熱劫津。故此案歷經四診，而尚慮變端，實因濕熱膠結，一時難以分化。至於方法，尚屬步驟井然。惟釵斛一味，雖是滋養胃液之妙品，但濕熱尚存，用得太早，須防有戀邪之患。口甘一證，古人名曰脾癉，因五味入口，必藏於胃，賴脾臟為之行其精氣，津液在脾，故令口甘。其人必素食甘美多肥之品，肥則令人內熱，甘則令人中滿，其氣上溢，轉為消渴。內經謂治之以蘭，除陳氣也，後人均以佩蘭治之，但佩蘭之功效，不如建蘭葉之生津止渴，以除胃中陳積蓄熱之氣為愈也。</p>
<p>蜀阜馬　冒暑受風，頭疼發熱，肢戰，脈浮數，右關勁，脘悶氣衝，咽喉如有物阻，舌微黃，根厚，症屬棘手。宜防痙厥，候正。（六月初二日）</p>
<p>銀花（三錢）　連翹（三錢）　橘核（錢半）　射干（錢半）　廣橘紅（一錢）　焦山梔（二錢）　甘菊（二錢）　薄荷（一錢）　炒殭蠶（二錢）　光杏仁（三錢）　竹葉（錢半）　（引）荷葉（一角）</p>
<p>一帖。</p>
<p>介按：暑月受風，先傷氣分，是以頭疼發熱，日久不解，化熱而引動肝風，以致肢戰氣衝。治以清氣分之熱，迨氣分之熱肅清，則肝風自平。</p>
<p>大義汪　稚孩暑風夾濕，脈浮大，舌滑白，汗多發熱，渴飲。恐變驚風，姑宜清熱祛邪。（又月二十四日）</p>
<p>栝蔞根（三錢）　密銀花（二錢）　大豆卷（三錢）　淡竹葉（錢半）　連翹（三錢）　扁豆衣（三錢）　赤苓（四錢）　白蔻仁（八分，沖）　六一散（三錢）　光杏仁（三錢）　枳殼（錢半）</p>
<p>清煎二帖。</p>
<p>介按：稚年純陽之體，感受夏月之風熱與濕，最防化熱劫液，引動肝風而為痙厥，況其汗多發熱渴飲諸端。是屬熱熾顯然。故治法宜清熱達邪。</p>
<p>遺風龐　右耳下腫，夾雜暑濕，便瀉，腹痛，脈弦濡，舌根微黃。姑宜清暑和中。（六月二十四日）</p>
<p>藿香梗（三錢）　大腹皮（三錢）　通草（錢半）　左金丸（八分）　益元散（三錢）　赤苓（三錢）　扁豆衣（三錢）　南木香（六分）　苦丁茶（錢半）　焦山梔（三錢）　新會皮（錢半）</p>
<p>清煎三帖。</p>
<p>介按：暑氣下降，濕濁上騰，人在濕熱蒸騰之中，感受其氣，兼以穢濁夾雜，歸於脾胃而為泄瀉，走於中道則腹痛。治宜清熱開鬱，佐以芳香淡滲。俾穢濁濕邪，由此可以分消。</p>
<p>杭垣施　素患痰飲，新受暑氣夾濕，潮熱，咳嗽氣急，脈濡滑數，舌白，根微黃。姑宜清氣消痰。</p>
<p>栝蔞皮（三錢）　光杏仁（三錢）　廣橘紅（一錢）　赤茯苓（四錢）　川貝（二錢）　連翹（三錢）　扁豆衣（三錢）　白蔻仁（八分）　六一散（三錢，荷包）　淡芩（錢半）　白前（錢半）</p>
<p>清煎三帖。</p>
<p>介按：治痰飲當以溫藥和之，但新受暑邪，先犯氣分。故其治法，先清其暑，兼消痰濕。</p>
<p>遺風徐　暑風熱濕，嗆咳，耳木，脈濡數，舌白，根微黃。神識乍憒，症勢重險。宜防厥閉，候正。（七月二十四日）</p>
<p>石菖蒲（八分）　焦山梔（三錢）　橘紅（一錢）　老式天竺黃（錢半）　遠志（八分）　滑石（四錢）　光杏仁（三錢）　炒黃芩（錢半）　苦丁茶（錢半）　象貝（三錢）　淡竹葉（三錢　引）荷葉（一角）</p>
<p>三帖。</p>
<p>介按：暑熱下逼，濕濁上騰，其邪從口鼻吸受，氣分先阻，而上焦清肅不行，以致嗆咳。但暑而挾濕，系是熏蒸黏膩之邪，最難分解。郁久化熱爍津，遂變神昏耳聾，險象畢露。此種症候，先須認明暑風濕熱，何者為重，分別施治，庶幾奏效。今以暑熱挾痰濕，由肺而漸逼心胞，最防厥閉之候。治以肅肺化痰，滌暑開竅，以解胞絡之危，洵是佳計。</p>
<p>西柱沈　暑風夾濕，嗆咳，面浮，舌紅，根黃，口渴，溺多，素患脾泄。宜清暑消痰為法，防重。（七月二十二日）</p>
<p>烏元參（三錢）　橘紅（一錢）　天花粉（三錢）　石蓮子（三錢）　益元散（四錢）　扁豆衣（三錢）　茯苓（四錢）　省頭草（三錢）　銀花（二錢）　川貝（錢半）　淡竹葉（三錢）</p>
<p>清煎三帖。</p>
<p>介按：暑濕挾痰，留戀上焦，濕痰阻氣，氣不化津，則口渴而舌紅根黃。但素患脾泄之人，尤防濕熱橫滲而化浮腫，治以清熱消痰，兼用扁豆衣、石蓮子、茯苓等之扶脾滲濕，是標本兼顧之方。</p>
<p>安昌李　暑風夾濕，咳嗽吐血，脈寸大，舌白，根微黃，潮熱。宜防瘵。（六月十二日）</p>
<p>栝蔞皮（錢半）　淡竹葉（錢半）　茜根（二錢）　小薊草（三錢）　川貝（三錢）　扁豆衣（三錢）　焦山梔（三錢）　銀花（三錢）　六一散（四錢）　光杏仁（三錢）　白前（錢半）　荷花露（二兩沖引）　茅草根（一兩）　三貼。</p>
<p>介按：此是暑熱爍肺，復燃陽絡，以致絡血上溢。治以滌暑保肺，清絡止血。較諸葉香岩治五姓一方，尤為敏捷。</p>
<p>某婦　伏暑嘔渴發熱，脈寸滑數，沖氣撞脘，溲數。癸水趲遲，慎恐變端。宜瀉心湯加減，候正。（十月十一號九月初二日）</p>
<p>炒川連（八分）　枳實（錢半）　省頭草（三錢）　原滑石（四錢）　仙半夏（錢半）　生白芍（三錢）　廣鬱金（三錢）　蔻殼（錢半）　酒炒黃芩（錢半）　光杏仁（三錢）　橘白（一錢）</p>
<p>清煎二帖。</p>
<p>介按：暑熱伏於心膈之間，治以芩、連、半夏，仿瀉心湯之意而泄其熱，又佐杏仁、蔻殼以止其嘔。惟沖氣撞脘，尚少鎮沖之品，而癸水趲遲，系是血虛之候。此方先清其暑，治法最佳。待暑解之後，再行調經補血，自無內外夾雜之虞。</p>
<p>安昌余　伏暑秋髮，始起寒熱，脈濡細，舌微白，底紅，潮熱，頭脹，肢楚，大便不爽。姑宜清利。</p>
<p>晚蠶砂（四錢包）　青皮（八分）　苦丁茶（三錢）　川石斛（三錢）　光杏仁（三錢）　焦山梔（三錢）　廣鬱金（三錢）　新會皮（錢半）　六一散（三錢，包）　淡竹葉（三錢）　天花粉（三錢）</p>
<p>介按：伏暑內發，新涼外束，故始起寒熱，舌苔微白。清熱利濕，方極穩妥，在鄙見宜去川斛而加入透達之品，則新邪易退，且免戀濕之患。</p>
<p>安昌顧（建記）　陽明伏暑，舌焦膩，脘悶嘔惡，脈弦細，暮夜煩熱。症屬棘手，宜防外脫內閉，候正。（八月二十四日）</p>
<p>栝蔞子（四錢，杵）　枳實（錢半）　淡竹葉（錢半）　廣鬱金（三錢）　炒川連（八分）　焦梔子（三錢）　赤苓（四錢）　晚蠶砂（四錢）　仙半夏（錢半）　原滑石（四錢）　光杏仁（三錢）</p>
<p>介按：伏暑發自陽明，古人以白虎湯為主方，此人系是濁熱黏膩之邪，由陽明而留戀脘膈。治宗小陷胸湯之意，是屬對症療法。</p>
<p>安昌高　秋暑未清，脈澀滯，氣機不和，神識乍憒，溺後精關不固，舌微白，腹痛，仍遵前法加減治之。（七月二十九日）</p>
<p>廣藿香（二錢）　仙半夏（錢半）　生牡蠣（四錢）　石蓮子（三錢）　省頭草（三錢）　茯苓（四錢）　蔻殼（錢半）　通草（錢半）　川楝子（三錢）　香附（三錢）　左金丸（八分）</p>
<p>清煎三帖。</p>
<p>介按：素患遺精，兼受秋暑，故其治法，於清暑理氣之中，仍佐澀下之品。雖則標本兼顧，尚宜注重新邪。</p>

<h2>濕</h2>
<p>茅蓬陳　濕著經絡，寒熱交作，脈弦濡，舌黃滑，口渴，足跗冷徹骨中。宜宣明桂苓甘露飲加減。（三月二十九日）</p>
<p>白茯苓（四錢）　綿茵陳（二錢）　滑石（四錢）　晚蠶砂（二錢，包）　桂枝（七分）　煅石膏（三錢）　光杏仁（三錢）　秦艽（錢半）　江西術（一錢）　防己（錢半）　栝蔞根（三錢）　澤瀉（三錢）</p>
<p>介按：濕鬱脾胃之陽，脾胃以膜相連，邪伏於此，則寒熱交作。脾主四肢，故足多浮腫。治以桂苓甘露飲，導濕分消而宣通其陽。</p>
<p>某　寒熱不清，脈濡數，舌滑白，咳嗽稍減，濕熱阻隔氣分。宜治手太陰，佐淡滲。（四月十八日）</p>
<p>綿茵陳（三錢）　光杏仁（三錢）　仙半夏（錢半）　炒青皮（八分）　白蔻仁（八分，沖）　茯苓（四錢）　炒條芩（錢半）　川貝（錢半）　滑石（四錢）　廣橘紅（一錢）　大腹皮（三錢）　淡竹茹（一丸）</p>
<p>三帖。</p>
<p>介按：濕熱阻滯氣分，寒熱咳嗽。形同肺瘧，故用半貝丸意，以退寒熱。又以清肅肺氣而滲濕熱。</p>
<p>某　咳逆已除，脈弦，舌白，根微黃，大便溏，溺赤澀。濕熱蘊結。</p>
<p>栝蔞皮（三錢）　原滑石（四錢）　通草（錢半）　蔻殼（錢半）　赤苓（四錢）　廣鬱金（三錢）枳殼（錢半）　光杏仁（三錢）　省頭草（錢半）　新會皮（錢半）　炒穀芽（三錢）</p>
<p>清煎三帖。</p>
<p>介按：濕熱蘊結，脾弱便溏。治法於滲濕之中，參以芳香理氣，則濕易下趨。惟杏仁善泄肺氣，肺氣一降，未免與便溏有礙。</p>
<p>馬安趙　濕熱傷氣，寒熱交作，肢冷，嘔逆，便利，脈沉弱，舌黃滑，兩邊微白，脘悶。宜宣明桂苓甘露飲加減，尤防昏厥之變，候正。（六月十六日）</p>
<p>茯苓（三錢）　澤瀉（三錢）　仙半夏（錢半）　藿香（二錢）　桂枝（八分）　豬苓（錢半）　條芩（三錢）　焦曲（四錢）　蒼朮（錢半）　滑石（四錢）　大豆卷（三錢）</p>
<p>清煎二帖。</p>
<p>介按：濕阻氣分，凝遏清陽，鬱而為熱，治療大忌發散，汗之則變痙厥。今仿桂苓甘露飲意，藉滲濕清熱以通陽，是為正治。</p>
<p>遺風龐　濕熱寒熱。脈弦濡，中痞氣滯，腹痛便滑。姑宜和中利濕。</p>
<p>草果（五分）　生香附（三錢）　仙半夏（錢半）　炒青皮（八分）　川樸（一錢）　赤苓（四錢）炒條芩（錢半）　原滑石（四錢）　大腹皮（三錢）　廣木香（七分）　威靈仙（錢半）</p>
<p>清煎三帖。</p>
<p>介按：脾失健運之職，胃失消化之權，濕熱蘊於膈膜，致寒熱交作，氣機阻滯，腹痛便泄。此方開達膜原，健脾和胃，理氣滲濕。均臻穩妥。</p>
<p>盛陵徐　中焦未和，氣衝脘悶，脈滯澀，濕熱蘊蓄。宜順氣和中。</p>
<p>烏藥（二錢）　綿茵陳（三錢）　生香附（三錢）　枳殼（錢半）　厚朴（一錢）　澤瀉（三錢）　沉香曲（錢半）　玫瑰花（五朵）　生牡蠣（四錢）　雞內金（三錢）　通草（錢半）</p>
<p>清煎四帖。</p>
<p>介按：牡蠣澤瀉散，為治腰以下水氣不行之專方。蓋以澤瀉能啟水中之清氣上行，牡蠣能化下焦之濕濁阻滯。前清葉天士先生善用古方，至用牡蠣澤瀉散，只取此二味，未曾盡用原方。今此案亦宗此意，因其氣衝脘悶，又佐雞金散以理氣，確治濕熱蘊蓄之良劑。</p>
<p>盛陵徐　胃氣稍振，濕猶未淨，舌滑嫩黃，脈濡。腰墜。宜滲利為妥。</p>
<p>赤苓（四錢）　藿梗（二錢）　蔻殼（錢半）　仙半夏（錢半）　省頭草（錢半）　焦梔子（三錢）光杏仁（三錢）　穀芽（四錢）　綿茵陳（三錢）　通草（錢半）　大豆卷（三錢）</p>
<p>清煎三帖。</p>
<p>介按：病後余濕流於下焦，治用辛泄，又佐清熱，以存陽明之液，確有見地。其濕自上中蔓延下焦。故方法仍是開泄上中，源清則流自潔之意。</p>
<p>安昌葉　濕熱未清，脈濡細，舌薄滑，午後背寒乍熱。宜宣明桂苓甘露飲加減治之。</p>
<p>桂枝（五分）　江西術（一錢）　綿茵陳（三錢）　淡竹葉（錢半）　茯苓（四錢）　寒水石（三錢）　原滑石（四錢）　光杏仁（三錢）　澤瀉（三錢）　豬苓（錢半）　釵斛（三錢）</p>
<p>清煎四帖。</p>
<p>介按：濕熱未清，脾陽被遏，甘露飲加減極妙。惟釵斛一味，雖滋胃液，未免有戀濕之患。</p>
<p>漓渚吳　舌微黃，脈細數，背寒肢木，脘中窒痹。此屬濕邪。宜溫膽祛邪。</p>
<p>仙半夏（錢半）　枳實（錢半）　省頭草（三錢）　廣鬱金（三錢）　陳皮（一錢）　焦山梔（三錢）薤白（一錢）　麥冬（三錢）　茯苓（四錢）　淡豆豉（錢半）　光杏仁（三錢）　桑梗（一尺許）</p>
<p>二帖。</p>
<p>介按：濕熱蔓延三焦，氣機阻塞而不流行，津液凝滯而為痰飲，脘中窒痹，良以痰阻氣機，故其治法，於溫膽湯加薤白、杏仁，以通胸中之陽，則背寒肢木自除。參以梔豉，泄其久郁之熱，佐以省頭草，滌其陳腐之氣而醒脾胃。此方從王孟英脫胎而來，深可為法。</p>
<p>遺風李　舌色黃滑，根厚，脈濡細，頭暈肢楚，惡寒微熱，溲數便結。宜甘露飲加減治之。（五月二十三日）</p>
<p>茯苓（四錢）　炒條芩（錢半）　光杏仁（三錢）　棗兒檳榔（三錢）　桂枝（五分）　原滑石（四錢）　防己（錢半）　炒穀芽（四錢）　澤瀉（三錢）　豬苓（錢半）　大豆卷（三錢）</p>
<p>清煎二帖。</p>
<p>介按：脾胃之陽，被濕熱鬱遏而不振。治以清濕熱而扶脾。則諸恙自退。</p>
<p>安昌顧　濕阻肺衛，脈弦，舌微黃，呃逆頻頻，溲溺赤。症屬重險。宜宣化肺氣，候正。（七月十八日）</p>
<p>栝蔞皮（三錢）　通草（錢半）　刀豆子（三錢）　省頭草（三錢）　京川貝（錢半）　廣鬱金（三錢）　赤苓（四錢）　射干（錢半）　廣橘紅（錢半）　光杏仁（三錢）　柿蒂（七個　引）　枇杷葉（去毛，五片）</p>
<p>二帖。</p>
<p>介按：濕阻肺衛，化痰而壅濕膈膜，以致溲赤呃逆。清宣肺氣，治法極是。</p>
<p>遺風金　舌滑微黃，頭脹肢懈，脈濡細，咳逆。此屬濕熱。宜保和丸加減治之。（六月二十二號丙午初八日）</p>
<p>焦六曲（四錢）　山楂（三錢）　綿茵陳（三錢）　廣藿梗（二錢）　連翹（三錢）　赤苓（四錢）光杏仁（三錢）　大豆卷（三錢）　仙半夏（錢半）　省頭草（錢半）　原滑石（四錢）</p>
<p>清煎三帖。</p>
<p>介按：外受之濕，鬱於氣分，則咳逆頭痛，內起之濕，由口腹不慎，而蘊伏中焦，致脾胃失於消化。脾主四肢，今被濕熱阻滯則肢懈。治以消積滲濕，是屬濕熱夾食之候。</p>
<p>漁莊沈　瘧邪已除，脈弦濡，濕熱猶存，舌滑白，屢次衄血。宜清利為穩。（五月十七日）</p>
<p>綿茵陳（三錢）　藿梗（二錢）　大豆卷（三錢）　穀芽（四錢）　焦山梔（三錢）　淡條芩（錢半）　光杏仁（三錢）　通草（錢半）　蔻仁（八分，沖）　原滑石（四錢）　省頭草（錢半）</p>
<p>清煎三帖。</p>
<p>介按：血行清道，從鼻而出，古名曰衄。此症系是陽明濕熱，化火而逼血上溢，故仍以清利濕熱，是屬根本療法。</p>
<p>安昌徐　舌黃滑罩灰，脈弦濡，胃鈍，跗腫溺赤。此屬濕熱。宜越鞠丸法加減治之。（七月十二號丙午二十七日）</p>
<p>焦六曲（四錢）　白芷（八分）　綿茵陳（三錢）　藿梗（二錢）　香附（二錢）　茯苓（四錢）　滑石（四錢）　新會皮（錢半）　焦山梔（三錢）　雞內金（三錢）　炒穀芽（四錢）</p>
<p>清煎三帖。</p>
<p>介按：濕熱蘊伏脾胃，而兼氣鬱食積，以致跗腫溺赤，故以治六郁主方之越鞠丸加減。</p>
<p>遺風胡　濕熱內著，脘悶便結，骨熱，脈澀滯，舌厚嫩黃，足腫冷。宜清利。（六月十五日）</p>
<p>晚蠶砂（三錢）　栝蔞子（三錢）　焦六曲（四錢）　炒枳殼（錢半）　光杏仁（三錢）　赤苓（四錢）　原滑石（四錢）　雞內金（三錢）　仙半夏（錢半）　淡芩（錢半）　大腹皮（三錢）　路路通（七個）</p>
<p>三帖。</p>
<p>介按：舌苔黃厚，脘悶便結，是屬濕熱滯於陽明之證，徒事清熱泄邪，只能散流走之熱，而不能除胃中蘊結之邪。故於清利方中，佐以蠶砂、蔞仁，兼導濕濁之下趨。</p>
<p>遺風徐　舌黃罩灰，身潮熱，脈弦濡，濕熱蘊於經絡，便溏溺赤。姑宜清熱利濕，慎恐變幻。（八月九號丁未二十七日）</p>
<p>炒知母（錢半）　栝蔞皮（三錢）　仙半夏（錢半）　赤苓（四錢）　草果仁（錢半）　炒枳殼（錢半）　條芩（錢半）　通草（錢半）　大腹皮（三錢）　原滑石（四錢）　光杏仁（三錢）</p>
<p>清煎二帖。</p>
<p>介按：濕熱蘊結膜原，膜原為脾胃相聯之處，濕勝則便溏，熱勝則潮熱。案中用草果治太陰之寒，知母除陽明之熱，二味合用，為治濕伏膜原而致寒熱交作之良品。</p>
<p>某　濕熱未罷，脈澀滯，舌厚微黃，足跗酸楚，脘悶。姑宜和中清利。（五月十八日）</p>
<p>晚蠶砂（三錢）　焦六曲（四錢）　綿茵陳（三錢）　藿香梗（二錢）　赤苓（四錢）　厚朴（一錢）　原滑石（四錢）　雞內金（三錢）　防己（錢半）　枳殼（錢半）　香附（三錢）</p>
<p>清煎三帖。</p>
<p>介按：夏季身痛屬濕，宜用木防己、蠶砂，此葉香岩先生之言也。今以治足跗酸楚，洵是對症發藥。其用六曲、雞金，必系夾食。又用厚朴、枳殼，以除脘悶。餘味均是淡滲之品，藉除未罷之濕熱。又藿梗、香附以理氣，氣機轉運，則濕熱自去矣。</p>
<p>濕熱發黃，脈澀滯，舌滑，面跗浮。症屬重極。宜清利，候正。（八月初三日）朱墅田　綿茵陳（三錢）　大豆卷（三錢）　雞內金（三錢）　冬瓜皮（三錢）　赤苓（四錢）　白蔻仁（八分）　新會皮（錢半）　生米仁（四錢）　防己（錢半）　滑石（四錢）　光杏仁（三錢）</p>
<p>清煎三帖。</p>
<p>介按：濕與熱合，瘀郁不解，未能達表通里，勢必蒸發為黃。茲用辛淡泄濕，使內瘀之濕熱下趨，則黃從小便而解。</p>
<p>西莊黃　跌僕傷筋，環跳腫痹作痛，脈濡左勁，舌黃滑，濕熱作瀉。姑宜和絡、清熱、利濕。（八月十九號戊申初七日）</p>
<p>乾地龍（錢半）　百葉煎（二錢）　炒米仁（四錢）　藿梗（二錢）　豨薟草（三錢）　茯苓（四錢）　通草（錢半）　車前（三錢）　大腹皮（三錢）　木瓜（三錢）　新會皮（錢半）　（引）桑枝（一尺許）</p>
<p>三帖。</p>
<p>介按：因跌僕傷筋而濕鬱腫痹，氣窒絡瘀，壅閉不宣，不通而痛，故用地龍、豨薟、桑枝，以宣通脈絡。又因濕勝便泄，而用健脾滲濕之劑，以清熱止瀉。且米仁、木瓜二味，為治濕熱阻滯，以致足筋痠痛之妙品。</p>
<p>遺風龐　舌滑白，脈濡細，脘悶，溲溺赤，汗出津津。宜和中清利。</p>
<p>焦六曲（四錢）　藿香梗（一錢）　炒穀芽（四錢）　新會皮（錢半）　赤苓（三錢）　蔻殼（錢半）　枳殼（錢半）　省頭草（三錢）　川樸（一錢）　通草（錢半）　淡竹葉（錢半）　荷葉（一角）</p>
<p>三帖。</p>
<p>介按：濕濁上干則脘悶，胃熱內蒸則汗出，病在中焦氣分，故開中焦氣分濕熱，兼以和胃為治。</p>

<h2>燥</h2>
<p>盛陵徐　閨女秋燥發熱，脈浮數，咳嗽氣急，舌微黃，渴不多飲，症非輕貌。宜防昏變，候正（九月初四日。）</p>
<p>薄荷（錢半）　桑葉（三錢）　光杏仁（三錢）　象貝（三錢）　連翹（三錢）　蟬衣（錢半）　廣橘紅（一錢）　淡豆豉（三錢）　花粉（三錢）　前胡（錢半）　淡竹葉（三錢）　（引）活水蘆根（一兩）</p>
<p>二帖。</p>
<p>介按：燥有涼燥、溫燥之殊。涼燥治法，宜遵《內經》燥淫所勝，平以苦溫之旨。而此案系是溫燥之症，即《內經》所謂燥化於天，熱反勝之之候。須防化熱劫液。茲從葉氏上燥治氣。辛涼宣上之意，而清燥救肺，俾上焦之燥熱，逐漸清解。</p>
<p>蜀阜張　閨女秋燥發熱，脈滑數，嗆咳痰阻。症非輕貌，姑宜清燥消痰（九月十五日。）</p>
<p>冬桑葉（三錢）　炒知母（錢半）　白前（錢半）　秦艽（錢半）　象貝（三錢）　光杏仁（三錢）甘菊（錢半）　焦山梔（二錢）　前胡（錢半）　廣橘紅（一錢）　老式天竺黃（錢半）　（引）枇杷葉（去毛，三片）</p>
<p>三帖。</p>
<p>介按：此係溫燥化熱，爍液成痰而為嗆咳。最防內合胃熱，引動肝風，驟變痙厥。治以辛涼清解，滋液豁痰，俾痰熱稍蠲，則諸證自痊。</p>
<p>義橋徐　秋感燥化，頭暈而疼，咳逆發熱，脈右浮滑，左微勁，舌黃尖紅。姑宜辛涼清解（七月初四日。）</p>
<p>薄荷（錢半）　冬桑葉（三錢）　銀花（三錢）　淡竹葉（錢半）　連翹（三錢）　甘菊（錢半）　焦梔子（三錢）　象貝（三錢）　桔梗（錢半）　前胡（錢半）　橘紅（一錢）</p>
<p>清煎。二帖。</p>
<p>介按：先哲何廉臣先生曰：六氣之中，惟燥氣難明。蓋燥有涼燥、溫燥、上燥、下燥之分。涼燥者，燥之勝氣也，治以溫潤，杏蘇散主之。溫燥者，燥之復氣也，治以清潤，清燥救肺湯主之。上燥治氣，吳氏桑杏湯主之。下燥治血。滋燥養營湯主之。今此案系是燥之復氣，故治法悉宗葉氏辛涼清宣之意。</p>
<p>大西莊楊　童年咳嗽，已曾失血，脈細右大，舌微黃，身熱火脹，此燥氣內逼。宜防成損（八月十七日）</p>
<p>霜桑葉（二錢）　焦山梔（三錢）　炒知母（錢半）　苦丁茶（錢半）　光杏仁（三錢）　廣鬱金（三錢）　川貝（錢半）　銀花（二錢）　池菊（二錢）　橘絡（錢半）　白前（錢半）</p>
<p>清煎。三帖。</p>
<p>又　童年血後咳嗽較減，頃脈兩手皆弦，舌尖紅，頭暈。宜清燥以育陰（八月二十二日。）</p>
<p>冬桑葉（三錢）　南沙參（三錢）　天冬（三錢）　白前（錢半）　光杏仁（三錢）　川貝（錢半）女貞子（三錢）　胖大海（三錢）　生石決明（六錢）　橘絡（錢半）　黃草　石斛（三錢）</p>
<p>清煎。</p>
<p>介按：時令燥氣，挾肝經之燥火，互相上蒸，沖肺則咳嗆失血，沖腦則頭暈目眩。初診脈細右大，治在氣分，所以咳嗽較減。次則治以清肝肅肺，和胃止血，俾肺氣復肅降之權，則咳暈自止。此後如能再進顧松園之八仙玉液，更為穩妥。又據葉氏《幼科要略》自注云：秋燥一證。氣分先受，治肺為急。若延綿數十日之久，病必入血分，又非輕浮肺藥可治。須審體質證端，古謂治病當活潑潑地，如盤走珠耳。</p>

<h2>溫熱</h2>
<p>遺風漏　風溫發熱咳嗽，氣急不耐，脈弦數，舌厚膩。症勢非輕，宜治防變（元月二十九日。）</p>
<p>姜半夏（三錢）　萊菔子（三錢）　前胡（錢半）　枳殼（錢半）　光杏仁（三錢）　連翹（三錢）焦山梔（三錢）　花粉（三錢）　霜桑葉（三錢）　象貝（三錢）　廣橘紅（一錢）　（引）竹肉（一丸）</p>
<p>二帖。</p>
<p>介按：風溫先傷肺分，肺氣不舒，以致咳嗽氣急，脈數舌膩。治法大忌辛溫汗散，宜與辛涼輕劑，肅降肺氣，清解表邪。姜半夏雖能消痰止咳，尚宜慎用。</p>
<p>安昌徐　溫邪未淨，脈尚大，午後肌熱，舌白滑，嗆咳面浮，大便溏薄。宜養胃、清肺熄邪。</p>
<p>丹參（三錢）　生米仁（四錢）　銀花（錢半）　金沸草（三錢，包煎）　川貝（二錢）　茯苓（三錢）　丹皮（二錢）　通草（錢半）　省頭草（三錢）　桔梗（錢半）　白前（錢半）</p>
<p>清煎。三帖。</p>
<p>介按：溫邪濕熱未淨，上衝於肺，則咳嗽面浮，陰液未復，而濕熱蘊蓄則肌熱便溏，必先清肺熱，則咳嗽自止，滲濕扶脾，則便溏自瘥，佐清營熱，則肌熱亦退。</p>
<p>惟丹參恐是元參之誤。</p>
<p>白馬山李　溫邪上郁，頭目不爽，脈數，舌微黃，身熱肢楚。宜清解為主（二月二十七日。）</p>
<p>淡竹葉（錢半）　苦丁茶（錢半）　滑石（四錢）　炒枳殼（錢半）　焦梔子（二錢）　炒遠志肉（八分）　廣鬱金（三錢）　炒麥芽（三錢）　甘菊（錢半）　石菖蒲（八分）　乾地龍（錢半）</p>
<p>清煎。二帖。</p>
<p>介按：溫病發出之途自少陽，熱病發出之途由陽明，此病由少陽而上郁清竅，則頭目不爽，漸次由陽明而化熱，故身熱肢楚。今以少陽、陽明同治，參用地龍、竹葉，借清胃絡之熱。</p>
<p>遺風龐　溫邪發熱，神識乍清乍憒，脈滑數，口燥，咳逆，便閉。宜防變端，候正（四月十七號三月初二日。）</p>
<p>栝蔞皮（三錢）　石菖蒲（七分）　乾地龍（錢半）　焦梔子（三錢）　廣鬱金（三錢）　連翹（三錢）　枳殼（錢半）　天花粉（錢半）　銀花（錢半）　光杏仁（三錢）　淡竹葉（錢半）</p>
<p>清煎。二帖。</p>
<p>又　大便稍下，熱猶不解，脈滑數，咳逆。宜清上焦為主，不致變端無慮（三月初四日。）</p>
<p>栝蔞皮（三錢）　淡條芩（錢半）　前胡（錢半）　萊菔子（二錢）　焦山梔（三錢）　廣鬱金（三錢）　光杏仁（三錢）　象貝（三錢）　枳殼（錢半）</p>
<p>二帖。</p>
<p>介按：溫邪上受，首先犯肺，傳於陽明，胃熱挾痰而漸逼心胞，致神識乍憒，口燥咳逆而便閉。治以清熱化痰，芳香宣竅。胃熱清降則大便稍下。然肺分之餘熱不清，故咳逆未止，繼方再清上焦氣分，庶無變幻之慮。</p>
<p>漁莊沈（婦）　癸水色尚紫，正夾溫邪，咳嗽尤甚，脈浮大，舌紅，頭疼身熱。邪熱已極營絡，宜清解消痰（杏月十一日。）</p>
<p>天花粉（三錢）　象貝（三錢）　元參（三錢）　旋覆花（三錢，包煎）　連翹（三錢）　甘菊（錢半）　橘紅（一錢）　光杏仁（三錢）　丹參（三錢）　白前（錢半）　銀花（錢半）　（引）枇杷葉（三片，去毛）</p>
<p>三帖。</p>
<p>介按：陰虛內熱則癸水色紫，更感溫邪，上犯於肺，致咳嗽身熱頭疼，而脈象浮大，足氣分熱熾，已屬顯然。但兩熱相併，易入營分，故此方於清肺止咳之中，兼顧營熱為治。</p>
<p>安昌顧　溫熱言譫，脈促數，舌微黃，疹點隱約，咳逆，發熱，肢戰。症屬棘手。宜防痙厥，候正（四月二十四號甲辰初八日。）</p>
<p>玳瑁（一錢）　紫草（一錢）　銀花（三錢）　天花粉（三錢）　連翹（三錢）　蟬衣（一錢）　廣鬱金（三錢，杵）　殭蠶（三錢）　石菖蒲（七分）　象貝（三錢）　老式天竺黃（三錢）　（引）　鮮竹葉（三十片）</p>
<p>一帖。</p>
<p>介按：病由肺衛而逼入營分，劫液動風，以致言譫肢戰。所幸疹現而咳，邪勢外達，然症象已屬熱極，故用玳瑁、紫草涼解營分，餘味開竅豁痰，清熱透邪。洵治溫邪逼入營分之良方。</p>
<p>盛陵龍　濕溫雜受，中焦格拒，脈澀滯，舌厚嫩黃，便溺不利。藉小陷胸湯，防變，候正。（五月三號甲辰十七日。）</p>
<p>杜栝蔞子（錢半）　枳實（一錢）　原滑石（四錢）　炒麥芽（三錢）　姜炒川連（八分）　生楂肉（三錢）　焦梔子（三錢）　光杏仁（三錢）　仙半夏（錢半）　淡竹葉（錢半）　省頭草（三錢）</p>
<p>清煎。二帖。</p>
<p>介按：內濕素盛，更感溫邪，蘊伏中焦，化痰而阻其氣化之流行，故以小陷胸湯加味，藉除中焦之濕熱以化痰。</p>
<p>盛陵徐　濕熱溫邪雜受，寒熱交作，脈濡數，大便自利，舌心灰黃。宜防昏蒙之變。候正。（五月十號甲辰二十四日。）</p>
<p>焦六曲（四錢）　赤苓（四錢）　原滑石（四錢）　銀花（錢半）　連翹（三錢）　大豆卷（三錢）防己（錢半）　石菖蒲（五分）　仙半夏（錢半）　陳皮（錢半）　淡黃芩（錢半）</p>
<p>清煎。二帖。</p>
<p>介按：濕熱凝滯，大便自利，感受溫邪，寒熱交作，最怕濕阻氣機，挾痰而上蒙清竅，變現神識昏憒。此症既不能表，又不能下，故治法以宣竅而清濕熱為首要。</p>
<p>道墟陶　濕溫雜受，煩熱口燥，身發疹斑，神識乍清乍憒，脈數舌黃。清竅失聰，症屬棘手。宜防厥閉，候正。（五月二十三號乙巳初七日。）</p>
<p>焦梔子（三錢）　貫眾（二錢）　銀花（二錢）　牛蒡子（錢半）　淡豆豉（三錢）　蟬衣（錢半）連翹（三錢）　淡竹葉（錢半）　石菖蒲（八分）　天花粉（三錢）　滑石（四錢）　（引）活水蘆根（一兩）</p>
<p>先服牛黃清心丸一粒，一帖。</p>
<p>介按：濕熱相蒸，先阻氣分，津液被爍，未能上升，是以煩熱口燥，日久不解，邪熱無處發泄，漸走營分，則神昏譫語，上蒙清竅，則耳聾無聞。幸喜肺胃之邪，漸從疹斑而透現。然症勢已在險途，故治以芳香通神，淡滲宣竅，俾穢濁濕邪，由此分消。</p>
<p>盛陵蔣　熱入血室，疹斑稍現，舌黃滑，脘悶，大便瀉痢，微熱。勢在重險，宜清解，防厥。（六月二十一號丙午初七日。）</p>
<p>貫眾（二錢）　碧玉散（三錢，荷包）　大豆卷（三錢）　小青草（一錢）　原滑石（四錢）　赤苓（四錢）　連翹（三錢）　通草（錢半）　銀花（三錢）　炒枳殼（錢半）　省頭草（錢半　引）　活水蘆根（一兩）</p>
<p>二帖。</p>
<p>又　血舍已清，瀉痢較差，脈濡數，舌黃，嗆咳，微熱不清，胸前發斑白㾦。宜清解為主。（六月念四號丙午初十日）。</p>
<p>淡竹葉（錢半）　銀花（三錢）　省頭草（錢半）　桔梗（錢半）　京川貝（二錢）　赤苓（四錢）廣鬱金（三錢）　大豆卷（三錢）　碧玉散（四錢，荷包）　小青草（一錢）　通草（錢半）</p>
<p>清煎二帖。</p>
<p>又　瀉痢已瘥，身熱亦退，脈濡細，脘腹脹悶，咳逆宜治，防變（七月四號丙午二十日。）</p>
<p>桔梗（錢半）　枳殼（錢半）　新會皮（錢半）　白前（錢半）　川貝（二錢）　赤苓（四錢）　廣鬱金（三錢）　蔻殼（錢半）　佩蘭（錢半）　通草（錢半）　穀芽（四錢）　（引）荷葉（一角）</p>
<p>三帖。</p>
<p>介按：伏熱由陽明而陷入血室，血下則陽熱上浮，而神識不清，語言譫妄。張仲景屢有刺期門之訓，因期門是肝經之募，瀉其熱而通其經，則汗得遍身而蓄熱外泄，下血自止而譫語自已。此案治法，雖不宗小柴胡湯之例，而悉遵仲景無犯胃氣及上二焦之戒，仍以清熱利竅，俾鬱熱外泄而疹斑透現，確是良法。但肝經之熱，恐難速解，故防劫液動風而變痙厥。幸其鬱熱漸由大腸而自尋出路，治以清解而斑㾦更現，瀉痢較差，身熱亦退，初二兩方之著力，顯然可見。惟初方既用碧玉散，則滑石可以去之。第三方若再注重清解，庶免久咳之累。</p>
<p>西莊易　血舍已清，脈數，氣口滑，嗆咳頭暈，身熱未退，舌黃尖紅，腰疼肢楚。還防變幻，候正。（五月二十號乙巳初四日。）</p>
<p>栝蔞根（三錢）　冬桑葉（三錢）　象貝（三錢）　乾地龍（錢半）　連翹（三錢）　甘菊（錢半）廣橘紅（一錢）　光杏仁（三錢）　前胡（錢半）　貫眾（二錢）　老式天竺黃（錢半）　（引）竹肉（一丸）</p>
<p>二帖。</p>
<p>介按：溫邪由肺而傳於胃，表邪雖解而裡熱尚在熏蒸，是以肌熱未退，上熏於肺，則嗆咳頭暈。故治法仍以肅降肺氣，蠲除胃熱，俾胃熱清解，則身熱咳嗽可除。因其腰疼肢楚，又佐地龍善走經絡以退熱。</p>
<p>遺風徐　冬溫汗出發熱，脈數右勁，舌心黃厚。咳逆吸短，右脅刺痛，神識乍憒。症勢重險，宜防厥閉，候正（十月十二日。）</p>
<p>乾地龍（錢半）　象貝（三錢）　冬桑葉（三錢）　牛蒡子（錢半）　連翹（三錢）　前胡（錢半）原鬱金（三錢）　橘紅（一錢）　光杏仁（三錢）　銀花（錢半）　老式天竺黃（二錢）　捲心竹葉（三十片）</p>
<p>二帖。</p>
<p>又　右脅猶痛，脈滑數，舌黃，吸粗，咳逆痰阻，神色乍憒，還防變幻。</p>
<p>乾地龍（錢半）　石菖蒲（八分）　前胡（錢半）　廣鬱金（三錢）　銀花（三錢）　連翹（三錢）炒淡黃芩（錢半）　絲瓜絡（錢半）　賴橘紅（八分）　光杏仁（三錢）　老式天竺黃（二錢）　枇杷葉（三片，去毛）</p>
<p>三帖。</p>
<p>介按：冬溫犯肺，不得外解，最易逆傳心胞，而現神識昏憒。茲以溫邪激動肝陽，爍液成痰，阻滯氣機而致咳逆吸促，右脅刺痛。治以辛涼之劑，肅清肺胃之痰，而解氣分之熱。然至次診，神色猶憒，症勢已屬棘手矣。</p>

<h1>卷二</h1>

<h2>咽喉</h2>
<p>白馬山李　溫熱寒熱，脈弦寸口芤，嗆咳咽痛，舌白尖赤。症屬陰虛，宜防喉燥。</p>
<p>元參（三錢）　橘紅（一錢）　金果欖（錢半）　桑葉（三錢）　象貝（三錢）　焦山梔（三錢）　光杏仁（三錢）　射干（錢半）　馬勃（錢半）　白前（錢半）　胖大海（三錢）　（引）枇杷葉（五片，去毛）</p>
<p>三帖。</p>
<p>又　咽痛稍瘥，脈弦右寸大，舌黃紅，嗆咳，寒熱不清，宜防喉燥（二月十二日。）</p>
<p>元參（三錢）　薄荷（錢半）　金果欖（錢半）　桔梗（二錢）　象貝（三錢）　橘紅（錢半）　粉丹皮（二錢）　甘草（八分）　馬勃（錢半）　炒知母（錢半）　山茶花（錢半）　（引）枇杷葉（五片）</p>
<p>三帖。</p>
<p>又　咳逆稍減，自利未除，脈濡數，舌滑根焦，尚潤形光，最怕變幻。（四月二十一號甲辰初五日。）</p>
<p>桔梗（錢半）　銀花（錢半）　廣鬱金（三錢）　淡竹葉（錢半）　連翹（三錢）　大豆卷（三錢）橘紅（一錢）　蔻仁（七分，沖）　光杏仁（三錢）　赤苓（四錢）　通草（錢半）</p>
<p>清煎二帖。</p>
<p>介按：張仲景云：少陰病，下利咽痛，胸滿心煩者，豬膚湯主之。今此案，是屬伏氣自少陰而內發之咽痛，雖不用豬膚湯，而初方以宣散溫邪，清火解毒，得以咽痛少瘥，次方則從甘桔湯加味，以清少陰內發之熱，而咳逆稍減。三方因其自利，兼用辛淡滲濕，俾濕走脾健，自能告痊。</p>

<h2>耳目口齒</h2>
<p>漁莊沈　女孩邪火上郁，始喉痹，繼及耳內頤部，延久不清，鼻塞氣粗。宜清上焦為主。</p>
<p>桔梗（錢半）　苦丁茶（錢半）　焦山梔（三錢）　淡竹葉（三錢）　連翹（三錢）　光杏仁（三錢）　殭蠶（錢半）　人中黃（錢半）　夏枯草（三錢）　銀花（二錢）　通草（錢半）</p>
<p>清煎三帖。</p>
<p>介按：風熱之邪，干於上焦氣分，以致清竅不利，而喉痛頤腫，故治法以清解宣散。</p>
<p>安昌王　風熱目澀，頭疼胃餒，脈浮弦，嗆咳，便結，舌微黃。宜清疏為妥。</p>
<p>桑葉（三錢）　蔓荊子（三錢）　天麻（八分）　生石決明（六錢）　甘菊花（二錢）　刺蒺藜（三錢）　杏仁（三錢）　丹皮（二錢）　蕤仁（錢半）　青葙子（三錢）　穀精珠（三錢）</p>
<p>清煎四帖。</p>
<p>又　風熱未淨，脈弦濡，頭疼已減。目澀胃餒。仍遵前法為妥（十二月十二日。）</p>
<p>桑葉（三錢）　釵斛（三錢）　煨天麻（八分）　蔓荊子（三錢）　甘菊（一錢）　生石決明（六錢）　刺蒺藜（三錢）　穀芽（四錢）　蕤仁（錢半）　蠍梢（二錢）　穀精珠（三錢）</p>
<p>清煎四帖。</p>
<p>又　胃氣尚餒，脈虛細，舌微黃，夜寐少安。姑宜養胃凝神。</p>
<p>釵斛（三錢）　炒棗仁（三錢）　穀芽（四錢）　遠志（八分）　夜交藤（三錢）　茯神（四錢）　石決明（六錢）　丹皮（二錢）　蕤仁（錢半）　丹參（三錢）　刺蒺藜（三錢）</p>
<p>清煎四帖。</p>
<p>介按：《局方》蟬花散，為治肝經鬱熱，風毒上攻，以致眼目澀痛之良劑。今此人頭疼咳嗽，是屬風熱鬱於肺經，故加杏仁以止咳，蕤仁以退赤，洵是對症發藥。惟初診之方，系從蟬花散脫胎，則蟬衣不必減去，俾風熱容易退淨，次診又加蠍梢，尤能善祛肝經蘊熱，亦為佳妙。三診則肝熱雖退，胃液未復，致肝不藏魂而夜寐少安，故以養胃柔肝，安神退熱以善後。</p>
<p>盛陵徐　溫邪上郁，齒浮口臭，牙縫出血，脈細數，肢木。宜防牙疳。</p>
<p>淡竹葉（三錢）　烏元參（三錢）　細生地（三錢）　天花粉（三錢）　人中黃（三錢）　殭蠶（錢半）　丹皮（三錢）　生石決明（六錢）　銀花（三錢）　焦山梔（三錢）　知母（錢半）</p>
<p>清煎四帖。</p>
<p>介按：胃脈絡於上齦，大腸脈絡於下齦，而胃又為五臟六腑之海，最善容納，邪熱入胃，逼動肝陽，血溢而上結於齦，轉成牙疳。此方清肝涼胃，為治牙疳之良劑。</p>

<h2>咳嗽</h2>
<p>某　新邪咳嗽氣急，右脅刺痛，宜防血溢之變（五月初三日。）</p>
<p>乾地龍（錢半）　枳殼（錢半）　金沸草（三錢）　光杏仁（三錢）　象貝（三錢）　廣鬱金（三錢）焦梔子（三錢）　馬兜鈴（一錢）　白前（錢半）　橘絡（錢半）　前胡（錢半）　鮮竹肉（一丸）</p>
<p>二帖。</p>
<p>介按：此是溫邪爍肺，故治以清肺寧絡之方。</p>
<p>安昌徐　咳嗆不已，脈弦細，口甜，舌色嫩黃。宜清肺胃以化痰。</p>
<p>栝蔞皮（三錢）　仙半夏（錢半）　廣橘紅（一錢）　金沸花（三錢，包煎）　光杏仁（三錢）　炒川連（七分）　茯苓（四錢）　石決明（五錢）　紫菀（錢半）　白前（錢半）　冬瓜子（三錢）　川貝（錢半）</p>
<p>清煎四帖。</p>
<p>介按：肝熱爍肺，脾濕釀痰，此方清宣肺氣，兼平肝熱。又佐滲濕化痰為治。</p>
<p>某　咳痰不爽，脈弦，舌微白，臍下氣機不運。姑宜清氣消痰為主（四月念三日。）</p>
<p>栝蔞皮（三錢）　霜桑葉（三錢）　金沸花（三錢，包煎）　炒枳殼（錢半）　川貝（錢半）　石決明（六錢）　廣鬱金（一錢）　新會皮（錢半）　光杏仁（三錢）　白前（錢半）　焦梔子（三錢）</p>
<p>清煎三帖。</p>
<p>介按：肝陽逆阻樞機，以致肺氣不宣。治以清宣肺痹，平肝理氣，庶幾痰蠲肝和，而諸恙自瘳。</p>
<p>安昌高　舌白滑，脈細數，咳嗽痰迷，咯不易出，氣逆，周身骨骱痛。宜防損。（五月念三日。）</p>
<p>北沙參（三錢）　生石決明（六錢）　甜杏仁（三錢）　炙甘草（八分）　茯苓（四錢）　川貝（二錢）　懷藥（二錢）　冬瓜子（三錢）　生地（三錢）　紫菀（錢半）　鹽水炒橘紅（一錢）</p>
<p>清煎五帖。</p>
<p>又　咳不減，喉中貯痰不爽，咳不易出，脈濡細，舌滑，頭暈肢楚。宜清氣熄風，利濕化痰（六月初五日）。</p>
<p>栝蔞皮（三錢）　煨天麻（八分）　冬瓜子（三錢）　生石決明（四錢）　川貝（三錢）　白蒺藜（三錢）　茯苓（四錢）　通草（錢半）　甘菊（錢半）　光杏仁（三錢）　廣橘紅（一錢）</p>
<p>清煎四帖。</p>
<p>又　濕釀成痰，喉中咯不易出，舌滑，大便不快。仍遵前法損益。</p>
<p>栝蔞皮（三錢）　金沸花（三錢，包煎）　川貝（二錢）　通草（錢半）　廣橘紅（一錢）　廣鬱金（三錢）　杏仁（三錢）　焦山梔（三錢）　茯苓（四錢）　紫菀（錢半）　桑葉（三錢）</p>
<p>清煎四帖。</p>
<p>介按：肝陽上越，挾濕化痰，阻滯氣機，以致咳嗽而咯痰不爽。初方健脾養胃，清肺滲濕，繼則參以平肝熄風，終則清宣肺氣，兼滲濕熱。三方之中，以次方尤為靈動。</p>
<p>某　濕熱釀痰，脈濡細，舌微白，咳逆，右脅刺痛，溲溺赤，腹痛。宜清氣、和絡、化痰。</p>
<p>栝蔞皮（三錢）　枳殼（錢半）　光杏仁（三錢）　降香（七分）　廣鬱金（三錢）　象貝（三錢）絲瓜絡（三錢）　橘紅（一錢）　乾地龍（錢半）　通草（錢半）　白前（錢半）</p>
<p>清煎二帖。</p>
<p>介按：濕痰阻肺，以致咳久脅痛，故治以滲濕化痰兼和絡。</p>
<p>大西莊宋　嗆咳喉癢，脈弦細，舌轉微白，潮熱較差，食入噁心。宜清肺胃化痰。（四月十六號癸卯二十九日。）</p>
<p>紫菀（二錢）　光杏仁（三錢）　炒穀芽（四錢）　白前（錢半）　川貝（錢半）　茯苓（四錢）　蔻殼（一錢）　橘紅（一錢）　仙半夏（錢半）　青蒿梗（一錢）　通草（錢半）</p>
<p>清煎三帖。</p>
<p>又　潮熱不清，脈弦細數，咳嗽如前，溲溺赤。宜清熱、通肺、化痰，防血溢。（四月念三號甲辰初七日。）</p>
<p>秦艽（錢半）　霜桑葉（三錢）　白前（錢半）　焦山梔（三錢）　丹皮（二錢）　川貝（二錢）　廣橘紅（一錢）　通草（錢半）　青蒿梗（一錢）　地骨皮（三錢）　杏仁（三錢）</p>
<p>清煎三帖。</p>
<p>介按：陰虛熱盛，灼液成痰而為咳嗽，今以舌轉微白，繼則溲溺變赤，是屬更感新邪之候，肺胃疊次受戕，肝陽上越莫制。前後兩方，既清內熱，又祛新邪。但陰液驟難恢復，已屬難治之症，後聞斯人於六月望邊竟至不起。錄之以為辨證之一助。</p>
<p>遺風龐　咳嗽不已，脈尚虛數，胃納已和。宜潤肺以清降。（四月十二日。）</p>
<p>生玉竹（三錢）　霜桑葉（三錢）　栝蔞皮（三錢）　馬兜鈴（一錢）　川貝（錢半）　茯神（四錢）　光杏仁（三錢）　款冬花（三錢）　白前（錢半）　廣橘絡（錢半）　焦山梔（三錢）　生石決明（五錢）</p>
<p>清煎四帖。</p>
<p>介按：此方清肺養胃以柔肝，為治咳嗽善後之妙劑。</p>
<p>安昌施　咳嗽未除，脈小數，仍屬汗出，微熱已退，姑宜清肺斂液（五月一號甲辰十五日。）</p>
<p>北沙參（三錢）　紫菀（二錢）　白薇（三錢）　白石英（三錢）　茯神（四錢）　川貝（錢半）　炒白芍（錢半）　炙橘紅（一錢）　生牡蠣（四錢）　甜杏仁（三錢）　炒棗仁（三錢）</p>
<p>清煎四帖。</p>
<p>介按：心在天為熱，其液為汗，茲以心火不寧，刑肺咳嗽，氣泄而身熱汗出，故以補益心神，斂液清肺為治。</p>
<p>安昌王（年五十餘歲）　酒濕傷肺，咳嗽氣急，痰稠，脈滑數，舌赤，苔薄膩。尤防變幻，候正。（八月六日丁未念四日）</p>
<p>栝蔞皮（三錢）　廣橘紅（一錢）　原滑石（四錢）　炒知母（錢半）　象貝（三錢）　天竺黃（錢半）廣鬱金（三錢）　前胡（錢半）　光杏仁（三錢）　生菔子（二錢）　法半夏（錢半）　（引）枇杷葉（五片）</p>
<p>一帖。</p>
<p>介按：酒濕釀痰，壅滯氣機，肺失治節之權，而氣急咳嗽，茲以清肺氣而滌稠痰，方雖對證。但高年患此，是屬危險重症。案中尤防變幻之語，洵是經驗之談。後聞斯人，只過四五日而逝世，可見醫家臨證，全在診斷確鑿，審慎周詳也。</p>
<p>安昌李（婦）　嘔減熱緩，嗆咳渴飲，脈滑數，經停月餘，小溲稍利，偶有呃逆，脘痛。宜宣肺、和中、化痰。（九月補五日。）</p>
<p>栝蔞皮（三錢）　射干（錢半）　廣橘白（一錢）　白前（二錢）　廣鬱金（三錢）　光杏仁（二錢）　焦山梔（三錢）　柿蒂（七隻）　川貝母（二錢）　霜桑葉（三錢）　天花粉（三錢）　（引）枇杷葉（五片）</p>
<p>三帖。</p>
<p>又　嘔逆已瘥，脈小滑，經停月餘，嗆咳脘悶，氣衝欲嘔。宜清養肺胃化痰。（九月初九日。）</p>
<p>黃草斛（三錢）　川貝（錢半）　大腹絨（三錢）　藿梗（二錢）　橘白（一錢）　扁豆衣（三錢）廣鬱金（三錢）　綠萼梅（錢半）　桑葉（三錢）　炒穀芽（四錢）　蔻殼（錢半）　鮮枇杷葉（七片，去毛）</p>
<p>三帖。</p>
<p>又　嗆咳未除，舌紅，潮熱，脈滑數，經停，胸悶心惕。宜清養肺胃為主。（九月十三日。）</p>
<p>南沙參（三錢）　冬桑葉（三錢）　橘紅（一錢）　炒知母（錢半）　地骨皮（三錢）　川貝母（錢半）穀芽（錢半）　綠萼梅（錢半）　銀胡（一錢）　紫菀（二錢）　黃草石斛（三錢）　鮮枇杷葉（七片）</p>
<p>三帖。</p>
<p>介按：肝經鬱熱上升，犯胃則嘔惡呃逆，沖肺則咳嗆脘悶，日久而痰氣凝滯，經隧不宣。初方宣肺化痰，繼則養胃清肝，終則又參入滋液退熱。方法頗有次序。</p>
<p>大西莊沈（婦）　氣喘嗆咳，右脈小數，左關弦細，舌灰黃底紅，癸水不調，外寒內熱，胃鈍便閉。宜防血溢。（十月初九日。）</p>
<p>霜桑葉（三錢）　光杏仁（三錢）　栝蔞皮（三錢）　南沙參（三錢）　川貝（二錢）　甘菊（二錢）　焦山梔（三錢）　橘紅（一錢）　紫菀（錢半）　白前（錢半）　穀芽（四錢）　（引）枇杷葉（五片，去毛）</p>
<p>三帖。</p>
<p>介按：肝陰素虧，厥陽上衝肺胃，肺氣失於清肅，以致咳喘而大便不爽，兼以陰虛內熱，陽微外寒。治以清宣肺痹，養胃液而制肝逆。</p>
<p>柯橋王　咳嗽較減，脈虛，左弦細，腰疼，癸澀早期，還宜前法加減為妥。</p>
<p>紫菀（二錢）　南沙參（三錢）　川斷（三錢）　當歸（錢半）　川貝（錢半）　甜杏仁（三錢）　炒杜仲（二錢）　炒白芍（錢半）　丹皮（三錢）　橘絡（錢半）　生地（四錢，砂仁五分拌炒）　小橘餅（三枚）</p>
<p>四帖。</p>
<p>介按：經水趲早，血熱之徵，脈虛腰疼，腎虛之候。咳嗽略減，是肺氣略見清肅。脈虛而細，是胃液尚未恢復。故其方法，既以清養肺胃，又佐滋液補腎。</p>
<p>遺風龐（婦）　嗆咳頭暈，左脈弦細，氣口搏大，形寒，鈍胃，經停二月餘。宜清肺胃熄風。（三月念號癸卯初二日。）</p>
<p>南沙參（三錢）　桔梗（錢半）　穀芽（四錢）　桑葉（三錢）　蘇梗（錢半）　川貝（二錢）　川斷（三錢）　甘菊（錢半）　紫菀（二錢）　光杏仁（三錢）　炒杜仲（三錢）</p>
<p>清煎四帖。</p>
<p>介按：肝陽化風，旋擾不息，時屆春令，肝陽愈旺，更受外風，逆乘肺胃，遂致嗆咳頭暈。茲以柔肝養胃，清肺疏風，乃是對症療法。</p>
<p>遺風龐（婦）　咳嗽稍減，腹中瘕塊不利，嘔惡涎沫，癸不及期。宜清肺、平肝、調經。</p>
<p>紫菀（錢半）　生牡蠣（四錢）　仙半夏（錢半）　茺蔚子（三錢）　川貝（錢半）　香附（三錢）廣橘紅（一錢）　玫瑰花（五朵）　甜杏仁（三錢）　釵斛（三錢）　生款冬（三錢）　枇杷葉（五片，去毛）</p>
<p>四帖。</p>
<p>介按：衝脈為病，氣逆裡急，在男子則為內疝，女子則為瘕聚。今衝脈之氣上逆，犯胃則嘔吐涎沫，沖肺則咳嗆不止。且衝脈即是血海，隸於陽明，細揣病情，治宜鎮沖養胃。茲因腹瘕嘔惡，治以清肺平肝，方法極佳。如能酌用鎮沖養胃之品，則奏效尤捷矣。</p>
<p>漁莊沈　大便已通，胃氣稍振，脈虛細，舌滑白。宜養胃凝心神。（九月十二日。）</p>
<p>釵斛（三錢）　丹參（三錢）　穀芽（四錢）　新會皮（錢半）　省頭草（三錢）　光杏仁（三錢）遠志（八分）　淡竹葉（錢半）　川貝（二錢）　抱木茯神（四錢）　合歡皮（三錢）</p>
<p>介按：此是咳嗆之後，肺胃津液未復，故以清肺養胃，兼安心神為治。</p>

<h2>咳血</h2>
<p>陡舋王（婦）　肝氣作痛，脈弦，經閉，咳痰帶紅，損怯已成，非輕藐之症（六月初九日）</p>
<p>紫菀（錢半）　廣橘紅（錢半）　左金丸（八分）　白石英（三錢）　光杏仁（三錢）　川貝（三錢）　降香（七分）　綠萼梅（錢半）　生牡蠣（四錢）　茜草（錢半）　澤蘭（錢半）　藕節（三個）</p>
<p>四帖。</p>
<p>介按：左升屬肝，右降屬肺，茲以胃憊而肝陽橫逆無制，肺失下降之權，以致咳血經閉，此方是泄肝降氣，和血通絡之意。</p>
<p>安昌龐　肝陽爍肺，咳痰帶紅，脈弦數，舌色透明，便血，防損。（二月初十日。）</p>
<p>霜桑葉（三錢）　光杏仁（三錢）　焦山梔（三錢）　粉丹皮（二錢）　炒驢膠（錢半）　生石決明（六錢）　川貝（錢半）　生米仁（四錢）　山茶花（錢半）　銀花炭（二錢）　橘絡（錢半）</p>
<p>清煎四帖。</p>
<p>又　痰紅較差，脈弦勁，嗆咳不已，咽痛已減。宜清肺化痰。（二月二十日。）</p>
<p>生地（四錢）　生石決明（六錢）　川石斛（三錢）　炒驢膠（錢半）　杏仁（三錢）　川貝（二錢）　生白芍（錢半）　雞子黃（一枚）　元參（二錢）　側柏炭（三錢）　女貞子（三錢）</p>
<p>清煎五帖。</p>
<p>又　咳嗽仍屬帶紅，脈勁數，肝陽上升。宜清降為主。（三月初七日。）</p>
<p>生地（四錢）　桑葉（三錢）　側柏炭（三錢）　小蘇草（二錢）　光杏仁（三錢）　生石決明（六錢）天冬（二錢）　茜根（三錢）　元參（三錢）　焦山梔（三錢）　橘紅（錢半）　茅根（一兩，煎湯）</p>
<p>五帖。</p>
<p>介按：《內經》云：陽絡傷則血外溢，陰絡傷則血內溢。諒以怒勞動肝，暗耗營陰，肺與大腸均受其戕，而逼血妄行，久延愈劇。前後三方，僉以柔肝肅肺，清熱育陰，深合病機，故多奏效。</p>
<p>安昌胡　咳血氣促，脈弦數，舌微黃，寒熱交作，此木火刑肺。宜清少陽為主。</p>
<p>霜桑葉（三錢）　杜栝蔞皮（錢半）　小薊草（三錢）　淮牛膝（三錢）　生石決明（六錢）　川貝（二錢）　淡竹葉（錢半）　白薇（三錢）　焦梔子（三錢）　茜草根（二錢）　橘絡（錢半）</p>
<p>清煎三帖。</p>
<p>又　血已除，咳嗽氣促不已，脈數，舌黃，肝火猶熾。宜清降為妥（十二月初二日。）</p>
<p>紫菀（錢半）　桑葉（三錢）　白前（錢半）　女貞子（三錢）　天冬（二錢）　生石決明（六錢）川貝（二錢）　穀芽（四錢）　遍金釵（三錢）　光杏仁（三錢）　淡秋石（八分）</p>
<p>清煎四帖。</p>
<p>介按：陽明脈絡日衰則發冷，陰虧而陽不潛藏則發熱，總之，肝陽橫逆而血上溢，故初方以柔肝肅肺，降氣涼血而獲效。次方於清降之中，參用養胃，立法秩序井然。</p>
<p>張漊俞　咳血未除，脈數，右關弦，胸悶，舌微黃。宜清降消痰。</p>
<p>杜栝蔞皮（錢半）　淡竹葉（錢半）　焦梔子（三錢）　赤芍（錢半）　京川貝（二錢）　廣橘絡（錢半）　光杏仁（三錢）　參三七（一錢）　小薊草（三錢）　白前（錢半）　紫菀（錢半）</p>
<p>清煎四帖。</p>
<p>介按：胃熱沖肺，逼血上溢，誠以胃脘當心，是肝經交絡所過之處。茲因肝胃鬱熱沖肺，而覺脘悶，治以清肺和絡，涼血消瘀，用藥頗為穩妥。</p>
<p>安昌徐　遭忿動肝，氣衝咳血，脈弦細，舌微黃。姑宜清降消痰。（三月初七日。）</p>
<p>蘇子（錢半）　焦山梔（三錢）　茜根（三錢）　紫菀（錢半）　川貝（二錢）　橘絡（錢半）　光杏仁（三錢）　天冬（二錢）　降香（七分）　白薇（二錢）　小薊草（三錢）</p>
<p>清煎五帖。</p>
<p>介按：嗔怒動及肝陽，血隨氣逆，此方宗繆仲醇氣為血帥之意，確是對症良劑。</p>
<p>安昌王　陰虛內熱，便結，脈細數，精關不固，咳痰帶紅。宜存陰為主（六月念七日）</p>
<p>遍金釵（三錢）　焦梔子（三錢）　光杏仁（三錢）　茜根（錢半）　川貝（二錢）　側柏炭（三錢）　炒知母（錢半）　小薊草（三錢）　生地（四錢）　柏子仁（三錢）　廣橘絡（錢半）　鮮荷葉（一角）</p>
<p>四帖。</p>
<p>介按：夏月藏陰，冬月藏陽，茲際夏令，適逢液虧之體，而陽不潛伏，升則血溢，降則遺精。此方滋陰清熱，和血肅肺，治法極佳。</p>
<p>安昌黃　肝陽爍肺，咳嗽帶紅，脈弦，迎風頭疼，舌心光，耳鳴作痛。宜清少陽為主。</p>
<p>冬桑葉（三錢）　甘菊（二錢）　光杏仁（三錢）　焦梔子（三錢）　石決明（六錢）　川貝（二錢）　側柏炭（三錢）　苦丁茶（錢半）　炒驢膠（錢半）　丹皮（三錢）　釵斛（三錢）　淡竹葉（錢半）</p>
<p>清煎五帖。</p>
<p>介按：陰液未能上承，厥陽燔燎不已，沖肺則咳嗽帶紅，挾膽熱而上蒙清竅，則頭疼耳鳴。此方養胃肅肺，兼清肝膽之熱，確是治病必求於本之義。</p>
<p>安昌徐　痰血已除，脈虛數，咳嗽不已，氣逆。宜清降為主。（四月初七日。）</p>
<p>霜桑葉（三錢）　廣橘絡（錢半）　淡竹葉（錢半）　栝蔞皮（錢半）　光杏仁（三錢）　焦梔子（三錢）　生石膏（六錢）　象貝（三錢）　馬兜鈴（一錢）　白前（錢半）　前胡（錢半）</p>
<p>清煎三帖。</p>
<p>介按：此是痰血已除。肺胃餘熱未清之證，故治以降氣清胃為主。</p>

<h2>喘</h2>
<p>安昌婁　陰火上升，咳嗽氣喘，著枕不耐，脈滑數，舌黃燥底赤。宜防變幻，候正。（二月七號壬寅十九日。）</p>
<p>鮮生地（六錢）　栝蔞子（三錢）　白石英（三錢）　賴橘紅（八分）　陳萸肉（錢半）　川貝（二錢）　天冬（二錢）　海石（三錢）　粉丹皮（二錢）　杜兜鈴（錢半）　光杏仁（三錢）　（引）青鉛（一兩）</p>
<p>三帖。</p>
<p>又　據述痰氣稍平，胃鈍，浮腫溺少，恐痰壅致險，仍遵前法加減，候正。（四月十二號癸卯念五日。）</p>
<p>栝蔞子（三錢）　蘇子（二錢）　炒穀芽（四錢）　海金沙（四錢）　川貝（三錢）　橘紅（一錢）白石英（三錢）　杜赤豆（四錢）　光杏仁（三錢）　通草（錢半）　紫菀（二錢）</p>
<p>清煎二帖。</p>
<p>介按：喘病之因，在肺為實，在腎為虛，此則虛實兼夾，肺腎同病，虛則虛於腎之不固，實則實於濕痰壅逆。蓋因下元已虛，腎氣不為收攝，痰隨氣升，壅住肺氣。肺氣不降，以致氣喘不能著枕。初方鎮攝固納，清宣肅降，得以痰氣稍平。然濕濁尚未淨退。而浮腫溺少，繼進清肺滲濕以化痰，治法標本兼顧。</p>

<h2>胸痹</h2>
<p>安昌葉　脘痹氣衝，得噯稍舒，脈弦細，腹中有瘕，咳逆。姑宜栝蔞薤白湯主治。（三月二號壬寅十四日。）</p>
<p>栝蔞皮（三錢）　川貝（錢半）　炒穀芽（四錢）　綠萼梅（錢半）　薤白（錢半）　生香附（錢半）　廣鬱金（三錢）　遠志肉（八分）　仙半夏（錢半）　佩蘭（三錢）　苦丁茶（錢半）</p>
<p>清煎二帖。</p>
<p>介按：陰虛肝旺，腹中聚瘕，挾痰而上衝於肺。肺失清降之司，而阻痹氣機，則噯咳兼作。治法宗仲景辛滑微通其陽。</p>
<p>安昌楊　肺氣不宣，胸脘仍屬窒痹，右脈澀，左沉弦，舌厚膩，仍遵前法加減（三月二十一號癸卯初五日。）</p>
<p>栝蔞皮（三錢）　烏藥（二錢）　生牡蠣（四錢）　炒青皮（八分）　薤白（錢半）　厚朴（一錢）木蝴蝶（四分）　玫瑰花（五朵）　仙半夏（錢半）　炒麥芽（三錢）　雞內金（三錢）</p>
<p>清煎三帖。</p>
<p>介按：此方平肝運氣，消食健脾，藉以清宣肺氣。</p>
<p>長巷宋　嗆咳痰阻，脈濡細數，胸冷窒痹，舌微黃。宜清氣化痰。</p>
<p>栝蔞皮（五錢）　白前（錢半）　炒枳殼（錢半）　霜桑葉（三錢）　薤白（錢半）　廣鬱金（三錢）　冬瓜子（三錢）　綠萼梅（錢半）　廣橘絡（錢半）　京川貝（錢半）　通草（錢半）</p>
<p>清煎四帖。</p>
<p>介按：痰飲疑冱，清陽失曠，以致咳嗆而胸冷窒痹，苦辛開鬱，治法極是。</p>
<p>西莊易　血後咳痰不爽，脈弦，肝逆上衝，脘悶，肺氣窒痹。仍遵前法加減為妥（八月念七日。）</p>
<p>冬桑葉（三錢）　栝蔞皮（三錢）　橘絡（錢半）　川貝（錢半）　石決明（八錢）　薤白（錢半）廣鬱金（三錢）　杜兜鈴（一錢）　光杏仁（三錢）　白前（錢半）　焦山梔（三錢）</p>
<p>清煎四帖。</p>
<p>介按：血後肝逆未平，絡傷氣窒，尚有鬱熱未清，故治以降氣通絡，藉滌肝肺之熱。</p>
<p>某　肺痹氣逆，嗆咳稠痰，脈浮滑，耳木。姑宜清降消痰為治（八月念一日。）</p>
<p>栝蔞皮（三錢）　仙半夏（錢半）　金沸花（三錢，包煎）　桑葉（三錢）　薤白（一錢）　川貝（錢半）　海石（四錢）　池菊（錢半）　紫菀（錢半）　白前（錢半）　青蛤殼（二錢）</p>
<p>清煎三帖。</p>
<p>介按：肝性上升，膽脈貫耳，茲以厥陽與少陽挾稠痰而上騰，阻遏清陽，方以苦降辛通，柔肝肅肺，治法極好。</p>

<h2>虛勞</h2>
<p>大西莊馬，病損成勞，嗆咳，形寒盜汗，曾經失血，脈小數，舌黃。肺氣受戕，非輕藐之症。</p>
<p>北沙參（三錢）　雲母石（三錢）　紫菀（錢半）　光杏仁（三錢）　生牡蠣（四錢）　茯神（四錢）　川貝（二錢）　橘絡（錢半）　清炙耆皮（八分）　五味子（十粒）　冬蟲夏草（錢半，加）　紅棗（三枚）</p>
<p>四帖。</p>
<p>又　案列於前，頃脈仍屬小數，咳痰膿厚帶紅。總之，肺氣受戕，形寒，屬虛勞重症。</p>
<p>北沙參（三錢）　白芨片（錢半）　煅蛤殼（四錢）　紫菀（錢半）　生牡蠣（四錢）　橘絡（錢半）　光杏仁（三錢）　白薇（錢半）　川貝（二錢）　側柏炭（三錢）　冬蟲夏草（錢半）　（引）枇杷葉（五片，去毛）</p>
<p>四帖。</p>
<p>介按：肺主皮毛，肺傷則失其衛護之職，熱傷元氣，氣傷則不能生津而斂液，以致嗆咳形寒而盜汗。但虛勞而至於失血，誠屬重極之症。照此症候，以宜用黃耆建中湯急建中氣，俾飲食增而津液旺，以至充血生精而復其真陰之不足。惟此人肺氣受戕，故初方全是清肺生津之品。又佐以善治肺勞之冬蟲夏草，最益肺經之雲母石，確治肺勞之妙劑。據戴氏白芨枇杷丸（用白芨一兩，枇杷葉、藕節各五錢，為細末，另以蛤粉炒阿膠五錢，生地汁調之，火上頓化，入前藥為丸，如龍眼大，每服一丸）為治咳咯肺血之專方，今次診彷彿戴氏之意以擬治，真是異曲而同工。</p>
<p>下方橋王　症由暑濕傷氣，咳嗽潮熱，清竅已蒙，右脈小數，左勁，舌光紅，中有白屑，津液重傷，已成虛勞，勢在棘手。宜清降養胃消痰。（九月三十日。）</p>
<p>南沙參（三錢）　川石斛（三錢）　炒遠志（八分）　生石決明（六錢）　扁豆衣（三錢）　紫菀（二錢）　茯神（四錢）　川貝母（二錢）　光杏仁（三錢）　淡秋石（八分）　橘紅（一錢，鹽水炒）　（引）雅梨（五錢）</p>
<p>二帖。</p>
<p>介按：暑濕傷於氣分，從口鼻吸受，治以辛涼微苦，俾上焦氣分廓清則愈。乃因日久失治，以致劫爍肺胃之津液而成虛勞，兼以清竅已蒙，症勢誠屬重險，此方肅肺滋液以化痰，治法極為適當。</p>
<p>蜀阜馬（婦）　勞嗽潮熱，脈澀，左細數，舌白，中心紅。經阻形怯，非輕藐之症。</p>
<p>生玉竹（錢半）　紫菀（錢半）　丹參（三錢）　黃耆（三錢）　川貝（錢半）　橘紅（一錢）　白石英（三錢）　省頭草（錢半）　地骨皮（三錢）　白前（錢半）　穀芽（四錢）　枇杷葉（三片，去毛）</p>
<p>四帖。</p>
<p>又　咳嗽未除，形怯潮熱，脈虛細右弦，舌微黃，脘悶便瀉。究屬重險之症，宜清氣和中，候正（六月初九日。）</p>
<p>南沙參（三錢）　藿梗（二錢）　穀芽（四錢）　銀胡（一錢）　扁豆衣（三錢）　川貝（錢半）　茯苓（四錢）　地骨皮（三錢）　桔梗（錢半）　新會皮（錢半）　砂仁（七分）　江西術（一錢）</p>
<p>清煎三帖。</p>
<p>介按：衝任皆損，二氣不交，五液消耗，延為勞怯。初方鎮沖活血，清肺養胃，雙方兼顧，未能應驗。次診又見便瀉，是屬脾氣虛弱，雖於清養肺胃之中，參用扶脾理氣之品，究屬難愈之疴。</p>
<p>安昌範　盜汗未除，六脈虛細，舌白少津，咳嗽氣促，脘痛。宜防血溢。（二月十九日。）</p>
<p>北沙參（三錢）　炒驢膠（錢半）　左金丸（八分）　白前（錢半）　茯神（四錢）　川貝（錢半）橘紅（錢半）　綠萼梅（錢半）　生白芍（錢半）　生牡蠣（四錢）　白石英（三錢）</p>
<p>清煎四帖。</p>
<p>又　咳嗽已減，脈左虛細，右較緩，舌滑白，盜汗較差，仍遵前法加減損益。（三月十二日。）</p>
<p>炙甘草（八分）　生地（四錢）　紫菀（錢半）　懷藥（三錢）　炒驢膠（錢半）　炙桂枝（六分）茯神（四錢）　川貝（錢半）　東洋參（錢半）　生牡蠣（四錢）　甜杏仁（三錢）　（引）枇杷葉（三片，去毛）</p>
<p>五帖。</p>
<p>又　前藥已效，咳嗽盜汗悉減，脈虛細，舌滑白，力怯，腰跗不健，還宜前法損益為妥。（三月十九日。）</p>
<p>炙甘草（八分）　生地（五錢）　炒杜仲（三錢）　懷牛膝（三錢）　老東參（錢半）　炙桂枝（六分）茯神（四錢）　京川貝（錢半）　炒狗脊（三錢）　生牡蠣（四錢）　炒驢膠珠（錢半）　鮮枇杷葉（三片）</p>
<p>八帖。</p>
<p>介按：此症由於腎液已虛，未能上承於心，而陽不潛藏，入春肝木司權，而肝陽化風，沖肺而為咳血盜汗之累。初方於滋陰潛陽之中，參用平肝清肺之品，以防血溢而寧咳嗽，確是良方，故見奏效。繼方兼護衛陽，而盜汗悉減。末方以力怯腰跗不健，而再參用補腎養心諸味，步伐整齊，深堪則效。</p>

<h2>不寐</h2>
<p>安昌婁　陽不交陰，寤不成寐，脈數右勁，舌尖赤，咳嗽氣逆，胃餒。姑宜清肺、安神、化痰。（三月七號壬寅十九日。）</p>
<p>北沙參（三錢）　霍石斛（三錢）　炒棗仁（三錢）　丹參（二錢）　天冬（三錢）　光杏仁（三錢）　夜交藤（三錢）　生米仁（四錢）　紫菀（錢半）　茯神（四錢，辰砂拌）　橘紅（一錢，鹽水炒）</p>
<p>清煎四帖。</p>
<p>介按：胃為六腑之海，其氣以下行為順。茲以陽明氣逆沖肺，以致咳嗽不寐，故治以肅肺養胃而安神。</p>
<p>漁莊沈　肝陽未靜，夜寐少安，脈右尚弦，左細數，嗆咳，舌色如前。還宜柔肝腎以和陽為妥（杏月初四日。）</p>
<p>生首烏（三錢）　紫菀（錢半）　炙龜板（四錢）　南沙參（三錢）　茯神（三錢）　參貝陳皮（錢半）　光杏仁（三錢）　生米仁（四錢）　桑椹子（三錢）　生牡蠣（四錢）　炒杜仲（三錢）</p>
<p>清煎四帖。</p>
<p>介按：（肝陰已虛，而陽不潛藏，且肝藏魂而肺藏魄。今以魂魄不安，則夜不安寐，肝逆乘肺，則為嗆咳。故治以潛陽育陰，柔肝清肺為主。）</p>
<p>黃公漊某　嗆咳心悸，夜不安寐，脈虛細，胃鈍噁心。宜溫膽和胃，清肺安神。</p>
<p>仙半夏（錢半）　枳殼（錢半）　紫菀（錢半）　栝蔞皮（三錢）　陳皮（錢半）　炒棗仁（三錢）川貝（三錢）　炒穀芽（四錢）　茯神（四錢）　白前（錢半）　蔻殼（錢半）　（引）鮮竹肉（一丸）</p>
<p>三帖。</p>
<p>介按：羅東逸云：膽為中正之官，清淨之腑，喜寧謐，惡煩擾，喜柔和，不喜壅鬱。蓋東方木德，少陽溫和之氣也。是以虛煩驚悸者，中正之官，以熇熱而不寧也。熱嘔吐苦者，清淨之腑，以郁久而不謐也。痰氣上逆者，土家濕熱反乘，而木不得遂其條達也。故是者首當清熱及解利三焦。據是以觀，則此症純系少陽未得溫和之氣，以致諸證並起。此方治法，深得羅氏之旨趣。</p>
<p>安昌相　心惕如懸，夜寐不安，脈虛細，左關細勁。舌紅，偶然語蹙，姑宜補心丹加減治之。（辛亥十二月念九日。）</p>
<p>丹參（三錢）　生地（四錢）　柏子仁（錢半）　甘菊（二錢）　麥冬（二錢，去心）　炒棗仁（三錢）　遠志肉（八分）　預知子（三錢，即八月札）　元參（二錢）　釵斛（三錢）　茯神（四錢，辰砂拌）　（引）燈心（七支）</p>
<p>四帖。</p>
<p>介按：心血不足，神志不寧，而致心惕如懸，夜不安寐，故治以補益心神為主。用生地以滋腎液而承於心，俾心得以藏神，麥冬以清氣熱，丹參以生心血，元參以清血熱，柏子仁以清氣，酸棗仁以補心，茯神、遠志以安心神，釵斛滋液，甘菊養肝。又用預知子之固腎，燈心以為引導。此方誠治心虛不寐之專劑。</p>
<p>安昌王　暈眩並作，心悸少寐，脈勁，舌色透明，力怯跗腫。宜柔肝腎以安神。（四月四號癸卯十七日。）</p>
<p>生首烏（三錢）　炒棗仁（三錢）　炒杜仲（三錢）　生牡蠣（四錢）　杞子（三錢）　茯神（四錢，辰砂拌）　炒狗脊（三錢）　澤瀉（三錢）　甘菊（二錢）　遠志肉（八分炒）　生米仁（四錢）</p>
<p>清煎四帖。</p>
<p>又　暈眩已減，夜寐稍安，睡中汗出，脈虛，力怯，仍遵前法加減為妥。（二月念三日）</p>
<p>生首烏（三錢）　炒棗仁（三錢）　煨天麻（八分）　懷山藥（三錢）　杞子（三錢）　茯神（四錢）　白蒺藜（三錢）　杜仲（三錢）　甘菊（錢半）　生牡蠣（四錢）　桑椹子（三錢）</p>
<p>清煎八帖。</p>
<p>介按：肝陰已虧而不藏魂，則暈眩少寐，心神不安則心悸力怯。更兼濕熱滯於下焦而致跗腫，故於補養肝腎之中，而佐牡蠣、澤瀉以祛濕。用藥既已雙方兼顧，投劑自然得效。次診又形寢汗，仍是陰液未固而外泄之候，但此時跗腫已除，故只以柔肝補腎而安神為治。</p>
<p>西莊沈　胃氣仍鈍，夜不安寐，脈濡細，舌黃滑，濕猶未罷，宜溫膽湯加減。（元月十二日。）</p>
<p>姜半夏（錢半）　枳殼（錢半）　綿茵陳（三錢）　雞內金（三錢）　新會皮（錢半）　棗仁（三錢）　生米仁（四錢）　炒穀芽（四錢）　茯神（四錢，辰砂拌）　通草（錢半）　蔻殼（錢半）</p>
<p>清煎三帖。</p>
<p>介按：膽為清靜之腑，茲以痰濕未清，胸膈之餘熱未退，而致夜寐不安，胃納尚純。治以溫膽湯加減，兼清濕熱而養胃。</p>
<p>安昌徐　濕熱較減，胃納略增，脈右弦濡，左虛細。夜寐少安，大便艱澀。宜和胃安神為妥。（六月六號乙巳二十日。）</p>
<p>仙半夏（錢半）　炒川連（六分）　柏子仁（三錢）　夜交藤（三錢）　新會皮（錢半）　炒棗仁（三錢）　炒遠志（八分）　通草（錢半）　茯神（四錢，辰砂拌）　丹參（三錢）　穀芽（四錢）</p>
<p>五帖。</p>
<p>介按：濕熱方退，腎液已耗，未能上注於心，是以夜寐不安，胃津未復，是以大便艱澀，故治以和胃安神，補心滋腎，略佐滲濕，俾胃氣得和，則臥寐自安。</p>

<h2>心悸健忘</h2>
<p>遺風徐　血後陰耗，脈濡數，舌黃滑，濕火未清，心悸健忘，仍遵前法再進。</p>
<p>生地（四錢）　焦山梔（三錢）　黃草石斛（三錢）　夜交藤（三錢）　麥冬（三錢）　茯神（四錢）　遠志肉（八分）　白薇（錢半）　丹參（三錢）　元參（錢半）　炒條芩（錢半）　淡竹葉（錢半）　加　燈心（七支）</p>
<p>四帖。</p>
<p>介按：陽明濕熱未清，再以勞神動肝，以致咳血而暗吸腎陰，腎液既虛，未能上承於心，則心悸健忘，滋液清熱，安神養胃。治法極為周到。</p>
<p>某　咳嗽盜汗悉瘥，左脈虛細，右勁，舌滑白，心虛悸惕。宜補心丹加減治之（三月念九日。）</p>
<p>蘇丹參（三錢）　歸身（錢半）　甜杏仁（三錢）　炙甘草（七分）　茯神（四錢）　炒棗仁（三錢）　遠志（八分）　炒杜仲（三錢）　老東參（錢半）　生牡蠣（四錢）　煅龍齒（錢半）</p>
<p>清煎八帖。</p>
<p>介按：肅肺分之餘熱，潛未靖之浮陽，藉以補益心神，則悸惕自瘳。</p>
<p>白馬山李　肝逆乘中，脘痛氣衝，脈弦，語蹙心悸，姑宜泄降化痰。（四月二號癸卯望日。）</p>
<p>栝蔞皮（三錢）　川楝子（三錢）　生石決明（六錢）　仙半夏（錢半）　薤白（錢半）　延胡（二錢）光杏仁（三錢）　沉香（五分）　橘紅（一錢）　抱木茯神（四錢）　遠志肉（八分，炒）　（引）　燈心（七支）</p>
<p>四帖。</p>
<p>又　沖氣未平，脈弦細，舌白，心無所主，語蹙。宜鎮肝逆，凝心神。（四月六號癸卯十九日。）</p>
<p>西琥珀（八分）　丹參（三錢）　仙半夏（錢半）　合歡皮（三錢）　沉香（五分）　煅龍齒（錢半）　新會皮（錢半）　炒棗仁（三錢）　抱木茯神（四錢）　石決明（五錢）　遠志肉（八分，炒）　石菖蒲（五分）　（引）燈心（七支）</p>
<p>四帖。</p>
<p>介按：肝升太過，胃降無權，濕釀成痰，阻礙氣機，平肝清肺，治法甚佳。次以肝風浮越，語蹙依然，因其沖氣未平，再進鎮沖凝神之品，秩序井然。</p>
<p>安昌徐　水虧木旺，脈細勁，音低，心悸，寢寐恍惚，舌心微黃。姑宜滋水涵木，佐以凝神。（三月十四日。）</p>
<p>生地（四錢）　阿膠珠（錢半）　桑葉（三錢）　遠志肉（八分）　茯神（四錢）　石決明（六錢）淮山藥（三錢）　預知子（三錢，即八月札）　夜交藤（三錢）　炒棗仁（三錢）　黃草石斛（三錢）　（引）雞子殼（一枚）</p>
<p>介按：少陰之脈，循喉嚨，挾舌本。今以腎液未能上承，而致音低心悸，此方宗阿膠雞子黃湯加減，俾心腎交合，陽和陰充，則少陰之火各歸其部，而諸恙自除。</p>

<h1>卷三</h1>

<h2>肝風</h2>
<p>漁莊沈（婦）　肝風爍肺，嗆咳久累不已，右脈寸關虛細，左弦，舌心紅，癸水始淡繼紫。姑宜柔肝以清肺為主。（十月十三號九月初四日。）</p>
<p>冬桑葉（三錢）　南沙參（三錢）　烏賊骨（錢半）　生白芍（錢半）　炒驢膠（錢半）　川貝（二錢）粉丹皮（三錢）　淡秋石（八分）　生石決明（六錢）　紫菀（錢半）　甜杏仁（三錢）　（引）枇杷葉（五片，去毛）</p>
<p>五帖。</p>
<p>介按：肝陽上逆，乘肺而咳，肺津胃液，均受灼爍，以致癸水轉紫。故治以清肝熄風，養胃滋液。</p>
<p>華川趙（婦）　癸水先後不一，脈左澀右弦，舌心光，頭暈音啞，此肝風爍肺。宜阿膠雞子黃湯治之。（十一月一日。）</p>
<p>炒驢膠（錢半）　霜桑葉（三錢）　丹參（三錢）　黃草石斛（三錢）　雞子黃（一枚）　生石決明（六錢）　茯神（四錢）　粉丹皮（二錢）　穭豆皮（三錢）　小胡麻（三錢）　甘菊（錢半）</p>
<p>清煎四帖。</p>
<p>介按：腎液虛而未能上承於心，肝陰虧而厥陽化風爍肺，以致音啞頭暈。治以阿膠雞子黃湯，參用柔肝養液之品，真是的對之良方。</p>
<p>安昌龐（婦）　衝任內怯，帶下癸澀，腰痠腹痛，脈澀細，右細數，肝風浮越，頭疼牙痛。姑宜柔肝熄風為主。（六月初三日。）</p>
<p>煨天麻（八分）　生牡蠣（四錢）　釵斛（三錢）　西洋參（一錢）　粉丹皮（三錢）　穭豆皮（三錢）　小胡麻（三錢）　炒杜仲（三錢）　甘菊（二錢）　鉤藤（三錢）　桑寄生（三錢）</p>
<p>清煎五帖。</p>
<p>又　帶下未除，腹中疼痛，脈澀數，頭疼牙痛悉瘥。宜柔肝、調經、澀下。（六月十四日。）</p>
<p>桑寄生（三錢）　炒杜仲（三錢）　丹皮（三錢）　制香附（錢半）　小胡麻（三錢）　遠志肉（八分）　炒白芍（錢半）　覆盆子（三錢）　元胡（錢半）　鉤藤（三錢）　釵斛（三錢）</p>
<p>清煎五帖。</p>
<p>介按：素稟陰虧，衝任皆損，是以腰痛連腹，經愆帶下，內風浮越，直上巔頂，則頭暈牙痛。治以柔肝熄風，滋液補腎，而頭疼牙痛悉瘥。次因腹中尚疼，故用理氣活血之品。</p>
<p>某　肝風內震，心惕，頭暈，肢戰，脈弦右虛，癸來夾雜腰疼。姑宜柔肝熄風，仍鎮攝心神。</p>
<p>桑寄生（三錢）　西琥珀（八分）　龍齒（三錢）　甘菊（二錢）　炒驢膠（錢半）　茯神（三錢）炒遠志（八分）　杜仲（二錢）　小胡麻（三錢）　鉤藤（三錢）　穭豆皮（三錢）　（引）燈心（七支）</p>
<p>五帖。</p>
<p>介按：腎難生液，是以心惕而癸來腰疼，肝不養筋，內風浮動，是以頭暈肢戰。今以柔肝熄風以緩暈，鎮攝心神兼補腎，洵屬對症療法。</p>
<p>安昌余　大便稍潤，舌根微黃，脈濡，頭角筋惕作痛，此由內風浮越。姑宜清肝、熄風、滲利。（九月二十四日）</p>
<p>桑葉（三錢）　黃草石斛（三錢）　蕤仁（錢半）　苦丁茶（錢半）　甘菊（二錢）　生石決明（六錢）　茯苓（四錢）　通草（錢半）　鉤藤（三錢）　刺蒺藜。（三錢）　淡竹葉（錢半）</p>
<p>清煎三帖。</p>
<p>介按：胃虛挾濕，肝陽化風不熄，直上巔頂，而頭角作痛。故治以清肝滲濕之劑。</p>

<h2>嘔吐噎格</h2>
<p>安昌楊（婦）　血虛氣滯，濕熱盤踞，肝逆犯胃，每癸來心泛，脈濡，腹滿帶下。故宜和肝調經。</p>
<p>大腹絨（三錢）　庵䕡子（錢半）　佩蘭（二錢）　厚朴（錢半）　仙半夏（錢半）　茯苓（四錢）丹參（二錢）　玫瑰花（五朵）　香附（二錢）　雞血藤（三錢）　川連（八分）　吳萸（四分，拌炒）</p>
<p>五帖。</p>
<p>介按：此即秦越人所謂帶脈為病，腰溶溶如坐水中之候也。今以帶脈不固，更兼濕熱盤踞，厥陰逆乘而犯胃心泛。治以和肝除濕為首要。</p>
<p>大西莊黃　肝逆犯胃，脘格嘔惡，脈右細滯，左弦，舌色還和。宜苦辛通降為妥。（八月十四日。）</p>
<p>乾薑（四分）　蝟皮（錢半）　蔻殼（錢半）　烏藥（二錢）　厚朴（一錢）　通草（錢半）　赤苓（四錢）　玫瑰花（五朵）　仙半夏（錢半）　穀芽（四錢）　（吳萸五分拌炒）川連（八分）</p>
<p>清煎三帖。</p>
<p>又　嘔惡已除，脈弦細，舌微白，著根淡黃，濕熱未淨，氣機不利。宜和中利濕為妥。（八月二十八日）</p>
<p>藿梗（二錢）　蔻殼（錢半）　穀芽（四錢）　甘松（四分）　省頭草（錢半）　赤苓（四錢）　枳殼（錢半）　綠萼梅（錢半）　厚朴（一錢）　新會皮（錢半）　通草（錢半）</p>
<p>清煎三帖。</p>
<p>介按：氣機阻滯，清陽不展，初方以平肝和胃，而胃氣漸和，嘔吐已止。次以濕尚未淨，故進利氣滲濕之方。</p>
<p>漁莊沈（女）　閨女便瀉未除，脈弱細，嘔惡已瘥，胃餒，脘悶少寐。宜養胃、和肝、凝神。</p>
<p>丹參（三錢）　佩蘭葉（錢半）　棗仁（三錢）　穀芽（四錢）　扁豆衣（三錢）　蝟皮（一錢）　香附（錢半）　玫瑰花（五朵）　茯神（四錢）　霍斛（三錢）　通草（錢半）</p>
<p>清煎三帖。</p>
<p>介按：肝氣逆乘犯胃，而嘔惡脘悶，肝陽挾濕侮脾則便瀉，更以胃不和而臥不安，故以制肝和胃，扶脾安神為治。</p>
<p>安昌徐（婦）　帶下未除，脈沉弦，嘔惡，舌微黃，此肝胃不和，癸水不調。宜防隔症。（杏月二十日。）</p>
<p>刺蝟皮（錢半）　（吳萸四分拌炒）川連（七分）　丹參（三錢）　茯苓（四錢）　生白芍（錢半）廣皮（錢半）　綠萼梅（錢半）　仙半夏（錢半）　省頭草（三錢）　蔻殼（錢半）　雞血藤（三錢）　（引）路路通（七枚）</p>
<p>四帖。</p>
<p>介按：肝氣逆行犯胃而嘔惡，更以血枯而癸水不調。方中平肝和胃，參用和血之品，是屬胃津被肝陽劫爍之候。但既防隔症，則蔻殼未免劫津，尚宜慎用為是。</p>
<p>安昌徐（婦）　隔氣作吐，脈左沉弦，右弦滑，經停五月，舌薄白，根稍厚。此肝逆犯胃，宜厥陰陽明同治。（五月十七日。）</p>
<p>仙半夏（錢半）　炒穀芽（四錢）　新會皮（錢半）　藿梗（二錢）　（吳萸五分拌炒）川連（七分）　蘇梗（錢半）　綠萼梅（錢半）　蝟皮（一錢）　川樸（一錢）　木蝴蝶（四分）　蔻殼（錢半）</p>
<p>清煎。</p>
<p>又　隔氣較差，脘中稍和，脈兩手切來弦滑，經停五月，舌根微黃，仍遵前法加減為妥。（六月二十日。）</p>
<p>蝟皮（一錢）　廣藿香（錢半）　烏藥（錢半）　川楝子（錢半）　蘇梗（錢半）　蔻殼（錢半）　木蝴蝶（四分）　綠萼梅（錢半）　釵斛（三錢）　炒穀芽（四錢）　新會皮（錢半）</p>
<p>清煎三帖。</p>
<p>介按：肝鬱氣逆，胃液被劫，勢成隔症，故以厥陰陽明同治。但脈滑經停而兼嘔吐，雖屬肝胃不和，似乎妊娠之象。且治法並未通經活血。惟　用和胃理氣。但案中未曾敘明孕育，鄙見難以臆斷。然蔻殼劫津，究宜慎用。</p>
<p>梅陵錢　舌滑白，脈弦緊，食入脘中窒格，此肝逆乘中，脾氣失運。故宜和中疏肝。（六月二十一號丙午初八日。）</p>
<p>雞內金（三錢）　川楝子（三錢）　小青皮（錢半）　蔻殼（錢半）　沉香曲（錢半）　厚朴（一錢）　甘松（四分）　玫瑰花（五朵）　生牡蠣（四錢）　庵䕡子（三錢）　左金丸（八分）　（引）路路通（七個）</p>
<p>四帖。</p>
<p>介按：此肝陽乘侮脾胃，食物不易消化，濕熱聚膈，故治以泄降和胃，否則恐滋脹滿之憂。</p>
<p>白馬山李　舌滑灰黃，脘痛窒格，嘔惡，湯水難入，脈弦濡，食後潮熱，便閉。症屬重險，宜苦辛通降。候正。</p>
<p>淡乾薑（二分）　炒枳實（錢半）　栝蔞皮（五錢）　生白芍（錢半）　炒川連（八分）　滑石（四錢）　炒麥芽（三錢）　佛手花（八分）　仙半夏（錢半）　降香（八分）　炒棗仁（三錢）</p>
<p>清煎二帖。</p>
<p>介按：上不納食，下不通便，此是清陽日結，脘窄陰枯，腑乏津營，胃氣已失下行為順之旨，必須大便通爽，然後脘中納食無阻。但此症已成關格，是屬難治之疴。</p>

<h2>脘痛</h2>
<p>安昌徐（婦）　血虛氣衝，腰腹痛，帶下，背板，脈沉弦，脘中偶痛。宜養血、和胃、平肝。</p>
<p>歸身（二錢）　生牡蠣（四錢）　炒杜仲（三錢）　川楝子（二錢）　茯神（四錢）　草蔻（一錢）小胡麻（三錢）　玫瑰花（五朵）　仙半夏（錢半）　木蝴蝶（四分）　丹參（三錢）</p>
<p>清煎四帖。</p>
<p>又　帶下未除，脈細，舌厚黃，腹痛惡心，仍遵前法加減為妥。</p>
<p>歸身（二錢）　仙半夏（錢半）　覆盆子（三錢）　小胡麻（三錢）　炒白芍（錢半）　廣皮（錢半）　炒杜仲（三錢）　佩蘭葉（錢半）　生牡蠣（四錢）　延胡（錢半）　青木香（五分）</p>
<p>清煎四帖。</p>
<p>介按：腎虛而帶脈失於固束，則背板腰痛而帶下，肝陽逆行而阻氣，則脘腹作痛。總因血虛肝滯所致。故以和胃平肝，補腎養血為主，次以腹痛惡心，又參用理氣之品。</p>
<p>安昌李（文彬）　脘痛窒極，口湧清水欲嘔，脈弦，舌白，中心微黃，肢稍乍冷，宜厥陰陽明同治。（七月二十四日。）</p>
<p>乾薑（二分）　草蔻（一錢）　降香（八分）　瓦楞子（三錢，打吳萸三分拌炒）　川連（八分）桂丁（四分）　厚朴（一錢）　仙半夏（錢半）　穀芽（四錢）　通草（錢半）　玫瑰花（五朵）</p>
<p>清煎三帖。</p>
<p>（又）　脘痛未除，嘔惡已瘥，脈弦，肝橫，舌厚嫩黃。宜疏泄厥陰為治。（七月二十七日）</p>
<p>川楝子（三錢）　枳實（錢半）　栝蔞皮（三錢）　郁李仁（三錢）　延胡（二錢）　炒穀芽（四錢）　薤白（一錢）　玫瑰花（五朵）　草蔻（一錢）　蝟皮（錢半）　厚朴（錢半）</p>
<p>清煎三帖。</p>
<p>又　脘痛較減，脈弦，噯氣上逆，肝木未和。姑宜鎮逆和胃為妥。（八月初四日）</p>
<p>金沸花（三錢，包煎）　川楝子（三錢）　瓦楞子（四錢）　炒穀芽（四錢）　代赭石（三錢）　延胡（二錢）　薤白（一錢）　雞內金（三錢）　仙半夏（錢半）　蝟皮（錢半）　厚朴（錢半）</p>
<p>清煎四帖。</p>
<p>介按：肝氣逆行犯胃，而清水泛溢作嘔，胃脘痹痛。初方通陽泄濁，次則和胃平肝，終則參以鎮逆之品，秩序不亂，故多奏效。</p>
<p>頭蓬何　脘腹聯痛有瘕，脈弦細，舌白，便溺澀。症屬重險，宜治防厥，候政之。（六月二十三日。）</p>
<p>栝蔞皮（五錢）　川楝子（三錢）　郁李仁（三錢）　降香（八分）　薤白（錢半）　草蔻（一錢）廣鬱金（三錢）　玫瑰花（五朵）　生香附（三錢）　通草（錢半）　炒延胡（三錢）</p>
<p>清煎二帖。</p>
<p>又　脘痛未除，大便已通，脈弦細，舌膩，還宜防厥。嘔逆，宜和肝胃為主，候正（六月二十五日。）</p>
<p>仙半夏（二錢）　川楝子（三錢）　九香蟲（三錢）　通草（錢半）　左金丸（八分）　制延胡（二錢）　五穀蟲（三錢，酒炒）　玫瑰花（五朵）　厚朴（一錢）　草豆蔻（一錢）　降香（八分）</p>
<p>清煎二帖。</p>
<p>介按：肝陽侮胃，氣聚成瘕，而脘腹聯痛，此因情懷憂鬱，肝氣無從宣泄。前後兩方，系是泄厥陰以舒其用，和陽明以利其腑。藥取苦味之降，辛氣宣通之義。</p>
<p>安昌黃　嗜酒濕勝，脈弦，肝橫，脘腹痛，宜解酒，分消利氣為主（三月初三日。）</p>
<p>川楝子（三錢）　瓦楞子（四錢）　雞內金（三錢）　雞椇子（三錢）　延胡（三錢）　白蔻仁（八分，沖）　厚朴（一錢）　玫瑰花（五朵）　小青皮（八分）　烏藥（三錢）　降香（八分）</p>
<p>清煎三帖。</p>
<p>介按：水穀之濕內著，脾陽不主默運，胃腑不能宣達，因而肝氣乘侮，以致脘腹聯痛，治以疏脾降胃以平肝，令其氣機運布而漸瘥。</p>
<p>安昌俞　脘腹聯痛較減，脈弦細，腰胯墜，濕熱猶存，還宜前法加減再進。（元月初七日。）</p>
<p>川楝子（三錢）　草蔻（一錢）　雞內金（三錢）　九香蟲（錢半）　延胡（三錢）　茯苓（四錢）木蝴蝶（四分）　玫瑰花（五朵）　生牡蠣（四錢）　豨薟草（三錢）　通草（錢半）　（引）路路通（七顆）</p>
<p>四帖。</p>
<p>又　腹痛已緩，腰胯猶墜，背掣，脈濡細，口甜。宜和肝胃為主。（元月二十九日）</p>
<p>仙半夏（錢半）　豨薟草（三錢）　木蝴蝶（四分）　獨活（錢半）　左金丸（八分）　絲瓜絡（三錢）　廣鬱金（三錢）　玫瑰花（五朵）　茯苓（四錢）　沉香曲（錢半）　通草（錢半）　（引）路路通（七顆）</p>
<p>四帖。</p>
<p>介按：肝陽侮胃，胃虛不能司束筋骨，兼以濕熱凝滯於脾腎之經，阻其氣血流行之隧道，以致腰跨墜痛。且背為陽明之腑，茲被風陽之擾，不能束筋骨而利機關，遂致背掣，故治以平肝和胃，滲濕通絡之劑。</p>
<p>漁莊沈　脘痛較減，脈弦，舌黃根厚，寒熱交作，仍遵前法加減為妥。（四月二十九日）</p>
<p>川楝子（三錢）　棗兒檳榔（三錢）　生香附（三錢）　左金丸（八分）　延胡（二錢）　廣鬱金（三錢）　川樸（一錢）　炒谷牙（四錢）　降香（八分）　通草（錢半）　蔻殼（錢半）　（引）路路通（七枚）</p>
<p>四帖。</p>
<p>介按：脾胃濕熱未清，肝陽乘勢侵侮，而致脘痛寒熱，故以平肝滲濕為治。</p>
<p>大義汪　脘痛已瘥，大便不快，脈弦，舌根黃厚，溲溺赤。宜啟膈、和中、疏肝。（十一月三號九月二十日）</p>
<p>栝蔞皮（三錢）　川楝子（三錢）　炒穀芽（四錢）　瓦楞子（四錢）　薤白（一錢）　延胡（二錢）　郁李仁（三錢）　玫瑰花（五朵）　厚朴（一錢）　通草（錢半）　雞內金（三錢）　路路通（七個）</p>
<p>介按：濕熱阻遏清陽，而肝陽上逆，胃不下行，致大腸失於傳導，小腸失於變化，而二便不爽。然脈象仍弦，故治以泄肝和胃而啟膈通陽。</p>
<p>某　水虧木旺，脈形兩手皆弦，食入脘格，臍下脹悶，暮夜手足心發熱。姑宜養胃、和中　清肝。（三月十二日。）</p>
<p>釵斛（三錢）　雞內金（三錢）　穀芽（四錢）　炒青皮（七分）　省頭草（錢半）　石決明（六錢）　香附（錢半）　綠萼梅（錢半）　左金丸（八分）　川楝子（錢半）　合歡皮（二錢）</p>
<p>清煎三帖。</p>
<p>介按：胃液既虧，脾失健運，而肝陽愈橫，故治以升脾養胃兼柔肝。</p>
<p>蜀阜孫　腹痛聯脘，脈弦，肝橫，噯氣上逆。姑宜疏肝和中。</p>
<p>川楝子（三錢）　雞內金（三錢）　生香附（三錢）　左金丸（八分）　延胡（二錢）　貢沉香（五分）　廣鬱金（三錢）　佛手花（八分）　炒青皮（八分）　炒穀芽（四錢）　枳殼（錢半）　路路通（七枚）</p>
<p>四帖。</p>
<p>介按：肝橫氣滯，胃弱不和，以致腹痛聯脘，噯氣上逆，是屬旋覆代赭石湯之症。今以疏肝和中為治，可謂別出心裁。</p>
<p>遺風龐　營虛胃痛，脈虛，心悸，宜辛甘治之。（又月初三日。）</p>
<p>丹參（三錢）　沉香曲（錢半）　九香蟲（錢半）　生牡蠣（四錢）</p>
<p>清煎四帖。</p>
<p>又　胃痛未除，脈虛左弦，心悸如懸，仍宜養血平肝（六月初八日。）</p>
<p>全當歸（錢半）　川楝子（三錢）　茯神（四錢）　烏藥（錢半）　九香蟲（錢半）　炒延胡（錢半）　炒穀芽（四錢）　玫瑰花（五朵）　生牡蠣（四錢）　草蔻（一錢）　丹參（三錢）</p>
<p>清煎四帖。</p>
<p>介按：五液未能上承，心陽過動，愈耗營陰，是以心悸胃痛。養血平肝，洵治此症之要圖。</p>

<h2>腹痛</h2>
<p>漁莊沈　秋暑內逼，腹痛如絞，大便赤不爽，脈弦濡，舌赤，嘔惡，防痢。（七月二十四日。）</p>
<p>藿香（錢半）　紅藤（錢半）　炒銀花（三錢）　仙半夏（錢半）　左金丸（八分）　廣鬱金（三錢）　滑石（四錢）　萊菔子（三錢）　省頭草（三錢）　川樸（一錢）　枳殼（錢半）</p>
<p>清煎二帖。</p>
<p>介按：暑熱內逼肝經，阻礙氣機，擾亂腸胃，因而腹中絞痛。治以平肝清熱，理氣止痛，方法甚佳。</p>
<p>漁莊沈　腹痛已除，胃氣較振，脈兩手皆弦，肝橫氣滯，陰火不斂。姑宜養胃泄肝。（八月初三日。）</p>
<p>黃草斛（三錢）　左金丸（八分）　焦梔子（三錢）　川楝子（三錢）　生石決明（六錢）　白芍（錢半）　廣鬱金（三錢）　佛手花（八分）　丹皮（三錢）　枳殼（錢半）　木蝴蝶（四分）　（引）路路通（七枚）</p>
<p>二帖。</p>
<p>介按：此係腹痛少減，肝熱未清，胃陰未復之症。</p>
<p>安昌沈　閨女腹痛欲嘔，脈寸弦滑，此由寒溫失調，夾食為患，咳逆。宜開提和中，防變。（九月二十二日。）</p>
<p>桔梗（錢半）　枳殼（錢半）　省頭草（三錢）　青木香（七分）　山楂（四錢）　前胡（錢半）　原鬱金（三錢）　光杏仁（三錢）　紅藤（錢半）　藿香（二錢）　炒麥芽（三錢）</p>
<p>清煎三帖。</p>
<p>介按：寒凝火鬱，挾穢濁食滯而阻遏氣機，故以芳香逐穢，兼以疏泄清肺為治。</p>
<p>某　便瀉已止，脈弦，腹痛腸鳴。姑宜清肝和中。</p>
<p>川楝子（三錢）　新會皮（錢半）　通草（錢半）　生牡蠣（四錢）　茯苓（四錢）　廣鬱金（三錢）　炒白芍（錢半）　玫瑰花（五朵）　左金丸（八分）　炒穀芽（四錢）　廣木香（七分）</p>
<p>清煎四帖。</p>
<p>介按：氣滯濕阻，六腑不和，以致先瀉後痛。但古人以胃為陽土，肝屬陰木，治胃必主泄肝，制其勝也。</p>
<p>安昌陳　腹痛已瘥，脈弦，脘悶氣衝，舌微黃，故宜順氣和中。（五月十七日）</p>
<p>烏藥（二錢）　川楝子（三錢）　刺蒺藜（三錢）　左金丸（八分）　生牡蠣（錢半）　厚朴（一錢）　枳殼（錢半）　玫瑰花（五朵）　沉香曲（錢半）　炒青皮（八分）　仙半夏（錢半）</p>
<p>清煎四帖。</p>
<p>介按：肝熱未清，氣機阻痹，治以泄肝和胃，方極穩妥。</p>
<p>某　腹痛較瘥，脈沉弦，頭暈，仍遵前法加減為妥。（五月十三日）</p>
<p>川楝子（三錢）　刺蒺藜（三錢）　仙半夏（錢半）　沉香曲（錢半）　延胡（二錢）　茯神（四錢）　新會皮（錢半）　玫瑰花（五朵）　生牡蠣（四錢）　雞內金（三錢）　左金丸（八分）</p>
<p>清煎二帖。</p>
<p>介按：肝氣稍平，而內風未熄，以致頭暈。治以柔肝熄風，兼理氣。藉止腹痛而緩暈。</p>

<h2>泄瀉</h2>
<p>遺風王　舌厚黃滑，便瀉不化，脈弦濡，小便不利，此屬濕熱。脘悶，宜和中清利。（六月初八日。）</p>
<p>藿香梗（二錢）　焦六曲（四錢）　蜜銀花（二錢）　豬苓（錢半）　原滑石（四錢）　炒川連（七分）　扁豆衣（三錢）　通草（錢半）　川樸（一錢）　省頭草（三錢）　新會皮（錢半）　（引）荷葉（一角）</p>
<p>二帖。</p>
<p>介按：濕勝便瀉而小便不利，治以清利濕熱。又佐消食扶脾，確是雙方兼顧之療法。</p>
<p>安昌夏　舌滑白，脈弦細，便溏，患小便不多，脘悶，氣衝欲嘔，藉豬苓湯加減。（三月十三日。）</p>
<p>豬苓（錢半）　廣藿香（二錢）　仙半夏（錢半）　大腹皮（三錢）　澤瀉（二錢）　滑石（四錢）左金丸（八分）　玫瑰花（五朵）　茯苓（四錢）　厚朴（一錢）　香附（三錢）</p>
<p>清煎四帖。</p>
<p>又　濕熱未清，腹中脹悶，脈澀滯，便瀉，仍宜豬苓湯加減。</p>
<p>豬苓（錢半）　藿香梗（二錢）　大腹皮（三錢）　左金丸（八分）　澤瀉（三錢）　滑石（四錢）制香附（三錢）　佛手花（八分）　茯苓（四錢）　厚朴（錢半）　佩蘭葉（錢半）</p>
<p>清煎四帖。</p>
<p>介按：內經曰：濕勝則濡泄。難經曰：濕多成五泄。茲以濕勝而脾胃失於健運，不能滲化，方從豬苓湯加減，以藿、樸、香附，玫瑰等味，芳香燥濕，二苓、澤瀉健脾佐運，半夏、左金和胃寬胸，腹皮、滑石泄濕利溲。前後二方，大旨相同，即古人所謂利小便即是實大便之意。</p>
<p>漁莊沈（婦）　便瀉腹痛，右脈澀，左弦細，經停四月，腰痠帶下。心泛，舌微白，咳嗆。姑宜清氣和中。（十月二十日。）</p>
<p>藿香梗（二錢）　訶子肉（錢半）　新會皮（錢半）　桔梗（錢半）　川貝（錢半）　扁豆衣（三錢）　蘇梗（錢半）　生款冬（三錢）　大腹皮（三錢）　廣木香（八分）　蔻殼（錢半）</p>
<p>清煎三帖。</p>
<p>介按：肝腎陰虧，帶脈不固，則腰痠帶下，肝陽橫逆，則腹痛便瀉，上乘於肺則咳嗽心泛。先以清肺扶脾，兼用理氣之品，是急則治標之意。</p>
<p>新田酈　據述便瀉較減，舌根厚，面浮，宜和胃為主。（六月十三日。）</p>
<p>焦六曲（四錢）　新會皮（錢半）　制香附（三錢）　雞內金（錢半）　川連（五分）　赤苓（三錢）　扁豆衣（錢半）　大腹皮（三錢）　仙半夏（錢半）　炒麥芽（三錢）　通草（錢半）　鮮荷葉（一角）</p>
<p>二帖。</p>
<p>介按：便瀉較減，舌厚面浮，此係濕熱未淨，夾食為患。故治以扶脾滲濕，兼消食滯。</p>
<p>大西莊沈　木剋土便瀉，氣滯經阻，脈右澀左弦，舌心光，胃鈍脘悶，腹中有瘕。姑宜泄木和中。（七月二十九日。）</p>
<p>烏藥（二錢）　川楝子（三錢）　炒穀芽（四錢）　左金丸（八分）　茯苓（四錢）　木蝴蝶（四分）　扁豆衣（三錢）　玫瑰花（五朵）　大腹皮（三錢）　炒白芍（錢半）　佩蘭（錢半）</p>
<p>清煎四帖。</p>
<p>介按：肝陽侮胃，氣聚成瘕，陽明隸於衝脈，衝脈即是血海。茲以胃被肝乘，血海亦同時為病，以致經阻。治以泄肝救胃，方極穩健可法。</p>
<p>某　據述胃納稍增，便瀉稀水，緣水濕並歸陽明，宜分利為穩。</p>
<p>茯苓（三錢）　大腹皮（三錢）　原砂仁（七分）　石蓮子（三錢）　澤瀉（三錢）　豬苓（錢半）綠萼梅（錢半）　通草（錢半）　江西術（一錢）　新會皮（錢半）　生白芍（錢半）</p>
<p>清煎四帖。</p>
<p>介按：濕歸陽明而為泄瀉，治以五苓散加減，洵是對症之妙劑。</p>
<p>遺風龐　舌黃滑，脈弦濡，便利腹痛，此屬濕熱。宜治防痢。（六月初九日。）</p>
<p>廣藿香（二錢）　焦六曲（四錢）　青木香（七分）　大腹皮（三錢）　六一散（三錢）　炒川連（五分）　炒枳殼（錢半）　新會皮（錢半）　川樸（一錢）　豬苓（錢半）　通草（錢半）</p>
<p>清煎三帖。</p>
<p>介按：濕熱薄於腸胃，阻遏氣機，而致太陰失健運，厥陰失疏泄，濕蒸熱鬱，傳導失其常度，而便利腹痛。清熱導氣以滲濕，則諸恙自愈。</p>
<p>某　便瀉較減，脈虛，氣機不和，舌滑，宜固腎止瀉，理氣和中。（三月十七日。）</p>
<p>熟地（三錢）　骨碎補（三錢）　炒杜仲（三錢）　炒米仁（四錢）　懷藥（三錢）　茯苓（四錢）新會皮（錢半）　玫瑰花（五朵）　芡實（三錢）　原蠶砂（一錢）　甘松（四分）</p>
<p>清煎十帖。</p>
<p>介按：此是脾腎兼虛為瀉，故君以地黃、杜仲、骨碎補，大滋腎陰，填精補髓，臣以芡實、山藥之健脾，又佐澤瀉、米仁以疏水道之滯，使以芳香諸味之理氣，適氣機轉動，則濕走而腎強脾健矣。</p>
<p>漁莊沈　中虛氣餒，水穀釀濕，成痰作瀉，左脈虛細，右弦濡，舌微黃，心腎不交，寢不成寐。宜治脾腎為主。（五月十三日。）</p>
<p>骨碎補（三錢）　夜交藤（三錢）　炒棗仁（三錢）　炒川連（五分）　炒杜仲（三錢）　懷山藥（三錢）　（辰砂拌）茯神（四錢）　粟殼（一錢）　炒江西術（一錢）　陽春砂（一錢）　百藥煎（三錢）</p>
<p>清煎五帖。</p>
<p>介按：雷少逸曰：昔賢云，脾為生痰之源，肺為貯痰之器。夫痰乃濕氣而生，濕由脾弱而起。蓋為太陽濕土，得濕則健，一被寒濕所侵，遂困頓矣。脾既困頓，焉能掌運用之權衡，則水穀之精微，悉變為痰。痰氣上襲於肺，肺與大腸相為表裡，其大腸固者，肺經自病而為痰嗽，其不固者，則肺病移於大腸而為痰瀉矣。雷氏此言，發明痰瀉之病源，已無餘蘊，深堪欽佩，惟此症系是脾腎兼虛，以致水泛為痰，因大腸不固，遂移病於大腸而作瀉。且以心不藏神，陽不交陰而不寐，故其治法，於固腎健脾之中，參用安神澀腸之品。</p>
<p>朱墅楊（婦）　木剋土便瀉腹滿，脈沉澀，舌黃，心泛欲嘔，癸澀，宜防腹脹。（六月二十日。）</p>
<p>藿香（二錢）　大腹皮（三錢）　新會皮（錢半）　川楝子（三錢）　左金丸（八分）　茯苓（四錢）　扁豆衣（三錢）　玫瑰花（五朵）　佩蘭（錢半）　通草（錢半）　香附（錢半）</p>
<p>清煎三帖。</p>
<p>介按：沖隸陽明，厥陰對峙，今因肝病犯胃，則心泛欲嘔，乘脾則便瀉腹滿，衝脈既被肝逆犯胃而受影響，則癸水難以應期而至。故治以苦辛泄降，俾肝逆稍平，胃氣漸和，則諸恙自退。</p>
<p>安昌馬（婦）　上咳下瀉，形肉日削，脈弱細，經閉脘格，屬棘手重症。宜法候政之。（又六月初五日。）</p>
<p>省頭草（五錢）　訶子肉（三錢）　炒穀芽（四錢）　綠萼梅（錢半）　川貝（三錢）　扁豆衣（三錢）　石蓮子（三錢）　桑白皮（錢半）　制香附（三錢）　新會皮（錢半）　赤苓（四錢）</p>
<p>清煎二帖。</p>
<p>介按：經閉脘格，咳瀉形削，此是脾弱肝橫，生化無權，中氣久虛，血液漸涸，雖用扶脾抑肝之品，究屬難愈之症。</p>
<p>某（稚孩）　嘔渴已瘥，脈澀滯，舌心厚，腹尚大，胃鈍便滑，仍遵前法加減。（二月十一日）</p>
<p>烏梅（一個）　甘松（四分）　赤苓（三錢）　生香附（錢半）　椒目（四分）　炒穀芽（三錢）　厚朴（一錢）　雞內金（錢半）　大腹皮（三錢）　通草（錢半）　綠萼梅（一錢）</p>
<p>清煎三帖。</p>
<p>介按：肝胃濕熱久蘊，脾弱而致腹大便滑，當然以扶脾滲濕，兼清肝胃之熱。</p>
<p>某（稚孩）　腹形不減，氣逆便溏，脈弦細，舌薄滑，身微熱，口渴，仍宜和中分消，防疳。（六月二十四日）</p>
<p>廣藿香（二錢）　省頭草（錢半）　雞內金（錢半）　川楝子（錢半）　宣木瓜（錢半）　甘松（四分）　五穀蟲（三錢）　綠萼梅（一錢）　大腹皮（三錢）　通草（錢半）　香附（錢半）</p>
<p>清煎三帖。</p>
<p>介按：食物不節，脾胃受創，肝陽乘侮，而致腹膨便瀉，故治以和肝健脾，清導清熱。</p>
<p>漁莊沈　女孩蟲氣內著，腹痛乍作乍止，脈弦濡，便溏。姑宜安胃和中。（二月十五日。）</p>
<p>烏梅（一個）　川椒（十四粒）　五穀蟲（三錢）　廣木香（八分）　川楝子（三錢）　延胡（二錢）　茯苓（四錢）　茉莉花（八分）　生白芍（錢半）　甘松（四分）　佩蘭（三錢）</p>
<p>清煎二帖。</p>
<p>介按：疳瀉治法，不離脾胃，約分數種，如胃滯當消，脾弱宜補，因熱則苦寒清火，因冷則辛溫健脾，有蟲則用殺蟲之品，因虛則補本臟之母。今此案系是濕熱內滯，夾著蟲積，以致腹痛便溏。治宗安胃丸之意，而以健脾驅蟲，理氣導滯，洵治蟲積腹痛而兼便溏之良方。</p>
<p>遺風龐　女孩瘄後受暑，夾食化瀉，脈弦，舌黃，口渴，宜清熱和中。</p>
<p>藿香梗（二錢）　炒川連（八分）　百藥煎（三錢）　銀花（二錢）　六一散（四錢）　扁豆衣（三錢）　生白芍（錢半）　麥芽（三錢）　佩蘭（三錢）　通草（錢半）　新會皮（錢半）</p>
<p>清煎二帖。</p>
<p>又　時瘄後，便瀉腹痛，右脈弦，潮熱似瘧。宜和中清利。（七月十三號五月二十九日。）</p>
<p>豬苓（三錢）　六一散（四錢）　青蒿子（八分）　炒川連（八分）　澤瀉（三錢）　大腹皮（三錢）　蔻殼（錢半）　新會皮（錢半）　赤苓（四錢）　扁豆衣（三錢）　通草（錢半）</p>
<p>清煎三帖。</p>
<p>又　瘄後便瀉化利，腹痛不爽，胃納較增，舌滑微黃。宜清熱、化氣、分利。（七月十七號丁未初四日）</p>
<p>炒川連（八分）　萊菔子（三錢）　大腹皮（三錢）　冬瓜皮（三錢）　生白芍（錢半）　六一散（四錢）　廣皮（錢半）　焦六曲（四錢）　枳殼（錢半）　青木香（八分）　生米仁（四錢）</p>
<p>清煎二帖。</p>
<p>介按：麻疹又名曰痧，吾紹通稱曰瘄，江蘇總名曰疹。其實皆一病也，無非因地異名耳。葉氏治法，分晰四時，最為簡明。其言曰：春令發痧，從風溫治，夏季從暑風，暑必兼濕，秋令從熱爍燥氣，冬月從風寒。又曰：疹宜通泄，泄瀉為順。下痢五色者亦不妨。惟二便不利者，最多凶症，治法大忌止瀉。今此案適在夏月，吸受暑熱，兼挾濕食化瀉，治以清暑，最屬正當。逮日久而濕熱內陷，移於大腸，治以導滯而清濕熱，大旨近是。</p>

<h2>痢</h2>
<p>遺風龐　便痢未除，脈弦急，氣不和，舌厚黃滑，潮熱。姑宜清暑和中。（八月十四號戊申初三日。）</p>
<p>焦六曲（四錢）　青蒿子（錢半）　大腹皮（三錢）　藿香梗（二錢）　六一散（三錢）　扁豆衣（三錢）　省頭草（二錢）　通草（錢半）　川樸（一錢）　炒麥芽（三錢）　仙半夏（錢半）</p>
<p>清煎三帖。</p>
<p>介按：暑濕痢由於濕熱鬱滯腸胃，每至午後潮熱，治以清暑滲濕，最為適當。</p>
<p>後馬周　腸澼久累，脈弦，舌滑，頭暈而疼。宜黃連阿膠湯治之。（二月十二日。）</p>
<p>炒川連（八分）　炒白芍（錢半）　白頭翁（錢半）　北秦皮（錢半）　赤茯苓（四錢）　枳殼（錢半）青木香（八分）　草決明（三錢，即青葙子）　炒驢膠（錢半）　荊芥炭（錢半）　通草（錢半）　（引）荷葉（一角）</p>
<p>一帖。</p>
<p>介按：古之所謂腸澼下血，即今之所謂赤痢也。茲以熱入厥陰而為下痢，肝陽上越而為頭暈，治以黃連阿膠合白頭翁湯，借清肝熱而滋陰。</p>
<p>某　休息下痢，脈弦濡，跗浮脘悶，此濕熱蘊蓄，宜和中清利。（三月十七日。）</p>
<p>秦艽（錢半）　藿梗（二錢）　炒枳殼（錢半）　豬苓（錢半）　厚朴（一錢）　原滑石（四錢）　青木香（七分）　澤瀉（三錢）　大腹皮（三錢）　冬瓜皮（三錢）　新會皮（錢半）</p>
<p>清煎三帖。</p>
<p>又　休息下痢，圊而不爽，脈澀滯，胃鈍，濕熱猶存，舌微白。宜和中清利（三月二十日。）</p>
<p>藿梗（二錢）　左金丸（八分）　川楝子（三錢）　大腹皮（三錢）　滑石（四錢）　炒枳殼（錢半）　赤苓（三錢）　石蓮子（三錢）　厚朴（一錢）　廣木香（七分）　新會皮（錢半）</p>
<p>清煎三帖。</p>
<p>介按：休息痢疾，多由病人貪食油膩，或由醫者早投滋陰，以致濕熱留戀，滯而不去。茲因濕熱久蓄，傷及脾臟中氣，中氣一傷，則脾不能為胃行其津液，津液鬱滯，則不能下潤於大腸，所以圊而不爽。初方從藿樸胃苓湯加減，次則參用平肝和胃。此後尚須參用補氣之品，庶奏桴鼓之應。</p>

<h2>瘧</h2>
<p>瓜瀝楊　太陰濕瘧，脈弦濡細，面跗浮，食人脘中脹悶。姑宜滲濕和中（十月十七日。）</p>
<p>草果仁（一錢）　桂枝（八分）　生香附（三錢）　仙半夏（錢半）　厚朴（錢半）　酒炒淡芩（錢半）　滑石（四錢）　蔻殼（錢半）　棗檳（三錢）　威靈仙（錢半）　栝蔞皮（三錢）</p>
<p>清煎三帖。</p>
<p>又　瘧邪猶來，脈弦濡，舌滑，濕熱未清，仍遵前法加減為妥。</p>
<p>草果（一錢，去殼）　桂枝（八分）　炒茅朮（錢半）　酒炒常山（一錢）　厚朴（錢半）　酒炒淡芩（錢半）　炒青皮（八分）　新會皮（錢半）　棗檳（三錢）　姜半夏（錢半）　赤苓（四錢）　（引）老薑（三片）</p>
<p>三帖。</p>
<p>介按：濕瘧治法，當辨濕重於熱者，藿樸二陳湯加減。熱重於濕者，蒼朮白虎湯加減。此方系從達原飲加以滲濕之品，洵是濕重熱輕之正法。</p>
<p>安昌陳　氣虛邪留，寒熱久羈。脈虛左弦。夜寐少安。姑宜補中益氣湯加減。（四月三十號甲辰十四日。）</p>
<p>東洋參（錢半）　江西術（一錢）　制首烏（三錢）　秦艽（錢半）　酒炒柴胡（八分）　陳皮（錢半辰砂拌）　茯神（四錢）　威靈仙（錢半）　當歸（錢半）　清炙耆（三錢）　遠志肉（八分）</p>
<p>清煎四帖。</p>
<p>又　益氣升陽。寒熱較差，脈虛，按之弦細，邪猶未淨，仍遵前法加減為妥（五月九號甲辰二十三日。）</p>
<p>東洋參（錢半）　升麻（五分）　仙半夏（錢半）　制首烏（三錢）　酒炒柴胡（八分）　陳皮（錢半）炒江西術（錢半）　淮牛膝（三錢）　當歸（二錢）　清炙耆（三錢）　炙甘草（八分）　（引）紅棗（四枚）</p>
<p>四帖。</p>
<p>介按：柯韻伯曰：李杲知其為勞倦傷脾，穀氣不勝，陽氣下陷陰中而發熱，制補中益氣之法。又曰：凡脾胃一虛，肺氣先絕，故用黃耆固皮毛護腠理，不令自汗，元氣不足，懶言氣喘，人參以補之，炙甘草之甘以瀉心火而除煩，補脾胃而生氣。此三味除煩熱之聖藥也。佐白朮以健脾，當歸以和血，氣亂於中，清濁相干，用陳皮以理之，且以散諸甘藥之滯，胃中清氣下陷，用柴胡、升麻氣之輕而味之薄者，引胃氣以上騰，復其本位，便能升浮以行生長之令矣。今此案系是氣虛邪留，瘧久不愈，用補中益氣湯以升脾胃之清氣。初因夜不安寐，故加茯神、遠志以安神，因其寒熱久羈，又加首烏、靈丹、秦艽以退邪，次方參入半夏、牛膝等味，退邪補虛，標本兼顧，洵是虛瘧之良方。後悉此人，年已四旬以外，患瘧年餘，服此方數劑，果然告痊。</p>

<h1>卷四</h1>

<h2>腫脹</h2>
<p>遺風龐　暑熱內著，口腹不慎，化脹，脈濡左弦，舌白罩灰，嗆咳脘悶，最重之症。宜分消，候正。（八月十一號丁未二十九日。）</p>
<p>金沸花（三錢包煎）　赤小豆（四錢）　大腹皮（三錢）　冬瓜皮（三錢）　赤苓（四錢）　光杏仁（三錢）　炒枳殼（錢半）　雞內金（三錢）　前胡（錢半）　蔻殼（錢半）　通草（錢半）</p>
<p>清煎三帖。</p>
<p>復診　浮腫消減，脈浮濡，舌滑白，嗆咳音嘶，脘中略和。仍宜分消為穩。（八月十四號戊申初二日。）</p>
<p>金沸花（三錢，包煎）　桑白皮（三錢）　冬瓜皮（三錢）　萊菔子（三錢）　赤苓（四錢）　光杏仁（三錢）　原滑石（四錢）　川萆薢（三錢）　大腹皮（三錢）　杜赤小豆（三錢）　雞內金（三錢）　（引）路路通（七個）</p>
<p>三帖。</p>
<p>三診　浮腫已退，脈弦勁，嗆咳音嘶，舌滑。宜清肺利濕為妥。（八月二十號戊申初八日。）</p>
<p>霜桑葉（三錢）　生米仁（四錢）　射干（錢半）　白前（錢半）　石決明（四錢）　川貝（錢半）茯苓（四錢）　粉丹皮（二錢）　光杏仁（三錢）　冬瓜子（四錢）　通草（錢半）　（引）鮮枇杷葉（五片）</p>
<p>四帖。</p>
<p>介按：暑熱外受，濕自內起，無形夾有形之邪，阻遏肺氣下降之司而為咳嗽，乘入脾臟而為腫脹。治法仿徐之才輕可去實之意，而以苦降肅肺，辛淡滲濕，故能奏效。最後一診，浮腫已退，而亦以清肺滲濕為治，方法井井有條。</p>
<p>柯橋李　高年痰濕膠固，腹滿，跗浮，溺少，脈濡細，舌厚膩，微灰兩邊白，嗆咳。最重之症。（八月九號丁未二十七日。）</p>
<p>仙半夏（錢半）　炒蘇子（二錢）　雞內金（三錢）　麥芽（三錢）　川樸（錢半）　原滑石（四錢）　炒萊菔子（三錢）　橘紅（一錢）　赤苓（四錢）　光杏仁（三錢）　大腹皮（三錢）　（引）路路通（七個）</p>
<p>三帖。</p>
<p>介按：濕壅三焦，肺氣不降，而脾陽不運，則跗腫腹滿，嗆咳嗽痰，喘脹要旨，開鬼門以取汗，潔淨腑以利水，無非宣通表裡，務在治病源頭。故以清肅肺氣，滲濕導滯為治。但高年患此，是屬重險之候。</p>
<p>盛陵徐　腹中仍屬脹悶，食入尤甚，脈澀滯，舌滑尖紅，大便溏，跗浮，究屬重極之症。（六月初五日。）</p>
<p>烏藥（二錢）　雞內金（三錢）　冬瓜皮（三錢）　炒穀芽（四錢）　左金丸（八分）　新會皮（錢半）　赤苓（四錢）　佛手花（八分）　通草（錢半）　厚朴（一錢）　枳殼（錢半）</p>
<p>清煎四帖。</p>
<p>介按：濕熱阻滯，肝陽橫逆，致脾胃失於健運，而便溏跗浮。治以清肝扶脾兼滲濕，庶免腹滿之虞矣。</p>
<p>安昌沈（厚記）　濕久化腫，脈澀滯，舌滑，溲數，脾陽受傷，非輕藐之症。（八月二十九日。）</p>
<p>帶皮苓（四錢）　豬苓（錢半）　大豆卷（三錢）　光杏仁（三錢）　桂枝（五分）　車前（三錢）原滑石（四錢）　杜赤小豆（三錢）　澤瀉（三錢）　冬瓜皮（三錢）　萊菔子（三錢）</p>
<p>清煎三帖。</p>
<p>又　浮腫稍減，脈尚澀滯，舌滑，溲數，脾陽傷殘，究非輕藐之症。（九月初四日。）</p>
<p>商陸（一錢）　赤苓（三錢）　炒菔子（三錢）　海金砂（四錢）　桂枝（五分）　車前（三錢）　滑石（四錢）　新會皮（錢半）　澤瀉（三錢）　冬瓜皮（三錢）　大腹皮（三錢）</p>
<p>清煎三帖。</p>
<p>介按：濕漫三焦，郁傷脾陽，故治以通陽祛濕為主。方從河間桂苓甘露飲脫胎，恰是對症良劑。</p>
<p>後馬金　室女食積化腫，脈濡右大，舌滑，便溺澀。宜消食消腫。</p>
<p>焦六曲（四錢）　大腹皮（三錢）　通草（錢半）　冬瓜皮（三錢）　炒萊菔子（二錢）　赤苓（四錢）　枳殼（錢半）　炒麥芽（三錢）　陳皮（一錢）　車前（三錢）　杜赤小豆（四錢）</p>
<p>清煎三帖。</p>
<p>介按：食積傷脾，脾失運化之權，更兼濕熱壅滯，溢於皮膚而化腫。治以消積逐水，則浮腫自退。</p>
<p>後馬金　閨女舌微黃，脈弦濡，便利稀水，浮腫已退。宜分消為穩。（八月二十九日。）</p>
<p>廣藿梗（二錢）　炒川連（八分）　澤瀉（三錢）　雞內金（三錢）　滑石（四錢）　豬苓（錢半）炒菔子（三錢）　通草（錢半）　省頭草（三錢）　厚朴（一錢）　新會皮（錢半）</p>
<p>清煎三帖。</p>
<p>介按：濕熱久蘊，脾氣未復化瀉，再以清熱滲濕，理氣消積，俾氣行濕退，則腫瀉均瘥。</p>
<p>遺風包　痢後浮腫腹大，脈澀滯，舌滑白，溺少。宜和中分消。（七分十四日。）</p>
<p>大腹皮（三錢）　焦六曲（四錢）　生香附（錢半）　炒枳殼（二錢）　澤瀉（三錢）　炒車前（三錢）　赤苓（四錢）　炒萊菔子（二錢）　冬瓜皮（三錢）　防己（三錢）　通草（錢半）</p>
<p>清煎二帖。</p>
<p>介按：痢後脾虛濕滯，故治法仍以扶脾滲濕。</p>
<p>漁莊王　伏暑濕熱，脈濡，舌滑微黃，跗腫溲赤，尤宜防脹。（八月二十九日。）</p>
<p>棉茵陳（三錢）　赤苓（四錢）　通草（錢半）　蔻殼（錢半）　杜赤小豆（四錢）　廣皮（錢半）省頭草（三錢）　藿香梗（二錢）　仙半夏（錢半）　扁豆衣（三錢）　焦六曲（三錢）</p>
<p>清煎三帖。</p>
<p>介按：濕為黏膩之邪，暑為熏蒸之氣，兩相膠錮，病勢最為淹纏。今以跗腫溲赤，治以芳香理氣，辛淡滲濕，方法俱佳。若日久而濕濁凝滯，傷殘脾陽，即防化脹之慮。</p>
<p>遺風金　痰濕化腫，左脈濡細，右寸關弦滑，嗆咳氣急，胸滿溺少。症非輕藐，宜治防變。</p>
<p>金沸花（三錢，包煎）　炒車前（三錢）　通草（錢半）　川貝（錢半）　沉香曲（錢半）　廣橘紅（一錢）　海石（三錢）　光杏仁（三錢）　杜赤小豆（三錢）　白前（錢半）　地骷髏（三錢）</p>
<p>清煎三帖。</p>
<p>介按：余閱葉香岩《指南醫案》，內有朱姓一症，適與此案證治相同，爰節錄之，以資質證。其述病源曰：初因面腫，邪干陽位，氣壅不通，二便皆少，桂附不應，即與導滯。滯屬有質，濕熱無形，入肺為喘，乘脾為脹，六腑開合皆廢，便不通爽，溺短渾濁，時或點滴，視其舌絳口渴，腑病背脹，臟病腹滿，更兼倚倒左右，腫脹隨著處為甚，濕熱布散三焦，陰眼難以決勝矣。經云：從上之下者治其上。又云：從上之下而甚於下者，必先治其上，而後治其下。此病逆亂紛更，全無頭緒，皆不辨有形無形之誤。姑以清肅上焦為先（方用飛滑石三錢，大杏仁十位，生苡仁三錢，白通草一錢，鮮枇杷葉去毛三錢，茯苓皮三錢，淡豆豉錢半，黑山梔殼一錢，急火煎，五分服）。葉氏發明病源與誤治之由，以及應當治法，分辨明晰，深堪則效。今此案與葉氏所述，適相符合，而療法亦意旨相同。惟藥味則大同小異。前哲後賢，如出一轍，正如先哲所謂活法法：中多活法，奇方方外有奇方，今以此案徵之，益信。</p>
<p>漁莊沈（霖記）　木剋土化脹，兩跗皆腫，脈沉弦，便瀉不爽，氣逆溺少，非輕藐之症。（七月初三日）</p>
<p>大腹皮（三錢）　雞內金（三錢）　新會皮（錢半）　川樸（一錢）　車前（三錢）　沉香（五分，沖）　枳殼（錢半）　炒米仁（四錢）　通草（錢半）　省頭草（三錢）　杜赤豆（四錢）</p>
<p>清煎三帖。</p>
<p>又　浮腫已退，脈虛細，腰痛，胃納尚和。宜《金匱》腎氣丸加減治之。</p>
<p>生地（四錢）　陳萸肉（錢半）　淮牛膝（三錢）　豨薟草（三錢）　茯苓（四錢）　丹皮（一錢）炒車前（三錢）　炒杜仲（三錢）　懷藥（三錢）　澤瀉（三錢）　五加皮（三錢）</p>
<p>清煎五帖。</p>
<p>又　諸款悉減，脈虛，夜不安寐，臨晚跗浮，嘈雜已瘥，仍遵前法加減為妥。（九月二十二日。）</p>
<p>當歸（錢半）　夜交藤（三錢）　仙半夏（錢半）　穀芽（四錢）　炒川連（六分）　茯神（四錢）新會皮（錢半）　海桐皮（三錢）　柏子仁（三錢）　棗仁（三錢）　豨薟草（三錢）</p>
<p>清煎四帖。</p>
<p>又　諸款悉瘥，脈虛細，臨晚跗浮酸楚。宜分消為妥。（九月二十七日。）</p>
<p>生牡蠣（四錢）　杜赤豆（三錢）　海桐皮（三錢）　大腹皮（三錢）　澤瀉（三錢）　茯苓（四錢）　冬瓜子（三錢）　通草（錢半）　防己（錢半）　豨薟草（三錢）　柏子仁（三錢）</p>
<p>清煎四帖。</p>
<p>又　兩跗猶腫，脈澀滯，面浮。宜分消，防化脹。（十月初三日。）</p>
<p>生牡蠣（四錢）　冬瓜子（三錢）　新會皮（錢半）　豨薟草（三錢）　澤瀉（三錢）　赤苓（四錢）　豬苓（錢半）　五加皮（三錢）　防己（錢半）　商陸（錢半切忌甜）　大腹皮（三錢）</p>
<p>清煎四帖。</p>
<p>介按：李中梓曰：腫脹之病，諸經雖有，無不由於脾肺腎者。蓋脾主運行，肺主氣化，腎主五液，凡五氣所化之液，悉屬於腎，五液所行之氣，悉屬於肺。轉輸二臟以制水生金者，悉屬於脾。故腫脹不外此三經也。然其治法，有內外上下虛實，不可不辨也。在外則腫，越脾湯、小青龍湯證也。在內則脹，十棗湯、神佑丸證也。在上則喘，葶藶大棗湯、防己、椒目葶藶大黃丸證也。在下則小便閉，沉香琥珀丸、疏鑿飲子證也。此皆治實之法。若夫虛者，實脾飲、腎氣丸證也。李氏此言，發明盡致，但此症初起，系是情懷少暢，以致清氣不轉，肝木侮脾，而濕熱停滯化脹，第一方宗雞金散加減，以運氣消積，參用滲濕之品。次則因其利久傷陰，宗腎氣湯意以養陰滲濕，補而不滯，利而不伐，洵治虛脹之良方。故至三診而諸款悉減。然此時腎液未充，心神未安，則宗安神丸以補心而滲濕，四五兩方，皆以牡蠣澤瀉散加減，以分消下焦未淨之濕熱，步驟井然，故多奏效。但三診方中，有仍遵前法加減之言，而且浮腫已退，則此診以前，似乎遺失一方，深懷未窺全豹之感。</p>

<h2>遺精</h2>
<p>上灶屠　屢有遺滑，脈弦細，氣滯，腹中不和，嗆咳，舌微灰。宜清肺胃為主。</p>
<p>北沙參（三錢）　光杏仁（三錢）　生牡蠣（四錢）　預知子（三錢，即八月札）　懷山藥（四錢）　川貝（二錢，不杵）　茯神（四錢）　綠萼梅（錢半）　石蓮子（三錢，杵）　砂殼（錢半）　穀芽（四錢）</p>
<p>清煎五帖。</p>
<p>介按：腎陰久虧，陽升無制，沖肺則嗆，精滑則遺。治法於攝固之中，參以補脾養胃而清肺，乃是上損從陽，下損從陰之義。</p>
<p>某　咳嗽較減，脈虛細，心腎並虧，濕未淨，屢次滑精。宜清養肝腎，佐清肺滲濕。（四月十八日。）</p>
<p>釵斛（三錢）　桑寄生（三錢）　甜杏仁（三錢）　冬瓜子（三錢）　生牡蠣（四錢）　懷藥（三錢）　川貝（錢半）　豨薟草（三錢）　炒杜仲（三錢）　生米仁（四錢）　絲瓜絡（三錢）</p>
<p>清煎四帖。</p>
<p>介按：鄒滋九曰：遺精一症，前賢各有明辨，其義各載本門，茲不復贅。大抵此症變幻雖多，不越乎有夢、無夢、濕熱三者之範圍而已。古人以有夢為心病，無夢為腎病，濕熱為小腸膀胱病。夫精之藏制雖在腎，而精之主宰則在心，其精血下注，濕熱混搖遺滑者，責在小腸膀胱。今此案病在心腎，陰虛不攝，而兼濕熱留著，若陽升無制，乘肺則咳，腎精不固，下注則遺。如用固攝，決難應病。清肺滲濕，兼以養心補腎，庶克有濟。</p>
<p>安昌高　痰紅已除，脈形小數，溺白，精關不固，溺後有淫。宜固補心腎為妥。（七月十八日。）</p>
<p>東洋參（一錢）　桑螵蛸（三錢）　遠志肉（八分）　蓮鬚（一錢）　懷藥（三錢）　抱木茯神（四錢）　生牡蠣（四錢）　新會皮（錢半）　生地（四錢）　炒驢膠（錢半）　炒杜仲（三錢）</p>
<p>清煎五帖。</p>
<p>介按：汪昂曰：心君火也，君火一動，相火隨之。相火寄於肝膽，腎之陰虛則精不藏，腎之陽強則氣不固。今此案是肝陽上冒，故致痰中兼紅，腎虛不攝，則溺後有淫，治以固攝助納，又佐安神寧氣，氣固則精自守矣。</p>
<p>漁莊沈（湘記）　陰火已斂，脈虛細，心腎不交則精滑，舌白稍潤。宜補心丹加減。（五月十九日）</p>
<p>丹參（三錢）　生地（三錢）　金櫻子（三錢）　生牡蠣（四錢）　茯神（四錢）　遠志肉（八分）懷藥（三錢）　柏子仁（三錢）　西洋參（一錢）　炒棗仁（三錢）　新會皮（錢半）</p>
<p>清煎四帖。</p>
<p>又　精滑未除，脈細勁，舌微白，大便難，有血。宜補益潤腸。（五月二十八日。）</p>
<p>太子參（一錢）　龜版（四錢）　麻子仁（三錢）　新會皮（錢半）　茯神（四錢）　丹皮（三錢）金櫻子（三錢）　生牡蠣（四錢）　生地（三錢）　遠志肉（八分）　穭豆衣（三錢）</p>
<p>清煎四帖。</p>
<p>介按：經云：神氣舍心，精神畢具。又曰：心者生之本，神之舍也。今以腎液未能上承於心，而心不藏神，心神一動，腎精遺泄，故治以補心丹加減，藉滋腎液而安心神。但其陰液已虛，未能腴潤於大腸，腸中宿垢，因致秘結不通。傳導之官，失其常度，故次方於滋陰潛陽之中，參用麻仁、生地以潤腸通便，俾得腎液漸充，則便自通暢，而精固神安。</p>

<h2>遺尿</h2>
<p>老埠頭壽　瀉猶未除，左脈虛細，右濡，小便不禁。姑宜分清養陰。</p>
<p>生地（三錢）　川萆薢（三錢）　淡秋石（八分）　潼蒺藜（三錢）　懷山藥（三錢）　車前子（三錢）茯苓（四錢）　生米仁（四錢）　澤瀉（三錢）　桑螵蛸（錢半）　石蓮子（三錢）　（引）陳淘米泔水（並煎）</p>
<p>介按：經曰：下虛則遺尿。又曰：膀胱不約為遺尿。今以膀胱失約，無氣以固，而致小便不禁。又因脾氣未健，濕熱未淨，而瀉猶未除，故治法於滲濕扶脾之中，參用縮小便之味。</p>

<h2>淋濁</h2>
<p>大義汪　濕熱阻氣，舌白厚，脘格，潮熱，小便澀痛，便結。宜清利。（九月十七日。）</p>
<p>瞿麥（三錢）　焦梔子（三錢）　海金沙（四錢）　蕤仁（錢半）　車前（三錢）　淡芩（錢半）　木通（錢半）　澤瀉（三錢）　生牡蠣（四錢）　滑石（四錢）　川萆薢（三錢）　兩頭尖（七十粒，包）</p>
<p>三帖。</p>
<p>介按：丹溪謂五淋症，濕熱阻竅居多，今兼氣閉而小便澀痛，治以滲濕清熱，固屬佳妙。此方從八正散加減，合牡蠣澤瀉以通調水道，下輸膀胱。且其便結系是腑氣不用，故用兩頭尖以導濁。</p>
<p>東浦陳　濕熱下注，溲溺赤流，脈濡右弦，舌滑跗腫。姑宜分清養陰為主。</p>
<p>川萆薢（三錢）　生地（四錢）　綿茵陳（三錢）　川柏（錢半，鹽水炒）　澤瀉（三錢）　懷藥（三錢）　生米仁（四錢）　通草（錢半）　車前（三錢）　丹皮（三錢）　豨薟草（三錢）</p>
<p>清煎四帖。</p>
<p>介按：膀胱者，州都之官，津液藏焉，氣化則能出也。茲因腎陰氣逆於少腹，阻遏膀胱之氣化，以致小便短赤，足跗浮腫，故此方既利膀胱之濕，復滋腎臟之液。</p>
<p>漁莊沈　身熱已退，脈弱，舌滑，小溲仍屬淋漓。宜清利太陽。（八月初三日。）</p>
<p>西琥珀（八分）　銀花（錢半）　木通（錢半）　海金沙（四錢）　車前（三錢）　六一散（三錢）焦梔子（三錢）　石葦（二錢）　青木香（八分）　瞿麥（三錢）　省頭草（三錢）　陳淘米泔水（並煎）</p>
<p>三帖。</p>
<p>介按：濕熱下注成淋，清利之法極是。</p>
<p>安昌茹　濕熱下注，小便澀痛帶血，脈濡，肢冷背寒，舌黃。宜分清利濕為主。（二月十八日。）</p>
<p>川萆薢（三錢）　西琥珀（八分沖）　蒲黃（錢半）　赤苓（四錢）　澤瀉（二錢）　炒車前（三錢）　當歸（三錢）　木通（錢半）　海金沙（四錢）　血餘炭（一錢）　粉丹皮（錢半）</p>
<p>清煎四帖。</p>
<p>又　濕熱未清，溺後仍屬有血，惟澀痛較差，脈濡，舌滑，借四物湯加減治之。（四月九號癸卯二十三日。）</p>
<p>生地（四錢）　蒲黃（錢半）　生甘梢（八分）　焦梔子（三錢）　當歸（錢半）　血餘炭（一錢）澤瀉（三錢）　瞿麥（錢半）　丹皮（三錢）　炒車前（三錢）　木通（錢半）</p>
<p>清煎四帖。</p>
<p>又　尿血遇勞即發，脈濡細，舌黃滑，濕熱蘊蓄。姑宜涼血、清熱、分利。（五月十五號甲辰二十九日。）</p>
<p>生地（四錢）　血餘炭（一錢）　川萆薢（三錢）　淡竹葉（錢半）　丹皮（三錢）　茯苓（四錢）銀花（錢半）　木通（錢半）　焦梔子（三錢）　澤瀉（三錢）　生米仁（四錢）</p>
<p>清煎四帖。</p>
<p>又　尿血屢發屢瘥，脈澀數，肺氣窒痹，胸次痰阻。姑宜瓜蔞薤白湯主之。（元月初八日。）</p>
<p>栝蔞皮（三錢）　光杏仁（三錢）　炒蒲黃（錢半）　白薇（三錢）　薤白（一錢）　廣鬱金（三錢）　血餘炭（一錢）　兒茶（一錢）　焦梔子（三錢）　丹皮（二錢）　通草（錢半）</p>
<p>清煎三帖。</p>
<p>介按：陰虧而濕熱下墜，致尿管阻痹而為血淋，初方宗分清飲意，再加琥珀、赤苓。以通血利竅，是通則不痛，痛隨利緩之義，故能澀痛較差，次方雖是四物湯加減，適與錢氏導赤之意相符，以清小腸火腑之熱，乃是滋陰涼血之方。但其陰未固攝，濕未退淨，以致過勞即發。且濕熱蘊蓄不解，屢次化熱劫液，又進清熱滲濕，兼以涼血之劑，而血餘炭尤擅一方之長，在愚見尚堪兼用陳棕灰，則更為特效。至第四診，濕化痰涎，阻痹肺氣，又用栝蔞薤白湯以除胸次之痰。此等方案，洵堪作為後學之師範。</p>
<p>茅蓬陳　濕火下注，莖腫作痛已潰，脈弦濡，舌白厚。宜龍膽瀉肝湯治之。（四月十七日。）</p>
<p>龍膽炭（七分）　銀花（三錢）　澤瀉（三錢）　綿茵陳（三錢）　當歸（錢半）　生甘梢（七分）條芩（錢半）　生米仁（四錢）　炒車前（三錢）　赤茯苓（四錢）　海金沙（四錢）</p>
<p>清煎四帖。</p>
<p>介按：濕熱下注前陰，用龍膽瀉肝湯以清肝膽之濕熱，但恐過於滲利，耗傷津液，故佐當歸以養肝。</p>
<p>長巷沈　濁流未除，小便仍屬澀痛，脈濡，氣口滑，舌根黃，咳逆，仍遵前法加減為妥。（元月二十九日）</p>
<p>瞿麥（三錢）　栝蔞仁（三錢）　西琥珀（八分）　川萆薢（三錢）　車前（三錢）　木通（錢半）丹皮（二錢）　光杏仁（三錢）　甘草梢（八分）　海金沙（四錢）　血餘炭（一錢）　（引）陳淘米泔水（並煎）</p>
<p>四帖。</p>
<p>介按：肺主氣化，今被濕熱阻滯，以致濁流未止，故治以清肺滲濕，通血利竅為主。</p>
<p>東關金　心腎不交，陰分尚虧，脈細數，手心熱，精竭形怯，小溲乍赤。宜養陰清熱為主。（七月一號五月十七日。）</p>
<p>細生地（三錢）　釵斛（三錢）　夜交藤（三錢）　川薢（三錢）　川柏（一錢，鹽水炒）　茯神（四錢）　遠志肉（八分）　生甘梢（八分）　淡秋石（八分沖）　地骨皮（三錢）　生米仁（四錢）</p>
<p>清煎四帖。</p>
<p>復診　養陰清熱，精濁較差，脈尚細數，耳鳴，寢寐恍惚，仍遵前法加減為主。（五月二十四日。）</p>
<p>細生地（四錢）　釵斛（三錢）　川萆薢（三錢）　茯神（四錢）　懷山藥（三錢）　炒遠志（八分）　澤瀉（三錢）　生米仁（四錢）　淡秋石（八分，沖）　骨碎補（三錢）　夜交藤（三錢）　鮮帶心蓮子（七粒）</p>
<p>八帖。</p>
<p>介按：此係心神常動，腎精暗泄，以致有形敗濁，阻於隧道，隨尿而出。前後兩方，均是安神寧心，養陰通濁之品，洵屬對症之藥。</p>

<h2>疝氣</h2>
<p>安昌陳　濕熱鬱遏，臍下脹悶，睪丸偏墜，脈澀滯，舌黃膩。宜疏利為主。（二月二十四日。）</p>
<p>川楝子（三道）　橘核（三錢）　雞內金（二錢）　川萆薢（三錢）　延胡（三錢）　赤苓（四錢）香附（三錢）　玫瑰花（五朵）　炒青皮（八分）　澤瀉（三錢）　通草（錢半）　（引）兩頭尖（七十粒）</p>
<p>四帖。</p>
<p>介按：此係七疝中之氣疝，其脈澀滯，而舌黃膩，是夾濕熱之候。方從《濟生》橘核丸加減，確治睪丸偏大，痛引臍腹之專劑。茲又加以萆薢、赤苓、澤瀉等味以利濕，用兩頭尖以濁導濁，治法極是。若再參用荔枝核、山楂核等味，尤為靈效，此鄙人所歷驗不爽者。</p>
<p>某　小便流濁澀痛，右脈弦細，睪丸偏墜。宜金鈴子散為主。（四月初四日。）</p>
<p>川楝子（三錢）　川萆薢（三錢）　木通（錢半）　海金沙（四錢）　延胡（三錢）　澤瀉（三錢）赤苓（四錢）　車前子（三錢）　橘核（三錢）　生香附（二錢）　炒枳殼（錢半）　（引）兩頭尖（七十粒）</p>
<p>四帖。</p>
<p>介按：此與前案大同小異，方從金鈴子散合橘核丸加減，而參用利濕導濁之品，治法極為穩妥。</p>

<h2>瘡瘍</h2>
<p>清水閘陳　濕熱下注為痔，始起下疳，脈滑數，九月身發疹痘，系是結毒。宜清解，仰希外科政之。</p>
<p>苦參（一錢）　藏連丸（一錢）　桑寄生（三錢）　豨薟草（三錢）　銀花（三錢）　炒知母（錢半）　茯苓（四錢）　天花粉（三錢）　炒條芩（錢半）　焦山梔（三錢）　生白芍（錢半）</p>
<p>清煎四帖。</p>
<p>介按：此症雖是濕熱下注，恰系脾腎陰虧，以脾司統血之職，腎主攝納之權，茲以陰絡被傷，其血內溢。故治法以清熱滋陰為主。</p>
<p>漁莊沈（湘記）　結喉旁及右手臂腫，潰而不斂，左脈細數，右寸關弦，不時汗出，形體怯弱。宜防瘡勞。（五月初十日。）</p>
<p>北沙參（三錢）　霍斛（三錢）　穭豆皮（三錢）　忍冬藤（三錢）　茯神（四錢）　炒白芍（錢半）　棗仁（三錢）　地骨皮（三錢）　炙黃耆皮（八分）　生牡蠣（四錢）　新會皮（錢半）　（引）陳南棗（三枚）</p>
<p>三帖。</p>
<p>又　瘡毒未斂，脈弦細數，陰火上升，齒痛，舌白少津。宜養陰清降，防瘡勞。（五月十三日。）</p>
<p>西洋參（錢半）　骨碎補（三錢）　生地（四錢）　天花粉（錢半）　粉丹皮（三錢）　懷藥（三錢）　廣皮（錢半）　蜜銀花（錢半）　釵斛（三錢）　生牡蠣（四錢）　冬桑葉（三錢）</p>
<p>清煎三帖。</p>
<p>又　瘡勞胃鈍，脈虛濡，舌滑白，邇由濕熱傷氣，清竅不利。宜清利為妥。（又月初四日。）</p>
<p>骨碎補（三錢）　生米仁（三錢）　蔻殼（一錢）　冬瓜子（四錢）　炒遠志（八分）　抱木茯神（四錢）　新會皮（錢半）　川貝（錢半）　苦丁茶（錢半）　穀芽（四錢）　石蓮子（三錢）</p>
<p>清煎四帖。</p>
<p>又　瘡勞形怯，胃氣稍振，脈虛細，舌滑白，濕熱猶存，仍遵前法損益。（又月初七日。）</p>
<p>骨碎補（三錢）　生米仁（四錢）　丹參（三錢）　省頭草（錢半）　遠志（八分）　懷藥（三錢）新會皮（錢半）　通草（錢半）　茯神（四錢）　炒穀芽（四錢）　冬瓜子（四錢）</p>
<p>清煎四帖。</p>
<p>又　諸款悉減，脈虛細，瘡口未斂。宜補虛扶元為妥。（六月初九日。）</p>
<p>太子參（一錢）　歸身（錢半）　霍石斛（三錢）　金櫻子（三錢）　茯神（四錢）　炒白芍（錢半）　新會皮（錢半）　懷山藥（三錢）　夜交藤（三錢）　生牡蠣（四錢）　炒杜仲（三錢）</p>
<p>清煎五帖。</p>
<p>介按：此症潰而未斂，膿血去多，營液大耗，以致形體怯弱，次以胃熱上衝而齒痛，三因濕熱重傷，故其處方，初以養胃斂陰，次則參以滋陰潛陽。三四兩方，又佐滲濕。終則悉屬扶脾益腎以安神，俾脾能統血，肝能藏血，心能生血，血液充足，則形體亦得恢如常矣。</p>

<h2>調經</h2>
<p>某　便瀉已除，六脈澀細，癸來澀少，脘中脹悶，皆緣肝橫氣滯，仍遵前法損益。（八月初三日）</p>
<p>左金丸（八分）　烏藥（二錢）　茯苓（四錢）　雞血藤（錢半）　厚朴（一錢）　佩蘭（三錢）　丹參（三錢）　綠萼梅（錢半）　通草（錢半）　炒穀芽（四錢）　大腹皮（三錢）</p>
<p>清煎四帖。</p>
<p>介按：秦天一曰：血氣之化，由於水穀，水穀盛則血氣亦盛，水穀衰則血氣亦衰。是水穀之海，即是陽明胃氣，又是衝脈之本。故月經之本，所重在衝脈，所重在胃氣，所重在心脾生化之源耳。今以胃被肝乘，失其生化之源，是癸來澀少。脘中脹悶，此方清肝和胃以養血，庶幾肝逆稍平，太衝脈盛，則月事以時下矣。</p>
<p>瓜瀝王　頭暈心泛已瘥，六脈細澀。癸來腰腹聯痛如刺，宜和營衛為主。（五月四號甲辰十八日。）</p>
<p>當歸（二錢，小茴香五分拌炒）　制香附（三錢）　雞血藤（三錢）　炒白芍（錢半）　杜仲（三錢）　茯神（四錢）　延胡（二錢）　川芎（一錢）　小胡麻（三錢）　丹參（三錢）　玫瑰花（五朵）</p>
<p>清煎五帖。</p>
<p>介按：血積不散，為氣所沖，新血與故血相搏，引動衝任，以致經來腰腹刺痛。此方養血理氣，調和營衛之意。</p>
<p>西莊俞　潮熱不清，右脈澀，左關沉弦，大便忽瀉，經停，腹中有瘕，臍下痛較緩，氣轉至咽，舌微黃。宜清熱、養胃、和肝。</p>
<p>銀柴胡（一錢）　扁豆衣（三錢）　制香附（三錢）　烏藥（錢半）　地骨皮（三錢）　茯苓（四錢）　杜仲（三錢）　綠萼梅（錢半）　青蒿梗（錢半）　丹參（三錢）　廣木香（七分）</p>
<p>清煎五帖。</p>
<p>又　寒熱較差，胃納已和，右脈虛，左弦細，經停，腹中有瘕，臍下偶痛，肝木抑鬱。仍宜逍遙散加減。（十一月初四日。）</p>
<p>柴胡（八分）　當歸（錢半）　青木香（五分）　木蝴蝶（四分）　炒白芍（錢半）　制香附（二錢）　杜仲（三錢）　川楝子（錢半）　茯苓（四錢）　生地（三錢）　炒青皮（八分）</p>
<p>清煎四帖。</p>
<p>介按：肝鬱不暢，血氣凝滯，以致臍下偶痛，而經停成瘕。然大便作瀉，又是肝陽侮脾之候，治以理氣疏肝，健脾清熱，而寒熱較差，胃氣稍和。次以泄肝熱而解肝鬱，逍遙散為對症之方。因其既和氣血，又佐柴胡以微升，藉引少陽之生氣。如是治療，俾鬱勃之氣，由此可以條暢。</p>
<p>某　衝任內損，腰疼背掣，脈澀細，頭疼心悸，癸澀。宜柔肝、補心、調經。</p>
<p>桑寄生（三錢）　炒杜仲（三錢）　煅龍齒（三錢）　煨天麻（八分）　白茯神（四錢）　甘菊（錢半）　遠志肉（八分）　穭豆衣（錢半）　炒棗仁（三錢）　丹參（三錢）　雞血藤膠（錢半）</p>
<p>清煎四帖。</p>
<p>介按：肝為風木之臟，內寄相火，體陰用陽，其性主升，全賴腎水之涵，血液之養，庶得遂其條達之性。茲以肝腎並虧，血液已虛，因而內風時動，即覺頭暈心悸，腰背痠痛，癸水澀少，此方治法，系是緩肝熄風，滋腎退熱之意。</p>
<p>某　脘悶氣滯，癸澀，脈澀細，右弦，帶下腰痠。宜養血和中。（又月初三日。）</p>
<p>雞血藤（三錢）　制香附（錢半）　大腹皮（三錢）　丹皮（三錢）　冬瓜子（四錢）　小胡麻（三錢）　丹參（三錢）</p>
<p>清煎五帖。</p>
<p>介按：濕熱蘊蓄，因而氣滯血阻，以致帶下腰痠，故治以理氣和血，清熱滲濕。</p>
<p>安昌包　閨女月事仍閉，脈沉澀，腹痛脘悶，肢體浮腫，頃經少安。</p>
<p>當歸（錢半）　澤瀉（錢半）　通草（錢半）　冬瓜皮（三錢）　川芎（一錢）　制香附（三錢）　車前（三錢）　雞血藤（三錢）　延胡（三錢）　大腹皮（三錢）　杜赤豆（四錢）</p>
<p>清煎四帖。</p>
<p>介按：此因血液被濕熱逼出，旁流膈膜，以致肢體浮腫，經來之時，濕熱乘虛而入，阻礙血脈之周流，血既凝滯，自然經閉腹痛，利水活血以行氣。方法面面顧到。</p>
<p>某　帶下腰疼，脈虛細，癸澀，腹左有瘕，病在衝任。宜柔肝調經。</p>
<p>桑寄生（三錢）　炒杜仲（三錢）　炒白芍（錢半）　生牡蠣（四錢）　全當歸（二錢）　覆盆子（三錢）　木蝴蝶（四分）　綠萼梅（錢半）　茺蔚子（三錢）　香附（三錢）　雞血藤（三錢）</p>
<p>清煎八帖。</p>
<p>介按：衝任並虛，肝鬱成瘕，故以柔肝固腎，理氣活血為治。</p>
<p>安昌顧　氣鬱成痹，脈澀，右寸關弦，音嘶，腹痛有瘕，癸水早期。宜泄降清肝。（三月二十七日。）</p>
<p>栝蔞皮（三錢）　石決明（六錢，生打）　川楝子（三錢）　茺蔚子（三錢）　薤白（一錢）　丹皮（三錢）　木蝴蝶（四分）　綠萼梅（錢半）　霍斛（三錢）　炒延胡（錢半）　新會皮（錢半）</p>
<p>清煎四帖。</p>
<p>介按：情懷不暢，肝鬱化熱，以致癸水早期，氣逆上升，則胸脘阻痹，腹中瘕痛。故治以泄肝養胃。</p>
<p>某　便瀉未除，舌色左邊厚，癸水早期，脘悶氣滯，右脈虛細，左關沉弦，肝木偏橫。宜養胃、平肝、調經。（六月七號。）</p>
<p>霍斛（三錢）　雞血藤（三錢）　通草（錢半）　紫香附（錢半）　佩蘭（三錢）　穀芽（四錢）　石蓮子（三錢）　生米仁（四錢）　丹皮（二錢）　木蝴蝶（四分）　丹參（三錢）</p>
<p>清煎四帖。</p>
<p>介按：便瀉未除，是挾時令之濕熱，癸水早期，是屬肝熱而不藏血之症。肝陽橫逆，則脘悶氣滯，而左脈沉弦，胃被肝乘，未能與衝脈生化血液，則右脈虛細，治宜雙方顧到，故以養胃和血，平肝滲濕之劑。</p>
<p>安昌壽　血虛木旺，脈弦，右虛細，項背掣痛，癸水先後不一，脘中偶痛，夜寐少安。宜補心平肝為主。</p>
<p>丹參（三錢）　當歸（錢半）　生牡蠣（四錢）　小胡麻（三錢）　茯神（四錢）　炒白芍（錢半）木蝴蝶（四分）　雞血藤（錢半）　棗仁（三錢）　炒杜仲（三錢）　川楝子（三錢）</p>
<p>清煎五帖。</p>
<p>介按：肝主筋而藏魂，腎主五液而惡燥，茲以腎液不能上承，則心不生血而癸水愆期，肝不藏魂，則夜寐不安，又不養筋，則項背掣痛而聯及脘中。故治以補腎養心，柔肝和血。</p>
<p>瓜瀝王　癸澀後期，脈虛左澀，腰痠帶下，胃納不旺。姑宜養胃、調經、澀下。</p>
<p>釵斛（三錢）　雞血藤（錢半）　覆盆子（三錢）　小胡麻（三錢）　省頭草（三錢）　炒杜仲（三錢）　川斷（三錢）　丹參（三錢）　生牡蠣（四錢）　穀芽（四錢）　制香附（三錢）</p>
<p>清煎十帖。</p>
<p>介按：月經之本，所重在衝脈，而衝脈隸於陽明。今以胃納不旺而血海漸涸，是以癸澀後期，腎虛而帶脈不固，則腰痠帶下。治以養胃補腎，庶幾經調帶止。</p>
<p>瓜瀝王　癸澀遲滯，氣衝脘悶，脈左澀，右弦滑，痰濕下注為滯。宜養血理氣為主。（四月二十三號。）</p>
<p>歸身（二錢）　仙半夏（錢半）　雞血藤（三錢）　制香附（三錢）　炒白芍（錢半）　新會皮（錢半）　茺蔚子（三錢）　沉香（四分）　川芎（一錢）　生牡蠣（四錢）　杜仲（三錢）　</p>
<p>清煎四帖。</p>
<p>介按：濕痰下注於帶脈，帶脈不能約束而下濁液。但帶脈又能於衝任，衝任並虧，則氣衝癸澀，治以補脾腎之氣。又佐舒肝之品，俾血旺氣和，則諸恙自愈。</p>
<p>安昌顧　心悸帶下，癸澀過滯，腰痠，臍下痛，脈濡澀細，邇有頭疼，齦起脹泡。宜勝金丹加減。（五月二十日。）</p>
<p>生地（三錢）　小胡麻（三錢）　遠志肉（八分）　炒杜仲（三錢）　當歸（錢半）　釵斛（三錢）茯神（四錢）　石決明（四錢）　白芍（錢半）　香附（三錢）　雞血藤膠（錢半）</p>
<p>清煎五帖。</p>
<p>介按：傅青主曰：帶脈橫生，通於任脈，任脈直上，走於唇齒，唇齒之間，原有不斷之泉，下貫任脈以化精，使任脈無熱氣之繞，則口中之津液，盡化為精，以入於腎矣。惟有熱邪存下焦之間，則津液不能化精而反化濕也。今此案系是帶任兩脈，液虛熱熾之象，故用勝金丹加減，藉以養血清熱，柔肝安神。</p>

<h2>帶下</h2>
<p>遺風龐　血虛嘈雜，知飢少納，脈虛細，腰痠帶下，舌色灰厚。姑宜養血、和中、平肝。</p>
<p>當歸身（錢半）　仙半夏（錢半）　遍金釵（三錢）　雞血藤（三錢）　茯神（四錢）　左金丸（八分）　木蝴蝶（四分）　佩蘭（錢半）　丹參（三錢）　炒穀芽（四錢）　生牡蠣（四錢）</p>
<p>清煎五帖。</p>
<p>介按：衝脈之血，系是陽明水穀所化，茲以胃液已虛，未能容納水穀，而致知飢嘈雜。且肝腎並虧，而致腰痠帶下，故以柔肝、和胃、養血為治。</p>
<p>遺風龐　帶下腰痠，脈關尺澀細，經停七月，腹中有形，病在衝任。宜柔肝、澀下。（三月二十三日。）</p>
<p>桑螵蛸（三錢）　歸身（錢半）　菟絲子（三錢）　生香附（錢半）　炒杜仲（三錢）　木蝴蝶（四分）　川斷（三錢）　綠萼梅（錢半）　生牡蠣（四錢）　大腹絨（三錢）　覆盆子（三錢）</p>
<p>清煎四帖。</p>
<p>介按：任脈通，太衝脈盛，則月事以時下。茲以衝任並虧，而經停七月，肝鬱不暢，則腹中有形，腎虛而帶脈不固，則酸下腰帶。治以柔肝澀下，即是攝衝任之意。</p>
<p>黃公漊徐　小腹仍屬滯痛，脈尚澀，白帶未除，衝任腰胯痠痛。宜和肝澀下為穩（六月七號乙巳二十二日。）</p>
<p>當歸（錢半，小茴香炒拌）　省頭草（三錢）　覆盆子（三錢）　杜仲（三錢）　延胡（錢半）　九香蟲（一錢）　烏藥（錢半）　香附（三錢）　炒小胡麻（三錢）　生牡蠣（四錢）　玫瑰花（五朵）</p>
<p>清煎七帖。</p>
<p>介按：王叔和曰：帶脈為病，左右繞臍，腰脊痛，沖陰股也。據是以觀，則此症系是帶脈失司，肝逆未平之候。</p>
<p>盛陵徐　衝任內怯，腰疼背掣，帶下，脈澀細，癸澀不調，頭疼。姑宜養血、調經、澀下。（八月二十二號戊申十四日。）</p>
<p>全當歸（三錢）　茺蔚子（三錢）　雞血藤（三錢）　豨薟草（三錢）　炒白芍（錢半）　炒杜仲（三錢）　覆盆子（三錢）　化龍骨（三錢）　川芎（錢半）　生牡蠣（四錢）　桑寄生（三錢）</p>
<p>清煎七帖。</p>
<p>介按：女人月水，由諸絡之血，彙集血海而下，茲以衝任內怯，肝腎液虛，是以頭疼腰痛，背掣帶下，養血補腎以調經，深得內經先其所因，伏其所主之旨。</p>
<p>安昌馬　帶下如注，小腹滯痛，脈澀左弦細，癸澀不調，舌厚膩，汗出濈濈。宜疏泄厥陰為主。（四月二十八日。）</p>
<p>川楝子（三錢）　當歸（錢半）　桑螵蛸（錢半）　柏子仁（三錢）　延胡（三錢）　麻子仁（四錢）　生香附（錢半）　海金沙（四錢）　省頭草（三錢）　車前子（三錢）　青木香（八分）</p>
<p>清煎三帖。</p>
<p>介按：此係肝鬱侵脾，濕熱下陷，是以脾精不守，未能化為經水，反變白滑之物，直下而為帶。故治以疏泄厥陰，兼滲濕熱而澀下。</p>

<h2>胎前</h2>
<p>瓜瀝謝　經停二月餘，右脈滑數，脘格嘔惡，食入即吐。宜防妊育。</p>
<p>釵斛（三錢）　藿梗（二錢）　桑寄生（三錢）　生香附（錢半）　蘇梗（二錢）　陽春砂（六分）杜仲（三錢）　焦梔子（錢半）　新會皮（錢半）　炒穀芽（四錢）　條芩（錢半）</p>
<p>清煎二帖。</p>
<p>介按：婦人受妊，全賴腎氣之旺，腎氣旺則容易攝精而蔭胎。茲由肝熱挾胎氣上衝。致妊娠二月，嘔吐惡阻，故於平肝養胃之中，參以補腎之品，確治惡阻之良方。</p>
<p>頭蓬胡　肝風犯胃，頭疼暈眩，嘔惡，脈左虛細，右稍滑，經停厭食。宜防孕育，未知然否，候正。</p>
<p>桑寄生（三錢）　扁金釵（三錢）　新會皮（錢半）　炒杜仲（三錢）　炒驢膠（錢半）　蘇梗（錢半）　藿梗（錢半）　陽春砂（六分，沖）　穭豆皮（三錢）　明天麻（八分）　甘菊（錢半）</p>
<p>清煎四帖。</p>
<p>介按：胃虛而肝風內震，以致眩暈嘔惡。治以滋肝和胃而理氣，是惡阻而兼肝風之良法。</p>
<p>漁莊沈　妊育頭脹，腹中氣機不和，脈弦濡滑，溲弱短數，嘔惡涎沫，胃鈍。宜和中、理氣、護胎。（五月初四日。）</p>
<p>大腹皮（三錢）　江西術（一錢）　桑螵蛸（錢半）　藿梗（二錢）　蘇梗（錢半）　新會皮（錢半）　車前子（三錢）　焦梔子（二錢）　天仙藤（錢半）　陽春砂（七分，沖）　條芩（錢半）</p>
<p>清煎二帖。</p>
<p>介按：肝陽橫逆，阻滯氣機，挾濕而侵侮脾胃，是以嘔惡頭脹。故治以安胎為主，兼清濕熱以佐之。</p>

<h2>產後</h2>
<p>黃公漊徐　小產後帶下如注，脈弦細澀，脘中有形，攻觸而痛，癸水不調。姑宜澀下平肝。（六月七號乙巳二十二日。）</p>
<p>生牡蠣（四錢）　草豆蔻（一錢）　仙半夏（錢半）　丹皮（錢半）　化龍骨（錢半）　制香附（二錢）　廣皮（錢半）　玫瑰花（五朵）　炒杜仲（二錢）　左金丸（八分）　木蝴蝶（四分）</p>
<p>清煎五帖。</p>
<p>介按：劉宗厚曰：帶下多本於陰虛陽竭，營氣不升，經脈凝澀，沖氣下陷，精氣積滯於下焦而成。今此案系是肝經抑鬱，耗及營液，以致帶脈失固，沖氣下陷。故小產之後，而帶下如注，衝任虛氣挾肝陽上逆，則脘腹作痛，治宜平肝補腎為先。</p>
<p>華舍施　產後濕臌，溲黃，腹滿，足腫，脈滯，舌黃，症勢棘手。（民國十年七月十九日。）</p>
<p>杜赤小豆（錢半，杵）　大腹絨（錢半）　帶皮苓（四錢）　光杏仁（三錢）　冬葵子（三錢）　椒目（五分）　澤瀉（三錢）　地骷髏（一兩，煎湯代水）　晚蠶砂（一兩，包）　淡附片（四分）　炒米仁（四錢）</p>
<p>四帖。</p>
<p>又　產後臌脹，舌仍黃，溲較長，脘未展，脈尚滯，症尚棘手。</p>
<p>淡附片（五分）　雞內金（三錢炒）　杜赤豆（錢半，杵）　棗檳（錢半）　光杏仁（三錢）　桃仁（十粒）　官桂（五分）　椒目（五分）　晚蠶砂（一兩，包）　沉香曲（錢半）　冬葵子（三錢）　地骷髏（一兩，煎湯代水）</p>
<p>又　產後臌脹，脈尚滯，溲長，舌黃，症尚棘　手。（八月初五日。）</p>
<p>沉香曲（錢半）　晚蠶砂（一兩）　蜣螂（三雙）　大腹絨（錢半）　炒雞內金（三錢）　冬葵子（三錢）　烏藥（錢半）　椒目（五分）　杜赤豆（錢半，杵）　淡附片（四分）　原粒砂仁（一錢，鹽水炒）　地骷髏（一兩，煎湯代水）</p>
<p>介按：產後而患臌脹，須防瘀血凝結，但用普通治濕臌之藥，決難奏效。雖則在後二方，用桃仁十粒，亦難濟事。若能參用抵當湯，庶幾近之，否則兼與黃連、丹參、大黃、五靈脂、蒲黃等品，下其瘀血，或能中鵠。後聞斯人轉就診於潘星如君而全愈，諒必兼用消瘀之品矣。此方滲濕扶陽，若治普通濕臌之症，亦是極好。惟產後血臌，尚欠斟酌。今特錄之，以資後人之鑑戒。</p>
