<header data-type="book">
<h1>醫宗金鑑·痘疹心法要訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="吳謙">吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>版式</dt><dd>今版</dd></div>
<div><dt>直書</dt><dd>橫書</dd></div>
</dl>
</header>
<pre data-sec="p">
痘原
條文：001
上古無痘性淳樸，中古有痘情欲恣，痘稟胎元出不再，毒之深淺重輕識， 
天瘡之名因天稟，瘡形如豆痘名居，塞北不出寒勝熱，毒發必自待天時。
[註]
上古之人無出痘者，天性淳樸也，
中古之人有出痘者，情欲漸熾也，古人謂痘稟胎毒此定論也，
惟稟於胎元，故一出不再出也，
毒有淺深，故出有輕重也，
名為天瘡者，因毒稟於先天也，
名為痘瘡者，因瘡形如豆也，
其毒伏於形中而塞化不出者，以其氣多寒涼，
鮮邪陽火旺之氣以觸發其毒，故伏藏於內而不出也，
中土之人必出者，以其氣多溫熱，一觸邪陽火旺之氣，毒隨內發而即出也，
此皆醫所當識者也。
</pre>
<pre data-sec="p">
出痘形證
條文：002
欲識小兒出痘形，類是傷寒發熱驚，氣粗眼目廷中指冷，耳尻不熱耳筋紅。
[註]
痘證初起，見證大扺與傷寒相似，
其候身體發熱，不時驚悸，口鼻氣粗，兩眼發䀽，惟中指獨冷，耳尻不熱，
耳後有紅筋，皆為出痘之形證也。
</pre>
<pre data-sec="p">
痘出五藏形證
條文：003
痘出五藏主證形，呵欠頓嗽是肝經，肺證欬涼痰嚏涕，心證驚頰面赤紅，
脾證喜睡肢熱利，耳尻俱涼是腎徵，肝泡肺膿心赤小，脾大黃淺腎黑形。
[註]
痘瘡之毒伏於五藏，故內出何藏，外即應之，
如呵欠頓悶，此痘出肝經證也，
欬嗽有痰，噴嚏泣涕，此痘出肺經證也，
驚悸煩燥，面色紅赤，此痘出心經證也，
喜睡自利，四肢發熱，此痘出脾經證也，
惟腎經但見耳尻發涼者，是火不能勝水也，
肝痘之形為水泡，其包青而小，
肺痘之形為膿泡，其色白而大，
心痘之形色赤而小，
脾痘之形其色黃淺而大，
至於腎經不宜有證，若水不勝火，痘色黑者，非吉兆也。
</pre>
<pre data-sec="p">
痘主部位
條文：004
額心頦腎鼻脾部，左頰肝位右肺方，周身分主面屬胃，頭背膀胱腰腎疆，
心肺胸膈肝膽脅，腹肢屬脾大小腸，包絡之絡聯藏府，三焦之氣應無方．
[註]
小兒出痘，自頭面以及周身，各有藏府所屬部位，
治者須詳察部位以定吉凶，
如額先見點者，是毒發於心也，
頦先見點者，毒發於腎也，
左頰先見點者，毒發於肝也，
右頰先見點者，毒發於肺也，
鼻先見點者，毒發於脾也，
面屬胃經部位也，
頭背屬膀胱經部位也，
腰屬腎經部位也，
胸膈屬心肺二經部位也，
脅旁屬肝膽二經部位也，
肚腹四肢屬脾大小腸三經部位也，
至於包絡乃周身脂膜之絡聯屬百骸藏府者也，
三焦為周身水精之氣，充滿軀殼藏府者也，
凡周身發痘，俱從此出，無故一定部位也。
</pre>
<pre data-sec="p">
痘形順逆
條文：005
痘形見點喜尖圓，惡隱蚊跡疿粟蠶，起脹慚綻充肥順，頂平不突板實難，
生漿斂束形完固，緛嫩皮薄癢塌纏，結痂如螺先後落，最忌麩薄潰爛粘。
[註]
痘形氣之為也，氣勝毒，則毒為氣馭其毒解矣，故順也。
毒勝氣，則氣為毒蝕，其氣竭矣，故逆也，
氣毒相平，則勢界於險，惟在醫者調治得宜，使險變順也，
如始出之形頂尖而根圓，此氣勝毒，為順也，
若隱如蚊咬，或如熱疿，寒粟蠶種，此毒勝氣，為逆也，
起脹之形，漸綻充肥，此氣勝毒，為順也，
若頂平不突，板實不綻，此毒勝氣，為逆也，
出漿之形，根紅斂束，痘殼完固，此氣勝毒，為順也，
若殼軟皮簿，則必癢塌，此毒勝氣，為逆也，
結痂之形，痂如螺殼，先結先落，後結後落，此氣勝毒，為順也，
若痂薄如麩，潰爛粘聚，此毒勝氣為逆也，此痘形順逆之大略也。
</pre>
<pre data-sec="p">
痘色順逆
條文：006
痘色桃花漸漸紅，淡白桔紫晦多凶，起脹頂白根紅潤，頂灰根散或深紅，
生漿由白而黃厚，最忌灰乾與薄清，靨喜蒼粟惡麩白，疤喜紅滿惡白平．
[註]
痘色血之為也，血勝毒，則毒為血載，其毒化矣，故順也，
毒勝血，則血為毒滯，其血涸矣，故逆也，
血毒相平，則勢界於險，亦在醫者之調治得宜也，
始出之色如桃花，而漸加滋潤，此血勝毒，為順也，
若初出之即淡白乾紫晦而不亮，此毒勝血，為逆也，
起脹之色，頂漸放白，根紅光潤，此血勝毒，為順也，
若頂色灰滯，根血散漫，或地角深紅，此毒勝血，為逆也，
生漿之色，白而漸黃，蒼而淳厚，此血勝毒，為順也，
若灰乾不潤，或漿薄清稀，此毒勝血，為逆也，
結痂之色，蒼如粟殼，此血勝毒，為順也，
若痂色麩白，此毒勝血，為逆也，
疤痕之色，紅潤凸起為順，
若淡白黑紫，平凹無突起之狀，皆為不順之色，醫者詳之。
</pre>
<pre data-sec="p">
痘證老嫩
007
蒼淳嬌艷老嫩色，肥實浮虛老嫩形，濃濁稀清漿老嫩，厚薄痂之老嫩明。
[註]
痘之一證，自始至終喜老惡嫩，
如蒼淳嬌艷，此色之老嫩也，
肥實浮虛，此形之老嫩也，
濃濁稀清，此漿之老嫩也，
薄軟厚堅，此痂之老嫩也，
總之老者多順，易於成功，嫩多險逆，難於施治也。
</pre>
<pre data-sec="p">
痘證疎密
條文：008
頭項胸背痘疎吉，手足雖密不為凶，疎兼陽熱須防變，密若磊落不必驚。
【註】
頭面清陽元首，頸項管籥咽喉，胸背乃藏府所附，惟稀疎則吉也，
至於手足無甚關係，雖多不為凶也，疎固是順也，
若見陽證譫妄，大渴大熱，脣舌燥裂，煩躁不寧，大小便秘等證，
此毒壅遏不出，雖疎未為吉也，密固是逆，
若鋪排磊落，大小勻淨，精神寢食二便如常，雖密亦不須驚也。
</pre>
<pre data-sec="p">
辨形神聲氣飲食之虛實
條文：009
軀之肥瘦形衰盛，聲之粗細氣虛實，目瞭不瞭神強弱，胃氣虛實食不食。
【註】
欲治痘者，先看兒體之肥瘦，
體肥者，形盛可知也，體瘦者，形衰可知也，
次聲氣之粗細，
粗者，聲音雄粗，此氣實也，細者，聲音微細，此氣虛也，
再觀其目中之神，
瞭瞭精彩者，此神強也，目不瞭不精彩者，此神弱也，
更問其飲食能否，飲食如常者，胃氣實也，不能飲食者，胃氣虛也，
此辨形神聲氣飲食之虛實也。
</pre>
<pre data-sec="p">
辨氣血虛實證
條文：010
氣虛頂陷多軟薄，氣過成泡少漿膿，血虛淡紅摸轉白，血過發癍紫黑凝。
【註】
痘之形色，乃氣血外現也，如頂凹陷，手摸之多軟薄者，此氣虛也，
氣過者，氣過盛也，泡者，發水泡也，少漿膿者，不能生漿也，
謂氣若過盛，則發水泡而漿不能生也，
如痘色淡紅，以手摸過隨轉白者，此血虛也，
血過者，血過盛也，癍者，地界有癍暈也，
紫黑凝者，謂毒盛則色黑紫凝滯也，
此就痘癍形色，以辨氣血之虛實也。
</pre>
<pre data-sec="p">
辨表證虛實
條文：011
發熱惡寒身痛表，有汗為虛無汗實，實隱稠密灰紅滯，虛平塌爛水浸濕。
[註]
痘出有發熱惡寒，身體疼痛者，屬表證也，
若有汗，則為表虛，無汗，則為表實，
表實閉塞，痘毒隱伏難出也，
稠密者，痘出稠密也，
灰者，痘色灰白也，
紅者，痘色紅赤也，
滯者，謂痘稠密，不論灰紅，若帶滯暗者，皆表毒盛也，
若表虛之證，則痘平不起，塌癢無漿也，
爛者，痘潰爛也，
水浸濕者，痘膿水浸潰，濕而不乾也，此辨表證之虛實也。
</pre>
<pre data-sec="p">
辨裏證虛實
條文：012
發熱惡熱鞕痛裏，便秘為實下利虛，實則板實根緊鞕，虛則倒陷靨收遲。
[註]
痘出發熱惡寒者，表證也，
不惡寒惡熱者，裏證也，
鞕者，不大便而鞕也，
痛者，肚腹作痛也，此皆屬裏熱之證，
若便秘，則為裏實，
下利，則為裏虛，
板實者，痘囊板實不活動也，
根緊鞕者，根腳緊朿，
堅鞕不鬆者，皆裏實證也，
倒陷者，痘已出復陷入於內也，
倒靨者，痘正灌漿即收靨也，
收遲者，痘已灌漿，日久不靨，皆裏虛證也，此辨裏之虛實也。
</pre>
<pre data-sec="p">
辨陽熱證
條文：013
陽熱壯熱面唇赤，舌乾飲冷爪尿紅，煩躁昏狂譫失血，紫黑焦枯不潤通。
[註]
凡痘屬陽熱者，身必壯熱，面唇皆赤，舌上乾燥，好飲冷水，
爪甲尿溺，皆現紅色，煩燥不寧，神氣昏憒，發狂譫語，
失血者，吐血衄血也，
紫黑焦枯者，痘色紫黑焦枯也，
不潤通者，九竅不潤通也，此皆屬陽熱之證也。
</pre>
<pre data-sec="p">
辨陰寒證
條文：014
陰寒無熱口鼻冷，面唇尿爪色自青，厥冷難回利不臭，水泡灰白無暈紅。
[註]
凡痘屬陰寒者，身肢不熱，口鼻皆冷，面唇尿溺爪甲，色現青白也，
厥冷難回者，謂四肢厥冷不能即溫也，
利不臭者，謂下利無臭穢也，
水泡濕盛也，
灰白即無暈者，謂痘色灰白，根腳無紅暈也，此皆屬陰寒之證也。
</pre>
<pre data-sec="p">
辨虛實寒熱誤治
條文：015
溫補過則痘潰爛，毒攻咽齦日腫癰，清瀉過則痘白陷，嘔吐不渴厥利清。
[註]
痘有虛實，治有補瀉，要在審當而施也，
如虛者當補，亦須酌量施治，
若溫補過甚，則反助毒熱而痘潰爛也，
以致毒熱上攻，或咽喉腫痛，或牙齦發疳，或眼目赤腫生翳，
甚而攻於榮衛，發為癰疽也，
如實者當瀉，亦須中病即止，
若清瀉過甚，則損傷正氣，而痘白陷，或嘔吐不渴，或厥逆下利，
此發明溫補清瀉之過當也。
</pre>
<pre data-sec="p">
稟賦順逆險
條文：016
毒微氣血實則順，毒甚而虛逆自明，毒微若虛恐化險，毒甚逢實變險能。
[註]
痘由稟賦毒氣，輕者固順，然必兒之氣血不虛，則始為順也，
重者固逆，亦必兒之氣血虛，則始為逆也，
毒微者順也，若兒之氣血虛弱，雖順恐化險也，
毒甚者逆也，若兒之氣血不虛，雖逆能變險也，
此以兒之胎毒重輕，氣血虛實，定痘之順逆險也。
</pre>
<pre data-sec="p">
天時順逆險
條文：017
毒微天時和者吉，毒甚天時不和凶，毒微不和順中險，毒甚時和逆或更。
[註]
毒微吉矣，然必逢天時之和，始為順而吉也，
毒甚凶矣，然必遇天時不和，則始為逆而凶也，
毒微者順也，若值天時不和，恐順中化險也，
毒甚者逆也，若值天時之和，或逆中轉險也，
此以胎毒之輕重，天時之和不和，定痘之順逆險也。
</pre>
<pre data-sec="p">
人事順逆險
條文：018
險逆時和無病吉，不知有病定然凶，由此故識種痘善，人事能回天命亨。
[註]
凡痘險逆之證，固不善矣，
若逢天時之和，兒又無病，險者可以變順，逆者可以化險，故曰吉也，
若逢天時不和，兒又有病，則險者變逆，逆者更逆，故曰凶也，
由此觀之，可識種痘之善，以得其天時之和，兒素無病，
其中即有毒之重者，而人事克盡，亦能挽回天命而致亨也。
</pre>
<pre data-sec="p">
發熱順證
條文：019
發熱和緩微微汗，飲食如常二便調，睡臥安然神氣爽，此為順證不須療。
 [註]
發熱和緩，身不甚熱，毒輕也，
微微汗，身微微有汗表和也，
飲食二便如常，裏和也，
神氣清爽，睡臥安然，精神氣血大和，故為順證，不須治療也。
</pre>
<pre data-sec="p">
發熱險證．
條文：020
發熱三日熱不遠，煩渴咬牙面赤紅，驚啼戰慄乳食少，夜不安眠險證明。
[註]
發熱三日見點者，常候也，
若見點熱不退者，毒盛也，
更兼煩躁口渴，頻頻咬牙，面色紅赤，驚悸多啼，身體戰慄，
乳食甚少，不能安眠等證，
此是毒盛，伏鬱難出，其為險證明矣，急宜隨證施治，庶或從險化順也。
</pre>
<pre data-sec="p">
發熱逆證
條文：021
發熱神昏悶亂成，妄言喘滿腹腰疼，不食不眠搐不止，乾嘔失血證逆凶。
[註]
發熱神昏，悶亂妄言，毒伏於心也，
喘滿喘急，毒伏於肺也，
腹疼毒伏於脾也，
腰疼毒伏於腎也，
不食不眠，毒伏於胃也，
驚搐不止，毒伏於肝也，
不時乾嘔失血，吐血尿血，是毒攻氣血內亂也，
此皆為不治之逆證，勢多凶也。
</pre>
<pre data-sec="p">
發熱證治
條文：022
痘出發熱固自內，必因其誘使之然，時氣風寒驚食熱，表裹虛實隨證參，
表熱惡寒而無汗，裹熱有汗溲便難，氣弱熱微不足治，形實熱盛有餘看。
[註]
痘出發熱者，謂痘本火毒，故未出先發熱也，
自內，謂其熱，自內達外也，
必因其誘使之然者，謂必因其四時不正，風寒邪氣使之發熱也，
驚，謂外觸異物，
跌撲驚嚇使之發熱也，
食，謂內傷食滯使之發熱也，
熱，謂內熱積久因而熱發於外也，
內外既有所困之邪，又當以表裏虛實，隨證參詳施治也，
表熱者，謂發熱在表，則惡寒而無汗也，
裏熱者，謂發熱在裏，則有汗小便短澀大使燥雖也，
氣弱熱微者，謂形氣不足發熱微輕也，
形實熱盛者，謂形氣有餘，發熱太甚也，
醫者果能臨時詳察，因證施治，則汗下清補之法自得其宜矣。
</pre>
<pre data-sec="p">
升麻葛根湯
條文：023
發熱升麻葛根湯，表邪痘疹兩得力，升麻葛根赤芍草，證隨宜加法最良，
無汗表實加麻薄，便柲腹痛裹大黃，形怯氣弱參耆入，熱盛犀連荊蒡防，
尿澀通滑車前子，驚搐荊防鉤連羊，煩渴石膏麥冬粉，欬嗽前桔杏蘇桑，
傷食腹熱查芽枳，下利芩連嘔半薑，咽痛蒡梗身羌獨，頭痛荊穗芎芷羌．
[註]
痘出發熱當以升麻葛根湯為主，以其能發表邪透痘疹，兩得之良方也，
然必隨證加佐使之品斯為盡善，
如身熱無汗者，此表實也，本方中加麻黃薄荷，
如大小便秘，腹作痛者，此裏實也，本方中加大黃，
如形氣怯弱者，稟賦不足也，本方中加人參黃耆，
熱盛者，內熱熾盛也，本方中加犀角，黃連，荊芥，牛蒡子，防風，
如小便短澀者，熱結膀胱也，本方中加木通，滑石，車前子，
如發驚搐者，肝心有熱也，
本方中加荊芥，防風，鉤藤鉤，川黃連，羚羊角，
如煩渴者，內熱盛也，本方中加石膏，麥冬，花粉，
如欬嗽喘急統，肺鬱風邪也，
本方中加前胡，枯梗，杏仁，蘇葉，桑皮，
如傷食腹皮熱者，胃中停滯也，本方中加山查，麥芽，枳殼，
如下利者，腸胃熱滯也，本方中加黃連，黃芩，
如作嘔者，胸膈有痰飲也，本方中加半夏，生薑，
如咽痛者，火在上焦也，本方中加牛蒡子，苦桔梗，
如偏身痠疼者，外染風寒也，本方中加羌活，獨活，
如頭痛者，上冒風寒也，本方中加荊芥穗，川芎，白芷，羌活，
此治發熱之大略，又貴臨時詳察融會貫通也。

(升麻葛根湯) 升麻 葛根 赤芍藥 生甘草 引加芫荽水煎服。
</pre>
<pre data-sec="p">
歸宗湯 
條文：024
形實無表毒火盛，所以歸宗主大黃，地芍查青通荊蒡，壯熱爪紫肢厥涼，
惡熱頭汗蒸蒸汗，便秘譫語煩躁狂，大渴唇焦舌生刺，失血腰痛不尋常．
[註]
發熱之初，形實者，形氣壯實也，
無表者，無風寒表邪也，
若證見毒火太盛，法當攻之，所以用歸宗湯者，
因其以大黃為主也，
而佐使生地，赤芍，山查，青皮，木通，荊芥穗，牛蒡子也，
痘末見點，如壯熱不已，毒火熾盛也，
爪甲色紫，血熱凝滯也，
四肢厥冷，同陽證見者，熱深厥深也，
惡熱，內熱盛也，
頭汗出，胃熱上蒸也，
通身蒸蒸汗出，毒火內迫津液也，
大小便閉，腸胃熱結也，
譫語胃熱也，
煩躁狂亂，毒火擾心神也，
大渴，引飲，毒火灼津液也，
唇口焦裂，舌生芒刺，毒火冑熱並盛也，
失血者，口中失血，小便尿血也，皆緣火毒迫血妄行也，
其腰痛不尋常者，毒攻腎位也，
以上諸證，非險則逆，若見之急用此方峻攻火毒，
庶可挽回，少有逡巡瞻顧，則無及矣。

（歸宗湯）
大黃 生地黃 赤芍藥 山查 青皮 木通 荊芥穗 牛蒡子炒 
引加燈心水煎服。
</pre>
<pre data-sec="p">
清解散
條文：025
痘驚清解升葛蒡，荊防甘草桔連芩，蟬翹芎前查通紫，表羌蘇芷弱者參。
[註]
痘欲出而發驚搐者，皆由其毒不得快然宣發，而鬱於經也，
其現證則面赤心煩，口渴手足抽搐，俱以清解散主之，
或因風寒朿於表者，其現證則無汗頭痛，身體疼痛，欬嗽噴悌，
本方中加羌活，蘇葉，白芷，以表發之，
若兼形氣虛弱者，
其現證則面色淺淡，身體微熱，匹肢微溫，倦怠嗜臥，
本方中加人參，黃耆，以託之。

(清解散) 
防風 荊芥 牛蒡子炒 生甘草 升麻 葛根 桔梗 黃連 黃芩 
蟬蛻 紫草茸 川芎 前胡 山查 木通 連翹去心 
引加生薑燈心水煎服。
</pre>
<pre data-sec="p">
寬中透毒飲
條文：026
傷食寬中透毒飲，葛桔前青朴枳查，麥蟬翹蒡連荊草，便秘大黃木通加。
[註]
痘欲出，發熱有現證，嘔吐煩渴，大便酸臭，此兼傷食也，
以寬中透毒飲主之，
若更大便秘，小便赤澀，腹熱悶痛者，此兼滯熱也，
本方中加大黃木通通利之。

(寬中透毒飲) 
葛根 桔梗 前胡 青皮 厚朴薑炒 枳殼麩炒 南山查 麥芽炒 蟬蛻 
連翹去心 牛蒡子炒研 黃連 荊芥穗 甘草生 引加生薑燈心水煎服。
</pre>
<pre data-sec="p">
見點順證
條文：027
發熱三朝始見點，熱減身和不渴煩，顆粒稀疏漸次出，色潤紅活頂尖圓。
[註]
發熱三朝之後始見點者，
此痘如期而出也，熱減身和者，毒已宣發透徹也，
不渴不煩者，無裏熱壅滯也，
顆粒稀疏者，不稠密連絡也，
漸次出者，先自頭面慚至周身而出也，
色潤紅者，痘色紅活滋潤也，
頂尖圓者，痘形頂尖而體圓也，此皆見點順證。
</pre>
<pre data-sec="p">
見點險證
條文：028
痘已見形身仍熱，稠密連絡不潤紅，稀疏淡隱精神少，痘順兼雜病險名。
[註]
痘已見形，身仍發熱者，此毒氣未盡透也，
稠密者，痘出稠密不少也，
連絡者，顆粒粘連不分也，
不潤紅者，痘色雖紅而黯滯也，
稀疏淡隱者，痘雖稀疏而色淺淡，隱於皮膚不透出也，
精神少者，精神倦怠也，此皆見點險證，
痘順兼雜病者，謂痘出雖屬順證，而或兼雜病，亦屬險名也。
</pre>
<pre data-sec="p">
見點逆證
條文：029
發熱一朝即見形，一齊湧出不分明，密如蠶種平塌隱，紫黑乾枯逆證凶。
[註]
發熱一朝或半朝即見點者，此毒火太迅，不循次第也，
一齊湧出者，此毒火太盛，不受領載也，
點不分明者，顆粒不分也，
密如蠶種者，密如蠶之種也，
平塌者，平塌不起也，
隱者，痘已出復隱也，
紫黑者，痘色或紫或黑也，
乾枯者，痘乾枯不潤也，此皆見點逆證。
</pre>
<pre data-sec="p">
見點證治
條文：030
發熱三朝漸見點，熱減形疏色潤紅，應出不出出猶熱，已出復穩湧出凶，
赤紫黑白分亮黯，平板稠連辨緊鬆，當審風寒毒火制，氣血虛失領載能。
[註]
發熱三朝漸漸見點者，謂見點不疾不徐也，
熱減者，謂痘出齊而熱減退也，
形疏者，謂痘稀疏顆粒分明也，
色潤紅者，謂色紅而潤澤也，皆見點順痘也，
應出不出者，謂發熱三日之後而不見點，此毒伏於內也，
出猶熱者，痘已出齊，而猶身熱不退，此毒熱盛也，
已出復穩者，謂痘已見點，復穩藏不見，此毒陷內攻也，
湧出者，謂發熱不待三日，其痘一齊湧出，此毒火迅烈也，
此皆逆而主凶之痘也，
赤紫黑白者，謂痘色紅為正，或深紅赤色，深赤紫色，
紫甚黑色，不紅白色，皆非正色也，
分亮黯者，謂非正色之痘，又當分亮黯而取治焉，亮者多虛，黯者多實，
赤紫黑色明亮者，尚有活動可治之機，
若滯黯則為毒熱凝滯而不行也，
色白亮者，乃氣血因虛不榮也，
白而黯者，謂氣血為毒所制也，
平板稠連者，謂痘形平塌不起，板鞕不綻，或稠密成攢，
連絡不分，皆非正形也，
辨緊鬆者，謂非正形之痘，當辨緊鬆而取治焉，
緊鬆者，根腳之緊鬆也，緊者毒滯，鬆者毒鬆，
平板稠連，根形鬆綻，尚有活動可治之機，
若根形緊束，則為毒盛瘀滯，難治之痘也，當審風寒毒火，
制者，謂已上痘之形色各有所困，當審其為風寒外鬱，火毒內錮也，
氣血虛失領載能者，謂或因氣虛不能領毒，血虛不能載毒，
使毒不能發於肌表，而失領載之能也。
</pre>
<pre data-sec="p">
蘇解散 歸宗湯 保元湯 升麻葛根湯
條文：031
應出不出表蘇解，羌蘇升葛枯荊防，川芎前薄查通草，裹熱毒伏歸宗湯，
不足不出無表裹，參耆甘草保元湯，毒輕升麻葛根並，毒重攻毒救正良。
[註]
痘發熱三朝，期應見點而不見點，則為應出不出，
若有表邪風寒外鬱不出，宜用蘇解散發之，表開自然出也，
若無表證而有裏熱者，此為毒火內伏不出，宜用歸宗湯攻之，
裏開自然出也，
若形氣不足，應出不出，無表裏證者，是正氣虛而不能發出也，
若毒輕熱微，宜用保元湯合升麻葛根湯並而用之，補正除邪可也，
若有表裏證，或毒重熱甚，則不宜補，恐助火毒，
宜蘇解散或歸宗湯攻邪救正為良法也。

(蘇解散) 
前胡 川芎 牛蒡子炒 南山查 木通 生甘草 羌活 蘇葉 升麻 
葛根 桔梗  荊芥 防風 引加芫荽水煎服。

(歸宗湯) 方見發熱證治。

(保元湯) 人參 黃耆製 甘草炙 引加生薑水煎服。

(升麻葛根湯) 方見發熱證治。
</pre>
<pre data-sec="p">
涼血攻毒飲 清熱解毒湯
條文：032
已出猶熱分表裹，在內涼血攻毒佳，紅花紫草丹蟬葛，合上歸宗減去查，
在外清熱解毒治，歸宗大赤不須加，更人前連丹蟬蛻，紫花地丁滑紅花． 
[註]
痘已見形，身熱當減，若仍熱不退，此屬毒火盛也，須分表裏施治，
若見在內毒火盛之證，宜用涼血攻毒飲攻之，
其方即紅花，紫草，丹皮，蟬蛻，葛根，合上歸宗湯藥，減去山查也，
若見在外毒火盛之證，宜用清熱解毒湯解之，
其方即歸宗湯減去大黃，赤芍，更加前胡，黃連，丹皮，蟬蛻，
紫花地丁，滑石，紅花是也。

(涼血攻毒飲) 
大黃 荊芥穗 木通 牛蒡子炒 赤芍 生地 青皮 蟬蛻 紅花 紫草 
葛根 丹皮引加燈心水煎服。    

(清熱解毒湯) 
荊芥穗 木通 牛蒡子炒 生地 青皮 山查丹皮 紅花 蟬蛻 前胡 
紫花地丁 黃連 滑石 引加燈心水煎服。
</pre>
<pre data-sec="p">
蘇解散 必勝湯 保元湯 千金內託散
條文：033
已出復穩謂之陷，外邪閉塞蘇解良，內毒必勝桃花葛，丁蟬地龍歸宗湯，
氣虛陷人保元主，無熱千金內託方，保元加桂歸芎芍，白芷查朴木香防。
[註]
痘已見點復穩藏不見者，謂之毒氣內陷也，
外邪閉塞者，有外感風邪證閉塞其毒，故以蘇解散解之也，
內毒者，火毒內攻，故以必勝湯攻之也，
其方即桃仁，紅花，葛根，紫花，地丁，蟬蛻，地龍，合上歸宗湯也，
若形氣不足，中氣不能載毒而復陷入者，宜以保元湯主之也，
若不見熱證者，虛而兼寒，宜用千金內託散補而溫之，
其方即保元湯
加官桂，當歸，川芎，白芍，白芷，山查，厚朴，木香，防風也。

(蘇解散) 方見本條證治。

(必勝湯) 
大黃 荊芥穗 赤芍 青皮 生地黃 山查 木通 牛蒡子炒 桃仁 紫花地丁
蟬蛻 葛根 地龍 紅花 蘆根水煎藥服。

(保元湯) 方見本條證治。

(千金內託散) 人參 黃耆製 甘草炙 官桂 當歸 白芍藥炒 川芎 白芷 
南山查 厚朴薑炒 木香 防風 引加生薑水煎服。
</pre>
<pre data-sec="p">
南金散 必勝湯
條文：034
見點外觸諸邪穢，痘陷灰滯黑焦塌，輕虛南金蠶荷葉，重實必勝最為佳。
[註]
痘至見點之後，房中最要潔淨，一被邪穢所觸，則毒即陷於內矣，
灰滯者，謂痘色灰白暗滯也，
黑者，謂痘色紫黑也，
焦者，謂痘形枯焦也，
塌者，謂痘形平塌也，
輕虛者，謂毒輕形氣虛也，以南金散主之，
重實者，謂毒重形氣實也，以必勝湯主之。

(南金散) 
白殭蠶取直者炒 紫背荷葉各等分取霜後搭水者 以上為末，
每服五分，或一錢，芫荽汁和黃酒少許調下。

(必勝湯) 方見本條證治。
</pre>
<pre data-sec="p">
加味歸宗湯
條文：035
熱未三朝齊湧出，毒火內發迅難當，歸宗湯內加紫草，石膏犀連歸尾良。
[註]
熱未三朝者，發熱或半日或一日也，
湧出者，痘湧出不循序也，
此由毒火迅烈莫能約束，
以歸宗湯加紫草，石膏，犀角，黃連，歸尾治之。

(歸宗湯) 方見發熱證治。
</pre>
<pre data-sec="p">
清熱解毒湯 涼血攻毒飲 千金內託散 歸宗湯
條文：036
赤紫明澤解毒治，黑暗焦枯攻毒良，灰白亮虛內託散，灰白滯鬱歸宗湯。
[註]
凡痘見點，貴察其色，如赤紫明亮者，此毒盛血熱也，以清熱解毒湯主之，
如黑暗乾枯者，此毒錮血凝也，以涼血攻毒飲主之，
如灰白明亮者，此血氣虛而不榮也，以千金內託散主之，
如灰白暗滯者，此毒氣鬱滯而不行也，以歸宗湯主之。

(清熱解毒湯) (涼血攻毒飲) (千金內託散)方俱見本條證治 
(歸宗湯)方見發熱證治
</pre>
<pre data-sec="p">
紫草飲子 歸宗湯
條文：037
平塌板鞕根鬆散，氣虛紫草飲木通，紫甲查蟬參枳殼，根腳緊束主歸宗。
[註]
凡痘見點，貴觀其形，
若頂平不起，根腳鬆散，此氣虛不能載毒 而痘難宣發也，以紫草飲主之，
若根腳緊束，此毒盛氣滯而內伏也，以歸宗湯主之。

(紫草飲子) 紫草 蟬蛻 人參 穿山甲炒 枳殼麩炒 山查 木通 水煎服。

(歸宗湯) 方見發熱證治。
</pre>
<pre data-sec="p">
歸宗湯
條文：038
痘出稠密或粘連，總是梟毒不必言，惟以歸宗攻毒主，根鬆猶可緊鞕難。
[註]
痘出之形，貴審疏密，
若稠密攢簇，粘連不分，總屬梟毒為害，以歸宗湯攻毒為主，
其痘根腳鬆者，猶屬可治，若緊束板鞕者，難治。

(歸宗湯) 方見發熱證治
</pre>
<pre data-sec="p">
起脹順證
條文：039
三朝出齊漸次長，尖圓礙指腳紅活，頂漸放白肥潤滿，順證飲食二便和。
[註]
三朝出齊者，謂見點三朝俱出齊也，
漸次長者，謂痘形漸次長也，
尖圓礙指者，謂痘形尖圓摸之礙指也，
腳紅活者，謂痘根腳紅活也，
頂漸放白者，痘頂漸漸放白光瑩也，
肥者，謂痘形肥實也，
潤者，謂痘色潤澤也，
滿者，謂痘體充滿也，
順證飲食二便和者，謂飲食二便如常調和也。
</pre>
<pre data-sec="p">
起脹險證
條文：040
起脹頂陷灰或紫，稠密嬌紅不綻蒼，形色雖順夾險證，證險神清胃壯康。
[註]
起脹頂陷者，謂痘頂凹陷也，
灰者，謂痘色灰白也，
紫者，痘色赤紫也，
稠密者，痘色稠密成攢也，
嬌紅者，謂痘色紅而嬌嫩也，
不綻蒼者，謂痘形不舒綻，色不蒼老也，此皆起脹險證也，
又有形色雖順而夾雜病者，雖順恐變為險也，
若痘之形色雖險，而神氣清爽，飲食強美，雖險將化為順也，
此順中險，險中順，不可不詳辨之。
</pre>
<pre data-sec="p">
起脹逆證
條文：041
起脹肉腫痘不腫，根血散亂頂平塌，紫黯乾枯灰白滯，名為逆證勢多差。
[註]
起脹肉腫痘不腫者，謂或頭面或過身浮腫如瓠瓜之狀，而痘反不腫脹，
此氣血不能拘攝毒氣，致毒散漫也，
根血散亂者，謂根腳血色散亂，此毒迫血，不歸附於痘也，
頂平塌者，謂痘頂不起發也，此毒火錮於氣分不能充發也，
紫黯者，痘色紫黯不明，此毒熾血凝也，
乾枯者，枯不潤澤，此血為毒火燔灼也，
灰白滯者，謂痘色灰白黯滯，此毒火太甚，氣血鬱滯也，
此皆起脹逆證，勢多難救。
</pre>
<pre data-sec="p">
起脹證治
條文：042
痘當起脹漸尖圓，紅潤根鬆體厚堅，平凹嫩白為虛證，赤紫皮塌是毒殘，
更有風寒滯熱鬱，毒不透達起發難，察痘形色分所屬，合證虛實寒熱參。
[註]
痘出齊之後，當漸漸依次起脹，
其形頂尖肥圓，其色紅活滋潤，根腳鬆綻，體厚皮堅皆起脹，順痘也，
平者，謂平扁不張，
凹者，謂頂陷不起，
嫩者，謂皮薄嬌嫩，
白者，謂色白不紅，此皆為氣血虛弱，
赤者，深紅而艷，
紫者，深赤而黯，
板者，板硬不綻，
塌者，平塌不起，
此皆毒熱傷殘，更有風寒外束，滯熱內鬱，使毒不得透出而起發也，
醫者當察痘之形色，分其所屬，合其病證，虛實寒熱，
參詳施治，庶無差謬矣。
</pre>
<pre data-sec="p">
保元化毒湯
條文：043
平凹灰白皮嫩亮，倦怠氣乏不渴煩，保元化毒參耆草，芎歸查甲芷香蠶。
[註]
痘不如期起脹，若平扁頂凹，其包灰白，皮薄嫩亮，
更見倦怠氣乏，不渴不煩等虛證者，
此氣血虛弱，不能起發其毒也，宜用保元化毒湯主之。

(保元化毒湯) 人參 黃耆蜜炙 甘草炙 當歸 南山查 穿山甲炒 
白芷 木香 殭蠶研炒
川芎 引加煨薑水煎服。
</pre>
<pre data-sec="p">
必勝湯 歸宗湯
條文：044
艷紅紫黯不起脹，板硬平塌不綻鬆，證見陽熱一切證，急服必勝或歸宗。
[註]
痘當起脹之時，若色艷紅紫，黯而不起脹，板硬平塌，而不綻鬆，
更見陽熱煩躁，便閉悶亂等證者，
此毒火錮滯，氣血不能領載其毒也，
急用必勝湯，或歸宗湯，庶或逆中求生也。

(必勝湯)方見見點證治

(歸宗湯)方見發熱證治。
</pre>
<pre data-sec="p">
蘇解散
條文：045
外因風寒痘不起，淺淡黯滯不潤紅，發熱惡寒無汗表，蘇解散發自然鬆。
[註]
痘當起脹之時，偶為風寒外襲，閉塞痘毒，不能起脹者，
其色則淺淡黯滯不潤，
其證則現發熱惡寒無汗，宜用蘇解散透發其毒，自然鬆而起矣。

(蘇解散) 方見見點證治。
</pre>
<pre data-sec="p">
寬中快癍湯
條文：046
傷食滯熱鬱不起，惡食腹熱便臭粘，快癍透毒加陳木，減葛蒡穗桔前蟬。
[註]
起脹之時，過於飲食，滯熱內鬱，痘不起脹，
其現證懶食惡食，肚皮發熱，大便臭粘，宜用寬中快癍湯主之，
其方即寬中透毒飲加入陳皮，木香，減去葛根，牛蒡子，
荊芥穗，桔梗，前胡，蟬蛻。

(寬中快癍湯) 青皮醋炒 陳皮 枳殼炒 南山查 麥芽炒 木香 黃連生 
連翹去心 厚朴炒 甘草生 引用生薑燈心水煎服。
</pre>
<pre data-sec="p">
灌漿順證
條文：047
順證七朝漿自行，先起先灌次第明，由紅轉白漸肥澤，九日蒼蠟顯痂形。
[註]
灌漿順證者，因氣盈血附，其毒易化，
至七朝不期行而自行也，先起先灌，
次第明者，謂痘先起脹者，當先灌漿，自頭面以及周身也，由紅轉白，
漸肥澤者，謂痘先見紅點，由紅轉白，血變成漿，漸慚肥滿而光澤也，
至九日漿老，則蒼如黃蠟色，而顯結痂之形矣。
</pre>
<pre data-sec="p">
灌漿險證
條文：048
灌漿漿清不按期，行遲收早總非宜，亮軟根艷並水泡，不雜他證險可醫。
[註]
痘當灌漿之時，漿清不濃，及不按期而漿行遲者，皆氣血虛也，
漿行收早者，是毒熱盛也，
軟薄者，謂痘皮不能堅實，恐其易於損破，則氣洩而漿雖成也，
根艷者，謂痘根赤艷，熱在血分，毒未盡化也，
水泡者，水泡夾雜於痘中，蓋因脾虛多濕也，此皆險證，
若不夾雜他證，雖險亦可醫也。
</pre>
<pre data-sec="p">
灌漿逆證
條文：049
紫黑灰白漿不行，癍爛癢塌痘殼空，稠密無漿目不閉，已閉行漿復開凶。
[註]
痘至行漿之時，其色紫黑或灰白，而漿不行者，
非梟毒內蘊，錮滯氣血，即虛弱不能領載其毒也，
癍爛者，謂漿未成而腐爛也，
癢塌者，謂行漿時作癢塌也，
痘殼空者，謂殼空而無漿也，
稠密無漿者，謂稠密不分顆粒，而復乾枯無漿也，
目不閉者，謂痘出太稠密，而眼目不封也，
目已閉復開凶者，謂起脹時其目已閉，行漿時目忽復開也，
此皆灌漿逆證，必主凶也。
</pre>
<pre data-sec="p">
灌漿證治
條文：050
毒化漿行領載功，膿窠充滿根暈紅，板黃灰滯紫黯熱，地紫形焦毒熱凝，
根暈淡紅血虧少，頂陷灰白氣不盈，皮薄漿清根無暈，氣虛血縮甚分明。
[註]
起脹即順，而按日毒化漿行，乃氣領血載之功也，
故發時膿窠充滿，根暈紅活，皆灌漿順痘也，
板黃者，謂板硬乾黃，乃毒盛凝結氣血也，
灰滯者，謂灰白黯滯，乃毒盛鬱滯氣血也，
紫黯者，痘色紫黯，乃毒盛血不化膿也，
地界色紫，痘形焦黑，乃毒火灼乾血液也，
根腳之暈紅色淺，乃血不足而虧少也，
頂陷不起，灰白無漿，乃氣不足不充盈也，
若痘皮薄漿，清根無紅暈，乃氣血虛縮，其用峻補無疑也。
</pre>
<pre data-sec="p">
清毒活血湯
條文：051
板灰紫黯漿不生，清毒活血地歸茸，查芍翹蒡芩連桔，木通參耆大酌行。
[註]
痘不如期灌漿，
若板硬乾黃，或灰滯紫黯乾枯，
此皆毒火傷其氣血而漿不行也，俱以清毒活血湯為主，
其方即紫草茸，當歸，木通，生地，白芍，連翹，牛蒡子，南山查，
桔梗，黃連，黃芩，人參，黃耆是也，
本方中有人參，黃耆，形氣怯弱者宜之，
若形氣壯實者，當減去人參，黃耆，
便秘加大黃，臨時當酌而行之可也。

(清毒活血湯) 紫草茸 當歸 木通 生地黃 白芍酒炒 連翹去心 
牛蒡子炒研 南山查桔梗 黃連 黃芩 人參 黃耆生 引加燈心水煎服。 
便秘者加大黃。
</pre>
<pre data-sec="p">
加味歸宗湯
條文：052
灌漿地紫形焦黑，毒火熾盛氣血凝，歸宗湯內加歸尾，紅紫犀連山甲丁。
[註]
痘當灌漿之時地界紅紫，痘形焦黑，而漿不行，
此毒火熾盛，氣血錮滯也，急用歸宗湯主之，
本方中加歸尾，紅花，紫草，犀角，黃連，穿山甲，地丁。

(加味歸宗湯) 方見發熱證治。
</pre>
<pre data-sec="p">
千金內託散
條文：053
淡紅頂陷無漿膿，氣血虛失領載功，干金內託散堪服，氣充毒化自漿生。
[註]
痘灌漿時，若色淡紅，或頂凹陷又無膿漿者，
此氣血虛弱，失其領載之功，
宜千金內託散補之，氣充毒化而漿自生矣。

(千金內托散) 方見見點證治。
</pre>
<pre data-sec="p">
參歸鹿茸湯
條文：054
皮薄裝清根無暈，氣虛血縮變須臾，參歸鹿茸湯峻補，參歸鹿茸草黃耆。
[註]
痘形皮薄漿清，根色無紅暈者，此氣虛血縮，惟恐變在須臾也，
以參歸鹿茸湯峻補氣血，漿生毒化，庶得生矣。

(參歸鹿茸湯) 
人參 鹿茸白酒炙 歸身 甘草炙 嫩黃耆蜜炙 加引糯米水煎服。
</pre>
<pre data-sec="p">
收靨順證
條文：055
十朝漿足應收靨，先蠟後粟似螺形，不疾不徐循次結，痂潤身和順證明。
[註]
十朝漿足者，謂應收靨結痂之期，
然必先如蠟黃，後如粟殼之色，痂似旋螺高起，則為上吉之痘，
不疾不徐者，謂先蒼老者先收靨結痂，次蒼老者次收靨結痂，
從上而下，循次而結，且更痂潤有光，身和無病，為順證無疑矣。
</pre>
<pre data-sec="p">
收靨險證
條文：056
險證裝足色不蒼，停漿不靨或爛傷，痂色紫黑不即脫，便調食美不須慌。
[註]
收靨險證，謂漿雖足而色不蒼也，
停漿不靨，謂過期漿不靨結也，
爛者，謂痘顆潰爛也，
傷者，謂癢抓傷損也，
痂色紫黑者，謂痘痂色紫黑也，
不即脫者，謂痘雖結痂不即脫落也，
以上諸證，皆收靨險證，
若二便調和，飲食強美，則化險為順不須驚慌也。
</pre>
<pre data-sec="p">
收靨逆證
條文：057
不靨外剝為逆證，麩薄黑黯淡白凶，痂靨粘連終不脫，雖脫乾枯亦死形。
[註]
不靨外剝者，謂痘不待收靨而皮若剝去，此名倒靨，則為逆證，
麩薄黯黑者，謂痘痂形色若麩之薄，若煤之黑，
淡白者，謂痂色淡白無光，故皆為凶也，
粘連不脫者，謂膿汁粘連久不脫落也，
雖脫乾枯者，謂痘痂雖脫而乾枯不潤也。
此二者亦為死形也。
</pre>
<pre data-sec="p">
收靨證治
條文：058
漿足蒼老頂微焦，漸次收靨不須療，太遲太速皆非吉，須辨虛毒濕火條，
漿清皮嫩為虛象，焮赤潰臭毒熱淆，漿水浸漬濕淫勝，靨速窠燥火煎熬。
[註]
漿至充足，其色蒼老，痘頂微焦，循次收靨，皆收靨順證，不須療治也，
太遲者，謂當靨不靨也，
太速者，謂不當靨而靨也，皆非吉痘，
然當辨其所屬，或不足或毒盛，或屬濕飲或屬火盛，須按證治之，
如漿清皮嫩，此屬不足，雖斂也，焮赤潰臭，此屬毒盛難斂也，
漿水浸漬，此屬濕盛難斂也，
靨速窠燥，此屬火盛斂早也，治者須詳辨之。
</pre>
<pre data-sec="p">
回漿飲
條文：059
皮嫩漿清收斂遲，此證當從不足醫，回漿參芩白朮草，首烏白芍炙黃耆。
[註]
痘至收斂之時，當靨不靨，皮嫩漿薄，現證身涼手足冷，二便不實者，
此原氣不足虛證也，宜用回漿飲補之，助其收結。

(回漿飲) 人參 黃耆蜜炙 白茯苓 白朮土炒 何首烏炙，白芍炒 甘草炙 
引用煨薑水煎服。
</pre>
<pre data-sec="p">
大連翹飲
條文：060
焮赤潰臭因毒盛，大連翹飲諸熱清，柴芩歸芍車梔草，翹蒡荊防蟬滑通。
[註]
痘當收斂之時，有因毒盛而難斂者，
更現證焮腫而赤，潰爛而臭，通身大熱，煩渴不寧，此毒氣大盛之故也，
須用大連翹飲以解之。

(大連翹飲)連翹去心 防風 牛蒡子炒研 荊芥 黃芩 當歸 蟬蛻 柴胡 
滑石 梔子 赤芍 車前子 木通 甘草生 引加燈心水煎服。
</pre>
<pre data-sec="p">
除濕湯
條文：061
遍體浸漬出水漿，證屬濕飲在脾鄉，除濕赤苓豬通澤，薄桂蒼防白朮羌。
[註]
痘當收斂之時，有因濕盛而不得斂者，
其現證輕則有孔漏裝，重則遍體潰爛，肚腹脹，小便短，皆濕飲為患也，
須用除濕湯以利之，濕除而痘自靨矣。

(除濕湯)
羌活 蒼朮米泔水浸炒 防風 赤芍 豬苓 澤瀉 白朮上炒 木通 薄桂
引加生薑燈心水煎服。
</pre>
<pre data-sec="p">
清毒散
條文：062
靨速皆因是火傷，遍體窠燥異尋常，清毒歸芍連丹草，翹蒡通花生地黃。
[註]
痘不當收斂之時，忽一時收斂者，
更現證過身窠粒乾燥，口渴發熱煩急不寧，此毒火壅盛之故也，
宜用清毒散主之。

(清毒散) 生地 赤芍 連翹去心 金銀花 牛蒡子炒研 木通 黃連 
當歸 丹皮 甘草生水煎服。
</pre>
<pre data-sec="p">
結痂落痂順證
條文：063
順證結痂吹序脫，瘢瘕潤滿色紅活，額膝遲落不足慮，陰陽相濟自然脫。
[註]
結痂順證，謂痘結痂依次序而脫落也，
瘢疽潤滿者，謂瘢痕潤而不燥，滿而不陷也，
紅活者，謂瘢痕不赤而色紅活也，
若涸身之痂落盡，而額膝遲落者，不足慮也，
蓋頭額謂孤陽，腳膝為孤陰，必待陰陽相濟而痂自落矣。
</pre>
<pre data-sec="p">
結痂落痂險證
條文：064
險證結痂不盡脫，瘢痕乾燥少紅活，餘毒痕色多紫黯，痘後必發火瘍癤。
[註]
結痂險證，謂痘結痂不盡脫也，
瘢痕乾燥者，謂瘢痕不潤澤也，以上二證，固屬險證，
若飲食強美，二便調和，雖險不足慮也，
餘毒者，謂痘後餘毒未盡解也，
其色紫黯者，乃餘毒之熱留於血分也，
瘍癤者，謂其毒留久必發痘毒火瘡也。
</pre>
<pre data-sec="p">
結痂落痂逆證
條文：065
逆證結痂痂不脫，痂脫疽色白不紅，痘盤光紫或枯黯，氣乏形羸何以生。
[註]
結痂逆證，謂痘結痂日久不脫也，痂已脫落，
其瘢色純白不紅，此血脫虛甚也，
痘盤光紫者，謂痘痕浮光色紫，此毒焰外熾也，
枯黯者，謂痘痕乾枮黑黯，此毒錮血死也，
氣乏形羸者，謂痘落痂之後，其兒元氣虛乏，形羸難支，將何恃以生也。
</pre>
<pre data-sec="p">
結痂落痂證治
條文：066
痂厚光澤如粟色，痂落瘢紅潤滿平，乾燥不落血分熱，過痂浸淫濕所乘，
半掀半連肌表熱，瘢紫黑焦毒末清，色赤凸起為風熱，色白凹陷是虛形。
[註]
痂厚光潤如粟色者，謂結痂厚而不薄，不乾不濕，不黑不白，如粟殼色，
痂落瘢紅潤滿平者，謂痂落瘢痕色紅潤澤，
平滿不凸不凹，皆結痂落痂順痘也，
痂乾燥不落者，乃血分熱也，
圍痂浸淫，乃濕邪也，
半掀半連，乃肌表熱也，
瘢紫黑焦，乃毒末清也，
若赤而凸起，乃風熱盛也，
白而凹陷，乃氣血虛也，
治者須詳辨之
</pre>
<pre data-sec="p">
涼血解毒湯
條文：067
結痂乾燥不潤澤，難落須知血分熱，涼血解毒歸地紫，丹紅翹芷連甘枯。
[註]
痘至結痂之後，當落不落者，
現證乾燥不潤，根色紅艷，渴欲飲冷，煩急不寧，
此毒熱鬱於血分故也，宜用涼血解毒湯主之，熱清而痂自落矣。

(涼血解毒湯) 當歸 生地黃 紫草 丹皮 紅花 連翹去心 白芷 
川黃連 甘草生 枯梗　引加燈心水煎服。
</pre>
<pre data-sec="p">
五苓散
條文：068
結後根腳漏水漿，甚則潰爛乃濕傷，五苓散中豬澤桂，茯苓白朮更相當。
[註]
痘當已結未落之時，根腳浸漏水漿，甚則過身潰爛，小水短濇，大便溏泄，
此濕勝浸淫之故也，宜用五苓散分利之，濕除而痂自落矣。

(五苓散) 豬苓 澤瀉 肉桂 茯苓 白朮土炒 引加燈心水煎服。
</pre>
<pre data-sec="p">
荊防解毒湯
條文：069
半掀半連因表熱，似落不落勢纏綿，荊防解毒芍地草，金銀通桔骨翹攢。
[註]
痘當落痂之後，宜落不落，其痂一半掀起，一半咬緊，
現證身熱乾燥，肌膚紅赤，此熱在肌表之證，宜荊防解毒湯主之。

(荊防解毒湯) 
荊芥 防風 赤芍藥 生地黃 甘草生 金銀花 木通 桔梗 
地骨皮 連翹去心 引加生薑水煎服。
</pre>
<pre data-sec="p">
黃連解毒加味湯
條文：070
痂落瘢紫黑與焦，毒熱鬱結未曾消，解毒芩連梔子蘗，加丹生地草金翹。
[註]
痘當落痂之後，其瘢或紫或焦或黑，
現證通身壯熱，煩渴不寧，
皆因灌溉時漿未充足，毒氣未盡化故也，
均宜黃連解毒湯加生地，連翹，丹皮，金銀花，甘草主之。

(黃連解毒加味湯) 
黃連 黃芩 梔子 黃蘗 丹皮 生地黃 甘草生 金銀花 連翹去心
引加燈心水煎服。
</pre>
<pre data-sec="p">
解毒防風湯
條文：071
落後瘢赤作腫形，內熱未解復受風，解毒黃芩生地草，翹蒡荊防金芍升。
[註]
痘當落痂之後，瘢凸不干，色赤而艷，或發熱或作癢，皆血有餘熱，
復外感於風故也，宜解毒防風湯主之。

(解毒防風湯) 
黃芩 生地黃 甘草 連翹去心 牛蒡子炒研 荊芥 防風 金銀花 赤芍
升麻 引加生薑水煎服。
</pre>
<pre data-sec="p">
十全大補湯
條文：072
落痂凹陷最可慮，色白形羸氣血虛，大補參苓白朮草，歸芎芍地桂黃耆。
[註]
痘當落痂之後，其瘢凹而不起，色白不紅，
現證精神倦軟，飲食懶少，
此氣血兩虛之證也，宜十全大補湯主之。

(十全大補湯) 人參 茯苓 白朮土炙 甘草炙 當歸 川芎 白芍炒 
熟地黃 肉桂 黃耆蜜炙 引加煨薑水煎服。
</pre>
<pre data-sec="p">
面部吉凶論
條文：073
面為諸陽聚會之所，其部位各有所屬，欲識痘出之吉凶，
須按部位驗之，則立判矣，
如額屬心位，自印堂以上，髮際以下，至日月兩角，
若先見點，先作漿，先結靨者，皆惡候也，以心為君主，義不受邪，
先見於是位者，乃毒發於心，故非吉兆也，
左頰屬肝，右頰屬肺，
若兩頰先見紅點，磊落分明者吉，如相聚成塊地界不清，肉體腫硬者凶，
蓋肝藏魂，肺藏魄梟毒侵犯，則魂魄將離，安望其有生意乎？
頦下屬腎，自承漿以至兩頤，先見點先灌先靨者吉，
誠以此位雖係腎部，而三陰三陽之脈皆聚於此，
先發先灌先靨者，乃陰陽和暢，故可治也，
至若鼻屬脾藏，位在中央，所最忌者，準頭先出與先靨也，
蓋脾土榮養於四藏，若毒發於脾，是脾敗矣，
脾敗則四藏亦隨之而敗，即纏綿時日，亦不過苟延性命而已，
夫耳為腎竅，又少陽相火之脈行耳前後，
故凡耳輪先見紅點者，乃火毒燔灼，難以撲滅，非吉象也，
最可喜者，口唇四圍先出先灌先靨也，以陽明之脈俠口環唇，胃與大腸主之，
多氣多血之處，無物不受，故主吉也，
此藏府部位之要，須詳察於平時，庶能權宜於臨證也。
</pre>
<pre data-sec="p">
蒙頭
條文：074
痘瘡貫頂號蒙頭，毒參陽位最可憂，形尖鬆肌通聖治，紅腫如瓜藥枉投。
[註]
頭為諸陽之會，遍身稀疏而頭獨稠密者，名曰蒙頭，此毒參陽位也，
若痘形稍尖圓者，當以鬆肌通聖散治之，
設頭紅腫如瓜，是為不治之證，即投藥餌，終屬無濟。

(鬆肌通聖散) 荊芥 羌活 牛蒡子炒研 防風 紫草 紅花 青皮 當歸 
赤芍 紫花地丁 蜂房 山查 木通 引加蘆笋芫荽水煎服。
(方歌)
鬆肌通聖藥最靈，荊芥羌蒡共防風，紫草紅花青歸芍，地丁蜂房查木通。
</pre>
<pre data-sec="p">
抱鬢
條文：075
兩鬢出痘貴稀朗，稠密粘連火毒狂，鬆肌通聖先透發，繼以歸宗攻毒良。
[註]
兩鬢近於太陽，出痘稀朗則吉，若稠密粘連，名日抱鬢，乃火毒狂盛也，
宜先用鬆肌通聖散透發其毒，繼用歸宗湯攻其毒熱，庶可轉危為安。

(鬆肌通聖散)方見蒙頭證治
(歸宗湯)方見發熱證治。
</pre>
<pre data-sec="p">
蒙骩
條文：076
痘攢耳後名蒙骩，腎經伏毒最可憂，鬆肌歸宗兩酌用，燕脂貼法莫遲留。
[註]
痘攢聚於耳後高骨，名曰蒙骩，此係毒火發自腎經，其證最惡，
內服鬆肌通聖散，外用燕脂膏貼之，若更稠密炮熱者，以歸宗湯攻之。

(鬆肌通聖散) 方見蒙頭證治。

(燕脂膏) 升麻煎濃湯去滓，用棉燕脂於湯內揉出紅汁，
再加雄黃細末，調勻貼患處。

(歸宗湯) 方見發熱證治
</pre>
<pre data-sec="p">
鎖眼
條文：077
兩眼週圍獨稠密，痘名鎖眼毒傷脾，外用燕脂膏貼法，內服清熱解毒宜．
[註]
面部俱稀，兩眼週圍獨稠密者，名曰鎖眼也，乃毒熱熾盛，傷於脾經，
外宜貼燕脂膏，內服清熱解毒湯。

(燕脂膏)方見蒙骫證治
(清熱解毒湯)方見見點證治。
</pre>
<pre data-sec="p">
抱鼻
條文：078
痘如蠶種繞鼻端，毒聚脾肺證難延，外用燕脂塗鼻上，內服黃連解毒煎．
[註]
面部俱稀，獨鼻梁左右密如蠶種者，名曰抱鼻，此乃毒聚脾肺，
至危之證，先以燕脂膏塗於鼻上，繼用黃連解毒湯治之。

(燕脂膏)方見蒙骫證治。

(黃連解毒湯)方見結痂落痂證治。
</pre>
<pre data-sec="p">
鎖口
條文：079
鎖口梟毒伏脾經，或單或雙遠脣生，外用鍼刺燕脂法，內服瀉黃散即寧．
[註]
一嘴角有痘一粒，較諸痘獨大，板硬無盤，名日單鎖口，
兩嘴角各有一粒，名日雙鎖口，
又口之上下四旁，連串環遠者亦名鎖口，此毒擁於脾也，
初出急以銀鍼挑破，外以燕脂膏貼之，內服瀉黃散，使痘轉紅活，庶可望生。

(燕脂膏)方見蒙骩證治。

(瀉黃散) 犀角 黃連 生地 青皮 木通 石膏 丹皮 荊芥穗 
牛蒡子炒研 大黃 紅花　紫花地丁 引加燈心水煎服。
(方歌)
鎖口瀉黃散最靈，犀連生地青木通，石膏丹皮荊牛蒡，大黃紅花合地丁。
</pre>
<pre data-sec="p">
鎖脣
條文：080
鎖脣痘聚口脣內，腫裂乾黃板硬實，瀉黃散內合豬尾，燕脂貼法莫少遲。
[註]
痘出攢聚於脣內者，名曰鎖脣，
輕則焦裂腫痛，重則板硬乾黃，此毒火發於脾臟也，
急以瀉黃散合豬尾膏服之，外用燕脂貼法，
若見黑色，則血毒凝錮，終無救矣。

(瀉黃散) 方見鎖口證治。

(豬尾膏) 取小雄豬尾尖血十數滴 和梅花冰片少許，即調於煎劑內服。

(燕脂膏) 方見蒙骫證治。
</pre>
<pre data-sec="p">
託腮
條文：081
託腮腮邊痘成攢，氣為毒阻起發難，急用黃連解毒治，板硬紫黯歸宗先。
[註]
滿面俱稀，獨兩腮之痘攢攢成片者，名曰託腮，
乃正氣為毒所阻，難以起發也，
當見點之初，毒勢未成，即以黃連解毒湯解之，
如板硬紫黯，以歸宗湯攻之。

(黃連解毒湯) 方見結痂落痂證治。

(歸宗湯) 方見發熱證治。
</pre>
<pre data-sec="p">
鎖項
條文：082
當喉攢聚名鎖項，毒結咽喉命必雖，音啞聲嗆食難入，清金攻毒是良煎。
 [註]
頸項者，咽當喉之管籥也，此處痘出攢聚，名曰鎖項，
若不急治，迨毒攻咽喉，必發為腫痛，音啞聲嗆，湯水雖下，多致不救，
用清金攻毒飲庶或望生。

(清金攻毒飲) 牛蒡子炒研 甘草生 苦枯梗 玄參 枳殼炒 殭蠶炒 
前胡 荊芥穗 大黃 山查 蟬退 山豆根 引加燈心水煎服。
(方歌)
清金攻毒飲如神，牛蒡甘桔合玄參，枳殼彊蠶前胡穗，大黃山查蟬豆根。
</pre>
<pre data-sec="p">
披肩
條文：083
披肩兩肩痘成攢，上下阻塞毒透難，清解熱毒湯投證，便秘歸宗又為先。
[註]
兩肩之痘粘連成攢，其色赤紫滯黯，名曰披肩，此毒氣不鬆，上下阻塞也，
以清熱解毒湯主之，大便秘秘者，以歸宗湯主之。

(清熱解毒湯) 方見見點證治。

(歸宗湯) 方見發熱證治。
</pre>
<pre data-sec="p">
聚背
條文：084
背間出痘不宜多，若逢攢聚命蹉跎，根鬆鬆肌燕脂貼，堅硬必勝湯可活。
[註]
大凡毒發於背者，多關生死，至於出痘，更貴稀疏，
若背間攢聚粘連者，名曰聚背，而亦當辨根腳之緊鬆，
根鬆者，毒尚活動，內服鬆肌通聖散，外用燕脂膏貼之。
根緊硬者，因毒錮血凝，急用必勝湯治之，然亦死中求活之一法耳。

(鬆肌通聖散)方見蒙頭證治

(燕脂膏)方見蒙骩證治 

(必勝湯)方見見點證治。
</pre>
<pre data-sec="p">
攢胸
條文：085
胸前出痘貴稀輕，攢聚粘連毒熱凝，速用涼膈攻毒飲，免使梟毒內裏攻。
[註]
胸膈乃心肺二經部位，出痘稀少方吉 倘攢簇於此，名曰攢胸，
乃毒熱所致也，當以涼膈攻毒飲主之，則梟毒不內侵矣。

(涼膈攻毒飲)梔子生 黃連生 石膏生 荊芥 紫花地丁 枳殼麩炒 
桔梗 玄參 生地 牛蒡子炒研 大黃 赤芍 甘草生 薄荷 木通 
引加燈心竹葉水煎服。
(方歌)
涼膈攻毒治攢胸，梔連石膏荊地丁 枳桔玄參生地蒡，大黃芍草薄木通。
</pre>
<pre data-sec="p">
斷橋
條文：086
斷橋之痘形甚異，腰間納無上下密，氣血阻滯毒熱壅，歸宗峻攻痘出吉．
[註]
痘名斷橋者，腰間絕無一點，惟身上下稠密也，
蓋梟毒壅於上下，氣血阻於中宮，故致上下隔斷而成最惡之證，
宜用歸宗湯攻之，使無痘處透出，方化為吉也。

(歸宗湯) 方見發熱證治。
</pre>
<pre data-sec="p">
纏腰
條文：087
腰為腎候痘宜疏，連珠環違奈何如，治宜攻毒莫少待，歸宗急服患能除。
[註]
腰為腎候，痘宜稀疏，若連珠環遶，名曰腰纏，此毒伏於腎也，
治以攻毒為主，宜用歸宗湯治之。

(歸宗湯) 方見發熱證治。
</pre>
<pre data-sec="p">
囊腹
條文：088
囊腹腹前痘如囊，梟毒衝突勢猖狂，透毒鬆肌通聖散，攻毒歸宗湯甚良。
[註]
腹前出痘狀如囊聚，名曰囊腹，是梟毒衝突，勢甚猖狂也，
此地近於臟腑，毒易內攻，須先用鬆肌通聖散透發其毒，
再用歸宗湯以攻其毒，使地界分明，根腳鬆動，庶無慮矣。

(鬆肌通聖散)方見蒙頭證治 。
(歸宗湯)方見發熱證治。
</pre>
<pre data-sec="p">
鱗坐
條文：089
鱗坐兩臀痘若鱗，急急治之莫逡巡，平扁灰滯通聖效，板硬紫黯歸宗神。
[註]
鱗坐者，兩臀之痘聚集如鱗也，因毒火太甚，攢聚於至陰之地，
若不急治，變如反掌，
如平扁灰滯者，鬆肌通聖散主之，
板硬紫黯者，歸宗湯主之。

(鬆肌通聖散)方見蒙頭證治
(歸宗湯)方見發熱證治。
</pre>
<pre data-sec="p">
囊毬
條文：090
囊毬痘密在腎囊，毒聚於斯最難當，即用散結湯調治，毒宣熱解始安康。
[註]
腎囊者，乃腎之外候關要處也，若痘出稠密，乃毒聚於斯也，
宜用散結湯主之疏解通暢，庶可愈矣。

(散結湯) 荊芥 羌活 牛蒡子炒 升麻 川芎 丹皮 紫花地丁 赤芍 
木通 紫草 青皮 山查 引加蘆笋十株　水煎服。
(方歌)
散結湯中藥堪誇，荊芥羌蒡共升麻，川芎丹皮地丁芍，木通紫草青山查。
</pre>
<pre data-sec="p">
抱膝
條文：091
兩膝之痘獨稠密，因地命名為抱膝，須防行漿難下達，速用鬆肌通聖治。
[註]
抱膝者，遍身痘出稀疏，獨兩膝攢簇如餅，此毒氣凝聚於膝，
至行漿時恐難下達於足脛也，宜用鬆肌通聖散加牛膝透之，功效甚速。

(鬆肌通聖散)方見蒙頭證治。
</pre>
<pre data-sec="p">
無根
條文：092
足踝以下痘無形，毒熱錮蔽勢多凶，速宜驅毒扶脾氣，快癍越婢湯有功。
[註]
足踝以下屬於脾經，若過身有痘而此地獨無者，名曰無根，是毒滯於脾也，
但足為至陰之地，非建立中州發越脾氣，不能下達，故用快癍越婢湯以發之。

(快癍越婢湯) 黃耆蜜製 桂枝 防風 白芍藥炒 甘草生 引用生薑紅棗水煎服。
(方歌)
快癍越婢藥最靈，黃耆桂枝及防風，白芍甘草薑棗引，煎服之後痘自生。
</pre>
<pre data-sec="p">
蛇皮
條文：093
蛇皮痘出似蛇皮，隱隱簇簇漫無拘，毒輕歸宗湯調治，毒重必勝豬尾宜。
[註]
痘出叢族，成片散漫無拘，名曰蛇皮，
見點之初，視其隱隱簇簇細密無倫，乃毒火所致，
以歸宗湯攻其毒，甚者以必勝湯佐以豬尾膏救之。

(歸宗湯)方見發熱證治

(必勝湯)方見見點證治。

(豬尾膏)方見鎖脣證治
</pre>
<pre data-sec="p">
蠶種
條文：094
痘出形如蠶佈種，梟毒勢重逆而凶，速用歸宗湯救治，毒鬆痘起可望生。
[註]
痘出稠密如蠶佈種者，名曰蠶種，乃梟毒太重，凶逆之甚，
速用歸宗湯攻之，使毒鬆痘起，方可望生。

(歸宗湯)方見發熱證治。
</pre>
<pre data-sec="p">
燕窩
條文：095
痘形纍纍似燕窩，聯絡細密不成顆，外用燕脂點痘上，內服涼血解毒和。
[註]
痘出纍纍聯絡，細密不成顆粒，故謂之燕窩，
宜外用燕脂膏貼法，內服涼血解毒湯和之。

(燕脂膏) 方見蒙骩證治。

(涼血解毒湯) 方見結痂落痂證治
</pre>
<pre data-sec="p">
鼠跡
條文：096
四五相連名鼠跡，周身為重少見輕，速用歸宗攻毒熱，相併成泡始堪生．
[註]
痘出四五粒，或六七粒相粘連者，名曰鼠跡，
見一二處者輕，見周身者為重，
速用歸宗湯攻之，令相併成泡，其毒方解，始可望生。

(歸宗湯) 方見發熱證治
</pre>
<pre data-sec="p">
疊錢
條文：097
痘形平伏無顆粒，團團鑽聚若疊錢，外用燕脂調貼法，內服涼血攻毒痊。
[註]
痘已見點，平伏不起，顆粒不分，團團攢聚，狀若疊錢者，
此血熱毒盛也，外用燕脂膏貼之，內以涼血攻毒飲治之。

(燕脂膏)方見蒙骩證治

(涼血攻毒飲)方見見點證治
</pre>
<pre data-sec="p">
環珠
條文：098
痘出圍繞若環珠，毒氣壅滯宜早圖，清熱解毒為妙劑，毒解漿生患自除。
[註]
痘名環珠者，以出而圍繞，形若環珠也，此毒氣壅滯所致，
以早圖治，以清熱解毒湯主之，使毒解漿生，其患自除矣。

(清熱解毒湯) 方見見點證治。
</pre>
<pre data-sec="p">
浮萍
條文：099
視之有點按無形，參差紫黯若浮萍，速用涼血攻毒劑，能使毒鬆色轉紅o
 [註]
浮萍者，視之有點，按之無形，參差不齊，痘色紫黯，狀如浮萍也，
此乃血瘀毒熾，非急攻不可，速用涼血攻毒飲攻之，
能使毒鬆色轉紅活，庶可望生。

(涼血攻毒飲) 方見見點證治。
</pre>
<pre data-sec="p">
蟹爪
條文：100
痘形連貫顆碎密，上闊下細蟹爪形，起脹根鬆毒始解，清熱解毒服有功。
[註]
蟹爪者，痘形連貫，顆粒碎密，上闊下細，如蟹爪之狀，
急用清熱解毒湯治之，使連貫處起脹根鬆，其毒可解也。

(清熱解毒湯) 方見見點證治。
</pre>
<pre data-sec="p">
䕯沙
條文：101
痘形歪斜復扁闊，無頂無盤名䕯沙，通聖歸宗酌量用，頂起根鬆痘始佳。
[註]
䕯沙者，痘形扁闊歪斜不圓，無頂無盤，若䕯沙細小，
宜先用鬆肌通聖散主之，
若色紫黯者，歸宗湯主之，能頂起根鬆，始為佳境。

(鬆肌通聖散)方見蒙頭證治

(歸宗湯)方見發熱證治。
</pre>
<pre data-sec="p">
血泡
條文：102
痘夾血泡因肺熱，或紫或赤微甚別 內服涼血解毒湯，外用鍼刺出惡血。
[註]
痘當起脹時，忽有小泡夾痘而出 漸漸長成，如白果大，
毒甚則紫，毒微則赤，皆謂之血泡，此因毒熱在肺，傳於皮膚，大小不一，
須內服涼血解毒湯，外用銀鍼刺破，流出惡血，方保無恙，
若不急治，聽其自破，惡汁流染 痘亦因之赤爛矣，治者宜詳記之。

(涼血解毒湯)方見結痂落痂證治。
</pre>
<pre data-sec="p">
水泡
條文：103
水泡濕淫剋脾經，手足稠密身而輕，內服加味保元劑，外塗胡荽官粉靈。
[註]
水泡者，形大皮薄，內含一包清水，
蓋因濕淫之氣侵剋脾經，
故身面俱少，手足獨密，以四肢屬脾故也，
須服加味保元湯，外出銀鍼刺破，以胡荽酒調官粉塗患處，
若延遲不治，變成癢塌，則難救矣。

(加味保元湯) 人參 豬苓 澤瀉 白朮土炒　黃耆蜜炙 赤茯苓 甘草炙
 引用生薑水煎服。
(方歌)
加味保元功最捷，人參豬苓共澤瀉，白朮黃耆赤茯苓，甘草生薑同一列。

(胡荽酒) 
胡荽四兩切碎 黃酒半觔同煎，勿令洩氣，候溫調官粉，搽敷破處。
</pre>
<pre data-sec="p">
肉腫瘡不腫 
條文：104
瘡未起脹肉腫浮，皮光色艷最堪愁，赤艷羌活救苦治，淡紅參歸大補求，
通身盡赤毒熱熾，速以歸宗及早投。
[註]
痘當起脹時，自頭及身，漸次同痘浮起，此氣領血載，其毒外發也，
如頭身之肉先腫，皮包赤艷而痘瘡不腫，
此為毒邪有餘，不受正制，宜用羌活救苦湯，
若皮包淡紅者，乃氣血不足，不能拘攝毒氣，宜用參歸大補湯治之，
更有通身皮膚盡赤，此為毒火熾盛，前灼血分，宜用歸宗湯。

(羌活救苦湯) 蔓荊子 羌活 牛蒡子炒 升麻 黃耆 川芎連翹去心 
桔梗 白芷 防風 人中黃 引用荷葉水煎服。
(方歌)
羌活救昔湯最良，升麻川芎合羌防，牛蒡黃耆白芷翹，蔓荊桔梗人中黃。

(參歸大補湯) 人參 當歸 黃耆 甘草 白芷 川芎 防風紫草茸 木香 
南山查 厚朴薑炒 桔梗 引用生薑水煎服。
(方歌)
參歸大補最有靈，參耆當歸桔川芎，防風白芷木香草，厚朴山查紫草茸。

(歸宗湯) 方見發熱證治。
</pre>
<pre data-sec="p">
乾枯
條文：105
毒火煎灼傷陰血，痘體乾桔少潤澤，當歸活血加味嘗，治若少緩變莫測。
[註]
色者，血之華也，血和則滋潤光瑩，血耗則乾燥桔竭，
痘之毒火入於血分，輕則焮紅，甚則焦紫，
治以救血為急，宜當歸活血湯主之。

(當歸活血湯) 當歸 川芎 赤芍 生地 紅花 紫草 黃芩 黃連 大黃 水煎服。
(方歌)
加味當歸活血湯，痘色乾桔服最良，四物紅花共紫草，加人芩連生大黃。
</pre>
<pre data-sec="p">
鋪紅
條文：106
鋪紅多因元氣弱，血不歸附毒漫行，肌膚盡紅根赤艷，氣失統攝痘多凶，
氣虛九味神功補，毒盛涼血解毒清。
[註]
起脹時血盡歸附於痘，根下有紅線緊束，乃正形也，
若元氣虛弱，血不歸附，致毒氣散漫，肌膚之上，根色紫艷，
是氣失統攝之力，多致不救，
若氣虛而痘微赤者，以九味神功散主之，
毒盛根艷者，以涼血解毒湯主之。

(九味神功散) 人參 黃耆 紫草茸 紅花 前胡 牛蒡子炒研 甘草生 
白芍藥酒炒 生地黃 引用大棗水煎服。
(方歌)
九味神功治鋪紅，人參黃耆紫草茸，紅花前胡牛蒡草，白芍生地棗相從。

(涼血解毒湯) 方見結痂落痂證治。
</pre>
<pre data-sec="p">
根窠無暈
條文：107
血虛痘色多散漫，根窠淡白少鮮艷，芎歸保元湯可投，參歸鹿茸有奇驗。
[註]
痘至成漿時，若氣血交會，必有一血線緊附根下，如珍珠置於燕脂之上，
粒粒光彩，此正形也，
設平日氣血虛弱，當灌漿時頂雖圓滿，根下全無紅暈，以芎歸保元湯主之，
虛甚者以參歸鹿茸湯主之。

(芎歸保元湯) 人參 甘草炙 黃耆蜜炙 當歸酒洗 川芎 引用龍眼肉水煎服。
(方歌)
芎歸保元治血虛，人參甘草共黃耆，酒洗當歸川芎配，龍眼作引服無時。

(參歸鹿茸湯) 方見灌漿證治。
</pre>
<pre data-sec="p">
皮薄漿嫩
條文：108
痘瘡皮薄根不紅，待得成膿漿淡清，溶溶破爛不完整，氣血虛弱證多凶，
速服十全大補劑，氣充血足始堪生。
[註]
痘瘡賴氣血以成功，氣血充實，則痘皮蒼老，肥滿堅厚，
若氣血虛縮，痘必光亮軟皺，溶溶如濕，
須用十全大補湯峻補氣血，庶毒化漿行，可保安全矣。

(十全大補湯) 人參 黃耆蜜炙 茯苓 當歸 白朮土炒 肉桂 甘草炙 
白芍酒炒 熟地黃 川芎 引用煨薑水煎服。
(方歌)
十全大補湯最靈，人參黃耆白茯苓，當歸白朮肉桂草，白芍熟地及川芎。
</pre>
<pre data-sec="p">
空殼無漿
條文：109
痘殼圓融漿不行，有虛有實要分明，根色淡白血虛弱，紫緊由於血熱凝，
千金內託同四物，因證施治莫遲停。
[註]
痘至行漿時，頭面過身，外雖脹而內實無漿，名曰空殼，當別虛實治之，
如根色淡白者，此血虛不能化毒成漿也，宜千金內託散，
根緊而紫者，此氣行血滯，毒熱伏於血分，而不能成漿也，
宜加味四物湯治之。

(千金內託散) 方見見點證治。

(加味四物湯) 
生地酒洗 川芎白芍酒炒 當歸酒洗 連翹去心 紫草茸酒洗 水煎服。
(方歌)加味四物湯，當歸生地黃，川芎白芍藥，紫茸連翹食。
</pre>
<pre data-sec="p">
痘頂塌陷
條文：110
痘根雖紅頂塌陷，此證多緣氣虛見，面白肢冷食懶嘗，虛煩便溏身怠倦，
急用補中益氣湯，氣充頂升漿充貴。
[註]陷頂者，由中氣微弱不能振揚，故灌漿時，根雖紅潤，頂卻微塌，
現證面白肢冷，不思飲食，虛煩便溏，身體怠倦也，
治宜補氣為主，用補中益氣湯，則氣足漿升，而頂自起矣。

(補中益氣湯) 黃耆蜜炙 白朮土炒 人參　升麻炒 柴胡炒，
陳皮 甘草 當歸身並引用煨薑大棗水煎服。
(方歌)
補中益氣效如神，黃耆白朮共人參，升麻柴胡陳皮草，煨薑大棗及歸身。
</pre>
<pre data-sec="p">
灰陷白陷
條文：111
氣血虛寒不振揚，灰白陷頂少膿漿，速用參歸鹿茸劑，雞冠血酒更堪嘗。
[註]
痘至灌漿時，其色淡白，根無紅暈，而頂陷者，是謂白陷，
虛極則轉為灰陷，由氣虛委而不，血虛漿不能充，故一陷而不可遏也，
治宜大補氣血為主，宜參歸鹿茸湯，臨服入雞冠血酒，
日進二三服，但得頂起漿行方免無恙。

(參歸鹿茸湯) 方見灌漿證治。

(雞冠血酒) 用大雄雞一隻，先將白酒一杯炖溫，次刺雞冠血數點，
滴入杯中和勻，仍炖溫調煎藥內服。
</pre>
<pre data-sec="p">
紫陷黑陷
條文：112
紫陷黑陷皆毒盛，平塌昏黯根不鬆，此屬氣血被火鬱，解毒急宜用歸宗。
【註】
痘出稠密，顆粒碎小，根緊昏黯，頂凹下而紫者，謂之紫陷，
甚而轉為黑色，則為黑陷，
皆由毒火鬱閉，氣不宣通故也，
治宜清熱解毒，以歸宗湯主之。

（歸宗湯）方見發熱證治。
</pre>
<pre data-sec="p">
板黃
條文：113
漿未充足痘板黃，頂塌成片皮硬僵，氣滯血凝難灌溉，皆緣毒熱侵脾鄉，
速服清毒活血劑，毒化痘起轉安康。
【註】
板黃者，謂灌膿時漿未得半，忽然黃色突起，乾燥堅硬，
蓋因梟毒肆害脾鄉，故氣滯血凝，難以灌溉也，須用清毒活血湯治之，
倘得痘起尚可望生，若頭面頸項眼眶脣上，及週身黃者，則不治也。

(清毒活血湯) 當歸 白芍藥酒炒 生地黃 紫草茸酒炒 黃芩 黃連酒炒 
牛蒡子炒 南山查 連翹去心 人參 黃耆生 桔梗 木通引用燈心水煎服。
(方歌)
清毒活血湯最靈，歸芍生地紫草茸，芩連牛蒡山查翹，參耆桔梗合木通。
</pre>
<pre data-sec="p">
倒靨
條文：114
倒靨漿清陷不紅，痘殼皮皺痂不成，速用加味保元劑，氣血充足痘收功。
[註]
倒靨者，裝色清稀不足 根腳淡白無暈，遍體形如痘殼，
瘡皮皺而似結非結，至收靨時，終不成痂，
此因氣血兩虛，乏領載之力也，
宜加味保元湯治之。

(加味保元湯) 人參 黃耆蜜炙 甘草炙　全當歸酒洗 白芍酒炒 
木香煨 白朮土炒官桂 引用老米水煎服。
(方歌)
加味保元治倒靨，人參黃耆甘草協，當歸白芍廣木香，白朮官桂效更捷。
</pre>
<pre data-sec="p">
痘疔
條文：115
痘疔梟毒亂正瘡，色紫黑黯形堅強，先出先長妨諸痘，鍼刺隨貼四聖良。
[註]
痘疔之成，由梟毒蘊伏，錮蔽於肌肉之間，
痘未出疔先出，痘未長疔先長，
其色紫黑其形堅強，五藏各有所見，
心疔色赤，起於顴阜胸乳之處，
肝疔色紫，起於左太陽，左脅眼胞，兩臀阜之處，
脾疔色先黃後黑，起於腮頰，中庭，口角，肚腹，手足之處，
肺疔色先灰後黑，起於右太陽，右脅，頸項，喉突之處，
腎疔色黑，起於地閤後，頸耳窖，背窬，腰脊，陽莖之處，
見時急用銀針刺破，以洩毒血，刺後用四聖膏貼患處，
若遲延不治，能使痘當發不發，當脹不脹，當灌不灌，而百變生矣。

(四聖膏) 菉豆四十九粒 豌豆四十九粒俱燒灰存性 珍珠一分煆 
頭髮一分燒灰 以上為細末，以棉燕脂水調和成膏，
將銀鍼撥開瘡頭，然後塗之。
</pre>
<pre data-sec="p">
挑痘疔法
條文：116
痘疔須用鍼挑撥，轉重徐急貴合宜，破頂傷肌俱深忌，上漿急挑莫遲疑。
[註]
凡用鍼挑痘疔時，以二指拏鍼，平平入痘，撥斷痘中筋絡，眾痘即發，
但挑時輕重疾徐之間，貴乎得宜，不可挑破痘頂，亦不可重入傷肌，
須待三四五六日上漿之際，痘能含鍼，方可挑撥，
過七日則無用矣，治者宜詳識之。
(煮鍼法) 甘草生 甘遂 川島 草烏各等分 用水一鍾，入砂罐內，
以水乾為度，每次可煮四五鍼，煮完入鵝翎筒內，黃蠟塞口收之
</pre>
<pre data-sec="p">
痘中雜證
發熱
條文：001
表熱無汗升麻湯，裏熱有汗消毒良，行漿毒蒸清毒劑，結後餘熱連翹方。
[註]
痘之一證，始終不可盡除其熱，
蓋熱非壯熱。乃和緩之熱也，以寒則收縮，熱則宣發，
發熱無汗，此熱在表也，升麻葛根湯加荊芥穗防風主之，
蒸熱有汗，此熱在裏也，加減消毒飲主之，至行漿時熱不減者，
此為毒熱熏蒸，宜用清毒活血湯，便秘者，去人參黃耆，加酒炒大黃，
至結痂後發熱壯盛，胸腹手足俱熱，二便秘澀者，
此為餘毒過盛 宜用大連翹飲治之。

(升麻葛根湯) 方見發熱證治。

(加減消毒飲) 升麻 牛蒡子炒研 山豆根 紫草 連翹去心　生地黃 
赤芍 川黃連 甘草生 引用燈心水煎服。
(方歌)
加減消毒飲如神，升麻牛蒡山豆根，紫草連翹生地芍，黃連甘草引燈心。

(清毒活血湯)方見灌漿證治

(大連翹飲）方見收靨證治。
</pre>
<pre data-sec="p">
痘中雜證
驚搐
條文：002
未見點搐清解力，已見猶搐導赤良，廧後虛搐寧神劑，食蒸發搐大安康。
[註]
驚痘者，
多緣痘毒之火觸動心神，移熱於肝，肝風與心火相搏，遂成是證，
治法須別始終，
如痘末出，而先發搐者，不可純用寒涼壅閉其毒，
惟以清解散疏散表邪，痘出而搐自止矣，
若痘已見形，仍抽搐不止者，此毒火內伏心經也，宜用導赤散加黃連治之，
靨後發抽者，是真氣虛弱，火邪內攻，以寧神湯主之，
痘後食蒸發搐者，此脾胃虛弱，必面黃潮熱，大便酸臭，
宜木香大安丸治之。

(清解散) 方見發熱證治

(導赤散)木通 生地黃 淡竹葉 甘草梢 引用燈心水煎服。
(方歌)
痘已見形仍作驚，導赤散治最有功，木通生地竹葉草，黃連加人效通靈。

(寧神湯) 人參 生地黃 麥門冬去心 梔子仁炒 黃連酒炒 石菖蒲 
當歸身 甘草炙 辰砂 引用燈心水煎服。
(方歌)
寧神湯內用人參，生地麥冬山梔仁，黃連菖蒲歸身草，辰砂調服功極神。

(木香大安丸) 山查肉 麥芽炒 神麵各一兩炒 枳實六錢麩炒 白朮一兩土炒 
萊菔子四錢炒 連翹五錢去心 黃連三錢薑炒 木香三錢煨 
縮砂仁五錢 陳皮八錢 共為細末，泛水為丸，炒陳倉米湯下，
量兒大小用之。
</pre>
<pre data-sec="p">
痘中雜證
頭痛
條文：003
痘中頭痛最堪驚，毒沖風熱兩分明，稠密壯熱連翹飲，疏稀微熱清解靈。
[註]
頭痛者，乃邪氣與真氣相搏，壅遏毒氣上干清道而然也。
故毒熱上騰，與風熱鬱閉，皆能為害，
如頭面痘出稠密，身體壯熱悶亂昏痛者，此毒火上騰也，以大連翹飲主之，
若頭面痘出稀疏，微覺身熱頭痛者，此風熱鬱閉也，宜清解散治之。

(大連翹飲)方見收靨證治
(清解散)方見發熱證治。
</pre>
<pre data-sec="p">
痘中雜證
腰痛
條文：004
痘當未出腰先痛，毒火亢極陰難勝，瀉毒不使傳腎經，加味歸宗宜速用。
[註]
凡痘當發熱時而腰痛者，最為惡候，
蓋腰為腎之府也，毒火亢極，真陰不能勝邪，故頻頻作痛，
須用加味歸宗湯速瀉其毒，不使傳於腎經，庶可望生，
治若少緩，毒火沖熾，痘必乾桔紫黑，腎陰絕則難救矣。

(加味歸宗湯) 當歸尾 赤芍藥 元參 大黃生 羌活 荊芥穗 青皮炒 
穿山甲炙 生地　東山查 牛蒡子炒研 木通 水煎服。
(方歌)
加味歸宗治腰疼，歸芍元參大黃生，羌穗青皮穿山甲，生地山查蒡木通。
</pre>
<pre data-sec="p">
痘中雜證
腹痛
條文：005
小兒發熱腹痛疼，表鬱芍藥防風從，裏鬱加味平胃散，陰鬱桂枝大黃靈。
[註]
凡出痘腹痛，有因風寒鬱結，痘出不快，煩躁而痛者，乃表邪所鬱，
以芍藥防風湯主之，
有因食滯鬱塞，痘出之時，原無腹痛，忽然一時作痛者，
此為裏鬱，宜加味平胃散治之，
又有初起因毒熱鬱於陰分，痛在臍下，時作時止者，此屬陰鬱，
以桂枝大黃湯主之。
(芍藥防風湯) 升麻 防風 陳皮 桔梗 川芎 白芍藥炒 甘草生 
厚朴薑炒 枳實麩炒引用生薑水煎服。
(方歌)
芍藥防風解表鬱，升麻防風共陳皮，桔梗川芎白芍藥，甘草厚朴枳實宜。

(加味平胃散) 陳皮 厚朴薑炒 神麴炒 南蒼朮米泔水浸炒 麥芽炒 
甘草生 香附米製　南山查 引用生薑水煎服
(方歌)
加味平胃治食傷 陳皮厚朴神麴蒼 麥芽甘草香附米 山查同煎引生薑。

(桂枝大黃湯) 生大黃 桂枝 生甘草 白芍 引用生薑 煎服。
(方歌)
桂枝大黃療陰鬱 生軍泄熱效非常 散寒桂枝調中草 白芍和中順氣強。
</pre>
<pre data-sec="p">
痘中雜證
煩躁
條文： 006
未出煩躁消毒平，已出煩躁涼血寧，漿清發煩保元治，靨後虛煩匹物靈。
[註]
痘證始終以安寧為吉，但有煩躁必生他變，
蓋煩者，心憤也，躁者，身擾也，皆由毒火太盛，神不能靜也，
痘末出而煩躁，是為表鬱，以消毒飲主之，
痘已出而煩躁，是為血熱，以涼血解毒湯主之，
若養漿時頂平清稀而煩躁，是氣虛也，以加味保元湯主之，
收靨後而煩躁，是血虛也，以加減四物湯主之。

(加減消毒飲)方見雜證中發熱 

(涼血解毒湯)方見結痂落痂證治。

(加味保元湯) 人參 黃耆製 甘草炙 當歸酒洗 白芍藥炒 麥冬去心 
棗仁炒研 水煎服
(方歌)
加味保元治虛煩，人參黃耆甘草攢，酒洗當歸白芍藥，麥冬棗仁一同煎。

(加減四物湯) 人參 當歸 麥門冬去心 生地 梔子炒 白芍藥炒 水煎服。
(方歌)
靨後血虛多煩躁，加減四物湯最妙，人參當歸麥門冬，生地梔子白芍效。
</pre>
<pre data-sec="p">
痘中雜證
譫妄
條文：007
毒熱熾盛犯心經，錯語妄言神不清，妄見妄聞志昏憒，黃連解毒服即寧。
[註]
譫妄者，由毒熱熾盛，上干心氣，
致使錯語妄言，神氣不清，妄見妄聞，志氣昏憒，以黃連解毒湯主之。

(黃連解毒湯) 方見結痂落痂證治。
</pre>
<pre data-sec="p">
痘中雜證
渴
條文：008
初熱大渴解毒湯，血熱前耗涼血良，成漿津洩麥冬散，靨後傷津生脈強。
[註]
渴由毒火燔灼，內傷津液而作也，
如初發熱即大渴者，裏熱盛也，宜葛根解毒湯治之，
痘出稠密，色艷作渴者，此血熱毒盛也，涼血解毒湯主之，
成漿津液外洩而作渴者，人參麥冬散主之，
靨後脾虛，內傷津液而作渴者，生脈六均湯主之。

(葛根解毒湯) 葛根 升麻 天花粉 甘草生 麥門冬去心 
生地 茅根 引用燈心水煎服。
(方歌)
葛根解毒湯清熱，津液上潮火自洩，升葛花粉生甘草，麥冬生地茅根列。

(涼血解毒湯) 方見結痂落痂證治。

(人參麥冬散) 人參 白朮土炒 甘草生 葛根粉煨 麥冬去心
 升麻 引用糯米水煎服。
(方歌)
人參麥冬效通仙，津液外洩治易痊，參朮甘草煨葛粉，麥冬升麻糯米煎。

(生脈六均湯) 人參 五味子 麥門冬去心 陳皮 半夏薑製 
茯苓 白朮土炒 甘草炙 引用烏梅水煎服。
(方歌)
生脈六均醫脾弱，泄瀉傷津大渴作，人參五味麥門冬，陳半苓朮甘草合。
</pre>
<pre data-sec="p">
痘中雜證
厥逆
條文：009
爪自便清厥屬寒，木香理中湯可痊，爪紫便赤為熱厥，金花承氣乃良煎。
[註]
痘中厥逆之證，
有因氣血虛寒發厥者，有因毒熱鬱閃發厥者，
爪甲色白，小便清利，其痘色更見灰陷瀉泄不食等證，
此外陽衰內陰盛，乃寒厥也，以加減陳氏木香散主之，
寒甚者附子理中湯主之，
若爪甲色紅，小便赤澀，其痘色更見紫黑煩躁悶亂等證，
此係陽毒內攻，熱極反寒，是熱厥也，
宜梔子金花湯治之，裏實者承氣湯下之。

(加減陳氏木香散) 人參 肉桂 茯苓 半夏薑製 白朮土炒 丁香 
肉豆蔻麵裹煨 甘草炙 訶子肉麵裹煨 木香煨 引用生薑水煎服。
(方歌)
木香散療中外寒，參桂茯苓半夏攢，白朮丁香肉豆蔻，甘草訶子木香研。

(附子理中湯) 人參 附子製 甘草炙 白朮土炒 乾薑 水煎服。
(方歌)
附子理中治虛寒，中外無陽莫留連，人參附子炙甘草，白朮乾薑一同煎。

(梔子金花湯) 黃芩 黃連 黃蘗 大黃 梔子 水煎服。
(方歌)
熱厥梔子金花湯，熱極反寒服最良，黃芩黃連並黃蘗，大黃梔子共煎嘗。

(承氣湯) 厚朴薑炒 枳實麩炒 大黃 水煎服。
(方歌)
承氣湯能除火熱，裹實不便毒氣結，厚朴枳實川大黃，煎服便利毒即洩。
</pre>
<pre data-sec="p">
痘中雜證
喘
條文：010
風寒客肺杏蘇先，痰熱涼膈白虎煎，泄瀉聲微參朮劑，倒靨作喘歸茸痊。
[註]
五藏之氣皆統於肺，若為邪干，則肺氣窒塞，氣道不利，故發為喘也，
實者聲粗有力而長，虛者聲微無力而短，
痘初發熱，以至既出之後或噴嚏頻頻，或鼻流清水，
此風寒客肺而喘也，杏蘇飲主之，
有食熱痰積，上沖作喘者，此火炎肺金也，宜涼膈白虎湯治之，
泄瀉後元氣下陷，此脾氣不足而喘也，人參白朮散主之，
有痘漿灌至半足，忽倒靨而喘者，此中氣大虧也，參歸鹿茸湯主之。

(杏蘇飲) 蘇葉 枳殼麩炒 桔梗 葛根 前胡 陳皮 甘草生 
半夏薑炒 杏仁炒去皮尖茯苓 引用生薑水煎服。
(方歌)
杏蘇飲治肺傷風，蘇葉枳桔葛根從，前胡陳皮生甘草，半夏杏仁白茯苓。

(涼膈白虎湯)
 薄荷 連翹去心 石膏生 知母生 黃芩 甘草生 
梔子 大黃 朴硝 引用粳米水煎服。
(方歌)
涼膈白虎治火喘，薄荷連翹共石膏，知母黃芩生甘草，梔子大黃配朴硝。

(人參白朮散) 藿香 白朮土炒 葛根 木香煨 甘草炙 白茯苓 人參 
引用生薑水煎服。
(方歌)
脾虛白朮散如神，藿香白朮共葛根，木香甘草茯苓配，人參加入扶元真。

(參歸鹿茸湯) 方見灌漿證治。
</pre>
<pre data-sec="p">
痘中雜證
痰
條文：011
痰因津液貯留生，痘瘡之火煉而成，加味二陳斟酌用，灌漿保元化毒寧。
[註]
痰乃津液貯留胸中而生，
蓋痘毒之火耗煉其津液，上壅氣道，喉中作聲，宜清氣化痰，
不可驟用金石之藥，恐傷真氣，以加味二陳湯治之，
若灌漿時見此證，則禁用二陳湯，
但於助漿劑中少佐清氣化痰之品，
如保元化毒湯加橘紅，貝母，桔梗，麥冬，甚妥。

(加味二陳湯) 麥門冬去心 前胡 栝蔞仁 陳皮 半夏薑製 茯苓 
甘草生 枳殼麩炒 桔梗 杏仁炒去皮尖 黃芩 引用生薑水煎服。
(方歌)
痘證多痰宜二陳，麥冬前胡栝蔞仁，陳皮半夏茯苓草，枳桔杏仁共黃芩。

(保元化毒湯)方見起脹證治。
</pre>
<pre data-sec="p">
痘中雜證
咳嗽
條文：012
毒熱熏蒸火灼金，肺氣上逆咳嗽頻，初熱見點杏蘇飲，收靨清膈二陳神。
[註]
咳嗽者，有聲有痰也，因痘毒之火熏於肺，故氣逆而發為咳嗽，
如初發熱見此者，宜杏蘇飲主之，偶感風寒者，亦用此藥，
自起脹至成漿而咳嗽者，由喉間有痘，道路窄狹，一收自愈，不必服藥，
結靨後咳嗽者，乃衛氣虛弱，腠理開張，或因風寒者，均宜人參清膈散治之，
因餘熱者，宜加味二陳湯治之。

(杏蘇飲) 方見喘證。

(人參清膈散) 人參 黃耆生 茯苓 白朮土炒 黃芩 當歸 白芍微炒 
知母生 桔梗 甘草生 柴胡 滑石飛 紫苑 地骨皮 桑皮炒 引用生薑水煎服。
(方歌)
清膈散療靨後咳，參耆苓朮芩歸芍，知桔甘草柴滑石，紫苑地骨桑皮合。

(加味二陳湯) 方見痰證。
</pre>
<pre data-sec="p">
痘中雜證
乾噦
條文：013
痘瘡乾噦病勢沉，毒熱上逆正雖禁，實熱橘皮竹茹劑，虛寒丁香柿蒂神。
[註]
乾噦者，有聲無物，其聲重大而長，屬陽明胃經也，緣毒熱上逆所致，
又有胃氣不足，不能容受，復有寒邪客於胃中，
使胃氣不能中主上行而噦也，
熱者橘皮竹茹湯主之，寒者丁香柿蒂湯主之。

(橘皮竹茹湯) 橘紅 半夏薑製 麥門冬去心 枇杷葉薑炙 甘草生 竹茹 
赤苓　人參 引用蘆根水煎服。
(方歌)
橘皮竹茹湯如神，耑醫胃熱嘔逆頻，橘半麥冬枇杷草，竹茹赤苓與人參。

(丁香柿蒂湯) 丁香 人參 高良薑 柿蒂 水煎服。
(方歌)
丁香柿蒂湯治寒，胃氣上逆不得安，丁香良薑人參共，更入柿蒂一同煎。
</pre>
<pre data-sec="p">
痘中雜證
嘔吐
條文：014
毒盛嘔吐二陳良，吞嚥不利鼠黏湯，傷食吐酸大安效，氣虛作嘔和胃方。
[註]
嘔者有物有聲，吐者有物無聲，二證皆屬於胃，
痘初出，嘔吐者是火邪犯胃，毒氣上騰，痘必紅紫，宜梔連二陳湯，
自起脹至收靨，嘔吐者，是瘡集咽門，吞嚥不利所致，須用鼠黏子湯，
若傷食嘔吐者，吐必腥酸，宜用木香大安九，
設吐後精神困倦，不思飲食，乃胃氣虛也，以參砂和胃湯主之。

(梔連二陳湯) 陳皮 半夏薑炒 茯苓 甘草生 梔子薑炒 川黃連薑炒 
引用生薑水煎服。
(方歌)
毒氣沖胃吐頻頻，醫治須宜用二陳，陳半茯苓生甘草，梔連薑炒效如神。

(加味鼠黏子湯) 
桔梗 射干 連翹去心 荊芥 防風 山豆根 鼠黏子炒研 
乾葛 水煎服
(方歌)
加味鼠黏湯極合，桔梗射干同連翹，荊芥防風山豆根，鼠黏子炒配乾葛。

(木香大安丸) 方見驚搐。

(參砂和胃湯) 人參 白朮土炒 藿香 茯苓 陳皮 半夏薑製 縮砂仁 甘草炙 
引用煨薑水煎服。
(方歌)
虛吐參砂和胃湯，人參白朮共藿香，茯苓陳皮製半夏，縮砂甘草引煨薑。
</pre>
<pre data-sec="p">
痘中雜證
嗆水
條文：015
毒壅會厭水難納，溢入氣喉嗆始發，咽喉腫痛道路狹，甘桔解毒皆妙法。
[註]
嗆水者，因火盛毒壅會厭門也，
蓋咽門司納飲食，一為毒熱所壅，則必腫痛，水不易入，溢於氣喉，
故氣噴出而嗆作矣，宜用加味甘桔湯，或加味解毒湯亦可，
此證見於七日前者，俱屬惡候，
若七日以後，外痘蒸長光潤而作嗆者，是咽門痘長壅窒道路而使然也，
至結痂則嗆自止，治者當於毒盛之痘，預用清理氣道之藥，
不使熱毒侵犯，自能免此患矣。

(加味甘桔湯) 牛蒡子炒 苦桔梗 生甘草 射干 水煎服。
(方歌)
加味甘桔湯最良，痘證嗆水效非常，牛蒡子合苦桔梗，甘草射干共煎嘗。

(加味解毒湯) 
玄參 苦桔梗 麥門冬去心 當歸尾 赤芍 生地黃 
連翹去心 牛蒡子炒研丹皮 紅花甘草生 木通 引用燈心水煎服。
(方歌)
加味解毒湯最靈，玄參桔梗麥門冬，歸芍生地翹牛蒡，丹皮紅花草木通。
</pre>
<pre data-sec="p">
痘中雜證
口噴穢氣
條文：016
發痘脾胃被毒侵，口噴穢氣不堪聞，毒火燔灼宜速治，加味歸宗功效神。
[註]
毒火侵炙脾胃，故口出臭味，令人難近，
蓋出痘全賴脾胃以為根本，今為毒火侵害，則根本受傷，不急救之，
必至脾胃潰爛而成大害，須以歸宗湯治之，穢減庶可望生。

(歸宗湯) 方見發熱證治。
</pre>
<pre data-sec="p">
痘中雜證
不食
條文：017
便秘不食解毒湯，脾虛不食參朮良，不食咽腫甘桔劑，傷食惡食平胃嘗。
[註]
痘瘡賴氣血以成功，氣血藉飲食以生化，
自起脹灌漿以至收靨結痂，俱以胃壯為根本，
故痘中遇不食之證，須要明辨，
如大便秘結，痘瘡掀紫不食，此毒盛血熱也，
宜涼血解毒湯，加黃芩，黃連，大黃主之，
若痘色灰白，泄瀉不食，此脾氣虛弱也，人參白朮散主之，
行漿時欲食而復畏食，此咽門腫痛，難以下嚥也，宜加味甘桔湯主之，
設喜食過多，惡食不食，乃內傷飲食，胃有宿滯也，
宜加味平胃散主之。

(涼血解毒湯)方見結痂落痂證治。

(人參白朮散)方見喘證。

(加味甘桔湯)方見嗆水

(加味平胃散)方見腹痛。
</pre>
<pre data-sec="p">
痘中雜證
汗
條文：018
熱少汗微榮衛暢，太過須防陰液亡，自汗不止保元劑，盜汗夜熱六黃湯。
[註]
衛氣乃護衛皮膚，固守津液，使不走洩者也，
痘證見此，是痘毒之火由裏達表，干於衛氣，腠理疏，故汗出矣，
初見有微汗者，是榮衛通暢，毒從汗解，實良候也，
但汗為血液，太過則陰液必亡，須緊防之，
如起脹後大汗不止，未行漿恐不能灌，既行漿恐不能靨，
既靨，恐氣血虛脫，最為可畏，
自汗為陽虛，急於斂汗，以保元湯主之，
盜汗為陰虛，急於降火，以當歸六黃湯主之。

(加味保元湯) 人參 黃耆蜜炙 浮小麥 甘草炙 廣桂枝 白芍炒 水煎服。
(方歌)
陽虛汗出用保元，人參黃耆浮麥甘，廣桂枝同白芍藥，斂汗實腠此為先。

(當歸六黃湯) 黃芩 黃蘗 黃連 生地 熟地 當歸 黃耆生 水煎服。
(方歌)
六黃湯斂陰虛汗，黃芩黃蘗共黃連，生熟地黃當歸配，黃耆偣用效通仙。
</pre>
<pre data-sec="p">
痘中雜證
祕結
條文：019
痘瘡內外宜宣暢，秘結氣血鮮流盪，大便不通四順宜，小便秘澀八正當。
[註]
凡出痘，二便最喜通暢，以痘屬毒火，惟通暢然後經絡疏利，
氣血流動而無壅遏之患，
一有不通，則毒火不能外達，必致內攻而生患，
初出大便秘者，四順清涼飲主之，小便秘者，八正散主之，
若至成漿時，切勿輕用。

(四順清涼飲) 白芍藥 當歸身 甘草生 生大黃 水煎服。
(方歌)
四順清涼治秘結，大便不通毒火烈，白芍當歸大黃草，急急煎服效最捷。

(八正散) 車前子 瞿麥 扁蓄 梔子仁 大黃 甘草生 木通 滑石 引用燈心水煎服。
(方歌)
八正散治小便秘，車前瞿麥與扁蓄，梔子大黃木通草，更入滑石煎成服。
</pre>
<pre data-sec="p">
痘中雜證
瀉
條文：020
初熱作瀉柴苓先，脾虛冷瀉木香煎，色黃酸臭胃苓治，灌漿虛滑豆蔻丸。
[註]
痘證不喜秘結，更忌瀉利，
初出時瀉，尚具開通之功，火熱由利而解，
若瀉甚，則是邪氣併於腸胃，迫而下降，使傳化失常也，宜柴苓湯主之，
起脹時瀉，于足逆冷，痘不起，其色淡白，此冷瀉也，
以陳氏木香散主之，
如中滿惡食，瀉黃酸臭，手足心熱，面赤瘡紅，此胃熱作瀉，
以胃苓湯主之，
惟成漿時尤為緊要，蓋痘瘡至此，津液已衰，脾胃已弱，復加泄瀉，
則百變叢生，急以豆蔻丸主之。

(柴苓湯) 黃芩 半夏薑炙 白朮土炒 甘草生 赤茯苓 豬苓 澤瀉 
柴胡 用生薑燈心 水煎服。
(方歌)
痘形末見如泄瀉，柴苓疏利功最捷，芩半朮甘赤茯苓，豬苓柴胡共澤泄。

(陳氏木香散) 方見厥逆。

(胃苓湯) 
陳皮 厚朴薑炒 赤茯苓 蒼朮米泔水浸炒 豬苓 澤瀉 白朮土炒 
引用燈心 水煎服。
(方歌)
裏實作瀉胃苓治，陳皮厚朴赤茯苓，蒼朮豬苓並澤瀉，減桂倍朮效無窮。

(豆蔻丸) 
白龍骨煆 肉豆蔻麵裹煨去油 木香煨 砂仁 訶黎勒肉各五錢麵裹
赤石脂七錢半煨 白枯礬三錢 共為細末，麴糊為丸，如黍米大，
每服三五十丸，米飲下。
</pre>
<pre data-sec="p">
痘中雜證
痢疾
條文：021
痘瘡末愈痢隨生，溼熱傷中證非輕，白屬傷氣四君劑，紅屬傷血四物靈。
[註]
凡痘瘡未愈而患痢疾者，
乃溼熱鬱於腸胃，致傷氣血而然也，
痘必滯黯無色，治當清熱除溼，調理氣血為主，
白痢屬氣，加味四君子湯主之，
赤痢屬血，加味四物湯主之，
赤白相兼者，合而用之。

(加味四君子湯)
茯苓 白朮土炒 人參 陳皮 木香煨 甘草炙 黃連薑炙 黃芩 水煎
(方歌)
加味四君妙如神，茯苓白朮共人參，陳皮木香炙甘草，薑炒川連配黃芩。

(加味四物湯) 
川芎 當歸 生地 黃芩酒炒 川連酒炒 木香 白朮炒 水煎服。
(方歌)
加味四物治赤痢，川芎當歸共生地，酒炒黃芩合川連，木香白芍調成劑。
</pre>
<pre data-sec="p">
痘中雜證
癢
條文：022
見點作癢葛根湯，灌漿癢塌大補良，觸犯暴瘡熏避穢，急前內託免毒藏。
[註]
經曰：諸癢為虛。又曰：火微則癢。治者須分別治之，
痘方出而身癢者，此邪氣欲出，腠理嚴密，其火游溢往來，故不時作癢，
加味升麻葛根湯主之，
灌漿時痘色淡白平塌，便溏懶食，漿清作癢者，此脾胃弱氣血虛也，
十全大補湯主之，
如穢氣觸犯而暴癢者，外用辟穢香燻之，
內服內託散迭毒外出，庶無內攻之患，
至於將斂而作癢者，此膿成毒化榮衛和暢也，
與瘡癤將痊作癢者同論，不必服藥。

(加味升麻葛根湯) 升麻 葛根 防風 淡豆豉 赤芍 桂枝 甘草生 水煎服。
(方歌)
加味升麻葛根湯，痘出作癢最堪嘗，升葛防氣淡豆豉，赤芍桂枝甘草良。

(十全大補湯) 方見結痂落痂證治。

(辟穢香) 
蒼朮 大黃 茵陳 等分 以上剉細，棗肉為餅，爐中燒之，能辟邪穢。

(內託散)黃耆蜜炙 人參 川芎 當歸 白芷 木香煨 桔梗 厚朴薑炒 
甘草炙 肉桂 防風 引用薑棗水煎服。
(方歌)
內託散防毒內攻，黃耆人參與川芎，當歸白芷木香桔，厚朴甘草桂防風。
</pre>
<pre data-sec="p">
痘中雜證
痛
條文：023
小兒出痘若疼痛，皆因毒火未發清，疏散清解是妙方，葛根四物渴極應。
[註]
經曰：諸痛為實。又曰：熱盛則痛。
皆緣痘毒之火未能盡解，故不時作痛也，
痘初出痛者，因毒未發透也，升麻葛根湯主之，
痘出稠密而作痛者，毒盛血熱也，加味四物湯主之，
若收靨時痛甚悶亂者不治。

(升麻葛根湯) 方見發熱證治

(加味四物湯) 當歸 赤芍 荊芥穗 防風 紅花 丹皮 牛蒡子炒 連翹去心  
川芎 生地黃 水煎服。
(方歌)
毒盛加味四物湯，當歸赤芍合荊防，紅花丹皮牛蒡子，連翹川芎生地黃。
</pre>
<pre data-sec="p">
痘中雜證
失音
條文：024
痘之始終喜音清，毒熱壅塞啞無聲，喉中有痘不須治，若是毒攻甘桔寧。
[註]
音者心之聲也，心氣上達於肺而作音，肺清則音清，肺熱則音啞，
如痘當灌漿而音啞者，此喉中有痘礙於氣道，
待外痘收靨，而內痘自清，不必施治，
若未嘗灌，而音已先啞者，此熱毒壅遏肺竅而然也，宜加味甘桔湯治之。

(加味甘桔湯) 
射干 牛蒡子炒 玄參 連翹去心 麥門冬去心 梔子炒 
苦桔梗 甘草生 水煎服。
(方歌)
加味甘桔治失音，射干牛蒡與玄參，連翹麥冬炒梔子，桔梗甘草共和勻。
</pre>
<pre data-sec="p">
痘中雜證
衄血便血
條文：025
熱盛衄血犀角湯，脾不統血參朮良，熱注腸胃四物治，脾虛便血歸脾嘗。
[註]
血屬陰，諸經賴以養育，痘瘡資以成功，一為毒火熏灼，
則血隨火動，迫而妄行，上則為衄血，下則為便血，
痘色紫滯，燥熱口渴而衄者，此毒火刑金也，犀角地黃湯主之，
靨後餘毒乘脾而衄者，此脾虛不能統血歸經也，人參白朮散主之，
外俱用髮灰散吹入鼻中，
若毒火熾甚，流注大腸，大便下血，加味四物湯主之，
設痘色灰白陷下而便血者，此脾氣虛弱不能攝血，宜歸脾湯主之，
至若大吐血溺血，及七竅出血，變在反掌，不必服藥。

(犀角地黃湯) 犀角鎊 丹皮 生地 白芍 水煎服。
(方歌)
毒火上沖頻衄血，犀角地黃湯效捷，犀角螃與牡丹皮，生地白芍共煎列。

(人參白朮散) 方見喘證。

(髮灰散) 
用少壯無病人之亂髮，以皂角煮水，洗淨油氣，焙乾，
用新瓦罐一個，填入內令滿，淨瓦片蓋口，鹽泥封之，
炭火圍罐之半，煆一炷香取出，候冷研細，
吹鼻中，或用髮灰二分，童便七分，酒三分調服，亦可止血。

(加味四物湯) 當歸 白芍酒炒 生地 牡丹皮 荊芥炒黑 川芎
 黃芩 黃連 地榆 水煎服
(方歌)
加味四物使血宜，歸芍生地牡丹皮，荊芥炒黑川芎配，黃芩黃連共地榆。

(歸脾湯) 人參 白朮土炒 甘草炙 黃耆蜜炙 棗仁炒研 遠志去心
 龍眼肉 茯神 當歸 木香煨 引用薑棗水煎服。
(方歌)
歸脾湯治脾氣虛，人參白朮草黃耆，棗仁遠志龍眼肉，茯神當歸木香宜。
</pre>
<pre data-sec="p">
痘中雜證
寒戰咬牙
條文：026
寒戰咬牙要分明，初熱在表羌活從，肺胃有熱四物劑，氣血兩虛參歸靈。
[註]
寒戰咬牙者，森森若寒，振振搖動，上下牙尖相磨而嗚也，
初熱時寒戰咬牙者，因火毒留於經絡之中，邪正相爭，欲出不出所致也，
治宜清熱透表以羌活湯主之，
如見點後痘色紫赤，大便秘小便澀，煩躁口渴者，此屬實熱，
是胃熱則咬牙，肺熱則寒戰也，宜加味四物湯主之，
若灌漿時膿包清稀，大便溏小便長，身涼不渴者，此屬氣血兩虛，
是氣虛則寒戰，血虛則咬牙，宜參歸鹿茸湯主之。

(羌活湯) 
龍膽草 薄荷 防風 當歸 梔子 淡竹葉 羌活 甘草生 川芎 引用生薑水煎服
(方歌)
羌活湯除風熱攻，龍膽薄荷共防風，當歸梔子淡竹葉，羌活甘草及川芎。

(加味四物湯) 
生地 連翹去心 川芎 當歸 赤芍 石膏煨 麥門冬去心 川黃連薑炒 木通 水煎服。
(方歌)
加味四物治熱盛，寒戰咬牙二證併，生地連翹芎芍歸，石膏麥連木通共。

(參歸鹿茸湯) 方見灌漿證治。
</pre>
<pre data-sec="p">
痘中雜證
倦怠
條文：027
倦怠多因氣虛弱，或緣滯熱困兒脾，虛而無熱補中治，食滯傷脾保元醫。
[註]
痘中倦怠，固屬中氣不足，服補中益氣湯最為妥協，
然亦有神氣本弱，或為食熱所困，其現證雖與不足等，
但不可專以虛治，當於補劑中佐以清熱之品，
如保元湯加味用之可也。

(補中益氣湯) 方見痘頂塌陷。

(加味保元湯) 人參 黃耆生 甘草炙 梔子炒 黃芩酒炒 
麥門冬去心 山查 神麵炒 陳皮 麥芽炒 引用生薑大棗水煎服。
(方歌)
加味保元食熱虛，參耆甘草補厥脾，梔芩麥冬清心熱，查麴陳麥消滯宜。
</pre>
<pre data-sec="p">
痘中雜證
痘後浮腫
條文：028
表虛風邪乘間入，遍身面目虛腫浮，五皮桂枝微汗後，面消身腫胃苓投。
[註]
小兒痘後表氣虛弱，見風太早，風邪乘虛而入，
致使面目虛浮，遍身皆腫者，初宜五皮湯微汗之，
服後面目不浮，惟遍身猶腫者，胃苓湯主之。

(五皮湯) 
地骨皮 五加皮 桑皮蜜炙 桂枝 薑皮 大腹皮洗 引用燈心水煎服。
(方歌)
痘後浮腫五皮湯，地骨五加蜜炙桑，桂枝薑皮合大腹，引用燈心水煎嘗。

(胃苓湯) 方見瀉證。
</pre>
<pre data-sec="p">
痘中雜證
痘後癰毒
條文：029
餘毒未盡痘毒生，輕則瘡癤重為癰，內用解毒湯俱可，外敷紅玉膏有功。
[註]
凡痘後餘毒，皆因灌漿之時，毒氣太盛，未得盡化，
留藏於經絡，聚而不散，輕則發為瘡癤，重即成癰，
或在肌肉之虛處，或發於關節搖動之際，
皆不論已潰未潰，均以解毒內託湯主之，外用紅玉膏攤貼患處。

(解毒內託湯) 生黃耆 荊芥 防風 連翹去心 當歸 赤芍藥 
金銀花 甘草節 木通 水煎服。
(方歌)
解毒內託湯最靈，黃耆荊芥共防風，連翹當歸赤芍藥，銀花甘草與木通。

(紅玉膏) 紫草一兩 紅花一兩 當歸二兩 黃蠟三兩 用香油半觔，
先將藥煠焦去渣，後下黃蠟，令勻，以冷為度，攤貼患處。
</pre>
<pre data-sec="p">
痘中雜證
目病
條文：030
目病之由風熱成，痘毒火鬱上攻睛，赤腫澀痛洗肝散，翳膜遮睛龍膽從。
[註]
目病固多由風熱而起也，夫痘蘊非常之熱，自裏達外，
氣血弱，則不能逐主降外出，火鬱上攻，目斯病矣，
如赤腫疼痛，癮澀流淚，不能開者，以洗肝散主之，
翳膜遮睛，隱澀羞明者，加味龍膽湯主之。

(洗肝散) 
羌活 歸尾 防風 山梔仁 穀精草 薄荷 生甘草 川芎 水煎食後服。
(方歌)
洗肝散治目痛疼，羌活歸尾及防風，山梔仁同穀精草，藥荷甘草配川芎。

(龍膽湯) 
防風 木賊草 密蒙花 蟬蛻 蔓荊子 龍膽草 菊花 黃連  白芷 蒺藜 水煎。
(方歌)
翳遮龍膽湯堪誇，防風木賊密蒙花，蟬蛻蔓荊龍膽菊，黃連白芷蒺藜佳。
</pre>
<pre data-sec="p">
痘中雜證
唇
條文：031
脾經脈絡繞脣口，出痘始終貴潤紅，紫裂焦黑急宜治，葛根解毒二方從。
[註]
脾經之脈，絡繞於唇口，故經曰：六府之華在唇。
必津液充足，氣血和暢，唇口方能紅潤，故出痘之始終以此為貴，
不然一為毒火所制，則毒乘於中，熱熾於外，不惟不能紅潤，
且或赤紫，或焦裂者，治皆不可緩也，
初宜加味升麻葛根湯，起脹後，則以黃連解毒湯治之。

(加味升麻葛根湯) 
赤芍 梔子 藿香 升麻 葛根 生甘草 防風 石膏 水煎服。
(方歌)
加味升麻葛根湯，赤芍梔子與藿香，升麻葛根生甘草，防風石膏共煎嘗。

(黃連解毒湯) 方見結痂落痂證治。
</pre>
<pre data-sec="p">
痘中雜證
痘後牙疳
條文：032
痘後牙疳毒熱攻，口臭齦腫多疼痛，內服清毒涼血飲，外敷中白散極靈。
[註]
痘後生牙疳者，乃餘毒未解，上攻牙齒而然也，
初起口臭齦腫，牙縫出血，尚覺疼痛，
甚則色黑腐爛，牙齒脫落，穿腮破頰，蝕透鼻唇，多至不救，
見之須急急調治，內服清毒涼血飲，外敷人中白散。

(清毒涼血飲) 知母 石膏 生地 黃連 當歸 赤芍 大黃 山梔子 
丹皮　荊芥穗 連翹去心 水煎服。
(方歌)
清毒涼血治牙疳，知母石膏生地連，歸芍大黃山梔子，丹皮荊穗連翹煎。

(人中白散) 
人中白二錢煆 雄黃八分 冰片四分 硼砂 青黛 兒茶各一錢 
共為細末，擦敷患處。
</pre>
<pre data-sec="p">
痘中雜證
舌
條文：033
舌乃心苗五內通，毒火一犯先見形，赤紫黑腫並舒弄，總以清熱犀角平。
[註]
舌為心苗，內通五臟，毒熱舉發，舌先受之，
或赤或紫，或黑或腫，舒舌弄舌，種種不一，
要皆熱留於心而使然也，治宜清熱為主，以加味犀角湯治之。

(加味犀角湯) 
荊芥 防風 牛蒡子炒 生甘草 桔梗 升麻 犀角 麥冬去心 
梔子　黃連 石膏煆 水煎服。
(方歌)
加味犀角能散熱，荊防牛蒡同甘桔，升麻犀角麥門冬，梔子黃連石膏捷。
</pre>
<pre data-sec="p">
痘中雜證
咽喉
條文：034
咽喉之地司出入，毒火沖熾痛難堪，內用甘桔利咽劑，外吹牛黃散即安。
[註]
咽者飲食之道，喉者呼吸之門，乃最緊要之處，
若痘毒不能發越於外，火熱壅塞膈間，上沖咽喉，則或腫痛，或啞嗆，
甚而不能呼吸，飲食難入，
速用加味甘桔湯治之，或用加減利咽解毒湯，外用牛黃散吹入腫處。

(加味甘桔湯) 方見失音。

(利咽解毒湯) 防風 山豆根 麥冬去心 牛蒡子炒 黑參 苦桔梗 
生甘草 菉豆 水煎服
(方歌)
利咽偋毒用防風，山豆根與麥門冬，牛蒡黑參昔桔梗，甘草菉豆共煎濃。

(牛黃散) 川黃連生 黃蘗生 薄荷各八分 雄黃 火硝 青黛各一分半 
牛黃 冰片 硼砂 硃砂各一分 共為細末，每用少許，吹患處。
</pre>
<pre data-sec="p">
痘中雜證
夾疹
條文：035
痘中夾疹因時氣，毒火觸動發其機，臨期休將痘瘡治，速將升葛透疹宜。
[註]
痘已見形，其中又有顆粒細密如麻子者，此夾疹也，
因出痘時恰遇天行時疫，感受其氣，一時並發，不須治痘，當先治疹，
以升麻葛根湯，加荊芥，防風，蟬蛻，牛蒡，犀角，疹散而痘自起矣。

(升麻葛根湯) 方見發熱證治。
</pre>
<pre data-sec="p">
痘中雜證
夾癍
條文：036
片片結就如雲頭，毒傷陰血浮火遊，表散荊防敗毒劑，清熱黃連解毒投。
[註]
癍乃血之餘也，因毒火鬱遏傷於陰血，血熱相搏，
故浮遊之火散布皮膚之間，與痘相夾而出，片片如雲頭突起，謂之夾癍，
以荊防敗毒散主之，
七日後見此，謂之發癍，乃血熱不解故也，以黃連解毒湯主之。

(荊防敗毒散) 羌活 獨活 柴胡 前胡 荊芥 防風 生甘草 川芎 
枳殼 麩炒 桔梗 赤茯苓 引用生薑水煎服。
(方歌)
夾癍宜用疏解劑，荊防敗毒進莫遲，羌獨柴前荊防草，川芎枳桔赤苓宜。

(黃連解毒湯) 方見結痂落痂證治。
</pre>
<pre data-sec="p">
痘中雜證
夾痧
條文：037
痧形發時粟一般，顆鞕形圓頂又尖，粒中含水清漿樣，敗毒調治自然安。
[註]
痧亦疹類，但形如粟米，尖圓白鞕，內含清水為異，
此亦熱毒所發，往往夾痘而出，宜於疏散，以荊防敗毒散主之。

(荊防敗毒散) 方見夾癍
</pre>
<pre data-sec="p">
痘中雜證
水痘
條文：038
水痘皆因濕熱成，外證多與大痘同，形圓頂尖含清水，易脹易靨不裝膿，
初起荊防敗毒散，加味導赤繼相從。
[註]
水痘發於脾肺二經，由濕熱而成也，初起與大痘相似，
面赤唇紅，眼光如水，咳嗽噴嚏，唾涕稠黏，身熱二三日而始出，
其形尖圓而大，內含清水，易脹易靨，不作膿漿，
初起荊防敗毒散主之，繼以加味導赤散治之。

(荊防敗毒散) 方見夾癍

(加味導赤散) 生地 木通 生甘草 連翹 黃連 滑石 赤芩 麥令去心 
引用燈心水煎服
(方歌)
加味導赤除濕熱，生地木通甘草協，翹連滑石苓麥冬，引加燈心稱妙訣。
</pre>
<pre data-sec="p">
男婦年長出痘門
男子年長出痘
條文：001
年長出痘總不宜，真陰虧損元氣虛，一逢出痘毒沖熾，水不勝火豈能支，
夾熱參麥清補劑，攻漿參歸鹿茸宜。
[註]
男子自十六歲後，皆謂之年長，嗜慾，情開，元精走洩，
又遇痘毒之火沖熾，則真陰虧損，水虛不能制火，
故每至行漿之際，口渴心煩，鼻衄咽痛，
不能成膿，結痂者有之，治者不可妄用寒涼，
五六日前只宜參麥清補湯調治，
至七八日如膿漿不行，急宜攻漿，以參歸鹿茸湯，內調雞冠血酒治之，
但得漿行，庶可無虞。

(參麥清補湯) 當歸 川芎 花粉 白芍酒炒 生地 人參 生黃耆 前胡 
桔梗 牛蒡子炒研 生甘草 紅花 南山查 麥冬去心 引用生薑水煎服。
(方歌)
參麥清補用歸芎，花粉白芍生地同，參耆前桔牛蒡草，紅花山查麥門冬。

(參歸鹿茸湯)方見灌漿證治 

(雞冠血酒)方見灰陷白陷。
</pre>
<pre data-sec="p">
男婦年長出痘門
婦女出痘行經
條文：002
婦女發痘遇經行，當期毒解不須驚，非期涼血解毒治，過期四物解毒從，
去血過多氣血弱，十全大補服通靈。
[註]
女子出痘或遇經行，須間其是期非期，
如期而出者，則毒熱隨血解去，不須施治，其證自愈，
若非期而至者，此毒火內擾於胞中，致血妄行，以涼血解毒湯治之，
若過期不止，乃毒熱乘入血室，以四物解毒湯加元參甘草主之，
若行漿時去血過多，此氣血虛弱不能統攝也，急用十全大補湯，
治若稍緩，痘漿不行則無救矣。

(涼血解毒湯) 方見結痂落痂證治。

(四物解毒湯) 當歸 白芍酒炒 生地 元參 梔子炒 川芎 生甘草 
黃連酒炒 黃蘗酒炒 黃芩酒炒 水煎服。
(方歌)
四物解毒湯如神，歸芍生地共元參，梔子川芎生甘草，黃連黃蘗共黃芩。
(十全大補湯) 方見結痂落痂證治。
</pre>
<pre data-sec="p">
男婦年長出痘門
孕婦出痘
條文：003
妊娠出痘勢最難，母子相連掌握間，審其所因隨證治，如聖安胎效通仙。
[註]
孕婦最忌出痘，
蓋熱能動胎，胎落則氣血因之而傷，
又安望其起脹灌裝結痂耶，故遇孕婦出痘，始終以安胎為上，
用如聖散隨證加減治之，不可輕用犯胎之藥，致有觸動。

(如聖散) 當歸身 陳皮 白朮土炒 大腹皮 黃芩 縮砂仁連殼炒 
甘草生 黑豆酒洗 桑上羊兒藤 水煎服。
初發熱，加升麻，葛根，連翹。
出而稠密者，加酒炒黃連，牛蒡子，連翹，南山查。
不起發者，加牛蒡子，赤芍藥。渴加麥門冬，知母，花粉。
血動者，四物湯加芩連。
脾虛食少，毒發不出者，千金內託湯去肉桂加參耆。
身熱有外邪者，參蘇飲加木香。
(方歌)
安胎如聖散最宜，歸陳白朮大腹皮，黃芩砂仁共甘草，黑豆羊藤服莫疑。
</pre>
<pre data-sec="p">
男婦年長出痘門
痘出遇產
條文：004
痘出正盛逢臨產，束手無策勢最險，無恙十全大補治，惡露未盡黑神散。
[註]
孕婦當痘正出之際，忽然欲產，俟產育後無他恙者，
只宜大補氣血，十全大補湯主之，
若腹中微痛，此惡露未盡也，黑神散主之。

(十全大補湯) 方見結痂落痂證治。

(黑神散) 
當歸 川芎 熟地黃 青皮醋炙 香附醋炙 蒲黃 桂心 乾薑 水煎溫服。
(方歌)
惡露末淨黑神良，當歸川芎熟地黃，青皮香附俱醋炙，蒲黃桂心合乾薑。
</pre>
<pre data-sec="p">
男婦年長出痘門
產後出痘
條文：005
產後如逢出痘瘡，惟憑補益莫驚慌，十全大補全功效，勿用寒涼致損傷。
[註]
婦人產後氣血已傷，又遇出痘，則氣血之供用難給，不能領載其毒，
惟宜大補氣血，以十全大補湯治之，
切不可妄用寒涼之劑，致傷生發之機也。

(十全大補湯) 方見結痂落痂證治。
</pre>
<pre data-sec="p">
疹門
疹原
條文：001
麻為正疹亦胎毒，毒伏六府感而出，初發之狀有類痘，形尖漸密不漿殊，
始終調護須留意，較痘雖輕變化速。
[註]
疹非一類，有瘙疹癮疹溫疹，
蓋痘疹皆非正疹也，惟麻疹則為正疹，
亦胎元之毒伏於六府，感天地邪陽火旺之氣，
自肺脾而出，故多咳嗽噴嚏，鼻流清涕，眼淚汪汪，兩胞浮腫，
身熱二三日，或四五日始見點於皮膚之上，形如麻粒，色若桃花，
間有類於痘大者，此麻疹初發之狀也，
形尖疏稀，慚次稠密，有顆粒而無根，暈微起泛而不生漿，
此麻疹見形之後大異於痘也，
須留神調治，始終不可一毫疏忽，較之於痘雖稍輕，
而變化之速則在頃刻也。
</pre>
<pre data-sec="p">
麻疹輕重
條文：002
麻疹出時非一端，其中輕重要詳參，氣血和平輕而易，表裹交雜重則難。
[註]
麻疹出時有輕重之分，臨時須要詳察，
若氣血和平，素無他病者，雖感時氣，而正能制邪，
故發熱和緩，微微汗出，神氣清爽，二便調勻，
見點則透徹散沒，不疾不徐，為輕而易治者也，
若素有風寒食滯，表裏交雜，一觸邪陽火旺之氣，
內外合發，而正不能制邪，必大熱無汗，煩躁口渴，神氣不清，便閉尿澀，
見點不能透徹收散，或太緊速，則為重而難治者也。
</pre>
<pre data-sec="p">
麻疹主治大法
條文：003
疹宣發表透為先，最忌寒涼毒內含，已出清利無餘熱，沒後傷陰養血痊。
[註]
凡麻疹出貴透徹，宜先用表發，便毒盡達於肌表，
若過用寒涼，冰伏毒熱，則必不能出透，多致毒氣內攻，喘悶而斃，
至若已出透者，又當用清利之品，便內無餘熱，以免疹後諸證，
且麻疹屬陽熱，甚則陰分受傷，血為所耗，
故沒後須以養血為主，可保萬全，
此首尾治疹之大法，至於臨時權變，惟神而明之而已。
</pre>
<pre data-sec="p">
麻疹未出證治
條文：004
欲出麻疹身微熱，表裏無邪毒氣鬆，若兼風寒食滯熱，隱伏不出變叢生，
宣毒發表為主劑，隨證加味莫亂從。
[註]
麻疹一證，非熱不出，故欲出時，身先熱也，
表裏無邪者，熱必和緩，毒氣鬆動，則易出而易透，
若兼風寒食熱諸證，其熱必壯盛，毒氣鬱閉，則難出而難透，
治以宣毒發表湯，其間或有交雜之證，亦照本方隨證加減治之。

(宣毒發表湯)升麻 葛根 前胡 桔梗 枳殼麩炒 荊芥 防風 薄荷葉 
木通 連翹去心 牛蒡炒研 加引芫荽水煎服。
食滯加南山查 內熱加黃芩
(方歌)
疹伏宣毒發表湯，升葛前桔枳荊防，薄通翹蒡淡竹草，引加芫荽水煎嘗。
</pre>
<pre data-sec="p">
麻疹見形證治
條文：005
麻疹已出貴透徹，細密紅潤始為良，若不透徹須分晰，風寒毒熱氣虛詳，
風寒升葛湯加味，毒熱三黃石膏湯，氣虛人參敗毒散，託裏透疹效非常。
[註]
麻疹見形貴乎透徹，出後細密紅潤，則為佳美，
有不透徹者，須察所困，
如風寒閉塞，必有身熱無汗，頭疼嘔惡，疹色淡紅而黯之證，
宜用升麻葛根湯，加蘇葉，川芎，牛蒡子，
因毒壅滯者，必面赤身熱，譫語煩渴，疹色赤紫滯黯，宜用三黃石膏湯，
又有正氣虛弱，不能送毒外出者，必面色㿠白，身微熱，精神倦怠，
疹色白而不紅，以人參敗毒散主之。

(升麻葛根湯) 方見痘門發熱證治。

(三黃石膏湯) 麻黃 石膏 淡豆豉 黃蘗 黃連 梔子 黃芩 水煎服。
(方歌)
疹出不透因毒熱，三黃石膏湯急尋，麻黃石膏淡豆豉，黃蘗黃連梔子芩。

(人參敗毒散) 人參 川芎 羌活 獨活 前胡 枳殼麩炒 桔梗 
柴胡 生甘草 赤苓 引用生薑水煎服。
(方歌)
疹因氣虛出難透，人參敗毒有奇功，參芎羌獨前枳桔，柴胡甘草赤茯苓。
</pre>
<pre data-sec="p">
麻疹收沒證治
條文：006
疹出三日當收沒，不疾不徐始無虞，收沒太速毒攻內，當散不散虛熱醫，
毒盛荊防解毒治，外用胡荽酒法宜，虛熱柴胡四物劑，應證而施病漸離。
[註]
麻疹見形三日之後，當漸次沒落，不疾不徐，始為無病，
若一二日疹即收沒，此為太速，
因調攝不謹，或為風寒所襲，或為邪穢所觸，以致毒反內攻，
輕則煩渴譫狂，重則神昏悶亂，急宜內服荊防解毒湯，
外用胡荽酒熏其衣被，使疹透出，方保無虞，
當散不散者，內有虛熱留滯於肌表也，
其證潮熱煩渴，口燥咽乾，切不可純用寒涼之劑，
以柴胡四物湯治之，便血分和暢，餘熱悉除，疹即沒矣。

(荊防解毒湯) 薄荷葉 連翹去心 荊芥穗 防風 黃芩 黃連 牛蒡子炒研 
大青葉 犀角 人中黃 引用燈心蘆根水煎服。
(方歌)
收沒太速毒內攻，荊防解毒治最靈，薄翹荊防芩連蒡，大青犀角共人中。

(胡荽酒) 方見痘門水泡證治。

(柴胡四物湯) 白芍炒 當歸 川芎 生地 人參 柴胡 淡竹葉 地骨皮 
知母炒 黃芩 麥冬去心 引加生薑紅棗水煎服。
(方歌)
當散不散因虛熱，柴胡四物芍歸芎，生地人參柴竹葉，地骨知母芩麥冬。
</pre>
<pre data-sec="p">
身熱不退
條文：007
麻疹已發身猶熱，毒熱壅遏便之然，出用化毒清表劑，沒後柴胡清熱煎。
[註]
麻疹非熱不出，若既出透，其熱當減，
倘仍大熱者，此毒盛壅遏也，宜用化毒清表湯治之，
疹已沒落而身熱者，此餘熱留於肌表也，宜柴胡清熱飲治之。

(化毒清表湯) 葛根 薄荷葉 地骨皮 牛蒡子炒研 連翹去心 
防風 黃芩 黃連 元參 生知母 木通 生甘草 桔梗 引用生薑燈心水煎服。
(方歌)
疹已出透身壯熱，化毒清表為妙訣，葛薄地骨蒡翹防，芩連元知通甘桔。

(柴胡清熱飲) 柴胡 黃芩 赤芍 生地 麥冬去心 地骨皮 生知母 
生甘草 引用生薑燈心水煎服。
(方歌)
疹已沒落熱不減，柴胡清熱效通仙，柴胡黃芩芍生地，麥冬地骨知母甘。
</pre>
<pre data-sec="p">
煩渴
條文：008
毒熱內盛火上炎，心胃擾亂煩渴添，未出升葛湯加味，已出白虎湯為先，
沒落竹葉石膏用，因時醫治莫遲延。
[註]
凡出麻疹煩渴者，乃毒熱壅盛也，
蓋心為熱，擾則煩，胃為熱，鬱則渴，
當未出時，宜升麻葛根湯加麥冬，天花粉，
已出者，宜白虎湯，
沒後煩渴者，用竹葉石膏湯。

(升麻葛根湯) 方見痘門發熱證治。

(白虎湯) 石膏煆 生知母 生甘草 引用粳米水煎服。
(方歌)
麻疹已發多煩渴，白虎清熱自能痊，石膏知母生甘草，引加粳米用水煎。

(竹葉石膏湯) 人參 麥冬去心 石膏煆 生知母 竹葉 生甘草 水煎服。

(方歌)
疹已沒落當安靜，若加煩渴熱末清，竹葉石膏湯參麥，石膏知母竹甘從。
</pre>
<pre data-sec="p">
譫妄
條文：009
疹發最怕毒火盛，熱昏心神譫妄生，末出三黃石膏治，已出黃連解毒靈。
[註]
譫妄一證，乃毒火太盛，熱昏心神而然也，
疹未出而譫妄者，三黃石膏湯主之，
疹已出而譫妄者，黃連解毒湯主之。

(三黃石膏湯)方見麻疹見形證治 。

(黃連解毒湯)方見痘門結痂落痂證治。
</pre>
<pre data-sec="p">
喘急
條文：010
疹初無汗作喘急，宣發麻杏石甘宜，毒熱內攻全受剋，保肺清氣化毒醫。
[註]
喘為惡候，麻疹尤怠之，
如初出未透，無汗喘急者，此表實拂鬱其毒也，宜用麻杏石甘湯發之，
疹已出，胸滿喘急，此毒氣內攻，肺金受剋，宜用清氣化毒飲清之，
若遲延失治，以致肺葉焦舉，則難救矣。

(麻杏石甘湯) 石膏煆 麻黃蜜炒 杏仁去皮尖炒 生甘草 引用生薑水煎服。
(方歌)
喘用麻杏石甘湯，石膏火煆合麻黃，杏仁去尖須微炒，甘草相配引生薑。

(清毒化毒飲) 前胡 桔梗 栝簍仁 連翹去心 桑皮炙 杏仁去皮尖炒 
黃芩 黃連 元參 生甘草 麥冬去心 引用蘆根水煎服。
(方歌)
毒熱內攻肺喘滿，清氣化毒飲最靈，前桔栝簍翹桑杏，芩連元參草麥冬。
</pre>
<pre data-sec="p">
咳嗽
條文：011
疹初咳嗽風邪鬱，加味升麻葛根良，毒熱熏蒸金受制，清金寧嗽自堪嘗。
[註]
麻疹發自脾肺，故多咳嗽，
若欬嗽太甚者，當分初沒治之，
初起欬嗽，此為風邪所鬱，以升麻葛根湯，
加前胡，桔梗，蘇葉，杏仁，治之，
已出欬嗽，乃肺為火灼，以清金寧嗽湯主之。

(升麻葛根湯) 方見痘門發熱證治。

(清金寧嗽湯) 橘紅 前胡 生甘草 杏仁去皮尖炒 桑皮蜜炙 川連 
栝蔞仁 桔梗 浙貝母去心 引用生薑紅棗水煎服。
(方歌)
嗽用清金寧嗽湯，橘紅前草杏仁桑，川連栝簍桔貝母，引用紅棗共生薑。
</pre>
<pre data-sec="p">
喉痛
條文：012
疹毒熱甚上攻喉，腫痛難堪實可憂，表邪元參升麻用，裹熱涼膈消毒求。
[註]
疹毒熱盛，上攻咽喉輕則腫痛，甚則湯水難下，最為可慮，
表邪鬱遏，疹毒不能發舒於外，致咽喉作痛者，元參升麻湯主之，
裏熱壅盛，或疹已發於外，而咽喉作痛，以涼膈消毒飲主之

(元參升麻湯) 荊芥 防風 升麻 牛蒡子炒研 元參 生甘草 水煎服。
(方歌)
表鬱疹毒喉腫痛，急服元參升麻湯，荊芥防風升麻蒡，元參甘草水煎嘗。

(涼膈消毒飲) 荊芥穗 防風 連翹去心 薄荷葉 黃芩 生梔子 
生甘草 牛蒡子炒研 芒硝 大黃生 引用燈心，水煎服。
(方歌)
裏熱喉痛昔難當，涼膈消毒飲最良，荊防翹薄芩梔草，牛蒡芒硝生大黃。
</pre>
<pre data-sec="p">
失音
條文：013
疹毒聲啞肺熱壅，元參升麻大有功，已發加減涼膈散，沒後兒茶音即清。
 [註]
失音者，乃熱毒閉壅肺竅而然也，疹初失音者，元參升麻湯主之，
疹已發而失音者，加減涼膈散主之，疹沒後啞者，兒茶散主之。

(元參升麻湯) 方見喉痛

(加減涼膈散) 薄荷葉 生梔子 元參 連翹去心 生甘草 苦桔梗　
麥冬去心 牛蒡研炒 黃芩 水煎服。
(方歌)
加減涼膈治失音，薄荷梔子共元參，連翹甘草苦桔梗，麥冬牛蒡與黃芩。

(兒茶散) 硼砂二錢 孩兒茶五錢 共為細末，涼水一盞，調藥一匙服之。
</pre>
<pre data-sec="p">
嘔吐
條文：014
疹發緣何嘔吐逆，火邪擾胃使之然，竹茹石膏為主治，和中清熱吐能安。
[註]
麻疹嘔吐者，由於火邪內迫，胃氣沖逆也，
須以竹茹石膏湯和中清熱，其吐自止。

(竹茹石膏湯) 
半夏薑製 赤苓 陳皮 竹茹 生甘草 石膏煆 引用生薑，水煎服。
(方歌)
竹茹石膏湯治吐，半夏薑製配茯苓，陳皮竹茹生甘草，石膏火煆共合成。
</pre>
<pre data-sec="p">
瀉泄
條文：015
毒熱移入大腸經，傳化失常瀉泄成，初起升葛湯加味，已發黃連解毒清。
[註]
麻疹瀉泄，乃毒熱移入腸胃，使傳化失常也，治者切不可用溫熱諸劑，
疹初作瀉者，以升麻葛根湯，加赤苓，豬苓，澤瀉，主之，
疹已出作瀉者，以黃連解毒湯，加赤苓，木通，主之。

(升麻葛根湯)方見痘門發熱證治 

(黃連解毒湯)方見痘門結痂落痂證治。
</pre>
<pre data-sec="p">
痢疾
條文：016
夾疹之痢最難當，毒熱凝結移大腸，腹痛下痢赤白色，悉用清熱導滯良。
[註]
麻疹作痢，謂之夾疹痢，因毒熱未解，移於大腸所致也，
有腹痛欲解，或赤或白，與赤白相兼者，
悉用清熱導滯湯主之，不可輕投濇劑。

(清熱導滯湯) 山查 厚朴薑炒 生甘草 枳殼麩炒 檳榔 當歸 白芍酒炒 
條芩酒炒 連翹去心 牛蒡子炒研 青皮炙 黃連吳茱萸炒 
引用生薑，水煎服。
(方歌)
痢用清熱導滯湯，山查朴草殼檳榔，歸芍條芩翹牛蒡，青皮黃連引生薑。
</pre>
<pre data-sec="p">
腹痛
條文：017
小兒發疹腹中疼，毒鬱腸胃食滯凝，曲腰啼叫眉頻蹙，加味平胃散堪行。
[註]
麻疹腹痛者，由食滯凝結，毒氣不得宣發於外，
故不時曲腰啼叫，兩眉頻蹙，須以加味平胃散治之，
滯消毒解，而痛自除矣。

(加味平胃散) 防風 升麻 枳殼麩炒 葛根 蒼朮炒 陳皮 厚朴薑炒 
南山查 麥芽炒 生甘草 引用生薑燈心，水煎服。
(方歌)
加味平胃散如神，防風升麻枳葛根，蒼陳厚朴查芽草，生薑燈心水煎勻。
</pre>
<pre data-sec="p">
衄血
條文：018
疹家衄血莫倉惶，毒從衄解妙非常，衄甚吹鼻髮灰散，內服犀角地黃湯。
[註]
肺開竅於鼻，毒熱上沖，肺氣載血妄行，則衄作矣，
然衄中有發散之義，以毒從衄解，不須止之，
但不可太過，過則血脫而陰亡也，
如衄甚者，宜外用髮灰散吹入鼻中，內服犀角地黃湯，其血可止。

(髮灰散)(犀角地黃湯)方俱見痘門衄血便血。
</pre>
<pre data-sec="p">
瘙疹
條文：019
兒在母腹血熱蒸，生後不免遇風侵，遍體發出如粟米，此名瘙疹何須評。
[註]
瘙疹者，兒在胎中受母血熱之氣所蒸已久，及生後外遇涼風，
以致遍身紅點，如粟米之狀，滿月內見者，名為爛衣瘡，
百日內見者又名百日瘡，末出痘瘡之先見者，即名為瘙疹，
調攝謹慎，不治自愈。
</pre>
<pre data-sec="p">
蓋痘疹
條文：020
痘後出疹蓋痘傳，餘毒未盡夾食寒，遍身作癢如雲片，加味消毒服即安。
[註]蓋痘疹者，謂痘方愈而疹隨發也，因痘後餘毒未盡，
更兼恣意飲食，外感風寒，以致偏身出疹，色赤作癢，始如粟米，
漸成雲片，宜加味消毒飲疏風清熱，疹即愈矣。

(加味消毒飲) 
荊芥穗 防風 牛蒡子炒 升麻 生甘草 赤芍 南山查 連翹去心 
引用生薑，水煎服。
(方歌)
蓋痘疹因風熱成，加味消毒飲最靈，荊防牛蒡升麻草，赤芍山查翹去心。
</pre>
<pre data-sec="p">
瘟疹
條文：021
心火灼肺風濕毒，隱隱疹點發皮膚，疏風散濕羌活散，繼用消毒熱盡除。
[註]
癮疹者，乃心火灼於肺金，又兼外受風濕而成也，
發必多癢，色則紅赤，隱隱於皮膚之中，故名曰癮疹，
先用加減羌活散，疏風散濕，
繼以加味消毒飲，清熱解毒，表裹清而疹愈矣。

(加味羌活散) 羌活 前胡 薄荷葉 防風 川芎 枳殼麩炒 桔梗 蟬蛻 
連翹去心 生甘草 赤苓 引用生薑水煎服。
(方歌)
癮疹羌活散相當，羌活前胡薄荷防，川芎枳桔淨蟬蛻，連翹甘草赤苓薑。

(加味消毒飲) 方見蓋痘疹。
</pre>
