<header data-type="book">
<h1>醫宗金鑑·婦科心法要訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="吳謙">吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>品質</dt><dd>65%</dd></div>
<div><dt>版式</dt><dd>今版</dd></div>
<div><dt>直書</dt><dd>橫書</dd></div>
</dl>
</header>
<pre data-sec="p">
分類：調經門
篇名：婦科總括
條文：001
男婦兩科同一治，所異調經崩帶癥，嗣育胎前并產後，前陰乳疾不相同。
【註】
婦人諸病，本與男子無異，故同其治也。其異於男子者，惟調經，經閉，帶濁，崩漏，癥瘕，生育子嗣，胎前，產後諸病，及乳疾，前陰諸證不相同耳。故立婦人一科，以分門而詳治焉。業是科者，必先讀方脈，心法諸書。然後讀此，自有豁然貫通之妙。
</pre>
<pre data-sec="p">
分類：調經門
篇名：天癸月經之原
條文：002
先天天癸始父母，後天精血水榖生，女子二七天癸至，任通衝盛月事行。
【註】
先天天癸，謂腎間之動氣，乃稟自父母，資其始也；後天精血，謂水穀之所化，得之形成之後，資其生也。經曰：女子一七而腎氣盛，謂腎間動氣盛也。二七而天癸至，謂先天癸水中之動氣，至於女子胞中也。衝為血海，任主胞胎，衝任皆起於胞中，所以任脈通，太衝脈盛，月事以時下，故能有子也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：婦人不孕之故
條文：003
不子之故傷任衝，不調帶下經漏崩，或因積血胞寒熱，痰飲脂膜病子宮。
【註】
女子不孕之故，由傷其任，衝也。經曰：女子二七而天癸至，任脈通，太衝脈盛，月事以時下，故能有子。若為三因之邪傷其衝任之脈，則有月經不調，赤白帶下，經漏，經崩等病生焉。或因宿血積於胞中，新血不能成孕，或因胞寒胞熱，不能攝精成孕。或因體盛痰多，脂膜壅塞胞中而不孕，皆當細審其因，按證調治，能有子也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：月經之常
條文：004
月經三旬時一下，兩月并月三居經，一年一至為避年，一生不至孕暗經。
【註】
女子陰類也，以血為主。其血上應太陰，下應海潮，月有盈虧，潮有朝夕，月經三旬一下與之相符，故又謂之月水，月信也。女子月經一月一行者，其常也。或先，或後，乃其病也。然亦有兩月一行謂之并月者；有三月一行，謂之居經者；有一年一行，謂之避年者；有一生不行而依然能孕育，謂之暗經者。此所稟之不同，而亦非病，不須治也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：月經異常
條文：005
經期吐血或衄血，上溢妄行曰逆經，受孕行經曰垢胎，受孕下血漏胎名。
【註】
婦女月經一月一下，此其常也。若經行而吐血，衄血，下溢妄行者，是謂逆經。有受孕之後，月月行經而產子者，是謂垢胎。有受孕數月，其血忽下而胎不隕者，是謂漏胎。此皆月經之異乎常者也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：外因經病
條文：006
天地溫和經水安，寒凝熱沸風蕩然，邪入胞中任衝損，婦人經病本同參。
【註】
經曰：天地溫和，則經水安靜。天寒地凍，則經水凝泣。天暑地熱，則經水沸溢。卒風暴起，則經水波湧而隴起。六淫之邪入於胞中，則損傷衝任，故婦人經病本此同參也。如寒則血凝，熱則血沸，風則血蕩然波湧而大下，亦猶經水之被寒、熱，風而不得安瀾也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：內因經病
條文：007
婦人從人不專主，病多憂忿鬱傷情，血之行止與順逆，皆由一氣率而行。
【註】
婦人從人，凡事不得專主，憂思，忿怒，鬱氣所傷，故經病因於七情者居多。蓋以血之行，止，順，逆，皆由一氣率之而行也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：不內外因經病
條文：008
血者水穀之精氣，若傷脾胃何以生，不調液竭血枯病，合之非道損傷成。
【註】
血者，水穀之精氣也。在男子則化為精，在婦人則化為血，上為乳汁，下為月水。若內傷脾胃，健運失職，飲食減少，血無以生，則經必不調。亦有女子天癸既至，踰期不得與男子合，未期思與男子合，與夫經正行時而合，此皆合之非道，亦致不調。或過淫，合多則液竭；產多，乳眾則血枯，亦皆能損傷陰血致成經病也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：血色不正病因
條文：009
血從陽化色正紅，色變紫黑熱之徵，黃泔淡紅濕虛化，更審瘀塊黯與明。
【註】
血屬陰，從陽化，故其色以正紅為正，雖有經病，亦易為治也。若色變深紅，紫黑，乃熱之徵也。或黃如米泔，乃濕化也。淺淡紅白，乃虛象也。更當審其有瘀，有塊，色黯，色明以治之。若黯而紫黑，兼見冷證，多屬寒凝；若明而紫黑，兼見熱證，多屬熱結也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：氣穢清濁病因
條文：010
熱化稠黏臭必穢，寒化清徹臭則腥，內潰五色有臟氣，時下而多命必傾。
【註】
凡血為熱所化，則必稠黏臭穢。為寒所化，則必清徹臭腥。若是內潰，則所下之物雜見五色，似乎膿血。若更有臟腐敗氣，且時下不止而多者，是危證也，其命必傾矣！
</pre>
<pre data-sec="p">
分類：調經門
篇名：愆期前後多少
條文：011
經來前後為愆期，前熱後滯有虛實，淡少為虛不脹痛，紫多脹痛屬有餘。
【註】
經來或前，或後，謂之愆期，皆屬經病。經來往前趕，日不足三旬者，屬血熱。若下血多，色深紅而濁，則為有餘之熱。若下血少，色淺淡而清，則為不足之熱也。經來往後退，日過三旬後者，屬血滯。若色淺淡，血少，不脹痛者，則屬血虛，血少濇滯，不足之病。若色紫，血多，腹脹痛者，則屬氣實，血多瘀滯，有餘之病也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：經行發熱時熱
條文：012
經行發熱時潮熱，經前血熱經後虛，發熱無時察客熱，潮熱午後審陰虛。
【註】
經行發熱，時熱潮熱之病。若在經前則為血熱之熱。經後則為血虛之熱。發熱時熱，多是外感，須察客邪之熱。午後潮熱，多屬裡熱，當審陰虛之熱也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：經行寒熱身痛
條文：013
經來寒熱身體痛，當分榮衛與虛實，有汗不脹衛不足，無汗而脹榮有餘。
【註】
經來之時，惡寒，發熱，身體疼痛者，當分榮衛虛實。若發熱，惡寒，身痛不脹而有汗者，屬衛虛榮不足；若發熱，惡寒，身脹痛而無汗者，屬榮實衛有餘也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：經行腹痛
條文：014
腹痛經後氣血弱，痛在經前氣血凝，氣滯腹脹血滯痛，更審虛實寒熱情。
【註】
凡經來腹痛，在經後痛，則為氣血虛弱；經前痛，則為氣血凝滯。若因氣滯血者，則多脹滿；因血滯氣者，則多疼痛。更當審其凝滯作脹痛之故，或因虛，因實，因寒，因熱而分治之也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：經行瀉吐
條文：015
經行泄瀉是脾虛，鴨溏清痛乃寒濕，胃弱飲傷多嘔飲，食傷必痛吐其食。
【註】
經行泄瀉，乃脾虛也。若鴨溏冷痛，是寒濕也。經行嘔吐，是胃弱也。若嘔出涎飲，則是傷飲。若吐出食物，則是傷食。然傷食者多痛而吐食，傷飲者不痛而嘔飲也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：錯經妄行成吐衄崩
條文：016
逆行吐血錯行崩，熱傷陰陽絡妄行，血多熱去當用補，血少雖虛須主清。
【註】
婦女經血逆行上，為吐血衄血，及錯行下為崩血者，皆因熱盛也。傷陰絡則下行為崩，傷陽絡則上行為吐衄也。若去血過多，則熱隨血去，當以補為主。如血少熱尚未減，雖虛仍當以清為主也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：經水過多兼時下白帶
條文：017
多清淺淡虛不攝，稠黏深紅熱有餘，兼帶時下濕熱穢，形清腥穢冷濕虛。
【註】
經水過多，清稀淺紅，乃氣虛不能攝血也。若稠黏深紅，則為熱盛有餘。或經之前後兼赤白帶，而時下臭穢，乃濕熱腐化也。若形清腥穢，乃濕瘀寒虛所化也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：調經證治
四君子湯　異功散　六君子湯　香砂六君子湯　七味白朮散　參苓白朮散　歸脾湯　逍遙散　八珍湯　十全大補湯　雙和飲　養榮湯　理中湯
條文：018
補養元氣四君子，參苓朮草棗生薑，異功加陳兼理氣，虛痰橘半六君湯。嘔吐香砂六君子，渴瀉七味藿葛香。脾瀉參苓白朮散，薏桔山蓮砂扁方。思慮傷脾損心血，歸脾歸耆棗遠香，減參加柴歸芍薄，逍遙調肝理脾方。合物八珍兼補血，耆桂十全大補湯，去參苓朮雙和飲，去芎加陳養榮湯。脾胃虛寒吐且瀉，理中減苓加乾薑。
【註】
四君子湯，補養元氣虛弱通用之方，即人參，茯苓，白朮，炙草，引用棗薑也。
異功散是於補氣中兼理其氣，即四君子湯加陳皮也。
六君子湯治脾虛痰飲，即四君子湯加橘紅，半夏也。
香砂六君子湯治胃虛嘔吐，即六君子湯加藿香，砂仁也。
七味白朮散治脾虛渴瀉，即四君子湯加藿香，葛根，木香也。
參苓白朮散治脾胃虛瀉，即四君子湯加意苡，桔梗，山藥，蓮肉，砂仁，扁豆也。
歸脾湯治思慮損傷心脾氣血，即四君子加當歸，黃耆，棗仁，遠志，木香也。
逍遙散調肝理脾，即四君子湯減人參，加柴胡，當歸，白芍，薄荷也。
八珍湯於補氣中兼補其血，即四君子湯合四物湯也。
十全大補湯大補氣血，即八珍湯加黃耆，肉桂也。
雙和飲平補氣血，即十全大補湯減人參，茯苓，白朮也。
人參養榮湯於補氣中專養榮血，即十全大補湯減川芎加陳皮也。
理中湯治脾胃虛寒吐瀉，即四君子湯去茯苓加乾薑也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：調經證治
四物湯　桂枝四物湯　麻黃四物湯　柴胡四物湯　玉燭散
條文：019
婦人血病主四物，歸芎白芍熟地黃，血瘀改以赤芍藥，血熱易用生地黃，表熱有汗合桂草，表熱無汗合麻黃，少陽寒熱小柴并，陽明熱合調胃湯。
【註】
四物湯，乃婦人經產，一切血病通用之方，故主之也。其方即當歸，川芎，白芍藥，熟地黃。凡血瘀俱減白芍藥，改用赤芍藥破之；血熱俱去熟地黃，易用生地黃涼之。
風感太陽衛分，發熱有汗，本方合桂枝湯，以桂枝甘草解之，名桂枝四物湯。
寒傷太陽榮分，發熱，無汗，本方合麻黃湯，以麻黃杏仁桂枝甘草發之，名麻黃四物湯。
邪傳少陽半表半裡，往來寒熱，本方合小柴胡湯，以柴胡，黃芩，半夏，人參，甘草和之，名柴胡四物湯。
邪傳陽明，裡熱便結，本方合調胃承氣湯，以大黃，朴硝，甘草下之，名玉燭散。
</pre>
<pre data-sec="p">
分類：調經門
篇名：先期證治
芩連四物湯　地骨皮飲　膠艾四物湯　芩朮四物湯　桃紅四物湯　當歸補血湯　聖愈湯　薑芩四物湯　佛手散　芎歸湯
條文：020
先期實熱物芩連，虛熱地骨皮飲丹，血多膠艾熱芩朮，逐瘀桃紅紫塊黏，血少淺淡虛不攝，當歸補血歸耆先。虛甚參耆聖愈補，血滯薑芩丹附延，逐瘀芎歸佛手散，又名芎歸效若仙。
【註】
經水先期而至，屬熱而實者，用四物湯加黃芩，黃連清之，名芩連四物湯。
屬熱而虛者，用四物湯加地骨皮，丹皮涼之，名地骨皮飲。
血多無熱者，用四物湯加阿膠，艾葉止之，名膠艾四物湯。
血多因熱者，用四物湯加黃芩，白朮和之，名芩朮四物湯。
若血多有塊，色紫稠黏，乃內有瘀血，用四物湯加桃仁，紅花破之，名桃紅四物湯。
先期血少淺淡，乃氣虛不能攝血也，用當歸補血湯補之，其方即當歸，黃耆也。
若虛甚者，則當用四物湯加人參，黃耆補之，名聖愈湯。
若血濇少，其色赤者，乃熱盛滯血，用四物湯加薑黃，黃芩，丹皮，香附，延胡通之，名薑芩四物湯。
逐瘀須用佛手散，即四物湯去生地，白芍，又名芎歸湯，逐瘀血其效如神也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：過期證治
過期飲
條文：021
過期血滯物桃紅，附莪桂草木香通，血虛期過無脹熱，雙和聖愈及養榮。
【註】
經水過期不至，因血氣凝滯脹痛者，用過期飲，其方即四物湯加桃仁，紅花，香附，莪朮，肉桂，甘草，木香，木通也。
若過期不至，并不脹痛者，乃無血可行，是血虛也，宜用雙和飲，聖愈湯，人參養榮湯。
</pre>
<pre data-sec="p">
分類：調經門
篇名：經行發熱時熱證治
加味地骨皮飲　六神湯
條文：022
經來身熱有表發，內熱地骨加胡連，經後六神加耆骨，逍遙理脾而清肝。
【註】
經來發熱有表邪證者，用前桂枝四物等湯發之。
若內熱者，用地骨皮飲加胡連清之，名加味地骨皮飲。
經後發熱，乃血虛內熱，用四物湯加黃耆，地骨皮補而涼之，名六神湯。
若脾虛肝熱，用逍遙散理脾而清肝。
逍遙散（方見前）
</pre>
<pre data-sec="p">
分類：調經門
篇名：經行身痛證治
羌桂四物湯　黃耆建中湯
條文：023
經來身痛有表發，無表四物羌桂枝，經後血多黃耆建，耆桂芍草棗薑飴。
【註】
經來時身體痛疼，若有表證者，酌用前麻黃四物，桂枝四物等湯以發之。
若無表證者，乃血脈壅阻也，宜用四物湯加羌活，桂枝以疏通經絡，名羌桂四物湯。
若經行後或血去過多者，乃血虛不榮也，宜用黃耆建中湯以補之，其方即小建中湯：桂枝，白芍，甘草，薑，棗，飴糖加黃耆也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：經行腹痛證治
當歸建中湯　加味烏藥散　琥珀散
條文：024
經後腹痛當歸建，經前脹痛氣為殃，加味烏藥湯烏縮，延草木香香附榔。血凝礙氣疼過脹，本事琥珀散最良，稜莪丹桂延烏藥，寄奴當歸芍地黃。
【註】
經後腹痛或去血過多，乃血虛也，宜用當歸建中湯補之，其方即小建中湯加當歸也。
經前腹脹痛，乃血氣凝滯。
若脹過於痛，是氣滯其血也，宜用加味烏藥湯開之，其方即烏藥，縮砂，延胡索，甘草，木香，香附，檳榔也。
若痛過於脹，是血凝礙氣也，宜用琥珀散破之，其方即三稜，莪朮，丹皮，官桂，延胡索，烏藥，劉寄奴，當歸，赤芍，生地黃也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：經行腹痛證治
大溫經湯　吳茱萸湯
條文：025
胞虛寒病大溫經，來多期過小腹疼，歸芎芍草人參桂，吳丹膠半麥門冬。不虛胞受風寒病，吳茱萸湯更加風，藁細乾薑茯苓木，減去阿膠參芍芎。
【註】
凡胞中虛寒，一切經病，皆因經水來多，胞虛受寒所致。或因受寒過期不行，小腹冷痛者，宜用大溫經湯，即當歸，川芎，白芍，炙草，人參，肉桂，吳茱萸，丹皮，阿膠，半夏，麥門冬也。
若胞中不虛，惟受風寒為病，宜吳茱萸湯，依大溫經湯方更加防風，藁本，細辛，乾薑，茯苓，木香，減去阿膠，人參，白芍藥，川芎，即是吳茱萸湯也。
</pre>
<pre data-sec="p">
分類：調經門
篇名：經行吐瀉證治
條文：026
經瀉參苓白朮散，鴨溏清痛理中湯，肌熱渴瀉七味散，嘔飲香砂六君湯。
【註】
經來泄瀉，乃脾虛也，宜用參苓白朮散。
鴨溏清徹冷痛，乃虛寒也，宜用理中湯。
肌熱渴瀉，乃虛熱也，宜用七味白朮散。
嘔飲痰水，乃虛濕也，宜用香砂六君子湯。
</pre>
<pre data-sec="p">
分類：調經門
篇名：經行吐衄證治
三黃四物湯　犀角地黃湯
條文：027
經前吐衄為熱壅，三黃四物大芩連，經後吐衄仍有熱，犀角地黃芍牡丹。
【註】
經前吐血，衄血，乃內熱壅迫其血，宜用三黃四物湯瀉之，其方即四物湯加大黃，黃芩，黃連。
經後吐血，衄血，雖仍有熱，亦不宜瀉，但當用犀角地黃湯清之，其方即犀角，生地黃，赤芍藥，牡丹皮也。
</pre>
<pre data-sec="p">
調經門彙方
01四君子湯
人參　白朮（土炒）　茯苓各二錢　甘草一錢
以上剉，薑，棗水煎服。
</pre>
<pre data-sec="p">
調經門彙方
02異功散
人參　白朮（土炒）　茯苓各二錢　甘草（炙）五分　陳皮二錢
以上剉，加生薑水煎服。
</pre>
<pre data-sec="p">
調經門彙方
03六君子湯
人參　白朮（土炒）　茯苓　半夏　陳皮各一錢　甘草（炙）五分
以上剉，薑，棗水煎服。
香砂六君子湯即本方加藿香葉，砂仁。
</pre>
<pre data-sec="p">
調經門彙方
04七味白朮散
人參　白朮（土炒）　茯苓各一錢五分　甘草（炙）五分　藿香　木香　乾葛各一錢
以上剉，水煎服。
</pre>
<pre data-sec="p">
調經門彙方
05參芩白朮散
人參　白朮（土炒）　茯苓　山藥（炒）　甘草　蓮肉（去心）　白扁豆（薑汁炒）各一錢五分　薏苡仁（炒）　砂仁　桔梗各八分
以上為細末，每服二錢，薑，棗湯調服。
</pre>
<pre data-sec="p">
調經門彙方
06歸脾湯
人參　黃耆（炙）　白朮（土炒）　茯神　當歸　龍眼肉　遠志（去心）　棗仁（炒）各一錢　木香　甘草（炙）各五分
以上剉，薑，棗水煎服。
</pre>
<pre data-sec="p">
調經門彙方
07逍遙散
當歸（酒洗）　白芍（酒炒）　白茯苓　柴胡各一錢　甘草（炙）五分　白朮（土炒）一錢
以上剉散，水一盞半，加薄荷煎服。
</pre>
<pre data-sec="p">
調經門彙方
08八珍湯
人參　白朮（土炒）　茯苓　甘草　熟地　當歸　川芎　白芍各等分
以上加薑，棗煎服。
</pre>
<pre data-sec="p">
調經門彙方
09十全大補湯
人參　白朮　茯苓　黃耆　當歸　熟地　白芍　川芎各一錢　肉桂　甘草（炙）各五分
以上，薑，棗水煎服。
</pre>
<pre data-sec="p">
調經門彙方
10雙和飲
即十全大補湯去人參，白朮，茯苓。
</pre>
<pre data-sec="p">
調經門彙方
11人參養榮湯
即十全大補湯去川芎，加陳皮。
</pre>
<pre data-sec="p">
調經門彙方
12理中湯
白朮　人參　乾薑　甘草（炙）各一錢
以上剉，水煎服。
</pre>
<pre data-sec="p">
調經門彙方
13四物湯
熟地二錢　川芎一錢　白芍（炒）二錢　當歸二錢
以上為粗末，水煎服。
</pre>
<pre data-sec="p">
調經門彙方
14芩連四物湯
即本方加黃芩，黃連。
</pre>
<pre data-sec="p">
調經門彙方
15芩朮四物湯
即本方加黃芩，白朮。
</pre>
<pre data-sec="p">
調經門彙方
16桃紅四物湯
即本方加桃仁，紅花。
</pre>
<pre data-sec="p">
調經門彙方
17羌桂四物湯
即本方加羌活，桂枝。
</pre>
<pre data-sec="p">
調經門彙方
18柴胡四物湯
川芎　當歸　白芍　熟地各一錢五分　柴胡　人參　黃芩各二錢　甘草五分　半夏（製）二錢
以上為末，每五錢，水煎服。
</pre>
<pre data-sec="p">
調經門彙方
19玉燭散
當歸　川芎　熟地　白芍各二錢　大黃　芒硝　甘草各一錢
以上剉，每服八錢，水煎，食前服。
</pre>
<pre data-sec="p">
調經門彙方
20地骨皮飲
當歸　生地各二錢　白芍一錢　川芎八分　牡丹皮　地骨皮各二錢
水煎服。
</pre>
<pre data-sec="p">
調經門彙方
21膠艾四物湯
熟地　當歸　川芎　白芍　阿膠（蛤粉末炒成珠）　艾葉各一錢　甘草（炙）五分
以上剉，水，酒各半煎，空心服。
</pre>
<pre data-sec="p">
調經門彙方
22桂枝四物湯
當歸　熟地　川芎各二錢　白芍（炒）三錢　桂枝三錢　甘草（炙）一錢　薑，棗煎服。
</pre>
<pre data-sec="p">
調經門彙方
23麻黃四物湯
當歸　熟地　白芍　川芎各二錢　麻黃　桂枝各一錢　杏仁二十粒　甘草一錢
薑，棗煎服。
</pre>
<pre data-sec="p">
調經門彙方
24當歸補血湯
當歸三錢　黃耆（蜜炙）一兩
以上水煎服。
</pre>
<pre data-sec="p">
調經門彙方
25聖愈湯
熟地（酒拌蒸半日）　白芍（酒拌）　川芎　人參各七錢五分　當歸（酒洗）　黃耆（炙）各五錢
以上水煎服。
</pre>
<pre data-sec="p">
調經門彙方
26薑芩四物湯
當歸　熟地　赤芍　川芎　薑黃　黃芩　丹皮　延胡索　香附（製）各等分
水煎服。
</pre>
<pre data-sec="p">
調經門彙方
27佛手散又名芎歸湯
川芎二兩　當歸三兩
以上為細末，每服二錢，水一盞，酒二分，煎七分，溫服。
</pre>
<pre data-sec="p">
調經門彙方
28過期飲
熟地　白芍（炒）　當歸　香附各二錢　川芎一錢　紅花七分　桃仁泥六分　蓬莪朮　木通各五分　甘草（炙）　肉桂各四分　木香八分
以上水二鍾，煎一鍾，食前溫服。
</pre>
<pre data-sec="p">
調經門彙方
29加味地骨皮飲
生地　當歸　白芍各二錢　川芎八分　牡丹皮　地骨皮各三錢　胡連一錢
上水煎服。
</pre>
<pre data-sec="p">
調經門彙方
30六神湯
熟地　當歸　白芍　川芎　黃耆　地骨皮各等分
以上㕮咀，水煎。
</pre>
<pre data-sec="p">
調經門彙方
31小建中湯
白芍（炒）三錢　桂枝一錢　甘草（炙）八分
以上薑，棗水煎服。
</pre>
<pre data-sec="p">
調經門彙方
32黃耆建中湯
黃耆（炙）　肉桂各一兩　白芍（炒）二兩　甘草（炙）七錢
以上每服五錢，薑棗水煎服，日二三服。如虛甚者加附子。
</pre>
<pre data-sec="p">
調經門彙方
33當歸建中湯
當歸一兩　白芍（炒）二兩　肉桂一兩　甘草（炙）七錢
以上㕮咀，每服三錢，加生薑，棗水煎，空心服。
</pre>
<pre data-sec="p">
調經門彙方
34加味烏藥湯
烏藥　縮砂仁　木香　延胡索　香附（製）　甘草　檳榔各等分
以上細剉，每服七錢，生薑三片，水煎溫服。
</pre>
<pre data-sec="p">
調經門彙方
35琥珀散
三稜　莪朮　赤芍　當歸　劉寄奴　丹皮　熟地　官桂　烏藥　延胡索各一兩
以上前五味，用烏豆一升，生薑半斤切片，米醋四升，同煮，豆爛為度，焙乾，入後五味，同為末。每服二錢，溫酒調下，空心食前服。
</pre>
<pre data-sec="p">
調經門彙方
36大溫經湯
吳茱萸（湯泡）　丹皮　白芍　人參　肉桂　當歸　川芎　阿膠（碎炒）　甘草（炙）各一錢　麥冬（去心）二錢　半夏（製）二錢半
以上加生薑水煎，食前服。
</pre>
<pre data-sec="p">
調經門彙方
37吳茱萸湯
當歸　肉桂　吳茱萸　丹皮　半夏（製）　麥冬各二錢　防風　細辛　藁本　乾薑　茯苓　木香　炙甘草各一錢
水煎服。
</pre>
<pre data-sec="p">
調經門彙方
38三黃四物湯
當歸　白芍　川芎　生地　黃連　黃芩　大黃
以上剉，水煎服。大黃量虛實用。
</pre>
<pre data-sec="p">
調經門彙方
39犀角地黃湯
芍藥七錢半　生地半斛　牡丹皮（去心淨，酒浸）一兩　犀角（如無，以川升麻代）一兩
以上㕮咀，每服五錢，水煎服。有熱如狂者，加黃芩二兩。
</pre>
<pre data-sec="p">
分類：經閉門
篇名：血滯經閉
條文：001
石瘕寒氣客胞中，狀如懷子不經行，胞閉熱氣迫肺咳，傷心氣血不流通。
【註】
經曰：石瘕生於胞中，寒氣客於子門，子門閉寒，氣不得通，惡血當瀉不瀉，衄以留止，日以益大，狀如懷子，月事不以時下，皆生於女子，可導而下。
此論經閉，因寒氣客於下，故病石瘕，而不病肺勞也。
經曰：月事不來者，胞脈閉也。胞脈者，屬心而絡於胞中。今氣上迫於肺，心氣不得下通，故月事不來也。
此論胞脈閉，因熱氣攻於上，故迫肺作咳，病肺勞而不病石瘕也。
</pre>
<pre data-sec="p">
分類：經閉門
篇名：血虧經閉
條文：002
二陽之病發心脾，不月有不得隱曲，血枯其傳為風消，息賁者死不能醫。
【註】
二陽者，陽明胃也。女子有隱曲不得之情，則心脾氣鬱不舒，以致二陽胃病，飲食日少，血無以生，故不月也。血虛則生內熱，愈熱愈虛，肌肉乾瘦如風之消物，故名曰風消也。火盛無制，心乘肺金，金氣不行，不能運布，水精留於胸中，津液悉化為痰，咳嗽不已，日久成勞，傳為息賁，則不能醫矣。息賁者，喘也。
</pre>
<pre data-sec="p">
分類：經閉門
篇名：血枯經閉
條文：003
脫血過淫產乳眾，血枯漸少不行經，骨蒸面白兩顴赤，懶食消瘦咳嗽頻。
【註】
失血過多，面與爪甲之色，俱淺淡黃白，乃脫血病也。或因過淫精竭，或因產多乳眾，傷血血枯，經來漸少，二、三月後經閉不行，以致證見骨蒸肌熱，面色枯白，兩顴紅赤，懶於飲食，皮乾消瘦，咳嗽頻頻不已，多成虛損之證。
</pre>
<pre data-sec="p">
分類：經閉門
篇名：久嗽成勞
條文：004
男勞已詳心法內，女損陰血傳風消，或因病後素稟弱，經閉咳嗽血風勞。
【註】
男子虛勞治法，已詳於『雜病心法要訣』虛勞門內。女子之勞多因損其陰血，或因病後傷其陰血，或因素稟陰血不足。然必見陰虧骨蒸，血枯經閉，咳嗽，日久不已之證，始名曰勞。若不咳嗽，則謂之虛，不可謂之勞也。風消者，古勞證名也。女子曰血風勞者，蓋以『內經』曰：勞風發於肺下，是謂虛病之人感受風邪，則肺受之。故始病必先咳嗽也。若不先解風邪而即補者，未有不因久嗽不已而成勞者也，故曰血風勞也。
</pre>
<pre data-sec="p">
分類：經閉門
篇名：婦人經斷復來
條文：005
婦人七七天癸竭，不斷無疾血有餘，已斷復來審其故，邪病相干隨證醫。
【註】
婦人七七四十九歲時，天癸竭，地道不通，當月水不下。若月水不斷，不見他證，乃血有餘，不可用藥止之。若已斷，或一年，或三，五年復來者，當審其有故無故，是何邪所干，隨證醫治也。
</pre>
<pre data-sec="p">
分類：經閉門
篇名：室女經來復止
條文：006
室女經來復不來，若無所苦不為災，必是避年未充足，若見虛形命可哀。
【註】
室女年幼氣血尚未充足，有經來數月復又不來者，若無他證所苦，則不得謂之災疾，必是避年，或氣血未充。若兼見虛損形狀，則為室女血枯經閉童勞，多屬難治，故曰命可哀也。
</pre>
<pre data-sec="p">
分類：經閉門
篇名：師尼室寡經閉
條文：007
師尼室寡異乎治，不與尋常婦女同，診其脈弦出寸口，知其心志不遂情。調經若不先識此，錯雜病狀豈能明，和肝理脾開鬱氣，清心隨證可收功。
【註】
師，道姑也。尼，女僧也。室，未適夫之女也。寡，少而亡夫之婦也。異乎治者，謂不與尋常婦女同其治也。如診其脈弦出寸口，則知其心志不遂，情志之為病也。凡欲調婦女一切經病，若不先識此因，則不能明情志錯雜難名之病狀也。治此證者，當以和肝理脾，開鬱清心。隨證施治，自可收功也。
</pre>
<pre data-sec="p">
分類：經閉門
篇名：血滯經閉證治
三和湯
條文：008
石瘕帶表吳茱萸，攻裡琥珀散最宜，胞閉三和湯四物，硝黃連薄草芩梔。
【註】
寒氣客於胞中，血留不行而成石瘕。兼表證多者，宜吳茱萸湯溫散之；裡證多者，宜琥珀散攻之。胞脈閉，上迫於肺，心氣不得下通，故月事不來，宜三和湯清之，即四物湯合涼膈散，乃朴硝，大黃，連翹，薄荷，甘草，梔子，黃芩也。如大便不實者，去硝黃。
吳茱萸湯
琥珀散
四物湯（方俱見前調經門）
</pre>
<pre data-sec="p">
分類：經閉門
篇名：血枯血虧經閉證治
六味地黃湯
條文：009
胃熱爍血玉燭散，失血血枯養榮湯。地黃湯治房勞損，萸藥苓丹澤地良。乳眾血枯經若閉，須用十全大補方。
【註】
經曰：二陽之病發心脾，女子不月。二陽，胃也。胃熱甚，則爍其血，血海乾枯，故月事不下，宜以玉燭散泄其胃熱，則經血自行。若因素有吐衄之證，或生育過多，則血海乾枯，及房勞過傷陰血，乳眾傷其血液，皆足以致經閉。失血多者，宜養榮湯主之；房勞過者，以六味地黃湯滋之，即山萸，山藥，白茯苓，丹皮，澤瀉，熟地黃也；乳眾者，以十全大補湯培補之。
玉燭散
養榮湯
十全大補湯（俱見前調經門）
</pre>
<pre data-sec="p">
分類：經閉門
篇名：經閉久嗽成勞證治
劫勞散
條文：010
月水不行蒸潮汗，食減咳嗽血風勞，劫勞散用參苓芍，歸地甘耆半味膠。
【註】
經閉久嗽，又見骨蒸潮熱，盜汗，自汗，飲食減少之證，則為之血風勞。宜用劫勞散，即人參，茯苓，白芍，當歸，生地，甘草，黃耆，半夏，五味子，阿膠也。
</pre>
<pre data-sec="p">
分類：經閉門
篇名：婦人經斷復來
芩心丸　益陰煎
條文：011
經斷復來血熱甚，芩心醋丸溫酒吞，益陰知柏龜生地，縮砂炙草棗薑尋。血多熱去傷衝任，十全大補與八珍。暴怒憂思肝脾損，逍遙歸脾二藥斟。
【註】
婦人七七四十九歲後，天癸不行。若止而復來，無他證者，乃血有餘，不得用藥止之。若因血熱者，宜芩心丸，用黃芩心末二兩，醋丸溫酒送下。或用益陰煎，即知母，黃柏，龜板，生地，縮砂，炙草也。若血去過多，熱隨血去，衝任虛損，其血不固者，宜十全大補湯，八珍湯。若因怒氣傷肝，肝不藏血，憂思傷脾，脾不攝血者，宜於逍遙散，歸脾湯二方斟酌用之。
十全大補湯
八珍湯
逍遙散
歸脾湯（俱見前調經門）
</pre>
<pre data-sec="p">
分類：經閉門
篇名：室女師尼寡婦經閉證治
大黃䗪蟲丸　澤蘭葉湯　柏子仁丸
條文：012
室女經閉多血結，大黃䗪蟲桃杏仁，虻蛭蠐螬甘草芍，乾漆生地及黃芩。不足澤蘭歸草芍，柏子仁丸用柏仁，熟地澤蘭牛卷續，相兼久服自然行。師尼寡婦逍遙散，附蘭丹地鬱梔芩。
【註】
室女經閉，多有氣血凝結者，宜用大黃䗪蟲丸，破血行氣，其經自通。方用大黃，䗪蟲，桃仁，杏仁，蝱蟲，水蛭，蠐螬，甘草，白芍，乾漆，生地，黃芩，蜜丸服。若其人虛弱不任攻下，則用澤蘭葉湯，即澤蘭葉，當歸，甘草，白芍也。兼服柏子仁丸，方用柏子仁，熟地，澤蘭葉，牛膝，卷柏，續斷，丸服。煎丸并進，久久其血自行。至於師尼，寡婦經閉之證，多屬鬱熱，宜用逍遙散，加香附，澤蘭葉，丹皮，生地，鬱金，黑梔，黃芩，以和肝理脾，清心開鬱，其經自通也。
逍遙散（方見前調經門）
</pre>
<pre data-sec="p">
分類：經閉門
篇名：婦病難治
條文：013
諺云婦病不易治，蓋以幽居情鬱疑，執拗不喜望聞問，諱疾忌醫術莫施。
【註】
寇宗奭曰：寧治十男子，莫治一婦人。謂婦人之病多不易治也。蓋以婦人幽居情鬱，憂恚愛憎多疑，所懷不遂，性執偏拗，診時又不令醫師觀形，望色，聞聲，問病。富貴之家，居奧室之中，處幃幔之內，且復以帕蒙手，既不能行望色之神，又不能盡切脈之巧，未免詳問，問之覺繁，反謂醫學不精，往往并藥不信。不知問非易事，非精於醫者，必不能問也。夫望，聞，問，切四者，欲去其三，即是神醫，亦無由施其術也。此古今之通患，謂之曰：婦人不易治，不誠然哉!
</pre>
<pre data-sec="p">
分類：經閉門
篇名：診看婦人須先問經期妊娠
條文：014
未診婦人女子病，先問經期與妊娠，不詳誤藥非細事，疑似難明昧所因。
【註】
未診婦人女子之病，必先問經期與有無妊娠。若不詳細審問，倘用藥誤觸之，則所關匪細，多變生他證。疑似難明，豈不昧其病之所因哉！
</pre>
<pre data-sec="p">
經閉門彙方
01三和湯
當歸　川芎　大黃　朴硝　白芍　地黃　黃芩　梔子　連翹　薄荷　甘草（各等分）
以上剉，每服八錢，水煎服。
</pre>
<pre data-sec="p">
經閉門彙方
02六味地黃湯
熟地八錢　山萸肉　山藥各四錢　丹皮　澤瀉　茯苓各三錢
以上清水煎服。
</pre>
<pre data-sec="p">
經閉門彙方
03劫勞散
白芍（六兩）　黃耆（炙，四兩）　甘草（炙）　人參（去蘆）　當歸（去蘆，酒洗）　熟地（洗淨焙乾）　五味子　阿膠（炒珠，各一兩）
上㕮咀，每服三錢，水一盞，生薑七片，棗三枚，煎至九分，溫服，無時，日三服。
</pre>
<pre data-sec="p">
經閉門彙方
04芩心丸
用黃芩心枝條者三兩（米泔浸七日，炙乾，又浸又炙，如此七次）。
以上為末，醋丸如桐子大，每服七十丸，空心溫服送下，日進二服。
</pre>
<pre data-sec="p">
經閉門彙方
05益陰煎
生地三錢　知母　黃柏各二錢　龜板（醋炙）四錢　縮砂仁　甘草（炙）各一錢
以上剉，水煎服。
</pre>
<pre data-sec="p">
經閉門彙方
06大黃䗪蟲丸
大黃　赤芍　生地　桃仁　杏仁　乾漆　甘草　䗪蟲　蝱蟲　蛭蟲　蠐螬　黃芩各等分
以上末，煉蜜丸。每服丸數，量虛實增減。
</pre>
<pre data-sec="p">
經閉門彙方
07澤蘭葉湯
澤蘭葉三兩　當歸　白芍各一兩　甘草五錢
以上為粗末，每服五錢。水二盞，煎一盞，溫服。
</pre>
<pre data-sec="p">
經閉門彙方
08柏子仁丸
柏子仁（炒，另研）　牛膝（酒洗）　卷柏各五錢　澤蘭葉　續斷各二兩　熟地（酒浸半日，石臼內杵成膏）三兩五錢
以上為細末，煉蜜丸如桐子大。空心米飲下三十丸。
</pre>
<pre data-sec="p">
分類：崩漏門
篇名：崩漏總括
條文：001
淋瀝不斷名為漏，忽然大下謂之崩，紫黑塊痛屬瘀熱，久多緣損任衝經，脾虛不攝中氣陷，暴怒傷肝血妄行，臨證審因虛細辨，虛補瘀消熱用清。
【註】
婦人行經之後，淋瀝不止，名曰經漏。經血忽燃大下不止，名為經崩。若其色紫黑成塊，腹脅脹痛者，屬瘀熱。若日久不止，及去血過多而無塊痛者，多係損傷衝任二經所致。更有憂思傷脾，脾虛不能攝血者，有中氣下陷不能固血者，有暴怒傷肝，肝不藏血而血妄行者。臨證之時，須詳審其因而細細辨之。虛者補之，瘀者消之，熱者清之，治之得法，自無不癒。
</pre>
<pre data-sec="p">
分類：崩漏門
篇名：崩漏證治
荊芩四物湯
條文：002
崩漏血多物膠艾，熱多知柏少荊芩，漏濇香附桃紅破，崩初脹痛琥珀靈，日久氣血衝任損，八珍大補養榮寧，思慮傷脾歸脾治，傷肝逍遙香附青。
【註】
崩血漏血去血過多者，宜用膠艾四物湯補之。
如屬熱多者，宜用知柏四物湯清之。
熱少者，宜用荊芩四物湯和之。
若漏血濇少，此屬血滯，宜用四物湯加香附，桃仁，紅花破之。
若崩血初起脹痛，此屬瘀凝，宜用琥珀散攻之。
崩漏日久，氣血已虧，衝任損傷者，宜用八珍湯，十全大補湯，人參養榮湯，量補其損傷。
若因思慮傷脾者，宜用歸脾湯補之。恚怒傷肝者，宜用逍遙散加炒香附，青皮平之。
膠艾四物湯
四物湯
琥珀散
十全大補湯
人參養榮湯
歸脾湯
逍遙散（方俱見前調經彙方內）
</pre>
<pre data-sec="p">
分類：崩漏門
篇名：崩漏證治
補中益氣湯　益胃升陽湯
條文：003
氣陷補中益氣舉，保元升柴歸朮陳，益胃升陽加麵麴，腹痛加芍嗽減參。
【註】
崩漏日久，脾傷食少，中氣下陷，不能載血者，宜用補中益氣湯，升陽益胃湯升舉之。
補中益氣湯，即人參，黃耆，甘草（保元湯）加升麻，柴胡，當歸，白朮，陳皮也。
益胃升陽湯，即補中益氣湯加黃芩，神麴也。若腹痛者，宜加白芍藥；有熱者，用黃芩；無熱者，用肉桂調之。咳嗽者，肺熱也，減人參。
</pre>
<pre data-sec="p">
分類：崩漏門
篇名：崩漏證治
調經升陽除濕湯
條文：004
夾水水瀉不甚弱，調經升陽除濕湯，耆草升柴歸蒼朮，羌獨藁本蔓荊防。
【註】
崩漏下血夾水，或日水瀉一二次，形氣不甚弱者，宜用調經升陽除濕湯。其方即黃耆，甘草，升麻，柴胡，當歸，蒼朮，羌活，獨活，藁本，蔓荊子，防風也。以風藥先勝其濕。若形氣虛弱者，則當加人參，陳皮，合補中益氣湯補中勝濕可也。
</pre>
<pre data-sec="p">
分類：崩漏門
篇名：崩漏證治
失笑散　地榆苦酒煎
條文：005
殺血心痛失笑散，蒲黃五靈脂定疼，崩血不已防滑脫，地榆苦酒煎止崩。
【註】
崩血心腹痛甚者，名曰殺血。心痛乃血滯不散，宜用失笑散。其方即蒲黃，五靈脂也。先定其痛，痛止然後隨症治之。
若崩血補之仍然不止者，當防其滑脫，宜用地榆一兩，醋煎，露一宿，次早溫服立止，止後隨症治之，名地榆苦酒煎。
</pre>
<pre data-sec="p">
崩漏門彙方
01補中益氣湯
黃耆　人參　白朮　甘草（炙）各一錢　當歸　陳皮各七分　升麻　柴胡各三分
以上八味均剉，加入薑，棗水煎服。
</pre>
<pre data-sec="p">
崩漏門彙方
02益胃升陽湯
黃耆二錢　人參（有嗽去之）一錢　神麴（炒）一錢五分　白朮三錢　當歸（酒洗）　陳皮　甘草（炙）各一錢　升麻　柴胡各五分　生黃芩（秋涼不用）二錢
以上為粗末，每服三錢或五錢。如食添，再加之；如食減，只服三錢，或更減之，不可多服。水煎，去滓，熱服。
</pre>
<pre data-sec="p">
崩漏門彙方
03升陽除濕湯
黃耆　蒼朮　羌活各一錢五分　防風　藁本　升麻　柴胡　甘草（炙）各一錢　獨活五分　蔓荊子七分
以上㕮咀，水五大盞，煎至一大盞，去滓，稍熱服。
空心服畢，待少時，以早膳壓之。
</pre>
<pre data-sec="p">
崩漏門彙方
04失笑散
五靈脂　蒲黃各等分
以上為末，先用釅醋調二錢，熬膏，入水一盞，煎至七分，食前熱服，良驗。
</pre>
<pre data-sec="p">
崩漏門彙方
05地榆苦酒煎
地榆一兩醋煎，露一宿，次早溫服立止。止後隨證調治之。苦酒，即醋也。
</pre>
<pre data-sec="p">
分類：帶下門
篇名：五色帶下總括
條文：001
帶下勞傷衝與任，邪入胞中五色分，青肝黃脾白主肺，衄血黑腎赤屬心。隨人五臟兼濕化，治從補瀉燥寒溫，更審瘡膿瘀血化，須別胞膀濁與淫。
【註】
帶下者，由於勞傷衝任，風邪入於胞中，血受其邪，隨人臟氣濕熱，濕寒所化。故色青者屬肝，為風濕；色赤屬心，為熱濕；色黃屬脾，為虛濕；色白屬肺，為清濕；色黑屬腎，為寒濕也。其從補，從瀉，從濇，從寒，從溫，則隨證治之。更審其帶久淋瀝之物，或臭或腥穢，乃敗血所化，是胞中病也。若似瘡膿，則非瘀血所化，是內癰膿也。若如米泔，兼尿竅不利，乃膀胱白濁病也；若尿竅通利，從精竅出，或如膠黏，乃胞中白淫病也。
</pre>
<pre data-sec="p">
分類：帶下門
篇名：帶下證治
條文：002
邪入胞中吳茱萸，赤黏連梔青防梔，白主益氣黑六味，黃淡六君或歸脾。
【註】
帶下因六淫之邪入於胞中者，宜吳茱萸湯。若色赤，色黃而濁黏者，熱也。色黃者，加黃連，梔子；
色青者，加防風，梔子。若色白，色黑而清稀者，虛寒也。色白者，用補中益氣湯；色黑者，用六味地黃湯；色黃而淡者，宜六君子湯，或加味歸脾湯，分證調治可也。
吳茱萸湯
補中益氣湯
六味地黃湯
六君子湯
歸脾湯（方俱見首卷彙方）
</pre>
<pre data-sec="p">
分類：帶下門
篇名：帶下證治
加味四物湯
條文：003
胞中冷痛乃寒濕，四物附子桂薑宜，臭腥兼合知柏用，久滑升柴龍牡脂。
【註】
帶下而胞中熱痛，乃熱濕也。今胞中冷痛，乃寒濕也。宜四物湯，加川附子，炮薑，官桂服之。日久滑脫者，加升麻，柴胡舉之，龍骨，牡蠣，赤石脂濇之。
四物湯方（見前調經門彙方內）
</pre>
<pre data-sec="p">
分類：帶下門
篇名：帶下證治
清白散
條文：004
帶下濕熱清白散，四物薑炭草柏椿，赤榆荊芩濕二朮，滑加龍牡久合君。
【註】
帶下，五色帶下也。皆濕熱所化，宜用清白散。其方即四物湯加薑炭，甘草，黃柏，椿皮也。色赤加地榆，荊芥，黃芩；濕加蒼朮，白朮；滑加龍骨，牡蠣，久則合四君子湯也。
四物湯
四君子湯（俱見前調經門彙方內）
</pre>
<pre data-sec="p">
分類：帶下門
篇名：帶下證治
導水丸　萬安丸
條文：005
帶下有餘皆濕化，少腹脹疼污水綿，導水牽滑芩軍熱，萬安牽椒茴木寒。
【註】
五色帶下，皆從濕化。若少腹脹痛，污水綿綿，屬濕熱者，宜用導水丸。其方即牽牛，滑石，黃芩，生軍，治熱有餘也。屬濕寒者，宜用萬安丸，其方即牽牛，胡椒，小茴香，木香，治寒有餘者也。
</pre>
<pre data-sec="p">
分類：帶下門
篇名：帶下證治
威喜丸　固精丸
條文：006
瘀化瘡膿濁淫病，虛實寒熱酌其宜，威喜蠟苓固精菟，韭味桑苓龍牡脂。
【註】
帶下有因瘀血所化，或瘡瘍膿出及白濁，白淫者，皆帶下類也。其虛實寒熱，當酌其宜。藥用威喜丸，即黃蠟，茯苓也。固精丸，即菟絲子，韭菜子，五味，桑螵蛸，茯苓，龍骨，牡蠣，赤石脂也。
</pre>
<pre data-sec="p">
帶下門彙方
01清白散
當歸　黃柏（鹽水泡）　白芍（炒）　樗根皮（酒炒）　生地　川芎　貝母各一錢　炮薑　甘草各五分
以上剉，生薑三片，水煎服。
</pre>
<pre data-sec="p">
帶下門彙方
02導水丸
牽牛（頭末）　滑石（水飛）　黃芩　川大黃
以上末，蒸餅為丸，量虛實服。
</pre>
<pre data-sec="p">
帶下門彙方
03萬安丸
牽牛（頭末）　胡椒　木香　小茴香（焙）各等分焙
以上末，水泛為丸，量虛實服。
</pre>
<pre data-sec="p">
帶下門彙方
04威喜丸
白茯苓（去皮作塊，用豬苓二錢半，同於磁器內煮二十餘沸出，曬乾，不用豬苓）四兩　黃蠟四兩
以上以茯苓為末，煉黃蠟為丸，如彈子大。
空心細嚼，滿口生津，徐徐咽服，以小便清為度。
忌米醋，只吃糠醋。
忌動氣。
</pre>
<pre data-sec="p">
帶下門彙方
05固精丸
牡蠣（煆粉）　菟絲子（酒蒸，焙）　韭子（炒）　龍骨　五味子　白茯苓　桑螵蛸（酒炙）　赤石脂各等分
以上為末，酒糊丸如桐子大。每服七十丸，空心鹽湯下。
</pre>
<pre data-sec="p">
分類：癥瘕痃癖諸證門
篇名：癥瘕積聚痞血血蠱總括
條文：001
五積六聚分臟腑，七癥八瘕氣血凝，癥積不動有定處，瘕聚推移無定形。痞悶不宣氣壅塞，未成堅塊血瘀名，蓄久不散成血蠱，產後經行風冷乘。
【註】
五臟氣積，名曰積，故積有五證。六腑氣聚，名曰聚，故聚有六證。難經有心，肝，脾，肺，腎五臟之積，而無六聚。蓋以積為血病，而聚為氣病也。故李杲有五積丸方治法。「巢氏病源」載七癥八瘕，但有八瘕名證，而無七癥病形。其他方書亦不概見。大抵又以癥為氣病，而瘕為血病也。夫病皆起於氣也，氣聚而後血凝，不必過泥於黃，青，燥，血，脂，狐，蛇，鱉等名，但以牢固不移有定處者，為癥為積；推移轉動，忽聚忽散者為瘕為聚可也。故曰：癥者，徵也，言有形可徵也。瘕者，假也，言假物成形也。若夫痞者，痞悶不通，氣道壅塞之謂也。瘀血者，血瘀腹中未成堅塊也。蓄之既久，必成血蠱矣。凡此諸證，皆有新產之後，經行之時，不知謹避，以致風冷外襲，邪正相搏，結於腹中而成也。
</pre>
<pre data-sec="p">
分類：癥瘕痃癖諸證門
篇名：癥瘕證治
大七氣湯
條文：002
婦人一切癥瘕病，上下攻疼七氣湯，藿香益智稜莪朮，甘桔青陳肉桂香。
【註】
婦人一切癥瘕，隨氣上下攻築疼痛者，宜大七氣湯。其方即藿香葉，益智仁，京三稜，蓬莪朮，甘草，桔梗，青皮，陳皮，肉桂心，木香也。
</pre>
<pre data-sec="p">
分類：癥瘕痃癖諸證門
篇名：食癥證治
烏藥散
條文：003
經行產後食生冷，臟氣相搏結塊形，牢固不移日漸長，開滯消積溫散行。烏藥散烏桃莪朮，木香當歸青桂心。
【註】
婦人經行，產後貪食生冷之物，與臟氣互相搏聚，結成堅塊，牢固不移，日漸長大者，治宜開滯消積，用烏藥散。即烏藥，桃仁，莪朮，木香，當歸，青皮，桂心，以溫散之自癒。
</pre>
<pre data-sec="p">
分類：癥瘕痃癖諸證門
篇名：血癥證治
血竭散
條文：004
乘臟虛兮風冷乾，飲食內與血相搏，因成血癥堅牢固，脅腹脹痛熱而煩，少食多忘頭汗出，血竭歸芍蒲桂延。
【註】
婦人產後經行之時，臟氣虛，或被風冷相乾，或飲食生冷，以致內與血相搏結，遂成血癥。牢固不移，脅腹脹痛，內熱心煩，食少善忘，但頭汗出者，宜用血竭散，即血竭，當歸，赤芍，蒲黃，桂心，延胡索也。
</pre>
<pre data-sec="p">
分類：癥瘕痃癖諸證門
篇名：痞證治
助氣丸
條文：005
三焦痞滿胸膈悶，氣不宣通助氣清，白朮三稜蓬莪朮，枳殼檳榔香與陳。
【註】
婦人胸膈痞悶，謂之痞。由於氣壅不宣所致，宜助氣丸，即青皮，白朮，三稜，莪朮，枳殼，檳榔，木香，陳皮，為丸服也。
</pre>
<pre data-sec="p">
分類：癥瘕痃癖諸證門
篇名：積聚證治
開鬱正元散
條文：006
積聚通用正元散，苓朮青陳麴麥延，香砂海粉查甘桔，痰飲食積血氣摶。
【註】
五積六聚，乃痰飲食積，氣血摶結而成，通用開鬱正元散。其方即茯苓，白朮，青皮，陳皮，神麴，麥芽，延胡索，香附，砂仁，海粉，山查，甘草，桔梗也。用以健脾消食，化痰滲飲，理氣和血，則積聚未有不癒者矣。
</pre>
<pre data-sec="p">
分類：癥瘕痃癖諸證門
篇名：瘀血血蠱證治
桃奴散
條文：007
腹中瘀血未成形，面黃發熱腹脹疼，產後經來風冷客，血室之內有瘀停。產後惡露失笑散，經閉瘀凝玉燭攻，血蠱桃奴豭鼠糞，延桂砂桃附五靈。
【註】
婦人產後經行之時，傷於風冷，則血室之內必有瘀血停留，未成堅塊，故不名癥瘕也。其人必面色萎黃，臍腹脹痛，內熱晡熱。若產後惡露不行者，宜失笑散；若經閉不通，瘀血凝聚者，宜玉燭散。瘀血不行，蓄之既久，必成血蠱，宜用桃奴散，即桃奴，豭鼠糞，延胡索，桂心，砂仁，桃仁，香附，五靈脂也。豭鼠糞，一名兩頭尖，即雄鼠屎。桃奴，即桃樹上未成不落之乾桃子也。
失笑散（方見首卷崩漏）
玉燭散（方見首卷彙方內）
</pre>
<pre data-sec="p">
分類：癥瘕痃癖諸證門
篇名：癖疝證總括
條文：008
臍旁左右一筋疼，突起如弦痃證明，僻在兩肋名曰癖，高起如山疝病稱，必引少腹腰脅痛，三證皆由風冷成，或作或止因寒發，痛時方見不痛平。
【註】
婦人臍之兩旁，有筋突起疼痛，大者如臂，小者如指，狀類弓弦者，名曰痃癖。在兩肋之間者，名曰癖。若小腹牽腰脅，疼痛高起者，謂之疝。名雖有三，其實皆因風冷客於胞中而然，故其發作皆因再受風冷。發則痛，痛則見，不痛則平復如初也。
</pre>
<pre data-sec="p">
分類：癥瘕痃癖諸證門
篇名：痃癖證治
蔥白散
條文：009
婦人痃癖腹肋痛，風冷血氣結而成，蔥白四物參苓枳，桂朴薑香青莪稜，茴香麴麥苦楝子，蔥鹽煎服訶黃斟。
【註】
婦人痃癖腹肋疼痛者，皆因風冷與氣血摶結而成，宜用蔥白散溫散之。其方即四物湯加人參，茯苓，枳殼，肉桂，厚朴，乾薑，木香，青皮，莪朮，三稜，茴香，神麴，麥蘗，苦楝子，蔥白，食鹽煎服也。大便結燥，去鹽加大黃；如大便自利加訶子。
四物湯方（見首卷彙方內）
</pre>
<pre data-sec="p">
分類：癥瘕痃癖諸證門
篇名：疝病證治
當歸散
條文：010
婦人疝病氣攻衝，脅腹刺痛當歸芎，鱉甲吳萸桃仁芍，桂榔青木大黃蓬。
【註】
婦人疝病，攻衝刺痛，多因風冷寒濕客於胞門血室，故其病皆屬厥陰肝經，宜當歸散。即當歸，川芎，鱉甲，吳茱萸，桃仁，赤芍，肉桂，檳榔，青皮，木香，大黃，蓬莪朮也。
</pre>
<pre data-sec="p">
分類：癥瘕痃癖諸證門
篇名：治諸積大法
條文：011
形虛病盛先扶正，形證俱實去病急，大積大聚衰其半，須知養正積自除。
【註】
凡治諸癥積，宜先審身形之壯弱，病勢之緩急而治之。如人虛，則氣血衰弱，不任攻伐，病勢雖盛，當先扶正氣，而後治其病；若形證俱實，宜先攻其病也。經云：大積大聚衰其半而止，蓋恐過於攻伐，傷其氣血也。羅天益曰：養正積自除，可謂得經旨者矣。
</pre>
<pre data-sec="p">
癥癖積痞血蠱門彙方
01七氣湯
三稜　莪朮（各煨，切）　青皮（去穰）　陳皮（去白）　木香　藿香　益智仁　桔梗　肉桂　甘草（炙）各七錢半
以上㕮咀，每服五錢。水二盞，煎至一盞，食前溫服。
</pre>
<pre data-sec="p">
癥癖積痞血蠱門彙方
02烏藥散
烏藥　莪朮　桂心　當歸（炒）　桃仁　青皮　木香各等分
以上為末，每服二錢，熱酒調下。
</pre>
<pre data-sec="p">
癥癖積痞血蠱門彙方
03血竭散
真血竭（如無，紫礦代）　當歸　赤芍　蒲黃　延胡索
以上等分，研細頻篩，再研，取盡為度。
每服一錢，用童便合好酒半大盞，煎一沸，溫調下。
方產下時一服，上床良久再服，其惡血自循經下行，不致衝上，免生百病。
</pre>
<pre data-sec="p">
癥癖積痞血蠱門彙方
04助氣丸
京三稜　蓬莪朮（二味各用濕紙包，灰火中煨透，切片。各二斤）　青皮（去白）　陳皮（去白）　白朮（各十五兩）　枳殼（麩炒，去穰）　檳榔　木香（各十兩）
以上為末，糊丸桐子大。每服五十丸，滾水下。
</pre>
<pre data-sec="p">
癥癖積痞血蠱門彙方
05開鬱正元散
白朮　陳皮　青皮　香附　山查　海粉　桔梗　茯苓　砂仁　延胡索　麥芽（炒）　甘草（炙）　神麴（炒，各等分）
上剉，每服一兩，生薑三片，水煎服。
</pre>
<pre data-sec="p">
癥癖積痞血蠱門彙方
06桃奴散
桃奴（炒）　雄鼠糞（炒，兩頭尖者是）　延胡索　肉桂　五靈脂　香附（炒）　砂仁　桃仁（各等分）
以上為末，每服三錢，酒調下。
</pre>
<pre data-sec="p">
癥癖積痞血蠱門彙方
07蔥白散
當歸　熟地　赤芍　川芎　人參　茯苓　枳殼　肉桂　厚朴　乾薑　木香　青皮　莪朮　三稜　茴香　神麴　麥芽　苦楝子各等分
以上末，加蔥白三寸，食鹽五分，煎服三錢。
大便結燥，去鹽加大黃。便自利加訶子。
</pre>
<pre data-sec="p">
癥癖積痞血蠱門彙方
08當歸散
當歸　川芎各二錢　鱉甲（醋炙）三錢　吳茱萸　桃仁十五粒　赤芍　肉桂各一錢　檳榔　青皮各八分　木香　莪朮　川大黃各七分
以上為末，每服一錢。水一盞，入乾燕脂一錢，同煎六分，食後服。
</pre>
<pre data-sec="p">
分類：嗣育門
篇名：胎孕之原
條文：001
天癸先天生身氣，精血後天化成形。男子二八天癸至，屬陽應日精日盈。女子二七天癸至，屬陰應月血月通。男女媾精乃有子，乾道男成坤女成。
【註】
天癸乃父母所賦，先天生身之真氣也。精血水穀所化，後天成形之本也。男子二八，先天腎氣盛，天癸至，與後天所生之精會合而盈。然男子屬陽，陽應日，故精盛而日舉也。女子二七，先天腎氣實，天癸至，與後天所生之血會合而盛。然女子屬陰，陰應月，故血盛而月下也。所以至期男女媾，其先天真氣，後天精血，陰陽會和，乃能有子也。當此陰陽會合時，陽盛自然成男，是乾道成男也。陰盛自然成女，是坤道自然成女也。
</pre>
<pre data-sec="p">
分類：嗣育門
篇名：男女完實
條文：002
精通必待三十娶，天癸二十始適人，皆欲陰陽完實後，育子堅壯壽偏增。
【註】
男子十六而精通，必待三十而娶，女子十四而天癸至，必待二十而嫁者，皆欲陰陽完實。然後交而孕，孕而育，育而其子必堅壯長壽也。今未笄之女，天癸始至，已近男色，則陰氣早瀉，未完而傷，未實而動，所以雖交而不孕，孕不育，育而其子必脆弱不壽也。
</pre>
<pre data-sec="p">
分類：嗣育門
篇名：種子時候
條文：003
男子聚精在寡慾，交接乘時不可失，須待絪蘊時候至，樂育難忍是真機。
【註】
聚精之道，惟在寡慾，交接女子，必乘其時，不可失之遲早。蓋婦人一月經行一度之後，必有一日絪蘊之時，氣蒸而熱，如醉如痴，有欲交接不可忍之狀，乃天然節候，是成胎生化之真機也。
</pre>
<pre data-sec="p">
分類：嗣育門
篇名：分男女論
條文：004
精血先後分男女，或以奇偶少多分，或以子宮左右定，是皆不曉箇中因，欲識此中真消息，乾道陽男坤女陰。
【註】
分男女之說，先賢有以血先至，裹精則成男；精先至，裹血則成女。精血散分併裹則為駢胎，品胎之原者，有以月水盡後一，三，五日成男，二，四，六日成女。與夫經水斷後一，二日成男，四，五日成女者；有以受氣於左子宮成男，受氣於右子宮成女者，皆各執一見，殊為不曉此中因也。蓋獨男獨女之胎，可以日數論。駢胎，品胎，或男，或女，亦可以日數論乎？稽之史載，一產三子，四子，有半男半女，或男多女少，男少女多者，則一，三，五日為男，二，四，六日為女之說，不可憑矣！抑豈有一日受男，而二日復受女之理乎？丹田，命門也，在男子曰精室，在女子曰子宮，形如合缽，並無兩岐可分，曰左右，則是有兩子宮矣。此說尤屬不經。然則何以定之？亦惟以會合天人，陽盛乾道成男，陰盛坤道成女，斯足為確論耳。
</pre>
<pre data-sec="p">
分類：嗣育門
篇名：雙胎品胎
條文：005
古以雙胎精氣盛，不成男女或兼形，陰陽變常駁氣盛，事之所有理難明。
【註】
古以雙胎，乃精氣有餘，岐而分之，血因分而攝之故也。若男同孕者，剛日陽時也；女同孕者，柔日陰時也；男女同孕者，剛日陰時，或柔日陽時也。其他或有不成男女，男不可為父，女不可為母，與男女之兼形者，又皆陰陽變常，駁氣所感，事之所有，理之所無，莫可稽考者也。
</pre>
<pre data-sec="p">
分類：嗣育門
篇名：脈見有子
條文：006
少陰動甚知有子，陰搏陽別尺寸憑，但搏不滑胎三月，搏而滑石五月形。
【註】
少陰腎脈動甚者，有子脈也。但當憑其兩尺陰脈搏指有力，兩寸陽脈不搏指而別於兩尺，斯為有子脈無疑也。其但搏不滑者，主三月之胎；搏而滑者，主五月之胎也。
</pre>
<pre data-sec="p">
分類：嗣育門
篇名：胎男女辨
條文：007
上小下大女腹箕，中正圓高男腹釜，右疾為女左疾男，胎氣鍾於陰陽主。
【註】
上小下大，如箕之形，蓋以女胎面向母腹，其足膝抵腹，故有是形也。中正圓高，如釜之形，蓋以男胎面向母背，則背脊抵腹，故有是形也。右手屬陰，脈疾為女。左手屬陽，脈疾為男。是胎氣鍾於陰，則右盛主女；鍾於陽，則左盛主男也。
</pre>
<pre data-sec="p">
分類：嗣育門
篇名：辨別孕病
條文：008
孕病不分須診乳，五月之後乳房升，何以知其母子吉，身雖有病脈和平。
【註】
婦人經水不至，不分是孕是病者，五個月之後，以孕婦乳房辨之。若乳房升大有乳者，是孕，若乳房不大無乳者，是病也。凡孕婦有病，其險可知，亦何以知其母子俱吉？惟診其脈象和平，則雖有病，知均吉無慮也。
</pre>
<pre data-sec="p">
分類：嗣育門
篇名：分經養胎
條文：009
分經養胎不足憑，無所專養論不經，形始未分無不具，陰陽之道漸分形。
【註】
巢元方曰：妊娠一月名胚胎，足厥陰脈養之；二月名始膏，足少陽脈養之；三月名始胎，手心主脈養之，當此時血不流行，形象始化；四月始受水精以成血脈，手少陽脈養之；五月始受火精以成氣，足太陰脈養之；六月始受金精以成筋，足陽明脈養之；七月始受木精以成骨，手太陰脈養之；八月始受土精以成膚革，手陽明脈養之；九月始受石精以成毛髮，足少陰脈養之；十月五臟，六腑，關節，人神皆備。又有推巢元方養胎之說，謂四時之令必始於春，所以一月，二月間，是足厥陰，少陽木也；三月，四月間，手厥陰，少陽火也；五月六月間，足太陰，陽明土也；七月，八月間，手太陰，陽明金也；九月，十月間，足少陰，太陽水也。惟手少陰，太陽二經，無所專養者，以君主之官無為而已。此說更為不經。夫男女交接，精血聚而成胚，此孕形之始也，雖未分身軀臟腑，而其理無不具也。猶太極渾然，包羅萬象，而陰陽之一氣氤氳，浸漸化生而成，子母分形，自然而然如草木成熟，殼脫蒂落也。
</pre>
<pre data-sec="p">
分類：嗣育門
篇名：受孕分房靜養
條文：010
受孕分房宜靜養，謹戒食味使脾安，調其喜怒防驚恐，慎厥起居避風寒。
【註】
受孕之後，分房靜養，恐動相火，致生胎毒。謹戒飲食五味，使其脾胃調和，母之氣血易生，子之形成必育。內調七情，外避風寒，起居安順，不持重用力，不安逸多睡，不登高涉險，則母無病，子亦安矣。
</pre>
<pre data-sec="p">
分類：嗣育門
篇名：定胎母子二法
條文：011
安胎之道有二法，母病胎病要詳分，母病動胎當治母，子病致母審胎因。
【註】
安胎之道有二法，母病，胎病當詳分而施治也。凡因母病以致胎動者，但療其母，母安則胎自安；或因胎病有所觸動，以致母病者，但宜安胎，胎安則母自癒矣。
</pre>
<pre data-sec="p">
分類：嗣育門
篇名：胎前用藥三禁
條文：012
胎前清熱養血主，理脾疏氣是為兼，三禁汗下利小便，隨證虛實寒熱看。
【註】
丹溪曰：胎前當清熱養血為主，恐傷陰血也。理脾脾健，則氣血易生；疏氣氣順，則氣血調和；理脾疏氣，兼以清熱養血，則胎自安矣。三禁者，汗，下，利小便也，蓋恐過汗亡陽傷氣，過下亡陰傷血，利小便傷津液也。然又當隨證詳審表裡，虛實，寒熱，以施其治，不可過峻也。
</pre>
<pre data-sec="p">
分類：嗣育門
篇名：安胎審宜調治
條文：013
形瘦不宜過熱品，體盛補氣恐動痰，安胎芩朮為要藥，佐以他藥任抽添。火盛倍芩痰倍朮，血虛四物氣四君，杜續膠艾胎不穩，氣盛蘇腹枳砂陳。
【註】
形瘦之人多火，過用溫熱則傷陰血。肥盛之人多痰，過於補氣，恐壅氣動痰。白朮消痰健脾，條芩清熱養陰，二味為安胎要藥。若有他證，則以藥佐之，或減白朮加條芩，或加白朮減條芩，任其抽添。如火盛，則當位芩以清火；痰盛，則當倍朮以消痰；血虛，則合四物湯以補血；氣虛，則合四君湯以補氣；胎不安穩，更佐以杜仲，續斷，阿膠，艾葉以安之；若氣盛胎高，則加紫蘇，大腹皮，枳殼，砂仁，陳皮以舒之。
四物湯
四君子湯（方俱見首卷彙方內）
</pre>
<pre data-sec="p">
嗣育門彙方
01加味地黃丸　
治婦人經水不調，必不能受孕，即使受之，亦不全美，宜常服此方。
熟地四兩　山萸肉　山藥各二兩　牡丹皮　白茯苓各一兩五錢　澤瀉　香附（童便浸三次）各一兩
以上為末，煉蜜丸如梧子大。每服七十丸，白沸湯送下。
</pre>
<pre data-sec="p">
嗣育門彙方
02滌痰湯
治婦人肥盛者，多不受孕。以身中有脂膜閉塞子宮也，以此湯送後丸藥。
當歸一兩　茯苓四兩　川芎七錢五分　白芍藥　白朮（土炒）　半夏（製）　香附米　陳皮　甘草各一兩
以上作十貼，每貼薑三片，水煎吞後丸子。
</pre>
<pre data-sec="p">
嗣育門彙方
03滌痰丸
白朮（土炒）二兩　半夏麴　川芎　香附米各一兩　神麴（炒）　茯苓各五錢　橘紅四錢　甘草二錢
以上為末，粥丸。每服八十丸。
如熱者，加黃連，枳實各一兩。
</pre>
<pre data-sec="p">
嗣育門彙方
04大補丸
治婦人瘦弱，多由血少不能受孕。宜常服此方。
天冬（去心）　麥冬（去心）　菖蒲　茯苓　人參　益智仁　枸杞子　地骨皮　遠志肉
以上為細末，煉蜜丸，如桐子大，空心酒下三十丸。
</pre>
<pre data-sec="p">
嗣育門彙方
05蓯蓉菟絲子丸
此方不寒不熱，助陰生子。
肉蓯蓉一兩三錢　覆盆子　蛇床子　川芎　當歸　菟絲子各一兩二錢　白芍藥一兩　牡蠣（鹽泥固煆）　烏賊魚骨各八錢　五味子　防風各六錢　條芩五錢　艾葉三錢
以上為末，煉蜜丸，如桐子大。每服三，四十丸。鹽湯下，早晚皆可服。
</pre>
<pre data-sec="p">
嗣育門彙方
06調經丸
理氣養血，調經種子。
香附　川杜仲（薑汁炒）八兩　大川芎　白芍藥　當歸（去尾）　懷生地　陳皮　小茴香（酒炒）　延胡索（略炒）　肉蓯蓉（酒炒）　舊青皮（麩炒）　台烏藥（炒）　枯黃芩（酒炒）　烏賊魚骨（酥炙）以上各四兩
以上十四味稱足，真正好醋，和麵打糊為丸，如梧桐子大。每服百丸，空心好酒送下。一方無陳皮，地黃，有人參，黃耆各二兩。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：胎前總括
條文：001
妊娠胎前病惡阻，胞阻腫滿氣煩懸，癇嗽轉胞與子淋，激經胎漏胎不安。小產死胎胎不長，子瘖臟燥鬼胎連，餘病當參雜證治，須知刻刻顧胎原。
【註】
此言妊娠胎前，有惡阻，胞阻，子腫，子滿，子煩，子懸，子癇，子嗽，轉胞，子淋，激經，胎漏，胎動不安，小產墮胎，子死腹中，胎萎不長，子瘖，臟燥，鬼胎等證，皆當一一詳辨熟記。其餘胎前傷寒，傷食，瘧痢，霍亂，泄瀉，當於雜證門中參考治之。但須時刻保護胎原，不致誤犯為要也。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：惡阻總括
條文：002
噁心嘔吐名惡阻，擇食任意過期安，重者須藥主胃弱，更分胎逆痰熱寒。
【註】
婦人受孕月餘之後，時時嘔吐者，名曰惡阻。若無他病擇食者，須隨其意而與之。輕者過期自然勿藥而癒，重者須以藥治之。當以胃弱為主，更審其或因胎氣阻逆，或痰飲阻逆，與夫兼熱，兼寒，而分治之。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：惡阻證治
保生湯
條文：003
胎氣阻逆惟嘔吐，無他兼證保生湯，砂朮香附烏陳草，量加參枳引生薑。
【註】
惡阻，有因胎氣阻逆者，乃受胎後胞門閉塞，臟氣內阻，挾胎氣上逆於胃，故令噁心嘔吐也。若平素胃虛所致，雖無痰飲，寒熱相兼而亦有惡阻證者，宜用保生湯，即砂仁，白朮，香附，烏藥，陳皮，甘草也。引用生薑者，以止其嘔也。若氣弱者，量加人參；氣實者，量加枳殼。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：惡阻證治
加味六君湯
條文：004
痰飲惡阻吐痰水，煩眩加味六君湯，枇杷藿香旋縮枳，熱秘芩軍寒桂薑。
【註】
惡阻因於痰飲者，其吐必多痰水，且心煩頭目眩暈，必其人平素胃虛，中停痰飲也。宜用加味六君湯，於六君湯內，加枇杷葉，藿香，旋覆花，縮砂，枳殼。若胃熱便秘，加黃芩，大黃以利之；胃寒喜熱，加肉桂，乾薑以溫之。
六君湯（方見首卷）
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：惡阻證治
加味溫膽湯
條文：005
熱阻惡食喜涼漿，心煩憒悶溫膽湯，橘半茯甘與枳竹，更加芩連蘆麥薑。
【註】
惡阻因於胃熱者，必嘔吐，心中熱煩，憒悶喜飲涼漿也。宜用加味溫膽湯，其方即陳皮，半夏，茯苓，甘草，枳實，竹茹，名溫膽湯。更加黃芩，黃連，蘆根，麥門冬，引生薑也。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：胞阻總括
條文：006
妊娠腹痛名胞阻，須審心腹少腹間。傷食心胃胎腰腹，少腹胞寒水尿難。
【註】
孕婦腹痛，名為胞阻。須審其痛，或上在心腹之間者，多屬食滯作痛；或下在腰腹之間者，多屬胎氣不安作痛；若在少腹之間者，則必因胞血受寒，或停水尿難作痛也。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：胞阻證治
加味平胃散　延胡四物湯
條文：007
心胃痛多傷食滯，蒼朴陳甘果枳麴，便秘加軍倍甘草，胎動延胡四物宜。
【註】
孕婦心胃作痛者，多因傷食停滯，宜平胃散，即陳皮，厚朴，蒼朮，甘草也。加草果，枳殼，神麴以消之。若更大便秘結，日久則加硝、黃以攻之，然必倍甘草以緩其峻性，庶不傷胎。若腰腹作痛，胎動下血，則當用四物湯，君以延胡，以定痛而保胎也。
四物湯（方見首卷）
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：胞阻證治
加味膠艾四物湯　蜜消湯
條文：008
腹腰痛甚防胎墮，膠艾四物杜酒蔥，外邪宜加羌獨活，內熱便秘蜜硝攻。
【註】
胞蒂繫於腰。凡腹腰痛者，須防墮胎。宜用膠艾四物湯，加杜仲，大豆，淋酒，蔥白以定痛而保胎。若因外感風寒之邪，則加羌活，獨活以散之；若內熱，大小便閉者，則用蜂蜜，芒硝煎湯以攻之。經曰：有故無隕是也。
膠艾四物湯（方見首卷）
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：胞阻證治
加味芎歸飲　導赤散　五苓散
條文：009
胞血受寒少腹疼，參吳膠艾草歸芎。尿澀熱甚導赤散，木通生地甘草靈。水盛陽虛五苓效，朮澤肉桂茯豬苓。
【註】
少腹作痛者，乃胞中之血受寒也，宜加味芎歸飲溫之。其方即人參，吳茱萸，阿膠，蘄艾，炙甘草，當歸，川芎也。若因尿澀而痛，則是膀胱水病熱甚，則以導赤散清利之，其方即生地，木通，甘草也。若水盛陽虛不化，則以五苓散滲利之，其方即茯苓，白朮，澤瀉，豬苓，肉桂也。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：子腫子氣子滿脆腳皺腳總括
條文：010
頭面四肢腫子腫，自膝至足子氣名，腫脹喘滿曰子滿，但腳腫者脆皺稱。
【註】
頭面遍身浮腫，小水短少者，屬水氣為病，故名曰子腫。自膝至足腫，小水長者，屬濕氣為病，故名曰子氣。遍身俱腫，腹脹而喘，在六，七個月時者，名曰子滿。但兩腳腫而膚厚者，屬濕，名曰皺腳。皮薄者，屬水，名曰脆腳。大凡水之為病多喘促，氣之為病多脹滿。喘促屬肺，脹滿屬脾也。以其人素有水氣濕邪，故受孕有腫滿之證。兒未成形，被水浸漬，其胎每致損壞。成形尚可調治，故在五，六月後有是證者，多有生育者也。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：子腫子氣滿脆腳皺腳證治
茯苓導水湯
條文：011
妊娠腫滿與子氣，水氣濕邪脾肺間，水氣浸胎喘難臥，濕氣傷胎脹難堪。均宜茯苓導水治，香瓜檳腹四苓攢，桑砂蘇陳脹加枳，腿腳防己喘葶添。
【註】
妊娠水腫脹滿，子氣，皺腳，脆腳等證，皆由水氣濕邪，傷於脾肺為病也。若水氣盛而浸胎，則必喘而難臥；若濕氣盛而傷胎，則脹滿難堪。皆宜用茯苓導水湯治之，方用木香，木瓜，檳榔，大腹皮，白朮，茯苓，豬苓，澤瀉，桑皮，砂仁，蘇葉，陳皮，以和脾肺而利水濕。脹甚者，加枳殼以破結；腿腳腫者，加防己以利下；濕喘者，加苦葶藶以泄上水也。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：子煩證治
知母飲
條文：012
孕婦時煩名子煩，胎熱乘心知母痊，子芩知麥苓耆草，犀熱參虛膏渴煎。
【註】
孕婦別無他證，惟時時心煩者，名曰子煩。由胎中鬱熱上乘於心也。宜用知母飲，即子芩，知母，麥冬，茯苓，黃耆，甘草。熱甚者加犀角，氣虛加人參，口渴加石膏煎服。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：子懸胎上逼心證治
紫蘇飲
條文：013
胸膈脹滿子懸名，喘甚由胎上逼心，紫蘇飲用歸芎芍，陳腹蘇甘虛人參。
【註】
孕婦胸膈脹滿，名曰子懸。更加喘甚者，名曰胎上逼心。俱宜紫蘇飲，即當歸，川芎，白芍，陳皮，大腹皮，蘇梗葉，甘草。虛者加人參煎服。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：子癇證治
羚羊角飲　鉤藤湯
條文：014
暴仆抽搐不識人，須臾自醒子癇名。羚羊角散防獨杏，五加棗草薏苡仁，茯苓木香羚羊角，抽搐鉤藤湯寄生，人參茯神歸桔梗，口喎肢廢中風成。
【註】
孕婦忽然顛仆，抽搐不省人事，須臾自醒，少頃復如好人，謂之子癇。乃肝，心二經風熱所致，宜用羚羊角散，即防風，獨活，杏仁，酸棗仁，五加皮，甘草，薏苡仁，茯苓，木香，羚羊角也。抽搐甚者，用鉤藤湯，乃鉤藤，桑寄生，人參，茯神，當歸，桔梗也。若口眼喎斜，半身不遂，則已成中風廢證，當參風門治之。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：子嗽證治
枳桔二陳湯　桔梗湯
條文：015
妊娠咳嗽名子嗽，陰虛痰飲感風寒，痰飲二陳加枳桔，風寒桔梗湯可安。紫蘇桔梗麻桑杏，赤苓天冬合貝前，久嗽陰虛宜清潤，麥味地黃湯自痊。
【註】
妊娠咳嗽，謂之子嗽，嗽久每致傷胎。有陰虛火動痰飲上逆，有感冒風寒之不同。因痰飲者，用二陳湯加枳殼，桔梗治之；因感冒風寒者，用桔梗湯，即紫蘇葉，桔梗，麻黃，桑白皮，杏仁，赤茯苓，天冬，百合，川貝母，前胡也。若久嗽，屬陰虛，宜滋陰潤肺以清潤之，用麥味地黃湯治之。
六味地黃湯（方見首卷）
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：轉胞證治
舉胎四物湯　阿膠五苓散
條文：016
飲食如常煩不臥，不得小便轉胞稱，舉胎救急丹溪法，四物升麻參朮陳。服後探吐吐再服，不應阿膠入五苓。
【註】
妊娠胎壓，胞系了戾不得小便，飲食如常，心煩不得臥者，名曰轉胞。宜用丹溪舉胎法：令穩婆香油塗手舉胎起，則尿自出，以暫救其急。然後以四物湯加升麻，人參，白朮，陳皮煎服。服後以指探吐，吐後再服再吐，如此三，四次，則胎舉而小便利矣。如不應，則是有飲，用五苓散加阿膠以清利之。
四物湯（方見首卷）
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：子淋證治
加味五淋散
條文：017
子淋頻濁窘澀疼，五淋梔苓歸芍芩，甘草再加生地澤，車前滑石木通尋。
【註】
孕婦小便頻數窘澀，點滴疼痛，名曰子淋，宜五淋散，即黑梔，赤茯苓，當歸，白芍，黃芩，甘草，加生地，澤瀉，車前子，滑石，木通，以清熱而利水，則小便自通矣。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：激經胎漏尿血總括
條文：018
妊娠經來名激經，胎漏下血腹不疼，若是傷胎腹必痛，尿血漏血要分明。
【註】
婦人受孕之後，仍復行經者，名曰激經，為血有餘。若孕婦無故下血，或下黃汁豆汁而腹不痛者，謂之胎漏。若其胎已傷而下血者，其腹必疼。孕婦又有尿血一證，腹亦不痛，然與胎漏之證又不同。蓋尿血出於溺孔，漏血出自人門，三者俱下血，而各不同治者，不可不詳辨也。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：激經胎漏尿血證治
阿膠湯　黃耆湯　銀苧酒　加味四物湯
條文：019
激經無病不須治，子大能食經自停，胎漏下血多因熱，四物阿膠梔側芩。或下黃汁豆汁樣，黃耆糯米苧根銀，若是尿血膀胱熱，四物血餘共茅根。
【註】
激經無他證相兼者，不須用藥，其胎壯子大能食其血，而經自停。若胎漏下血，多屬血熱，宜阿膠湯清之。其方即四物湯加阿膠，黑梔，側柏葉，黃芩也。或漏下黃汁，或如豆汁甚多者，其胎乾枯必倚而墮，宜用黃耆湯，即黃耆二兩，糯米一合煎服。或銀苧酒，即苧麻根，紋銀煎酒服。若尿血，則是膀胱血熱，宜四物湯加血餘，白茅根以涼之。
四物湯（方見首卷）
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：胎不安小產墮胎總括
條文：020
氣血充實胎自安，衝任虛弱損胎原，暴怒房勞傷肝腎，疾病相干跌撲顛。五月成形名小產，未成形像墮胎言，無故至期數小產，須慎胎為慾火煎。
【註】
孕婦氣血充足，形體壯實，則胎氣安固。若衝，任二經虛損，則胎不成實。或因暴怒傷肝，房勞傷腎，則胎氣不固，易致不安；或受孕之後，患生他疾，干犯胎氣，致胎不安者亦有之；或因跌撲築磕，從高墜下，以致傷胎，墮胎者亦有之。然小產，墮胎，亦自有別：五，七月已成形像者，名為小產，三月未成形像者，謂之墮胎。以上小產，墮胎皆出有因，若懷胎三，五，七月，無故而胎自墮，至下次受孕亦復如是，數數墮胎，則謂之滑胎。多因房勞太過，慾火煎熬，其胎因而不安，不可不慎者也。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：胎不安小產墮胎證治
加味聖愈湯　加味佛手散　十聖散　加味芎藭湯　益母丸
條文：021
胎傷腹痛血未下，聖愈湯加杜續砂，下血腹痛佛手散，膠艾杜續朮芩加。十全續縮減苓桂，因病傷胎十聖誇，跌撲芎藭調益母，怒勞逍遙地黃佳。
【註】
妊娠胎傷，若腹痛不下血者，宜用聖愈湯加杜仲，續斷，砂仁安之。若下血腹痛者，宜用佛手散加阿膠，蘄艾，杜仲，續斷，白朮，條芩安之。若因母病，以致傷胎欲墮者，宜十聖散，即十全大補湯減茯苓，肉桂，加續斷，砂仁。若因跌撲築磕，傷胎欲墮者，宜芎藭湯調益母丸服之。芎藭湯即川芎，當歸也。若暴怒，房勞傷肝腎，以致胎動不安者，宜逍遙散，地黃湯治之。
聖愈湯
佛手散
逍遙散
地黃湯（方俱見首卷）
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：墮胎下血不止血瘀不出證治
獨參湯　回生丹
條文：022
墮胎暴下血不止，面黃唇白獨參湯，惡血不出凝脹痛，回生益母酌相當。
【註】
妊娠胎墮後，血暴下不止，面黃唇白者，名脫榮，宜用獨參湯峻補其氣，以生其血，所謂無形能生有形也。若惡血瘀滯不行，腹脅脹痛者，宜於回生丹，益母丸，酌其虛實緩急相當而用之。
回生丹（見產後彙方）
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：子死腹中總括
條文：023
子死腹中須急下，舌青腹痛冷如冰，時久口中穢氣出，寒熱峻緩詳斟平。
【註】
凡一應傷胎，子死腹中者，須當急下，勿使上奔心胸。然必驗其舌青面赤，肚腹脹大，腹冷如冰，久之口中有穢氣出者，方可議下。然猶必審其人之虛實寒熱，或宜寒下，熱下，峻下，緩下，隨其宜而施之。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：子死腹中證治
佛手散　平胃散加芒硝方
條文：024
下胎緩劑佛手散，峻劑平胃加芒硝，宜熱宜寒須細審，產婦虛實莫溷淆。
【註】
孕婦子死腹中，宜下者，緩下用佛手散，峻下用平胃散加芒硝。或宜寒下，或宜熱下，須細細詳審而投之。蓋以產母之虛實，或緩，或峻，不可溷淆輕率，以致誤也。
佛手散（方見首卷）
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：辨子母存亡
條文：025
妊娠一切垂危後，母子存亡可預推，面赤舌青必子死，面青舌赤母命危，面舌俱青口吐沫，子母俱亡二命虧。
【註】
凡妊娠一切凶危之候，欲知母子存亡者，當於孕婦面，舌之色定之。若面赤舌青，則其子必死；面青舌赤，則其母必亡；若面舌二者俱見青色，口角兩邊流涎沫者，則子母二命俱不能保也。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：胎兼癥瘕
條文：026
妊娠有病當攻下，衰其大半而止之，經云有故而無殞，與病適當又何疑。
【註】
凡孕婦素有癥瘕舊疾，或有新病應攻下者，但攻其大半，餘俟其自消，不可盡攻。經云：有故無殞。言藥雖峻，有病則病受之，不能傷胎也。攻其大半，與病相當，又何疑於有妊必不可攻之說耶？
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：胎不長證治
八珍湯　六君子湯
條文：027
胎萎不長失滋養，氣血不足宜八珍，脾虛胃弱六君子，穀化精微氣血生。
【註】
妊娠五，六個月，胎萎不長，由於妊母稟賦虛弱。若屬氣血兩虛者，宜用八珍湯；若脾虛胃弱者，宜用六君子湯。但使飲食強壯，俾水穀運化精微，則氣血日生而胎自長矣！
八珍湯
六君子湯（方俱見首卷）
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：子瘖證治
條文：028
子瘖聲啞細無音，非謂絕然無語聲，九月胎盛阻其脈，分娩之後自然通。
【註】
妊娠九月，孕婦聲音細啞不響，謂之子瘖。非似子啞，絕然無語也。蓋少陰之脈絡於舌本，九月腎脈養胎，至其時胎盛阻遏其脈，不能上至舌本，故聲音細啞。待分娩之後，腎脈上通，其音自出矣。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：子啼腹內鐘鳴證治
黃連煎
條文：029
腹內鐘鳴與兒哭，子啼之證出偶然，空房鼠穴土能治，黃連煎湯亦可捐。
【註】
孕婦腹內有鐘聲，或嬰兒在內啼哭者，名曰子啼。古書雖載其證，然不輕見，或偶然有之。古方用空房中鼠穴土，同川黃連煎湯，名黃連煎，飲之自癒。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：臟燥證治
甘麥大棗湯
條文：030
臟燥無故自悲傷，象若神靈大棗湯，甘草小麥與大棗，方出金匱效非常。
【註】
孕婦無故，時時傷悲哀痛，象若神靈憑依者，名曰臟燥，宜用金匱甘麥大棗湯服之。其方即甘草，小麥，大棗三味，煎服，其效非常也。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：鬼胎總括
條文：031
邪思情感鬼胎生，腹大如同懷子形，豈緣鬼神能交接，自身血氣結而成。
【註】
鬼胎者，因其人思想不遂，情志相感，自身氣血凝結而成，其腹漸大如懷子形狀。古云實有鬼神交接，其說似屬無據。婦人石瘕，腸覃二證，亦俱如懷孕之狀，由氣血凝結而成，則可知其必無是理矣！
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：腸覃石瘕證治
香棱丸
條文：032
腸覃石瘕氣血分，寒客腸外客子門，二證俱如懷子狀，辨在經行經不行。石瘕吳萸湯最效，腸覃香棱丸若神，丁木茴香川楝子，青皮廣茂與三棱。
【註】
經云：寒氣客於腸外，與衛氣相搏，氣不得榮，因有所繫，瘕而內著，惡氣乃起，瘜肉乃生，始如雞卵，稍以益大如懷子狀，按之則堅，推之則移，月事以時下。石瘕生於胞中，寒氣客於子門，子門閉塞，氣不得通，惡血當下不下，衄以留止，日以益大，狀如懷子，月事不以時下，皆生於女子，可導而下。
由經文觀之，二證雖皆如懷子狀，腸覃氣病而血不病，故月事以時下；石瘕先氣病而後血病，故月事不來也，石瘕宜吳萸湯。腸覃宜香棱丸，即木香，丁香，茴香，川楝子，青皮，廣茂，三稜，醋煮麵糊為丸也。
吳茱萸湯（方見首卷）
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：胎前母子盛衰
條文：033
母盛子衰胎前病，母衰子盛產後殃，子母平和無衰盛，坦然分娩不須忙。
【註】
此言觀孕婦與所懷之胎，有盛衰之辨也。若娠母氣血壯盛，而胎元弱者，胎前必多病；若孕婦衰弱而胎元壯實，則產後其母必多病；若子母俱和平無偏盛偏衰，則胎前產後均平安無疾，可坦然無憂也。
</pre>
<pre data-sec="p">
分類：胎前諸證門
篇名：胎前母子盛衰
條文：034
胎前有餘詳不足，產後不足審有餘，產後惟多虧損病，胎前子母盛衰知。
【註】
古云：胎前無不足，產後無有餘，此言其常也。然胎前雖多有餘之證，亦當詳察其亦有不足之時；產後雖多不足之病，亦當詳審其每挾有餘之證也。欲知產後常多虧損之故，於胎前子母盛衰求之，可預知也。
</pre>
<pre data-sec="p">
胎前門彙方
01保生湯
人參　甘草各二錢半　白朮　香附子　烏藥　橘紅各五錢
以上剉，每服三錢。薑五片，煎服。
</pre>
<pre data-sec="p">
胎前門彙方
02加味六君湯
人參　白朮（土炒）　茯苓　陳皮　半夏（製）各一錢五分　甘草（炙）五分　藿香葉　枇杷葉（炙）各一錢　縮砂仁　枳殼（炒）各八分
以上剉，加生薑煎服。
</pre>
<pre data-sec="p">
胎前門彙方
03加味溫膽湯
陳皮　半夏（製）　茯苓各一錢　甘草（炙）五分　枳實　竹茹　黃芩各一錢　黃連八分　麥冬二錢　蘆根一錢
以上剉，薑，棗煎服。
</pre>
<pre data-sec="p">
胎前門彙方
04加味平胃散
厚朴（薑汁炒）　蒼朮（米泔浸炒）　陳皮　甘草（炙）　人參各一錢
以上為末，每服三錢　加薑煎服。
</pre>
<pre data-sec="p">
胎前門彙方
05延胡四物湯
當歸　川芎　白芍　熟地各七錢五分　延胡索（酒煮）二兩
以上剉，水煎服。
</pre>
<pre data-sec="p">
胎前門彙方
06加味膠艾四物湯
當歸　熟地　阿膠　白芍各二錢　杜仲一錢五分　川芎　蘄艾各八分
以上加蔥白三寸，大豆淋酒煎服。
</pre>
<pre data-sec="p">
胎前門彙方
07蜜硝煎
蜂蜜　芒硝
上煎，溶化服。
</pre>
<pre data-sec="p">
胎前門彙方
08加味芎歸飲
川芎二錢　當歸五錢　人參一錢　吳茱萸五分　阿膠二錢　蘄艾八分　甘草（炙）五分
以上剉，水煎服。
</pre>
<pre data-sec="p">
胎前門彙方
09導赤散
生地三錢　木通二錢　甘草梢一錢
燈心一團，煎服。
</pre>
<pre data-sec="p">
胎前門彙方
10五苓散
白朮（土炒）　茯苓　豬苓　澤瀉各二錢半　肉桂三分
以上剉，作一服，水煎服。
</pre>
<pre data-sec="p">
胎前門彙方
11茯苓導水湯
茯苓　檳榔　豬苓　縮砂　木香　陳皮　澤瀉　白朮　木瓜　大腹皮　桑白皮　蘇梗各等分
以上加薑煎服。
脹，加枳殼。
喘，加苦葶藶子。
腿腳腫，加防己。
</pre>
<pre data-sec="p">
胎前門彙方
12知母飲
知母　麥冬　甘草各五錢　黃耆　子芩　赤苓各七錢五分
以上㕮咀，每服四錢。水一盞，煎至七分，去滓，入竹瀝一合溫服。
</pre>
<pre data-sec="p">
胎前門彙方
13紫蘇飲
當歸　川芎　白芍（各二兩）　陳皮　蘇莖葉　大腹皮（各一兩）　甘草（炙，五錢）　人參（量虛實用）
以上㕮咀，每服五錢。水二盞，生薑五片，煎至一盞，去滓服，日進二服。
有熱，加黃芩竹茹。
心煩，加羚羊角。
有食，加神麴，山查。
</pre>
<pre data-sec="p">
胎前門彙方
14羚羊角散
羚羊角（鎊）　獨活　酸棗仁　五加皮　防風　薏苡仁　杏仁　當歸（酒浸）　川芎　茯神（去木）各五分　甘草　木香各二分
以上㕮咀，加生薑五片，水煎服。
</pre>
<pre data-sec="p">
胎前門彙方
15鈎藤湯
釣藤鈎　當歸　茯神　人參（各一兩）　苦桔梗（一兩五錢）　桑寄生（五錢）
以上為粗末，每服五，六錢。水二盞，煎至一盞，去滓溫服，無時。忌豬肉，菘菜。
煩熱，加石膏二兩半。
臨產月，加桂心一兩。
</pre>
<pre data-sec="p">
胎前門彙方
16枳桔二陳湯
陳皮　半夏　茯苓各二錢　甘草（炙）五分　枳殼　桔梗各一錢
以上剉末，加生薑水煎服。
</pre>
<pre data-sec="p">
胎前門彙方
17桔梗湯
天冬（去心）　赤苓（各一錢）　桑皮　桔梗　紫蘇（各五分）　麻黃（去節，三分）　貝母　人參　甘草（炙，各二分）
以上剉，加生薑，水煎服。
一方有杏仁無貝母。
</pre>
<pre data-sec="p">
胎前門彙方
18舉胎四物湯
當歸　白芍　熟地　川芎　人參　白朮各二錢　陳皮　升麻各一錢
以上剉，水煎服。
</pre>
<pre data-sec="p">
胎前門彙方
19麥味地黃湯
熟地四錢　山萸肉二錢　山藥二錢　澤瀉　茯苓　丹皮各一錢五分　麥冬二錢　五味子十二粒
以上剉，水煎服。
</pre>
<pre data-sec="p">
胎前門彙方
20五淋散
赤芍　山梔子各二錢　赤茯苓一錢二分　當歸一錢　子芩六分　甘草五分
以上水煎服。
</pre>
<pre data-sec="p">
胎前門彙方
21阿膠湯
阿膠（炙燥）　熟地（焙）　艾葉（微炒）　芎藭　當歸（切，焙）　杜仲（去粗皮，炙，剉）　白朮各一兩
以上㕮咀，每服四錢水一盞半，棗三枚，擘破，同煎至八分，去滓，食前溫服。
</pre>
<pre data-sec="p">
胎前門彙方
22黃耆湯
糯米一合　黃耆二兩　川芎一兩
以上細剉，水二大盞，煎至一盞，溫服一方無川芎。
</pre>
<pre data-sec="p">
胎前門彙方
23銀苧酒
苧麻根（剉）二兩　紋銀五兩　清酒一盞
以上以水二大盞，煎至一大盞，去渣，分溫二服。
</pre>
<pre data-sec="p">
胎前門彙方
24十聖散
人參　黃耆　白朮　熟地黃　砂仁各五分　甘草（炙）　當歸　川芎　白芍（炒）各一錢　川續斷八分
以上剉，水煎服。
</pre>
<pre data-sec="p">
胎前門彙方
25獨參湯
用好人參二兩或四兩
以上水煎，徐徐服。
</pre>
<pre data-sec="p">
胎前門彙方
26益母丸
益母草（五月五日，或六月六日採之，陰乾，忌鐵器）
以上一味，以石器碾為細末，煉蜜丸彈子大。
每用一丸，童便好酒各半，研化服之。
</pre>
<pre data-sec="p">
胎前門彙方
27六味地黃丸
熟地（蒸曬九次）八兩　山藥四兩　茯苓（乳拌）三兩　山萸肉（酒浸）四兩　丹皮三兩　澤瀉三兩
煉蜜為丸，如梧桐子大，每服三錢。
</pre>
<pre data-sec="p">
胎前門彙方
28桂附地黃丸
即六味地黃丸加肉桂，附子。
</pre>
<pre data-sec="p">
胎前門彙方
29黃連煎
黃連
以上一味煎湯，調空房中鼠穴內土服。
</pre>
<pre data-sec="p">
胎前門彙方
30甘麥大棗湯
甘草三兩　小麥一升　大棗十枚
以上以水六升，煮取三升，溫分三服亦補脾氣。
</pre>
<pre data-sec="p">
胎前門彙方
31香棱丸
木香　丁香各半兩　枳殼（麩炒）　三棱（酒浸一夕）　莪朮（細剉，每一兩用巴豆三十粒去殼同炒，待巴豆黃色，去巴豆不用）　青皮（炙）　川楝子肉　蘹香（炒）各等分
上為末，醋煮，麵糊丸如桐子大，朱砂為衣。每服三十丸，薑鹽湯送下，或溫酒下，無時。
</pre>
<pre data-sec="p">
分類：生育門
篇名：臨產
條文：001
妊娠臨產要安詳，腹內雖疼切莫慌，舒身仰臥容胎轉，靜待生時不用忙。
【註】
妊娠月足臨產，腹內如覺動轉疼痛，須要安詳，莫自慌亂，舒體仰臥，時時緩步，使兒身轉正，靜以待之，至其生育之時，自然順生，不用忙也。
</pre>
<pre data-sec="p">
分類：生育門
篇名：產室
條文：002
產室寒溫要適時，嚴寒酷熱總非宜，夏要清涼冬要暖，病者醫人俱要知。
【註】
產室之內，四時俱要寒溫適中，若太熱，太寒，均不相宜。夏月必須清涼，勿令炎熱，致產母中暑暈迷。倘有其事，不妨少與涼水以解之。冬月必須溫暖，勿令寒冷，以致血凝難產。當多備火爐，使產母腰背下身就火烘之。此臨產之家，及醫人，皆當知之者也。
</pre>
<pre data-sec="p">
分類：生育門
篇名：擇收生婆
條文：003
臨產穩婆須預擇，老成歷練又精明，無故莫教使手法，寬心寧耐待時生。
【註】
臨產之家必用收生婆，須預先擇老成歷練明白經事之人。無故切勿令其先使手法，如試水探漿等事，但囑令寬心寧耐，以待生時可也。
</pre>
<pre data-sec="p">
分類：生育門
篇名：驚生
條文：004
人語喧譁產母驚，心虛氣怯號驚生，急須止靜休嘈雜，產母心安胎自寧。
【註】
產房之內不可多人，人多則語聲喧譁，產母之心必驚，驚則心氣虛怯，至產時多致困乏，號曰驚生。
有如此者，須急急摒出，只留服役一，二人，使寂靜而無嘈雜之聲，則母心始安，安則其胎亦寧靜矣。
</pre>
<pre data-sec="p">
分類：生育門
篇名：試胎弄胎
條文：005
月數未足腹中痛，痛定如常名試胎。臨月腹痛腰不痛，或作或止名弄胎。二者均非正產候，但須寧靜莫疑猜。
【註】
妊娠八，九個月時，或腹中痛，痛定仍然如常者，此名試胎，宜養血以安其胎。若月數已足，腹痛或作或止，腰不痛者，此名弄胎，不宜輕動。二者均非正產之時，切勿躁擾疑惑，惟宜寧靜以待其時。
</pre>
<pre data-sec="p">
分類：生育門
篇名：坐草
條文：006
坐草須知要及時，兒身未順且遲遲，若教產母用力早，逼胎不正悔難追。
【註】
凡產婦坐草，最要及時，不可太早。若兒身未順，寧可遲遲，寬心以待。倘坐草太早，非正產之時，妄使產母用力，往往逼胎不正，遂至橫倒者有之，雖悔無及矣！
</pre>
<pre data-sec="p">
分類：生育門
篇名：臨盆
條文：007
兒身轉順頂當門，胞漿已破腹腰疼，中指跳動穀道挺，臨盆用力送兒生。
【註】
凡兒之生自有其時，時至則兒身轉順，頭頂正當產門，胞漿大來，腰重腹痛，穀道挺迸，產母中指中節或本節跳動，此方為正產之時，方可臨盆用力送兒，自順生矣！
</pre>
<pre data-sec="p">
分類：生育門
篇名：交骨不開
條文：008
交骨不開須細審，或因不足或初胎，總宜開骨通陰氣，佛手龜板婦髮灰。若因不足加參妙，一服能令骨立開。
【註】
產婦交骨不開，有因氣血不足者，有因初次胎產者，二者均宜用開骨散通其陰氣。其方即佛手散加敗龜板，與生過子女婦人頭髮也。氣血不足者，加人參，服之可使其骨立開。
</pre>
<pre data-sec="p">
分類：生育門
篇名：盤腸生
條文：009
盤腸未產腸先出，已產嬰兒腸不收，頂貼萆麻服升補，腸乾潤以奶酥油。
【註】
妊娠婦人有盤腸生者，臨產之時其腸先拖出，及兒已產下，其腸有仍不收者，須以萆麻仁搗爛貼於頂心，內服升補之劑，如補中益氣湯或八珍、十全大補等湯加升麻，以升補之，其腸自收矣。
補中益氣湯
十全大補湯（方俱見首卷）
</pre>
<pre data-sec="p">
分類：生育門
篇名：難產
條文：010
難產之由不一端，胎前安逸過貪眠，驚恐氣怯用力早，胞破血壅血漿乾。
【註】
妊娠難產之由，非只一端。或胎前喜安逸不耐勞碌，或過貪眠睡，皆令氣滯難產；或臨產驚恐氣怯，或用力太早，則產母困乏難產；或胞傷血出，血壅產路；或胞漿破早，漿血乾枯，皆足以致難產。臨證之工，不可不審也。
</pre>
<pre data-sec="p">
分類：產後門
篇名：胞衣不下證治
條文：001
胞衣不下因初產，用力勞乏風冷凝，下血過多產路澀，血入胞衣腹脹疼。急服奪命沒竭散，勿使衝心喘滿生，諭令穩婆隨胎取，休驚產母莫教聞。
【註】
產婦胞衣不下者，或因初產用力困乏，風冷相干致血瘀凝；或因下血過多，血枯產路乾澀，或血入胞衣，脹滿疼痛，皆能使胞衣不下。均當急用奪命散，即沒藥，血竭二味為散也。免致上攻心胸，脹滿喘急，為害不小。且宜諭令穩婆隨胎取下，莫使產母聞之，恐被驚則愈難下也。
</pre>
<pre data-sec="p">
分類：產後門
篇名：產門不閉證治
條文：002
產門不閉由不足，初產因傷必腫疼，不足十全大補治，甘草湯洗腫傷平。
【註】
凡產後玉門不閉者，多由氣血不足所致。亦有因初產傷重者，必腫而疼也。氣血不足者，用十全大補湯治之；因傷腫痛者，濃煎甘草湯洗之，其腫傷自平。
十全大補湯（方見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：血暈證治
清魂散
條文：003
產後血暈惡露少，面唇色赤是停瘀，惡露去多唇面白，乃屬血脫不須疑。虛用清魂荊芥穗，人參芎草澤蘭隨，腹痛停瘀佛手散，醋漆熏法總相宜。
【註】
產後血暈，有因惡露去少，內有停瘀上攻迷暈者，面唇必赤色；有因去血過多，血脫而暈者，面唇必色白。血虛者宜用清魂散，即荊芥穗，人參，川芎，甘草，澤蘭葉也。若停瘀腹痛者，用佛手散。
二者俱宜頻燒乾漆及用火燒鐵釘淬醋，不時燻之。
佛手散（方見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：惡露不下證治
條文：004
惡露不下是何因？風冷氣滯血瘀凝，若還不下因無血，面色黃白不脹疼，風冷血凝失笑散，去多聖愈補而行。
【註】
產後惡露不下，有因風冷相干，氣滯血凝而不行者，必腹中脹痛；有因產時去血太多，無血不行者，面色必黃白，腹心不疼，以此辨之。血凝者，用失笑散逐而行之；無血者，用聖愈湯補而行之。
失笑散
聖愈湯（方俱見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：惡露不絕證治
條文：005
惡露不絕傷任衝，不固時時淋漓行，或因虛損血不攝，或因瘀血腹中停。審色污淡臭腥穢，虛補實攻要辨明，虛用十全加膠續，瘀宜佛手補而行。
【註】
產後惡露，乃裹兒污血，產時當隨胎而下。若日久不斷，時時淋漓者，或因衝任虛損，血不收攝；或因瘀行不盡，停留腹內，隨化隨行者。當審其血之色，或污濁不明，或淺淡不鮮，或臭，或腥，或穢，辨其為實，為虛，而攻補之。虛宜十全大補湯加阿膠，續斷，以補而固之。瘀宜佛手散，以補而行之。
十全大補湯
佛手散（方俱見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：頭疼證治
條文：006
產後頭疼面黃白，無表無裡血虛疼，惡露不行兼腹痛，必因瘀血上攻衝，逐瘀芎歸湯最效，虛用八珍加蔓荊。
【註】
產後頭痛，若面色黃白，無寒熱身痛之表證，又無便秘之裡證，則是因產後去血過多，血虛頭痛也。若惡露不行，兼腹痛者，乃屬瘀血上攻之痛也。去瘀以芎歸湯，補虛以八珍湯加蔓荊子。
八珍湯（方見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：心胃痛證治
大巖蜜湯
條文：007
心痛厥逆爪青白，寒凝大巖蜜溫行，四物去芎加獨活，薑桂茱萸草遠辛。因食惡食多嘔吐，麴麥香砂入二陳，大便燥結小便赤，兼熱飲冷玉燭攻。
【註】
產後心胃痛，若四肢厥逆，爪甲青白，乃風冷寒凝，氣血滯澀，宜用大巖蜜湯溫以行之，即生地，當歸，赤芍，獨活，乾薑，桂心，吳茱萸，甘草，遠志，細辛也。若因飲食停滯，中脘作痛，必惡食嘔吐，宜二陳湯加神麴，麥芽，木香，砂仁。若大便結硬，小便赤澀，渴欲飲冷者，乃內有實熱也，宜玉燭散攻之。
玉燭散（方見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：腹痛證治
香桂散
條文：008
去血過多血虛痛，去少壅瘀有餘疼，傷食惡食多脹悶，寒入胞中見冷形。血虛當歸建中治，瘀壅失笑有奇功，傷食異功加查麴，胞寒香桂桂歸芎。
【註】
產後腹痛，若因去血過多而痛者，為血虛痛；若因惡露去少，及瘀血壅滯而痛者，為有餘疼；若因傷食而痛者，必惡食脹悶；若因風寒乘虛入於胞中作痛者，必見冷痛形狀。血虛宜當歸建中湯；血瘀宜失笑散，傷食宜異功散加山查，神麴；胞寒宜香桂散，即佛手散加桂心也。
當歸建中湯
失笑散
異功散（方俱見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：少腹痛證治
延胡索散
條文：009
少腹痛微名兒枕，硬痛尿利血瘀疼，尿澀淋痛蓄水證，紅腫須防㿉疝癃。兒枕瘀血延胡散，歸芍蒲桂琥珀紅，蓄水須用五苓散，㿉疝吳萸溫散行。
【註】
產後少腹痛，其痛若微，乃產時血塊未淨，名兒枕痛。若少腹堅硬，小便利者，為瘀血痛；少腹硬而小便不利，淋澀脹痛者，乃蓄水作痛；若堅硬紅腫而痛者，須防成㿉、疝、癃之證。因兒枕瘀血者，宜延胡索散，即當歸，赤芍，蒲黃，肉桂，琥珀，紅花也。因水蓄者，宜五苓散。若將成㿉、疝、癃者，當以吳茱萸湯溫散之。
吳茱萸湯（方見首卷）
五苓散（方見三卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：脅痛證治
條文：010
脅痛瘀滯犯肝經，左血右氣要分明，血用延胡散可治，氣宜四君加柴青，去血過多屬虛痛，八珍加桂補其榮。
【註】
產後脅痛，因氣血瘀滯，干犯肝經。在左多屬血，在右多屬氣。血宜延胡索散，氣宜四君子湯加柴胡、青皮，若因去血過多而痛者，為虛痛，宜八珍湯加肉桂，以補其榮血自癒。
四君子湯
八珍湯（方俱見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：腰痛證治
條文：011
腰疼下注兩股痛，風冷停瘀滯在經，佛手散加獨活桂，續斷牛膝桑寄生，血多三陰傷氣血，地黃桂附續杜尋。
【註】
產後腰疼下注兩股皆痛者，乃產時風冷乘之，瘀血滯於肝經，宜用佛手散加獨活，肉桂，續斷，牛膝，防風，桑寄生，以溫散而行之。若因去血過多，三陰經氣虧損者，則當用六味地黃湯加肉桂，附子，續斷，杜仲，以溫補之。
佛手散
六味地黃湯（方俱見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：遍身疼痛證治
趁痛散
條文：012
產後身疼榮不足，若因客感表先形，趁痛散用歸耆朮，牛膝甘獨薤桂心，血瘀面唇多紫脹，四物秦艽桃沒紅。
【註】
產後遍身疼痛，多因去血過多，榮血不足，或因風寒外客，必有表證。二者俱宜用趁痛散，即當歸，黃耆，白朮，牛膝，甘草，獨活，薤白，桂心也。若面唇紫色身脹痛者，必是停瘀所致，宜用四物湯，加秦艽，桃仁，沒藥，紅花以行之。
四物湯（方見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：腹中塊痛證治
條文：013
產後積血塊衝疼，多因新產冷風乘，急服延胡散可逐，日久不散血瘕成。更有寒疝亦作痛，吳萸溫散不須攻。
【註】
產後腹中有塊，堅硬攻痛，多因新產之後，風冷乘虛而入，以致瘀血凝結，宜服延胡索散以逐之。若遲久不散，必結成血瘕矣。又有寒疝之證，亦在少腹中攻築而痛，此屬寒氣滯澀，宜用吳茱萸湯，溫散其寒自癒，不必攻也。
吳茱萸湯（方見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：筋攣證治
條文：014
產後筋攣雞爪風，血虧液損復乘風，無汗養榮兼散邪，四物柴瓜桂鈎藤，有汗八珍加桂枝，黃耆阿膠大補榮。
【註】
產後筋脈拘攣疼痛，不能舒展，俗名雞爪風。皆由產後血液虧損，不能榮筋，又被風乘，故令拘攣疼痛也。無汗者，宜於養榮之中兼祛外邪，用四物湯加柴胡，木瓜，桂枝，鈎藤。若有汗者，宜八珍湯加桂枝，黃耆，阿膠，以大補其榮血可也。
四物湯
八珍湯（方俱見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：傷食嘔吐證治
條文：015
產後傷食心下悶，惡食嘈雜吞吐酸，六君查麴香砂共，嘔逆痰涎二陳煎。
【註】
產後過食肉麵，傷於飲食者，必心胸飽悶，惡聞食氣，懊憹嘈雜，吞酸吐酸，宜用六君湯加山查，神麴，香附，縮砂，以補而消之。若更嘔逆痰涎，必是兼痰，兼飲，宜二陳湯加減調治。
六君子湯（見首卷）
二陳湯（見三卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：呃逆證治
丁香豆寇散　茹橘飲
條文：016
產後呃逆胃虛寒，丁香白寇伏龍肝，桃仁吳萸湯沖服，不應急將參附添，熱渴面紅小便赤，竹茹乾柿橘紅煎。
【註】
產後呃逆，皆因氣血兩傷，脾胃虛寒，中焦之氣厥而不順所致，宜服丁香豆蔻散，即丁香，白豆蔻，伏龍肝，為末也，用桃仁，吳茱萸，煎湯沖服。如不效，當以參附湯峻補之。若發熱面紅，小便赤色，屬熱實者，宜用竹茹，乾柿，橘紅，煎服之，名茹橘飲。
</pre>
<pre data-sec="p">
分類：產後門
篇名：氣喘證治
二味參蘇飲
條文：017
產後氣喘為危候，血脫氣散參附煎，敗血上攻面紫黑，二味參蘇奪命痊。
【註】
產後氣喘，極危證也。因下血過多，榮血暴竭，衛氣無倚，孤陽上越，宜驟補其氣，用參，附煎湯，不時飲之。若因惡露不行，敗血上攻於肺而喘者，必面色紫黑，宜奪命散下瘀，瘀去喘自定。虛者參蘇飲，即人參一兩為末，蘇木二兩煎湯，沖服也。
</pre>
<pre data-sec="p">
分類：產後門
篇名：浮腫證治
枳朮湯　小調中湯
條文：018
產後腫分氣水血，輕浮脹滿氣之形，水腫喘嗽小便澀，皮如熟李血之情。氣腫枳朮湯最效，水腫茯苓導水靈，血腫調中歸芍朮，茯陳煎沖小調經。歸芍珀麝辛桂沒，理氣調榮瘀血行。
【註】
產後浮腫，由於敗血乘虛流入經絡，血化為水，故令浮腫。然有氣腫，水腫之別，不可不辨也。若輕虛浮腫，心胸脹滿者，因素有水飲所作，名曰氣分也，宜用枳朮湯，即枳實，白朮，煎湯服之；若喘嗽小便不利者，則為水腫，宜茯苓導水湯利之；若皮如熟李，或遍身青腫者，則為血分，宜小調中湯治之。其方即當歸，白芍藥，白朮，茯苓，陳皮，煎湯，沖小調經散服之，即當歸，赤芍，琥珀，麝香，細辛，肉桂心，沒藥也。
茯苓導水湯（方見三卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：發熱總括
條文：019
產後發熱不一端，內傷飲食外風寒，瘀血血虛與勞力，三朝蒸乳亦當然，陰虛血脫陽外散，攻補溫涼細細參。
【註】
產後發熱之故，非止一端。如食飲太過，胸滿嘔吐惡食者，則為傷食發熱；若早起勞動，感受風寒，則為外感發熱；若惡露不去，瘀血停留，則為瘀血發熱；若去血過多，陰血不足，則為血虛發熱。亦有因產時傷力，勞乏發熱者，三日蒸乳發熱者。當詳其有餘不足，或攻，或補，或用涼藥正治，或用溫熱反治，要在臨證細細參考也。
</pre>
<pre data-sec="p">
分類：產後門
篇名：發熱證治
加味四物湯　加味異功散　生化湯
條文：020
產後發熱多血傷，大法四物加炮薑，頭疼惡寒外感熱，四物柴胡蔥白良。嘔吐脹悶傷食氣，異功查麴厚朴薑，脾不化食六君子，瘀血腹痛生化湯，當歸川芎丹參共，桃仁紅花炮乾薑。
【註】
產後發熱，多因陰血暴傷，陽無所附，大法宜四物湯加炮薑，從陰引陽為正治。若頭疼惡寒而發熱者，屬外感，不當作傷寒治，惟宜用四物加柴胡，蔥白服之。若嘔吐脹悶，屬傷食；若倦怠氣乏者，屬傷氣，宜異功散加山查，神麴，厚朴，生薑治之。若因脾虛不能化食而停食發熱者，宜六君子湯。若因瘀血發熱者，必兼腹痛，宜用生化湯，即當歸，川芎，丹參，桃仁，紅花，薑炭也。
六君子湯
異功散
四物湯（方俱見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：發熱證治
十全大補湯　八珍湯　當歸補血湯　參附煎
條文：031
勞力發熱用十全，氣血兩虛八珍痊，血脫躁熱補血效，虛陽外越參附煎。
【註】
產後發熱，因產時用力勞乏者，宜十全大補湯；氣血兩虛者，八珍湯；去血過多，血脫煩躁乾渴，面赤而熱者，宜當歸補血湯。若陰血暴脫，孤陽無附而外越發熱者，急進參附湯。遲者必大汗大喘，是陽欲亡，雖藥必無救矣！
十全大補湯
八珍湯
當歸補血湯（方俱見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：寒熱總括
條文：022
寒熱往來遞更換，乍寒乍熱時熱寒，寒熱似瘧按時發，壯熱憎寒熱畏寒。
【註】
產後寒熱，名既不同，其證亦異，當先明辨之。如曰寒熱往來者，謂寒去熱來，熱去寒來，遞相更換也。曰乍寒乍熱者，謂有時寒有時熱，寒熱無定時也。曰寒熱似瘧者，謂或先寒後熱，或先熱後寒，一定不移，至其時而始作也。曰壯熱憎寒者，謂其身既壯熱，而復時時畏寒也。
</pre>
<pre data-sec="p">
分類：產後門
篇名：寒熱總括
條文：023
往來寒熱陰陽格，時熱時寒榮衛乘，寒熱似瘧瘀兼食，壯熱憎寒帶表推。
【註】
產後血氣虛損，陰陽不合，則寒熱往來；陰陽相乘，榮衛不調，則時寒時熱；敗血不散，飲食停滯，則寒熱似瘧；汗出遇風，則壯熱憎寒。有諸內，自形諸外，辨之既明，然後治無不癒矣。
</pre>
<pre data-sec="p">
分類：產後門
篇名：寒熱證治
條文：024
往來寒熱陰陽格，柴胡四物各半湯，榮衛不和乍寒熱，歸芍芎參甘草薑。寒熱似瘧瘀兼食，生化柴胡查麴良，憎寒壯熱更生散，歸地芎參荊穗薑。
【註】
產後陰陽不和，往來寒熱者，宜柴胡四物湯。若榮衛不調，乍寒乍熱者，用增損四物湯，其方即當歸，白芍，川芎，人參，甘草，乾薑也。若停瘀兼食寒熱似瘧者，用生化湯加柴胡，山查，神麴。若感受風寒，憎寒壯熱者，宜更生散，即當歸，熟地，川芎，人參，荊芥穗，乾薑也。
柴胡四物湯（方見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：自汗頭汗總括
條文：025
產後陰虛陽氣盛，微微自汗卻無妨，頭汗陰虛陽上越，周身大汗是亡陽。
【註】
產後血去過多則陰虛，陰虛則陽盛。若微微自汗，是榮衛調和，故雖汗無妨。若周身無汗，獨頭汗出者，乃陰虛陽氣上越之象也。若頭身俱大汗不止，則恐有亡陽之慮矣。
</pre>
<pre data-sec="p">
分類：產後門
篇名：自汗頭汗證治
當歸六黃湯　黃耆湯
條文：026
虛熱上蒸頭汗出，治用當歸六黃湯，黃芩連柏炒黑用，歸耆生熟二地黃。自汗黃耆湯牡蠣，耆朮苓甘麥地防，大汗不止陽外脫，大劑參附可回陽。
【註】
產後亡血陰虛，陽熱上蒸，頭上汗出至項而還者，宜當歸六黃湯，即黃連，黃芩，黃柏，當歸，黃耆，生地，熟地也。內芩，連，柏，三味俱炒黑用。
若自汗太甚，宜黃耆湯，即牡蠣粉，黃耆，白朮，茯苓，甘草，麥冬，熟地，防風也。若陰血大脫，孤陽外越，大汗不止，非大劑參附，不能回陽也。
</pre>
<pre data-sec="p">
分類：產後門
篇名：中風證治
條文：027
產後中風惟大補，火氣風痰末治之，十全大補為主劑，臨證詳參佐使宜。
【註】
產後氣血大虛，雖患中風，惟宜大補。即有火熱，風痰，氣閉，亦當末治。總以十全大補湯主之，臨證詳參其火氣，風痰，而佐使之。
十全大補湯（方見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：痙病證治
加味八珍湯
條文：028
新產血虛多汗出，易中風邪痙病成，口噤項強身反折，八珍耆附桂防風，搖頭氣促寒不止，兩手撮空莫望生。
【註】
產後血氣不足，臟腑皆虛多汗出，腠理不密，風邪乘虛襲入，遂成痙證。手三陽之筋結於頷頰，風入頷頰則口噤。陰陽經絡周環於身，風中經絡，則頭項，肩背強直，如角弓反張之狀，產後患此，皆屬虛象。惟宜用八珍湯加黃耆，附子，肉桂，大補其陰陽，少佐防風以治之。若見頭搖喘促汗出不止，兩手撮空者，則為真氣去，邪氣獨留，必死之候，故曰莫望生也。
八珍湯（方見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：瘛瘲抽搐證治
加味八珍湯
條文：029
陰血去多陽氣熾，筋無所養致抽搐，發熱惡寒煩又渴，八珍丹地鈎藤鈎，抽搐無力戴眼折，大汗不止命將休。
【註】
產後血去太多，陽氣熾盛，筋無所養，必致瘛瘲抽搐，發熱惡寒，心煩口渴，不宜作風治，惟當氣血兼補，用八珍湯加丹皮，生地，鈎藤鈎治之。若無力抽搐，戴眼反折，大汗不止者，則為不治之證，故曰命將休也。
八珍湯（方見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：不語證治
加味八珍湯　星連二陳湯　七珍散
條文：030
產後不語分虛實，痰熱乘心敗血衝，氣血兩虛神鬱冒，實少虛多要辨明。虛用八珍藤菖志，痰熱星連入二陳，敗血衝心七珍散，芎地辛防朱蒲參。
【註】
產後不語，須分虛實治之。有痰熱乘心者；有敗血衝心者；有氣血兩虛而鬱冒神昏者。大抵產後屬虛者多，而實者少也。虛宜八珍湯加鉤藤，菖蒲，遠志；痰熱宜二陳湯加膽星，黃連；敗血衝心宜七珍散，即川芎，生地，細辛，防風，朱砂，菖蒲，人參也。
八珍湯方（見首卷）
二陳湯（方見三卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：驚悸恍惚證治
茯神散　加味歸脾湯
條文：031
產後血虛心氣弱，驚悸恍惚不安寧，養心須用茯神散，參耆地芍桂茯神，琥珀龍齒歸牛膝，憂思歸脾砂齒靈。
【註】
產後血虛，心氣不守，神志怯弱，故令驚悸，恍惚不寧也。宜用茯神散，其方乃人參，黃耆，熟地，白芍，桂心，茯神，琥珀，龍齒，當歸，牛膝也。若因憂愁思慮，傷心脾者，宜歸脾湯加朱砂，龍齒治之。
歸脾湯方（見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：妄言見鬼發狂證治
妙香散
條文：032
產後譫狂見鬼神，敗血衝心小調經，心虛悶亂妙香散，二茯參耆遠志辰，甘桔木麝山藥末，歸地煎調效若神。
【註】
產後敗血衝心，狂亂見鬼，譫言妄語者，宜服小調經散。若因心血虛，神不守舍而悶亂者，則用妙香散，即茯苓，茯神，人參，黃耆，遠志，辰砂，甘草，桔梗，木香，麝香，山藥為散，以當歸，熟地煎湯，調服即癒，其效如神。
</pre>
<pre data-sec="p">
分類：產後門
篇名：虛煩證治
人參當歸湯
條文：033
產後血虛煩短氣，人參當歸湯最良，參麥歸芍熟地桂，瘀血衝心失笑方，去血過多煩躁甚，須用當歸補血湯。
【註】
產後血虛，心煩短氣者，宜人參當歸湯，即人參，麥冬，當歸，白芍，熟地，肉桂也。
若因敗血衝心者，宜服失笑散。若去血過多，煩而躁者，乃亡血證也，宜當歸補血湯。
當歸補血湯
失笑散（方俱見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：發渴證治
參麥飲　加味四物湯　竹葉歸耆湯
條文：034
氣虛津短參麥飲，血虛四物粉麥煎，渴甚竹葉歸耆效，參朮歸耆竹葉甘。
【註】
產後氣虛津液不足而渴者，宜參麥飲，即人參，麥冬，五味子也。血虛而渴者，宜四物湯加花粉，麥冬；若渴甚不解者，用竹葉歸耆湯，其方乃人參，白朮，當歸，黃耆，竹葉，甘草，煎服也。
四物湯（方見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：咳嗽證治
旋覆花湯　麥味地黃湯　加味佛手散
條文：035
產後咳嗽感風寒，旋覆花湯荊穗前，麻杏半苓赤芍藥，五味甘草棗薑煎。虛火上炎衝肺嗽，麥味六黃滋化源，瘀血入肺佛手散，加入桃紅杏貝延。
【註】
產後咳嗽，若因起動太早，感冒風寒者，用旋覆花湯，即荊芥穗，前胡，麻黃，杏仁，半夏，茯苓，赤芍藥，五味子，甘草，旋覆，棗，薑也。若因陰虛火炎，上爍肺金而嗽者，宜六味地黃加麥冬，五味子，名麥味地黃湯，滋其化源。若因瘀血上衝入肺而嗽者，宜佛手散，加桃仁，紅花，杏仁，川貝母，延胡索，以破其瘀，其嗽自癒。
六味地黃湯
佛手散（方俱見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：衄血證治
人參澤蘭葉湯
條文：036
產後口鼻黑而衄，胃絕肺敗藥難醫，參蘭丹膝生熟地，童便多沖冀萬一。
【註】
產後惡露不下，虛火載血上行，溢出鼻竅，不循經脈，變黑色見於口鼻，為熱極反兼水化，故曰胃絕肺敗，藥難醫也。或用人參澤蘭葉湯，即人參，澤蘭葉，丹皮，牛膝，生地，熟地煎湯，多沖童便飲之，間有得生者，然亦希冀於萬一者耳。
</pre>
<pre data-sec="p">
分類：產後門
篇名：痢證總括
條文：037
產後痢名產子痢，飲食生冷暑寒乾，裡急後重有餘病，日久滑脫不足看。赤黃稠黏多是熱，清徹鴨溏定屬寒，寒熱溫清調補澀，虛實新久要詳參。
【註】
產後痢者，名產子痢。多因飲食不調，貪食生冷，或起居不慎，衝寒受暑所致。若腹中㽲痛，裡急後重者，屬有餘之證；若日久虛寒滑脫者，屬不足之證。痢色黃赤稠黏，多屬於熱；清稀澄徹如鴨糞，則屬於寒。治之之法：熱者清之，寒者溫之，冷熱不和者調之，虛者補之，實者瀉之，虛實新久之間，宜細心詳參也。
</pre>
<pre data-sec="p">
分類：產後門
篇名：痢疾證治
槐連四物湯　芍藥湯　真人養藏湯
條文：038
熱痢槐連四物效，冷熱有餘芍藥湯，芍藥芩連歸木草，枳桂墜檳痛大黃。虛寒滑脫參朮桂，芍藥訶寇廣木香，甘草粟殼名養臟，日久十全大補湯。
【註】
熱者清之，故熱痢宜槐連四物湯，即四物湯加槐花，黃連，以清熱而堅腸也。冷熱不和者調之，故宜芍藥湯，即白芍藥，黃芩，黃連，當歸，木草，甘草，肉桂，檳榔。墜者倍加檳榔，痛加生大黃也。若虛寒滑脫，則宜溫補而固澀之，宜真人養臟湯，即人參，白朮，白芍藥，肉桂，肉豆蔻，訶子，木香，甘草，罌粟殼，同煎服也。若日久不止，氣血大虛，宜十全大補湯補之。
四物湯
十全大補湯（方俱見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：痢疾證治
人參敗毒散　香連丸　加味四物湯
條文：039
有表痢用敗毒散，羌獨枳梗共柴前，參苓芎草薑蔥引；暑濕成痢用香連，血滲大腸成血痢，四物膠榆餘鰂添。
【註】
外感風寒成痢者，宜人參敗毒散，即羌活，獨活，枳殼，桔梗，柴胡，前胡，人參，茯苓，川芎，甘草，薑，蔥引也。若因暑濕致痢，宜香連丸，即黃連，木香，為丸也。若敗血滲入大腸成血痢者，宜四物加阿膠，地榆，血餘，烏鰂魚骨服之。
四物湯（方見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：痢疾證治
瘧疾加味生化湯　加味二陳湯　藿香正氣湯
條文：040
產後瘧多因瘀血，榮衛不和熱寒兼，生化湯中加柴甲，痰食二陳查朴添。外感不正正氣散，陳半苓朮蘇朴甘，腹皮桔梗藿香芷，引加薑棗一同煎。
【註】
產後患瘧，多因瘀血停留，榮衛不和，故寒熱往來也。宜用生化湯加柴胡，鱉甲服之。若因痰飲食積者，宜二陳湯加山查厚朴。若果外感風寒，方可用霍香正氣散治之，其方即陳皮，半夏，茯苓，白朮，蘇葉，厚朴，甘草，大腹皮，桔梗，霍香，白芷也。
二陳湯方（見三卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：蓐勞虛羸總括
條文：041
產後失調氣血弱，風寒外客內停瘀，飲食過傷兼勞怒，不足之中挾有餘。寒熱往來臍腹痛，懶食多眠頭暈迷，骨蒸盜汗痰嗽喘，面黃肌瘦力難支，蓐勞先須調脾胃，後調榮衛補其虛。
【註】
產後氣血兩虛，起居不慎，風寒外襲，瘀血內停，更或飲食厚味過傷，憂勞忿怒，乃不足之中挾有餘之證。致生寒熱往來，臍腹脹痛，懶進飲食，喜眠臥，起則頭暈昏迷，骨蒸潮熱，盜汗，自汗，痰喘，咳嗽，面色萎黃，肌肉削瘦，氣力難支，名為蓐勞，醫治甚難。凡欲療斯疾者，必當先調理其脾胃，使飲食強健，能勝藥力，然後調其榮衛，補其虛損，始能痊癒。
</pre>
<pre data-sec="p">
分類：產後門
篇名：蓐勞虛羸證治
三合散
條文：042
扶脾益胃六君子，穀化精微氣血強，能食漸覺精神爽，調衛和榮三合良。八珍去朮小柴共，隨證加減效非常，病退虛羸補氣血，八珍十補養榮方。
【註】
產後蓐勞治法，當先扶脾益胃，宜六君子湯加減用之。使脾胃強壯，能食能消，則後天水穀之氣，化生精微，氣血自然壯盛，精神自然漸爽。然後調其衛氣，和其榮血，宜三合散，即八珍湯去白朮加小柴胡湯，乃人參，柴胡，黃芩，半夏，甘草也，隨證加減治之。如寒熱往來，臍腹脹痛，則去人參，黃芩，生地，加延胡，桃仁；如懶食，喜睡，頭眩，則去柴胡，加黃耆，縮砂，陳皮；如骨蒸，盜汗，自汗，則去川芎，柴胡，加鱉甲，地骨皮，牡蠣；如痰喘，咳嗽，則去人參，柴胡，加麥冬，川貝母，百合；如面黃肌瘦，乏力，則去柴胡，川芎，加黃耆，倍用人參，臨證消息之。服後如諸證已痊，惟覺虛嬴者，則以八珍，十全，養榮等方培補之。
六君子湯
八珍湯
十全大補湯
益氣養榮湯方（俱首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：血崩
加味十全大補湯　加味逍遙散
條文：043
產後亡血更血崩，血脫氣陷並非輕，十全大補膠升續，棗仁山萸薑炭尋。若因暴怒傷肝氣，逍遙梔地白茅根，瘀停少腹多脹痛，佛手失笑效如神。
【註】
產後陰血已亡，更患崩證，則是血脫氣陷，其病非輕，當峻補之。宜用十全大補湯加阿膠，升麻，續斷，棗仁，山萸，炮薑炭，以升補其脫陷可也。若因暴怒傷肝血妄行者，宜逍遙散加黑梔，生地，白茅根，以清之。若因內有停瘀者，必多小腹脹痛，當用佛手散，失笑散，以補而逐之。
十全大補湯
逍遙散
佛手散
失笑散（方俱見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：大便秘結
條文：044
產後去血亡津液，胃燥腸枯大便難，飲食如常無所苦，不須妄下損真元，量其虛實通利導，血旺津回聽自然。
【註】
產後去血過傷其津液，多致胃燥腸枯，故令大便秘結。若飲食如常，無脹滿之苦者，不宜輕下，反傷元氣。惟宜量其虛實，用諸導法，待血旺津回，大便自然順利也。
</pre>
<pre data-sec="p">
分類：產後門
篇名：小便淋閉
加味四物湯
條文：045
產後淋閉腹脹痛，熱邪挾血滲胞中，四物蒲瞿桃仁膝，滑石甘草木香通。
【註】
產後熱邪挾瘀血流滲胞中，多令小便淋閉，宜四物湯加蒲黃，瞿麥，桃仁，牛膝，滑石，甘草梢，木香，木通治之。
四物湯（方見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：小便頻數不禁淋瀝
黃耆當歸散　加味地黃湯
條文：046
產後小便數且白，腎虛不固自遺尿。因產傷胞多淋瀝，頻數補中益氣宜。胞傷黃耆當歸治，參耆朮芍草當歸，不禁六味加桂附，益智螵蛸補骨脂。
【註】
產後氣虛下陷，多令小便頻數而色白。腎虛不固，小便自遺。因產時穩婆不慎，傷其胞脬，多致小便淋瀝。氣虛頻數者，宜補中益氣湯升舉之。傷胞淋瀝者，宜黃耆當歸散補之，其方即黃耆，當歸，人參，白朮，白芍，甘草也，引用豬尿胞同煮服。腎虛遺尿不禁者，宜六味地黃湯加肉桂，附子，名桂附地黃湯，更加益智仁，桑螵蛸，補骨脂治之。
補中益氣湯
六味地黃湯（方俱見首卷）
</pre>
<pre data-sec="p">
篇名：大便出血
加味芩連四物湯
條文：047
產後便血大腸熱，四物芩連酒炒黑，地榆阿膠荊穗炒，蜜製升麻棕櫚灰。脾虛不攝歸脾效，氣虛下陷補中宜。
【註】
產後大便出血，有因大腸經熱者，宜芩連四物湯，黃芩，黃連俱酒炒黑用，更加地榆，阿膠，荊芥穗微炒，蜜製升麻，棕櫚皮灰治之。若因脾虛不能攝血者，宜歸脾湯。中氣下陷，補中益氣湯。
芩連四物湯
歸脾湯
補中益氣湯（方俱見首卷）
</pre>
<pre data-sec="p">
分類：產後門
篇名：敗血成癰
加味生化湯
條文：048
榮氣不從逆肉理，敗血留內發癰疽，只用生化加連翹，銀花甘草乳沒宜。切勿敗毒施過劑，致令潰腐必難醫。
【註】
產後氣血兩虛，榮氣不從，逆於肉理，或敗血留內結成癰疽者，只宜用生化湯加連翹，金銀花，甘草節，乳香，沒藥治之。切不可用寒涼敗毒之藥，恐潰後腐爛，必難醫治。
</pre>
<pre data-sec="p">
分類：產後門
篇名：產後虛實宜審
條文：049
震亨產後惟大補，從政莫作不足看，二說須合形證脈，攻補虛實仔細參。
【註】
朱震亨云：產後氣血兩虛，惟宜大補，雖有他證，以末治之。
張從政云：產後慎不可作諸虛不足治之。
二說各有偏處，當合形，證，脈三者細參，方不致誤。
</pre>
<pre data-sec="p">
產後門彙方
01開骨散
當歸五錢　龜板（醋炙，研）三錢　川芎二錢　婦人髮一團水煎服
</pre>
<pre data-sec="p">
產後門彙方
02奪命散
沒藥　血竭（各等分）
以上研為細末，才產下，便用童便細酒各半杯，煎一兩沸，調下二錢，良久再服其惡血自下行，便不衝上，免生百疾。
</pre>
<pre data-sec="p">
產後門彙方
03清魂散
澤蘭葉　人參（各二兩）　川芎（五錢）　荊芥穗（一兩）　甘草（炙，二錢）
以上為末用溫酒熱湯各半杯，調一錢灌之，下咽，眼即開，氣定即醒。
</pre>
<pre data-sec="p">
產後門彙方
04大巖蜜湯
當歸　熟地　白芍（各二錢）　乾薑　肉桂（各一錢）　吳茱萸　獨活　遠志（炙）　細辛　甘草（炙，各八分）
以上水煎服。
</pre>
<pre data-sec="p">
產後門彙方
05香桂散
當歸　肉桂　川芎（各等分）
上為末，酒調服。
</pre>
<pre data-sec="p">
產後門彙方
06延胡索散
當歸　赤芍　生蒲黃　桂心　琥珀　紅花　延胡索（各等分）
以上以好醋浸一宿，焙乾為末。每服二錢，酒調。
</pre>
<pre data-sec="p">
產後門彙方
07趂痛散
當歸　官桂　白朮　黃耆　獨活　牛膝　生薑（各五錢）　甘草（炙）　薤白（各三錢半）　桑寄生（五錢）
以上㕮咀，每服五錢，水煎服。
</pre>
<pre data-sec="p">
產後門彙方
08丁香豆蔻散
公丁香　白豆蔻仁　伏龍肝各等分
以上為末，生薑湯點服。
</pre>
<pre data-sec="p">
產後門彙方
09茹橘飲
竹茹　橘紅各三錢　乾柿一枚，水，薑煎服。
</pre>
<pre data-sec="p">
產後門彙方
10參附湯
人參一兩　附子（炮）五錢
以上作一服，薑，棗水煎，徐徐服。
去人參加黃耆，名耆附湯。
</pre>
<pre data-sec="p">
產後門彙方
11二味參蘇飲
人參（為末）一兩　蘇木二兩
以上以蘇木煎湯，沖人參末服。
</pre>
<pre data-sec="p">
產後門彙方
12枳朮湯
枳實（炒）二兩　白朮（土炒）二兩，水，薑煎服。
</pre>
<pre data-sec="p">
產後門彙方
13小調中湯
茯苓　當歸　白芍　陳皮各一錢　白朮一錢五分
以上作一劑，煎湯服
</pre>
<pre data-sec="p">
產後門彙方
14小調經散
白芍　當歸　沒藥　琥珀　桂心（各一錢）　細辛　麝香（各五分）
以上為細末，每服五分，薑汁、溫酒各少許調服。
</pre>
<pre data-sec="p">
產後門彙方
15更生散
當歸　川芎　人參　生地各二錢　荊芥穗三錢　乾薑（炮）八分，水煎服。
</pre>
<pre data-sec="p">
產後門彙方
16當歸六黃湯
當歸　熟地（自製）　黃耆（炙）各二錢　生地　黃柏（炒黑）　黃芩（炒黑）　黃連（炒黑）各一錢
以上水煎服。
</pre>
<pre data-sec="p">
產後門彙方
17黃耆湯
黃耆（炙）三錢　牡蠣粉二錢　白朮（土炒）二錢　茯苓一錢　麥冬二錢　熟地三錢　防風一錢　甘草（炙）七分
上加浮小麥一合，煎服。
</pre>
<pre data-sec="p">
產後門彙方
18七珍散
人參　石菖蒲　生地　川芎各一兩　細辛一錢　防風　辰砂（另研）各五錢。
以上為細末，每服一錢。薄荷煎湯調服。
</pre>
<pre data-sec="p">
產後門彙方
19茯神散
茯神（去木）一兩　人參　黃耆（炙）　赤芍　牛膝　琥珀　龍齒（研）各一錢五分　生地一兩五錢　桂心五錢　當歸二兩
上為末，每服三錢，水煎服。
</pre>
<pre data-sec="p">
產後門彙方
20妙香散
甘草（炒，五錢）　遠志（製，去心）　山藥（薑汁炙）　茯苓　茯神（去木）　黃耆（炙，各一兩）　人參　桔梗（各五錢）　辰砂（另研，三錢）　麝香（另研，二錢）　木香（一錢五分）
以上為細末，每服二錢。當歸，熟地煎湯調下。
</pre>
<pre data-sec="p">
產後門彙方
21參麥飲
人參　麥冬
以上水煎服。
</pre>
<pre data-sec="p">
產後門彙方
22人參當歸湯
人參　當歸　熟地　麥冬　白芍各二錢　五味子三分　桂枝一錢
以上剉，水煎服。
</pre>
<pre data-sec="p">
產後門彙方
23竹葉歸耆湯
人參　白朮（土炒）　當歸　黃耆（炙）各二錢　竹葉二十片　甘草（炙）五分
以上剉，水煎服。
</pre>
<pre data-sec="p">
產後門彙方
24旋覆花湯
旋覆花　赤芍藥　荊芥穗　半夏麴　前胡　甘草（炙）　茯苓　五味子　杏仁（去皮尖，麩炒）　麻黃（各等分）
以上㕮咀，每服四錢。水一盞半，生薑三片，棗一枚，煎至七分，去滓，食前溫服。有汗不宜用。
</pre>
<pre data-sec="p">
產後門彙方
25人參澤蘭葉湯
人參五錢　澤蘭葉　丹皮　牛膝各二錢　生地三錢　熟地五錢　藕節五枚，煎，沖童便服。
</pre>
<pre data-sec="p">
產後門彙方
26槐連四物湯
當歸　川芎　赤芍藥　生地　槐花　黃連（炒）各一錢　御米殼（蒂，蜜炙）五分
以上剉，水煎服。
</pre>
<pre data-sec="p">
產後門彙方
27芍藥湯
芍藥（炒）　當歸　黃連（炒）各半兩　檳榔　木香　甘草（炙）各二錢　肉桂二錢五分　黃芩（炒）三錢
上每服半兩，水煎。如不減，加大黃。此證又有因中氣虛弱，脾氣鬱結者，治當審察。
</pre>
<pre data-sec="p">
產後門彙方
28真人養臟湯
人參　白朮　白芍藥各二錢　肉桂　肉豆蔻　訶子（煨）各一錢　木香　甘草　罌粟殼各八分
以上剉，薑，棗煎服。
</pre>
<pre data-sec="p">
產後門彙方
29人參敗毒散
羌活　獨活　柴胡　前胡各一錢五分　枳殼　桔梗　人參　茯苓各一錢　川芎八分　甘草五分
以上剉，薑，蔥煎服。
</pre>
<pre data-sec="p">
產後門彙方
30香連丸
黃連（淨）十二兩　吳茱萸（去枝梗）十兩
上先將二味用熱水拌和，入磁器內，置熱湯燉一日，同炒至黃連紫黃色，去茱用連為末，每末四兩，入木香末一兩，淡醋米飲為丸，梧桐子大，每服二、三十丸，滾湯下。
久痢中氣下陷者，用補中益氣湯下；中氣虛者，用四君子湯下；中氣虛寒者，加薑，桂。
</pre>
<pre data-sec="p">
產後門彙方
31藿香正氣散
藿香一錢五分　桔梗　大腹皮　紫蘇　茯苓　白朮（炒）　白芷　半夏麴　陳皮　厚朴（炙）各一錢　甘草（炙）五分
以上剉，加薑，棗，水煎服。
</pre>
<pre data-sec="p">
產後門彙方
32三合散
當歸　白芍　茯苓　熟地（各一兩）　柴胡　人參（各一兩五錢）　黃芩　半夏（製）　甘草（各六錢）　川芎（一兩）
以上為粗末，每服一兩，水一鍾半，煎服，日三。
</pre>
<pre data-sec="p">
產後門彙方
33黃耆當歸散
人參　白朮（土炒）　黃耆　當歸　白芍各三錢　甘草八分
以上剉，薑，棗水煎服。
</pre>
<pre data-sec="p">
產後門彙方
34桂附地黃湯
熟地四錢　山萸肉　山藥各二錢　丹皮　澤瀉　茯苓各一錢五分　附子（製）　肉桂各一錢
以上剉，水煎服。
</pre>
<pre data-sec="p">
產後門彙方
35回生丹
錦紋大黃（為末）一斤　蘇木（打碎，用河水五碗，煎汁三碗聽用）三兩　大黑豆（水浸取殼，用絹袋盛殼，同豆煮熟，去豆不用，將殼曬乾，其汁留用）三升　紅花（炒黃色，入好酒四碗，煎三，五滾，去渣，取汁聽用）三兩　米醋（陳者佳）九斤。
將大黃末一斤，入淨鍋，下米醋三斤，文火熬之，以長木筋不住手攪之成膏，再加醋三斤熬之，又加醋三斤，次第加畢，然後下黑豆汁三碗，再熬，次下蘇木汁，次下紅花汁，熬成大黃膏。
取入瓦盆盛之，大黃鍋粑亦鏟下，入後藥同磨：
人參　當歸（酒洗）　川芎（酒洗）　香附（醋炒）　延胡索（酒炒）　蒼朮（米泔浸炒）　蒲黃（隔紙炒）　茯苓　桃仁（去皮，尖，油）各一兩　川牛膝（酒洗）五錢　甘草（炙）　地榆（酒洗）川羌活　廣橘紅　白芍（酒炒）各五錢　木瓜　青皮（去穰，炒）各三錢　乳香　沒藥各二錢　益母草三兩　木香四錢　白朮（米泔浸炒）三錢　烏藥（去皮）二兩五錢　良薑四錢　馬鞭草五錢　秋葵子三錢　熟地（酒浸，九次蒸曬，如法製就）一兩　三稜（醋浸透，紙裹煨）五錢　五靈脂（醋煮化，焙乾，研細）五錢　山萸肉（酒浸，蒸搗）五錢
上三十味，併前黑豆殼，共曬為末，入石臼內，下大黃膏拌勻，再下煉熟蜜一斤，共搗千杵，取起為丸。每丸重二錢七，八分，靜室陰乾須二十餘日。
不可日曬，不可火烘，乾後只重二錢有零。鑠蠟護之，即蠟丸也。用時去蠟殼，調服。
</pre>
<pre data-sec="p">
分類：乳證門
篇名：乳汁不行證治
加味四物湯
條文：001
產後血虛乳汁少，四物花粉不留行，木通豬蹄湯熬服，蔥白煎湯乳房淋。
【註】
產後乳汁不行，因去血過多，血少不行者，宜四物湯加花粉，王不留行，木通，豬蹄熬湯，煎藥服。外用蔥白煎湯，時時淋洗乳房，以通其氣。
</pre>
<pre data-sec="p">
分類：乳證門
篇名：乳汁不行
湧泉散
條文：002
氣脈壅塞乳脹痛，湧泉散用白丁香，王不留行天花粉，漏蘆殭蠶豬蹄湯。
【註】
產後乳汁不行，因瘀血停留，氣脈壅滯者，其乳必脹痛，宜用湧泉散，即白丁香，王不留行，花粉，漏蘆，殭蠶，豬蹄湯煎服也。
</pre>
<pre data-sec="p">
分類：乳證門
篇名：乳汁自湧證治
兔懷散　麥芽煎
條文：003
產後乳汁暴湧出，十全大補倍參耆，食少乳多欲迴乳，兔懷紅花歸芎膝，無兒食乳乳欲斷，炒麥芽湯頻服宜。
【註】
產後乳汁暴湧不止者，乃氣血大虛，宜十全大補湯，倍用人參，黃耆。若食少乳多，欲迴其乳者，宜兔懷散，即紅花，歸尾，赤芍，牛膝也；若無兒食乳，欲斷乳者，用麥芽炒熟，熬湯作茶飲之。
</pre>
<pre data-sec="p">
分類：乳證門
篇名：乳證總括
條文：004
乳房忽然紅腫痛，往來寒熱乳癰成，乳被兒吹因結核，堅硬不通吹乳名。初起結核不腫痛，年深內潰乳巖凶，乳頭生瘡名妒乳，細長垂痛乳懸稱。
【註】
婦人乳房忽然紅腫堅硬疼痛，增寒壯熱，頭痛者，此欲成乳癰也。若乳兒之時，乳被兒口中氣吹，以致乳管不通結核者，名曰吹乳。更有乳內結核如圍棋子，不腫不痛，但堅硬不散，日久內潰者，謂之乳巖，其證甚凶。若乳頭生小細瘡痛者，為妒乳。若瘀血上攻，乳房之忽然細小下垂，長過於腹，此名乳懸，惟產後有之。
</pre>
<pre data-sec="p">
分類：乳證門
篇名：乳癰證治
消毒飲
條文：005
乳癰初起消毒飲，青芷歸柴浙貝蠶，花粉銀花甘草節，寒熱荊防羌獨添，膿成皂刺穿山甲，潰後益氣養榮煎。
【註】
乳癰乃陽明，厥陰二經，風熱壅盛。初起宜服消毒飲，即青皮，白芷，當歸，柴胡，浙貝母，殭蠶，花粉，金銀花，甘草節也。若兼增寒壯熱者，加荊芥，防風，羌活，獨活，以解散之；若服後不消，其膿已成者，宜加皂角刺，穿山甲，以穿發之；若潰後氣血虛者，宜益氣養榮湯培補之。他如潰久膿清不斂，又須急服大劑參，耆，桂，附矣。
益氣養榮湯（方見首卷彙方）
</pre>
<pre data-sec="p">
分類：乳證門
篇名：吹乳證治
栝蔞散　外敷法
條文：006
吹乳結核栝蔞散，乳沒歸甘用酒熬，更加皂刺名立效，已成膿潰未成消，外敷星夏蠶芷刺，草烏為末蜜蔥調。
【註】
吹乳結核不散者，當早消之，久則成癰，宜用栝蔞散，即栝蔞實，乳香，沒藥，當歸，甘草，酒熬服也。若服後不散者，加皂角刺，名立效散，膿成者潰，未成者消。外用南星，半夏，殭蠶，白芷，皂角刺，草烏，為末，用蔥汁合蜜調敷。
</pre>
<pre data-sec="p">
分類：乳證門
篇名：乳巖證治
十六味流氣飲　青皮甘草散
條文：007
乳巖鬱怒損肝脾，流氣飲歸芍參耆，芎防蘇芷枳桔草，檳榔烏朴桂通隨。外熨木香生地餅，青皮甘草服無時，潰後不癒須培補，十全八珍或歸脾。
【註】
乳巖之證，初起結核如圍棋子大，不痛不癢，五，七年，或十餘年，從內潰破，嵌空玲瓏，洞竅深陷，有如山巖，故名乳巖。皆緣抑鬱不舒，或性急多怒，損傷肝脾所致。宜速服十六味流氣飲，其方即當歸，白芍，人參，黃耆，川芎，防風，蘇葉，白芷，枳殼，桔梗，甘草，檳榔，烏藥，厚朴，官桂，木通，外以木香，生地搗餅，以熱器熨之，且不時以青皮，甘草為末，煎濃薑湯調服。戒七情，遠葷味，解開鬱怒，方始能癒。若潰後久不癒，惟宜培補其氣血，或十全大補湯，八珍湯，歸脾湯選用之。
十全大補湯
八珍湯
歸脾湯（方俱見首卷）
</pre>
<pre data-sec="p">
篇名：妒乳乳懸證治
鹿角散　連翹散
條文：008
妬乳甘草鹿角散，雞子黃調炙敷之，連翹散防升元芍，斂射消黃甘杏宜。瘀血上攻乳懸證，芎歸湯飲更熏鼻，不應萆麻貼頂上，乳收即去莫遲遲。
【註】
乳頭生瘡，謂之妒乳，宜鹿角散敷之，即鹿角，甘草為末，雞子黃調銅器內，炙敷之。內服連翹散，即防風，升麻，元參，白芍，白斂，射干，芒硝，大黃，甘草，杏仁也。若產後瘀血上攻，兩乳細長，下垂過腹者，謂之乳懸，宜濃煎芎歸湯，不時飲之，以其餘藥熏鼻，則瘀散乳即上升。如不上者，更以萆麻仁搗，貼頂心，收即去之。
芎歸飲（即佛手散，方見首卷）
</pre>
<pre data-sec="p">
乳證門彙方
01消毒飲
青皮　白芷　當歸　柴胡　淅貝母　殭蠶　花粉　金銀花　甘草節各等分
以上剉，水煎服。
</pre>
<pre data-sec="p">
乳證門彙方
02栝蔞散
栝蔞　乳香　沒藥　當歸　甘草各等分
以上為末，酒煎服。加皂角刺，名立效散。
</pre>
<pre data-sec="p">
乳證門彙方
03十六味流氣飲
當歸　白芍　人參　黃耆各二錢　川芎　防風　蘇葉　白芷　枳殼　桔梗各一錢　甘草　檳榔各五分　烏藥　厚樸　官桂　木通各八分
以上剉，每服五錢，水煎服。
</pre>
<pre data-sec="p">
乳證門彙方
04青皮甘草散
青皮　甘草各一錢
以上為末，煎濃薑湯調服。
</pre>
<pre data-sec="p">
乳證門彙方
05鹿角散
鹿角　甘草各等分
以上為末，雞子黃調銅器內，炙敷之。
</pre>
<pre data-sec="p">
乳證門彙方
06連翹散
防風　元參各二錢　白斂　芒硝　大黃　射干各一錢　升麻五分　白芍一錢　甘草五分　杏仁二十粒
上剉，薑水煎服。
</pre>
<pre data-sec="p">
乳證門彙方
07加味四物湯
當歸　白芍　熟地　川芎　花粉　王不留行（炒）　木通各二錢
以上豬蹄熬湯，煎藥服。
</pre>
<pre data-sec="p">
乳證門彙方
08湧泉散
白丁香　王不留行　花粉　漏蘆各一錢
以上豬蹄湯煎服。
</pre>
<pre data-sec="p">
乳證門彙方
09兔懷散
紅花　赤芍　歸尾　牛膝各二錢
以上剉，水煎服
</pre>
<pre data-sec="p">
乳證門彙方
10麥芽煎
麥芽三兩
以上一味，水煎作茶飲。
</pre>
<pre data-sec="p">
分類：前陰諸證門
篇名：陰腫證治
龍膽瀉肝湯　燻洗法　騰熨法
條文：001
婦人𤵄痃兩拗痛，玉門腫脹墜而疼，濕熱龍膽瀉肝治，導赤車前澤瀉芩。當歸梔子龍膽草，氣虛下陷補中升，艾防大戟熬湯洗，枳實陳皮炒熱騰。
【註】
婦人子戶腫脹墜痛，及兩拗疼痛者，謂之𤵄痃。乃肝，心二經火盛，濕熱下流所致，宜服龍膽瀉肝湯，其方即導赤散，生地，木通，甘草，再加車前子，澤瀉，黃芩，當歸，黑梔子，龍膽草也。若因中氣素虛，下陷重墜者，用補中益氣湯以升舉之。外用蘄艾，防風，大戟熬湯燻洗，更以枳實、陳皮二味為末，炒熱騰之，其腫自消而痛自定也。
</pre>
<pre data-sec="p">
分類：前陰諸證門
篇名：陰痛證治
加味逍遙散　乳香四物敷法
條文：002
陰中痛名小戶嫁，痛極手足不能舒，內服加味逍遙散，四物乳香搗餅敷。
【註】
婦人陰中作痛，名小戶嫁痛，痛極往往手足不能伸舒。由鬱熱傷損肝脾，濕熱下注所致。宜內服逍遙散加丹皮，梔子；外以四物湯料合乳香搗餅，納陰中，其痛即定。
逍遙散
四物湯（方俱見首卷）
</pre>
<pre data-sec="p">
分類：前陰諸證門
篇名：陰癢證治
桃仁雄黃膏
條文：003
濕熱生蟲陰戶癢，內服逍遙龍膽方，桃仁膏合雄黃末，雞肝切片納中央。
【註】
婦人陰癢，多因濕熱生蟲。甚則肢體倦怠，小便淋漓，宜服逍遙散，龍膽瀉肝湯。外以桃仁研膏，合雄黃末，雞切片，醮藥納戶中。其蟲一聞肝腥，皆鑽肝內吮食，將肝提出，其病即癒。
逍遙散（方見首卷）
龍膽瀉肝湯（方見前陰腫條）
</pre>
<pre data-sec="p">
分類：前陰諸證門
篇名：陰挺證治
蛇床洗法　藜蘆敷法
條文：004
陰挺下脫即㿗疝，突物如蛇或如菌，濕熱腫痛溺赤數，氣虛重墜便長清。氣虛補中青梔入，濕熱龍膽瀉肝尋，外熬蛇床烏梅洗，豬油藜蘆敷自升。
【註】
婦人陰挺，或因胞絡傷損，或因分娩用力太過，或因氣虛下陷，濕熱下注，陰中突出一物如蛇，或如菌如雞冠者，即古之㿗疝類也。屬熱者，必腫痛小便赤數，宜龍膽瀉肝湯；屬虛者，必重墜小便清長，宜補中益氣湯加青皮，梔子。外用蛇床子，烏梅，熬水燻洗之。更以豬油調藜蘆末敷之，無不癒者。
逍遙散（方見首卷）
龍膽瀉肝湯（方見前陰腫條）
</pre>
<pre data-sec="p">
分類：前陰諸證門
篇名：陰瘡證治
加味四物湯
條文：005
䘌蝕成瘡濃水淋，時疼時癢若蟲行，少腹脹悶溺赤濇，食少體倦晡熱蒸，四物柴梔龍膽草，潰腐逍遙墜補中。
【註】
婦人陰瘡，名曰䘌。由七情鬱火傷損肝脾，氣血凝滯，濕熱下注，久而蟲生，蟲蝕成瘡，濃水淋漓，時疼時癢，有若蟲行，少腹脹悶，溺赤頻數，食少體倦，內熱晡熱，經候不調，赤白帶下，種種證見，宜分治之。腫痛者，用四物湯加柴胡，梔子，龍膽草；若潰爛出水而痛者，用加味逍遙散；若重墜者，用補中益氣湯。
加味逍遙散（方見前陰痛條）
四物湯
補中益氣湯（方俱見首卷）
</pre>
<pre data-sec="p">
分類：前陰諸證門
篇名：陰痔證治
烏頭燻法
條文：006
陰中突肉名陰痔，或名茄子疾俗稱。黃水易治白難治，烏頭存性醋熬燻。內服逍遙與龍膽，補中歸脾酌量行。
【註】
婦人陰中有肉突出者，名曰陰痔，俗稱茄子疾也。流黃水者易治，流白水者難治。用烏頭燒存性，釅醋熬燻。內服逍遙散，補中益氣湯，歸脾湯，量其虛實，酌而行之。
逍遙散
歸脾湯
補中益氣湯（方俱見首卷）
</pre>
<pre data-sec="p">
分類：前陰諸證門
篇名：陰冷證治
溫中坐藥
條文：007
陰冷風寒客子臟，桂附地黃丸最宜，遠志乾薑蛇床子，吳萸為末裹納之。
【註】
婦人陰冷，皆由風寒乘虛客於子臟，久之血凝氣滯，多變他證，且艱於受孕。宜多服桂附地黃丸，外以遠志，乾薑，蛇床子，吳茱萸研細，綿裹納陰中，日二易。
桂附地黃丸（方見首卷）
</pre>
<pre data-sec="p">
分類：前陰諸證門
篇名：陰吹證治
膏髮煎
條文：008
胃氣下泄陰吹喧，金匱方用膏髮煎，豬膏亂髮同煎服，導從溺去法通元，氣虛下陷大補治，升提下陷升柴添。
【註】
婦人陰吹者，陰中時時氣出有聲，如穀道轉矢氣狀，『金匱』謂由穀氣實，胃氣下泄。用膏髮煎，即豬膏煎亂髮服也。導病從小便而出，其法甚奧。若氣血大虛，中氣下陷者，宜十全大補湯加升麻，柴胡，以升提之。
十全大補湯（方見首卷）
</pre>
<pre data-sec="p">
分類：前陰諸證門
篇名：交接出血證治
加味歸脾湯　桂心釜墨散
條文：009
交接出血傷心脾，伏龍肝末入歸脾，千金桂心釜底墨，酒服方寸匕相宜。
【註】
婦人每交接輒出血者，由傷損心，脾二經也。宜用歸脾湯加伏龍肝煎服，或用『千金方』中桂心，釜底墨二味為末，酒沖服方寸匕，自癒。
</pre>
<pre data-sec="p">
前陰諸證門彙方
01龍膽瀉肝湯
生地二錢　木通　車前子各一錢五分　澤瀉　黃芩各二錢　當歸二錢　黑梔仁　龍膽草各一錢　生甘草五分，加燈草一團，水煎服。
</pre>
<pre data-sec="p">
前陰諸證門彙方
02洗方
防風三錢　蘄艾一團　大戟一錢
以上熬湯燻洗。
</pre>
<pre data-sec="p">
前陰諸證門彙方
03騰方
枳實　廣皮各等分
以上為末，炒熱騰之。
</pre>
<pre data-sec="p">
前陰諸證門彙方
04敷方
四物湯一料，乳香一錢
以上搗餅，納戶中，其痛即定。
</pre>
<pre data-sec="p">
前陰諸證門彙方
05桃仁雄黃膏
桃仁（研膏）五錢　雄黃（末）三錢
以上二味研勻，用雞肫肝切片，蘸藥納戶中，其蟲即鑽入肝，而癢自止。
</pre>
<pre data-sec="p">
前陰諸證門彙方
06陰挺洗法
蛇床子五錢　烏梅九枚
以上二味，熬湯乘熱燻洗。
</pre>
<pre data-sec="p">
前陰諸證門彙方
07敷方
藜蘆（為末）
以上用豬脂油調敷自收。
</pre>
<pre data-sec="p">
前陰諸證門彙方
08陰痔燻法
烏頭
以上用釅醋熬燻自消。
</pre>
<pre data-sec="p">
前陰諸證門彙方
09溫中坐藥方
遠志　乾薑　吳茱萸　蛇床子各等分
以上為末，綿裹納戶內，一日二次換。
</pre>
<pre data-sec="p">
前陰諸證門彙方
10膏髮煎
婦人髮亂一團
以上用豬膏熬化服之，小便利則癒。
</pre>
<pre data-sec="p">
前陰諸證門彙方
11桂心釜墨散
桂心　釜底墨各等分
以上二味為末，酒服方寸匕。
</pre>
<pre data-sec="p">
分類：雜證門
篇名：熱入血室
加味小柴胡湯
條文：001
熱入血室經適斷，邪熱乘虛血室潛，寒熱有時如瘧狀，小柴胡加歸地丹。
【註】
『金匱』云：婦人中風七，八日，續來寒熱，發作有時，經水適斷，此為熱入血室，其血必結，故使如瘧狀，發作有時，小柴胡湯主之。此言邪熱未盡，值經來，乘虛入於血室之間而潛藏之，故令血結，而寒熱有時如瘧狀也。血室肝主之，肝與膽為表裡，膽因肝受邪而病寒熱，故用小柴胡湯主之也。加當歸，生地，丹皮者，所以清血分之熱也。
小柴胡湯（方見首卷柴胡四物湯注中）
</pre>
<pre data-sec="p">
分類：雜證門
篇名：熱入血室
條文：002
熱入血室經適來，晝日明了夜譫妄，無犯胃氣上二焦，熱隨血去自無恙。
【註】
『金匱』：婦人傷寒發熱，經水適來，晝日明了，夜則譫語，如見鬼狀，此為熱入血室。治之，無犯胃氣及上二焦，必自癒也。此言熱雖入於血室，然經行不斷，則熱不留結，勿謂譫妄，遂以硝黃犯其胃氣刺傷榮血，小柴和解犯上二焦，但俟其熱隨血去，病必自癒。『傷寒論』曰：血自下，下者癒。此之謂也。
</pre>
<pre data-sec="p">
分類：雜證門
篇名：熱入血室
刺期門法　清熱行血湯
條文：003
熱入血室成結胸，下血譫語頭汗出，二者皆當刺期門，隨其實取泄而去，清熱行血桃紅丹，靈脂地草穿山赤。
【註】
『金匱』云：婦人中風發熱惡寒，經水適來，得七，八日熱除，脈遲身涼，胸脅滿，如結胸狀，譫語者，此為熱入血室也，當刺期門，隨其實而取之。又云：陽明病下血譫語者，此為熱入血室，但頭汗出，當刺期門，隨其實而瀉之，濈然汗出者癒。此二條，一言適來即斷，血結在裡為實證；一言陽明病亦有熱入血室，但下血頭汗出為不同，故為熱入血室，亦由肝實，故均謂當刺期門也。不能刺者，以清熱行血湯治之，其方即桃仁，紅花，丹皮，五靈脂，生地，甘草，穿山甲，赤芍也。合四證觀之，大抵有寒熱如瘧之證，方可用小柴胡。否則或不藥自癒，或刺期門而清熱行血，以隨其實而瀉之，此仲景心法也，不得概以小柴胡治之也。
</pre>
<pre data-sec="p">
分類：雜證門
篇名：血分水分總括
條文：004
經水先閉後病腫，任衝寒濕血壅經，先發水腫後經閉，水溢皮膚泛濫行，血分難醫水易治，二者詳參要辨明。
【註】
婦人經水先閉後病腫者，乃寒濕傷於衝任，血壅經隧也，名曰血分。若先病腫，而後經閉者，乃土不制水，水邪泛濫，溢於皮膚也，名曰水分。血分難治，水分易治，二者須當詳辨。
</pre>
<pre data-sec="p">
篇名：血分證治
加味小調經散
條文：005
血分血壅不能行，四肢浮腫病非輕，但使經通腫自散，紅丹膝入小調經。
【註】
血分腫，乃血壅不行，流於四肢，故令浮腫。此不必治腫，但調其經，經通其腫自消，宜小調經散，加紅花，丹皮，牛膝治之。
小調經散（方見三卷浮腫）
</pre>
<pre data-sec="p">
分類：雜證門
篇名：水分證治
條文：006
先腫後閉名水分，停飲膀胱氣不行，水消腫退經自至，茯苓導水效通神。
【註】
水分腫，乃水飲內停，膀胱之氣化不行，水溢皮膚，故令浮腫經閉也。此但宜治水，水消腫退，其經自通，用茯苓導水丸治之。
茯苓導水湯（方見胎前門子腫條）
</pre>
<pre data-sec="p">
分類：雜證門
篇名：夢與鬼交證治
加味歸脾湯
條文：007
獨笑獨悲畏見人，神虛夜夢鬼邪侵，歸脾湯調辰砂珀，定志清心魂魄寧。
【註】
婦人七情內傷，虧損心脾，神無所護，鬼邪干正，魂魄不寧，故夜夢鬼交，獨笑獨悲，如有對忤，是其候也。宜用歸脾湯，調辰砂，琥珀末服之，則志定心清，魂魄安而無邪夢矣！
歸脾湯（方見首卷）
</pre>
<pre data-sec="p">
分類：雜證門
篇名：梅核氣證治
半夏厚朴湯
條文：008
婦人咽中如炙臠，或如梅核結咽間，半夏厚朴湯最效，半朴蘇茯薑引煎。
【註】
『千金方』云：咽中帖帖如有炙肉，吐之不出，吞之不下，即所謂咽中如有炙臠也，俗名梅核氣。
蓋因內傷七情，外傷寒冷所致，宜用金匱半夏厚朴湯主之，即半夏，厚朴，蘇葉，茯苓，生薑煎也。
</pre>
<pre data-sec="p">
分類：雜證門
篇名：血風瘡證治
加味逍遙散
條文：009
遍身㾦㿔如丹毒，癢痛無時搔作瘡，血風風濕兼血燥，加味逍遙連地方。癒後白屑肌膚強，血虛不潤養榮湯。
【註】
婦人血風瘡證，遍身起㾦㿔，如丹毒狀，或癢或痛，搔之則成瘡，由風濕血燥所致。宜用加味逍遙散加黃連，生地。如瘡結痂而癒，復起白屑，肌膚強硬者，乃血少不潤也，宜服益氣養榮湯。
加味逍遙散（方見前陰痛條）
益氣養榮湯（方見首卷）
</pre>
<pre data-sec="p">
分類：雜證門
篇名：臁瘡證治
桂附地黃丸
條文：010
憂思鬱怒肝脾損，濕熱生瘡長兩臁，外屬三陽為易治，內屬三陰治每難。初起紅腫敗毒散，濃水淋漓補中煎，晡熱陰虛宜六味，食少畏寒桂附丸。
【註】
婦人憂思、鬱怒，傷損肝、脾，或飲食不調，損其胃氣，則濕熱下注；更被寒濕外邪所客，則必兩臁生瘡。外臁足三陽經，尚屬易治；若生於內臁屬足三陰經，每多難癒。初起紅腫，宜人參敗毒散；潰後濃水淋漓，宜補中益氣湯；若更晡熱，是為陰虧，宜兼服六味地黃丸；若食少體倦畏寒，則為真陽不足，宜服桂附地黃丸，即六味地黃丸加肉桂，附子也。
人參敗毒散（方見產後痢條）
補中益氣湯（方見首卷血崩條）
六味地黃丸（方見首卷）
</pre>
<pre data-sec="p">
分類：雜證門
篇名：足跟痛證治
條文：011
督脈發源腎經過，三陰虛熱足跟疼，六味地黃滋真水，腫潰流膿用八珍。
【註】
足跟乃督脈發源之地，足少陰腎經從此所過。若三陰虛熱，則足跟疼痛。宜用大劑六味地黃丸料煎服，以峻補其真水。若痛久不癒，腫潰流膿者，宜服八珍湯，以大補其氣血。
</pre>
<pre data-sec="p">
雜證門彙方
01半夏厚朴湯
半夏　厚朴　蘇葉　茯苓各二錢
以上生薑煎服。
</pre>
<pre data-sec="p">
雜證門彙方
02清熱行血湯
桃仁一錢　紅花一錢　丹皮　五靈脂　生地各二錢　甘草五分　穿山甲　赤芍各一錢
以上水煎服。
八珍湯（方見首卷）
</pre>
