<header data-type="book">
<h1>秘方集驗</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王夢蘭</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1657">公元1657年</data></dd></div>
<div><dt>底本</dt><dd>清康煕04年刊本（<a href="https://www.digital.archives.go.jp/file/1084033">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>陸宣公在忠州，哀古方書以永日。蓋一以衛生，一以濟世，古人用心之厚，往往如此。雖然病有萬變，醫不一方，陰陽虛實之不同候，君臣輕重之不同量，魯魚亥豕，字書一訛，即以誤世之觀聽，況乎藥術精微之所繫也哉！不知方之驗者，原未嘗誤世，世之不善用方者，每以自誤，非方之過、用方者之過也。昔《周禮》為漢儒偽作之書，而王安石信之，卒以禍宋，至今醫國之人，舉以為戒。故莫若取其所已試而屢驗者，施之於世，濟人衛己，庶幾可以兩全而無誤。今醒庵是書，非己所屢試即人所已驗而秘藏者，惟醒庵以大醫王發大願，力盡出以公諸世，名之曰秘方集驗。蓋人情，非所驗則不秘，而非所秘者，亦未必驗。醒庵食貪耕硯，年富行超，而胸拓經史，識橫古今，其心兢兢，以濟人度世為念，考技精而聞見確，其與宣公□集之意有合也歟。宣公之學，盡之於奏議，自被延齡之讒，鬱郁無所伸，至退而□錄方書，以抒其救聾起瞶之意。茲就醒庵所素著者，讀存心錄而知其救世之意，談閱感應，解而知其醒迷之念切，將來之懷抱，正有以發志事業，先以此書為蒿矢。觀海者，見其涓滴，即有以知其浩瀚矣。卜其不至，於宣公不止也。東坡有云：予無病而多蓄藥，見病者得藥，為之體輕。是書之出，即遐谷窮陬，鮮夭扎之虞，躋仁壽之域，不共有釋然於中者乎？請以予言為質。</p>
<p><u>時康熙乙巳中元友弟張遂辰拜撰</u></p>

<h1>小引</h1>
<p>嘗思古人立方之始，有可以解解者，有不可以解解者，自必其思慮所精，天機所合，一試而效，遂為萬試所不易。造相沿既久，任私智者，妄為減增；矜異傳者，隱其名物，舛訛授受，漸至失真，間有真方，皆珍秘不克傳世。夫利濟之業，何者隱秘？蓋由俗尚異趨。出於名師巨儒則信，出於鄉間父老則不信。糜金錢而得則不疑不煩，刀布而得則疑。談脈學，每自負其能，謂成方為泥古；議藥性，或推駁其弊，指攻補為失時。嗟乎！珠王夜投，按劍而□，亦何為而不秘哉！王子醒庵，病□切心，篤信方術，虛懷下詢，廣攬博冤。遇有試而驗者，求之必力試而有驗；有不驗者，去之不存。同者參之，疑者訂之，勞神殫慮，多歷年所，始成秘方集驗一書。出而救世，其利濟之功，寧有量哉！余深鑑其忠，凡師友之所授，囊書遊轍之所得，其經驗者，悉以相界，且互為參考。夫醒庵方以文章名世，猶能留心方術，矢志利生。余輩業青囊，懷拯濟，豈反為矜秘乎？願天下之讀是書者，皆信之而不疑，則抱疴負恙者，咸出疾苦而登春臺矣，醒庵之心亦庶乎其少慰哉。</p>
<p><u>同學弟薛城頓首拜題</u></p>

<h1>例言（計十條）</h1>
<p>夫醫不執方貴，因病發藥。但藥餌所不及，或隨物以奏功，至治療所難痊，又無意而收效。是能去病，即良方也。因輯其明簡經驗者，以為醫案之外篇。</p>
<p>用藥須辨病源，倘病源微差，即藥物不效，不得徒諉於方也。且藥有分量、有修制，必須一一詳察。而其間藥品，又有真偽、有形似。人命所關，尤不可草率以從事。</p>
<p>醫以濟人，必不自任己見，且屢試屢驗之方，其中配合。必經細心斟酌，倘意為增減，雖識力或過前人，而偏見之誤亦不少矣。養生者，自慎焉。</p>
<p>一症之內，必備數方者，非一方不驗，又試一方也。或藥有未便，此處得之易，彼處得之難；或此症有殊途，稽之此症而對，稽之彼症而不對，因是並載，唯用所宜。</p>
<p>歌訣中一症一歌，是書一門內備數症者，非取而雜之也。蓋刻意求簡，便於控懈之際，一目瞭然，因輯類編入，而條目仍縷縷不亂。間有歌訣備而方不載者，貴乎傳信，不敢以未驗者，輕問世也。</p>
<p>是書專取藥品簡易，便於窮村僻壤應手而得。客有一二方藥較多者，因立方奇驗，不忍棄置。且仁人君子制一料而能濟數十人，蓄多品而能起數百命，功孰大焉，因亦附錄於篇。</p>
<p>陶隱居修本草，以虻蟲水蛭為藥，功雖及人，而害及物命，以至淹留上升。是書雖有偶用者，亦危疾中僅見之，非得已也，修制家慎勿多傷，為幸。</p>
<p>症痊之後，貴調養，尤貴修省。蓋始病之由，必因六氣七情所傷，以至若此。今幸值方而愈，則節飲食、慎起居必矣，而養心尤亟於養身、修省，可不猛乎。</p>
<p>余初訂存心錄，引人以徵事，談果報之書也；次成感應篇通解，舍事而詳理，太上之註疏也。二書皆所以治心病，而是書則治其身病也。始與余友薛子扦公、丁子蘭洲、楊子紫澗參考，更得張卿子先生鑑定，因先梓以公字內，二書容嗣刻問世。</p>
<p>是書始輯於了酉，成於乙巳，俱屬秘授經驗為多，但宇內良方奇效者不少，凡我同志，更祈廣為惠傳，嗣有續集，悉當編入，即諸君子之功德，易有既耶。</p>
<p><u>醒庵主人蕙子氏謹識</u></p>

<h1>卷之上</h1>

<h2>諸症歌訣（計八十八首）</h2>
<p>中風　中風身溫口多涎，卒然昏倒不能言，</p>
<p>急用通關開孔竅，化痰順氣治當先。</p>
<p>傷寒　傷寒大概是熱病，百般變化常無定，</p>
<p>要明汗吐下和解，表裡無差方有應。</p>
<p>溫疫　溫疫眾人病一般，四時不正外邪干，</p>
<p>要分春夏秋冬治，莫把溫寒一樣看。</p>
<p>中暑　中暑中熱不相同，行人中熱在日中，</p>
<p>避暑深堂名中暑，暑分寒熱不相攻。</p>
<p>中濕　中濕亦由內外傷，外衝風雨內酒漿，</p>
<p>發為腫滿渾身痛，利水和脾發汗長。</p>
<p>脾胃　脾胃之氣要衝和，胃司納受脾司磨，</p>
<p>莫使寒溫一失節，損傷元氣病難瘥。</p>
<p>傷食　傷食過飽損脾胃，惡食咽酸噯臭氣，</p>
<p>胸痞發熱及增寒，輕則消化重則和。</p>
<p>痰飲　痰多屬濕津液化，隨氣升降上中下，</p>
<p>百病之中兼有痰，隨症調治應無價。</p>
<p>咳嗽　咳謂無痰卻有聲，嗽謂無聲卻有痰，</p>
<p>有痰有聲為咳嗽，化痰理嗽良然安。</p>
<p>喘急　喘急須分肺實虛，挾寒挾熱緊相隨，</p>
<p>痰火諸般皆作喘，治之莫要有差疑。</p>
<p>哮吼　哮吼肺竅積寒痰，令人齁喘起居難，</p>
<p>豁痰降火加調理，不遇良方病不安。</p>
<p>瘧疾　瘧是風暑不正邪，為寒為熱兩交加，</p>
<p>新瘧可散亦可截，久病還當兼補佳。</p>
<p>痢疾　痢因濕熱並氣滯，赤傷血分白傷氣，</p>
<p>赤白相兼氣血傷，清熱理氣先通利。</p>
<p>泄瀉　泄瀉注下濕傷脾，燥濕利水補脾虛，</p>
<p>若還久瀉腸虛滑，收澀還將正氣提。</p>
<p>霍亂　霍亂吐瀉心腹痛，轉筋寒熱頭沉重，</p>
<p>內傷外感使之然，切忌米湯休早用。</p>
<p>嘔吐　嘔謂有聲吐有物，寒熱傷脾食即出，</p>
<p>和胃清火化痰涎，半夏生薑以為率。</p>
<p>翻胃　翻胃噎膈一般病，三陽熱結吐無定，</p>
<p>莫將燥劑反助邪，養血生津調胃應。</p>
<p>咳逆　咳逆氣衝上作聲，聲聲不斷火相刑，</p>
<p>諸逆上作皆屬火，化痰降氣自安寧。</p>
<p>吞酸　吞酸濕熱在胃口，故作酸水刺心頭，</p>
<p>化痰清火平肝氣，蔬食能調病自瘳。</p>
<p>諸氣　諸氣能令百病生，要知九氣不同名，</p>
<p>男宜調氣兼和血，女要調經氣順行。</p>
<p>痞滿　痞滿胸膈不通泰，令人夯悶久不快，</p>
<p>一消一補慢調和，莫行利藥徒傷害。</p>
<p>脹滿　脹滿起來空似鼓，四肢不腫其中苦，</p>
<p>莫將峻利損天和，制肝補脾以為主。</p>
<p>水腫　水腫是濕本是脾，通身浮腫總為虛，</p>
<p>利水和脾兼順氣，峻攻瀉水病難醫。</p>
<p>積聚　積有五種聚有六，五臟六腑各所屬，</p>
<p>左血右氣中食痰，慢慢消熔無欲速。</p>
<p>五疸　五疸總是濕與熱，遍身發黃小便血，</p>
<p>清熱利水濕自除，但將此治無他說。</p>
<p>補益　補益諸虛莫盡詳，血虛補血正相當，</p>
<p>氣虛補氣無差謬，氣血俱虛並補良。</p>
<p>痼冷　痼冷寒甚即陰症，手足厥冷心腹疼，</p>
<p>外腎縮入死須臾，雞血好酒乘熱飲。</p>
<p>勞瘵　勞瘵陰虛相火動，午後發熱痰咳重，</p>
<p>滋陰降火補脾虛，治標固本無不中。</p>
<p>失血　失血大抵俱是熱，陽盛陰虛妄行血，</p>
<p>補陰清火抑其陽，引血歸經血自歇。</p>
<p>出汗　自汗陽虛白晝出，盜汗陰虛睡覺沒，</p>
<p>自汗補陽盜補陰，汗出油珠發潤卒。</p>
<p>眩暈　眩暈多屬痰與火，七情六氣皆能作，</p>
<p>眼暗身轉及耳聾，要分虛實方下藥。</p>
<p>癲狂　癲為喜笑或不當，安神養血是奇方，</p>
<p>狂為痰火因太盛，平肝清火化痰良。</p>
<p>五癇　癇有五等應五畜，以應五臟各司屬，</p>
<p>卒僕搐搦吐痰涎，祛痰順氣平肝木。</p>
<p>健忘　健忘思虛損心脾，盡力思量竟不知，</p>
<p>有始無終忘記事，補脾養血是良醫。</p>
<p>邪祟　邪祟難乾壯實人，神虛氣弱致相侵，</p>
<p>只扶正氣虛邪退，莫費工夫禱鬼神。</p>
<p>不寐　不寐原來睡不寧，膽虛痰氣沃心經，</p>
<p>治當溫膽生心血，一枕黃梁夢不驚。</p>
<p>頭痛　頭痛須詳十二經，各經用藥要分明，</p>
<p>頭腦盡痛手足冷，此為真痛命當傾。</p>
<p>鬚髮　須屬腎兮發屬心，肝經眉屬是其真。</p>
<p>腎水傷時須必白，發皤還是損心神。</p>
<p>耳病　耳聾男右因色欲，女人左耳緣憤怒，</p>
<p>左右俱聾厚味傷，補虛順氣病除去。</p>
<p>鼻病　鼻窒不聞臭與香，素常痰火肺間藏，</p>
<p>每遇風寒必便塞，清金降火最為良。</p>
<p>口舌　口舌生瘡心臟熱，涼劑徐投火自滅，</p>
<p>口苦肝熱移於膽，此因謀慮而不決。</p>
<p>牙齒　牙痛濕熱有胃火，有風有蟲痛非可，</p>
<p>清火逐濕更誅蟲，或搽或服皆安妥。</p>
<p>眼目　眼角屬心白屬肺，上下眼包皆屬脾，</p>
<p>瞳仁屬腎黑肝木，五臟精華眼見之。</p>
<p>咽喉　喉痹一名為乳蛾，多因酒色七情過，</p>
<p>痰火上壅為腫痛，祛風清火得平和。</p>
<p>心痛　心痛即是胃脘痛，清熱解鬱藥通靈，</p>
<p>更有蟲食氣心痛，臨時審候要分明。</p>
<p>腹痛　腹痛有熱亦有寒，死血食積並濕痰，</p>
<p>時痛時止應是熱，綿綿不止作寒看。</p>
<p>脅痛　脅痛木氣肝火盛，亦有死血有痰症，</p>
<p>平肝開結化痰涎，散血順氣治有應。</p>
<p>腰痛　腰痛豈止屬腎虛，三因五種要推之，</p>
<p>或溫或涼或汗下，更兼補腎是良規。</p>
<p>疝氣　疝氣七種要詳推，寒水筋血氣狐癲，</p>
<p>濕熱在內因寒裹，陰腫小腹痛如錐。</p>
<p>腳氣　腳腫名為濕腳氣，不腫乾腳氣之謂，</p>
<p>麻則因風痛是寒，腫乃是濕宜分利。</p>
<p>痹痛　五痹手足痛不仁，不過風寒濕氣侵，</p>
<p>發散風寒除濕氣，管教疼痛不纏身。</p>
<p>消渴　消渴要分上下中，上屬肝經中胃者，</p>
<p>下消屬腎共三消，能食不食分治也。</p>
<p>濁症　濁症白色屬腎虛，赤者心虛有熱隨，</p>
<p>赤要清心白補腎，化痰燥濕要須知。</p>
<p>遺精　遺精症是心腎虛，補精養腎澀精宜，</p>
<p>濕熱傷脾精宜泄，理脾除濕再無遺。</p>
<p>淋症　五淋有熱屬膀胱，小便淋漓痛難當，</p>
<p>血石膏勞肉五症，疏通清熱是良方。</p>
<p>小便閉　小便不通有五閉，氣血痰熱風者是，</p>
<p>悉宜用吐把氣提，上竅即通下竅利。</p>
<p>大便閉　大便不通有虛實，陰結陽結閉不一，</p>
<p>或攻或補用溫涼，臨時對症無差失。</p>
<p>痔漏　痔漏名有二十四，酒色氣風食五事，</p>
<p>未破名痔破為漏，祛風除濕解毒治。</p>
<p>腸澼　腸澼即是大便血，腸風糞前色鮮潔，</p>
<p>臟毒糞後血黯濁，臟寒臟熱不同列。</p>
<p>脫肛　脫肛氣虛寒脫下，多因血痔久痢瀉，</p>
<p>治當補氣要升提，清除濕熱效奔馬。</p>
<p>腋臭　腋臭人聞不可言，誰知子母亦相傳，</p>
<p>若還得遇仙方藥，管取叫君除卻根。</p>
<p>諸蟲　諸蟲多因濕熱生，生於腹內狀難明，</p>
<p>上攻心腹痛還定，或安或下便清寧。</p>
<p>婦人　婦人屬陰多生氣，氣鬱成病最難治，</p>
<p>諸病兼理氣調經，香附是女真仙劑。</p>
<p>經閉　月水緣何久不通，蓋因血水氣凝壅，</p>
<p>或補或瀉兼調氣，慎勿巴黃一樣攻。</p>
<p>崩漏　崩漏虛溜熱則通，陰虛陽搏謂之崩，</p>
<p>更有冷熱並虛實，辨得陰陽自奏攻。</p>
<p>帶下　帶下多緣下部虛，濕痰滲下亦如之，</p>
<p>治宜實下兼清上，養血和脾帶自除。</p>
<p>種子　人生無後實堪傷，誰識先翁有秘方，</p>
<p>只在心田存一點，管叫蘭桂滿庭芳。</p>
<p>妊娠　妊娠母病致胎動，母病醫痊胎自和，</p>
<p>胎若不安觸母病，但安胎氣母無疴。</p>
<p>產育　臨產之婦莫驚惶，行動頻頻莫臥床，</p>
<p>瓜熟須知蒂自落，若還用藥要安詳。</p>
<p>產後　產後諸症要扶虛，惡露流通是所宜，</p>
<p>更有多般發熱症，未可輕教汗下宜。</p>
<p>乳病　乳汁不通有兩樣，血氣有衰有盛壯，</p>
<p>壯者宜行衰宜補，乳吹乳癰要通暢。</p>
<p>小兒　小兒十病九傷食，食傷發熱成諸疾，</p>
<p>早當消導莫遲捱，免致驚疳痰熱積。</p>
<p>驚風　急慢驚風症不同，慢宜溫補急宜攻，</p>
<p>更有慢脾風篤症，枉教醫士費神功。</p>
<p>疳疾　五疳心肝脾肺腎，冷熱肥瘦須辨認，</p>
<p>肚大筋青體瘦黃，和脾消積頻頻進。</p>
<p>癖疾　癖從皮裡膜外生，肝經留血裹成形，</p>
<p>日漸長大如豬肺，不遇仙方命必傾。</p>
<p>痘疹　痘疹原來是胎毒，發熱輕遲重則速，</p>
<p>痘要溫和疹要清，隨機應變無膠柱。</p>
<p>癰疽　癰疽發背氣凝起，先宜敗毒後托裡，</p>
<p>高起屬陽陷屬陰，陽輕陰重費調理。</p>
<p>瘰癧　瘰癧相連頸項生，虛勞氣鬱結其形，</p>
<p>益氣養榮並解鬱，內消方顯藥通靈。</p>
<p>疔瘡　疔瘡名有十三種，皆由熱毒附邪風，</p>
<p>外宜刺破敷其藥，發汗須教毒外攻。</p>
<p>臁瘡　臁瘡濕毒兼風熱，兩腳生瘡腫爛裂，</p>
<p>卻除濕熱更誅蟲，蔥椒湯洗後敷貼。</p>
<p>疥瘡　疥癩濕熱小干瘡，渾身搔癢也難當，</p>
<p>殺蟲除濕追風毒，須用神仙一掃光。</p>
<p>癬瘡　癬瘡原是因風起，濕熱相煎聚一處，</p>
<p>有熱作癢痛難當，用藥殺蟲使風去。</p>
<p>禿瘡　禿瘡頭上白如雪，當時作癢抓出血，</p>
<p>有蟲有毒熱兼風，用藥搽之自消滅。</p>
<p>癜風　白癜紫癜一般風，更有汗斑亦相同，</p>
<p>內服敗風九散藥，外將末劑擦其容。</p>
<p>諸瘡　一切無名腫毒瘡，須臾腫起痛難當，</p>
<p>急將妙藥頻敷貼，免使猖狂作禍殃。</p>
<p>癭瘤　癭瘤多緣氣與痰，結於身體項頤間，</p>
<p>惟有血瘤病最惡，未可尋常一類看。</p>
<p>折傷　折傷打撲痛難禁，瘀血停留忽上心，</p>
<p>散瘀止痛須趁早，補虛接骨慢搜尋。</p>
<p>破傷風　破傷風症有多端，汗下和之病自安，</p>
<p>發散祛風能奏效，治之莫作等閒看。</p>

<h1>卷之上</h1>

<h2>諸藥食喜</h2>
<p><u>解諸中毒</u>　一覺腹中不快，即以生豆試之，入口不聞腥氣，此中毒也。急以升麻煎濃連飲，以手探吐，即愈。白蠟一塊，研細，清水攪勻服下，或吐或瀉，愈。甘草、綠豆，水煎服，能解百毒。</p>
<p><u>解百藥毒</u>　甘草煎湯飲之。服藥過多，生出毒病，頭腫如斗，唇裂流血，或心中飽悶，或臍腹撮痛者，黑小豆（即馬料細豆），綠豆各半升，煮濃汁服之，並食豆完，愈。服癱瘓藥過多，心胸悶亂，不省人事，米醋半盞灌之。或甘草煎汁，生薑搗汁服，皆效。中附子、川烏、天雄、斑蝥等毒，單以黑小豆煎汁飲之。凡服藥毒，不論砒霜，鉛粉等，即口已緊閉，並黑爛垂危，而氣未絕者，用上號潔白糖、靛花、淡豆豉、甘草等分，研勻，冷水調灌，即延。</p>
<p><u>解斷腸草毒</u>　生雞子，吞二三枚。急以升麻湯探吐，亦妙。</p>
<p><u>解砒霜毒</u>　凡中此毒，煩躁如狂，心腹攪痛，頭旋欲吐不吐，面色青黑，四肢逆冷，命在須臾，或飲甘草湯；或飲綠豆湯；或冷水飲數碗；或夏枯草煎濃飲；或雞子五六枚，打碎、和勻灌下；或冬青樹苗汁與水相拌，灌下（無苗時，用老葉帶水搗，取汁），總以吐解毒盡為度。醒後仍顛不語者，每日以綠豆水飲之，毒儘自愈。</p>
<p><u>解巴豆毒</u>　凡中此毒，口渴，面赤，五心煩熱、泄利不止。用黃連一錢，煎服；搗巴蕉根葉汁，飲之；或飲冷水，及綠豆湯，皆效。</p>
<p><u>解蒙汗毒</u>　俗名燒悶香，飲冷水即安。</p>
<p><u>解鉛粉毒</u>　砂糖調水服；肥皂搗爛、取汁灌下，皆效。</p>
<p><u>解煙毒</u>　砂糖調水服。解煤炭毒，一時暈倒，以清水灌之。</p>
<p><u>解鹽滷毒</u>　豆腐漿灌下（如無生漿，將黃豆浸濕、搗爛，灌下）。抹桌布水，或肥皂水，皆能令吐，切不可用熱汁服之。</p>
<p><u>解燒酒毒</u>　鍋蓋上汽水半盞，灌即醒。冷汙泥搭胸前，燥即再搭，直至泥濕為度，自愈。酒毒至死，黑大豆二升，煎汁飲，愈。</p>
<p><u>解食桐油</u>　誤食之令人嘔吐不止，亟飲熱酒，即解。</p>
<p><u>解野菌毒</u>　地漿水飲之（其法，地上掘二三尺深，以水傾入，攪勻，澄清，聽用）；或黑豆煮汁飲之。六一散（滑石六錢，甘草一錢，研勻），每服二錢，水調服，皆效。楓樹上菌，食即令人笑不止，亦以地漿水解之。</p>
<p><u>解閉口椒毒</u>　其毒中人舌麻、心悶、吐白沫，甚者身冷欲絕。亦以地漿水解之，或飲醋解之。食花椒氣閉，新汲水可解。</p>
<p><u>解果毒</u>　麝香一分，煎湯服。豬骨燒灰，水調服。</p>
<p><u>解白果瘋</u>　食之過多成瘋。白鯗骨，煎湯服。</p>
<p><u>解食自死六畜毒</u>　黃柏搗末，水調服一錢；或壁上黃土，水調服二錢；或雄鼠屎（兩頭尖者是）十四枚，研末，水和服；或飲人乳一升，愈。</p>
<p><u>解食物中蛇蟲百腳遊過毒</u>　甘草煎湯灌下，吐十餘次愈。</p>
<p><u>解食物中未知何毒</u>　煎苦參汁飲之，令吐出自愈。</p>
<p><u>解河魨魚毒</u>　橄欖，蘆根、糞水，皆效。或香油一碗灌之，吐出，亦愈。</p>
<p><u>解蟹毒</u>　藉汁、蒜汁、冬瓜汁、黑豆汁及紫蘇汁，俱可解。</p>
<p><u>解食毒鱉</u>　飲藍汁數碗。如無藍汁，靛青水亦可。</p>
<p><u>解食螞蝗</u>　嗜芹菜者多此疾。空心時，食地泥少許，自下。</p>
<p><u>解中蟲毒</u>　入廣豫防蟲法。炙甘草一寸，嚼咽汁，然後飲食。若中蟲即吐出，仍以炙甘草三兩、生薑四兩，水六碗、煎兩碗，日三服。嚼白礬反甜，黃豆不腥，乃蟲也。木梳垢膩，或清油多飲取吐。</p>
<p><u>中蟲吐血</u>　小麥面二合，水調服，半日當下血。凡中蟲覺胸腹痛，即用升麻、膽礬吐之。若膈下痛，急以米湯調鬱金末二錢服，即瀉出惡物，或合升麻，鬱金服之，不吐則下。</p>

<h1>諸蟲獸傷</h1>
<p><u>瘋狗咬</u>　春末夏初，犬多發狂，其尾直拖，不能捲起，口流涎，舌黑色者，最傷人，不急治，必死。如倉卒無藥，急於無風處，擠去傷處惡血，孔乾者，用針刺出血，即以小便或鹽湯洗淨，隨以蔥搗爛貼上。或用百草霜（即鍋臍煤，須山野人家者、以其燒百草故也），香油調敷。或口嚼杏仁敷；或用牛糞、蚯蚓糞敷皆能救急。少緩，毒氣入內，不救。大斑蝥二十一個，去頭足，以糯米一撮，先將蝥七個、木鱉半個，入米內，慢火炒，勿令焦，去蝥，再入整七個、木鱉半個，炒焦，色變，又去蝥；再入蝥七個、木鱉半個，炒米出青煙為度，去蝥不用。只將米與木鱉研末，冷水入香油少許，空心調服。須臾，又進一服，以二便利下惡物為度。若腹痛，急以青靛、涼水解之；或先用黃連、甘草煎湯，待冷服之，不可食熱物。終身禁食犬肉、羊肉。糯米一撮，切碎，番木鱉半個，斑蝥七個，去頭足翅，若過一日，加一個，連前慢火炒脆，去斑蝥，研末，好酒服。若是多日凶者，頭上有紅髮三根，拔去。如仍凶，肚中覺有狗聲者，再加番木鱉一個（制），服即愈。三月不可聽鑼鼓聲，恐發難治。大約七日一發，三七日不發可全免。如見痛定瘡合，便謂已好而不治者，多死。番木鱉一錢，銅鍋炒，雄黃四分，為末，冷水調三分五釐服之，大小便出血即愈。桑葉腦、紫蘇腦各七個，搗爛，敷咬口，再搗韭菜汁一碗服之，百日內常食韭菜更妙。</p>
<p><u>狗咬</u>　先須忍痛以河水捏淨血水為主，次用虎骨煅研、乾摻，或嚼紫蘇葉敷之，或刮肉店切肉墩上油膩拌砂糖敬之，皆效。</p>
<p>夏月犬傷及諸損傷，蛆蟲極盛，鼻不可近。蟬蛻、青黛各五錢，華陰細辛一兩五錢，蛇蛻一兩（燒存性），共研末，好酒送下三錢，外以寒水石末敷之，旬月即愈。</p>
<p><u>馬咬及踏傷</u>　艾灸傷處，或人糞、馬糞、鼠糞，只須一味燒末，和豬脂敷，內服蘇木湯一碗，即上痛。服童便、韭汁亦妙。寒水石末敷傷處，旬日亦愈。人體先有瘡，因乘馬，或馬汗、馬毛入瘡內，或馬氣熱蒸，皆致腫痛，宜數易冷水漬之，難漬處，以冷水漬布搭之。或刺雞冠血數滴入瘡內，大馬用雌雞，小馬用雄雞。</p>
<p><u>虎咬</u>　生薑搗自然汁服，兼洗傷處，研白礬末，敷之。恐毒入內，飲香油數碗最妙。</p>
<p><u>毒蛇咬</u>　須用針刺傷處出血，隨以雄黃五錢、五靈脂一兩，共為末，每股二錢，好酒調服。仍敷傷處，留出傷口，乾燥，油搽傷處，兩頭用繩扎縛，不致毒氣內攻。細辛、白芷各五錢，雄黃五分，為末，每服二錢，好酒調服亦效。半枝蓮取汁，沖酒服，渣服患處，自愈。</p>
<p><u>蛇咬及百蟲毒</u>　食蒜飲酒，更用蒜杵爛塗患處，加艾葉灸之，毒自解，毒甚不知疼痛者，用乾麵水和做圓圈，箍在患處，將明礬一兩，勺內熬化，傾於面圈內，頃刻化為清水，其毒自解。如毒輕者，礬熔化，以筋挑點傷處數次，知痛即愈。</p>
<p><u>蛇蟲沙蝨咬</u>　搗小蒜敷之，愈。</p>
<p><u>鼠咬</u>　斑蝥燒灰，麝香少許，津唾調敷。</p>
<p><u>蜈蚣咬</u>　鹽湯洗傷處，痛止用劉寄奴擦之。或吳茱萸搗爛敷之；或井底泥貼之；或雄雞糞擂水塗之；或搔頭垢掩之；或用雞涎塗之；或取白鯗眼貼之。取蜘蛛一枚，近咬處，蜘蛛自怒，而吮其毒，毒盡，蜘蛛墮下，痛即止。隨取蜘蛛，投水中，少頃放草上，蜘蛛亦活。蛇虺、蜈蚣咬傷，用艾於傷處，灸三五壯，拔去毒即愈。</p>
<p><u>八腳蟲毒</u>　其蟲隱於壁間，以尿射人，遍身生瘡，狀如湯火傷，用烏雞翎燒灰，雞子白調敷。</p>
<p><u>蜂螫毒</u>　小便洗擦拭乾，用香油搽之。或雄黃末搽之；或蜂房末搽之；或野芋麻搗爛貼之；或溫湯漬之，數易，常令暖，皆效。</p>
<p><u>蜂子叮</u>　口嚼栗子敷之，制芋芳及葉梗擦之，痛即止。</p>
<p><u>蠍螫毒</u>　蠍有雌雄兩種，雄者螫人，痛在一處，雌者螫人，痛牽遍體。用井底泥，敷痛處，干則再易，如無泥，取新汲水，以青布隨痛處搭之，溫則再易。白礬、半夏等分為末，好醋調敷，痛止毒出。</p>
<p><u>中蚯蚓毒</u>　形如大麻風，眉須脫落，用石灰泡熱水，候涼，洗患處，浸之良久，愈。小兒陰莖及囊受之，俱腫如水泡，用鹽湯溫洗之。或用雞血塗之；或以鴨口開含片時，自愈。糞澆地上，為日氣所逼，人跣足行者，受毒必腫，用鴨毛煎湯洗之，自愈。</p>
<p><u>蜘蛛及百蟲咬</u>　俱以藍靛葉搗汁，敷之。如無葉用靛青花亦妙。腹中蟲咬作痛，亦以靛汁、蔥白和湯服之，可解。蜘蛛咬，羊乳沖酒服，即搽腫處，或雄黃末敷，皆效。蜘蛛傷，遍身成瘡，青蔥一莖，小頭摘一孔，盛蚯蚓一條，捏兩頭，不令透氣，搖動化為水，點傷處。百蟲咬，貝母用水磨濃塗之；或嚼生芝麻塗之。皆效。</p>
<p><u>楊刺子</u>　毛飛入肉，作痛，先以水搭患處，隨用醬瓣、草葉（即馬齒草）搗爛，敷上二三次，即愈。金不換草葉搗爛塗之；或白蜂蜜搽之，皆效。</p>
<p><u>諸骨哽喉</u>　白飴糖，切如棗慄大，吞之立下。玉簪花根搗汁吞之，其汁勿黏齒，恐其脫也，再用乾飯咽之，自下。咸靈仙五錢、飴糖五錢，酒、水各一碗，煎服亦效。豬骨哽，狗涎化之。魚骨哽，橄欖含津咽之；或鹿肉銼屑，含津咽之。如七日不出，燒鯉魚鱗皮，以水服之。雞骨哽，舊靴皮燒灰服之，玉簪花根吞之；或甘草二錢，威靈仙五錢、宿砂三錢、水二碗，煎八分，入口噙漱，近喉呵氣即愈。雞魚骨哽，苧麻根搗汁，灌下即化。谷哽，鵝涎化之。誤吞銅錢，食荸薺，核桃化之。誤吞鐵物，用燒紅慄炭，帶紅即研細末，砂糖調服二三錢，立愈。小兒誤吞針，將半生半熟出芽蠶豆搗爛，用韭菜汁為丸，吞下。又方蝦蟆眼一雙，木通湯吞下，其針即穿於眼內，從大便而出。誤吞鐵骨之類，腸中不能轉送覺墮者，多食青菜、豬脂，自然送入大腸，從糞同出。</p>
<p><u>天絲累目</u>　用木梳垢為小丸，放於眼角邊，即出。麥芒入目，煮大麥汁洗之；即出。雜物迷目，東牆上馬齒莧，燒灰研細，點皆頭少許，即出。</p>
<p><u>百蟲入耳</u>　取雞血滴之，或韭汁灌之，或薑汁少許滴之，皆妙。以蔗油數點，滴入竅中，細蟲必自死。蜈蚣、蜜蜂等大蟲入者，以肉炙香安耳邊，其蟲聞香自出。有蟲夜間暗入者，切勿驚慌喊叫，逼蟲內攻，宜正坐點燈，光向耳竅，其蟲見光自出。對面有人，其蟲不出。一切蟲入耳，如在左耳，以手緊閉右耳，努氣至左耳，自出。蒼蠅入耳，用生鱔血滴耳中。蟻子入耳，亦炙肉誘之。蜈蚣入耳，生薑汁或韭汁灌之，或炙雞肉誘之，自出。</p>
<p><u>稻芒入口</u>　以鵝鴨涎灌之，或以白飴糖食之，皆妙。</p>

<h2>暴死諸症</h2>
<p><u>暴死</u>　燒炭火一構，以醋澆之，今患者鼻受醋氣，即蘇。或韭菜汁灌鼻中；或雄雞冠刺血，灌鼻中，皆效。用豆大艾圓，於鼻下人中上，灸一壯，即醒。</p>
<p><u>五絕</u>　一自縊，二牆墜，三溺水，四魘魅，五產難（即產後暈絕）。皆以半夏研細末，冷水和丸如小豆大，塞鼻中，並用燥末吹耳內。心溫者，死一日猶可治。此扁鵲法，奈人不諳曉，因氣絕，多不救，惜哉！急於人中穴及兩足大指甲，離甲一韭葉，各灸三五壯，即活。</p>
<p><u>縊死</u>　切不可用刀剪斷繩索。雖旦至暮，身已冷，猶可治。只令人抱起，解開，安放平正，加被覆墊，手提頭髮，腳踹兩肩，用雞冠血滴入口，雞血須男雌、女雄，鼻即氣轉，再曲伸其手足，將手摩之，即活。若氣不接續，將腰打三四拳，以兩管吹氣入兩耳內，即醒，須臾，少以桂湯或粥湯含與之。</p>
<p><u>溺死</u>　切忌火攻，逼寒內入，不救。用牛一頭，令腹橫臥在牛背上，兩邊用人扶策，牽牛徐徐而行，出腹中之水，以老薑切片擦牙，即活。必先橫放筋於牙間，使水可出。即無牛，以活人仰臥橙上，令溺水之人臥於活人身上，水出即生，後服蘇合丸（廣東者佳），鴨血灌之，亦活，再用紙裹皂夾末，納肛門內，須臾出水，即一宿者，可活。</p>
<p><u>熱死</u>　道中行人，酷日趲程，野中農夫，暄天勞力，津渴汗盡，卒然昏倒，名為中熱。斷不可使冷及飲冷水，得冷即不救。法用屈草帶盤繞熱人臍上，使三四人溺其中，令溫。此因道途窮，卒無湯，故令溺也，若湯澆更好。或用皂莢（燒存性）、甘草各一錢，為末，溫水調灌之。如無藥時，急以生薑或蒜嚼爛，以熱湯或童便灌下，外用布蘸熱湯，熨氣海（在臍下三寸），立醒。醒後仍勿飲以冷水，飲之立死。紫金錠一錢，井水微溫，磨化以箸撬開口，灌下即生。紫金錠（一名玉樞丹，一名萬病解毒丹）：山茨菇（須有毛包裹者，去皮洗淨，焙乾）二兩，川文蛤（一名五倍子，焙乾）二兩，麝香（揀淨）三錢，千金子（一名續隨子，去殼，揀色極白者，用紙包裹，研數十次，去盡油，以色白成霜為度）一兩，紅芽大戟（杭州紫大戟為上，去蘆、根，洗極淨，焙乾）一兩，硃砂（水飛過）一兩二錢，雄黃（三錢）。宜端午、七夕、重陽或天月德黃道上吉日修合，預期齋戒，靜室焚香，將前藥各為極細末，至期焚香誠敬，將藥攪和極勻，用糯米濃飲調和，於木臼內杵數千下，極光潤為度。每錠一錢，每服一錠。此丹通治百病，凡居家出行、興大工、動大兵，須珍備之。因例諸症湯引於下。山嵐瘴氣，暑暍途行，及空心感觸穢惡，用少許噙嚼，則邪毒不侵。中風卒倒，不省人事，痰涎壅盛，牙關緊急，薑湯磨服。咽閉喉風，薄荷湯磨服。膨脹噎隔，麥芽湯磨服。絞腸、腹痛、霍亂、吐瀉，薑湯磨服。中蟲毒及諸藥、飲食河魨、死畜等肉，滾水磨服，得吐利即解。癰疽發背、無名疔腫、一切惡毒惡瘡，無灰酒磨服，取汗，涼水磨塗。已潰莫服。蛇蠍、瘋犬及毒蟲所傷，無灰酒磨服，涼水磨塗。中陰陽二毒，狂言煩悶，躁亂不寧，涼水磨服。赤痢，冷水磨服。白痢，薑湯磨服。邪瘧，溫好酒磨服。小兒痰涎壅盛、急慢驚風，薄荷湯磨服。婦人經閉不通，紅花煎酒磨服。縊溺驚魘，氣未絕者，薑湯磨，灌下。時行疫氣，常用焚燒，則不致延染。孕婦忌服。凡服此藥，忌甜物、甘草數日。如急症不及磨化，杵細用亦可。</p>
<p><u>凍死</u>　凡凍將死，有氣者，以灰炒暖，盛囊中，熨心頭，冷即易熱灰，若不先溫其心，便以火烘。則冷與火爭，必死（待氣回少飲以酒粥，就熱水浴亦死）。</p>
<p><u>驚死</u>　俗名嚇死，以醇酒灌之。</p>
<p><u>九竅出血</u>　大薊一握，絞取汁，好酒半盞，調和頓服。如無鮮者，即搗乾者為末，涼水調三錢服之。清晨頭一吊水噀面即止。</p>
<p><u>卒厥</u>　無論中風、寒、暑、熱、鬼祟、邪氣、食、痰，即用生薑搗汁一盅、童便一盅調服，立知人事。</p>
<p><u>屍厥</u>　其症卒然僵仆，四肢逆冷，肌膚寒慄，不省人事，腹中氣出如雷鳴。用附子七錢，重者泡熱，去皮臍，為末，分二服。每服酒三盞，煎一盞。如無附子，生薑汁半盞，酒一盞，同煎百沸，並灌二服。</p>
<p><u>中惡鬼氣</u>　其症暮夜或登廁，或出郊野，或遊冷室，或行人所不至之地，忽然眼見鬼物，鼻口吸惡鬼氣，暮然倒地，四肢逆冷，兩手拳掘，口鼻出血，性命逡巡不救，大略與屍厥同，但腹不鳴，心腹俱暖。凡遇此症，切勿移動，即令眾人圍繞，打鼓燒火；或燒麝香、安息、蘇合香、樟木之類，直候省知人事，方可移歸。犀角五錢，麝香、硃砂各二錢五分，為末，水調服二錢，更妙。菖蒲根生搗絞汁，灌鼻中或口中，亦活。</p>
<p><u>中諸鬼崇</u>　人為鬼附，昏迷笑哭，或作鬼語者，急將兩手大指縛作一排，用艾圓嵌中間爪中盡頭連肉處，灸七壯或十四壯，鬼即去。若鬼即去人尚昏沉者，用麻黃三兩（去節）、杏仁七十粒（去皮尖）、甘草一兩，水二碗，煎至一碗灌之。愈後仍宜服參耆等補正之藥。</p>
<p><u>鬼魘鬼打</u>　其症初到客舍館驛，及無人冷房，睡中覺鬼物魘打，其人呃呃作聲，便令人叫喚，如不醒，乃鬼魘也，不救則死。用牛黃、雄黃各一錢，硃砂三分，研末和勻，挑一錢，床下燒一錢，調酒灌之。桃柳枝東邊者，各折七寸，煎湯灌下。灶心土槌碎，井水調灌二錢；更挑半指甲許，吹入鼻中。如不醒，用艾灸人中穴，並於兩腳大拇指離甲一韭葉處，各灸七壯。</p>
<p><u>神鬼箭打</u>　身痛有青痕，以亂頭髮擦痛處，髮捲成團而硬者，方是。如發不卷不硬者，非也。金銀花煎湯飲之。鬼箭打：蛇懵子草（四月間，蔓延生紅子，比谷樹子小些，根下有細粒者是）搗爛，以酒過出汗，熱服，加被暖睡，出汗立愈，渣敷痛處。</p>
<p><u>魘死並中惡</u>　切忌火照，但痛咬其腳根，則應聲；不同臥者，不呼其姓名於自床中，亦醒；始終不醒，以皂莢為末，吹主鼻中，打嚏則氣通而活矣。</p>
<p><u>慣多魘夢</u>　以通明大硃砂，絳囊盛，置項中，是熱即無夢。</p>
<p><u>妖魅鬼魘不肯言</u>　鹿肉銼細屑，水調服，溫湯亦可，即知人事。凡中邪崇，莫如紫金錠，薑湯化服。婦人夢與鬼交，鹿肉末和清酒服，即出鬼精。女人病與邪物交通，獨言獨笑，悲思恍惚者，雄黃一兩，松脂二兩，熔化，以虎爪攪之，丸如彈子，夜燒於焙籠中，令女坐其上，以被蒙之，露頭在外，不過3次，自斷。仍以雄黃、人參、防風、五味子等分為末，每日井水調服少許，即愈。</p>
<p><u>臥忽不寤</u>　亦忌火照，但痛齧腳拇指甲際，而唾其面，則活。如仍不醒，取韭菜搗汁，灌入鼻中，冬則韭根可用。</p>
<p>人遇暴症，急如風雨，命醫不及，無不束手待斃。若口中有氣，心頭尚溫者，急宜按方速治，免諸橫夭，功莫大焉。</p>

<h2>危篤諸症</h2>
<p><u>脫陽</u>　凡大吐大瀉之後，四肢厥冷，元氣不接；或傷寒新瘥，誤與婦人交，小腹緊痛，外腎緊縮，面黑氣喘，冷汗自出，須臾不救。先以蔥白數莖，炒令熱，熨臍下；或炒鹽熨臍下氣海，總勿令氣冷為主。次用附子一枚（重一兩者，銼成八片），白朮、乾薑各五錢，木香二錢五分，水二碗，煎八分，放冷，灌服；須臾，又進一服，合渣並服。或桂皮二兩，好酒二碗，煎一碗，分二服灌之。如無前藥，用連須蔥白三十根切細，沙盆內研爛，好酒二碗，煎一碗，分作兩服灌之，陽氣即回。如無蔥白，即用生薑二七片，照前服。</p>
<p><u>陰症</u>　腹痛、身冷欲絕者，明硫黃四分、胡椒六分，為末，每服用燒酒調三五分。醋炒麩皮，布包熨臍上，蓋被出汗即愈。</p>
<p><u>破傷風</u>　因皮肉損破，覆被外風襲入經絡，漸傳入里，其患寒熱交作，口噤咬牙，角弓反張，口吐涎沫。入陰則身涼自汗，傷處反平陷如故者，其毒即內收。當用萬靈丹發汗，令風邪外出，次以玉真散，患上貼之，得膿為效。如汗後，前症不退，傷處不高，漸醒漸昏，時發時止，口噤不開，語多不出者，終為死候。萬靈丹：茅朮人兩，全蠍、石斛、明天麻、當歸、甘草（炙）、川芎、荊芥、北細辛、防風、麻黃、川烏（湯炮去皮）、草烏（湯炮去皮塵）、何首烏各一兩，明雄黃六錢。上為細末，煉蜜為丸，或一兩分作四丸，或一兩分作六丸或一兩分作九丸，三等做下，以備年歲老壯，病勢緩急取用。外以硃砂研細為衣，磁罐收貯，每用連須大蔥白九枚，煎湯一茶盅，將藥一丸，乘熱化開，通口服，蓋被出汗為愈。如服後汗遲，再用蔥湯催之，汗必如淋，少傾漸去蓋被，其汗自斂（此丹，凡一切腫毒風氣，宜發散者，皆可服之。如諸病無表症相兼，不必發散者，只用熱酒化服，服後避風，宜食稀粥。忌冷物、房事，孕婦勿服）。玉真散：南星、防風、白芷、天麻、羌活、白附子，等分研末，敷傷處（此藥如打傷欲死，心頭微溫者，以熱酒，童便灌下二錢，隨進二服，立可回生。如破傷風，牙關緊急、腰背反張，甚則咬牙縮舌，以童便調服三錢，雖內有瘀血亦愈。若治瘋犬咬，急用漱口水洗淨，搽咬傷處，亦效）。蠐螬蟲兩個（狀如蠶，一名土蠶，遇物觸之，則自捲曲，糞土堆中多有之），兩指捏其腰，候口中吐出黃水，扶傷處；用鴨翎燒灰存性，細研，滾湯調下，服一錢，身上衣服加厚，或覆被，少睡片時，瘡口覺麻，兩腋微汗，風出立愈。如風緊急，速取此蟲三五個，剪去尾，將肚中黃水塗患處；再將黃水滴熱酒內飲之，汗出立效。真蘇術末，酒服三錢。牛皮膠燒灰存性，研細，酒服二錢，取汗。蓮房燒灰，研細敷之，再用酒調服，皆效。蟬蛻四兩，燒灰存性，無灰酒服，蓋被出汗愈。</p>
<p><u>急鎖喉風</u>　其症先二日，胸膈氣緊，呼吸短促，摹然咽喉腫痛，手足厥冷，氣閉不通，急用巴豆七粒（三生四熟，生者去殼研，熟者去殼炒，去油存性，研），明雄黃（研）、鬱金一個（蟬肚者，研，市中多以薑黃偽充，必光明脆澈，苦中帶甘味者為真），每用末半匙，茶調下。如口噤咽塞，用小竹管納藥吹喉中，須臾吐利，即醒（此方兼治單蛾、雙蛾）。如無前藥，用升麻四兩銼碎，水四碗，煎一碗，灌服。或用皂莢槌碎擂，水灌服，取吐，即不吐亦安。或不用藥，將巴豆去皮，綿子微裹，隨左右塞於鼻孔中，立通。大石決明二三個，醋炙為末，鵝毛蘸醋藥，筅捻入喉，連嘔濃痰幾次，氣通即愈。白礬三錢，慢火熬化，入去殼巴豆研爛者二粒，候乾，去巴豆；取礬研末，用少許吹入喉中，頑痰出，立愈。巴豆七粒，紙裹捶油，將油作條，燒煙燻入鼻內，牙關自開，再用筋點雄黃、膽礬末，吐出痰，立愈。溫湯半碗，加入桐油三四匙，攪勻，用硬雞翎，蘸油探入喉中，連探四五次，其痰壅出，再探再吐，須以人甦醒聲高為度，後服清咽利膈之藥。鎖喉咽津不下：土牛膝根，即鼓槌風根，搗爛取汁，男左女右。滴入鼻中，少傾，鼻中有紅絲出，即愈。桑樹上所成黃茵，名桑黃，搗汁漱之，立愈。如干者磨水漱之。</p>
<p><u>大麻風</u>　老蝦蟆一個、白砒三錢、銅綠二錢、人中白二錢，研末，裝入蟆口內，線縫好，外以泥包裹，火煅，煙盡為度，取起去泥，約有五錢，隨輕重，配苦參、瓦松各一兩，神麯打糊為丸，如梧子大，每服五分，滾水或麻黃湯或酒下，皆可。眉毛先落，肝經受病，加石決明。先損眼目，心經受病，加梔子。面起紫泡，肺經受病，加葶藶。遍身如癬，脾經受病，加白朮。腳底先破穿，腎經受病，加破故紙。五死飲：脾死，麻木不仁，蒼朮湯下。血死，潰爛生膿，生地湯下。肉死，割切不痛，苦參湯下。筋死，手足婪落，續斷湯下。腎死，腳下有孔，薏苡牛膝湯下。</p>
<p><u>絞腸沙</u>　垂危將死者，尿屎已出，急用生芋艿一片，放在病人口中，嚥下喉即醒，醒後再吃幾片，亦可生。好明礬末，滾水調服三五錢，亦效。胡椒二十四粒，綠豆二十四粒，同研，熱酒調服，即愈。鹽少許，置刀頭燒紅，淬入水中，乘熱飲，即死者亦蘇。</p>
<p><u>中寒腹痛並絞腸沙</u>　胡椒七粒，以布一層包裹，不拘自己或他人嚼碎，納入臍中，隨用膏藥貼上，再以熱手按之，蓋被而臥，少頃，腹中作熱，或有汗出，則寒氣散而痛自愈矣。</p>
<p><u>乾霍亂絞腸沙</u>　凡手足厥冷，欲吐不吐，欲瀉不瀉，陰陽乖隔，升降不通，轉筋入腹，並痰壅，腹脹，汗出、氣冷欲絕，炒鹽一兩，牙皂一錢，水二盅煎服，即吐，候胃氣一回即愈。吳茱萸三四兩，用鹽數兩，炒熱，熨臍下，亦效。</p>
<p><u>一切男婦腹痛緊急，不識何症</u>　用鹽微炒，以布裹，熨痛處，立止。</p>

<h2>瘟疫諸症</h2>
<p><u>瘟疫</u>　丹溪曰：眾人病一般者，此天行時疫。治有三法，宜補、宜散、宜降。大黃、黃芩、黃連、人參、桔梗、蒼朮、防風、滑石、香附、人中黃、為末，神麯糊丸，每服五七十丸。氣虛，四君子湯。人參一錢、白朮（土炒）二錢、甘草（蜜炙）七分；血虛，四物湯。當歸二錢、熟地二錢、川芎錢半、白芍錢半；痰多，二陳湯。陳皮錢半、半夏（薑製）一錢，茯苓一錢，甘草（蜜炙）六分，照症作引送下。若熱甚者，加童便。</p>
<p><u>神仙百解散</u>　山茵陳、柴胡、人參、羌活、獨活、蒼朮（米泔浸，炒）、甘草、乾葛、升麻、防風、藁本、藿香、白芍、半夏（薑汁製）、白朮各一兩。立春以後，不加減；立夏後，加柴胡、赤茯苓、當歸各五錢；立秋以後，減柴胡□分（不用當歸、赤苓），加乾葛（炮）、肉桂（去皮）各一條，麻黃（去節）五錢；立冬以後，無加減。上為末，每服三錢，水碗半，姜三片，棗二枚，煎一碗熱服。如表散，加蔥白三寸同煎，覆被出汗，愈。</p>
<p><u>時疫不傳人</u>　蒼朮三錢三分三釐（米泔水侵，切片，炒）、甘草一錢六分六釐，撫芎八錢五分、乾葛一錢三分六釐、姜三片，蓮鬚蔥頭三個，水二碗，煎八分，空心服。已病者愈；末病者不染也。時病方：半夏、川芎、茯苓、陳皮、山楂、白朮、甘草各等分，蒼朮（為君），水碗半，煎服。頭痛加酒芩，口渴加乾葛，身痛加羌活、薄荷、防風、芍藥。</p>

<h2>中風諸症</h2>
<p><u>初中痰盛不省人事</u>　其症卒然暈倒，不能言語，急以廣東蘇合丸，或竹瀝，薑汁，調藥灌醒。隨用白朮、天麻、當歸、川芎、薄荷、桂枝、南星、陳皮各等分，水碗半，煎七分，臨服加竹瀝一酒盞，薑汁二茶匙，調勻同服。如無蘇合丸，急以星香湯。南星五錢、木香一錢，煎服。真牛黃一分，研極細，滾湯送下，亦效。細辛末，吹入鼻中，一嚏即醒。端午，取白鳳仙花，浸於燒酒內，包好，無論年月，遇此症，溫服一杯，其痰立時消化。</p>
<p><u>中風口噤不能開</u>　白鹽梅揩齒，即能開，並不傷齒。</p>
<p><u>中風口噤不語</u>　白明礬二錢，研末，用生薑自然汁調，斡開口，藻服，其涎或吐或化下即醒。黑馬料豆一升，煮汁，煎稠如飴，含汁，即能言也。</p>
<p><u>因寒中風</u>　強直、口噤、戰掉、身無汗者，宜姜附湯溫之。乾薑、附子各等分，煎服。或稍佐麻黃。</p>
<p><u>因虛中風</u>　補中益氣湯，或六君子湯，參、術多取效。補中益氣湯：黃耆（蜜炙）一錢五分，甘草（炙）五分，人參一錢。陳皮五分，歸身（酒洗）一錢，白朮五分，柴胡、升麻各三分，水兩碗，姜三片，棗二枚，煎一碗，空心熱服。六君子湯：人參一錢五分，白朮、白茯苓各二錢，甘草（炙）、半夏、陳皮各一錢，亦加薑棗煎服。</p>
<p><u>中風燥閉</u>　宜三化湯下之。枳實、厚朴、大黃、羌活各三錢，煎服自解。</p>
<p><u>中風口眼歪斜</u>　生瓜蔞絞汁，和大麥面作餅，炙熱，熨心頭，一正便止，勿令過度。</p>
<p><u>中風口噤及口歪、半身不遂</u>　中經絡則口眼歪邪，中血脈則半身不遂。用白附子、殭蠶、全蠍各等分，研末，每服二錢，酒下。</p>
<p><u>半肢風</u>　半邊身冷，用真正廣西桑寄生。緩用則浸酒溫服，急用則煎酒服。</p>
<p><u>豨薟丸</u>　專治肝腎風氣，四肢麻痹，骨間疼痛，腰膝無力；亦能行大腸氣，治三十六般風，甚效。此草處處有之，其葉對節而生，葉似蒼耳，春苗秋花，末結實。法用五月五中，六月六日、九月九日，採葉，洗淨、曝乾，鋪入甑中，用好酒拌蜜，層層勻酒蒸之，復曬乾。如此九次，碾末煉蜜為丸，如桐子大，每服四十丸或五十丸，空心，無灰好酒送下。又方：豨薟草，不拘多寡，搗爛取汁，用鏡面燒酒沖服。大約汁四分、酒六分，頓滾，下午服，即暖睡，再不可用。食四服，無不效。</p>
<p><u>史國公藥酒方</u>　元臣史天澤有云：臣謹沐聖恩，叨居相職，節宣不謹，遂染風疾，半體偏枯，手足拘攣，不堪行步，醫治十年，全無寸效，乞骸歸里，廣訪名醫。至元十七年三月中，驛道獲異人面臣疾，傳以神方，大臻靈驗。臣依方浸酒，末服之先，非人扶不能起，及飲一升，便手能梳頭；二升，手足屈伸有力；服三升，言語舒暢，行步如故；服四升，肢體通暖，百節遂和，舉步如飛，其效如神。乞頒行天下，黎元咸臻壽域。</p>
<p>防風（去蘆）二兩，治四肢骨節疼痛，渾身拘急。秦艽（去蘆）二兩，沼四肢拘急，言語蹇澀，萆薢二兩，酥炙，治骨節疼痛；當歸三兩，補血生血。川牛膝（去蘆）一兩，治手足麻痹。腰膝疼痛，補精髓，行血脈；虎脛骨二兩，炙酥，退骨節中毒，壯筋骨；鱉甲二兩，九肋者佳，治癱瘓；蒼耳子四兩，槌碎，去風濕骨節頑麻；晚蠶砂二兩，炒黃色，治癱瘓，百節不遂，皮肉頑麻；羌活二兩，治風濕、百節疼痛；枸杞子五兩，炒，治五臟風邪，補肝腎，明目；油松節二兩，槌碎，壯筋節；干茄根八兩，飯上蒸熟，治諸毒氣，風濕在諸骨節，不能屈伸；杜仲三兩，薑汁拌炒，去絲，補腰膝；白朮二兩，去蘆；土炒，補脾胃。上各㕮咀，盛布袋中，投大壇內，入好酒三十五斜，封壇口，浸十四日滿，將壇入湯鍋，蒸煮三個時辰，取壇入土內埋三日，去火氣（如不埋，放過一月服之，火氣亦出）。每日清晨午後，各服五七盅，大有補益，愈於服他藥也。</p>

<h2>傷寒諸症</h2>
<p><u>傷寒六經辨</u>　傷寒書、莫詳於仲景，但傳經，各有時候，療治難執一法，因錄脈於下，俾閱者知所傳之經，因知所治之方，庶不至誤服，而病可療矣。脈浮緊：主無汗，頭項痛，腰脊強，謂之傷寒，病在太陽，脈浮長：身熱，目疼，鼻乾，不得眠，病在陽明；脈弦：胸脅痛，耳聾，寒熱往來而嘔，病在少陽；脈沉細：咽乾，腹滿，自利，病在太陰；脈微緩：口燥，舌乾，病在少陰，脈沉澀。煩滿，囊縮，病在厥陰。</p>
<p><u>傷寒諸症</u>　無論陰陽虛實一切等症，用潔白糖五錢。陰症，蔥薑湯調下；陽症，百滾湯下；暑症並中熱、中暍，新汲水下；虛症，米湯下；實症，陳皮湯下；傷食，山楂湯下；結胸症，淡鹽湯下；蛔厥症，烏梅花椒湯下；緊沙腹痛，新汲水下；婦人血崩，鍋臍煤湯下。</p>
<p><u>傷寒噁心</u>　陳皮、半夏、茯苓、桔梗、白朮、蒼朮、厚朴、紫蘇、藿香各錢五分，甘草、大腹皮各一錢，加姜三片，水煎服。</p>
<p><u>解利兩感傷寒</u>　經云：兩感不治（陰陽俱受，而為兩感）。然所稟有虛實，所感有淺深。若稟實感淺，間亦可生，治之而不救者有矣，未有不治而生者。用此十中常活一二。羌活一錢五分，獨活、防己、黃芩、黃連、白朮、川芎各一錢，細辛五分，生地、知母各二錢，水煎，熱服。</p>
<p><u>傷寒狂走</u>　雞子殼（出過小雞者）泡湯服，即睡。</p>
<p><u>傷寒結胸停食</u>　陳香糟六兩、生薑四兩、水菖蒲根四兩、鹽二兩，共搗勻，炒熱為餅，敷胸前痛處，以火熨之，內響即去。如口渴，任吃茶水，待大便利，下惡物，即愈。</p>
<p><u>傷寒熱結不解</u>　枳實五錢、大黃七錢，瓜蔞四錢，煎服。</p>
<p><u>傷寒發黃</u>　傷寒五六日，忽發黃色，急將麻油半盞，和水半盞，入雞子清一枚，攪和服之，神效。</p>
<p><u>傷寒並一切雜病、嘔噦、手足逆冷</u>　橘紅一兩、生薑一兩，水兩碗，煎八分，徐徐嚥下，即愈。</p>
<p><u>時疫傷寒舌黃、煩躁、狂言、發熱</u>　吞生雞子一二枚，即時清爽。</p>
<p><u>喉管傷寒</u>　凡喉中作癢難過，不可吃茶，酒、湯水。將薄荷二分，麝香一分，作極細末。吹入喉中，待其氣通，吐出涎水碗許，然後吃陳黃米湯半茶杯，即愈。若不知者，竟吃茶，酒等項，便不可救。</p>
<p><u>傷寒發頤</u>　原受風寒，表邪末盡，日久身熱不解，耳項前後結腫，疼痛，初起身熱口渴。柴胡、天花粉、乾葛、黃芩、桔梗、牛蒡子、連翹、石膏各一錢，甘草五分，升麻三分，水煎，不拘時服。初起身涼，不渴，患上微熱、不紅、疼痛。牛蒡子、桔梗、陳皮、天花粉、黃連、川芎、赤芍、甘草、蘇木各一錢，水煎服。</p>

<h2>傷風諸症</h2>
<p><u>傷風頭痛，發熱無汗</u>　冰糖五錢，生薑五錢，煎湯，熱服，取汗。</p>
<p><u>傷風身熱、有汗、脈浮、咳嗽、痰多</u>　陳皮八分，紫蘇、杏仁（去皮尖，炒，研）、半夏（薑製）、桑白皮（蜜炙）、貝母（去心）、白朮（土炒）各一錢，五味子七粒（研），甘草六分，生薑三片，棗一枚，水煎，熱服。</p>
<p><u>傷風發熱、頭疼、咳嗽</u>　川芎、白芷、紫蘇各八分，陳皮七分，香附子一錢，甘草五分，水兩碗、姜三片、蔥頭兩個，煎八分，空心服。</p>
<p><u>傷風頭疼、發寒、潮熱</u>　細辛、白芷、石膏各一錢，川芎八分，水二碗，煎八分，空心溫服。</p>
<p><u>傷風中寒重者</u>　蒼朮、半夏、厚朴各一錢二分，前胡一錢，川芎、藿香各八分，陳皮七分，甘草五分，水二碗、煎八分，溫服，汗出為愈。</p>
<p><u>風熱、發癢、起斑塊</u>　防風、荊芥、黃芩、連翹各一錢，甘草五分，升麻四分，木通六分，枳殼八分，桔梗七分，水煎服。風疹塊，白雞冠花煎洗。</p>
<p><u>十神湯</u>　治時令不正，瘟疫妄行，感冒發熱，或欲出疹。此藥不問陰陽兩感風寒，並皆治之。川芎、麻黃、乾葛、蘇葉、白芷、陳皮、香附各一錢，赤芍八分，甘草（炙）七分，升麻五分，生薑三片，煎服。發熱頭痛，加連須蔥白。中滿氣實，加枳殼，桔梗。天氣和暖，加黃芩，去麻黃。</p>

<h2>瘧疾諸症</h2>
<p><u>瘧疾總論</u>　王節齋曰：瘧是風暑之邪，有一日一發，有二日一發，有三日一發，有間一日連發二日，日與夜各發。有有汗，有無汁。有上半日發，有下半日發，有發熱於夜者。治法：邪從外入，宜發散之，然以扶持胃氣為本，又須分別陽分陰分而用藥。邪瘧及新發熱者，可散可截；虛瘧及久者，宜補氣血。若服過截藥，致傷脾胃，則必延綿不休。主方：柴胡、白朮、蒼朮（米泔浸）各一錢（以上三味，瘧疾必用之藥），陳皮七分，甘草（炙）五分，乾葛一錢二分。一日一發及午前發者，邪在陽分。加枯黃芩、茯苓、半夏各一錢，熱甚頭痛，再加川芎，軟石膏各一錢；口渴加石膏、知母、麥門冬各一錢。間日或三日發、午後或夜發者，邪在陰分，加當歸、川芎、酒炒芍藥，熟地黃、炒知母各一錢，酒洗紅花、酒炒黃柏各四分，提起陽分，可截之。間一日連發二日，或日夜各發者，氣血俱病，加人參、黃耆、白茯苓各一錢以補氣；川芎、當歸、白芍藥、熟地黃各一錢以補血。陽瘧多汗，黃耆、人參、白朮以斂之；無汗，柴胡、白朮、蒼朮、黃芩、乾葛以發之。陰瘧多汗，當歸、白芍藥、熟地黃、黃耆、黃柏以斂之；無汗，柴胡、蒼朮、大川芎、紅花、升麻以發之。故曰：有汗者，要無汗，正氣為主；無汗者，要有汗，散邪為主。病人胃氣弱，飲食少，或服截藥，傷脾胃而少食者，加人參一錢五分，酒炒芍藥、大麥芽各一錢。厭食痞悶或有食積者，加神麯、麥芽、枳實（炒）各二錢，黃連（炒）五分。痰盛，加薑製半夏、南星、枳實（炒）各一錢，黃芩、黃連各六分。若欲截之，加檳榔、黃芩、青皮、常山各一錢，烏梅肉三個。日久虛瘧，寒熱不多，或無寒，而但微熱者，邪氣已無，只用四君子合四物湯（方見瘟疫諸症），加柴胡、黃芩、黃耆、陳皮，以滋補氣血。</p>
<p><u>止瘧</u>　不拘間日或日日發。虛瘧汗多者，柴胡、知母、當歸俱各一錢，桂枝六分，防風四分，黃耆二錢，何首烏、青皮各八分，穿山甲（土炒）八分，水二碗，煎一碗，露一宿，面北方，溫服。陳皮、澤瀉各八分，當歸，柴胡各錢二分，製半夏、茯苓、黃芩各一錢，甘草七分，人參八分，量虛實增減用，水煎服。貝母、生半夏，各為末，端午日午時，合一處，瘧末發將發之際，一飯前，將末一錢，生薑汁調服，立止。獨蒜十二個（煨熟），桃仁一百個（去皮尖，雙仁者），搗爛，加入上好黃丹，再搗勻，丸如黃豆大，每服三丸，當發日早晨，溫酒一杯，面東吞下。白糖四兩，調化燒酒內，溫服、飲至微醺自止。新潔泉水，煎至百沸，一碗約至半碗，發瘧時，寒過熱來，坐起椅上，去被增衣，不時熱服少許，助汗，多發一兩個時辰，覺腹中寒冷氣盡，舒暢即止。陳月坡治瘧方：陳皮、製半夏、當歸各一錢，柴胡、黃芩、澤瀉、茯苓各八分，甘草（炙），升麻、乾葛各五分，生薑兩片，棗頭一個，桃頭五個，水兩碗，煎熱服。忌生、冷、魚面。據月坡云：方有百種，唯此穩當無誤。須服二十劑，服五六劑後得加入人參，更易愈也。</p>
<p><u>三陰瘧</u>　用草果一錢於碗內，水半碗，水上蓋以棉紙，紙上用人參三錢，隔一夜，於次日飯鍋上蒸之，只將人參煎湯服，不用草果，即愈。如不愈，再進一服，無有不止者。常山一兩，煮黑豆一合，去常山，取黑豆食之，神效，無後患。</p>
<p><u>久瘧</u>　貝母一錢五分，當歸、川芎、柴胡各三錢，水煎，未發時服，自愈。</p>
<p><u>隔年瘧</u>　乾薑五錢、白朮三錢，煎服，愈。雄黃三錢（為末）、龜板一個（去兩旁），放火上，將雄黃末徐徐鋪在龜板上，煅黑，碗蓋存性，取起研末，酒服。厚被蓋臥，立愈。</p>
<p><u>年久虛瘧</u>　虛瘧年久不愈，漸成怯弱者，人參、川芎、青皮（米醋拌炒）各一兩，當歸、白朮（炒黃）、薏苡仁（水洗，炒）、白茯苓（去皮膜）、鱉甲（米醋浸，炙酥黃色，再用米醋煮，去裙，取板，槌碎為末）各二兩。共為末，黃米打糊為丸，如桐子大，早晚白湯服百餘丸。</p>
<p><u>瘴瘧</u>　感山嵐瘴氣作瘧。實者，霍香正氣散（方見吐瀉諸症）；虛者，人參養胃湯。蒼朮一錢，半夏（制）、厚朴（薑汁炒）、橘紅各八分，藿香、草果、人參、茯苓各五分，甘草（炙）三分，姜七片、烏梅一個，水煎服。</p>

<h2>吐瀉諸症</h2>
<p><u>嘔吐</u>　得食即吐，為火；停久而來，為寒，皆主脾胃不和。蒼朮、厚朴各一錢，陳皮八分，甘草四分，半夏、茯苓各一錢。寒加丁香、乾薑、肉桂各三分；熱加黃連五分（薑汁炒），煎服。胃虛不能納食而吐，人參、白朮、（土炒）、半夏（制）各一錢，炙甘草五分，茯苓一錢二分，橘皮十分，丁香三分，砂仁五分，煎服。</p>
<p><u>霍亂吐瀉</u>　霍亂者，揮霍撩亂者也，外感內傷，陰陽乘隔，以致上吐下利。偏陽多熱，偏陰多寒，卒然而成，危如風燭。得吐利者，名濕霍亂，輕，蓋所傷之物盡出也。上不得吐，下不得利，所傷之物不得出，死甚速。須用鹽湯探吐，得出則寬。切莫與穀食，入口即死。直至飢甚，吐瀉過，二三時辰，方可與稀粥食之。吳茱萸、木瓜，食鹽各五錢，同炒焦，先將磁罐盛水三碗，煎百沸，入藥同煎至碗半，隨病人意，冷熱服。生半夏搗爛，貼臍內，立止。如死，而腹尚有暖氣，艾灸七壯，立生。炒鹽一撮，陰陽水一鐘調服，腹痛稍止，當服藿香正氣散。藿香二錢，白芷、桔梗、半夏（薑汁製），紫蘇、陳皮、白朮（炒）、大腹皮、茯苓、厚朴（薑汁炒）各一錢，炙甘草五分，姜三片、棗二枚，水煎溫服（此散原治四時不正之氣，不服水土，脾胃不和，吐利腹痛，飲食停滯，噁心胸滿等症）。霍亂但一點胃氣存者，陳皮、藿香各五錢，煎服，愈。</p>
<p><u>傷暑霍亂吐泄</u>　冒暑伏熱，煩悶，氣不升降，霍亂轉筋，嘔吐泄瀉，寒熱交作，痰喘咳嗽，胸膈痞滿，頭目昏痛，肢體浮腫，小便赤澀，怠惰嗜臥。豬苓，澤瀉各七分，赤茯苓、乾葛各一錢，天花粉二錢，香薷、黃連、甘草、白朮各五分。泄極，加升麻七分，黃芩、石膏各八分。熱極，加石膏、知母各一錢。腹痛，加炒芍藥五錢、肉桂三分。寒痛亦然。水二碗、姜三片，煎八分，溫服。如無藥，絲瓜葉一片，白梅一枚並核中仁，同研極爛，新汲水調服，即瘥。</p>
<p><u>胃氣虛冷吐瀉</u>　蒼朮一錢二分、厚朴一錢、陳皮八分、甘草五分，煎服，愈。</p>
<p><u>水瀉</u>　蘄艾三錢，水煎，空心服。或炒麵、枯礬（砂糖和丸），服三小丸，忌油膩。</p>
<p><u>五更瀉</u>　名腎瀉，蓋陰感而然。脾惡濕，濕則濡而困，因則不能制水，水性下流，則腎水不足。宜多用五味子（去梗）二兩（以強腎水，補養五臟），次吳茱萸（去梗）五錢（去脾中之濕，濕少則脾健，脾健則制水不走，方得脾胃和而五臟榮矣），同炒香，為細末，每服二錢，陳米飲下。四神丸亦效。破故紙四兩（酒浸一宿，炒）、肉豆蔻二兩（麵裹煨），五味子二兩（去梗）、吳茱萸一兩（泡過，炒），上為末，用生薑八兩，切片，同大棗百枚，煮爛，去姜，取棗肉，丸如桐子大，每服一錢，淡薑湯送下（此丸原治脾胃虛弱，小便不利，飲食不思，或泄利腹痛等症，兼治腎泄，清晨溏泄一二次，經年不止者）。</p>
<p><u>脾瀉胃弱</u>　沉香二錢，茯苓，石斛、蒺藜（炒去刺）各二兩，枳實（麵炒）、廣皮、膽星、川厚朴（薑汁炒）各一兩，豆蔻、於術（土炒）各五錢。山藥八錢，神麯打糊為丸，每服二錢，滾水下。不拘寒熱服之，皆能順氣理脾。</p>

<h2>痢疾諸症</h2>
<p><u>痢疾總論</u>　王節齋曰：痢是濕、熱、食積三者，別赤白青黃黑五色，以屬五臟。白者，濕熱傷氣分；赤者，濕熱傷血分；赤白相雜，氣血俱傷；黃色稠濁者，食積。治法，瀉腸胃之濕熱，開鬱結之氣，消化積滯，三因通用。其初則下之，下後未愈，隨症調之。痢稍久者，不可下，胃虛故也。痢多屬熱，亦有虛與寒者，虛者宜補，寒者宜溫。年老及虛弱人，不宜下。主方：黃連（炒）錢半，黃芩（炒）二錢半，白芍（炒、二錢，木香、枳殼（炒）各一錢五分，檳榔五分，甘草（炙）三分。腹痛，加當歸一錢半、縮砂一錢，再加木香、芍藥各五分。後重、小便澀，加滑石（炒）一錢半，再加枳殼、檳榔、芍藥（生用）、黃芩（條實者）各五分。白痢，加白朮、白茯苓（炒）。滑石、陳皮各一錢，初欲下之，再加大黃五錢，兼食積者，加山楂、枳實各一錢。紅痢，加當歸、川芎、桃仁各一錢半，初欲下之，再加大黃五錢。紅白相雜，加當歸、川芎、桃仁各一錢半，以理血；滑石、陳皮、蒼朮各一錢半，以理氣；有食積，亦加山楂、枳實。白痢久，胃弱氣虛，或下後未愈，減芩、連、芍藥各七分，加白朮一錢半，黃耆、茯苓、陳皮各一錢，縮砂、炙乾姜各五分，去檳榔、枳殼。紅痢久，胃弱血虛，或下後未愈，減芩、連各五分，加當歸、）川芎、熟地黃、阿膠、陳皮各一錢，白朮一錢半。色赤黑相雜，此濕盛也。小便赤澀短少，加木通、澤瀉、茯苓各一錢，山梔子（炒）五分，以分利之。血痢，加當歸、川芎、生地黃、桃仁（炒）、槐花各一錢。久不愈，減芩、連各七分，去檳榔、枳殼，再加阿膠、炒扁豆葉各一錢半，炒黑乾薑一錢，白朮一錢半，陳皮一錢。痢已久，而後重不去，此大腸墜下，去檳榔，加枳殼。用條實黃芩，加升麻一錢，以升提之。嘔吐食不得下，加軟石膏一錢半、陳皮一錢、山梔仁（炒）五分，入生薑汁，緩呷之，以瀉胃口之熱。有一種氣血虛而痢者，四物湯（方見溫疫諸症）加人參、白朮、陳皮、黃連、黃芩、阿膠之類補之，痢自止。氣下陷加升麻。有一種寒痢，黃連、木香、酒炒芍藥、當歸、炒乾薑、縮砂、厚朴、肉桂之類溫之。患痢誤服溫熱止澀之藥，雖則稍久，亦宜用前法下之，下後方調之。患痢，便用前法下之而未愈，又用前調理法治之而久不愈，此屬虛寒而滑脫，可於前虛補寒溫二條擇用，更加龍骨、赤石脂、罌粟殼、烏梅肉等收澀之藥。</p>
<p><u>治痢初起</u>　水紅花近水邊者，取花葉炒末，每服三錢。紅痢，蜜湯下；白痢，砂糖湯下；紅白痢，砂糖、蜜湯調下，三服即止。三月三薺菜花連根掛風處，陰乾，用時瓦上焙乾成灰，砂糖湯調服。立夏前將荸薺曬乾，燒酒浸服四枚、即愈。不拘久近赤白，陳細茶三錢，連皮生薑切片三錢，水盅半，煎八分，食遠服。</p>
<p><u>噤口痢</u>　男婦湯飲不下者，烏梅一斛，敲碎，置盆中，將十餘碗水，煎滾泡熱。令病人坐盆上，待熱氣衝上肛門，溫即洗，其人亦睡去，即扶上床，煎粥湯候之。如思飲食，即與粥湯半碗，少頃，與稀粥半碗，不宜多。若小兒，照方減半可也。黃連三錢、人參一錢五分，水一盅，煎七分，溫服，藥入口即蘇。烏梅二個，夾住鍋牛一條，繩扎住，安口中，化水滴下，愈。木鱉子研，和麵作餅，貼臍中，亦效。</p>
<p><u>熱痢有血，後重，腹痛難忍</u>　大黃、黃芩各二兩，滑石（水飛）、黑牽牛（另磨，取頭次末）各四兩。上為末，米糊丸，桐子大，每食後白湯服七八十丸。</p>
<p><u>下痢純血</u>　黑炮姜一味，每服米飲調下二錢。久而不愈，真阿膠（蛤粉炒珠）、川黃連（酒洗）、當歸（酒洗）各一兩，烏梅肉（焙燥）、乾薑（炒黑）各五錢。上為末，將阿膠化，和麵糊丸如桐子大，空心，清酒下百丸。</p>
<p><u>久痢</u>　風化石灰一兩（炒黃色）、白茯苓三兩。為末，醋打黃米粉糊為丸，桐子大，每空心米湯下三四十丸。木香五錢，甘草（炙）、黃連各三錢，訶子一兩（半生半熟），為末，煎芍藥白朮湯，調服二錢。泄痢三四月者，苦瓜蔞一個，帶子連穰，火煅存性，為末，作一服，好酒送下。</p>
<p><u>遠年痢</u>　上好豆酒，暖熱一二盅，每盅內入薑汁一二茶匙，不宜多服，數十次自愈。哺退雞子殼，毛坑上掛燥，研極細末，將一分百滾湯送下，即愈。臭椿樹皮一兩五錢，雨前茶一錢五分，扁柏葉二錢五分，棗頭、烏梅各二枚，好酒、白水各一碗煎，須緩服，恐泛。</p>

<h2>痰嗽諸症</h2>
<p><u>痰嗽總論</u>　丹溪曰：有熱痰、濕痰、食積痰、風痰、老痰、燥痰。大法宜降火清肺，火降而痰自除也。經曰：咳謂無痰而有聲，嗽謂無聲而有痰。咳嗽者，因傷肺氣而動脾濕也。病本雖分六氣、五臟之殊，其要皆主於肺，肺主氣而聲出。治法宜分新久、虛實。新病風寒則散之，火熱則清之，濕熱則瀉之；久病便屬虛、屬郁，氣虛補氣，血虛補血，兼鬱則開鬱。滋之、潤之、斂之、降之，治痰之法也。</p>
<p><u>竹瀝達痰丸</u>　此藥能運痰於大腸，從大便出，不損元氣，達痰如神，一切痰火咳嗽，無不治之。半夏二兩（湯泡，洗七次，再用生薑汁浸透，曬乾，切片，瓦上微火炒熟用之）、人參一兩（去蘆）、白茯苓（去皮）二兩、陳皮（去白）二兩、甘草（炙）一兩、白朮三兩（微火炒過）、大黃三兩（酒浸透，曬乾）、黃芩三兩（酒炒）、沉香五錢、礞石一兩（搗碎，用焰硝一兩和勻，放入硝銀罐內，上用瓦片蓋之，鹽泥封固，曬乾，以炭煅過，如金色黃者，可用）。上為細末，竹瀝一大碗半，生薑自然汁二盅，和勻，入鍋內，火熬一刻許，卻將前藥末和搗如稀醬，以磁器盛之，曬乾，仍以竹瀝、薑汁如前法搗勻，再曬乾，如此三次，仍將竹瀝和丸，如小豆大。每服百丸，食遠，白米湯下。</p>
<p><u>痰火</u>　真麻油三兩，以牛黃五錢、明礬一兩，研末，浸油內，痰火發時服一二匙，痰自下。選老足西瓜一個，刮去青皮，鑽一孔，入蜜一碗，繩絡掛於當風處，過冬，春天取用。凡火嗽者，只服半小盅，立愈。天蘿水（霜降後老天羅一株，離地三四尺割斷，插瓶中，取汁存用）兩三碗，加瓜蔞仁、天花粉、羌活、紅花、薑汁，煉膏服，即愈。</p>
<p><u>遠年痰火</u>　官桂（炒）、甘草、款冬花（炒）、旋覆花（炒）各一錢，川貝母二錢。共研末，用蘆管不時呵入咽喉，肺竅開則咳嗽，不妨再呵，但不宜過多，徐徐為妙。飴糖二兩，豆腐漿一碗，煮化頻服，即愈。</p>
<p><u>膈中老痰</u>　不論男婦，久積老痰，或失音，或發喘，或氣促，湯藥不效者，蜜陀僧一二錢，砂糖調白湯送下，痰與藥從大便出，無礙。</p>
<p><u>風痰喘逆、呃呃欲吐、眩暈欲倒</u>　生大半夏一兩、雄黃三錢，為末，薑汁打蒸餅糊為丸，如桐子大，每服五十丸，薑湯下。</p>
<p><u>痰暈</u>　明礬，火煅過，研末，薑湯調下，吐之即愈。</p>
<p><u>痰厥氣絕心溫者</u>　千百年石灰一合，水一盅，煎滾去水，再用清水一盅，煎至極滾，傾出澄清灌之，痰下自愈。</p>
<p><u>久咳嗽，連至四五十聲者</u>　生薑汁半合，蜜一匙，煎熱溫服。</p>
<p><u>鹽冷哮</u>　鹽哮，清晨服豆腐漿，愈。冷哮，乾薑、茯苓各一兩，南星、石膏各七錢，生半夏、杏仁各五錢。研末，每服三錢，烏梅燈心湯服。</p>
<p><u>聲啞</u>　椿樹皮五錢，水煎服。天蘿水，空心溫服。暴失音，公豬板油一斤，入鍋熬油，濾去渣，入白蜜一斤，再熬少頃，濾淨投磁器內，冷定成膏，不時挑服一二茶匙，其音漸清，頗潤肺。</p>

<h2>勞損諸症</h2>
<p><u>傳屍癆</u>　獺肝或獺爪，為末，酒服，愈。</p>
<p><u>虛怯</u>　鰻魚一條，一斤重者，入多年瓦夜壺，鹽泥封固，火炙酥，擊碎，取內中白並鰻灰研末，米飲吞下，每次兩茶匙，自愈。</p>
<p><u>骨蒸勞熱</u>　地骨皮一兩、小青草三錢、六月雪五錢、胡黃連一錢、柴胡二錢、薏米三錢，用雞一隻，洗淨，將藥塞雞內，線縫，酒與水各半煮熟，以酒啖肉，其骨炒燥，其藥磨細，煉蜜丸如桐子大，每巳申時，服三錢，白湯下。怯症發夜熱，地骨皮蒸酒服，自愈。</p>
<p><u>怔忡</u>　其症心中每如人慾捕狀。半夏、茯苓、人參各等分，煎服愈。辰砂五分、當歸五錢，豬心內血為丸，臨睡酒服一錢，亦效。</p>
<p><u>勞役內傷</u>　負重作勞，至傷元氣，補中益氣湯（見中風諸症）療之。</p>
<p><u>腎經虛損</u>　目眩耳鳴，四肢倦怠，心腹脹滿，足膝痠疼，步履艱難，小便滑數，水道澀痛，時有遺瀝等症。菟絲子五兩（淘去沙土，酒煮爛）、白茯苓二兩（去皮膜）、蓮子二兩（去心）、山藥二兩。上為末，即將山藥末二兩，水煮糊和丸，桐子大，每清晨空心服二三錢，白湯送下。</p>
<p><u>諸汗</u>　黃耆、黑豆煎湯飲之，半月全愈。自汗盜汗，生地黃、熟地黃、當歸、黃柏、黃芩、黃連各一錢，水煎服（加黃耆一錢）。</p>
<p><u>不寐</u>　人參、乳香、硃砂各一兩，棗仁四兩，蜜丸，彈子大，臨睡圓眼湯下。</p>

<h2>見血諸症</h2>
<p><u>吐血總論</u>　人身之血，猶水行地中，百川皆理，則無壅逆之患。一身榮衛失調，七情四氣相干，以致氣血逆亂，變生吐血、咳血諸症。夫血之妄行，固由積熱所致，然其症多端。有因飲食過飽，負重傷胃而吐者；有思慮傷心，並積熱而吐血、衄血者；有勞傷心肺，又為七情所幹而咳血、吐血者。心主血，肝藏之，而脾為之統。過思傷脾，亦能令人吐血。治之須究其因。傷胃者，調胃安血；勞心者，補益心志。積熱則清之；氣鬱則順之；傷脾則安之。脈宜沉細，不喜浮數。吐而不咳，易治；唾中帶紅絲者，難醫，為有所損也。</p>
<p><u>止血方</u>　蒲黃、生地各一兩，忌鐵器。水二碗，煎八分，藕節七枚，搗汁入藥，食後溫服。真正五色龍骨二三分，泡滾水一飯碗，飲之，愈。鼠糞二斤，新瓦焙燥、研末，每日以陳好酒服，即止。韭菜根淨，石臼木杵搗爛，入童便在內，布帛絞去渣，只將汁與便以碗盛之，置火邊令熱。濁者居下不用，只取汁便之清者服之。</p>
<p><u>夜熱咳嗽、口燥、吐血初起</u>　黃芩四兩，豬膽三個，拌勻，飯鍋上蒸，曬乾，如此三次。為末，米糊為丸，空心，白湯下。輕者四兩即愈，重者服至一斤，無不效。</p>
<p><u>吐血咳嗽</u>　真阿膠（蛤粉炒）五錢、揀天冬肉（去心）一兩、川貝母（水洗，去心）五錢、白茯苓五錢、杏仁（湯泡，去皮、尖，炒黃）五錢。共為細末，煉蜜丸如龍眼核大，不時噙化一丸，加甘草五錢。藕節汁、梨汁、茅草根汁、蘿蔔汁、雞冠汕、麻油各四兩，煎膏服，愈。童便一杯，入生薑自然汁一二匙，緩服，自愈。</p>
<p><u>血熱妄行</u>　生荷葉、生艾葉、生柏葉、生地黃各等分，搗爛，丸如雞子大。每一丸，水二碗，煎八分，去渣服。</p>
<p><u>血噴成升斗者</u>　花蕊石不拘多少，煅存性，研如粉，童便一盞，頓溫，調末三錢，食後下。如男子則和酒，女子和醋，與童便調藥，服後用獨參湯補之，須熱睡一覺自止。</p>
<p><u>痰中見血</u>　白朮、丹皮各錢半，當歸、芍藥、桃仁（去皮尖，研）、貝母俱各一錢，山梔（炒黑）、黃芩各八分，桔梗七分，青皮五分，甘草三分，水煎服。</p>
<p><u>吐血下血</u>　其症皆因內損，或酒色過度，或心肺膜破，血氣妄行。血如泉湧，口鼻俱出，用扁柏葉（焙乾）一兩、人參一兩（焙乾），為末，每服二錢。再入飛羅面二錢，井花水調勻，如稀漿糊服之。荊芥一握，燒過，蓋地上，出火氣，研末，陳米煎飲，調下三錢，不過二三服，自愈。</p>
<p><u>鬱熱在內、衄血及咯血、吐血、下血</u>　枸杞子、柴胡、地骨皮、天門冬（去心）、白芍、黃芩、黃耆各一錢，黃連八分，生地、熟地各一錢二分，甘草四分，水煎，空心服，若下血，加地榆一錢。</p>

<h2>腫脹諸症</h2>
<p><u>鼓脹</u>　鼓症有十。氣鼓，食鼓，熱鼓，風鼓，勞鼓，濕鼓，蟲鼓，血鼓，疳鼓，胸腹腫脹並四肢腫者。如遇患人，腹上用手指按之，有窩可治。脈壯者，易治。脈細並臍窩腫出者，難治。雞里金一具（焙），真沉香、砂仁各三錢，陳香圓（去核）五錢。共為末，每服錢五分，薑湯下。雄烏豬肚一具，入大蒜四兩在內，煮爛，連用五七個。忌鹽、醋、醬一百日。</p>
<p><u>氣鼓</u>　以大麥須（陳者為上）煎湯服。泄氣即消。</p>
<p><u>鼓脹水腫</u>　陳皮、木通、大腹皮（鹽水洗）、茯苓各一錢，車前子（去殼）三錢，茵陳一錢五分，檳榔八分，米仁三錢，水煎服，忌口食淡，方效。千絲瓜一條，去皮，煎碎，入巴豆十四粒，同炒，以巴豆黃色為度，去巴豆，只用絲瓜，同陳倉米炒黃（米與巴豆，先須等分），又去絲瓜，只用米研細末，清水為丸，桐子大，每服百丸，滾湯下。腫脹不服藥，自去水，真水銀粉二錢、巴豆肉（研，去油）四兩、生硫黃一錢，研成餅，貼臍上，黃水自下（貼時先以綿一片鋪臍上，次貼藥餅，外用帛縛之），如人行三五里，黃水自下，待三五度去餅，溫粥補之。久患者，隔日取水。</p>
<p><u>水腫腹脹及黃疸、火丹、發腫</u>　香圓（陳久者，去穰）四兩、人中白（陰煉）三兩，共為末，每服一錢，白湯下。火丹，芥菜搗爛，敷之。蠶沙、山梔、黃連、黃芩、黃柏、大黃、寒水石，共為末，水調敷上，立效。白火丹，天羅水吞愈。兼治黃疸。</p>

<h2>黃疸諸症</h2>
<p><u>五疸</u>　症有五者之分，終無濕熱之異。蓋濕熱積於脾胃之中，久而不散，故其土色形於面與肌膚也。谷疸者，食已頭眩，心中怫鬱不安，飢飽所致，胃氣蒸沖而黃。苦參二兩（研）、龍膽草一兩（碎）、牛膽汁一兩，入煉蜜少許、丸如桐子大，每服五十丸，空心，滾水，或生薑、甘草湯下。酒疸者，身目俱黃，心中澳FG憹，足脛滿，尿赤，面黃，赤斑。因酒後胃熱，醉臥當風，水濕得之也。梔子十五個、大黃一兩、淡豆豉一兩、枳實五個，水煎服。女癆疸者，額黑，身黃，少腹滿急，小便不利。因房事後，為水濕所搏而得之也。硝石、礬石，各燒過，等分為末，大麥粥汁調服二錢，日進三服，取汗。黃汗者，汗如梔子水，染衣黃，不渴。因脾熱，汗出入水澡浴所致。黃耆、赤芍、茵陳各二兩，石膏四兩，麥冬（去心）、豆豉各一兩，甘草（炙）五錢。為末，每服五錢，淡薑湯，食遠服。黃疸者，通身面目悉黃如金。白朮、豬苓、澤瀉、茵陳各一兩，茯苓一兩五錢。為末，白湯調下五錢，每日三服。多飲暖水，汗出愈。</p>
<p><u>黃疸通治方</u>　三白草一把，搗汁一茶盅，沖生白酒，空心服。冬用根，搗汁，和酒服，如曬乾收貯者，研末三錢，酒下。枸杞根搗汁，熟生白酒沖服。土牛膝四兩，生白酒三碗，煎沸六七次，空心連服三日，除根。天蘿過霜降者一條，連子燒存性，木香二錢，共研末，早晚生白酒送下。純黑豬膽一個，陳黃米炒，研末，入膽汁為丸，生白酒送下。白芥子二錢（小兒只用五分），研碎，燒酒調，用白布攤之，貼臍下小肚上，一周時，起泡為度，須戒鹽、甜之物。</p>
<p><u>黃白二疸</u>　龍牙草四兩，蒸，白短水酒服之，愈。重者即單服黃牛尿，酒過，亦效。</p>
<p><u>陰虛二疸</u>　陰黃者，四肢冷，自汗，泄利，小便清白，脈沉遲者是。虛黃者，耳鳴，口淡，怔忡，微熱，四肢無力，怠惰，嗜臥，腳軟，脈沉細，寒熱，溲白者是。皆以理中湯治之。人參、白朮各二錢五分，甘草（炙）、乾薑（炮）各一錢，水煎，空心服。</p>
<p><u>酒疸食黃</u>　黑牽牛、甘遂各等分，五更時煎服。</p>
<p><u>瘀血發黃</u>　發熱，小便自利，大便反黑，脈芤澀者是。桃仁、大黃、芒硝各一錢，甘草六分，桂枝八分，加丹皮一錢、枳殼八分，水二碗，煎至一碗，入大黃一二沸，再下芒硝一沸，熱服，取下黑物。須量人虛實用之，不可亂投（此方名桃仁承氣湯，治一切瘀血脹滿，大實大痛，手不可近者，服之立效）。</p>
<p><u>黃病</u>　面二袋，綠礬四斤為餡，做饅頭四個，慢火煅干，淬入米醋中，再煅干為末；配蒼朮、厚朴、陳皮、甘草、當歸、熟地、香附各末四兩；砂仁、川椒各末二兩；核桃、黑棗淨肉各二斤半，搗丸，白湯下。</p>

<h2>痞積諸症</h2>
<p><u>諸痞積</u>　丹溪論：積聚癥瘕不一，積者停蓄之總名也。宜以在中、在左、在右分治。凡塊乃有形之物，氣不能成形，痰與食積、死血而已。在中為痰飲，在右為食積，在左為死血。大法咸以軟之，堅以削之，行氣開痰為主。不拘何膏藥二枚，以一張揭開，用白信細末五分摻之（小兒只用三分），再以一張帖上，將背面貼患處，以布包好，數日化為水矣。治皮裡膜外者，效尤速。如貼膏藥後，腹中脹悶，乃痞積將散，須服枳殼八分、大腹皮（鹽水洗）一錢、蘇梗八分、厚朴一錢二分、青皮一錢、莪朮八分、山楂二錢、烏藥六分、香附一錢五分、縮砂五分、廣木香三分。水二碗，煎八分，空心服，服三四劑，自愈。生鵝血，殺時乘熱好酒泡滾，儘量沖服，隨症新久多寡，自消化無形。病深多服數次。痞塊熨法，以蔥蜜同搗，攤在布上，貼於患處，用熨斗微火熨之，痞立下。松香四兩（水煎乾）、蓖麻子肉二兩（搗爛）、皮硝五錢，共搗為膏，攤布上，量痞大小攤之，貼時，加麝二釐，痞消膏自落。青油一斤，蜜陀僧六兩（即鍛銀爐底，研極細末），先以油熬數刻，次下蜜陀僧及羌活末，兩餘，將成膏，再下阿魏五錢、麝香二錢，候滴水成珠，不黏手為度。熬法不可過嫩過老，但春冬宜軟，秋夏宜硬，隨患大小攤貼，無不立消。</p>
<p><u>諸物食積作痛</u>　白朮、茯苓，製半夏各一兩，蘿葡子二錢，山楂肉一兩五錢，陳皮五錢。煉蜜為丸，如彈子大，空心米湯下一丸。</p>
<p><u>食積血痞</u>　大賊草末三四分，白湯空心服，即消。年遠不過二服。</p>
<p><u>酒積</u>　官料白酒藥，炒燥碾細，清晨白湯調下三錢，二三服即愈。</p>
<p><u>諸蟲積</u>　苦楝根（向東，不出土者佳，去皮及骨）四兩、使君子（去殼，切片）二兩、生薑三兩（切片），作一服。水五碗，煎至三碗，去渣，再熬至一碗，加白蜜四兩，又熬至一碗，露星月下，次早，空心熱服。如一次難服，分三五次，須擇朔日服，不吐不瀉，令蟲從大便中成團出。少一服，多則二服，除根。</p>
<p><u>諸蟲作痛</u>　口中必有清涎流出，湯飲不能迸，危在旦夕者，用烏梅、花椒、生薑，煎湯服。蘆薈二錢，使君子肉、雷丸各四錢，苦楝根（向東者）一兩五錢，白蕪荑仁（炒），鶴蝨草、檳榔各五錢，研末，炒，砂糖為丸，每丸重三錢，五更，豬肉湯調服一丸，愈。追蟲去積，大黃、檳榔、木香、黃連（此味夏月倍之），等分，研末，每服三錢，白滾水下，治痢尤效。</p>
<p><u>貪食茶葉、壁泥、桴炭、石灰、生米等</u>　此症皆屬有蟲。用炒芝麻一碟，拌雄黃末三分，始服白湯下，三日後，只吃炒芝麻，服半月自愈。生榧一斤，每日蘸砂糖，吃數十粒，以食盡為度，或兼使君子肉四五枚，半生半熟，同食更效。貪食茶葉，面黃、腹有蟲，每日空心吞川椒百粒，白湯下，自愈。切不可食半粒者，能傷人。</p>

<h2>痿痹諸症（附：請風）</h2>
<p><u>痿症</u>　痿症，斷不可作風治，而誤用熱燥攻風之藥。凡不痛者為痿，屬虛。痛者為痹，屬實。症各有別。蓋痿病生於肺熱，因血氣少虛，火盛制金，肺葉焦枯，宗筋不潤，金即不能生水，以致肝木乘旺，脾土受傷，則骨痿軟而筋弛縱，四肢難舉，不能伸縮轉動，狀若癱瘓者，須久服此劑。當歸、白芍、杜仲、牛膝、黃耆、白木（炒）各一錢，熟地二錢，知母、黃柏各八分，水煎空心服。</p>
<p><u>軟癱</u>　樺皮，燒灰為末，每服二錢，酒下，久服自效。</p>
<p><u>筋骨疼痛、手足痿逆不行</u>　白朮、羌活、赤芍、當歸、甘草、海桐皮、白芷、鬱金、烏藥、香附各等分，水煎，空心服。</p>
<p><u>筋骨痠痛及男婦腰背軟痛，手足風氣麻痹等症</u>　十大功勞葉（即老鼠刺葉，揉一飯籃，剪去葉上刺，好酒一斤，拌蒸，曬乾，七蒸七曬）、紅花一兩（炒）、當歸一兩（酒浸，炒枯，存性）、虎骨一兩（炙酥，存性），同為細末，砂糖調服，每日五錢，作三次服。</p>
<p><u>風氣痛</u>　老薑、鳳仙葉、香油、川椒末，共搗，擦痛處；或單鳳仙子煎湯洗，皆效。魚膠四兩，薑汁一碗，投膠汁內熬膏，攤布上，貼痛處，即止。</p>
<p><u>鵝掌風</u>　槐皮、花椒、大麥、地骨皮、艾葉、鴿糞、白芷，煎湯先熏後洗，每日數次，愈後常用豬蹄湯洗。先以滾水洗手浸皮，如白浮色，石柏枝煅燒為末，用滴滷調藥半酒盞如米糊，搽之，愈。雄黃同穿山甲，火燒熏之，數次自愈，乃呂祖法也。</p>
<p><u>鶴膝風</u>　三陰之氣不足，風邪乘之，兩膝作痛，久則膝愈大而腿愈細，因名鶴膝風，乃敗症也。人參二錢，白朮、防風、附子、當歸、白芍、川芎、杜仲、黃耆、羌活、牛膝、甘草、熟地各一錢。水二碗，姜三片，煎八分，食前服（此方兼治附骨疽，皮色不變，大腿通腫，疼痛無奈，及痢後腳痛緩弱不能行，或腿膝腫痛等症）。頭酒槽四兩（不曾燒，燒酒者是），肥皂二個（去子），皮硝，五味子各一兩（搗），砂糖、薑汁各一酒盅，調和，敷膝上包好，十餘日如燥，潤燒酒數次於上，即遠年者亦效。蘄艾半斤，好米醋，鍋中炒熱敷患上，冷則連換數次，包好。內服硃砂、雄黃、乳香、沒藥、川烏、草烏各一錢，碾末，每服五分，陳好酒下。</p>
<p><u>白癜風</u>　硫黃、蜜陀僧，為末，薑汁調搽。歌云：白癜紫癜一般風，雄黃硃砂等分同，茄蒂端來擦患處，不消三日有神功，白加蛇殼同來擦，管教前患永無蹤。</p>
<p><u>紫雲風</u>　甘草一兩，川烏（薑汁炒）、草烏（將黑豆炒，待豆熟去豆用）、防己各五錢，牛膝七錢（炒乾），羌活（上部用）、獨活（下部用）、川芎、白芷、馬兜鈴（炒）各四錢。共為末，每服七分，好酒下。外用蛇床子、夏枯草煎湯，洗數次，風塊即退。</p>
<p><u>汗斑</u>　硫黃、蛇床子、蜜陀僧，各研、生薑汁調，將茄蒂蘸藥擦之。</p>

<h2>折傷諸症</h2>
<p><u>跌打損傷</u>　氣絕不能言，急以韭汁和童便飲一盞。跌打將危，白蠟三錢研碎，好酒調服，即醒。渾身打傷，小麥葉、蘿葡葉、青松毛各一大把，共搗爛，攤單被上，赤身，將藥貼肉，裹被在身上，裹緊儘量飲醉，睡醒即愈。跌打骨折，酒調白及末二錢服，不減自然銅五銖錢之功。傷處闊大，血出不止，乾麵敷上，包好勿見風，七日愈。或用白蠟研細舍上，蓮房燒灰。研細敷；多年古石灰敷，皆效。</p>
<p>凡瘀血在腹者，生地黃汁三升，酒升半，分三服。或用紫羅蘭花根，搗汁少許，酒沖服，次日解糞如豬肝色，自愈。跌壞遍身腫疼，狗頭骨燒灰，同陳年香糟貼疼處，不然，一年之後，成冬瓜串，不治。折傷青腫，豆腐切一指厚片，鍋內炙熱，貼患處，冷則易之，雖面打青腫，貼數次復舊。腦破骨折，蜜和蔥白，搗勻，厚封，立效。打傷眼睛，生肉一片，當歸、赤石脂末用少許，摻肉上貼之，去毒血而自愈矣。肩破骨折，亦用蜜和蔥白厚封，再以蟹蓋，瓦上燒灰研末，酒調服盡醉，其骨自合有聲。白蒺藜，炒為末，每服一錢，熱酒調下，蓋被出汗，愈。</p>
<p><u>從高墜下、瘀血衝心欲死</u>　倉卒無藥，擘開口以熱小便灌之。或卒墜、壓倒、打死，心尚溫者。將本人如僧打坐，令一人將其頭髮稍放低。用半夏末吹入鼻中，醒後以生薑汁、真麻油灌之，再以乾荷葉燒灰，熱小便調下三錢，日進三服自愈。山羊血少許，酒調服，更妙。跌壓、瘀血在內，脹滿，大黃、當歸等分炒研，酒服四錢，取下惡物自愈。跌壓瘀血積痛難忍，當歸尾五錢、大黃（酒蒸）一兩、桃仁（去皮尖）二十一粒、酒煎，雞鳴時服，至曉取下瘀血即愈。墜車落馬，筋骨痛不止，玄胡索末，好酒服二錢，日進二次即愈。</p>
<p><u>跌撲傷損及金瘡出血過多、昏沉不醒者</u>　人參一兩（切片），水二碗，煎一碗，溫服。渣再煎服，其人自醒，再用渣，加大米一合，煎服，愈。</p>
<p><u>金瘡及兵器傷</u>　急用自己小便淋傷處，口必渴，切不可飲水，但食肥膩之物，解渴而已。若食薄粥，則血沸而出，必死，慎勿犯之。外則以花蕊石研末敷，或荔枝核研細敷，或圓眼連殼肉核燒末敷，皆效。風化石灰（炒）、生韭菜（連根），同搗作餅，陰乾，研末摻上，止血生肌。若血出過多，寒熱口乾，用補中益氣湯（見中風諸症）加麥冬、五味各四分，薑、棗煎，空心服。金瘡、磕損、折傷，血出疼痛不止，蔥白、砂糖等分，同研封之，痛立止，更無瘢痕。凡刀傷、磕傷及爛入寸深者，千年石灰、輕粉、血竭、白蠟，研末摻之，外以隨便膏藥蓋上，立愈。刀瘡筋骨斷者，真降香、銅花（即打銅店打赤銅落衣也）、五倍子（炒）各等分，為末摻上，扎住，即愈。刀割、斧砍、夾剪、鎗箭、傷損，生半夏研細末，帶血敷上，立止疼痛，且能收口生肌。野苧麻（端午日收，掛擋風處），遇傷損，揉貼之，立效。或土貝母、干年石灰，皆效。風化石灰八兩、大黃四兩（切片），同入鍋內炒，候桃花色取起，細篩收藏，遇傷者敷上，即時止血。箭鏃傷，海螵蛸研末敷之，血自凝而愈。出箭頭，花蕊石（形似硫磺，有白斑點者，火煅七次）研末，敷傷處四圍，箭頭自出。巴豆略熬，與蜣螂同研塗之，須臾痛定，微癢忍之，待極癢不可忍，便搖動拔出，速以生肌玉紅膏敷之。如遇藥箭，才傷皮肉，便𭼊膿沸爛而死，急須飲以糞清，如無糞清，即飲人屎汁，並塗之，救命為急，勿以臭穢為嫌。</p>
<p><u>夾棍傷</u>　一出衙門，即用熱童便一盆，將足浸之，如便冷，燒紅磚二塊淬之即熱，直浸至童便面上浮起白油，其傷盡出矣。不𭼊不㿉，再用肥皂搗如泥，入雞蛋清和勻，罨患處，以草紙包裹腳，縛緊，一夜不可動，即效。內服末藥，人中白（煅）一兩、自然銅（煅）五錢、乳香（箬炙）二錢、沒藥（箬炙）二錢、木耳（燒灰存性）五錢、牛膝三錢。為末，再用年膝煎酒，調服三五錢；如無末藥，用當歸、川芎、乳香、獨活、鱉蝨、胡麻、骨碎補、紅花、五加皮各一錢，生白酒一壺，煎數沸，縱量服。避風寒，厚被出汗，立愈。如骨傷，加土木鱉一枚。預防夾棍，大肥皂用陳米醋者搗爛，加皮硝三五錢，敷過夜，夾時不疼。若夾出腫痛難走者，熱豆腐和松香末，搗勻，敷過夜，即好行走，永無後患。</p>
<p><u>杖傷</u>　杖後，即飲童便一碗，以免血攻心，再用熱豆腐，鋪在杖傷處，其氣如蒸，其腐即紫，復易之，須得紫色散盡，轉淡紅色為度。如人受責極重，晝夜無眠，種種諸症，用木耳四兩，淨砂鍋內炒焦，存性為末，每服五錢，好酒一碗，調服。服藥後坐少時，俟藥力行至杖瘡上，從肉裡往外透，如針刺癢甚，不時流血水，貼上膏藥，次日即消。杖瘡腫痛，雄黃二分、蜜陀僧一分，研細，水調敷極妙，大黃末，醋調敷，或童便調敷，或單用蘿葡搗爛敷。如潰爛，乳香煎油，搽瘡口。凡杖後日服白及末，米飲下，神效。</p>
<p><u>湯火傷</u>　切不可用冷水，恐火毒攻心，先服玄妙飲。用黃連、天花粉、玄參各二錢，陳皮、桔梗、山梔仁各錢五分，淡竹葉二十片，水煎服。加藥不便，蘿葡汁二碗，或童便，皆可服，以護其心，使火不能內攻，隨取大黃末，桐油調敷，即垂危者，皆保無恙。湯火傷，皮紅未破爛者，最忌大寒之藥敷之。用酒洗，拔其熱毒外出，不爛。爛去肌肉見骨者，百草霜三錢、輕粉錢半為末，香油調搽。磁瓶盛真芝麻油，以箸就樹，夾取黃色葵花，收入瓶內，勿犯人手，蜜封。遇有傷者，以油塗，神效。豬毛煅存性，研末，加輕粉、白硼砂各少許，麻油調敷，無疤痕。泡過殘茶葉，傾積瓶內，遇傷者，取塗頻換，不疼不爛。真金箔，貼傷處，稠密用桐油塗金箔上；或用青黛敷；或以梨汁敷；或白及末，油調敷，或煅過石豪為末，醋調敷，或尿坑泥加薑汁敷；或水芹菜和米醋搗爛敷；或煤炭（須大塊明亮者）末，或蛤蜊殼燒灰，或天蘿皮曬乾研末，皆用香油調敷；或地榆、滑石各一兩，研極細末敷，決不潰爛，皆能止痛無痕。湯泡火燒，逼毒入里，或被涼水所浸，火毒內攻，致生煩躁、內熱、口乾、大便秘實，連翹、赤芍藥、羌活、防風、當歸、山梔、甘草各一錢，大黃（炒）二錢。水二碗，燈心二十根，剪八分，食遠服。火逼火傷，蘿葡菜葉，搗爛，罨患處，即愈。</p>
<p><u>被人咬傷者</u>　山半枝（背陰處採取），搗敷，絕效。不用別藥。</p>
<p><u>惡刺入肉</u>　栗子生嚼敷之，即出。象牙刮取末，水調敷上，亦出。</p>
<p><u>竹木刺入肉不出者</u>　燒鹿角末，水調敷，立出。久者，不過一夕。</p>
<p><u>肉刺雞眼</u>　枯礬、黃丹、朴硝各等分，為末搽之，次日，浴二三次，即愈。蓖麻子為極細末，敷上一二時，其刺自出，痛即止。</p>
<p><u>凍折</u>　油胭脂烘熱，敷之立效。凍腫，大黃為末，狗骨燒灰，共研細，豬油調搽，濕者乾摻之，即愈。凍裂，蒸熟藕，搗爛髦之，即合。或黃蠟香油同熬，敷之，亦合。凍瘡，冬瓜皮、干茄根，煎湯熱洗。</p>

<h2>余方補遺</h2>
<p><u>許真君七寶如意仙丹</u>　服之者，百疾悉瘳。川烏（炮，刮去皮尖）、川黃連（去蘆須）、人參（去蘆）、茯苓（去皮）、乾薑（慢火煨）、桔梗（去蘆）、肉桂（去皮，日曬）、石菖蒲（洗淨）、厚朴（去皮，薑汁浸）、吳茱萸（去梗，鹽湯浸一宿，炒）、柴胡（去蘆）、紫菀（去須洗淨）、川椒（去子，炒去汗）、豬牙皂角（去皮，日曬）、當歸（酒洗淨）、木香、大附子（一個，童便泡，去皮臍）、巴豆（去殼，用紙壓去油，務盡，南人去五錢）。以上十八味，各一兩，加檳榔一兩，選用道地，揀淨稱明。五月五日午時，或每月上七日，遇庚申、甲子，福生天德吉日，預擇雞犬不聞處為丹室，屏除人事，先安奉真君神位具供，叩陳合藥救人情旨，如法炮製。共為極細末，入桕中，杵三千下，煉蜜或麵糊為丸，梧桐子大，上好辰砂為衣，潔誠收貯，遇病，照引五更時吞服立效。禁葷腥、生冷一二日。藥引丸則：溫疫熱病，三丸、五丸，俱井水下。陰陽二毒、傷寒、傷風，三丸、五丸，俱薄荷湯下。陰症傷寒，九九，薑湯下。鬼紫邪氣，七丸。嵐障、不服水土、時災、伏屍、五癇、怔忡，三丸。癲狂，五丸、九丸，俱黑棗煎湯下。大麻風成塊，遍身麻木，面如蟲行，口眼歪斜，脫眉爛肉，左癱右瘓，偏正頭風，五丸、七丸。鶴膝、紫白癜、風痰、風癬，三丸、五丸。俱荊芥煎生酒下。誤吞毒藥，九丸。消渴、泄瀉，三丸。諸痢、大小便閉，七丸。酒毒、便紅，三丸、五丸。喉閉，七丸、九丸。腮腫、丹瘤、癰疽、疔癧，五丸、七丸、俱溫酒下。赤痢，黃連煎湯下。白痢，甘草煎湯下。膈氣、五般食積、心腹膨脹、心氣疼痛，五丸、七丸。氣喘咳嗽，三丸、五丸，俱生薑湯下。反胃吐食，五丸、七丸，蓽澄茄湯下。腸中氣塊，五丸、薑湯下。腹中成塊，痛不止，五丸、七丸，皂角煎酒下。痞積，五丸，蓬朮、生薑湯下。腰背痛，三丸、五丸，鹽湯下。十種水氣，五丸，茯苓湯下。黃疸，五丸，茵陳湯下。蠱脹，五丸、七丸，甘草湯下。五瘧，三丸、七丸，桃枝湯下。五淋，五丸，燈草湯下。蟲積，三丸、五丸，使君子湯下。癭蟲，三丸，甘遂湯下。腸風臟毒，三丸，陳米湯下。膀胱疝氣腫痛，三丸，研蘿葡子或茴香湯下。諸痔，三丸，淡礬湯下。婦人血崩，五丸，百草霜調酒下。血暈頭痛，三丸，薑湯下，血勞咳嗽，三丸，荊芥湯下。血氣刺痛，三丸，牛膝湯下。月水不調、子宮冷、不受孕、孕笑、孕哭，五丸，艾醋湯下。赤白帶，三丸，絲綿燒灰，調酒下。產後腹痛下血，五丸，阿膠酒下。死胎，七丸，苧麻煎酒下。鬼胎，三丸，紙書鍾馗二字，燒入滾水，同吞下。小兒急慢驚風，一歲一丸，三歲三丸，金銀花、薄荷湯下。氣痛，一歲一丸，三歲三丸，薑湯下。疳蟲，一歲一丸，三歲三丸，使君子湯下。睡涎咬牙，一歲一丸，三歲三丸，俱淡鹽湯下。凡此引藥，倘引一時不便，只用白滾湯送下。孕婦忌服。幼孩不能吞服，及常人往病家出入者，當以絳紗為囊，入丹三丸佩帶，最能辟惡除邪，經商遊宦攜之，可以自攝，亦便濟人。凡合一料，能濟千人。總以齋戒沐浴，虔誠修制，雖沉疴奇恙，每有起死回生之功，予因為好善施藥者勸焉。</p>
<p><u>許真君濟世方</u>　歲值凶歉，飢餓者眾，此方所費不多，一料可濟萬人。用黃豆七斗，芝麻三斗，水淘過即蒸，不可浸多時，恐去元氣，蒸過即曬乾，去殼再蒸，三蒸三曬，搗為丸，如核桃大，每服一丸，可三日不飢。凶年，當修合，以賑濟人飢，如以銀米隨便賑濟，功德更無量，救及千人，名登仙錄。</p>
<p>不餓丸：芝麻三升、紅棗三斤、糯米三升，焙燥磨末，蜜丸如彈子大，每服一丸，湯水皆可下。或遇凶年，或經遠出，皆足備急一時，自濟、濟人，為功不小。</p>
<p><u>解中諸藥相反毒</u>　蠶退紙（即出過蠶之故紙也）燒灰，細研，一錢，冷水調下，頻服取效。雖面青脈絕，腹脹吐血，服之即活。</p>
<p><u>解鉛粉毒</u>　婦人打胎，服此藥，不惟不效，每至欲死不急，求生不得，且生子多癡呆，身體發瘡毒。有誤服者，急搗蘿葡汁飲之。</p>
<p><u>解中酒毒</u>　酒醉氣絕者，小遺桶傾去尿，將水蕩去浮垢，急用滾湯，燒在尿垢上，少頃取其清汁，緩緩灌入口中，嚥下，鼻中有氣息即生。</p>
<p><u>解萵菜毒</u>　萵菜出咼國，有毒。百毒不敢近，蛇虺過其下，誤觸之，則目瞑不見物。人有中其毒者，惟生薑汁解之。</p>
<p><u>解中禽鳥魚鱉等毒</u>　五倍子、白礬等分，水調服，馬鞭草搗服。</p>
<p><u>解食鳥獸中藥箭死者毒</u>　大豆煮汁，入鹽少許服之。</p>
<p><u>解諸魚毒</u>　橘皮煎湯，極冷飲之。</p>
<p><u>解雞子毒</u>　米醋飲三四口，即效。</p>
<p><u>誤吞水蛭</u>　食蜜即化為水。凡井中生蛭，以白馬骨投之。</p>
<p><u>誤吞木屑梗喉不下</u>　鐵斧磨水灌之。</p>
<p><u>破傷風及瘋犬傷</u>　胡桃殼半個，填人糞滿，用槐白皮襯扣傷處上，以艾灸之，若遍身臭汗出，其人大困，即愈。破傷風，雄黃、香白芷各等分，好酒濃煎服，如牙關緊急者，灌之即活。瘋犬傷，以熱小便沖洗傷處，胡椒七粒加砂糖少許調和，依傷處大小成丸，納入孔內，外用舊傘紙縛定，不痛不爛。一生忌食蠶蛹、赤豆及胡羊。犯之，雖逾年必發。愈而復發，諸藥不效。垂危者，雄黃五錢、麝香一分，研末酒服，可生。</p>
<p><u>惡蛇傷</u>　頓僕，不可療者，香白芷為末，麥冬去心，濃煎湯調下，頃刻傷處出黃水，待腫消皮合，仍用此藥渣敷。貝母末，酒調，儘量飲，頃刻，酒亦從傷處為水流出，候水盡以渣敷之。速以所傷處上下將繩緊扎，隨浸糞缸內，腹中食飽，免毒氣攻心。</p>
<p><u>蛇骨刺人，毒氣作痛</u>　燒鼠屎為末，敷之，並吃熱酒、大蒜效。</p>
<p><u>蜞休虰</u>　生芝麻，占米口嚼，敷。忌浴。</p>
<p><u>壁鏡咬</u>　毒人多死。桑柴灰，水煎三四滾，濾汁，調白礬末敷之。蛇蛟，加雄黃末。</p>
<p><u>壁虎尾入耳內</u>　刺難雞冠血，滴入耳內，即出。</p>
<p><u>蛛絲入目</u>　京墨磨濃，新筆沾墨，點眼角內，少時用手輕抹，即出。如絲未盡，再以墨點之。</p>
<p><u>木蛇叮</u>　蟲蛇之毒，種於竹木器皿上，染之，即為木蛇虰。發寒熱、疼痛不已者，易治；麻木硬腫，防其毒種於內，症凶。山茨菇錢半，當歸、芍藥、貝母、黃芩各錢半，川芎八分，連翹、黃連（生）、枳殼各一錢，柴胡七分，羌活五分，桂枝二分，加燈草、竹葉各三十，水煎。如痛楚，發熱不退，嘔惡痰盛，舌乾，胃閉，大小便不通，加山梔錢半，玄明粉、金銀花各二錢，紫地丁三錢，玄參、威靈仙、麻仁各錢半，木通七分，桃仁（去皮尖）五粒，去羌、桂、歸、芍、茨、殼，外紫金錠，井花水磨塗。</p>
<p><u>木癡成瘡</u>　南方多雨，有物曰木癡，大概類鼻涕積陰而生於古木之上，聞人氣，閃閃而動，人過其下，有墜於人體間者，即成瘡，久則遍其肌體。以硃砂、麝香塗之，愈。</p>
<p><u>神鬼箭</u>　炒山梔、炒麵、桃頭七個，杵餅貼，次日，作七丸，投炭火中，燒響即愈。</p>
<p><u>牛黃散</u>　治中風痰厥，不省人事，及小兒急慢驚風。牛黃一分、辰砂半分、白牽牛（頭末）二分，共研，作一服，小兒減半。痰厥，溫香油下。急慢驚風，好酒，入蜜少許，下。</p>
<p><u>保生錠</u>　治男婦心疼，腹疼、瘀血衝上。丹頭一兩，五靈脂、青皮，陳皮各五錢，玄精石三錢，米糊為丸、醋湯磨服。</p>
<p>制丹頭法：硫黃、火硝各二兩、桃柳枝，不住手慢火炒，白色住手。一方加山楂五錢。</p>
<p><u>絞腸沙</u>　陰沙，腹痛，手足冷，身上有紅點，以燈草蘸油點火，焠之；陽沙，腸痛而手足暖，以針刺其手指近爪甲處一分半許，出血即安。仍先自兩臂持下，其惡血令聚指頭，刺出血。以手蘸溫水於病人膝腕，用力拍打，有紫黑處，以針刺出惡血即愈。</p>
<p><u>黑沙</u>　時名滿沙。患者立時昏倒，微覺肚疼，面色黑脹，不呼不叫，甚者，過二三時不救。養麥數合，磁盆焙燥，研碎，去皮為末，每服三錢，溫湯調服。重者，再一服，即愈，服藥時，忌吃茶。日後，設染別注，倘藥內有皂礬合就者，忌服。滿沙，食清油，不覺油氣，如水者是。隨灌一碗；得吐即愈。有服梔子湯而愈者。</p>
<p><u>哈蟆瘟</u>　其症項腫大頭。殭蠶二兩、薑黃二錢五分、蟬蛻六錢五分、大黃四兩。為末，薑汁糊丸，每丸重一錢，蜜水調服。大人一丸，小兒半丸。腫處靛青塗之。</p>
<p><u>闢溫丹</u>　蒼朮、紅棗各一斤（核研末，肉杵膏），丸彈子大，遇疫氣，燒一丸。時疫大行，自家水缸內，每早投黑豆一握，全家無恙。五更潛投黑豆大握於井中，勿使人見，凡飲水家，俱無傳染。入病家不染方，雄黃末或香油塗鼻孔，既出，紙條探噴嚏，飲雄黃酒一杯，決無傳染。</p>
<p><u>發散傷寒</u>　不問陰陽二症，倉促無藥，生薑一兩、蔥白十莖、好酒二大碗。煎一碗熱服，蓋被，周身汗透即解。勿令汗太過，忌大葷五七日。春秋依此方，夏月蔥姜減半，冬月加黑豆二合（炒），煎服，尤效。如旅次煎藥不便，生薑五片、蔥白四莖、紫蘇葉三錢，無此味，細茶代泡湯，熱服。凡遇正傷寒，慎勿亂投湯藥，只以薑汁、熱酒，或薑茶等類與飲，守至七日自解。故云：不服藥為中醫，專為傷寒而發。</p>
<p><u>傷寒不論遠近，立時出汗</u>　生薑（連皮）半斤（曬乾），取生蔥一斤搗汁浸姜，曬乾，再用新鮮紫蘇一斤搗汁浸姜，曬極干，為末。每用薑末一兩，入真麝香五分、真蟾酥一錢（研細），同薑末和勻，煉蜜丸，每粒重三釐。不拘硃砂、金箔為衣，薑蔥湯任送下一丸，再將一丸，存舌下少頃，好酒再吞一丸，其汗立時如雨。此宜汗者用之，法當和解者不可用，汗多恐傷元氣。傷寒日久汗不出者，大梨一個，生薑一塊，同搗取汁，再入童便一碗，隔湯煮，熱服之，即汗。</p>
<p><u>傷寒服藥，吐出不納</u>　搗生薑自然汁半盞，溫服，即止吐。</p>
<p><u>結胸傷寒</u>　大酒藥三丸，炒香研碎，入濃煎陳稻草汁沖服、立愈。</p>
<p><u>四時感冒風寒</u>　初起蔥白（連須）五根生搗，滾酒沖服。蒼朮（米泔浸過）三錢、甘草三分、生薑五大片、連須蔥五根，春夏加荊芥穗一錢五分，秋冬加防風一錢五分，水煎服，蓋被，汗出愈。</p>
<p><u>截瘧</u>　巴霜、官桂、白礬、青黛、硫黃、雄黃各五錢，附子一個，硃砂二錢五分，白芷二錢，麝香五分。為末，端午午時，取五姓棕尖搗勻，丸桐子大，諸瘧可截。須於未發前五更時，用絲綿裹一丸，寒鼻內，男左女右，約度尋常發過一時許，方可去藥。治疫瘧尤效。何首烏，忌鐵，為末，酒調下三錢，臨發先服，或煎湯服，亦能止瘧。</p>
<p><u>久瘧數年不愈，虛極者</u>　人參五錢、生薑五錢，水二碗，煎一碗，露一夜，次日五更溫服，當日即止。無力者，以於白朮一兩，代人參、生薑一兩，煎服如前，二服即止。</p>
<p><u>治痢不拘赤白</u>　白蘿葡搗取汁，與蜂蜜等分，服三四匙，愈。</p>
<p><u>禁口痢</u>　金鯉魚一尾，重一二斤（治淨），用醬蔥，入胡椒末三四錢，煮熟，置病人前嗅之，欲食隨意。五倍子、車前子、細茶各二錢，煎服亦效。老蓮子為末，陳米湯調服三錢，或秤鍾燒紅，好醋澆之，令病人吸其煙，亦開。</p>
<p><u>痢疾</u>　白糖、茶葉、蓮子、生薑、蘇葉各三錢，烏梅二個，水煎好。赤痢，露一宿溫服。白痢竟煎服。</p>
<p><u>久痢</u>　海蜇溫水洗淨、切絲，米醋拌蘿葡絲，食數次。白痢加生薑末，其滯同海蜇從大便出。</p>
<p><u>耳中出血</u>　龍骨末吹入即止。</p>
<p><u>明目補腎，兼治筋骨疼痛</u>　小紅棗十二枚，冷水洗淨，去蒂，甘州枸杞子三錢，小馬料豆四錢，水二碗，煎一碗，早晨空心連湯共食之。明目，枸杞子三錢、菊花七朵（去蒂）每早白湯下，久服青盲可復明。</p>
<p><u>暴發腫痛</u>　先將青布一塊，水浸洗令乾，另用生薑汁、白礬末，將布蘸搭眼泡上，閉目少頃，淚出痛止。</p>
<p><u>雀目昏暗</u>　干菊　黃連各三錢，夜明砂七錢，為末，水丸梧子大，鹽湯下七丸。</p>
<p><u>拳毛倒睫</u>　木鱉子一個，去殼為末，綿裹。左眼，寒右鼻孔；右眼，寒左鼻孔。一二夜，其毛自分上下。</p>
<p><u>長舌過寸</u>　冰片敷即效。</p>
<p><u>鼻瘡</u>　百草霜研細，取三錢，冷水調服。杏仁（去皮尖），乳汁和搽之。</p>
<p><u>鼻血不止</u>　麥冬（去心）、生地各五錢，煎服。人乳，童便、好酒，頓熱服。</p>
<p><u>牙痛</u>　主方：生石膏八錢，荊芥、防風、丹皮各一錢，懷生地二錢，青皮六分，甘草五分。如上正四門牙疼；屬心火，加黃連八分、麥冬一錢二分。下正四門牙疼，屬腎火，加知母（鹽炒）、黃柏各八分。上兩邊牙疼，屬胃火，加白芷八分、川芎一錢二分。下兩邊牙疼，屬脾火，加白朮八分、白芍一錢二分，上左邊牙疼，屬膽火，加羌活一錢、龍膽草八分。下左邊牙疼，屬肝火，加柴胡、黑山梔各一錢。上右邊牙疼，屬大腸大火，加大黃（酒炒）、枳殼各一錢，下右邊牙疼，屬肺火，加黃芩、桔梗各一錢。按經加藥，水煎，食遠溫服，徐徐漱下，三帖即愈。忌油膩、煎炒鴨蛋、糟醋、發火之物。</p>
<p><u>咽喉通治</u>　症分十八，皆屬火熱內結而成，後方通治。惟伏氣病，名腎傷寒（謂非時暴寒，伏毒於少陰，始雖不病，旬日乃發，脈微弱，法當咽痛，次必下痢。當以辛熱藥，攻其本病，順其陰陽，則水升火降，而咽痛自己）。又有少陰傷寒（不傳太陽，寒邪抑鬱，內格陽氣為熱，上行於咽門經會之處，寒熱相搏而成咽痹。當以辛溫甘苦，制其標病，以通咽嗌）。二者若誤用寒涼（如下四方），卒致不救。</p>
<p><u>煎藥</u>　荊芥、防風、牛蒡子、射干、黃芩、枳殼、獨活、金銀花、丹皮、生地、花粉，等分，燈心二十根煎服。</p>
<p><u>末藥</u>　蜈蚣（去頭腳，切碎，同米炒，米熟即止）、硃砂（研細，水飛）各五錢，乳香、沒藥（俱去汗）、雄黃各一兩，麝香二分。為細末，和勻，每服七八分、小兒三四分，酒送下。亦可與煎藥同服。</p>
<p><u>吹藥</u>　薄荷三兩（另研為極細末）、硼砂二錢五分、雄黃三錢、兒茶一錢、冰片三分。共研極細末，和入薄荷末，研勻、貯罐，不可泄氣，用蘆管挑末少許，吹入患處；或以茶匙挑入舌上，噙一會，嚥下，日八九次。若鎖喉風，日內乾枯者，以井水調灌，即能開關、生津。若脾泄胃弱者，不宜多用。余無禁忌。</p>
<p><u>噙藥</u>　薄荷三兩（另研極細末），硼砂、雄黃各五錢，兒茶三錢，冰片五分，真青黛一錢。共為細末，生蜜調和，貯罐，不可泄氣。臨用丸如黃豆大，小兒減半。臨臥一丸，半夜一丸，甚者三丸，噙在口內，待藥自化嚥下，以勿以湯水送之。禁忌如前。</p>
<p><u>雙蛾單蛾</u>　茨梧桐樹根，去泥，取白皮，搗汁二盅（多生山塢，最高者四尺許。皮色如桑。細者如大指粗，老者如甘蔗粗，又名晚娘棒。若曲而皮紫者，並非此樹），加米醋一盅，清水半盅，調和一處，噙於口中嘓。如喉閉，以鵝毛攪之，亦噙嘓如前。吐痰三四碗，即能飲食如常。五爪龍草（又名踩母藤，因每節所生著地即有根也），搗爛，絞汁二盅，加米醋一盅，和勻，噙口中嘓之，立吐膿痰，即能飲食。雖臨危者，可救。喉閉，如無藥，並有藥不進者，用干獵脬一個，水潤，套指上，蘸桐油少許，入喉攪吐，得吐即無恙。</p>
<p><u>喉痹</u>　冰片五分、生礬三分、麟香（半分）　石膏一錢，為末，吹患處，涼即愈。</p>
<p><u>脫頦</u>　起於腎肺虛損，元神不足，或笑談高興，忘倦一時，元氣不能接續所致。患者平身正坐，令人以兩手托住下頦，向腦後送上關竅，隨用絹條兜頦干頂上。須避風，速服煎劑，不然風邪外受，必致痰涎壅盛，口眼歪斜，而風中臟腑，十無一廖矣。附子（炮，去皮臍）六分，殭蠶（酒炒）、當歸各二錢，人參、半夏、白朮、茯苓各錢五分，天麻（火煨）、陳皮各一錢，甘草三分，川芎八分，加燈草四十根，生薑三片，煎服。</p>
<p><u>咳嗽吐膿</u>　此傷肺也。知母、貝母、白及、枯礬各等分，研細，每服三錢。生薑三片，泡湯嚼服，三五次愈。</p>
<p><u>真心疼</u>　麻油一盅，煎滾，衝入燒酒一小杯，乘痛急飲。</p>
<p><u>心汗</u>　獨心孔有汗，因思慮過多所致。以艾煎湯，調茯苓末一錢服。又用青桑焙乾。末之，米湯送下。</p>
<p><u>心漏</u>　胸前有孔，常出血水，謂之心漏。此疾醫書少載。附子（炮，去皮臍）、鹽花、鹿茸（去毛酥炙、微黃）三味等分為末，棗子為丸，每服三十丸，空心酒下。此方又能治腰痛。</p>
<p><u>心氣怔忡而自汗者</u>　人參、當歸身各五錢，豬腰子一枚，先以腰子用水二碗煮至一碗半，將腰子細切，入二味藥同煎，至八分，吃腰子，以藥汁送下。有吃不盡豬腰子，同上二味藥渣，焙乾為細末，山藥糊為丸，桐子大，每三五十丸，米湯下。不過一二服，即愈。</p>
<p><u>七情交感丹</u>　治一切公私拂情，名志失利，抑鬱煩惱，七情所傷，不思飲食，面黃形羸，胸膈痞悶疼痛等症。南香附米一斤（長流水浸三日，砂鍋炒乾為末）、白茯神（去皮，淨末）四兩，煉蜜為丸，如彈子大，清晨細嚼一丸，白湯下，陳皮湯亦可。</p>
<p><u>失心瘋</u>　辰砂、遠志肉、川貝母（去心）、白芍（酒炒）、懷生地、棗仁（炒，研壓去油），撫芎、膽星（制久者佳）、玄明粉、茯神、當歸各五錢，川連（薑汁炒）、石菖蒲、廣陳皮（去白）青黛各三錢，真牛黃五分，用豬心一枚，勿去血者，入辰砂末在內，線扎箬包，火煨熟，搗如泥，後入諸藥，末和勻，浸、蒸餅為丸，杵極堅，丸如黍米大，食後燈心湯服二錢。</p>
<p><u>痞滿</u>　心下堅如盤者。枳實一錢（麩炒）、白木三錢，水一盅，煎七分，溫服。</p>
<p><u>消痞</u>　獨頭蒜、穿山甲、真蘄艾等分，將穿山甲洗淨，瓦上煅過成炭，研細，又將艾揉碎拌勻，舂入蒜內，攤成薄餅，照痞大小貼上，候線香一炷為度。痞大，藥味量加。</p>
<p><u>黃病</u>　熟地八兩（酒蒸），乾山藥、山茱萸各四兩，白茯苓、澤瀉、丹皮各三兩，加綠礬二兩（醋炒紅），為末，煉蜜丸如桐子大，白湯早晚服。</p>
<p><u>腎氣小腹切痛</u>　婦人油頭髮，燒灰，研細，溫酒調服二錢，痛即止。</p>
<p><u>小便不通，上脹，垂危者</u>　琥珀四錢，研末，濃蔥湯調，作二次服，漸漸解出，自愈。獅子油，酒服二三分，更效，兼治大便不通。</p>
<p><u>陰囊、腎莖、肛門瘙癢難忍</u>　人言少許，用米醋二碗熬一碗洗之。</p>
<p><u>疝氣</u>　茄蒂，伏天曬乾，切片，交秋不用，蒸好酒服，自愈。如主心疝，加砂仁五分，蒸服。</p>
<p><u>偏墜</u>　雞子一個（尖上開一孔），入硫黃末三錢，火煅成炭，研細，白湯下。</p>
<p><u>淋症</u>　木通五錢、甘草二錢，煎湯服。</p>
<p><u>肉淋</u>　銀杏，一歲一粒，每粒咬開，入明礬一二釐，無灰酒煮熟，連酒吃下，二三服愈。</p>
<p><u>小便血</u>　新地骨皮，洗淨，搗自然汁；無汁，以水煎濃汁，每服一盞，加酒少許，食前溫服。清心腎，開鬱結，兼以分利，乃治法也。若專溫補，而反生濕熱，為害多矣。</p>
<p><u>大便血</u>　青州柿餅一個，內放白蠟一錢，飯鍋上蒸熟，食數次。</p>
<p><u>暴泄不止</u>　車前子一味，炒，為末，米湯送下四五錢，立止。</p>
<p><u>統治一切秘結</u>　生蜜一大杯，滾湯一碗，調玄明粉三錢，服之即通快。不損脾胃。</p>
<p><u>臁瘡</u>　先以川椒、肉汁湯洗淨，用松香二錢，蔥頭十個，豬油調作隔紙膏，針數小孔貼之。多年舊傘紙燒灰，同嫩松香研細，豬油調。須用磁缽，不宜見鐵，攤箬葉上，再以箬葉蓋之，針數小孔，貼上。鉛一兩，打極薄片，剪碎，和水銀三錢，入去衣豬板油，研爛，攤油紙上，外以川椒二兩煎湯，洗淨，貼之，即五六年者可愈。</p>
<p><u>腳裂</u>　蛇殼、亂頭髮各二兩、鮮豬板油二斤黃蠟四兩。用清水二十飯碗，鍋置露天，同前三味，入鍋煮，去水氣，以棍頻攪。熬至殼發無形為度；後入黃蠟，俟蠟化，傾入極厚磁缽，待其自凝。患裂者，先以溫湯洗淨，候睡，用抿腳挑入裂內，立時定痛。冬至日製者更效。</p>
<p><u>腳墊毒</u>　人走長路緊急，被石塊腳底墊腫，不能行步，痛不可忍。急用稻草鞋，浸尿桶內一夜或半日，將新磚燒紅，以浸濕草鞋放磚上，隨以腫腳踏上，火逼尿氣入里，即消。若不早治，恐潰爛難愈。如走長路，腳腫疼痛，亦用此法，即消。</p>
<p><u>修腳刀傷</u>　鼠尿燒灰，香油調搽。</p>
<p><u>跌打損傷，疼痛難忍</u>　久尿處磚瓦常有日曬者，洗淨、燒紅、醋淬五七次，取出為末，每服三錢，好酒下。</p>
<p><u>折傷青腫</u>　梔子、白麵同搗塗。打撲傷腫，熟麻油和酒飲，臥火炕上，次日即腫消痛止。</p>
<p><u>金刃傷</u>　凡金刃所傷，未透膜者，乳香、沒藥各一錢，研細，以童便半盞，燉熱；好酒半盞，衝入藥內，通口服。後用烏賊魚骨或龍骨為末，敷瘡口，其血立止。蔥白炒熱，遍敷傷處，冷再易蔥，立能止痛。久不收口，千年石灰，入象皮，研末敷上。</p>
<p><u>殺傷</u>　膜未損，氣絕仍可救。急取蔥白，熱鍋炒熱，敷傷處，即活。</p>
<p><u>誤被鳥銃所傷</u>　蜂蜜八兩煎滾，入好頭燒酒一斤，隨量熱服取汗、安臥，次日鐵子自黏被上。</p>
<p><u>火藥炮□沖眼目瞎</u>　登時臥地，令人以熱小便澆之，即痛定，徐用自己小便常洗，即明。解火藥爛，蚌殼（鹽籮中者，煅，研），搗爛，茶葉同搽。</p>
<p><u>抓破面皮</u>　生薑自然汁，調輕粉，搽患處，無痕跡。人口咬傷，搗生栗子敷，每日一換，止痛消紅。</p>
<p><u>孤刺瘡</u>　手足被竹木簽損，成瘡，痛不可忍，此名孤刺瘡。有二種，雄孤刺，只一個；母孤刺，七個。瘡內皆有亂絲，其間有刺者是。用爐中炭灰，乾摻腫處，以米醋潤之，頻換愈。</p>

<h1>卷之下</h1>

<h2>頭疾諸症</h2>
<p><u>頭疾總論</u>　頭乃諸陽之會，症非一端。大約頭痛者，宜分十二經治之。丹溪云：頭痛多主於痰，甚者火多。有可吐者，有可下者。若眉眶痛者，屬風熱與痰；有肝虛而痛者，才見光明，則眶痛甚；有眉稜骨痛者，眼不可開，晝靜夜劇，屬痰。頭風者，經云：首風之狀，頭面多汗，惡寒，當先風一日，則病甚。頭痛不可以出內，至其風日，則病稍愈。蓋其人素有痰火，風寒客入腦髓而然，婦人多患此者，無中幘以御風寒故也。有偏有正，有熱有風，有血虛。在左，屬風與血虛；在右，屬痰與熱。頭眩者，目花黑暗旋倒也。其狀頭眩目閉，身轉耳聾，如立舟車之上，起則欲倒，虛極乘寒得之。故風則有汗，寒則掣痛，暑則煩悶，濕則重滯，此四氣乘虛而眩暈也。或七情鬱而生痰動火，隨氣上厥，此七情致虛而眩暈也。酒色過度，腎虛不能納氣歸元，使氣逆奔而上氣，虛而眩暈也。吐衄崩漏，或產後失血，脾虛不能收攝營氣，使諸血失道妄行，此血虛眩暈也。症各有候，治各有方，聊錄其經驗者數種云。</p>
<p><u>十二經頭痛</u>　川芎、羌活、白芷、柴胡、蒼朮、蔓荊子、石膏、防風、半夏、細辛、藁本、南星、天麻等分，甘草少用，姜三片，蔥頭二枚，煎服。又方：太陽，川芎、羌活、藁本、麻黃，煎服。少陽，小柴胡湯，柴胡。半夏各一錢五分，黃芩、人參、甘草（炙）各一錢，生薑三片，棗二枚，煎服。陽明，升麻葛根湯。升麻、葛根各錢五分，白芍、甘草各一錢，加石膏、白芷各一錢，蔥頭三兩，煎服。太陰，蒼朮、半夏、南星、川芎、蔓荊子，等分煎服。少陰，麻黃（去節）、細辛、附子（煨）各一錢，煎服。厥陰，吳茱萸湯。麻黃（去節）、羌活（去蘆）各五分，吳茱萸四分，藁本、升麻、黃耆、蔓荊子、細辛、柴胡、紅花、半夏（炮）、黃連（炒）各三分，黃芩、當歸（酒洗）、黃柏（炒）、蒼朮（米泔水浸一晝夜，曬乾，炒）、川芎各一錢，水二盞，煎八分，服。</p>
<p><u>諸頭痛</u>　生蘿葡汁一蜆殼，仰臥，注鼻中，左痛注左，右痛注右，愈。</p>
<p><u>諸虛痛</u>　血虛作痛，川芎、當歸各三錢，水煎，食遠服。氣虛作痛，人參、白茯苓、甘草（蜜炙）各一錢，白朮（土炒）二錢，生薑三片，棗二枚，煎服。氣血兩虛作痛，黃耆（蜜炙）一錢五分，人參一錢，陳皮、蒼木、川芎、蔓荊子、細辛各五分，黃柏、木香、柴胡、升麻、炙甘草各三分，加薑棗煎服。巔頂痛，必用藁本、柴胡、防風。</p>
<p><u>風熱痛</u>　川芎、白芷、石膏（煅）、荊芥穗，等分為末，每服一錢，湯調下。</p>
<p><u>寒濕病</u>　紫蘇、川芎、花椒、雨前茶、蔥頭，水煎，熏頭一刻，服。多蓋衣被，汗出愈。</p>
<p><u>半爿頭痛</u>　熟石膏、牛蒡子各三錢為末，酒調，隨量飲醉，取汗為度。香白芷、天南星各一錢，川烏、半夏各八分，為末，每服一錢，水調服。婦人加甘草一錢。</p>
<p><u>頭痛，周身癢</u>　此風火也。雄黃三錢，輕粉一錢五分，白礬、黃柏、川椒各二錢，米醋二碗，煎碗半，去渣，以藥水刷擦癢處。</p>
<p><u>頭風</u>　不拘偏正遠近。白芷、川芎各三錢，為末，用黃牛腦子一枚，同藥入磁器內，加酒煮熟食之，儘量飲，睡後酒醒，其患若失。乾葛一錢五分，柴胡、黃芩、黃耆、羌活、川芎、蔓荊子、白芍藥、甘菊花各一錢，黃連、炙甘草，生甘草各八分，藁本一錢三分，蒼朮一錢二分，升麻三分，蔥頭二個，水煎服。皂莢子（七粒）、薏苡仁三錢、奇良四兩，先以水六碗，煎三碗；次以水四碗，煎二碗，服之。生過廣瘡者，更效。純烏雄豬肥肚一枚，內裝去心蓮子半斤，煮爛。搗時加平胃散四兩。蒼朮（君）、厚朴（臣）、陳皮（臣）、甘草（佐）為丸，湯服。</p>
<p><u>偏正頭風</u>　不論男婦，連筋痛極者，用茯神搗末，每服二錢，湯酒任下，數服愈。鵝兒不食草（牽藤了，枝有一粒小子者真。陰乾）研末，吹入鼻中，連打數嚏，即愈。頭風在左，屬風與血虛。風者，荊芥、薄荷之類。風熱者，荊芥、白芷、麻黃各一錢，陳皮八分，蒼朮（米泔水浸）一錢，甘草八分，水煎服。血虛者，川芎、當歸各三錢，荊齊、防風、白芷、酒芩、薄荷、蔓荊子各一錢，煎服。頭風在右，屬痰，蒼朮、半夏之類。濕痰頭風，酒芩三錢，蒼朮四錢，川芎、細辛各二錢，甘草一錢，為末，薑茶擂勻，調服。頭風屬火，酒芩為主，佐以陳皮、半夏、白茯苓、甘草、薄荷、川芎、細辛，煎服。</p>
<p><u>年久頭風</u>　天麻（煨）、白芷、半夏（湯泡）、川烏（去皮）、南星各一錢，甘草三錢，姜五片，水煎服。或為末，薑湯下，每服六錢。</p>
<p><u>諸頭眩</u>　凡眩暈不同症，宜分類以治。風熱虛眩，薄荷、川芎各一錢，荊芥穗六分，羌活、炙甘草。白芷各五分，細辛、防風各三分，煎服。</p>
<p>風寒上厥眩暈，附子（生）、白朮、川芎各一錢，肉桂、甘草（炙）各五分，姜三片，煎服。暑火眩暈。陳皮、半夏、白茯苓、甘草、人參、白木、山梔、黃連、川芎，煎服。傷濕，白茯苓、白朮各二錢，炙甘草、乾薑各一錢，水煎，空心服。氣虛眩暈，木香、砂仁各七分，白朮（炒）、橘皮、半夏曲、茯苓各一錢，丁香十四粒，炙甘草八分，姜三片，水煎，食遠熱服。血虛眩暈，加芎、歸、肉桂。痰火眩暈，大黃酒浸，九蒸九曬，為末，水丸，如綠豆大，每服百九，食後臨臥，清茶送下，神效。</p>

<h2>耳疾諸症</h2>
<p><u>耳聾</u>　上好新鐵三塊，咬於口內，用好磁鐵，塞於兩耳，靜坐，其耳忽鳴而通，有頃刻通者，有坐數日通者。</p>
<p><u>通耳丸</u>　治卒聾，及腎虛耳內作風水鐘鼓聲。穿山甲大片者（以蛤粉炒赤色，去粉）、蠍梢七個、麝香少許，為末，入麻油數滴為丸，綿裹塞耳內。</p>
<p><u>氣閉耳聾</u>　甘草、甘遂各五分，麝香一分，研末，入蔥管內，塞耳中，愈。</p>
<p><u>鼻塞耳聾</u>　柿餅三枚，切細，加粳米三合，煮粥，空心食之。</p>
<p><u>治耳虛鳴</u>　麝香少許、全蠍十四個、薄荷十四葉（裹麝香、全蠍，瓦上焙乾），研細末，滴水捏作錠子，塞耳內，極效。</p>
<p><u>耳內腫痛、出膿及黃水</u>　不拘大人小兒。枯礬五分、胭脂（燒灰）二分、麝香五釐、陳皮（燒灰）五分，共為末，先用棉棍，絞去膿水，後吹藥入耳。銅鐵香爐蓋上香菸結成塊者，配輕粉研勻為末，將蘆管吹藥入耳，愈。金絲草葉，搗汁，滴耳內，隨即傾出，日二三次，自愈。</p>
<p><u>耳爛</u>　陳皮（燒灰）一錢、輕粉三分、麝香五釐。共研勻，吹入耳內，即干。</p>
<p><u>耳痛生瘡</u>　昆布、蘇木、生甘草、蒲黃、草龍膽各二分，連翹、牛蒡子、黃連、黃芩、當歸梢、甘草（炙）、生地黃各三分，柴胡、黃芩各四分，桔梗錢半，紅花少許，桃仁三個（去皮尖，另研），水二碗，煎一碗，食後服，忌塞藥利大便。</p>

<h2>目疾諸症</h2>
<p><u>目疾總論</u>　其症七十二種，治之須究其源。大約紅為熱，白為冷，癢為風，澀為毒氣之作也。風則散之，熱則清涼之，冷則溫補之，氣結則調順之。切不可用刀針點割，偶得其愈，出乎僥倖，倘或不然，終身之患。又不宜過用涼藥，恐冰其血凝而不流，亦成瘤疾。當量人老少，氣體虛實用藥。又有腎虛者，亦令眼目無光，或生冷翳，補暖下元，益其腎水，自愈。治北方人與南方人異。北方之人患眼最多，皆因日冒風沙，夜眠火炕，二氣交蒸，治之多用涼藥，北方人享受原與南方人不同也。治婦人又與男子異。蓋其間有傷胎墜產之藥，自當除去。須以當歸為主，可以活血，其餘之藥，對症而發。小兒患眼又與大人異，不過胎毒受孕之時，過食熱物而然，雖過百日一周，亦是胎毒。至一二歲之間患眼者，此是好食煎炒五辛之熱物，使五臟受毒，攻衝而後發也。至如孩童之患眼，有實無虛，多熱無冷。若遇患眼之稚子，切不可以藥吹點之，恐血氣未定。致傷其目，只可以敗毒散治之。如痘疹之後，毒氣鬱結於心肝二經，氣不能泄，攻發於眼目，傷瞳人者，則又素無治法也。</p>
<p><u>目疾通治</u>　荊芥、羌活、甘草、甘菊、防風、藁本、黃芩、當歸、山梔、赤芍、白芷、乳香、沒藥各一錢，全蠍三個。水二碗，煎一碗，空心服。凡日疾初起，即至十餘日，急服二三劑，無不立愈。如意為增減，多不驗。</p>
<p><u>眼痛</u>　雞肝（不落水者）一個、芙蓉葉（烘燥，研末）一錢、肉果末五分、龍膽草末七分。將三味末共入雞肝內，飯鍋上蒸熟，食之。即初瞎者，多服，亦能開也。</p>
<p><u>目珠至晚疼甚</u>　夏枯草、香附各二兩，共為末，每服一錢五分，清茶調下。服三四日，頓愈。</p>
<p><u>虛眼</u>　因惱怒傷肝，勞思過度，氣血兩虛所致。用大當歸三錢，生地、赤芍各四錢，川芎、甘草各一錢。水二盅，煎八分，空心服，連服三四劑自愈。</p>
<p><u>火眼</u>　當歸、黃芩、連翹、菊花、山梔、生地各一錢，赤芍、柴胡、青皮、川芎、防風，龍膽草各八分，桔梗、羌活各七分，黃連六分，甘草五分，加燈心二十根，水煎服。</p>
<p><u>風爛眼</u>　醃白梅一個，去核，入綠礬少許，川椒三十粒，以五銑錢二個夾之，用苧麻扎住，無根水浸洗，自愈。若出痘時，得此症，再加馬料黑豆，一歲一粒，投水中。</p>
<p><u>冷淚</u>　菊花，密蒙花、石決明、白芍、甘草、木賊（去節）、白蒺黎（去刺）各等分為末，每服自一錢二分起，加至二錢止，茶調下。凡眼昏暗或流冷淚，子後初醒，未曾開言，用唾沫搽眼，久之自愈。</p>
<p><u>眼中起星</u>　取荸薺槌碎，將水灑紙上，成粉候乾刮取，點患處。</p>
<p><u>洗眼方</u>　將自己小便，乘熱拭洗，閉目少頃，愈。六月六日，用雪水淋過鹽，存留，遇一切眼病腫痛，泡湯頻頻熱洗，即效。尋常鹽湯洗，亦好。切忌冷水洗。川連、當歸、朴硝各一錢，明礬三分，杏仁七粒（去尖，打碎），郁李仁四十九粒（去殼，打碎），銅青三分。水二碗，煎一碗，外加人乳一小酒盅，先熏後洗，洗數次神效。每月洗法：皮硝六錢，淨水一碗，煎至七分，澄清洗眼，即年久昏暗，亦能復明。洗眼之日，須誠敬齋戒，清心寡慮，應驗如神。每月洗期：正月初一日、二月初一日、三月初四日、四月初四日、五月初五日、六月初一日、七月初五日、八月初一日、九月十三日、十月初二日、十一月十六日。閏月日期、十二月初一日，照前月日。</p>
<p><u>點眼方</u>　羊膽一枚，剖開，入蜂蜜一錢，線紮緊，兩手揉勻，白水煮一滾，即取出，涼水浸半日，去生水，頃出內汁點之，治七十二種眼疾。又方加青魚膽（名水精）、乳汁（名人精）、蜂蜜（名百花精）、青羊膽（名百草精）、將前三味，裝羊膽內，通風處掛四十九日，收起點眼，名血精膏，不論風熱時眼，俱效。凡目中努肉、赤筋，及瞳神障敝，用白丁香，以初胎男子之乳調點，去障復明（又能去面上雀子斑、酒刺）。</p>

<h2>鼻疾諸症</h2>
<p><u>鼻淵</u>　即腦漏。因風寒凝入腦戶，與太陽濕熱交蒸乃成。其患鼻流清涕，或流黃水，點點滴滴，長濕無干，用白芷一兩，蒼耳子（炒）、辛荑仁各二錢五分，薄荷五錢，為末，蔥茶清調，食後服。鵝兒不食草塞鼻孔，自止。藿香末一兩，公豬膽一枚，熬稠膏為丸，每服二錢，食後百滾湯下。如日久頭眩，虛暈不已，須用補中益氣湯（見中風諸症），以滋化源，始愈。</p>
<p><u>鼻紅</u>　陳好酒，湯熱，自足浸洗至膝踝，以汗出為度。凶者，可浸至半身。青蒿搗汁服，渣塞鼻中。孩兒菊，搗爛，取汁和酒服，渣塞鼻中，食雞子清，數枚皆效。亂髮，燒灰存性，去火毒，井水調下一錢五分；再用發灰少許，入麝數釐，吹鼻中；外以紙一張，作八摺，冷水浸濕，放頂心，熨斗火熨至一二重紙干，即止。麥冬二錢，白芍、荊芥、山梔（炒）各一錢，連翹（炒）七分，甘草四分，生地一錢五分，煎服，止血後調理，加黃耆、知母。</p>
<p><u>鼻痔</u>　瓜蒂（炒）、甘遂（炒）各四錢，枯礬五分，松香五分（為衣），香油，調硬些，每用一丸入鼻內點痔化為臭水，一月一次，自爛下。</p>
<p><u>酒齄鼻</u>　血熱入肺而然。苦參、當歸（各淨末，四兩和勻），酒糊為丸桐子大，食後熱茶吞八十丸，藥盡即愈。谷樹脂，不時搽塗，亦能散紅。</p>

<h2>口舌諸症</h2>
<p><u>口瘡</u>　口瘡服涼藥不愈者，屬中焦上虛，且不能食，相火衝上無制，用理中湯。人參、白木、甘草，補土之虛，乾薑散火之標，甚則加附子，或噙官桂，亦妙。黃連、乾薑，等分為末，搽上，流涎即愈。</p>
<p><u>口疳瘡</u>　紅棗十枚，燒灰存性，加梅花冰片二分，吹患處，愈。</p>
<p><u>口破</u>　口破，俱禁水漱。滑石一錢、辰砂三錢、冰片二分，研末，摻（兼治牙疼鵝口）。</p>
<p><u>口唇燥裂</u>　橄欖泡湯服；核中仁研爛，敷燥處，或胭脂敷之，立效。</p>
<p><u>口中生蕈</u>　用醋漱口，以茄母（燒灰）、飛鹽等分，米醋調稀，常擦，愈。</p>
<p><u>口臭、狐腋、體氣</u>　丁香、蕾香、麝香、香附、甘松、零零香、白芷、當歸、桂心、白豆蔻、檳榔、益智仁。各等分，煉蜜為丸桐子大。每日噙化五丸，一日口香，二日身香，三日衣香。</p>
<p><u>舌出血</u>　烏賊、蒲黃，炒，研末，敷。槐花，炒黃色，為末，乾摻，亦愈。</p>
<p><u>舌腫滿口</u>　蒲黃末摻之。鍋臍煤，研細末，白酒調塗，立消。</p>
<p><u>重舌、本舌、紫舌</u>　大人小兒皆有，起於心火妄動，結成重舌、木舌、紫舌，腫脹堅硬，語言不利，宜用黃連、山梔、荊芥、黃芩、連翹、木通、薄荷、牛蒡子各一錢，甘草五分，燈心二十根，水二碗，煎八分，食後服。米醋調薄荷末，嘓口出涎，數次愈。忌煎炒十餘日（並治單蛾，雙蛾）。</p>
<p><u>舌出不能入</u>　蓖麻油，蘸紙作燃，燒煙燻之，即收。</p>

<h2>齒牙諸症</h2>
<p><u>牙疼</u>　丹溪曰：牙疼者，乃屬陽明胃經也。風熱上侵，則有所感而舉之。有熱、有風、有寒、有蟲、有濕熱，皆能作痛。牙痛清胃湯：石膏三錢，生地、升麻各二錢，川連一錢二分，丹皮、當歸各一錢五分，水煎服。燒酒半盅，將馬牙三個，燒紅，淬入酒內，待酒冷，去馬牙，漱疼處，立止，不可嚥下。風頭荔枝一個，將殼開一孔，入鹽填滿，煅、存性，研末搽上，略含片時；再以防風、川椒、甘草、浮麥煎湯，漱口即愈，楊梅樹皮，醋煎漱齒，痛即止。黃連、生薑，共檸爛，塞牙縫，痛亦止。巴豆半粒，塞牙縫中，立止。粗碗一隻。用川椒鋪底，樟腦蓋面，覆碗一隻於上，鹽泥封固，文武火殿一夜，次早取藥研細。每用一釐，擦牙根，立愈。青果一個，煅過，存泥地，覆碗成炭，胡椒七粒同研，將綿子裹末，塞痛處，不宜多用，一飯頃，即愈。冰片半分、白蒺黎一錢，研末，痛時搽之。不拘蟲牙、火牙。明雄黃、蓽茇各二錢、麝香三分，共為末，入磁罐內，疼時，將中指捻藥搽之。滑石六分、甘草一分，研末，加冰片一分，搽之，愈。或以三奈子噙之。</p>
<p><u>有蟲牙痛</u>　貫眾一兩，以米醋二碗多煮。如左牙疼，側左邊嘓，右牙疼，側右邊嘓。頻嘓即愈，不宜吃。韭菜子一撮，水一盆，磁盞一個，覆水中，置韭子於足內，點火燒之，水盆上蓋酒漏斗一個，煙從孔出，將牙熏之，蟲自出水中，愈。</p>
<p><u>蛀牙</u>　松脂烘軟，塞孔中，少頃，蟲出在脂上。</p>
<p><u>齒縫出血</u>　薄荷、花粉、連翹、桔梗、玄參、木通、乾葛各一錢，甘草五分，水煎服。</p>
<p><u>胃經實火上攻，齒縫或牙根作腫，出血不止</u>　黃芩、黃連、生地、丹皮、升麻、石膏各一錢，水煎食後服。</p>
<p><u>胃中虛火動，牙齦腐爛，以致淡血滲流不已</u>　蘆薈、銀柴胡、胡黃連、川黃連、牛蒡子、玄參、桔梗、山梔、石膏、羚羊角、薄荷各一錢，甘草、升麻各五分，淡竹葉十片，水煎，食後服。</p>
<p><u>鵝口牙爛</u>　滿口生黃皮等類，用鵝口皮三個，兒茶、馬子鹼、冰片，共等分，研末，搽上自愈。</p>
<p><u>牙齦爛</u>　生薑、雞爪黃連，搗爛，貼患處，自愈。</p>
<p><u>齒疏陷物</u>　蘆甘石，煅，研，寒水石生研，每用少許擦之。忌用刷牙漱齒，久之自密。</p>
<p><u>取痛齒法</u>　白馬尾燒灰，存性，點上即落，但不可輕點，恐好齒沾著亦落。須新筆尖染藥一二釐，點或痛或動搖齒上，先以筋撐開上下唇，以便點藥。</p>

<h2>咽喉諸症</h2>
<p><u>喉閉</u>　症有十八種，多因火勝熱結而然。用山豆根，銜汁咽之即開。石膏（燒紅，出火氣）、菊花、杏仁各五錢，麥冬一兩，苦參四錢。水三碗，煎碗半，加蜜一小盞，緩服即開。如無藥，並有藥不進者，急將兩臂以手勒數十次，取扎發繩，扎大拇指，以針刺指甲邊，血滴下，其喉即解，如放沙一般，左右手皆然。</p>
<p><u>喉嚨腫痛</u>　甘草、貝母、黃芩、黃連、薄荷、川芎各一錢，桔梗三錢，玄參二錢，水煎服。扁柏葉汁、雪裡青汁、山豆根汁，服之效。喉種分風火，風以鶴蝨草含之，火以玄參服之，苦水吞下，愈。</p>
<p><u>喉痛或生蛾</u>　荔枝草搗爛，加米醋點之，愈（點法，以絹裹草，縛筋頭上，點入喉中數次）。</p>
<p><u>雙蛾單蛾</u>　平地木、木蓮蓬、雪裡青，根葉皆用，搗汁，用米醋滾過，衝入前汁內，鵝翎蘸汁，掃喉中，即以此汁，含少許嘓之，吐出即愈。止用醋嘓三五次，或取天蘿水吞（取法見痰嗽諸症），皆效。</p>
<p><u>喉癰腫脹，不進水穀</u>　膽礬三釐，含口內，吐出惡誕，自愈。</p>
<p><u>赤咽喉瘡</u>　百草霜、枯礬，研細末，吹入喉內，自愈。</p>
<p><u>喉癬</u>　頭胎黃牛糞，以新瓦洗淨，蓋糞周圍用文武火煅煙盡，存性，取出研末，將蘆管徐徐吸入，自愈。黃麻，用桐油搽過。煅、存性，為末，吹患處。陳年芥菜滷，埋地中者，嘓之，即愈。並可服。</p>

<h2>心腹諸症</h2>
<p><u>心痛</u>　丹溪曰：心痛即胃脘痛，須分新久之殊。若明知身受寒氣，口食寒物而痛，於初得時，當用溫散、溫利之劑；若病稍久而成郁，鬱則蒸熱，熱久必生火，若行溫劑，寧無助火添病乎？用山梔子，大者七枚，或九枚，炒焦黃，水一盞，煎七分，入生薑汁二三匙，令辣熱飲之，立止。此病雖日數多，不食不死，若痛方止，便吃物，與病安之後，又縱恣口腹，病再發，難治。滴乳香、雄黃各二錢五分，砂糖三錢，好酒調下，愈。蚶子殼，煅七次，米醋淬之，研末；發時，指甲挑置舌上，酒下。白木香、鹽水荔枝核（燒灰）各一錢，共為末，酒下。屋上貓糞，炙乾為末，將三錢酒下。胡椒七粒。綠豆九粒，研，燒酒下。不止，再服即止。胃脘疼痛，良薑（酒洗七次，焙，研）、香附（醋洗七次，焙，研）。病因寒得，良薑末多一倍；因怒得，香附末多一倍；如寒怒兼得，各等分。清米飲、薑汁、鹽少許，服之。雄黃末一錢、烏梅肉三錢，為丸青豆大，俟胃口疼時，酒服。輕者二丸，重者三丸。烏梅一個，黑棗二個，杏仁七粒，乳香、沒藥各五分，為丸，男酒、女醋下。</p>
<p><u>心氣痛</u>　生芝麻半升，候痛時，不必看，隨手取來，不拘多少，放銅鍋內炒黑為末，好酒送下，一服除根。不論遠年近日，山羊糞七粒，油頭髮一團，燒灰，好酒服，永不再發。</p>
<p><u>冷心氣痛</u>　乳香三分（火炙去油）、明礬一錢（火煅過），共為末，好酒下。良薑、甘草、烏藥、官桂、香附、芍藥（煨）、木香各等分，入鹽少許，水煎溫服。</p>
<p><u>熱心氣痛</u>　鍋臍煤，用熱童便調服三錢，即愈。</p>
<p><u>蛔厥心痛</u>　烏梅二個、川椒十四粒，煎湯服，即愈。</p>
<p><u>真心疼</u>　芭蕉葉搗汁，生白酒調服。白楊花煎服（又名天蜈蚣，北京甚多）。</p>
<p><u>急心疼</u>　陳皮、香附、吳茱萸、良薑、石菖蒲各等分，水一碗，煎七分，碗內先滴入香油三五點，小盞蓋之，將藥淋下，熱服即愈。</p>
<p><u>九種心疼</u>　千年石灰，研，端陽正午時，獨蒜搗丸如桐子大，每服十三丸，燒酒下，辰砂為衣。噁心吐水，積聚氣滯，是有蟲。乾漆四兩，慢火煅煙盡，醋糊丸綠豆大，食後，酒、醋熱下三十五丸。但痛極如咬，時吐清水，面清白，少光彩，為蟲頭上攻；痛時如有物阻礙，累累不得下；為胃脘停食；痛時嘈雜不寧，如飢如飽，快快欲吐，吐即稍寬，為痰飲停積；痛時隱隱悶結，胸臆相引，得噯覺寬，為憂鬱所致；痛時欲近暖處，飲熱酒即解，為寒客心包絡；痛時自上而下，自聞卿卿有聲，搔癢無措，眠坐不穩，心下如刮，上連胸臆，乃積血不消，為火所載，不可認以為蟲，而投以蟲劑也。</p>
<p><u>腹痛</u>　腹痛皆由寒，《素問》惟大便閉一種屬熱，且多恐為陰症，急以理中湯治之（見黃疸諸症）。巴豆三粒、紅棗一枚，搗爛，裹敷臍上，立止。</p>

<h2>脾胃諸症</h2>
<p><u>胃強脾弱</u>　凡男婦患此，飲食不能運化，胸膈悶脹不舒，暖氣，嘔吐作酸，口苦，舌爛，有痰，頭眩。蒼朮二斤（去蘆，米泔水浸洗，刮去黑皮，切片，曬乾，炒黃，磨取頭末），白漠黎（去刺，炒黃，取淨末）十兩、川黃連（酒炒，淨末）三兩、山楂肉（飯上蒸三次，曬乾，磨末）五兩。煉蜜為丸，桐子大，每日食後，巳申時白湯服七八十丸，漸加至百餘丸，自愈。</p>
<p><u>食傷脾胃</u>　陳火肉骨，或白酒酒藥，煅存性，砂糖調服，皆效。</p>
<p><u>病後胃弱</u>　不能飲食者，用蓮子肉、炒米各四兩，茯苓二兩，為末，砂糖二兩調勻，每服五六茶匙，不拘時服，白湯下。</p>
<p><u>胃脘嘈雜吐清水</u>　上好廣陳皮，去白為末，五更坐起床上，安末五分於手心，男左女右，於舐下，勿臥服，三四次即愈。飲食不住口，仍易飢餓，豆、糯米、黃麥各一升，炒熟，共磨成粉，每服一酒杯，以滾湯調服，三五日效。心膈飽脹，腹中又飢又痛，胡椒七粒研末，好酒沖服，立愈。胸膈飽脹、虛腫等症，蒼朮（制如前）五兩，陳皮、厚朴各五兩，川椒少許，獖豬肚一具，去脂，入大蒜，裝滿線縫口，用冷熱水各七碗，先燒滾入肚，至水乾為度，取出，搗爛無絲，合前藥末為丸，每日空心，滾湯下二錢。</p>
<p><u>胃脘不清，將漸成噎膈</u>　茯苓、廣陳皮、白朮（陳土炒）、枳實（麵炒）、製半夏各二兩，川黃連一兩（酒炒）、沉香五錢，厚朴一兩五錢，薑汁炒，白蒺黎一兩，白豆仁四錢，白芍藥一兩，人參一兩。各為末，水泛為丸，如桐子大，粥後，白湯下百餘丸。</p>
<p><u>嘔噎</u>　蘆根五兩，切碎，水二碗，煎一碗，空心服，即止。</p>
<p><u>膈食膈氣</u>　閉口風根，洗淨，煎醋，漸飲數茶匙，則膈通而索食矣。噎膈與翻胃不同，羊眼豆，捶碎取汁，服少許。膈食，馬子鹼（火煅透，四兩），研細，蜜水調服。膈氣，沉香一錢為末，泉水煎湯，徐下。膈氣吐食，大鯽魚煨熟每用一尾（去腸，留鱗，大蒜切片填滿，紙包十重，泥封，炭火煅），和平胃散一兩（見頭疾諸症）杵爛，蜜丸桐子大，每服三十丸，米湯下。</p>
<p><u>翻胃吐食</u>　樹上黃香圓，糞內浸七日，再用童便浸七日，風乾煎湯服。仙人杖（即退竹）煎汁服，乾柿餅，每用三枚，連蒂搗爛，用酒服，甚效。水澄螺螄泥，曬乾為末，酒下一錢。甘蔗汁一升，入生薑汁二合，溫熱作五次服，皆效（甘蔗汁又治中酒毒乾嘔者）。</p>
<p><u>噎膈翻胃鼓脹</u>　沉香、蘇子、廣陳皮各二錢，官桂一錢，木香三分、蘿葡子三錢，俱為末。每用末三分，配狗寶一分，須用好泉水，煎通草湯，空心調服。老年翻胃噎膈，服辛香散氣等藥過多，米粒不下，漸至危篤者。狗寶三錢、真西牛黃三分、人參二錢、海南沉香二錢，為末，不拘時用少許，噙至舌上。徐嚥下，日服四五分。</p>

<h2>腰脅諸症（附：諸閃腿痛）</h2>
<p><u>腰痛</u>　杜仲、骨碎補、青鹽，共為末，入豬腰子內，濕草紙包，煨熟，好酒下。連服數個，即愈。</p>
<p><u>腰痛曲而難伸</u>　山楂末三錢，茶、酒、鹽湯隨下。</p>
<p><u>腰痛並或時閃挫</u>　杜仲、破故紙、核桃肉，各等分，酒煎服。糯米一二升，炒極熱，盛囊中，縛於痛處，細研八角茴香三錢，以鹽、酒隨時服之，皆效。</p>
<p><u>脅痛</u>　草豆蔻（炒）、枳殼（炒）、赤芍藥、砂仁、香附子、烏藥各等分。水二碗，煎一碗，溫服。</p>
<p><u>脅下疼痛</u>　小茴香（炒）一兩、枳殼（炒）五錢，共為末，每服二錢，鹽湯調下。</p>
<p><u>腰閃</u>　枳殼、桔梗各八分，甘草、紅花各五分，防風、烏藥、當歸、杏仁（炒，去皮尖）、製半夏、木通各一錢，水煎服。</p>
<p><u>諸閃</u>　凡閃肭打傷，閃腰，並手足損傷不出血，但有青紫內傷者，先以蔥白搗爛，炒熱，將痛處擦遍；隨用生大黃研末，姜計調敷，儘量飲以好酒，即三月半年不愈者，神驗。</p>
<p><u>腿痛</u>　生地大者二兩（酒浸），何首烏一兩五錢，歸身一兩三錢（酒洗），白朮（土炒）、金銀花、胡麻各二兩，獨活五錢，甘草七錢，牛膝一兩五錢（酒浸），用無灰好酒十壇蒸熱，每日空心服，以半量為度。</p>

<h2>大小便症</h2>
<p><u>大便閉</u>　皂莢研末，將蜜煉滴水成珠時，入皂莢末，丸如棗大，塞肛門內，即通。田螺搗碎，入麝香三四釐，放臍內。楝樹子六枚，煎湯服，皆效。</p>
<p><u>腸風下血</u>　生地、丹皮、赤芍、升麻各二錢，水二碗，煎八分，空心服。又方：當歸、生地、熟地各五錢，小薊一兩，酒水各半煎服，愈後服十全大補湯十劑。白朮（炒）一錢五分、人參一錢、白茯苓一錢、炙甘草一錢、當歸一錢二分、白芍藥一錢、川芎八分、熟地黃一錢五分、黃耆（蜜炙）一錢、肉桂七分。水二碗，姜三片，棗二枚，煎一碗，食前服（凡元氣素弱，起居失宜，飲食勞倦，用心太甚，及氣血俱虛與久病虛損，服此諸症悉除）。又方大柿餅（切片，瓦上燒存性，去火毒，為君）、荊芥穗（醋拌，炒黑色）、茄蒂（燒存性）、荷葉（蒸過者，燒存性）、地榆（炒黃色）、生地黃、陳棕（燒存性），各研末。用椿皮煎汁，煮烏梅肉，搗爛，加米醋，打糊為丸，每服三錢，空心，扁柏槐花湯送下。豬大腸一尺五寸，將浮小麥裝滿，紮好，淡煮爛，空心服，數次愈。烏梅煮豬血，透熟，只啖食豬血效。茅根不拘多少，水煎去渣，溫服即止。豆腐未入袋濾出漿者，帶渣取來，鍋內炒黃燥可以研末為度。如下紫血塊者，白糖湯清晨調服三錢；紅血塊者，砂糖湯調服。雖遠年便血，至面色黃瘦垂危者，服之神效，每日可用三次。</p>
<p><u>糞後紅</u>　下霜時，冬青子蜜浸，曬乾三次，空心滾水吞二三十粒。</p>
<p><u>脫肛</u>　多主氣虛。人參、黃耆、川芎、當歸、升麻，水二碗，煎八分，食前服。如血虛，加芍藥、地黃；血熱，加炒黃柏；虛寒，加炒黑乾薑，外以五倍子末，托而上之。蓖麻子四十九粒，搗爛，貼頂門上，即收，收即急洗去其藥。常以二桑葉代草紙，亦效。蟬蛻焙黃為末，點即收。草鞋底托揉亦上。虛人脫肛，補中益氣湯（見中風諸症）加黃柏、知母、蒼朮、黃芩。肛門癢，加秦艽、桃仁。大便閉塞，加皂莢。</p>
<p><u>腸風臟毒、便血、痔漏</u>　黃連、槐花，各酒炒四兩，共為末，豬大腸一具，將藥末入內紮好，同韭菜二斤，水煮極爛，去菜，將腸藥搗丸如桐子大，每服八十丸，空心、米湯下。</p>
<p><u>痔瘡</u>　苦參一斤、當歸四兩、雄黃三錢、礬四錢，共為末，獵大腸一具，入前藥，線扎兩頭，投罐中，水煮腸化為度，搗丸如桐子大。每服五十丸，酒下，日三服。牡蠣二兩，煅過，入地挖坑埋之，去火氣，研細末，痔瘡若濕，乾摻；若干，以津液調搽瘡上。</p>
<p><u>痔漏</u>　胡黃連（淨者）一兩，穿山甲（麻油內煮黃色），石決明（煅）、槐花（微炒）各末五錢。蜜煉丸如麻子大，每服一錢，空心清米湯下，早晚日進二服。至重者，四十日愈。此方不用針刀掛線，不受苦楚，誠起痼疾之良方也。如漏之四邊，有硬肉突起者，加蠶繭二十個，炒研，和入藥內，即沾遍身諸漏，皆效。拳雞一隻（去毛洗淨，取出肚雜），先以皮硝八兩裝入布袋，縫好，塞於雞胸之間，再以茯苓一兩五錢裝入雞腹縫好，五鼓隔湯蒸熟（蒸時，以頭別轉脊心，四件並血，墊於雞身兩側，不但受藥味，雞並不跌倒），取起，去腹內硝藥，空心（下部之症，最宜空心服），用無灰酒，或一餐，或二次酌完，自愈。丹溪先生治漏瘡，先用補藥以生氣血，參耆歸術為主，大劑補之；外以附子末，津液作餅，如錢厚，放漏處，艾灸之。微熱，不可令痛，餅乾再易其餅，隨症大小為之，困倦即止，明日再灸，以肉平為度，仍服前補劑，外摻生肌長肉藥。生肌散：五倍子（炒黃）二兩，沒藥、乳香（炙）、兒茶各一錢，白礬（飛過）五錢，為細末，用蘆管吹入漏瘡口內。</p>
<p><u>痔瘡便血</u>　凡痔不拘新久，肛門重墜，便血作疼。防風、秦艽、當歸，川芎、生地、白芍藥、赤茯苓、連翹各一錢，檳榔、甘草、梔子、地榆、枳殼、槐角、白芷、蒼朮各六分，水二碗，煎八分，食前服。便秘者，加大黃。</p>
<p><u>牛奶痔</u>　瓠種殼燒灰，研細末，入冰片少許，敷之愈。</p>
<p><u>洗痔方</u>　五倍子、皮硝，煎數十沸，去渣，乘熱盛木盆中，四圍板蓋，留中一孔，熏蒸良久，用手掏洗至湯冷，乃住，甚效。枳殼一味，如前煎湯，熏洗亦效。痔未破者，茄蒂或根曬乾，煎洗數次愈。</p>
<p><u>點痔方</u>　片腦半分、熊膽一分，蝸牛大者一個（去殼，研爛），共研成膏，入水一二滴，塗痔處。忌酒及動風發物。內痔翻出，大田螺一個，置漆盒內，加冰片五釐於眼內，俟水滴下，將鵝毛潤痔上，即進矣。</p>
<p><u>小便閉</u>　麥面和作圈，圈臍外，鯽魚一尾，連鱗腸搗爛，入麝三分，生蜜四兩和勻，填滿臍上圈內，上以碗覆之，熟睡立通。或冬葵子、赤茯苓各二錢，水煎，食前服。木通、生地各二錢，甘草八分，水煎服，皆效。</p>
<p><u>小便閉，腹痛難忍</u>　木通、滑石各一兩（研），黑牽牛（頭末）五錢，每服末一錢，燈心、蔥白湯，食前服。生車前草搗自然汁半盅，入蜜一匙，溫服。</p>
<p><u>小便不通，肚腹悶脹</u>　生明礬，為細末，放臍內，以手指蘸清水，滴入礬末上，良久即通。</p>
<p><u>小便澀痛</u>　牛漆濃煎，酒沖服。</p>
<p><u>五色淋症</u>　韭菜搗汁，和生白酒，空心服，其渣煎湯，洗陰莖。</p>
<p><u>熱淋有血</u>　小便澀痛，腰痠足軟，面黃無力，精神倦怠，久而不止。地榆、廣陳皮、蒺藜、扁柏葉、桑白皮（炒黃）、家艾、生地、黃柏（鹽水炒）、阿膠、蒲黃（炒）、北沙參、蓮房殼各等分，加薄姜一片，水煎，食遠服。生地黃汁一升，生薑汁一合，頓服亦愈。忌一切糟味、麵食、煎炒、椒薑、煿炙、海物。龍骨四錢為末，食後，酒服五分。白茅根煎湯，連服數次，兼治諸淋。亂髮不拘多少，燒灰，入麝香少許，米醋加白湯調服。柿餅一斤連蒂核，切碎，潔淨砂鍋內水煮稠，只用湯，隨時服，須一日吃完，服數斤，即愈。</p>
<p><u>白濁</u>　韭菜子一兩，炒為末，空心，酒調服一錢三分。淡竹葉、地骨皮、桑白皮（蜜塗焙燥），煎湯服即止。藕節不拘多少，蜜拌，飯上蒸熟，連服三四次愈。車前草四兩，搗爛，生白酒攪汁，入鹽少許，空心熱服，一二次愈。小便疼者更佳。雪裡青草，生白酒煎服。白濁遺淋，痛不可忍，羊角燒灰，好酒下。</p>
<p><u>白濁遺精</u>　韭菜二斤（搗汁）、牡蠣半斤（炭內燒紅，煅干，韭汁為度），研末。每服三錢，空心，燈草湯調服。酸味味草一樣，酒煎服神效。</p>
<p><u>遺精</u>　白朮（六兩）　苦參、牡蠣各三兩，共為末，豬肚一具，水煮爛，搗丸桐子大，每服四十丸，日進三服，酒下。蓮子心二錢，硃砂一分，共為末，空心服，愈。</p>
<p><u>精滑不禁如油</u>　牡蠣、龍骨（各煅）二兩，白朮（炒）二兩，青鹽五錢，益智仁一兩，蓮鬚、芡實、枸杞各三兩，香椿皮四兩，為末。用嫩黃耆同金櫻子（去刺核）一斤，煎膏為丸，每日空心，淡鹽湯送下二三錢。</p>
<p><u>夢遺膏藥</u>　川楝子三錢、龍骨一錢、牡蠣二錢，為末，用灸瘡膏藥摻末，貼臍下一寸三分。乳香，指大一塊，臥時含口中，醒即吞之，數次自愈。</p>

<h2>疝氣諸症（附：囊癰囊癢）</h2>
<p><u>七疝總論</u>　七疝症各不同，治亦有別。如寒疝囊冷，結硬如石，陰莖不舉或捏睪丸痛。得於坐臥濕地、涉水，以去濕之劑下之。水疝，囊腫如水晶，陰汗、癢，搔出黃水，或小腹按之作水聲。得於醉酒行房，汗出遇風，寒濕結囊中，以逐水之劑下之。筋疝，陰莖腫脹，或潰或膿或痛，裡急筋縮，或莖中痛，痛極則癢，或挺出不收，白物如精，隨溺出。得於房中邪術所使，宜降心火之劑下之。血疝，狀如黃瓜，在小腹兩旁，橫骨兩端，俗名便癰。得之重感，春夏大燠，勞於使內，其氣流溢，滲於脬囊，結為癰腫，以和血藥下之。氣疝，上連腎區，下及陰囊；或號哭忿怒，氣鬱而脹，以散氣藥下之。狐疝，狀如瓦，臥則入腹，行則出，上下無定，如狐之惑也，故名之，以逐氣流經之劑下之。㿗疝，陰囊腫大如升十，不癢不痛，因受濕氣而生，宜去濕之劑下之。</p>
<p><u>疝氣初起</u>　鳳仙花陰乾，荸薺風乾，等分，燒酒浸服，日飲二三盅。山楂、蒼朮各五錢，無灰酒碗半，煎八分，熱服，蓋被出汗，數服愈。</p>
<p><u>諸疝舉發，痛不可忍</u>　荔枝核炒脆為末，空心白湯下，或加青皮、山梔、山楂、茱萸各等分，炒末，仍用白湯調服。</p>
<p><u>木疝</u>　即木腎。凡人心火下降，則腎水不患其不溫，真陽下行，則腎氣不患其不和。溫且和，安有所謂木強者哉？木強則傷腎矣。故不可純用燥藥，當行溫和散利，以逐其邪，則邪自消，榮衛流轉則愈，須服枸杞子丸。枸杞子、昆布、吊茱萸各四兩，南星、半夏、白芷、山楂（去核）、神麯（炒）各二兩，滑石（炒）、蒼朮（鹽炒）、黃柏（酒炒）各三兩，為末。酒糊丸，如桐子大，每服七十丸，空心鹽湯下。</p>
<p><u>主心疝</u>　山羊油不落水者，荷葉包裹，掛當風處陰乾，不可著雨。遇此症，取三五錢，沖熱酒服，不飲酒者，滾湯亦可，並治諸疝。</p>
<p><u>寒疝攻痛及偏墜</u>　不論老少，病在左，荔枝枝，一歲一粒，慢火煅，存性，空心好酒調服（如年紀多，不妨作數次服，須一日服之）；病在右，小茴香鹽水炒，研末，空心燒酒調下三錢。</p>
<p><u>囊癰</u>　凡小腹作疼，牽引腎子，多寒少熱，好飲熱湯，乃疝氣也。如陰囊紅腫，發熱，小便赤澀，內熱口乾，墜重作痛，乃囊癰之候，不宜用疝家熱藥，清肝滲濕湯主之。川芎、龍膽草、天花粉、當歸、生地、柴胡、山梔、黃芩各一錢，澤瀉、木通、甘草各五分，加燈心水煎，食前服。潰後摻藥：蚌殼、黃連、青黛各等分，研極細敷之。</p>
<p><u>囊癢</u>　燥者，油核桃油潤之；濕者，五加皮、千里光、明礬、劉寄奴、豨薟草，煎湯洗之。腎腸風癢痛，陳壁土研末撲上，愈。</p>

<h2>腳氣諸症</h2>
<p><u>腳氣總論</u>　腳氣始受於濕，復爽風寒暑熱之邪而成，故先起於腿足，必腳屈弱，而舉體轉筋，肢節疼而足行腫，小腹不仁，心中悸動，胸滿便澀，但發熱頭痛身疼之候，絕似傷寒，人多誤治。仲景以腳氣為類傷寒症，另主篇目以別之，蓋為此也。羅謙甫云：南北腳氣，受病不同，南方卑濕，濕每襲虛而病起於下，此腳氣從外受也；北方地高無濕，其俗飲幢乳酒面，以飲多快食為能，或奉養太過，亦滋其濕，水性潤下，氣不能拘，故下注於足，而成腫痛，此腳氣從內受也，當推究所因而治之。</p>
<p><u>濕腳氣</u>　足痛脛腫，須服防己飲。白朮（炒）、犀角、蒼朮（炒）、生地黃（酒炒）、黃柏（酒炒）各一錢，木通、防己、檳榔、川芎各八分，甘草梢七分，水煎熱服。有熱，加黃芩；熱甚及天令熱，加石膏；痰加竹瀝、薑汁，或南星；便秘加桃仁；小便澀加牛膝。蒼朮（米泔水浸，切片，炒）二錢、黃柏（酒炒）三錢、川牛膝（酒炒）二錢，空心煎服，為丸亦可。萊菔秧（即蘿葡菜）連根，煎湯洗，如無鮮者，曬乾者亦可用。明礬二兩，地漿水（見諸藥食毒）十大碗，煎六七沸，將一半浸腳，一半徐添入。上以衣服圍身，略有微汗則愈，隨與薄粥飲之。如不愈，前方內加硫黃三錢。土枸杞葉搗汁，將鵝毛塗患處，數十次自愈。</p>
<p><u>風寒暑濕腳氣</u>　風仙花葉曬乾，煎湯熱洗，仍以葉搗爛敷患處。</p>
<p><u>食積流注成腳氣</u>　蒼朮（炒）、防已、黃柏（酒炒）、白芷、犀角各一兩，檳榔、南星（薑製）各八錢，川芎五錢，肥人加貝母（去心）、橘皮（去白）各一兩，為末。酒糊丸，如桐子大，每服七十丸，空心白湯下。</p>
<p><u>腳氣發腫</u>　馬鞭草煎湯，洗二三次愈。占米飯，同陳年好酒糟，搗爛，裹在患處，上露出腳指頭。虛腫，槐花、山梔（鹽酒炒黑色），為末，空心米湯下，治腳瘡亦效。腳氣流火，廣東活絡丹，酒服，妙。</p>
<p><u>治腳轉筋</u>　轉筋皆屬血熱。急將大蒜磨腳心，令偏熱，即以四物湯（當歸、白芍、熟地、川芎）加酒芩、紅花，煎服。有筋動於足大指上，至腰而住者，此奉養過厚，因風寒濕而作，又當加蒼朮、南星。</p>
<p><u>腳癮</u>　土大黃末，津唾醮搽，自能定疼消腫。腳裂，黃醋六兩、降香二兩，研細，活豬油半斤，同熬敷之。腳鹼，荸薺半個，貼患處過夜，次晚再貼，五六夜，其鹼連根脫出。蔥根、荸薺，搗汁一碗，煎，再取松香四兩，麻油再煎，滴水成珠，方入煎汁，攤膏藥貼，即落。</p>
<p><u>腳指縫爛瘡</u>　鵝掌黃皮焙乾，燒灰存性，為末摻之。或因暑，手抓爛瘡，細茶口嚼爛敷之。遠年近日，風癢腳瘡，流黃水者，黃柏去皮，不拘多少，用豬膽汁塗搽曬乾，數次酥透，柏皮方研末；先用花椒煎湯，洗過拭乾，隨以末藥敷之，二三次即愈。</p>

<h2>婦女諸症</h2>
<p><u>婦女總論</u>　經曰：女子七歲，腎氣盛，齒更髮長，二七而天癸至，任脈通，太衝脈盛，月事以時下。天，謂天真之氣降；癸，謂壬癸水名，故云天癸也。然沖為血海，任主胞胎，腎氣全盛，二脈流通，經血漸盈，應時而下。所以謂之月事者，平和之氣，常以三旬一見，以象月盈則虧也。若遇經脈行時，最宜謹於調理，調理失宜，似產後受病一般，輕為宿疾，重則喪生。蓋被驚則氣血錯亂，經脈斬然不行，逆於身，則為血分癆瘵等症。若其時勞力，則生虛熱，變為疼痛之根。若恚怒，則氣逆，氣逆則血逆，逆於腰腿，則遇經行時，腰腿疼重，過期即安。逆於頭腹心肺背脅手足之間，則遇經行時，其症亦然。若怒極則傷肝，而有眼暈，脅痛、嘔血、瘰癧、癰瘍之病，加之經血滲漏於其間，遂成竅穴淋漓，無有已也。凡此之時，中風則病風，感冷則病冷，久而不愈，變症百出，可不慎哉。</p>
<p><u>滋陰百補丸</u>　專治女人勞傷，氣血不足，陰陽不和，乍寒乍熱，心腹疼痛，不思飲食，羸瘦乏力。香附一斤（炒，去毛，分四制，酒浸四兩，鹽水浸四兩，醋浸四兩，童便浸四兩，俱炒，焙乾），益母草半斤（端午日採，去土），當歸六兩（酒洗），川芎、白朮、熟地黃（酒洗）各四兩，芍藥三兩（炒），人參、茯苓、玄胡索（炒）各二兩，甘草（炙）一兩。上為細末，煉蜜丸如桐子大，空心時每服五六十丸，或縮砂湯，或醋湯，或酒，或滾水隨下。</p>
<p><u>調經順氣</u>　當歸（酒洗）、生地（酒蒸熟）、白朮（米泔水浸，炒）各四兩，茯苓（去皮），南芎（鹽湯浸，銼，曬乾）、陳皮（鹽湯洗）、酒芩（沉水者，酒炒）、丹皮（去骨）、玄胡索（酒炒）各二兩，白芍（酒炒）三兩，人參（去蘆）一兩，沉香五錢。上為末，煉蜜為丸，如桐子大，每服三錢，空心鹽湯下。</p>
<p><u>骨蒸調經</u>　當歸一錢，白芍、地骨皮各八分，黃芩（酒炒）、甘草各四分，白朮、橘紅、白茯苓各七分，枳殼五分，半夏（酒製）三分，澤蘭葉二錢，水二碗，紅棗二枚，煎服。</p>
<p><u>經脈不調</u>　漸成癥瘕氣塊，香附一斤（炒，四制）、蘄艾八兩（米醋煮，炒黃色），上為末，用米醋丸如桐子大，每服六十丸，淡醋湯送下，日進二服。忌生冷、油膩等物。</p>
<p><u>月水久閉</u>　用蠶砂四兩，炒半黃色，就入無灰酒一壺於砂鍋內沸過，取起，以磁器盛之，去蠶砂，溫飲數盞，即通。</p>
<p><u>調經種子</u>　蘄艾、香附（四制）各八兩，歸身（酒洗）、生地（酒浸）、熟地（酒蒸）、杜仲（酒炒，去絲）、續斷（鹽，酒炒）、山藥（炒黃色）各二兩，芍藥（酒炒）、茯苓（人乳拌）各兩半，川芎一兩，粉甘草八錢（蜜炙）。上為末，米醋糊丸粟米大。每服二錢，空心淡鹽湯下。又方：益母葉七兩，生地、當歸、芍藥、香附（四制）、熟地各三兩，）川芎二兩。為末，蜜丸如桐子大，每服三錢，空心好酒下。</p>
<p><u>妊娠心腹痛不可忍</u>　鹽少許，炒令赤，取一撮，淬酒中，服之即止。</p>
<p><u>安胎</u>　茯苓二兩（色白、堅重者佳，去皮）、條芩（鬚子黃芩，酒炒，大者不用）、真於白朮（去蘆，黃土炒，去土，云術不用）、香附（童便浸，炒）、玄胡索（醋炒）、益母草葉（梗不用）、紅花各一兩，真沒藥三錢（去油，雜桃膠者不用）。各研細末，煉蜜為丸如桐子大，每日空心，白湯服七丸，不宜多。如胎不安，一日間可服四五次，不宜連吃，安則仍一日一服，間日亦可，皆以七丸為極。凡遇腹痛腰痠作脹，宜即服之。如胎三五月常墜者，須先一月制服。戒惱怒、勞力、煎炒、發氣之物，並冷水冷物及房事。此方即至見紅將墜者服之，往往能保足月，神方也。</p>
<p><u>胎動不安，腹痛下黃水</u>　糯米一合，黃耆、川芎各五錢，水一升，同煎至八合，作二次溫服。胎重作痛不可忍，用鯉魚、酒煮食之。胎漏不安，糯米二合，煮粥，預浸生地黃，搗汁一合，粥臨煮熟放下調勻，空心服。忌鐵器、用砂鍋煮。</p>
<p><u>孕婦磕閃跌撲致胎半產，及故欲去胎，妄服毒藥，見諸惡症</u>　不論胎已下未下，當歸（酒洗，全用）五錢、川芎三錢（用真南芎或真撫芎亦可，余不堪用）、益母草（紫花者）五錢（白花者勿用），水煎濃飲。如口噤，斡開灌之，胎可安，即愈；不可安，即下。產後諸症亦治。須陳好酒、童便各一小杯（是方三味，名沸手散）。</p>
<p><u>束胎散</u>　益母草、當歸各二錢，川芎、茯苓各一錢五分，枳殼八分，陳皮、甘草各五分，人參一錢，交十個月加秋葵子四十九粒，生芝麻半合，煎服。如力不能服參者，不用可也。八九個月間日一服，臨盆產後，保無他患。</p>
<p><u>催生丹</u>　不宜早用，恐是轉換，猶遲數日也，須胞破時服之。益母草一斤、當歸八兩、甘草四兩、乳香六兩（出汗過）、麝香三錢，端陽午時合。忌雞犬不淨、婦女生人。煉蜜為丸如圓眼大。臨產，乳香五分煎湯送下。或單用佛手散（見前孕婦磕閃跌撲內）濃煎飲之。一服不生，再服；又不生，三服即下。蓋此藥調和氣血，不致偏雜。未當正產，即能安胎止痛；已當正產，即能催生，免諸痛苦；既生仍服，又能去舊生新，行中有補。有孕家，宜預購數帖，不可輕忽視之。</p>
<p><u>難產</u>　漿水已下，過時不產，宜服滑利之藥。單用車前子一兩（微炒、碾）水煎服（凡催生藥，俱用大河順流水）。或車前子加菟絲子等分為末，溫酒下三五錢，亦效。千里馬鼻（即路上舊草鞋鼻）、蟬蛻五個（去首足）、麝香五釐、雄黃五分（燒灰，用陰瓦存性），共為末。每服三分，好酒下，擁被出微汗，立生。秋葵花子三錢，焙乾為末，好酒服之。單用益母草煎湯當茶服，亦效。荷花一瓣，上書人字，嚼而吞之，立下。鐵稱錘燒紅，投酒中飲之，亦下。小虎刺根，搗爛，好酒一盞沖服，胎即下。巴豆三粒（去殼）、蓖麻子七粒（去殼）、麝香少許，研為一餅，貼臍上即產，產即速去其餅，不然，子腸亦出。</p>
<p><u>夏日熱悶難產</u>　六一散（滑石六錢、甘草一錢），新汲水和，入蜜飲（非酷暑大熱不宜服）。</p>
<p><u>冬月為寒氣所逼難產</u>　用五積散。蒼朮二錢，厚朴、陳皮、茯苓、枳殼、白芍、當歸、桔梗、乾薑各八分，半夏、川芎、白芷、官桂各七分，麻黃一錢，麝香（另研入）三分，生薑三片，蔥三根，水煎熱服（加甘草六分）</p>
<p><u>產門閉</u>　前胡一兩，大川芎三錢，酒煎服。</p>
<p><u>矮人石女，並未經產者，幾近產門，交骨不開</u>　龜板一個，曾生男女婦人頭髮一把，俱燒灰存性，每服三錢；濃煎川芎五錢、當歸一兩調服。約人行五六里時，骨即開，不論生死胎，俱下。</p>
<p><u>胎衣不下</u>　荷葉銼碎，水煎濃服，即下。產婦自將髮梢置口中，一噁心即下。吞生雞子清一枚，亦下。</p>
<p><u>橫生倒產</u>　令孕婦安心仰臥，如手足先出，以小針於兒手足輕刺數處，以鹽少許擦之，即時縮入，方可用藥順下，或令穩婆將兒手足輕輕送入亦可。或用艾壯作麥粒大，灸孕婦右腳小趾尖三壯，即順生。蛇蛻一條，蟬蛻十四個，俱用全者，頭髮一握，並燒為末，分二服，溫酒調下，仰臥片時，即順生。灶下對釜底紅土研細，酒下一錢，復用塗產母臍中，兒頭帶土出。</p>
<p><u>子死腹中不下</u>　黃土糞乾者，白湯服，即下。苦葫蘆燒灰存性，研末，每服一錢，空心熱酒下。</p>
<p><u>月數未足，胎死不出</u>　醋煮大豆服之，立下。未下再服。</p>
<p><u>子死腹中，連日不出</u>　亦用巴豆、蓖麻子、麝香餅貼臍上，即下（方見難產內）。又方：單用蓖麻子四十九粒，去殼搗膏，塗兩足心，即出。出即洗去，不然子腸亦出。如子腸出，即以此膏塗頂心，腸自入。</p>
<p><u>產下保生錠</u>　蒲黃、五靈脂各十兩（炒熟），玄胡索五兩（醋炒），甘草二兩（炙），青皮二兩（醋炒），面和印錠，端午合，忌雞犬不淨、婦女生人。產下一飯時，薑湯化服。</p>
<p><u>定暈寧心散</u>　澤蘭葉、荊芥各一斤，當歸八兩，川芎十兩，甘草四兩。為極細末，產下時，將末三錢，清米湯調服，加入童便半盞。</p>
<p><u>產後發暈</u>　當歸尾（上）、川芎、山楂、益母草、五靈脂（俱中），水煎，臨服加童便一酒盅。荊芥（炒黑色，研）、童便半盞，白湯調服，亦效。</p>
<p><u>產後血暈</u>　惡血衝心，不知人事者，須先以兩手提起產婦頭髮，不可放倒，放倒則血攻心，不救。急以鍋燒熱醋入瓶中，對產婦口鼻熏之，兼以少許灌口中，自定，方可放手，仍用坐起。荊芥穗（炒黑存性，研細末）用五、六分，或多則錢許，熱童便調，灌下即延。如去血過多，時時發暈者，濃煎川芎五錢、當歸一兩，調下最良。血衝上昏暈欲絕，紅花一撮，好酒一盅，煎數沸，入童便二盞，乘熱灌下，立驗。產後發暈，有預防妙法。置好醋於床前，令房中常有醋氣，或塗產婦手鼻少許，一日之內數次，產婦習聞此味，自不發暈，勝於已暈求救遠矣。</p>
<p><u>產後惡血不盡，上奔衝心，煩悶腹痛</u>　搗藕汁溫服。或惡露不盡，腹中疼痛，及兒枕作痛，以山楂百十個，打碎煎湯，入砂糖少許，空心溫服。</p>
<p><u>產後發熱</u>　多由血虛，大劑當歸、炮姜治之，愈（如冒風寒加減治之）。</p>
<p><u>產後遍身疼痛</u>　此症因產走動，血氣升降，失其常度，流滯關節，筋脈引急，是以遍身疼痛，甚則腰背強硬不能俯仰，手足擎物未能屈伸，或身熱頭痛，不可作他病治。）。川牛膝（去蘆，酒浸）、當歸（去尾，酒浸）、官桂（不見火）、白朮、黃耆（去蘆）、獨活、生薑、白殭蠶、甘草、桑寄生各等分為末，每服四錢，滾水調服，神效。</p>
<p><u>產後敗血流注經絡，結成腫塊疼痛者</u>　香附、赤芍、川芎、當歸、熟地、陳皮、紫蘇、丹皮、紅花、牛膝、枳殼俱各一錢，甘草節、獨活各五分。水二碗，煎八分，入酒一小杯，食前服。</p>
<p><u>產後舌出不收</u>　用丹砂敷之，或暗擲盆盎，作墮地聲驚之，即收。</p>
<p><u>產後閉結</u>　當歸、生地、桃仁、茜草根、玄胡索、赤芍、紅花，如寒痛加木香；有汗去木香，加人參、甘草、酸棗仁；作惡心者，加砂仁三分。</p>
<p><u>胎前產後痢疾</u>　用敗龜甲，以米醋炙，為末，調服。</p>
<p><u>回生丹</u>　胎前產後，三十六症，及崩淋經次諸疾，無不治之。此誠神驗妙方也。錦紋大黃（去皮）一斤（為細末）、蘇木三兩（銼，用河水五碗，煎計三碗，去渣存汁）、紅花三兩（炒黃色，入好酒一大碗，同煎三五滾，去渣存汁）、黑豆三升（煮熟取汁三碗，去豆不用。一方此下有隻用豆皮四字）。先將大黃末用好米醋三兩碗，攪勻，以文武火熬成膏（須煮三遍，至色黑為度）；次用紅花酒、蘇木湯、黑豆汁，攪開大黃膏入內，又熬成膏，取出如有鍋粑，再焙乾，入後藥。當歸（白大者，酒洗淨）、川芎（茶洗淨）、地黃（好酒浸透，九蒸九曬，如不爛，加酒煮，杵化）、白茯苓、烏藥（酒炒）、蒼朮（米汁浸製）、香附米（便制醋炒）、玄胡索（醋炒）、蒲黃（微炒）、牛膝（去蘆）、桃仁（去皮尖，另炒熟，研）各一兩，甘草、廣皮、木香、三稜（醋炒）、羌活、五靈脂（酒飛淨）、地榆（生用）、山萸肉（酒蒸）、白芍（酒炒）各五錢，良薑四錢，（壁土炒），人參、白朮（炒，去筍）、木瓜、青皮（去穰，醋炒）各三錢，乳香、沒藥各一錢。以上共二十七味，為細末，用大黃膏丸如彈子大，每服一丸，陳好酒頓化，通口服。附錄諸症，藥引於下。</p>
<p>產期未至，惡露先下，以致乾燥難生，俗稱立漿；橫生逆產，傷損而產。盤腸產，暑產，凍產，悶亂連日，不得即生；子死腹中，唇青腹冷，命在須臾。以上並用當歸、川芎、益母草各三分，水一茶盅，煎七分，用酒三分調服。酒必陳醇者方佳。</p>
<p>胎衣不下，悶脹昏迷，惡露上攻，昏暈不醒；產後無力，時時暈厥。或喘促汗出。或頭眩眼黑。以上並用芎、歸各三分，水一茶盅，煎七分，用酒三分調服，再入童便半盞在內。</p>
<p>產後惡露不盡，或竟不行，以致脹滿疼痛；產後寒熱往來，有似瘧疾，飲食不進，日久則成骨蒸；產後飲食有傷，瀉利腹痛；產後胸膈脹滿，嘔吐不止；產後四肢浮腫；產後食麵太早，血結在心，心口煩躁壅悶；產後邪言亂語，如見鬼神；產後敗血流入經絡，百節痠疼；產後血入心孔，失音不語；產後因怒傷肝，尿血如雞肝；產後敗血入肺，喉似蟬鳴；產後體澀腰痛，身似角弓反張；產後將息失宜，下血似崩；產後面黃舌乾，或鼻中出血，或遍身紅點；產後小便淋漓，大便不通，或乍寒乍熱，如醉如癡；產勞虛損，身瘦面黃，飲食減少，發熱盜汗，漸成勞怯。婦女經閉腹痛，月事不調，崩漏帶下，及臟寒久不成胎，或崩漏半產等症。以上並用芎歸各少許，水一茶盅，煎七分，用酒三分調服。產後傷寒，如頭疼身熱無汗，加麻黃末三分，蔥姜煎湯調下。如頭痛身熱自汗，冬加桂枝末三分，春夏加防風、白朮末各三分，蔥薑湯調下。產後無乳加黃連、天花粉、尾歸、穿山甲末各三分，同入酒內化服，其乳自湧，須過初產數日內，俟氣血定，方可服。凡症候深重者，多服幾丸自愈。初產危急之際，可日迸二三次，最效。</p>
<p><u>乳汁不通</u>　麥芽二三兩，炒、研，煎湯常服，並可治癰。老絲瓜連子燒灰存性，為末，酒下，蓋被出汗，即通。乳少，用芝麻炒，搗爛，入炒鹽少許，服之即生。產婦無兒吃乳，致乳房腫脹堅硬，疼痛難忍，川芎、當歸、白芍、熟地各二錢，麥芽一兩（炒末）。水二碗，煎八分，食遠服。用腳布束緊兩乳，以手按揉，其腫自然消散，甚者再用一服。</p>
<p><u>內吹外吹</u>　婦人有孕胎熱，為內吹；有兒吃乳，名外吹。致乳結成腫痛，寒熱交作，甚者噁心嘔吐，並服之。柴胡、陳皮、川芎、山梔、青皮、石膏、黃芩、連翹各一錢，甘草五分，橘葉二十片。水二碗，煎八分，食遠服。蔥白切碎，炒熱搗爛，敷乳上，以帛包之，冷則易，自愈。結核腫痛難忍，廣陳皮，浸去白，曬燥干，麵炒微黃，共研末，入麝香少許再研，每服二錢，熱酒調下，揉之即散。</p>
<p><u>乳癰乳癌</u>　丹溪云：乳房所屬，陽明胃經；乳頭所屬，厥陰肝經。乳子之母，或忿怒傷肝，或厚味積熱，以致氣不流行，竅不得通，汁不得出，則結為腫、為痛。陽明之經，血熱則化為膿，又有兒口之氣，吹而焮熱，次結成核。初起時，須便忍痛揉散氣軟，血脈通和，自然消散。失此不治，則成癰疽（紅腫發熱疼痛者是乳癰，堅硬腐爛者名乳疽）。初起，當用發散流氣之藥。若已成膿，又當內托排膿，養血順氣，慎勿妄用刀針取咎。又有婦人積優，結成隱核，如圓棋子大，其硬如石，不痛不癢，或一年二年，或三、五年，始發為瘡，破陷空洞，名曰乳癌，以其深凹，有似巖穴也，多難為治。得此症者，雖曰天命，若能清心寡慮，薄滋味，戒暴怒，仍服內托活血順氣之藥，庶有可生之理。乳癰初起，芙蓉根切片，以無灰酒煎服，儘量飲，即內消。五味子二錢，（陳壁泥炒）、真廣膠二錢（乾麵炒），各研末，以陳好酒調，乘熱服，蓋被汗出即愈。蒲公英七錢。金銀花一兩、穿山甲三片（灰炒黃色，槌碎）、橘葉七片。生白酒一碗，水一碗，煎八分，半飽服。外用橘葉煎湯洗淨，以藥渣敷患處，少睡，得微汗即散。大瓜蔞一個（現取出子連殼，瓦上焙燥，研細），好酒沖，食後服，即愈。鹿角尖三寸，煅紅存性，碾末三錢，熱酒調服，重則二服必消。蒲公英一兩、胡蘆巴八錢（以四錢炒），酒煎服，即愈。京墨、豬膽、玄參，三樣和勻，搽上立效。蟹爪尖、鹿角尖，炒黃為末，酒下二三錢，仍以牙梳梳乳四旁，亦消。白芷研末，每服二錢，酒調下，服數次自散。萱草根（俗名鵝腳花），搗汁，熱酒和，敷患處。結核作痛末成膿，酒化白醋一錢，服。乳癰乳腫，用芭蕉葉搗汁，生白酒下，渣敷患處。乳癌方：先以甘草水洗淨，用白蠟三錢，好酒化服，五七次亦愈。圓蛤殼，研極細末，加皂莢末少許，米醋煎滾，調敷即愈。穿爛者，用貝母、知母各一錢半，麝香三分，雞子白調敷。</p>
<p><u>乳癬</u></p>
<p>白松香二錢、川椒二十粒，研末，先用槐枝湯洗，和豬油調擦之。</p>
<p><u>血瘕</u>　婦人月經閉結成血瘕，腹滿脹痛欲死者，用水紅花、馬鞭草，各洗淨一斤，熬膏配入當歸、生地、川芎、白芍藥各二兩，紅花、沒藥各一兩，玄胡索、五靈脂各二兩，烏藥、木香各一兩，為末。如前膏，少加米糊為丸，每服空心紅花酒送下百丸。</p>
<p><u>血崩自淋</u>　旱蓮草、野苧麻嫩根各三四兩，老鼠刺葉一兩，水酒各半盞，調木耳灰一錢五分，發灰一錢入內，數服即止。</p>
<p><u>崩漏不止，赤白帶下</u>　烏梅燒灰存性，研末，滾湯調服，止後，將蓮子燒灰存性，香附炒為末，和勻，每服二錢，淡醋湯調下。</p>
<p><u>血淋</u>　青蒿子一味（八九月間預收，不則通覓難得）研末，將冬米飲搗爛成九，每清晨好酒送下三錢。輕則半月，重則二十日，自效。但服此藥後，永不能生育，要生育者，斷不可用，醫家不得貪奏功之易，以絕上帝好生之德，而速天遣也。</p>
<p><u>白帶</u>　蕎麥麵、雞子清搗為丸，如綠豆大，每清晨滾湯送下二錢。魚膠，慢火炒，為末好酒下，亦愈。破故紙炒為末，將雞子一個，開一孔，入末八分，攪勻，用紙封固，飯上蒸熟，空心酒下。重者，不過服十次，即愈。</p>
<p><u>小便不通</u>　鯽魚一尾，搗爛，用少許搽臍內，即解。牆上蜒螺，入麝二釐，即將蜒螺水滴臍內，亦解。單以鹽納臍中更效。</p>
<p><u>腳丫作癢</u>　此從三陽風濕下流，凝結不散，故先作癢，而後生濕爛；又或足底彎曲之處癢濕皆然。枯礬五錢，石膏（煅）、輕粉、黃丹各三錢。上為末，溫湯洗淨，搽藥即愈。</p>
<p><u>婦人癲狂失心</u>　白明礬（煅過）二錢，鬱金七錢。共為末，米糊為丸，如桐子大，每服五十丸，白湯送下，數服即愈。</p>
<p><u>雞爪風</u>　婦人月家得此，不時發，手足拘攣，拳束如雞爪，頗疼痛。急於左右膝骨兩傍，各有一小窩，共四穴（俗謂鬼眼），各灸七壯，立愈。</p>
<p><u>鬼胎</u>　過月不產，如抱一甕者。吳茱萸、川烏、秦艽、柴胡、白殭蠶各等分為末，煉蜜為丸如桐子大，每服七丸，蜜酒下，取下惡物自消。臨症須詳審。古人多過月而生者，不得草率妄下，概以鬼胎之說害之。</p>

<h2>嬰兒諸症</h2>
<p><u>嬰兒五宜</u>　一小兒初生，先濃煎黃連甘草湯，急用軟絹或絲綿包指醮藥，摳出口中惡血，倘或不及，即以湯藥灌之，待吐出惡沫，方與乳吃。令出豆稀少。一初生三五月，宜繃縛令臥，勿豎頭抱出，免致驚癇。一乳與食不宜一時混吃，致兒生疳癖痞積。一用七八十歲老人舊裙舊袴，改小兒衣衫，令兒有壽。雖富貴之家，切不可新制綾羅氈絨之類，與小兒服之，不惟卻病，抑且借福（即三朝滿月，受賀宴賓，宰殺恐亦不宜）。一兒生四五個月，只與乳吃。六個月後，方與稀粥哺之。周歲以前，切不可吃葷腥並麵食、生冷之物，令兒多疾。一二歲後，臟腑稍壯，才與葷腥最好。</p>
<p><u>辨虎口紋</u>　小兒左右叉手處，名曰虎口。自虎口而上第一節，名風關；第二節，名氣關；第三節，曰命關。有紋見於風關，易治；透過氣關，漸難；過三關，多死候。左手之紋，病應心肝；右手之紋，病應脾肺。紋有五色，紫者風邪在表；驚則紋青；淡紅，則寒熱在表；深紅，必發傷寒、痘疹；青紅者，驚熱。紋亂則病久；紋細則腹痛，多啼，乳食不消；紋粗直射指甲，必主驚風惡候；紋黑如墨，因重難治。</p>
<p><u>馬牙</u>　初生小兒，口屋並牙齦生白點，不能食乳，此由胎熱所致，與鵝口不同，少緩即不能救。急用針敷筋上，將白點挑破出血，凶則連日，緩則間日挑之，挑後隨用青絹絞出涎，以好京墨磨薄荷湯，遍搽滿口，勿令食乳，待睡片時，醒方與乳，無不立效。若為兒護痛，多致夭傷。凡牙齦上起白點，馬子鹼（火煅，淬醋中，研）擦之，有涎滴下，即愈。初生小兒，面赤，眼閉不開，大便不通，不能進乳食，多由胎中熱毒所致，急以糞清解之。</p>
<p><u>竹衣乖</u>　並無皮，膿血淋漓瘡，及胎中遺毒，患赤剝楊梅瘡，胎胎皆然者。上白蘆甘石（煅過，淬入黃連汁內三次，童便內四次）一兩、厚黃柏（豬膽塗，炙七次）七錢、紫甘蔗皮（燒灰存性）五錢、兒茶五錢、真綠豆（炒）七錢、赤石脂（煅）五錢、冰片五分，為末。用麻油入老雞蛋黃，煎黑去黃，候冷，調搽即愈。內服丸藥。真西牛黃三分，大硃砂、明雄黃各七分，乳香、沒藥（各炙）五分，麝香一分，山茨菇一錢，為末。蜜丸重三分，金銀花煎湯，調服一丸。如欲稀痘，即瘡好後，每逢節氣日，調服一二丸，出時必稀。小兒生下，遍身無皮，但是紅肉，急以早米粉干撲，候生皮方止。</p>
<p><u>臍風撮口</u>　此症為風濕所傷，斷臍後，臍或方退而尚未乾燥，頻浴之，則風濕浸入臍中；或換衣服時，臍內受風，遂成臍風。面赤喘急，啼聲不出，名曰撮口。用蜈蚣（赤腳金頭者）一條、蠍梢四尾、殭蠶七個、瞿麥五分，研末。將鵝毛管，吹藥入鼻內，使噴嚏啼哭，為可醫。隨用薄荷湯，調末藥服。又牙齦有一小泡子，如粟米大，急以溫水蘸淨，絹裹手指，輕輕擦破，即開口，或灸小兒頭頂五七壯，即愈。小兒原生臍帶，煎湯服，亦效。初生小兒，臍風撮口，多啼不乳，口出白沫，全蠍二十一個（頭尾全者，去毒，用好酒塗，炙為末）、麝香少許（另研），為細末。用金銀物煎湯，調服。小兒初生七日，若有臍風，肚腹必自發出青筋一道，行至肚，卻生兩岔，待行至心，不治。必詳視其青筋。初發，速照青筋頭上灸三壯，或行至兩岔處，亦照兩岔頭盡處各灸三壯，青筋自消，兒必活。或用獨蒜切片，安臍上，以艾灸之，口中有蒜氣，即止。</p>
<p><u>臍腫出汁</u>　枯礬末敷，或黃柏末敷，或枯礬、水龍骨研末，和勻敷，皆效（水龍骨，糞船板縫上干灰，陳年朽爛者，妙）。</p>
<p><u>臍瘡不幹</u>　綿子燒灰，摻上即愈。仍用枯礬、水龍骨研敷，亦效。</p>
<p><u>吐乳</u>　木香、蚯蚓糞，米湯調服，即安。</p>
<p><u>夜啼</u>　以乳汁調燈花，塗乳頭，今兒吮之。或用蟬蛻二十七枚，全者去頭足，為末，入硃砂少許，蜜調為丸，使吮之，自止。</p>
<p><u>赤遊丹</u>　此症受毒於未生前，發病於有生後。身在胞胎，父母不能節欲，多致淫火猖熾，又不能戒諸厚味，及炭火烘燻，生後熱湯洗浴，烘燻衣物，觸動內毒，因而身熱、啼叫、驚搐；次生紅腫、光亮、發熱，瞬息遊走，發無定處，先從頭額起者，名天罩丹。余皆起於腹背。流入四肢者，輕；起於四肢，流入胸腹者，重。先搗生薑汁、蔥汁，燒鹽煎水洗瘡，洗時易令水入目，恐有損傷。內服：白芍、陳皮各五分，麥冬一錢五分，甘草六分，藿香、木通各四分，黃芩五分。水一小盅煎，一二服愈。乳母藥倍之。小兒赤遊丹毒，紅如珠，熱如火，走如雲，散及遍身不定者，水芭蕉根，搗汁調敷，加蜜亦可。遊風腫痛，破草鞋、人乳發，燒灰，米醋調敷。或取油菜葉一把，搗敷，隨手即消，亦可搗汁服之。平常紅腫，蒜頭半個、荸芥二個，煮熟搗爛，熱白酒下，自消。</p>
<p><u>蓐瘡</u>　凡小兒百日內生瘡，名曰蓐瘡。由胎毒所致，又名毒瘴。從身漸延至頭，齊眉癩遍則愈。若從頭漸至腹者，難治。內服犀角丸。牛黃、犀角、羚羊角、全蠍（酒洗）、殭蠶（炒）、防風、羌活、天麻、麻黃、膽星、天竺黃、黃連、京墨（煅微煙為度），以上各三錢，為細末，蒸餅，打糊為丸，芡實大，硃砂、金箔為衣，每服一丸。薄荷湯下。如外敷藥，恐毒入內，反生他疾，宜用藥煮布衫服之。以青布做小衣二件，同藥煮，陰乾，早晚換服再煮，以愈為度。煮衣之藥四味：大黃八兩、甘草四兩、當歸二兩、朴硝二兩。乳母宜服煎藥十劑：苦參二錢，羌活八分，甘草四分，連翹、防風、荊芥、牛蒡子（研）、金銀花各一錢，水煎服，忌食雞、鵝、羊、魚、韭、蔥、蒜等，酒亦宜少吃。</p>
<p><u>五福化毒丹</u>　治小兒胎熱，大小便不利，丹毒瘡瘍，赤疹、赤目、重舌、木舌、口瘡等症。玄參二兩、桔梗三兩、人參七錢、茯苓一兩五錢、牙硝五錢（風化）、青黛一兩、麝香一分（夏天修合不用）、甘草七錢。一方加黃連一兩，炒，研末，蜜為丸，每丸一錢，硃砂為衣，薄荷湯下。瘡疹後餘毒凡上攻口，口齒臭氣，生地黃煎湯化服。</p>
<p><u>兩日夜不見</u>　羯羊肝一具，不見水，勿犯鐵器，以竹刀割開，入穀精草末，瓦罐內水煮熟，不時眼之，屢驗。</p>
<p><u>瘧疾</u>　小兒之瘧，大約以食積痰飲治之。檳榔、草果、半夏、貝母、柴胡、黃芩各等分，甘草少許，水煎服。陰瘧至晚即發，累月不已。人參、白芍藥（炒）、川芎、柴胡各一錢，炙甘草、紅花各三分，煎服，愈。</p>
<p><u>痢疾</u>　雞子一個，煮二三沸取起，去白用黃，研碎，以生薑汁半小盅和勻，與小兒服之，不宜吃茶，其效如神。</p>
<p><u>吐瀉</u>　脾虛則瀉，胃虛則吐，脾胃不和，陰陽不順，清濁相干則吐瀉兼作、用安胃醒脾湯。白朮、茯苓各一錢，滑石（水飛）、砂仁（炒）各七分，木香（煨）五分，薑棗煎服。停食，加枳實、山楂。夾驚，加膽星、天麻。風，加防風、乾葛。暑，加香薷、扁豆。虛，加人參。內有熱，加黃連。口渴，加烏梅肉。吐不止，加藿香。瀉不止，加升麻。</p>
<p><u>嘔吐</u>　凡吐清涼，順而易出者為寒。用溫中止吐湯。白豆蔻、白茯苓各一錢，半夏五分，生薑五片，水煎，磨沉香四分，熱服。吐酸，逆而難出者為熱。用和中清熱飲。黃連（姜炒）一錢，半夏（薑製）一錢，陳皮、藿香、砂仁各七分，白茯苓一錢五分，水煎。徐服。</p>
<p><u>泄瀉</u>　乾山藥半生半炒，為末，每股二錢。砂糖水調服，即愈。或巴豆研末，為膏，貼頂門上，燒線香一柱，未盡，即去巴豆，立愈。</p>
<p><u>尿梗病</u>　小便不通者，木通、茄兒蒂，煎服，立通。外腎腫大，木通五分、甘草三分、黃連（炒）四分、當歸六分、黃芩七分，水一盅、煎五分，空心服。疝氣，地龍不去土，為末，唾調，搽患處，即效。遺尿，用紅紙剪馬國匹，令小兒自安身下，每夜如之。</p>
<p><u>瘦損</u>　神麯十兩（陳年者佳）、山楂肉八兩、馬子鹼四兩（真米醋煅三次）。為末，砂糖調服，小兒常服，能生肌肉，肥兒丸：黑豆三合（炒）、白麵十兩（炒黃）、使君子百粒（火煨）、黃米三合（炒）、五穀蟲一兩，共為末。煉蜜為丸，每丸重二錢，早午晚三時進三丸。</p>
<p><u>疳積諸病</u>　雄黃二分（研末）、雞肝（不落水者）一具，磁碗盛之，搗勻，好酒二盞，入肝內，飯上蒸熟，空心服，三四次愈。黃荊子六兩、鵝脊血（火焙乾）一兩、雞肫內黃皮（不見水者）七個，共為末。每用五分，入雞蛋內，和勻，紙封固，飯鍋上蒸熟食之，服三四個全愈。無灰酒過之。</p>
<p><u>五疳</u>　疳症不同，宜對症服藥。如心臟受疳，小便不通、口乾、舌爛、牙臭，此乃心臟受積也。用羊肝散。穀精草五錢、胡黃連二錢、銀柴胡二錢、甘草五分、地骨皮五錢、蘆薈三分，共為末。羊肝一具，刀剖開一縫，將藥末五分入肝內，用線捆好，砂鍋內煮熟肝為度，隨時服，七日即愈。肝臟受瘠，積熱損目，又名雞朦眼，此乃肝臟受積也，用雞肝散。夜明砂（水洗淨）一錢，明雄黃、威靈仙、穀精草、蛤粉各一錢，共為末。每用雞肝一具，將藥末五分，入砂鍋內，煮雞肝服。脾臟受疳，夜出盜汗，撤瀉，口乾，此乃脾臟受積也，用白朮散。白茯苓、白朮（土炒）、澤瀉各二錢，山楂肉五錢，胡黃連一錢，神麯五錢（炒黃色為度），廣陳皮一錢，共為末。每日清米湯送下一錢。肺臟受疳，龜胸，咳嗽，發熱，夜啼，此乃肺臟受積也，用二冬膏。天門冬、麥門冬、苦楝皮、桑白皮、橘紅、生地各三錢。河水十碗，煎至一碗，再入白蜜八兩，共成膏；再用山藥一兩為末，入膏內收成。每日服三次，愈。腎經受疳，肌體極瘦，遍身瘡疥，齒腫齦宣，甚則牙齦潰脫，俗名走馬牙疳，寒熱頭熱腳冷，此五疳也（腎疳不載方者，走馬牙疳，另列一條也）。</p>
<p><u>走馬牙疳</u>　言患迅速，不可遲延故也。多屬痘疹餘毒所中，又有雜病熱甚而成者。其患牙齦腫爛，隨便黑腐作臭，有五種不治。口臭涎穢，不治；黑腐不脫，不治；牙落無血，不治；穿腮破唇，不治；用藥不效，不治。初起：人中白（溺壺者佳，煅紅）二兩，兒茶一兩，黃柏、薄荷、青黛各末六錢，冰片五分，研極細，先用溫湯漱淨，吹藥疳，日用六七次。吹藥後，涎從外流為吉；涎毒內收為凶。內服：蘆薈、銀柴胡、胡黃連、川黃連、牛蒡子、玄參、桔梗、山梔、石膏、薄荷、羚羊角各五分，甘草、升麻三分，水二盅，淡竹葉十片煎六分，食後服。此方雖穿腮破唇，並宜服之。或川連、乾薑等分為末，吹入；或單用煅過人中白，擦牙數次；或以綠礬入頃銀罐內，煅透收起，覆地去火毒。遇此疾；將礬擦之，皆效。</p>
<p><u>猢猻癆</u>　此症求食不止，終夜不睡。用針刺兩手面中三指中節能屈處。周歲者，用中號針；六七歲者，用大號針刺進半分許，遇骨微住即拔出，不可誤針筋上。若疳甚無水，刺數日方有白水；不甚者，即有白漿，刺數日，隨有血。一指有血，停此一指不刺；二指有血，停此二指不刺；若六指俱有血，病痊不復刺矣。凡刺須隔一日，俟天晴，雨則無益。刺後即得睡，減貪饞。最忌棗、粟、干甜果物，食則復發。若初刺即有血，則非此症矣。</p>
<p><u>小兒喉中痰壅喘甚</u>　巴豆一粒，搗爛作一丸，以絲綿包裹，男左女右，塞鼻中，痰即墜下。</p>
<p><u>小兒卒死、吐利不解何病</u>　狗屎一丸，絞計灌之。無濕者，水煮乾者取汁。或用蔥納下部及鼻中，立蘇。</p>
<p><u>急慢涼風</u>　眉心中以綠豆大艾圓灸五七壯，須令出喉有聲，即愈。又方：尾尻骨下一指之間，亦以綠豆大艾圓，灸一壯，即出喉有聲，灸三壯，立愈。如鼻梁兩旁，哭笑有窩，用珠筆點記，以艾圓灸兩旁三五壯，即愈。又方：膽南星（牛膽套過多次者）一兩、硃砂二錢二分，研細末。每服五分，服至一錢止，午前一服，午後一服，燈心薑湯送下。</p>
<p><u>疳瘡</u>　牆上白螺螄殼（去土淨，火煅，研細末）五分，輕粉、宮粉各三分，冰片一分，和勻。先以米泔水洗淨，用藥摻上，立愈。或羊須，燒灰存性，敷之。</p>
<p><u>痜瘡</u>　松香研細，尺余青布條裹之，以線縫作條子，於香油燈上燒過，其滴下油，以碗接之，搽瘡，愈。</p>
<p><u>肥瘡及頭上惡瘡，久不愈者</u>　松香（研末篩淨、同蔥汁陳醋煮過）一斤，輕粉一兩五錢，川椒二兩（另研極細末），山東飛丹（水飛過）、枯礬各六兩，共為極細末。先用豬蹄湯洗過，菜油調敷，愈。</p>
<p><u>遍身細疥瘡</u>　柏油敷上，立愈。</p>
<p><u>癬方</u>　豬骨髓與輕粉等分，研爛敷之，愈。</p>
<p><u>稀痘丹</u>　赤豆、黑豆、綠豆各一撮，甘草節五分，不時煎服，稀痘屢驗。如鄉鄰有痘疹流行，預與兒食，可兔兒出，即出亦輕。</p>
<p><u>痘初發熱，疑似之間</u>　白芍、葛根各五分，升麻、甘草各二分，生薑煎服。</p>
<p><u>發痘時作瀉</u>　白朮（土炒）一錢五分，人參、乾山藥（焙）、蓮肉（去心）、茯苓各一錢，砂仁五分，藿香葉五分，木香三分，肉桂五分，蒼朮三分（去皮），肉豆蔻（麵包，煨去油）一錢，訶子肉三分，為末。清飯湯調服一二錢。</p>
<p><u>治痘不起</u>　帶殼荔枝一枚，連核橄欖一枚，槌碎，同煎服。紫草茸四五分，滾湯砂鍋內煎服，痘即起。再加人參三四分，更妙。用芫荽擂酒，噴臥處，立出。雄雞冠血或桑蟲，皆可發痘。</p>
<p><u>陷入不起</u>　其色黑，氣欲絕者，用穿山甲洗淨，炒令黃脆，為末。每用末五分，紫蘇煎湯，加酒調服。倒陷黑色，人中白（火煅為末），水調三錢服之，年大倍加。初起光壯，忽然光陷，心煩躁急，氣喘妄語，如見鬼神，人牙齒，以酒浸濕草紙包，煅末酒下。倒靨色黑，口唇冰冷，狗蠅七枚（狗身上夏月極多，冬月藏於耳中，以鑷取之），焙乾為末，酒調下，移時即紅潤如常。</p>
<p><u>痘瘡入目</u>　痛楚恐傷目者，浮萍陰乾為末，每服三錢，隨兒大小，羯羊肝半個，竹刀切碎，搗爛，和水取汁調，食遠服，清茶過。不甚痛者，一服愈；已生傷目者，十服方瘥。痘瘡入目，或酒後生瘴翳，蟬蛻（洗淨）、白菊花各等分，為散，每服二錢，入蜜一匙，白湯調，食遠服，一日兩次。兔糞焙乾，或末或丸，清茶下，痘後疳眼，菊花、蛤粉、兔糞、草決明、穀精草各一兩，蟬蛻（去翅足）三錢，為末。雞肝一具（不落水者），竹刀劈開，入藥末一錢，箬裹蒸熟食之。</p>
<p><u>痘診十餘日，濕爛不結痂</u>　干綠豆粉敷之。</p>
<p><u>痘後頭上破碎不結痂</u>　黑豆炒為細末，香油調敷。</p>
<p><u>痘後頭面抓破、膿水淋漓</u>　多年蓋屋草枯爛者，炙乾為末，摻之。痘後不收膿，亦可用。內服保元湯。人參一錢、黃耆二錢、甘草五分、生薑二片，水盅半，煎五六分，不拘時服。</p>
<p><u>痘瘡不能脫靨</u>　每燒乳香薰之。</p>
<p><u>痘毒</u>　斷不可開刀。用羯羊屎，以新瓦磨光，洗淨，置屎於其中，上下以瓦覆定，文武文炙燥。煙盡存性取出，為極細末，香油調敷，即愈。</p>
<p><u>痘毒出膿之後，脾胃虛弱，膿清不斂</u>　人參、黃耆、白朮各一錢，甘草三分，姜一片，棗二枚，水二盅，煎八分，食遠服。</p>
<p><u>發散瘄子</u>　發時多挾小瀉，但宜清解，不可止瀉，用西河柳五六錢，煎湯服，或櫻桃核敲碎，煎湯服，皆效。瘄發不出，杏仁十粒（去皮尖，研細末）、母酒漿（乃酒初釀之酒母，不可誤服燒酒酒漿）調服，即發出。</p>

<h2>瘡黴諸症</h2>
<p><u>瘡毒總論</u>　經曰：凡瘡之痛癢，自屬虛實寒熱。故痛而實者為熱，虛而癢者為寒。然諸瘡痛癢，皆屬於心。以心主血行氣，氣血凝滯而為癰疽瘡癤。闊大一寸以上曰癰疽，一寸以下曰瘡癤。諸瘡之中，惟背疽疔瘡，最為急症。其初發也，使身體或先熱而後惡寒，或先癢而後疼痛。若其不痛，最為惡症。且如背疽始生，如黍粟粒大，才有覺時，便用艾於痛處灸之，痛則灸至癢，癢則灸至痛，使毒氣隨火而散（凡毒初起皆可灸，惟頭項屬陽明，斷不宜灸）。若失之於初，瘡勢已成，又當審其虛實寒熱。熱實則清之，虛寒則溫之，得毒消腫潰，方為可治之症。疔瘡者，多發於手足之間，生黃泡，其中或紫黑色，有一條紅線直上，倉卒之際，急宜以針於紅線所至之盡處刺出毒血，然後以蟾酥乳香膏於瘡上塗之。針時以病者知痛出血為度，否則血絲入腹，毒氣攻心，不治。至若瘰癧頸疽臀癰之類，皆毒氣鬱積於內而發，治之皆須解毒潰膿。若氣血弱者，又須補之，此一定之法。瘡癤疥癬之類，隨其臟腑所受冷熱調之，所貴氣血宣流，自失其痛癢矣。如腳上臁瘡，年久不愈者，多是腎水流注，又有脾水潰溢，治各有方，隨症選用。蟾酥乳香膏：蟾酥（酒化）、硇砂、輕粉、白丁香各一錢，雄黃、蜈蚣一條（炙）、硃砂各二錢，乳香六分，麝香一分，金頂砒五分（製法：用鉛一斤，小罐內炭火煨化，投白砒二兩於化洋鉛上，煉煙盡為度，取起候冷打開，金頂砒結在鉛面上，取下聽用）。共為末，糊成麥子大。凡遇疔瘡針破，用一粒插入孔內，以膏藥蓋之，追出膿血疔根為效。</p>
<p><u>疔瘡</u>　此症有十三種，而有青黃赤白黑（青疔發於目下，黃疔發於口唇，赤疔發於舌根，白疔發於鼻右，黑疔發於耳前），蓋取五色以應五臟也。復有暑疔、火疔、氣疔、冷疔者，皆以其時候緩急浮實之異。但初起，瘡心先癢後痛，先寒後熱。熱定則寒多，如四肢沉重，頭痛心驚，眼花見火，甚者嘔逆者，多危；惟麻子疔始未皆癢（其狀肉起，頭如黍米，色稍黑，四邊微赤，多癢，忌食麻子油及芝麻，與著麻衣，或麻布揩手面，併入麻田行走），皆用小針刺破，或用刀割斷疔根（疔瘡不破則毒入胃腸），出血令盡。若有發於三四處，只去先發者為主。如形體壯實而毒甚者，以針刺瘡四邊，多出惡血，以泄毒氣。惟刀鐮疔，忌刺及刀並鐵器（其狀闊狹如韭菜，長一寸，左側肉黑如燒烙），刺後，以蟾酥乳香膏敷之，拔去疔根；或益母草葉燒灰敷之，再以明礬末三錢、蔥白七莖搗爛，分作七塊，每塊熱酒一杯送下，以衣被蓋之。如無汗，再服蔥白湯一盅，少頃，汗出如淋，從容去其覆物，其病若脫（此方不獨可治疔瘡，並治諸惡毒初起但未成膿者，服之無不神效）。全以戒怒寬懷為上。忌孝服、雞犬、月經婦人、狐臭、息香、麝香、湯火氣；更忌風寒、房事、酒肉、魚腥、蒜椒、辛辣、油膩、生冷等物。疔瘡初起，飲香油一盅，即無性命之憂。家菊汁一碗，各用根，沖熱酒，入口即愈。喜兒草、水芹菜，共搗汁，酒沖服。水半枝蓮（生水旁者，花莖甚細）搗汁，和酒服，渣敷患處。春用烏苧葉，秋冬用根，煮酒服，渣敷患處。新鮮蝦髓一個，飛面調勻，敷上愈。好磁石為末，津蜜調一茶匙，搽瘡頭上，疔即拔。螻蛄蟲搗爛，敷瘡上，疔根亦拔。疔瘡煩躁作渴，惡毒攻心，青靛二兩（散者佳，成團者用石灰和之）、雄黃五錢、麝香少許、蒼耳灰二錢，研末。每服二錢，蜜水調下，可以護心。疔瘡針刺之後，餘毒走散作腫，鬱金（蟬肚者）、白及、白蘞、大黃、白芷各四兩，黃柏二兩，輕粉五錢，綠豆粉一兩，共為末。醋調，箍四邊，夏月熱甚，蜜水調。嘴唇上疔瘡，將兩腿腕中紫黑筋，刺出惡血，立消。</p>
<p><u>火珠瘡</u>　其瘡如珠，始於發中，相染不已，亦有傷命者。用生蘿葡搗爛，將滴醋浸敷患處，自愈。</p>
<p><u>金絲瘡</u>　形如繩線，鉅細不一，上下至心即死，治法於瘡頭截住，刺之出血後，嚼浮萍塗之即愈。</p>
<p><u>白蛇纏</u>　通身細白泡者是。如白蛇相纏，故名之。白及八錢、水龍骨（糞船板縫上於灰，陳年朽爛者妙），共研末，以無根水調搽之。</p>
<p><u>天泡瘡</u>　天蘿水，調宮粉敷上，立愈。真白花百合，洗淨搗爛，隨敷隨好，即疥毒皆效。錦紋大黃磨水，不時搽之，自愈。生白芍藥，磨濃塗之。蚯蚓泥、老菱殼燒灰，麻油調敷即愈。天泡日久作爛，疼痛不已，膿水淋漓，石膏（煅）、輕粉各一兩，青黛、黃柏各三錢，研細，甘草湯洗淨，摻之，其疼立止。</p>
<p><u>漆瘡</u>　木形人遇漆起泡，發癢變瘡，肢腫作痛，甚者寒熱交作，用蟹唾抹之，或磨刀水泥塗之，或杉水煎湯洗之，或蟹殼、滑石研細末，燥者蜜和塗之，濕者乾末摻之，或石膏、輕粉、韭汁調敷之。內服玄參、知母、石膏、人中黃、黃連、升麻、連翹、牛蒡子各等分，甘草五分，淡竹葉二十片。水二盅，煎八分，不拘時服。忌浴熱水，兼戒口味，不然，變為頑風癬癩，愈而又發者多矣。</p>
<p><u>寒濕瘡</u>　雞子煮熟，去白用黃，慢火炒出油，加黃柏末於油內，摻上立效。或煙膠（即皮市熏皮煙煤）為末，摻上。若瘡燥、加香油調敷。</p>
<p><u>溜膿瘡</u>　松香研細，用脂油搗勻，敷上，外以紙包裹，一周時換三次，愈（頭上身上皆可治）。面上流膿肥瘡，銅香爐蓋下結成黑煙滋，取下研細，同鉛粉等分，香油調，先剝去瘡眼，花椒湯洗淨，搽之。</p>
<p><u>臘梨頭瘡</u>　以酒飯店內，油透陳竹燈臺一個，劈碎，裝於磁瓶內，口上用舊髻鐵絲，覆於瓶口上，倒轉下，再用一空磁瓶，以此瓶合於下瓶口上，用火煅之，其汁溜下，取汁搽瘡，其效如神。</p>
<p><u>疥瘡</u>　大風子肉五錢，水銀、樟腦、油核桃、輕粉各一錢，川椒五分，研而擦之，自愈。或煮熟雞子黃五六枚（炒出油），將檳榔一個，硫黃少許，磨油搽擦，日用三四次，不出十日，亦愈。</p>
<p><u>疥瘡、膿巢、肥瘡</u>　松香一兩、雄黃一錢，共為細末。入竹紙內，捲成條子，用菜油浸一宿，取出，倒吊燒之，滴下油，搽上即愈。</p>
<p><u>臁瘡</u>　杏仁（去皮尖，用紙取上油，存杏仁霜）五錢、輕粉五錢，和勻。將雄豬脊髓糙勻，先用黃柏水洗淨，拭乾敷上，將紙包好，數日自愈。香油浸千張紙，蓋飯上蒸過，貼患處，一日換兩次，數日亦愈。久遠臃瘡，真水粉一兩，麻油調化，塗在碗內（其碗用缺口者，以便出煙，不則悶隱耳），以艾葉熏黃，早間熏至未刻，要內外皆黃色，次用香瓶火燒頭髮，熏至黑色，將油紙攤成隔紙膏藥，紙上刺細眼貼之，自早至晚，翻轉換一次，次日再換，連換五六個，全愈。</p>
<p><u>驢眼瘡</u>　生腳脛骨兩周圍，如臁瘡樣。田螺去殼搗爛，敷數次即愈。</p>
<p><u>裙邊瘡</u>　此瘡生在腳面上。取梨葉百片，鮮豬油二兩，用梨葉鍋內炒，拌油在葉上；次下白蠟二兩（須上好者），亦搗碎拌在內，令化在葉上；又下鹽二兩，亦拌在內，其鍋下要微火，不可使葉炒熟爛為要緊，取起待冷，出火氣，貼上神效。</p>
<p><u>腎腸風、坐板瘡、八角刺癬</u>　生礬二兩、硫黃八錢、胡椒二百粒，計重四錢，豬油調搽，濕者乾摻。陰囊因坐板瘡毒水流落作爛，以甘草煎湯洗，用滑石研細末敷之，即愈。</p>
<p><u>坐板瘡</u>　綠礬一把，放腳盆內，滾湯衝下，浸洗，待癢止，坐草紙上待乾，數次即愈。</p>
<p><u>陰頭主瘡</u>　白蜜調甘草末敷之，並治諸惡瘡不愈，即純用白蜜敷之亦效。</p>
<p><u>傷於寒混血風臁瘡、棒瘡膏藥</u>　水粉、瓜兒粉、柏油俱各五錢，沒藥、乳香各一錢，冰片一二分，白蠟、黃蠟各一兩。先將柏油、白蠟、黃蠟熬化入藥，如燥，以麻油少許補足，其乳香、沒藥、冰片，待膏成臨時研細加入，不幹不濕調勻為膏藥，貼之即愈。</p>
<p><u>熱癤</u>　端陽五時，獨蒜切片，貼眉心，至夏不發。菊花根搗汁，無灰酒調服，癤在上身空心服；癤在下身飽後服，自消。</p>
<p><u>扎馬丁</u>　切不可食肉。生白酒煎豨薟草、紫花地丁、車前草，服之。</p>
<p><u>諸癤毒不收口</u>　白槿花（煅過存性）為末摻上，神效。即瘡口如碗大，亦效，兼治金瘡、刀斧傷。白蠟、黃蠟各一兩，鉛粉五錢，真輕粉一錢，豬板油去膜二兩，熬膏貼之，效。血竭、白蠟、輕粉、千年石灰、敷之亦效。一應惡瘡腫毒，久不收斂者，先用花椒、蔥白、甘草煎豬蹄，濃湯洗去惡肉，次用膏藥，其藥須臘月臘日，用新豬厚板油不落水、不入鹽者，鍋內熬去渣，磁器收貯，每油化過一斤，入白蠟半斤，化勻，又下好樟腦四兩攪勻，勿出氣為妙，臨症用無灰棉紙做膏貼之，無不愈者。</p>
<p><u>努肉</u>　瘡癤諸毒新愈，努肉脹出，取烏梅肉搗爛，入蜜少許，攤紙貼之，惡肉即收，永無後患。</p>
<p><u>癰疽、發背諸般腫毒初起</u>　酒煎金銀花服，可消。明礬三錢（研細），黑棗頭為丸，酒下。未成毒即散，已成亦輕，即陽硬塊，亦可冶。五倍子（炒微黑，候冷為末），將蔥汁好醋調，塗上一二次，立消。黃蠟二兩、明礬三兩，先將黃蠟熔開，離火少溫，入礬末和勻，眾手急丸如桐子大，每服三十九丸，食前溫酒下，一日二服。蓋托裡、消毒、固臟腑、止疼痛之妙藥也。諸毒潰後，服之能護膜、止瀉、消毒、化膿，若內癰服之，更有排膿托裡之效。如遍身生瘡，狀如蛇頭，名蛇頭瘡者，尤宜服之，每日百丸，即愈。火赤鏈蛇，以木梢打死（不宜見鐵器。如見鐵者能殺人），將籠糠火煨化，取其骨灰一錢，好酒調服，以沉酣為度，每能內消一切無名腫毒。野苧麻嫩根，近水邊者，洗淨四兩，搗取汁，入金銀花一兩，煎酒沖服，三五次；再用嫩苧麻根搗爛，入蔥頭、風化石灰各少許，搗勻，做餅貼患處，留頭，干即換，晝夜六七次，即暗消。芙蓉葉搗汁，和生白酒服，將渣敷上，即消。或竟用芙蓉根切片，煎酒服，隨量飲，更妙。當歸全身重八錢二分一枝者（寧重去須，要准，輕者不效）、黃耆五錢、金銀花五錢、甘草一錢八分，水一大碗，酒一大碗，煎一碗，露一宿，次早溫服，即內消。</p>
<p><u>鐵箍散</u>　一切腫毒初起，圍之即散。已成圍之，毒氣不至攻走；無膿圍之。有膿未潰，圍之即潰；已潰圍之，膿即追出。九月九日取芙蓉葉陰乾（五錢）、薑黃、白蘞、五倍子、白及各五錢，大黃一兩，蟹殼五個，陳小粉一兩（炒），研末，米醋溫熱，調稀圍之。又方：川貝母、南星各七分，連翹、五倍子、經霜芙蓉葉各一兩，共為末，用水調敷腫處，只留中間一孔，出毒氣，亦效。</p>
<p><u>透膿散</u>　一切癰疽諸毒，內膿已成，不穿破者。黃耆四錢、穿山甲（炒末）一錢、川芎三錢、當歸二錢、皂角刺一錢五分，水二碗，煎一碗，隨病前後服，入酒一杯服之，毒即出。蛾口繭（用出過蠶蛾繭一枚，燒灰），酒調服，自出一頭，切不可用二枚三枚，蓋多服則多頭矣。</p>
<p><u>定疼散</u>　一切腫毒、疼極敷藥。山藥一兩，白糖霜、大黃各四錢，打爛敷上，即止疼。或搭手發背破爛者，只用糖霜、山藥打爛，塞入毒肉，不臭，爛肉去，新肉自生。初時日換二次，三日後，日換一次，煎甘草湯，或豬蹄湯洗，用軟鵝毛數根扎之，洗去藥再敷，待肉長滿方止。乳香、沒藥、寒水石（煅）、滑石各四錢，冰片五釐，研末，搽患處。赤練蛇末（不可犯鐵）加薑黃、藤黃，米醋調敷，痛即止。</p>
<p><u>生肌玉紅青</u>　專治諸毒已潰。流濃時，先用甘草湯，甚者用豬蹄藥湯（羌活、甘草、赤芍、黃芩、白芷、當歸、蜂房各等分，看疽瘡之大小用藥多少，先將膹豬前蹄一隻，白水六碗，煮蹄軟為度，將汁濾清。吹去汁上油花，用藥投於汁中，再用微火煎十數沸，蜜絹濾去藥渣，候湯半熱用之），將軟絹蘸湯淋洗患上，輕手挹去瘀膿腐肉，其惡物隨湯而下。次用抿腳，挑膏於掌中，捺化，遍捺新腐肉上，外以黑膏藥貼護。大瘡早晚洗換二次，內兼服大補脾胃暖藥，腐肉易脫，新肉即生，瘡口自斂。玉紅膏：白芷五錢，歸身二兩，紫草二錢，粉甘草一兩二錢，血竭、輕粉各四錢，白蠟二兩，真麻油一斤。先以前四味入油內浸三日，大杓內慢火熬藥微枯色，細絹濾渣淨，將油復入杓內煎滾，下血竭化盡，次下白蠟亦化，遂頃入碗內，頓冷水中，候少傾，將研細輕粉，投下攪勻收貯。生肌長肉，誠外科收斂藥中之神品也。</p>
<p><u>頭面惡毒</u>　蒼耳子一兩、馬勃三錢，無灰酒煎，食後服。</p>
<p><u>對口瘡</u>　薑汁磨京墨，四邊圍住，以白梅、豬膽塗瘡口，即愈。</p>
<p><u>對口初發</u>　膨皮魚，連腸骨搗爛敷上，即散。頭髮（燒灰存性）研細，酒服三錢。桃葉尖九個，搗爛摻入，愈。母雞糞（是抱小雞的老母雞出寞熱屎）取來塗之，即愈。雄豬膽剖破，以碗盛之，塗光即愈。女人用雌。</p>
<p><u>瘰癧</u>　初起成塊未破者，將面捏成薄條，照粟子大小略離患處作圈圍著，留栗子在內，再取槐樹根在土內掘出者，白皮數條，照面皮作圈，放麵皮之上，用艾作小丸，放栗子中心灸之，肉上略覺痛即拂去艾丸；另取艾丸再灸三遍，其面圈不動，槐根白皮要換三次，連灸三日，即消。白玉簪花葉取其嫩者，以米醋浸一宿夜，飯鍋上蒸爛，扯碎如膏藥大，貼患處即愈。雞蛋開一孔，取斑蝥一枚（去翅足）投蛋內，封好，飯上蒸熟，服三十枚，全愈。外以玉簪花葉貼之。不拘已破未破，蓖麻子四十九粒、瀝青（好者）一兩、杏仁（去皮尖）十三粒半，共搗千餘槌，自將黏軟成膏，攤貼患處，神應。內服昆布、海藻、海帶、貝母、連翹、甘草、玄參以應，無不愈者。</p>
<p><u>痰結痰核</u>　真天南星一個，醋磨，塗患處，一日兩次，三日吐痰，自消。</p>
<p><u>癭瘤</u>　凡癭瘤初起，成形未破者，及根蒂小而不散者。白砒、硇砂、黃丹、輕粉、雄黃、乳香、沒藥、硼砂各一錢，斑蝥二十個，田螺（大者去殼）三枚（曬乾切片），共研，糠米粥調和，捏作小棋子樣，曝乾，先灸瘤頂三炷，以藥餅貼之，上用黃柏末水調，蓋敷藥餅，候十日外，其瘤自落。次用斂口生肌膏藥。血竭、輕粉、龍骨、海螵蛸、象皮、乳香各三錢，生雞蛋十五枚（煮熟用黃熬油一小盅），各研細末，入雞蛋油內攪勻，每日早晚用甘草湯洗淨患處，雞翎蘸塗，膏花蓋貼，即愈。</p>
<p><u>兩腮腫毒</u>　大黃末、蔥汁和勻，周圍搽轉，只露一頭，不日即愈。</p>
<p><u>痄腮破爛</u>　野苧麻根敷患處，內以龍鬚草煎服。</p>
<p><u>搭肩</u>　生蒜切薄片貼患處，比患處略切大些，灸三壯，自愈。</p>
<p><u>搭手</u>　全蠍同核桃研細，沖好酒服，一二次即消。</p>
<p><u>指叉生毒</u>　名鴉翅。用蛇瓢草搗爛，入母酒漿少許，敷上，愈。</p>
<p><u>手指天蛇毒</u>　陳年柿餅一個、雄黃（末）一錢，搗爛敷之。蜈蚣一條、雄黃二錢，研末，以雞蛋清調搽患處，即愈。生雞子一個，去頂殼少許，以患指頻浸日余，自止疼，退皮，不出毒（此方初起可用，成毒無濟矣）。</p>
<p><u>發背</u>　仙喬草、金銀花，酒煎服，可消。王瓜放在滴滷內，發背初發時，將王瓜切薄片貼上，一周時一換，即消。有鮮王瓜時更妙。發久破爛不住，花椒煎湯，洗去爛肉，亦將王瓜貼上，一周時一換，二三日內可收口，爛不住者，以白鹽梅、皂角，燒灰存性為末，四圍箍之。發背欲死者，芭蕉根搗爛塗之。</p>
<p><u>肺癰</u>　口吐臭膿，即肺碎難治者，服此神效。第一次服四劑：薏仁、苦絲瓜、條黃芩、大甘草（俱少些）、牡丹皮、赤芍藥、貝母、苦桔梗、瓜蔞仁、廣陳皮、升麻（俱多些）。水二碗，姜一片，黑棗二個，煎八分，食後溫服。如大便不通加麻仁。第二次服四劑：赤芍藥、天花粉、甘草、瓜蔞仁、桔梗、知母、貝母、百合、獨活、杏仁、連翹各等分。水二碗，加燈草十根，白果七個，去殼，煎八分，食後溫服。第三次服四劑：貝母、獨活、百合、甘草、桔梗、麥冬、赤芍藥、知母、天花粉、瓜蔞仁各等分。水二碗，加燈草十根，白果七個去殼，煎八分，食後溫服。愈後白鯗、紅蘿葡、鴨蛋，終身不可食，食則後發，不治。大葷半年或一年後，方可食，只可食肺頭、腰子，吃齋更妙。白花百合洗淨搗汁，每日用碗，不拘時呷之，服七日後，亦愈。</p>
<p><u>肺痿</u>　肺癰者，先因感受風寒，未經發越，停留肺中，亦有七情、飢飽、勞役損傷脾肺而生者；亦有勞力內傷，迎風響叫，外寒侵入而生者。其症初則毛聳惡風，咳嗽聲重，胸膈隱痛，項強不能轉側者，是其真候也。久則鼻流清涕，咳吐膿痰，黃色腥穢，甚則胸脅脹滿，呼吸不利，飲食減少，脈洪自汗，漸至久嗽勞傷，咳吐痰血，寒熱往來，形體消削，咯吐瘀膿，聲啞咽痛，其候轉為肺痿。如此者，百死一生之病也。用大瓜萎一個。開一孔，內子多少粒數，配杏仁（去皮尖）如數，入瓜蔞內，將孔封好，外用黃泥包裹，煅紅無煙，候冷去上，將瓜蔞又配川貝母如前數，共研為細末，用蜜調二錢，臥時服，燈心湯過口。二三十年油木梳一個，燒灰存性，白湯調服，甜酒亦可。雪裡青草一味，搗自然汁一小盅，加蜜半盅，調勻，作二次服，每日服五七次，七日全愈。陳年芥菜滷，埋入土中者，愈久愈妙，不時白湯送服，效如神。</p>
<p><u>肚痛</u>　大黃二兩半，黑醜、杏仁各三錢，乳香一錢，血竭七分，白芷二錢，共為末。每服三錢，酒調下。肚內無名腫毒，鱉甲，煅存性，為末，酒服。</p>
<p><u>腸癰</u>　小腹堅硬如拿而熱，按之則痛，肉色如故，或焮赤微腫，小便頻數，汗出憎寒，脈緊實而有力，服此神效。大黃（炒）、朴硝各一錢，丹皮、白芥子、桃仁（去皮尖）各二錢，水二碗，煎八分，食前或空心溫服。又方：明礬四兩、肥皂十五個（煅存性）、明雄黃一兩、大黃（酒拌蒸）二兩為末，空心金銀花五錢，煎酒調服三錢。有膿，從大便出；無膿暗消，不泄再服。腸癰收口，白木耳淡煮豬大腸，頻食之。</p>
<p><u>懸癰</u>　由於三陰虧損，濕熱結聚而成。此穴在於穀道之前，陰器之後，又謂海底穴也。初生狀如蓮子，少癢多痛；日久漸如桃李，赤腫焮痛；潰後，輕則成漏，重則瀝盡氣血，變為勞瘵，不起者多矣。大粉草四兩，長流水浸透，炭火上炙乾，再浸再炙，如此三度切片。甘草三兩，當歸身三兩，水三碗，慢火煎至稠膏，去渣再煎，稠厚為度。每用三錢，無灰熱好酒一大杯，化膏，空心服之。未成者即消，已成者即潰，既潰者即斂，此懸癰良藥也。</p>
<p><u>廣瘡魚口橫痃</u>　俱以粉霜治之，然必須飲奇良湯半月，無後患。奇良者，山中所產，名土茯苓，又名冷飯塊也（米泔水洗，木槌碎之。忌鐵。白者佳，紅者能殺人）。粉霜者，以硝皂礬、明礬、鉛、汞（音拱，即水銀）各二錢，以大銀罐相合，無參差，用皮紙自小至大，次弟互封，復以鹽泥封裹，待燥，放風爐內，文武火升之。一毒症，只用六釐足矣。研黃米飯為丸，均作七服，每服或三粒，或五粒，隨便，雄黃為衣，空心酒下。忌一切毒食、發物、蔥、鴨子、房欲等。大小解須放空處，恐人聞之亦生。</p>
<p><u>便毒</u>　錦紋大黃二兩，五靈脂四錢，穿山甲（火炙）四錢，白芷四錢，乳香、沒藥各一錢五分。共為末，每服六錢，空心好酒送下。</p>
<p><u>楊梅瘡</u>　茯苓、木通、防風、連翹、羌活、黃芩、柴胡各一錢，當歸、荊芥穗各二錢，赤芍、生大黃、金銀花、甘草節各三錢。用羊肉三斤，水七碗，煮五碗，去肉用湯，煎藥至二碗；臨服加生白酒一杯，服完蓋被出汗，頭面俱蓋被內，發汗一處不透，此一處即有後患，待汗儘自千方起。先以蒼朮薰衣服換之，預備水一大盆在床前，發汗透盡，即自將衣被浸水內，次日頃去宿水，換水自洗，不可使人聞，觸之未有不生者。隔二日，除大黃不用，加人參一錢、黃耆二錢，如前服。起來，不可食發物，只食豬肚、白米飯將息。明礬四兩（研末），令患者坐重幃中，擦手足心，少少細擦，以盡為度，七日汗出不止為愈。年久不愈者，苦參連根帶蒂摘下，搗爛取汁，和酒飲之。綿花住爛，肥皂去於，以黃泥封固，於火內煨，去煙，配蜈蚣一條，穿山甲二十個，牛腳殼兩個，焙燥為末，酒服。結毒久爛，奇良一斤，加生薑四兩，共煎數碗服之，不十日而愈。其潰處以藥汁調幹麵糊之，漸愈。曾有陽物爛完，半載不愈，服此得生。結毒臁瘡，隔紙膏松香（陳年者）八錢、厚黃柏末四錢、輕粉五分，共研末，用真麻油或豬油調成膏，做隔紙膏貼之。先將油紙甘草、白礬煎湯煮過曬乾，針刺多眼，攤貼。其瘡先用椒蔥湯洗淨，方貼，一日一換，忌食發物。</p>
<p><u>癬瘡</u>　年久羅漢松皮，煅存性，陳米醋調搽。蘆薈，磨滴，醋敷之。或川槿皮搽之，或木蓮蓬去蒂擦之，或土大黃捶碎，兼用硝蘸醋擦之，皆效。真柏油調輕粉，塗之起泡，泡消即愈。斑蝥同糯米炒，去米研末，煉蜜敷患處，去黃水三四次，即愈。風癬，頸上身上風癬作癢，抓破作疼，時愈時發者，巴豆殼二錢、明礬一錢五分，研末，生薑切平，蘸藥擦上二三次，自愈。癢時正好搽藥。頑癬，蘆薈一兩、炙甘草五錢，研末，先以溫水洗淨，拭乾敷之。多年頑癬，硫黃一錢、枯礬一錢、白芷三分、斑蝥（去頭、翅、足）三個，為細末，抓破擦之。圈癬，各樹皮，煎，如瘡樣大小，以毛皮一面，用唾貼肉，以手不時撲之，即愈。</p>

<h2>余方補遺</h2>
<p><u>早起闢穢方</u>　凡人早起，或冷暖不時，或食油膩，或聞穢氣，多有嘔吐、腹痛、泄瀉等症。蒼朮（米泔水浸一宿，刮去皮）、白朮（壁上炒）、陳皮、厚朴（薑汁炒）各三兩，甘草、白蒺藜（炒，去刺）、丹參各一兩半，為末。蜜丸如龍眼大，口噙化或淡薑湯調服。感冒、風邪、寒暑、瘧疾，並皆治之。</p>
<p><u>山嵐瘴氣</u>　犀角、羚羊角、雄黃各一錢，麝香三分，為末，水調服。凡飲食之內，俱宜用蒜，此闢瘴之要味也。</p>
<p><u>四時不正毒氣</u>　人觸之而成疾，或入腹腫脹。犀角、升麻各一錢，麝香三分，為末，水調服。</p>
<p><u>中暑</u>　夏日固多中熱中暑二症，亦有傷寒熱病，其症每疑似難明，因以外症別之。凡熱有進退，為冒暑；久熱不止為傷寒；脅下有汗是傷暑，脅下無汗是傷寒，最宜詳審。中熱者，動而得之（見暴死諸症），用十味香薷飲。香薷一兩，人參、陳皮、白朮（土炒）、黃耆（蜜炙）、扁豆（炒去殼）、甘草（炙）、木瓜、厚朴（薑汁炒）、白茯苓（去皮）各五錢。上為末，每服二錢，熱湯冷水任調下。如脈虛加麥冬、五味子。中暑者，靜而得之（避暑於深堂大廈，為陰寒所遏，暑不得越故也），此寒為標，熱為本。先以辛溫治其標寒，繼以清涼治其本熱。手足厥逆者，乾薑一錢（炒），甘草八分（蜜炙），肉桂（去皮）、杏仁（去皮尖）各六分。上為粗末，水煎溫服。如煩躁，井花水調下。一切暑毒、腹痛、霍亂吐瀉，或頭痛昏憒，香薷、茯苓、扁豆、厚朴、甘草各一錢，水煎服。熱甚者，加黃連。解酷暑，乾葛二兩，烏梅肉、蘇葉各四兩，青鹽一兩，白糖一斤。俱為末，和糖搗，如干，入白蜜為丸，噙下。</p>
<p><u>中濕</u>　元氣虛，濕熱乘之，遍身痠軟，小便赤少，大便不調，腰腿瘦軟，或口乾作渴，體重麻木，頭目眩暈，飲食少思，或自汗盜汗，肢體倦怠，胸滿氣促，用清燥湯。黃耆一錢五分，五味子九粒（炒，杵），神麯（炒）、黃連、豬苓、柴胡、甘草（炙）各二分，蒼朮、生地黃、麥門冬、白朮、陳皮、澤瀉各五分，人參、當歸、白茯苓、升麻各三分，黃柏（酒拌）一分，水煎服。</p>
<p><u>消渴</u>　口渴心熱者，天花粉一味，水煎當茶服，甚效。</p>
<p><u>水瀉</u>　不論男女老幼，水瀉垂危，及襟口痢。訶子一枚（濕草紙包裹，煨熟去核）、肉果一枚（水調，乾麵包裹，微火煅黑色），共研，每服五分，米湯下。</p>
<p><u>痛風</u>　遍身骨節走痛者是。油松節、晚蠶沙，蒸酒，每日常服，愈。</p>
<p><u>失心瘋</u>　鬧楊花根（竹刀掘取，不可犯鐵，去梗用皮）五錢（木杵搗碎）、金首飾重五七錢者、珍珠五分（豆腐煮數滾，布包捶碎，同燈心碾末）。將前二味，用水二碗，煎八分，投珍珠末服之，服後吐痰即愈，隨以補劑調治。水銀一兩、藕節八個，研成砂子，丸如芡實大，每服二丸，磨刀水下，一二服亦效。</p>
<p><u>烏髮黑髮</u>　茄樹，只留茄一個，挖一洞，將上好京墨嵌前內，用紙封好，留在樹上，待茄老取下燒灰，水調，將指頭蘸灰搽鬚髮梢上，即黑，謂之猢猻溜樹方也。</p>
<p><u>雀子斑</u>　豬牙皂、三奈、蜜陀僧各二錢，白丁香（雀糞直立者是）、連翹心各三錢，白附子、白芷、白殭蠶各四錢。先以肥皂去面垢，洗淨，生蜜少許，調藥敷過夜，早晨洗去。玉肌散：治一切風濕、雀斑、酒刺、白屑風、皮膚作癢者。綠豆半升，滑石、白芷、白附子各二錢，共為末。每用三匙，早晚洗面時，湯調擦。點痣方：石灰一塊、糯米一二十粒，將鹼水調，蓋碗內，待米化爛，每日點二次，即愈。無痕。</p>
<p><u>遠行兩腳腫痛</u>　細辛、防風、白芷、草烏各等分，為末，摻在鞋底內。如底干，即以水微濕過摻藥，著腳行走，不再腫痛。</p>
<p><u>接骨不知疼</u>　骨節傷損脫臼接骨者，用鳳仙花根，酒磨服半寸，最多一寸，然後揉托而上，則不知疼。但多服傷人，以一寸為極。</p>
<p><u>被人咬傷</u>　龜甲、鱉甲，燒灰存性，為末，香油調敷。</p>
<p><u>小兒蓐瘡</u>　兒一二歲，不拘頭面生瘡，即十三四歲未愈者，以桐油調輕粉塗之，即愈。</p>
<p><u>小兒疳病欲絕</u>　黑牽牛、雷丸、使君子各一錢，共研末，每用小兒一歲用末一釐。將雞子鑿一孔，瀝去青，以黃調藥，用紙封固，飯鍋上蒸熟，食三四個，即愈。</p>
<p><u>小兒五疳</u>　凡小兒五疳潮熱，面黃肌瘦，煩渴吐瀉，肚大青筋，手足如柴，精神驚悸等症。白朮（蜜水炒）一兩五錢，白茯苓（去皮）、使君子肉（切碎略炒）各七錢五分，蓮子心（隔紙炒）、麥芽（炒）、金櫻子肉（略炒）、橘紅、山楂肉各五錢，麥冬（去心）一兩，芡實二錢五分，甘草一錢五分，青皮（去穰，麵炒）二錢。為末和勻，每次用藥末一兩，煉蜜四兩，調膏，每日中晚間，溫水漱口，服數匙。若身熱咳嗽，加地骨皮、百部各五分；稟氣弱，加人參一錢五分，肚腹脹飽，大便稀，腸鳴作聲，或蟲出不和，加檳榔二錢五分、木香五分。</p>
<p><u>小兒食疳</u>　脾胃不能消運，完穀不化者。綠礬一兩，每一錢為餡，作饅頭一個，蒸好候乾，火煅存性，細研綠者轉為紅色，砂糖調服一錢，大解即如常，不必再服。</p>
<p><u>小兒急慢驚風</u>　小兒發癇，俗名驚風，有陰陽症。周身熱面赤而發抽搐，上視牙關緊硬者，陽症也；因吐瀉或只吐不瀉，日漸面色白，脾虛或冷而發驚，不甚抽搐，微微目上視，手足微動者，陰症也。陽症用涼藥，陰症用溫藥，不可一概作驚風治也。又有一症，欲發痘疹，先身熱驚跳，或發抽搐，此非驚風，當服發散藥。</p>
<p><u>兒臍出血</u>　小兒初生未滿月，多啼叫，致臍中血出。白石指末，貼之，愈。未愈，微炒過，放冷再貼，仍不得剝揭。兒臍久不幹，當歸焙乾為末，敷臍中，頻用，愈。斷臍時，多摻生礬末，總無臍恙。</p>
<p><u>小兒夜啼</u>　約有四症：一曰寒則腹痛而啼，面青白，口有冷氣，腹亦冷，曲腰而啼，此冷症也；二曰熱則心躁而啼，面赤便赤，口中熱，腹暖，啼時或有汗，仰身而啼，此熱症也；三曰重舌口瘡，每要乳吃，口到乳上便啼，身額皆微熱，急取燈照，口若無瘡，舌必腫也；四曰客忤，見生人氣，忤犯而啼也。隨證治之，無不驗。</p>
<p><u>小兒囪門腫</u>　黃柏末，水調塗足心。囟門陷，水調半夏末，塗足心。</p>
<p><u>小兒赤眼</u>　黃連為末，水調敷腳心，自愈。</p>
<p><u>小兒重舌</u>　又名雀舌。巴豆半粒，飯黏四五粒，共搗為餅，如黃豆大，貼眉心中間，待四周起泡，去之即愈。</p>
<p><u>小兒咳嗽</u>　生薑四兩煎濃湯，沐浴即愈。</p>
<p><u>小兒蛔蟲</u>　此蟲人腹中皆有，但小兒失乳而哺早，或食甜過多，胃虛蟲動，令人腹痛惡心，口吐清水，腹上有青筋。火煨使君子與食，以谷煎湯送下。然世人多於臨臥服之，多不驗，惟於每月初四五間，五更服之，至日午前，蟲多下。可以和胃溫平藥調理之，無有不效。凡蟲月上旬，頭向上；中旬橫之；下旬頭向下。故中下旬用藥，即不入蟲口，所以不驗。凡治蟲症，宜知此。</p>
<p><u>小兒吐</u>　砂仁一兩餘，拌童便，炒三四次，為末一兩，加丁香、藿香各三錢，研細。每服一匙，薑湯下。</p>
<p><u>小兒瀉痢</u>　土木鱉半個、母丁香四粒、麝香一分，研末。吐津調為丸，如芡實大，納一丸於臍中，後用膏藥貼之，立止。</p>
<p><u>小兒瀉痢肚疼</u>　縮砂仁、川椒各五分，炒、研，和薑汁少許，唾津，丸成粒，安臍內，外以膏藥貼之。</p>
<p><u>小兒久瀉</u>　飲食少迸，身體羸瘦。白朮（土炒）、白茯苓各一錢，黃米一合，煮粥，只服米飲，瀉自止。</p>
<p><u>小兒尿血</u>　甘草一錢，煎湯，調六一散一錢（方見諸藥食毒），加升麻三分（同煎更效）。</p>
<p><u>小兒脫囊瘡</u>　陰囊生瘡，潰爛皮脫，子欲墜，名為脫囊瘡，此濕熱所致。紫蘇葉碾細末，濕則摻土，干則清油調敷（牆上白螺獅殼，碾末搽，亦效）。</p>
<p><u>痘瘡入目</u>　黑狗耳上血，取一滴入眼內，即除。一見痘時，牛蒡子不拘多少，其母嚼碎，貼兒囟門，則痘不入目，乃預防之妙法。</p>
<p><u>獨參湯</u>　出痘至貫漿收靨之時，倒塌陷伏，心慌悶亂，死在須臾。人參一兩，水煎濃汁，灌下即省。</p>
<p><u>痘後餘毒</u>　初發紅腫，赤豆、綠豆，好醋浸爛搗汁，鵝翎常刷患處，自消。痘後不宜即吃豆腐。魚腥、肥肉，食之致泄脾氣，後必多病。</p>
<p><u>悶疹子</u>　櫻桃核四十九粒，敲碎，蔥頭一個，水煎服。分開頂門，內有紅筋紅瘰，挑破即出。</p>
<p><u>小兒誤將竹木刺入眼內</u>　白頭頸蚯蚓掐斷，滴血入眼，刺即出。</p>
<p><u>佛頂神異種子丸</u>　當歸身、懷生地、懷熟地、川牛膝（酒浸洗）、片芩、山茱萸、天門冬各四兩，麥門冬四兩（淨米泔水浸）、知母（鹽水、酒各浸二兩），人參六錢，白芍藥（酒浸）、遼五味、山藥、川芎各二兩，龜板（末，灼去邊，酥炙淨）二兩，黃柏淨九兩（蜜、水、酒各浸三兩）。上藥俱不犯鐵器，煉白蜜和勻，杵數千下，丸梧桐子大，每服百丸。早，淡鹽湯；晚，酒下。男女皆服。忌房室月餘，愈久愈妙，必得多男。是方之妙，全在黃柏為君。或嫌太涼，不知黃柏，生則涼，制則不涼而補，故取效神。善酒人服之尤效。不可任意增減，即五十以上，尫羸幾斃者，始服去病，再眼生子。更有病遺病泄，十年不效者，服此泄遺俱止，連舉二子。</p>
<p><u>胎產金丹</u>　統治婦女百病。當歸（酒洗）、川芎（酒洗）、白芍（酒炒）、人參（去蘆）、赤石脂（火煅，另研）、白朮（去蘆，土炒）、茯苓（去皮）、桂心、藁本、白薇、白芷、丹皮、延胡、沒藥（另研）、甘草各一兩。除石脂、沒藥另研外，其餘皆以醇酒浸三日，烘乾為末，足秤十五兩；外用香附米去皮毛，以水醋浸三日，略炒為末，足秤十五兩。共十六味和合，重羅篩過，煉蜜丸如彈子大，磁器收貯。諸症湯引；不問老幼室女，經閉成疾，四肢麻木，筋骨疼痛，頭昏腳腫，氣鬱成癆，血淋，血瘕，赤白帶下，隨症輕重多寡服之，滾湯下。不受孕者，滾湯服一丸，服至一月，必然有孕，體弱者倍用。胎不安者，滾湯調服一丸，睡半日即安。受孕後即服不輟，保全足月，分娩無憂。臨產清米湯調服一丸，分娩自然順利。難產者倍用。產下童便好酒調服一丸，無崩暈之患。服過五日至十日，氣血完固，無他病。血崩，童便和滾水，調服一丸，用至二三丸，即止。血暈，川芎、當歸煎湯，調服一丸，用至二三丸，即醒。驚風，防風煎湯，調服一丸，用至二三丸，即解。兒枕痛，山楂煎湯，和砂糖少許調服，用至二三丸，即定。嘔吐，淡薑湯，調服一丸，用至二三丸即止。胞衣不下，乾薑炒黑，煎湯調服一丸，用至二三丸即下。產下四五日後，調理者，俱滾湯服。虛怯者，每日滾湯服一丸，服至滿月全愈（金箔為衣及硃砂皆可為衣）。</p>
<p><u>催生</u>　茉莉花七朵（花開時摘下，夾無字紙薄中，切勿泄氣，臨時取用，鮮者更佳）、芝麻一撮。先將茉莉花盛一潔淨碗中，卻將芝麻入桐杓內炒香，用水一茶碗，頃入芝麻中，煎一二滾；將水連芝麻頃入榮莉花碗內，如沖茶法，少蓋片時，待浸出花味，臨產服之。氣壯者，連芝麻及花食下；氣弱者，只吃湯亦可，立時有效。惟未足月，服此傷人，慎之，慎之。</p>
<p><u>孕婦連日不產，子死不出</u>　丹參一兩，煎服即出；不出再服。此藥最妙，能去瘀生新。夏月胎死，大黃末三錢、真麝三分，研勻；用佛手散，當歸五錢、川芎三錢、益母草五錢煎濃調服。寒月胎死，桂末三錢、真麝五分研勻，酒調服，須臾如手推下。如有兩子，一死一活，仍用佛手散加丹參五錢煎服，即丹參一味濃煎服，能令死者下、生者安。有盤腸獻花生者，生腸與兒俱出，慎勿驚忙，從容產畢，剪去產婦頂心發少許，蓖麻子四十九粒，去殼搗爛，塗頂中，腸即入，一人急洗去蓖麻。皂莢末少許，吹鼻取嚏，即入半夏末，亦可。枳殼煎湯，溫服即入。盤腸生，枳實三錢。肉桂五分，水煎急服。腸已出，再不入者，亦勿驚動，以鐵鏽水溫灑之，內即真磁石（即吸鐵石）煎湯飲之，即入。俗用冷水噴面，激令縮收，虛人恐致有害。</p>
<p><u>仙傳牡丹方</u>　治產後十三症。主方：當歸三錢，川芎、生地各一錢五分，澤蘭葉、香附（米醋炒）、益母、延胡（米醋炒）各一錢。冒風，加防風、天麻各一錢，余加同；血暈，加五靈脂（醋炒）、荊芥穗（炒黑）。三四日發熱，加薑炭、人參、黃耆。敗血上行，心口作脹，加大黃（酒炒）、桃仁、蓬朮。四肢逆冷，加肉桂、乾薑。心膈迷悶，加陳皮、枳殼、砂仁。血崩，加地榆、山梔（薑汁炒）、丹皮。咳嗽，加杏仁、桑皮、桔梗。死血不行，腹硬，加紅花、枳實、桃仁。飲食不進，加山楂、麥芽。脾胃作脹，加白朮、茯苓、蒼朮、厚朴、陳皮、砂仁、枳殼。心神恍惚，加茯神、遠志（上皆一錢）。胎衣不下，加朴硝三錢（只此一味）。</p>
<p><u>烏金散</u>　治婦人產後十九症。百草霜（須山野人家者）、血竭、延胡索、女子亂髮（燒灰）、當歸（酒洗）、肉桂、赤芍藥、鯉魚鱗（燒灰）、松墨（煅，醋淬）各一兩，末之。每服二錢，空心溫酒調下。一治子死腹中，此因孕婦熱病六七日，經傳臟腑，熱極以致子死腹中，臍下疼痛，指甲青，口邊沫出，命在須臾，急服此散，三劑即生；一治難產，此因胎氣已成，子食母血，十月滿足，余血成塊，名為兒枕。臨產兒枕先破，及將生，母裹其子，故難產，急服此散，遂去敗血，須臾自生。橫生逆產同治。治產後胎衣不下，子即生出，母受其寒，血入衣中，被血所脹，故胎衣難下，令人脹悶，飲食不進，但服此散，遂去衣中敗血自下。一治產後血暈，起止不得，眼見黑花。此因產後三日，血氣未定，敗血還走五臟，奔注於肝，時人不識，多作暗風，差矣。但服此散，即愈。一治產後口乾心悶，多由新產七日以來，血氣未定，因食麵血結積聚在心，是以煩渴。時人不識，多作胸膈壅悶治之，非也。但服此散，無失。一治產後寒熱似瘧，此因產後虛羸，血入於心肺，熱入於脾胃，則寒熱極，反渴。時人不識，呼為瘧疾，誤矣。但服此散，百發百中。一治產後四肢浮腫，多因敗血走注，五臟轉滿，四肢停留，迴轉不得，乃致四肢俱腫。時人不識，誤為水腫與血腫。不知水腫氣閉而小便澀，血腫氣竭而四肢寒，先服此散，去敗血後，用利水氣藥。一治產後血邪，如見鬼神，癲狂譫語。因產後敗血熱極衝心，所以煩燥。時人不識，呼為風邪，誤矣。急服此散，自痊。一治產後失音不語。蓋心有七孔三毛，敗血衝心，流入孔中，被血所閉，言語不得。時人不識，呼為脫陽，不審視產婦敗血行與不行，順與不順，誤人無窮。但服此散，去心中敗血，其病即愈。一治產後瀉痢腹痛，此因產後未滿月，誤食酸冷堅硬之物，與血相搏，流入大腸，不得消化，或瀉膿血，或作下痢，但服此散即安。一治產後百節疼痛，此因產時，百骨張開，產後余血，流入經絡，停留日久，結聚不散，壅滯虛脹，是以百節痠疼。時人不識，呼為濕症，誤治多矣。但服此散二三劑，去其滯血，即痊。一治產後尿血如雞肝，此因產婦月中將理失宜，飲食不得應時，兼以氣怒，以致余血流入小腸，閉卻水道。是以小便澀結，血似雞肝，流入大腸，閉卻肛門，遂致大便澀難。時人不識，呼為五臟淋澀，傷損心肝，遂成此症，殊不知敗血流入大腸，閉塞水穀，以致於此。但服此散，立瘥。一治產後下血似崩中，此因產後敗血、惡露盡止之間，亦當服藥，以調五臟。或食酸鹼之物，寒熱不一，因此營衛不得調和，以致腹中便作崩漏，形如肝色，渾身潮熱，背轉拘急，心中煩悶。時人不察，云為崩下。但婦人癸水將至，暴下不止，愆期過度，故曰崩下。產婦血氣正行，失於保養，亦成此疾。但服此散，即痊。一洽產後胸膈氣滿，嘔逆不定。因產後血停於脾胃，食沖氣衝，心氣不安，胸隔脹滿。嘔吐涎多。時人不識，呼為翻胃，不知食入反出，名為翻胃。今產婦血停於脾，心氣相沖，而為嘔逆，不得誤認翻胃。急服此散，二三劑自效。一治產後咳嗽，寒熱往來。此因產後不能忌口，食麵結痰為塊，上喘咳嗽，四肢寒熱，心悶口乾，渾身煩躁，睡夢多驚，體虛無力，經水不來，名曰血閉，腸痛面赤，因此失治，變成骨蒸。治須詳細，急服此散，自愈。一治產後喉中似蟬聲，此因敗血沖遏於心，轉入肺氣，與血並結成塊，入喉作聲似蟬鳴，急宜服此散，即愈。一治產後面黃舌乾，鼻中流血，遍身色點生斑。因產後敗血流入五臟六腑，隨走肌膚四肢，熱結留注，轉還不得，故有此疾。急服此散無虞。一治產後眼澀，腰痛似角弓。此因產婦百日之後，方得脫體，今在月內食麵及爽口之物，以致煩熱不得安寧，因循不治。兼百日之內，過傷房事；或久病，或坐臥當風，取其快樂一時。殊不知產後血氣虧損，倘一犯之，難免此症，急服此散，可救。一治產後小便澀，大便不通，此因敗血入腸中，乍寒乍熱，如醉如癡，眼目昏花，遂致小便淋漓，大便艱難。但服此散，自愈。</p>
<p><u>產後陰門突出</u>　因用力太過而然。四物湯（方見溫疫諸症）煎好，入龍骨末少許，空心連進三服，用麻油湯熏洗。治陰挺方：先以艾湯洗過，次將蛇床子半升炒熱，絹包熨之，自入。</p>
<p><u>疔瘡</u>　凡暴患瘡泡昏死者，多是疔毒，用燈照遍身，有紫黑小瘡，急宜挑破，貼拔毒膏藥，隨以生薑、白芷各二錢，搗爛，和酒擂，絞汁，熱服取汗，得汗即蘇。血疔，血出不止，真麻油一盅，服下即止。</p>
<p><u>痰核</u>　肥皂（燒，存性）、晚蠶砂（炒）等研，飯丸綠豆大，每服十丸，湯下。</p>
<p><u>喉癬</u>　冰片、牛黃各一分，膽礬三分、大硼砂八分，山豆根二錢，雄黃、兒茶各八分、陳白梅（去核）三個，共研末。次將白梅搗爛，入藥和勻，丸如龍眼大，臨臥含口內，過夜即消。</p>
<p><u>肺癰</u>　大山梔七個，去衣心，只用肉，淡鹽水煮乾，再煮七次，瓦上焙乾為末。淡白酒、淡水皆可下，輕則一服，最重二三服愈。</p>
<p><u>吊腳腸癰</u>　蜀葵很一兩，金銀花、陳皮、甘草、皂角刺各三錢，水煎服，不拘已成未成，皆效。</p>
<p><u>癬瘡</u>　生紅芽大戟根，擦癬上紅絲出為度。斑蝥，瓦上焙乾，研末，搔破擦之，起泡，愈。蟢兒瘡，磨鏽釘水搽。</p>
<p><u>膿窠瘡</u>　川黃連三錢、白酒十斤、雄豬板油一斤，共投酒罈內，蒸三炷香為度，待火氣退，飲之。疥癬，蒼朮一斤為末，鋪床褥上，常臥即愈。</p>
<p><u>濕熱出血瘡，去靨即流血者</u>　番木鱉二十個，切片，和麩皮同炒去油盡，為末，研，雄黃三錢，燭油調搽，再配入涼血敗毒藥，更效。</p>
<p><u>坐板瘡</u>　熱湯洗淨，隨搔破患處，輕粉、生礬等分，研細，擦。生桐油搽上，即出黃水，用紙揩乾，復搽桐油數次，自愈。</p>
<p><u>痔瘡腫痛</u>　蔥頭共蜜搗，點腫處，覺冷即消。</p>
<p><u>下疳瘡</u>　亦名妒精瘡。緣後生未娶，精氣益盛，陽道興起，及當泄不泄，不泄強泄，脹斷嫩皮，怕疼痛，失洗刮，收入皮內，日久遂爛，連莖一二寸許者，須斷房事數日。用荊芥、黃柏、馬鞭草、甘草，入蔥煎湯洗之，去膿靨，以訶子燒灰，入麝香乾摻患處，令睡，睡醒，服冷水兩三口，勿令陽道興起，脹斷瘡靨，靨堅即效。</p>
<p><u>楊梅瘡</u>　敷方：血竭、硼砂、竹節白附各三分，真珠（豆腐煮數滾，布包槌碎，同燈心碾末）、琥珀（打碎，牛乳同煮乾，取出，又清水煮二三滾，曬乾為末）、雄黃各二分。共研為細末，麻油和勻，敷。先將瘡發透，瘡上有水珠出，用野菊花煎湯洗之，然後敷藥。丸方：牛黃（如在上身用五分，下身三分）、丁香二分、天竺黃三錢、羚羊角一錢、野木蓮蓬十個、黃麻花一錢、葛麻花二錢、懷生地四兩（酒洗）、皂角刺二兩、廣奇良四兩。共為細末，煉蜜丸桐子大，每日清晨，白湯下四五十丸。</p>
<p><u>廣瘡誤服輕粉，遍身冬痛及爛破者</u>　土茯苓三斤（去黑爛處，取淨末一斤），乳香、沒藥各六錢（俱去油，取淨末），川椒一兩，牛黃（潰爛膿多者用一錢，次五分，要真西黃）。白蜜一斤十兩，將藥和勻，捶千餘下，丸如彈子大，用麻油擦手為丸。每日清晨服四丸，晚三丸，土茯苓煎濃湯送下，藥完立愈，永不再染。止食魚鯗，忌食瓜、薑、諸腥物。</p>
<p><u>趙府小靈丹</u>　專治一切惡瘡，諸般無名腫毒。凡癰疽初起服之，即刻解散；又治四時傷寒。傷風一二日內，憎寒壯熱無汗者，亦能奏效。北細辛、輕粉、川烏尖、草烏尖、乳香（燈心同研極細）、蟾酥、沒藥各三錢（磨極細），巴豆霜（巴豆二兩，研爛，用紙包裹，壓去油極淨，取霜三錢，如油不淨，反害人），辰砂四錢（水飛過三錢），血竭三錢，（另研細篩，加入丸內如同眾藥磨化作塵飛），加麝一分同搗，忌見鐵。煮老黃米飯，搗勻為粒，如半芝麻大，雄黃研極細為衣。每服十五粒，不滿二釐；小兒五七粒。蔥頭連白三個，搗爛取汁，入陳好酒內吞下，汗出為率。汗取極透或大便走泄，或七竅覺香氣，俱系藥力。切忌冒風。如酒量好，取半醉熟睡；量小勿多飲。五鼓空心服，至午余，方可飲粥湯。食遠吃藥，藥遠吃食，靜坐一日，其效如神。孕婦忌服。修合時忌婦女、雞犬聲、爭鬧聲，須密室靜眾。服藥後，忌食大黃、黃連、黃耆、山茱萸、蘆筍、菇筍、藜蘆、飴糖、貍肉、黑豆、生菜、大蒜、醬豉、冷水等物。</p>
<p><u>諸毒不收口</u>　生鉛（未曾煎過銀者）三分，敲薄片，剪碎如香茶樣，分三服。每日用鉛一分，砸核桃肉細嚼，用好酒過，三日服完，即收口。大解須空地，不可令人聞，受毒氣。如未成毒服之，即消；已成毒服之，即出毒。惟生廣瘡者，切不可用。諸惡毒瘡流膿血及瘡口高腫者，生鉛打成薄片貼上，布縛緊，甘草煎湯，一日一洗，愈。</p>
<p><u>諸毒</u>　黃耆、金銀花各五錢，上部加羌活三錢，下部加獨活三錢，無灰酒煎，空心服，能消一切無名腫毒。</p>
<p><u>諸毒</u>　菜油一兩，熬滾，入亂髮一球，熬成灰，投雞子一枚，油內成餅，酒下微醉，出汗痛即止。一次服二枚更妙。上身飽食，下身飢食，最凶症每日食之，止痛暗消。有頭出膿者，食之止痛，即收口。</p>
<p><u>諸毒</u>　凡患發背對口，一切無名腫毒及久近臁瘡，先看所患腫處，用生面水調作圈，依腫處大小圍之。圈高寸余，實貼皮上，勿令滲泄。圍外密施布衣數重，防火氣侵餘地，患者安身勿動，圈內鋪極好黃蠟片屑，上以炭火炙之，黃蠟熔化。毒淺者，皮上覺熱，痛不受炙便止；毒深者，全不覺熱痛，再下蠟，隨化隨添，至圈滿。仍前熱火，炙至蠟沸，覺癢，後覺痛，久之不可忍，乃去火。以少水微澆滾蠟上，俟冷揭去蠟，近皮者，俱帶青黑色，此毒隨蠟拔去。淺者，一二炙便內消；深者三四炙亦膿去，腫消立愈。炙畢，外貼生肌玉紅膏（方見瘡毒諸症，初炙不用豬蹄湯洗），此百治百驗者。驗初腫法，凡瘡毒有頭腦根腳者，易治。有一種泛漫難認者，須用濕紙貼上，先乾者，乃毒聚處，便可如前法炙之。凡瘡口雖破，而皮尚頑硬，膿未出者，不必用刀針，惟炙之，膿自出，腫自消。或膿出而瘡口潰爛者，即於瘡口下圈，再炙蠟，氣從口而入，愈深愈妙。</p>
<p><u>諸毒初起</u>　硫黃一錢，雄黃八分，牛黃一分，冰片、麝香各半分，熔成餅，摘碎如米粒大，遇毒初發腫時，周圍數點箍之，點燈草火，隨以次而燒，其毒即隨火氣散去。</p>
<p><u>疔瘡初起</u>　仙喬草、紫花地丁、豨薟草各一大把，陳好酒煎服，儘量飲，臥自愈。</p>
<p><u>三品一條槍</u>　占人有三品瘡法，因藥之分量不同，而有此名也。陳若虛先生定此方，簡易不繁，外科皆屬可用，故有一條槍之名。用白砒一兩五錢、明礬三兩、雄黃二錢四分，乳香一錢二分。砒礬二味，共為細末，小罐內加炭火煅紅，青煙已盡，旋起白煙。片時，約上下紅徹住火，取罐頓地上，一宿取出，約有砒礬淨末一兩，加前雄黃、乳香共研極細，厚糊調稠，搓成如線條，陰乾。凡遇十八種痔、五漏、翻花、癭瘤、氣核、瘰癧、疔瘡、發背、漏腦等症，有孔者，紝入口內；無孔者，先用針放孔竅。早晚插藥二次，插至三日後孔大者，每插十餘條，插至七日，患孔藥條滿足方住，以後四邊自然裂開大縫。共至十四日前後，其疔核瘰癧、痔漏諸管自然落下，隨用湯洗，搽上生肌玉紅膏（見瘡毒諸症）。虛者兼服健脾之藥。</p>
<p><u>外科十全大補湯</u>　一切外症潰後多服，生肌長肉，益氣滋血。人參、當歸、川芎、白芍藥、白朮、黃耆、茯苓、甘草、生地黃、熟地黃、防風、陳皮、乾山藥、知母、黃柏、澤瀉、升麻、金銀花，煎服。秋冬加厚朴、蒼朮、肉桂；春夏加麥門冬、青皮、黃芩、山梔仁、黃連。</p>
<p><u>呂祖一枝梅</u>　治大人男婦、小兒新久諸病，生死難定之間。用藥芡實大一餅，貼印堂之中，點官香一枝，香盡去藥。以後一時許，藥處有紅斑暈色，腫起飛散，謂紅霞捧日，病垂危篤。其人不死，加貼藥處。一時後，無腫無紅，皮肉照常不變，謂白雲漫野。病雖輕淺，終歸冥路。小兒急慢驚風，一切老幼痢疾俱貼之，紅腫即愈。此方用之，無不預知生死。硃砂三錢，銀硃一錢五分，五靈指三錢，麝香三分，蓖麻仁五分，雄黃、巴豆仁（不去油）各五錢。各研細，於端午午時，靜室中共研，加油胭脂為膏，磁盒收藏，勿經婦人女手。臨用豆大一丸捏餅，貼印堂中，其功立見。用過餅，送入河中。</p>
<p><u>六畜瘡</u>　並騾馬躁蹄，燒蕎麥穰作灰，淋洗之。</p>
<p><u>瘟豬方</u>　大黃五錢、朴硝五錢，共泡湯一罐，傾出候溫，竹筒灌下，俟瀉出毒，即好。並牛瘟皆治。貫眾三兩、豬牙皂角三兩，用水四五碗，煎二三十沸，外人朴硝研細，煮三兩，如前法，候溫灌下，亦效。</p>
