<header data-type="book">
<h1>望診遵經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>汪宏</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1875">公元1875年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2742">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>敘</h1>
<p>予先君石城翁。諱坤堅。字義彰。讀書之暇。嘗謂予曰。醫之為道。至精至微。明辨而行之。則可以濟眾。冒昧而施之。適足以殺人。爾學醫有年矣。抑亦知其要否。予起而對曰。昔軒轅氏定本草。作內經。盧扁雷桐。莫不遵其規矩。漢晉唐宋。鮮能出其範圍。今讀其遺文。會其旨趣。其法門有二。一曰診。一曰治。望聞問切者。診法也。針灸藥石者。治法也。將欲治之。必先診之。非診無以知其病。非診無以知其治也。顧欲知其診之所當然。究其診之所以然。則凡天地古今之理。南北高下之宜。歲時氣候之殊。晝夜陰晴之變。以至賦稟強弱之不齊。老少居養之各異。莫不著見於四診焉。豈但明乎血氣經絡皮肉筋骨。與夫病之五臟六腑。症之七情六淫也哉。蓋著乎外者。本乎內。見於彼者。由於此。因端可以竟委。溯流可以窮源。是故寒熱補瀉之法。因診而定。標本先後之理。因診而分。七方十劑八法九針。莫不因診而決用舍焉。昔賢所謂明理者。明此理也。辨證者。辨此證也。理不明。則證莫能辨。證不辨。則治莫能分。故治病必須知診。診病必須遵經。予先君曰。入門矣。未入於室也。經文深奧。診法精微。既已識其大綱。尤當考其細目。慎之哉。窮理盡性之事也。格物致知之功也。身家之所寄託。生死之所相關也。詩云。如切如磋。如琢如磨。勉旃勉旃。余退而志之。恆以自警焉。今著遵經。有感於是。因書篇首。以告後人。</p>
<p><u>光緒元年三月上浣新安汪宏廣菴氏書於西安航埠</u></p>

<h1>卷上</h1>

<h2>診法常以平旦</h2>
<p>靈素談醫妙入神。窮源探本在清晨。時平可辨邪和正。法定能分假與真。有疾音容俱轉變。無疴色脈自調勻。常經萬世皆師範。診視須當永奉遵。原夫昧爽方興。天道之陰陽中正。黎明甫啟。人身之志氣清靈。觀形以驗溫涼。平能合度。察色而瞻動靜。法不離經。斯時也。九候無差。五音悉准。有過易窺。有偏易診。辨三因之虛實。氣色分明。察五臟之盛衰。精神平允。見微知著。固能判斷吉凶。原始反終。更足周知生殞。蓋觀日以揣摩。亦援天而指引。由是參病情。稽診法。指下融通。心中浹洽。脈息共形容合論。推究無窮。聲音與氣色交參。變通不乏。譬若權衡正直。觀俯仰而較錙銖。亦如尺度均同。計毫釐以分闊狹。況乎因人絜矩。候氣平章。不似日中之溫暖。不同夜半之清涼。營衛會於脈口。氣色見於明堂。有證皆顯。無隱弗彰。經絡均勻。按法真堪處變。規模宏遠。持平可以為常。爾乃觀其所由。視其所以。或端本以澄源。或因此而識彼。寒多熱少。分臟腑之盈虧。暮重朝輕。析陰陽之表裡。故察人情。觀日晷。時行則行。時止則止。即從權而診視。不執其經。然觸類以引伸。難逾厥旨。若夫金烏返照。玉兔騰精。病因時而進退。氣隨日以流行。有平脈時脈。有正聲變聲。診或違夫晝夜。治即昧於重輕。是則望聞問切之方。皆失其正。補瀉迎隨之法。不得其平。於是聖人。著作內經。申明平旦。合四診而同觀。會三才以參看。有為有守。廣宇內之栽培。無黨無偏。協時中之條貫。是以德邁羲農。功高霄漢。宜其達四海以謳歌。歷千秋而燦爛。不然。何以為醫學之範圍。妙化育而參贊。</p>

<h2>望色常宜定靜</h2>
<p>平明診法已敷陳。望色還須氣息勻。更待伊人心志定。聆音察理論精神。扶持當緩緩。言語莫頻頻。坐臥情和洽。寒溫服適均。醫家看視宜恬靜。鄰里瞻觀慢博詢。休談長與短。應辨假和真。成敗所關。死生攸寄。脈息豈無隱微。聲音亦有同異。神凝志一。始能融會貫通。理明義精。方可引伸觸類。臟腑之情蘊奧。安可粗心。氣色之道精深。不容率意。若乃晨昏昧昧。樓閣蔥蘢。或敷脂粉兮。汙其顏色。或居帷幔兮。蔽其形容。慢言三折其肱。揣摩弗確。即使十全之技。看視無從。卻愁倉卒又持燈。尤恐奔波多亂目。俗醫治病。還道這氣色朦朧。無甚差錯。咦。縱然彷彿分虛實。只在依稀想像中。</p>

<h2>明堂周身部位</h2>
<p>欲觀氣色。先識明堂。欲察明堂。先知部位。首面上於闕庭。王宮在於下極。五臟次於中央。六腑挾其兩側。靈樞曰。庭者。首面也。闕上者。咽喉也。闕中者。肺也。下極者。心也。直下者。肝也。肝左者。膽也。下者。脾也。方下者。胃也。中央者。大腸也。挾大腸者。腎也。當腎者。臍也。面王以上者。小腸也。面王以下者。膀胱子處也。顴者。肩也。顴後者。臂也。臂下者。手也。目內眥上者。膺乳也。挾繩而上者。背也。循牙車以下者。股也。中央者。膝也。膝以下者。脛也。當脛以下者。足也。巨分者。股里也。巨屈者。膝臏也。此五臟六腑肢節之部也。男女異位。男子色在面王。為小腹痛。下為卵痛。其圜直為莖痛。高為本。下為首。狐疝㿉陰之屬也。女子在面王。為膀胱子處之病。散為痛。摶為聚。方圓左右。各如其色形。其隨而下至胝為淫。有潤如膏狀。為暴食不潔。左為左。右為右。其色有邪。聚散而不端。面色所指者也。此面王之部。男女之分也。所謂明堂者。鼻也。庭者。顏也。闕者。眉間也。面王者。鼻準也。下極者。闕庭之下。兩目之中也。頰外謂之繩。膝蓋謂之臏。口旁大紋為巨分。頰下曲骨為巨屈也。色之見於明堂。猶脈之出於氣口也。氣口者。血脈之大會。明堂者。呼吸之宗氣也。氣口明堂。其義一也。</p>

<h2>明堂六部提綱</h2>
<p>明堂望法。有五臟之分。有六部之辨。六部者。中央臟腑之部為內。四旁肢節之部為外。橫分之為上下。豎分之為左右也。以內外言之。色見於內部者。其病在內。色見於外部者。其病在外。色從外部走內部者。其病自外走內。色從內部走外部者。其病自內走外。內者重。外者輕。從內走外者。臟傳腑。腑傳表。由重而輕也。從外走內者。表傳腑。腑傳臟。由輕而重也。此內外之辨也。以上下言之。色見於上部者。其病在上。色見於下部者。其病在下。色從下部走上部者。其病自下走上。色從上部走下部者。其病自上走下。上為陽。下為陰。陽病者。上行極而下。陰病者。不行極而上。陽病自上走下為重。自下走上為輕。陰病自下走上為重。自上走下為輕。此上下之辨也。以左右言之。色見於左部者。其病在左。色見於右部者。其病在右。色從右部走左部者。其病自右走左。色從左部走右部者。其病自左走右。左為陽。右為陰。男子左為逆。右為從。女子右為逆。左為從。男子自左走右為從。自右走左為逆。女子自右走左為從。自左走右為逆。此左右之辨也。由是而五色交錯。六部合參。則又各有行走。各有逆從。是必察其色之所起。辨其色之所向。以推其順逆。而斷其吉凶焉。然其色之行走。於意云何。蓋其色上銳者。其行上向。其色下銳者。其行下向。在左右如法。而內外亦然矣。此六部之提綱也。岐伯曰。臟腑之在中也。各以次舍。左右上下。各如其度也。其斯之謂歟。</p>

<h2>面貌分應臟腑</h2>
<p>既察明堂之部位。當觀面貌之部位。蓋內經望法。有因明堂而分者。有因面貌而分者。何則。臟腑經絡相通。表裡上下相貫。血氣周流。無有間斷。以故氣色見於明堂。即以明堂分臟腑。氣色見於面貌。即以面貌分臟腑。刺熱篇曰。肝熱病者。左頰先赤。肺熱病者。右頰先赤。心熱病者。顏先赤。腎熱病者。頤先赤。脾熱病者。鼻先赤。此熱病之臟部也。熱病從所部而起者。至期而已。言至其氣正之時日而愈也。推而論之。則熱病之死生間甚。時日之王相休囚。皆可按法而究焉。然又言少陽之脈色榮頰前。太陽之脈色榮顴骨。則是以頰前為少陽之部。以顴骨為太陽之部矣。其曰。榮未交者。是病未傳也。則榮已交者。是病已傳也。視其交於何部。而斷其傳於何經也。設或色見少陽之部。診得少陰之脈。或色見太陽之部。診得厥陰之脈。此為陰陽爭見。表裡皆病。所謂兩感者是已。不言陽明者。缺文也。夫陽明之脈起於鼻。絡於目。交頞中。挾口環唇。下交承漿。卻循頤後下廉。出大迎。循頰車。故其為病也。身熱目痛。而鼻乾不得臥。如經云。面熱者。足陽明病。仲景云。陽明病。面合赤色。是皆可為陽明之診也。更有腹脅膈之分焉。所謂頰下逆顴為大瘕。下牙車為腹滿。顴後為脅痛。頰上者。膈上也。此皆部位之分。病色之辨也。皮肉血氣筋骨。亦各有分部焉。靈樞曰。色起兩眉薄澤者。病在皮。唇色青黃赤白黑者。病在肉。營氣濡然者。病在血氣。目色青黃赤白黑者。病在筋。耳焦枯受塵垢者。病在骨。蓋以五臟之屬。分五形之部也。若夫風病之診又不同。心風診在口。其色赤。肝風診在目下。其色青。肺風診在眉上。其色白。脾風診在鼻上。其色黃。腎風診在肌上。其色黑。凡若此者。務須沉潛反復。融會貫通。病雖變出多端。醫者常若可見。庶乎其不瘥矣。至於幼科五臟之部。痘科八卦之位。蓋因內經諸法。隱其文。彰其義耳。能精乎此。亦可觸類旁通矣。（肌上之肌。高士宗作𦠄。𦠄、頰肉也。宜從之。）</p>

<h2>五官分應五臟</h2>
<p>既知面貌分五臟。當知五官分五臟。何則。天有六氣。降生五味。發為五色。徵為五聲。淫生六疾。故周禮疾醫。以五味五穀五藥養其病。以五氣五聲五色眡其死生。兩之以九竅之變。參之以九臟之動。是以內經望法。以五色分五行。以五官分五臟。於是乎診於面。則面有五臟之分。診於竅。則竅有五臟之別。蓋無往而非五臟之所屬。亦無往而非五行之所屬也。且五官者。五臟之閱也。經曰。十二經脈。三百六十五絡。其血氣皆上於面。而出空竅。其精陽氣上出於目而為睛。其彆氣走於耳而為聽。其宗氣上出於鼻而為臭。其濁氣出於味。走唇舌而為味。鼻者。肺之官也。目者。肝之官也。口唇者。脾之官也。舌者。心之官也。耳者。腎之官也。故肺病者。喘息鼻張。肝病者。眥青。脾病者。唇黃。心病者。舌卷短顴赤。腎病者。顴與顏黑。釋之者曰。鼻白。肺病也。色深白喘而胸滿者。邪實也。色淺白喘而不滿者。正虛也。目眥青。肝病也。色深青者。邪實也。色淺青者。正虛也。唇黃。脾病也。色深黃者。邪實也。淺黃者。正虛也。舌赤卷短。心病也。色深赤焦卷者。邪實也。色淺紅滋短者。正虛也。耳黑。腎病也。色深黑者。邪實也。色淺黑者。正虛也。蓋以淺淡為虛。深濃為實。因五官以分五臟也。然五官之分。有視形容之法焉。有觀氣色之法焉。或因形容分五臟。或因氣色分五臟。則又各有提綱。各有條目。詳述於後。可以參觀。所謂耳目不違心。結諸心形諸色也。夫形色之理。陰陽之道也。陰陽也者。合之。則臟腑經絡。具一陰陽也。分之。則耳目口鼻。各一陰陽也。身體之大。毫髮之微。莫不有形色之理焉。莫不有陰陽之道焉。邵子所謂物物具一太極者。可不引之相發明哉。</p>

<h2>五色分應五臟</h2>
<p>既知五官分五臟。當知五色分五臟。蓋人者。天地之心也。五行之端也。食味別聲。被色而生者也。故經云。以五色命臟。青為肝。赤為心。黃為脾。白為肺。黑為腎。肝合筋。心合脈。脾合肉。肺合皮。腎合骨。故青病在筋。赤病在脈。黃病在肉。白病在皮。黑病在骨。蓋以色應臟。以臟合形也。然或察部以言臟。或察色以言臟。亦猶診脈之法。或以氣口寸關尺分五臟。或以弦鉤代毛石分五臟。夫弦鉤代毛石者。五臟之氣。見於血脈也。青赤黃白黑者。五臟之氣。見於氣色也。五臟之氣。見於氣色。因以氣色分五臟。五臟之氣。見於明堂。因以明堂分五臟。此活法也。亦定法也。至若以氣色分臟腑。則浮澤為外。病當屬腑。沉濁為內。病當屬臟。若更合氣色部位分臟腑。則色見於臟部者。其色深濃。當為臟氣有餘之病。其色淺淡。當為臟氣不足之病。見於腑部者。其色深濃。當為腑氣有餘之病。其色淺淡。當為腑氣不足之病。故以陰陽言。則臟陰也。腑陽也。色見諸陰者。臟病也。見諸陽者。腑病也。察其何部何色。而斷其何臟何腑也。舉凡皮肉血脈筋骨。亦以氣色部位分之。矧氣色有陰陽。部位有陰陽。臟腑病症。又各有陰陽。參而伍之。錯而綜之。可以象求。難以數推矣。</p>

<h2>相氣十法提綱</h2>
<p>大凡望診。先分部位。後觀氣色。欲識五色之精微。當知十法之綱領。十法者。浮沉清濁微甚散摶澤夭是也。何謂浮沉。色顯於皮膚間者。謂之浮。隱於皮膚內者。謂之沉。浮者。病在表。沉者。病在裡。初浮而後沉者。病自表而之裡。初沉而後浮者。病自里而之表。此以浮沉分表裡也。何謂清濁。清者清明。其色舒也。濁者濁暗。其色慘也。清者病在陽。濁者病在陰。自清而濁。陽病入陰。自濁而清。陰病轉陽。此以清濁分陰陽也。何謂微甚。色淺淡者謂之微。色深濃者謂之甚。微者正氣虛。甚者邪氣實。自微而甚。則先虛而後實。自甚而微。則先實而後虛。此以微甚分虛實也。何謂散摶。散者疏離。其色開也。摶者壅滯。其色閉也。散者病近將解。摶者病久漸聚。先摶而後散者。病雖久而將解。先散而後摶者。病雖近而漸聚。此以散摶分久近也。何謂澤夭。氣色滋潤謂之澤。氣色枯槁謂之夭。澤者主生。夭者主死。將夭而漸澤者。精神復盛。先澤而漸夭者。血氣益衰。此以澤夭分成敗也。蓋十法者。辨其色之氣也。五色者。辨其氣之色也。氣者色之變。色者氣之常。氣因色而其理始明。色因氣而其義乃著。氣也色也。分言之。則精微之道顯。合觀之。則病症之變彰。此氣色之提綱也。經曰。相氣不微。不知是非。屬意弗去。乃知新故。其是之謂乎。</p>

<h2>望法陰陽總綱</h2>
<p>明堂察色。以臟腑部位為體。以氣色診法為用。故分觀之。可以識其常。合參之。可以通其變。然究其常變。而原其始終。要不離乎陰陽之旨。蓋陰陽者。天地之道也。萬物之綱紀。變化之父母。生殺之本始。神明之府也。故以五色分言之。青屬少陽。旺於春。赤屬太陽。旺於夏。白屬少陰。旺於秋。黑屬太陰。旺於冬。黃屬中央土。寄於四季。旺於長夏。以六部分言之。外者上者左者皆為陽。內者下者右者皆為陰。以十法分言之。浮清甚散澤為陽。沉濁微摶夭為陰。於是乎氣色兼見。部位互考。則陰陽相錯。陰中有陽。陽中有陰。此陰陽之總綱也。顧陰陽之道。陽清陰濁。陽升陰降。陽熱陰寒。陽動陰靜。陽外陰內。陽上陰下。陽左陰右。陽道實。陰道虛。陽常有餘。陰常不足。是以色見諸陽者易治。見諸陰者難療。外感陰病見陽色者易治。陽病見陰色者難療。內傷陽病見陰色者易治。陰病見陽色者難療。凡此陰陽之理。既可合氣色部位以相參。亦可合臟腑病症以相證者也。易傳曰。一陰一陽之謂道。陰陽不測之謂神。內經曰。得神者昌。失神者亡。陰陽變化。一以貫之矣。</p>

<h2>五色相應提綱</h2>
<p>嘗考內經望法。以為五色形於外。五臟應於內。猶根本之與枝葉也。色脈形肉。不得相失也。故有病必有色。內外相襲。如影隨形。如鼓應桴。遠者。司外揣內。近者。司內揣外。五色之見。莫不相輸應焉。何言之。肝屬東方木。通於風氣。在時為春。在竅為目。在志為怒。在變動為語。其藏魂。其脈弦。其聲呼。其音角。其臭臊。其味酸。其液泣。其合筋。其榮爪。其腑膽。其日甲乙。其時寅卯。其經足厥陰。此青色之應也。心屬南方火。通於暑氣。在時為夏。在竅為舌。在志為喜。在變動為噫。其藏神。其主血。其聲笑。其音徵。其臭焦。其味苦。其液汗。其合脈。其榮色。其腑小腸。其日丙丁。其時巳午。其經手少陰。其包絡手心主。此赤色之應也。脾屬中央土。通於濕氣。在時為長夏。在竅為口。在志為思。在變動為吞。其藏意。其脈緩。其聲歌。其音宮。其臭香。其味甘。其液涎。其合肉。其榮唇。其腑胃。其日戊己。其時辰戌丑未。其經足太陰。此黃色之應也。肺屬西方金。通於燥氣。在時為秋。在竅為鼻。在志為悲。在變動為咳。其藏魄。其主氣。其脈毛。其聲哭。其音商。其臭腥。其味辛。其液涕。其合皮。其榮毛。其腑大腸。其日庚辛。其時申酉。其經手太陰。此白色之應也。腎屬北方水。通於寒氣。在時為冬。在竅為耳。在志為恐。在變動為欠。其藏志。其脈石。其聲呻。其音羽。其臭腐。其味鹹。其液唾。其合骨。其榮發。其腑三焦膀胱。其日壬癸。其時亥子。其經足少陰。此黑色之應也。色之應乎臟者。亦應其腑。應乎腑者。亦應其經。但當分其部位之內外。察其氣色之陰陽。五色之見。莫不相輸應焉。顧應者。常也。不應者。變也。知其常變。則知其生克矣。知其生克。則知其逆從矣。五臟各有病證聲色臭味。當與氣口明堂相應焉。其太過不及。相生相剋者。皆病也。從外知內。蓋本乎此。</p>

<h2>五色主病提綱</h2>
<p>竊思經言。見其色。知其病。命曰明。非特明其色。且明其病也。亦非特明其色。明其病。且明其病之應乎色。色之主乎病也。何以言之。肝色青。心色赤。脾色黃。肺色白。腎色黑。肝病者。兩脅下痛引少腹。令人善怒。虛則目䀮䀮無所見。耳無所聞。善恐。如人將捕之。氣逆則頭痛。耳聾不聰。頰腫。心病者。胸中痛。脅支滿。脅下痛。膺背肩胛間痛。兩臂內痛。虛則胸腹大脅下與腰相引而痛。脾病者。身重。善肌肉痿。行善瘈。腳下痛。虛則腹滿。腸鳴飧泄。食不化。肺病者。喘咳逆氣。肩背痛。汗出。尻陰股膝髀腨胻足皆痛。虛則少氣不能報息。耳聾。嗌乾。腎病者。腹大。脛腫。喘咳。身重。寢汗出。憎風。虛則胸中痛。大腹小腹痛。清厥。意不樂。此五臟之病證。五色之所主也。肝合膽。心合小腸。脾合胃。肺合大腸。腎合三焦膀胱。膽病者。寒熱。善太息。口苦。嘔宿汁。心下澹澹。恐人將捕之。小腸病者。小腹痛。腰脊控睪而痛。時窘之後。當耳前熱。若寒甚。若獨肩上熱甚。及手小指次指之間熱。胃病者。腹䐜脹。胃脘當心而痛。上肢兩脅膈咽不通。食飲不下。大腸病者。腸中切痛。而鳴濯濯。冬日重感於寒。即泄。當臍而痛。不能久立。三焦病者。腹氣滿。小腹尤堅。不得小便窘急。溢則水留即為脹。膀胱病者。小腹偏腫而痛。以手按之。即欲小便而不得。肩上熱。若脈陷及足小指外廉。及脛踝後皆熱。此六腑之病證。五臟之所合也。析而言之。臟主裡。腑主表。色之沉者病在裡。色之浮者病在表。是臟腑表裡之分也。臟為陰。腑為陽。色之濁者病在陰。色之清者病在陽。是臟腑陰陽之分也。臟有虛實。腑有虛實。色之淺淡者為虛。色之深濃者為實。是臟腑虛實之分也。如是而知臟腑之為病。氣色之所主。亦可見其色知其病矣。然而有時相應。有時不相應。何也。蓋臟腑有盛衰。氣色有生克。太過則薄所勝而乘所不勝。其不及則所勝妄行。而所生受病。所不勝薄之也。靈樞曰。腎乘心。心先病。腎為應。色皆如是。是則一隅三反。亦可推測而知。此皆主病之提綱也。（善肌肉痿。千金肌作飢。甲乙作苦飢肌肉痿。）</p>

<h2>部色主病提綱</h2>
<p>既知氣色之主病。當知部色之主病。夫而後可因部位氣色之所主。以言臟腑經脈之所病。謹按靈樞經脈篇曰。肺手太陰之脈。是動則病肺脹滿膨膨而喘咳。缺盆中痛。甚則交兩手而瞀。此為臂厥。是主肺所生病者。咳上氣喘渴煩心胸滿。臑臂內前廉痛厥。掌中熱。氣盛有餘。則肩臂痛。風寒汗出。中風。小便數而欠。氣虛則肩臂痛寒。少氣不足以息。溺色變。為此諸病。大腸手陽明之脈。是動則病齒痛頸腫。是主津液所生病者。目黃口乾。鼽衄喉痹。肩前臑痛。大指次指痛不用。氣有餘。則當脈所過者熱腫。虛則寒慄不復。為此諸病。胃足陽明之脈。是動則病洒洒振寒。善呻數欠。顏黑。病至則惡人與火。聞木聲則惕然而驚。心欲動。獨閉戶塞牖而處。甚則欲上高而歌。棄衣而走。賁響腹脹。是為骭厥。是主血所生病者。瘧狂溫淫。汗出鼽衄。口喎唇胗。頸腫喉痹。大腹水腫。膝臏腫痛。循膺乳、氣街、股伏兔、骭外廉、足跗上皆痛。中指不用。氣盛則身以前皆熱。其有餘於胃。則消穀善飢。溺色黃。氣不足。則身以前皆寒慄。胃中寒則脹滿。為此諸病。脾足太陰之脈。是動則病舌本強。食則嘔。胃脘痛。腹脹善噫。得後與氣。則快然如衰。身體皆重。是主脾所生病者。舌本痛。體不能動搖。食不下。煩心。心下急痛。溏瘕泄。水閉。黃疸。不能臥。強立。股膝內腫厥。足大趾不用。為此諸病。心手少陰之脈。是動則病嗌乾。心痛。渴而欲飲。是為臂厥。是主心所生病者。目黃。脅痛。臑臂內後廉痛厥。掌中熱痛。為此諸病。小腸手太陽之脈。是動則病嗌痛。頷腫。不可以顧。肩似拔。臑似折。是主液所生病者。耳聾。目黃。頰腫。頸頷肩臑肘臂外後廉痛。為此諸病。膀胱足太陽之脈。是動則病沖頭痛。目似脫。項如拔。脊痛。腰似折。髀不可以曲。膕如結。踹如裂。是為踝厥。是主筋所生病者。痔瘧狂癲疾。頭囟項痛。目黃淚出。鼽衄。項背腰尻膕踹腳皆痛。小指不用。為此諸病。腎足少陰之脈。是動則病飢不欲食。面如漆柴。咳唾則有血。喝喝而喘。坐而欲起。目䀮䀮如無所見。心如懸若飢狀。氣不足則善恐。心惕惕如人將捕之。是為骨厥。是主腎所生病者。口熱舌乾。咽腫。上氣。嗌乾及痛。煩心。心痛。黃疸。腸澼。脊股內後廉痛。痿厥嗜臥。足下熱而痛。為此諸病。心主手厥陰心包絡之脈。是動則病手心熱。臂肘攣急。腋腫。甚則胸脅支滿。心中憺憺大動。面赤目黃。喜笑不休。是主脈所生病者。煩心。心痛。掌中熱。為此諸病。三焦手少陽之脈。是動則病耳聾。渾渾焞焞。嗌腫喉痹。是主氣所生病者。目銳眥痛。頰腫。耳後肩臑肘臂外皆痛。小指次指不用。為此諸病。膽足少陽之脈。是動則病口苦。善太息。心脅痛不能轉側。甚則面微有塵。體無膏澤。足外反熱。是為陽厥。是主骨所生病者。頭痛頷痛。目銳眥痛。缺盆中腫痛。腋下腫。馬刀俠癭。汗出振寒。瘧。胸脅肋髀膝外至脛絕骨外踝前。及諸節皆痛。小指次指不用。為此諸病。肝足厥陰之脈。是動則病腰痛。不可以俯仰。丈夫㿉疝。婦人少腹腫。甚則嗌乾。面塵脫色。是主肝所生病者。胸滿。嘔逆。飧泄。狐疝。遺溺。閉癃。為此諸病。此皆經脈之病也。經脈十二。外絡形骸。內通臟腑。故其為病。或見於形容。或見於氣色。形容有部。氣色有部。或因形容知其病。或因氣色知其病。是皆主病之謂也。舉痛論曰。五臟六腑。固盡有部。視其五色。黃赤為熱。白為寒。青黑為痛。此所謂視而可見者也。夫明堂四體面貌五官。與夫經絡之所行。形層之所屬。固盡五臟六腑之部也。明察乎是。言病其庶幾乎。</p>

<h2>四時望法相參</h2>
<p>凡觀五色之殊。當審四時之變。經曰。春氣在經脈。夏氣在孫絡。長夏氣在肌肉。秋氣在皮膚。冬氣在骨髓。氣之內外。既因乎時。色之浮沉。當因乎氣。故可以氣之內外。而知其色之浮沉。亦可以色之浮沉。而知其氣之內外。然浮沉若是。而氣色何如。蓋嘗聞之。天有五行。分時化育。以成萬物。春肝木旺。其色當青。若甚而浮清。是謂太過。病在外。微而沉濁。是謂不及。病在內。春以澤為本。春時色青。如以縞裹紺。曰平。青多澤少曰病。但青無澤如草滋曰死。夏心火旺。其色當赤。若甚而浮清。是謂太過。病在外。微而沉濁。是謂不及。病在內。夏以澤為本。夏時色赤。如以縞裹朱。曰平。赤多澤少曰病。但赤無澤。如衃血曰死。長夏脾土旺。其色當黃。若甚而浮清。是謂太過。病在外。微而沉濁。是謂不及。病在內。長夏以澤為本。長夏色黃。如以縞裹栝蔞實。曰平。黃多澤少曰病。但黃無澤如枳實曰死。秋肺金旺。其色當白。若甚而浮清。是謂太過。病在外。微而沉濁。是謂不及。病在內。秋以澤為本。秋時色白。如以縞裹紅。曰平。白多澤少曰病。但白無澤如枯骨曰死。冬腎水旺。其色當黑。若甚而浮清。是謂太過。病在外。微而沉濁。是謂不及。病在內。冬以澤為本。冬時色黑。如以縞裹紫。曰平。黑多澤少曰病。但黑無澤如煤炲曰死。凡此四時之色。得其平則不病。不得其平則病者。亦猶脈之太過實強。病生於外。不及虛微。病生於內也。然當其時而見其色者。常也。非其時而見其色者。變也。變或先時而見。後時而退者。為太過。後時而見。先時而退者。為不及。太過則薄所勝而乘所不勝。其不及則所勝妄行。而所生受病。所不勝薄之也。以生克言之。色生時者為虛邪。時生色者為實邪。色克時者為賊邪。時克色者為微邪。色時相應者為正邪。五色之見。可比例而推也。時日支幹。孤虛旺相。亦可按法而究焉。第病症有三因。氣色有十法。又當參伍以通其變矣。若夫非其時而有其氣。如冬應寒而反溫。夏應熱而反涼。或時已至而氣未至。或氣已至而時未至。或至而太過。或至而不及。氣色與之相應者。順時者也。不相應者。逆時者也。此又四時五色之變。其太過不及。可候氣而參觀也。夫邪氣之客於身也。以勝相加。至其所生而愈。至其所不勝而甚。至於所生而持。自得其位而起。必先定五臟之色脈。乃可言間甚之時。死生之期也。此皆四時之要也。</p>

<h2>四時氣色主病</h2>
<p>既知四時之色。須知四時之病。知四時之病。以察四時之色。夫而後可按四時之色。以言四時之病。其病維何。玉機真藏論曰。春脈如弦。太過則令人善忘。忽忽眩冒而巔疾。其不及則令人胸痛。引背下則兩脅胠滿。夏脈如鉤。太過則令人身熱。而膚痛為浸淫。其不及則令人煩心。上見咳唾。下為氣泄。秋脈如浮。太過則令人逆氣而背痛慍慍然。其不及則令人喘。呼吸少氣而咳。上氣見血。下聞病音。冬脈如營。太過則令人解㑊。脊脈痛而少氣不欲言。其不及。則令人心懸如病飢。䏚中清。脊中痛。少腹滿。小便變。脾脈者。中央土。孤臟以灌四旁者也。太過則令人四肢不舉。其不及則令人九竅不通。名曰重強。此皆四時之病也。然此四時之病。內經以脈言。而吾以色言者何哉。蓋嘗讀內經而有悟於岐黃之言焉。岐伯曰。夫色脈與尺脈之相應也。如桴鼓影響之相應也。不得相失也。色之變化。以應四時之脈。此上帝之所貴。以合於神明也。黃帝曰。吾得脈之大要。天下至數。五色脈變。揆度奇恆。道在於一。由此觀之。四時氣色之生克。亦可以臟腑經脈之病症比例而推矣。何也。五臟之病。四時之色。推之以五行之理。太過則薄所勝。而乘所不勝。其不及則所勝妄行。而所生受病。所不勝薄之也。設或知病而不知診。或知診而不知病。則雖能知診。雖能知病。而究不知診病。即能知診病。而尚不知治病。而況尚不知診。尚不知病耶。嗚呼。靈素之書。若此其詳也。診治之法。若此其備也。然而無有乎爾。則亦無有乎爾。（善忘之忘。宋林億等較正千金素問。皆云當作怒。今考素問氣交變大論。亦作怒。宜從之。）</p>

<h2>晝夜陰晴相參</h2>
<p>既講春夏秋冬之異。須知晝夜陰晴之殊。蓋人在氣交之中。與氣候之相應也。猶影之隨身。猶水之鑑形。夫是故晝為陽。衛氣日行於陽。夜為陰。衛氣夜行於陰。天溫日陽。則人血淖溢而衛氣浮。天寒日陰。則人血凝泣而衛氣沉。血氣營衛之相應如此。則色之相應可徵矣。何者。脈以應月。色以應日。晝則氣行於陽。色之見也。當光輝而外映。夜則氣行於陰。色之見也。當明潤而內含。晴則氣熱。熱則氣淖澤。淖澤則黃赤。陰則氣寒。寒則血凝泣。凝泣則青黑。此皆其應也。色之應乎晝夜陰晴者。常也。不應乎晝夜陰晴者。病也。夫百病多以旦慧、晝安、夕加、夜甚。色當因病之旦慧、晝安、夕加、夜甚也。其或暮輕朝重。夜減晝加。則不在乎衛氣。而獨主乎臟氣矣。是必以臟氣之所不勝時者甚。以其所勝時者起。夫所不勝者。克我者也。所勝者。我克者也。蓋以一日分為四時。以四時分應五臟。肝日甲乙。其時寅卯。心日丙丁。其時巳午。肺日庚辛。其時申酉。腎日壬癸。其時亥子。脾日戊己。其時辰戌丑未。以五臟之日時。合五臟之病色。其生克之理。間甚之候。死生之期。胥於是乎推。亦於是乎斷矣。然而一日之內。一時之間。寒暄不齊。雨暘靡定。則又各有所勝。各有所不勝矣。若夫宮室有冷暖之殊。衣服有寒溫之異。病或因之而重輕。色或因之而損益。雖不當以晝夜論。亦皆可作陰晴觀。觸目關心。存乎人矣。</p>

<h2>五方望法相參</h2>
<p>夫人之有是身也。資始於天。資生於地。稟精氣以成形。藉陰陽而賦命。顧天地有五方之殊。斯氣化有五行之異。風土於焉而變。氣色由是而分矣。經曰。東方之人多青。南方之人多赤。西方之人多白。北方之人多黑。中央之人多黃。此相應之謂也。然相應者色之常。不相應者色之變。或常或變。而無過不及者。平色也。或常或變。而有過不及者。病色也。要之天包地外。地在天中。天氣勝地氣為順。地氣勝天氣為逆。五色之見。或不合乎五方之正色。而合乎四時之平色者。常也。承天而時行地道也。不合乎四時。而與聲音脈症相生者。病之順者也。不合乎四時。而與聲音脈症相剋者。病之逆者也。五色之變。可比例而參觀也。析而言之。一方之間。一邑之內。地形有高下。則風氣有寒溫。地形有燥濕。則風氣有剛柔。風氣既感於中。形色必應於外。是故堅土之人剛。弱土之人柔。壚土之人大。沙土之人細。息土之人美。㘪土之人醜。山林之民毛而方。得木氣多也。川澤之民黑而津。得水氣多也。丘陵之民專而長。得火氣多也。墳衍之民皙而瘠。得金氣多也。原隰之民。豐肉而痹。得土氣多也。望其容貌。瞻其顏色。近者小異。遠者大異。皆可以風氣之寒溫。而知其色脈之常變焉。以色脈之生克。而知其病症之順逆焉。凡四海之大。十室之小。苟有諸中。必形諸外。准其情。察其理。相其勢。度其時。引而伸之。觸類而長之。風土雖變。氣色雖異。豈能外乎五行哉。散之在理。則有萬殊。統之在道。則無二致矣。</p>

<h2>氣質望法相參</h2>
<p>夫色之同於眾人者。氣候之常。而不同於眾人者。賦稟之變。故夫氣質不齊。形色亦異。經曰。木形之人青。土形之人黃。火形之人赤。金形之人白。水形之人黑。蓋其賦稟獨盛。故其氣色獨著也。然五形之人。其臟腑之盛衰。骨節之大小。筋之粗細。肉之堅脆。皮之厚薄。血之清濁。氣之滑澀。脈之長短。血之多少。經絡之數。營衛之度。又各不齊。擴而充之。則人心之不同。如其面焉。豈僅陰陽五人。五五二十五人而已哉。變化蓋無窮矣。是故聖人視其顏色。黃赤者多熱氣。青白者少熱氣。黑色者多血少氣。參之四時。合之五行。可以推其生克。斷其吉凶矣。四診心法云。五臟之色。隨五形發見。百歲不變者。主色也。四時之色。隨四時加臨。推遷不常者。客色也。主色人氣之所生。客色歲氣之所化。歲氣勝人氣為順。人氣勝歲氣為逆。所謂逆者。春當青而反白。秋當白而反赤。夏當赤而反黑。冬當黑而反黃。長夏當黃而反青。可隨時而觀也。夫色之生於心也。體天地。法四時。則陰陽。順人情。豈特一端而已哉。夫各有所當也。</p>

<h2>老少望法相參</h2>
<p>夫色之不能一致者。氣質之變也。而亦有老少之殊。方其少也。血氣盛。肌肉滑。氣道通。營衛之行速。及其老也。血氣衰。肌肉枯。氣道澀。營衛之行遲。夫是故老者之色多憔悴。少者之色多潤澤也。經曰。人生十歲。五臟始定。血氣已通。其氣在下。故好走。二十歲。血氣始盛。肌肉方長。故好趨。三十歲。五臟大定。肌肉堅固。血脈盛滿。故好步。四十歲。五臟六腑十二經脈皆大盛。已平定。腠理始疏。榮華頹落。發頗斑白。平盛不搖。故好坐。五十歲肝氣始衰。肝葉始薄。膽汁始減。目始不明。六十歲。心氣始衰。善憂悲。血氣懈惰。故好臥。七十歲。脾氣虛。皮膚枯。八十歲。肺氣衰。魂魄離。故言善誤。九十歲。腎氣焦。四臟經脈空虛。百歲。五臟皆虛。神氣皆去。形骸獨居而終矣。蓋五十以前。五臟相生而日長。五十而後。五臟相減而日消。此天年之常也。然有年已老而體未衰者。有年方壯而形先槁者。雖強弱之不齊。亦盛衰之各異爾。要之盛於中者。必著於外。衰於裡者。必形於表。故望其形色之盛衰。即可知其臟腑之盛衰。臟腑形色。猶根本之與枝葉也。此老少之同異。可一隅而反三也。</p>

<h2>居養望法相參</h2>
<p>形志苦樂不同。氣體居養各異。老少強弱既講。富貴貧賤須詳。藜藿之家。原難例於肉食。文繡之體。豈可比之布衣。貧賤者。形容枯槁。面貌黧黑。因受酷熱嚴寒之困。富貴者。身體柔脆。肌膚肥白。緣處深閨廣廈之間。此居養之不齊。而氣色所由異者也。或謂富貴多虛。其治宜補。貧賤多實。其治宜攻。殊不知道貴融通。虛實勿拘於黑白。法嫌執滯。補瀉宜察其淺深。況乎勞其筋骨。餓其體膚。貧賤恆多空乏。食必大牢。出必乘車。富貴豈少強盛哉。是故治療之則。必審其因。診視之方。當觀其證。五官面貌。無不變色易容。二便均調。要皆舍標從本。見於面。盎於背。生色根心。察其理。聆其音。誠中形外。用是見微知著。因此識彼。證治本於岐黃。針灸循其規矩。湯遵仲景。博採眾方。藥效神農。參觀本草。此聖人之遺範。實醫士之格言也。</p>

<h2>變色望法相參</h2>
<p>望診之法。有天道之殊。有人事之變。故凡欲知病色。必先知常色。欲知常色。必先知常色之變。欲知常色之變。必先知常色變中之變。何則。飲酒者脈滿絡充。故目紅息粗而色赤。肝浮膽橫。故趾高氣揚而色青。食入於陰。氣長於陽。故飽食者。血華色而益澤。飢則氣衰。甚則氣少。故腹餒者。色澤減而少氣。奔走於風雪中者。寒侵肌表。故色青而閉塞。奔走於暑日中者。熱襲皮膚。故色赤而浮散。房勞者。精氣下泄。故目下色青。用力者。血氣上趨。故面上色赤。久臥傷氣。面則壅滯。未睡傷血。色或浮赤。怒則肝氣逆。故悻悻然目張毛起而面蒼。愧則心氣怯。故赧赧然顏慚汗出而面赤。思則氣結於脾。故瞼定而色黃以澀。喜則氣發於外。故頤解而色紅且散。悲則氣消於內。故五臟皆搖。色澤減而聲噍以殺。憂則氣並於中。故兩眉雙鎖。色沉滯而氣鬱以塞。恐懼者。精神蕩憚而不收。故色脫而面白。驚怖者。血氣分離而乖亂。故氣促而面青。此皆常色變中之變。固可因其氣色未定而知之。然必待其氣色已定而診之。知其常色變中之變。可診其病色變中之變矣。</p>

<h2>望色先知平人</h2>
<p>凡欲知病色。必先知平色。蓋平人之色。不浮不沉。不清不濁。不微不甚。不散不摶。光明潤澤。血華其色也。五臟生成篇曰。生於心。如以縞裹朱。生於肺。如以縞裹紅。生於肝。如以縞裹紺。生於脾。如以縞裹栝蔞實。生於腎。如以縞裹紫。此五臟所生之外榮也。夫縞者。白絹也。絹之白。猶膚之白也。絹之光明潤澤。猶膚之光明潤澤也。光明者。神氣之著。潤澤者。精血之充。其曰朱。謂其色之正赤也。曰紅。謂其白之間赤也。曰紺。謂其青之間赤也。曰栝蔞實。謂其黃之間赤也。曰紫。謂其黑之間赤也。赤者。血色也。縞者。膚色也。其青赤黃白黑雖不同。要皆有血色之赤。以間乎其中焉。膚色之白。以包乎其外焉。惟此硃紅紺紫者。隱於膚之內。而光明潤澤者。顯於膚之外。故曰。如以縞裹。蓋五色之著。欲其間見。不欲其獨呈。欲其合於中。不欲其露於外也。五臟之所生也。四時之所成也。氣血華其色。精神彰於面焉。此所謂平人也。平人者何。無病者也。知其平之為無病。可知其不平之為病矣。</p>

<h2>色以潤澤為本</h2>
<p>蓋聞博以窮理。約以知要。色脈之變。雖有萬殊。理義之旨。初無二致。特不求其本。斯散而無紀矣。何則。靈素論脈。以胃氣為本。望色。以潤澤為本。凡診脈有胃氣者生。無胃氣者死。凡望色潤澤者生。沉夭者死。然則色之潤澤。豈非猶脈之胃氣乎。經言。青如翠羽者生。赤如雞冠者生。黃如蟹腹者生。白如豕膏者生。黑如烏羽者生。此五色之見生也。以其血色雖變。而猶有潤澤也。青如草滋者死。黃如枳實者死。黑如煤炲者死。赤如衃血者死。白如枯骨者死。此五色之見死也。以其血色已變。而更無潤澤也。夫潤澤之有無。猶胃氣之有無也。蓋脈之胃氣。脈之神也。色之潤澤。色之神也。脈貴有神。色亦貴有神也。色脈雖殊。其源無二。實決死生之大要。察病症之先務。因舉一言以蔽之曰。色以潤澤為本。蓋潤澤者。血氣之榮光明者。潤澤之著。有血氣即有潤澤。有潤澤即有光明也。夫光明潤澤者。氣也。青赤黃白黑者。色也。有氣不患無色。有色不可無氣也。合言之。而氣色之見不可離。分論之。而氣色之辨不可混。何也。脈以胃氣為本。色以潤澤為本。法異而理同也。</p>

<h2>五色交錯合參</h2>
<p>竊謂五色交錯。有分見者焉。有間見者焉。生克於是乎推。吉凶以此而斷。所謂分見者。六部之色。彼此不同也。如青赤分見。赤黃分見。黃白分見。白黑分見。黑青分見。此色之相生者也。青黃分見。黃黑分見。黑赤分見。赤白分見。白青分見。此色之相剋者也。所謂間見者。五色之著。彼此相乘也。如青赤間見。赤黃間見黃白間見。白黑間見。黑青間見。此色之相生者也。青黃間見。黃黑間見。黑赤間見。赤白間見。白青間見。此色之相剋者也。凡相生者順。相剋者逆。然皆各有淺深。則亦各有虛實。是必察其澤夭。而後決其成敗。倘色夭不澤。雖相生亦難調治。色澤不夭。雖相剋亦可救療。要在合乎四時。參以十法而明辨之。毋致按圖索驥也可。</p>

<h2>五色十法合參</h2>
<p>望診之法。五色交錯。已述於前。十法合參。當講於後。蓋察其氣色。分其生克。固知其病之順逆。症之從違矣。由是參以浮沉之法。則知其病之表裡。參以清濁之法。則知其病之陰陽。參以微甚之法。則知其病之虛實。參以散摶之法。則知其病之遠近。參以澤夭之法。則知其病之成敗。而又合氣色言之。如色赤者。熱也。赤而微者。虛熱也。赤而甚者。實熱也。微赤而浮者。虛熱在表也。微赤而沉者。虛熱在裡也。甚赤而浮者。實熱在表也。甚赤而沉者。實熱在裡也。若更合清濁而言。則知其病之臟腑矣。合散摶而言。則知其病之輕重矣。合澤夭而言。則知其病之吉凶矣。而凡五官六部。與夫四時五色。皆可錯綜參觀。夫如是。病之傳變。不亦昭然乎。雖然。病情深奧。望法精微。間有隱於此而顯於彼者。其病蓋又有遁情焉。故必參伍於脈症。錯綜於聲音。察之至精。問之至確。然後決其病焉可也。</p>

<h2>五色六部合參</h2>
<p>明堂望法。五色既可互參。六部亦當合論。試舉陰陽相乘之診為例。而凡五色六部。仿此類推。假如上部。陽位也。黑色。陰色也。黑色見於上部。陰乘陽也。下部。陰位也。赤色。陽色也。赤色見於下部。陽乘陰也。陰乘陽位。為陰盛陽虛。陽乘陰位。為陽盛陰虛。若陽色見於陽位。為重陽。陰色見於陰位。為重陰。中藏經曰。熱發於上。陽中之陽邪也。熱發於下。陰中之陽邪也。寒起於上。陽中之陰邪也。寒起於下。陰中之陰邪也。脈經云。陽乘陰者。腰以下至足熱。腰以上寒。梔子豉湯吐以升之。陰氣上爭。心腹滿者死。陰乘陽者。腰以上至頭熱。腰以下寒。桂苓丸利以導之。陽氣上爭。得汗者生。此相乘之旨也。然病有表裡。色有浮沉。病有虛實。色有淺深。又當參伍十法。以通其變焉。舉一反三。庶乎可矣。</p>

<h2>氣色部位合參</h2>
<p>嘗謂診視明堂。察其氣色。分其部位。則臟腑之病著。症候之變明。蓋部位者。體也。氣色者。用也。氣色見於臟部者。病在臟。見於腑部者。病在腑。見於枝節之部者。病在枝節。由是而觀。有相應者焉。有相乘者焉。合五行而推之。變在其中矣。所謂相應者。如青為風。青見肺部者。風中肺也。青見心部者。風中心也。青見脾部者。風中脾也。青見腎部者。風中腎也。氣色部位。皆當相應也。所謂相乘者。如青屬肝。青見肺部者。肝乘肺也。青見心部者。肝乘心也。青見脾部者。肝乘脾也。青見腎部者。肝乘腎也。氣色部位。皆可相乘也。抑又聞之。本部見本色。淺淡為不及。深濃為太過。不得其平。則皆病也。假如鼻者脾之部。黃者脾之色。脾部見黃色。則本經自病。正邪也。若見白色。則子盜母氣。虛邪也。若見赤色。則母助子氣。實邪也。若見青色。則彼能克我。賊邪也。若見黑色。則我能克彼。微邪也。太過者屬乎腑。不及者屬乎臟。臟腑相乘。可由是而推矣。第氣色有散摶。則病症有輕重。氣色有澤夭。則病症有生死。氣色有清濁。則病症有陰陽。浮沉之表裡不同。微甚之虛實亦異。合之四時。參之四診。變在其中矣。吾故曰。察其氣色。分其部位。則臟腑之病著。症候之變明。明堂如此。面貌亦然。面貌如此。五官亦然。後之學者。仿此而推之可也。</p>

<h2>氣色門戶合參</h2>
<p>望色之法。部位既已參觀。門戶亦當合論。蓋明堂察色。以入門戶為凶。所謂門戶者。闕庭肺門戶。目肝門戶。耳腎門戶。口心脾門戶。若有氣色入者皆死。白色見沖眉上。肺有病。入闕庭夏死。黃色見鼻上。脾有病。入口者春死。青色見人中。肝有病。入目者秋死。黑色見顴上。腎有病。入耳者。六日死。赤色見頤上。心有病。入口者冬死。蓋五臟之色。各入本臟門戶。至被克之時。為死期之日也。然必其色沉夭。則可謂云爾。脈經曰。病人首部。耳目口鼻有黑氣起。入於口者。為入門戶。其病主死。是又以黑色為死氣。以口為門戶也。扁鵲華佗察聲色要訣云。肝病皮白。肺之日庚辛死。心病目黑。腎之日壬癸死。脾病唇青。肝之日甲乙死。肺病頰赤目腫。心之日丙丁死。腎病面腫唇黃。脾之日戊己死。又凡病人及健人黑色。若白色起入目及鼻口者。死在三日中。此二節。皆有門戶吉凶之辨。部位生克之分。學者當參之十法。合之四時。庶可知其常變焉。</p>

<h2>色病宜忌合參</h2>
<p>嘗謂色分五行。則有生克。色分陰陽。則有宜忌。蓋陽病而見陽色。陰病而見陰色者。宜也。陽病而見陰色。陰病而見陽色者。忌也。是故邪盛於表。色宜浮清。反見沉濁者。忌也。氣衰於裡。色宜沉濁。反見浮清者。忌也。身熱煩躁。譫語妄言。其色宜赤。反見肢厥面青者。忌也。傷寒發汗。若吐若下。其色宜黃。反見熱盛色赤者。忌也。失血脫津液。色宜黃白。反見面色鮮赤者。忌也。下痢便膿血。色宜黃澀。反見身熱面赤者。忌也。麻痘斑疹。諸痛瘡瘍。色皆宜赤。反見青黑者。忌也。霍亂吐下。諸嘔泄瀉。色皆宜黃。反見青黯者。忌也。由是而推。一病有一病之宜忌。一症有一症之宜忌。凡色病相應者。宜也。相反者。忌也。反之微者。難治。反之甚者。即死。然猶有要焉。則在察其澤夭以知成敗。察其浮沉。以知淺深。察其摶散。以知遠近。視色上下。以知病處。積神於心。以知往今。故經曰。相氣不微。不知是非。屬意弗去。乃知新故。此之謂也。若夫聲音脈息之宜忌。亦可以相應相反。比例而推焉。</p>

<h2>氣色聲音合參</h2>
<p>嘗謂形容氣色脈病聲音。有時相應。有時不相應。非相應者可憑。而不相應者不可憑也。蓋有常焉。有變焉。因常可識其同。因變可知其異。故四診分觀。則各有所當。四診合論。亦皆有可憑。自其同者言之。診不變。治亦不變。自其異者言之。診無常。治亦無常。然而常變不離五行。異同難逾四診。參而伍之。錯而綜之。雖虛實不齊。臟腑相勝。而生克可推。吉凶可斷焉。試先以氣色聲音。合而參之。如肝色青。其聲呼。其音角。心色赤。其聲笑。其音徵。脾色黃。其聲歌。其音宮。肺色白。其聲哭。其音商。腎色黑。其聲呻。其音羽。有是氣色。有是聲音。此為相應。若見其氣色。而不聞其聲音。或聞其聲音。而不見其氣色。則五臟有盛衰。五行有生克矣。假令望見青之氣色。而不聞角之聲音。反得心之聲音者。木生火也。得腎之聲音者。水生木也。此相生之謂也。得脾之聲音者。木剋土也。得肺之聲音者。金剋木也。此相剋之謂也。五色五音。皆可比例以相參也。然氣色有微甚。聲音有盛衰。病症有虛實。又當因診以通其變矣。要之相生者順。相剋者逆。氣色克聲音者。其死速。聲音克氣色者。其死遲。氣色生聲音者。其愈速。聲音生氣色者。其愈遲。聲色相應。而無過不及者。平人也。聲色相應。而有過不及者。病人也。腑病多相生。臟病多相剋。太過者病在腑。不及者病在臟。臟腑相乘。可由是而推也。此氣色聲音合參之旨也。至若病之定名。症之定候。其中又各有形容。各有宜忌。惟精於病症諸書。熟於療治諸法。識其常。通其變。胸有成竹。目無全牛。庶可迎刃而解矣。</p>

<h2>氣色脈象合參</h2>
<p>既講聲音合參之旨。當明脈象合參之診。靈樞曰。色脈形肉。不得相失。色青者其脈弦。赤者其脈鉤。黃者其脈代。白者其脈毛。黑者其脈石。見其色而不得其脈。反得其相勝之脈。則死矣。得其相生之脈。則病已矣。夫所謂相勝相生者。何也。脈勝色。色勝脈。謂之相勝。脈生色。色生脈。謂之相生。五色五脈。合之五行生剋。可類推也。假令色青。其脈當弦。今見青色而不得弦脈。反得毛脈者。脈勝色也。得代脈者。色勝脈也。此相勝之謂也。得石脈者。脈生色也。得鉤脈者。色生脈也。此相生之謂也。脈鑑云。色克脈者其死速。脈克色者其死遲。色生脈者其愈速。脈生色者其愈遲。然以余觀之。五脈有微甚。五色有淺深。五病有虛實。承製之理。由是而窺。剝復之機。由是而測。約而言之。相勝者死。相生者生。相應而無過不及者平。相應而有過不及者病。臟病多相勝。腑病多相生。太過屬乎腑。不及屬乎臟。臟腑相乘。可由是而推也。此皆色脈合參之旨也。</p>

<h2>氣色病症合參</h2>
<p>既講脈象合參之旨。當明病症合參之診。十六難曰。假令得肝脈。其外證善潔。面青善怒。其內證臍左有動氣。按之牢若痛。其病四肢滿閉。淋溲便難。轉筋。有是者肝也。無是者非也。假令得心脈。其外證面赤口乾善笑。其內證臍上有動氣。按之牢若痛。其病煩心。心痛。掌中熱而啘。有是者心也。無是者非也。假令得脾脈。其外證面黃。善噫。善思。善味。其內證當臍上有動氣。按之牢若痛。其病腹脹滿。食不消。體重。節痛。怠惰嗜臥。四肢不收。有是者脾也。無是者非也。假令得肺脈。其外證面白。善嚏。悲愁不樂。欲哭。其內證臍右有動氣。按之牢若痛。其病喘咳。灑淅寒熱。有是者肺也。無是者非也。假令得腎脈。其外證面黑。善恐。善欠。其內證臍下有動氣。按之牢若痛。其病逆氣。小腹急痛。泄如下重。足脛寒而逆。有是者腎也。無是者非也。此皆相參之法也。由是而參之五官。五官其應也。參之五體。五體其應也。參之情志形容。聲音臭味。與夫毛髮皮肉。經絡筋骨。皆其應也。蓋應者常也。不應者變也。知其常變。則知其病症矣。知其病症。則知其生克矣。假如色青而得腎證。水生木也。色青而得心證。木生火也。此相生之謂也。又如色青而得肺證。金剋木也。色青而得脾證。木剋土也。此相剋之謂也。凡相生者順。相剋者逆。色生病者為虛邪。病生色者為實邪。色克病者為賊邪。病克色者為微邪。色病相應者為正邪。太過者病在腑。不及者病在臟。臟腑相乘。可由是而推也。然病症有三因。氣色有十法。又當因診以通其變焉。時日支幹。孤虛旺相。亦可按法而合參矣。由是而參之四時氣候有異也。參之五方風土有殊也。參之氣質強弱不齊也。參之老少盛衰不等也。參之形志苦樂不均也。而況居移氣。養移體。合乎七情六淫以為病。故見於形色。發於聲音。顯於症候。應於脈息者。遂千變萬化。種種不同。夫千變萬化。種種不同。而究不能出乎四診之範圍者何哉。蓋天以陰陽五行。化生萬物。有諸內。必形諸外。隱於此。必顯於彼。月暈而風。礎潤而雨。一本而萬殊。萬殊而一本也。</p>

<h2>推廣望色大意</h2>
<p>竊謂脈之理微。色之理愈微。蓋有可以意會。難以言傳者。然病症不同。氣色當異。苟推而廣之。擴而充之。觸類而長之。則雖難以形容者。亦可以擬議焉。如風色當青。寒色當黑。暑色當赤。濕色當黃。風令脈緩。寒令脈急。暑令脈虛。濕令脈澀。脈緩者。尺之皮膚亦緩。脈急者。尺之皮膚亦急。脈滑者。尺之皮膚亦滑。脈澀者。尺之皮膚亦澀。脈大者。尺之皮膚亦賁而起。脈小者。尺之皮膚亦減而少氣。合色脈皮膚而參觀。則風令脈緩者。當色青而皮膚緩。寒令脈急者。當色黑而皮膚急。暑令脈虛者。當色赤而皮膚減而少氣。濕令脈澀者。當色黃而皮膚澀。夫如是而風寒暑濕之色。難以形容者。不亦心解矣乎。不寧唯是。又如喜則氣散。怒則氣逆。思則氣結。恐則氣下。悲則氣消者。亦可因其氣之變。而擬議之也。何也。喜色油然以出。怒色厲然以侮。欲色嫗然以愉。懼色薄然以下。憂悲之色。瞿然以靜也。色者氣之華。有諸內必形諸外也。更進而推廣之。如經言風寒中於人。使人毫毛畢直。皮膚閉而為熱。夫皮膚既閉。則其面色亦閉矣。此可因經言皮膚閉。而知其面色閉。又可因病人面色閉。而知其皮膚閉。即可因面色閉。皮膚閉。而知其傷於寒也。傷寒一日。太陽受之。太陽主表。其證頭項痛。腰脊強。惡寒無汗。夫惡寒無汗。則其皮膚閉也可知。皮膚閉則其面色閉也又可知。此可因惡寒無汗。而知其面色閉。即可因面色閉而知其惡寒無汗。又可因惡寒無汗而知其頭項痛。腰脊強。即可因頭項痛。腰脊強。惡寒無汗。而知其太陽病。傷於寒矣。傷寒論云。太陽病。或已發熱。或未發熱。必惡寒體痛嘔逆。斯時也。未發熱者。色或慘然而黑。此外寒之色也。已發熱者。色或怫鬱而赤。此表熱之色也。若未得汗。其色當閉。若已得汗。其色當開。若將汗未汗。則色當有閉而欲開之象矣。匪直此也。更可因其赤色之微甚。而知其熱之輕重。因其赤色之浮沉。而知其熱之進退。因其赤色之散摶。而知其病之聚散。因其赤色之澤夭。而知其症之成敗。而凡六部十法。與夫四時五色。莫不可推。傷寒如此。諸病亦然。神而明之。存乎其人。難以筆楮形容矣。</p>

<h2>主病條目大意</h2>
<p>色自內而達外。已言其相應矣。醫從外以知內。當講夫主病焉。夫相應之與主病。其義一也。其義一。其用二。如濕病色黃。疸病色黃。脾病色黃。此內外相應之理也。萬殊之所以一本也。然脾病之黃。不同於疸。疸病之黃。不同於濕。此氣色主病之分也。一本之所以萬殊也。蓋相應者。言其色之同。主病者。辨其氣之異。夫色之同者。擬議非難。而氣之異者。形容不易。故今條目諸篇。惟集古聖先賢所言者。分錄於後。學者不以文害辭。不以辭害意。以意逆志。是為得之。否則如刻舟求劍。膠柱鼓瑟矣。至若病症不齊。氣色各異。可以象求。難以言盡。然能熟其提綱。識其部位。參伍診法。錯綜病情。雖四海之大。百世之遠。萬病之殊。皆可因望而知變。因變而知治。大哉。至哉。範圍天地而不過。曲成萬物而不遺。非岐黃之至聖。其孰能與於斯。</p>

<h2>青色主病條目</h2>
<p>經云。青黑為痛。夫青者。肝膽之色。亦風木之色也。雖為痛為風。宜以部位診法參觀。然後言其寒熱虛實。如鼻頭色青者。腹中痛也。青黑甚者。痛甚為攣也。面青而唇口撮者。疼痛方殷也。鼻頭色青腹中痛。若冷者。死證也。心痛色蒼蒼如死狀。終日不得太息者。肝心痛也。頭痛頰青黃。目眩暈不欲閉。身體沉重。兀兀欲吐者。厥陰太陰為病。痰厥頭痛也。腹痛。尿白。爪甲白。面多青。喜熱飲。或腹滿下利者。寒痛也。腹中作痛。面色乍赤乍青乍白。其痛時作時止。時吐清水者。蟲也。色青。脈至長而左右彈者。有積氣在心下肢胠。名曰肝痹。得之寒濕。與疝同法。腰痛足清。頭痛也。青而閉滯者。痹痛也。環目鼻而青者。筋骨痠痛也。目間青脈見者。膽滯掣痛也。面目青。身痛如被杖。咽喉痛。五日可治。七日不可治者。陰毒之為病也。煩躁如狂。心腹攪痛。頭旋欲吐。面目青黑。四肢冷逆者。中砒霜之毒也。中毒。手足面皆青者。時過救之。恐不及也。眥青者。肝病也。色微蒼。嗌乾。善悲。善怒。時憎女子。多汗惡風。目下色青者。肝風也。風門青者。風病發搐也。乍赤乍青者。瘛瘲也。面青吐沫。卒不知人者。癇也。面青目反視。手足搖者。肝癇也。癇發手足厥冷。偃臥拘急。面青吐沫。聲音微小。脈沉細者。陰癇也。病發似癲癇。面色青黃者。食芹得之。蛟龍病也。色蒼而爪枯者。肝熱也。耳前青者。風也。肝病色青。手足拘急。脅下苦滿。或時眩冒。其脈弦長者。可治之證也。面青心悶亂。吐逆嘔沫。脅痛頭眩重。耳不聞人聲。偏枯筋急。曲拳而臥者。肝風發也。色青蒼白。見於目下。善悲。指爪皆痛。好轉筋者。筋虛傷風。為肝虛風也。善怒嗌乾。咳則脅下痛。不能轉側。腳下滿痛者。筋實傷熱。為肝實風也。面目青黑。卒然喑啞不聲。踞坐不得。四肢緩弱。遺失便利者。肝虛寒。厲風所損也。面青頰赤者。瘧病寒熱也。瘧病色蒼蒼然太息者。肝瘧也。先頭重頰痛。顏青欲嘔身熱。熱爭則腰痛不可以俯仰。腹滿泄。兩頷痛者。脾熱病也。小兒面青肉冷。目陷乾嘔。利下如水者。夏月積冷。暴涼加之。而胃氣虛弱也。小兒夜啼。面色青白。手足俱冷。不欲吮乳。曲腰不伸者。脾寒也。兩頰如青黛者。中惡也。卒然面青氣促者。驚怖也。小兒初生。眉青臉赤口撮者。臍風也。小兒上氣氣逆。面青喘嗽。晝夜不息者。風冷入肺也。面青目瞠者。氣喘也。小兒面色時青時白時赤時黑者。險證也。青遮口角者。必難治也。目下胞青者。胃寒也。青而紫者。惡血也。瘀血上衝。中心悶亂。色青者。死證也。筋痹好悲思。顏色蒼白。四肢痿痹。手足拘攣。伸動縮急。腹中轉痛者。筋虛極也。色青逆噫。喜恍惚失氣。狀似悲泣之後。舌強嚥喉干。寒熱惡風。不可動。不嗜食。苦眩。善妄言者。脈極也。青黑慘暗者。陽氣虛也。青白形瘦如柴者。元氣衰弱也。青或兼白者。陽虛陰勝也。脈澀面色青者。營氣不足也。目下色青者。或多憂驚。或多色欲也。面如塵垢者。少陽病也。咳嗽面青者。肝乘肺也。面青奪色者。久病也。色青脈弦而細。兩脅下痛。邪氣走心下。足脛寒。脅痛引小腹。善轉筋。爪甲枯黑。春瘥秋劇者。肝積之病。男子積疝。女子瘕淋也。婦人面青者。肝強脾弱。或多怒少食。或經脈不調也。妊娠右目下青者。女胎也。妊娠目上青者。生女又產難也。妊娠溝洫青者。雙生也。無病而青色見於天庭者。將病瘟疫也。青如點染者。晦氣時侵也。山根年壽青者。頻逢疾病也。面青多言而熱者。陰中之陽邪也。面青多言而寒者。陰中之陰邪也。面青不言而寒者死。陰之極也。面青目黃者。必難治也。青白色如拇指大。黶點見於顏頰上者肝病。雖少愈。必卒死也。青黑色如拇指大。黶點見於顏頰上者脾病。雖少愈。必卒死也。青色橫於正面者。行屍也。脫色而面蒼蒼然者。陰陽俱脫。表裡相離也。吐瀉目陷。瞼青如磕傷者。土敗木賊也。青色繞耳者。半年損壽也。勞病青色自發際接印堂者。死在六十日也。勞病青色自發際接印堂至鼻者。死在三十日也。勞病青色自發際至鼻及人中者。死在十七日也。滿面色青者。即死也。耳聾百節皆縱。目睘系絕。色先青白。乃死者。少陽終也。痰涎壅極。吞吐不能。呃逆不止。腹脹色青黑者。脾胃氣絕也。眼閉不開。急躁擾亂懊憹。囊縮。色青灰白者。肝臟絕也。面青但欲伏眠。汗出如水不止者。肝絕也。四肢漐習。唇吻反青者。肝絕也。面色青。眼視人不直。數淚出者。肝絕也。真肝脈至。中外急。如循刀刃。責責然。如按琴瑟弦。色青不澤。毛折乃死者。脈無胃氣。金剋木也。脾病色黃體青。夫溲直視。唇反張。爪甲青。飲食吐逆。體重節痛。四肢不舉。其脈當浮大而緩。今反弦急。其色當黃而反青者。此是木剋土。為大逆。十死不治。是皆青色之目也。</p>

<h2>赤色主病條目</h2>
<p>經云。赤為熱。夫赤者。心與包絡小腸之色。亦暑熱之色也。然熱有表裡陰陽虛實之辨。色有浮沉清濁微甚之分。推而言之。則四時六部。亦各不同。如額赤者。上熱也。頤赤者。下熱也。目痛鼻乾面赤者。陽明病也。面赤如醉者。胃熱也。兩頰微赤。環目鼻而青者。惡寒發熱也。面色緣緣正赤者。陽氣怫鬱在表也。頰赤面青者。寒熱往來也。面赤多言而寒者。陽中之陰邪也。面赤多言而熱者。陽中之陽邪也。面赤而光者。上熱下寒也。面赤而鬱者。下熱上寒也。少陰病。不利清穀。手足厥逆。脈微欲絕。身反不惡寒。其人面色赤者。裡寒外熱也。傷寒太陽病。得之八九日。如瘧狀。發熱惡寒。熱多寒少。面色反有熱色者。未欲解也。面赤不退者。邪盛病進也。面赤漸退者。邪解病退也。脈浮而遲。面赤而戰惕者。六七日當汗出而解。反發熱者瘥遲。遲為無陽。不能作汗。其身必癢也。多唾口燥。寸脈沉。尺脈微。手足厥逆。氣從小腹上衝胸咽。手足痹。其面翕熱如醉狀。因復下流陰股。小便難。時覆冒者。當治其氣衝也。陽明病。面合赤色。不可攻之。攻之必發熱。色黃。小便不利也。先不樂數日乃熱。熱爭則卒心痛。煩悶善嘔。頭痛。面赤無汗者。心熱病也。傷寒下利。脈沉而遲。其人面少赤。身有微熱。下利清穀者。必鬱冒汗出而解。所以然者。其面戴陽。下虛故也。腸滿善喘咳。面赤身熱。喉咽中如核狀。右寸陽實者。手陽明大腸熱實也。滿面色紅而氣盛者。實熱也。面色微赤。或隱或見者。虛熱也。頰上赤青唇白者。中風也。面赤目上竄者。風中太陽也。色赤身熱自汗口渴。脈虛者。傷暑也。面赤斑斑如錦紋。咽喉痛。吐膿血。五日可治。七日不可治者。陽毒之為病也。小兒發熱。面赤氣粗。涕淚交流。四末獨冷。鼓慄惡寒者。痘疹也。發熱面赤。眼中含淚。指梢冷者。痘也。頭痛身熱。咳嗽噴嚏。呵欠頓悶。鼻流清涕。面腫腮赤者。疹也。面浮赤。而眼光利射者。狂病也。面赤心下有熱。短氣息微者。心癇也。癇發身熱。自汗。仰臥面赤。牙關緊急。啼叫不已。口吐涎沫。脈象洪數者。陽癇也。癇發。吐吞急叫。面色乍紅乍白。悚惕不安。如人將捕之狀者。驚而致癇也。面翕然赤。漐熱有汗。胸中煩熱。洗洗惡寒。翕翕發熱者。肝中寒也。小兒夜啼。面赤唇紅。身腹俱熱。小便不利而煩躁者。心熱也。鼻紅燥者。脾熱也。兒生頭面肢體赤若塗丹者。胎赤之病也。咳嗽病。面赤咽乾。痰黃氣穢。多帶稠黏。頻頻咳嗽者。熱嗽也。太陽紅黑。面如桃色者。痢疾也。口乾臉赤。五心煩熱。痢不止者。中巴豆之毒也。喜寐不知痛處。面赤如醉。下利膿血。其下部孔稷稷然赤者。䘌瘡也。乍赤乍白乍黑者。狐惑也。顴如塗紅粉者。腰痛也。身熱足寒。頸項強急。惡寒。時頭熱。面赤。獨頭搖。卒口噤。背反張者。有汗不惡寒。為柔痙。無汗反惡寒。為剛痙也。年壽赤光者。多生膿血也。肝與腎脈並至。其色蒼赤者。當病毀傷也。胃脈搏堅而長。其色赤。當病折髀。其耎而散者。當病食痹也。癘風面紫發泡者。病在肝也。年壽目堂赤者。疝氣也。蘭臺庭畔赤如絲者。遺精白濁也。面色唇舌紫黯者。中毒也。顴上起紅點如火者。男痔瘡。女產厄也。妊娠左目下赤者。男胎也。妊娠無病。身更輕健。其性多喜。面色加紅。左脈大者。男胎也。妊娠準頭赤者。必產難也。產後發熱。面正赤。喘而頭痛者。中風也。色赤焦絕。善怒嚇。多汗惡風。甚則言不可快。口色赤者。心風也。面赤翕然而熱。悲傷嗔怒。張目呼喚者。心風發也。脈沉而芤。胸滿悸。腹中熱。上下無常處。面赤咽乾。心煩掌中熱。甚則唾血。身瘛瘲。夏瘥冬劇者。心積之病也。心病色赤。心痛短氣。手掌煩熱。或啼笑罵詈。悲思愁慮。身熱脈實大而數者。可治之證也。色赤而絡脈溢者。心熱也。面若塗朱者。心火也。氣滿胸中。喘息。面赤者。氣海有餘之病也。色赤。脈喘而堅者。有積氣在中。時害於食。名曰心痹。得之外疾。思慮而心虛。故邪從之也。勞倦即頭面赤而下重。心中痛。自煩發熱。當臍跳。其脈弦者。此為心臟受傷所致也。顴赤舌卷短者。心病也。赤甚者。血病也。午後色赤如妝者。血虛也。兩顴深赤者。陰火上乘。虛損勞疾也。兩顴鮮赤。如指如縷者。陰虛也。兩顴鮮赤。或作或止者。戴陽也。兩頰炎赤者。骨蒸勞疰也。赤而索澤者。氣虛也。面赤目白。憂恚思慮。心氣內索。面色反好者。不過十日死也。中風面赤如妝者。不可治也。面赤目白喘氣者。火剋金也。虛極面赤。發喘痰多。身熱趺腫。溏泄。脈緊不食者。死證也。人病面上忽見紅點者。多死證也。呼吸不相通。五色不華者。魂之損也。蘢蔥華色者。魂之至也。耳目顴頰皆赤者。死在五日中也。熱病汗不出。大顴發赤。噦者。死證也。赤色出於顴。大如拇指者。病雖少愈。必卒死。大氣入於臟腑也。肺病赤黑如拇指。點黶見顏頰上者。病雖少愈。必卒死也。神氣脫而昏沉不醒。面赤黑者。心絕也。面赤如脂者。心絕也。面赤黑。汗綴如珠者。心絕也。真心脈至。堅而搏。如循薏苡子。累累然。色赤黑不澤。毛折乃死者。脈無胃氣。水剋火也。肺病身當有熱。咳嗽短氣。唾出膿血。其脈當短澀。今反浮大。其色當白而反赤者。此是火之剋金。為大逆。十死不治。是皆赤色之目也。（稷稷然一作搜搜然）</p>

<h2>黃色主病條目</h2>
<p>經云。黃赤為風。又云。黃赤為熱。夫黃者。脾胃之色。亦濕土之色也。六部十法。咸可交推。五色四時。皆當參究者也。如一身盡疼。發熱。身色如熏黃者。濕家之為病也。面黃發熱。身重體痛者。濕在表也。面黃潤而微者。濕熱也。濕家病。身上疼痛。發熱面黃而喘。頭痛鼻塞而煩。其脈大。自能飲食。腹中和無病。病在頭中寒濕。故鼻塞也。黃而昏滯者。寒濕也。身痛。面色微黃。齒垢黃。爪甲上黃者。黃疸也。黃如梔子者。黃疸也。風濕相搏。食谷即眩。穀氣不消。胃中苦濁。濁氣下流。小便不通。陰被其寒。熱流膀胱。身體盡黃者。谷疸也。黃而昏黑者。女勞酒疸也。目青面黑。心中如啖蒜齏狀。大便正黑。皮膚不仁。其脈浮弱。雖黑微黃者。黑疸也。疸病面紅黃。口渴。尿赤色亮。身熱者。陽黃也。疸病口不渴。面色暗黃。身冷如冰者。陰黃也。疸病面黑黃。作渴腹脹者。難治也。兒生遍體面目皆黃。其色如金者。苔黃也。一身面目黃腫。其脈沉。小便不利者。里水也。唇黃者。脾病也。色萎黃者。脾虛也。鼻端色黃。腠理開。汗大泄。體癢淫淫如鼠走者。肌痹不已。復感於邪。內合於脾也。風氣二池如黃土者。脾傷也。色薄微黃。不嗜食。身體怠惰。四肢不欲動。多汗惡風。鼻上色黃者。脾風也。面黃身體不仁。不能行步。飲食失味。夢寐倒錯。與亡人相隨者。脾風發也。面黃腹大。喜痢者。脾癇也。癇發麵黃腹滿。吐利酸臭。時時發搐者。食癇也。色黃而肉濡動者。脾熱也。面黃目赤。季脅痛滿者。脾熱也。喜欠善嚏。清涕出。發熱色黃者。中寒也。黃而兼白者。脾胃虛寒也。黃而兼青者。脾虛泄瀉也。黃白無澤者。脾肺氣虛也。黃而枯癯者。胃病虛熱也。黃而色淡者。胃病虛寒也。腹脹食少。精神倦怠。面黃肌瘦者。虛脹也。黃而虛腫食少者。虛極也。色蒼黃。腹筋起。腹脹身皆大。大與膚脹等者。鼓脹也。面黃大便黑。喜忘如狂者。內有蓄血也。凡面黃者。知其大便難也。一黃一白如蟹爪路者。食積也。安臥色黃。脈小而澀者。不嗜食也。小兒面黃腫者。積證也。面色青黃。肌肉消瘦。皮毛憔悴。眼睛發䀽。腹堅且大。青筋暴露者。疳病之證也。面色乍黃乍白者。疳積也。面黃羸瘦。毛髮作穗。鼻癢者。腦疳也。脊骨如鋸。拍背如鼓。面黃瘦者。脊疳也。項內有核。便利膿血。羸瘦面黃發熱者。無辜疳也。腹脹筋青。面色萎黃。毛焦骨立。好食泥土。乳食不消。身有瘡疥者。脾疳也。腹大頭細。黃瘦者。丁奚疳也。身瘦面黃。有瘡疥。或瀉青黃白色。或如垢膩如爛泥者。疳瀉也。身熱腹大。昏睡面黃。四肢無力。鼻爛汁臭。齒齦生瘡。或下利黑血者。小兒疳䘌。腹中有蟲也。面目青黃。力乏身痛。唇舌焦乾。眉發脫落。腹中切痛。或如蟲齧。或如蟲行者。蟲疰也。腹中塊起。按之不見。腫聚往來。痛無休止。五更心嘈。牙關強硬。嘔吐涎沫清水。面色青黃。飲食不生肌膚者。蟲證也。眼眶鼻下青黑。面色萎黃。臉有血絲幾條如蟹爪者。亦蟲證也。面黃唇白者。虛寒泄瀉也。色深黃者。傷食吐利也。脈弦浮大而短氣。腹部滿。脅下及心痛。久按之。氣不通。鼻乾。不得汗。嗜臥。一身及面目悉黃。小便難。有潮熱。時時噦。耳前後腫者。陽明中風之證也。面目悉黃。有潮熱者。胃熱也。黃而目窠下微腫者。痰飲也。色黃脈大而虛者。有積氣在腹中。厥疝之證也。色黃而赤。腎脈搏堅而長者。當病折腰。其耎而散者。當病少血。至令不復也。脾脈搏堅而長。其色黃。當病少氣。其耎而散。色不澤者。當病足䯒腫。若水狀也。色黃脈浮大而長。心下累累如桃李。腹滿嘔泄腸鳴。四肢重。足脛腫厥。不能臥者。脾積之證。飢則見。飽則減。䐜氣與谷爭減也。黃而枯燥者。熱傷津液也。黃而昏暗者。津液耗也。天庭黃赤者。上焦熱也。脈微面色黃者。衛氣衰也。寸口脈微而澀。面色青黃。寒慄咳逆唾腥吐涎沫者。營衛俱微也。鼻頭色黃者。胸上有寒也。鼻色慘黃者。脾敗也。鼻尖青黃者。其人必淋也。候其鼻準色黃者。知其小便難也。婦人面色如熏黃者。經脈不調也。肥人脈細色黃者。胸上有寒也。小兒初出腹。面目繞鼻口左右悉黃。閉目而啼。聚口撮面。口中乾燥。四肢不能伸縮者。其血沮敗。肌肉不成。血脈不斂也。黃而膏潤者。膿也。黃而奪色者。久病也。久病色黃能食者。內熱也。傷寒太陽病。汗下後。復加燒針。心下痞。胸煩。面色青黃。膚瞤者難治。色微黃。手尺溫者。易愈也。鼻頭山根亮。目眥黃者。病有起色也。脈和其人大煩。目重瞼內際黃者。病欲解也。久病面轉黃者。病欲愈也。隱隱微黃者。病向愈也。諸病之色。如雲徹散者。病將愈。易治也。兩眥有黃色起者。病方愈也。承漿黃者。不治之病也。口角黃者。脾絕之候也。腎病黃黑色。黶點如拇指應耳者。必卒死也。熱病喘咳唾血。手足腹腫。面黃。振慄不言者。肺先死。魄與皮毛俱去也。面黃目青。手亂者。邪風在胃。木剋土也。面無精光如土色者。脾絕也。面無精光若土色。不受飲食者。四日死也。口目動作。善驚妄言。色黃。其上下經盛不仁者。陽明終也。病者萎黃。燥而不渴。胸中煩實。利不止者。脾胃絕也。真脾脈至。弱而乍疏乍數。色青黃不澤。毛折乃死者。脈無胃氣。木剋土也。腎病手足逆冷。面赤目黃。小便不禁。骨節煩疼。小腹結痛。氣衝於心。其脈當沉細而滑。今反浮大。其色當黑而反黃者。此是土之剋水。為大逆。十死不治。是皆黃色之目也。</p>

<h2>白色主病條目</h2>
<p>經曰。白為寒。又曰。少熱氣。夫曰寒。則知其陽衰矣。曰少熱氣。則知其氣少矣。然白者。肺與大腸之色。亦燥金之色也。雖為寒為虛。當按四時五行辨之。六部十法分之。如面色㿠白者。寒也。面色青白。鼻尖冷。口氣不熱者。亦寒也。面色白甚者。皮不仁也。色皏然白。時咳短氣。多汗惡風者。肺風也。面白。咳逆唾膿血。上氣奄然而極者。肺風發也。色白而毛敗者。肺病也。厥心痛。臥若從心間痛。動作痛益甚。色不變者。肺心痛也。肺病色白。身體大寒無熱。時時咳。其脈微遲者。可治之證也。面白少澤者。氣虛也。面白色枯者。血氣俱虛也。脈形如循絲累累然。其面白脫色者。恐怖也。脈浮而面色乍赤乍白者。愧也。色白夭然不澤。其脈空虛者。血脫也。白而微青。或臂多青脈者。亦血脫也。白而淡黃氣不足者。失血也。鼻頭色白者。亡血也。面白無血色者。衄血也。色白不澤。氣不足者。奪血奪氣。脫津液也。婦人面色黃白如雞皮者。產後奪血也。面無血色。無寒熱。脈沉弦者。衄也。面無血色。無寒熱。脈浮弱。按之絕者。下血也。面無血色。無寒熱。煩咳者。必吐血也。男子面色薄。主渴及亡血。卒喘悸。其脈浮者。裡虛也。㿠白淺淡者。非脫血。即心不生血也。男子脈虛沉弦。無寒熱。短氣裡急。小便不利。面色白。時目瞑兼衄。少腹滿者。此為勞使之然也。男子面無血色。女子月經不通者。心勞也。淫而奪形。身熱。色夭然白。及後下血衃。血衃篤重者。皆逆證也。婦人產難。面無顏色。氣欲絕者。血氣上搶心也。婦人飲食減少。面無光色。腹中冷痛。經候不調。吸吸少氣無力者。勞冷虛損也。崩中面目脫色。唇乾口燥者。虛極乏氣也。色白乾燥不澤。飲食不為肌膚者。脈熱極。血氣脫也。色白。脈喘而浮。上虛下實者。有積氣在中。喘而虛。名曰肺痹。寒熱。得之醉而使內也。飲食不為肌膚。咳脫血。色白不澤。其脈空虛。口唇見赤色者。脈痹不已。復感於邪。內舍於心也。多涕唾而面浮腫氣逆者。咳也。上氣面浮腫息肩者。咳嗽氣逆也。咳嗽病。面色㿠白。痰多清稀。鼻流清涕者。嗽寒也。呼吸張口短氣者。肺痿吐沫也。而以手按之綿耎者。氣虛有痰也。面上有白點者。蟲積也。色白。脈浮而毛。按之辟易。脅下時痛。與背相引。善忘少氣。目瞑。皮寒。皮中時痛時癢。如蝨緣針刺之狀。冬愈夏劇者。肺積之證也。疳勞咳嗽。骨蒸勞熱。盜汗泄瀉。腹硬如石。面色如銀者。不治之證也。癇病面白。色不變者。病在足陽明太陰也。面白少神。手足逆冷者。胃虛泄瀉也。腸鳴腹脹。時復疼痛。所瀉澄澈清冷。面色淡白。四肢逆冷者。中寒泄瀉也。目上色白者。腹疾也。血少面無色。驚悸盜汗夢遺。甚則心痛咽腫者。曲運神機。心之勞也。肺風之症。視目下鼻上。兩邊下行至口。色白者。尚可治。若色黃者。為肺已傷。不可治也。風懿病。眼下及鼻人中左右白者。可治。一黑一赤。吐沫者。不可治也。面白奪色者。久病也。聲嘶色脫者。癰疽之逆證也。色夭面脫者。不治之證也。白髮印堂。黃髮口者。亦不治之證也。病人唇面青黑。及五官起黑色。白如擦殘汗粉之狀者。雖不病。亦主卒死也。五色口邊繞循者。死色也。產婦口邊有白色者。死在五七日也。病人面㿠白。直視息肩者。死在一日中也。小腸病。痛劇有定處。喜仰臥舒足。若呃逆脈亂。四肢逆冷。白瘦無神。忽然痛止者。死徵也。戴眼反折瘛瘲。其色白。絕汗出者。太陽終也。色灰白。大急大喘。氣脫失聲者。肺腎絕也。面白目黑者。肺腎絕也。真肺脈至。大而虛。如以毛羽中人膚。色白赤不澤。毛折乃死者。脈無胃氣。火剋金也。肝病胸滿脅脹。善恚怒叫呼。身體有熱。而復惡寒。面白體滑。其脈當弦強而急。今反短澀。其色當青而反白者。此是金之剋木。為大逆。十死不治。是皆白色之目也。</p>

<h2>黑色主病條目</h2>
<p>經言黑為痛。又言多血少氣。蓋主痛者。言其病。多血少氣者。言其常。且黑者。腎與三焦膀胱之色。亦寒水之色也。雖主痛主寒。當按其部位。審其病情。推之以四時。辨之以十法。如顴與顏黑者。腎病也。色黑齒槁者。腎熱也。黑色淺淡者。腎病水寒也。黑甚者。在脈則麻痹。在筋則拘攣也。色黑脈沉而急。脊與腰相引痛。小腹裡急。咽腫傷爛。口乾。善忘。目䀮䀮。骨中寒者。腎積之證。飢則見。飽則減也。色黑脈堅而大者。有積氣在小腹與陰。腎痹之證也。骨痹不已。色黑耳鳴者。復感於邪。內舍於腎也。面腫垢黑。腰脊痛。不能久立。屈伸不利。發墮齒槁。腰背相引而痛。甚則咳唾者。骨極虛寒也。面龐然浮腫。脊痛不能正立。其色炲。隱曲不利。多汗惡風。肌上色黑者。腎風也。面黑手足不遂。腰痛難以俯仰。骨痹痛者。腎風發也。腎病色黑。其氣虛弱。吸吸少氣。兩耳苦聾。腰痛。時時失精。飲食減少。膝以下清。其脈沉滑而遲者。可治之證也。邪熱傷腎。面黑黃。耳色不應者。亦尚可治也。耳鳴面黑。尿赤陰瘡者。腎勞也。面目乾黑。精神不定。不能獨臥。目視不明。頻頻下淚者。肝勞也。面色黧黑。形瘦耳焦。小便濁而有脂液者。下消也。鼻頭色微黑者。有水氣也。色黑目窠下微腫者。水病也。眼下如煙煤者。痰飲也。面色黧黑。其人喘滿。心下痞堅。脈沉緊者。膈間有支飲也。面色慘然青黑者。中寒也。身冷反躁。欲投井中。唇青面黑。渴欲飲水。水入則吐。大便自利。脈或伏。或沉細而疾者。傷寒陰盛格陽也。紫濁者。時疫也。慘黑帶紫者。邪氣盛也。鼻孔乾燥。黑如煙煤者。陽毒熱深也。鼻出冷氣。滑而黑者。陰毒冷極也。陰毒身重背強。腹中絞痛。咽喉不利。心下堅強。氣不得息。嘔逆。唇青面黑。四肢厥冷。其脈沉細緊數。身如被打者。毒氣攻心。五六日可治。七日不可治也。黑滯而驚恐不寐者。客邪為害也。黑如煙煤者。中惡腹痛也。耳前黑者。疝痛也。唇舌面色皆紫黯青腫者。中毒也。癇發麵黑。直視不搖。如屍狀者。腎癇也。血脈不榮。顏色憔悴者。心之經病也。面見青黑斑點者。神氣衰也。形枯色灰者。表虛也。身瘦面晦暗如鉛色。吐出瘀血色黑。胃脘痛。按之更痛而堅。如咬如焚。食時則痛。食後痛止者。癰在上口。若食時不痛。食後則痛者。癰在下口也。面黑顏黑者。胃病也。小腹滿。額上黑。足下熱者。黑疸也。額上黑。微汗出。手足中熱。薄暮即發。膀胱急。小便自利者。名曰女勞疸。若腹如水狀。則不治也。額上昏黑麵黃者。亦女勞疸也。陰黃面色黧黑。冷汗漐漐者。死證也。陽黃黃如煙燻。目暗。唇清者。死證也。凡黃家。寸口近掌無脈。口鼻冷黑者。皆不可治也。蒼黑而枯槁者。血涸也。血凝目下。狀如豚肝者。寒厥相遂。為熱所壅也。婦人羸瘦弱甚。肢體煩痛。面目瘀黑。憂恚不樂者。久虛不能食。冷結臍下也。面枯槁而略帶黑者。血質有壞而然也。妊娠色暗不開。忽爾明者。欲產也。乍暗乍明者。產難也。婦人眼眶灰黑者。崩中帶下也。婦人面黑無顏色。皮肉相連。月經失度。小腹弦急或絞痛至心。兩脅腫脹。食不生肌膚者。當病崩中漏下。且腐臭也。腰痛而面色忽紅忽黑者。心腎交爭。難治之證也。病人卒腫。其面蒼黑者。死證也。面青黑暗。瀉血者。死證也。病人面黑。兩脅下滿。不能自轉側者。死證也。腳氣衝心。目額皆黑。恍惚譫妄者。水剋火。命難全也。腰腳腫。小便不通。氣上喘急。目額皆黑。左尺脈絕者。腳氣入腎之死證也。真心痛。面黑四肢厥冷者。旦發夕死。夕發旦死也。臍下忽大痛。人中黑者。死色也。破傷風。頭面青黑。眼小目瞪。身汗如油者。邪入於臟。難治之證也。吐瀉之後。四肢逆冷。面黑氣喘。冷汗自出。外腎搐縮。不省人事者。元氣不接。脫陽之證也。面黑直視惡風者。死證也。色澤去。面黑如黧者。手少陰氣絕。血先死也。髦色不澤。面黑如漆柴者。手少陰氣絕。血先死也。脈不通。血不流。發不澤。面黑如漆葉者。血先死。手少陰氣絕也。赤黑色。黯點見顏上。若度年上者。心病少愈。必卒死也。黑色出於庭。大如拇指者。必不病而卒死也。色枯黑。語聲不轉者。心先死。若天中等分。墓色應之。即死不治也。病人黑氣出於天中。下至年上顴上者。死色也。病人黑色出於額上。髮際下直鼻脊。及兩顴上者。死在五日中也。面黑目白者。腎氣內傷也。面黑目青者。腎氣內傷。病因留積。八日當亡也。黑色橫目三陽者。死在半年間也。面目帶黃黑。連耳左右者。年四旬以上。百日死也。額上黑如霧者。死在百日內也。臉上黑如霧者。死在七日內也。人中口吻黑繞者。脾腎絕。七日死也。印堂黑暗。耳門黑氣入口者。不治之證也。氣黑暗於耳前者。亦不治也。黑掩太陽者。盧醫莫救也。黑如濕灰者。扁鵲不治也。氣色搏聚凝滯者。病將進。難治也。平人眼下青黑。面色如灰塵者。必病也。眼角或青或黑者。主大病也。氣如煙霧者。病欲纏身也。黑滯漸退者。病欲退也。病愈而面色如煤不開者。終不吉也。面黑齒長而垢。腹脹閉。上下不通者。少陰終也。齒為暴枯。面為正黑。目中黃。腰欲折。自汗出如流水者。腎絕之證。四日死也。腹脹閉。不得息。善噫善嘔。嘔則逆。逆則面赤。不逆則上下不通。面黑皮毛焦者。太陰終也。病人及健人。面忽如馬肝色。望之如青。近之如黑者。肝腎絕也。形體如煙燻。直視搖頭者。心絕也。鼻如煙煤者。肺絕也。鼻孔黑燥無涕者。肺絕也。環口黧黑者。腎絕也。環口黧黑。柔汗發黃者。脾絕也。耳輪焦黑者。腎絕也。真腎脈至。搏而絕。如指彈石。辟辟然。色黑黃不澤。毛折乃死者。脈無胃氣。土剋水也。心病煩悶。少氣火熱。熱上撞心。嘔咳吐逆。狂語。汗出如珠。身體厥冷。其脈當浮。今反沉濡而滑。其色當赤。而復黑者。此是水之剋火。為大逆。十死不治。是皆黑色之目也。（漆柴之柴。千金作葉。齒長而垢之垢。千金作枯。宜從之。）</p>

<h2>主病條目附識</h2>
<p>嘗謂氣色之於症候也。有有定者。有無定者。主病條目。有定之言也。診法提綱。無定之論也。知主病之有定。而不通乎法。其失也膠。知診法之無定。而不究其病。其失也泛。且主病之言雖有定。而合之於法則無定。診法之論雖無定。而合之於病則有定。病同者。其法同。病異者。其法異。法者有物有則。無體無方。有定而無定。無定而有定者也。是故以千變萬化之法。察千變萬化之病。病無定。法亦無定。以千變萬化之法。察千變萬化之證。證有定。法亦有定。夫千變萬化之病。形於外者。固有無定之證。而千變萬化之證。由於中者。實有有定之義。故以病為有定。而病則因人而無定。以病為無定。而病則因證而有定。證也者。病之著於形色。發於聲音。顯於症候。應於脈息者也。證定焉。法斯定矣。後之學者。勿執有定之條目。以測無定之病情。當知無定之病情。必見有定之氣色。斯有病即有證。有證即有定矣。由是化而裁之。推而行之。則夫主病之條目。增之可也。刪之可也。因而損益之。亦無不可也。雖然。病之有色。病之已形者也。色之有象。色之已見者也。已形已見者。可以言定。未形未見者。不可以言定。況有已定而難於形容。未定而難於擬議者。是以提綱易詳。而條目難盡也。高明之家。讀書而精究其意義。臨症而熟察其情形。其所得於觀感之間。語言之外者。抑又深於此矣。神而明之。存乎其人。</p>
<p>余著是書。上卷推而言之。故不厭其詳。下卷約而言之。故不嫌其簡。然詳者當約之以求簡。簡者當推之以求詳。若讀一句只一句。讀一篇只一篇。則詳者近穿鑿。簡者近缺略矣。其自五官以下。條目亦從簡者。蓋提綱已挈其要領。而條目之見於古書者。皆醫所必讀。醫所必閱。缺之於此。欲其求之於彼也。至若所引聖經賢傳。或斷章取義。或互文見意。以為辭不顛倒。則義有不顯。理不合參。則意有不達。原欲人因是明經。非欲人以是荒經。譬之作文題目。拆開意義自見。不比註解經傳。句不可移。字不可減。且經傳具在。或不以是為罪乎。</p>

<h1>卷下</h1>

<h2>目分臟腑部位</h2>
<p>凡觀氣色。當視精明。精明者目也。五臟六腑之精也。營衛魂魄之所常營。神氣之所生也。心之使也。肝之官也。宗脈之所聚也。陰陽之所會也。氣之清明者也。靈樞曰。五臟六腑之精氣。皆上注於目而為之精。精之窠為眼。骨之精為瞳子。筋之精為黑眼。血之精為絡。其窠氣之精為白眼。肌肉之精為約束。裹擷筋骨血氣之精。而與脈併為系。上屬於腦。後出於項中。夫筋骨血氣肌肉者。五臟之所屬也。是故以眼分五臟。血絡屬心。黑珠屬肝。白珠屬肺。瞳子屬腎。約束屬脾。赤脈從上下者。太陽病。從下上者。陽明病。從外走內者。少陽病。從內眥始者。陽蹺病。瞳子黑眼。法於陰。白眼赤脈。法於陽。陰陽合傳而精明也。此臟腑之部。陰陽之分也。由是而觀。有形焉。有容焉。有氣焉。有色焉。分而論之。所以明其理。合而診之。所以通其變。形也。容也。氣也。色也。無往而非臟腑之徵。亦無往而非陰陽之理也。臟腑陰陽。形容氣色。有諸中。形諸外。要皆以神為本也。寤則神棲於目。寐則神處於心。神也者。視瞻平正。黑白分明。容色精爽。光彩清瑩。朗朗然。不可須臾離也。神之昭著於目者蓋如此。至若目之五輪。睛之八廓。名雖附於羲黃。實則乖夫體用。殊不知眼科診目之法。當遵聖人診目之法。若附會聖人之法以立法。則附會聖人之法即非法。然則求眼科之法者。其知所以法乎。</p>

<h2>眼目形容提綱</h2>
<p>診目形容之法。相士觀人賢否。宜識其常。醫家論病吉凶。當明其變。用是考古參今。刪繁就簡。約而言之。其大綱有四。以形象察氣質。以開闔分陰陽。以目瞼辨虛實。以眼珠決死生。四者既明。而合之氣色。參之病情。庶乎其可見矣。以形象言之。目者。肝之外候也。目大者肝大。目小者肝小。目深者肝堅。目露者肝脆。目高者肝高。目下者肝下。目偏傾者肝偏傾。目端正者肝端正。此形象之變。氣質之常也。以開闔言之。瞋目者。陽證也。瞑目者。陰證也。目不合者。氣留於陽。目不開者。氣留於陰。目綱筋急而不合者。太陽陽明之筋寒。目綱筋縱而不開者。太陽陽明之筋熱。目圓者陽氣絕。目小者陰氣亡。口眼喎斜者。陽明中風。口目動作者。陽明將絕。昏睡露睛者。陰陽俱不足也。此開闔之變。陰陽之分也。以目瞼言之。上瞼屬脾。下瞼屬胃。瞼動遲者脾動遲。瞼動速者脾動速。上瞼氣壅者。脾衰於內。下瞼微腫者。水聚於中。目胞腫痛者邪氣實。目眶陷下者正氣虛。此目瞼之變。虛實之辨也。以眼珠言之。目腫脹者為實。目陷下者為虛。上視者太陽不足。下視者宗氣虧虛。斜視者。少陽已絕。直視者。少陰已終。目轉目運者。陰經之絕證。目睘戴眼者。陽經之死候也。此眼珠之變。死生之異也。蓋察目之形容者。所以辨其臟腑經絡也。觀目之氣色者。所以辨其寒熱虛實也。合形容氣色以觀之。參聲音脈症以辨之。分其臟腑經絡。以審其寒熱虛實。庶乎知病之所。而無泛治之虞。不則寒熱虛實雖明。而臟腑經絡未達。其猶風馬牛不相及歟。</p>

<h2>眼目氣色提綱</h2>
<p>凡診眼目。既察形容。當觀氣色。夫目者心之符。肝之竅。五臟六腑之精氣也。華色者。其榮也。論疾診尺篇曰。目赤色。病在心。白在肺。青在肝。黃在脾。黑在腎。黃色不可名者。病在胸中。此以目色分五臟也。由是而觀。有明暗之辨焉。有清濁之分焉。有淺深之異焉。明則神氣充足。暗則神氣虧虛。清者病在陽。濁者病在陰。淺深者。言乎其虛實也。合而論之。則深而清明者為太過。淺而濁暗者為不及。太過者病在外。不及者病在內。察其氣色而言臟腑。察其臟腑而言病症。明暗者言其光彩。清濁者論其氣色。氣色淡者謂之淺。氣色濃者謂之深也。以寒熱言之。黃赤者多熱氣。青白者少熱氣。以證候言之。黃赤為風。青黑為痛。白為寒。其聲色臭味情志變動。與夫部位之生克。色病之從違。皆可以面部相應之法。比例而推也。然面目相應者。固可同斷。面目不應者。亦可合觀。蓋應者其常。不應者其變。知其所以變。則知其所以病矣。經曰。精明五色者。氣之華也。赤欲如帛裹朱。不欲如赭。白欲如鵝羽。不欲如鹽。青欲如蒼璧之澤。不欲如藍。黃欲如羅裹雄黃。不欲如黃土。黑欲如重漆色。不欲如地蒼。由此觀之。則目色之欲清明。不欲濁暗。益可見矣。夫清明者。神之著。靈動者。神之用。得神則生。失神則死。神也者。心之精爽也。左傳云。心之精爽。是謂魂魄。魂魄去之。何以能久。其是之謂乎。（地蒼。朝鮮本作地炭。見東醫寶鑑。）</p>

<h2>瞼色望法提綱</h2>
<p>既述瞼之形容。當觀瞼之氣色。夫瞼者。眼弦也。上為陽。下為陰。左為陽。右為陰。小眥在外為陽。大眥在內為陰。察其色之所見。以言其病之所在。脾胃之候也。脈經云。脾之候在瞼。以氣色言之。青屬木。赤屬火。黃屬土。白屬金。黑屬水。此臟腑五行之分也。察其澤夭。以知成敗。察其浮沉。以知淺深。察其清濁。以知陰陽。察其微甚。以知虛實。察其散摶。以知遠近。浮清為外。沉濁為內。視氣色而言臟腑。審臟腑而言病症。參之以五色相應之理。其常變可推也。參之以五行生剋之理。其順逆可推也。合氣色部位而參之。其相乘之理。又可推也。黃赤為風。青黑為痛。白為寒。皆可比例以相參也。析而觀之。合而斷之。變化無窮矣。聖人之法。所操者約。所及者廣。五官氣色。皆當作如是觀也。然經言五色決於明堂。又當參伍以通其變焉。合四診而察之。庶乎其可矣。</p>

<h2>面目望法相參</h2>
<p>察目之法。形色既可參觀。面目亦當合論。經曰。凡相五色之奇脈。面黃目赤。面黃目青。面黃目白。面黃目黑者。皆不死也。面青目赤。面赤目白。面青目黑。面黑目白者。皆死也。蓋不死者。以其有黃色也。死者。以其面無黃色。目亦無黃色也。夫黃者。土色也。猶脈之胃氣也。故凡病人。準頭印堂年壽及目瞼。有黃氣明潤者。皆為欲愈之候。扁鵲華佗察聲色秘訣云。病人面目俱等者不死。病人面黃目青者不死。青如草滋死。病人面黃目赤者不死。赤如衃血死。病人面黃目白者不死。白如枯骨死。病人面黃目黑者不死。黑如炲死。病人面黑目青者不死。病人面青目白者死。病人面黑目白者不死。病人面白目黑者死。病人面青目黃者五日死。病人面赤目青者六日死。病人面黑目白者。八日死。病人面黃目青者。九日死。病人面赤目白者十日死。此皆相參之法也。詳求扁鵲華佗所謂生死者。面目以貴明潤而忌枯槁也。其與內經有異同者。當以是貫通之。（秘訣面目之色。傳寫多誤。今從宋元校正王氏脈經。）</p>

<h2>眼目形容條目</h2>
<p>凡察目之形容。前已述其提綱。今當集其條目。如開目喜見人者。屬陽。閉目不欲見人者屬陰。瞋目者陽氣盛。瞑目者陰氣衰。目瞑不得臥者。衛氣留於陽。不得入於陰。目閉不得視者。衛氣留於陰。不得行於陽。陽病瞋目而動者輕。陰病閉目而靜者重。閉目而渴。心下牢者。脈當得緊實而數。而反得沉濡而微者死也。閉目不欲見人者。脈當得弦急而長。而反得浮澀而短者死也。目瞑耳聾。上虛下實者。過在足少陽厥陰也。強上瞑視。唾出若涕。惡風而振寒者。勞風也。目不合。卒口僻者。足陽明之筋急也。目不開。卒口僻者。足陽明之筋縱也。翕翕發熱。形如醉人。腹中煩重。皮目瞤瞤而短氣者。脾中風也。眼皮垂下。而不能展上者。因於風濕。將有半身不遂之患也。眼畏光不能開者。眼內發熱也。中風。閤眼鼻鼾者。不治之證也。目閉而青。時小驚者。癇候也。太陽病。脈浮緊。無汗發熱。身疼痛。八九日不解。發煩目瞑。劇者必衄。衄乃解也。視而時瞑。非開目者。衄之常候也。脈浮大上關上。但欲眠睡。目合則汗者。三陽合病也。脈微細。但欲寐者。少陰病也。熱病身重。骨痛耳聾。而好瞑者。病在骨也。目不合者。目氣不營。陰蹺病也。目瞑直視。毛焦面黑者。陰氣絕也。目澀欲睡者。肝絕也。厥不知人。目合。爪甲青者。肝絕也。目正圓者。痙病之死證也。目正圓。手撒。戴眼者。太陽絕也。病癰疽。眼小。白珠青黑者。逆證也。昏睡露睛者。脾胃虛極也。口眼喎斜者。風中經絡也。瞼澀嗜臥者。脾病也。瞼浮腫者。脾虛不健運也。上瞼腫者。脾氣熱也。目下腫者。水在腹也。目下有臥蠶。面目鮮澤。脈伏。消渴者。病水也。目窠下微腫。如新臥起之狀。頸脈動。時咳者。風水也。面目腫大。有熱者。風水也。諸有水者。微腫先見於目下也。眼胞腫。十指頭微腫者。久咳也。眼胞忽陷者。五臟絕也。目眶陷者。陰陽竭絕也。目眶陷。視不見人。真臟脈見。頃刻而死。若能見人者。至所不勝之日時而死也。眼眶爛者。風也。嬰兒目胞邊赤爛痛癢難睜者。胎中蘊熱。生後上攻也。眥瘍者。燥火流行而目病也。目赤腫痛者。歲火盛行而目病也。目生翳膜胬肉者。外障也。黑珠脹起者。肝氣鬱滯也。疳病白膜遮睛。或瀉血黃瘦者。肝疳也。目腫。腹脹瀉利青白者。疳在內也。眼珠脫出。或不動。或脫落者。風毒也。癘風目先損者。病在心也。目如脫。喘咳上氣者。肺脹也。目如脫狀。虛而滿喘。咳逆倚息。其脈浮大者。亦肺脹之證也。吐瀉。目陷瞼青者。土敗木賊也。目內陷者。死證也。先不樂。頭重痛。視舉目赤煩心者。癲疾始生也。目不明。上視喜陽者。癇證也。喜反目上視者。亦癇證也。目反。四肢不舉者。膈癇也。上視者。太陽不足也。戴眼瘛瘲。色白絕汗出者。太陽終也。戴眼足不可屈伸者。足太陽氣絕也。頭傾視深者。精神將奪也。平人忽然眼垂下視者。壽不永也。視下言徐者。無守氣也。目眶陷。目系傾。汗出如珠者。陽絕也。病人目系傾者。七日死也。身熱目時直視。或視不精者。癇候也。瞳子卒大。黑如常者。亦癇候也。目正直視。腹大者。牛癇也。病肺瘧。其人語聲本雄烈。忽爾不亮。拖氣用力。方得出言。呼與語。直視不應者。此肺病聲音之候。勢不久也。目精脫。恍惚者。陰結陽絕之死證也。熱病瞳子青小。爪枯發墮身澀。齒挺而垢。面厚塵黑。咳而吐血。渴欲數飲。且大滿者。五臟絕也。息肩回視。目亭亭者。二日死也。直視不回。息肩者。一日死也。兩目回回直視。息肩者。心絕。一日死也。息肩回視。心絕者。立死也。直視搖頭者。心絕也。陽反獨留。形體如煙燻。直視搖頭者。心絕也。狂言。目反直視。溲便遺失者。腎絕也。直視譫語喘滿者死。下利者亦死也。目多直視。視不轉睛者。五臟俱絕也。睛定不轉者。神亡之候也。傷寒吐下後不解。不大便五六日。至十餘日。日晡所發潮熱惡寒。獨語如見鬼狀。若劇者。發則不識人。循衣摸床。惕而不安。微喘直視。脈弦者生。澀者死。微者。但發熱譫語者。有燥屎也。額上陷。脈緊急。汗出。直視不能眴。不得眠者。衄家亡血。復發汗。陰陽俱虛也。目眩轉者。邪入於腦。目系急也。目矇眩轉者。三陰絕。志先死也。目運者。目系轉。志先死。五陰氣俱絕也。口目動作。善驚妄言。色黃。其上下經盛不仁者。陽明終也。耳聾百節皆縱。目睘系絕者。少陽終也。瞳子高者。太陽不足。戴眼者。太陽已絕。此決死生之要也。至若悲哀動中而泣出者。五臟皆搖也。泣出不止者。液道開也。見風泣下者。風中目也。瘦人泣出者。風中陽明也。喘咳寒熱。背痛腰疼。目泣自出者。膈上痰滿也。目赤熱痛者。流淚則輕。成膿則重也。目視而不見人。泣出如水不止者。肝絕也。初生赤子。泣而無淚者。死證也。若夫瞳仁。處暗則大。處明則小者。是隔簾舒縮之常。非疾病之變也。其或處暗不大。處明不小。則精神亦病焉。可比例交參也。此眥目之形容也。</p>

<h2>眼目氣色條目</h2>
<p>既述目色之提綱。當集目色之條目。謹按金匱要略云。目色青為痛。色黑為勞。色赤為風。色黃者便難。色鮮明者有留飲。此固目色之要略也。然析而論之。又各不同。如白珠色赤者風也。目赤從內眥始者。陰陽二蹺之病也。目色淡紅者。虛熱也。傷寒厥逆。目脈赤。睛不慧者。熱多厥少也。面赤目脈赤。獨頭搖。卒口噤。背反張者。痙也。少陽中風。兩耳無所聞。目赤。胸中滿而煩者。不可吐下。則悸而驚也。病者脈數無熱。汗出微煩。默默但欲臥。初得之三四日。目赤如鳩眼。七八日四眥黑。若能食者。內癰之膿已成也。眼如醉眼而含淚。發熱腮赤。指梢冷者。痘疹也。傷寒目眥紅者。將發疹瘍之兆也。疳病上攻於眼。時癢赤爛。眼胞腫疼。白睛起膜。大時流淚。閉目羞明者。眼疳也。白珠色鮮明者。有留飲也。眼白失色者。膽蒸也。目色及目眥胬肉。爪甲俱白者。血虧也。目下有臥蠶。面目鮮澤。脈伏者。病水而消渴也。面赤目白者。憂恚思慮。心氣內索也。面黑目白者。腎氣內傷。病因留積也。肝先病。目則為之無色。肝前死。目則為之脫精者。神氣先衰也。白珠色青者痛也。面目青。身痛如被杖。咽喉痛者。陰毒也。面黃目青者。風入胃。膽氣泄也。面目爪甲皆青。眼生眵淚。搖頭揉目。眼澀難睜。腹大筋青。羸瘦煩渴。糞青如苔者。肝疳也。白珠色黃者。小便難也。面赤目黃者。心主所生病也。目黃善笑者。心所生病也。肥人目黃者。風熱在陽明也。傷寒發汗已。身目為黃者。寒濕在裡不解也。尺脈浮。目睛暈黃者。衄未止也。目暈黃。去而慧了者。知衄今止也。外感目色若赤若黃者。邪已傳裡也。白睛淡黃者。脾虛泄利也。目黃如金者。將發黃也。目黃且濁如煙燻者。黃疸濕甚也。目老黃色者。濕熱也。黃如橘明者。黃疸濕熱也。面黃、目黃、溺黃、齒垢黃、爪甲上黃者。黃疸也。目黃白目胞腫者。谷疸也。目淡黃色者。積聚也。目黃青紫脈芤者。瘀血在胸中也。婦人眉低眼皺。目色微黃。其脈陰搏陽別者。妊子也。病人目黃而大煩。脈不和者。其病為進。以其邪勝也。黑珠純是黃色者。凶證也。白珠色黑者。勞也。五勞虛極羸瘦。腹滿不能飲食。肌膚甲錯。兩目黯黑者。內有乾血也。目黑頰赤者。痰也。目黑麵黃者。四肢痿痹也。面白目黑者。榮華已去。血脈空索也。瞳子內不見黑瑩。或紅紫。或青白者。血貫瞳仁。目病而人不久也。瞳仁變綠者。綠水灌瞳仁。難治之症也。瞳黃唇白。面紅中有青點者。中風之先兆也。瞳仁或微黃。或淡白者。腎虛也。瞳仁或散大。或集小者。皆腎虛也。瞳仁散大。左右不均者。中風極險之證也。病者瞳仁漸散漸大。不能舒縮。視一物見兩形。手足搖顫。面色青白。身出冷汗。二便遺泄。不省人事者。死證也。瞳仁無光彩。發黃者。腎氣不足也。晚視不見。瞳子如金色者。名曰黃風。不治之證也。瞳仁黑減。或停滯不活者。目將壞也。目無精光。牙齒黑者。瘰癧不治之候也。目無精華者。腎精枯涸也。羸瘦氣少無力。身無膏澤。眼無精光。立不能定。身體苦癢者。精極也。眼目青盲者。精不灌目也。目無神者。壽促之徵也。目無光者。命絕之候也。目光晦暗者。此為神短。病死之候也。目光清瑩。了了分明者。此為神足。不病之候也。若夫寒熱瘰癧。反其目視之。中有赤脈。上下貫瞳子。見一脈。一歲死。見一脈半。一歲半死。見二脈。二歲死。見二脈半。二歲半死。見三脈。三歲死。其赤脈不下貫瞳子者。可治也。此皆目之氣色也。</p>

<h2>望舌診法提綱</h2>
<p>蓋聞道原於天。而具於心。心者生之本。形之君。至虛至靈。具眾理而應萬事者也。其竅開於舌。其經通於舌。舌者心之外候也。是以望舌。而可測其臟腑經絡寒熱虛實也。約而言之。大綱有五。一曰形容。二曰氣色。三曰苔垢。四曰津液。五曰部位。五者分論。則其體明。五者合觀。則其用達矣。由是察其形容。舌常有刺也。無刺者。氣衰也。刺大刺多者。邪氣實。刺微刺少者。正氣虛。舌常無紋也。有紋者。血衰也。紋少紋淺者。衰之微。紋多紋深者。衰之甚。舌腫者。病在血。舌痿者。病在肉。舌偏斜者。病在經。舌缺陷者。病在臟。舌戰動者。病在脾。舌縱舌縮者。病在心。舌裂舌爛者。病在脈。舌捲舌短者。心肝之證候。舌強舌硬者。心脾之病形。弄舌者。太陰之形症。齧舌者。少陰之氣逆。諸太過者病在外。諸不及者病在內。此皆形容之目也。由是觀其氣色。舌赤者。心之正色也。深赤者為太過。淡紅者為不及。深而紫者。血分熱。淡而白者。氣分寒。深青者。瘀血疼痛。淡黑者。氣血虛寒。深赤而黑者。熱極。淡白而青者。寒深。諸色淺者正虛。諸色深者邪實。明潤而有血色者生。枯暗而無血色者死。此皆氣色之目也。由是視其苔垢。舌常有苔也。無苔者虛也。苔垢薄者。形氣不足。苔垢厚者。病氣有餘。白苔者病在表。黃苔者病在裡。灰黑苔者。病在少陰。苔色由白而黃。由黃而黑者。病日進。苔色由黑而黃。由黃而白者。病日退。此皆苔垢之目也。由是審其津液。滋潤者其常。滑澀者其變。滑為寒。寒有上下內外之辨。澀為熱。熱有表裡虛實之分。此皆津液之目也。由是分其部位。手少陰通舌本。足少陰挾舌本。足厥陰絡舌本。足太陰連舌本。散舌下。舌本在下。舌尖在上。舌中為內。舌邊為外。左病者應在左。右病者應在右。而凡形容之變。氣色之殊。與夫苔垢之分。津液之辨。皆可以是推之。此部位之目也。夫然後舉夫五者之大綱。以參究五者之細目以合觀。化而裁之。推而行之。其理無窮。其用不盡矣。雖然五者之用。固在通變。而五者之變。又在求神。神也者。靈動精爽。紅活鮮明。得之則生。失之則死。變化不可離。斯須不可去者也。是又五法之本也。他如諸書之條目。選錄於後篇。學者合五法而察之。參四診而治之。庶乎其不悖矣。</p>

<h2>診舌形容條目</h2>
<p>凡察舌之形容。前已述其提綱。今當集其條目。蓋舌者心之苗。心者身之主。故觀舌之形。可診身之病也。舌有形容。可分臟腑。色有淺深。可辨虛實。然臟腑之病症。皆有虛實之分。則形容之氣色。當有淺深之辨。諸書謂滿舌黑苔而生大刺。乾燥底紅者。實熱也。舌生芒刺者。結熱甚也。舌上無刺而津潤者。中寒也。舌赤而脹大滿口者。少陰陽明之熱也。舌下腫出如舌者。重舌也。舌忽腫而木硬者。木舌也。舌腫滿口溢出如豬胞。氣息不得通。或硬如木石者。血壅氣滯也。舌赤而有重舌者。熱入心胞也。舌赤腫滿不得息者。手少陰熱甚而血壅也。舌腫大者。或因熱毒。或因藥毒也。舌紫且腫厚者。酒毒上壅也。耳干舌腫。下血不止。腳浮者。六日死。足腫者。九日死。腎絕也。耳干舌腫。溺血大便赤泄。足腫者。肉絕九日死。胃絕五日死也。舌赤而出血如衄者。熱傷心胞也。聲亂咽嘶。舌痿聲不得前者。厥而脈緊。誤發其汗也。咳止利不休。胸如蟲齧。粥入則出。小便不利。兩脅拘急。喘息為難。頸背相引。臂則不仁。穀氣多入。口雖欲言。舌不得前者。除中也。舌紅而痿軟難言者。心脾虛也。心清語澀。舌軟無力難言者。營衛不足也。腹滿。舌痿黃燥。不得睡者。屬黃家。言其發黃也。舌紅而乾癟不能言者。死證也。舌紅而乾癟能言者。因症治之。或可救也。病人身寒。口吐涎沫。舌即難言者。邪入於臟也。舌無苔而黑瘦者。津枯血燥也。舌痿。人中滿。唇反者。足太陰氣絕。肉先死也。面目相引。口偏著耳。牙車急。舌不得轉者。風中血脈也。舌偏語澀。口眼喎斜。手足不遂者。偏風也。舌偏斜者。左癱舌向左。右癱舌向右也。舌形沿邊缺陷如鋸齒者。臟氣虛憊。不治之症也。熱病舌難伸出。伸則頻振。語言不清者。正氣虛弱之險症也。舌縱涎下。煩悗者。足少陰之證也。癇病喜揚目吐舌者。羊癇也。舌出不能收。及不能語者。心絕也。吐舌伸長而收緩。面紅煩躁。口渴溺赤者。心經有熱也。發熱口噤。臨死舌出數寸者。女勞復。陽氣虛也。陰陽易。舌出數寸者。死證也。舌出數寸者。產後與中毒。大驚之候也。小兒病舌出不能收者。心氣散也。舌本縮。口噤唇青者。小腸腑寒也。言聲憂懼。舌本捲縮者。木剋土也。舌形灰色。漸干縮者。死證也。舌捲縮如丹。嚥唾不得。足踝小腫者。肉絕也。熱病舌赤碎爛如蠶蝕者。少陰證也。舌赤裂而生瘡者。手少陰之邪熱也。舌上生瘡。裂破引唇揭赤者。心臟熱也。口舌生瘡糜爛者。心脾二經之蘊熱也。口舌生瘡咽腫者。膀胱之熱未已也。口舌生瘡者。上焦之熱也。舌黑而中爛者。不治之證也。熱病。舌本爛。熱不已者。死證也。顴赤。舌卷短者。心病也。舌卷。而煩滿囊縮者。厥陰病也。喉痹舌卷。口乾煩心。心痛。臂內廉痛。不可及頭者。邪客於手少陽之絡也。舌卷不能言者。手少陰之經病也。語聲憂懼。舌本捲縮。嗔喜無度。惛悶恍惚脹滿者。脾寒受風也。唇青舌卷。卵上縮者。足厥陰氣絕。筋先死也。中熱嗌乾。善溺心煩。甚則舌卷。卵上縮者。厥陰終也。汗出不流。舌卷黑者。心絕也。吐舌下卷者。死證也。霍亂。舌卷筋縮。卵陰入腹者。難治也。腰痛引膺。目䀮䀮然。甚則反折不能言者。昌陽之脈。令人腰痛也。熱病舌乾黑而短者。厥陰熱極也。舌本強。食則嘔者。足太陰之病也。舌強難言。神氣不清者。中風之證也。舌強不能言者。手少陰病也。奄忽不知人。喉中噫噫然有聲。舌強不能言。發其汗。身轉軟者生。汗不出。身直者。七日死。風懿之候也。小兒撮口臍風。舌強直者。死證也。咽嗌不能言。邪結在舌根者。死證也。膈偏枯。男子發左。女子發右。不喑舌轉者。可治也。舌紅而戰動難言者。心脾虛也。失音不能言者。二日半死。陰陽俱絕也。舌木硬者。厥陰病也。舌紅而強硬失音者。死候也。弄舌搖頭者。癇候也。舌在口中。時時搖動。唇焦舌乾。煩熱便穢者。名曰弄舌。心脾熱也。小兒面黃肌瘦。弄舌者。疳也。弄舌者。脾臟虛熱也。舌黑爛而頻欲齧者。必爛至根而死也。齧舌者。厥氣逆走上。少陰之脈氣輩至也。舌色灰黑。時時自欲齧舌者。少陰氣逆之死證也。此皆診法之條目。論舌之形容也。</p>

<h2>診舌氣色條目</h2>
<p>診舌之法。既講形容之條目。當集氣色之條目。夫舌者心之官。色者心之華。心生血而屬火。色赤而主舌。是赤者。舌之正色也。故察舌色之變。可知病症之殊也。舌有赤白青黑之色。可分臟腑寒熱。色有淺深明暗之辨。可判虛實死生。推而論之。如赤為熱。赤之淺者。虛熱也。赤之深者。實熱也。青為寒。青之淺者。虛寒也。青之深者。實寒也。明潤而或赤或青則生。枯暗而或赤或青則死。明潤之深者。雖病重而可生。枯暗之淺者。雖病輕而當死。合之形容。亦可知其臟腑也。諸書謂舌紅紫者。熱也。舌淡白者虛也。舌赤而鮮豔者。病在血分也。舌中見紅赤點。目色黃。頭汗。小便不利者。將發黃也。舌見紫斑。身體疼痛。惡寒發熱。腮赤者。將發斑也。舌上赤裂。大渴引飲者。上消之證也。三消病。熱甚飲多。舌紫乾者。病久則發癰疽而死也。舌赤起紫泡者。手少陰之熱證也。舌純紅露黑紋數條。而苔滑者。水乘火位。寒證也。舌淡紅。中見紫黑筋數道者。厥陰之寒證也。舌灰黑無苔。脈沉遲者。直中三陰也。舌無苔垢而色變者。虛也。舌白無苔而明淡。外證熱者。胃虛也。舌白唇白者。或流血過多。或脾有病也。舌白唾血者。脾蒸也。舌上青黑無刺。而津潤者。中寒也。舌無苔而冷滑者。少陰之寒證也。舌黑少神而潤滑者。虛寒也。舌黑無苔而燥者。津液受傷。虛陽上越也。熱病口乾舌黑者。死證也。舌變棕黑色者。熱病將死也。熱病七八日。其脈微細。小便不利。暴加口燥脈代。舌焦乾黑者。死證也。唇舌紫黯青腫者。中毒也。舌見純紫色者。酒毒也。唇青舌黑如豬腰者。九死一生也。舌上無苔。如去油腰子者。亡津液。不治之證也。疳病耳邊有青脈。舌上有焦點者。不治也。疳渴飲水不止。舌黑者。死證也。舌腫黑者。心火極也。舌見藍色者。微可治。深必死。肺氣傷也。妊娠面舌俱帶白者。寒證也。妊娠舌色太赤者。熱入血分。恐胎墮也。產婦面舌俱赤者。母子俱生也。產婦面舌俱青。口中沫出者。母子俱死也。產婦面赤舌青者。母活子死也。產婦面青舌赤。口中沫出者。母死子活也。產婦面舌俱白。證逆色夭者。血氣俱虛。亦死證也。產後舌紫黑者。血先死也。病人胸滿。唇痿舌青口燥。漱水不欲咽。無寒熱。脈微大來遲。腹不滿。其人言我滿者。有瘀血也。若夫跌僕而舌青黑者。瘀血內蓄也。痘疹而舌青黑者。疫氣內陷也。癰疽而舌青黑者。毒氣內攻也。中寒而舌青黑者。邪氣入臟也。發斑而舌青黑者。胃爛也。痢疾而舌青黑者。胃腐也。赤子初生時。舌如豬肝者。死證也。舌純黑者。無不死也。此皆舌色之條目也。辨其色之明潤枯暗。可判其病之順逆吉凶也。</p>

<h2>診舌苔垢條目</h2>
<p>既述舌色之條目。當集舌苔之條目。夫苔因病生。病以苔著。察色而不觀苔。究難辨其虛實。觀苔而不察色。安能測其盛衰。且三因百病。莫不有苔。則亦莫不可驗。豈特傷寒而已哉。然稽諸古昔。惟傷寒家言之。以為傷寒舌上有苔者。必自潤而燥。自滑而澀。由白而黃。由黃而黑。甚至焦乾。或生芒刺。此邪氣傳裡。由淺入深之證也。如舌有白沫白涎。頭項強痛者。太陽病也。白屑滿舌。身熱目痛鼻乾不得臥者。陽明病也。舌苔白滑。胸脅痛而耳聾。或寒熱往來。口苦咽乾目眩者。少陽病也。舌上白苔。脅下硬滿。不大便而嘔者。陽明病。柴胡證也。白苔乾厚。惡寒體痛者。表未解也。濕家下早則噦。或胸滿。小便不利。舌上如苔者。以丹田有熱。胸上有寒。渴欲得水。而不能飲。則口燥煩也。心中懊憹。舌上苔者。邪客胸中也。舌上白苔。煩躁。脈數實。六七日不大便者。其後必便膿血也。舌苔白而濕。濕而厚者。身發小熱也。如結胸狀。飲食如故。時時下利。寸脈浮。關脈小細沉緊。名曰臟結。舌上白苔滑者。難治也。臟結無陽證。不往來寒熱。其人反靜。舌上苔滑者。不可攻也。苔白而黃者。邪將傳裡也。舌苔中黑。邊白而滑。惡寒脈微弱者。表裡虛寒也。舌苔中見灰黑色兩條。症見三陰者。邪傳入里也。兩感一二日。舌苔中黑邊白者。不治之症也。苔白而舌根俱黑。汗後脈躁者。死證也。舌苔初微黃。次深黃。甚則焦黃。身熱汗自出。不惡寒。反惡熱者。陽明病。胃家實也。舌上黃苔。雙垂夾見。手足濈然汗出。潮熱譫語者。正陽陽明也。苔黃燥。不大便而潮熱譫語。手足濈然汗出者。胃腑實熱也。病者腹滿。按之而痛。舌黃。未下者下之。黃自去也。苔黃而滑。目黃。頭汗出。劑頸而還。小便不利者。身必發黃也。苔黃舌中有斑。體疼發熱。腮赤者。身已發斑也。苔如薑黃色。及松花色。津潤而冷。或腹痛吐利者。陽衰土敗也。苔黃中有小黑點。腹滿嗌乾者。邪傳太陰也。黑暈兩條而中灰色。口燥舌乾者。邪傳少陰也。苔黑舌乾而短。煩滿囊縮者。邪傳厥陰也。舌中苔黑而乾者。邪傳少陰。熱甚津枯也。苔如黑。軟潤而滑者。水剋火。寒症也。苔黃黑。症見不足者。元氣大虧也。舌心焦黑。質地紅活。不大便而潮熱譫語。手足濈然汗出者。邪並於胃。即可下也。舌根起黑苔。咽不結者。可治也。舌根起黑苔。咽結者。不可治也。舌根起黑苔。瓣底黑者。必死不治也。兩感一二日。舌見黑苔者。死證也。黑色連地而灰黯無神者。敗證也。妊娠病熱。苔黃而焦。胃家實者。瀉其實所以安其胎也。此集傷寒之論苔者。宜合病症而察之也。其他舌苔乾澀如雪者。脾熱也。舌苔黃黑。小腹脹痛。小便自利者。有瘀血也。小兒初出腹。舌上有白屑如米。劇者口鼻亦有之。此由胞胎中受穀氣盛。所謂鵝口者也。是皆舌苔之條目也。愚謂舌色深赤者。邪氣實。舌色淡紅者正氣虛。舌深赤。苔薄而滑者。正勝邪。舌淡紅。苔厚而澀者邪勝正。舌深赤而明潤。苔厚而燥澀者。形氣病氣俱有餘。舌淡紅而枯暗。苔薄而冷滑者。形氣病氣俱不足也。顧前人獨言其苔。後學當察其色。參之五法。合之四診。則凡黃白灰黑之苔。莫不有寒熱虛實之辨。即雜病亦有可驗者。非特傷寒而已也。金剛經云。如來常說。汝等比邱。知我說法如筏喻者。法尚應舍。何況非法。然則學斯法者。取其精華。去其糟粕。胸中有一定法。無一成法。庶幾其有法歟。</p>

<h2>診舌津液條目</h2>
<p>既集舌苔之條目。當集津液之條目。夫腎主津液。內溉臟腑。經系舌本。外應病症。故察津液之多少。可知腎氣之盛衰。察津之滑澀。可知病氣之寒熱。由是而言。有因外寒而滑者。有因內寒而滑者。有因虛熱而澀者。有因實熱而澀者。諸書謂舌上白苔而膩滑。咳逆短氣者。痰飲也。咳而口中有津液。舌上苔滑者。肺寒也。脈陰陽俱緊。口中氣出。唇口乾燥。蜷臥足冷。鼻中涕出。舌上苔滑。勿妄治也。到七八日來。其人微發熱。手足溫者。此為欲解。到八日以上。反大發熱者。此為難治。設使惡寒者。必欲嘔也。腹內痛者。必欲利也。舌上無苔而冷滑。脈微惡寒。身蜷而臥者。少陰中寒也。臟結舌上白苔滑者。難治也。兩臂不舉。舌本燥。善太息。胸中痛。不得轉側。食則吐而汗出者。肝中寒也。舌無苔而乾燥者。腎臟不足。津液虛竭也。舌苔中心黑厚而乾者。謂之焙舌。邪傳少陰。熱甚津枯也。惡寒發熱。而津液如常者。邪在太陽之表也。白苔乾厚。無汗惡寒。身疼痛者。表未解也。熱病五六日。口燥舌乾而渴者。少陰病也。舌乾咽腫。上氣嗌乾及痛。煩心心痛者。病在足少陰也。嗌乾口渴。苔不滑而澀者。邪傳厥陰也。津液乾燥。舌上苔者。表邪傳裡也。舌焦唇槁臘干嗌燥者。腠理閉。汗不出也。傷寒吐下後。七八日不解。時時惡風。大渴。舌上乾燥而煩。欲飲水數升者。熱結在裡。表裡俱熱也。渴欲飲水。口乾舌燥者。熱在裡而耗其津液也。黑刺破裂而乾燥者。熱甚而津涸也。舌灰黑中有干刺。咽乾口燥者。熱結在少陰也。滿舌黑苔而生大刺。乾燥底紅者。實則可下之證也。傷寒十一日。舌乾已而嚏者。少陰病衰也。下痢舌黃燥而不渴。胸中實。下不止者。死證也。腹滿口乾舌燥者。腸間有水氣也。舌中黑無苔而燥者。津液受傷。虛火用事也。此集諸書之言津液者。愚謂舌色淡紅。苔薄而滑者。內寒也。舌色深赤。苔厚而滑者。外寒也。苔薄而澀。舌淡紅者。虛熱也。苔厚而澀。舌深赤者。實熱也。然正虛者。邪氣有有無之辨。邪實者。正氣有盛衰之分。宜合之五法。參之四時。庶不至虛虛實實。損不足而益有餘矣。第察舌之時。病人宜診而後食。則苔之厚薄易分。診而後飲。則苔之滑澀易辨。至於乾黑之舌。又當以蜜拭苔垢。然後視其形色。紅赤者可治。青黑者不可治。亦望舌之所宜知也。若夫部位之分。或因形色。或因苔垢。或因津液。可以類推。故不復集。</p>

<h2>診口形容提綱</h2>
<p>聞之舌以舒捲為用。口以開闔為用。各一其陰陽也。且口者脾之竅。心之外戶也。難經七衝門。謂唇為飛門。齒為戶門。以其開闔運動。聲音從口出。飲食從口入。四通五達。為臟腑之衝要也。察之之法。蓋有十焉。曰張、曰噤、曰撮、曰僻、曰振、曰動、曰頦落、曰口齧。由是分其燥濕。辨其寒熱。其為病亦可見矣。何言之。張則開而不閉。噤則閉而難開。撮則上下有蹙聚之形。僻則左右有緩急之狀。振者寒慄鼓頷。急急搖振。動者開闔其口。頻頻運動。頦落者似張。而頦不能闔。口齧者似動。而齧不頻開。燥由津液之干。濕屬唾涎之滑。是故張主虛。噤主實。撮為邪正交爭。正氣衰而邪氣勝。僻是經筋相引。急為正而緩為邪。振乃陽明之虛。動緣胃氣之絕。頦落者。頰車不收。病在陽明之脈。口齧者。腎臟將敗。病達胃腑之經。是皆口之形容也。然形容雖有燥濕之分。燥濕亦有虛實之辨。故燥雖屬熱。濕雖屬寒。而上下表里不同。臟腑陰陽亦異。苟不合之四診。參之五官。則知其燥而不知其所以燥。知其濕而不知其所以濕。將治熱而熱不除。療寒而寒不退。其不倒行逆施也者幾希。若夫口之五色著於唇。口之五味詳於問。又當參伍相證焉。庶乎體益明而用益達矣。他如浸淫瘡。從口流向四肢者可治。從四肢流來入口者不可治。推而論之。即痘瘡廣瘡。及諸痛瘡瘍。其順逆亦猶是也。</p>

<h2>診口形容條目</h2>
<p>既識口之提綱。當知口之條目。如書云。目瞪口開。兩手舒展。若驚怖之狀者。大驚卒恐。氣血分離也。呼吸張口短氣者。肺痿吐沫也。癇病張口搖頭馬鳴。欲反折者。馬癇也。肉熱口開舌破。咽塞聲嘶者。心臟實。為陽毒所侵也。口張生瘡者。小腸傷熱也。發熱惡寒。身重而疼痛。其脈弦細芤遲。小便已。洒洒然毛聳。手足逆冷。小有勞。身即熱。口前開板齒燥者。太陽中暍也。脫肉又臥。口欲得張。時時手足青。目瞑瞳仁痛者。此為肝臟受傷所致也。肺病言音喘急。短氣好唾。熱而狂。閉目悸。言非常所說。口赤而張。飲無時度者。熱傷肺。火剋金。不治。若面赤鼻不欹。可治也。中風口開者。心絕也。痙病目瞪口開。神昏不知人者。死證也。病人口張者。三日死也。鼻口虛張短氣者。肺絕也。口張但氣出不返者。肺絕。三日死也。病人口張開者。心先病也。病人脈絕。口張足腫者。五日死也。口如魚口。不能復閉。氣出多不返者。死證也。口如魚口。不能合者。脾絕也。目瞪口呆。勢危者。必絕也。神脫口開。天柱傾欹者。死證也。口噤難言者。風痙也。言遲者。風也。牙關緊急。口闔不得開者。風寒中於陽明也。太陽病。無汗而小便反少。氣上衝胸。口噤不得語者。欲作剛痙也。胸滿口噤。臥不著席。腳攣急。必齘齒者。痙之為病也。產後發疾口噤。倒悶吐沫。瘛瘲。眩冒不知人者。卒中風也。口不能言者。肝風之候也。卒不能語。口噤。手足不遂而強直者。風痱也。煩悶無知。口沫出。四體角弓。目反上。口噤不得言者。風眩發。大人癲。小兒癇。其實一也。神昏卒倒。口噤不語者。中惡屍疰之候也。傷寒五六日以上不解。口噤不能語。惟欲飲水者。熱在胸中。為壞傷寒也。諸乘寒。鬱冒不仁。口急不能言。戰而慄者。胃無穀氣。脾澀不通也。煩疼口難言者。榮氣不足也。病六七日。手足三部脈皆至。大煩而口噤不能言。其人躁擾者。病邪必欲解也。妊婦項背強直。筋脈攣急。口噤語澀。昏迷發搐。時作時止者。子癇也。小兒初生。面青身冷。口噤者。胎寒也。臍風口噤舌大痰壅者。不可治也。面青口撮者。疼痛也。小兒初生。唇口撮。多啼不能吮乳者。臍風也。小兒初出腹。面目繞鼻口悉黃。閉目聚口撮面而啼。口中乾燥。四肢不能伸縮者。今人以為臍風。實則其血沮敗。肌肉不成。血脈不斂也。小兒初生。口撮如囊。吮乳不得。舌強唇青。面色黃赤者。即名之為撮口也。撮口臍風。唇口收束鎖緊。舌強直者。死證也。撮口吐白沫。四肢厥冷者。不治之證也。口僻者。足陽明之筋。有寒則急。有熱則緩也。喎僻不遂者。邪氣反緩。正氣即急也。口歪於左者。右邊癱瘓。左臉動肉縮短也。口歪於右者。左邊癱瘓。右臉動肉縮短也。口眼喎斜者。風中經絡也。口耳為僻。眥急不能卒視者。足陽明手太陽之筋急也。口喎唇疹者。足陽明病也。驚掣悸。語聲寬急混濁。口喎冒昧好自笑者。心虛寒。厲風傷心也。病先起於毫毛。伸欠乃作寒慄鼓頷。腰脊俱痛。寒去則內外皆熱。頭痛如破。渴欲冷飲者。瘧始發之狀也。瘧而寒慄鼓頷者。陽明虛也。平人口振者。亦陽明虛也。口目動作者。陽明終也。下頦脫落者。謂之落架風。陽陰之脈。縱緩不收也。小兒睡熟齧牙者。或腹有蟲積。或欲出新牙也。狀如感冒風寒。畏風特甚。時作狗聲。每欲齧人及衣物。小腹墜脹。小便難者。癲狗咬傷而毒發也。小兒咬爪甲者。疳病有蟲也。小兒齧齒咬人者。腎絕也。痘症咬牙。甚則脫落者。疫氣內陷於腎也。陽明病。口燥但欲漱水。不欲咽者。必衄血也。傷寒一日。頭痛口乾而煩滿者。巨陽與少陰俱病也。少陰病。自利清水。色純青。心下必痛。口乾燥者。急下之證也。少陰病。得之二三日。口燥咽乾者。亦急下之證也。口燥而喘。身運而重。冒而腫脹者。肺中風也。唇口乾燥生瘡者。胃中客熱也。脈自澀。唇口乾燥者。其人不欲飲也。病者如有熱狀。煩滿。口乾燥而渴。脈反無熱者。此為陰伏。是瘀血也。傷熱氣喘。甚則唾血。短乏不欲食。口燥咽乾者。氣極也。熱病七八日。脈微小。溲血。口中乾。一日半死。脈代者。一日死也。熱病不知所痛。耳聾不能自收。口乾。陽熱甚。陰頗有寒者。熱在髓。死不治也。丁腫五六日不瘥。眼中見火。神昏口乾心煩者。死證也。嗌乾口中熱如膠者。足少陰之證也。大病瘥後喜唾。久不了了者。胃上有寒也。小兒流涎不已者。脾氣虛也。流涎滯頤者。脾冷也。口中多涎者。上焦寒也。虛滿而咳。善嘔沫者。手太陰厥逆也。人之涎下者。蟲動也。吐涎心痛。發作有時者。蛔之為病也。蛔心痛。心腹中痛。發作腫聚。往來上下行。痛有休止。腹中熱。善涎出者。是蛔咬也。脾脈微急。食飲入而還出。後沃沫者。膈中病也。癇發痰涎壅盛。氣促昏倒。口吐痰沫者。痰癇也。喜吐沫者。豬癇也。癲疾嘔多沃沫。氣下泄者。皆不治也。髮直如麻。口吐沫者。死證也。反胃口中多出沫。沫大出者。死證也。膈噎吐如蟹沫者。脾敗也。心下熱痛。掌中熱。時時善嘔。口中傷爛。左寸脈陰絕者。心虛也。口瘡腐爛者。心病也。口糜者。膀胱移熱於小腸也。病苦身熱未去。口中生瘡。心中煩滿。汗不出。身重。左寸脈陽實者。手太陽小腸實也。口中生瘡。脹滿不通者。大腸實熱也。口瘡者。邪之出也。口爛蝕齦者。三焦相溷。內外不通。臟氣相熏也。此皆口之形容也。</p>

<h2>診唇望法提綱</h2>
<p>既視其口。當察其唇。唇也者。齒之垣也。脾之官也。肌肉之本也。經曰。脾者。諫議之官。知周出焉。其充在肌。其華在唇。故視唇之好惡。可知脾之吉凶。何則。黃色小理者脾小。粗理者脾大。揭唇者脾高。唇下縱者脾下。唇堅者脾堅。唇大而不堅者脾脆。唇上下好者脾端正。唇偏舉者脾偏傾。此形容之常也。左病者應在左。右病者應在右。上應乎上。下應乎下。而凡形容之變。氣色之殊。皆可以是推之。此部位之分也。按部位而視形容。則唇腫者。病氣實。唇痿者。形氣虛。唇短縮者。脾傷。唇不收者。脾病。唇爛者。陽明之證。唇反者。太陰之終。唇焦乾者。病在肉。唇枯槁者。病在脾。唇瘡者。邪從外解。唇裂者。毒從內發。唇內生瘡者。腹中有蟲。唇上碎裂者。胃經有熱。唇口僻者。風中陽明之筋。唇口撮者。風入陽明之脈。諸太過者。病在外。諸不及者。病在內。此皆形容之變也。視形容而觀氣色。則唇赤者。常色也。深赤者。為太過。淡紅者。為不及。淡白而黑者。寒甚。深赤而黯者。熱深。青而深者。主痛。青而淡者。為寒。唇白者。脾虧。唇黃者。脾病。諸色淺者。正氣虛。諸色深者。邪氣實。明潤而有血色者生。枯暗而無血色者死。此皆氣色之殊也。夫分形容氣色而言之。所以識其常。合形容氣色而觀之。所以通其變。然究其常變。而原其始終。體用雖殊。莫不以神為本。夫神也者。明潤精爽。而有血色者也。得則生。失則死。易傳云。精氣為物。遊魂為變。是故知鬼神之情狀。其死生之謂乎。</p>

<h2>診唇形容條目</h2>
<p>診唇形容。既已述其提綱。還當集其條目。如唇口俱赤腫者。肌肉熱也。上唇厚大。下唇細小者。腹脹也。唇白而腫者。脾絕也。唇舌皆腫。大便赤泄。溺血。足腫者。九日死。肉絕也。唇腫齒焦黑者。脾腎絕也。唇薄似有笑狀者。內癰之危證也。唇肉縮小。恍似與人笑者。或膈間熱。或腹中痛也。脾傷唇雖萎黃。語音若轉者。猶可治也。唇縮流津者。脾冷也。虛勞唇寒齒宣露者。死證也。病苦頭痛。目眩。驚狂。喉痹痛。手臂卷。唇吻不收。右寸脈陰陽俱實者。手太陰陽明肺與大腸俱實也。唇吻不收。舌不轉失音。耳聾目瞀者。邪中臟也。唇爛而齒牙脫落者。邪伏陽明。發為牙疳也。唇反黑無紋者。脾敗也。病人唇反人中滿者。三日死也。唇反人中滿。舌痿者。肉先死。足太陰氣絕也。病人鼻下平者。胃病也。肌肉不滑澤。肉滿唇反者。肉先死也。唇焦乾者。病在肌肉也。口苦舌強。嘔逆酸心。氣脹唇焦者。脾勞也。唇焦者。脾蒸也。下唇焦者。小腸蒸也。熱病口燥唇焦者。病在脾也。唇焦枯無澤者。脾熱也。病苦胸中喘。腸鳴虛渴。唇乾目急。善驚泄白。右寸陽虛者。手陽明大腸虛冷也。寸口脈不出。反發其汗。陽脈早索。陰脈不澀。身體反冷。內煩多吐。唇燥小便難。便如爛瓜豚腦者。傷其津液。肺為之痿也。唇焦肉白。腠理萎瘁者。血滅之證也。病人唇口忽乾者。脾胃內絕也。脾前病。唇則焦枯無潤。脾前死。唇則干青漸縮急。齒噤不開。若天中等分墓色應之者。必死不治也。平人色暗。唇皮乾者。夭壽之徵也。婦人年五十所。病下利數十日不止。暮即發熱。少腹裡急。腹滿。手掌煩熱。唇口乾燥者。此病屬帶下。曾經半產。瘀血在少腹不去也。皮膚痛。唇舌槁。無汗者。肌寒熱也。唇口瘡者。邪之出也。瘧病唇口生瘡者。邪將解也。唇裂齒齦青黑。九竅血出者。中莽草之毒也。唇口舌頭皆破裂。皮肉似湯火疱起。漸次成膿者。中金蠶之蠱毒也。身發小疱。作青黑色。眼睛聳出。舌上生小刺疱綻出。口唇破裂。腹膨脹。爪甲青黑者。中砒霜之毒也。病人上唇有瘡者。蟲蝕其臟也。下唇有瘡者。蟲食其肛也。齒齦無色。舌上盡白。甚則唇里有瘡。四肢沉重。忽忽喜眠者。蟲病也。唇上如瘡。面黃肌瘦。腹大者。疳病有蛔蟲也。上唇內有瘡如粟。心內懊憹痛悶。唾血者。此蟲在上。蝕其臟也。下唇內生瘡。其人喜眠者。此蟲在下。蝕其下部也。口唇動而偏喎者。風入其脈也。口唇緊小。不能開合。飲食不得者。繭唇也。舌如針刺。唇上微麻。口漸收小不能張。甚則腹鳴且脹者。中河豚之毒也。小兒生下五六日。口唇撮聚。不能吮乳者。人以為臍風也。此皆唇之形容也。</p>

<h2>診唇氣色條目</h2>
<p>既集唇形之條目。當集唇色之條目。諸書謂唇紅紫者。熱也。唇赤而吐者。胃熱也。唇色赤黑者。胃中熱也。上下唇皆赤者。心熱也。上唇赤。下唇白者。心腎不交也。唇色深紅。灑淅寒熱喘咳者。肺之虛熱也。唇紅喉耳生瘡。腹脹痛。身熱。脈滑數者。蛔脹也。久病唇紅者。難治也。唇舌鮮赤。腮紅。發熱。咳嗽噴嚏者。疹也。唇舌鮮赤。腮紅。發熱。眼如醉眼而含淚。指梢冷者。痘也。脈大身熱。不能飲食。舌赤唇紅。喜飲冷水。頻頻下痢者。噤口痢也。食入即吐。口渴思冷。嘔吐酸涎。身熱唇紅溺赤者。熱吐也。小兒唇紅厚者。脾胃健。易養也。婦人唇紅厚者。衝脈盛。易產也。唇淡白者。虛也。唇慘白而吐者。胃虛也。唇白食少喘咳者。脾肺氣虛也。朝食暮吐。乳食不化。四肢逆冷。面唇色白者。寒吐也。唇色或紅或白。胃口時痛時止。頻嘔清涎者。蟲吐也。齒齦無色。舌上白。煩憒不知痛癢之處。或喜眠。下痢者。蟲蝕其肛也。面上白斑。唇紅能食。顏色不常。臉上有蟹爪路者。便有蟲也。痛如咬心。時作時止。口吐清水。人中鼻唇一時青黑者。蟲痛之證也。妊娠唇白者。血不足。產或難也。唇白而地庫光明者。病可治也。唇白目內眥白。面瘦而白。四肢腫。或腦痛。脈跳而數者。心虛血不足也。面唇清白。渴喜熱飲。痢時腸鳴切痛者。此為寒痢。虛寒之證也。舌赤唇焦。喜飲冷水。腹中窘痛。溺短色赤。頻頻下痢者。此為熱痢。裡熱之證也。脾疳肚大青筋。唇口無色。人中平。痢不止者。不治之證也。唇白如枯骨者。死證也。口噤唇青。舌本縮者。小腸寒也。唇口青白而黑者。寒也。唇青額黑者。血氣虛怯。為冷所乘也。卒厥唇口青者。身冷為入臟。即死。身溫汗自出為入腑。即愈也。唇口俱青黑者。冷極也。筋不能轉。爪甲皆痛。舌卷唇青。轉筋卵縮。胻脈疼急。腹中絞痛。或便欲絕。不能飲食者。筋虛極也。笑而伸。伸而反憂。熱而且狂。悶亂冒昧。言多謬誤者。此心已傷。若口唇正赤可療。青黃白黑。不可療也。唇青紫者。胃氣虛寒也。唇色黑瘀。目睛凸露。呼吸上逆者。哮喘也。乾霍亂。吐瀉不得。胸腹脹硬。手足冷過腕膝。脈伏喘急。舌卷囊縮。唇青黑者。死證也。癰疽證。聲嘶色脫。唇鼻青黑。面目四肢浮腫者。惡候也。唇青人中反者。三日死也。病人唇青體冷。遺尿者。膀胱絕。四日死也。唇黑者。胃先病也。環口黧黑者。脾腎絕也。唇色如漆黑者。脾胃將絕也。水病唇黑者。肝傷不可治也。兩顴昏暗。唇色慘黑者。氣不足。血已枯也。唇口青黑。吐逆。腸腹絞痛不可忍。發狂。七竅迸血。或外腎脹大者。中砒霜之毒也。唇色青黑者。即刻身亡也。面青唇黑。面黑唇青者。皆死證也。舉體消瘦。語音沉澀。聲如破鼓。舌強不轉。而好嚥唾。口噤唇黑。四肢不舉。身體極重。便利無度者。脾虛寒甚。則不可治也。此皆唇色之條目也。</p>

<h2>四白望法提綱</h2>
<p>既視其唇。當察唇之四白。四白者。口唇四際之白色也。考之內經。督脈至人中。任脈至承漿。衝脈絡唇口。足陽明之脈。挾口環唇。手陽明之脈。挾口交人中。經曰。脾胃大腸小腸三焦膀胱者。倉廩之本。營之居也。其華在唇四白。其充在肌。其味甘。其色黃。此至陰之類。通於土氣。故五閱五使篇曰。口唇者。脾之官也。以部位言之。上為陽。下為陰。左為陽。右為陰。察其色之上下左右。可辨其病之上下左右也。青赤黃白黑五色。合之五行。應乎五臟也。太過者。病在外。不及者。病在內。腑主乎外。臟主乎內也。於是乎有澤夭之分焉。所以辨其成敗也。有浮沉清濁之分焉。所以辨其表裡陰陽也。有微甚散摶之分焉。所以辨其虛實久新也。以五色相應之理推之。其病症可知也。以五行生剋之理推之。其順逆可知也。以氣色部位合而推之。其臟腑相乘之理又可知也。經云。五臟六腑。固盡有部。視其五色。黃赤為熱。白為寒。青黑為痛。此所謂視而可見者也。千金云。病人鼻下平者。胃病也。微赤者。病發癰。微黑者有熱。青者有寒。白者不治。唇黑者胃先病。微燥而渴者可治。不渴者不可治。此皆診色之要也。若合四診而觀之。參四時而辨之。推之無窮。用之不盡矣。</p>

<h2>牙齒望法提綱</h2>
<p>蓋聞上曰齒。下曰牙。兩旁曰牙。當中曰齒。然齒者。總謂口中之骨。主齚齧者也。家語曰。男子八月生齒。八歲而齓。女子七月生齒。七歲而齓。蓋齒者。骨之所終也。經言丈夫八歲齒更。三八真牙生。七八齒槁。女子七歲齒更。三七真牙生。七七齒槁。夫齒之為言。始也。年也。腎之標。骨之餘也。少長別乎此。盛衰見乎此也。以形言。則齒食多長也。食少者幼也。以色言。則齒色黃者長也。色白者幼也。是皆長幼之常。非疾病之變也。及其病而察其變。則又有提綱焉。一曰形容之變。二曰氣色之變。察其滋潤乾燥。可知病之寒熱。察其枯槁明亮。可決病之死生。形容之變者。咬牙為邪入於胃。齘齒為風入其經。下齒齲者手陽明。上齒齲者足太陽。長而枯者。骨先絕。脫而落者。症多凶。氣色之變者。齒忽黃。為腎虛。齒忽黑。為腎熱。滋潤者。津液猶充。乾燥者。津液已耗。形色枯槁者。精氣將竭。形色明亮者。精氣未衰。析而言之。互而觀之。合五官。參四診。而吉凶之辨。虛實之分。瞭然如指掌矣。若夫牙齦形色。當以腫起為實。陷下為虛。深赤為太過。淡紅為不及。可與診唇之法。比例而推也。</p>

<h2>牙齒望法條目</h2>
<p>既知牙齒之提綱。當知牙齒之條目。諸書謂雜病咬牙者。胃實也。痘症咬牙者。死候也。痘症咬牙齒落者。無不死也。小兒齒嚼咬人者。腎絕之證也。人之自齧舌者。厥逆走上。脈氣不至也。齧舌者。少陰氣至也。齧頰者。少陽氣至也。齧唇者。陽明氣至也。胸滿口噤。臥不著席。腳攣急。又齘齒者。痙病也。痙者腰折瘛瘲。齒噤齘也。小兒蝕齒者。疳蟲之候也。齒齲者。手陽明絡實。則齲聾之證也。肉濡而卻。齒長而垢。發無潤澤者。骨先死。少陰絕也。骨枯肉軟。齒長而垢。發無澤者。骨先死。足少陰氣絕也。面黑齒長而垢。腹脹閉。上下不通者。少陰終也。腎中風者。其人踞坐而腰痛。視脅下左右。未有黃色如餅粢大者。尚可治。若齒黃赤。鬢髮直。面土色者。不可治也。小兒齒落久不生者。腎氣虧也。病人齒黃枯落者。骨絕也。牙黃落者骨絕。十日死也。牙床腐爛。牙齒脫落者。牙疳之凶候也。齦肉赤爛疼痛。口臭血出。牙枯脫落。穿腮蝕唇者。牙疳也。牙疳穿腮齒落者。難治也。齒如黃豆者。腎氣絕也。齒如熟小豆。其脈躁者。陰陽俱竭也。齒垢黃。面目爪甲上黃者。黃疸也。唇腫齒黑者。死證也。唇腫唇黑齒焦者。腫脹之死證也。病人齒忽變黑者。十三日死也。目無精光。齒齦黑者。心肝絕也。色黑而齒槁者。腎熱也。熱病唇焦齒燥者。津液耗也。虛極之病。唇枯齒乾者。死候也。齒為暴枯。面為正黑。目中黃。腰欲折。自汗出如流水者。四日死。一曰人中平。八日死。腎絕也。病無所在。汗注不休。齒本槁痛者。骨寒熱也。骨寒熱。病無所安。汗注不休。齒未槁者可治。齒已槁者不可治。骨厥亦然也。齒黑腰痛。足逆冷者。骨蒸也。至若黃髮兒齒者。壽考之徵也。唇亡齒寒者。衰憊之兆也。牙床紅腫者。陽明之病也。牙床潰爛者。腸胃之證也。重齦病齒。齦腫如水泡者。熱蓄於胃也。小兒面色黧黑。齒齦出血。口中氣臭。足冷如冰。腹痛泄瀉。啼哭不已者。腎疳也。齒齦間津津出血不止者。陽明之經病也。牙肉色白者。非久病血少。即失血過多也。牙肉之際。有藍跡一線者。沾染鉛毒也。若服水銀輕粉。亦令牙床壅腫也。此皆診齒之目也。</p>

<h2>診鼻望法提綱</h2>
<p>天地氤氳。萬物化醇。男女媾精。萬物化生。五官先生鼻。五臟先成精。精乃一身之本。頭為五體之尊。是以雷公問道。黃帝傳經。五色獨決於明堂。四診先觀其天牝。蓋鼻者。形之始也。氣之門戶也。呼吸之間。通乎天地。貫乎經絡。五臟六腑。無不畢達。四體百骸。無不周遍者也。分其部位。則臟腑六部之提綱是已。辨其氣色。則陰陽十法之提綱是已。其相乘之理。合之部位可推也。其相應之理。合之氣色可推也。肝青、心赤、脾黃、肺白、腎黑。與夫聲音臭味情志脈病。亦無有不可推者。凡諸望法。皆當比例以相參也。金匱要略云。鼻頭色青腹中痛。若冷者死。鼻頭色微黑者。有水氣。色黃者。胸上有寒。色白者。亡血也。設微赤非時者死。是宜以四時參之。以十法辨之矣。第色雖當辨。形亦宜分。望之之法。又有提綱焉。蓋鼻者。肺之合也。鼻大者。臟氣有餘。鼻小者。臟氣不足。腫起者。邪氣盛。陷下者。正氣衰。鼻煽張者肺虛。鼻仰息者肺實。鼻枯槁者。寒熱之證。鼻蝕爛者。疳瘡之形。鼻竅乾燥者。陽明之經病。鼻柱崩壞者。癘風之敗症。鼻下紅腫如瘡者。腹中有蟲之疳病。鼻流濁涕者。外受風熱。鼻流清涕者。外感風寒。鼻淵者。腦中熱。故涕下滲。鼻衄者。陽絡傷。故血外溢。鼻生瘜肉謂之齆。鼻生粉刺謂之齇。此皆鼻形之望法也。析而言之。合而觀之。察五官。參四診。變在其中矣。至於骨部起者壽。骨部陷者夭。故鼻準貴乎豐隆焉。他如氣之粗細。息之疾徐。嚏之有無。竅之通塞。當詳各門。容後續述。</p>

<h2>診鼻形容條目</h2>
<p>診鼻條目。氣色已述明堂之中。形容當集提綱之下。靈樞云。五色之見。各出其色部。部骨陷者。必不免於病。其色部乘襲者。雖病甚不死。是亦察色分部之要也。至其形容諸書。以為喘息鼻張者。肺病也。初病鼻煽者。邪風壅塞肺竅也。引息鼻張。呼吸急促。惕惕悶悶無痰聲者。憂思氣鬱也。鼻煽喘汗者。肺絕也。鼻煽張者。肺絕也。口鼻虛張短氣者。肺絕。三日死也。喘喝胸盈仰息者。肺實也。鼻槁臘不得汗。毛髮焦。皮不可近席者。皮寒熱也。鼻孔忽仰者。死證也。鼻爛者。疳瘡也。身熱目痛身干。不得臥者。傷寒陽明經之證也。傷寒鼻乾燥者。陽明病將衄血也。陽明病。脈浮發熱。口乾鼻燥。能食者。衄證也。傷寒脈浮。鼻中燥者。必衄血也。鼻孔燥黑如煙煤者。陽毒熱深也。鼻口乾燥。大小便不利者。癇候也。酒癉無熱。靖言了了。腹滿欲吐。鼻燥者。脈浮先吐之。弦先下之也。鼻乾喘促氣逆者。氣蒸也。鼻孔乾者。肺枯也。鼻乾黑燥者。火剋金也。鼻孔黑燥無涕者。肺絕也。鼻柱壞而色敗。皮膚潰而有瘍者。風寒客於脈而不去。發為癘風也。癘風鼻柱壞者。骨先死也。癘風鼻梁崩塌。眼絃斷烈。唇翻聲啞者。骨死也。癘風鼻柱崩倒。鼻中生瘜肉者。蟲食其肺也。鼻塞涕濁者。風熱也。人之鼻洞涕出不收者。頏顙開分氣泄也。中寒家喜欠。其人清涕出。發熱色和者。善嚏也。欲嚏不能者。此人肚中寒也。鼻塞流清涕者。邪未解也。鼻塞流清涕。發熱咳嗽。自汗惡風者。傷風也。痰清涕清者。寒未去也。少腹膀胱按之內痛。若沃以湯。澀於小便。上為清涕者。胞痹也。鼻流清涕。呵欠煩悶咳嗽噴嚏。面腫腮赤者。疹也。濁涕下不止者。膽移熱於腦。則辛頞鼻淵也。口鼻出血不止者。腦衄也。鼻衄發熱。身無汗。口乾鼻燥者。邪氣實也。鼻衄面黃白。身無熱。血出多而不止者。正氣虛也。衄而不止。脈大者。逆證也。血外溢而衄者。陽絡傷也。鼻齆瘜肉者。熱滯於陽明之經絡也。鼻齇者。寒氣之所薄也。小兒頻揉耳鼻者。疳證也。鼻塞赤癢疼痛。浸淫潰爛。下連唇際成瘡。咳嗽氣促。毛髮焦枯者。鼻疳也。千金云。肺前病。鼻則為之孔開焦枯。肺先死。鼻則為之梁折。孔閉青黑色。若天中等分墓色應之。必死不治。此皆診鼻之條目也。</p>

<h2>診耳望法提綱</h2>
<p>既察其鼻。當觀其耳。耳也者。腎之官也。故察耳之好惡。可知腎之強弱也。何則。黑色小理者。腎小。粗理者。腎大。耳高者腎高。耳後陷者腎下。耳堅者。腎堅。耳薄不堅者。腎脆。耳好前居牙車者。腎端正。耳偏高者。腎偏傾。此察耳形之常也。以色言之。有左右之殊。有上下之辨。左為左。右為右。上應乎上。下應乎下也。腎之候也。腎主骨。故耳起五色者。病在骨也。黃赤者。多熱氣。青白者。少熱氣。黑色者。多血少氣。黃赤為風。青黑為痛。白為寒。屬分五行。亦應乎五臟也。氣色之變。可以十法推之。生克之理。可以五行推之。其餘望法。有可比例者。宜察其病。辨其證。而合參之也。若夫耳形之診。當以厚而大者為形盛。薄而小者為形虧。腫起者。邪氣實。消減者。正氣虛。潤澤則吉。枯槁則凶。合之於色。亦可辨其寒熱虛實焉。他如下消則耳輪焦乾。腸癰則耳輪甲錯。腎前病。耳則為之焦枯。腎前死。耳則為之𪒠黑焦癖。若天中等分墓色應之。必死不治。是皆主病之目也。痘科尚有觀耳後絡脈之詩。因續四句於其後。其詩曰。耳後紅筋痘必輕。紫筋起處重沉沉。兼青帶黑尤難治。十個難求三五生。予續之曰。冷暖陰晴色變更。須將痘證辨分明。望聞問切能參悟。不看紅筋徹底清。</p>

<h2>眼眉望法提綱</h2>
<p>蓋聞精之榮以須。氣之榮以眉。眉也者。稟木氣而側生者也。以經絡言之。則屬乎手足太陽陽明矣。其有多少疏密粗細長短之殊者。亦由氣血有多少。賦稟有清濁耳。相家知其常。固可察人之賢否。醫家辨其變。亦能測病之死生。道雖不同。其揆一也。今求其法。蓋有六焉。眉系傾者。膽將絕。眉衝起者。命將亡。眉睫墮落者。癘風之證。眉毛頻蹙者。疼痛之容。潤澤者。血氣足。枯槁者。血氣衰也。至若眉中之色。前人亦有言者。其詩曰。黃色入目一年期。黑色從眉繞目悲。若然白色連眉目。知是皮膚肺疾微。眉中若見青赤黑。遠候還須半年期。近看三五七日內。忽然暴死更無疑。然以余望之。當察澤夭以分成敗。觀清濁以辨陰陽。視微甚以知虛實。四診合參。其庶幾乎。</p>

<h2>髭鬚望法提綱</h2>
<p>聞之發屬心。稟火氣而上生。須屬腎。稟水氣而下生。故男子腎氣外行而有須。女子宦人無須。而眉發不異也。然分部位而言。則唇上曰髭。屬手陽明。頦下曰須。屬足少陰陽明。兩頰曰髯。屬足少陽。其經血氣盛。則美而長。氣多血少。則美而短。氣少血多。則少而惡。氣血俱少。則其處不生。氣血俱熱。則黃而赤。氣血俱衰。則白而落。察其經絡之部位。可知其經絡之血氣矣。然部位雖殊。要皆屬於腎。通於經而生於衝任焉。經曰。衝脈任脈。皆起於胞中。上循背裡。為經脈之海。其浮而外者。循腹右上行。會於咽喉。別而絡唇口。血氣盛則充膚熱肉。血獨盛則滲灌皮膚生毫毛。婦人有餘於氣。不足於血。以其數脫血也。衝任之脈不榮口唇。故須不生。宦者去其宗筋。傷其衝脈。血瀉不復。皮膚內結。唇口不榮。故須亦不生。天宦未嘗被傷。不脫於血。而衝任不盛。宗筋不成。有氣無血。唇口不榮。故須亦不生。此皆須之常也。如因病而觀之。惟癘風有鬚眉墮落者。然余謂血氣未衰。須色當潤澤。血氣已竭。須色當枯槁。其由黑而白。由白而黃者。乃壯老之常。盛衰之變也。至若氣有滑澀。血有清濁。而其須不同者。皆可以經絡部位推測而知也。</p>

<h2>發髲望法提綱</h2>
<p>竊聞腎之華在發。血之榮以發。蓋發者血之餘。血者水之類也。經言女子七歲髮長。丈夫八歲髮長。五八發墮。八八發去者。蓋腎主腦。腦者髓之海。發者腦之華。腎盛則髮長。腎衰則發墮。腦減則發素也。其或年少而發白。年老而發黑者。賦稟不同也。以部位分之。頭上曰發。耳前曰鬢。中行屬督脈。二行屬太陽。三行屬少陽。頭維額角。足陽明也。曲鬢懸顱。足少陽也。其經血氣盛。則美而長。氣多血少。則美而短。氣少血多。則少而惡。氣血俱少。則其處不生。氣血俱熱。則黃而赤。氣血俱衰。則白而落。察其經絡之部位。可知其血氣之盛衰。其因病而變者。察之又有六法焉。曰逆上。曰衝起。曰直。曰落。曰潤澤。曰枯槁。蓋逆上者。死證也。衝起者。絕候也。因疳積而發亂鬇鬡者。可療。因氣竭而髮直乾枯者。不治。病久而發落者。精血虛。病風而發落者。血液燥。潤澤者。血氣未竭。故生。枯槁者。血氣已竭。故死。善診者。察其發。觀其證。可以知其逆從矣。若夫髮直如麻者。小腸絕。髮結如穗者。小兒疳。面無血色。頭髮墮落者。血極之證。面色不變。頭髮逆上者。癇病之徵。汗出發潤。喘不休者。肺先絕。齒長骨枯。發無澤者。骨先死。此皆診發之目也。</p>

<h2>診頭望法提綱</h2>
<p>頭為五體之尊。百骸之長。自囟至心。如絲相貫不絕。是謂諸陽之會。精神之府。望之之法。可不深求其理哉。按內經陽明之脈行於前。太陽之脈行於後。少陽之脈行於側。厥陰之脈會於巔。督則自背中行而上頭至鼻。任則自腹中行而上頤循面。此皆經絡之行。即部位之分也。由是以形言之。則骨部皆大者多壽。骨部皆小者多夭。皮肉腫起者為實。皮肉陷下者為虛。囟陷者。腦髓不足而難治。囟腫者。臟腑不調而難療。骨縫不合者。賦稟弱。頭項皆軟者。血氣虧。此察頭形之綱領也。以容言之。則仰首者。其病在陽。俯首者。其病在陰。蹙其額者。頭痛。皺其眉者。心憂。頭項強直者。邪氣實。頭垂傾欹者。正氣虛。頭獨動搖者。風也。更有心絕之證。頭難回顧者。寒也。亦屬陽明之經。此察頭容之綱領也。夫如是。視上下以辨其經絡。審左右以究其逆從。合之五官。參之四診。而形容之變。病症之殊。皆可識常通變矣。至於妊娠四月。欲知男女。遣妊娠面南行。還復呼之。左回首者是男。右回首者是女。亦想當然耳。</p>

<h2>面形分屬五臟</h2>
<p>嘗思診面之法。非特明堂五色。面貌五官。可分五臟也。其面形亦有可分者二。一則因形層以分之。如肝合筋。心合脈。脾合肉。肺合皮。腎合骨。筋者肝之部。脈者心之部。肉者脾之部。皮者肺之部。骨者腎之部。推而論之。皮有厚薄澤夭。肉有肥瘦消長。脈有小大遲數。筋有粗細緩急。骨有大小堅脆。太過者為有餘。不及者為不足。皆可辨其盛衰虛實焉。此形層之分也。一則因經絡以分之。如督脈自背中行而上頭至鼻。任脈自腹中行而上頤循面。衝脈榮於唇口。蹺脈會於睛明。聽宮顴髎之分。手太陽也。眉沖五處之分。足太陽也。迎香禾髎之分。手陽明也。頰車巨髎之分。足陽明也。耳門和髎之分。手少陽也。前關聽會之分。足少陽也。推而論之。腫起者為實。陷下者為虛。腫起為太過。其病在外。陷下為不及。其病在內。此經絡之分也。由是觸類旁通。即一指之小。四體之大。其形層經絡。無不皆然。至若因證言病。如諸書所謂大頭瘟。兩目鼻面腫者。陽明。耳前後並額角腫者。少陽。腦後項下腫起者。太陽。面腫曰風。面目腫大。時熱。脈沉滑。中有水氣。曰風水。面浮腫。氣逆多涕唾。曰咳上氣。面浮腫。息肩。脈浮大。曰不治。短氣面腫。鼻不聞香。咳嗽唾痰。兩脅脹痛。喘息不定。曰肺勞。面目浮腫。曰陽虛胃冷。面目浮腫至項。曰陽虛氣結。病人營衛竭絕。面浮腫。曰死。面腫色蒼黑。曰死。咳嗽羸瘦。脈堅大。曰死。咳嗽脫形發熱。脈小堅急。曰死。肌瘦下脫。形熱不去。曰死。兩腮消瘦縮入。曰胃虛肉絕。外此而痘疹、癰疽、癘風、時疫。其病在頭面者。皆可按部位。分經絡。合之面容。參之面色。以辨其同異。而判其吉凶也。然其中腫起為實。浮腫為虛。何也。蓋形之聚散不同。色之澤夭亦異。實者邪氣實。虛者正氣虛。腫而屬虛者。邪氣實而正氣虛也。推之於痘疹癰疽。其義一也。</p>

<h2>面容分屬五臟</h2>
<p>診面之法。有形焉。有容焉。分而言之。則理明。合而診之。則病著。夫形也者。言乎其體也。容也者。言乎其態也。以形為體。以態為用。而五臟之分。五志之辨。可由是而察焉。何者。怒則厲然而目張。喜則油然而頤解。思則嫗然而瞼定。悲則瞿然而泣出。恐則薄然而氣下。怒者肝之容。喜者心之容。思者脾之容。悲者肺之容。恐者腎之容。此面容五臟之分也。怒則氣逆。喜則氣緩。思則氣結。悲則氣消。恐則氣下。此五臟之分。五志之病也。由是而觀。有太過。有不及。太過者。病在外。不及者。病在內。太過則薄所勝。而乘所不勝。其不及則所勝妄行。而所生受病。所不勝薄之也。然此就太過不及而言。又當隨時以處中焉。中庸云。喜怒哀樂之未發。謂之中。發而皆中節。謂之和。蓋中者無所偏倚。和者無所乖戾。當喜怒而喜怒。當哀樂而哀樂。無病之容也。其或發而不中。則有偏倚。發而失節。即有乖戾。故經曰。多陽者多喜。多陰者多怒。肝氣虛則恐。實則怒。心氣虛則悲。實則笑不休。怒傷肝。悲勝怒。喜傷心。恐勝喜。思傷脾。怒勝思。憂傷肺。喜勝憂。恐傷腎。思勝恐。蓋以五志之變。合五行而推也。善診者。觀察病人之態。推而極之。補其偏。救其弊。則失中者中。而違和者和矣。</p>

<h2>診腹望法提綱</h2>
<p>嘗觀銅人內景諸圖。臍在腹中。胃居臍上。腸居臍下。其中行直行者。任脈也。次於任脈者。足少陰。次於少陰者。足陽明。陽明之旁。足厥陰也。厥陰之旁。足太陰也。若少陽則行於側。太陽則行於背矣。然其分屬臟腑者。又與脈行異。如胸膈之上。心肺之部也。脅肋之間。肝膽之部也。臍上屬胃。臍下屬腸。大腹屬太陰。臍腹屬少陰。少腹屬厥陰。衝任在於中央。腎部主乎季脅。以及左脅屬肝。右胠屬脾。皆診家所宜究心者。由是而觀。則上下左右不同。前後中外亦異。按其經絡。分其部位。而病症之殊。治療之辨。亦有確可憑者。如腹大支滿。或上肢兩脅者。屬胃。脅下脹痛。善太息。口苦者。屬膽。腹氣滿。少腹尤堅者。屬三焦。少腹偏腫而痛者。屬膀胱。少腹䐜脹。引腰而痛者。屬小腸。腸鳴而痛。飧泄不化者。屬大腸。䐜脹經溲不利者。為脾。喘而兩胠滿者。為肺。腹滿引腰背者。為腎。脅下滿而痛。引小腹者。為肝。小腹滿大。上走胃至心者。足厥陰。腹滿大便不利。上走胸嗌者。足少陰。厥而腹滿。響響然者。足太陰。是皆部位上下之分。臟腑經絡之辨也。析而言之。臟病為積。腑病為聚。積終不移。聚則轉移。居臍上為逆。居臍下為從。皮厚色蒼者。皆屬氣。皮薄色澤者。皆屬水。腫起者。為實。陷下者。為虛。腹腫脹者。病氣有餘。腹消減者。形氣不足。腹滿按之痛者。為實。按之不痛者。為虛。腹滿時減。復如故者。為寒。腹滿不減。且燥實者。為熱。新積痛可移者。易已。積不痛不可移者。難已。腹脹心窩未滿者。可治。心窩已滿者。不可治。缺盆未平者。可治。缺盆已平者。不可治。筋未青。漲高起者。可治。筋已青。漲高起者。不可治。從上腫下者。屬氣。其邪在外。從下腫上者。屬水。其邪在內。男從身上腫下。女從身下腫上者。易治。男從身下腫上。女從身上腫下者。難治。先起於腹。而後散於四肢者。可治。先起於四肢。而後歸於腹者。難治。旋消旋減者。正勝邪。為可治。旋消旋起者。正不勝邪。為不可治。石水起臍以下至小腹。腄腄然。上至胃脘者。死不治。久病腹皮甲錯。著於背而成深凹者。腸胃乾癟。亦死不治。是皆診腹之要也。至若按其腹。窅而不起。腹色不變。為膚脹。隨手而起。如囊裹水之狀。為水脹。腫聚往來上下。為蛔脹。彈之而聲空者。是氣。彈之而聲實者。是水。婦人腹皮寬大者。子多。緊急者。子少。妊娠腹形如箕者。是男。腹形如釜者。是女。男胎腹硬。女胎腹軟。如覆杯者則男。如肘頭參差起者。則女。冷者為死。溫者為生。若是雙軀。令人摸之。冷在何面。則知死在何處。凡諸診候。能參合而行之。皆確有可憑者焉。</p>

<h2>診背望法提綱</h2>
<p>嘗思古聖以背為陽。腹為陰。先賢以背為陰。腹為陽。豈前後有異。而上下不同歟。然愚謂以體之剛柔言。則背陽而腹陰。以用之動靜言。則背陰而腹陽。且陽化氣。陰成形。是腹背皆可謂之陰。陽在外。陰在內。是腹背皆可謂之陽。陰陽之道。其大無外。其小無內。豈特一端而已哉。夫背者。胸中之府。其中行乃督脈之所行。其第二行挾脊各一寸半。第三行挾脊各三寸者。太陽之所行也。其經脈自上而下。則部位有上下之分。其疾病或左或右。則部位有左右之辨。推而言之。身半以上為陽。身半以下為陰。左為陽。右為陰。皮膚在外為陽。筋骨在內為陰。是故上下標本不同。左右逆從亦異。診之之法。可不精求其理哉。言乎其形。則腫起者。邪氣實。陷下者。正氣虛。背高如龜曰龜背。脊骨如鋸曰脊疳。背爛透膜者。形壞豈能治。背平病水者。肺傷不可療。此形之因病而變者。言乎其容。則脊強者。病在太陽。反折者。病在督脈。背曲肩隨者。胸中之府將壞。項強腰折者。背上之經已傷。頸直背強。合身回側者。肝實之狀。骨枯髓減。腰脊不舉者。骨痿之形。呼吸搖肩者。心中堅。轉搖不能者。腎將憊。諸反張。大人脊容側手。小兒脊容三指者。不可治。此容之因病而變者。於是合氣色以觀其同異。參脈症而辨其本標。將虛中有實。實中有虛。雖變化無窮。而意見有定。庶幾其各當歟。且凡言實者。邪氣實也。言虛者。正氣虛也。邪氣實者。正氣有有餘不足。正氣虛者。邪氣有有餘不足。一切精微法。應作如是觀。非惟診背宜爾也。</p>

<h2>診手望法提綱</h2>
<p>四肢為諸陽之本。脾實主之。然有上下左右內外之分焉。嘗觀經脈篇。手之三陰。從臟走手。手之三陽。從手走頭。陽行於外。陰行於內。陽則自下而上。陰則自上而下。析而言之。左為陽。右為陰。上為陽。下為陰。手臂之在外者為陽。在內者為陰。自肩至肘曰臑。自肘至腕曰臂。臂下謂之掌。掌下謂之指。其大指曰拇指。其次指曰食指。內屬太陰。外屬陽明。其中指曰將指。其屈而不伸者。曰無名指。內屬厥陰。外屬少陽。其小者。曰小指。內屬少陰。外屬太陽。此皆經絡之行。即部位之分也。推而論之。男女有左右逆從之異。經絡有上下標本之殊。病症有內外淺深之辨。望之之法。可弗深究其理哉。以形言之。則形盛為有餘。形瘦為不足。手之壅腫者為實。手之枯細者為虛。左右偏枯曰偏風。手指墮落曰癘風。手掌腫無紋。曰陰虛氣絕。手背腫至腕。曰陽虛氣結。此皆以形言也。以容言之。則強者。病氣實。痿者。形氣虛。撒手者。陽氣外脫。握手者。陰邪內伏。手之伸者。病在陽。手之屈者。病在陰。屈不易伸。伸不易屈者。陰陽交合。陰陽俱病也。屈而不伸。其病在筋。伸而不屈。其病在骨。汗漏不止。四肢微急者。亡陽之證。小腹急痛。手足拘攣者。將死之容。攣急轉筋者。邪氣實而傷於寒。弛縱不收者。正氣虛而因於熱。瘛瘲不定者。筋脈相引而難瘳。振搖不定者。血氣俱虧而可療。兩手不舉者。脾實。四肢不收者。脾虛。掣衣揚手者。煩躁猶可解。循衣摸床者。實熱已難除。叉手冒心者。血液大虧。交手目瞀者。肺病臂厥。捶胸者。脹悶之狀。拒按者。疼痛之容。手如數物者。風癇。手不欲動者。脾虧。指不用者。屬脈。臂不遂者。為痹。手足漐習者。肝絕之形。手足嚲曳者。風懿之狀。此皆以容言也。於是合形容而診之。按經絡而驗之審其寒溫。察其部位。參四診以究同異。分三因而辨本標。病症之殊。療治之變。庶乎知所適從矣。</p>

<h2>診足望法提綱</h2>
<p>嘗考內經。陽氣起於足五趾之表。陰氣起於足五趾之裡。足之三陽。從頭至足。足之三陰。從足走腹。陽行於外。陰行於內。陽則自上而下。陰則自下而上。析而言之。左為陽。右為陰。上為陽。下為陰。足之在外者為陽。在內者為陰。自臀至膝。曰髀。自膝至踝。曰脛。踝下謂之跗。跗前謂之趾。其大趾。則少陽、陽明、厥陰、太陰之所行。其次趾、中趾。則陽明之所行。其次於小趾之次趾。則少陽之所行。其小趾。則太陽。少陰之所行。此皆經絡之辨。部位之分也。望之之法。可弗深究其形容哉。以形言。則形盛為有餘。形瘦為不足。脛腫跗腫者。水氣之實。脛枯腳小者。脾胃之虛。脛有大小者。腎壅偏枯。股無生肉者。脾虛氣竭。足下平滿者。傷腎之絕徵。腳底先穿者。癘風之敗證。十指墮落者。筋死。十趾不用者。經病。兩腿消瘦。曰腎消。獨膝腫大。曰鶴膝。足腫至踝。曰陽虛氣結。腳腫上脛。曰腳氣逆沖。身體羸瘦。獨足腫大者。營衛俱微。足趺壅腫。兩膝如斗者。胃氣欲絕。此皆以形言也。以容言。則屈者為陰。伸者為陽。強者邪氣實。痿者形氣虛。拘急者。寒邪。縱緩者。熱疾。瘛瘲者。筋脈相引。振掉者。血氣俱虛。屈伸不能者。筋將憊。屈伸不利者。腎已虧。屈而不伸者。病在筋。伸而不屈者。病在骨。陰緩而陽急者。陽蹺病。陽緩而陰急者。陰蹺病。跌蹶能前不能卻者。太陽經之傷。蹠跛或左而或右者。風寒濕之病。轉筋者。寒邪在筋。掣節者。寒邪在節。足縱而不任地者。大經空虛。足搖而不任身者。骨髓枯減。足不收者。脾氣虛。足不舉者。脾氣實。揚手擲足者。煩燥。逾垣上屋者。怒狂。筋緩不能行者。肝勞。棄衣而狂走者。胃實。立不能坐。坐不能起者。陰陽交合。陰陽俱病也。此皆以容言也。合形容而視之。審經絡而辨之。驗其足之寒溫。切其脈之動靜。參以四診。究其三因。而病症之變。標本之殊。亦可知其大略矣。</p>

<h2>毫毛望法提綱</h2>
<p>心主身之血脈。肺主身之皮毛。皮毛者。肺之合也。太陰者。肺也。行氣溫於皮毛者也。若析而論之。則經絡之行。部位之分。又各有所主。何則。督行於背。任行於腹。手之三陰。從臟走手。手之三陽。從手走頭。足之三陽。從頭走足。足之三陰。從足走腹。陰行於內。陽行於外。視其經絡。分其部位。其經之血氣盛。則充膚熱肉。血獨盛。則滲灌皮膚。生毫毛。彼言十二經之氣血多少者。論其常。此言充膚熱肉生毫毛者。察其變。毫毛有長短粗細美惡。由氣血有多少清濁盛衰。是皆因人而異者也。其因病而變。又各不同。毫毛畢直者。風寒外感之證。毫毛折落者。肺臟內絕之形。洒洒然毛聳者。太陽中暍。洒洒然毛立者。虛邪中人。毛焦者。寒熱在於皮肌。毛悴者。情志傷其臟腑。毛敗者。肺熱而金受火之克。毛枯者。疳病而金乏土之生。此皆診法之略也。由是而觀。當以粗而長者為血多。細而短者為血少。聳與直立為邪實。焦與枯敗為正虛。悴同折主死。美而澤主生。善診者。察毫毛。觀氣色。聽聲音。參脈證。可以知其吉凶矣。若夫毛竅之多寡。或言八萬四千。或言十萬八千。而究竟不知幾萬幾千。即能知其幾萬幾千。亦何取乎幾萬幾千。夫經絡之曲折。病證之紛紜。古聖述之於前。昔賢驗之於後。雖西醫剖視。不能如此其詳。而況針穴之微妙。石藥之功能。斷非技巧所能窺者乎。然則今人不逮古聖也遠甚。書曰。事不師古。鮮克有濟。</p>

<h2>腠理望法提綱</h2>
<p>聞之津液滲泄之所曰腠。紋理縫會之中曰理。腠者是三焦通會元真之處。理者是皮膚臟腑之紋理也。字書謂膚肉之間為腠理。以其有脈理焉。三說合觀。體用備矣。考之內經。則曰開、曰闔、曰粗、曰細。曰疏、曰密。有因天者。有因人者。有因腑而異者。有因病而異者。因天者何。熱則人氣在外。皮膚緩。腠理開。汗大泄。血氣減。皮淖澤。寒則人氣在中。皮膚致。腠理閉。汗不出。血氣強。肉堅澀。此腠理之開閉。因天之寒暑也。因人者何。膏者其肉淖。而粗理者身寒。細理者身熱。脂者其肉堅。細理者熱。粗理者寒。此腠理之粗細。因人之脂膏也。何謂因腑而異。三焦膀胱者。腠理毫毛其應。密理厚皮者。三焦膀胱厚。粗理薄皮者。三焦膀胱薄。疏腠理者。三焦膀胱緩。皮急而無毫毛者。三焦膀胱急。毫毛美而疏者。三焦膀胱直。稀毫毛者。三焦膀胱結。此腠理之疏密。因腑而異者也。何謂因病而異。陽勝則身熱。腠理閉。喘粗為之俯仰。汗不出而熱。齒乾以煩冤。腹滿死。能冬不能夏。陰勝則身寒。汗出身常清。數慄而寒。寒則厥。厥則腹滿死。能夏不能冬。此陰陽更勝之變。病之形能也。然陽病亦有汗出者。陰病亦有不汗出者。其開也衛氣虛。其閉也衛氣實。是又因證而異。可與診汗之法參觀也。要之。開則有汗。閉則無汗。察腠理之開閉。視汗液之有無一也。此腠理之開閉。因病而異者也。蓋觀粗細與疏密者。欲明其體。而觀開闔之常變者。欲達其用也。且夫腠理之開闔。非腠理之自為開闔也。有溫分肉。充皮膚。肥腠理。司開闔者焉。蓋衛氣也。衛氣者。下焦之所出。太陰主其內。太陽主其外者也。陰平陽秘。衛氣和矣。衛氣和。則分肉解利。皮膚調柔。腠理致密矣。如是而云開闔。則似開非開。似闔非闔。然非不開也。非不闔也。有時而開。有時而闔。或因寒暑。或因冷暖。或因動靜。非病也。常也。時開則開。時闔則闔者也。設或不當開而開。不當闔而闔。豈得謂之無病哉。合汗而診之。因時而驗之。參證而辨之。知其開闔之常。即知其開闔之變矣。經曰。謹察衛氣。為百病母。腠理之開闔。衛氣之虛實也。開闔虛實。蓋可以忽乎哉。</p>

<h2>尺膚望法提綱</h2>
<p>嘗謂從魚際至高骨。卻行一寸。故謂之寸。從尺澤至高骨。卻行一尺。故謂之尺。尺膚者。尺澤至高骨之膚也。蓋氣口為肺之脈。皮膚為肺之合。脈行膚內。膚在脈外。故視膚而有取乎尺也。其視之之法有六。曰緩、曰急、曰滑、曰澀、曰賁而起、曰減而少氣。夫緩者尺膚縱緩不急也。急者尺膚緊急不緩也。滑則不澀。而有流利之容。澀則不滑。而有蹇滯之貌。賁而起者。沸起之狀。減而少氣者。損少之形。蓋緩則為熱。急則為寒。滑屬陽而氣淖澤。澀屬陰而血凝泣。賁而起者。太過為實。減而少氣者。不及為虛。六者合觀。變在其中矣。經曰。脈急者。尺之皮膚亦急。脈緩者。尺之皮膚亦緩。脈滑者。尺之皮膚亦滑。脈澀者。尺之皮膚亦澀。脈大者。尺之皮膚亦賁而起。脈小者。尺之皮膚亦減而少氣。然則色脈皮膚。皆當相應也。合而觀之。亦可推其順逆焉。千金云。風病則滑。痹病則澀。氣血盛。則尺之肉豐盛。氣血虛。則尺之肉虧竭。此亦診尺之要也。論疾診尺篇曰。尺膚滑。其淖澤者。風也。尺肉弱者。解㑊。安臥脫肉者。寒熱不治。尺膚滑而澤脂者。風也。尺膚澀者。風痹也。尺膚粗如枯魚之鱗者。水泆飲也。尺澀脈滑。謂之多汗。尺寒脈細。謂之後泄。尺粗常熱者。謂之熱中。尺堅大。脈小甚少。氣悗有加。立死。是又診尺膚以參脈證。參脈證以決死生矣。至若尺之部位。手之寒溫。因切而知者。容後續述。</p>

<h2>診皮望法提綱</h2>
<p>嘗思診尺膚之法。可察皮之滑澀。診腠理之法。可察皮之粗細。然皮不僅觀尺膚。法不僅觀腠理。則夫周身之皮。當講周身之法。而尺膚腠理之診。亦宜比例而觀焉。何則。周身之皮。實由周身之脈以灌溉。周身之脈。當分周身之部以參觀。故經言。欲知皮部。以經脈為記。夫皮者。肺之合也。筋骨在內為陰。皮膚在外為陽也。析而論之。如形充而皮膚寬緩者壽。形充而皮膚緊急者夭。皮與肉相裹則壽。皮與肉不相裹則夭。薄皮弱肉者。不勝時之虛風。厚皮堅肉者。能勝時之虛風。皮虛者寒。皮實者熱。皮膚腫脹者。邪氣實。皮膚消減者。正氣虛。皮膚腫痛者。病氣有餘。皮膚潰爛者。形氣不足。皮膚潤澤者。太陰氣盛。皮毛枯槁者。太陰氣衰。皮毛焦者。手太陰氣絕。皮膚著者。足太陰肉絕。皮聚毛落者。肺損。皮枯毛折者。肺絕。皮毛虛弱者。肺熱葉焦。皮膚頑痹者。癘風皮病。身冷膚硬者。脾不上下。皮膚薄著者。經脈空虛。皮膚不收。肌肉堅聚者。寒濕之證。皮膚空疏。三焦經絕者。血崩之徵。肌膚甲錯。兩目黯黑者。內有乾血。身皮甲錯。腹中急痛者。內生癰膿。皮膚潰而有瘍者。癘風也。皮膚脫若蛇皮者。癘風也。癘風遍身如癬者。脾病。癘風潰爛無膿者。血死。少年皮生黑斑者。不吉。痘兒頭項皮赤者。多凶。凡腫脹。皮厚色蒼者。皆屬氣。皮薄色澤者。皆屬水。諸痛瘡瘍。斑疹麻痘。色赤而紅者順。青而黑者逆。諸病症。皮寒而燥者。陽不足。皮熱而燥者。陰不足。身澀而脈滑者死。身滑而脈澀者死。此皆皮部之診也。由是推而言之。則壽夭診於緩急。強弱診於厚薄。消減腫脹。以診其虛實。潤澤枯槁。以診其盛衰。八者交參。則診視之法備。而皮膚之變詳。夫如是。按經絡而分內外陰陽。察部位而分上下左右。參伍以觀。錯綜以變。庶乎其有得歟。</p>

<h2>診肉望法提綱</h2>
<p>經言肝主身之筋膜。脾主身之肌肉。肉之大會為谷。肉之小會為谿。分肉之間。谿谷之會。以行營衛。以會大氣。聖人於此。不啻三致意焉。且脾胃屬土。其充在肌。故觀肌肉之消長。可知脾胃之盛衰。夫脾者。孤臟以灌四旁者也。胃者。五臟六腑所稟氣者也。診脈雖以胃氣為本。觀形當以肌肉為先也。若夫形肉已脫。九候雖調。聖人不曰可生。而曰猶死。則是肌肉之消長。尤關胃氣之有無矣。診之之法。其可不講乎。析而言之。如形充而大肉䐃堅而有分者肉堅。肉堅則壽矣。形充而大肉無分理不堅者肉脆。肉脆則夭矣。肥而澤者。血氣有餘。肥而不澤者。血有餘。氣不足。瘦而無澤者。血氣不足。瘦而澤者。血不足。氣有餘。肥者耐寒。瘦者耐熱。肉瘦削者脾虛。肉壅腫者脾實。肉蠕動者脾病熱。肉瞤瞤者脾中風。筋惕肉瞤者陽虛。食減肉消者意損。瘦削乾黑者。肉極之證。肉宛膲弱者。肉痿之徵。肉上粟起者。寒客皮膚。肌膚不仁者。邪入絡脈。肌肉充盛者。形氣有餘。肌肉消減者。形氣不足。肥人肉如棉絮者。謂之無氣。婦人肌若魚鱗者。謂之帶下。骨痛肉枯者。寒勝其熱。爛肉腐肌者。熱勝其寒。疳病形容羸瘦者。症起腸胃之內。癉瘧肌肉消爍者。邪舍分肉之間。脫肉者死。破䐃者死。大肉陷下。大骨枯槁者皆死。肌肉不滑澤。肉滿唇反者。肉先死。癘風割切不痛者。肉先死。肉痿軟。唇反。人中滿者。肉先死。此皆肌肉之診也。由是約而言之。當以堅脆診壽夭。以肥瘦診血氣。以有澤無澤診盛衰。以消減壅腫診虛實。八者交推。則診候之法備。而肌肉之證明。所謂肌者。四肢間附骨之肉也。䐃者。肘膝後如塊之肉也。曰谿曰谷。則以血之流注。如水之流注。水注川曰谿。注谿曰谷也。若夫形盛脈細。少氣不足以息者危。形瘦脈大。胸中多氣者死。是又合脈以觀之。因症以辨之。審其順逆。而判其吉凶矣。大凡診法。皆當錯綜相參。非獨診肌云爾。</p>

<h2>絡脈望法提綱</h2>
<p>聞之直行曰經。橫行曰絡。諸脈之浮而外見者。皆絡脈也。絡也者。本經別出之旁支。聯絡於他經者也。析而論之。經十二。絡十五。皆辨其行。以分其部。按其部。以診其病焉。經絡論。黃帝問於岐伯曰。夫絡脈之見也。其五色各異。青黃赤白黑不同。其故何也。岐伯對曰。經有常色。而絡無常變也。言經脈之色有常。絡脈之色無常也。帝曰。經之常色何如。岐伯曰。心赤、肺白、肝青、脾黃、腎黑。亦皆應其經脈之色也。言五臟之經。應五臟之色也。帝曰。絡之陰陽。亦應其經乎。岐伯曰。陰絡之色應其經。陽絡之色變無常。隨四時而行也。言陰絡之色應五臟。陽絡之色應四時。陽外而陰內也。其寒多則凝泣。凝泣則青黑。熱多則淖澤。淖澤則黃赤。此皆常色。謂之無病者。以其變之因乎時。不因乎病。故亦以為常也。五色具見者。謂之寒熱。以其不應時之寒。不應時之熱。故以為寒熱也。皮部論曰。其色多青則痛。多黑則痹。黃赤則熱。白則寒。五色皆見。則寒熱也。蓋陽絡隨時而行者。變從乎外。天道之常也。因病而見者。變從乎內。人道之變也。合時與病而察之。可知其變中之常。常中之變矣。至於兩跗上脈豎堅陷者。足陽明病。魚絡血者。手陽明病。手魚絡青者。胃中有寒。魚際絡赤者。胃中有熱。魚際脈黑者。或是癇候。其暴黑者。留久痹也。其青短者。少氣也。頸脈動。喘疾咳曰水。耳間青脈起者。為掣痛。耳後完骨上青絡盛。臥不靜者。是癇候。臂多惕脈者。謂之脫血。經脈動惕者。久而成痿。驚跳不定者。即為脈虛。青紫之脈。散見於面者。多病風熱。紅赤之脈。散見於腮者。多病痘疹。此皆陰陽之絡。因病而變者。亦宜合時與病而察之也。然愚謂營行脈中。衛行脈外。絡脈之見。皆當有血色以間乎其中焉。變見於左者。應在左。變見於右者。應在右。左右皆見。左右皆病。察其何部何色。而斷其何臟何腑也。至於絡之形容。亦有粗細浮沉長短緩急之殊焉。推而論之。則絡之粗者。病氣有餘。絡之細者。形氣不足。猶脈之大則病進。細則氣衰也。絡之浮者病在外。絡之沉者病在內。猶脈之浮為在表。沉為在裡也。絡之長者氣治。絡之短者氣病。猶脈之長則氣治。短則氣病也。絡之緊急者為寒。絡之縱緩者為熱。猶脈之急為寒。緩為熱也。於是乎因人大小。而定絡之粗細。因人肥瘦。而定絡之浮沉。相時寒暑。以驗緩急。相時冷暖。以驗短長。八法互觀。合之絡色。參之脈證。庶乎可通其變矣。經曰。凡此十五絡者。實則必見。虛則必下。其見浮而堅。其見大而明者多血。細而沉者少氣。亦此意歟。若夫幼科食指之紋。即手太陰之絡也。痘科耳後之筋。即手少陽之絡也。皆可以是參觀者也。</p>

<h2>絡脈主病提綱</h2>
<p>絡脈已言其診法矣。然必先知其部。與其病焉。靈樞曰。手太陰之別。名曰列缺。實則手銳掌熱。虛則欠㰦。小便遺數。手少陰之別。名曰通里。實則支膈。虛則不能言。手心主之別。名曰內關。實則心痛。虛則頭強。手太陽之別。名曰支正。實則節弛肘廢。虛則生肬。手陽明之別。名曰偏歷。實則齲聾。虛則齒寒痹膈。手少陽之別。名曰外關。實則肘攣。虛則不收。足太陽之別。名曰飛陽。實則鼽窒。頭背痛。虛則鼽衄。足陽明之別。名曰豐隆。實則癲狂。虛則足不收。脛枯。足少陽之別。名曰光明。實則厥。虛則痿躄。坐不能起。足太陰之別。名曰公孫。厥氣上逆則氣亂。實則腸中切痛。虛則鼓脹。足少陰之別。名曰大鐘。氣逆則煩悶。實則閉癃。虛則腰痛。足厥陰之別。名曰蠡溝。氣逆則睪腫卒疝。實則挺長。虛則暴癢。任脈之別。名曰尾翳。實則腹皮痛。虛則癢瘙。督脈之別。名曰長強。實則脊強。虛則頭重。脾之大絡。名曰大包。實則身盡痛。虛則百節皆縱。凡此十五絡者。實則必見。虛則必下。視之不見。求之上下。人經不同。絡脈異所別也。夫經言虛實者。絡脈之病。經言名目者。絡脈之部。知其病而察其部。則察其部而知其病矣。經又曰。凡診絡脈。脈色青則寒且痛。赤則有熱。其暴黑者。留久痹也。其有赤、有黑、有青者。寒熱氣也。其青短者。少氣也。是則不但知其虛實。且知其寒熱矣。合前篇觀之。其體用不已備乎。（別也之別當作故）</p>

<h2>診筋望法提綱</h2>
<p>竊聞筋者力也。肉中之力。氣之元也。靳固於身形也。其候在目。其主在肝。膝為之府。爪為之餘者也。以部位分之。則手之筋行乎手。足之筋行乎足。陽明行於前。太陽行於後。少陽行於側。陰筋行乎身之陰。陽筋行乎身之陽。皆依經脈而行。可依經脈而分也。詳觀經筋篇。手陰陽之筋。皆起於手指。陽筋自手而上行於頭面。陰筋自手而上行於胸腹。足陰陽之筋。皆起於足趾。陽筋自足而上行於頭面。陰筋自足而上行於胸腹。其為病也。皆當其所過者。轉筋支痛。治用燔針劫刺。以知為數。以痛為輸。蓋燔針所以治寒。不燔針所以治熱。診候之法。寒則見其筋攣反折。熱則見其弛縱不收。在陽筋則見其不能俯。在陰筋則見其不能仰。見於膝則行走難以屈伸。見於身。則左右難以動搖。損在筋者。筋緩不能自收持。痹在筋者。筋攣不可以行走。筋極肝傷。則腰背相引。難以俯仰。筋死肝絕。則舌卵捲縮。不能展舒。及夫痙癇瘛瘲。頹疝陰病。紐痛腫痛。口目僻急。皆可按部位而知經筋也。若望其筋。知其病。惟腫脹有筋起之證。傷寒有筋惕之文。腫脹以青漲高起者。為不可治。則知未青漲高起者。猶可治也。傷寒以筋惕為發汗亡陽所致。則知用溫經益陽之法。當可治也。至於筋溜者。有所疾前。筋屈不能伸。邪氣居其間而不反也。疹筋者。尺脈數甚。筋急而見。其腹必急。白色黑色見。則病甚也。斯二者。亦可望筋而知病也。其他筋瘻、筋急、筋攣。筋弛。亦有可見。有不可見。然察其病情。按其部位。皆可知其病在何經之筋也。由是合而察之。切而驗之。見而得之。而經筋之病。庶可知其要矣。</p>

<h2>診骨望法提綱</h2>
<p>聞之精神者。天之分。骨骸者。地之分。屬天者。清而散。屬地者。濁而聚。是故陽化氣。陰成形。精神為陽。骨骸為陰。且骨者髓之府。髓者骨之充。其候在耳。其主在腎。診之之法。盛則見其筋骨勁強。衰則見其形容傴僂。骨損則見其骨痿。不能起床。骨極則見其齒動。不能久立。見於痹。則骨重而難舉。見於病。則肢伸而不屈。其行而振掉。立不能久者。則知骨之將憊。發無潤澤。肉不相親者。則知骨之先亡。及夫頭背腰膝之骨。得強則生。失強則死。此皆骨之形容於外者也。若見其骨。知其病。如靈樞云。顴骨者。骨之本也。顴大則骨大。顴小則骨小。其形充而顴不起者骨小。骨小則夭矣。然則形充而顴起者骨大。骨大當壽矣。千金云。兒生枕骨不成者。能言而死。尻骨不成者。能倨而死。掌骨不成者。能匍匐而死。踵骨不成者。能行而死。臏骨不成者。能立而死。頭四破不成人。通身軟弱如無骨者。不壽。此亦得強則生。失強則死之謂也。若夫經言五色之見。各出其色部。部骨陷者。必不免於病。其色部乘襲者。雖病甚不死。則知部骨不陷者。可免於病。部骨陷而色乘襲者。若病甚則危也。是又合氣色骨部而觀之也。他如大骨枯槁。大肉陷下。皆為死證者。以其脾腎絕於內。骨肉消於外。枯槁則皮著。骨陷下則肉消盡也。至於賦稟不齊。骨骸有異。又如本藏篇所謂赤色小理者。心小。粗理者。心大。無𩩲骭者。心高。𩩲骭小短舉者。心下。𩩲骭長者。心堅。𩩲骭弱小以薄者。心脆。𩩲骭直下不舉者。心端正。𩩲骭倚一方者。心偏傾。白色小理者。肺小。粗理者。肺大。巨肩反膺陷喉者。肺高。合腋張脅者。肺下。好肩背厚者。肺堅。肩背薄者。肺脆。背膺厚者。肺端正。脅偏疏者。肺偏傾。青色小理者。肝小。粗理者。肝大。廣胸反骹者。肝高。合脅兔骹者。肝下。胸脅好者。肝堅。胸脅弱者。肝脆。膺腹好相得者。肝端正。脅骨偏舉者。肝偏傾。此又骨骸之常也。至若骨之小大多寡。合骨度篇、洗冤錄觀之。可知其要。然非診家之急。故不備錄。</p>

<h2>爪甲望法提綱</h2>
<p>竊聞爪之生。發之長。營衛之行。無頃刻止。且爪者。筋之餘。膽之外候也。靈樞曰。膽應爪。爪厚色黃者膽厚。爪薄色紅者膽薄。爪堅色青者膽急。爪濡色赤者膽緩。爪直色白無約者膽直。爪惡色黑多紋者膽結。蓋膽者肝之腑。爪者肝之華。故以爪候膽也。然候膽者言其常。而診病者論其變也。其變維何。爪甲青者多凶。爪甲赤者多熱。爪甲黃者疸病。爪甲白者寒證。爪甲黑者。或因血瘀而痛。或因血凝而死。要之潤則吉。枯則凶。爪色雖殊。其變皆決於此矣。諸書謂痹病骨痛爪枯者。足少陽血氣皆少。色蒼爪枯者肝熱。爪甲黑。乾嘔面青。肢厥冷者病凶。病人爪甲白者不治。爪甲青者死。爪甲下肉黑者。八日死。手足爪甲青。呼罵不休者筋絕。九日死。小兒爪甲青黑。忽作鴉聲者肝絕。小兒咬爪甲者。乳少成疳。心病為瘧。心煩甚。欲得清水。反寒多熱不甚。若其人本來心性和雅。今忽弊急。言未竟便住。以手剔腳爪。此人心死。名曰行屍。是皆診爪之目也。能參合而行之。庶無虛虛實實之弊矣。</p>

<h2>診乳望法提綱</h2>
<p>診乳之法。內經未言。李梃醫學入門云。女人屬陰。陰極則必自下而上衝。故乳房大而陰戶縮也。男子屬陽。陽極則必自上而下降。故陰莖垂而乳頭縮也。楊士瀛曰。男子以腎為重。婦人以乳為重。上下不同。而性命之根則一。診乳之法。觀此亦可心解矣。何也。相書謂婦人乳頭朝上。生子易養。乳頭朝下。生子難養。以脾胃衝任之有強弱也。乳大者子多。乳小者子少。以脾胃衝任之有盛衰也。白小低偏者。子息難。以形色虧也。黑大堅硬者。子息好。以形色全也。男胎則左乳先脹硬。女胎則右乳先脹硬。陽從左。陰從右也。婦人受孕。其乳當轉黑。小兒臍風。其乳當結核。有諸中。形諸外也。至於婦人乳中堅硬。不紅不痛者。乳岩也。乳中腫脹。色紅且痛者。乳癰也。癰者壅也。疽者阻也。六腑有所壅。則為癰。五臟有所阻。則為岩也。合色脈而察之。亦診婦人赤子之一助云爾。</p>

<h2>臍府望法提綱</h2>
<p>臍之為言。齊也。以其當兩腎之中。前直神闕。後直命門。而上下齊也。臍也者。人之命蒂也。或謂胎中之息在臍。道家之息在臍。殊不知雞乳而卵中不閉。水脹而臍內不通。況觀於剪臍而帶中血出。懷孕而腹中子鳴。益可知母氣通於兒鼻。母血通於兒臍矣。然此特論臍之理。非望臍之法也。望之之法。諸書謂臍大者多壽。臍小者多夭。以臍中為神闕。相體之本也。婦人臍深者子多。臍淺者子少。以臍內為子宮。衝任之屬也。人病臍腫反出者。死。以倉廩之本既竭。飲食之精不輸也。水病臍腫突出者死。以決瀆之令不行。州都之氣不化也。積聚腫脹。臍不凸者可治。臍凸者不可治。微則在於臟腑血脈之間。甚則舍於臟腑血脈之外也。懷孕三四月。臍便平滿者。女胎也。懷孕八九月。臍方平滿者。男胎也。女胎背母而懷。男胎面母而懷也。小兒多啼而臍凸者。氣逆於內也。小兒撮口而臍黑者。氣絕於中也。懷孕之外證。臍色當紅黑。臍風之死候。臍府當青硬。此謂誠於中。形於外。知微之顯也。膿從臍出。瘡繞臍生。腸癰之候也。任脈循臍而上。衝脈俠臍而行。又察臍之所宜知者。若合病症而觀之。亦診家之一助云爾。</p>

<h2>腎囊望法提綱</h2>
<p>嘗謂肝脈絡陰器。囊形屬腎臟。故以腎為名也。然任脈起於會陰之分。督脈絡於合篡之間。是二經亦各有所主焉。察之之法。其惟形色乎。以形言之。囊宜小。紋宜細。小兒囊緊實者。多壽。氣勝形也。囊墜下者。多病。形勝氣也。傷寒六七日。囊縮者。厥陰病甚。邪氣傳入其經也。傷寒十二日。囊縱者。厥陰病衰。邪氣傳出其經也。囊脹者謂之疝。任脈為病也。囊腫者謂之水。關門不利也。陰囊更加腫脹。漸漸潰腐者。病水死徵。睪丸偏有大小。時時上下者。陰狐疝氣。此觀形之法也。以色言之。小兒腎囊緊細色紫者多壽。氣血足也。寬大色白者多疾。氣血虧也。陰囊縐黑有弦者易養。形色皆順也。陰囊色赤無紋者難養。形色皆逆也。此察色之法也。合而診之。可通變矣。</p>

<h2>陰莖望法提綱</h2>
<p>夫前陰者。宗筋之所聚。太陰陽明之所合也。其精竅通於腎。溺竅通於脬。陰器屬於肝。督脈絡之。帶脈束之。衝任滲灌之。陽明主潤而為之長。動乎情。宰乎心。而其病則生於房室。診之之法。如經言宗筋縱者。陽明虛。宗筋痿者。肝氣弱。縱挺不收者。足厥陰之經傷於熱。縮入不用者。足厥陰之經傷於寒。陽強則有腎熱強中之證。陰痿則有魂傷骨極之因。陰氣不起者。傷於內。囊莖腫脹者。屬於疝。陰囊及莖俱腫者。水病之死證。陰囊及卵俱縮者。肝經之絕候。疳瘡者。淫穢之毒。腫痛者。濕熱之徵。凡此諸候。當參四診。辨其寒熱虛實。察其輕重淺深。庶可識常通變矣。至於兒生陰物不起。亦為死證者。豈以賦稟不足。形體未備歟。特察小兒。宜從望診。故並述之。</p>

<h2>診汗望法提綱</h2>
<p>嘗思汗液之有無。由於腠理之開闔。而腠理之開闔。則因衛氣之虛實。故經云。陽氣有餘。為身熱無汗。陰氣有餘。為多汗身寒。陰陽俱有餘。則無汗而寒。夫汗者。心之液。在營則為血。在衛則為汗者也。若因而診之。有部位之分。有形色之辨。部位者何。在陽經之部者屬乎陽。在陰經之部者屬乎陰。頭額汗出者。病在諸陽。手足汗出者。病在於胃。心窩汗出者。心臟虧虛。陰下汗出者。下焦濕熱。汗出偏沮者。使人偏枯之先兆。汗不至足者。熱病咳衄之危證。此皆部位之分也。形色者何。三陽實。三陰虛者。汗不出。三陰實。三陽虛者。汗不止。有汗身熱者。陽邪在營。無汗身熱者。陰邪在衛。汗出少者為自和。汗出多者為太過。風濕發汗。微微似欲汗出者。風濕俱去。漐漐如水流漓者。病必不除。黃汗者。濕熱之證。白汗者。厥氣之徵。紅汗者。氣虛之候。小兒初生。汗出如血者。多夭壽。小兒初生。汗出不流者。不成人。汗出如浴者。酒風之候。汗出如油者。命絕之容。汗出如流珠。脈浮者。衛氣衰。汗大如貫珠不流者。元氣絕。濈濈然汗出者。表將解。漐漐然汗出者。里未和。汗出不止者。陽亡於外。奪血無汗者。陰虛於內。此皆形色之分也。若夫時有寒暑。衣有冷暖。形有動靜。腠理因之而開闔。汗液因之而有無。非病也。常也。其或飲食飽甚。汗出於胃。驚而奪精。汗出於心。持重行遠。汗出於腎。疾走恐懼。汗出於肝。搖體勞苦。汗出於脾。是皆人事之異。非病候之殊也。故善診汗者。必視寒暑。觀冷暖。察動靜。知其汗之常。以審其汗之變。夫而後可按部位。辨形色。以分其表裡。而判其虛實焉。他如熱汗為陽。冷汗為陰。宜合體之冷熱而分之。合病之陰陽而辨之。則其診益備。其用益明矣。</p>

<h2>診血望法提綱</h2>
<p>嘗思血之為物也。和調於五臟。灑成於六腑。其色屬火。其形類水。內主於心。外行於營。循環上下。灌溉周流。以應度數。以奉生身。故經曰。血氣者。人之神。不可不謹養。若乃將息失宜。嗜欲過度。外感六淫之邪。內動五臟之志。營衛不調。臟腑相勝。有過不及。病斯見焉。彼謂諸見血皆熱證者。是知其屬火。而不知其類水。知其太過。而不知其不及也。析而論之。則出於九竅。曰九竅出血。出於小便曰尿血。曰血淋。出於大便。曰腸風。曰血痔。從鼻出曰鼻衄。從舌出曰舌衄。從齒齦出曰齒衄。從汗孔出曰肌衄。因嘔而出曰嘔血。因吐而出曰吐血。因咯而出曰咯血。因唾而出曰唾血。因咳而出曰咳血。因嗽而出曰嗽血。凡諸血證。所出不同。所因亦異。而況有毆傷出血。跌僕出血者乎。況有月事逆行。傷寒誤汗者乎。他如外科之瘡瘍出血。女科之崩漏奪血。以及胎前產後。半產下痢。亦指不勝屈矣。故內經謂諸血皆屬於心則可。丹溪謂諸見血皆熱證。則斷斷不可。且就血而論其形色。亦有可辨。如諸書謂精壯者。血輪多。故色濃而赤。虛弱者。血輪少。故色淡而稀。陽證溢出鮮血。陰證下如豚肝。新血鮮紅。舊血瘀黑。色之鮮紫濃厚者。為氣盛。色之晦暗無光者。為氣衰。風證色青。寒證色暗。暑證色赤。濕證色如煙煤屋漏。便血淺褐色者已重。深褐色者尤重。褐色變黑者極重。吐血帶痰沫及粉紅色者屬於肺。正赤如朱漆光澤者。屬於心包絡。鮮紫濃厚者屬於脾。青紫稠濃。或帶血縷。或有結塊者屬於肝。咯吐稀痰。中雜如珠。血無幾。色不鮮者屬於腎。成盤成盞。多兼水穀痰涎者屬於胃。若從大便出者。多屬大小腸。從小便出者。多屬膀胱腎。此皆因形色而分也。其出於五官四體。又當因經絡而分焉。故經曰。陽絡傷。則血外溢。血外溢。則衄血。陰絡傷。則血內溢。血內溢。則後血。凡血證。陽證則身熱多渴。陰證則身冷不渴。有潮熱者重。無潮熱者輕。上行多逆。下行多順。若吐出便凝。摸之不黏指者。為守臟之血。口鼻俱出如湧泉者。為心肺脈破。則皆不可治也。然予猶有說焉。如吐血先鮮紅而後凝紫。先多而後少。先疾而後徐者。其勢漸減。先凝紫而後鮮紅。先少而後多。先徐而後疾者。其勢漸增。亦皆可以相參也。若夫因氣色而病異。因脈證而病異。又當合四診而觀之。此特粗舉隅焉。以明諸見血。非皆熱證也。丹溪謂知其要者。可一言而終。言不可以若是其幾也。何也。不知其要。斯害也已。</p>

<h2>診痰望法提綱</h2>
<p>嘗謂虞書記時以鳥獸。月令占候於蟲魚。是因天之物以驗天也。內經診病於水液。後世辨證以痰涎。是因人之物以驗人也。蓋天道遠。人道邇。遠取諸物。近取諸身。其事雖異。其理則同。而況痰因病生。病以痰著。又事理之至明且顯者乎。間嘗考之於書。以為痰形稠而濁。飲色稀而清。寒痰青。濕痰白。火痰黑。熱痰黃。老痰膠。其滑而易出者。濕痰屬脾。燥而難出者。燥痰屬肺。清而多泡者。風痰屬肝。堅而成塊者。熱痰屬心。有黑點而多稀者。寒痰屬腎。病新而輕者。清白稀薄。病久而重者。黃濁稠黏。多唾者胃寒。流涎者脾冷。舌難言。口吐沫者。邪入於臟。腹時痛。口吐涎者。蛔亂於中。咳唾涎沫。口張氣短者。肺痿之證。咳唾膿血。口乾胸痛者。肺癰之徵。其吐如米粥。吐而腥臭者。皆肺癰之候。形如敗絮。色如煤炲者。悉老痰之容。此諸書因痰涎之形色。診病之淺深也。或謂痰聲相應為輕。不相應為重。由稀而稠者。病日退。由稠而稀者。病日進。因痰嗽而吐血者。多起於外感。因吐血而痰嗽者。多屬乎內傷。亦可因證以相參也。會而觀之。析而論之。則稀者為飲。稠者為痰。清者形氣不足。濁者病氣有餘。青白者少熱氣。黃赤者多熱氣。而凡痰形之變。痰色之殊。胥於是乎推。亦於是乎斷矣。</p>

<h2>大便望法提綱</h2>
<p>莊生言道在屎溺。豈道果在屎溺耶。然就屎溺而言。亦可以見道。道固無不在也。是故諸書論大便。亦因之以診病焉。愚謂屎以得黃色之正者為中。得乾溼之中者為常。知其正。則知其偏。知其常。則知其變矣。設因飲食之殊。而有形色之異。亦其變之常也。診之之法。諸書以為暴注下迫。皆屬於熱。澄徹清冷。皆屬於寒。出黃如糜者腸中熱。腸鳴滲泄者腸中寒。濡泄者因於濕。飧泄者傷於風。糞如鶩溏者。泄瀉之病。大腸寒。糞如羊矢者。噎膈之病。大腸枯。如水傾下者屬濕。完穀不化者為寒。泄利無度者腸絕。下利清穀者裡寒。自利清水。色純青者少陰病。急下之證。行其大便。燥且結者。胃家實。下後之徵。諸下血先便後血為遠血。先血後便為近血。從腸中來者。其色紅。從胃中來者。其色黑。白痢者。屬乎氣。赤痢者。屬乎血。便色白者。大腸泄。便膿血者。小腸泄。泄青白者。大腸虛。便腸垢者。大腸實。純下青水者。風痢。泄如蟹渤者。氣痢。黑如豆汁者。濕痢。黃如魚腦者。積痢。白如鼻涕者。虛痢。黑如雞肝者。蠱疰痢。五液注下。痢兼五色者。脾弱之證。穀道不閉。黃汁長流者。腸絕之徵。腹脹泄蛔者。疳脹。糞黑如狂者。蓄血。痢下蛔未死者。胃氣未絕。痢下蛔已死者。胃氣將絕。臥而遺屎。不知覺者死。病而大便如汙泥者死。此皆因便以診病也。然難經以入者為實出者為虛。是則便閉者。形氣雖不足。而病氣有餘。便泄者。病氣雖有餘。而形氣不足。故標本病傳論曰。先病而後泄者。治其本。先泄而後生他病者。治其本。小大不利。治其標。小大利。治其本。先小大不利。而後生病者。治其本。病發而有餘。本而標之。先治其本。後治其標。病發而不足。標而本之。先治其標。後治其本。傷寒論因之有急當救里。急當救表焉。合四診而觀之。標本之分。先後之辨。其如示諸掌乎。</p>

<h2>診溺望法提綱</h2>
<p>竊聞春夏氣行於外。故汗多而溺少。秋冬氣收於內。故汗少而溺多。然有飲水同。飲之時又同。而壯者溺少。老者溺多。何也。蓋壯者如春夏之氣。升多而降少。老者如秋冬之氣。降多而升少。此其所以異也。知其異。以診其變。則診其變。可知其病焉。診法維何。閉癃者。三焦實。遺溺者。三焦虛。水泉不止者。胱膀不藏也。得守則生。失守則死。小便不通者。膀胱不利也。頭有汗則死。頭無汗則生。外感小便清者。知不在裡。仍在表也。外感小便濁者。知其在裡。不在表也。水液渾濁。皆屬於熱。澄徹清冷。皆屬於寒。溲便變者。中氣不足。小便數者。腑氣有餘。小便黃者。小腹中有熱。小便白者。小腹中有寒。濁赤而短者。下焦實熱。清白而長者。下焦虛寒。溺如黃柏汁者。黃疸猶輕。溺如皂角汁者。黃疸已重。尿變米泔者食滯。溺如脂膏者腎消。溺如血者血淋。溺如膏者膏淋。溺如沙石者石淋。溺有餘瀝者。氣淋。病淋者。頻欲小便。痛澀滴瀝。欲去不去。欲止不止也。白淫者。思想無窮。所願不得。意淫於外。入房太甚也。是皆診溺之法也。由是觀之。遺閉者。虛實之徵也。清濁者。表裡之徵也。赤白者。寒熱之徵也。短長者。邪正之徵也。遺閉清濁赤白短長交推。則虛實表裡寒熱邪正之變可知。虛實表裡寒熱邪正交推。則遺閉清濁赤白短長之變可知。他如淋濁消疸諸證。亦舉此而措之耳。</p>

<h2>月經診法提綱</h2>
<p>素問曰。女子二七而天癸至。任脈通。太衝脈盛。月事以時下。故有子。七七任脈虛。太衝脈衰少。天癸竭。地道不通。故形壞而無子。蓋天癸者。女子之精。月事者。女子之血。謂血為月事者。以事應月也。謂血為月經者。以月為常也。後人謂先期而至者為熱。後期而至者為寒。其實先期有虛實。後期亦有虛實。故先不可偏用寒。後不可偏用熱。而況有先後不定。通閉無常者乎。況有避年居季。逆行暗行。盛胎漏胎者乎。然則就形色而診者。是或一道也。診之之法。諸書以為依期消長為安。血紅不結為正。來去失時為弱。色雜而凝為病。濃而多者血盛。淡而少者血衰。赤而紫者屬熱。淡而紅者屬虛。陷經漏下。黑不解者。治用膠姜。以其下寒也。行經暴下。血去多者。則為奪血。以其中虛也。鮮紫而成塊成條者。多由血熱。黑敗而或散或摶者。必屬虛寒。成塊者氣之滯。疼痛者血之凝。行後作痛者為虛。將行作痛者為實。非時血下。淋瀝不止者。謂之漏下。忽然暴下。傾注不斷者。謂之崩中。至若如屋漏水。如豆汁水者。前人謂其病氣實。而屬於濕。吾直以為形氣虛。而感於寒。然必參之脈證。合之形容。以辨其虛實。而判其寒熱焉。若夫五崩之診。王氏脈經以為白崩者形如涕。赤崩者形如絳津。黃崩者形如爛瓜。青崩者形如藍色。黑崩者形如衃血。釋之者曰。五色帶下。傷肝則青如泥色。傷心則赤如紅津。傷肺則白如鼻涕。傷脾則黃如爛瓜。傷腎則黑如衃血。五色各應五臟。五臟俱虛。五色並下。是皆血之為病也。愚謂帶之為病屬乎任。經之為病屬乎沖。而經色之分。又當以紅紫辨寒熱。濃淡分虛實。鮮敗分新久。六法合觀。則紅紫濃淡鮮敗之變。皆可交推以解。而其寒熱虛實新久之變。亦可錯綜而知。第色雖屬望。而理不容觀。其將因問而得歟。醫為司命。尚其毋忽。</p>

<h2>形體周身部位</h2>
<p>竊聞人之生也。藉五行而化育。仗四大以成形。是故靈素視形容。觀體態。內則以臟分五行。外則以形合五臟。如肺合皮。脾合肉。心合脈。肝合筋。腎合骨。皮者肺之部。肉者脾之部。脈者心之部。筋者肝之部。骨者腎之部。皆以形體分臟腑也。然臟腑之經絡。運行於形體。則形體之部位。又當分臟腑之經絡。謹按靈樞經脈篇曰。肺手太陰之脈。起於中焦。下絡大腸。還循胃口。上膈。屬肺。從肺系橫出腋下。下循臑內。行少陰心主之前。下肘中。循臂內。上骨下廉。入寸口。上魚。循魚際。出大指之端。其支者。從腕後直出次指內廉。出其端。大腸手陽明之脈。起於大指次指之端。循指上廉。出合谷兩骨之間。上入兩筋之中。循臂上廉。入肘外廉。上臑外前廉。上肩出髃骨之前廉。上出於柱骨之會上。下入缺盆。絡肺。下膈。屬大腸。其支者。從缺盆上頸。貫頰。入下齒中。還出挾口。交人中。左之右。右之左。上挾鼻孔。胃足陽明之脈。起於鼻之交頞中。旁約太陽之脈。下循鼻外。上入齒中。還出挾口環唇。下交承漿。卻循頤後下廉。出大迎。循頰車。上耳前。過客主人。循髮際。至額顱。其支者。從大迎前下人迎。循喉嚨。入缺盆。下膈。屬胃。絡脾。其直者。從缺盆下乳內廉。下挾臍。入氣街中。其支者。起於胃口。下循腹裡。下至氣街中。而合以下脾關。抵伏兔。下膝臏中。下循脛外廉。下足跗。入中趾內間。其支者。下廉三寸。而別下入中趾外間。其支者。別跗上。入大趾間。出其端。脾足太陰之脈。起於大趾之端。循指內側白肉際。過核骨後。上內踝前廉。上踹內。循脛骨後。交出厥陰之前。上膝股內前廉。入腹。屬脾。絡胃上膈。挾咽。連舌本。散舌下。其支者。復從胃。別上膈。注心中。心手少陰之脈。起於心中。出屬心系。下膈。絡小腸。其支者。從心系上挾咽。系目系。其直者。復從心系卻上肺。下出腋下。下循臑內後廉。行手太陰心主之後。下肘內。循臂內後廉。抵掌後銳骨之端。入掌內後廉。循小指之內。出其端。小腸手太陽之脈。起於小指之端。循手外側。上腕出踝中。直上循臂骨上廉。出肘內側兩筋之間。上循臑外後廉。出肩解。繞肩胛。交肩上。入缺盆。絡心。循咽下膈抵胃。屬小腸。其支者。從缺盆。循頸上頰。至目銳眥。卻入耳中。其支者。別頰上䪼抵鼻。至目內眥。斜絡於顴。膀胱足太陽之脈。起於目內眥。上額交巔。其支者。從巔至耳上角。其直者。從巔入絡腦。還出別下項。循肩膊。內挾脊。抵腰中。入循膂。絡腎。屬膀胱。其支者。從腰中下挾脊。貫臀入膕中。其支者。從膊內左右。別下貫胛。挾脊內過髀樞。循髀外。從後廉。下合膕中。以下貫踹內。出外踝之後。循京骨至小指外側。腎足少陰之脈。起於小趾之下。斜趨足心。出於然骨之下。循內踝之後。別入跟中。以上踹內。出膕內廉。上股內後廉。貫脊。屬腎絡膀胱。其直者。從腎上貫肝膈。入肺中。循喉嚨。挾舌本。其支者。從肺出絡心。注胸中。心主手厥陰心包絡之脈。起於胸中。出屬心包絡。下膈歷絡三焦。其支者。循胸中。出脅下腋三寸。上抵腋下。循臑內。行太陰少陰之間。入肘中。下臂行兩筋之間。入掌中。循中指。出其端。其支者。別掌中。循小指次指出其端。三焦手少陽之脈。起於小指次指之端。上出兩指之間。循手表腕。出臂外兩骨之間。上貫肘。循臑外上肩。而交出足少陽之後。入缺盆。布膻中。散絡心包。下膈。循屬三焦。其支者。從膻中上出缺盆。上項系耳後。直上出耳上角。以屈下頰至䪼。其支者。從耳後入耳中。出走耳前。過客主人前。交頰至目銳眥。膽足少陽之脈。起於目銳眥。上抵頭角。下耳後。循頸行手少陽之前。至肩上。卻交出手少陽之後。入缺盆。其支者。從耳後入耳中。出走耳前。至目銳眥後。其支者。別銳眥。下人迎。合手少陽。抵於䪼下。加頰車。下頸合缺盆。以下胸中。貫膈絡肝屬膽。循脅裡。出氣街。繞毛際。入髀厭中。其直者。從缺盆下腋。循胸過季脅。下合髀厭中。以下循髀陽出膝外廉。下外輔骨之前。直下抵絕骨之端。下出外踝之前。循足跗上入小指次指之間。其支者。別跗上入大指之間。循大指歧骨內。出其端。還爪甲。出三毛。肝足厥陰之脈。起於大趾叢毛之際。上循足跗上廉。去內踝一寸。上踝八寸。交出太陰之後。上膕內廉。循股陰。入毛中。過陰器。抵小腹。挾胃屬肝絡膽。上貫膈。布脅肋。循喉嚨之後。上入頏顙。連目系。上出額。與督脈會於巔。其支者。從目系下頰裡。環唇內。其支者。復從肝。別貫膈。上注肺。陰陽相貫。如環無端。其流溢之氣。入於奇經。轉相灌溉。奇經凡八脈。陰維、陽維、陰蹺、陽蹺、沖也、任也、督也、帶也。陽維起於諸陽之會。由外踝而上行於衛分。陰維起於諸陰之交。由內踝而上行於營分。所以為一身之綱維也。陽蹺起於跟中。循外踝而上行於身之左右。陰蹺起於跟中。循內踝而上行於身之左右。所以使機關之蹺捷也。督脈起於會陰。循背而行於身之後。為陽脈之總督。故曰陽脈之海。任脈起於會陰。循腹而行於身之前。為陰脈之承任。故曰陰脈之海。衝脈起於會陰。夾臍而行。直衝於上。為諸脈之衝要。故曰十二經脈之海。帶脈則橫圍於腰。狀如束帶。所以總約諸脈者也。於是乎因經絡以分部位。按部位而知經絡。或以經絡分臟腑。或以形體分臟腑。而凡證候之殊。形容之異。與夫痘疹癰疽一切病患。皆可由是而察焉。黃帝曰。經脈者。所以能決死生。處百病。調虛實。不可不通。諺曰。不熟十二經絡。開口動手便錯。醫寄死生。可不加之意乎。</p>

<h2>身形望法提綱</h2>
<p>竊思診形之法。必先知經絡之部位。辨形體之淺深。審其異同。察其常變。其病情乃可測焉。何言之。剛強者。形氣有餘。柔弱者。形氣不足。肥者常多血少氣。瘦者常多氣少血。心肺有邪。其氣留於兩肘。肝有邪。其氣留於兩腋。脾有邪。其氣留於兩髀。腎有邪。其氣留於兩膕。風勝則動。熱勝則腫。燥勝則乾。寒勝則浮。身強痛者。邪氣有餘。身痿弱者。正氣不足。腫起者。邪氣實。陷下者。正氣虛。上腫曰風。下腫曰水。從上腫下者屬氣。其邪在外。從下腫上者屬水。其邪在內。先腫而後痛者。形傷氣。先痛而後腫者。氣傷形。無形而痛者。陰之類。有形不痛者。陽之類。無形而痛者。其陽完而陰傷之也。有形不痛者。其陰完而陽傷之也。此皆形之綱領也。善診者。推而極之。變而通之。按形體之淺深。審部位之經絡。合之氣色。參之形容。則其病雖異。而其應不窮。夫乃嘆靈素之中多活法。岐黃以後少完醫。否則率意而言。執方而療。欲其絲絲入扣。滴滴歸原也難矣。諺云。取法乎上。僅得其中。若取法乎中。豈不流於下乎。而況學其下焉者乎。</p>

<h2>身容望法提綱</h2>
<p>經言察觀病人之態。以知精神魂魄之存亡。然則臨證之際。何可恃其脈息。而不觀夫體態乎。夫體以形言。態以容言。觀其體。察其態。斯病證明而病情著。庶乎指有目。而首有目焉。其態維何。陽證多語。陰候無聲。多語者易治。無聲者難療。罵詈笑歌。其行日夜不休者。狂態也。直視僵仆。其脈陰陽俱盛者。癲態也。厥者。陰陽不足。冒者表裡俱虛。昏沉者。陰陽虧而神氣少。恍惚者。津液亡而心血虛。起臥不安。反覆顛倒。心中懊憹者。虛煩之證。衣被不斂。言語善惡。不避親疏者。神亂之徵。僵仆者屬乎陽。病由機關不利。傴僂者屬乎陰。痛為心腎之疴。如狂者。血蓄膀胱。熱結未瀉。如醉者。邪侵六腑。閉塞不通。妄言妄見者。邪在於胃。不識不知者。邪入於腑。默默然不慧者。厥陰之候。兀兀然欲吐者。陽明之形。倚息者。氣逆而中不和。懈惰者。腎虛而胃不實。身偏不舉者。病在分腠之間。指偏不用者。病在經絡之內。不可轉側者。足少陽之實。不能動搖者。足少陰之虛。不能自轉側者。風濕相搏之容。不能自收持者。陰陽二維之病。尻以代頭。脊以代踵者。腎痹之證。登高而歌。棄衣而走者。胃實之形。難以屈伸者。風濕在於骨節。難以俯仰者。水氣在於腹中。不能俯者病在陽。不能仰者病在陰。項不可以俯仰者。足太陽之脈。腰不可以俯仰者。足少陽之經。腰不可以行走。項不可顧者。少陽之厥。腰不可以俯仰。項不可顧者。陽明之厥。脊痛腰重。形體不可翻身反覆者。胃絕。毛悴色夭。腰脊不可俯仰屈伸者。志傷。此皆病人之態也。而言其態者。或在實義之中。或在虛神之內。或見於坐臥動作之際。或著於皮肉筋骨之間。善診者。合五官之狀貌。參四體之形容。精乎靈素二書。熟乎軒岐四診。庶可豁然貫通焉。內訓曰。儀式刑之。齊之則聖。下之則賢。否亦不失於從善。誠哉。有智婦人。勝於男子。</p>

<h2>形容望法大綱</h2>
<p>蓋聞人之生。氣之聚也。形者生之舍。氣者生之元。形無氣則壞。氣無形則散。形氣也者。相須而不可離者也。設有偏勝。體態異焉。總而言之。其要有八。曰動、曰靜、曰強、曰弱、曰俯、曰仰、曰屈、曰伸。八法交參。則雖行住坐臥之際。作止語默之間。不外乎此。診之之法。以表裡言。則動者、強者、仰者、伸者、為在表。靜者、弱者、俯者、屈者、為在裡。是容貌表裡之分也。以陰陽言。則動者、強者、仰者、伸者、皆屬陽。靜者、弱者、俯者、屈者、皆屬陰。是容貌陰陽之分也。以寒熱分之。則在表屬陽者多熱。在裡屬陰者多寒。是容貌寒熱之分也。以虛實分之。則陽道實。陰道虛。陽常有餘。陰常不足。是容貌虛實之分也。然以表裡陰陽寒熱虛實。八者合觀。將動靜中各有俯仰。強弱中各有屈伸。而變化無窮。則就動靜強弱俯仰屈伸八者合觀。將表裡中各有寒熱。陰陽中各有虛實。而變化亦無窮。且夫動靜交相養也。強弱交相濟也。俯仰屈伸。交相為用也。得其中。則之八者。皆不可言病。不得其中。則之八者。皆可言病。然而中無定體。病不易言。蓋天有寒暑。人有陰陽。體有勞逸。年有老少。寒則多屈。熱則多伸。陰則多俯。陽則多仰。勞則多強。逸則多弱。少則多動。老則多靜。而況老少勞逸陰陽寒暑。又皆有動靜強弱之殊。俯仰屈伸之辨乎。然則天之於寒暑也。人之於陰陽也。體之於勞逸也。年之於老少也。四者。果能隨時以處中。方可因證而知病。不然。將以常為變。以變為常。未識厥中。焉知允執。其不顛倒也者幾希。</p>

<h2>行止動靜提綱</h2>
<p>人身一太極也。太極一陰陽也。診法之分動靜。猶太極之分陰陽也。太極動而生陽。靜而生陰。猶人身之動屬乎陽。靜屬乎陰也。動以行言。靜以止言。行有遲速。止有屈伸。猶太極之分兩儀。兩儀之分四象也。由是而剛柔得位。動靜有常。論陰陽則無咎。論身體則無病矣。然而陰陽有偏勝之時。身體有違和之日。故聖人測陰陽於氣候。驗病症於形容。就行而言。則速為陽。遲為陰。行之速者。陽之陽。行之遲者。陽之陰。就止而言。則伸為陽。屈為陰。止之伸者。陰之陽。止之屈者。陰之陰。陰陽之要。有表裡焉。有臟腑焉。陽入之陰則靜。陰出之陽則怒。重陰者癲。重陽者狂。以寒熱分之。則陽多熱。陰多寒。以虛實分之。則陽道實。陰道虛。陽經之病。實則見其棄衣而走。虛則見其身重難行。陰經之病。實則見其坐而欲起。虛則見其臥而卷身。陽主乎動。行之速者。陽有餘。行之遲者。陽不足。陰主乎靜。止之伸者。陰有餘。止之屈者。陰不足。欲動而不能動者。其病在陽。欲靜而不能靜者。其病在陰。乍靜乍亂。水漿不入。形體不仁者。陰陽離散。時動時靜。容止可觀。進退可度者。血氣調勻。善診者。觀動靜之常。以審動靜之變。合乎望聞問切。辨其寒熱虛實。化而裁之。推而行之。可謂知陰陽矣。</p>

<h2>診坐望法提綱</h2>
<p>嘗思觀形容者。非但欲診之於行。抑且欲診之於坐。苟能心領神會。雖一動一靜。莫不有昭著者焉。間嘗驗之於病。見有坐而仰者。坐而伏者。坐而叉手冒心者。坐而以手護腹者。以及坐而下一腳。坐而掉兩手。或坐而不得眠。或眠而不得坐者。由是稽之於古。則謂坐而仰者肺實。實則胸盈仰息。坐而伏者肺虛。虛則伏而短氣。叉手冒心者。汗後血虛。以手護腹者。裡實心痛。其坐而下一腳者。腰痛之貌。坐而掉兩手者。煩躁之容。但坐不得眠。眠則氣逆者。咳嗽肺脹。但眠不耐坐。坐則昏沉者。血奪氣虛。其他坐不能起者。陰經之證。立不能坐者。陽病之徵。坐而欲起者。陰氣實。坐不欲起者。陽氣虛。轉側不能者。痿痹之狀。坐臥不定者。煩躁之形。是皆顯而易見者也。然合五官而察之。合五體而辨之。其坐臥之間。形容之變。竟有難於言傳者矣。是篇舉其一隅。導夫先路。至若聽聲寫形。尚有待於來者。</p>

<h2>診臥望法提綱</h2>
<p>在昔聖賢之於望也。不惟欲觀其行止。抑且欲省其衷懷。故雖寤寐之間。鑑察之下。亦有診法存焉。蓋嘗以是論之。臥之狀。有多睡者。無睡者。但欲寐者。不得眠者。轉側不能者。起臥不安者。其形又有仰伏舒捲之殊。內外左右之異。稽之於古。以為多睡者脾虛。無睡者胃實。但欲寐者。少陰之證。不得眠者。陽明之徵。轉側不能者。風濕相搏。起臥不安者。腹滿心煩。臥不得安者。胃中不和。坐不得臥者。肺中氣逆。其睡而仰者屬乎陽。睡而伏者屬乎陰。不得正偃者。胃不和而肺氣實。但欲伏眠者。腹中痛而肝氣虛。仰而舒足者。小腸之證。仰而卷足者。腎臟之徵。舒為陽。卷為陰。舒而不欲卷者。陽經實熱。卷而不欲舒者。陰經虛寒。睡向內者屬陰。是熱已去而正虛。睡向外者屬陽。是熱未去而邪實。腰痛左臥。卷左足而痛減者。病在左腎。右臥。卷右足而痛減者。病在右腎。痛在肝者。屬左脅。故左著床則更痛。痛在脾者。屬右胠。故右著床則更痛。病在肺之左者。宜於左。病在肺之右者。宜於右。其肺癰生於左者。右臥則更痛。生於右者。左臥則更痛。其水病。左半著床。則左半身愈腫。右半著床。則右半身愈腫。此皆臥診之大略也。合形狀而觀之。不有可見者乎。若夫因脈證而異。因氣色而異。又當參之四診。辨其三因。庶乎標本明而虛實判。不至以不平平之矣。</p>

<h2>身容四法提綱</h2>
<p>臨症之際。已視其形容。觀其坐臥矣。然有法焉。不拘於行住坐臥。難列於俯仰屈伸。屈指而計之。其綱有四。曰𠘧𠘧。曰振振。曰戰。曰慄。𠘧𠘧者何。項背強。𠘧𠘧然。猶短羽之鳥。欲飛而不能飛也。振振者何。身體動。振振然。若聳悚之容。欲定而不能定也。戰則身為之搖矣。戰之與振。振輕而戰重也。慄則心為之戰矣。慄之與戰。戰外而慄內也。故其為病也。𠘧𠘧者太陽實。甚則有臥不著席之形。振振者元氣虛。甚則有身欲擗地之狀。戰者其人本虛。邪在外而正與之爭。正勝其邪。故勢順而易解。慄者其氣愈微。邪入內而正與之爭。邪勝其正。故勢逆而難瘳。且𠘧𠘧者。太陽實。其證有有汗無汗之分。振振者。太陽虛。其證有汗前汗後之辨。戰在外。太陽之所屬也。身溫汗出。邪斯退矣。慄在內。少陰之所主也。身寒肢厥。邪則陷焉。故凡臨症之際。雖分觀以審其常。必合論以通其變。蓋不但不知其法者。不可為醫。即知其法而泥於法。或知其法而離於法。亦皆不可為醫也。經曰。能合色脈。可以萬全。斯誠活法也已。</p>

<h2>意態望法提綱</h2>
<p>望診之法。既觀身體視形容矣。然有時雖見於身體之外。實著於意態之間。又當存心省察。以診其病焉。析而言之。有因人之好惡者。有因時之寒暑者。有因體之寒熱者。何謂因人之好惡。五十一難曰。病有欲得溫者。有欲得寒者。有欲見人者。有欲不見人者。而各不同。病在何臟腑也。然病欲得寒而欲見人者。病在腑也。病欲得溫而不欲見人者。病在臟也。何以言之。腑者陽也。陽病欲得寒。又欲見人。臟者陰也。陰病欲得溫。又欲閉戶獨處。惡聞人聲。故別知臟腑之病也。是蓋以寒熱分陰陽。以陰陽分臟腑也。推之於喜明屬陽者。元氣實。喜暗屬陰者。元氣虛。以及喜熱飲寒飲。惡熱飲寒飲。可廣其好惡之意也。何謂因時之寒暑。傷寒論曰。夏月盛熱。欲著復衣。冬月盛寒。欲裸其身。所以然者。陽微則惡寒。陰弱則發熱。此醫發其汗。令陽氣微。又大下之。令陰氣弱。五月之時。陽氣在表。胃中虛冷。以陽氣內微。不能勝冷。故欲著復衣。十一月之時。陽氣在裡。胃中煩熱。以陰氣內弱。不能勝熱。故欲裸其身。推之於夏月惡熱者。知其陽氣勝。冬月惡寒者。知其陰氣勝。以及春秋之惡寒惡熱。喜寒喜熱。可廣其寒暑之意也。何謂因體之寒熱。傷寒論曰。病人身大熱。反欲得近衣被者。熱在皮膚。寒在骨髓也。身大寒。反不欲近衣被者。寒在皮膚。熱在骨髓也。推之於身熱不欲近衣被者。則知骨髓不寒。身寒欲近衣被者。則知骨髓不熱。以及外無寒熱。欲近衣被者。骨髓寒。外無寒熱。不欲近衣被者。骨髓熱。而凡衣多惡熱。衣少畏寒之常。衣少惡熱。衣多惡寒之變。亦可廣其寒熱之意也。是皆見於意態之間。著於身體之外。可不存心省察。以診其病歟。</p>
<p>醫書汗牛充棟。何須禍棗災梨。然余有不能已於言者。何則。炎黃之書。其旨深遠。漢晉之書。其文缺略。醫家因陋就簡。遂推趨時者為大名家。病家聞譽即延。亦信趨時者為真實學。自是術愈疏。方愈亂。病不至死。而醫死之。醫不欲誤。而書誤之。安得岐黃復起。明其道以辨其非耶。是用忘其狂瞽。著述遵經。非惟欲醫家以是診病。亦欲病家以是試醫。且不欲醫病之家以是遵我。亦欲醫病之家以是遵經。果爾。則雖禍棗災梨。或未必無小補。</p>
