<header data-type="book">
<h1>痢症三字訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>唐宗海</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1884">公元1884年</data></dd></div>
</dl>
</header>

<h1>正文</h1>
<p>痢為病，發秋天。</p>
<p>古名腸澼，又名滯下，今名曰痢，以其下利而又不爽利也。與洞瀉相別天淵，四季皆有，此症唯秋時此病更多。</p>
<p>金木沴，濕熱煎。</p>
<p>所以秋時此症更多者，蓋五行之序由春入夏為木生火，火熱氣主事之時也；由夏至長夏，六月為火生土，是為濕土，主事之時熱來蒸濕，合氣為暑，故六月節名小暑。大暑至立秋以後，則土來生金，濕熱當止，故其節名處暑，言暑氣自此止也。暑氣止則熱變為涼氣，而涼風至矣，濕氣變為清氣而清肅下降矣。如此則秋金氣旺，木火自戢中土，不致受邪矣。若其人之肝木太旺，遇金來制之，而木不受制，遏郁生火，則熱氣不退，火反剋金，金氣不得清肅，因之濕亦不化，與熱相蒸，蘊結血氣，於三焦腸胃之間釀為腐穢膠黏之汁，則成痢矣。</p>
<p>肝迫注，故下逼，肺收攝，故滯塞。</p>
<p>人身肝主疏泄，疏者條達而上也，泄者順利而下也。木氣不疏則鬱郁者，草木多而壅遏也。木氣太泄則暴注，暴注者泄力太過之故也。然使金不與木爭則泄而不斂，何至滯塞哉！唯當秋金收斂之令，肺金不應受邪，故金必與木爭，木愈泄金愈收，是以逼迫艱澀而成其裡急後重也。</p>
<p>白氣腐，紅血潰。</p>
<p>俗以白痢為寒，非也。白痢只氣分之熱腐化成汁，有如烈日流金爍石也。今之治白痢者每用薑、桂、吳萸而成死證，戒之戒之。蓋紅白二色不分寒熱，只分氣血而已。陳平伯云：氣調則後重自愈，血和則便膿自除，可謂得法。</p>
<p>病有脾，治肝肺。</p>
<p>凡瀉泄之症皆出於腸胃，而胃與大小腸又皆統於脾經，故此痢症亦無不歸屬於脾者。然其致痢之由實不責脾而責在肝肺，肺金不能顧母，肝木鬱而剋土，以致脾王受邪，但當治肝肺，則脾經自治。</p>
<p>初發熱，或惡寒，兼疏表，柴葛餐。</p>
<p>痢症初起而發熱惡寒者，乃內有鬱熱外感風寒，寒能閉火，風能煽熱。互相蒸發是生寒熱，宜兼疏其表，用葛根黃連黃芩湯、柴胡荊芥湯，或人參敗毒散加黃芩亦效。</p>
<p>三五日，病歸里，但治內，無外駛。</p>
<p>痢證在三五日後雖有發熱惡寒等症，亦由邪歸腸胃蒸發於外，其責專重在內，但當清理，裡氣一清則外之寒熱自除。不可發表反傷營衛，以致津枯血竭也。</p>
<p>西醫云：腸胃炎，膜油腫，潰痛兼。</p>
<p>中國自宋元后皆不和痢症何故腹痛？何故便膿？至有以便膿為虛脫，以腹痛為中寒者，誤人不少。唯西醫云，將痢症病死之人剖割視之，見其腸胃發赤，膜油發腫，甚則潰爛，乃知腹痛便膿之故矣。此說似奇，實正蓋油膜者脾經所屬也。肝火從肝膜入膏油蒸發紅腫，肺金不能利水，水火蘊結在油膜中，而油膜又全連腸胃，是以腸胃赤腫發痛，甚則潰爛，與寒中洞泄迥然不同。</p>
<p>治白痢，主肺氣，白虎湯，銀菊散。</p>
<p>輕病用銀菊散，重者宜白虎湯專清肺金，加杏仁、厚朴、桔梗以利肺氣，使不收澀；加白芍、黃芩、甘草以平肝，使肝木不侮肺、脾土不受克則愈。如小便不利再加桑葉、滑石；外有寒熱者可加葛根。</p>
<p>治紅痢，主肝血，白頭湯，守圭臬。</p>
<p>白頭翁無風獨搖，有風不動，一莖直上能引肝氣上達，使不下迫，則後重自除。芩連黃柏大瀉肝火，火清血靜，則紅痢自止，此仲景大法也。余嘗用金花湯加炒荊芥、地榆、歸尾、檳榔、杏仁、白芍、青蒿，亦是白頭翁湯之意。</p>
<p>閉迫甚，不得通，生大黃，暫一攻。</p>
<p>世傳黃連，黃芩、生大黃、吳茱萸為治痢霹靂散，暫用多效，然痢症是蘊釀糾結之邪，非剽劫所能除，甚有久服大黃而反致死者，津血被奪故也。唯遇閉迫太甚求通不得者，於各藥之中暫加大黃，一攻亦常得效。</p>
<p>喜開達，杏、桔、蘇，藁、荷、菊，葛、麻扶。</p>
<p>內閉者宜開，下迫者宜達，開之當從肺治，宜桔梗、杏仁、貝母以制肺氣，使不收澀也。達之當伸肝鬱，宜白頭翁、柴胡，皆莖直上能升清陽，唯二藥鮮真者。余每用荷莖、黃菊、老蘇梗、葛根、天麻代之，皆能申木鬱而解下迫也。</p>
<p>喉痛嗆，是亦恆，證多死，藥難憑。</p>
<p>痢證喉痛氣嗆喘逆者名奇恆利，以其異於常痢也，是火逆攻肺，有立時敗絕之勢。仲景云：急下之，宜大承氣湯。然病此者多死少生。</p>
<p>若噤口，津液傷，不速治，腐胃腸。</p>
<p>諸病不食皆是中寒，唯痢證噤口不食是腸胃熱灼，津液不升，舌乾咽澀，食不得下。西醫言，人之食皆胃津吸之也，此症胃津灼枯是以噤不食。喻嘉言倉廩湯循名失實，朱丹溪石蓮湯依稀彷彿，皆不知胃津用事之故也。此時沃焦救焚，若遲不及則腐腸爛胃而死。世之用香砂橘半者不知誤殺多人，試者噤口必舌上無津液，但令津液蓋過舌心則食即下，百驗不爽，勿為舊說所誤也。</p>
<p>救胃煎、開噤湯，毋利水，免津湯。</p>
<p>痢證嘔吐是火逆拂鬱，宜三黃酒止嘔，嘔止即進食，此非真噤口也，唯不嘔不食舌上無津是為真噤口，宜救胃煎、開噤湯大生津液，以救腸胃。凡泄皆宜利水，唯痢證膠結之邪只當滑以去著，不可滲利反傷津液也。</p>
<p>食已進，痢未止，宜分消，亦利水。</p>
<p>痢症不可利水，自是一定之法。然既服寒涼藥後，腸胃中津液已存，而痢猶不止者亦可兼利小便，使濕熱之邪分消而出。蓋不利水者但清其腸胃也，而兼利水者是兼清其膜油也，且止宜潤。利加滑石、車前、防已、木通之類，而不可燥利也，醫者知之。</p>
<p>痢既愈，當補脾，喜歸地，忌姜耆。</p>
<p>痢後當補脾陰，宜歸地養榮湯。而不當補胃陽，故薑、桂、砂、陳、朮、耆、苓、附皆非所宜，唯用白芍、當歸、麥冬、人參、玉竹、山藥、石斛、黃精、山萸肉一派滋養脾陰之藥則大能補益，令人肥健。</p>
<p>若休息，瘀熱臟，逾時發，攻下良。</p>
<p>或逾時逾年而又復發，名休息痢謂其已休止而又復生息也，是瘀熱留伏於膜油隱慝之地。仲景云宜承氣湯下之，時法用黃連末調羊脂服。余每用清寧丸，日服八分，或當歸蘆薈丸多服皆效。</p>
<p>痢太久，亦變虛，佐熱藥，寒即祛。</p>
<p>痢本無寒證，唯泄痢太久，亦有轉為虛寒者，故仲景有桃花湯、烏梅丸以從治之。</p>
<p>不後重，乃用之，辨症者，當慎持。</p>
<p>但虛滑之症必不後重，與熱閉者有別，醫者當辨之，不可寒熱誤用也。</p>

<h1>附方</h1>
<p><u>葛根黃連黃芩湯</u>　（治外感發寒熱並下痢者）</p>
<p>葛根（八錢）　黃連（三錢）　黃芩（三錢）　杏仁（四錢，研）　甘草（一錢）　此仲景治協熱利下之方也。凡痢證兼外感者當本此意治之。用水二碗煎取一碗，頓服之。如有宿食者可加枳殼（一錢）　厚朴（二錢）。</p>
<p><u>柴胡荊芥湯</u>　（痢症有寒熱表裡兼治者）</p>
<p>川柴胡（八錢，一要真者，不辛散只清香，升發而已。如無真者以青蒿、荷葉、蘇梗代之）　荊芥（一錢半，生用）　竹茹（三錢）　銀花（二錢）　連翹（二錢）　白芍（三分）　杏仁（三分）　枯梗（三分）　青木香（一錢）　黃芩（二錢）　甘草（一錢）　上藥用水三茶碗先煎各味，至四五沸再入荊芥煎三沸，去渣溫服，微汗出，則外熱自退，痢證亦減。</p>
<p><u>人參敗毒散</u>　（治外感有寒兼發痢者。）</p>
<p>人參　羌活　獨活（各一錢）　川芎（八分）　川柴胡（三錢，如毋真者以青蒿、荷葉代）　前胡（二錢）　桔梗（二錢）　茯苓（二錢）　枳殼（一錢）　生甘草（一分）　此方今人最尚，然皆散寒利水之藥，非痢症勿合之方也，必加黃芩乃能清內熱，再加白芍乃能平肝疏土。凡痢初起而外有寒熱者亦可用此發散之，用水二碗煎取一碗服之。</p>
<p><u>銀菊散</u>　（治白痢之輕藥也。）</p>
<p>銀花（三錢）　白菊（三錢）　連翹（二錢）　生白芍（三錢）　杏仁（三錢，研去皮尖）　桔梗（三錢）　梔子（二錢）　木香（一錢）　牛蒡子（三錢）　甘草（一錢）　用水三茶碗煎取碗半。服如有宿食，加生大黃五錢。</p>
<p><u>白虎湯</u>　生石膏（三錢，研）　煅石膏（三錢，研）　甘草（一錢）　粳米（三錢）　再加黃芩（三錢）　白芍（三錢）　杏仁（三錢）　桔梗（二錢）　厚朴（一錢）　方合痢證有外寒者再加葛根、荊芥。小便不利者再加桑皮、滑石，此治白痢之良方也。</p>
<p><u>白頭翁湯</u>　（治紅痢。）</p>
<p>白頭翁（五錢，細葉白毛一莖直上，味微苦而氣清香，開小黃白色花者為真白頭翁也，如無真者用白薇、粉葛、竹茹、天麻代）　黃柏（三錢）　黃連（三錢）　秦皮（三錢）　用水二碗煎取一碗服最妙。白頭翁能平木疏肝，息風清火使下迫之氣條達而上也。如無此味，亦當仿此用藥，乃能解除裡急。</p>
<p><u>金花湯</u>　（今名黃連解毒湯，治紅痢。）</p>
<p>黃連（三錢）　黃芩（三錢）　黃柏（三錢）　梔子（三錢）　加杏仁（三錢）　檳榔（二錢）　當歸（三錢）　地榆（三錢）　赤芍（二錢）　荊芥（一錢）　生地（三錢）　青蒿（三錢）　甘草（一錢）　水煎服。</p>
<p><u>霹靂散</u>　（治痢症脹閉，有宿食發嘔等症。）</p>
<p>生大黃（一錢）　黃連（二錢）　黃芩（三錢）　吳茱萸（一錢）　用水二碗煎取一碗，先取半碗得快利即止勿服。如不快利再服一次，此藥只可服一二次，不可多服。</p>
<p><u>大承氣湯</u>　（治奇恆痢。）</p>
<p>生大黃（二錢）　厚朴（二錢）　枳殼（一錢）　芒硝（三錢）　先煎三味已成，後入芒硝一二沸，取汁服。咽痛嗆略愈即止，再進加減金花湯。</p>
<p><u>三黃酒</u>　（治痢症發嘔吐者。）</p>
<p>黃連（一錢）　黃芩（三錢）　生大黃（二錢）　用好燒酒二碗煎成一碗，徐徐嚥下。如不飲酒者用水一碗，加酒一杯煎服，徐咽嘔吐止即勿服。</p>
<p><u>救胃煎</u>　（治噤口不食。）</p>
<p>生地　白芍　黃連　黃芩　玉竹　花粉（各三錢）　杏仁（三錢，研）　桔梗（二錢）　石膏（四錢，煅）　麥冬（三錢）　枳殼（八錢）　厚朴（一錢）　甘草（一錢）　上水三茶碗煎取碗半，服必舌上有津液則進食矣。</p>
<p><u>開噤湯</u>　（治噤口不食。）</p>
<p>人參（二錢）　麥冬（三錢）　天冬（三錢）　石膏（三錢，煅）　梔子（三錢）　黃連（二錢）　黃芩（一錢）　黃柏（一錢）　生地（三錢）　白芍（三錢）　當歸（三錢）　射干（二錢）　杏仁（三錢，研）　檳榔　枳殼　甘草（各一錢）　花粉（二錢）　此為治噤口痢之主方。生津進食除腸胃中之炎症，力量周到，再加白頭翁則詳盡無遺矣。</p>
<p><u>歸地養榮湯</u></p>
<p>當歸（三錢）　生地（三錢）　山藥（三錢）　麥冬（三錢）　白芍（三錢）　蓮子青心（三錢）　桑葉（三錢）　荷葉（三錢）　石斛（三錢）　玉竹（三錢）　甘草（一錢）　水二碗煎取一碗，痢愈後多服大補益。</p>
<p><u>調胃承氣湯</u></p>
<p>生大黃（一錢）　芒硝（二錢）　甘草（一錢）　水煎二味已成，再入茫硝二沸，取服得快利即止。</p>
<p><u>桃花湯</u>　（治虛痢不後重者。）</p>
<p>赤石脂（一錢）　糯米（五錢）　乾薑（炒黑，一錢）　久煎成湯，服之能溫補止澀，為虛滑利之主方，不後重下利者乃用之也。觀仲景原文自知。</p>
<p><u>清胃丸</u>　（治休息痢。）</p>
<p>生大黃（四兩）　用薄荷拌，酒蒸一次，去薄荷，干後用去糟米酒半斤、好燒酒四兩泡二七日，在飯上蒸一次，再攪一次，再曬露，再蒸乾，再加酒，至大黃爛如泥為丸綠豆大，每服一錢或五分，大便微下則愈。</p>
<p><u>烏梅丸</u>　（治虛滑久痢不後重者。）</p>
<p>烏梅（去核，十枚）　黃連（三錢）　黃柏（一錢）　人參（一錢）　桂枝（一錢）　細辛（一錢）　附子（一錢）　當歸（一錢）　花椒（一錢）　乾薑（二錢）　上為末，用烏梅飯上蒸熱，搗和加蜜為丸梧子大，每服三十丸米飲下。</p>
