<header data-type="book">
<h1>遯園醫案</h1>
</header>

<h1>自序</h1>
<p>古人謂名醫同於名相，旨哉言乎！然名相有時而不可為，不欲為，醫則聽人自取，名不名，唯視其材力心思如何耳。伯章自有知識以來，即侍先君子竊窺古今名醫陳編，似有所見，久而披閱愈多，若涉大海，茫無津涯，又頓覺毫無一得，乃吐棄一切，從中表兄厚生彭先生講求《靈》、《素》、《傷寒》、《金匱》諸古籍，積以歲年，然後嘆顏子所謂如有所立卓爾者，何曠世同符若此也？由是益肆覽唐宋以來方書，是非黑白，燦然目前，若持繩墨而裁曲直，若秉權衡而較重輕，莫余欺者。夫仲尼為儒家聖者，仲景則醫門之孔子也，竊嘗差等歷代名醫，若者登南陽之堂廡，若者為衙官，若者為走卒，猶恍惚端木氏之得見宗廟也。語云三代以下尠完人，吾則謂仲景而後無完醫，聞者嘆為知言。乃猶有肱不經三折，口不飲上池，而亦侈然著書成巨帙，天下後世，或且從而稱述之，則欺世盜名之尤者。或詰之曰：先生醫案胡為而作？則應之曰：吾忝附仲景門牆之走卒，傅主人命以應對賓客，乃其職也；醫案即傳達之日記冊，留備他日省覽，烏可以已？君其毋誤以余為主人翁也。易有之，作者之謂聖，述者之謂明，吾之明有限，而古今之病變無窮，述而已矣，作云乎哉！</p>
<p><u>公元一九二二年夏曆壬戌十月朔遯園蕭伯章書於水口山礦局之東軒</u></p>

<h1>卷上</h1>
<p>光緒丙申，伯章研究醫學已十年矣，恆兢業不敢為人舉方。秋杪，舍弟璋如患白喉，又兼泄瀉，猝難延醫。適章自館歸，診之，身無寒熱，口不渴，舌胎淡白而薄，底面微露鮮紅色，小便時清時濁，脈浮澀滿指。審由燥氣所發，因兼泄瀉，始尚猶豫，繼乃恍然大悟曰：此肺移熱於大腸，病邪自尋去路也。即疏喻氏清燥救肺湯，一劑知，再劑已。嗣表兄彭君厚生暨李朂丞姻丈以他病同至，章舉以相告，彭君拍案大叫曰：非名手莫辨！李公亦深相嘉許。因此踵門求方者，絡繹不絕，章亦不能深閉固拒矣。</p>
<p>李君楚枬女，年方十歲，患燥症，紅喉轉白，服發散藥，米飲不入口已數日矣。延余往診：口渴，身大熱，無汗，心煩，夜不安枕，舌無苔，鮮紅多刺，幸有浮液，不甚乾燥，脈浮大而芤。余曰：此乃燥症誤表，挽回甚難。為疏養陰清肺湯，大劑頻服，勉盡人事。次日遍身露紅斑，幾無完膚。余曰：內邪外出，此生機也。仍守原方大劑加味，每日夜盡三劑，三日而平復，續以養陰方善後。聞愈後半月，髮膚爪甲盡脫，燥症誤表之為害，有如此者。</p>
<p>李氏子，年十餘歲，患乾腳氣，兩足緩縱不能行。醫者作風寒治，用五積散，益劇；或作痹症治，亦不效。病在床褥已三月矣。挽余治療，審視：足不寒熱、不紅腫，亦不疼痛，舌苔如常人，口不渴，脈沉遲而澀，即照陳修園四物湯加味法，服二十餘劑而愈。</p>
<p>李君思澄之侄女懿娟，年甫十二歲，夏曆正月初間，得春溫症，先是進服表散、溫燥等方，大熱、大渴、大汗。延診時，見其熱渴異常，脈浮大而芤，身無汗，舌無苔，鮮紅多芒刺，心煩不寐，米飲不入，症殊險惡。幸小便尚利，與《傷寒論》所云「小便利者，可治」相合，斷為陰未全絕，猶存一線生機。渠家有一老人，嘗涉獵醫書，亦或為人舉方，向余言曰：此症前此服藥，不過敗毒散等方，皆系普通發散之品，藥未必誤，而病勢如此沉重，殊不可解。余應之曰：後世通行表劑，皆為寒而設，不知此乃春溫，仲聖原有忌表明訓，奈醫者不知，每以通套表藥誤人，遂至輕者變重，重者即死，毫無覺悟，殊堪痛恨！此症先因誤表而大熱、大渴，大汗，若當時即進白虎湯大劑救之，尚易痊愈。今唯熱渴，猶是白虎湯見症，然如身無汗，則是陽明津液被灼告竭，不能濡潤皮膚之症；脈芤心煩，舌無苔而鮮紅多芒刺，則病邪已由衛而累及營矣。寇深矣！若之何？反覆思量，絕無可以磋商之人。因病者系余女弟子，東家向來深信不疑，即略不辭讓，為疏白虎湯去黏米，加西洋參、蕤參、沙參、花粉、生地、天冬、麥冬大劑，少佐梔、連，頻服，方內生石膏一兩，一日夜盡三劑。次日，患者反增出時時惡風症，初疑或兼新感，繼審脈息如故，熱渴略減，舌色微潤，心煩亦少瘥，知其仍是《傷寒論》白虎湯中原有兼症，仲師斷不余欺，促其恪守原方，日夜進服。再二日，各症始十愈七八，舉家相慶；余亦私幸此藥倖勝病，免遭妄議，否則是非黑白，伊誰辨別！又竊喜病家堅信，不搖旁議，故得盡挽回手段，克奏膚功，否則雖有聖智，無能為役。嗣後減輕分量，再進甘寒養陰藥餌，不犯一毫溫燥，計三十餘劑，各恙悉捐。唯如雲之鬢髮，手一抹而盈握，淺者紛紛墮地，皮膚飛屑，如蛇脫然，馴至手足爪甲，亦次第脫盡，久而復生。可見溫病誤表，真殺人不用刀矣，而世乃竟有行醫至老，不知溫病為何症者，謂之何哉？</p>
<p>從母鄧孺人，年五十時，因嫁女積勞，忽患類中風症，滿面青黯，痰涎如潮，從口奔流，頃刻盈盆，手足不仁，精神恍惚，遍體津津汗出，醫者用參、耆、歸、地等藥，病日劇。余聞，自館歸，診之，脈浮大而緩，按之無神，即告其家人曰：病系陰寒大症，非大劑乾薑、烏、附辛熱之品，不克挽救。因所現各症，顯系陰霾滔天、陽光將熄之候，若服歸、地等藥，是以水濟水也；即參、耆亦不可用，因其柔潤多液，難免不助桀為虐，故仲師回陽方中，每屏除不用，是其明證。即疏真武湯，囑其不避晨夜，頻頻多服，或有轉機。奈其家人以與前藥大異，又非世俗所謂補藥，狐疑不決；余再三逼令進服，始勉強煎服少許。次晨病如故，余即改用黑錫丹。至夜分，兩次吞服計百粒，分量約三錢，其明日晨後詢知痰涎已不上湧，汗不出，脈亦略平，足見黑錫丹之功效，神而且速，余正擬用通脈四逆湯再送服若干，必可轉危為安。適延先此主方老人至，謂痰涎任其湧出為善，不宜引之內返，致留邪為患，疏方仍主參、耆、歸，地。病家因其年老，閱歷既多，方必不錯，敬謹信服，且謂黑錫丹多系峻藥，斷難再服。余以年輩不敵，雖具熱腸，奈孤掌難鳴，只得忍俊而去。嗣聞痰涎復如潮湧，神思日益昏憒，不旬日而沒，惜哉！後以方質之彭君厚生，即奮立大言曰：冤哉，黑錫丹！使當日我能赴診，必保無虞。隨又轉告余曰：勉之毋怠，從古名醫之被冤者何限，此特其一端耳！為醫者但當盡其在我而已。余唯唯稱善而退。</p>
<p>從伯母周孺人，軀幹碩偉而肥，年七十時，患類中風症，四肢不仁，潮熱，身微汗，面色青滯，時時震動，咳嗽多痰，語言艱阻，脈浮大而緩。適余自館歸，趨候起居。其子魯卿兄，素業醫，年逾五十，歡迎就診，諸從姊五人，先後歸寧，咸聚一室，叩余病勢能否挽救，請為立方，醫藥各費，均由我姊妹擔任，不以何問。余應之曰：可治。但此當由魯兄作主，余雖有妙方，恐未必信任，即信亦斷不堅，恐中道變更，功敗垂成，事終無濟，誰任其咎？魯兄聞言，即從外躍而入曰：老弟謂此等大病，可以治愈，豈非神仙下凡。吾為人治病已三十年，即某老者年將七十，生平閱歷極多，都未見有痊愈者，如本家某前輩、某女前輩，皆老弟所目擊，雖不即死，恆痿廢數年或十餘年而死。況吾母年已七十，較各前輩之年五十或六十歲而遘疾者，尤當重視，老弟乃輕易言之，豈非欺人！吾因魯兄盛氣相加，乃徐徐答覆曰：老兄所言，絲毫不爽，但是古今以來，方書所載疾病，若者死，若者可治，除南陽聖訓成為鐵案外，其餘多未可據為定論。老兄習而不察，唯執所親歷所目睹者斷之，則失之遠矣。弟近來博考醫書，間或為人主方，竊恐為晉唐以來方書所欺，棄短取長，非無一二心得處。現在伯母所患各症，弟謂可以望愈者，心中確有幾分把握，非一味鹵莽，但不得老兄真誠認可，又不為旁人所搖惑，弟亦不敢著手。言次，適七十老者從伯父放亭公入，詢知各情，即命魯兄曰：凡人疾病，總以能治愈為貴，況於父母。爾母之恙，爾自問不能救治，正當博訪高明，勉圖萬一，今琢侄毅然任治，醫藥費又不爾問，即當專誠請其定方，徐希後效，尚何爭執之有！於是舉家歡悅，魯兄亦欣然命紙筆屬余主方，自矢不參異議。余以館事未便久延，立疏兩方：第一方系黃耆五物湯加二陳降痰等藥，先服三劑；第二方即六君子湯加薑、附等味大劑。因告魯兄曰：方內凡溫補品，可以擇宜加入，唯熟地切不可沾唇。並囑其家人晨夜煎服盡三劑，少必兩劑，許以守服兩旬必愈。果如期而平復。愈後十年，算逾八秩，以他疾終。嗣後此症經魯兄治愈者極多，輒一一告余，自鳴得意，亦殊悔覺悟之不早。今錄此案，恨不起魯兄而質證之。</p>
<p>先母彭孺人，年六十至七十時，先後兩次患類中風症，與先伯母周孺人所患相同，皆以上方獲瘳。此外救愈者甚多，以方證大同小異，茲不贅云。</p>
<p>從兄魯卿之孫女，時方乳抱，先一日身露微熱，次日即患驚風。適魯兄應戚友召他往，促余就診。為疏小柴胡湯去參，加桂尖、黃連，一服而瘳。其明日又促余更方，魯正回家，詢知服方如此神效，即驚問曰：老弟昨方，從何處得來，愚兄向遇此等症，總難痊愈，即某老人家，亦未見有治愈者。弟昨方與風症毫無關係，何以神效若此？余笑應之曰：老兄向來對於此等症，毋乃都認作虛寒乎。即某老人家，大抵亦墮此弊。魯兄曰：未必都認作虛寒，而芩、連等藥，每相戒不敢用。余曰：不論大人、小兒，一遇風疾，即當辨明寒熱，方能著手。譬如大地之風，南風熱，北風寒，婦孺咸知，為醫者何得囫圇蹣跚，不究來源，僅以通套去風藥了事耶。魯兄曰：然則老弟所用之方，概不取去風藥乎？余曰：凡病必究其源，審知風自熱來，非僅芩、連應用，即硝、黃亦為要藥；若風從寒來，則萸、桂、薑、附，皆所必需，有如水泉，塞其源則流自息，尚可取鉤藤、蟲退、殭蠶、全蠍輩之泛泛耶。魯兄又曰：然則老弟所用古方，去熱風者何若？去寒風者何若？願詳言之。余曰：去熱風方，如《傷寒論》瀉心湯、黃連阿膠湯、黃芩湯、白虎湯、《金匱》風引湯、白頭翁湯，皆可取用。去寒風，則《傷寒論》理中湯、四逆湯，吳茱萸湯、當歸四逆湯、《金匱》附子粳米湯、烏頭桂枝湯、大黃附子湯，皆可取用，得其意而變通之，法外有法，方外有方，非可以楮墨盡也。魯兄唯唯稱善而退。嗣後魯兄凡遇風症，屏絕向來沿用套藥，每用以上諸方治療，嘆為神效。常因疑難症，不憚踵門虛心下問，計魯兄死時，年才七十，使天再假以年，其進步詎有涯涘。而余兩人日得以戴白老兄弟談醫為樂，豈非人身幸福，回念往事，不禁感慨系之矣！</p>
<p>余在李芹芳別墅教授時，其戚彭君祿德，年六十矣，素有哮症，日甚一日，平日儉嗇，不肯服藥，後益劇。挽余診之：脈三五不調，知其不治，姑以平劑予之。閱數日，晨後延他醫診治，謂脈甚善，斷無他誤，並告余，促復診，余卻之。奈主人守候甚殷，強應之。見其病症如故，毫無善狀，切脈果三部調和，大異前日，心念六脈相會，死在即日。診畢，旁人究問若何？余答曰：脈固佳，然而余不能立方。主人曰：脈既佳，當可不死，何卻之堅也？余曰：此中妙理，一言難盡，且俟明日再商，若必服藥，可暫用獨參湯。主人以余之堅決，即用他醫藥方，至其晚二更而歿。甚矣，脈之欺人也！然在高明，則無慮此。</p>
<p>余戚李君壽彭之內政蕭氏，素孱弱善病，甚至日夜咳嗽，潮熱自汗，夜不安枕，脈微數不可按指。延余治療，知其不治，再三辭卻不可。一日脈露雀啄形，遂直告之曰：疾萬無瘳理，且命在數日，速備肩輿送余回。主人猶不許。乃囑其趕用關東鹿茸三錢、麗參三錢，蒸服。次早，脈略平，不見雀啄形，但無神耳。晨後余辭去。李家離余家僅十數里，嗣聞延醫滿座，謂脈非死象，反以余言雀啄為非，許以可治。豈知余去未二日而歿。竊謂脈即雀啄，以服參、茸而暫平，即上案所云會脈之類，如燈光回焰，頃刻即熄，醫者不知而為所欺，亦不考究之甚也！</p>
<p>從叔多昌，當四十餘歲時，初患大便不利，醫者每以滋潤藥服之。久之小便亦不利，肚腹飽脹漸上，胸膈亦痞滿不舒，飲食不入，時時欲嘔，前後服藥已數月，疾益劇。最後有一醫謂當重用硝、黃大下，連進三劑，大小便亦閉塞不通，身體益困疲不支。余適自館歸，兩家距離半里許，促往診。見其面色慘晦、骨瘦，起居甚艱，舌苔厚而灰白，切脈沉遲而緊。呼余告曰：自得疾以來，醫藥屢更，而勢轉殆，吾其不起矣！即命家人將先後服方逐一送閱。余曰：藥均大錯，幸而最後所服硝、黃，未至腹痛泄瀉，否則必無今日，然而危矣！多叔駭問曰：藥乃如此錯乎！當疾初起時，非但醫以為火，余心中亦自以為火，有火服硝、黃，正是對病下藥，未泄瀉者，竊疑藥力未到耳。余笑曰：否否，此症藥與病反，諸醫無一知者，何怪老叔。迄今圖之，病雖危險，尚有方救，但恐老叔不能堅信，搖於旁議，中道變更，反使余代他人受過，則不敢舉方，以於事無濟也。多叔曰：吾自分死矣，他醫之方，試之殆遍，今爾為吾立方，不論何藥，死亦甘休，斷不致聽他人異議，在他人亦從何置議？遂疏方：烏附一兩五錢，北姜一兩五錢，老生薑一兩，粉甘草一兩五錢。寫方未畢，多叔曰：如此猛烈熱藥，分量又極重，入口豈能下咽？余曰：入口不甚辣，後當自知，可無贅言，囑其煎成冷服，每日當盡三劑，少必兩劑，切勿疑畏自誤。竊窺多叔猶有難色，即促速購藥，余當在此守服，保無他虞。頃之藥至，即囑其子用大罐多汲清水，一次煎好，去渣，俟冷，分三次進服。究以疑畏不敢頻進，至夜僅服完一劑，次早嘔少止，膈略舒，可進糜粥，是日服藥始敢頻進，盡兩劑。其明日，嘔已止，胸膈頓寬，索糜粥，食如常人。余因語之曰：今日當不復疑余藥矣。即應聲曰：甚善甚善！當頻服求速愈。余因館事未便久曠，病根深錮，恐難剋日收效，又於原方外加半硫丸二兩，每日清晨用淡薑湯送下三錢，分三日服完而歸。歸後第四日，天甫明，即遣人召，入門，握余手曰：得毋駭乎？余乃示爾喜信耳！自相別之次日，見先日服藥三劑，吞丸三錢，毫無熱狀，腹脹亦稍寬舒，食量加，體愈暢，除服湯三劑外，遂將丸藥之半分三次吞服，功效益著，其明日又如前湯丸並進，丸藥完矣。今天未明而腹中作響，似欲更衣者，即命小兒扶如廁，小便先至，大便隨出，先硬後溏，稠黏不斷，頃刻約半桶，病如失矣。所以急於告者，使爾放心。即留晨餐。多叔早廢書，性聰明，通達事理，席間問余：此症究何緣致之，前此許多醫藥，何以日劇？賢侄方為向來所未經見，何以如此神效？願聞其詳。余曰：茲理深奧，即粗知醫者，尚難語此。即承下問，請淺淺取譬，即得大要。人身腸胃，猶人家之陰溝，胸膈猶堂室然，疾系內臟陽氣式微，猶之天寒地凍也。試觀冬月，人家陰溝冰結，水道不通，求通之法，必俟赤日當空，自然冰釋，此理婦孺咸知，醫者反茫然罔覺。初以潤藥，是益之霜露，則陰溝冰結愈固，無怪二便不通，肚腹滿脹也；繼進硝、黃，是重以霰雪，陰溝即不通，層累而上，勢必漫延堂室，是即陰霾上逼，由肚腹而累及胸膈，遂至咽喉亦形閉塞，時而作嘔也。今余以辛溫大劑頻服，使錮陰中復睹陽光，堅冰立泮，獲效所以神速。多叔掀髯撫掌曰：然哉然哉！遂為立通脈四逆加人參湯善後。別後一月復見，迎笑曰：前此大病幾死，微賢侄必無幸矣，可稱神技。然而當日謗書，何啻三篋。余曰：侄固知之，幸吉人天佑，不辨自明矣。</p>
<p>族侄孀媳某，年近四十，先患大便不利，醫者與玉竹、麻仁、牛膝等藥，馴至小便艱澀，久之月事亦不通，身微熱，已五閱月，腹滿脹，胸膈時痞時寬，飲食減少，困倦嗜臥，更數醫，率用滋潤破氣及行血之品。一日肩輿至余館所迎診，察脈沉遲而澀，舌苔濕滑而暗。心念疾本陰寒，今因誤藥，由氣分而累及血分，氣血交併，藥當氣血並治，才能有濟；繼悟氣為血率，氣行則血行，毋庸多惹葛藤；倘氣治而血不和，轉方調血，正自易易，遂斷定單從氣分斬關奪隘。疏方用大劑通脈四逆湯冷服，囑其每日必服二劑；並用半硫丸二兩，分作七日，每早食前淡薑湯送下，許以服完即愈而去。嗣後不十日，遣丁來云：藥完而疾愈，請善後方。即授通脈四逆湯加人參，令其守服十餘劑；後余以他事至其家，云後方僅服十劑，即平復如常云。</p>
<p>族侄媳愈後，即有邵陽周某妻，年才三十，病症大抵相同，但為日不多，藥誤亦少，勢較輕，即上方減輕分量授之而愈。厥後上症驗案甚多，以無甚出入，不復贅云。</p>
<p>脈理之奧竅，甚難言之，吾自究心醫理以來，不敢以脈自炫，人有問者，輒虛心謝之，而其中妙處，要有不可思議者。友人彭某延余治疾，偶談及婦女娠脈及分別男女，中有一人喜詼諧，謂醫者未拈脈時，必先問其夫若何？次問前此是否生育？或先有兒而歲月若干？月事按期否？種種考察，則心中便有幾分把握，謂其得之脈，毋乃欺人？余曰：君言雖屬笑談，確是題中應有之文，深合醫理，至謂脈盡欺人，則殊不然，勿論其他，請就目前事實論之。乃低聲告曰：今晨令戚本是寡婦，脈有疑義，幸余先已問明，若不知而妄言，豈不自招唾罵？其人笑曰：君得毋認作孕脈乎？余急搖手曰：否否，毋妄言。令戚外感最輕，與脈不合，醫者即當知通變，不可固執，君前言本系嘲醫，弟則引為訓醫妙論，故能自得師者，在在可取益也。後數月，以公務復聚，私相告曰：君脈學可謂精矣，敝戚某寡婦，近日果產一兒，尚記憶否？余曰：微君言，幾忘之矣，亦增長知識之一助也。</p>
<p>余在李家教授時，有一醫士曾君過訪，謂昨診某婦人脈，似代非代，不解何故，不敢舉方，已囑其夫延診。閱日其夫果至，云拙荊現無大病，但飲食不善，身體倦困貪睡，醫者以脈歇至，多不敢用方，或有以生脈散脫責者，請駕示方，以釋疑案。即往視之：脈果流利中時一跌，沉吟久之，主人具紙筆促疏方。余曰：勿藥善。其夫亦驚疑，再三請方，余仍曰勿藥善，後當自知。其夫即曰：月事不來雖已兩月，此乃前此慣弊，未可以為孕也，況脈歇至，前後醫者同然一辭，世豈有孕而歇至者乎？余曰：孕脈歇至，古有明訓，況人身臟腑經絡，一遇痰飲瘀血結毒及飲食停積，脈多歇至。婦人胞中，本來空洞，一旦胎結，氣血阻滯，即形此象。《金匱·婦人妊娠篇》亦有胞阻之文，特醫者不察，大驚小怪，殊為可哂！即如令政經斷兩月，前非孕而今孕，亦理之常，無足怪者。囑以美膳調養，切勿亂藥。後又兩月，其夫走告曰：孕果驗矣。乃知醫術固非粗心人所能領悟也。</p>
<p>邵陽周某，年三十，一日肩輿就余求方，云患風症，發作無時，屢醫不效，出方閱之，皆普通去風藥，令人噴飯。據述風作時，手足瘛瘲，麵皮震動，頭暈眼花，猛不可當，風息則但覺口苦頭暈、手足頑麻而已。審其面色如醉，舌苔黃厚，不甚燥，尖露紅點，切脈弦數。即授《金匱》風引湯，以便泄風止為度。閱半月，以書來云：服藥二劑，即便泄風止，後屢發暫輕，藥比有效，惟病根深錮，不時發作，恐非佳象，懇再賜方善後。余乃疏黃連阿膠湯予之，服十劑，不復作矣。</p>
<p>劉某之子，年五六歲，隨母寓舅氏李家，先患泄瀉，李戚曾醫士診之，繼轉慢驚風。李囑曾挽余同診，下利清穀，口不渴，身熱微汗，舌苔灰白厚滑，目上視，氣喘，手足躁擾而厥，切脈沉弦而勁，余難之，謝不主方。李家以其甥也，懇請再四。乃主附子理中湯加吳茱萸大劑冷服，囑其不避晨夜進服，勉希萬一。次日其母舅以既進溫補大劑，即取關東鹿茸入藥並服。又明日，疾大瘳。其父某自家至，云：嘗見醫士治風，必用勾藤、蟬蛻、殭蠶等味，茲獨屏絕不取；數歲小兒，以溫補大劑投之，將來必患別症。曾醫聞而憤甚，踵門以告。余曰：恩將仇報，古今同慨，非獨醫也。相與大笑而罷。</p>
<p>余與從兄念農，當光緒末年，同在李家教授，距離半里許，其室朱滿妹，時年三十，一日肩輿至館，云患氣痛已數年，醫治益劇，時值冬月，怯風異常人。詢知胸及背脅牽痛，頭重不舉，手足痠軟不溫，面色黧黯，舌苔濕滑而厚，時時欲嘔，脈沉遲而弦緊。予瓜蔞薤白半夏湯不應，進人參湯亦不應。乃用烏頭赤石脂丸併入蜜作湯冷服，痛稍減，即囑其相機遞加分量，連服不斷，以疾愈為度。後兩月為夏曆新正，余時家居，復肩輿抵念兄家就診，云烏頭、附子已增至每劑二兩，服藥時毫無痛苦；但停藥三四日或五六日，疾又作，根未拔，故再請方。余為改用生烏頭二個，計重二兩，入前湯內，以清水七大碗，煎至四大碗，俟冷，分七次或八次，漸次增加進服。奈從妹以病苦貪速效，又以曾服附子近二十斤，有益無害，心信堅，膽亦壯，遂取進三分之一，約至二句鍾，不見變異，續進三分之一。時天已晚，鄉人儺，盡室觀燈，獨從妹在室，忽面如火烘，手足頑痹，口中麻，知藥力發作，強忍之，不令人知，擁被而臥，約一句鍾，身漸漸汗出。迨觀燈者返，則笑語曰：吾病今其瘳矣。次日促診，告以先夕各情，並述今早諸病如失，後當不復作矣，請疏善後方，為疏理中湯加附子，並令以溫補美膳調養而痊。後念兄以症奇方奇，詢余曰：閱歷多矣，從未見此等方並大劑者，豈他醫皆不知耶？抑知之而不敢用耶？余曰：唐宋以來醫家，多以模稜兩可之方試病，又或創為古方不可今用之說，故《內經》之理，仲景之方，幾成絕學，間有一二卓犖者，恆倡而無和，道阨不行，亦如孔孟身當周末，終於窮老以死也。醫者治病，必先煉識，一識真病，一識真方。仲師之方（經方），即真方也，識既真則膽自壯，一遇大病，特患病家不堅信耳，信苟堅，除不治症外，未有不愈者。念兄唯唯稱善，並勉將來。念兄生平孝友好施與，長餘八歲，共筆硯最久，常師事之。死之日，鄉人諡之文惠，曾囑余敘為諡議。今錄此案，何禁池塘春草之感也！</p>
<p>外科必識陰陽，方能為人治病，否則藥與證反，或雜亂無紀律，勢必輕者變重，重者即死，害與內科同等，不可不慎。從兄念農之長子莘耕，素羸弱，年十歲時，得項疽。外科用藥內服外敷，潰久膿盡，流清汁，更以涼藥服之，身冷汗出，困頓不支，脈微弱，不可按指，為疏四逆加人參湯，大劑冷服。三日，諸症悉平，瘡口清汁轉膿，改用陽和湯加附子而瘳。</p>
<p>族侄某，父早世，素不率教，親屬皆厭棄之。一日腹旁生疽，從未用藥，久而潰爛，膿盡，清汁泫流不斷。適余自館歸，匍匐求醫藥，審視面色黧黯，舌苔濕滑，脈弱無神，心念余雖識病，望瘳殊難，姑以陽和湯令小兒輩給藥三帖，命其分三日服完。嗣後旬日，忽來報曰瘡口已斂，遂不藥而愈。可見藥症相對，其神效洵匪夷所思矣。</p>
<p>先世父封臣公，少年患吐血疾，以善保養，不藥而愈。生平常以節欲食淡教人，體雖清羸，卒少疾苦。年七十時，患五更洞泄，章嘗勸服補腎溫劑，不聽，日益居。屬家人煎送補劑，堅卻之不顧，曰：死生有命，藥物何功？並葷腥亦不御。一日昏迷不醒，手足痿廢，溲便不禁，日更中衣六、七次，面目黑氣瀰漫，脈浮大濡緩無神，時而歇止。診畢嘆曰：症已不治！姑以參湯徐徐灌之，盡二盞。次日，口中喃喃鄭聲，語無倫次，問之不省。親眷戚友問候者，皆計日候凶耗。章見藥餌可入，胃氣未絕，即以溫固脾腎、扶養氣血大劑，並輔以雞肉汁和糜粥，漸次增加。後竟每日服藥二大劑，糜粥盡三大碗，以為常，逾一月，諸症悉退。略省人事，以藥餌進，即堅拒之，遂止不復沾唇。久之，平復如初，年逾八秩而終。當疾劇時，戚友距離較遠者，咸謂死在旦夕，以久不得耗，疑為秘不發喪，豈知轉機殊出意外。竊思藥餌為治疾之需，有疾時資之治療，則疾去而元氣復固也，而世之貪生畏死者，每倚為日用之常膳，一遇疾病，必至無藥可醫。先世父之所以獲瘳者，妙在平日不進絲毫補品，且素食日多，故得疾雖異尋常，而藥物靈驗亦異尋常。願以諗世之留心養生者，並語醫士，如遇斯人斯疾，勿拘常例而輕棄之也。</p>
<p>周子某，年約三十，患水腫已半年，醫藥遍試，日劇。延診時，頭面、四肢、腰腹、胸背皆腫如瓜形，僵臥床蓆，不能轉側，皮膚脹痛異常，即被褥亦不能勝受，氣喘，小便不利，脈沉而微。診畢，就室，呼主人曰：古人言水腫死證，見一即危，如缺盆平、掌無紋、臍突、足底平皆是，今皆兼之，況皮膚痛不可支，有立刻破裂之勢，須防外潰，喘滿又恐內脫，雖有妙方，必無幸矣。即辭不舉方。主人及病者皆曰：疾不可療，命也，但願得尊方入口，死亦甘休。余聞而憐之，即疏濟生腎氣丸而去。越數日，來告曰：藥完二劑，小溲如泉，腫消大半矣。可否再服？囑其更進二劑，病如失。嗣以六君、八味丸湯並進而瘥。甚矣，病機之難以常理測也。</p>
<p>人身陰陽，互為其根，一有偏勝，百疾生焉，故《內經》曰「陰平陽秘，精神乃治」。然亦有素稟偏盛者，難以一概論也。先從伯父放亭公，素稟偏陽，少年患脫肛，必進硝、黃乃效。自後或數年一發，或十數年一發，無不皆然。迨七、八十時亦然，平時無他疾，脈沉潛不露。臨終時，忽頭暈難堪，即牙關緊閉，舌喑不言，喚之不省，手足痿廢，滴水難入，脈細欲絕。其子魯卿從兄問曰：有方治否？答曰：陰竭矣，雖有方，必無及，況滴水不入，其奈何！魯兄曰：何所據而斷為陰竭？余曰：證大類中風，然細察口無涎，鼻無涕，目無淚，身微熱而無汗，即此以推，便知頭暈等症，皆由陰竭使然。且面露紅光，足厥冷，亦是孤陽上泛見症。《傷寒論》曰「小便利者可治」，謂陰未竭也，醫者當活潑看去，推類以盡其余，斯為能自得師者。即試探下身，果無溲便，閱日而沒，並易簀時亦無溲便痕跡。醫為人之司命，對於陰陽偏盛之體，先事補救，或可延壽算於無形，然而有命存焉，蓋未可強也。</p>
<p>劉氏，妊已及月，一日腹脹痛，下血水甚多，胎寂不動。延診時，見其精神困頓異常，自汗不止，舌苔灰白，脈浮大而遲。主人請催生方，余曰：未也，切勿亂。為疏氣血補品大劑。閱日，人平復如初，胎始動。服藥又兩旬，產一兒，才半日而殤。此症先因母體孱弱，以致胎元不固而崩漏，胎既受傷，母命亦危，使誤認為正產，而以催生藥強迫之，勢必兩敗俱傷，惟補養以培母氣，則胎自然受益，聽其安可也，產可也。醫者可不知所從事哉。</p>
<p>李某，年二十餘，先患外感，諸醫雜治，證屢變，醫者卻走，其父不遠數十里踵門求診。審視面色微黃，少腹滿脹，身無寒熱，坐片刻，即怒目注人，手拳緊握伸張，如欲擊人狀，有頃即止，嗣復如初，脈沉澀，舌苔黃暗，底面露鮮紅色。診畢，主人促疏方，並詢病因。答曰：病已入血分，前醫但知用氣分藥，宜其不效。《內經》云「血在上善忘，血在下如狂」，此症即《傷寒論》熱結膀胱，其人如狂也，當用桃核承氣湯。即疏方授之，一劑知，二劑已。嗣以逍遙散加丹、梔、生地調理而安。</p>
<p>周某，年三十許，患傷寒，醫藥遍試不痊。適余以戚病往視，遮道挽診，云刻已外症毫無，但精神恍惚，不甚省人事，時欲就臥房溲桶，以面向之，禁之即大叫，伸拳擊人，疑為祟憑，僧巫祈禱，幾無虛日，脈沉結，溲便如常，舌苔微黃而晦。余以症疑未審，約以明日至余戚家取方。戚怪余至之晏，具以告，戚又疑要厚禮方肯給方。余曰：非也，症未審，故不予方。次日，其家遣人索方，授桃核承氣湯，二劑而愈。戚以症奇方靈就質，余曰：《內經》云「血在下如狂」，仲景亦曰「熱結膀胱，其人如狂」，是即傷寒蓄血症也。此症恍惚不省人事，及大叫伸拳擊人，即如狂之見症。人身小便，為通瘀妙品，婦科產後，常用以治瘀血，病者時欲面向便桶，意其內既有瘀血，其臟腑必有窒礙難言之隱，故借吸入溲氣以宣其鬱。醫者讀古人書，以參考病人見症，豈必一一吻合，當如作八股文，從旁面對面反面著想，則題理、題神，昭然若揭，毫無遁情，所謂讀書不可死於句下也。餘本《內經》之理以探病原，即用仲景之方以鏟病根，獲效所以神速，無他巧妙也。</p>
<p>上症討論畢，一士人從旁聞之，即曰：上年曾見一人，貧無立錐，又乏期功之親，寄人廡下，一日患病，不知緣起，久之如醉如癡，未曾用藥。人疑其癲，閉之室中，任其生死。越三日，疾大瘳，呼啟門。人初疑之，繼審精神語言，與平常無異，出之，怪其不治而愈，病者亦不能言其所以。主人覺室中原有小溲一大桶，今干竭無餘，地面亦無一毫濕痕，惟旁一破碗，溲臭不可聞，知其必因渴飲盡也。今聞先生小便治瘀之論，似與所見者相類。余曰：然哉然哉！因並錄以為醫學啟悟之助云。</p>
<p>寶慶楊氏婦，初患感冒，醫治不效。久之，傍晚譫語見鬼，群疑為祟，遂絕藥，專信僧巫符釶，亦不驗。一日，其夫踵門求診，余曰：毋庸往視，爾妻病起時，必值月事，試逆計之。其夫曰：正當月經初來，以冷水洗濯，即患寒熱，屢變至此，何見之神也？余曰：晝日明瞭，暮則譫語，為熱入血室，仲景已有明訓，吾從讀書得來，並無他奇。為疏小柴胡湯服之，三劑而瘥。</p>
<p>黃氏婦，適月事來，因感寒中斷，往來寒熱，少腹及脅下疼痛如被杖，手不可近。舁數十里至余館求診，舌苔白而暗，脈弦數。審即《傷寒論》熱入血室，其血必結，故使如瘧狀也，與小柴胡湯加歸、芍、桃仁、紅花、荊芥炭兩劑，大便下黑糞而瘥。</p>
<p>快溪毛生，年十餘歲，一日，肩輿至余館，形色瘦暗，須扶掖乃能行。問之，則曰：每晚發熱，汗出，左乳下痛，夜不能寐，臥病學舍，已三月矣，醫者皆謂虛癆，治愈劇，未審有方救濟否？脈之弦結，舌苔淡白。即令解衣視乳下，皮色如常，又不覺冷熱，以手按之則愈痛。余曰：痛處是否受傷？曰：未也，惟三年前與同學戲，為其推壓案角，正著乳下，比覺痛，以藥敷治而愈。至今年則未受何傷。余曰：病根在此，瘀血內伏，不發癰，即成癆，迄今圖之，保無他虞，但余方不可令他醫見，致生阻撓。授小柴胡湯加歸、芍、桃仁、紅花、荊芥炭、元胡，青皮，囑其服藥後，以大便下盡黑糞為度。逾一月，以書來謝曰：藥完三劑，下黑糞甚多，病如失矣。</p>
<p>聶君詩伯，與余共事久，素耳吾醫名，每思延診其母，不果。後以公務同住縣城，適以事回家，挽余迂遠過診。據述年已周甲，生平善病，藥餌未曾稍離，但多系耆、朮、桂、附溫補品，克伐則不敢嘗試。審視肌肉大退，面色慘白，身弱，行動不能自持，咽喉干至胸臆，舌色淡紅而干晦，語聲不揚，大便艱阻，小便短澀，飲食銳減，夜不成寐，脈弱而散。診畢，退卻客室直告曰：疾不可為，乃五液俱竭之症，毋庸服藥，無已，當以吉林清水野參，或輔以西洋參熬膏，不時嚥下，日間飲食，可以海參、燕窩、燉老鴨淡清汁吃之，庶幾多延時日。至耆、術等藥，雖屬補品，與症不對，徒然助桀為虐，亟宜屏絕。聶君深以為然，後聞不數月而沒。竊思聶母之疾，難免不因溫補過當所致，余以既往不咎，前方又皆譭棄不存，只得即事論事。世之溺於溫補，不擇而施者，當知所反矣。</p>
<p>醫藥不當，雖參、耆、朮、草，皆能害人；醫藥苟當，即麻、桂、硝，黃，亦為上品；知其病，得其方，而又無太過不及之弊，斯為上乘。余戚劉君叔峴，年幾五十，素有煙癖，誤信醫者言，肆進薑、附毒烈之品，不知節制，遂至兩目俱盲。肩輿延診，見其神思亦不爽慧，當就床吸菸時，凡接槍斢邊向背坐臥之類，概不省記，必旁人呼喚挾持，方能如法；舌無苔而干晦，脈微細無神。余曰：他人但盲於目，君則並盲於心矣。病者亦不能言其所以，但請示方。余乃告其家人曰：目盲乃腎精為熱藥所劫，以致水陰不能上濟也，至神思昏亂，則心陰亦並受傷，雖有良方，亦難救濟，自後當屏絕藥餌，但以海參、燕窩入老鴨內，燉取清淡汁飲之，庶於目光心神，有益無損。去後數月，聞其不遠一、二百里，以重金延眼科專家匡某者主方，用五積散，云服百劑，保一目復明。余即寓書亟止之，已無及矣。繼而其家人以告，疾革時，已服五積散八十劑。竊疑病者他臟尚固，故能久支，否則數帖間，必危狀百出，奚待八十劑而後死。上症一誤再誤，卒以至死，病家無識，毋足責也。獨怪冒稱醫士者，敢於妄言欺人，敢於殺人不用刀，殊堪痛恨！故著之以為醫戒，並儆病家毋輕信瞽說也。</p>
<p>自西洋牛痘之法行，至靈至穩，真小兒慈航寶筏，較之痘苗納入鼻孔者，奚啻霄壤，即前此痘科方論，都可廢而不存。惟是時行水痘挾疫者，不論其人已否種痘，沿門闔境，皆能傳染，輕者清解即已，重者幸而不死，迄其久而愈也，滿面瘢痕，殊不雅觀。夫痘瘡結粒，不論身體何處，皆能散布無遺，至其結靨脫痂，遍身如常，而面上獨留瘢痕，其中所以然，嚐遍考古今方書，並未言及。若以詢之時俗醫生及痘科專家，則更無從問津。蓋疫痘多由淫毒傳染，其見症輕重，每隨其人陽氣強弱及已否出痘、內毒微甚為轉移，陽氣強而未出痘者，熱毒重；陽氣弱而已出痘者，熱毒輕，自然之理。人身先天之毒藏於腎臟，如無外邪引導，尚伏而不動，一遇疫氣侵入，則腎中伏毒，乃由腎系而腠理，而肌肉，以達皮膚，內外合邪，毒愈澎漲，故善治毒痘者，必宣泄使之外達，不可內陷。又凡起脹、灌漿、結靨、脫痂等候，皆津液之作用也，津液足則自無干結倒靨之弊，面上瘢痕，從何發生？《內經》云「陽明之脈榮於面」，燥又陽明本氣，一旦重以淫毒，津液消灼，不能充潤面部肌膚，瘢痕所由來也。仲師一部《傷寒論》，總以存津液為主體，醫者誠能扼要以圖，當於痘粒起脹、灌漿之時，相機施以白虎湯加入甘寒大劑，少佐苦寒等品頻服，使淫毒銳減，繼專以甘寒濡養，則陽明之津液灌溉有餘，不致受傷，迄夫結靨、脫痂，自然肌膚充盈，毫無瘢痕矣。余嘗持此以語同道，率未能實行，多由學識不能貫徹，以致疑畏誤事。嗣後親治數人，信而有徵。一得之愚，不敢自秘，故表而出之。或謂大劑涼藥，難保痘症必無虛寒。則應之曰：醫必審症用方，豈可混施。若果系淫毒疫痘，斷未有驟變虛寒者，高明家自能識別，可毋贅云。</p>
<p>霍亂一症，上嘔下泄者，為濕霍亂；欲嘔不能嘔，欲泄不能泄者，為乾霍亂。濕霍亂之傷人緩，可以徐圖良醫良藥；乾霍亂則上下閉塞不通，多朝發夕死，不及延醫，或醫者不得其要，每至喪命。舍侄智荃，當七八歲時，忽患乾霍亂，肚腹絞痛異常，正值子夜，幸余家居，被衣而起，即命家人取食鹽一杯，以砂罐就火上炒枯，陰陽水調之，灌入，令吐數次，使正氣上下通調，便瘥。</p>
<p>內子年五十時，患舌裂作痛，無苔，色紫暗不潤，口渴喜飲，脈緩，略帶弦象。余因其體羸，素偏血虛，又以舌乃心苗，如心、肝、脾補血、活血，兼清血熱等方，進服殆遍，又試服他醫數十百方，前後三年，毫無效驗。幸飲食尚可，惟咸辣不能進口，因醫藥無靈，已置之不理矣。值余以公務久駐縣城，一日因臂痛，請魯卿從兄舉方，用當歸三錢，川芎三錢，酒芍三錢，片薑黃二錢，桂尖四錢，獨活三錢，北辛一錢，臺烏三錢，秦艽三錢，續斷三錢，廣皮二錢，甘草一錢，香加皮一錢。服三劑，臂痛愈，舌裂痛亦如失。他日以方告，怪之，莫名所以，詢之魯兄，亦曰開方時，但注意臂為風寒所傷，故爾作痛，他非所知也。竊思舌為心之外候，而脾絡系舌旁，肝脈亦絡舌本。大抵內子平日，或因月事及生產，偶有瘀血留滯各經脈絡，以致邪氣循經上行，見於舌端，邪氣進則正氣退，裂痛所由來也。又舌色紫暗，口渴喜飲，亦屬瘀血之見症。方中片薑黃，時醫但云能入手臂，治風寒濕痹，不知為逐瘀妙品，合之桂尖、當歸、川芎及艽、辛各品，更有輔正去邪之功。婦人臂痛，多由瘀血阻滯經絡，或兼風寒使然，故上藥雙方並治，皆能奏效。茲酌定藥品分量，命名消瘀蠲痛湯，並注症治，願以質之高明者。</p>
<p>按：瘀血舌色紫暗，見葉香岩《外感熱病篇》；瘀血發渴，見《金匱·吐衄篇》。</p>
<p>〔附〕消瘀蠲痛湯　治男婦不論遠年近日，手臂疼痛，難以屈伸，或舌裂作痛，咸辣不可入口，由於內有瘀血，非發散、溫補、清潤所能治者。</p>
<p>片薑黃（三錢）　桂尖（四錢）　當歸　酒芍　川芎　獨活　秦艽　續斷（各三錢）　細辛　甘草（各一錢）　姜　棗引</p>
<p>若有瘀血兼熱者，當減輕桂、辛、獨活，加丹皮、大小薊、生地等味各三錢，用者審之。</p>
<p>九弟婦梁氏，產後瘀血未淨，得外感，往來寒熱，舌苔白滑，脈弦，以小柴胡去參加桂尖，一劑寒熱止。後數日，腹痛，值余應戚友請外出，他醫以四物湯加行氣等藥服之，痛益劇。余歸時，詢知痛處有形，手不可按，乃以四物湯去地黃，加桃仁、肉桂、大黃（醋炒）二劑，下黑糞極多而瘳。</p>
<p>古人謂產前責實，產後責虛，殊未盡然。王氏婦年二十，產後四五日，患外感，寒熱往來，余以小柴胡湯二劑愈之。厥後七八日，疾復作，他醫進四物湯加味，益劇。復求示方，脈之沉實，日晡發熱，煩躁，譫語，大便難，腹痛拒按，疏方用大承氣湯。病家疑之，仍請前醫就商，入門寒暄數語，即曰：產後大抵多虛，先生所示大承氣湯，毋乃太峻？余曰：有此症則用此方，試取仲景《金匱》閱之便知。其人曰：古方難以今用，如《本草醫方合編》，讀之熟矣，他非所知。余曰：若此，則君應早治愈矣，奚待今日？其人語塞，逡巡退去。余亦向主人告辭，主人不可，余曰：既疑余方，留之何益？主人曰：即去購藥，請留駕少待何如？余應之曰：可。頃之，購藥者返，時正午，即囑煎好，計一時服一茶碗，至二時又服一茶碗，迄三時，大便行，甚黑而臭，腹痛減，日晡時但微熱，不復譫語矣。余欲告辭，不可，又以善後方是否再用大黃，殊難預定，乃強留一宿。次晨，見脈症已十愈八九，乃用大柴胡去大黃，加當歸、生地、桃仁，二劑，平復如初。竊謂汪氏自言非知醫者，合編之作，開後人簡便之門途，實釀成醫學淺陋之陷餅，讀書未成之輩，喜其淺近，奉為圭臬，致反矜云妠之貌似，竟忘卻高曾炬雞，籲可慨矣！</p>
<p>清宣統間，吾以籌備自治所長久駐縣城，人以醫治請者，輒卻不應，故醫案絕少。楊氏婦，產後兩足痛如錐刺，跬步不能行。友人為挽余診，詢知痛處微熱，手不可按，自產後十日得疾，已一月矣，遍治不效。脈之弦數，舌苔黃，疏方用桃核承氣湯，以肉桂易桂枝，三劑，大便下黑糞而瘥。友人見余方之異人而奇驗，亟思表揚。余曰：偶中耳，以後萬勿說項，徒增一番應酬，致妨公務。乃止。</p>
<p>安化譚君篤余，患腹臍畏寒而痛，時值夏曆五月，常以火爐貼熨臍間，不可刻離。托敝本家挽余過診：舌色紅，苔黃而厚，飲食不美，精神疲倦，脈弦數，自謂曾服溫補無效。余曰：此濕熱而兼木鬱，溫補諸品，切不可沾唇，火爐急宜去之，毋助桀為虐。奈以畏冷故，不願即去，為疏平胃散合左金丸作湯，三服，冷痛大減，始肯撤去火爐。嗣以越鞠、平胃、左金等方出入加減，二十餘劑，平復如初。</p>
<p>同邑羅某，與余同寓省垣，一日邀余過診，云面上及四肢，近露痘形，想必時行水痘，未知是否？余笑應之曰：若據愚見，似屬廣瘡。羅曰：近數年來，花柳場中，絕跡不涉，從何發生？余因其諱疾不情，權辭答之曰：此毒亦間有因廁便傳染者。羅即應聲：既然，且請示方，徐觀後效。余曰非旦夕所能收效，即疏龍膽瀉肝湯加味而去。後三月，復延診，云前此痘瘡，自服先生藥數劑後，遍訪省中中西名醫，言人人同，因就某西醫用德國六○六藥針，針後遍身熱脹麻木，坐臥行動，極其難堪；三日，人始蘇，檢視痘形，則已結靨或脫去矣。突近數日，日夜咳嗽，痰中帶血，向無此弊，今若斯，當是藥針所致，必非西醫所能療，故詳陳緣因，請示方，免墮入肺癆一途。余曰：西藥六○六吾不能知，然即其見症如此猛悍，化毒如此神速，則可推知其必合有砒石等品，大抵大辛大毒藥餌，其性恆慄悍不馴，獲效速而難免無弊，咳嗽吐血，必肺金為毒烈所傷。古人雖無成方，幸不才見病知源，保無他虞，切脈浮而帶數，舌無苔而色紅。為疏清燥救肺湯，方中人參改用西洋參，並加入丹皮、梔子、生地，三服而瘳。</p>
<p>民國二年，余僦居長沙宗聖廟左側棗園，適平江楊君鼎元患癉瘧，囑其弟叔元君邀診。審視舌苔黃，口大渴，脈弦數。檢閱前所服方，皆雜亂無章。余曰：此瘧與尋常異，非重用清涼不可。疏方用白虎湯，方中生石膏八錢，約以每日必服二劑。病者疑之，不敢頻服，記兩日間僅完二劑，疾不減。另用他醫方，治反劇。復延診，乃用白虎湯合黃連阿膠湯加減，進服數劑，熱始退。嗣以甘寒養陰法，又十餘劑，始平復如初。</p>
<p>同時又有楊某，長沙人，患病數日，延余過診，口渴，身大熱，汗如注，脈洪數無倫。即正告病者曰：此係瘟熱重症，非用大劑清涼不克收效，並宜速用藥，不可遲延誤事。病者狐疑，請為立案。即援筆草案百數十字，並疏清瘟敗毒散大劑，約以日服三帖，少必兩帖。去後，聞服藥一帖，究疑藥餌過涼，治裝回家，卒以桂、附等藥戕命。猶憶吾立案時，因恐人不識病源，詞氣何等直切分明，醫家病家，都不醒悟，良可慨矣！余在醫藥聯合會時，有工人某，患熱症，勢殊險惡，四肢麻痹不仁，大渴大汗，舌色鮮紅，苔如積粉，耳重聽，脈洪促，同事三數人，均推諉不敢舉方。余曰：症雖暴，尚非敗症，斷不可輕棄，而任其授命他醫。即用余師愚清瘟敗毒散加減大劑，方中生石膏每劑二兩，令其日進三劑，並以西瓜汁代茶肆飲。同事俱咋舌，噤不作聲。閱三日，各症始減，知飢，脈亦略平，因減輕苦寒，加入甘寒，又十餘劑而瘳。此等大症，苟一延誤，變端不堪設想，然而醫者雖識病用藥，病家每以稀見疑畏，終為庸俗瞽說所誤者，往往而然，謂之何哉！</p>
<p>周某，患痔，服術家彭某丹藥，口破流血，馴至頭面牙齦上下唇皆腫，舌亦硬痛不能言，僵臥床褥，涎沫從口角奔流，米飲不入，已兩日矣。其父年七十，迫彭某設法解救，前後數方不應，子夜挽余診治，余就床頭告以今晚暫用綠豆煎湯、淨黃泥澄清水兌入，冷服，俟明日再為更方可也。其父倉皇去，至明日晨後來告曰：昨晚方進二次，各症少緩，請屈駕審視，如能獲痊瘳，死且不忘。余以其頹老可憐，即往視。入室，涎流滿地，臭不可聞，問之不能答，即出就外室。彭某突前揖曰：晚生因治病不合，受困此間，敢請垂慈解救。余曰：汝何人？周具以告。余曰：汝為人治病所用之丸，大抵紅升、三仙之類，既不知藥性，又不知救誤方法，鹵莽施用，以人命為兒戲，幸病家猶存忠厚，但予扣留，未施毒手，正當引咎自責，毋得曉曉，日後宜格外慎重，勿蹈故轍。即囑病家立予開釋。其人再三稱謝而去。乃命紙筆，為疏大黃黃連瀉心湯，照古法以麻沸湯漬之，進二服而痊。</p>
<p>彭某，患下疳，潰爛不堪，跬步難移，值外科以丸藥予之，保三日即愈，比索謝金而去。迨次日藥發，咳嗽吐血，口破流血，牙齦唇舌皆腫，臭涎如泉湧出，米飲不入，自分死矣。延余過診，脈之洪數，授大黃黃連瀉心湯，以大便亦結，令其煎服，三劑，平復如初。甚矣！方土之慣以丹藥害人，又不知講求救誤方法，仲尼曰「始作俑者，其無後乎」，正當移以持贈。</p>
<p>江右黃某，營業長沙，初患外感，諸醫雜治十餘日，疾益劇。延余治療，至則醫士三人已先在座，正彼此通姓名間，主人即請入內。病者自云肚腹硬痛，手不可按，傍晚身微熱，汗出，手足較甚，小便黃，大便不利，粒米不入口，已三日矣。審視舌色鮮紅，苔黃不甚燥，脈沉實搏指，取閱前所服方，多雜亂無章。已而主人啟他室引入，命紙筆請為立案疏方，並告以外間三醫，皆已照辦。余以病者之兄曾有一日之雅，笑問曰：主人今日實系考試醫生，否則何必如此，余為人治疾，非畏考試者，但試卷甲、乙，憑誰評定？主人曰：我非知醫者，擬俟各方案成立後，比較有相同者用之，暗取佔三從二之義，否則質之神明，未識先生以為然否？余曰：前說揆之理想則是，按之事實則非。蓋時下醫士程度卑陋，率以搔不著癢無關責任之套方，自欺欺人，即有同者，難免不滔此弊；若後說則索之冥冥，殊為無謂。不如將所定三方及案交餘一閱，可立為評定。有反唇相稽者，請為代表面論。主人稱善，暫請先生擬定方案，照行未晚。余即取紙筆立案，並疏大承氣湯方授之。主人果出三醫方案請評。閱之，義各有取，然率系通套俗方，與症無涉，遂另紙逐一評判，交主人傳示三醫，皆無一言，相繼辭去。余亦告辭。閱日，復延診，余意其服方有效也，繼乃知余去後，主人究疑藥峻，另用他醫方，益劇。病者亦深怨家人之不用余方，具以告。乃就大承氣原方增加分量，約以連進兩服，大便當行，萬一不行，則宜再進，切勿疑畏而去。閱二日，仍延診，則云昨晚藥完二劑，下黑糞甚多，今晨進稀粥少許，各症十愈七八。為改用大柴胡減輕大黃，又兩劑，黑糞始盡，病如失。最後仍請疏調養方。其家有西席，嘗閱醫書，暱就之，謂大承氣證，當見譫語，此症何以無之？大承氣系腹有燥屎，先生乃斷為食積，敢問所以？余曰：《傷寒論》云「六七日不大便，煩不解，腹滿痛者，此有燥矢」，其下又申之曰「所以然者，本有宿食故也，宜大承氣湯」；又於陽明少陽合病條下云：「脈滑而數者，有宿食也，宜大承氣湯」；若《金匱·宿食篇》主用大承氣者甚詳，不必贅述。蓋宿食與燥矢，一而二，二而一，相去一間；至譫語有無，可不必拘，蓋仲景原有陽明病，潮熱，大便微硬者，可與大承氣之文，亦不執定譫語也。此症若再延一二日，必發生譫語見鬼之症；幸而病家及時覺悟，故病者猶存一線生機；否則必至循衣摸床，微喘直視，陷於陰絕之死症，雖仲景復生，無如之何。西席至此又問曰：前三醫方，似尚平穩，服之是否妨礙？答曰：藥不對症，無論何方，皆能誤人；況病已抵沉重，生死關頭，稍縱即逝，故庸醫耽擱時日，亦是殺人。西席乃拱手稱曰：聞先生言，昭若發蒙。余即應聲曰：微足下亦無以發余之狂言。遂相與大笑而別。</p>
<p>劉某之子，年五六歲，時值夏曆八月，先患寒熱，醫者雜治未愈，已而身熱咳嗽，兼以下利清穀，口渴。邀余過診，見其舌色紅而苔白，脈浮大。曰：此正喻嘉言所謂肺熱無從宣泄，急奔大腸也。即與瀉白散加味，以清肺熱而兼潤大腸，數服而瘥。</p>
<p>黃某，年三十許，患秋燥泄瀉，日數十度，身熱微咳。以粗閱醫書，初服消散藥不應，繼進疏利亦不應，易以溫補升提，愈劇。延診時，形容慘晦，焦急不堪，舌苔淡白而薄，雜露紅點，脈浮而虛。余曰：此等症候，從前名家，惟喻嘉言知之，有案可稽。若時醫則無從問津，服藥不對，宜其愈治愈乖也。病者猶疑信參半，乃命家人就鄰舍取喻氏書請為指示。余為檢出授閱，並告以屢試屢驗，切勿疑阻自誤，即照方連服六七劑，始平復如初。</p>
<p>邑人周某，年近六十，以訟事寓居長沙，患咳嗽一月有奇，晝夜不能安枕，雜治不效。肩輿就診，喘急湧痰，無片刻停，舌苔白而黯，脈之浮緩，余先後計授三方，亦不應。沉吟久之，意其陰虛而兼沖逆，姑以張景岳金水六君煎與之，已而一劑知，二劑愈。乃知其方亦有可採者，非盡如陳修園氏所論云。</p>
<p>按：金水六君煎，張氏自注治肺腎虛寒，水泛為痰；或年邁陰虛，血氣不足，外受風寒，咳嗽嘔惡，多痰喘急等症。除氏貶之是矣。竊意張氏當日對於咳嗽等症，用以施治，或有偶中奇驗之處，求其說而不得，遂囫圇匯注，不知分別，以致貽誤後世。若云年邁陰虛，久嗽，喘急痰湧，由於沖氣上逆，非關風寒外感者，服之神效，則毫無流弊。余所以取用者，蓋以歸、地能滋陰液而安沖氣，法夏從陽明以降沖逆，輔之茯苓、生薑、廣皮，疏泄痰飲，導流歸海，以成其降逆之功，獲效所以神速。但方名應更為降沖飲，庶俾沿用者知所取裁云。</p>
<p>又按：方藥分量，亦宜變更，庶輕重方為合法，茲故另載於後，庶免錯亂。</p>
<p>〔附〕降沖飲　治年邁陰虛，久嗽不瘥，喘急痰湧，由於沖氣上逆，非關外感風寒者，服之神效。</p>
<p>熟地（五錢）　當歸（三錢）　法夏（三錢）　茯苓（三錢）　廣皮（一錢）　甘草（一錢）　生薑（三片）</p>
<p>長沙陳某，年五十，患泄瀉，醫治益劇，已兩月矣，僅餘皮骨。延余過診，肚腹不作脹痛，舌色淡紅，苔白而薄，時以開水漱口而不欲咽，脈微緩。閱前方如溫燥、固澀、升補，關於脾腎兩家成方，服之殆遍。意其下多亡陰，以八味丸少合四神丸為湯服之，不應。改用景岳胃關煎：熟地五錢，山藥、扁豆各三錢（均不炒），炙草一錢，炮姜一錢，吳茱萸五分，白朮二錢（不炒）。煎水二杯，初服一杯，即十愈七八；再一杯，即全愈。考景岳方下自注：治脾腎虛寒作瀉，或甚至久瀉腹痛不止、冷痢等症。陳氏修園謂於苦燥辛溫劑中，君以熟地，不顧冰炭之反，便注云治脾腎虛寒作瀉，陋甚。然如上症百方不應，服之竟若此神效者，其故安在？竊思方中地黃，《神農本經》云：氣味甘寒，填骨髓，長肌肉。葉天士注云：氣寒入足少陰腎經，味甘入足太陰脾經。腎主骨，益腎則水足而骨髓充，脾主肌肉，潤脾則土滋而肌肉豐。洵屬確論。後人取以蒸曬，名曰熟地，則甘寒變為甘平，以之濡養脾陰，尤為相宜，次輔以山藥、扁豆、甘草之甘平，則滋生脾陰之力量，更為雄厚。而又合以吳茱萸、乾薑、白朮之溫燥，不嫌其與滋養脾陰之品相妨礙者，蓋以人身陰陽，互為其根。故《內經》云：「陰平陽秘，精神乃治」。上症脾陰不足以配陽，故溫燥藥百無一效；如但見脾陰不足，注意填補，而不知兼顧脾陽，亦背岐軒平秘之旨，病必不服。但其中分量，最宜斟酌，不可顛倒。嘗謂仲景桂附八味，為維繫腎經陽陰方。景岳茲方，於維繫脾經陰陽，不期而暗合，奈見不及此。故方下所注，不知分別，名以胃關，蓋取腎為胃關之義，亦未吻合。陳氏雖斥為陋，亦知其有可用處，故《醫學從眾錄》中嘗採其方，亦無發明。茲故不揣固陋，聊攄一得，並更易方名，訂正藥品分量，附載於後，閱者諒之。</p>
<p>〔附〕養脾互根湯　治脾經陰陽失其平秘，久瀉不愈，服溫燥、固澀、升補不應者，一服知，二服已。</p>
<p>熟地（五錢）　山藥　扁豆（各三錢，均不炒）　炙甘草（一錢）　炮乾薑（一錢）　吳茱萸（五分）　白朮（二錢，不炒）</p>
<p>劉某，湖北人，一日至余寓求診。云患嘔吐清汁，兼以頭痛不能舉，醫者率以風寒發散藥服之，益劇，已逾月矣。舌苔白而濕滑，口中和，脈之沉緊。與吳茱萸湯，一劑知，三劑疾如失。</p>
<p>黃某，寧鄉人，先患外感，醫藥雜投，方厚一寸。後更腹痛而嘔，脈弦數，舌色紅而苔黃，口苦。余曰：此甚易事，服藥一劑可愈，多則兩劑，何延久乃爾。與黃連湯。某人疑余之輕易也，請第二方。余曰：不必更方，後當自知。去後三日，復晤於洋貨店，曰疾果瘳矣，相與大笑而別。</p>
<p>瀏陽李某之母，年六十，先因感冒風寒，雜治不愈，已而大便泄瀉，日十餘行，腹脹痛。醫者不察，概以行氣消脹之品圖治，益劇。延余過診，脈之微緩，舌苔白，口中和，飲食不美，困頓不能行。其子甚憂其不起。余曰：此中氣下陷，可保無虞。為疏補中益氣湯，方中當歸用土炒，外加固脂、益智，三劑而瘥。</p>
<p>長沙王某，以年少新進，喜為狎邪之遊。一日肩輿就診，云兩胯俱起橫痃，脹痛紅腫，跬步不能行，醫以敗毒等方服之，益劇。口中苦，舌苔黃，脈弦數。與山甲內消散，三劑而瘳。陳氏有女工，年二十許，姿頗妖冶，患橫痃，意其必因守身不潔所致。他醫先用連翹敗毒散，嗣進仙方活命飲，均不應。後更脹痛，熱如火燎，時以冷濕布覆之，僵臥椅上，叫號不已。脈之洪大弦數，舌苔黃。與山甲內消散，不應；乃用桃核承氣湯去甘草合控涎丹加木鱉、甲珠，三服，始大便下黑臭水極多而消。甚矣，淫毒之堅凝，非峻利藥不能勝也。</p>
<p>寧鄉學生某，肄業長群中學，得外感數月，屢變不愈。延診時，自云胸滿，上身熱而汗出，腰以下惡風，時夏曆六月，以被圍繞。取視前所服方，皆時俗清利搔不著癢之品。舌苔淡黃，脈弦。與附子瀉心湯。旁有教員某駭問曰：附子與大黃同用，出自先生心裁，抑仍古方乎？余曰：此乃上熱下寒症，時醫不能知之，余遵張仲景古方治之，不必疑阻，保無他虞，如不信，試取《傷寒論》讀之便知。旁又有人果取以來，請為指示，余即檢出授閱，遂再三道歉而退。閱二日復診，云藥完二劑，疾如失矣，為疏善後方而歸。</p>
<p>溫病誤表，醫者十而七八；至溫病而兼泄瀉，則率以溫補、升提殺人者，比比皆然，何者？不知病源，一見下利，遂即認為虛寒，此庸醫之慣技也。長沙易某之子，年十餘歲，患冬溫，發熱，口微渴。延余過診，舌無苔，脈浮數。余以辛涼平劑與之，囑其頻頻進服，以愈為度，不拘劑數。閱數日，復延診，大渴大汗，脈洪大，詢知主人疑藥涼，三日僅用一劑。改方用白虎湯，方內生石膏八錢。主人曰：小孩子能受此種涼藥乎？余曰：有此疾則用此藥，切勿延誤。日前之方，因未照法多服，致有今日，病既增重，則藥方亦宜加重，若再遲延，必變生他症，恐貽後悔。奈主人若明若暗，猶豫不決，遂興辭而去。閱日又延診，余以其服白虎有效也，入門則見座上客滿。主人云：日昨先生去後，藥未備而病者大瀉，他醫皆謂前藥過涼，石膏則尤不可沾唇，不已將昨所授方及以後三醫方，決之於卜及乩仙，皆主先生方，故今再請屈駕指示，但症已變，原方是否可用？余曰：溫病泄瀉，乃內邪自尋去路，正是生機，切勿止塞，方不須改，以多備頻服為要。即援筆就原方加西洋參二錢，主人唯唯。檢視他醫三方，或主利水，或主和脾，或主升補，不覺失聲大笑。主人詢所以。余曰：無他，笑三醫之太無識解也，可無贅說，約以是日及晚必服完三劑，明晨當有轉機。至次晨診視，瀉利止，各症減大半，乃囑用原方再服三劑，疾大瘳；改用甘寒養陰數服，平復如初。</p>
<p>漆工黃某，胸滿頭痛喜嘔，醫與發散藥不愈。過余寓求診，脈緊，舌苔白滑，授吳茱萸湯兩服而瘥。</p>
<p>木工王某之子，年十餘歲，初因外感，醫治屢變不痊。一日肩輿就診，云現無他症，但苦兩腳跟腫痛，熱如火燎，不可履地。舌苔白滑，脈沉緩，與附桂八味加獨活、豆黃卷，一劑熱減腫退，三劑即步履如常。</p>
<p>同時又有縫工李某，患症與王同，但脈沉數為異，與六味加蒼朮、黃柏而瘳。</p>
<p>筆工鄧某，當夏曆五月，因外感誤治，遂下痢紅白，醫者用痢門套方，增劇，日數十行。延診時，言小便時黃時清，腹不痛脹，但覺滿而多氣，口中淡，不飲食，傍晚身微熱，頭重而暈，脈之弦緩。余曰：此症原系風濕，未從外解，久而化熱，故見症如此，醫者不究病源，一誤再誤，竟成似痢非痢之狀。乃以胃苓湯加減，先後三易方，計十餘帖而瘥。</p>
<p>邑子鄧某，年三十許，喜狎邪遊，得淋疾，赤白交下，痛不可支，踵門求診。脈弦滑。與八正散六劑，痛止，紅白斷，惟黃濁不時泫流；改用二陳加萆薢、蒼朮、黃柏、滑石等味而瘥。後因犯淫屢發，仍用上方加減輒效，最後以六味加萆薢、黃柏調理，不復發矣。</p>

<h1>卷下</h1>
<p>曾氏婦，年三十許，患兩手關節疼痛，猛不可當，日夜叫呼，聞者酸鼻。延診時，不可按脈，舌苔淡白。閱前所服方，如祛風、散寒、疏理氣血之品，服之殆遍。比以當歸四逆加片薑黃，服至四劑，痛如故。繼審痛處適當骨節，正所謂歷節風也。人身骨節，皆筋脈交紐之處，肝主筋而藏血，斷為風寒濕干於血分，阻遏氣道，故爾劇痛。乃取黃耆、當歸、川芎、白芍為君，輔以桑枝、杉枝、松枝、桂枝、紫蘇、竹枝，皆用節，即甘草亦用節，取其以節入節。雖古無成法，然醫者意也，但能愈病，明者斷不余訾。方成，授主人照辦，連服十劑，痛如失。竊思黃耆、當歸、桂枝、白芍、川芎、甘草，具黃耆五物、當歸四逆兩方之功用，紫蘇節則尤能行氣中血滯，輔以桑、杉、松各枝節，能使關節中停蓄之風濕一掃而空，至竹枝節氣味甘寒，恐其拒而不納，以之為反佐，故於上症功效頗鉅，爰命之曰七節湯。附錄於後，用者審之。</p>
<p>〔附〕七節湯　治風寒濕干於血分，阻塞氣道，兩手或兩足關節日夜疼痛，不可屈伸，病屬歷節，服之，以愈為度。</p>
<p>黃耆（五錢）　當歸（三錢）　白芍（三錢）　川芎（三錢）　桂枝節（三錢）　甘草節（一錢）　桑枝節（如指大三個）　杉枝節（三個）　松枝節（三個）　蘇杆節（三個）　竹枝節（三個）</p>
<p>上各味以清水五碗，煎至三碗，去渣，分三次溫服。</p>
<p>鍾某，以營業自河南得疾旋返，適余住縣，其友周某挽余診治。據云兩月前患瘧疾，友人勸服金雞納霜即止；逾三日復發，旋服旋止，如此四五次，每服加多，最後左脅下及少腹內一條如臂扛起，痛不可按，延醫療治，至今不愈。審視面色慘晦，舌色紫無苔，咳嗽氣喘，晝夜不眠，寒熱往來，骨瘦如柴，僵臥不能起坐，飲食不入，脈細數，按之散。余即告其友曰：此症已成瘧母，早治可望痊愈；今若此，雖有妙藥，奈元氣就絕，不能勝受，治亦無功；且宜速備肩輿送歸，否恐無及。即於次日送歸，抵家一日而沒。按：金雞納霜，味苦無比，不知何藥所制，每見久瘧不愈者，服之輒有奇驗，若初起之瘧，必多反復，余常以此戒人，勿遽輕服，多不見信，如鍾某者，可為殷鑑矣。</p>
<p>又嘗記余在前清觀察李思澄君家教授時，其從叔碩堅先生，以得疾自粵東歸里，據云因體氣素弱，友人勸服艾羅補腦汁數瓶，即得怔忡症，左乳下虛里穴痛，而躍動倍常，因此變症多端，抵家時已屬不治，不兩月而沒。故並書此，以為不悉藥性、輕信喜服者戒。</p>
<p>曾君履初，患頭痛，醫者以疏散風寒方與之，不應。易醫作風熱治，益劇。延診時，口味淡，舌苔白滑，脈浮大而緩，與補中益氣湯加川芎、蔓荊、細辛，一服知，三服已。</p>
<p>安徽金某，體頗肥而短。一日肩輿踵門告曰：得奇疾，醫者皆不之識，百方不效，據述兩脅下間微聞蛙聲，或作鼠叫，咳則乳下作痛，或胸中如有熱水一縷上下，頃之即散，大便不時瀉水，不治自止，或嘔吐清水，頭或暈痛，患病至今，已一年已奇，方厚一寸，無偶中者，人皆奇之。余笑應之曰：疾非奇，但醫者少見多怪，宜其見駱駝言馬腫背也。脈之沉弦。即告曰：此乃痰飲作祟，惟善讀仲景書者知之，非鬼非神，不必驚疑，吾有妙藥，不費多金；但不可令他醫見，致召阻撓。約以來日取藥而去，余乃以控涎丹方向藥店購細末丸之，俟其來，令如法服之。閱三日，復來云：服丸藥，大便下水極多，各症悉愈，請善後方。為疏六君子湯加白芥子，連服十劑，平復如初。曾君書齋之女，才三歲，得疳疾，眾醫雜治不應。延診時，發熱口渴，能食，皮黃肌瘦，腹大，便溏瀉。初以消積清熱平肝藥，服數帖，病減大半，嗣以四君加柴、芍、黃連、胡黃連、五穀蟲、鱉甲、雞內金等品加減，十餘劑而瘥。</p>
<p>寧鄉劉某之父，年六十，先患痰嗽，醫藥屢更，已逾一月。一日忽手足麻痹，喘急痰湧，口不能言，身微熱，汗如泉溢，星夜延診。脈之沉微，舌苔白而濕滑，即令以薑汁兌開水送下黑錫丹三錢，奈入口不能下咽，乃設法扶令半坐，分三次徐徐灌下；並以吳茱萸研末，醋調炒熱，敷兩足心，拖住元氣。逾一時，始稍甦醒，再灌三錢，痰不湧，喘汗頓減。次晨乃以通脈四逆重加茯苓，閱三日，疾大瘳。繼進六君加薑、附調理十餘劑，平復如初。</p>
<p>書店徒某，因冒風遠行，患寒疾，醫治少瘥，一日變臍腹絞痛，呼號震屋瓦，手摩米熨，不為少減，冷汗不止，手足痹軟，大小便俱不通暢。臨診，舌苔厚白而暗，脈之沉緊，即呼主人告之曰：此寒積也，非尋常藥餌所能治，今雖有妙方，恐不見信，若令他醫見之，必妄加罪名，奈何！主人曰：但求先生主一方，無論何藥，即當照服，亦斷不令他醫閱也。余曰：吾非如走江湖一流人，無端張大其辭以駭病家，且或藉以希圖重謝，不過以藥方為世俗所罕見，庸陋醫士，必詫為雜亂無章，病家不察，疑信參半，必不敢如法守服，或減輕分量，僅與少許，則藥不敵病，自然無效，屆時群疑眾謗，因之峰起，肺腑非能言之物，誰與辨白？今主人既表示決心，可命紙筆立方，即疏《本事》溫脾湯與之，令其連服二帖。閱二日，病者踵門道謝，並求善後方，與理中加附子而痊。</p>
<p>何某，患咳嗽，胸中痛，痰涎臭不可近。踵門求診，脈之浮滑。曰：此肺癰也，與《千金》葦莖湯數服而瘥。</p>
<p>谷某之子，年十餘歲，其父攜之求診。據云咳嗽、發熱、口渴，小便不甚利，服發散藥不愈，已數日矣。同道二人先後拈脈畢，皆主小青龍湯，正寫方未畢，余適自外歸，詢知其狀，即持脈，浮而微數，心知方錯，未便明言。寫方者詢方是否？即慢應曰是。病者去，乃謂之曰：頃間方症不對，試再細思。一人曰：先生必別有妙方，請明示之。余曰：小青龍症，仲師雖未言脈，然即表不解三字推之，則可知其脈必浮緊也。今脈浮而微數，乃是豬苓湯症，試取《傷寒》、《金匱》細閱便知。吾意病者明日必來，當照方更正。次日，其人果來，謂方無效，乃為疏豬苓湯，一劑知，三劑疾如失。</p>
<p>首飾店主胡某，因攜其子求診，並談及其妻近三、四年來，每至霜降節，必發生痢疾，甚以為苦，不知所以。刻下時值七月，若至九月，難免不再患痢，屆時當請屈駕診洽，剷除病根。余應之曰：可。至霜降時，胡某延診，審視腹痛裡急，赤白雜下，日夜二十餘行，舌色鮮紅，苔白而薄，身微惡寒，脈浮緊。自云先日食麵受涼，遂爾疾作，已兩日矣，尚未服藥。即與平胃散加羌活、防風、神麯、麥芽等味，以剪除新邪，二劑，外感已；繼用大承氣湯兩劑，最後腹痛甚，下黑汙臭糞極多，症減七八。恐其久蓄之積，根株未盡，復進大柴胡兩劑，各恙皆平，乃以柴芍六君調理而愈。次年霜降時，疾不復作。仲景嘗云下痢已瘥，至其年月日時復發者，以未盡故也，不誠然哉。</p>
<p>江西黃君在中，初患外感，諸醫雜治，屢變不痊。延診時，言刻下最苦者頭暈痛，猛不可當，心煩、口苦，手足不時熱而麻木，已半月矣，大便時硬時溏，小便黃而澀，舌色紅而苔黃，脈弦數。與風引湯兩帖，疾如失，後以誤用他醫方，疾復發，但比前較為輕減，復延診，仍用風引湯愈之，改進甘寒養陰，十餘劑而瘥。</p>
<p>潘某，初患頭痛，往來寒熱，余以小柴胡湯愈之，已逾旬矣。後復得疾，諸醫雜治，益劇。延診時，云胸中痞滿，欲嘔不嘔，大便溏泄，腹中水奔作響，脈之緊而數，正疏生薑瀉心湯，旁有少年謂黃連、黃芩涼藥，乾薑、生薑熱藥，人參補藥，何一方混雜乃爾？余曰：方出《傷寒》，仲景明言「胃中不和」，心下痞硬，乾噫食臭，腹中雷鳴下利者，生薑瀉心湯主之」，吾乃照錄原方，毫無加減，既患寒熱錯雜之症，必用寒熱錯雜之藥。其人語塞而退。已而一劑知，二劑愈。閱日復延診，其人從旁笑謝曰：日前輕慢乞恕！乃今知古方之不可思議也。余笑頷之而去。</p>
<p>湖北張某，一日延診，云近得異疾，時有氣痛，自臍下小腹起，暫沖痛至心，頃之止，已而復作，夜間尤甚，諸醫不能治，已一月有奇。吾家有老醫，寄居此間，請為指示病源，並賜妙方，當執以授閱，借增識解。審視舌苔白滑，脈沉遲。即與桂枝加桂湯，並於方後注云：《傷寒論》一則曰「發汗後，其人臍下悸者，欲作奔豚，茯苓桂枝甘草大棗湯主之」；一則曰「燒針令其汗，針處被寒，必發奔豚，氣從少腹上衝心者，與桂枝加桂湯」。此乃奔豚症，與仲師方案恰合，可以一劑知，二劑愈。已而果驗。</p>
<p>腎水上逆之奔豚，見之最多，以桂枝加桂與之，百發百中。惟肝火上逆之奔豚，患者極少。一日偶從友人閒談，其同居有婦人前來，云其媳患氣痛，口苦咽乾，寒熱往來。余曰：可取方往，不必臨診，意謂必小柴胡症也。其婦要求過診，友人亦從旁敦勸。詢之痛從少腹上衝胸及咽喉，頃之即止，已而復發如初，脈之弦數，舌苔白。即謂友人曰：此症幸臨視，否則方雖無妨礙，病必不服。此乃肝火上逆之奔豚，為生平所罕見，當用《金匱》奔豚湯，即疏方與之，一劑知，三劑已。</p>
<p>楊氏婦，年三十許，得一疾，醫莫之識，人皆傳為笑柄，在病者亦莫能言其所以。一日，其夫來云：拙荊現無他症，但云胸中窒塞無聊，短氣，難於語言，有時呼吸亦殊艱阻，予偶以手按摩之，稍舒，後因臥以足抵其胸，覺甚快，後遂日夜不可刻離，甚以為苦，至今三月，醫藥罔效。臨診，舌無苔而色暗，脈澀。沉吟久之，偶憶《金匱》有肝著症，與之相合，即以旋覆花湯與之，方中新絳易以茜草，進三服，症不甚減。因念原方新絳，不知究系何物；藥店茜草，是否真假，猝難辨別。乃用《醫林改錯》中通竅活血湯，三服，症減大半，又三服而瘳。</p>
<p>同道晤談間，云曾診一婦人，時時欲哭，不可忍，狀如鬼祟使然，莫名所以。但見其人瘦弱異常，年三十，無子女，亦無他疾，脈之微澀，比時搜索枯腸，無方對付，姑以逍遙散塞責，願質之先生以為何如？余乃莞爾曰：此即臟躁也。《金匱·婦人雜病》云：「婦人臟躁，悲傷欲哭，狀如神靈所作，數欠伸，甘麥大棗湯主之」，試取而讀之便知，他日當為易方。已而果驗。</p>
<p>洋貨店曾某，患傷寒，一月未愈，後變嘔吐，食入頃刻，傾吐無餘。諸醫技窮而卻走。延診時，見其滿面紅光，舌色紅而有刺，脈洪數，大便硬，與大黃甘草湯而瘥。反胃症之可畏，人皆知之，而試詢其所用之方，動輒彙集滋潤之品，以多為貴，及至屢服不應，徒太息於疾不可為，而不知其操術之不工。一醫然，從醫皆然，故一患反胃，鮮有愈者。胡某，江西人，世居長沙營業，一日因外感屢變，患反胃，延診，舌苔白，脈微緩，與大半夏湯十餘劑，平復如初。以此方獲愈者多，足見經方之神妙，洵非後世所能及也。</p>
<p>世醫固守胎妊禁忌，往往遇病而不敢用藥，遂至孕婦之疾遷延不愈，卒至母子俱傷，皆由食古不化之過也。《內經》「黃帝問曰：婦人重身，毒之何如？岐伯曰：有故無殞，亦無殞也」，旨哉言乎！有何姓婦，娠已七月，發熱腹痛，臍以下如潑冷水，舌苔白滑，脈弦。他醫概以四物湯加味，久之不愈。余曰：此乃附子湯症，何不照服？一醫謂附子為孕婦禁藥，誰敢用之。余曰：《金匱》懷妊六、七月，脈弦發熱，其胎如脹，腹痛惡寒，少腹如扇，所以然者，子臟開故也。以附子湯溫其臟。豈仲師而不知禁忌者？遂疏附子湯與之，一服而愈。</p>
<p>按：治妊婦，不宜拘守禁忌，亦不可毫無顧忌，總以適可為止，斯為妙手。《內經》曰「大積大聚，其可犯也，衰其大半而止」，示醫者以斟酌審慎，何等周到。嘗記曾治一孕婦，胎結已三月，嘔惡不止，米飲不能入口，已數日矣。腹中飢，大汗，脈兩寸浮，兩尺如無，氣息奄奄，勢甚危急，醫皆束手。余以六君加旋覆花代赭石與之。同道皆咋舌，不敢讚辭。乃告其夫曰：舍此萬無治法。即令從速備藥，徐徐灌之，始得吐少咽多，藥完一帖，約嚥下十之七八；再一帖，即不嘔吐矣。遂令止藥，待觀後效。閱二日又嘔，又進藥兩帖而止。如此者先後三次，平復如初。夫有其病而不敢用其藥，是謂無識；病已止而過劑，是謂畔道，二者皆不足以言醫。有志者當知所從事焉。</p>
<p>一男子曹姓，腹中隱隱作痛，脹滿不堪，乍寒乍熱，口渴，脈沉滑，醫者每以發散藥圖治，益劇。肩輿求診，按其腹濡而痛，間露紫筋。余曰：此係腸癰，宜及其未潰而下之，否恐潰爛難治。乃以大黃牡丹湯兩帖，下黑糞甚多，各症悉減。改用赤豆薏苡湯加味，五帖而愈。</p>
<p>按：腸癰生於腹中，隱而難見，非特外科不知，即內科率多無從問津，甚至潰而且死，膿血或從便下，則群目為痢；或從臍出，則益撟舌不能作聲。嘗見一八歲小孩，腸癰潰後，膿血從大便出，皆作痢治而死。又見一兒膿血從臍間出，醫以為病即在臍，用末藥摻之，三日而死。又見一兒先此數月，食指商陽穴現一小瘡，潰爛不休，後因腸癰內潰，指瘡始結痂而愈，其父頗諳醫，以治久不愈，具以告，邀余臨視。腹熱腫脹，筋露青紫，滿面青暗，不可逼視，氣息奄奄。余曰：此大腸癰也。其父驚問：何以一望而知？余曰：食指商陽穴，是大腸經脈所起，即是確證；腹筋青紫，面色青暗，皆是癰毒潰爛之現狀。症已無救，不須服藥。次日即死。嗣聞其父深自愧悔，每恨挽治之不早也。</p>
<p>周姓婦，年三十許，產後已逾兩月，忽心中煩熱、氣短，不能安枕，欲小便不得，腹脹滿，雜治半月，益劇。幸飲食如常，脈之弦緩。一醫欲與五苓散。余曰：當用腎氣丸。《金匱》曰：「婦人煩熱不得臥，反倚息，此名轉胞，不得溺也，腎氣丸主之。」主人正檢前方中有五苓散。即疏腎氣丸與之，一服知，二服愈。</p>
<p>傅某之子，才五歲，咳嗽久而不愈。延診時，見其喘急，目突淚流，莫名其苦，舌苔白而薄，脈浮數。時值夏至，諸醫但以通套疏散藥與之，無一應者。余曰：此症必用麻黃方效，不可拘泥時禁。即疏越婢加半夏湯。其父猶疑之，余引《金匱》「咳而上氣，此為肺脹」詳細告之，因取藥少少進服，不一杯而疾如失。可見經方之通神，匪夷所思矣。</p>
<p>林君振華，患瘧，每日申時發熱，不惡寒，交亥止，身疼痛，欲嘔不嘔，舌苔白薄，脈平不弦。余念《金匱》「溫瘧者，其脈如平，身無寒，但熱，骨節煩疼，時嘔，白虎加桂枝湯主之」，正謂此也，即照方授之，一服知，三服已。</p>
<p>丁巳夏，患瘧者率不可與柴胡。章姓婦，熱多，微惡寒，醫者與小柴胡湯，不應。嗣以補中益氣及溫燥，益煩躁不寧。延診時，舌苔黑而少液，口乾，但欲漱水，脈不弦而沉數。余以為乃腎陰虛而挾相火也，以六味加黃柏、知母，二劑而愈。後遇多人，脈皆不弦，症每相類，俱以六味加減治之。書此以見瘧症之變。</p>
<p>勸工場賈某，患寒熱，骨節煩疼，無汗，口渴，大小便俱不通，已兩日矣。脈之緊數，舌色紅而苔白，與劉河間防風通聖散兩服而瘥。</p>
<p>四川商徐某，患兩腳骨節疼痛，晝夜叫號，跬步不能移，雜治不愈，已十日矣。脈沉緩，舌苔淡白，欲食，大小便如常，與自制七節湯，方中黃耆減半，加牛膝二錢，一劑知，連服十劑，平復如初。</p>
<p>南貨店黃某，患手足遲重，口中淡，不飲食，懶言語，終日危坐，不可名狀，醫藥雜投無效，脈緩。余曰：此寒濕也。《金匱》云：「濕家身煩疼，可與麻黃加朮湯。」照方與之而愈。</p>
<p>《金匱》百合病，言之詳矣，余曾為人醫病，未之見及。一日有工廠織工踵門請曰：前此大病一月，幾死。據述近狀，竟是百合症，脈之浮救。又曰：病久囊空，難於購藥。乃以百合一兩、玉竹參六錢、麥冬六錢，令其煎水代茶，數日而愈。</p>
<p>蘇州易某，以販賣寄寓長沙，一日負貨踵門，價售畢。請曰：患病已一年，人莫之識，醫藥屢更，訖無一效。袒而示之背，云內有肉約一拳大，覺冷如冰，視之略無異形，按之不痛。余沉吟久之，意其必系寒痰凝結所致。《金匱》云「心下有留飲，其人背冷如掌大」是也。脈之弦，舌苔白滑。脈症相合，即以控涎丹與之，下痰涎極多而瘳。</p>
<p>高士宗謂：連嗽不已，謂之頓嗆。頓嗆者，一氣連嗆二三十聲，或十數聲，嗆則頭傾胸曲，甚則手足痙攣，痰從口出，涕泣相隨，皆由毛竅受寒，致胞血凝澀，其血不能淡滲於皮毛絡脈之間，氣不煦而血不濡，則患頓嗆。用藥當以治血理肝為主。蓄之於心，未曾經驗。一日有傅姓小兒，患症與高氏所論適合，他醫用疏散藥不應，脈之細澀，乃以當歸四逆湯與之，一劑知，三劑已。</p>
<p>江西林某，營業長沙，身肥嗜酒，善啖，忽患胸中痞滿，鬱結不舒，醫治三月不效。嗣後胸膈益脹滿不堪，每以手重捶少止，已而復作，一日夜必數次或十餘次，如是者又一月有奇，醫皆莫識，惟飲食尚可，舌苔白，脈弦滑。余偶憶十餘歲時，聞諸戚友，云有人曾得怪症，狀與林同，醫無治法，後因患他症大嘔，痰涎中雜若黑蝨者甚多，疾竟如失。因思林體肥而善飲啖，濕熱素盛，乃生痰生蟲之根據，所患之症，非痰即蟲，惟有引吐一法可以治之。乃以萊服子搗碎，以沸湯攪和，少涼，令其徐徐飲之，初次所嘔皆痰涎，最後痰水中果有如黑蝨者，頃之盈盆，蠕蠕而動，疾遂不作矣。可見人之疾痛，非耳目所能盡也。</p>
<p>鄧某患疝，疼痛腫脹異常，惡寒，舌苔白，脈沉緊，與當歸四逆加吳茱萸湯與之不應，乃加附子、乾薑，三劑平復如初。</p>
<p>按：疝症經手治驗者甚多，有用陳修圓二陳湯加味者，有用大柴胡或大承氣者，不及備載，皆由體氣不同，寒熱各異，未可執一也。</p>
<p>謝姓婦，前陰熱癢，爪搔至皮破血流，無片刻停，醫者用方內服外敷不效。舌苔白，脈之左手沉數，以龍膽瀉肝與之而瘳。又一婦人前陰熱癢，且有蟲蠕蠕，亦以上方服之，並研殺蟲末藥，設法納入，遂瘥。</p>
<p>汪氏女，年十餘歲，忽惡食，自云穢臭不可聞，馴至月事亦不行，醫治罔效，已兩月矣。診之：脈濡緩，舌色紅，苔白。細詢症因，據云清明節，母命在山中守筍，坐臥濕地得之。因悟此乃濕熱侵入血室所致，以小柴胡湯合二妙散加萆薢、桃仁、歸、芍，三劑而月事行，漸次進食而愈。</p>
<p>木工李，體肥嗜酒，患膚癢，搔之蟲蠕蠕盈指甲，醫治數月無效。診之：脈弦緩，舌苔白。皆由酒食侵淫，遂致肺失治節，肝木鬱而生蟲。乃以補中益氣湯倍柴胡加白芍、蒺藜、杉枝、桑枝、枳椇子，並令戒酒，旬日而愈。</p>
<p>吳君迪光，江西人，營業長沙。患往來寒熱，胸中痞塞，醫以敗毒及各種發散藥與之，不效。易醫以柴芍六君進，益劇。診之，脈弦滑，舌苔白。曰：此痰熱阻於膈膜也，少陽之氣通於膈，故往來寒熱。乃以小柴胡合小陷胸與之，一劑知，二劑已。</p>
<p>丁已秋，余息影常寧水口山礦物局。適張君惠疇之女工，肚腹膨脹，飲食銳減，骨瘦，身微熱，貪眠，行動維艱，脈之沉微，舌苔白暗而黑。曰：此陰寒重症，幸未誤藥，及今圖之，尚可救濟。即疏理中湯加附子，囑其連服數劑，即平復如初。</p>
<p>黔城向君之內政，娠已及期，一日腹痛甚。延診，舌苔白，脈之沉緩無力。曰：尚非正產，切勿誤認，與十全大補湯去桂，加鹿膠、艾葉，一服平復，後又十餘日而娩，母子俱安。上案甚多，不能備載，書此以為先事慌張者戒。</p>
<p>嘉禾李君玉堂，當夏曆六月忽患左足疼痛，臥床不可轉側，呻吟之聲，達於戶外。診之，脈沉緊，舌苔白，口中和。曰：此風寒直中少陰，法當用仲景麻黃附子細辛湯。旁有人咋舌言曰：天氣暑熱若此，麻黃與細辛同用，得毋大汗不止乎？余曰：此方並不發汗，非閱歷有得者不能知，毋庸疑阻。即疏與之，三藥各一錢，共僅三錢，煎水兩杯，分二次服，一服知，二服即步履如常而愈。經方之神效，洵有令人不可思議者。</p>
<p>敲砂工人某，年十餘歲，一日其母攜來求診，據云頭暈已三日矣。問之，不知對答，但作哭形，雙淚交流，面色慘晦，狀如癡人，舌苔白，脈浮大而滑。余曰：此痰飲上逆，故現此症。與溫膽湯去甘草，加旋覆、赭石、南星等藥，一劑知，二劑愈。因無力服善後藥，閱數月又發，仍與前方，效如桴鼓。</p>
<p>工人李某，患感冒，醫藥屢更，益劇。診之，惡寒發熱，無汗，口渴，四肢頑麻，大小便俱不通利，已三日矣。舌色紅而苔白如霜，脈之浮洪而數，此表症未除，里症復急，法當表裡兩治，與防風通聖散兩劑而瘳。</p>
<p>河南商城馬君誠齋之內政，素體弱，孕才二、三月，忽患昏迷，不省人事，四肢冷，面色慘白，頃之蘇。嗣後或一日一發，或數日一發。時周公銘山，頗諳醫學，與馬有姻，嘗為主方，以其症之稀見也，駭而辭卻，囑其專請余治。診之，脈澀弱，舌苔淡白而薄，就叩所以。余曰：此即子癇也，凡氣血虛弱之婦女，一遇胎結，則正氣難免阻滯，不能周流，遂現此症，以補養之品調之，可無虞也。即疏歸脾湯加味，一劑知，數劑愈。</p>
<p>語云：百病易治，咳嗽難醫。蓋以症之緣起紛繁，非明眼人，動輒舛錯，每有愈治愈壞，致戕生命者，指不勝屈。龍王山工人某，云先年秋患咳嗽，屢醫無效，已置之不理矣。今春，每逢寅卯時，喉間如煙火上衝，即連咳不止，晨餐後漸止，以為常，已三閱月，未少間。詢之口中微苦，氣粗，不渴，舌色紅而苔白，脈浮大而滿指，按之緊數。曰：此寒包熱也，脈緊為寒，數則伏有熱邪，彼粗工烏能知之。即與小青龍湯加石膏，一服知，再服已。</p>
<p>陳某，當夏曆五月，患大小便俱不通利，腹脹不堪，已旬日矣。據云數年前，嘗患此症，以服溫藥獲愈，照方服之，不應。他醫以通利藥進，亦無效，改從暑熱治，益劇。診之，舌苔白，口中淡，脈弦緩。曰：此係風濕阻滯，肺失治節，脾失轉輸，故形此症。與麻黃加朮湯益入紫菀，一劑知，再劑已。</p>
<p>安徽桐城馬君鐵珊之女工，年方十二歲，患溫熱症，大熱大渴，汗出，雙目紅腫，口舌亦腫裂流血，頭痛如劈，腹痛泄瀉，臭不可聞，脈洪大而數。與大劑清瘟敗毒散加減，二劑，各症稍輕，忽遍體發現紅斑，仍用原方日夜進服，又四劑，十愈七八，乃去苦寒，加入甘寒等品，又數劑而始瘳，愈後半月，髮膚手足爪甲俱脫，久而復生。甚矣！瘟熱之毒焰，洵非輕劑所能僥倖也。</p>
<p>婦女似娠非娠之疾，或成癥瘕血蠱，或感異氣而結為有形之物類，或由氣結而漸變為水，古有之矣，從未見有始終純由氣積，酷肖真胎，而於臟腑身體毫無窒礙者。揚州方君禹金之繼室，體素羸弱，月事愆期，余為治愈矣。一日延診，云經斷已及三月，未審是停是娠，脈之澀弱。曰：娠殊未確，但無他恙，可以美膳調之，不必用藥。至五月又延診，曰：脈如前，未必娠。自云腹內動，與娠無異。余答云：徐觀後效，毋庸服藥。嗣後期已九月，復診，脈不少異，腹已高大，但較常娠差小，動時酷似真胎，兩乳亦略起而有清汁，余念如果胎娠而靚此脈，後必難保危險。延至十一月未產，方君云：常娠不過九、十月而產；今若此，殊難索解。余曰：娠十餘月而產者，古嘗有之，但其脈究有疑義，且徐俟之。後又數月，方君笑而告曰：內子之疾誠怪，自月事斷及今十三月，昨今兩日，腹響泄氣不止，至晚腹消大半，今日仍然，腹已全消如常，又無他恙，豈非怪事？余曰：誠然，我未之前聞也。書此以諗世之究心胎產者。</p>
<p>福建閩侯陳君潔如之內政，每月事將行時，必腹中痛，大便下白膿。診之，脈弦遲。曰：此內有積寒，當以溫藥下之，疏方用《本事方》溫脾湯。後陳君云：時期已過即愈，前方尚未進服，余心知其疑畏也，笑而頷之。嗣於數月後又延診，云舊病曾請某醫舉方，屢治未效，余曰：方猶前也，毋庸疑阻。囑以一劑不應，必連二劑或三劑。不料其內政仍心懷疑畏，每日止進一杯。越二日，又延診。余曰：藥雖對症，日服一杯，藥不敵病，烏能有效，自後務必連服數杯，藥乃接續有力，以大便下盡黑糞或白膿為度。始照法服之，下黑糞甚多而愈。以後月事如常，舊恙不復作矣。</p>
<p>袁君友松，寧鄉人，性謹願，生平篤於自信，嘗以體素羸弱，非補品不敢沾唇。仲秋時節，陡患泄瀉，日數十行，繼以紅白，腹脹痛不可忍。適余偶過訪，即挽之主方。脈之弦緊，舌苔白而濕滑。即疏胃苓湯加味。囑其連服兩劑，如疾不減，當另易方，勢雖劇，幸勿亂。袁君疑藥之克伐，僅煎進一杯，即謀另醫。值友人問候，為其諳醫道，示以方，勸其當照服兩劑，徐觀後效，始再進一杯，見疾未減，即用他醫方，藥愈亂，疾益劇；乃延谷某治之，用大劑滋補品，三日勢轉危急，粒米不入，體亦疲睏，臥床不起，谷辭不治，云已無脈。舉家驚慌絕望，為具後事，病者亦自分死矣，遂不服藥。又三日，疾如故，同事皆云病雖十分危急，不可坐視，日已晏，其侄祝候君至，云家叔病曾承費心，今若此，未審可以挽救？請往視之。余曰：令叔之恙，前此開方時，已剴切言之，若聽余言，必不至此。今孱弱之軀，藥誤幾遍，閱時又久，恐無及矣。袁君曰：奉叔母命而來，不論如何，當請枉顧。余以袁氏叔侄間交情素厚，不忍卒卻。診之，脈仍露弦緊狀，舌苔濕暗，自言腹中脹痛，並述前藥屢誤，此後請用何藥，但語言間不相接續。餘一一佯諾，就榻前立方示之。退就他室謂其侄曰：脈有生氣，前醫謂無脈者，當系誤用補藥而伏也，但疾呈可治，奈令叔本不知醫，而性頗執，榻前之方，乃一時權宜，不欲逆病者意耳。人心為君主之官，心之所至，藥氣每隨之而行，一逆其意，藥雖對症，必緣思想而弊端叢生，此事主權全在君身，余另有真方授服，但不可令病者知耳。袁君唯唯稱善。即疏《本事方》溫脾湯以祛積寒，三服，痛脹頓減，稍進糜粥。嗣後或用胃苓合左金加黨參，或用補中益氣合左金，漸次向愈，其中權宜遷就者又五方，最後以十全大補加味進，始告示以真方，時則已能於室內自由行動矣。計自病劇以至痊愈，又歷半月之久，舉家感激，至登報鳴謝。人或謂余何不憚煩？答曰：枉道徇利則不可，至枉道救人，即嫂溺援手之道，聖者不之非也，又何尤焉。</p>
<p>黃海廷之兒，年七歲，發熱口渴，腹痛，口不欲食，已半月矣。診之，脈數而促，舌苔黃燥而色鮮紅，痛處不可手按，人疲倦而煩躁，大便不暢，小溲黃濁。審知食積久而化熱，本宜用大承氣，因慮其體羸不勝，乃以三一承氣湯加黨參服之，一劑便行，二劑下黑糞甚多，熱退渴止、痛減，脈亦不促矣。改進柴芍六君一帖，腹痛又作，而身微熱，知積未盡，再以大柴胡湯兩劑而瘳。</p>
<p>周某之妻，年二十餘，患後陰熱痛而腫，繼連前陰亦然，小溲短熱，行動維艱。其夫請方，余疑其為淫毒也，卻之。他醫以發散及寒涼清利進，益劇，馴至咽喉亦腫痛，水穀難入，復再三懇求。診之，脈沉微，舌苔白而滑。曰：經言「腎開竅於二陰」，腎陽不潛，浮游之火蔓延上下，故見此症。以《濟生》腎氣丸與之，一劑咽痛止，二劑腫痛減半，三劑頓愈。</p>
<p>漆工餘某，郴縣人，患胸背作痛，或因感受寒熱，痛即加劇，又每至晚間輒噎食臭，腹飽脹或微痛，不能進食，醫治不痊，已十年矣。近一二年內，夜及晨必瀉利一二次。脈之，沉緊而弦，舌苔灰白。與瓜蔞薤白桂枝湯不應，本擬用烏頭赤石脂丸，適合有神保丸，即以七粒與之，令其用溫開水送服。間二日復來，據云日前心疑藥少力薄，恐難獲效，因將所授丸藥嚼碎，用開水送下，頃之泄瀉，至傍晚已十次，飲冷茶一鍾即止。今則胸背不復痛矣，但晚間腹脹、干噎及晨泄，尚未痊愈。為疏理中加附子、吳茱萸、固脂等藥，令其多服而痊。</p>
<p>長沙劉君鑫森之母，年近七旬，體氣素旺，不親藥餌。一日感冒，發熱惡寒，身體疼痛，無汗，心煩惱不堪。診之，脈浮緊，舌苔白而薄。余曰：此與《傷寒·太陽篇》大青龍症正相吻合。即疏大青龍湯授服。次日復延診，劉君云：日昨之方，見者咸宜阻之，多以高年宜用溫補為言，議論紛歧，莫衷一是，幸尊方為向所深信，即一概謝絕，照方煎服，今疾勢已減大半，則方之獲效，不辨自明。余笑應之曰：仲景真方，非特門外漢不能知，即箇中人多不能領會，每有方甚平常，施之大症，輒獲奇驗；亦有方似奇險，用之得法，效如影響者。故古聖之方，非精思不能窺其奧竅，非屢試不能識其神奇，若大青龍湯，乃百試百驗之方，所患者症不確耳。吾臨症擬方時，曾再三審慎，若旁人異議，不足深怪。今若此，當將原方再進一服，即照方服之。至其明日，寒熱身痛悉瘥，惟心煩未愈，舌苔轉黃色，脈弦數，與梔子豉湯兩劑不應，改授黃連阿膠湯兩帖而痊。若不憑脈症，而但怵於高年，即不施補養，而或以搔不著癢之方塞責，萬無愈理，庸醫殺人，此其一端。精於斯道者，自能辨之，斷不嫌言之過激也。</p>
<p>工人谷某，先得外感，繼轉瘧，熱多寒少，大渴多汗，以金雞納霜服之，不愈，即加倍進服之，瘧止；閱日復作，又加倍吞服，旋止旋作，已而面目手足俱浮腫，踵門乞方。脈之弦數，舌色紅而苔白，與小柴胡加花粉、知母、常山、青皮，於瘧未發先一時進服一帖，瘧止，嗣與調理，各恙遂痊。</p>
<p>火車站工人某，年五十餘，遍身腫脹，色黃而暗，飲食銳減，醫治益劇，自分死矣。踵門乞診，脈之，緊而緩，舌苔灰白而厚滑。與五皮飲加荊芥、防風，紫蘇，三帖，身微汗出，腫消大半。改用真武湯加防已、木通、椒目，數服而瘳。礦工揚州黃某妻，患咳嗽，久而不愈。據云毫無餘症，惟五更時，喉間如煙火上衝，即癢而咳嗽，目淚交下，約一時許漸息，發散、清涼、溫補，備嘗之矣，率無寸效。脈之弦數，舌色紅而苔白。曰：此有宿食停積胃中，久而化熱，至天明時，食氣上乘肺金，故咳逆不止。醫者不究病源，徒以通常止咳之藥施之，焉能獲效。為授二陳湯加薑汁炒黃連、麥芽、萊菔子，一帖知，二帖已。上症驗案甚多，聊舉其一，不復贅云。</p>
<p>機械工某之父，年近六旬，初患外感夾積，醫以發散消食之品與之，尋愈矣，已而腹脹痛，泄瀉不止，更數醫，率用破氣消耗進，疾益劇。肌冷汗出，呼吸急促，不能接續，時時登廁而無便，飲食不入，已數日矣，自分不起。其子踵門求診，脈之，浮大而虛，舌苔灰暗濕滑，檢方盈寸，殊堪噴飯。曰：此虛寒而中氣下陷，再投前方，命其休矣！即授補中益氣湯加烏附、乾薑大劑，囑其不避晨夜，陸續進服，四劑而瘳。</p>
<p>《傷寒論》云：「太陽病不解，熱結膀胱，其人如狂，血自下，下者愈。」按：熱結膀胱，即熱入血室之變文，以血室與膀胱相連也；其曰「其人如狂」者，即包括小柴胡症譫語見鬼在內；又曰「外解已，但少腹急結者，桃核承氣湯主之」，所謂急結，即兼有抵當湯症之硬滿在內。病變不一，古文簡略，讀者當扼定病源，即其常以通其變，斷不可死於句下，所謂知其要者，一言而終，不知其要，流散無窮也。吾臨症凡三十年，所見熱入血室，在男子因傷寒而傳變者絕少，而以婦人關於月經者為最多，茲述一二，以例其餘。趙公惺予之家婦，因經水適至，患往來寒熱，身體疼痛，無汗，脈浮緊，與小柴胡湯加麻、桂等藥兩劑微汗之，寒熱身痛已，嗣復經水中止，腹劇痛如被杖傷，不可手按，傴僂不能行動，按脈弦數。審系熱入血室，以年少體強，即授桃核承氣湯一服，下黑糞，痛減，二服霍然。同時陳君潔如之內政，症與上同，但身不痛而汗出為異，與小柴胡加桂尖二服，外症已，旋患少腹疼痛，如杖傷然，以體素弱，恐其不能胂受桃核承氣，借用四物去地黃，加桃仁、紅花、桂尖、醋炒大黃，兩帖，下黑糞甚多而愈。上二症皆無譫語見鬼症，而少腹痛如杖傷，又仲師引而未發之旨，學古者所以貴得言外意也。</p>
<p>李某，當夏暑時，初患外感，醫治不如法，十餘日後，忽大汗大渴，身大熱，時作譫語，群醫以症屬罕見，卻辭不治。踵門求診。詢知身雖惡熱，而足下卻畏風而冷，切脈洪大而緩，舌色紅而苔白且厚。曰：大渴、大汗、身大熱而譫語者，三陽合病，為白虎湯之的症，仲景《傷寒論》已明言之；足下畏風而冷者，兼有濕也。即與白虎湯加蒼朮，一劑知，二劑已。</p>
<p>鄧某之妻，小產後，患感冒，雜治不痊，已而身大熱，多汗，少腹硬痛，勢已瀕危。其夫倉皇乞診。脈之弦數，舌色紅而苔白。詢知痛處手不可近，溲便皆不通利。檢閱前方，皆與症反，殊為可哂！審系瘀血停蓄為患，本宜桃核承氣湯，以病久人困，慮其難於勝受，乃變通用四物湯去地黃，加桃仁、紅花、肉桂、醋炒大黃，一劑下黑糞，痛減七八，再劑而愈。</p>
<p>窿工石某，因在窿內供役十餘年，蓄積寒濕，兩足及腰痠痛。醫者概以搔不著癢之方施治，遂日以劇，腫痛難行，面目暗黃，亦露腫痕，舌苔白而濕滑，脈沉弦而緩。與麻黃五積散加附子六劑，腫消痛減，繼受真武湯加木通、黃耆、椒目，又五劑而瘳。同時又一窿工鄧，患與石大同而小異、亦以前方加減而獲效。上症最多，不能備舉，惟症變異同之處，在醫者善於變通也。</p>
<p>機械工某之妻，患前陰熱腫痛庠，最不能堪，醫治逾月，毫無寸效。其夫踵門乞為一診。脈沉弦而滑數，舌色鮮紅而苔白，口苦咽乾，不喜飲，溲數而短熱，知系厥陰風濕，久而化熱生蟲所致。即以龍膽瀉肝湯加黃柏、知母，服五六劑，並外用殺蟲清熱去濕之藥敷洗而愈。</p>
<p>工人黃某，素嗜酒而多濕，初患感冒，屢治轉劇，因迭進溫補，痰咳神昏，頭暈耳聾，胸痞而嘔不止，脈混淆不清，舌紅而苔垢，口臭逼人，不可向邇，醫皆卻走，譁以不治。余曰：此濕鬱化熱，為溫補所錮閉，胸中大氣，失其升降；邪熱痰涎，無從宣泄，故現以上險惡之症。法當清利濕熱，滌除痰垢，使胸膈寬舒，肺胃清肅，則乾坤自有一番新景象。疏方用小陷胸合溫膽湯，加黑梔、檳榔、木通、滑石、竹茹等藥，三帖而諸症頓減大半，脈顯滑數，小溲熱赤，大便通利。復就原方稍為增減，又數帖，各恙遞蠲，舌露鮮紅，改授養陰清熱而瘥。</p>
<p>窿工某之妻，年四十餘，正月經將斷未斷之候，患前陰熱腫痛癢，赤白淋漓不止，極難忍耐，已逾一年，醫治毫無一效。診其脈沉微，舌色暗淡，微露濕白苔，口中乾而不渴，頭時眩暈，行動時兩腳軟弱，不能任身。審系腎家虛風所致。經云「腎開竅於二陰」，虛則內風煽擾，發生似熱非熱之症，故屢服清熱祛風利濕之藥，疾必益劇，乃以八味丸作湯，加蒺藜、牛角䚡，進服二帖，症愈大半，五帖痊愈。</p>
<p>中國地氣，高處多寒，低處多熱，土著平民，恆感受而成為偏胂之疾，故醫者為人診治，必參究天地人而為調劑，方能有濟，微論其他。即湖南一省言之，寶、永高燥而多山，麻、桂、薑、附，人多能受；岳、常卑濕而多水，腠理疏脆，上藥即不可概施。余曾治先從兄念農之滿妹，用烏附至二十餘斤，已屬罕見之事，案已載上卷。近水口山礦局漆工餘某之妻，年近四十，得陰寒大症，已一年矣，初起時尚微，不甚介意，迨後每發益劇，踵門求診。據病者云：左邊少腹內有塊，常結不散，痛時則塊膨脹如拳，手足痹軟，遍身冷汗，不醒人事，或二三日一發，或五六日一發，醫藥訖無寸效。閱所服方，厚積數寸，令人捧腹。脈之沉緊，舌苔白厚而濕滑，面色暗晦，即與通脈四逆湯，烏附用八錢，連進三劑，痛止。令其守方多服，免致再發。嗣因止藥又發，另延他醫治之，逾二旬，痛如故。仍來求診。余曰：症本不易治，豈可付毫無學識之輩，而以搔不著癢之藥圖治乎？閱方果皆庸俗不經，復以通脈四逆加吳茱萸、烏附每劑一兩，續加至二兩，服十餘劑，痛已不作，而內塊未散，因念《金匱》「寒疝腹中痛、逆冷、手足不仁，若身疼痛，灸刺諸藥不能治，抵當烏頭桂枝湯主之」，惟烏頭不可得，即用生附片一兩，照方煎服。至四帖，脈緊稍減，內快漸小，食量增，精神益振。但藥方為俗所未見，莫不驚駭，群疑眾謗，時聞耳鼓。幸病者性頗慧，謂藥業與症對，當多服圖效，不肯更易，並求增加附片至二兩，余允之，又服數劑，內塊遞減。嗣復陸續增加附片至四兩，已服兩帖，其夫慮其病久且死也，時值冬杪，謀舁歸，求另方。余曰：方無以易，惟途中仍不宜缺藥，當預購以備服，即攜藥四帖而行。記旅行三日，盡三帖，至第四日抵家，病者體氣日健，喜出望外，即取余藥一帖，濃煎大碗，一飲而盡，頃之，面熱如醉，手足拘攣，舌尖麻，已而嘔吐汗出，即平復如初，忻然向其夫而言曰：吾病其瘳矣！蕭先生先見之明，果然不爽，自後毋庸服藥，竟不藥而諸症如失。次年春，其夫復至礦局，備述如此。嘗謂大病必須大藥，非特醫生必有確定之見，又必病家信用之堅，兩者相須為用，方能奏迴天手段。如上症苟非病者信服不疑，必為旁議撓惑，功敗垂成，反使門外漢得以藉口，而真見病源者，不免代人受謗，無從辨白，自古名醫之身遭其厄者，何可勝道！吾於斯症，何幸而獲免也。</p>
<p>壬戌夏月，據報載各省患霍亂症者甚多，死亡接踵，而小兒尤甚，嗣聞衡陽及常寧地方亦然。余在水口山礦局，聞諸道路，皆云醫治罔效，不禁啞然！但以未曾經見，不便臆斷。適同邑陳君質彬之女，生才六月，陡患此症，嘔泄無數，發熱汗出而渴，手紋色紫，以竹葉石膏湯加梔子與之。閱數日，聞手足厥逆抽掣，口鼻皆冷，死而復甦者兩三次。復過診，手紋深紫而硬，舌苔干黃生刺，查系妻亦罹重恙，見是女症殊險惡，已無生理，付之乳母，怠於救治，藥不時進，故爾至此。乃改用薑汁炒黃連一錢，生石膏三錢，黑梔子三錢，法夏一錢，香豉一錢，蠶砂一錢，鮮竹茹錢半，吳茱萸一分，生甘草一錢為劑，囑其濃煎連服，盡二帖，嘔泄止，乳食如常，仍以竹葉石膏湯加梔子，再兩劑而愈。自後經手治愈者甚多，率以涼藥獲效，其用藿香正氣、平胃等方者，多致不救。而盲從者流，漫謂時疫流行，無從救濟，豈其然哉！同時陳君之第二子，年甫三歲，患疳積，口渴，不時泄瀉，間有微熱，肚腹鼓脹堅硬，久而未愈，適送眷回家，請方。用黨參、淮山，五穀蟲、蝦蟆、雞內金、楂炭、黃連、楝實、青皮、雲苓等藥為方授之。嗣後陳復至局，詢知歸家照服數帖，各恙悉蠲，身體肥健如常矣。</p>
<p>胡某，初患頭暈心悸，余以清熱祛風滌痰之劑服之而愈。閱數日復發，醫用疏利不效，繼以溫補，愈治愈乖，仍來乞診。詢知胸中窒塞，口苦，時時嘔惡，大小便亦滯塞不通，粒米不能下咽。氣喘，夜不安枕，時有譫妄，脈之沉極而滑，舌絳苔濁，穢氣逼人。蓋為誤服溫補，阻塞肺胃升降之機，以致痰熱無從宣泄，故增出以上惡症。即用黃連、瓜蔞皮、枳實、法夏、梔子、旋覆、赭石、石膏、膽星、貝母、海蛤、花粉、黃芩、菖蒲等味出入為大劑，調入竹瀝、薑汁，服五帖，諸症遞減，乃去苦寒，參入甘寒清潤等藥，又十餘帖，始獲痊愈。</p>
<p>敲砂工某，先患傷寒，雜治不痊，乞診。脈之緊數，詢證惡寒發熱，無汗，口渴，骨節煩疼，腹脹，兩腿麻痹，大小便俱不通利，與劉河間防風通聖散兩帖，諸症頓減。已而轉瘧，熱多寒少，口苦，時嘔，胸痞，舌絳苔垢，脈滑數，與小陷胸合溫膽湯加黑梔、黃芩、知母，三帖，瘧已。改用清利小劑而瘳。</p>
<p>窿工某，因外感轉瘧，單熱無寒，大渴大汗，舌絳而苔白，厚如積粉，口苦，穢氣逼人，胸滿而喘，頭暈痛，食入則吐。瘧發時，人事不醒，時作譫語，已旬日矣。閱前方，或表散，或清涼，皆用柴胡，醫治益劇。診之脈洪大而滑數。曰：此乃濕熱挾痰，故顯以上各症。柴胡具升發之性，本少陽要藥，而脈不弦者，則與少陽無涉，誤用柴胡，則少陽之氣有升無降，諸經之氣亦隨而上逆，況兼各種病邪，助桀為虐，遂致肺胃二者皆失其作用，欲卻病而反以增病，皆由醫者固執不通之過。救誤方法，當以盪滌痰飲、清利濕熱為主，使肺胃二氣得遂其通降之樞機，則病邪無所依據，自然退避矣。疏方小陷胸合溫膽湯，加黑梔、石膏、膽星、建菖蒲、竹茹等藥，為大劑，一帖，嘔吐止，能進食；二帖，諸症十愈六七；三帖，瘧止。乃減去苦寒，加入甘寒清潤之品，又數帖而瘳。</p>
<p>張某，年才二十餘，平日強健，略無病苦。一日晚間二鼓時，陡患狂妄，不省人事，數人捉之就床橫臥，手足躁擾不寧。據旁人及其弟云：先此毫無他症，莫知所以。脈之浮大而虛，斷為虛狂，大抵必受意外驚駭，或他事刺激，及憂思過度，遂心神飛越，出現似狂非狂之症。疏方用大劑歸脾湯，囑其從速購服一帖，比晚熟睡，至次晨，病即如失。詢知先日因過船失足受驚故爾，繼思上症幸未汗出，又不曾誤藥，故能回元氣於無何有之鄉，否則生死難以逆料也。</p>
<p>長沙劉君鑫森之少君，年甫五歲，平日喜食糖點，久而成積，初不之覺，已而間作腹痛，所下之糞，雜有白膿，猶謂偶然小恙，未遑醫治。繼乃漸劇，日常數次。診之，脈弦緩，舌苔淡白。因其賦稟薄弱，不敢逕施下劑，乃變通用理中湯加大黃服之，不應，遂以理中合小承氣二帖，下黑糞甚多而愈。</p>
<p>新化唐君漢三第二少君，甫四歲，一日延診，云近旬內每日必大便五六次，或七八次，糞略稀軟而不泄瀉，此外毫無疾苦，筋紋淡紅。比疑外感夾食，與平胃散加味不應；斷為脾弱肝強，用四君加青皮、川楝、蒺藜等味，培土而制木，三帖，即霍然如失。</p>
<p>工人蔡某之妻，每日自午至子，手足心熱，心中煩熱，不得臥，短氣懶言，飲食遞減，身弱，艱於步履，不時咳嗽，已數月矣。脈之弦緩，舌苔淡白，口中乾，喜漱水而不欲咽，以黃耆建中湯與之，守服三十劑而安。</p>
<p>窿工某，先因感冒，雜治不效，已而轉瘧，又十餘日，危殆已極。延診時，臥床昏睡，不能起坐，問之不知答對，氣息僅屬，粒米不入，已三日矣。脈浮緩而虛，舌苔灰暗，面色慘晦，詢之旁人，但云午後微熱，不知其他。閱所服方，皆庸俗搔不著癢之藥。即以大劑六君加香、砂、草果、烏梅與之，二帖，神頗清爽，略進糜粥，再三帖，瘧已，眠食稍可，更方用大劑六君加薑、附，數帖而瘳。</p>
<p>機械工某，先患外感，醫用表散，寒熱退，已而痰嗽嘔吐，左脅下痛不可耐，舌絳苔白而厚，脈弦滑。斷為肝邪挾痰飲上逆，以致肺胃之氣不能通降。檢所服方，皆溫燥升提之品，愈服愈乖。治當滌降痰飲，肅清肺胃，兼以清熱平肝，則病可愈。為疏溫膽湯加旋覆、赭石、川楝、白芍、青皮、竹茹、梔子、黃芩等藥，二帖，嘔平，脅痛、咳痰減，再兩帖而疾去八九，改投清潤疏降而安。</p>
<p>工人之父某，年近五十，患心氣痛，雜治不瘥，已逾年矣，每有勞動，或用心稍過，即痛甚。診之，諸脈如常，惟左寸略微細，舌苔淡白，面㿠白而神不斂。即疏六君加歸、芍、薤白，服四帖，不應，改用歸脾加建菖，一劑知，二劑疾如失。繼思上二方，無大差別，而效不效若此，醫藥之微妙，誠未可掉以輕心也。</p>
<p>窿工某之妻，年約三十，產後患感，雜治不痊，已兩閱月。延診，身微熱，口渴，但欲漱水而不喜多飲，面若火烘，頭暈目眩，脈浮大，按之虛散，與當歸補血湯。記用黃耆一兩、當歸三錢。其夫以藥味少而價昂，疑不購服，改用他藥方，愈劇。逾旬復乞診，以實告，詢之症尚如前，令速照方煎服，毋得再延貽誤，果三帖而安。</p>
<p>工人某，患泄瀉，日數十行，醫以表散溫燥藥進，瀉略減，而咽喉痛，雜見白點，咳嗽，痰中帶鮮血，身大熱，汗出，遍體紅斑，口乾，不甚喜飲，年未三十，兩人掖而求診。脈浮數而促，舌鮮紅多刺，苔微黃，小溲短赤而數。余曰：此乃秋燥症，泄瀉者，肺熱移於大腸，臟邪傳腑，自尋出路，正是佳兆，乃反其道以行之，幸瀉未全止，治節之權，尚存一線，而喉關見白而痛，咳嗽帶血，則肺金受傷，已非淺鮮，及今圖治，或可挽救。與大劑養陰清肺湯加石膏、知母，三帖，症減大半，嗣就原方加減，又十餘帖，始獲全愈。</p>
<p>機械工某，患傷寒，雜治逾月，各恙漸次向愈，惟口渴時嘔，小溲不禁，有時而遺。踵門乞診。舌絳而苔淡白，脈浮大而數。曰：此陽明餘熱未淨，故口渴而嘔，熱氣上灼肺金，治節無權，不能收攝津液，小溲所以不禁而遺也。與竹葉石膏湯三帖，遂霍然已。</p>
<p>敲砂工某，先患感冒，繼轉瘧，旬余不痊，詢知單熱無寒，發時兩足冷如水澆，大渴大汗，舌色紅而苔白，脈洪大而緩。審系陽明濕熱，不關少陽，故脈無弦象，與白虎湯加蒼朮，一帖知，三帖已。同時又有工人，亦患單熱瘧，惟身疼痛、喜嘔、脈浮大而緩為異，與白虎加桂枝湯而廖。</p>
<p>工人陳某妻，患病旬日，自以單方療之，不應，更數醫亦無效。一日兩手拳曲而振掉，身大熱，面赤口渴，無汗，大小便不通，舉家驚擾。診之，脈浮洪而弦數，舌紅苔黃燥，即為刺少商穴，兩手即伸，審系表有風寒而里有實熱，法當表裡兩解，與河間防風通聖散，兩帖，汗下兼行，諸症悉愈。繼轉瘧疾，熱多寒少，改用小柴胡去法夏、人參，加桂枝、花粉、知母、常山、青皮，三帖而安。</p>
<p>窿工某，患冬溫，初微惡風，四肢串痛，頭痛而暈，口渴，發熱微汗，醫者與表散藥，益劇。延診，身大熱，大渴，心煩，口苦，汗出如浴，頭痛如劈，咳嗽欲嘔，舌鮮紅有刺，苔薄而白，脈洪大而促。即與大劑白虎加黃連、黃芩，三帖，諸症悉退，改用清潤養陰而瘳。</p>
<p>醴陵郭君小純，一日忽頭痛而暈，不能起床。自云如被酒醉，神思不甚清爽，身如寒無寒，如熱無熱，兩足間形頑麻，乾咳欲嘔，身無汗，舌無苔，尖微露紅點，夜不成寐，口中涎沫多，間露苦及甜味，小舌曲而偏右，時覺梗塞，脈模糊不清。細察病情，知系冬溫，而脈症不甚明瞭，皆由溫邪侵襲經絡，遊行肌腠，尚未內犯，故口不甚渴，舌亦無苔，兼之脈象模糊，猶是云遮霧隱時也。為疏辛涼平劑，加入輕清宣泄之品，每日兩帖。至三日，身微汗，頭痛頓減，諸症亦退，苔微現黃白色，舌尖仍露紅點，脈轉滑數，旋覆胸膈痞滿不舒，欲嘔不嘔，為溫邪由腠理侵入膈膜，兼挾熱痰使然，乃用旋覆代赭石合小陷胸並加薤白、梔子等藥。三帖，胸膈寬，正擬進善後方，詎意余焰循肺繫上熏而喉痛，沿胃經逆行而上下牙齦亦腫脹且痛，用玉女煎，以元參易熟地，一帖而喉恙除，齦腫亦消大半。閱日又忽胸痞，因取前旋覆赭石湯再加石膏、知母，連進七、八帖，始獲全愈。上症緣病者體氣素蓄濕熱，故溫邪襲入，以類相從，不免助桀為虐，變症所以駁雜，相機用藥，未可以尋常溫病例視也。</p>
<p>朱君云軒，汝城人，其內政素患白帶，外科以丹丸服之，大瀉而口流涎沫，遍身發現疹瘡，尋痊愈，已旬日矣。一日左脅及少腹痛連尾脊骨，如有物橫梗，寒熱往來，日夜呻吟，至不能堪。診之，脈弦數，舌苔白而尖露紅點，與小柴胡去參、棗，加木通、青皮、桔葉，二帖而痛平。因性不喜藥，延至六七日後，痛復作，大便不利，知丹藥留毒所致，乃以大柴胡湯下盡黑糞，並囑以綠豆煎湯兌地漿冷服數日，即可除根，嗣即平復如初。逾旬，陡患大熱大渴，微汗，頭暈痛，疑為舊疾復發，促診，脈浮洪而促，舌色鮮紅。余曰：此與前症無關，乃新感冬溫也。即與蔥豉湯加青木香、石膏、白薇、沙參，一帖而瘳。</p>
<p>窿工某，患冬溫，頭痛，初微惡風，時發熱，微汗，醫者以消風、敗毒等方進，遂大熱大渴，汗出如浴，頭痛如劈，眩暈不能舉，咽喉亦腫痛，水穀不入，時露譫語，舌鮮紅有刺，無苔，脈浮數而洪，即與大劑白虎去粳米加生地、花粉、梔子，兩劑，大便泄瀉如沸湯下奔，諸症減十之五六。病者以腹瀉疑藥過涼所致，請更方。余以其愚昧無知，不與置辨，因權辭曰：症既變，方自當改易，乃疏白頭翁湯加入石膏、知母、蕤參、生地、花粉等品，三帖瀉止，各恙悉退，以清潤養陰善後而瘳。</p>
<p>窿工某，先因下窿失足，手足毀傷疼痛，傷科家已為治愈。嗣復咳嗽，往來寒熱，兩脅及胸膈作痛，舌苔淡白，脈弦數。審系內部蓄瘀未盡，兼感外寒所致，為疏小柴胡湯去參加桃仁、紅花、荊芥炭、桂尖、赤芍、歸尾、鮮桔葉等品，告以服藥後，大便當下黑糞，以盡為度。服三帖，黑糞始下。踵門乞更方。詢知糞色正黑，痛減大半，仍囑將原方再進，又四帖，黑糞盡而各症皆瘳。</p>
<p>木工某，患遍身重痛，頭暈，身微熱，冷汗不止，脈沉緩而遲，舌苔濕白，咳嗽多涎。醫以敗毒、香砂、二陳等方與之，不應。為疏五積散去麻黃，服二帖，冷汗、頭暈、身熱痛等症均愈，惟腰脊間有重痛，牽引小腹，因於方中加附片、鹽水炒杜仲，又二帖而瘥。</p>
<p>窿工朱某，每大便則下血如注，已一月矣。雜治不效。脈弦緩，舌苔濕白，與黃土湯加當歸、白芍，以赤石脂易黃土，服三帖血止，再兩帖而安。</p>
<p>王某，患下血稠黏，間露裡急後重，發散升補，備嘗之矣，踵門乞診。脈弦數而沉，舌鮮紅而苔黃燥，與白頭翁湯加僵蟲、烏梅，五帖，遂霍然已。</p>
<p>工人妻，年三十許，娩後十餘日，惡露已盡，偶因感冒夾食，腹及脅痛。醫者疑瘀血為患，以破血、降氣藥與之，不效，繼更數醫，率用桃仁、紅花、三稜、莪朮等品，愈治愈劇。一日醫用桃仁承氣煎好，進服一杯，即昏憒妄語。延診，脈如蛛絲不絕，氣息奄奄，手足如冰，汗出，面上黑氣滿布，口唇慘白，舌苔黑滑，即用大劑通脈四逆冷服，一帖，甦醒，厥回汗止，改用大劑附子理中湯，三帖，遂霍然已。</p>
<p>《靈》、《素》、《傷寒》、《金匱》諸書，為醫學家之鴻寶，其所著，經絡臟腑、氣血交會、生剋制化種種洞垣，諸妙理，皆精確不刊，故醫者本以療疾，合則生，不合則死，如響應聲，毫無差謬。壬戌冬仲，吾得腹中痛疾，作止不常，亦不甚劇，以其小恙也，忽之不理。久之，食量漸減，亦未介意。一日席間，友人注目吾面，云君鼻間何為發生青色，退取鏡視，果有青色一道，如拇指大。因思《金匱》云「鼻頭色青者，腹中痛，苦冷者死」，此乃木鬱剋土，殊非細故，若再不治，恐有性命之憂。即疏平胃散加桂尖，煎服一帖，次日，青色即退大半，腹痛如失；續進兩帖，青色縮至十之七八，改用桂枝人參湯加附子，又數帖而全愈。夫人身臟腑內部之疾，其氣色發見於頭面及胸背四肢者，不一而足。故醫者為人治病，苟不精研《內經》、仲景之書，即無由見病知源。若鹵莽從事，方雖千易，疾不少減，甚者有病之臟腑未受其益，無病之臟腑反遭其殃，蓋病有本而徒治其標，所謂盲從而已。</p>
<p>長沙羅君筱譽之繼室江右陳氏，初生一兒，甫四日，即不乳不啼，面露黃色，疑為飽乳酣睡，略不注意，至五日仍然，迄至第六日傍晚，始延診。時已昏夜，見其滿面如梔子染黃。曰：此乃臍風之最重者，今已後時，恐難挽救。即命啟視肚腹，驗其是否現有青筋，燃燈燭之，恍覺青影，不甚明瞭，兩手筋紋亦不甚著。再四圖維，謂輕證燈火猶可獲效，此等劇症，非艾灸萬無生理。乃用艾捻作小黑豆大，削極薄生薑片，貼於臍上一寸許，甫二壯，即啼哭有聲，但細而幽長，有異平時；至第三壯，啼聲大作，音甚嘹亮，即以乳授之，略有吮意，惟口甚松。是夜但用薄荷少許煎水與服，未進他藥。次早，詢知午夜後已能吮乳，啼聲如常，面部黃色退去大半，身及肚腹作熱，審視舌色及兩手筋紋，又內蓄風熱，心殊駭異。啟驗臍上青筋，則已衝至心窩下，仍為灸艾柱三壯；又令檢視兒乳，見左乳內有小核，以兩指輕挾，捻去白汁，為疏全蟲、黑梔、黃連、蒺藜、鉤藤、蟲退、芥穗等藥以祛風清熱。其明日乳食復原，身熱亦退，惟肚上青筋，尚存十之二三，復用艾柱灸三壯，將前藥再服一帖，各恙始平。夫小兒初生七日內，臍風最宜慎防，而人多昧而忽視，或雖知之而不諳治法，鮮有不貽後悔者，吾願世之為父母者，其共知之；若為醫者，則尤宜平日實心研究，庶不至茫然無措也。</p>
<p>芫花、大戟、甘遂之與甘草，藥性相反，古有明文，故方劑中不可合而並用。苟一誤用，必至殺人，醫者所共知也。此外，未見與甘草相反，而其害且至於殺人者。當清末時，醫士顏君意禪，篤實人也，一日告余曰：曾在某邑為人治病，見一奇案，令人不解所以。有一農家，人口頗眾，當冬月塘涸取魚，煮魚以供午餐，丁壯食魚且盡，即散而赴工，婦女童稚數人，復取魚烹治佐食。是晚有一婦，初覺飽悶不適，暱就床褥，眾不介意，次早日高，呼之不起，審視則息絕屍僵矣。舉家驚訝，莫名其故，再四考查，自先午同餐後，未進他項飲食，亦無纖芥事故。因取先日烹魚釜察視，除魚汁骨肉外，惟存甘草一條，約四五寸許。究問所來，據其家婦女則云小孩輩喜啼哭，每與甘草與飼，釜中所存，必系小孩遺落者。又檢所烹之魚，皆系鰱魚，並非毒物，即甘草與鰱魚同煮食之，亦不曾有相反毒人之事。且眾婦及小孩數人同食，雖間同有飽脹不適情形，亦無他端劇症，何獨一人偏受其災。頃之，鄰里咸至；又久之，死者母家亦至，究問死狀，主人以實告，不之信，喧譁終日，莫能決。中有一少年最放肆凶暴，大言於眾曰：甘草、鰱魚同食斃命，千古無此奇事，人命至重，豈得以謊言搪塞！若果然者，可再用此二物同煮與我食之，我雖被毒，死亦甘心，斷不誰問。即促同來母黨照辦，眾疑莫敢先發，其人再三督促，並親自手擎二物付釜同煮，俟火候至時，即命取盤箸陳列席間。旁人疑阻者，輒怒斥之。其人即席大啖，並笑旁觀者愚闇膽怯，且食且言，頃之而盡。是晚在他人視之，無甚痛苦，其人亦無若何表示，至其次晨，則僵臥不起矣。群眾觀之，同聲大呼曰：甘草、鰱魚同食，果然殺人！疑案遂決，因聯名稟縣，縣知事以其案之奇特也，陰遣人偵之，略無異言，始准予存案，並出示通知，此案遂寢。夫甘草甘平無毒，而能解百毒，人家池溏所蓄鰱魚，為尋常服食之品，並未聞含有他項毒性，同取煮食，果至殺人，其所以然之理，究不能臆測。因二物最易相犯，人每忽不加察，茲故表而出之，附諸醫案之末，聊補本草之所未及，且以俟後之博雅君子。</p>

<h2>先考醫案</h2>
<p>先君子瑞器公，自弱冠厭棄科舉，究心醫學，里䣊咸稱頌之。沒後數年，尚有不遠數十百里踵門乞診者。生平治驗醫案頗多，以未編輯成帙，散佚殆盡，零金碎錦，倍形珍重，搜錄數則，聊備誦芬云爾。</p>
<p>清光緒癸未甲申間，吾鄉數十百里內，多患陰寒白喉，或現白點，或白塊滿喉，飯粒可進，惟飲水及咽津則痛甚，身微熱，舌苔或灰白，或淺黃而厚，如結痂狀，脈多沉緊而弦，或沉緩無神。他醫率用表散及寒涼，十治十死。先考獨得其秘，每用通脈四逆湯奏效，甚者方中用生烏附八錢至一兩，連服五六劑或七八劑而愈者，起死回生。同道中莫不駭為奇異，一遇上症，咸遜謝推薦，嘗諄諄教伯章兄弟，故知之最悉。又如邵陽周某、黃某，白喉治驗，皆所目見，計當時經手治愈者，不下數十百人。伯章自行醫以來，經驗他種白喉極多，獨於以上陰寒劇症，未曾一見，不審當日何以若此之多，而先考獨能於仲景《傷寒》方中探驪得珠，宜為同輩所歎服也。</p>
<p>先大母鄧安人，年七十時，患咳嗽發熱，適先考以遠莊發糶，稽延逾旬，他醫屢易方，益劇。最後有一醫，謂年老當用補益，購藥服之，幾殆。急命與促歸，審系外邪內陷，即疏小青龍湯，一服知，二服已。</p>
<p>先世母梁孺人，外感夾食，泄瀉日數十行，用平胃加味，瀉止，已而腹脹，時欲登廁而無便，了而不了，更數醫，輒進行氣疏降之品，旬日不愈。適先考遠適，急促歸，審證究脈已，檢閱前方，即怒形於色，曰：此中氣下陷，胡前後醫者不省乃爾。即進補中益氣湯，兩帖而安。</p>
<p>光緒丙戌冬，內子患喉症，色暗紅而痛甚，舌色淡紅而無苔，他醫以發散清解進，益劇，粒米不入，已三日矣，腹中飢甚難堪。時先考以戚友踵延，莫知去向，急訪迎歸。抵家，則命以川吳萸三兩，研末，醋調炒熱，敷右足湧泉穴。並預備肉汁，吹去浮油，煮糜粥以待。約一時，即覺喉中通暢，急索粥，盡三碗，毫無痛苦。嗣用六味地黃湯加味，二劑，疾如失。</p>
<p>光緒壬辰秋，伯章以院試獲雋，捷報抵家，鄰里盈門稱賀。次小兒年未三歲，陡患驚風，目瞪口噤，肌冷，手足搐搦，先考即取家藏耆、朮、薑、附等藥，大劑煎灌，頃之而定。此等症候，方藥是否，生死反掌，向非洞見臟腑，勢必亂投他醫，或遲疑誤事，而竟於倉卒危疑之際，著手成春，則生平學識經驗，洵匪夷所思矣。</p>
<p>李君希聖，與先考為世交，後輩患虛勞不愈，已半年矣，先考為主小建中湯，並草醫案授之。同時他醫主補中益氣，李君心疑兩方互異，莫能決，終服補中益氣湯增劇，改用小建中，一帖稍可，即守方服至三十餘劑，疾竟霍然。</p>
<p>光緒乙未九月十二日，先考捐館，年五十有七。其年十二月，有邵陽周某妻，肩輿踵門，云患虛勞逾年，更數十醫，無一效者，服尊公前後三方數十帖，舊恙霍然，今來酬謝，並請善後方云云。乃取前所服方視之，皆黃耆建中加味，一遵仲景成法。伯章為疏歸脾湯加味授之而去。竊思先考方治驗案，於《傷寒》、《金匱》二書，確有心得，其能愈痼疾，原非僥倖，惜皆散佚，今所搜錄者，不過百中之一，則伯章不孝之罪，又何逭焉。</p>
<p>《遯園醫案》稿既成，攜至星沙付印。適遇李君思澄，讚美先考審證之精，為伯章誦述一二。云其太夫人年四十時，患喉痛症，他醫作虛寒白喉治，用耆、朮、桂、附等藥，馴至痰聲漉漉，勢甚危急。延先考至，曰：此乃疫症白喉，前藥都系戈戟，改用解毒瀉熱之劑，數帖而瘳。又其先王母太夫人，年時六十，偶患右手微痛，色略紅腫，醫以為癰毒將發，用生黃耆四兩，紅花三錢，服之，益劇。更醫又誤認為虛寒，續進耆、朮、桂、附數帖，危症峰起，舉家失措。先考作傷寒治，始逐漸痊愈，厥後遍體皮如蛇脫，延至一月有餘，方始康復。茲故補錄及之，亦以見先考之臨症，非時俗所可幾也。</p>
