<header data-type="book">
<h1>針灸易學</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李守先</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1798">公元1798年（清·嘉慶三年）</data></dd></div>
</dl>
</header>

<h1>繪圖針灸易學序</h1>
<p>醫道閎邃，明其術者，可以保身利物，故名儒碩士，咸究肄焉。然治法有二：曰針灸，曰方藥。灸法從針，其在於古，針之所不及者，而後區之為方，劑之以藥，二者相輔而行，無偏廢也。獨其經絡竅會，尋之為難。自漢唐以來，業斯術者，方家能手。專主方藥，而針灸之傳闕如。《靈樞》明文，治法徒存，識者惜之。吾邑李君善述，好學問，擢秀六堂，嘗思所以利刺斯民者而未得也。固有志於此，主以黃岐，旁及諸家之說，按圖披籍，蓋揣摩者至五六年而後試手，勤之至亦慎之至也。其試手又十餘年，回生起疴至於千百，閱歷之久，間有神明於法之外者，所謂隨氣用巧，惟熟則然也。君今以老，念針法之失傳，爰取其揣摩所以，與閱歷之驗於己者，約為一業，名曰《針灸易學》。欲廣其傳，以登斯世於仁壽之域，此亦仁人君子之用心矣。余嘉其志而樂道之，故於其將授梓也，為敘其事而弁之書首。</p>
<p><u>大清道光二十七年季春之望竹村許天錫謹序</u></p>

<h1>自序</h1>
<p>針灸之法尚矣，惟聖於醫者能得其全，下此而能因易入難，推所已知，及所未知，當其應手，亦可有功於世，比之哲匠無二效也。近有習之數年不能用一二針、醫一二病者，蓋其書古奧難窺，一入認穴，繁而且碎，句不可讀，讀不可記，指歸要領，求之無從。兼怵其暈針之說，手法不明，往往中止，業以難廢，此惟不由其序之過也。先少學針灸六年，未嘗一日少懈，特無名師口授，總不信心，以為非吾能事也。至乾隆五十一年，先已五十一歲，時瘧疾十人而九，擇其少壯醫之，治三效一，更日治五效三，由此復究其書，而無不效矣。計二十二日，獲效四百三十七人。後學治雜症，有效有不效，用針多則內有約略，且更考覈諸先生之書，醫十得三者有矣，醫十得五、得七者有矣，此亦因易入難，推所已知而及所未知者也。至於深遠詳細，吾未有得，惟聖者能之耳。茲將古法著之於前，愚見列之於後，淺而易知，顯而易明，名曰《針灸易學》，以為後之君子，便覽之資云爾。</p>
<p>附書一則：</p>
<p>先少學針灸，或止之曰穴難，不知難不在穴，在手法耳。明於穴而手法不明，終身不醫一病。明於手法，而因症尋穴，難者多而顯，而易知者亦不少矣。如十二井，易知也；五募八會五俞，易知也；八脈主穴，易知也。得一二穴，從此以尺量之，以類推之，由淺入深，因此知彼，而醫亦成矣。先習此首學手法，次學認症，而以尋穴為末務，蓋所難不在此也。</p>
<p><u>嘉慶三年歲次戊午季春李守先善述氏識</u></p>

<h1>卷上</h1>

<h2>針灸源流</h2>
<p>《素問》十二卷，世稱黃帝岐伯問答之書。及觀其旨意，殆非一時之言，而所撰述，亦非一人之手。劉向指為諸韓公子所著，程子謂出戰國之末。而其大略正如《禮記》之萃於漢儒，而與孔子、子思之言並傳也。蓋《靈蘭秘典》、《五常正大》、《六元正紀》等篇，無非闡明陰陽五行生制之理，配象合德，實切於人身。其諸色脈病名，針刺治要，皆推是理以廣之，而皇甫謐之《甲乙》，楊上善之《太素》，亦皆本之於此，而微有異同。醫家之綱法，無越於是書矣。然按《漢書·藝文志》，有《內經》十八卷及扁鵲名，白氏云《內經》凡三家，而《素問》之目乃不列。至《隋·經籍志》始有《素問》之名，而指為《內經》。唐·王冰乃以《九靈》九卷，牽合《漢志》之數，而為之註釋，復以《陰陽大論》托為張公所藏，以補其亡逸，而其用心亦勤矣。惜乎朱墨混淆，玉石相亂，訓詁失之於迂疏，引援或至於未切。至宋·林億、高若訥等，正其誤文，而增其缺義，頗於冰為有功。</p>
<p>《難經》十三卷，秦越人祖述《黃帝內經》，設為問答之辭，以示學者。</p>
<p>《子午經》一卷，論針灸之要，撰成歌訣，後人依託扁鵲者。</p>
<p>《千金方》，唐·孫思邈所撰。至引導之要，無不周悉。</p>
<p>《十四經發揮》三卷，許昌滑壽伯仁，傳針法於東平高洞陽，得其開闔流注交別之要。而施治功，以盡醫之神妙。</p>
<p>《神應經》一卷，乃宏綱陳會所撰。先著《廣愛書》十二卷，慮其浩瀚，獨取一百一十九穴，總成一帙，以為學者守約之規南昌劉瑾校。</p>
<p>《古今醫統》、《乾坤生意》、《醫學入門》、《醫經小學》中，取關於針灸諸姓氏，各見原書。</p>
<p>《玄機秘要》，三衢繼洲楊濟時家傳著集。</p>
<p>《針灸大成》，總輯以上諸書，類成一部，分為十卷。委晉陽靳賢選集校正。後人習學，屢試屢效。</p>

<h2>一手法</h2>
<p>（手法歌、修針、取寸、持針、定神、補瀉法、退針、合法、暈針）</p>

<h3>手法歌</h3>
<p>三陰三陽氣血分，凝滯全憑用金針，左指點穴知真所，右手持針須靜心。補要久留虛不虛，瀉要去疾實不侵，轉左陰中能生陽，旋右陽中可生陰。發明《素》、《難》真玄妙，景仰岐黃秘訣深。誠欲勞心勞力學，必往愈明愈哲尋。譬如閉戶造車輛，出門合轍值千金。企望志士細推此，機秘千載有知音。</p>

<h3>論修針</h3>
<p>古針有九，先屢造總不如法，後得吾師口授，用縫衣大鋼針一個，長二寸，或一寸五分，三稜針一個，皆以銅絲纏其首，極緊，留下三分，已足用矣。鋼針即古毫針也，醫百病，內有手法列後；三稜針刺而即出，出血，無手法，曰瀉針，醫百病。毫針去鋒，遇筋筋躲，逢骨骨頂，不傷肌肉；三稜針不去鋒，便出血也。以金造針更佳。（外一針二穴，用長針五六寸。）</p>
<p>又偶斷針者，再將原針穴邊復刺一針補之，即出。或用磁石引針出。（磁石即吸鐵石。）</p>

<h3>論取寸</h3>
<p>人有高低，因寸有長短。取病人手中指中節，屈指二橫紋頭為一寸，刺手足並背橫量用之。病人仰臥後，心蔽骨頭下至臍邊，以稻草量定掐之，分為八寸。無蔽骨，取岐骨下分為九寸，去一寸，仍八寸，刺腹上下用之。病人兩乳間，以稻草量定，分為八寸，刺腹橫量用之。病人前眉心至大椎，分為一尺八寸，刺頭面用之。病人目內眥至外眥為一寸，刺頭橫量用之。</p>

<h3>論持針</h3>
<p>將穴認真，醫以左手大指甲，或以次指甲掐定，用力重掐，病人覺麻木走氣，或動脈應手，即得穴也，右手大指、次指持針刺之。觀針如不光明，插地十餘下自明。新針先以口溫而後刺，刺過幾人，成熟針也，不必溫。</p>

<h3>論定神</h3>
<p>當刺時，醫言勿驚，虛點幾針，病家不懼而後刺之。醫家氣象從容，目無旁視，心無別營，手如握虎，勢若擒龍，用針自無不妙。</p>

<h3>四明高氏補瀉</h3>
<p>《拔萃》云：瀉法，令病人咳嗽一聲，捻針入腠理。病人吸氣一口，針至六分，覺針沉澀，復退三分，再覺沉澀，更退針一豆許，仰手轉針頭向病所，以手循經絡捫至病所，合手回針，引氣直過針所三寸，隨呼徐徐出針，勿閉其穴，（令走氣也。）命之曰瀉。補法，令病人咳嗽一聲，捻針入腠理，病人呼氣一口，納針至八分，覺針沉緊，復退一分，更覺沉緊，仰手轉針頭向病所，依前循捫其病所，氣至病所，隨吸而走出針，速按其穴，（恐走氣也。）命之曰補。（上言沉緊者，氣至也。古云：氣至速而效速，氣至遲而效遲，候之不至病危。）又云：呼不過三，吸不過五。</p>
<p>《明堂》云：當補之時，候氣至病所，更用生成之息數，令病人鼻中吸氣，口中呼氣，病家自覺熱矣。當瀉之時，使氣至病所，更用生成之息數，令病人鼻中出氣，口中吸氣，按所病之處，病家自覺清涼矣。</p>
<p>《神應經》轉針瀉法：針男女左邊，醫用右手大指向前，食指向後<img class="字" src="_files/001.svg" alt="￼">。針男女右邊，醫用左手大指向前，食指向後<img class="字" src="_files/002.svg" alt="￼">，皆外轉<img class="字" src="_files/002.svg" alt="￼"><img class="字" src="_files/001.svg" alt="￼">為瀉。補法：針男女左邊，醫以右手食指向前，大指向後<img class="字" src="_files/002.svg" alt="￼">。針男女右邊，醫以左手食指向前，大指向後<img class="字" src="_files/001.svg" alt="￼">，皆內轉<img class="字" src="_files/001.svg" alt="￼"><img class="字" src="_files/002.svg" alt="￼">為補。至於男背上中行左轉為補，右轉為瀉。腹中行右轉為補，左轉為瀉。女背中行右為補而左為瀉，腹中行左為補而右為瀉，蓋男子背陽腹陰，女子背陰腹陽，男女不同，惟此耳。</p>
<p>凡瀉皆以六數，一六、二六、三六、四六、五六、六六。有用三六、有六六，不同。凡補皆以九數，一九、二九、三九、四九、五九、六九、七九、八九、九九。一次三九，二次三九，三次三九，九九八十一數。又治熱針去疾，治寒針久留。提針為補為熱，插針為瀉為寒。</p>

<h3>論退針</h3>
<p>先疼至不疼時宜退針，先不疼至疼時宜退針即先緊至不緊時出針，先不緊至緊時出針之謂也。</p>

<h3>論合法</h3>
<p>凡出針以指頭肚急按穴眼，勿泄其氣，使不出血，復以土按穴上，多揉為妙。如血多揉必止，此止血法也。再令病人不時揉之，永無後患。</p>
<p>今人習針少而用藥多者，恐暈針也。獨不知暈針者無不獲效，用藥不當，難以保全。針與藥較，針易而藥難也，胡不學。暈針詳後。</p>

<h3>論暈針</h3>
<p>神氣虛也。古云：色脈不順而莫針，並忌風雨雪陰天，及醉勞房事，驚飢居喪之人。先治三千餘人，男暈針者十六人，女暈針者一人。初以指甲掐病人十指甲蓋上一分肉上，暈者即醒，今以指甲掐病人鼻下正中肉上，醒而方去，較前更捷。然暈針者，必獲大效，以血氣交泰之故，俗云，針不傷人，此之謂也。</p>
<p>南豐李先生治暈針法，暈針不可起針，宜以別針就旁刺之，用袖掩病人口鼻回氣，與熱湯飲之即醒，良久再針。甚者針手膊上側筋骨陷中，即蝦蟆肚肉上，名醒醒穴。或三里穴即醒，其病必愈，若起針壞人。</p>

<h2>二認症定穴</h2>
<p>《難經·六十一難》曰：經言望而知之謂之神，聞而知之謂之聖，問而知之謂之工，切脈而知之謂之巧，何謂也？蓋望而知之者，望見其五色，以知其病。</p>
<p>《素問·五臟生成篇》云：色見青如草滋，黃如枳實，黑如炲，赤如衃血，白如枯骨者皆死。青如翠羽，赤如雞冠，黃如蟹腹，白如豕膏，黑如烏翎者皆生。</p>
<p>聞而知之者，聞其五音以別其病。四明陳氏曰：五臟有聲，而聲有音，肝聲呼，心聲笑，脾聲歌，肺聲哭，腎聲呻。常則安，變則病，聞何聲，則知何經之病也。</p>
<p>問而知之者，問其所欲五味，以知其病所起所在也。（所欲者偏嗜、偏多食之物也。）</p>
<p>切脈而知之者，診其寸口，視其虛實，以知其所病在何臟腑也。王氏脈法贊曰：脈有三部，尺寸及關，榮衛流行，不失衡銓。腎沉心洪，肺浮肝弦，此自常經，不失銖錢。出入升降，漏刻周旋，水下二刻，脈一周身，旋覆寸口，虛實見焉。</p>
<p>經言：以外知之曰聖，以內知之曰神，此之謂也。</p>
<p>凡認真病名，詳察後書，諸先生認症定穴，相對不二。病名之下，開用何穴，有二、三、五、六穴不等者。即病，知用何穴。再查穴目錄，穴下有號，查號知穴在何處，心記其穴，或針幾分，或灸幾壯，或補或瀉，或迎或隨，或半補半瀉，以活經絡。或飛經走氣，引導氣血。或久留，或去疾。或提或插，或出血、或不出血，俱在前手法之內也。先屢用屢效。</p>
<p>凡後言穴不言針灸者，以針刺之。言灸不言針者，禁針也。言針不言灸者，禁灸也。又言三分五分者，針刺三分五分深也。言三壯五壯者，艾灸三壯五壯也。</p>
<p>《靈樞·雜症論》：人身上部病，取手陽明大腸；中部病，取足太陰脾經；下部病，取足厥陰肝經；前膺病，取足陽明胃經；後背病，取足太陽膀胱經。取經者，取經中之穴也。一病可選一、二穴治之。</p>

<h3>紀氏治法</h3>
<p>紀氏曰：井之所治，皆主心下滿；榮之所治，皆主身熱；俞之所治，皆主體重節痛；經之所治，皆主喘嗽寒熱；合之所治，皆主逆氣而泄。</p>

<h3>行針指要歌</h3>
<p>針風：先向風府、百會中。</p>
<p>針水：水分、俠臍上邊取。</p>
<p>針結：針著大腸、瀉水穴。</p>
<p>針勞：膏肓及百勞。</p>
<p>針虛：氣海、丹田、委中奇。</p>
<p>針氣：膻中一穴分明記。</p>
<p>針咳：肺俞、風門須用灸。</p>
<p>針痰：先針中脘、三里間。</p>
<p>針吐：中脘氣海、膻中補。　翻胃吐食一般醫，針中奇妙少人知。</p>

<h3>聚英先生百症賦認症定穴治法</h3>
<p>頭風：囟會、玉枕。　面腫虛浮：水溝、前頂。　夢魘不寧：厲兌、內庭。　帶下產崩：衝門、氣衝。　頭痛：強間、豐隆。　耳聾氣閉：聽會、翳風。　發狂奔走：上脘、神門。　月潮違限：水泉、天樞。　目眩：支正、飛揚。　目中漠漠：攢竹、三間。驚悸怔忡：陽交、解谿。　大腸不收：外丘。　目黃：陽綱、膽俞。　目覺䀮䀮：養老、天柱。　反張悲哭：天衝、大橫。　偏頭痛：懸顱、頷厭。　攀睛：少澤、肝俞。　項強傷寒：溫溜、期門。　歲熱時行：陶道、肺俞。　耳中蟬噪：聽會。　淚出：臨泣、頭維。　舌下腫痛：廉泉、中衝。　風癇常發：神道、心俞。　雀目：睛明、行間。　牙痛：耳門、絲竹空。　鼻中衄血：天府、合谷。　濕寒濕熱：下髎。　熱病不汗：大都、經渠。　口喎：頰車、地倉。　頷腫口噤：陽谷、俠谿。厥寒厥熱：湧泉。　腸鳴：下脘、陷谷。　喉痛：液門、魚際。　血虛口渴：少商、曲澤。　寒慄惡寒：二間、陰郗。　胸脅滿：章門。　轉筋：金門、丘墟。　舌緩不語：瘂門、關衝。　煩心嘔吐：陰郄。　膈痛：膻中，巨闕。　失音：天鼎、間使。　項強惡風：束骨、天柱。　水腫臍盈：陰陵、水分。　胸停瘀血：腎俞、巨髎。脊強：水道、筋縮。　兩臂頑麻：少海、三里。　癆瘵傳屍：魄戶、膏肓。　痙病：顱囟。　臍風：然谷。　腋腫：委陽、天池。　半身不遂：陽陵、曲池。　中邪霍亂：陰谷、三里。　消渴：行間、湧泉。　腿痛：後谿、環跳。　胸中苦悶：建里、內關。　倦言嗜臥：通里、大鐘。　鼻痔：齗交。　癲疾：身柱、本神。　癭氣：浮白。　心下悲悽：聽宮、脾俞。　咳嗽連聲：肺俞、天突。　腸下新血：長強、承山。　發熱：中衝、曲池。　脅肋疼痛：氣戶、華蓋。　小便赤澀：兌端、太陽。　白濁遺精：三陰、氣海。　黃疸：後谿、勞宮。　胸滿噎塞：中府、意舍。　食谷不消：脾俞、膀胱俞。　經事常改：地機、血海。　五淋：肓俞、橫骨。　胸滿項強：神藏、璇璣。　胃冷不化：魂門、胃俞。　女子漏血：交信、合陽。　盜汗：陰郄、後谿。　背連腰痛：白環、委中。　隱中熱極：肩髃、陽谿。　痢疾：中脘。　痔瘤：商丘。　無子：陰交、石關。　瘰癧瘡：五里、臂臑。　寒瘧：商陽、太谿。痃癖：衝門、血海。　唇喎：太衝。　鼻內無聞：通天。</p>

<h3>繼洲楊先生勝玉歌認症定穴治法</h3>
<p>頭痛眩暈：百會。　心痛脾疼：上脘。　脾痛背痛：中渚瀉。　膝腫：行間。　頭風眼痛：上星。　頭項強急：承漿。　牙腮疼緊：大迎。　胃冷：下脘。　頷腫喉閉：少商。　中風吐沫：人中、頰車。　瘧後痞滿：章門。　耳閉：聽會。　目內紅腫：絲竹、攢竹。　臂背疼痛：三里。　頭風頭痛：灸風池。　瘰癧：少海、天井。　大便泄瀉：灸天樞。　一切氣症：氣海針灸。　小腸氣痛：歸來、中髎。　筋疼：支溝。　心熱口臭：大陵。　胎衣不下：陰交。　遺精白濁：心俞。　腳氣：復溜。　五癇：後谿、鳩尾、神門。　腿股痠：環跳、風市、陰市。　黃疸：至陽。　髀疼：肩井。　眼疼：清冷淵針。　筋拘攣：尺澤針。行步艱難：中封、太衝。　腳背痛：商丘。　脾心痛：公孫針。　瘧多寒熱：間使、大杼。　噎氣吞酸：膻中七壯。　臁瘡：血海。　手難執物：曲池、合谷。　膝腫如斗：膝眼、委中。　兩股轉筋：承山。　疝氣：大敦灸。　肝血盛：肝俞瀉。　跟骨痛：崑崙、絕骨、丘墟。　霍亂，心痛，吐痰涎：巨闕灸。　痰涎咳嗽，小兒吼閉：肺俞、天突、筋縮。　腎敗腰痛，小便頻：腎俞灸。　腰痛：中空從腎俞下量三寸，各開三寸是穴。灸十四壯，向外針一寸半。此即膀胱經之中髎也。</p>

<h3>長桑君天星秘訣歌認症定穴治法</h3>
<p>胃中宿食：三里、璇璣。　脾病：氣，合谷；血，陰交。　小腸連臍痛：陰陵泉、湧泉。　手臂拘攣：肩髃。　肚腹浮腫：水分、建里。　寒瘧面腫腸鳴：合谷、內庭。　胸膈痞滿：陰交、承山。　小腸氣痛：長強、大敦。　牙疼頭疼喉痹：三間、三里。　冷風濕痹：環跳、陽陵。　指痛攣急：少商。　腳氣痠疼：肩井、三里、陽陵泉。　轉筋眼花：承山、內踝。　鬼邪：間使。　足緩難行：絕骨、條口、衝陽。</p>

<h3>聚英先生肘後歌認症定穴治法</h3>
<p>頭頂痛眼不開：湧泉。　哮喘不寐：豐隆三分。　陰核腫如升大：百會灸。　手背拘攣不仁：尺澤。　腰膝強痛：交信。　狂言盜汗見鬼：間使。　脅痛腿痛：後谿。　骨寒髓冷火燒：靈道。　頭面疾：至陰。　腳腿疾：風府。　兩足兩肋難伸：飛虎。　狂言盜汗：間使。　心胸病：少府。　臍病：曲泉。　剛柔二痙，口噤目合面紅：少商針出血，陰包。　膝腫痛：尺澤、曲池、風府。　破傷風：患處多灸。　風痹痿厥：大杼、曲泉。　肩背病：中渚。　腰腿痛：大都。　腰背攣急：曲池寸五。　膝股腫：太衝瀉。　五痔，血熱也：承山。　腰軟：委中。</p>

<h3>扁鵲先生玉龍歌認症定穴治法繼洲楊先生註解</h3>
<p>頭風嘔吐，眼昏花：神庭補、瀉。　耳聾、瘰癧，痛癢、腫瘡：翳風、聽會皆瀉。　寒濕腳氣腫痛：陰交、三里、絕骨。　腹中氣塊疼：內關補、瀉。　如大便不通，瀉之。　腹中疼痛，肋痛、閉結：大陵、外關、支溝。　九種心痛及脾疼：內關、上脘、中脘。　呆癡不識尊卑罵人：神門瀉。　夜夢鬼交：心俞、白環俞、氣海兩旁灸。　翻胃吐食，黃疸：腕骨針，中脘灸。　傳屍勞，痰多氣喘：湧泉、豐隆瀉，丹田灸。　滿手生瘡，氣攻心胸：大陵瀉，勞宮。　腎強疝氣如死人：關元、大敦。　滿腹水脹：水分、水道、三里，陰交灸。　膝蓋紅腫：陽陵，委中、陰陵出血。　偏正頭風：絲竹透率谷。如有痰飲，風池橫刺透風府，補瀉，十一壯。如無痰飲，合谷針至勞宮，灸二七。　面上諸症：尺澤皆治。　傴症：不伸也。補曲池，瀉人中。　僂症：不起也。補曲池。　中風不語：囟會、百會皆灸。　腎弱腰痛：腎俞多灸。　腕中無力：腕骨補瀉。　脾家寒熱：間使透支溝，補瀉。　腿股風：委中出血，環跳、居髎。　腳背痛：丘墟出血，解谿、商丘。　行步艱難：太衝、中封。　寒痰咳嗽：列缺、太淵。　面紅心驚：通里，驚補寒瀉。　吹乳腫痛：少澤，向後補瀉，三分。發熱盜汗：百勞，椎骨也。　咳嗽噴嚏：風門多灸。　哮喘不寐：天突、膻中皆灸。　不聞香臭：迎香補瀉。　七般疝氣：大敦出血。　氣喘不眠：璇璣瀉，氣海灸。　五般癇症：鳩尾灸七壯。　赤白帶下：中極多灸。　周身疼痛：痛即穴，名不定。　手不能伸：尺澤出血。　脾泄：天樞二穴多灸。　膝腿無力難立：風市、陰市。　鼻淵眼痛，不聞香臭，頭風：迎香補，瀉上星。　小兒慢驚：印堂針一分，沿皮透左右攢竹。哭效、不哭難。急驚瀉、慢驚補。　口眼喎斜：灸地倉，艾如綠豆。斜向頰車，頰車之針向透地倉。　膝頭紅腫痛：髖骨、膝關，在膝蓋骨下犢鼻內，橫針透二膝眼。　脊背強痛，挫閃腰疼：人中瀉，委中紫筋出血。</p>
<p>歌曰：穴法由來在指中，治病須臾顯神功，勸君要知諸般疾，何不當初記玉龍。</p>
<p>先治周身疼痛多矣，必病人先指出疼所，即以左大指或食指爪掐之，病人齧牙咧咀，驚顫變色，若疼不可忍，即不定穴也，即天應穴也。右手下針，疼極必效。遵《玉龍歌》曰：渾身疼痛疾非常，不定穴中細審詳。有筋有骨宜淺刺，灼艾臨時要度量。</p>
<p>以上言灸者，以穴下肉紅，較錢更大二分為度，定起泡矣。冬以貓毛，夏以竹膜，用麻油調敷之，無妨。又不定穴，即痛處。</p>

<h3>繼洲楊先生治症總要認症定穴治法</h3>
<p>中風不省人事：人中、中衝、合谷、啞門、大敦。　口噤不開：頰車、人中、承漿、百會、合谷瀉。廉泉、人中。　口眼喎斜：頰車、地倉、人中、承漿、合谷、百會。　婦人不生子：合谷瀉，三陰交補，中極、子宮灸。　鼻衄不止：合谷、上星、百勞、風府、迎香、人中、印堂。　口內生瘡：海泉、人中、承漿、合谷，後金津、玉液。　手臂麻木不仁：肩髃、曲池、合谷、肩井、列缺。　舌腫難言：廉泉、金津、玉液、天突、少商。　心胸疼痛：大陵、內關、曲澤、中脘、上脘、三里。　腹內疼痛：內關、三里、中脘、水分、關元、天樞。　兩足麻木：陽輔、陽交、絕骨、行間、崑崙、丘墟。　兩膝紅腫：膝關、委中、陽陵、中脘、豐隆。　足不能行：丘墟、行間、崑崙、太衝、三里、陽輔。　腳弱無力：公孫、三里、絕骨、申脈，崑崙、陽輔。　渾身浮腫生瘡：曲池、合谷、行間、內庭。　小便不通：陰陵、氣海、三陰交、陰谷，大陵。　小便滑數：中極、腎俞、陰陵、三陰交、氣海。　大便秘結：章門，太白、照海。　大便泄瀉：中脘，天樞，中極灸。痢疾如赤：內庭、天樞、隱白、氣海、照海、內關。　如白，裡急後重，大痛：外關、中脘、天樞。　臟毒下血：承山、脾俞、精宮、長強。　脫肛久痔：二白、百會、精宮、長強。　翻胃吐食：中脘、脾俞、中魁、三里。　肺癰咳嗽：肺俞，膻中、支溝、大陵、風門、三里。　久咳不愈：肺俞、三里、膻中、乳根、風門、缺盆。　消渴：金津、玉液、承漿、海泉、人中、廉泉、氣海、腎俞。　遺精白濁：心俞、腎俞、關元、陰交、命門、白環俞。　陰汗偏墜：蘭門、陰交、歸來，大敦。　陰門忽紅腫痛：會陰、中極、三陰交、百會。　發背癰疽：肩井、委中、天應、騎竹馬取之。　渾身發紅丹：百會、曲池，三里、委中。肚中氣塊、痞塊、積塊：三里、塊中、塊尾。　口臭難近：承漿、齦交、金津、玉液。　小兒脫肛：百會、長強，大腸俞。　咳逆發噫：膻中、中脘、大陵、三里、肺俞、行間。重舌腰痛：合谷、承漿、金津、玉液、海泉、人中。健忘失記：列缺、心俞、神門、少海、中脘、三里。　小便淋瀝：陰谷、關元、氣海、三陰交。　牙關脫臼：頰車、百會、承漿、合谷。　舌強難言：金津、玉液、廉泉、風府。　口吐清涎：大陵、膻中、中脘、勞宮。　瘰癧結核：肩井、曲池、天井、三陽絡、陰陵泉。　發痧等症：水分、百勞、大陵、委中。　脅肋疼痛：支溝、章門、外關。如怒氣，刺行間。　腰腳疼痛：委中、人中。　腰脊強痛：委中出血。　腎虛腰疼：腎俞、委中、太谿、白環俞。　四肢浮腫：中都、合谷、曲池、液門、行間、內庭。　單蠱脹：氣海、行間。　雙蠱脹：支溝、合谷、曲池、水分、三里、陰交、行間、內庭。　失志癡呆：神門、鬼眼、百會、鳩尾、齦交、承漿。　挫閃腰肋疼：先尺澤、委中、人中，後昆侖、束骨、支溝、陽陵泉。　小腹脹滿：內庭、三里、三陰交：後照海、大敦、補瀉氣海。此專治婦人血塊疼痛，小便不利，諸般氣疼。　水不能進為五噎：勞宮、中魁、中脘、三里、大陵、支溝、上脘；後脾俞、胃俞，補多瀉少。膻中、太白、食關。　哮吼嗽喘：先俞府、天突、膻中、肺俞、三里、中脘，後膏肓、氣海、關元、乳根。　咳嗽紅痰：先百勞、肺俞，中脘、三里，後膏肓、腎俞、肺俞、乳根。　吐血等症：先膻中、中脘、氣海、三里、乳根、支溝，後肺俞、腎俞、肝俞、心俞、膏肓俞、關元。　咽喉等症，腫痛：少商、天突、合谷。雙乳蛾症：少商、金津、玉液。　單乳蛾症：少商、合谷、海泉。　癇症：上星、鬼祿、鳩尾、湧泉、心俞、百會。　馬癇：照海、鳩尾、心俞、百會。　風癇：神庭、素髎、湧泉。　食癇：鳩尾、中脘、少商。　豬癇：湧泉、心俞、三里、鳩尾、中脘、少商、巨闕。　或刺、或灸、或出血，分而治之。　四肢麻木：肩髃曲池、合谷、腕骨、風市、崑崙、行間、三里、絕骨、通里、委中、陽陵，補多瀉少。如紅腫反之。</p>

<h3>婦人門</h3>
<p>婦人難產：獨陰補合谷，瀉三陰交。　血崩漏下：中極、子宮灸。　產後血塊痛：氣海、三陰交。　胎衣不下：中極、三陰交。　血崩不止：丹田、中極、腎俞、子宮；後百勞、風池、膏肓、曲池、絕骨、三陰交。　無乳：少澤、合谷補、膻中左右迎之，婦人覺氣行至乳頭退針。乳癰：膻中、大陵、委中、少澤、俞府。　月水斷絕：中極、腎俞、合谷、三陰交。婦女不生長子女者：針合谷，行六六三十六數；針三陰交，行九九八十一數。此瀉氣補血法也。灸中極一穴，多灸百病皆除。又至經至之日，再灸子宮二穴，其穴在中極兩旁，各開三寸，重灸即有孕矣。世上斷無不生長之人，先遵此獲效多人。</p>

<h3>小兒門</h3>
<p>驚癇：頂上旋毛中灸三壯，耳後青絡灸三壯，炷如小麥大。腎脹偏墜：關元灸三壯，大敦七壯。　驚風：腕骨。　牙疳蝕爛：承漿，針灸皆可。　搖頭張口反折：金門。　卒癇及豬癇：巨闕、灸三壯。　赤遊風：百會、委中。　豬癇如尺厥吐沫：巨闕、三壯。風癇目戴上：百會、崑崙、絲竹空。　羊癇：九椎下節間，灸三壯；　又法：大椎、鳩尾各三壯。　角弓反折：百會。　牛癇：鳩尾、大椎各三壯。　馬癇：僕參二穴各三壯。又法：風府、臍下各三壯。　脫肛：百會、長強。　瀉痢：神闕。　犬癇：兩手心，足太陽、肋戶，各一壯。　吐乳：灸中庭，在膻中下一寸六分。　雞癇：足諸陽，各三壯。　夜啼：灸百會三壯。　食癇：鳩尾上，五分三壯。</p>

<h3>眼目門</h3>
<p>子和曰：目之五輪，乃五臟六腑之精華，宗脈之所聚也。白屬肺金，赤屬心火，黑屬神光、屬腎水，兼屬肝木。目不因火則不病，白輪變赤，火乘肺也。肉輪赤腫，火乘脾也。黑水神光被翳，火乘肝與腎也。赤脈貫目，肝火甚也。凡暴赤腫羞明，隱澀淚出不止，針神庭、上星、囟會、前頂、百會。翳者可使立退，腫者可使立消。</p>
<p>眼紅澀爛：睛明、四白、合谷、臨泣，後三里、光明。　血不養目：肝俞補，三里瀉。目爛流淚：大小骨空灸。　眉間疼眼昏：攢竹沿皮刺、頭維。　目生翳膜：先睛明、合谷、四白，後太陽、光明、大骨空、小骨空。　迎風冷淚：先攢竹、大小兩骨空、後小骨空、三陰交、淚孔上，此穴米大，艾灸七壯，中指半指尖一穴米大，艾灸三壯。　目生內障：瞳子髎、合谷、臨泣、睛明，後光明、天府、風池。　目患外障：小骨空、太陽、睛明、合谷，後臨泣、攢竹、三里、內眥尖、灸五壯，即眼頭尖上。　眼赤暴痛：合谷、太陽、三里、睛明，後太陽、攢竹、絲竹空。　胬肉侵睛：風池、睛明、合谷、太陽，後風池、期門、行間，太陽。　怕日羞明，目瞤赤爛：三稜針刺，目瞤外出血。　偷針，視背上有紅點，刺破出血皆治：小骨空、合谷、攢竹，二間，後睛明、行間、光明、太陽。　目內紅腫：絲竹、攢竹。　眉間骨疼：二間、攢竹。</p>

<h3>瘧疾門</h3>
<p>黃帝問曰：刺瘧奈何？岐伯對曰：瘧疾，《素問》分各經。危氏刺指，（即十宣穴也。）舌紅紫，出舌下紫血筋也。</p>
<p>足太陽，先寒後熱，腰疼頭重，汗出不止：刺委中，三分五壯。</p>
<p>足少陽，寒熱不甚，見人心惕，汗多：刺俠谿，二分三壯。</p>
<p>足陽明，寒久乃熱生，汗出，喜見日光火光：刺衝陽，三分三壯。</p>
<p>足太陰，寒熱善嘔，嘔已乃衰：刺公孫，四分三壯。</p>
<p>足少陰，熱多寒少，嘔吐，甚欲閉戶：刺大鐘，二分。</p>
<p>足厥陰，小腹滿，小便不利：刺太衝，二分三壯。</p>
<p>心瘧神門，肝瘧中封，脾瘧商邱，肺瘧列缺，腎瘧太谿，胃瘧厲兌。</p>
<p>歌曰：瘧疾將針刺曲池，經渠合谷共相宜。五分針刺於二穴，瘧疾纏身便得離。未愈更加三間刺，五分深刺莫憂疑。又兼氣痛憎寒熱，間使行針莫要遲。</p>

<h3>傷寒門</h3>
<p>傷寒一日刺風府，陰陽分經次第取。</p>
<p>一日太陽風府：督脈。二日陽明之榮：大腸二間，胃內庭。三日少陽之俞：膽臨泣，三焦中渚。四日太陰之井：脾隱白，肺少商。五日少陰之俞：腎太谿，心神門。六日厥陰之經：肝中封，包絡間使。在表刺三陽經穴，在裡刺三陰經穴，六日過經未汗，刺期門、三里，古法也。惟陰症灸關元穴為妙。</p>
<p>汗、吐、下法非有他，合谷、內關、陰交杵。</p>
<p>汗法：針合谷，入二分。行九九數，搓數十次，男左搓，女右搓，得汗，行瀉法。汗止，身溫出針。如汗不止，針陰市，補合谷。</p>
<p>吐法：針內關，入三分。先補六次，瀉三次，行子午搗臼法三次，提氣上行，又推戰一次，病人多呼幾次即止。如吐不止，補九陽數，調勻呼吸三十六度。吐止，徐出針，急捫穴。吐不止，補足三里。</p>
<p>下法：針三陰交，入三分。男左女右，以針盤旋右轉，六陰數畢，用口鼻閉氣，吞鼓腹中。將瀉，插一下其人即泄。鼻吸手瀉三十六遍，方開口鼻之氣，插針即泄。如泄不止，針合谷，升九陽數。凡汗吐下，仍分陰陽補瀉。</p>
<p>寒頭痛：合谷、攢竹、太陽。　無汗：內庭、合谷、復溜、百勞。　胸脅痛：大陵、期門、膻中、勞宮。　狂不識尊卑：曲池、絕骨、百勞、湧泉。　大熱不退：曲池、絕骨、三里、大椎、湧泉、合谷俱瀉。　退後餘熱：風門、合谷、行間、絕骨。　汗多：內庭、合谷、復溜、百勞。　大便不通：章門、照海、支溝、太白。　小便不通：陰谷、陰陵泉。　六脈俱無：合谷、復溜、中極。　發痙不省人事：曲池、合谷、人中、復溜。　發黃：腕骨、申脈、外關、湧泉。　脅痛：支溝、章門、陽陵泉、委中。　過經不汗：期門。　如四肢厥逆冷：復溜順骨刺之。　如脈浮：寒補絕骨，熱瀉絕骨。　如浮洪：瀉之。　如沉細：補之。　口噤目閉藥不下：合谷。　狐惑口生瘡：黃連犀角湯。　蟲在內食：地倉。　傷寒吐蛔：烏梅湯、灸中脘。　痞結脅積疼：期門。　當汗不汗：合谷。　自汗：復溜。　牙關緊急，項強反張，目直視：列缺。　如痞氣結胸，兩目昏黃，汗不通：湧泉三分出汗。</p>

<h3>四總穴名</h3>
<p>肚腹三里留，腰背委中求，頭項尋列缺，面口合谷收。</p>

<h3>千金穴歌</h3>
<p>三里、內庭穴，肚腹中妙訣。曲池與合谷，頭面病可徹，腰背痛相連，委中、崑崙穴。頭項如有痛，後谿並列缺。環跳與陽陵，膝前兼腋脅。可補即久留，當瀉即疏泄。三百六十名，不外千金穴。</p>

<h3>馬丹陽天星十二穴治雜病歌</h3>
<p>其一，三里膝眼下，三寸兩筋間。善通心腹脹，又治胃中寒，腸鳴並泄瀉，腿腫膝胻酸，傷寒羸瘦損，氣蠱及諸般。年過三旬後，針灸眼重觀。取穴當審的，八分三壯安。</p>
<p>其二，內庭次指外，本屬足陽明。能治四肢厥，喜靜惡聞聲，癮疹咽喉痛，數欠及牙疼，虛疾不能食，針著便惺惺。（針三分，灸三壯。）</p>
<p>其三，曲池拱手取，屈骨陷中求。善治肘中痛，偏風手不收，挽弓開不得，筋緩怕梳頭，喉閉促欲死，發熱更無休，遍身風癬癩，針著即時瘳。（針五分，灸三壯。）</p>
<p>其四，合谷在虎口，兩指岐骨間。頭痛並面腫，瘧病熱還寒，齒齲鼻衄血，口噤不開言。針入五分深，令人即便安。（灸三壯。）</p>
<p>其五，委中曲䐐里，橫紋脈中央。腰疼不能舉，沉沉引脊梁，痠痛筋莫展，風痹復無常，膝頭難伸屈，針入即安康。（針五分，禁灸）</p>
<p>其六，承山名魚腹，腨腸分肉間。善治腰疼痛，痔疾大便難，腳氣並膝腫，輾轉戰疼酸，霍亂及轉筋，穴中刺便安。（針七分，灸三壯。）</p>
<p>其七，太衝足大指，節後二寸中。動脈知生死，能醫驚癇風。咽喉並心脹，兩足不能行。七疝偏墜腫，眼目似云朦，亦能療腰痛，針下有神功。（針三分，灸三壯。）</p>
<p>其八，崑崙足外踝，跟骨上邊尋。轉筋腰尻痛，暴喘滿中心。舉步行不得，一動即呻吟。若欲求安樂，須於此穴針。（針五分，灸三壯。）</p>
<p>其九，環跳在髀樞，側臥屈足取。折腰莫能顧，冷風並濕痹。腿胯連腨痛，轉側重欷歔。若人針灸後，頃刻病消除。（針二寸，灸五壯。）</p>
<p>其十，陽陵足膝下，外臁一寸中。膝腫並麻木，冷痹及偏風。舉足不能起，坐臥似衰翁。針入六分止，神功妙不同。（灸二壯。）</p>
<p>其十一，通里腕側後，去腕一寸中。欲言聲不出，懊惱及怔忡。實則四肢重，頭腮面頰紅。虛則不能食，暴喑面無容。毫針微微刺，方信有神功。（針三分，灸三壯）</p>
<p>其十二，列缺腕側上，次指手交叉。善療偏頭患，遍身風痹麻。痰涎頻上壅，口噤不開牙。若能明補瀉，應手即如拿。（針三分，灸五壯。）</p>

<h3>五臟募穴</h3>
<p>中府：肺募。　巨闕：心募。　期門：肝募。　章門：脾募。　京門：腎募。</p>
<p>按《難經》云：陽病行陰，故令募在陰。腹曰陰，募皆在腹。</p>
<p>凡病由七情所傷，胃氣不行，兼之勞逸飲食不節，以致元氣不足也。當從胃合三里穴內，推而揚之，以伸陽氣，故曰從陰引陽。如不愈，治在腹上諸腑之募穴。此言七情以致元氣不足者宜此。</p>

<h3>五臟俞穴</h3>
<p>俞猶委輸之輸，言經氣由此而輸於彼也。</p>
<p>肺俞：三椎下各開寸半。　心俞：五椎下各開寸半。　肝俞：九椎下各開寸半。　脾俞：十一椎下各開寸半。　腎俞：十四椎下各開寸半。</p>
<p>按《難經》云：陰病行陽，故令俞在陽。（背曰陽，俞皆在背。）</p>
<p>凡病始於外寒，終歸外熱，治在背之各臟俞穴，即暑、濕、燥、火，亦取背上各俞穴。治風在風府，中暑在小腸俞，中濕在胃俞，中燥在大腸俞，此皆六淫客邪有餘之症，宜此。</p>

<h3>八會</h3>
<p>臟會章門腑中脘，髓會絕骨陽陵泉，血會膈俞骨大杼，氣會膻中脈太淵。</p>
<p>言周身之筋會陽陵泉，五臟之疾，皆取章門是也。（絕骨，懸鐘也。）熱病取此八會。</p>

<h3>論奇經八脈</h3>
<p>《難經》云：脈有奇經八脈者，何謂也？答曰：脈有陽維、陰維、陽蹺、陰蹺、沖、任、督、帶，凡此八脈，皆由經別出，另有處所，故曰奇經八脈也。然經有十二，絡有十五，凡二十七，氣血相隨上下，如瀹濟漯，決汝漢，排淮泗之水，治十二經，即禹疏九河也。至於天雨過多，各河暴漲溢出，溝渠皆盈，此所謂病入奇經也。若以十二經調治，則不應矣。宜以奇經八脈主穴治之，即今疏通溝渠之謂也。</p>

<h3>八脈交會八穴歌</h3>
<p>公孫衝脈胃心胸，內關陰維下總同。臨泣膽經連帶脈，陽維目銳外關逢。後谿督脈內眥頸，申脈陽蹺絡亦通。列缺任脈行肺系，陰蹺照海膈喉嚨。</p>

<h3>八脈配合歌</h3>
<p>公孫偏與內關合，列缺能消照海疴。臨泣外關分主客，後谿申脈正相和。左針右病知高下，以意通經廣按摩。補瀉迎隨分順逆，五門八法是真科。</p>

<h3>奇經八脈</h3>
<p>尋穴：公孫二穴，脾經。足大指內側，本節後一寸陷中，舉足，兩足掌相對取之。針一寸，主心腹五臟病，與內關主客相應。</p>
<p>治病：[西江月］九種心疼延悶，結胸翻胃難停，酒食積聚胃腸鳴，水食氣疾膈病。臍痛腹疼脅脹，腸風瘧疾心疼，胎衣不下血迷心，泄瀉公孫立應。</p>
<figure>
<img data-orig-src="urn:270:06115.jpg" alt="衝脈">
</figure>
<figure>
<img data-orig-src="urn:270:06116.jpg" alt="陰維脈">
</figure>
<p>尋穴：內關二穴，心包經。去掌二寸兩筋間，緊握拳取之。針一寸二分，主心膽脾胃之病，與公孫二穴，主客相應。</p>
<p>治病：［西江月］中滿心胸痞脹，腸鳴泄瀉脫肛，食難下膈酒來傷，積塊堅橫脅搶。婦女脅疼心痛，結胸裡急難當，傷寒不解結胸堂，瘧疾內關獨當。</p>
<p>尋穴：後谿二穴，小腸經。小指本節後外側骨縫中，緊握拳尖上。針一寸，主頭面項頸病，與申脈主客相應。</p>
<p>治病：［西江月］手足拘攣戰掉，中風不語癇癲，頭疼眼腫淚漣漣，腿膝背腰痛遍。項強傷寒不解，牙齒腮腫喉咽，手足麻木破傷牽，盜汗後谿先砭。</p>
<figure>
<img data-orig-src="urn:270:06117.jpg" alt="督脈">
</figure>
<figure>
<img data-orig-src="urn:270:06118.jpg" alt="陽蹺脈">
</figure>
<p>尋穴：申脈二穴，膀胱經。足外踝下陷中，赤白肉際，直立取之。針一寸，主四肢風邪及癰毒病，與後谿主客相應。</p>
<p>治病：［西江月］腰背屈強腿腫，惡風自汗頭疼，雷頭赤目痛眉稜，手足麻攣臂冷。吹乳耳聾鼻衄，癇癲肢節煩憎，遍身腫滿汗頭淋，申脈先針有應。</p>
<p>尋穴：臨泣二穴，膽經。足小趾次趾外側，本節中筋骨縫內，去一寸是。針五分，放水隨皮過一寸，主四肢病，與外關主客相應。</p>
<p>治病：［西江月］手足中風不舉，痛麻發熱拘攣，頭風痛腫項腮連，眼腫赤疼頭旋。齒痛耳聾咽腫，浮風搔癢筋牽，腿疼脅脹肋肢遍，臨泣針時有驗。</p>
<figure>
<img data-orig-src="urn:270:06119.jpg" alt="帶脈">
</figure>
<figure>
<img data-orig-src="urn:270:06120.jpg" alt="陽維脈">
</figure>
<p>尋穴：外關二穴，三焦經。掌背去腕二寸，骨縫兩筋陷中，伏手取之。針一寸二分，主風寒經絡皮膚病，與臨泣主客相應。</p>
<p>治病：［西江月］肢節腫疼膝冷，四肢不遂頭風，背胯內外骨筋攻，頭項眉稜皆痛。手足熱麻盜汗，破傷眼腫睛紅，傷寒自汗表烘烘，獨會外關為重。</p>
<p>尋穴：列缺二穴，肺經。手腕內側一寸五分，手交叉沿指盡處骨間是。針八分，主心腹脅肋五臟病，與照海主客相應。</p>
<p>治病：［西江月］痔瘧便腫泄痢，唾紅溺血咳痰，牙疼喉腫小便難，心胸腹疼噎咽。產後發強不語，腰痛血疾臍寒，死胎不下膈中寒，列缺乳癰多散。</p>
<figure>
<img data-orig-src="urn:270:06121.jpg" alt="任脈">
</figure>
<figure>
<img data-orig-src="urn:270:06122.jpg" alt="陰蹺脈">
</figure>
<p>尋穴：照海二穴，腎經。足內踝下陷中，令人穩坐，兩足底相合取之。針一寸二分，主臟腑病，與列缺主客相應。</p>
<p>治病：［西江月］喉塞小便淋瀝，膀胱氣痛腸鳴，食黃酒積腹臍並，嘔瀉胃翻便緊。難產昏迷積塊，腸風下血常頻，膈中快氣氣核侵，照海有功必定。</p>

<h3>十二經補瀉歌</h3>
<p>肺瀉尺澤補太淵，大腸二間曲池前，胃瀉厲兌解谿補，脾在商邱大都邊，心先神門後少衝，小腸小海後谿連，膀胱束骨補至陰，腎瀉湧泉復溜焉，包絡大陵中衝補，三焦天井中渚痊，膽瀉陽輔補俠谿，肝瀉行間補曲泉。（上穴俱瀉針，下穴俱補針。）</p>

<h3>十二經分陰陽歌</h3>
<p>太陽小腸足膀胱，陽明大腸足胃鄉，少陽三焦足膽配，太陰手肺足脾當，少陰手心足為腎，厥陰包絡足肝方。（上皆是手，下皆是足。）</p>

<h3>十五絡脈</h3>
<p>（橫行為絡）</p>
<p>小腸支正穴，膀胱飛揚中，大腸偏歷是，胃絡在豐隆，三焦在外關，膽經絡光明，肺絡列缺內，心絡通里同，脾絡是公孫，腎絡即大鐘，包絡尋內關，肝在蠡溝窮，督脈在長強，任脈屏翳通，脾又有大絡，大包乃厥終。</p>
<p>十五絡穴，實則必現，虛則必下，求之不得，取之上下。</p>
<p>十五絡脈者，十二經之別絡，而相通焉者也。脾之大絡，總統陰陽諸絡，灌溉於臟腑者也。任絡屏翳，督絡長強，誠得《十四經發揮》之正理。加以脾之大絡曰大包，此合十五絡也。</p>

<h3>灸法</h3>
<p>孟子曰：七年之病，求三年之艾。丹谿曰：艾性至熱，入火灸則上行，入藥服則下行。《千金方》云：宦遊吳蜀，體上常帶三兩處灸瘡，則瘴癘瘟瘧毒不能著人，故吳蜀多行灸法。語云：若要安，三里常不幹，有風者尤宜。</p>
<p>《本草》云：艾味苦，氣微溫，陰中之陽，無毒，主灸百病。五月五日，採曝乾，陳久良，入臼搗細，去塵屑，再焙，大燥用之，如潤無功。田野生者可用，蘄艾更妙。</p>

<h3>灸補瀉法</h3>
<p>氣盛瀉之，氣虛補之。針之所不能為者，則以艾灸之。針雖捷不如艾穩，艾雖穩不如針捷。如氣血兩虛，年高少小之人，並人腹背咽喉胸上，針不如灸穩也。補勿吹其火，須待自滅。瀉速吹其火，以開其穴孔。又，灸瘡必發，去病如把抓。</p>
<figure>
<img data-orig-src="urn:270:06123.jpg" alt="泥錢">
</figure>
<p>用泥錢五個，俱內空三分，周流換之，上著艾如楝子大，灸疼急方去，肉有汗起泡為妙，或棋子中取眼亦可。黃帝曰：灸不三分，是謂徒冤，言泥錢內周圓三分之大，以便達氣。若小兒，七日以上，周年以還，炷如雀糞可也。《小品》曰：腹背爛燒，四肢但去風邪，不宜大炷。王節齋云：面上灸炷須小，手足上猶可粗。</p>

<h3>取火法</h3>
<p>火珠映日，以艾承之，得火為上。次鑌鐵擊階石亦可，不如麻油點燈更佳。</p>

<h3>灸症</h3>
<p>傷寒結胸：黃連七寸，為末。巴豆七個，不去油。共和一處，水調，納於臍中，用艾灸腹中通快為度。　翻胃：上穴在乳下一寸，下穴在內踝下用三指，稍針向前排之是穴。　瘰癧：用獨蒜片先灸，候發後灸母核，多灸自效。　灸痞塊根：在十二椎下，旁開三寸半，灸之。　疝氣、冷氣、臍腹疼：灸大敦二穴。　男女遺精：十四椎下各開三寸，灸七壯效，名精穴。　又方：以桐油，男抹陽物，女抹陰物，邪不復來，善治遺精。</p>

<h3>以言治病法</h3>
<p>天地之氣，常則安，變則病，聖人如持至寶，庸人妄為而傷太和，諸病皆生於氣，分而為九，如喜、怒、悲、恐、寒、熱、驚、思、勞也。蓋怒則氣上，為嘔血，為飧泄。喜則氣緩，為笑不休。悲則氣消，為酸鼻。恐則氣下，為暴下清水。寒則氣收，為冷。熱則氣泄，暴下為汗。驚則氣亂，神無所歸，為癡為癇。勞則氣耗，男少精，女不月，喘息汗出。思則氣結，心有所存，神有所歸。悲可以治怒，治以愴惻苦楚之言感之。喜可以治悲，治以謔浪褻狎之言娛之。恐可以治喜，治以遽迫死亡之言怖之。怒可以治思，治以汙辱欺罔之言觸之。思可以治恐，治以思彼忘此之言奪之。五者必詭詐百出，無所不至，方可動人耳目，若無才之人，不能用此法也。熱可以治寒，寒可以治熱，逸可以治勞，勞可以治逸，習可以治驚。經曰：驚者卒然臨之，使習見習聞，則不驚矣。</p>

<h3>習醫須知</h3>
<p>（橫看豎推）</p>
<figure>
<img data-orig-src="urn:270:06124.jpg" alt="習醫須知">
</figure>

<h3>督任頭圖</h3>
<figure>
<img data-orig-src="urn:270:06125.jpg" alt="督任頭圖">
</figure>

<h3>背部穴圖</h3>
<figure>
<img data-orig-src="urn:270:06126.jpg" alt="背部穴圖">
</figure>

<h3>腹部穴圖</h3>
<figure>
<img data-orig-src="urn:270:06127.jpg" alt="腹部穴圖">
</figure>

<h3>眼科針灸要穴圖像</h3>
<figure>
<img data-orig-src="urn:270:06128.jpg" alt="口眼喎斜">
</figure>
<figure>
<img data-orig-src="urn:270:06129.jpg" alt="內障眼">
</figure>
<figure>
<img data-orig-src="urn:270:06130.jpg" alt="正頭風及腦痛">
</figure>
<figure>
<img data-orig-src="urn:270:06131.jpg" alt="暴赤腫痛眼">
</figure>
<figure>
<img data-orig-src="urn:270:06132.jpg" alt="頭頂痛">
</figure>
<figure>
<img data-orig-src="urn:270:06133.jpg" alt="羞明怕日眼">
</figure>
<figure>
<img data-orig-src="urn:270:06134.jpg" alt="外障眼">
</figure>
<figure>
<img data-orig-src="urn:270:06135.jpg" alt="頭風目眩">
</figure>
<figure>
<img data-orig-src="urn:270:06136.jpg" alt="紅腫澀沿眼">
</figure>
<figure>
<img data-orig-src="urn:270:06137.jpg" alt="偏正頭風">
</figure>
<figure>
<img data-orig-src="urn:270:06138.jpg" alt="迎風冷淚">
</figure>
<figure>
<img data-orig-src="urn:270:06139.jpg" alt="紅腫疼痛眼">
</figure>
<figure>
<img data-orig-src="urn:270:06140.jpg" alt="眼生翳膜">
</figure>

<h1>卷下</h1>

<h2>三尋穴</h2>

<h3>尋穴歌</h3>
<p>金針奧妙素稱奇，按經詳推夫何疑。十二經中十五絡，金水木火土不移。奇經八脈陽陰蹺，衝任督帶陰陽維。五募五俞並八會，經外奇穴悉載之。九氣所致宜早遏，六淫客邪莫遲時。虛用補法指里轉，實行瀉法指外馳。或補真陽元氣復，或瀉餘邪病即離。誠能曉得箇中妙，天下歸仁稱上醫。</p>

<h3>井滎俞原經合橫圖（聚英）</h3>
<figure>
<img data-orig-src="urn:270:06141.jpg" alt="井滎俞原經合橫圖一">
</figure>
<figure>
<img data-orig-src="urn:270:06142.jpg" alt="井滎俞原經合橫圖二">
</figure>
<p>五臟包絡無原穴，六腑有原穴。五臟包絡木、火、土、金、水，六腑金、水、木、火、土。生我者母也，我生者子也。本經如虛宜補其母，本經如實宜瀉其子，十二經皆然。</p>
<p>滑氏曰：諸井肌肉淺薄，瀉井當瀉榮，補井當補合。</p>

<h3>［十二經］穴目</h3>
<p>後穴下有八，有十一、十二者，言火在八章、十一、十二章也。余皆如此。</p>
<p>肺經：少商（八）　魚際　太淵　經渠　列缺　孔最　尺澤　俠白　天府　雲門　中府</p>
<p>大腸：商陽（十一）　二間　三間　合谷　陽谿　偏歷　溫溜　下廉　上廉　三里　曲池肘髎（十二）　五里　臂臑　肩髃　巨骨　天鼎　扶突　禾髎　迎香</p>
<p>脾經：隱白（十四）　大都　太白　公孫　商丘　三陰交　漏谷　地機　陰陵泉　血海　箕門　衝門（十五）　府舍　腹結　大橫　腹哀　食竇　天谿　胸鄉　周榮　大包</p>
<p>胃經：厲兌（二十）　內庭　陷谷　衝陽　解谿　豐隆　下巨墟　條口　上巨墟　三里　犢鼻梁丘　陰市　伏兔（十九）　髀關　氣衝　歸來　水道　大巨　外陵　天樞　滑肉門　太乙關門　梁門　承滿　不容　乳根　乳中　膺窗　屋翳　庫房（十八）　氣戶　缺盆　氣舍　水突　人迎　大迎　地倉　巨髎　四白　承泣　頰車　下關　頭維（十七）</p>
<p>心經：少衝（二十一）　少府　神門　陰郄　通里　靈道　少海　青靈　極泉</p>
<p>小腸：少澤（二十三）　前谷　後谿　腕骨　陽谷　養老　支正　小海　肩貞　臑腧　天宗　秉風　曲垣　肩外俞　肩中俞　天窗　天容　顴髎　聽宮</p>
<p>腎經：湧泉（二十五）　然谷　太谿　大鐘　水泉　照海　復溜　交信（二十六）　築賓　陰谷　橫骨　大赫　氣穴　四滿　中注　肓俞　商曲　石關　陰都　通谷　幽門　步廊　神封　靈墟（二十七）　神藏　彧中　俞府</p>
<p>膀胱：至陰　通谷　束骨　京骨　金門　申脈　僕參　崑崙　跗陽　飛揚　承山　承筋合陽　委中　委陽　浮郄　殷門　承扶（三十一）　秩邊　胞肓　志室　肓門　胃倉　意舍　陽綱　魂門　膈關　噫嘻　神堂　魄戶　膏肓　附分　會陽　下髎　中髎（三十）　次髎　上髎　白環俞　中膂俞　膀胱俞　小腸俞　關元俞　大腸俞　氣海俞　腎俞　三焦俞　胃俞　脾俞（二十九）　膽俞　肝俞　膈俞　督俞　心俞　厥陰俞　肺俞　風門　大杼　天柱　玉枕（二十八）　絡卻　通天　五處　承光　曲差　眉沖　攢竹　睛明</p>
<p>包絡：中衝（三十五）　勞宮　大陵　內關　間使　郄門　曲澤　天泉　天池</p>
<p>三焦：關衝　液門　中渚　陽池　外關　支溝　會宗　三陽絡　四瀆　天井　清冷淵　消濼　臑會　肩髎　天髎　天牖　翳風（三十七）　瘈脈　顱息　角孫　絲竹空　和髎　耳門</p>
<p>肝經：大敦（三十九）　行間　太衝　中封　蠡溝　中都　膝關　曲泉　陰包　五里　陰廉　章門　期門</p>
<p>膽經：竅陰（四十三）　俠谿　地五會　臨泣　丘墟　懸鐘　陽輔　光明　外丘　陽交　陽陵泉　陽關　中瀆（四十二）　風市　環跳　居髎　維道　五樞　帶脈　京門　日月　輒筋　淵液　肩井　風池　腦空（四十二）　承靈（四十一）　正營　目窗　臨泣　陽白　本神　完骨　竅陰　浮白　天衝　率谷　曲鬢　懸釐　懸顱　頷厭　客主人　聽會　瞳子髎（四十一）</p>

<h3>奇經八脈</h3>
<p>督脈：齦交　兌端　水溝　素髎　神庭　上星　囟會　前頂　百會　後頂　強間　腦戶風府　啞門　大椎　陶道　身柱　神道　靈臺　至陽　筋縮　脊中　懸樞　命門　陽關　腰俞長強</p>
<p>任脈：承漿（四十七）　廉泉　天突　璇璣　華蓋　紫宮　玉堂　膻中　中庭　鳩尾　巨闕　上脘　中脘　建里　下脘　水分　神闕　陰交　氣海　石門　關元　中極　曲骨　會陰</p>
<p>衝脈：幽門（四十八）　通谷　陰都　石關　商曲　肓俞　中注　四滿　氣穴　大赫　橫骨</p>
<p>帶脈：帶脈　五樞　維道</p>
<p>陽蹺：申脈　僕參　附陽　居髎　肩髃　巨骨　臑俞　地倉　巨髎　承泣</p>
<p>陰蹺：照海　交信</p>
<p>陽維：金門　陽交　臑俞　臑會　天髎　肩井　陽白　本神　臨泣　目窗　正營　承靈　腦空　風池　日月　風府　啞門</p>
<p>陰維：築賓　腹哀　大橫　府舍　期門　天突　廉泉</p>

<h3>經外奇穴</h3>
<p>內迎香（四十九）　鼻準　耳尖　聚泉　金津　玉液　海泉　魚腰　太陽　大骨空　中魁八風　八邪　十宣穴　五虎穴　肘尖　肩柱骨　二白　獨陰　內踝尖　外踝尖　鬼眼穴　中泉小骨空　印堂　子宮　蘭門　百蟲窠</p>

<h3>十二經圖十二經穴十二經補瀉八法圖</h3>
<p><u>手太陰肺經穴</u></p>
<figure>
<img data-orig-src="urn:270:06143.jpg" alt="手太陰肺經穴圖一">
</figure>
<figure>
<img data-orig-src="urn:270:06144.jpg" alt="手太陰肺經穴圖二">
</figure>
<p>中府：雲門下一寸六分，乳上三肋間，動脈應手陷中，去胸中行各六寸。肺之募，（募猶結募也，言經氣聚此。）手足太陰二經之會。針三分，灸五壯。</p>
<p>雲門：巨骨下，俠氣戶旁二寸陷中，動脈應手，舉臂取之，去胸中行各六寸。針七分、三分，灸五壯。</p>
<p>天府：腋下三寸，肘腕上五寸，動脈中，用鼻尖點墨，到處是穴。針四分。</p>
<p>俠白：天府下去肘五寸，動脈中。針三分，灸五壯。</p>
<p>尺澤：肘中約紋上，動脈中，屈肘橫紋，筋骨罅陷中。肺水穴也，肺實瀉之。針三分，灸五壯。</p>
<p>孔最：去腕上七寸，側取之。針二分，灸五壯。</p>
<p>列缺：肺絡別走陽明。去腕側上一寸五分，以兩手交叉，食指盡處，兩筋骨罅中。針二分，灸七壯。</p>
<p>經渠：寸口動脈陷中，肺金穴也。針二分。</p>
<p>太淵：掌後內側橫紋頭，動脈中，肺土穴也，肺虛補之。《難經》曰：脈會太淵。疏曰：脈病治此。灸三壯，針二分。</p>
<p>魚際：大指本節後，內側白肉際陷中。又云：散脈中。肺火穴也。針二分。</p>
<p>少商：大指內側，去爪甲角如韭葉，肺木穴也。宜以三稜針刺之，微出血，泄五臟熱。唐刺史成君綽忽頷腫大如升，喉中閉塞，水粒不下三日，甄權以三稜針刺之，微出血，立愈，瀉臟熱也。</p>
<p><u>手陽明大腸經穴</u></p>
<figure>
<img data-orig-src="urn:270:06145.jpg" alt="手陽明大腸經穴圖一">
</figure>
<figure>
<img data-orig-src="urn:270:06146.jpg" alt="手陽明大腸經穴圖二">
</figure>
<p>商陽：手大指、次指內側，去爪甲角如韭葉，大腸金穴也。灸三壯，針一分。</p>
<p>二間：食指本節前內側陷中，大腸水穴也，大腸實瀉之。三分，三壯。</p>
<p>三間：食指本節後內側陷中，大腸木穴也。三分，三壯。東垣曰：氣在於臂取之。先去血脈，後深取手陽明之榮、俞，二間，三間。</p>
<p>合谷：手大指、次指岐骨間陷中，大腸原穴也。虛實皆拔之。三分，三壯。婦人妊娠，可瀉不可補，補即墮胎。詳見足太陰脾，三陰交下。</p>
<p>陽谿：腕中上側兩筋間陷中，大腸火穴也。三分、三壯。</p>
<p>偏歷：腕中後三寸，大腸脈別走太陰。三分，三壯。實瀉虛補。</p>
<p>溫溜：在腕後五寸六寸間。三分，三壯。</p>
<p>下廉：輔骨下，去上廉一寸，輔銳肉分外斜。針五分，灸三壯。</p>
<p>上廉：三里下一寸，陽明之會，外斜。針五分，灸三壯。</p>
<p>三里：曲池下二寸，按之肉起，銳肉之端，針三分，一壯。</p>
<p>曲池：肘外輔骨，屈肘橫紋頭陷中。以手拱胸取之。大腸土穴也。針七分，得氣先瀉後補，三壯。</p>
<p>肘髎：大骨外廉，陷中。三壯，三分。</p>
<p>五里：肘上三寸，行向里，大脈中央。十壯。</p>
<p>臂臑：肘上七寸，膕肉端，肩髃下一寸，兩筋兩骨罅陷宛宛中，舉臂取之。手陽明之絡，手足太陽、陽維之會。三壯，三分。</p>
<p>肩髃：膊骨頭肩端上，兩骨罅間陷中宛宛中，舉臂取之有空。手陽明、陽蹺之會。七壯、一寸。又云六分。唐·魯州刺史庫狄嶔風痹，不能挽弓，甄權針肩髃，針進可射。</p>
<p>巨骨：肩尖端上行，兩叉骨罅間陷中，手陽明、陽蹺之會。五壯，一寸半，瀉之勿補。</p>
<p>天鼎：頸缺盆上，直扶突後一寸。四分，三壯。</p>
<p>扶突：氣舍上一寸五分，在頸當曲頰下一寸，人迎後一寸五分，仰而取之。三壯，三分。</p>
<p>禾髎：鼻孔下，挾水溝旁五分。針三分，禁灸。</p>
<p>迎香：禾髎上一寸，鼻下孔旁五分。手、足陽明之會。針三分，禁灸。</p>
<p><u>足太陰脾經穴</u></p>
<figure>
<img data-orig-src="urn:270:06147.jpg" alt="足太陰脾經穴圖一">
</figure>
<figure>
<img data-orig-src="urn:270:06148.jpg" alt="足太陰脾經穴圖二">
</figure>
<p>隱白：足大趾端內側，去爪甲角如韮葉，脾木穴也。三壯，三分。</p>
<p>大都：足大趾本節後，內側陷中，骨縫赤白肉際，脾火穴也，脾虛補之。三壯、三分。</p>
<p>太白：足大趾內側，內踝前核骨下陷中，脾土穴也。三壯、三分。</p>
<p>公孫：足大趾本節後一寸，內踝前。足太陰絡脈，別走陽明胃經。三壯，三分。</p>
<p>商丘：足內踝骨下微前陷中，前有中封，後有照海，其穴居中。脾金穴也，脾實瀉之。三壯，三分。</p>
<p>三陰交：內踝上三寸，骨下陷中。足太陰、少陰、厥陰之會。三壯，三分。</p>
<p>漏谷：內踝上六寸，胻骨下陷中。三分。</p>
<p>地機：膝下五寸，膝內側輔骨下陷中，伸足取之。足太陰郄，別走，上一寸，有空。三壯，三分。</p>
<p>陰陵泉：膝下內側輔骨下陷中，伸足取之，在膝橫紋頭下，脾水穴也。五分。</p>
<p>血海：膝臏上，內廉白肉際，二寸半。五分，三壯。</p>
<p>箕門：魚腹上越筋間。三壯。</p>
<p>衝門：府舍下一寸，橫骨兩端約中動脈，去腹中行各四寸半。五壯，七分。</p>
<p>府舍：腹結下三寸，去腹中行各四寸半。五壯，七分。</p>
<p>腹結：大橫下一寸三分，去腹中行各四寸半。五壯，七分。</p>
<p>大橫：腹哀下三寸五分，去腹中行各四寸半。五壯，七分。</p>
<p>腹哀：日月下一寸五分，去腹中行各四寸半。三分。</p>
<p>食竇：天谿下一寸六分，去腹中行各六寸，舉臂取之。五壯，四分。</p>
<p>天谿：胸鄉下一寸六分，陷中，去胸中行六寸，仰而取之。五壯，四分。</p>
<p>胸鄉：周榮下一寸六分，去胸中行各六寸，仰而取之。五壯，四分。</p>
<p>周榮：中府下一寸六分，去胸中行各六寸，仰而取之。五壯，四分。</p>
<p>大包：淵液下三寸，脾之大絡，總統陰陽諸絡。三壯，三分。</p>
<p><u>足陽明胃經穴</u></p>
<figure>
<img data-orig-src="urn:270:06149.jpg" alt="足陽明胃經穴圖一">
</figure>
<figure>
<img data-orig-src="urn:270:06150.jpg" alt="足陽明胃經穴圖二">
</figure>
<p>頭維：額角入髮際，本神旁一寸五分，神庭旁四寸五分。足陽明、少陽之會。三分。</p>
<p>下關：客主人下，耳前動脈下廉，合口有空，開口則閉，側臥閉口取之，足陽明、少陽之會。三分、三壯。</p>
<p>頰車：耳下八分，曲頰端，近前陷中，側臥開口有空取之。四分，得氣即瀉。七壯，炷如小麥大。</p>
<p>承泣：目下七分，直瞳子陷中，足陽明、陽蹺脈、任脈之會。灸三壯。</p>
<p>四白：目下一寸，直瞳子，令病人正視取之。四分，七壯。</p>
<p>巨髎：俠鼻孔旁八分，直瞳子下，平水溝，手、足陽明、陽蹺脈之會。三分，得氣即瀉。七壯。</p>
<p>地倉：俠口吻旁四分，外延，下有動脈。手、足陽明、陽蹺脈之會。三分，得氣即瀉，二七壯。</p>
<p>大迎：曲頷前一寸二分，骨陷中動脈。三分，三壯。</p>
<p>人迎：頸大動脈應手，俠結喉兩旁，一寸五分，仰而取之。四分。</p>
<p>水突：頸大筋前，直人迎下，氣舍上。三分，三壯。</p>
<p>氣舍：頸直人迎下，俠天突陷中。三壯、三分。</p>
<p>缺盆：肩下橫骨陷中。三壯，三分。</p>
<p>氣戶：巨骨下，俞府兩旁，各二寸陷中，去中行各四寸，仰而取之。三分，五壯。</p>
<p>庫房：氣戶下一寸六分，陷中，去中行各四寸，五壯，三分。</p>
<p>屋翳：庫房下一寸六分，陷中，去中行各四寸，仰而取之。四分，五壯。</p>
<p>膺窗：屋翳下一寸六分，陷中，去中行各四寸。四分，五壯。</p>
<p>乳中：當乳中是，微刺之。三分。</p>
<p>乳根：乳中下一寸六分，陷中，去中行各四寸，仰而取之。五壯，三分。</p>
<p>不容：幽門旁，相去一寸五分，去中行各三寸。五壯，三分。</p>
<p>承滿：不容下一寸，去中行各三寸。五壯，三分。</p>
<p>梁門：承滿下一寸，去中行各三寸。五壯，三分。</p>
<p>關門：梁門下一寸，去中行各三寸。五壯，三分。</p>
<p>太乙：關門下一寸，去中行各三寸。五壯，八分。</p>
<p>滑肉門：太乙下一寸，去中行各三寸。五壯，八分。</p>
<p>天樞：去肓俞一寸，俠臍中，兩旁各二寸。百壯，五分。</p>
<p>外陵：天樞下一寸，去中行各二寸。五壯，三分。</p>
<p>大巨：外陵下一寸，去中行各二寸。五壯，五分。</p>
<p>水道：大巨下三寸，去中行各二寸。五壯，三分。</p>
<p>歸來：水道下二寸，去中行各二寸。五壯，五分。</p>
<p>氣衝：歸來下一寸，去中行各二寸。動脈應手，宛宛中，衝脈所起。七壯，炷如大麥，禁針。</p>
<p>髀關：伏兔後交紋中。三壯，六分。</p>
<p>伏兔：膝上六寸，起肉，正跪坐而取之。以左右各三指，按捺上有肉起，如兔之狀，因以此名。五分。</p>
<p>陰市：膝上三寸，伏兔下陷中，拜而取之。三分，禁灸。</p>
<p>梁丘：膝上二寸，兩筋間。三壯，三分。</p>
<p>犢鼻：膝臏下，胻骨上，俠解大筋陷中。三壯，三分。</p>
<p>三里：膝下三寸，胻骨外廉，大筋宛宛中，兩筋分肉間，舉足取之，極重按之，則跗上動脈止矣，胃土穴也。三壯，一寸。</p>
<p>上廉：三里下三寸，兩筋骨罅中，舉足取之。三壯，三分。甄權隨年為壯。</p>
<p>條口：下廉上一寸，舉足取之。三壯，五分。</p>
<p>下廉：上廉下三寸，兩筋骨鏬中，蹲地舉足取之。三壯，八分。</p>
<p>豐隆：外踝上八寸，下胻外廉陷中，足陽明絡別走太陰。三壯，三分。</p>
<p>解谿：衝陽後一寸五分，腕上陷中，足大趾、次趾直上，跗上陷者宛宛中，胃火穴也。三壯、五分，補之。</p>
<p>衝陽：足跗上五寸，去陷谷二寸，骨間動脈，胃原穴也。胃虛、實皆拔之，三壯，五分。</p>
<p>陷谷：足大趾、次趾外間，本節後陷中，去內庭二寸，木穴也。三壯，三分。</p>
<p>內庭：足大趾、次趾外間陷中，胃水穴也。三壯、三分。</p>
<p>厲兌：足大趾、次趾之端，去爪甲角如韭葉，胃金穴也。胃實瀉之，一壯、一分。</p>
<p><u>手少陰心經穴</u></p>
<figure>
<img data-orig-src="urn:270:06151.jpg" alt="手少陰心經穴圖一">
</figure>
<figure>
<img data-orig-src="urn:270:06152.jpg" alt="手少陰心經穴圖二">
</figure>
<p>極泉：臂內腋下筋間動脈入胸。七壯，三分。</p>
<p>青靈：肘上三寸，伸肘舉臂取之。七壯。</p>
<p>少海：肘內廉節後，大骨外，去肘端五分，屈肘向頭得之，心水穴也。三壯，三分。</p>
<p>靈道：掌後一寸五分，心金穴也。三壯，三分。</p>
<p>通里：掌後一寸陷中，手少陰心脈之絡。三壯，三分。</p>
<p>陰郄：掌後脈中，去腕五分。七壯，三分。</p>
<p>神門：掌後銳骨端陷中，心土穴也。瀉之，七壯，三分。</p>
<p>少府：手小指本節後，骨縫陷中，心火穴也。七壯，二分。</p>
<p>少衝：手小指內側，去爪甲角如韭葉，心木穴也。三壯，一分，補之。</p>
<p><u>手陽明大腸經穴</u></p>
<figure>
<img data-orig-src="urn:270:06153.jpg" alt="手陽明大腸經穴圖一">
</figure>
<figure>
<img data-orig-src="urn:270:06154.jpg" alt="手陽明大腸經穴圖二">
</figure>
<p>少澤：手小指端外側，去爪甲角下一分陷中，小腸金穴也。三壯，一分。</p>
<p>前谷：手小指外側，本節前陷中，小腸水穴也。一壯，一分。</p>
<p>後谿：手小指外側，本節後陷中，握拳取之，小腸木穴也。一壯，一分，補之。</p>
<p>腕骨：手外側，腕前，起骨下陷中，小腸原穴也。三壯，二分。</p>
<p>陽谷：手外側腕中，銳骨下陷中，小腸火穴也。三壯，二分。</p>
<p>養老：踝骨前上，後一寸陷中，手太陽郄，二壯，三分。</p>
<p>支正：腕後五寸，手太陽絡。三壯，三分。</p>
<p>小海：肘外大骨外，去肘端五分陷中，屈手向頭取之，小腸土穴也。三壯，三分，瀉之。</p>
<p>肩貞：曲胛下，兩骨解間，顒後陷中。三壯，五分。</p>
<p>臑俞：俠肩髃後大骨下，胛上廉陷中，舉臂取之。三壯，八分。</p>
<p>天宗：秉風后，大骨下陷中。三壯，五分。</p>
<p>秉風：天髎外，肩上，小髃後，舉臂有空。五壯，五分。</p>
<p>曲垣：肩中央，曲胛陷中。三壯，五分。</p>
<p>肩外俞：肩胛上廉，去脊三寸，陷中。三壯，六分。</p>
<p>肩中俞：肩胛內廉，去脊二寸陷中。三壯，六分。</p>
<p>天窗：頸大筋間，前曲頰下，扶突後，動脈應手，陷中。三壯，三分。</p>
<p>天容：耳下曲頰後。三壯，一寸。</p>
<p>顴髎：面頄骨下廉，銳骨端陷中。二分。</p>
<p>聽宮：耳中珠子，大如赤小豆，手、足少陽、手太陽三脈之會。三壯，三分。</p>
<p><u>足少陰腎經穴</u></p>
<figure>
<img data-orig-src="urn:270:06155.jpg" alt="足少陰腎經穴圖一">
</figure>
<figure>
<img data-orig-src="urn:270:06156.jpg" alt="足少陰腎經穴圖二">
</figure>
<p>湧泉：足心陷中，屈足卷趾宛宛中，白肉際，跪取。腎木穴也。三壯，五分，瀉之。</p>
<p>然谷：足內踝前起大骨下陷中，腎火穴也。三壯，三分。</p>
<p>太谿：足內踝後五分，跟骨上動脈陷中，腎土穴也。三壯，三分。</p>
<p>大鐘：足跟後踵中，大骨上，兩筋間，足少陰絡。三壯，二分。</p>
<p>水泉：太谿下一寸，內踝下，少陰郄。五壯，四分。</p>
<p>照海：足內踝下四分，前後有筋，陰蹺脈生。三壯，四分。</p>
<p>復溜：足內踝上二寸，筋骨陷中，腎金穴也。五壯，三分，補之。</p>
<p>交信：足內踝骨上二寸。三壯，四分。</p>
<p>築賓：內踝上腨分中。五壯，三分。</p>
<p>陰谷：膝內輔骨後，大筋下，小筋上，屈膝乃得，腎水穴也。三壯，四分。</p>
<p>橫骨：大赫下一寸，陰上橫骨中。三壯。</p>
<p>大赫：氣穴下一寸，去腹中行一寸。五壯，三分。</p>
<p>氣穴：四滿下一寸，去腹中行一寸。五壯，三分。</p>
<p>四滿：中注下一寸，去腹中行一寸。三壯，三分。</p>
<p>中注：肓俞下一寸，去腹中行一寸。五壯，一寸。</p>
<p>肓俞：商曲下一寸，去腹中行一寸。五壯，一寸。</p>
<p>商曲：石關下一寸，去腹中行一寸五分。五壯，一寸。</p>
<p>石關：陰都下一寸，去腹中行一寸五分。三壯，一寸。</p>
<p>陰都：通谷下一寸，去腹中行一寸五分。三壯，三分。</p>
<p>通谷：幽門下一寸，去腹中行一寸五分。五壯，五分。</p>
<p>幽門：俠巨闕兩旁一寸五分，陷中。五壯，五分。</p>
<p>步廊：神封下一寸六分，陷中，去胸中行二寸，仰取。五壯，三分。</p>
<p>神封：靈墟下一寸六分，陷中，去胸中行二寸，仰取。五壯，三分。</p>
<p>靈墟：神藏下一寸六分，陷中，去胸中行二寸，仰取。五壯，三分。</p>
<p>神藏：彧中下一寸六分，陷中，去胸中行二寸，仰取。五壯，四分。</p>
<p>彧中：俞府下一寸六分，去胸中行二寸，仰取。五壯，四分。</p>
<p>俞府：氣舍下璇璣旁二寸陷中，仰取。三壯，四分。</p>
<p><u>足太陽膀胱經穴</u></p>
<figure>
<img data-orig-src="urn:270:06157.jpg" alt="足太陽膀胱經穴圖一">
</figure>
<figure>
<img data-orig-src="urn:270:06158.jpg" alt="足太陽膀胱經穴圖二">
</figure>
<p>睛明：目內眥頭外一分，宛宛中，手、足太陽，足陽明，陰、陽蹺，五脈之會。一分半。</p>
<p>攢竹：兩眉頭陷中。三壯，二分。</p>
<p>眉沖：直眉頭上，神庭、曲差之間，三分。</p>
<p>曲差：神庭旁一寸五分，入髮際。針二分，灸三壯。</p>
<p>五處：俠上星旁一寸五分。三壯，三分。</p>
<p>承光：五處後一寸五分，禁灸，三分。</p>
<p>通天：承光後一寸五分，三壯，三分。</p>
<p>絡卻：通天後一寸五分，三壯，三分。</p>
<p>玉枕：絡卻後一寸五分，俠腦戶旁一寸三分，起肉枕骨上，入髮際二寸。三壯，三分。</p>
<p>天柱：俠項後髮際，大筋外廉陷中。七壯，五分。</p>
<p>大杼：項後第一椎下，兩旁，相去脊各一寸五分，陷中，正坐取之。七壯，五分。</p>
<p>風門：二椎下兩旁，相去脊各一寸五分，正坐取之。三壯，五分。</p>
<p>肺俞：三椎下兩旁，相去脊各一寸五分，正坐取之。三壯，三分。</p>
<p>厥陰俞：四椎下兩旁，相去脊各一寸五分，正坐取之。七壯，三分。</p>
<p>心俞：五椎下兩旁，相去脊各一寸五分，正坐取之。三壯，三分。</p>
<p>督俞：六椎下兩旁，相去脊各一寸五分，正坐取之。三壯。</p>
<p>膈俞：七椎下兩旁，相去脊各一寸五分，正坐取之。三壯，三分。</p>
<p>肝俞：九椎下兩旁，相去脊各一寸五分，正坐取之。三壯，三分。</p>
<p>膽俞：十椎下兩旁，相去脊各一寸五分，正坐取之。二壯，五分。</p>
<p>脾俞：十一椎下兩旁，相去脊各一寸五分，正坐取之。三壯，三分。</p>
<p>胃俞：十二椎下兩旁，相去脊各一寸五分，正坐取之。三壯，三分。</p>
<p>三焦俞：十三椎下兩旁，相去脊各一寸五分，正坐取之。三壯，五分。</p>
<p>腎俞：十四椎下兩旁，相去脊各一寸五分，前與臍平，正坐取之。三壯，三分。</p>
<p>氣海俞：十五椎下兩旁，相去脊各一寸五分，伏而取之。三壯，三分。</p>
<p>大腸俞：十六椎下兩旁，相去脊各一寸五分，伏而取之。三壯，三分。</p>
<p>關元俞：十七椎下兩旁，相去脊各一寸五分，伏而取之。</p>
<p>小腸俞：十八椎下兩旁，相去脊各一寸五分，伏而取之。三壯，三分。</p>
<p>膀胱俞：十九椎下兩旁，去脊一寸五分，伏取。三壯，三分。</p>
<p>中膂俞：二十椎下兩旁，去脊一寸五分，伏取。三壯，三分。</p>
<p>白環俞：二十一椎下兩旁，去脊一寸五分，伏取。三壯，五分。</p>
<p>上髎：第一空腰踝下一寸，俠脊陷中。七壯，三分。</p>
<p>次髎：二空俠脊陷中。七壯，三分。</p>
<p>中髎：三空俠脊陷中。三壯，二分。</p>
<p>下髎：四空俠脊陷中。三壯，二分。</p>
<p>會陽：陰尾尻骨兩旁。五壯，八分。</p>
<p>附分：二椎下，附項內廉兩旁，去脊三寸，正坐取之。五壯，三分。</p>
<p>魄戶：直附分下，三椎下兩旁，去脊三寸，正坐取之。七壯，五分。</p>
<p>膏肓俞：四椎下一分，五椎上二分，兩旁去脊三寸。百壯至五百壯。</p>
<p>神堂：五椎下兩旁，去脊三寸陷中，正坐取之。五壯，三分。</p>
<p>噫嘻：肩膊內廉，俠六椎下兩旁，去脊三寸，正坐取之。六分，七壯至百壯。</p>
<p>膈關：七椎下兩旁，去脊三寸，正坐開肩取之。三壯，五分。</p>
<p>魂門：九椎下兩旁，去脊三寸，正坐取之。三壯，五分。</p>
<p>陽綱：十椎下兩旁，去脊三寸，正坐闊肩取之。三壯，五分。</p>
<p>意舍：十一椎下兩旁，去脊三寸，正坐取之。七壯，五分。</p>
<p>胃倉：十二椎下兩旁，去脊三寸，正坐取之。三十壯，五分。</p>
<p>肓門：十三椎下兩旁，去脊三寸，陷中，正坐取之。三十壯，五分。</p>
<p>志室：十四椎下兩旁，去脊三寸，正坐取之。三壯，九分。</p>
<p>胞肓：十九椎下兩旁，去脊三寸，伏取。七壯，五分。</p>
<p>秩邊：二十椎下兩旁，去脊三寸，伏取。三壯，三分。</p>
<p>承扶：尻臀下，陰股上紋中。三壯，七分。</p>
<p>殷門：浮郄下三寸。七分。</p>
<p>浮郄：委陽上一寸，展膝取之。三壯，五分。</p>
<p>委陽：承扶下六寸。三壯，七分。</p>
<p>委中：膕中央約紋動脈陷中，面伏地取之，膀胱土穴也。五分。</p>
<p>合陽：約紋下三寸。五壯，六分。</p>
<p>承筋：腨腸中央陷中，脛後從腳跟上七寸。三壯。</p>
<p>承山：銳腨腸下分肉間陷中。五壯，七分。</p>
<p>飛揚：外踝骨上七寸。三壯，三分。</p>
<p>附陽：外踝上三寸，太陽前，少陽後。三壯，五分。</p>
<p>崑崙：足外踝後五分，跟骨上陷中，膀胱火穴也。三壯，三分。</p>
<p>僕參：足跟骨下陷中，拱足取之。七壯，三分。</p>
<p>申脈：外踝下五分陷中。三壯，三分。</p>
<p>金門：外踝下少後，丘墟後。三壯，一分。</p>
<p>京骨：足外側大骨下，赤白肉際陷中，按而得之，膀胱原穴也。七壯，三分。</p>
<p>束骨：足小趾外側本節後，赤白肉際陷中，膀胱木穴也。三壯，三分，瀉之。</p>
<p>通谷：足小趾外側，本節前陷中，膀胱水穴也。三壯，二分。</p>
<p>至陰：足小趾外側，去爪甲角如韭葉，膀胱金穴也。三壯，二分，補之。</p>
<p><u>手厥陰心包絡經穴</u></p>
<figure>
<img data-orig-src="urn:270:06159.jpg" alt="手厥陰心包絡經穴圖一">
</figure>
<figure>
<img data-orig-src="urn:270:06160.jpg" alt="手厥陰心包絡經穴圖二">
</figure>
<p>天池：腋下三寸，乳後一寸，著脅直腋撅肋間。三壯，三分。</p>
<p>天泉：曲腋下二寸，舉臂取之。三壯，六分。</p>
<p>曲澤：肘內廉陷中，大筋內側橫紋中動脈是也。包絡水穴也。三壯，三分。</p>
<p>郄門：掌後去腕五寸。五壯，三分。</p>
<p>間使：掌後三寸兩筋間陷中，包絡金穴也。五壯，三分。</p>
<p>內關：掌後去腕二寸兩筋間。三壯，五分。</p>
<p>大陵：掌後骨下兩筋間陷中，包絡土穴也。三壯，五分，瀉之。</p>
<p>勞宮：掌中央動脈，屈中指無名指兩間取，包絡火穴也。三壯，三分。</p>
<p>中衝：手中指端，去爪甲如韭葉陷中，包絡木穴也。一壯，一分，補之。</p>
<p><u>手少陽三焦經穴</u></p>
<figure>
<img data-orig-src="urn:270:06161.jpg" alt="手少陽三焦經穴圖一">
</figure>
<figure>
<img data-orig-src="urn:270:06162.jpg" alt="手少陽三焦經穴圖二">
</figure>
<p>關衝：手小指次指外側，去爪甲角如韭葉，三焦金穴也。一壯，一分。</p>
<p>液門：小、次指岐骨間陷中，握拳取，三焦水穴也。三壯，二分。</p>
<p>中渚：手小指次指本節後陷中，液門下一寸，三焦木穴也。三壯，二分，補之。</p>
<p>陽池：手表腕上陷中，三焦脈過為原。三壯，二分。</p>
<p>外關：腕後二寸兩骨間，與內關對，手少陽絡。三壯，三分。</p>
<p>支溝：腕後臂外三寸，兩骨間陷中，三焦火穴也。七壯，二分。</p>
<p>會宗：腕後三寸，空中一寸。七壯。</p>
<p>三陽絡：臂上大交脈支溝上一寸。七壯。</p>
<p>四瀆：在肘前五寸，外廉陷中。三壯，六分。</p>
<p>天井：肘外大骨後，肘上一寸，輔骨上兩筋叉骨鏬中，屈肘拱胸取，三焦土穴也。三壯，二分，瀉之。</p>
<p>清冷淵：肘上二寸，伸肘舉臂取之。三壯，二分。</p>
<p>消濼：肩下臂外間，腋斜肘分下。三壯，一分。</p>
<p>臑會：肩前廉，去肩頭三寸宛宛中。五壯，五分。</p>
<p>肩髎：肩端臑上陷中，舉臂取。三壯，七分。</p>
<p>天髎：肩缺盆中，上臂骨際陷中，須缺盆陷處，上有空起肉上是穴。三壯，八分。</p>
<p>天牖：頸大筋外，缺盆上，天容後，天柱前，完骨下，髮際上。二寸。</p>
<p>翳風：耳後尖角陷中，按之引耳中痛，先以錢二十文，令患人咬之尋穴。七壯，三分。</p>
<p>瘈脈：耳本後雞足青絡脈。三壯，一分。</p>
<p>顱息：耳後間青絡脈中。七壯，一分。</p>
<p>角孫：耳廓中間，開口有空。三壯，八分。</p>
<p>絲竹空：眉後陷中。三分，五壯。</p>
<p>和髎：耳前銳發下橫動脈中是穴。三壯，七分。</p>
<p>耳門：耳前起肉當耳缺陷中。三壯，三分。</p>
<p><u>足厥陰肝經穴</u></p>
<figure>
<img data-orig-src="urn:270:06163.jpg" alt="足厥陰肝經穴圖一">
</figure>
<figure>
<img data-orig-src="urn:270:06164.jpg" alt="足厥陰肝經穴圖二">
</figure>
<p>大敦：足大趾端，去爪甲如韭葉，及三毛中，肝木穴也。三壯，三分。</p>
<p>行間：足大趾縫間，動脈應手陷中，肝火穴也。三壯，三分，瀉之。</p>
<p>太衝：足大趾本節後二寸，內間動脈應手陷中，肝土穴也。三壯，三分。</p>
<p>中封：足內踝骨前一寸，筋里宛宛中，仰足取陷中，伸足得之，肝金穴。三壯，四分。</p>
<p>蠡溝：內踝上五寸。三壯，二分。</p>
<p>中都：內踝上七寸，胻骨中。五壯，三分。</p>
<p>膝關：犢鼻下二寸旁陷中。五壯。四分。</p>
<p>曲泉：膝股上內側，輔骨下，大筋上，小筋下，陷中，屈膝橫紋頭取，肝水穴也。三壯、六分，補之。</p>
<p>陰包：膝上四寸，股內廉兩筋間，蜷足取。三壯，六分。</p>
<p>五里：氣衝下三寸，陰股中動脈應手。五壯，六分。</p>
<p>陰廉：羊矢下，去氣衝二寸，動脈中。三壯，八分。</p>
<p>章門：大橫外，直季脅肋端，當臍上二寸，兩旁六寸，側臥屈上足，伸下足，舉臂取。七壯，六分。</p>
<p>期門：直乳二肘端，不容旁一寸五分。五壯，四分。</p>
<p><u>足少陽膽經穴</u></p>
<figure>
<img data-orig-src="urn:270:06165.jpg" alt="足少陽膽經穴圖一">
</figure>
<figure>
<img data-orig-src="urn:270:06166.jpg" alt="足少陽膽經穴圖二">
</figure>
<p>瞳子髎：目外去眥五分。三壯，三分。</p>
<p>聽會：耳微前陷中，上關下一寸，動脈宛宛中，張口得之。五壯，三分。</p>
<p>客主人：耳前骨上，開口有空，張口取之。七壯，一分。</p>
<p>頷厭：曲周下顳顬上廉。三壯，七分。</p>
<p>懸顱：曲周下顳顬中廉。三壯，三分。</p>
<p>懸釐：曲周下顳顬下廉。三壯，三分。</p>
<p>曲鬢：在耳上髮際曲隅陷中，鼓頷有空。七壯，三分。</p>
<p>率谷：耳上入髮際寸半，陷者宛宛中，嚼取。三壯，三分。</p>
<p>天衝：耳後髮際二寸，耳上如前三分。七壯，三分。</p>
<p>浮白：耳後入髮際一寸。七壯，二分。</p>
<p>竅陰：完骨上，枕骨下，動搖有空。七壯，三分。</p>
<p>完骨：耳後入髮際四分。七壯，三分。</p>
<p>本神：曲差旁一寸五分，直耳上入髮際四分。七壯，三分。</p>
<p>陽白：眉上一寸，直瞳子。三壯，三分。</p>
<p>臨泣：目上直入髮際五分陷中，令患人直瞳取穴。三分。</p>
<p>目窗：臨泣後寸半。五壯，三分。</p>
<p>正營：目窗後寸半。五壯，三分。</p>
<p>承靈：正營後一寸五分。三壯，五分。</p>
<p>腦空：承靈後一寸五分，俠玉枕骨下陷中。三壯、五分。</p>
<p>風池：耳後顳顬後，腦空下，髮際陷中，按之引耳中。七壯，三分。</p>
<p>肩井：肩上陷中，缺盆上，大骨前一寸半，以三指按取，當中指下陷中。五壯，五分。</p>
<p>淵液：腋下三寸，宛宛中，舉臂得。三分。</p>
<p>輒筋：腋下三寸，復前一寸，三肋端，橫直蔽骨旁七寸五分，平直兩乳，側臥屈上足取。三壯，六分。</p>
<p>日月：期門下五分。五壯，七分。</p>
<p>京門：監骨下腰中，季肋本俠脊，腎之募。三壯，三分。</p>
<p>帶脈：季肋下一寸八分陷中，臍上二分，兩旁各七寸半。五壯，六分。</p>
<p>五樞：帶脈下三寸，水道旁五寸五分。五壯，一寸。</p>
<p>維道：章門下五寸三分。三壯，八分。</p>
<p>居髎：章門下八寸三分，監骨上陷中。三壯，八分。</p>
<p>環跳：髀樞中，側臥，伸下足，屈上足，右手摸穴，左搖撼取。五十壯，一寸。</p>
<p>風市：膝上外廉兩筋中，以手著腿，中指盡處是。五壯，五分。</p>
<p>中瀆：髀外膝上五寸，分肉間陷中。五壯，五分。</p>
<p>陽關：陽陵泉上三寸，犢鼻外陷中。五分。</p>
<p>陽陵泉：膝下一寸，胻外廉陷中，蹲坐取，膽土穴也。七壯，六分。</p>
<p>陽交：足外踝上七寸，斜屬三陽分肉之間。三壯，六分。</p>
<p>外丘：外踝上七寸。三壯，三分。</p>
<p>光明：外踝上五寸。三壯，三分。</p>
<p>陽輔：足外踝上四寸，輔骨前，絕骨端上，去丘墟七寸，膽火穴也。三壯，五分，瀉之。</p>
<p>懸鐘：足外踝上三寸動脈中，摸尖骨是。五壯，六分。</p>
<p>邱墟：足外踝下從前陷中骨縫中，去臨泣三寸，膽原穴也。三壯，五分。</p>
<p>臨泣：足小趾、次趾本節後陷中，去俠谿一寸五分，膽木穴也。三壯，二分。</p>
<p>地五會：足小趾、次趾本節後陷中，去俠谿一寸。一分。</p>
<p>俠谿：足小趾、次趾岐骨間，本節前陷中，膽水穴也。三壯，三分，補之。</p>
<p>竅陰：足小趾、次趾外側，去爪甲角如韭葉，膽金穴也。三壯，一分。</p>

<h3>奇經督任圖、奇經各穴</h3>
<p><u>督脈經穴</u></p>
<figure>
<img data-orig-src="urn:270:06167.jpg" alt="督脈經穴圖">
</figure>
<p>長強：脊骶骨端，計三分，伏地取。五壯，二分。</p>
<p>腰腧：二十一椎下宛宛中，以挺身伏地舒身，兩手重支額，縱四體乃取。七壯，八分。</p>
<p>陽關：十六椎下坐取。三壯，五分。</p>
<p>命門：十四椎下伏取。三壯，五分。</p>
<p>懸樞：十三椎下伏取。三壯，三分。</p>
<p>脊中：十一椎下俯取。五分。</p>
<p>筋縮：九椎下俯取。三壯，五分。</p>
<p>至陽：七椎下俯取。三壯，五分。</p>
<p>靈臺：六椎下俯取。火到便愈。</p>
<p>神道：五椎下俯取。七七壯。</p>
<p>身柱：三椎下俯取。七七壯，五分。</p>
<p>陶道：一椎下俯取。五壯，五分。</p>
<p>大椎：一椎上陷者宛宛中。以年為壯，五分。</p>
<p>啞門：項後入髮際五分，項中央宛宛中，仰頭取。禁灸，四分。</p>
<p>風府：項後入髮際一寸，大筋內宛宛中，疾言其肉立起。禁灸，三分。</p>
<p>腦戶：枕骨上，強間後一寸半，禁灸，三分。</p>
<p>強間：後頂後一寸半，禁灸，三分。</p>
<p>後頂：百會後一寸半，枕骨上。五壯，二分。</p>
<p>百會：前頂後一寸五分，頂中央旋毛中，直兩耳尖。七壯，二分。</p>
<p>前頂：囟會後一寸半，骨間陷中。三壯，一分。</p>
<p>囟會：上星後一寸陷中。二七壯，二分。</p>
<p>上星：神庭後入髮際一寸陷中。五壯，三分。</p>
<p>神庭：直鼻上入髮際五分。二七壯。</p>
<p>素髎：鼻柱上端準頭，此穴諸方闕治。禁灸，一分。</p>
<p>水溝：鼻柱下，溝中央，近鼻孔陷中。三壯，二分。</p>
<p>兌端：唇上端。三壯，二分。</p>
<p>齦交：唇內齒上齦縫中。三壯，三分。</p>
<p><u>任脈經穴</u></p>
<figure>
<img data-orig-src="urn:270:06168.jpg" alt="任脈經穴圖">
</figure>
<p>會陰：兩陰間，任、督、沖三脈所起。三壯。</p>
<p>曲骨：橫骨上，中極下一寸，毛際陷中。七壯至七七壯，二寸。</p>
<p>子宮：中極兩旁，各開三寸，經至灸起，連三日止，可以受胎，驗過。</p>
<p>中極：關元下一寸，臍下四寸。百壯，八分。</p>
<p>關元：臍下三寸。七壯，一寸二分。</p>
<p>石門：臍下二寸。七壯，八分。</p>
<p>氣海：臍下一寸半，宛宛中。七壯，八分。</p>
<p>陰交：臍下一寸，當膀胱上際。百壯，八分。</p>
<p>神闕：當臍中，三壯。</p>
<p>水分：下脘下一寸，臍上一寸。七七壯，五分。</p>
<p>下脘：建里下一寸，臍上二寸。二七壯，八分。</p>
<p>建里：中脘下一寸，臍上三寸。五壯，五分。</p>
<p>中脘：上脘下一寸，臍上四寸。二七壯，八分。</p>
<p>上脘：巨闕下一寸，臍上五寸。二七壯，八分。</p>
<p>巨闕：鳩尾下一寸，心之募。七壯，六分。</p>
<p>鳩尾：在兩岐骨下一寸。三壯，六分。</p>
<p>中庭：膻中下一寸六分，陷中。五壯，三分。</p>
<p>膻中：玉堂下一寸六分，橫量兩乳間，陷中，仰而取。七壯至二七壯。</p>
<p>玉堂：紫宮下一寸六分，陷中，仰而取。五壯，三分。</p>
<p>紫宮：華蓋下一寸六分，陷中，仰而取。五壯，三分。</p>
<p>華蓋：璇璣下一寸六分，陷中，仰頭取。五壯，三分。</p>
<p>璇璣：天突下一寸六分，陷中，仰頭取。五壯，三分。</p>
<p>天突：在頸結喉下一寸，宛宛中。五壯，一分。</p>
<p>廉泉：頸下結喉上中央，仰而取。三壯，三分。</p>
<p>承漿：唇稜下陷中，開口取。三壯，二分。</p>
<p><u>衝脈穴</u></p>
<p>幽門：巨闕旁。　通谷：上脘旁。　陰都：通谷下。　石關：陰都下。　商曲：石關下。　肓俞：商曲下。　中注：肓俞下。　四滿：中注下。　氣穴：四滿下。　大赫：氣穴下。　橫骨：大赫下。</p>
<p><u>帶脈穴</u></p>
<p>帶脈：季脅下一寸八分。　五樞：帶脈下三寸。　維道：章門下五寸三分。</p>
<p><u>陽蹺穴</u></p>
<p>申脈：外踝下。　僕參：跟骨下。　附陽：外跟下。　居髎：章門下。　肩髃：肩端。　巨骨：肩端。　臑俞：肩髃後甲骨上廉。　地倉：口吻旁。　巨髎：鼻兩旁。　承泣：目下七分。</p>
<p><u>陰蹺穴</u></p>
<p>照海：足內踝下。　交信：內踝上。</p>
<p><u>陽維穴</u></p>
<p>金門：足外踝下。　陽交：外踝上。　臑俞：肩後胛上。　臑會：肩前廉。　天髎：缺盆上。　肩井：肩頭上。　陽白：眉上。　本神：曲差旁。　臨泣：目上。　目窗：臨泣後。　正營：目窗後。　承靈：正營後。　腦空：承靈後。　風池：腦空下。　日月：期門下。　風府。　啞門。</p>
<p><u>陰維穴</u></p>
<p>築賓：內踝上。　腹哀：日月下。　大橫：腹哀下。　府舍：腹結下。　期門：乳下。天突：結喉下。　廉泉：結喉上。</p>

<h3>經外奇穴</h3>
<p>內迎香二穴：在鼻孔中，治目熱暴痛。用蘆管子搐出血，最效。</p>
<p>鼻準二穴：在鼻柱尖上，專治鼻上生酒醉風。宜用三稜針出血。</p>
<p>耳尖二穴：在耳尖上，卷耳取尖上是穴。治眼生翳膜，用小艾炷五壯。</p>
<p>聚泉一穴：在舌上，當舌中，吐出舌中直有縫，陷中是穴。哮喘咳嗽，及久嗽不愈。若灸則不過七壯。灸法用生薑切片如錢厚，搭於舌上穴中，然後灸之。如熱嗽，用雄黃末少許，和於艾炷中灸之。如冷嗽，用款冬花為末，和於艾炷中灸之。灸畢以清茶連生薑細嚼嚥下。又治舌苔，舌強亦可治，用小針出血。</p>
<p>左金津右玉液二穴：在舌下兩旁，紫脈上是穴，捲舌取之。治重舌腫痛，喉閉。用白湯煮三稜針，出血。</p>
<p>海泉一穴：在舌下中央脈上是穴。治消渴，用三稜針出血。</p>
<p>魚腰二穴：在眉中間是穴。治眼生垂簾翳膜。針入一分，沿皮向兩旁是也。</p>
<p>太陽二穴：在眉後陷中，太陽紫脈上是穴，治眼紅腫及頭。用三稜針出血，其出血之法，用帛一條，緊纏其頸項，紫脈即見，刺出血立愈。又法，以手緊紐其領，令紫脈見，卻於紫脈上刺出血，極效。</p>
<p>大骨空二穴：在手大指中節上，屈指當骨節陷中是穴。治目久痛及生翳膜目障。可灸七壯。</p>
<p>中魁二穴：在中指第二節骨尖，屈指得之。治五噎反胃吐食，可灸七壯。</p>
<p>八邪八穴：在手五指岐骨間，左右手各四穴。</p>
<p>大都二穴：在次指虎口，赤白肉際，握拳取之。可灸七壯，針一分，可治頭風牙痛。</p>
<p>上都二穴：在手食指、中指本節岐骨間，握拳取之。可治手臂紅腫，針一分，灸五壯。</p>
<p>中都二穴：在手無名指本節岐骨，名液門。主治同上。</p>
<p>下都二穴：在手小指本節後岐骨間。主治亦同上。</p>
<p>八風八穴：在足趾岐骨間，兩足共八穴，故名八風。治腳背紅腫，針一分，灸五壯。</p>
<p>十宣十穴：在手指頭上，去爪甲角一分，每指各一穴，治乳蛾。以三稜針出血，或用絲線扎次節內側，以艾灸五壯。</p>
<p>五虎四穴：在手食指及無名指第二節骨尖，握拳得之。治五指拘攣，灸五壯。</p>
<p>肘尖二穴：在手肘骨尖上，屈肘得之，治瘰癧，可灸七七壯。</p>
<p>肩柱骨二穴：在肩端起骨尖上。治瘰癧，灸七壯，治手不舉。</p>
<p>二白四穴：即郄門，在掌後橫紋中直上四寸，一手二穴，一在筋內間使後一寸；一在筋外，二穴相併，治痔脫肛。</p>
<p>獨陰二穴：在足第二指下橫紋中是穴。治小腸疝氣，又下死胎，胞衣不下。灸五壯。又女人乾噦嘔吐，紅經不調。</p>
<p>內踝尖二穴：在足內踝骨尖。灸七壯，治下片牙痛，腳轉筋。</p>
<p>外踝尖：治腳氣寒，外廉轉筋，以三稜針出血。</p>
<p>鬼眼四穴：在手大指去爪甲如韭葉。用線將兩大指並縛，其間灸之，五癇正發時用。</p>
<p>中泉二穴：在手背腕中陽谿、陽池之間，陷中是穴。灸七壯，治心疼，腹中氣痛不可忍。</p>
<p>小骨空：在手小指第二節尖上。灸七壯，治手節疼、目疼。</p>
<p>印堂：在兩眉中陷處。針一分，灸五壯，治小兒風癇。</p>
<p>子宮二穴：在中極兩旁，各開三寸。針二寸，灸二七壯，治婦人久無子嗣。</p>
<p>蘭門二穴：在曲泉兩旁，各開三寸脈中。治膀胱七疝奔豚。</p>
<p>百蟲窠（即血海）：在膝內廉上三寸。灸二七壯治下，部生瘡。</p>
