<header data-type="book">
<h1>外經微言</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳士鐸</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1698">公元1698年</data></dd></div>
<div><dt>底本</dt><dd>清代抄本</dd></div>
</dl>
</header>

<h1>一卷</h1>

<h2>陰陽顛倒篇</h2>
<p>黃帝聞廣成子窈窈冥冥之旨，嘆廣成子之謂天矣。退而夜思，尚有未獲，遣鬼臾區問於岐伯天師曰：帝問至道於廣成子，廣成子曰：至道之精，窈窈冥冥，至道之極，昏昏默默。無視無聽，抱神以靜，形將自正，必靜必清，無勞汝形，無搖汝精，無思慮營營，乃可以長生。目無所見，耳無所聞，心無所知，汝神將守汝形，形乃長生。慎汝內，閉汝外，多知為敗。我為汝遂於大明之上矣，至彼至陽之原也；為汝入於窈冥之門矣，至彼至陰之原也。天地有官，陰陽有藏，慎守汝身，物將自壯，我守其一，以處其和，故身可以不老也。天師必知厥義，幸明晰之。岐伯稽首奏曰：大哉言乎！非吾聖帝，安克聞至道哉。帝明知故問，豈欲傳旨於萬祀乎。何心之仁也。臣愚，何足知之。然仁聖明問，敢備述以聞。窈冥者，陰陽之謂也。昏默者，內外之詞也。視聽者，耳目之語也。至道無形而有形，有形而實無形，無形藏於有形之中，有形化於無形之內，始能形與神全，精與神合乎。鬼臾區曰：諾。雖然，師言微矣，未及其妙也。岐伯曰：乾坤之道，不外男女，男女之道，不外陰陽，陰陽之道，不外順逆，順則生，逆則死也。陰陽之原，即顛倒之術也。世人皆順生，不知順之有死；皆逆死，不知逆之有生，故未老先衰矣。廣成子之教，示帝行顛倒之術也。鬼臾區贊曰：何言之神乎！雖然，請示其原。岐伯曰：顛倒之術，即探陰陽之原子。窈冥之中有神也，昏默之中有神也，視聽之中有神也。探其原而守神，精不搖矣。探其原而保精，神不馳矣。精固神全，形安能敝乎。鬼臾區復奏帝前，帝曰：俞哉，載之《外經》，傳示臣工，使共聞至道，同遊於無極之野也。</p>
<p>陳士鐸曰：此篇帝問而天師答之，乃首篇之論也。問不止黃帝而答止天師者，帝引天師之論也。帝非不知陰陽顛倒之術，明知故亦欲盡人皆知廣成子之教也。</p>

<h2>順逆探原篇</h2>
<p>伯高太師問於岐伯曰：天師言顛倒之術，即探陰陽之原也。其旨奈何？岐伯不答。再問曰：唯唯。三問岐伯，嘆曰：吾不敢隱矣。夫陰陽之原者，即生克之道也；顛倒之術者，即順逆之理也。知顛倒之術，即可知陰陽之原矣。伯高曰：陰陽不同也。天之陰陽，地之陰陽，人身之陰陽，男女之陰陽，何以探之哉？岐伯曰：知其原亦何異哉。伯高曰：請顯言其原。岐伯曰：五行順生不生，逆死不死。生而不生者，金生水而剋水，水生木而剋木，水生火而剋火，火生土而剋土，土生金而剋金，此害生於恩也。死而不死者，金剋木而生木，木剋土而生土，土剋水而生水，水剋火而生火，火剋金而生金，此仁生於義也。夫五行之順，相生而相剋；五行之逆，不克而不生。逆之至者，順之至也。伯高曰：美哉言乎！然何以逆而順之也？岐伯曰：五行之順，得土而化，五行之逆，得土而神。土以合之，土以成之也。伯高曰：余知之矣。陰中有陽，殺之內以求生乎。陽中有陰，生之內以出死乎。余與帝同遊於無極之野也。岐伯曰：逆而順之，必先順而逆之。絕欲而毋為邪所侵也，守神而毋為境所移也，練氣而毋為物所誘也，保精而毋為妖所耗也。服藥餌以生其津，慎吐納以添其液，慎勞逸以安其髓，節飲食以益其氣，其庶幾乎？伯高曰：天師教我以原者全矣。岐伯曰：未也。心死則身生，死心之道，即逆之之功也。心過死則身亦不生，生心之道，又順之之功也。順而不順，始成逆而不逆乎。伯高曰：誌之矣！敢忘秘誨哉。</p>
<p>陳士鐸曰：伯高之問，亦有為之問也。順中求逆，逆處求順，亦死克之門也。今奈何求生於順乎。於順處求生，不若於逆處求生之為得也。</p>

<h2>迴天生育篇</h2>
<p>雷公問曰：人生子嗣，天命也，豈盡非人事乎？岐伯曰：天命居半，人事居半也。雷公曰：天可回乎？岐伯曰：天不可回，人事則可盡也。雷公曰：請言人事。岐伯曰：男子不能生子者，病有九，女子不能生子者，病有十也。雷公曰：請晰言之。岐伯曰：男子九病者，精寒也，精薄也，氣餒也，痰盛也，精澀也，相火過旺也，精不能射也，氣鬱也，天厭也。女子十病者，胞胎寒也，脾胃冷也，帶脈急也，肝氣鬱也，痰氣盛也，相火旺也，腎水衰也，任督病也，膀胱氣化不行也，氣血虛而不能攝也。雷公曰：然則治之奈何？岐伯曰：精寒者，溫其火乎；精薄者，益其髓乎；氣餒者，壯其氣乎；痰盛者，消其涎乎；精澀者，順其水乎；火旺者，補其精乎；精不能射者，助其氣乎；氣鬱者，舒其氣乎；天厭者，增其勢乎；則男子無子而可以有子矣，不可徒益真相火也。胞胎冷者，溫其胞胎乎；脾胃冷者，暖其脾胃乎；帶脈急者，緩其帶脈乎；肝氣鬱者，開其肝氣乎；痰氣盛者，消其痰氣乎；相火旺者，平其相火乎；腎水衰者，滋其腎水乎；任督病者，理其任督乎；膀胱氣化不行者，助其腎氣以益膀胱乎；氣血不能攝胎者，益其氣血以攝胎乎，則女子無子而可以有子矣，不可徒治其胞胎也。雷公曰：天師之言，真迴天之法也。然用天師法，男女仍不生子，奈何？岐伯曰：必夫婦德行交虧也。修德以宜男，豈虛語哉。</p>
<p>陳士鐸曰：男無子有九，女無子有十，似乎女多於男也，誰知男女皆一乎。知不一而一者，大約健其脾胃為主，脾胃健而腎亦健矣，何必分男女哉。</p>

<h2>天人壽夭篇</h2>
<p>伯高太師問岐伯曰：余聞形有緩急，氣有盛衰，骨有大小，肉有堅脆，皮有厚薄，可分壽夭，然乎？岐伯曰：人有形則有氣，有氣則有骨，有骨則有肉，有肉則有皮。形必與氣相合也，皮必與肉相稱也，氣血經絡必與形相配也。形充而皮膚緩者壽，形充而皮膚急者夭。形充而脈堅大者，氣血之順也，順則壽。形充而脈小弱者，氣血之衰也，衰則危。形充而顴不起者，肉勝於骨也，骨大則壽，骨小則夭。形充而大，肉䐃堅有分理者，皮勝於肉也，肉疏則夭，肉堅則壽。形充而大，肉無分理者，皮僅包乎肉也，肉厚壽，肉脆夭。此天生人不可強也。故見則定人壽夭，即可測人生死矣。少師問曰：誠若師言，人之壽夭，天定之矣，無豫於人乎？岐伯曰：壽夭定於天，挽回天命者，人也。壽夭聽於天，戕賊其形骸，瀉泄其精髓，耗散其氣血，不必至天數而先夭者，天不任咎也。少師曰：天可回乎？岐伯曰：天不可回，而天可節也。節天之有餘，補人之不足，不亦善全其天命乎。伯高太師聞之曰：岐天師真善言天也。世人賊天之不足，烏能留人之有餘哉。少師曰：伯高非知在人之夭者乎。在天之夭難回也，在人之夭易延也，吾亦修吾之天，以全天命乎。</p>
<p>陳遠公曰：天之夭難延，人之夭易延，亦訓世延人之夭也。伯高之論因天師之教而推廣之，不可輕天師而重伯高也。</p>

<h2>命根養生篇</h2>
<p>伯高太師復問岐伯曰：養生之道，可得聞乎？岐伯曰：愚何足以知之。伯高再問。岐伯曰：人生天地之中，不能與天地並久者，不體天地之道也。天錫人以長生之命，地錫人以長生之根。天地錫人以命根者，父母予之也。合父母之精以生人之身，則精即人之命根也。魂魄藏於精之中，魂屬陽，魄屬陰。魂趨生，魄趨死。夫魂魄皆神也，凡人皆有。神內存則生，外遊則死。魂最善遊，由於心之不寂也。廣成子謂抱神以靜者，正抱心而同寂也。伯高曰：夫精者，非腎中之水乎？水性主動，心之不寂者，不由於腎之不靜乎？岐伯曰：腎水之中有真火在焉，水欲下而火欲升，此精之所以不靜也，精一動而心搖搖矣。然而制精之不動，仍在心之寂也。伯高曰：吾心寂矣。腎之精欲動，奈何？岐伯曰：水火原相須也，無火則水不安，無水則火亦不安。制心而精動者，由於腎水之涸也，補先天之水以濟心，則精不動而心易寂矣。</p>
<p>陳遠公曰：精出於水，亦出於水中之火也。精動由於火動，火不動則精安能搖乎？可見精動由於心動也。心動之極，則水火俱動矣，故安心為利精之法也。</p>

<h2>救母篇</h2>
<p>容成問於岐伯曰：天癸之水，男女皆有之，何以婦人經水謂之天癸乎？岐伯曰：天癸水，壬癸之水也。壬水屬陽，癸水屬陰。二水者，先天之水也。男為陽，女為陰，故婦人經水以天癸名之，其實壬癸未嘗不合也。容成曰：男子之精不以天癸名者，又何故歟？岐伯曰：精者，合水火名之，水中有火，始成其精。呼精而壬癸之義已包於內，故不以天癸名之。容成曰：精與經同一水也，何必兩名之？岐伯曰：同中有異也。男之精守而不溢，女之經滿而必泄也。癸水者，海水也，上應月，下應潮。月有盈虧，潮有往來，女子之經水應之，故潮汐月有信，經水亦月有期也。以天癸名之，別其水為癸水，隨天運為轉移耳。容成曰：其色赤者何也？岐伯曰：男之精，陽中之陰也，其色白。女之經，陰中之陽也，其色赤。況流於任脈，通於血海，血與經合而成濁流矣。容成曰：男之精虧而不溢者又何也？岐伯曰：女子陰有餘，陽不足，故滿而必泄。男子陽有餘，陰不足，故守而不溢也。容成曰：味鹹者何也？岐伯曰：壬癸之水，海水也，海水味鹹，故天癸之味應之。容成曰：女子二七經行，稚女不行經何也？岐伯曰：女未二七，則任沖未盛，陰氣未動，女猶純陽也，故不行經耳。容成曰：女過二七，不行經而懷孕者又何也？岐伯曰：女之變者也，名為暗經，非無經也。無不足，無有餘，乃女中最貴者。終身不字，行調息之功，必長生也。容成問曰：婦女經水上應月，下應潮，宜月無愆期矣，何以有至有不至乎？岐伯曰：人事之乖違也。天癸之水，生於先天，亦長於後天也。婦女縱欲傷任督之脈，則經水不應月矣。懷抱憂鬱以傷肝膽，則經水閉而不流矣。容成曰：其故何也？岐伯曰：人非水火不生，火乃腎中之真火，水乃腎中之真水也。水火盛則經盛，水火衰則經衰。任督脈通於腎，傷任督未有不傷腎者。交接時縱欲泄精，精傷，任督之脈亦傷矣。任督脈傷，不能行其氣於腰臍，則帶脈亦傷，經水有至有不至矣。夫經水者，火中之水也。水衰不能制火，則火炎水降，經水必先期至矣。火衰不能生水，則水寒火冷，經水必後期至矣。經水之愆期，因水火之盛衰也。容成曰：肝膽傷而經閉者，謂何？岐伯曰：肝藏血者也。然又最喜疏泄，膽與肝為表裡也。膽木氣鬱，肝木之氣亦郁矣。木鬱不達，任沖血海皆抑塞不通，久則血枯矣。容成曰：木鬱何以使水之閉也？岐伯曰：心腎無晷不交者也。心腎之交接，責在胞胎，亦責在肝膽也。肝膽氣鬱，胞胎上交肝膽，不上交於心，則腎之氣亦不交於心矣。心腎之氣不交，各臟腑之氣抑塞不通，肝克脾，膽克胃，脾胃受克，失其生化之司，何能資於心腎乎？水火未濟，肝膽之氣愈郁矣。肝膽久郁，反現假旺之象，外若盛，內實虛。腎因子虛，轉去相濟涸水，而鬱火焚之，木安有餘波以下瀉乎？此木鬱所以水閉也。鬼臾區問曰：氣鬱則血閉，血即經乎？岐伯曰：經水非血也。鬼臾區曰：經水非血，何以血閉而經即斷乎？岐伯曰：經水者，天一之水也，出於腎經，故以經水名之。鬼臾區曰：水出於腎，色宜白矣，何赤乎？岐伯曰：經本者，至陰之精，有至陽之氣存焉，故色赤耳，非色赤即血也。鬼臾區曰：人之腎有補無瀉，安有餘血乎？岐伯曰：經水者，腎氣所化，非腎精所瀉也。女子腎氣有餘，故變化無窮耳。鬼臾區曰：氣能化血，各經之血不從之而瀉乎？岐伯曰：腎化為經，經化為血，各經氣血無不隨之而各化矣。是以腎氣通則血通，腎氣閉則血閉也。鬼臾區曰：然則氣閉宜責在腎矣。何以心肝脾之氣鬱而經亦閉也？岐伯曰：腎水之生，不由於三經，腎水之化，實關於三經也。鬼臾區曰：何也？岐伯曰：腎不通肝之氣，則腎氣不能開，腎不交心之氣，則腎氣不能上，腎不取脾之氣，則腎氣不能成，蓋交相合而交相化也。苟一經氣鬱，氣即不入於腎，而腎氣即閉矣，況三經同郁，腎無所資，何能化氣而成經乎。是以經閉者，乃腎氣之郁，非止肝血之枯也。倘徒補其血，則鬱不宣反生火矣，徒散其瘀，則氣益微反耗精矣，非惟無益，而轉害之也。鬼臾區曰：大哉言乎！請勒之金石，以救萬世之母乎。</p>
<p>陳遠公曰：一篇救母之文，真有益於母者也。講天癸無餘義，由於講水火無餘義也。水火之不通，半成於人氣之郁，解鬱之法，在於通肝膽也，肝膽通則血何閉哉，正不必又去益腎也。誰知肝膽不鬱而腎受益乎，郁之害亦大矣。</p>

<h2>紅鉛損益篇</h2>
<p>容成問曰：方士採紅鉛接命，可為訓乎？岐天師曰：慎欲者，採之服食延壽，縱欲者，採之服食喪軀。容成曰：人能慎欲，命自可延，何藉紅鉛乎？岐伯曰：紅鉛，延景丹也。容成曰：紅鉛者，天癸水也。雖包陰陽之水火，溢滿於外，則水火之氣盡消矣，何以接命乎？岐伯曰：公之言論天癸則可，非論首經之紅鉛也。經水甫出戶輒色變，獨首經之色不遽變者，全其陰陽之氣也。男子陽在外，陰在內；女子陰在外，陽在內。首經者，坎中陽也。以坎中之陽補離中之陰，益乎？不益乎？獨補男有益，補女有損。補男者，陽以濟陰也；補女者，陽以亢陽也。容成曰：善。</p>
<p>陳遠公曰：紅鉛何益於人，講無益而成有益者，辨其既濟之理也，誰謂方士非恃之以接命哉。</p>

<h2>初生微論篇</h2>
<p>容成問曰：人之初生，目不能睹，口不能餐，足不能履，舌不能語，三月而後見，八月而後食，期歲而後行，三年而後言，其故何也？岐伯曰：人之初生，兩腎水火未旺也。三月而火乃盛，故兩目有光也。八月而水乃充，故兩齦有力也。期歲則髓旺而臏生矣。三年則精長而囟合矣。男十六天癸通，女十四天癸化。容成曰：男以八為數，女以七為數，予知之矣。天師於二八、二七之前，《內經》何未言也？岐伯曰：《內經》首論天癸者，嘆天癸難生易喪也。男必至十六而天癸滿，年未十六皆未滿之日也。女必至十四而天癸盈，年未十四皆未滿之日也。既滿既盈，又隨年俱耗，示人宜守此天癸也。容成曰：男八八之後猶存，女七七之後仍在，似乎天癸之未盡也，天師何以七七八八之後不再言之歟？岐伯曰：予論常數耳。常之數可定，變之數不可定也，予所以論常不論變耳。</p>
<p>陳遠公曰：人生以天癸為主，有則生，無則死也。常變之說，惜此天癸也。二七、二八之論，亦可言而言之，非不可言而不言也。</p>

<h2>骨陰篇</h2>
<p>鳥師問於岐伯曰：嬰兒初生，無膝蓋骨何也？岐伯曰：嬰兒初生，不止無膝蓋骨也，囟骨、耳後完骨皆無之。鳥師曰：何故也？岐伯曰：陰氣不足也。陰氣者，真陰之氣也。嬰兒純陽無陰，食母乳而陰乃生，陰生而囟骨、耳後完骨、膝蓋骨生矣。生則兒壽，不生則夭。鳥師曰：其不生何也？岐伯曰：三骨屬陰，得陰則生，然亦必陽旺而長也。嬰兒陽氣不足，食母乳而三骨不生，其先天之陽氣虧也。陽氣先漓，先天已居於缺陷，食母之乳，補後天而無餘，此三骨之所以不生也。三骨不生，又焉能延齡乎。鳥師曰：三骨缺一，亦能生乎？岐伯曰：缺一則不全乎其人矣。鳥師曰：請悉言之。岐伯曰：囟門不合則腦髓空也，完骨不長則腎宮虛也，膝蓋不生則雙足軟也。腦髓空則風易入矣，腎宮虛則聽失聰矣，雙足軟則顛仆多矣。鳥師曰：吾見三骨不全，亦有延齡者，又何故歟？岐伯曰：三者之中，惟耳無完骨者亦有延齡，然而疾病不能無也。若囟門不合，膝蓋不生，吾未見有生者，蓋孤陽無陰也。</p>
<p>陳遠公曰：孤陽無陰，人則不生，則陰為陽之天也。無陰者，無陽也。陽生於陰之中，陰長於陽之外，有三骨者，得陰陽之全也。</p>

<h1>二卷</h1>

<h2>媾精受妊篇</h2>
<p>雷公問曰：男女媾精而受妊者，何也？岐伯曰：骨為作強之官，故受妊而生人也。雷公曰：作強而何以生人也。岐伯曰：生人者，即腎之技巧也。雷公曰：技巧屬腎之水乎？火乎？岐伯曰：水火無技巧也。雷公曰：離水火又何以出技巧乎？岐伯曰：技巧成於水火之氣也。雷公曰：同是水火之氣，何生人有男女之別乎？岐伯曰：水火氣弱則生女，水火氣強則生男。雷公曰：古云女先泄精則成男，男先泄精則成女，今曰水火氣弱則生女，水火氣強則生男，何也？岐伯曰：男女俱有水火之氣也，氣同至則技巧出焉，一有先後，不成胎矣。男泄精，女泄氣，女子泄精則氣脫矣，男子泄氣則精脫矣，烏能成胎？雷公曰：女子不泄精，男不泄氣，何以受妊乎？岐伯曰：女氣中有精，男精中有氣，女泄氣而交男子之精，男泄精而合女子之氣，此技巧之所以出也。雷公曰：所生男女，有強有弱，自分於父母之氣矣，但有清濁壽夭之異何也？岐伯曰：氣清則清，氣濁則濁，氣長則壽，氣促則夭，皆本於父母之氣也。雷公曰：生育本於腎中之氣，余已知之矣，但此氣也，豫於五臟七腑之氣乎？岐伯曰：五臟七腑之氣，一經不至，皆不成胎。雷公曰：媾精者，動腎中之氣也，與五臟七腑何豫乎？岐伯曰：腎藏精，亦藏氣。藏精者，藏五臟七腑之精也。藏氣者，藏五臟七腑之氣也。藏則俱藏，泄則俱泄。雷公曰：泄氣者，亦泄血乎？岐伯曰：精即血也。氣無形，血有形，無形化有形，有形不能化無形也。雷公曰：精非有形乎？岐伯曰：精雖有形，而精中之氣正無形也，無形隱於有形，故能靜能動，動則化耳：化則技巧出矣。雷公曰：微哉言乎！請傳之奕祀，以彰化育焉。</p>
<p>陳士鐸曰：男女不媾精，斷不成胎。胎成於水火之氣，此氣即男女之氣也。氣藏於精中，精雖有形而實無形也。形非氣乎，故成胎即成氣之謂。</p>

<h2>社生篇</h2>
<p>少師問曰：人生而白頭何也？岐伯曰：社日生人，皮毛皆白，非止鬢髮之白也。少師曰：何故乎？岐伯曰：社日者，金日也。皮毛須鬢皆白者，得金之氣也。少師曰：社日非金也，天師謂之金日，此余之未明也。岐伯曰：社本土也，氣屬金。社日生人，犯金之氣，金氣者，殺氣也。少師曰：人犯殺氣，宜夭矣，何又長年乎？岐伯曰：金中有土，土乃生氣也。人肺屬金，皮毛亦屬金，金之殺氣得土則生，逢金則鬥，社之金氣伐人皮毛，不入人臟腑，故得長年耳。少師曰：社日生人，皮毛鬢髮不盡白者，又何故歟？岐伯曰：生時不同也。少師曰：何時乎？岐伯曰：非巳午時，必辰戌丑未時也。少師曰：巳午火也，火能制金之氣宜矣。辰戌丑未土也，不助金之氣乎？岐伯曰：社本土也，喜生惡泄，得土則生，生則不克矣。少師曰：同是日也，何社日之凶如是乎？岐伯曰：歲月日時俱有神司之，社日之神與人最親，其性最喜潔也，生產則穢矣，兩氣相感，兒身受之，非其煞之暴也。少師曰：人生有記赤如朱，青如靛，黑如鍋，白如雪，終身不散，何也？豈亦社日之故乎？岐伯曰：父母交媾，偶犯遊神，為神所指，誌父母之過也。少師曰：色不同者何歟？岐伯曰：隨神之氣異也。少師曰：記無黃色者，何也？岐伯曰：黃乃正色，人犯正神，不相校也，故亦不相指，不相指，故罔所記耳。</p>
<p>陳遠公曰：社日生人，說來有源有委，非孟浪成文者可比。</p>

<h2>天厭火衰篇</h2>
<p>容成問曰：世有天生男子音聲如女子，外勢如嬰兒，此何故歟？岐伯曰：天厭之也。容成曰：天何以厭之乎？岐伯曰：天地有缺陷，安得人盡皆全乎。容成曰：天未嘗厭人，奈何以天厭名之？岐伯曰：天不厭而人必厭也。天人一道，人厭即天厭矣。容成曰：人何不幸成天厭也？岐伯曰：父母之咎也。人道交感，先火動而後水濟之。火盛者，生子必強，火衰者，生子必弱；水盛者，生子必肥，水衰者，生子必瘦。天厭之人，乃先天之火微也。容成曰：水火衰盛，分強弱肥瘦宜也，不宜外陽之細小。岐伯曰：腎中之火，先天之火，無形之火也；腎中之水，先天之水，無形之水也。火得水而生，水得火而長，言腎內之陰陽也。水長火則水為火之母，火生水則火為水之母也。人得水火之氣以生身，則水火即人之父母也。天下有形不能生無形也，無形實生有形。外陽之生，實內陽之長也，內陽旺而外陽必伸，內陽旺者，得火氣之全也。內陽衰矣，外陽亦何得壯大哉。容成曰：火即不全，何以生身乎？岐伯曰：孤陰不生，孤陽不長。天厭之人，但火不全耳，未嘗無陰陽也。偏於火者，陽有餘而陰不足；偏於水者，陰有餘而陽不足也。陽既不足，即不能生厥陰之宗筋，此外陽之所以屈而不伸也，毋論剛大矣。容成曰：善。</p>
<p>陳遠公曰：外陽之大小，視水火之偏全，不視陰陽之有無耳。說來可聽。</p>

<h2>經脈相行篇</h2>
<p>雷公問曰：帝問脈行之逆順若何，余無以奏也，願天師明教以聞。岐伯曰：十二經脈，有自上行下者，有自下行上者，各不同也。雷公曰：請悉言之。岐伯曰：手之三陰從臟走手，手之三陽從手走頭，足之三陽從頭走足，足之三陰從足走腹，此上下相行之數也。雷公曰：尚未明也。岐伯曰：手之三陰，太陰肺、少陰心、厥陰包絡也。手太陰從中府走大指之少商，手少陰從極泉走小指之少衝，手厥陰從天池走中指之中衝，皆從臟走手也。手之三陽，陽明大腸、太陽小腸、少陽三焦也。手陽明從次指商陽走頭之迎香，手太陽從小指少澤走頭之聽宮，手少陽從四指關衝走頭之絲竹空，皆從手走頭也。足之三陽，太陽膀胱、陽明胃、少陽膽也。足太陽從頭晴明走足小指之至陰，足陽明從頭頭維走足次指之厲兌，足少陽從頭前關走四指之竅陰，皆從頭走足也。足之三陰，太陰脾、少陰腎、厥陰肝也。足太陰從足大指內側隱白走腹之大包，足少陰從足心湧泉走腹之俞府，足厥陰從足大指外側大敦走腹之期門，皆從足走腹也。雷公曰：逆順若何？岐伯曰：手之陰經，走手為順，走臟為逆也；手之陽經，走頭為順，走手為逆也；足之陰經，走腹為順，走足為逆也；足之陽經，走足為順，走頭為逆也。雷公曰：足之三陰，皆走於腹，獨少陰之脈下行何也？豈少陰經易逆難順乎？岐伯曰：不然。夫衝脈者，五臟六腑之海也，五臟六腑皆稟焉。其上者，出於頏顙，滲諸陽，灌諸精，下注少陰之大絡，出於氣衝，循陰陽內廉入膕中，伏行胻骨內，下至內踝之後，屬而別，其下者，並由少陰經滲三陰。其在前者，伏行出跗屬，下循跗，入大指間，滲諸絡而溫肌肉，故別絡邪結則跗上脈不動，不動則厥，厥則足寒矣。此足少陰之脈少異於三陰而走腹則一也。雷公曰：其少異於三陰者為何？岐伯曰：少陰腎經，中藏水火，不可不曲折以行，其脈不若肝脾之可直行於腹也。雷公曰：其走腹則一者何？岐伯曰：腎之性喜逆行，故由下而上，蓋以逆為順也。雷公曰：逆行宜病矣。岐伯曰：逆而順故不病。若順走是違其性矣，反生病也。雷公曰：當盡奏之。岐伯曰：帝問何以明之。公奏曰以言導之，切而驗之，其髁必動，乃可以驗逆順之行也。雷公曰：謹奉教以聞。</p>
<p>陳遠公曰：十二經脈有走手走足走頭走腹之異，各講得鑿鑿，其講順逆不同處，何人敢措一辭。</p>

<h2>經脈終始篇</h2>
<p>雷公問於岐伯曰：十二經之脈既有終始，《靈》、《素》詳言之，而走頭、走腹、走足、走手之義，尚未明也，願畢其辭。岐伯曰：手三陽從手走頭，足三陽從頭走足，乃高之接下也。足三陰從足走腹，手三陰從腹走手，乃卑之趨上也。陰陽無間，故上下相迎，高卑相迓，與晝夜循環同流而不定耳。夫陰陽者，人身之夫婦也，氣血者，人身之陰陽也。夫倡則婦隨，氣行則血赴。氣主煦之，血主濡之。乾作天門，大腸司其事也；巽作地戶，膽持其權也；泰居艮，小腸之昌也；否居坤，胃之殃也。雷公曰：善。請言順逆之別？岐伯曰：足三陰自足走腹，順也；自腹走足，逆也。足三陽自頭走足，順也；自足走頭，逆也。手三陰自藏走手，順也；自手走藏，逆也。手三陽自手走頭，順也；自頭走手，逆也。夫足之三陰，從足走腹，惟足少陰腎脈繞而下行，與肝脾直行者，以衝脈與之並行也，是以逆為順也。</p>
<p>陳遠公曰：十二經有頭腹手足之殊，有順中之逆，有逆中之順，說得更為明白。</p>

<h2>經氣本標篇</h2>
<p>雷公問於岐伯曰：十二經氣有標本乎？岐伯曰：有之。雷公曰：請言標本之所在？岐伯曰：足太陽之本，在跟以上五寸中，標在兩絡命門；足少陽之本，在竅陰之間，標在窗籠之前；足少陰之本，在內踝下三寸中，標在背腧；足厥陰之本，在行間上五寸所，標在背腧；足陽明之本，在厲兌，標在人迎頰挾頏顙；足太陰之本，在中封前上四寸中，標在舌本；手太陽之本，在外踝之後，標在命門之上一寸；手少陽之本、在小指次指之間上二寸，標在耳後上角下外眥；手陽明之本，在肘骨中上至別陽，標在顏下合鉗上；手太陰之本，在寸口中，標在腋內動脈；手少陰之本，在銳骨之端，標在背腧；手心主之本，在掌後兩筋之間二寸中，標在腋下三寸，此標本之所在也。雷公曰：標本皆可刺乎？岐伯曰：氣之標本皆不可刺也。雷公曰：其不可刺何也？岐伯曰：氣各有沖，沖不可刺也。雷公曰：請言氣衝。岐伯曰：胸氣有沖，腹氣有沖，頭氣有沖，脛氣有沖，皆不可刺也。雷公曰：頭之沖何所乎？岐伯曰：頭之沖腦也。雷公日；胸之沖何所乎？岐伯曰：胸之沖膺與背腧也，腧亦不可刺也。雷公曰：腹之沖何所乎？岐伯曰：腹之沖，背腧與衝脈及左右之動脈也。雷公曰：脛之沖何所乎？岐伯曰：脛之沖即臍之氣街及承山踝上以下，此皆不可刺也。雷公曰：不可刺止此乎？岐伯曰：大氣之摶而不行者，積於胸中，藏於氣海，出於肺，循咽喉，呼吸而出入也。是氣海猶氣街也，應天地之大數，出三入一，皆不可刺也。</p>
<p>陳遠公曰：十二經氣各有標本，各不可刺。不可刺者，以衝脈之不可刺也。不知衝脈，即不知刺法也。</p>

<h2>臟腑闡微篇</h2>
<p>雷公問於岐伯曰：臟止五乎？腑止六乎？岐伯曰：臟六腑七也。雷公曰：臟六何以名五也？岐伯曰：心肝脾肺腎，五行之正也，故名五臟。胞胎非五行之正也，雖臟不以臟名之。雷公曰：胞胎何以非五臟之正也？岐伯曰：心，火也；肝，木也：脾，土也；肺，金也；腎，水也。一臟各屬一行，胞胎處水水之歧，非正也，故不可稱六臟也。雷公曰：腎中有火，亦水火之歧也，何腎稱臟乎？岐伯曰：腎中之火，先天火也，居兩腎中而腎專司水也。胞胎上繫心，下連腎，往來心腎接續於水火之際，可名為火，亦可名為水，非水火之正也。雷公曰：然則胞胎何以為臟乎？岐伯曰：胞胎處水火之兩歧，心腎之交，非胞胎之系不能通達上下，寧獨婦人有之，男子未嘗無也。吾因其兩歧，置於五臟之外，非胞胎之不為臟也。雷公曰：男女各有之，亦有異乎？岐伯曰：系同而口異也。男女無此係，則水火不交，受病同也。女系無口則不能受妊，是胞胎者，生生之機，屬陰而藏於陽，非臟而何。雷公曰：胞胎之口，又何以異？岐伯曰：胞胎之系，上出於心之膜膈，下連兩腎，此男女之同也。惟女下大而上細，上無口而下有口，故能納精以受妊。雷公曰：腑七而名六何也？岐伯曰：大小腸膀胱膽胃三焦包絡，此七腑也，遺包絡不稱腑者，尊帝耳。雷公曰：包絡可遺乎？岐伯曰：不可遺也。包絡為脾胃之母，土非火不生，五臟六腑之氣，咸仰於心君，心火無為，必藉包絡有為，往來宣布，胃氣能入，脾氣能出，各臟腑之氣始能變化也。雷公曰：包絡既為一腑，奈何尊帝遺之？尊心為君火，稱包絡為相火，可乎？請登之外經，咸以為則。</p>
<p>陳遠公曰：臟六而言五者，言臟之正也；腑七而言六者，言腑之偏也。舉五而略六，非不知胞胎也；舉六而略七，非不知包絡也。有雷公之問，而胞胎、包絡昭於古今矣。</p>

<h2>考訂經脈篇</h2>
<p>雷公問於岐伯曰：十二經脈，天師詳之，而所以往來相通之故，尚未盡也。幸宣明奧義，傳諸奕祀可乎？岐伯曰：可。肺屬手太陰，太陰者，月之象也。月屬金，肺亦屬金，肺之脈走於手，故曰手太陰也。起於中焦胃脘之上，胃屬土，土能生金，是胃乃肺之母也。下絡大腸者，以大腸亦屬金，為胃之庶子，而肺為大腸之兄，兄能包弟，足以網羅之也，絡即網羅包舉之義。循於胃口者，以胃為肺之母，自必遊熙於母家，省受胃土之氣也。肺脈又上於鬲，胃之氣多，必分氣以給其子，肺得胃母之氣，上歸肺宮，必由鬲而升，肺受胃之氣，肺自成家，於是由中焦而脈乃行，橫出腋下，畏心而不敢犯也。然而肺之系實通於心，以心為肺之君，而肺乃臣也，臣必朝於君，此述職之路也。下循臑內，行少陰心主之前者，又謁相之門也。心主即心包絡，為心君之相，包絡代君以行事，心克肺金，必借心主之氣以相刑，呼吸相通，全在此係之相聯也。肺稟天王之尊，必奉宰輔之令，所以行於少陰心主之前，而不敢緩也。自此而下於肘中，乃走於臂，由臂而走於寸口魚際，皆肺脈相通之道。循魚際出大指之端，為肺脈之盡。經脈盡，復行，從腕後直出次指內廉，乃旁出之脈也。</p>
<p>雷公曰：脾經若何？岐伯曰：脾乃土臟，其性濕，以足太陰名之。太陰之月，夜照於土，月乃陰，象脾屬土，得月之陰氣，故以太陰名之。其脈起於足之大指端，故又曰足太陰也。脾脈即起於足下，下必升上，由足大指內側肉際，過橫骨後，上內踝前廉，上踹內，循脛骨後，交出厥陰之前，乃入肝經之路也。夫肝木克脾，宜為脾之所畏，何故脈反通於肝。不知肝雖剋土，而木亦能成土，土無木氣之通，則土少發生之氣，所以畏肝而又未嘗不喜肝也。交出足厥陰之前，圖合於肝木耳。上膝股內前廉，入腹者，歸於脾經之本臟也。蓋腹，脾之正宮。脾屬土，居於中州，中州為天下之腹，脾乃人一身之腹也。脾與胃為表裡，脾內而胃外，脾為胃所包，故絡於胃。脾得胃氣，則脾之氣始能上升，故脈亦隨之上鬲，趨喉嚨而至舌本，以舌本為心之苗，而脾為心之子，子母之氣自相通而不隔也。然而舌為心之外竅，非心之內廷也。脾之脈雖至於舌，而終未至於心，故其支又行，借胃之氣，從胃中中脘之外上鬲，而脈通於膻中之分，上交於手少陰心經，子親母之象也。</p>
<p>雷公曰：心經若何？岐伯曰：心為火臟，以手少陰名之者，蓋心火乃後天也。後天者，有形之火也。星應熒惑，雖屬火而實屬陰，且脈走於手，故以手少陰名之。他臟腑之脈皆起於手足，心脈獨起於心，不與眾脈同者，以心為君主，總攬權綱，不寄其任於四末也。心之系五臟七腑，無不相通，尤通者，小腸也。小腸為心之表，而心實絡於小腸，下通任脈，故任脈即借小腸之氣以上通於心，為朝君之象也。心之系又上與肺相通，挾咽喉而入於目，以發其文明之彩也。復從心系上肺，下出腋下，循臑內後廉，行手厥陰經心主之後，下肘，循臂至小指之內，出其端，此心脈系之直行也。又由肺曲折而後，並脊直下，與腎相貫串，當命門之中，此心腎既濟之路也。夫心為火臟，懼畏水克，何故系通於腎，使腎有路以相犯乎？不知心火與命門之火，原不可一日不相通也。心得命門之火則心火有根，心非腎水之滋則心火不旺，蓋心火必得腎中水火以相養，是以克為生也。即有腎火腎水之相生，而後心之系各通臟腑，無扞格之憂矣。由是而左通於肝，肝本屬木，為生心之母也。心火雖生於命門先天之火，而非後天肝木培之，則先天之火氣亦不旺。故心之系通於肝者，亦欲得肝木相生之氣也。肝氣既通，而膽在肝之旁，通肝即通於膽，又勢之甚便者。況膽又為心之父，同本之親，尤無阻隔也。由是而通於脾，脾乃心之子也。雖脾土不藉心火之生，然胃為心之愛子，胃土非心火不生。心既生胃，生胃必生脾，此脾胃之系所以相接而無間也。由是而通於肺，火性炎上，而肺葉當之，得毋有傷。然而頑金非火不柔，克中亦有生之象。倘肺金無火，則金寒水冷，胃與膀胱之化源絕矣，何以溫腎而傳化於大腸乎。由是而通於心主，心主即膻中包絡也，為心君之相臣，奉心君以司化。其出入之經，較五臟六腑更近，真有心喜亦喜，心憂亦憂之象，呼吸相通，代君司化以使令夫三焦，俾上中下之氣，無不畢達，實心之系通之也。</p>
<p>雷公曰：腎經若何？岐伯曰：腎屬水，少陰正水之象。海水者，少陰水也，隨月為盈虛而腎應之。名之為足少陰者，脈起於足少陰之下也，由足心而上循內踝之後，別入跟中，上膊出膕，上股，貫脊，乃河車之路，即任督之路也。然俱屬於腎，有腎水而河車之路通，無腎水而河車之路塞，有腎水而督脈之路行，無腎水而督脈之路斷。是二經之相通相行，全責於腎。故河車之路、督脈之路，即腎經之路也。由是而行於肝，母入於子舍之義也。由是而行於脾，水行於地中之義也。過肝脾二經而絡於膀胱者，以腎為膀胱之裡，而膀胱為腎之表，膀胱得腎氣而始化，正同此路之相通，氣得以往來之耳。其絡於膀胱也，貫脊會督而還出於臍之前，通任脈，始得達於膀胱，雖氣化可至，實有經可通而通之也。其直行者，又由肝以入肺，子歸母之家也。由肺而上循喉嚨，挾舌本而終，是欲朝君先通於喉舌也。夫腎與心雖若相剋而實相生，故其系別出而繞於心，又未敢遽朝於心君，注胸之膻中包絡，而後腎經之精上奉，化為心之液矣。此君王下取於民之義，亦草野上貢於國之誼也。各臟止有一而腎有二者，兩儀之象也。兩儀者，日月也。月主陰，日主陽。似腎乃水臟，宜應月不宜應日。然而月之中未嘗無陽之氣，日之中未嘗無陰之氣，腎配日月，正以其中之有陰陽也。陰藏於陽之中，陽隱於陰之內，疊相為用，不啻日月之照臨也。蓋五臟七腑各有水火，獨腎臟之水火處於無形，乃先天之水火，非若各臟腑之水火，俱屬後天也。夫同是水火，腎獨屬之先天，實有主以存乎兩腎之間也。主者，命門也。命門為小心，若太極之象，能生先天之水火，因以生後天之水火也。於是裁成夫五臟七腑，各安於諸宮，享其奠定之福，化生於無窮耳。</p>
<p>雷公曰：肝經若何？岐伯曰：肝屬足厥陰，厥陰者，逆陰也。上應雷火，脈起足大指叢毛之際，故以足厥陰名之。雷火皆從地起，騰於天之上，其性急不可制抑。肝之性亦急，乃陰經中之最逆者，少拂其意，輒厥逆而不可止。循跗上，上踝，交出太陰脾土之後。上膕內廉，循腹入陰毛中，過陰器，以抵於小腹，雖趨肝之路，亦趨脾之路也。即趨於脾，必趨於胃矣。肝之系既通於脾胃，凡有所逆，必先犯於脾胃矣，亦其途路之熟也。雖然肝之系通於脾胃，而肝之氣必歸於本宮，故其系又走於肝葉之中。肝葉之旁有膽附焉，膽為肝之兄，肝為膽之弟，膽不絡肝，而肝反絡膽者，弟強於兄之義也。上貫膈者，趨心之路也。肝性急，宜直走於心之宮矣，乃不直走於心，反走膜鬲，布於脅肋之間者，母慈之義也。慈母憐子，必為子多方曲折以厚其藏，脅肋正心宮之倉庫也。然而其性正急，不能久安於脅肋之間，循喉嚨之後，上入頏顙，連於目系，上出額間而會督脈於巔項，乃木火升上之路也。其支者，從目系下頰，環唇，欲隨口舌之竅以泄肝木之鬱火也。其支者，又從肝別貫膈，上注肺中，畏肺金之剋木，通此經為偵探之途也。</p>
<p>雷公曰：五臟已知其旨矣，請詳言七腑。岐伯曰：胃經亦稱陽明者，以其脈接大腸手陽明之脈，由鼻額而下走於足也。然而胃經屬陽明者，又非同大腸之謂。胃乃多氣多血之腑，實有日月並明之象，乃純陽之腑，主受而又主化也。陽主上升，由額而遊行於齒口唇吻，循頤頰耳前而會於額顱，以顯其陽之無不到也。其支別者，從頤後下人迎，循喉嚨，入缺盆，行足少陰之外，下膈通腎與心胞之氣。蓋胃為腎之關，又為心包之用，得氣於二經，胃始能蒸腐水穀以化精微也。胃既得二經之氣，必歸於胃中，故仍屬胃也。胃之旁絡於脾，胃為脾之夫，脾為胃之婦，脾聽胃使，以行其運化者也。其直行者，從缺盆下乳內廉，挾臍而入氣街。氣街者，氣衝之穴也，乃生氣之源，探源而後氣充於乳房，始能散布各經絡也。其支者，起於胃口，循腹過足少陰腎經之外，本經之裡，下至氣街而合，仍是取氣於腎，以助其生氣之源也。由是而胃既得氣之本，乃可下行以達於足，從氣街而下髀關，抵伏兔，下膝臏，循脛下跗，入中指之內庭而終者，皆胃下達之路也。其支者，從膝之下廉三寸，別入中指之外間，復是旁行之路，正見其多氣多血，無往不周也。其支者，別跗上，入大指間，出足厥陰，交於足太陰，避肝木之克，近脾土之氣也。</p>
<p>雷公曰：請言三焦之經，岐伯曰：三焦屬之手少陽者，以三焦無形，得膽木少陽之氣以生其火，而脈起於手之小指次指之端，故以手少陽名之。循手腕出臂，貫肘，循臑之外行手太陽之裡，手陽明之外，火氣欲通於大小腸也，上肩，循臂臑交出足少陽之後，正倚附於膽木，以取其木中之火也。下缺盆，由足陽明之外而交會於膻中；之上焦，散布其氣而絡繞於心包絡；之中焦，又下膈入絡膀胱，以約下焦。若胃、若心包絡、若膀胱，皆三焦之氣往來於上中下之際，故不分屬於三經，而仍專屬於三焦也。然而，三焦之氣雖往來於上中下之際，使無根以為主，則氣亦時聚時散不可久矣。詎知三焦雖得膽木之氣以生，而非命門之火則不長，三焦有命門以為根，而後布氣於胃，則胃始有運用之機；布氣於心包絡，則心包絡始有運行之權；布氣於膀胱，則膀胱始有運化之柄也。其支者，從膻中而上出缺盆之外，上項，系耳後，直上出耳上角，至䪼，無非隨腎之火氣而上行也。其支者，又從耳後入耳中，出耳前，過客主人之穴，交頰，至目銳眥，亦火性上炎，隨心包之氣上行。然目銳眥實系膽經之穴，仍欲依附木氣以生火氣耳。</p>
<p>雷公曰：請言心主之經。岐伯曰：心主之經，即包絡之府也，又名膻中，屬手厥陰者，以其代君出治，為心君之相臣，臣乃陰象，故屬陰。然奉君令以出治，有不敢少安於頃刻，故其性又急，與肝木之性正相同，亦以厥陰名之，因其難順而易逆也。夫心之脈出於心之本宮，心包絡之脈，出於胸中包絡，在心之外，正在胸之中，是脈出於胸中者，正其脈屬於包絡之本宮也。各臟腑脈出於外，心與包絡脈出於中，是二經較各臟腑最尊也。夫腎系交於心包絡，實與腎相接。蓋心主之氣與腎宮命門之氣同氣相合，故相親而不相離也。由是下於膈，歷絡三焦，以三焦之腑氣與命門心主之氣彼此實未嘗異，所以籠絡而相合為一，有表裡之名，實無表裡也。其支者，循胸中出脅，抵腋，循臑內行於太陰肺脾、少陰心腎之中，取肺腎之氣以生心液也。入脈，下臂，入掌內，又循中指以出其端。其支者，又由掌中循無名指以出其端，與少陽三焦之脈相交會，正顯其同氣相親，表裡如一也。夫心主與三焦兩經也，必統言其相合者，蓋三焦無形，借心主之氣相通於上中下之間，故離心主無以見三焦之用，所以必合而言之也。</p>
<p>雷公曰：請言膽經。岐伯曰：膽經屬足少陽者，以膽之脈得春木初陽之氣，而又下趨於足，故以足少陽名之。然膽之脈雖趨於足，而實起目之銳眥，接手少陽三焦之經也。由目銳眥上抵頭角，下耳，循頸行手少陽之脈前，至肩上，交出手少陽之後，以入缺盆之外，無非助三焦之火氣也。其支者，從耳後入耳中，出走耳前，至目銳眥之後，雖旁出其支，實亦仍顧三焦之脈也。其支者，別自目外而下大迎，合手少陽三焦，抵於䪼下，下頸後，合缺盆以下胸中，貫膜膈心包絡，以絡於肝。蓋心包絡乃膽之子，而肝乃膽之弟，故相親而相近也。第膽雖肝之兄，而附於肝，實為肝之表而屬於膽，肝膽兄弟之分，即表裡之別也。膽分肝之氣，則膽之汁始旺，膽之氣始張，而後可以分氣於兩脅，出氣街，繞毛際而橫入髀厭之中也。其直者，從缺盆下腋，循胸過季脅，與前之入髀厭者相合，乃下循髀外，行太陽陽明之間，欲竊水土之氣以自養也。出膝外廉，下跗骨，以直抵絕骨之端，下出外踝，循跗上，入小指次指之間，乃其直行之路也。其支者，又別跗上，入大指歧骨內，出其端，還貫入爪甲，出三毛，以交於足厥陰之脈，親肝木之氣以自旺，蓋陽得陰而生也。</p>
<p>雷公曰：請言膀胱之經。岐伯曰：膀胱之經屬足太陽者，蓋太陽為巨陽，上應於日，膀胱得日之火氣，下走於足，猶太陽火光普照於地也。其脈起目內眥，交手太陽小腸之經，受其火氣也。上額交巔，至耳上角，皆火性之炎上也。其直行者，從巔入絡腦，還出別下項，循肩膊內，挾脊兩旁，下行抵於腰，入循膂，絡腎。益膀胱為腎之表，故系連於腎，通腎中命門之氣，取其氣以歸膀胱之中，始能氣化而出小便也，雖氣出於腎經，而其繫腰不可不屬之膀胱也。其支者，從腰中下挾脊以貫臀，入膕中而止，亦借腎氣下達之也。其支者，從膊內別行，下貫脾膂，下歷尻臀，化小便，通陰之器而下出也。過髀樞，循髀外，下合膕中，下貫於兩踹內，出外踝之後，循京骨，至小指外側，交於足少陰之腎經，亦取腎之氣，可由下而升，以上化其水也。</p>
<p>雷公曰：請言小腸之經。岐伯曰：小腸之經屬手太陽者，以脈起於手之小指，又得心火之氣而名之也。夫心火屬少陰，得心火之氣，宜稱陰矣。然而心火居於內者為陰，發於外者為陽，小腸為心之表也，故稱陽而不稱陰。且其性原屬陽，得太陽之日氣，故亦以太陽名之。其脈上腕，出踝，循臂，出肘，循臑行手陽明少陽之外，與太陽膽氣相通，欲得金氣自寒，欲得木氣自生也。交肩上，入缺盆，循肩，向腋下行，當膻中而絡於心，合君相二火之氣也。循咽下膈，以抵於胃。雖火能生胃，而小腸主出不主生，何以抵胃。蓋受胃之氣，運化精微而生糟粕，猶之生胃也。故接胃之氣下行任脈之外，以自歸於小腸之正宮，非小腸之屬而誰屬乎。其支者，從缺盆循頸頰，上至目銳眥，入於耳中，此亦火性炎上，欲趨竅而出也。其支者，別循頰，上䪼抵鼻，至目內眥，斜絡於顴，以交足太陽膀胱之經，蓋陽以趨陽之應也。</p>
<p>雷公曰：請言大腸之經。岐伯曰：大腸之經名為手陽明者，以大腸職司傳化，有顯明昭著之意，陽之象也。夫大腸屬金，宜為陰象，不屬陰而屬陽者，因其主出而不主藏也。起於手大指次指之端，故亦以手名之。循指而入於臂，入肘，上臑，上肩，下入缺盆而絡於肺，以肺之氣能包舉大腸，而大腸之系亦上絡於肺也。大腸得肺氣而易於傳化，故其氣不能久留於膈中，而系亦下膈直趨大腸，以安其傳化之職。夫大腸之能開能闔，腎主之，是大腸之氣化宜通於腎，何以大腸之系絕不與腎會乎？不知肺金之氣即腎中水火之氣也，腎之氣必來於肺中，而肺中之氣即降於大腸之內，則腎之氣安有不入於大腸之中者乎？不必更有系通腎，而後得其水火之氣始能傳化而開闔之也。其支者，從缺盆上頸貫頰，入下齒縫中，還出夾兩口吻，交於唇中之左右，上挾鼻孔，正顯其得肺腎之氣，隨肺腎之脈而上升之徵也。</p>
<p>陳遠公曰：十二經脈各說得詳盡，不必逐段論之。</p>

<h2>包絡配腑篇</h2>
<p>天老問於岐伯曰：天有六氣，化生地之五行，地有五行，化生人之五臟。有五臟之陰，即宜有五腑之陽矣，何以臟止五腑有七也？岐伯曰：心包絡，腑也，性屬陰，故與臟氣相同，所以分配六腑也。天老曰：心包絡即分配腑矣，是心包絡即臟也，何不名臟而必別之為腑耶？岐伯曰：心包絡非臟也。天老曰：非臟列於臟中，毋乃不可乎？岐伯曰：臟稱五，不稱六，是不以臟予包絡也。腑稱六，不稱七，是不以腑名包絡也。天老曰：心包絡非臟非腑，何以與三焦相合乎？岐伯曰：包絡與三焦為表裡，二經皆有名無形，五臟有形，與形相合，包絡無形，故與無形相合也。天老曰：三焦為孤臟，即各為臟，豈合於包絡乎？岐伯曰：三焦雖亦稱臟，然孤而寡合，仍是腑非臟也。舍包絡之氣，實無可依，天然配合，非勉強附會也。天老曰：善。</p>
<p>雷公曰：肺合大腸，心合小腸，肝合膽，脾合胃，腎合膀胱，此天合也。三焦與心包絡相合，恐非天合矣。岐伯曰：包絡非臟而與三焦合者，包絡里，三焦表也。雷公曰：三焦腑也，何分表裡乎？岐伯曰：三焦之氣本與腎親，親腎不合腎者，以腎有水氣也，故不合腎而合於包絡耳。雷公曰：包絡之火氣出於腎，三焦取火於腎，不勝取火於包絡乎？岐伯曰：膀胱與腎為表裡，則腎之火氣必親膀胱而疏三焦矣，包絡得腎之火氣，自成其腑，代心宣化，雖腑猶臟也。包絡無他腑之附，得三焦之依而更親，是以三焦樂為表，包絡亦自安於里。孤者不孤，自合者永合也。雷公曰：善。</p>
<p>應龍問曰：包絡。腑也，三焦亦自成腑，何以為包絡之使乎？岐伯曰：包絡即膻中也，為心膜鬲，近於心宮，遮護君主，其位最親，其權最重，故三焦奉令，不敢後也。應龍曰：包絡代心宣化，宜各臟腑皆奉合矣，何獨使三焦乎？岐伯曰：各腑皆有表裡，故不聽包絡之使，惟三焦無臟為表裡，故包絡可以使之。應龍曰：三焦何樂為包絡使乎？岐伯曰：包絡代心出治腑與臟，同三焦聽使於包絡，猶聽使於心，故包絡為里，三焦為表，豈勉強附會哉。應龍曰：善。</p>
<p>陳士鐸曰：包絡之合三焦，非無因之合也。包絡之使三焦，因其合而使之也。然合者仍合於心耳，非包絡之司為合也。</p>

<h1>三卷</h1>

<h2>膽腑命名篇</h2>
<p>胡孔甲問於岐伯曰：大腸者，白腸也。小腸者，赤腸也。膽非腸，何謂青腸乎？岐伯曰：膽貯青汁，有入無出，然非腸，何能通而貯之乎，故亦以腸名之。青者，木之色，膽屬木，其色青，故又名青腸也。胡孔甲曰：十一臟取決於膽，是腑亦有臟名矣，何臟分五而腑分七也？岐伯曰：十一臟取決於膽，乃省文耳，非腑可名臟也。孔甲曰：膽即名為臟，而十一臟取決之，固何所取之乎？岐天師曰：膽司滲，凡十一臟之氣，得阻氣滲之，則分清化濁，有奇功焉。孔甲曰：膽有入無出，是滲主入而不主出也，何能化濁乎？岐伯曰：清滲入則濁自化，濁自化而清亦化矣。孔甲曰：清滲入而能化，是滲入而仍滲出矣。岐伯曰：膽為清淨之府。滲入者，清氣也。遇清氣之臟腑，亦以清氣應之，應即滲之機矣，然終非滲也。孔甲曰：臟腑皆取決於膽，何臟腑受膽之滲乎？岐伯曰：大小腸膀胱皆受之，而膀胱獨多焉。雖然，膀胱分膽之滲而膽之氣虛矣，膽虛則膽得滲之禍矣。故膽旺則滲益，膽虛則滲損。孔甲曰：膽滲何氣則受損乎？岐伯曰：酒熱之氣，膽之所畏也，過多則滲失所司，膽受損矣。非毒結於腦，則涕流於鼻也。孔甲曰：何以治之？岐伯曰：刺膽絡之穴則病可已也。孔甲曰：善。</p>
<p>陳士鐸曰：膽主滲，十一臟皆取決於膽者，正決於滲也。膽不能滲，又何取決乎。</p>

<h2>任督死生篇</h2>
<p>雷公問曰：十二經脈之外，有任督二脈，何略而不言也？岐伯曰：二經之脈不可略也。以二經散見於各經，故言十二經脈而二經已統會於中矣。雷公曰：試分言之。岐伯曰：任脈行胸之前，督脈行背之後也。任脈起於中極之下，以上毛際循腹裡，上關元，至咽嚨，上頤循面，入目眥，此任脈之經絡也。督脈起於少腹，以下骨中央，女子入系廷孔，在溺孔之際，其絡循陰器，合纂間，繞纂後，即前後二陰之間也，別繞臀，至少陰與巨陽中絡者，合少陰，上股內後廉，貫脊屬腎，與太陽起於目內眥，上額交巔上，入絡腦，至鼻柱，還出別下項，循肩膊，俠脊抵腰中，入循膂，絡腎。其男子循莖下至纂，與女子等。其少腹直上者，貫臍中央，上貫心，入喉上頤環唇，上系兩目之下中央，此督脈之經絡也。雖督脈止於齦交，任脈止於承漿，其實二脈同起於會陰。止於齦交者，未嘗不過承漿，止於承漿者，未嘗不過齦交。行於前者亦行於後，行於後者亦行於前。循環周流，彼此無間。故任督分之為二，合之仍一也。夫會陰者，至陰之所也。任脈由陽行於陰，故脈名陰海。督脈由陰行於陽，故脈名陽海。非齦交穴為陽海，承漿穴為陰海也。陰交陽而陰氣生，陽交陰而陽氣生，任督交而陰陽自長，不如海之難量乎，故以海名之。</p>
<p>雷公曰：二經之脈絡，予已知之矣，請問其受病何如？岐伯曰：二經氣行則十二經之氣通，二經氣閉則十二經之氣塞。男則成疝，女則成瘕，非遺溺即脊強也。雷公曰：病止此乎？岐伯曰：腎之氣必假道於任督，二經氣閉，則腎氣塞矣。女不受妊，男不射精，人道絕矣。然則任督二經之脈絡，即人死生之道路也。雷公曰：神哉！論也。請載《外經》，以補《內經》未備。</p>
<p>陳士鐸曰：任督之路，實人生死之途，說得精好入神。</p>

<h2>陰陽二蹻篇</h2>
<p>司馬問曰：奇經八脈中，有陰蹻陽蹻之脈，可得聞乎？岐伯曰：《內經》言之矣。司馬曰：《內經》言之，治病未驗，或有未全歟。岐伯曰：《內經》約言之，實未全也。陰蹻脈，足少陰腎經之別脈也，起於然骨之照海穴，出內踝上，又直上之，循陰股以入於陰，上循胸裡，入於缺盆，上出人迎之前，入於目下鳩，屬於目眥之睛明穴，合足太陽膀胱之陽蹻而上行，此陰蹻之脈也。陽蹻脈，足太陽膀胱之別脈也。亦起於然骨之下申脈穴，出外踝下，循僕參，郄於附陽，與足少陽會於居髎，又與手陽明會於肩髃及巨骨，又與手太陽陽維會於臑俞，與手足陽明會於地倉及巨髎，與任脈足陽明會於承泣，合足少陰腎經之陰蹻下行，此陽蹻之脈也。然而蹻脈之起止，陽始於膀胱而止於腎，陰始於腎而止於膀胱，此男子同然也。若女子微有異，男之陰蹻起於然骨，女之陰蹻起於陰股。男之陽蹻起於申脈，女之陽蹻起於僕參。知同而治同，知異而療異。則陽蹻之病不至陰緩陽急，陰蹻之病不至陽緩陰急，何不驗乎。司馬公曰：今而後，陰陽二蹻之脈昭然矣。</p>
<p>陳士鐸曰：二蜮之脈分諸男女，《內經》微別，人宜知之，不可草草看過。</p>

<h2>奇恆篇</h2>
<p>奢龍問於岐伯曰：奇恆之腑與五臟並主藏精，皆可名臟乎？岐伯曰：然。奢龍曰：腦髓骨脈膽女子胞，既謂奇恆之腑，不宜又名臟矣。岐伯曰：腑謂臟者，以其能藏陰也。陰者，即腎中之真水也。真水者，腎精也。精中有氣，而腦髓骨脈膽女子胞皆能藏之，故可名腑，亦可名臟也。奢龍曰：修真之士，何必留心於此乎？岐伯曰：人慾長生，必知斯六義，而後可以養精氣，結聖胎者也。奢龍曰：女子有胞以結胎，男子無胞，何以結之？岐伯曰：女孕男不妊，故胞屬之女子，而男子未嘗無胞也。男子有胞，而後可以養胎息，故修真之士，必知斯六者。至要者，則胞與腦也。腦為泥丸，即上丹田也。胞為神室，即下丹田也。骨藏髓，脈藏血，髓藏氣，腦藏精，氣血精髓盡升泥丸，下降於舌，由舌下華池，由華池下廉泉玉英，通於膽，下貫神室。世人多欲，故血耗氣散，髓竭精亡也。苟知藏而不瀉，即返還之道也。奢龍曰：六者宜藏，何道而使之藏乎？岐伯曰：廣成子有言：毋搖精，毋勞形，毋思慮營營，非不瀉之謂乎？奢龍曰：命之矣。</p>
<p>陳士鐸曰：腦髓骨脈膽女子胞，非臟也，非臟而以臟名之，以其能藏也，能藏故以臟名之，人可失諸藏乎。</p>

<h2>小絡篇</h2>
<p>應龍問於岐伯曰：膜原與肌腠有分乎？岐伯曰：二者不同也。應龍曰：請問不同。岐伯曰：肌腠在膜原之外也。應龍曰：肌腠有脈乎？岐伯曰：肌腠膜原皆有脈也，其所以分者，正分於其脈耳。肌腠之脈內連於膜原，膜原之脈外連於肌腠。應龍曰：二脈乃表裡也，有病何以分之？岐伯曰：外引小絡痛者，邪在肌腠也；內引小絡痛者，邪在膜原也。應龍曰：小絡又在何所？岐伯曰：小絡在膜原之間也。</p>
<p>陳士鐸曰：小絡一篇，本無深文，備載諸此，以小絡異於膜原耳，知膜原之異，即知肌腠之異也。</p>

<h2>肺金篇</h2>
<p>少師問曰：肺，金也；脾胃，土也。土宜生金，有時不能生金者謂何？岐伯曰：脾胃土旺而肺金強，脾胃土衰而肺金弱，又何疑乎。然而脾胃之氣太旺，反非肺金所喜者，由於土中火氣之過盛也。土為肺金之母，火為肺金之賊，生變為克，烏乎宜乎？少師曰：金畏火克，宜避火矣，何又親火乎？岐伯曰：肺近火則金氣之柔者必銷矣。然肺離火則金氣之頑者必折矣。所貴微火以通薰肺也。故土中無火不能生肺金之氣，而土中多火亦不能生肺金之氣也。所以烈火為肺之所畏，微火為肺之所喜。少師公曰：善。請問金木之生克？岐伯曰：肺金制肝木之旺，理也。而肝中火盛，則金受火炎，肺失清肅之令矣。避火不暇，敢制肝木乎？即木氣空虛，已不畏肺金之刑，況金受火制，則肺金之氣必衰，肝木之火愈旺，勢必橫行無忌，侵伐脾胃之土，所謂欺子弱而凌母強也。肺之母家受敵，御木賊之強橫，奚能顧金子之困窮。肺失化源，益加弱矣。肺弱欲其下生腎水難矣。水無金生則水不能制火，毋論上焦之火焚燒，而中焦之火亦隨之更熾，甚且下焦之火亦挾水沸騰矣。少師曰：何肺金之召火也？岐伯曰：肺金，嬌臟也。位居各臟腑之上，火性上炎，不發則已，發則諸火應之，此肺金之所以獨受厥害也。少師曰：肺為嬌臟，易禁諸火之威逼乎？金破不鳴，斷難免矣，何以自免於禍乎？岐伯曰：仍賴腎子之水以救之。是以肺腎相親，更倍於土金之相愛。以土生金而金難生土，肺生腎而腎能生肺。晝夜之間，肺腎之氣實彼此往來，兩相通而兩相益也。少師日；金得水以解炎，敬聞命矣。然金有時而不畏火者，何謂乎？岐伯曰：此論其變也。少師曰：請盡言之。岐伯曰：火爍金者，烈火也。火氣自微，何以爍金，非惟不畏火，且侮火矣。火難制金，則金氣日旺，肺成頑金，過剛而不可犯，於是肅殺之氣必來伐木，肝受金刑，力難生火，火勢轉衰，變為寒，火奚足畏乎。然而火過寒，無溫氣以生土，土又何以生金，久之火寒而金亦寒矣。少師曰：善。請問金化為水而水不生木者，又何謂乎？岐伯曰：水不生木，豈金反生木乎？水不生木者，金受火融之水也。真水生木而融化之，水剋木矣。少師曰：善。</p>
<p>陳士鐸曰：肺不燥不成頑金，肺過濕不成柔金，以肺中有火也。肺得火則金益，肺失火則金損，故金中不可無火，亦不可有火也。水火不旺，金反得其宜也，總不可使金之過旺耳。</p>

<h2>肝木篇</h2>
<p>少師曰：肝屬木，木非水不養，故腎為肝之母也，腎衰則木不旺矣。是肝木之虛，皆腎水之涸也。然而肝木之虛不全責腎水之衰者何故？岐伯曰：此肝木自郁也。木喜疏泄，遇風寒之邪，拂抑之事，肝輒氣鬱不舒，肝鬱必下克脾胃，制土有力，則木氣自傷，勢必求濟腎水，水生木而鬱氣未解，反助剋土之橫，土怒水助，轉來剋水，肝不受腎之益，腎且得土之損，未有不受病者也。腎既病矣，自難滋肝木之枯。肝無水養，其鬱更甚，郁甚而剋土愈力，脾胃受傷，氣難轉輸，必求救於心火，心火因肝木之郁，全不顧心，心失化源，何能生脾胃之土乎？於是憐土子之受傷，不敢咎肝母之過逆，反嗔肺金不制肝木，乃出其火而克肺，肺無土氣之生，復有心火之克，則肺金難以自存，聽肝木之逆，無能相制矣。少師曰：木無金制，宜木氣之舒矣，何以仍郁也？岐伯曰：木性曲直，必得金制有成，今金弱木強，則肝寡於畏，任郁之性以自肆，土無可克，水無可養，火無可助，於是木空受焚矣，此木無金制而愈郁也。所以治肝必解鬱為先，郁解而肝氣自平，何至剋土。土無木克，則脾胃之氣自易升騰，自必忘克腎水，轉生肺金矣。肺金得脾胃二土之氣，則金氣自旺，令行清肅，腎水無匱乏之憂，且金強制木，木無過旺，肝氣平矣。少師曰：肝氣不平，可以直折之乎？岐伯曰：肝氣最惡者郁也，其次則惡不平，不平之極，即郁之極也，故平肝尤尚解鬱。少師曰：其故何也？岐伯曰：肝氣不平，肝中之火過旺也。肝火過旺，由肝木之塞也。外閉內焚，非爍土之氣，即耗心之血矣。夫火旺宜為心之所喜，然溫火生心，烈火逼心。所以火盛之極，可暫用寒涼以瀉肝火；郁之極，宜兼用舒泄以平肝也。少師曰：善。</p>
<p>陳士鐸曰：木不鬱則不損，肝木之郁，即逆之之謂也。人能解鬱，則木得其平矣，何郁之有。</p>

<h2>腎水篇</h2>
<p>少師曰：請問腎水之義？岐伯曰：腎屬水，先天真水也。水生於金，故肺金為腎母。然而肺不能竟生腎水也，必得脾土之氣薰蒸，肺始有生化之源。少師曰：土剋水者也，何以生水？岐伯曰：土貪生金，全忘剋水矣。少師曰：金生水，而水養於金何也？岐伯曰：腎水非肺金不生，肺金非腎水不潤。蓋肺居上焦，諸臟腑之火咸來相逼，苟非腎水灌注，則肺金立化矣，所以二經子母最為關切，無時不交相生，亦無時不交相養也。是以補腎者必須益肺，補肺者必須潤腎，始既濟而成功也。少師曰：腎得肺之生，即得肺之損，又何以養各臟腑乎？岐伯曰：腎交肺而肺益生腎，則腎有生化之源，山下出泉涓涓，正不竭也。腎既優渥，乃分其水以生肝，肝木之中，本自藏火，有水則木且生心，無水則火且焚木，木得水之濟，則木能自養矣。木養於水，木有和平之氣，自不剋土，而脾胃得遂其升發之性，則心火何至躁動乎，自然水不畏火之炎，乃上潤而濟心矣。少師曰：水潤心，固是水火之既濟，但恐火炎而水不來濟也。岐伯曰：水不潤心，故木無水養也。木無水養，肝必乾燥，火發木焚，爍盡脾胃之液，肺金救土之不能，何暇生腎中之水。水涸而肝益加燥，腎無瀝以養肝，安得餘波以灌心乎。肝木愈橫，心火愈炎，腎水畏焚，因不上濟於心，此腎衰之故，非所謂腎旺之時也。少師曰：腎衰不能濟心，獨心受其損乎？岐伯曰：心無水養則心君不安，乃遷其怒於肺金，遂移其火以逼肺矣。肺金最畏火炎，隨移其熱於腎，而腎因水竭，水中之火正無所依，得心火之相會，翕然升木，變出龍雷，由下焦而騰中焦，由中焦而騰上焦，有不可止遏之機矣。是五臟七腑均受其害，寧獨心受損乎。少師曰：何火禍之酷乎？岐伯曰：非火多為害，乃水少為炎也。五臟有臟火，七腑有腑火，火到之所，同氣相親，故其勢易旺，所異者，水以濟之也。而水止腎臟之獨有，且水中又有火也，水之不足，安敵火之有餘，此腎臟所以有補無瀉也。少師曰；各臟腑皆取資於水，宜愛水而畏火矣，何以多助火以增焰乎？岐伯曰：水少火多，一見火發，惟恐火之耗水，竟來顧水，誰知反害水乎，此禍生於愛，非惡水而愛火也。少師曰：火多水少，瀉南方之火，非即補北方之水乎？岐伯曰：水火又相根也，無水則火烈，無火則水寒。火烈則陰虧也，水寒則陽消也。陰陽兩平，必水火既濟矣。少師曰：火水既濟，獨不畏土之侵犯乎？岐伯曰：土能剋水，而土亦能生水也。水得土以相生，則土中出水，始足以養肝木而潤各臟腑也。第不宜過於生之，則水勢汪洋，亦能沖決堤岸，水無土製，變成洪水之逆流，故水不畏土之克也。少師曰：善。</p>
<p>陳士鐸曰：五行得水則潤，失水則損，況取資多而分散少乎。故水為五行之所竊，不可不多也。說得水之有益，有此可悟水矣。</p>

<h2>心火篇</h2>
<p>少師曰：心火，君火也，何故宜靜不宜動？岐伯曰：君主無為，心為君火，安可有為乎？君主有為，非生民之福也。所以心靜則火息，心動則火炎。息則脾胃之土受其益，炎則脾胃之土受其災。少師曰：何謂也？岐伯曰：脾胃之土喜溫火之養，惡烈火之逼也。溫火養則土有生氣，而成活土，烈火逼則土有死氣，而成焦土矣。焦火何以生余，肺金乾燥，必求濟於腎水，而水不足以濟之也。少師曰：腎水本濟心火者也，何以救之無裨乎？岐伯曰：人身之腎水，原非有餘，況見心火之太旺，雖濟火甚切，獨不畏火氣之爍乎？故避火之炎，不敢上升於心中也。心無水濟則心火更烈，其克肺益甚，肺畏火刑，必求援於腎子，而腎子欲救援而無水，又不忍肺母之凌爍，不得不出其腎中所有，傾國以相助，於是水火兩騰，升於上焦，而與心相戰。心因無水以克肺，今見水不濟心，火來助肺，欲取其水而轉與火相合，則火勢更旺，於是肺不受腎水之益，反得腎火之虐矣。斯時肝經之木見肺金太弱，亦出火以焚心，明助腎母以稱，於實報肺仇而加刃也。少師曰：何以解氛乎？岐伯曰：心火動極矣，安其心而火可息也。少師曰：可用寒涼直折其火乎。岐伯曰：寒涼可暫用，不可久用也。暫用則火化為水，久用則水變為火也。少師曰：斯又何故歟？岐伯曰：心火必得腎水以濟之也。滋腎安心，則心火永靜；舍腎安心，則心火仍動矣。少師曰：凡水火未有不相剋也，而心腎水火何相交而相濟乎？岐伯曰：水不同耳。腎中邪水，最克心火；腎中真水，最養心火。心中之液，即腎內真水也。腎之真水旺而心火安，腎之真水衰而心火沸。是以心腎交而水火既濟，心腎開而水火未濟也。少師曰：心在上，腎在下，地位懸殊，何以彼此樂交無間乎？岐伯曰：心腎之交，雖胞胎導之，實肝木介之也。肝木氣通，腎無阻隔；肝木氣鬱，心腎即閉塞也。少師曰：然則肝木以又何以養之？岐伯曰：腎水為肝木之母，補腎即所以通肝。木非水不旺，火非木不生。欲心液之不枯，必肝血之常足；欲肝血之不乏，必腎水之常盈。補肝木，要不外補腎水也。少師曰：善。</p>
<p>陳士鐸曰：心火，君火也。君心為有形之火，可以水折，不若腎中之火為無形之火也，無形之火可以水養。知火之有形無形，而虛火實火可明矣。</p>

<h1>四卷</h1>

<h2>脾土篇</h2>
<p>少師問曰：脾為濕土，土生於火，是火為脾土之父母乎？岐伯曰：脾土之父母，不止一火也。心經之君火，包絡三焦命門之相火，皆生之。然而君火之生脾土甚疏，相火之生脾土甚切，而相火之中，命門之火尤為最親。少師曰：其故何歟？岐伯曰：命門盛衰即脾土盛衰，命門生絕即脾土生絕也。蓋命門為脾土之父母，實關死生，非若他火之可旺可微、可有可無也。少師曰：命門火過旺，多非脾土之宜，又何故乎？岐伯曰：火少則土濕，無發生之機，火多則土乾，有燥裂之害。蓋脾為濕土，土中有水，命門者，水中之火也，火藏水中，則火為既濟之火，自無亢焚之禍，與脾土相宜，故火盛亦盛，火衰亦衰，火生則生，火絕則絕也。若火過於旺，是火勝於水矣。水不足以濟火，乃未濟之火也。火似旺而實衰，假旺而非真旺也，與脾土不相宜耳，非惟不能生脾，轉能耗土之生氣。脾土無生氣，則赤地乾枯，欲化精微以潤各臟腑難矣。且火氣上炎，與三焦包絡之火直衝而上，與心火相合，火愈旺而土愈耗，不成為焦火得乎？少師曰：焦土能生肺金乎？岐伯日；肺金非土不生，今土成焦土，中鮮潤澤之氣，何以生金哉？且不特不生金也，更且嫁禍於肺矣。蓋肺乏土氣之生，又多火氣之逼，金弱木強，必至之勢也。木強凌土，而土敗更難生金，肺金絕而腎水亦絕也。水絕則木無以養，木枯自焚，益添火焰，土愈加燥矣。少師曰：治何經以救之？岐伯曰：火之有餘，水之不足也。補水則火自息，然而徒補水則水不易生，補肺金之氣，則水有化源，不患乎無本也。腎得水以制火，則水火相濟，火無偏旺之害，此治法之必先補水也。少師曰：善。</p>
<p>陳士鐸曰：脾土與胃土不同生，脾土與胃土生不同。雖生土在於火也，然火各異。生脾土必須於心，生胃土必須於包絡。心為君火，包絡為相火也，二火斷須補腎，以水能生火耳。</p>

<h2>胃土篇</h2>
<p>少師問曰：脾胃皆土也，有所分乎？岐伯曰：脾，陰土也；胃，陽土也。陰土逢火則生，陽土必生於君火。君火者，心火也。少師曰：土生於火，火來生土，兩相親也，豈胃土遇三焦命門之相火辭之不受乎？岐伯曰：相火與胃不相合也，故相火得之而燔，不若君火得之而樂也。少師曰：心包亦是相火，何與胃親乎？岐伯曰：心包絡代君火以司令者也，故心包相火即與君火無異，此胃上之所以相親也。少師曰：心包代心之職，胃土取資心包，無異取資心火矣。但二火生胃土則受益，二火助胃火則受禍者何也？岐伯曰：胃土衰則喜火之生，胃火盛則惡火之助也。少師曰：此又何故歟？岐伯曰：胃，陽土，宜弱不宜強。少師曰：何以不宜強也？岐伯曰：胃多氣多血之府，其火易動，動則燎原而不可制，不特爍肺以殺子，且焚心以害母矣。且火之盛者，水之涸也。火沸上騰，必至有焚林竭澤之虞，爍腎水，燒肝木，其能免乎？少師曰：治之奈何？岐伯曰：火盛必濟之水，然水非外水也，外水可暫救以止炎，非常治之法也，必大滋其內水之匱。內水者，腎水也。然而火盛之時，滋腎之水，不能瀉胃之火，以火旺不易滅，水衰難驟生也。少師曰：又將奈何？岐伯曰：救焚之法，先瀉胃火，後以水濟之。少師曰：五臟六腑皆藉胃氣為生，瀉胃火不損各臟腑乎？吾恐水未生，腎先絕矣。岐伯曰：火不息則土不安，先息火，後濟水，則甘霖優渥，土氣升騰，自易發生萬物，此瀉胃正所以救胃，是瀉火非瀉土也。胃土有生機，各臟腑豈有死法乎？此救胃又所以救腎，並救各臟腑也。少師曰：胃氣安寧，肝木來克奈何？岐伯曰：肝來克胃，亦因肝木之燥也，木燥則肝氣不平矣。不平則木鬱不伸，上克胃土，土氣自無生髮之機。故調胃之法，以平肝為重。肝氣平矣，又以補水為急，水旺而木不再郁也。惟是水不易旺，仍須補肺，金旺則生水，水可養木，金旺則制木，木不剋土，胃有不得其生髮之性者乎？少師曰：善。</p>
<p>陳士鐸曰：胃土以養水為主。養水者，助胃也。胃中有水則胃火不沸，故補腎正所以益胃也。可見胃火之盛，由於腎水之衰，補腎水，正補胃土也。故胃火可殺，胃火宜培，不可紊也。</p>

<h2>包絡火篇</h2>
<p>少師曰：心包之火，無異心火，其生克同乎？岐伯曰：言同則同，言異則異。心火生胃，心包之火不止生胃也。心火克肺，心包之火不止克肺也。少師曰：何謂也？岐伯曰：心包之火生胃，亦能死胃。胃土衰，得心包之火而土生；胃火盛，得心包之火而土敗。土母既敗，肺金之子何能生乎？少師曰：同一火也，何生克之異？岐伯曰：心火，陽火也，其勢急而可避；心包之火，陰火也，其勢緩而可親。故心火之克肺，一時之刑；心包之克肺，實久遠之害。害生於刑者，勢急而患未大；害生於恩者，勢緩而患漸深也。少師曰：可救乎？岐伯曰：亦在制火之有餘而已。少師曰：制之奈何？岐伯曰：心包，陰火，竊心之陽氣以自養，亦必得腎之陰氣以自存。心欲溫腎，腎欲潤心，皆先交心包以通之，使腎水少衰，心又分其水氣，腎且供心火之不足，安能分余惠以慰心包，心包乾涸，毋怪其害胃土也。補腎水之枯則水足灌心，而化液即足，注心包而化津，此不救胃，正所以救胃也。少師曰：包絡之火可瀉乎？岐伯曰：胃土過旺，必瀉心包之火，然心包之火可暫瀉而不可久瀉也。心包逼近於心，瀉包絡則心火不寧矣。少師曰：然則奈何？岐天師曰：肝經之木，包絡之母也，瀉肝則心包絡之火必衰矣。少師曰：肝亦心之母也，瀉肝而心火不寒乎？岐天師曰：暫瀉肝，則包絡損其焰而不至於害心，即久瀉肝，則心君減其炎亦不至於害包絡，猶勝於直瀉包絡也。少師曰：誠若師言。瀉肝經之木可救急而不可圖緩，請問善後之法？岐伯曰：水旺則火衰，既濟之道也，安能捨補腎水，別求瀉火哉。少師曰：善。</p>
<p>陳士鐸曰：包絡之火為相火，相火宜補不宜瀉也，宜補而用瀉，必害心包矣。</p>

<h2>三焦火篇</h2>
<p>少師曰：三焦無形，其火安生乎？岐伯曰：三焦稱腑，虛腑也。無腑而稱腑，有隨寓為家之義。故逢木則生，逢火則旺，即逢金逢土，亦不相仇而相得，總欲竊各臟腑之氣以自旺也。少師曰：三焦耗臟腑之氣，宜為各臟腑之所絕矣，何以反親之也？岐伯曰：各臟腑之氣，非三焦不能通達上下，故樂其來親而益之以氣，即有偷竊，亦安焉而不問也。少師曰：各臟腑樂與三焦相親，然三焦樂與何臟腑為更親乎？岐伯曰：最親者，膽木也。膽與肝為表裡，是肝膽為三焦之母，即三焦之家也。無家而寄生於母家，不無府而有府乎？然而三焦之性喜動惡靜，上下同流，不樂安居於母宅，又不可謂肝膽之宮竟是三焦之府也。少師曰：三焦，火也，火必畏水，何故與水親乎？岐伯曰：三焦之火最善制水，非親水而喜入於水也。蓋水無火氣之溫則水成寒水矣，寒水何以化物，故腎中之水得三焦之火而生，膀胱之水得三焦之火而化，火與水合，實有既濟之歡也。但恐火過於熱，制水太甚，水不得益而得損，必有乾燥之苦也。少師曰：然則何以治之？岐伯曰：瀉火而水自流也。少師曰：三焦無腑，瀉三焦之火，何從而瀉之？岐伯曰：視助火之臟腑以瀉之，即所以瀉三焦也。少師曰：善。</p>
<p>陳士鐸曰：三焦之火附於臟腑，臟腑旺而三焦旺，臟腑衰而三焦衰，故助三焦，在於助各臟腑也，瀉三焦火，可置臟腑於不問乎？然則二焦盛衰，全在□□□腑也。</p>

<h2>膽木篇</h2>
<p>少師曰：膽寄於肝，而木必生於水，腎水之生肝，即是生膽矣，豈另來生膽乎？岐伯曰：腎水生木，必先生肝，肝即分其水以生膽。然肝與膽皆腎子也，腎豈有疏於膽者乎？惟膽與肝為表裡，實手足相親，無彼此之分也。故腎水旺而肝膽同旺，腎水衰而肝膽同衰，非僅肝血旺而膽汁盈，肝血衰而膽汁衰也。少師曰：然，亦有腎水不衰，膽氣自病者，何也？岐伯曰：膽之汁主藏，膽之氣主泄，故喜通不喜塞也。而膽氣又最易塞，一遇外寒，膽氣不通矣，一遇內郁，膽氣不通矣，單補腎水，不舒膽木，則木中之火不能外泄，勢必下克脾胃之土，木土交戰，多致膽氣不平，非助火以刑肺，必耗水以虧肝，於是膽郁肝亦郁矣，肝膽交郁，其塞益甚，故必以解鬱為先，不可徒補腎水也。少師曰：肝膽同郁，將獨解膽木之塞乎？岐伯曰：郁同而解鬱，烏可異哉。膽鬱而肝亦郁，肝舒而膽亦舒，舒膽之後，濟之補水，則水蔭木以敷榮，木得水而調達，既不絕肝之血，有不生心之液者乎？自此三焦得木氣以為根，即包絡亦得膽氣以為助，十二經無不取決於膽也，何憂匱乏哉。少師曰：善。</p>
<p>陳士鐸曰：肝膽同為表裡，肝盛則膽盛，肝衰則膽衰，所以治膽以治肝為先，肝易於郁，而膽之易郁又寧與肝殊乎？故治膽必治肝也。</p>

<h2>膀胱水篇</h2>
<p>少師曰：水屬陰，膀胱之水謂之陽水，何也？岐伯曰：膀胱之水，水中藏火也。膀胱無火水不化，故以陽水名之。膀胱腑中本無火也，恃心腎二臟之火相通化水，水始可藏而亦可泄。夫火屬陽，膀胱既通火氣，則陰變為陽矣。少師曰：膀胱通心腎之火，然親於腎而疏於心也。心火屬陽，膀胱亦屬陽，陽不與陽親何也？岐伯曰：膀胱與腎為表裡，最為關切，故腎親於膀胱，而膀胱亦不能疏於腎也。心不與膀胱相合，毋怪膀胱之疏心矣。然心雖不合於膀胱，而心實與小腸為表裡，小腸與膀胱正相通也。心合小腸，不得不合膀胱矣。是心與膀胱，其跡若遠而實近也。少師曰：然則膀胱親於心而疏於腎乎？岐伯曰：膀胱，陽水也，喜通陰火而不喜通陽火，似心火來親，未必得之化水。然而腎火不通心火，則陰陽不交，膀胱之陽火，正難化也。少師曰：此又何故歟。岐伯曰：心火下交於腎，則心包三焦之火齊來相濟，助胃以化膀胱之水，倘心不交腎，心包三焦之火各奉心火以上炎，何敢下降以私通於腎，既不下降，敢代君以化水乎？少師曰：君火無為，相火有為，君火不下降，包絡相火正可代君出治，何以心火不交相火，亦不降乎？岐伯曰：君臣一德而天下治，君火交而相火降，則膀胱得火而水化，君火離而相火降，則膀胱得火而水乾。雖君火恃相火而行，亦相火必藉君火而治。腎得心火之交，又得包絡之降，陰陽合為一性，竟不能分腎為陰、心為陽矣。少師曰：心腎之離合，膀胱之得失，如此乎？岐伯曰：膀胱可寒而不可過寒，可熱而不可過熱。過寒則遺，過熱則閉，皆心腎不交之故也，此水火所以重既濟耳。少師曰：善。</p>
<p>陳士鐸曰：膀胱本為水腑，然水中藏火，無水不交，無火亦不交也。故心腎二臟皆通於膀胱之腑，膀胱不通，又何交乎。交心腎正藏水火也。</p>

<h2>大腸金篇</h2>
<p>少師曰：金能生水，大腸屬金，亦能生水乎？岐伯曰：大腸之金，陽金也，不能生水，且藉水以相生。少師曰：水何能生金哉？岐伯曰：水不生金而能養金，養即生也。少師曰：人身火多於水，安得水以養大腸乎？岐伯曰：大腸離水，實無以養，而水苦無多，所冀者，脾土生金，轉輸精液，庶無乾燥之虞，而後以腎水潤之，便慶濡澤耳。是水土俱為大腸之父母也。少師曰：土生金而大腸益燥何也？岐伯曰：土柔而大腸潤，土剛而大腸燥矣。少師曰：土剛何以燥也？岐伯曰：土剛者，因火旺而剛也。土剛而生金更甚，然未免同火俱生。金喜土而畏火，雖生而實克矣，安得不燥哉。少師曰：水潤金也，又善蕩金者何故歟？岐伯曰：大腸得真水而養，得邪水而蕩也，邪正不兩立，勢必相遇而相爭。邪旺而正不能敵，則沖激澎湃，傾腸而瀉矣。故大腸尤宜防水。防水者，防外來之水，非防內存之水也。少師曰：人非水火不生，人日飲水，何以防之？岐伯曰：防水何若培土乎。土旺足以制水，土旺自能生金，制水不害邪水之侵，生金無愁真水之涸，自必火靜而金安，可傳導而變化也。少師曰：大腸無火，往往有傳導變化而不能者，又何故歟？岐伯曰：大腸惡火，又最喜火也。惡火者，惡陽火也。喜火者，喜陰火也。陰火不同，而腎中之陰火尤其所喜。喜火者，喜其火中之有水也。少師曰：腎火雖水中之火，然而剋金，何以喜之？岐伯曰：肺、腎子母也，氣無時不通，肺與大腸為表裡，腎氣生肺，即生大腸矣。大腸得腎中水火之氣，始得司其開闔也，倘水火不入於大腸，開闔無權，何以傳導變化乎？少師曰：善。</p>
<p>陳士鐸曰：大腸無水火，何以開合，開合既難，何以傳導變化乎，可悟大腸必須於水火也。大腸無水火之真，即邪來犯之，故防邪仍宜潤正耳。</p>

<h2>小腸火篇</h2>
<p>少師曰：小腸屬火乎？屬水乎？岐伯曰：小腸與心為表裡，與心同氣，屬火無疑，其體則為水之路，故小腸又屬水也。少師曰：然則小腸居水火之間，乃不陰不陽之腑乎？岐伯曰：小腸屬陽，不屬陰也，兼屬之水者，以其能導水也。水無火不化，小腸有火，故能化水，水不化火而火且化水，是小腸屬火明矣。惟小腸之火，代心君以變化，心即分其火氣，以與小腸，始得導水以滲入於膀胱。然有心之火氣，無腎之水氣，則心腎不交，水火不合，水不能遽滲於膀胱矣。少師曰：斯又何故乎？岐伯曰：膀胱水腑也，得火而化，亦必得水而親，小腸之火欲通膀胱，必得腎中真水之氣以相引，而後心腎會而水火濟，可滲入亦可傳出也。少師曰：小腸為受盛之官，既容水穀，安在腸內無水，必藉腎水之通膀胱乎？岐伯曰：真水則存而不泄，邪水則走而不守也。小腸得腎之真水，故能化水穀而分清濁，不隨水穀俱出也，此小腸所以必資於腎氣耳。少師曰：善。</p>
<p>陳士鐸曰：小腸之火有水以濟之，故火不上焚而水始下降也。火不上焚者，有水以引之也；水不下降者，有火以升之也，有升有引，皆既濟之道也。</p>

<h2>命門真火篇</h2>
<p>少師曰：命門居水火中，屬水乎？屬火乎？岐伯曰：命門，火也。無形有氣，居兩腎之間，能生水而亦藏於水也。少師曰：藏於水以生水，何也？岐伯曰：火非水不藏，無水則火沸矣，水非火不生，無火則水絕矣。水與火蓋兩相生而兩相藏也。少師曰：命門之火既與兩腎相親，宜與各臟腑疏矣。岐伯曰：命門為十二經之主，不止腎恃之為根，各臟腑無不相合也。少師曰：十二經皆有火也，何藉命門之生乎？岐伯曰：十二經之火皆後天之火也，後天之火非先天之火不化。十二經之火得命門先天之火則生生不息，而後可轉輸運動變化於無窮，此十二經所以皆仰望於命門，各倚之為根也。少師曰：命門之火氣甚微，十二經皆來取資，盡為分給，不虞匱乏乎？岐伯曰：命門居水火中，水火相濟，取之正無窮也。少師曰：水火非出於腎乎？岐伯曰：命門水火雖不全屬於腎，亦不全離乎腎也。蓋各經之水火均屬後天，獨腎中水火則屬先天也。後天火易旺，先天火易衰，故命門火微，必須補火，而補火必須補腎，又必兼水火補之，正以命門之火可旺而不可過旺也。火之過旺，水之過衰也。水衰不能濟火，則火無所制，必焚沸於十二經，不受益而受損矣。故補火必須於水中補之，水中補火，則命門與兩腎有既濟之歡，分布於十二經，亦無未濟之害也。少師曰：命門之系人生死甚重，《內經》何以遺之？岐伯曰：未嘗遺也。主不明則十二官危。所謂主者，正指命門也。七節之旁，有小心。小心者，亦指命門也，人特未悟耳。少師曰：命門為主，前人未言何也？岐伯曰：廣成子云：窈窈冥冥，其中有神，恍恍惚惚，其中有氣。亦指命門也，誰謂前人勿道哉。且命門居於腎，通於任督，更與丹田神室相接，存神于丹田，所以溫命門也，守氣於神室，所以養命門也。修仙之道，無非溫養命門耳。命門旺而十二經皆旺，命門衰而十二經皆衰也。命門生而氣生，命門絕而氣絕矣。少師曰：善。</p>
<p>陳士鐸曰：命門為十二經之主，《素問》不明言者，以主之難識耳。然不明言者，未嘗不顯言之也，無知世人不悟耳。經天師指示，而命門絕而不絕矣。秦火未焚之前，何故修命門者少，總由於不善讀《內經》也。</p>

<h1>五卷</h1>

<h2>命門經主篇</h2>
<p>雷公問於岐伯曰：十二經各有一主，主在何經？岐伯曰：腎中之命門，為十二，經之主也。雷公曰：十二經最神者心也，宜心為主，不宜以腎中之命門為主也。岐伯曰：以心為主，此主之所以不明也。主在腎之中，不在心之內。然而離心非主，離腎亦非主也。命門殆通心腎以為主乎？豈惟通心腎哉？五臟七腑無不共相貫通也。雷公曰：其共相貫通者何也？岐伯曰：人非火不生，命門屬火，先天之火也，十二經得命門之火始能生化。雖十二經來通於命門，亦命門之火原能通之也。雷公曰：命門屬火，宜與火相親，何偏居於腎以親水氣耶？岐伯曰：腎火，無形之火也；腎水，無形之水也。有形之火，水能克之；無形之火，水能生之。火克於水者，有形之水也；火生於水者，無形之水也。然而無形之火偏能生無形之水，故火不藏於火，轉藏於水，所謂一陽陷於二陰之間也。人身先生命門，而後生心，心生肺，肺生脾，脾生肝，肝生腎，相合而相生，亦相剋而相生也。十二經非命門不生，正不可以生克而拘視之也。故心得命門而神明應物也，肝得命門而謀慮也，膽得命門而決斷也，胃得命門而受納也，脾得命門而轉輸也，肺得命門而治節也，大腸得命門而傳導也，小腸得命門而布化也，腎得命門而作強也，三焦得命門而決瀆也，膀胱得命門而畜泄也。是十二經為主之官，而命門為十二官之主，有此主則十二官治，無此主則十二官亡矣。命門為主，供十二官之取資，其火易衰，其火亦易旺。然衰乃真衰，旺乃假旺。先天之火非先天之水不生，水中補火，則真衰者不衰矣，火中補水，則假旺者不旺矣。見其衰補火而不濟之以水，則火益微；見其旺瀉火而不濟之以水，則火益熾。雷公曰：何道之渺乎？非天師又孰能知之。</p>
<p>陳士鐸曰：命門在心腎之中，又何說之有，無如世人未知也，此篇講得暢快，非無主之文。</p>

<h2>五行生剋篇</h2>
<p>雷公問於岐伯曰：余讀《內經》載五行甚詳，其旨盡之乎？岐伯曰：五行之理又何易窮哉。雷公曰：盍不盡言之？岐伯曰：談天乎？談地乎？談人乎？雷公曰：請言人之五行。岐伯曰：心肝脾肺腎配火木土金水，非人身之五行乎。雷公曰：請言其變。岐伯曰：變則又何能盡哉，試言其生克。生克之變者，生中克也，克中生也，生不全生也，克不全克也，生畏克而不敢生也，克畏生而不敢克也。雷公曰：何以見生中之克乎？岐伯曰：腎生肝，腎中無水，水涸而火騰矣，肝木受焚，腎何生乎？肝生心，肝中無水，水燥而木焦矣，心火無煙，肝何生乎。心，君火也，包絡，相火也，二火無水，時自炎也。土不得火之生，反得火之害矣。脾生肺金也，土中無水，乾土何以生物，爍石流金，不生金，反剋金矣。肺生腎水也，金中無水，死金何以出泉，崩爐飛汞，不生水反剋水矣。蓋五行多水則不生，五行無水亦不生也。雷公曰：何以見克中之生乎？岐伯曰：肝剋土，土得木以疏通，則土有生氣矣。脾剋水，水得土而畜積，則土有生基矣。腎剋火，火得水以相濟，則火有神光矣。心剋金，然肺金必得心火以煅煉也。肺剋木，然肝木必得肺金以斫削也。非皆克以生之乎。雷公曰：請言生不全生。岐伯曰：生不全生者，專言腎水也。各臟腑無不取資於腎，心得腎水而神明煥發也，脾得腎水而精微化導也，肺得腎水而清肅下行也，肝得腎水而謀慮決斷也，七腑亦無不得腎水而布化也。然而取資多者，分給必少矣，親於此者疏於彼，厚於上者薄於下，此生之所以難全也。雷公曰：請言克不全克。岐伯曰：克不全克者，專言腎火也。腎火易動難靜，易逆難順，易上難下。故一動則無不動矣，一逆則無不逆矣，一上則無不上矣。騰於心，燥煩矣；入於脾，乾涸矣；升於肺，喘嗽矣；流於肝，焚燒矣；衝擊於七腑，燥渴矣。雖然腎火乃雷火也，亦龍火也，龍雷之火，其性雖猛，然聚則力專，分則勢散，無乎不克，反無乎全克矣。雷公曰：生畏克而不敢生者若何？岐伯曰：肝木生心火也，而肺金太旺，肝畏肺克，不敢生心，則心氣轉弱，金克肝木矣。心火生胃土也，而腎火太旺，不敢生胃，則胃氣更虛，水侵胃土矣。心包之火生脾土也，而腎水過泛，不敢生脾，則脾氣加困，水欺脾土矣。脾胃之土生肺金也，而肝木過剛，脾胃畏肝，不敢生肺，則肺氣愈損，木侮脾胃矣。肺金生腎水也，而心火過炎，肺畏心克，不敢生腎，則腎氣益枯，火刑肺金矣。腎水生肝木也，而脾胃過燥，腎畏脾胃之土，不敢生肝，則肝氣更凋，土製腎水矣。雷公曰：何法以制之乎？岐伯曰：制克以遂其生，則生不畏克，助生而忘其克，則克即為生。雷公曰：善。克畏生而不敢克者，又若何？岐伯曰：肝木之盛，由於腎水之旺也，木旺而肺氣自衰，柔金安能克剛木乎。脾胃土盛，由於心火之旺也，土旺而肝氣自弱，僵木能克焦土乎。腎水之盛，由肺金之旺也，水旺而脾土自微，淺土能克湍水乎。心火之盛，由於肝木之旺也，火旺而腎氣必虛，弱水能克烈火乎。肺金之盛，由於脾土之旺也，金盛而心氣自怯，寒火能克頑金乎。雷公曰：何法以制之？岐伯曰：救其生不必制其克，則弱多為強，因其克反更培其生，則衰轉為盛。雷公曰：善。</p>
<p>陳士鐸曰：五行生剋，本不可顛倒，不可顛倒而顛倒者，言生克之變也。篇中專言其變而變不可窮矣，當細細觀之。</p>

<h2>小心真主篇</h2>
<p>為當問於岐伯曰：物之生也，生於陽；物之成也，成於陰。陽，火也；陰，水也。二者在身，藏於何物乎？岐伯曰：大哉問也。陰陽有先後天之殊也。後天之陰陽藏於各臟腑，先天之陰陽藏於命門。為當曰：命門何物也？岐伯曰：命門者，水火之源。水者，陰中之水也；火者陰中之火也。為當曰：水火均屬陰，是命門藏陰不藏陽也，其藏陽又何所乎？岐伯曰：命門藏陰，即藏陽也。為當曰：其藏陰即藏陽之義何居？岐伯曰：陰中之水者，真水也；陰中之火者，真火也。真火者，真水之所生；真水者，真火之所生也。水生於火者，火中有陽也；火生於水者，水中有陽也。故命門之火謂之原氣，命門之水謂之原精，精旺則體強，氣旺則形壯。命門水火，實藏陰陽，所以為十二經之主也，主者，即十二官之化源也。命門之精氣盡則水火兩亡，陰陽間隔，真息不調，人病輒死矣。為當曰：陰陽有偏勝何也？岐伯曰：陰勝者，非陰盛也，命門火微也；陽勝者，非陽盛也，命門水竭也。為當曰：陰勝在下，陽勝在上者何也？岐伯曰：陰勝於下者，水竭其源則陰不歸陽矣；陽勝於上者，火衰其本則陽不歸陰矣。陽不歸陰則火炎於上而不降，陰不歸陽則水沉於下而不升。可見命門為水火之府也，陰陽之宅也，精氣之根也，死生之竇也。為當曰：命門為十二官之主，寄於何臟？岐伯曰：七節之旁，中有小心，小心即命門也。為當曰：鬲肓之上，中有父母，非小心之謂歟？岐伯曰：鬲肓之上，中有父母者，言三焦包絡也，非言小心也，小心在心之下，腎之中。</p>
<p>陳士鐸曰：小心在心腎之中，乃陰陽之中也。陰無陽氣則火不生，陽無陰氣則水不長，世人錯認小心在鬲肓之上，此命門真主不明也，誰知小心即命門哉。</p>

<h2>水不剋火篇</h2>
<p>大封司馬問於岐伯曰：水剋火者也，人有飲水而火不解者，豈水不能制火乎？岐伯曰：人生於火，養於水。水養火者，先天之真水也。水剋火者，後天之邪水也。飲水而火熱不解者，外水不能救內火也。大封司馬曰：余終不解其義，幸明示之。岐伯曰：天開於子，地闢於醜，人生於寅，寅實有火也。天地以陽氣為生，以陰氣為殺。陽即火，陰即水也。然而火不同，有形之火，離火也；無形之火，乾火也。有形之火，水之所克；無形之火，水之所生。飲水而火不解者，無形之火得有形之水而不相入也，豈惟不能解，且有激之而火熾者。大封司馬曰：然則水不可飲乎？岐伯曰：水可少飲以解燥，不可暢飲以解氛。大封司馬曰：此何故乎？岐伯曰：無形之火旺則有形之火微，無形之火衰則有形之火盛，火得水反熾，必多飲水也，水多則無形之火因之益微矣，無形之火微而有形之火愈增酷烈之勢，此外水之所以不能救內火，非水之不剋火也。大封司馬曰：何以治之？岐伯曰：補先天無形之水，則無形之火自息矣。不可見其火熱，飲水不解，勸多飲以速亡也。</p>
<p>陳士鐸曰：水分有形無形，何疑於水哉。水克有形之火，難克無形之火，故水不可飲也。說得端然實理，非泛然而論也。</p>

<h2>三關升降篇</h2>
<p>巫咸問曰：人身三關，在何經乎？岐伯曰：三關者，河車之關也。上玉枕，中腎脊，下尾閭。巫咸曰：三關何故關人生死乎？岐伯曰：關人生死，故名曰關。巫咸曰：請問生死之義？岐伯曰：命門者，水中火也。水火之中實藏先天之氣，脾胃之氣，後天之氣也。先天之氣不交於後天，則先天之氣不長；後天之氣不交於先天，則後天之氣不化，二氣必晝夜交而後生生不息也。然而後天之氣必得先天之氣。先交而後生，而先天之氣必由下而上升，降諸脾胃，以分散於各臟腑。三關者，先天之氣所行之徑道也。氣旺則升降無礙，氣衰則阻，阻則人病矣。巫咸曰：氣衰安旺乎？岐伯曰：助命門之火，益腎陰之水，則氣自旺矣。巫咸曰：善。</p>
<p>陳士鐸曰：人有三關，故可生可死。然生死實在先天，不在後天也。篇中講後天者返死而生，非愛生而惡死，人能長守先天，何惡先天之能死乎。</p>

<h2>表微篇</h2>
<p>奚仲問於岐伯曰：天師《陰陽別論》中有陰結、陽結之言，結在臟乎？抑結在腑乎？岐伯曰：合臟腑言之也。奚仲曰：臟陰腑陽，陰結在臟，陽結在腑乎？岐伯曰：陰結、陽結者，言陰陽之氣結也，合臟腑言之，非陽結而陰不結，陰結而陽不結也。陰陽之道，彼此相根，獨陽不結，獨陰亦不結也。奚仲曰：《陰陽別論》中又有剛與剛之言，言臟乎？言腑乎？岐伯曰：專言臟腑也。陽陰氣不和，臟腑有過剛之失，兩剛相遇，陽過旺陰不相接也。奚仲曰：臟之剛乎？抑腑之剛乎？岐伯曰：臟剛傳腑則剛在臟也，腑剛傳臟則剛在腑也。奚仲曰：《陰陽別論》中又有陰搏、陽搏之言，亦言臟腑乎？岐伯曰：陰搏、陽搏者，言十二經之脈，非言臟腑也。雖然十二臟腑之陰陽不和，而後十二經脈始現陰陽之搏，否則搏之象不現於脈也。然則陰搏、陽搏言脈而即言臟腑也。奚仲曰：善。</p>
<p>陳士鐸曰：陽結、陰結，陰搏、陽搏，俱講得微妙。</p>

<h2>呼吸篇</h2>
<p>雷公問於岐伯曰：人氣之呼吸，應天地之呼吸乎？岐伯曰：天地人同之。雷公曰：心肺主呼，腎肝主吸，是呼出乃心肺也，吸入乃腎肝也，何有時呼出不屬心肺而屬腎肝，吸入不屬腎肝而屬心肺乎？岐伯曰：一呼不再呼，一吸不再吸，故呼中有吸，吸中有呼也。雷公曰：請悉言之。岐伯曰：呼出者，陽氣之出也，吸入者，陰氣之入也，故呼應天而吸應地。呼不再呼，呼中有吸也，吸不再吸，吸中有呼也。故呼應天而亦應地，吸應地而亦應天。所以呼出心也，肺也，從天言之也；吸入腎也，肝也，從地言之也。呼出腎也肝也，從地言之也；吸入心也，肺也，從天言之也。蓋獨陽不生，呼中有吸者，陽中有陰也；獨陰不長，吸中有呼者，陰中有陽也。天之氣不降，則地之氣不升，地之氣不升，則天之氣不降。天之氣下降者，即天之氣呼出也，地之氣上升者，即地之氣吸入也。故呼出心肺，陽氣也，而腎肝陰氣輒隨陽而俱出矣。吸入腎肝，陰氣也，而心肺陽氣輒隨陰而俱入矣。所以陰陽之氣雖有呼吸，而陰陽之根無間隔也。呼吸之間，雖有出入，而陰陽之本無兩岐也。雷公曰：善。</p>
<p>陳士鐸曰：呼中有吸，吸中有呼，是一是二，人可參天地也。</p>

<h2>脈動篇</h2>
<p>雷公問於岐伯曰：手太陰肺，足陽明胃，足少陰腎，三經之脈，常動不休者何也？岐伯曰：脈之常動不休者，不止肺胃腎也。雷公曰：何以見之？岐伯曰：四末陰陽之會者，氣之大絡也。四街者，氣之曲徑也。周流一身，晝夜環轉，氣無一息之止，脈無一晷之停也。肺胃腎脈獨動者，勝於各臟腑耳，非三經之氣獨動不休也。夫氣之在脈也，邪氣中之也。有清氣中之，有濁氣中之，邪氣中之也。清氣中在上，濁氣中在下，此皆客氣也。見於脈中，決於氣口。氣口虛，補而實之；氣口盛，瀉而泄之。雷公曰：十二經動脈之穴，可悉舉之乎？岐伯曰：手厥陰心包經動脈，在手之勞宮也。手太陰肺經動脈，在手之大淵也。手少陰心經動脈，在手之陰郄也。足太陰脾經動脈，在腹衝門也。足厥陰肝經動脈，在足之太衝也。足少陰腎經動脈，在足之太谿也。手少陽三焦經動脈，在面之和髎也。手太陽小腸經動脈，在項之天窗也。手陽明大腸經動脈，在手之陽谿也。足太陽膀胱經動脈，在足之委中也。足少陽膽經動脈，在足之懸鐘也。足陽明胃經動脈，在足之衝陽也。各經時動時止，不若胃為六腑之原，肺為五臟之主，腎為十二經之海，各常動不休也。</p>
<p>陳士鐸曰：講脈之動處，俱有條理，非無因之文也。</p>

<h2>瞳子散大篇</h2>
<p>雲師問於岐伯曰：目病瞳子散大者何也？岐伯曰：必得之內熱多飲也。雲師曰：世人好飲亦常耳，未見瞳子皆散大也。岐伯曰：內熱者，氣血之虛也，氣血虛則精耗矣。五臟六腑之精，皆上注於目，瞳子尤精之所注也。精注瞳子而目明，精不注瞳子而目暗。今瞳子散大，則視物必無准矣。雲師曰：然往往視小為大也。岐伯曰：瞳子之系通於腦，腦熱則瞳子亦熱，熱極而瞳子散大矣。夫瞳子之精，神水也。得腦氣之熱，則水中無非火氣，火欲爆而光不收，安得不散大乎？雲師曰：何火之虐乎？岐伯曰：必飲火酒兼食辛熱之味也。火酒大熱，得辛熱之味以助之，則益熱矣。且辛之氣散，而火酒者，氣酒也，亦主散，況火酒至陽之味，陽之味必升於頭面，火熱之毒直歸於腦中矣，腦中之精最惡散而最易散也，得火酒辛熱之氣，有隨入隨散者，腦氣既散於中，而瞳子散大應於外矣。彼氣血未虛者，腦氣尚不至盡散也，故瞳子亦無散大之象，然目則未有不昏者也。雲師曰：善。</p>
<p>陳士鐸曰：瞳子散大，不止於酒，大約腎水不足，亦能散大。然水之不足，乃火之有餘也，益其陰而火降，火降而散大者不散大也，不可悟火之虐乎？必認作火酒之一者，尚非至理。</p>

<h1>六卷</h1>

<h2>診原篇</h2>
<p>雷公問於岐伯曰：五臟六腑各有原穴，診之可以知病，何也？岐伯曰：診脈不若診原也。雷公曰：何謂也？岐伯曰：原者，脈氣之所注也。切脈之法繁而難知。切腧之法約而易識。雷公曰：請言切腧之法。岐伯曰：切腧之法，不外陰陽。氣來清者陽也，氣來濁者陰也，氣來浮者陽也，氣來沉者陰也。浮而無者，陽將絕也；沉而無者，陰將絕也。浮而清者，陽氣之生也；沉而清者，陰氣之生也。浮而濁者，陰血之長也；浮而清者，陽血之長也。以此診腧，則生死淺深如見矣。</p>
<p>陳士鐸曰：診原法不傳久矣，天師之論真得其要也。</p>

<h2>精氣引血篇</h2>
<p>力牧問於岐伯曰：九竅出血何也？岐伯曰：血不歸經耳。力牧曰：病可療乎？岐伯曰：療非難也。引其血之歸經則瘥矣。力牧曰：九竅出血，臟腑之血皆出矣，難療而曰易療者，何也？岐伯曰：血失一經者重，血失眾經者輕。失一經者，傷臟腑也，失眾經者，傷經絡也。力牧曰：血已出矣，何引而歸之？岐伯曰：補氣以引之，補精以引之也。力牧曰：氣虛則血難攝，補氣攝血，則余已知之矣，補精引血，余實未知也。岐伯曰：血之妄行，由腎火之亂動也，腎火亂動，由腎水之大衰也，血得腎火而有所歸，亦必得腎水以濟之也。夫腎水腎火，如夫婦之不可離也。腎水旺而腎火自歸，腎火安而各經之血自息，猶婦在家而招其夫，夫既歸宅，外侮輒散，此補精之能引血也。力牧曰：兼治之乎？抑單治之乎。岐伯曰：先補氣，後補精，氣虛不能攝血，血攝而精可生也。精虛不能藏血，血藏而氣益旺也。故補氣必須補精耳。力牧曰：善。雖然血之妄出，疑火之祟耳，不清火而補氣，毋乃助火乎？岐伯曰：血至九竅之出，是火盡外泄矣，熱變為寒，烏可再泄火乎？清火則血愈多矣。力牧曰：善。</p>
<p>陳士鐸曰：失血補氣，本是妙理，誰知補精即補氣乎。補氣寓於補精之中，補精寓於補血之內，豈是泛然作論者。寒變熱，熱變寒，參得箇中趣，才是大羅仙。</p>

<h2>天人一氣篇</h2>
<p>大撓問於岐伯曰：天有轉移，人氣隨天而轉移，其故何也？岐伯曰：天之轉移，陰陽之氣也，人之氣亦陰陽之氣也，安得不隨天氣為轉移乎。大撓曰：天之氣分春夏秋冬，人之氣惡能分四序哉？天之氣配日月支幹，人之氣惡能配兩曜一旬十二時哉。岐伯曰：公泥於甲子以論天也。天不可測而可測，人亦不可測而可測也。天之氣有春夏秋冬，人之氣有喜怒哀樂，未嘗無四序也。天之氣有日月，人之氣有水火，未嘗無兩曜也。天之氣有甲乙丙丁戊己庚辛壬癸，人之氣有陽蹻陰蹻帶衝任督陽維陰維命門胞絡，未嘗無一旬也。天之氣有子醜寅卯辰巳午未申酉戍亥，人之氣有心肝脾肺腎心包膽胃膀胱三焦大小腸，未嘗無十二時也。天有氣，人即有氣以應之，天人何殊乎？大撓曰：天之氣萬古如斯，人之氣何故多變動乎？岐伯曰：人氣之變動，因乎人亦因乎天也。春宜溫而寒，則春行冬令矣：春宜溫而熱；則春行夏令矣；春宜溫而涼，則春行秋令矣。夏宜熱而溫，則夏行春令也；夏宜熱而涼，則夏行秋令也；夏宜熱而寒，則夏行冬令也。秋宜涼而熱，非秋行夏令乎？秋宜涼而溫，非秋行春令乎？秋宜涼而寒，非秋行冬令乎？冬宜寒而溫，是冬行春令矣；冬宜寒而熱，是冬行夏令矣；冬宜寒而涼，是冬行秋令矣。倒行逆施，在天既變動若此，欲人臟腑中不隨天變動，必不得之數矣。大撓曰：天氣變動，人氣隨天而轉移，宜盡人皆如是矣，何以有變有不變也？岐伯曰：人氣隨天而變者，常也；人氣不隨天而變者，非常也。大撓曰：人氣不隨天氣而變，此正人守其常也，天師謂非常者，予不得其旨，請言其變。岐伯曰：宜變而不變，常也，而余謂非常者，似其異於常人也。斯人也，必平日固守元陽，未喪其真陰者也。陰陽不凋，隨天氣之變動，彼自行其陰陽之正令，故能不變耳。大撓曰：彼變動者，何以治之？岐伯曰：有餘者瀉之，不足者補之，鬱則達之，熱則寒之，寒則溫之，如此而已。</p>
<p>陳士鐸曰：天人合一，安能變乎，說得合一之旨。</p>

<h2>地氣合人篇</h2>
<p>大撓問曰：天人同氣，不識地氣亦同於人乎？岐伯曰：地氣之合於人氣，《素問》、《靈樞》已詳哉言之，何公又問也？大撓曰：《內經》言地氣，統天氣而並論也，未嘗分言地氣。岐伯曰：三才並立，天氣即合於地氣，地氣即合於人氣，原不必分言之也。大撓曰：地氣有獨合於人氣之時，請言其所以合也。岐伯曰：言其合則合，言其分則分。大撓曰：請言人之獨合於地氣。岐伯曰：地有九州，人有九竅，此人之獨合於地也。大撓曰：《內經》言之矣。岐伯曰：雖言之，未嘗分析之也。大撓曰：請言其分。岐伯曰：左目合冀，右目合雍，鼻合豫，左耳合揚，右耳合兗，口合徐，臍合荊，前陰合營，後陰合幽也。大撓曰：其病何以應之？岐伯曰：冀之地氣逆而人之左目病焉，雍之地氣逆而人之右目病焉，豫之地氣逆而人之鼻病焉，揚之地氣逆而人之左耳病焉，兗之地氣逆而人之右耳病焉，徐之地氣逆而人之口病焉，荊之地氣逆而人之臍病焉，營之地氣逆而人之前陰病焉，幽之地氣逆而人之後陰病焉，此地氣之合病氣也。大撓曰：有驗有不驗何也？岐伯曰：驗者，人氣之漓也，不驗者，人氣之固也。固者多，漓者少，故驗者亦少，似地氣之不盡合人氣也。然而，合者，理也。大撓曰：既有不驗，恐非定理。岐伯曰：醫統天地人以言道，烏可缺而不全乎？寧言地氣，聽其驗不驗也。大撓曰：善。</p>
<p>陳士鐸曰；地氣實合於天，何分於人乎？地氣有驗不驗者，非分於地氣，已說其合，胡必求其合哉。</p>

<h2>三才並論篇</h2>
<p>鬼臾區問曰：五運之會，以司六氣，六氣之變，以害五臟，是五運之陰陽，即萬物之綱紀，變化之父母，生殺之本始也。夫子何以教區乎？岐伯曰：子言是也。臾區退而作《天元紀》各論，以廣五運六氣之義。岐伯曰：臾區之言，大而肆乎？雖然，執臾區之論概治五臟之病，是得一而失一也。臾區曰：何謂乎？岐伯曰：五運者，五行也。談五運即闡五行也。然五行止有五，五運變成六。明者視六猶五也，昧者眩六為千矣。臾區曰：弟子之言非歟？岐伯曰：子言是也。臾區曰：弟子言是，夫子有後言，請亟焚之。岐伯曰：醫道之大也，得子言，夫乃顯，然而醫道又微也，執子言，微乃隱，余所以有後言也。雖然，余之後言，正顯子言之大也。臾區曰：請悉言之。岐伯曰：五運乘陰陽而變遷，五臟因陰陽而變動。執五運以治病，未必有合也，舍五運以治病，未必相離也。遺五運以立言，則醫理缺其半，統五運以立言，則醫道該其全，予故稱子言之大而肆也。鬼臾區曰：請言缺半之理。岐伯曰：陰陽之氣，有盈有虛，男女之形，有強有弱。盈者虛之兆，虛者盈之機，蓋兩相伏也。強者弱之媒，弱者強之福，蓋兩相倚也。合天地人以治邪，不可止執五運以治邪也。合天地人以扶正，不可止執五運以扶正也。鬼臾區曰：醫道合天地人者，始無敝乎？岐伯曰：人之陰陽，與天地相合也。陽極生陰，陰極生陽，未嘗異也。世疑陰多於陽，陰有群陰，陽無二陽也，誰知陽有二陽乎。有陽之陽，有陰之陽。君火為陽之陽，相火為陰之陽。人有君火相火，而天地亦有之，始成其為天，成其為地也。使天地無君火，萬物何以昭蘇，天地無相火，萬物何以震動。天地之君火，日之氣也；天地之相火，雷之氣也。雷出於地而轟於天，日臨於天而照於地，蓋上下相合，人亦何獨不然。合天地人以治病則得其全，執五運以治病則缺其半矣。鬼臾區稽首而嘆曰：大哉聖人之言乎！區無以測師矣。</p>
<p>陳士鐸曰：六氣即五行之論，知五行即知六氣矣。世不知五運，即不知五行也，不知五行，即不知六氣矣。</p>

<h2>五運六氣離合篇</h2>
<p>鬼臾區問曰：五運與六氣並講，人以為異，奈何？岐伯曰：五運非六氣則陰陽難化，六氣非五運則疾病不成，二者合而不離也。夫寒暑濕燥風火，此六氣也；金木水火土，此五運也。六氣分為六，五運分為五，何不可者。詎知六氣可分而五運不可分也。蓋病成於六氣，可指為寒暑濕燥風火，病成於五運，不可指為金木水火土。以金病必兼水，水病必兼木，木病必兼火，火病必兼土，土病必兼金也。且有金病而木亦病，木病而土亦病，土病而水亦病，水病而火亦病，火病而金亦病也。故六氣可分門以論症，五運終難拘歲以分門，誠以六氣隨五運以為轉移，五臟因六氣為變亂，此分之不可分也。鬼臾區曰：然則何以治六氣乎？岐伯曰：五運之盛衰，隨五臟之盛衰為強弱，五臟盛而六氣不能衰，五臟強而六氣不能弱，逢司天在泉之年，寒暑濕燥風火有病有不病者，正五臟強而不弱也，所以五臟盛者，何畏運氣之侵哉。鬼臾曰：善。</p>
<p>陳士鐸曰：六氣之病因五臟之不調也，五臟之不調即五行之不正也，調五行即調六氣矣。</p>

<h2>六氣分門篇</h2>
<p>雷公問於岐伯曰：五運六氣合而不離，統言之可也，何鬼臾區分言之多乎？岐伯曰：五運不可分，六氣不可合，雷公曰：其不可合者何也？岐伯曰：六氣之中有暑火之異也。雷公曰：暑火皆火也，何分乎？岐伯曰：火不一也。暑，外火，火，內火也。雷公曰：等火耳，火與火相合而相應也，奈何異視之？岐伯曰：內火之動，必得外火之引，外火之侵，必得內火之召也，似可合以立論，而終不可合以分門者，內火與外火異也。蓋外火，君火也；內火，相火也。君火即暑，相火即火，暑乃陽火，火乃陰火。火性不同，烏可不區而別乎？六氣為陰陽，分三陰三陽也。三陰三陽中分陽火陰火者，分君相之二火也。五行概言火而不分君相，六氣分言火而各配支幹，二火分配而暑與火各司其權，各成其病矣，故必宜分言之也。臾區之說非私言也，實聞予論而推廣之。雷公曰：予昧矣，請示世之不知二火者。</p>
<p>陳士鐸曰：五行止有一火，六氣乃有二火，有二火乃分配支幹矣。支幹雖分，而君相二火實因六氣而異，言之於不可異而異者，異之於陰陽之二火也。</p>

<h2>六氣獨勝篇</h2>
<p>雍父問曰：天地之氣，陰陽盡之乎？岐伯曰：陰陽足以包天地之氣也。雖然陰陽之中變化錯雜，未可以一言盡也。雍父曰：請言其變。岐伯曰：六氣盡之矣。雍父曰：六氣是公之已言也，請言所未言。岐伯曰：六氣之中，有餘不足，勝復去留，臾區言之矣，尚有一端未言也。遇司天在泉之年，不隨天地之氣轉移，實有其故，不可不論也。雍父曰：請悉論之。岐伯曰：辰戌之歲，太陽司天，而天柱不能窒抑之，此肝氣之勝也。巳亥之歲，厥陰司天，而天蓬不能窒抑之，此心氣之勝也。丑未之歲，太陰司天，而天蓬不能窒抑之，此包絡之氣勝也。子午之歲，少陰司天，而天衝不能窒抑之，此脾氣之勝也。寅申之歲，少陽司天，而天英不能窒抑之，此肺氣之勝也。卯酉之歲，陽明司天，而天芮不能窒抑之，此腎氣之勝也。雍父曰：司天之勝，予知之矣，請言在泉之勝。岐伯曰：丑未之歲，太陽在泉，而地晶不能窒抑之，此肝膽之氣勝也。寅申之歲，厥陰在泉，而地玄不能窒抑之，此心與小腸之氣勝也。辰戌之歲，太陰在泉，而地玄不能窒抑之，此包絡三焦之氣勝也。卯酉之歲，少陰在泉，而地蒼不能窒抑之，此脾胃之氣勝也。巳亥之歲，少陽在泉，而地彤不能窒抑之，此肺與大腸之氣勝也，子午之歲，陽明在泉，而地阜不能窒抑之，此腎與膀胱之氣勝也。雍父曰：予聞順天地之氣者昌，逆天地之氣者亡，今不為天地所窒抑，是逆天地矣，不夭而獨存，何也？岐伯曰：順之昌者，順天地之正氣也；逆之亡者，逆天地之邪氣也。順可逆而逆可順乎？雍父曰：同是人也，何以能獨勝乎？岐伯曰：人之強弱不同，縱欲與節欲異也。雍父曰：善。</p>
<p>陳士鐸曰：天蓬、地玄，獨有二者，正分其陰陽也。陰陽同而神亦同者，正顯其順逆也，可見宜順不宜逆矣。</p>

<h2>三合篇</h2>
<p>雷公問曰：寒暑燥濕風火，此六氣也，天地之運化，何合於人而生病？岐伯曰：五行之生化也。雷公曰：人之五臟分金木水火土，彼此有勝負而人病，此臟腑之自病也，何關於六氣乎？岐伯曰：臟腑之五行，即天之五行，地之五行也，天地人三合而生化出矣。雷公曰：請問三合之生化？岐伯曰：東方生風，風生木，木生酸，酸生肝，肝生筋，筋生心，在天為風，在地為木，在體為筋，在氣為柔，在臟為肝，其性為瞬，其德為和，其用為動，其色為蒼，其化為榮，其蟲毛，其政為散，其令宣發，其變摧拉，其眚隕落，其味為酸，其志為怒，怒傷肝，悲勝怒，風傷肝，燥勝風，酸傷筋，辛勝酸，此天地之合人肝也。南方生熱，熱生火，火生苦，苦生心，心生血，血生脾，在天為熱，在地為火，在體為脈，在氣為炎，在臟為心，其性為暑，其德為顯，其用為躁，其色為赤，其化為茂，其蟲羽，其政為明，其令鬱蒸，其變炎爍，其眚燔焫，其味為苦，其志為喜，喜傷心，恐勝喜，熱傷氣，寒勝熱，苦傷氣，咸勝苦，此天地之合人心也。中央生濕，濕生土，土生甘，甘生脾，脾生肉，肉生肺，在天為濕，在地為土，在體為肉，在氣為充，在臟為脾，其性靜堅，其德為濡，其用為化，其色為黃，其化為盈，其蟲倮，其政為謐，其令雲雨，其變動注，其眚淫潰，其味為甘，其志為思，思傷脾，怒勝思，濕傷肉，風勝濕，甘傷脾，酸勝甘，此天地之合人脾也。西方生燥，燥生金，金生辛，辛生肺，肺生皮毛，在天為燥，在地為金，在體為皮毛，在氣為成，在臟為肺，其性為涼，其德為清，其用為固，其色為白，其化為斂，其蟲介，其政為勁，其令霧露，其變肅殺，其眚蒼落，其味為辛，其志為憂，憂傷肺，喜勝憂，熱傷皮毛，寒勝熱，辛傷皮毛，苦勝辛，此天地之合人肺也。北方生寒，寒生水，水生咸，咸生腎，腎生骨髓，髓生肝，在天為寒，在地為水，在體為骨，在氣為堅，在臟為腎，其性為凜，其德為寒，其用為藏，其色為黑，其化為肅，其蟲鱗，其政為靜，其令為寒，其變凝冽，其眚冰雹，其味為咸，其志為恐，恐傷腎，思勝恐，寒傷血，燥勝寒，咸傷血，甘勝咸，此天地之合人腎也。五臟合金木水火土，斯化生之所以出也。天地不外五行，安得不合哉。雷公曰：五行止五，不應與六氣合也。岐伯曰：六氣即五行也。雷公曰：五行五而六氣六，何以相合乎？岐伯曰：使五行止五，則五行不奇矣，五行得六氣，則五行之變化無窮，余所以授六氣之論，而臾區乃肆言之也。雷公曰：六氣之中各配五行，獨火有二，此又何故？岐伯曰：火有君相之分耳。人身火多於水，五臟之中，無臟非火也，是以天地之火亦多於金木水土也，正顯天地之合於人耳。雷公曰：大哉言乎！釋蒙解惑，非天師之謂歟。請載登六氣之篇。</p>
<p>陳士鐸曰：五行不外五臟，五臟即六氣之論也。因五行止有五，惟火為二，故六氣合二火而論之，其實合五臟而言之也。</p>

<h1>七卷</h1>

<h2>四時六氣異同篇</h2>
<p>天老問曰：五臟合五時，六經應六氣，然《診要經終篇》以六氣應五臟而終於六經，《四時刺逆從論》以六經應四時而終於五臟，《診要篇》以經脈之生於五臟而外合於六經，《四時刺逆從論》以經脈本於六氣而外連於五臟，何也？岐伯曰：人身之脈氣，上通天，下合地，未可一言盡也，故彼此錯言之耳。天老曰：章句同而意旨異，不善讀之，吾恐執而不通也。岐伯曰：醫統天地人以立論，不知天，何知地，不知地，何知人，脈氣循於皮肉筋骨之間，內合五行，外合六氣，安得一言而盡乎，不得不分之以歸於一也。天老曰：請問歸一之旨。岐伯曰：五時之合五臟也，即六氣之合五臟也；六氣之應六經也，即五時之應六經也。知其同，何難知異哉。天老曰：善。</p>
<p>陳士鐸曰：何嘗異，何必求同，何嘗同，不妨言異，人惟善求之可耳。</p>

<h2>司天在泉分合篇</h2>
<p>天老問曰：司天在泉，二氣相合，主歲何分？岐伯曰：歲半以上，天氣主之，歲半以下，地氣主之。天老曰：司天之氣主上半歲乎？在泉之氣主下半歲乎？岐伯曰：然。天老曰：司天之氣何以主上半歲也？岐伯曰：春夏者，天之陰陽也，陽生陰長，天之氣也，故上半歲主之。天老曰：在泉之氣何以主下半歲也？岐伯曰：秋冬者，地之陰陽也，陰殺陽藏，地之氣也，故下半歲主之。天老曰：一歲之中，天地之氣截然分乎？岐伯曰：天地之氣，無日不交。司天之氣始於地之左，在泉之氣本乎天之右，一歲之中，互相感召，雖分而實不分也。天老曰：然則司天在泉何必分之乎？岐伯曰：不分言之，則陰陽不明，奚以得陰中有陽，陽中有陰之義乎。司天之氣始於地而終於天，在泉之氣始於天而終於地，天地升降環轉不息，實有如此，所以可合而亦可分之也。天老曰：司天之氣何以始於地？在泉之氣何以始於天乎？岐伯曰：司天之氣始於地之左，地中有天也；在泉之氣始於天之右，天中有地也。天老曰：善。</p>
<p>陳士鐸曰：司天在泉，合天地以論之，才是善言天地者。</p>

<h2>從化篇</h2>
<p>天老問曰：燥從熱發，風從燥起，埃從風生，雨從濕注，熱從寒來，其故何歟？岐伯曰：五行各有勝，亦各有制也。制之太過，則受制者應之，反從其化也。所以熱之極者，燥必隨之，此金之從火也。燥之極者，風必隨之，此木之從金也。風之極者，塵霾隨之，此土之從木也。濕蒸之極者，霖雨隨之，此水之從土也。陰寒之極者，雷電隨之，此火之從水也。乃承製相從之理，何足異乎。天老曰：何道而使之不從乎？岐伯曰：從火者潤其金乎，從金者抒其木乎，從木者培其土乎，從土者導其水乎，從水者助其火乎，毋不足，毋有餘，得其平而不從矣。天老曰：潤其金而金仍從火，抒其木而木仍從金，培其土而土仍從木，導其水而水仍從土，助其火而火仍從水，奈何？岐伯曰：此陰陽之已變，水火之已漓，非藥石針灸之可療也；</p>
<p>陳士鐸曰：言淺而論深。</p>

<h2>冬夏火熱篇</h2>
<p>胡孔甲問於岐伯曰：冬令嚴冷凜冽之氣逼人肌膚，人宜畏寒，反生熱症，何也？岐伯曰：外寒則內益熱也。胡孔甲曰：外寒內熱，人宜同病，何故獨熱？岐伯曰：腎中水虛，不能制火，因外寒相激而火發也。人生無臟非火，無腑非火也，無不藉腎水相養，腎水盛則火藏，腎水涸則火動。內無水養，則內熱已極，又得外寒束之，則火之鬱氣一發多不可救。胡孔甲曰：火必有所助而後盛，火發於外，外無火助，宜火之少衰，乃熱病發於夏轉輕，發於冬反重何也？岐伯曰：此正顯火鬱之氣也。暑日氣散而火難居，冬日氣藏而火難泄。難泄而泄之，則鬱怒之氣所以難犯而轉重也。胡孔甲曰：可以治夏者治冬乎？岐伯曰：辨其火熱之真假耳，毋論冬夏也。胡孔甲曰：善。</p>
<p>陳士鐸曰：治郁無他治之法，人亦治鬱而已矣。</p>

<h2>暑火二氣篇</h2>
<p>祝融問於岐伯曰：暑與火皆熱症也，何六氣分為二乎？岐伯曰：暑病成於夏，火病四時皆有，故分為二也。祝融問曰：火病雖四時有之，然多成於夏，熱蘊於夏而發於四時，宜暑包之矣。岐伯曰：火不止成於夏，四時可成也。火宜藏，不宜發。火發於夏日者，火以引火也。其在四時雖無火之可發，而火蘊結於臟腑之中，每能自發，其酷烈之勢較外火引之者更橫，安可談暑而不談火乎。祝融曰：火不可發也，發則多不可救，與暑熱之相犯有異乎？岐伯曰：暑與火熱同而實異也，惟其不同，故夏日之火，不可與春秋冬之火共論。惟其各異，即夏日之暑不可與夏日之火併舉也。蓋火病乃臟腑自生之熱，非夏令暑熱所成之火，故火症生於夏，仍是火症，不可謂火是暑，暑即是火也。祝融曰：暑火非一也，分二氣宜矣。</p>
<p>陳士鐸曰：暑與火不可並論，獨土至理。</p>

<h2>陰陽上下篇</h2>
<p>常伯問於岐伯曰：陽在上，陰在下，陽氣亦下行乎？岐伯曰：陰陽之氣上下相同，陽之氣未嘗不行於下也。常伯曰：寒厥到膝不到顛，頭痛到顛不到膝，非陰氣在下，陽氣在上之明驗乎？岐伯曰：陰氣生於陽，陽氣生於陰，蓋上下相通，無彼此之離也。陽氣從陰出於經脈之外，陰氣從陽入於經脈之中，始得氣血貫通，而五臟七腑無不周遍也。寒厥到膝，陽不能達也，非陽氣專在上而不在下也。頭痛到顛，陰不能降也，非陰氣專在下而不在上也。天地不外陰陽，天地之陰陽不交，則寒暑往來、收藏生長咸無准實，人何獨異哉。</p>
<p>陳士鐸曰：陽宜達，陰宜降也，二者相反，則達者不達，降者不降矣。論理陽之達有降之勢，陰之降有達之機，總貴陰陽之不可反也。</p>

<h2>營衛交重篇</h2>
<p>雷公問曰：陽氣出於衛氣，陰氣出於營氣。陰主死，陽主生。陽氣重於陰氣，宜衛氣重於營氣矣。岐伯曰：營衛交重也。雷公曰：請問交重之旨。岐伯曰：宗氣積於上焦，營氣出於中焦，衛氣出於下焦。蓋有天，有陽氣，有陰氣，人稟天地之二氣，亦有陰陽。衛氣即陽也，由下焦至中焦，以升於上焦，從陰出陽也。營氣即陰也，由中焦至上焦，以降於下焦，從陽入陰也。二氣並重，交相上下，交相出入，交相升降，而後能生氣於無窮也。雷公曰：陰陽不可離，予既已知之矣，但陰氣難升者謂何？岐伯曰：陰氣精專，必隨宗氣以同行於經隧之中，始於手太陰肺經太淵穴，而行於手陽明大腸經，足陽明胃經，足太陰脾經，手少陰心經，手太陽小陽經，足太陽膀胱經，足少陰腎經，手厥陰心包經，手少陽三焦經，足少陽膽經，足厥陰肝經，而又始於手太陰肺經。蓋陰在內，不在外。陰主守內，不主衛外。紆折而若難升，實無咎之不升也。故營衛二氣，人身並重，未可重衛輕營也。雷公曰：善。</p>
<p>陳士鐸曰：營衛原並重也，世重衛而輕營者，不知營衛也。</p>

<h2>五臟互根篇</h2>
<p>雷公問於岐伯曰：陽中有陰，陰中有陽，余既知之矣，然論陰陽之變遷也，未知陰中有陽，陽中有陰，亦有定位乎？岐伯曰：陰陽互相根也，原無定位，然求其位亦有定也。肺開竅於鼻，心開竅於舌，脾開竅於口，肝開竅於目，腎開竅於耳，厥陰與督脈會於巔，此陽中有陰，陰居陽位也。肝與膽為表裡，心與小腸為表裡，腎與膀胱為表裡，脾與胃為表裡，肺與大腸為表裡，包絡與三焦為表裡，此陰中有陽，陽居陰位也。雷公曰：請言互根之位。岐伯曰：耳屬腎而聽聲，聲屬金，是耳中有肺之陰也。鼻屬肺而聞臭，臭屬火，是鼻中有心之陰也。舌屬心而知肺味，味屬土，是舌中有脾之陰也。目有五輪，通貫五臟，腦屬腎，各會諸體，是耳與腦有五臟之陰也。大腸俞在脊十六椎旁，胃俞在脊十二椎旁，小腸俞在背第十八椎，膽俞在脊十椎旁，膀胱俞在中膂第二十椎，三焦俞在腎俞之上，脊第十三椎之旁，包絡無俞，寄於膈俞，在上七椎之旁，是七腑陽中有陰之位也。惟各有位，故其根生生不息也，否則虛器耳，何根之有哉。雷公曰：善。</p>
<p>陳士鐸曰：陰中有陽，陽中有陰，無位而有位者，以陰陽之有根也。</p>

<h2>八風固本篇</h2>
<p>雷公問於岐伯曰：八風出於天乎？出於地乎？抑出於人乎？岐伯曰：八風出於天地人身之五風，合而成病，人無五風，天地之風不能犯也。雷公曰：請問八風之分天地也。岐伯曰：八風者，春夏秋冬東西南北之風也。春夏秋冬之風，時令之風也，屬於天。東西南北之風，方隅之風也，屬於地。然而地得天之氣，風乃長，天得地之氣，風乃大，是八風屬於天地，可分而不可分也。雷公曰：人之五風，何以合天地乎？岐伯曰：五風者，心肝脾肺腎之風也，五臟虛而風生矣。以內風召外風，天地之風始翕然相合。五臟不虛，內既無風，外風何能入乎？雷公曰：風既入矣，祛外風乎？抑消內風乎？岐伯曰：風由內召，不治內將何治乎。雷公曰：治內風而外風不散奈何？岐伯曰：內風不治，外風益入，安得散乎？治臟固其本，治風衛其標，善治八風者也。雷公曰：何言之善乎！請志之傳示來者。</p>
<p>陳士鐸曰：小風之來，皆外感也。外感因於內招，故單治內不可也，單治外亦不可也，要在分之中宜合，合之中宜分也。</p>

<h1>八卷</h1>

<h2>八風命名篇</h2>
<p>少俞問岐伯曰：八風分春夏秋冬東西南北乎？岐伯曰：然。少俞曰：東西南北不止四風，合之四時，則八風不足以概之也。岐伯曰：風不止八，而八風實足概之。少俞曰：何謂也？岐伯曰：風從東方來，得春氣也；風從東南來，得春氣而兼夏氣矣；風從南方來，得夏氣也；風從西南來，得夏氣而兼秋氣矣；風從西方來，得秋氣也；風從西北來，得秋氣而兼冬氣矣；風從北方來，得冬氣也；風從東北來；得冬氣而兼春氣矣，此方隅時令合而成八也。少俞曰：八風有名乎？岐伯曰：東風名和風也，東南風名薰風也，南風名熱風也，西南風名溫風也，西風名商風也，西北風名涼風也，北風名寒風也，東北風名陰風也，又方隅時令合而名之也。少俞曰：其應病何如乎？岐伯曰：和風傷在肝也，外病在筋；薰風傷在胃也，外病在肌；熱風傷在心也，外病在脈；溫風傷在脾也，外病在腹；商風傷在肺也，外病在皮；涼風傷在膀胱也，外病在營衛；寒風傷在腎也，外病在骨；陰風傷在大腸也，外病在胸脅。此方隅時令與臟腑相合而相感也。然而臟腑內虛，八風因得而中之，邪之所湊，其氣必虛，非空言也。少俞曰：人有臟腑不虛而八風中之者，又是何謂？岐伯曰：此暴風猝中，不治而自愈也。</p>
<p>陳士鐸曰：八風之來，皆外感也。外感因於內召，故治內而外邪自散，若外自病者，不必治之。</p>

<h2>太乙篇</h2>
<p>風后問於岐伯曰：八風可以占疾病之吉凶乎？岐伯曰：天人一理也，可預占以斷之。風后曰：占之不驗何也？岐伯曰：有驗有不驗者，人事之不同耳，天未嘗不可占也。風后曰：請悉言之。岐伯曰：八風休咎，無日無時不可占也。如風從東方來，寅卯辰時則順，否則逆矣，逆則病。風從北方來，申酉戌時則順，否則逆矣，逆則病。風從南方來，巳午未時則順，否則逆矣，逆則病。風從北方來，亥子丑時則順，否則逆矣，逆則病。風后曰：予聞古之占風也，多以太乙之日為主。天師曰：無日無時不可占也，恐不可為訓乎？岐伯曰：占風以太乙日，決病所以驗不驗也。風后曰：舍太乙以占吉凶，恐不驗更多耳。岐伯曰：公何以信太乙之深也。風后曰：太乙移日，天必應之風雨，風雨和則民安而病少，風雨暴則民勞而病多。太乙在冬至日有變，佔在君；太乙在春分日有變，佔在相；太乙在中宮日有變，佔在相吏；太乙在秋分日有變，佔在將；太乙在夏至日有變，佔在民。所謂有變者，太乙居五宮之日，得非常之風也。各以其所主占之，生吉克凶，多不爽也。岐伯曰：請言風雨之暴。風后曰：暴風南方來，其傷人也，內舍於心，外在脈，其氣主熱。暴風西南方來，其傷人也，內舍於脾，外在肌，其氣主弱。暴風西方來，其傷人也，內舍於肺，外在皮膚，其氣主燥。暴風西北方來，其傷人也，內舍於小腸，外在手太陽脈，脈絕則溢，脈閉則結不通，善暴死，其氣主清。暴風從北方來，其傷人也，內舍於腎，外在骨與肩背之膂筋，其氣主寒。暴風東北方來，其傷人也，內舍於大腸，外在兩脅腋骨下及肢節，其氣主溫。暴風東方來，其傷人也，內舍於肝，外在筋紐，其氣主濕。暴風東南方來，其傷人也，內合於胃，外在肌肉，其氣主重著。言風而雨概之矣。岐伯曰：人見風輒病者，豈皆太乙之移日乎？執太乙以占風，執八風以治病，是泥於論風也。夫百病皆始於風，人之氣血虛餒，風乘虛輒入矣，何待太乙居宮哉。</p>
<p>陳士鐸曰：人病全不在太乙，說得澹而有味。</p>

<h2>親陽親陰篇</h2>
<p>風后問於岐伯曰：風與寒異乎？岐伯曰：異也。曰：何異乎？岐伯曰：風者，八風也；寒者，寒氣也。雖風未有不寒者，要之風各異也。風后曰：風與寒有異，入人臟腑，亦有異乎？岐伯曰：風入風府，寒不入風府也。風后曰：其義何居？岐伯曰：風，陽邪；寒，陰邪。陽邪主降，陰邪主升。主降者，由風府之穴而入，自上而下也；主升者，不由風府，由臍之穴而入，自下而上也。風后曰：陰邪不從風府入，從何穴而入乎？岐伯曰：風府之穴，陽經之穴也；臍之穴，陰經之穴也。陽邪從陽而入，故風入風門也；陰邪從陰而入，故寒入臍也。陽親陽，陰親陰，此天地自然之道也。風后曰：風穴招風，寒穴招寒。風門，風穴也，宜風之入矣。臍非寒穴也，何寒從臍入乎？岐伯曰：臍非寒穴，通於命門，命門火旺則寒不能入，命門火衰則腹內陰寒，臍有不寒者乎？陰寒之邪遂乘虛寒之隙，奪臍而入矣，奚論寒穴哉。風后曰：善。</p>
<p>陳士鐸曰：陽邪入風府，陰邪入臍，各有道路也。</p>

<h2>異傳篇</h2>
<p>雷公問曰：各臟腑之病皆有死期，有一日即死者，有二三日死者，有四五日死者，有五六日至十餘日死者，可晰言之乎？岐伯曰：病有傳經不傳經之異，故死有先後也。雷公曰：請問傳經。岐伯曰：邪自外來，內入臟腑，必傳經也。雷公曰：請問不傳經。岐伯曰：正氣虛自病，則不傳經也。雷公曰：移寒移熱，即傳經之謂乎？岐伯曰：移即傳之義，然移緩傳急。雷公曰：何謂乎？岐伯曰：移者，臟腑自移；傳者，邪不欲在此腑而傳之彼臟也。故移之勢緩而凶，傳之勢急而暴，其能殺人則一也。雷公曰：其傳經殺人若何？岐伯曰：邪入於心一日死，邪入於肺，三日傳於肝，四日傳於脾，五日傳於胃，十日死。邪入於肝，三日傳於脾，五日傳於胃，十日傳於腎，又三日邪散而愈，否則死。邪入於脾，一日傳於胃，二日傳於腎，三日傳於膀胱，十四日邪散而愈，否則死。邪入於胃，五日傳於腎，八日傳於膀胱，又五日傳於小腸，又二日傳於心則死。邪入於腎，三日傳於膀胱，又三日傳於小腸，又三日傳於心則死。邪入於膀胱，五日傳於腎，又一日傳於小腸，又一日傳於心則死。邪入於膽，五日傳於肺，又五日傳於腎，又五日傳於心則死。邪入於三焦，一日傳於肝，三日傳於心則死。邪入於胞絡，一日傳於胃，二日傳於膽，三日傳於脾，四日傳於腎，五日傳於肝，不愈則再傳，再傳不愈則死。邪入於小腸，一日傳於膀胱，二日傳於腎，三日傳於包絡，四日傳於胃，五日傳於脾，六日傳於肺，七日傳於肝，八日傳於膽，九日傳於三焦，十日傳於大腸，十一日復傳於腎，如此再傳，不已則死。邪入於大腸，一日傳於小腸，二日傳於三焦，三日傳於肺，四日傳於脾，五日傳於肝，六日傳於腎，七日傳於心則死。不傳心，仍傳小腸則生也。邪入於膽，往往不傳，故無死期可定，然邪入於膽，往往如見鬼神，有三四日即死者，此熱極自焚也。雷公曰：善。</p>
<p>陳士鐸曰：移緩傳急，確有死期可定，最說得妙。</p>

<h2>傷寒知變篇</h2>
<p>雷公問曰：傷寒一日，巨陽受之，何以頭項痛，腰脊強也？岐伯曰：巨陽者，足太陽也。其脈起於目內眥，上額交巔，入絡腦，還出別下項，循肩膊內，挾脊抵腰中。寒邪必先入於足太陽之經，邪入足太陽，則太陽之經脈不通，為寒邪所據，故頭項痛，腰脊強也。雷公曰：二日陽明受之，宜身熱目疼鼻乾不得臥矣。而頭項痛，腰脊強，又何故歟？岐伯曰：此巨陽之餘邪未散也。雷公曰：太陽之邪未散，宜不入陽明矣。岐伯曰：二日則陽明受之矣。因邪留戀太陽，未全入陽明，故頭項尚痛，腰脊尚強，非二日陽明之邪全不受也。雷公曰：三日少陽受之，宜胸脅痛耳聾矣，邪宜出陽明矣。既不入少陽，而頭項腰脊之痛與強，仍未除者，又何故歟？岐伯曰：此邪不欲傳少陽，轉回於太陽也。雷公曰：邪傳少陽矣，宜傳入於三陰之經，何以三日之後太陽之症仍未除也？岐伯曰：陽經善變，且太陽之邪與各經之邪不同，各經之邪循經而入，太陽之邪出入自如，有入有不盡入也。惟不盡入，故雖六七日而其症未除耳，甚至七日之後，猶然頭項痛，腰脊強，此太陽之邪乃原留之邪，非從厥陰復出而傳之足太陽也。雷公曰：四日太陰受之，腹滿嗌乾，五日少陰受之，口乾舌燥，六日厥陰受之，煩滿囊縮，亦有不盡驗者，何也？岐伯曰：陰經不變，不變而變者，邪過盛也。雷公曰：然則三陽三陰之經皆善變也，變則不可以日數拘矣。岐伯曰：日數者，言其常也，公問者，言其變也，變而不失其常，則變則可生，否則死矣。雷公曰：兩感於寒者變乎？岐伯曰：兩感者，越經之傳也，非變也。</p>
<p>陳士鐸曰：傷寒之文，世人不知讀此論，人能悟否。無奈治傷寒者，不能悟也。</p>

<h2>傷寒同異篇</h2>
<p>雷公問於岐伯曰：傷寒之病多矣，可悉言之乎？岐伯曰：傷寒有六，非冬傷於寒者，舉不得謂傷寒也。雷公曰：請言其異。岐伯曰：有中風，有中暑，有中熱，有中寒，有中濕，有中疫，其病皆與傷寒異。傷寒者，冬月感寒邪，入營衛，由腑而傳於臟也。雷公曰：暑熱之症感於夏，不感於三時，似非傷寒矣，風寒濕疫多感於冬日也，何以非傷寒乎？岐伯曰：百病皆起於風，四時之風，每直中於臟腑，非若傳經之寒，由淺而深入也。寒之中人，自在嚴寒，不由營衛直入臟腑，是不從皮膚漸進，非傳經之傷寒也。水王於冬，而冬日之濕反不深入，以冬令收藏也，他時則易感矣。疫來無方，四時均能中疫，而冬疫常少，二症俱不傳經，皆非傷寒也。雷公曰：寒熱之不同也，何熱病亦謂之傷寒乎？岐伯曰：寒感於冬，則寒必變熱，熱變於冬，則熱即為寒。故三時之熱病，不可謂寒，冬日之熱病，不可謂熱，是以三時之熱病不傳經，冬日之熱病必傳經也。雷公曰：熱病傳經，乃傷寒之類也，非正傷寒也。何天師著《素問》有熱病傳經之文，而傷寒反無之，何也？岐伯曰：類宜辯而正不必辯也，知類即知正矣。雷公曰：善。</p>
<p>陳士鐸曰：傳寒必傳經，斷在嚴寒之時，非冬日傷寒，舉不可謂傷寒也。辨得明，說得出。</p>

<h2>風寒殊異篇</h2>
<p>風后問於岐伯曰：冬傷於寒與春傷於寒，有異乎？岐伯曰：春傷於寒者，風也，非寒也。風后曰：風即寒也，何異乎？岐伯曰：冬日之風則寒，春日之風則溫。寒傷深，溫傷淺。傷深者入少陽而傳裡，傷淺者入少陽而出表，故異也。風后曰：傳經乎？岐伯曰：傷冬日之風則傳，傷春日之風則不傳也。風后曰：其不傳何也？岐伯曰：傷淺者，傷在皮毛也。皮毛屬肺，故肺受之，不若傷深者，入於營衛也。風后曰：春傷於風，頭痛鼻塞，身亦發熱，與冬傷於寒者何無異也。岐伯曰：風入於肺，鼻為之不利，以鼻主肺也。肺既受邪，肺氣不宣，失清肅之令，必移邪而入於太陽矣。膀胱畏邪，堅閉其經，水道失行，水不下泄，火乃炎上，頭即痛矣。夫頭乃陽之首也，既為邪火所據，則一身之真氣皆與邪爭，而身乃熱矣。風后曰：肺為胃之子，肺受邪，宜胃來援，何以邪入肺而惡熱口渴之症生，豈生肺者轉來刑肺乎？岐伯曰：胃為肺之母，見肺子之寒，必以熱救之。夫胃之熱，心火生之也，胃得心火之生，則胃土過旺，然助胃必克肺矣，火能刑金，故因益而反損也。風后曰：嘔吐者何也？岐伯曰：此風傷於太陰也。風在地中，土必震動，水泉上溢則嘔吐矣。散風而土自安也。風后曰：風邪入太陽頭痛，何以有痛不痛之殊也。岐伯曰：肺不移風於太陽則不痛耳。風后曰：風不入於太陽，頭即不痛乎？岐伯曰：肺通於鼻，鼻通於腦，風入於肺，自能引風入腦而作頭痛。肺氣旺，則風入於肺而不上走於腦，故不痛也。風后曰：春傷於風，往來寒熱，熱結於裡，何也？岐伯曰：冬寒入於太陽，久則變寒；春風入於太陽，久則變熱。寒則動，傳於臟；熱則靜，結於腑。寒在臟，則陰與陽戰而發熱，熱在腑，則陽與陰戰而發寒，隨臟腑之衰旺，分寒熱之往來也。風后曰：傷風自汗何也？岐伯曰：傷寒之邪，寒邪也；傷風之邪，風邪也。寒邪入胃，胃惡寒而變熱；風邪入胃，胃喜風而變溫，溫則不大熱也。得風以揚之，火必外泄，故汗出矣。風后曰：春傷於風，下血譫語，一似冬傷於寒之病，何也？岐伯曰：此熱入血室，非狂也。傷於寒者，熱自入於血室之中，其熱重；傷於風者，風祛熱入於血室之內，其熱輕也。風后曰：譫語而潮熱者何也？岐伯曰：其脈必滑者也。風后曰：何也？岐伯曰：風邪入胃，胃中無痰，則發大熱，而譫語之聲高；胃中有痰，則發潮熱而譫語之聲低。潮熱發譫語，此痰也，滑者痰之應也。風后曰：春傷於風，發厥，心下悸，何也？岐伯曰：傷於寒者邪下行，傷於風者邪上衝也。寒乃陰邪，陰則走下：風乃陽邪，陽則升上。治寒邪先定厥，後定悸；治風邪先定悸，後定厥，不可誤也。風后曰：傷於風而發熱，如見鬼者，非狂乎？岐伯曰：狂乃實邪，此乃虛邪也。實邪從太陽來也，邪熾而難遏；虛邪從少陰來也，邪旺而將衰。實邪，火逼心君而外出，神不守於心也；虛邪，火引肝魂而外遊，魄不守於肺也。風后曰：何論之神乎！吾無測師矣。</p>
<p>陳士鐸曰：風與寒殊，故論亦殊，人當細觀之。</p>

<h2>陰寒格陽篇</h2>
<p>盤盂問於岐伯曰：大小便閉結不通，飲食輒吐，面赭唇焦，飲水亦嘔，脈又沉伏，此何症也？岐伯曰：腎虛寒盛，陰格陽也。盤盂曰：陰何以格陽乎？岐伯曰：腎少陰經也，惡寒喜溫。腎寒則陽無所附，升而不降矣。盤盂曰：其故何也？岐伯曰：腎中有水火存焉，火藏水中，水生火內，兩相根而兩相制也，邪入則水火相離而病生矣。盤盂曰：何邪而使之離乎？岐伯曰：寒熱之邪皆能離之，而寒邪為甚。寒感之輕，則腎中之虛陽上浮，不至格拒之至也。寒邪太盛，拒絕過堅，陽杜陰而力衰，陰格陽而氣旺，陽不敢居於下焦，沖逆於上焦矣。上焦沖逆，水穀入喉，安能下入於胃乎。盤盂曰：何以治之？岐伯曰：以熱治之。盤盂曰：陽宜陰折，熱宜寒折，今陽在上而作熱，不用寒反用熱，不治陰反治陽，豈別有義乎？岐伯曰：上熱者，下逼之便熱也。陽升者，陰祛之使升也。故上熱者下正寒也，以陰寒折之轉害之矣，故不若以陽熱之品，順其性而從治之，則陽回而陰且交散也。盤盂曰：善。</p>
<p>陳士鐸曰：陰勝必須陽折，陽勝必須陰折，皆從治之法也。</p>

<h2>春溫似疫篇</h2>
<p>風后問於岐伯曰：春日之疫，非感風邪成之乎？岐伯曰：疫非獨風也。春日之疫，非風而何。風后曰：然則春溫即春疫乎？岐伯曰：春疫非春溫也。春溫有方而春疫無方也。風后曰：春疫無方，何其疾之一似春溫也？岐伯曰：春溫有方，而時氣亂之，則有方者變而無方，故與疫氣正相同也。風后曰：同中有異乎？岐伯曰：疫氣熱中藏殺，時氣熱中藏生。風后曰：熱中藏生，何多死亡乎？岐伯曰：時氣者，不正之氣也。臟腑聞正氣而陰陽和，聞邪氣而陰陽亂，不正之氣即邪氣也。故聞之而輒病，轉相傳染也。風后曰：聞邪氣而不病者，又何故歟？岐伯曰：臟腑自和，邪不得而亂之也。春溫傳染，亦臟腑之虛也。風后曰：臟腑實而邪遠，臟腑空而邪中，不洵然乎。</p>
<p>陳士鐸曰：溫似疫症，不可謂溫即是疫，辨得明爽。</p>

<h1>九卷</h1>

<h2>補瀉陰陽篇</h2>
<p>雷公問於岐伯曰：人身陰陽，分於氣血，《內經》詳之矣，請問其餘。岐伯曰：氣血之要，在氣血有餘不足而已。氣有餘則陽旺陰消，血不足則陰旺陽消。雷公曰：治之奈何？岐伯曰：陽旺陰消者，當補其血；陰旺陽消者，當補其氣。陽旺陰消者，宜瀉其氣；陰旺陽消者，宜瀉其血。無不足，無有餘，則陰陽平矣。雷公曰：補血則陰旺陽消，不必再瀉其氣；補氣則陽旺陰消，不必重瀉其血也。岐伯曰：補血以生陰者，言其常補陰也；瀉氣以益陰者，言其暫瀉陽也。補氣以助陽者，言其常補陽也；瀉血以救陽者，言其暫瀉陰也。故新病可瀉，久病不可輕瀉也。久病宜補，新病不可純補也。雷公曰：治血必當理氣乎？岐伯曰：治氣亦宜理血也。氣無形，血有形，無形生有形者，變也，有形生無形者，常也。雷公曰：何謂也？岐伯曰：變治急，常治緩。勢急不可緩，亟補氣以生血；勢緩不可急，徐補血以生氣。雷公曰：其故何也？岐伯曰：氣血兩相生長，非氣能生血，血不能生氣也。第氣生血者其效速，血生氣者其功遲。宜急而亟者，治失血之驟也；宜緩而徐者，治失血之後也。氣生血，則血得氣而安，無憂其沸騰也；血生氣，則氣得血而潤，無虞其乾燥也。苟血失補血，則氣且脫矣；血安補氣，則血反動矣。雷公曰：善</p>
<p>陳士鐸曰：氣血俱可補也，當於補中尋其原，不可一味呆補為妙。</p>

<h2>善養篇</h2>
<p>雷公問於岐伯曰：春三月，謂之發陳；夏三月，謂之蕃秀；秋三月，謂之容平；冬三月，謂之閉藏。天師詳載《四氣調神大論》中，然調四時則病不生，不調四時則病必作。所謂調四時者，調陰陽之時令乎？抑調人身陰陽之氣乎？願晰言之。岐伯曰：明乎哉問也！調陰陽之氣在人不在時也。春三月，調木氣也，調木氣者，順肝氣也。夏三月，調火氣也，調火氣者，順心氣也。秋三月，調金氣也，調金氣者，順肺氣也。冬三月，調水氣也，調水氣者，順腎氣也。肝氣不順，逆春氣矣，少陽之病應之。心氣不順，逆夏氣矣，太陽之病應之。肺氣不順，逆秋氣矣，太陰之病應之。腎氣不順逆冬氣矣，少陰之病應之。四時之氣可不調乎。調之實難，以陰陽之氣不易調也，故人多病耳。雷公曰：人既病矣，何法療之？岐伯曰：人以胃氣為本，四時失調，致生疾病，仍調其胃氣而已。胃調脾自調矣，脾調而肝心肺腎無不順矣。雷公曰：先時以養陰陽，又何可不講乎？岐伯曰：陽根於陰，陰根於陽。養陽則取之陰也，養陰則取之陽也。以陽養陰，以陰養陽，貴養之於豫也，何邪能幹乎。閉目塞兌，內觀心腎，養陽則漱津送入心也，養陰則漱津送入腎也，無他異法也。雷公曰：善。天老問曰：陰陽不違背而人無病，養陽養陰之法，止調心腎乎？岐伯曰：《內經》一書，皆養陽養陰之法也。天老曰：陰陽之變遷不常，養陰養陽之法，又烏可執哉？岐伯曰：公言何善乎。奇恆之病，必用奇恆之法療之。豫調心腎，養陰陽於無病時也。然而病急不可緩，病緩不可急，亦視病如何耳。故不宜汗而不汗，所以養陽也；宜汗而急汗之，亦所以養陽也。不宜下而不下，所以養陰也；宜下而大下之，亦所以養陰也。豈養陽養陰，專尚補而不尚攻乎？用攻於補之中，正善於攻也；用補於攻之內，正善於補也。攻補兼施，養陽而不損於陰，養陰而不損於陽，庶幾善於養陰陽者乎。天老曰：善。</p>
<p>陳士鐸曰：善養一篇，俱非泛然之論，不可輕用攻補也。</p>

<h2>亡陽亡陰篇</h2>
<p>鳥師問岐伯曰：人汗出不已，皆亡陽也？岐伯曰：汗出不已，非盡亡陽也。鳥師曰：汗症未有非熱也，熱病即陽病矣，天師謂非陽何也？岐伯曰：熱極則陽氣難固，故汗泄亡陽。溺屬陰，汗屬陽，陽之外泄，非亡陽而何？謂非盡亡陽者，以陽根於陰也。陽之外泄，由於陰之不守也。陰守其職，則陽根於陰，陽不能外泄也。陰失其職，則陰欲自顧不能，又何能攝陽氣之散亡乎？故陽亡本於陰之先亡也。鳥師曰：陰亡則陰且先脫，何待陽亡而死乎？岐伯曰：陰陽相根，無寸晷之離也。陰亡而陽隨之即亡，故陽亡即陰亡也，何分先後乎？鳥師曰：陰陽同亡，宜陰陽之共救矣，乃救陽則汗收而可生，救陰則汗止而難活，又何故乎？岐伯曰：陰生陽則緩，陽生陰則速。救陰而陽之絕不能遽回，救陽而陰之絕可以驟復，故救陰不若救陽也。雖然，陰陽何可離也。救陽之中附以救陰之法，則陽回而陰亦自復也。鳥師曰：陰陽之亡，非旦夕之故也，曷不於未亡之前先治之？岐天師曰：大哉言乎！亡陰亡陽之症，皆腎中水火之虛也。陽虛，補火以生水，陰虛，補水以制火，可免兩亡矣。鳥師曰：善。</p>
<p>陳士鐸曰：陰陽之亡，由於陰陽之兩不可守也。陽攝於陰，陰攝於陽，本於水火之虛，虛則亡，又何疑哉。</p>

<h2>晝夜輕重篇</h2>
<p>雷公問於歧伯曰：晝夜可辨病之輕重乎？岐伯曰：病有重輕，宜從晝夜辨之。雷公曰：辨之維何？岐伯曰：陽病晝重，陰病晝輕；陽病夜輕，陰病夜重。雷公曰：何謂也？岐伯曰：晝重夜輕，陽氣旺於晝，衰於夜也；晝輕夜重，陰氣旺於夜，衰於晝也。雷公曰：陽病晝輕，陰病夜輕，何故乎？岐伯曰：此陰陽之氣虛也。雷公曰：請顯言之。岐伯曰：陽病晝重夜輕，此陽氣與病氣交旺，陽氣未衰也，正與邪鬥，尚有力也，故晝反重耳。夜則陽衰矣，陽衰不與邪鬥，邪亦不與正鬥，故夜反輕耳。陰病晝輕夜重，此陰氣與病氣交旺，陰氣未衰也，正與邪爭，尚有力也，故夜反重耳。晝則陰衰矣，陰衰不敢與邪爭，邪亦不與陰爭，故晝反輕耳。雷公曰：邪既不與正相戰，宜邪之退舍矣，病猶不瘥，何也？岐伯曰：重乃真重，輕乃假輕。假輕者，視之輕而實重，邪且重入矣，烏可退哉。且輕重無常，或晝重夜亦重，或晝輕夜亦輕，或時重時輕，此陰陽之無定，晝夜之難拘也。雷公曰：然則何以施療乎？岐伯曰：晝重夜輕者，助陽氣以祛邪；晝輕夜重者，助陰氣以祛邪，皆不可專祛其邪也。晝夜俱重，晝夜俱輕，與時重時輕，峻於補陰，佐以補陽，又不可泥於補陽而專於祛邪也。</p>
<p>陳士鐸曰：晝夜之間，輕重自別。</p>

<h2>解陽解陰篇</h2>
<p>奢龍問於岐伯曰：陽病解於戍，陰病解於寅，何也？岐伯曰：陽病解於戍者，解於陰也；陰病解於寅者，解於陽也。然解於戍者，不始於戍；解於寅者，不始於寅。不始於戍者，由寅始之也；不始於寅者，由亥始之也。解於戍而始於寅，非解於陰乃解於陽也。解於寅而始於亥，非解於陽乃解於陰也。奢龍曰：陽解於陽，陰解於陰，其義何也？岐伯曰：十二經均有氣王之時，氣王則解也。奢龍曰：十二經之王氣，可得聞乎？岐伯曰：少陽之氣，王寅卯辰：太陽之氣，王巳午未；陽明之氣，王申酉戍；太陰之氣，王亥子醜；少陰之氣，王子醜寅；厥陰之氣，王醜寅卯也。奢龍曰：少陰之王何與各經殊乎？岐伯曰：少陰者，腎水也。水中藏火，火者陽也。子時一陽生，丑時二陽生，寅時三陽生，陽進則陰退，故陰病遇子醜寅而解者，解於陽也。奢龍曰：少陰解於陽，非解於陰矣。岐伯曰：天一生水，子時水生，即是王地，故少陰遇子而漸解也。奢龍曰：少陽之解，始於寅卯，產陰、厥陰之解，終於寅卯，又何也？岐伯曰：寅為生人之首，卯為天地門戶，始於寅卯者，陽得初之氣也，終於寅卯者，陰得終之氣也。奢龍曰：三陽之時王，各王三時，三陰之時王，連王三時，又何也？岐伯曰：陽行健，其道長，故各王其時；陰行鈍，其道促，故連王其時也。奢龍曰：陽病解於夜半，陰病解於日中，豈陽解於陽，陰解於陰乎？岐伯曰：夜半以前者，陰也；夜半以後者，陽也；日中以後者，陰也；日中以前者，陽也。陽病必於陽王之時先現解之機，至夜半而盡解也。陰病必於陰王之時先現解之兆，至日中而盡解也。雖陽解於陽，實陽得陰之氣也；雖陰解於陰，實陰得陽之氣也。此陽根陰，陰根陽之義耳。奢龍曰：善。</p>
<p>陳士鐸曰：陽解於陰，陰解於陽，自有至義，非泛說也。</p>

<h2>真假疑似篇</h2>
<p>雷公問曰：病有真假，公言之矣。真中之假，假中之真，未言也。岐伯曰：寒熱虛實盡之。雷公曰：寒熱若何？岐伯曰：寒乃假寒，熱乃真熱。內熱之極，外現假寒之象，此心火之亢也。火極似水，治以寒則解矣。熱乃假熱，寒乃真寒，下寒之至，上發假熱之形，此腎火之微也。水極似火，治以熱則解矣。雷公曰：虛實若何？岐伯曰：虛乃真虛，實乃假實，清肅之令不行，飲食難化，上越中滿，此脾胃假實，肺氣真虛也，補虛則實消矣。實乃真實，虛乃假虛，疏泄之氣不通，風邪相侵，外發寒熱，此肺氣假虛，肝氣真實也，治實則虛失矣。雷公曰：盡此乎？岐伯曰：未也。有時實時虛，時寒時熱，狀真非真，狀假非假，此陰陽之變，水火之絕也。雷公曰：然則，何以治之？岐伯曰：治之早則生，治之遲則死。雷公曰：將何法早治之？岐伯曰：救胃腎之氣，則絕者不絕，變者不變也。雷公曰：水火各有其假，而火尤難辨，奈何。岐伯曰：真火每現假寒，假火每現真熱，然辨之有法也。真熱者，陽症也。真熱現假寒者，陽症似陰也，此外寒內熱耳。真寒者，陰症也。真寒現假熱者，陰症似陽也，此外熱內寒耳。雷公曰：外寒內熱，外熱內寒，水火終何以辨之？岐伯曰：外寒內熱者，真水之虧，邪氣之勝也；外熱內寒者，真火之虧，正氣之虛也。真水真火，腎中水火也。腎火得腎水以相資，則火為真火，熱為真熱；腎火離腎水以相制，則火為假火，熱成假熱矣。辨真辨假，以外水試之，真熱得水則解，假熱得水則逆也。雷公曰：治法若何？岐伯曰：補其水則假火自解矣。雷公曰：假熱之症，用熱劑而瘥者何也？岐伯曰：腎中之火，喜陰水相濟，亦喜陰火相引，滋其水矣。用火引之，則假火易藏，非舍水竟用火也。雷公曰：請言治火之法。岐伯曰：補真水則真火亦解也。雖然，治火又不可純補水也。祛熱於補水之中，則假破真現矣。雷公曰：善。</p>
<p>陳士鐸曰：不悟真，何知假；不悟假，何知真，真假之間，亦水火之分也。識破水火之真假，則真假何難辨哉。</p>

<h2>從逆窺源篇</h2>
<p>應龍問曰：病有真假，症有從逆，予知之矣，但何以辨其真假也？岐伯曰：寒熱之症，氣順者多真，氣逆者多假。凡氣逆者，皆假寒假熱也。知其假，無難治真矣。應龍曰：請問氣逆者，何症也？岐伯曰：真陰之虛也。應龍曰：真陰之虛，何遂成氣逆乎？岐伯曰：真陰者，腎水也。腎水之中有火存焉，火得水而伏，火失水而飛。凡氣逆之症，皆陰水不能制陰火也。應龍曰：予聞陰陽則兩相配也，未聞陰與陰而亦合也。岐伯曰：人身之火不同，有陰火陽火，陽火得陰水而制者，陰陽之順也，陰火得陰水而伏者，陰陽之逆也。應龍曰：陰陽逆矣，何以伏之？岐伯曰：此五行之顛倒也。逆而伏者，正順而制之也。應龍曰：此則龍之所不識也。岐伯曰：腎有兩歧，水火藏其內，無火而水不生，無水而火不長，不可離也。火在水中，故稱陰火。其實水火自分陰陽也。應龍曰：陰火善逆，陰水亦易逆，何故？岐伯曰：此正顯水火之不可離也。火離水而逆，水離火而亦逆也。應龍曰：水火相離者，又何故歟？岐伯曰：人節欲少而縱恣多，過泄其精，則陰水虧矣。水虧則火旺，水不能制火，而火逆矣。應龍曰：泄精損水，宜火旺不宜火衰也，何火有時而寒乎？岐伯曰：火在水中，水泄而火亦泄也。泄久則陰火虧矣，火虧則水寒，火不能生水而水逆也。故治氣逆者，皆以補腎為主。水虧致火逆者，補腎則逆氣自安。火虧致水逆者，補腎而逆氣亦安。應龍曰：不足宜補，有餘宜瀉，亦其常也，何治腎之水火，不尚瀉尚補乎？岐伯曰：腎中水火，各臟腑之所取資也，故可補不可瀉，而水尤不可瀉也。各臟腑有火無水，皆腎水滋之，一瀉水則各臟腑立槁矣。氣逆之症，雖有水火之分，而水虧者多也。故水虧者補水，而火虧者亦必補水，蓋水旺則火衰，水生則火長也。應龍曰：補水而火不衰，補水而火不長，又奈何？岐伯曰：補水以衰火者，益水之藥宜重；補水以長火者，益水之藥宜輕也。應龍曰：善。</p>
<p>陳士鐸曰：人身之逆，全在腎水之不足，故補逆必須補水，水足而逆者不逆也。</p>

<h2>移寒篇</h2>
<p>應龍問曰：腎移寒於脾，脾移寒於肝，肝移寒於心，心移寒於肺，肺移寒於腎，此五臟之移寒也。脾移熱於肝，肝移熱於心，心移熱於肺，肺移熱於腎，腎移熱於脾，此五臟之移熱也。五臟有寒熱之移，六腑有移熱，無移寒，何也？岐伯曰：五臟之五行正也，六腑之五行副也。五臟受邪，獨當其勝，六腑受邪，分受其殃。且臟腑之病，熱居什之八，寒居什之二也。寒易回陽，熱難生陰，故熱非一傳而可止，臟傳未已，又傳諸腑，腑又相傳。寒則得溫而解，在臟有不再傳者，臟不遍傳，何至再傳於腑乎？此六腑所以無移寒之證也。應龍曰：寒不移於腑，獨不移於臟乎？岐伯曰：寒入於腑而傳於腑，甚則傳於臟，此邪之自傳也，非移寒之謂也。應龍曰：移之義若何？岐伯曰：本經受寒，虛不能受，移之於他臟腑，此邪不欲去而去之，嫁其禍也。應龍曰：善。</p>
<p>陳士鐸曰：六腑有移熱而無移寒，以寒之不移也。獨說得妙，非無徵之文。</p>

<h2>寒熱舒肝篇</h2>
<p>雷公問曰：病有寒熱，皆成於外邪乎？岐伯曰：寒熱不盡由於外邪也。雷公曰：斯何故歟？岐伯曰：其故在肝。肝喜疏泄，不喜閉藏。肝氣鬱而不宣，則膽氣亦隨之而鬱，膽木氣鬱，何以生心火乎？故心之氣亦郁也。心氣鬱則火不遂其炎上之性，何以生脾胃之土乎？土無火養則土為寒土，無發生之氣矣。肺金無土氣之生，則其金不剛，安有清肅之氣乎。木寡於畏，反克脾胃之土，土欲發舒而不能，土木相刑，彼此相角，作寒作熱之病成矣。正未嘗有外邪之干，乃五臟之鬱氣自病。徒攻其寒而熱益盛，徒解其熱而寒益猛也。雷公曰：合五臟以治之，何如？岐伯曰：舒肝木之郁，諸郁盡舒矣。</p>
<p>陳士鐸曰：五郁發寒熱，不止木鬱也。而解鬱之法，獨責於木，以木鬱解而金土水火之郁盡解，故解五郁，惟尚解木鬱也，不必逐經解之。</p>
<p><u>嘉慶貳拾年　靜樂堂書</u></p>
