<header data-type="book">
<h1>李冠仙醫案</h1>
</header>

<h1>一、田展初內治效</h1>
<p>田展初五兄，予至好也。嘉慶十四年，伊遠館吳門。其內染時邪之症。醫者皆用傷寒藥，發散升提太過，其熱不解減。又皆競用寒涼，如黃芩、黃連、山梔、石膏之類。連進多劑，熱仍不減。面轉通紅，頭皮作痛，手不能近，近則痛甚，病勢沉重。醫皆曰：「邪已入里，無法可治。」又換某時醫，於前藥中加犀角、羚羊角。謂：「只此扳劑，再不應，即不治。」適其內兄李進之亦予至好，知予素解岐黃，邀予一診，以決生死。予診其脈，上脈浮大而空，兩尺沉細欲絕。雖氣微弱，不欲言語，而心尚明瞭，並不昏迷。詢其：「欲飲否？」曰：「不欲。」詢其二便，大便少而稀溏，小便清白，少腹有痛意。予急曰：「此戴陽症也。」此素本陰虧，不能潛陽。今時邪誤作傷寒治，溫散太過，虛陽上浮。治宜引火歸原。醫者見其煩躁，不知其為龍雷上升，侵犯清虛之府所致。反以為熱邪傳裡，肆用寒涼，陽即欲回，歸路已阻。再用寒藥，不獨腹痛，自利症必加重，而無根之陽，將一汗而亡。奈何？於是競用真武湯，勸其速進。病者知用附子，斷不肯服。以為我煩熱如此，如何還服此熱藥？伊兄勸以汝服涼藥已多，而轉火炎於上，茲方稱引火歸原，或當有效。今已危急，何不試之？勸之再三，勉進半劑。本已十日不寐，進藥後，不覺安睡兩時許始寤，頭皮不痛，面赤全退，腹痛亦止，心中不煩。乃復索藥進劑。次日延予復診，其病若失。細詢平日本有上紅之恙，生育亦多，其陰本虧，故陰中之陽易動也。改用附子理陰煎，服一劑，又專用理陰煎，服三劑後，以八珍加減調理全愈。半月後展初自吳門歸，向予申謝。且言幸伊不在家，其妻得生，否則必死。予問：「何故？」展初曰：「如此熱象，群醫皆用寒涼，而子獨用大熱。且子又不懸壺，我豈能相信哉！」予曰：「然則，足下亦不必謝予也。是有命焉，不可強而致也。」</p>

<h1>二、顏鳳堯內治效</h1>
<p>田展初居荷花池巷，其比鄰顏鳳堯先生，丹陽名醫，在此懸壺，醫輒有效，誠老手也。其田姓之症，亦曾臨視，惟為群醫所譁，未能獨出手眼。嗣聞余治法，深為佩服。適其尊閫亦染時症，先生年將古稀，本有半身不遂之恙，恐診脈不準，轉延醫診。而醫者不識其病，先生亦不自解，乃延予診。時當盛夏，病為時邪，人事昏沉，壯熱口渴，渴欲熱飲，雖熱嫌冷，家人以炭爐面烹百沸湯與服，猶云不熱。脈來洪數而滑，惟右寸見沉，實熱症也。而見寒象，又非熱極似寒，醫者之不解在此。予也躊躇莫決，忽爾機來。因問主人：「尊閫有甚舊恙否？」主人曰：「無。」予曰：「非必有大恙，或年高多痰否？」主人曰：「此誠有之，每日約吐三碗許，轉覺爽快。」問：「今病幾日？」曰：「五日。」「病中吐痰否？」曰：「無。」予曰：「得之矣。」主人問：「何以得之？」予曰：「時邪乃熱症，脈亦熱症，而寸口獨沉者，肺氣為痰所遏也。一日吐三碗，五日不吐，積痰當有幾許，阻塞肺氣，上下不通。內雖甚熱，氣不得上，口鼻吸入，無非冷氣，至喉而止，亦不得下。肺氣通於喉，今為痰所阻，故肺以下則甚熱，喉以上則甚冷，是非先用吐法，吐去其痰不可。雖然不易言也，沸湯下喉而不熱，痰之膠固非常，肺之閉塞已甚。雖用瓜蒂散、梔豉湯等法，恐格之不入，不足以搜肺臟、提肺氣，而鼓動其痰。是非仲景麻杏石甘湯不可。」主人曰：「麻黃乃夏令所忌，今值六月盛夏，雖時邪非傷寒，麻黃尚可服乎？」予笑曰：「藥不執方，相宜而用，古之訓也。今痰阻肺脾，非麻黃之大辛大熱，不能搜肺活痰。且是方也，有石膏之寒，以制麻黃之熱，有杏仁之降，以濟麻黃之升，有甘草之甘，以緩麻黃之急。非同正傷寒之用麻黃湯，專取辛熱表散也。」主人曰：「內人已過花甲，設服之而大汗不止，得毋有亡陽之慮乎？」予曰：「藥有監製，既已申明。且麻黃肺之藥也，下喉必先達肺，肺氣開提，痰涎必活，活則湧吐，藥隨痰去。麻黃之性輕浮，豈能入腹作大汗哉！況時邪亦須汗解，吐中有發散之意。石膏乃白虎湯之主藥，《金匱》治中暑之首方，色白入肺，兼清陽明之熱，散清並施，邪熱從而得解，未可知也。」主人曰：「此藥準得吐否？」予曰：「麻黃大力入肺搜痰，痰結既開，勢必上湧作吐。」主人曰：「理解明透，更無他疑，競請立方。」予用麻黃八分、杏仁三錢、石膏五錢、甘草一錢，囑其即服而去。次日未明即寤，回憶昨日之論，自笑愚忠太過，然細思無誤也。清晨不待請，即喚輿往探。見其醫室已開，急趨而入，主人出迎，予不及寒溫，急問曰：「如何？」主人笑應曰：「其效如神。」予心乃定。細問服藥片刻，立即吐痰升許，不過微汗，外感已退，人事全清。予入內復診，改用犀角地黃湯，一服熱減，再服全愈。是症也，非細心切問，安得其門而入哉。夫望而治之謂之神，聞而知之謂之聖，問而知之謂之工，切而知之謂之巧。神聖工巧，謂之四診。缺一不可，吾見今之粗工，假裝時派，每至人家診病，僅一搭脈，遂即開方。主人慾細告病情，則曰我今日有數十家延請，豈能為一家耽擱。嗟乎！三部九候，全然不知，又不肯問。草菅人命，莫此為甚。雖庸醫殺人，不聞償命。然冥冥之中，罪安可逃哉？予自懍之，兼望醫者共懍之。</p>

<h1>三、笪豫州治效</h1>
<p>笪豫州患癉瘧，單熱不寒，已經兩月。從未有汗，每日壯熱六時許，形瘦骨立，實已危殆。其堂弟笪東洲予友也。欲延予一診，以定死期。予診其六脈弦數，全無和柔之意，而按尚有根。予知其素來好內，肝腎俱虧，加以大熱傷陰，陰不化汗，邪無出路。醫者不知，所用不過達原飲、清脾飲、小柴胡湯等，如何得汗？予曰：「症雖審而從未服對症藥，尚可為也。」乃用景岳歸柴飲，柴胡一錢五分、當歸一兩、甘草一錢，加大生地二兩，令濃煎予服，服後進熱米湯一碗。不過一帖，大汗而解。</p>

<h1>四、藤村侄治效兼及諸小溲不通治效</h1>
<p>大侄小村，小溲不通，已至三日，腹膨急脹，至不能忍。先有京醫連進通利，不通愈甚，急覓予診。予見其肺脈獨大而數，知其素來嗜飲。因問：「連日飲何酒？」藤村曰：「近因酒貴，常飲燒酒，三日前有小集，飲燒酒且甚多。」予曰：「是矣。」時端陽節後，急令買大枇杷二斤，恣意啖食。另變補中益氣方法，去黨參、黃耆、白朮、當歸，惟用陳皮一錢、甘草梢八分、醋炒柴胡五分、蜜炙升麻三分，而加天冬二錢、麥冬三錢、北沙參三錢，車前草一顆，與服。一時許，小溲大行一大缽而愈。伊急遽中未暇問故，予亦未言。後至松江華亭縣，刑席邵瓣蓮有沉疴甚奇，每發當腹痛非常，而先必溲閉，百醫罔效。必小溲自通，而腹痛乃止。其症少時即有，至四十外乃更甚，適當舉發，延予一診。肺脈獨大而數，與藤村侄同，予問：「素嗜飲酒煙否？」曰：「皆有之，而水煙尤朝夕不斷。」予曰：「是矣。」以與小村侄方，去升、柴，加黃芩、知母與服。服後小溲大行，腹痛亦止。伊問：「予病如何？何藥之靈也。」予曰：「肺為氣之主，又為水之上源。《內經》云：『膀胱為州都之官，津液藏焉，氣化則能出矣』。有屬中氣者，中氣不足，溲便為之變；有屬腎氣者，腎與膀胱相表裡是也。而其實氣化之權，肺實主之，肺在人身主乎天氣，天氣常清明而下降，肺氣清肅而下行，上源行乎所不得不行，下流自有所不得而止。而有所不行者，虛也，熱也。虛則氣不足以行，熱則氣反逆而上。肺氣不行，則諸氣不行。通則不痛，痛則不通。今溲不通而腹乃痛，肺脈獨大而數，症經三十年。此先天肺熱，後天菸酒積熱，日傷肺陰，肺失清肅之令，故病易發而亦漸重也。以後將此方常服，且戒菸酒，可望不發。」瓣蓮佩服。請將所論書一通，並藥方裱糊收藏。連服二十劑，後果不發。蓋嘗觀群獸焉，有肺者有尿，無肺者無尿，知肺之關乎小溲者多矣。小村侄用升柴升提而邵兄不用升柴加黃芩、知母者，何也？小村曾服利藥，愈利愈不通，氣行更結，非加升柴以提其氣，轉不能通。如酒壺然，壺嘴不通，揭其蓋自通也。邵兄未服利藥，而熱久而重，故不用升柴而加黃芩、知母也。雖然，勿謂癃閉之盡在清肺也。吾鄉錢光鬥之弟婦張氏，產育用力太過，正氣大傷，三日小溲不通。予用補中益氣湯全方，薑、棗引，加冬葵子三錢，一服而通。寫真華秋岩內懷孕六七月，偶因下階，一跌坐地，腹中墜脹，小溲不通半日。予知胎氣震驚壓膀胱，亦用大劑補中益氣，薑、棗引，一服而通。此皆用溫補升提，治在中氣而不在肺氣也。其冬葵子或用或不用者，一則癃閉三日，以葵子引經通之；一則僅半日許，提其氣而溲自行，毋煩通利也。後又有丹徒縣署吳晴椒明府所請錢席胡晴麓恙已愈後，大解數日未行，一日登廁數次，力努乾結不出。是日晚登淨桶約一更許，極力努掙，大便不來，而小便反閉。次日自用車前、澤瀉等藥通利之，而仍不通，腹加漲（脹）。又數日延予，予曰：「大腸膀胱相隔一間，分道而行，本不相礙，今因直腸漲（脹）滿，擠合膀胱，小溲無路可出。此非膀胱自病，雖多方通利，終不得通，徒增漲（脹）滿耳。予有一法。」眾問：「何法？」予曰：「止有下法耳，下其大便，小溲自通。」時眾人皆不以為然，以為小便不通，反通大便，殊難相信。且病者年已六十有四，又值病後，連日怕漲（脹），又不敢多進飲食，如何能受下劑？眾口難調，予亦辭去。第三日又來敦請，晴麓本與予金蘭契好，萬不能辭。至則漲（脹）已至胸，蓋又雜進單方，如促織草帽圈之類，有入無出。直至漲（脹）不能動。予曰：「在書大便不通，有四五十日無妨者，而小便不通，五日必死。今已三日，再延二日，神仙不治。此症下或不死，不下必死，奈何？必欲置之死地耶？」予言至此，眾不復言。而其如君獨奮然曰：「三日以來，愈治愈壞。今日競請立方，雖死不怨。」予索紙開方，西潞參三錢、於術三錢、當歸身三錢、陳皮一錢、炙草一錢、炒柴胡一錢、炙升麻六分、煨姜二片、大棗二（枚），眾皆詫異曰：「先生說要用下法，何開此補中益氣湯？」予笑曰：「諸公勿急，尚有加味。」爰加生大黃三錢、元明粉三錢。因告眾曰：「大便阻塞小便，固非用下不可。然是病有三虛：年高，一虛也；久病，二虛也；不敢納穀，三虛也。此三虛者，諸公曾言之，予豈不知之。故是症非下不可，而非用補以用下尤不可。古人黃龍湯用參以用下，玉燭散用四物以用下。今用大劑補中益氣，然後用硝黃以推蕩之。大解行，而膀胱路寬，小便亦自暢行，而正氣不陷，相輔之道也。不然，予豈孟浪用下者哉。」其乃爽然，製藥與服，一時許，大便暢行，小便隨至，源源不絕，幾半淨桶，腹中暢快，病乃若失。以上五症，皆小便不通。四用東垣補中益氣法，而變化不同，法則仿古，用則因心，神而明之，存用其人。</p>

<h1>五、牙痛治效</h1>
<p>吾友趙義之牙痛纏綿，月餘不已。忽詣予要方，診其脈，左關尺數，以六味地黃湯加升麻三分、柴胡五分，與之。曰：「此藥服後，未免更痛，然片刻即止矣。」次日，告予曰：「昨服藥而臥，忽然痛不可忍，急得罵汝，後竟安寐，天明不知牙痛之安往矣。藥既對症，又多此一痛，何也？」予曰：「齒乃骨之餘，而腎主骨。足下腎水太虧，腎火上浮而為牙痛，故用六味全劑，補之瀉之。然其浮於齒牙之熱，不能下降至腎，不若用升柴以透之。升透之時，未免較痛，然所用無幾，而補瀉之力甚大，陰能潛陽，火不復上作痛，且得安寐也。」義之本通品，聞之拜服。後予以此方治腎虛牙痛者，無不立效，更勝於景岳玉女煎。</p>
<p>武生蓋七，下牙床作癢，至不能受，不寐者累日矣。偶值予求治，予笑曰：「此大腸風也。」上牙床屬足陽明胃，下牙床屬手陽明大腸，大腸有積熱，熱生風，風生癢。問：「大便結否？」曰：「結甚。」以調胃承氣小其制，加生地、槐花、荊芥、防風與之。一藥得大便暢行而愈。</p>

<h1>六、龔玉屏子椿官治效並後不治之驗</h1>
<p>龔玉屏，予少時第一交好也。其子椿官十六歲，自在楊管店務，當事亦太早，忽受暑而歸。發熱頭脹，倦怠少氣，心煩渴飲，天柱傾欹欲倒。予用人參白虎湯，其家以時症用參為疑。予曰：「先天氣弱，暑又傷氣，脈象數而甚虛，非參不可，且必佳參。汝等不信，多請先生斟酌，當可決疑。」再三諄囑而去。是時天氣炎熱，病症甚多，予至晚回家。則其叔坐等已久，予一見即問曰：「爾侄服藥如何？」曰：「尚未。」問：「何以不服？」曰：「君教我多請先生斟酌，我連請七人矣。」問：「伊等云何？」曰：「止錢覲楊先生欲改用黨參，徐壽東先生以為君當不錯，其餘皆以為不可用參。內有焦醫尤以為不可。曰『時邪用參，如吃紅礬，入腹必死。』眾言如此，不得不疑。而寒家素服君藥，亦有不效，又不敢服他人之藥，特再請教。」予曰：「予只道此法平常，醫者當無不解。今若此，更何言。但令侄今日不服此藥，明日即不救。子速回家制藥與服。尚有不測，余當償命。」送至門，又囑曰：「予願償命，君或不肯，此方人參一錢，銀三十兩。不測，予定當罰出。君縱不要，聽憑散於窮苦，予決不食言。若不服，至不救，其責在子。」次日大早往視，已一藥而愈矣。嗟乎！醫道之不明竟至於是耶？《經》云：「熱傷氣，」又云：「壯火食氣。」盛夏酷熱，爍石流金，未有不傷氣分者，故治之必顧氣分。孫真人生脈散、東垣清暑益氣湯、丹溪十味香薷飲，皆人人共見之方，未有不用參者也。至人參白虎湯，乃《金匱》中暍專主之方。《金匱》乃醫聖仲景之書，是不足法，更何法也！且夫椿官之症，乃中暑，非時邪也。時邪者，春當暖反涼，夏當熱反寒，秋當涼反暖，冬當寒反溫，為四時不正之氣。感而病者，謂之時邪。至風寒暑濕燥火，此六氣者應時而至。本天地之正氣，人或不慎，感之為病，直謂之中寒、中暑而已，不得混謂之時邪也。今椿官當暑中暑，而混指為時邪，病且不知，何竟謗予之用藥哉。論椿官之虛弱，清暑益氣可用，因其大渴欲飲，恐黃耆、白朮過於溫補，故用人參白虎。予本細心斟酌，尚幾為前輩所誤，椿官倖免矣。而當世之冤魂何可勝數哉！喻西昌曰：「醫至今日，生民之厄運也。」誠哉！是言也。</p>
<p>椿官廿一歲，自常販布回家，自稱有恙，延予診治。時十二月初一也，其症外似灑淅惡寒，內則煩躁覺熱，舌赤無苔，溲黃白濁，脈來洪數無倫，按之空象。謂之曰：「子如回家，一路恐有外感，而內又虧虛，攻補俱有未便，遲數日再診可也。」因密告其叔曰：「令侄此症真不治矣。奈何？」其叔曰：「伊起居如常，飲食尚好，何至不治？」予曰：「子原難解，俟至春來，予言自驗。」後屢請，予堅辭，且遇伊家親友，遍告以椿官復病，予並未一診，恐將來受謗也。伊家只得另延他醫。初云無妨，繼則無效而加重。至次年正月十八日溘然長逝矣。後有他醫虛心問故，予曰：「此不難知也。冬見夏脈，書稱不治。伊脈洪大無倫，在夏脈尚未太過，而見於冬令閉藏之日，且又無根，腎水告竭，肝火獨旺，木生於水，無水之木，何以應春氣之發生乎？如樹木然，當冬令閉藏，莫能定其生死，至春則生者生，而死者死。人身一小天地，肝木應乎春氣，根本既撥，故知其死於春也。」</p>

<h1>七、蔡姓時醫治效</h1>
<p>鎮江北門蔡姓世出時醫，友人戴半山蔡氏婚也。一日詣予曰：「有舍舅病重，請兄一診。」予以蔡姓多醫生辭之。半山曰：「其症諸蔡皆看過，均回不治。惟予叔岳欲以附子肉桂扳之，不能決，請兄一決。」隨喚肩輿逼予同往。時病者在半山金珠店管事，故半山可以作主也。至其室，審其症，乃時邪十一日矣。大抵羌、防、柴、桂、枳實、楂炭、厚朴、蒼朮、草果、炮姜之類。其症則燥熱非常，人事昏沉，耳無聞，目無見，舌卷囊縮，死象已具。其脈弦勁疾數，不辨至數，惟按之尚未無根，病中以未大解。診畢，半山問曰：「桂附可服否？」予曰：「桂附萬無服理。」然此藥誤已深，實屬難治。姑請伊母出來商議。其母出見，予問曰：「汝家看此人到底是死是活？」其母曰：「先生何出此言？」予曰：「汝家若以為未死，則予不敢多事，恐藥不能救，歸過於吾。吾何為來擔此惡名哉？若汝家以為必死，則予尚覺有一線生路。」其母曰：「吾家諸醫皆已回絕，先生若能施治，生死不忘。」予乃曰：「時邪熱症，治以辛涼，非比傷寒之症治以辛溫。且傷寒下不厭遲，時邪下不厭早。三五日內熱重便閉，即當用下存陰。今時邪誤服傷寒藥，佐以溫燥，意在推滯。不知愈燥愈結，火愈熾而真陰耗矣。真陰根於肝腎，腎開竅於耳，肝開竅於目。腎脈挾舌本，肝脈絡陰器，今目瞶耳聾，舌卷囊縮，大熱傷陰可知也。症本不治，而予謂有一線生路者，幸脈尚有根。非症重至此，藥誤實多。為今之計，仍非下之不可。然古人急下存陰，陰未傷也。今下已遲，陰已傷矣。宜用玉燭散法養其陰以用下。於是用生地一兩、當歸五錢、加大黃三錢、芒硝二錢、甘草一錢，與服。夜下黑糞，次日熱退，諸症皆退，仍進養陰清熱。又次日往診，半山出迎曰：「余親又復發狂，奈何？」予入診，見其罵詈不避親疏，果有狂象。予曰：「無妨。」仲景曰，下後發狂，再下則愈，一下未盡故也。仍以前方與服。明日往診，據其家云：「昨下更多，幾半淨桶，後繼以血。」予疑此方不應動血，及見原方，忽有人添桃仁三錢。予曰：「此無怪乎有血矣。」傷寒有蓄血症，其人如狂，下其血則愈。重則用抵當湯，輕則用桃仁承氣湯。今下後發狂，並非如狂，何必用桃仁動其血哉。所幸脈靜神安，症已無妨，惟養血藥要多服數帖耳。後代立方，總以地黃阿膠為主，幸無復參議者，而其疾乃瘳。</p>

<h1>八、包式齋治效</h1>
<p>包式齋患尿血二年未痊，後覓予診治而愈。蓋腎虛人也，偶然傷風，某醫發散太過，轉致喘不能臥者累日，急乃延余。余曰：「咳出於肺，喘出於腎。肺腎為子母之臟，過散傷肺，母不能蔭子，則子來就母，而咳變為喘，腎虛人往往如此。今已腎氣上衝，脈來上部大，下部小，而猶以為風邪未盡。更加發散，無怪乎喘不能臥也。」與以都氣全方，加紫衣胡桃肉三錢，納氣歸腎，一藥而愈。越三年後，又因傷風，某醫仍肆發散致喘，不能臥者三日。又請予治，曰：「此與前症無異，彼昏不知，子何毫無記性耶？」曰：「因伊在舍診病，偶貪順便，不意至此。」予曰：「無他，仍服前方可也。」其內因夫病著急，忽得笑症，終日啞啞不止，亦求予診。其左關寸皆數甚，予曰：「膻中為臣使之官，喜樂出焉。此肝火犯心包絡也。」與犀角地黃湯加羚羊角，次日復請予至，則笑病一藥而痊。而式齋則夜仍喘不得臥，惟下半夜稍平耳。余曰：「異哉，何藥之靈於當年，而不靈於此日哉。」細診脈象，上部大，下部小，實屬腎氣不納，毫無他疑。靜思良久，因問：「昨何時服藥？」曰：「晚飯後。」予曰：「是矣。今可於晚飯前服藥，當必有效。」次日問之，則喘氣下，一夜安眠矣。伊問：「何故？」曰：「藥本納氣歸腎，飯後服藥，為飯阻不能直達於腎，故上半夜全然不效，下半夜藥性漸到，故稍平也。今於飯前服藥，腹中空空，藥力直達腎經，然後以飯壓之，腎氣豈有不納者哉。」囑其多服數帖，後加十倍為丸，常服。並囑偶有外感，不可任醫發散，其症乃不復發。蓋嘗覽《石室秘錄》陳氏假託乩方，直至岐伯、雷公、華佗、仲景，古之聖神，無不畢集，可謂怪誕。至其方藥議論，亦甚平平，而大其制，一藥必數兩，一方必二斤。萬難取法，惟其主意先分治法，則群書罕見，可稱獨得之奇。如教包式齋飯後服藥，即內臥治法，是下治法也。是故醫書汗牛充棟，而除《內經》、《難經》，仲景《傷寒》、《金匱》二書，無可疵議。其餘則各有所偏，亦各有所得。惟在學者自知所取，而勿尚其偏而已。然則不讀書固不可，而讀書亦豈不貴善讀哉。</p>

<h1>九、厲登銘瘋症治效</h1>
<p>厲登銘五兄，住城內演軍巷，予後門外之賢鄰，又予之密友也。初秋患瘧少汗，予治之。始以和解，繼以景岳歸柴飲加生地一兩，姜皮三分，得透汗而解。知其好內嗜飲，陰虛居多也。瘧三次即已，精神亦甚減。是晚城南走火，伊命家人秉燭至大門口觀看，忽謂家人曰：「適地坊老爺過去，汝等見否？」是夜遂瘋，喊罵大鬧，擲毀什物。且持廚刀欲殺其妻，妻躲至床下，伊更跳鬧不止。次日大早急請予，予至其室，伊正持破碗欲傷人。見予至，忽然放下，稱予曰六哥。予見其有怯意，似予有以鎮之者，因更自提精神，正言厲色，謂之曰：「坐下。」伊即坐下，曰：「將脈來診。」又問：「因何胡鬧，欲殺爾妻？」伊則滿口穢語，謂妻王氏與狐貍在牆內如何等瘋語。予不復聞，惟囑好好坐著，不許胡鬧，否則予將治汝。伊亦應承。予至廳，家人出雲又大鬧矣。親朋滿座，問予何法。予曰：「諸病從虛而入，邪祟亦以虛而入。厲兄本瘧症初愈，瘧發於少陽膽經，瘧後受傷，其膽必虛，適遇邪祟乘虛入膽而成瘋。且厲兄平日之膽最小，一語不敢傷人，琴瑟之好，稱為最篤。公忽欲殺人，且為素所愛敬者。瘋則膽大，豈非祟據其中而有以使之耶？夫瘋字從風，有風象。然瘋之或重或輕，猶風之或大或小；瘋之忽發忽止，猶風之忽起忽息。邪祟之中人而成瘋也，未嘗不憑藉人身內風之力，而鼓動乎肝。因木生風，因風生火，因火生痰，痰火相搏，勢乃大張，而令魂魄神明皆擾亂而不能自守。雖然，今幸邪祟初入，譬如匪人初至旅邸，左鄰右舍，並無相識，其勢尚孤，驅逐亦易。若夫今不治，盤踞既久，巢穴已固，風鼓其勢，火張其威，痰助其力，如惡人居久定而黨已成，則驅逐良難也。」於是用溫膽湯，京製半夏三錢、化橘紅八分、雲茯苓三錢、生甘草五分、麩炒枳實七分、鮮竹茹三錢，加粉丹皮二錢、龍膽草一錢，同煎，外加硃砂三分、豬膽汁少許，和服。此方專於瀉膽，使邪祟不能寧居。又兼清火化痰，使邪祟無所憑藉。法雖平常，竟一藥而愈。後以十味溫膽，以沙參代人參，以生地代熟地，且重用之。以生地能補膽，賊去關門法也。連進四帖，神志如常。此嘉慶十六年事，時尚未識王九峰先生。後先生聞知，適見脈案，深蒙許可，遂相往來。予視先生為前事師，而先生以予為忘年友矣。</p>

<h1>十、吳預生瘋症治效</h1>
<p>吳預生，諸生也。在鄒同裕淮北信陽鹽店管書啟。其店有空房，吳愛其靜。一日忽大瘋，屢用刀自戕，救之得不死，其店急用人送歸。適其家與予相近，令人使來就診。半晌數人將瘋子扶持而來，舞蹈而入。予出，瘋子即寂然不動。予如診厲登銘法，予上座，使之下坐，正容壯色以診其脈。脈象或大或小，或疏或密，或結或促，知其邪祟無疑。厲聲謂之曰：「爾遇我即當去，不去，我將在鬼哭穴灸法針汝。雖然爾來路遠，我當囑伊父多贈汝盤纏。」予說一句，伊應一聲，旁觀無不稱奇。予知其邪祟重而且久，氣血暗傷，先以參地兩補之。加犀角、羚羊、琥珀、硃砂、龍齒、虎骨、龜板、鹿角，諸多靈通寶貴之藥，以通其靈性，以鎮其神魂。譬如正人君子，巍然滿座，邪人自不能安。此藥入腹，邪祟自逼處不安而思去。又仿喻西昌法，用羊肉湯一碗為引，使邪祟借腥膻之氣味而出。惟藥不與病人知，恐二豎避入膏肓也。又囑其父曰：「此實鬼祟，信陽來路甚遠，務請高僧施食，多燒冥資，以踐予多贈盤纏之言。」時四月十九也，二十日伊家旋食服藥果愈。</p>

<h1>十一、常鎮道劉公治效</h1>
<p>常鎮道劉，名載，字竹湄，嶺南人也。由山東濟南府保舉赴都，自都赴鎮。劉公久病未愈，欲請一儒醫診治。當有王惹山明府保薦徼召，劉公即煩王明府先看，隨後差內使持帖延請，予因往診。詢其病源，乃泄瀉已四閱月。天未明瀉起，至晚不過五六遍。而進京去京一路醫治，總無效驗。予診其脈，諸脈皆平，肺脈獨大，按之見數。予曰：「此肺移熱於大腸，乃熱泄也。」公曰：「予一路來往皆值冬寒，屢遇風寒，反致熱瀉乎？」予曰：「據公言當為寒瀉，據脈象實為熱瀉。右寸屬肺，肺與大腸相表裡，獨見數大，故知其移熱作瀉也。脈象大於他脈數倍，自診可知。且公一路所服可系溫燥藥否？泄瀉時可熱有聲否？」公曰：「皆然。」予曰：「豈有寒瀉服溫燥而不減者？豈有在腹為寒，瀉出轉熱者？豈有寒瀉急迫作聲者？《經》曰：『暑注下迫，皆屬於熱。』豈有止有寒瀉而無熱瀉乎？」公自診其脈，亦覺肺脈獨大，辨論既明，疑團盡釋。予乃用天冬三錢、麥冬三錢、孩兒參三錢，以養肺陰。加瀉白散、地骨皮二錢、桑白皮一錢、粉甘草五分，以瀉肺熱。又加茯苓三錢，以為分利，懷山藥五錢，以顧脾胃。定方後，公問：「可服幾劑？」予曰：「二劑後再診。」公服一帖，日間瀉止，惟余天明一瀉，服二帖而天明之瀉亦止。第三日因公無暇，未請診，亦未服藥。而次日天明之瀉又來，又急請診，問何以故。予曰：「一百三十日之症，可以一藥而止，不能一藥除根。再服二帖，病當霍然。雖然，診公之脈，沉部頗有數象，似乎尚有伏熱。瀉不難止，恐春氣大透，木來生火，變生他症。須預為診治，不可大意。」公曰：「予急欲赴揚矣，月餘乃返。再當請診可也。」十日即返鎮署，且急延予，稱有重症。予往視，見其面左部自頭至頂，半邊全行紅腫，左目腫合不能開，上下唇皆厚寸許，心煩意亂，自謂此次定當告病去官。予診其脈，洪數有力，而無浮象。予慰之曰：「無妨也。此症似乎大頭天行，而實非也。此久有鬱熱，熱鬱成毒，春透木旺，借肝氣發生，熱毒上達。肝位於左，氣由左而升，故病在左。所喜六脈根本甚固，尚能勝病，月餘可愈，無庸告病而去。」於是用東垣普濟消毒飲子，而去其升柴。以症無外感，火發於肝，延熾於胃，其勢已甚，不敢再為升提也。且加犀角、羚羊角，清肺胃以清肝，恐其上犯咽喉也。大便屢結異常，加調胃承氣以下之。十日後，火勢漸平，腫亦漸消，知其血熱陰傷，加丹皮、生地以涼之。每帖藥計四五兩，始多苦寒，繼加甘涼，而總不用發散。其始尚用桔梗、薄荷二味，取其辛涼疏解，後並此而去之。症雖日減，而劉公見予每曰：「我病莫非有風寒，先生何不散之？」予曰：「無有也，不可散也。」嗣後跟隨諸人見余至，即揚言曰：「主人之病，只要發散即愈，惜未發散耳。」予若勿聞也者。惟每至署，見轅外有醫轎一頂。密詢之，乃李某也。其人雖醫生而不務醫學，專務結交各衙門號房，巴結家人，希圖引薦。今問劉公病，無門可人，訪予方藥，不用辛散，乃揚言一散即愈。托其家人聳動其上，以圖進見。劉公雖未之信，而無免有疑，嘖嘖者所由來也。至二十日病已痊愈，惟偏左頭內，尚覺沉悶。劉公問予嘆曰：「症雖承先生治好，但將來未免頭風之患耳。」予曰：「何故？」曰：「先生總未代我發散也。」予曰：「諾。今日竟用發散何如？」公輾然色喜。予乃用小發散方，荊防不過數分，尚另加監製，謂之曰：「公恙實不可發散，服必無效，今姑用之，以除公疑。」又另開清涼養陰、鎮攝肝風一方與之。曰：「服前方，平平則已。沒有不適，再進此藥則安。」次日進診，公曰：「昨日了不得，服藥無片時，即覺火勢一轟，似覺頭面復欲腫大，頭暈眼花，急忙伏枕。雖然難過，幸後方亦已煎成，服下始定。看來不能發散，誠如先生之言。然竊聞風善腫，風宜散。又聞有大頭瘟症，屬乎風火，亦用發散。而予症似之，其風火獨不可散何也？」予笑曰：「公之恙非『風火家人』，乃『火風鼎』也。風火者，因風生火，風為本而火為標，瀉其火而風自息。試觀天地之道，極熱生風，得大雨施行，天氣清涼，而風亦頓息。俗所謂煞風雨也。今火風之症，若誤作風火論治，妄用發散，譬如爐火已旺，而又以大扇搧之，火豈有不更熾者哉。公二十日服寒涼重劑，統計約五六斤，而始進發散小劑，即如此火上頭轟。若初起誤進發散，將火勢焮騰，焦灼肌肉，蔓延咽喉，雖有善者，奈之何哉？若夫大頭瘟症，予豈不知。其初起也，惡寒體重，頭面俱腫，必兼表象。兩目鼻面腫起者，陽明也；耳前後並額角腫起者，少陽也；腦後項下腫起者，太陽也。三陽多表症，故可先加表散。公恙初起，毫未惡寒惡風，面腫於左，肝部也。公嶺南人，地氣溫熱，秉賦偏陽，京官十數年，飲食皆用煤火。官山東六年，亦用煤火。火毒積蘊已久，北地風土高寒，積而未發。今至江南水土不同，又值春深肝旺，肝火衝起，久郁之火，上犯陽明，致成此症。故治法只宜消毒瀉火，《經》所謂『高者抑之，不可散也。』」公曰：「已病不知，經先生之論，恍然大悟。而今而後，直以性命相托矣。」調理十餘日，頭之沉悶亦愈。公意深為器重，乃後竟信李某之讒，與予絕跡。未一載，已知李某之誣，復延予，予卻之。又二載，劉公卸事住揚，不知得何病症，後亦延予，仍卻之，而劉公死矣。此中殆有數焉。</p>

<h1>十二、陶文毅公治效</h1>
<p>宮保陶云汀夫子，於道光五年撫蘇。適辦海運，夏秋季往來上海，親至海隅，相度機宜。旋又蒞金陵臨鄉試。是歲陽明燥金司天，少陰君火在泉，秋熱更甚於夏熱。夫子重受暑熱，非止一日。於八月初六日發為時邪，此宜治以辛涼者也。乃醫者竟用傷寒辛溫發散，且屢用桂枝，邪不能達，其熱轉加，致成熱瘧，寒少熱多。醫者改用柴胡，亦仍加桂，而其佐使者，無非厚朴、蒼朮、草果、青皮，一派溫燥克伐。觀察錢益齋夫子素知醫道，時為監試，心竊非之。因在常鎮道任內，知予善於治瘧。回明宮保，專差菲請。十八日晚予到轅門，隨即進診。細詢瘧在陰分，不過微寒，旋即發熱，壯熱六時許，解時無汗，熱時煩躁，至不能受，渴欲冷飲，飲亦不多，脈則十分弦數，舌則紅赤無苔，溲則其赤如血，且不寐者多日矣。予曰：「此大熱症。加以燥劑傷陰，陰虛作瘧，陰虛不能化邪，無汗故熱邪難解，陰虛故神煩不寐，治宜養陰化汗以化邪。」於是即據此立案開方。惟思進見之初，未便驟用大劑，故以小柴胡去參，加大生地五錢、當歸二錢、赤芍一錢半、夜交藤三錢。三更後瘧勢減，進藥，竟安眠至天明，可謂小效。次日，本地陳、林二醫至，知服予藥，密告宮保曰：「大人此症不可服當歸，服則熱必重出。」又謂予曰：「尊方用何首烏太早。」予曰：「未也。意者謂夜交藤乎？此乃首烏之藤，非首烏也。且此不過取夜交之意，為不寐而設。葉氏治瘧亦常用之，以交通陰陽。用藥之意，虛實皆宜。非如首烏之力能溫補也，君得毋見《本草備要》不列夜交藤，其何首烏注內有曰一名交藤，遂認夜交藤為何首烏乎？」伊掩飾曰：「恐敝地藥店止有何首烏，無此藥耳。」予曰：「昨藥系予親見，其藤甚佳，君等或未用過耳。」予知道不同不相為謀。伊等亦公然開方，並不讓予。惟是日盡去溫燥，改用黃連、石膏，而宮保服之，燥熱有加無已。蓋伊等只知寒涼以治熱，不知黃連苦燥仍然傷陰，石膏雖能清熱，而不能養陰，虛人服之，轉伐胃氣。雖《本草備要》之語，伊等未能全覽耳。然是時宮保未能信任，總服二人之方。予屢告辭，堂官不肯放行。予曰：「如此治法，必不能愈。設有不測，而余在幕中，將毋留以為二人歸過地耶？」堂官轉稟方伯張公，張公進見宮保，病固沉重，出見二醫語言荒謬，遂往告唐陶山方伯，蓋陶山方伯乃宮保之同鄉，兼戚誼，而精通醫理者也。廿二日早陶山方伯來，細切脈理，遍閱諸方，出與二醫及予相見。先問二醫曰：「先生們看大人究系何症？」陳醫俯首無言。林醫曰：「是瘧疾。」方伯曰：「瘧疾吾豈不知，但是何瘧疾？」林醫不能對。方伯轉而問予，予對曰：「據愚見乃陰虛作瘧耳。」方伯曰：「誠然，此當用四物湯合小柴胡加減，去川芎、重用生地。何方藥並不及此？」林醫曰：「服此即能愈否？」方伯曰：「汝等治已半月有餘，愈治愈壞。吾僅一言即當全愈耶？雖然，如果重用養陰，症當大減，愈亦無難。譬如無氣亢熱已極，不得一場大雨，何以回涼。但可下雨而不可下冰雹，冰雹亦能傷人，如黃連、石膏，冰雹是也。」林醫語塞。予問曰：「養陰必兼歸地？或謂當歸助熱，不可用奈何？」方伯曰：「何來此不通之論也？閱諸方，前所服者一派溫燥，不知助熱，而當歸反助熱耶？當歸雖微溫而養陰，設使方中早能助以當歸，當不至陰傷熱重至此。且夫生地陰中之陰，當歸陰中之陽，陰陽相輔，動靜相生，用藥之道也，何可偏廢？此不過以生地為君，當歸為佐耳。」言畢，扶杖而入。二醫赧顏而去。方伯復出，謂予曰：「脈案方藥皆極通，惟尚輕耳。吾已與大人說明，以後惟子是任，子好為之。」予以醫多論雜為慮。方伯曰：「我自當之，我當間日一至，以闢群疑。」是日，予用大生地二兩、當歸三錢、柴胡一錢五分、黃芩一錢、赤芍二錢、赤苓三錢、甘草五分、合皮一錢，服後瘧來不過兩時許，即大汗熱清，較前減四個時辰。熱時亦覺能受，後總本此法為加減。陰虧太甚，生地減至一兩即不復減，瘧勢漸輕。至月底瘧作不及一時，陶山方伯果常來，予嗣聞方伯九月初三回楚，恐又為他醫所誤。回明公保，請九峰先生坐鎮。先生九月初一日到，診後亦謂養陰為是，仍命立方，稍為參酌，至初七日全愈。由此受公保知，遂相契合。究之此方亦不過本景岳歸柴意變化而出，治愈數十百人。陶山方伯議論高超，予常志之不敢忘。</p>

<h1>十三、劉眉公治效</h1>
<p>道光五年八月廿三日，予因宮保初服予方，已有大效，予心亦定。是日午後，因往城北張佑溪協臺處診病，往來遙遠，至起更方到察院，到則巡捕堂官群相問曰：「先生來何遲？日間監試錢道臺有條子來請先生，進貢院代內簾劉奉賢縣隔簾診脈，因先生不在，辭去。傍晚又具稟劉令病已垂危，求大人格外施恩，讓劉公出場就死，大人勉准，適已出場，大人意欲請先生去一診，或尚有救，連問數次矣。」予問：「究竟何如？」眾曰：「適伊家人亦來求請，據云僅一絲遊氣，半日不知人事矣。」予至上房，宮保曰：「先生來耶，我今日甚好，惟有內簾劉令亦於初六日得病，今已垂危。因先生高明，或能起死回生，亦大陰德。且吾亦同病相憐之意也。」對曰：「聞其病實已不治，治之何益？徒損賤名。」宮保曰：「此等病治之不效，豈能歸過於先生。惟念此人乃吾所取簾官房首，其文甚佳，功夫尚在其房中，當可多幾本好卷子，不意如此，然其文不似要死者。」因命人將其文與予看，題乃「舉賢才，曰焉知賢才而舉之」。予看畢，曰：「此文果不似要死者。」宮保問：「何以見得？」對曰：「其文清華，其氣通暢，似有福澤之文，而又無發泄太盡之弊。且其書法端楷，到底不懈，未曾錯落。其精神必素能完足，故論文字皆不當死。」宮保曰：「所論甚是，看文章面上，請去一看何如？」對曰：「諾。」時將二更，且大雨，予乘輿冒雨至承恩寺，曲折達僧舍。見旁空房一間，床架一張，堆草荐數條。床上靠一人，即劉公也。油燈一盞，燈火如豆，陰冷之氣逼人。呼其僕秉燭至，見其大汗如雨，面白如紙，二目直視，牙關緊閉，喉中痰湧，口角流涎，全不知人事矣。使僕探其下體，則囊縮遺尿。予曰：「此死在頃刻，尚何治為？」即欲辭去。伊等堅阻不放，且有跪者。予忽轉念，此文不死，何其人之多死象耶？問：「闈中服藥否？」曰：「天天服藥。」「方在否？」曰：「全在。」予索方細看，無非發散溫燥，而熱總不解。至十九日一方，麻黃一錢五分、羌活二錢、甘草五分、桂枝二錢。予想時邪十四日，忽服此方，其人即當死，何尚能活至今日，莫非與我意有醫緣否乎？於是始為診脈，細細推敲。脈來數大而空，俱欲離根，惟左尺尚有一線可按而得。予暗歎其真讀書人，惟知用功，不貪色欲，根本素能保守，雖經群藥刀斫斧削，而命根猶有存焉。於是用犀角地黃湯，通心達腎，養陰化熱。鎊犀角三錢、大生地一兩、大白芍三錢、粉丹皮三錢。又思所服溫燥一派傷陰，脈來甚數，陰不潛陽，當於養陰之中加介以潛陽法。非若大汗亡陽，脈僅空大，當以參附回陽也。於是加左牡蠣一兩、元武版五錢、外加橘紅一錢、竹瀝五錢、薑汁少許，以達其痰。謂其家人曰：「既然服藥，以速為貴，遲則不及。牙關緊閉，以烏梅擦之必開。惟咽喉痰湧，藥恐難下。此藥得一半下腹，即有轉機，恐全不下而死，勿謗予也。」回時已近三更，宮保猶等信未眠，真菩薩心腸也。細詢一切，色然喜曰：「如此盡心，或當有效。」明早伊家人來告曰：「主人已轉過來矣。」予往問：「如何服藥？」曰：「前三分皆不受，後得一匙下喉七分，皆順流而下。」予見人事漸清，向予點頭，但語言蹇滯耳。連進原方二劑，痰降能言，惟雖不大汗，而總未全止，知其表虛也。於主方外，另仿玉屏風法，用黃耆皮五錢、防風一錢、五味子七分，一服而汗全止。嗣後方去犀角，加大麥冬三錢、高麗參一錢，減竹瀝二錢，約十劑。改用黑歸脾調理而痊。蓋盜汗心液也，補心則汗止。</p>

<h1>十四、張偉堂治效</h1>
<p>張偉堂二兄，吾鄉南張榜眼公嫡派。先居城南塞上，太夫人患瘧，服涼藥太多，病劇。其戚嚴嘉楨素信予，薦診。知其本體虛寒，始以溫解，繼以溫補而愈。嗣遷居揚州，十餘載不相往來。道光五年十二月十九日，忽接嚴嘉兄信，據云偉堂病已垂危，諸醫朝至以為暮必死，暮至以為朝必死。惟病者忽憶當日母病，系兄挽救，思得一診，雖死瞑目，務懇屈降，死生均感等語。因其言直諒不欺，二十日渡江，下晝到張府。即上樓診視，見其痰湧氣急，坐伏茶几，一人兩手扶其頭，不能俯仰，十餘日不得一臥矣。人事昏沉，不能言語，診其脈滑數而大，雖已空象，而尺部尚覺有根。遍閱諸方，自八月服起，皆作外感治，盡用發散消導。月餘後，想覺人虛，易而為補，總以人參為主。後想因痰多氣阻，又改用化痰順氣。又或疑外感，加用疏解。現在諸醫皆云不治，無藥可用。惟一朱醫與偉堂至好，一日數至，以二陳湯作丸與服。見症愈壞，束手流淚而已。予乃曰：「此腎氣上衝症也。諸氣以下行為順，今肺不清降，腎反上衝，氣降則痰降，氣升則痰升，故痰湧氣急不能俯仰。且其脈象甚數，似雜濕熱，陰虛濕熱不化，亦隨腎氣而上衝。若能納氣歸腎，氣降痰降，濕熱亦降，可以安臥，可以調理，症雖重，無妨也。」於是用六味為君，以都氣法原本六味，而六味地黃古稱為治痰聖藥，且稱為下焦濕熱之聖藥，有三善焉，而皆合乎此症，故特用之。大熟地八錢、山萸肉四錢、懷山藥四錢、粉丹皮三錢、福澤瀉三錢、雲苓三錢，外加北沙參四錢、杏仁泥三錢，以潤肺降氣；胡桃肉三錢，以助納氣；福橘皮一錢，取其順氣而不燥。開方後，予往候九峰先生，因即止宿。次日復請，予至。詎料其尚未服藥，問：「因何不服？」曰：「朱醫堅稱熟地不可服故耳。」又請上樓診脈，太夫人曰：「昨方因有熟地不敢服，今懇另訂良方。」予曰：「熟地乃此症要藥，吾方君藥，舍此更有何法？且聞所請先生不少，朝稱夕死，夕稱朝死，無藥可治。今服熟地不合，亦不過死。況予尚許君家不死耶，此症服熟地則生，不服則死。服與不服，悉聽君家，予無他方。」下樓予即欲行。嚴嘉兄曰：「今已將午，不及到鎮，此地有好浴堂，陪兄一浴何如？」予曰：「甚好。」正欲偕行，忽一人出，告曰：「老爺過去矣。」嘉兄彷徨欲上，予笑曰：「予診脈未久，豈有死在頃刻而不知者耶？此不過痰厥，片時即蘇。其尺部根本尚在，保無慮也。」特拉嘉翁出浴。浴罷而歸，曰醒久矣。至是伊家因予言有準，方肯服藥，而尚止服一半，並能仰矣。遷延太甚，已二鼓後，復請予看診。脈亦漸平，偉堂並能說話。謂予曰：「藥真如神，但尚不能平臥，君能令我一臥，則快甚矣。」予曰：「惜君家不肯早服予藥耳，昨肯服藥，今日安眠矣。雖然，明日保君安睡無慮也。」次日依方再進，傍晚服藥，旋即能臥，臥則熟寐，三更始寤。以後聽予用藥，而予總本初方略為加減，地黃則始終未解分毫。八劑後，其症大全（痊），予乃辭歸。次年復請診理，煎方膏方悉本原方。蓋偉堂素嗜蝦油，每食不撤，其濕熱甚重。因熱生痰，因痰致咳。取用辛散，既誅伐無過，取用人參，亦助熱錮痰。因咳致喘，腎氣上衝，猶以二陳丸治痰，豈不去題千里乎。惟六味地黃，三補可保腎氣，三瀉兼治濕熱，於偉堂最宜，況痰之本在腎，腎安痰亦自滅也。</p>

<h1>十五、李青原治效</h1>
<p>李青原兄，病傷寒，頭痛，項強背板，一身盡痛，甚惡寒而不甚發熱，自服發散藥無汗。予診之，見其脈浮而弦甚，知其素來陰虛，不能作汗，以九味羌活湯去生地、黃芩，加當歸八錢，一服得透汗而解。方本景岳歸柴飲，景岳專用柴胡只治少陽症，不能治太陽症，特變而通之。陶節庵九味羌活湯，治江南傷寒最好，江南無正傷寒，不能用麻黃也。或議其黃芩生地，不應見面用涼，然已見口渴欲飲，用之有效。否則不妨易之。予自治李青原後，每遇傷寒夾陰虛者，即以節庵景岳法參用，去芩地加當歸，少則五錢，多至一兩，無不得汗而解。三載以來，取效不下數十人。然則斯方亦殆可傳也。凡發散藥太陽經居多，陽明胃經則白芷、葛根、升麻三味，少陽膽經則柴胡一味。仲景小柴胡湯為少陽症而設也，瘧症不離乎少陽，今人用小柴胡湯治瘧症，未嘗不可。乃景岳五柴胡飲及正柴胡飲，皆用柴胡治太陽傷寒，恐不能散邪，而反引入少陽也。至葉天士治瘧症，則又戒用柴胡，更不可解。今吳人患瘧，不敢少用柴胡，以致纏綿日久，甚有死者，皆其遺禍也。景岳名醫，葉天士醫中翹楚，一則重柴胡如此，一則棄柴胡如彼，豈非偏之為害哉。</p>

<h1>十六、徽州余姓治效</h1>
<p>予三十歲時，館於京口旌營呼協領家。呼公六旬外，忽得類中症，眩暈非常，頭不能抬，夜不能臥，面色浮紅。適萬廉山先生宰丹徒，薦其鄉親唐朗山先生診治，朗山以為虛陽上浮，以真武湯坐鎮北方，用附子至三錢，閤家疑懼不敢服。朗山力主之，惟予贊之，一服而定，調理煎方百餘帖，總用附子五錢，丸藥亦重用附子，統計服附子十餘斤。精神加旺後不服藥，壽至七十七歲。江西宜服附子，而能用之於江南，朗山先生真大手筆也。一時稱奇，予亦心服。十餘年後，李進之兄油行徽夥余姓，年卅歲，六月出門討賬，抱恙而回。醫者以為受暑，投以清涼，忽變周身寒冷，熱飲嫌涼，診其脈沉細如無，知其體本陽衰，雖當夏令仍屬感涼，以桂附理中湯。用附子一錢如弗服也，加至三錢，身寒稍減，而熱飲仍涼，直加至五錢，乃日見有效，計服附子二斤許，症乃痊愈。蓋其家婺源皆服山澗之水，其性極寒。生斯地者，體多偏寒，以寒體受寒涼服寒藥，故一寒至此。醫貴審時兼宜度地，非易易也。然予之所以敢用重劑者，由先得叨朗山先生之教也。</p>
<p>大凡脈沉多寒症，而亦有不盡然者。嘉慶十八年，予往常州。有朱某者小販人也，忽得奇疾，周身畏寒，醫投以溫劑不應，因投以熱劑如桂附之類，而其寒愈甚。爰求予，診其脈皆沉，按之至骨，略見疾數，知其為同氣相求症也，以犀角地黃湯與之。朱本賤業，以得予至為幸，見方即服，一服而寒減，三服而全愈。此等症確身寒，脈沉，未有不用熱藥者。不知其伏熱在至深之地，一遇熱藥相引而入，並人身之衛陽亦隨之而入，故外反憎寒也。幸朱服熱劑不多，否則難挽救矣。</p>

<h1>十七、李楚生眼病治效</h1>
<p>李楚生三兄，患目，二目皆病，左目尤甚，紅痛異常，瞑不能開，勉強開之，盲無所見。頭痛難忍，亦左為尤甚，可怪哉。大渴欲飲，每日飲濃茶十大碗。蔡醫以白虎湯投之。石膏每劑一兩許，愈服愈渴，數劑後濃茶加至三十大碗。飲食不思，神煩不寐，終日終夜飲茶而已。兩月有餘，困頓已甚，乃延診。脈皆弦數而大，而右關數疾之中尤見和柔。予笑曰：「此非白虎湯症也。白虎湯乃傷寒時邪，胃有實熱，大渴欲冷飲症所用。今因患目而渴欲熱飲，不飲冷飲，乃素嗜濃茶，克伐胃氣，胃液乾枯，求飲滋潤。而其實潤之者乃更傷之，故愈飲愈渴。彼石膏輩能治實熱，而不能治虛熱。《本經》載虛人禁用，恐伐胃氣。彼庸庸者不知，以為渴飲則當用石膏，而不知外感內傷有天淵之別，熱飲冷飲有毫釐千里之分。率意妄投，不獨損人之目，即損人之命不難也。」其仲兄問曰：「聞目屬肝，何患目而胃病如此？」予笑曰：「肝開竅於目，夫人而知之，乙癸同源，肝虧則腎虧，亦夫人而知之，不知五臟六腑十二經脈三百六十五絡其血氣皆稟受於脾土，上貫於目而為明，故脾虛則五臟之精氣皆失所使，不能歸明於目矣。然脾與胃相表裡，而為胃行精（津）液。胃主降，脾主升，胃降然後脾升，飲食入胃，遊溢精氣，下（上）輸於脾，然後脾氣散精而上輸於肺也。今胃汁乾枯，胃氣不降，脾有何精（津）液可升，尚能歸明於目哉？況病者肝腎本虧，腎不養肝，肝虛生熱，熱盛生風，以久虛之胃，木火戀之，故不獨熱難堪，飲不解渴。且胃無和氣，直致飲食不思，胃不和則臥不安，故夜不能寐也。至目痛自屬肝火，頭痛自屬肝風。而今欲治之必先救胃，救胃必先戒茶，然後大養胃陰，並養肝腎。胃喜清和，得滋潤而氣自能降；木慮枯燥，得涵濡而火自能平。火平則風息，眼無火不病，頭無風不疼，如此調治，症雖險無慮也。」病者慮茶不能戒。予曰：「非戒飲也，特戒茶耳。」於是以菊花、桑葉代茶，而先投以養胃陰扶胃氣重劑。十日後即不思飲茶，然後兼調肝胃，並或清肺以滋生水之源，或清心以瀉肝家之熱，千方百計乃得漸痊。二年後其尊人亦得目病，蔡醫以為能治，不必延予，而一目瞽矣。</p>

<h1>十八、柏邃庵治效</h1>
<p>京口協領柏邃庵，方正人也。從無淫邪，奈廿餘歲初次進京，未知檢點，竟不知於何處旅店蒙其不潔。頭生顆粒，有似廣瘡，急延外科醫治，想用捺藥隨即痊好，而年餘後下疳，外科調治久而不愈。予勸以仙遺糧下五寶丹，由漸而愈。邃庵最畏服藥，愈後未經清理，後乃發為陰癬，腰以下腹以上蔓延無隙，其癢異常。然三十二年以來竟無他患。不意於道光十一年，忽有教以醫癬者用紫荊皮為末，以白芨磨汁調敷。予聞之再三勸以勿治，蓋疥癬之疾，不足憂也，設使治愈必生他患。奈邃庵竟為所惑，不納予言。日以二藥裱敷下體，自秋徂冬，癬竟全收，不復作癢，欣然得意。十一月望後，忽患耳痛，就予診脈。其時適值云汀宮保忽患吐紅，專札見招。是日診脈後即束裝赴省。予謂兒輩曰：「邃庵脈象大為不好，恐有重症，而予適不在家，奈何？」赴省一月，忽接家信，據云邃庵病勢沉重，有朝不保暮之象，請予速回。余不勝駭然，幸宮保恙已全愈，隨即買舟南下，一日達鎮，即詣柏府看視。見其耳連項腫，稠膿淋漓，臭不可近，人則一絲遊氣，蓋已米飲不下者九日矣。見予至，亦不能多言，惟曰：「君雖來，吾亦不吃藥也。」詢之伊子。據云：一月之中所請內外科服藥不少，大抵清涼居多，以致胃敗，故邃庵誓不服藥矣。予因轉為邃庵曰：「兄之病源，惟予深知，他人不及知也。不知者認為尋常之火毒必用涼藥，須知此症不但不可用涼，且宜用溫。兄如服弟藥，三劑必然有效。如不效，再不服藥，何如？」邃庵聞以溫易涼，不覺首肯。予乃以歸脾湯加減，另以五寶加西牛黃與服。三劑後臭味頓減，口味大開，精神漸振。邃庵問予：「何藥之神也？」予笑曰：「兄之病根在三十年前，他醫不及知，即兄亦念不及此也。兄當年曾沾染惡氣，誤服捺藥，變為下疳。愈後未經清理漸化為陰癬，此癬為餘氣之出路，且周身之濕熱皆以此出，原萬無治理者也。奈兄誤聽人言忽然欲治，居然治愈。而究之風濕熱毒從何而去，不覺上攻清竅。又值現與統軍不合，告老罷官。雖素闊達，究非得已，心懷未免不暢。心寄竅於耳，故病發於耳也。醫者不知，肆用寒涼，使熱毒欲發不發，遏成臭氣，異乎尋常。人之脾胃喜香而惡臭，此等惡臭積於胃中，胃氣焉得不敗，尚冀飲食之甘乎。且夫治餘氣之法以升透為主，尤以扶正氣為主。蓋餘氣即邪氣也，正氣衰則邪氣陷而入內，正氣旺則邪氣托而達外。常見庸庸者，治濕毒之症專主苦寒，攻下百無一愈，誠昧於醫理也。兄之症情節遇多，醫更難明，動輒得咎。予用歸脾湯法可以養心，可以健脾，可以扶腎，可以開鬱，可以建中，可以托邪。而又用加味五寶丹諸多寶貴敗毒搜毒，專使外達，不容內蘊，用藥得當，似乎通神。雖然，現幸獲效，仍須癬發，方許收功也。」數日後癬漸作癢，十餘日後癬遍下體，而耳患全愈，飲食倍常。始終總此一方並未改易方。余自省回見其光景，亦疑不可救，而竟獲速效。此其中殆有天焉，非人力所能致也。</p>

<h1>十九、李曜西子瘧疾誤藥幾危治效</h1>
<p>李曜西，吾長子之襟兄也。其子於初秋患瘧，醫者為徐醫，延至八月中忽請予診。據云瘧本寒少熱多，多汗而熱難退。徐醫連投白虎湯，石膏每用一兩，熱較減而寒較多。現則寒後不能轉熱，有氣自少腹上衝，疼痛異常至不能受，然後漸漸轉熱，痛隨熱減，熱壯而後痛止，胸次飽悶，飲食不進，神情疲敗。徐醫屢用順氣止痛等法，全然不應，故請斟酌。余問：「何以用白虎湯？」據云：因病者熱多渴飲。予問：「渴飲幾何？」曰：「熱時約飲廿次，每次一茶碗蓋。」予笑曰：「次數雖多，茶碗蓋貯茶無幾，雖廿次不足兩碗，不算大渴。」再問病人慾冷飲熱飲，則專用熱飲。予曰：「據此則大錯矣。書載白虎湯症必大渴欲冷飲而後可投。足見雖渴欲飲而不欲冷服，尚不可投也。況並非大渴，且欲熱飲乎。且夫治瘧之法必寒能化熱而後可愈，豈有寒本少而欲其寒多者乎。夫白虎湯在瘧門未嘗不用，然必熱瘧而後可。今症汗多熱難解，明系暑瘧，暑中兼濕故也。暑乃陰邪，熱乃陽邪，豈可徒見其熱，遂以陰邪而用陽邪之藥耶？此必誤用白虎致寒轉增而將暑邪逼入肝腎，以致肝氣夾腎氣上衝也。」曜西問：「瘧乃少陽症，何以轉入肝腎？」予曰：「五臟皆令人瘧而不離乎少陽膽經，膽在肝葉之下，肝膽相為表裡，膽經邪熱為寒所逼不得外達，則內傳於肝，乙癸同源則又內傳於腎。予向診令郎脈象，肝腎本虧，所謂諸病以虛而入也。當其瘧來，寒固因寒藥而加甚矣。至熱邪為所遏，欲達不達，轉將肝腎之氣逼令上衝，以致疼痛異常，神昏氣逆，久之而熱漸透，疼亦漸止。久之又久，而熱大透，疼乃全止，邪氣透而肝腎之氣乃寧也。至始尚能食，今則全不能食，皆因石膏誅伐無過，大傷胃陽之故。」曜西聞予議論，以為透闢，遂請入診，診得脈來沉象，按之弦數，左關（肝）尺（腎）尤為不靜，右關（胃）沉而不數，按之無力。予閂：「症本暑瘧，無服熱藥之理，奈遇服寒涼，邪陷肝腎，非附子理陰煎不可，雖然其法過火，諸公未免疑慮，權以當歸建中改生薑為煨姜投之，以觀進退。」一劑後痛較減而熱較平，漸欲飲食。二劑後痛又減而熱又易，然腎氣仍沖而瘧不能止。予竟用附子理陰煎，曜西尚在遊移。予告之曰：「桂枝，附子之先聲也；煨姜，炮姜之先聲也；歸芍，熟地之先聲也。建中既已有效，又何疑焉，建中雖能溫中，不能納腎氣補腎陰以托邪也。今用附子理陰，以熟地一兩納氣歸腎兼以平肝，即以托邪，加以附子五分、炮姜五分，溫中散寒，領邪外透，當歸三錢和陰化瘧，斯方也，瘧可以已。奈何不用而任瘧之纏綿耶？」再三開導而後肯用。如方一服，不獨肝腎安寧而瘧竟止矣。知者無不以為神奇，適云汀宮保招赴清江，未能一手調理。半月後，予自清回，復請往診，蓋其瘧已反，他醫不敢用原方，雖輕不愈。予仍以原方投之，一劑而愈。愈後連服七劑，瘧不復發而飲食香甜，精神如舊。古人稱有是病即有是藥，不我欺也。庸庸不知，伐人性命，如同兒戲，可不痛恨哉。</p>

<h1>二十、吳婿瘧中又中熱治效</h1>
<p>吳澤之，吾婿也。甲午歲，館於孩溪，夏秋之交，天時盛暑，致患暑瘧。地無醫者，喚輿來城，至晚到家。似無重恙，乃上燈時忽然昏厥，手足搐抽，不知人事，惟時作笑，旋又身熱如炭，煩躁非常。其時城門已閉，余不及知，天明得信，隨即往看。親家慌忙，病者情形實已危急，診其脈象洪數之中更兼躁急。夜間曾有劉醫來診，以為中暑。余曰：「非也，此中熱也。此熱中厥陰也。熱中足厥陰肝經故抽搐，熱中手厥陰心包故善笑。中暑之脈數而兼濡，暑乃陰邪也。中熱之脈數而兼洪，熱乃陽邪也。此又兼躁急乃素本陰虧又中陽邪，有孤陽無陰之慮。雖然，勿謂全未中暑也，其作瘧也，其中暑也。因患瘧而來城，由孩溪至城，幾四十里四野中又無避處，以中暑之虛體，長行於炎熱如焚之中，有不中熱者乎？故此乃先中暑而後又中熱也。為今之計且治中熱，幸未服錯藥，似尚可救。」以大劑犀角地黃湯加羚羊片三錢，犀角入心包以清熱，羚羊入肝經以治熱，生地輩則養陰清熱以化亢陽，外加竹茹、竹葉、西瓜翠衣涼心清熱化痰以為佐。一服後人事漸醒，不復笑而抽搐仍然，尚神煩譫語，渾身不著一絲。三服後始知著褲，熱退神寧，伊長兄以為全愈。予曰：「未也。中熱雖解，中暑尚未全解，暑瘧尚不得免耳。」後果復行作瘧，其脈弦數之中總兼躁象，汗出不已。余知陰虛之故，於小柴胡湯多加生地輩甘涼養陰之品，真陰難成而易虧，又系胎瘧，不能驟止，十數帖後始能霍然。至次年乙未，館於東馬頭，夏間又患暑瘧，張醫投以清脾飲，更覺煩熱異常，急急回家就醫，予仍投以隔歲原方，二劑而愈。</p>

<h1>二十一、劉松亭患瘧轉痢治效</h1>
<p>劉松亭，清江浦知名之士也。年將七旬，夏患暑瘧，寒輕熱重。醫者朱某亦清江之翹楚，朱某亦未免稍染習氣，見劉公熱重即加大黃，兩劑後遂變為痢，紅多白少，裡急後重，一夜廿余遍。年老之人，又屬瘧後，委頓不堪。知予在浦，延請斟酌。予至見朱某業已定方，仍以大黃為主。予曰：「痢疾滯下，大黃原在所當用，但此症非本來痢疾，乃瘧變為痢，少陽熱邪陷入太陰，恐脾氣太虛，又屬高年，有下陷之慮。書稱和血則便自愈，調氣則後重除，似宜以此為主，兼用喻西昌逆挽之法，使邪氣仍從少陽而去，庶為平穩。」朱某亦以為然，囑予立方。予用當歸八錢，白芍八錢、甘草八分，以和血也。加紅糖炒楂肉三錢、木香五分、廣皮八分，以調氣也。加川連五分、黃芩八分，以清熱也。外加柴胡二錢以提邪出少陽。一服而大解通暢，滯下全無，再服而紅白皆淨。其家疑復作瘧而瘧竟不來，蓋皆化去矣。此方治虛人痢疾最宜，予屢獲效，然非重用歸、芍不可。聞清江藥鋪見用歸、芍至八錢以為奇。奇歸、芍而不奇大黃，誠不可解也。</p>

<h1>二十二、滸關顧某治效</h1>
<p><u>肝葉倒豎案</u></p>
<p>道光九年，予應滸關黃拙安之召，有顧某因與人忿爭，忽然直立不能臥，諸醫罔效懇余診治。予一見曰：「此肝葉倒豎也。」伊家驚聞肝倒轉來還能治耶？予笑曰：「病患不能識，既識之，易易耳。用小溫膽湯加龍膽草，再加金器同煎。另以豬膽一個，懸高梁上，開一小竅，令膽汁滴下，將火爐藥銚對準，使滴滴俱歸銚中，俟汁滴盡藥亦煎熟，一服而愈。」家以為大奇。嗣有關醫虛心者，特問予請教，以為先生治法可為奇效，但案云肝葉倒豎，而所用藥品皆入膽經何也？應之曰：「此安甲和乙法也。肝為乙木，膽為甲木，膽在肝葉之下，肝之庇廕若母子。然凡肝氣上逆未有不膽氣隨之者，故平肝不及不如安脾。譬如母攜子出，與人作鬧，勸母不依，姑以餌騙，令小兒欲歸，其母因愛子之故，亦只得息怒而去。且夫肝為將軍之官，謀慮出焉。膽為中正之官，決斷出焉。《經》以十一臟皆取決於膽，而肝尤取決於膽者也，故安甲木即所以和乙木也。」關醫聞之折服而去。</p>

<h1>二十三、丹徒縣吳晴椒內治效</h1>
<p>杭州進士吳晴椒宰丹徒。其夫人忽得異疾，每於梳頭後胸乳間發紫斑，心中難過之至，約一二時許斑消心定，十餘日不愈，乃請予診。予問「何不早梳頭？」曰：「早梳亦然。」「何不遲梳頭？」曰：「遲梳亦然，曾遲至申酉梳之，亦無不然，第惟不梳頭耳。」診其脈皆沉象，兩關按之則左弦數而左滑數。予曰：「此脾氣也，而兼乎肝。左沉弦而數者，肝氣鬱而肝陰虧也。右沉滑而數者，脾氣鬱而濕熱不宣也。夫脾主健運，肝主調達，今皆以郁，故土受木製，濕熱亦鬱於脾而不化。脾主四肢，梳頭則兩手皆舉而脾氣上升，濕熱隨之而升，故心胃之部外則發斑，內則難過。梳頭之手下垂而脾氣亦下，濕熱仍歸於脾不復上擾，故病象暫退而根未拔也。所幸濕熱不重，只須和其肝脾，開其鬱結，透其濕熱，病自退矣。」予進以補陰益氣煎，以熟地平肝，以山藥健脾，以柴胡疏肝，以升麻蘇脾，以陳皮、甘草、當歸調和其中，一服而愈。再進二服以善其後，永不發矣。</p>

<h1>二十四、謝蕉石先生間日不寐治效</h1>
<p><u>附戴六兄治效</u></p>
<p>謝蕉石先生，江西人，原任開歸道，現揚州安定書院掌教。其小膽怯多疑，適虞運司有七情鬱結之病而愛吃熱藥，揚州醫鄭姓盡以桂、附投之，鎮江府學司訓陳君更加石硫黃丸，以致臟腑燒爛，大便下血如爛魚腸，猶不肯稍服養陰而死。蕉石先生素所交好。因此傷懷轉生疑懼，忽然間日不寐，不寐之日固屬難過，而晝亦各病業生，如頭暈、頭痛、腰疼、腿疼、心跳、肉瞤，腹脹、腹痛等症，或來或去，變幻無常，惟得寐之日較為安靜。揚醫無能治之者，先生更加惶懼。延一張醫留住齋中，日夜醫治，毫無效驗，而病象更多，精神日減。隔江延予，即予初亦不解，不過育心寧神等藥，亦無甚效。三日後予細想病情，審視脈象，不覺恍然大悟。蓋其脈象三日以來大小疏數不能一致，有似邪脈，而察其神情並無外來邪祟，必三尸為之也。蓋嘗考之三尸，或稱三彭，上屍彭琚（倨）住坭丸宮，中屍彭質住膻中，下屍彭矯住臍下丹田。三尸喜人為惡，不喜人為善，修煉家必斬三尸而後得道。然能斬之者何人？修煉反成瘋魔，皆三尸為之也。至於人之運用總在一心，夜寐則神靜心莊，何反多夢，亦三尸為之也。人有隱瞞之事，不肯告人，而夢中反自說出者，三尸喜揭人之惡也。夫心為君主之官，膽為中正之官，如果心正膽壯，三尸亦可安靜。若心虛膽怯，疑懼環生，則三尸從中侮弄，病情愈出而愈奇，俗所謂疑心生暗鬼者實常有之。不必外來之鬼，大約即三尸耳。三尸謂之蟲，又謂之神極，其靈異雖守庚申者不能斬也。今蕉石先生心膽本虛，又生疑懼，故三尸得間而作祟，此非治三蟲不可。但用藥不與病人知，病人知之則三尸蟲拒之，二豎之伎倆可畏也。於是與四少君細剖其理，囑以開方勿與尊人看閱，症始可治。少君有難色，謂：「家君不獨閱方，且時對《本草》，焉肯不看方藥。」予思方不與閱不可，藥全與知亦不可。好在先生十分信予，當可進言，因於進診時謂之曰：「大人此症調治良難，然能不究方藥，則予煎方外予有丸方，可保一服即效。若大人必知何藥，則藥必不靈，予技已窮，只好告辭。」先生因予言激烈只得答應。予因另開丸方，皆殺三尸蟲之藥，加以寶貴鎮邪寧心之品。是晚正值不寐之期，以二煎湯藥下丸藥三錢，居然一夜安眠。從此以後無夜不寐，精神如舊，二十日來並無反復，予即告辭歸里。先生欲早晚得一人看脈才可安心，並願送銀一兩，在此過夜。問予當請何人。予對曰：「府上本有張先生在此，何不仍請伊來，好在無須伊另用藥也。」於是將張醫請來。予告之曰：「大人此症甚奇，幸予猜著，特薦先生來此，萬勿更方。先生住此，大人全愈，即先生看好，亦可得名，不與先生爭功也。」伊似甚佩，再三問予究系何症，丸方何藥。予如不告恐其多心，因大略告之曰：「此因疑生蟲，不過用殺蟲之品加硃砂、琥珀以寧心育神耳。但治法藥不與病人知，本勿說破。」次日予即辭歸。乃七八日又專差過江說病已反，逼予到揚。予至謝府先晤四少君，問病何故忽反。少君曰：「此張先生之害也。家君本時訪丸方為何藥？總對以冠仙先生不知在何處合來，實在不知。乃張先生來，家君再三盤問，伊即言略知一二，大抵硃砂、琥珀之類。家君即將予喚進，大聲呼斥。謂予明知不言，硃砂如何吃得。從此以後不吃丸藥，仍間日不寐，諸病業生。」張先生無法可施，只得又來奉請。予聞之亦著急之至，進見蕉石即懇予曰：「先生救我。」予曰：「予前本救大人病已愈，廿日予始辭歸。予本囑大人不問藥始有效，奈大人多疑必訪何藥，張醫不知醫理告知大人，因此不服丸藥，除此之外更有何法耶？」大人曰：「吾今再吃丸藥何如？」予曰：「再吃亦斷無效也。」是夜正當不寐，大人囑煎藥人加丸藥三錢，在內臨臥服之，依然不寐。次日難過異常，吃飯時忽請予進內。謂予曰：「先生看我何如？」時二月初，春寒不減，大人重裘，皆大毛也。乃忽皆脫去，止穿絲綿小襖，而大汗如雨將小襖濕透，胸膛坦開，熱氣騰騰。據云近日每飯必然大汗，今日僅吃飯一口而汗即如此，直截不能吃飯，奈何？先生務要救我。予想三尸蟲因知昨晚藥內有制它之藥，故更幻出此象也。予因此轉得靈機，因慰之曰：「不必過急，容予思之。」蓋汗雖心之液，而飲食多出於胃。蕉石性多偏好，其飲食非極熱者不吃，其胃本有積熱，三尸故得藉此作祟，今借治胃熱暗加一治三尸之藥，假設其詞，使病人知其藥而不知其用，三尸雖靈同二豎，亦不知所邂也。少間謂之曰：「大小不寐之症尚可緩治，而此大汗倒甚可畏，急須挽救，不然恐汗脫也。」伊本心虛膽怯，聞此急求治汗。予曰：「大人果然欲命，從此飲食不可過熱，而胃中積熱，熱已多必須重用蘆根，帶涼帶通，汗可漸少。但蘆根必須常服，而其性過涼，恐服之又生泄瀉，須更得一藥可制蘆根不至泄瀉，如二術健脾而未免過燥，與蘆根一合。再四思維止有黃精一味脾腎兩補，可與蘆根合用，不改其清涼之性，而又可不至泄瀉也。」蕉石即要《本草》來看，予即將《本草》贊黃精功用處指點與看。而內有殺三尸蟲一語，伊本不留意，而予不等看完即令拿去。伊怕出汗即令速買二味，蘆根二兩、黃精三錢，當晚與服。是晚吃飯亦即無汗，是日本當寐之期，夜固安靜。明日當不寐之期，仍服二味，汗既不出，夜得安眠。從此煎方以二味為引，夜夜安眠，諸病皆無。予屢告歸，伊家款留不放，一月後始得旋里。四少君問予前方何以不用黃精。予告之曰：「此用藥之道也。此等怪症實不經見，予精思而得之。所用丸藥十數味，多方以治之，以為當可有效，尚留一二以為後圖，設使竟用完之後，被張醫說破，豈不束手無策耶。」此道光十六年事也。越十五年咸豐元年，又有戴六兄之症。</p>
<p>戴六兄，字槐卿。素亦心虛膽怯，偶住場下空房獨宿，頗生疑懼。忽覺背心微寒，漸覺周身怯寒，因而睡去，似入黑暗地獄中，繩捆索綁，難過異常，欲喊不能出聲，欲動如石壓住，惡境多端不能細述。必待有人來帶推帶喊得以醒來，如出苦海，次日另移臥地而惡夢依然。從此神情恍惚，飲食不甘，睡則惡夢難受，或炎熱時蓋薄被猶嫌涼，或夜回涼不蓋被猶兼熱，或夜間大笑，或白日大笑，不笑時問之彼並不知。由場下回揚覓一汪醫診視，與以歸脾湯，宜乎合式，乃二三劑後覺心忽然落下，自覺有聲。以此五日不寐，全非歸脾湯之過，只得過江覓醫。先就蔣醫某診，蔣以為陽虛用桂附等藥，正值長夏炎熱非常，伊不敢服，轉就予診。予診其脈大小疏數不一，知是三尸蟲，因疑懼而生祟，與蕉石先生同因。告之此症非寒非熱，奇幻百出，醫家鮮能知之者。兄既遇我，可保必愈，但必不看藥方，如看藥方，予斷不治。伊素知予，深信不疑，予見面即以補膽養心藥中加以黃精，囑臨臥服，即得安眠不做惡夢。然其所現之症大有祟氣，恐其所住空房本有陰邪之氣，以致三尸藉此作威。又另加丸方用黃精為君，佐以犀角、羚羊、龍骨、龍齒、鹿霜、虎骨、龜板、雷丸、硃砂、琥珀諸多寶貴靈通之品，壯心膽而通靈明，制伏三尸。又加箭羽、桃奴兼制邪魅之氣，又囑用上等硃砂大塊包藏發內。廿日來，不獨惡夢永絕而諸恙全無。固由予看出睡夢顛倒皆三尸為之理。亦由書稱藥有不與病人知者，真不我欺也。《內經》診夢甚詳，亦各有因，如陰甚則夢大水，陽盛則夢大火，上盛則夢飛，下盛則夢墮，甚飢則夢取，甚飽則夢與，皆有至理。夫人寐則心如死矣，神盡藏矣。夢又誰為之主，非三尸為之，而誰為之哉？予殆亦開千古不傳之秘也歟！</p>

<h1>二十五、鄒姓傳屍癆治已得效被人打破一症</h1>
<p>西門外打索街，鄒宅有寡居八房次子吐紅，請某醫診治不愈，轉請王九峰先生診視。一次亦未見效，轉囑請予。予見其子年將二十，生而肥白，病雖久並不消瘦，吐紅不多已止。惟食入必吐，多日不納穀食，神情疲憊，脈來不甚細數，而大小疏數不一。予細詢其家曾有此症而死者否，則其父死於瘵，長子亦然，今及次子。本在中堂開方，即病者所住房外，其家房屋甚多，予拉某醫及其陪醫者另至一廳，去病者住房甚遠。因告之曰：「此非尋常性症，乃傳屍症也，此症內有勞蟲，歷代相傳由長及幼可以滅門。其蟲之靈甚於二豎，男子由腎傳心，心傳肝,肝傳脾。至傳脾則修煉已成，其先尚容人進食，彼亦資其精氣，至修煉成則不容人進食矣，今食入必吐，無法可治，奈何？」某醫問古人豈無治法否？予曰：「治法雖有，大概無效，惟仲景先師有獺肝丸一方最妙。予曾治過一泰州人，果然有效，系加獺肝于都六味中，三料而愈，共用好獺肝三個。然其病未久，蟲尚未成，故可得效。後遇此症甚多，蟲或將成，或已成，雖有獺肝亦不能治，今症已傳脾不可為也。且獺肝一月生一葉，必至臘月十二葉變化始全，功用乃大。現在初秋其肝不過七葉，以變化未全之獺肝，治修煉已成之癆蟲，有何益乎？論此症本無治法，果能納穀不吐尚有生機。今再四思維，止有鰻魚湯一法。予見《東醫寶鑑》載人家染傳屍癆相繼死者不一而足，後傳一女，慮其復傳，競將此女拋入水中，漁人網得，見其尚生。適值鰻魚旺產，船上以鰻代飯。即以湯飲之，其女漸蘇，後日以鰻首為食，其女獲生，即為漁家婦。《本草》亦有載鰻魚能殺癆蟲者。今若覓鰻首一條煎湯與吃，但不可說是鰻魚，只說是腳魚湯用以滋陰，或可不吐。但得一日不吐，即日日以此湯飲之，連粥食亦可不吐矣。以此調理可望殺蟲活命。俟至冬間再覓全獺肝合丸與服，可以除根。但制蟲之品萬不可與病人知，即傳屍二字亦不可與病人說，二豎子之利害真可怕也。故今與諸君說話必遠隔病者臥房，稍走風聲，仙丹無用矣。」其家依言，覓有小鰻一條，煎湯作腳魚湯進，居然不吐。另有煎方亦不吐，明日如法亦不吐，且能進粥。十數日來藥食與鰻魚湯雜進，全然不吐，納穀漸多，居然望好。予適欲赴蘇，特囑其及某醫藥方不過敷衍，病人全靠鰻魚，但不可與病人知一言，須牢牢切記，不可視為閒話也。予赴蘇一月，中秋始回至家，則鄒姓日日著人請予。至其家則吐病已反幾十日矣，問何以故？則九峰先生到鎮，某醫欲恭維先生，逼伊家請診，伊家不得已，聽其代請。九峰到房中診視後至中堂坐下，與臥房僅隔一板。而先生年老恍惚，忽大聲曰：「此傳屍症也。有蟲為患，必得大鰻魚一條，用老僧尿壺同陳倉米煨爛，合搗為丸，服盡則其病可愈，但不可與病人知。」九峰本重聽耳聾之人，言語聲高，病人朗朗聽見。九峰去後，伊家如法合藥，急與病者服，到口即吐。再以鰻魚湯與服，亦到口即吐，病者亦知非甲魚矣。伊家尚向予求救，予實無法只得告辭。後聞諸醫雜進，日見其壞，即於八月內死矣。病者尚有一弟，予囑其速速過江躲避，不可見兄之面，蓋屍蟲之傳人往往即在人死之時也。今聞其弟尚未接此症，可謂幸矣。予思鰻魚竟能治癆蟲，只要於未成勢時尚少知覺，未具神通，日食鰻魚竟可治之，保人性命。所望人家有此害者早為防備耳。</p>

<h1>二十六、缸瓦廠張大兄鼻淵治效</h1>
<p>張瑞郊大兄，予世交也。忽得鼻淵症，伊家常延徐醫，因請調治兩月有餘，濁涕鼻穢不減，更增鼻塞不通，頭昏而痛。徐醫自稱所用之藥皆古人鼻淵治法，查書可證，奈此症難治耳。張大兄不得已來就予診。情形恍惚，予診畢云：「症非難治，但治不得法耳。」初診立方服藥三帖鼻涕大減，鼻全不塞，頭不昏痛。再診原方加減令服七帖竟痊愈矣。照方令加二十倍熬膏常服以杜後患。有伊友問予曰：「他人醫兩月餘無效而加病，君一見以為無難，一二診而果然全愈，何其神也。」予笑應之曰：「此非足下所知也，行醫必知古方，不知古方有合用者，有不合用者，全在醫有靈機，可泥古歟？況鼻淵古方全不合用。予向遇滸關適有總辦張姓正患鼻淵，諸醫不效，乃延予診治。予閱所服之方，無非泥古法者。蓋古方治此症大抵用辛夷、蒼耳輩通腦之藥，殊不思《內經》云『膽移熱於腦則辛頞鼻淵。』今不知熱之來路，惟用辛熱之藥上通於腦，腦愈熱而鼻涕愈多，日久腦虛頭昏頭痛所由來也，治不得效，甚有謂之腦寒者。《經》明云膽移熱於腦，何得謂之寒？夫鼻淵由腦熱而來，腦熱由膽熱所致，只須涼膽使無熱可移於腦。腦雖有餘熱，自由濁涕而去，何愁病之不愈哉！」予竟將此理開於脈案，方用犀角地黃湯，以羚羊易犀角清補肝膽。蓋膽在肝短葉之下，相為表裡，清膽必先清肝，甲乙皆得所養則不生火而熱自清。再合溫膽湯，重用竹茹兼清肺胃以化痰，藥煎成後入豬膽汁少許以為引，一藥得效，數服全愈。今治張先生之病，予若不思而得者，蓋有成竹在胸也。其友聞之稱拜服而去。</p>

<h1>二十七、郭秉和戒菸治效</h1>
<p>郭秉和嗜鴉片煙，其癮甚大。詣予求戒，予思煙引甚怪，書稱諸怪病皆屬之痰，痰病求之不得則屬於蟲，五臟之中為蟲所據，則精神血氣皆不能自主而聽蟲所為，煙引之怪蟲為之也。諸病從虛而入，諸蟲亦以虛而生。五臟之中，何臟為虛，則煙毒先入，而蟲亦先生。故同此吃煙而癮之來也迥不相同，或神疲呵欠，或腹痛異常，或時欲大解，或精泄如溺，種種不一。大抵何臟生蟲則現何臟之病，至其時蟲欲得煙，其癮乃至。今欲戒菸非治蟲不可，而欲治蟲非補其虛不可。郭兄之癮來時即欲大解，中氣腎氣皆虛，於是以補中益氣合補陰益氣，每日作大劑與服。另製藥末，用貫眾，雷丸、蕪荑、鶴蝨、苦楝、錫灰、檳榔、榧實、粟殼之藥，稍加菸灰為引，砂糖調服。命於癮初到時仍吃煙一二口，使蟲頭皆已向上，即將末藥調服，蟲食而甘之，而不知其殺之也。伊本服煙廿四年，如法服三日即減去一半，又三日僅餘每早四口。糞後逐日下碎黑蟲細小而多，十數日早上四口總不能免。復請予斟酌。予曰：「此必蟲根未盡，子姑待之。」又十餘日伊忽欣然來告曰：「我早上四口煙亦戒矣。」問何故？曰：「予昨大解後似有物堵塞肛門，極力努爭，突出而下，視之如一小衣包，破之則皆碎蟲也。」一時傳聞，皆以為奇。後有小癮者，所餘末藥如法服之。連治二人。此數年前事也。近日煙價漸賤，吃煙者更多，求戒者絕少，即郭秉和亦仍吃煙矣。嗟乎！我欲活人而人皆求死。</p>
