<header data-type="book">
<h1>金匱要略心典</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>尤怡</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1729">公元1729年</data></dd></div>
<div><dt>底本</dt><dd>遂初堂藏板（<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00590/index.html">早稲田大学図書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>徐序</h1>
<p>今之稱醫宗者。則曰四大家。首仲景。次河間。次東垣。次丹溪。且曰仲景專於傷寒。自有明以來。莫有易其言者也。然竊嘗考神農著本草以後。神聖輩出。立君臣佐使之制。分大小奇偶之宜。於是不稱藥而稱方。如內經中所載半夏秫米等數方是已。迨商而有伊尹湯液之說。大抵湯劑之法。至商而盛。非自伊尹始也。若扁倉諸公。皆長於禁方。而其書又不克傳。惟仲景則獨祖經方而集其大成。遠接軒皇。近兼眾氏。當時著書垂教。必非一種。其存者有金匱要略及傷寒論兩書。當宋以前。本合為一。自林億等校刊。遂分為兩焉。夫傷寒乃諸病之一病耳。仲景獨著一書者。因傷寒變證多端。誤治者眾。故尤加意。其自敘可見矣。且傷寒論中一百十三方。皆自雜病方中檢入。而傷寒之方。又無不可以治雜病。仲景書具在。燎如也。若三家之書。雖各有發明。其去仲景相懸。不可以道里計。四家並稱。已屬不倫。況云仲景專於傷寒乎。嗚呼。是尚得為讀仲景之書者乎。金匱要略。正仲景治雜病之方書也。其方亦不必盡出仲景。乃歷聖相傳之經方也。仲景則彙集成書。而以己意出入焉耳。何以明之。如首卷栝蔞桂枝湯。乃桂枝加栝蔞也。然不曰桂枝加栝蔞湯。而曰栝蔞桂枝湯。則知古方本有此名也。六卷桂枝加龍骨牡蠣湯。即桂枝加龍骨、牡蠣也。乃不別名何湯。而曰桂枝加龍骨牡蠣湯。則知桂枝湯為古方。而龍骨、牡蠣則仲景所加者也。如此類者。不可勝舉。因知古聖治病方法。其可考者。惟此兩書。真所謂經方之祖。可與靈素並垂者。苟有心於斯道。可舍此不講乎。說者又曰。古方不可以治今病。執仲景之方。以治今之病。鮮效而多害。此則尤足嘆者。仲景之方。猶百鈞之弩也。如其中的。一舉貫革。如不中的。弓勁矢疾。去的彌遠。乃射者不恨己之不能審的。而恨弓強之不可以命中。不亦異乎。其有審病雖是。藥稍加減。又不驗者。則古今之本草殊也。詳本草惟神農本經為得藥之正性。古方用藥。悉本於是。晉唐以後諸人。各以私意加入。至張潔古輩出而影響依附。互相辯駁。反失本草之正傳。後人遵用不易。所以每投輒拒。古方不可以治今病。遂為信然。嗟乎。天地猶此天地。人物猶此人物。若人氣薄則物性亦薄。豈有人今而藥獨古也。故欲用仲景之方者。必先學古窮經。辨症知藥。而後可以從事。尤君在涇。博雅之士也。自少即喜學此藝。凡有施治。悉本仲景。輒得奇中。居恆嘆古學之益衰。知斯理之將墜。因取金匱要略。發揮正義。朝勤夕思。窮微極本。凡十易寒暑而後成。其間條理通達。指歸明顯。辭不必煩而意已盡。語不必深而旨已傳。雖此書之奧妙不可窮際。而由此以進。雖入仲景之室無難也。尤君與余有同好。屬為敘。余讀尤君之書而重有感也。故舉平日所嘗論說者。識於端。尤君所以注此書之意。亦謂是乎。</p>
<p><u>雍正十年壬子陽月。松陵徐大椿敘。</u></p>

<h1>自序</h1>
<p>金匱要略者。漢張仲景所著。為醫方之祖。而治雜病之宗也。其方約而多驗。其文簡而難通。唐宋以來。註釋闕如。明興之後。始有起而論之者。迄於今。乃不下數十家。莫不精求深討。用以發蒙而解惑。然而性高明者。泛騖遠引。以曲逞其說。而其失則為浮。守矩矱者。尋行數墨。而畏盡其辭。而其失則為隘。是隘與浮者。雖所趣不同。而其失則一也。余讀仲景書者數矣。心有所得。輒筆諸簡端。以為他日考驗學問之地。非敢舉以注是書也。日月既深。十已得其七八。而未克遂竟其緒。丙午秋日。抱病齋居。勉謝人事。因取金匱舊本。重加尋繹。其未經筆記者補之。其記而未盡善者復改之。覃精研思。務求當於古人之心而後已。而其間深文奧義。有通之而無可通者。則闕之。其系傳寫之誤者。則擬正之。其或類後人續入者。則刪汰之。斷自臟腑經絡之下。終於婦人雜病。凡二十有二篇。釐為上中下三卷。仍宋林億之舊也。集既成。顏曰心典。謂以吾心求古人之心。而得其典要云爾。雖然。劉氏擾龍。宋人刻楮。力盡心劘。要歸罔用。余之是注。安知其不仍失之浮。即失之隘也耶。世有哲人。箴予闕失而賜之教焉。則予之幸也。</p>
<p><u>雍正己酉春日。飲鶴山人尤怡題於北郭之樹下小軒。</u></p>

<h1>卷上</h1>

<h2>臟腑經絡先後病脈證第一</h2>
<p>問曰。上工治未病。何也。師曰。夫治未病者。見肝之病。知肝傳脾。當先實脾。四季脾王不受邪。即勿補之。中工不曉相傳。見肝之病。不解實脾。惟治肝也。夫肝之病。補用酸。助用焦苦。益用甘味之藥調之。酸入肝。焦苦入心。甘入脾。脾能傷腎。腎氣微弱。則水不行。水不行。則心火氣盛。則傷肺。肺被傷。則金氣不行。金氣不行。則肝氣盛。則肝自愈。此治肝補脾之要妙也。肝虛則用此法。實則不在用之。經曰。虛虛實實。補不足。損有餘。是其義也。餘臟准此。按、素問云。邪氣之客於身也。以勝相加。肝應木而勝脾土。以是知肝病當傳脾也。實脾者。助令氣王。使不受邪。所謂治未病也。設不知而徒治其肝。則肝病未已。脾病復起。豈上工之事哉。肝之病補用酸者。肝不足。則益之以其本味也。與內經以辛補之之說不同。然肝以陰臟而含生氣。以辛補者所以助其用。補用酸者。所以益其體。言雖異而理各當也。助用苦焦者。千金所謂心王則氣感於肝也。益用甘味之藥調之者。越人所謂損其肝者緩其中也。酸入肝以下十五句。疑非仲景原文。類後人謬添註腳。編書者誤收之也。蓋仲景治肝補脾之要。在脾實而不受肝邪。非補脾以傷腎。縱火以刑金之謂。果爾。則是所全者少。而所傷者反多也。且脾得補而肺將自旺。腎受傷必虛及其子。何制金強木之有哉。細按語意。見肝之病以下九句。是答上工治未病之辭。補用酸三句。乃別出肝虛正治之法。觀下文云。肝虛則用此法。實則不在用之。可以見矣。蓋臟病惟虛者受之。而實者不受。臟邪惟實則能傳。而虛則不傳。故治肝實者。先實脾土。以杜滋蔓之禍。治肝虛者。直補本宮。以防外侮之端。此仲景虛實並舉之要旨也。後人不察肝病緩中之理。謬執甘先入脾之語。遂略酸與焦苦。而獨於甘味曲窮其說。以為是即治肝補脾之要妙。昔賢云。詖辭知其所蔽。此之謂耶。</p>
<p>夫人稟五常。因風氣而生長。風氣雖能生萬物。亦能害萬物。如水能浮舟。亦能覆舟。若五臟元真通暢。人即安和。客氣邪風。中人多死。千般疢難。不越三條。一者經絡受邪入臟腑。為內所因也。二者四肢九竅。血脈相傳。壅塞不通。為外皮膚所中也。三者房室金刃蟲獸所傷。以此詳之。病由都盡。若人能養慎。不令邪風乾忤經絡。適中經絡。未流傳腑臟。即醫治之。四肢才覺重滯。即導引吐納。針灸膏摩。勿令九竅閉塞。更能無犯王法。禽獸災傷。房室勿令竭乏。服食節其冷熱。苦酸辛甘。不遺形體有衰。病則無由入其腠理。腠者。是三焦通會元真之處。理者。是皮膚臟腑之文理也。人稟陰陽五行之常。而其生其長。則實由風與氣。蓋非八風。則無以動盪而協和。非六氣。則無以變易而長養。然有正氣。即有客氣。有和風。即有邪風。其生物害物。並出一機。如浮舟覆舟。總為一水。故得其和則為正氣。失其和即為客氣。得其正則為和風。失其正即為邪風。其生物有力。則其害物亦有力。所以中人多死。然風有輕重。病有淺深。約而言之。不越三條。一者邪從經絡入臟腑而深。為內所因。二者邪在四肢九竅皮膚沿流血脈而淺。為外所因。三者病從王法房室金刃蟲獸而生。為不內外因。所謂病之由也。人於此慎養。不令邪風異氣干忤經絡。則無病。適入經絡。未入臟腑。可汗吐或和解而愈。所謂醫治之也。此應前內因一段。若風氣外侵四肢。將及九竅。即吐納導引以行其氣。針灸膏摩以逐其邪。則重滯通快。而閉塞無由。此應前外因一段。更能不犯王法禽獸。則形體不傷。又雖有房室而不令竭乏。則精神不敝。此應前房室一段。腠理云者。謂凡病糾纏於身。不止經絡血脈。勢必充溢腠理。故必慎之使無由入。腠者。三焦與骨節相貫之處。此神氣所往來。故曰元真通會。理者。合皮膚臟腑。內外皆有其理。細而不紊。故曰文理。仲景此論。以風氣中人為主。故以經絡入臟腑者。為深為內。自皮膚流血脈者。為淺為外。若房室金刃蟲獸所傷。則非客氣邪風中人之比。與經絡臟腑。無相干涉者。為不內外因也。（節徐氏）</p>
<p>按、陳無擇三因方。以六淫邪氣所觸為外因。五臟情志所感為內因。飲食房室跌撲金刃所傷。為不內外因。蓋仲景之論。以客氣邪風為主。故不從內傷外感為內外。而以經絡臟腑為內外。如徐氏所云是也。無擇合天人表裡立論。故以病從外來者為外因。從內生者為內因。其不從邪氣情志所生者。為不內外因。亦最明晰。雖與仲景並傳可也。</p>
<p>問曰。病人有氣色見於面部。願聞其說。師曰。鼻頭色青。腹中痛。苦冷者死。鼻頭色微黑者。有水氣。色黃者。胸上有寒。色白者。亡血也。設微赤非時者死。其目正圓者痙不治。又色青為痛。色黑為勞。色赤為風。色黃者便難。色鮮明者有留飲。</p>
<p>此氣色之辨。所謂望而知之者也。鼻頭、脾之部。青肝之色。腹中痛者。土受木賊也。冷則陽亡而寒水助邪。故死。腎者主水。黑、水之色。脾負而腎氣勝之。故有水氣。色黃者面黃也。其病在脾。脾病則生飲。故胸上有寒。寒、寒飲也。色白亦面白也。亡血者不華於色。故白。血亡則陽不可更越。設微赤而非火令之時。其為虛陽上泛無疑。故死。目正圓者陰之絕也。痙為風強病。陰絕陽強。故不治。痛則血凝泣而不流。故色青。勞則傷腎。故色黑。經云。腎虛者面如漆柴也。風為陽邪。故色赤。脾病則不運。故便難。色鮮明者有留飲。經云。水病人目下有臥蠶。面目鮮澤也。</p>
<p>師曰。病人語聲寂寂然喜驚呼者。骨節間病。語聲喑喑然不徹者。心膈間病。語聲啾啾然細而長者。頭中病。</p>
<p>語聲寂寂然喜驚呼者。病在腎肝。為筋髓寒而痛時作也。喑喑然不徹者。病在心肺。則氣道塞而音不彰也。啾啾然細而長者。痛在頭中。則聲不敢揚。而胸膈氣道自如。故雖細而仍長也。此音聲之辨。聞而知之者也。然殊未備。學者一隅三反可矣。</p>
<p>師曰。息搖肩者心中堅。息引胸中上氣者咳。息張口短氣者。肺痿吐沫。</p>
<p>心中堅者。氣實而出入阻。故息則搖肩。咳者氣逆而肺失降。則息引胸中上氣。肺痿吐沫者。氣傷而布息難。則張口短氣。此因病而害於氣者也。</p>
<p>師曰。吸而微數。其病在中焦實也。當下之則愈。虛者不治。在上焦者其吸促。在下焦者其吸遠。此皆難治。呼吸動搖振振者不治。</p>
<p>息兼呼吸而言。吸則專言入氣也。中焦實。則氣之入者。不得下行。故吸微數。數猶促也。下之則實去氣通而愈。若不繫實而系虛。則為無根失守之氣。頃將自散。故曰不治。或云。中焦實而元氣虛者。既不任受攻下。而又不能自和。故不治。亦通。其實在上焦者。氣不得入而輒還。則吸促。促猶短也。實在下焦者。氣欲歸而不驟及。則吸遠。遠猶長也。上下二病。並關臟氣。非若中焦之實。可從下而去者。故曰難治。呼吸動搖振振者。氣盛而形衰。不能居矣。故亦不治。</p>
<p>師曰。寸口脈動者。因其王時而動。假令肝王色青。四時各隨其色。肝色青而反色白。非其時。色脈皆當病。王時。時至而氣王。脈乘之而動。而色亦應之。如肝王於春。脈弦而色青。此其常也。推之四時。無不皆然。若色當青而反白。為非其時而有其色。不特肝病。肺亦當病矣。犯其王氣故也。故曰。色脈皆當病。</p>
<p>問曰。有未至而至。有至而不至。有至而不去。有至而太過。何謂也。師曰。冬至之後。甲子夜半少陽起。少陽之時。陽始生。天得溫和。以未得甲子天因溫和。此為未至而至也。以得甲子而天未溫和。為至而不至也。以得甲子而天大寒不解。此為至而不去也。以得甲子而天溫如盛夏五六月時。此為至而太過也。</p>
<p>上之至謂時至。下之至謂氣至。蓋時有常數而不移。氣無定刻而或遷也。冬至之後甲子。謂冬至後六十日也。蓋古造歷者。以十一月甲子朔夜半冬至為曆元。依此推之。則冬至後六十日。當復得甲子。而氣盈朔虛。每歲遞遷。於是至日不必皆值甲子。當以冬至後六十日花甲一周。正當雨水之候為正。雨水者。冰雪解散而為雨水。天氣溫和之始也。云少陽起者。陽方起而出地。陽始生者。陽始盛而生物。非冬至一陽初生之謂也。竊嘗論之矣。夏至一陰生。而後有小暑、大暑。冬至一陽生。而後有小寒、大寒。非陰生而反熱。陽生而反寒也。天地之道。否不極則不泰。陰陽之氣。剝不極則不復。夏至六陰盡於地上。而後一陰生於地下。是陰生之時。正陽極之時也。冬至六陽盡於地上。而後一陽生於地下。是陽生之時。正陰極之時也。陽極而大熱。陰極而大寒。自然之道也。則所謂陽始生天得溫和者。其不得與冬至陽生同論也審矣。至未得甲子而天已溫。或已得甲子而天反未溫。及已得甲子而天大寒不解。或如盛夏五六月時。則氣之有盈有縮。為候之或後或先。而人在氣交之中者。往往因之而病。惟至人為能與時消息而無忤耳。</p>
<p>師曰。病人脈浮者在前。其病在表。浮者在後。其病在裡。腰痛背強不能行。必短氣而極也。　</p>
<p>前謂關前。後謂關後。關前為陽。關後為陰。關前脈浮者。以陽居陽。故病在表。關後脈浮者。以陽居陰。故病在裡。然雖在裡而系陽脈。則為表之裡。而非里之裡。故其病不在腸腎。而在腰背膝脛。而及其至。則必短氣而極。所以然者。形傷不去。窮必及氣。表病不除。久必歸里也。</p>
<p>問曰。經云厥陽獨行。何謂也。師曰。此為有陽無陰。故稱厥陽。</p>
<p>厥陽獨行者。孤陽之氣。厥而上行。陽失陰則越。猶夫無妻則蕩也。千金方云。陰脈且解。血散不通。正陽遂厥。陰不往從。此即厥陽獨行之旨歟。</p>
<p>問曰。寸脈沉大而滑。沉則為實。滑則為氣。實氣相搏。血氣入臟即死。入腑即愈。此為卒厥。何謂也。師曰。唇口青身冷。為入臟。即死。如身和汗自出。為入腑。即愈。</p>
<p>實謂血實。氣謂氣實。實氣相搏者。血與氣並而俱實也。五臟者。藏而不瀉。血氣入之。卒不得還。神去機息。則唇青身冷而死。六腑者。傳而不藏。血氣入之。乍滿乍瀉。氣還血行。則身和汗出而愈。經云。血之與氣。並走於上。則為大厥。厥則暴死。氣復反則生。不返則死是也。</p>
<p>問曰。脈脫入臟即死。入腑即愈。何謂也。師曰。非為一病。百病皆然。譬如浸淫瘡。從口起流向四肢者可治。從四肢流來入口者不可治。病在外者可治。入里者即死。</p>
<p>脈脫者。邪氣乍加。正氣被遏。經隧不通。脈絕似脫。非真脫也。蓋即暴厥之屬。經曰。趺陽脈不出。脾不上下。身冷膚硬。又曰。少陰脈不至。腎氣微。少精血。為屍厥。即脈脫之謂也。厥病入臟者。深而難出。氣竭不復則死。入腑者淺而易通。氣行脈出即愈。浸淫瘡。瘡之浸淫不已。外臺所謂轉廣有汁。流繞周身者也。從口流向四肢者。病自內而之外。故可治。從四肢流來入口者。病自外而之裡。故不可治。李瑋西云。病在外二句。概指諸病而言。即上文百病皆然之意。入里者死。如痹氣入腹。腳氣衝心之類。</p>
<p>問曰。陽病十八。何謂也。師曰。頭痛、項、腰、脊、臂、腳掣痛。陰病十八。何謂也。師曰。咳、上氣、喘、噦、咽、腸鳴、脹滿、心痛、拘急。五臟病各有十八。合為九十病。人又有六微。微有十八病。合為一百八病。五勞七傷六極。婦人三十六病。不在其中。清邪居上。濁邪居下。大邪中表。小邪中里。谷飥之邪。從口入者。宿食也。五邪中人。各有法度。風中於前。寒中於暮。濕傷於下。霧傷於上。風令脈浮。寒令脈急。霧傷皮腠。濕流關節。食傷脾胃。極寒傷經。極熱傷絡。</p>
<p>頭、項、腰、脊、臂、腳。六者病兼上下。而通謂之陽者。以其在軀殼之外也。咳、上氣、喘、噦、咽、腸鳴、脹滿、心痛、拘急九者。病兼臟腑。而通謂之陰者。以其在軀殼之裡也。在外者有營病衛病。營衛交病之殊。是一病而有三也。三而六之。合則為十八。故曰陽病十八也。在裡者有或虛或實之異。是一病而有二也。九而二之。合則為十八。故曰陰病十八也。五臟病各有十八。六微病又各有十八。則皆六淫邪氣所生者也。蓋邪氣之中人者。有風、寒、暑、濕、燥、火之六種。而臟腑之受邪者。又各有氣分、血分、氣血並受之三端。六而三之。則為十八病。以十八之數推之。則五臟合得九十病。六微合得一百八病。至於五勞七傷六極。則起居飲食情志之所生也。婦人三十六病。則經月產乳帶下之疾也。均非六氣外淫所致。故曰不在其中。清邪、風露之邪。故居於上。濁邪、水土之邪。故居於下。大邪漫風。雖大而力散。故中於表小邪、戶牖隙風。雖小而氣銳。故中於里。谷飥、飲食之屬。入於口而傷於胃者也。是故邪氣有清濁大小之殊。人身亦有上下表里之別。莫不各隨其類以相從。所謂各有法度也。故風為陽而中於前。寒為陰而中於後。濕氣濁而傷於下。霧氣清而傷於上。經脈陰而傷於寒。絡脈陽而傷於熱。合而言之。無非陽邪親上。陰邪親下。熱氣歸陽。寒氣歸陰之理。</p>
<p>問曰。病有急當救里救表者。何謂也。師曰。病醫下之。續得下利清穀不止。身體疼痛者。急當救里。後身疼痛。清便自調者。急當救表也。</p>
<p>治實證者。以逐邪為急。治虛證者。以養正為急。蓋正氣不固。則無以御邪而卻疾。故雖身體疼痛。而急當救里。表邪不去。勢必入里而增患。故既清便自調。則仍當救表也。</p>
<p>夫病痼疾。加以卒病。當先治其卒病。後乃治其痼疾也。</p>
<p>卒病易除。故當先治。痼疾難拔。故宜緩圖。且勿使新邪得助舊疾也。讀二條。可以知治病緩急先後之序。</p>
<p>師曰。五臟病各有所得者愈。五臟病各有所惡。各隨其所不喜者為病。病者素不應食。而反暴思之。必發熱也。</p>
<p>所得所惡所不喜。該居處服食而言。如臟氣法時論云。肝色青。宜食甘。心色赤。宜食酸。肺色白。宜食苦。腎色黑。宜食辛。脾色黃。宜食鹹。又心病禁溫食熱衣。脾病禁溫食飽食。濕地濡衣。肺病禁寒飲食寒衣。腎病禁焠㶼熱食溫炙衣。宣明五氣篇所云。心惡熱。肺惡寒。肝惡風。脾惡濕。腎惡燥。靈樞五味篇所云。肝病禁辛。心病禁咸。脾病禁酸。肺病禁苦。腎病禁甘之屬皆是也。五臟病各有所得而愈者。謂得其所宜之氣之味之處。足以安臟氣而卻病氣也。各隨其所不喜為病者。謂得其所禁所惡之氣之味之處。足以忤臟氣而助病邪也。病者素不應食。而反暴思之者。謂平素所不喜之物。而反暴思之。由病邪之氣。變其臟氣使然。食之則適以助病氣而增發熱也。</p>
<p>夫諸病在臟。欲攻之。當隨其所得而攻之。如渴者與豬苓湯。余皆仿此。</p>
<p>無形之邪。入結於臟。必有所據。水血痰食。皆邪藪也。如渴者。水與熱得。而熱結在水。故與豬苓湯利其水。而熱亦除。若有食者。食與熱得。而熱結在食。則宜承氣湯下其食。而熱亦去。若無所得。則無形之邪。豈攻法所能去哉。</p>
<p><u>豬苓湯方</u>（見後消渴證中）</p>

<h2>痙濕暍病脈證治第二</h2>
<p>太陽病。發熱無汗。反惡寒者。名曰剛痙。太陽病。發熱汗出而不惡寒。名曰柔痙。</p>
<p>成氏曰。千金云。太陽中風。重感寒濕則變痙。太陽病。發熱無汗為表實。則不當惡寒。今反惡寒者。則太陽中風。重感於寒。為痙病也。以其表實有寒。故曰剛痙。太陽病。發熱汗出為表虛。則當惡寒。今不惡寒者。風邪變熱。外傷筋脈為痙病也。以其表虛無寒。故曰柔痙。然痙者強也。其病在筋。故必兼有頸項強急。頭熱足寒。目赤頭搖。口噤背反等證。仲景不言者。以痙字該之也。活人書亦云。痙證發熱惡寒。與傷寒相似。但其脈沉遲弦細。而項背反張為異耳。</p>
<p>太陽病。發熱。脈沉而細者。名曰痙。為難治。</p>
<p>太陽脈本浮。今反沉者。風得濕而伏。故為痙。痙脈本緊弦。今反細者。陰氣適不足。故難治。</p>
<p>太陽病。發汗太多。因致痙。夫風病下之則痙。復發汗。必拘急。瘡家雖身疼痛。不可發汗。汗出則痙。此原痙病之由。有此三者之異。其為脫液傷津則一也。蓋病有太陽風寒不解。重感寒濕而成痙者。亦有亡血竭氣。損傷陰陽。而病變成痙者。經云。氣主昫之。血主濡之。又云。陽氣者。精則養神。柔則養筋。陰陽既衰。筋脈失其濡養。而強直不柔矣。此痙病標本虛實之異。不可不辨也。</p>
<p>病者身熱足寒。頸項強急。惡寒。時頭熱面赤目赤。獨頭動搖。卒口噤。背反張者。痙病也。若發其汗者。寒濕相得。其表益虛。即惡寒甚。發其汗已。其脈如蛇。</p>
<p>痙病不離乎表。故身熱惡寒。痙為風強病。而筋脈受之。故口噤、頭項強、背反張、脈強直。經云。諸暴強直。皆屬於風也。頭熱足寒。面目赤。頭動搖者。風為陽邪。其氣上行而又主動也。寒濕相得者。汗液之濕。與外寒之氣。相得不解。而表氣以汗而益虛。寒氣得濕而轉增。則惡寒甚也。其脈如蛇者。脈伏而曲。如蛇行也。痙脈本直。汗之則風去而濕存。故脈不直而曲也。</p>
<p>暴腹脹大者為欲解。脈如故。反伏弦者痙。</p>
<p>此即上文風去濕存之變證。魏氏云。風去不與濕相麗。則濕邪無所依著。必順其下墜之性。而入腹作脹矣。風寒外解。而濕下行。所以為欲解也。如是診之。其脈必浮而不沉。緩而不弦矣。乃其脈如故。而反加伏弦。知其邪內連太陰。里病轉增。而表病不除。乃痙病諸證中之一變也。</p>
<p>夫痙脈按之緊如弦。直上下行。</p>
<p>緊如弦。即堅直之象。李氏曰。上下行者。自寸至尺。皆見緊直之脈也。脈經亦云。痙病脈堅伏。直上下行。痙病有灸瘡。難治。</p>
<p>有灸瘡者。膿血久潰。穴俞不閉。婁全善云。即破傷風之意。蓋陰傷而不勝風熱。陽傷而不任攻伐也。故曰難治。</p>
<p>太陽病。其證備。身體強。𠘧𠘧然。脈反沉遲。此為痙。栝蔞桂枝湯主之。</p>
<p>太陽證備者。趙氏謂太陽之脈。自足上行。循背至頭項。此其所過之部。而為之狀者。皆是其證是也。𠘧𠘧。背強連頸之貌。沉本痙之脈。遲非內寒。乃津液少而營衛之行不利也。傷寒項背強𠘧𠘧。汗出惡風者。脈必浮數。為邪風盛於表。此證身體強𠘧𠘧然。脈反沉遲者。為風淫於外。而津傷於內。故用桂枝則同。而一加葛根以助其散。一加栝蔞根兼滋其內。則不同也。</p>
<p><u>栝蔞桂枝湯方</u></p>
<p>栝蔞根（二兩）　桂枝（三兩）　芍藥（三兩）　甘草（二兩）　生薑（三兩）　大棗（十二枚）　</p>
<p>上六味。以水九升。煮取三升。分溫三服。微汗。汗不出。食頃。啜熱粥發。</p>
<p>太陽病。無汗而小便反少。氣上衝胸。口噤不得語。欲作剛痙。葛根湯主之。</p>
<p>無汗而小便反少者。風寒濕甚。與氣相持。不得外達。亦並不下行也。不外達。不下行。勢必逆而上衝。為胸滿。為口噤不得語。馴至面赤頭搖。項背強直。所不待言。故曰欲作剛痙。葛根湯。即桂枝湯加麻黃、葛根。乃剛痙無汗者之正法也。</p>
<p>按痙病多在太陽、陽明之交。身體強。口噤不得語。皆其驗也。故加麻黃以發太陽之邪。加葛根兼疏陽明之經。而陽明外主肌肉。內主津液。用葛根者。所以通隧谷而逐風濕。加栝蔞者。所以生津液而濡經脈也。</p>
<p><u>葛根湯方</u></p>
<p>葛根（四兩）　麻黃（三兩去節）　桂枝　甘草（炙）　芍藥（各二兩）　生薑（三兩）　大棗（十二枚）　</p>
<p>上七味。以水一斗。先煮麻黃、葛根。減二升。去沫。內諸藥。煮取三升。去滓。溫服一升。覆取微似汗。不須啜粥。余如桂枝湯法將息及禁忌。</p>
<p>痙為病。胸滿口噤。臥不著席。腳攣急。必齘齒。可與大承氣湯。</p>
<p>此痙病之屬陽明瘀熱者。陽明之筋起於足。結於跗。其直者上結於髀。陽明之脈。入齒中。挾口環唇。其支者。循喉嚨。入缺盆下膈。故為是諸證。然無燥實見證。自宜滌熱而勿蕩實。乃不用調胃而用大承氣者。豈病深熱極。非此不能治歟。然曰可與。則猶有斟酌之意。用者慎之。</p>
<p><u>大承氣湯方</u></p>
<p>大黃（四兩酒洗）　厚朴（半斤炙去皮）　枳實（五枚炙）　芒硝（三合）　</p>
<p>上四味。以水一斗。先煮枳、樸取五升。去滓。內大黃。煮二升。去滓。內芒硝。更上微火一兩沸。分溫再服。得下。余勿服。</p>
<p>太陽病。關節疼痛而煩。脈沉而細者。此名中濕。亦名濕痹。濕痹之候。小便不利。大便反快。但當利其小便。濕為六淫之一。故其感人。亦如風寒之先在太陽。但風寒傷於肌腠。而濕則流入關節。風脈浮。寒脈緊。而濕脈則沉而細。濕性濡滯。而氣重著。故亦名痹。痹者閉也。然中風者。必先有內風而後召外風。中濕者。亦必先有內濕而後感外濕。故其人平日土德不及而濕動於中。由是氣化不速。而濕侵於外。外內合邪。為關節疼煩。為小便不利。大便反快。治之者必先逐內濕。而後可以除外濕。故曰當利其小便。東垣亦云。治濕不利小便。非其治也。然此為脈沉而小便不利者設耳。若風寒在表。與濕相搏。脈浮惡風。身重疼痛者。則必以麻黃、白朮、薏苡、杏仁、桂枝、附子等。發其汗為宜矣。詳見後條。濕家之為病。一身盡疼。發熱。身色如熏黃也。</p>
<p>濕外盛者。其陽必內郁。濕外盛為身疼。陽內鬱則發熱。熱與濕合。交蒸互郁。則身色如熏黃。熏黃者。如煙之熏。色黃而晦。濕氣沉滯故也。若熱黃則黃而明。所謂身黃如橘子色也。</p>
<p>濕家其人但頭汗出。背強。欲得被覆向火。若下之早則噦。或胸滿。小便不利。舌上如苔者。以丹田有熱。胸上有寒。渴欲得飲而不能飲。則口燥煩也。</p>
<p>寒濕居表。陽氣不得外通而但上越。為頭汗出。為背強。欲得被覆向火。是宜驅寒濕以通其陽。乃反下之。則陽更被抑。而噦乃作矣。或上焦之陽不布。而胸中滿。或下焦之陽不化。而小便不利。隨其所傷之處而為病也。舌上如苔者。本非胃熱。而舌上津液燥聚。如苔之狀。實非苔也。蓋下後陽氣反陷於下。而寒濕仍聚於上。於是丹田有熱而渴欲得飲。胸上有寒而復不能飲。則口舌燥煩。而津液乃聚耳。</p>
<p>濕家下之。額上汗出。微喘。小便利者死。若下利不止者亦死。</p>
<p>濕病在表者宜汗。在裡者宜利小便。苟非濕熱蘊積成實。未可遽用下法。額汗出微喘。陽已離而上行。小便利。下利不止。陰複決而下走。陰陽離決。故死。一作小便不利者死。謂陽上游而陰不下濟也。亦通。風濕相搏。一身盡疼痛。法當汗出而解。值天陰雨不止。醫云。此可發其汗。汗之病不愈者。何也。蓋發其汗。汗大出者。但風氣去。濕氣在。是故不愈也。若治風濕者。但微微似欲汗出者。風濕俱去也。</p>
<p>風濕雖併為六淫之一。然風無形而濕有形。風氣迅而濕氣滯。值此雨淫濕勝之時。自有風易卻而濕難除之勢。而又發之速而驅之過。宜其風去而濕不與俱去也。故欲濕之去者。但使陽氣內蒸而不驟泄。肌肉關節之間充滿流行。而濕邪自無地可容矣。此發其汗。但微微似欲汗出之旨歟。</p>
<p>濕家病。身疼發熱。面黃而喘。頭痛鼻塞而煩。其脈大。自能飲食。腹中和無病。病在頭中寒濕。故鼻塞。內藥鼻中則愈。</p>
<p>寒濕在上。則清陽被郁。身疼頭痛。鼻塞者。濕上甚也。發熱面黃煩喘者。陽上郁也。而脈大。則非沉細之比。腹和無病。則非小便不利。大便反快之比。是其病不在腹中而在頭。療之者宜但治其頭。而毋犯其腹。內藥鼻中。如瓜蒂散之屬。使黃水出則寒濕去而愈。不必服藥以傷其和也。</p>
<p>濕家身煩疼。可與麻黃加朮湯。發其汗為宜。慎不可以火攻之。</p>
<p>身煩疼者。濕兼寒而在表也。用麻黃湯以散寒。用白朮以除濕。喻氏曰。麻黃得術。則雖發汗。不至多汗。而術得麻黃。並可以行表裡之濕。不可以火攻者。恐濕與熱合而反增發熱也。</p>
<p><u>麻黃加朮湯方</u></p>
<p>麻黃（三兩去節）　桂枝（二兩）　甘草（一兩炙）　白朮（四兩）　杏仁（七十個去皮尖）　</p>
<p>上五味。以水九升。先煮麻黃。減二升。去上沫。內諸藥。煮取二升半。去滓。溫服八合。覆取微汗。</p>
<p>病者一身盡疼。發熱。日晡所劇者。此名風濕。此病傷於汗出當風。或久傷取冷所致也。可與麻黃杏仁薏苡甘草湯。</p>
<p>此亦散寒除濕之法。日晡所劇。不必泥定肺與陽明。但以濕無來去。而風有休作。故曰此名風濕。然雖言風而寒亦在其中。觀下文云。汗出當風。又曰久傷取冷。意可知矣。蓋痙病非風不成。濕痹無寒不作。故以麻黃散寒。薏苡除濕。杏仁利氣。助通泄之用。甘草補中。予勝濕之權也。</p>
<p><u>麻黃杏仁薏苡甘草湯方</u></p>
<p>麻黃（半兩）　杏仁（十個去皮尖）　薏苡（半兩）　甘草（一兩炙）　</p>
<p>上銼麻豆大。每服四錢匕。水一盞半。煎八分。去滓溫服。有微汗。避風。</p>
<p>風濕。脈浮身重。汗出惡風者。防己黃耆湯主之。</p>
<p>風濕在表。法當從汗而解。乃汗不待發而自出。表尚未解而已虛。汗解之法。不可守矣。故不用麻黃出之皮毛之表。而用防己驅之肌膚之裡。服後如蟲行皮中。及從腰下如冰。皆濕下行之徵也。然非耆、朮、甘草。焉能使衛陽復振。而驅濕下行哉。</p>
<p><u>防己黃耆湯方</u></p>
<p>防己（一兩）　甘草（半兩炙）　白朮（七錢半）　黃耆（一兩一分）　</p>
<p>上銼麻豆大。每抄五錢匕。生薑四片。大棗一枚。水盞半。煎八分。去滓溫服。喘者。加麻黃半兩。胃中不和者。加芍藥三分。氣上衝者。加桂枝三分。下有陳寒者。加細辛三分。服後當如蟲行皮中。從腰下如冰。後坐被上。又以一被繞腰下。溫令微汗瘥。</p>
<p>傷寒八九日。風濕相搏。身體疼煩。不能自轉側。不嘔不渴。脈浮虛而澀者。桂枝附子湯主之。若大便堅。小便自利者。去桂枝加白朮湯主之。</p>
<p>身體疼煩不能自轉側者。邪在表也。不嘔不渴。里無熱也。脈浮虛而澀。知其風濕外持。而衛陽不正。故以桂枝湯去芍藥之酸收。加附子之辛溫。以振陽氣而敵陰邪。若大便堅。小便自利。知其在表之陽雖弱。而在裡之氣猶治。則皮中之濕。自可驅之於里。使從水道而出。不必更發其表。以危久弱之陽矣。故於前方去桂枝之辛散。加白朮之苦燥。合附子之大力健行者。於以並走皮中而逐水氣。亦因勢利導之法也。</p>
<p><u>桂枝附子湯方</u></p>
<p>桂枝（四兩）　附子（三枚炮去皮破八片）　生薑（三兩切）　甘草（二兩炙）　大棗（十二枚擘）　</p>
<p>上五味。以水六升。煮取二升。去滓。分溫三服。</p>
<p><u>白朮附子湯方</u></p>
<p>白朮（一兩）　附子（一枚炮去皮）　甘草（二兩炙）　生薑（一兩半）　大棗（六枚）　</p>
<p>上五味。以水三升。煮取一升。去滓。分溫三服。一服覺身痹。半日許再服。三服都盡。其人如冒狀。勿怪。即是朮、附並走皮中。逐水氣未得除故耳。</p>
<p>風濕相搏。骨節疼煩掣痛。不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風不欲去衣。或身微腫者。甘草附子湯主之。</p>
<p>此亦濕勝陽微之證。其治亦不出助陽散濕之法。云得微汗則解者。非正發汗也。陽復而陰自解耳。夫風濕在表。本當從汗而解。麻黃加朮湯、麻黃杏仁薏苡甘草湯。其正法也。而汗出表虛者。不宜重發其汗。則有防己黃耆實表行濕之法。而白朮附子。則又補陽以為行者也。表虛無熱者。不可遽發其陽。則有桂枝附子溫經散濕之法。而甘草附子。則兼補中以為散者也。即此數方。而仲景審病之微。用法之變。蓋可見矣。</p>
<p><u>甘草附子湯方</u></p>
<p>甘草（二兩炙）　附子（二枚炮去皮）　白朮（二兩）　桂枝（四兩）　</p>
<p>上四味。以水六升。煮取三升。去滓。溫服一升。日三服。初服得微汗則解。能食。汗出復煩者。服五合。恐一升多者。宜服六七合為妙。</p>
<p>太陽中暍。發熱惡寒。身重而疼痛。其脈弦細芤遲。小便已。洒洒然毛聳。手足逆冷。小有勞。身即熱。口開。前板齒燥。若發其汗。則惡寒甚。加溫針。則發熱甚。數下之。則淋甚。</p>
<p>中暍即中暑。暑亦六淫之一。故先傷太陽而為寒熱也。然暑、陽邪也。乃其證反身重疼痛。其脈反弦細而遲者。雖名中暍。而實兼濕邪也。小便已。洒洒毛聳者。太陽主表。內合膀胱。便已而氣餒也。手足逆冷者。陽內聚而不外達。故小有勞。即氣出而身熱也。口開前板齒燥者。熱盛於內。而氣淫於外也。蓋暑雖陽邪。而氣恆與濕相合。陽求陰之義也。暑因濕入。而暑反居濕之中。陰包陽之象也。治之者一如分解風濕之法。辛以散濕。寒以涼暑可矣。若發汗則徒傷其表。溫針則更益其熱。下之則熱且內陷。變證隨出。皆非正治暑濕之法也。</p>
<p>太陽中熱者。暍是也。汗出惡寒。身熱而渴。白虎加人參湯主之。</p>
<p>中熱亦即中暑。暍即暑之氣也。惡寒者。熱氣入則皮膚緩。腠理開。開則灑然寒。與傷寒惡寒者不同。發熱汗出而渴。表裡熱熾。胃陰待涸。求救於水。故與白虎加人參以清熱生陰。為中暑而無濕者之法也。</p>
<p><u>白虎加人參湯方</u></p>
<p>知母（六兩）　石膏（一斤碎綿裹）　甘草（二兩炙）　粳米（六合）　人參（三兩）　</p>
<p>上五味。以水一斗。煮米熟湯成。去滓。溫服一升。日三服。</p>
<p>太陽中暍。身熱疼重而脈微弱。此以夏月傷冷水。水行皮中所致也。一物瓜蒂湯主之。</p>
<p>暑之中人也。陰虛而多火者。暑即寓於火之中。為汗出而煩渴。陽虛而多濕者。暑即伏於濕之內。為身熱而疼重。故暑病恆以濕為病。而治濕即所以治暑。瓜蒂苦寒。能吐能下。去身面四肢水氣。水去而暑無所依。將不治而自解矣。此治中暑兼濕者之法也。</p>
<p><u>瓜蒂湯方</u></p>
<p>瓜蒂（二十個）　</p>
<p>上銼。以水一升。煮取五合。去滓頓服。</p>

<h2>百合狐惑陰陽毒病證治第三</h2>
<p>論曰。百合病者。百脈一宗。悉致其病也。意欲食。復不能食。常默然。欲臥不能臥。欲行不能行。飲食或有美時。或有不用聞食臭時。如寒無寒。如熱無熱。口苦。小便赤。諸藥不能治。得藥則劇吐利。如有神靈者。身形如和。其脈微數。每溺時頭痛者。六十日乃愈。若溺時頭不痛。淅淅然者。四十日愈。若溺快然。但頭眩者。二十日愈。其證或未病而預見。或病四五日而出。或二十日、或一月微見者。各隨證治之。</p>
<p>百脈一宗者。分之則為百脈。合之則為一宗。悉致其病。則無之非病矣。然詳其證。意欲食矣。而復不能食。常默然靜矣。而又躁不得臥。飲食或有時美矣。而復有不用聞食臭時。如有寒如有熱矣。而又不見為寒。不見為熱。諸藥不能治。得藥則劇吐利矣。而又身形如和。全是恍惚去來。不可為憑之象。惟口苦、小便赤、脈微數。則其常也。所以者何。熱邪散漫。未統於經。其氣遊走無定。故其病亦去來無定。而病之所以為熱者。則徵於脈。見於口與便。有不可掩然者矣。夫膀胱者。太陽之府。其脈上至巔頂。而外行皮膚。溺時頭痛者。太陽乍虛。而熱氣乘之也。淅然快然。則遞減矣。夫乍虛之氣。溺已即復。而熱淫之氣。得陰乃解。故其甚者。必六十日之久。諸陰盡集。而後邪退而愈。其次四十日。又其次二十日。熱瘥減者。愈瘥速也。此病多於傷寒熱病前後見之。其未病而預見者。熱氣先動也。其病後四五日。或二十日。或一月見者。遺熱不去也。各隨其證以治。具如下文。</p>
<p>百合病。發汗後者。百合知母湯主之。</p>
<p>人之有百脈。猶地之有眾水也。眾水朝宗於海。百脈朝宗於肺。故百脈不可治。而可治其肺。百合味甘平微苦。色白入肺。治邪氣。補虛清熱。故諸方悉以之為主。而隨證加藥治之。用知母者。以發汗傷津液故也。</p>
<p><u>百合知母湯方</u></p>
<p>百合（七枚擘）　知母（三兩）　</p>
<p>上先以水洗百合。漬一宿。當白沫出。去其水。別以泉水二升。煎取一升。去滓。別以泉水二升。煎知母取一升。後合煎取一升五合。分溫再服。</p>
<p>百合病。下之後者。百合滑石代赭湯主之。</p>
<p>百合病不可下而下之。必傷其里。乃復以滑石、代赭者。蓋欲因下藥之勢。而抑之使下。導之使出。亦在下者引而竭之之意也。</p>
<p><u>百合滑石代赭湯方</u></p>
<p>百合（七枚擘）　滑石（三兩碎綿裹）　代赭石（如彈丸大一枚碎綿裹）　</p>
<p>上先煎百合如前法。別以泉水二升。煎滑石、代赭。取一升。去滓。後合和重煎。取一升五合。分溫再服。</p>
<p>百合病。吐之後者。百合雞子湯主之。</p>
<p>本草雞子安五臟。治熱疾。吐後臟氣傷而病不去。用之不特安內。亦且攘外也。</p>
<p><u>百合雞子湯方</u></p>
<p>百合（七枚擘）　雞子黃（一枚）　</p>
<p>上先煎百合如前法。了。內雞子黃攪勻。煎五分。溫服。（按了應作再）</p>
<p>百合病。不經吐下發汗。病形如初者。百合地黃湯主之。</p>
<p>此則百合病正治之法也。蓋肺主行身之陽。腎主行身之陰。百合色白入肺。而清氣中之熱。地黃色黑入腎。而除血中之熱。氣血既治。百脈俱清。雖有邪氣。亦必自下。服後大便如漆。則熱除之驗也。外臺云。大便當出黑沫。</p>
<p><u>百合地黃湯方</u></p>
<p>百合（七枚擘）　生地黃汁（一升）　</p>
<p>上先煎百合如前法。了。內地黃汁。煎取一升五合。溫分再服。中病勿更服。大便當如漆。</p>
<p>百合病。一月不解。變成渴者。百合洗方主之。</p>
<p>病久不解而變成渴。邪熱留聚在肺也。單用百合漬水外洗者。以皮毛為肺之合。其氣相通故也。洗已食煮餅。按外臺云。洗身訖。食白湯餅。今餺飥也。本草粳米、小麥。併除熱止渴。勿以咸豉者。恐鹹味耗水而增渴也。</p>
<p><u>百合洗方</u></p>
<p>百合一升。以水一斗。漬之一宿。以洗身。洗已食煮餅。勿以咸豉也。</p>
<p>百合病。渴不瘥者。栝蔞牡蠣散主之。</p>
<p>病變成渴。與百合洗方而不瘥者。熱盛而津傷也。栝蔞根苦寒。生津止渴。牡蠣鹹寒。引熱下行。不使上爍也。</p>
<p><u>栝蔞牡蠣散方</u></p>
<p>栝蔞根　牡蠣（熬等分）　</p>
<p>上為細末。飲服方寸匕。日三服。</p>
<p>百合病。變發熱者。百合滑石散主之。</p>
<p>病變發熱者。邪聚於裡而見於外也。滑石甘寒。能除六腑之熱。得微利。則裡熱除而表熱自退。</p>
<p><u>百合滑石散方</u></p>
<p>百合（一兩炙）　滑石（三兩）　</p>
<p>上為散。飲服方寸匕。日三服。當微利者止服。熱則除。</p>
<p>百合病。見於陰者。以陽法救之。見於陽者。以陰法救之。見陽攻陰。復發其汗。此為逆。見陰攻陽。乃復下之。此亦為逆。</p>
<p>病見於陰。甚必及陽。病見於陽。窮必歸陰。以法救之者。養其陽以救陰之偏。則陰以平而陽不傷。補其陰以救陽之過。則陽以和而陰不敝。內經用陰和陽。用陽和陰之道也。若見陽之病而攻其陰。則並傷其陰矣。乃復發汗。是重傷其陽也。故為逆。見陰之病而攻其陽。則並傷其陽矣。乃復下之。是重竭其陰也。故亦為逆。以百合為邪少虛多之證。故不可直攻其病。亦不可誤攻其無病如此。</p>
<p>狐惑之為病。狀如傷寒。默默欲眠。目不得閉。臥起不安。蝕於喉為惑。蝕於陰為狐。不欲飲食。惡聞食臭。其面目乍赤、乍黑、乍白。蝕於上部則聲嗄。甘草瀉心湯主之。蝕於下部則咽乾。苦參湯洗之。蝕於肛者。雄黃熏之。</p>
<p>狐惑、蟲病。即巢氏所謂䘌病也。默默欲眠。目不得閉。臥起不安。其躁擾之象。有似傷寒少陰熱證。而實為䘌之亂其心也。不欲飲食。惡聞食臭。有似傷寒陽明實證。而實為蟲之擾其胃也。其面目乍赤、乍黑、乍白者。蟲之上下聚散無時。故其色變更不一。甚者脈亦大小無定也。蓋雖蟲病。而能使人惑亂而狐疑。故名曰狐惑。徐氏曰。蝕於喉為惑。謂熱淫於上。如惑亂之氣感而生𧌒。蝕於陰為狐。謂熱淫於下。柔害而幽隱。如狐性之陰也。亦通。蝕於上部。即蝕於喉之謂。故聲嗄。蝕於下部。即蝕於陰之謂。陰內屬於肝。而咽門為肝膽之候。（出千金）病自下而衝上。則咽乾也。至生蟲之由。則趙氏所謂濕熱停久。蒸腐氣血而成瘀濁。於是風化所腐而成蟲者當矣。甘草瀉心。不特使中氣運而濕熱自化。抑亦苦辛雜用。足勝殺蟲之任。其苦參、雄黃。則皆清燥殺蟲之品。洗之熏之。就其近而治之耳。</p>
<p><u>甘草瀉心湯方</u></p>
<p>甘草（四兩炙）　黃芩　乾薑　人參（各三兩）　半夏（半升）　黃連（一兩）　大棗（十二枚）　</p>
<p>上七味。以水一斗。煮取六升。去滓。再煎。取三升。溫服一升。日三服。</p>
<p><u>苦參湯方</u></p>
<p>苦參一升。以水一斗。煎取七升。去滓。熏洗日三。</p>
<p><u>雄黃熏法</u></p>
<p>雄黃一味為末。筒瓦二枚合之。燒。向肛熏之。</p>
<p>病者脈數無熱。微煩。默默但欲臥。汗出。初得之三四日。目赤如鳩眼。七八日。目四眥黑。若能食者。膿已成也。赤豆當歸散主之。</p>
<p>脈數微煩。默默但欲臥。熱盛於裡也。無熱汗出。病不在表也。三四日目赤如鳩眼者。肝臟血中之熱。隨經上注於目也。經熱如此。臟熱可知。其為蓄熱不去。將成癰腫無疑。至七八日目四眥黑。赤色極而變黑。則癰尤甚矣。夫肝與胃。互為勝負者也。肝方有熱。勢必以其熱侵及於胃。而肝既成癰。胃即以其熱並之於肝。故曰若能食者。知膿已成也。且膿成則毒化。毒化則不特胃和而肝亦和矣。赤豆、當歸。乃排膿血除濕熱之良劑也。</p>
<p>再按此一條。注家有目為狐惑病者。有目為陰陽毒者。要之。亦是濕熱蘊毒之病。其不腐而為蟲者。則積而為癰。不發於身面者。則發於腸臟。亦病機自然之勢也。仲景意謂與狐惑陰陽毒。同源而異流者。故特論列於此歟。</p>
<p><u>赤豆當歸散方</u></p>
<p>赤小豆（三升浸令芽出曝乾）　當歸（十兩）　</p>
<p>上二味。杵為散。漿水服方寸匕。日三服。</p>
<p>陽毒之為病。面赤斑斑如錦紋。咽喉痛。吐膿血。五日可治。七日不可治。升麻鱉甲湯主之。</p>
<p>陰毒之為病。面目青。身痛如被杖。咽喉痛。五日可治。七日不可治。升麻鱉甲湯去雄黃、蜀椒主之。</p>
<p>毒者。邪氣蘊蓄不解之謂。陽毒非必極熱。陰毒非必極寒。邪在陽者為陽毒。邪在陰者為陰毒也。而此所謂陰陽者。亦非臟腑氣血之謂。但以面赤斑斑如錦紋。咽喉痛。唾膿血。其邪著而在表者謂之陽。面目青。身痛如被杖。咽喉痛。不唾膿血。其邪隱而在表之裡者謂之陰耳。故皆得用辛溫升散之品。以發其蘊蓄不解之邪。而亦並用甘潤鹹寒之味。以安其邪氣經擾之陰。五日邪氣尚淺。發之猶易。故可治。七日邪氣已深。發之則難。故不可治。其蜀椒、雄黃二物。陽毒用之者。以陽從陽。欲其速散也。陰毒去之者。恐陰邪不可劫。而陰氣反受損也。</p>
<p><u>升麻鱉甲湯方</u></p>
<p>升麻　當歸　甘草（各二兩）　蜀椒（炒去汗一兩）　鱉甲（手指大一片炙）　雄黃（半兩研）　</p>
<p>上六味。以水四升。煮取一升。頓服之。老小再服取汗。肘後、千金方陽毒用升麻湯。無鱉甲有桂。陰毒用甘草湯。無雄黃。</p>

<h2>瘧病脈證並治第四</h2>
<p>師曰。瘧脈自弦。弦數者多熱。弦遲者多寒。弦小緊者下之瘥。弦遲者可溫之。弦緊者可發汗針灸也。浮大者可吐之。弦數者風發也。以飲食消息止之。</p>
<p>瘧者少陽之邪。弦者少陽之脈。有是邪。則有是脈也。然瘧之舍。固在半表半裡之間。而瘧之氣。則有偏多偏少之異。故其病有熱多者。有寒多者。有里多而可下者。有表多而可汗、可吐者。有風從熱出。而不可以藥散者。當各隨其脈而施治也。徐氏曰。脈大者為陽。小者為陰。緊雖寒脈。小緊則內入而為陰矣。陰不可從表散。故曰下之愈。遲既為寒。溫之無疑。弦緊不沉。為寒脈而非陰脈。非陰故可發汗針灸也。瘧脈概弦。而忽浮大。知邪在高分。高者引而越之。故可吐。喻氏曰。仲景既云弦數者多熱矣。而復申一義云。弦數者風發。見多熱不已。必至於極熱。熱極則生風。風生則肝木侮土而傳其熱於胃。坐耗津液。此非可徒求之藥。須以飲食消息。止其熾熱。即梨汁、蔗漿。生津止渴之屬。正內經風淫於內。治以甘寒之旨也。</p>
<p>病瘧以月一日發。當十五日愈。設不瘥。當月盡解。如其不瘥。當云何。師曰。此結為癥瘕。名曰瘧母。急治之。宜鱉甲煎丸。</p>
<p>天氣十五日一更。人之氣亦十五日一更。氣更則邪當解也。否則三十日天人之氣再更。而邪自不能留矣。設更不愈。其邪必假血依痰。結為癥瘕。僻處脅下。將成負固不服之勢。故宜急治。鱉甲煎丸。行氣逐血之藥頗多。而不嫌其峻。一日三服。不嫌其急。所謂乘其未集而擊之也。</p>
<p><u>鱉甲煎丸方</u></p>
<p>鱉甲（十二分炙）　烏扇（三分燒即射干）　黃芩（三分）　柴胡（六分）　鼠婦（三分熬）　乾薑　大黃　桂枝　石韋（去毛）　厚朴　紫葳（即凌霄）　阿膠（各三分）　芍藥　牡丹（去心）　䗪蟲（各五分）　半夏（一分）　葶藶　人參（各一分）　瞿麥（二分）　蜂窠（四分炙）　赤硝（十二分）　蜣蜋（六分熬）　桃仁（二分去皮尖研）　</p>
<p>上二十三味。為末。取煅灶下灰一斗。清酒一斛五升。浸灰。俟酒盡一半。著鱉甲於中。煮令泛爛加膠漆。絞取汁。內諸藥。煎為丸。如梧子大。空心服七丸。日三服。千金方用鱉甲十二片。又有海藻三分。大戟一分。無鼠婦、赤硝二味。</p>
<p>師曰。陰氣孤絕。陽氣獨發。則熱而少氣煩冤。手足熱而欲嘔。名曰癉瘧。若但熱不寒者。邪氣內藏於心。外舍分肉之間。令人消爍肌肉。</p>
<p>此與內經論癉瘧文大同。夫陰氣虛者。陽氣必發。發則足以傷氣而耗神。故少氣煩冤也。四肢者。諸陽之本。陽盛則手足熱也。欲嘔者。熱干胃也。邪氣內藏於心者。癉為陽邪。心為陽臟。以陽從陽。故邪外舍分肉。而其氣則內通心臟也。消爍肌肉者。肌肉為陰。陽極則陰消也。</p>
<p>溫瘧者。其脈如平。身無寒但熱。骨節煩疼。時嘔。白虎加桂枝湯主之。</p>
<p>此與內經論溫瘧文不同。內經言其因。此詳其脈與證也。癉瘧、溫瘧。俱無寒但熱。俱嘔。而其因不同。癉瘧者。肺素有熱。而加外感。為表寒裡熱之證。緣陰氣內虛。不能與陽相爭。故不作寒也。溫瘧者。邪氣內藏腎中。至春夏而始發。為伏氣外出之證。寒蓄久而變熱。故亦不作寒也。脈如平者。病非乍感。故脈如其平時也。骨節煩疼時嘔者。熱從腎出。外舍於其合。而上並於陽明也。白虎甘寒除熱。桂枝則因其勢而達之耳。</p>
<p><u>白虎加桂枝湯方</u></p>
<p>知母（六兩）　石膏（一斤）　甘草（二兩炙）　粳米（二合）　桂枝（三兩）　</p>
<p>上五味。以水一斗。煮米熟湯成。去滓。溫服一升。日三。</p>
<p>瘧多寒者。名曰牡瘧。蜀漆散主之。</p>
<p>瘧多寒者。非真寒也。陽氣為痰飲所遏。不得外出肌表。而但內伏心間。心、牡藏也。故名牡瘧。蜀漆能吐瘧痰。痰去則陽伸而寒愈。取雲母、龍骨者。以蜀漆上越之猛。恐並動心中之神與氣也。</p>
<p><u>蜀漆散方</u></p>
<p>蜀漆（洗去腥）　雲母（燒二日夜）　龍骨（等分）　</p>
<p>上三味。杵為散。未發前。以漿水服半錢匕。</p>
<p><u>附外臺秘要三方</u></p>
<p><u>牡蠣湯</u></p>
<p>牡蠣　麻黃（各四兩）　甘草（二兩）　蜀漆（三兩）　</p>
<p>上四味。以水八升。先煮蜀漆、麻黃。去上沫。得六升。內諸藥。煮取二升。溫服一升。若吐則勿更服。</p>
<p>按、此係宋孫奇等所附。蓋亦蜀漆散之意。而外攻之力較猛矣。趙氏云。牡蠣軟堅消結。麻黃非獨散寒。且可發越陽氣。使通於外。結散陽通。其病自愈。</p>
<p><u>柴胡去半夏加栝蔞根湯</u>　治瘧病發渴者。亦治勞瘧。</p>
<p>柴胡（八兩）　人參　黃芩　甘草（各三兩）　栝蔞根（四兩）　生薑（二兩）　大棗（十二枚）　</p>
<p>上七味。以水一斗二升。煮取六升。去滓再煎。取三升。溫服一升。日二服。</p>
<p><u>柴胡桂薑湯</u>　治瘧。寒多微有熱。或但寒不熱。服一劑如神。</p>
<p>柴胡（半斤）　桂枝（三兩）　乾薑（二兩）　栝蔞根（四兩）　黃芩（三兩）　甘草（二兩炙）　牡蠣（二兩熬）　</p>
<p>上七味。以水一斗。煮取六升。去滓。再煎。取三升。溫服一升。日三。初服微煩。復服汗出便愈。</p>
<p>趙氏曰。此與牡瘧相類而實非。牡瘧邪客心下。此風寒濕痹於肌表。肌表既痹。陽氣不得通於外。遂鬱伏於營血之中。陽氣化熱。血滯成瘀。著於其處。遇衛氣行陽二十五度及之。則病作。其邪之入營者。既無外出之勢。而營之素痹者。亦不出而與陽爭。故少熱或無熱也。是用柴胡為君。發其鬱伏之陽。黃芩為佐。清其半里之熱。桂枝、乾薑。所以通肌表之痹。栝蔞根、牡蠣。除留熱。消瘀血。甘草和諸藥。調陰陽也。得汗則痹邪散。血熱行。而病愈矣。</p>

<h2>中風歷節病脈證並治第五</h2>
<p>夫風之為病。當半身不遂。或但臂不遂者。此為痹。脈微而數。中風使然。</p>
<p>風徹於上下。故半身不遂。痹閉於一處。故但臂不遂。以此見風重而痹輕。風動而痹著也。風從虛入。故脈微。風發而成熱。故脈數。曰中風使然者。謂痹病亦是風病。但以在陽者則為風。而在陰者則為痹耳。寸口脈浮而緊。緊則為寒。浮則為虛。寒虛相搏。邪在皮膚。浮者血虛。絡脈空虛。賊邪不瀉。或左或右。邪氣反緩。正氣即急。正氣引邪。喎僻不遂。邪在於絡。肌膚不仁。邪在於經。即重不勝。邪入於腑。即不識人。邪入於臟。舌即難言。口吐涎。</p>
<p>寒虛相搏者。正不足而邪乘之。為風寒初感之診也。浮為血虛者。氣行脈外而血行脈中。脈浮者沉不足。為血虛也。血虛則無以充灌皮膚。而絡脈空虛。並無以捍禦外氣。而賊邪不瀉。由是或左或右。隨其空處而留著矣。邪氣反緩。正氣即急者。受邪之處。筋脈不用而緩。無邪之處。正氣獨治而急。緩者為急者所引。則口目為僻。而肢體不遂。是以左喎者邪反在右。右喎者邪反在左。然或左或右。則有邪正緩急之殊。而為表為里。亦有經絡臟腑之別。經云。經脈為里。支而橫者為絡。絡之小者為孫。是則絡淺而經深。絡小而經大。故絡邪病於肌膚。而經邪病連筋骨。甚而入腑。又甚而入臟。則邪遞深矣。蓋神藏於臟。而通於腑。腑病則神窒於內。故不識人。諸陰皆連舌本。臟氣厥不至舌下。則機息於上。故舌難言。而涎自出也。</p>
<p><u>侯氏黑散</u>　治大風四肢煩重。心中惡寒不足者。</p>
<p>菊花（四十分）　白朮　防風（各十分）　桔梗（八分）　黃芩（五分）　細辛　乾薑　人參　茯苓　當歸　川芎　牡蠣　礬石　桂枝（各三分）　</p>
<p>上十四味。杵為散。酒服方寸匕。日一服。初服二十日。溫酒調服。禁一切魚肉大蒜。常宜冷食。六十日止。即藥積腹中不下也。熱食即下矣。冷食自能助藥力。</p>
<p>此方亦孫奇等所附。而去風除熱。補虛下痰之法具備。以為中風之病。莫不由是數者所致云爾。學者得其意。毋泥其跡可也。</p>
<p>寸口脈遲而緩。遲則為寒。緩則為虛。營緩則為亡血。衛緩則為中風。邪氣中經。則身癢而癮疹。心氣不足。邪氣入中。則胸滿而短氣。</p>
<p>遲者行之不及。緩者至而無力。不及為寒。而無力為虛也。沉而緩者為營不足。浮而緩者為衛中風。衛在表而營在裡也。經不足而風入之。血為風動。則身癢而癮疹。心不足而風中之。陽用不布。則胸滿而短氣。經行肌中。而心處胸間也。</p>
<p><u>風引湯</u>　除熱癱癇。</p>
<p>大黃　乾薑　龍骨（各四兩）　桂枝（三兩）　甘草　牡蠣（各二兩）　寒水石　滑石　赤石脂　白石脂　紫石英　石膏（各六兩）　</p>
<p>上十二味。杵粗篩。以韋囊盛之。取三指撮。井花水三升。煮三沸。溫服一升。治大人風引。少小驚癇瘈瘲日數發。醫所不療。除熱方。巢氏云。腳氣宜風引湯。</p>
<p>此下熱清熱之劑。孫奇以為中風多從熱起。故特附於此歟。中有薑、桂、石、脂、龍、蠣者。蓋以澀馭泄。以熱監寒也。然亦猛劑。用者審之。</p>
<p><u>防己地黃湯</u>　治病如狂狀。妄行。獨語不休。無寒熱。其脈浮。</p>
<p>防己　甘草（各一分）　桂枝　防風（各三分）　</p>
<p>上四味。以酒一杯。漬之。絞取汁。生地黃二斤。㕮咀。蒸之如斗米飯久。以銅器盛藥汁。更絞地黃汁和。分再服。</p>
<p>狂走譫語。身熱脈大者。屬陽明也。此無寒熱。其脈浮者。乃血虛生熱。邪並於陽而然。桂枝、防風、防己、甘草。酒浸取汁。用是輕清。歸之於陽。以散其邪。用生地黃之甘寒。熟蒸使歸於陰。以養血除熱。蓋藥生則散表。熟則補衰。此煎煮法。亦表裡法也。（趙氏）</p>
<p><u>頭風摩散</u></p>
<p>大附子（一枚）　鹽（等分）　</p>
<p>上二味。為散。沐了。以方寸匕。摩疾上。令藥力行。</p>
<p>寸口脈沉而弱。沉即主骨。弱即主筋。沉即為腎。弱即為肝。汗出入水中。如水傷心。歷節痛。黃汗出。故曰歷節。</p>
<p>此為肝腎先虛。而心陽復郁。為歷節黃汗之本也。心氣化液為汗。汗出入水中。水寒之氣。從汗孔入侵心臟。外水內火。郁為濕熱。汗液則黃。浸淫筋骨。歷節乃痛。歷節者。遇節皆痛也。蓋非肝腎先虛。則雖得水氣。未必便入筋骨。非水濕內侵。則肝腎雖虛。未必便成歷節。仲景欲舉其標。而先究其本。以為歷節多從虛得之也。</p>
<p>按、後水氣篇中雲。黃汗之病。以汗出入水中浴。水從汗孔入得之。合觀二條。知歷節、黃汗。為同源異流之病。其瘀郁上焦者。則為黃汗。其並傷筋骨者。則為歷節也。</p>
<p>趺陽脈浮而滑。滑則穀氣實。浮則汗自出。少陰脈浮而弱。弱則血不足。浮則為風。風血相搏。即疼痛如掣。盛人脈澀小。短氣。自汗出。歷節疼。不可屈伸。此皆飲酒汗出當風所致。</p>
<p>趺陽脈浮者風也。脈滑者穀氣盛也。汗生於穀。而風性善泄。故汗自出。風血相搏者。少陰血虛而風復擾之。為疼痛如掣也。趺陽少陰二條合看。知陽明穀氣盛者。風入必與汗偕出。少陰血不足者。風入遂著而成病也。盛人脈澀小短氣者。形盛於外。而氣歉於內也。自汗出。濕復勝也。緣酒客濕本內積。而汗出當風。則濕復外郁。內外相召。流入關節。故歷節痛不可屈伸也。合三條觀之。汗出入水者。熱為濕鬱也。風血相搏者。血為風動也。飲酒汗出當風者。風濕相合也。歷節病因。有是三者不同。其為從虛所得則一也。</p>
<p>諸肢節疼痛。身體尪羸。腳腫如脫。頭眩短氣。溫溫欲吐。桂枝芍藥知母湯主之。</p>
<p>諸肢節疼痛。即歷節也。身體尪羸。腳腫如脫。形氣不足。而濕熱下甚也。頭眩短氣。溫溫欲吐。濕熱且從下而上衝矣。與腳氣衝心之候頗同。桂枝、麻黃、防風。散濕於表。芍藥、知母、甘草。除熱於中。白朮、附子。驅濕於下。而用生薑最多。以止嘔降逆。為濕熱外傷肢節。而復上衝心胃之治法也。</p>
<p><u>桂枝芍藥知母湯方</u></p>
<p>桂枝（四兩）　芍藥（三兩）　甘草　麻黃（各二兩）　附子（二枚炮）　白朮　知母　防風（各四兩）　生薑（五兩）　</p>
<p>上九味。以水七升。煮取二升。溫服七合。日三服。</p>
<p>味酸則傷筋。筋傷則緩。名曰泄。咸則傷骨。骨傷則痿。名曰枯。枯泄相搏。名曰斷泄。營氣不通。衛不獨行。營衛俱微。三焦無所御。四屬斷絕。身體羸瘦。獨足腫大。黃汗出。脛冷。假令發熱。便為歷節也。</p>
<p>此亦內傷肝腎。而由於滋味不節者也。枯泄相搏。即筋骨並傷之謂。曰斷泄者。言其生氣不續。而精神時越也。營不通因而衛不行者。病在陰而及於陽也。不通不行。非壅而實。蓋即營衛涸流之意。四屬、四肢也。營衛者。水穀之氣。三焦受氣於水谷。而四肢稟氣於三焦。故營衛微。則三焦無氣而四屬失養也。由是精微不化於上。而身體羸瘦。陰濁獨注於下。而足腫脛冷黃汗出。此病類似歷節黃汗。而實非水濕為病。所謂肝腎雖虛。未必便成歷節者是也。而虛病不能發熱。歷節則未有不熱者。故曰假令發熱。便為歷節。後水氣篇中又云。黃汗之病。兩脛自冷。假令發熱。此屬歷節。蓋即黃汗歷節而又致其辨也。詳見本文。</p>
<p>病歷節不可屈伸。疼痛。烏頭湯主之。</p>
<p>此治寒濕歷節之正法也。寒濕之邪。非麻黃、烏頭不能去。而病在筋節。又非如皮毛之邪。可一汗而散者。故以黃耆之補。白芍之收。甘草之緩。牽制二物。俾得深入而去留邪。如衛瓘監鍾鄧入蜀。使其成功而不及於亂。乃制方之要妙也。</p>
<p><u>烏頭湯</u>　亦治腳氣疼痛。不可屈伸。</p>
<p>麻黃　芍藥　黃耆　甘草（各三兩炙）　烏頭（五枚㕮咀以蜜二升煎取一升即出烏頭）　</p>
<p>上四味。以水三升。煮取一升。去滓。內蜜煎中。更煎之。服七合。不知。盡服之。</p>
<p><u>礬石湯</u>　治腳氣衝心。</p>
<p>礬石（二兩）　</p>
<p>上一味。以漿水一斗五升。煎三五沸。浸腳良。</p>
<p>腳氣之病。濕傷於下。而氣衝於上。礬石味酸澀性燥。能卻水收濕解毒。毒解濕收。上衝自止。</p>
<p><u>附方</u></p>
<p><u>古今錄驗續命湯</u>　治中風痱。身體不能自收持。口不能言。冒昧不知痛處。或拘急不得轉側。</p>
<p>麻黃　桂枝　甘草　乾薑　石膏　當歸　人參（各三兩）　杏仁（四十粒）　川芎（一兩五錢）　</p>
<p>上九味。以水一斗。煮取四升。溫服一升。當小汗。薄覆脊。憑几坐。汗出則愈。不汗更服。無所禁。勿當風。並治但伏不得臥。咳逆上氣。面目浮腫。</p>
<p>痱者廢也。精神不持。筋骨不用。非特邪氣之擾。亦真氣之衰也。麻黃、桂枝所以散邪。人參、當歸所以養正。石膏合杏仁助散邪之力。甘草合乾薑為復氣之需。乃攻補兼行之法也。</p>
<p><u>千金三黃湯</u>　治中風。手足拘急。百節疼痛。煩熱心亂。惡寒。經日不欲飲食。</p>
<p>麻黃（五分）　獨活（四分）　細辛　黃耆（各二分）　黃芩（三分）　</p>
<p>上五味。以水六升。煮取二升。分溫三服。一服小汗出。二服大汗出。心熱加大黃二分。腹滿加枳實一枚。氣逆加人參三分。悸加牡蠣三分。渴加栝蔞根三分。先有寒。加附子一枚。</p>
<p><u>近效朮附湯</u>　治風虛。頭重眩。苦極。不知食味。暖肌補中。益精氣。</p>
<p>白朮（一兩）　附子（一枚半炮去皮）　甘草（一兩炙）　</p>
<p>上三味剉。每五錢匕。姜五片。棗一枚。水盞半。煎七分。去滓溫服。</p>
<p><u>崔氏八味丸</u>　治腳氣上入少腹不仁。</p>
<p>熟地黃（八兩）　山茱萸　山藥（各四兩）　澤瀉　茯苓　牡丹皮（各三兩）　桂枝　附子（各一兩炮）　</p>
<p>上八味。末之。煉蜜和丸梧子大。酒下十五丸。日再服。腎之脈。起於足而入於腹。腎氣不治。濕寒之氣。隨經上入。聚於少腹。為之不仁。是非驅濕散寒之劑所可治者。須以腎氣丸補腎中之氣。以為生陽化濕之用也。</p>
<p><u>千金越婢加朮湯</u>　治肉極熱。則身體津脫。腠理開。汗大泄。厲風氣。下焦腳弱。</p>
<p>麻黃（六兩）　石膏（半斤）　生薑（二兩）　甘草（二兩）　白朮（四兩）　大棗（十五枚）　</p>
<p>上六味。以水六升。先煮麻黃。去上沫。內諸藥。煮取三升。分溫三服。惡風加附子一枚。炮。</p>

<h2>血痹虛勞病脈證並治第六</h2>
<p>問曰。血痹之病。從何得之。師曰。夫尊榮人。骨弱肌膚盛。重因疲勞汗出。臥不時動搖。加被微風。遂得之。但以脈自微。澀在寸口。關上小緊。宜針引陽氣。令脈和緊去則愈。</p>
<p>陽氣者。衛外而為固也。乃因疲勞汗出。而陽氣一傷。臥不時動搖。而陽氣再傷。於是風氣雖微。得以直入血中而為痹。經云。邪入於陰則痹也。脈微為陽微。澀為血滯。緊則邪之徵也。血中之邪。始以陽氣傷而得入。終必得陽氣通而後出。而痹之為病。血既以風入而痹於外。陽亦以血痹而止於中。故必針以引陽使出。陽出而邪去。邪去而脈緊乃和。血痹乃通。以是知血分受痹。不當獨治其血矣。</p>
<p>血痹陰陽俱微。寸口關上微。尺中小緊。外證身體不仁。如風痹狀。黃耆桂枝五物湯主之。</p>
<p>陰陽俱微。該人迎、趺陽、太谿為言。寸口關上微。尺中小緊。即陽不足而陰為痹之象。不仁者。肌體頑痹。痛癢不覺。如風痹狀。而實非風也。黃耆、桂枝五物。和營之滯。助衛之行。亦針引陽氣之意。以脈陰陽俱微。故不可針而可藥。經所謂陰陽形氣俱不足者。勿刺以針而調以甘藥也。</p>
<p><u>黃耆桂枝五物湯方</u></p>
<p>黃耆（三兩）　芍藥（三兩）　桂枝（三兩）　生薑（六兩）　大棗（十二枚）　</p>
<p>上五味。以水六升。煮取二升。溫服七合。日三服。</p>
<p>夫男子平人脈大為勞。脈極虛亦為勞。</p>
<p>陽氣者。煩勞則張。故脈大。勞則氣耗。故脈極虛。李氏曰。脈大非氣盛也。重按必空濡。大者。勞脈之外暴者也。極虛者。勞脈之內衰者也。</p>
<p>男子面色薄。主渴及亡血。卒喘悸。脈浮者。裡虛也。</p>
<p>渴者熱傷陰氣。亡血者不華於色。故面色薄者。知其渴及亡血也。李氏曰。勞者氣血俱耗。氣虛則喘。血虛則悸。卒者。猝然見此病也。脈浮為裡虛。以勞則真陰失守。孤陽無根。氣散於外。而精奪於內也。</p>
<p>男子脈虛沉弦。無寒熱。短氣裡急。小便不利。面色白。時目瞑兼衄。少腹滿。此為勞使之然。勞之為病。其脈浮大。手足煩。春夏劇。秋冬瘥。陰寒精自出。酸削不能行。男子脈浮弱而澀。為無子。精氣清冷。</p>
<p>脈虛沉弦者。勞而傷陽也。故為短氣裡急。為小便不利。少腹滿。為面色白。而其極則並傷其陰而目瞑兼衄。目瞑、目不明也。脈浮者。勞而傷陰也。故為手足煩。為酸削不能行。為春夏劇而秋冬瘥。而其極則並傷其陽而陰寒精自出。此陰陽互根。自然之道也。若脈浮弱而澀。則精氣交虧而清冷不溫。此得之天稟薄弱。故當無子。</p>
<p>夫失精家少腹弦急。陰頭寒。目眩、發落。脈極虛芤遲。為清穀、亡血、失精。脈得諸芤動微緊。男子失精。女子夢交。桂枝龍骨牡蠣湯主之。</p>
<p>脈極虛芤遲者。精失而虛及其氣也。故少腹弦急。陰頭寒而目眩。脈得諸芤動微緊者。陰陽並乖而傷及其神與精也。故男子失精。女子夢交。沈氏所謂勞傷心氣。火浮不斂。則為心腎不交。陽泛於上。精孤於下。火不攝水。不交自泄。故病失精。或精虛心相內浮。擾精而出。則成夢交者是也。徐氏曰。桂枝湯外證得之。能解肌去邪氣。內證得之。能補虛調陰陽。加龍骨、牡蠣者。以失精夢交為神精間病。非此不足以收斂其浮越也。</p>
<p><u>桂枝龍骨牡蠣湯方</u></p>
<p>桂枝　芍藥　生薑（各三兩）　甘草（二兩）　大棗（十二枚）　龍骨　牡蠣（各三兩）　</p>
<p>上七味。以水七升。煮取三升。分溫三服。</p>
<p><u>天雄散方</u></p>
<p>天雄（三兩炮）　白朮（八兩）　桂枝（六兩）　龍骨（三兩）　</p>
<p>上四味。杵為散。酒服半錢匕。日三服。不知。稍增之。</p>
<p>按、此疑亦後人所附。為補陽攝陰之用也。</p>
<p>男子平人脈虛弱細微者。喜盜汗也。人年五六十。其病脈大者。痹俠背行。若腸鳴、馬刀、俠癭者。皆為勞得之。脈沉小遲。名脫氣。其人疾行則喘喝。手足逆寒。腹滿。甚則溏泄。食不消化也。脈弦而大。弦則為減。大則為芤。減則為寒。芤則為虛。虛寒相搏。此名為革。婦人則半產、漏下。男子則亡血、失精。</p>
<p>平人、不病之人也。脈虛弱細微。則陰陽俱不足矣。陽不足者不能固。陰不足者不能守。是其人必善盜汗。人年五六十。精氣衰矣。而病脈反大者。是其人當有風氣也。痹俠背行。痹之俠脊者。由陽氣不足。而邪氣從之也。若腸鳴、馬刀、俠癭者。陽氣以勞而外張。火熱以勞而上逆。陽外張。則寒動於中而為腹鳴。火上逆。則與痰相搏而為馬刀、俠癭。李氏曰。癭生乳腋下曰馬刀。又夾生頸之兩旁者為俠癭。俠者挾也。馬刀、蠣蛤之屬。瘡形似之。故名馬刀。癭、一作纓。發於結纓之處。二瘡一在頸。一在腋下。常相聯絡。故俗名癧串。脈沉小遲。皆陰象也。三者並見。陰盛而陽乃亡矣。故名脫氣。其人疾行則喘喝者。氣脫而不固也。由是外無氣而手足逆冷。胃無氣而腹滿。脾無氣而溏泄食不化。皆陽微氣脫之證也。脈弦者陽不足。故為減為寒。脈大者陰不足。故為芤為虛。陰陽並虛。外強中乾。此名為革。又變革也。婦人半產、漏下。男子亡血、失精。是皆失其產乳生育之常矣。故名曰革。</p>
<p>虛勞裡急。悸衄。腹中痛。夢失精。四肢痠疼。手足煩熱。咽乾、口燥。小建中湯主之。</p>
<p>此和陰陽調營衛之法也。夫人生之道。曰陰曰陽。陰陽和平。百疾不生。若陽病不能與陰和。則陰以其寒獨行。為裡急。為腹中痛。而實非陰之盛也。陰病不能與陽和。則陽以其熱獨行。為手足煩熱。為咽乾、口燥。而實非陽之熾也。昧者以寒攻熱。以熱攻寒。寒熱內賊。其病益甚。惟以甘酸辛藥。和合成劑。調之使和。則陽就於陰。而寒以溫。陰就於陽。而熱以和。醫之所以貴識其大要也。豈徒云寒可治熱。熱可治寒而已哉。或問和陰陽調營衛是矣。而必以建中者何也。曰中者脾胃也。營衛生成於水穀。而水穀轉輸於脾胃。故中氣立。則營衛流行而不失其和。又中者四運之軸。而陰陽之機也。故中氣立。則陰陽相循。如環無端。而不極於偏。是方甘與辛合而生陽。酸得甘助而生陰。陰陽相生。中氣自立。是故求陰陽之和者。必於中氣。求中氣之立者。必以建中也。</p>
<p><u>小建中湯方</u></p>
<p>桂枝（三兩）　甘草（二兩）　芍藥（六兩）　大棗（十二枚）　生薑（三兩）　飴糖（一升）　</p>
<p>上六味。以水七升。煮取三升。去滓。內膠飴。更上微火消解。溫服一升。日三服。</p>
<p>虛勞裡急諸不足。黃耆建中湯主之。</p>
<p>裡急者。裡虛脈急。腹中當引痛也。諸不足者。陰陽諸脈。並俱不足。而眩、悸、喘、喝。失精、亡血等證。相因而至也。急者緩之。必以甘。不足者補之。必以溫。而充虛塞空。則黃耆尤有專長也。</p>
<p><u>黃耆建中湯方</u>　即小建中湯內加黃耆一兩半。余依上法。氣短、胸滿者。加生薑。腹滿者。去棗。加茯苓一兩半。及療肺虛損不足。補氣。加半夏三兩。</p>
<p>虛勞腰痛。少腹拘急。小便不利者。八味腎氣丸主之。</p>
<p>下焦之分。少陰主之。少陰雖為陰臟。而中有元陽。所以溫經臟。行陰陽。司開闔者也。虛勞之人。損傷少陰腎氣。是以腰痛。少腹拘急。小便不利。程氏所謂腎間動氣已損者是矣。八味腎氣丸補陰之虛。可以生氣。助陽之弱。可以化水。乃補下治下之良劑也。</p>
<p><u>八味腎氣丸方</u>（見婦人雜病）</p>
<p>虛勞諸不足。風氣百疾。薯蕷丸主之。</p>
<p>虛勞證多有挾風氣者。正不可獨補其虛。亦不可著意去風氣。仲景以參、地、芎、歸、苓、術補其氣血。膠、麥、薑、棗、甘、芍益其營衛。而以桔梗、杏仁、桂枝、防風、柴胡、白蘞、黃卷、神麯去風行氣。其用薯蕷最多者。以其不寒不熱。不燥不滑。兼擅補虛去風之長。故以為君。謂必得正氣理而後風氣可去耳。</p>
<p><u>薯蕷丸方</u></p>
<p>薯蕷（三十分）　人參（七分）　白朮（六分）　茯苓（五分）　甘草（二十八分）　當歸（十分）　乾地黃（十分）　芍藥（六分）　芎藭（六分）　麥冬（六分）　阿膠（七分）　乾薑（三分）　大棗（百枚為膏）　桔梗（五分）　杏仁（六分）　桂枝（十分）　防風（六分）　神麯（十分）　豆黃卷（十分）　柴胡（五分）　白蘞（二分）　</p>
<p>上二十一味。末之。煉蜜和丸。如彈子大。空腹酒服一丸。一百丸為劑。</p>
<p>虛勞虛煩不得眠。酸棗仁湯主之。</p>
<p>人寤則魂寓於目。寐則魂藏於肝。虛勞之人。肝氣不榮。則魂不得藏。魂不藏故不得眠。酸棗仁補肝斂氣。宜以為君。而魂既不歸容。必有濁痰燥火乘間而襲其舍者。煩之所由作也。故以知母、甘草。清熱滋燥。茯苓、川芎。行氣除痰。皆所以求肝之治。而宅其魂也。</p>
<p><u>酸棗仁湯方</u></p>
<p>酸棗仁（二升）　甘草（一兩）　知母　茯苓（各二兩）　芎藭（一兩）　</p>
<p>上五味。以水八升。煮酸棗仁得六升。內諸藥。煮取三升。分溫三服。</p>
<p>五勞虛極羸瘦。腹滿不能飲食。食傷。憂傷。飲傷。房室傷。飢傷、勞傷。經絡營衛氣傷。內有乾血。肌膚甲錯。兩目黯黑。緩中補虛。大黃䗪蟲丸主之。</p>
<p>虛勞症有挾外邪者。如上所謂風氣百疾是也。有挾瘀郁者。則此所謂五勞諸傷。內有乾血者是也。夫風氣不去。則足以賊正氣而生長不榮。乾血不去。則足以留新血而滲灌不周。故去之不可不早也。此方潤以濡其干。蟲以動其瘀。通以去其閉。而仍以地黃、芍藥、甘草和養其虛。攻血而不專主於血。一如薯蕷丸之去風而不著意於風也。喻氏曰。此世俗所稱乾血勞之良治也。血瘀於內。手足脈相失者宜之。兼入瓊玉膏補潤之劑尤妙。</p>
<p><u>大黃䗪蟲丸方</u></p>
<p>大黃（十分蒸）　黃芩（二兩）　甘草（三兩）　桃仁（一升）　杏仁（一升）　芍藥（四兩）　乾地黃（十兩）　乾漆（一兩燒令煙盡）　虻蟲（一升去翅足熬）　水蛭（百枚熬）　蠐螬（百枚熬）　䗪蟲（半升熬）　</p>
<p>上十二味。末之。煉蜜和丸。小豆大。酒服五丸。日三服。</p>
<p><u>附方</u></p>
<p><u>千金翼炙甘草湯</u>　治虛勞不足。汗出而悶。脈結。悸。行動如常。不出百日。危急者十一日死。</p>
<p>甘草（四兩炙）　桂枝　生薑（各三兩）　麥冬（半升）　麻仁（半升）　人參　阿膠（各三兩）　大棗（三十枚）　生地黃（一斤）　</p>
<p>上九味。以酒七升。水八升。先煮八味。取三升。去滓。內膠消盡。溫服一升。日三服。</p>
<p>脈結是營氣不行。悸則血虧而心無所養。營滯血虧。而更出汗。豈不立槁乎。故雖行動如常。斷云不出百日。知其陰亡而陽絕也。人參、桂枝、甘草、生薑。行身之陽。膠、麥、麻、地。行身之陰。蓋欲使陽得復行陰中而脈自復也。後人只喜用膠、地等而畏薑、桂。豈知陰凝燥氣。非陽不能化耶。（徐氏）</p>
<p><u>肘後獺肝散</u>　治冷勞。又主鬼疰一門相染。</p>
<p>獺肝一具。炙乾末之。水服方寸匕。日三服。</p>

<h2>肺痿肺癰咳嗽上氣病脈證治第七</h2>
<p>問曰。熱在上焦者。因咳為肺痿。肺痿之病。從何得之。師曰。或從汗出。或從嘔吐。或從消渴。小便利數。或從便難。又被快藥下利。重亡津液。故得之。曰。寸口脈數。其人咳。口中反有濁唾涎沫者何。師曰。為肺痿之病。若口中辟辟燥。咳即胸中隱隱痛。脈反滑數。此為肺癰。咳唾膿血。脈數虛者為肺痿。數實者為肺癰。</p>
<p>此設為問答。以辨肺痿、肺癰之異。熱在上焦二句。見五臟風寒積聚篇。蓋師有是語。而因之以為問也。汗出、嘔吐、消渴、二便下多。皆足以亡津液而生燥熱。肺虛且熱。則為痿矣。口中反有濁唾涎沫者。肺中津液。為熱所迫而上行也。或云肺既痿而不用。則飲食遊溢之精氣。不能分布諸經。而但上溢於口。亦通。口中辟辟燥者。魏氏以為肺癰之痰涎膿血。俱蘊蓄結聚於肺臟之內。故口中反乾燥。而但辟辟作空響燥咳而已。然按下肺癰條亦云。其人咳。咽燥不渴。多唾濁沫。則肺痿肺癰二證多同。惟胸中痛。脈滑數。唾膿血。則肺癰所獨也。比而論之。痿者萎也。如草木之萎而不榮。為津爍而肺焦也。癰者壅也。如土之壅而不通。為熱聚而肺㿉也。故其脈有虛實不同。而其數則一也。</p>
<p>問曰。病咳逆。脈之。何以知此為肺癰。當有膿血。吐之則死。其脈何類。師曰。寸口脈微而數。微則為風。數則為熱。微則汗出。數則惡寒。風中於衛。呼氣不入。熱過於營。吸而不出。風傷皮毛。熱傷血脈。風舍於肺。其人則咳。口乾喘滿。咽燥不渴。多唾濁沫。時時振寒。熱之所過。血為之凝滯。蓄結癰膿。吐如米粥。始萌可救。膿成則死。</p>
<p>此原肺癰之由。為風熱蓄結不解也。凡言風脈多浮或緩。此云微者。風入營而增熱。故脈不浮而反微。且與數俱見也。微則汗出者。氣傷於熱也。數則惡寒者。陰反在外也。呼氣不入者。氣得風而浮。利出而艱入也。吸而不出者。血得熱而壅。氣亦為之不伸也。肺熱而壅。故口乾而喘滿。熱在血中。故咽燥而不渴。且肺被熱迫。而反從熱化。為多唾濁沫。熱盛於裡。而外反無氣。為時時振寒。由是熱蓄不解。血凝不通。而癰膿成矣。吐如米粥。未必便是死證。至浸淫不已。肺葉腐敗。則不可治矣。故曰始萌可救。膿成則死。</p>
<p>上氣面浮腫。肩息。其脈浮大不治。又加利尤甚。上氣喘而躁者。此為肺脹。欲作風水。發汗則愈。</p>
<p>上氣面浮腫。肩息。氣但升而不降矣。脈復浮大。則陽有上越之機。脈偏盛者偏絕也。又加下利。是陰復從下脫矣。陰陽離決。故當不治。肩息、息搖肩也。上氣喘而躁者。水性潤下。風性上行。水為風激。氣湊於肺。所謂激而行之。可使在山者也。故曰。欲作風水。發汗令風去。則水復其潤下之性矣。故愈。</p>
<p>肺痿。吐涎沫而不咳者。其人不渴。必遺尿。小便數。所以然者。以上虛不能制下故也。此為肺中冷。必眩。多涎唾。甘草乾薑湯以溫之。若服湯已渴者。屬消渴。</p>
<p>此舉肺痿之屬虛冷者。以見病變之不同。蓋肺為嬌臟。熱則氣爍。故不用而痿。冷則氣沮。故亦不用而痿也。遺尿、小便數者。肺金不用而氣化無權。斯膀胱無制而津液不藏也。頭眩、多涎唾者。經云上虛則眩。又云上焦有寒。其口多涎也。甘草、乾薑。甘辛合用。為溫肺復氣之劑。服後病不去而加渴者。則屬消渴。蓋小便數而渴者為消。不渴者。非下虛即肺冷也。</p>
<p><u>甘草乾薑湯方</u></p>
<p>甘草（四兩炙）　乾薑（二兩炮）　</p>
<p>上㕮咀。以水三升。煮取一升五合。去滓。分溫再服。</p>
<p>咳而上氣。喉中水雞聲。射干麻黃湯主之。</p>
<p>咳而上氣。肺有邪。則氣不降而反逆也。肺中寒飲。上入喉間。為呼吸之氣所激。則作聲如水雞。射干、紫菀、款冬降逆氣。麻黃、細辛、生薑發邪氣。半夏消飲氣。而以大棗安中。五味斂肺。恐劫散之藥。並傷及其正氣也。</p>
<p><u>射干麻黃湯方</u></p>
<p>射干（三兩）　麻黃　生薑（各四兩）　細辛　紫菀　款冬花（各三兩）　大棗（七枚）　半夏（半升）　五味（半升）　</p>
<p>上九味。以水一斗二升。先煮麻黃兩沸。去上沫。內諸藥。煮取三升。分溫三服。</p>
<p>咳逆上氣。時時吐濁。但坐不得眠。皂莢丸主之。</p>
<p>濁、濁痰也。時時吐濁者。肺中之痰。隨上氣而時出也。然痰雖出而滿不減。則其本有固而不拔之勢。不迅而掃之。不去也。皂莢味辛入肺。除痰之力最猛。飲以棗膏。安其正也。</p>
<p><u>皂莢丸方</u></p>
<p>皂莢（八兩刮去皮酥炙）</p>
<p>上一味。末之。蜜丸梧子大。以棗膏和湯。服三丸。日三夜一服。</p>
<p>咳而脈浮者。厚朴麻黃湯主之。咳而脈沉者。澤漆湯主之。</p>
<p>此不詳見證。而但以脈之浮沉為辨而異其治。按厚朴麻黃湯。與小青龍加石膏湯大同。則散邪蠲飲之力居多。而厚朴辛溫。亦能助表。小麥甘平。則同五味斂安正氣者也。澤漆湯以澤漆為主。而以白前、黃芩、半夏佐之。則下趨之力較猛。雖生薑、桂枝之辛。亦只為下氣降逆之用而已。不能發表也。仲景之意。蓋以咳皆肺邪。而脈浮者氣多居表。故驅之使從外出為易。脈沉者氣多居里。故驅之使從下出為易。亦因勢利導之法也。</p>
<p><u>厚朴麻黃湯方</u></p>
<p>厚朴（五兩）　麻黃（四兩）　石膏（如雞子大）　杏仁（半升）　半夏（六升）　乾薑　細辛（各二兩）　小麥（一升）　五味（半升）　</p>
<p>上九味。以水一斗二升。先煮小麥熟。去滓。內諸藥。煮取三升。溫服一升。日三服。</p>
<p><u>澤漆湯方</u></p>
<p>半夏（半升）　澤漆（三升以東流水五斗煮取一斗五升）　紫參　生薑　白前（各五兩）　甘草　黃芩　人參　桂枝（各三兩）　</p>
<p>上九味。㕮咀。內澤漆湯中。煮取五升。溫服五合。至夜盡。</p>
<p>火逆上氣。咽喉不利。止逆下氣。麥門冬湯主之。</p>
<p>火熱挾飲致逆。為上氣。為咽喉不利。與表寒挾飲上逆者懸殊矣。故以麥冬之寒治火逆。半夏之辛治飲氣。人參、甘草之甘。以補益中氣。蓋從外來者。其氣多實。故以攻發為急。從內生者。其氣多虛。則以補養為主也。</p>
<p><u>麥門冬湯方</u></p>
<p>麥門冬（七升）　半夏（一升）　人參　甘草（各二兩）　粳米（三合）　大棗（十二枚）　</p>
<p>上六味。以水一斗二升。煮取六升。溫服一升。日三夜一服。</p>
<p>肺癰喘不得臥。葶藶大棗瀉肺湯主之。</p>
<p>肺癰喘不得臥。肺氣被迫。亦已甚矣。故須峻藥頓服。以逐其邪。葶藶苦寒。入肺泄氣閉。加大棗甘溫以和藥力。亦猶皂莢丸之飲以棗膏也。</p>
<p><u>葶藶大棗瀉肺湯方</u></p>
<p>葶藶（熬令黃色搗丸如雞子大）　大棗（十二枚）　</p>
<p>上先以水三升。煮棗取二升。去棗內葶藶。煮取一升。頓服。</p>
<p>咳而胸滿振寒。脈數。咽乾不渴。時出濁唾腥臭。久久吐膿如米粥者。為肺癰。桔梗湯主之。</p>
<p>此條見證。具如前第二條所云。乃肺癰之的證也。此病為風熱所壅。故以苦梗開之。熱聚則成毒。故以甘草解之。而甘倍於苦。其力似乎太緩。意者癰膿已成。正傷毒潰之時。有非峻劑所可排擊者。故藥不嫌輕耳。後附外臺桔梗白散。治證與此正同。方中桔梗、貝母同用。而無甘草之甘緩。且有巴豆之毒熱。似亦以毒攻毒之意。然非病盛氣實。非峻藥不能為功者。不可僥倖一試也。是在審其形之肥瘠。與病之緩急而善其用焉。</p>
<p><u>桔梗湯方</u></p>
<p>桔梗（一兩）　甘草（二兩）　</p>
<p>上以水三升。煮取一升。分溫再服。則吐膿血也。</p>
<p>咳而上氣。此為肺脹。其人喘。目如脫狀。脈浮大者。越婢加半夏湯主之。</p>
<p>外邪內飲。填塞肺中。為脹為喘。為咳而上氣。越婢湯散邪之力多。而蠲飲之力少。故以半夏輔其未逮。不用小青龍者。以脈浮且大。病屬陽熱。故利辛寒。不利辛熱也。目如脫狀者。目睛脹突。如欲脫落之狀。壅氣使然也。</p>
<p><u>越婢加半夏湯方</u></p>
<p>麻黃（六兩）　石膏（半斤）　生薑（三兩）　大棗（十五枚）　甘草（二兩）　半夏（半升）　</p>
<p>上六味。以水六升。先煮麻黃。去上沫。內諸藥。煮取三升。分溫三服。</p>
<p>肺脹。咳而上氣。煩躁而喘。脈浮者心下有水。小青龍加石膏湯主之。</p>
<p>此亦外邪內飲相搏之證。而兼煩躁。則挾有熱邪。麻、桂藥中。必用石膏。如大青龍之例也。又此條見證。與上條頗同。而心下寒飲則非溫藥不能開而去之。故不用越婢加半夏。而用小青龍加石膏。溫寒並進。水熱俱捐。於法尤為密矣。</p>
<p><u>小青龍加石膏湯方</u></p>
<p>麻黃　芍藥　桂枝　細辛　乾薑　甘草（各三兩）　五味　半夏（各半升）　石膏（二兩）　</p>
<p>上九味。以水一斗。先煮麻黃。去上沫。內諸藥。煮取三升。強人服一升。羸者減之。日三服。小兒服四合。</p>
<p><u>附方</u></p>
<p><u>外臺炙甘草湯</u>　治肺痿涎唾多。心中溫溫液液者。（方見虛勞）</p>
<p><u>千金甘草湯方</u></p>
<p>甘草一味。以水三升。煮減半。分溫三服。</p>
<p><u>千金生薑甘草湯</u>　治肺痿咳唾涎沫不止。咽燥而渴。</p>
<p>生薑（五兩）　人參（三兩）　甘草（四兩）　大棗（十五枚）　</p>
<p>上四味。以水七升。煮取三升。分溫三服。</p>
<p><u>千金桂枝去芍藥加皂莢湯</u>　治肺痿吐涎沫。</p>
<p>桂枝　生薑（各三兩）　甘草（二兩）　大棗（十枚）　皂莢（一枚去皮子炙焦）　</p>
<p>上五味。以水七升。微火煮取三升。分溫三服。</p>
<p>按、以上諸方。俱用辛甘溫藥。以肺既枯痿。非濕劑可滋者。必生氣行氣以致其津。蓋津生於氣。氣至則津亦至也。又方下俱云。吐涎沫多不止。則非無津液也。乃有津液而不能收攝分布也。故非辛甘溫藥不可。加皂莢者。兼有濁痰也。</p>
<p><u>外臺桔梗白散</u>　治咳而胸滿振寒。脈數。咽乾不渴。時出濁唾腥臭。久久吐膿如米粥者。為肺癰。</p>
<p>桔梗　貝母（各三兩）　巴豆（一分去皮熬研如脂）　</p>
<p>上三味為散。強人飲服半錢匕。羸者減之。病在膈上者吐膿。在膈下者瀉出。若下多不止。飲冷水一杯則定。</p>
<p><u>千金葦莖湯</u>　治咳有微熱。煩滿。胸中甲錯。是為肺癰。</p>
<p>葦莖（二升）　薏苡仁（半升）　桃仁（五十粒）　瓜瓣（半升）　</p>
<p>上四味。以水一斗。先煮葦莖得五升。去滓。內諸藥。煮取二升。服一升。再服。當吐如膿。</p>
<p>按、此方具下熱散結通瘀之力。而重不傷峻。緩不傷懈。可以補桔梗湯、桔梗白散二方之偏。亦良法也。</p>
<p><u>葶藶大棗瀉肺湯</u>　治肺癰胸滿脹。一身面目浮腫。鼻塞清涕出。不聞香臭酸辛。咳逆上氣。喘鳴迫塞。（方見上三日一劑可至三四劑先服小青龍湯一劑乃進）</p>
<p>按、此方原治肺癰喘不得臥。此兼面目浮。鼻塞清涕。則肺有表邪宜散。故先服小青龍一劑乃進。</p>
<p>又按、肺癰諸方。其於治效。各有專長。如葶藶、大棗。用治癰之始萌而未成者。所謂乘其未集而擊之也。其葦莖湯。則因其亂而逐之者耳。桔梗湯剿撫兼行。而意在於撫。洵為王者之師。桔梗白散。則搗堅之銳師也。比而觀之。審而行之。庶幾各當而無誤矣。</p>

<h1>卷中</h1>

<h2>奔豚氣病脈證治第八</h2>
<p>師曰。病有奔豚。有吐膿。有驚怖。有火邪。此四部病。皆從驚發得之。</p>
<p>奔豚具如下文。吐膿有咳與嘔之別。其從驚得之旨未詳。驚怖即驚恐。蓋病從驚得。而驚氣即為病氣也。火邪見後驚悸部。及傷寒太陽篇。云太陽病。以火熏之。不得汗。其人必躁。到經不解。必圊血。名為火邪。然未嘗云從驚發也。驚悸篇云。火邪者。桂枝去芍藥加蜀漆牡蠣龍骨救逆湯主之。此亦是因火邪而發驚。非因驚而發火邪也。即後奔豚證治三條。亦不必定從驚恐而得。蓋是證有雜病傷寒之異。從驚恐得者。雜病也。從發汗及燒針被寒者。傷寒也。其吐膿火邪二病。仲景必別有謂。姑闕之以俟知者。或云。東方肝木。其病發驚駭。四部病皆以肝為主。奔豚驚怖。皆肝自病。奔豚因驚而發病。驚怖即驚以為病也。吐膿者。肝移熱於胃。胃受熱而生癰膿也。火邪者。木中有火。因驚而發。發則不特自燔。且及他臟也。亦通。</p>
<p>師曰。奔豚病從少腹上衝咽喉。發作欲死。復還止。皆從驚恐得之。</p>
<p>前云驚發。此兼言恐者。腎傷於恐。而奔豚為腎病也。豚、水畜也。腎、水臟也。腎氣內動。上衝胸喉。如豕之突。故名奔豚。亦有從肝病得者。以腎肝同處下焦。而其氣並善上逆也。</p>
<p>奔豚。氣上衝胸。腹痛。往來寒熱。奔豚湯主之。</p>
<p>此奔豚氣之發於肝邪者。往來寒熱。肝臟有邪。而氣通於少陽也。肝欲散。以薑、夏、生葛散之。肝苦急。以甘草緩之。芎、歸、芍藥理其血。黃芩、李根下其氣。桂、苓為奔豚主藥。而不用者。病不由腎發也。</p>
<p><u>奔豚湯方</u></p>
<p>甘草　芎藭　當歸　黃芩　芍藥（各二兩）　半夏　生薑（各四兩）　生葛（五兩）　甘李根白皮（一升）　</p>
<p>上九味。以水二斗。煮取五升。溫服一升。日三夜一服。</p>
<p>發汗後。燒針令其汗。針處被寒。核起而赤者。必發奔豚。氣從少腹上至心。灸其核上各一壯。與桂枝加桂湯主之。</p>
<p>此腎氣乘外寒而動。發為奔豚者。發汗後燒針復汗。陽氣重傷。於是外寒從針孔而入通於腎。腎氣乘外寒而上衝於心。故須灸其核上。以杜再入之邪。而以桂枝湯外解寒邪。加桂內泄腎氣也。</p>
<p><u>桂枝加桂湯方</u></p>
<p>桂枝（五兩）　芍藥　生薑（各三兩）　甘草（二兩炙）　大棗（十二枚）　</p>
<p>上五味。以水七升。微火煮取三升。去滓。服一升。</p>
<p>發汗後。臍下悸者。欲作奔豚。茯苓桂枝甘草大棗湯主之。</p>
<p>此發汗後心氣不足。而後腎氣乘之。發為奔豚者。臍下先悸。此其兆也。桂枝能伐腎邪。茯苓能泄水氣。然欲治其水。必益其土。故又以甘草、大棗補其脾氣。甘瀾水者。揚之令輕。使不益腎邪也。</p>
<p><u>茯苓桂枝甘草大棗湯方</u></p>
<p>茯苓（半斤）　甘草（二兩）　大棗（十五枚）　桂枝（四兩）　</p>
<p>上四味。以甘瀾水一斗。先煮茯苓減二升。內諸藥。煮取三升。去滓。溫服一升。日三服。（甘瀾水法取水二斗置大盆內以杓揚之上有珠子五六千顆相逐取用之也）</p>

<h2>胸痹心痛短氣病脈證治第九</h2>
<p>師曰。夫脈當取太過不及。陽微陰弦。即胸痹而痛。所以然者。責其極虛也。今陽虛知在上焦。所以胸痹。心痛者。以其陰弦故也。</p>
<p>陽微、陽不足也。陰弦、陰太過也。陽主開。陰主閉。陽虛而陰乾之。即胸痹而痛。痹者閉也。夫上焦為陽之位。而微脈為虛之甚。故曰責其極虛。以虛陽而受陰邪之擊。故為心痛。</p>
<p>平人無寒熱。短氣不足以息者。實也。</p>
<p>平人、素無疾之人也。無寒熱、無新邪也。而乃短氣不足以息。當是裡氣暴實。或痰、或食、或飲。礙其升降之氣而然。蓋短氣有從素虛宿疾而來者。有從新邪暴遏而得者。二端並否。其為裡實無疑。此審因察病之法也。</p>
<p>胸痹之病。喘息咳唾。胸背痛。短氣。寸口脈沉而遲。關上小緊數。栝蔞薤白白酒湯主之。</p>
<p>胸中陽也。而反痹。則陽不用矣。陽不用。則氣之上下不相順接。前後不能貫通。而喘息、咳唾、胸背痛、短氣等證見矣。更審其脈。寸口亦陽也。而沉遲。則等於微矣。關上小緊。亦陰弦之意。而反數者。陽氣失位。陰反得而主之。易所謂陰凝於陽。書所謂牝雞之晨也。是當以通胸中之陽為主。薤白、白酒。辛以開痹。溫以行陽。栝蔞實者。以陽痹之處。必有痰濁阻其間耳。</p>
<p><u>栝蔞薤白白酒湯方</u></p>
<p>栝蔞實（一枚搗）　薤白（半升）　白酒（七升）　</p>
<p>上三味。同煮。取二升。分溫再服。</p>
<p>胸痹不得臥。心痛徹背者。栝蔞薤白半夏湯主之。</p>
<p>胸痹不得臥。是肺氣上而不下也。心痛徹背。是心氣塞而不和也。其痹為尤甚矣。所以然者。有痰飲以為之援也。故於胸痹藥中。加半夏以逐痰飲。</p>
<p><u>栝蔞薤白半夏湯方</u></p>
<p>栝蔞實（一枚搗）　薤白（三兩）　半夏（半升）　白酒（一斗）　</p>
<p>上四味。同煮。取四升。溫服一升。日三服。</p>
<p>胸痹。心中痞氣。氣結在胸。胸滿。脅下逆搶心。枳實薤白桂枝湯主之。人參湯亦主之。</p>
<p>心中痞氣。氣痹而成痞也。脅下逆搶心。氣逆不降。將為中之害也。是宜急通其痞結之氣。否則速復其不振之陽。蓋去邪之實。即以安正。養陽之虛。即以逐陰。是在審其病之久暫。與氣之虛實而決之。</p>
<p><u>栝蔞薤白桂枝湯方</u></p>
<p>枳實（四枚）　薤白（半升）　桂枝（一兩）　厚朴（四兩）　栝蔞實（一枚搗）　</p>
<p>上五味。以水五升。先煮枳實、厚朴。取二升。去滓。內諸藥。煮數沸。分溫三服。</p>
<p><u>人參湯方</u></p>
<p>人參　甘草　乾薑　白朮（各三兩）　</p>
<p>上四味。以水八升。煮取三升。溫服一升。日三服。</p>
<p>胸痹。胸中氣塞。短氣。茯苓杏仁甘草湯主之。橘枳生薑湯亦主之。</p>
<p>此亦氣閉氣逆之證。視前條為稍緩矣。二方皆下氣散結之劑。而有甘淡苦辛之異。亦在酌其強弱而用之。</p>
<p><u>茯苓杏仁甘草湯方</u></p>
<p>茯苓（三兩）　杏仁（五十個）　甘草（一兩）　</p>
<p>上三味。以水一斗。煮取五升。溫服一升。日三服。不瘥。更服。</p>
<p><u>橘枳生薑湯方</u></p>
<p>橘皮（一斤）　枳實（三兩）　生薑（半斤）　</p>
<p>上三味。以水五升。煮取二升。分溫再服。</p>
<p>胸痹緩急者。薏苡附子散主之。</p>
<p>陽氣者。精則養神。柔則養筋。陽痹不用。則筋失養而或緩或急。所謂大筋軟短。小筋弛長者是也。故以薏苡仁舒筋脈。附子通陽痹。</p>
<p><u>薏苡附子散方</u></p>
<p>薏苡仁（十五兩）　大附子（十枚炮）　</p>
<p>上二味。杵為散。服方寸匕。日三服。</p>
<p>心中痞。諸逆。心懸痛。桂枝生薑枳實湯主之。</p>
<p>諸逆。該痰飲、客氣而言。心懸痛。謂如懸物動搖而痛。逆氣使然也。桂枝、枳實、生薑。辛以散逆。苦以泄痞。溫以祛寒也。</p>
<p><u>桂枝生薑枳實湯方</u></p>
<p>桂枝　生薑（各三兩）　枳實（五兩）　</p>
<p>上三味。以水六升。煮取三升。分溫三服。</p>
<p>心痛徹背。背痛徹心。烏頭赤石脂丸主之。</p>
<p>心背徹痛。陰寒之氣。遍滿陽位。故前後牽引作痛。沈氏云。邪感心包。氣應外俞。則心痛徹背。邪襲背俞。氣從內走。則背痛徹心。俞臟相通。內外之氣相引。則心痛徹背。背痛徹心。即經所謂寒氣客於背俞之脈。其俞注於心。故相引而痛是也。烏、附、椒、姜。同力協濟。以振陽氣而逐陰邪。取赤石脂者。所以安心氣也。</p>
<p><u>烏頭赤石脂丸方</u></p>
<p>烏頭（一分炮）　蜀椒　乾薑（各一兩）　附子（半兩）　赤石脂（一兩）　</p>
<p>上五味。末之。蜜丸如桐子大。先食服一丸。日三服。不知稍加服。</p>
<p><u>附方</u></p>
<p><u>九痛丸</u>　治九種心疼。</p>
<p>附子（三兩炮）　生狼牙　巴豆（去皮熬研如膏）　乾薑　吳茱萸　人參（各一兩）　</p>
<p>上六味。末之。煉蜜丸如梧子大。酒下。強人初服三丸。日三服。弱者二丸。兼治卒中惡。腹脹。口不能言。又治連年積冷。流注心胸痛。並冷衝上氣。落馬墜車血疾等皆主之。忌口如常法。</p>
<p>按、九痛者。一蟲、二注、三風、四悸、五食、六飲、七冷、八熱、九去來痛是也。而並以一藥治之者。豈痛雖有九。其因於積冷結氣所致者多耶。</p>

<h2>腹滿寒疝宿食病脈證治第十</h2>
<p>趺陽脈微弦。法當腹滿。不滿者必便難。兩胠疼痛。此虛寒從下上也。當以溫藥服之。</p>
<p>趺陽、胃脈也。微弦、陰象也。以陰加陽。脾胃受之。則為腹滿。設不滿。則陰邪必旁攻胠脅而下閉穀道。為便難。為兩胠疼痛。然其寒不從外入而從下上。則病自內生。所謂腎虛則寒動於中也。故不當散而當溫。</p>
<p>病者腹滿。按之不痛為虛。痛者為實。可下之。舌黃未下者。下之黃自去。</p>
<p>腹滿按之不痛者。無形之氣。散而不收。其滿為虛。按之而痛者。有形之邪。結而不行。其滿為實。實者可下。虛者不可下也。舌黃者熱之徵。下之實去。則黃亦去。</p>
<p>腹滿時減。復如故。此為寒。當與溫藥。</p>
<p>腹滿不減者。實也。時減復如故者。腹中寒氣得陽而暫開。得陰而復合也。此亦寒從內生。故曰當與溫藥。</p>
<p>病者痿黃。燥而不渴。胸中寒實而利不止者死。</p>
<p>痿黃、脾虛而色敗也。氣不至故燥。中無陽故不渴。氣竭陽衰。中土已敗。而復寒結於上。臟脫於下。何恃而可以通之止之乎。故死。</p>
<p>寸口脈弦者。即脅下拘急而痛。其人嗇嗇惡寒也。</p>
<p>寸口脈弦。亦陰邪加陽之象。故脅下拘急而痛。而寒從外得。與趺陽脈弦之兩胠疼痛有別。故彼兼便難。而此有惡寒也。</p>
<p>夫中寒家喜欠。其人清涕出。發熱色和者善嚏。</p>
<p>陽欲上而陰引之則欠。陰欲入而陽拒之則嚏。中寒者陽氣被抑。故喜欠。清涕出發熱色和。則邪不能留故善嚏。</p>
<p>中寒。其人下利。以裡虛也。欲嚏不能。此人肚中寒。</p>
<p>中寒而下利者。裡氣素虛。無為捍蔽。邪得直侵中臟也。欲嚏不能者。正為邪逼。既不能卻。又不甘受。於是陽欲動而復止。邪欲去而仍留也。</p>
<p>夫瘦人繞臍痛。必有風冷。穀氣不行。而反下之。其氣必沖。不沖者。心下則痞。</p>
<p>瘦人臟虛氣弱。風冷易入。入則穀氣留滯不行。繞臍疼痛。有似裡實。而實為虛冷。是宜溫藥以助脾之行者也。乃反下之。谷出而風冷不與俱出。正乃益虛。邪乃無制。勢必犯上無等。否亦竊據中原也。</p>
<p>病腹滿。發熱十日。脈浮而數。飲食如故。厚朴七物湯主之。</p>
<p>腹滿、里有實也。發熱脈浮數。表有邪也。而飲食如故。則當乘其胃氣未病而攻之。枳、樸、大黃。所以攻裡。</p>
<p>桂枝、生薑。所以攻表。甘草、大棗。則以其內外並攻。故以之安臟氣。抑以和藥氣也。</p>
<p><u>厚朴七物湯方</u></p>
<p>厚朴（半斤）　甘草　大黃（各三兩）　大棗（十枚）　枳實（五枚）　桂枝（二兩）　生薑（五兩）　</p>
<p>上七味。以水一斗。煮取四升。溫服八合。日三服。嘔者加半夏五合。下利去大黃。寒多者加生薑至半斤。腹中寒氣。雷鳴切痛。胸脅逆滿嘔吐。附子粳米湯主之。</p>
<p>下焦濁陰之氣。不特肆於陰部。而且逆於陽位。中土虛而堤防撤矣。故以附子輔陽驅陰。半夏降逆止嘔。而尤賴粳米、甘、棗。培令土厚。而使斂陰氣也。</p>
<p><u>附子粳米湯方</u></p>
<p>附子（一枚炮）　半夏　粳米（各半升）　甘草（一兩）　大棗（十枚）　</p>
<p>上五味。以水八升。煮米熟湯成。去滓。溫服一升。日三服。</p>
<p>痛而閉者。厚朴三物湯主之。</p>
<p>痛而閉。六腑之氣不行矣。厚朴三物湯。與小承氣同。但承氣意在蕩實。故君大黃。三物意在行氣。故君厚朴。</p>
<p><u>厚朴三物湯方</u></p>
<p>厚朴（八兩）　大黃（四兩）　枳實（五枚）　</p>
<p>上三味。以水一斗二升。先煮二味。取五升。內大黃。煮取三升。溫服一升。以利為度。</p>
<p>按之心下滿痛者。此為實也。當下之。宜大柴胡湯。</p>
<p>按之而滿痛者。為有形之實邪。實則可下。而心下滿痛。則結處尚高。與腹中滿痛不同。故不宜大承氣而宜大柴胡。承氣獨主裡實。柴胡兼通陽痹也。</p>
<p><u>大柴胡湯方</u></p>
<p>柴胡（半斤）　黃芩　芍藥（各三兩）　半夏（半升）　枳實（四枚）　大黃（二兩）　大棗（十二枚）　生薑（五兩）　</p>
<p>上八味。以水一斗二升。煮取六升。去滓再煎。溫服一升。日三服。</p>
<p>腹滿不減。減不足言。當下之。宜大承氣湯。</p>
<p>減不足言。謂雖減而不足云減。所以形其滿之至也。故宜大下。已上三方。雖緩急不同。而攻泄則一。所謂中滿者瀉之於內也。</p>
<p><u>大承氣湯方</u>（見痙病）</p>
<p>心胸中大寒痛。嘔不能飲食。腹中滿。上衝皮起。出見有頭足。上下痛而不可觸近者。大建中湯主之。</p>
<p>心腹寒痛。嘔不能食者。陰寒氣盛。而中土無權也。上衝皮起。出見有頭足。上下痛而不可觸近者。陰凝成象。腹中蟲物乘之而動也。是宜大建中臟之陽。以勝上逆之陰。故以蜀椒、乾薑溫胃下蟲。人參、飴糖安中益氣也。</p>
<p><u>大建中湯方</u></p>
<p>蜀椒（二合炒去汗）　乾薑（四兩）　人參（一兩）　</p>
<p>上三味。以水四升。煮取二升。去滓。內膠飴一升。微火煎取二升。分溫再服。如一炊頃。可飲粥二升。後更服。當一日食糜粥。溫覆之。</p>
<p>脅下偏痛。發熱。其脈緊弦。此寒也。以溫藥下之。宜大黃附子湯。</p>
<p>脅下偏痛而脈緊弦。陰寒成聚。偏著一處。雖有發熱。亦是陽氣被郁所致。是以非溫不能已其寒。非下不能去其結。故曰宜以溫藥下之。程氏曰。大黃苦寒。走而不守。得附子、細辛之大熱。則寒性散而走泄之性存是也。</p>
<p><u>大黃附子湯方</u></p>
<p>大黃（三兩）　附子（三枚）　細辛（二兩）　</p>
<p>上三味。以水五升。煮取二升。分溫三服。若強人煮取二升半。分溫三服。服後如人行四五里。進一服。</p>
<p>寒氣厥逆。赤丸主之。</p>
<p>寒氣厥逆。下焦陰寒之氣。厥而上逆也。茯苓、半夏降其逆。烏頭、細辛散其寒。真朱體重色正。內之以破陰去逆也。</p>
<p><u>赤丸方</u></p>
<p>烏頭（二兩炮）　茯苓（四兩）　細辛（一兩）　半夏（四兩）　</p>
<p>上四味末之。內真朱為色。煉蜜為丸。如麻子大。先食飲。酒下三丸。日再。夜一服。不知。稍增之。以知為度。腹滿脈弦而緊。弦則衛氣不行。即惡寒。緊則不欲食。邪正相搏。即為寒疝。寒疝繞臍痛。若發則白津出。手足厥冷。其脈沉緊者。大烏頭煎主之。</p>
<p>弦緊脈皆陰也。而弦之陰從內生。緊之陰從外得。弦則衛氣不行而惡寒者。陰出而痹其外之陽也。緊則不欲食者。陰入而痹其胃之陽也。衛陽與胃陽並衰。而外寒與內寒交盛。由是陰反無畏而上衝。陽反不治而下伏。所謂邪正相搏。即為寒疝者也。繞臍痛。發則白津出。手足厥冷。其脈沉緊。皆寒疝之的證。白津、汗之淡而不咸者。為虛汗也。一作自汗。亦通。大烏頭煎大辛大熱。為復陽散陰之峻劑。故云不可一日更服。</p>
<p><u>大烏頭煎</u></p>
<p>烏頭（大者五枚熬去皮不必咀）　</p>
<p>上以水三升。煮取一升。去滓。內蜜二升。煎令水氣盡。取二升。強人服七合。弱人五合。不瘥。明日更服。不可一日更服。</p>
<p>寒疝腹中痛。及脅痛裡急者。當歸生薑羊肉湯主之。</p>
<p>此治寒多而血虛者之法。血虛則脈不榮。寒多則脈絀急。故腹脅痛而裡急也。當歸、生薑溫血散寒。羊肉補虛益血也。</p>
<p><u>當歸生薑羊肉湯方</u></p>
<p>當歸（三兩）　生薑（五兩）　羊肉（一斤）　</p>
<p>上三味。以水八升。煮取三升。溫服七合。日三服。若寒多。加生薑成一斤。痛多而嘔者。加橘皮二兩。白朮一兩。加生薑者亦加水五升。煮取三升二合。服之。</p>
<p>寒疝腹中痛。逆冷。手足不仁。若身疼痛。灸刺諸藥不能治。抵當烏頭桂枝湯主之。</p>
<p>腹中痛。逆冷。陽絕於里也。手足不仁。或身疼痛。陽痹於外也。此為寒邪兼傷表裡。故當表裡並治。烏頭溫里。桂枝解外也。徐氏曰。灸刺諸藥不能治者。是或攻其內。或攻其外。邪氣牽制不服也。如醉狀則營衛得溫而氣勝。故曰知。得吐則陰邪不為陽所容而上出。故為中病。</p>
<p><u>烏頭桂枝湯方</u></p>
<p>烏頭　</p>
<p>上一味。以水二升。煎減半。去滓。以桂枝湯五合解之。令得一升後。初服二合。不知。即服三合。又不知。復加至五合。其知者如醉狀。得吐者為中病。</p>
<p>其脈數而緊乃弦。狀如弓弦。按之不移。脈數弦者。當下其寒。脈緊大而遲者。必心下堅。脈大而緊者。陽中有陰。可下之。</p>
<p>脈數為陽。緊弦為陰。陰陽參見。是寒熱交至也。然就寒疝言。則數反從弦。故其數為陰凝於陽之數。非陽氣生熱之數矣。如就風瘧言。則弦反從數。故其弦為風從熱發之弦。而非陰氣生寒之弦者。與此適相發明也。故曰脈數弦者。當下其寒。緊而遲。大而緊亦然。大雖陽脈。不得為熱。正以形其陰之實也。故曰陽中有陰。可下之。</p>
<p><u>附方</u></p>
<p><u>外臺烏頭湯</u>　治塞疝。腹中絞痛。賊風入攻五臟。拘急不得轉側。發作有時。令人陰縮。手足厥逆。（即大烏頭煎）</p>
<p><u>外臺柴胡桂枝湯</u>　治心腹卒中痛者。</p>
<p>柴胡（四兩）　黃芩　人參　芍藥　桂枝　生薑（各一兩半）　甘草（一兩）　半夏（一合半）　大棗（六枚）　</p>
<p>上九味。以水六升。煮取三升。溫服一升。日三服。</p>
<p><u>外臺走馬湯</u>　治中惡心痛。腹脹。大便不通。</p>
<p>巴豆（二枚去皮心熬）　杏仁（二枚）　</p>
<p>上二味。以綿纏。捶令碎。熱湯二合。捻取白汁飲之。當下。老小量之。通治飛屍鬼擊病。</p>
<p>問曰。人病有宿食。何以別之。師曰。寸口脈浮而大。按之反澀。尺中亦微而澀。故知有宿食。大承氣湯主之。脈數而滑者實也。此有宿食。下之愈。宜大承氣湯。下利不欲食者。此有宿食。當下之。宜大承氣湯。</p>
<p>寸口脈浮大者。穀氣多也。谷多不能益脾而反傷脾。按之脈反澀者。脾傷而滯。血氣為之不利也。尺中亦微而澀者。中氣阻滯。而水穀之精氣不能逮下也。是因宿食為病。則宜大承氣下其宿食。脈數而滑與浮大同。蓋皆有餘之象。為穀氣之實也。實則可下。故亦宜大承氣。谷多則傷脾。而水穀不分。谷停則傷胃。而惡聞食臭。故下利不欲食者。知其有宿食當下也。夫脾胃者。所以化水穀而行津氣。不可或止者也。谷止則化絕。氣止則機息。化絕機息。人事不其頓乎。故必大承氣速去其停谷。谷去則氣行。氣行則化續而生以全矣。若徒事消克。將宿食未去而生氣已消。豈徒無益而已哉。</p>
<p><u>大承氣湯</u>（方見痙病）　</p>
<p>宿食在上脘。當吐之。宜瓜蒂散。</p>
<p>食在下脘者當下。食在上脘者。則不當下而當吐。經云。其高者因而越之也。</p>
<p><u>瓜蒂散方</u></p>
<p>瓜蒂（一分熬黃）　赤小豆（三分煮）　</p>
<p>上二味。杵為散。以香豉七合。煮取汁。和散一錢匕。溫服之。不吐者少加之。以快吐為度而止。</p>
<p>脈緊如轉索無常者。宿食也。脈緊頭痛風寒。腹中有宿食不化也。</p>
<p>脈緊如轉索無常者。緊中兼有滑象。不似風寒外感之緊為緊而帶弦也。故寒氣所束者。緊而不移。食氣所發者。乍緊乍滑。如以指轉索之狀。故曰無常。脈緊頭痛風寒者。非既有宿食。而又感風寒也。謂宿食不化。鬱滯之氣。上為頭痛。有如風寒之狀。而實為食積類傷寒也。仲景恐人誤以為外感而發其汗。故舉以示人曰。腹中有宿食不化。意亦遠矣。</p>

<h2>五臟風寒積聚病脈證並治第十一</h2>
<p>肺中風者。口燥而喘。身運而重。冒而腫脹。肺中寒。吐濁涕。肺死臟。浮之虛。按之弱如蔥葉。下無根者死。</p>
<p>肺中風者。津結而氣壅。津結則不上潮而口燥。氣壅則不下行而喘也。身運而重者。肺居上焦。治節一身。肺受風邪。大氣則傷。故身欲動而彌覺其重也。冒者。清肅失降。濁氣反上。為蒙冒也。腫脹者。輸化無權。水聚而氣停也。肺中寒。吐濁涕者。五液在肺為涕。寒氣閉肺竅而蓄臟熱。則濁涕從口出也。肺死臟者。肺將死而真臟之脈見也。浮之虛。按之弱如蔥葉者。沈氏所謂有浮上之氣。而無下翕之陰是也。內經云。真肺脈至。大而虛。如以毛羽中人膚。亦浮虛中空。而下復無根之象爾。</p>
<p>肝中風者。頭目瞤。兩脅痛。行常傴。令人嗜甘。肝中寒者。兩臂不舉。舌本燥。善太息。胸中痛。不得轉側。食則吐而汗出也。肝死臟。浮之弱。按之如索不來。或曲如蛇行者死。</p>
<p>肝為木臟。而風復擾之。以風從風動而上行。為頭目瞤也。肝脈布脅肋。風勝則脈急。為兩脅痛而行常傴也。嗜甘者。肝苦急。甘能緩之。抑木勝而土負。乃求助於其味也。肝中寒兩臂不舉者。肝受寒而筋拘急也。徐氏曰。四肢雖屬脾。然兩臂如枝。木之體也。中寒則木氣困。故不舉。亦通。肝脈循喉嚨之後。中寒者逼熱於上。故舌本燥。肝喜疏泄。中寒則氣被郁。故喜太息。太息、長息也。肝脈上行者。挾胃貫膈。故胸痛不能轉側。食則吐而汗出也。浮之弱。不榮於上也。按之如索不來。有伏而不起。勁而不柔之象。曲如蛇行。謂雖左右奔引。而不能夭矯上行。亦伏而勁之意。按內經云。真肝脈至。中外急。如循刀刃。責責然。如按琴瑟弦。與此稍異。而其勁直則一也。</p>
<p>肝著。其人常欲蹈其胸上。先未苦時。但欲飲熱。旋覆花湯主之。</p>
<p>肝臟氣血鬱滯。著而不行。故名肝著。然肝雖著。而氣反注於肺。所謂橫之病也。故其人常欲蹈其胸上。胸者肺之位。蹈之欲使氣內鼓而出肝邪。以肺猶橐籥。抑之則氣反出也。先未苦時。但欲飲熱者。欲著之氣。得熱則行。迨既著則亦無益矣。旋覆花鹹溫下氣散結。新絳和其血。蔥葉通其陽。結散陽通。氣血以和。而肝著愈。肝愈而肺亦和矣。</p>
<p><u>旋覆花湯方</u></p>
<p>旋覆花（三兩）　蔥（十四莖）　新絳（少許）　</p>
<p>上三味。以水三升。煮取一升。頓服。</p>
<p>心中風者。翕翕發熱。不能起。心中飢。食即嘔吐。心中寒者。其人苦病心如啖蒜狀。劇者心痛徹背。背痛徹心。譬如蟲注。其脈浮者。自吐乃愈。心傷者。其人勞倦。即頭面赤而下重。心中痛而自煩。發熱。當臍跳。其脈弦。此為心臟傷所致也。心死臟。浮之實如麻豆。按之益躁疾者死。</p>
<p>翕翕發熱者。心為陽臟。風入而益其熱也。不能起者。君主病而百骸皆廢也。心中飢。食則嘔者。火亂於中。而熱格於上也。心中如啖蒜者。寒束於外。火鬱於內。似痛非痛。似熱非熱。懊憹無奈。甚者心背徹痛也。如蟲注者。言其自心而背。自背而心。如蟲之往來交注也。若其脈浮。則寒有外出之機。設得吐則邪去而愈。然此亦氣機自動而然。非可以藥強吐之也。故曰其脈浮者。自吐乃愈。心傷者。其人勞倦。即頭面赤而下重。蓋血虛者。其陽易浮。上盛者。下必無氣也。心中痛而自煩發熱者。心虛失養。而熱動於中也。當臍跳者。心虛於上。而腎動於下也。心之平脈。累累如貫珠。如循琅玕。又胃多微曲曰心平。今脈弦。是變溫潤圓利之常。而為長直勁強之形矣。故曰此為心臟傷所致也。經云。真心脈至。堅而搏。如循薏苡子。累累然。與此浮之實如麻豆。按之益躁疾者。均為上下堅緊。而往來無情也。故死。</p>
<p>邪哭使魂魄不安者。血氣少也。血氣少者屬於心。心氣虛者。其人則畏。合目欲眠。夢遠行而精神離散。魂魄妄行。陰氣衰者為顛。陽氣衰者為狂。</p>
<p>邪哭者。悲傷哭泣。如邪所憑。此其標有稠痰濁火之殊。而其本則皆心虛而血氣少也。於是寤寐恐怖。精神不守。魂魄不居。為顛為狂。勢有必至者矣。經云。邪入於陽則狂。邪入於陰則顛。此云陰氣衰者為顛。陽氣衰者為狂。蓋必正氣虛而後邪氣入。經言其為病之故。此言其致病之原也。</p>
<p>脾中風。翕翕發熱。形如醉人。腹中煩重。皮目瞤瞤而短氣。脾死臟。浮之大堅。按之如覆杯。潔潔狀如搖者死。</p>
<p>風氣中脾。外淫肌肉。為翕翕發熱。內亂心意。為形如醉人也。脾脈入腹而其合肉。腹中煩重。邪勝而正不用也。皮目瞤瞤而短氣。風淫於外而氣阻於中也。李氏曰。風屬陽邪。而氣疏泄。形如醉人。言其面赤而四肢軟也。皮目、上下眼胞也。又曰。脈弱以滑。是有胃氣。浮之大堅。則胃氣絕。真臟見矣。按之如覆杯。言其外實而中空無有也。徐氏曰。潔潔狀如搖。是不能成至而欲傾圮之象。故其動非活動。轉非圓轉。非臟氣將絕而何。故死。</p>
<p>趺陽脈浮而澀。浮則胃氣強。澀則小便數。浮澀相搏。大便則堅。其脾為約。麻仁丸主之。</p>
<p>浮者陽氣多。澀者陰氣少。而趺陽見之。是為胃強而脾弱。約、約束也。猶弱者受強之約束而氣餒也。又約、小也。胃不輸精於脾。脾乃乾澀而小也。大黃、枳實、厚朴。所以下令胃弱。麻仁、杏仁、芍藥。所以滋令脾厚。用蜜丸者。恐速下而並傷及脾也。</p>
<p><u>麻仁丸方</u></p>
<p>麻仁（二升）　芍藥（半斤）　大黃（去皮）　枳實（各一斤）　厚朴（一尺去皮）　杏仁（一升去皮尖熬別作脂）　</p>
<p>上六味。末之。煉蜜和丸。梧子大。飲服十丸。日三服。漸加。以知為度。</p>
<p>腎著之病。其人身體重。腰中冷。如坐水中。形如水狀。反不渴。小便自利。飲食如故。病屬下焦。身勞汗出。衣里冷濕。久久得之。腰以下冷痛。腹重如帶五千錢。甘姜苓朮湯主之。</p>
<p>腎受冷濕。著而不去。則為腎著。身重。腰中冷。如坐水中。腰下冷痛。腹重如帶五千錢。皆冷濕著腎。而陽氣不化之徵也。不渴。上無熱也。小便自利。寒在下也。飲食如故。胃無病也。故曰病屬下焦。身勞汗出。衣里冷濕。久久得之。蓋所謂清濕襲虛。病起於下者也。然其病不在腎之中臟。而在腎之外腑。故其治法。不在溫腎以散寒。而在燠土以勝水。甘、薑、苓、術。辛溫甘淡。本非腎藥。名腎著者。原其病也。</p>
<p><u>甘姜苓朮湯方</u>（一名腎著湯）　</p>
<p>甘草　白朮（各二兩）　乾薑　茯苓（各四兩）　</p>
<p>上四味。以水五升。煮取三升。分溫三服。腰中即溫。</p>
<p>腎死臟。浮之堅。按之亂如轉丸。益下入尺中者死。</p>
<p>腎脈本石。浮之堅。則不石而外鼓。按之亂如轉丸。是變石之體而為躁動。真陽將搏躍而出矣。益下入尺。言按之至尺澤。而脈猶大動也。尺下脈宜伏。今反動。真氣不固而將外越。反其封蟄之常。故死。</p>
<p>問曰。三焦竭部。上焦竭。善噫。何謂也。師曰。上焦受中焦氣未和。不能消穀。故能噫耳。下焦竭。即遺溺失便。其氣不和。不能自禁止。不須治。久則愈。</p>
<p>上焦在胃上口。其治在膻中。而受氣於中焦。今胃未和。不能消穀。則上焦所受者。非精微之氣。而為陳滯之氣矣。故為噫。噫、噯食氣也。下焦在膀胱上口。其治在臍下。故其氣乏竭。即遺溺失便。然上焦氣未和。不能約束禁制。亦令遺溺失便。所謂上虛不能制下者也。云不須治者。謂不須治其下焦。俟上焦氣和。久當自愈。夫上焦受氣於中焦。而下焦復受氣於上焦。推而言之。腎中之元陽不正。則脾胃之轉運不速。是中焦又復受氣於下焦也。蓋雖各有分部。而實相助為理如此。此造化自然之妙也。</p>
<p>師曰。熱在上焦者。因咳為肺痿。熱在中焦者。則為堅。熱在下焦者。則尿血。亦令淋閟不通。大腸有寒者。多鶩溏。有熱者。便腸垢。小腸有寒者。其人下重便血。有熱者。必痔。</p>
<p>熱在上焦者。肺受之。肺喜清肅而惡煩熱。肺熱則咳。咳久則肺傷而痿也。熱在中焦者。脾胃受之。脾胃者。所以化水穀而行陰陽者也。胃熱則實而硬。脾熱則燥而閟。皆為堅也。下焦有熱者。大小腸膀胱受之。小腸為心之腑。熱則尿血。膀胱為腎之腑。熱則癃閟不通也。鶩溏如鶩之後。水糞雜下。大腸有寒。故泌別不職。其有熱者。則腸中之垢。被迫而下也。下重。謂腹中重而下墜。小腸有寒者。能腐而不能化。故下重。陽不化則陰下溜。故便血。其有熱者。則下注廣腸而為痔。痔、熱疾也。</p>
<p>問曰。病有積。有聚。有穀氣。何謂也。師曰。積者臟病也。終不移。聚者腑病也。發作有時。展轉痛移。為可治。穀氣者。脅下痛。按之則愈。復發。為穀氣。</p>
<p>積者、跡也。病氣之屬陰者也。臟屬陰。兩陰相得。故不移。不移者。有專痛之處而無遷改也。聚則如市中之物。偶聚而已。病氣之屬陽者也。腑屬陽。兩陽相比。則非如陰之凝。故寒氣感則發。否則已。所謂有時也。既無定著。則痛無常處。故展轉痛移。其根不深。故比積為可治。穀氣者、食氣也。食積太陰。敦阜之氣。抑遏肝氣。故病在脅下。按之則氣行而愈。復發者。飲食不節。則其氣仍聚也。（徐氏）</p>
<p>諸積大法。脈來細而附骨者。乃積也。寸口。積在胸中。微出寸口。積在喉中。關上。積在臍旁。上關上。積在心下。微下關。積在少腹。尺中。積在氣衝。脈出左。積在左。脈出右。積在右。脈兩出。積在中央。各以其部處之。</p>
<p>諸積。該氣、血、痰、食而言。脈來細而附骨。謂細而沉之至。諸積皆陰故也。又積而不移之處。其氣血營衛。不復上行而外達。則其脈為之沉細而不起。故歷舉其脈出之所。以決其受積之處。而復益之曰。脈兩出。積在中央。以中央有積。其氣不能分布左右。故脈之見於兩手者。俱沉細而不起也。各以其部處之。謂各隨其積所在之處而分治之耳。</p>

<h2>痰飲咳嗽病脈證治第十二</h2>
<p>問曰。夫飲有四。何謂也。師曰。有痰飲。有懸飲。有溢飲。有支飲。</p>
<p>問曰。四飲何以為異。師曰。其人素盛今瘦。水走腸間。瀝瀝有聲。謂之痰飲。飲後水流在脅下。咳唾引痛。謂之懸飲。飲水流行。歸於四肢。當汗出而不汗出。身體疼重。謂之溢飲。咳逆倚息不得臥。其形如腫。謂之支飲。</p>
<p>谷入而胃不能散其精。則化而為痰。水入而脾不能輸其氣。則凝而為飲。其平素飲食所化之精津。凝結而不布。則為痰飲。痰飲者。痰積於中。而飲附於外也。素盛今瘦。知其精津盡為痰飲。故不復外充形體。而反下走腸間也。飲水流溢者。水多氣逆。徐氏所謂水為氣吸不下者是也。其流於脅下者。則為懸飲。其歸於四肢者。則為溢飲。懸者懸於一處。溢者溢於四旁。其偏結而上附心肺者。則為支飲。支飲者。如水之有派。木之有枝。附近於臟而不正中也。咳逆倚息不得臥者。上迫肺也。</p>
<p>水在心。心下堅築。短氣。惡水不欲飲。水在肺。吐涎沫。欲飲水。水在脾。少氣身重。水在肝。脅下支滿。嚏而痛。水在腎。心下悸。</p>
<p>水即飲也。堅築、悸動有力。築築然也。短氣者。心屬火而畏水。水氣上逼。則火氣不伸也。吐涎沫者。氣水相激而水從氣泛也。欲飲水者。水獨聚肺。而諸經失溉也。脾為水困。故少氣。水淫肌肉。故身重。土本制水。而水盛反能制土也。肝脈布脅肋。水在肝。故脅下支滿。支滿猶偏滿也。嚏出於肺。而肝脈上注肺。故嚏則相引而痛也。心下悸者。腎水盛而上凌心火也。</p>
<p>夫心下有留飲。其人背寒冷如掌大。留飲者。脅下痛引缺盆。咳嗽則輒已。胸中有留飲。其人短氣而渴。四肢歷節痛。脈沉者有留飲。</p>
<p>留飲即痰飲之留而不去者也。背寒冷如掌大者。飲留之處。陽氣所不入也。魏氏曰。背為太陽。在易為艮止之象。一身皆動。背獨常靜。靜處陰邪常客之。所以風寒自外入。多中於背。而陰寒自內生。亦多踞於背也。脅下痛引缺盆者。飲留於肝。而氣連於肺也。咳嗽則輒已者。飲被氣擊而欲移。故輒已。一作咳嗽則轉甚。亦通。蓋即水流脅下。咳唾引痛之謂。氣為飲滯故短。飲結者津液不周。故渴。四肢歷節痛。為風寒濕在關節。若脈不浮而沉。而又短氣而渴。則知是留飲為病。而非外入之邪矣。</p>
<p>膈上病痰。滿喘、咳唾。發則寒熱。背痛腰疼。目泣自出。其人振振身瞤劇。必有伏飲。</p>
<p>伏飲亦即痰飲之伏而不覺者。發則始見也。身熱、背痛、腰疼。有似外感。而兼見喘滿、咳唾。則是活人所謂痰之為病。能令人憎寒發熱。狀類傷寒者也。目泣自出。振振身瞤動者。飲發而上逼液道。外攻經隧也。</p>
<p>夫病人飲水多。必暴喘滿。凡食少飲多。水停心下。甚者則悸。微者短氣。脈雙弦者寒也。皆大下後善虛。脈偏弦者飲也。</p>
<p>飲水過多。水溢入肺者。則為喘滿。水停心下者。甚則水氣凌心而悸。微則氣被飲抑而短也。雙弦者。兩手皆弦。寒氣周體也。偏弦者。一手獨弦。飲氣偏注也。</p>
<p>肺飲不弦。但苦喘、短氣。支飲亦喘而不能臥。加短氣。其脈平也。</p>
<p>肺飲、飲之在肺中者。五臟獨有肺飲。以其虛而能受也。肺主氣而司呼吸。苦喘短氣。肺病已著。脈雖不弦。可以知其有飲矣。支飲上附於肺。即同肺飲。故亦喘而短氣。其脈亦平而不必弦也。按後第十四條云。咳家其脈弦。為有水。夫咳為肺病。而水即是飲。而其脈弦。此云肺飲不弦。支飲脈平。未詳何謂。</p>
<p>病痰飲者。當以溫藥和之。心下有痰飲。胸脅支滿。目眩。苓桂朮甘湯主之。</p>
<p>痰飲、陰邪也。為有形。以形礙虛則滿。以陰冒陽則眩。苓、桂、朮、甘。溫中去濕。治痰飲之良劑。是即所謂溫藥也。蓋痰飲為結邪。溫則易散。內屬脾胃。溫則能運耳。</p>
<p><u>苓桂朮甘湯方</u></p>
<p>茯苓　桂枝　白朮（各三兩）　甘草（二兩）　</p>
<p>上四味。以水六升。煮取三升。分溫三服。小便則利。</p>
<p>夫短氣有微飲。當從小便去之。苓桂朮甘湯主之。腎氣丸亦主之。</p>
<p>氣為飲抑則短。欲引其氣。必蠲其飲。飲、水類也。治水必自小便去之。苓、桂、朮、甘。益土氣以行水。腎氣丸。養陽氣以化陰。雖所主不同。而利小便則一也。</p>
<p><u>苓桂朮甘湯方</u>（見上）</p>
<p><u>腎氣丸方</u>（見婦人雜病）</p>
<p>病者脈伏。其人慾自利。利反快。雖利。心下續堅滿。此為留飲欲去故也。甘遂半夏湯主之。</p>
<p>脈伏者。有留飲也。其人慾自利。利反快者。所留之飲。從利而減也。雖利、心下續堅滿者。未盡之飲。復注心下也。然雖未盡而有欲去之勢。故以甘遂、半夏因其勢而導之。甘草與甘遂相反。而同用之者。蓋欲其一戰而留飲盡去。因相激而相成也。芍藥、白蜜。不特安中。抑緩藥毒耳。</p>
<p><u>甘遂半夏湯方</u></p>
<p>甘遂（大者三枚）　半夏（十二枚以水一升煮取半升去滓）　芍藥（五枚）　甘草（如指大一枚炙）　</p>
<p>上四味。以水二升。煮取半升。去滓。以蜜半升和藥汁。煎取八合。頓服之。</p>
<p>脈浮而細滑。傷飲。脈弦數。有寒飲。冬夏難治。脈沉而弦者。懸飲內痛。病懸飲者。十棗湯主之。</p>
<p>傷飲、飲過多也。氣資於飲。而飲多反傷氣。故脈浮而細滑。則飲之徵也。脈弦數而有寒飲。則病與脈相左。魏氏所謂飲自寒而挾自熱是也。夫相左者。必相持。冬則時寒助飲。欲以熱攻。則脈數必甚。夏則時熱助脈。欲以寒治。則寒飲為礙。故曰難治。脈沉而弦。飲氣內聚也。飲內聚而氣擊之則痛。十棗湯蠲飲破癖。其力頗猛。三因方以三味為末。棗肉和丸。名十棗丸。亦良。</p>
<p><u>十棗湯方</u></p>
<p>芫花（熬）　甘遂　大戟（各等分）　</p>
<p>上三味搗篩。以水一升五合。先煮肥大棗十枚。取八合。去滓。內藥末。強人服一錢匕。羸人服半錢。平旦溫服之。不下者明日更加半錢。得快利後。糜粥自養。</p>
<p>病溢飲者。當發其汗。大青龍湯主之。小青龍湯亦主之。</p>
<p>水氣流行。歸於四肢。當汗出而不汗出。身體重痛。謂之溢飲。夫四肢、陽也。水在陰者宜利。在陽者宜汗。故以大青龍發汗去水。小青龍則兼內飲而治之者耳。徐氏曰。大青龍合桂、麻而去芍藥。加石膏。則水氣不甚而挾熱者宜之。倘飲多而寒伏。則必小青龍為當也。</p>
<p><u>大青龍湯方</u></p>
<p>麻黃（六兩）　桂枝　甘草（各二兩）　生薑（三兩）　杏仁（四十個）　大棗（十二枚）　石膏（如雞子大一枚）　</p>
<p>上七味。以水九升。先煮麻黃。減二升。去上沫。內諸藥。煮取三升。去滓。溫服一升。取微似汗。汗多者。溫粉粉之。</p>
<p><u>小青龍湯方</u></p>
<p>麻黃（去節三兩）　芍藥（三兩）　五味子（半升）　乾薑（三兩）　甘草（炙）　細辛　桂枝（各三兩）　半夏（半升）　</p>
<p>上八味。以水一斗。先煮麻黃。減二升。去上沫。內諸藥。煮取三升。去滓。溫服一升。</p>
<p>膈間支飲。其人喘滿。心下痞堅。面色黧黑。其脈沉緊。得之數十日。醫吐下之。不愈。木防己湯主之。虛者即愈。實者三日復發。復與不愈者。宜木防己湯去石膏。加茯苓芒硝湯主之。</p>
<p>支飲上為喘滿。而下為痞堅。則不特礙其肺。抑且滯其胃矣。面色黧黑者。胃中成聚。營衛不行也。脈浮緊者為外寒。沉緊者為裡實。裡實可下。而飲氣之實。非常法可下。痰飲可吐。而飲之在心下者。非吐可去。宜其得之數十日。醫吐下之而不愈也。木防己、桂枝。一苦一辛。並能行水氣而散結氣。而痞堅之處。必有伏陽。吐下之餘。定無完氣。書不盡言。而意可會也。故又以石膏治熱。人參益虛。於法可謂密矣。其虛者外雖痞堅。而中無結聚。即水去氣行而愈。其實者中實有物。氣暫行而復聚。故三日復發也。魏氏曰。後方去石膏加芒硝者。以其既散復聚。則有堅定之物。留作包囊。故以堅投堅而不破者。即以軟投堅而即破也。加茯苓者。亦引飲下行之用耳。</p>
<p><u>木防己湯方</u></p>
<p>木防己（三兩）　石膏（如雞子大二枚）　桂枝（二兩）　人參（四兩）　</p>
<p>上四味。以水六升。煮取二升。分溫再服。</p>
<p><u>木防己去石膏加茯苓芒硝湯方</u></p>
<p>木防己　桂枝（各二兩）　茯苓　人參（各四兩）　芒硝（三合）　</p>
<p>上五味。以水六升。煮取二升。去滓。內芒硝。再微煎。分溫再服。微利則愈。</p>
<p>心下有支飲。其人苦冒眩。澤瀉湯主之。</p>
<p>水飲之邪。上乘清陽之位。則為冒眩。冒者。昏冒而神不清。如有物冒蔽之也。眩者。目眩轉而乍見玄黑也。澤瀉瀉水氣。白朮補土氣以勝水也。高鼓峰云。心下有水飲。格其心火。不能下行。而但上衝頭目也。亦通。</p>
<p><u>澤瀉湯方</u></p>
<p>澤瀉（五兩）　白朮（二兩）　</p>
<p>上二味。以水二升。煮取一升。分溫再服。</p>
<p>支飲胸滿者。厚朴大黃湯主之。</p>
<p>胸滿疑作腹滿。支飲多胸滿。此何以獨用下法。厚朴、大黃。與小承氣同。設非腹中痛而閉者。未可以此輕試也。</p>
<p><u>厚朴大黃湯方</u></p>
<p>厚朴（一尺）　大黃（六兩）　枳實（四枚）　</p>
<p>上三味。以水五升。煮取二升。分溫再服。</p>
<p>支飲不得息。葶藶大棗瀉肺湯主之。</p>
<p>不得息。肺滿而氣閉也。葶藶入肺。通閉泄滿。用大棗者。不使傷正也。</p>
<p><u>葶藶大棗瀉肺湯方</u>（見肺癰）</p>
<p>嘔家本渴。渴者為欲解。今反不渴。心下有支飲故也。小半夏湯主之。</p>
<p>此為飲多而嘔者言。渴者飲從嘔去。故欲解。若不渴。則知其支飲仍在。而嘔亦未止。半夏味辛性燥。辛可散結。燥能蠲飲。生薑製半夏之悍。且以散逆止嘔也。</p>
<p><u>小半夏湯方</u></p>
<p>半夏（一升）　生薑（半升）　</p>
<p>上二味。以水七升。煮取一升半。分溫再服。</p>
<p>腹滿。口舌乾燥。此腸間有水氣。己椒藶黃丸主之。</p>
<p>水既聚於下。則無復潤於上。是以腸間有水氣而口舌反乾燥也。後雖有水飲之入。只足以益下趨之勢。口燥不除而腹滿益甚矣。防己療水濕。利大小便。椒目治腹滿。去十二種水氣。葶藶、大黃。泄以去其閉也。渴者知胃熱甚。故加芒硝。經云。熱淫於內。治以鹹寒也。</p>
<p><u>己椒藶黃丸方</u></p>
<p>防己　椒目　葶藶　大黃（各一兩）　</p>
<p>上四味。末之。蜜丸如梧子大。先食飲服一丸。日三服。稍增。口中有津液。渴者。加芒硝半兩。</p>
<p>卒嘔吐。心下痞。膈間有水。眩悸者。小半夏加茯苓湯主之。</p>
<p>飲氣逆於胃則嘔吐。滯於氣則心下痞。凌於心則悸。蔽於陽則眩。半夏、生薑。止嘔降逆。加茯苓去其水也。</p>
<p><u>小半夏加茯苓湯方</u></p>
<p>半夏（一升）　生薑（半斤）　茯苓（四兩）　</p>
<p>上三味。以水七升。煮取一升五合。分溫再服。</p>
<p>假令瘦人臍下有悸。吐涎沫而顛眩。此水也。五苓散主之。</p>
<p>瘦人不應有水。而臍下悸。則水動於下矣。吐涎沫。則水逆於中矣。甚而顛眩。則水且犯於上矣。形體雖瘦。而病實為水。乃病機之變也。顛眩即頭眩。苓、朮、豬、澤。甘淡滲泄。使腸間之水。從小便出。用桂者。下焦水氣。非陽不化也。曰多服暖水汗出者。蓋欲使表裡分消其水。非挾有表邪而欲兩解之謂。</p>
<p><u>五苓散方</u></p>
<p>澤瀉（一兩一分）　豬苓　茯苓　白朮（各三分）　桂枝（二分）　</p>
<p>上五味為末。白飲服方寸匕。日三服。多服暖水。汗出愈。</p>
<p><u>附方</u></p>
<p><u>外臺茯苓飲</u>　治心胸中有停痰宿水。自吐出水後。心胸間虛。氣滿不能食。消痰氣令能食。</p>
<p>茯苓　人參　白朮（各三兩）　枳實（二兩）　橘皮（二兩半）　生薑（四兩）　</p>
<p>上六味。以水六升。煮取一升八合。分溫三服。如人行八九里、進之。</p>
<p>咳家其脈弦。為有水。十棗湯主之。</p>
<p>脈弦為水。咳而脈弦。知為水飲漬入肺也。十棗湯逐水氣自大小便去。水去則肺寧而咳愈。按許仁則論飲氣咳者。由所飲之物。停滯在胸。水氣上衝。肺得此氣。便成咳嗽。經久不已。漸成水病。其狀不限四時晝夜。遇諸動嗽物即劇。乃至雙眼突出。氣如欲斷。汗出。大小便不利。吐痰飲涎沫無限。上氣喘急肩息。每旦眼腫。不得平眠。此即咳家有水之證也。著有干棗三味丸方亦佳。大棗六十枚。葶藶一升。杏仁一升。合搗作丸。桑白皮飲下七八丸。日再。稍稍加之。以大便通利為度。</p>
<p><u>十棗湯方</u>（見上）</p>
<p>夫有支飲家。咳煩。胸中痛者。不卒死。至一百日或一歲。宜十棗湯。</p>
<p>胸中支飲。擾亂清道。趙氏所謂動肺則咳。動心則煩。搏擊陽氣則痛者是也。其甚者營衛遏絕。神氣乃亡。為卒死矣。否則延久不愈。至一百日或一歲。則猶有可治。為其邪瘥緩而正得持也。然以經久不去之病。而仍與十棗攻擊之藥者。豈非以支飲不去。則其咳煩胸痛。必無止期。與其事敵以苟安。不如悉力一決之。猶或可圖耶。然亦危矣。</p>
<p>久咳數歲。其脈弱者可治。實大數者死。其脈虛者必苦冒。其人本有支飲在胸中故也。治屬飲家。</p>
<p>久咳數歲不已者。支飲漬肺而咳。飲久不已。則咳久不愈也。咳久者其氣必虛。而脈反實大數。則其邪猶盛。以猶盛之邪。而臨已虛之氣。其能久持乎。故死。若脈虛者。正氣固虛。而飲氣亦衰。故可治。然飲雖衰而正不能御。亦足以上蔽清陽之氣。故其人必苦冒也。此病為支飲所致。去其飲則病自愈。故曰治屬飲家。</p>
<p>咳逆倚息不得臥。小青龍湯主之。倚息、倚幾而息。能俯而不能仰也。肺居上焦而司呼吸。外寒內飲。壅閉肺氣。則咳逆上氣。甚則但坐不得臥也。麻黃、桂枝。散外入之寒。半夏消內積之飲。細辛、乾薑。治其咳滿。芍藥、五味。監麻、桂之性。使入飲去邪也。</p>
<p><u>小青龍湯方</u>（見上）</p>
<p>青龍湯下已。多唾口燥。寸脈沉。尺脈微。手足厥逆。氣從小腹上衝胸咽。手足痹。其面翕熱如醉狀。因復下流陰股。小便難。時覆冒者。與茯苓桂枝五味甘草湯。治其氣衝。</p>
<p>服青龍湯已。設其人下實不虛。則邪解而病除。若虛則麻黃、細辛辛甘溫散之品。雖能發越外邪。亦易動人沖氣。沖氣、衝脈之氣也。衝脈起於下焦。挾腎脈上行至喉嚨。多唾口燥。氣衝胸咽。面熱如醉。皆沖氣上入之候也。寸沉尺微。手足厥而痹者。厥氣上行。而陽氣不治也。下流陰股。小便難。時覆冒者。沖氣不歸。而仍上逆也。茯苓、桂枝。能抑沖氣使之下行。然逆氣非斂不降。故以五味之酸斂其氣。土厚則陰火自伏。故以甘草之甘補其中也。</p>
<p><u>桂苓五味甘草湯方</u></p>
<p>桂枝　茯苓（各四兩）　五味（半升）　甘草（三兩炙）　</p>
<p>上四味。以水八升。煮取三升。去滓。分溫三服。</p>
<p>沖氣即低。而反更咳胸滿者。用桂苓五味甘草湯。去桂加乾薑、細辛。以治其咳滿。</p>
<p>服前湯已。沖氣即低。而反更咳胸滿者。下焦沖逆之氣既伏。而肺中伏匿之寒飲續出也。故去桂枝之辛而導氣。加乾薑、細辛之辛而入肺者。合茯苓、五味、甘草。消飲驅寒。以泄滿止咳也。</p>
<p><u>苓甘五味姜辛湯方</u></p>
<p>茯苓（四兩）　甘草　乾薑　細辛（各三兩）　五味子（半升）　</p>
<p>上五味。以水八升。煮取三升。去滓。溫服半升。日三。</p>
<p>咳滿即止。而更復渴。沖氣復發者。以細辛、乾薑為熱藥也。服之當遂渴。而渴反止者。為支飲也。支飲者法當冒。冒者必嘔。嘔者復內半夏以去其水。</p>
<p>衝脈之火。得表藥以發之則動。得熱藥以逼之亦動。而辛熱氣味。既能劫奪胃中之陰。亦能布散積飲之氣。仲景以為渴而沖氣動者。自當治其沖氣。不渴而冒與嘔者。則當治其水飲。故內半夏以去其水。而所以治渴而沖氣動者。惜未之及也。約而言之。沖氣為麻黃所發者。治之如桂、苓、五味、甘草。從其氣而導之矣。其為薑、辛所發者。則宜甘淡鹹寒。益其陰以引之。亦自然之道也。若更用桂枝。必捍格不下。即下亦必復沖。所以然者。傷其陰故也。</p>
<p><u>苓甘五味姜辛半夏湯方</u></p>
<p>茯苓（四兩）　甘草　細辛　乾薑（各二兩）　半夏　五味（各半升）　</p>
<p>上六味。以水八升。煮取三升。去滓。溫服半升。日三服。</p>
<p>水去嘔止。其人形腫者。加杏仁主之。其證應內麻黃。以其人遂痹。故不內之。若逆而內之者必厥。所以然者。以其人血虛。麻黃髮其陽故也。</p>
<p>水在胃者。為冒、為嘔。水在肺者。為喘、為腫。嘔止而形腫者。胃氣和而肺壅未通也。是惟麻黃可以通之。而血虛之人。陽氣無偶。發之最易厥脫。麻黃不可用矣。杏仁味辛能散。味苦能發。力雖不及。與證適宜也。</p>
<p><u>苓甘五味加姜辛半夏杏仁湯方</u></p>
<p>茯苓（四兩）　甘草　乾薑　細辛（各三兩）　五味　半夏　杏仁（各半升）　</p>
<p>上七味。以水一斗。煮取三升。去滓。溫服半升。日三服。</p>
<p>若面熱如醉。此為胃熱上衝熏其面。加大黃以利之。</p>
<p>水飲有挾陰之寒者。亦有挾陽之熱者。若面熱如醉。則為胃熱隨經上衝之證。胃之脈上行於面故也。即於消飲藥中。加大黃以下其熱。與沖氣上逆。其面翕熱如醉者不同。沖氣上行者。病屬下焦陰中之陽。故以酸溫止之。此屬中焦陽明之陽。故以苦寒下之。</p>
<p><u>苓甘五味加姜辛半杏大黃湯方</u></p>
<p>茯苓（四兩）　甘草（二兩）　乾薑　細辛（各三兩）　五味　半夏　杏仁（各半升）　大黃（三兩）　</p>
<p>上八味。以水一斗。煮取三升。去滓。溫服半升。日三服。</p>
<p>先渴後嘔。為水停心下。此屬飲家。小半夏加茯苓湯主之。</p>
<p>先渴後嘔者。本無嘔病。因渴飲水。水多不下而反上逆也。故曰此屬飲家。小半夏止嘔降逆。加茯苓去其停水。蓋始雖渴而終為飲。但當治飲。而不必治其渴也。</p>
<p><u>小半夏加茯苓湯方</u>（見上）</p>

<h2>消渴小便不利淋病脈證治第十三</h2>
<p>厥陰之為病。消渴。氣上衝心。心中疼熱。飢而不欲食。食則吐蛔。下之利不止。</p>
<p>此邪熱入厥陰而成消渴。成氏所謂邪愈深者熱愈甚也。氣上衝心。心中疼熱者。火生於木。肝氣通心也。飢而不欲食者。木喜攻土。胃虛求食。而客熱復不能消穀也。食即吐蛔者。蛔無食而動。聞食臭而出也。下之利不止者。胃氣重傷。而邪熱下注也。夫厥陰風木之氣。能生陽火而爍陰津。津虛火實。臟燥無液。求救於水。則為消渴。消渴者。水入不足以制火。而反為火所消也。</p>
<p>寸口脈浮而遲。浮即為虛。遲即為勞。虛則衛氣不足。勞則營氣竭。趺陽脈浮而數。浮即為氣。數即消穀而大堅。氣盛則溲數。溲數則堅。堅數相搏。即為消渴。</p>
<p>診寸口而知營衛之並虛。診趺陽而知胃氣之獨盛。合而觀之。知為虛勞內熱而成消渴也。夫所謂氣盛者。非胃氣盛也。胃中之火盛也。火盛則水穀去而胃乃堅。如土被火燒而堅硬如石也。故曰數即消穀而大堅。胃既堅硬。水入不能浸潤。但從旁下轉。而又為火氣所迫而不留。故曰氣盛則溲數。溲數則堅。愈數愈堅。愈堅愈數。是以飲水多而渴不解也。</p>
<p>男子消渴。小便反多。以飲一斗。小便亦一斗。腎氣丸主之。</p>
<p>男子以腎為事。腎中有氣。所以主氣化。行津液。而潤心肺者也。此氣既虛。則不能上至。氣不至。則水亦不至。而心肺失其潤矣。蓋水液屬陰。非氣不至。氣雖屬陽。中實含水。水之與氣。未嘗相離也。腎氣丸中有桂、附。所以斡旋腎中頹墮之氣。而使上行心肺之分。故名曰腎氣。不然。則滋陰潤燥之品。同於飲水無濟。但益下趨之勢而已。馴至陽氣全消。有降無升。飲一溲二而死不治。夫豈知飲入於胃。非得腎中真陽。焉能遊溢精氣。而上輸脾肺耶。</p>
<p>按、消渴證。有太陰、厥陰、陽明、少陰之異。系太陰者。心熱移肺也。系厥陰者。風勝則干。抑火從木出也。系陽明者。火燔而土燥也。系少陰者。水虛不能制火也。然此不言水虛不能制火。而言火虛不能化水。則法之變而論之精也。惟火不化水。故飲一斗。水亦一斗。不然。未有不為火所消者矣。推而言之。厥陰內熱之渴。水為熱所消。其小便必不多。陽明內堅之渴。水入不能內潤而從旁轉。其小便雖數。而出亦必少也。</p>
<p><u>腎氣丸方</u>（見婦人雜病）</p>
<p>脈浮。小便不利。微熱消渴者。宜利小便發汗。五苓散主之。</p>
<p>熱渴飲水。水入不能已其熱。而熱亦不能消其水。於是水與熱結。而熱浮水外。故小便不利。而微熱消渴也。五苓散利其與熱俱結之水。兼多飲暖水取汗。以去其水外浮溢之熱。熱除水去。渴當自止。</p>
<p><u>五苓散方</u>（見痰飲）</p>
<p>渴欲飲水。水入則吐者。名曰水逆。五苓散主之。</p>
<p>熱渴飲水。熱已消而水不行。則逆而成嘔。乃消渴之變證。曰水逆者。明非消渴而為水逆也。故亦宜五苓散。去其停水。</p>
<p>渴欲飲水不止者。文蛤散主之。</p>
<p>熱渴飲水。水入不能消其熱。而反為熱所消。故渴不止。文蛤味鹹性寒。寒能除熱。咸能潤下。用以折炎上之勢。而除熱渴之疾也。</p>
<p><u>文蛤散方</u></p>
<p>文蛤（五兩）　</p>
<p>上一味。杵為散。以沸湯五合。和服方寸匕。</p>
<p>淋之為病。小便如粟狀。小腹弦急。痛引臍中。</p>
<p>淋病有數證。云小便如粟狀者。即後世所謂石淋是也。乃膀胱為火熱燔灼。水液結為滓質。猶海水煎熬而成咸鹼也。小腹弦急。痛引臍中者。病在腎與膀胱也。按巢氏云。淋之為病。由腎虛而膀胱熱也。腎氣通於陰。陰、水液下流之道也。膀胱為津液之府。腎虛則小便數。膀胱熱則水下澀。數而且澀。淋瀝不宣。故謂之淋。其狀小便出少起多。小腹弦急。痛引於臍。又有石淋、勞淋、血淋、氣淋、膏淋之異。詳見本論。其言頗為明晰。可補仲景之未備。</p>
<p>趺陽脈數。胃中有熱。即消穀引飲。大便必堅。小便則數。</p>
<p>胃中有熱。消穀引飲。即後世所謂消穀善飢。為中消者是也。胃熱則液干。故大便堅。便堅則水液獨走前陰。故小便數。亦即前條消渴胃堅之證。而列於淋病之下。疑錯簡也。</p>
<p>淋家不可發汗。發汗則便血。</p>
<p>淋家熱結在下。而反發其汗。熱氣乘心之虛而內擾其陰。則必便血。</p>
<p>小便不利者。有水氣。其人若渴。栝蔞瞿麥丸主之。</p>
<p>此下焦陽弱氣冷。而水氣不行之證。故以附子益陽氣。茯苓、瞿麥行水氣。觀方後云。腹中溫為知。可以推矣。其人若渴。則是水寒偏結於下。而燥火獨聚於上。故更以薯蕷、栝蔞根。除熱生津液也。夫上浮之焰。非滋不熄。下積之陰。非暖不消。而寒潤辛溫。並行不悖。此方為良法矣。欲求變通者。須於此三複焉。</p>
<p><u>栝蔞瞿麥丸方</u></p>
<p>薯蕷　茯苓（各三兩）　栝蔞根（二兩）　附子（一枚炮）　瞿麥（一兩）　</p>
<p>上五味末之。煉蜜丸如梧子大。飲服二丸。日三服。不知。增至七八丸。以小便利。腹中溫為知。</p>
<p>小便不利。蒲灰散主之。滑石白魚散、茯苓戎鹽湯。並主之。</p>
<p>蒲、香蒲也。寧原云。香蒲去濕熱。利小便。合滑石為清利小便之正法也。別錄云。白魚開胃下氣。去水氣。血餘療轉胞。小便不通。合滑石為滋陰益氣。以利其小便者也。綱目戎鹽即青鹽。鹹寒入腎。以潤下之性。而就滲利之職。為驅除陰分水濕之法也。仲景不詳見證。而並出三方。以聽人之隨證審用。殆所謂引而不發者歟。</p>
<p><u>蒲灰散方</u></p>
<p>蒲灰（半分）　滑石（三分）　</p>
<p>上二味。杵為散。飲服方寸匕。日三服。</p>
<p><u>滑石白魚散方</u></p>
<p>滑石　亂髮（燒）　白魚（各二分）　</p>
<p>上三味。杵為散。飲服方寸匕。日三服。</p>
<p><u>茯苓戎鹽湯方</u></p>
<p>茯苓（半斤）　白朮（二兩）　戎鹽（彈丸大一枚）　</p>
<p>上三味。先將茯苓、白朮煎成。入戎鹽再煎。分溫三服。</p>
<p>渴欲飲水。口乾燥者。白虎加人參湯主之。</p>
<p>此肺胃熱盛傷津。故以白虎清熱。人參生津止渴。蓋即所謂上消膈消之證。疑亦錯簡於此也。</p>
<p><u>白虎加人參湯方</u>（見暍病）</p>
<p>脈浮發熱。渴欲飲水。小便不利者。豬苓湯主之。</p>
<p>此與前五苓散病證同。而藥則異。五苓散行陽之化。熱初入者宜之。豬苓湯行陰之化。熱入久而陰傷者宜之也。</p>
<p>按、渴欲飲水。本文共有五條。而脈浮發熱。小便不利者。一用五苓。為其水與熱結故也。一用豬苓。為其水與熱結。而陰氣復傷也。其水入則吐者。亦用五苓。為其熱消而水停也。渴不止者。則用文蛤。為其水消而熱在也。其口乾燥者。則用白虎加人參。為其熱甚而津傷也。此為同源而異流者。治法亦因之各異如此。學者所當細審也。</p>
<p><u>豬苓湯方</u></p>
<p>豬苓（去皮）　茯苓　阿膠　滑石　澤瀉（各一兩）　</p>
<p>上五味。以水四升。先煮四味。取二升。去滓。內膠烊消。溫服七合。日三服。</p>

<h2>水氣病脈證並治第十四</h2>
<p>師曰。病有風水。有皮水。有正水。有石水。有黃汗。風水其脈自浮。外證骨節疼痛惡風。皮水其脈亦浮。外證胕腫。按之沒指。不惡風。其腹如鼓。不渴。當發其汗。正水其脈沉遲。外證自喘。石水其脈自沉。外證腹滿不喘。黃汗其脈沉遲。身發熱。胸滿。四肢頭面腫。久不愈。必致癰膿。</p>
<p>風水。水為風激。因風而病水也。風傷皮毛。而濕流關節。故脈浮惡風而骨節疼痛也。皮水。水行皮中。內合肺氣。故其脈亦浮。不兼風。故不惡風也。其腹如鼓。即內經𪔣𪔣然不堅之意。以其病在皮膚。而不及腸臟。故外有脹形。而內無滿喘也。水在皮者。宜從汗解。故曰當發其汗。正水。腎臟之水自盛也。石水。水之聚而不行者也。正水乘陽之虛而侵及上焦。故脈沉遲而喘。石水因陰之盛而結於少腹。故脈沉腹滿而不喘也。黃汗。汗出沾衣如柏汁。得之濕熱交病。而濕居熱外。其盛於上而陽不行。則身熱胸滿。四肢頭面腫。久則侵及於里而營不通。則逆於肉理而為癰膿也。</p>
<p>脈浮而洪。浮則為風。洪則為氣。風氣相搏。風強則為癮疹。身體為癢。癢者為泄風。久為痂癩。氣強則為水。難以俯仰。風氣相擊。身體洪腫。汗出乃愈。惡風則虛。此為風水。不惡風者。小便通利。上焦有寒。其口多涎。此為黃汗。</p>
<p>風、天之氣。氣、人之氣。是皆失其和者也。風氣相搏。風強則氣從風而侵淫肌體。故為癮疹。氣強則風從氣而鼓湧水液。故為水。風氣並強。兩相搏擊。而水液從之。則為風水。汗之則風去而水行。故曰汗出乃愈。然風水之病。其狀與黃汗相似。故仲景於此復辨其證。以惡風者為風水。不惡風者為黃汗。而風水之脈浮。黃汗之脈沉。更不必言矣。</p>
<p>寸口脈沉滑者。中有水氣。面目腫大有熱。名曰風水。視人之目窠上微腫。如蠶新臥起狀。其頸脈動。時時咳。按其手足上。陷而不起者風水。</p>
<p>風水其脈自浮。此云沉滑者。乃水脈。非風脈也。至面目腫大有熱。則水得風而外浮。其脈亦必變而為浮矣。仲景不言者。以風水該之也。目窠上微腫。如蠶新臥起狀者。內經所謂水為陰。而目下亦陰。聚水者必微腫先見於目下是也。頸脈動者。頸間人迎脈動甚。風水上湊故也。時時咳者。水漬入肺也。按其手足上陷而不起。與內經以手按其腹。隨手而起。如裹水之狀者不同。然腹中氣大。而肢間氣細。氣大則按之隨手而起。氣細則按之窅而不起。而其浮腫則一也。</p>
<p>太陽病。脈浮而緊。法當骨節疼痛。反不疼。身體反重而酸。其人不渴。汗出即愈。此為風水。惡寒者。此為極虛發汗得之。渴而不惡寒者。此為皮水。身腫而冷。狀如周痹。胸中窒。不能食。反聚痛。暮躁不得眠。此為黃汗。痛在骨節。咳而喘。不渴者。此為肺脹。其狀如腫。發汗則愈。然諸病此者。渴而下利。小便數者。皆不可發汗。</p>
<p>太陽有寒。則脈緊骨疼。有濕則脈濡身重。有風則脈浮體酸。此明辨也。今得傷寒脈而骨節不疼。身體反重而酸。即非傷寒。乃風水外勝也。風水在表而非里。故不渴。風固當汗。水在表者亦宜汗。故曰汗出即愈。然必氣盛而實者。汗之乃愈。不然則其表益虛。風水雖解。而惡寒轉增矣。故曰惡寒者。此為極虛發汗得之。若其渴而不惡寒者。則非病風。而獨病水。不在皮外。而在皮中。視風水為較深矣。其證身腫而冷。狀如周痹。周痹為寒濕痹其陽。皮水為水氣淫於膚也。胸中窒。不能食者。寒襲於外。而氣窒於中也。反聚痛。暮躁不得眠者。熱為寒鬱。而寒甚於暮也。寒濕外淫。必流關節。故曰此為黃汗。痛在骨節也。其咳而喘不渴者。水寒傷肺。氣攻於表。有如腫病。而實同皮水。故曰發汗則愈。然此諸病。若其人渴而下利。小便數者。則不可以水氣當汗而概發之也。仲景丁寧之意。豈非慮人之津氣先亡耶。</p>
<p>或問前二條云。風水外證。骨節疼。此云骨節反不疼。身體反重而酸。前條云皮水不渴。此云渴何也。曰。風與水合而成病。其流注關節者。則為骨節疼痛。其侵淫肌體者。則骨節不疼。而身體酸重。由所傷之處不同故也。前所云皮水不渴者。非言皮水本不渴也。謂腹如鼓而不渴者。病方外盛而未入里。猶可發其汗也。此所謂渴而不惡寒者。所以別於風水之不渴而惡風也。程氏曰。水氣外留於皮。內薄於肺。故令人渴是也。</p>
<p>里水者。一身面目黃腫。其脈沉。小便不利。故令病水。假令小便自利。此亡津液。故令渴。越婢加朮湯主之。（方見中風）</p>
<p>里水。水從里積。與風水不同。故其脈不浮而沉。而盛於內者必溢於外。故一身面目悉黃腫也。水病小便當不利。今反自利。則津液消亡。水病已而渴病起矣。越婢加朮。是治其水。非治其渴也。以其身面悉腫。故取麻黃之發表。以其腫而且黃。知其濕中有熱。故取石膏之清熱。與白朮之除濕。不然。則渴而小便利者。而顧犯不可發汗之戒耶。或云此治小便利。黃腫未去者之法。越婢散肌表之水。白朮止渴生津也。亦通。</p>
<p>趺陽脈當伏。今反緊。本自有寒。疝瘕。腹中痛。醫反下之。即胸滿短氣。趺陽脈當伏。今反數。本自有熱。消穀。小便數。今反不利。此欲作水。</p>
<p>趺陽雖系胃脈。而出於陰部。故其脈當伏。今反緊者。以其腹中宿有寒疾故也。寒則宜溫而反下之。陽氣重傷。即胸滿短氣。其反數者。以其胃中有熱故也。熱則當消穀而小便數。今反不利。則水液日積。故欲作水。夫陰氣傷者。水為熱蓄而不行。陽氣竭者。水與寒積而不下。仲景並舉二端。以見水病之原有如此也。</p>
<p>寸口脈浮而遲。浮脈則熱。遲脈則潛。熱潛相搏。名曰沉。趺陽脈浮而數。浮脈即熱。數脈即止。熱止相搏。名曰伏。沉伏相搏。名曰水。沉則絡脈虛。伏則小便難。虛難相搏。水走皮膚。即為水矣。</p>
<p>熱而潛。則熱有內伏之勢。而無外發之機矣。故曰沉。熱而止。則熱有留滯之象。而無運行之道矣。故曰伏。熱留於內而不行。則水氣因之而蓄。故曰沉伏相搏。名曰水。熱留於內。則氣不外行。而絡脈虛。熱止於中。則陽不下化。而小便難。以不化之水。而當不行之氣。則惟有浸淫軀殼而已。故曰虛難相搏。水走皮膚。即為水矣。此亦所謂陰氣傷者。水為熱蓄不下者也。</p>
<p>寸口脈弦而緊。弦則衛氣不行。即惡寒。水不沾流。走於腸間。少陰脈緊而沉。緊則為痛。沉則為水。小便即難。</p>
<p>此二條並陽衰陰勝之證。而寸口則主衛氣。少陰則主腎陽。主衛氣者。寒從外得。而陽氣被抑。主腎陽者。寒自內生。而氣化不速。亦即所謂陽氣竭者。水與寒積而不行者也。</p>
<p>脈得諸沉。當責有水。身體腫重。水病脈出者死。</p>
<p>水為陰。陰盛故令脈沉。又水行皮膚。營衛被遏。亦令脈沉。若水病而脈出。則真氣反出邪水之上。根本脫離。而病氣獨勝。故死。出與浮迥異。浮者盛於上而弱於下。出則上有而下絕無也。</p>
<p>夫水病人目下有臥蠶。面目鮮澤。脈伏。其人消渴。病水腹大。小便不利。其脈沉絕者有水。可下之。</p>
<p>目下有臥蠶者。目下微腫。如蠶之臥。經所謂水在腹者。必使目下腫也。水氣足以潤皮膚而壅營衛。故面目鮮澤。且脈伏不起也。消渴者。陽氣被鬱而生熱也。病水。因水而為病也。夫始因水病而生渴。繼因消渴而益病水。於是腹大。小便不利。其脈沉絕。水氣瘀壅而不行。脈道被遏而不出。其勢亦太甚矣。故必下其水。以通其脈。</p>
<p>問曰。病下利後渴飲水。小便不利。腹滿因腫者。何也。答曰。此法當病水。若小便自利。及汗出者。自當愈。</p>
<p>下利後陰亡無液。故渴欲飲水。而土虛無氣。不能制水。則又小便不利。腹滿因腫。知其將聚水為病矣。</p>
<p>若小便利。則從下通。汗出則從外泄。水雖聚而旋行。故病當愈。然其所以汗與利者。氣內復而機自行也。豈辛散淡滲。所能強責之哉。</p>
<p>心水者。其身重而少氣。不得臥。煩而躁。其人陰腫。肝水者。其腹大。不能自轉側。脅下腹痛。時時津液微生。小便續通。肺水者。其身腫。小便難。時時鴨溏。脾水者。其腹大。四肢苦重。津液不生。但苦少氣。小便難。腎水者。其腹大。臍腫腰痛。不得溺。陰下濕如牛鼻上汗。其足逆冷。面反瘦。</p>
<p>心、陽臟也。而水困之。其陽則弱。故身重而少氣也。陰腫者。水氣隨心氣下交於腎也。肝病喜歸脾。脾受肝之水而不行。則腹大不能轉側也。肝之腑在脅。而氣連少腹。故脅下腹痛也。時時津液微生。小便續通者。肝喜沖逆而主疏泄。水液隨之而上下也。肺主氣化。治節一身。肺以其水行於身則腫。無氣以化其水。則小便難。鴨溏。如鴨之後。水糞雜下也。脾主腹而氣行四肢。脾受水氣。則腹大四肢重。津氣生於穀。穀氣運於脾。脾濕不運。則津液不生而少氣。小便難者。濕不行也。身半以下。腎氣主之。水在腎。則腰痛、臍腫、腹大也。不得溺。陰下濕。如牛鼻上汗。其足逆冷者。腎為陰。水亦為陰。兩陰相得。陽氣不行。而濕寒獨勝也。面反瘦者。面為陽。陰盛於下。則陽衰於上也。</p>
<p>師曰。諸有水者。腰以下腫。當利小便。腰以上腫。當發汗乃愈。</p>
<p>腰以下為陰。陰難得汗而易下泄。故當利小便。腰以上為陽。陽易外泄。故當發汗。各因其勢而利導之也。</p>
<p>師曰。寸口脈沉而遲。沉則為水。遲則為寒。寒水相搏。趺陽脈伏。水穀不化。脾氣衰則鶩溏。胃氣衰則身腫。少陽脈卑。少陰脈細。男子則小便不利。婦人則經水不通。經為血。血不利則為水。名曰血分。</p>
<p>此合診寸口、趺陽。而知為寒水勝而胃陽不行也。胃陽不行。則水穀不化。水穀不化。則脾胃俱衰。脾氣主裡。故衰則鶩溏。胃氣主表。故衰則身腫也。少陽者。生氣也。少陰者。地道也。而俱受氣於脾胃。脾胃衰則少陽脈卑。而生氣不榮。少陰脈細。而地道不通。男子則小便不利。婦人則經血不通。而其所以然者。則皆陽氣不行。陰氣乃結之故。曰血分者。謂雖病於水。而實出於血也。</p>
<p>師曰。寸口脈沉而數。數則為出。沉則為入。出則為陽實。入則為陰結。趺陽脈微而弦。微則無胃氣。弦則不得息。少陰脈沉而滑。沉則為在裡。滑則為實。沉滑相搏。血結胞門。其瘕不寫。經絡不通。名曰血分。</p>
<p>此合診寸口、趺陽、少陰。而知其氣壅於陽。胃虛於中。而血結於陰也。出則為陽實者。肺被熱而治不行也。弦則不得息者。胃受制而氣不利也。夫血結在陰。惟陽可以通之。而胃虛受制。肺窒不行。更何恃而開其結。行其血耶。惟有凝聚癃閉。轉成水病而已。故曰血結胞門。其瘕不寫。經絡不通。名曰血分。亦如上條所云也。但上條之結。為血氣虛少而行之不利也。此條之結。為陰陽壅鬱而欲行不能也。仲景並列於此。以見血分之病。虛實不同如此。</p>
<p>問曰。病有血分、水分。何也。師曰。經水前斷、後病水。名曰血分。此病難治。先病水、後經水斷。名曰水分。此病易治。何以故。去水。其經自下。</p>
<p>此復設問答。以明血分、水分之異。血分者。因血而病為水也。水分者。因水而病及血也。血病深而難通。故曰難治。水病淺而易行。故曰易治。</p>
<p>問曰。病者苦水。面目身體四肢皆腫。小便不利。脈之不言水。反言胸中痛。氣上衝咽。狀如炙肉。當微咳喘。審如師言。其脈何類。師曰。寸口脈沉而緊。沉為水。緊為寒。沉緊相搏。結在關元。始時尚微。年盛不覺。陽衰之後。營衛相干。陽損陰盛。結寒微動。腎氣上衝。咽喉塞噎。脅下急痛。醫以為留飲而大下之。氣系不去。其病不除。復重吐之。胃家虛煩。咽燥欲飲水。小便不利。水穀不化。面目手足浮腫。又與葶藶丸下水。當時如小差。食飲過度。腫復如前。胸脅苦痛。象若奔豚。其水揚溢。則咳喘逆。當先攻擊沖氣令止。乃治咳。咳止其喘自瘥。先治新病。病當在後。</p>
<p>此水氣先得。而沖氣後發之證。面目肢體俱腫。咽喉噎塞。胸脅滿痛。有似留飲。而實挾沖氣也。沖氣宜溫降。不宜攻下。下之亦未必去。故曰氣系不去。其病不除。醫乃不知而復吐之。胃氣重傷。胃液因盡。故咽燥欲飲水。而小便不利。水穀不化。且聚水而成病也。是當養胃氣以行水。不宜徑下其水。水雖下。終必復聚。故暫瘥而尋復如前也。水聚於中。氣衝於下。其水揚溢上。及肺位。則咳且喘逆。是不可攻其水。當先止其沖氣。沖氣既止。然後水氣可去。水去則咳與喘逆俱去矣。先治新病。病當在後者。謂先治其沖氣。而後治其水氣也。</p>
<p>風水。脈浮身重。汗出惡風者。防已黃耆湯主之。腹痛者加芍藥。</p>
<p>此條義詳痙濕暍篇。雖有風水、風濕之異。然而水與濕非二也。</p>
<p><u>防己黃耆湯方</u>（見濕病）</p>
<p>風水惡風。一身悉腫。脈浮不渴。續自汗出。無大熱。越婢湯主之。</p>
<p>此與上條證候頗同。而治特異。麻黃之發陽氣。十倍防己。乃反減黃耆之實表。增石膏之辛寒。何耶。脈浮不渴句。或作脈浮而渴。渴者熱之內熾。汗為熱逼。與表虛出汗不同。故得以石膏清熱。麻黃散腫。而無事兼固其表也。</p>
<p><u>越婢湯方</u></p>
<p>麻黃（六兩）　石膏（半斤）　生薑（三兩）　甘草（二兩）　大棗（十二枚）　</p>
<p>上五味。以水六升。先煮麻黃。去上沫。內諸藥。煮取三升。分溫三服。惡風加附子一枚。風水加朮四兩。</p>
<p>皮水為病。四肢腫。水氣在皮膚中。四肢聶聶動者。防己茯苓湯主之。</p>
<p>皮中水氣。浸淫四末。而壅遏衛氣。氣水相逐。則四肢聶聶動也。防己、茯苓善驅水氣。桂枝得茯苓。則不發表而反行水。且合黃耆、甘草。助表中之氣。以行防己、茯苓之力也。</p>
<p><u>防己茯苓湯方</u></p>
<p>防己　黃耆　桂枝（各三兩）　茯苓（六兩）　甘草（二兩）　</p>
<p>上五味。以水六升。煮取二升。分溫三服。</p>
<p>里水。越婢加朮湯主之。甘草麻黃湯亦主之。</p>
<p>里水。即前一身面目黃腫。脈沉。小便不利之證。越婢湯義見前。甘草、麻黃。亦內助土氣。外行水氣之法也。</p>
<p><u>越婢加朮湯方</u>（見上）　</p>
<p><u>甘草麻黃湯方</u></p>
<p>甘草（二兩）　麻黃（四兩）　</p>
<p>上二味。以水五升。先煮麻黃。去上沫。內甘草。煮取三升。溫服一升。重覆汗出。不汗再服。慎風寒。</p>
<p>水之為病。其脈沉小。屬少陰。浮者為風。無水虛脹者為氣。水發其汗即已。脈沉者。宜麻黃附子湯。浮者。宜杏子湯。</p>
<p>水氣脈沉小者屬少陰。言腎水也。脈浮者為風。即風水也。其無水而虛脹者。則為氣病而非水病矣。氣病不可發汗。水病發其汗則已。然而發汗之法。亦有不同。少陰則當溫其經。風水即當通其肺。故曰脈沉者。宜麻黃附子湯。脈浮者。宜杏子湯。沉謂少陰。浮謂風也。</p>
<p><u>麻黃附子湯方</u></p>
<p>麻黃（三兩）　甘草（二兩）　附子（一枚炮）　</p>
<p>上三味。以水七升。先煮麻黃。去上沫。內諸藥。煮取二升半。溫服八合。日三服。</p>
<p><u>杏子湯方</u>（缺。恐是麻黃杏仁甘草石膏湯）</p>
<p>厥而皮水者。蒲灰散主之。</p>
<p>厥而皮水者。水邪外盛。隔其身中之陽。不行於四肢也。此厥之成於水者。去其水則厥自愈。不必以附子、桂枝之屬。助其內伏之陽也。蒲灰散義見前。</p>
<p><u>蒲灰散方</u>（見消渴）</p>
<p>問曰。黃汗之為病。身體腫。發熱汗出而渴。狀如風水。汗沾衣。色正黃。如柏汁。脈自沉。何從得之。師曰。以汗出入水中浴。水從汗孔入得之。宜耆芍桂酒湯主之。</p>
<p>黃汗之病。與風水相似。但風水脈浮。而黃汗脈沉。風水惡風。而黃汗不惡風為異。其汗沾衣色正黃如柏汁。則黃汗之所獨也。風水為風氣外合水氣。黃汗為水氣內遏熱氣。熱被水遏。水與熱得。交蒸互郁。汗液則黃。黃耆、桂枝、芍藥。行陽益陰。得酒則氣益和而行愈周。蓋欲使營衛大行。而邪氣畢達耳。云苦酒阻者。欲行而未得遽行。久積藥力。乃自行耳。故曰服至六七日乃解。</p>
<p>按前第二條云。小便通利。上焦有寒。其口多涎。此為黃汗。第四條云。身腫而冷。狀如周痹。此云黃汗之病。身體腫。發熱汗出而渴。後又云劇者不能食。身疼重。小便不利。何前後之不侔也。豈新久微甚之辨歟。夫病邪初受。其未郁為熱者。則身冷。小便利。口多涎。其鬱久而熱甚者。則身熱而渴。小便不利。亦自然之道也。</p>
<p><u>耆芍桂酒湯方</u></p>
<p>黃耆（五兩）　芍藥　桂枝（各三兩）　</p>
<p>上三味。以苦酒一升。水七升相合。煮取三升。溫服一升。當心煩。服至六七日乃解。若心煩不止者。以苦酒阻故也。</p>
<p>黃汗之病。兩脛自冷。假令發熱。此屬歷節。食已汗出。又身嘗暮盜汗出者。此營氣也。若汗出已反發熱者。久久其身必甲錯。發熱不止者。必生惡瘡。若身重。汗出已輒輕者。久久必身瞤。瞤即胸中痛。又從腰以上汗出。下無汗。腰臗弛痛。如有物在皮中狀。劇者不能食。身疼重。煩躁。小便不利。此為黃汗。桂枝加黃耆湯主之。</p>
<p>兩脛自冷者。陽被鬱而不下通也。黃汗本發熱。此云假令發熱。便為歷節者。謂脛熱。非謂身熱也。蓋歷節黃汗。病形相似。而歷節一身盡熱。黃汗則身熱而脛冷也。食已汗出。又身嘗暮臥盜汗出者。營中之熱。因氣之動而外浮。或乘陽之間而潛出也。然黃汗、郁證也。汗出則有外達之機。若汗出已反發熱者。是熱與汗俱出於外。久而肌膚甲錯。或生惡瘡。所謂自內之外而盛於外也。若汗出已身重輒輕者。是濕與汗俱出也。然濕雖出而陽亦傷。久必身瞤而胸中痛。若從腰以上汗出。下無汗者。是陽上通而不下通也。故腰臗弛痛。如有物在皮中狀。其病之劇而未經得汗者。則窒於胸中而不能食。壅於肉理而身體重。鬱於心而煩躁。閉於下而小便不通利也。此其進退微甚之機。不同如此。而要皆水氣傷心之所致。故曰此為黃汗。桂枝、黃耆。亦行陽散邪之法。而尤賴飲熱稀粥取汗。以發交郁之邪也。</p>
<p><u>桂枝加黃耆湯方</u></p>
<p>桂枝　芍藥　甘草　黃耆（各二兩）　生薑（三兩）　大棗（十二枚）　</p>
<p>上六味。以水八升。煮取三升。溫服一升。須臾。啜熱稀粥一升余。以助藥力。溫覆取微汗。若不汗。更服。</p>
<p>師曰。寸口脈遲而澀。遲則為寒。澀為血不足。趺陽脈微而遲。微則為氣。遲則為寒。寒氣不足。即手足逆冷。手足逆冷。則營衛不利。營衛不利。則腹滿脅鳴相逐。氣轉膀胱。營衛俱勞。陽氣不通即身冷。陰氣不通即骨疼。陽前通則惡寒。陰前通則痹不仁。陰陽相得。其氣乃行。大氣一轉。其氣乃散。實則失氣。虛則遺溺。名曰氣分。</p>
<p>微則為氣者。為氣不足也。寒氣不足。該寸口、趺陽為言。寒而氣血復不足也。寒氣不足。則手足無氣而逆冷。營衛無源而不利。由是臟腑之中。真氣不充。而客寒獨勝。則腹滿脅鳴相逐。氣轉膀胱。即後所謂失氣、遺溺之端也。營衛俱勞者。營衛俱乏竭也。陽氣溫於表。故不通則身冷。陰氣營於裡。故不通即骨疼。不通者。虛極而不能行。與有餘而壅者不同。陽前通則惡寒。陰前通則痹不仁者。陽先行而陰不與俱行。則陰失陽而惡寒。陰先行而陽不與俱行。則陽獨滯而痹不仁也。蓋陰與陽常相須也。不可失。失則氣機不續而邪乃著。不失則上下交通而邪不容。故曰陰陽相得。其氣乃行。大氣一轉。其氣乃散。失氣、遺溺。皆相失之徵。曰氣分者。謂寒氣乘陽之虛。而病於氣也。</p>
<p>氣分。心下堅大如盤。邊如旋盤。桂甘薑棗麻辛附子湯主之。</p>
<p>氣分即寒氣乘陽之虛。而結於氣者。心下堅大如盤。邊如旋盤。其勢亦已甚矣。然不直攻其氣。而以辛甘溫藥。行陽以化氣。視後人之襲用枳、樸、香、砂者。工拙懸殊矣。云當汗出如蟲行皮中者。蓋欲使既結之陽。復行周身而愈也。</p>
<p><u>桂甘薑棗麻辛附子湯方</u></p>
<p>桂枝　生薑（各三兩）　細辛（二兩）　甘草　麻黃（各二兩）　附子（一枚炮）　大棗（十二枚）　</p>
<p>上七味。以水七升。先煮麻黃。去上沫。內諸藥。煮取二升。分溫三服。當汗出如蟲行皮中。即愈。</p>
<p>心下堅大如盤。邊如旋盤。水飲所作。枳朮湯主之。</p>
<p>證與上同。曰水飲所作者。所以別於氣分也。氣無形。以辛甘散之。水有形。以苦泄之也。</p>
<p><u>枳朮湯方</u></p>
<p>枳實（七枚）　白朮（二兩）　上二味。以水五升。煮取三升。分溫三服。腹中軟。即當散也。</p>
<p><u>附方</u></p>
<p><u>外臺防己黃耆湯</u>　治風水脈浮為在表。其人或頭汗出。表無他病。病者但下重。從腰以上為和。腰以下當腫及陰。難以屈伸。（方見風濕）</p>

<h1>卷下</h1>

<h2>黃癉病脈證並治第十五</h2>
<p>寸口脈浮而緩。浮則為風。緩則為痹。痹非中風。四肢苦煩。脾色必黃。瘀熱以行。</p>
<p>脈浮為風。脈緩為濕。云為痹者。風與濕合而痹也。然非風痹疼痛之謂。故又曰痹非中風。所以然者。風得濕而變熱。濕應脾而內行。是以四肢不疼而苦煩。脾臟瘀熱而色黃。脾者四運之軸也。脾以其所瘀之熱。轉輸流布。而肢體面目盡黃矣。故曰瘀熱以行。</p>
<p>趺陽脈緊而數。數則為熱。熱則消穀。緊則為寒。食即為滿。尺脈浮為傷腎。趺陽脈緊為傷脾。風寒相搏。食谷即眩。穀氣不消。胃中苦濁。濁氣下流。小便不通。陰被其寒。熱流膀胱。身體盡黃。名曰谷癉。</p>
<p>趺陽脈數為熱者。其熱在胃。故消穀。脈緊為寒者。其寒在脾。故滿。滿者必生濕。胃熱而脾濕。亦黃病之原也。尺脈浮為傷腎者。風傷腎也。趺陽脈緊為傷脾者。寒傷脾也。腎得風而生熱。脾得寒而生濕。又黃病之原也。濕熱相合。其氣必歸脾胃。脾胃者。倉廩之官也。谷入而助其熱則眩。谷不消而氣以瘀。則胃中苦濁。濁氣當出下竅。若小便通。則濁隨溺去。今不通。則濁雖下流而不外出。於是陰受其濕。陽受其熱。轉相流被而身體盡黃矣。曰谷癉者。病雖始於風寒。而實成於穀氣耳。</p>
<p>額上黑。微汗出。手足中熱。薄暮即發。膀胱急。小便自利。名曰女勞癉。腹如水狀。不治。</p>
<p>腎勞而熱。黑色上出。猶脾病而黃外見也。額於部為庭。靈樞云。庭者顏也。又云。腎病者。顴與顏黑。微汗出者。腎熱上行。而氣通於心也。手足心熱。薄暮即發者。病在裡在陰也。膀胱急者。腎熱所逼也。小便自利。病不在腑也。此得之房勞過度。熱從腎出。故名曰女勞癉。若腹如水狀。則不特陰傷。陽亦傷矣。故曰不治。</p>
<p>心中懊憹而熱。不能食。時欲吐。名曰酒癉。</p>
<p>懊憹。鬱悶不寧之意。熱內蓄則不能食。熱上衝則時欲吐。酒氣熏心而味歸脾胃也。此得之飲酒過多所致。故名酒癉。</p>
<p>陽明病。脈遲。食難用飽。飽則發煩頭眩。小便必難。此欲作谷癉。雖下之。腹滿如故。所以然者。脈遲故也。</p>
<p>脈遲胃弱。則谷化不速。谷化不速。則穀氣鬱而生熱。而非胃有實熱。故雖下之而腹滿不去。傷寒裡實。脈遲者尚未可攻。況非裡實者耶。</p>
<p>夫病酒黃癉。必小便不利。其候心中熱。足下熱。是其證也。酒黃癉者。或無熱。靜言了了。腹滿欲吐。鼻燥。其脈浮者先吐之。沉弦者先下之。酒癉心中熱。欲吐者吐之愈。</p>
<p>酒之濕熱。積於中而不下出。則為酒癉。積於中則心中熱。注於下則足下熱也。酒黃癉者。心中必熱。或亦有不熱。靜言了了者。則其熱不聚於心中。而或從下積為腹滿。或從上衝為欲吐鼻燥也。腹滿者可下之。欲吐者可因其勢而越之。既腹滿且欲吐。則可下亦可吐。然必審其脈浮者。則邪近上。宜先吐。脈沉弦者。則邪近下。宜先下也。</p>
<p>酒癉下之。久久為黑癉。目青面黑。心中如啖蒜狀。大便正黑。皮膚爪之不仁。其脈浮弱。雖黑微黃。故知之。</p>
<p>酒癉雖有可下之例。然必審其腹滿脈沉弦者而後下之。不然。濕熱乘虛陷入血中。則變為黑癉。目青面黑。皮膚不仁。皆血變而瘀之徵也。然雖曰黑癉。而其原則仍是酒家。故心中熱氣熏灼。如啖蒜狀。一如懊憹之無奈也。且其脈當浮弱。其色雖黑當微黃。必不如女勞癉之色純黑而脈必沉也。</p>
<p>師曰。病黃癉。發熱煩渴。胸滿口燥者。以病發時火劫其汗。兩熱所得。然黃家所得。從濕得之。一身盡發熱而黃。肚熱。熱在裡。當下之。</p>
<p>煩滿燥渴。病發於熱。而復以火劫之。以熱遇熱。相得不解。則發黃癉。然非內兼濕邪。則熱與熱相攻。而反相散矣。何癉病之有哉。故曰黃家所得。從濕得之。明其病之不獨因於熱也。而治此病者。必先審其在表在裡。而施或汗或下之法。若一身盡熱而腹熱尤甚。則其熱為在裡。里不可從表散。故曰當下。</p>
<p>脈沉。渴欲飲水。小便不利者。皆發黃。腹滿。舌痿黃。躁不得睡。屬黃家。</p>
<p>脈沉者。熱難外泄。小便不利者。熱不下出。而渴飲之水。與熱相得。適足以蒸郁成黃而已。脾之脈。連舌本。散舌下。腹滿舌痿。脾不行矣。脾不行者有濕。躁不得睡者有熱。熱濕相搏。則黃癉之候也。</p>
<p>黃癉之病。當以十八日為期。治之十日以上瘥。反劇為難治。</p>
<p>土無定位。寄王於四季之末各十八日。黃者土氣也。內傷於脾。故即以土王之數。為黃病之期。蓋謂十八日脾氣至而虛者當復。即實者亦當通也。治之十日以上瘥者。邪淺而正勝之則易治。否則邪反勝正而增劇。所謂病勝臟者也。故難治。</p>
<p>癉而渴者。其癉難治。癉而不渴者。其癉可治。發於陰部。其人必嘔。陽部。其人振寒而發熱也。</p>
<p>癉而渴。則熱方熾而濕且日增。故難治。不渴。則熱已減而濕亦自消。故可治。陰部者。里之臟腑。關於氣。故嘔。陽部者。表之軀殼。屬於形。故振寒而發熱。此陰陽內外淺深微甚之辨也。</p>
<p>谷癉之病。寒熱不食。食即頭眩。心胸不安。久久發黃為谷癉。茵陳蒿湯主之。</p>
<p>谷癉為陽明濕熱瘀郁之證。陽明既郁。營衛之源。壅而不利。則作寒熱。健運之機。窒而不用。則為不食。食入則適以助濕熱而增逆滿。為頭眩心胸不安而已。茵陳、梔子、大黃。苦寒通泄。使濕熱從小便出也。</p>
<p><u>茵陳蒿湯方</u></p>
<p>茵陳蒿（六兩）　梔子（十四枚）　大黃（二兩）　</p>
<p>上三味。以水一斗。先煮茵陳。減六升。內二味。煮取三升。去滓。分溫三服。小便當利。尿如皂角汁狀。色正赤。一宿腹減。黃從小便去也。</p>
<p>黃家日晡所發熱而反惡寒。此為女勞得之。膀胱急。少腹滿。身盡黃。額上黑。足下熱。因作黑癉。其腹脹如水狀。大便必黑。時溏。此女勞之病。非水病也。腹滿者難治。硝石礬石散主之。</p>
<p>黃家日晡所本當發熱。乃不發熱而反惡寒者。此為女勞腎熱所致。與酒癉、谷癉不同。酒癉、谷癉熱在胃。女勞癉熱在腎。胃淺而腎深。熱深則外反惡寒也。膀胱急。額上黑。足下熱。大便黑。皆腎熱之徵。雖少腹滿脹。有如水狀。而實為腎熱而氣內蓄。非脾濕而水不行也。惟是證兼腹滿。則陽氣並傷。而其治為難耳。硝石鹹寒除熱。礬石除痼熱在骨髓。骨與腎合。用以清腎熱也。大麥粥和服。恐傷胃也。</p>
<p><u>硝石礬石散方</u></p>
<p>硝石（熬黃）　礬石（燒等分）　</p>
<p>上二味為散。大麥粥汁和服方寸匕。日三服。病隨大小便去。小便正黃。大便正黑。是其候也。</p>
<p>酒癉心中懊憹。或熱痛。梔子大黃湯主之。</p>
<p>酒家熱積而成實。為心中懊憹。或心中熱痛。梔子、淡豉徹熱於上。枳實、大黃除實於中。亦上下分消之法也。</p>
<p><u>梔子大黃湯方</u></p>
<p>梔子（十四枚）　大黃（二兩）　枳實（五枚）　豉（一升）　</p>
<p>上四味。以水六升。煮取二升。分溫三服。</p>
<p>諸病黃家。但利其小便。假令脈浮。當以汗解之。宜桂枝加黃耆湯主之。</p>
<p>小便利。則濕熱除而黃自已。故利小便為黃家通法。然脈浮則邪近在表。宜從汗解。亦脈浮者先吐之之意。但本無外風而欲出汗。則桂枝發散之中。必兼黃耆固衛。斯病去而表不傷。抑亦助正氣以逐邪氣也。</p>
<p><u>桂枝加黃耆湯方</u>（見水氣）</p>
<p>諸黃。豬膏發煎主之。</p>
<p>此治黃癉不濕而燥者之法。按傷寒類要云。男子女人黃癉。飲食不消。胃脹。熱生黃衣。在胃中有燥屎使然。豬膏煎服則愈。蓋濕熱經久。變為堅燥。譬如𨠭麴，熱久則濕去而干也。本草豬脂利血脈。解風熱。亂髮消瘀。開關格。利水道。故曰病從小便出。</p>
<p><u>豬膏發煎方</u></p>
<p>豬膏（半斤）　亂髮（如雞子大三枚）　</p>
<p>上二味。和膏中煎之。發消藥成。分再服。病從小便出。千金云。太醫校尉史脫家婢黃病。服此。胃中燥糞下。便瘥。神驗。</p>
<p>黃癉病。茵陳五苓散主之。</p>
<p>此正治濕熱成癉者之法。茵陳散結熱。五苓利水去濕也。</p>
<p><u>茵陳五苓散方</u></p>
<p>茵陳（十分末）　五苓散（五分）　</p>
<p>上二味和。先食飲服方寸匕。日三服。</p>
<p>黃癉腹滿。小便不利而赤。自汗出。此為表和裡實。當下之。宜大黃硝石湯。</p>
<p>腹滿小便不利而赤為裡實。自汗出為表和。大黃硝石。亦下熱去實之法。視梔子大黃及茵陳蒿湯較猛也。</p>
<p><u>大黃硝石湯方</u></p>
<p>大黃　黃柏　硝石（各四兩）　梔子（十五枚）　</p>
<p>上四味。以水六升。煮取二升。去滓。內硝更煮。取一升。頓服。</p>
<p>黃癉病小便色不變。欲自利。腹滿而喘。不可除熱。熱除必噦。噦者小半夏湯主之。</p>
<p>便清自利。內無熱徵。則腹滿非裡實。喘非氣盛矣。雖有癉熱。亦不可以寒藥攻之。熱氣雖除。陽氣則傷。必發為噦。噦、呃逆也。魏氏謂胃陽為寒藥所墜。欲升而不能者是也。小半夏溫胃止噦。噦止然後溫理中臟。使氣盛而行健。則喘滿除。黃病去。非小半夏能治癉也。</p>
<p><u>小半夏湯方</u>（見痰飲）</p>
<p>諸黃。腹痛而嘔者。宜柴胡湯。</p>
<p>腹痛而嘔。病在少陽。脾胃病者。木邪易張也。故以小柴胡散邪氣。止痛嘔。亦非小柴胡能治諸黃也。</p>
<p><u>柴胡湯方</u>（即小柴胡湯見嘔吐）</p>
<p>男子黃。小便自利。當與虛勞小建中湯。</p>
<p>小便利者。不能發黃。以熱從小便去也。今小便利而黃不去。知非熱病。乃土虛而色外見。宜補中而不可除熱者也。夫黃癉之病。濕熱所郁也。故在表者汗而發之。在裡者攻而去之。此大法也。乃亦有不濕而燥者。則變清利為潤導。如豬膏發煎之治也。不熱而寒。不實而虛者。則變攻為補。變寒為溫。如小建中之法也。其有兼證錯出者。則先治兼證而後治本證。如小半夏及小柴胡之治也。仲景論黃癉一證。而於正變虛實之法。詳盡如此。其心可謂盡矣。</p>
<p><u>附方</u></p>
<p><u>瓜蒂散</u>　治諸黃。（方見暍）</p>
<p>按刪繁方云。服訖。吐出黃汁。亦治脈浮欲吐者之法也。</p>
<p><u>千金麻黃醇酒湯</u>　治黃癉。</p>
<p>麻黃（三兩）</p>
<p>上一味。以美酒五升。煮取二升半。頓服盡。冬月用酒。春月用水煮之。</p>

<h2>驚悸吐衄下血胸滿瘀血病脈證治第十六</h2>
<p>寸口脈動而弱。動即為驚。弱則為悸。</p>
<p>驚則氣亂。故脈動。悸屬裡虛。故脈弱。動即為驚者。因驚而脈動。病從外得。弱則為悸者。因弱而為悸。病自內生。其動而且弱者。則內已虛。而外復干之也。</p>
<p>師曰。尺脈浮。目睛暈黃。衄未止。暈黃去。目睛慧了。知衄今止。</p>
<p>尺脈浮。知腎有遊火。目睛暈黃。知肝有蓄熱。衄病得此。則未欲止。蓋血為陰類。為腎肝之火熱所逼而不守也。若暈黃去。目睛且慧了。知不獨肝熱除。腎熱亦除矣。故其衄今當止。</p>
<p>又曰。從春至夏衄者太陽。從秋至冬衄者陽明。</p>
<p>血從陰經並衝任而出者則為吐。從陽經並督脈而出者則為衄。故衄病皆在陽經。但春夏陽氣浮。則屬太陽。秋冬陽氣伏。則屬陽明為異耳。所以然者。就陰陽言。則陽主外。陰主內。就三陽言。則太陽為開。陽明為闔。少陽之脈不入鼻額。故不主衄也。</p>
<p>或問衄皆在陽是已。然所謂尺脈浮。目睛暈黃者。非陰中事乎。曰前所謂尺脈浮。目睛暈黃者。言火自陰中出。非言衄自陰中來也。此所謂太陽、陽明者。言衄所從出之路也。誰謂病之在陽者。不即為陰之所迫而然耶。</p>
<p>衄家不可汗。汗出必額上陷。脈緊急。直視不能眴。不得眠。</p>
<p>血與汗皆陰也。衄家復汗。則陰重傷矣。脈者血之府。額上陷者。額上兩旁之動脈。因血脫於上而陷下不起也。脈緊急者。寸口之脈。血不榮而失其柔。如木無液而枝乃勁也。直視不眴不眠者。陰氣亡則陽獨勝也。經云。奪血者無汗。此之謂夫。</p>
<p>病人面無色。無寒熱。脈沉弦者衄。脈浮弱。手按之絕者下血。煩咳者必吐血。</p>
<p>面無色。血脫者色白不澤也。無寒熱。病非外感也。衄因外感者。其脈必浮大。陽氣重也。衄因內傷者。其脈當沉弦。陰氣厲也。雖與前尺脈浮不同。其為陰之不靖則一也。若脈浮弱。按之絕者。血下過多。而陰脈不充也。煩咳者。血從上溢。而心肺焦燥也。此皆病成而後見之診也。</p>
<p>夫吐血。咳逆上氣。其脈數而有熱。不得臥者死。</p>
<p>脈數身熱。陽獨勝也。吐血咳逆上氣不得臥。陰之爍也。以既爍之陰。而從獨勝之陽。有不盡不已之勢。故死。</p>
<p>夫酒客咳者。必致吐血。此因極飲過度所致也。</p>
<p>酒之熱毒。積於胃而熏於肺則咳。久之肺絡熱傷。其血必隨咳而吐出。云此因極飲過度所致者。言當治其酒熱。不當治其血也。</p>
<p>寸口脈弦而大。弦則為減。大則為芤。減則為寒。芤則為虛。虛寒相搏。此名為革。婦人則半產漏下。男子則亡血。</p>
<p>此條已見虛勞病中。仲景復舉之者。蓋謂亡血之證。有從虛寒得之者耳。</p>
<p>亡血不可發其表。汗出即寒慄而振。</p>
<p>亡血者亡其陰也。更發其表。則陽亦傷矣。陽傷者外不固。故寒慄。陰亡者內不守。故振振動搖。前衄血復汗。為竭其陰。此則並亡其陽。皆所謂粗工嘻嘻者也。</p>
<p>病人胸滿唇痿。舌青口燥。但欲漱水不欲咽。無寒熱。脈微大來遲。腹不滿。其人言我滿。為有瘀血。病者如有熱狀。煩滿。口乾燥而渴。其脈反無熱。此為陰伏。是瘀血也。當下之。</p>
<p>此二條。辨瘀血之見證。胸滿者。血瘀而氣為之不利也。唇痿舌青。血不榮也。口燥欲漱水者。血結則氣燥也。無寒熱。病不由表也。脈微大來遲。血積經隧。則脈澀不利也。腹不滿。其人言我滿。外無形而內實有滯。知其血積在陰。而非氣壅在陽也。故曰為有瘀血。</p>
<p>如有熱狀。即下所謂煩滿口乾燥而渴也。脈無熱。不數大也。有熱證而無熱脈。知為血瘀不流。不能充澤所致。故曰此為陰伏。陰伏者。陰邪結而伏於內也。故曰當下。</p>
<p>火邪者。桂枝去芍藥加蜀漆牡蠣龍骨救逆湯主之。</p>
<p>此但舉火邪二字。而不詳其證。按傷寒論云。傷寒脈浮。醫以火迫劫之。亡陽。必驚狂。起臥不安。又曰。太陽病。以火熏之。不得汗。其人必躁。到經不解。必圊血。名為火邪。仲景此條。殆為驚悸下血備其證歟。桂枝湯去芍藥之酸。加蜀漆之辛。蓋欲使火氣與風邪一時並散。而無少有留滯。所謂從外來者。驅而出之於外也。龍骨、牡蠣。則收斂其浮越之神與氣爾。</p>
<p><u>桂枝去芍藥加蜀漆牡蠣龍骨救逆湯方</u></p>
<p>桂枝（三兩去皮）　甘草（二兩炙）　龍骨（四兩）　牡蠣（五兩熬）　生薑（三兩）　大棗（十二枚）　蜀漆（三兩洗去腥）　</p>
<p>上為末。以水一斗二升。先煮蜀漆。減二升。內諸藥。煮取三升。去滓。溫服一升。</p>
<p>心下悸者。半夏麻黃丸主之。</p>
<p>此治飲氣抑其陽氣者之法。半夏蠲飲氣。麻黃髮陽氣。妙在作丸與服。緩以圖之。則麻黃之辛甘。不能發越津氣。而但升引陽氣。即半夏之苦辛。亦不特蠲除飲氣。而並和養中氣。非仲景神明善變者。其孰能與於此哉。</p>
<p><u>半夏麻黃丸方</u></p>
<p>半夏　麻黃（各等分）　</p>
<p>上二味末之。煉蜜和丸小豆大。飲服三丸。日三服。</p>
<p>吐血不止者。柏葉湯主之。</p>
<p>按、仁齋直指云。血遇熱則宣行。故止血多用涼藥。然亦有氣虛挾寒。陰陽不相為守。營氣虛散。血亦錯行者。此乾薑、艾葉之所以用也。而血既上溢。其浮盛之勢。又非溫藥所能御者。故以柏葉抑之使降。馬通引之使下。則妄行之血順而能下。下而能守矣。</p>
<p><u>柏葉湯方</u></p>
<p>柏葉　乾薑（各三兩）　艾（三把）　</p>
<p>上三味。以水五升。取馬通汁一升。合煮取一升。分溫再服。千金加阿膠三兩。亦佳。</p>
<p>下血、先便後血。此遠血也。黃土湯主之。</p>
<p>下血先便後血者。由脾虛氣寒。失其統御之權。而血為之不守也。脾去肛門遠。故曰遠血。黃土溫燥入脾。合白朮、附子。以復健行之氣。阿膠、生地黃、甘草。以益脫竭之血。而又慮辛溫之品。轉為血病之厲。故又以黃芩之苦寒。防其太過。所謂有制之師也。</p>
<p><u>黃土湯方</u></p>
<p>甘草　乾地黃　白朮　附子　阿膠　黃芩（各三兩）　灶中黃土（半斤）　</p>
<p>上七味。以水八升。煮取三升。分溫二服。</p>
<p>下血、先血後便。此近血也。赤豆當歸散主之。（方見狐惑）</p>
<p>下血先血後便者。由大腸傷於濕熱。而血滲於下也。大腸與肛門近。故曰近血。赤小豆能行水濕。解熱毒。當歸引血歸經。且舉血中陷下之氣也。</p>
<p>心氣不足。吐血衄血。瀉心湯主之。</p>
<p>心氣不足者。心中之陰氣不足也。陰不足則陽獨盛。血為熱迫。而妄行不止矣。大黃、黃連、黃芩。瀉其心之熱而血自寧。寇氏云。若心氣獨不足。則當不吐衄也。此乃邪熱因不足而客之。故令吐衄。以苦泄其熱。以苦補其心。蓋一舉而兩得之。此說亦通。濟眾方用大黃、生地汁治衄血。其下熱涼血。亦瀉心湯類耳。</p>
<p><u>瀉心湯方</u></p>
<p>大黃（二兩）　黃連　黃芩（各一兩）　</p>
<p>上三味。以水三升。煮取一升。頓服之。</p>

<h2>嘔吐噦下利病脈證治第十七</h2>
<p>夫嘔家有癰膿。不可治嘔。膿儘自愈。</p>
<p>癰膿。胃中有癰。膿從嘔出也。是因癰膿而嘔。膿盡癰已。則嘔自愈。不可概以止吐之藥治之也。</p>
<p>先嘔卻渴者。此為欲解。先渴卻嘔者。為水停心下。此屬飲家。嘔家本渴。今反不渴者。心下有支飲故也。此屬支飲。</p>
<p>嘔家必有停痰宿水。先嘔卻渴者。痰水已去。而胃陽將復也。故曰此為欲解。先渴卻嘔者。因熱飲水過多。熱雖解而飲旋積也。此嘔因積飲所致。故曰此屬飲家。嘔家本渴。水從嘔去故也。今反不渴者。以宿有支飲在心下。愈動而愈出也。故曰此屬支飲。</p>
<p>問曰。病人脈數。數為熱。當消穀引飲。而反吐者。何也。師曰。以發其汗。令陽微膈氣虛。脈乃數。數為客熱。不能消穀。胃中虛冷故也。脈弦者虛也。胃氣無餘。朝食暮吐。變為胃反。寒在於上。醫反下之。令脈反弦。故名曰虛。</p>
<p>脈數為熱。乃不能消穀引飲而反吐者。以發汗過多。陽微膈虛所致。則其數為客熱上浮之數。而非胃實氣熱之數矣。客熱如客之寄。不久即散。故不能消穀也。脈弦為寒。乃不曰寒而曰虛者。以寒在於上。而醫反下之所致。故其弦非陰寒外加之弦。而為胃虛生寒之弦矣。胃虛且寒。陽氣無餘。則朝食暮吐而變為胃反也。讀此知數脈弦脈。均有虛候。曰熱曰寒。蓋淺之乎言脈者耳。</p>
<p>寸口脈微而數。微則無氣。無氣則營虛。營虛則血不足。血不足則胸中冷。</p>
<p>此因數為客熱。而推言脈微而數者。為無氣而非有熱也。氣者營之主。故無氣則營虛。營者血之源。故營虛則血不足。營衛俱虛則胸中之積而為宗氣者少矣。故胸中冷。</p>
<p>合上二條言之。客熱固非真熱。不可以寒治之。胸中冷亦非真冷。不可以熱治之。是皆當以溫養真氣為主。真氣、沖和純粹之氣。此氣浮則生熱。沉則生冷。溫之則浮焰自收。養之則虛冷自化。若熱以寒治。寒以熱治。則真氣愈虛。寒熱內賊。而其病益甚矣。</p>
<p>趺陽脈浮而澀。浮則為虛。澀則傷脾。脾傷則不磨。朝食暮吐。暮食朝吐。宿穀不化。名曰胃反。脈緊而澀。其病難治。</p>
<p>此因胃氣無餘。變為胃反。而推言其病之並在於脾也。夫胃為陽。脾為陰。浮則為虛者。胃之陽虛也。澀則傷脾者。脾之陰傷也。谷入於胃而運於脾。脾傷則不能磨。脾不磨則穀不化。而朝食者暮當下。暮食者朝當下。若穀不化。則不得下。不得下。必反而上出也。夫脾胃、土也。土德本緩。而脈反緊。則肝有餘。土氣本和。而脈反澀。則血不足。臟真不足。而賊邪有餘。故曰難治。</p>
<p>病人慾吐者。不可下之。</p>
<p>病人慾吐者。邪在上而氣方逆。若遽下之。病氣必與藥氣相爭。而正乃蒙其禍矣。否則裡虛邪入。病氣轉深。或痞或利。未可知也。故曰不可下之。</p>
<p>噦而腹滿。視其前後。知何部不利。利之愈。</p>
<p>噦而腹滿者。病在下而氣溢於上也。與病人慾吐者不同。故當視其前後二陰。知何部不利而利之。則病從下出。而氣不上逆。腹滿與噦俱去矣。</p>
<p>嘔而胸滿者。吳茱萸湯主之。</p>
<p>胸中、陽也。嘔而胸滿。陽不治而陰乘之也。故以吳茱萸散陰降逆。人參、薑、棗補中益陽氣。</p>
<p><u>吳茱萸湯方</u></p>
<p>吳茱萸（一升）　人參（三兩）　生薑（六兩）　大棗（十二枚）　</p>
<p>上四味。以水五升。煮取三升。溫服七合。日三服。</p>
<p>乾嘔吐涎沫。頭痛者。吳茱萸湯主之。</p>
<p>乾嘔吐涎沫。上焦有寒也。頭者諸陽之會。為陰寒之邪上逆而痛。故亦宜茱萸湯。以散陰氣而益陽氣。嘔而腸鳴。心下痞者。半夏瀉心湯主之。</p>
<p>邪氣乘虛。陷入心下。中氣則痞。中氣既痞。升降失常。於是陽獨上逆而嘔。陰獨下走而腸鳴。是雖三焦俱病。而中氣為上下之樞。故不必治其上下。而但治其中。黃連、黃芩苦以降陽。半夏、乾薑辛以升陰。陰升陽降。痞將自解。人參、甘草則補養中氣。以為交陰陽通上下之用也。</p>
<p><u>半夏瀉心湯方</u></p>
<p>半夏（半斤洗）　黃芩　乾薑　人參（各三兩）　甘草（三兩炙）　黃連（一兩）　大棗（十二枚）　</p>
<p>上七味。以水一斗。煮取六升。去滓。再煮取三升。溫服一升。日三服。</p>
<p>乾嘔而利者。黃芩加半夏生薑湯主之。</p>
<p>此傷寒熱邪入里作利。而復上行為嘔者之法。而雜病肝胃之火。上衝下注者。亦復有之。半夏、生薑。散逆於上。黃芩、芍藥。除熱於裡。上下俱病。中氣必困。甘草、大棗合芍藥、生薑。以安中而正氣也。</p>
<p><u>黃芩加半夏生薑湯方</u></p>
<p>黃芩　生薑（各三兩）　甘草（二兩）　芍藥（一兩）　半夏（半升）　大棗（十二枚）　</p>
<p>上六味。以水一斗。煮取三升。去滓。溫服一升。日再夜一服。</p>
<p>諸嘔吐。谷不得下者。小半夏湯主之。</p>
<p>嘔吐谷不得下者。胃中有飲。隨氣上逆。而阻其谷入之路也。故以半夏消飲。生薑降逆。逆止飲消。谷斯下矣。</p>
<p><u>小半夏湯方</u>（見痰飲）</p>
<p>嘔吐而病在膈上。後思水者解。急與之。思水者。豬苓散主之。</p>
<p>病在膈上。病膈間有痰飲也。後思水者。知飲已去。故曰欲解。即先嘔卻渴者。此為欲解之義。夫飲邪已去。津液暴竭。而思得水。設不得。則津亡而氣亦耗。故當急與。而嘔吐之餘。中氣未復。不能勝水。設過與之。則舊飲方去。新飲復生。故宜豬苓散以崇土而逐水也。</p>
<p><u>豬苓散方</u></p>
<p>豬苓　茯苓　白朮（各等分）　</p>
<p>上三味。杵為散。飲服方寸匕。日三服。</p>
<p>嘔而脈弱。小便複利。身有微熱。見厥者難治。四逆湯主之。</p>
<p>脈弱便利而厥。為內虛且寒之候。則嘔非火邪。而是陰氣之上逆。熱非實邪。而是陽氣之外越矣。故以四逆湯救陽驅陰為主。然陰方上衝。而陽且外走。其離決之勢。有未可即為順接者。故曰難治。或云。嘔與身熱為邪實。厥利脈弱為正虛。虛實互見。故曰難治。四逆湯舍其標而治其本也。亦通。</p>
<p><u>四逆湯方</u></p>
<p>附子（一枚生用）　乾薑（一兩半）　甘草（二兩炙）　</p>
<p>上二味。以水三升。煮取一升二合。去滓。分溫再服。強人可大附子一枚。乾薑三兩。</p>
<p>嘔而發熱者。小柴胡湯主之。</p>
<p>嘔而發熱。邪在少陽之經。欲止其嘔。必解其邪。小柴胡則和解少陽之正法也。</p>
<p><u>小柴胡湯方</u></p>
<p>柴胡（半斤）　半夏（一升）　黃芩　人參　甘草　生薑（各三兩）　大棗（十二枚）　</p>
<p>上七味。以水一斗。煮取六升。去滓。再煎取三升。溫服一升。日三服。</p>
<p>胃反。嘔吐者。大半夏湯主之。</p>
<p>胃反嘔吐者。胃虛不能消穀。朝食而暮吐也。又胃脈本下行。虛則反逆也。故以半夏降逆。人參、白蜜益虛安中。東垣云。辛藥生薑之類治嘔吐。但治上焦氣壅表實之病。若胃虛穀氣不行。胸中閉塞而嘔者。惟宜益胃推揚穀氣而已。此大半夏湯之旨也。</p>
<p><u>大半夏湯方</u></p>
<p>半夏（二升）　人參（三兩）　白蜜（一升）　</p>
<p>上三味。以水一斗二升。和蜜揚之二百四十遍。煮藥取二升半。溫服一升。余分再服。</p>
<p>食已即吐者。大黃甘草湯主之。</p>
<p>經云。清陽出上竅。濁陰出下竅。本乎天者親上。本乎地者親下也。若下既不通。必反上逆。所謂陰陽反作。氣逆不從。食雖入胃。而氣反出之矣。故以大黃通其大便。使濁氣下行濁道。而嘔吐自止。不然。止之降之無益也。東垣通幽湯治幽門不通。上衝吸門者。亦是此意。但有緩急之分耳。</p>
<p>再按、經云。陽氣者閉塞。地氣者冒明。雲霧不精。則上應白露不下。夫陽氣、天氣也。天氣閉。則地氣干矣。雲霧出於地。而雨露降於天。地不承。則天不降矣。可見天地陰陽。同此氣機。和則俱和。乖則並乖。人與天地相參。故肺氣象天。病則多及二陰脾胃。大小腸象地。病則多及上竅。丹溪治小便不通。用吐法以開提肺氣。使上竅通而下竅亦通。與大黃甘草湯之治嘔吐。法雖異而理可通也。</p>
<p><u>大黃甘草湯方</u></p>
<p>大黃（四兩）　甘草（一兩）</p>
<p>上二味。以水三升。煮取一升。分溫再服。</p>
<p>胃反。吐而渴欲飲水者。茯苓澤瀉湯主之。</p>
<p>豬苓散治吐後飲水者。所以崇土氣。勝水氣也。茯苓澤瀉湯治吐未已。而渴欲飲水者。以吐未已。知邪未去。則宜桂枝、甘、姜散邪氣。苓、朮、澤瀉消水氣也。</p>
<p><u>茯苓澤瀉湯方</u></p>
<p>茯苓（半斤）　澤瀉（四兩）　甘草　桂枝（各二兩）　白朮（三兩）　生薑（四兩）　</p>
<p>上六味。以水一斗。煮取三升。內澤瀉。再煮取二升半。溫服八合。日三服。</p>
<p>吐後。渴欲得水而貪飲者。文蛤湯主之。兼主微風。脈緊頭痛。</p>
<p>吐後水去熱存。渴欲得水。與前豬苓散證同。雖復貪飲。亦止熱甚而然耳。但與除熱導水之劑足矣。乃復用麻黃、杏仁等發表之藥者。必兼有客邪鬱熱於肺。不解故也。觀方下云。汗出即愈。可以知矣。曰兼主微風脈緊頭痛者。以麻、杏、甘、石。本擅驅風發表之長耳。</p>
<p><u>文蛤湯方</u></p>
<p>文蛤（五兩）　麻黃　甘草　生薑（各三兩）　石膏（五兩）　杏仁（五十粒）　大棗（十二枚）　</p>
<p>上七味。以水六升。煮取二升。溫服一升。汗出即愈。</p>
<p>乾嘔吐逆。吐涎沫。半夏乾薑散主之。</p>
<p>乾嘔吐逆。胃中氣逆也。吐涎沫者。上焦有寒。其口多涎也。與前乾嘔吐涎沫頭痛不同。彼為厥陰陰氣上逆。此是陽明寒涎逆氣不下而已。故以半夏止逆消涎。乾薑溫中和胃。漿水甘酸。調中引氣止嘔噦也。</p>
<p><u>半夏乾薑散方</u></p>
<p>半夏　乾薑（各等分）　</p>
<p>上二味。杵為散。取方寸匕。漿水一升半。煮取七合。頓服之。</p>
<p>病人胸中似喘不喘。似嘔不嘔。似噦不噦。徹心中憒憒然無奈者。生薑半夏湯主之。</p>
<p>寒邪搏飲。結於胸中而不得出。則氣之呼吸往來。出入升降者阻矣。似喘不喘。似嘔不嘔。似噦不噦。皆寒飲與氣。相搏互擊之證也。且飲、水邪也。心、陽臟也。以水邪而逼處心臟。欲卻不能。欲受不可。則徹心中憒憒然無奈也。生薑半夏湯。即小半夏湯。而生薑用汁。則降逆之力少。而散結之力多。乃正治飲氣相搏。欲出不出者之良法也。</p>
<p><u>生薑半夏湯方</u></p>
<p>半夏（半升）　生薑（汁一升）　</p>
<p>上二味。以水三升。煮半夏。取二升。內生薑汁。煮取一升半。小冷分四服。日三夜一。嘔止。停後服。</p>
<p>乾嘔噦。若手足厥者。橘皮湯主之。</p>
<p>乾嘔噦非反胃。手足厥非無陽。胃不和。則氣不至於四肢也。橘皮和胃氣。生薑散逆氣。氣行胃和。嘔噦與厥自已。未可便認陽虛而遽投溫補也。</p>
<p><u>橘皮湯方</u></p>
<p>橘皮（四兩）　生薑（半斤）　</p>
<p>上二味。以水七升。煮取三升。溫服一升。下咽即愈。</p>
<p>噦逆者。橘皮竹茹湯主之。</p>
<p>胃虛而熱乘之。則作噦逆。橘皮、生薑。和胃散逆。竹茹除熱止嘔噦。人參、甘草、大棗。益虛安中也。</p>
<p><u>橘皮竹茹湯方</u></p>
<p>橘皮（二斤）　竹茹（二升）　大棗（三十枚）　生薑（半斤）　甘草（五兩）　人參（一兩）　</p>
<p>上六味。以水一斗。煮取三升。溫服一升。日三服。</p>
<p>夫六腑氣絕於外者。手足寒。上氣腳縮。五臟氣絕於內者。利不禁。下甚者手足不仁。</p>
<p>六腑為陽。陽者主外。陽絕不通於外。為手足寒。陽不外通。則並而上行。為上氣腳縮也。五臟為陰。陰者主內。陰絕不守於內。則下利不禁。甚者不交於陽。而隧道痹閉。為手足不仁也。</p>
<p>下利脈沉弦者下重。脈大者為未止。脈微弱數者為欲自止。雖發熱不死。</p>
<p>沉為里為下。沉中見弦。為少陽之氣滯於下而不得越。故下重。大為邪盛。又大則病進。故為未止。徐氏曰。微弱者。正衰邪亦衰也。數為陽脈。於微弱中見之。則為陽氣將復。故知利慾自止。雖有身熱。勢必自已。不得比於下利熱不止者死之例也。</p>
<p>下利手足厥冷。無脈者。灸之不溫。若脈不還。反微喘者死。少陰負趺陽者為順也。</p>
<p>下利厥冷無脈。陰亡而陽亦絕矣。灸之所以引既絕之陽。乃厥不回。脈不還。而反微喘。殘陽上奔。大氣下脫。故死。下利為土負水勝之病。少陰負趺陽者。水負而土勝也。故曰順。</p>
<p>下利有微熱而渴。脈弱者令自愈。下利脈數。有微熱。汗出。令自愈。設脈緊為未解。下利脈數而渴者。令自愈。設不瘥。必圊膿血。以有熱故也。下利脈反弦。發熱身汗者愈。</p>
<p>微熱而渴者。胃陽復也。脈弱者。邪氣衰也。正復邪衰。故令自愈。脈數、亦陽復也。微熱汗出者。氣方振而勢外達。亦為欲愈之候。設脈緊則邪尚盛。必能與正相爭。故為未解。脈數而渴。陽氣已復。亦下利有微熱而渴之意。然脈不弱而數。則陽之復者已過。陰寒雖解。而熱氣轉增。將更傷陰而圊膿血也。弦脈陰陽兩屬。若與發熱身汗並見。則弦亦陽也。與脈數有微熱汗出正同。故愈。</p>
<p>按、上數條。皆是傷寒邪氣入里之候。故或熱或渴。或汗出。或脈數。陽氣既復。邪氣得達則愈。若雜病濕熱下利之證。則發熱口渴脈數。均非美證。內經云。下利身熱者死。仲景云。下利手足不逆冷。反發熱者不死。蓋內經所言者。雜病濕熱下利之證。仲景所言者。傷寒陰邪內入之證。二者不可不分也。</p>
<p>下利氣者。當利其小便。</p>
<p>下利氣者。氣隨利失。即所謂氣利是也。小便得利。則氣行於陽。不行於陰而愈。故曰當利其小便。喻氏所謂急開支河者是也。</p>
<p>下利寸脈反浮數。尺中自澀者。必圊膿血。</p>
<p>寸浮數者。陽邪強也。尺中澀者。陰氣弱也。以強陽而加弱陰。必圊膿血。</p>
<p>下利清穀。不可攻其表。汗出必脹滿。</p>
<p>清與圊同。即完穀也。是為裡虛氣寒。乃不溫養中土。而反攻令汗出。則陽氣重虛。陽虛者。氣不化。故脹滿。</p>
<p>下利脈沉而遲。其人面少赤。身有微熱。下利清穀者。必鬱冒汗出而解。病人必微厥。所以然者。其面戴陽。下虛故也。</p>
<p>喻氏曰。下利脈沉遲。而面少赤。身微熱者。陰盛而格陽在上在外也。若其人陽尚有根。其格出者。終必復返。陽返而陰未肯降。必鬱冒少頃。然後陽勝而陰出為汗。陰出為汗。陰邪乃解。自不下利矣。陽入陰出。儼有龍戰於野。其血玄黃之象。病人能無微厥乎。</p>
<p>下利後脈絕。手足厥冷。晬時脈還。手足溫者生。脈不還者死。</p>
<p>下利後脈絕。手足厥冷者。陰先竭而陽後脫也。是必俟其晬時經氣一周。其脈當還。其手足當溫。設脈不還。其手足亦必不溫。則死之事也。</p>
<p>下利後腹脹滿。身體疼痛者。先溫其里。乃攻其表。溫里宜四逆湯。攻表宜桂枝湯。</p>
<p>下利腹脹滿。里有寒也。身體疼痛。表有邪也。然必先溫其里。而後攻其表。所以然者。裡氣不充。則外攻無力。陽氣外泄。則裡寒轉增。自然之勢也。而四逆用生附。則寓發散於溫補之中。桂枝有甘、芍。則兼固里於散邪之內。仲景用法之精如此。</p>
<p><u>四逆湯方</u>（見上）　</p>
<p><u>桂枝湯方</u></p>
<p>桂枝　白芍　生薑（各三兩）　甘草（二兩）　大棗（十二枚）　</p>
<p>上五味。㕮咀。以水七升。微火煮。取三升。去滓。適寒溫。服一升。服已須臾。啜稀熱粥一升。以助藥力。溫覆令一時許。遍身漐漐微似有汗者益佳。不可令如水流漓。病必不除。若一服汗出病瘥。停後服。</p>
<p>下利三部脈皆平。按之心下堅者。急下之。宜大承氣湯。下利脈遲而滑者實也。利未欲止。急下之。宜大承氣湯。下利脈反滑者。當有所去。下乃愈。宜大承氣湯。下利已瘥。至其年月日時復發者。以病不盡故也。當下之。宜大承氣湯。</p>
<p>下利有裡虛臟脫者。亦有裡實腑閉者。昔人所謂利者不利是也。按之心下堅。其證的矣。脈雖不實大。而亦未見微弱。自宜急下。使實去則利止。通因通用之法也。脈遲為寒。然與滑俱見。則不為寒而反為實。以中實有物。能阻其脈行之機也。夫利因實而致者。實不去則利不已。故宜急下。病已瘥而至其時復發者。陳積在脾也。脾主信。故按期復發。是當下之。令陳積去。則病本拔而愈。</p>
<p><u>大承氣湯方</u>（見痙）</p>
<p>下利譫語者。有燥屎也。小承氣湯主之。</p>
<p>譫語者。胃實之徵。為有燥屎也。與心下堅脈滑者大同。然前用大承氣者。以因實而致利。去之惟恐不速也。此用小承氣者。以病成而適實。攻之恐傷及其正也。</p>
<p><u>小承氣湯方</u></p>
<p>大黃（四兩）　枳實（三枚）　厚朴（三兩炙）　</p>
<p>上三味。以水四升。煮取一升二合。去滓。分溫二服。得利則止。</p>
<p>下利便膿血者。桃花湯主之。</p>
<p>此治濕寒內淫。臟氣不固。膿血不止者之法。赤石脂理血固脫。乾薑溫胃驅寒。粳米安中益氣。崔氏去粳米加黃連、當歸。用治熱利。乃桃花湯之變法也。</p>
<p><u>桃花湯方</u></p>
<p>赤石脂（一斤一半全用一半篩末）　乾薑（一兩）　粳米（一升）　</p>
<p>上三味。以水七升。煮米熟去滓。溫服七合。內赤石脂末方寸匕。日三服。若一服愈。余勿服。</p>
<p>熱利下重者。白頭翁湯主之。</p>
<p>此治濕熱下注。及傷寒熱邪入里作利者之法。白頭翁湯苦以除濕。寒以勝熱也。</p>
<p><u>白頭翁湯方</u></p>
<p>白頭翁　黃連　黃柏　秦皮（各三兩）　</p>
<p>上四味。以水七升。煮取三升。去滓。溫服一升。不愈更服。</p>
<p>下利後更煩。按之心下濡者。為虛煩也。梔子豉湯主之。</p>
<p>下利後更煩者。熱邪不從下減。而復上動也。按之心下濡。則中無阻滯可知。故曰虛煩。香豉、梔子。能撤熱而除煩。得吐則熱從上出而愈。因其高而越之之意也。</p>
<p><u>梔子豉湯方</u></p>
<p>梔子（十四枚擘）　香豉（四合綿裹）　</p>
<p>上二味。以水四升。先煮梔子。得二升半。內豉。煮取一升半。去滓。分二服。溫進一服。得吐則愈。</p>
<p>下利清穀。裡寒外熱。汗出而厥。通脈四逆湯主之。</p>
<p>挾熱下利者。久則必傷脾陰。中寒清穀者。甚則並傷腎陽。裡寒外熱。汗出而厥。有陰內盛而陽外亡之象。通脈四逆。即四逆加乾薑一倍。所謂進而求陽。以收散亡之氣也。</p>
<p><u>通脈四逆湯方</u></p>
<p>附子（一枚生用）　乾薑（三兩強人可四兩）　甘草（二兩炙）　</p>
<p>上三味。以水三升。煮取一升二合。去滓。分溫再服。</p>
<p>下利肺痛。紫參湯主之。</p>
<p>趙氏曰。大腸與肺合。大抵腸中積聚。則肺氣不行。肺有所積。大腸亦不固。二害互為病。大腸病而氣塞於肺者痛。肺有積者亦痛。痛必通用。紫參通九竅。利大小腸。氣通則痛愈。積去則利自止。喻氏曰。後人有疑此非仲景之方者。夫詎知腸胃有病。其所關全在肺氣耶。程氏疑是腹痛。本草云。紫參治心腹積聚。寒熱邪氣。</p>
<p><u>紫參湯方</u></p>
<p>紫參（半斤）　甘草（三兩）　</p>
<p>上二味。以水五升。先煮紫參。取二升。內甘草。煮取一升半。分溫三服。</p>
<p>氣利。訶黎勒散主之。</p>
<p>氣利。氣與屎俱失也。訶黎勒澀腸而利氣。粥飲安中益腸胃。頓服者。補下治下。制以急也。</p>
<p><u>訶黎勒散方</u></p>
<p>訶黎勒（十枚煨）　</p>
<p>上一味為散。粥飲和頓服。</p>
<p><u>附方</u></p>
<p><u>千金翼小承氣湯</u>　治大便不通。噦數譫語。（方見上）</p>
<p><u>外臺黃芩湯</u>　治乾嘔下利。</p>
<p>黃芩　人參　乾薑（各三兩）　桂枝（一兩）　大棗（十二枚）　半夏（半升）　</p>
<p>上六味。以水七升。煮取三升。溫分三服。</p>
<p>此與前黃芩加半夏生薑湯治同。而無芍藥、甘草、生薑。有人參、桂枝、乾薑。則溫里益氣之意居多。凡中寒氣少者。可於此取法焉。其小承氣湯。即前下利譫語有燥屎之法。雖不贅可也。</p>

<h2>瘡癰腸癰浸淫病脈證並治第十八</h2>
<p>諸浮數脈。應當發熱。而反灑淅惡寒。若有痛處。當發其癰。師曰。諸癰腫。欲知有膿無膿。以手掩腫上。熱者為有膿。不熱者為無膿。</p>
<p>浮數脈皆陽也。陽當發熱。而反灑淅惡寒者。衛氣有所遏而不出也。夫衛主行營氣者也。而營過實者。反能阻遏其衛。若有痛處。則營之實者已兆。故曰當發其癰。癰腫之候。膿不成。則毒不化。而毒不聚。則膿必不成。故以手掩其腫上。熱者毒已聚。則有膿。不熱者毒不聚。則無膿也。</p>
<p>腸癰之為病。其身甲錯。腹皮急。按之濡。如腫狀。腹無積聚。身無熱。脈數。此為腸內有癰膿。薏苡附子敗醬散主之。</p>
<p>甲錯、肌皮乾起。如鱗甲之交錯。由營滯於中。故血燥於外也。腹皮急。按之濡。氣雖外鼓。而病不在皮間也。積聚為腫脹之根。脈數為身熱之候。今腹如腫狀而中無積聚。身不發熱而脈反見數。非腸內有癰。營郁成熱而何。薏苡破毒腫。利腸胃為君。敗醬一名苦菜。治暴熱火瘡。排膿破血為臣。附子則假其辛熱以行鬱滯之氣爾。</p>
<p><u>薏苡附子敗醬散方</u></p>
<p>薏苡仁（十分）　附子（二分）　敗醬（五分）　</p>
<p>上三味。杵為散。取方寸匕。以水二升。煎減半。頓服。小便當下。</p>
<p>腫癰者。少腹腫痞。按之即痛如淋。小便自調。時時發熱。自汗出。復惡寒。其脈遲緊者。膿未成。可下之。脈洪數者。膿已成。不可下也。大黃牡丹湯主之。</p>
<p>腫癰。疑即腸癰之在下者。蓋前之癰在小腸。而此之癰在大腸也。大腸居小腸之下。逼處膀胱。致小腹腫痞。按之即痛如淋。而實非膀胱為害。故仍小便自調也。小腸為心之合。而氣通於血脈。大腸為肺之合。而氣通於皮毛。故彼脈數身無熱。而此時時發熱。自汗出。復惡寒也。脈遲緊者。邪暴遏而營未變。云可下者。謂可下之令其消散也。脈洪數者。毒已聚而營氣腐。云不可下者。謂雖下之而亦不能消之也。大黃牡丹湯。腸癰已成未成。皆得主之。故曰有膿當下。無膿當下血。</p>
<p><u>大黃牡丹湯方</u></p>
<p>大黃（四兩）　牡丹（一兩）　桃仁（五十個）　冬瓜仁（半升）　芒硝（三合）　</p>
<p>上五味。以水六升。煮取一升。去滓。內芒硝。再煎沸。頓服之。有膿當下。如無膿當下血。</p>
<p>問曰。寸口脈浮微而澀。法當亡血若汗出。設不汗出者云何。曰若身有瘡。被刀斧所傷。亡血故也。</p>
<p>血與汗皆陰也。陰亡。則血流不行。而氣亦無輔。故脈浮微而澀也。經云。奪血者無汗。奪汗者無血。茲不汗出而身有瘡。則知其被刀斧所傷而亡其血。與汗出不止者。跡雖異而理則同也。</p>
<p>病金瘡。王不留行散主之。</p>
<p>金瘡。金刃所傷而成瘡者。經脈斬絕。營衛沮弛。治之者必使經脈復行。營衛相貫而後已。王不留行散。則行氣血和陰陽之良劑也。</p>
<p><u>王不留行散方</u></p>
<p>王不留行（十分八月八日採）　蒴藋細葉（十分七月七日採）　甘草（十八分）　黃芩（二分）　桑東南根白皮（十分三月三日採）　川椒（三分）　厚朴（二分）　乾薑（二分）　芍藥（二分）　</p>
<p>上九味。王不留行、蒴藋、桑皮三味。燒灰存性。各別杵篩。合治之為散。服方寸匕。小瘡即粉之。大瘡但服之。產後亦可服。如風寒。桑根勿取之。前三物陰乾百日。</p>
<p><u>排膿散方</u></p>
<p>枳實（十六枚）　芍藥（六分）　桔梗（二分）　</p>
<p>上三味。杵為散。取雞子黃一枚。以藥散與雞黃相等。揉和令相得。飲和服之。日一服。</p>
<p>枳實苦寒。除熱破滯為君。得芍藥則通血。得桔梗則利氣。而尤賴雞子黃之甘潤。以為排膿化毒之本也。</p>
<p><u>排膿湯方</u></p>
<p>甘草（二兩）　桔梗（三兩）　生薑（一兩）　大棗（十枚）　</p>
<p>上四味。以水三升。煮取一升。溫服五合。日再服。</p>
<p>此亦行氣血和營衛之劑。</p>
<p>浸淫瘡。從口起流向四肢者可治。從四肢流來入口者不可治。浸淫瘡。黃連粉主之。</p>
<p>浸淫瘡。義如臟腑經絡篇中。黃連粉方未見。大意以此為濕熱浸淫之病。故取黃連一味為粉粉之。苦以燥濕。寒以除熱也。</p>

<h2>趺蹶手指臂腫轉筋狐疝蛔蟲病脈證治第十九</h2>
<p>師曰。病趺蹶。其人但能前不能卻。刺腨入二寸。此太陽經傷也。</p>
<p>人身經絡。陽明行身之前。太陽行身之後。太陽傷。故不能卻也。太陽之脈。下貫腨內。刺之所以和利其經脈也。腨、足肚也。</p>
<p>病人常以手指臂腫動。此人身體瞤瞤者。藜蘆甘草湯主之。</p>
<p>濕痰凝滯關節則腫。風邪襲傷經絡則動。手指臂腫動。身體瞤瞤者。風痰在膈。攻走肢體。陳無擇所謂痰涎留在胸膈上下。變生諸病。手足項背。牽引釣痛。走易不定者是也。藜蘆吐上膈風痰。甘草亦能取吐。方雖未見。然大略是湧劑耳。（李氏）</p>
<p>轉筋之為病。其人臂腳直。脈上下行。微弦。轉筋入腹者。雞屎白散主之。</p>
<p>肝主筋。上應風氣。肝病生風。則為轉筋。其人臂腳直。脈上下行微弦。經云。諸暴強直。皆屬於風也。轉筋入腹者。脾土虛而肝木乘之也。雞為木畜。其屎反利脾氣。故取治是病。且以類相求。則尤易入也。</p>
<p><u>雞屎白散方</u></p>
<p>雞屎白為散。取方寸匕。以水六合。和溫服。</p>
<p>陰狐疝氣者。偏有小大。時時上下。蜘蛛散主之。</p>
<p>陰狐疝氣者。寒濕襲陰。而睪丸受病。或左或右。大小不同。或上或下。出沒無時。故名狐疝。蜘蛛有毒。服之能令人利。合桂枝辛溫入陰。而逐其寒濕之氣也。</p>
<p><u>蜘蛛散方</u></p>
<p>蜘蛛（十四枚熬焦）　桂枝（半兩）　</p>
<p>上二味為散。取八分一匕。飲和服。日再。蜜丸亦可。</p>
<p>問曰。病腹痛有蟲。其脈何以別之。師曰。腹中痛。其脈當沉若弦。反洪大。故有蛔蟲。</p>
<p>腹痛脈多伏。陽氣內閉也。或弦者。邪氣入中也。若反洪大。則非正氣與外邪為病。乃蛔動而氣厥也。然必兼有吐涎心痛等證。如下條所云。乃無疑耳。</p>
<p>蛔蟲之為病。令人吐涎心痛。發作有時。毒藥不止者。甘草粉蜜湯主之。</p>
<p>吐涎。吐出清水也。心痛。痛如咬齧。時時上下是也。發作有時者。蛔飽而靜。則痛立止。蛔飢求食。則痛復發也。毒藥。即錫粉、雷丸等殺蟲之藥。毒藥者。折之以其所惡也。甘草粉蜜湯者。誘之以其所喜也。白粉即鉛白粉。能殺三蟲。而雜於甘草、白蜜之中。誘使蟲食。甘味既盡。毒性旋發。而蟲患乃除。此醫藥之變詐也。</p>
<p><u>甘草粉蜜湯方</u></p>
<p>甘草（二兩）　白粉（一兩）　白蜜（四兩）　</p>
<p>上三味。以水三升。先煮甘草。取二升。去滓。內粉蜜。攪令和。煎如薄粥。溫服一升。瘥即止。</p>
<p>蛔厥者。當吐蛔。令病者靜而復時煩。此為臟寒。蛔上入其膈。故煩。須臾復止。得食而嘔。又煩者。蛔聞食臭出。其人當自吐蛔。蛔厥者。烏梅丸主之。</p>
<p>蛔厥。蛔動而厥。心痛吐涎。手足冷也。蛔動而上逆。則當吐蛔。蛔蹔安而復動。則病亦靜而復時煩也。然蛔之所以時安而時上者何也。蟲性喜溫。臟寒則蟲不安而上膈。蟲喜得食。臟虛則蛔復上而求食。故以人參、薑、附之屬。益虛溫胃為主。而以烏梅、椒、連之屬。苦酸辛氣味。以折其上入之勢也。</p>
<p><u>烏梅丸方</u></p>
<p>烏梅（三百個）　細辛（六兩）　乾薑（十兩）　黃連（一斤）　當歸　川椒（各四兩）　附子（炮）　桂枝　人參　黃柏（各六兩）　</p>
<p>上十味。異搗篩。合治之。以苦酒漬烏梅一宿。去核。蒸之五升米下。飯熟。搗成泥。和藥令相得。內曰中。與蜜杵二千下。丸如梧子大。先食飲服十丸。日三服。稍增至二十丸。禁生冷滑臭等物。</p>

<h2>婦人妊娠病脈證治第二十</h2>
<p>師曰。婦人得平脈。陰脈小弱。其人渴。不能食。無寒熱。名妊娠。桂枝湯主之。於法六十日當有此證。設有醫治逆者。卻一月加吐下者。則絕之。</p>
<p>平脈。脈無病也。即內經身有病而無邪脈之意。陰脈小弱者。初時胎氣未盛。而陰方受蝕。故陰脈比陽脈小弱。至三四月經血久蓄。陰脈始強。內經所謂手少陰脈動者妊子。千金所謂三月尺脈數是也。其人渴。妊子者內多熱也。一作嘔亦通。今妊婦二三月。往往惡阻不能食是已。無寒熱者。無邪氣也。夫脈無故而身有病。而又非寒熱邪氣。則無可施治。惟宜桂枝湯和調陰陽而已。徐氏云。桂枝湯外證得之。為解肌和營衛。內證得之。為化氣調陰陽也。六十日當有此證者。謂妊娠兩月。正當惡阻之時。設不知而妄治。則病氣反增。正氣反損。而嘔瀉有加矣。絕之謂禁絕其醫藥也。樓全善云。嘗治一二婦惡阻病吐。前醫愈治愈吐。因思仲景絕之之旨。以炒糯米湯代茶。止藥月餘漸安。</p>
<p>婦人宿有癥病。經斷未及三月。而得漏下不止。胎動在臍上者。此為癥痼害。妊娠六月動者。前三月經水利時。胎也。下血者。後斷三月衃也。所以血不止者。其癥不去故也。當下其癥。桂枝茯苓丸主之。</p>
<p>癥、舊血所積。為宿病也。癥痼害者。宿病之氣。害其胎氣也。於法妊娠六月。其胎當動。今未三月。胎不當動而忽動者。特以癥痼害之之故。是六月動者胎之常。三月動者胎之變也。夫癥病之人。其經月當不利。經不利。則不能受胎。茲前三月經水適利。胞宮淨而胎可結矣。胎結故經斷不復下。乃未三月而衃血仍下。亦以癥痼害之之故。是血留養胎者其常。血下不止者其變也。要之。其癥不去。則血必不守。血不守。則胎終不安。故曰當下其癥。桂枝茯苓丸。下癥之力。頗輕且緩。蓋恐峻厲之藥。將並傷其胎氣也。</p>
<p><u>桂枝茯苓丸方</u></p>
<p>桂枝　茯苓　丹皮　桃仁（去皮尖熬）　芍藥（各等分）　</p>
<p>上五味。末之。煉蜜丸如兔屎大。每日食前服一丸。不知。加至三丸。</p>
<p>婦人懷妊六七月。脈弦發熱。其胎愈脹。腹痛惡寒。少腹如扇。所以然者。子臟開故也。當以附子湯溫其臟。</p>
<p>脈弦發熱。有似表邪。而乃身不痛而腹反痛。背不惡寒而腹反惡寒。甚至少腹陣陣作冷。若或扇之者然。所以然者。子臟開不能合。而風冷之氣乘之也。夫臟開風入。其陰內勝。則其脈弦為陰氣。而發熱且為格陽矣。胎脹者。胎熱則消。寒則脹也。附子湯方未見。然溫里散寒之意。概可推矣。</p>
<p>師曰。婦人有漏下者。有半產後因續下血。都不絕者。有妊娠下血者。假令妊娠腹中痛為胞阻。膠艾湯主之。</p>
<p>婦人經水淋瀝。及胎產前後下血不止者。皆衝任脈虛。而陰氣不能守也。是惟膠艾湯為能補而固之。中有芎、歸。能於血中行氣。艾葉利陰氣。止痛安胎。故亦治妊娠胞阻。胞阻者。胞脈阻滯。血少而氣不行也。</p>
<p><u>膠艾湯方</u></p>
<p>乾地黃（六兩）　川芎　阿膠　甘草（各二兩）　艾葉　當歸（各三兩）　芍藥（四兩）　</p>
<p>上七味。以水五升。清酒三升。合煮取三升。去滓。內膠令消盡。溫服一升。日三服。不瘥更作。</p>
<p>婦人懷妊。腹中㽲痛。當歸芍藥散主之。</p>
<p>按、說文㽲音絞。腹中急也。乃血不足。而水反侵之也。血不足而水侵。則胎失其所養。而反得其所害矣。</p>
<p>腹中能無㽲痛乎。芎、歸、芍藥。益血之虛。苓、朮、澤瀉。除水之氣。趙氏曰。此因脾土為木邪所客。穀氣不舉。</p>
<p>濕氣下流。搏於陰血而痛。故用芍藥多他藥數倍。以瀉肝木。亦通。</p>
<p><u>當歸芍藥散方</u></p>
<p>當歸　川芎（各三兩）　芍藥（一斤）　茯苓　白朮（各四兩）　澤瀉（半斤）　</p>
<p>上六味。杵為散。取方寸匕。酒和。日三服。</p>
<p>妊娠嘔吐不止。乾薑人參半夏丸主之。</p>
<p>此益虛溫胃之法。為妊娠中虛而有寒飲者設也。夫陽明之脈。順而下行者也。有寒則逆。有熱亦逆。逆則飲必從之。而妊娠之體。精凝血聚。每多蘊而成熱者矣。按外臺方。青竹茹、橘皮、半夏各五兩。生薑、茯苓各四兩。麥冬、人參各三兩。為治胃熱氣逆嘔吐之法。可補仲景之未備也。</p>
<p><u>乾薑人參半夏丸方</u></p>
<p>乾薑　人參（各一兩）　半夏（二兩）　</p>
<p>上三味末之。以生薑汁糊為丸。梧子大。飲服十丸。日三服。</p>
<p>妊娠小便難。飲食如故。當歸貝母苦參丸主之。</p>
<p>小便難而飲食如故。則病不由中焦出。而又無腹滿身重等證。則更非水氣不行。知其血虛熱鬱。而津液澀少也。本草當歸補女子諸不足。苦參入陰利竅除伏熱。貝母能療鬱結。兼清水液之源也。</p>
<p><u>當歸貝母苦參丸方</u></p>
<p>當歸　貝母　苦參（各四兩）　</p>
<p>上三味末之。煉蜜丸如小豆大。飲服三丸。加至十丸。</p>
<p>妊娠有水氣。身重。小便不利。灑淅惡寒。起即頭眩。葵子茯苓散主之。</p>
<p>妊娠小便不利。與上條同。而身重惡寒頭眩。則全是水氣為病。視虛熱液少者。霄壤懸殊矣。葵子、茯苓滑竅行水。水氣既行。不淫肌體。身不重矣。不侵衛陽。不惡寒矣。不犯清道。不頭眩矣。經曰。有者求之。無者求之。盛虛之變。不可不審也。</p>
<p><u>葵子茯苓散方</u></p>
<p>葵子（一升）　茯苓（三兩）　</p>
<p>上二味。杵為散。飲服方寸匕。日二服。小便利則愈。</p>
<p>婦人妊娠宜常服。當歸散主之。</p>
<p>妊娠之後。最慮濕熱傷動胎氣。故於芎、歸、芍藥養血之中。用白朮除濕。黃芩除熱。丹溪稱黃芩、白朮為安胎之聖藥。夫芩、術非能安胎者。去其濕熱而胎自安耳。</p>
<p><u>當歸散方</u></p>
<p>當歸　黃芩　芍藥　川芎（各一斤）　白朮（半斤）　</p>
<p>上五味。杵為散。酒服方寸匕。日再服。妊娠常服即易產。胎無疾苦。產後百病悉主之。</p>
<p>妊娠養胎。白朮散主之。</p>
<p>妊娠傷胎。有因濕熱者。亦有因濕寒者。隨人臟氣之陰陽而各異也。當歸散。正治濕熱之劑。白朮散。白朮、牡蠣燥濕。川芎溫血。蜀椒去寒。則正治濕寒之劑也。仲景並列於此。其所以詔示後人者深矣。</p>
<p><u>白朮散方</u></p>
<p>白朮　川芎　蜀椒（去汗）　牡蠣（各三分）　</p>
<p>上四味。杵為散。酒服一錢匕。日三服。夜一服。但苦痛加芍藥。心下毒痛。倍加芎藭。心煩吐痛。不能食飲。加細辛一兩。半夏大者二十枚服之。後更以醋漿水服之。若嘔。以醋漿水服之。復不解者。小麥汁服之。已後渴者。大麥粥服之。病雖愈。服之勿置。</p>
<p>婦人傷胎懷身。腹滿不得小便。從腰以下重。如有水狀。懷身七月。太陰當養不養。此心氣實。當刺瀉勞宮及關元。小便微利則愈。</p>
<p>傷胎。胎傷而病也。腹滿不得小便。從腰以下重。如有水氣。而實非水也。所以然者。心氣實故也。心、君火也。為肺所畏。而妊娠七月。肺當養胎。心氣實則肺不敢降。而胎失其養。所謂太陰當養不養也。夫肺主氣化者也。肺不養胎。則胞中之氣化阻。而水乃不行矣。腹滿便難身重。職是故也。是不可治其肺。當刺勞宮以瀉心氣。刺關元以行水氣。使小便微利。則心氣降。心降而肺自行矣。勞宮、心之穴。關元、腎之穴。</p>

<h2>婦人產後病脈證治第二十一</h2>
<p>問曰。新產婦人有三病。一者病痙。二者病鬱冒。三者大便難。何謂也。師曰。新產血虛多汗出。喜中風。故令病痙。亡血復汗。寒多。故令鬱冒。亡津液胃燥。故大便難。</p>
<p>痙、筋病也。血虛汗出。筋脈失養。風入而益其勁也。鬱冒。神病也。亡陰血虛。陽氣遂厥。而寒復郁之。則頭眩而目瞀也。大便難者。液病也。胃藏津液而滲灌諸陽。亡津液胃燥。則大腸失其潤而便難也。三者不同。其為亡血傷津則一。故皆為產後所有之病。</p>
<p>產婦鬱冒。其脈微弱。嘔不能食。大便反堅。但頭汗出。所以然者。血虛而厥。厥而必冒。冒家欲解。必大汗出。以血虛下厥。孤陽上出。故頭汗出。所以產婦喜汗出者。亡陰血虛。陽氣獨盛。故當汗出。陰陽乃復。大便堅。嘔不能食。小柴胡湯主之。</p>
<p>鬱冒雖有客邪。而其本則為裡虛。故其脈微弱也。嘔不能食。大便反堅。但頭汗出。津氣上行而不下逮之象。所以然者。亡陰血虛。孤陽上厥。而津氣從之也。厥者必冒。冒家欲解。必大汗出者。陰陽乍離。故厥而冒。及陰陽復通。汗乃大出而解也。產婦新虛。不宜多汗。而此反喜汗出者。血去陰虛。陽受邪氣而獨盛。汗出則邪去。陽弱而後與陰相和。所謂損陽而就陰是也。小柴胡主之者。以邪氣不可不散。而正虛不可不顧。惟此法為能解散客邪。而和利陰陽耳。</p>
<p><u>小柴胡湯方</u>（見嘔吐）　</p>
<p>病解能食。七八日更發熱者。此為胃實。宜大承氣湯主之。</p>
<p>病解能食。謂鬱冒解而能受食也。至七八日更發熱。此其病不在表而在裡。不屬虛而屬實矣。是宜大承氣以下里實。</p>
<p><u>大承氣湯方</u>（見痙）</p>
<p>產後腹中㽲痛。當歸生薑羊肉湯主之。兼主腹中寒疝。虛勞不足。</p>
<p>產後腹中㽲痛。與妊娠腹中㽲痛不同。彼為血虛而濕擾於內。此為血虛而寒動於中也。當歸、生薑溫血散寒。孫思邈云。羊肉止痛利產婦。</p>
<p><u>當歸生薑羊肉湯方</u>（見寒疝）</p>
<p>產後腹痛。煩滿不得臥。枳實芍藥散主之。</p>
<p>產後腹痛。而至煩滿不得臥。知血鬱而成熱。且下病而礙上也。與虛寒㽲痛不同矣。枳實燒令黑。能入血行滯。同芍藥為和血止痛之劑也。</p>
<p><u>枳實芍藥散方</u></p>
<p>枳實（燒令黑勿太過）　芍藥（等分）　</p>
<p>上二味。杵為散。服方寸匕。日三服。並主癰膿。大麥粥下之。</p>
<p>師曰。產婦腹痛。法當以枳實芍藥散。假令不愈者。此為腹中有瘀血著臍下。宜下瘀血湯主之。亦主經水不利。</p>
<p>腹痛服枳實芍藥而不愈者。以有瘀血在臍下。著而不去。是非攻堅破積之劑。不能除矣。大黃、桃仁、䗪蟲。下血之力頗猛。用蜜丸者。緩其性不使驟發。恐傷上二焦也。酒煎頓服者。補下治下制以急。且去疾惟恐不盡也。</p>
<p><u>下瘀血湯方</u></p>
<p>大黃（三兩）　桃仁（二十個）　䗪蟲（二十枚去足熬）　</p>
<p>上三味末之。煉蜜和為四丸。以酒一升煮一丸。取八合。頓服之。新血下如豚肝。</p>
<p>產後七八日。無太陽證。少腹堅痛。此惡露不盡。不大便。煩躁發熱。切脈微實。更倍發熱。日晡時煩躁者。不食。食則譫語。至夜即愈。宜大承氣湯主之。熱在裡。結在膀胱也。</p>
<p>無太陽證者。無頭痛惡寒之表證也。產後七八日。少腹堅痛。惡露不盡。但宜行血去瘀而已。然不大便。</p>
<p>煩躁。發熱。脈實。則胃之實也。日晡為陽明旺時。而煩躁甚於他時。又胃熱之驗也。食氣入胃。長氣於陽。</p>
<p>食入而助胃之熱則譫語。至夜陽明氣衰而譫語愈。又胃熱之驗也。故曰熱在裡。結在膀胱。里即陽明。</p>
<p>膀胱即少腹。蓋謂不獨血結於下。而亦熱聚於中也。若但治其血而遺其胃。則血雖去而熱不除。即血亦未必能去。而大承氣湯中。大黃、枳實。均為血藥。仲景取之者。蓋將一舉而兩得之歟。</p>
<p>產後風。續續數十日不解。頭微疼。惡寒。時時有熱。心下悶。乾嘔汗出。雖久。陽旦證續在者。可與陽旦湯。</p>
<p>產後中風。至數十日之久。而頭疼寒熱等證不解。是未可卜度其虛。而不與解之散之也。陽旦湯治傷寒太陽中風挾熱者。此風久而熱續在者。亦宜以此治之。夫審證用藥。不拘日數。表裡既分。汗下斯判。</p>
<p>上條裡熱成實。雖產後七八日。與大承氣而不傷於峻。此條表邪不解。雖數十日之久。與陽旦湯而不慮其散。非通於權變者。未足以語此也。</p>
<p><u>陽旦湯方</u>（即桂枝湯加黃芩）</p>
<p>產後中風。發熱面正赤。喘而頭痛。竹葉湯主之。</p>
<p>此產後表有邪而里適虛之證。若攻其表。則氣浮易脫。若補其里。則表多不服。竹葉湯。用竹葉、葛根、桂枝、防風、桔梗。解外之風熱。人參、附子。固里之脫。甘草、薑、棗。以調陰陽之氣。而使其平。乃表裡兼濟之法。</p>
<p>凡風熱外淫。而裡氣不固者。宜於此取則焉。</p>
<p><u>竹葉湯方</u></p>
<p>竹葉（一把）　葛根（三兩）　防風　桔梗　桂枝　人參　甘草（各一兩）　附子（一枚炮）　生薑（五兩）　大棗（十五枚）　</p>
<p>上十味。以水一斗。煮取二升半。分溫三服。覆使汗出。頭項強。用大附子一枚破之。如豆大。前藥揚去沫。嘔者加半夏半升洗。</p>
<p>婦人乳中虛。煩亂嘔逆。安中益氣。竹皮大丸主之。</p>
<p>婦人乳中虛。煩亂嘔逆者。乳子之時。氣虛火勝。內亂而上逆也。竹茹、石膏。甘寒清胃。桂枝、甘草。辛甘化氣。白薇性寒入陽明。治狂惑邪氣。故曰安中益氣。</p>
<p><u>竹皮大丸方</u></p>
<p>生竹茹　石膏（各二分）　桂枝　白薇（各一分）　甘草（七分）　</p>
<p>上五味末之。棗肉和丸。彈子大。飲服一丸。日三夜二服。有熱倍白薇。煩喘者。加柏實一分。</p>
<p>產後下利虛極。白頭翁加甘草阿膠湯主之。</p>
<p>傷寒熱利下重者。白頭翁湯主之。寒以勝熱。苦以燥濕也。此亦熱利下重。而當產後虛極。則加阿膠救陰。甘草補中生陽。且以緩連、柏之苦也。</p>
<p><u>白頭翁加甘草阿膠湯方</u></p>
<p>白頭翁　甘草　阿膠（各二兩）　秦皮　黃連　柏皮（各三兩）　</p>
<p>上六味。以水七升。煮取二升半。內膠令消盡。分溫三服。</p>
<p><u>附方</u></p>
<p><u>千金三物黃芩湯</u>　治婦人在草蓐。自發露得風。四肢苦煩熱。頭痛者。與小柴胡湯。頭不痛。但煩者。此湯主之。</p>
<p>黃芩（一兩）　苦參（二兩）　乾地黃（四兩）　</p>
<p>上三味。以水六升。煮取二升。溫服一升。多吐下蟲。</p>
<p>此產後血虛風入而成熱之證。地黃生血。苦參、黃芩除熱也。若頭痛者。風未全變為熱。故宜柴胡解之。</p>
<p><u>千金內補當歸建中湯</u>　治婦人產後虛羸不足。腹中刺痛不止。吸吸少氣。或苦少腹急。痛引腰背。不能食飲。產後一月。日得服四五劑為善。令人強壯宜。</p>
<p>當歸（四兩）　桂枝　生薑（各三兩）　芍藥（六兩）　甘草（二兩）　大棗（十二枚）　</p>
<p>上六味。以水一斗。煮取三升。分溫三服。一日令盡。若大虛加飴糖六兩。湯成內之。於火上暖令飴消。若去血過多。崩傷內衄不止。加地黃六兩。阿膠二兩。合八味湯成。內阿膠。若無當歸。以芎藭代之。若無生薑。以乾薑代之。</p>

<h2>婦人雜病脈證並治第二十二</h2>
<p>婦人中風。七八日續來寒熱。發作有時。經水適斷者。此為熱入血室。其血必結。故使如瘧狀。發作有時。小柴胡湯主之。</p>
<p>中風七八日。寒熱已止而續來。經水才行而適斷者。知非風寒重感。乃熱邪與血俱結於血室也。熱與血結。攻其血則熱亦去。然雖結而寒熱如瘧。則邪既留連於血室。而亦侵淫於經絡。設攻其血。血雖去。邪必不盡。且恐血去而邪得乘虛盡入也。仲景單用小柴胡湯。不雜血藥一味。意謂熱邪解而乍結之血自行耳。</p>
<p>婦人傷寒發熱。經水適來。晝日明瞭。暮則譫語。如見鬼狀者。此為熱入血室。治之無犯胃氣。及上二焦。必自愈。</p>
<p>傷寒發汗過多者。邪氣離表則入陽明。經水適來者。邪氣離表則入血室。蓋虛則易入。亦惟虛者能受也。晝日明瞭。暮則譫語者。血為陰。暮亦為陰。陰邪遇陰乃發也。然熱雖入而血不結。其邪必將自解。治之者但無犯胃氣。及上二焦陽氣而已。仲景蓋恐人誤以發熱為表邪未解。或以譫語為陽明胃實。而或攻之或汗之也。</p>
<p>婦人中風。發熱惡寒。經水適來。得之七八日。熱除脈遲身涼和。胸脅滿如結胸狀。譫語者。此為熱入血室也。當刺期門。隨其實而取之。</p>
<p>熱除脈遲身涼和而譫語者。病去表而之裡也。血室者。衝任之脈。肝實主之。肝之脈布脅肋。上貫膈。其支者。復從肝別上膈。注於肺。血行室空。熱邪獨勝。則不特入於其宮。而亦得遊其部。是以胸脅滿如結胸狀。許叔微云。邪氣蓄血。並歸肝經。聚於膻中。結於乳下。以手觸之則痛。非湯劑可及。故當刺期門。期門、肝之募。隨其實而取之者。隨其結之微甚。刺而取之也。</p>
<p>陽明病。下血譫語者。此為熱入血室。但頭汗出。當刺期門。隨其實而瀉之。濈然汗出者愈。</p>
<p>陽明之熱。從氣而之血。襲入胞宮。即下血而譫語。蓋衝任之脈。並陽明之經。不必乘經水之來。而後熱得入之。故彼為血去而熱入。此為熱入而血下也。但頭汗出者。陽通而閉在陰也。此雖陽明之熱。而傳入血室。則仍屬肝家。故亦當刺期門以瀉其實。刺已。周身濈然汗出。則陰之閉者亦通。故愈。</p>
<p>婦人咽中如有炙臠。半夏厚朴湯主之。</p>
<p>此凝痰結氣。阻塞咽嗌之間。千金所謂咽中帖帖。如有炙肉。吞不下。吐不出者是也。半夏、厚朴、生薑。辛以散結。苦以降逆。茯苓佐半夏利痰氣。紫蘇芳香。入肺以宣其氣也。</p>
<p><u>半夏厚朴湯方</u></p>
<p>半夏（一升）　厚朴（三兩）　茯苓（四兩）　生薑（五兩）　蘇葉（二兩）　</p>
<p>上五味。以水一斗。煮取四升。分溫四服。日三夜一服。</p>
<p>婦人臟燥。喜悲傷欲哭。象如神靈所作。數欠伸。甘麥大棗湯主之。</p>
<p>臟燥。沈氏所謂子宮血虛。受風化熱者是也。血虛臟燥。則內火擾而神不寧。悲傷欲哭。有如神靈。而實為虛病。前五臟風寒積聚篇。所謂邪哭使魂魄不安者。血氣少而屬於心也。數欠伸者。經云。腎為欠、為嚏。又腎病者。善伸、數欠、顏黑。蓋五志生火。動必關心。臟陰既傷。窮必及腎也。小麥為肝之谷。而善養心氣。甘草、大棗。甘潤生陰。所以滋臟氣而止其燥也。</p>
<p><u>甘麥大棗湯方</u></p>
<p>甘草（三兩）　小麥（一升）　大棗（十枚）　</p>
<p>上三味。以水六升。煮取三升。分溫三服。亦補脾氣。</p>
<p>婦人吐涎沫。醫反下之。心下即痞。當先治其吐涎沫。小青龍湯主之。涎沫止。乃治痞。瀉心湯主之。</p>
<p>吐涎沫。上焦有寒也。不與溫散而反下之。則寒內入而成痞。如傷寒下早例也。然雖痞而猶吐涎沫。則上寒未已。不可治痞。當先治其上寒。而後治其中痞。亦如傷寒例。表解乃可攻痞也。</p>
<p><u>小青龍湯方</u>（見肺癰）</p>
<p><u>瀉心湯方</u>（見驚悸）</p>
<p>婦人之病。因虛積冷結氣。為諸經水斷絕。至有歷年。血寒積結胞門。寒傷經絡。凝堅在上。嘔吐涎唾。久成肺癰。形體損分。在中盤結。繞臍寒疝。或兩脅疼痛。與臟相連。或結熱中。痛在關元。脈數無瘡。肌若魚鱗。時著男子。非止女身。在下來多。經候不勻。令陰掣痛。少腹惡寒。或引腰脊。下根氣街。氣衝急痛。膝脛疼煩。奄忽眩冒。狀如厥癲。或有憂慘。悲傷多嗔。此皆帶下。非有鬼神。久則羸瘦。脈虛多寒。三十六病。千變萬端。審脈陰陽。虛實緊弦。行其針藥。治危得安。其雖同病。脈各異源。子當辨記。勿謂不然。</p>
<p>此言婦人之病。其因約有三端。曰虛。曰冷。曰結氣。蓋血脈貴充悅。而地道喜溫和。生氣欲條達也。否則血寒經絕。胞門閉而經絡阻矣。而其變證。則有在上在中在下之異。在上者。肺胃受之。為嘔吐涎唾。為肺癰。為形體消損。病自下而至上。從炎上之化也。在中者。肝脾受之。或寒疝繞臍。或脅痛連臟。此病為陰。或結熱中。痛在關元。或脈數肌干。甚則並著男子。此病為熱中。為陰陽之交。故或從寒化。或從熱化也。在下者。腎臟受之。為經脫不勻。為陰中掣痛。少腹惡寒。或上引腰脊。下根氣街。及膝脛疼痛。腎臟為陰之部。而衝脈與少陰之大絡。並起於腎故也。甚則奄忽眩冒。狀如厥癲。所謂陰病者。下行極而上也。或有憂慘悲嗔。狀如鬼神者。病在陰。則多怒及悲愁不樂也。而總之曰此皆帶下。帶下者。帶脈之下。古人列經脈為病。凡三十六種。皆謂之帶下病。非今人所謂赤白帶下也。至其陰陽虛實之機。針藥安危之故。苟非醫者辨之有素。烏能施之而無誤耶。三十六病者。十二癥、九痛、七害、五傷、三痼也。</p>
<p>問曰。婦人年五十所。病下利數十日不止。暮即發熱。少腹裡急。腹滿。手掌煩熱。唇口乾燥。何也。師曰。此病屬帶下。何以故。曾經半產。瘀血在少腹不去。何以知之。其證唇口乾燥。故知之。當以溫經湯主之。</p>
<p>婦人年五十所。天癸已斷而病下利。似非因經所致矣。不知少腹舊有積血。欲行而未得遽行。欲止而不能竟止。於是下利窘急。至數十日不止。暮即發熱者。血結在陰。陽氣至暮。不得入於陰。而反浮於外也。少腹裡急腹滿者。血積不行。亦陰寒在下也。手掌煩熱。病在陰。掌亦陰也。唇口乾燥。血內瘀者。不外榮也。此為瘀血作利。不必治利。但去其瘀而利自止。吳茱萸、桂枝、丹皮。入血散寒而行其瘀。芎、歸、芍藥、麥冬、阿膠。以生新血。人參、甘草、薑、夏。以正脾氣。蓋瘀久者營必衰。下多者脾必傷也。</p>
<p><u>溫經湯方</u></p>
<p>吳茱萸（三兩）　當歸　芎藭　芍藥　人參　桂枝　阿膠　丹皮　生薑　甘草（各二兩）　半夏（半升）　麥冬（一升）　</p>
<p>上十二味。以水一斗。煮取三升。分溫三服。亦主婦人少腹寒。久不受胎。兼治崩中去血。或月水來過多。及至期不來。</p>
<p>帶下。經水不利。少腹滿痛。經一月再見者。土瓜根散主之。</p>
<p>婦人經脈流暢。應期而至。血滿則下。血盡復生。如月盈則虧。月晦復胐也。惟其不利。則蓄泄失常。似通非通。欲止不止。經一月而再見矣。少腹滿痛。不利之驗也。土瓜根主內痹瘀血月閉。䗪蟲蠕動逐血。桂枝、芍藥。行營氣而正經脈也。</p>
<p><u>土瓜根散方</u></p>
<p>土瓜根　芍藥　桂枝　䗪蟲（各三分）　</p>
<p>上四味。杵為散。酒服方寸匕。日三服。</p>
<p>寸口脈弦而大。弦則為減。大則為芤。減則為寒。芤則為虛。寒虛相搏。此名為革。婦人則半產漏下。旋覆花湯主之。</p>
<p>本文已見虛勞篇中。此去男子亡血失精句。而益之曰旋覆花湯主之。蓋專為婦人立法也。詳本草旋覆花治結氣。去五臟間寒熱。通血脈。蔥主寒熱。除肝邪。絳帛入肝理血。殊與虛寒之旨不合。然而肝以陰臟而舍少陽之氣。以生化為事。以流行為用。是以虛不可補。解其鬱聚。即所以補。寒不可溫。行其血氣。即所以溫。固不可專補其血。以傷其氣。亦非必先散結聚。而後溫補。如趙氏、魏氏之說也。</p>
<p><u>旋覆花湯方</u></p>
<p>旋覆花（三兩）　蔥（十四莖）　新絳（少許）　</p>
<p>上三味。以水三升。煮取一升。頓服之。</p>
<p>婦人陷經。漏下黑不解。膠薑湯主之。</p>
<p>陷經。下而不止之謂。黑則因寒而色瘀也。膠薑湯方未見。然補虛溫里止漏。阿膠、乾薑二物已足。林億云。恐是膠艾湯。按千金膠艾湯有乾薑。似可取用。</p>
<p>婦人少腹滿如敦狀。小便微難而不渴。生後者。此為水與血俱結在血室也。大黃甘遂湯主之。</p>
<p>敦、音對。按周禮注。盤以盛血。敦以盛食。蓋古器也。少腹滿如敦狀者。言少腹有形高起。如敦之狀。與內經脅下大如覆杯之文略同。小便難。病不獨在血矣。不渴。知非上焦氣熱不化。生後即產後。產後得此。乃是水血並結。而病屬下焦也。故以大黃下血。甘遂逐水。加阿膠者。所以去瘀濁而兼安養也。</p>
<p><u>大黃甘遂湯方</u></p>
<p>大黃（四兩）　甘遂　阿膠（各二兩）　</p>
<p>上三味。以水三升。煮取一升。頓服。其血當下。</p>
<p>婦人經水不利下。抵當湯主之。</p>
<p>經水不利下者。經脈閉塞而不下。比前條下而不利者有別矣。故彼兼和利。而此專攻逐也。然必審其脈證並實而後用之。不然。婦人經閉。多有血枯脈絕者矣。雖養衝任。猶恐不至。而可強責之哉。</p>
<p><u>抵當湯方</u></p>
<p>水蛭（熬）　虻蟲（熬各三十）　桃仁（二十）　大黃（三兩酒浸）　</p>
<p>上四味為末。水五升。煮取三升。去滓。溫服一升。</p>
<p>婦人經水閉不利。臟堅癖不止。中有乾血。下白物。礬石丸主之。</p>
<p>臟堅癖不止者。子藏乾血。堅凝成癖而不去也。乾血不去。則新血不榮。而經閉不利矣。由是蓄泄不時。胞宮生濕。濕復生熱。所積之血。轉為濕熱所腐。而成白物。時時自下。是宜先去其臟之濕熱。礬石卻水除熱。合杏仁破結潤乾血也。</p>
<p><u>礬石丸方</u></p>
<p>礬石（三分燒）　杏仁（一分）　</p>
<p>上二味。末之。煉蜜丸棗核大。內臟中。劇者再內之。</p>
<p>婦人六十二種風。腹中血氣刺痛。紅藍花酒主之。</p>
<p>婦人經盡產後。風邪最易襲入腹中。與血氣相搏而作刺痛。刺痛。痛如刺也。六十二種未詳。紅藍花苦辛溫。活血止痛。得酒尤良。不更用風藥者。血行而風自去耳。</p>
<p><u>紅藍花酒方</u></p>
<p>紅藍花（一兩）　</p>
<p>上一味。酒一大升。煎減半。頓服一半。未止再服。</p>
<p>婦人腹中諸疾痛。當歸芍藥散主之。</p>
<p>婦人以血為主。而血以中氣為主。中氣者。土氣也。土燥不生物。土濕亦不生物。芎、歸、芍藥滋其血。苓、朮、澤瀉治其濕。燥濕得宜。而土能生物。疾痛並蠲矣。</p>
<p><u>當歸芍藥散方</u>（見妊娠）　</p>
<p>婦人腹中痛。小建中湯主之。</p>
<p>營不足則脈急。衛不足則裡寒。虛寒裡急。腹中則痛。是必以甘藥補中緩急為主。而合辛以生陽。合酸以生陰。陰陽和而營衛行。何腹痛之有哉。</p>
<p><u>小建中湯方</u>（見虛勞）　</p>
<p>問曰。婦人病飲食如故。煩熱不得臥。而反倚息者何也。師曰。此名轉胞。不得溺也。以胞系了戾。故致此病。腎氣丸主之。</p>
<p>飲食如故。病不由中焦也。了戾與繚戾同。胞系繚戾而不順。則胞為之轉。胞轉則不得溺也。由是下氣上逆而倚息。上氣不能下通而煩熱不得臥。治以腎氣者。上焦之氣腎主之。腎氣得理。庶繚者順。戾者平。而閉乃通耳。</p>
<p><u>腎氣丸方</u></p>
<p>乾地黃（八兩）　山藥　山茱萸（各四兩）　澤瀉　丹皮　茯苓（各三兩）　桂枝　附子（炮各一兩）　</p>
<p>上八味末之。煉蜜和丸梧子大。酒下十五丸。加至二十丸。日再服。</p>
<p>婦人陰寒。溫陰中坐藥。蛇床子散主之。</p>
<p>陰寒。陰中寒也。寒則生濕。蛇床子溫以去寒。合白粉燥以除濕也。此病在陰中而不關臟腑。故但內藥陰中自愈。</p>
<p><u>蛇床子散方</u></p>
<p>蛇床子　上一味末之。以白粉少許。和合相得。如棗大。綿裹內之。自然溫。</p>
<p>少陰脈滑而數者。陰中即生瘡。陰中蝕瘡爛者。狼牙湯洗之。</p>
<p>脈滑者濕也。脈數者熱也。濕熱相合。而系在少陰。故陰中即生瘡。甚則蝕爛不已。狼牙味酸苦。除邪熱氣。疥瘙惡瘡。去白蟲。故取治是病。</p>
<p><u>狼牙湯方</u></p>
<p>狼牙（三兩）　上一味。以水四升。煮取半升。以綿纏箸如繭。浸湯瀝陰中。日四遍。</p>
<p>胃氣下泄。陰吹而正喧。此穀氣之實也。膏發煎主之。</p>
<p>陰吹。陰中出聲。如大便失氣之狀。連續不絕。故曰正喧。穀氣實者。大便結而不通。是以陽明下行之氣。不得從其故道。而乃別走旁竅也。豬膏發煎潤導大便。便通。氣自歸矣。</p>
<p><u>膏發煎方</u>（見黃癉）　</p>
<p><u>小兒疳蟲蝕齒方</u></p>
<p>雄黃　葶藶　上二味末之。取臘月豬脂熔。以槐枝綿裹頭四五枚。點藥烙之。</p>
