<header data-type="book">
<h1>傅氏男科</h1>
</header>

<h1>敘</h1>
<p>敘者，敘其平生之節義著作也。著作醫方，留於後世，足證其二節義高，才聞於天下，尤能明志懿歟休哉！傅青主先生著作不止醫方，節義獨善其身，先生之節，莫能磨，先生之醫功德豈可量哉！余愛先生之節，仰之不逮；慕先生之醫，學之不及。觀先生之書，未見各省皆刻，欲付梓人而兩手空虛。余旅中湘，由丙戌春與同人談及此書之明顯，皆樂於助資，公諸於世者，未嘗非先生之節義流露而遺書以救世耳，略為之敘。</p>
<p><u>光緒十二年中秋節後汾邑田嵩峻撰書</u></p>

<h1>序</h1>
<p>執成方而治病，古今之大患也。昔人云：「用古方治今病，如拆舊屋蓋新房，不經大匠之手經營，如何得宜？」誠哉是言！昔張仲景先生作《傷寒論》立一百一十三方，言後世必有執其方以誤人者，甚矣！成方之不可執也，然則今之女科一書，何為而刻乎？此書為傅青主徵君手著，其居心與仲景同而立方與仲景異，何言之？仲景《傷寒論》雜症也，有五運六氣之殊，有中表傳裡之異，或太陽或太陰不一，其秉或內傷外感不一，其原或陽極似陰陰極似陽不一，其狀非精心辨證、因病制方，斷不能易危就安，應手即愈。此書則不然，其方專為女科而設，其症則為婦女所同，帶下、血崩、調經、種子以及胎前產後，人雖有虛實寒熱之分，而方則極平易精詳之至，故用之當時而後傳之後世而無不效，非若傷寒雜病，必待臨證詳審化裁通變，始無詒誤也。嘗慨後世方書汗牛充棟，然或偏攻偏補專於一家，主熱主寒堅執謬論，炫一已之才華，失古人之精奧，仲景而後，求其貫徹靈、素，能收十全之效者，不數數覯。讀徵此書，談症不落古人窠臼，制方不失古人準繩；用藥純和，無一峻品；辨證詳明，一目瞭然；病重者十劑奏功，病淺者數服立愈。較仲景之《傷寒論》，方雖不同，而濟世之功則一也。此書晉省抄本甚多，然多秘而不傳，間有減去藥味，錯亂分量者，彼此參證，多不相符，茲不揣冒昧，詳校而重刊之。竊願家置一編，遇症翻撿，照方煎服，必立起沉疴，並登壽域，或亦濟人利世之一端也夫！</p>
<p><u>道光十一年新正上元同里後學祁爾誠謹序</u></p>

<h1>序</h1>
<p>世傳先生字不如詩，詩不如畫，畫不如醫，醫不如人。先生之高遠，固不可以區區之醫見也。而先生有所著《性史》、《十三經字區》、《周易偶釋》，《周禮音辨條》、《春秋人名、地名韻》、《兩漢人名韻》等書，不概見於世，雖欲言先生之高，莫之由也。今讀先生之傳，想先生之為人，豈非所謂天子不得臣，諸侯不得友者歟？</p>
<p>先生有《女科》傳於世，平嘗遵治家人婦女，無一不效。嘗語人曰：「先生《女科》，神乎神矣。惜未有《男科》傳焉。」或謂：「子不聞諺乎？能治十男子，不治一婦人，女科難，男科易，故有傳有不傳耳。」似也，而心疑之。癸亥（同治二年、公元1863年）秋，有邦定羅公，持先生《男科》、《小兒科》以相示，平見而奇之，究其所從來。羅曰：「道光初年，余家刻印先生《女科》，是時平定州孫毓芝先生，為余家西席，由平定州攜至舍下，余錄之，藏筒已四十餘年矣。今有鄉人生產，胞衣不下，求方於余。余搜《女科》而得此，因子好《女科》，而特為相示。」平受而讀之，欲付手民而窘於貲。冬十月，有寶翰羅公，正南王公、書銘安公、敦友羅公，亦善此書，於是各捐板資於親友，以共成其事。願仁人君子，勿視此為易易。</p>
<p>先生此書，只言病之形，不論病之脈，明白顯易，使人一刻，而即知其病是寒是熱，屬實屬虛，真深入而顯出，似易而實難也，非深精脈理，不能為此。先生蓋精於岐黃，而通以儒義，不囿於叔和、丹溪之言，而獨有所見，探古人未探之本，傳古人未傳之妙，實大有益於人世，能救死於呼吸之間也。平本才疏，不足為先生序，而梓人索序，孔極待觀者，又欲速成其書，為述其稿之所由來，版之所由成，以待能文之士，棄此而重為之序，是則此書之深幸耳。</p>
<p><u>同治二年十二月康衢王道平識</u></p>

<h1>明空員傅山先生傳</h1>

<h2>提督學政嵇曾筠撰</h2>
<p>傅先生名山，字青主，一字公佗。陽曲人，祖霖，官山東遼海參議。父之漠，明經授徒，號離垢先生。山生而穎異，讀書十行並下，過目輒能成誦。年十四，督學文太青拔入庫。繼文者，袁臨侯先生繼成也。一見深器之，准食餼。檄取讀書「三立書院」，時時以道學相期許。山益發憤下帷。袁每云：「山，文誠佳，恨未脫山林氣耳。」崇禎丙子，繼成為直指張孫振誣詆下獄，山徒步走千里外，伏闕訟冤。孫震怒，大索山，山敝衣襤褸，轉徙自匿，百折不回，繼戚冤得白。當是時，山義聲聞天下。後繼戚官南方，數召山，山終不往。</p>
<p>國朝定鼎，自九江執繼成北上，山乃潛入都，密候繼成起居。繼咸見殺，山收其遺藁而歸。山性至孝，父之謨病篤，朝夕稽穎於神，願以身代。旬日父愈，人謂孝通神明。不異黔婁云：執親喪，哀毀特甚，苫塊米飲，不茹蔬果。友愛諸季，先人遺產，弟蕩費強半，終身無怨色。弟歿，撫遺孤過於已子。失偶時年二十七，子眉甫五齡，旁無妾膳，誓不復娶。於裡黨姻戚，竭力賙其緩急，為人分別有讓，恭儉下人。與人言：依於忠孝，謀事要於誠實。蓋其敦厚彝倫，根本自然非有強也。自李自成犯京師，明莊烈皇帝殉國，山遂絕意進取，棄青衿為黃冠，號石道人。蘀衣草履，時遨遊於平定、祁汾間，所至有墨痕筆跡。工詩賦，善古文詞，臨池得二王神理，該博古今典籍，百家諸子，靡晃淹貫。大叩大鳴，小叩小鳴，復自托繪事寫意，曲盡其妙。精岐黃術，邃於脈理，而時通以儒義，不拘拘於叔和、丹溪之言。踵門求醫者戶常滿，貴賤一視之。家故饒，至是漸益窶，安貧樂道泊如也。屋舍田園，多為細人竊據，概置不問。康熙戊午，詔舉博學宏詞，廷臣交章薦山，山堅以老病辭。當事者立迫就道，道稱股病不能行，肩輿舁入都，臥旅邸不赴試。滿漢王公九卿、賢士大夫，下逮馬醫夏畦、市井細民，莫不重山行義，就見者羅溢其門，子眉送迎常不及。山但欹榻上言：「衰老不可為禮。」諸貴人以此重山，弗之怪也。明年三月，吏部驗病入告，奉旨，傅山文學素著，念其年邁，特授內閣中書，著地方官存問，遂得放歸。歸愈淡泊，自甘僻居遠村，不入城府。然欽其名者益眾，率紆道往見，冀得一面為榮。又六年卒，遠近會葬者，數千百人。山所著有《性史》、《十三經字區》、《周易偶釋》、《周禮音辨條》、《春秋人名韻、地名韻》、《兩漢人名韻》等書。</p>
<p>稽禮齋曰：昔者嘗怪先生值堯舜之世，篤志高尚，懇辭徵闢，何其果也。及讀漢史，見周黨、王霸之為人，初不辱於新莽，建武復辟，連徵不起，乃知士各有志。先生蓋在道而隱者也，彼誠見夫有明末季，上下交徵利，卒滅亡於寇盜之手，固已心寄夫長林豐草矣，寧復以青紫為榮耶？至若義白知已之冤，其賢於世之平居師友相親慕，臨難揹負，不一引手救，漠然若不相識者，亦遠矣。古云：民生於三，事之如一，惟其所在則致死焉。先生真無愧哉！</p>
<p>贊曰：於惟先生，得聖之清，訟冤奔訃，蒙難不驚。辭榮卻聘，先民是程，功在名教，百世景行。</p>

<h2>鐵城寄傅青主</h2>
<p>（附札二首　附錄《霜紅龕集》）</p>
<p>獨子同憂患，於今乃別離，乾坤留古道，生死見心知。貫械還余草，傳燈不以詩，悠悠千載業，努力慰相思。　　江州求死不得，至今只得為其從容者。聞黃冠入山養母，甚善！此時不可一步出山也。有詩一冊付曲沃錫□，屬致門下藏之山中矣。可到未？</p>
<p>乙酉冬季</p>
<p>前詩到未？若未到門下，不可往取，可屬西河曹孝廉碩公緩頰取之，必藏之門下。所目令著《經觀》、《史觀》二書，《經觀》薄就矣，《史觀》尚未竟，不知能終竟此業否？晉士惟門下知我甚深，不遠蓋棺，斷不敢負門下知之，使異日羞稱袁繼成為友生也。</p>
<p>丙寅初秋</p>

<h2>徵君傅山傳</h2>
<p>傅山，字青主，一字公佗，太原府人。母夢老比丘而生，生復不啼。一瞽僧至門云：「既來，何必不啼？」乃啼。六歲食黃精，不樂穀食，強之，乃復食。讀十三經、諸子史，如宿通者。崇禎十年，袁臨侯繼賢，督學山西，為巡按御史張孫振誣劾被逮。山，橐饘左右，伏闕上書，白其冤。諭德馬群常世奇，作山右二義士傳（謂山與汾陽薛宗周），比之裴瑜、魏劭。亂後，夢天帝賜黃冠衲衣，遂為道士裝。醫木入神，有司以醫見則見，不然不見也。康熙戊午，徵聘至京師，以老病辭。已未，與范陽杜樾，俱授內閣中書舍人歸里。山，工八分隸及金石篆刻，畫入逸品。子，眉，字壽髦，亦工畫，作古賦數十篇。常鬻藥四方，兒子共挽車，暮抵逆旅，輒篝燈課讀經史騷賦選諸書，詰旦成誦乃行，否即與杖。</p>

<h1>男科卷一</h1>

<h2>傷寒門</h2>

<h3>初病說</h3>
<p>凡病初起之時，用藥原易奏功，無如世人看不清症，用藥雜亂，往往致變症蜂起。苟看病情，用藥當，何變症之有。</p>

<h3>傷風</h3>
<p>凡人初傷風，必然頭痛、身痛、咳嗽、痰多，鼻流清水。切其脈必浮，方用：</p>
<p>荊芥　防風　柴胡　黃芩　半夏　甘草（各等分）</p>
<p>水煎服，一劑即止，不必再劑也。</p>

<h3>傷寒</h3>
<p>凡傷寒初起，鼻塞、目痛、項強、頭痛。切其脈，必浮緊，方用：</p>
<p>桂枝　乾葛　陳皮　甘草（各等分）。</p>
<p>水煎服，一劑即愈。</p>

<h3>外感</h3>
<p>凡人外感必然發熱，方用：</p>
<p>柴胡　黃芩　荊芥　半夏　甘草各等分，水煎服。</p>
<p>四時不正之氣，來犯人身，必然由皮毛而入營衛。故用柴胡、荊芥先散皮毛之邪，邪即先散，安得入內；又有半夏以祛痰，使邪不得挾痰以作祟；黃芩以清火，使邪不得挾火以作殃；甘草調藥以和中，是以邪散而無傷於正氣也，若內傷之發熱，則不可用此方。</p>

<h3>傷食</h3>
<p>凡傷食必心中飽悶，見食則惡，食之轉痛也，方用：</p>
<p>白朮（一錢）　茯苓（一錢）　枳殼（一錢）　穀芽（二錢）　麥芽（二錢）　山楂（二十個）　神麯（五錢）　半夏（一錢）　甘草（五分）　砂仁（三粒）</p>
<p>水煎服，一劑輕，二劑愈。</p>

<h3>瘧疾</h3>
<p>方用遇仙丹</p>
<p>生軍（陸兩）　檳榔（叄兩）　三稜（叄兩）　莪朮（叄兩）　黑醜（三兩）　白醜（三兩）　木香（二兩）　甘草（一兩）</p>
<p>水丸。遇發日，清晨溫水化三四丸。尋以溫米飯補之。忌生冷、魚腥、蕎麵，孕婦勿服。</p>

<h3>傷暑</h3>
<p>人感此症，必然頭暈、口渴、惡熱，甚則痰多、身熱、氣喘，方用：</p>
<p>人參（一錢）　白朮（五錢）　茯苓（三錢）　甘草（一錢）　青蒿（一兩）　香薷（三錢）　陳皮（一錢）</p>
<p>水煎服，一劑愈。</p>

<h3>大滿</h3>
<p>此邪在上焦，壅塞而不得散也，方用：</p>
<p>瓜蔞（一個搗碎）　枳殼（三錢）　天花粉（三錢）　梔子（二錢）　陳皮（三錢）　厚朴（錢半）　半夏（一錢）　甘草（一錢）</p>
<p>水煎服。此方之妙，全在用瓜蔞能去胸膈之食而消上焦之痰，況又佐以枳殼、花粉同是消中聖藥，又有厚朴、半夏以消胃口之痰，尤妙在甘草，使群藥留中而不速下，則邪氣不能久存而散矣。</p>

<h3>發汗</h3>
<p>凡入邪居腠理之間，必須用汗藥以泄之，方用：</p>
<p>荊芥　防風　甘草　桔梗　蘇葉（各一錢）　白朮（五錢）　雲苓（三錢）　陳皮（五分）</p>
<p>水煎服。</p>
<p>此方妙在君白朮，蓋人之脾胃健而後皮毛腠理始得開合自如。白朮健脾去濕而邪難存，況有荊、防、蘇、梗以表散之乎。</p>

<h3>寒熱冥假瓣</h3>
<p>真熱症，口乾極而呼水，舌燥極而開裂、生刺，喉痛日夜不已，大熱烙手而無汗也。</p>
<p>真寒症，手足寒久而不回，色變青紫，身戰不已，口噤，出聲而不可噤也。</p>
<p>假熱症，口雖渴而不甚，舌雖干而不燥，即燥而無芒刺紋裂也。</p>
<p>假寒症，手足冰冷而有時溫和，厥逆身戰亦未太甚而有時而安，有時而搐是也。</p>

<h3>乍寒乍熱辨</h3>
<p>病有灑淅惡寒而後發熱者，蓋陰脈不足陽往從之；陽脈不足陰往乘之。何謂陽不足？寸脈微，名曰陽不足。陰氣上入陽中，則惡寒也。何謂陰不足？尺脈弱，名曰陰不足。陽氣下陷陰中，則發熱也。凡治寒熱，用柴胡升陽氣，使不下陷陰中則不熱也。用黃芩降陰氣，使不升入陽中則不寒也。</p>

<h3>真熱</h3>
<p>方用：</p>
<p>麻黃（三錢）　當歸（五錢）　黃連　黃芩　石膏　知母　半夏（各三錢）　枳殼（二錢）　甘草（一錢）</p>
<p>水煎服，一劑輕，二劑愈。</p>

<h3>真寒</h3>
<p>方用：</p>
<p>附子（三錢）　肉桂　乾薑（各一錢）　白朮（五錢）　人參（一兩）</p>
<p>水煎服，急救之。此乃真中寒邪，腎火避出軀殼之外而陰邪之氣，直犯心宮，心君不守，肝氣無依，乃發戰、發噤、手足現青色。然則用桂、附、乾薑逐其寒邪足矣，何用參、術？即用何至多加？蓋元氣飛越，只一線之氣未絕，純用桂、附、乾薑一派辛辣之藥，邪雖外逐，而正氣垂絕。若不多加參、術，何以反正氣於若存若亡之際哉！</p>

<h3>假熱</h3>
<p>方用：</p>
<p>黃連　當歸　白芍　半夏（各三錢）　茯苓　柴胡　梔子（各二錢）　枳殼（一錢）　菖蒲（三錢）</p>
<p>水煎服。此方妙在用黃連入心宮，佐以梔子，提刀直入，無邪不散。柴胡、白芍又塞敵運糧之道，半夏、枳殼斬殺黨余，中原既定，四隅不戰而歸。然火勢居中，非用之得法，是賊勢彌張依然復人，又加菖蒲之辛熱，乘熱飲之，則熱喜熱不致相反而更相濟也。</p>

<h3>假寒</h3>
<p>方用：</p>
<p>肉桂　附子（各一錢）　人參（三錢）　白朮（五錢）　豬膽汁（半個）　苦菜汁（十三匙）</p>
<p>水三杯，煎一杯，冷服。</p>
<p>將藥並器放冷水中激涼，入膽、菜汁調勻，一氣服之。方中全是熱藥，倘服不入式，必然虛火上衝，將藥嘔出。必熱藥涼服已足順其性況下行，又有二汁之苦，以騙其假道之防也哉。</p>

<h3>真熱假寒</h3>
<p>此症身外冰冷，身內火熾，發寒發熱，戰慄不已。乃真熱反現假寒之象，以欺人也。法當用三黃湯加石膏、生薑乘熱飲之，再用井水以撲其心至二三十次，內熱自止，外之戰慄亦若失矣。後用元參、麥冬、白芍各二兩煎湯，任其恣飲，後不再甚也。</p>

<h3>真寒假熱</h3>
<p>此症下部冰冷，上部大熱，渴欲飲水，下喉即吐，乃真寒反現假熱之形以欺人也。法當用八味湯，大劑探冷與服，再令人以手擦其足心，如火之熱，不熱不已，以大熱為度。用吳萸一兩、附子一錢、麝香三分以少許白麵人之，打糊作膏，貼足心，少頃必睡，醒來下部熱而上部之火息矣。</p>

<h3>上熱下寒</h3>
<p>此症上焦火盛，吐痰如湧泉，面赤喉痛，上身不欲蓋衣，而下身冰冷。此上假熱而下真寒也。方用：</p>
<p>附子（一個）　熟地（半斛）　山萸（四兩）　麥冬（一兩）　茯苓（三兩）　五味子（一兩）　丹皮（三兩）　澤瀉（三兩）　肉桂（一兩）</p>
<p>水十碗，煎三碗，探冷與服。二渣再用水三碗煎一碗，一氣服之，立刻安靜。此上病下治之法也。</p>

<h3>循衣撮空</h3>
<p>此症非大實即大虛。當審其因，察其脈，參其症而黑白分也。實而便秘者，大承氣湯；虛而便滑者，獨參湯，厥逆者加附子。</p>

<h3>陰虛雙娥</h3>
<p>方用：</p>
<p>附子一錢，鹽水炒。</p>
<p>每用一片，含口中，後以六味地黃湯大劑飲之。</p>
<p>外治法：引火下行，用附子一個，為末，醋調，貼湧泉穴，或吳萸一兩，白麵五錢，水調，貼湧泉穴，急針刺少商穴，則咽喉有一線之路矣。</p>

<h3>結胸</h3>
<p>此傷寒之變症也。傷寒邪火正熾，不可急與飲食，飲食而成此症者，方用：</p>
<p>瓜蔞（一個捶碎）　甘草（一錢）</p>
<p>水煎服，勿遲。</p>
<p>瓜蔞乃結胸之聖藥也。人服之必至心如遺落，病人服之，不畏其虛乎？不知結胸之症，是食在胸中，非大黃、枳殼、檳榔、厚朴所能祛逐，必得瓜蔞始得推盪開脾，少加甘草以和之，不至十分猛烈也。</p>

<h3>扶正散邪湯</h3>
<p>人參（一錢）　白朮　茯苓　柴胡（各三錢）　半夏　甘草（各一錢）</p>
<p>水煎服。</p>
<p>此方專治正氣虛而邪氣入之者，如頭痛、發熱，右寸脈大於左寸口者，急以此方投之，無不痊愈。</p>

<h2>火症門</h2>

<h3>瀉火湯總方</h3>
<p>梔子（三錢）　白芍（五錢）　丹皮（三錢）　元參（二錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>心火加黃連一錢，胃火加生石膏三錢，腎火加黃柏、知母各一錢，肺火加黃芩一錢，大腸火加地榆一錢，小腸火加天冬、麥冬各一錢，膀胱火加澤瀉三錢。治火何獨治肝經？蓋肝屬木，最易生火，肝火散則諸經之火俱散。但散火必須用下泄之藥，而使火之有出路也則得矣。</p>

<h3>火症</h3>
<p>真火症初起必大渴引飲，身有斑點，或身熱如焚，或發狂亂語，方用：</p>
<p>石膏　知母（各三錢）　元參（一兩）　甘草　升麻（各三錢）　麥冬（一兩）　半夏（三錢）　竹葉（一百片）</p>
<p>水煎服，一劑少止，三劑愈。</p>

<h3>火越</h3>
<p>此乃胃火與肝火共騰而外越，不為丹毒即為痧疹，非他火也。方用：</p>
<p>元參（一兩）　乾葛（三兩）　升麻　青蒿　黃耆（各三錢）</p>
<p>水煎服。</p>
<p>此方妙在用青蒿，肝胃之火俱平，又佐以群藥重劑而火安有不減者乎。治小兒亦效。</p>

<h3>燥症</h3>
<p>此症初起，喉於口渴，乾燥不吐痰，乾咳不已，面色日紅，不畏風吹者是也。方用：</p>
<p>麥冬　元參（各五錢）　桔梗（三錢）　甘草（一錢）　陳皮（三分）　百部（八分）　花粉（一錢）</p>
<p>水煎服。</p>

<h3>治火丹神方</h3>
<p>絲瓜子（一兩）　柴胡（一錢）　元參（一兩）　升麻（一錢）　當歸（五錢）</p>
<p>水煎服。小兒服之亦效。</p>

<h3>消食病</h3>
<p>此火盛之病，大渴引飲，呼水自救，朝食即飢，或夜食不止，方用：</p>
<p>元參（一兩）　麥冬（五錢）　生地（三錢）　竹葉（三十片）　菊花　白芥子　丹皮（各二錢）　陳皮（五分）</p>
<p>水煎服。</p>

<h3>痿症</h3>
<p>不能起床已成廢人者，此乃火盛內熾，腎水熬干，治法宜降胃火以補腎水，方用降補湯。</p>
<p>熟地　元參（各一兩）　甘菊花（五錢）　麥冬（一兩）　生地（五錢）　車前子（二錢）　人參（三錢）　沙參（五錢）　地骨皮（五錢）</p>
<p>水煎服。</p>

<h3>痿症</h3>
<p>人有兩足無力不能起立而又健飯，少飢即頭面皆熱，咳嗽不已，此亦痿症，方用起痿至神湯。</p>
<p>熟地　元參　山藥　菊花（各一兩）　當歸　白芍　人參（各五錢）　神麯（二錢）　白芥子（三錢）</p>
<p>水煎服。三十劑而愈。</p>

<h2>鬱結門</h2>

<h3>開鬱</h3>
<p>如人頭痛身熱，傷風咳嗽，或心不爽而鬱氣蘊結中懷，或氣不舒而怒氣留於脅下，斷不可用補藥。方用：</p>
<p>當歸（三錢）　白芍（五錢）　柴胡（一錢）　半夏（二錢）　枳殼（一錢）　甘草（一錢）　白朮（二錢）　丹皮　薄荷（各一錢）</p>
<p>水煎服。</p>
<p>頭痛加川芎一錢；目痛加蒺藜一錢，菊花一錢；鼻塞加蘇葉一錢；喉痛加桔梗二錢；肩背痛加枳殼、羌活；兩手痛加薑黃或桂枝一錢；腹痛不可按者加大黃二錢；按之而不痛者加肉桂一錢，余不必加。</p>

<h3>關格</h3>
<p>怒氣傷肝而肝氣衝於胃口之間，腎氣不得上行，肺氣不得下行而成此症。以開鬱為主，方用：</p>
<p>荊芥　柴胡　川鬱金　茯苓　蘇子　白芥子（各一錢）　白芍（三錢）　甘草（五分）　花粉（一錢）</p>
<p>水煎服。</p>
<p>又方用：</p>
<p>陰陽水各一碗，加鹽一撮，打百餘下起泡，飲之即愈。凡上焦有疾欲吐而不能吐者，飲之即吐。</p>

<h2>虛勞門</h2>

<h3>癆症、虛損瓣</h3>
<p>二症外相似而治法不同。虛損者，陰陽兩虛也，癆症者，陰虛陽亢也。故虛損可用溫補，癆症則忌溫補而用清補，兩症辨法不必憑脈，但看人著復衣此著單衣者為癆症；人著單衣此著復衣者為虛損。癆症骨蒸而熱；虛損榮衛虛而損也。</p>

<h3>內傷發熱</h3>
<p>方用：</p>
<p>當歸（一錢）　白芍（二錢）　柴胡　陳皮　梔子（各一錢）　花粉（二錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>凡肝木鬱者，此方一劑即快。人病發熱，有內傷、外感，必先散其邪氣，邪氣退而後補正氣，正不為邪氣所傷也。但外感、內傷不可用一方也。</p>

<h3>未成勞而將成勞</h3>
<p>方用：</p>
<p>熟地（一兩）　地骨皮　人參　麥冬（各五錢）　白芥子（三錢）　白朮（一錢）　山藥（三錢）　五味子（三分）</p>
<p>水煎服。</p>
<p>凡人右寸脈大於左寸脈，即內傷之症，不論左右關尺脈何如，以此方投之效驗。</p>

<h3>陽虛下陷</h3>
<p>凡人飢飽勞役，內傷正氣，以致氣乃下行，脾胃不行克化，飲食不能運動，往往變成勞瘵。蓋疑飲食不進為脾胃之病，肉黍之積，輕則砂仁、枳殼、山楂，麥芽之品，重則芒硝、大黃、牽牛、巴豆之類，紛然雜進，必致膨悶而漸成勞矣。若先以升提之藥治之，何致於成勞。方用：</p>
<p>人參　柴胡　陳皮　甘草（各一錢）　黃耆　白朮（各三錢）　升麻（三分）</p>
<p>水煎服。</p>

<h3>陰虛下陷</h3>
<p>凡人陰虛脾泄歲久不止，或食而不化，或化而溏泄。方用：</p>
<p>熟地（一兩）　山藥　山萸（各五錢）　茯苓（三錢）　白朮（五錢）　肉桂（一錢）　升麻（三分）　五味子（一錢）　車前子（一錢）</p>
<p>水煎，晚服。</p>
<p>此方純是補陰之藥，且有升麻以提陰中之氣，又有溫燥之品以暖命門而健脾土，何致溏泄哉！</p>

<h3>陰虛火動，夜熱晝寒</h3>
<p>此腎水虛兼感寒，或腎水虧竭夜熱晝寒。若認作陽症治之，則口渴而熱益熾，必致消盡陰水，吐痰如絮，咳嗽不已，聲啞聲嘶，變成勞瘵。法當峻補其陰，則陰水足而火焰消，骨髓清泰矣。方用：</p>
<p>熟地（一兩）　山萸（五錢）　五味子　麥冬（各三錢）　元參（一兩）　地骨皮（五錢）　沙參（三錢）　芡實（五錢）　白芥子（三錢）　桑葉（十四片）</p>
<p>水煎服。</p>
<p>此方陰虛火動者神效。</p>

<h3>陰寒無火</h3>
<p>方用：</p>
<p>肉桂（一錢）　附子（三錢）　熟地（一兩）　白朮　人參（各三錢）　柴胡（一錢）</p>
<p>水煎服。</p>
<p>二方治陰之中即有以治陽，治陽之中即藏於補陰。</p>

<h3>過勞</h3>
<p>凡人過勞，脈必大不倫。若不安閒作息，必有吐血之症，法當滋補。方用：</p>
<p>熟地（五兩）　山萸（四兩）　當歸（半斛）　黃耆　白芍（各五錢）　人參（三兩）　白朮（五兩）　茯苓（三兩）　砂仁（二兩）　陳皮（五錢）　神麯（一兩）　五味子　麥冬（各三兩）　蜜丸。早晚滾水送下五錢。</p>

<h3>日重夜輕</h3>
<p>病重於日間而發寒發熱較夜尤重，此症必須從天未明而先截之，方用：</p>
<p>人參（一錢）　黃耆（五錢）　當歸（三錢）　白朮（五錢）　枳殼　青皮　陳皮（各一錢）　柴胡（三錢）　半夏　甘草（各一錢）　乾薑（五分）</p>
<p>水煎服。又方：</p>
<p>熟地（一兩）　人參（一錢）　白朮（五錢）　陳皮、甘草（各一錢）　柴胡（二錢）　白芥子（一錢）</p>
<p>水煎服。</p>

<h3>夜重日輕</h3>
<p>病重於夜間而發寒發熱，或寒少熱多，或熱少寒多，一到大明，便覺清爽，一到黃昏，即覺沉重，此陰氣虛甚也。方用：</p>
<p>熟地（一兩）　山萸（四錢）　當歸　白芍　柴胡（各三錢）　陳皮　生何首烏（各三錢）　鱉甲（五錢）　白芥子　麥冬（各三錢）　五味子（一錢）</p>
<p>水煎服。</p>
<p>此方妙在用鱉甲，乃至陰之物，逢陰則入，遇陽則轉；生何首烏直入陰經，亦攻邪氣；白芥子去痰又不耗真陰之氣，有不奏功者乎！必須將黃昏時服，則陰氣固而邪氣不敢人矣。</p>

<h3>陰邪兼陽邪</h3>
<p>此症亦發於夜間，亦發寒發熱，無異純陰邪氣之症，但少少煩躁耳，不若陰症之常靜也。法當於補陰之中少加陽藥一二味，使陽長陰消，自奏功如響矣。方用：</p>
<p>熟地（一兩）　山萸（四兩）　鱉甲（五錢）　當歸（三錢）　人參（二錢）　白朮（三錢）　茯苓（五錢）　柴胡（二錢）　白芥子（三錢）　陳皮（一錢）　麥冬　五味子　生何首烏（各三錢）</p>
<p>水煎服。</p>

<h3>氣血兩虛</h3>
<p>飲食不進，形容枯槁。補其氣，血益燥；補其血，氣益餒。助胃氣而盜汗難止，補血脈而胸膈阻滯，法當氣血同治。方用：</p>
<p>人參　白朮　川芎（各一錢）　當歸（二錢）　熟地（三錢）　麥冬（五錢）　白芍（三錢）　茯苓（二錢）　甘草（八分）　神麯　陳皮（各五分）　穀芽（一錢）</p>
<p>水煎服。</p>
<p>此治氣血兩補與八珍湯同功而勝於八珍湯者，妙在補中有調和之法耳。</p>

<h3>氣虛胃虛</h3>
<p>人有病久而氣虛者，必身體羸弱，飲食不進，或大便溏泄，小便艱澀。方用：</p>
<p>人參（一兩）　白朮（五錢）　茯苓（三錢）　甘草　陳皮　澤瀉　車前子（各一錢）</p>
<p>水煎服。</p>
<p>此方用人參為君者，問其胃氣。蓋胃為腎之關，關門不開，則上之飲食不能進，下之糟粕不能化，必用人參以養胃土，茯苓、車前以分消水氣。如服此不效，兼服八味丸最能實大腸而利膀胱也。</p>

<h3>氣虛飲食不消</h3>
<p>飲食入胃必須氣充足始能消化而生津液，今飲食不消，氣虛故。方用：</p>
<p>人參（二錢）　黃耆　白朮　茯苓（各三錢）　神麯（五分）　甘草（三錢）　麥芽（五分）　山楂（三個）　陳皮（五分）</p>
<p>水煎服。</p>
<p>傷麵食加萊菔子，有痰加半夏、白芥子各一錢，咳嗽加蘇子一錢、桔梗二錢，傷風加柴胡二錢，夜臥不安加炒棗仁二錢，胸中微痛加枳殼五分。方內純是開胃之品，又恐飲食難消後加消導之品則飲食化而津液生矣。</p>

<h3>血虛面色黃瘦</h3>
<p>出汗、盜汗，夜臥常醒，不能潤色以養筋是也。血虛自當補血，舍四物湯又何求耶？今不用四物湯。方用：</p>
<p>熟地（一兩）　麥冬（三錢）　桑葉（十片）　枸杞（三錢）　當歸（五錢）　茜草（一錢）</p>
<p>水煎服。</p>
<p>此方妙在桑葉，補陰生血。又妙在茜草，血得活而益生，況又濟之歸、地，麥、杞大劑以共生。</p>

<h3>肺脾雙虧</h3>
<p>咳嗽不己，吐瀉不已，此肺脾受傷也。人以咳嗽宜治肺，吐瀉宜治脾。殊不知咳嗽由於脾氣衰，斡旋之令不行，則上為咳嗽；吐瀉由肺氣弱，清肅之令不行，始上吐而下瀉矣。方用：</p>
<p>人參（錢半）　麥冬　茯苓（各二錢）　柴胡　神麯　薏仁（各五分）　車前子　甘草（各一錢）</p>
<p>水煎服。</p>
<p>此治脾治肺之藥合而用之，咳嗽、吐瀉之病各愈，所謂一方而兩用之也。</p>

<h3>肝腎兩虛</h3>
<p>腎水虧不能滋肝，肝木抑鬱而不舒。必有兩脅飽悶之症。肝火不能生腎中之火，則腎水日寒，必有腰背難於俯仰之症。此症必須肝腎同補。方用：</p>
<p>熟地（一兩）　山萸　當歸　白芍（各五錢）　柴胡（二錢）　肉桂（一錢）</p>
<p>水煎服。</p>
<p>熟地、山萸補腎之藥，歸、芍、柴、桂補肝之品，即云平補，似乎用藥不宜有重輕。今補肝之藥多於補腎者何？蓋腎為肝之母，肝又為命門之母，豈有木旺而不生命門之火者哉。</p>

<h3>心腎不交</h3>
<p>腎，水臟也。心，火臟也。是心、腎二經為仇敵矣。似不可牽連而合治之也，不知心、腎相剋而實相須。腎無心之火則水寒，心無腎之水則火熾，心必得腎水以滋潤，腎必得心火以溫暖。如人驚惕不安，夢遺精泄，皆心腎不交之故。人以驚惕為心之病，我以為腎之病。人以夢泄為腎之病，我以為心之病，非顛倒也，實有至理焉。細心思之，自然明白。方用：</p>
<p>熟地（五兩）　山萸（三兩）　山藥（三錢）　人參（三兩）　白朮（五兩）　芡實（五錢）　茯神（三兩）　菖蒲（一兩）　棗仁炒（三兩）　遠志（一兩）　五味子（一兩）　麥冬（三兩）　柏子仁（三兩）</p>
<p>蜜丸。每早晚溫水送下五錢。</p>
<p>此方之妙治腎之藥少於治心之味。蓋心君寧靜，腎氣自安，何至心動。此治腎正所以治心，治心即所以治腎也，所謂心腎相依。</p>

<h3>精滑夢遺</h3>
<p>此症人以為腎虛也，不獨腎病而心病也，宜心腎兼治。方用：</p>
<p>熟地（半斛）　山藥（一兩）　山萸（四兩）　人參（三兩）　白朮（四兩）　茯苓　麥冬（各三兩）　肉桂　鹿茸（各一兩）　砂仁（五錢）　棗仁（炒）　遠志　杜仲（各一兩）　白芍（三兩）　附子（一錢）　柏子仁　破故紙（各一兩）　紫河車（一副）　巴戟（三兩）　五味子（一兩）　肉蓯蓉（三兩）</p>
<p>蜜丸。早晚白水送下五錢。</p>
<p>此方用熟地，山藥、山萸之類補腎也。巴戟、肉蓯蓉、附子、鹿茸補腎中之火也。可以已矣而又必加入人參、茯苓、柏子仁、麥冬、遠志、棗仁者何也？蓋腎火虛由於心火虛也。使補腎火不補心火，則反增上焦枯渴，欲補腎火則必須補心火，則水火相濟也。</p>

<h3>夜夢遺精</h3>
<p>此症由於腎水耗竭，上不能通於心，中不能潤於肝（當為脾之誤），下不能生於肝，以致玉關不閉，無夢且遺。法當補腎而少佐以益心、肝、脾之品。方用：</p>
<p>熟地（一兩）　山萸（四錢）　白朮（五錢）　茯苓　白芍　生棗仁　當歸　薏仁（各三錢）　茯神（二錢）　五味子　白芥子（一錢）　肉桂　黃連（各五分）</p>
<p>水煎服。一劑止，十劑不犯。</p>

<h3>遺精健忘</h3>
<p>遺精，下病也。健忘，上病也。何以合治之而咸當乎？蓋遺精雖是腎水之虛，而實本於君火之弱。今補其心君則玉關不必閉而自閉矣，所謂一舉而兩得也。方用：</p>
<p>人參（一兩）　蓮鬚（二兩）　芡實（三兩）　熟地（五兩）　山藥（四兩）　五味子（一兩）　麥冬　生棗仁（各三兩）　遠志　柏子仁（各一兩）　去油　菖蒲（一兩）　當歸　山萸（各三兩）</p>
<p>蜜丸。每日服五錢，白水下。</p>

<h3>倒飽中滿</h3>
<p>氣虛不能食，食則倒滿。方用：</p>
<p>人參（一錢）　白朮（二錢）　茯苓（三錢）　陳皮（三分）　甘草（一錢）　山藥（三錢）　芡實（五錢）　薏仁（五錢）　萊菔子（一錢）</p>
<p>水煎服。下喉雖則微脹，入腹漸覺爽快。</p>

<h3>久虛緩補</h3>
<p>久虛之人，氣息奄奄，無不曰宜急治矣。不知氣血大虛，驟加大補之劑，力量難任，必致胃口轉膨脹，不如緩緩清補之。方用：</p>
<p>當歸（一錢）　白芍（二錢）　茯苓（一錢）　白朮（五分）　人參（三分）　山藥（一錢）　陳皮　麥芽　炮姜（各三錢）　棗仁（五分）　甘草（三分）</p>
<p>水煎服。</p>
<p>此方妙在以白芍為君，引參、苓入肝為佐。小小使令徐徐奏功，使脾氣漸實，胃口漸開，然後再用純補之劑，先宜緩補之也。</p>

<h3>補氣</h3>
<p>右手脈大，氣分之勞也。方用補氣丸。</p>
<p>人參　黃耆（各三兩）　茯苓（四兩）　白朮（半斛）　白芍（三兩）　陳皮（一兩）　炙草（八錢）　五味子（一兩）　麥冬（二兩）　遠志　白芥子（各一兩）</p>
<p>蜜丸。早晚服五錢，白水下。</p>

<h3>補血</h3>
<p>左手脈大，血分之勞也，方用補血丸。</p>
<p>熟地　白芍（半斛）　山萸　當歸（四兩）　麥冬　棗仁　白芥子　五味子（各一兩）　砂仁　肉桂（五錢）</p>
<p>蜜丸。晚服一兩，白水下。</p>
<p>如身熱，去肉桂加地骨皮五錢。</p>

<h3>出汗</h3>
<p>人有病不宜汗多。若過出汗，恐其亡陽，不可不用藥以斂之。方用：</p>
<p>人參　黃耆　當歸（各一兩）　桑葉（五片）　麥冬（三錢）　炒棗仁（一錢）</p>
<p>水煎服。</p>

<h3>癆症</h3>
<p>癆症既成，最難治者，必有蟲生之以食人之氣血也。若徒補氣血而不入殺蟲之藥，則飲食入胃，只蔭蟲而不生氣血。若但殺蟲而不補氣血，則五臟俱受傷又何有生理哉？惟於大補之中加殺蟲之藥，則元氣既全，真陽未散，蟲死而身安矣。方用：</p>
<p>人參　白薇（各三兩）　熟地　地慄粉　何首烏　桑葉（半斛）　鱉甲　山藥（一兩）　神麯　麥冬（五兩）</p>
<p>熟地為丸。每日白水送下五錢，半年蟲從大便出矣。</p>

<h2>痰嗽門</h2>
<p>古人所主治痰之法，皆是治痰之標，而不能治其本也。如二陳湯上、中、下、久、暫之痰皆能治之，而其實無實效也。今立三方，痰症總不出其範圍也。</p>

<h3>初病之痰</h3>
<p>傷風咳嗽吐痰是也。方用：</p>
<p>陳皮　半夏　花粉　茯苓　蘇子　甘草（各一錢）</p>
<p>水煎服。</p>
<p>二劑而痰可消矣。此去上焦之痰，上焦之痰原在胃中，而不在肺。去其胃中之痰肺金自然清肅又何至火之上升哉！</p>

<h3>已病之痰</h3>
<p>必觀其色之白與黃而辨之。黃者火已退也，白者火正熾也。（黃、白二字當誤）正熾者，用寒涼之品；將退者，用祛逐之味，今一方而俱治之。方用：</p>
<p>白朮　白芥子（各三錢）　茯苓（五錢）　陳皮　甘草（各一錢）　枳殼（五分）</p>
<p>水煎服。</p>
<p>有火加梔子，無火不必加。此方健脾去濕治痰之在中焦者也。</p>
<p>又方：</p>
<p>白朮　茯苓　薏仁（各五錢）　大花粉（二錢）　陳皮（一錢）　人參（五分）　益智仁（三分）</p>
<p>水煎服。</p>
<p>有火加黃芩一錢，無火加乾薑一錢、甘草二分。此方健脾去濕而不耗氣。二劑而痰自消也。</p>

<h3>久病之痰</h3>
<p>久病痰多，切不可作脾濕生痰論之。蓋久病不愈，未有不因腎水虧損者也。非腎水泛上為疾即腎火沸騰為痰，當補腎以祛逐之。方用：</p>
<p>熟地　薏仁（各一兩）　山藥　麥冬　芡實　山萸（各五錢）　五味子　茯苓（各三錢）　益智仁（二錢）　車前子（一錢）</p>
<p>水煎服。</p>
<p>此治水泛為痰之聖藥也。若火沸騰為痰，加肉桂一錢，補腎祛濕而化痰。水入腎宮，自變為真精而不化痰矣。此治下焦之痰也。</p>
<p>又方：</p>
<p>六味地黃湯加麥冬、五味子，實有奇功，無火加桂、附。</p>

<h3>滯痰</h3>
<p>夫痰之滯，乃氣之滯也。苟不補氣而惟去其痰，未見痰去而病消也。方用：</p>
<p>人參　陳皮　花粉　白芥子（各一錢）　白朮（二錢）　茯苓（三錢）　蘇子（八分）　白蔻（二粒）</p>
<p>水煎服。</p>

<h3>濕痰</h3>
<p>治痰之法，不可徒去其濕，必以補氣為先而佐以化痰之品，乃克有效。方用：</p>
<p>人參（一兩）　薏仁（五錢）　茯苓　半夏　神麯（各三錢）　陳皮　甘草（各一錢）</p>
<p>水煎服。</p>
<p>此方之中用神麯，人多不識，謂神麯乃消食之味，非化痰之品，不知痰之積聚稠黏甚不易化，惟用神麯以發之，則積聚稠黏開矣。繼之以半夏、陳皮可以奏功，然雖有陳、半消痰，使用不多，用人參則痰難消。今有人參以助氣，又有薏仁、茯苓健脾去濕而痰焉有不消者乎。</p>
<p>貝母　半夏　茯苓（各三錢）　白朮（五錢）　神麯（二錢）　甘草　桔梗　白礬　炙紫苑（各一錢）</p>
<p>水煎服（此方前六味誤入頑痰項下，今移此）。</p>
<p>此方妙在貝母、半夏同用，一燥一濕，使痰無處逃避。又有白礬消塊，梗、菀去邪，甘草調中，有不奏功者乎。</p>

<h3>水泛為痰</h3>
<p>腎中之水，有火則安，無火則泛。倘人過於入房則水去而火亦去，久之則水虛而火亦虛。水無可藏之地，必泛上為痰矣。治之法，欲抑水之下降，必先使水之下溫。當於補腎之中，加大熱之藥，使水足以制火，火足以暖水，則水火有既濟之道，自不上泛為痰矣。方用：</p>
<p>熟地（一兩）　山萸（五錢）　肉桂（二錢）　牛膝（三錢）　五味子（一錢）</p>
<p>水煎服。</p>
<p>一劑而痰下行矣，二劑而痰自消矣。</p>

<h3>中氣又中痰</h3>
<p>中氣中痰雖若中之異而實中於氣之虛也。氣虛自然多痰，痰多必然耗氣，雖分實合也。方用（原本無方）：</p>

<h3>寒痰</h3>
<p>人有氣虛而痰寒者，即用前方加肉桂三錢、乾薑五分足之矣。</p>

<h3>熱痰</h3>
<p>人有氣虛而痰熱者，方用：</p>
<p>當歸（三錢）　白芍（二錢）　麥冬　茯苓（各二錢）　陳皮　甘草　花粉　白芥（各一錢）　神麯（三分）</p>
<p>水煎服。</p>

<h3>老痰</h3>
<p>凡痰在胸膈而不化者，謂之老痰。方用：</p>
<p>柴胡　茯苓　甘草　陳皮　丹皮　花粉（各一錢）　白芍　薏仁（各三錢）　白芥子（五錢）</p>
<p>水煎服。</p>
<p>此方妙在白芥子為君，薏仁、白芍為臣，柴胡、花粉為佐，使老痰無處可藏。十劑而老痰可化矣。</p>

<h3>頑痰</h3>
<p>痰成而塞咽喉者，謂之頑痰。方用：</p>
<p>人參（一兩）　半夏　南星　茯苓（各三錢）　附子（一錢）　甘草（一兩）</p>
<p>水煎服。</p>
<p>人參原是氣分之神劑，而亦消痰之妙藥，半夏、南星雖逐痰之妙品，而亦扶氣之正藥；附子、甘草一仁一勇，相濟而成。</p>

<h3>濕嗽</h3>
<p>秋傷於濕，若用烏梅、粟殼等味，斷乎不效。方用：</p>
<p>白朮（三錢）　陳皮　當歸　甘草　枳殼　桔梗（各一錢）</p>
<p>水煎服。</p>
<p>三劑然矣。冬嗽皆秋傷於濕也，豈可拘於受寒乎！</p>

<h3>久嗽</h3>
<p>方用：</p>
<p>人參（五錢）　白芍　棗仁（各三錢）　五味子　白芥子（各一錢）　益智仁（五分）</p>
<p>水煎服。</p>
<p>久嗽方用：</p>
<p>烏梅　瓜蔞仁（五錢、去油）　杏仁（一錢）　硼砂（一錢）　人參（童便浸）　五味子（五錢酒蒸）　寒水石（一錢火煅）　胡桃仁（一錢去油）　薄荷（五分）　甘草（五分）　貝母（三兩）</p>
<p>蜜丸，櫻桃大。淨綿包之。口中噙化。虛勞未曾失血，脈未數者，皆用之，無論老少神效。十粒見功，二十粒愈。</p>
<p>又方用：</p>
<p>人參、當歸、細辛各一錢，水煎，連渣嚼盡，一二劑即愈。</p>

<h3>肺嗽兼補腎</h3>
<p>肺嗽之症，本是肺虛，其補腎（當為肺）也明矣，奈何兼補腎乎？</p>
<p>肺經之氣夜必歸於腎，若肺金為心火所傷，必求救於其子，子若力量不足，將何以救其母哉，方用：</p>
<p>熟地　麥冬（各一兩）　山萸（四錢）　元參（五錢）　蘇子　牛膝（各一錢）　沙參　天冬（各二錢）　紫菀（五分）</p>
<p>水煎服。</p>

<h1>男科卷二</h1>

<h2>喘症門</h2>

<h3>氣治法</h3>
<p>氣虛、氣實不可不平之也，氣實者非氣實，乃正氣虛而邪氣實也，法當用補正之藥而加祛逐之品，則正氣足邪氣消矣。方用：</p>
<p>人參　白朮　麻黃　半夏　甘草（各一錢）　白芍（三錢）　柴胡（二錢）</p>
<p>水煎服。</p>
<p>推而廣之，治氣非一條也，氣陷補中益氣湯可用；氣衰六君子湯可採；氣寒人參白朮附子湯可施；氣虛則用四君子湯；氣鬱則用歸脾湯；氣熱用生脈散；氣喘用獨參湯；氣動用二陳湯加人參；氣壅塞用射干湯；氣逆用逍遙散。氣虛則贏弱，氣實則旺甚。氣虛用前方，氣實另一方。</p>
<p>白朮　柴胡　甘草　梔子（各一錢）　茯苓（三錢）　白芍（二錢）　陳皮　枳殼（各五分）　山楂（十個）　水煎服。</p>

<h3>氣喘</h3>
<p>凡人氣喘而上者，人以為氣有餘也，殊不知氣盛當作氣虛看，有餘當作不足看，若認作肺氣之盛而用蘇葉、桔梗、百部、豆根之類，去生遠矣。方用：</p>
<p>人參（三兩）　牛膝（三錢）　熟地（五錢）　山萸（四錢）　枸杞　五味子（各一錢）　麥冬（五錢）　胡桃（三個）　生薑（五片）　水煎服。</p>
<p>此方不治肺而正所以治肺也，或疑人參乃健脾之藥，既宜補腎不宜多用人參，不知腎水大虛，一時不能遽生，非急補其氣，則元陽一線必且斷絕，況人參少用則泛上，多用即下行，妙在用人參三兩，使下達病源，補氣以生腎水。方中熟地、山萸之類，同氣相求，直入命門，又何患其多哉。若病重之人尤宜多加。但喘有初起之喘，有久病之喘。初起之喘多實邪，久病之喘多氣虛。實邪喘者必抬肩，氣虛喘者微微氣息耳。此方治久病之喘，若初起之喘四磨四七湯一劑即止。喘不獨肺氣虛而腎水竭也。</p>

<h3>實喘</h3>
<p>黃芩（二錢）　柴胡　甘草（各五分）　麥冬（三錢）　蘇葉　烏藥　半夏　山豆根（各一錢）　水煎服。一劑喘定，不定再劑也。凡實喘症氣大急，喉中必作聲，肩必抬，似重而實輕也。</p>

<h3>虛喘</h3>
<p>大抵此等症氣少息，喉無聲肩不抬也，乃腎氣大虛，脾氣又復將絕，故奔沖而上，欲絕未絕也，方用救絕湯。</p>
<p>人參　熟地（各一兩）　山萸（三錢）　牛膝　五味子　白芥子（各一錢）　麥冬（五錢）</p>
<p>水煎服。</p>

<h3>氣短似喘</h3>
<p>氣短似喘而實非喘也，若作實喘治之立死，蓋氣短乃腎氣虛耗，氣衝上焦壅塞於肺經，不足之症也，方用：</p>
<p>人參（二兩）　熟地（一兩）　山萸　牛膝　補骨脂　枸杞（各三錢）　麥冬（五錢）　胡桃（三個去皮）　五味子（二錢）　水煎服。</p>
<p>三劑氣平喘定，此方妙在用人參之多，能下達氣原，挽回於無何有之鄉，又純是補肺補腎之品，子母相生，水氣自旺，則火氣自安於故宅，不上衝於喉門矣。</p>

<h3>抬肩大喘</h3>
<p>人忽感風邪，寒入於肺，以致喘急肩抬，氣逆痰吐不出，身不能臥，方用：</p>
<p>柴胡　茯苓　當歸　麥冬　桔梗（各二錢）　黃芩　甘草　半夏　射干（各一錢）　水煎服。</p>
<p>此方妙在用柴胡、射干、桔梗以發舒肺金之氣，半夏以祛痰，黃芩以祛火，蓋感寒邪內必變為熱症，故用黃芩以清解之。然徒用黃芩雖曰清火，轉足以遏抑其火，而火未必伏也，有射干、桔梗、柴胡一派辛散之品，則足以消火減邪矣。</p>

<h3>腎寒氣喘</h3>
<p>人有氣喘不能臥，吐痰如湧泉者，舌不燥而喘不止，一臥即喘，此非外感之寒邪，乃腎中之寒氣也。蓋腎中無火則水無所養，乃泛上而為痰，方用六味地黃湯加桂、附大劑飲之，蓋人之臥必腎氣與肺氣相安，而後河車之路平安而無奔越也。</p>

<h3>腎火扶肝上衝</h3>
<p>凡人腎火逆扶肝氣而上衝，以致作喘，甚有吐紅粉痰者，此又腎火炎上以燒肺金，肺熱不能克肝而龍雷之火併騰矣。方用：</p>
<p>沙參　地骨皮（各一兩）　麥冬（五錢）　丹皮（三錢）　白芍（五錢）　白芥子（二錢）　桔梗（五分）　甘草（三分）　水煎服。</p>
<p>此方妙在地骨皮清骨中之火，沙參、丹皮以養陰，白芍平肝，麥冬清肺，甘草、桔梗引入肺經，則痰消而喘定矣。</p>

<h3>假熱氣喘吐痰</h3>
<p>人有假熱氣喘吐痰者，人以為熱而非熱也，乃下元寒極逼其火而上喘也，此最危急之症，苟不急補其腎水與命門之火，則一線之微必然斷絕。方用：</p>
<p>熟地（四兩）　山藥　麥冬（各三兩）　五味子　牛膝（各一兩）　肉桂　附子（各一錢）　水煎冷服一劑而愈。</p>

<h3>喘嗽</h3>
<p>人有喘而且嗽者，人以為氣虛而有風痰也，誰知是氣虛不能歸源於腎，而肝木挾之作祟乎？法當峻補其腎，少助以引火之品，則氣自歸源於腎而喘嗽俱止矣。方用：</p>
<p>人參（一兩）　熟地（二兩）　麥冬（五錢）　牛膝　枸杞　白朮　五味子　菟絲子（各一錢）　茯苓（三錢）　水煎服，連服幾劑必有大功，倘以四磨四七湯治之則不效矣，即投貞元飲，此方專治喘而脈微澀者。</p>
<p>熟地（三兩）　當歸（七錢）　甘草（一錢）　水煎服。婦人多此症。</p>

<h2>吐血門</h2>

<h3>陽症吐血</h3>
<p>人有感暑傷氣忽然吐血盈盆，人以為陰虛也，不知陰虛吐血與陽虛不同，陰虛吐血人安靜無躁動，陽虛必大熱作渴欲飲冷水，舌必有刺；陰虛口不渴而舌苔滑也，法當清胃火，不必止血也。方用：</p>
<p>人參　當歸　香薷　石膏（各三錢）　荊芥（一錢）　青蒿（五錢）　水煎服</p>
<p>此方乃陽症吐血之神劑也，方中雖有解暑之味，然補正多於解暑。去香薷一味實可同治，但此方只可用一二劑，即改六味地黃湯。</p>

<h3>大怒吐血</h3>
<p>其血也或傾盆而出或沖口而來，一時昏暈，死在頃刻，以止血治之則氣悶不安，以補血治之則胸滿不受，有變症蜂起而死者，不可不治之得法也，方用解血平氣散。方用：</p>
<p>白芍　當歸（各二兩）　炒荊芥　黑山梔（各三錢）　紅花（二錢）　柴胡（八分）　甘草（一錢）　水煎服。一劑而氣平舒，二劑而血止息，三劑而症大愈。</p>
<p>此症蓋怒傷肝不能平其氣，以致吐血，若不先舒其氣而遽止血，則愈激動肝火之氣，必氣愈旺而血愈吐矣。方中用白芍平肝又舒氣，柴胡、荊芥引血歸經，當歸、紅花生新去舊，安有不愈者哉！</p>

<h3>吐血</h3>
<p>此症人非以為火盛即以為陰虧，用涼藥以瀉火，乃火愈盛而血愈多，用滋陰之味止血之品仍不效，誰知是血不歸經乎？治法當用補氣之藥而佐以引血歸經之味，不止血而血自止矣。方用：</p>
<p>人參（五錢）　當歸（一兩）　炒丹皮　黑芥穗（各三錢）　水煎服一劑而止。此方妙在不專補血而反去補氣以補血，尤妙在不去止血而去行血以止血，蓋血逢寒則凝，逢散則歸經，救死於呼吸之際大有神功。</p>

<h3>吐白血</h3>
<p>血未有不紅者，何以名白血？不知久病之人吐痰皆白沫乃白血也。白沫何以名白血？以其狀似蟹涎，無敗痰存其中，實血而非痰也。若將所吐白沫露於星光之下一夜必變紅矣。此沫出於腎，而腎火沸騰於咽喉不得不吐者也，雖是白沫而實腎中之精。豈特血而已哉，苟不速治則白沫變為綠痰，無可如何矣。方用：</p>
<p>熟地　麥冬（各一兩）　山藥　山萸　茯苓（各五錢）　丹皮　澤瀉（各二錢）　五味子（一錢）　水煎服。日日服之。</p>

<h3>血不歸經</h3>
<p>凡人血不歸經，或上或下，或四肢毛竅各處出血，循行經絡，外行於皮毛，中行於臟腑，內行於筋骨，上行於頭目兩手，下行於二便一臍，周身無非血路，一不歸經，則各處妄行，有孔則鑽，有洞則泄，甚則嘔吐，或見於皮毛，或出於齒縫，或滲於臍腹，或露於二便，皆宜順其性以引之歸經。方用。</p>
<p>熟地　生地（各五錢）　當歸　白芍　麥冬（各三錢）　茜草根　荊芥　川芎　甘草（各一錢）　水煎服。</p>
<p>此方即四物湯加減，妙在用茜草引血歸經。</p>

<h3>三黑神奇飲</h3>
<p>丹皮（炒黑七分）　黑山梔（五分）　真蒲黃（炒黑一錢二分）　貝母（一錢）　川芎（酒洗）　生地（酒洗各一錢）　水二杯，童便、藕汁各半杯煎服。此方治吐血神效無比，二劑止。</p>
<p>六味地黃湯加麥冬、五味子最能補腎滋肝，木得其養則血有可藏之經而不外泄，血症最宜服之。</p>

<h3>嘔吐門</h3>

<h3>脾胃症辨</h3>
<p>人有能食而不能化者，乃胃不病而脾病也，當補脾，而補脾尤宜補腎中之火，蓋腎火能生脾土也。不能食，食之而安然者，乃脾不病而胃病也，不可補腎中之火，當補心火，蓋心火能生胃土也。世人一見不飲食，動曰脾胃虛也，殊不知胃之虛寒責之心，脾之虛寒責之腎，不可不辨也。</p>

<h3>反胃大吐</h3>
<p>大吐之症，舌有芒刺，雙目紅腫，人以為熱也，誰知是腎水之虧乎？蓋脾胃必借腎水而滋潤，腎水之虧則脾胃之火沸騰而上，以致目紅腫而舌芒刺也，但此症時躁時靜，時欲飲水，及水到又不欲飲，即強之飲，亦不甚快，此乃上假熱而下真寒也，宜六味地黃湯加桂、附，水煎服。</p>
<p>外治法，先以手擦其足心，使之極熱，然後用附子一個煎湯，用鵝翎掃之，隨干隨掃，少頃即不吐矣。後以六味地黃湯大劑飲之即安然也，或逍遙散加黃連亦立止也，無如世醫以雜藥投之而成噎嗝矣。方用：</p>
<p>熟地（三兩）　山萸　元參（各一兩）　當歸（五錢）　牛膝　白芥子（各三錢）　五味子（二錢）　水煎服。</p>
<p>蓋腎水不足則大腸必干而細，飲食入胃難於下行，故反而上吐矣。</p>

<h3>寒邪犯腎大吐</h3>
<p>寒入腎宮將脾胃之水挾之盡出，手足厥逆，小腹痛不可忍，以熱物熨之少快，否則寒冷難支，人多以為胃病，其實腎病也。方用：</p>
<p>附子（一個）　白朮（四兩）　肉桂（一錢）　乾薑（三錢）　人參（三兩）　水煎服。</p>
<p>此藥下喉便覺吐定，煎渣再服，安然如故。</p>

<h3>嘔吐</h3>
<p>世人皆以嘔吐為胃虛，誰知由於腎虛乎？故治吐不效，未窺見病之根也。方用：</p>
<p>人參　芡實（各三錢）　白朮　薏仁（各五錢）　砂仁（五粒）　吳萸（五分）　水煎服。</p>

<h3>火吐</h3>
<p>此症若降火，則火由脾而入於大腸，必變為便血之症，法宜清火止吐。方用：</p>
<p>茯苓（一兩）　人參（二錢）　砂仁（三粒）　黃連（三錢）　水煎服。</p>

<h3>寒吐</h3>
<p>此症若降寒，則又引入腎而流於膀胱，必變為遺尿之症，法宜散寒止吐。方用：</p>
<p>白朮（二兩）　人參（五錢）　附子　乾薑（各一錢）　丁香（五分）　水煎服。</p>
<p>此方散寒而用補脾之品，則寒不能上越而亦不得下行，勢不能不從臍出也。</p>

<h3>胃吐</h3>
<p>此症由於脾虛，脾氣不得下行，自必上反而吐，補脾則胃安。方用：</p>
<p>人參　茯苓（各三錢）　白朮（五錢）　甘草　肉桂　神麯　半夏（各一錢）　砂仁（三粒）　水煎服。</p>
<p>此方治胃病以補脾者何也？蓋胃為脾之關，關門之沸騰由於關中之潰亂，欲使關外之安靜，必先使關中之安寧，況用砂仁、半夏、神麯等味，全是止吐之品，有不奏功者乎！此脾胃兩補之。</p>

<h3>反胃</h3>
<p>人有食入而即出者，乃腎水虛不能潤喉，故喉燥而即出也。方用：</p>
<p>熟地（二兩）　山萸　茯苓　麥冬（各五錢）　山藥（一兩）　澤瀉　丹皮（各三錢）　五味子（一錢）　水煎服。</p>

<h3>反胃</h3>
<p>此症又有食久而反出者，乃腎火虛不能溫脾，故脾寒而反出也。方用：</p>
<p>熟地（二兩）　山萸（一兩）　山藥（六錢）　茯苓　丹皮　附於　肉桂（各三錢）　澤瀉（二錢）　水煎服。</p>

<h3>胃寒</h3>
<p>心腎兼補治脾胃兩虛者固效，若單胃之虛寒，自宜獨治心之為妙。方用：</p>
<p>人參　遠志（各一兩）　白朮　茯苓　蓮子　白芍（各三兩）　菖蒲　良薑　棗仁（各五錢）　半夏　附子　白芥子　山藥（各四錢）　蜜丸，每日白水送下五錢。</p>

<h3>胃寒吐瀉　心寒胃弱</h3>
<p>此症由於心寒胃弱，嘔吐不已，食久而出是也；下痢不己，五更時痛瀉三五次者是也。人以為脾胃之寒，服脾胃之藥而不效者何也？蓋胃為腎之關，而脾為腎之海，胃氣弱不補命門之火，則心包寒甚，何以生胃土而消穀食；脾氣弱不補命門之火，則下焦虛冷，何以化飲食而生精華，故補脾胃莫急於補腎也。方用：</p>
<p>熟地　茯苓　人參（各三兩）　山萸（二兩）　山藥（四兩）　附子　肉桂　五味子（各一兩）　吳萸（五錢）　蜜丸，每日白水送下五錢，空心。</p>

<h2>臌症門</h2>

<h3>水臌</h3>
<p>此症滿身皆水，按之如泥者是。若不急治，水流四肢，不得從膀胱出，則為死症矣。方用決流湯。</p>
<p>黑醜　甘遂（各二錢）　肉桂（三分）　車前子（一兩）　水煎服。一劑水流鬥余，二劑全愈，斷勿與三劑也。與三劑反殺之矣。蓋二醜、甘遂最善利水，又加肉桂、車前子引水以入膀胱，利水而不走氣，不使牛、遂（牽牛即二醜，甘遂）之過猛也。二劑之後，須改五苓散調理二劑，再用六君子湯補脾可也。忌食鹽，犯之必不救矣。</p>

<h3>氣臌</h3>
<p>此症氣虛作腫，似水而實非水也，但按之不如泥耳。必先從腳面上腫起，後漸腫至身上，於是頭面皆腫者有之，此之謂之氣臌，宜於健脾行氣之中加引水之品，若以治水臌法治之是速之死也。方用：</p>
<p>白朮　茯苓　薏仁（各一兩）　甘草　肉桂（各一分）　枳殼（五分）　人參　蘿蔔子　神麯　車前子（各一錢）　山藥（五錢）　水煎服。</p>
<p>初服若覺有礙，久之自有大功，三十劑而愈矣。亦忌食鹽，秋石亦忌。</p>

<h3>蟲臌</h3>
<p>此症小腹痛，四肢浮腫而未甚，面色紅而有白點如蟲食之狀，是謂之蟲臌，方用消蟲神奇丹：</p>
<p>當歸　鱉甲　地慄粉（各一兩）　雷丸　神麯　茯苓　白礬（各三錢）　車前子（五錢）　水煎服，一劑下蟲無數，二劑蟲盡臌消，不必三劑。但病好必用六君子湯去甘草調理。</p>

<h3>血臌</h3>
<p>此症或因跌閃而瘀血不散，或憂鬱而結血不行，或風邪而蓄血不散，留在腹中致成血臌，飲食入胃不變精血反去助邪，久則腹脹成臌矣，倘以治水法逐之而症非水，徒傷元氣；以治氣法治之而又非氣，徒增飽滿。方用逐瘀湯：</p>
<p>水蛭（三錢，此物最難死，火燒經年入水猶生，必須炒黃為末方妥）　當歸（二兩）　雷丸　紅花　枳殼　白芍　牛膝（各三錢）　桃仁（四十粒）　水煎服。一劑血盡而愈。切勿與二劑。當改四物湯調理，於補血內加白朮、茯苓、人參補元氣而利水，自然全愈。不則恐成乾枯之症。辨血臌惟腹脹如臌而四肢手足並無臌意也。</p>

<h2>水症門</h2>

<h3>水腫</h3>
<p>此症土不能剋水也，方用：</p>
<p>牽牛　甘遂（各二錢）　水煎服。</p>
<p>此症治法雖多，獨此方奇妙，其次雞屎醴亦效，雞屎醴治血臌尤效。</p>

<h3>呃逆</h3>
<p>此症乃水氣凌心包也。心包為水氣所凌，呃逆不止，號召五臟之氣救水氣之犯心也，治法當利濕分水。方用：</p>
<p>茯神　薏仁（各一兩）　芡實　丁香（各五錢）　蒼朮　白朮　人參（各三錢）　法制半夏　陳皮（各一錢）　吳萸（三分）　水煎服，二劑愈。</p>

<h3>水結膀胱</h3>
<p>此症目突口張，足腫氣喘，人以為不治之症，不知膀胱與腎相為表裡，膀胱之開合腎司其權，特通其腎氣而膀胱自通矣。方用通腎消水湯。</p>
<p>熟地　山藥　薏仁（各一兩）　山萸（錢半）　茯神（五錢）　肉桂　牛膝（各一錢）　車前子（三錢）　水煎服</p>

<h2>濕症門</h2>

<h3>黃症</h3>
<p>此症外感之濕易治，內傷之濕難療。外感者利水則愈，若內傷之濕瀉水則氣消，發汗則精泄，必健脾行氣而後可也。方用：</p>
<p>白朮　茯苓　薏仁（各一兩）　茵陳　黑梔（各三錢）　陳皮（五分）　水煎服。</p>
<p>此方治內傷之濕，不治外感之濕，若欲多服去梔子。</p>

<h3>癉症</h3>
<p>此症雖因風、寒、濕而來，亦因元氣之虛，邪始得乘虛而人，倘攻邪而不補正，則難愈矣。今於補正之中佐以去風、寒、濕之品，而癉如失矣。方用：</p>
<p>白朮（五錢）　人參（三錢）　茯苓（一兩）　柴胡　附子　半夏（各一錢）　陳皮（五分）　水煎服。</p>

<h3>傷濕</h3>
<p>此症惡濕，身重足腫，小便短赤。方用：</p>
<p>澤瀉　豬苓（各三錢）　肉桂（五分）　茯苓　白朮（各五錢）　柴胡　半夏　車前子（各一錢）　水煎服，一劑愈。</p>

<h3>腳氣</h3>
<p>今人以五苓散去濕亦是正理，然不升其氣，而濕未必盡去也，必須提氣而水乃散也。方用：</p>
<p>黃耆（一兩）　人參　白朮（各三錢）　防風　肉桂　柴胡（各一錢）　薏仁　芡實　白芍（各五錢）　半夏（二錢）　陳皮（五分）　水煎服。</p>
<p>此方去濕之聖藥，防風用於黃耆之中已足提氣而去濕，又助之柴胡舒氣，氣自升騰，氣升則水散，白朮、茯苓、薏仁、芡實俱是去濕之品，有不神效者乎！</p>

<h2>泄瀉門</h2>

<h3>瀉甚</h3>
<p>一日五六十回傾腸而出，完穀不化，糞門腫痛，如火之熱，茗無以救之，必致立亡。方用截瀉湯：</p>
<p>薏仁　白芍（各二兩）　山藥　車前子（各一兩）　黃連　茯苓（各五錢）　澤瀉　甘草（各二錢）　人參（三錢）　肉桂（三分）　水煎服。</p>

<h3>水瀉</h3>
<p>白朮（一兩）　車前子（五錢）　水煎服。</p>
<p>此方補腎健脾，利水去濕，治瀉神效。</p>

<h3>火瀉</h3>
<p>完穀不化，飲食下喉即出，日夜數十次，甚至百次，人皆知其熱也。然而熱之生也何故？生於胃中之水衰，不能制火，使胃土關門不守於上，下所以直進而直出也，論其勢之急迫，似乎宜冶其標，然治其標而不能使火之驟降，必須急補腎中之水，使火有可居之地，而後不致上騰也。方用：</p>
<p>熟地　白芍（各三錢）　山萸　茯苓　甘草　車前子（各一兩）　肉桂（三分）　水煎服。</p>
<p>此乃補腎之藥，非止瀉之品，然而止瀉之妙捷如桴鼓，世人安知此也。</p>

<h3>水瀉</h3>
<p>此乃純是下清水，非言下痢也。痢無止法，豈瀉水亦無止法乎？故人患水瀉者，急宜止遏。方用：</p>
<p>白朮（五錢）　茯苓（三錢）　吳萸（五分）　車前子　五味子（各一錢）　水煎服。</p>

<h3>泄瀉吞酸</h3>
<p>泄瀉寒也，吞酸火也。似乎寒熱殊而治法異矣，不知吞酸雖熱由於肝氣之鬱結，泄瀉雖寒由於肝木之克脾，苟用一方以治木鬱，又一方以培脾土，土必大崩，木必大調矣。不若一方而兩治之為愈也。方用：</p>
<p>白芍（五錢）　柴胡　車前子（各一錢）　茯苓（三錢）　陳皮　甘草　神麯（各五分）　水煎服。</p>
<p>此方妙在白芍以舒肝木之郁，木鬱一舒，上不克胃，下不克脾，又有茯苓、車前以分消水濕之氣，則水盡從小便出，而有餘之水以吞酸刺汁以泄瀉哉。</p>

<h2>痢疾門</h2>

<h3>火邪內傷辨</h3>
<p>火邪之血色必鮮紅，脈必洪緩，口必渴而飲冷水，小便必澀而赤濁；內傷之血色不鮮而紫暗，或微紅淡白，脈必細而遲，或浮澀而空，口不渴，即渴而喜飲熱湯，小便不赤不澀，即赤而不熱不濁，此訣也。</p>

<h3>痢疾</h3>
<p>此症感濕熱而成，紅白相見，如膿如血，至危至急者也，苟用涼藥止血，熱藥攻邪，俱非善治之法。方用：</p>
<p>白芍　當歸（各二兩）　枳殼　檳榔（各二錢）　滑石（三錢）　廣木香　萊菔子　甘草（各一錢）　水煎服，一二劑收功。</p>
<p>此方妙在用歸芍至二兩之多，則肝血有餘不去克脾土，自然大腸有傳送之功，加之枳殼、檳榔俱逐穢去積之品，尤能於補中用攻，而滑石、甘草、木香調達於遲速之間，不疾不徐，使瘀滯盡下也。其餘些小痢疾減半用之無不奏功。此方不論紅白痢疾，痛與不痛服之皆神效。</p>
<p>又方：</p>
<p>當歸（一兩）　黃芩（酒洗七分）　蒼朮　厚朴　大腹皮　陳皮（各一錢）　水二碗煎一碗，頓服。</p>

<h3>血痢</h3>
<p>凡血痢腹痛者火也。方用：</p>
<p>歸尾　白芍（各一兩）　黃連（三錢）　枳殼　木香　萊菔子（各二錢）　水煎服。</p>

<h3>寒痢</h3>
<p>凡痢腹不痛者寒也。方用：</p>
<p>白芍　當歸（各三錢）　枳殼　檳榔　甘草　萊菔子（各一錢）　水煎服。</p>
<p>前方治壯實之人，火邪挾濕者，此方治寒痢腹不痛者。更有內傷勞倦與中氣虛寒之人，脾不攝血而成血痢者，當用理中湯加木香、肉桂，或用補中益氣湯加熟地、炒乾姜治之而始愈也。</p>
<p>經驗久瀉血痢，小腹作痛神效方。</p>
<p>秋梨（四兩）　生薑（五錢）　椿樹根皮（一兩）　共搗爛夏布擰汁水，空心服之立愈。</p>

<h2>大小便門</h2>

<h3>大便不通</h3>
<p>此症人以為大腸燥也，誰知是肺氣燥乎？蓋肺燥則清肅之氣不能下行於大腸，而腎經之水僅足自顧，又何能旁流以潤澗哉！方用：</p>
<p>熟地　元參（各三兩）　升麻（三錢）　牛乳（一碗）　火麻仁（一錢）　水二碗煎六分，將牛乳同調服之，一二劑必大便通。</p>
<p>此方不在潤大腸而在補腎，大補肺，夫人腸居於下流最難獨治，必須從腎以潤之，從肺以清之，啟其上竅則下竅自然流動通利矣，此下病上治之法也。</p>

<h3>實症大便不通</h3>
<p>大黃（五錢）　歸尾（一兩）　升麻（五分）　蜜半杯，水煎服。</p>
<p>此方大黃泄利，當歸以潤之，仍以為君，雖泄而不致十分猛烈，不致有亡陰之弊，況有升麻以提之，則泄中有留，又何必過慮哉。</p>

<h3>虛症大便不通</h3>
<p>人有病後大便秘者，方用：</p>
<p>熟地　元參　當歸（各一兩）　川芎（五錢）　桃仁（十粒）　火麻仁（一錢）　紅花　大黃（各三分）　蜜半杯，水煎服。</p>

<h3>小便不通</h3>
<p>膀胱之氣化不行即小便不通，似宜治膀胱也，然而治法全不在膀胱。方用：</p>
<p>人參　茯苓　蓮子（各三錢）　白果（二錢）　甘草（一錢）　肉桂　車前子　王不留（各一錢）　水煎服。</p>
<p>此方妙在用人參、肉桂，蓋膀胱必得氣化而出，氣化何也？心包絡之氣也。既用參桂而氣化行矣。尤妙在用白果，多不識此意，白果通任督之脈，走膀胱而引群藥，況車前子、王不留盡下泄之品，服之而前陰有不利者乎。</p>
<p>又方：</p>
<p>熟地（一兩）　山藥　丹皮　澤瀉　肉桂　車前子（各一錢）　山萸（四錢）　水煎服。</p>
<p>此不去通小便而專治腎水，腎中有水而膀胱之氣自然行矣。蓋膀胱之開合腎司其權也。</p>

<h3>大小便不通</h3>
<p>頭髮燒灰研末，用三指一捻，入熱水半碗飲之立通。</p>
<p>又方：</p>
<p>蜜一茶杯，皮硝一兩，黃酒一茶杯，大黃一錢，煎一處溫服神效。</p>

<h2>厥症門</h2>

<h3>寒厥</h3>
<p>此症手足必青紫，飲水必吐，腹必痛，喜火熨之。方用：</p>
<p>人參（三錢）　白朮（一兩）　附子　肉桂　吳萸（各一錢）　水煎服。</p>

<h3>熱厥</h3>
<p>此症手足雖寒而不青紫，飲水不吐，火熨之腹必痛，一時手足厥逆，痛不可忍，人以為四肢之風症也，誰知是心中熱蒸外不能泄，故四肢手足則寒而胸腹皮熱如火。方用：</p>
<p>柴胡（三錢）　當歸　炒梔子　黃連（各二錢）　荊芥　半夏　枳殼（各一錢）　水煎服二劑愈。</p>
<p>又方：</p>
<p>白芍（一兩）　黑梔（三錢）　陳皮　柴胡（各一錢）　花粉（二錢）　水煎服。以白芍為君，取入肝而平木也。</p>

<h3>屍厥</h3>
<p>此症一時猝倒，不省人事，乃氣虛而痰迷心也，補氣化痰而已。方用：</p>
<p>人參　半夏　南星（各三錢）　白朮（五錢）　附子（五分）　白芥子（一錢）　水煎服。</p>
<p>又方：</p>
<p>蒼朮（三兩）　水煎灌之必吐，吐後即愈。蓋蒼朮陽藥，善能祛風，故有奇效。</p>

<h3>厥症</h3>
<p>人有忽然發厥，閉目撤手，喉中有聲，有一日死者，有二三日死者，此厥多犯神明，然亦素有痰氣而發也，治法宜攻痰而開心竅。方用起迷湯：</p>
<p>人參　半夏（各五錢）　菖蒲（二錢）　菟絲子（一兩）　茯苓　皂莢　生薑（各一錢）　甘草（三分）　水煎服。</p>

<h3>氣虛猝倒</h3>
<p>人有猝然而倒，昏而不悟，喉中有痰，人以為風也，誰知是氣虛乎？若作風治無不死者。此症蓋因平日不慎女色，精虧以致氣衰，又加不慎起居，而有似乎風者，其實非風也。方用：</p>
<p>人參　黃耆　白朮（各一兩）　茯苓（五錢）　半夏（二錢）　白芥子（三錢）　菖蒲　附子（各一錢）　水煎服。</p>
<p>此方補氣而不治風，消痰而不耗氣，一劑神定，二劑痰清，三劑痊愈。</p>

<h3>陰虛猝倒</h3>
<p>此症有腎中之水虛而不上交於心者，又有肝氣燥不能生心之火者，此皆陰虛而能令人猝倒者也。方用再蘇丹：</p>
<p>熟地（二兩）　山萸　元參　麥冬　五味子（各一兩）　茯苓（五錢）　柴胡　菖蒲（各一錢）　白芥子（三錢）　水煎服。</p>
<p>此方補腎水滋肺氣，安心通竅，瀉火消痰，實有神功，十劑痊愈。</p>

<h3>陽虛猝倒</h3>
<p>人有心中火虛，不能下交於腎而猝倒者，陽虛也。方用：</p>
<p>人參　白朮　生棗仁（各一兩）　茯神（五錢）　附子　甘草（各一錢）　生半夏（三錢）　水煎服。藥下喉則痰靜而氣出矣，連服數劑，則安然如故。</p>
<p>此症又有胃熱不能安心之火而猝倒者，亦陽虛也。方用：</p>
<p>人參　元參（各一兩）　石膏　花粉（各五錢）　麥冬（三錢）　菖蒲（一錢）　水煎服，一劑心定，二劑火清，三劑痊愈。</p>

<h3>胃虛猝倒</h3>
<p>人有口渴索飲，眼紅氣喘，心脈洪大，舌不能言，不可作氣虛治，此乃腎虛之極，不能上滋於心，心火亢極，自焚悶亂，遂致身倒，有如中風者，法當補腎而佐以清火之藥。方用水火兩治湯。</p>
<p>熟地　當歸　元參（各一兩）　麥冬　生地　山萸　茯神（各五錢）　黃連　白芥子　五味子（各三錢）　水煎服，連服數劑而愈。</p>

<h3>大怒猝倒</h3>
<p>人有大怒跳躍忽然臥地，兩臂抽溺，唇口歪斜，左目緊閉，此乃肝火血虛，內熱生風之症，當用八珍湯加丹皮、鉤藤、山梔。若小便自遺，左關脈弦洪而數，此肝火血燥，當用六味湯加鉤藤、五味子、麥冬、川芎、當歸，愈後須改用補中益氣湯加丹皮、山梔、鉤藤多服。如婦人得此症則逍遙散加鉤藤及六味湯便是治法。</p>

<h3>中風不語</h3>
<p>人有跌倒昏迷或自臥而跌下床者，此皆氣虛而痰邪犯之也。方用三生引：</p>
<p>人參（一兩）　半夏（生）　南星（生，各三錢）　附子（生，一個）　水煎灌之。</p>
<p>此症又有因腎虛而得之者，夫腎主藏精，主下焦地道之生身，衝任二脈系焉，二脈與腎之大絡同出於腎之下，起於胞之中，其衝脈因稱胞絡，為經脈之海，遂名海焉，其衝脈之上行者，滲諸陽，灌諸精（精當為經之誤）；下行者滲諸陰，灌諸絡，而溫肌肉。別絡結於跗，因腎虛而腎絡與胞內絕不通於上則喑，腎脈不上循喉嚨挾舌本，則不能言，二絡不通於下則痱厥矣。方用地黃飲：</p>
<p>熟地　巴戟　山萸　茯苓　麥冬　肉蓯蓉（各一兩）　附子　菖蒲　五味子（各五錢）　石斛（六錢）　肉桂（三錢）　薄荷　姜　棗水煎服。</p>

<h3>口眼歪斜</h3>
<p>此症人多治木治金固是，而不知胃土之為尤切，當治胃土，且有經脈之分，經云，「足陽明之經，急則口目為僻，眥急不能視」，此胃土之經為歪斜也。又云，「足陽明之脈，挾口環唇」，口歪唇斜，此胃土之脈為歪斜也。二者治法皆當用黃耆、當歸、人參、白芍、甘草、桂枝、升麻、葛根、秦艽、白芒、防風、黃柏、蘇木、紅花，水酒各半煎，微熱服。如初起有外感者加蔥白三莖同煎，取微汗自愈。</p>
<p>此症又有心中虛極，不能運於口耳之間，輕則歪斜，重則不語。方用：</p>
<p>人參　茯苓　菖蒲　白芍（各三錢）　白朮（五錢）　半夏　肉桂（各二錢）　當歸（一兩）　甘草（一錢）　水煎服二劑愈。</p>
<p>又治法，令一個抱住身子，又一人抱住歪斜之耳輪，再令一個手摩其歪斜之處，至數百下，使面上火熱而後己，少頃口眼如故矣，最神效。</p>

<h3>半身不遂</h3>
<p>此症宜於心胃而調理之，蓋心為天真神機開發之本，胃是谷府，充大真氣之標，標本相得，則心膈開之，膻中、氣海所留宗氣，盈溢分布，五臟三焦，上下中外，無不周遍。若標本相失，不能致其氣於氣海，而宗氣散矣。故分布不周於經脈則偏枯，不周於五臟則喑，即此言之，未有不因真氣不周而病者也。法宜黃耆為君，參、歸、白芍為臣，防風、桂枝、鉤藤、竹瀝、薑、韭、葛、梨、乳汁為佐治之而愈。若雜投乎烏、附，羌活之類以涸榮而耗衛，如此死者醫殺人也。</p>

<h3>半身不遂回眼歪斜</h3>
<p>方用人參　當歸　白朮（各五錢）　黃耆（一兩）　半夏　乾葛（各三錢）　甘草（一錢）　紅花（二錢）　桂枝（錢半）　姜（三片）　棗二枚，水二杯煎服。</p>
<p>此症人多用風藥治之，殊不冗功，此藥調理氣血故無不效。</p>

<h3>癰症</h3>
<p>此症忽然臥地，作牛、馬、豬、羊之聲，吐痰如湧泉者，痰迷心竅也，蓋因寒而成，感寒而發也。方用：</p>
<p>人參　山藥、半夏（各三錢）　白朮（一兩）　茯神　薏仁（各五錢）　肉桂　附子（各一錢）　水煎服。</p>
<p>又方：</p>
<p>人參　茯神（各一兩）　白朮（五錢）　半夏　南星　附子　柴胡（各一錢）　草蒲（三分）　水煎服，此本治寒狂之方，治癇亦效。</p>

<h1>男科卷三</h1>

<h2>癲狂門</h2>

<h3>癲狂</h3>
<p>此症多生於脾胃之虛寒，飲食入胃不變精而變痰，痰迷心竅，遂成癲狂，苟徒治痰而不補氣，未有不死者也。方用：</p>
<p>人參　白芥子（各五錢）　白朮（一兩）　半夏（三錢）　陳皮　乾薑　肉桂（各一錢）　甘草　菖蒲（各五分）　水煎服。如女人得此症去肉桂加白芍、柴胡、黑梔治之亦神效。</p>

<h3>發狂見鬼</h3>
<p>此症氣虛而中痰也，宜固其正氣而佐以化痰之品。方用：</p>
<p>人參　白朮（各一兩）　半夏　南星（各三錢）　附子（一錢）　水煎服。</p>

<h3>發狂不見鬼</h3>
<p>此症是內熱之症。方用：</p>
<p>人參　白芍　半夏（各三錢）　南星　黃連（各二錢）　陳皮　甘草　白芥子（各一錢）　水煎服。</p>

<h3>狂症</h3>
<p>此症有因熱得之者，一時之狂也，可用白虎湯以瀉火。更有終年狂而不愈者，或拿刀殺人，或罵親戚不認兒女，見水大喜，見食大惡，此乃心氣之虛而熱邪乘之痰氣侵之也。方用化狂湯：</p>
<p>人參　白朮　茯神（各一兩）　附子（一分）　半夏　菟絲子（各三錢）　菖蒲　甘草（各一錢）　水煎服，一劑狂定。</p>
<p>此方妙在補心、脾、胃三經而化其痰，不去瀉火。蓋瀉火則心氣益傷而痰涎益盛，狂何以止乎？尤妙微用附子引補心消痰之品直入心中，則氣易補而痰易消，又何用瀉火之多事哉。</p>

<h3>寒狂</h3>
<p>凡發狂罵人，未渴索飲，予水不飲者，寒症之狂也。此必氣鬱不舒，怒氣未泄，其人必性情過於柔弱不能自振者耳，宜補氣消痰。方用：</p>
<p>人參　茯苓（各一兩）　白朮（五錢）　半夏　南星　附子　柴胡（各一錢）　菖蒲（三分）　水煎服，藥下喉，睡熟醒來病如失矣。</p>

<h2>怔忡驚悸門</h2>

<h3>怔忡不寐</h3>
<p>此症心經血虛也。方用：</p>
<p>人參　當歸　茯神　麥冬（各三錢）　丹皮（二錢）　甘草　菖蒲　五味子（各一錢）　生棗仁　熟棗仁（各五錢）　水煎服。</p>
<p>此方妙在用生熟棗仁，生使其日間不臥，熟使其夜間不醒，又以補心之藥為佐，而怔忡安矣。</p>

<h3>心驚不安，夜臥不唾</h3>
<p>此心病而實腎病也，宜心腎兼治。方用：</p>
<p>人參　茯苓　茯神　熟地　麥冬（各三兩）　遠志　生棗仁　白芥子（各一兩）　砂仁　肉桂　黃連（各五錢）　山萸　當歸（各三兩）　菖蒲（三錢）　蜜丸，每日下五錢，湯酒俱可。</p>
<p>此方治心驚不安與不寐耳，用人參、當歸、茯神、麥冬足矣。即為起火不寐，亦不過用黃連足矣，何以反用熟地、山萸補腎之藥，又加肉桂以助火？不知人之心驚乃腎氣不入於心也，不寐乃心氣不歸於腎也。今用熟地、山萸補腎則腎氣可通於心，肉桂以補命門之火，則腎氣既溫，相火有權，君火相得，自然上下同心，君臣合德矣。然補腎固是，而亦有肝氣不上於心而成此症者，如果有之宜再加白芍二兩兼補肝木，斯心泰然矣。</p>

<h3>恐怕</h3>
<p>人夜臥交睫則夢爭鬥，負敗恐怕之狀難以形容。人以為心病，誰知是肝病乎？蓋肝藏魂，肝血虛則魂失養，故交睫若魘，此乃肝膽虛怯故負恐維多，此非大補不克奏功，而草木之品不堪任重，當以酒化鹿角膠大補精血，血旺則神自安矣。</p>

<h3>神氣不安</h3>
<p>人有每臥則魂飛揚，覺身在床而魂離體矣。驚悸多魘，通夕不寐，人皆以為心病也，誰知是肝經受邪乎？蓋肝氣一虛，邪氣襲之，肝藏魂，肝中邪，魂無依，是以魂飛揚而若離體也。法用珍珠母為君，龍齒佐之，珍珠母入肝為第一，龍齒與肝同類，龍齒、虎睛今人例以為鎮心之藥，詎知龍齒安魂，虎睛定魄，東方蒼龍木也，屬肝而藏魂，西方白虎金也，屬肺而藏魄，龍能變化，故魂遊而不定，虎能專靜故魄止而有守，是以治魄不寧宜虎睛，治魂飛揚宜龍齒，藥各有當也。</p>

<h2>腰、腿、肩、臂、手、足疼痛門</h2>

<h3>滿身皆痛</h3>
<p>手足、心腹一身皆痛，將治手乎？治足乎？治肝為主。蓋肝氣一舒諸痛自愈，不可頭痛救頭，足痛救足也。方用：</p>
<p>柴胡　甘草　陳皮　梔子（各一錢）　白芍　薏仁　茯苓（各五錢）　當歸　蒼朮（各二錢）　水煎服。</p>
<p>此逍遙散之變化也，舒肝而又去濕去火，治一經而諸經無不愈也。</p>

<h3>腰痛</h3>
<p>痛而不能俯者濕氣也。方用：</p>
<p>柴胡　澤瀉　豬苓　白芥子（各一錢）　防己（二錢）　肉桂　山藥（各三錢）　白朮　甘草（各五錢）　水煎服。</p>
<p>此方妙在入腎去濕，不是入腎而補水。初痛者一二劑可以奏功，日久必多服為妙。</p>

<h3>腰痛</h3>
<p>痛而不能直者風寒也，方用逍遙散加防己二錢一劑可愈。若日久者，當加杜仲一兩，改白朮二錢，酒煎服十劑而愈。</p>
<p>又方：</p>
<p>杜仲（鹽炒一兩）　破故紙（鹽炒五錢）　熟地　白朮（各三兩）　核桃仁（二錢）　蜜丸，每日空心白水送下五錢，服完可愈。如未痊愈，再服一料可愈。</p>

<h3>腰痛</h3>
<p>凡痛而不止者，腎經之病，乃脾濕之故。方用：</p>
<p>白朮（四兩）　薏仁（三兩）　芡實（二兩）　水六杯煎一杯一氣飲之。此方治夢遺之病亦神效。</p>

<h3>腰腿筋骨痛</h3>
<p>方用養血湯：</p>
<p>當歸　生地　肉桂　牛膝　杜仲（各一錢）　川芎（五分）　甘草（三分）　山萸　土茯苓（各二錢）　核桃（二個）　破故紙　茯苓　防風（各一錢）　水、酒煎服。</p>

<h3>腰痛足亦痛</h3>
<p>方用：</p>
<p>黃耆（半斤）　防風　茯苓（各五錢）　薏仁（五兩）　杜仲（一兩）　車前子（三錢）　肉桂（一錢）　水十碗煎二碗，入酒以醉為主即愈。</p>
<p>腰足痛明系是腎虛而氣衰，更加之濕自必作楚，妙在不補腎而單益氣，蓋氣足則血生，血生則邪退，又助之薏仁、茯苓、車前之類去濕，濕去而血活矣。況又有杜仲之健腎，肉桂之溫腎，防風之盪風乎！</p>

<h3>腿痛</h3>
<p>身不離床褥傴僂之狀可掬，乃寒濕之氣侵也，方用：</p>
<p>白朮（五錢）　芡實（二錢）　茯苓　萆薢（各一兩）　肉桂（一錢）　杜仲（三錢）　薏仁（二兩）　水煎，日日服之，不必改方，久之自奏大功。</p>

<h3>兩臂肩膊痛</h3>
<p>此手經之病，肝氣之郁也。方用：</p>
<p>當歸　白芍（各三兩）　柴胡　陳皮（各五錢）　羌活　白芥子　半夏　秦艽（各三錢）　附子（一錢）　水六杯煎三沸取汁一杯，入黃酒服之，一醉而愈。</p>
<p>此方妙在用白芍為君，以平肝木，不來侮胃，而羌活、柴胡又去風直走手經之上，秦艽亦是風藥而兼附子攻邪，邪自退出，半夏、陳皮、白芥子祛痰聖藥，風邪去而痰不留，更得附子無經不達而其痛如失也。</p>

<h3>手足痛</h3>
<p>手足肝之分野，而人乃為脾經之熱，不知散肝木之鬱結，而手足之痛自去。方用逍遙散加梔子（三錢）　半夏　白芥子（各二錢）　水煎服二劑，其痛如失。</p>
<p>蓋肝木作祟脾不敢當其鋒，氣散於四肢，結而不伸，所以作楚，平其肝氣則脾氣自舒矣。</p>

<h3>胸背、手足、頸項、腰膝痛</h3>
<p>筋骨牽引，坐臥不得，時時走易不定。此是痰涎伏在心膈上下，或令人頭痛，夜間喉中如鋸聲，口流涎唾，手足重腿冷，治法用控涎丹，不足十劑其病如失矣。</p>

<h3>背骨痛</h3>
<p>此症乃腎水衰耗，不能上潤於腦，則河車之路乾澀而難行，故作痛也。方用：</p>
<p>黃耆　熟地（各一兩）　山萸（四錢）　白朮　防風（各五錢）　五味子（一錢）　茯苓（三錢）　附子（一分）　麥冬（二錢）　水煎服。</p>
<p>此方補氣補水，去濕去風，潤筋滋骨，何痛之不愈哉。</p>

<h3>腰痛兼頭痛</h3>
<p>上下相殊也，如何治之乎？治腰乎？治頭乎？誰知是腎氣不通乎！蓋腎氣上通於脈，而腦氣下達於腎，上下雖殊而氣實相通，法當用溫補之藥，以大益其腎中之陰，則上下之氣通矣。方用：</p>
<p>熟地（一兩）　杜仲　麥冬（各五錢）　五味子（二錢）　水煎服，一劑即愈。方內熟地、杜仲腎中之藥也，腰痛是其專功，今並頭而亦愈者何也？蓋頭痛是腎氣不上達之故，腎補腎之味，則腎氣旺而上通於腦，故腰不痛而頭亦不痛矣。</p>

<h2>心腹痛門</h2>

<h3>心痛辨</h3>
<p>心痛之症有二：一則寒氣侵心而痛；一則火氣侵心而痛。寒氣侵心者，手足反溫；火氣焚心者，手足反冷，以此辨之最得。</p>

<h3>寒痛</h3>
<p>方用：</p>
<p>良薑　白朮　草烏　貫仲（各三錢）　甘草　肉桂（各一錢）　水煎服。</p>

<h3>熱痛</h3>
<p>方用：</p>
<p>黑梔（三錢）　白朮（五錢）　甘草　半夏　柴胡（各一錢）　水煎服。</p>
<p>心不可使痛，或寒或火皆衝心包耳。</p>
<p>（按：據《大小諸證方論》，此方白朮五錢應為白芍二兩）</p>

<h3>久病心痛</h3>
<p>心乃神明之君，一毫邪氣不可干犯，犯則立死，經年累月而痛者，邪氣犯心包絡也。但邪有寒熱之辨，如惡寒見水如仇，火熨之則快，此寒邪也。方用：</p>
<p>蒼朮（二錢）　白朮（五錢）　當歸（一錢）　肉桂　良薑（各一錢）　水煎服。</p>

<h3>久病心痛</h3>
<p>如熱邪犯包絡，見火喜悅，手按之而轉痛者，熱氣犯心包絡也。方用：</p>
<p>白芍（一兩）　黑梔　當歸　生地（各三錢）　陳皮（八分）　水煎服（原方有甘草一錢）。</p>
<p>寒熱二症皆責之於肝也，肝屬木，心屬火，木衰不能生火，則包絡寒，補肝而邪自退，若包絡之熱由於肝經之熱，瀉肝而火自消矣。</p>

<h3>腹痛</h3>
<p>痛不可忍，按之愈痛，口渴飲以涼水則痛少止，少頃依然大痛，此火結在大小腸也，若不急治，一時氣絕。方用定痛如神湯。</p>
<p>黑梔　蒼朮（各三錢）　甘草　厚朴（各一錢）　茯苓（一兩）　白芍（五錢）　水煎服。</p>
<p>此方舒肝經之氣，利膀胱之水，瀉水逐瘀再加大黃一錢，水煎服，勿遲。</p>

<h3>腹痛</h3>
<p>腸中有痞塊，一時發作而痛，不可不按者。方用：</p>
<p>白朮（二兩）　枳實（一兩）　馬糞（炒黑五錢）　好酒煎服。</p>

<h3>冷氣心腹痛</h3>
<p>方用火龍丹：</p>
<p>硫磺（醋製一兩）　胡椒（一錢）　白礬（四錢）　醋打蕎麵為丸，如桐子大，每服二十五丸，米湯下。</p>

<h3>胃氣痛</h3>
<p>人病不能飲食，或食而不化作痛、作滿，或兼吐瀉，此肝木克脾土也。方用：</p>
<p>白芍　當歸　柴胡　茯苓（各二錢）　甘草　白芥子（各一錢）　白朮（三錢）　水煎服。</p>
<p>有火加梔子二錢；無火加肉桂一錢；有食加山楂三錢；傷麵食加枳殼一錢、麥冬一錢；有痰加半夏一錢。有火能散，有寒能驅，此右病而左治之也。</p>

<h2>麻木門</h2>

<h3>手麻木</h3>
<p>此乃氣虛而寒濕中之，如其不治三年後必中大風。方用：</p>
<p>白朮　黃耆（各五錢）　陳皮　桂枝（各五分）　甘草（一兩）</p>

<h3>手麻</h3>
<p>十指皆麻，面目失色，此亦氣虛也，治當補中益氣湯加木香、麥冬、香附、羌活、烏藥、防風，三劑可愈。</p>

<h3>手足麻木</h3>
<p>四物湯加人參、白朮、茯苓、陳皮、半夏、桂枝、柴胡、羌活、防風、秦艽、牛膝、炙草，薑、棗引，煎服四劑愈。</p>

<h3>木</h3>
<p>凡木是濕痰死血也，用四物湯加陳皮、半夏、茯苓、桃仁、紅花、白芥子、甘草、竹瀝、薑汁，水煎服。</p>

<h3>腿麻木</h3>
<p>方用導氣散：</p>
<p>黃耆（二錢）　甘草（錢半）　青皮（一錢）　升麻　柴胡　歸尾　澤瀉（各五分）　陳皮（八分）　紅花少許，水煎溫服，甚效。</p>

<h3>兩手麻木，困倦嗜臥</h3>
<p>此乃熱傷元氣也，方用益氣湯：</p>
<p>人參　甘草（各一錢）　黃耆（二錢）　炙草（五分）　柴胡　白芍（各七分）　五味子（三十粒）　姜（三片）　棗（二枚）　水煎熱服。</p>

<h3>渾身麻木</h3>
<p>凡人身體麻木不仁，兩目羞明怕日，眼澀難開，視物昏花，睛痛。方用神效黃耆湯：</p>
<p>黃耆　白芍（各一錢）　陳皮（五錢）　人參（八分）　炙草（四分）　蔓荊子（二分）　如有熱加黃柏三分，水煎服。</p>

<h3>麻木痛</h3>
<p>風、寒、濕三氣合而成疾，客於皮膚肌肉之間，或痛或麻木。方用：</p>
<p>牛膝膠（二兩）　南星（五錢）　薑汁（半碗）　共熬膏攤貼，再以熱鞋底熨之，加羌活、乳香、沒藥更妙。</p>

<h3>足弱</h3>
<p>此症不能步履，人以為腎水之虛，誰知由於氣虛而不能運動乎！方用補中益氣湯加牛膝、人參（各三錢）　金石斛（五錢）　黃耆（一兩）　水煎服。</p>

<h3>筋縮</h3>
<p>凡人一身筋脈不可有病，病則筋縮而身痛，脈澀而體重，夫然筋之舒在於血和，而脈之平在於氣足，故治筋必先須治血，而治脈必先須補氣，人若筋急攣縮傴僂而不能直立者，皆筋病也。方用：</p>
<p>當歸（一兩）　白芍　薏仁　生地　元參（各五錢）　柴胡（一錢）　水煎服。</p>
<p>此方妙在用柴胡一味，入於補藥之中，蓋血虧則筋病，用補藥以治筋宜矣，何又用柴胡？夫肝為筋之主，筋乃肝之餘，氣不順筋自縮急，今用柴胡以舒散之，鬱氣既除而又濟之以大劑補血，則筋得其養矣。</p>

<h2>脅痛門</h2>

<h3>兩脅有塊</h3>
<p>左脅有塊作痛是血死也，右脅有塊作痛是食積也，遍身作痛，筋骨尤甚，不能伸屈，口渴、目赤、頭眩、痰壅、胸不利，小便短赤，夜間殊甚，又遍身作癢如蟲行，人以為風也。誰知是腎氣虛而熱也，法用六味地黃湯加梔子、柴胡，乃是正治也，三劑見效。</p>

<h3>左脅痛</h3>
<p>左脅痛肝經受邪也。方用：</p>
<p>黃連（吳茱萸炒二錢）　柴胡　當歸　青皮　桃仁研（各一錢）　川芎（八分）　紅花（五分（　水煎食遠服。有痰加陳皮、半夏。</p>

<h3>右脅痛</h3>
<p>此是邪入肺經也。方用：</p>
<p>片薑黃　枳殼（各二錢）　桂心（二分）　炙草　陳皮　半夏（各五分）　水煎服。</p>

<h3>左右脅俱痛</h3>
<p>方用：</p>
<p>柴胡　川芎　青皮　枳殼　香附　龍膽草　當歸　砂仁　甘草　木香　姜水煎服。</p>

<h3>兩脅走注</h3>
<p>兩脅走注痛而有聲者痰也，方用二陳湯去甘草加枳殼，砂仁、廣木香、川芎、青皮、蒼朮、香附、茴香，水煎服。</p>

<h3>脅痛身熱</h3>
<p>此勞也，用補中益氣湯加川芎、白芍、青皮，砂仁，枳殼、茴香、去黃耆，水煎服。</p>

<h3>脅痛</h3>
<p>此乃肝病也，故治脅痛必須平肝，平肝必須補腎，腎水足而後肝氣有養，不治脅痛而脅痛自平也。方用肝腎兼資湯。</p>
<p>熟地　當歸（各一兩）　白芍（二兩）　黑梔（一錢）　山萸（五錢）　白芥子　甘草（各三錢）　水煎服。</p>

<h3>脅痛咳嗽</h3>
<p>咳嗽氣急，脈滑數者，痰結痛也。方用：</p>
<p>瓜蔞仁　枳殼　青皮　茴香　白芥子　水煎服。</p>

<h2>濁淋門（附腎病）</h2>

<h3>二濁五淋辨</h3>
<p>濁淋二症，俱小便赤也。濁多虛，淋多實。淋痛濁不痛為異耳。濁淋俱屬熱症。惟其不痛大約屬濕痰下陷及脫精所致；惟其有痛大約縱淫欲火動強留敗精而然，不可混治。</p>

<h3>淋症</h3>
<p>方用五淋散：</p>
<p>淡竹葉（二錢）　赤茯苓　芥穗（各一錢）　車前子（五錢）　燈心（一錢）　水煎服。</p>

<h3>濁症</h3>
<p>方用清心蓮子飲：</p>
<p>石蓮子　人參（各二錢半）　炙草（二錢）　麥冬　黃耆　地骨皮　車前子（各一錢半）　甘草（五分）　赤茯苓（二錢）　水煎服。</p>

<h2>腎病門</h2>

<h3>陽強不倒</h3>
<p>此虛火炎上而肺氣不能下行故耳，若用黃柏、知母煎湯飲之立時消散，然自倒之後終年不能振起，亦非善治之法也。方用：</p>
<p>元參　麥冬（各三兩）　肉桂（三分）　水煎服。</p>
<p>此方妙在用元參以瀉腎中之火，肉桂入其宅，麥冬助肺金之氣清肅下行，以生腎水，水足則火自息矣，不求倒而自倒矣。</p>

<h3>陽痿不舉</h3>
<p>此症乃平日過於琢削，日泄其腎中之水，而腎中之火亦因之而消亡，蓋水去而火亦去，必然之理，有如一家人口廚下無水，何以為炊？必有水而後取柴炭以煮飯，不則空鐺也。方用：</p>
<p>熟地（一兩）　山萸（四錢）　遠志　巴戟　肉蓯蓉　杜仲（各一錢）　肉桂　茯神（各一錢）　人參（三錢）　白朮（五錢）　水煎服。</p>

<h3>尿血又便血</h3>
<p>便血出於後陰，尿血出於前陰，最難調治。然總之出血於下也。方用：</p>
<p>生地（一兩）　地榆（三錢）　水煎服，二症俱愈。</p>
<p>蓋大小便各有經絡，而其症皆因膀胱之熱也。生地、地榆俱能清膀胱之熱，一方而兩用之也，蓋分之中有合。</p>

<h3>疝氣</h3>
<p>方用去鈴丸：</p>
<p>大茴香　薑汁（各一斤）　將茴香入薑汁內浸一宿，入青鹽二兩同炒紅為末，酒丸桐子大，每服三十丸，溫酒米湯送下。</p>

<h3>腎子痛</h3>
<p>方用：</p>
<p>用生草三兩加羊血半碗和勻飲之，立吐而愈。若不吐速用大黃二兩，甘草五錢、白礬一兩、當歸三兩，水煎數碗飲之，立時大瀉即生。</p>

<h3>補腎</h3>
<p>方用：</p>
<p>大青鹽、寂葦七寸煮核桃。</p>

<h3>嚏噴法</h3>
<p>方用：</p>
<p>生半夏為末，水丸綠豆大，入鼻孔必嚏噴不已，用水飲之立止。通治中風不語及中惡中鬼俱妙。</p>

<h3>破傷風</h3>
<p>方用：</p>
<p>蟬蛻去淨頭足為末五錢，用好酒一碗煎滾入末調勻，服之立生。</p>
<p>又方：</p>
<p>生麻油　頭髮　馬尾羅底　羊糞蛋各等分，共為末，黃酒沖服。</p>

<h3>瘋狗咬傷</h3>
<p>方用：</p>
<p>手指甲焙黃為末，滾黃酒沖服，發汗即愈。忌床事百日。</p>
