<header data-type="book">
<h1>脈經鈔</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>孫鼎宜</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>民國中華書局鉛印本</dd></div>
</dl>
</header>

<h1>序</h1>
<p>序曰：著《脈經》者不一，王叔和之所撰集者，則只一書，無副本也。自五代高陽生《脈訣》出，而世以為叔和而《脈經》遂隱。余讀而厭之，遂亟思《脈經》不置。及求得其書讀之，則匯脈之中，間匯一證，不該不貫，誠有如喻昌所譏者。求如林億所謂若綱在綱者安在哉？豈人情貴耳賤目歟？然抑百聞不如一見也。徐大椿曰：脈之為道，不過驗其血氣之盛衰寒熱，及邪氣之所在，若以為某病當見某脈，某脈當得其病，拘泥一定，反令人旁皇無所適從。一若古今脈書皆可廢者，余又以為大謬也。嗟夫！自西晉迄於今，古書日就湮沒者，蓋什不存一。而今世言脈之書，又皆《脈訣》類。叔和淺陋不猶愈於高陽乎？其專主氣口，蓋自扁鵲已然，非叔和首創也。去古未遠，可校證者甚多，余故以《內經》、《難經》、扁鵲、華陀、張仲景之書，各據《脈經》補正之。又以岐伯之言別為一集（抄入《黃帝外經》中），以九道之說與《內經》殊也。今復以不注所出者，匯為此書，其注所出而僅見者，若《醫律》、《脈法贊》附焉。又有云：新撰及四時經者，則實非書名，因題上事，遂有此目，故並錄焉。或曰叔和書十卷，豈無自撰雜廁其間哉？余應之曰：叔和之文，其體格與《脈經》不類，且自序明言曰：今撰集岐伯，逮於華陀。林億等亦曰：其書一本《黃帝內經》，又補以扁鵲、元化、仲景之法。余可斷言之曰無也。惜哉，不能盡明其所自出也！書凡二卷，都二十五篇，又以《病源》、《千金》所載互校之，名曰《脈經鈔》，乃《隋志》許建吳之名也。</p>
<p><u>己酉八月中秋後三日孫鼎宜序</u></p>

<h1>卷一</h1>

<h2>脈形狀一</h2>
<p>浮脈舉之有餘，按之不足。一曰浮於手下（六字原作註文，以其出自叔和，改作大字。自序所謂咸悉載錄也。後十七條准此）。</p>
<p>芤脈浮大而軟，按之中央空，兩邊實。一曰手下無，兩傍有。</p>
<p>洪脈極大在指下。一曰浮而大。</p>
<p>滑脈往來前卻流利，展轉替替然，與數相似。一曰浮中如有力。一曰漉漉如欲脫。</p>
<p>數脈去來促急。一曰一息六七至（《千金》作一息五至）。一曰數者，進之名（《千金》進作「盡」）。</p>
<p>促脈來去數時一止復來（《千金》無「復來」二字）。</p>
<p>弦脈舉之無有（《千金》作無力），按之（《千金》有「如張」二字）弓弦狀。一曰如張弓弦，按之不移。又曰浮緊為弦。</p>
<p>緊脈數如切繩狀。一曰如轉索之無常。</p>
<p>沉脈舉之不足，按之有餘。一曰重按之乃得。</p>
<p>伏脈極（極下疑有沉字）重指按之（《千金》無二字）著骨乃得。一曰手下裁動。一曰（《千金》二字作以明）按之不足，舉之無有。一曰關上沉不出，名曰伏（十字《千金》在「一曰手」之上）。</p>
<p>革脈（《翼方》通作牢，下不復出）有似沉伏，實大而長，微弦（按：革、牢二脈即堅脈也。隋臣避諱，故以革、牢二字代之。檢巢源引書可證。後人相仍未改，止得謂為堅脈之別名。若李瀕湖歧革、牢而二之，更誤）。</p>
<p>實脈大而長，微強，按之隱指，愊愊然。一曰沉浮皆得。</p>
<p>微脈極細而軟，或欲絕，若有若無。一曰小也。一曰手下快。一曰浮而薄（《千金》無「浮而」二字）。一曰按之如欲盡（《千金》下有「絕」字）。</p>
<p>澀脈細而遲，往來難且散，或一止復來。一曰浮而短。一曰短而止，或曰散也（《千金》作「或如散」）。</p>
<p>細脈小大於微（「小」一作少），常有，但細耳。</p>
<p>軟脈極軟而浮細。一曰按之無有，舉之有餘。一曰小而軟（《千金》作「細小如軟」）。軟亦作濡。曰濡者如帛衣在水中，輕手相得（按：軟濡二字古通用，音義並同）。</p>
<p>弱脈極軟而沉細，按之欲絕指下。一曰按之乃得，舉之無有（《千金》作「舉之即無」）。</p>
<p>虛脈遲大而軟，按之不足，隱指豁豁然空。</p>
<p>散脈大而散。散者、氣實血虛，有表無里。</p>
<p>緩脈去來亦遲，小快於遲。一曰浮大而軟，陰浮與陽同等（《千金》無第二「浮」字）。</p>
<p>遲脈呼吸三至，去來極遲。一曰舉之不足，按之盡牢。一曰按之盡牢，舉之無有。</p>
<p>結脈往來緩，時一止復來（《千金》下有，「脈結長生」四字。林校云：按之來緩，時一止者名結，陽初來動，止更來，小數不能自還，舉之則動，名結陰）。</p>
<p>代脈來數中止（《千金》作「指」），不能自還，因而復動。△脈結者生（《千金》無三字），代者死。</p>
<p>動脈見於關上，無頭尾，大如豆，厥厥然（《千金》無「然」字）動搖（林校云：《傷寒論》陰陽相搏名曰動，陽動則汗出，陰動則發熱。形冷惡寒，數脈見於關上，上下無頭尾如豆大，厥厥動搖者名曰動。○《脈經》一）。</p>
<p>上二十四種脈之形狀（《千金》二十七，以浮、沉、澀、滑、洪、細、微、弦、緊、遲、數、緩、弱、動、伏、芤、軟、虛、實、促、結、代、散、革為次）。</p>
<p>浮與芤相類。又曰浮與洪相類。○弦與緊相類。○革與實相類。○滑與數相類。○沉與伏相類。○微與澀相類。○軟與弱相類。○緩與遲相類。又曰軟與遲相類（《脈經》一）。</p>
<p>上十二種脈之相類（《千金》二十七，以弦、軟、浮、微、沉、緩、革、滑為次）。</p>

<h2>憑脈知證二</h2>
<p>凡診脈當視其人大小長短（《千金》二字乙），及性氣緩急，脈之遲速大小長短皆如其人形。性（疑「性」乃「順」字）者則吉，反之者則為逆也（《千金》二十八作「反之者凶」）。</p>
<p>脈三部（《千金》作「凡三部脈」）大都欲等，只如小人、婦人、細人（《千金》婦人乙細人下）脈小軟。小兒（《千金》作「大兒」）四五歲（《千金》有「者」字），脈呼吸八至，細數者吉（原注：《千金翼》云：大而脈細，人細而脈大，人樂而脈實，人苦而脈虛，性急而脈緩，性緩而脈躁，人壯而脈細，人羸而脈大，此皆為逆，逆則難治。反此為順，順則易治。凡婦人脈常欲濡弱於丈夫。小兒四五歲者，脈自駛疾，呼吸八至也。男左大為順，女右大為順。肥人脈沉，瘦人脈浮。○《脈經》一、《千金》二十八注同，但無注末四句）。</p>
<p>上脈以男女形性及婦孺分順逆。</p>
<p>凡脈大為陽，浮為陽，數為陽，動為陽，長為陽，滑為陽；沉為陰，澀為陰，弱為陰，弦為陰，短為陰，微為陰，是為三陰三陽也。</p>
<p>△陽病見陰脈者反也，主死；陰病見陽脈者順也，主生。△關前為陽，關後為陰。陽數則吐血，陰微則下利。陽弦則頭痛，陰弦則腹痛。陽微則發汗，陰微則自下。陽數口生瘡，陰數加微，必惡寒而煩擾不得眠也。△陰附陽則狂，陽附陰則顛。△得陽屬府，得陰屬藏。△無陽則厥，無陰則嘔。△陽微則不能呼，陰微則不能吸，呼吸不足，胸中短氣。△依此陰陽以察病脈也（此句總言。《脈經》一）。</p>
<p>上辨脈陰陽大法（仍舊）。</p>
<p>脈數則在府。○遲則在藏。○脈長而弦病在肝（原注：扁鵲云「病出於肝」）。○脈小血少，病在心（原注：扁鵲云「脈大而洪，出於心」）。○脈下堅上虛，病在脾胃（原注：扁鵲云「病出於脾胃」）。脈滑而微浮（原注：滑，一作「澀」）病在肺（原注：扁鵲云：「病出於肺」）。○脈大而堅（原注：扁鵲云「小而緊」。案：《千金》「大」作「沉」）病在腎（據上文當有扁鵲云病出於腎）。</p>
<p>上以遲數分藏府，及病在五藏應見之脈。</p>
<p>脈滑者多血少氣。○脈澀者少血多氣。○脈大者血氣俱多。</p>
<p>又云脈來大而堅者，血氣俱實。○脈小者血氣俱少。</p>
<p>又云脈來細而微者，血氣俱虛。○沉細滑疾者熱。○遲緊者寒（《千金》注：《脈經》云「洪數滑疾為熱，澀遲沉細為寒」。與今本不同）。</p>
<p>又云洪數滑疾為熱，澀遲沉細為寒（十四字依泰定本作正文），脈盛滑緊者，病在外熱。○脈小實而緊者，病在內冷（《脈經》一、《千金》二十八）。</p>
<p>上五條憑脈定氣血之差多差少，及病因為寒為熱。</p>
<p>脈小弱而澀（疑有「者」字）謂之久病。○脈滑浮而疾者謂之新病（《脈經》一、《千金》二十八）。</p>
<p>上憑脈定病之新久。</p>
<p>脈浮滑，其人外熱風走刺，有飲，難治（有脫誤）。</p>
<p>脈沉而緊，上焦有熱，下寒得冷，即便下。</p>
<p>脈沉而細，下焦有寒，小便數，時苦絞痛，下利重。</p>
<p>脈浮緊。（《病源》十四同，又一條作「堅」）且滑直者，外熱內冷（《病源》無四字），不得大小便。</p>
<p>脈洪大緊急，病速進在外，苦頭髮熱癰腫。</p>
<p>脈細小緊急，病速進，在中寒，為疝瘕積聚，腹中刺痛。</p>
<p>脈沉重而直，前絕者，病血在腸間。</p>
<p>脈沉重而中散者（「中」字《千金》作「不」），因寒食成瘕（《千金》作成「症」）</p>
<p>脈直前而中散絕者，病消渴。一云病浸淫瘡。（「瘡」《千金》注作「痛」）。</p>
<p>脈沉重前不至寸口，徘徊絕者，病在肌肉、遁屍。</p>
<p>脈左轉而沉重者，氣症陽（症，陽《千金》作「微傷」）在胸中。</p>
<p>脈右轉出不至寸口者內有肉症。</p>
<p>脈累累如貫珠不前至（《千金》無「至」字），有風寒在大腸伏留不去。</p>
<p>脈累累中止（《千金》作「如止」）不至，寸口軟者，結熱在小腸膜中，伏留不去。</p>
<p>脈直前，左右彈者，病在血脈中，衃血也。</p>
<p>脈後（「後」上疑有「直」字）而左右彈者，病在筋骨中也。</p>
<p>脈前大後小即（《千金》無「即」字）頭痛目眩。</p>
<p>脈前小後大即（《千金》無「即」字。《病源》十三作「則為」二字）胸滿短氣。</p>
<p>上雜舉十七種脈（並《脈經》一、《千金》二十八）定其病證。</p>
<p>短而急者病在上。○長而緩者病在下（《千金》作「病在脾」）。</p>
<p>沉而弦急者病在內。○浮而洪大者病在外。</p>
<p>脈實者病在內。○脈虛者病在外。</p>
<p>在上為表，在下為里。○浮為在表，沉為在裡（並《脈經》一、《千金》二十八）。</p>
<p>上憑脈以定上下表里病之所在。</p>
<p>滑為實為下（「下」字誤。或「為」字是「可」），又為陽氣衰（五字《千金》作註文）。○數為虛為熱。○浮為風為虛。○動為痛為驚。○沉為水為實，又為鬼疰（四字《千金》作註文）。○弱為虛為悸。</p>
<p>遲則為寒。○澀則少血。○緩則為虛。○洪則為氣（原注：「氣」一作「熱」）。</p>
<p>緊則為寒。○弦數為瘧。</p>
<p>瘧脈自弦，弦數多熱，弦遲多寒（三句本仲景）。○微則為虛。○代散則死。</p>
<p>弦為痛痹（原注：一作「浮為風疰」），偏弦為飲。○雙弦則脅下拘急而痛，其人淅淅惡寒。</p>
<p>脈大寒熱在中。</p>
<p>脈伏者霍亂。</p>
<p>安臥脈盛，謂之脫血。</p>
<p>凡亡汗（一）、肺中寒（二）、飲冷水（三）、咳嗽（四〕、下利（五）、胃中虛冷（六），此等其脈並緊。</p>
<p>浮而大者風，又為《千金》無下句，有此二字）［浮而大者］中風，頭重鼻塞（此二條蓋採集兩書，依《千金》併合為一）。</p>
<p>浮而緩者皮膚不仁，風寒入肌肉。</p>
<p>滑而浮散者攤緩風（《千金》作「癱瘓風」）。</p>
<p>滑者鬼疰。</p>
<p>澀而緊痹病。</p>
<p>浮洪大長者風眩顛疾。</p>
<p>大堅疾者顛病。</p>
<p>弦而鉤，脅下如刀刺狀。如蜚屍至困不死（未詳）。</p>
<p>緊而急者遁屍。</p>
<p>洪大者傷寒熱病。</p>
<p>浮洪大者傷寒。秋吉，春成病。</p>
<p>浮而滑者宿食。</p>
<p>浮滑而疾者食不消，脾不磨。</p>
<p>短疾而滑酒病。</p>
<p>浮而細滑傷飲。</p>
<p>遲而澀，中寒有癥結。</p>
<p>駃而緊，積聚，有擊痛。</p>
<p>弦急疝瘕少腹痛。又為癖病（「癖」一作「脾」，又作「痹」。《千金》注：一作「疳病」）。</p>
<p>遲而滑者張。</p>
<p>盛而緊者張（「緊」《千金》作「急」）。</p>
<p>弦小者寒澼。</p>
<p>沉而弦者懸飲內痛。</p>
<p>弦數有寒飲，冬夏難治。</p>
<p>緊而滑者吐逆。</p>
<p>小弱而澀胃反。</p>
<p>遲而緩者有寒。</p>
<p>微而緊者有寒。</p>
<p>沉而遲者腹藏有冷病。</p>
<p>微弱者有寒，少氣。</p>
<p>實緊胃中有寒，苦不能食，時時利者難治（原注：一作「時時嘔，稽留難治」。《千金》注：一作「時時嘔噦難治」）。</p>
<p>滑數心中結熱盛。</p>
<p>滑疾胃中有熱。</p>
<p>緩而滑曰熱中。</p>
<p>沉而急，病傷寒暴發虛熱（原注：「沉」一作「浮」）。</p>
<p>浮而絕者氣急（《千金》作「氣病」）。</p>
<p>闢大而滑者中有短氣（《千金》無「闢」字、「中有」二字）。</p>
<p>浮短者其人肺傷，諸氣微少，不過一年死。法當咳嗽也。</p>
<p>浮而數（《千金》「浮」作「沉」），中水，冬不治自愈。</p>
<p>短而數，心痛心煩。</p>
<p>弦而緊脅痛，藏傷有瘀血（原注：一作「有寒血」）。</p>
<p>沉而滑為下重。亦為背膂痛（《千金》無「背」字）。</p>
<p>脈來（《千金》無「來」字）細而滑，按之能（《千金》無「能」字）虛，因急持直者，僵仆從高墮下，病在內。</p>
<p>微浮者秋吉冬成病（當合上條）。</p>
<p>微數雖甚不成病，不可勞。</p>
<p>浮滑疾緊者以合百病久，易愈。</p>
<p>陽邪來見浮洪。</p>
<p>陰邪來見沉細。</p>
<p>水穀來見堅實。</p>
<p>脈來乍大乍小，乍長乍短者為祟。</p>
<p>脈來洪大嫋嫋者社祟（「嫋」，《病源》作「弱」，古通。《千金》無「社」字）。</p>
<p>脈來沉沉澤澤（「澤」，《病源》作「澀」），四肢不仁而重土祟（《千金》「土」字作「者」）。</p>
<p>脈與肌肉相得，久持之至者可下之（「持」，泰定本作「待」）。</p>
<p>弦小緊者可下之。</p>
<p>緊而數，寒熱俱發（四字《千金》作「發寒熱」），必下乃愈。</p>
<p>弦遲者宜溫藥。</p>
<p>緊數者可發其汗（並《脈經》四、《千金》二十八）。</p>
<p>上憑脈知證七十四條，雜取古書為之，文不一律。</p>
<p>脈一動一止二日死。一經云一日死（六字原作註文，依《千金》作大字）。○二動一止三日死。○三動一止四日死，或五日死。○四動一止六日死。○五動一止五日死，或七日死（《千金》五、七二字互易）。○六動一止八日死。○七動一止九日死。○八動一止十日死。○九動一止八日死。又云十一日死。一經云十三日死。若立春日死（《千金》「若」字作「或」）。○十動一止立夏死。一經云立春死（《千金》「春夏」二字互易）。○十一動一止夏至死。一經云立夏死。一經云立秋死（《千金》「夏至」、「立夏」四字互易）。○十二、十三動一止立秋死。一經云立冬死。○十四動、十五動一止立冬死。一經云立夏死。○二十動一止一歲死，若立秋死（「若」字《千金》作「或」。下同）。○二十一動一止二歲死。○二十五動一止立冬死。一經云一歲死，或二歲死（《千金》作「三歲死」。又以「立冬、三歲」四字互易）。○三十動一止二歲死（一無「死」字）若三歲死。○三十五動一止三歲死。○四十動一止四歲死。○五十動一止五歲死。不滿五十動一止五歲死。</p>
<p>脈來五十投而不止者（《千金》此條首有「五行氣畢，陰陽數同，營衛出入經脈流通，晝夜百刻，五德相生」二十四字），五藏皆受氣即無病（《千金》「病」下有「也」字）。○脈來四十投而一止者，一藏無氣，卻後四歲春草生而死。○脈來三十投而一止者，二藏無氣，卻後三歲麥熟（《千金》有「時」字）而死。○脈來二十投而一止者，三藏無氣，卻後二歲桑椹赤而死。○脈來十投而一止者，四藏無氣，歲中死，得節不動，出清明日（《千金》無「日」字）死，遠不出穀雨死矣。脈來五動而一止者，五藏無氣，卻後五日而死（此條見《內經》。但《內經》云：「予之短期，要在終始」。不明指出死之時日，意者此殆終始之遺文，與楊上善《太素》乃本《難經》，推為一腎二肝三脾四心五肺，不以受病之藏為斷，恐其說亦未瑩也。投、猶動也。止、猶代也）。</p>
<p>脈一來而久住者，宿病在心（久住，即代脈動而中止不能自還之謂。《漢書·霍去病傳》集註：宿、舊也），主中治（此類三字疑有脫誤）。○脈二來而久住者病在肝，支中治（《千金》作「枝主中治」）。○脈三來而久住者病在脾，下中治。○脈四來而久住者病在腎，間中治。○脈五來而久住者病在肺，支中治（《千金》「支」作「枝」）。○五脈病虛羸人得此者死。△所以然者，藥不得而冶，針不得而及。盛人可治，氣全故也（《脈經》四、《千金》二十八）。</p>
<p>上代脈死期三章。</p>

<h2>脈部位三</h2>
<p>從魚際至高骨（原注：其骨自高）卻行一寸，其中名曰寸口。從寸口至尺名曰尺澤，故曰尺寸。寸後尺前名曰關，陽出陰入以關為界。陽出三分，陰入三分，故曰三陰三陽。陽生於尺動於寸，陰生於寸動於尺（以上二十八字《千金》作「如天地人為三界」七字）。寸主射上焦出頭（《千金》無「出」字。射者，猶俗云猜某事而先言以取中）及皮毛竟手（《千金》有「上部」二字）。關主射中焦腹及腰（《千金》有「中部」二字）。尺主射下焦少腹至足（《千金》下有「下部，此為三部法象，三才天地人，頭腹足為三元也」二十字。○《脈經》一、《千金》二十八）。</p>
<p>上分別三關境界（仍舊）。</p>
<p>《脈法贊》云（《脈法贊》，未知誰氏之書）：肝心出左（《千金》「肝心」二字乙轉），脾肺出右，腎與命門俱出尺部，魂魄穀神皆見寸口，左主司官，右主司府。○左大順男，右大順女。關前一分，人命之主。左為人迎，右為氣口。神門訣斷，兩在關後。人無二脈（謂左右兩手之脈），病死不愈。諸經損減，各隨其部。察按陰陽，誰與先後（原注：《千金》作三陰三陽誰先誰後），陰病治官，陽病治府（《千金》注云：府，外也）。奇邪所舍，如何捕取，審而知者（《千金》「者」字作「之」），針入病愈（《千金》二十八句空一字，下接「云脈」，有三部陰陽相乘，豈此條出仲景之言邪？抑仲景之言原出《脈法贊》也？或孫真人以其文法相類故合之）。</p>
<p>心部在左手關前寸口（《千金》注：亦名人迎，並下六條割取首句置贊前，無「是也」以下文）是也，即手少陰經也，與手太陽為表裡，以小腸合為府合於上焦，名曰神庭，在龜尾（原注：一作「鳩尾」）下五分。</p>
<p>肝部在左手關上是也，足厥陰經也，與足太陽為表裡，以膽合為府，合於中焦，名曰胞門（原注：一作「少陽」），在太倉左右三寸。</p>
<p>腎部在左手關後尺中是也，足少陰經也，與足太陽為表裡，以膀胱合為府，合於下焦，在關元左。</p>
<p>肺部在右手關前寸口（《千金》注：亦名氣口）是也，手太陰經也，與手陽明為表裡，以大腸合為府，合於上焦，名呼吸之府，在雲門。</p>
<p>脾部在右手關上是也，足太陰經也，與足陽明為表裡，以胃合為府，合於中焦脾胃之間，名曰章門，在季肋前一寸半。</p>
<p>腎部在右手關後尺中是也，足少陰經也，與足太陽為表裡，以膀胱合為府，合於下焦在關元右。○左屬腎，右為子戶，名曰三焦（以上六條疑通出《脈法》。蓋本《難經》而為之詞。又疑《脈法》中之一條也。○《脈經》一）。</p>
<p>上詳舉六部所主藏府經絡。</p>

<h2>三部病候四</h2>
<p>兩手脈結上部者，濡結中部者，緩結三里者豆起（「豆起」字誤）。</p>
<p>諸浮、諸沉、諸澀、諸弦、諸緊（《千金》二句乙，滑澀二字互易）若在寸口，鬲以上病（《千金》注：頭部）。若在關上，胃以下病（《千金》注：腹部）。右在尺中，腎以下病（《千金》注：腰腳部）。寸口脈滑而遲，不沉不浮，不長不短，為無病，左右同法（並《脈經》四、《千金》二十八）。</p>
<p>上三部統言。</p>
<p>寸口脈沉而弱者，發必墮落（此與《內經》異義。《內經》云：寒熱疝瘕少腹痛）。</p>
<p>寸口脈沉而緊，苦心下有寒，時痛，有積聚（《千金》「時」字疊，「聚」，字作「邪」）。</p>
<p>寸口脈沉而喘者寒熱。</p>
<p>寸口脈但實者（《千金》無「但」字）心勞。</p>
<p>寸口脈緊或浮，鬲上有寒，肺下有水氣。</p>
<p>脈緊而長過寸口者注病。</p>
<p>脈緊上寸口者中風頭痛，亦如之（風下一重衍「風」字。原注：《千金翼》云：亦為傷寒頭痛）。</p>
<p>脈弦上寸口者宿食，降者頭痛（降字《千金》作「浮」）。</p>
<p>脈來過寸入魚際者遺溺。</p>
<p>脈出魚際，逆氣喘息。</p>
<p>寸口脈潎潎如羹上肥，陽氣微，連連如蜘蛛絲，陰氣衰（此條見《平脈》，大同小異）。</p>
<p>寸口脈偏絕（《病源》一有「者」字）則臂偏不舉（《病源》「舉」字作「隨」，《千金》「偏」作「僻」）。其人兩手俱絕者（《千金》無「其人」二字。《病源》作「盡絕」）不可治。</p>
<p>兩手前部陽絕者苦心下寒，毒喙中熱（「毒喙」，《千金》作「腰膝」）。</p>
<p>上寸部。</p>
<p>關上脈浮而大，風在胃中，張口肩息，心下澹澹，食欲嘔。</p>
<p>關上脈微浮，積熱在胃中，嘔吐蛔蟲，心健忘。</p>
<p>關上脈滑而小大不勻（《千金》作「均」，下有「必吐逆」三字）是為病方欲進（《千金》作「來」），不出一二日復欲發動（《千金》作氣動），其人慾多飲，飲即注利（言利下如水注然也），如利止者生，不止者死。</p>
<p>關上脈緊而滑者蛔動。</p>
<p>關上脈澀而堅大而實，按之不減（句），有力為中焦實，有伏結在脾，肺氣塞，實熱在胃中。</p>
<p>關上脈襜襜大（《楚詞》：逢紛裳襜襜而含風兮，注：襜襜，搖貌，釋名釋宮室：襜愉，言其襜襜宏裕也。據此則襜襜乃搖大貌）而尺寸細者，其人必心腹冷積，癥瘕結聚，欲熱飲食。</p>
<p>關上脈時來時去，乍大乍小，乍疏乍數者，胃中寒熱，羸劣不欲飲食如瘧狀。</p>
<p>上關部。</p>
<p>尺脈浮者客陽在下焦（陽即謂熱）。</p>
<p>尺脈細微，溏泄下冷利（《千金》無「下」字。注：《素問》云：尺寒脈細，謂之後泄）。</p>
<p>尺脈弱，寸強，胃絡脈傷（此兼寸言）。</p>
<p>尺脈虛小者足脛寒，痿痹腳疼。</p>
<p>足脈澀，下血下利，多汗（「下利」，泰定、居敬本同一作「不利」。原注：《素問》又云：尺澀脈滑，謂之多汗。按，《素問》尺澀者，謂尺之皮膚，脈滑乃尺脈也，與此不同）。</p>
<p>尺脈滑而疾，為血虛（《千金》無此條）。</p>
<p>尺脈沉而滑者寸白蟲。</p>
<p>尺脈細而急者筋攣，痹不能行。</p>
<p>尺脈粗常熱者謂之熱中，腰胯疼，小便赤熱（此兼尺之皮膚言。《說文》：胯，股也）。</p>
<p>尺脈偏滑疾，面赤如醉，外熱則病（三部並出《脈經》四、《千金》二十八）。</p>
<p>上尺部。</p>

<h2>三部病候治法五</h2>
<p>寸口脈浮，中風發熱頭痛，宜服桂枝湯、葛根湯，針風池、風府，向火灸身，摩治風膏，覆令汗出。</p>
<p>寸口脈緊，苦頭痛，骨肉疼（《千金》無三字）是傷寒（「是」，一誤「足」），宜服麻黃湯發汗，針眉沖、顳顬，摩治傷寒膏。</p>
<p>寸口脈微苦寒，為衄，宜服五味子湯，摩茱萸膏（摩下疑脫「治」字，茱萸上《千金》無「摩」字，有「麻黃」二字）令汗出。</p>
<p>寸口脈數即為吐（《千金》無「即」字），以有熱在胃脘熏胸中，宜服藥吐之，及針胃脘，服除熱湯。若是傷寒（《千金》無「是」字）七八日至十日，熱在中（《千金》作「中間」），煩滿（《千金》有「而」字），渴者，宜服知母湯。</p>
<p>寸口脈緩，皮膚不仁（《病源》一同），風寒在肌肉，宜服防風湯，以藥薄熨之（《千金》有「佳」字，無下句四字，藥薄、薄貼也，今人名曰膏藥，《廣雅·釋言》薄、附也），摩以風膏（以，猶治也），灸諸治風穴。</p>
<p>寸口脈滑（《病源》十三有「為」字）陽實，胸中壅滿吐逆（《病源》作「胸中逆滿」），宜服前胡湯，針太陽、巨闕瀉之。</p>
<p>寸口脈弦，心下愊愊，微頭痛，心下有水氣，宜服甘遂丸，針期門瀉之。</p>
<p>寸口脈弱，陽氣虛，自汗出而短氣（六字《千金》作「弱自汗出」），宜服茯苓湯、內補散，適（適上《千金》有「將」字）飲食消息，勿極勞（勿，禁止詞也。一誤忽），針胃脘補之。</p>
<p>寸口脈澀，是胃氣不足，宜服乾地黃湯自養，調和飲食，針三里補之（原注：「三里」，一作「胃管」）。</p>
<p>寸口脈芤，吐血，微芤者衄（句），血空虛，血去（《千金》二字乙轉）故也，宜服竹皮湯、黃耆湯（《千金》作「黃土湯」），灸膻中。</p>
<p>寸口脈伏，胸中逆氣，噎塞不通（《病源》十六無四字，《千金》無「不通」二字），是胃中冷氣（五字《千金》作「是諸氣」）上衝心胸（二字《病源》、《千金》俱作「胸中」），宜服前胡湯、大三建丸，針巨闕（《千金》作寫之，無下文五字）、上脘，灸膻中。</p>
<p>寸口脈沉，胸中引脅痛，胸中有水氣，宜服澤漆湯，針巨闕寫之。</p>
<p>寸口脈濡，陽氣（《千金》無「陽氣」二字）弱，自汗出，是虛損病，宜服乾地黃湯、薯蕷丸、內補散、牡蠣散並粉（《千金》有「身」字），針太衝補之。</p>
<p>寸口脈遲，上焦有寒，心痛，咽酸吐酸水，宜服附子湯、生薑湯、茱萸丸，調和飲食以暖之。</p>
<p>寸口脈實，即生熱在脾肺，嘔逆氣塞。○虛即生寒在脾胃，食不消化。○有熱即宜服竹葉湯、葛根湯。○有寒即宜服茱萸丸、生薑湯（《千金》無「有即」四字）。</p>
<p>寸口脈細，發熱吸吐（「吸」《千金》作「嘔」），宜服黃芩龍膽湯，吐不止宜服橘皮桔梗湯（《千金》有「及」字），灸中府。</p>
<p>寸口脈洪大，胸脅滿，宜服生薑湯、白薇丸，亦可紫菀湯下之，針上脘、期門、章門（並《脈經》二、《千金》二十八，此條置緩脈前）。</p>
<p>上寸部（十七條）。</p>
<p>關（《千金》概作關上）脈浮，腹滿不欲食，浮為虛，滿宜服平胃丸、茯苓湯、生薑（疑脫「湯」字）、前胡湯，針胃脘，先瀉後補之。</p>
<p>關脈緊，心下苦滿急痛（《病源》十六無「滿急」二字，《千金》無「急」字），脈緊者（《千金》無三字）為實，宜服茱萸當歸湯，又大黃湯，兩治之良（八字《千金》作「又加大黃二兩佳」，以正文作注），針巨闕、下脘寫之。</p>
<p>關脈微（《千金》有「為」字），胃中冷，心下拘急，宜服附子湯、生薑湯、附子丸，針巨闕補之。</p>
<p>關脈數，胃中有客熱，宜服知母丸（《千金》作知母湯。注：一云丸）除熱湯，針巨闕、上脘瀉之。</p>
<p>關脈緩，其人不欲食，此胃氣不調，脾氣不足（九字《千金》作「此脾胃不足」），宜服平胃丸、補肺湯（《千金》作補脾湯，疑是。又下有「及」字），針章門補之。</p>
<p>關脈滑，胃中有熱。滑為熱實，以氣滿故，不欲食（十一字《病源》十五作「脈滑為實氣滿不欲」），食即吐逆，宜服紫菀湯下之，大平胃丸（原注：《千金》作宜服樸消麻黃湯、平胃丸。案：今本《千金》注，一作紫菀湯、人參大平胃丸），針胃脘寫之。</p>
<p>關脈弦，胃中有寒，心下厥逆，此以（二字《千金》作「脈弦」）胃氣虛故爾（《千金》無二字），宜服茱萸湯，溫調飲食，針胃脘補之。</p>
<p>關脈弱，胃氣虛，胃中有客熱，脈弱為虛熱作病（句），其說云（《千金》「其」，字作「且」），有熱不可大攻之，熱去則寒起（以虛弱故爾。其說云者，蓋引先正之言也），正宜服竹葉湯（正宜，猶云正當也。《千金》無「正」字，或謂：「正」為「止」字誤。案，《詩·終風》序箋：正，猶止也。不必破字），針胃脘補之（針上《千金》有及字）。</p>
<p>關脈澀，血氣逆冷（《千金》「氣」字作「發」），脈澀為血虛，以中焦有微熱（六字《千金》無），宜服乾地黃湯、內補散，針足太衝上補之（足、上二字疑衍）。</p>
<p>關脈芤，大便去血數升者，以鬲腧傷故也（九字《千金》無），宜服生地黃，並生竹皮湯，灸鬲腧。若重下去血者（《千金》無「者」字），針關元（《千金》注：關元，一作巨闕），甚者宜服龍骨丸必愈（《千金》無「必愈」二字）。</p>
<p>關脈伏，中焦（《千金》無二字）有水氣，溏泄，宜服水銀丸（《千金》作溫脾丸），針關元，利小便，溏泄（溏泄上《千金》有「止」字）便止。</p>
<p>關脈沉，心下有冷氣，苦滿吞酸，宜服白薇（《千金》下有「丸」字）、茯苓丸、附子湯，針胃脘補之。</p>
<p>關脈濡（《千金》作「軟」，義並同），苦虛冷，脾（《千金》有「虛」字）氣弱，得下病，宜服赤石脂湯、女萎丸，針關元（《千金》作「針胃脘」）補之。</p>
<p>關脈遲，胃中寒，宜服桂枝丸、茱萸丸，針胃脘補之。</p>
<p>關脈實，胃中痛，宜服梔子湯、茱萸烏頭丸，針胃脘補之。</p>
<p>關脈牢，脾胃氣塞盛，熱即腹滿響響（二字《千金》作「向」），宜服紫菀丸、寫脾丸，針灸胃脘寫之。</p>
<p>關脈（《千金》有「虛」字）細，脾胃虛（《千金》無三字），腹滿，宜服生薑（《千金》有「湯」字）、茱萸蜀椒湯、白薇丸，針灸三脘（《千金》置澀脈前）。</p>
<p>關脈洪，胃中熱，必煩滿，宜服平胃丸，針胃脘，先寫後補之（並《脈經》二、《千金》二十八無此條）。</p>
<p>上關部（十八條）。</p>
<p>尺脈浮，下熱風（《病源》十四無三字），小便難，宜服瞿麥湯、滑石散，針橫骨、關元寫之。</p>
<p>尺脈緊，臍下痛，宜服當歸湯，灸天樞，針關元補之。</p>
<p>尺脈微，厥逆，少腹中拘急，有寒氣，宜服小建中湯（原注：一本更有四順湯），針氣海（一本無此三字）。</p>
<p>尺脈數，惡寒，臍下熱痛，小便赤黃，宜服雞子湯、白魚散，針橫骨寫之。</p>
<p>尺脈緩，腳弱下腫（《千金》注：一本無此四字，與《病源》十四同），小便難，有餘瀝，宜服滑石散、瞿麥湯（《千金》「湯」、「散」二字互易），針橫骨寫之。</p>
<p>尺脈滑、血氣實，婦人（《千金》無二字）經脈不利，男子溺血（《千金》無四字），宜服朴硝煎、大黃湯，下去經血（據此知上文當作「經血不利」），針關元寫之。</p>
<p>尺脈弦，少腹疼，少腹及腳中拘急，宜服建中湯、當歸湯，針氣海寫之。</p>
<p>尺脈弱，陽氣少（《千金》無「陽」字），發熱骨煩，宜服前胡湯、乾地黃湯（《千金》無此「湯」字）、茯苓湯，針關元補之。</p>
<p>尺脈澀，足脛逆冷，小便赤，宜服附子（疑有「湯」字）、四逆湯，針足太衝補之（「足」字疑衍）。</p>
<p>尺脈芤，下焦虛，少便去血，宜服竹皮生地黃湯，灸丹田、關元，亦針補之（《千金》無此四字。六字宜當作「針關元補之」）。</p>
<p>尺脈伏，少腹痛，症疝，水穀不化，宜服大平胃丸、桔梗丸（桔梗丸，一作結腸丸），針關元補之。</p>
<p>尺脈沉，腰背痛，宜服腎氣丸，針京門補之。</p>
<p>尺脈濡，苦小便難（《病源》十四無「苦」字，與《千金》同。《千金》句上有「腳不收，風痹」。注：一本無此五字），宜服瞿麥湯、白魚散，針關元寫之。</p>
<p>尺脈遲，下焦有寒，宜服桂枝丸，針氣海、關元補之（《千金》作「寫之」）。</p>
<p>尺脈實，少腹痛（《病源》十四「痛」上有「堅」字），小便不禁，宜服當歸湯加大黃一兩以利（《千金》有「其」字）大便，針關元補之，止小便（《千金》無三字）。</p>
<p>尺脈牢，腹滿，陰中急，宜服葶藶子（《千金》無「子」字）茱萸丸，針丹田、關元、中極（並《脈經》二，此條《千金》二十八置遲脈前）。</p>
<p>上尺部（十六條。○合共五十一條，各以浮、緊、微、數、緩、滑、弦、弱、澀、芤、伏、沉、濡、遲、實、牢、細、洪為次，寸無牢，尺無細洪，故五十一條。然寸脈實條下附見虛脈，關尺均無洪脈。洪、大、實即一也，後人強歧為二）。</p>

<h2>三部雜論六</h2>
<p>寸口中脈躁，竟關尺中無脈應，陽干陰也。動苦腰背腹痛，陰中若傷，足寒，刺足太陽少陰，直絕骨入九分，灸太陰五壯。</p>
<p>尺中脈堅實，竟關寸口無脈應，陰乾陽也。動苦兩脛，腰重少腹痛，癲疾，刺足太陰踝上三寸，針入五分，又灸太陽、陽蹺，在足外踝上三寸，直絕骨是也。</p>
<p>寸口脈緊，直至魚際下，小按之如持維干狀（一作雞毛之狀），其病腸鳴，足痹痛酸，腹滿不能食，得之寒濕，刺陽維，在外踝上三寸間也，入五分。此脈出魚際。</p>
<p>寸口脈沉著骨，反仰其手乃得之，此腎脈也。動苦少腹痛，腰體酸，癲疾，刺腎輸入七分，又刺陰維入五分。</p>
<p>初持寸口中脈如細堅狀，久按之大而深，動苦心下有寒，胸脅苦痛，陰中痛，不欲近丈夫也，此陰逆，刺期門入六分，又刺腎輸入五分，可灸胃脘七壯（此診婦人）。</p>
<p>初持寸口中脈如躁狀洪大，久按之細而牢堅，動苦腰腹相引痛，以下至足脛重也，不能食，刺腎輸入四分至五分，亦可灸胃脘七壯（《經脈》十）。</p>
<p>上六條憑脈定證及灸刺穴。</p>
<p>寸口脈浮大而疾者，名曰陽中之陽，病苦煩滿，身熱頭痛，腹中熱。</p>
<p>寸口脈沉細者，名曰陽中之陰，病苦悲傷不樂，惡聞人聲，少氣，時汗出，陰氣不通（《千金》注：一作「陰氣病」。《病源》無此四字），臂不能舉（《千金》注：巢源作「臂偏不舉」）。</p>
<p>尺脈沉細者，名曰陰中之陰，病苦兩脛痠疼，不能久立，陰氣衰，小便餘瀝，陰下濕癢。</p>
<p>尺脈滑而浮大者，名曰陰中之陽，病（以上七字《病源》十四作「陰乾於陽，其人」）苦少腹痛滿，不能溺，溺即陰中痛，大便亦然。</p>
<p>尺脈牢而長，關上無有，此為陰乾陽，其人苦兩脛重，少腹引腰痛。</p>
<p>寸口脈壯大，尺中無有，此為陽干陰，其人苦腰背痛，陰中傷，足脛寒。夫風傷陽，寒傷陰，陽病順陰，陰病逆陽；陽病易治，陰病難治。在腸胃之間，以藥和之；若在經脈之間，針灸病已（《千金》二十八無此條○並《脈經》一）。</p>
<p>上七條言陰陽相干，末條言治法。</p>

<h2>三部同等病候七</h2>
<p>尺寸俱沉，但有關上脈，苦寒，心下痛。</p>
<p>尺寸俱沉，關上無有者，苦心下喘。</p>
<p>尺寸俱數有熱，俱遲有寒。</p>
<p>尺寸俱微，血氣不足，其人少氣（《病源》十三作「短氣」）。</p>
<p>尺寸俱濡弱，發熱惡寒，出汗（原注：一云「內蘊熱，手足逆冷汗出」。○並《脈經》十）。</p>
<p>上以沉、數、微、軟四種脈三部並見者，各言其主病。</p>
<p>寸口沉，胸中痛引背（原注：一云「短氣」）。○關上沉，心痛上吞酸。○尺中沉，引背痛。</p>
<p>寸口伏，胸中有逆氣。○關上伏，有水氣泄溏。○尺中伏，水穀不消。</p>
<p>寸口弦，胃中拘急（原注：一云心下愊愊）。○關上弦，胃中有寒，心下拘急。△尺中弦，少腹臍下拘急。</p>
<p>寸口緊，頭痛逆氣。○關上緊，心下痛。○尺中緊，臍下少腹痛。</p>
<p>寸口澀，無陽少氣。○關上澀，無血厥冷。○尺中澀，無陰厥冷。</p>
<p>寸口微，無陽外寒。○關上微，中實（原注：一云胃虛）能食，故里急（原注：一云無胃氣）。○尺中微，無陰厥冷，腹中拘急。</p>
<p>寸口滑，胸滿逆。○關上滑，中實逆。○尺中滑，下利少氣。</p>
<p>寸口數即吐。○關上數，胃中有熱。○尺中數，惡寒，小便赤黃。</p>
<p>寸口實即生熱。○關上實即痛。○尺中實即小便難，少腹牢痛。</p>
<p>寸口虛即生寒。○關上虛即脹滿。○尺中虛即小便閉。</p>
<p>寸口芤吐血，微芤衄血。○關上芤胃中虛。○尺中芤下血，微芤小便血。</p>
<p>寸口浮，其人中風，發熱頭痛。○關上浮，腹痛心下滿。○尺中浮小便難。</p>
<p>寸口遲，上焦有寒。○關上遲，胃有寒。○尺中遲，下焦有寒，背痛。</p>
<p>寸口濡，陽弱自汗出。○關上濡，下重。○尺中濡，少血，發熱惡寒。</p>
<p>寸口弱，陽氣少。○關上弱，無胃氣。○尺中弱，少血（並《脈經》十）。</p>
<p>上以沉、伏、弦、緊、澀、微、滑、數、實、虛、芤、浮、遲、濡、弱十五種脈，各以寸關尺三部之所獨見者言其主病。</p>

<h2>三部虛實八</h2>
<p>左手關前寸口陽絕者，無小腸脈也，苦齊痹（齊，古通臍），少腹中有癥瘕（症，《千金》作「疝」），王月即冷上搶心（「王」，《千金》作：「主」），刺手心主經（《千金》十四無「經」字。余條分載，並同）。治陰心主，在掌後橫理中（原注：即大陵穴。《千金》下有「入一分」三字）。</p>
<p>左手關前寸口陽實者，小腸實也，苦心下急痹（原注：「痹」一作「痛」。按：《千金》痹上有「熱」字），小腸有熱（《千金》作「內熱」），小便赤黃，刺手太陽經，治陽（原注：一作手少陽，誤）、太陽（《千金》作手太陽），在手小指外側本節陷中（原注：即後谿穴）。</p>
<p>左手關前寸口（六字《病源》十六作「左手寸口脈沉則為陰」九字）陰絕者，無心脈也，苦心下毒痛（毒，《千金》十三作「熱」），掌中熱，時時善嘔，口中傷爛（《說文》：創也），刺手太陽經（《千金》作手少陽），治陽（不知穴，當即謂後谿也。下仿此）。</p>
<p>左手關前寸口陰實者，心實也，苦心下有水氣，憂恚發之（「之」字誤），刺手心主經，治陰。</p>
<p>左手關上陽絕者，無膽脈也，苦膝疼，口中苦，眯目（眯，讀曰寐，聲誤。《說文》寐，寐而厭也。《淮南·精神》：楚人謂厭為眯，目，疑為且字，形誤）善畏，如見鬼狀，多驚，少力，刺足厥陰經，治陰，在足大指間（原注：即行間穴）。或刺三毛中。</p>
<p>左手關上陽實者，膽實也，苦腹中實（二字《病源》十五作「內冒冒」。《千金》無「實」字），不安，身軀習習也（習，讀曰翕，仲景曰翕翕發熱），刺足少陽經，治陽，在足上第一指（三字原注：當云小指次指。案、居敬本與此同，泰定本、袁校本、及《千金》十二均作第二指，並誤）本節後一寸（原注：即臨泣穴。《千金》寸下有「是」字〕。</p>
<p>左手關上（《病源》十四有「脈沉為陰」四字）陰絕者，無肝脈也，苦癃，遺溺，難言，脅下有邪氣，善吐，刺足少陽經，治陽。</p>
<p>左手關上（《病源》二十二有「脈沉為陰」四字）陰實者，肝實也，苦肉中痛，動善轉筋（八字《病源》作「苦肉痛轉筋」。《千金》十一轉筋下有「吐」字），刺足厥陰經，治陰。</p>
<p>左手關後尺中（「尺中」二字，《病源》三十七作「尺內浮為陽」）陽絕者，無膀胱脈也，苦逆冷，婦人月水不調，三月則閉（八字《病源》作「月事則閉」。《千金》水字作「便」。一本誤「月使」，「三」誤「王」），　男子失精，鑱（病源作溺）有餘瀝，刺足少陰經，治陰，在足內踝下動脈（原注：即太谿穴。《千金》二十有「是也」二字〕。</p>
<p>左手關後尺中陽實者，膀胱實也，苦逆冷，脅下有邪氣相引痛，刺足太陽經，治陽，在足小指外側本節後陷中（原注：即束骨穴）。</p>
<p>左手關後尺中陰絕者，無腎脈也，苦足下熱，兩髀裡急，精氣竭少，勞倦所致，刺足太陽經，治陽。</p>
<p>左手關後尺中陰實者，腎實也，苦恍惚健忘，目視䀮䀮（䀮，俗誤𥆨），耳聾悵悵（《病源》十六作「腹脹」，疑是）善鳴，刺足少陰經，治陰（《脈經》二）。</p>
<p>上以左手三部脈所主，一浮一沉，別其虛實，以明藏府病證（浮為陽以候府，沉為陰以候藏。幸《病源》間有此數字，不然幾令人無著手處）。</p>
<p>右手關前寸口陽絕者，無大腸脈也，苦少氣，心下有水氣，立秋節即咳，刺手太陰經（《千金》十八作「手太陽」），治陰，在魚際間（原注，即太淵穴）。</p>
<p>右手關前寸口（《病源》十五作「寸口脈，手陽明經也，脈浮則為陽」，多十一字）陽實者，大腸實也，苦腸中切痛，如錐刀所刺（《千金》十八作「如針刀刺」。《病源》無「所」字）無休息時，刺手陽明經，治陽，在手腕中（原注：即陽谿穴。《千金》有「寫之」二字）。</p>
<p>右手關前寸口陰絕者，無肺脈也，苦短氣，咳逆，喉中塞，噫逆，刺手陽明經，治陽。</p>
<p>右手關前寸口陰實者，肺實也，苦少氣，胸中滿，彭彭與肩相引（「彭」，《千金》十七作「膨」，古通用。《病源》十三「肩」字作「髀」），刺手太陰經，治陰。</p>
<p>右手關上陽絕者，無胃脈也，苦吞酸頭痛，胃中有冷，刺足太陰經，治陰。在足大指本節後一寸（原注：即公孫穴）。</p>
<p>右手關上陽實者，胃實也，苦腸中伏伏（一作愊愊），不思食物，得食不能消，刺足陽明經，治陽。在足上動脈（原注：即衝陽穴）。</p>
<p>右手關上陰絕者，無脾脈也，苦少氣，下利腹滿，身重，四肢不欲動，善嘔，刺足陽明經，治陽。</p>
<p>右手關上陰實者，脾實也，苦腸中伏伏（《病源》十四注：一作怵怵）如堅狀，大便難，刺足太陰經，治陰。</p>
<p>右手關後尺中（二字，《病源》三十八作「尺脈浮則為陽」）陽絕者，無子戶脈也，苦足逆寒，絕產，帶下，無子，陰中寒，刺足少陰經，治陰。</p>
<p>右手關後尺中陽實者，膀胱實也，苦少腹滿，引腰痛，刺足太陽經，治陽（不云在某處者，與左尺同。畢校云：疑脫）。</p>
<p>右手關後尺中陰絕者，無腎脈也，苦足逆冷，上搶胸痛，夢入水見鬼，善厭寐黑色物來掩人上（厭，古通魘），刺足大陽經，治陽。</p>
<p>右手關後尺中陰實者，腎實也，苦骨疼腰脊痛，內寒熱，刺足少陰經，治陰（《脈經》二）。</p>
<p>上以右手三部脈所主一浮一沉，以別虛實，以明藏府病證。</p>

<h2>三部虛實（下）九</h2>
<p>左手寸口人迎以前脈陰實者，手少陰經也（八字《病源》十四作「手少陰經也脈沉為陰」。陰實者，舊本作手厥陰，據《千金》十三正。觀心、小腸俱虛實二條，知不以包絡代心經也。下條同），病苦閉，大便不利，腹滿，四肢重，身熱，苦胃張，刺三里（張，古通脹。三里，謂手陽明後三里也。余條不言，疑脫。《病源》十四無「刺三里」三字）。</p>
<p>上心實熱（《千金》逐條末有名曰：某實熱也，某虛寒也，某某俱虛，某某俱實也。無此等目，《脈經》原本止標某實、某虛，今寒熱等字，據《千金》添）。</p>
<p>左手寸口人迎以前脈陰虛者，手少陰經也（「也」下《病源》作脈沉為陰，陰虛者三字乙轉），病苦悸，恐不樂，心腹痛，難以言，心如寒狀恍惚《千金》十三無「狀」字。《病源》十六無「恍惚」二字）。</p>
<p>上心虛寒。</p>
<p>左手寸口人迎以前脈陽實者，手太陽經也，病苦身熱，熱來去（《千金》止一「熱」字），汗出（原注：一作汗不出。按、與《千金》同）而煩，心中滿（五字《千金》十四作「心中煩滿」），身重，口中生瘡。</p>
<p>上小腸虛寒。</p>
<p>左手寸口人迎以前脈陽虛者，手太陽經也，病苦顱際偏頭痛，身熱，大便難，心腹煩滿，不得臥，心胃氣不轉，水穀實也。</p>
<p>上心小腸俱實。</p>
<p>左手寸口人迎以前脈陰陽俱虛者，手少陰與太陽經俱虛也。病（《千金》十三以下文「洞泄」二字移「病」字下）苦寒，少氣，四肢寒（《千金》作厥），腸澼洞泄。</p>
<p>上心小腸俱虛。</p>
<p>左手關上脈陰實者，足厥陰經也，病苦心下堅滿，常兩脅痛，自（《千金》十一「自」字作「息」，疑是）忿忿如怒狀。</p>
<p>上肝實熱。</p>
<p>左手關上脈（《病源》三十七脈下有「沉為陰」三字）陰虛者，足厥陰經也，病苦脅下堅，寒熱腹滿，不欲飲，腹張，悒悒不樂，婦人月經不利，腰腹痛。</p>
<p>上肝虛寒。</p>
<p>左手關上脈陽實者，足少陽經也（《病源》三十作「左手關上脈浮為陽，足少陽膽之經也，其脈實者」），病苦腹中氣滿（《病源》無「氣」字），飲食（《病源》無「食」字）不下，咽乾頭重痛（《千金》十二無「重」字），洒洒惡寒，脅痛。</p>
<p>上膽實熱。</p>
<p>左手關上脈陽虛者，足少陽經也，病苦眩，厥痿，足指不能搖，坐不能起，僵仆日黃，失精䀮䀮（精，五藏六府之精上注於目者也，失精故䀮䀮）。</p>
<p>上膽虛寒。</p>
<p>左手關上脈陰陽俱實者，足厥陰與少陽經俱實也，病苦胃張，嘔逆，食不消。</p>
<p>上肝膽俱實。</p>
<p>左手關上脈陰陽俱虛者，足厥陰與少陽經俱虛也，病苦恍惚，屍厥，不知人，妄見（《病源》二十三作「妄有所見」），少氣不能言，時自驚。</p>
<p>上肝膽俱虛。</p>
<p>左手尺中神門以後脈（《病源》十六有「沉者為陰」四字）陰實者，足少陰經也，病（十八字泰定、居敬本於下文舌燥上重出，歧為二條，誤也）苦膀胱張閉，少腹與腰脊相引痛（《病源》十六作「病苦少腹滿」五字。《千金》十九作病苦舌燥云云至耳聾注云：腎實熱者，病苦膀胱張閉，少腹與腰脊相引痛。疑此為後人併合，並存之）舌燥咽腫，心煩嗌乾，胸脅時痛，喘咳汗出，少腹張滿，腰背強急，體重骨熱，小便赤黃，好怒好忘，足下熱疼，四肢黑，耳聾。</p>
<p>上腎實熱。</p>
<p>左手尺中神門以後脈陰虛者，足少陰經也，病苦心中悶，下重足腫，不可以按地。</p>
<p>上腎虛寒。</p>
<p>左手尺中神門以後脈陽實者，足太陽經也，病苦逆滿，腰中痛不可俯仰，勞也。</p>
<p>上膀胱實熱。</p>
<p>左手尺中神門以後脈陽虛者，足太陽經也，病苦腳中筋急，腹中痛引腰背，不可屈伸，轉筋，惡風，偏枯腰痛，外踝後痛。</p>
<p>上膀胱虛寒。</p>
<p>左手尺中神門以後脈陰陽俱實者，足少陰與太陽經俱實也，病苦脊強反折，戴眼，氣上搶心，脊痛不能自反側。</p>
<p>上腎、膀胱俱實。</p>
<p>左手尺中神門以後脈陰陽俱虛者，足少陰與太陽經俱虛也，病苦小便利，心痛背寒，時時少腹滿。</p>
<p>上腎、膀胱俱虛。</p>
<p>右手寸口氣口以前脈陰實者，手太陰經也，病苦肺脹，汗出若露，上氣喘逆，咽中塞，如欲嘔狀。</p>
<p>上肺實熱。</p>
<p>右手寸口氣口以前脈（《病源》三十有「沉為陰」三字）陰虛者（《病源》無三字），手太陰經也（《病源》有「其脈虛者」四字），病苦少氣不足以息，嗌乾不朝津液（朝，讀曰潮，猶潮汐之潮也。四字《病源》作「無津液故也」）。</p>
<p>上肺虛寒。</p>
<p>右手寸口氣口以前脈陽實者（《病源》十四云，其脈浮則為陽實。十六卷又無「實」字，接云：按之堅強謂之為實），手陽明經也，病苦腹滿，善喘咳（《病源》十四引止此，無「咳」字。十六卷此三字又作「氣喘嗽」），面赤身熱，咽喉中如核狀。</p>
<p>上大腸實熱。</p>
<p>右手寸口氣口以前脈陽虛者，手陽明經也，病苦胸中喘，腸鳴，虛渴，唇口乾（《千金》八無「口」字），目急善驚，泄白（目急，謂目系急也）。</p>
<p>上大腸虛寒。</p>
<p>右手寸口氣口以前脈陰陽俱實者，手太陰與陽明經俱實也，病苦頭痛目眩，驚狂喉痹痛，手臂卷（卷、倦、蜷、腃，各本通用。後四時經肺脈條注：卷者，其人拘卷也，則卷字是，《千金》十七亦作「棬」字），唇吻不收。</p>
<p>上肺、大腸俱實。</p>
<p>右手寸口氣口以前，脈陰陽俱虛者（《病源》二十九下有「此為血氣虛損」六字），手太陰與陽明經俱虛也，病苦耳鳴嘈嘈，時妄見光明（《病源》「時」上有「眼」字。《外臺》一「光」字作「花」）情中為樂，或如恐怖。</p>
<p>上肺、大腸俱虛。</p>
<p>右手關上脈陰實者，足太陰經也，病苦足寒脛熱，腹脹滿，煩擾不得臥。</p>
<p>上脾實熱。</p>
<p>右手關上脈陰虛者，足太陰經也，病苦泄注腹滿，氣逆霍亂，嘔吐黃疸（《千金》作「黃癉」，通用字），心煩不得臥，腸鳴。</p>
<p>上脾虛寒。</p>
<p>右手關上脈陽實者，足陽明經也，病苦腹中堅痛（原注：《千金》作「病苦頭痛」）而熱（《千金》十六作「面赤」，疑是），汗不出，如溫瘧（六字居敬本旁註），唇口乾，善噦，乳癰，缺盆腋下腫痛。</p>
<p>上胃實熱。</p>
<p>右手關上脈陽虛者（三字《病源》三十作「浮為陽」），足陽明經也（《病源》作「其脈虛者，病苦唇口乾」，無餘文）病苦脛寒不得臥，惡（《千金》十六有「風」字）寒，洒洒目急（目系急也），腹中痛（《千金》無「中」字）虛鳴（原注：外臺作「耳虛鳴」），時寒時熱，唇口乾，面目浮腫。</p>
<p>上胃虛寒。</p>
<p>右手關上脈陰陽俱實者，足太陰與陽明經俱實也，病苦脾張腹堅痛（《千金》十五上「痛」字作「搶」），脅下痛，胃氣不轉，大便難，時反泄利，腹中痛，上衝肺肝，五藏並喘鳴（並，一作「立」。《千金》作「主」），多驚，身熱汗不出，喉痹，精少。</p>
<p>上脾、胃俱實。</p>
<p>右手關上脈陰陽俱虛者，足太陰與陽明經俱虛也，病苦胃中如空狀，少氣不足以息，四逆寒，泄注不已。</p>
<p>上脾、胃俱虛。</p>
<p>右手尺中神門以後脈陰實者，足少陰經也，病苦痹，身熱心痛，脊脅相引痛，足逆熱煩。</p>
<p>上腎實熱。</p>
<p>右手尺中神門以後脈陰虛者，足少陰經也，病苦足脛小弱，惡風寒（《千金》無「風」字），脈代絕，時不至，足寒，上重下輕，行不可以（《千金》無「可以」二字）按地，少腹張滿，上搶胸脅，痛引肋下（《千金》十九作「上搶胸痛，引脅下」）。</p>
<p>上腎虛寒。</p>
<p>右手尺中神門以後脈陽實者，足太陽經也，病苦轉胞（二字《千金》乙轉。胞，古通脬）不得小便，頭眩痛，煩滿，脊背強。</p>
<p>上膀胱實熱。</p>
<p>右手尺中神門以後脈（《病源》二十九有「浮為陽」三字）陽虛者，足太陽經也，病苦肌肉振動，腳中筋急，耳聾，忽忽不聞，惡風，颼颼作聲（《病源》作「耳鳴忽然不聞，惡風」，無末四字）。</p>
<p>上膀胱虛寒。</p>
<p>右手尺中神門以後脈陰陽俱實者，足少陰與太陽經俱實也，病苦顛疾，頭重與目相引痛，厥欲起走（《千金》十九無「起」字），反眼，大風多汗。</p>
<p>上腎、膀胱俱實。</p>
<p>右手尺中神門以後，脈陰陽俱虛者，足少陰與太陽經俱虛也，病苦心痛。若下重，不自收篡反出，時時苦洞泄、寒中泄（「泄」字，據《千金》疑衍），腎與心俱痛（原注：一說云腎有左右，膀胱無二，今用當以左腎合膀胱，右腎合三焦○並《脈經》二）。</p>
<p>上腎、膀胱俱虛（此篇以浮為陽，候府，沉為陰，候藏。藏府各有虛實，與上篇同又增出俱虛俱實十二條，合前共三十六條）。</p>

<h2>三部決死生法十</h2>
<p>三部脈調而和者生。</p>
<p>三部脈廢者死（廢者，如春得夏脈之類，見五藏脈篇）。</p>
<p>三部脈或至或不至，冷氣在胃，故令脈不通（《千金》有此條，無上二條）。</p>
<p>三部脈虛，其人長病得之死（長病，即《內經》之久病）。虛而澀，長病亦死。虛而滑亦死。虛而緩亦死。虛而弦急，癲病亦死。</p>
<p>三部脈實而大（《千金》作「長」），長病得之死。實而滑，長病得之生，卒病得之死（卒，古通作猝。猝病，即《內經》之新病）。實而緩亦生，實而緊亦生（皆謂久病者），實而緊急，癲癇（《千金》作「癲病」）可治。</p>
<p>三部脈強，非稱其人，病便死。</p>
<p>三部脈羸，非稱其人，病得之死（稱字、病字，據《千金》及上條補。原注：人，一作「脈」。○二條即統括《內經》形氣與脈不相應者而為之詞）。</p>
<p>三部脈粗，長病得之死，卒病得之生。</p>
<p>三部脈細而軟，長病得之生，細而數亦生，微而緊亦生（柏校云：「生」，《千金》作「死」。案，與今本不同，今惟袁表校本作死字耳）。</p>
<p>三部脈大而數，長病得之生，卒病得之死（《千金》無此條）。</p>
<p>三部脈微而伏，長病得之死（不言卒病，疑脫）。</p>
<p>三部脈軟（輭，一作「濡」，古通用字），長病得之不治自愈，治之死（《千金》「死」上有「反」字），卒病得之生。</p>
<p>三部脈浮而結，長病得之死（《千金》無下文）。浮而滑，長病亦死（「長病」二字依上文，疑衍。或為「卒病」字誤）。浮而數，長病風得之生，卒病得之死。</p>
<p>三部脈芤，長病得之生，卒病得之死（《千金》無下句）。</p>
<p>三部脈弦而數，長病得之生，卒病得之死。</p>
<p>三部脈革，長病得之死，卒病得之生（「死生」二字，《千金》互易）。</p>
<p>三部脈堅而數，如銀釵股（謂其脈極堅，如銀釵股形），蟲毒病（《千金》無「病」字）必死。數而軟，蟲毒病得之生。</p>
<p>三部脈潎潎如羹上肥，長病得之死，卒病得之生。</p>
<p>三部脈連連如蜘蛛絲，長病得之死，卒病得之生。</p>
<p>三部脈如霹靂，長病得之死，三十日死（上「死」字疑衍。《千金》無末四字）。</p>
<p>三部脈如弓弦（《千金》作「如角弓」），長病得之死。</p>
<p>三部脈累累如貫珠，長病得之死（累，古通纍。二脈不言卒病，疑脫）。</p>
<p>三部脈如水淹然流，長病不治自愈，治之反死。一云如水流者，長病三十日死（居敬本作七十日）。如水不流，長病不治自愈（二十二字舊作註文。不言卒病，疑脫）。</p>
<p>三部脈如屋漏，長病十日死（《千金》云「十四日死」。引《脈經》作註文）。</p>
<p>三部脈如雀啄，長病七日死（二條卒病得之，當亦同歸於盡。但不知短期是否同也）。</p>
<p>三部脈如釜中湯沸，朝得暮死，夜半得日中死，日中得夜半死（死脈惟此最劇）。</p>
<p>三部脈急切，腹間病；及婉轉，腹痛，針上下差（「及」，居敬本作「又」。按「婉」，當作「腕上下」，謂腹與腕患處之上下也○並《脈經》四、《千金》二十八）。</p>

<h1>卷二</h1>

<h2>四時脈十一</h2>
<p>春肝木王，其脈弦細而長，名曰平脈也（下四條無「也」字。文不一律，今據《病源》五補），反得浮澀而短者（原注：《千金》十一「浮」字作「微」，案：與《病源》同，《翼方》又作「微浮而短澀」），是肺之乘肝，金之剋木，為賊邪（《病源》通無此類三字，下不復出），大逆，十死不治（原注：一本云「日月年數至三，忌庚辛」）。反得洪大而散者（原注：《千金》云「浮大而洪」。按，與《病源》同），是心之乘肝，子之扶母，為實邪（扶字《病源》、《千金》通作「乘」）。雖病自愈，反得沉濡而滑者（而，《病源》誤「滯」），是腎之乘肝，母之歸子，為虛邪，是病易治（《病源》作「當愈》）。反得大而緩者，是脾之乘肝，土之凌木（《病源》有「土之畏木」四字）為微邪，雖病即差（二字《病源》作「不死」）。</p>
<p>夏心火王，其脈洪大而散（《病源》作「浮洪」。原注：《千金》十三作「浮大而洪」。按今《千金》注云，散，一作「弦」），名曰平脈也。反得沉濡而滑者（「濡」，《千金》誤「滯」），是腎之乘心，水之剋火，為賊邪，大逆，十死不治（原注：一本云「日月年數至二，忌壬癸」）。反得大而緩者，是脾之乘心，子之扶母，為實邪，雖病自愈。反得弦細而長者（《病源》無「細」字），是肝之乘心，母之歸子，為虛邪，雖病易治。反得浮澀而短者（原注：《千金》「浮」作「微」。按，與《病源》同），是肺之乘心，金之凌火，為微邪，雖病即差（二字《病源》作「不死」）。</p>
<p>六月季夏建未（《千金》十五上有「也」字），坤未之間土之位，脾王之時（四句《病源》作「六月脾土王」五字），其脈大（脾脈名大，僅此處大字不誤，可寶貴也。漢隸大作夥，後人不識，誤改為代。夫代、死脈也，豈有胃氣者哉），阿阿而緩，名曰平脈也（《病源》有「長夏以胃氣為本」七字。○大不至數，阿阿，蓋舒緩貌）。反得弦細而長者（《病源》作「弦而急」。《千金》作「弦而長」），是肝之乘脾，木之剋土（「克」《病源》作「乘」），為賊邪，大逆，十死不治（原無注，疑脫）。反得浮而短者（原注：《千金》「浮」作「微」。按，與《病源》同），是肺之乘脾，子之扶母（「扶」《病源》作「克」。《千金》作「乘」）為實邪，雖病自愈（四字《病源》作「不治」）。反得洪大而散者（原注：《千金》作「浮大而洪」。按、與《病源》同。今《千金》無「大」字），是心之乘脾，母之歸子，為虛邪，雖病易治（《病源》作「當差不死」）。反得沉濡而滑者，是腎之乘脾，水之凌土，為微邪，雖病即差（四字《病源》作「當差」）。</p>
<p>秋金肺王，其脈浮（《千金》十七「浮」作「微」。與《病源》同）澀而短，名曰平脈也。反得洪大而散者（原注：《千金》作「浮大而洪」。按、與《病源》同），是心之乘肺，火之剋金，為賊邪，大逆，十死不治（原注：一本云，「日月年數至四，忌丙丁」）。反得沉濡而滑者，是腎之乘肺，子之扶母，為實邪，雖病自愈（四字《病源》作「不治」）。反得大而緩者（《病源》作「反得緩大而長阿阿者」），是脾之乘肺，母之歸子，為虛邪，雖病易治。反得弦細而長者（《病源》無「細」字），是肝之乘肺，木之凌金，為微邪，雖病即差。</p>
<p>冬腎水王，其脈沉濡而滑（「濡」，《病源》作「細」），名曰平脈也。反得大（《病源》作「浮大」）而緩者，是脾之乘腎，土之剋水，為賊邪，大逆，十死不治（原注：一本云，「日月年數至；忌戊己」）。反得弦細而長者，是肝之乘腎，子之扶母，為實邪，雖病自愈。反得浮澀而短者（原注：《千金》「浮」作「微」），是肺之乘腎，母之歸子，為虛邪，雖病易治（《病源》作「可治」）。反得洪大而散者（原注：《千金》作「浮大而洪」。按、與《病源》同），是心之乘腎，火之淩水，為微邪，雖病即差（四字，《病源》作「治之不死也」。○並《脈經》三、《病源》十五）。</p>
<p>上詳舉五藏脈有平、有賊邪、有實邪、有虛邪、有微邪五種不同（《千金》每條平脈後，通以虛實賊微為次）。</p>
<p>春三月木王，肝脈治（治、謂乘其王時修其德令），當先至，心脈次之（次之，謂至夏三月心脈治也。下疑脫脾脈次之四字），肺脈次之，腎脈次之，此為四時（《千金》無二字）王相順脈也（王相見後）。到六月土王，脾脈當先至，而反不至，反得腎脈，此為腎反脾也，七十日死。何謂腎反脾？夏火王，心脈當先至（當作季夏土王，脾脈當先至），肺脈次之，而反得腎脈，是謂腎反脾。期五月六月，忌丙丁。</p>
<p>脾反肝三十日死。何謂脾反肝？春肝脈當先至，而反不至，脾脈來至，是謂脾反肝也。期正月、二月，忌甲乙。</p>
<p>腎反肝三歲死。何謂腎反肝？春肝脈當先至，而反不至，腎脈先至，是謂腎反肝也。期七月、八月，忌庚辛。</p>
<p>腎反心二歲死。何謂腎反心？夏心脈當先至，而反不至，腎脈先至，是謂腎反心也。期六月，忌戊己（並《脈經》四、《千金》二十八）。</p>
<p>上五藏相反脈證（侮其所勝者二條，侮其所不勝，及母侵子者各一條，蓋使人類推。林氏謂其疏略，誤也）。</p>
<p>何以知（《千金》有「人」字）春得病無肝脈也，無心脈夏得病，無肺脈秋得病，無腎脈冬得病，無脾脈四季之月得病（《脈經》一）。</p>
<p>上以無五藏脈定五時得病。</p>
<p>假令肝病者，西行若食雞肉得之（西方雞肉俱屬金，金剋木故也。余類此），當以秋時發（據下條句首當有「不者」二字），得病以庚辛日也。家有血腥死（血字據《千金》十一補）。女子見之，以明要為災（有脫誤）。不者，若感金銀物得之（不，古通否。下同）。</p>
<p>假令脾病，東行若食雉兔肉及諸木果實得之，不者，當以春時發，得病以甲乙日也。</p>
<p>假令心病，北行若食豚魚得之（豚與魚俱屬水，非謂河豚也）。不者，當以冬時發，得病以壬癸日也。</p>
<p>假令肺病，南行若食馬肉及獐鹿肉（《千金》十七無「鹿」字）得之。不者，當以夏時發，得病以丙丁日也（《千金》有「宜赤藥」三字）。</p>
<p>假令腎病，中央（據上文當有「行」字）若食牛肉及諸土中物得之。不者，當以長夏時發，得病以戊己日也（《脈經》一）。</p>
<p>上以五方五畜五時十干定五臟病之所起。</p>
<p>假令得王脈，當於縣官家得之（王、古通旺。縣官家，郡縣中之旺地也）。</p>
<p>假令得相脈（相脈者，得其母氣之脈也，如肝相冬三月之類，詳後五臟脈新撰），當於嫁娶家得之，或相慶賀者得之。</p>
<p>假令得胎脈，當於產乳家得之。</p>
<p>假令得囚脈，當於囚徒家得之。</p>
<p>假令得休脈（疑脫）。其人素有宿病，不治（休者，蓋病後平復之脈。《爾雅·釋詁》：休、美也）。</p>
<p>假令得死脈，當於死傷家感傷得之（《脈經》一）。</p>
<p>上言居止某處，其脈亦因之而變。</p>
<p>何以知人露臥得病？陽中有陰也。</p>
<p>何以知人夏月得病？諸陽入陰也（《千金》二十八以此二條，並前段何以知人春得病五條另立一篇，名「何時得病」）。</p>
<p>何以知人食飲中毒？浮之無陽，微細之不可知也（有誤）。但有陰脈來疾去疾，此相為水氣之毒也（句有誤）。脈遲者食乾物得之（《脈經》一）。</p>
<p>上以脈之陰陽定露臥與夏月得病之所起。末條推及飲食中毒之脈。</p>

<h2>五藏脈十二</h2>
<p>肝（《千金》作「凡肝藏」。下逐條有此二字不復出）象木（原注：肝於五行象木），與膽為府（原注：膽為清淨之府），其經足厥陰與足少陽為表裡（原注：厥陰肝脈、少陽膽脈也，藏陰府陽，故為表裡）。其脈弦（原注：弦，肝脈之大形也），其相冬三月（原注：冬水王木相），王春三月，廢夏三月（原注：夏火王木廢），囚季夏六月（原注：季夏土王木囚），死秋三月（原注：秋金王木死）。其王日甲乙，王時平旦日出（原注：並木也）。其困日戊己，困時食時日跌（原注：並土也）。其死日庚辛，死時晡時日入（原注：並金也）。其神魂（原注：肝之所藏者魂），其主色，其養筋（原注：《月令》云，其臭膻），其液泣（原注：泣出肝），其味酸，其宜苦（原注：苦，火味也），其惡辛（原注：辛，金味）。肝輸在背第九椎，募在期門（原注：直兩乳下二肋端）；膽輸在背第十椎，募在日月（原注：穴在期門下五分）。</p>
<p>心象火，與小腸合為府（原注：小腸為受盛之府也），其經手少陰與手太陽為表裡（原注：手少陰心脈，手太陽小腸脈也）。其脈洪（原注：洪，心脈之大形），其相春三月（原注：木王火相），王夏三月，廢季夏六月，囚秋三月（原注：金王火囚），死冬三月（原注：水王火死）。其王日丙丁，王時禺中日中（日在巳曰禺中，謂巳午時也）。其困日庚辛，困時晡時日入。其死日壬癸，死時人定夜半。其藏神（原注：心之所藏者神也），其主臭，其養血（原注：心氣所養者血），其候舌，其聲言（原注：言由心出，故主言），其色赤，其臭焦，其液汗，其味苦，其宜甘（原注：甘，脾味也），其惡咸（原注：咸腎味也）。心輸在背第五椎（原注：或云第七椎。按，五椎是，七椎乃鬲輸也），募在巨闕（原注：在心下一寸），小腸輸在背第十八椎，募在關元（原注：臍下三寸）。</p>
<p>脾象土，與胃合為府（原注：胃為水穀之府），其經足太陰與足陽明為表裡（原注：太陰脾脈，陽明胃脈也）。其脈緩（原注：緩，脾之大形也），其相夏三月（原注：火王土相），王季夏六月，廢秋三月，囚冬三月，死春三月。其王日戊己，王時食時日跌。其困日壬癸（一脫「其」字），困時人定夜半。其死日甲乙，死時平旦日出（原注：並木時也）。其神意，其主味，其養肉，其候口，其聲歌，其色黃，其臭香，其液涎，其味甘，其宜辛，其惡酸。脾輸在背第十一椎，募在章門（原注：季肋端是），胃輸在背第十二椎，募在太倉（太倉即中脘任脈穴，在臍上四寸。原注缺）。</p>
<p>肺象金，與大腸合為府（原注：大腸為傳導之府也），其經手太陰與手陽明為表裡（原注：手太陰肺脈、手陽明大腸脈也）。其脈浮（原注：浮、肺脈之大形也），其相季夏六月（原注：季夏土王金相），其王秋三月，廢冬三月，囚春三月，死夏三月（原注：夏火王金死）。其王日庚辛，王時晡時日入。其困日甲乙，困時平旦出。其死日丙丁，死時禺中日中。其神魄，其主聲，其養皮毛，其候鼻，其聲哭，其色白，其臭腥，其液涕，其味辛，其宜咸，其惡苦。肺輸在背第三椎（注：或云第五椎也。按、三椎是，五椎乃心輸也），募在中府（原注：直兩乳上二肋間），大腸輸在背第十六椎，募在天樞（原注：夾臍各一寸半）。</p>
<p>腎象水，與膀胱合為府（原注：膀胱為津液之府），其經足少陰與足大陽為表裡（原注：足少陰腎脈、足大陽膀胱脈也）。其脈沉（原注：沉腎脈之大形也），其相秋三月（原注：秋金王水相），其王冬三月，廢春三月，囚夏三月，死季夏六月。其王日壬癸，王時人定夜半。其困日丙丁，困時禺中日中。其死日戊己，死時食時日昳。其神志，（原注：腎之所藏者志也），其主液，其養骨，其候耳，其聲呻，其色黑，其臭腐，其液唾，其味鹹，其宜酸，其惡甘。腎輸在背第十四椎，募在京門（京門在監骨下腰中，夾脊季肋下一寸八分。原注缺），膀胱輸在背第十九椎（一脫背字），募在中極（原注：橫骨上一寸，在臍下五寸前陷者中○《脈經》三）。</p>
<p>上新撰（題仍舊。原注云：並出《素問》諸經。昔人撰集或昆雜相涉，煩而難了。今鈔事要，分別五藏，各為一部。按《脈經》一書，均系鈔撮，惟此新撰為叔和自出機杼，類集而成，並自注之，則其為得意之作可知也。但既疵昔人撰集，何以全書復自蹈其弊？又如肝膽部，注既明，餘四條自可類推，而復或注或不注何也）。</p>

<h2>五藏脈（下）十三</h2>
<p>冬至之後得甲子，少陽起於夜半，肝家王（原注：冬至者，歲終之節，甲子日者，陰陽更始之數也，少陽膽也。膽者、木也、生於水，故起夜半。其氣常微少，故言少陽。云夜半子者，水也。按、《難經》徐注曰：自古曆元皆起冬至，其日必以甲子。然歲周三百六十五日四分日之一，則日有零餘，每歲遞差，至日不必皆當甲子。此乃指至日之當甲子者，言至立春後十五日曆一甲子，木氣始盛，故少陽王也。若至日不當甲子，則總以六十日為限。按徐說是也。甲子可統六十干支言，今俗說猶然）。肝者，東方木（原注：肝與膽為藏府，故王東方，應木行也）。萬物始生，其氣來軟而弱，寬而虛（軟，《內經》作濡。原注：春少陽氣溫和、軟弱，故萬物日生焉），故脈為弦（原注：肝氣養於筋，故其脈弦。弦亦以木為體也）。軟即不可發汗，弱即不可下。寬者開，開者通，通者利，故名曰寬而虛（原注：言少陽始起尚軟弱，人營衛腠理開通，發即汗出不止。不可下，下之而泄利不禁，故言寬虛。通、利也。按、詳註意，虛當作舒，聲誤）。春以胃氣為本，不可犯也（原注：胃者、土也，萬物稟土而生，胃亦養五臟，故肝王以胃氣為本也。不可犯者，不可傷之）。</p>
<p>心者，南方火（原注：心主血，其色赤，故以夏王於南方，應火行）。萬物洪盛，垂枝布葉，皆下垂如曲，故名曰鉤（原注：心王之時，太陽用事，故草木茂盛，枝葉布舒，皆下垂曲故謂之鉤也。按鉤當作絇，古字通作句，故致誤。《內經》曰：心脈來累累如連珠，正如履絇之謂。絇本形曲，然五脈皆以物形為名。絇自謂累累若絇，究不得謂其取象如簾之彎也。又此條文義兩截，以上似別出一書，以下似仲景平脈篇文，實不能相接續，以圈隔之）。心脈洪大而長（題下事），洪則胃氣實，實則氣無從出（原注：脈洪者胃氣實，實則腠理密，密則氣無從出）；大則營氣萌，萌洪相薄，可以發汗，故名曰長（原注：營者、血也。萌、當為明字之誤耳。血王故明，且大也。營明衛實，當鬚髮動，通其津液也。按萌、當作強，聲誤。薄、古通搏。洪、當作實，字誤。句為強實相薄也）。長洪相得，即引水漿，溉灌經絡，津液皮膚（原注：夏熱陽氣盛，故其人引水漿潤灌肌膚，以養皮毛，猶草木須雨澤以長枝葉。按，得，疑為搏字誤。引，猶求也。長洪之脈為熱，故求水漿以灌溉周身也。膚，換下韻）。太陽洪大，皆是母軀，幸得戊己，用牢根株（《千金》十三作根枝。原注：太陽夏火，春木為其母，陽得春始生，名曰少陽，到夏洪盛，名曰太陽，故言是母軀也。戊已，土也。土為火子，火王即土相，故用牢根株也。按、牢，猶固也，子助其母，故根株牢固。《漢書·師丹傳》集註：牢、堅也）。陽氣上出，汗見於頭，五月枯䓸（《千金》作五內乾枯），胞中空虛，醫反下之，此為重虛也（原注：月當為內，䓸當為干，枯燥也，皆字誤耳。內字似月，由來遠矣，遂以傳焉。人頭者、諸陽之會，時飲水漿，上出為汗，先從頭流於身軀，以實其表，是以五內乾燥，則胞中空虛，津液少也。胞者、膀胱之府也。愚醫不曉，故反下之，令重虛也。按、病本熱病，五月又為陽盛之時，故枯乾，以致胞中空虛。不破月字，亦得陽氣上出，故頭汗似謂齊頸而止也）。脈浮，有表無里，陽無所使（原注：陽盛脈浮，宜發其汗，而反下之，損於陰氣。陽為表，陰為里，經言陽為陰使，陰為陽守，相須而行。脈浮、故無里也，治之錯逆，故令陰陽離別，不能復相朝使），不但危身，並中其母（原注：言下之，不但傷心，並傷中肝）。</p>
<p>脾者，土也，敦而福。敦者、厚也，萬物眾色不同（原注：脾主水穀，其氣微弱，水穀不化。脾為土行，王於季夏，土性敦厚，育養萬物，當此之時，草木備具，枝葉茂盛，種類眾多，或青黃赤白黑，色各不同矣），故名曰得（「得」，《千金》十五上作「德」。均誤。據前四時脈篇六月季夏條，疑當作「大」，依余條故名曰長、故名曰毛例，則大乃脾之脈名，後人通以為代字，聲誤，遂不可通。弦鉤毛石，皆取物象為名，而皆以胃氣為本。大脈近於洪而不大，則為正藏之脈也）。福者、廣也（「也」字，據《千金》補。《禮記·祭》統福者、備也，廣亦有備義。原注：土生養萬物，當此之時，脾則同稟諸藏，故其德為廣大），萬物懸根住莖，其葉在顛（一誤「巔」。釋名釋宮室：柱、住也，然則住猶柱也，豎也），蜎蜚蠕動，蚑蠷喘息（八者蓋蟲類之別。《詩·豳風》，蜎蜎者蠋。蓋蟲行貌也。蜚，古通作飛。《說文》：蠕動也。蚑蚑，蟲行貌。《荀子·勸學》注：蠕，微動也。王褒《洞簫賦》：行喘息。成公綏《天地賦》：蚑行蠕動，方聚類分。「蠷」，當作「躍」，字誤。躍，亦蟲行之能躍者。喘息則統人獸言也），皆蒙土恩（原注：懸根住莖，草木之類也。其次則蠛蚋幾微之，蟲因陰陽氣變化而生者也。喘息，有血脈之類也，言普天之下草木昆蟲，無不被蒙土之恩福也。按註文「蠛」字，一作「蛾」）。德則為緩，恩則為遲，故令太陰緩而遲。尺寸不同（原注：太陰、脾也。言脾王之時脈緩而遲，尺寸不同者，尺遲而寸緩也），酸鹹苦辛，大涉而生（「大」，一作「土」，均誤，疑當作「相」字。謂各含土之甘味以生也。原注：「涉」，一作「沙」，一作「妙」），互行其時，而以各行，皆不群行，儘可常服（原注：肝酸腎咸，心苦肺辛，皆四藏之味也。脾主調和五味，以稟四藏。四藏受味於脾，脾王之時，其脈達於肌肉之中，互行人身軀，乃復各行，隨其四肢，使其氣周，匝營諸藏府，以養皮毛，皆不群行至一處也。故言儘可常服也）。土寒則溫，土熱則涼（原注：冬陽氣在下，土中溫暖，夏陰氣在下，土中清涼，脾氣亦然）。土有一子，名之曰金，懷挾抱之，不離其身。金乃畏火，恐熱來熏，遂棄其母，來歸（《千金》作「逃於」）水中。水自金子（自，《千金》作「為」），而藏火神，閉門塞戶，內外不通，此謂冬時也（原注：陽氣在中，陽為火行，金性畏火，故恐熏之，金歸水中而避火也，母子相得益盛。閉塞不通者，言水氣充實，金在水中，此為強固，火無復得往克之者，神密之類也）。土亡其子（「亡」、《千金》作「失」），其氣衰微，水為洋溢，浸漬為池（「為池」，《千金》作「其地」），走擊皮膚，面目浮腫，歸於四肢（原注：此為脾之衰損，土以防水。今土弱而水強，故水得凌之而妄行）。愚醫見水，直往下之，虛脾空胃，水遂居之，肺為喘浮（原注：脾胃已病，宜扶養其氣，通利水道。愚醫不曉而往下之，此為重傷水氣，遂更凌之上侵胸中，肺得水而浮，故言喘浮）。肝反畏肺，故下沉沒（原注：肺金肝木，此為相剋，肺浮則實，必復克肝，故畏之沉沒於下），下有荊棘，恐傷其身，避在一邊，以為水流（原注：荊棘、木之類。肝為木，今沒在下，則為荊棘。其身、脾也，脾為土，土畏木，是以避在下一邊，避木也。水流者、水之流路也。土本剋水，而今微弱又復觸木，無複製水，故水得流行）。心衰則伏，肝微則沉，故令脈伏而沉（原注：心火肝木，火則畏水，而木畏金，金水相得，其氣則實，克於肝心，故令二藏衰微，脈為沉伏也），工醫來占（《千金》作「上醫遠占」），因轉孔穴，利其溲便，遂通水道，甘液下流，亭其陰陽（《千金》「亭」字作「停」），喘息則微，汗出正流（「正」，當作「止」）。肝著其根，心氣因起，陽行四肢，肺氣亭亭，喘息則安（原注：轉孔穴者，諸藏之營衛轉治使順。甘液、脾之津液。亭其陰陽，得復其常所，故營衛汗通，水氣消除，肝得還著其根株。肝心為母子，肝著則心氣得通，肺氣平調，故言。亭亭，端好之意也。案、工醫，醫之工者也。《史記·秦始皇》：紀決河亭水，正義亭平也。《漢書·張湯傳》集註：亭、均也，調也。故注訓亭亭即平調之謂）。腎為安聲，其味為咸（原注：肺主聲，腎為其子，助於肺，故言安聲。咸、腎味也）倚坐母敗，洿臭如腥（《千金》洿作杇。○原注：金為水母，而歸水中，此為母往從子，脾氣反虛，五藏由此而相剋賊，倚倒致敗，則洿臭故云然也）。土得其子，則成為山；金得其母，名曰丘英（此條文義甚高，豈亦仲景逸文邪）。</p>
<p>肺者西方金（五字《千金》十七作「秋時」），萬物之所終（原注：金性剛，故王西方，割斷萬物，萬物是以皆終於秋也）。宿葉落柯，悽悽枝條，其（《千金》無「其」字）杌然獨在。其脈為微浮毛（《千金》無「毛」字○原注：悽悽者，零落之貌也，言草木宿葉得秋，隨風而落。但有枝條杌然獨在。此時陽氣則遲，脈為虛微如毛也）。衛氣遲，營氣數，數則在上，遲則在下，故名曰毛（原注：諸陽脈數，諸陰脈遲，營為陰不應數，反言營氣數，陰得秋節而升，轉在陽位，故一時數而在上也。此時陰始用事，陽即下藏。其氣反遲，是以肺脈數散如毛也）。陽當陷而不陷，陰當升而不升，為邪所中（原注：陰陽交易，則不以時定，二氣感激，故為風寒所中），陽中邪則卷（《病源》十一作「陽遇邪則蜷」），陰中邪則緊，卷則惡寒，緊則為慄，寒慄相薄（《千金》作「相搏」），故名曰瘧。弱則發熱（「則」，《病源》作「乃」），浮乃來出（原注：卷者，其人拘卷也。緊者、脈緊也。此謂初中風寒之時，脈緊、其人則寒，寒止而脈更微弱，弱則其人發熱，熱止則脈浮，浮者瘧解，王脈也。按、緊謂身體緊急，慄即惡寒之甚。末二句應隸下節也）。旦中旦發，莫中莫發（《病源》莫字作晚，言浮弱之脈，故發熱來出有如此之速。原注：言瘧發皆隨其初中風邪之時也）。藏有遠近，脈有遲疾，周有度數，行有漏刻（原注：藏，謂人五藏肝心脾肺腎也。心肺在膈上，呼則其氣出，是為近。呼為陽，其脈疾。腎肝在膈下，吸則其氣入，是為遠也。吸為陰，其脈遲。度數，謂經脈之長短周身行者，營衛之行也。行陰陽各二十五度為一周也，以應漏下百刻也）。遲在上傷毛採，數在下傷下焦，中焦有惡，則見有善則匿（原注：秋則陽氣遲，陰氣數，遲當在下，數當在上，隨節變［疑有脫文］，故言傷毛採也。人之皮毛，肺氣所行。下焦在臍下，陰之所治也，其脈應遲，今反數，故言傷下焦。中焦、脾也，其平善之時脈常自不見，衰乃見耳，故云有惡則見也。按、採，古通作彩。皮毛傷則無彩色也）。陽氣下陷，陰氣自溫（《千金》作「則溫」。原注：言陽氣下陷溫養諸藏），陽反在下，陰反在顛，故名曰長而且留（原注：陰陽交代，各順時節，人血脈和平，言可長留竟一時）。</p>
<p>腎者北方水（《千金》十九作「冬時」），萬物之所藏（原注：冬則北方用事、王在三時之後，腎在四藏之下，故王北方也。萬物春生夏長，秋收冬藏），百蟲伏蟄（原注：冬伏蟄不食之蟲，言有百種也）。陽氣下陷，陰氣上升。陽氣中出，陰氣烈為霜（「烈」，《千金》作「冽」），遂不上升，化為雪霜（二字《千金》誤乙），猛獸伏蟄，蜾蟲匿藏（原注：陽氣下陷者，謂降於土中也，其氣猶越而升出。陰氣在上，寒盛，陽氣雖升而出，不能自致，因而化作霜雪。或謂陽氣中出，是十月則霜降。猛獸伏蟄者，蓋謂龍蛇冬時而潛處，蜾蟲無毛甲者得寒皆伏蟄，逐陽氣所在如此，避冰霜自溫養也）。其脈為沉，沉為陰，在裡，不可發汗，發則（二字《千金》作「發之者如」四字是也，與下文句法一律）蜾蟲出，見其雪霜（原注陽氣在下故冬脈沉，溫養於藏府，此為裡實而表虛，復從外發其汗，此為逆治，非其法也。猶百蟲伏蟄之時而反出土見於冰霜，必死不疑。逆治者死，此之謂也）。陰氣在表，陽氣在藏（《千金》作在「里」），慎不可下，下之者傷脾。脾土弱即水氣妄行（原注：陽氣在下溫養諸藏，故不可也，下之既損干陽氣，而脾胃復傷，土以防水，而今反傷之，故令水得盈溢而妄行也），下之者（《千金》無三字）如魚出水，蛾入湯（原注：言治病逆則殺人，如魚出水、蛾入湯火之中，即死）。重客在裡，慎不可熏，熏之逆客，其息則喘（原注：重客者，猶陽氣也。重者、尊重之貌也。陽位尊處於上，今一時在下，非其常所，故言客也。熏，謂燒針及以湯火之輩熏發其汗，如此則客熱從外入，與陽氣相薄，是為逆也。氣上熏胸中，故令喘息）。無持客熱，令口爛創（原注：無持者，無以湯火發熏其汗也，熏之則火氣入里為客熱，故令其口生創）。陰脈且解，血散不通，正陽遂厥，陰不往從（原注：血行脈中，氣行脈外，五十周而復會，如環之無端也。血為陰，氣為陽，相須而行，發其汗使陰陽離別，脈為解散，血不得通。厥者，逆也，謂陽氣逆而不復相朝使。治病失所，故陰陽錯逆，可不慎耶）。客熱狂入，內為結胸（原注：陰陽錯亂，外熱狂入，留結胸中也），脾氣遂弱，清溲利通（原注：脾主水穀，其氣微弱，水穀不化，下利不息。清者廁也，溲從水道出而反清溲者，是謂下利至廁也。按：清即圊假字○並《脈經》三）。</p>
<p>上四時經（題仍舊，四條文法岐出，疑採自兩書，叔和但羼集之，題上事曰四時經，非別有一書也）</p>

<h2>五藏脈證生死十四</h2>
<p>肝脈沉之而急，浮之亦然，苦脅下痛（「苦」，原作「若」，據《千金》十一正。《千金》無「下」字），有氣支滿，引少腹而痛（《千金》無「而」字），時小便難，苦目眩頭痛，腰背（《千金》「背」字作「脊」）痛，足為逆寒（《千金》無「逆」字），時癃，女人月信不來（《千金》作「月事」），時無時有。得之少時有所墜墮（《千金》二字乙轉）。</p>
<p>心脈沉之小而緊，浮之不喘，苦心下聚氣而痛，食不下，喜嚥唾，時手足熱，煩滿時忘，不樂，喜太息。得之憂思。</p>
<p>脾脈沉之而濡（《病源》三十七沉字疊，「濡」字作「喘」），浮之而虛，苦腹張煩滿，胃中有熱，不嗜食，食而不化（《病源》無「而」字），大便難，四肢苦痹，時不仁。得之房內，月使不來（《病源》作「月事」），來而頻並（《病源》無「頻」字。使、當作信）。</p>
<p>肺脈沉之而數，浮之而喘（喘脈見《內經》。袁校云：當作濡。誤），苦洗洗寒熱，腹滿，腸中熱，小便赤，肩背痛，從腰以上汗出。得之房內，汗出當風。</p>
<p>腎脈沉之大而堅，浮之大而緊（二句《千金》十九：「大而」二字均乙轉），苦手足骨腫，厥而陰不興，腰脊痛，少腹腫，心下有水氣，時脹閉，時泄。得之浴水中身未乾而合房內，及勞倦發之（《脈經》六）。</p>
<p>上以五藏脈一浮一沉辨其主病。</p>
<p>脈來浮大者，此為肺脈也。脈來沉滑堅如石（「堅」字依袁校本補，泰定本空一字，居敬本不空），腎脈也。脈來如弓弦，肝脈也。脈來疾去遲，心脈也。△脈來見而不見為病，病有淺深，但當知如何受邪（《脈經》一）。</p>
<p>上言四藏脈象之常，末言以不見常脈為病。</p>
<p>肺脈之來也，如循榆葉曰平，如風吹毛曰病，狀如連珠者死，期丙丁日禺中日中（禺中，謂日在巳也）。</p>
<p>心脈之來也，如反筍莞大曰平，如連珠曰病，前曲後居如帶鉤者死，期壬癸日人定夜半（居通倨。鉤疑是句，古通為蜎字）。</p>
<p>肝脈之來也，搏而弱曰平，如張新弓弦曰病，如雞踐地者死，期庚辛日晡時日入。</p>
<p>脾脈之來也，阿阿如緩曰平，來如雞舉足曰病，如鳥之啄、如水之漏者死，期甲乙日平旦日出。</p>
<p>腎脈之來也，微細以長曰平，來如彈石曰病，去如解索者死，期戊己日食時日昳，黃昏雞鳴（《脈經》十）。</p>
<p>上五藏平脈、病脈及死之日與時。</p>
<p>肝脈來濯濯如倚竿，如琴瑟之弦，再至曰平，三至曰離經病，四至曰脫精，五至曰死，六至曰命盡，足厥陰脈也。</p>
<p>心脈來累累如貫珠滑利，再至曰平，三至曰離經病，四至曰脫精，五至曰死，六至曰命盡，手少陰脈也。</p>
<p>脾脈萇萇而弱（「萇」，《千金》十五上、《病源》十五俱作「長」。疑上「萇」字為「來」之誤），來疏去數（「數」《千金》作「概」。注：一作「數」）。再至曰平，三至曰離經病，四至曰脫精，五至曰死，六至曰命盡，足太陰脈也。</p>
<p>肺脈來汛汛（《病源》十五「汛」上有「而」字。《千金》作「泛泛」），輕如微風吹鳥背毛，再至曰平，三至曰離經病，四至曰脫精，五至曰死，六至曰命盡，手太陰脈也。</p>
<p>腎脈（疑有來字）沉細而緊，再至曰平，三至曰離經病，四至脫精，五至死，六至命盡，足少陰脈也（脈經三）。</p>
<p>上五條首二句雜篡經言，形容五藏之脈，再至曰平五句見《難經》。《難經》統言，此必以五藏分載之，殊詞費。</p>

<h2>五藏病證治法十五</h2>
<p>肝病其色青，手足拘急，脅下苦滿，或時眩冒，其脈弦長，此為可治，宜服防風竹瀝湯、秦艽散。春當刺大敦，夏刺行間，冬刺曲泉，皆補之。季夏刺太衝，秋刺中郄，皆寫之。又當灸期門百壯，背第九椎、五椎五十壯。</p>
<p>心病其色赤，心痛短氣，手掌煩熱，或啼笑罵詈，悲思愁慮，面赤身熱，其脈實大而數，此為可治（《千金》十三下有「宜服」二字，注云：闕宜服者藥）。春當刺中衝，夏刺勞宮，季夏刺大陵，皆補之。秋刺間使，冬刺曲澤，皆寫之（原注：此是手厥陰心包絡經，《千金》註文作心主包絡）。又當灸巨闕五十壯，背第五椎百壯。</p>
<p>脾病其色黃，飲食不消，腹苦脹滿，體重節痛，大便不利，其脈微緩而長，此為可治，宜服平胃丸、寫脾丸、茱萸丸、附子湯。春當刺隱白，冬刺陰陵泉，皆寫之。夏刺大都，季夏刺公孫，秋刺商丘，皆補之。又當灸章門五十壯，背第十一椎百壯。</p>
<p>肺病其色白，身體但寒無熱（《千金》十七「但寒」二字乙轉），時時咳（《病源》十五上有「欲」字），其脈微遲為可治，宜服五味子大補肺湯、瀉肺散。春當刺少商，夏刺魚際，皆寫之。季夏刺太淵，秋刺經渠，冬刺尺澤，皆補之。又當灸膻中百壯，背（《千金》無「背」字）第三椎二十五壯。</p>
<p>腎病其色黑，其氣虛弱，吸吸少氣（當作呼吸），兩耳苦聾，腰痛，時時失精，飲食減少，膝以下清，其脈沉滑而遲，此為可治，宜服內補散、建中湯、腎氣丸、地黃煎。春當刺湧泉，秋刺伏留（即伏溜），冬刺陰谷，皆補之。夏刺然谷，季夏刺太谿，皆寫之。又當灸京門五十壯，背第十四椎百壯（以上並《脈經》）。</p>

<h2>五藏脈證相反十六</h2>
<p>肝病胸滿脅脹，善恚怒叫呼，身體有熱，而復惡寒，四肢不舉，面目白（《千金》十一無「目」字），身體滑，其脈當弦長而急（「急」，俗本誤作「脈」），今反短澀，其色當青而反白者，此是金之剋木，為逆，十死不治。</p>
<p>心病煩悶少氣，大熱，熱上蕩心（「蕩」，《千金》十三作「湯」，通用字），嘔吐咳逆，狂語，汗（「汗」，《千金》作「脫」）出如珠，身體厥冷，其脈當浮，今反沉濡而滑，其色當赤而反黑者（「反」，《千金》作「復」），此是水之剋火，為大逆，十死不治。</p>
<p>脾病其色黃（據前後條，三字疑衍），體青失溲，直視，唇反張，爪甲青，飲食吐逆，體重節痛，四肢不舉，其脈當浮大而緩，今反弦急，其色當黃而反青者，此是木之剋土，為大逆，十死不治。</p>
<p>肺病身當有熱，咳嗽短氣，唾出膿血，其脈當短澀，今反浮大，其色當白而反赤者，此是火之剋金，為大逆，十死不治。</p>
<p>腎病手足逆冷，面赤目黃（《病源》十四無此八字），小便不禁，骨節煩疼，少腹結痛，氣衝於心，其脈當沉細而滑（《病源》作「其脈當沉澀」），今反浮大，其色當黑而反黃者，此是土之剋水，為大逆，十死不治（並《脈經》六與十七難，義相出入）。</p>

<h2>藏府氣絕證候十七</h2>
<p>據《千金》二十八，通篇出扁鵲，以《脈經》未標出，姑錄之。</p>
<p>病人肝絕八日死，一曰二日死（五字原作註文，今改，下不復出）。何以知之？面青但欲伏眠，目視而不見人，汗出如水不止（原注：「汗」一作「泣」）。</p>
<p>病人膽絕七日死。何以知之？眉為之傾。</p>
<p>病人筋絕九日死，一曰八日死。何以知之？手足爪甲青，呼罵不休。</p>
<p>病人心絕一日死，一曰目亭亭二日死。何以知之？肩息回視，立死。</p>
<p>病人小腸絕（《千金》無「小」字。注云：一云小腸）六日死。何以知之？髮直如干麻，不得屈伸，自汗不止。</p>
<p>病人脾絕十二日死，一曰五日死。何以知之？口冷足腫，腹熱臚脹，泄利不覺，出無時度。</p>
<p>病人胃絕五日死，一曰腓腸平九日死。何以知之？脊痛腰中重，不可反覆。</p>
<p>病人肉絕六日死，一曰足腫九日死。何以知之？耳干舌皆腫（「皆」，疑為「唇」。《千金》無「皆」字），溺血，大便赤泄。</p>
<p>病人肺絕三日死。何以知之？口張，但氣出而不還。一曰鼻口虛張，短氣。</p>
<p>病人大腸絕不治。何以知之？泄利無度，利絕則死。</p>
<p>病人腎絕四日死，一曰人中平七日死。何以知之？齒為暴枯，面為正黑，目中黃色，腰中欲折，自汗出如流水。</p>
<p>病人骨絕，齒黃落，十日死。</p>
<p>諸浮脈無根者皆死（《脈經》四。《千金》下有「已上五藏六府為根也」九字，疑孫真人註文。已，古通以。孫以藏府病證類敘於前，故曰以上五藏六府為根也）。</p>
<p>上五藏五府（六腑中無三焦）三主（筋肉骨也。五主中無皮毛）氣絕死期，皆以證言，惟末一條以脈言。</p>

<h2>五藏雜論十八</h2>
<p>肝主胸中喘，怒罵，其脈沉，胸中必窒，欲令人推按之，有熱鼻窒（疑有脫誤。舊附下條據宋本析出）。</p>
<p>凡有所墜墮，惡血留內，若有所大怒，氣上而不下，積於左脅下則傷肝（舊附下條）。</p>
<p>肝傷者其人脫肉，又臥（「又」，疑為「久」字，形誤），口欲得張，時時手足青，目瞑，瞳人痛，此為肝藏所致也（藏下當脫傷字，據心傷者一條，知此為仲景逸文）。</p>
<p>愁憂思慮則傷心，心傷則苦驚，喜忘善怒（舊附下條）。</p>
<p>心傷者其人勞倦一條，出仲景，不錄。</p>
<p>形寒寒飲則傷肺，以其兩寒相感，中外皆傷，故氣逆而上行（舊附下條）。</p>
<p>肺傷者，其人勞倦則咳唾血，其脈細緊浮數皆吐血，此為躁擾，嗔怒得之（躁，舊誤操），肺傷氣壅所致也（此亦當是仲景逸文）。</p>
<p>凡有所用力舉重，若入房過度，汗出如浴水則傷腎。</p>
<p>凡有所擊僕，若醉飽入房，汗出當風則傷脾（舊附下條，此類盡本《內經》）。</p>
<p>脾傷則中氣陰陽離別，陽不從陰，故以三分候死生（此條七卷末重出，作脾傷即中風，陰陽氣離別，陰不從陽，故以三分候其死生）。</p>
<p>脾氣弱，病利下白，脾垢大便堅，不能更衣，汗出不止，名曰脾氣弱，或五液注下青黃赤白黑（並出《脈經》六）。</p>
<p>上五藏受傷證候。</p>
<p>肺乘肝即為癰腫，心乘肝必吐利（《千金》十一：二句乙轉）。</p>
<p>腎乘心必癃。</p>
<p>肝乘肺必作虛滿（宋本及《千金》十七無「滿」字。○並出《脈經》六，脾腎門失引）。</p>
<p>上五藏相乘證候。</p>
<p>病人鼻下平者胃病也，微赤者病發癰，微黑者有熱，青者有寒，白者不治，黑者胃先病。○微燥而渴者可治，不渴者不可治，臍反出者，此為脾先落（原注：一云：「先終」。○《脈經》六）。</p>
<p>上胃病相鼻下法並及可治與不治證，末節言脾先落則臍出。</p>
<p>胃中有癖，食冷物者，痛不能食，食熱則能食（此條疑仲景逸文。《千金》十五上作「冷物即病，不能食，有熱物即欲食」。○《脈經》六）。</p>
<p>上以能食不能食，分胃中宿食之冷熱。</p>

<h2>奇經病候十九（據李時珍《奇經考》改）</h2>
<p>診得陽維脈浮者，暫起目眩；陽盛實者，苦肩息，洒洒如寒。</p>
<p>診得陽維脈沉大而實者，苦胸中痛，脅下支滿，心痛（支，《明堂孔穴針灸治要》作榰，古通用）。○診得陰維（四字當衍）如貫珠者，男子兩脅下實，腰中痛，女子陰中痛，如有創狀（舊另條，今並）。</p>
<p>診得帶脈左右繞臍腹，腰脊痛沖陰股也。</p>
<p>兩手脈浮之俱有陽，沉之俱有陰，陰陽皆實盛者（《奇經考》無「實」字），此為沖督之脈也。沖督之脈者（《奇經考》：「者」字作「為」）十二經之道路也。沖督用事，則十二經不復朝於寸口，其人皆苦恍惚，狂癡（奇經考皆苦二字作「若」。無下十字）。不者，必當由豫有兩心也（不、否，由，猶，並古通用字。由豫、狐疑也，如有兩心然，故曰兩心也。易豫，猶豫，疑也。《顏氏家訓》書證，猶、獸名也，既聞人聲，乃豫緣木如此上下，故稱猶豫）。</p>
<p>兩手陽脈浮而細微（《病源》二無「陽」字。「而」字作「之」），綿綿不可知（句），俱有陰脈，亦復細微綿綿（《病源》無「復、微」二字，復一誤「腹」）此為陰蹺陽蹺之脈也。此家曾有病鬼魅（《病源》作「痱風」）風死，苦恍惚，亡人為禍也（十七字袁校云衍。一本無。按《病源》引亦同。且下條與此文義不接，蓋叔和本採自兩書，不得削去而以下條充之也）。</p>
<p>診得陽蹺病拘急，陰蹺病緩（上條統言，此析言）。</p>
<p>尺寸俱浮，直上（《病源》五無二字）直下，此為督脈，腰背強痛（《病源》無下文），不得俯仰，大人癲病，小兒風癇疾。</p>
<p>脈來中央浮，直上下動者（「動」，一誤作「痛」），督脈也，動苦腰背膝寒，大人癲，小兒癇也，宜灸頂上三丸（此條與上條義同文異，亦叔和來自兩書類集之者，故序次紊亂，詳略互殊也。一下有「正當頂上」四字）。</p>
<p>尺寸脈俱牢（原注：一作「芤」），直上直下，此為衝脈（《奇經考》「為」字作「乃」），胸中有寒疝也。脈來中央堅實，徑至關者，衝脈也，動苦少腹病（《奇經考》作「痛」。與宋本同），上搶心，有瘕疝，絕孕（《奇經考》「絕孕」上有「女子」二字），遺溺（「遺下」舊有「失」字。宋本作「矢」，屎借字也。據《瀕湖脈學》引削），脅支滿煩也。</p>
<p>橫寸口邊丸丸，此為任脈。苦腹中有氣，如指（句）搶心，不得俯仰拘急。</p>
<p>脈來（《奇經考》引作寸口脈）緊細實長至關者，任脈也，動苦少腹繞臍下，引橫骨陰中切痛，取臍下三寸（謂關元穴○《奇經考》同。又一條作繞臍痛，男子七疝，女子瘕聚。○並《脈經》二）。</p>
<p>上奇經八脈見於寸口之形狀與其主病。</p>
<p>陰蹺脈急，當從內踝以上急，外踝以上緩。○陽蹺脈急，當從外踝以上急，內踝以上緩。</p>
<p>癲癇瘛瘲，不知所苦，兩蹺之下，男陽女陰（二條據《奇經考》引《脈經》補）。</p>
<p>上言兩蹺當於足踝辨其緩急及男女不同。</p>

<h2>病熱脈候二十</h2>
<p>熱病陰陽交者死。</p>
<p>熱病煩已而汗，脈當靜。</p>
<p>太陽病，脈反躁盛者，是陰陽交，死；復得汗，脈靜者生（此條補入仲景）。</p>
<p>熱病陰陽交者，熱煩身躁，太陰寸口脈兩沖尚躁盛，是陰陽交，死。得汗脈靜者生。</p>
<p>熱病陽進陰退，頭獨汗出，死。○陰進陽退，腰以下至足汗出亦死。○陰陽俱進，汗出已，熱如故亦死。○陰陽俱退，汗出已，寒慄不止，鼻口氣冷亦死。</p>
<p>上熱病陰陽交部（題仍舊）。</p>
<p>熱病，所謂並陰者，熱病已得汗，因得泄，是謂並陰，故治（原注：「治」，一作「活」）。</p>
<p>熱病所謂並陽者，熱病已得汗，脈尚躁盛，大熱，汗之雖不汗出，若衄，是謂並陽，故治。</p>
<p>上熱病並陰陽部（題仍舊）。</p>
<p>熱病在腎，令人渴，口乾舌焦黃赤，晝夜欲飲不止，腹大而脹，尚不厭飲，目無精光，死不治。</p>
<p>吐舌下卷者死，唾如膠者難解。舌頭四邊徐有津液，此為欲解。</p>
<p>病者至經，上唇有色，脈自和，為欲解。色急者，未解（此二條舊上連「結胸證，具而躁者死」。漏載熱病證候）。</p>
<p>上熱病死生部（舊題陰陽竭盡部）。</p>
<p>熱病所謂陽附陰者，腰以下至足熱，陰氣下爭，還心腹滿者死。所謂陰附陰者，腰以上至頭熱，以下寒，陽氣上爭，還得汗者生。</p>
<p>上陰陽相附部（仍舊）。</p>
<p>熱病三四日脈不喘，其動均者，身雖煩熱，今自得汗，生。傳曰：始府入藏，終陰復還陽，故得汗。</p>
<p>熱病七八日，脈不喘，其動均者生。微熱在陽，不入陰，今自汗也。</p>
<p>熱病七八日，脈不喘，動數均者，病當喑，期三日不得汗，四日死。</p>
<p>熱病身面盡黃而腫，心熱口乾，舌卷焦黃黑，身麻臭，伏毒傷肺中脾者死。</p>
<p>熱病瘛瘲，狂言不得汗，瘛瘲不已，伏毒傷肝，中膽者死。</p>
<p>熱病汗不出，出不至足，嘔膽吐血，善驚不得臥，伏毒在肝府（府，真本作肺）足少陽者死。</p>
<p>上熱病生死期日（仍舊篇名）。</p>
<p>熱病腹滿䐜張，身熱者，不得大小便，脈澀小疾，一逆見，死。</p>
<p>熱病腸鳴腹滿，四肢清，泄注，脈浮大而洪不已，二逆見，死。</p>
<p>熱病大衄不止，腹中痛，脈浮大絕，喘而短氣，三逆見，死。</p>
<p>熱病嘔且便血，奪形肉，身熱甚，脈絕動疾，四逆見，死。</p>
<p>熱病咳喘悸眩，身熱脈小疾，奪形肉，五逆見，死。</p>
<p>熱病腹大而脹，四肢清，奪形肉，短氣，六逆見，一旬內死。</p>
<p>熱病腹脹便血，脈大，時時小絕，汗出而喘，口乾舌焦，視不見人，七逆見，一旬死。</p>
<p>熱病身熱甚，脈轉小、咳而便血，目眶陷，妄言，手循衣縫，口乾，躁擾不得臥，八逆見，一時死。</p>
<p>熱病瘛瘲，狂走不能食，腹滿，胸痛引腰臍背，嘔血，九逆見，一時死。</p>
<p>熱病嘔血，喘咳煩滿，身黃，其腹鼓張，泄不止，脈絕，十逆見，一時死。</p>
<p>上熱病十逆死證（仍舊篇名）。</p>
<p>熱病肺氣絕，喘逆，咳唾血，手足腹腫，面黃振慄，不能言語，死。魄與皮毛俱去，故肺先死，丙日篤，丁日死。</p>
<p>熱病脾氣絕，頭痛嘔宿汁，不得食，嘔逆吐血，水漿不得入，狂言譫語，腹大滿，四肢不收，意不樂，死。脈與肉氣俱去，故脾先死，甲日篤，乙日死。</p>
<p>熱病心主氣絕，煩滿骨痛（原注：「痛」，一作「瘛」），嗌腫不可咽，欲咳不能咳，歌哭而笑，死。神與營脈俱去，故心先死，壬日篤，癸日死。</p>
<p>熱病肝氣絕，僵仆，足不安地，嘔血，恐懼，灑淅惡寒，血妄出，遺矢溺，死（矢，古通屎）。魂與筋血俱去，故肝先死，庚日篤，辛日死。</p>
<p>熱病腎氣絕，喘悸吐逆，踵疽尻癰，目視不明，骨痛短氣，喘滿汗出如珠，死。精與骨髓俱去，故腎先死，戊日篤，己日死。</p>
<p>外見瞳子青，小爪甲枯，發墮身澀，齒挺而垢，人皮面厚塵黑，咳而吐血，渴欲數飲，腹大滿，此五藏絕，表病也。</p>
<p>上熱病五藏氣絕死期（題仍舊篇名）。</p>
<p>熱病脈四至，三日死。脈四至者，平人一至，病人脈四至也。</p>
<p>熱病脈五至，一日死。時一大至，半日死。忽悶亂者死。</p>
<p>熱病脈六至，半日死。忽急疾大至，有頃死。</p>
<p>熱病脈四損，三日死。所謂四損者，平人四至，病人脈一至，名曰四損。</p>
<p>熱病脈五損，一日死。所謂五損者，平人五至，病人脈一至，名曰五損。</p>
<p>熱病脈六損，一時死。所謂六損者，平人六至，病人脈一至，名曰六損。若絕不至，或久乃至，立死（通篇出《脈經》七）。</p>
<p>上熱病損至脈死期（「至」，當作「亟」，形誤。題仍舊，舊以損至分二篇）。</p>

<h2>五積脈候二十一</h2>
<p>診得肺積脈浮而毛，按之辟易，脅下氣（《千金》十七：「氣」字作「時時痛」三字）逆，背相引痛，少氣善忘，目瞑（《千金》有「結癰」二字）皮膚寒，秋差夏劇，主皮中時痛，如蟲緣之狀，甚者如針刺（《病源》、《千金》均有「之狀」二字），時癢，其色白。</p>
<p>診得心積，脈沉而芤（《病源·伏梁候》下有「時」字），上下無常處，病胸滿悸（《病源》無「胸滿」二字，伏梁候下無「悸」字），腹中熱，面赤嗌乾（《病源》、《千金》十三均作「咽乾」），心煩（《病源》無「心」字。一條又有），掌中熱甚即唾血，主（《千金》無「主」字）身瘛瘲，主血厥，夏差冬劇，其色赤（《病源·伏梁候》下有「唾膿血者死」五字）。</p>
<p>診得脾積，脈浮大而長，飢則減，飽則見䐜起，與谷爭，減心下（《病源》無三字），累累如桃李，起見於外，腹滿，嘔泄腸鳴，四肢重，足（足上《病源》有「手」字）脛腫厥，不能臥起（《病源》、《千金》十五上「起」字均作「是」），主肌肉損，其色黃。</p>
<p>診得肝積，脈弦而細，兩脅下痛，邪（《千金》十一有「氣」字）走心下，足腫（《病源》、《千金》「腫」均作「脛」）寒，脅痛引少腹，男子積疝，女子瘕淋（《病源》作「病淋」），身無膏澤，喜轉筋，爪甲枯黑，春差秋劇，其色青。</p>
<p>診得腎積，脈沉而急，苦脊與腰相引痛（《病源》無「痛」字），飢則見，飽則減（《病源》有「病腰痛」三字），少腹裡急，口乾，咽腫傷爛，目䀮䀮，骨中寒，主髓厥善忘，其色黑（《脈經》八、《病源》十九）。</p>

<h2>百病死生脈法二十二</h2>
<p>診傷寒熱盛，脈浮大者生，沉小者死。</p>
<p>傷寒已得汗，脈沉小者生，浮大者死。</p>
<p>溫病三四日以下得汗，脈大疾者生，脈細小難得者，死不治（難得，謂細小之至，難尋覓也。《病源》十卷溫病下同，七卷並下條屬傷寒，作「脈盛大者生，細小者死」）。</p>
<p>溫病（《病源》七作「診人」）穰穰大熱（《千金》「穰穰」作「時行」。注云：《脈經》「時行」作「欀欀」，從木），其脈細者死。溫病下利，腹中痛甚者，死不治。</p>
<p>溫病汗不出，出不至足者死（《千金》另行）。○厥逆汗出，脈堅強急者生，虛緩者死。</p>
<p>溫病（《病源》七作：「凡病人」。《千金》作「熱病」）二三日，身體熱，腹滿（《病源》作「身軀熱，脈疾」），頭痛，食飲如故，脈直而疾者（《病源》無「而疾」二字。《千金》「疾」字作「絕」）八日死。○四五日頭痛，腹滿而吐（四字《病源》作「脈疾喜吐」。《千金》作「腹痛」），脈來細強（《病源》無「強」字），十二日死。八九日頭不疼（《病源》作「脈不疾」），身不痛，目不赤，色不變而反利，脈來牒牒，按之不彈手（《病源》「手」下有「指」字），時大，心下堅，十七日死。</p>
<p>熱病七八日，脈不軟不散者（原注：一作「不喘不數」。按、與《病源》九同），當喑。喑後三日，溫（《病源》無「溫」字）汗不出者死（《病源》此節置下條後）。</p>
<p>熱病七八日，其（據前後文及《千金》，知「其」字衍）脈數細，小便不利，加暴口燥，脈代，舌焦乾黑者死（《千金》「干」字作「枯」。《病源》九作「脈微小，口乾脈代，舌焦黑者死」）。</p>
<p>熱病未得汗，脈盛躁疾，得汗者生，不得汗者難差（《病源》無此條）。</p>
<p>熱病已得汗（《病源》九無五字，下文置下節後），脈靜安者生，脈躁者難治。</p>
<p>熱病已得汗，常大熱不去者亦死（原注：「大」，一作「專」。《病源》九無「大」字）。</p>
<p>熱病已得汗，熱未去，脈微躁者，慎不得刺治（《千金》有「也」字）。</p>
<p>熱病發熱，熱甚者（《千金》只一「熱」字），其脈陰陽皆竭，慎勿刺。不汗出，必下利。</p>
<p>診人被風不仁，痿厥，其脈虛者生，緊急疾者死。（《病源》一作：「虛數者生」。緊字作「牢」。《千金》「緊」字作「堅」）。</p>
<p>診癲病，虛則可治，實則死。</p>
<p>癲疾（《千金》作「又云」）脈實堅者生（脈下《病源》二有「緊弦」二字），脈沉細小者死（《千金》合上條）。</p>
<p>癲疾脈搏大滑者，久久自巳，其脈沉小急實（《病源》二：「實」字作「疾」）不可治，小堅急亦不可療（「療」，《瘍源》作「治」，知唐人避諱改）。</p>
<p>診頭痛目痛，久視（原注：一作「卒視」）無所見者死。</p>
<p>診人心腹積聚，其脈堅強急者生，虛弱者死（《病源》十九「弱」下有「急」字）。○又（《病源》有「積聚之脈」四字）實強者生，沉者死。○其脈大，腹大脹，四肢逆冷，其人脈形長者死。</p>
<p>腹張滿，便血，脈大時絕極，下血（《千金》「下血」上有「及」字），脈小疾者死。</p>
<p>心腹痛（《病源》十六作「療痛」，《千金》「痛」字疊），不得息，脈細小遲者生（《千金》無「小」字。《病源》無「遲」字），堅大疾者死（堅大，《病源》乙轉）。</p>
<p>腸澼便血，身熱則死，寒則生。</p>
<p>腸澼下白沫，脈沉則生，浮則死。</p>
<p>腸澼下膿血，脈懸絕則死，滑大則生。</p>
<p>腸澼之屬，身熱脈不懸絕，滑大者生，懸澀者死（懸即弦也。《千金》作「弦」），以藏期之。</p>
<p>腸澼下膿血，脈沉小流連者生，數疾且大，有熱者死。</p>
<p>腸澼筋攣，其（《千金》無「其」字）脈小細，安靜者生，浮大緊者死。○洞泄食不化，不得留（據《千金》，知三字衍文），下膿血，脈微小遲者生（《千金》無「遲」字），緊急者死。</p>
<p>泄注脈緩，時小結者生，浮大數者死。</p>
<p>䘌蝕陰疘（「疘」當作「肛」，《千金》作「疰」），其脈虛小者生，緊急者死。</p>
<p>咳嗽，脈沉緊者死（《病源》十四，「緊」字作「堅」），浮直者生，浮軟者生（《病源》「軟」字作「大」）。沉小（舊作「小沉」，依《病源》乙）伏匿者死（《病源》下二句與上二句乙轉）。</p>
<p>咳嗽羸瘦，脈形堅大者死（《病源》十四作「咳且羸瘦，絡脈形大堅」）。</p>
<p>咳嗽（《病源》無「嗽」字）脫形，發熱，脈小堅急者死。○肌瘦，下脫形（原注：「下」一作「不」），熱不去者死。</p>
<p>咳而嘔（「而」，《病源》作「且」），腹脹且泄，其（《千金》無「其」字）脈弦急（《病源》十四「急」字作「弦」）欲絕者死。</p>
<p>吐血衄血，脈滑小弱者生，實大者死。</p>
<p>汗出若衄，其（《千金》無「其」字）脈小滑者生，大躁者死。</p>
<p>吐血（《千金》作「唾血」）脈緊強者死，滑者生。</p>
<p>吐血而咳，上氣，其脈數，有熱，不得臥者死（此本仲景）。</p>
<p>上氣脈數者死，謂其形損故也（本仲景。《千金》作「傷寒家，咳而上氣，脈數散者死，謂其人形損故也」）。</p>
<p>上氣，喘息低昂，其脈滑（《千金》無「其」字），手足溫者生；脈澀，四肢寒者死。</p>
<p>上氣，面浮腫，肩息，其脈大不可治，加利必死（原注：作「加利又甚」。此本仲景）。</p>
<p>上氣注液，其脈虛，寧寧伏匿者生，堅強者死。</p>
<p>寒氣上攻，脈實而順滑者生（《千金》作「滑則生」，與下文對）實而逆澀則死（順者，手足溫，逆者，手足寒。本《內經》虛實）。</p>
<p>痟癉（「痟」通作「消」）脈實大，病久可治，脈懸（懸，即弦也。《千金》作「弦」，無「脈」字）小堅急，病久不可治。</p>
<p>消渴脈數大者生，細小浮短者死（《病源》五無「短」字）。</p>
<p>消渴脈（三字《病源》作「又」，連上條）沉小者生，實堅大者死。</p>
<p>水病，脈洪大者可治，微細者不可治。</p>
<p>水病張閉，其脈浮大軟者生，沉細虛小者死。</p>
<p>水病，腹大如鼓，脈實者生，虛者死。</p>
<p>卒中惡，吐血數升，脈浮大疾快者生，沉細數者死（二句依《千金》乙轉，與前後文法一律）。</p>
<p>卒中惡，腹大，四肢滿，脈大而緩者生，緊大而浮者死（《千金》作「浮緊者死」），緊細而微者亦生（詳此「生」字當作「死」）。</p>
<p>病創腰脊強急，瘛瘲者，皆不可治。</p>
<p>寒熱瘛瘲，其脈代絕者死。</p>
<p>金創血出太多，其脈虛細者生，數實大者死。</p>
<p>金創出血，脈沉小者生，浮大者死。</p>
<p>斫創出血一二石，脈來大，二十日死。</p>
<p>斫刺俱有病多少（有脫誤），血出不自止，斷者，其脈止（「脈」，袁校本作「血」），脈來大者，七日死，滑細者生（四字《千金》無）。</p>
<p>從高頓僕，內有血，腹張滿，其脈堅強者生，小弱者死。</p>
<p>人為百藥所中傷，脈浮澀而疾者生（《千金》作「洪大而速者生」。注云：「速」、《脈經》作「遲」），微細者死（四字當在末句之下），洪大而遲者生（六字《千金》無。○並出《脈經》四、《千金》二十八）。</p>
<p>上五十九條以病為綱著其脈之生死，雜篡《內經》及仲景之說，又有不知所本者（傷寒溫　熱　痿厥　癲　頭目痛　積聚　下血　心腹痛　腸澼　泄注　咳嗽　吐衄　上氣　寒氣上攻　癉　消渴　水　中惡　創　瘛瘲　金創　僕傷　中藥）。</p>
<p>人病甚而脈不調者難差。</p>
<p>人病甚而脈洪者易差（久病脈洪，世皆以為熱，不知其為欲愈之脈）。</p>
<p>人陰陽俱結者，見其上齒如熟小豆，其脈躁者死（據《千金》補。原注：「結」一作「竭」）。</p>
<p>人內外俱虛，身體冷而汗出，微嘔而煩擾，手足厥逆，體不得安靜者死（《千金》無兩「而」字）。</p>
<p>脈實滿，手足寒，頭熱，春秋生，冬夏死。</p>
<p>老人脈微，陽羸陰強者生，脈焱大加息者死（《原注》：「加息」，一作「如急」）。○陰弱陽強，脈至而代，期月而死（「期」，舊誤「奇」，據《千金》正。○以上三條，俱形脈並論，上寒氣上攻條，當改置此間。《東都賦》：焱焱、炎炎）。</p>
<p>尺脈澀而堅，為血實氣虛也，其發病（《千金》無「發」字）腹痛逆滿，氣上行，此為婦人胞中絕傷，有惡血，久成結瘕，得病以冬時黍穄赤而死（蒼頡穄，大黍也。似黍而不黏，關西謂之糜）。</p>
<p>尺脈細而微者，血氣俱不足。細而來有力者，是穀氣不充（充，《千金》作「足」），病得節輒動（得，《千金》作「交」。《說文》：動作也，緊辭。虞注：動發也），棘葉生而死，此病秋時得之。</p>
<p>左手寸口脈偏動（謂右寸無脈動，非脈名也），乍大乍小不齊，從寸口至關至尺，三部之位處處動搖，各異不同，其人病（《千金》有「在」字）。仲夏得之此脈，桃華落而死（依上條當作「此病」。原注：「華」，一作「葉」）。</p>
<p>右手寸口脈偏沉伏（謂左寸浮），乍小乍大，朝來浮大，暮夜沉伏，浮大即太過，上出魚際，沉伏即下不至關中，往來無常，時時復來者，榆葉枯落而死（原注：「葉」，一作「莢」）。</p>
<p>右手尺部脈三十動一止，有頃更還。二十動一止，乍動乍疏，連連相因（四字《千金》無），不與息數相應，其人雖食谷猶不愈，繁草生而死（《說文》蘩，白蒿也。《爾雅·釋草》蘩之醜，秋為蒿）。</p>
<p>左手尺部脈四十動而一止，止而復來，來逆如循直木，如循張弓弦。絙絙然如兩人共引一索者，至立冬死（原注：《千金》作「至立春而死」。按：《說文》絙，緩也。○並《脈經》四、《千金》二十八）。</p>
<p>上十二條以脈為綱而著其死之時日。</p>

<h2>醫律二十三（題仍舊）</h2>
<p>傷寒有五，皆熱病之類也。其形相象，根本異源，同病異名，同脈異經。病雖俱傷於風，其人自有痼疾，則不得同法。其人素傷於風，因復傷於熱，風熱相搏，則發風溫，四肢不收，頭痛身熱，常汗出不解。治在少陰、厥陰，不可發汗。汗出譫語，獨語內煩，躁擾不得臥，善驚，目亂無精，治之復發其汗，如此者（《醫門法律》引作「如此死者」。下條同），醫殺之也（末二句與十二難同）。</p>
<p>傷寒、濕溫，其人常傷於濕，因而中暍，濕熱相薄（薄、搏，通用字），則發濕溫。病苦兩脛逆冷，腹滿叉胸（叉胸，叉手冒胸也），頭目痛苦，妄言，治在足太陰。不可發汗，汗出必不能言，耳聾不知痛所在，身青面色變，名曰重暍。如此者，醫殺之也（《脈經》七）。</p>
<p>上就熱病誤汗，正其名曰醫殺。</p>

<h2>平婦人脈二十四</h2>
<p>脈平而虛者，乳子法也（一）○（《病源》四十一無此條）。○經云陰搏陽別，謂之有子，此是血氣和調，陽施陰化也（二）。○診其手少陰脈動甚者，妊子也（「妊」，《病源》作「任」。古通）。少陰，心脈也，心主血脈（三）。又腎名胞門子戶，尺中腎脈也。尺中之脈按之不絕，法妊娠也（四字《病源》作「妊娠脈也」）（四）。左右三部脈（《病源》、《千金》均無「左右」二字）沉浮正等，按之無絕者（「絕」上《病源》有「斷」字），妊娠也（五）。○妊娠初時寸微小，呼吸五至（言寸脈數），至三月而尺數也（六）（言三月尺寸俱數。《千金》無至字）。○脈滑疾（疾即數），重以手按之散者（「散」上疑脫「不」字），胎已三月也（七）。○脈重手按之不散，但疾不滑者，五月也（八）（首法出仲景，二、三出《內經》。《內經》作「少陰動甚」，無「手」字，此以為心脈。第四又以為足少陰腎脈，余不知所出，殆匯萃諸家言為之○《脈經》九）。</p>
<p>上娠妊脈法。</p>
<p>婦人妊娠四月，欲知男女法，左疾為男，右疾為女，俱疾（《千金》作「左右俱疾」）為生二子（一）（以遲數分。《病源》無此條）。</p>
<p>又法，得太陰脈為男，得太陽脈為女，太陰脈沉，太陽脈浮（二）（以浮沉分）。</p>
<p>又法。左手沉實為男，右手浮大為女。左右手俱沉實，猥生二男；左右手俱浮大，猥生二女（三）　（以浮沉虛實分。猥，發聲詞。《病源》無「猥」字）。</p>
<p>又法，尺脈左偏大為男，右偏大為女，左右俱大產二子。大者，如實狀（四）（以大小分。《病源》無末五字）。</p>
<p>又法，左右尺（《病源》作「左右手尺脈」）俱浮為產二男，不爾則女作男生（《千金》作「不然」。《病源》、《千金》均無「則」字）。左右尺（三字《病源》、《千金》均無）俱沉為產二女，不爾則男作女生也（五）（同第二法，以浮沉分女作男、男作女。未詳）。</p>
<p>又法（《病源》無「法」字，依前後文補），左手尺中脈浮大者男，右手尺中脈沉細者女（六）（此條據《病源》補。《千金》此下又有「若來而斷絕者，月水不利」十字）。</p>
<p>又法，（《病源》作「欲知男女」四字）遣妊娠人（《病源》無三字）面南行，還復呼之，左回首者是男，右回首者是女也（七）（《病源》、《千金》均無也字）。</p>
<p>又法，看上圊時，夫從後（《病源》有「急」字）呼之，左回首是男，右回首是女也（八）（《病源》無也字。《千金》無此條。迴、回，通用字。並上條同以左右顧分）。</p>
<p>又法，婦人妊娠，其夫左乳房有核是男，右乳房有核是女也（九）（以夫之乳核分，蓋亦雜纂諸家言，而仲景法反見漏，後世所謂男腹如釜，女腹如箕，則又以妊腹形狀分。若僅以脈言，恐有時不準。○《脈經》九）。</p>
<p>上分男女法（九條。《病源》、《千金》或有或無，敘次不同）。</p>
<p>婦人懷妊離經（離經謂脈來洪急，異於平人。見《難經》），其脈浮，設腹痛引腰脊，為今欲生也（《千金》二作為「今出也」）。但離經者不病也。</p>
<p>又法，婦人慾生，其脈離經，半夜覺（《千金》作「夜半覺痛」），日中則生也（《脈經》九）。</p>
<p>上平將產脈法。</p>
<p>診婦人（三字《病源》三十七作「又」，置下條後）漏血下赤白，日下血數升，脈急疾者死，遲者生。</p>
<p>診婦人漏下赤白不止，脈小虛滑者生（《病源》有「脈」字），大緊實數者死。</p>
<p>診婦人新生乳子，脈沉小滑者生，實大堅弦急者死。</p>
<p>診婦人疝瘕積聚（《病源》三十八「積聚」二字作「其」），脈弦急者生，虛弱小者死。</p>
<p>診婦人新生乳子，因得熱病，其脈弦小，四肢溫者生，寒清者死。</p>
<p>診婦人生產，因中風傷寒熱病，喘鳴而肩息，脈實大浮緩者生，小急者死。</p>
<p>診婦人生產之後，寸口脈焱疾不調者死（焱，大。見前老人脈弱條。或云當作猋，形誤。《楚詞》雲中君注：猋，去疾貌），沉微附骨不絕者生。</p>
<p>金創在陰處，出血不絕，陰脈不能至陽者死，接陽而復出者生（《脈經》九）。</p>
<p>上婦人雜病生死脈法（八條）。</p>

<h2>平小兒脈二十五</h2>
<p>小兒脈呼吸八至者平，九至者傷，十至者困。</p>
<p>診小兒脈法多雀鬥（雀鬥，謂脈來急如雀之斗然也），要以三部脈為主（言一部不足憑），若緊為風癇，沉者乳不消，弦急者客忤氣。</p>
<p>小兒是其日數應變蒸之時，身熱脈亂，汗不出，不欲食，食輒吐觀者（《說文》哯，不嘔而吐也。《廣韻》：小兒嘔乳也），脈亂（當從《病源》，作「脈和者」三字）無苦也（變蒸日數詳見《病源》。無苦，言不須治）。</p>
<p>小兒脈沉而數者，骨間有熱，欲以腹按，冷清也。</p>
<p>小兒病困，汗出如珠，著身不流者死。</p>
<p>小兒病而囟陷入，其口唇乾，目皮反，口中氣出冷，足與頭相抵，臥不舉身，手足四肢垂，其臥正直，如得縛，其掌中冷皆死，至十日不可復治之（《脈經》九）。</p>
<p>上小兒雜病生死脈法。</p>

<h1>卷末</h1>

<h2>王叔和《脈經》序</h2>
<p>脈理精微，其體難辨。弦緊浮芤，展轉相類。在心易了，指下難明。謂沉為伏，則方治永乖。以緩為遲，則危殆立至。況有數候俱見，異病同脈者乎？夫醫藥為用，性命所繫，和鵲至妙，猶或加思。仲景明審，亦候形證，一毫有疑，則考校以求驗。故傷寒有承氣之戒（叔和《傷寒例》云：桂枝下咽，陽盛以斃，承氣入胃，陰盛以亡。自謂其例耳。非仲景有此語），嘔噦發下焦之問（未詳所出，《傷寒雜病論》有上焦竭善噫，下焦竭即遺溺失便，殆因此誤記）。而遺文遠旨，代寡能用。舊經秘述，奧而不售，遂令末學昧於原本，互滋偏見，各逞己能，致微疴成膏肓之變，滯固絕振起之望（固，古通痼），良有以也（當云良可嘆也）。今撰集岐伯以來逮於華陀經論要訣，合為十卷（言上自岐伯，下至華陀之書，各撰集之，叔和未曾下一語也。今按其註明出處者，有《素問》、《針經》、扁鵲、華陀、張仲景，又有《脈法贊》、《醫律》二種，未知誰氏之書。其餘不注出者甚多，注而今亡者亦有，今各補輯之，以還原書。惟以不知所出者類為二卷，又有新撰及四時經者，疑叔和句集群書而題上事，撰此名目，非別有一書也。又更有不注出而書尚存者，若《難經》是），百病根源，各以類例，相從聲色證候，靡不該備。其王、阮、傅、戴、吳、葛、呂、張，所傳異同，咸悉載錄之（八人者，未詳其名，蓋謂自岐伯以及華陀之書，有此八人傳寫本不同。今注中有一曰、一云者即是，咸悉載錄其異同也）。誠能留心研窮，究其微賾，則可以比蹤古賢，代無夭橫矣（橫即傷寒病別名，見《千金方》四）。</p>

<h2>叔和事略</h2>
<p>後魏高湛《養生論》云：王叔和，高平人也。博好經方，洞識攝生之道。嘗謂人曰：食不欲雜，雜則或有所犯（《千金》三十六載高平王熙稱食不欲雜，與此正同。然則熙乃王叔和之名，今世通稱其字，其名則鮮有知者）。當時或無災患，積久為人作疾。尋常飲食，每令得所多飧，令人彭亨短氣，或致暴疾。夏至秋分，少食肥膩餅臛之屬，此物與酒食瓜果相妨。當時不必即病，入秋節變陽消陰長，寒氣總至，多至暴卒。良由涉夏取冷太過，飲食不節故也。而不達者，皆以病至之日，便謂是受病之始，而不知其所由來者漸矣，豈不惑哉（《御覽》七百二十《養生》）！</p>
<p>又曰：王叔和性沉靜，好著述。考覈遺文，採摭群論，撰成《脈經》十卷，編次張仲景方論為三十六卷（有誤），大行於世（《御覽》七百二十二醫二按：宋熙寧林億等校定《脈經》進呈。札子云：叔和，西晉高平人，性度沉靖，尤好著述，博通經方，精意診處，洞識修養之道。其行事具唐甘伯宗《名醫傳》中，高湛此論猶較在前也。孫星衍《續古文苑》前條採入，後條失收，蓋偶疏略。又按：皇甫謐《甲乙》序稱，近代太醫令王叔和，撰次仲景遺論甚精，甘露中吾病風百日方治，乃撰集三部，是叔和著書在甘露前。但甘露即太始元年，士安不書曲午年號，豈稱近代謂吳之太醫邪？而世通以叔和為晉人，蓋習讀億書故也。高湛論亦未明著時代也）。</p>
