<header data-type="book">
<h1>黃帝內經素問遺篇</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="0960/1279">公元960年至公元1279年</data></dd></div>
<div><dt>底本</dt><dd>《正統道藏·黃帝內經素問遺篇》，涵芬樓版（<a href="https://www.kanripo.org/ed/KR5d0043/HFL/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>卷之一</h1>

<h2>刺法論（上）</h2>
<p>黃帝問曰升降不前氣交有變即成暴郁余已知之如何預救生靈可得卻乎</p>
<p>卻之言去也何以去之</p>
<p>岐伯稽首再拜對曰昭乎哉問臣聞夫子言既明天元須窮法刺可以折郁扶運補弱全真瀉盛蠲余令除斯苦</p>
<p>夫子者祖師僦貸季折謂折伏也扶謂扶持也蠲除也斯此也令除此苦也</p>
<p>帝曰願卒聞之岐伯曰升之不前即有甚凶也木欲升而天柱窒抑之木欲發郁亦須待時</p>
<p>木發待間氣也至天作間氣之時作也欲發可刺之也</p>
<p>當刺足厥陰之井</p>
<p>足厥陰之井即大敦穴在足大指端去爪甲上如韭葉三毛之中乃足厥陰之所出也於平旦水下一刻時以手按穴得動脈下針可及三分留六呼如得氣急出之先刺左後刺右又可春分日吐之無此管也火欲升而天蓬窒抑之火欲發郁亦須待時火鬱待時至天作左間氣之時也其發也君火春分相火小滿即欲發之時也故君火相火同法即是二時而可預刺之也</p>
<p>君火相火同刺包絡之滎</p>
<p>心包絡之榮在手掌中滎宮穴也水下二刻以手按穴動脈應手刺可同身寸之三分留六呼得氣而急出之先左後右又法當春三泄汗也</p>
<p>土欲升而天衝窒抑之土欲發郁亦須待時土鬱待時至天作左間氣之時也土發郁日維辰維也多於二間維發之也可預刺之也</p>
<p>當刺足太陰之俞</p>
<p>足太陰之俞太白穴在足內側核骨下陷者中足太陰之所注也水下三刻刺可同身寸之二分留七呼氣至急出之先左後右</p>
<p>金欲升而天英窒抑之金欲發郁亦須待時金鬱待時至天作左間氣之日也夏至之後金欲發郁之時在火王后作可預刺也當刺手太陰之經</p>
<p>手太陰之經者經渠穴也在兩手寸口脈陷者中手太陰之所行也動脈應手於水下四刻刺可同身寸之三分留三呼氣至急出針先左後右</p>
<p>水欲升而天內窒抑之水欲發郁亦須待時水鬱待時至天作左間氣之時也發於辰維之後火得王之時水可作也可以預用針刺之也</p>
<p>當刺足少陰之合</p>
<p>足少陰之合陰谷穴也在膝內輔骨之後大筋之下小筋之上按之應手屈膝而得足少陰之所入也刺可同身寸之四分留三呼動氣應手可刺急出之先刺左後刺右</p>
<p>帝曰升之不前可以預備願聞其降可以先防</p>
<p>防護者也</p>
<p>岐伯曰既明其升必達其降也升降之道皆可先治也</p>
<p>亦可以升而先刺也</p>
<p>木欲降而地皛窒抑之降而不入抑之郁發散而可得位</p>
<p>三日不降八日降欲降而鬱先散而然後作地間氣者也</p>
<p>降而鬱發暴如天間之待時也降而不下郁可速矣</p>
<p>降之不下急速如天郁也便可刺之降可折其所勝也</p>
<p>折勝其標而虛其本也故折其勝也當刺手太陰之所出刺手陽明之所入手太陰之所出少商穴也在手大指之端內側去爪甲如韭葉手太陰之井也刺可同身寸之一分留二呼而急出之手陽明之所入曲池穴也在肘外輔屈肘兩骨之間陷中手陽明之合刺可同身寸之一寸五分留七呼動氣應手至而急出之</p>
<p>火欲降而地玄窒抑之降而不入抑之郁發散而可矣</p>
<p>二日不降七日降欲下而鬱散之速可刺之也</p>
<p>當折其所勝可散其鬱火鬱折水可以除之</p>
<p>當刺足少陰之所出刺足太陽之所入足少陰之出湧泉穴也在足心陷者中屈足卷指宛宛中足少陰之井刺可同身寸之三寸留三呼動氣至急出之先左後右足太陽之所入委中穴在膕中央約文中動脈應手足太陽之合也刺可同身寸之五分留七呼氣至而急出之先左後右二次同其法刺也</p>
<p>土欲降而地蒼窒抑之降而不下抑之郁發散而可入</p>
<p>五日不降十日降欲降而鬱散而可速刺之</p>
<p>當折其勝可散其鬱土鬱折水可除其苦</p>
<p>當刺足厥陰之所出刺足少陽之所入足厥陰之所出大敦穴也在足大指端去爪甲上如韭葉及三毛之中足厥陰井也刺可同身寸之三分留十呼動氣急出之足少陽之所入陽陵泉穴在膝下同身寸之一寸䯒骨外廉陷者中是足少陽之合刺可同身寸之六分留十呼動氣至急出之</p>
<p>金欲降而地彤窒抑之降而不下散抑之郁發散而可入</p>
<p>四日不降九日降欲下而鬱散可速刺也當折其勝可散其鬱</p>
<p>金鬱折火可以除之</p>
<p>當刺心包絡所出刺手少陽所入也</p>
<p>心包絡所出中衝穴也在中指之端去爪甲如韭葉是手心主之井刺可同身寸之一分留二呼動氣至急出之手少陽之所入天井穴也在肘外大骨之後肘後同身寸之一寸兩筋間陷者中屈肘得之手少陽合刺可同身寸之一寸留十呼動氣應手至而急出之</p>
<p>水欲降而地阜窒抑之降而不下抑之郁發散而可入</p>
<p>一日不降六日降欲下而鬱散先可刺之也</p>
<p>當折其土可散其鬱</p>
<p>折其所勝可以散之也</p>
<p>當刺足太陰之所出刺足陽明之所入</p>
<p>足太陰之所出隱白穴也在足大趾之端側去爪甲如韭葉足太陰之井刺可同身寸之一分留三呼得氣至乃出之足陽明之所入三里穴在膝下三寸䯒骨外廉兩筋間足陽明之所合刺可同身寸之五分留十呼得氣至而急出之</p>
<p>帝曰五運之至有前後與升降往來有所承抑之可得聞乎刺法岐伯曰當取其化源也是故大過取之不及資之大過取之次抑其鬱取其運之化源令折鬱氣不及扶資以扶運氣以避虛邪也</p>
<p>不及者當資其化源以補其所虧令不勝資取之法令出密語</p>

<h1>卷之二</h1>

<h2>刺法論（中）</h2>
<p>黃帝問曰升降之刺以知要願聞司天未得遷正使司化之失其常政即萬化之機其皆妄然與民為病可得先除欲濟群生願聞其說</p>
<p>明其遷正故可預防</p>
<p>岐伯稽首再拜曰悉乎哉問言其至理聖念慈憫欲濟群生臣乃盡陳斯道可申洞微申顯也洞深也微妙也言可盡顯深妙</p>
<p>太陽復布即厥陰不遷正</p>
<p>即天運不和順四序失合而作疫也不遷正氣塞於上當瀉足厥陰之所流氣舒而復塞之故瀉之當瀉足厥陰之所流行間穴也在足大趾之間動脈應手陷者中足厥陰之滎刺可同身寸之六分留七呼動氣至而急出之</p>
<p>厥陰復布少陰不遷正天失時令即氣令不正也</p>
<p>不遷正即氣塞於上熱欲化而風乃布外也</p>
<p>當刺心包絡脈之所流</p>
<p>心包絡脈之所流勞宮穴也在掌中央刺可同身寸之三分留六呼動氣至而急出也</p>
<p>少陰復布太陰不遷正子午天數有餘丑未不得中正也</p>
<p>不遷正即氣留於上雨欲化而熱布於天</p>
<p>當刺足太陰之所流足太陰之所流大都穴也在足大趾本節後陷者中足太陰脈之滎也刺可同身寸之三分留七呼動氣至而出之</p>
<p>太陰復布少陽不遷正丑未天數有餘寅申未得中正不遷正則氣塞未通</p>
<p>熱欲化而雨復布天</p>
<p>當刺手少陽之所流</p>
<p>手少陽之所流液門穴也在手小指次指間陷者中手少陽之滎也刺可同身寸之二分留三呼動氣至而急出也</p>
<p>少陽復布則陽明不遷正</p>
<p>寅申天數有餘卯酉未得司天不遷正則氣未通上</p>
<p>燥欲治天熱化復治</p>
<p>當刺手太陰之所流</p>
<p>手太陰之所流魚際穴也在手大指本節後內側散脈文中手太陰之滎也刺可同身寸之二分留三呼動氣至而急出之陽明覆布太陽不遷正</p>
<p>卯酉天數未終辰戌未得司正</p>
<p>不遷正則復塞其氣寒欲行天而燥復化當刺足少陰之所流</p>
<p>足少陰之所流然谷穴也在足內踝前起大骨下陷中足少陰之滎也刺可同身寸之三分留三呼動氣至而出之</p>
<p>帝曰遷正不前以通其要願聞不退欲折其餘無令過失可得明乎岐伯曰氣過有餘復作布正是名不過位也</p>
<p>即名布正再治天而不能退位</p>
<p>使地氣不得後化新司天未可遷正故復布化令如舊歲</p>
<p>新歲司天未得中司去歲司天仍舊治天是故氣過天令不常故與民作災之病也巳亥之歲天數有餘故厥陰不退位也</p>
<p>至子午之年猶尚治天</p>
<p>風行於上木化布天</p>
<p>雨濕之化不令風化至酷作災</p>
<p>當刺足厥陰之所入</p>
<p>足厥陰之所入曲泉穴也在膝內輔骨下大筋上小筋下後陷者中屈膝而得之足厥陰之合也刺可同身寸之六分留七呼動氣至急出其針也</p>
<p>子午之歲天數有餘故少陰不退位也至丑未之年猶尚治天</p>
<p>熱行於上火余化布天燥清之虧雨化不令熱化復行天令也</p>
<p>當刺手厥陰之所入</p>
<p>心包之所入曲澤穴也在肘內廉下陷者中屈肘而取之手厥陰之令也刺可同身寸之三分留七呼動氣至而急出之丑未之歲天數有餘故太陰不退位也</p>
<p>至寅申之年猶尚治天也</p>
<p>濕行於上雨化布天</p>
<p>寒化虧熱化不令濕化復布行天令當刺足太陰之所入</p>
<p>足太陰之所入太陰陵泉穴也在內側輔骨下陷者中足太陰之合刺可同身寸之五分留七呼動氣至而急出之也</p>
<p>寅申之歲天數有餘故少陽不退位也</p>
<p>至卯酉之年猶尚治天</p>
<p>熱行於上火化布天</p>
<p>燥清令虧熱化復治布行天令當刺手少陽之所入</p>
<p>手少陽之所入天井穴也在肘外大骨後肘後上一寸兩筋間陷中屈肘得之手少陽之合也刺可同身寸之三分動氣至而急出之也</p>
<p>卯酉之歲天數有餘故陽明不退位也至辰戌年猶尚治天也　行於上燥化布天風化虧而寒化不令清化復治布行天令當刺手太陰之所入手太陰之所入尺澤穴也在肘約文中動脈應手手太陰之所合也刺可同身寸之三寸留三呼動氣至而急出之辰戌之歲天數有餘故太陽不退位也至巳亥之年猶尚治天也</p>
<p>寒行於上凜水化布天</p>
<p>熱化令虧風化不令寒化復治布行天令</p>
<p>當刺足少陰之所入</p>
<p>足少陰之所入陰谷穴也在膝下內輔骨之後大筋之下外筋之上按之應手屈膝而得之足少陰之合刺可同身寸之四分動氣至而出之</p>
<p>故天地氣逆化成民病以法刺之預可平疴人氣通乎天地也氣交有變前後余退可天元刺其餘源始終可平也</p>
<p>黃帝問曰剛柔二干失守其位使天運之氣皆虛乎與民為病可得平乎天運如虛可以法刺可除之也</p>
<p>岐伯曰深乎哉問明其奧旨天地迭移三年化疫是謂根之可見必有逃門是謂根究天地之災必有遐危逃生之門戶</p>
<p>假令甲子剛柔失守</p>
<p>柔得其位上失其剛雖得交司數可未至甲子上未終司己卯下雖遷正是謂柔干孤虛其下也剛未正之己不得其甲即土運反虛而木乃勝</p>
<p>剛未正柔孤而有虧</p>
<p>甲不正於己也土運不令正失少陰不化是故天與皆虛而使邪化疫者也</p>
<p>時序不令即音律非從</p>
<p>司天猶布而中運有勝至矣甲未臨而已己至律無音而呂有聲即黃鐘大宮不應夾鍾少宮即應以表己卯下位孤主土運者也</p>
<p>如此三年變大疫也</p>
<p>甚則速首尾三年至</p>
<p>詳其微甚察其淺深</p>
<p>大虛而布政日久即深也深即甚矣運未正即勝至久即深甚也甚即深首尾二年至者也</p>
<p>欲至而可刺刺之則以明其刺法者即是布正而未遷正者可刺其即今之病也只言知者是以三年中有大疫至刺補其夭之之吉也即其細詳微甚知其所至之斯可先齊之者也</p>
<p>當先補腎俞</p>
<p>土疫至而腎虛者先補之腎俞在骨第十四椎下兩旁各同身寸之一寸五分未刺時先口銜針暖而用之用圓利針臨刺時咒曰五帝上真六甲玄靈氣符至陰百邪閉理念三遍自口中取針先刺二分留六呼次入針至三分動氣至而徐徐出針以手捫之令受針人嚥氣三次又可定神魂者</p>
<p>次三日可刺足太陰之所注</p>
<p>足太陰之所注大白穴也在內踝核骨下陷者中足太陰脈之所注也先以口銜針令溫欲下針時咒曰帝扶天形護命成靈誦之三遍乃刺三分留七呼動氣至而急出其針也</p>
<p>又有下位己卯不至而甲子孤立者次三年作土癘其法補瀉一如甲子同法也</p>
<p>即甲子甲戌甲申甲午甲辰甲寅並己丑己亥己酉己未己巳己卯凡甲己上下失守皆此一法而已</p>
<p>其刺以畢又不須夜行及遠行令七日潔清淨齋戒所有自來腎有久病者可以寅時面向南淨神不亂思閉氣不息七遍以引頸嚥氣順之如咽甚硬物如此七遍後餌舌下津令無數</p>
<p>仙家嚥氣可以深根固蒂以子受母氣也嚥下氣令腹中鳴至臍下子氣見母元氣故曰返本還元也久餌之令深根以養固蒂也故嚥氣津者此名天池之水可久餌之資精氣血盪滌五臟先溉元海一名離宮之水一名玉池一名神水不可唾之但可餌之以補精血可益元海也假令丙寅剛柔失守</p>
<p>柔得其位上失其剛也雖得其交歲而丙未遷正治天下辛巳獨治其泉上位丙失其剛乾故中水運不得運大過也反受土勝之</p>
<p>上剛乾失守下柔不可獨主之柔干在上猶言不及何況柔失剛者也中水運非大過不可執法而定之</p>
<p>不以諸丙年作其水大過也當推之天數</p>
<p>而知有虧也</p>
<p>布天有餘而失守上正</p>
<p>天雖主治之此即布正之化正司主歲未得正位也</p>
<p>天地不合即律呂音異</p>
<p>柔干至而呂有音應剛乾未遷而律管無聲即少羽鳴響而大羽也</p>
<p>如此即天運失序</p>
<p>雖有化而非常化也</p>
<p>後三年變疫</p>
<p>變有微甚故有遲速當推其天數之淺深也</p>
<p>詳其微甚差有大小</p>
<p>大差七分小差五分每一分一十五日大差速至小差徐徐而至之也</p>
<p>徐至即後三年至甚即首三年推數差速即知運遲</p>
<p>當先補心俞</p>
<p>心俞在背第五椎下兩旁各一寸半用圓利針於日中令溫暖次以手按穴得其氣動乃咒曰太始上清丹元守靈誦之三遍先想火光於穴下然後刺可同身寸之一寸半留七呼得氣至次進針三分以手彈之令氣至而下針得動氣至而徐徐出針次以手捫其穴令受針人閉氣三息而嚥氣也</p>
<p>次五日可刺腎之所入</p>
<p>腎之所入陰谷穴也在膝內輔骨之後大筋之下小筋之上按之應手屈膝而得之用圓利針令口中溫暖先以手按穴乃咒曰大微帝君五氣及真六辛都司符扶黑雲誦之一遍刺可入同身寸之四分得動氣至而急出之</p>
<p>又有下位地甲子辛巳柔不附剛亦名失守即地運皆虛後三年變水癘即刺法皆如此矣</p>
<p>即丙寅丙子丙戌丙申丙午丙辰辛丑辛亥辛酉辛未辛巳辛卯如此上下失守皆推大小差而刺之</p>
<p>其刺如畢慎其大喜欲情於中如不忌即其氣復散也令靜七日</p>
<p>七日後神氣實而水疫不傷心欲實令少思</p>
<p>思即傷神居當澄心而神守中即道自降而其氣復上人亂想勞神即陰中鬼王勞神即神役苦志心亂故夭人命實即神和志安心靜即中也</p>
<p>假令庚辰剛柔失守</p>
<p>乙得其位上失其庚即謂柔失其剛也雖得其歲即庚未得中位也乙得下位治其地上位庚失其剛乾故中金運不得大過反受火勝之也</p>
<p>上位失守下位無合</p>
<p>乙未在下主地孤立也上無剛乾正之天運虛</p>
<p>乙庚金運故非相招</p>
<p>上下相招陰陽相合也司天與運各得其化</p>
<p>布天未退中運勝來不以陽年元勝復支幹不合有上下相錯謂之失守</p>
<p>庚不與乙相對合也</p>
<p>姑洗林鐘商音不應也</p>
<p>失守即同聲不相應也姑洗上管庚辰太商不如應林鐘下管乙未少商獨應矣如此即天運化易</p>
<p>故四序非常也</p>
<p>三年變大疫</p>
<p>金疫又名殺疫</p>
<p>詳其天數差有微甚</p>
<p>大差七分即氣過一百五日即甚矣小差五分即氣過七十五日即微也</p>
<p>微即微三年至</p>
<p>微即徐也</p>
<p>甚即甚三年至</p>
<p>甚即速也</p>
<p>當先補肝俞</p>
<p>肝俞在背第九椎下兩旁各一寸半用圓利針以口溫暖先以手按穴得動氣欲下針而咒曰氣從始清帝符六丁左施蒼城右入黃庭誦之三過先想青氣於穴下然後刺之三分得氣而進針針入五分動氣至而徐徐出針以手捫其穴令受針人嚥氣</p>
<p>次三日可刺肺之所行</p>
<p>肺之所行經渠穴也在手寸口陷中手太陰經也用圓利針於口內溫令暖先以左手按穴而咒曰太始上真五符帝君元和氣合司入其神誦之三遍刺可同身寸之三分留二呼動氣至而出其針也</p>
<p>刺畢可靜神七日慎勿大怒怒必真氣卻散之又或在下地甲子乙未失守者即一柔干即上庚獨治之亦名失守者即　</p>
<p>孤主之三年變癘名曰金癘</p>
<p>亦名殺癘</p>
<p>其至待時也詳其地數之</p>
<p>差亦推其微甚可知遲速爾</p>
<p>速至共三年遲即後三年其至如金疫刺法同前也</p>
<p>諸位乙庚失守刺法同即天運各異金殺丁之災化民病也同刺而卻之也</p>
<p>肝欲平即勿怒</p>
<p>怒即陰生肝為陽神也陰生即陽夭夜臥念安其志勿誦惡語即陽神魂守中</p>
<p>假令壬午剛柔失守</p>
<p>下得其位上失其主即司天布正木運反虛也雖交歲而天未遷正中運勝即地見丁酉獨主其運故行燥勝天未勢化是名二虛者已</p>
<p>上壬未遷正下丁獨然即雖陽年虧及不同災亦然三日肝自病風化不令運失其壬未得其位天如布退可得遷正不假復而正角</p>
<p>上下失守相招其有期</p>
<p>推之天別又及幾分天如復位故得相招者也</p>
<p>差之微甚各有其數也</p>
<p>差七分計一百五日即大差之期也差五分即七十五日其下者又微也</p>
<p>律呂二角失而不和同音有日</p>
<p>上律蒫賓下呂南呂上大角不應下少角應故二角失而不和也後壬午遷正之日即上下角同聲相應</p>
<p>微甚如見三年大疫</p>
<p>微即至乙酉甚即至甲申甚速微徐也當刺脾之俞</p>
<p>脾之俞在背第十一椎下兩旁各一寸半動脈應手用圓利針令口中溫暖而刺之即咒曰五精智精六甲玄靈帝符元首大始受真誦之三遍先想黃氣於穴下然後刺之二分得氣至而次進之又得動氣次進之二進各一分留五呼即徐徐出針以手捫之令其人不息三遍而咽津也</p>
<p>次三日可刺肝之所出也</p>
<p>肝之所出大敦穴也在足大趾端去爪甲如韭葉及三毛之中足厥陰之井也用圓利針令口中溫暖而刺之即咒曰真</p>
<p>至玄大道冥然五神各位氣（缺）三田誦之然後可刺入同身寸之三分留十呼動氣至而出其針</p>
<p>刺畢靜神七日勿大醉歌樂其氣復散又勿飽食勿食生物歌樂者即脾神動而氣散也醉即性亂飽即食脹故慎忌之食生物即傷脾氣也欲令脾實氣無滯飽無久坐食無大酸無食一切生物宜甘宜淡</p>
<p>淡入胃也宜益府淡者土之薄味也而又次於甘者無閒坐無久臥故養脾也</p>
<p>又或地下甲子丁酉失守其位未得中司即氣不當位丁不與壬奉合者亦名失守非名合德故柔不附剛</p>
<p>天地二甲子上下不相招故陰陽有錯即中運失其歲合之常政也</p>
<p>即地運不合三年變癘</p>
<p>故名木癘又名風癘其至有即亦推其微甚其刺法一如木疫之法</p>
<p>即諸丁壬上下失守皆同一法刺之假令戊申剛柔失守戊與癸合也天地二甲子即戊申合癸亥也下位癸亥至地其主地正司也上下位戊申過丁未天數未退而復布天故失守戊癸不合也</p>
<p>戊癸雖火運陽年不太過也</p>
<p>戊未正司癸下獨治故非太過反受水勝之也</p>
<p>上失其剛柔　獨主其氣不正故有邪乾水運失守於上中下運有虧也故天虛而地猶主之中見火運水來犯之故曰邪干</p>
<p>迭移其位差有淺深</p>
<p>天數過差亦有多少卻得奉合合要在目數也</p>
<p>欲至將合音律先同</p>
<p>中火運徵也上下二律呂上窮太少二徵合音同</p>
<p>如此天運失時三年之中火疫至矣速至庚戌也徐徐至辛亥所作也</p>
<p>當刺肺之俞</p>
<p>肺俞在背第三椎下兩旁各一寸半動脈應手用圓利針令口中溫暖先以手按穴乃刺之咒曰真邪用搏氣灌元神帝符反本位合其親誦之三遍刺之二分候氣欲至想白氣於穴下次進一分得氣至而徐徐出其針以手捫之於其穴也然可立愈也</p>
<p>刺畢靜神七日勿大悲傷也悲傷即肺動而真氣復散也</p>
<p>凡喜怒悲樂恐皆不可過矣此五者皆可動天亂真神也故聖人忘緣滅動念可存神也故神能主形神在形全可以身安道常長存也</p>
<p>人慾實肺者要在息氣也</p>
<p>無大喘息慎勿多言語及呼吸多氣喘及言語多及飲冷形寒之食減多大忌悲傷</p>
<p>喜怒冷傷其肺神也</p>
<p>又或地下甲子癸亥失守者即柔失守位也即上失其剛也即亦名戊癸不相合德者也即運與地虛後三年變癘即名火癘與火疫同也即法刺一體即諸戊諸癸上下同一體</p>
<p>是故立地五年以明失守以濕法刺於是疫之與癘即是上下剛柔之名也窮歸一體也即刺疫法只有五法即總其諸位失守故只歸五行而統之也</p>
<p>此皆五疫癘歸天地不相和之氣化為疫癘大傷人之命也故達天元可通法刺復濟生民也</p>

<h1>卷之三</h1>

<h2>刺法論（下）</h2>
<p>黃帝曰余聞五疫之至皆相染易無問大小病狀相似施救療如何可得不相移易者其病相染著如何得不相染也</p>
<p>岐伯曰不相染者正氣存內邪不可干避其毒氣天牝從來復得其往</p>
<p>邪毒之氣在於泄汗反下取之其氣入於中毒氣至腦中流入諸經之中令人染病矣如人嚏得此氣入鼻至腦中欲令勿投鼻中令嚏之即出爾如此即不相染也</p>
<p>氣出於腦即不邪干</p>
<p>從鼻而入腦欲干復出即無相染也</p>
<p>氣出於腦即室先想心如日</p>
<p>即正氣存中而神守其本即邪疫之氣不犯之欲將入於疫室先想青氣自肝而出左行於東化作林木</p>
<p>如春柏之蒼翠次想白氣自肺而出右行於西化作戈甲如認劍之明白利刃</p>
<p>次想赤氣自心而出南行於上化作焰明如赫赫之炎燥次想黑氣自腎而出北行於下化作水如波浪之黑色</p>
<p>次想黃氣自脾而出存於中央化作土如大地之黃色</p>
<p>五氣護身之畢以想頭上如北斗之煌煌然後可入於疫室即正氣存中而邪疫不幹</p>
<p>又一法於春分之日日未出而吐之用遠志去心以水煎之飲二盞吐之不疫者也</p>
<p>又一法於雨水日後三浴以藥泄汗注汗出臭者無疫也</p>
<p>又一法小金丹方辰砂二兩水磨雄黃一兩葉子雌黃一兩紫金半兩粉作末令細之同入閤中外固了地一尺築地實不用爐不須藥制用火二十斤煅之也七日終常令火及二十斤</p>
<p>侯冷七日取次日出合子埋藥地中七日亦須吉地者佳也</p>
<p>取出順日研之三日煉白沙蜜為丸如梧桐子大每日望東吸日華氣一口冰水下一丸和氣咽之服十粒無疫干也黃帝問曰人虛即神遊失守位使鬼神外干是致夭亡何以全真願聞刺法岐伯稽首再拜曰昭乎哉問謂神移失守雖在其體然不致死或有邪干故令夭壽</p>
<p>邪未乾而不病邪欲干而有卒亡也</p>
<p>只如厥陰失守天以虛人氣肝虛感天重虛即魂遊於上</p>
<p>肝虛天虛又遇出汗於肝而三虛散神遊上位左無英君下即神光不聚而白屍鬼至令人卒亡者也</p>
<p>邪干　大氣身　猶可刺之</p>
<p>目中神彩有四肢雖冷心腹尚溫如口中無誕舌不卵縮者非感厥也即名屍厥故可救之復甦</p>
<p>刺其足少陽之所過</p>
<p>足少陽之所過丘墟穴也在足外踝下如前陷者中去臨泣同身寸之五寸足少陽之原也用毫針於人近體暖針至溫以左手按穴咒曰太上元君常居其左制之三魂誦之三遍次呼三魂名爽靈胎光幽精誦之三遍次想青龍於穴下刺之可以同身寸之三分留三呼可徐徐出針親令人按氣於口中腹中鳴者可治之</p>
<p>次刺肝之俞</p>
<p>在背第九椎下兩旁各一寸半用毫針著身溫之左手按穴咒曰太微帝君元英制魂真元及本令入青雲又呼三魂名如前三遍刺入同身寸之三分留三呼次進二分留三呼復取針至三分留一呼徐徐出即氣及而復活</p>
<p>人病心虛又遇君相二火司天失守感而三虛</p>
<p>又或汗出於心即致神魂逆於上入泥丸也</p>
<p>遇火不及黑屍鬼犯之令人暴亡</p>
<p>不出一時可救之四肢冷氣雖閉絕不變色舌如不卯者可救目中神彩不變者可刺之也</p>
<p>可刺手少陽之所過</p>
<p>手少陽之所過陽池穴也在手表腕　陷者中手少陽之原也用毫針人身溫暖以手按穴咒曰太一帝君泥丸總神丹無黑氣來復其真誦之三遍想赤鳳於穴下刺入二分留七呼次進一分留三呼復退留一呼徐徐手捫其穴即令復活也復刺心俞</p>
<p>在背第五椎下兩旁各一寸半用毫針著身溫暖以手按穴咒曰丹房守靈五帝上青陽和布體來復黃庭誦之三遍刺可同身寸之七分留一分次進一分留一呼退至二分留一呼徐徐而出針以手捫其穴也</p>
<p>人脾病又遇太陰司天失守感而三虛重虛而汗出於脾因而三虛智意二神遊於上位故曰失守</p>
<p>又遇土不及青屍鬼邪犯之於人令人暴亡不出一時可救之也四肢冷而身溫唇溫者可活之矣口中無誕即名屍厥</p>
<p>可刺足陽明之所過</p>
<p>足陽明之所過沖陽穴也在足跗上骨間動脈去陷谷三寸足陽明之原也用毫針著人身溫暖以手按穴咒曰常在魂庭始清太寧元和布氣六甲及真誦之三遍先想黃庭於穴下刺入三分留三呼次進二分留一呼徐徐退而以手捫之者也復刺脾之俞</p>
<p>在背第十一椎下兩旁各一寸半用毫針以手按之咒曰太始定位總統坤元黃庭真氣來復遊全誦之三遍刺之三分留二呼進至二分動氣至徐徐出針</p>
<p>人肺病遇陽明司天失守感而三虛</p>
<p>人虛天虛又汗出於肺因而三虛即魂遊於上故曰失守之也</p>
<p>又過金不及有赤屍鬼幹人令人暴亡</p>
<p>不出一時可救之雖無氣手足冷者心腹溫鼻微溫目中神彩不轉口中無涎舌卵不縮者皆可刺活也</p>
<p>可刺手陽明之所過</p>
<p>手陽明之所過合谷穴也在手大指次指間手陽明之原也用毫針著人體溫暖先以手按穴咒曰青氣真全帝符日元七魄歸右今複本田誦之三遍想白氣於穴下刺入三分留三呼次進針至五分留三呼復退一分留一呼徐徐出針以手捫其穴復活也</p>
<p>復刺肺俞</p>
<p>肺俞在背第三椎下兩旁各一寸半用毫針著體溫暖先以手按穴咒曰左元真人六合氣賓天符帝力來入其司誦之三遍針入一寸半留三呼次進二分留一呼徐徐出針以手捫其穴也</p>
<p>人腎病又遇太陽司天失守感而三虛人虛天虛又感出汗於腎感而三虛即腎神退遊於黃庭雖不離體神光不聚故失守也</p>
<p>又遇水運不及之年有黃屍鬼干犯人正氣吸人神魂致暴亡</p>
<p>氣絕四肢厥冷心腹微溫眼色不易唇口及舌不變口中無涎即可救也</p>
<p>可刺足太陽之所過足太陽之所過京骨穴也在足外側大骨下赤白肉際陷者中是足太陽之原也用毫針著人身溫暖以手按穴咒曰元陽育嬰五老及真泥丸玄華補精長存想黑氣於穴下刺入二分半留三呼乃進至三分留一呼徐徐出針以手捫其穴也</p>
<p>刺足少陽之俞</p>
<p>在背第十椎下兩旁各一寸半用毫針先以手按穴咒曰天玄日晶太和昆靈真元內守持入始青誦之三遍刺之三分留三呼次又進五分留三呼徐徐出針以手捫之</p>
<p>黃帝問曰十二藏之相使神失位使神彩之不圓恐邪干犯治之可刺願聞其要五神失守以明刺法又言十二神之妙用也</p>
<p>岐伯稽首再拜曰悉乎哉問至理道真宗此非聖帝焉究斯源是謂氣神合道契符上天人氣動合司天神氣相合由乎盛衰也心者君主之官神明出焉</p>
<p>任治於物故為君主之官故心從形有神托心斯存是故心者神之舍也即真心失守虛而神不守位即妄遊諸室五神不安而乃令虛也</p>
<p>可刺手少陰之源</p>
<p>手少陰之源者即是兌骨穴也此是真心之源在掌後兌骨之端陷者中一名中都用長針口中溫暖刺入三分留三呼進一分留一呼徐徐出針以手捫其穴復甦也肺者相傳之官治節出焉</p>
<p>位高為君故官為相傳主行榮衛故治節由之喘息而自然有多語失節飲冷形寒悲愴是以肺神不守位即虛也</p>
<p>可刺手太陰之源</p>
<p>肺之源出於太淵在掌後大筋一寸五分間陷者中手太陰之所過用長針以口中溫針以手按穴刺入同身寸之三分留三呼動氣至而徐徐出針以手捫穴</p>
<p>肝者將軍之官謀慮出焉</p>
<p>勇而能斷故曰將軍潛發未萌故曰謀慮出焉怒而氣上遇氣交不前因而神失守神光不聚可用前法刺之全神守者也</p>
<p>可刺足厥陰之源足厥陰之源太衝穴也在足大趾本節後二寸陷者中乃肝脈所過為源用長針便於口中先溫針以手按穴刺可入三分留三呼進二分留二呼徐徐出針以手捫之也</p>
<p>膽者中正之官訣斷出焉</p>
<p>剛正果訣故官為中正直而不疑故訣斷出焉交動而卒怒怒而不息氣上而不守位使人中正不利慾成膈噎神光不聚未有邪干先可以刺治之者也</p>
<p>可刺足少陽之源</p>
<p>足少陽之源丘墟穴也在足外踝下如前陷者中去臨泣穴五寸足少陽之所過也用長針於口內溫針先以左手按穴刺可同身寸之三分留三呼進至五分留二呼</p>
<p>徐徐出針以手捫之也</p>
<p>膻中者臣使之官喜樂出焉</p>
<p>膻中者在胸兩乳間為氣海手厥陰包絡之所居此作相火位故言臣使主其喜樂中及驚喜怒思恐即神失守位使人如失志恍恍然神光不聚邪來干之可用刺法治之正神和也</p>
<p>可刺心包絡所流</p>
<p>勞宮穴也在手掌中央動脈手心主之所流也用長針於口中溫先以左手按穴刺可同身寸之三分留二呼徐徐出針以手捫其穴也</p>
<p>脾為諫議之官知周出焉</p>
<p>心有所憶謂之意意中出焉謂之智智周萬事皆從意智也故知周出焉意有所著欲念生他想勞意不已智有所存神遊失守則神元不聚可預治之者也</p>
<p>可刺脾之源</p>
<p>脾之源在足內側核骨下陷者中是足太陰之所過為源用長針於口內溫針先以左手按穴刺可入三分留五呼進至三分留五呼即可徐徐而退針以手捫之</p>
<p>胃為倉廩之官五味出焉</p>
<p>包容五穀是謂倉廩之官勞養四旁故云五味出焉飲食飽甚汗出食飽房室即氣留滯注神遊失守邪干未至可以預治全真可刺胃之源胃之陽衝陽穴也在足跗上如同身寸之五分骨間動脈上去陷谷穴五寸是足陽明之所過用長針於口中溫針先以左手按穴刺可入三分留三呼進至二分徐徐出針以手捫其穴</p>
<p>大腸者傳道之官變化出焉</p>
<p>傳道為傳不潔之道變化謂變化物之形故云傳道之官變化出焉男子有反之過故失守位邪非干之以刺法治之即令反卻蘇也可刺大腸之源大腸之源合谷穴也在手大指次指曲骨間手陽明之所過也用長針口中溫針刺入二分留三分進至二分留一呼徐徐出之也</p>
<p>小腸者受盛之官化物出焉</p>
<p>承奉胃司受盛糟粕受元復化傳入大腸</p>
<p>故云受盛之官化物出焉受而有異非合不合神失守可刺全真者</p>
<p>可刺小腸之源</p>
<p>小腸之源腕骨穴也在手外側腕前起骨下陷者中手太陽之所過也用長針於口中溫針先以左手按穴刺可入三分留三呼進二分留一呼徐徐出針次以手捫其穴也</p>
<p>腎者作強之官伎巧出焉</p>
<p>強於作用故曰作強造化形容故曰伎巧在女則當伎巧在男正曰作強人強作過失動合於三元八正之日故神失守位也故預刺而可全真者也</p>
<p>刺其腎之源</p>
<p>腎之源出於太谿在足內踝下跟骨之前陷者中足少陰之所過為源用長針於口中溫針先以左手按穴刺入三分留一呼進一分留一呼徐徐出針以手捫其穴也三焦者決瀆之官水道出焉</p>
<p>引道陰陽開通閉塞故官司決瀆水道出焉決瀆者如四瀆入大海不離其水百川入海只江河淮濟入海不變其道故曰四瀆也三焦決瀆即精與水道不相合也故曰三焦者上中下上焦者主內而不出或非內而即內故不守中焦者主腐熟水穀或情動於中人或非動而動是謂孤動者神失守位下焦者主出而不內或當出而不出者故曰神失守位也</p>
<p>刺三焦之源</p>
<p>三焦之源陽池穴也在手表腕上陷者中手少陽脈之所過也用長針於口中溫針先以左手按穴刺可入三分留三呼進一分留一呼徐徐出針以手捫之也</p>
<p>膀胱者州都之官精液藏焉氣化則能出矣位當孤府故曰都官居下內空故藏精液若得氣海之氣施化則溲便注泄氣海之不足則閟隱不通故曰氣化則能出矣人若滯便而合氣注膀胱故精泄氣通水道不宣通故神失守位即可以刺法全真者方知此法大妙也</p>
<p>刺膀胱之源</p>
<p>膀胱之源京骨穴也在足外側大骨下赤白肉際陷者中足太陽之所過用長針於口中溫針先以左手按穴刺可入三分留三呼進二分留三呼徐徐而出針以手捫其穴也</p>
<p>凡此十二官者不得相失也</p>
<p>失則災害至故不得相失失之則神光不聚故有邪干犯之即害天命宜先刺以全真也</p>
<p>是故刺法有全神養真之旨亦法有修真之道非治疾也故要修養和神也</p>
<p>神為主養之宗故作先也</p>
<p>道貴常存補神固根精氣不散神守不分內三寶即神氣精一失其位三者皆傷三者同守故曰元和也</p>
<p>然即神守而雖不去亦全真</p>
<p>神如去即死矣然雖在其體身中而未去者亦非守位而全真也</p>
<p>人神不守非達至真</p>
<p>神不守即光明不足故要守真而聚神光而可以修真真勿令泄人為知道</p>
<p>至真之要在乎天玄</p>
<p>人在母腹先通天玄之息是謂玄牝名曰穀神之門一名神兠一名上部之地戶一名人中之岳一名胎息之門一名通天之要人能忘嗜欲定喜怒又所動隨天玄牝之息絕其想念如在母腹中之時命曰返天息而歸命回入寂滅反太初還元胎息之道者也</p>
<p>神守天息復入本元命曰歸宗</p>
<p>人有諸疾守位之神可入玄中之息而歸命之真全神之道可久覬也</p>

<h1>卷之四</h1>

<h2>本病論</h2>
<p>黃帝問曰天元九窒余已知之願聞氣交</p>
<p>何名失守</p>
<p>六氣升降上下交位以五臟配天地之常岐伯曰謂其上下升降遷正退位各有經論上下各有不前故名失守也</p>
<p>天元玉冊云六氣常有三氣在天三氣在地也即一氣昇天作左間氣一氣入地作右間氣一氣遷正作司天一氣遷正作在泉一氣退位作天左間氣一氣退位作地右間氣氣交有合常得位所在至當時即天地交乃變而方泰也天地不交乃作病也</p>
<p>是故氣交失易位氣交乃變變易非常即四時失序萬化不安變民病也</p>
<p>於是六氣有升不得其升者欲降而不得其降者有當遷正而不得遷正者自當其位而不得位故有如此之分則天地失其常故萬民不安也</p>
<p>帝曰升降不前願聞其故氣交有變何以明知</p>
<p>再問窮源用也</p>
<p>岐伯曰昭乎問哉明乎道矣氣交有變是謂天地機</p>
<p>本欲升上見天柱窒二火欲升上見天蓬窒土欲升上見天衝窒金欲升上見天英窒水欲升上見天內窒是故天窒所勝而不前者</p>
<p>但欲降而不得降者地窒刑之木欲降而地皛窒刑之火欲降而地玄窒刑之土欲降而地蒼窒刑之金欲降而地彤窒刑之水欲降而地阜窒刑之地九窒法天之象本勝之氣故不降也</p>
<p>又有五運太過而先天而至者即交不前運逢陽年於有司之至也至後交勝而不遇但欲升而不得其升中運抑之木欲升而中見金運勝之二火欲升而中見水運勝之土欲升而中見木運勝之金欲升而中見火運勝之水欲升而中見土運勝之者皆遇運太過早至其中而先於氣交而抑之不前者也</p>
<p>但欲降而不得其降中運抑之</p>
<p>然五運逢太過而先至其中故降而不下中運刑之抑之不前也</p>
<p>於是有升之不前降之不下者有降之不下升而至天者有升降俱不前作如此之分別即氣交之變變之有異常各各不同災有微甚者也</p>
<p>是故上下天地之升降交氣有天窒地窒之勝克中運抑伏淺深是故民病微甚異爾也</p>
<p>帝曰願聞氣交遇會勝抑之由變成民病輕重何如</p>
<p>欲明其變病本源之證也岐伯曰勝相會抑伏使然六氣升降乃經論之道也氣交之常也遇會之不常而相投之勝伏抑之成郁者也是故辰戌之歲木氣升之主逢天柱勝而不前</p>
<p>辰戌之歲太陽遷正作司天也即厥陰作地而作右間至此歲而昇天作左間也又遇司天深計筭位至天柱窒也木欲昇天柱金司天土勝之不前也</p>
<p>又遇庚戌金運先天中運勝之忽然不前庚年金運先天至次後十三日始交司天欲升而金運抑之也木運昇天金乃抑之</p>
<p>或上見天柱窒或中見金運也</p>
<p>升而不前即清生風少肅殺於春露霜復降草木乃萎民病溫疫早發咽嗌乃干四肢滿肢節皆痛久而化郁</p>
<p>至天得左間日乃發作也</p>
<p>即大風摧拉折隕鳴紊民病卒中遍痹手足不仁</p>
<p>青埃見時風疫乃作民反張肢體直強治之達三俞也</p>
<p>是故巳亥之歲君火昇天主窒天蓬勝之不前</p>
<p>君火以在地三年至巳亥之歲少陰昇天作左間也此可定之也天蓬水司水天元冊用除筭至坎宮除其數者即天蓬窒作主司故水窒勝也</p>
<p>又厥陰木遷正則少陰未得昇天水運以至其中者君火欲升而中水運抑之</p>
<p>即天蓬水司勝即或水運抑之升之不前即清寒復作冷生旦暮民病伏陽而內生煩熱心神驚悸寒熱間作日久成郁</p>
<p>二七日不降以為日久也</p>
<p>即暴熱乃至赤風腫翳化疫溫癘暖作</p>
<p>至天作左間日乃作也民病伏熱內煩痹而生厥甚則血溢也</p>
<p>赤氣瘴而化火疫皆煩而躁渴渴甚治之以泄之可止是故子午之歲太陰昇天主窒天衝勝之不前太陰在地二年畢一年乃昇天作少陰之左間也此即定矣其天衝窒至有法即不可前定之也如會天衝窒即土不可便升之也故曰升之不前也又或遇壬子木運先夭而至者中木遇抑之也</p>
<p>木升於大寒之日也木早至十三日上故升或遇此二木抑之者土遷抑甚而病深之也</p>
<p>昇天不前即風埃四起時舉埃昏雨濕不化民病風厥涎潮偏痹不隨脹滿久而伏郁</p>
<p>即十日不升者至以為日久也</p>
<p>即黃埃化疫也</p>
<p>間氣上郁之大疫也民病天亡臉肢府黃疸滿閉濕令弗布雨化乃微黃埃起而黃風化疫皆肢體痛而口苦者也</p>
<p>是故丑未之年少陽昇天主窒天蓬勝之不前</p>
<p>少陰在地三年畢至此歲昇天作太陰左間也此可前定之也天蓬失筭位取之法不定也或遇之者即水運之可升之於火故不可便升也又或遇太陰未遷正者即少陰未昇天也水運以至者</p>
<p>即昇天不前者有此二抑之者也</p>
<p>昇天不前即寒氛反布凜冽如冬水復涸水再結暄暖乍作冷復布之寒暄不時民病伏陽在內煩熱生中心神驚駭寒熱間爭以久成郁</p>
<p>二七不降以為日久也即暴熱乃生赤風氣瞳翳</p>
<p>至天得位之日乃作化成郁癘乃化作伏熱內煩痹而生厥甚則血溢</p>
<p>赤氣生而化大疫皆煩而大熱涼藥不可制於火之郁甚於君火故厥乃血溢也</p>
<p>是故寅申之年陽明昇天主窒天英勝之不前</p>
<p>陽明在地三年畢至此年昇天作少陽左間也即經論中乃定矣九窒隨天數不足金遇火窒之可勝之不可昇天</p>
<p>又或遇戊申戊寅火運先天而至</p>
<p>太過歲未交司運先至一十三日</p>
<p>金欲昇天火運抑之</p>
<p>此者遇一即不可升也或二者同會其抑大也</p>
<p>升之不前即時雨不降西風數舉鹹鹵燥生</p>
<p>地鹹鹵生白見硝而燥生也</p>
<p>民病上熱喘嗽血溢久而化郁</p>
<p>四九不升火為日久也</p>
<p>即白埃翳霧清生殺氣民病脅滿悲傷寒鼽嚏嗌乾手拆皮膚燥白埃起時殺疫火生民病皆燥而咽乾治可刺之也是故卯酉之年太陽昇天主窒天內勝之不前太陽在地三年畢此年昇天作陽明之左間也即經論定矣昇天即天內從之數法推之也水遇土窒之司勝之不可升之抑而復鮮</p>
<p>又遇陽明未遷正者即太陽未昇天也土運以至</p>
<p>己酉己卯</p>
<p>水欲昇天土運抑之或見天內窒土刑勝之或見土運抑之有一不勝也升之不前即濕而熱蒸寒生雨間民病注不食不及化久而成郁</p>
<p>十二日不降為日久也</p>
<p>冷來客熱冰雹卒至民病厥逆而噦熱生於內氣痹於外足脛痠疼反生心悸懊熱暴煩而復厥黑埃起至寒疫至皆煩而悸厥治之可溢也</p>
<p>黃帝曰升之不前余已盡知其旨願聞降之不下可得明乎再欲細明其道也</p>
<p>岐伯曰悉乎哉問是之謂天地微旨可以盡陳斯道所謂升已必降也</p>
<p>一升至天作左間一年二年遷正作司天三年退位作右間四年後降也至天三年次歲必降降而入地始為左間也入地作左間一年次歲作遷正司地又次歲乃退作右間也</p>
<p>如此升降往來命之六紀者矣</p>
<p>三而在天三而在地一歲弗從命乎災害先明其升次窮其降也</p>
<p>是故丑未之歲厥陰降地主窒地皛勝而不前</p>
<p>又厥陰在天三年次年必降又遇地九窒中地皛西方兌塞金司勝之不可使入其地也抑之不入乃化成民病也</p>
<p>又或遇少陰未退位</p>
<p>少陰天數有餘作布政故未退一位也即厥陰未降下金運以至中</p>
<p>或遇乙丑乙未中見金抑之也</p>
<p>金運承之降之未下抑之變郁</p>
<p>鬱伏之氣降而不下成其民病木欲降下金承之降而不下蒼埃遠見白氣承之風舉埃昏清躁行殺霜露覆下肅殺布令久而不降抑之化郁</p>
<p>三日不降八日降不降化風疫也即作風躁相伏暄而反清草木萌動殺霜乃蟄未見懼清傷藏</p>
<p>暄和令節大清殺之復布殺霜蒼埃見時風疫至治之吐而得復不可下是故寅申之歲少陰降地主窒地玄勝之不入</p>
<p>少陰在天三年四年即降又遇地窒主司地玄窒水司降而不入抑伏化為民病也又或遇丙申丙寅水運太過先天而至水運太過至其中即少陰降而不下乃成其鬱與民為其災也</p>
<p>君火欲降水運承之降而不下即彤雲才見黑氣反生暄暖如舒寒常布雪凜冽復作天云慘淒久而不降伏之化郁</p>
<p>二日不降七日降不降即郁發寒勝復熱赤風化疫民病面赤心煩頭痛目眩也赤氣彰而溫病欲作也</p>
<p>民皆夜臥不安黃風化疫解可泄也</p>
<p>是故卯酉之歲太陰降地主窒地蒼勝之不入太陰在天三年至此年降入地作少陰左間也又遇主窒地蒼窒木司勝之不入也又或少陽未退位者即太陰未得降也或木運以至</p>
<p>丁酉丁卯</p>
<p>木運承之降而不下即黃云見而青霞彰鬱蒸作而大風霧翳埃勝折損乃作久而不降也伏之化郁</p>
<p>十日不降為日久也</p>
<p>天埃黃氣地布濕蒸民病四肢不舉昏眩肢節痛腹滿填臆</p>
<p>黃風三舉民病溫濕皆痞滿治可大下愈是故辰戌之歲少陽降地主窒地玄勝之不入</p>
<p>少陽在天三年畢次年下降入地作太陰左間主地玄窒水司勝不入而化民病也又或遇水運大過先天而至也</p>
<p>丙辰丙戌水運者也</p>
<p>水運承之水降不下即彤雲才見黑氣反生暄暖欲生冷氣卒至甚即冰雹也久而不降伏之化郁</p>
<p>二日不降七日降不降即郁發也</p>
<p>冷氣復熱赤風化疫民病面赤心煩頭痛目眩也赤氣彰而熱病欲作也</p>
<p>民病夜臥不安黃風化疫解可泄之而愈也</p>
<p>是故巳亥之歲陽明降地主窒地彤勝而不入</p>
<p>陽明在天三年次年下降入地作少陽左間也又遇主窒地彤窒火司勝之不入即化成病也</p>
<p>又或遇太陰未退位即少陽未得降即火運以至之</p>
<p>癸巳癸亥</p>
<p>火運承之不下即天清而肅赤氣乃彰暄熱反作民皆昏倦夜臥不安咽乾引飲懊熱內煩大清朝暮暄還復作九而不降伏之化郁四日不降九日降不降即郁發也</p>
<p>天清薄寒遠生白氣民病掉眩手足直而不仁兩脅　滿目忙忙</p>
<p>白氣豐而殺疫至民皆燥而咽乾鼽衄治可刺之</p>
<p>是故子午之年太陽降地主窒地阜勝之降而不入</p>
<p>太陽在天三年次年復降入地作陽明左間又遇地阜土司勝之不入者也</p>
<p>又或遇土運太過先天而至</p>
<p>甲子甲午</p>

<h1>卷之五</h1>

<h2>本病論</h2>
<p>土運承之降而不入即天彰黑氣暝暗悽慘才施黃埃而布濕寒化令氣蒸濕復令久而不降伏之化郁</p>
<p>十二日不降者即郁其發也</p>
<p>民病大厥四肢重怠陰痿少力天布沉陰蒸濕間作</p>
<p>黑氣彰而寒疫至民病皆厥而體重治可益之也</p>
<p>帝曰升降不前晰知其宗願聞遷正可得明乎</p>
<p>晰明也</p>
<p>岐伯曰正司中位是謂遷正位司天不得其遷正者即前司天以過交司之</p>
<p>日以過大寒日別歲正之初氣未至也</p>
<p>即遇司天大過有餘日也即仍舊治天數新</p>
<p>司天未得遷正也</p>
<p>年即以交即司天之氣未交司故也</p>
<p>厥陰不遷正即風暄不時花卉萎瘁民病淋溲目系轉轉筋喜怒小便赤</p>
<p>太陽司天天數有餘如退位之日厥陰得治遷正也風欲令而寒由不去溫暄不正春正失時雖得初氣天令不傳木氣不伸民乃病肝少陰不遷正即冷氣不退春冷復寒暄暖不時民病寒熱四肢煩痛腰脊強直厥陰司天天數有餘厥陰雖有餘日別位司天皆天數終日始遷正如少陰至二月春分得位正之時乃造化變便可遷正乃合司天也</p>
<p>木氣雖有餘位不過於君火也</p>
<p>木氣有餘數不盡有餘日復治天治數未終遇君火得時化春分日便可遷正木猶未退即可同治於天也其餘氣皆無此也太陰不遷正即雲雨失令萬物枯焦當生不發民病手足肢節腫滿大腹水腫填臆不食飧泄脅滿四肢不舉</p>
<p>少陰司天天數未終故曰太陰不得遷正少陰數終可得遷正也</p>
<p>雨化欲令熱猶治之溫煦於氣亢而不澤少陰有餘未盡天數故不退位即太陰未得遷正即土氣不申而民病於脾也</p>
<p>少陽不遷正即炎灼弗令苗莠不榮酷暑於秋肅殺晚至霜露不時民病㾬瘧骨熱心悸驚駭甚時血溢</p>
<p>雖有寅申之年土尚治之退位之日火行酷暑於後故涉暑於秋也</p>
<p>陽明不遷正則暑化於前肅於後草木反榮民病寒熱鼽嚏皮毛折爪甲枯焦甚則喘嗽息高悲傷不樂</p>
<p>少陽司天天數有餘如退位日陽明不遷正也</p>
<p>熱化乃布燥化未令即清勁未行肺金復病　雖得卯酉之年猶火化熱之令也故肺重複受病</p>
<p>太陽不遷正即冬清反寒易令於春殺霜在前寒水於後陽光復治凜冽不作氛云待時民病溫癘至喉閉溢干煩燥而渴喘息而有音也陽明司天天數有餘退位日太陽遷正故多煩燥渴喘者也寒化待燥猶治天氣過失序與民作災雖得辰戌之年猶尚清化治天故失序也帝曰遷正早晚以命其旨願聞退位可得明哉岐伯曰所謂不退者即天數未終</p>
<p>天數未終其氣仍治雖遇交司由未退位也</p>
<p>即天數有餘名曰復布政故名曰再治天也即天令如故而不退位也</p>
<p>此治天下過而不退位猶在天厥陰不退位即大風早舉時雨不降濕令不化民病溫疫疵廢風生民病皆肢節痛頭目痛伏熱內煩咽喉干引飲</p>
<p>厥陰天數有餘在本數之上司天氣高而災化善也令作布政而復下災故反甚之者也</p>
<p>少陰不退位即溫生春冬蟄蟲早至草木發生民病膈熱咽乾血溢驚駭小便赤澀丹瘤疹瘡瘍留毒</p>
<p>少陰天下有餘過歲而復作布政天令酷災矣</p>
<p>太陰不退位而取寒暑不時埃昏布作溫令不去民病四肢少力食飲不下泄注淋滿足脛寒陰痿閉塞失溺小便數</p>
<p>太陰天下有餘過歲而猶尚治天其氣其下矣病至腎也</p>
<p>少陽不退位即熱生於春暑乃後化冬溫不凍流水不冰蟄蟲出見民病少氣寒熱更作便血上熱小腹堅滿小便赤沃甚則血溢少陽天數有餘至過歲由治天甚則氣復下其災至脾肺藏也</p>
<p>陽明不退位即春生清冷草木晚榮寒熱間作民病嘔吐暴注食飲不下大便乾燥四肢不舉目瞑掉眩</p>
<p>陽明天數太過至交歲而猶尚治天氣復降其災至甚於肝藏也</p>
<p>帝曰天歲早晚余以知之願聞地數可得聞乎岐伯曰地下遷正升及退位不前之法即地土產化萬物失時之化也即應之生萬物之不時數無次序天令與民作災今於上下二干失移之中者也</p>
<p>帝曰余聞天地二甲子十二十二支上下經緯天地數有迭移失守其位可得昭乎</p>
<p>同天地二甲子有上下不合其德者為失守也</p>
<p>岐伯曰失之迭位者謂雖得歲正未得正位之司即四時不節即生大疫</p>
<p>天地不合德即名天地失節即上下二管音不相應即大不主與天主失節上下失音萬物不安也</p>
<p>注玄珠密語云陽年三十年除六年天刑計有太過二十四年</p>
<p>除庚子庚午君火刑金運庚寅庚申相火刑金運戊戌戊辰太陽刑火運也此為與其天地氣上臨中運不得太過者也</p>
<p>除此六年皆作太過之用令不然之旨此即太過作陽年中運余也忽有上下失支迭位故不為者也</p>
<p>今言迭支迭位皆可作其不及也</p>
<p>陽年者運太過也五音皆定矣太音也運自勝有餘而無邪傷故名正化疫也其剛乾不相對柔干即上下不相招即陰陽相錯天地不合德中運雖陽多而作太過故有勝復乃至者也假令甲子陽年土運太窒</p>
<p>土太過即運傷鱗蟲勝及腎藏氣不及土勝於水也即黃鐘之管音高故曰太窒也候甲子之氣應者上應鎮星大而明也如癸亥天數有餘者年雖交得甲子</p>
<p>音萬物不安也</p>
<p>注玄珠密語云陽年三十年除六年天刑計有太過二十四年</p>
<p>除庚子庚午君火刑金運庚寅庚申相火刑金運戊戌戊辰太陽刑火運也此為與其天地氣上臨中運不得太過者也除此六年皆作太過之用令不然之旨</p>
<p>此即太過作陽年中運余也忽有上下失支迭位故不為者也</p>
<p>今言迭支迭位皆可作其不及也</p>
<p>陽年者運太過也五音皆定矣太音也運自勝有餘而無邪傷故名正化疫也剛乾不相對柔干即上下不相招即陰陽相錯天地不合德中運雖陽多而作太過故有勝復乃至者也</p>
<p>假令甲子陽年土運太窒</p>
<p>土太過即運傷鱗蟲勝及腎藏氣不及土勝於水也即黃鐘之管音高故曰太窒也候甲子之氣應者上應鎮星大而明也</p>
<p>如癸亥天數有餘者年雖交得甲子</p>
<p>甲雖臨子未得遷正</p>
<p>厥陰猶尚治天</p>
<p>年雖甲子司天尚化風冷厥陰猶復布正於天也</p>
<p>地已遷正陽明在泉</p>
<p>或名司地即數高者</p>
<p>去歲少陽以作右間</p>
<p>癸亥司地少陽退位以作地下之右間氣者也</p>
<p>即厥陰之地陽明故不相和奉者也</p>
<p>故曰上下不相招陰陽有相錯即癸與巳相對故天地不合德即以不合甲也癸巳相會土運太過虛反受木勝故非太過也何以言土運太過況黃鐘不應太窒木既勝而金還復金既復而少陰如至即木勝如火而金復微</p>
<p>謂少陰見厥陰退位而少陰立至故金欲復而火至故復有少也</p>
<p>如此則甲巳失守後三年化成土疫晚至於卯</p>
<p>甲子至丁卯四年至</p>
<p>早至丙寅</p>
<p>甲子至丙寅三年至</p>
<p>土疫至也</p>
<p>至於四維時也</p>
<p>大小善惡推其天地詳乎太一又只如甲子年如甲至子而合應交司而治天</p>
<p>少陰主甲子年司天遷正應時也</p>
<p>即下巳卯未遷正而戊寅少陽未退位者亦甲巳下有合也</p>
<p>即甲與戊相對子與寅配位也</p>
<p>即土運非太過而木乃乘虛而勝土也金次又行復勝之即反邪化也</p>
<p>即勝之小而或不復後三年化癘名曰土癘其狀如土疫者本是自天來癘從地至故反化邪生也陰陽天地殊異爾故其大小善惡一如天地之法旨也假令丙寅陽年太過如乙丑天數有餘者雖交得丙寅</p>
<p>雖丙得寅猶未遷正而作司天</p>
<p>太陰尚治天也地已遷正厥陰司地</p>
<p>或作在泉</p>
<p>去歲太陽以作右間</p>
<p>乙丑司地庚辰以退位而作右間即天太陰而地厥故地不奉天化也即上下不相招陰陽有相錯即辛與乙不相合故不合其德也乙辛相會水運太虛反受土勝故非太過即太簇之管太羽不應土勝而雨化水復即風即天地非其時而有其氣有化大疫即與陰陽復不同也</p>
<p>此者丙辛失守其會後三年化成水疫晚至己巳</p>
<p>丙寅至己巳四年</p>
<p>早至戊辰</p>
<p>丙寅至戊辰三年</p>
<p>甚即速微即徐</p>
<p>徐至己巳</p>
<p>水疫至也大小善惡推其天地數乃太乙遊宮又只如丙寅年丙至寅且合應交司而治天</p>
<p>少陽至而作司天應時遷正</p>
<p>即辛巳未得遷正而庚辰太陽未退位者亦丙辛不合德也</p>
<p>即丙與庚相對辰與寅相配位也即水運非太過也</p>
<p>即水運亦小虛而小勝或有復</p>
<p>丙寅至也即無復也</p>
<p>後三年化癘名曰水癘其狀如水疫</p>
<p>一名寒疫</p>
<p>治法如前假令庚辰陽年太過如巳卯天數有餘者雖交得庚辰年也</p>
<p>雖庚臨辰未遷正</p>
<p>陽明猶尚治天地以遷正太陰司地</p>
<p>即是在泉</p>
<p>云歲少陰以作右間</p>
<p>巳卯年地甲子以退少陰作右間也</p>
<p>即天陽明而地太陰也故地下奉天也乙巳相會金運太虛反受火勝故非太過也即姑洗之管太商不應火勝熱化水復寒刑此天地非時行不節之令即三年始成大疫行天下也</p>
<p>此乙庚失守其後三年化成金疫也速至壬午庚辰至壬午三年是其速至徐至癸未金疫至也大小善惡推本年天數及太乙也</p>
<p>疫至之年又遇失守其災大也不見五福及其太乙且惡死人太半也如卻會合德者災小爾如見五福與其太一者其災且小善滅其半也</p>
<p>又只如庚辰如庚至辰且應交司而治天太陽主庚辰年司天應時遷正而治天也</p>
<p>即下乙未未得遷正者即地申午少陰未退位者且乙庚不合德也</p>
<p>即甲庚相對辰午相配此名失守非配太過</p>
<p>即下乙未乾失剛亦金運小虛也有小勝或無復</p>
<p>太陰至未即不復也</p>
<p>後三年化癘名曰金癘其狀如金疫也</p>
<p>金疫又名殺疫金癘又名殺癘治法如前假令壬午陽年太過如辛巳天數有餘者雖交後壬午年也</p>
<p>雖壬臨午猶未遷正</p>
<p>厥陰猶尚治天地己遷正陽明在泉</p>
<p>丁酉治也</p>
<p>去歲丙申少陽以作右間</p>
<p>壬午年丁酉遷正辛巳年丙申退位也即天厥陰而地陽明故地不奉天者也</p>
<p>即陽明當上奉少陰不與厥陰奉合也故</p>
<p>丁酉與辛巳不相合德也</p>
<p>丁辛相合會木運太虛反受金勝故非太過也即蒫賓之管太角不應金行燥勝火化熱復</p>
<p>此天地非時行不節之氣即三年始成大疫</p>
<p>甚即速微即徐</p>
<p>速即首尾二年徐即後三年作</p>
<p>疫至大小善惡推疫至之年天數及太一又只如壬至午且應交司而治之</p>
<p>少陰壬至午年司天應時而遷正得位者即下丁酉未得遷正者即地下丙申少陽未得退位者見丁壬不合德也</p>
<p>即壬丙相對午申相配此失守非合德見非太過也</p>
<p>即丁柔干失剛亦木運小虛也有小勝小復</p>
<p>陽明如至即不復也</p>
<p>後三年化癘名曰木癘其狀如風疫法治如前</p>
<p>可大吐而治之</p>
<p>假令戊申陽年太過如丁未天數太過者雖交得戊申年也</p>
<p>雖戊臨申猶未遷正也</p>
<p>太陰猶尚治天地已遷正厥陰在泉</p>
<p>癸亥治地</p>
<p>去歲壬戌太陽以退位作右間即天丁未地癸亥故地不奉天化也</p>
<p>即厥陰當上奉少陽故不與太陰奉合故丁未與癸亥不相合</p>
<p>丁癸相會火運太虛反受火勝故非太過也即夷則之管上太徵不應</p>
<p>非戊癸相合也故火運不應其夷則未應其徵也下管癸亥少徵應之即下見癸亥主司地故同聲之不相應即上下天地不相合德故不相應也此戊癸失守其會後三年化疫也速至庚戌首尾三年</p>
<p>大小善惡推疫至之年天數及太一又只如戊申如戊至申且應交司而治天</p>
<p>少陽主戊申年司天應時遷正而治天也</p>
<p>即下癸亥未得遷正者即地下壬戌太陽未退位者見戊癸未合德也</p>
<p>即壬戊相對申戌相配此失守非合德又非太過</p>
<p>即下癸柔干失剛見火運小虛也有小勝或無復也</p>
<p>厥陰至即無復</p>
<p>後三年化癘名曰火癘也治法如前治之法可寒之泄之</p>
<p>以上五失守變五疫下五失守變五癘也即上剛柔二干共主運有失支不守之者以此五法即諸陽年也</p>
<p>黃帝曰人氣不足天氣如虛人神失守神光不聚邪鬼幹人致有夭亡可得聞乎</p>
<p>人氣與天氣同失守即鬼邪幹人致死也岐伯曰人之五臟一臟不足又會天虛感邪之至也</p>
<p>其不足之臟與天氣同聲虛也</p>
<p>人憂愁思慮即傷心又或遇少陰司天天數不及太陰作接間至即謂天虛也此即人氣天氣同虛也又遇驚而奪精汗出於心</p>
<p>大驚汗出於心即心中精脈減少故神失守心也</p>
<p>因而三虛神明失守</p>
<p>先有勞神之病又遇少陰天數不及也又更驚而奪精此三會而神明失守也</p>
<p>心為君主之官神明出焉</p>
<p>心先有病又遇天虛而感天重虛也心者任治於物故為君主之官清靜棲靈故曰神明出焉</p>
<p>神失守位即神遊上丹田在帝太一帝君泥丸君下</p>
<p>太一帝君在頭曰泥丸君總眾神地君主之官神明失守其位遊於此處不守心位神既失守神光不聚</p>
<p>神光即飛圓光也圓光不潔即圓光缺矣</p>
<p>即鬼邪陰屍幹人</p>
<p>卻遇火不及之歲有黑屍鬼見之令人暴亡其火運不及非只癸年戊年失守亦然火司天數不及亦然也黑屍鬼形如黑犬頭似婦人發蓬不髻目大人見之吸人神魂皆作大聲卒然而亡</p>
<p>人飲食勞倦即傷脾</p>
<p>即飲食飽舉房事即氣滯於脾以勞疫氣滿悶脾臟有病也</p>
<p>又或遇太陰司天天數不及即少陽作接間至即謂之虛也</p>
<p>人氣與天氣不及即感天人氣虛及又虛也</p>
<p>此即人氣虛而天氣虛也又遇飲食飽甚汗出於胃醉飽行房汗出於脾</p>
<p>脾胃汗出即精血減少感天虛而作三虛脾神失守其位因而三虛脾神失守先有病於脾次遇天虛脾感天重虛又遇汗出而減其精血乃故名三虛也</p>
<p>脾為諫議之官智周出焉</p>
<p>脾者心之子心有所憶謂之意意中所出謂之智智周萬物謂之神即脾胃神意智乃故失守其位者也</p>
<p>神既失守神光失位而不聚也</p>
<p>神光不聚鬼乃干之</p>
<p>卻遇土不及之年或己年或甲年失守或太陰天虛青屍鬼見之令人卒亡人久坐濕地強力入水即傷腎</p>
<p>汗出於腎即精血減少故作三虛即精亡心神失守其位也腎為作強之官伎巧出焉因而三虛腎神失守神志失位神光不聚神精志三神虛失位遊於黃庭司命君之下乃即圓光缺矣</p>
<p>卻遇木不及之年或辛不會符或丙年失守或太陽司天虛有黃屍鬼至見之令人暴亡</p>
<p>有此三虛又遇水不及即黃屍鬼幹人牛頭身黃見之時吸人神魂皆暴亡也</p>
<p>人或恚怒氣逆上而不下即傷肝也又遇厥陰司天天數不及即少陰作接間至是謂天虛也</p>
<p>肝先病又遇天虛而感重虛也</p>
<p>此謂天虛人虛也又遇疾走恐懼汗出於肝肝為將軍之官謀慮出焉神位失守神光不聚神光不聚即圓光缺而不周屍鬼乃幹人也</p>
<p>又遇木不及年或丁年不符或壬年失守或厥陰司天虛也有白屍鬼見之令人暴亡也有此三虛者即神遊失守白屍鬼幹人頭如雞身白有白毛見之吸人神魂皆卒然而亡也</p>
<p>以上五失守者天虛而人虛也神遊失守其位即有五屍鬼幹人令人暴亡也謂之曰屍厥但卒然而亡口中無涎者舌卵卵縮者屍厥若出涎而舌卵者盛厥也</p>
<p>人犯五神易位即神光不圓也非但屍鬼即一切邪犯者皆是神失守位故也</p>
<p>神失守位雖其體中而二氣失位也即神光不聚而邪犯之有妖魅交通往來皆是五神失守乃邪所至也</p>
<p>此謂得守者生失守者死</p>
<p>得守者本位而五神各得其居即神光乃圓明而聚矣故一切邪不犯之乃生也得神者昌失神者亡</p>
<p>老子云氣來入身謂之生神去於身謂之死故曰命由神生命生神在即命生神去即命夭矣所謂神遊失守即不離身故不可便死也其主管在頭上三尊高位靈主言也即太一帝君在頭曰泥丸總神也無英君左制三魂也白元君右拘七魄也即魂為陽神也魄為陰鬼也若無上三虛主之神離位者死今五神失守亦有主歸即神光不聚圓光亦缺故邪干犯之若神失守其位即知人生神昌</p>
