<header data-type="book">
<h1>幼科概論</h1>
</header>

<h1>總論</h1>
<p>光致所講幼科，注重在實用二字，不尚虛文。以自己二十餘年臨證診治之經驗，兼採各家學說醫理，簡易明通。於臨證實用者，均採集不嫌其淺俗，以求對於病者實用，對症治療。平日體察小兒所常得的各種病症，與成人的病症根本不同，臨徵診治方法自異。至於小兒又分乳嬰與成童，其病症與治法更不能同。成人之病症，雖亦不外乎寒熱虛實燥濕積滯傷風寒及肺病血病，千頭萬緒，似覺不易措手，診治失之毫釐，謬以千里，非細心體察，加以閱歷，潛心研求，真知灼見，不能定症名，用藥治療。然成人能自道病之所在，及身體的痛苦見端，再證以望聞問切等手續，自能見到症之象，及症之狀，即可定出症之屬於內傷外感，及內外兼病。症象即得，即可因症用以療治，似難而實不難。非若小兒之病症，自己既不知病之所在，尤不能自言病之痛苦及症象。身體細小，四肢百骸均未長成，不能任猛烈性的藥。然小兒又多不易服藥，又不能與平常緩性藥，使之慢慢而愈，如驚風等症，不能稍延者。雖小兒無七情六慾，得病似覺簡單，而臨證用藥則甚煩難，稍有出入，遺害無窮，似易而實難也。故幼科另立一門，俗呼為啞科，以望聞切又不能問也。是以非有經驗，不足以話幼科，非有一二十年之經驗不能治幼科病。至於辨指紋診脈治病不過補助云耳。</p>

<h1>幼科論治</h1>
<p>小兒之病，百倍難於方脈。其疾病疴癢，不能自言，旁人又不能代言，全恃醫之意揣之，揣之不合，殺人易如反掌。即揣得當，而小兒純陽之體，易虛易實，藥一過分，變幻百端。此非頂聰明，好學深思，心知其意者，未可勝任也。至於護惜之深，姑息之至，則飽暖失宜，果物恣食，畏若廢藥，或求速雜投，則又非醫家之咎矣。然揣之之法，不過辨其表裡虛實寒熱。其法與方脈無異，其症亦與方脈同，方脈中之病，小兒亦無不有也。故不能幼科者，或能治方脈，不能方脈者，必不能治幼科。</p>

<h1>初生保胎</h1>
<p>初生三朝，即用三黃湯解其胎毒。服三四日後，每日投金銀花湯至彌月而止，可保其痘稀而少瘡疹之患。能遇寒冬之月，或小兒體寒質薄，而專用金銀花湯亦可。彌月間，聲直髮搐，撮口臍風，是胎風也，俗名腹裡驚。因其母，肝氣素郁，兒稟受之，再浴時斷臍時，或有進風，得外風，則內風動。此症發之太早，泣不出聲，泣而無淚者，皆難治。治法痰盛者，先治痰，先清火，或用益黃散治之。視其牙齦有泡，急以棉裹指擦破之，用青黛冰片略塗口內為妙。至三歲以前，形質微弱，無脈可憑，但察其脈之強弱緩急而已。復更察其食指，寅卯辰三關，男左女右。食指近手，第一節為寅關，次節為卯關，上節為辰關。凡兒有病，必有脈紋外見。如現紋在寅關，不過卯關者易治，過卯關者難治，過辰關者更難治。若一條紋從寅關直透辰者，必死。其紋青色為風，紫為瀉利，青紫為肝木乘脾，紅則為熱。合之唇舌面色，亦可得其大概也。三歲後，六七至為平脈，四五至為寒，九十至為困脈，弦急為氣不和，沉緩為傷食，促急為虛驚，浮為風，沉細為寒，脈亂者不治。</p>

<h1>外熱內熱辨</h1>
<p>外熱與內熱不同。外熱者，身終日發熱，或拘束肢冷，有青涕咳嗽，頭痛鼻塞之象，內則脈浮而不渴，此外解之症也。不可用涼藥，宜荊防散表之，得汗自愈。內熱者，如夜熱潮熱，晝輕夜重，病最纏綿，或口渴，或腹脹，或盜汗，其症有因傷食停痞，伏燥伏火，陰虛陽虛等異，宜分別而治，此內解之症也，不可用表藥。傷食者，保和丸加地骨皮消之；停痞者，和中丸加鱉甲、牡蠣消之；伏燥者，貝母栝樓散潤之，伏火者，黃芩芍藥湯加山梔、丹皮等清之；陰虛者，蒿皮四物湯退之；陽虛者，四君子湯養之。此等熱必傷陰，口漸削瘦，成為疳癆，慎之。</p>

<h1>非驚論</h1>
<p>方脈中有中寒中暑諸症，時醫混以為中風，東垣、景岳以非風別之善矣。幼科有急驚風、慢驚風二症，不惟驚字全無干涉，即風字亦未可混稱，乃自有驚風之名，而濫以丸子相投，從此小兒之遭其劫者，不知萬萬矣。試思驚字何解，凡受嚇者，謂之驚。嚇者神魂失守，心神恍惚，惕惕悸動，唯心虛者易犯。此在方脈中亦有之，幼科中大驚猝恐一症即此候也。是真驚也，故用藥以人參、五味、棗仁、丹參等安神定魄為主，斷無有攻痰散風而能治驚症者。且風字亦有二義，在外感則為風邪，宜用表散；在內病則為肝風，宜用鎮息。今混言之曰風，究竟外風乎？內風乎？治外風之藥，不可以治肝，治肝風之藥，不可以解表，甚矣哉！其混也。蓋時俗所謂急驚風者，痰火閉也。小兒受暑熱，則生火，乳積則生痰，痰火相搏，則血虛而肝失所養。肝主筋，筋脈肝熱，則抽搐，故外作拘攣，面現青色，是肝燥而風內動，非外風也。是痰火閉其竅，而目竄牙緊發厥，非嚇驚也。但利其竅，清其火，降其痰，則神醒矣。此症即不醫亦能自醒，而漫以驚風之名可乎？世俗所謂慢驚風者，脾虛生風也。小兒或吐、或瀉，久則脾虛，肝木乘之，手足微搐，是內風侮土，非外風也。陽衰神怠，氣息短促，是中風脫之，非驚嚇也。宜補其脾，回其陽，則土振而木靜矣。此症不補必死，而謬以驚風名之可乎？故急驚實為火症，慢驚為虛寒症，如水火然。治急驚藥，不可以治慢，治慢驚藥，不可以治急，而世俗竟有以一粒丹名之曰治急慢驚風，欺人乎？欺天乎？茲特並揭之曰非驚，而分為痰火閉症，木侮土症，則為實，為虛，各當求其病源而治之，而小兒庶不至於枉死。</p>

<h1>痰火閉症</h1>
<p>痰火之症，即俗所謂急驚風也。小兒或感風寒，或積乳食，皆生痰，痰積則化火。或受暑熱，亦生火，失於清解，則火升而痰亦生。痰火上壅，閉其肺竅，則諸竅皆閉。其症目直氣喘，昏悶不醒，且火甚則肝燥筋急，為抽搐掣顫，反引竄視而八候生焉。總因痰火鬱結，肝風內動而成。當其拘攣弓仰之時，但以手扶，不可用力抱緊，傷其經絡，致成廢疾。起初以通關散開其嚏，得嚏則醒，輕者利火降痰湯，重者清□煎，加石膏、菖蒲、竹茹，或抱龍丸，醒後清熱養血湯。</p>

<h1>木侮土症</h1>
<p>木侮土症，即俗所謂慢驚風也。小兒受暑受寒或傷乳食，皆能作吐作瀉，或吐瀉交作，久則脾土虛弱，肝木乘之。其瀉漸見青色，面部痿白帶青，手足微搐無力，神氣懨懨不振，而慢驚成矣。初起即宜異功散，吐則加藿香、煨姜。若病已數日，糞見青色，即加木香，或肉桂。若手足皆冷，脈息微細，唇舌痿白，此將脫之症，宜急用附子理中湯，以溫中回陽，尚有可救。諸臟之症皆緩，獨脾病之變甚速，盡有吐瀉一晝夜，而即脫者，甚勿緩視也。</p>

<h1>指紋晰義</h1>
<p>幼科指紋總無正論，且遊移不定，莫可稽駁。有謂不必用者，有用而至於怪誕不經，誣民惑世者，是皆未中之理，所以有用有不用之殊議。請以一得之愚，聊發其要。蓋此指紋，與寸關尺同一脈也。按《內經》十二經脈，始於手太陰（紋者關旁支也，從手腕後出食指之端，而交通營衛於手陽明太陰之經）即此指紋是也。明如景岳，猶謂此紋為手陽明浮絡。不知手太陰經起於中府，而終於大拇之少商；手陰明經起於食指，商陽不相值，若無此旁支交通營衛，不兒令太陰陽明表裡斷絕乎？況此脈可診，人所不知，其遲數代促，與太淵一毫無異。但脈體差小，由旁支也。指紋之法，起於宋人錢仲陽，以食指分為三關，寅曰風關，卯曰氣關，辰曰命關，其訣謂風輕氣重命危。雖未必其言悉驗，而其義可取。蓋位則自下而上，邪則自淺而深，證則自輕而重，人皆可信。只恨復出詭異之謬說（驚風門類），致後賢多歧亡羊，反成疑案。予意仲陽宋之名人，以孝見稱，豈肯為此誤世。大抵後之俗子，假託其名而為之者。惟有識者，知其語言鄙俚，證論荒唐，便能棄置不用，如張景岳、夏禹鑄輩，皆謂可不必用。蓋非不用，實惡其妄誕不經，而無可用耳，近世醫家不知真偽，不辨是非，習而行之，乃致惑世誣民，禍害嬰幼。夫醫重關生命，乃聽無稽之言，流傳貽殃，是豈其可。予雖不敏，粗知經脈，每見幼科指紋之說，不勝發豎欲為規正，恨其非人，知而不言。此心未慊，今幸餘閒，請言其要。蓋此指紋，即太淵脈之旁支也，則紋之變易，即太淵之變易，不必另立異說，眩人心目。但當浮沉，分表裡；紅紫，辨寒熱；淡滯，定虛實，則用之不盡矣。倘舍此不圖，妄執謬說以為是，臨證不察病源，謬指為人驚畜驚，訛惑愚昧，予恐盲人瞎馬終墮重淵，莫之能出矣。周盧中曰：指紋晰義之精，自仲陽以來，七百餘年，無人道及。今讀至此，如夢初覺，如醉初醒，足以快人神志，真千古特識也。蓋世人乍聞此言，未能深信，姑就其舛謬之傳，撮其大要以正之。其略曰：指現青紋，認是四足驚，虎口脈青色，是豬犬馬驚，黑色因水撲，赤色火驚人，紫色多成瀉，黃即是雷驚，是指紋之青赤黑皆驚之所致。然則小兒之稟賦厚薄、胎元寒熱，以及內傷外感、雜症、麻痘數百之證，悉當以驚風稱之，以驚風治之矣。不然除去青黃赤黑之紋，又將何辨非驚風乎？謬誤之傳，莫此為最。既然云黃即困脾虛矣，是謂指紋黃色脾土受傷不足之證，又曰黃即是雷驚，似謂聞雷致驚有餘之候。假令小兒指紋見黃，不知此時應斷為脾困乎？即應斷為雷驚乎？治之者，不知應治脾乎？應治其雷乎？或將合一為治乎？抑亦分析其方乎？且脾困為虛，雷驚為實，治虛遺實，治實遺虛，兼治不能，分治不可，予亦莫知何所適從乎？至謂青色，大小曲人驚並四足，夫人與四足靈蠢天淵，清濁冰炭，氣化純雜不侔，斷無並列之舉。今既曰人驚並四足矣，則是臨證時，凡指紋青者，謂人之驚可也，即謂四足驚亦可也，是人與四足意可以通稱，而四足與人不幾為同類耶？即以紋曲之大小別之，原其意，必謂大麴為人驚，小曲為四足驚，又安知人不為小曲，畜驚不為大麴乎？何所據而確知，人驚之，曲必應大，畜驚之，曲必應小。設使大麴之中，仍有小曲，小曲之旁，兼有大麴，得無曰：此人驚中之畜驚，畜驚中之人驚耶？無稽之談，不堪寓目。再究其治療，更無是處。若謂人驚，畜驚，總是一驚，不必論證，不須異治，則今之分大分小，指人指畜者，得非譫妄乎？若謂人驚畜驚，各為一驚，未可同論，正不知人驚為何病，驚畜為何證，宜以何物治人驚，何物治四足驚。既有以上之驚名，應立以上之證治，何以並無一法，而徒設無稽虛言以誑，在庸妄固不足責，而立言位公之規正，反為編次於書，遺誤後世，吾恐有目者，未必不能之眥裂也。</p>
<p>再曰青是涼，白是疳。青驚，即以前諸說，不必瑣贅。至於白是疳，誠為妄誣。夫疳證，即方脈之虛勞，在幼稚為之疳積，未脾腎兩傷之候。久之則五臟俱損，中氣敗極，則面目肌膚，俱見㿠白，形如枯骨之象，故曰：白是疳，此以形色言也。今以指紋當之，謬之甚矣。蓋氣血兩傷，精神久虧之證，其紋必淡，凡虛證皆然，不特疳證已矣。然正可言其色淡，不可謂之色白，蓋指上從無白紋。予臨證四十餘載，未嘗一遇。後人勿謂古人之言，一定不易。必俟其指紋白色，始可稱之為疳，若然則疳證之兒無幸矣。故知按圖索驥，終非解人；神而明之，始稱匠手。指紋辨證，詳列於下。</p>

<h1>指紋切要</h1>
<p>小兒自彌月至於三歲，猶未可以診切。非無脈之可診，蓋診之難，而虛實不易定也。小兒每怯生人，初見不無啼叫，呼吸先亂，神志倉忙，而遲數大小已失本來之象矣，診之何益？不若指紋之可見者，與面目病候相印證，此亦醫生望中切兩兼之意也。</p>
<p>令人抱兒對立於向光之處，以左手握兒食指，以我右手拇指推兒三關，察其形色，細心體認，亦惟辨其表裡寒熱虛實足之矣。世人好異，不從實地用功，以此為淺近之談，不屑留意，不知臨證，能辨此六者，便為至高之手。蓋表裡清則病之在經在府，而汗下無誤；寒熱明，則知用寒遠熱，用熱遠寒，或寒因寒用，熱因熱用，因時制宜，用無不當；虛實辨則知大虛有盛候，大實有嬴狀，不為假證眩惑。凡真虛實易知，假虛假實難辨，真假說明，則無虛虛實實之患。於此切要關頭，不知體會，但以不經之言，欺世誑俗，謂何者為人驚，何者為畜驚，不特欺人，而且自欺，不特無益治療，而且誤人命，是誰之咎哉？</p>
<p><u>三關部位歌</u></p>
<p>初起風關證未央，氣關紋現急須防，乍臨命位誠危急，射甲通關病勢彰。</p>
<p>紋見風關，為病邪初入之象，證向輕微，體亦未困，治之誠易。紋見氣關，邪氣正盛，病已沉重，治之宜速。倘三關通度，紋出命關，則邪氣遊漫，充塞經絡，為至重之候。設透關射甲，則邪氣無所容，高而不能降，為亢陽戴陽之象，治之者留心，慎勿輕視。</p>
<p><u>浮沉分表裡歌</u></p>
<p>指紋何故乍然浮，邪在皮膚未作愁，腠理不通名表證，急行疏解汗藥投。</p>
<p>此紋與太淵脈相通，凡有外邪，太淵脈浮，此紋亦浮。蓋邪在皮毛腠理之間，故指紋亦顯露於外，謂之表證。速宜疏散，啟其皮毛，開其腠理，使邪隨微汗而解。一匕成功，何嫌而不投哉。</p>
<p>忽爾關紋漸漸沉，已知入里病方深，莫將風藥輕嘗試，須向陽明裡證尋。</p>
<p>指紋見沉，知邪入里，但有淺深之別。若往來寒熱，指紋半沉，尚在陽明胃經，治宜解肌。若於外證身熱不已，指紋極沉，已入陽明胃腑，速宜攻下。庸妄見其身熱，猶以風華治之。蓋病在內，治其外，非其治也。不特病邪不解，適足以燥其陰血，而愈增其困。</p>
<p><u>紅紫辨寒熱歌</u></p>
<p>身安定見紅黃色，紅暗多從寒里得，淡紅隱隱本虛寒，直到深紅化為熱。</p>
<p>神氣泰寧，營衛靜平，定見太平景象。蓋黃為中和之氣，紅乃交明之色，黃紅隱隱，景物熙熙，焉有不安之理。寒邪初入皮毛，經絡乍滯，所以紋見紅暗，由血滯也。無論內寒外寒，初病久病，一見此紋，總是寒證。凡人中氣性弱，營衛不充，紋必淡瑩而兼紅，虛寒之證。至謂深紅化熱，其理安在。紅本寒因，豈能化熱？由其寒閉皮毛，腠理不通。凡人身內據之亂，時與皮毛之氣相通貫，無一息之暫停。今寒閉汗孔，內出之氣無所發泄，鬱於毛孔之間，漸積漸厚，而化為熱矣。此內出之氣熱，非外受之寒能變熱也。</p>
<p>關紋見紫熱之徵，青色為風古所稱，傷食紫青痰氣逆，三關青黑禍難勝。</p>
<p>營行脈中，衛行脈外。熱壅經絡，阻其陰營之道，所以紋紫為熱熾，千古定評也。少陽甲木，其色本青，肝膽受邪，紋見青色，此傷風候也。但可以風熱稱之，不可稱驚風以誤世。蓋青者本經之色，《內經》有在天為風、在地為木之言，所以風木同氣。肝受風邪，紋必見此青。理最明最顯，而幼科偏不言青為風，偏言青為驚。據幼科所論，驚出於心。然青色非心之色，何以青為驚乎？此等牽強之說，最為謬誤。予有驚風關妄，詳列二卷。紫而兼青，食傷之候。蓋食飲有形之物，阻抑中焦清陽，脾氣不能宣布，故風邪乘其因而侮之；所以疾風上逆也。疏通壅滯，令其流利可也。倘鬱抑既久，脾氣愈不運化，營衛愈見澀滯，則風痰食熱固結中焦，所以青而兼黑，此抑鬱之至也。急宜攻下，庶有生機，誤認驚風，百無一救。</p>
<p>指紋淡淡亦堪驚，總為先天稟賦輕，脾胃本虛中氣弱，切防攻伐損乳嬰。</p>
<p>小兒稟受陽虛，肌膚暗白，唇舌淡色者，指紋四時皆淡，雖有病亦現淡紅色青淡紫而已。蓋淡紅虛寒，淡青虛風，淡紫虛熱，此等兒根本不堅，中氣怯弱，無論新病久病，總歸於虛，一毫攻伐，不敢輕用。倘誤投克削，覆水難收，悔之晚矣。</p>
<p>關紋澀滯什因由，邪遏陰營衛氣留，食鬱中焦風熱熾，不行推蕩更何求。</p>
<p>病邪阻郁營衛，運行遲滯，消化無力。所以指紋推之不甚分明，無活潑流行之象，由食飲風寒相搏，是為實證。急宜推蕩，去其陳腐，其愈亦易。若因三關純黑，推之不動，死證也，不治。</p>
<p><u>紋形主病歌</u></p>
<p>腹疼紋入掌中心，彎內風寒次第侵，紋向外彎痰食熱，水形脾肺兩傷陰。</p>
<p>掌心包絡所主，紋入掌中，邪侵內臟，由中氣寒也，故為腹痛。紋若彎弓，內外有別。其紋之兩頭彎，向中指為內，為順證，為外感風寒，治之猶易；其紋彎向大指為外，為逆證，為內傷飲食，治之稍難。形如水字，脾肺不足，食塞太陰，中氣怯弱，脾不運化故也。或向指紋惟止一線，安能有水字之形？曰不觀太淵之脈，亦止一線，何以陽維陰維，陽蹺陰蹺，有時左右連帶現紋，豈非水字之形乎？脈有左右，安知紋無左右？但能觸類旁通，無往非理，豈特指紋為然？</p>
<p>凡看指紋，以我之大拇側面，推兒食指三關，切不可覆指而推。蓋螺紋有火，剋制肺金，紋必變色。又只可從命關推上風關，切不可從風關推出命關，此紋愈推愈出。其紋在先原未透命關，誤推而出之，大傷肺氣，且不能辨紋色，慎之戒之。</p>
<p>以上表裡寒熱虛實，鑿鑿有據，但能於臨證時，認得此六字分明，胸中自有主宰，雖不中不遠矣，若但以驚風塞責，第捫心自問，未免懷慚。凡我同人，互為砥礪幸矣。</p>

<h1>小兒脈法</h1>
<p>小兒三五歲，可以診視，第手腕短促，三部莫分，惟以一指候之，誠非易也。《內經》診視小兒，以大小緩急四脈為準。予不避僭越，體察其意，仍從浮沉遲數四脈，而以有力無力定其虛實緩急，更為明悉，比較尤為有根據。</p>
<p><u>《內經》脈要</u></p>
<p>黃帝曰：乳子而病熱，脈懸小者如何？</p>
<p>夫乳子病熱，脈見懸小者，陽症見陰脈，本為大忌，但小而緩者，邪甚微，其愈易；小而急者，邪客深，為可慮，故以為問。</p>
<p>岐伯曰：手足溫則生，寒則死。</p>
<p>夫小兒以稚陽為體，而如病，紋脈現暗淡，肢脈至雖小，手足溫者，猶能生。以四肢為諸陽之本，陽猶在也。若四肢寒冷者，則邪勝其正，元陽去矣，故曰死也。</p>
<p>帝曰：乳子中風熱，喘鳴肩息者脈何如？岐伯曰：喘鳴肩息者，脈實大也，緩者生，急者死。此言小兒之外感也。風熱中於陽分而喘鳴肩息者，脈當實大。但大而緩，則胃氣好，邪漸退，故能生；實而急，則真臟見，病日進，則死也。</p>
<p>此《內經》之旨，聖人立言簡切，而總括無餘。世人不悟，視為尋常，能於此處等處著眼，則診視之要訣思過半矣。予之臨證診視，無論凶吉，則多中者，亦不外此。第意之所至，口莫能宣。竊詳經所謂大小緩急者，亦發而不露之意。蓋大即浮洪類也，小即沉細類也，急即數也，緩即遲也，何若竟易以浮沉遲數之為得乎？再以節庵之有力無力，辨其表裡虛實，誠診視小兒天然不易之妙訣。夫節庵亦一常人，而能以有力無力，辨其陰陽表裡寒熱虛實，雖至顯淺，至平易，亦至確當，豈真古今之人不相及耶。</p>
<p><u>四脈主病</u></p>
<p>浮脈主表（病在外），沉脈主裡（病在內）。遲脈主臟（病為寒），數脈主腑（病為熱）。四至五至為遲為寒，為不足。七至八至為數為熱，為太過。</p>
<p>浮遲外寒，沉遲內寒，有力實寒，無力虛寒。</p>
<p>浮數外熱，沉數內熱，有力實熱，無力虛熱。</p>
<p>主症：浮而有力，風熱；無力，陰虛。沉而有力，痰食；無力，氣滯。遲而有力，為痛；無力，虛寒。數而有力，實熱；無力，瘡瘍。</p>
<p><u>總括脈要歌</u></p>
<p>太淵一指定安危，六至中和五至虧，七八熱多三四冷，浮沉遲數貴詳推，有力為陽為實熱，虛寒無力里何疑，若能留意於中取，何至望洋泣遠岐。</p>
<p>浮而有力實兼風（風熱皆陽，表之實也）。無力陰虛汗雨濛（陰津妄泄，表之虛也）。有力而沉痰食害（痰凝食滯，結於裡也）。沉而無力氣凝胸（氣滯於中，不運化也）。遲而有力多為痛（浮遲外痛，沉遲內痛）。無力虛寒氣血虧（氣弱血衰，至虛之候）。數脈熱多終有力（數而有力，實熱何疑）。瘡痍無力熱虛攻（陰虛受傷，虛熱所致）。</p>
<p><u>脈證宜忌歌</u></p>
<p>脈浮身熱汗之松（陽邪居表，熱從汗解）。沉細身涼莫強攻（無論表裡，不堪攻伐）。咳嗽正嫌浮帶數（浮緩為宜，浮數大忌）。細沉腫脹定知凶（脾胃虛寒，愈不運化）。</p>
<p>沉遲下痢方為吉（氣血俱傷，最嫌洪數）。洪數偏宜痘疹逢（陰陽充足，毒不能留）。腹痛不堪浮有力（三陰受病，浮則反常）。浮洪吐衄總無功（陽火太盛，陰血愈傷）。</p>
<p>陶節庵曰：診脈之要，無論浮沉遲數，但於有力無力中分別。有力者為陽，為實，為熱；無力者為陰，為虛，為寒。至哉斯言也，後賢無忽。</p>

<h1>初誕救護</h1>
<p>小兒初生，或不能發聲，謂之夢生，多不知臨時救急辦法，甚為可憫。切勿斷臍帶，速用磁盆盛溫水，將胞衣泡入，用手緩緩摟之，使暖氣漸漸入兒腹，再以熱湯燙洗臍帶，即能回陽氣而發聲也。若溫熨後猶不發聲者，即取貓一雙，以布袋裹其頭足。使伶俐婦人，拿著貓頭，向兒耳邊，以口齧貓耳，貓必大叫一聲，兒即醒而發聲，此時方可剪斷臍帶。或用老蔥煎半熟，向兒臀部打之，亦能發聲。又有因難產，或冒風寒，舉之遲，兒氣欲絕，不能啼者，臍帶胞衣亦按前法溫暖之，令暖氣入腹，氣回即蘇，再以父母之口氣呵而接之。凡斷臍帶，世俗皆以刀剪斷之，最為不妥。但用大紙捻蘸香油，燃火於臍帶上燒之令斷。蓋所以補接陽氣，不但為回生起死之良法，並且日後無傷寒泄瀉之患。初生腎縮，亦受寒氣所致，用硫黃、吳茱萸各一錢，研成極細末，搗蔥取汁調膏塗小腹，另以蛇床子燒煙燻之即伸。</p>
<p>悶臍生者，在小兒糞門有一膜，悶住腸氣，則不能出聲，拍之則膜破而啼矣。又有輕巧婦人以銀簪輕輕挑破，亦甚方便合宜。或不能挑，急以曖衣包緊，勿令散放，以熱水浸其胞衣，寒天則以火炙之，久則熱氣入腹而氣內鼓，其膜自破，聲自出矣。又有生下無穀道者，乃肺熱閉於肛門，急以金銀或玉簪之物，向肛門正中谷道刺穿之，或以火針刺穿，但不可刺深。以中空油紙捻套住，免其再合。兒初生下遍身如魚皮，或如水晶，破則流水，以密陀僧研成極細末搽之即愈。初生遍身無皮俱紅肉，急以稻米粉干撲之，候其皮生全則止。初生大便小便不通，腹脹危急，令婦人口含熱水，吮兒之前後心，及臍下手足心共七處，每一處吮吸七口，至肉色紅為止，須臾即通。初生尿閉，以蔥一根切碎，以人乳半杯同煎，去蔥取乳分作四次服之，尿即通。不吮乳者，服此亦即吮乳。除此方法外，尚有兩個很有效驗的方法列在下面：</p>
<p>一、小兒初生大小便不通，腹脹危急欲死。可急用大田螺一個，一兩上下者，連皮搗爛，塗在兒臍下，一刻即大小便均通矣。此法可謂真神方也。</p>
<p>二、若小兒只是小便不通，芤草鮮者一兩，與乳同煎，而後去芤草取乳，令小兒吮之小便即可通。此法較蔥法不但無辣味，力尤快大也。芤草若無鮮的，乾的亦可。</p>

<h1>調燮須注意</h1>
<p>小兒初生，飲食未動，胃氣未開，廓然清虛之府，宜乘此時加意調燮。小兒未啼之時，令精巧婦人用指輕輕探兒口，挖去汙血。急以甘草湯，用軟帛裹指蘸湯，拭去口中涎沫。然後看兒面色，若身面俱紅，而唇舌紫者，知其必有胎毒。每日用鹽茶，但不可太鹹，以帛蘸洗其口，去其黏涎，每日須五六次。此法至神至聖，世所不知。蓋兒之胎毒，藏於脾胃，口中多有黏涎，其馬牙鵝口，重舌木舌，皆從此起。每日洗拭，則毒隨涎去，病從何來，而且至簡至易，何忽視而不為。倘胎毒重，直須過周歲，方得用此法，有胎毒者之調燮也。蓋周歲後，頭面滿起紅粒或帶白尖，始能發現於外表。倘兒面唇淡紅，此為胎寒，惟以淡薑湯洗拭，每日一二次足矣。蓋姜能開胃而且和中，最利於實用者。至於古方之用黃連、大黃、硃砂、輕粉開口之法，此時斷不可用。今時稟受十有九虛，若寒克削最不相宜。況嬰兒初誕，如蟄蟲出戶，草木萌芽，卒遇寒雪嚴霜，未有不為其摧折。以苦寒而入初誕兒之口，亦若是也。每見三朝七日，必有腹痛嘔乳，液瀉夜啼之證，是皆苦寒傷胃之害，其孰能知之。或曰：子言苦寒不可用於初誕兒之口，何以後之沆瀣丹及瀉青丸，有三黃大黃，得無矛盾乎？曰彼胎毒已現，外證可憑，有病病當，何大黃之足畏。今初誕開口，未辨毒之有無，即使有毒，尚然未發，深藏潛伏，聲臭俱泯。程鳳雛有言：安輯閭閻，必誅冠盜，未可抉平人而誅之，日爾將為寇也。以苦寒而開口，是誅平人也。毒發而畏寒，是有寇不誅，鄉原之仁，烏乎可也。</p>

<h1>臍風症論</h1>
<p>臍風不由六腑起，為五臟之直中症。其起病的時期，初生至七日內。七日外所現的病，即不屬臍矣。臍風初發，小兒吸乳必較前口松，兩眼角挨眉心處忽現黃色，漸至鼻部，口即微撮，微現吹噓狀。若再下行至環口，唇口即緒緊，舌頭強直，故有撮口噤口縮腹等象之惡候也。蓋臍為通氣之總竅，五臟之寒門。兒在胎元之時，五官雖具，呼吸尚未能通。唯臍間能通真氣，隨母之呼吸為呼吸，借臍帶胞衣相連，以資生長也。及兒落生，呱啦一聲，氣始通其口鼻。故臍之於小兒，關係最為至要，斷臍帶時，不可不慎。或剪臍帶時留的太短，或結束未緊，或洗兒時水不溫暖，或收拾動作時間過久，均足以致邪風、寒氣、水分，侵入其中。內熱外寒相激，兒之抵抗能力尚自薄弱，外邪每乘虛而入，內傷於脾，脾傳於肺，肺傳於心胞，心胞傳於肝，肝傳於腎。小兒體尚脆弱，病毒不能久在稚體中蘊蓄，故一外發，即成臍風，因其病毒由臍而來也。其症象大別之如下：面赤啼如貓叫聲直者，心包受病也；手足抽搐目斜天吊者，肝經受病也；唇青口松痰涎壅塞者，脾經受病也；牙關緊急舌短腹縮者，腎經受病也；啼哭不止喘急鼻煽者，肺經受病也。凡五臟之見症，僅有一二髒髮現病形者，尚可療治；若五臟病形悉見者，無法療治也。蓋嬰兒初生，臍風最為惡候，以其發之驟。一經發動，險象環生，臨床施治，萬勿忙亂。須先求其致病之內因外因，由外因而得者，先辨明寒熱，再辨風濕。若小兒肚腹脹滿，遍身作燒，撮口吐乳，或吮乳口松，多啼不乳，大便不通，小溲短赤，或無小溲，此是臍風初起之候，宜速用清熱利水解感通絡等法治之。病毒尚在脾肺，猶易措手也，藥方列後：</p>
<p>川錦紋（七分）　條黃芩（八分）　龍膽草（五分）　生梔皮（一錢）　細木通（一錢）　酒川芎（五分）　連翹殼（一錢）　赤芍藥（八分）　薄荷葉（五分）　川黃柏（七分）　廣陳皮（一錢）</p>
<p>前方用水一茶碗，煎成小半茶碗，頻頻與兒灌之，即可奏效也。以該方之用黃芩，能清上焦之熱，黃柏能清下焦之熱，大黃可清中焦之熱，又藉其有推陳致新之功、活血治煩之力，膽草、梔皮能導三焦之鬱火，從大腸而瀉出。猶慮苦寒之藥，性或凝滯，加以陳皮、枳殼之類，散滯行氣，利痰飲為之佐使。復用川芎、薄荷，引頭面之風邪，從高而下趨，連翹解除煩熱而消毒，赤芍可調榮活絡，木通利水通膀胱氣而舒郁。此方用之，大可清熱解毒，清血通氣，又能引邪火從大便小溲而去也。若至氣喘急，啼聲不出，涕淚皆干，面上青筋瞤動，是病毒傳入心肝腎三臟。小兒必至噤口鎖肚，目瞀神昏，四肢抽搐，由熱毒而轉成寒毒之象，病毒深入。惟有速服指迷七氣湯，直攻氣道之壅塞，疏利血分之病毒，使其氣通濕化風散寒解，清升濁降，陰陽回覆，始有挽救之望也。萬勿看藥性峻利，疑畏不敢令兒服食。試思症象險惡至此程度，不服藥兒亡可立待，何如服之以希萬一也，藥方列下：</p>
<p><u>指迷七氣湯方</u></p>
<p>治一切腹寒痛多啼、不乳等症，皆由陰陽不能升降，氣道壅塞而然。是方溫運疏利臟腑，通氣化溫解散凝寒也。</p>
<p>酒炙蓬莪朮（五分）　小青皮（五分）　藿香葉（八分）　廣陳皮（一錢）　苦桔梗（一錢）　香附（七分）　上肉桂（三分）　公丁香（二分）　益智仁（六分）　法半夏（八分）　炙甘草（三分）　老生薑（二分）　大紅棗（二個）</p>
<p>以上各藥，用水一茶碗半，煎至半茶碗，母子同服，可轉危為緩，若肚臍已現青腫，撮口不動，或牙關緊急，口吐白沫，爪甲青黑者，是血已停止運行，立即云亡，即可不必用藥施治也。若無前條之症象發現，只有吮乳不利，口吐白沫，啼聲漸小，舌上起紅粒如粟米狀，大便小溲不通者，先以食指裹粗布蘸濃茶汁，輕輕將紅粒擦破，見血才好。如上齶亦見紅點子，亦同與擦破，然後再灌以第一個藥方，即能見效，萬不可再服第二個指迷七氣湯藥也。蓋此時以症象論，病毒尚在脾肺，有漸進肝臟之趨向，尚未攻入腎，病毒未至厥陰至深之候，不能由熱轉寒，用通氣回陽法，溫以解之也。至於內因，是屬先天遺傳性的。嬰兒未出世以前，息息與父母相關，遺傳性的關係甚大。若其父母平時不能修身節欲，嬰兒落生後，未有不發生胎毒者，是其明證也。所以其父母若淋病，或花柳病，嬰兒在胎胞中即伏毒根，毒與身體俱長，待至落生後，乍與外界的寒濕風邪相接觸，雖有起臍風之可能性，然嬰兒若稟賦甚茁壯，即具有天賦的抵抗病毒之能力，能在嬰兒體中隱伏，至一月後再外發，作胎毒各病型，可以躲過臍風之惡候，自較救治尚易為力。或病毒蘊於嬰兒體中，能到一歲以外。因年齡的增長，身體日見堅實，抵抗的力量，自然愈大。此時之病毒能向外趨，作皮膚外之種種瘡瘍。診治得法，亦可化險為夷，更無所謂臍風也。若診治失時，或不得法，不知清其內毒，一味在皮膚外注意，作瘡毒之治療，是必遏截病毒的出路，不得解散。已自行外現之病毒，復轉而向內攻進，即起痙攣抽搐，俗所謂驚風者也。若嬰兒在胎胞中，受有遺傳性毒的影響。降生以後，體質復形虛弱，不能任受外界之寒濕風邪所侵襲，焉有抵抗的能力。外邪即其虛而乘之，致引起內蘊之毒，發之最烈。一二日間，即起臍風，象候凶惡，朝發夕死，每不及救治也，蓋至此而發為臍風，五臟已均感受病毒，真是絕症。故外因而起之臍風，尚可按臟施治，治之合法，十幾可愈六七人。若臍風由內因而起，即萬一的希望亦無也。</p>
<p><u>瀉青丸方</u></p>
<p>錦壯黃（五錢）　黑山梔（二錢）　酒川芎（錢半）　炒枳實（三錢）　北防風（三錢）　酒羌活（錢半）　當歸身（三錢）</p>
<p>以上各藥，其研細末，煉白蜜為丸，如梧桐子大，以青黛為衣，每服一錢，白開水送下。</p>
<p>此方專治表裡均熱，能表裡兩解，一切停食、停乳，兼感冒等症，皆能有神效也。</p>
<p><u>沆瀣丹方</u></p>
<p>此方治小兒一切胎毒、胎熱、胎黃、面赤目閉、鵝口、口瘡、重舌、木舌、喉閉、乳蛾、渾身壯熱、小便黃赤、大便閉結、麻、疹、癍、瘰、遊風、癬、疥、流丹、癮疹、痰食、風熱、痄腮、面腫。近有能者，自出化裁，而增損之，遂為幼科而一無二之神方，作三焦之主治。蓋凡臟氣流通者，必不鬱滯，或受毒於妊前，或感邪於誕後，遂爾中氣抑鬱，則見以前諸症。方內所有黃芩，清上焦之熱，黃柏，清下焦之熱，大黃，清中焦之熱，又藉其有推陳致新之功，活血治煩之力，能導三焦鬱火，從魄門而出。猶慮苦寒凝膩，加檳榔、枳殼之類，散滯行氣，利痰為佐。用川芎、薄荷，復引頭面風熱，從高而下趨，連翹解毒除煩，赤芍調營活血，牽牛利水走氣分而舒郁，滑石清潤抑陽火而扶陰，又能引邪熱從小便而出。用治以前有餘諸症，應如桴鼓。予生平最慎攻伐，惟此方用之最久，神效莫能殫述，真濟世之良方也。</p>
<p>杭川芎（九錢，酒製）　錦壯黃（九錢，酒蒸）　厚黃芩（九錢，酒炒）　實黃柏（九錢，酒炒）　黑牽牛（炒取頭末，六錢）　薄荷葉（四錢五分）　滑石粉（水飛，六錢）　尖檳榔（七錢五分，童便洗曬）　陳枳殼（四錢五分，麩炒淨）　連翹（除去心隔取淨，六錢）　京赤芍（六錢，炒）</p>
<p>上十一味依方炮製和勻，焙燥研極細末，煉蜜為丸，如芡實大。月內之兒每服一丸，稍大者二丸，具用茶水湯化服。乳母切忌油膩。但覺微有泄瀉，則藥力行，病即減矣，如不泄再服之。重病每日三服，以愈為度。此方並不峻厲，幸母無疑畏。惟胎寒胎怯面青白者忌之。一曰鎖肚，由胎中熱毒壅成，結於肛門，大便不通。急令婦人溫水嗽口吮啃之，前後心並臍下及手足心共七處，凡四五次。再以玄明粉五分研末，蜂蜜少許，溫水調服，以通為度。如便不通，以蔥白三四寸長，用油抹潤，輕輕送入穀道，納入約一寸，以通為快。若猶不通，可用田螺肉一兩，加蒜一瓣，共搗勻做一餅，貼臍下半寸地方，一點鐘即通。不過此方力量甚大，用時斟酌。若至七日不通者死。古人之論臍風，皆謂由於水濕風冷所致，予則以為古論猶未盡也。蓋臍風有內外二因，有可治不可治之別。外因者風濕所傷，內因者稟賦之真陽不足也。予嘗見一婦產育十數胎，皆男，盡傷於七日內之臍風，無一存者。若謂外邪所傷，何以獨傷此婦之兒，又豈無一兒能避之者，此內因之顯而易見也。凡男子之命門真陽平足者，右尺脈必細澀無神，降生必有臍風，此予察之詳，見之確，非耳聞者比也。其外因者，病發於三四五日之間，病發於六腑故可治；內因者，病發於六七日之間，病生於五臟，故不易治。曩者夏禹鑄有預防臍風之訣，謂三朝一七，看兒兩眼角發黃必有臍風。不知稟受厚者，生下即滿面紅黃，乃為吉色，誤認臍風，其害不小，此法不確。惟命乳母每日摸兒兩乳，乳內有小核，是其候也。然兩乳內有核發臍風者固多，而亦有不發臍風者，此法十有八九不確。但看小兒不時噴嚏，更加多啼哭，吮乳口松，是真臍風候也，急宜治之。第臍風之治，無一成法可遵，雖有疏風攻下之法，莫能濟急。唯有臨時用針刺少商穴，令其見血；再用白砂靈丹，敷鼻孔內，使其作嚏，以救危急，另謀用藥治之。無論臍風抽搐，以及凶險症，用藥不能挽回者，此法可以生之，久經效驗未肯傳。因見幼科不知此法，往往錯誤用之，反致引動風邪，固蔽火毒致兒身熱不退，火毒內攻，每多不救，故不忍秘，盡行吐露，以公諸同學也。世之幼科治病，輒曰剪風，曰截風，夫剪者邀遏之謂也，截者堵塞之謂也。不先以針刺用於少商，開脈所行之地，豈非堵遏其邪，而但關門逐盜之謂乎。不知風邪之在人身，善行數變，無形無聲，欲除其害，無知疏散條達而去之，不使久羈於營衛與經絡則善矣。如仲景之治傷寒，而立汗吐下三法，邪之在表者汗解之，邪之在上者吐而越之，邪之深入者下而滌之，總欲其邪盡而後已不，未聞有邀截而能愈者。今幼科不但為逐邪，至反閉關絕險，阻其去路，使邪氣退不可，進不得，猖狂躑躅，欲其不倒刃相攻，斬關逆犯者，不可得也。此皆為治者釀成之禍，於邪何尤。凡邪之傷人，未有不從三陽而入者，治法亦必使其三陽而出，故此症亦由三陽解之。蓋欲引其出表，斷不使之入里也。其白砂靈丹列後：</p>
<p><u>白砂靈丹</u></p>
<p>此方專治小兒急驚風，大驚猝恐，痰火壅閉，四肢絕逆，臍風撮口，鵝口木舌，傷風霍亂，上吐下瀉，腹痛頭疼，中暑受熱，不省人事，或斜視天吊，反引抽搐等症，開竅定驚止痛最快。此為秘方，同學得之，不可輕傳。聞服兼可，聞用少許，服用四釐。</p>
<p>生半夏（二兩）　生貝母（一兩五錢）　西牛黃（四分五釐）　真硼砂（五錢）　原寸香（四分五釐）　梅冰片（四分五釐）　原蟾酥（五錢）</p>
<p>以上七味藥，共研細末，過極細重籮，瓶裝不可泄氣。</p>
<p>又方治撮口、臍風、鎖肚，辰砂殭蠶散。</p>
<p><u>辰砂殭蠶散方</u></p>
<p>辰砂（水飛，五錢）　真殭蠶（一錢，炒）　天竺黃（五分）　蚌珍珠（三分）　真麝香（一分）</p>
<p>以上五味藥，共研細末，裝入瓶內，不可泄氣，每用少許，蜜調抹於小兒之口內。</p>
<p>又方治身熱、臍風、撮口，龍膽湯。</p>
<p><u>龍膽湯方</u></p>
<p>龍膽草（五分）　鉤藤（一錢）　北柴胡（五分）　片薑黃（五分）　京赤芍（一錢）　炙甘草（三分）　苦桔梗（一錢）　白茯苓（五分）　川大黃（紙包煨，一分）　大紅棗（一枚）</p>
<p>以上十味，水煎溫服。</p>
<p>又單方治撮口，用牛黃一分研末，竹瀝調滴入口中即愈。</p>
<p>又單方治撮口，用穿山甲（用尾上甲三片，羊油炙極黃）　蠍梢（一個），共研細末。以乳汁調塗乳上，令兒吮之。用厚細衣裹包須臾，汗出即愈。</p>
<p>又方治胎毒、鎖肚、口噤，保生湯。</p>
<p><u>保生湯方</u></p>
<p>北防風（七分）　陳枳殼（五分）　小橘紅（四分）　白茯苓（三分）　荊芥穗（三分）　遠志肉（四分）　制南星（五分）　苦桔梗（二分）　炙甘草（二分）</p>
<p>燈芯少許作引，水煎服。</p>
<p>又方治臍腫突出，二豆散。</p>
<p><u>二豆散方</u></p>
<p>紅飯豆（一錢）　淡豆豉（一錢）　天南星（一兩）　鮮白蘞（一錢）</p>
<p>以上各藥共研細末，再以田芭蕉擠汁，少加香油調藥敷臍四傍，小便順利即愈。</p>
<p>又方治臍生濕瘡，龍骨散。</p>
<p><u>龍骨散方</u></p>
<p>石龍骨（煨，一錢）　真輕粉（五分）　川黃連（一錢）　枯白礬（煅，一錢）</p>
<p>共為末干搽。</p>
<p>又方治臍生濕瘡。即用大紅洋絨燒灰為末散，敷之即效。</p>

<h1>初生後小兒之雜症治法</h1>
<p>小兒初生面紅啼哭不止，此心胞與膽經有熱，是在胎元時感受母熱所致也，宜急治之。如過三日有成臍風可能性，即不易治也。今將藥方列於後：</p>
<p>炒枳殼（四分）　炒山梔（四分）　炒扁柏葉（四分）　炒川連（三分）　黃柏（二分）　生甘草（二分）　薄荷葉（四分）　水煎去渣，入白糖少許，調成二茶匙，以鴨毛掃其舌之上下左右數次，看小兒面色變淡紅色，始能止藥。或用吳茱萸四錢，研細末陳醋調成糊，敷小兒兩足心，日換數次，過一夜引火下行即愈，此法最妥妙也。</p>
<p>小兒無故不吮乳，啼哭不止。是脾不運化，腸氣調節遲滯，以致腹痛也。治法通其腸氣，脾氣隨之運化，腹痛即可立止。方列後：</p>
<p>臺烏藥一錢煎濃，用白布裹棉花作乳型，蘸藥汁令兒吮之即愈。</p>
<p>小兒夜啼不止，是因穿蓋過暖，忽起內熱，或與父母同床，為父母體熱所炙。因之生熱者，清熱即安。用方列後：</p>
<p>小生地（八分）　嫩黃芩（六分）　生甘草（三分）　細木通（五分）　燈芯（五寸）　竹葉（四片，為引），用水煎成半酒杯，用茶匙緩緩與服，過夜即愈。或用前吳茱萸末醋調，敷兒兩足心，引火下行法亦妙。又方用蟬蛻七個，去足頭取下半截，炒研末，再以薄荷三四分煎水調服，立止如神。又方若啼時面赤者，心包熱也，用青黛三分拌燈芯十寸煎服即愈。</p>
<p>若看小兒啼久，面色青白、手足冷者，是外寒激住內熱，熱不能外泄，轉向里攻，恐致起驚，應用解寒引熱外行法治之。藥方列後：</p>
<p>鉤藤鉤（五分）　廣木香（三分）　杭白芍（五分）　明天麻（四分）　當歸身（五分）　朱茯神（五分）　生薑（一片）　紅棗（一枚，為引），用水煎濃作半酒杯，頻頻令兒飲之，即止啼平復也。</p>
<p>曲體啼哭不止者，是直中寒邪腹痛也。應用方列後，系外熱熨者：</p>
<p>淡豆豉（一錢，搗碎）　生薑（一錢，切碎）　蔥白（一寸，切碎）　炙甘草（五分）　小茴香（五分）　同鹽一兩炒熱，以布包熨兒肚上，立能止啼止痛也。</p>
<p>小兒初生面目黃色，漸及遍身均發黃。此在胎元即受濕熱，落生後又復感濕氣，外濕引內濕，而發此症象，名為胎黃。由脾濕熏蒸，膽受之而汁溢所成也。治方列後：</p>
<p>炒山梔（八分）　天花粉（八分）　綿茵陳（一錢）　淡豆豉（一錢）　水煎成半酒杯，緩緩與兒服之，即可黃退身安，此方甚為神效。小兒滿身起紅點奇癢，啼哭不止，是血熱受風也。應用方法列下：</p>
<p>小生地（八分）　炒芥穗（七分）　北防風（七分）　炒山梔（八分）　赤杭芍（分）　水煎成半酒杯與兒服。外用紫浮萍（二錢）　滑石（三錢）　共研細末，用夏布包之搽兒遍身面各處，即紅消癢止平復如初也。</p>
<p>頭縫不合，名為解顱，此腎氣不足也。法宜助陽補腎。方列後。</p>
<p>乾薑（七錢）　細辛（三錢）　肉桂（五錢）　以上各藥共研細末，用陳醋和成餅狀，敷在頭頂下陷處，一時後小兒面上現赤色即愈。</p>
<p>小兒初生兩眼赤紅腫爛，是胎中受熱，落生後復感外風，以致成此症象也。治法用蚯蚓泥（即曲鱔糞）用飲過茶的茶葉搗化，敷兒囟門上，干則再換，不過三四次即愈。又方用生南星、生大黃，等分為末，醋調塗足心，引火下行，隔夜亦愈。若胎熱太重，或稍延時日，腫爛之勢漫延，用前兩方不能即愈者，尚須服煎劑方能收功。藥方列後：</p>
<p>小生地（八分）　赤芍藥（八分）　酒川芎（五分）　龍膽草（六分）　生梔衣（六分）　燈芯少許為引，用水煎濃汁，緩緩灌之，藥渣可再加水煮汁一酒杯，與兒蘸棉花輕洗兩眼患處，其腫自消，赤亦自退。</p>
<p>小兒兩腮腫硬治法。新產嬰兒，小月以內患噤口不乳，啼聲不出，兩腮腫硬有核，名曰螳螂子，又名痄腮。若不急治，腫延喉鼻，即不可救矣。此症是胎毒兼內熱，又感時邪所致，萬勿用外科剖割法治療。此是內科症也，一經用刃，恐致傷命。治法當用外敷內服兼施，始克收效也，外敷用田螺七個，麝香少許，硃砂五分，共搗如泥，貼囟門上，俟干自落，切勿剝去。再用銀針微刺腫硬處，擠出惡血，以甘草研末水調糊之。若有鮮蒲公英，或鮮水仙花下的白根，搗溶貼之尤妙。其內服方用清熱、解毒、消腫、通絡法治之。方列後：</p>
<p>生蒡子（八分）　生甘草（四分）　青連翹（一錢）　薄荷葉（五分）　冬桑葉（八分）　以上各藥共用水半碗，煎成半酒杯，慢慢與小兒服之即愈。</p>
<p>小兒口腫並生馬牙治法。小兒口內腫起如菌形者，名曰乳菌。牙齦生白泡者，名為馬牙疳。致使兒不能吃乳，法以指蘸甘草水，再裹上青布，輕輕搽之，看腫處及白泡出血為度。用棉拭去血，敷上青黛面即愈。極重者，以殭蠶（三條，去絲去嘴），人中白（四分），冰片（一分），共研細末擦患處。略停片刻，用茶水洗淨，棉花拭乾再擦，一日三四次行之自愈。如未愈方中加入硼砂（三分），血竭（三分），青黛（三分），兒茶（一分五釐）等藥面，每日洗擦三四次，無不愈者。</p>
<p>小兒百日內，口生白點不計其數，用布拭之則去。滿口纏遍，內竄入喉，日夜啼哭不乳，俗名云口，即是鵝口疳。速用黃連（五分），紫地丁（五分），煎湯以指裹綢蘸湯拭去，再敷上益元散，即不再發。若再用益元散（一錢），加燈芯竹葉少許同煎，澄清灌服，以清內裡熱毒尤妙。又方用芙蓉花、真青黛同研細末，白點擦破後敷之，亦甚效。</p>
<p>小兒口角流涎，濕浸環唇，均成赤紅，漸漸濕爛，此脾經寒也。此時小兒糞溏，小溲清長，應用溫脾利濕通氣法治之。藥方列後：</p>
<p>白朮（五分）　青皮（五分）　炮姜（五分）　法夏（一錢）　丁香（一錢）　共研細末，米湯為丸，如小米大。一歲以下小兒每服十丸，米湯送下，服完自愈。若症象如前，而大便燥結，小溲短赤，吐乳帶酸味，夜不安睡者，是脾熱也。脾經濕熱蘊蒸，氣不運化，胃亦滿滯，故乳不消化而上溢。其治法可應用下之方：</p>
<p>滑石塊（八分）　扁豆衣（一錢）　細川連（五分）　廣陳皮（五分）　雞內金（一錢）　燈芯竹葉（少許）　共用水半茶碗，煎成一酒杯，緩緩灌之即愈。</p>
<p>小兒百日內喘急咳逆，胸部高起者，症名龜胸。是肺感外邪失治，腫脹發炎也。此症甚緊急，不容緩治，稍延即起肩息，全身之神經立即緊張，而起拘攣，頃刻無救矣。治法須用猛烈速效藥，以謀挽回其生命。萬勿恐藥性峻，不敢與兒灌服，致遺後悔也。藥方列後：</p>
<p>酒川軍（五分）　生石膏（八分）　杏仁泥（一錢）　細木通（七分）　炙麻絨（四分）　生甘草（四分）　法半夏（七分）　杭白芍（一錢）　葶藶子（五分，布包）大紅棗（三個，去核）　以上各藥共用水一茶碗，煎成小半茶碗，頻頻灌之。肺中痰降，氣自通順，熱清炎去，症自能愈也。</p>

<h1>嬰兒護持得法可以避病說</h1>
<p>嬰兒之初生，肌膚未充實，氣血本薄弱，但能寒暖適宜，肌飽調勻，飽食酣眠之外，別無所事。護持得法，軀體自然日見其肥碩。所謂苟得其養，無物不長也，如此者焉受病。故嬰兒之襁褓，宜用舊絮，護背宜稍厚，蓋五臟均繫於背也。不用新絮者，防傳熱引起內火也。平素亦不可過暖，更宜使嬰兒常見風日，俾其肌膚日漸緻密，氣血日漸強實。若將嬰兒藏於密室，臥於重幃深帳之中，或衣厚太暖，則骨肉軟脆，不任風寒。偶然抱之外出，每為外間風露所欺，多易致病。至於嬰兒之哺乳，亦不宜過飽，總使少欠為是。俗語：「忍三分飢，吃七分飽，謹護肚臍，少洗澡」。皆至理名言也。又須慎選乳母，身體清健，不犯七情為合格。蓋嬰兒藉乳以養生命，關係甚大。善為乳母者，夏季避其熱，熱則致兒吐逆；冬季避其寒，寒則致兒感冒咳嗽。食怒乳則兒逆氣胸滿，食醉乳則兒身熱腹痛。新房而乳，兒每瘦瘠，骨軟行走遲慢。兒啼未定，即與乳哺，易致氣逆，乳不消化，停滯胸膈結為痰飲，遂成壯熱。壯熱不已，乃發抽搐。有孕而乳，則兒黃瘦發焦，肚大腳小。總之，乳母能慎寒暑，避恚怒，不食厚膩炙爆，庶乳汁清和，兒不致病。否則陰陽不能燮和，氣血沸騰，乳汁敗壞，乳兒疾必叢興也。他若頻與兒服藥餌，則兒之臟腑必暗損傷，每由極細小之症，輒變成敗象，不易施行治療。育兒之家，不可不知也。又有沿習俗，於兒初誕之時，在兒頂額之前，頭髮之際，用姜艾炙之，或以燈火遍身燒之，萬不可用。彼等以為如此施行，可截風路，預防起驚。殊不知適足以大開風門，反能引風入內也。蓋用火功治療，有時兒得斯病，非行姜炙及燈火不可，是不得已而用之。若無故而用，伐及無辜，則諸病自茲始矣。其外尤有數條保護小兒法則，乳兒之人，若能依法行之，則兒自易壯實，百病不生也。一凡浴兒時，須調和浴湯，試看冷熱，若溫度不和宜，每易使兒怖畏而生病。過冷傷兒營，過熱傷兒衛。浴時更不可過久，兒之脊背尤當注意護持，恐外間風寒，從背脊侵襲以成病也。一嬰兒後天以脾胃為主，故落生後必須與以乳食，以助其生長之機，但得飽食酣眠，其結果自然肥壯。乳食與小兒關係之大，有如此者，所以乳哺須有調節，有調節脾胃自然壯實。過其食量，則脾胃傷滯，消化不良，百病由此叢生矣。夏日乳不宜過溫，冬日不宜過涼，哺兒時須調和之。若系食乳母之乳，有不相宜時，乳母亦須服藥。調和其溫度，而後與兒食。凡乳前不可與食物，乳後尤不可與食物，蓋小兒脾胃薄弱，一經乳食並進，終至難於運化。初能成積，久則成痞成疳，藥治不易措手。是皆為乳母者，不慎之過也，一小兒衣服不可過暖，以養成兒體有抵抗外界之力量。寒則加衣，熱則減衣，總使寒熱合度。過熱則汗泄，而腠膚舒張，以致風邪易入，疾病乃生。更忌解脫衣褲當風，恐致感冒傷風。然風日清和，園林等地，又當抱兒出遊，以悅心目，兼得養氣，俾兒易於生長，萬勿將兒格置陰濕草地，不見風日，致兒脾腎受寒濕，腹痛瀉泄也。</p>

<h1>藥餌不可輕服論</h1>
<p>小兒之臟腑薄弱，百骸四肢均未長成，本不可輕與服藥。蓋草木氣味不純，金石之性更較霸烈，原非脾胃嫩脆者所宜。況問切不能真確，焉能知疾病之所在。惟憑望色以追尋病能，細心診察，始能證明病之地位及程度，用歷久的經驗，臨床以施治。毫療釐千里，藥餌豈易服哉。粗疏庸愚之輩，不明生理，不知病能，何能辨別虛實寒熱，欲其識症無差，用藥無誤，殆不易得也。故凡有微小的病症，為其父母者，切不可倉忙憂急。但令哺兒之乳母，嚴戒油膩葷酒，使其乳汁清和，小兒吮其乳，腸胃先得清和，兒體的抵抗力量，立即回覆。二三日間，微小之病能，不藥自然痊愈。俗云：勿藥為中醫，旨哉斯言也。常見井市之人，不明生理，只知醫藥能治病，而不知醫藥亦能加病。小兒偶有不活潑症象，即忙覓醫服藥。遇醫之練達者，或不致誤；庸愚者自以為是，每以通套克消藥，或治風疾的驚風藥治之，是本無病之中生出有病，伐及無辜，病反加重。為父母者見其無效，必再更醫治療，如此粗率，焉能遇見高手。惟有相與任意猜度，曰風、曰痰、曰驚、曰熱，前服之藥，性未行開，後服之藥繼至。寒熱亂投，雜亂無章，甚至日易數醫，各為臆說，不同性之藥疊進，刻不容緩。如是之治病，小兒焉能有命也。嗟乎？藥性各異，見識不同，嬌嫩的腸胃，何堪此無情之藥味，擾攘於腹中。不必病能傷人，而醫藥即可以死之矣。況小兒之體質，與已長成熟的成年人不同，小兒的身體易實易虛。言虛者，正氣易於虛也；言實者，邪氣易於實也。然邪成之實，必乘正氣之虛。若不顧正氣之虛，惟逐邪成之實，其有不敗者幾希。例如寒能傷營也，但溫養陰營，風能傷衛也，惟辛調衛氣，只使營衛和平而宣行，則客邪不攻而自散。俾本身天賦之抵抗力，自行反抗而逐邪，則邪退而正氣安。小兒之微細病象平復，自然反回其健康也。故藥物之治療，必須細心詳察，非用藥物不能去病，始可擇其不甚猛烈，與氣血無大損傷者用之。不然者惟有不服藥，待其體躬的反應，得天然之抵抗，雖無顯著之功效，而可以不生遺患也。</p>

<h1>不經醫對病服藥之誤論</h1>
<p>小兒氣血未充實，一生盛衰之基，全在幼時，為其父母者，若不經心護持，大則夭亡，小則遺害終身，此飲食之宜調，而藥餌尤當慎也。今世之為人父母者，一見小兒有病，亦知著急。但吝惜財物，不為延醫療治，到藥肆述病狀以市藥，與兒服食以望愈病。或無醫藥常識，不知生理，妄作聰明，僅據俗傳之丹方，對症與兒服藥。如此之治療疾病，焉能得到圓滿的結果呢？況病有內傷外感之不同，虛實寒熱之各異，今欲執一種之丹藥，治複雜不同之病症，凡稍有識者，必知其不能去病，而反添病也。夫有是病，而用是藥，則病受之；無是病，而用是藥，則元氣受之。小兒之元氣薄弱，抵抗的力量能有幾何？無因受斯損傷，而變生不測，為父母者雖知悔恨，亦何補於事實也。茲舉數條不經醫治，自行與兒服藥之謬誤於下，使為父母者知所戒懼，於不知不覺中，保全小兒之生命，當不在少處也。常見有愛子者，因其黃瘦，無以為憂，輒以肥兒丸、保和丸之類，使之常服。不知肥兒丸中苦寒克消之品甚多，服久能敗元陽，能損胃氣，欲其兒肥也，適足以瘦兒：欲其保和者，適足以違和耳。又如抱龍丸之類降痰清熱藥，亦不可輕服屢用。一富家之兒，每多痰飲，時或驚叫不安。每遇兒有病，亦不論其何病，動以此丸一投而愈。彼時以為神丹，無此靈驗，連續與服數十次。及兒長也則一無所知，凝然一癡物而已。豈非暗損元神，寒品藉香味藥入知覺神經　所致也。又如市售之保赤散及救急散等藥，尤不可率爾與兒服用。該兩種藥均以巴豆霜為君，逐風降痰為佐，其性猛烈無比，服之在上可立吐，在下可立瀉。以之治兒停食痰積，偶一服之，去病甚快，尚無大害。若常服之，較前諸藥禍害尤甚。至對於有外感及時令傳染之癍痧痘疹等溫病，更絕對的為禁劑。一經誤服，溫毒外感立即內陷，症成不救。雖再服神丹，亦莫能使已內陷之外感溫毒，再行復出於外也。蓋保赤散、救急散，治內傷症及急驚風，或痰火實症則可，用其慓悍攻下之力，以盪滌其病。若虛弱之症及慢驚風，脾腎均已虧極，何能再受任此猛烈性之藥品。尋見病未能去，而元氣先脫也。故小兒一經證明有病，為父母者須謹慎將事，萬不可稍有遷就，或吝惜醫金。必須延請名醫，對症治療，雖病型已至絕境，終於不能救治，亦自無愧於心。不然是庸愚之愛，以為是藥均可治病，不管何項疾病，胡亂與兒服之，焉能有良善的結果。小兒有病身體即已受傷，而復用藥伐之，是欲保之，反而害之也。</p>

<h1>觀形象以辨壽夭論</h1>
<p>頭者諸陽之會，神經之總彙也。凡小兒頭角豐隆，腦髓足也。背者五臟六腑之總樞，五臟之系皆附於背，脊背之肌肉豐滿，知其臟腑足也。腹者水穀之海，腹肌寬厚，腸胃壯健也。目為肝竅，耳為腎竅，鼻為肺竅，口為脾竅，七竅無缺，健全之形象成矣。故因其健全的形象，知肉實者，脾必足；筋強者，肝必足；骨堅者，腎必足；不時言笑者，心足；不多啼哭者，肺足。哭聲連續不斷，是肺實有熱；不久睡眠者，是脾熱兼食滯而實。腳健而壯，項長而肥，腎囊小而黑，是根本固也；肌肉溫潤色澤，是營衛和也；額腮紅潤明淨，發黑如漆，是表氣實也；小溲清長，大便滋潤，是裡氣實也。凡以上各形象，皆是壽徵，其兒無疾，尤易長養。反之有以下各症形，其兒皆不易長成。如小兒在胎元中即遺傳其父母之淋毒、或梅毒及其他溫熱等病毒，雖不即時發現於外，然胎毒必不能久蘊藏於稚體中，終至呈現於外，頭面肢體發為濕瘡，身體形象亦不能完美矣。有頭顱腫大，囟門不合，頸項軟者，為毒氣熏蒸，陽不足於上也。諸陰皆起於下，足小腳踡者，陰衰於下。鼻孔乾燥，為肺葉虛枯，唇縮流涎，為脾弱不能攝津。頭稀而黃焦，為貧血象。目不明潤，耳中流出黃臭水，為腎虛受濕，毒蘊內腫也。青紫之筋，散見於面者，多病風熱。更兼體瘦形枯，面色灰白暗淡者，其表必虛。瀉利無時嘔吐常有者，其里必虛。瘡疥啼哭，及睡眠中手腳時動者，是內熱毒盛，症將外現之候。凡以上各形象，皆夭象。其兒多病，不易撫養也。</p>

<h1>望形色審苗竅知表裡寒熱虛實說</h1>
<p>四診為望聞問切，此固醫家之不可少一者也。然在大方脈則若是，而小兒科則以望為主，問繼行之，聞則又其次，至切則無矣。《經》云：切而知之之謂巧。夫小兒上肢甚短，無可著指。氣血未充實，六脈自不能準確，是切之無可切，而巧亦無所用其巧也。問而知之之謂工。小兒於未發言時，問之無可問；即於稍長能言者，問之亦多不能以真實清楚對，是問之不必問也，而工亦無所用其工。聞而知之之謂聖。小兒於初病時，其聲音或能不失其常態，至病日久而真氣喪失，氣既喪失，聲音焉能其真確，是聞之無可聞，而聖又何所見其聖也。況經又有曰：哭聲不響赴陰君。而亦有不赴陰君者謂何？無非聞其聲音，而預知其肺氣之絕與未絕故也。吾故曰：以望為臨床治療之唯一辦法，方可免對症錯誤之診治也。五臟之體隱而理深微，吾人當從何處致其望，以探明病的癥結之所在，行對病之治法。雖然體固隱矣，理固微矣，然發見於苗竅顏色之間者，用之無不周備；昭著於五官四肢之外者，無一不顯明呈露。其生理之隱微，病能的複雜，固均在吾人之一望中也。故小兒之病於內，必形於外，外者內之著也。望形象審苗竅，自能知其病之所在地位，及其病的形能。按病的地位及形能，分別表裡輕重，用藥細細治療，藥石見效之神速、未有不知響之應聲者也。內有五臟，曰肺，曰心，曰脾，曰肝，曰腎。五臟深藏體內，肌肉障礙，不能明瞭的望見。惟能望五臟之苗與竅，發現若何的色象，以定病在何臟，用何藥治療。故五臟之部位色象苗竅，均須探查明瞭，始能知病之在表在裡，或寒或熱，是實是虛也。此之探查，至為重要。今就經驗所知者，簡明解釋之如下：舌乃心之苗。就舌之色象以求病能，治療即有法可施。舌尖紅紫，心包有熱也。全舌紫紅無苔，熱盛傷陰也。口糜重舌，心腎之火毒上攻也。舌苔曛黑燥裂，心熱極盛，陰液枯竭，胃為熱毒蒸爛也。舌苔黃膩，胃滿有熱，濁氣不化也。舌苔白潤，濕盛傷脾，氣不能運行也。舌苔淡白，溫溫欲吐，心氣虛而兼胃有寒也。鼻準、牙齦與口唇，乃脾之竅，因其色象的不同，以定病之寒熱虛實也。臨床診治，自可作為根據。鼻準紅燥，脾實火上行。鼻準黯黃晦暗，脾為毒蒸，已呈敗象也。四肢漫腫，大便溏瀉，口淡食慾不振，脾弱濕氣凝結也。嘔吐腹痛，肢軟肌瘦，脾虛且寒也。久痢久瘧，面色萎黃，脾虛氣下陷也。肢體面目熏黃，口苦臍中時流黃水，脾熱侵膽，濕熱蒸為黃疸也。牙齦紅腫，脾胃兩熱也，牙齦破爛，脾胃火毒上攻也。口唇紫紅乾裂，脾熱傷陰也。口唇淡白而無血色，汗出不能止，脾虛氣將脫也。口唇左扯歪斜，脾阻痰飲，風邪乘之作患也。口唇黑如漆色，脾寒甚而絕也。鼻孔、目白球，乃肺之竅。鼻孔乾燥作癢，肺有風熱也。鼻塞聲重，肺感風邪也。鼻流清涕，自行連連噴嚏，肺客風寒也。目白球現紅色或紅絲，肺絡火鬱上升也。發頤腫脹，肺乘胃火作毒也。面色萎白，咳嗽自汗，肺氣虛不能固表也。兩耳與齒，乃腎之竅。耳鳴細如蟬聲，腎氣虛而上衝也。耳流臭黃膿水，腎經遺留溫毒，蘊而作腫也。兩耳鳴聲如鼓，頭重眼花，腎氣熱實，而鼓燙之也。兩耳偶然重聽，腎氣不和也。齒如豆黃，腎氣將絕也。齒枯而痛，腎氣不足，而結熱也。齒根潰爛腥臭，腎經濕熱熏蒸，毒隨氣上發也。齒根痠麻而軟，不能咬物，隱隱作嘔，腎氣濕而寒，上泛成痰飲也。眉目兩處，乃肝之竅，怒視而睛能轉動，頭昏而沉痛，肝風上潛也。直視而睛不轉動，或成天吊，肝將絕之候也。目發脹痛，酸癢流淚，肝熱外受風邪也。目眶酸脹，眉稜骨痛，見光則痛癢尤甚，肝經血虛，不足致養也。以目分別言之，又為五臟之總竅。目黑球屬於肝，純是黃色，凶險症也。目白球屬於肺，色現淡青，肝氣侮肺也。淡黃色而滯，脾熱有積，運化不靈也。老黃色而如橘皮之潤，乃肺阻濕熱，外發為黃疸症也。瞳球屬腎，無光彩而又兼發黃萎，腎氣虛血不能營之也。大眼角屬大腸，紅腫破爛，肺有風熱也。小眼角屬小腸，紅腫破潰，心包有火又感風邪也。上眼皮屬脾，腫脹而痛，脾傷熱也。下眼皮屬腎，發現青色，胃有寒凝也。上下眼皮，睡眠不能合緊，或露一線縫者，脾胃虛極，腎之陰液尤虧也。面有五官，部位不同，此五臟各有其部位之系屬。前額屬心，左腮屬肝，右腮屬肺，唇之上下屬於腎，舌之外邊，及唇之內，均屬於脾。五臟里也，六腑表也；其六腑為表，是對於五臟言也。若對於肢體皮膚，仍是里也。准此而論色象，以辨病能，在臨床時間，必能多得其效果助力。小腸為心之表，小溲短黃澀痛，知其心包有熱也。小溲清長不禁，知其心氣虛且寒也。胃乃脾之表，唇紅燥而嘔吐，胃經熱鬱，且兼滿滯也。唇色萎白，嘔吐食水不能消化，是脾濕不運，胃亦虛寒也。若見唇色如常，而時作嘔吐，當按胃滿胃傷論。大腸為肺之表，大便秘結，知其肺有燥氣也。肺無熱的徵象外呈，乃肺經虧虛，氣弱不能收斂也。膽乃肝之表，口上苦水，是肝熱膽脹，膽汁上溢也。聞聲驚嚇，時肝血虛，不能榮膽，膽氣不足也。膀胱為腎之表，位於臍之下，氣海之右。疝腫偏墜，是膀胱氣不能運行，濕阻於腎，內腎因濕生毒作腫也。小腹隱痛，腰痛不能伸，是腎氣虧，寒入膀胱也。又左腮色紅，病為肝熱。右腮色紅，病為肺熱。前額青暗，是心氣將絕。環唇青黑，是腎氣將絕之候。凡此等色象，尤是病兒所常見者也。若論面上，亦有五色現於外皮，亦可憑之得症的形能。一曰紅，紅，病在心，面紅者心熱。一曰青，青，病在肝，面青者身痛。一曰黃，黃，病在脾，面黃者脾必先受傷。一曰白，白，病在肺，白者面肺氣虛寒。一曰黑，黑，病在腎，面黃而灰暗無澤者，腎氣敗也。望其色若於平日不同，而苗竅之色，發見於外部者，與致病之色相符合，則臟腑之虛實寒熱表裡，自無遁形。因何致病，及病在何部位，成竹在胸。以上之運藥治病，無有不藥到病除也。此其大略，均由經驗中得來。若夫由五臟六腑之形色苗竅，上辨清其病形病能，尚有多種。俟後慢慢臨床經驗出來，再行筆之於書，公之於世可也。</p>

<h1>臨床簡明辨症法</h1>
<p>小兒之熱症，有簡單辨別法數條如下。如全面或兩腮紅，大便燥結，小便短黃或赤，或點滴均無，大渴消水，呼吸息粗，氣急口熱，手足心特別熱，眼白球赤紅，或眼上下皮酸脹。此皆有實熱而成之熱病，最忌用溫補藥，恐藥性之滋膩固里，周身之氣化，愈不能運行暢達也。且症為實熱，應用甘寒藥以清其熱。若以溫藥治熱病，何異抱薪救火，病不能去，而反增加之。寶貴的津液，枯涸可立而待也。津液若亡，痙攣抽搐立至，其性命頃刻喪失，尚望病之治愈耶？小兒之寒症，亦有數條簡明的現象，可以供給審察，以補助臨病之治療。如面色萎白，枯瘦無潤澤，更乏血色素，大便色青暗，或溏瀉淡白，氣味腥臭朽腐，肚腹虛脹，時時腸鳴，眼白球色顯豆青，或目瞳無神，嘔吐乳食，完整不化，下利清水，足脛不溫，指冷過掌，睡眠露睛，涼汗時時自出，凡現此等病象，皆是虛寒之症，治療大忌寒涼性之藥品。是應用溫補劑，解凝寒而回陽氣，扶脾溫腎，以救氣血之虛脫。氣血能致不虧弱，斯天然的抗拒力量，始可戰勝病之實邪。若只見外部呈現的假熱象，以為身體不甚虛弱，無防用涼解之藥以施治，以為病去後，再用補氣養血之藥以善其後。不知以寒藥治寒症，病先不能解，其虛虧的氣血，又何以致其補養耶？況症既寒，藥性亦寒，陰虛凝結，膠固不能解，其不脾胃先敗，腎氣隨絕，以至於寒極而虛脫也幾希。此是小兒寒熱虛實的大略辨症法。尚有小兒的普遍最易得之病，如傷食停乳，及外感風邪等症象，亦須細細辨明診治之，此等症象雖細微，然身熱不退，日久傷陰，表邪失治，能轉向里攻，大症之來臨，恐自茲為始也。為兒科醫者，焉可忽之。若小兒無外感，只是停飲傷食，其病象病能均甚簡單，不過身熱吐乳，睡眠不安，多啼煩躁等現象，無須用藥醫治。只是少與乳食，謹慎風寒，俾其稚小的胃脾，能復其天然的弛張力，即自能消化食飲而愈也。或小兒已感外邪，頭暈或頭痛（其象兒頭面愛靠乳母懷中，或頭時俯而眼枯澀等象），身壯熱而毛孔拘緊，不時噴嚏，鼻流清涕，眼掛黃糊。此時之病形病能，看似稍重，而胃中清淨，不停食飲，不外邪不能乘胃滿氣滯而鼓盪之，以張大其病能。惟用清熱解肌法治之，皮膚舒解，外邪自散也。若小兒已傷食停飲，胃氣之運化不靈，此時本有成病的可能，而會逢其適，又感受外邪，其病形病能，均極緊張，而治療之法，亦費手續。其症象為頭暈重痛，身體壯熱，四肢倦怠，吐乳嘔酸，煩躁不眠，出入息粗。凡此等現象，是內傷外感，裡外兼病也。臨床診治時，不可用攻下消導等藥品，防其外邪隨之內陷，熱邪轉向內而抗進，神經必其炙，發現緊張、痙攣、抽搐等危急之象，均行呈現。雖有高明醫者，不易措手矣。或知用攻下藥，清理腸胃之遺害，而不敢用。專用消滯散風等藥，以謀治療，似稍近理，而亦非是。愚意只清熱解肌等藥即可，肌解風散，胃雖滿滯，無可假借之勢，焉能釀成不易診治的病能。連帶之症，自能平復於無形。況消滯藥用在風藥之間，風邪即隨胃氣而上泛。肺位於上，首當其衝，氣管及支氣管，必因風邪蘊結，發炎而作腫脹。其現於外的病型，為喉頭氣緊，氣管做癢，氣逆嗆嗽，痰涎壅盛等象，一齊均至。斯時又須兼治肺症，開肺驅邪，降痰平嗽，多一番手續也。不知專用清解法，使其外來之風邪，由表而解，體溫即平和。再用消滯藥，去胃滿以善其後。此為治法之最穩妥者也。不過小兒病痊後，仍應少與乳食，以防因新停滯，運化遲頓，阻其天然生長之機能。日久發焦體瘦，漸漸為疳積也。蓋其積滯初去，已受傷的胃脾，尚未能復原，病體初愈，正氣猶待培養。是以為人之父母者，更須謹慎將護於小兒病體新痊之後也。</p>

<h1>嬰兒之天然蒸變論</h1>
<p>嬰兒降生後，普通結壯者，一月中間，大抵身體安和，少啼多睡，乳量必逐日加多，酣眠的時間亦必加長。此等嬰兒身體健全，五臟六腑自然茁實無病，是無須詳細論其蒸變也。然嬰兒實有此天然的蒸變發現，非為病症，更不用診治，隨其天然的演進可也。而為兒科醫者，不能不研求蒸變之生理，以順嬰兒生長之機。不然既為兒科醫者，不知蒸變所以然之生理為何，亦大可令人齒冷也。故吾諸同學，明瞭嬰兒的蒸變，為生理之一種變態，不是病症的呈現即可，無須深切研究之也。凡嬰兒彌月後，有時無故而發熱，而其他各處肢體頭面，確無連帶表現的病象呈露。此等的熱型，即所謂蒸變者是也。凡為人之父母者，應明瞭蒸變之生理，是嬰兒變態的生長，天然不可避免，更不必著急。其熱忽然而來，仍倏然而去，於嬰兒身體不但無害，而反有益。萬不可驚慌無主，用醫藥以求治療。恐無恙健全之嬰兒，反因醫藥之克伐，致成真病也。至於蒸變的生理現象若何，今簡單書之於下。是嬰兒出世後三十二日，必發一蒸，後即隨之一變，變者變堅實五臟，蒸者蒸養足六腑，均為長氣血而生精神，發身體而益智慧也。蓋嬰兒之在胎元中，先生全身骨胳，繼生全體氣血。其五臟六腑，在體內雖各成雛形，而未能健實。自蒸變之後，即長全身體之經脈，成五臟六腑之神經智慧也。蒸者發熱也，變者轉易也，自內五臟六腑而外達軀殼，自下腿足而上至頭腦，是陰生於下，陽結於上也。故一發天然之蒸熱，而變易舊有的狀態也。所以至三十二日，必發一蒸，隨之一變。一次蒸過後，體格性情即與前日有異。至二次蒸變，須到六十四日。二次蒸變過後，全體的骨胳漸成結壯，不同於昔日，而骨之餘氣，又自大小腦分入牙齦中，遂生三十二個乳齒。即隨第一次蒸變後，而萌芽者，故齒之數，以三十二個，為足數之齒也。然亦有生齒不足三十二數者，由變蒸的日數不足其常也。或蒸變未至三十二日，二十八日即發現第一次，齒應之亦生二十八個，是其天然之明證也。故乳齒的生長，無論如何結實的嬰兒體質，亦不過三十二之數也。凡一周之蒸熱，嬰兒之性情及精神即應之一變易，諸周均是如此。十周計三百二十日，則蒸變之作用，至斯始為完畢也。嬰兒之臟腑中氣血，乃漸健全，可以運行而無天然於身體阻，以至於堅壯達於成人也。故三十二日發初蒸，一蒸而生腎氣。六十四日二蒸，即生膀胱氣。其蒸發時，兩耳梢及耳唇，背脊骨中部連尻骨處，俱發現肌冷象，是其變也。至九十六日發三次蒸，始生心氣。其變也乃有喜笑。至一百二十八日，發四次蒸，生小腸氣。其變之現象，是心口窩及後腦處，發微汗而手或足時有一動之微驚象。至一百六十日，發第五次蒸，生肝蒸足氣血。其變的現象，斯時無故而啼哭多眼淚。至一百九十二日，發六次蒸，生膽氣。其變易時，睡眠時目閉不能合縫，而白眼球微現赤色。至二百二十四日，發七次蒸，為蒸足肺氣。其變時氣管枝微作嘶音，而聲音至此始可收放自如。至二百五十六日，發第八次蒸，生足大腸氣血。其變的現象，是周身皮膚起微癢而潮汗，斯時大便微見明綠色而有泡沫。至二百八十日，發第九次蒸，蒸發脾氣。其變的症象，是運化之力，至此時始強健，乳食之量必驟增進。至三百二十日，發末次蒸，生足胃之氣血。其變的現象，是偶然不欲吸乳，腸感振動腹微痛，不時發飽咯，吐乳塊而微味酸。至此始為十次蒸變完畢，而身熱退淨，復其平日之健康。是時已萌芽的齒齦發現酸癢，嬰兒每因齦肉酸癢，吸乳時錯齦解救，常啃破奶母之乳頭。遂即生骨型的乳齒，其齦肉酸癢之象，亦即無形而解除。方能吐單字之言語，知喜怒於心，通五味於鼻，時時聞覺穀麥的餘香，而欲食之。臟腑之氣血，因蒸變的作用，斯完成其健全也。經云：氣入四肢，長碎骨於十蒸變之後。六十四日，長其手足經脈，手受血，故能伸縮自如而持物，足受血，故能支持身體而行立。又云：蒸且變，謂蒸變異而足一歲之日也。又云：不汗而熱者，發其汗，大吐者，微止之，不可別治，長以嬰兒須有蒸變也。脫齒者，如花之易苗也。所以不及三十二齒者，由蒸變之不能足日，齒數當與蒸變日數相合也。是以中年以後之脫齒，不能再行生長者，以天然蒸變的作用，行其自然之長養，其乳齒寶貴的時期，已成過去，無望將來也。</p>

<h1>五臟所屬之部位及病能的現象</h1>
<p>肝者屬足厥陰也，其性剛賴血以涵養，自兩脅以下及小腹前陰等處，皆其所司的部位。最易動氣作痛，又易因熱生風，其風能升至顛頂，作暈與痛於頭部，旁及兩太陽穴而痛脹。其病色屬青，常發現於左顴及目眥，或鼻準兩邊及眉心。故肝病實，則目白輪現赤，大叫呵欠頓悶。若肝病虛，則呵欠咬牙。有風則目斜視而不靈活。有熱則怒視而眼皮腫脹。若肝熱盛傷陰血，復下迫脾胃，已成疳積者，則白膜遮睛，兒必現躁急而哭叫，哭甚則咽喉胃脹氣噎，以致小溲赤短或溲難行，大便閉結，或下黑綠色糞便。又有一種症象，小兒無故猝發冷熱，手尋衣領，或手亂捻物，或兩手撮空摸床，為驚嚇喪魂病也。設不知病原而誤治，再行稽延時日，兒病轉危，即現目睛視物不動，或目合不開，或目瞪不合，或哭而無淚，或不哭而淚自出。凡此等象，皆為肝絕，不能救治也。</p>
<p>心者屬手少陰也，其部位在胸下正中岐骨微下陷處。凡額上舌尖手足心等處，亦均為其所司。最要者能調節血液周全，潤養全體之各神經，及纖微末梢等神經。其自然之力能生髮智慧，發言語和哭笑。心無表症，其所得病者皆屬於里也。心不受邪，既不能動，尤不能痛。凡覺心動或心痛者，均胃痛或氣滯也。若真是心動或心痛的病，一點鐘都不遲延，即行死去也。心有實火，則叫哭發熱，飲水無度，而小溲短赤或點滴均無。心有虛火，則困臥迷睡，悸動不安，目瞪無神，或舌尖赤破，或舌短音低，此象病久者恆見之。若熱盛津液乾枯，雖渴極亦不可多與飲料，須急保液生津，方能有救。蓋陰津不隨盛熱炙乾，津回液布，病終能愈也。故小兒有時不現表症病象，而有煩躁不寧，睡臥不安，叫哭不乳時，須先檢查身體頭面四肢有無熱象。如何處有熱，均當細心辨之。屬於何病的裡熱，何部為熱之發源，根據之以定症名，後再求治療其症的藥劑，如斯之謹慎研求，焉有不能治愈之病者，蓋心部病無表症，不似外感的發熱，為通體全熱，為通日夜均熱。此則一部分熱，熱有早晚輕重久暫之不同，亦甚易辨。不過熱之實虛，乃熱之地位是否緊要，或須急施治，或不能急治，必須細心推求，以小兒稚體脆弱，治錯藥誤均不能承受。設稍有出入，追悔莫及。且小兒均不易服藥，用藥又必求其有力，一劑服後功效立見始可，萬無試探投藥治療之餘地。不過小兒各病單純的多，又無七情六慾之戕賊，認症施治較成年人似易為力。其難者小兒自不能言病能病象，及病之所在，亦不能明白舉出也。故小兒之久病脾虛連及心氣弱，雖症象現火象，亦必先顧心氣虛，服強心助氣藥。心氣得助力，自能氣回液布，虛火歸原，不治熱而熱自退也。設此等假症象，為醫者再不明醫理；不細心推求症象。見熱治熱，率爾一意涼藥濫用，以為熱必可退。孰知心氣正在弱虛不絕如縷之時，又經此涼藥一打擊，必至陽亡於上，陰竭於下，神經立起變化，周身一痙攣，立即死亡也，可不慎哉。此是久病心氣虛，尚易辨別，但稍明病情醫理，即可診治無舛。今有一種病，心氣受不可抵禦的壓迫，強力侵襲，心氣立呈微弱，神經亦隨之發生重大變化，不立時起抽搐，即立時神智昏迷，或厥然而倒，不省人事。此症為何？即夏日中暑，俗名所謂暑風症也。此症雖非病久心氣虛可比，然心不受邪，其影響人的生命，重大危急可知也。故亦須先顧其心氣，速用強心助氣藥，使心氣有所借力，中心有所生，外邪之侵襲力自微，神經之變化亦自能回覆平靜，抽搐亦即隨之而定也。然後再佐以清暑利濕芳香通絡藥，斯症無不立即痊愈也。不過病久心氣虛弱，其來也緩，亦不能立即醫治痊愈。至於中暑的心氣虛弱，其來也暴，然醫治得法，其症平復如初，可立而待。其痊愈之快慢不同，是受病的久暫問題也。至心臟之於人生，其關係至重且大，較之於其他各臟，尤為緊要。一經發現受病牽及於心，即須特別注意。無論其實熱虛熱，及病之久暫，均必先保護心氣，不使毫釐受傷。其他病症醫治如法，雖危重亦必可漸漸向痊也。舌為心之苗，心部若有實熱，或溫疹出齊時候，熱已退淨，唯咳嗽尚盛，醫者不知用養陰清肺藥，養血液以善其後，俾發過的壯熱，及出過的赤疹，在在都得用藥回覆其已傷之血液，萬不可使其餘的火復燃。不然在病人血液大虧之後，元氣未復，身體虛弱，天然的抵抗能力，一點皆無，肺之餘炎能乘心部的實熱，復行披猖。此時舌尖即起白泡潰爛，痛甚不能飲食。若再稽延，立起重舌木舌等危險緊急症候。又有溫疹病體初愈，正氣未復之時，口味初開，胃力尚弱之時，此時亦甚緊要。若任何病人滿意的進食，胃力不能承受，停滯不能運化，積聚生熱，亦乘心部之實熱，向外發泄。其症象為譫語迷睡，舌苔黃厚垢膩，或口糜舌爛，成為種種變態的重病。此候治療下之不可，恐體弱不能任受，氣弱防其虛脫，不用下劑。此緊急之熱邪，不容緩治，毒熱從何處，用何方劑可去耶？到此地步，進退維谷，治療之運用真棘手矣。故吾曰只心部之病，心無表症，心不受邪，心部的重要，與人之生命有重大密切的關係。無論其實熱虛熱，及受病的久暫，若發覺心部受病為主要，必用強心藥護持之，再治其他之臟腑各兼症即可。至於劇烈咳嗽，痰壅氣喘或起重舌木舌，症象危急，或口糜舌爛，譫妄迷睡等等症象，雖然已至危險程度，然非心臟的主病。是肺胃部之餘火復燃，乘心臟之熱而熾盛，及肺胃兩部為主體，心臟為連帶波及。不必兼用強心劑，逕用清肺胃之藥，以解其熱毒。各急症能稍轉輕，慢慢向愈後，仍須養陰增液養血助氣等法，以善其後也。</p>
<p>脾於生理亦屬重要之臟，為足太陰經，後天之本也。故嬰兒落生後，天然能吸乳汁以養生命，下受命門之以蒸化穀食，上輸穀食之精液，以灌溉其他各臟腑。所以人的生命存活元原，獨脾臟之功用為最大。然其性喜燥而惡濕，一受濕漬，則運化之力衰，而肝即乘以侮之。位在中焦，凡眼胞鼻準及四肢皆其分也。與胃相表裡，故用藥略同，脾之病無表症，凡病皆屬於里。脾虛者，右關脈必細軟，指紋現淺紅而暗淡。其症象為嘔吐，為泄瀉，為久痢，為腹痛，為肢軟，為面黃肌瘦，為發腫鼓脈，為積滯不化飲食化痰，為脫肛腸紅等症。脾實者，右關脈必沉數，指紋現紅明色。其症為氣積血滯，為痞滿蟲積，為痰飲腹痛等症。脾寒者，右關脈必沉遲，指紋現淡紅兼青暗色，唇舌必白淡無血色。其症為嘔吐泄瀉，為白痢腹痛，為濕腫陰黃疸，為四肢冷厥脫等症。脾熱者，右關脈必洪數，指紋現紅明兼紫色，舌苔膩而黃，或唇赤舌亦赤。其症為熱吐或流涎，為洞瀉或瀉渤，為赤痢腹下墜，為目胞腫痛或眩暈，為陰黃疸等症。脾之病均有其他臟腑之症。故各症的治法用藥，至後各症分門類時，再詳細論之。茲不過言脾病之種數，及脈象指紋現色，辨別其虛實寒熱而已。實則迷睡，煩躁夜臥不安，發熱夜甚，至天將明熱又漸輕，始能得二三小時之安睡，可見迷睡是脾實而熱使之然也。虛則食乳不化，嘔吐泄瀉，日久脾虛及腎，即成慢脾風等症，甚為難治。傷於濕則發皮水腫，或作腹痛脹，或成黃疸，脾痛則腹必痛，脾已結疳，必現肚大筋青，飲食過量而肌肉削，發毛枯焦。脾熱則口出氣息必臭，唇瘡口糜，或吐舌舐唇。脾寒則口角流涎，或噯腐吐酸，或蟲出於口。此脾病之大略，隨其現象見症，用藥診治可以也。</p>
<p>肺者，手太陰經也。屬臟其體甚嬌脆，內主周身氣化，外主周身皮毛，為人身體氣布之總機關。凡聲之出入，氣之呼吸，均為肺的主力，始能得其調節清暢，其性畏火而仇寒，故遇燥而痰涎壅滯即咳嗽，遇寒侵襲，反抗驅除亦發咳。凡耳白及右頰鼻孔等處，皆其表現於體外的分野。肺之於生命關係太大，須加意保護。不使寒火相侵，能長保其清寧之體，身自堅壯，壽臻大年也。故肺寒熱所傷，則均現氣逆音不流利，甚者作喘作咳，或哮吼音啞，受風傷則噴嚏，或流清涕而鼻塞，呼吸不利而頭痛，或現頭重及旋暈。若咳嗽不止，相連能咳數十百聲，使人氣均回不過來，急成面紅筋粗，鼻涕眼淚，咳嗽噴嚏，連連不斷，吐食嘔水，小兒當此，焉能支持，症狀更屬緊急。此蓋盛寒包肺，肺葉全閉也。治之得法應手奏效，否則不堪設想也。若鼻孔乾眼澀，或鼻衄血，鼻頭赤環唇赤爛，喘滿咳嗽，痰涎壅阻氣管，黃糊黏滿兩眼，此為風熱鬱於肺，肺竅阻痰，不能自如收放也。症象看似甚重，其實不是險症。用清火散風藥一劑，風散熱解，肺葉消其腫脹，氣布痰開，即恢如初，各症象一掃而愈。他若發壯熱咳嗽，氣急頤腫，或項腫喉痛等象，為肺病兼胃病也。治法須肺胃兩部並重，自易痊愈。若發壯熱咳嗽，頭痛肢酸，遍身及頭面發赤點，或白尖云片等症狀，為癍疹等病，亦為肺胃兩部均感外邪而病也。治法須肺胃兼顧，清熱祛邪解毒活血，即可緩緩向愈。不過此兩條雖為肺胃兼病，然又兼溫毒時症，不能與肺受盛寒風熱，所現症狀相比擬，更不能與肺胃兼病同治法。臨床診治時，務必詳細辨別，庶不能誤。不然以小兒之未長成身體，嬌嫩的肺，焉能受之也。至小兒因久嗽患龜背等症象，是肺葉因濕痰及火的侵襲而腫脹，橫膈膜上腔內容積不下，必須向外發展。而此時小兒之全體骨胳均未長成，不能堅實無抵抗力量。至於前後脅骨尤為脆軟，收束不住。故肺的膨脹力能隔骨肉向外凸出，形成此俗云之前雞胸後羅鍋的症象，在病名上說是龜胸龜背。治療之法，當除濕熱之痰而消腫脹，可使肺葉突出之部分，收縮復原。不過肺雖復原，生命無礙，至已突出受傷之前胸後背的脅骨，十九不能復其本來形象，終身留此遺憾。故小兒之病，既知與肺有關，即須急早診治，萬不可遷延日久，致成此龜胸龜背之惡症也。再有一種為咳久氣虛，面目浮腫，顏色㿠白，食少便瀉，是小兒疳症。乃肺脾兩虛，有成慢驚風之趨向。治須養陰斂肺扶脾等法，切不可再用宣肺降痰等藥，克伐正氣，以致無挽救小兒生命之法也。</p>
<p>腎者，足少陰經也，專司骨。凡全身骨胳、牙齒、尾尻等均屬之。目瞳、兩耳、囟頂、為其分野。牙不能生，囟門不合，四肢骨軟，是為腎氣不足也。腎熱，則小便短赤，渾濁澀痛，熱極則起馬牙、重舌、及鵝口白等。腎寒，則小溲頻數，大便溏，或嘔吐完穀不化。若瞳孔散大，或瞀冥昏暗，舌短音無，腎氣虛極將脫也。至眼起灰翳，小溲自遺，小便縮，乳頭縮，環唇眉心均青，四肢冷過肘膝者，腎氣寒極將絕也。他若耳流灰臭膿水，是濕熱成毒，在腎作腫也。凡關於此等之種種症象，均應從腎臟病治之。不過腎臟為人生命的關係甚大，小兒之壽夭壯弱慧愚，均視腎之實虛而定。故病在先天后天，必須辨清。臨床之虛實寒熱，更當審慎明瞭，以為對症診治。不然先天后天病症小有出入，遺留小兒後來病根，或不幸成為終身痼疾。虛實寒熱，用藥稍錯，立見死亡，為患更烈。為兒科醫者，萬分注意可也。總之脾肺二臟，最容易受病。例如內傷乳食，外感風寒溫邪，或中暑熱，吐瀉霍亂。保護人對小兒身體稍疏護持；脾肺二臟感受外界侵襲，本身之天然抵抗力量，立即起反射作用，以驅除外來的寒熱風邪於體外，某呈現於外者，即所謂成病之症象也。至於心肝腎三臟，與外界接觸的機會甚少，本不易受病。況小兒一秉天真，無七情之內傷，無六慾之外傷，在飽食憩眠中即行長成，何致感疾病。就偶有病痛，亦不過在經，不能入腑，況入臟乎？故疾病不能直接侵及，何致有傷也。若脾肺二臟感受的內傷乳食，外傷風寒不能清解，失或診治之時效，或冶法錯誤，或藥物錯投，病能即漸漸向里攻進，心肝腎三臟到此地步，雖欲不受波及，不可得矣。</p>

<h1>胎毒論治</h1>
<p>凡初生嬰兒，數月或周歲及兩歲以內，頭面環唇等處，忽生瘡結，細如粟米粒，白膿頭破裂即連成片，熱脹痛癢不安，時時流出淡黃腥膿水。附近的好皮膚，一經流出的黃膿水浸染，旋覆成瘡，初起在皮膚外間潰爛紅腫，若不治漸漸即漫延至肌肉表層，亦發淡紅腫而潰爛。治不得法，日久能由頭面漫延遍身，此即所謂胎毒也。應用清血解毒湯，消炎解毒，清血通絡之法，急施診治。使已出皮膚以外的胎毒，即由皮膚外表而解散，自能血清炎退，絡通毒解，瘡干而痊愈也。否則，保護人不知生理，不察病能，以為是瘡結火毒之類，想急退熱消腫解毒，而用攻下苦寒等藥治之。不但瘡不能愈，而熱毒反向里抗進，其結果真不堪設想也。故吾人臨床診治，必須明瞭症的成分及趨向，及如何而成此症。按其生理病能之現象，對症施治，無有不愈者。不然魯莽從事，本欲逐毒，而熱反藉藥力以內陷。此等現象，在醫籍名為胎毒走黃。其皮膚外之潰瘡，能驟現乾象而結痂，看似小愈，實假象也。一二日內小兒必須出乾嘔及壯熱，啼哭不止，不乳口松面青肢冷，或目瞀迷睡不省，等等壞的象均現。到此地步，症象已至緊急之候，而保護人猶不經心，以為不致有大危險，治療再稍稽延，小兒立即眼淚鼻涕乾枯，周身津液全竭，神經即緊張起來，全身一痙攣，生命亦隨之而亡也。以胎毒而論，治之得法，本可愈痊，今意演成此結果，是誰之過耶？治胎毒之外敷藥，用雞蛋油調苦參細面，滿敷紅腫濕爛地方，用以消毒滲濕去腫。日夜多敷數次，即能炎退腫消，瘡現乾象。再內服清血解毒湯，對症用藥，內外兼治，不須幾日即行平復如初也。取雞蛋油法及湯藥方均列於後：</p>
<p><u>清血解毒湯方</u></p>
<p>粉丹皮（一錢）　赤芍藥（一錢）　青連翹（一錢）　紫地丁（錢半）　細木通（八分）　甘草梢（五分）　苦桔梗（一錢）　冬桑葉（一錢）　黑山梔（七分）　燈芯（十寸）　竹葉（六片，為引）　水煎溫服。</p>
<p>取雞蛋油法：</p>
<p>用大油雞蛋二三個，煮熟去蛋外層硬瓷質殼，再去蛋白，只留蛋黃待用。外加亂髮一團如蛋黃大，共放鐵勺中用木炭火煎之。初煎時甚乾枯，或出焦味起煙，然不必急躁，誰煎亦是如此現象。不必管其枯焦起煙，只要平心靜氣不住的拌攪。少時發先成焦炭，蛋黃亦隨之成枯小黑塊，待蛋黃全變為炭，蛋油即全出來。挑出髮炭與蛋黃炭，取淨蛋油另貯，隔冷水鎮之，以去火毒。待油冷透，用之調苦參面即可。雞蛋油為胎毒外治聖藥，萬勿忽視，不過取不易也。又方紫蘆散，治小兒胎毒，尤為神效。不過此方是光致的秘方，向不公布。今因與諸位同學感情上的關係，不能終秘，公開寫出，深望諸同學珍藏之，萬不可隨便傳人，留以應諸位同學將來臨床診治之需要可也。此散敷在胎毒紅腫潰爛處，兩次准愈。雖極重者，數次敷治，無不腫消痂結而愈也。</p>
<p><u>紫蘆散秘方</u></p>
<p>此方專治小兒胎毒濕瘡，周身肉赤無皮，膿血淋漓，胎元中感受遺傳楊梅毒者。並治婦女為梅毒所遏，漸至陰戶肛門腫硬及破爛，膿水不幹，疼痛不止，擦上此散，立刻止痛結痂，真神效也。若小溲時將此散衝出，須再行擦上。只要勤擦，自能漸漸而愈。如毒勢太重者，務於散中加入珍珠粉七分，西牛黃粉三分，此二樣分量，系照全料散計算者。若隨用隨加，亦可計算合量加入。</p>
<p>輕百蘆甘石（一兩，煅淬各一次）　入黃連汁內（再煅再淬）　再入童便內（三煅三淬，前後共煅淬三次）　川厚柏（七錢，以豬膽汁塗炙七次須炙透）　紫甘蔗皮（五錢，燒存性取淨末）　粉口兒茶（五錢）　小綠豆（七錢，研細）　赤石脂（五錢，煅）　頂上梅冰片（五分）　以上各藥再共同研極細末，另用真麻油二兩，入熟雞蛋黃一個，煎至枯去渣，候一日冷透，調此散敷上，自能止痛消腫而愈。如油不冷，擦之反作痛也。</p>

<h1>胎寒論</h1>
<p>嬰兒落生後，半日或一日內面色皆青，有如黛染，口松不吮乳，啼聲低弱，或音啞不能啼，旋即昏迷不醒者是也。治法急用生薑二片，放兒之肚臍左右，每片姜上再放上艾絨一團，燃火灸之。熱氣能通兒腹內，寒威即稍解，腹內必微鳴以應之。是時當先看見兩眼鼻準等處微呈淡面色，是轉機也。再用紫油肉桂一分研面，乾薑末一分，熱水調勻灌兒口內。再以溫水頻頻滴之，以便藥能入兒胃。陽回寒解，則必啼聲先出，吸乳繼之，滿面青色即漸漸退淨矣。然此症須防作吐，胎寒者臟腑均寒，胃寒不能納乳，乳入頃刻復出，不能停留，繼之下利清水，病象至此危險已極，不旋踵即虛脫矣。急用後方灌之，即可挽救，必只是胎寒而無外感者，立即神效也。方用：</p>
<p>人參（一分）　白朮（三分）　肉桂（二分）　藿香（五分）　炙草（一分）　乾薑（二分）　用水煎濃汁半酒杯灌之。若嬰兒本有胎寒，落生後復感外寒，表裡均寒，發之必驟，立刻面目全青黑晦暗，唇白無血色，上吐下泄，神昏腹彎，四肢冷過肘膝，症象尤覺凶急。只要全身未全冷，猶能救治。急用理中湯加黑附片、公丁香，速速灌救，陽氣挽回，即有生望也。此症象有與臍風相似處，萬不可當臍風治，臨床時務須辨清，再施急治，否則患害不堪設想也。此症由娠母過食生冷，坐臥貪涼，或常用冷水沐浴，種種原因以成結果也。</p>

<h1>論嬰兒胎熱</h1>
<p>胎熱者，嬰兒降生後，頭面身體等處，均發現肌膚深紅如絳色者是也。乃嬰兒在胎元中，秉受母體之內熱，或遺傳父母的淋毒，及楊梅結毒，以致兒體中內蘊毒火，胎毒待往外發之象。按肌紅本嬰兒之正色，有此天然之正色，始易長養而茁壯。然必淡紅色，且皮膚細潤柔澤，非若胎熱之深紅色似絳，肌膚之粗糙不和者可比。欲詳細辨別，可診察嬰兒兼現其他的熱象，如滿口熱氣升騰，似喘而息粗，頭面四肢皆腫脹，口內滿成白腐，以指探兒口內，則氣熱蒸手，目白赤紅流淚，黃稠汁糊眼部全遍，目不能啟閉，或牙根腫硬，不易吸乳，大便秘結，小便短赤，或點滴皆無。凡此等現象，均呈於外之胎熱症象也。治法先用銀針，在上下合骨處，及牙齦腫硬處，輕輕刺破；拭去紫瘀毒血。再用粗布裹食指，擦破口內各處白點，敷上草靈丹。立能去其麻木，散其腫毒，斯時即能入乳汁。再用清熱解毒藥令兒作乳吸之，即可清胎熱，又可解胎毒，治法莫善於此也。其湯藥方與草靈丹方列下。</p>
<p><u>清熱解毒湯方</u></p>
<p>金銀花（八分）　小木通（五分）　青連翹（八分）　粉丹皮（五分）　山梔衣（五分）　生甘草（三分）　霜桑葉（六分）　紫地丁（七分）　赤芍藥（五分）　燈芯　竹葉（少許作引），用一茶杯水煎成一茶杯藥，放乳瓶中使兒吸之。</p>
<p><u>草靈丹方</u></p>
<p>干靛花（一錢）　生甘草（五分）　飛滑石（五分）　川黃連（五分）　共研細末敷刺破處，及擦破處，並不礙小孩吸乳，且無毒性，能清肝膽熱，隨即結痂。</p>

<h1>論小兒之遊風丹毒</h1>
<p>此症由娠母過食辛辣煎炙之物，或久臥火炕，內熱熾盛，波及生兒，降生後復感風邪，將血中已蘊之熱毒引起，發為遊風丹毒。失治能漫延全身，變症百出，亦能致命也。俗云風疹風疙疸者是。其症象小兒身上忽然紅腫，或分點粒，或成片斷，脹痛發癢，甚至滿身皆有，遊走無定。萬不可用手抓搔，因指甲梢有毒，能引外風，立刻全身皆起，且能起至二層三層。斯時起到何處，何處肌膚即行麻木癢痛。入口內小兒即不能吮乳，到心口上，小兒即心中慌亂，啼不住聲。再甚涕淚皆干，丹毒轉向里攻進，侵及神經，筋青鼻煽，痙攣抽搐，立時發措手也。其初跳見白斑，漸透黃色光亮，皮中恍如有水，脹破即流黃水，黃水到處，同樣之症型旋生，濕爛痛癢，名為水丹。多生腿膝等處，屬脾肺有風熱而濕也。又有頭面身體起赤紅平點，不發熱而乾燥作痛癢，起多即連成云片，名為赤遊丹，是血分有火而受風也。又有遍身起扁疙疸與肉皮同色，無熱而微脹痛兼癢，遊走不定，是為膜冷所致。又名冷丹，由胎毒未能發出肌膚，外受風寒鬱遏也。又有腰間紅腫一圈，名纏腰，甚毒火甚更，是心包及內腎有毒熱感風邪而成，其發甚速，頃刻傷生，無法救治也。總之丹毒起於胸腹及於四肢者，其症象順而吉，起於四肢及於胸腹者，症象逆而危，治療之宜急也。今將各項丹症的治法藥方列下，按症之現象，應服何等方劑，即對症與小兒服之，自可應症而愈也。治水丹應用天保采薇湯，此症濕盛，脾氣因之不運化，濕熱鬱積成毒，復感外間風邪而起，治法宜用利濕清熱，疏風邪，通脾氣法，使其熱清風去濕開氣通，脾能運行，毒自解也。</p>
<p><u>天保采薇湯方</u>（原方減味）</p>
<p>酒羌活（五分）　炙前胡（一錢）　半夏曲（一錢）　廣陳皮（八分）　赤芍藥（八分）　雲茯苓（一錢）　炒枳殼（六分）　苦桔梗（七分）　蒼朮（八分）　酒川芎（五分）　銀柴胡（五分）　生甘草（三分）　以上各藥用水一茶碗半，煎成半茶碗，連續與兒服之。此是周歲小兒服劑，若五歲上下，藥劑須加倍。不然恐病大藥小，無濟無事。至於皮膚之濕爛處，再用青蛤散擦之，即止癢消腫，結痂生肌也。輔助湯劑，收濕防腐，解其外毒，更能收內外兼治之功效。散方列下：</p>
<p><u>青蛤散方</u></p>
<p>煅蛤粉（一兩）　真青黛（三錢）　煅石膏（二兩）　輕粉（五錢）　川黃柏（五錢）　以上各藥共研成極細末，先用麻油調成塊，隨用多少分下一小塊。次用涼瀉之成稀糊狀，滿濕爛地方均塗之。如痂厚去痂再塗，真神效方也，治赤遊丹應用四物消風飲，此症為血液不清，積熱生毒，流行周身四肢頭面等處。不即發現赤遊丹症，亦必發於皮膚外間，處處成為瘡結。今因外間的引誘風邪一鼓盪，熱毒隨血流皮膚中，遂受激而發為赤遊丹也。宜用散風、解毒、活血、清熱之四物消風飲治之。能致其血液暢行，風自消散，鬱熱能清，毒亦自解也。四物消風飲方列下：</p>
<p><u>四物消風飲方</u></p>
<p>細生地（一錢）　當歸身（八分）　炒荊芥（八分）　赤芍藥（七分）　酒川芎（五分）　北防風（八分）　白蘇皮（六分）　秋蟬蛻（七分）　薄荷葉（七分）　酒獨活（五分）　銀柴胡（五分）　大紅棗（一枚）　以上各藥用水一茶碗半，煎成半茶碗，頻頻與兒服之。此方量數為一歲內小兒之劑，若至五歲上下，須加劑一倍、或加一倍半。酌量症的輕重，及年齡的大小，與藥之分量，比較準確，放心給兒服之，必能立見切效，此方劑是消此等風毒之效藥也。不過丹症愈後，須謹記發物，例如魚腥雞鵝等動風燥血之品，尤須忌之，否則再犯則難治。重者能攻入心胃，即作大冷大熱，心忙亂嘔吐。若果到此場合，急先服口藥的加重劑，以急解內毒走黃；再用磁鋒砭去惡血，則毒隨血散，冷熱立止，嘔吐亦安定。此法至神捷，萬勿稍延手術，致不可救也。</p>
<p><u>磁鋒砭法</u></p>
<p>取磁器之細薄者，輕輕敲破，用其最鋒利的小塊。用新竹筷一雙，將竹筷頭劈開，橫夾磁片於中，露鋒刃於外，用絲線將夾磁片之上下紮緊。以手拿扎磁鋒的竹筷下部，使磁鋒正對丹毒處立放之。再用他手另拿一竹筷，在夾磁鋒的竹筷磁銼之向上部，輕輕往復敲之，其惡血自在患處津出，不可用力敲打，以防砭深傷及肌肉。各處發現之丹毒，均可使此手術以砭之。若未痊愈，不妨再行砭法一次，總以紅消，腫散，吐止，心安為定。治冷膜丹應用防風升麻湯。此症之原因，為熱毒內蘊，將行發現於外。猝遇外間之風寒一激，將熱毒之出路截住，全身的膚膜均行冷開，毒不能外泄所致。然周身的氣化，無一息之停留，熱毒即乘此時機，隨氣道竄行於皮膚之外，故無熱而起風泡，或不變皮色而發疙疸。其症象微痛而癢極，至於不能須臾忍奈。但以手搔之，頃刻遍起全身，斯時必感覺周身難受。若流走至口內、及心口窩兩處，亦甚險要，不可疏忽失治也。治法宜用解肌、散風、通絡、消毒之防風升麻湯，使其表皮之寒鬆解，熱毒即行開散，風邪能消，膜絡自通也。其內服之防風升麻湯，及外擦之止癢藥包方列後：</p>
<p><u>防風升麻湯方</u></p>
<p>北防風（一錢）　綠升麻（六分）　生梔衣（七分）　麥門冬（五分）　荊芥穗（八分）　細木通（七分）　粉葛根（七分）　薄荷梗（六分）　小玄參（五分）　牛蒡子（一錢）　粉丹皮（六分）　青連翹（一錢）　以上各藥共用水一茶碗，煎成半茶碗，頻頻與兒服之。此藥為一歲以內之劑，若五歲以內之小兒，須更加一倍藥與服始可。不然病重藥輕，無濟於事。若兼大便閉結，口味不開，頭旋暈甚者，是胃滿腸燥，熱不下行，燥火轉往上攻，須加酒大黃（一錢）、炒枳殼（一錢），即可通胃氣以消滯，攻下小便，能使燥火從下去也。</p>
<p><u>止癢藥包方</u>（附用法）</p>
<p>北防風（一錢）　荊芥穗（一錢）　天水散（一錢）</p>
<p>三味共研極細末，用白夏布一塊將藥末包住，夏布上端用線扎之，以有藥末下之端，做成乳形微大之狀，用之遍擦頭面肢，及前心後背等處起風泡與白遍疙疸的地方，大能清熱散風，立即止癢止痛，神效無比。又可以免用指爪搔癢，能致肌膚破裂，遺毒血絡，發腫潰爛也。</p>

<h1>論嬰兒胎黃症</h1>
<p>胎黃症者，嬰兒降生一二日後，發熱啼哭不吮乳，不能酣眠，手足時有一動之象。斯時眉心及兩顴發現黃色，漸漸眼白輪全面均黃矣。若再失治療的時候，及不明黃的原因，不知治法，又一延稽，通身均成黃色，黃毒迷漫，遍體強硬，抽搐隨之即起，危在頃刻，雖有治療方法，亦莫能挽救也。此症由娠母感受濕熱，發為淋帶，日久成毒，蒸為黃色，傳於胞胎。故嬰兒在胎元時，已蘊藏濕熱之毒。落生後一二日間，必行發作，通身面目皆放黃金色。外象是壯熱，大便閉結，小溲短赤等症。治法應用地黃茵陳湯煎劑，清熱、解毒、活血、利濕，自可漸漸黃退身安，切不可待其黃毒侵及神經，再行醫治也。然須辨明此嬰兒之胎黃症，與五歲上下所患之黃疸不同。胎黃為先天之濕熱結毒而成，無論如何亦須向體外發作，是由內而外的，病能不復雜，治療之法即減易。只要對症施治，見效不難。若黃疸則大異，其外部的病形病能，雖可與胎黃症相濫，而其成病的原因，及其治療之方藥，種種不能相同。蓋黃疸為濕溫誤治及失時，轉向里攻，復經庸醫用滋陰養血等膩藥，以希退熱。孰知表邪不解，濕溫即由滋陰養血藥，引導之入於血分。肝膽首當其衝，因熱而漲溢，脾胃繼之，濕蒸而成黃，是症自外來而入內，復由內而發於外，病能病形均複雜。治療之法，自不能如胎黃之簡單也。關於黃疸症，後尚有專條論斷，其病能及治法，再行詳細的說明。茲先將地黃茵陳湯方列下：</p>
<p><u>地黃茵陳湯方</u>（專治胎黃）</p>
<p>細生地（八分）　當歸尾（七分）　淨豬苓（八分）　天花粉（一錢）　赤芍藥（八分）　赤茯苓（一錢）　綿茵陳（一錢）　建澤瀉（八分）　黑山梔（五分）　小木通（五分）　青連翹（七分）　生甘草（二分）　以上各藥共用水一茶碗，煎成少半茶碗，放在乳瓶，令嬰兒吮之。面目的黃色，即漸漸退為淡黃。斯時兒之壯熱，亦能減輕成平熱，漸可安睡，手足的偶一掀動之現象，於無形中停止其工作。過一夜後，小溲暢行，光赤紅，嗅之有腐臭味，繼見淡黃，終則長清，濕熱之毒，始由膀胱宣泄淨盡。同時大便，亦行潤下，作深黃兼綠色，也有腐臭味。是濕熱蘊毒，由脾胃順降至大腸，盪滌而去也。至此熱必全退，黃去而肌肉轉紅活，啼住乳吮，胎黃之毒，才完全解除，回覆嬰兒自然的狀況也。若已誤治，濕熱結毒，向內抗進，侵及神經，浸浸有抽搐的症象，或已經微現抽搐。按胎黃的病能、及危急之狀態，到此地步，醫藥之力，恐不足以追及。本不能挽救，然為醫者，不可因病成不治，不為設法用峻烈之劑，以希死裡求生，任其云亡也。以吾設想，只要黃毒未至瀰漫，全身四肢未至強硬，雖熱侵神經，已起抽搐，尚可用藥拯救，以希萬一。至終不能救，病兒的家長，只要明白生理與病態，萬無恨怒醫者之理。故吾敢大膽擬一方藥，或可轉危為緩，黃毒之攻進停止，性命自可保留，方能從容療治。險象已去，仍可用前方地黃茵陳湯與服，即能漸漸痊愈也。其救急的方藥為何，犀角地黃解毒湯是也。犀角雖過涼性猛，然非此不足以清血退熱。只可猛一服之，萬不可頻用，切切注意，犀角地黃解毒湯列下：</p>
<p><u>犀角地黃解毒湯方</u>（治胎黃誤治，轉成抽搐急症）</p>
<p>犀角（磅四分，另煎兌服）　小生地（一錢）　赤芍藥（一錢）　青連翹（一錢）　細木通（八分）　生山梔（五分）　牡丹皮（七分）　紫地丁（一錢）　荊芥穗（六分）　苦桔梗（七分）　生甘草（三分，為引）　以上各藥，除犀角另煎兌服、及煎制之法另條錄出外，其餘各藥共用水一茶碗，煎成十分之四碗，倒在其他盂中，再兌上犀角汁與服即可。</p>
<p>煎犀角汁法：</p>
<p>取頂上犀角（磅，四分），放沙壺或鐵磁盂中，多加水慢火細細煎之。須煎至百餘沸，僅剩半酒杯即成。倒出後放在一邊，待煎劑成後，再兌入藥汁中。煎時用文火法，並須用新竹筷頻頻攪之，不使其沫沸出。恐其精華隨沫沸出，與病無濟也。至於煎剩的渣，可再加水煎之，與兒作飲料服，其力量尚能清血中餘毒也。</p>

<h1>論脾胃之實熱虛熱</h1>
<p>脾胃亦為人體的重要臟腑。脾為臟，胃為腑，胃為脾之表，脾為胃之表，有互相連帶之關係。在胃有病之時期，脾有時不連帶同病；若脾有病時，則胃無有不連帶同病者。脾實胃必熱，其現象環唇紅燥，或是崩裂起皮，牙齦內必掀腫而紅紫，大便必色深黃且兼黑，或燥結不通。此時即身體發熱，食慾不振，精神疲倦，或嘔吐味苦兼酸，或大渴消水而瀉黃汁。凡此等之症形，是胃熱脾實而不和也。大部分為傷食停飲，日數一多，脾胃均因滯生實熱，是內里蘊成之熱，而非外感溫邪所發生的表熱也。此點必須注意。以外感的表熱，用清下之藥，即可退淨。且最忌攻下劑，恐外邪下陷，熱向里攻，起神經受炙而發抽搐，或外邪逗留中焦以成結胸。而此之內部實熱，不用清下之藥，直不能去之也。故治此等內裡實熱之症，生石膏可用也，酒川軍亦可用也。如用生石膏，是用以清理脾胃之實熱為主；如用酒川軍，是用以盪滌腸胃而撤實熱為主。若是其熱尚未洪壯之程度，二者不可以兼用。只要用其一，再佐以消滯清火通氣等藥，即可治愈也。脾力，既虛本無熱，所以熱者，因虛亦能生熱，使之然耳。脾虛胃即不能和，消化之能力薄弱也。其現象是全身微作熱，而時有微汗，其手足心及前額後腦，必較他處熾熱。口雖作渴，而唇必慘白，口氣必微弱。以手按之，而熱不蒸手。或宿食不能消化，見乳而不欲食，有時或吐或瀉，此是脾虛胃熱，虛熱之症也。治法應以養脾為主，脾能傳化穀氣，胃之虛熱自平。萬不可再用消滯清熱藥，以求速急退熱進食。此已受傷的脾胃，轉因克伐太過，愈行敗壞成為痞積臌脹，成疳勞肢體漫腫也。應用錢東陽之補脾益黃散，或調氣益黃散，因症而用可也。若恐調氣益黃散內之蟲類燥血，可用六君子湯，加藿香、胡黃連，補虛去熱。少加活靈藥，以防其膩滯，亦是善法。如脾虛腹腫，腸時空鳴，因傷食而起者，以指彈之如鼓聲，以手按之如棉軟，是氣虛極，脾已無運用力。切不可用有通性藥品，以防其虛脫也。宜用六君子湯，加黃耆、厚朴，溫中固氣，助其慢慢自能運化也。如腳與腿腫，加宣木瓜、大腹皮、紫菀茸等藥，就補氣藥中，宣其下部絡膜以消腫。補虛益氣藥，亦可以借其宣力，以調和滯性也。</p>

<h1>論脾濕</h1>
<p>濕由脾氣虛弱，不能運化以行水，水性凝滯不動，日久腐化，轉侵脾土，以成種種濕症之象也。其症象面色暗白，皮膚粗糙不潤，口唇晦紫而不紅活，或痰易動而不化，或食飲稍傷，立即泄瀉，或下利清水，或嘔吐酸腐，或身體發熱而易汗，或四肢倦怠而頭重，凡此等症象，均為脾濕症也。治法以蒼朮、白朮為主藥，加土炒杭芍、木瓜片、花檳榔、半夏曲、廣陳皮、赤茯苓、車前草、炙甘草、烏梅藥等藥，加水煎成濃汁，乘溫服之，定能滲濕起脾也。如傷停水，脾氣不能運化，因之生痰飲者，治法宜用消導二陳湯，加炮薑、姜竹茹，炒枳殼，即可導行痰飲，而消食健脾也。其消導二陳湯方列後：</p>
<p><u>消導二陳湯方</u></p>
<p>茅蒼朮（一錢）　焦白朮（一錢）　廣陳皮（錢半）　半夏曲（二錢）　茯苓塊（二錢）　炒神麯（二錢）　西砂仁（一錢）　炙甘草（五分）　以上各藥共用水二茶碗，煎成濃汁四分之三茶碗一次與服。此藥為五歲上下小兒服劑，若一歲上下小兒須減半。如四肢身體面部等處，生有癬及濕瘡，是脾濕外出，濕氣散化象。切不可皮膚外間用藥塗擦，以截遏濕的出路，只可內服清熱利濕藥，脾間氣化一通，濕即隨氣而散。其皮膚外部無根之濕毒，不用治自能幹痂而愈也。</p>

<h1>論肺熱肺寒肺虛各象及治法</h1>
<p>肺熱之象，為右腮獨現紅色，至午後紅色尤盛而作燒，鼻孔乾燥作癢，兩目白球現紅絲，或全蒸紅酸澀流淚，熱脹而且痛，鼻息粗促，或口氣急發喘，或咳嗽吐黃濃痰，或咳不能暢，肺氣脹滿而胸部微高，或氣逆痰湧而咳不出，面部壅急頓成赤色，或大便燥結，肺熱移於大腸也，或大便瀉黃水，肺熱極下迫大腸也。肺與胃相鄰，肺熱胃必波及亦生熱，停滯作酸，胸悶呃逆，頭暈目旋，飲食無味，舌苔黃厚而膩，時作嘔吐，口發臭氣。凡此等現象之病形，直接與間接，均肺熱使之然也。未有表熱現象者，是無外邪的感染，當純按肺熱治療，應用清熱肅肺藥即可，熱去肺氣自能通暢，咳嗽能平，痰飲亦消也。萬不可用散風邪藥治肺，反致肺因風藥鼓盪，熱愈甚也，今擬一專清肺熱兼治胃之方如下：</p>
<p><u>清熱肅肺平胃通絡方</u></p>
<p>栝蔞皮（錢半）　苦桔梗（錢半）　泥杏仁（二錢，炒）　廣陳皮（錢半）　薤白頭（錢半）　炒枳殼（錢半）　雞內金（二錢）　淡竹茹（錢半）　青連翹（二錢）　鮮枇杷葉（二錢，布包，為引）　水煎。此藥為五歲上下小兒之方劑，若在周歲上下小兒須減半用之。此方連進二服，無外感的內熱，及肺熱胃滿滯氣悶等症，均能治愈也。其成方清肺熱之瀉白散，萬不可用。以該方中的桑白皮、地骨皮，均為治肺陰之藥，其性走陰分，清肺中血分之熱，恐引熱入陰。病本在氣分，誤引入血分，不但不能清肺熱，乃至熱入愈深，變症歧出，治療更須費手續也。</p>
<p>肺寒之象，為鼻流清涕，氣逆咳嗽，時吐稀痰或白痰，肢體時有惡寒象，面色痿白，舌苔白膩，小溲清長，大便溏瀉，飲食無味，食慾不振，口中時泛淡甜水。凡此等病象，是肺寒的。</p>
