<header data-type="book">
<h1>醫經溯洄集</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王履</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1368">公元1368年</data></dd></div>
<div><dt>底本</dt><dd>明刻清印《東垣十書》本（<a href="https://lccn.loc.gov/2012402514">美國國會圖書館藏本</a>）；《欽定四庫全書·子部五·醫家類·醫經㴑洄集》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0066/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>神農嘗百草論</h1>
<p>淮南子云。神農嘗百草。一日七十毒。予嘗誦其書每至於此。未始不嘆夫孟子所謂盡信書。則不如無書。夫神農立極之大聖也。閔生民之不能以無疾。故察夫物性之可以愈疾者。以貽後人。固不待乎物物必嘗而始知也。苟待乎物物必嘗而始知。則不足謂之生知之聖也。以生知之聖言之。則雖不嘗亦可知也。設使其所知。果有待乎必嘗。則愈疾之功。非疾不能以知之。其神農眾疾俱備。而歷試之乎。況汙穢之藥。不可嘗者。其亦嘗乎。且味固可以嘗而知。其氣。其性。其行經主治。及畏惡反忌之類。亦可以嘗而知乎。苟嘗其所可嘗。而不嘗其所不可嘗。不可嘗者。既可知。而可嘗者。亦不必待乎嘗之而後知矣。謂其不嘗不可也。謂其悉嘗亦不可也。然經於諸藥名下不著氣性等字。獨以味字冠之者。由藥入口惟味為先故也。又藥中雖有玉石蟲獸之類。其至眾者惟草為然。故遂曰嘗百草耳。豈獨嘗草哉。夫物之有毒。嘗而毒焉。有矣。豈中毒者。日必七十乎。設以其七十毒。偶見於一日而記之。則毒之小也。固不死而可解。毒之大也。則死矣。孰能解之。亦孰能復生之乎。先正謂淮南之書多寓言。夫豈不信。</p>

<h1>亢則害承乃制論</h1>
<p>予讀內經六微旨論。至於亢則害。承乃制。喟然嘆曰。至矣哉。其造化之樞紐乎。王太僕發之於前。劉河間闡之於後。聖人之蘊。殆靡遺矣。然學者尚不能釋然。得不猶有未悉之旨也歟。謹按內經。帝曰。願聞地理之應六節氣位何如。岐伯曰。顯明之右。君火之位也。君火之右。退行一步。相火治之。復行一步。土氣治之。復行一步。金氣治之。復行一步。水氣治之。復行一步。木氣治之。復行一步。君火治之。相火之下。水氣承之。水位之下。土氣承之。土位之下。風氣承之。風位之下。金氣承之。金位之下。火氣承之。君火之下。陰精承之。帝曰。何也。岐伯曰。亢則害。承乃制。制生則化。外列盛衰。害則敗亂。生化大病。嘗觀夫陰陽五行之在天地間也。高者抑之。下者舉之。強者折之。弱者濟之。蓋莫或使然。而自不能不然也。不如是。則高者愈高。下者愈下。強者愈強。弱者愈弱。而乖亂之政日以極矣。天地其能位乎。雖然。高也。下也。弱與強也。亦莫或使然。而自不能不然也。故易也者。造化之不可常也。惟其不可常。故神化莫能以測。莫測故不息也。可常則息矣。亢則害。承乃制者。其莫或使然。而自不能不然者歟。夫太僕河間已發揮者。茲不贅及。其未悉之旨。請推而陳之。夫自顯明之右。止君火治之十五句。言六節所治之位也。自相火之下。止陰精承之十二句。言地理之應乎歲氣也。亢則害。承乃制二句。言抑其過也。制生則化。止生化大病四句。言有制之常。與無制之變也。承猶隨也。然不言隨。而曰承者。以下言之。則有上奉之象。故曰承。雖謂之承。而有防之之義存焉。亢者過極也。害者害物也。制者克勝之也。然所承也其不亢。則隨之而已。故雖承而不見。既亢。則克勝以平之。承斯見矣。然而迎之不知其所來。跡之不知其所止。固若有不可必者。然可必者。常存乎杳置恍惚之中。而莫之或欺也。河間曰。已亢過極。則反似勝已之化。似也者。其可以形質求哉。故後篇厥陰所至為風生。終為肅。少陰所至為熱生。終為寒之類。其為風生為熱生者。亢也。其為肅為寒者。制也。又水發而為雹雪。土發而飄驟之類。其水發土發者。亢也。其雹雪飄驟者。制也。若然者。蓋造化之常。不能以無亢。亦不能以無制焉耳。夫前後二篇。所主雖有歲氣運氣之殊。然亢則害。承乃制之道。蓋無往而不然也。惟其無往而不然。故求之於人。則五臟更相平也。一臟不平。所不勝平之。五臟更相平。非不亢而防之乎。一臟不平。所不勝平之。非既亢而克勝之乎。姑以心火而言。其不亢。則腎水雖心火之所畏。亦不過防之而已。一或有亢。即起而克勝之矣。餘臟皆然。制生則化。當作制則生化。蓋傳寫之誤。而釋之讀之者。不覺求之不通。遂並遺四句而弗取。殊不知上二句。止言亢而害。害而制耳。此四句。乃害與制之外之餘意也。苟或遺之。則無以見經旨之周悉矣。制則生化。正與下文害則敗亂相對。辭理俱順。不勞曲說。而自通。制則生化者。言有所制。則六氣不至於亢而為平。平則萬物生生。而變化無窮矣。化為生之盛。故生先於化也。外列盛衰者。言六氣分布主治。迭為盛衰。昭然可見。故曰外列。害則敗亂。生化大病者。言既亢為害。而無所制。則敗壞乖亂之政行矣。敗壞乖亂之政行。則其變極矣。其災甚矣。萬物其有不病者乎。生化。指所生所化者言。謂萬物也。以變極而災甚。故曰大病。上生化。以造化之用言。下生化。以萬物言。以人論之。制則生化。猶元氣周流。滋營一身。凡五臟六腑四肢百骸九竅。皆藉焉以為動靜云。為之主生化大病。猶邪氣恣橫。正氣耗散。凡五臟六腑四肢百骸九竅。舉不能遂其運用之常也。或以害為自害。或以承為承襲。或以生為自無而有。化為自有而無。或以二生化為一意。或以大病為喻造化之機息。此數者皆非也。且夫人之氣也。固亦有亢而自制者。苟亢而不能自制。則湯液針石導引之法以為之助。若天地之氣。其亢而自制者。固復於平。亢而不制者。其孰助哉。雖然。造化之道苟變至於極。則亦終必自反。而復其常矣。學者能本之太僕河間。而參之此論。則造化樞紐之詳。亦庶矣乎。然張戴人治法心要。則曰。假令水為母。木為子。當春旺之時。冬令猶在。即水亢也。水亢極。則木令不至矣。木者繼冬而承水也。水既亢。則害其所承矣。所以木無權也。木無權。則無以制土。土既旺。則水乃受制也。土者。繼長夏之令也。水受土製。熱克其寒也。變而為濕。此其權也。又如火為母。土為子。當長夏之時。暄令猶在。即火亢也。火既亢極。則濕令不至矣。濕者。繼夏而承火也。火既亢。則害其所承矣。所以濕無權也。濕無權。則無以制水。水既旺。則火乃受制也。水者。嚴冬之令也。火受水制。寒克其熱也。變而為土濕。土斯得其權也。斯言也推之愈詳。而違經愈遠矣。或曰。心要者。他人成之。蓋得於所聞之訛耳。</p>

<h1>四氣所傷論</h1>
<p>素問生氣通天論篇曰。春傷於風。邪氣留連。乃為洞泄。夏傷於暑。秋為咳瘧。秋傷於濕。上逆而咳。發為痿厥。冬傷於寒。春必病溫。陰陽應象論篇曰。春傷於風。夏生飧泄。夏傷於暑。秋必痎瘧。秋傷於濕。冬生咳嗽。冬傷於寒。春必病溫。王啟玄注云。風中於表。則內應於肝。肝氣乘脾。故洞泄。或飧泄。夏暑已甚。秋熱復收。兩熱相攻。則為痎瘧。秋濕既勝。冬水復旺。水濕相得。肺氣又衰。故乘肺而為咳嗽。其發為痿厥者。蓋濕氣內攻於臟腑。則咳逆。外散於筋脈。則痿弱也。厥謂逆氣也。冬寒且凝。春陽氣發。寒不為釋。陽怫於中。寒怫相持。故為溫病。傷寒論引素問後篇八句。成無己注云。當春之時。風氣大行。春傷於風。風氣通於肝。肝以春適旺。風雖入之。不能即發。至夏肝衰。然後始動。風淫末疾。則當發於四肢。夏以陽氣外盛。風不能外發。故攻內而為飧泄。當秋之時。濕氣大行。秋傷於濕。濕則干於肺。肺以秋適旺。濕雖入之。不能即發。至冬肺衰。然後濕始動也。雨淫腹疾。則當發為下利。冬以陽氣內固。濕氣不能下行。故上逆而為咳嗽。當夏之時。暑氣大行。夏傷於暑。夏以陰為主內。暑雖入之。勢未能動。及秋陰出。而陽為內主。然後暑動搏陰。而為痎瘧。當冬之時。寒氣大行。冬傷於寒。冬以陽為主內。寒雖入之。勢未能動。及春陽出。而陰為內主。然後寒動搏陽。而為溫病。王海藏曰。木在時為春。在人為肝。在天為風。當春之時。發為溫令。反為寒折。是三春之月。行三冬之令也。以是知水太過矣。水既太過。金肅愈嚴。是所勝者乘之。而妄行也。所勝者乘之。則木虛明矣。木氣既虛。火令不及。是所生者受病也。故所不勝者侮之。是以土來木之分。變而為飧泄也。所以病發於夏者。以木絕於夏。而土旺於夏。濕本有下行之體故也。不病於春者。以春時風雖有傷。木實當權故也。暑季夏也。季夏者。濕土也。君火持權。不與之子。暑濕之令不行也。濕令不行。則土虧矣。所勝妄行。木氣太過。少陽旺也。所生者受病。則肺金不足。所不勝者侮之故水得以來土之分。土者坤也。坤在申之分。申為相火。水入於土。則水火相干。水火相干。則陰陽交爭。故為寒熱。兼木氣終見三焦。是少陽相火合也。少陽在濕土之分。故為寒熱。肺金不足。灑淅寒熱。此皆往來未定之氣也。故為痎瘧。不發於夏。而發於秋者。以濕熱在酉之分。方得其權故也。秋者清肅之氣。收斂下行之體也。為濕所傷。是長夏之氣。不與秋令也。秋令不及。所勝妄行。故火得以炎上而剋金。心火既刑于肺。故肺氣逆而為咳。所不勝者侮之。木氣上行。與火同德。動而不息者也。所生者受病。故腎水虧也。長夏已亢。三焦之氣盛也。命門者三焦之合也。故迫腎水上行。與脾土濕熱。相合為疾。因咳而動於脾之濕。是以咳嗽有聲。有涎。不發於秋。而發於冬者。以其六陰之極。肅殺始得其氣故也。冬傷於寒者。是冬行春令也。當寒而溫。火勝而水虧矣。水既已虧。則所勝妄行。土有餘也。所生受病。木不足也。所不勝者侮之。火太過也。火土合德。濕熱相助。故為溫病。不病於冬。而病於春者。以其寒水居卯之分。方得其權。大寒之令。復行於春。腠理開泄。少陰不藏。房室勞傷。辛苦之人。陽氣泄於外。腎水虧於內。當春之月。時強木長。無以滋生化之原。故為溫病耳。夫春傷於風。夏傷於暑。冬傷於寒。辭理皆順。時字傷令字也。獨秋傷於濕。說作令字傷時字。讀者不可疑也。此四說。皆母所亢。而害其所承之子也。若說秋字傷濕字。其文與上三句相通。其理與法不得相通矣。大抵理與法通。不必拘於文也。或謂春傷於風。是人為風所傷。非也。若是。則止當頭痛。惡風。自汗。何以言夏為飧泄哉。今言春傷於風。即是時傷令也明矣。愚按。此四傷諸家註釋。皆不得經旨者。蓋由推求太過故也。孟子曰。道在邇。而求諸遠。事在易。而求諸難。此之謂歟。但只輕輕平易說去。則經旨自明。而無穿鑿之患矣。何以言之。夫風暑濕寒者。天地之四氣也。其傷於人。人豈能於未發病之前。預知其客於何經絡。何臟腑。何部分。而成何病乎。及其既發病。然後可以診候。始知其客於某經絡。某臟腑。某部分。成某病耳。註釋者。苟誤因病始知病原之理。則於此四傷。不勞餘力。自迎刃而解矣。夫洞泄也。痎瘧也。咳與痿厥也。溫病也。皆是因其發動之時。形診昭著。乃逆推之。而知其昔日致病之原。為傷風。傷暑。傷濕。傷寒耳。非是初受傷之時。能預定其今日必為此病也。且夫傷於四氣。有當時發病者。有過時發病者。有久而後發病者。有過時之久自消散。而不成病者。何哉。蓋由邪氣之傳變聚散不常。及正氣之虛實不等故也。且以傷風言之。其當時而發則為惡風。發熱。頭疼。自汗。咳嗽。喘促等病。其過時與久而發。則為癘風。熱中。寒中。偏枯。五臟之風等病。是則洞泄。飧泄者。乃過時而發之中之一病耳。因洞泄。飧泄之病生。以形診推之。則知其為春傷風。藏蓄不散。而致此也。苟洞泄。飧泄之病未生。孰能知其已傷風於前。將發病於後邪。假如過時之久自消散。而不成病者。人亦能知乎。世有太素脈法。雖或預知死亡之期。然亦是因診之昭著。而始能知耳。夏傷暑為痎瘧。冬傷寒為溫病。意亦類此。但秋傷濕。上逆為咳嗽。為痿厥。其因病知原。則與三者同。其令行於時。則與三者異。夫春之風。夏之暑。冬之寒。皆是本時之令也。濕乃長夏之令。何於秋言之。蓋春夏冬每一時。各有三月。故其令亦各就其本時而行也。若長夏。則寄旺於六月之一月耳。秋雖亦有三月。然長夏之濕令。每侵過於秋而行。故曰秋傷於濕。（秋令為燥。然秋之三月前近於長夏。其不及為濕所勝。其太過則同於火化。其平氣則又不傷人。此經所以於傷人止言風暑濕寒。而不言燥也。或問余曰。五運六氣七篇。所敘燥之為病甚多何哉。余曰。運氣七篇。與素問諸篇。自是兩書。作於二人之手。其立意各有所主。不可混言。王冰以為七篇參入素問之中。本非素問元文也。余今所推之義。乃是素問本旨。當自作一意看。）請陳四氣所傷所病之義。夫風者。春之令也。春感之。偶不即發。而至夏。邪既不散。則必為疾。其所以為洞泄者。風蓋天地浩蕩之氣。飛揚鼓舞。神速不恆。人身有此。腸胃之職。其能從容傳化泌別。而得其常乎。故水穀不及分別。而並趍下。以泄出也。其為飧泄。亦類此義。（說者謂。春傷風為內通肝。洞泄飧泄。為木乘土。又謂。不發於春為邪避木旺。發於夏為木衰邪動。竊謂風既通肺。則正當木班之時。木極盛土極衰矣。理宜乘旺而即發於春。不宜反過時而發於夏也。且夏火司權。母能滋子。何故不發於土衰極之時。而反發於土受滋之時乎。其說不通。難以憑據。）暑者。夏之令也。夏感之。偶不即發。而至秋。又傷於風與寒。故為痎瘧也。寒者。冬之令也。冬感之。偶不即發。而至春。其身中之陽。雖始為寒邪所郁。不得順其漸升之性。然亦必欲應時而出。故發為溫病也。若夫秋傷濕。其令行於時之義。上文已論之矣。前篇所謂上逆而咳。發為痿厥。不言過時。似是當時即發者。但既與風暑寒三者並言。則此豈得獨為即發者乎。然經無明文。終亦不敢比同後篇。便斷然以為冬發病也。雖然。濕本長夏之令。侵過於秋耳。縱使即發。亦近於過時而發者矣。此當只以秋髮病為論。濕從下受。故干肺為咳。謂之上逆。夫肺為諸氣之主。今既有病。則氣不外運。又濕滯經絡。故四肢痿弱無力。而或厥冷也。後篇所謂冬生咳嗽。既言過時。則與前篇之義頗不同矣。夫濕氣久客不散。至冬而寒氣大行。肺惡寒。而或受傷。故濕氣得以乘虛上侵於肺。發為咳嗽也。觀者。以此意求之經旨。其或著乎。或者見素問於病溫痎瘧等。間以必言之。遂視為一定不易之辭。而曰此必然之道。嗟乎。果可必耶。果不可必耶。素問之或言必。或不言必者。蓋不可膠為一定故也。（往往有泥於必之一字。遂謂冬傷寒。必當得病於春。其冬傷寒而即病者。反置而不論。若此者。可不謂之棄本逐末乎。）</p>
<p>經中每有似乎一定不易之論。而卻不可以為一定不易者。如曰熱厥。因醉飽入房。而得熱中消中者。皆富貴人也。新沐中風。則為首風。如此之類。豈一一皆然哉。讀者。當活法。勿拘執也。夫王啟玄之注。雖未免泥於必字。及未得經旨。然卻不至太遠也。若成無己之說。則似太遠矣。然猶未至於甚也。至王海藏立論。則推求過極。欲異於人。殊不知反穿鑿綴緝乖悖經旨。有不可勝言者。此先儒所謂。如大軍遊騎。出大遠。而無所歸矣。姑摭成無己王海藏之說。辨其甚者一二。夫無己謂風淫末疾。則當發於四肢。雨淫腹疾。則當發為下利。竊謂則當二字。決然之辭也。春傷風遇夏之陽氣外盛。而不能外發。故攻內為飧泄。此或若可通矣。經曰。木發無時。倘風不傷於春。而傷於他時。不遇夏之陽氣外盛。將外發乎。將內攻乎。況風屬陽。與夏同氣。果欲外出。則當隨其散越之勢而出。安有不能之理乎。且風善行數變。其為病非一。豈獨能為四肢之疾乎。所謂雨淫腹疾之義。其不通亦如此。至若夏傷暑。秋為痎瘧者。蓋因暑疾藏於皮膚之內。腸胃之外。復秋感風。故疾作耳。觀素問瘧論可見。其與夏陰主內。秋陽內主。暑動搏陰。何相干哉。冬傷寒。春為溫病者。蓋因寒毒中人肌膚。陽受所郁。至春天地之陽氣外發。其人身受郁之陽。亦不能不出。故病作也。（韓祗和謂。冬時感寒鬱陽至春時。再有感而後發。余謂此止可論溫病之有惡寒者耳。其不惡寒者。則亦不為再感。而後發也。故仲景曰。太陽病不發熱而渴。不惡寒者。為溫病。）觀傷寒論可見。其與冬陽主內。春陰內主。寒動搏陽。何相干哉乃若海藏。則又以春傷風。夏傷暑。冬傷寒。為時傷令。秋傷濕。為令傷時。故於春傷風。謂春行冬令。而溫為寒折。於夏傷暑。謂暑者。季夏。季夏者。濕土。君火持權不與子。而暑濕令不行。於秋傷濕。謂秋為濕所傷。是長夏之氣不與秋令。於冬傷寒。謂冬行春令。火勝水虧。大寒之令。復行於春。陽氣外泄。腎水內虧者病。又謂溫病。為濕熱相助而成。又謂四時傷。皆母亢而害所承之子。籲。何支離破碎徒費辭如此乎。夫經中所言傷風。傷暑之類甚多。皆是以人受風暑等所傷為義。未嘗有時傷令。令傷時之意也。若如海藏所言。則瘧論所謂夏傷於暑。秋傷於風。與先傷於風。後傷於寒等語。其時傷令歟。令傷時歟。吾固知其不能不屈於此也。且暑為夏令。孰不知之。今以暑為季夏。為濕土。得不怪哉。夫冬果行春令。人若感此。則成冬溫病矣。安得為春溫病乎。其謂大寒之令。復行於春。溫病方作。設使大寒之令。不復行於春。其溫病當作者。遂不作乎。況今之春為溫病者。比比皆是。未嘗見其必由大寒。復行於春。而後成也。經曰。亢則害。承乃制。其義謂已亢極。則勝已者來制。如火亢極。則水來制之。經所謂相火之下。水氣承之。水位之下。土氣承之。之類。皆是勝已者為承。今以亢為母。承為子。將求勝於經歟。抑未達歟。又如以制物者為所勝。受制者為所不勝。與經所謂氣有餘。則制已所勝。而侮所不勝。及傳之於其所勝。死於其所不勝之旨全反矣。余如因時傷令令傷時之說。委曲衍說者。固不暇患辨也。嗚呼。予非好斥前人之非。蓋為其有害大義。晦蝕經旨。以誤後人。故不敢諛順而嘿嘿耳。然而僣逾之罪。固已自知。其不得辭矣。但未知觀者。以為何如。</p>

<h1>張仲景傷寒立法考</h1>
<p>讀仲景之書。當求其所以立法之意。苟得其所以立法之意。則知其書足以為萬世法。而後人莫能加。莫能外矣。苟不得其所以立法之意。則疑信相雜。未免通此而礙彼也。嗚呼。自仲景以來。發明其書者。不可以數計。然其所以立法之意。竟未聞有表章而示人者。豈求之而不得之歟。將相循習而不求歟。抑有之而余未之見歟。余雖不敏。僣請陳之。夫傷於寒。有即病者焉。有不即病者焉。即病者。發於所感之時。不即病者。過時而發於春夏也。即病謂之傷寒。不即病謂之溫與暑。夫傷寒溫暑。其類雖殊。其所受之原。則不殊也。由其原之不殊。故一以傷寒而為稱。由其類之殊。故施治不得以相混。以所稱而混其治。宜乎貽禍後人。以歸咎於仲景之法。而委廢其太半也。籲。使仲景之法。果貽禍於後人。傷寒論不作可也。使仲景之法。果不貽禍於後人。傷寒論其可一日缺乎。後人乃不歸咎於已見之未至。而歸咎於立法之大賢。可謂溺井怨伯益。失火怨燧人矣。夫仲景法之祖也。後人雖移易於窮。終莫能越其矩度。由莫能越而觀之。則其法其方。果可委廢太半哉。雖然。立言垂訓之士。猶不免失於此。彼碌碌者。固無足誚矣。夫惟立言垂訓之士。有形乎著述之間。其碌碌者當趑趄猶預之餘。得不靡然從令爭先快睹而趍簡略之地乎。夫其法其方委廢太半而不知返。日惟簡便是趍。此民生之所以無籍。而仲景之心之所以不能別白矣。嗚呼。法也。方也。仲景專為即病之傷寒設。不兼為不即病之溫暑設也。後人能知仲景之書。本為即病者設。不為不即病者設。則尚恨其法散落所存不多。而莫能御夫粗工妄治之萬變。果可憚煩而或廢之乎。是知委廢太半。而不覺其非者。由乎不能得其所以立法之意故也。今人雖以治傷寒法治溫暑。亦不過借用耳。非仲景立法之本意也。猶六書假借。雖移易於窮。終非造字之初意。夫仲景立法。天下後世之權衡也。故可借焉以為他病用。雖然。豈特可藉以治溫暑而已。凡雜病之治。莫不可借也。今人因傷寒治法。可藉以治溫暑。遂謂其法通為傷寒溫暑設。籲。此非識流而昧原者歟。苟不余信。請以證之。夫仲景之書。三陰經寒證。居熱證什之七八。彼不即病之溫暑。但一於熱耳。何由而為寒哉。就三陰寒證而詳味之。然後知余言之不妄。或者乃謂三陰寒證。本是雜病。為王叔和增入其中。又或謂其證之寒。蓋由寒藥誤治而致。若此者皆非也。夫叔和之增入者。辨脈平脈與可汗可下等諸篇而已。其六經病篇。必非叔和所能賛辭也。但厥陰經中下利嘔噦諸條。卻是叔和因其有厥逆而附。遂並無厥逆而同類者。亦附之耳。至若以藥誤治。而成變證。則惟太陰為多。縱使三陰證。亦或有寒藥誤治而變寒者。然豈應如是之眾乎。夫惟後人以仲景書通為傷寒溫暑設。遂致諸溫劑皆疑焉。而不敢用。韓只和雖覺桂枝湯之難用。但謂今昔之世不同。然未悟仲景書。本為即病之傷寒設也。且其著微旨一書。又純以溫暑作傷寒立論。而即病之傷寒。反不言及。此已是捨本徇末。全不能窺仲景藩籬。又以夏至前。胸膈滿悶。嘔逆。氣塞。腸鳴。腹痛。身體拘急。手足逆冷等證。視為溫暑。謂與仲景三陰寒證。脈理同。而證不同。遂別立溫中法以治。夫仲景所敘三陰寒證。乃是冬時即病之傷寒。故有此證。今欲以仲景所敘三陰寒證。求對於春夏溫暑之病。不亦惽乎。雖然。祗和未悟仲景立法本旨。而又適當溫暑病作之際。其為惑也。固宜。以余觀之。其胸膈滿悶。嘔逆。氣寒等證。若非內傷冷物。則不正暴寒所中。或過服寒藥所變。或內外俱傷於寒之病也。且祗和但曰寒而當溫然未嘗求其所以為寒之故。能求其故。則知溫暑本無寒證矣。改之仲景書。雖有陰毒之名。然其所敘之證。不過面目青。身痛如被杖。咽喉痛而已。並不言陰寒極甚之證。況其所治之方。亦不過升麻甘草當歸鱉甲而已。並不用大溫大熱之藥。是知仲景所謂陰毒者。非陰寒之病。乃是感天地惡毒異氣。入於陰經。故曰陰毒耳。後之論者。遂以為陰寒極甚之證。稱為陰毒。乃引仲景所敘。面目青。身痛如被杖。咽喉痛數語。並而言之。卻用附子散。正陽散等藥以治。竊謂陰寒極甚之證。固亦可名為陰毒。然終非仲景所以立名之本意。觀後人所敘陰毒。與仲景所敘陰毒。自是兩般。豈可混論。後人所敘陰毒。亦只是內傷冷物。或不正暴寒所中。或過服寒藥所變。或內外俱傷於寒而成耳。非天地惡毒異氣所中者也。朱奉議作活人書。累數萬言。於仲景傷寒論多有發明。其傷寒即入陰經為寒證者。諸家不識。而奉議識之。但惜其亦不知仲景專為即病者立法。故其書中。每每以傷寒溫暑混雜議論。竟無所別。況又視傷寒論為全書。遂將次傳陰經熱證。與即入陰經寒證。牽合為一立說。且謂大抵傷寒。陽明證宜下。少陰證宜溫。而於所識即入陰經之見。又未免自相悖矣。夫陽明證之宜下者。固為邪熱入胃。其少陰證。果是傷寒傳經熱邪。亦可溫乎。況溫病暑病之少陰。尢不可溫也。自奉議此說行。而天下後世蒙害者。不無矣。迨夫成無己作傷寒論注。又作明理論。其表章名義纖悉不遺。可謂善羽翼仲景者。然即入陰經之寒證。又不及朱奉議能識。況即病立法之本旨乎。宜其莫能知也。惟其莫知。故於三陰諸寒證。止隨文解義而已。未嘗明其何由不為熱。而為寒也。至於劉守真出。亦以溫暑作傷寒立論。而遺即病之傷寒。其所處辛涼解散之劑。固為昧者有中風傷寒錯治之失而立。蓋亦不無桂枝麻黃難用之惑也。既惑於此。則無由悟夫仲景立桂枝麻黃湯之有所主。用桂枝麻黃湯之有其時矣。故其原病式有曰。夏熱用麻黃桂枝之類熱藥發表。須加寒藥。不然。則熱甚發黃。或斑出矣。（此說出於龐安常。而朱奉議亦從而和之。）殊不知仲景立麻黃湯桂枝湯。本不欲用於夏熱之時也。苟悟夫桂枝麻黃湯本非治溫暑之劑。則群疑冰泮矣。何也。夫寒之初客於表也。閉腠理郁陽氣而為熱。故非辛溫之藥。不能開腠理以泄其熱。此麻黃湯之所由立也。至於風邪傷表。雖反疏腠理而不能閉。然邪既客表。則表之正氣受傷。而不能流通。故亦發熱也。必以辛甘溫之藥發其邪。則邪去而腠理自密矣。此桂枝湯之所由立也。其所以不加寒藥者。蓋由風寒在表。又當天令寒冷之時。而無所避故也。後人不知仲景立法之意。故有惑於麻黃桂枝之熱。有犯於春夏之司氣。而不敢用。於是有須加寒藥之論。夫欲加寒藥於麻黃桂枝湯之中。此乃不悟其所以然。故如此耳。若仲景為溫暑立方。必不如此。必別有法。但惜其遺佚不傳。致使後人有多岐之患。若知仲景傷寒論。專為即病傷寒作。則知麻黃桂枝所以宜用之故。除傳經熱證之外。其直傷陰經。與太陽不鬱熱。即傳陰經諸寒證。皆有所歸著。而不復疑為寒藥誤下而生矣。若乃春夏有惡風惡寒純類傷寒之證。蓋春夏暴中風寒之新病。非冬時受傷過時而發者。不然。則或是溫暑將發。而復感於風寒。或因感風寒。而動乎久郁之熱。遂發為溫暑也。仲景曰。太陽病。發熱而渴。不惡寒者。為溫病。觀此。則知溫病不當惡寒。而當渴。其惡寒而不渴者。非溫病矣。仲景雖不言暑病。然暑病與溫病同。但復過一時。而加重於溫病耳。其不惡寒而渴。則無異也。春夏雖有惡風惡寒表證。其桂枝麻黃二湯。終難輕用。勿泥於發表不遠熱之語也。於是用辛涼解散。庶為得宜。苟不慎而輕用之。誠不能免夫狂躁。斑黃。衄血之變。而亦無功也。雖或者行桂枝麻黃於春夏而效。乃是因其辛甘發散之力。偶中於萬一。斷不可視為常道而守之。今人以敗毒散。參蘇飲。通解散。百解散之類。不問四時中風傷寒。一例施之。雖非至正之道。較之不慎。而輕用麻黃桂枝於春夏。以致變者。則反庶幾。然敗毒散等若用於春夏。亦止可治暴中風寒之證而已。其冬時受傷過時而發之溫病暑病則不宜用也。用則非徒無益亦反害之矣。縱或有效。亦是偶然。彼冬時傷寒。用辛涼發表。而或效者。亦偶然也。凡用藥治病。其既效之後。須要明其當然與偶然。能明其當然與偶然。則精微之地。安有不至者乎。惟其視偶然為當然。所以循非踵弊。莫之能悟。而病者不幸矣。若夫仲景於三陰經。每用溫藥。正由病之所必須。與用之有其時耳。余有別論。茲不再具。若概以三陰寒證。視為雜病而外之。得無負於仲景濟人利物之至仁。而誤後世乎。自近代先覺。不示傷寒溫暑異治之端緒。但一以寒涼為主。而諸溫熱之劑。悉在所略。致使後之學者。視仲景書。欲仗焉。而不敢以終決。欲棄焉。則猶以為立法之祖。而莫能外。甚則待為文具。又甚則束之高閣。而謂其法宜於昔。而不宜於今。由治亂動靜之殊治。靜屬水。亂動屬火。故其溫熱之藥。不可用於今屬火之時也。噫。斯言也。其果然耶否耶。但能明乎仲景本為即病者設法。則桂枝麻黃自有所用。諸溫熱之劑。皆不可略矣。若謂仲景法。不獨為即病者設。則凡時行及寒疫溫瘧風溫等病。亦通以傷寒六經病諸方治之乎。傷寒例曰。冬溫之毒。與傷寒大異。為治不同。又曰寒疫與溫及暑病相似。但治有殊耳。是則溫暑及時行寒疫溫瘧風溫等。仲景必別有治法。今不見者。亡之也。觀其所謂為治不同。所謂溫瘧。風溫。溫毒。溫疫。脈之變證方治如說。豈非亡其法乎。決不可以傷寒六經病諸方通治也。夫素問謂人傷於寒。則為病熱者。言常而不言變也。仲景謂或熱或寒而不一者。備常與變而弗遺也。仲景蓋言古人之所未言。大有功於古人者。雖欲偏廢可乎。叔和搜採仲景舊論之散落者以成書。功莫大矣。但惜其既以自己之說。混於仲景所言之中。又以雜脈雜病紛紜並載於卷首。故使玉石不分。主客相亂。若先備仲景之言。而次附己說。明書其名。則不致惑於後人。而累仲景矣。昔漢儒妝拾殘編斷簡於秦火之餘。加以傳注。後之議者。謂其功過相等。叔和其亦未免於後人之議歟。余嘗欲編類其書。以傷寒例居前。而六經病次之。相類病又次之。瘥後病又次之。診察。治法。治禁。治誤。病解。未解等。又次之。其雜脈雜病與傷寒有所關者。採以附焉。其與傷寒無相關者。皆刪去。如此。庶幾法度純一。而玉石有分。主客不亂矣。然有志未暇。姑敘此。以俟他日。</p>

<h1>傷寒溫病熱病說</h1>
<p>有病因。有病名。有病形。辨其因。正其名。察其形。三者俱當。始可以言治矣。一或未明。而曰不誤於人。吾未之信也。且如傷寒。此以病因。而為病名者也。溫病熱病。此以天時與病形。而為病名者也。由三者皆起於感寒。或者通以傷寒稱之。夫通稱傷寒者。原其因之同耳。至於用藥。則不可一例而施也。何也。夫傷寒蓋感於霜降後。春分前。然不即發。鬱熱。而發於春夏者也。傷寒即發於天令寒冷之時。而寒邪在表。閉其腠理。故非辛甘溫之劑。不足以散之。此仲景桂枝麻黃等湯之所以必用也。溫病熱病後發於天令暄熱之時。怫熱自內而達於外。郁其腠理。無寒在表。故非辛涼或苦寒或酸苦之劑。不足以解之。此仲景桂枝麻黃等湯。獨治外者之所以不可用。而後人所處水解散。大黃湯。千金湯。防風通聖散之類。兼治內外者之所以可用也。夫即病之傷寒。有惡風惡寒之證者。風寒在表。而表氣受傷故也。後發之溫病熱病。有惡風惡寒之證者。重有風寒新中。而表氣亦受傷故也。若無新中之風寒。則無惡風惡寒之證。故仲景曰。太陽病。發熱。而渴。不惡寒者。為溫病。溫病如此。則知熱病亦如此。是則不渴而惡寒者。非溫熱病矣。然或有不因新中風寒。亦見惡風惡寒之證者。蓋病人表氣本虛。熱達於表。又重傷表氣。故不禁風寒。非傷風惡風。傷寒惡寒也。但衛虛則惡風。榮虛則惡寒耳。且溫病熱病。亦有先見表證。而後傳裡者。蓋怫熱自內達外。熱鬱腠理。不得外泄。遂復還里。而成可攻之證。非如傷寒從表而始也。或者不悟此理。乃於春夏溫病熱病。而求浮緊之脈。不亦疏乎。殊不知緊為寒脈。有寒邪則見之。無寒邪則不見也。其溫病熱病。或見脈緊者。乃重感不正之暴寒。與內傷過度之冷食也。豈其本然哉。又或者不識脈形。但見弦便呼為緊。斷為寒。而妄治。蓋脈之盛而有力者。每每兼弦。豈可錯認為緊。而斷為寒。夫溫病熱病之脈。多在肌肉之分。而不甚浮。且右手反盛於左手者。誠由怫熱在內故也。其或左手盛或浮者。必有重感之風寒。否則非溫病熱病。自是暴感風寒之病耳。凡溫病熱病。若無重感。表證。雖間見。而里病為多。故少有不渴者。斯時也。法當治裡熱為主。而解表兼之。亦有治里。而表自解者。余每見世人治溫熱病。雖誤攻其里。亦無大害。誤發其表。變不可言。此足以明其熱之自內達外矣。其間有誤攻裡。而致大害者。乃春夏暴寒所中之疫證。邪純在表。未入於裡故也。不可與溫病熱病同論。夫惟世以溫病熱病混稱傷寒。故每執寒字。以求浮緊之脈。以用溫熱之藥。若此者。因名亂實。而戕人之生。名其可不正乎。又書方多言四時傷寒。故以春夏之溫病熱病。與秋冬之傷寒。一類視之。而無所別。夫秋冬之傷寒。真傷寒也。春夏之傷寒。寒疫也。與溫病熱病自是兩塗。豈可同治。籲。此弊之來。非一日矣。歷考方書。並無救弊之論。每每雷同。良可痛哉。雖然。傷寒與溫病熱病。其攻裡之法。若果是以寒除熱。固不必求異。其發表之法。斷不可不異也。況傷寒之直傷陰經。與太陽雖傷。不及鬱熱即傳陰經為寒證。而當溫者。又與溫病熱病大不同。其可妄治乎。或者知一不知二。故謂仲景發表藥。今不可用。而攻裡之藥。乃可用。嗚呼。其可用不可用之理。果何在哉。若能辨其因。正其名。察其形。治法其有不當者乎。彼時行不正之氣所作。及重感異氣而變者。則又當觀其何時何氣。參酌傷寒溫熱病之法。損益而治之。尤不可例以仲景即病傷寒藥通治也。</p>

<h1>傷寒三陰病或寒或熱辨</h1>
<p>嘗讀張仲景傷寒論。於太陰有曰。自利不渴者。屬太陰。以其臟有寒故也。當溫之。宜服四逆軰。於少陰有曰。少陰病。得之一二日。口中和。其背惡寒者。當灸之。附子湯主之。少陰病。身體痛。手足寒。骨節痛。脈沉者。附子湯主之。少陰病下利。白通湯主之。少陰病下利。脈微者。與白通湯。利不止。厥逆無脈。乾嘔煩者。白通加豬膽汁湯主之。少陰下利清穀。裡寒外熱。手足厥逆。脈微欲絕。身反不惡寒。其人面赤色。或腹痛。或乾嘔。或咽痛。或利止脈不出者。通脈四逆湯主之。少陰病脈沉者。急溫之。宜四逆湯。於厥陰有曰。手足厥寒。脈細欲絕者。當歸四逆湯主之。大汗。若大下利。而厥冷者。四逆湯主之。觀仲景此論。則傷寒三陰。必有寒證。而宜用溫熱之劑也。及讀劉守真之書。有曰。傷寒邪熱在表。腑病為陽。邪熱在裡。臟病為陰。俗妄謂有寒熱陰陽異證。誤人久矣。寒病有矣。非汗病之謂也。寒病止為雜病。終莫能為汗病。且造化汗液之氣者。乃陽熱之氣。非陰寒之所能也。雖仲景有四逆湯證。是治表熱里和。誤以寒藥下之太早。表熱入里。下利不止。及或表熱裡寒自利。急以四逆溫里。利止里和。急解其表也。故仲景四逆湯證。復有承氣湯下之者。由是傷寒汗病。經直言熱病。而不言寒也。經言三陰證者。邪熱。在臟。在裡。以臟與里。為陰。當下熱者也。素問論傷寒熱病有二。篇名曰熱。竟無寒理。兼素問並靈樞諸篇。運氣造化之理推之。則為熱病。誠非寒也。觀守真此論。則傷寒無問在表在裡。與夫三陽三陰。皆一於為熱。而決無或寒者矣。兩說不同。其是非之判。必有一居此者。由是彼此反復究詰其義。而久不能得。雖至神疲氣耗。不捨置者。自謂此是傷寒大綱領。此義不明。則千言萬語。皆未足以為後學式。況戕賊民生。何有窮極也哉。意謂成無己之注。必有所發明者。遂因而求之。然亦止是隨文而略釋之。竟不明言何由為熱。何由為寒之故。此非其不欲言也。蓋止知傷寒。皆是傳經。故疑於六經所傳。俱為熱證。而熱無變寒之理。遂不敢別白耳。以寒為本臟之寒歟。安得當熱邪傳裡入深之時。反獨見寒。而不見熱者。且所用溫熱藥。能不助傳經之熱邪乎。以寒為外邪之寒歟。則在三陽以成熱矣。豈有傳至三陰。而反為寒哉。成氏能潛心乎此。則必悟其所以然矣。自仲景作傷寒論以來。靡或遺之而弗宗。至於異同之論興。而漁者走淵。木者走山矣。宜乎後人不能決於似是而非之際。故或謂今世並無真傷寒病。又或以為今人所得之病。俱是內傷。又昧者。至謂傷寒論中諸溫藥。悉為傳經熱邪而用者。以三陰經屬陰故也。又其太謬者。則曰。論中凡有寒字。皆當作熱字看。嗚呼。末流之弊。一至此乎。於是澄心靜慮以涵泳之。一旦劃然若有所悟者。然亦未敢必其當否也。姑陳之以從有道之正。夫三陽之病。其寒邪之在太陽也。寒鬱其陽。陽不暢而成熱。陽雖人身之正　氣。既鬱則為邪矣。用麻黃髮表。以逐其寒。則腠理通。而鬱熱泄。故汗而愈。苟或不汗不解。其熱不得外泄。則必里入。故傳陽明。傳少陽。而或入腑也。若夫三陰之病。則或寒或熱者。何哉。蓋寒邪之傷人也。或有在太陽經鬱熱。然後以次而傳至陰經者。或有太陽不傳陽明少陽。而便傳三陰經者。或有寒邪不從陽經。而始直傷陰經者。或有雖從太陽。而始不及鬱熱。即入少陰。而獨見少陰證者。或有始自太陽。即入少陰。而太陽不能以無傷者。或有直傷即入。而寒便變熱。及始寒而終熱者。其鬱熱傳陰。與變便變熱。則為熱證。其直傷陰經。及從太陽即入少陰。則為寒證。其太陽不能無傷。則少陰脈證。而兼見太陽標病。其始為寒。而終變熱。則先見寒證。而後見熱證。此三陰之病。所以或寒或熱也。苟即三陰經篇諸條。展轉玩繹以求之。理斯出矣。夫其或傳經。或直傷。或即入。或先寒後熱者。何也。邪氣暴卒。本無定情。而傳變不常故耳。故經曰。邪之中人也無有常。或中於陽。或中於陰。夫守真者。絕類離倫之士也。豈好為異說。以駭人哉。蓋由其以溫暑為傷寒。而仲景之方。每不與溫暑對。故略乎溫熱之劑。而例用寒涼。由其以傷寒一斷為熱而無寒。故謂仲景四逆湯。為寒藥誤下。表熱里和之證。及為表熱裡寒。自利之證。而立。又謂溫里止利。急解其表。又謂寒病止為雜病。嗟乎。仲景傷寒論。專為中而即病之傷寒作。不兼為不即病之溫暑作。故每有三陰之寒證。而溫熱之劑之所以用也。以病則寒以時。則寒其用之也固宜。後人不知此意。是以愈求愈遠。愈說愈鑿。若知此意。則猶庖丁解牛。動中肯綮矣。且如寒藥誤下。而成裡寒者。固不為不無矣。不因寒藥誤下。而自為裡寒者。其可謂之必無乎。殊不知陰經之每見寒證者。本由寒邪不由陽經。直傷於此。與夫雖由太陽。而始不及鬱熱。即入於此而致也。雖或有因寒藥誤下而致者。蓋亦甚少。仲景所用諸溫熱之劑。何嘗每為寒藥誤下而立。況表裡寒之證。亦何嘗每有急解其表之文乎。夫裡寒外熱之證。乃是寒邪入客於內。迫陽於外。或是虛陽之氣。自作外熱之狀耳。非真熱邪所為也。觀仲景於裡寒外熱之證。但以溫藥治裡寒。而不治外熱。則知其所以為治之意矣。若果當急解其表。豈不於裡和之後。明言之乎。且三陰寒病。既是雜病。何故亦載於傷寒論。以惑後人乎。其厥陰病篇諸條之上。又何故每以傷寒二字冠之乎。夫內經所敘三陰病。一於為熱者。言其常也。仲景所敘三陰病。兼乎寒熱者。言其變也。並行而不相悖耳。後人謂傷寒本無寒證。得非知常而不知變歟。然世之恪守局方。好用溫熱劑者。乃反能每全乾寒證無他。其守彼雖偏。治此則是。學者能知三陰。固有寒邪所為之證。則仲景創法之本意。可以瞭然於心目之間。而不為他說所奪矣。或曰。傷寒之病。必從陽經鬱熱。而傳三陰今子謂直傷陰經。即入陰經。而為寒證。其何據乎。予曰。據夫仲景耳。仲景曰。病發熱惡寒者。發於陽也。無熱惡寒者。發於陰也。發於陽者。七日愈。發於陰者。六日愈。夫謂之無熱惡寒。則知其非陽經之鬱熱矣。謂之發於陰。則知其不從陽經傳至此矣。謂之六日愈。則知其不始太陽。而止自陰經發病之日。為始數之矣。仲景又曰。傷寒一二日。至四五日。而厥者。必發熱。傷寒病厥五日。熱亦五日。設六日當復厥。不厥者。自愈。傷寒厥四日。熱反三日。復厥五日。其病為進。夫得傷寒未為熱。即為厥者。豈亦由傳經入深之熱邪。而致此乎。今世人多有始得病時。便見諸寒證。而並無或熱者。此則直傷陰經。即入陰經者也。苟不能究夫仲景之心。但執凡傷於寒。則為病熱之語以為治。其不夭人天年者。幾希矣。</p>

<h1>陽虛陰盛陽盛陰虛論</h1>
<p>難經曰。傷寒陽虛陰盛。汗出而愈。下之即死。陽盛陰虛。汗出而死。下之而愈。嗟乎。其傷寒汗下之樞機乎。夫邪之傷於人也。有淺深焉。淺則居表。深則入里。居表則閉腠理。發怫熱。見惡寒。惡風。頭痛等證。於斯時也。惟辛溫解散。而可愈。入里則為燥屎。作潮熱。形狂言。譫語。大渴等證。於斯時也。惟鹹寒攻下而可平。夫寒邪外客。非陰盛而陽虛乎。熱邪內熾。非陽盛而陰虛乎。汗下一瘥。生死反掌。籲。是言也。謂之傷寒汗下樞機。其不然歟。惜乎釋者旁求。厥義滋隱。外臺秘要曰。此陰陽指身之表裡言。病者為虛。不病者為盛。表病里和。是陽虛陰盛也。表和里病。是陽盛陰虛也。竊意陰陽之在人。均則寧。偏則病。無過不及之謂均。過與不及之謂偏。盛則過矣。虛則不及矣。其可以盛為和乎。故內經云。邪氣盛則實。精氣奪則虛。且謂陽虛當汗。陰虛當下。乃遺邪氣。而反指正氣為言。得無晦乎。傷寒微旨曰。此陰陽指脈之尺寸言。尺脈實大。寸脈短小。名陰盛陽虛。可汗。寸脈實大。尺脈短小。名陽盛陰虛。可下。苟汗證已具。而脈未應。必待尺脈力過於寸而後行。下證已具。而脈未應。必待寸脈力過於尺而後用。竊意越人設難。以病不以脈。其所答也。何反以脈。不以病乎。且脈固以候病也。倘汗下之證已急。不可稍緩。待脈應而未應。欲不待。則惑於心。欲待之。則慮其變。二者之間。將從病歟。將從脈歟。吾不得無疑於此也。或詰予曰。仲景傷寒論引此。而繼以桂枝下咽。陽盛則斃。矛氣入胃。陰盛以亡之語。夫桂枝表藥。承氣里藥。反則為害。是固然矣。然麻黃湯亦表藥也。其不言之何歟。且子以陰盛為寒邪。寒邪固宜用麻黃也。今反舉桂枝。又何歟。予曰。何不味仲景之言乎。其曰凡傷寒之病。多從風寒得之。又曰脈浮而緊。浮則為風。緊則為寒。又桂枝湯條。而曰嗇嗇惡寒。淅淅惡風。麻黃湯條。而曰惡風。夫風寒分言。則風陽而寒陰。風苟行於天地嚴凝凜洌之時。其得謂之陽乎。是則風寒常相因耳。故桂枝麻黃皆溫劑也。以溫劑為治。足以見風寒之俱為陰邪矣。但傷衛則桂枝。傷榮則麻黃。榮衛雖殊。其為表則一耳。仲景此言。但以戒汗下之誤為主。不為榮衛設也。舉桂枝則麻黃在其中矣。所謂陽盛即斃者。是言表證已罷。而里證既全。可攻而不可汗。所謂陰盛以亡者。是言里證未形。而表證獨具。可汗而不可攻。由是觀之。則越人仲景之本旨。庶乎暢然於其中矣。</p>

<h1>傷寒三百九十七法辨</h1>
<p>余自童時。習聞此言。以為傷寒治法。如是之詳且備也。及考之成無己注本。則所謂三百九十七法者。茫然不知所在。於是詢諸醫流。亦不過熟誦此句而已。欲其條分縷析。以實其數。則未遇其人。遂乃反覆而推尋之。以有論有方諸條數之。則不及其數。以有論有方。有論無方諸條通數之。則過其數。除辨脈法。平脈法。並傷寒例。及可汗。不可汗。可吐。不可吐。可下。不可下諸篇外。止以六經病篇中。有論有方。有論無方諸條數之。則亦不及其數。以六經病篇。及痓濕暍霍亂陰陽易瘥後勞復病篇中。有論有方。有論無方諸條數之。則亦過其數。至以六經病。痓濕暍霍亂陰陽易瘥後勞復篇。有論有方諸條數之。則又太少矣。竟不能決。欲以此句。視為後人無據之言而不從。則疑其或有所據。而或出仲景叔和而弗敢廢。欲尊信而必從之。則又多方求合。而莫之遂。宋林億等校正傷寒論。其序曰。今校定張仲景傷寒論十卷。總二十篇證外合三百九十七法。余於是就其十卷二十二篇而求之。其六經篇。霍亂篇。陰陽易瘥後勞復篇中。有方治諸條。以數為計。又重載於各篇之前。又謂疾病至急。倉卒難尋。復重集諸可與不可方治。分為八篇。亦以數為計。繼於陰陽易瘥後勞復篇之後。其太陽上篇。注曰。一十六法。太陽中篇。注曰。六十六法。太陽下篇。注曰。三十九法。陽明篇。注曰。四十四法。少陽篇不言法。太陰篇。注曰。三法。少陰篇。注曰。二十三法。厥陰篇。注曰。六法。不可發汗篇。注曰。一法。可發汗篇。注曰。四十一法。發汗後篇。注曰。二十五法。可吐篇。注曰。二法。不可下篇。注曰。四法。可下篇。注曰。四十四法。汗吐下後篇。注曰。四十八法。以其所注之數通計之。得三百八十七法。然少陽篇有小柴胡湯一法。其不言者。恐脫之也。又可吐篇。卻有五法。其止言二法者。恐誤也。並此脫誤四法。於三百九十七法之中。亦僅得三百九十一法耳。較之序文之說。猶欠六法。乃參之脈經。其可汗。可吐等篇外。比傷寒論又多可溫，可灸可刺。可水。可火。不可刺。不可灸。不可水。不可火諸篇。欲以此補其所欠。則又甚多。而不可用。元㤗定間程德齋又作傷寒鈐法。其自序曰。若能精究是編。則知六經傳變三百九十七法。在於指掌矣。又曰。六經二百一十一法。霍亂六法。陰陽易瘥後勞復六法。痓濕暍九法。不可汗二十六法。宜汗四十一法。不可吐五法。不可下五法。可汗五法。可吐五法。余亦以其說通計之。卻止得三百一十八法。於三百九十七法中。尚欠七十八法。觀其序文乃如彼。考其所計乃如此。則知其猶未能灼然以得其實數。而無疑也。故下文細數中。止重敘六經霍亂痓濕暍陰陽易瘥後勞復諸法而已。彼可汗不可汗等諸法。再不重敘也。近批點傷寒論者。何不考其非乃一宗其所鈐字號。而不敢少易乎。余由是屏去其說。但即論之本文。寢食與俱。以綢繹之。一旦豁然始悟其所計之數。於理不通。而非仲景叔和之說矣。夫傷寒論仲景之所作也。至叔和時已多散落。雖叔和搜採成書。終不能復其舊。然則今之所傳者。非全書也。明矣。後之昧者。乃不察此。必欲以全書視之。為鈐為括斷之曰。某經幾證。某經幾證以謂傷寒治法。略無餘蘊矣。殊不知其間有論無方者甚多。至若前篇引內經所敘六經病證。除太陽少陰證。為後篇所有外。其陽明篇無目疼。少陽篇言胸脅滿。而不言痛。太陽篇無嗌乾。厥陰篇無囊縮。若此者。非皆本無也。必有之。而脫之耳。雖然。為鈐括者膠柱調瑟。但知叔和之重載。而莫知其所以重載之意也。夫叔和既撰次於摉採之餘。復重載各篇方治。並諸可與不可方治者。非他。不過慮人惑於紛亂。故示之以簡便而已。林億乃弗解其意。遂不問重與不重。一概通數之。以立總目。何不觀重載八篇之中。其方治者。止有一十五條。為六經篇之所無。其餘一百五十三條。皆六經篇已數過者。安有一法而當兩數之理乎。雖程德齋去取。與林億頗異。然亦五十步。笑百步耳。其不重數發汗後。並吐汗下後諸法。固為是矣。至於宜汗四十一法。卻又俱是一法當兩數者。與林億所計何以異哉。推原其意。似亦不見林億所計細數。止聞三百九十七法之目。遂自就論中。尋而數之。欲以實其總數。然而卒不能實。故為此含糊之說。以欺後人。反又不逮林億所言也。竊嘗思之。縱使三百九十七法之言。不出於林億等。而出於億之前。亦不足用。此言既出。則後之聞者。必當覆其是非。以歸於正。而乃遵守聽從。以為千載不易之定論。悲夫。余今於三百九十七法內。除去重複者。與無方治者。止以有方治。而不重複者計之。得二百三十八條。並以治字易法字。而曰二百三十八治。如此則庶或可通也。若以法言。則仲景一書無非法也。豈獨有方者然後為法哉。且如論證論脈。與夫諄諄教戒。而使人按之以為望聞問切之準則者。其可謂之法乎。其不可謂之法乎。雖然。六經之外諸條。其二家去取不同。固不必辨。然其於六經之中。尢每有悖理而不通者。姑陳一二。如太陽病。三日。已發汗。若吐。若下。若溫針。仍不解者。此為壞病。桂枝不中與也。觀其脈證。知犯何逆。隨證治之。桂枝本為解肌。若其人脈浮緊。發熱。汗不出者。不可與之也。常須識此。勿令誤也。若酒客病。不可與桂枝湯。得之則嘔。以酒客不喜甘故也。喘家作。桂枝湯加厚朴杏子佳。凡服桂枝湯吐者。其後必吐膿血也。林億所校本。則自太陽病。止勿令誤也。為一法。自若酒客病。止杏子佳。為一法。自凡服桂枝湯。止吐膿血也。則為證。不為法。程德齋鈐法。則自太陽病。止隨證治之。為一法。自桂枝本為解肌。止必吐膿血也。為一法。又林億本。於病脅下素有痞。連在臍旁。痛引少腹入陰筋者。此名臟結。死。一條。則數為一法。於其餘死不治者。則皆不數。程德齋鈐法。於陽明病。下血譫語者。此為熱入血室。但頭汗出者。刺期門。隨其實而瀉之。濈然汗出愈。一條。則不數。而太陽刺肝俞。肺俞。期門。諸條。卻又數之而弗遺。余如兩條同類。一云當汗而無方。一云當汗而有方。則取其有方者。而略其無方者。又如當取而不取。不當取而取者。蓋亦甚多。不可悉舉。若此者。</p>
<p>悖理不通。二家皆所不免。所謂楚固失矣。齊亦未為得也。苟熟玩論之本文以較其言。則罅漏出矣。</p>

<h1>傷寒四逆厥辨</h1>
<p>成無己注傷寒論。有云。四逆者。四肢不溫也。厥者。手足冷也。傷寒邪在三陽。則手足必熱。傳到太陰。手足自溫。至少陰。則邪熱漸深。故四肢逆而不溫。及至厥陰。則手足厥冷。是又甚於逆。經曰。少陰病。四逆。其人或咳。或悸。或小便不利。或腹中痛。或泄痢下重者。四逆散主之。方用柴胡枳實芍藥甘草。四者皆寒冷之物。而專主四逆之疾。是知四逆非虛寒之證也。四逆與厥相近而非。經曰諸四逆厥者。不可下。是四逆與厥有異也。籲。斯言也。所謂彌近理而大亂真者歟。竊嘗考之。仲景言四逆與厥者非一。或曰四逆。或曰厥。或曰厥逆。或曰厥冷。或曰厥寒。或曰手足逆冷。或曰手足厥逆。或曰手足厥冷。或曰手足厥逆冷。細詳其義。俱是言寒冷耳。故厥逆二字。每每互言。未嘗分逆為不溫。厥為冷也。然四肢與手足卻有所分。其以四字加於逆字之上者。是通指手足臂脛以上言也。其以手足二字加於厥逆厥冷等之上。及無手足二字者。是獨指手足言也。既曰不溫。即為冷矣。尚何異乎。仲景所謂諸四逆厥者。不可下。蓋以四逆。為四肢通冷。厥為手足獨冷。而臂與脛以上不冷耳。不謂逆厥。有不溫與冷之別也。故又曰。厥者手足逆冷是也。以逆冷二字釋厥字。足見逆即厥。厥即逆也。故字書曰。厥者逆也。雖然。逆厥雖俱為寒冷。而卻有陰陽之殊焉。熱極而成逆厥者。陽極似陰也。寒極而成逆厥者。獨陰無陽也。陽極似陰。固用寒藥。獨陰無陽。固用熱藥。仲景以四逆散寒藥治四逆一條。此陽極似陰之四逆也。其無四逆湯熱藥治四逆之條者。安知其非本有而失之乎。且四逆湯之名。由四肢之冷而立也。今以四逆湯治手足厥冷。豈非逆厥之不異乎。既以四逆為四肢不溫。厥為手足獨冷。何故不名治厥之藥為四厥湯乎。成氏於四逆散治四逆條下。謂。四逆為熱邪所為。及於明理論。謂。四逆非虛寒之證矣。至於少陰病死證二條下。卻謂。四逆為寒甚。君此者得不自悖其說乎。是知四逆亦猶厥之有寒有熱。固不可謂四逆。專為熱邪所作也。但四肢通冷。比之手足獨冷。則有間爾。故仲景曰。少陰病。吐利。躁煩。四逆者。死。又曰。少陰病。四逆。惡寒而身蜷。脈不至。不煩而躁者。死。又曰。少陰病。吐利。手足厥冷。煩躁欲死者。吳茱萸湯主之。此三條者。二為死。一為可治。雖通由諸證兼見而然。然死者以四逆言。可治者以厥冷言。則亦可見。四逆與手足厥冷之有輕重淺深矣。夫四肢通冷。其病為重。手足獨冷。其病為輕。雖婦人小子亦能知之。成氏乃謂厥甚於逆。何邪。若能知四逆厥之所以異者。在於獨指手足言。與兼指臂脛以上言。則不勞創為不溫與冷之曲說。而自然貫通矣。</p>

<h1>嘔吐乾嘔噦咳逆辨</h1>
<p>嘗讀成無己傷寒明理論。有曰。嘔者。有聲者也。俗謂之啘。吐者。吐出其物也。故有乾嘔。而無干吐。是以於嘔。則曰食谷欲嘔。及吐。則曰飲食入口即吐。則嘔吐之有輕重可知矣。又曰。噦者。俗謂之咳逆是也。余竊疑之。於是即仲景傷寒論。以考其是非。以訂其說。夫傷寒論曰。嘔。曰吐。曰乾嘔。曰噦者至多。曰咳逆者。則二而止也。因類聚而觀之。夫嘔者。東垣所謂聲物兼出者也。吐者。東垣所謂物出而無聲者也。至若干嘔與噦。皆聲出而無物也。東垣但以噦該之。而無干嘔之論。夫乾嘔與噦。其所異者。果何在哉。微甚而已矣。故仲景於乾嘔。則皆平易言之。於噦。則曰。太陽中風。火劫。發汗後。久則譫語。甚者至噦。又曰。陽明中風。若不屎。腹滿加噦者。不治。又曰。大吐。大下之極虛。復極汗出者。因得噦。雖亦間有似平易言者。然比之言乾嘔。則徑庭矣。竊又思之。乾嘔與噦。東垣視為一。仲景視為二。由為一而觀之。固皆聲之獨出者也。由為二而觀之。則乾嘔乃噦之微。噦乃乾嘔之甚。乾嘔者。其聲輕小而短。噦者。其聲重大而長。長者雖有微甚之分。蓋一證也。今成氏乃以嘔為有聲。與乾嘔混而無別。又以噦為咳逆。若此者。余未之能從也。夫仲景以聲物兼出而名為嘔。以物獨出而名為吐。以聲獨出而名為乾嘔。惟其嘔兼聲物。故無物而聲空鳴者。乃謂之干。干猶空也。至於吐。則是必有物矣。其可謂之干乎。仲景於嘔字上加一干字。所以別夫嘔為聲物兼出者耳。成氏乃以嘔為獨有聲。而同乎乾嘔。得不有失仲景措辭之本意歟。仲景曰。嘔家有癰膿者。不可治嘔。盡膿自愈。夫謂之嘔盡膿。其可以嘔為獨有聲乎。至於曰得湯則嘔。得食而嘔。飲食嘔。貪水者必嘔之類。亦不可以嘔為獨有聲矣。又少陰病。下利。用通脈四逆湯一條。其所敘諸證。既有乾嘔之文。何下文加減法中。又曰。嘔者加生薑乎。設仲景果以嘔為獨有聲。則不當又立乾嘔之名矣。觀其既曰嘔。又曰乾嘔。則其義之殊別也。詎不著明也哉。且仲景嘗言欲嘔矣。又言欲吐矣。未嘗言欲乾嘔。欲噦也。夫欲之為義。將出未出。而預有所覺之辭也。夫將出未出。而預覺者。惟有形之物則然。無形之聲。則不然也。有形之物。將出乎胸膈之間。則雖未出。而亦可以前知。若無形之聲。則不能前知。其將出。必待夫既出。而後可知也。嘔與吐。主有形之物言。故可謂之欲。乾嘔與噦。主無形之聲言。故不可謂之欲。成氏引食谷欲嘔。飲食入口即吐二句。而謂嘔吐有輕重。其意蓋以嘔言欲。而為輕。吐言即。而為重。安知言欲不言欲者。本為有形無形設。不為輕重設也。果如其說。則得湯則嘔。得食而嘔。心中溫溫欲吐。氣逆欲吐之語。不出於仲景乎。又引俗謂之啘一句以證嘔。夫啘與噦。蓋字異而音義俱同者也。以之證嘔亦疏矣。雖然。以嘔與吐較之。吐輕於嘔。以吐與乾嘔較之。乾嘔輕於吐。然三者亦各自有輕重。不可定拘也。但以嘔吐乾嘔與噦而較。則噦之為重。必非三者之比矣。故太素曰。木陳者。其葉落。病深者。其聲噦。夫噦雖亦有輕而可治。重而不可治者。然病至於噦。則其治也。終不易矣。且夫咳逆。俗以吃逆與吃忒呼之。然咳逆二字。僅見傷寒論首。辨脈平脈法中。其六經病篇。及汗下可否諸篇。皆無所有。其所有者噦也。後人因見六經病篇。及汗下可否諸篇。但有噦而無咳逆。遂謂噦即咳逆。而曰咳逆者。噦逆之名。籲。斯言也。孫真人倡於前。朱奉議成無己和於後。由是噦與咳逆之名義紊矣。金匱要略曰。病人胸中似喘不喘。似嘔不嘔。似噦不噦。徹心中。憒憒然。無奈者。生薑半夏湯主之。乾嘔噦。若手足厥者。橘皮湯主之。噦逆者。橘皮竹茹湯主之。觀此則仲景所謂噦逆但指與乾嘔同類者言。何嘗指咳逆言乎。咳逆噦逆不同。咳逆言其聲之才發而遽止。雖發止相續有至數十聲者。然而短促不長。有若咳嗽之咳然。故曰咳逆。噦逆則言其似欲嘔物以出。而無所出。但聲之濁惡長而有力。直至氣盡而後止。非如干嘔之輕而不甚。故曰噦逆。二者皆由氣之逆上而作。故俱以逆言之。孫真人乃以噦逆當咳逆。何邪。彼言傷寒者。雖以辨脈平脈法之咳逆。與咳逆上氣。視為吃忒。然安知其不為咳而氣逆之病乎。故今不敢定其必為吃忒也。金匱要略曰。病咳逆。寸口脈微而數。此為肺癰。咳逆上氣。時時唾濁。但坐。不得眠。皂莢丸主之。咳而上氣。喉中水雞聲。射干麻黃湯主之。此三條者。皆是咳而氣逆之病。豈可以咳逆。專為吃忒哉。今傷寒家本有吃忒。而論中六經病篇。及汗下可否諸篇。卻無者。必亡逸於散落之餘耳。雖吃忒為六經病篇。及汗下可否諸篇所不言。決不可以噦。為吃忒之咳逆。亦不可以噦。為咳而氣逆之咳逆也。或曰。吾子以要略所謂噦逆。非吃忒病。何後人治吃忒者。用橘皮竹茹湯而愈乎。余曰。橘皮竹茹湯辛甘之劑也。有散。有緩。有和。有補。其噦逆吃忒病雖不同。而為邪正之氣怫鬱擾亂所致則一。故用焉而皆愈。雖然噦逆吃忒。以一藥同治。則可，以一體同視。則不可。</p>

<h1>中風辨</h1>
<p>人有卒暴僵仆。或偏枯。或四肢不舉。或不知人。或死。或不死者。世以中風呼之。而方書亦以中風治之。余嘗考諸內經。則曰風者。百病之始也。又曰風者。百病之長也。至其變化。乃為他病。無常方。又曰風者。善行而數變。又曰風之傷人也。或為寒熱。或為熱中。或為寒中。或為癘風。或為偏枯。或為風也。其卒暴僵仆。不知人。四肢不舉者。並無所論。止有偏枯一語而已。及觀千金方。則引岐伯曰。中風大法有四。一曰偏枯。二曰風痱。三曰風懿。四曰風痹。解之者。曰。偏枯者。半身不隨。風痱者。身無痛。四肢不收。風懿者。奄忽不知人。風痹者。諸痹類風狀。金匱要略中風篇曰。寸口脈浮而緊。緊則為寒。浮則為虛。寒虛相搏。邪在皮膚。浮者血虛。絡脈空虛。賊邪不瀉。或左或右。邪氣反緩。正氣即急。正氣引邪。喎僻不遂。邪在於絡。肌膚不仁。邪在於經。即重不勝。邪入於腑。即不識人。邪入於臟。舌即難言。口吐涎沫。由是觀之。知卒暴僵仆。不知人。偏枯。四肢不舉等證。固為因風而致者矣。故用大小續命。西州續命。排風。八風等諸湯散治之。及近代劉河間李東垣朱彥修三子者出。所論始與昔人異矣。河間曰。中風癱瘓者。非謂肝木之風實甚。而卒中之。亦非外中於風。由乎將息失宜。心火暴甚。腎水虛衰不能制之。則陰虛陽實。而熱氣怫鬱。心神昏冒。筋骨不用。而卒倒無所知也。多因喜怒思悲恐五志有所過極而卒中者。由五志過極。皆為熱甚故也。俗云。風者。言末而忘其本也。東垣曰。中風者。非外來風邪。乃本氣病也。凡人年逾四旬氣衰之際。或因憂喜忿怒傷其氣者。多有此疾。壯歲之時無有也。若肥盛則間有之。亦是形盛氣衰而如此。彥修曰。西北氣寒為風所中。誠有之矣。東南氣溫而地多濕。有風病者非風也。皆濕土生痰。痰生熱。熱生風也。三子之論。河間主乎火。東垣主乎氣。彥修主於濕。反以風為虛象。而大異於昔人矣。籲。昔人也。三子也。果孰是歟。果孰非歟。以三子為是。昔人為非。則三子未出之前。固有從昔人而治愈者矣。以昔人為是。三子為非。則三子已出之後。亦有從三子而治愈者矣。故不善讀其書者。往往致亂。以予觀之。昔人三子之論。皆不可偏廢。但三子以相類中風之病。視為中風而立論。故使後人狐疑而不能決。殊不知因於風者。真中風也。因於火。因於氣因於濕者。類中風。而非中風也。三子所論者。自是因火。因氣。因濕。而為暴病。暴死之證。與風何相干哉。如內經所謂。三陰三陽發病為偏枯痿易。四肢不舉。亦未嘗必因於風。而後能也。夫風火氣濕之殊。望聞問切之異。豈無所辨乎。辨之為風。則從昔人以治。辨之為火氣濕。則從三子以治。如此。庶乎析理明。而用法當矣。惟其以因火。因氣。因濕之證。強因風而合論之。所以真偽不分。而名實相紊。若以因火。因氣。因濕證分出之則真中風病彰矣。所謂西北有中風東南無中風者。其然歟。否歟。</p>

<h1>中暑中熱辨</h1>
<p>潔古云。靜而得之為中暑。動而得之為中熱。中暑者陰證。中熱者陽證。東垣云。避暑熱於深堂大廈得之者。名曰中暑。其病必頭痛。惡寒。身形拘急。肢節疼痛。而煩心。肌膚火熱。無汗。為房室之陰寒所遏。使周身陽氣不得伸越。大順散主之。若行人。或農夫。於日中勞役得之者。名曰中熱。其病必苦頭痛。發躁熱。惡熱。捫之肌膚。大熱。必大渴引飲。汗大泄。無氣以動。乃為天熱外傷肺氣。蒼朮白虎湯主之。竊謂暑熱者。夏之令也。大行於天地之間。人或勞動。或飢餓。元氣虧乏。不足以御天令亢極。於是受傷而為病。名曰中暑。亦名曰中熱。其實一也。今乃以動靜所得分之何哉。夫中暑熱者。固多在勞役之人。勞役則虛。虛則邪入。邪入則病。不虛則天令雖亢。亦無由以傷之。彼避暑於深堂大廈。得頭疼惡寒等證者。蓋亦傷寒之類耳。不可以中暑名之。其所以煩心。與肌膚火熱者。非暑邪也。身中陽氣受陰寒所遏而作也。既非暑邪。其可以中暑名乎。苟欲治之。則辛溫輕揚之劑。發散可也。夫大順散一方。甘草最多。乾薑杏仁肉桂次之。除肉桂外。其三物皆炒者。原其初意。本為冒暑伏熱。引飲過多。脾胃受濕。嘔吐。水穀不分。臟腑不調所立。故甘草乾姜皆經火炒熟。又肉桂而非桂枝。蓋溫中藥也。內有杏仁。不過取其能下氣耳。若以此藥。治靜而得之之證。吾恐不能解。反增內煩矣。今之世俗。往往不明。類曰。夏月陰氣在內。大順散為必用之藥。籲。其誤也。不亦甚歟。夫陰氣非寒氣也。蓋夏月陽氣發散於外。而陰氣則在內耳。豈空視陰氣為寒氣。而用溫熱之藥乎。陰果為寒。何以夏則飲水乎。其蒼朮白虎湯雖宜用。然亦豈可視為通行之藥。必參之治暑諸方。隨所見之證而用之。然後合理。若夫所謂靜而得之之證。雖當暑月。即非暑病。宜分出之。勿使後人。有似同而異之惑。</p>

<h1>積熱沉寒論</h1>
<p>人之所藉以生者氣也。氣者何。陰陽是也。夫陰與陰。可以和而平。可以乖而⿺辶否。善攝與⿺辶否。吉凶於是乎歧之。夫惟攝之不能以皆善也。故偏寒偏熱之病。始莫逃於乖⿺辶否之餘矣。雖然。寒也。熱也。苟未至於甚。粗工為之而不難。設熱積而寒沉。良工猶弗能以為計。況其下乎。奈之何。俗尚顓蒙恪持方藥愈投愈盛。迷不之反。豈知端本澄源。中含至理。執其樞要。眾妙俱呈。且以積熱言之。始而涼和。次而寒取。寒取不愈。則因熱而從之。從之不愈。則技窮矣。由是苦寒頻歲而弗停。又以沉寒言之。始而溫和。次而熱取。熱取不愈。則因寒而從之。從之不愈。則技窮矣。由是辛熱比年而弗止。嗟夫。苦寒益深。而積熱彌熾。辛熱大過。而苦寒愈滋。苟非大聖慈仁明垂樞要生也。孰從而全之。經曰。謂寒之而熱者取之陰。熱之而寒者取之陽。所謂求其屬也。屬也者其樞要之所存乎。斯旨也。王太僕知之。故曰。益火之原。以消陰翳。壯水之主。以制陽光。又曰。取心者不必齊以熱。取腎者不必齊以寒。但益心之陽。寒亦通行。強腎之陰。熱之猶可。籲。混乎千言萬語之間。殆猶和璧之在璞也。其寶久湮豈過焉者石之而弗鑿乎。余僭得而推衍之。夫偏寒偏熱之病。其免者固千百之一二。而積熱沉寒。亦恐未至於數見也。然而數見者。得非粗工不知求屬之道。不能防微杜漸。遂致滋蔓難圖。以成之歟。夫寒之而熱者。徒知以寒治熱。而不知熱之不衰者。由乎真水之不足也。熱之而寒者。徒知以熱治寒。而不知寒之不衰者。由乎真火之不足也。不知真水火不足。泠以寒熱藥治之。非惟臟腑習熟藥反見化於其病。而有者弗去無者弗至矣。故取之陰。所以益腎水之不足。而使其制夫心火之有餘。取之陽。所以益心火之不足。而使其勝夫腎水之有餘也。其指水火也。屬猶主也。謂心腎也。求其屬者。言水火不足。而求之於心腎也。火之原者。陽氣之根。即心是也。水之主者。陰氣之根。即腎是也。非謂火為心。而原為肝。水為腎。而主為肺也。寒亦益心。熱亦強腎。此太僕達至理於規矩準繩之外。而非迂士麴生之可以跂及矣。彼迂士麴生不明真水火於寒熱之病。有必制必勝之道。但謂藥未勝病。久遠期之。是以恪守方藥。愈投愈盛。卒至殞滅。而莫之悟。嗚呼。悲夫。余見積熱沉寒之治。每蹈於覆轍也。因表而出之以勸。</p>

<h1>瀉南方補北方論</h1>
<p>難經七十五篇曰。經言。東方實。西方虛。瀉南方。補北方。何謂也。然。金木水火土當更相平。東方木也。西方金也。木欲實。金當平之。火欲實。水當平之。土欲實。木當平之。金欲實。火當平之。水欲實。土當平之。東方者肝也。則知肝實。西方者肺也。則知肺虛。瀉南方火。補北方水。南方火。火者。木之子也。北方水。水者。木之母也。水勝火。子能令母實。母能令子虛。故瀉火補水。欲令金不得平木也。經曰。不能治其虛。何問其餘。此之謂也。余每讀至此。未嘗不嘆夫越人之得經旨也。而悼夫後人之失經旨也。先哲有言。凡讀書不可先看註解。且將經文反覆而詳味之。待自家有新意。卻以註解參校。庶乎經意昭然。而不為他說所蔽。若先看註解。則被其說橫吾胸中。自家竟無新意矣。余平生佩服此訓。所益甚多。且如難經此篇。其言周備純正。足以為萬世法。後人紛紛之論。其可憑乎。夫實則瀉之。虛則補之。此常道也。實則瀉其子。虛則補其母。亦常道也。人皆知之。今肝實肺虛。乃不瀉肝而瀉心。此則人亦知之。至於不補肺補脾。而補腎。此則人不能知。惟越人知之耳。夫子能令母實。母能令子虛。以常情觀之。則曰。心火實。致肝木亦實。此子能令母實也。脾土虛。致肺金亦虛。此母能令子虛也。心火實。固由自旺。脾土虛。乃由肝木製之。法當瀉心補脾。則肝肺皆平矣。越人則不然。其子能令母實。子謂火。母謂木。固與常情無異。其母能令子虛。母謂水。子謂木。則與常情不同矣。故曰水者。木之母也。子能令母實一句。言病因也。母能令子虛一句。言治法。其意蓋曰。火為木之子。子助其母。使之過分而為病矣。今將何以處之。惟有補水瀉火之治而已。夫補水者何謂也。蓋水為木之母。若補水之虛。使力可勝火。火勢退。而水勢亦退。此則母能虛子之義。所謂不治之治也。（此虛字與精氣奪則虛之虛不同。彼虛謂耗其真而致虛。此虛謂抑其過而欲虛之也。）若曰不然。則母能令子虛一句。將歸之於脾肺乎。既歸於脾肺。今何不補脾乎。夫五行之道。其所畏者。畏所克耳。今火大旺。水大虧。火何畏乎。惟其無畏。何愈旺而莫能制。苟非滋水以求勝之。孰能勝也。水勝火三字。此越人寓意處。當細觀之。勿輕忽也。雖瀉火補水並言。然其要又在於補水耳。後人乃曰獨瀉火。而不用補水。又曰瀉火。即是補水。得不大違越人。與經之意乎。若果不用補水。經必不言補北方。越人必不言補水矣。雖然。水不虛。而火獨暴旺者。固不必補水亦可也。若先因水虛。而致火旺者。不補水可乎。水虛火旺。而不補水。則藥至而暫息。藥過而復作。將積年累月無有窮已。安能絕其根哉。雖苦寒之藥。通為抑陽扶陰。不過瀉火邪而已。終非腎臟本藥。不能以滋養北方之真陰也。欲滋真陰。舍地黃黃柏之屬不可也。且夫肝之實也。其因有二。心助肝。肝實之一因也。肺不能制肝。肝實之二因也。肺之虛也。其因亦有二。心克肺。肺虛之一因也。脾受肝克。而不能生肺。肺虛之二因也。今補水而瀉火。火退則木氣削。又金不受克而制木。東方不實矣。金氣得平。又土不受克而生金。西方不虛矣。若以虛則補母言之。肺虛則當補脾。豈知肝勢正盛。剋土之深。雖每日補脾。安能敵其正盛之勢哉。縱使土能生金。金受火克。亦所得不償所失矣。此所以不補土。而補水也。或疑木旺補水。恐水生木。而木愈旺。故聞獨瀉火。不補水之論。欣然而從之。殊不知木已旺矣。何待生乎。況水之虛。雖峻補尚不能復其本氣。安有餘力生木哉。若能生木。則能勝火矣。或又謂。補水者。欲其不食於母也。不食於母。則金氣還矣。豈知火剋金。土不生金。金之虛已極。尚不能自給。水雖欲食之。何所食乎。若如此則金虛不由於火之克。土之不生。而由於水之食耳。豈理也哉。縱水不食金。金亦未必能復常也。金不得平木一句。多一不字。所以瀉火補水者。正欲使金得平木也。不字當刪去。不能治其虛。何問其餘。虛指肺虛而言也。瀉火補水。使金得平木。正所謂能治其虛。不補土。不補金。乃瀉火。補水。使金自平。此法之巧而妙者。苟不能曉此法。而不能治此虛。則不須問其他。必是無能之人矣。故曰。不能治其虛。何問其餘。若夫上文所謂金木水火土更相平之義。不勞解而自明。茲故弗具也。夫越人亞聖也。論至於此。敢不斂衽。但恨說者之斁蝕之。故辨。</p>

<h1>五郁論</h1>
<p>治五郁之法。嘗聞之王太僕矣。其釋內經曰。木鬱達之。謂吐之令其條達也。火鬱發之。謂汗之令其疏散也。土鬱奪之。謂下之令無壅礙也。金鬱泄之。謂滲泄解表利小便也。水鬱折之。謂抑之制其沖逆也。太僕此說之後。靡不宗之。然愚則未能快然於中焉。嘗細觀之似猶有可言。且折之一句。較之上四句。尢為難曉。因有反覆經文以求其至。按內經。帝曰。郁之甚者。治之奈何。岐伯曰。木鬱達之。火鬱發之。土鬱奪之。金鬱泄之。水鬱折之。然調其氣。過者。折之。以其畏也。所謂泄之總十三句通為一章。當分三節。自帝曰。止木鬱折之九句為一節。治郁法之問答也。然調其氣一句。為一節治郁之餘法也。過者折之。以其畏也。所謂泄之。三句為一節。調氣之餘法也。夫五法者。經雖為病由五運之郁所致而立。然擴而充之。則未常不可也。且凡病之起也。多由乎郁。郁者。滯而不通之義。或因所乘而為郁。或不因所乘而本氣自郁皆郁也。豈惟五運之變能使然哉。郁既非五運之變可拘。則達之。發之。奪之。泄之。折之之法。固可擴焉而充之矣。可擴而充。其應變不窮之理也歟。姑陳於左。木鬱達之。達者。通暢之也。如肝性急怒氣逆胠脅或脹火時上炎。治以苦寒辛散而不愈者。則用升發之藥。加以厥陰報使而從治之。又如久風入中為飧泄。及不因外風之入。而清氣在下為飧泄。則以輕揚之劑舉而散之。凡此之類。皆達之之法也。王氏謂吐之。令其條達。為木鬱達之。東垣謂食塞胸中。食為坤土。胸為金位。金主殺伐。與坤土俱在於上。而旺於天。金能剋木。故肝木生髮之氣。伏於地下。非木鬱而何。吐去上焦陰土之物。木得舒暢。則鬱結去矣。此木鬱達之也。竊意王氏。以吐訓達。此不能使人無疑者。以為肺金盛而抑制肝木歟。則瀉肺氣。舉肝氣。可矣。不必吐也。以為脾胃濁氣下流。而少陽清氣不升歟。則益胃升陽。可矣。不必吐也。雖然。木鬱固有吐之之理。今以吐字。總該達字。則是凡木鬱。皆當用吐矣。其可乎哉。至於東垣所謂食塞肺分。為金與土旺於上。而剋木。又不能使人無疑者。夫金之剋木。五行之常道。固不待夫物傷而後能也。且為物所傷。豈有反旺之理。若曰吐去其物。以伸木氣。乃是反為木鬱而施治。非為食傷而施治矣。夫食塞胸中而用吐。正內經所謂。其高者因而越之之義耳。恐不勞引木鬱之說。以汨之也。火鬱發之。發者。汗之也。升舉之也。如腠理外閉。邪熱怫鬱。則解表取汗以散之。又如龍火鬱甚於內。非苦寒降沉之劑可治。則用升浮之藥。佐以甘溫。順其性而從治之。使勢窮則止。如東垣升陽散火湯是也。凡此之類。皆發之之法也。土鬱奪之。奪者。攻下也。劫而衰之也。如邪熱入胃。用鹹寒之劑以攻去之。又如中滿腹脹。濕熱內甚。其人壯氣實者。則攻下之。其或勢盛。而不能頓除者。則劫奪其勢。而使之衰。又如濕熱為痢。有非力輕之劑可治者。則或攻或劫以致其平。凡此之類。皆奪之之法也。金鬱泄之。泄者。滲泄而利小便也。疏通其氣也。如肺金為腎水上原。金受火鑠。其令不行。原鬱而滲道閉矣。宜肅清金化滋以利之。又如肺氣膹滿。胸憑仰息。非利肺氣之劑。不足以疏通之。凡此之類。皆泄之之法也。王氏謂滲泄解表利小便。為金鬱泄之。夫滲泄利小便。固為泄金鬱矣。其解表二字。莫曉其意。得非以人之皮毛屬肺。其受邪為金鬱。而解表為泄之乎。竊謂如此則凡筋病便是木鬱。肉病便是土鬱耶。此二字未當於理。今刪去。且解表間於滲泄利小便之中。是滲泄利小便為二治矣。若以滲泄為滋肺生水。以利小便為直治膀胱。則直治膀胱。既責不在肺。何為金鬱乎。是亦不通。故余易之曰。滲泄而利小便也。水鬱折之。折者。制御也。伐而挫之也。漸殺其勢也。如腫脹之病。水氣淫溢。而滲道以塞。夫水之所不勝者。土也。今土氣衰弱。不能制之。故反受其侮。治當實其脾土。資其運化。俾可以制水而不敢犯。則滲道達而後愈。或病勢既旺。非上法所能遽制。則用泄水之藥以伐而挫之。或去菀陳莝開鬼門潔淨府。三治備舉。迭用以漸平之。王氏所謂抑之制其沖逆。正欲折挫其氾濫之勢也。夫實土者守也。泄水者攻也。兼三治者。廣略而決勝也。守也。攻也。廣略也。雖俱為治水之法。然不審病者之虛實。久近。淺深。雜焉而妄施治之。其不傾踣者寡矣。且夫五郁之病。固有法以治之矣。然邪氣久客。正氣必損。今邪氣雖去。正氣豈能遽平哉。苟不平調正氣。使各安其位。復其常於治郁之餘。則猶未足以盡治法之妙。故又曰。然調其氣。苟調之。而其氣猶或過而未服。則當益其所不勝以制之。如木過者當益金。金能制木。則木斯服矣。所不勝者所畏者也。故曰。過者折之以其畏也。夫制物者。物之所欲也。制於物者。物之所不欲也。順其欲則喜。逆其欲則惡。今逆之以所惡。故曰。所謂瀉之。王氏以咸瀉腎。酸瀉肝之類為說。未盡厥旨。雖然。自調其氣以下。蓋經之本旨。故余推其義如此。若擴充為應變之用。則不必盡然也。</p>

<h1>二陽病論</h1>
<p>經曰二陽之病發心脾。有不得隱曲。女子不月。釋之者。謂男子則脾受之。而味不化。故少精。女子則心受之。而血不流。故不月。分心脾為男女各受立說。竊獨謂不然。夫二陽陽明也。胃與大腸之脈也。腸胃有病。心脾受之。發心脾。猶言延及於心脾也。雖然。脾胃為合。胃病而及脾。理固宜矣。大腸與心。本非合也。今大腸而及心。何哉。蓋胃為受納之府。大腸為傳化之府。食入於胃。濁氣歸心。飲入於胃。輸精於脾者。以胃之能納。大腸之能化耳。腸胃既病。則不能受。不能化。心脾何所資乎。心脾既無所資。則無所運化。而生精血矣。故腸胃有病。心脾受之。則男為少精。女為不月矣。心脾當總言。男女不當分說。至隱曲不月。方可分說耳。者如釋者之言。則男之精。獨資於脾。而不資於心。女之血。獨資於心。而不資於脾。有是理耶。蓋男女之精血。皆由五臟六腑之相養而後成。可謂之男精資於脾。女血資於心乎。經本曰男女皆有心脾之病。但在男子。則隱曲之不利。在女子。則月事之不來耳。</p>

<h1>煎厥論</h1>
<p>內經曰。陽氣者。煩勞則張。精絕。闢積。於夏使人煎厥。目盲不可以視。耳閉不可以聽。潰潰乎若壞都。汩汩乎不可止。王氏注曰。張筋脈䐜脹也。精絕。精氣竭絕也。既傷腎氣。又損膀胱。故當夏時。使人煎厥。斯乃房之患也。既盲目視。又閉耳聽。則志意。心神。筋骨。腸胃。潰潰乎若壞。汩汩乎煩悶。而不可止。愚竊味夫經其旨昭然。若無待於解者。何註釋之乖遠如此乎。請重釋之。夫陽氣者。人身和平之氣也。煩勞者。凡過於動作皆是也。張。主也。謂亢極也。精。陰氣也。闢積。猶積疊。謂怫鬱也。衣褶謂之襞積者。亦取積疊之義也。積水之奔散。曰潰都。猶堤防也。汩汩。水流而不止也。夫充於身者。一氣而已。本無異類也。即其所用所病而言之。於是乎始有異名耳。故平則為正。亢則為邪。陽氣則因其和以養人而名之。及其過動而張。亦即陽氣亢極而成火耳。陽盛則陰衰。故精絕。水不制火。故亢。火鬱積之甚。又當夏月火旺之時。故使人煩熱之極。若煎迫然。而氣逆上也。火炎氣逆。故目盲耳閉。而無所用。此陽極欲絕。故其精敗神去。不可復生。若堤防之崩壞。而所儲之水奔散滂流。莫能以遏之矣。夫病至於此。是壞之極矣。王氏乃因不曉都字之義。遂略去此字。而謂之若壞。其可乎哉。又以此病純為房患以張為筋脈䐜脹。以汩汩為煩悶。皆非是。</p>

<h1>八味丸用澤瀉論</h1>
<p>張仲景八味丸用澤瀉。寇宗奭本草衍義云。不過接引桂附等歸就腎經。別無他意。而王海藏韙之。愚謂八味丸以地黃為君。而以余藥佐之。非止為補血之劑。蓋兼補氣也。氣者。血之母。東垣所謂。陽旺。則能生陰血者。此也。若果專為補腎。而入腎經。則地黃。山茱萸。白茯苓。牡丹皮。皆腎經之藥。固不待夫澤瀉之接引。而後至也。其附子官桂。雖非足少陰經本藥。然附子乃右腎命門之藥。況浮中沉無所不至。又為通行諸經引用藥。官桂能補下焦相火不足。是亦右腎命門藥也。易老亦曰補腎用肉桂。然則。桂附亦不待夫澤瀉之接引。而後至矣。唯乾山藥。雖獨入手太陰經。然其功亦能強陰。且手太陰為足少陰之上原。原既有滋。流豈無益。夫其用地黃為君者。大補血虛不足。與補腎也。用諸藥佐之者。山藥之強陰益氣。山茱萸之強陰益精。而壯元氣。白茯苓之補陽長陰。而益氣。牡丹皮之瀉陰火。而治神志不足。澤瀉之養五臟。益氣力。起陰氣。而補虛損。五勞。桂附之補下焦火也。由此觀之。則余之所謂兼補氣者。非臆說也。且澤瀉也。雖曰咸以瀉腎。乃瀉腎邪。非瀉腎之本也。故五苓散用澤瀉者。詎非瀉腎邪乎。白茯苓亦伐腎邪。即所以補正耳。是則八味丸之用澤瀉者。非他。蓋取其瀉腎邪。養五臟。益氣力。起陰氣。補虛損。五勞。之功而已。寇氏何疑其瀉腎。而為接引桂附等之說乎。且澤瀉固能瀉腎。然從於諸補藥群眾之中。雖欲瀉之。而力莫能施矣。故當歸從於參耆。則能補血。從於大黃牽牛。則能破血。從於桂附茱萸。則熱。從於大黃芒硝。則寒。此非無定性也。奪於群眾之勢。而不得不然也。雖然。或者又謂。八味丸以附子為少陰之嚮導。其補自是地黃為主。蓋取其健脾走下之性。以行地黃之滯。可致遠耳。竊意如此。則地黃之滯。非附子不能及下矣。然錢仲陽六味地黃丸。豈有附子乎。夫八味丸。蓋兼陰火不足者設。六味地黃丸。則惟陰虛者用之也。</p>

<h1>小便原委論</h1>
<p>或問余曰。靈樞經曰。水穀者。常並居胃中。成糟粕。而俱下於大腸。而成下焦。滲而俱下。濟泌別汁。循下焦。而滲入膀胱焉。王冰曰。水液自迴腸泌別汁。滲入膀胱之中胞。氣化之而為溺。以泄出也。楊介云。水穀自小腸盛受於闌門。以分別也。其水。則滲灌入於膀胱上口。而為溲便。詳以上三說。則小便即泌別之水液。滲入膀胱以出者也。素問則曰。飲入於胃。遊溢精氣。上輸於脾。脾氣散精。上歸於肺。通調水道。下輸膀胱。則小便又似水飲精微之氣。上升脾肺。運化而後成者也。彼此不同。將何所憑乎。余曰。憑夫理耳。且夫溲溺者。果何物耶。水而已矣。水之下流。其性則然也。故飲入於胃。其精氣雖不上升。其飲之本。固不能上升。體也。既不能上升。則豈可謂小便。獨為氣化所成者哉。惟其不能上升者。必有待於能上升者。為之先導。故素問又曰。膀胱者。津液藏焉。氣化則能出矣。且水者。氣之子。氣者。水之母。氣行則水行。氣滯則水滯。或者又謂。小便純由泌別。不由運化。蓋不明此理故也。雖然。膀胱。固曰津液之府。至於受盛津液。則又有胞。而居膀胱之中焉。故素問曰。胞移熱於膀胱。靈樞經曰。膀胱之胞薄以濡。類纂曰。膀胱者。胞之室。且夫胞之居於膀胱也。有上口而無下口。津液既盛於胞。無由自出。必因乎氣化。而後能漸浸潤於胞外。積於胞下之空處。遂為溺以出於前陰也。素問所謂膀胱津液藏焉者。蓋舉膀胱以該胞也。若曰胞下無空處。則人溺急時至廁。安能即出乎。夫惟積滿胞下空處。而不可再容。故急。急則至廁即出矣。或言胞有下口。而無上口。或言胞上下皆有口。或言胞有小竅而為注泄之路。不亦妄歟。</p>

<h1>內傷余議</h1>
<p>當觀夫東垣李氏所著內外傷辨。有曰。外傷風寒客邪有餘之病。當瀉。不當補。內傷飲食勞役不足之病。當補。不當瀉。自此論一出。而天下後世。始知內外之傷有所別。而仲景之法。不可例用矣。其惠也。不其大哉。雖然。夷考其言。猶或有可疑者。不敢諛佞。僭用條之。如曰。夫飲食勞倦傷而內熱者。乃陰火乘其坤土之位。故內熱以及於胸中也。又曰。內經有云。勞者溫之。損者溫之。惟宜溫藥以補元氣。而瀉火邪。內經曰。溫能除大熱。故治之必溫藥乃可耳。又曰。飲者。無形之氣。傷之則宜發汗。利小便。使上下分消其濕。（此飲謂酒也）食者。有形之物。傷之則宜損其谷。其次莫如消導。若此者皆不能使人無疑者也。謹按素問調經論篇云。帝曰。陰虛生內熱。奈何。岐伯曰。有所勞倦。形氣衰少。穀氣不盛。上焦不行。下脘不通。胃氣熱。熱氣熏胸中。故內熱。嗟夫。此內傷之說之原乎。請釋其義如左。夫人身之陰陽。有以表裡言者。有以上下之分言者。有以氣血言者。有以身前身後言者。有以臟腑言者有以升降呼吸之氣言者。余如動靜。語默。起居之類甚多。不必悉舉。此所謂陰虛之陰。其所指與數者皆不同。蓋勞動之過。則陽和之氣。皆亢極而化為火矣。況水穀之味又少入。是故陽愈盛。而陰愈衰也。此陰虛之陰。蓋指身中之陰氣。與水穀之味耳。或以下焦陰分為言。或以腎水真陰為言。皆非也。夫有所勞役者。過動屬火也。形氣衰少者。壯火食氣也。穀氣不盛者。勞傷元氣。則少食而氣衰也。上焦不行者。清陽不升也。下脘不通者。濁陰不降也。夫胃受水穀。故清陽升。而濁陰降。以傳化出入。滋榮一身也。今胃不能納。而穀氣衰少。則清無升。而濁無降矣。故曰。上焦不行。下脘不通。然非謂絕不行不通也。但比之平常無病時。則謂之不行不通耳。上不行下不通則鬱矣。鬱則少火皆成壯火。而胃居上焦下脘兩者之間。故胃氣熱。熱則上炎。故熏胸中。而為內熱也。東垣所謂勞役形體。所謂飲食失節。而致熱者。此言正與調經論篇之旨相合。固宜引此段經文。於內外傷辯。以為之主。而乃反不引此。卻謂陰火乘土位。故內熱及胸中。此不能無疑者也。夫陰火二字。素問靈樞難經未嘗言。而東垣每每言之。素問止有七節之膀。中有小心二句。而劉守真推其為命門屬火不屬水。引仙經心為君火。腎為相火之說。以為之證。然亦不以陰火名之。是則名為陰火者。其東垣始歟竊意內熱之作。非皆陰火也。但氣有郁。則成熱耳。雖曰心為君火。君不主令。然素問所敘諸病之屬熱者甚眾。皆君火病也。豈君火不能為病。而直欲純歸之於陰火乎。至真要大論云。勞者溫之。損者益之。夫勞則動之太過。而神不寧矣。故溫之。溫也者。養也。溫之者。所以調其食飲。適其起居。澄心息慮。從容以待其真氣之復常也。禮記所謂柔色以溫之。此溫字。正與此同。或以藥扶助之。亦養也。今東垣乃以溫為溫涼之溫。謂宜溫藥以補元氣。而瀉火邪。又易損者益之。為損者溫之。又以溫能除大熱。為內經所云。而遍考內經。並無此語。此亦不能無疑者也。然溫藥之補元氣。瀉火邪者。亦惟氣溫而味甘者斯可矣。蓋溫能益氣。甘能助脾而緩火。故元氣復。而火邪熄也。夫宜用溫藥。以為內傷不足之治則可。以為勞者溫之之注。則不可。陰陽應象論。所謂形不足者。溫之以氣。其溫字亦是滋養之義。非指溫藥也。夫形不足。乃陽虛而不充也。氣者。藥之氣也。藥有氣厚。氣薄。味厚。味薄。味厚者屬陰。而滋精氣。厚者屬陽。而滋形。今以藥之氣厚者。滋陽不兼形乎。故曰。形不足者。溫之以氣。雖以藥溫養之。亦未嘗不兼乎調食飲。適起居。與澄心息慮也。溫字固其二意然終不可視為溫涼之溫。苟以補之。除之。抑之。舉之。散之等語。比類而觀焉。則其義自著矣。夫金木水火土。運於天地也。則無形質之可觀。其麗於地則有形質矣。金木土水者。有形有質者也。火者。有形而質不實者也。酒性雖體熱。同於水。今東垣乃謂飲者無形之氣。此亦不能無疑者也。既待發汗利小便以去之。其可謂之無形之氣乎。且勞倦傷。飲食傷二者。雖俱為內傷。然不可混而為一。難經所謂飲食勞倦。則傷脾者。蓋謂脾主飲食。而四肢亦屬脾。故飲食失節。勞役四肢。皆能傷於脾耳。非謂二者同類。而無辨也。夫勞倦傷。飲食傷。雖與風寒暑濕有餘之病不同。然飲食傷。又與勞倦傷不同。勞倦傷誠不足也。飲食傷尢當於不足之中。分其有餘不足也。何也。蓋飢餓不飲食。與飲食太過。雖皆是失節。然必明其有兩者之分。方盡其理。節也者何。無不及無太過之中有道也。夫飢餓不飲食者。胃氣空虛。此為不足。固失節也。飲食自倍。而停滯者。胃氣受傷。此不足之中兼有餘。亦失節也。以受傷言。則不足。以停滯言。則有餘矣。惟其不足。故補益。惟其有餘。故消導。亦有物滯氣傷。必補益消導兼行者。亦有物暫滯。而氣不甚傷。宜消導獨行。不須補益者。亦有既停滯。不復自化。不須消導。但當補益。或亦不須補益者。潔古枳朮丸。東垣橘皮枳朮丸。木香枳朮丸之類。雖曰消導。固有補益之意存乎其間。其他如木香分氣丸。導氣枳實丸。大枳殼丸之類。雖無補益。然施之於物暫滯。氣不甚傷者。豈不可哉。但不宜視為通行之藥耳。且所滯之物。非枳朮丸之力所能去者。亦安可泥於消導。而不知變乎。故備急丸。煮黃丸。感應丸。瓜蒂散等之推逐者。潔古東垣亦未嘗委之。而弗用也。故善將兵者。攻亦當。守亦當。不善者。則宜攻而守。宜守而攻。其敗也非兵之罪。用兵者之罪耳。觀乎此。則知消導補益推逐之理矣。若夫勞倦傷。則純乎補益。固不待議。雖東垣丁寧告戒。然世人猶往往以苦寒之劑。望除勞倦傷之熱。及其不愈。而反甚。自甚而至危。但曰病勢已極。藥不能勝耳。醫者。病者。主病者。一委之天命。皆懵然不悟其為妄治之失也。嗚呼。仁人君子。能不痛心也哉。夫東垣先哲之出類者也。奚敢輕議。但恨其白璧微瑕。而或貽後人差毫釐謬千里之患。故不得不僣逾耳。知我者其鑑之。</p>

<h1>外傷內傷所受經言異同論</h1>
<p>客或難予曰。素問陰陽應象論云。天之邪氣。感則害人五臟。水穀之寒熱。感則害人六腑。太陰陽明論云。犯賊風虛邪者。陽受之。食飲不節。起居不時者。陰受之。陽受之則入六腑。陰受之則入五臟。兩說正相反。願聞其解。余復之曰。此所謂似反。而不反者也。夫感天之邪氣。犯賊風。虛邪。外傷有餘之病也。感水穀寒熱。食飲不節。內傷不足之病也。二者之傷。腑臟皆嘗受之。但隨其所從。所發之處。而為病耳。不可以此兩說之異。而致疑。蓋並行不相悖也。讀者當合而觀之。其旨斯盡。若曰不然。請以諸處所論證之。金匱真言論曰。風觸五臟邪氣發病。八正神明論曰。夫八正之虛邪。以身之虛。而逢天之虛。兩虛相感。其氣至骨。入則五臟傷。靈樞經曰。五臟之中風。又曰。東風傷人。內舍於肝。南風傷人。內舍於心。西南風傷人。內舍於脾。西風傷人。內舍於肺。北風傷人。內舍於腎。觀乎此。則天之邪氣。固傷五臟矣。靈樞又曰。邪之中人也。無有常。中於陰則溜於腑。又曰。虛邪之中人也。始從皮膚以入。其傳。自絡脈而經而輸而伏沖之脈。以至於腸胃。又曰東北風傷人。內舍於大腸。西北風傷人。內舍於小腸。東南風傷人。內舍於胃。觀乎此。則天之邪氣。豈不傷六腑乎。素問曰。飲食自倍。腸胃乃傷。觀乎此。則水穀寒熱。固傷六腑矣。靈樞又曰。形寒寒飲則傷肺。難經曰。飲食勞倦則傷脾。觀乎此。則水穀寒熱。豈不傷五臟乎。至於地之濕氣。亦未必專害皮肉筋脈。而不能害臟腑。邪氣水穀。亦未必專害臟腑。而不能害皮肉筋脈也。但以邪氣無形。臟主藏精氣。故以類相從。而多傷腑。水穀有形。腑主傳化物。故因其所有。而多傷腑。濕氣浸潤。其性緩慢。其入人也以漸。其始也自足。故從下而上。從淺而深。而多傷於皮肉筋脈耳。孰謂濕氣全無及於臟腑之理哉。至若起居不時一語。蓋勞役所傷之病。不繫上文。異同之義。故不之及也。</p>
