<header data-type="book">
<h1>邵氏醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>邵蘭生</dd></div>
<div><dt>朝代</dt><dd>淸</dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521063">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>正文</h1>
<p>癸澀趲遲，帶注腹痛有症，左脈澀右沉弦，中脘脹悶，背掣，姑宜順氣利中平肝。</p>
<p>烏藥（一錢五分）　雞內金（三錢）　青皮（八分）　化龍骨（三錢）　沉香（五分沖）　木蝴蝶（四分）　廣鬱金（三錢原杵）　綠萼梅（一錢五分）　川楝子（三錢）　炒穀芽（四錢）　厚朴（一錢）　四帖</p>
<p>稚孩蟲氣內著，腹痛作瀉，脈滯滑，苔白，口渴嘔惡，姑宜安胃利中。</p>
<p>烏梅（一個）　川連（五分，吳萸四分拌炒）　廣藿香（二錢）　川楝子（二錢）　炒川椒（廿粒）　厚朴（八分）　炒穀芽（四錢）　延胡（一錢五分）　茯苓（三錢）　仙半夏（一錢五分）　通草（二錢半）　三帖</p>
<p>便瀉較減，面跗浮腫不退，脈弦滑，經停，仍遵前法加減為穩。</p>
<p>烏藥（二錢）　炒江西術（一錢）　東瓜皮（三錢）　蘇梗（二錢五分）　陽春砂（八分沖）　廣木香（七分）　大腹絨（三錢）　天仙藤（三錢）　炒穀芽（四錢）　新會皮（一錢五分）　綠萼梅（一錢五分）　四帖</p>
<p>崩漏後，腹滿氣滯作痛，脈清數，腿跗浮腫，宜和營衛為主。</p>
<p>當歸（二錢）　豨薟草（三錢）　西琥珀（八分）　炒白芍（一錢五分）　廣木香（六分）　炒車前（三錢）　抱木茯神（四錢）　五加皮（三錢）　東瓜子（三錢）　九香蟲（一錢）　佛手花（八分）　四帖</p>
<p>宿恙夾新邪，痰壅氣塞，咳嗽暮夜尤劇，脈弦苔滑，姑宜清降化痰。</p>
<p>瓜蔞皮（三錢）　射干（一錢）　仙半夏（一錢五分）　光杏仁（三錢）　象貝（四錢）　賴橘紅（八分）　杵蘇子（二錢）　白前（一錢五分）　海浮石（三錢）　葶藶子（三錢）　生蛤殼（六錢）　引鮮竹肉（一丸）　三帖</p>
<p>癸澀遲滯，腹中㽲痛，脈兩手沉弦，苔白根微黃，帶下為注，宜四物湯主治。</p>
<p>生地（四錢）　猺桂心片（四分，沖）　沙苑子（一錢半）　當歸（三錢）　炒白芍（一錢五分）　延胡（三錢）　川芎（一錢）　廣木香（七分）　茺蔚子（三錢）　制香附（三錢）　雞血藤（三錢）　四帖</p>
<p>咳逆痰阻，午後惡寒，脈清氣口浮滑，左沉弦，癸水適至，脘悶便利，苔根黃滑，宜清解為主。</p>
<p>淡豆豉（一錢五分）　前胡（一錢五分）　澤蘭（二錢五分）　象貝（三錢）　山查（三錢）　赤苓（三錢）　桔梗（一錢五分）　通草（一錢五分）　炒麥芽（三錢）　枳殼（一錢五分）　橘紅（一錢五分）　引鮮竹肉（一丸）　二帖</p>
<p>苔根黃厚，右脈沉澀，左關弦，腹痛心涎，胃鈍大便忽瀉，產後載余，癸水未至，姑宜理氣平肝為主。</p>
<p>川楝子（一錢五分）　左金丸（八分）　當歸（一錢，小茴五分拌炒）　木蝴蝶（四分）　炒白芍（一錢五分）　九香蟲（一錢）　省頭草（三錢）　炒青皮（七分）　炒穀芽（四錢）　烏藥（一錢五分）　綠萼梅（一錢五分）　三帖</p>
<p>中焦未和，氣機失利，脈兩手混滯，大便稍下不暢，仍遵前法加減為妥。</p>
<p>瓜蔞皮（三錢）　郁李仁（三錢）　炒穀芽（四錢）　薤白（一錢五分）　炒枳實（一錢）　廣鬱金（三錢，原杵）　省頭草（三錢）　厚朴（一錢五分）　烏藥（一錢五分）　棗檳（三錢）　綠萼梅（一錢五分）　路路通十顆　三帖</p>
<p>蟲氣作痛，腹瀉肢腫面浮，脈沉細，苔白口渴，症屬重極，宜利中分消。</p>
<p>烏梅（一個）　大腹絨（三錢）　省頭草（三錢）　椒目（五分）　延胡（二錢）　茯苓皮（四錢）　厚朴（八分）　廣木香（七分）　通草絲（一錢五分）　炒車前（三錢）　地骷髏（三錢）　三帖</p>
<p>體虛受邪，寒熱久羈，脈弦兩尺虛細，苔白腰痛，宜補中益氣湯加減。</p>
<p>車洋參（一錢）　當歸（二錢）　仙半夏（一錢五分）　升麻（五分）　陳皮（一錢五分）　茯苓（四錢）　炒江西術（一錢）　清炙耆（一錢五分）　酒炒柴胡（一錢）　桑寄生（三錢）　炙虎骨（三錢）　三帖</p>
<p>咳嗽日久，其脈象兩手細數，癸水不調，周身脈絡不舒，症勢防入損途。</p>
<p>紫菀（一錢五分）　仙半夏（一錢五分）　炒穀芽（四錢）　川貝（一錢五分，不杵）　廣橘紅（二錢）　白石英（三錢）　光杏（三錢）　白前（一錢五分）　絲瓜絡（三錢）　南沙參（三錢）　款冬花（三錢）　四帖</p>
<p>邪客肺衛，嗆咳氣促，脈寸浮滑，苔白形寒，姑宜清肺疏風化痰。</p>
<p>桔梗（一錢五分）　前胡（一錢五分）　百部（八分）　光杏（三錢）　橘紅（一錢）　枳殼（一錢五分）　象貝（三錢）　蘇梗（二錢）　荊芥穗（一錢五分）　白前（一錢五分）　佛兒草（三錢）　三帖</p>
<p>痛氣滯，脈左澀，右關沉弦，苔白里半截微黃，帶下如注，治在奇經。</p>
<p>沙苑子（一錢五分）　當歸（二錢，小茴五分拌炒）　制香附（一錢五分）　炒杜仲（三錢）　川芎（一錢）　川斷（三錢）　制香附（三錢）　生壯蠣（四錢）　延胡（一錢五分）　覆盆子（三錢）　炒茺蔚子（三錢）　綠萼梅（一錢五分）　五帖</p>
<p>嗆咳聲重，音猶啞不揚，脈右小數，左細，苔黃絡血上溢，究非輕藐之症。</p>
<p>冬蟲夏草（一錢五分）　杜馬兜鈴（一錢）　野百合（二錢）　川貝（一錢五分，不杵）　橘絡（一錢五分）　石決明（六錢，生杵）　焦山梔（二錢）　光杏仁（三錢）　白前（一錢五分）　南沙參（三錢）　側柏炭（三錢）　引鮮枇杷葉（五片，去毛）　四帖</p>
<p>溫邪未清，身熱口燥，痰壅氣塞，脈弦數，苔黃膩。嗆咳便利，症尚重險，宜防變幻。</p>
<p>前胡（一錢五分）　象貝（四錢）　銀花（二錢）　赤苓（四錢）　老式天竹黃（二錢）　原滑石（四錢）　焦山梔（二錢）　光杏仁（三錢）　炒黃芩（一錢五分）　賴橘紅（八分）　絲通草（一錢五分）　引鮮竹肉一丸　三帖</p>
<p>嗆咳稍差，胃納略增，脈虛細，左弦已緩，苔膩肢楚，宜清肺胃化痰。</p>
<p>南沙參（三錢）　仙半夏（一錢五分）　炒穀芽（四錢）　海桐皮（三錢）　廣橘紅（一錢）　川貝（一錢五分，不杵）　石決明（六錢）　豨薟草（三錢）　紫苑（一錢五分）　茯苓（三錢）　白前（一錢五分）</p>
<p>咳痰未除，陰火不斂，脈小數，苔黃中心紅，徹夜不寐，形肉日削，究屬肺勞重症。</p>
<p>生地（四錢）　炒棗仁（三錢）　紫苑（一錢五分）　抱木原炒茯神（四錢）　夜交藤（三錢）　天冬（三錢）　冬蟲夏草（一錢五分）　炒小川連（五分）　原川貝（一錢五分）　光杏仁（三錢）　炙橘紅（一錢）　引鮮枇杷葉（三片）　四帖</p>
<p>痢下赤白，脈弦細，苔滑白尖紅，小腹下墜，濕熱蘊蓄，仍遵前法加減為妥。</p>
<p>白頭翁（二錢）　酋根（二錢）　川石斛（三錢）　人中黃（八分）　生白芍（一錢五分）　土茯苓（四錢）　草決明（三錢即青葙子）　銀花（一錢五分）　省頭草（三錢）　卷柏（一錢）　石蓮子（三錢生杵）　引乾荷葉（半張）　三帖</p>
<p>閨女蟲氣作瀉，脈弦細，苔滑白，兩足浮腫，勢恐增劇。</p>
<p>大腹絨（三錢）　烏藥（二錢）　川楝子（一錢五分）　椒目（七分）　炒車前（三錢）　赤芍（三錢）　杜赤小豆（四錢）　炒穀芽（四錢）　省頭草（三錢）　東瓜皮（三錢）　炒米仁（四錢）　三帖</p>
<p>風邪襲肺，嗆咳形寒，脈寸浮滑，苔微黃，胃鈍肢楚，姑宜清肺化痰。</p>
<p>桔梗（一錢五分）　荊穗（一錢五分）　枳殼（一錢五分）　光杏仁（三錢）　橘紅（一錢）　象貝（三錢）　淡豉（一錢五分）　前胡（一錢五分）　蘇梗（二錢）　廣鬱金（三錢原杵）　炒穀芽（四錢）　引鮮竹肉（一丸）　二帖</p>
<p>產後瘕瀉，腹中隱隱作痛，脈澀左弦，舌光，嗆咳形怯，非輕藐之症。</p>
<p>廣藿梗（二錢）　桔梗（一錢）　炒穀芽（四錢）　石蓮子（三錢杵）　左金丸（八分）　原川貝（一錢五分）　扁豆皮（三錢）　綠萼梅（一錢五分）　省頭草（三錢）　砂仁（七分沖）　通草絲（一錢五分）　三帖</p>
<p>屢受風邪，咳嗽多痰，脈浮弦數，苔滑，宜止嗽散加減治之。</p>
<p>百部（八分）　桔梗（一錢五分）　白前（一錢五分）　北細辛（二分）　炙甘草（五分）　杏仁（三錢）　象貝（三錢）　廣橘紅（一錢）　紫苑（一錢五分）　荊芥穗（一錢五分）　法半夏（一錢五分）　三帖</p>
<p>便瀉未除，經停脘悶，脈滯滑，肢體浮腫，仍遵前法加減為妥。</p>
<p>烏藥（二錢）　生益智（一錢五分）　天仙藤（三錢）　蘇梗（一錢五分）　炒車前（三錢）　東瓜子（三錢）　大腹絨（三錢）　厚朴（一錢）　炒穀芽（四錢）　五加皮（三錢）　陽春砂（七分沖）　四帖</p>
<p>小孩肝瀉化腫，脈細數，唇舌均紅，陰火不斂，溺少，屬棘手凶危之症，勉為立法候正。</p>
<p>熟地（三錢）　澤瀉（三錢）　淮牛膝（一錢五分）　蟾蜍干（一錢去頭足）　丹皮（二錢）　陳萸肉（一錢）　炒車前（三錢）　生白芍（一錢五分）　茯苓（三錢）　懷山藥（三錢）　杜赤小豆（三錢）　一帖</p>
<p>癸來澀少，左脈澀細，右寸關弦滑，氣衝脘悶心涎，苔滑腹痛，氣滯作瀉，姑宜和肝調經為主。</p>
<p>烏鰂骨（一錢五分）　澤蘭葉（一錢五分）　藿梗（二錢）　制香附（三錢）　延胡（二錢）　新會皮（二錢五分）　雞血藤（三錢）　厚朴（一錢）　炒米仁（四錢）　大腹絨（三錢）　玫瑰花（五朵）　四帖</p>
<p>便瀉稍減，腹滿有瘕，脈兩手皆弦，苔薄白，經停九月，氣滯如痛，仍遵前法加減為妥。</p>
<p>烏藥（二錢）　川楝子（三錢）　生益智（一錢五分，去尖）　甘松（四分）　茯苓（三錢）　廣木香（八分）　炒車前（三錢）　炒穀芽（四錢）　大腹絨（三錢）　厚朴（一錢）　炒白芍（一錢五分）　四帖</p>
<p>產後衝任不固，帶注腰痠，脈右澀，左關弦，腹痛有瘕，宜治奇經。</p>
<p>沙苑子（一錢五分）　桑螵蛸（三錢）　釵斛（三錢）　覆盆子（三錢）　延胡（二錢）　炒杜仲（三錢）　遠志肉（八分）　川斷（三錢）　生牡蠣（四錢）　制香附（三錢）　省頭草（三錢）　四帖</p>
<p>脾泄腹痛脘悶，脈弦細，左沉澀，胃鈍足跗浮，癸水趲遲，宜防腫脹。</p>
<p>烏藥（一錢五分）　炒白芍（一錢五分）　藿梗（二錢）　生益智（一錢）　茯苓（三錢）　廣木香（七分）　新會皮（一錢五分）　玫瑰花（五朵）　大腹絨（三錢）　炒穀芽（四錢）　省頭草（三錢）　三帖</p>
<p>風濕條熱，下寒身疼，肢楚氣衝，脘悶欲嘔，脈寸浮滑，苔黃咳逆，咽中不爽，尤宜防劇。</p>
<p>炒梔子（二錢）　瓜蔞皮（三錢）　桔梗（一錢五分）　前胡（一錢五分）　淡豆豉（一錢五分）　廣鬱金（三錢原杵）　蟬衣（一錢）　炒萊菔子（二錢）　廣橘紅（一錢）　枳殼（一錢五分）　象貝（三錢）　引鮮竹肉（三錢）　二帖</p>
<p>肝風未靜，頭暈驚怖，六脈澀細，帶注腰疼，子後鳴鳴便利，仍遵前法加減再進。</p>
<p>煅龍齒（三錢）　西琥珀（八分）　焙天麻（八分）　白蒺藜（三錢）　抱木茯神（四錢）　遠志肉（八分）　石決明（六錢，生打）　椿根白皮（一錢）　鉤鉤（二錢）　合歡皮（三錢）　炒穀芽（四錢）　引燈心（七支）　五帖</p>
<p>心惕如懸，胸悶胃餒少谷，脈兩寸關弦，舌色透明，偶覺暈眩，姑宜泄降平肝。</p>
<p>瓜蔞皮（三錢）　穀芽（四錢）　新會皮（一錢五分）　合歡皮（三錢）　薤白（一錢五分）　廣鬱金（三錢，生打）　抱木茯神（四錢）　綠萼梅（一錢五分）　起碼霍斛（三錢）　生石決明（六錢）　炒遠志肉（八分）　四帖</p>
<p>脫力腰跗酸，咳痰曾患失血，脈虛細，左弦數，苔黃有小紅星，搜溺赤，宜清上益下。</p>
<p>北沙參（三錢）　澤瀉（三錢）　淡秋石（五分，沖）　廣橘紅（一錢）　生牡蠣（四錢）　茯苓（三錢）　光杏仁（三錢）　豨薟草（三錢）　川貝（一錢五分，不杵）　炒梔子（三錢）　絲通草（一錢五分）　五帖</p>
<p>氣阻經隧，腹痛有瘕，脈兩手弦細，脘悶便瀉，帶注腰疼，宜青娥丸法加減治之。</p>
<p>炒破故紙（一錢五分）　川楝子（一錢五分）　炒白芍（一錢五分）　肉果露（八分）　炒杜仲（三錢）　木蝴蝶（四分）　廣木香（八分）　玫瑰花（五朵）　烏藥（二錢）　川斷（三錢）　骨碎補（三錢）　四帖</p>
<p>濕熱盤踞，脘悶腹痛，脈濡右弦，苔黃滑，肢體浮腫，姑宜分消利中。</p>
<p>焦神麯（四錢）　雞內金（三錢）　防己（一錢五分）　廣鬱金（三錢，生打）　香附（二錢）　沉香曲（一錢五分）　厚朴（一錢五分）　佛手花（八分）　大腹絨（三錢）　豨薟草（三錢）　絲通草（一錢五分）　四帖</p>
<p>閨女蟲氣作痛，夾雜風邪，嗆咳面浮，舌心光，非輕藐之症，防劇。</p>
<p>川楝子（一錢五分）　金沸花（三錢）　桔梗（一錢五分）　光杏仁（三錢）　延胡（三錢）　橘紅（一錢）　赤苓（三錢）　絲通草（一錢五分）　炒青皮（八分）　仙半夏（一錢五分）　前胡（一錢五分）　引鮮竹肉（一丸）　三帖</p>
<p>產後四月，便瀉未除，腹痛已緩，脈澀弱苔滑，跗浮，嘈雜少谷，宜豬苓湯加減治之。</p>
<p>豬苓（一錢五分）　炒阿膠（一錢五分）　大腹絨（三錢）　扁豆皮（三錢）　澤瀉（三錢）　厚朴（一錢）　椒目（五分）　省頭草（三錢五分）　浙茯神（三錢）　左金丸（八分）　炒穀芽（四錢）　玫瑰花（五朵）　四帖</p>
<p>苔白根微黃，脈弦細氣口滑，寒熱交作，肢稍不暖，形怯體虛，曾患失血，此由濕邪夾雜使然，宜治標為先。</p>
<p>冬桑葉（三錢）　晚蠶沙（三錢）　白前（八分）　蔻殼（一錢五分）　焦梔（三錢）　茯苓（三錢）　蘇梗（一錢五分）　光杏仁（三錢）　白薇（三錢）　炒青皮（八分）　防己（一錢五分）　三帖</p>
<p>案列於前，咳嗽氣急，脈弦細，苔白滑，胃納不旺，姑宜泄降利胃化痰。</p>
<p>瓜蔞皮（三錢）　仙半夏（一錢五分）　炒穀芽（四錢）　蒸百部（八分）　薤白（一錢）　川貝（一錢五分，不杵）　白石英（三錢）　廣橘紅（一錢）　紫苑（一錢五分）　白前（一錢五分）　光杏仁（三錢）　引鮮竹肉（一丸）　三帖</p>
<p>脫身受邪，濕著阻氣，脈弦，苔滑白，嗆咳氣逆，跗酸溲溺赤，姑宜清肺利濕化痰。</p>
<p>蒸百部（八分）　綿茵陳（三錢）　海桐皮（三錢）　仙半夏（一錢五分）　光杏仁（三錢）　廣橘紅（一錢）　生米仁（四錢）　沉香曲（一錢五分）　茯苓（四錢）　紫苑（一錢五分）　東瓜子（三錢）　四帖</p>
<p>濕熱化瘧，寒熱互作，脈弦濡，食入脘中脹悶，小溲乍赤，姑宜利中祛邪。</p>
<p>草果（七分，焙去殼）　酒炒柴胡（一錢）　絲通草（一錢五分）　仙半夏（一錢五分）　厚朴（一錢）　茯神（四錢）　香附（二錢）　威靈仙（一錢五分）　棗檳（三錢）　鼠婦（三分）　炒青皮（七分）　三帖</p>
<p>肝火上郁，右耳失聰，脈澀數，帶注腹滿，癸水不調，苔滑，宜清少陽為主。</p>
<p>苦丁茶（一錢五分）　制香附（三錢）　炒青皮（八分）　白蒺藜（三錢，去刺）　粉丹皮（二錢）　焦山梔（二錢）　廣鬱金（三錢）　佩蘭（三錢）　甘菊（三錢）　夏枯草（一錢五分）　生牡蠣（四錢）　四帖</p>
<p>癸澀遲滯，腹痛脹悶，脈細滯，便瀉噁心，姑宜利中。</p>
<p>烏藥（二錢）　川楝子（一錢五分）　制香附（三錢）　生益智（一錢）　茯苓（三錢）　延胡（二錢）　廣木香（七分）　玫瑰花（五朵）　大腹絨（三錢）　厚朴（一錢）　佩蘭（三錢）　四帖</p>
<p>風濕外乘，身熱惡寒，脈兩寸關浮滑，嗆咳身酸楚，姑宜辛涼輕解，防劇。</p>
<p>淡豆豉（一錢五分）　桔梗（一錢五分）　前胡（二錢五分）　廣鬱金（三錢，生打）　連翹（三錢）　象貝（三錢）　廣橘紅（一錢）　蟬衣（一錢）　薄荷（八分）　光杏仁（三錢）　荊芥穗（一錢五分）　引鮮竹肉（一丸）　二帖</p>
<p>蟲痛尿白悉差，脈混滯，大便仍滑，脾土失運，宜防疳患。</p>
<p>烏梅（一個）　滑石（四錢）　蟾蜍干（一錢，去頭足）　炒穀芽（四錢）　厚朴（八分）　廣木香（六分）　炒五穀蟲（三錢）　扁豆殼（三錢）　炒車前（三錢）　生白芍（一錢五分）　絲通草（一錢五分）　三帖</p>
<p>肺勞咳血，脈細數，苔黃，腹痛便結，胃鈍背寒，究非輕藐之症。</p>
<p>瓜蔞子（三錢，杵）　小蘇草（三錢）　炒梔子（三錢）　茜根（三錢）　薤白（一錢五分）　川貝（一錢五分，不杵）　廣鬱金（三錢）　海浮石（三錢）　光杏仁（三錢）　紫苑（一錢五分）　白前（一錢五分）　引藕節（三個）</p>
<p>肝塊作痛，脘中嘈雜，脈左弦右澀，癸澀帶注，腰痠背制，姑宜養血平肝。</p>
<p>生地（三錢）　川楝子（一錢五分）　生牡蠣（四錢）　炒小胡麻（三錢）　歸身（二錢）　延胡（二錢）　九香蟲（一錢）　玫瑰花（五朵）　炒白芍（一錢五分）　木蝴蝶（四分）　川斷（三錢）　五帖</p>
<p>大瘧未除，嘔惡脘悶，脈弦右滑，咳逆痰阻，腿跗酸楚，宜利胃化痰祛邪。</p>
<p>仙半夏（一錢五分）　草果（七分，去殼）　厚朴（一錢）　金沸花（三錢，包）　廣橘紅（一錢）　茯苓（四錢）　蔻殼（一錢五分）　豨薟草（三錢）　蓽撥（二分）　棗檳（三錢）　川牛膝（二錢）　四帖</p>
<p>脾泄較差，食入脘悶，脈細左關弦，癸水未至，口渴跗浮，仍遵前法加減為主。</p>
<p>烏藥（二錢）　炒白芍（一錢五分）　川楝子（一錢五分）　省頭草（三錢）　茯苓（三錢）　廣木香（七分）　炒車前（三錢）　綠萼梅（一錢五分）　大腹絨（三錢）　生益智（一錢）　木瓜（二錢）</p>
<p>便瀉稍減，脈兩手皆細，食入脘腹脹悶，經停，防成腫脹。</p>
<p>豬苓（一錢五分）　炒阿膠（一錢五分）　廣藿香（二錢）　大腹絨（三錢）　澤瀉（三錢）　制香附（二錢）　新會皮（一錢五分）　砂仁（七分沖）　茯苓（三錢）　厚朴（一錢五分）　廣木香（七分）　炒穀芽（四錢）　四帖</p>
<p>陰虛嗆咳，已曾失血，咽痛音低，左脈小數右弦，苔滑白，便溏，肝橫氣滯，不易圖治之症。</p>
<p>北沙參（三錢）　炒阿膠（一錢五分）　川貝（二錢）　金果欖（一錢）　扁豆衣（三錢）　雞子黃（一枚，自加）　懷山藥（三錢）　生米仁（四錢）　橘絡（一錢五分）　茯苓（四錢）　石決明（六錢，生杵）　引鮮枇杷葉（三片去毛）　五帖</p>
<p>營虛嘈雜，癸水先後不一，脈右澀左弦，帶注腰墜，膻左有瘕，不明暈眩，舌心空，治在奇經。</p>
<p>生地（三錢）　丹參（三錢）　生牡蠣（四錢）　佩蘭（三錢）　抱木茯神（四錢）　小胡麻（三錢）　川斷（三錢）　綠萼梅（一錢五分）　川石斛（三錢）　穭豆皮（三錢）　覆盆子（三錢）</p>
<p>小孩便瀉未除，脈濡滑苔膩，蟲積尚存，還宜前法加減為妥。</p>
<p>烏梅（一個）　蟾蜍干（一錢）　絲通草（一錢五分）　生益智（一錢，去殼）　厚朴（八分）　生白芍（一錢五分）　炒五穀蟲（三錢）　炒米仁（四錢）　炒車前（三錢）　川楝子（一錢五分）　大腹絨（三錢）　四帖</p>
<p>風濕外乘，頭疼發熱乍寒，脈浮數，嗆咳不寐，身疼肢楚，姑宜輕解化痰。</p>
<p>川梔子（三錢）　前胡（一錢五分）　桔梗（一錢五分）　冬桑葉（三錢）　淡豆豉（一錢五分）　橘紅（一錢）　光杏仁（三錢）　象貝（三錢）　牛蒡子（一錢五分）　枳殼（一錢五分）　廣鬱金（三錢）</p>
<p>嗆咳未除，頭暈目暗，脈虛右弦滑，苔滑微灰，便結，宜清肺安神為主。</p>
<p>南沙參（三錢）　冬桑葉（三錢）　炒棗仁（三錢）　麻子仁（三錢）　茯神（四錢）　蕤仁（一錢五分）　廣橘紅（一錢）　穀芽（四錢）　夜交藤（三錢）　川貝（一錢五分）　白前（一錢五分）　鮮枇杷葉（五片）　三帖</p>
<p>前藥已效，寒熱較輕，脈弦細，苔滑白，嗆咳不已，腿跗酸楚，宜建中湯加減治之。</p>
<p>當歸（二錢）　炒白芍（一錢五分）　仙半夏（一錢五分）　紫苑（一錢五分）　桂枝（七分）　白石英（三錢）　廣橘紅（一錢）　豨薟草（三錢）　炙甘草（五分）　光杏仁（三錢）　茯苓（四錢）　引老薑（三片）　紅棗（四枚）　四帖</p>
<p>大腹已潤，頭暈嗆咳未除，脈小數，右寸關弦，苔白根微黃，子後寐不安，仍遵前法，加減為妥。</p>
<p>生玉竹（三錢）　紫苑（一錢五分）　夜交藤（三錢）　巨勝子（三錢）　抱木茯神（四錢）　川貝（一錢五分）　炒棗仁（三錢）　炒穀芽（四錢）　甜杏仁（三錢）　廣橘紅（一錢）　白蒺藜（三錢）</p>
<p>血舍未清，嗆咳較減，舌心灰黃，脈小數，腹痛便下滯，仍遵前法加減為妥。</p>
<p>瓜蔞皮（三錢）　澤蘭（一錢）　炒淡芩（一錢）　藿梗（二錢）　炒萊菔子（三錢）　廣木香（八分）　廣橘紅（一錢）　神麯（四錢）　枳殼（一錢五分）　前胡（一錢五分）　象貝（三錢）　二帖</p>
<p>閨女腹滿氣逆，脈濡左弦細，苔黃滑，尖邊紅，便弱不爽，顏紅汗出口渴，屬棘手重症。</p>
<p>烏梅（一個）　大腹絨（三錢）　絲通草（一錢五分）　瓜蔞皮（三錢）　川連（八分，茱萸四分拌炒）　薤白（一錢）　沉香（四分，沖）　佛手花（八分）　雞內金（三錢）　省頭草（三錢）　炒穀芽（四錢）　三帖</p>
<p>大瘧猶來，脈虛盜汗，苔黃咳痰，四肢酸楚，宜何人飲治之。</p>
<p>東洋參（一錢五分）　仙半夏（一錢五分）　炙虎風（三錢，杵）　鼠婦（三分）　當歸（一錢五分）　川貝（一錢五分）　淮牛膝（三錢）　豨薟草（三錢）　制首烏（三錢）　生牡蠣（四錢）　秦艽（一錢五分）　四帖</p>
<p>疊進建中湯已效，脈較有神，氣口滑，溺熱形寒，汗出稍飲，還宜前法加減為妥。</p>
<p>東洋參（一錢五分）　炒白芍（一錢五分）　紫苑（一錢五分）　秦艽（一錢五分）　桂枝（八分）　川貝（一錢五分）　麥冬（三錢，去心）　生牡蠣（四錢）　炙甘草（五分）　清炙耆（一錢五分）　甜杏仁（三錢）　引紅棗（三枚）</p>
<p>苔微白，脘悶大便忽瀉，脈細左弦，寒熱交作，嗆咳肢楚，胃鈍小溲乍赤，宜活人敗毒散加減治之。</p>
<p>酒炒柴胡（一錢）　羌活（一錢五分）　桔梗（一錢五分）　範曲（三錢）　前胡（一錢五分）　獨活（一錢五分）　枳殼（一錢五分）　絲通草（一錢五分）　川芎（一錢）　赤苓（三錢）　厚朴（一錢五分）　三帖</p>
<p>盜汗較差，嗆咳已減，痰紅未除，左脈虛細，右寸滑數，苔心微黃，便滑形怯，不易之症。</p>
<p>北沙參（三錢）　炒訶子肉（三錢）　側柏炭（三錢）　懷山藥（三錢）　川貝（一錢五分）　扁豆殼（三錢）　茯苓（四錢）　穭豆皮（三錢）　冬蟲夏草（一錢五分）　炒棗仁（三錢）　橘絡（一錢五分）</p>
<p>苔轉微白，尖邊尚紅，脈象兩手小數，嗆咳較減，音猶嘶，慮防涸陰。</p>
<p>北沙參（三錢）　胖大海（三錢）　紫苑（一錢五分）　川貝（一錢五分）　粉丹皮（二錢）　廣橘紅（一錢）　天冬（三錢）　起碼霍斛（三錢）　馬兜鈴（一錢）　白前（一錢五分）</p>
<p>風濕發熱口燥，脈浮滑數，苔黃厚，咳痰吸短，右脅刺痛，症中重險，宜防變端。</p>
<p>桔梗（一錢五分）　前胡（一錢五分）　枳殼（一錢五分）　橘紅（一錢）　蟬衣（一錢五分）　老式天竺黃（二錢）　廣鬱金（三錢，生打）　銀花（一錢五分）　薄荷（八分）　象貝（三錢）　天花粉（三錢）　引鮮竹肉（一丸）　二帖</p>
<p>嗆咳未陰，痰不易出，脈弦細，苔滑氣逆，仍遵前法加減為妥。</p>
<p>蒸百部（八分）　紫苑（一錢五分）　川貝（一錢五分）　廣橘紅（一錢）　光杏仁（三錢）　仙半夏（一錢五分）　白前（一錢五分）　茯苓（三錢）　甘菊（二錢）　焙天麻（八分）　石決明（六錢，生打）　引鮮竹肉（一丸）</p>
<p>濕邪侵肺，咳痰帶紅，脈滑數苔黃，咽痛音嘶，倏熱乍寒頭疼，姑宜清解化痰。</p>
<p>馬勃（一錢五分）　薄荷（七分）　橘紅（一錢）　白前（一錢五分）　連翹（三錢）　焦山梔（三錢）　銀花（一錢五分）　光杏仁（三錢）　象貝（三錢）　元參（三錢）　茜根（三錢）　鮮枇杷葉（三片，去毛）　三帖</p>
<p>頭暈且疼，心惕肢楚，左脈沉弦，右寸轉堅，苔微黃，腹滿左偏有瘕，姑宜柔肝理氣和中。</p>
<p>桑奇生（三錢）　焙天麻（八分）　炒青皮（八分）　木蝴蝶（四分）　炒阿膠（一錢五分）　石決明（五錢，生杵）　炒白芍（一錢五分）　新會皮（二錢五分）　制香附（三錢）　原粒砂仁（一錢）　烏藥（一錢五分）　五帖</p>
<p>清竅未和，睡即嗆咳，胃氣稍振，脈小數，音猶嘶，還防變幻。</p>
<p>杜馬兜鈴（一錢）　白前（一錢五分）　淡竹葉（一錢五分）　苦丁茶（一錢五分）　川貝（一錢五分，不杵）　光杏仁（三錢）　生米仁（四錢）　穀芽（四錢）　射干（一錢）　炒梔子（三錢）　紫苑（一錢五分）　引鮮枇杷葉（三片，去毛）　三帖</p>
<p>風濕發熱口燥，脈數左浮滑，嗆咳痰阻，左脅痛，癸水適至淋漓，大便黏滯不爽，尤防痙厥之變。</p>
<p>瓜蔞皮（三錢）　銀花（一錢五分）　炒黃芩（一錢五分）　枳殼（一錢五分）　象貝（三錢）　廣橘紅（一錢）　廣鬱金（三錢，原杵）　萊菔子（二錢，生杵）　炒梔子（三錢）　前胡（一錢五分）　光杏仁（三錢）　引鮮竹肉（一丸）　二帖</p>
<p>痢已帶糞，脈細數，苔紅稍淡，小溲略利，咽乾音嘶，宜清熱解毒，不致變幻，無慮。</p>
<p>馬勃（一錢）　人中黃（八分）　原滑石（四錢）　白頭翁（一錢五分）　銀花（三錢）　川石斛（三錢）　生穀芽（四錢）　丹皮（二錢）　生白芍（一錢五分）　石蓮子（三錢）　天花粉（一錢五分）　三帖</p>
<p>肝火刑肺，咳痰帶紅，脈右弦滑，左逾轉堅，苔黃頭暈，寢寐恍惚，宜清降為主。</p>
<p>淡竹葉（一錢五分）　女貞子（三錢）　釵斛（三錢）　夜交藤（三錢）　甘菊（三錢）　旱蓮草（一錢五分）　白薇（三錢）　炒棗仁（三錢）　炒梔子（二錢）　石決明（六錢，生打）　穭豆皮（三錢）　引陳海蟄（五錢）　五帖</p>
<p>嗆咳稍減，經阻臍下脹悶，脈澀右弦細，舌心空，寒熱交作，究屬損怯之症。</p>
<p>生首烏（一錢五分）　青蒿梗（一錢五分）　紫苑（二錢五分）　生牡蠣（四錢）　雲母石（三錢）　地骨皮（三錢）　白石英（三錢）　川貝（一錢五分）　冬蟲夏草（一錢五分）　光杏仁（三錢）　廣橘紅（一錢）　四帖</p>
<p>嗆咳未除，音出猶嘶，脈數左弦，惡寒潮熱，子後汗出則退，苔黃，尤宜防損。</p>
<p>紫苑（一錢五分）　秦艽（一錢五分）　白前（一錢五分）　金沸花（三錢，包）　廣橘紅（一錢）　川貝（二錢）　光杏仁（三錢）　石決明（六錢，生杵）　杜馬兜鈴（一錢）　青蒿（一錢五分）　炒穀芽（四錢）　引鮮枇杷葉（三片）　四帖</p>
<p>心惕較差，六脈澀細，氣滯脘悶，腰胯脹，苔滑白，頭暈而疼，仍遵前法加減為妥。</p>
<p>丹參（三錢）　焙天麻（八分）　佩蘭（三錢）　沉香（五分）　抱木茯神（四錢）　遠志肉（八分）　制香附（三錢）　炒穀芽（四錢）　西琥珀（八分）　炒車前（三錢）　豨薟草（三錢）　四帖</p>
<p>足跗猶浮，脈沉弦左細，苔白口渴，蟲氣作痛，大便仍滑，宜安胃利中。</p>
<p>川楝子（一錢五分）　大腹絨（三錢）　炒穀芽（四錢）　生益智（一錢五分，去殼）　延胡（二錢）　椒目（五分）　扁豆衣（三錢）　省頭草（三錢）　烏梅（一個）　炒車前（三錢）　炒米仁（四錢）　四帖</p>
<p>瀉痢未除，胃氣已振，脈細右弦，每大便，肛墜作痛，舌紅較和，仍遵前法加減為妥。</p>
<p>白頭翁（二錢）　淡芩（一錢五分，酒炒）　川石斛（三錢）　新會皮（一錢五分）　人中黃（八分）　生白芍（一錢五分）　赤苓（三錢）　通草（一錢五分）　銀花（三錢）　炒決明（三錢，即青葙子）　省頭草（三錢）　三帖</p>
<p>心惕如懸，脈虛數，經停腰腹痛，法宜養胃柔肝。</p>
<p>北沙參（三錢）　廣藿梗（一錢五分）　炒棗仁（三錢）　炒白芍（一錢五分）　杜仲（三錢）　穀芽（四錢）　茯神（四錢）　綠萼梅（一錢五分）　釵斛（三錢）　桑寄生（三錢）　川斷（三錢）　三帖</p>
<p>風濕內並，脈滯寸口浮大，苔微黃，腹痛脘悶，頭疼暈眩，癸水適至，宜疏利為穩，恐變痙病。</p>
<p>川芎（一錢）　六一散（四錢，包）　藿香（三錢）　延胡（一錢五分）　蘇梗（一錢五分）　山查（四錢）　厚朴（一錢五分）　益母草（一錢五分）　荊芥（一錢五分）　白芷（一錢）　佩蘭葉（三錢）</p>
<p>嘔惡腹痛悉差，潮熱汗微，脈弦經阻嘈雜，仍照前法加減為穩。</p>
<p>川連（七分，吳萸五分拌炒）　炒棗仁（三錢）　穭豆皮（三錢）　地骨皮（三錢）　丹參（三錢）　炒白芍（一錢五分）　茯神（四錢）　綠萼梅（一錢五分）　仙半夏（一錢五分）　生牡蠣（四錢）　炒穀芽（四錢）　三帖</p>
<p>寒熱間日而作，已發三期，脈弦苔白，頭疼咳逆，胃鈍胸悶，藉清脾飲加減截之。</p>
<p>炒青皮（八分）　仙半夏（一錢五分）　桔梗（一錢五分）　橘紅（一錢）　厚朴（一錢）　炒淡芩（一錢五分）　川芎（一錢五分）　象貝（三錢）　酒炒柴胡（一錢五分）　草果（八分）　炒知母（一錢五分）　二帖</p>
<p>經停兩月，脈沉澀，咳血氣促，脘中空悶，此屬倒經，宜清降為主。</p>
<p>蘇子（一錢五分，杵）　光杏仁（三錢）　桑葉（三錢）　紫苑（二錢）　川貝（二錢）　白薇（一錢五分）　梔子（三錢）　炒知母（一錢五分）　側柏炭（三錢）　降香（五分）　丹皮（一錢五分）　引鮮荷葉（一角）　二帖</p>
<p>心惕夜寐不安，脈細澀，中脘脹悶，腹痛已緩，癸水趲遲，五心煩熱，宜養胃清熱，佐以寧神。</p>
<p>川石斛（三錢）　棗仁（三錢）　藿梗（三錢）　炒青皮（八分）　茯神（四錢）　夜交藤（三錢）　新會皮（一錢五分）　綠萼梅（一錢五分）　地肌皮（三錢）　炒穀芽（四錢）　蔻殼（一錢五分）　四帖</p>
<p>腹滿氣滯，脈弦右澀，癸水不調，宜順氣利中。</p>
<p>烏藥（二錢）　炒青皮（七分）　當歸（一錢五分）　制香附（一錢五分）　生牡蠣（四錢）　沉香曲（一錢五分）　川芎（七分）　玫瑰花（五朵）　厚朴（一錢）　雞內金（三錢）　菴䕡子（三錢）</p>
<p>血虛氣滯，腹痛便艱，脈弦細而澀，經水有數月不至，周身脈絡板掣，宜活任脈為妥。</p>
<p>淡蓯蓉（一錢五分）　當歸（一錢五分）　烏藥（一錢五分）　生牡蠣（四錢）　杜仲（三錢）　炒白芍（一錢五分）　廣鬱金（三錢）　佛手花（八分）　木蝴蝶（五分）　川楝子（三錢）　橘紅（一錢五分）　三帖</p>
<p>癸澀面帶黃色，脈虛腹痛，便血脈絡抽掣，宜柔肝熄風。</p>
<p>桑寄生（三錢）　當歸（一錢五分）　炒棗仁（三錢）　炒川柏（一錢）　炒阿膠（一錢五分）　炒白芍（一錢五分）　茯神（四錢）　炒米仁（四錢）　穭豆皮（二錢）　地榆炭（三錢）　新會皮（一錢）　引瓦松（一支）　四帖</p>
<p>腰疼帶下如注，脈虛癸水趲遲，宜補血澀下為主。</p>
<p>歸身（一錢五分）　川斷（三錢）　生牡蠣（四錢）　覆盆子（三錢）　清炙耆（一錢）　懷山藥（四錢）　炒白芍（一錢五分）　芡實（三錢）　杜仲（三錢）　化龍骨（三錢）　新會皮（一錢五分）　五帖</p>
<p>瘰癧已潰，脈弦左數，舌心空，倏熱乍寒，經閉，症屬重極，逍遙散加減治之。</p>
<p>酒炒柴胡（七分）　白芍（一錢五分）　香附（一錢五分）　生地（三錢）　當歸（一錢五分）　茯神（四錢）　川貝（二錢）　綠萼梅（一錢五分）　丹參（三錢）　生牡蠣（四錢）　昆布（一錢）　三帖</p>
<p>癸不及期，腹痛有瘕，脈弦細，帶下督背掣，宜勝金丹加減。</p>
<p>生地（四錢）　炒白芍（一錢五分）　川楝子（三錢）　香附（一錢五分）　當歸（一錢五分）　杜仲（三錢）　延胡（一錢五分）　綠萼梅（一錢五分）　丹皮（二錢）　茺蔚子（三錢）　生牡蠣（四錢）</p>
<p>先腹痛而後經至，氣滯為多，脈澀右沉弦，頭暈腰痠，姑活血理氣調經。</p>
<p>當歸（二錢）　香附（三錢）　延胡（三錢）　烏藥（二錢）　川芎（一錢）　丹參（三錢）　生牡蠣（四錢）　佩蘭葉（一錢五分）　杜仲（三錢）　茺蔚子（三錢）　雞血藤（三錢）　七帖</p>
<p>嗆咳不減，音出不揚，脈數左弦，寒熱猶來，仍遵前法加減為妥。</p>
<p>元參（三錢）　青蒿（一錢五分）　冬桑葉（三錢）　紫苑（一錢五分）　川貝（一錢五分）　地骨皮（三錢）　石決明（六錢生杵）　杜馬兜鈴（一錢）　廣橘紅（一錢）　光杏仁（三錢）　胖大海（三錢）　引鮮花枇杷葉（三片去毛）　四帖</p>
<p>咳血較瘥，肺氣不降，脈右澀數，左弦細，苔滑，臟腹痛，便清，離絡之血未淨，宜降氣化痰利便，防劇。</p>
<p>蘇子（二錢杵）　淮牛膝炭（三錢）　紫苑（一錢五分）　澤蘭（一錢五分）　川貝（一錢五分）　製半夏（二錢）　橘絡（一錢五分）　丹皮（一錢五分）　白薇（三錢）　小蘇草（三錢）　光杏仁（三錢）　三帖</p>
<p>濕邪上受，始犯喉痹，脈弦數，苔灰膩，便閉外寒內熱，痰黏，非輕藐之症。</p>
<p>瓜蔞子（三錢）　光杏仁（三錢）　象貝（三錢）　元明粉（一錢五分）　廣橘紅（一錢）　廣鬱金（三錢生打）　枳殼（一錢五分）　薄荷（七分）　人中黃（八分）　炒梔子（三錢）　生萊菔子（三錢）　引鮮竹肉（一丸）　二帖</p>
<p>風濕外乘，頭脹而痛，惡寒發熱，脈寸浮滑，咳逆，姑宜開達以輕解。</p>
<p>桔梗（一錢五分）　荊芥穗（一錢五分）　象貝（三錢）　枳殼（一錢五分）　蟬衣（一錢）　橘紅（一錢）　廣鬱金（三錢生打）　連翹（三錢）　淡豉（二錢）　前胡（一錢五分）　桑葉（三錢）　二帖</p>
<p>風熱侵竅，兩耳失聰，左脈細，右弦滑，嗆咳苔白，宜清少陽為主。</p>
<p>冬桑葉（三錢）　石菖蒲（七分）　苦丁茶（一錢五分）　香附（一錢五分）　甘菊（二錢）　炒遠志肉（八分）　白薇（三錢）　廣橘紅（一錢）　夏枯草（一錢五分）　焦山梔（三錢）　石決明（六錢，生打）　蔓荊子（三錢）</p>
<p>閨女腹痛，便滑脈弦，癸水不調，頭疼，宜和中調經。</p>
<p>川芎（一錢五分）　神麯（四錢）　山查（四錢）　廣木香（七分）　香附（三錢）　白芷（八分）　赤苓（四錢）　佩蘭葉（三錢）　蒼朮（二錢五分）　厚朴（一錢五分）　丹參（三錢）　四帖</p>
<p>閨女痛經中滿，脈細澀苔白，頭疼，宜活血疏風。</p>
<p>丹參（三錢）　山查（四錢）　明天麻（八分）　藿香（三錢）　厚朴（一錢五分）　延胡（二錢）　白芷（一錢）　佛手花（八分）　川芎（一錢五分）　青木香（五分）　枳殼（一錢五分）　三帖</p>
<p>小兒咳逆發熱，關紋青，此由燥風外乘，防變驚風。</p>
<p>冬桑葉（三錢）　薄荷（七分）　前胡（一錢五分）　天竺黃（一錢五分）　甘菊（二錢）　連翹（二錢）　炒姜蠶（一錢五分）　廣橘紅（八分）　桂枝（一錢）　象貝（三錢）　光杏仁（三錢）　引鮮竹肉（一丸）　二帖</p>
<p>產後載余，衝任內損，腹痛有瘕，脈弦細，大便忽瀉，形肉日削，非輕藐之症。</p>
<p>川楝子（一錢五分）　炒五靈脂（三錢）　穀芽（四錢，白檀香末四分拌炒）　延胡（二錢）　佩蘭（三錢）　甘松（四分）　廣鬱金（三錢，生打）　香附（三錢）　丹皮（三錢）　木蝴蝶（四分）　玫瑰花（五朵）　四帖</p>
<p>濕熱阻於肺衛，脈滯細苔黃，咳逆跗酸，小溲乍赤，姑宜清肺利濕。</p>
<p>桔梗（一錢五分）　金沸花（三錢，包）　生米仁（四錢）　東瓜子（三錢）　赤苓（四錢）　滑石（四錢）　炒枳殼（一錢五分）　廣橘紅（一錢）　光杏仁（三錢）　象貝（三錢）　白前（一錢五分）　三帖</p>
<p>癸水不調，脈虛手足酸楚，步履不耐，宜四物湯主治。</p>
<p>生地（三錢）　絲瓜皮（三錢）　獨活（一錢五分）　茺蔚子（三錢）　當歸（一錢五分）　炒白芍（一錢五分）　豨薟草（三錢）　桑寄生（三錢）　川芎（七分）　杜仲（三錢）　香附（一錢五分）　四帖</p>
<p>心惕如懸，脈澀脘悶，癸來腰腹聊痛，苔厚膩，倏寒汗徹，防遂厥。</p>
<p>琥珀（八分）　生牡蠣（四錢）　茺蔚子（三錢）　鉤鉤（三錢）　丹參（三錢）　龍齒（一錢五分）　茯神（四錢）　佛手花（八分）　遠志肉（八分）　杜仲（三錢）　延胡（一錢五分）　燈心（一丸）　三帖</p>
<p>閨女經閉，腰痛脈弦細，氣滯中痞，宜活血調經為主。</p>
<p>當歸（一錢五分）　香附（三錢）　澤蘭（一錢五分）　延胡（三錢）　炒白芍（一錢五分）　丹參（三錢）　山查（三錢）　玫瑰花（五朵）　川芎（一錢）　炒青皮（八分）　烏藥（二錢）　三帖</p>
<p>閨女暈眩心涎，脈澀寸口大，每經來腹中脹悶而痛，宜安胃熄風為主。</p>
<p>仙半夏（一錢五分）　枳殼（一錢五分）　明天麻（八分）　沉香曲（一錢五分）　陳皮（一錢）　廣藿香（二錢）　生牡蠣（四錢）　炒穀芽（四錢）　釵斛（三錢）　省頭草（三錢）　香附（一錢五分）　三帖</p>
<p>癸水腹痛肢酸，按脈兩手皆澀，此氣阻經隧，當養血理氣為主。</p>
<p>當歸（二錢，小茴五分拌炒）　杜仲（三錢）　西琥珀（八分）　延胡（一錢五分）　炒白芍（一錢五分）　丹皮（三錢）　雞血藤（三錢）　茯神（四錢）　佩蘭（一錢五分）　綠萼梅（一錢五分）　三帖</p>
<p>癸澀遲滯而痛，脈弦右澀，帶下如注，宜養血平肝調經。</p>
<p>當歸（二錢）　杜仲（三錢）　生牡蠣（四錢）　雞血藤（三錢）　炒白芍（一錢五分）　香附（三錢）　遠志肉（八分）　綠萼梅（一錢五分）　川芎（七分）　丹參（三錢）　茺蔚子（三錢，炒）</p>
<p>經阻腹痛，脈弦細，倏寒忽熱，腹中有瘕，宜加減逍遙散治之。</p>
<p>酒炒柴胡（八分）　香附（一錢五分）　佩蘭（一錢五分）　川楝子（三錢）　當歸（二錢）　炒白芍（一錢五分）　茯苓（四錢）　延胡（一錢五分）　丹皮（一錢五分）　炒青皮（七分）　綠萼梅（一錢五分）　三帖</p>
<p>衝任內隙，脈細微，腰腹痛，帶下心惕，癸澀遲滯，氣滯中滿，治在奇經。</p>
<p>當歸（二錢，小茴五分拌炒）　生牡蠣（四錢）　覆盆子（三錢）　杜仲（三錢）　烏藥（二錢）　紫石英（三錢）　炒棗仁（三錢）　川斷（三錢）　化龍骨（三錢）　炒白芍（一錢五分）　綠萼梅（一錢五分）　五帖</p>
<p>陰傷液耗成消，脈細數，舌紅根薄白，渴飲善飢，溺多形肉日削，系屬大症，宜存陰增液為主。</p>
<p>生地（八錢）　炒知母（一錢五分）　瓜蔞根（三錢）　生白芍（一錢五分）　麥冬（四錢，去心）　陳萸肉（一錢五分）　麻子仁（三錢）　芡實（三錢）　丹皮（三錢）　川石斛（三錢）　元參（三錢）　懷山藥（三錢）　五帖</p>
<p>經停數月，脈弦數，嗆咳氣促，已曾失血，腰腹痛，宜防損怯之慮。</p>
<p>北沙參（三錢）　炒知母（一錢五分）　焦梔（三錢）　紫苑（一錢五分）　光杏仁（三錢）　生牡蠣（四錢）　白前（一錢五分）　天冬（三錢）　桑葉（三錢）　川貝（一錢五分）　馬兜鈴（一錢）　引鮮枇杷葉（五片，去毛）　三帖</p>
<p>病延日久，脈小數形怯，嗆咳氣衝，腹中有瘕，癸澀不調，宜防損怯之慮。</p>
<p>紫苑（二錢）　炒白芍（一錢五分）　生地炭（四錢）　北沙參（三錢）　生牡蠣（四錢）　川貝（二錢）　白石英（三錢）　穀芽（四錢）　甜杏仁（三錢）　橘紅（一錢）　杜仲（三錢）　四帖</p>
<p>久咳經閉，脈弦細，腹痛脘悶，症屬重極，宜清肺胃利中。</p>
<p>南沙參（三錢）　紫苑（一錢五分）　廣藿香（二錢）　白石英（三錢）　生牡蠣（四錢）　川貝（一錢五分）　橘紅（一錢）　綠萼梅（一錢五分）　炒白芍（一錢五分）　光杏仁（三錢）　炒穀芽（四錢）　三帖</p>
<p>久嗽苔黃少液，脈小數，背掣癸澀，宜防損怯之慮。</p>
<p>南沙參（三錢）　絲瓜絡（三錢）　桑葉（三錢）　白石英（三錢）　麥冬（三錢）　川貝（一錢五分）　丹皮（二錢）　光杏仁（三錢）　釵斛（三錢）　穀芽（四錢）　紫苑（一錢五分）　三帖</p>
<p>咳嘔較減，癸來澀少，脈虛脘悶形怯，究屬重極之症，仍遵前法加減為妥。</p>
<p>仙半夏（一錢五分）　茺蔚子（三錢）　橘紅（一錢，鹽水炒）　白前（一錢五分）　川貝（二錢）　丹參（三錢）　白石英（四錢）　款冬花（三錢）　紫苑（三錢）　甜杏仁（三錢）　綠萼梅（一錢五分）　引鮮枇杷葉（三片，去毛）　五帖</p>
<p>氣逆稍緩，浮腫不減，脈澀經閉，究屬棘手重症，仍照前法加減，候正。</p>
<p>金沸花（三錢，包）　葶藶子（三錢）　通草（一錢五分）　商陸（一錢五分）　厚朴（一錢五分）　赤苓（四錢）　茯苓皮（四錢）　橘紅（一錢）　桑皮（三錢）　冬瓜子（三錢）　光杏仁（三錢）　三帖</p>
<p>暈眩肢酸，脈弦滑，經停數月，嗆嗽氣促，睡中汗徹，宜清肺斂液為主。</p>
<p>北沙參（三錢）　炒棗仁（三錢）　紫苑（一錢五分）　桑葉（三錢）　茯神（四錢）　炒白芍（一錢五分）　川貝（二錢）　杜仲（三錢）　穭豆皮（一錢五分）　生牡蠣（四錢）　甜杏仁（三錢）　四帖</p>
<p>帶下腰疼，脈澀氣口滑，潮熱氣衝嗆咳，癸澀，少寐，宜清肺凝神為主。</p>
<p>紫苑（一錢五分）　青蒿梗（一錢五分）　夜交藤（三錢）　金沸花（三錢，包）　茯神（四錢）　丹皮（一錢五分）　丹參（三錢）　川斷（三錢）　川貝（二錢）　秦艽（一錢五分）　白石英（四錢）　三帖</p>
<p>衝任內隙，脈細微，帶下腰痛，心惕嗆咳，癸澀遲滯，宜六味地黃丸法加減治之。</p>
<p>生地（四錢）　懷山藥（三錢）　紫苑（一錢五分）　桑葉（三錢）　陳萸肉（一錢五分）　茯苓（四錢）　川貝（一錢五分）　茶菊（一錢五分）　杜仲（三錢）　生牡蠣（四錢）　甜杏仁（三錢）　鮮枇杷葉（三片，去毛）　五帖</p>
<p>諸邪悉瘥，胃氣稍振，宜養血理氣調經。</p>
<p>當歸（二錢）　香附（三錢）　生牡蠣（四錢）　烏藥（二錢）　炒白芍（一錢五分）　丹參（三錢）　茯神（四錢）　省頭草（一錢五分）　川芎（七分）　炒茺蔚子（三錢）　炒穀芽（四錢）　四帖</p>
<p>營虛胃痛，脈虛肢稍冷，癸水不調，宜當歸桂枝湯加減。</p>
<p>當歸（三錢，小茴五分拌炒）　生壯蠣（四錢）　川楝子（三錢）　烏藥（二錢）　桂枝（五分）　茯苓（四錢）　草蔻（一錢）　玫瑰花（五朵）　炙甘草（五分）　延胡（二錢）　省頭草（三錢）　三帖</p>
<p>暑風夾濕，寒熱交作，汗徹不出，脈浮弦咳逆，腰疼肢酸，法當和解，防變痙病。</p>
<p>香茹（一錢五分）　淡豆豉（三錢）　前胡（一錢五分）　青蒿（一錢五分）　光杏仁（三錢）　枳殼（一錢五分）　防己（一錢五分）　滑石（四錢）　桔梗（一錢五分）　白芷（八分）　廣橘紅（一錢）　引絲瓜藤（壹把）　二帖</p>
<p>癸來腹痛聯腰，脈弦虛體氣滯，宜活血疏肝為主。</p>
<p>當歸（三錢、小茴五分拌炒）　烏藥（二錢）　川楝子（三錢）　炒五靈脂（三錢）　川芎（一錢）　香附（三錢）　延胡（三錢）　玫瑰花（五朵）　杜仲（三錢）　炒青皮（八分）　佩蘭葉（一錢五分）</p>
<p>肝逆犯胃，嘔酸作吐，乘脾作瀉，脈兩關皆弦，苔白根微黃，臍下滯痛，宜治厥陰陽明。</p>
<p>乾薑（二分）　川楝子（三錢）　厚朴（一錢）　川連（七分，吳萸五分拌炒）　穀芽（四錢，白檀末四分拌炒）　延胡（三錢）　茯苓（四錢）　玫瑰花（五朵）　仙半夏（二錢）　紅豆蔻（一錢）　蝟皮（一錢）　三帖</p>
<p>咳嗽未除，氣衝脘悶，脈虛數，癸來澀少，宜潤肺止嗽化痰。</p>
<p>生肉竹（三錢）　粉丹皮（二錢）　香附（一錢五分）　釵斛（三錢）　川貝（一錢五分）　白石英（三錢）　丹參（三錢）　天冬（三錢）　甜杏仁（三錢）　橘紅（一錢）　紫苑（二錢）　五帖</p>
<p>嗆咳較減，胃納已振，癸水不調，仍照前法加減為要。</p>
<p>北沙參（三錢）　秦艽（一錢五分）　甜杏仁（三錢）　白前（一錢五分）　川貝（二錢）　橘紅（一錢）　白石英（三錢）　款冬花（三錢）　紫苑（一錢五分）　丹皮（二錢）　川斷（三錢）　四帖</p>
<p>久嗽不已，喉有血腥，脈小數潮熱，癸水不調，宜防損怯之慮。</p>
<p>北沙參（三錢）　秦艽（一錢五分）　金沸花（三錢，包）　桑葉（三錢）　川貝（二錢）　橘紅（一錢）　白石英（三錢）　光杏仁（三錢）　紫苑（一錢五分）　丹皮（一錢五分）　穀芽（四錢）</p>
<p>濕熱不退，苔滑嗆咳，神倦脈濡，肢酸溺赤胃鈍，宜清氣利濕化痰。</p>
<p>桔梗（一錢五分）　大豆卷（三錢）　綿茵陳（三錢）　杜赤小豆（三錢）　赤苓（四錢）　橘紅（一錢）　連翹（一錢五分）　白蔻仁（八分，沖）　苦杏仁（三錢，去皮）　仙半夏（一錢五分）　象貝（三錢）　二帖</p>
<p>肝逆稍平，脈來細澀，足跗猶酸，宜養血調經為妥。</p>
<p>當歸（二錢，小茴七分拌炒）　烏鰂骨（三錢）　生牡蠣（四錢）　烏藥（二錢五分）　炒白芍（一錢五分）　香附（三錢）　茯神（四錢）　玫瑰花（五朵）　杜仲（三錢）　炒茺蔚子（三錢）　炒狗脊（三錢）</p>
<p>頭暈心悸，脈虛右弦，此肝風犯胃，癸水不調，姑宜安胃熄風，佐理氣調經。</p>
<p>仙半夏（一錢五分）　桑寄生（三錢）　雞血藤（三錢）　明天麻（八分）　新會皮（一錢五分）　巨勝子（三錢）　香附（一錢五分）　綠萼梅（一錢五分）　釵斛（三錢）　生牡蠣（四錢）　炒白芍（一錢五分）</p>
<p>血虛生風，脈虛癸澀，身發腫塊瘙癢，宜四物湯加減。</p>
<p>生地（三錢）　明天麻（八分）　獨活（一錢五分）　桑寄生（三錢）　當歸（一錢五分）　丹皮（一錢五分）　防己（一錢五分）　紅花（五分）　川芎（一錢）　豨薟草（三錢）　生米仁（四錢）　鮮桑梗（一尺）　三帖</p>
<p>癸水不調，頭疼帶下，腰腹痠痛，舌尖紅，宜勝金丹加減。</p>
<p>生地（四錢）　丹皮（一錢五分）　生牡蠣（四錢）　明天麻（八分）　當歸（一錢五分）　香附（三錢）　遠志肉（八分）　杜仲（三錢）　川芎（一錢）　炒茺蔚子（三錢）　釵斛（三錢）　三帖</p>
<p>咳嗽多痰，脈弦數，潮熱胸次痛，癸水適至，宜清肺利絡化痰。</p>
<p>金沸花（三錢，包）　紫苑（一錢五分）　青蒿梗（一錢五分）　廣鬱金（三錢，原打）　絲瓜絡（三錢）　丹參（三錢）　炒知母（一錢五分）　川貝（一錢五分）　光杏仁（三錢）　白前（一錢五分）　橘紅（一錢五分）　橘絡（一錢）　三帖</p>
<p>身熱較緩，苔色未清，嗆咳右脅痛，宜清肺利絡化痰。</p>
<p>桑寄生（三錢）　天花粉（三錢）　橘絡（一錢五分）　金沸花（三錢，包）　絲瓜絡（三錢）　枳殼（一錢五分）　廣鬱金（三錢）　炒麥芽（三錢）　光杏仁（三錢）　象貝（三錢）　前胡（一錢五分）　引鮮竹葉（三十片）　二帖</p>
<p>咳嗽未除，脈虛細右弦，腰疼肌體麻木，心惕，癸水月餘不至，宜六味地黃丸加減治之。</p>
<p>生地炭（三錢）　懷山藥（四錢）　紫苑（一錢五分）　川斷（三錢）　陳萸肉（一錢五分）　茯神（四錢）　新會皮（一錢五分）　甜杏仁（三錢）　杜仲（三錢）　北沙參（三錢）　仙半夏（一錢五分）</p>
<p>嗆咳音嘶，脈虛數便瀉，形怯經閉，究非輕藐之症，宜清氣和中，候正。</p>
<p>訶子肉（三錢，杵）　新會皮（一錢五分）　桔梗（一錢）　桑皮（三錢）　茯苓（四錢）　生米仁（四錢）　扁豆殼（三錢）　木蝴蝶（五分）　炒阿膠（一錢五分）　川貝（二錢不杵）　穀芽（四錢）　引鮮枇杷葉（三片，去毛）　四帖</p>
<p>疾瘧久累，脈弦數，嗆咳癸來澀少，苔微黃盜汗，宜扶羸湯，加減治之。</p>
<p>秦艽（一錢五分）　紫苑（一錢五分）　草果（一錢）　桑葉（三錢）　炙鱉甲（四錢）　川貝（一錢五分）　橘紅（一錢）　炒穀芽（四錢）　青蒿梗（二錢）　仙半夏（一錢五分）　炒知母（一錢）　三帖</p>
<p>胃納稍振，嗆咳便瀉不已，脈弦細，苔滑經閉，究屬重險之症。</p>
<p>北沙參（三錢）　新會皮（一錢五分）　訶子肉（三錢杵）　西米殼（一錢五分）　茯苓（四錢）　懷山藥（四錢）　原粒砂仁（七分）　款冬花（三錢）　炒居術（一錢）　川貝（二錢）　桔梗（一錢）　三帖</p>
<p>腹痛較緩，脈弦細，經閉嗆咳，宜防損怯之慮。</p>
<p>川楝子（三錢）　生牡蠣（四錢）　省頭草（三錢）　穀芽（四錢，白檀香四分拌炒）　延胡（二錢）　川貝（一錢五分）　枳殼（一錢五分）　玫瑰花（五朵）　炒青皮（七分）　炒白芍（一錢五分）　木蝴蝶（五分）　四帖</p>
<p>上咳嗽，下便瀉，癸水不調，脈弦細，最重之症。</p>
<p>北沙參（三錢）　石蓮子（三錢）　桑皮（三錢）　訶子肉（三錢）　茯苓（四錢）　懷藥（四錢）　炒米仁（四錢）　玫瑰花（五朵）　新會皮（一錢五分）　扁豆殼（三錢）　砂殼（一錢五分）</p>
<p>頭疼咳逆，右脈浮滑，心涎脘悶，苔黃厚，頰車緊，經停月餘，手足麻木，寒熱不清，宜清肺疏風。</p>
<p>桔梗（一錢五分）　前胡（一錢五分）　鉤鉤（三錢）　梔子（二錢）　薄荷（一錢）　象貝（三錢）　防風（一錢五分）　荊芥（一錢五分）　橘紅（一錢）　桑葉（三錢）　神麯（四錢）　鮮竹肉（一丸）　二帖</p>
<p>癸水先後不一，脈沉澀，腹滿氣衝嗆咳，宜清肺降氣和中。</p>
<p>紫苑（二錢）　金沸花（三錢，包）　川芎（七分）　桑葉（三錢）　生牡蠣（四錢）　白石英（三錢）　當歸（一錢五分）　川貝（一錢五分）　甜杏仁（三錢）　香附（三錢）　炒白芍（一錢五分）　四帖</p>
<p>清氣和絡，胸脅刺痛已減，脈寸弦滑，舌厚胃餒嗆咳，仍遵前法。</p>
<p>紫苑（一錢五分）　川石斛（三錢）　生香附（一錢五分）　石決明（六錢）　橘絡（一錢五分）　廣鬱金（三錢，原打）　丹皮（三錢）　綠萼梅（一錢五分）　丹參（三錢）　炒穀芽（四錢）　白前（一錢五分）　炒枳殼（一錢五分）　四帖</p>
<p>暑風夾濕，微熱畏風，脈虛手尖冷，汗出不休，咳逆舌厚嫩黃，姑宜瓜蔞桂枝湯加減治之。</p>
<p>瓜蔞根（三錢）　防風（一錢五分）　茯苓（四錢）　桔梗（一錢五分）　桂枝（五分）　光杏仁（三錢）　枳殼（一錢五分）　白蔻仁（八分，沖）　六一散（三錢，荷葉包）　淡竹葉（一錢五分）　通草（一錢五分）</p>
<p>濕熱未化，汗徹熱清，苔尚黃燥，脘腹疼，導滯再進，尚防變幻。</p>
<p>瓜蔞皮（四錢）　廣鬱金（二錢）　冬瓜子（三錢）　焦穀芽（三錢）　光杏仁（三錢）　大腹絨（一錢五分）　絲通草（一錢五分）　省頭草（一錢五分）　花粉（一錢五分）　神麯（三錢）　三帖</p>
<p>苔白厚，脈兩手浮弦，寒熱間日而作，邪在少陽，頭脹而痛，咳逆胸悶，姑宜和解為主。</p>
<p>柴胡（一錢，酒炒）　桔梗（一錢五分）　前胡（一錢五分）　山查（四錢）　淡芩（一錢五分酒炒）　炙甘草（五分）　甘菊（三錢）　橘紅（一錢）　仙半夏（一錢五分）　川芎（一錢五分）　象貝（三錢）　二帖</p>
<p>咳動肺，脈弦細，胸脅刺痛，苔色微黃，尤防血溢。</p>
<p>紫苑（一錢五分）　川貝（二錢）　左金丸（八分）　炒穀芽（四錢）　橘紅（一錢五分）　廣鬱金（三錢）　絲瓜絡（三錢）　丹皮（二錢）　丹參（三錢）　光杏仁（三錢）　炒梔子（三錢）　香附（一錢五分）　四帖</p>
<p>咳嗽不已，舌紅口乾渴飲，脈左細右微，動溺猶多，大便始結繼溏，濕熱尚存，陰液耗，仍遵前法，加減再進。</p>
<p>生地（四錢）　粉丹皮（三錢）　五味子（十粒）　女貞子（三錢）　炒川連（五分）　麥冬（三錢，去心）　懷山藥（三錢）　知母（一錢半，鹽水炒）　元參（三錢）　淮牛膝（二錢）　桑螵蛸（二錢）　七帖</p>
<p>心惕已減，脈細澀，癸不及期，苔微白，仍照前法加減為妥。</p>
<p>琥珀（八分）　香附（三錢）　炒穀芽（四錢）　當歸（一錢五分）　丹參（三錢）　茯神（四錢，硃砂拌）　遠志肉（八分炒）　川芎（七分）　茺蔚子（三錢）　棗仁（三錢）　省頭草（一錢五分）　綠萼梅（一錢五分）　四帖</p>
<p>腰痠帶下，脈虛細，苔白便滑，癸水不調，宜青娥丸法加減治之。</p>
<p>炒破故紙（一錢五分）　芡實（三錢）　石蓮子（三錢）　鹿角霜（一錢五分）　杜仲（三錢）　茯神（四錢）　廣木香（八分）　綠萼梅（一錢五分）　化龍骨（三錢）　丹參（三錢）　新會皮（一錢五分）　三帖</p>
<p>頭痛較瘥，脘中稍和，腹痛心惕，脈虛癸水不調，宜補心和中。</p>
<p>丹參（三錢）　生牡蠣（四錢）　豨薟草（三錢）　廣木香（五分）　茯神（四錢）　厚朴（一錢）　枳殼（一錢五分）　玫瑰花（五朵）　炒棗仁（三錢）　龍齒（一錢五分）　佩蘭葉（三錢）　三帖</p>
<p>內傷夾外感，脈滯寸口短，頭痛心涎脘悶，癸水不調，宜治標為先。</p>
<p>香附（一錢五分）　枳殼（一錢五分）　川芎（一錢）　沉香曲（一錢五分）　蘇梗（一錢五分）　廣鬱金（三錢）　山楂（三錢）　佛手花（八分）　左金丸（八分）　豨薟草（三錢）　炒青皮（七分）</p>
<p>內傷夾外感，頭疼較瘥，食入脘中不和，腰跗酸，癸水不調，宜和中疏風。</p>
<p>香附（一錢五分）　川芎（一錢）　豨薟草（三錢）　厚朴（一錢）　白芷（一錢）　炒枳殼（一錢五分）　廣鬱金（三錢）　雞內金（三錢）　炒青皮（八分）　沉香曲（一錢五分）　佛手花（八分）　三帖</p>
<p>癸水趲遲，氣衝脘悶欲嘔，脈沉澀，苔白如粉，宜順氣和中。</p>
<p>烏藥（一錢五分）　仙半夏（一錢五分）　廣藿香（一錢五分）　桑寄生（三錢）　陽春砂（七分）　蘇梗（二錢）　炒穀芽（四錢）　佛手花（八分）　生牡蠣（四錢）　綠萼梅（一錢五分）　香附（一錢五分）　三帖</p>
<p>咳逆痰壅，寸脈滑數，癸水適至不多，苔根厚，宜清熱消痰。</p>
<p>桔梗（一錢五分）　枳殼（一錢五分）　橘紅（一錢）　山查（三錢）　天竺黃（三錢）　生萊菔子（二錢，杵）　連翹（三錢）　薄荷（七分）　前胡（一錢五分）　象貝（三錢）　光杏仁（三錢）</p>
<p>前藥己效，脘中脹悶已減，左脈弦，癸不及期，仍照前法加減為妥。</p>
<p>雞內金（一錢五分）　歸身（一錢五分）　茺蔚子（三錢）　炒白芍（一錢五分）　沉香（五分沖）　香附（二錢）　白石英（三錢）　雞血藤（三錢）　生牡蠣（四錢）　丹參（三錢）　烏藥（一錢五分）</p>
<p>肝逆乘中，當脘脹悶，脈弦氣逆，癸不及期，宜防腫脹。</p>
<p>雞內金（三錢）　香附（二錢）　延胡（一錢五分）　炒茺蔚子（三錢）　沉香（五分沖）　丹參（三錢）　紫石英（三錢）　綠萼梅（一錢五分）　生牡蠣（四錢）　川楝子（三錢）　炒青皮（八分）</p>
<p>血後心惕，苔白而干，脈滑數，經停三月，脘悶，宜養胃和中。</p>
<p>北沙參（三錢）　穀芽（四錢）　石決明（六錢）　穭豆皮（二錢）　棗仁（三錢）　麥冬（三錢，去心）　炒遠志肉（八分）　梔子（二錢）　釵斛（三錢）　桑寄生（三錢）　新會皮（一錢五分）　三帖</p>
<p>經停吐血，脈數右寸特大，苔微黃，心惕脘悶，宜降氣涼血為治。</p>
<p>鮮生地（四錢）　降香（七分）　穀芽（四錢）　龍齒（一錢五分）　茯神（四錢）　梔子（二錢）　枳殼（一錢五分）　穭豆皮（一錢五分）　炒遠志肉（八分）　炒棗仁（三錢）　生牡蠣（四錢）　三帖</p>
<p>癸水澀少不調，脈虛細帶下，便瀉不已，中痞氣滯，宜和中止瀉為主。</p>
<p>烏鰂骨（三錢）　赤石脂（三錢，包）　芡實（三錢）　化龍骨（三錢）　原粒砂仁（一錢）　懷山藥（四錢）　川斷（三錢）　粟殼（一錢五分）　丹參（三錢）　杜仲（三錢）　香附（二錢）　綠萼梅（一錢五分）　四帖</p>
<p>癸澀遲滯，脈澀腰疼，帶下便瀉中痞，宜理氣和中。</p>
<p>烏藥（二錢）　石蓮子（三錢）　原粒砂仁（一錢）　覆盆子（三錢）　茯苓（四錢）　懷山藥（四錢）　丹參（三錢）　佩蘭葉（一錢五分）　杜仲（三錢）　芡實（三錢）　化龍骨（三錢）　四帖</p>
<p>便瀉腹痛悉減，脈沉澀，癸澀帶下，宜和中調經為妥。</p>
<p>炒居術（一錢）　香附（一錢五分）　廣木香（八分）　雞血藤（三錢）　厚朴（一錢）　丹參（三錢）　炒白芍（一錢五分）　生米仁（四錢）　菟絲餅（三錢）　龍骨（三錢）　烏藥（二錢）　玫瑰花（五朵）　四帖</p>
<p>血虛氣滯，每癸來腹痛作瀉，脈細澀心惕，宜五苓散主治。</p>
<p>炒居術（一錢）　豬苓（一錢五分）　延胡（三錢）　丹參（三錢）　桂枝（五分）　澤瀉（三錢）　厚朴（一錢）　龍齒（一錢五分）　茯苓（四錢）　廣木香（八分）　香附（三錢）　玫瑰花（五朵）　三帖</p>
<p>腹痛便利不減，苔黃嘔惡，右脈弦滑，月事過期不至，仍照前法加減，防痢。</p>
<p>藿梗（二錢）　仙半夏（一錢五分）　山查（三錢）　蔻殼（一錢五分）　川連（七分，薑汁炒）　赤苓（四錢）　炒白芍（一錢五分）　六一散（四錢，荷葉包）　厚朴（一錢五分）　新會皮（一錢五分）　廣木香（八分）　三帖</p>
<p>癸來澀滯，脈虛細便滑，脘悶臍下不爽，宜養胃和中，佐理氣下。</p>
<p>丹參（三錢）　烏鰂骨（三錢）　炒穀芽（四錢）　省頭草（三錢）　厚朴（二錢）　茯苓（四錢）　沉香曲（一錢）　綠萼梅（一錢五分）　延胡（一錢五分）　香附（一錢五分）　杜仲（三錢）　五帖</p>
<p>癸澀遲滯，脈沉清便瀉，中痞腸鳴，宜胃苓湯加減。</p>
<p>炒茅朮（一錢五分）　豬苓（一錢五分）　大腹絨（三錢）　通草（一錢五分）　厚朴（一錢五分）　澤瀉（三錢）　生米仁（四錢）　玫瑰花（五朵）　新會皮（一錢五分）　茯苓（四錢）　烏藥（二錢）　三帖</p>
<p>便瀉腹痛稍減，苔色仍屬黃厚，癸澀已有二月不至，脈澀右沉弦，中痞氣滯，還宜前法加減為妥。</p>
<p>神麯（三錢）　炒茅朮（一錢五分）　白芍（一錢五分）　砂殼（一錢五分）　炒川連（八分）　赤苓（四錢）　廣木香（六分）　綠萼梅（一錢五分）　厚朴（一錢）　澤瀉（三錢）　炒穀芽（四錢）　三帖</p>
<p>大便仍屬不爽，脈弦左澀，癸水已至不多，頭暈脘悶，仍照前法加減為妥。</p>
<p>桑寄生（三錢）　炒白芍（一錢五分）　新會皮（一錢五分）　廣木香（六分）　當歸（三錢）　香附（一錢五分）　炒棗仁（三錢）　砂殼（一錢五分）　穭豆皮（一錢五分）　石決明（六錢）　廣藿香（二錢）　三帖</p>
<p>癸水先後下一，脈細澀，腹痛氣滯，大便滑瀉，胃鈍帶下，宜和中為妥。</p>
<p>焦神麯（三錢）　佩蘭葉（一錢五分）　山查（三錢）　砂殼（一錢五分）　厚朴（一錢）　廣藿香（二錢）　炒穀芽（四錢）　延胡（一錢五分）　廣木香（八分）　烏藥（二錢）　玫瑰花（五朵）　三帖</p>
<p>潮熱不清，苔黃口渴，大便自利，瘄疹已現，癸水適至，脈小數，神識恍惚，宜清熱祛邪。</p>
<p>瓜蔞根（三錢）　琥珀（八分）　青蒿梗（一錢五分）　澤蘭（一錢）　益元散（四錢，包）　丹參（三錢）　丹皮（三錢）　淡竹葉（一錢五分）　銀花（三錢）　扁豆殼（三錢）　川貝（一錢五分）　燈心（一丸）　三帖</p>
<p>寒熱日作，脈來弦數，心涎便利，癸水適至，宜柴平湯加減治之。</p>
<p>柴胡（二錢）　炒茅朮（一錢五分）　山查（三錢）　藿香（二錢）　淡芩（一錢五分）　厚朴（一錢）　赤苓（四錢）　範曲（三錢）　仙半夏（二錢）　新會皮（一錢五分）　廣木香（七分）　二帖</p>
<p>濕鬱氣阻，遍體浮腫，脈沉弦右澀滯，癸澀遲滯，中痞防脹。</p>
<p>大腹絨（三錢）　生香附（三錢）　省頭草（三錢）　茯苓皮（五錢）　厚朴（一錢五分）　炒枳殼（一錢五分）　沉香（五分）　防己（一錢五分）　雞內金（三錢）　商陸（一錢五分）　地骷髏（三錢）</p>
<p>濕熱發黃，脈弦肝木偏橫，腹臌跗浮，癸趲遲，屬重極，宜雞金散加減。</p>
<p>雞內金（三錢）　綿茵陳（三錢）　地鱉甲（一錢五分）　海金沙（四錢，包）　沉香（五分，沖）　厚朴（一錢）　香附（二錢）　地骷髏（三錢）　原粒砂仁（一錢）　通草（一錢五分）　大腹絨（三錢）　四帖</p>
<p>風濕化瘧，脈濡細，苔心灰，經阻腹滿，頭面跗浮，宜防化脹。</p>
<p>炒青皮（八分）　綿茵陳（三錢）　草果（八分，去殼）　佩蘭葉（三錢）　厚朴（一錢五分）　茯苓皮（四錢）　山查（四錢）　通草（一錢五分）　仙半夏（二錢）　香附（三錢）　大腹絨（三錢）　三帖</p>
<p>脾泄化腫，脈細滯，經阻跗浮，宜利中分消為妥。</p>
<p>生牡蠣（四錢）　大腹絨（三錢）　車前（三錢）　綠萼梅（一錢五分）　澤瀉（三錢）　扁豆殼（三錢）　浙茯苓（四錢）　地骷髏（三錢）　象牙屑（三錢）　椒目（五分）　新會皮（一錢五分）　三帖</p>
<p>夾氣夾食化腫，脈弦中滿，癸水瀝，症屬重險，當和營衛為主。</p>
<p>當歸（一錢五分）　雞血藤（三錢）　生米仁（四錢）　炒青皮（八分）　炒白芍（一錢五分）　厚朴（一錢五分）　茯苓皮（四錢）　杜赤小豆（三錢）　川芎（一錢）　豨薟草（三錢）　大腹絨（三錢）　三帖</p>
<p>肝陽犯胃，脘痛徹背，嘔酸作吐，右脈細左弦，苔白痰氣交阻，肢尖不煦，恐厥，宜厥陰陽明同治，佐祛瘀化痰。</p>
<p>姜半夏（一錢五分）　金沸花（三錢，包）　蝟皮（一錢）　棗檳（三錢）　川連（六分，吳萸五分拌炒）　炒五靈脂（三錢）　廣鬱金（三錢，生打）　草蔻（一錢）　桂心（四分）　瓦楞子（四錢）　茯苓（四錢）　引路路通（十顆）　三帖</p>
<p>苔白脈兩手皆弦，肝塊作痛，癸澀已閉，大便忽瀉，倏熱忽寒，宜疏肝和中。</p>
<p>柴胡（八分）　川楝子（三錢）　青皮（八分）　烏藥（二錢）　左金丸（八分）　木蝴蝶（四分）　炒白芍（一錢五分）　玫瑰花（五朵）　生牡蠣（四錢）　香附（一錢五分）　厚朴（一錢）</p>
<p>肝逆射肺，脈弦嗆咳潮熱，經阻喉有血腥，宜清少陽為主。</p>
<p>桑葉（三錢）　紫苑（二錢）　炒知母（一錢五分）　北沙參（三錢）　石決明（五錢）　焦梔（三錢）　橘紅（一錢）　川貝（二錢，不杵）　光杏仁（三錢）　丹皮（一錢五分）　側柏炭（三錢）　四帖</p>
<p>癸澀遲滯，脈澀左弦細，腰痠腹脹，心惕帶下。此血虛木旺，姑宜養血理氣平肝。</p>
<p>歸身（二錢）　菴䕡子（三錢）　生牡蠣（四錢）　炒白芍（一錢五分）　制香附（一錢五分）　川斷（三錢）　丹參（三錢）　綠萼梅（一錢五分）　杜仲（三錢）　烏梅（二錢）　沉香曲（一錢五分，包）　七帖</p>
<p>肝逆上衝，脘痛背掣，脈沉弦癸澀，宜疏泄厥陰為主。</p>
<p>川楝子（三錢）　真新絳（一錢）　左金丸（八分）　沉香曲（一錢五分）　延胡（二錢）　廣鬱金（三錢）　丹參（三錢）　玫瑰花（五朵）　草蔻（一錢）　木蝴蝶（五分）　佩蘭葉（一錢五分）　四帖</p>
<p>肝虛暈眩目暗，脈虛癸澀，食入欲嘔，宜柔肝養血。</p>
<p>桑寄生（三錢）　杞子（三錢）　釵斛（三錢）　歸身（一錢五分）　杜仲（三錢）　香附（三錢）　新會皮（一錢五分）　棗仁（三錢）　甘菊（一錢五分）　仙半夏（一錢五分）　茺蔚子（三錢）　五帖</p>
<p>腹痛有形聯腰，脈細澀，肢冷嘔渴，癸水適來，苔厚微黃，宜治防厥，候正。</p>
<p>乾薑（二分）　炒川椒（廿粒）　當歸（二錢）　澤蘭（一錢五分）　川連（六分，吳萸四分拌炒）　山查（四錢）　香附（一錢五分）　佛手花（八分）　仙半夏（二錢）　延胡（三錢）　枳殼（一錢五分）　二帖</p>
<p>木剋土，便瀉心涎，脈弦舌尖紅，腹中有瘕，經閉，宜豬苓湯加減治之。</p>
<p>豬苓（一錢五分）　炒阿膠（一錢五分）　炒白芍（一錢五分）　藿梗（二錢）　澤瀉（三錢）　左金丸（八分）　厚朴（一錢）　玫瑰花（五朵）　茯苓（四錢）　炒青皮（七分）　新會皮（一錢五分）　三帖</p>
<p>肝逆攻衝作痛，嘔惡欲厥，脈弦滯經阻，症屬重極，宜厥陰陽明同治，候正。</p>
<p>乾薑（二分）　川楝子（三錢）　草蔻（一錢）　炒穀芽（四錢）　川連（八分，吳萸四分拌炒）　延胡（一錢五分）　紫石英（三錢）　仙半夏（二錢）　炒川椒（廿粒）　佩蘭（一錢五分）　玫瑰花（五朵）　三帖</p>
<p>肝逆犯胃，腹痛作吐，脈弦微熱，癸水趲遲，宜厥陰陽明同治。</p>
<p>乾薑（二分）　炒枳殼（八分）　廣藿香（二錢）　烏藥（二錢）　川連（七分）　蘇梗（一錢五分）　新會皮（一錢五分）　佛手花（八分）　仙半夏（一錢五分）　綠萼梅（一錢五分）　蔻殼　二帖</p>
<p>木剋土化瀉，脈弦細，中焦窒格，經停防脹，宜利中分消為治。</p>
<p>大腹絨（三錢）　新會皮（一錢五分）　綠萼梅（一錢五分）　雞內金（二錢五分）　厚朴（一錢五分）　原粒砂仁（一錢）　茯苓皮（一錢五分）　玫瑰花（五朵）　炒車前（三錢）　烏藥（二錢）　炒穀芽（四錢）　三帖</p>
<p>木剋土化瀉，脈澀脘格，心涎欲嘔，癸澀不調，宜瀉心湯加減治之。</p>
<p>乾薑（二分）　炒白芍（一錢五分）　炒穀芽（四錢）　通草（一錢五分）　川連（七分，吳萸五分拌炒）　北細辛（二分）　香附（一錢五分）　玫瑰花（五朵）　仙半夏（二錢）　厚朴（一錢五分）　佩蘭葉（三錢）　三帖</p>
<p>苔白嗆咳氣逆，左脈弦細，頭疼倏熱乍寒，腹左有瘕，經停四月，胃鈍防腫脹。</p>
<p>紫苑（一錢五分）　蘇子（一錢五分）　穀芽（四錢）　荊芥（二錢）　茯苓（四錢）　橘紅（一錢）　川貝（一錢五分）　白芷（八分）　光杏仁（三錢）　金沸花（三錢，包）　桑皮（二錢）　三帖</p>
<p>木剋土化瀉，脈弦而澀，舌滑脘悶，帶下癸澀，姑宜順氣和中。</p>
<p>烏藥（二錢）　大腹絨（三錢）　化龍骨（一錢五分）　炒青皮（八分）　茯苓（四錢）　砂殼（一錢五分）　芡實（三錢）　厚朴（一錢五分）　木蝴蝶（五分）　新會皮（一錢五分）　綠萼梅（一錢五分）　三帖</p>
<p>任脈為病，腹痛有瘕，癸水澀少，脈細澀，苔心黃，肢木心煩，宜治防厥，候正。</p>
<p>川楝子（三錢）　左金丸（八分）　廣藿香（一錢五分）　沉香（五分，沖）　延胡（二錢五分）　丹參（三錢）　省頭草（三錢）　佛手花（八分）　山查（四錢）　蓬朮（七分）　雞內金（三錢）　一帖</p>
<p>肝塊作痛，脈沉弦，氣滯為滿，癸水先後不一，大便忽瀉，宜疏肝和中。</p>
<p>川楝子（三錢）　雞內金（三錢）　菴䕡子（三錢）　延胡（一錢五分）　省頭草（三錢）　沉香（五分）　厚朴（一錢）　生香附（一錢五分）　炒青皮（八分）　綠萼梅（一錢五分）　玫瑰花（五朵）　四帖</p>
<p>肝逆中脘悶窒，脈弦苔厚膩，癸水不調，心惕胃鈍欲嘔，當和肝胃為主。</p>
<p>仙半夏（二錢）　琥珀（八分）　炒穀芽（四錢）　省頭草（一錢五分）　川連（七分，吳萸四分拌炒）　丹參（三錢）　廣鬱金（三錢）　玫瑰花（五朵）　枳實（一錢）　厚朴（一錢）　沉香曲（一錢五分）　三帖</p>
<p>苔黃脈澀左弦，脘腹聯痛嘔惡，此厥陰順乘陽明，癸水趲遲，宜瀉心湯加減治之。</p>
<p>乾薑（二分）　生牡蠣（四錢）　木蝴蝶（五分）　新會皮（一錢五分）　川連（八分，吳萸四分拌炒）　蘇梗（一錢五分）　茯苓（四錢）　綠萼梅（一錢五分）　仙半夏（一錢五分）　烏藥（一錢五分）　川楝子（三錢）　三帖</p>
<p>肝逆未平，中滿氣滯，脈細澀，腹痛經停，防腫脹。</p>
<p>烏藥（二錢）　生牡蠣（四錢）　川楝子（三錢）　厚朴（一錢）　炒白芍（一錢五分）　新會皮（二錢五分）　炒穀芽（四錢）　炒青皮（八分）　砂殼（一錢五分）　綠萼梅（一錢五分）　佛手花（八分）　三帖</p>
<p>木剋土，便瀉中痞，脈沉澀，面跗浮，經阻，宜治防脹。</p>
<p>大腹絨（三錢）　新會皮（一錢五分）　炒車前（三錢）　生牡蠣（四錢）　厚朴（一錢五分）　扁豆殼（三錢）　茯苓皮（四錢）　澤瀉（三錢）　椒目（五分）　原粒砂仁（七分）　綠萼梅（一錢五分）　地骷髏（三錢）　四帖</p>
<p>木剋土化瀉，脈右弦，中痞氣滯腹痛，舌紅經阻，宜養胃和中平肝。</p>
<p>北沙參（三錢）　生白芍（一錢五分）　砂殼（一錢五分）　石決明（六錢）　茯苓（四錢）　新會皮（一錢五分）　石蓮子（三錢）　玫瑰花（五朵）　釵斛（三錢）　省頭草（三錢）　藿梗（二錢）　三帖</p>
<p>頭疼不已，脈浮弦，嗆咳多痰，苔色微黃，惡風微寒，宜解表消痰。</p>
<p>荊芥（一錢五分）　桔梗（一錢五分）　蔓荊子（三錢）　白芷（八分）　川芎（一錢）　甘菊（三錢）　前胡（一錢五分）　光杏仁（三錢）　防風（一錢五分）　象貝（三錢）　二帖</p>
<p>感邪未解，身熱乍寒，脈浮數，苔黃滑，宜清解防劇。</p>
<p>桔梗（一錢五分）　炒梔子（三錢）　大豆卷（三錢）　薄荷（八分）　連翹（三錢）　炒淡芩（一錢五分）　滑石（四錢）　光杏仁（三錢）　冬桑葉（三錢）　前胡（一錢五分）　橘紅（一錢）　二帖</p>
<p>秋感化燥，嘔惡發熱，脈浮滑，苔黃燥嗆咳，症勢非輕，宜防昏蒙之變幻，候正。</p>
<p>冬桑葉（三錢）　炒梔子（三錢）　橘紅（一錢）　天竺黃（一錢五分）　連翹（三錢）　淡豆豉（一錢五分）　象貝（三錢）　牛蒡子（一錢五分）　天花粉（三錢）　蟬衣（一錢）　前胡（一錢五分）　引活水蘆根（五錢）　二帖</p>
<p>案列於前，熱猶不解，脈動苔黃口燥，便痢赤色，還防痙厥，候正。</p>
<p>銀花（二錢）　石菖蒲（五分）　薄荷（一錢）　貫仲（二錢五分）　連翹（三錢）　炒姜蠶（三錢）　炒黃芩（一錢五分）　枳殼（二錢五分）　六一散（三錢，布包）　天花粉（三錢）　蟬衣（一錢）　二帖</p>
<p>濕阻肺衛，脈弦濡咳逆，寒熱交作，脈弦濡，苔白根微黃，腹中氣機不和，宜桂苓甘露飲加減治之。</p>
<p>茯苓（四錢）　澤瀉（三錢）　仙半夏（一錢五分）　枳殼（二錢五分）　桂枝（六分）　光杏仁（三錢）　炒淡芩　廣橘紅（一錢）　炒江西術（一錢）　原滑石（四錢）　金沸花（三錢，包）　鮮竹肉（一丸）　三帖</p>
<p>腳氣猶然痠痛，脈弦濡，苔滑白心灰，姑宜祛風利濕為主。</p>
<p>獨活（一錢五分）　當歸（一錢五分）　海桐皮（三錢）　晚蠶沙（三錢）　茯苓（四錢）　制乳香（一錢五分）　生米仁（四錢）　通草（一錢五分）　豨薟草（三錢）　防己（一錢五分）　五加皮（三錢）　桑梗尺許　三帖</p>
<p>秋感發熱乍寒，脈浮數苔黃，頭脹而疼，姑宜辛涼輕解。</p>
<p>薄荷（一錢五分）　桔梗（一錢五分）　桑葉（三錢）　荊芥（一錢五分）　連翹（三錢）　廣鬱金（三錢）　甘菊（二錢）　絲通草（一錢五分）　淡豆豉（三錢）　前胡（一錢五分）　炒枳殼（一錢五分）</p>
<p>暑濕傷氣，苔滑白，脈濡細，腹痛瀉痢溺少，宜清陽明經為主。</p>
<p>白頭翁（一錢五分）　藿香（三錢）　澤瀉（三錢）　青木香（七分）　滑石（四錢）　新會皮（一錢五分）　豬苓（二錢五分）　炒銀花（二錢）　草決明（三錢，即青葙子）　絲通（一錢五分）　枳殼（一錢五分）　引荷葉（半張）　三帖</p>
<p>稚孩濕熱內著，脈弦濡身微熱，腹痛堅滿，大便忽瀉，宜太安丸法加減治之。</p>
<p>焦神麯（三錢）　仙半夏（一錢五分）　廣藿香（二錢）　枳殼（一錢）　炒川連（四分）　赤苓（三錢）　通草（一錢五分）　佛手片（五分）　陳皮（一錢）　炒萊菔子（三錢）　紅藤（一錢五分）</p>
<p>感冒發熱，脈浮數，頭脹痛，苔滑微黃，脘悶肢楚，宜達表為主，防劇。</p>
<p>光杏仁（三錢）　荊穗（一錢五分）　桔梗（一錢五分）　廣鬱金（三錢，原杵）　蘇梗（二錢）　枳殼（一錢五分）　山查（四錢）　通草（一錢五分）　桑葉（三錢）　薄荷（一錢）　炒萊菔子（三錢）　二帖</p>
<p>頭暈目暗，夾雜痧穢，腹痛吐利，脈濡細苔黃，胃鈍帶下，宜治標為先。</p>
<p>藿梗（二錢）　大腹絨（三錢）　生香附（三錢）　炒穀芽（四錢）　厚朴（一錢）　廣鬱金（三錢）　左金丸（八分）　廣木香（五分）　佩蘭（二錢）　通草（一錢五分）　新會皮（一錢五分）　三帖</p>
<p>痰瘧二期，寒多熱少，脈弦苔白，邪在少陽，宜小柴胡湯加減治之。</p>
<p>柴胡（一錢，酒炒）　桂枝（八分）　炒青皮（八分）　秦艽（二錢五分）　淡芩（一錢五分）　炙甘草（五分）　赤苓（四錢）　橘紅（一錢）　仙半夏（一錢五分）　川芎（一錢）　威靈仙（一錢五分）　引老生薑（三片）　二帖</p>
<p>閨女腹痛氣滯，兩脈皆弦，苔白，癸水不調，宜疏肝和中。</p>
<p>川楝子（三錢）　當歸（二錢，小茴五分拌炒）　沉香（五分，沖）　延胡（一錢）　香附（三錢）　廣鬱金（三錢，原杵）　炒青皮（八分）　木蝴蝶（四分）　佩蘭（三錢）　玫瑰花（五朵）　四帖</p>
<p>女孩脾疳化腫，苔白便瀉，口渴，脈濡滑左弦，腹大溺少，非輕藐之症。</p>
<p>烏梅（一個）　蟾蜍干（八分，去頭足）　地骷髏（三錢）　省頭草（三錢）　厚朴（八分）　甘松（四分）　扁豆衣（三錢）　通草（一錢）　炒車前（三錢）　大腹絨（三錢）　雞內金（二錢五分）　砂仁（七分，沖）　三帖</p>
<p>苔微黃，左脈澀，右弦數，脘腹脹悶，癸水早期，咳痰，宜和中調經。</p>
<p>丹參（三錢）　大腹絨（三錢）　丹皮（二錢）　炒青皮（八分）　佩蘭（三錢）　香附（三錢）　沉香曲（一錢五分）　玫瑰花（五朵）　遍釵斛（三錢）　炒茺蔚子（三錢）　炒枳殼（一錢五分）</p>
<p>風濕相搏，寒熱如瘧，左脈濡，苔白根微黃，腰痛身痛，頭目皆疼，神識皆憒，宜防柔痙。</p>
<p>瓜蔞根（三錢）　川芎（一錢）　防己（一錢五分）　獨活（一錢五分）　桂枝（五分）　防風（一錢五分）　原滑石（四錢）　威靈仙（一錢五分）　生甘草（七分）　炒淡芩（一錢五分）　炒梔子（三錢）　引桑梗（尺許）　二帖</p>
<p>蘇合丸一粒，去殼化服，第二帖弗用。</p>
<p>咳痰稠白，脈沉弦，苔厚微黃，胃鈍食入脘悶，姑宜清肺胃和中。</p>
<p>金沸花（三錢，包）　仙半夏（一錢五分）　通草（一錢五分）　蘇子（一錢五分）　厚朴（一錢）　廣橘紅（一錢）　沉香曲（一錢五分）　白前（一錢五分）　光杏仁（三錢）　雞內金（三錢）　炒穀芽（四錢）　五帖</p>
<p>苔黃厚，嘔渴發熱，脈弦數，脘格腹痛不便。此屬伏暑，宜陷胸承氣湯加減，防厥。</p>
<p>杜栝蔞子（三錢）　枳實（一錢五分）　淡竹葉（一錢五分）　廣鬱金（三錢，原杵）　炒川連（七分）　制軍（三錢）　山查（四錢）　紅藤（一錢五分）　仙半夏（一錢五分）　元明粉（一錢）　通草（一錢五分）</p>
