<header data-type="book">
<h1>皇國名醫傳</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data value="淺田惟常">淺田惟常</data></dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015274">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>前編序一</h1>
<p>皇國名醫丹波雅忠。事花山天王。此時高麗王。患其後之篤疾。且嘆華韓諸名醫不能治矣。教使獻書伏天朝乞迎雅忠。乃裁答書云。雙魚難達鳳池之波。扁鵲豈入雞林之云。雅忠不往。古今以為美談。如余友淺田識此則不然。佛蘭西陸軍戰將列翁魯。抱大患不愈已久矣。各國諸名醫弗能療焉。佛將不得已。來皇國館於橫濱。遣使乞一名醫於德川昭德大將軍。大將軍特擢識此命之。佛將積年之病。識此一朝。療而愈之。佛將之歸國也。各國名醫皆聞而駭曰。日本醫士淺田宗伯者。治之何其神也。嘖嘖傳稱之。識此名惟常。宗伯其通稱。識此即字。余謂雅忠恥其屈致而不療者也。識此憐彼來乞而懇治者也。至揚皇國之美於海外則一也。識此研煉醫術。旁用力詩文之業炳如。是故有許多著作。余向序其著書溫疫論刊誤而盡矣。籲。識此已既震名於海外。然其著作未布於海外焉。余常以為恨。今茲明治四年辛未之秋。米利堅學校將纂藏萬國醫籍。因需皇國醫籍。於是大學東校。擇兩三部將贈之。識此所著之皇國名醫傳及前編二部為第一矣。蓋皇國未曾有之盛舉也。東校大丞。奉命促之。識此臨贈徵余序前編。卷首揭舊幕府醫官多紀元佶。水戶藩儒職青山延光二序。余何添蛇足續狗尾之為。雖然。不可辭者有之。夫余與識此。俱清和苗裔。其系遠出鎮守府將軍八幡公。識此信州人。屬信濃源氏。余乃八幡公三十四世之孫也。系譜猶存。以同其祖宗。同其學業。雖有東西千里之隔。而方術相磨。詩文互贈。書牘往復如織。交誼親於兄弟。識此當幕府隆盛之時。職升尚藥。位進法眼焉。在今日猶奉天璋大夫人之湯藥。在其邸中。頃拜診主上生母二位君。及近衛正二位公等。皆奏其藥驗矣。識此則精於學之醫也。巧於治術之醫也。信用於時世之醫也。兼此三者。天下除識此而誰。今又贈著書於海外矣。真可謂不辱祖宗也。如余則一旦奉命為大阪府醫職。賜褒典凡二矣。然以漢學醫。且蒲柳之質。夙辭其職。今也閒雲浮碧落。野鶴脫樊籠。因下講帷於市陌。生徒來門。文墨自娛。余亦有數部著書。瘟疫論集覽十卷。上梓因循。對祖宗殆失面目。雖然。為兄者。家勢之盛如此。則為弟者若己有之。亦無所恨也。余不可不序於前編。蓋以是故也。余大感識此著書。將有吐一奇言曰。唐甘氏著名醫傳。其書來皇國焉。識此著皇國名醫傳。其書今日布於海外焉。甘氏名伯宗。識此即宗伯。余果知識此乃甘氏之再生也。不然。其名稱著述兩相似也。然皇國宗伯勝於唐伯宗固萬萬。抑此編布海外。則人人皆指此書曰是日本醫療佛將之人。而淺田慄園先生之所著也。慄園識此之號也。海外基礎此書。亦有著西洋名醫傳者。見實由識此之賜也。今日皇國政務一新。海外各國結盟約。英之倫敦。佛之巴理斯。魯之伯德。米之華盛頓。火輪船之往來如比鄰。故海外有大患迎識此。識此乃裁妙文。辭之如高麗王。來拜識此乞療。則懇治之如佛國將。嘻。皇國之兩美。唯在識此一人矣。真可謂前無古人後無來者也。是故此舉也。余語米利堅學校人人曰。如識此即是皇國名醫傳中之人也。</p>
<p><u>日本明治四年辛未大嘗會後一日大阪華城學人田中內記</u></p>

<h1>前編序二</h1>
<p>余讀淺田識此所著名醫傳。然後知述作之果不可廢也。蓋自允恭帝訖後光明帝千有餘年。其間名醫哲匠不為不多。而其傳之愈遠而愈不衰者。唯述作之家為然焉。嘗竊考之。天朝名醫之傳。率存之於口授面命。不以撰述為屑。是故非得其人。則亦不敢輕傳焉。是自古人謹厚之風。非後人所思識也。迨其後世風澆漓。其所謂口授面命者。僅附之影響。而古人傳將日就沉沒焉。於是豪傑之士起。始有撰述之傳。如延歷中有和氣氏。大同中有菅原安部氏。貞觀元慶之際有物部氏小野氏。各以撰述著。而其書亡佚不完。逮永觀中時。則有我曩祖丹波氏出。最稱翹楚。所著醫心方醫略抄。全然存於今日。為醫家鴻寶。繼此有僧性全有鄰者。而性全之頓醫抄。萬安方。有鄰之福田方。悲田方諸書。亦能巋然並存。他如阪氏吉田氏祐乘坊竹田久志本諸家。皆學殖優贍。肆力撰述。於是乎子孫有所奉以世其職。後世有所准以仰其法。中世已降。語名醫者必以此數家為圭闑。何其盛也。余因有所感焉。天下之以名家世其秩祿者何限。使其各有數十卷書傳於後。得如識此其人者表而傳之。不亦可嘉尚乎。退而自顧淺學菲材。幸承祖業。奉其遺方。守其世職。稍稍有所著述。未以足問於世。則後來之傳不傳。亦未可必。而識此則以一介醫生。能好學而文。其著書裒然成帙。此外仍有數部。則後世之傳。非識此而誰歟。於是乎復恧爾以自愧焉。遂援筆書其端。</p>
<p><u>萬延元年歲次商橫涒灘孟冬之吉江戶侍醫督醫學事兼醫學教諭法眼丹波元佶識</u></p>

<h1>前編序三</h1>
<p>海內之有醫方。以大已貴少彥名二神為鼻祖。二神之有功於生民也大矣。厥後允恭帝有篤疾。求良醫於新羅。蓋當時醫學未闡而乏其人耳。及後世通使隋唐。多選才藝之士從之。如菅原梶成實以善醫膺其選。於是乎方技日精。而專門名家稱絕技者何限。至白河帝時。高麗求良醫於我。是可以見當時醫學之盛瓊軼異域也。第記載闕略。不能詳其事實耳。信濃淺田識此嘗輯近世名醫事蹟為之傳。既已梓行。又綴集古之名醫為前編。問序於余。余謂天下伎藝。日精一日。大抵皆然。非特醫學而已。然古人樸實敦厚。過絕今人。故至其苦學精思。則非今人之所能彷彿。即其所得。亦必有奔軼絕塵。不可企及者矣。而其術或不傳。嗚呼。彼耗一生之精力以為主之。至乃涉萬里之波濤。以求之海外。遂能使二神之澤。被於後世。天下之至勤也。而其術則不傳。姓名僅見載籍。天下之至不幸也。今乃輯而傳之。此亦仁之術矣。誰為事實闕略不足傳乎。是為序。</p>
<p><u>安政丁巳五月水府青山延光撰</u></p>

<h1>前編序例</h1>
<p>惟常初編名醫傳。從上代至近時。通為一貫。然醫流源委。方術精粗。慶元后始為班班可考。討索易易成力。前此則零言瑣語。僅載姓名。雖隨獲隨錄。勞多功少。既不自慊。因弗敢問人。所以先斷慶元而還為本篇也。爾來五六年所蒐羅復且數十百條。惟常雖寡陋。凡史乘關於醫事者。涉獵已盡矣。思此平昔心力。不忍付諸蠹魚。頃訂舊稿。合得三卷。因題名曰名醫傳前編。</p>
<p>原稿仿常藩皇史例。引用書目三百十餘部。盡注於本條之下。以明出據。既而夷考之載籍不一。文質異辭。流傳已久。訛繆互在。依而襲之。難免陋雜。訂而辨之。不堪煩碎。且捃摭事實。務徵於古。裁製體例。宜歸於一。要之一家之言。非通共之書。因揭引用書目於卷首。而每條出據今皆刪除。然至其無舛誤。惟常亦不自保。讀者宜自擇其是而可也。</p>
<p>歷世醫人事蹟不傳。獨其著書及書目存者。偕無由紀載。姑附於引用書目之後。</p>
<p>續日本紀有賈愛君胸形朝臣赤麻呂三代實錄。有神人氏岳日下部廣君。其他諸書佚姓氏徒存名者。履歷未能詳。姑效本編而闕如焉。</p>
<p>醫家詩歌。著稱於藝苑者。不乏其人。然非此編之所要。故略焉。惟常別有杏林風月之撰。請就覽焉。</p>
<p>惟常曩遊京師。創草此編。在天保三年壬辰。醫官奧基實慫恿之。為就縉紳世家討求古籍。使借覽成緒。丙申夏來於江戶。聞饍所渡邊昶幕府醫官杉本良向各有醫傳之撰。而其人其書俱不可得睹。深以為憾。後與幕府醫官奈須恆德京師山科元幹相識。二氏皆精於歷朝醫跡。並有成著。受益頗多。往年尾府侍醫中島恕寄示同僚賀島近信所著皇朝醫史。間有異同。資以校訂。及安政三年丙辰。稿始成。惟常風塵鬻伎。事與心睽。凡經二十五年。夙志始達矣。而奧奈須山科三氏。既已淪謝。獨賀島氏猶存。而道途遼遠。末由從質。將伯之助既多。要女之懷何已。聊敘其由。庶幾不負良友于存歿也。</p>
<p><u>安政三年歲次丙辰暮春淺田惟常識</u></p>

<h1>前編卷上</h1>
<p>厥初生民。醫藥隨興。神皇產及靈尊大己貴命少彥名命邈矣。其事不可得而稽焉。及允恭帝三年。新羅國奉敕貢醫金武。尋雄略帝朝百濟國貢高麗醫德來。欽明帝十五年。百濟國又貢醫士王有稜陀採藥師潘量豐等。爾後歸化醫名。相繼於籍。推古帝時。百濟僧勸勤獻歷天文地理及方術遁甲等之書於此山。背日並立。首就學方術、繼而西土醫書傳播日廣。良工輩出。當時皆以醫師冠名。以為稱呼。史總稱之謂藥部云。</p>

<h2>和藥使主</h2>
<p>善那使主父知聰。吳主照淵孫。欽明帝時從我將軍大伴佐上古來化。獻儒釋醫書明堂圖及佛像樂器等。善那受父醫方。孝德帝時始制牛酪以進。帝善之。賜號和藥使主。改名福常。子孫世居難波。其裔有弟雄安主黑麻呂等。貞觀六年。賜姓宿禰。弟雄歷右近衛將監。丹波介安主黑麻呂。並從八位上（皇朝古昔重種姓。故有賜姓之典。然以今考之。宿禰連朝臣真人等其實亦品爵之類耳。不可與西土一例看。）</p>

<h2>藥師惠日（難波連奈良）</h2>
<p>藥師惠日五世祖曰德來。雄略帝時。徵醫於百濟。德來應徵而來。子孫世居難波。因稱難波藥師。惠日與倭漢直福因及僧惠齊惠光赴唐學醫。推古帝時歸朝奏曰。邦人留學於彼者。業皆習熟。宜召還。又曰。文物制度。備具於彼。聘使不絕。則於國家有洪益矣。白雉五年。奉命與遣唐押使大錦上高向玄理等俱聘於唐館。伴郭文舉問我神聖之名及地理。惠日應答如流。文舉感服。寶字二年。其孫內藥司佑兼出雲員外椽奈良等十一人賜姓難波連延。歷中有難波連廣名。及廣成廣名。為侍醫典藥頭兼因幡權椽。進丹波椽廣成內藥正。（法隆寺二天像足背記有藥師德保。蓋亦同族。）</p>

<h2>奈良藥師</h2>
<p>吉田宜初姓吉。為鹽垂津彥命後。鹽垂津彥命往戍任那三巴汶地。子孫留居焉。八世曰吉大尚。與弟少尚等相率來歸。世傳醫術。居奈良田村。因稱奈良藥師。宜其裔也。初為僧。名惠俊。文武帝嘉其才藝。敕還俗。賜名宜。授爵務廣肆。宜好學。最精醫書。養老中試醫術科。賜絁絲布鍬。神龜初。與同宗智首俱賜姓吉田連田。取諸里名田村云。天平初。始命陰陽醫藥天文歷數諸道廣教授生徒。宜首率子弟講習。尋任圖書頭十年。遷典藥頭兼相摸介。卒年七十。子古麻呂。延歷中為內藥正侍醫。兼歷豐前常陸介。吉田兄人。天平二十年。任侍醫兼河內大目。勝寶中進彈正少忠。</p>
<p>吉田斐太麻呂。寶龜中為內藥正傳侍醫。兼歷出雲伯耆伊勢相摸介。</p>
<p>吉田書主任佐京亮從五位上。（兄人斐太麻呂書主蓋宜之族。故附焉。）</p>

<h2>後部藥使主</h2>
<p>後部藥使主億仁。百濟人。其先出自高麗。大兄億德。天武帝時來化為侍醫。朱鳥元年。病將死。特敕授爵直大壹。封一百戶。</p>

<h2>蜂田藥師（深根輔仁）</h2>
<p>蜂田藥師文主。和泉人。其先與和藥使主同世。以醫仕於朝。承和元年。賜姓深根。宿禰六年。為遣唐知乘舩事。子孫有宗繼者。貞觀仁和間。歷官針博士內藥正侍醫醫博士兼加賀介。宇多帝患陰痿。宗繼用露蜂房製劑治之。輔仁即其孫也。少從典藥頭菅原行貞而學。擢左衛門醫師。累遷權醫博士侍醫。延喜中。奉敕撰掌中要方及和名本草。又著養生抄。（三代實錄有蜂田岑範。為典藥大屬。蓋亦其族。）</p>

<h2>倭漢直福因</h2>
<p>倭漢直福因。推古帝十六年。從聘使小野妹子往唐學醫。三十一年。從新羅使智洗爾而還。</p>

<h2>桑原訶都（續紀訶作加。訶加聲通。）</h2>
<p>桑原訶都。天武帝侍醫。朱鳥元年。授爵直廣肆。賜姓連。（天平中有桑原村主安萬呂。蓋亦其族。）</p>

<h2>益田直金鐘</h2>
<p>益田直金鐘以醫聞。天武帝弗豫。敕金鐘及僧法藏赴美濃國制白朮煎以進焉。因效賜絁綿。</p>

<h2>物部韓國廣足</h2>
<p>物部韓國廣足。從役小角學咒法。又就僧鑑真問本草。天平四年。擢典藥頭。</p>

<h2>御立連吳明</h2>
<p>御立連吳明。初稱吳肅胡明。以良醫聞。養老五年。詔曰。文人武士。國家之所貴重也。醫卜方術。國家之所崇信也。精其業藝者。豈可不褒賞哉。困敘從五位。上賜以絹絲布鍬。神龜元年。賜姓御立連。（按史有御立清道者。恐系胡明改名）</p>

<h2>秦忌寸朝元</h2>
<p>秦忌寸朝元。父辨正。大寶中赴唐。以圍棋得唐主幸。生二子。朝慶朝元。辨正朝慶死於彼。朝元獨反。通於醫方。養老五年。敘從六位。下賜絹絲布鍬。累遷圖書頭主計頭。以其善唐語。命兼譯官。</p>

<h2>大羊甲許母（懷風藻作許率母。續紀作胛巨茂。皆同。）</h2>
<p>大羊甲許母。敘從六位下。養老五年。賜絹絲布鍬。以賞其醫功。神龜元年。賜姓城上。連孫城上真立。亦以醫彰。天平中擢侍醫。兼大和大椽。尋敘從五位下。</p>

<h2>答本陽春（狖賦）</h2>
<p>答本陽春。善醫。敘正六位上。神龜元年。賜姓麻田連。陽春又善詞藻。大伴皇子常延為客。相與唱和。其族忠節。勝寶中敘從五位下。後坐事廢。狖賦忠節孫也。為佐大史。延歷四年。遷典藥頭。奏曰。蘇敬所注新修本草。較之陶隱居集註本草增一百餘種。今所用藥材。正與敬書合。請自今廢集註而專用新修本草。詔從之。八年轉山城守。（天智紀有答㶱春初。亦同族。）</p>

<h2>張福子</h2>
<p>張福子。善醫。與吉田宜。御立胡明城。上真立等同時齊名。</p>

<h2>高義通</h2>
<p>高義通與福子同時。亦以醫聞。</p>

<h2>余仁軍</h2>
<p>余仁軍能咒禁。養老七年。敘五位下。</p>

<h2>蓋高麻呂</h2>
<p>蓋高麻呂。天平中為侍醫。</p>

<h2>甘味神寶</h2>
<p>甘味神寶。天平勝寶間為侍醫。</p>

<h2>倭武助</h2>
<p>倭武助。天平中為典藥頭。其孫廣成。延歷中為侍醫。兼遠江掾。</p>

<h2>馬史夷麻呂</h2>
<p>馬史夷麻呂。寶字三年。自甲斐守轉與藥頭。累遷南海道使。</p>

<h2>忌部宿禰烏麻呂</h2>
<p>忌部宿禰烏麻呂。勝寶六年。自神祗少副轉典藥頭。累遷信濃守木工助治部少輔。</p>

<h2>粟田朝臣道麻呂</h2>
<p>粟田朝臣道麻呂。為內藥佑。寶字三年。賜姓朝臣。累遷參議近衛員外中將。兼敕旨員外大輔式部大輔。因幡守。神護元年。坐和氣王事免官亡。幾除飛彈員外介守。與道麻呂有宿怨。誣以罪。拘而幽之。遂憂憤而死。（高野山御參詣記有典藥允粟田憲重。疑其族也。）</p>

<h2>淨岡連廣島</h2>
<p>淨岡連廣島。光仁帝侍醫。寶龜五年。兼丹後介。明年進典藥頭。</p>

<h2>掃守王</h2>
<p>掃守王。寶龜中為典藥頭。累進大炊頭大藏大輔。宮內大輔。攝津大夫。</p>

<h2>田部宿禰男足</h2>
<p>田部宿禰男足。寶龜二年。為典藥員外助。</p>

<h2>文室真人水通</h2>
<p>文室真人水通。寶龜三年。任典藥頭。進大藏少輔。</p>

<h2>木使主望足</h2>
<p>木使主望足。為咒禁師神護。景雲元年。敘外從五位下。</p>

<h2>羽慄翼</h2>
<p>羽慄翼。父古麻呂。山城乙訓人。靈龜二年。從阿部仲麻呂赴唐。生翼及翔。比反。翼年十六。以慧敏稱。後為僧。朝廷惜其才。命還俗。寶龜初。授大外記。六年為遣唐使錄事。遷判官。賜姓臣與小野石根等赴唐。歸而獻寶廳五紀曆經。天應元年。奉敕住難波。煎煉朴硝。延曆元年。任丹波介。五年。擢內藥正兼侍醫。六年兼左京亮。遷內藏助內藥正侍醫並如故。帝憫其衰老。特許駕小車出入殿門。十七年卒。歲八十四。</p>

<h2>雀部直兄子</h2>
<p>雀部直兄子。稱德帝時為內藥佑神護。景雲二年。兼參河員外介。三年。進內藥正（三代實錄。雀部茂世敘從七位上任下野國前權少掾。以醫從東征之役。蓋亦兄子之孫。）</p>

<h2>冰上真人河繼</h2>
<p>冰上真人河繼。監燒王子。賜姓真人。延曆元年。為因幡守。坐事流於伊豆。後遇赦歸。大同二年。擢典藥頭。轉伊豆守。</p>

<h2>布勢朝臣大海</h2>
<p>布勢朝臣大海。延歷中為典藥頭。尋轉主殿頭。後為美作介。</p>

<h2>平群朝臣清麻呂</h2>
<p>平群朝臣清麻呂。延歷四年。任典藥頭。轉大膳亮。後為信濃介。</p>

<h2>朝野宿禰魚養</h2>
<p>忍海原連魚養。延歷七年。任播磨大掾。尋兼典藥頭。十年。請改姓朝野宿禰。宿禰乃其祖先之稱。朝野則其所居之地。</p>

<h2>小倉王</h2>
<p>小倉王。延歷中歷官少納言阿波守。典藥頭。內膳正。請稱族清原。</p>

<h2>中臣朝臣道成</h2>
<p>中臣朝臣道成。石根子。延歷二十三年。任典藥頭。尋補尾張守。</p>

<h2>吉水連神德</h2>
<p>吉水連神德。延歷中為侍醫。二十三年。帝弗豫。神德侍藥有功。孫清平。天曆中為典藥少屬。</p>

<h2>若江家繼</h2>
<p>若江家繼。延歷二十五年。任典藥允。尋擢內藥正侍醫。弘仁元年。兼尾張權介。</p>

<h2>息長丹生真人文繼</h2>
<p>息長丹生真人文繼。大同四年。任上總介。尋兼內藥正。累遷右京亮右中辨。</p>

<h2>小野朝臣諸野</h2>
<p>小野朝臣諸野。弘仁中為典藥頭。尋補大膳亮。其孫藏根著太素經集註三十卷。</p>

<h2>蘰連家繼</h2>
<p>蘰連家繼。弘仁元年。任大膳亮。轉典藥助。兼越中權介。</p>

<h2>大伴宿禰乎知人</h2>
<p>大伴宿禰乎知人。弘仁五年。自左京亮補典藥助。</p>

<h2>益野王</h2>
<p>益野王承和十三年為尚藥。</p>

<h2>朝原宿禰岡野</h2>
<p>朝原宿禰岡野。山城葛野人。承和三年。任遣唐醫師。</p>

<h2>物部首廣泉</h2>
<p>物部首廣泉。伊豫風早人。少學醫術。博閱方書。為醫博士。兼典藥允。遷侍醫。兼歷伊豫贊岐掾。仁壽齊衡間。為次侍。從改賜姓朝臣。貞觀初。轉參河權守內藥正侍醫並如故。卒年七十六。廣泉醫術。獨步當時。又善攝養。年老皮膚悅澤。體氣強壯。著攝養要訣二十卷。其孫內嗣。元慶中為典藥助。</p>

<h2>蕨野勝真吉</h2>
<p>蕨野勝真吉。壹岐人。承和十二年。任本國醫師。</p>

<h2>大神朝臣虎主</h2>
<p>大神虎主。右京人。大三輪大田田根子之後也。初稱神直。後賜姓大神朝臣。幼而俊辯。極精藥石。承和中為左近衛醫。師擢侍醫。兼歷參河備後掾。貞觀二年。補內藥正。物部廣泉死後。醫名卒歸虎主。素好諧語。嘗制地黃煎。自省中出。途遇其友。問何之。虎主遽應曰。奉天皇命。向地黃處。其滑稽如此。（貞觀十六年。遣伊豫權掾大神宿禰己井豐後介多治真人。安江等於唐市藥。己井恐系虎主之孫。）</p>

<h2>當麻真人鴨繼</h2>
<p>當麻真人鴨繼。為侍醫。嘉祥貞觀間。兼歷越後筑前介。典藥主殿頭阿波介。贊岐權介。伊豫權守。年老請致仕。不許。卒於官。</p>

<h2>清岑朝臣門繼</h2>
<p>清岑朝臣門繼。左京人。嵯峨帝擢為左衛門少尉。累遷上野介右馬助。承和中。歷長門守典藥頭。備後守縫殿頭等。致仕居於難波。</p>

<h2>海直淡路</h2>
<p>海直淡路。天長初敘外從五位下。仁明帝為太子時。患胸痛。痛不可忍。嵯峨上皇聞之召侍臣喻之曰。朕亦曾病此。諸藥不治。及終服金液丹與白石英而得效矣。但石藥峻猛。庸醫多怯。宜詢之良工。乃召淡路。淡路之見適符於上皇。遂進其方。刺痛立除。</p>

<h2>竹田千繼</h2>
<p>竹田千繼。山城愛宕人。少為典藥寮醫生。當讀本草至枸杞卻老。欲試其效。乃多植之。春夏服葉。秋冬食根。又以莖根浸酒而飲之。沐浴亦必用其煮汁。及老不懈。年逾七十。而耳目聰明。顏鬢如壯時。文德帝弗豫。已愈而體羸。侍臣有奏千繼卻老之狀者。帝即召見。擢為典藥允。使培養枸杞時進之。千繼又有吏幹。帝知之。補左馬允直藏人所。卒年百有一。</p>

<h2>海部男種麻呂</h2>
<p>海部男種麻呂。長門醫師。貞觀元年。任採銅師。</p>

<h2>家原善宗</h2>
<p>家原善宗。右近衛醫師。貞觀中為侍醫。後與族鄉好等賜姓朝臣。</p>

<h2>興道宿禰名繼</h2>
<p>興道宿禰名繼。始稱門部連。齊衡三年賜今姓。擢侍醫兼歷駿河介醫博士。遷典藥正。兼能登介次侍從。進典藥頭。</p>

<h2>下毛野殿永（御安）</h2>
<p>下毛野殿永。貞觀中為施藥院使。孫御安為下野權醫師。元慶二年。出羽蝦夷叛。守藤原興世討之。戰屢失利。詔遣御安與雀部茂世援之。三年賊平而歸。</p>

<h2>島田朝臣忠臣</h2>
<p>島田朝臣忠臣。字達音。自修稱田達音。有才學。元慶寬平間。以醫聞。兼名於詩。貞觀元年。奉詔接伴渤海聘使與其副周元伯唱和。歷官越前權少掾少外記因幡權介。</p>

<h2>民首方宗</h2>
<p>民首方宗。右京人。為太宰醫師。貞觀五年。與族廣宅賜姓真野臣廣宅。時為木工醫師。</p>

<h2>和邇部臣宅貞</h2>
<p>和邇部臣宅貞。播磨飾磨人。為本國權醫師。貞觀六年。賜姓邇宗宿禰。</p>

<h2>其日連公冬雄（一作甚目）</h2>
<p>其日連公冬雄。尾張海部人。火明命之後也。為本國醫師。貞觀六年。與族十六人賜姓高尾張宿禰。</p>

<h2>狛人野宮成（貞信記作狛野）</h2>
<p>狛人野宮成。為醫得業生。貞觀中擢侍醫。其孫包坐。延長九年。補施藥院醫師。</p>

<h2>藏史貞野</h2>
<p>藏史貞野。貞觀中為侍醫。尋兼美作權介。後賜姓阪上宿禰。</p>

<h2>五百木部全成</h2>
<p>五百木部全成。為侍醫。元慶二年。兼尾張權介。</p>

<h2>下道門繼</h2>
<p>下道門繼。貞觀中為權針博士。</p>

<h2>大伴村主家人</h2>
<p>大伴村主家人。貞觀中為施藥院使。</p>

<h2>葛城宿禰高宗</h2>
<p>葛城宿禰高宗。陽成帝時為侍醫。兼針博士長門權介。</p>

<h2>常澄宗吉</h2>
<p>常澄宗吉。河內高安人。為安藝醫師。元慶三年。賜姓高安宿禰。</p>

<h2>阿比古氏雄</h2>
<p>阿比古氏雄。仁和中為侍醫。兼針博士。</p>

<h2>阿保朝臣常世</h2>
<p>阿保朝臣常世。昌泰中為典藥頭。（小𧜴氏原姓阿保。蓋常世同族。）</p>

<h2>孔生部富世</h2>
<p>孔生部富世。延喜三年。任太宰府醫師。</p>

<h2>秦公廣範</h2>
<p>秦公廣範。延喜中為越中醫師。</p>

<h2>時原朝臣興宗</h2>
<p>時原朝臣興宗。延喜五年。任左近衛醫師。試博士。延長中。累遷侍醫博士。兼備後權介。其孫維材忠信維材從宮勝忠來學醫。天曆中為權醫博士。兼尾張權介。忠信擢侍醫。天延三年。與清原滋秀治藤原忠義疾有殊效。事聞進爵一等。</p>

<h2>宮勝宿禰忠來（一作宮。或云本姓勝。）</h2>
<p>宮勝宿禰忠來。受業於時原興宗。延長中為權針博士。進醫博士。兼備後介。子春來。為左近衛醫師。尋試博士。子利名典藥頭。</p>

<h2>伴宿禰有道</h2>
<p>伴宿禰有道。學宮勝忠來術。天曆中累遷典藥頭針博士。兼能登權介。其孫盛俊。為典藥生。康和四年。補醫師。</p>

<h2>淡海常那</h2>
<p>淡海常那。承和中為典藥允。</p>

<h2>櫻井宿禰季富</h2>
<p>櫻井宿禰季富。天曆中為侍醫。</p>

<h2>三島貞祥</h2>
<p>三島貞祥。為右近衛醫師。累遷將曹右近將監。</p>

<h2>河內博遠</h2>
<p>河內博遠。為左近衛醫師。康保三年。試針博士。及醫博士。子信通。寬仁元年。任權針博士。孫延通。長和中為侍醫。（官職秘抄載河內正序以醫仕後為大膳進。蓋同族也）</p>

<h2>穴太豐理</h2>
<p>穴太豐理。正歷中為典藥屬。</p>

<h2>行田朝臣文信</h2>
<p>行田朝臣文信。左京人。從清原為時學醫。通本草明堂小品等。補典藥寮醫生。</p>

<h2>大中臣致忠</h2>
<p>大中臣致忠。與行田文信同時為醫。得業生。子親賴。為右兵衛醫師。</p>

<h2>長谷部宿禰永盛</h2>
<p>長谷部宿禰永盛。長元元年。任典藥少屬。</p>

<h2>足羽忠俊</h2>
<p>（足羽系諏訪借字。邦音同此。恐出於大已貴之裔。）</p>
<p>足羽忠俊。永延中為左近衛右馬醫師。子千平。治安中為典藥屬。</p>

<h2>宗盛員</h2>
<p>宗盛員。寬喜中為右衛門醫師。族宗繼為左兵衛醫師。</p>

<h2>長宿禰義信</h2>
<p>長宿禰義信。長德中為侍醫。</p>

<h2>神奴連貞述</h2>
<p>神奴連貞述。長保中為典藥寮醫師。</p>

<h2>調吉近</h2>
<p>調吉近。長保中為左馬醫師。</p>

<h2>大春日遠晴長德</h2>
<p>大春日遠晴長德。為飛彈醫師。長保中進與藥允。</p>

<h2>土師宿禰正忠</h2>
<p>土師宿禰正忠。寬弘四年。任典藥寮醫師。</p>

<h2>刑部武並</h2>
<p>刑部武並。長元六年。任施藥院主典。</p>

<h2>大江安賴</h2>
<p>大江安賴。永承中為典藥寮醫師。</p>

<h2>珍縣主石松</h2>
<p>珍縣主石松。為典藥寮醫師。</p>

<h2>大和諸行</h2>
<p>大和諸行。長保中為施藥院史生。</p>

<h2>藤井宿禰為重</h2>
<p>藤井宿禰為重。為左兵衛醫師。敘正六位上。康和四年。轉典藥大屬。</p>

<h2>三條左近將監</h2>
<p>三條左近將監。建久中為鎌瘡醫師。</p>

<h2>菅野朝臣棟友</h2>
<p>菅野朝臣棟友。元永二年。為典藥少允。子安致。康治二年。敘從五位下。孫盛憲安言。盛憲安元元年。任典藥少屬。安言典藥少允。</p>

<h2>藤原氏</h2>
<p>藤原氏族最繁衍。其歷醫官者亦眾矣。中古典藥寮內藥司施藥院等醫職。諸士雜任。不專於當道。至寬平中罷內藥司。並諸典藥寮。其頭特以醫為之。仁平久壽之間。助亦任自醫。而允屬以下。猶仍舊習。治歷中始咸歸於當道。施藥院使自丹波雅忠為之。以後亦繼為醫士之任。於是職掌始稱矣。如今所舉藤原氏源氏諸人。雖未能知其皆能醫與否。然既歷醫官。則不得不繫於醫。疑以傳疑。謹斯匯載焉。</p>
<p>藤原大繼。歷少納言伊豫介。大判事宮內少輔備前介。左京大夫大藏大輔。大同元年為伊勢守兼典藥頭。</p>
<p>藤原淨岡。大同中自典藥頭。遷筑後守。</p>
<p>藤原道雄小黑麻呂子。有詞才。弘仁九年。為典藥頭。累進參議。</p>
<p>藤原城主下野守楓麻呂子。延歷中為典藥頭。累進中納言。</p>
<p>藤原福當麻呂。內麻呂子。弘仁中歷右少辨典藥頭。兼常陸介。</p>
<p>藤原信賴。寬德中為典藥助。</p>
<p>藤原氏範。承和中為典藥頭。遷遠江守。</p>
<p>藤原時風。師範子。為施藥院使。</p>
<p>藤原師資。正曆元年。任典藥助。</p>
<p>藤原泰憲。寬仁三年。任典藥助。長元中歷左近將監中納言。</p>
<p>藤原俊經。保延三年。舉秀才。五年任典藥助。嘉應二年。遷右大辨。</p>
<p>藤原理中。長和元年。任典藥少允。</p>
<p>藤原章祐。治安三年。任典藥助。</p>
<p>藤原朝輔。為藏人。寬治元年。補典藥助。</p>
<p>藤原知信。知綱子。寬治四年。任典藥助。遷中宮少進藏人助。</p>
<p>藤原盛安。永治二年。任典藥允。</p>
<p>藤原定憲。為典藥助。永治二年。補大學權助。</p>
<p>藤原信重。實義子。為文章得業生。康治元年。授典藥助。歷式部少丞大內記大舍人頭。</p>
<p>藤原為宜。為典藥助。寬治中累遷藏人式部少丞。</p>
<p>藤原資隆。為宜子。康治二年。任典藥助。</p>
<p>藤原為兼。為典藥寮醫生。康和四年。轉醫師。</p>
<p>藤原為範。為藏人。大治四年。任典藥助。</p>
<p>藤原能廣。久壽三年。任典藥助。</p>
<p>藤原維保。仁安二年。任典藥助。</p>
<p>藤原賴時。仁安三年。任典藥助。</p>
<p>藤原行兼。治承四年。任典藥助。</p>
<p>藤原雅成。建仁四年。任醫道。</p>
<p>藤原信經。建保元年。任醫道。</p>
<p>藤原範兼。康治元年。任典藥助。</p>
<p>藤原吉時。康永三年。任右衛門醫師。</p>
<p>藤原國匡。貞和四年。任左兵衛醫師。</p>
<p>藤原達國。貞和四年。任右兵衛醫師。</p>
<p>藤原貞繼。（號意足軒）文明間以醫聞。</p>
<p>藤原氏直歷藏人修理權亮中務大丞氏直覃思。醫方術不讓於顓門。天文四年。後奈良帝麻疹。特詔氏直進藥。</p>

<h2>源氏</h2>
<p>源致親。為清子。為典藥允。又有詞藻。著金葉集。長曆二年。坐藤原實成事。流於隱岐。</p>
<p>源信秀。經賴子。為藏人。長曆二年。補典藥助。遷若狹守。</p>
<p>源家行。寬治中為典藥助。</p>
<p>源康長。延慶中為典藥少允。</p>
<p>源雅能。大治初為典藥助。</p>
<p>蕃醫</p>
<p>粵稽平城以前之醫。多屬歸化。而如智聰之子為和藥使。主億仁之孫為後部藥使。主惠日之裔為難波藥師。答本之為麻田。蜂田之為深根。劉之為丹波。秦之為惟宗。俱有世業顓門之學。故別立傳。而其特系一世者。匯為蕃醫傳。</p>

<h2>金武</h2>
<p>金武波珍旱岐。又稱金波鎮漢紀武。（珍鎮旱漢聲近。本居宣長。云金姓。波鎮新羅爵名。漢岐其王族之號。武名。猶我稱某朝臣某。）</p>
<p>新羅人。允恭帝自為太子時。得疾。艱於行步。即位三年。徵醫於新羅。新羅王遣武為調貢大使兼獻方。帝服之而愈。</p>

<h2>王有稜陀</h2>
<p>王有稜陀。百濟人。欽明帝時。百濟乞師。帝許之。因敕徵醫卜歷學之士。及其書籍藥品。於是百濟貢進醫士王有稜陀採藥師。潘量豐丁有陁及卜歷師等。</p>

<h2>僧勸勤</h2>
<p>僧勸勤。百濟人。通涉諸伎。推古帝時來歸。獻象緯遁甲方術等書。詔令諸生就學。陽胡玉陳受歷術。大友高聰受天文及遁甲。山背日並立受方術。勸勤後任僧正。</p>

<h2>毛治</h2>
<p>毛治。高麗人。自雉中為侍醫。</p>

<h2>缽日比子</h2>
<p>（缽書記作㶱。㶱字字書無所考。今從一本。）</p>
<p>缽日比子天智帝時以精方藥聞。同時有贊波羅金須鬼室集信德頂上德自珍等。蓋皆韓人善醫者。德自珍持統帝時為醫博士。授爵務大參。</p>

<h2>僧法藏</h2>
<p>僧法藏。百濟人。善醫。天武帝弗豫。法藏與益田金鐘奉敕進白朮煎。且為招魂咒而驗。賞賜絁綿布。</p>

<h2>僧鑑真</h2>
<p>僧鑑真。唐揚州江陽人。姓淳于。少從僧知滿講究佛論。最長戒法。嘗於大明寺說法時。我僧榮叡普照等從聘使丹墀廣成在唐遇之。因勸東遊。鑑金乃率弟子祥彥道興與叡照等。泛海阻風而反者再。遂從我聘使古麻呂來化。寓東大寺。鑑真又能醫。治療皇太后弗豫有功。任大僧正。賜備前水田一百町。時未能精西土藥品。鑑真為辨定之。邦人效之。醫道益闢。世傳鑑上人秘方。又祀其像。（李肇唐國史補云。天寶末揚州僧鑑真始往倭國。大演釋教。經黑海蛇山。其徒號過海和尚。）</p>

<h2>僧長秀</h2>
<p>僧長秀。唐人。天曆中歸化。居鎮西。以其良醫術。徵住梵釋寺督僧務。兼給醫事。長秀一日詣桂宮。觀庭樹曰。此真桂心可供藥劑矣。時人始知本邦有桂可用也。長秀撰方書進之於朝。世又傳其香方。</p>

<h2>小手尼</h2>
<p>小手尼。百濟人。不知姓名。善醫。其手纖如嬰兒。故名。稱德帝前陰腫塞。醫艱乎治之。小尼上言請試其手術。右中辨藤原百川不可而止。</p>

<h2>僧惠清</h2>
<p>僧惠清。宋人。投化。居鎮西。能醫。長和三年。藤原清賢為按察納言。遣惠清齎砂金千兩赴宋。求治眼方。</p>

<h2>王鞬南</h2>
<p>王鞬南。元人。投化。居京師。業醫。</p>

<h2>陳宗敬</h2>
<p>陳宗敬。元人。應安初。元亡。投化。居筑前博多。博學通醫方。人稱曰陳外郎。以其曾仕為禮部員外郎云。室町幕府聞其名。召之不應。後從僧無方參禪。改名明照。子孫傳其遺方。所謂外郎透頂香也。</p>

<h2>許儀明</h2>
<p>許儀明。明江右人。投化。居薩摩。為醫。</p>
<p>（按平清盛時。有宋醫闕其名。北條時宗時有朗元房漢章二醫官。恐亦系投化人。而未詳其傳。姑揭名以俟考。）</p>

<h1>前編卷中</h1>

<h2>和氣氏</h2>
<p>桓武帝時。名醫有和氣廣世。後二百餘年。有丹波康賴二氏。世職名播外國。可謂官有世功者矣。</p>
<p>和氣廣世。備前藤木人。其先出於垂仁帝。父清麻呂民部卿。兼造宮大夫美作備前國造。廣世好學。補文章生。延歷四年。坐事禁錮。無幾。特旨除少判事。自式部少輔轉典藥頭。又命兼大學頭。以專督生徒課試。廣世乃遷宅於大學寮南。造弘文院。置書數千卷。又自著藥經大素等以誘掖後進。納墾田三十町以助學資。其篤於所職如此。歷官美作守式部少輔。而大學頭如故。廣世無子。弟真綱生真典子時雨。</p>
<p>時雨從宮忠來受方術。夙有聲譽。承平三年。試左兵衛醫師。天慶中為侍醫。累遷針博士醫博士。天曆十年。擢典藥頭。子正業正世。</p>
<p>正業為侍醫權針博士。進典藥頭。子致賴相法。致賴為典藥頭醫博士。兼攝津守。子元倫。歷典藥頭。兼式部少掾長門守等。</p>
<p>正世歷醫博士典藥頭。療為章親王癰腫效。賞賜綾帛一條。帝歷稱一時人材。曰醫方則丹波重雅和氣正世。正世生相成相茂。而以侄相法為嗣。相法針博士。侍醫。子相賢章親。相賢右兵衛醫師。章親（一名親平。又曰義親。）</p>
<p>典藥允。子相世成貞。相世左兵衛醫師。子成世左近衛醫師。左京亮。子定世（定一作貞。）相賴盛宗。定世侍醫。兼內藏助阿波介。相賴右近衛醫師。盛宗左近衛醫師。　</p>
<p>相成典藥頭。子相秀相任。相秀權侍醫。子相忠延忠。相忠歷左衛門醫師。典藥允侍醫。子秀成權侍醫。兼采女正。一女子生而前陰無竅。乞治於安倍盛親。盛親惶惑。不能下手。秀成以刀割破。遂得為常人。子秀忠。典藥允針博士。</p>
<p>相任右近衛醫師。子信經。子賴政。並從五位下。</p>
<p>延忠從五位下。</p>
<p>相茂歷典藥醫師針博士侍醫。或云本惟宗氏。以正世外孫冒其姓。子永保侍醫。子保世。五位下。</p>
<p>成貞典藥允醫博士。成貞最名。子憲貞貞相。憲貞（號和三。）典藥允。子相正相時盛世。相正典藥允。子相重相永二人。從丹波重基而學。相重左兵衛醫師。</p>
<p>盛正左京權亮。　</p>
<p>貞相歷左京亮采女正。子兼相相清定成。兼相歷內藏。助丹波少掾。子兼業。從五位下。藤原兼實曰。貞相兼相為良醫。然不用於世。可惜矣。</p>
<p>相清典藥允。</p>
<p>相時左京亮。子相元相保相光。相元歷相摸介左京權亮。承安四年。紀伊守某在任病。請治。相元往療之。子相家。子相貞。皆從五位下。</p>
<p>相永曆右兵衛醫師典藥助醫博士。無子。養中原貞說為嗣。貞說從貞相及丹波重長而學。為人豪放。好大言。族人目為狂。不肯許其冒姓。會宇佐祠官有疾。時醫以為癩。律禁惡疾奉祭祀。將奪其職。懼赴京師。請使廷醫。論定己疾。貞說亦與焉。眾醫診畢。退而呈案。貞說曰。吾貧人也。家無方書。退案何為。即席書狀。以為祠官疾白癜非癩。考徵精確。眾莫能難。祠官賴獲不廢矣。二條帝大賞之。特賜和氣氏。補諸陵頭。安元二年。後白河上皇患瘡。丹波憲基傳鹿角大黃類。荏苒不差。又將灸之。貞說診曰。此小瘡。何用灸為。臣有小膏。貼之愈。不出三日矣。上皇命獻之。果如其言。治承二年。轉長門介。亡幾卒。子貞經貞村。貞經歷權侍醫醫博士。兼采女正內藏助等。文曆元年。四條帝患腳氣腫及大腹。證候甚惡。諸醫勸灸。貞經獨以為不可。帝卒弗用灸而愈。子貞利貞宗貞衡貞基貞幸有貞貞尚。貞利右近衛醫師。</p>
<p>貞宗建仁三年。擢侍醫。兼歷采女正。駿河權介左兵衛醫師等。子貞光貞兼。貞光歷主殿介權針博士典藥介。貞兼大學權輔。</p>
<p>貞基權侍醫典藥助。子貞朝典藥助。兼大膳權亮。</p>
<p>貞幸典藥權助。兼內藏助。藤原定家年老患中風。貞幸治之得全。子貞親貞茂兼仲。貞親歷圖書頭隼人正大炊助女醫博士針博士等。</p>
<p>右貞左京亮。承久三年。後為羽上皇隱岐之狩從焉。</p>
<p>貞尚子貞並從五位上。</p>
<p>定成歷醫博士侍醫典藥頭。兼織部正。近江權大掾。因幡介丹波介等。仁安二年。鳥羽上皇病瘍。丹波重長療之不差。定成乃詳病狀變遷。及消息之方。奏之。上皇納之。卒有效。承安二年。高倉帝患瘍。定成和麥門冬大黃散貼之有效。安元中侍大後病於熊野行宮。亦有效。養和元年。奉敕著合藥方。和氣氏中世被藤原氏抑制。衰微不振。雖有良工。遂無聞焉。及至定成。醫名隆起。官爵超父祖。稱為中興。子定長定良時成正基定康定親。定長曆女醫博士。權侍醫。兼諸陵頭參阿權介美作權介主稅寮等。定良有才學。因平清盛請著醫方抄。養和元年。敕當時名醫五人撰方書。定良與焉。別著療治方。歷諸陵頭備中介相摸介。子定雅長成。定雅稱藥院入道。長成歷權侍醫施藥院使典藥介。兼丹波大掾等。晚削髮。曰寂信。寬喜二年東一條大後弗豫。召診。寂信曰。原病雖平。水氣將發。恐難為矣。既而果然。子忠成師成清成師有。忠成歷典藥允主計頭。修理權亮等。子忠有。師成。歷侍醫典藥允。兼織部正主計頭等。文永九年。與種成同侍後嵯峨上皇弗豫有功。後與丹波忠茂俱療春宮癉病。子成繼。</p>
<p>清成筑前守。</p>
<p>師有歷典藥權介主稅助等。</p>
<p>定親歷醫博士針博士圖書頭隼人正等。</p>
<p>時成歷侍醫典藥頭。兼丹後介織部正等。建久二年。中宮喉痹。時成針之而愈。七條大後弗豫。時成灸之而愈。元久二年。後鳥羽上皇弗豫。時成藥治之而愈。承元二年。大後病腳氣。困悶極矣。時成灸之而愈。藤原定家腰痛。熨之增劇。時成診曰。此濕浸腰也。治屬腳氣。非火熨之所宜。乃作湯藥浴之而愈。子基成清成親成知成氏成。基成歷侍醫典藥頭內匠頭等。子能成宗成。能成歷下總權介侍醫主計頭等。貴戚有疾。醫為處方。中有樟柳根。人不知為何物。問能成。能成曰。商陸一名樟柳。人服其家學有素。正嘉元年。後深草帝弗豫。御能成藥而愈。子成繼以成。以成侍醫兼能登介。子康成侍醫。</p>
<p>宗成歷玄蕃頭大藏少輔等。子冬成。歷侍醫。下總權介縫殿頭采女正等。子理成。歷采女正圖書頭。</p>
<p>正基歷權醫博士侍醫。兼主殿助織部正等。或患腳腫。正基用火針治之。子有成。歷女醫博士典藥介。兼玄蕃頭進侍醫。建長七年。奉後鳥羽上皇藥有效。賜良馬及物。子遠成季成泰成。遠成擢侍醫。轉周防守。季成歷針博士。典藥權助。兼伯耆介等。泰成權醫博士。子連成。亦權醫博士。</p>
<p>定康為女醫博士。藤原定家病瘍不差。定康以鹿角屑貼之即愈。子光成顯成。光成歷女醫博士典藥頭。兼圖書頭等。顯成典藥權介。子直成。歷典藥權介醫博士。兼縫殿頭等。</p>
<p>清成歷侍醫典藥頭圖書頭。子尚成賴成。尚成侍醫兼大膳亮。子弘成。歷典藥少允侍醫圖書頭等。子藤成。歷侍醫兼采女正三河權介等。賴成典藥少允。兼三河權守。子利成玄成富成。利成三和權守。子晴成治成。晴成織部正。治成但馬權守。富成歷典藥助大舍人頭。</p>
<p>親成典藥權介兼織部正。後削髮曰淨觀。僧覺寬咽喉腫塞。七八日滴飲不下。煩悶瀕死。淨觀為刺其喉出膿。升余立愈。子伊成種成彌成親時員成。伊成歷木工助丹波大掾。子經成。歷典藥權助女醫博士大舍人頭。織部正等。子篤成。歷典藥頭大膳大夫彈正大弼等。特受花園上皇寵。</p>
<p>彌成從五位上。</p>
<p>知成歷典藥權助越前介內匠頭縫殿頭等。子為成蔭成國成夏成常成。為成歷女醫博士侍醫典藥頭甲斐守等。子仲種明成。仲種典藥權助。蔭成歷權針博士典藥助縫殿頭長門權守等。子時名章成仲成。時名針博士。子時夏。權針博士。章成典藥權助。子彌成。侍醫兼三河權守。仲成歷醫博士典藥權介施藥院使丹波介長門守宮內卿等。貞和元年。後醍醐上皇弗豫。仲成與丹波知長治之。進階賜良馬及服。</p>
<p>國成典藥少允兼三河權守。子全成。典藥頭兼大膳大夫。正和中。屢奉御藥。</p>
<p>夏成歷權針博士權醫博士兼丹波權守施藥院使大膳大夫等。子英成。針博士兼修理大夫。正和三年。伏見上皇患痘瘡。英成與丹波長直侍診有效。賜馬及服。子益成致成。益成歷侍醫典藥頭兼宮內卿。子匡成繁成廣成。匡成施藥院使兼彈正大弼。子房成。典藥權介兼左京權大夫。子有成。治部大輔。</p>
<p>繁成典藥頭兼彈正大弼廣成典藥頭施藥院使。</p>
<p>氏成歷典藥允侍醫兼丹波大掾玄蕃頭圖書頭等。文永十年。春宮病黃癉。氏成與春成調御藥愈。各有賞賚。將軍藤原賴經有疾。請醫於京師。氏成當選而往。子仲成利成蔭夏。仲成典藥權助兼主殿介。子久成岑成。久成侍醫。岑成權侍醫。</p>
<p>利成典藥權介。</p>
<p>蔭夏典藥權助。子成綱仲知。成綱典藥權介。子仲尚。歷權侍醫兼左馬頭典藥大允隼人正等。子繁氏丹波守。仲知針博士。兼伯耆權介。</p>
<p>種成歷侍醫醫博士典藥權助兵庫頭等。後嵯峨上皇使種成及惟宗時俊文宿直。種成尤被寵遇。每御其劑。上皇崩後。削髮曰佛種。子春成延成仲景。春成侍醫縫殿頭。文永中。春宮病黃癉。春成與氏成奉藥有效。</p>
<p>延成侍醫。</p>
<p>仲景歷權女醫博士典藥頭大膳大夫隼人正等。晚削髮曰景覺。子弘景音成嗣成。弘景歷女醫博士隼人正圖書頭等。晚削髮曰覺種。僧虎關疾。室町幕府特命覺種治。覺種無子。以嗣成為嗣。嗣成歷典藥權介施藥院使兼下總權介典藥頭侍醫等。足利直義夫人體氣異常。詢治於醫。諸醫或以為風。或以為氣。紛紜不決。嗣成診曰。此妊也。非疾也。何以藥為。諸醫詬曰。甚矣嗣成之為諛也。夫人原乏生育。今齡逾四旬。豈復有孕理。既而果舉男矣。直義大喜。割其邑以報之。子全繼。典藥頭彈正少弼。</p>
<p>音成權針博士織部正。</p>
<p>員成侍醫兵庫頭。子時定時通房成。時定權侍醫。時通侍醫玄蕃頭。房成侍醫兼肥前介織部正。子時員。權侍醫大舍人頭。</p>
<p>常成歷權女醫博士侍醫。兼宮內少輔。播磨權守典藥頭。施藥院使大膳大夫兵庫頭等。常成家藏萬卷。嘗患兵燹。請納於秘庫。亡幾秘庫災。累世方書。蕩無遺燼。世深惜之。常成無子。養從子明成為嗣。歷侍醫典藥頭施藥院使。兼宮內少輔甲斐權守右馬權頭刑部卿等。子茂成。後改明茂。歷侍醫典藥頭兼大監物宮內卿等。晚削髮曰常茂。子尚成。後改時尚。歷權侍醫治部少輔宮。少輔無子。養丹波明重為嗣。明重伎名蜚著。歷施藥院使典藥頭。兼甲斐守。晚削髮曰宗鑑。（號半醒軒）敘從三位。子明孝。歷施藥院使權侍醫典藥頭。兼甲斐守。宮內少輔兵庫頭治部卿等。晚削髮曰宗乘。敘正三位。子明名。權侍醫施藥院使。從三位。</p>
<p>致成典藥頭。子邦成良雨。邦成歷典藥頭施藥院使。兼宮內卿等。子保成。施藥院使。良雨子茂成。皆典藥權助。利長本明重門人。明重愛其才。以為義子。任刑部少輔。晚削髮曰道三。子明親。後改真長。削髮曰證玄。號蘭軒。後敕稱春蘭軒。永正中航海赴明。從熊宗立學醫。子明英。歷兵庫助宮內大輔修理大夫等。以治皇女之功。進從三位。晚削髮曰壽林。（號閒潚軒）壽林家於施藥院之故地。有大井界為二。一供醫事。一充家用。因號曰半井。而子孫遂以為氏。子明親明貞。明親通稱機庵。任宮內大輔。子瑞策。初名光成。通稱驢庵。又稱通仙軒。任宮內大輔。瑞策醫術越於父祖。正親町帝嘉之。因其自稱。敕賜號通仙院。又以秘庫所藏丹波康賴醫心方賜之。特班諸醫上。織田豐臣二氏皆善待之。信長在京師。常館其家。有近江人某聞其能。試使診己。瑞策曰。子身無所病。而脈見死候。恐有不虞之事。子其慎之。明日果死於軍。世以為神。時曲直瀨正慶術重於時。而瑞策與之齊譽云。子瑞桂。後改任。世亦稱驢庵。神祖在駿府召而見之。又見臺廟於江戶。後水尾帝敕襲父號通仙院。子瑞壽亦稱驢庵。數療猷廟疾。每奏奇效。恩寵無比。加祿至千五百石。時幕府醫官皆削髮敘法印法眼。惟瑞策特請復祖先爵位。故至今子孫仍之。門人清水瑞室。江藤宗元。山下宗琢。皆任幕府。瑞室尤著聲績。</p>

<h2>丹波氏</h2>
<p>丹波康賴。丹波矢田人。其先出於漢靈帝。靈帝五世孫曰阿智王。應神帝時避亂。率母子及其黨七人歸化。帝封之於大和國檜隈郡。以為使主。其子都賀。改賜姓直。有二子山木志努。志努別賜族阪上。出居丹波國。子駒子。子弓束。子首名。子孝子。子大國康賴。大國子學醫。其術特精。賜姓丹波宿禰。歷宮針博士左衛門佐。兼丹波介。天元五年。著醫心方三十卷。其書捃摭隋唐方書百餘家。每門發以巢元方病源候論。而主療諸方次之。至於本草藥性。明堂孔穴。養生服石食餌等。靡不具載。稱為本邦方書之府庫。永觀二十一年。書成卷。奏進。又以課試諸生。子孫奉為家法。二子重雅（雅一作明）清雅。重雅歷典藥頭權針博士右近衛醫師。兼丹波守兵庫頭掃部頭主殿頭大舍人頭穀倉院別當等。貞元中源賴光病瘧。重雅診曰。夏傷暑而秋病瘧。自然之勢。而諸瘧多生於風。方宜驅風濕。乃與其劑而愈。寬弘八年。藤原行成患痢。重雅以灸治之。子忠明。歷權針博士醫博士典藥頭侍醫兼丹波守等。敕改姓。朝臣長德中安倍晴明謂藤原道長曰。某日府中當有怪異。謹而避之。至期道長杜門謝客。獨延源賴光晴明忠明及僧勸修自守。是日大和國獻瓜。道長意疑。未輒食。晴明為卜之曰。瓜中有毒。於是觀修唱咒。瓜跳轉不止。忠明針之乃止。賴光以刀斷之。內有小蛇。針中其目。刀中其頭。道長大喜。厚加贈貽。瀧口諸士。使僕於外過神泉苑。會暴雨迅雷霹靂。僕畏而昏絕。其主謀之於忠明。忠明曰。此必見龍而死也。教使埋於熱灰中。有頃而蘇。問之。果如其言。長元元年六月。後一條帝患馗疾。忠明以柳湯淋之而愈。其秋帝又患腰痛。忠明曰。風疾也。宜浴藥湯。且以厚朴磨汁服訶梨勒丸。不日而安。當世重其術。子雅忠。長元七年。試典藥頭補右衛門佐。永承中為丹波介。任滿而還。時後冷泉帝弗豫。命雅忠上藥有效。遷丹波權守。又療關白藤原某發背頓差。某喜之。為奏補施藥院使。施藥院專任當道。自雅忠始也。承歷中高麗王妃疾。王贈書於大宰府。以厚幣求良醫。時以雅忠擬選。朝廷以其書辭失禮卻之。而使大宰府報牒。內有扁鵲何入雞林之云之語。自是世稱雅忠為日本扁鵲。初朱萑帝患癰。侍醫療以射水和氣。相成曰。病差矣。止射水而可。雅忠時尚弱冠。與診人或問之。曰。恐不可。為矣。亡幾帝崩。雅忠嘗俟客在堂時。乞診者踵接門外。雅忠遙望之。指為其人曰。彼有某疾。彼有某疾。及皆坐詢之。無一或錯。有間。安倍吉平至。雅忠為置酒。吉平促釂曰。急之地震將起。雅忠以為戲。須臾震起。時以為兩奇矣。雅忠嘗夢神謂己曰。汝曾祖康賴懇誠祈我。我為護方書久矣。今數將災。汝戒之。雅忠驚覺。遽收方書。遂免災云。永保中。雅忠就晉唐方書摘錄救急之方。著醫略抄。二子忠康重康。忠康試醫博士。為侍醫。治歷中兼近江大掾。歷典藥頭。備前守主稅頭等。子雅康。歷針博士醫博士。權侍醫。一時併兼丹波介。掃部頭。越前權介。兵庫頭。典藥頭五官。鳥羽上皇虛羸善病。雅康灸肩數穴。大驗。賞賜良馬。又屢上藥於女院。及中宮每有效。子實康經康。實康歷女醫博士醫博士侍醫。兼主稅頭但馬權介女宮別當等。實康能審生死。僧寬救病疽。診曰。病難起。不出旬日矣。卒如所度。藤原賴長贈馬賞之。</p>
<p>經康歷針博士侍醫。兼大舍人頭主稅助近江掾等。平中法王患發背。經康治之有殊效。分其封丹波野田莊賜之。子雅長。歷侍醫。兼越前權介參河介等。</p>
<p>清雅權侍醫兼丹波介。子為茂。歷針博士侍醫圖書頭。子為清。歷針博士侍醫。兼采女正。子忠茂。子為賴。子秀賴為資為秀。秀賴歷右兵衛醫師右衛門佐。子胤秀行秀。胤秀大炊助。子秀正。大膳亮。子清秀。</p>
<p>為資右兵衛醫師。子資秀。</p>
<p>為秀左兵衛醫師。子親秀。右兵衛醫師。子有秀。子雅秀行秀。掃部助。</p>
<p>重康歷施藥院使醫博士侍醫。圖書頭兼土佐介丹波介。名亞於父兄。嘉承中堀河帝患頸腫。重康與安倍盛親議上藥奏功。子重賴重基重忠。重賴權醫博士。天永二年。中納言藤原宗忠患癰疽。重賴治之效。子基康。歷權侍醫典藥頭。兼越後權介。女宮別當主水正近江少掾等。久安五年。鳥羽上皇弗豫。基康治之而安。兵部卿信範患瘡。基康刺之而愈。子賴基經基知基康氏基明。賴基歷施藥院使典藥頭女醫博士侍醫。兼越後權介但馬權守等。安元二年。皇大後病瘡。和氣定成療之將差。賴基診曰。毒深恐再發。不若以艾灸潰爛之。盡毒於一所也。定成不可。瘡果復發。藤原基通患鬢疽。賴基治之。又治源賴朝齒痛。賴基景明經穴。養和元年。奉敕著藥種功能抄。子長基。典藥頭施藥院使。子賴季賴賢時長忠長季康。</p>
<p>賴季學術冠時。性謙讓。不與人競。散位有年。後歷權醫博士典藥頭施藥院使。子光基季基長幸。光基歷權侍醫典藥頭施藥院使。兼主稅頭穀倉院別當丹波權介等。子篤基。歷典藥頭施藥院使。兼兵庫頭治部卿侍從等。觀應三年。從光嚴帝及二上皇於芳野行宮。子長直基幸篤直。長直（初名長高又曰長職）歷典藥頭施藥院使權侍醫兼內藏頭主稅頭宮內大輔等。屢治上皇及後醒醐帝弗豫。每有效。以故官特超於同族。子基直直房成長。基直施藥院使典藥頭。子篤忠。權侍醫。</p>
<p>季基從四位上。</p>
<p>長幸權侍醫。</p>
<p>基幸權侍醫。兼玄蕃頭。子幸親。</p>
<p>直房典藥頭。子篤房。</p>
<p>成長權侍醫。</p>
<p>重基歷權醫博士權侍醫典藥頭施藥院使。兼丹波權守主稅頭女宮別當美作權介等。大治五年。關白忠通病癤。大如柑子。痛徹骨節。不能轉側。重基灸之三十七壯。痛頓減。次日膿潰而愈。又治鳥羽帝及崇德帝弗豫奏效。子知康憲基親基以忠。知康歷權針博士兼丹波介。主稅頭安藝權介等。承安二年。伊勢齋宮患痢。知康奉詔往治之。知康學術聲名。並超時輩。而官途蹭蹬。終不得任典藥頭。安元初致仕。削髮曰覺蓮。然宮中有病。則必召診焉。養和元年。奉敕著灸穴取對法。子信康。權醫博士兼因幡權介。文治五年。治後鳥羽帝頭瘡效。賜賞甚厚。子雅繼。土佐權守。子家幸。左近衛醫師大舍人助。</p>
<p>重忠歷針博士醫博士施藥院使侍醫典藥頭主稅頭等。子重成長重。重成歷醫博士典藥頭施藥院使。兼因幡介。丹波介。主稅助出雲權介等。子重能。歷醫博士兼但馬介內匠頭。</p>
<p>長重歷醫博士侍醫典藥頭內匠頭主稅頭。仁安二年。上皇病瘡。眾欲灸之。重長與和氣定成共難之。遂以大黃貼瘡而愈。賞賜良馬。承安二年。又治高倉帝瘍有效。子重綱康長康光有忠。重綱侍醫。子重俊。</p>
<p>經基歷典藥頭權侍醫女醫博士施藥院使兼右兵衛佑圖書頭等。文治二年。右大將藤原良通患瘧。經基作桂心湯。臨發服之。又以附子散傅背而愈。子憲經良基經長雅幸。憲經侍醫圖書頭。子憲俊。從五位下。良基權侍醫施藥院使。經長初名有經。歷權侍醫施藥院使典藥頭兼兵庫頭內匠頭圖書頭等。關白藤原道家患熱腫。經長治之。又與經忠長忠賴季同治上皇瘡。屢效。子長隆尚長季長。季長典藥助。</p>
<p>雅幸權針博士。</p>
<p>知基典藥助。子基兼。典藥助侍醫。子基定。權女醫博士尾張守。子利康幸基。利康歷女醫博士。兼玄蕃頭出雲權守等。子棟康冬康。棟康權侍醫大膳大夫。子親康。權侍醫修理亮。子英康。越中守。</p>
<p>幸基從五位上。</p>
<p>康氏子雅章忠氏。雅章子賴章忠氏。能登權守。子長氏。典藥助。</p>
<p>基明權女醫博士。子基邦。土佐權守。</p>
<p>憲基歷權針博士施藥院使侍醫。兼伯耆介等。承安三年。皇大後患瘡。一時壅腫。眾驚詫。以為癰疽。憲基後至。曰。灸瘡耳。以藥傅之。不日愈。又治六條帝及大後弗豫。皆驗。右大臣藤原兼實深信憲基術。族人疾病。皆托之治。養和元年。奉敕撰病源抄。子伊基。施藥院使權針博士。子尚基。初名高成。權針博士雅樂頭。子高基雅尚。高基典藥大允近江守。子顯基。雅尚典藥權助。子尚能。　　親基典藥權助。子忠憲。大學助。寬元嘉禎間以醫給事於鎌倉幕府。子賴憲。子雅憲。</p>
<p>以忠但馬守。子以長成長。以長典藥少允雅樂頭。居鎌倉。子憲長。大膳權亮。子種長。子英基。並權侍醫。</p>
<p>成長曆雅樂頭。因幡守。子以基。權侍醫河內守。子統基。典樂權助。</p>
<p>康長筑前守。子康隆。典藥大允。子重氏。典藥頭。兼長門權守。子典長。氏俊。典長曆典藥頭雅樂頭。子長氏。歷典藥助掃部頭。子長世。歷典藥頭彈正大弼右馬頭。子重世。典藥頭。</p>
<p>氏俊歷典藥助尾張守。</p>
<p>康光雅樂助。子重宗。修理亮。子重有忠英。重有歷日向守內藏助。忠英權侍醫大監物。</p>
<p>有忠歷針博士醫博士典藥頭。兼因幡介大舍人頭等。子長忠忠俊。長忠歷權醫博士典藥頭圖書頭主計頭等。寬元中阪東有水醫者。以水攻為治。長忠與知成作文駁之。又與經長治後嵯峨上皇瘡效。建長元年春。上皇患下利。秋又病喉痹。長忠皆上藥愈。子忠茂忠賢長有。忠茂歷針博士醫博士施藥院使典藥頭兼圖書頭近江大掾采女正等。寬元四年。上皇患瘍。忠茂侍藥有功。賜衣及佩刀。文永十年。春宮病黃疸。與和氣氏成療之有效。忠賢權侍醫主稅助。忠俊典藥權助玄蕃頭。子重秀。與重俊子忠季。皆典藥權助。賴腎典藥權助兼內匠頭。子賴光長賢長季。賴廣從五位下。長賢大膳亮。子長利。從五位下。長季備後權守。</p>
<p>時長曆典藥頭權侍醫兼織部正兵庫頭等。正治元年。將軍源賴朝女病瘟。使人請時長。時長往鎌倉診之。與硃砂丸。病差食進。賴朝大喜。時長曰。病雖頗減。羸憊已甚。且目上臥蠶起。尤為凶候。恐難保全。亡幾死。子長世時典康世。長世歷權侍醫兼玄蕃頭典藥權介。兼內匠頭施藥院使。建長文永間掌鎌倉醫藥。文應元年。療宗尊親王痢疾有效。奏加階一等。子時世。歷施藥院使典藥權助。兼內匠頭等。子貞世貞基。貞世主殿助。子季茂。</p>
<p>貞基同兄職。子貞茂。</p>
<p>忠長侍醫織部正。子忠時。掃部助。長光歷施藥院使穀倉院別當隼人正。</p>
<p>子長周時躬時香。長周歷施藥院使內藏頭。子長春。權侍醫隼人正。子長秋。</p>
<p>時躬典藥頭大藏少輔。時香權侍醫。</p>
<p>季康典藥權助雅樂頭。子忠賴康家。忠賴典藥權助。子忠景。典藥頭主計頭。子忠行康景。忠行兵庫頭大膳大夫。子賴景。典藥頭左京權大夫。子季景。典藥頭縫殿頭。子季長。子季益。</p>
<p>康家修理亮。子康經。典藥助雅樂頭。</p>
<p>康景從五位下。子賴賢。</p>
<p>長隆後改廣長。歷施藥院使兼內匠頭大監物等。子廣茂廣良。廣茂權侍醫大監物。子藤長。薩摩守。子德長。大監物。子維忠。內藏助。</p>
<p>廣良大膳良。子良忠。石見守。修理亮。子賴典。權侍醫。</p>
<p>尚長曆典藥頭施藥院使侍醫。兼大監物大膳大夫。出雲權守等。後嵯峨帝弗豫。尚長上藥效。子行長守長。行長曆典藥頭施藥院使。兼穀倉院別當左京大夫兵庫頭伯耆介等。正應元年。著衛生秘要抄。子尚康尚忠。尚康歷典藥頭施藥院使。兼大膳大夫織部正等。子知長行宗兼行。知長曆典藥頭施藥院使。兼中務大輔加賀介等。貞和元年。上皇弗豫。知長與和氣仲成奉藥愈。各有賞賚。子嗣長。歷典藥頭施藥院使。兼中務大輔。子定長。歷典藥頭施藥院使。兼右馬頭刑部大輔等。子盛長。歷典藥頭施藥院使。兼兵庫頭刑部卿丹波權守等。子成長。歷施藥院使典藥頭侍醫。兼宮內權少輔大膳大夫等。子利長。刑部少輔。子保長。</p>
<p>守長典藥助。子行定。美濃守。</p>
<p>尚忠歷侍醫隼人正內藏權頭等。</p>
<p>兼行子季長。歷典藥頭施藥院使大膳大夫。</p>
<p>冬康歷典藥頭。兼左京大夫大膳大夫藏人少輔等。冬康長於口科。花園帝病齲齒。冬康請去其齒。眾醫不可。痛益甚。帝遂從其請。齒痛不再。子師康。針博士內匠頭。子兼康。歷典藥頭侍醫左京大夫等。亦善口科行於世。晚削髮曰善恭。子定康賴定。定康典藥頭宮內卿。子有康。典藥頭施藥院使。子治康。施藥院使左京大夫。子親康。</p>
<p>篤直典藥頭。子重直雅冬。重直初名季直。歷典藥頭施藥院使治部卿。子賴宜。後改幸基。典藥頭。子篤忠。正三位。子定基。亦正三位。子季直。典藥頭。子盛直。</p>
<p>雅冬典藥助。</p>
<p>長有歷典藥權助。左京大夫。施藥院使典藥頭等。子長季忠守。長季典藥頭。兼采女正。子長博。權侍醫。兼采女正。子季博。權侍醫。子長平。</p>
<p>忠守歷權侍醫典藥頭施藥院使宮內卿兵庫頭左京等。致仕稱寂阿。子雅守。彈正少弼。</p>
<p>賴定典藥頭施藥院使。子賴豐。同父職。子賴秀。歷典藥頭施藥院使。左京大夫宮內卿等。子賴量。歷施藥院使治部卿左京大夫等。子賴直。典藥頭施藥院使。子賴景。同父職。子賴慶賴元。賴慶典藥頭。子賴重。</p>
<p>時典歷典藥頭玄蕃頭。子長典長朝。長典歷女醫博士大膳大夫雅樂頭兵庫頭等。子親典忠時。親典大藏權少輔。子親時。左近將監。子忠親。</p>
<p>長朝典藥頭兼主計頭。</p>
<p>忠時歷施藥院使宮內大輔。子忠世。兵庫助。</p>
<p>康世權侍醫。子光世。典藥權助兼大炊權助。子師世篤世。師世歷典藥助土佐守。子幸世。歷大炊助肥後守。篤世歷典藥權助施藥院使。子高世。大炊助。子時藤。左近將監。</p>
<p>盛直之後為錦小路氏。賴豐之後為小森氏。賴基之後為吉田氏。兼康之後為金保氏。相承祖業。今皆為京師及幕府醫官。</p>

<h2>惟宗氏</h2>
<p>惟宗氏出於丹波氏之門。奕世傳業。媲美於和丹二氏。他如清原中原小槻菅原安倍紀諸氏。皆儒而兼醫者。亦並以傳焉。</p>
<p>惟宗氏本姓秦。始皇十二世孫。功滿王之後也。有公直者賜姓惟宗朝臣。子孫因以為族。數世曰俊雅。從丹波忠明學醫。為近江掾。子俊通。有才學。深造醫理。擢侍醫醫博士。博士之職。和丹二氏遞掌之。他人弗獲與焉。而俊通特任之。蓋異數云。承歷中高麗國請醫。丹波雅忠廌俊通。曰奉命於外國。非斯人不可。朝議亦以為然。會事中止而不果。俊通曆丹波介土佐權助。采女正。子季俊俊忠保通。季俊從丹波重基學。年七十。任女醫博士。轉衛府醫師。子清直行俊盛俊貞季為俊。清直典藥頭左近衛醫師。子基弘。左京亮。子基政。內藏助。子基教。歷但馬守大學助。子俊經。下野權守。</p>
<p>俊忠女醫博士。</p>
<p>保通曆采女正山城介。子時通。內藏助。子經俊。左近衛醫師。子久俊重俊資俊昌俊良俊。久俊右近衛醫師。子幸俊俊嗣。幸俊左兵衛醫師。子遠俊。行俊子國重惟俊直成。國重河內權守。子吉國。子光吉。歷權侍醫典藥權介內藏權頭。右京權大夫。光吉博學多通。奉敕選續古今風雅集。子光雅。西花門院藏人。子光庭。小內記侍醫。子光之。右京權大夫。子光方。</p>
<p>盛俊左近衛醫師。</p>
<p>貞季典藥允。子貞俊。左兵衛醫師。</p>
<p>為俊亦從丹波重基學。歷右衛門醫師兼能登守。</p>
<p>重俊右京亮。子教俊。子守俊。</p>
<p>資俊內藏助。子景俊。雅樂頭。</p>
<p>昌俊從五位下。子昌盛。子諸俊秀俊。諸俊周防守。子行範。</p>
<p>秀俊對馬守。子季基。右近大夫。</p>
<p>良俊下野權守。晚削髮曰行蓮。子良重時俊良國良任。良重長門權守。子景俊。典藥允。</p>
<p>俊嗣左兵衛尉。子孝俊。筑後守。</p>
<p>時俊歷典藥權助玄蕃頭。正應四年。以針刺藤原實躬父腳疾愈之。永仁九年。著醫家千字文。子廣俊貞俊。廣俊歷典藥助玄蕃頭采女正等。子康俊。能登權守。</p>
<p>貞俊歷筑前守刑部少輔。玄輝門院藏人。</p>
<p>良國修理亮。子孝俊。歷兵庫助筑前權守。</p>
<p>良任典藥少允。子長俊。內藏權助。</p>
<p>惟宗俊國。長久四年。擢侍醫。治歷二年。兼但馬權介。</p>
<p>惟宗利通為侍醫。</p>
<p>惟宗賴助。永承二年。擢侍醫。天喜中兼石見介因幡權介等。</p>
<p>惟宗永保。左近衛醫師。</p>
<p>惟宗經雅。永承中典藥允。</p>
<p>惟宗嘉成。天喜中左兵衛醫師。</p>
<p>惟宗則友。延久元年。擢醫師。</p>
<p>惟宗俊則。永保元年。任典藥大屬。</p>
<p>惟宗俊永。延久元年。任典藥醫師。</p>
<p>惟宗助言。永保元年。任典藥少屬。</p>
<p>惟宗盛忠。左衛門醫師。</p>
<p>惟宗清俊。應德元年。任左兵衛醫師。</p>
<p>惟宗季政季忠清則。康和元年。同時任典藥醫師。</p>
<p>惟宗信俊。保安元年。任權醫博士。</p>
<p>惟宗友清。保安中歷右衛門醫師典藥少允。</p>
<p>惟宗盛言。大治中從六位下。</p>
<p>惟宗成宗。長承二年。敘從五位下。</p>
<p>惟宗定信。保延六年。任典藥少允。</p>
<p>惟宗俊基。康治中歷左兵衛醫師典藥少允。</p>
<p>惟宗成俊。保元元年。任典藥允。</p>
<p>惟宗時基。保元四年。任右兵衛醫師。</p>
<p>惟宗實茂正繼。寬喜元年。同任典藥允。</p>
<p>惟宗成光。寬元中歷左衛門醫師典藥大屬。</p>
<p>惟宗景良。建長中典藥允。</p>
<p>惟宗國光。弘長中左衛門醫師。</p>
<p>惟宗久經。右衛門醫師。</p>
<p>惟宗盛久。左兵衛醫師。</p>
<p>惟宗具俊。弘安七年。著本草色葉抄。又著醫談抄。</p>
<p>惟宗重光。弘安七年。任典藥權大允。</p>
<p>惟宗俊職。弘安中典藥少屬。</p>
<p>惟宗康直。延慶元年。任典藥大屬。</p>
<p>以上惟宗氏散見諸史。而其世次不詳。故附於後。</p>

<h2>清原氏</h2>
<p>清原真人清海。承和十四年。任典藥頭。</p>
<p>清原真人致貞為典藥醫師。寬治中歷少屬少允。</p>
<p>清原滋秀。歷侍醫典藥頭。天延二年。奉詔赴內野官庫鑑視藥材。滋秀用心於銖量。每日合藥最須審權量。譬如返魂香一銖有差。則魂不能返也。</p>
<p>藤原忠義有病。久而不痊。滋秀診之。霍然見效。三條中納言某苦肥胖。詢之滋秀。滋秀曰。夏月水飯。冬月湯飯。務清其中。久久必有驗。他日又詢曰。吾奉子教。不少見效。何也。滋秀乃請視其食。則豐羞滋膳。飯少加水耳。滋秀嘆曰。如此水飯。何益之有。走而出。</p>
<p>清原為時歷醫博士典藥頭。兼丹波介。長保四年。為章親王病癰。為時與和氣正世治之。為時嘗謁兼明親王。會王觀庭花。憑欄吟詩。誤以棣棠為款冬花。為時問曰。何人所作。王曰。一士於朱。雀院所賦。吾以為佳句。何如。為時曰。佳則佳。然本草款冬花冬開。恐非春花。親王乃悟。嘆曰。博識之前。不可易言也。</p>
<p>清原友親。保安二年。任典藥大屬。康治元年。兼丹波掾。</p>
<p>清原知政。從和氣重成學。為右近衛醫師。</p>
<p>清原宗友。仁和三年。任典藥大屬。</p>
<p>清原為近。與宗友同任。</p>
<p>清原友重。仁安三年。任左衛門醫師。四年轉典藥允。</p>
<p>清原友季。仁安中典藥少允。</p>
<p>清原友宗。仁安中典藥少允。</p>
<p>清原吉勝。康永三年。任左兵衛醫師。</p>

<h2>中原氏</h2>
<p>中原信季。承歷四年。任右衛門醫師。</p>
<p>中原信秀。為典藥少屬。寬治元年。轉大屬。</p>
<p>中原宗行。永保元年。任典藥權允。康和中補權侍醫兼石。見介。</p>
<p>中原廣行。典藥少允。</p>
<p>中原貞義。保安元年。任左近衛醫師。</p>
<p>中原友光。為典藥少允。轉大屬。遷大允。藤原賴長患癧瘍。浸淫遍體。丹波</p>
<p>重基重忠治之無效。乃召友光。友光以巴豆等藥貼之。今瘡潰爛。以桃柳鹽湯洗之。隨點末藥。旬日而愈。賴長謝之以馬。</p>
<p>中原有言。學于丹波重康。術稱於時。補典藥寮醫生。康和四年。丹波忠康等舉奏為左衛門醫師。尋轉典藥少允。</p>
<p>中原為盛。久安二年。任典藥大屬。</p>
<p>中原貞憲。保延元年。任典藥少屬。</p>
<p>中原盛春。仁平二年。任左近衛醫師。</p>
<p>中原言政。保元四年。任典藥醫師。</p>
<p>中原有重。保元四年。任左近衛醫師。</p>
<p>中原經俊。仁安三年。任左衛門醫師。</p>
<p>中原賴清。安元元年。任典藥少允。</p>
<p>中原資俊。安元元年。任典藥大屬。</p>
<p>中原秀能。安元元年。任典藥少允。</p>
<p>中原安言。安元元年。任典藥少允。</p>
<p>中原安定。典藥少屬。</p>
<p>中原元弘。典藥少屬。</p>
<p>中原親基。元久二年。任左近衛醫師。</p>
<p>中原景清。寬喜元年。任左近衛醫師。</p>
<p>中原清景。寬喜元年。任典藥少屬。</p>
<p>中原朝清。延應二年。任左近衛醫師。</p>
<p>中原成宗。延應二年。任右近衛醫師。</p>
<p>中原則氏。寬元三年。任右近衛醫師。寶治元年。轉典藥少允。</p>
<p>中原保職。寶治元年。任典藥少屬。</p>
<p>中原貞良。弘長二年。任左近衛醫師。</p>
<p>中原有雅。元弘二年。任典藥少屬。</p>
<p>中原有信。元弘元年。任典藥少允。</p>

<h2>小槻氏</h2>
<p>小槻為信。長保三年。任施藥院史生。</p>
<p>小槻忠任。保延元年。任典藥大屬。</p>
<p>小槻忠辰。康治中歷右近衛醫師典藥少允。</p>
<p>小槻宗久。元久二年。任右近衛醫師。</p>
<p>小槻宗重。仁治三年。任典藥權大允。</p>

<h2>菅原氏</h2>
<p>出雲刀子。為典藥大屬。天平十七年。擢內藥正侍醫。</p>
<p>出雲島成。延歷三年任侍醫。</p>
<p>出雲廣貞。攝津人。精方術。為侍醫。兼中內記美作權掾內藥正信濃權守等。延歷二十四年。帝弗豫。廣貞與吉水神德奉御藥以功進爵一等。大同三年。奉敕與安部真直撰大同類聚方。又別蒙命依唐制定藥升大小之量。又著難經開委。子峰嗣。初事淳和帝於潛邸。帝為申請補醫得業生。獲試及第。醫置得業生。自此始矣。及帝即位。累遷左兵衛醫師醫博士。兼內藥佑侍醫春宮坊主膳正尾張權介美濃權介越後守播磨介典藥頭攝津守等。以王府之舊。寵顧絕人。雖帶遠任。未嘗赴官。與一時名流同選。金蘭方。又注針灸法奏進。貞觀元年。奉敕赴備中採石鍾乳。峰嗣以與出雲土師同祖。請改稱菅原（後紀出雲永嗣任左衛門醫師。蓋同族也。）</p>
<p>菅原梶吉。攝津人。出居於右京。天長八年。任侍醫。承和元年。與梶成同賜姓朝臣。九年兼肥後介。</p>
<p>菅原梶成。右京人。達練醫術。承和初特擢為遣唐知乘船事。赴唐質醫經疑義。六年事畢而還。遭風漂到南海。遇賊劫剽。死者數人。梶成等拒鬥甚力。僅獲免。修補破船。歸達大隅。太宰府以聞。下敕符曰。遣唐知乘船事梶成等。分駕一隻小船。漂入異域。萬死獲生。其苦節誠可矜恤。其加慰勞。梶成獻所獲兵器五尺鋒一片。蓋鞘橫佩一。箭一。十年任針博士。尋進侍醫。</p>
<p>菅原行貞。延長三年。任典藥頭。</p>
<p>菅原道數。延長三年。任侍醫。</p>
<p>菅原茂滋。天曆中歷右兵衛醫師權針博士近江少掾。</p>
<p>菅原為名。天曆中為左衛門醫師。兼醫博士。</p>
<p>菅原行仁。天曆中侍醫博士。</p>
<p>菅原典雅長和。長德間歷針博士典藥頭。兼但馬權頭造酒正伊豫介。</p>
<p>菅原雅行。永承二年。任左兵衛醫師。</p>
<p>菅原宣忠。是綱子。大治五年。任典藥助。</p>
<p>菅原盛信。仁安元年。任典藥允。</p>

<h2>安倍氏</h2>
<p>安倍真直。歷衛門佐大舍人助相摸介。累遷少納言左近少將。奉敕與出雲廣貞等撰集醫方一百卷。大同三年五月。書成奏進。名曰大同類聚方。</p>
<p>此為本邦方書之鼻祖也。</p>
<p>安倍濱成。典藥頭。敘從五位下。</p>
<p>安倍基尚。延喜初為典藥允。</p>
<p>安倍盛親。圓弼子。受丹波雅忠術。寬治中歷典藥允侍醫。兼采女正丹波介等。永久二年秋。大納言宗通病癰劇。盛親診之。即先以針挑瘡口。射水去膿。二三日次。加艾灸。亡幾收功。子盛親。歷采女正典藥少允侍醫。子親良。保元應保間侍醫。兼能登權介。</p>
<p>安倍忠尚。延德二年。敘正四位上。</p>

<h2>紀氏</h2>
<p>大村直諸繩。為丹波醫師。天長元年四月。給國稅四百束以充治病科。</p>
<p>大村直福吉。丹波人。承和元年。賜姓宿禰。以其武內之後也。二年任右近衛醫師。福吉最善瘍科。當世無有及者。仁明帝特賜宅一區以賞之。後敕撰治瘡記。</p>
<p>紀東人。仁壽二年。任典藥頭。齊衡三年。轉伊賀守。</p>
<p>紀夏井。美濃守善岑子。身體雄偉溫雅。有才識。少善隸書。承和中待詔於授文堂。文德帝即位。召見。夏井敝衣敗履以進。左右皆笑。帝曰。彼疲駿也。非汝等所知。擢少內記。累進右中。辨機務明敏。操志忠益。帝愈重之。會帝崩。出為贊岐守。政化大行。任滿。百姓詣闕哀請詔更留。二年。轉肥後守。貞觀八年。坐弟豐城累竄於土佐。夏井素知醫方。其在土佐也。自往山澤採藥。合煉施人。全活甚多。一人中風。被髮狂走。夏井與之散藥一匕。立愈。</p>
<p>紀春生。初為僧。曰惠靈。住大安寺。後歸俗。承和三年。為遣唐譯語。兼但馬權掾。貞觀中任左近衛醫師。尋兼土佐權掾。</p>
<p>紀國守常。陸介真人之子。補侍醫內藥正。以明醫聞。東宮病痢。國守進以芒硝黑丸。且啟曰。必至瞑眩。然後見效。既而煩懣欲絕。執政疑其誤治。執拘國守。使衛士坐守。若有不諱。速斫之。及東官急苦漸收。病亦隨減。卒如國守言。然國守自是深自悔恨。曰以術致死無為為醫。遂誡子孫永停醫學。</p>
<p>紀常仁。為侍醫。貞觀十年。兼越後守。</p>
<p>紀椿守。春宮亮白滿子。歷大內記典藥助上總介。安房守。越中權頭。椿守善書。外番降書。每命書之。</p>
<p>紀當仁。貞觀中為侍醫。歷大膳亮左京權亮越後守等。</p>
<p>紀有行。為典藥寮醫生。</p>
<p>紀兼後。為典藥少允。</p>
<p>紀伊任寬。印內供子。以醫名。</p>
<p>傳云。欽明帝十三年。梁文帝贈針經。帝賜其書於紀河邊多兔麿。未得其術而死。孫幾男麿入新羅學其術而歸。皇極帝元年。舉針博士。是為針術之祖。按皇國通於彼。以隋大業中為始。而云梁文帝。蓋自百濟而獻之也。其始置針博士。及紀幾男麿世系未詳之。因附記焉。</p>

<h1>前編卷下</h1>
<p>僧醫</p>
<p>浮屠之徒。以咒符祈禱祓除災厄。既兼巫職。又及醫事。故有僧而兼醫者。養老元年。詔曰。僧尼依佛道持咒救病。從施湯藥而療痼疾。於令聽之。及至中世。海內鼎沸。文墨藥石之藝。一皆歸於浮屠氏。而典藥侍醫。有名無實。如博士名實俱亡。禁闥侍診。遂為僧醫之專職。而舊制令典顛墜極矣。於是剃髮披緇。為其俗。法印法眼法橋為其位階。以至於今日。醫風一靡不可復變。爰推其所由。作僧醫傳。</p>

<h2>法蓮</h2>
<p>僧法蓮。精於醫術。大寶三年。詔賞之賜豐前國野四十町。養老五年。又詔曰。心住禪技。行居法梁。而善濟民之疾苦。鮮矣若人。宜褒以爵三等以上。於是賜號字佐君法。</p>

<h2>法榮</h2>
<p>僧法榮。性清潔。持戒甚堅。又能治疾。勝寶八年。聖武帝徵侍醫藥。屢奏效。帝特重之。御藥專命法榮掌之。及帝崩。遂廬陵傍以修冥福。孝謙帝嘉之。優詔復其本郡。永年毋役。</p>

<h2>入道侍從</h2>
<p>僧侍從。稱入道侍從。萬壽三年。帝弗豫。眾醫以為寸白蟲。侍從診曰。是氣腫也。進訶梨勒五香湯。外以藥浸藍汁貼之而愈。</p>

<h2>石屋</h2>
<p>僧石屋。妙治傳屍病。永萬元年。二條帝弗豫。密召石屋灸之。有效。</p>

<h2>理滿</h2>
<p>僧理滿。河內人。師事于吉野日藏。有節操。專心利濟。常設小舟於渡口。自棹涉人。或訪病者。施與藥劑。不論親疏。不要謝物。</p>

<h2>佛嚴</h2>
<p>僧佛嚴。通醫方。安元三年。藤原兼實患風。延問治法。從其言有效。</p>

<h2>賢禪</h2>
<p>僧賢禪。（禪一作障）以醫行於鎮西。安元三年。應藤原兼實招。來居京師。</p>

<h2>大善</h2>
<p>僧大善。筑紫人。治承元年。藤原兼實得風疾病腳。多方不治。聞大善名招之。大善為灸胸腹各七壯。腳痛從差。治承五年。大納言邦綱患瘍。丹波憲基針之不差。大善從針口去膿血。宿痛如洗。</p>

<h2>重源</h2>
<p>僧重源。居嵯峨瀧殿。父靜源阿遮梁。或云清原滋秀之孫。故亦喜醫。寬德中。後朱雀帝病癰疽。和氣相成以為病勢稍減。宜止射水。丹波雅忠不可。乃徵重源詢之。重源曰。聖證方勵。何止射水。若發胸痛。殆不可為。旦日帝果胸痛而崩。</p>

<h2>蓮基</h2>
<p>僧蓮基。丹波氏之族。壽永三年。選長生療養方奏進。</p>

<h2>智玄</h2>
<p>僧智玄。居於下野安蘇郡糟尾鄉。嘗赴宋傳醫方。後鳥羽帝弗豫。奉藥速愈。因敘法眼。世所謂錄事法眼是也。</p>

<h2>心寂</h2>
<p>僧心寂。居於嵯峨。藤原定家及冷泉室町土御門諸公皆信用其方。</p>

<h2>如來尼</h2>
<p>僧如來尼。以治蛔蟲聞。藤原定家子病。尼療之。蛔下而差。</p>

<h2>要上</h2>
<p>僧要上。嘉祿安貞間以醫稱於京師。</p>

<h2>葉上</h2>
<p>僧葉上。名榮西。任僧正。建保三年。源實朝有病命藥。榮西察其宿酲非疾。進清茶一盞。而鬱困頓解。為撰吃茶養生記。</p>

<h2>行蓮</h2>
<p>僧行蓮。嘉祿中。掌鎌倉幕府醫事。</p>

<h2>金蓮</h2>
<p>僧金蓮。寬喜天福間。以醫行於京師。</p>

<h2>興心</h2>
<p>僧興心。文歷嘉禎間。以醫行於京師。</p>

<h2>空體</h2>
<p>僧空體。建歷中。藤原定家患頭風。空體灸之而愈。</p>

<h2>性全</h2>
<p>僧性全。（號淨觀。）柁原氏。自雲和氣氏之族。學醫于丹波氏。極其底蘊。嘉元中。據病源候論之目。取捨眾說。抄錄單方。著頓醫抄五十卷。正和中。又輯錄唐宋醫方。著萬安方六十二卷。子道全。亦有醫名。道全三世孫為長淳善承業。門人中川氏傳其術。著捧心方。（萬安方策尾有授源三冬景之語。冬景蓋道全初名。）</p>

<h2>生西</h2>
<p>僧生西。筑前人。為香權宮學頭。能醫。著五體身分抄。</p>

<h2>小松</h2>
<p>僧小松。通稱悲阿彌。文和中。後光嚴帝弗豫。悲阿彌奉藥以功敘法印。</p>

<h2>有鄰</h2>
<p>僧有鄰。（號壺隱菴。）居南禪寺。貞治中。本於梵綱經。著福田方悲田方。</p>

<h2>壽阿彌</h2>
<p>僧壽阿彌。醫名隆於京師。應永二十九年。後小松帝弗豫。壽阿彌奉藥而痊。賞賜金飾佩刀及物品。三十二年。帝暴下血屢暈絕。時醫束手。及壽阿彌上藥。帖然復常。</p>

<h2>允能</h2>
<p>僧允能。稱三位阪士佛之孫。醫術俊拔。敘法眼。正長元年。稱光帝病傷寒。丹波幸基及壽阿彌皆難其治。上皇乃命允能進方。旦日熱大減。漸次消息而愈。永享三年。將軍足利義教疾。允能又治之效。輯錄家傳七十二方。名曰琉璃壺。</p>

<h2>良心</h2>
<p>僧良心。信濃人。父秦久秋。為左近將監。良心善調藻。又知醫方。文明五年。受畠山義統命。赴朝鮮傳和丹二氏所曾用癰疽八穴灸法。及神應經於彼而還。</p>

<h2>久阿彌</h2>
<p>僧久阿彌。永享嘉吉間。以瘍醫行。</p>

<h2>瑞筠</h2>
<p>僧瑞筠。（號玉窓。）竹田定俊之子。住相國寺。亦通醫術。</p>

<h2>一立</h2>
<p>僧一立。享祿中以醫顯。著典藥拔書。</p>

<h2>景贊</h2>
<p>僧景贊。永祿中著鑑效秘要方。</p>

<h2>澄一</h2>
<p>僧澄一。（號慈濟軒。）著方書六卷。</p>

<h2>源貞</h2>
<p>僧源貞。天文中。著精選秘用方。</p>

<h2>不孤</h2>
<p>僧不孤。稱鄰藏主。（號卜庵。）長享中。以馬醫行於京師。及鎌倉門人四宮四郎天外狂翁得其傳。不孤又精刺擊。通音律。</p>

<h2>祐公</h2>
<p>僧祐公。（號蓄秀軒。）住攝津極樂院。禪余醫治為事。</p>

<h2>高定</h2>
<p>僧高定。字圓俊。竹田快翁之子。從僧慈心居藥師寺。內攻釋教。外行醫術。頗有精良稱。后土御門帝及後柏原帝弗豫。每召奉藥。賞賜觴及寶刀。</p>

<h2>雪岑</h2>
<p>僧雪岑。稱安公。從上池院定國學醫。頗行於時。</p>

<h2>三喜（月湖）</h2>
<p>僧三喜。稱導道。（號支山人又範翁）河越人。姓田代。父兼綱冠者信綱之後也。初入妙心寺參禪。又就足利校主利陽學醫。後入明受李杲朱震亨之術於月湖。及恆德孫留學十二年。業成而反。居鎌倉江春庵。又居下總古河。世稱古河三喜。子孫傳其業。襲稱田代江春月湖。（稱明監寺。又號潤德齋。）不知何人求法。入明。寓於錢塘。以醫行。明景泰三年。著全九集。六年。又著濟陰方。</p>
<p>（三喜著有當流和極集。捷術大成印可集。諸藥勢揃藥組。並諸療方夜談義諸病禁。好集直指篇醫案口訣等。）</p>

<h2>阪上池院</h2>
<p>室町氏之時。上池院壽命院竹田法印等。皆世為尚藥御醫。與和丹二氏相抗衡。稱曰五家典藥云。</p>
<p>阪慧勇通稱士佛。（號健叟）姓源賴光五世孫。充角始以阪為氏。世居大和。至祖九佛徙於京師。以醫行。父十佛傳業。敘氏民部卿法印。慧勇醫術超卓於父祖。賜號上池院。比之於盧扁也。將軍足利義詮眷顧極渥。嘗謂之曰。士字從十從一。子術超越父祖。從今宜稱士佛。於是改名。內野之役從焉。將軍有疾。命藥。士佛作必勝散以進。既愈。而軍亦有利。將軍喜甚。子祖胤。通稱起宗。襲號上池院。應永十六年五月。將軍在北山殿患傷寒。祖胤與父議以大黃黃芩芍藥半夏厚朴甘草等下之。更進麥門冬湯而愈。子大勇。字子勇。繼職仕室町幕府。子胤祐。通稱嘉邦慧勇。至胤祐併為民部卿法印。子宗精。通稱進月。為將軍義政之醫官。屢奏效。子龍護。通稱定國。（號樵云齋）子紹胤。通稱光國。將軍在穴太疾。紹胤與和氣明英往而療之。子貴祐忠存。貴祐通稱惟天。仕織田氏及豐臣氏。後從神祖于軍中。著上池院日記。忠存稱法常坊。居京師北賀茂。子宗仙。（號洞庵。）慶長十三年。始謁神祖。後擢醫官。宗仙二子。壽仙通稱三益族。幽玄通稱壽三。亦仕幕府。</p>

<h2>阪盛方院</h2>
<p>阪淨秀父淨快。士佛次子。幼而穎敏。善家技。邃方書。有出藍之目。士佛恐其名壓兄。固禁為醫。淨快不從。士佛怒。逐之出。居近江阪。本後將軍有篤疾不差。召淨快治之。稱光帝弗豫。亦命上藥。以功奏敘二位法印。選秘方二十八劑。以傳於家。淨秀敘宮內卿法印。嘉吉二年十月。後花園帝病癰疽。淨秀與丹波賴豐共掌御藥。寶德元年八月。帝病腹痛。淨秀上藥頓愈。賜號盛方院。子孫襲稱焉。淨秀著有鴻寶秘抄。子淨孝。敘法印。淨孝盡心疾疢。嘗嘆厲風難治。詣因幡堂懇祈藥師佛。一夜。夢授靈方。乃以其方治之。莫不效。著揖仙方。子淨喜。敘宮內卿法印。將軍義尚有疾。療之愈。著直濟方。子淨運。奉後柏原帝御藥。敘法印。明應中。赴明學張仲景方法歸朝。名益顯。因幡守山名某嗜醫。就而求方。淨運取父所撰增補之。名曰續添鴻寶抄。以與焉。又別著遇仙方八卷。新掎方三十一卷。子淨見。亦有學術。著增損附益抄。子淨盛。子浮忠。併為侍從宮內卿法印。正親町帝弗豫。淨忠掌御藥。足利氏亦信重之。著家秘小雙紙。子淨勝。仕織田氏。著達源方二十二卷。子淨慶。仕豐臣氏。子淨珍。慶長中謁神祖為醫官。淨勝至淨珍。皆為三位侍從法印。子淨元。療獻廟疾有效。擢侍醫。徙於江戶。子孫改姓吉田。</p>

<h2>吉田氏</h2>
<p>吉田德春。（號仁庵。）本姓佐佐木。曾祖嚴秀。食邑于吉田。因為氏。德春以醫仕室町幕府。敘法印。晚年致仕。居嵯峨角倉。故子孫或氏角倉。子宗林。繼職敘宮內卿法印。子宗忠。（號濟舟。）子宗桂。（號靖節。）最能辨藥性。世人稱曰日華子。天文中與僧策彥遊於明者再。治明主世宗病。及歸。世宗賜以顏輝扁鵲圖。聖濟總錄及藥笥等。明人欽其術。曾號曰意庵。取諸醫意之義云。故後又通稱意庵。敘宮內卿法印。子宗恂。襲稱意庵。（號又玄子。）嗜學。與藤原肅友善。仕豐臣秀次敘法印。後陽成帝弗豫。上藥奏效。因敕改稱意安。進民部卿法印。後謁神祖。賜祿五百石。時洋舶始獻珊瑚枝。神祖手摸其形。普問諸醫。無有知者。獨宗恂以為珊瑚枝。詳言其產所及取採之方。神祖嘉賞。就賜以一枝。後又貢異物質如石而薄。長一尺余。如木賊柏葉相連綴者。亦以問。宗恂對曰。恐是柏枝瑪瑙花也。徵之於本草綱目果是也。又命制紫雪。於是恩遇異於他。每歲賜藥石及金銀衣服不貲。子宗達。後改吉皓。襲稱意安。敘法眼。亦精藥性。臺廟時數療篤疾。輒有成績。</p>
<p>（宗恂著有素問講義。難經註疏。增補醫經小學。藥性纂類。本草序例抄。醫方大成論抄。名醫傳略。古今醫案等。）</p>
<p>（宗達著有吉田氏方本草。倭名醫學類聚等。）</p>

<h2>竹田氏</h2>
<p>竹田昌慶。（號明堂。又實乘僧都。）姓藤原。大政大臣公經子。兄公定。後光嚴帝時坐緒仁親王事。得罪屏居於采邑。竹田昌慶從焉。因為氏。後遇赦歸京師。敘山城守。性勇武。眼有重瞳。數日從軍。既而屈節讀書。遂好醫方。應安二年。航明講術。就名醫金翁者力學十年。金翁深愛其才。妻以己女。生二子。明主大祖後產難瀕危。延昌慶治之。藥未終劑。太子已免。明主大喜。封安國公。永和四年。得醫家秘書及銅人形等而歸。後圓融帝弗豫。昌慶奉診有功。任左衛門督。康歷二年。削髮敘法印。子直慶善慶昭慶。直慶為左衛門督。善慶應永十九年治後小松帝弗豫有效。敘法眼。後進法印。任治部卿。改名善祐。昭慶後改定盛。通稱快翁。敘宮內卿長祿。應仁間屢治足利氏疾。進法印。麑島候有疾。請醫於京師。幕府命昭慶往而療之。醫名益彰。昭慶博學多能。世稱為十能之士。著延壽類要。子宗慶秀慶。宗慶後改宗怡。敘法印。秀慶（一名月海。世傳月海雜錄。）子宗珪。（一名清譽。號了光。）敘法印。子定加。（一名光英。號雄譽。）元龜二年。正親町帝患痢。定加奉藥驗。敘法眼。天正九年。宮女罹瘧。眾治無驗。定加與藥一劑而差。進法印。織田氏豐臣氏以其良工。皆異待之。子定白定宣。定白（號永應齋）敘法印。大阪之役。在城戰死。定宣承家。後仕神祖為醫官。</p>

<h2>久志本氏</h2>
<p>久志本常任。稱兵部少輔。天牟羅云命之後也。世為伊勢祠官。居久志本鄉。因氏焉。常任善醫。世稱曰神宮醫。永保中白河帝亦有敕旨。子孫相承。旁事刀圭。其孫常辰。敘丹波守。子常光。敘周防守。父子俱為織田氏客。天正十年。常光始謁神祖於安土。後擢為醫官。徙於江戶。弟常真。嗣家職。敘伊豆守。子常顯。敘左京亮。天正中。神祖在參河苅屋病瘧。治未見效。常顯適應闢而至。即進神仙解毒丸速愈。神祖賞之。亦以為醫官。子常範。慶長中療臺廟寒疾速愈。亦醫名。子孫今皆繼職。</p>
<p>（常辰著有奧義集家傳。通外山野集。藥林撰集。服餌要集。醫學色葉五急活法。）</p>
<p>（常光著有管蠡備急方。同筆灸診抄。）</p>

<h2>安藝氏</h2>
<p>安藝守定。其先出於安藝平氏。因氏焉。善女科。延文中室町幕府室紀良子娠矣。療之舉男。是為將軍義滿。因割其邑封之。又奏為尚藥。嘉慶中敘從四位上。任大膳亮。子孫繼業。宮中治產。皆屬於安藝氏。初守定詣春日祠。通夜有祈。時有一女子求治。守定為施針與藥。女病頓除。喜而謝恩曰。妾猿澤之龍女。荷君厚惠。無以為報。妾有靈方。願以相贈。乃遺一卷去。明早視之。治產方也。旁留龍鱗三片。守定異之。試其方。莫不有驗。遂得女科之名云。子貞守刑部少輔。子守家歷大膳亮刑部少輔。永享中療幕府室重子產效。乃賜作州弓削莊。子守宣。歷左京亮。刑部少輔。子守貞。子貞德。並左京亮。子貞家。歷左京亮大膳正。天文中削髮曰宗榮。子貞像。子貞種。並歷大膳亮左京亮。子貞俊。亦大膳亮。天正中豐臣氏闢掌後宮醫藥。其孫道受。通稱好庵。從曲直瀨道三而學。承應中擢幕府。（醫考。吉田宗桂孫長因。稱大膳亮。後敘宮內卿法印。專療婦人。不知與安藝氏同流耶。姑書俟考。）</p>

<h2>板阪氏</h2>
<p>板阪宗頓。近江阪本人。以醫為業。子宗德。稱三位。（號大歇。又湖隱軒。為人豪縱。而視疾入神。寬正三年。大內教弘在伊豫疾。將軍憂之。廣撰良醫。宗德當選而往。時人榮之。子維順。徙於京師。擢御醫。敘法印。子備後入道。子宗高。通稱卜齋。幼入東福寺為僧。武田晴信知而惜之。勸而還俗。承繼家業。宗高後遂仕武田氏。永祿戊辰秋。晴信有病。宗高診曰。微恙似不足患。然數年後必發。發則不可為。請早計之。晴信不可。果如其言。（板阪宗慶著家珍方。板阪釣閒著家傳小兒方。疑皆同族。）</p>

<h2>祐乘坊</h2>
<p>祐乘坊義存將軍。惟康親王之子。親王罷職歸京師。義存乃生於鎌倉。其母育之。貧甚。僧疏石見而憐之。收為徒弟。名曰祐乘坊。後業賣藥。世所傳磨積丸是也。子孫遂以祐乘坊為稱。義子空從北條仲時往京師。初學佛。後為醫。終以醫顯。貞治三年。徵診御脈。敘民部卿三位法印。將軍足利義詮最相親信。每屬之治。子瑞景。從丹波氏而學。術絕等倫。任典藥頭。時丹波氏宗適斷嗣。元日屠蘇調進有闕。應安五年。幕府使瑞景代獻。後以為例。子宗琇。後改琇存。賜號披壽院。敘治部卿。子宗安。襲稱披壽院。子瑞兆。亦敘三位法印。宗安又養上池院紹胤子瑞碩為子。後改紹碩。子瑞昌。琇存至瑞昌五世任典藥頭。子瑞久。敘法眼。子瑞翁。襲稱宗安。</p>
<p>（瑞翁著有胃氣辨。緊要方。灸治口訣。肥肉傳。）</p>

<h2>藤原永全</h2>
<p>藤原永全。字安世。遠祖曰劉伯陽。垂仁帝時歸化。其孫春平。奉使於西土。始傳圍棋。至在存以勇略著。討賊有功。天智帝賜姓藤原。永全其後也。資性穎異。最邃醫學。古今方書。無不通曉。他陰陽浮屠國歌皆涉其流。一時緇素韻士。感就講習。嘗奉朝命赴明。醫名益顯。</p>

<h2>中臣成宗</h2>
<p>中臣成宗。延應二年。任右兵衛醫師。</p>

<h2>成田小三郎</h2>
<p>成田小三郎。阪東人。初為院雜職。元弘之役。後醍醐帝幸笠置。小三郎以醫術供奉。遂從西狩。帝之潛出隱岐。小三郎往說。名和長年。唱義勤王。恢復之業。與有力焉。</p>

<h2>八阪崇譽</h2>
<p>八阪崇譽。通稱大進。以名醫聞。後花園帝時敘法眼。子孫承業。</p>

<h2>松井正濟（福富氏）</h2>
<p>松井正濟。寬正文正間。以醫仕室町幕府。敘宮內卿。同時有福富氏。亦以醫顯。</p>

<h2>高橋英全</h2>
<p>高橋英全。受業於八阪崇譽之孫。頗有聲譽。文明中敘法眼。英全於寇氏本草衍義凡例。取要語常以自箴曰。凡為醫者。須略通古今。粗守仁義。絕馳騖能所之心。專博施救拔之意。如此則心識自明。神物來相。又何必慼慼治名。齪齪求利也。如或不然。則以致姜撫沾譽之慚。曷逋華佗矜能之戮乎。世傳以為醫家坐右銘。</p>

<h2>山科景紹</h2>
<p>山科景紹。從竹田定盛學醫。最單志本草。航海就明醫研究。齎良藥多種而還。</p>

<h2>南條宗鑑</h2>
<p>南條宗鑑。伯耆人。少壯遊於京師。又之丹波。就名醫如意庵而學。後從越前人一柏質疑義。著撮要集若干卷。術遂顯於世。無子。養從子宗虎為嗣。宗虎又稱一鷗。亦善醫。豐臣氏闢為醫官。請於朝。敘法眼。</p>

<h2>田村長元</h2>
<p>田村長元。與丹波氏同宗。世居丹波長元始徙於京師千本。擢御醫。世稱千本典藥。子宗圓。子長久。子長慶。子長昌。子宗仙。皆相承業。宗仙尤名。應北條早云闢。赴相摸。子長榮。通稱安棲軒。繼仕北條氏。子長傳。神祖闢為醫官。子長頤。子長祗。並敘法印。以安棲為通稱。</p>

<h2>金持重弘</h2>
<p>金持重弘。好學精醫。最妙於針灸術。天文中承大內義弘命。赴明寓於嘉賓館有年。醫院諸工服其技。臨歸。尚藥俞璉作文贈之。</p>

<h2>片岡晴親</h2>
<p>片岡晴親。天文中任大和守。以醫仕室町幕府。後與諸醫同侍於穴太營。</p>

<h2>曾谷慶祐（子壽仙）</h2>
<p>曾谷慶祐。稱半閒軒閭翁。世業瘍科。至慶祐從和氣真長學大方脈。兼善內外治。子壽仙。通稱洞庵。後襲父稱。天正中療豐臣太閤腫瘍而驗。敘法印。慶長十六年。後陽成帝久患潰瘍。及壽仙上藥。卒痊。賜號慶法院。後著外科傳語以奏。帝大善之。御筆題簽。又詔右府。今出川公為撰序。當世榮之。子宗祐。通稱伯安。後襲稱慶法院。寬永七年。闢為幕府醫官。</p>

<h2>奈須家之</h2>
<p>奈須家之。通稱宗圓。父式部少丞。家恆護良親王之孫。有故冒奈須氏。明應中以瘍科聞。補藏人。遷式部丞。子重恆。稱圓清。又與三療幕府寵臣朽木牧齋墜馬傷速愈。將軍義輝賜書賞之。子重貞。承家學。仕神祖。子恆昌。通稱玄竹。學於曲直瀨。正慶以大方脈顯。任民部卿。號久昌院。慶安三年。閣老堀田候（正盛）疾殆。幕府命恆昌療焉。恆昌一匙起之。候大喜。謝以千金。不受。事聞於上。上亦賞賜千金。天下稱為優典。</p>
<p>（恆昌著有醫方聚要。藥方彙纂等。）</p>

<h2>阿佐井宗瑞</h2>
<p>阿佐井宗瑞。和泉人。精於女科。世稱曰阿佐井婦人醫。大永初得醫書大全。刊公於世。醫書刻板。以此為始。</p>

<h2>佐佐木善住</h2>
<p>佐佐木善住。秀義孫。精於醫術。一時生徒多聚其門。</p>

<h2>土岐宗璉</h2>
<p>土岐宗璉。字明嚴。岐阜著族。好醫方。救活不鮮。族人受其方為醫者數人。敦山。通稱長元。光隆。通稱龍安。俱出仕幕府。</p>

<h2>河野治傳</h2>
<p>河野通繩。通稱治傳。初稱傳治。伊豫人。父通信。為豐太閤滅。舉族戰死。傳治遁為醫。倒名曰治傳。從筑前候（隆景）赴朝鮮。得三因方而歸。試業於長崎。後徙京師。子通幸。通稱松安。（號良仙）承父業。聲譽。元和六年。擢幕府敘法印。</p>

<h2>岡家重</h2>
<p>岡家重。（一名元春。）稱彌傳次。仕浮田秀家。食祿千石。後削髮。禰道和以啞科行於京師。子元勝。通稱智庵。承業。子元安。辭家。以二子壽元為嗣。壽元通稱甫庵。亦有醫名。為幕府醫官。</p>

<h2>津輕以三</h2>
<p>津輕以三。本姓大河內氏。兵庫頭政親之孫。參河人。從松下道慶學瘍科。子建廣。稱左馬頭。初仕北條氏政。後辭祿歸而承父業。嘗療本多候（正信）發背效。擢為幕府醫官。</p>

<h2>笠原重次</h2>
<p>笠原重次。通稱與三郎。（號宗室）堺人。以眼科聞。稱曰穗積流。中世目醫有佐佐木青木須磨馬島數家。穗積亦其一。皆舊傳也。重次寬丞中。擢為幕府醫官。子宗印。（號養琢）子重吉。（一作武重）子重元。通稱養仙。（號嶺云）傳業。</p>

<h2>三折全友</h2>
<p>三折全友。尾張人。以醫行於京師。</p>

<h2>近藤桂安</h2>
<p>近藤桂安。丹波人。精小方脈。出居京師。治效赫著。世稱丹波兒醫。後光明帝髫齓時屢召其劑。及即位。特敘法印。賜號壽伯院。</p>

<h1>杏林雜話序</h1>
<p>淺田識此曩著名醫傳。輯慶元以降之名醫事蹟。今又採掇其言行之不足以編其傳者。另錄之。曰杏林雜話。乞序於余。余謂學術皆原乎漢土。故名醫之講學究術。亦不可不據漢土也。而講究學術之精。皇國振古不乏其人。則後之有事於醫者。宜講漢土醫術。而師皇國上世之人哉。近世治化之盛也。技術日新。名醫之治效。或有古先所未發者焉。雖然。講究之術。不可以不率由於古先也。何則。新必原乎故。能溫其故。然後知其新。是以近世名醫之治效。無非有所感興於上世者。然則此編所載瑣屑零碎之事。亦出乎師古講術之餘。豈可輕視之耶。因思識此之學之才。宜若無事於近世醫跡而然也。猶綣綣於往跡。既編其傳紀。又緒餘有如此者。乃可以睹其心思之質慤。而學術之精確。宜矣名聲之嘖嘖於今哉。世之炫才逞智者。動輒滅裂古法。採索珍異怪奇之說。欲博一時驚爆之技倆。此不溫其故而欲其新之知。其騖新驚奇之蔽。殆以人命為弄戲。可不嘆耶。苟使此儕觀此編。知事必有其原。而學不可期新奇。則或有所感發而奮興者乎。乃謂之醫路針砭。抑亦可矣。嗚呼。騖新驚奇之蔽。豈獨醫哉。</p>
<p><u>明治壬申夏四月鶯溪林晄撰</u></p>

<h1>杏林雜話序</h1>
<p>學者生於今日。嚮慕先哲風範。欲聆其軼事異聞而不可得。必有俟博涉遠討之士。鉤考而廣記之。然後始能想見其人品學術之概。是淺田慄園杏林雜話之著所以為不可少也歟。慄園夙以善醫聞。兼攻文辭。嘗著皇國名醫傳以行世。又以為各家佳話韻事。足啟後學之才識。資醫林之考覈者。匪一。則不若此類別為撰錄以眎學者。庶幾足以睹先哲風範矣。凡其所登載。皆系平生聞見所獲。確鑿有據。諸傅會悠謬之談。一語不闌入矣。何其偉歟。書既成。將付於梓。介其友今邨祗卿索余題言。嘻。於老矣。無他嗜好。每聞人有著述。亟請一讀以為樂事。斯編之成也。既得讀之。復加墨簡端。其或者可托以行遠歟。乃欣然不辭而為之序。</p>
<p><u>慶應乙丑夏日海保元備春農書於叩盆舍之南軒</u></p>

<h1>杏林雜話</h1>
<p>余曩撰名醫傳。於各家事實遍加採摭。既而拘於體制。不可盡載。或一事而其人可見。片語而學術可徵者。舉皆歸於斯篇。名曰杏林雜話。</p>
<p>南川維遷曰。（薦野醫員）國初京師醫家講素問難經者。饗庭東庵為嚆矢。至於其門人味岡三伯。其學愈盛行。井原道閱淺井周璞小川朔庵岡本一抱子皆受其傳。教育生徒。堀原厚學於朔庵。亦與諸子相頡頏。此諸人皆以講授為任。而不專治療。如古林見宜中山三柳北山壽安名古屋玄醫香月牛山等。則主治療而兼攻文學。故雖同時並行。其著書大旨。自有徑庭。迨古方家出。則判然殊途。</p>
<p>板阪卜齋侍直日。神祖手賜韓參。卜齋將承以席上越紙。（俗稱奉書者）神祖曰。咈。以諸候修好之禮物。何為妄費。卜齋乃脫外套受之。神祖意色欣然。卜齋與林道春那波道圓陳元贇交厚。嘗校針灸聚英。及宋人馬仲虎縮年互見圖。元贇為之跋。極稱其篤志。道春又跋其手寫針灸經云。余與卜齋挹袖拍肩。年久矣。我雖不得伊川晦翁草廬之彷彿。叟豈不為王期郭長楊載同父之仁術哉。其推獎亦至矣。</p>
<p>堀杏庵慕陶淵明為人。常懸其像於壁間。曰對此則使人塵念頓消。</p>
<p>石川丈山送杏庵歸尾陽詩云。學養孟軻氣。術包盧扁傳。林讀耕齋悼杏庵。詩云筆評郄正臨洙水。藥辨君臣汲上池。其學術為識者所欽賞如此。元湘中韓使來聘岡本宗什（玄治法印）接見於京館。與白麓東溟青丘輩互相唱酬。又治青丘疾有奇功。青丘歸。寄書謝焉。京尹板倉候嘉之。為輯其筆語及詩文為三卷以傳於世。</p>
<p>昔時始舶載醫學正似。醫學入門。醫方考。萬病回春之四部書。今大路一溪取正傳。古林見宜取入門。其所見可以知矣。望月鹿門亦好讀正傳云。本邦所刻龔氏萬病回春。系渡邊幸庵手澤。幸庵仕駿府。後乘賈舶入清。留外二十年而歸。住城西大塚。卒年一百三歲。</p>
<p>古林氏世為浪華名醫。家藏紀南龍公畫鷹巨幅。云其祖見宜進藥有效。公嘉之。為手寫賜之。又有隱元木庵獨立等詩卷。皆謝其治隱元病也。有京尹板倉候手簡。亦為隱元請治之書也。正堂宏壯東編有祠堂。扁曰見宜堂。隱元書也。園有連翹樹。高數丈。亦名種也。（見宜故宅在浪華懸鐘街南善庵條）古林見宜療紀川熊野農夫水腫。服藥良久無效。乃加青芋於方中。又教為朝夕食而愈。蓋其人生於山中。每以其物為常饌。及旅食浪華。歷試諸藥。禁忌極嚴。故脾胃失度。藥力不能達。所以用方宜之術也。</p>
<p>享保中見宜有時譽。官特命開書院於神田橋門外。講醫經於其中。使都下醫生聽之。後移之於高倉地云。（高倉即今昌平黌地）</p>
<p>江州江村左太夫虛羸不食。氣息淹淹將絕。延林一之進診。曰血脈衰弱。不絕如縷。然猶可僥倖萬一耳。乃作劑與之。僅用人參一分。龍眼肉一個。眾皆危之。翌朝來診。曰證候如前。而毛竅稍塞。肌膚少和。是脾氣旺肺之機。尚可望生。乃用藥倍前。漸漸而差。友松子聞之。歎賞曰。極虛者投大劑純補。譬如燈火將熄。遽灌油。不滅何俟。林氏可謂得補法之妙矣。</p>
<p>名古屋丹水曰。林一之進之用方也。專主溫補。效雖多。要不免偏。然人有所長。則必有所短。豈以微瑕舍連城之璧哉。</p>
<p>戴曼公。杭人。少學舉子業。遊黌舍時。雲林龔廷賢年八十餘。尚強健為醫。曼公從之遊。盡傳其術。明亂。棄儒冠而隱焉。後師我在崎嶴。應吉川氏之請。往來於長防之間。其臣池田嵩山。（通稱七兵）學書於曼公。曼公審其為人。因為曰。我有治痘禁方書。欲悉授子。子學之。三年必臻其妙。嵩山拜而受誨。遂大著於世。其書大旨淵源乎龔氏痘疹全幼錄云。</p>
<p>曼公博學能詩。兼工篆隸。嘗在崎逢舊友喜賦曰。勿勿別去忽經年。有喜重逢海角邊。爾我遭時因作客。弟兄把臂合隨緣。遙瞻南粵家何遠。近憶西湖夢自牽。世外人情俱不問。半窗風雨剪燈前。又普門寺寓懷云。六甲年周行改僧。疏疏散散任無能。相隨瓢衲因緣地。願作宗門一唯曾。海內學書者最多。而高玄岱獨極其蘊奧。</p>
<p>曼公晚年慕僧隱元。遂為徒弟。更名性易。而為醫如舊。曰濟物是佛心。道本廣大。無所不在。其治不規規成方。而得驗每多雲。寬文十二年。終於菟道。有遺偈。鑿鑿塵塵傍海林。不忘殘夢繞空軒。咄。任他凍折梅花影。接卻江南白玉魂。</p>
<p>陳明德。亦杭人。屢試不第。明亂。歸化為醫崎嶴。術屢奇中。著心醫錄云。醫者意也。心通乎術。臨證如持權衡。以輕重較之。苟非心得。雖療病而痊。亦唯偶中而已。延寶二年沒。世所稱穎川入德。即其人也。</p>
<p>張膏孟二寬偕善醫。膏尤精眼科。朝鮮之役。二人為我軍所俘。膏字甘子。號提山。豐太閣遣歸國。二寬改稱武林次庵。蓋取其本邑為氏。明歷三年沒。其孫為赤穗候臣死節。所謂武林唯七也。</p>
<p>享保三年戊戌。命徵西醫。是歲杭州陸文齋。蘇州吳載南。朱來章。題松陽。汀州周岐來等應命而至。九年甲辰。又命募求醫書。吳舶因齎醫畫數種來。後文化元年甲子。徵蘇州胡振（字兆新）於崎嶴。使小川汶庵。千賀道隆。吉田長禎三醫士就學。蓋此例云。</p>
<p>五雲子。名寧宇。系出於大原王氏。慶安中投化住江戶。以醫行一時。從遊極眾。萬治三年庚子沒。門人數輩列於醫官一派。傳授至今弗衰。</p>
<p>五雲子來江戶。日懷藥裹行。呼曰持脈持脈。俗謂診曰持也。友松子出大阪。亦高唱街上。曰難讀之字吾善讀。難治之病吾善治。名醫創業。發跡各異。</p>
<p>北山友松子。少通象胥學。又從禪僧化林學仲景奧旨。就載曼公得內經本草精蘊。既而謂皇朝醫風。亦不可不研。乃師小倉醫員原長庵。（岡本玄治高弟）遂大成其業。</p>
<p>友松子療南源悅山高泉諸僧。皆用大劑。曰西土人比之於本邦頗厚腸豪氣。非輕品所敵。風土體氣之異。醫者不可不察焉。（西土醫診病。直記其藥案以與病者。病者購之於藥鋪以服之。故藥品量。適正與邦醫輕劑射利者迥異。）</p>
<p>友松子不喜講說。唯正月初八祭神農氏。使門人講上古天真論而已。其說曰。書在心悟。不若熟讀百遍講義。何能益於人。</p>
<p>某候問友松子譜系。友松子略不抵飾。即答曰。臣長崎娼女之子。不知家世。</p>
<p>友松子墓在大阪太平寺。石造不動佛像。高丈餘以為表。不復記姓名。世稱北山不動。常祈病。香火至今不絕。其裔正藏為過書舩吏。自號七僧居士。風流好事。與芙蓉大雅諸名士交遊。人知有七僧之稱。而不知有正藏之名。</p>
<p>黑澤道鄰以醫仕於小幡候。溫雅風流。人推其長者。平維章為之傳云。尋崆峒之山。克搜其道。溯延壽之源。克得其術。豈徒通其道而已哉。詩賦卜筮。吃茶插花。風雅之興。各得其宜。嗚呼。若人之儔。亦難得哉。</p>
<p>橘隆庵。名元常。號宗仙院。本藥師寺氏。其父平馬。名元成。仕本多能州。以事為同僚岩瀨某所害。元常即時復讎健鬥。失左手。年甫十五。因翻志學醫於京師。術成大行於江戶。世稱曰手捧隆庵。（俗呼無手者曰手捧。）執政柳澤候疾劇。治之速效。薦為醫官。後增祿至五百石。敘法印。元祿十四年辛子。五丸公子有病。急召隆庵。隆庵以輿隸忤意。斷其首於下乘橋。乃入。夷然上診。執政感其勇悍。反得賞賜。</p>
<p>閣老松平候（右近將監）室懷妊。使服部見瑞看之。臨盆痛甚急。坐婆曰。痞起可藥。候馳使報見瑞。見瑞曰。夫人之苦非疾。且余豈受坐婆之使令者乎。不即往。因延武田叔安。（名信卿後號常信院）叔安診曰。宜先治痞而後娩。乃與藥。如其言。旦日見瑞來。候大恚。告以叔安言。見瑞笑曰。渠唯詭辭以慰俗情而已。豈有向產門施他治之理乎。處方當與余同。試檢其藥果然。候嘆曰。嘻。余誤矣。醫治已如此。況於政事乎。</p>
<p>富永伴意元祿間以瘍科鳴。為人質直有氣力。嘗浴混堂。一俠者易其矮小。命令刮垢。伴意佯應。窺間直攫陰囊。急引之曰。汝能辱人。其人失色。哀號謝罪。乃徐釋之。細川候臣某有病。急招邸醫某。某曰。方食少遲之時。伴意在座責之曰。藩士有急。而子以食辭。豈候祿子之意乎。吾恥與子交。某大慚。亟赴病家。時新幣初行。伴意舉示子弟曰。自今以後。人心必日澆。汝五六十歲。天下將大困窮。汝宜省焉。終如其言。</p>
<p>長澤道壽著醫方口訣集。三日而成。有馬涼及手寫證治準繩全帙。咸其所諳記云。</p>
<p>鳥山見庵（名守道）越前府中人。受醫術於有馬存庵。學經義於伊藤仁齋。前此越人不知汗下法。及見庵唱長沙之旨。其術大行。當日陋習。為之一洗。又常使其徒兼講儒學。以謂不通儒術。醫事不成。物徂來曰。醫之不可不讀儒書者有四。一以識字義文理語脈氣象。否則雖讀醫書。亦不能會古人之意於千歲之下。一以識異邦之物產時世制度民風土俗之所以異同。否則於醫書有所不通。一以識天地造物陰陽五行之奧妙。三才人物之所當然與所以然。否則君師之權。有所不立。而不能以取信於人。不能以施仁於人。二子同時。而其說互相發揮。故附記。</p>
<p>國玄貞正德。癸巳春病甚。賦詩曰。貪看青山影風月。不若溯流歸去來。即日沒。（玄貞墓在崎嶴茶白山。門人私諡曰思靖先生。）</p>
<p>五井持軒。名守任。後稱加助。大阪人。學醫於向井元升及中島長安。有婦人乞治者。方劑偶不中。乃嘆曰。將以治人。反致人死。何以醫為。遂改為儒。真名部忠庵。名臧。字季廉。筑後人。以醫仕子久留米候。一日。療人而不起。以為術疏之所致。慨然投劾而去。入京業儒。世稱藤井懶齋是也。二子可謂不自欺者。</p>
<p>中村玄春。名明遠。字子晦。世為幕府醫官。玄春不樂以技仕。每嘆曰。士君子濟世奚翅醫哉。後上言陳志。終為儒官。改稱深藏。山田大佐。名正朝。穎悟夙成。有神童目。擢為儒員。時年十三。二人一以志。一以才。皆從醫轉儒者也。</p>
<p>有馬存庵。一日。如嵯峨路。睹大櫻樹。花方開。數金購之。雇役夫使移之其園中。根干橫倒。不得植。相視嘖嘖。存庵欣然曰。姑舍㫋。余且臥觀之。</p>
<p>板時明。長門人。每語人曰。學聖人之道。譬如弄數百斤鐵棍。自非膂力過人。必為其所厭。醫業亦如此。</p>
<p>名古屋丹水。襟度簡曠。喜讀莊子又好佛典。曰除病濟人。我亦醫之如來也。恬淡無為。守神修真。我亦醫之南華也。</p>
<p>飯田玄泉。京師人。曠達不羈。鳥取候有疾。遣使邀焉。玄泉出對。乃入取質錢簿示使者曰。吾衣服典盡如此。倘肯見贖。則應命矣。使者為贖。乃往。</p>
<p>井關玄說。（名常甫）元假面工（俗曰能面打師）某子。某嘗為優伶觀世氏造假面成。使玄說齎至。觀世氏視而怒曰。拙甚。即引鐵錘碎之以拋玄說。玄說深恨焉。歸固請父改業為醫。年甫十六。日夜奮勵。終為名家。官廁醫員。時觀世氏妻病篤。眾醫束手。觀世氏百方因緣受玄說之療。病漸愈。一日。玄說謂觀世氏曰。子未識吾有神符耶。乃出錦囊於藥籠中示之。觀世氏拜而觀之。則假面屑也。因告以故。曰不忘前辱。故有今榮。是非所以為神符者歟。觀世氏聞之。將容身無地。恧爾謝其罪。</p>
<p>後藤艮山始志醫。提贄錢一貫文。執謁於名古屋丹水。丹水以其贄薄。不合家規。不見。艮山憤懣填胸。將出門。罵曰。玄醫鼠輩不知人。乃自奮勵。遂至成名。</p>
<p>艮山治疾。多用溫泉熊膽艾灸。故人呼曰湯熊灸庵。門人香川修庵。亦喜艾灸。山脅東洋專使石羔。一時嘲曰。香烙山磔。此與西土嚴附子。陳石膏。張熟地之稱殆相肖。</p>
<p>香月牛山仿石川丈山詩仙堂。構醫仙堂。揭古人像六。皆平時所欽仰。各取其言。題之書並匾額。亦皆出一時臺閣名勝之手。</p>
<p>牛山病革。命弟子持藥匕來。起坐加於額者再。曰以刀害人者服上刑。以藥殘人。豈得無尤。余幸獲保首領以沒者。醫此匕是賴。</p>
<p>享保十四年己酉。為邊陬乏醫藥。命醫官林良適丹羽正伯就官庫醫籍選單方捷法易用者。名曰普救類方。上梓以頒行於海內。先是命翻刻東醫寶鑑以行於世。皆出於有廟深仁之餘澤云。</p>
<p>石原學魯。字貫卿。號鼎庵。精醫工書。又善詩。初欲仕官。或謂曰。以子能售之候門。豈不中祿八百石乎。學魯艴然。遂絕意仕進。</p>
<p>長岡清白讀普渡慈航。至墮胎方。拋卷嘆曰。嗚呼是何言。天地之生。莫貴於人焉。何忍為此荼毒。使生靈不見天日而殤殞。因大聲罵龔廷賢畜生。取其卷而唾之。可以見其心志之概矣。但普渡慈航實系偽撰。以此責廷賢而屈冤矣。清白號恭齋。元祿中人。有醫名。</p>
<p>山村通庵遇朋友喪。近前神主唱平部數曲極哀。既而不見喪主。曰我知死者。未識生者。</p>
<p>香川修庵出行。未嘗野溲。門人問其故。曰農作唯此物是賴。一滴之微。不可使無用於世矣。</p>
<p>永富嘯庵曰修庵。接踵艮山氏。為古醫方之陳勝。故藥選一書。非若從前本草之迂誕。然天資偏固多客氣。其言亦類其人。不可不取捨也。</p>
<p>村上冬嶺。自少好學。老猶不懈。恆與諸儒會讀廿一史。月率六日。不避寒暑。凡二十有餘年。又好詩。每有所作。必題扇頭。與諸友評榷。字有不穩。濕紙揩去。更填他字。江村北海曰。冬嶺詩學遒上。精深工整。超出前輩。元和以後。巨儒碩匠。篇章傳世。固多五七言絕句。及五言律。間有可錄。若七言律。首尾完整者。無幾。迄冬嶺體格始備。</p>
<p>淺井圖南。才氣敏慧。廣綜眾藝。畫竹最有風致。時宮崎筠圃。御園意濟。山科宗園。亦以墨竹鳴世。稱平安四竹。</p>
<p>御園意濟。（一作齋）京師人。善醫。最精針灸。一日。西本願寺主嬰兒俄然啼泣不止。遽延眾醫。醫皆以為病。投藥無效。意濟後至。診曰。此兒無病。必有他故。乃脫襁褓視之。果有虻匝啄股間。急手捉去。啼泣頓止。一坐駭嘆。</p>
<p>梁田蛻嵓應山脅東洋之招。在京數旬。東洋優待。唯恐失其意。一日。治具請賞花於東山。時花正盛開。蛻嵓馭甚。久之忽蹶起曰。吾去矣。侍者驚問其故。曰汝主每見我。輒叩問仲景之書。使人厭倦。我不欲復聞之。遂去。</p>
<p>山脅東洋始得鷓鴣菜湯方。喜甚。凡所診數輩。不問何病。悉與試之。而知其順逆當否。得他奇方亦如此。其剛愎而篤於道。非世人之所及。</p>
<p>東洋男玄侃（號東門）應澱候招。一夜。端坐案方。侍者屢勸就寢。玄侃不肯曰。余為候忘寢食。子等不忘則寢矣。</p>
<p>永富嘯庵問山脅東洋曰。我事夫子三年。技不少進。其故何也。東洋曰。吾子須多讀古書。與古人晤語。以蕩除子胸間之汙穢。嘯庵當時泛聽。未深解其意。後十餘年。周遊海內。試醫術。始知榮辱悲歡之情。有妨診察之機。大服東洋之言。因嘆曰。先輩之曠達自高。不拘規檢者。洵有以也。</p>
<p>惠美三伯。專用攻擊。人或不堪其毒。偶有服藥而死者。大憤。表其墓曰。三伯殺之。三伯不顧。益強行之。遂至拔痼起廢。名震於近國。</p>
<p>奧村良築。始用吐法。大得謗議。國候為下令禁用之。良築不屑曰。朱晦庵唱道學而宋禁之。釋法然闢淨土門而朝罰之。況於吾黨乎。</p>
<p>嘯庵曰。東洋之於下劑。良築之於吐方。皆數十年枯髯嘔血之所得。而世之粗工。乃泛用誤人。遂歸咎於二子。甚矣後人亂道也。</p>
<p>嘯庵常懸一橫匾。署曰乾坤容我豪。自謂吾一生此五字盡抬得。</p>
<p>嘯庵僑居浪華。時人屢勸祿仕。嘯庵不堪其煩。題一聯於壁曰。生涯拼潦倒。世事甘浮沉。</p>
<p>清田澹叟曰獨嘯庵。周覽海內英邁之氣。煅而煉之。以成其才。遇物無所窒礙。其機略不在於寇平仲揚處道下。</p>
<p>吉益東洞曰。吾醫視之令之儒流。東洋其伊藤仁齋乎。先眾著鞭矣。吾業不敢讓物徂徠焉。以東洋唱古醫方。風靡一世。而其持論時有軒輊也。</p>
<p>東洞每言天下之醫以余為標準。蓋謂從前陋習。賴斯人而一洗也。</p>
<p>東洞長子患痘。其證險惡。以紫丸攻之。遂不起。及二女亦病。仍與紫丸。或諫曰。長子之不起。人皆譏其過攻。今復用之。萬一有變。得無悔乎。東洞曰。方證相對。服之而死。命也。豈拘譭譽而變其所見哉。堅執不可。</p>
<p>吉益蠃齋曰。家翁每云圍棋有意於勝敗。則不能到真境。是即東洞死生非醫所關之見。</p>
<p>村井琴山世推其嚄唶老醫。其風流灑落。絕無知者。生平遊心於琴譜茶經花史香品。著琴山款設四譜。皆系以詩。以闡發其妙趣。又有六清真人說其文曰。清晨盥嗽。灑掃堂室及庭內。次洗瓶插花以清目。次拂拭香爐几案。爇沉檀一片以清鼻。次汲水潔淨諸器。品茶煎之。末茶點之一碗至三碗。以清胸膈口舌。次調古琴。彈南薰滄浪二曲各一。再行以清耳。而後坐書齋。讀聖賢之書。以清心。因自號曰六清真人。又曰清福道人。香房茶寮花軒琴所。並有諸友。亦並命以清香房三友。沉香曰澹清。檀香曰奇清。合香曰暖清。其寮二友。煎茶曰妙清。點茶曰綠清。花軒十二友。春花三。迎春曰黃清。桃曰夭清。海棠曰豔清。夏花三。芍藥曰麗清。柘榴曰紅清。蓮曰妍清。秋花三。桔梗曰紫清。秋海棠曰嬌清。菊曰逸清。冬花三。寒菊曰幽清。水仙曰真清。梅曰韻清。琴所三友。琴曰雅清。南薰曰聖清。滄浪曰賢清。</p>
<p>琴山少時在京師。或以周公待旦求對。琴山應聲曰。左丘失明。</p>
<p>琴山雖事方伎。隱然以儒自居。其教弟子以名分相制。以受業先後分其次序。終身不改其班。說書固守師說不變之聞。弟子中垣順庵久病不愈。或勸之服溫補之劑。順庵曰。使藥無驗。猶可也。若有驗。吾道廢矣。其尊師道。概此類也。</p>
<p>龜井南溟作一律示琴山曰。東洞先生老學醫。經方祖述漢張機。星霜七十窮愈固。弟子三千信且疑。萬病有源唯一毒。私言雖好柰公議。英雄心事深堪憫。目睫依然鸞鳳姿。琴山援筆加訂。老學作唱疾。星霜作春秋。且作不。有作無。私作公。雖好作有徵。柰公作勿私。深堪憫作都如此。其篤於信師如此。</p>
<p>或問海西豪傑之士於廣瀨淡窗曰。就予所交言之。龜南溟村椿壽僧豪潮。其庶幾乎。</p>
<p>淡窗曰。南溟翁慷慨激昂。似李空同。又曰。琴山之才。不及南溟。而識則過之。</p>
<p>賀屋澹園曰。東洞之於柴胡。南涯之於當歸。均是偏也。永叔文多用嗚呼。人稱為歐嗚呼。子鱗詩多用白雲。世又呼曰李白雲。然用各當窾。不可移易。何不可之有。</p>
<p>澹園年十九。在明倫館茹胡瓜。發腹痛。服紫圓及大柴胡大承氣等湯。而痛益劇。一醫進平胃散。澹園卻之曰。吾志於古醫法。寧死不飲後世醫之藥矣。</p>
<p>安田文達。名超初。好學善詩。既而幡然改志曰。今之儒異於古之儒。空詩浮文。何益於世。遂以醫顯。</p>
<p>村宗碩京師人。善醫。嘗至一豪家。主人病篤。親戚醫工紛紜聚訟。宗碩大聲叱曰。驅除爾輩。處方始定。</p>
<p>松岡成章以精本草聞於京師。享保中闢鑑別藥品。時清商始齎空清至。有司私請曰。此物若非真。則官不啻失利。吏亦從有罪。幹旋賴子之一言。請圖之。成章曰諾。鑑畢大聲曰。是偽也。空清內必蓄水。一碎試之而可。有司錯愕。不知所為。碎而視之。果乾涸無水矣。人皆服其精鑑。官將留祿。成章固辭曰。臣邱壑念頻矣。請賜放歸。官不能奪。賞以金若干。成章即以為路資。迨歸京師。封其餘還之於官府。</p>
<p>田村藍水（名登通稱元泰）精於本草。而性骯髒。酒間喜食諸毒蟲及蠟蠋。又以灰和飯而吃。唯不吸菸耳。井上金莪詰其故。曰菸草與蚰蜒反。故不用之。金莪笑曰。余寧舍蚰蜒而取菸草耳。</p>
<p>伊藤茂臣。字子良。尾張人。常謂子弟曰。醫之治疾。豈問賢否親疏。然於忠臣孝子。最宜盡心焉耳。</p>
<p>加藤正庵。尾張人。善瘍科。性粗率不拘。為人治疾。動忘其名姓。喜賑濟人。歲杪橐金出行。見親舊貧者。即與之。而不問其家資。好畜古刀。遇家人掃塵。剝啄騷擾。正庵以屏風圍坐。出刀拂試玩賞。大聲曰快。</p>
<p>楢林由仙。京師人。世業瘍科。事親至孝。淡於營利。常閉門戶。人不通名刺。則不肯開。有請治者。自挈青囊而行。病家不速邀。雖權貴拂衣而去。</p>
<p>瀧鶴臺每聞人之善言懿行。則必雙淚交睫。</p>
<p>千金翼云。買藥不可爭價。此言有深意。國朝惟宗具俊。著醫談抄。引以為證。近古太田資齋福井楓亭等。皆為時名工。餘事皆節約。至於藥則竟不論其貴賤。可謂篤於所業者。</p>
<p>高津惠因。伊豫川上人。號東白翁。與其兄東村同居。兄弟皆以治疾教字為業。布衣糲食。不靳榮利。二人俱不娶。有一妹亦不嫁。暇輒三人團聚。飲酒歡樂。時或裁歌賦詩。互相唱酬。先後以壽終。尾藤二洲幼時受章句於惠因。談及其人。每嘆曰。此等人雖難執繩墨論。要自有異常處。視夫儒雅自名而役役貨色者。何啻仙凡。</p>
<p>長野豐山（孟確）曰。並河天民。制行詭異。有膽略。頗似陳龍川。要非凡庸。倘有英君駕御之。則必有可觀焉。</p>
<p>清水濱臣曰。森雄風翁（名藏字伯高岡醫員）似避世而非避世。似醫而非醫。亦非學士。亦非歌仙。可謂天下一畸人矣。</p>
<p>森下驥（字千里彥根人）曰。川越正淑解傷寒名義。奇僻。太甚。然至其釋諸家之所未能通。瞭然目下。則可謂前無古人矣。</p>
<p>尾臺楁堂曰。田中願仲讀藏志極論東洋之疵瑕。掊擊不假。使東洋再起。將無所措辭焉。其實議論不無過激。唯其文詞遒勁。在醫人為難多獲也。荻野臺州曰。張子和沒六百餘歲。我藤良築氏出。華枯肉骨。其術不讓於子和。雖然吐法尚未備。則後進無所取規。蓋亦子和疇也。</p>
<p>皆川淇園子玄子贊云。民之將生。時或折副。翁善察幽。造化弗匿。肆順厥理。救之危亟。設術著諸。建法遺則。方策之傳。天地罔極。民之賴全。何唯兆億。噫嘻大矣。翁之功德。藤澤東畡（名甫字元發）青洲贊云。古今貫法。內外合科。發未發秘。救難救疴。南海奇地。爰生奇士。賴而蘇者。四海是盈。從而遊者。至自萬方。人以術顯。術以人闡。子玄青洲。發曠古之秘。二子推獎。亦非虛贊也。</p>
<p>片倉鶴陵曰。芳村恂益。見聞雖博。著書雖富。其學竟不傳焉。如吉益為則。學問不博。所見亦偏。而其術至今益行。醫之於識見。不可不審也。</p>
<p>土生義壽（玄碩）曰。後藤香川山脅松原吉益。各以古醫法鳴當時。稱為五大家。而今言古醫法者。獨依吉益氏。無復言四家者。其故何耶。取仲景之方法。以驗之於今日之病者。實得而後言。無一浮言。此所以吉益氏獨顯。而四家不得與也。</p>
<p>大阪戶田齋宮自署曰草醫某。京師片田重三郎（寬政中人以儒醫行）亦署曰町醫片重。皆以警世之藉重位號以炫其業者。垣本針源遇痧病筋脈隱微不見者。先與荊芥金銀花湯。俟筋脈悉見而刺之。術乃奇中。又治膈噎。於人迎邊搜得血絡怒脹。妨害食道者。以鋒針刺之。出黑血。飲食忽得下咽。數日再發。復刺即瘥。是皆他醫之所不及。其以針源自命。非誇也。</p>
<p>獨嘯庵漫遊雜記。往往錄失鑑誤治。以為後圖。片倉鶴陵亦匯數十年錯治病證。顏曰覆輒編。俱有裨於後生矣。</p>
<p>醫黌所藏全骨。藝州醫星野良悅所造也。初藝州瘍醫田中道長者。目不識一丁。特以手術精妙。大行於時。良悅伯母患落下頦。眾醫束手。乃請道長。道長方療之。延病者於室隅。相與冒大布袱。不使人觀其手法。一術即治。良悅心憤之。以為若證非知內景不可下手。內景非親解剖不能極其詳。乃請藩得刑屍。親解剖以檢之。然骨肉之際會。經脈之連屬。乃不能分明。遂再購刑屍往海濱節節炙之。而後支分體解。始得其實。於是創意作全骨。居數年。杉田元伯唱蘭學於江戶。乃攜來徵之於元伯。所著解體新書。毫無差謬。醫官堀本一甫桂川南周勸獻之於大府云。</p>
<p>筑前道村醫生養樸。以眼科聞於西海。常盛水於盆。浮發於其內。以燔針刺其發。發兩斷於左右。曰不如此則不能刮眼中之筋膜。其子學之數年。其發雖兩斷。水有微聲。父曰。有聲者不可刮眼。其人不堪痛苦也。</p>
<p>杉本樗園曰。慶元建櫜以來。儒雅彬彬出世。而刀圭之流術。造其奧者。亦不為鮮矣。若夫短裁促筆。媲美丹鉛。諸家僅有芳村謙受鈴木良知耳。</p>
<p>橘南溪曰。本邦醫籍。皆不文。無足觀者。唯賀川子玄產論。畑柳安學範二書。文章稍佳。可為本邦醫籍之冠。其他不足示西人。</p>
<p>南溪曰。漢土之醫文勝質。皇國之醫質勝文。文質該備。不愧於漢土者。特香川太衝耳矣。</p>
<p>劉茝庭曰。（名元堅字亦柔通稱樂春院）近日醫家著述。多假名儒之手顯。醫經解惑論之於太宰。春臺產論之於皆川淇園。產論翼之於柴野慄山。皆是也。片倉鶴陵著。亦多成於龜田鵬齋太田錦城二子之手。</p>
<p>高原秀治。字道懿。長崎人。從西玄甫及三博學醫。業頗行。為人剛毅。臨事敢為。正保中。兄某為人誣告。繫獄十年。秀治無日不詣府署而哀請。後殆逮繫焉。時府尹新至。更為覆審。兄弟卒得免。</p>
<p>松丘宗順。佐賀人。少落魄。往長崎販米自給。後以醫鳴。性刻深。有機智。里人溺閉不治。宗順與下劑通後竅。而前竅卒得開。樵夫誤墮傷前陰囊。核懸垂不可收。使醫縫合之。隨手脫出。宗順置盤水。急灑面。傷者出其不意。驚愕一叫。核應聲而收矣。</p>
<p>吉田順昌。初名空曇。江戶人。壯歲坎軻。生理數躓。一日食盡。與僕吉助對泣。吉助志不少變。善資其主。順昌因勤苦奮勵。明和中其術大行。</p>
<p>三井養安。越前府中人。為醫於京師。與高森正因齋名。晚年遊大阪市。有丐兒為繩戲。養安每日必往而觀之。或問其故。曰吾非樂之。特憫無人知渠勞爾。</p>
<p>岡魯庵。名元鳳。字公翼。大阪人。性溫勤。家法嚴正。不妄交遊。嘗造書庫左右鑿牖置機於中央。有暇則就而抽架書讀之。超然有世外之趣。人皆羨其修整。又嗜詩及物產。庭設小圃。雜植藥品。吟哦自娛。著詩經品物圖考。香橙窩集。江村北海見其詩。以為有古人之風。曰句法格調。在今世不易得也。</p>
<p>赤松春庵。名惟義。字子方。播磨人。以醫居大阪。為人樸實好學。常談性命。不作詞章。最厚友誼。有善必告。見過必規。自謂直情徑行。不能隨人低昂。小河寬。字仲慄。通稱天門長崎人。善治瘍。性剛直。不喜苟容。有權豪請治。辭而不往。曰邑不乏醫。何使寬也。貧窶請之。則竭蹶而走。一治子不孝見逐。以割烹寄食於人。寬治疾過其家。主人為命作膾。寬見之。驚曰。嘻。是不孝之子耶。不食而出。其子慚且泣曰。小河君邑之望也。而不食我膾。生不若死。遂改志為孝子。</p>
<p>小石元俊。名道。字有素。醫術專務實驗。常語子弟曰。開活眼以讀古書。須會其活處。若拘拘於成規。堅守死法。欲以治病者。予所鄙也。至自得之妙。則父不能傳之於其子。所謂活法已。其勿認活法為死法。</p>
<p>角田美利。字子利。號東水。豐後岡人。隱於醫。性格端嚴。老益骨骾。言論不苟合。某地有災薄城下。有司驅市人入城。閉門不許出。使其死守救火。城賴得不焚。美利聞之曰。城可再造。人不可再生。若不幸而城不救。則將並其人而斃之可乎。</p>
<p>北山橘庵（名彰字元章）河內一屋村人。學文於郡山柳棋園。習醫於大阪橘元泰。業大行。好搜典籍。有售必納。大阪書賈聞之。亡論奇書珍編。尋常猥瑣冊子。有剞劂告成。輒以北山氏為壑。家人頗厭之。橘庵笑曰。吾亦知其濫。然我家僻在田野。不如此則書賈不至。採葑採菲。無以下體。此之謂矣。柘植龍洲浴有馬溫泉。視泉氣稍冷。親率雇夫百餘人。手執插督作六日夜。撥甃清窟。御他水濫入泉。乃溫烝復舊。土人至今稱其德。又著溫泉論行於世。</p>
<p>服部宗賢。名時壽。字子篤。大和人。仕高取候。業大行。請診者常滿戶。而宗賢躬履儉素。以賙恤為念。窮民多賴其澤。高取川數漲壞橋。民病之。宗賢乃損貲造石梁。是歲大稔。人稱豐年橋。</p>
<p>望月鹿門曰。醫亦不可不善書。昔時稱善書者。在醫官則津輕玄策吉田策元桂川甫三。在閭閻則原芸庵野呂元丈尤著。爾後數十年。術與書益衰矣。</p>
<p>鹿門有乞治者。不問貴賤。壹竭心思。嚐出行。睹乞兒患痘。還便煎藥遣人與之。又值一優來乞治。乃日往診之。同僚或諫止之。鹿門曰。我療其人。非為觀伎也。何避嫌為。遂不從。</p>
<p>劉藍溪竭力醫職。大府賞其勞。賜金若干。曰君上特賜。不可以供常費。乃盡付書肆。曰使子孫讀書。勿忘君恩。且有所報也。於是奇書爭至。架插大富。今醫黌之書。多藍溪所聚云。</p>
<p>劉桂山曰。束洞藥徵有卓見。世不可無。修庵藥選可取殊少。</p>
<p>桂山典雅風流。自寫山水。氣韻高古。世傳為寶。</p>
<p>古賀精里曰。世之攻方者。未必善治。攻方善治者。未必得施教之地。劉桂山並三者而有之。而處之以篤行。待之以博愛。其徒雲集。多所造就。時方望其警覺。世醫推仁術於四方。而一疾遽沒矣。噫。</p>
<p>余作桂山傳。而未見其醫。按以為憾。頃得一則。因錄焉。水戶候（諡文公）有疾。其初登圊。大便不快下。胸懣短氣。如此兩三日。或發或差。乃召桂出診之。其脈滑數無根底。面色青慘。心下微滿而拘急。腹裡無動。臍下空軟如綿。乃知其病上盛下虛。非一日之故也。但侍臣視其起居如平。無能察知病情者。桂山出而語曰。候病雖似支飲。實由中氣虛耗。殆為危證。治法宜峻補。方中加沉香。更進黑錫丹以回陽鎮逆。猶恐不及也。侍臣開之。或驚惶。或疑惑。不知所為。明日診之。間吐痰沫。其色茶褐色。厥明又診之。脈十動一止。因謂侍醫曰。此證此脈。俱為藏氣竭絕之候。恐有急變也。須灸天樞氣海三里絕骨等以培下元。醫不信。逡巡進降氣之劑。而至日晡。將登圊。短氣息迫。卒然昏倒。急使人召桂山至。則絕矣。桂山嘆曰。候之疾縱屬不治。使侍臣早見其機。醫察其微。則未遽有今日之變也。</p>
<p>先考濟庵翁（名惟諧字子德通稱惇篤）曰。本邦亨元以還。長沙之學大闢。戶著家述。為不讓漢土。然吉益為則一切武斷。矯枉過直。其子猷務皇張之。亦不免蛇足。齋必簡恢博緻密一章。動至數百言。而未能盡其底蘊。門人淺野徽拾其唾餘。可謂狗尾續貂矣。內藤希哲條分縷析。頗多濬發。雖未免排割之習。亦芟除葛藤。開別逕者也。中西惟忠註釋顯明。期於實用。川越正淑依樣胡蘆。碎殘極矣。山田正珍博引旁證。一掃從前固陋之習。其長在博。其短亦在於嗜博也。至於桂山茝庭二氏。學術湛精。尤得解經之體。而學者漸向正路矣。</p>
<p>太田錦城遊京師。多與醫流交談。及關左諸醫至。劉桂山則皆斂衽起敬。其次以片倉鶴陵為勍敵。</p>
<p>驪恕公年甫三歲。辨文字。稍長。聚麻子排作算子。習九章術。人目為神童。天資穎敏。加以勉勵。白首不倦。終極精核。當時無比。最長於校讎。素靈難經傷寒金匱。他洎醫家之雜著。行間上下。莫有餘白。</p>
<p>小野蘭山。舉為本草教諭。年已七十餘。手寫稻若水庶物類纂六百卷。人稱為今胡徵君。</p>
<p>池田錦橋診痘。如甚不用意者。或問之。曰診察過密。則反失真。其妙存於目擊首肯之間。譬如望見刑人之就死。雖至剛者。恭然焦悴之狀。見過眼之間。若相對久。則其形氣與常人無異也。</p>
<p>錦橋當直。亂髮因自櫛之。或嗤之且諭以獲譴。錦橋曰。僕本窶人子。素慣粗陋。況幕府之召臣以術。而不以小謹。雖陋何害。</p>
<p>錦橋卜居駿河臺。屋後築小樓。樓下陳列酒樽。樓上貯痘疹書。讀書倦則浮白遣興。當謂人曰。有酒盈樽。有書滿架。足矣。</p>
<p>中垣順庵。名穀神。南筑名醫。善飲。嘗語其友曰。吾非好酒。無如人強之何。應之曰。諂諛飲酒。亦可疾也。順庵大愧。終身不復飲。</p>
<p>畑中椿齋（文仲）去京赴江戶。鬻衣物價諸債。所餘唯浴衣及二小囊。備經艱苦。既得志。每歲以出都日作豆飯魚鱠祭諸神。及祖先。次展浴衣二囊。以示子孫。使無忘其素。</p>
<p>川村壽庵屋脊架望火櫓。每旦早起。登之望芙岳曰。吾不可一日不對此快友。</p>
<p>桂川月池。瀟灑風流。出於天性。晚節嗜詩。有五旬欠一始攻詩。卻笑達夫起手遲之句。禪心覺得緣眠少。醫理諳來為病多。一時傳稱。</p>
<p>望月鹿門曰。為醫者宜邃於本草。貝原篤信著大和本草。最有功於我。而雖殊方異域。藥石亦不可不識焉。</p>
<p>青池芳滸（名林宗字子達）譯喎蘭書。著本草及地誌。皆漢籍所未載者。其詩云。神農經外分三殖。大禹鼎余記八垠。</p>
<p>伊藤冠峰。名一元。字吉甫。隱居於美濃笠松里。醫事自娛。不肯出仕。曰居足以容膝。衣足以覆體。食足以滿腹。樂足以忘憂。我何有所不足。而願其餘哉。</p>
<p>山本封山。名有香。字蘭卿。通稱中郎。越中高岡人。初仕某候不遇。退而業醫。住京師。諸候有慕其術而聘之者。不起。或問其故。答曰。吾罷仕去。不能無業。非以醫自著。讀書為娛。非以道自名。動則拯眾生。靜則觀一理。是吾志也。</p>
<p>冬嶺一日與伊藤東涯訪論藤參議韶光別業。參議命賦梅詩。坐客相繼成篇。冬嶺獨沉吟。迨晡。始得一絕句。曰宴罷瑤池王母回。月明素袂立青苔。仙妝難著人間語。姑喚暗香疏影梅。猶推敲不止。商榷於眾。東涯曰。梅作來為佳。遂定。其耽詩如此。（此條當在前村上冬嶺次今載此者系補遺）</p>
<p>劉石秋（名昇字君平）曰。後藤艮山純於經義。山脅東洋博於疏解。香川修庵無書不讀。香月牛山儒雅自喜。吉益東洞永富獨嘯庵於兵法經世之學。尤稱深煉。雖以刀圭為家。要皆貫穿古今。出入百家。環奇倜儻。能言所欲言。為所欲為。以偃蹇於一世。可謂人豪。京人目以儒醫。亦非無謂也。</p>
<p>明和中劉藍溪。再營醫黌。遍招都下名流。教育諸生。其嗣子桂山講素問。山田圖南（門人土佐醫員笠原云仙笠間醫員中林俊庵與焉）桃井桃庵（田詔候醫員）講傷寒論。目黑道琢（字恕公門人曾根惟中西村玄周與焉）講素難等。服部玄廣（清水邸醫士）講靈樞。加藤俊丈（市醫）講難經。田村元雄（曾昌啟與焉）太田澄元講本草。小阪元祐岡田道民（彥根醫員）講經絡。井上金莪吉田篁墩龜田鵬齋太田錦城等講儒籍。大抵以百日卒一經為度。其費一出於私俸。江戶醫學之興。自此創也。</p>

<h1>跋</h1>
<p>曏者慄園著皇國名醫傳。敘先哲遺蹤。記載詳核。炳若丹青。乃復拾其遺珠。著成斯編。凡涉於醫事者。片語隻字。莫不纂錄。其體略擬劉臨川之世說。剔繁摘精。事類粲然。直使讀者有與先輩把臂應酬之想焉。則雖命曰醫話。其實醫史爾。余因嘆今世無良醫者。不用意於醫事故也。用意於醫事者。如之何。必也徵之往籍。參之先賢之遺緒。而復驗諸今日之事實。如此而已矣。欲參之先賢之遺緒。慄園前後之著。其可少歟。聞斯刻之既告竣。喜而為之跋。今邨亮祗卿。</p>

<h1>淺田宗伯小傳</h1>
<p>淺田宗伯。名惟常。字識此。號慄園。宗伯其通稱。信濃慄林邑人。其先蓋出乙葉三郎。賴季有孫內藏助長政者。屬木曾義仲。食邑信濃淺田城。因以為氏。天正中。桔梗原之役。甲兵燹城邑。城主戰歿。家臣抱幼孤隱於慄林邑。至祖東齋。始以醫為業。宗伯幼岐嶷。嗜學強識。異乎群兒。歲十三。從舅氏熊谷某讀醫書。又就松本儒臣木澤天倪受詩書。又從高遠教授中村中倧問儒醫要義。十八負笈遊於京。攝聞宿儒老醫緒論。頗知方向。既歸。襲父祖業。一日。過祖先城址。慨然發憤。決意東征。臨去賦詩云。父教蠱上九。母箴詩式微。桑蓬豈枯落。聊向東方飛。歲方廿二。來於江戶。寓伯父佐久間某家。後屢遷徙。貧窮艱苦。能忍人所不堪。立志益固。不以寒飢屈。齡過四旬。稍稍為人所知。然天資骯髒。學問該博。凡醫家之書。上自漢唐。下迨明清。莫不搜索貫穿。取此長。舍彼短。畜積浸涵。若己固有之。其診病也。應變投機。神出鬼沒。非庸醫所能窺測也。於是聲價日熾。搢紳走卒。莫不輻湊而乞治焉。安政戊午。疫利流行。歲中診病凡二千九百九十三人。六年。奉府命校訂醫心方於醫學館。文久元年。謁見大將軍列徵士。應慶元年。佛國軍將列翁沉疴經年不愈。遂來皇國館橫濱。乞名醫於大將軍。大將軍命宗伯療之。不出數旬而報治。佛將歸國。報之國王。聞者驚歎。二年。大將軍在阪城罹病。召宗伯命為侍醫。診其病曰。腳氣也。洋醫不服。曰是心藏焮沖之證。宗伯即論列五徵辨駁之。及其薨也。果如其言。諸人歎服。尋為天璋大夫人及和宮公主侍醫。明治四年。米利堅學校聚萬國醫籍。因又需於皇國太學。東校擇數種贈之。宗伯所著皇國名醫傳為第一。其他著述若干種。有已上梓者。有未上梓者。生平約其所歸向。傲然諭諸生曰。論語修己。傷寒論救人。外之宇宙間無可讀之書。夫邃於學者。或疏於術。工於術者。或乏於學。古今通惠也。已足於學。又熟於朮。若我宗伯。世未覯其匹也。是可以傳。</p>
<p>野史氏曰。古語云。寧不為良將。為良醫。旨哉言也。非規模宏大。識見高明。則不能領其旨矣。宗伯在鄉里發憤者。特在此一語。遂來於大都廣業。震名得達。初念豈不愉快哉。嗚呼。遠祖已為良將。裔孫今又為良醫。我恐起死肉骨。勝攻城野戰遠甚。不啻不恥於祖先。又可以為後進模楷。</p>
