<header data-type="book">
<h1>醫經秘旨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>原題<data value="盛寅">盛寅</data></dd></div>
<div><dt>年份</dt><dd><data value="1383">公元1383年</data></dd></div>
</dl>
</header>

<h1>重校訂序</h1>
<p>今之郡國絕鮮赫然高醫者何與夫亦由守習先術者亦無化裁從任胸腹者肆意治療苛且刻之功授劑需銖錙之財邦麼禁條十全道妝況夫醫者聖智之長神明之業也古以濟世今以豐家古以名重今以利先無怪乎倉扁鮮渺也盛氏啟東少窮素難博研群測古酌今表奇微謬筆以記之非知醫之深者不能與此噫若啟東者不愧一代御醫之良工而光軒岐之學矣奈書未刊布輾轉鈔繕亥魯魚不計其數隨讀隨校待付手民而免淪之憾焉嘉善後學高杲識。</p>

<h1>再訂題辭</h1>
<p>一介士敬存心濟物必有所濟雖蓬累而行與時則賀者不可同日而語而其志則足尚矣今讀盛氏筆記發揮經旨明若燃遲蓋早年隱居洞庭湖之濱喜讀賁典洞達通塞基才如五石之瓠不適於用然濟人利物之心未嘗稍懈逐膺闢而春滿兩都名溢宇宙乃績學日深有以致之者余應京兆試過同年偶一見之如獲鴻寶假錄一通朝夕研究折衷諸家參以已意將疑似難明之旨提要鉤元隨讀隨按闡其未盡之意以啟後進之悟苟能討奧蘊真古今一貫之理實醫林罕見之書引而伸之平時得之於心臨證應之於手裨益蒼生殊非淺甚也時</p>
<p><u>道光丙仲秋上浣重評校秘旨藏事日也曉瀾書後</u></p>

<h1>緒原</h1>
<p>醫以寒治熱以熱治寒以消導治績以快樂泄滿補治虛羸以澀固脫以利下攻秘以潤治渴以辛溫散表以香燥理氣以寒涼止血以通止痛以養血治不得眠以補兼滑治脈遲澀以清且治脈洪大以下氣清火治上逆以利水通淋治水氾濫以涼表治發熱雖在下愚不難措手惟是以寒治寒如諸寒鼓　如喪神守皆屬於火是也以熱治熱如發表不遠熱是也以補治績所謂養正績自除是也以益氣治滿所謂滿用術甘是也以下治利所謂通因通用是也以提氣治閉如小便不利用補中益氣是也以混水治渴如五苓散治消渴是也以寒散表如四時感冒怫熱自內而達於外藥用苦寒酸寒是也以涼平理氣丹溪所謂氣有餘便是火是也以溫補止血如黃土湯桃花湯是也以攻擊治不得眠如胃不和則臥不安又痰在膽經神不歸舍是也以利下治遲澀之脈如脈遲而滑有宿食又脈澀不減為中焦實是也以補中治洪大之脈如內傷用補中益氣湯是也以溫中治嘔逆如吳茱萸湯大半夏湯是也以固表和營治水如水在皮中四肢聶聶動防已茯苓湯是也以實表出汗治太陽中風如桂枝湯是也以攻下及補益治發熱如表無熱而裹有熱是也如此之類苟條分縷析何可殫述雖在上智亦費推求前哲非不切切著明奈後人動手便錯者良由但知治法之所當然而不知治法之所以然也不揣　略特將平日經驗歷試不爽者闡明疑似之理提綱挈領本之經文節其要旨參以管窺所得隨筆記錄俾後進者有所指歸屬類旁通所謂比類奇恆或在於斯時永樂十有六年暮春上浣姑蘇啟東識</p>

<h1>卷上</h1>

<h2>治病必求其本</h2>
<p>脾喜燥傷於寒濕則不能消磨水穀宜朮附以溫燥之然脾陰不足而谷亦不化又不可以溫燥為治有思慮傷脾脾虛不能統血而失出者有思慮傷脾脾虛不能消穀而作瀉者此皆以迴護中氣為本勿治其標有肺虛不能衛血血溢妄行隨氣出於鼻為衄如動氣在右汗之令衄是也脾虛不能行津於三陰胃虛不能行液於三陽氣日以衰脈道不利其血悉從中積此而欲消其留瘀當以參耆監之如胎已數月忽動不止有症痼害者當下其症而胎自安設不知此僅知養血是為癥瘕樹幟養癰為患乎意戊子冬奉上命往視東宮妃張氏經閉十月腹脹如鼓動眾醫皆以養血安胎治病加劇予診脈沉澀玄緊無生氣直斷為蓄血腹脹疏桃仁承氣湯合抵當法方進東宮怒甚羈鎖禁中數日疾益劇命余從細復診脈仍如前疏前方進並奏明再三日臣不敢疏方逾二日賞賚多珍蓋妃服藥下瘀塊數斗脹消腹平逐釋罪而褒榮予萬幸也今特記之</p>
<p>按疑胎而下症疏用峻劑非詳細分辨不能確有把握惟盛氏兩疏峻下是真知病源而不惑若是者不愧御醫一代之良工也</p>
<p>火氣逆上是肝腎之陰失其龍雷蟄伏之性而上逆者至於胃中濕熱下流又是邪氣乘其本而陰氣反走於上俾上焦之陽不伸而肺中治節之令不行故見為鼻塞胸滿涎溢惡寒戰慄之證又咳嗽煩冤是腎氣之逆也其所以上逆之故亦有此二者虛實之異推此則治痰必先降火之法亦須識此二者虛實之異也</p>
<p>又平脈法云少陰脈不至腎氣微少精血奔氣迫促站入胸膈夫少陰脈不至是先天元陰元陽受傷腎者先天也脾胃者後天也先天既已受傷則不能生乎後天故脾胃之陰陽亦傷不能運化水穀而生濕熱濕熱下流則膀胱之氣不行濁氣因而上入濁氣上入肺氣便應脾氣愈滯於是為痰為飲而腹脹食為濁陰所乘則為心悸怔忡是腎之一臟病而五臟六腑皆為之不寧故養身莫妙於節欲也若不知此而但以行痰利氣為治則燥痰傷其陰利氣傷其陽不坐困乎此又專主腎虛而言也</p>
<p>心腎不足小便渾濁中氣不足溲便為之變金衰則水涸溺色變為黃赤此皆正氣虛而生邪熱當推原共本而補之苟徒執水液渾濁皆屬於火一語而施治病安能愈</p>
<p>飲食勞倦損傷脾胃始受熱中末傳寒中要知始受之熱因穀氣不得升舉擁而為熱又火與元氣不兩立之熱非實熱也故在始受之時已云勞者溫之損者溫之矣病之矣病之安得不為寒中耶東垣衛任之火傳之火傳之督脈挾太陽寒氣逆丙火似失之鑿</p>
<p>子母情牽仇讎肆虐或勝克乘薄之不一又本臟脈其別者或走他臟他脈一臟病往往挾他臟而見證者</p>
<p>邪之所湊其氣必虛邪乘虛而人是虛為本邪為標故去邪不可不加以以養正此一註腳人所同也然亦有身體壯盛之人暴受邪氣如外感風寒內傷飲食之類本氣未必皆虛受病之後反顯虛象若營衛受邪則屈伸不利動作衰乏脾胃受邪則四肢無力惡食嘔混之類此邪氣既湊之後其氣必虛是虛因邪而顯邪為本虛為標斯時但當急去其邪而正自復不必顧慮其虛用藥牽制此一註腳余所獨也</p>
<p>治病當知標本矣然猶不可不知標中之標本中之本如脾胃虛而生濕熱是虛為本濕熱為標也至濕熱下流膀胱之氣化不利是濕熱為標氣不利為標中之標至氣化不利逆而上行嗌塞喘逆又標中標之標也推此而逆求之則本中之本亦可得矣</p>

<h2>陽旺生陰氣不足亦令人口乾而津液不通</h2>
<p>喘而短氣須別寒熱虛實分類治之至於哮則素受害痰火為風寒所束而發但看其人之強弱用藥輕重可耳</p>
<p>肺本金寒水冷之臟然既已汗吐下損其津液而成肺痿矣豈清涼之品所能復其津液乎此仲景之竟用桂枝人參薑棗所宜詳究也</p>
<p>火與痰本氣與津液也無病則為氣與津液有病則為火為痰然致病之由不過內傷外感有餘不足求其本而治之則痰消火滅故曰見痰莫治痰見熱莫治熱者以此</p>
<p>內傷外感悉能致勞苟不察其虛實但施養陰清熱之套劑則虛者未必受補南昌實者愈實矣</p>
<p>失血證畢竟熱者多世有用寒涼而反劇者蓋有氣虛之火有血虛之火耳衛氣上逆有上焦之陽不足而陰氣上乾者有下焦之陰不足而陰火上逆者有脾胃之濕熱下流而肝腎之氣不能固守於下者俱挾衝脈故耳</p>
<p>邪火內熾陽事反痿苦寒瀉之陽事勃然火與真陽勢不兩立如此世人以助火之劑冀回真非徒無益而又害之</p>
<p>所謂虛風者似風非風也然亦有陰陽之別陰虛是熱則生風陽虛是陽氣不前衛外</p>
<p>衛為陽陽虛不能衛外故中風風為陽邪以類相召故也但飈陽邪既中之後每多顯陽熱之症此不可不推求其受病之本而務從事於見病之標也</p>
<p>諸病皆治其本唯中滿與大小便不利當沼其標以證之危急不暇為本計也余謂系實證則不難消導之通利之治其標可也若涉虛證其法可行乎仍當治其本</p>
<p>東方常實有瀉無補譾二一者肝為將軍之官其性剛勁急速一者木火同居風乘風乘火勢火助風威皆毋贊其勝也若言其本則乙癸同源養血與滋陰並急</p>
<p>癲狂癇皆主於痰癲是虛而致痰狂是實而致痰癇是風而致痰虛實風為本痰皆為標也</p>
<p>痰在肺曰燥痰又曰氣痰以肺金為燥而主氣也燥為本氣為標其痰澀而難出見為證也往往胸膈阻塞關節不利不知者以辛香燥熱利其氣燥者益燥氣愈不利</p>
<p>肺虛咳者何也失共降下之令也從降基氣咳愈頻矣</p>
<p>黃昏咳多者是火故宜五味子而降之</p>
<p>諸痿喘嘔皆屬於上上者肺也不得以香燥利氣</p>
<p>濕勝則濡泄當以燥劑治之然逆秋氣則傷肺冬為食泄此肺移熱於大腸之病若以溫燥治之是益其病也</p>
<p>渴固多熱然內外傷感內外傷感悉能令津液不得而渴須求其自</p>
<p>三陰結是水之本至肺氣不利發為浮腫喘嗽口乾小便澀腹滿黃汗身重不能轉側陰腫陰濕則又水之標也</p>
<p>寒邪在表鬱熱於經而令咳血衄血解表自愈麻黃杏子湯是也心肺有疾而鼻為之不利不必專主於風寒也</p>
<p>治病必求其本本者下為本內為本故上熱下寒但溫其而熱自降表寒裡熱但清其熱而寒自已然須加以反佐之藥以免格拒至於先傷於風而後傷於寒先傷暑而後傷於濕之類又當相其輕重緩急而施治</p>
<p>有者求之無者求之盛者責之</p>
<p>四肢無力動作衰乏虛也然邪客營衛則出入之道廢中焦有陰則升降之機窮亦能見證如此故曰無者求之</p>
<p>諸痛無補言氣逆滯也雖然壯者氣則愈怯者著而成病真氣虛乏之人諸邪易於留著著則逆逆則痛　刷之中不可無補養之品徒恃攻擊則正愈虛不能送邪外出邪愈著而痛無休止也遇斯疾者攻補兼施而不愈遂宜屏棄一世其要又在斷厚味遠房幃使邪無所助而正氣日勝然後佐以悚刷擊其惰歸病無孔不愈但邪氣方熾病者正在呻吟痛苦之時醫者教之以如此如此是猶子興氏教滕君以強為善鮮不以為迂闊而遠於事情者也又若脾胃亡液焦燥如割宜用真生脈陽澀陰弦而腹中急痛當用小建中湯肝氣不足兩脅下滿筋急不太息四肢厥冷發嗆心腹痛目不明瞭爪甲枯口面青宜補肝湯房勞過度腎虛羸怯之人胸膈間多隱痛此腎虛不能約氣虛不能生血之故氣血俱虛則凝滯而作痛宜用破故紙之類溫腎芎歸之類養血又胸痹痛有真陰虛而然者有元陽虛地氣上干而然者頭痛有氣虛者有血虛者有腎虛者皆不可以無補也（芐地黃也）婦人因產去血過多腹中急痛是肝木無血以養宜當歸建中湯亦是痛而應補者</p>
<p>婦人居經血弱氣盛孤陽獨呼陰不能吸陰為績寒陽為聚熱故時發灑淅咽燥汗出或溲稠數多唾涎沫其脈右浮大左弱澀此當養血所見之證忽計也證象白虎誤服白虎湯必死言治假以真也</p>
<p>寒邪閉共營衛當以升發之藥散之然素有痰熱之人遇此升發之藥痰隨氣上閉住肺氣皮毛為之擁遏邪愈不得泄病反增劇又當以苦泄之</p>
<p>心火不得越則鬱於小腸肺氣不得泄則鬱於大腸小腸下口既大腸上口故奔迫無度裡急後重而成滯下此是風寒內縮然徒責之濕熱未能萬舉萬當所以治痢亦當與治疲半表半裡同法</p>
<p>食績痰留舍腸胃之間氣行則出有似魚腦間以血系閉氣滑腸狀如痢如痢痢反快不可作痢疾治也</p>
<p>熱則生風痿痹不隨而有風象醫以風治之恐不免致痿也便泄肛門熱有火熱有陽陷二端</p>
<p>先天者無形之虛神而已矣後天者有形之實則氣血也治先天當以神治神治後天當以形益形也但神虛則氣血不生神亂則氣血不安氣血虛則神無以養氣血亂則神為之造遷此又當消息之耳</p>
<p>按氣血即神之窟宅不治氣血何由治神以神治神立論如此尚須著落耳</p>
<p>吾常謂談醫之道不可一語模糊令人徒作天傺真人想也</p>
<p>天地陰陽停勻方不崩不圻人亦如之稟畀之後嗜欲不節起居無時七情六淫所傷致此陰陽有所偏損偏損則偏勝故見以為有餘而實非有餘但治其偏損者而有餘自平</p>
<p>形氣有餘病氣有餘瀉之可也形氣不足補之可也至若形氣有餘病氣不足形氣不足病氣有餘當責有無真假東垣云但補瀉病氣之有餘不足必顧其形之有餘不足似非確論</p>
<p>幼科大便黃赤屬熱是矣其青白亦未可專以為寒夫水穀入胃大小腸腸胃無邪則水穀以次傳化清者入營衛化精微濁者下廣腸成糟粕糞為之變設腸胃有寒水穀不得熟腐故下利清白完穀未盡化不得專以為寒也</p>
<p>腎為先天之本脾為後天之本固矣然肺金不足或不得其平亦不能生土徒責之脾腎無益故病亦有治標而得者</p>
<p>百病不離乎火火者天地所有之氣亦吾身所有之氣也從外入者天地亢害之氣吾身中以類相感召亦令此氣為之亢害也此傷暑受熱是矣自若七情以及風寒燥濕動亂為火者以火喜條達而惡遏抑今以七情及風寒燥濕遏抑之故動亂而為害然發之瀉之制之克之可也迨夫相火則其體藏於右腎之中所配左尺之水俾此水得以切於上下周於四表充膚澤毛若霧露之溉雖水為之實火為之也設使陰虛此次失其窟宅遊行於四肢百骸五臟六腑之間而為大患陽虛則此火無根而脫出為患亦然此不可以濕折水滅唯當相其人之陰虛陽虛而補養之獨是體虛之人易於受邪或內外傷感抑遏成火則補虛之中不可無瀉實之樂若六味地黃丸黃柏知母等方是也審此則用藥不難中肯啟矣</p>
<p>按相火稟命於命門真水先天水火原屬同宮水以火為主火以水為原下論曰設使陰虛此火失其窟宅陰虛即水虧火脫豈六味加知柏可平之者耶</p>
<p>諸瘡將結痂時必極癢蓋癢為虛先時邪盛則痛今邪去則虛虛則癢邪去則痂若癰症初發便癢是邪盛正虛也</p>
<p>上有絕陽之絡下有破陰之紐皆是氣虛不能緝續故也補之所以緝續之耳但正氣一虛火便盛又穀氣不得升舉而為熱又氣虛不續而有留氣為喘滿為痛往往見有餘之證令人畏首畏尾不敢徑行施補遷延就斃者有之</p>
<p>肺出氣腎納氣所謂一呼天根一吸地穴循環無端應刻而不疾徐者也此氣一虛則斷而不續或短氣不足以息或擁而為滿雖雲氣不歸元其實只是氣虛也若陰虛陽無所附上見喘滿此則真是氣不歸元耳</p>
<p>言而微終日乃復言者此奪氣也濕家短氣聲如從擁中出此氣為濕所持而然然則有形之傷悉能令氣短不得定奪氣也</p>
<p>腳腫無非濕熱蓋濁邪下先受之　也膏粱厚味之人由濕熱下流田野耕鑿之人由寒濕外侵是為之產邪中氣素餒土虛不能制濕之人是為虛邪二者雖有虛之前之不同然皆本於濕唯是一種形瘦多熱老折陰虛者每至日午腳面浮腫此何以故予嘗思之陰虛而至暮年陰愈虛極之陰便不能吸氣歸元而升舉其陰於是陽獨浮於上陰獨沉於下而腳至暮浮腫也</p>
<p>汗多亡陽下多亡陰言陽主外陰主內也然豈無辛熱而損蓋復之陰豈無苦寒而傷閉蟄之陽必同見證何等而參之以脈方為不誤</p>
<p>按汗多亡衛外之陽下多亡主內之陰二者應之速汗不過一汗再汗下不</p>
<p>治風熱燥火寒潤之中尤必以真陰為先務治寒濕溫燥之中尤必以真陽為先務然風熱燥火亦有亡陽者陰虛陽無所附也寒濕亦有亡陰者陽虛陰必厚味之人不妨消導　然情欲過度又宜慎之藜藿之人最忌消導然淡食形盛又在不禁</p>
<p>凡病煩躁而愈者以邪氣盛時正不能與之爭反相安於無事及　其正復而與邪爭故煩躁也以此知癱瘓不隨之證無痛癢者反難療以正為邪並而不能復耳</p>
<p>病有在下者其見證反在上蓄血發狂是矣在上者其見證反在下肺氣擁大便頻肺虛小便數是矣在裡者其見證反在表如熱深厥亦深及面反戴陽是矣風溫溫虐得之冬中於風寒遇溫而發其氣　自內達外故多汗不比風寒束閉其營衛當鬚髮汗解肌也故以發汗為逆然其邪自內出若因汗而驟加表之藥邪不得越為害匪輕務必相其人之虛實清解得宜</p>
<p>虛不受補邪之前也實不受攻正虛也</p>
<p>氣有餘便是火氣焉能有餘惟是少一分之陰便多一分之氣此一分之氣無所歸宿而為火矣</p>
<p>按血陰氣陽二者屬人未見其有餘少一分陽便多一分火火有餘則似氣有餘也如此說方透</p>
<p>陰陽有偏勝為病者有偏負為病者然偏勝之中往往有偏負之假象補之則益勝偏負之中往往有偏勝之假象瀉之則益負</p>
<p>清氣不升濁氣不降七情六淫氣血飲食痰皆能為之苟不求其本而但利其氣氣之升降得乎</p>
<p>疾無汗要有汗固矣至於有汗要無汗此亦不可斟酌也雖邪有虛之不同熱則腠理開又暑為陽邪陽邪多汗故癌症往往多汗數發之後邪氣漸衰者亦以邪從汗解所以　疾雖眾不救者少亦此故也豈可因其多汗而遂加以固表之藥邪無從解矣故古人但言扶正為主亦未嘗言固表也余謂汗少不妨更汗若汗多不必更發汗似為得之</p>
<p>醫家要明不可治之病而後知有可治之病不可治之病真陰元陽虛極故耳如形盛脈細少氣不足以息者死形瘦脈大胸中多氣者死世人從讀其文而不繹其義豈知形盛脈細元陽虛也少氣不足以息虛之極也故死形瘦脈大真陰虛也胸中多氣虛之　極也亦死又如溫病穰穰大熱脈反靜者死下利脈反大者死又皆正氣虛而邪氣實也正不勝邪故死可見凡病之不可治者由真陰元陽之虛則其可治者可意會也</p>
<p>邪之所湊其氣必虛故曰不能治其虛焉問其餘然亦不可執也豈無壯年之人達年之和遇月之虛豚思慮應酬之間為虛邪賊風所乘又因脾氣健旺過啖甘肥炙煿釀成膠痰實火則發表攻裡如河間之推陳致新有何不可若因顧忌則反累正氣所謂五虛死五實亦死又云毋虛虛今又不論虛實動手便用實補益自謂調元之手亦膠柱而鼓者耳庸工但執熱則流通寒則凝滯二語一遇諸腹脹大痰氣阻滯與夫大小便秘遂行溫利之藥不知寒熱虛實是病皆有如諸腹脹大皆屬於熱類心曰熱痰氣有餘便是火熱則燥澀為癃此等可溫利乎夫水下二刻一周盾環此陰陽禁止抱之氣而然偏陰偏陽能之乎故曰氣化則出其旨深矣</p>
<p>手足心熱及夜有虛有實不得執之下　陰虛鬼賊相刑固為惡候然於理為順微邪薄所不勝由已之虛也於理為逆所以病亦有微邪而篤者賊而愈者</p>
<p>活血陳者不去新者不生始由虛而致實終因實而致虛此攻擊之品不能無也</p>
<p>肝欲散急食辛以散之肝實也肝苦急急食甘以緩之肝之虛也　推之他臟亦然</p>
<p>女人血結胞門則上焦之　陽不得入於陰在下則小腹裡急五液時下在上則孤陽獨浮而為發熱為掌上煩為唇口乾燥又宜先開痹破陰結引陽下行不徒專事滋陰</p>
<p>小便少亦有肺熱不能通調水道者</p>
<p>風溼症以去蒼朮加白朮沖和湯為當風寒症亦有風有時開其腠理而自汗者四時傷風亦有自汗者耆芍宜慎</p>
<p>風火皆陽能開其腠理皆自多汗一則桂枝一則白虎不可紊也廉泉開有中熱者有中風</p>

<h2>舌縱者</h2>
<p>虛則不能運化精微而為熱此陰黃之由緊勁縮燥之體也風勝反似之兼勝反似兼勝己之化也</p>
<p>營衛受氣於中中有所阻則營虛發熱衛虛惡寒故氣血飲食痰皆能為寒熱者此</p>
<p>青筋證面青唇黑手足厥冷氣逆血沖使然醫者意中不先有此一證鮮不認作陰經傷寒也</p>
<p>按即今之急痧北方名為青筋症</p>
<p>膈問有熱痰熱氣上蒸脈道擁塞故令人頭風目昏治以酒蒸大黃自上抑之所謂鳥集高巔射而落之此症甚多眼科庸工未達至理反用寒涼冰復遂至目生醫久則盲</p>
<p>按予治目疾初起必先用疏散活血二三服即愈從無失明醫障之患是歷驗心得今特揭出啟迪後進足徵啟東先生學有根柢非無據之言也</p>
<p>人身中有形之物皆屬陰故曰瘦人血虛然肥人有痰生熱熱生風風生燥燥則傷陰往往亦有陰虛者不可不知</p>
<p>痰之洶湧上焦結聚胸中皆由於氣治氣又莫先於降火破氣清火則痰自消此則言乎六淫七情拂暴積之痰耳若日積月累老痰凝結又當積漸以消釋之更當相其人之陽虛陰虛助以調補苟如前法將見痰未降而氣已消為患不或勝言矣醫者曉得當汗而汗當下而不難曉得當汗而不能汗當下而不下為難仲景之可與不可宜詳玩富貴之人恣情縱自揣不足求補於味知腎虛則胃弱不能消磨其厚味不生津液而反為痰涎中州不運矣氣愈弱矣病者不察虛中有實醫者又不識實中有虛攻之不安補之無益聊藉參耆苟延一月一旦奄逝自謂其命安不悲哉</p>
<p>按之痛者為之前不痛者為虛夫按則氣散即之產亦有因之而痛減者虛氣擁而為痛覆按之氣愈擁即虛亦因之而益痛者正未可執此而定其虛實也若以熱手久按痛止為寒不止為熱此則差可必耳</p>
<p>七情所傷動亂其火而傷陰此易知也七情所傷動亂其神而損氣此難知也要知神乃氣之帥神亂則氣自損耳</p>
<p>疏其氣血令其調達而致和平</p>
<p>高粱厚味之人形盛氣衰以氣不足以充故也然氣不足則生痰以為氣不足而補之則痰氣愈滯胸膈不利營衛不通加以以腎元衰耗厥氣上逆諸病生故善治者補益之中不可不兼之伐痰然端本澄源又在遠房幃斷厚味為先務也</p>
<p>五臟各有專司六腑互為輸瀉不啻百僚師師矣十二經以行於表裡上下十五絡以絡之奇經八脈以藩蔽之不啻金城湯池矣然主不明則十二官危土崩瓦解之勢一朝而至可見善養生者全在收攝此心程子曰心要在腔子里朱子曰必使道心嘗為一身之主而人心每聽命焉則天地萬物且位育豈但區區卻病而已</p>
<p>按人身別有一主非心也謂之君主之官當與十二官平等不得獨尊心之官為主若以心之官為主則下文主　不明則十二官凶當云十一官矣此趙無問所見超也</p>
<p>陰虛則陽無所附氣有升無降法當以滋陰藥為君降之藥為佐苟徒降其氣則清未必升而濁且隨干矣此治陰陽偏虛不易之理外此或七情逆滯或氣血飲食痰阻礙中焦妨其升降出人之路其人元氣未虧不妨升之降之可也然以上悉指後天有形氣血而言若論先天元陰元陽則陰虛陽必薄陽虛陰必乘此時但當峻補其陰陽無　暇為升降治標計也</p>
<p>八珍湯固是陰陽平補之劑然人稟受不同豈無偏勝偏虛則知少補一分之陽不足以配陰少補一分之陰不足以配陽多補一分之陽則陰氣耗竭一分多補一分之陰則陽氣牽滯一分此調理不足之證最為棘手況乎體虛之人外淫易犯內情易起飲食易停痰血易滯尤不可僅責其所無而不求其所有也</p>
<p>陰雖主降然必欲由天　而降陽雖主升然必使從地而升方謂之陰陽相抱故用　苦寒以治火之王辛溫以治水之王病未去而寒熱反增邪正相搏則痛若正不勝邪不妨補之然須佐以去邪之藥若正氣太虛又不妨純補俟其正復然後加以去邪之藥兵法云先為不可勝以等敵可勝又曰善戰者立於不敗之地而不失敵之所以敗也</p>
<p>虛痛雖有氣血寒熱之分然皆主於氣滯不滯則痛無由生氣虛則氣行遲遲則滯而痛血虛則氣行疾疾則前氣未行而後氣又至亦令滯而痛故氣虛補氣血虛補血俾陰中有陽陽中有陰反其漏下二刻一周扦環之常痛自愈也</p>
<p>按陰陽虛實之辨明且晰矣醫道精蘊猶兵家之善戰必先明地勢可進可退自立於不敗之地而已</p>

<h1>卷下</h1>
<p>世間病之殺人者十三而　醫藥殺人者十七皆由不知陰陽虛之前之理也如勞瘵未必適死也欲退其蒸頻用寒涼則脾泄而不可救矣膈噎未必適死也欲開其頻進香燥則三陽結而津液竭矣水腫未必適死也欲利其水頻用淡滲則陰亡而成陽水矣如此之類未易　枚舉操司命之權者豈可不知中病即止之理</p>
<p>陽虛而見陰熱之證此是真火無根而脫出陰虛而見陽熱之證此陰虛陽無所附而然也陽盛而見陰寒之證陽盛拒陰也陰盛而見陽熱之證陰盛格陽也四者用藥差訛死生反掌</p>
<p>按陰陽盛衰之理明則寒熱虛實之證自能瞭然無誤</p>
<p>陽虛陰必走水無氣以鼓之不能周流扦環是以走也故有陽虛失血者然血本水類水就下既無氣運之上行則當從二陰之窮脫出今陽虛之血往往見為吐衄者何也要知命門火衰之人真陽脫出浮游於上陰　血擾亂不安亦從而脫出也海藏云激而為吐血衄血者有之心肺受邪也其言可想陰陽格拒藥用反佐謂之反治可也至於真寒而見假熱真熱而見假寒藥用反佐其實正治也</p>
<p>自脫益氣是陰虛陽無所附故不得不先補其陽然後徐調其陰此從權之治尋常陰虛勞瘵不得以之藉口而以參耆為家常茶飯</p>
<p>熱則生風雖有虛實之不同然皆為假象也只是古方養血清熱之中而以風藥為佐此不可不深推其　義夫風者肝木之氣少陽之火焉喜條達而惡抑遏也佐以風藥以辛利之而復其性耳</p>
<p>黃連苦參久服而反熱附子乾薑多飲而反寒雖云久而增氣反招見化之尤窟不外寒之不寒是無水也熱之不熱是無火也</p>
<p>痙證在外陽病者仰而不免在內陰病者免而不仰此不易之論也而海藏附子散方云下治傷寒陰痙手足厥冷筋脈拘急汗出不止頭項強真頭搖口噤夫頭項強直則非俯而不能仰也奈何陰病亦然意者陰盛格陽於外陽經熱盛故如此如厥陰經熱深厥亦深亦舌捲縮此又是熱乘其本而陰氣反走於外也予會見頭強直之證有與寒涼而隨斃者蓋未達此理故耳</p>
<p>腎者胃之關從陽則開從陰則闔陽太勝則開而為消陽太勝則闔而為水明矣促景治水腫主之以腎氣丸而治消渴亦然安不與陽盛有乖乎予謂此之消是腎中陽虛不能收攝也此之渴是腎虛引水自救也喻嘉言謂腎水下趨故消腎氣不上勝故渴均用此丸蒸動腎氣恐未必然</p>
<p>上虛固是陽虛以身半以上同天之陽也下虛多是陰虛以身半以下同地之陰也然一陽根於地下而水出自高原陽虛則有降無升或虛之極而真陽脫出陰虛則有升無降或虛之極而真陰四射又不可不進求焉陽中不可無陰者何無陰則不能降也陰中不可無陽者何無陽則不能升也故曰天以陽生陰長地以陽殺陰藏</p>
<p>渴而汗出小便利大便鞭似不宜更利小便重傷津液也然仲景又有宜五苓散者此蓋通因通用其小便利乃是熱邪偏於小腸行乘勢利導之法如下利之用承氣也</p>
<p>燥與濕不兩立之勢然濕則熱熱則燥生有不得不然之理亦濕位之下風氣承之風生燥也仲景諸黃豬黃豬膏法發前輩煎茵陳五令散分治氣血分之燥旨哉</p>
<p>截疲刦嗽本非王道亦有不能不用之病如邪已去八九胸中有痰癖留戀其邪斯時不暇顧其餘而真攻其痰則邪無留戀之處而病自愈設邪氣方張則驅邪之未遑敢用截藥乎咳嗽邪已去八九而肺氣虛耗虛則氣逆斯時亦不暇顧虛其邪之未散土而直收澀之收以止逆澀以固脫則正氣復而餘邪自解設邪未去八九而虛邪逆上敢用刦藥乎</p>
<p>從少從多觀其事也</p>
<p>傷寒黃連湯因其人本虛寒陽邪傳裡與胸中之陽兩陽相合故為上熱下焦之寒則自若也所以上熱下寒斯時已成乖否之象病可愈乎是湯之不可緩矣</p>
<p>六氣相合有差多差少有真象有假象真假之中又復有差多差少所以不可不知從治之法也</p>
<p>陽虛易於受寒陰虛易於受寒陰虛易於受熱以身中之不足感召外邪之有餘此流濕就燥之義且無以御之之故也然亦有陰虛中寒陽虛受熱者其邪蓋因虛而招致不必同類而感召也治熱則恐亡陽治寒則恐亡陰最難為矣</p>
<p>陰虛只當發熱不當惡寒然亦有惡寒者熱勝反兼勝已之化也氣虛只當惡寒不當發熱然亦有發熱者火　與元氣不兩立也</p>
<p>小便黃赤多主於熱經又云肺氣虛則肓肩背痛寒少氣不足以息溺色又冬脈不及令人眇清脊痛溺色變二者言肺腎虛寒　而小變何虛實寒熱相懸而其病則同若此要知肺虛則不能通調水道腎虛則關門不　利皆能而為熱熱則溺色變是熱則一第有虛實之不同耳亦不可不知從治之法也</p>
<p>按便赤變有中寒而如是虛人老恆變熱則一未應說定</p>
<p>必伏其所主而先其所因</p>
<p>丹毒之與發斑亦有表裡致病之殊丹毒則系感觸時行不正之氣滯於營衛斑則由陽瘀熱而發於肌肉耳二者雖宜清熱在丹毒不可不加以解散在斑又不可不顧其虛蓋斑亦有亡陽於外者如丹溪所治完顏小將軍是也隨出隨沒系陰虛而虛火遊行者又身癢癮疹有因風濕及痰者</p>
<p>風傷衛衛傷則不能固衛津液故　令自汗此說深得用桂枝湯之旨表之前則裡虛此一語人往往潦草看過而不求其所以然蓋營衛受氣於胸中而臟腑亦受輸於營衛受邪而實則失其轉輸之職而里為之虛亦醫道之淺而易忽者</p>
<p>按營衛受邪而實漢言衛受邪而實則營失其衛而里為之虛不然表實裡虛一語終欠明耳</p>
<p>病有大相懸殊而其理則同者如肺痿之避肺之與病不同然一本與陰虛一本與陽實其理則同故學者不可不知此類</p>
<p>人身中三陽經衛於外三陰經守於中原無勝負第陽氣喜舒而惡　則熱生七情六淫皆能令也又天產作陽厚味助火又勞倦則陽和之氣動亂為火如是則火與熱搏擊於身形之中未免傷陰陰傷則陽旺陽旺則陰愈傷以至偏勝偏虛故丹溪發陽有餘陰不足之論世人讀其言不精求其義毋怪其有吠聲</p>
<p>太陰厥陰無熱而少陰反有熱者緣少陰與太陽為表裡其經亦裡之表又少陰茂真陽斯二者俱是反有熱之故也觀其用麻黃附子細辛湯概可見矣</p>
<p>胃偏於陽則消穀易飢又曰邪熱不殺穀是胃陽發露不殺穀是邪熱耳</p>
<p>傷寒論金匱要略豈每證治驗然後筆之於書哉不過以正氣與邪氣相擊在何經又系何邪見證應作何等立例論其理耳然卻非杜撰後人亦此等理明白於胸中何難因此及彼昔腎議論真筌諦也又要略者是舉其要而言擴而充之存乎其人</p>
<p>燥極而口噤善驚數欠者以木被金囚而不舒也婦人藏燥喜悲傷亦是此意</p>
<p>寒之而熱者取之陰熱之而寒者取之陽各求其屬當天地不交之時陽獨治於上無陰以蓋覆之陰猁　治於下九核原明者當於陽樂中加以收斂降下之品使陽歸於陰樂中加以升勝發之味使陰加於陽</p>
<p>過用陰精而陰脫於下暴喜傷而陽脫於上則各補其陰陽其有亡陰而陽脫於上亡陽而陰脫於　下則脫陰者當補其陽脫陽者當補其陰</p>
<p>陰虛陰亢法當益水或加細生甘草以瀉火此先天之陰陽也陰虛而生濕熱法當滋陰以瀉濕熱如六味丸加黃柏知母此後天之陰陽也陰虛陽無所附法當峻補其陰以攝伏其陽虛而陰無所倚法當峻補其陽以承領其陰陰陽兩虛則平補而各居其位此後天之陰陽而並通乎先天之陰陽也</p>
<p>相火有二在少陰者元陽也在少陽者生髮之氣也皆須陰以養之咳嗽大半是火來剋金謂之賊邪故難愈在實火固可瀉若虛火惟有壯水之主然壯水之主豈常人之能事又豈可以歲月程功況乎陰虛於下則痰氣雍於上養陰之藥又皆陰氣留痰亦未有倉卒取效也</p>
<p>按此是內傷陰虛火來剋金之嗽若風寒外入肺邪未出失解者久之火亦剋金傳談生痰又在體認明白</p>
<p>人有至冬寒時苦足冷夜半陽氣漸生其冷愈甚此亦質壯秋冬奪於所用病之輕者也其人上焦必多熱蓋兩腎陰陽抱負損一分之陰即脫出一分之陽既強力入房奪其收藏之用陰精從未全虧陽氣亦難全藏是以上焦每多客熱下焦每多客寒至秋冬三陰氣多三陽氣少之時足為之冷矣書當陽氣旺或能入於陽子後初生之陽其氣尚微遂不能入於陰而足愈冷也比之夏至一陰生而天氣反熱冬至一陽生而天氣反寒其理一也矧脫出之陽與上焦初生之陽至此時兩陽搏擊於胸中未免痰氣溷滯此又陽不能入於陰之一義也</p>
<p>內經寒厥寒厥論云春夏則陽氣多而陰氣少秋冬則陰氣盛而陽氣衰此人者質壯秋冬奪於所用下氣上爭不能復精氣溢下邪氣因從而上也人和在秋冬奪於所用謂秋冬奪於收藏之用　但不知收藏何物豈知收藏者指此陽氣而言也陽氣至此時收藏腎中正當思培養之計為來歲生長之用奈何恃其質壯而以入房遂奪此收藏之用於是下焦之陽衰矣衰則求救於上焦之陽上焦之陽原賴於下焦之陽為之根今下焦潛藏之陽既衰而上焦之陽安能復也陽不能持其陰精而精氣溢下上下之陽俱虛時令之寒挾下焦之寒從之而上故寒厥耳後人謂奪於所用是精竭於下上爭而求救於母氣腎所去者太過肺所生者不及故不能復如此言則是陰虛之證不當見為寒厥與陽氣衰於下則為寒厥與陽氣衰則不能滲營其經絡之旨大相背戾此蓋隨文順釋弊後學無可適從耳</p>
<p>腎虛水泛為痰謂腎中陽虛也陽虛故水泛溢若陰虛則是有升無降咳唾痰涎二者相去徑庭治法迥別</p>
<p>火之所以沉伏者多本於陰虛無以堵御經謂陰脈不足陽往乘之也故養得一分之陰即能托出一分之火如瘧疾邪微正復將欲愈口舌反生瘡又傷寒口渴為欲愈是矣</p>
<p>丹溪陰不足之論誠為精確是則當養陰矣然道家又言純陽又是喜陽而惡陰不知陰陽不可偏勝亦不可偏負其相得無間便是真氣真氣即生氣也人生動作不衰皆賴此陽氣然養此陽氣又全賴此陰氣如魚之有水所以陰在內陽之守也然陰氣匱乏一分則陽氣脫出一分陰氣全絕則孤陽飛越而去矣善攝生者外邪不侵內情不動茹淡遠則火不作而陰全陰全則陽氣相抱四　肢百骸皆陽氣充乎其間故曰純陽苟不知此理而一味養陽以求生經曰有陽無陰謂之厥陽可生乎瘧瘧瘧之寒熱當知三者之別一因有形之積留於中焦夫中焦之氣主行營衛者也為有形所陰則營衛不能受氣而虛衛虛則惡寒營虛則發熱也再則因暑邪陰寒所束在表半里之間一日發動薄陰則陰實而陽虛薄陽則陽實而陽虛陰虛則發熱陽虛則惡寒也其三因氣血兩虛氣虛則惡寒血虛則發熱也凡病見寒熱不越此三者</p>
<p>按氣血虛惡寒發熱說在瘧之寒　熱條下宜細心分別</p>
<p>氣不足則中焦之氣斷續而不行凝結而為脹滿痞塞血不足則不能吸陽氣於下中焦之氣亦斷續不行凝結而為脹滿痞寒於此但當診其脈證察陰虛陽虛而補益之一切破氣消導之藥不可用也夫四肢百骸皆受氣於胸中氣血虛則周身浮腫亦如中焦之氣斷續不行留結而為脹滿痞塞也於此亦當審其氣虛血虛而補益之浮腫自消一切消腫利水之　藥不可用也</p>

<h2>明知逆順正行無間</h2>
<p>嘔衄血不止有當下之者人皆知血出下核為順故　其法應施於妄逆之際也不知血之妄逆皆因於火治火必用苦寒苦寒之藥能令血凝而不流　血不流則氣逆嘔逆豈能止乎縱使得藥而止瘀血之患作矣所以用苦寒下之俾火降而瘀血不留斯一舉而兩得也</p>
<p>按嘔衄用苦寒下之是逐瘀血也然不苦慎用　苦寒無使血瘀不愈於下之　乎</p>

<h2>推本陰陽</h2>
<p>表之陽附於津液大汗亡津液故曰亡陽里之陽附於腎水房勞損陰精故曰脫陽不然津液與精皆陰類何以陽名</p>
<p>溫瘧風溫悉是冬不藏精之人其寒直中少陰至春因溫而發病雖有輕重之不同而致病之由則一也內經仲景未詳其治而但有其論後人因其論而彷佛其治總不外甘寒以救　腎辛涼以祛溫獨不思腎虛者腎中之元陰元陽虛也此法施之於陰虛之人則可施之於陽虛之人其可乎人但知冬不藏精謂陰虛也不思陰既虛矣陽豈能安其位乎況兩腎中一點真陽命曰守邪之神風寒直中少陰多由神不能守此等又可以前法治乎安得起仲景於九原而細商至當不易之理也</p>
<p>老人陰者十常八九陽虛者百無一二天地古今之理亦然試觀古人敦厚和平陰之體也今人尖銳躁急陽之體也世道漸漓亦指此敦厚和平之陰氣漸漓耳審此則古方治今病端有不可執者至論進陽退陰進君子退小人若易之喜復而惡剝此陽蓋指生髮之氣陰指肅殺之氣又非謂人身日用消長之陰陽也</p>
<p>按老人陰虛者固有陽虛者更多有服參耆附桂而日不容已始長年安保者則何故耶是說當論活些勿執</p>
<p>寒熱人身中之陰陽耳治則為陰陽乖則為寒熱</p>
<p>衛屬陽其氣慄悍故行速營屬陰其氣靜翕故行遲瘧邪之間一日及連二日發者邪之著於營也如周天之數日行過之月行不及亦是陰陽遲速之分耳生我者非他五運之氣也死我者非他亦五運之氣也故有五臟即具五行及邪之所湊或真氣本虛或他臟薄乘則各呈其象而為病以脈言之如真臟脈見即與之決死期燒針益陽損陰今時陰氣漸漓盡從火化燒針一法多不效匪無其傳也時世異也即岐伯生於今之時亦當舍燒針而從事湯液矣治病有失之漸者見病治病是也有失之深者誅伐無過是也推本陰陽萬舉萬當</p>
<p>按陰陽本乎日月循環以陽主動陰主靜合五運之氣化包合五行之盛衰生剋制化各呈其象分布五臟應乎世運可以明虛實辨表裡別營衛以參周天之數日月盈虛消長之理皆在其中矣</p>

<h2>脫陽遺精</h2>
<p>永樂戊子夏郁文質遘遺精之疾形體羸兼以痰喘交作日夕不能體息遍召市醫治之轉劇後乞余診之視告其致病之由陽脫也幸及治之緩則死矣非大料重劑則不能寮於是用附子天雄為君佐以人參於朮雲苓日加數服夜則減半自秋租冬所服附子約百餘雙餘藥不計厥疾乃瘳</p>
<p>按真陽離根勢已危急故進大劑陽書夜頻食方獲挽回元陽於將離之際然非真知灼見豈能立起沉疴所以名醫異於庸俗者哉</p>

<h2>國朝醫學</h2>
<p>今世之業醫者挾技以診寮者則有之矣求其從師以講習者何鮮也我太祖內設太醫院外設府州縣醫而學為為名蓋欲聚其人以教學即成功試之然後授以一方衛生之任由是進之以寫國醫其嘉惠天下生民也至矣某嘗考</p>
<p>考成周所以謂之醫師國朝所立為醫學之故精擇使判以上官聚天下習醫者俾其之養之讀軒岐之書研張系之技試之通而後授之職因其長而專其業績其事以制其祿則天下之人皆無夭閼之患而躋仁壽之域矣是亦王者仁政之一端也</p>
<p>承三世何其惑歟噫古之豪傑自振者不能悉舉若李東垣朱丹溪滑伯仁戴原禮輩皆非世傳而精造醫術屢起危殆著書立言為後進模範初不聞其父子相傳也是如醫在讀書而不在於三世明矣</p>

<h2>寒因熱用熱因寒用</h2>
<p>當聞封門仰同知璇性嗜方書凡遇家人有病自聞治其姊六月間勞倦中暑自用六和湯香藿飲之類反加虛火上升面赤身熱後邀劉宗序診視六脈疾數三部豁大而無力劉曰此病先因中氣不足內傷瓜果生物致內虛發熱非六和香藿所能治療況夏月伏陰在內重寒相合此為陰盛隔陽之症急用補中益氣湯加附子三錢煨乾姜一錢同煎置冰中浸冷服之其夜得熱寐至天明微汗愈仰拜謝曰伏陰之說已領教矣但不解以藥冰之何也劉曰此即內經熱因寒用寒因熱用之義何難之有仰大歡服</p>
<p>按此症知中氣不足者因診六脈疾數其要在三部寄豁大而無力以獲其受病之源用補中益氣湯加姜附健運中宮使脾陽旺而宿滯自消其用冰浸冷服乃用經旨亦巧思矣</p>

<h2>沖為血海</h2>
<p>甲乙經曰丈夫以右為命門左為腎女子以左為命門右為腎無求子曰男子得陰以生先生右腎女子得陽以長先生左腎是以女右手命門為子宮左手腎為血海二說不同何也張潔古云婦人皆左為腎右為命門男子主藏精者氣海也女子主擊胞者血海也所主者異受病則一也此說當為定論靈樞經曰沖為血海任主胞絡血海者衝脈也</p>

<h2>胃家濕熱</h2>
<p>近也方書惟戴元禮證治要訣議論切當有益後學但其間有云諸血藥中半夏陳皮自不可少余竊疑之半夏性燥功能去濕健脾古人發渴者尤且禁用恐其性燥捐損耗血分耳惟氣證發渴者不在此例當時元禮必因好酒之人胃氣濕熱而致吐血者用之則宜若云諸血藥中自不可少恐非元禮之言或門人誤記之耳</p>
<p>按半夏性燥功能勝濕健脾古人發渴者所當禁用以其性燥有耗損營血之虞或謂嗜酒者胃有濕熱而用之則宜若無濕熱猶當禁之今特揭明其旨</p>

<h2>酒面傷脾</h2>
<p>吳江謝訓導病頭痛發熱惡寒初作感治或以風治見熱則退熱痛則止疼或又以氣虛治由是雜治病加劇人事不省飲食已絕家人意其必死謝曰吾病惟盛御醫未視診命子乞余診得右關脈沉而澀重按有力乃誤藥所危此病法當先去宿滯疏二陳湯加酒製川軍八錢令其子急煎頻飲之至夜分左肯漸動肝氣亦舒大瀉二次是已有可生之機矣至半夜時覺腹中腸鳴左目睜開又下積垢數升中有堅塊如雞卵者數枚以刀剖視皆濁痰裡面食也既而氣舒結散津液流通知飢索粥而遂安矣眾人奇其治互相詰問答曰謝君或人也久居於南飲酒食麵皆能助濕濕勝傷脾生痰故土一虧百病交集有是病服是藥更復奚疑眾皆服膺凡治病必先審致疾之因方土之宜也</p>
<p>按此病因濕滯生痰里結難消兼以雜方亂投脾氣　亦因傷損乏健運之權矣用二陳行滯化痰繼之以導滯下行所以一鼓而擒之共旨深蘊可法可傳</p>
<p>富商患腹脹百藥乏效淮揚江皖諸名家治之反加胃敗嘔吐不食尩羸不支危殆極矣遂乞診於余診視其脈沉遲封鎖力右關尤甚研究其因蓋以酒色過度適當暑月嗜食冰浸瓜果貪涼太過脾陽受傷而市醫妄引諸腹脹大皆屬於熱恣用寒涼重傷胃氣是錯認病源失其本矣安能去病按脈立方遂用冷香引子合醉鄉玉悄法投劑便覺清爽熟寐數時溲溺暢行腫脹漸消食知味矣富商驚喜訊何藥之神難如此余曰吾以脈理參究時令推其右關沉而無力蓋君家道殷實酒色醉飽冰瓜沉李以意騰飛度之耳竟獲桴鼓之應乃君病當瘳藉余手而治由是病除無他術也何德之有</p>
<p>按名醫治病必由望聞問切詳加研究然後參以經旨而立方此症重在右關沉遲無力以顯脾氣不能健運輸化水氣溢於脾經而為腫脹以溫中化濕之劑溫運脾陽是治其本矣腹脹乃膀胱氣化不行濁氣因而上入脾氣愈滯而症形焉</p>

<h2>蜘蛛治蠱</h2>
<p>象山縣鄉民有患四肢不浮腫惟腹脹大戴原禮所謂蜘蛛病是也市醫進以匯水之劑病加劇時值炎暑益氣湯治之乏應乞診於余偶閱草蜘蛛氣寒有毒能治小兒丁遂以蜘蛛一枚煎水加入五苓散料濃煎去蜘蛛與病者服一盞不逾時腹中作水雞聲反覆不能安枕腹有微痛病家疑藥有誤來寓詰問解救法隨答以不必惶恐等藥力到小溲行而病自瘳又逾二時溲溺大行數次腹脹亦消其大半遂以溫中化濕法則康健如常矣</p>
<p>按此法雖效然須審辨虛實而用如其人病氣脹未可浪用此因蓄水而脹故有桴鼓之　應亦一時巧思偶中未足為治蟲恆法也</p>

<h2>濕熱生中心腹脹如蟲</h2>
<p>有老者病腹脹或作或止百治不效市醫均辭無法奄奄待斃鄰人代求余診六脈洪大重按濡耎因時值長夏濕熱薰蒸化生蟲脹之候用檳榔椿根皮石榴皮積壓五錢長流水濃煎空心頓服一碗少頃腹大痛瀉下數次蛔蟲長尺餘遂瘳</p>

<h2>五臟之蟲形狀</h2>
<p>許叔微本事云心蟲白蛔脾中心寸白腎如寸截絲縷肝蟲如爛杏肺蟲如區蠶皆能殺人惟肺蟲居肺蝕人肺系故成瘵疾咯血嘶聲藥所不到治之為難有人說道藏諸蟲頭向下惟自動初一至初五以前頭上行故用藥者多胐以前蓋此也如療寸白用良方錫沙蕪荑檳榔者極佳五更服蟲盡下白粥將息藥用石榴根濃汁半升下散三錢丸五枚今擴充言之昔人所謂九蟲之狀一曰伏蟲長四分為諸蟲之長二蟲白蟲長一寸相生至多其母長四五丈則殺人三日肉蟲狀如爛杏令人煩滿四肺蟲其狀如蠶令人咳五曰胃蟲狀暇暮蠶令人吐逆嘔噦六曰弱蟲狀如瓜瓣令人多唾七曰赤蟲狀如生肉令人腸鳴八曰蟯蟲至微細狀如菜蟲居洞腸多為痔漏疽諸瘡無所不為九曰蛔蟲長一尺則殺人又有屍蟲與人俱生狀如馬尾或如薄盤依脾而居長三寸許大害於人然多因臟虛寒　勞熱特於前哲書中裒集而揭明之</p>
<p>按蟲之患甚大所謂肺蟲居人肺葉間食人肺系其咳嗽聲嘶咯血嘔吐谷稱癆瘵沉疴藥石難以直搗蟲穴況蟲性敏捷變幻不測試誠生民之呃也</p>

<h2>初痢忌用澀劑</h2>
<p>張仲景法痢可下者十法可溫者五法謂之下者通用承氣湯加減之溫者率用姜附湯何嘗以巴豆粟殼之劑乎谷醫見自利而渴煩躁不眠手足微冷者皆用苦劑攻之殊不知陰盛發燥欲坐井中故前哲用吳茱萸湯甚者用四逆湯經曰陽虛陰乘之謂也丹溪用吳茱萸湯治霍亂吐瀉轉筋者亦此意也近世良工不審痢之赤白症之虛實新久概用罌粟殼石榴皮之類為秘方其功但施於久痢洞泄者則宜若初起者用之閉塞積滯變生別證以致經年累月謂之休息痢者是也世俗但知澀劑之能塞不知通劑之能塞也後之學者貴在變通不可執一而治</p>
<p>按痢疾古謂滯下以有積滯壅於腸胃不能傳達輸世故腹痛後重六府以通為新舊之積阻滯營衛升降治宜通因通用久痢正虛始可補澀二者猶如冰炭豈可不細心分辨以誤人者哉</p>
<p>冷酒致痢偶閱儒門事親云一人病危熱戴人往視之其人曰我別無病三年前時值炎暑出村野有以煮酒饋余者適村落無湯器冷飲數升便覺左肋下悶漸作痛結硬如石至今不化代。灸磨藥殊無寸效戴人診其兩手脈俱沉實而有力先以獨聖散吐之一湧二二升氣味如酒其痛即止後服和脾安胃之劑而愈始知冷酒之致病也如此</p>
<p>按冷酒入腹氣血為之水伏遏而不宣遂成結痛痼疾或謂丹溪之論但知熱酒之為害而不知冷酒之害尤甚也古人之言物性均從試驗中而得之豈欺我者奈後人不知衛生動輒以酒為漿是自戕其身哉</p>
