<header data-type="book">
<h1>本草經解</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="姚球">姚球</data>（原題<data value="葉桂">葉天士</data>撰）</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1724">公元1724年</data></dd></div>
<div><dt>底本</dt><dd>《精校葉天士本草經解》，1926年廣益書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NCL-9910010548">國家圖書館掃描本</a>）；<a href="https://ctext.org/library.pl?if=gb&res=2749">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>序一</h1>
<p>夫立言者不其難哉。或敷陳繁賾而肯綮無聞。或梗概粗呈而源流俱昧。失則維均。故職詳未若職要。而明其當然。又必抉其所以然。正如經籍。漢唐註疏。亦云詳矣。宋賢則略名物而窮義理。斯道始朗如星日。今醫之本草而有綱目。猶經籍之有註疏也。終身學而未知註疏者眾矣。而醫之於綱目亦然。畏其繁重記誦維艱也。驚猶河漢。會歸不易也。於是乎因陋就簡。承訛襲謬。凡訑訑然刀圭漫試。自詡良工。與夫坐擁皋比。居然名宿。滔滔皆是。堪一嘆也。古吳葉先生儒者也。邃於易而善醫。即以易之盈虛消息。通乎劑之緩急輕重。著書等身。其一為本草經解。於本經三百六十五種而損之。而益之。凡一百七十有四。其詮釋也縷析詳明。其制方也斟酌盡善。蓋東璧之書淹通博大。此則撮其至要。潔靜精微。固義文家法。一立言而三不朽具焉者也。其錫山王君悅田。為海文殿元之群從。學易於先生。兼得活人之術焉。間出此視予。予尋繹再四。謂是論衡也。忍終秘乎。頃者家大人於政事餘暇。刊布方書數種。補子惠所難周。掖斯人於耆艾。顧物藥則其權輿也。並鍥是書。欲學者咸奉為指南。譬若經生。即未遑遠稽。討矜奧博。但力守宋賢傳注。深思潛玩。融會貫通。已無愧真儒。此葉先生著書本懷也。悅田兄尊聞雅意也。亦即家大人保赤情殷。常以濟人利物。當隨事力行。敦勉余兄弟之素志也。工竣為識諸首簡。</p>
<p><u>雍正甲辰歲午月上浣河東楊緝祖序於六署之敬德堂</u></p>

<h1>序二</h1>
<p>古稱神農氏辨別百草之性。咀味窮理。列為成書。後人定之。名曰本草綱目。然品彙既多。篇章亦富。不無煩衍錯雜之病。能貫通而得其要者誠難其人。昌黎韓子有言。記事者提要。纂言者鉤玄。苟或昧於陰陽類聚群分。未能推明其所以然。而欲臨症補瀉。得其所當然。難矣。葉君天士儒者。喜讀書。尤邃於易。嘗著易經象訓十二卷。因易以悟醫。通乎其理。撰述頗多。本草經解其一也。集中所載。擇湯液中要品而得其精。家侄悅田從學有年。得其指示。抄錄此書。出入必偕。近遊六安。省舍弟於奎光清署。得謁州刺史楊公。公一見之。反復讚歎。以為詮釋之精。無逾此編。即命遠齋公子付之梓人。以公當世。使學者識其要領。於本草之精義。洞然豁然。綱舉目張。忘乎其纂輯之勞。而具有貫通之益。其於人之疾也。庶無謬乎。願以此編為良醫家法也。</p>
<p><u>雍正二年十一月日長至</u>　錫山王雲錦書於荷經之凝齋</p>

<h1>卷一</h1>

<h2>草部上</h2>

<h3>【人參】</h3>
<p>氣微寒。味甘。無毒。補五臟。安精神。定魂魄。止驚悸。除邪氣。明目。開心益智。久服輕身延年。</p>
<p>人參氣微寒。稟天秋令少陰之氣。入手太陰肺經。味甘無毒。稟地中正之土味。入足太陰脾經。氣厚於味。陽也。肺為五胖之長。百脈之宗。司清濁之運化。為一身之橐龠。主生氣。人參氣寒清肺。肺清則氣旺。而五臟俱補矣。精者陰氣之英華。神者陽氣之精靈也。微寒清肺。肺旺則氣足而神安。脾屬血。人身陰氣之原。味甘益脾。脾血充則陰足而精安。隨神往來者謂之魂。並精出入謂之魄。精神安。魂魄自定矣。氣虛則易驚。血虛則易悸。人參微寒益氣。味甘益血。氣血平和。驚悸自止。邪之所湊。其氣必虛。人參益氣。正氣充足。其邪自不能留。故能除邪氣。五臟藏陰者也。五臟得甘寒之助。則精氣上注於目而目明矣。心者神之處也。神安所以心開。開者朗也。腎者精之舍也。精充則伎巧出而智益。久服則氣足。故身輕。氣足則長生。故延年也。</p>
<p>制　方:</p>
<p>人參同五味子、麥冬。名生脈散。補陰生津液。同辰砂。治驚。同炮姜。則補氣溫中。同白朮、炮薑、甘草。名理中湯。治胸中寒邪痞塞。同白茯、白朮、甘草。名四君子湯。治脾濕不思飲食。同半夏、陳皮。治脾濕生痰。同附子。名一氣湯。追散失元陽。同半夏、生薑。治食入即吐。同陳皮、生薑。治霍亂吐瀉。煩躁不寧。同炮姜等分末。生地汁丸。治妊娠吐水。同蘇木。治產後發喘。加童便。治血暈。同歸身。治產後諸虛。同甘草、歸身、五味、麥冬。治血虛發熱。同炮薑、北味、白朮、甘草、白芍。治中氣虛喘。同黃耆、甘草、天冬、麥冬、生地、熟地、北味、蓯蓉。治腎虛水泛成痰。同乳香各一錢。丹砂五分末。雞蛋清和薑汁調服。治橫生倒產。同歸身、麥冬、五味。治聞雷即暈。同赤茯、龍齒、辰砂。治離魂。同陳皮。治房後困倦。同柴胡、大棗、生薑。治虛勞發熱。同赤茯、麥冬。治齒縫出血。同蓮肉、川蓮。治噤口痢。同白朮、吳茱萸。治脾泄。同五味、吳茱萸、肉果。名四神丸。治腎泄。同白芍、甘草。治血虛腹痛。同附子、肉桂、炮姜。治寒厥。同附子、北味。治氣脫中寒。同白朮、麥冬、五味。治中暑倦怠。同白芍、沉香。治氣虛胸滿。同升麻。補上焦元氣。瀉肺中伏火。同白茯。補下焦元氣。瀉腎中伏火。同沉香、茯神。治心虛邪客作痛。同黃耆、白芍、北味。治汗多亡陽。同知母、石膏、粳米、甘草。名人參白虎湯。治氣虛傷暑。同附子、白芍、白朮、白茯、甘草。治小兒慢驚。同菖蒲、蓮肉。治產後不語。同附子、肉桂、麥冬、五味。治下虛寒而上大熱。同黃耆、天冬、北味、牛膝、杞子、菖蒲。治中風不語。同大棗、白芍、甘草、棗仁、圓肉。治脾陰虛。同木瓜、藿香、橘紅。治氣虛反胃。同姜皮各兩許。水煎露服。治氣虛瘧久不止。</p>

<h3>【黃耆】</h3>
<p>氣微溫。味甘。無毒。主癰疽久敗瘡。排膿止痛。大風癩疾。五痔鼠瘻。補虛。小兒百病。（酒炒醋炒蜜炙白水炒）</p>
<p>黃耆氣微溫。稟天春升少陽之氣。入足少陽膽經。手少陽三焦經。味甘無毒。稟地和平之土味。入足太陰脾經。氣味俱升。陽也。脾主肌肉。甘能解毒。溫能生肌。所以主癰疽久敗瘡。排膿止痛也。風濕熱壅於肌肉筋脈中。則筋壞肉敗而成大麻風癩疾矣。脾主濕。膽主風。三焦主熱。邪之所湊。其氣必虛。黃耆甘溫。補益氣血。故治癩疾也。腸澼為痔。腸者手陽明經也。太陰脾。為陽明行津液者也。甘溫益脾。脾健運。則腸澼行而痔愈也。鼠瘻者瘰癧也。乃少陽經風熱鬱毒。黃耆入膽與三焦。甘能解毒。溫能散郁。所以主之。人身之虛。萬有不齊。不外乎氣血兩端。黃耆氣味甘溫。溫之以氣。所以補形不足也。補之以味。所以益精不足也。小兒稚陽也。稚陽為少陽。少陽生氣條達。小兒何病之有。黃耆入少陽補生生之元氣。所以概主小兒百病也。</p>
<p>制　方:</p>
<p>黃耆同桂枝、白芍、甘草、薑、棗、飴。名黃耆建中湯。治脾陰虛。同桂枝、白芍、甘草、防風。治表虛自汗。同茅朮、生地等分。牛膝、黃柏減半。丸。治濕毒臁瘡久不愈。用鹽水炒五錢。白茯一兩。末。治氣虛白濁。同甘草。治虛渴。同麻仁、陳皮、白蜜。治老人虛閉。同川蓮。治腸風下血。同川芎、糯米。治胎不安。同生地、熟地、黃柏、黃連、黃芩、歸身、棗仁。治陰虛盜汗。同生地、熟地、歸身、人參、棗仁、北味。治表虛自汗。同人參、甘草。名保元湯。治陽虛及虛痘症。同白芷、白芨、甘草、金銀花、皂刺。排膿止痛。</p>

<h3>【術】</h3>
<p>氣溫。味甘無毒。主風寒濕痹。死肌痙疸。止汗除熱。消食。作煎餌久服。輕身延年不飢。術性溫。稟天陽明之燥氣。入足陽明胃經。味甘無毒。稟地中正之土味。入足太陰脾經。氣味俱升。陽也。風寒濕三者合成痹。痹者拘攣而麻木也。蓋地之濕氣。感則害人皮肉筋骨也。死肌者。濕邪侵肌肉也。痙者。濕流關節而筋勁急也。疸者。濕乘脾土肌肉發黃也。皆脾胃濕症。術性甘燥。所以主之。胃土濕。則濕熱交蒸而自汗發熱。術性燥濕。故止汗除熱也。脾者為胃行其津液者也。脾濕。則失其健運之性而食不消矣。術性溫益陽。則脾健而食消也。煎餌久服。則胃氣充足。氣盛則身輕。氣充則不飢。氣納則延年。所以輕身延年不飢也。</p>
<p>制　方:</p>
<p>術同枳實作湯。治水飲。作丸。名枳朮丸。治面黃食不化。同人參。治脾肺俱虛。同白芍、白茯、甘草。治脾虛肌熱。同澤瀉。治心下有水。同牡蠣、浮麥、石斛。治脾虛盜汗。同姜酒煎。治產後嘔逆。同陳皮。治脾虛脹滿。同穀芽、豬肚丸。治脾虛少食而瘦。同白芍、肉果丸。治脾虛泄瀉。同茯苓、糯米、棗肉丸。治久瀉腸滑。同熟地丸。治瀉血色黃。同熟地、炮薑、北味丸。名黑地黃丸。治下血。同半夏、丁香。治小兒久泄。同澤瀉、車前。治水瀉暑瀉。同苦參、牡蠣、豬肚丸。治胃濕熱而瘦。同麥冬、石斛、黃柏、白芍、木瓜、苡仁、北味。治痿。</p>

<h3>【甘草】</h3>
<p>氣平。味甘。無毒。主五臟六府寒熱邪氣。堅筋骨。長肌肉。倍氣力。金瘡尰。解毒。久服輕身延年。（生用清火炙用補中）</p>
<p>甘草氣平。稟天秋涼之金氣。入手太陰肺經。味甘無毒。稟地和平之土味。入足太陰脾經。氣降味升。陽也。肺主氣。脾統血。肺為五臟之長。脾為萬物之母。味甘可以解寒。氣平可以清熱。甘草甘平。入肺入脾。所以主五臟六腑寒熱邪氣也。肝主筋。腎主骨。肝腎熱而筋骨耎。氣平入肺。平肝生腎。筋骨自堅矣。脾主肌肉。味甘益脾。肌肉自長。肺主周身之氣。氣平益肺。肺益則氣力自倍也。金瘡熱則尰。氣平則清。所以治尰。味甘緩急。氣平清熱。故又解毒。久服肺氣清。所以輕身。脾氣和。所以延年也。</p>
<p>制　方:</p>
<p>甘草佐黃耆、防風。治氣虛痘症。同白芍、黃芩。名黃芩湯。治痢。同白芍。名甲己湯。治泄。同人參、炮薑、肉桂。則溫中。同麥冬、枇杷葉、蘇子。則下氣。同川蓮、白芍、升麻、滑石。治熱痢。同人參、菖蒲、益智、圓肉、棗仁、遠志。治健忘。同桔梗、元參、牛蒡、花粉。利咽喉。同麥冬、石膏、竹葉、知母。名竹葉石膏湯。治煩悶燥渴。同川蓮、木通、赤茯、生地。瀉心火。同桂枝、人參、生地、麥冬、阿膠、麻仁、薑、棗、酒。名復脈散。治心脾血枯。甘草一味。水炙熬膏。治懸癰如神。</p>

<h3>【山藥】</h3>
<p>氣溫平。味甘。無毒。主傷中。補虛羸。除寒熱邪氣。補中。益氣力。長肌肉。強陰。久服耳目聰明。輕身。不飢延年。（炒用）</p>
<p>山藥氣溫平。稟天春升秋降之和氣。入足厥陰肝經、手太陰肺經。味甘無毒。稟地中正之土味。入足太陰脾經。氣升味和。陽也。脾為中州而統血。血者陰也。中之守也。甘平益血。故主傷中。脾主肌肉。甘溫益脾。則肌肉豐滿。故補虛羸。肺主氣。氣虛則寒邪生。脾統血。血虛則熱邪生。氣溫益氣。味甘益血。血氣充而寒熱邪氣除矣。脾為中州。血為中守。甘平而益脾血。所以補中。脾主四肢。脾血足。則四肢健。肺氣充。則氣力倍也。陰者宗筋也。宗筋屬肝。氣溫稟春升之陽。所以益肝而強陰也。久服。氣溫益肝。肝開竅於目。目得血則明。氣平益肺而生腎。腎開竅於耳。耳得血則聰。味甘益脾。脾氣充則身輕。脾血旺則不飢。氣血調和。故延年也。</p>
<p>制　方:</p>
<p>山藥同生地、杞子、牛膝、甘菊、白蒺藜、五味。治肝腎虛怯。同蓮肉、扁豆、人參、白芍、白茯、甘草、陳皮。治脾虛泄瀉。同羊肉、肉蓯蓉作羹。治虛羸。</p>

<h3>【薏苡仁】</h3>
<p>氣微寒。味甘。無毒。主筋急拘攣不可屈伸。久風濕痹。下氣。久服輕身益氣（糯米炒）</p>
<p>苡仁氣微寒。稟天秋金之燥氣。入手太陰肺經。味甘無毒。得地中平之土味。入足太陰脾經。氣降味和。陰也。經云。濕熱不攘。則大筋軟短而拘攣。苡仁氣微寒。清熱利濕。所以主筋急拘攣不可屈伸也。久風。長久之風也。風淫則末疾。所以手足麻木而濕痹生焉。苡仁甘寒。其主之者。甘以行之。寒以清之也。微寒。稟秋金之燥氣而益肺。肺氣治則下行。故主下氣。久服輕身益氣者。濕行則脾健而身輕。金清則肺實而氣益也。</p>
<p>制　方:</p>
<p>苡仁同木瓜、石斛、萆薢、黃柏、生地、麥冬。治痿厥。同五加皮、牛膝、石斛、生地、甘草。治筋拘急。專一味多服久服。治濕火傷肺。肺癰肺痿及痿症。</p>

<h3>【何首烏】</h3>
<p>氣微溫。味苦澀。無毒。主瘰癧。消癰腫。療頭風面瘡。治五痔。止心痛。益血氣。黑髭發。悅顏色。久服長筋骨。益精髓。延年不老。亦治婦人產後及帶下諸疾。（馬豆蒸用）</p>
<p>何首烏氣微溫。稟天春升少陽之氣。入足少陽膽經、手少陽三焦經。味苦澀無毒。得地火水之味。入手少陰心經、足少陰腎經。氣味升少降多。陰也。瘰癧少陽之郁毒。首烏入少陽。氣溫則通達。所以主之。癰腫及頭面風瘡。皆屬心火。味苦入心。氣溫能行。所以主之。腸澼為痔。痔者濕熱傷血之症也。味苦清血。故亦主之。心為君火。火鬱則痛。苦能泄。溫能行。故主心痛。心主血。腎藏氣。味苦益血。味澀益氣也。髭發者血之餘也。心者生之本。其華在面。心血通流。則髭發黑而顏色美矣。其黑髭發悅顏色者。苦益血而溫能通也。肝主筋。腎主骨。藏精與髓。膽氣疏則肝血潤。心血充則腎精足。其堅筋骨益精髓者。氣溫益膽。味苦澀而交心腎也。心腎交。則火降水升。自延年不老矣。治產後及帶下諸疾者。以氣溫能升少陽之生氣。味苦澀交心腎之陰陽也。</p>
<p>制　方:</p>
<p>首烏同牛膝、鱉甲、陳皮、青皮。治瘧邪在陰分。如表虛脾弱。加人參三五錢。同金銀花、地榆、川蓮、白芍、升麻、葛根、甘草、滑石、山豆根、犀角、草石蠶。治痢純血諸藥不效者。首烏日日生嚼。治瘰癧或破或不破。並用葉搗塗。同牛膝丸。治腰膝軟疼。及風痰久瘧。</p>

<h3>【百合】</h3>
<p>氣平。氣甘。無毒。主邪氣腹脹心痛。利大小便。補中益氣。</p>
<p>百合氣平。稟天秋平之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。氣降味和。陰也。肺主氣。氣逆則腹脹心痛。謂之邪者。蓋非其位則為邪也。氣平下降。所以主之。膀胱者州都之官。津液氣化則出。肺主氣。而與大腸為合。脾者又為胃行津液者也。百合甘平。平則氣降。氣化及於州都。則小便利。甘則脾潤。脾行胃之津液。則大便利也。脾為中州。補中者味甘益脾也。肺主氣。益氣者氣平肅肺也。</p>
<p>制　方:</p>
<p>百合同麥冬、白芍、甘草、木通。利大小便。同知母、柴胡、竹葉。治寒熱邪氣。通身疼痛。同麥冬、五味、白芍、甘草。補中益氣。同白芍、白茯、車前、桑皮。治皮毛浮腫。</p>

<h3>【菟絲子】</h3>
<p>氣平。味辛甘。無毒。主續絕傷。補不足。益氣力。肥健人。（酒蒸）</p>
<p>菟絲子氣平。稟天秋平之金氣。入手太陰肺經。味辛甘無毒。得地金土二味。入足太陰脾經、足陽明燥金胃經。氣味升多於降。陽也。其主續絕傷者。肺主津液。脾統血。辛甘能潤。潤則絕傷續也。肺主氣。脾主血。胃者十二經之本。氣平而味辛甘。則氣血俱益。故補不足也。氣力者得於天。充於谷。辛甘益脾胃。則食進而氣力充也。脾胃為土。辛甘能潤。則肌肉自肥也。</p>
<p>制　方:</p>
<p>菟絲子單服。補血。同熟地丸。治陰損。同杜仲丸。治陽虛。同白茯、石蓮。治白濁。同麥冬丸。治心腎不足。口乾怔忡。同牛膝。治腰膝痛。</p>

<h3>【淫羊藿】</h3>
<p>氣寒。味辛。無毒。主陰痿絕傷。莖中痛。利小便。益氣力。強志。（羊脂拌炒）</p>
<p>淫羊藿氣寒。稟天冬令之水氣。入足少陰腎經。味辛無毒。得地潤澤之金味。入手太陰肺經。氣味降多於升。陰也。陰者宗筋也。水不制火。火熱則筋失其剛性而痿矣。淫羊藿入腎而氣寒。寒足以制火而痿自愈也。絕傷者。陰絕而精傷也。氣寒益水。味辛能潤。潤則陰精充也。莖。玉莖也。痛者火鬱於中也。熱者清之以寒。郁者散之以辛。所以主莖中痛也。小便氣化乃出。辛寒之品。清肅肺氣。故利小便。肺主氣。腎統氣。寒益腎。辛潤肺。故益氣力也。氣力既益。內養剛大。所以強志。蓋腎藏志也。</p>
<p>制　方:</p>
<p>淫羊藿浸酒。治偏風不遂。水涸腰痛。同五味、覆盆丸。治三焦咳嗽。專為末泡湯漱。治牙痛。</p>

<h3>【巴戟天】</h3>
<p>氣微溫。味辛甘。無毒。主大風邪氣。陰痿不起。強筋骨。安五臟補中。增志益氣。（酒焙）</p>
<p>巴戟天氣微溫。稟天春升之木氣。入足厥陰肝經。味辛甘無毒。得地金土二味。入足陽明燥金胃經。氣味俱升。陽也。風氣通肝。巴戟入肝。辛甘發散。主大風邪氣。散而瀉之也。陰者宗筋也。宗筋屬肝。痿而不起。則肝已全無鼓動之陽矣。巴戟氣溫益陽。所以主之。蓋巴戟治陽虛之痿。淫羊藿治陰虛之痿也。肝主筋。腎主骨。辛溫益肝腎。故能強筋骨也。胃者五臟之原。十二經之長。辛甘入胃。溫助胃陽。則五臟皆安也。胃為中央土。土溫則中自補矣。腎統氣而藏志。巴戟氣溫益肝。肝者敢也。肝氣不餒。則不耗腎。而志氣增益也。</p>
<p>制　方:</p>
<p>巴戟天同五味、蓯蓉、山茱萸、鹿茸、柏仁、杞子、補骨脂。治陰痿。同鹿角、柏仁、天冬、遠志、蓮鬚、覆盆、黃柏。治夜夢鬼交泄精。同熟大黃。治飲酒人腳耎。</p>

<h3>【肉蓯蓉】</h3>
<p>氣微溫。味甘。無毒。主五勞七傷。補中。除莖中寒熱痛。養五臟。強陰。益精氣。多子。婦人癥瘕。久服輕身。（洗去甲用）</p>
<p>肉蓯蓉氣微溫。稟天春升之木氣。入足厥陰肝經。味甘無毒。得地中正之土味。入足太陰脾經。色黑而潤。制過味鹹。兼入足少陰腎經。氣味俱濁。降多於升。陰也。填精益髓。又名黑司命。五勞者。勞傷五臟之真氣也。勞者溫之。蓯蓉氣溫。所以治勞也。七傷者。食傷。憂傷。飲傷。房室傷。飢傷。勞傷。經絡營衛氣傷之七傷也。七者皆傷真陰。肉蓯蓉甘溫滑潤。能滋元陰之不足。所以主之也。中者陰之守也。甘溫益陰。所以補中。莖。玉莖也。寒熱痛者。陰虛火動。或寒或熱而結痛也。蓯蓉滑潤。滑以去著。所以主之。五臟藏陰者也。甘溫潤陰。故養五臟。陰者宗筋也。宗筋屬肝。肝得血則強。蓯蓉甘溫益肝血。所以強陰。色黑入腎。補益精髓。精足則氣充。故益精氣。精氣足則頻御女。所以多子也。婦人癥瘕。皆由血成。蓯蓉溫滑而咸。咸以軟堅。滑以去著。溫以散結。所以主之也。久服。肝脾腎精充足。所以身輕也。</p>
<p>制　方:</p>
<p>肉蓯蓉同白膠、杜仲、地黃、當歸、麥冬。治婦人不孕。同人參、鹿茸、牡狗莖、白膠、杜仲、補骨脂。治陽痿。及老人陽衰。一切腎虛腰痛。兼令人有子。同黃耆。治腎氣虛。同北味丸。治水泛成痰。同鹿茸、山藥、白茯丸。治腎虛白濁。同沉香、脂麻丸。治汗多便秘。同山萸、北味丸。治消中易飢。專用二三兩白酒煎服。治老人便閉。同山藥、杞子、山萸、北味、黃耆、歸身。治腎燥泄瀉。同白芍、甘草、黃芩、紅曲。治痢。</p>

<h3>【地黃】</h3>
<p>氣寒。味甘。無毒。主傷中。逐血痹。填骨髓。長肌肉。作湯除寒熱積聚。除痹。</p>
<p>療折跌絕筋。久服輕身不老。生者尤良。</p>
<p>地黃氣寒。稟天冬寒之水氣。入足少陰腎經。味甘無毒。得地中正之土味。入足太陰脾經。氣味重濁。陰也。陰者中之守也。傷中者。守中真陰傷也。地黃甘寒。所以主之。痹者血虛不運。而風寒濕湊之。所以麻木也。地黃味甘益脾。脾血潤則運動不滯。氣寒益腎。腎氣充則開合如式。血和邪解而痹瘳矣。腎主骨。氣寒益腎。則水足而骨髓充。脾主肌肉。味甘潤脾。則土滋而肌肉豐也。作湯除寒熱積聚者。湯者蕩也。或寒或熱之積聚。湯能蕩之也。蓋味甘可以緩急。性滑可以去著也。其除痹者。血和則結者散。陰潤則閉者通。皆補脾之功也。其療折跌絕筋者。筋雖屬肝。而養筋者脾血也。味甘益脾。脾血充足。則筋得養而自續也。久服氣寒益腎。腎氣充所以身輕。味甘益脾。脾血旺則華面。所以不老。且先後二天交接。元氣與穀氣俱納也。</p>
<p>制　方:</p>
<p>地黃同大薊、小薊各半。搗取自然汁。和童便服。治血熱吐衄症。同麥冬。治產後煩悶。同沙蒺藜、蓯蓉、鹿茸、山茱萸、北味。治男子精寒。同白茯、丹皮、澤瀉、山茱萸、山藥。名六味湯丸。治一切陰虛症。同人參、遠志、麥冬、棗仁、柏仁、茯神、甘草。治心虛怔忡悸忘。同黃耆、川蓮、黃柏、棗仁、五味、麥冬、圓肉、牡蠣。治盜汗不止。同麥冬、五味、牛膝、杞子、車前、阿膠、天冬。治尿血。同麥冬、五味、牛膝。治下部無力。同砂仁。治胎動下血腰痛。同生姜。治產後中風。同醋炒黃耆。治腸風不止。同肉桂、山藥、山茱萸、丹皮、澤瀉、白茯。名七味湯丸。治命門火衰。同肉桂、附子、山茱萸、白茯、丹皮、澤瀉、山藥丸。名腎氣丸。治命門虛寒。</p>

<h3>【天門冬】</h3>
<p>氣平。味苦。無毒。主諸暴風濕偏痹。強骨髓。殺三蟲。去伏屍。久服輕身益氣。延年不飢。（去心）</p>
<p>天門冬氣平。稟天秋平之金氣。入手太陰肺經。味苦無毒。得地寒涼之火味。入手少陰心經。氣味俱降。陰也。其主暴風濕偏痹者。燥者濡之。熱者清之。著者潤之也。蓋風本陽邪。風濕偏痹。發之以暴。暴病皆屬於火也。骨屬腎。腎屬水。天冬氣平益肺。肺金生水。故骨髓強也。三蟲伏屍。皆濕熱所化。味苦可以祛濕。氣平可以清熱。濕熱下逐。三蟲伏屍皆去也。久服益肺。肺清則氣充。故益氣。氣足則身輕。氣治則延年。氣滿則不飢也。</p>
<p>制　方:</p>
<p>天冬同麥冬、五味煎膏。治消渴。同生地、人參。滋養陰血。同生地、麥冬丸。煎逍遙散下。治婦人骨蒸。同生地、麥冬、白芍、鱉甲、牛膝、杜仲、續斷、童便。治吐血。</p>

<h3>【麥門冬】</h3>
<p>氣平。味甘。無毒。主心腹結氣。傷中傷飽。胃絡脈絕。羸瘦短氣。久服輕身。</p>
<p>不老不飢。（去心）</p>
<p>麥冬氣平。稟天秋平之金氣。入手太陰肺經。味甘無毒。得地中和之土味。入足太陰脾經。氣降味和。陰也。心腹者。肺脾之分。結氣者。邪熱之氣結也。其主之者。麥冬甘平。平能清熱。甘緩散結也。中者陰也。傷中者陰傷也。甘平益陰。故主傷中。脾為胃行津液者也。脾血不潤。則不能為胃行津液。而傷飽之症生矣。味甘而潤。滋養脾血。故主傷飽。脈者血之府。胃與脾合。胃絡脈絕者。脾血不統。脈絡不與胃相接也。甘潤養陰。所以續脈。脾主肌肉。而稟氣於胃。脾陰不潤。則肌肉不長。而胃氣上逆。肺亦能呼不能吸。而氣短促矣。麥冬味甘益脾。故主羸瘦。氣平益肺。故主短氣也。久服肺氣充。所以身輕。脾血潤。所以不老不飢也。</p>
<p>制　方:</p>
<p>麥冬同川連。治消渴飲水。同甘草、粳米、大棗、竹葉。治勞氣欲絕。同烏梅。治下利口渴。同人參、北味、杞子。治虛熱病暑。同沙參、北味。治心肺虛熱。</p>

<h3>【葳蕤】</h3>
<p>氣平。味甘。無毒。主心腹結氣。虛熱濕毒。腰痛。莖中寒。及目痛眥爛淚出。</p>
<p>葳蕤氣平。稟天秋降之金氣。入手太陰肺經。味甘無毒。得地中和濕土之味。入足太陰脾經。氣降味和。陰也。甘平之品。則能清能潤。故亦主心腹結氣也。其主虛熱者。甘能補虛。平可清熱也。濕毒腰痛。及莖中寒。目痛眥爛淚出。皆太陽膀胱之病也。膀胱之經。起於目內眥。其直者下項挾脊。抵腰中。入循膂絡腎屬膀胱。膀胱本寒水之經。膀胱有濕毒。則濕氣走腰中而痛。走膀胱而莖中寒矣。於是膀胱濕火上炎於經絡。目痛內眥爛而淚自出也。其主之者。膀胱之開合。皆由氣化。葳蕤氣平益肺。肺氣降則小便通。濕行火降。而諸症平矣。蓋膀胱津液之府。肺乃津液之原。潤其原。則膀胱之濕亦行也。所謂治病必求其本者如此。</p>
<p>制　方:</p>
<p>葳蕤同黃耆。治老人大便秘。同漆葉。治陰虛。兼令人有子。</p>

<h3>【牛膝】</h3>
<p>氣平。味苦酸。無毒。主寒濕痿痹。四肢拘攣。膝痛不可屈伸。逐血氣。傷熱火爛。墮胎。久服輕身耐老。</p>
<p>牛膝氣平。稟天秋降之金氣。入手太陰肺經。味苦酸無毒。得地木火之味。入足厥陰肝經、手厥陰心包絡。氣味俱降。陰也。肺熱葉焦。發為痿痹。牛膝苦平清肺。肺氣清則通調水道。寒濕下逐。營衛行而痿痹愈矣。濕熱不攘。則大筋軟短。而四肢拘攣。膝痛不可屈伸矣。牛膝苦酸。酸則舒筋。苦除濕熱。所以主之也。逐血氣者。苦平下泄。能逐氣滯血凝也。傷熱火爛者。熱湯傷。火傷瘡也。苦平清熱。酸能收。斂則止。而瘡愈也。苦味伐生生之氣。酸滑傷厥陰之血。所以墮胎。久服則血脈流通無滯。所以輕身而耐老也。</p>
<p>制　方:</p>
<p>牛膝同生地。治下元虛。專用五兩酒煎。治女人陰痛。同當歸、生地。下死胎。用三兩同鱉甲三錢。治瘧在陰分久不愈。胃虛加人參一兩。陳皮去白五錢。同青蒿、生地、麥冬、杞子。治血虛發熱。</p>

<h3>【續斷】</h3>
<p>氣微溫。味苦。無毒。主傷中。補不足。金瘡癰瘍折跌續筋骨。婦人乳難。久服益氣力。（酒炒用）</p>
<p>續斷氣微溫。稟天春升之木氣。入足厥陰肝經。味苦無毒。得地南方之火味。入手少陰心經。氣升味降。陽也。肝藏血。心主血。血者營也。中之守也。血虛則中傷。續斷氣微溫入肝。肝者陽中之少陽。以生氣血者也。所以主傷中。補不足者。補肝經之不足也。金瘡癰瘍。皆傷血之症。氣溫益血。味苦清心。所以主之。折跌續筋骨者。氣微溫能活血。血活則斷者續也。女人血不足則乳難。氣溫行血。血充乳自多也。肝者罷極之本。以生血氣之臟也。氣微溫。達少陽之氣。所以益氣力也。</p>
<p>制　方:</p>
<p>續斷一味。治產後諸症。同杜仲、棗肉丸。治胎不安。同北味、木瓜、炮薑、牛膝、丹皮、生地。治產後火升。</p>

<h3>【五味子】</h3>
<p>氣溫。味酸。無毒。主益氣。咳逆上氣。勞傷羸瘦。補不足。強陰。益男子精。</p>
<p>五味子氣溫。稟天春升之木氣。入足少陽膽經。味酸無毒。得地東方之木味。入足厥陰肝經。氣升味降。陰也。膽者擔也。生氣之原也。肝者敢也。以生血氣之臟也。五味氣溫益膽。</p>
<p>味酸益肝。所以益氣。肝血虛則木枯火炎。乘所不勝。病咳逆上氣矣。五味酸以收之。溫以行之。味過於酸。則肝氣以津而火不炎矣。肝氣不足。則不勝作勞。勞則傷其真氣。而肝病乘脾。脾主肌肉。故肌肉瘦削。五味酸以滋肝。氣溫治勞。所以主勞傷羸瘦也。肝膽者。東方生生之臟腑。萬物榮發之經也。肝膽生髮。則餘臟從之宣化。五味益膽氣而滋肝血。所以補不足也。陰者宗筋也。肝主筋。味酸益肝。肝旺故陰強也。酸溫之品。收斂元陽。斂則陰生。精者陰氣之英華也。所以益男子精也。</p>
<p>制　方:</p>
<p>五味子同黃耆、麥冬、黃柏。治夏月困乏無力。同炮薑炭。斂浮游之火歸於下焦。同乾葛、扁豆。治酒疸。同苦茶、甘草。治久咳。同白礬末。豬肺蘸服。治痰嗽並喘。專為末。治肝虛泄精。及陽事不起。同生地、丹皮、山萸、山藥、澤瀉、茯芩。名都氣湯。治水虛火炎。同淫羊藿丸。治陰虛陽痿。臨房不舉。易泄易軟。</p>

<h3>【沙參】</h3>
<p>氣微寒。味苦。無毒。主血結驚氣。除寒熱。補中益肺氣。</p>
<p>沙參氣微寒。稟天初冬之水氣。入足少陰腎經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。心主血而藏神。神不寧則血結而易驚矣。結者散之。驚者平之。沙參味苦能散。氣寒能平也。心火稟炎上之性。火鬱則寒。火發則熱。苦寒之味能清心火。故除寒熱。陰者所以守中者也。氣寒益陰。所以補中。肺為金藏。其性畏火。沙參入心。苦寒清火。所以益肺氣也。</p>
<p>制　方:</p>
<p>沙參一味。治肺熱咳嗽。為末。酒服方寸匕。治卒疝。少腹及陰中相引絞痛。自汗出欲死者。用米飲下二錢。治白帶。</p>

<h3>【芍藥】</h3>
<p>氣平。味苦。無毒。主邪氣腹痛。除血痹。破堅積。寒熱疝瘕。止痛。利小便。益氣。（赤者破血）</p>
<p>芍藥氣平。稟天秋收之金氣。入手太陰肺經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。腹者足太陰行之地。邪氣者。肝木之邪氣乘脾土作痛也。芍藥入肺。氣平伐肝。所以主之。血痹者。血澀不行而麻木也。芍藥入心。苦以散結。故主之也。堅積。堅硬之積也。疝者。小腹下痛。肝病也。瘕者。假物而成之積也。寒熱疝瘕者。其原或因寒或因熱也。芍藥能破之者。味苦散結。氣平伐肝也。諸痛皆屬心火。味苦清心。所以止痛。膀胱津液之出。皆由肺氣。苦平清肺。肺氣下行。故利小便。肺主氣。壯火則食氣。芍藥氣平益肺。肺清故益氣也。赤者入心與小腸。心主血。小腸主變化。所以行而不留。主破血也。</p>
<p>制　方:</p>
<p>芍藥醋炒則入肝。同白朮補脾。同川芎瀉肝。同人參補氣。同歸身補血。同甘草止痛。同黃連止瀉。同薑棗溫經散濕。同甘草。夏加黃芩。冬加桂枝。治腹中虛痛。同甘草。治消渴引飲。同犀角。治衄血咯血。同香附、熟艾。治經水不止。同香附末。鹽湯調服。治血崩帶下。同川連、滑石、甘草、升麻、人參、蓮心、扁豆、紅曲、乾葛。治痢。同荊芥、防風、生地、甘草。治腸風。同歸身、生地、牛膝、炮薑、續斷、麥冬、五味。治產後虛熱。同黃耆、防風。治表虛自汗。同陳皮、藿香、木瓜、甘草。治中惡腹痛。同白朮、白茯、豬苓、陳皮。治脾濕腹痛。</p>

<h3>【當歸】</h3>
<p>氣溫。味苦。無毒。主咳逆上氣。溫瘧寒熱洗洗在皮膚中。婦人漏下絕子。諸惡瘡瘍金瘡。煮汁飲之。</p>
<p>當歸氣溫。稟天春升之木氣。入足厥陰肝經。味苦無毒。得地南方之火味。入手少陰心經。氣升味厚。陽也。其主咳逆上氣者。心主血。肝藏血。血枯則肝木挾心火上刑肺金。而咳逆上氣也。當歸入肝養血。入心清火。所以主之也。肝為風。心為火。風火為陽。但熱不寒者為溫瘧。風火乘肺。肺主皮毛。寒熱洗洗在皮毛中。肺受風火之邪。不能固皮毛也。當歸入心入肝。肝血足則風定。心血足則火息。而皮毛中寒熱自愈也。婦人以血為主。漏下絕子。血枯故也。當歸補血。所以主之。諸惡瘡瘍。皆屬心火。心血足則心火息。金瘡失血之症。味苦清心。氣溫養血。所以皆主之。用煮汁飲者。取湯液之功近而速也。</p>
<p>制　方:</p>
<p>當歸同黃耆。名補血湯。治血虛發熱象白虎症。同川芎。名佛手散。治失血眩暈。本味酒煮。治血虛頭痛。同知母。治衄血不止。同牛膝、甘草梢。治小便血。為末酒服。治心下刺痛。酒浸。治臂痛。用一兩水煎露服。治溫瘧。用二兩。吳萸一兩同炒。去萸為末蜜丸。治久痢。同白芷。治大便不通。同生地。治婦人血虛。同川芎、砂仁。治胎動及胎死腹中。同炮姜。治產後血脹。同白蜜。治產後腹痛。同黃耆、白芍。治產後自汗。同白朮。治面黃色枯。同白芍、川芎等分。香附加三倍丸。名調經丸。治經水不調。同麥冬、甘草。治熱病鄭語神昏。同蓯蓉、山藥、小麥。治腎燥泄瀉。同桂枝、白朮、甘菊、牛膝。治痹。同牛膝、鱉甲、陳皮、生薑。治瘧在陰分久不止。同棗仁、遠志、茯神、人參。治心虛不眠。同人參、川芎。治產難倒生。同白膠、地黃、白芍、續斷、杜仲。治女人血閉無子。同地榆、金銀花、紅曲、滑石。治利下純血。</p>

<h3>【紫菀】</h3>
<p>氣溫。味苦。無毒。主咳逆上氣。胸中寒熱結氣。去蠱毒。痿躄安五臟。（蜜蒸）</p>
<p>紫菀氣溫。稟天春升之木氣。入手厥陰心包絡經。味苦無毒。得地南方之火味。入手少陰心經。氣升味降。陰也。心為君火。火刑肺金則咳逆上氣矣。紫菀入心。味苦清火。所以主之也。心包絡手厥陰脈。起於胸中。手厥陰之筋。其支者入腋散胸中。厥陰主散寒熱結氣者。厥陰有或寒或熱之氣結也。結而不散。厥陰病矣。紫菀氣溫。可以散寒。味苦可以散熱也。蠱毒者。濕熱之毒。化蟲成蠱也。味苦無毒。泄而殺蟲。所以主之也。痿躄者。肺受濕熱熏蒸。不能行清肅之令。心氣熱下脈厥而上。上實下虛。樞折挈脛縱不任地。而生痿躄也。味苦入心。清熱降氣。故主痿躄也。心為君。主十二官之宰。五臟之主也。味苦益心。心安則五臟皆安也。</p>
<p>制　方:</p>
<p>紫菀五錢煎。治肺傷咳嗽。紫菀、款冬各一兩。百部五錢末。薑、烏梅煎湯。調服三錢。治久咳嗽。同杏仁等分蜜丸。五味湯化服。治小兒咳嗽。同五味丸含化。治吐血痰咳。為末水服三撮。治女人卒不小便。及小便血。</p>

<h3>【知母】</h3>
<p>氣寒。味苦。無毒。主消渴熱中。除邪氣。肢體浮腫。下水。補不足。益氣。（去毛鹽水炒）</p>
<p>知母氣寒。稟天冬寒之水氣。入足少陰腎經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。腎屬水。心屬火。水不制火。火爍津液。則病消渴。火熏五內。則病熱中。其苦之者。苦清心火。寒滋腎水也。除邪氣者。苦寒之味。能除燥火之邪氣也。熱勝則浮。火勝則腫。苦能清火。寒能退熱。故主肢體浮腫也。腎者水藏。其性惡燥。燥則開合不利。而水反蓄矣。知母寒滑。滑利關門而水自下也。補不足者。苦寒補寒水之不足也。益氣者。苦寒益五臟之陰氣也。</p>
<p>制　方:</p>
<p>知母同麥冬、石膏、貝母、陳皮、鱉甲、青蒿、牛膝。治久瘧煩渴。同桂枝、白芍、甘草、飴糖。治脾虛胃熱。多食而煩。同牛膝、生地、白芍、甘草、桂枝、桑枝。治手足牽引。夜臥不安。同白芍、花粉、甘草、桂枝。治柔痙。驚呼不安臥。同黃柏、車前、木通、天冬、甘草。治強陽不痿。</p>

<h3>【秦艽】</h3>
<p>氣平。味苦。無毒。主寒熱邪氣。寒濕風痹。肢節痛。下水利小便。（便浸曬）</p>
<p>秦艽氣平。稟天秋降之金氣。入手太陰肺經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。皮毛屬肺。外感之邪氣。從皮毛而入者。或寒或熱。感則肺先受邪。秦艽入肺。味苦能泄。所以主之。風寒濕三者合而成痹。痹則血澀不行矣。味苦入心。心生血。苦能散結。血行痹自愈也。肢節痛。濕流關節而痛也。秦艽氣平降肺。肺氣行則水道通。水道通則濕下逐矣。其下水利小便者。皆通水道之功也。左文者良。</p>
<p>制　方:</p>
<p>秦艽酒煎。治黃疸。專一兩。治小便難腹滿。同柴胡、甘草。治急勞煩熱。同乾葛、茵陳、五味、川蓮、扁豆、木通、苡仁。治酒疸。同苡仁、木瓜、五加皮、黃柏、蒼朮、牛膝。治下部濕熱作痛。及濕瘡。</p>

<h3>【石斛】</h3>
<p>氣平。味甘。無毒。主傷中。除痹。下氣。補五臟虛勞羸瘦。強陰益精。久服厚腸胃。（酒浸曬）</p>
<p>石斛氣平。稟天秋降之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。甘平為金土之氣味。入足陽明胃、手陽明大腸經。氣降味和。陰也。陰者中之守也。陰虛則傷中。甘平益陰。故主傷中。痹者閉也。血枯而澀。則麻木而痹。甘平益血。故又除痹。肺主氣。肺熱則氣上。氣平清肺。所以下氣。五臟藏陰者也。陰虛則五藏俱虛。而不勝作勞。勞則愈傷其真氣矣。五臟之陰。脾為之原。脾主肌肉。故五藏虛勞。則肌肉消瘦也。甘平益陰。所以主虛勞而生肌肉也。陰者宗筋也。太陰陽明之所合也。石斛味甘益脾胃。所以強陰。精者陰氣之英華也。甘平滋陰。所以益精。腸者手陽明大腸也。胃者足陽明胃也。手足陽明屬燥金。燥則腸胃薄矣。久服甘平清潤。則陽明不燥。而腸胃厚矣。</p>
<p>制　方:</p>
<p>石斛同麥冬、五味、人參、白芍、甘草、杞子、牛膝、杜仲。理傷中。補虛勞。強陰益精。同麥冬、白茯、陳皮、甘草。治胃熱四肢軟弱。專一味。夏月代茶。健足力。</p>

<h3>【延胡索】</h3>
<p>氣溫。味辛。無毒。主破血。婦人月經不調。腹中結塊。崩中淋露。產後諸血症。血暈。暴血衝上。因損下血。煮酒或酒磨服。</p>
<p>延胡索氣溫。稟天春升之木氣。入足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。辛能散結。溫能行血。肝藏血。故入肝而破血。肝屬木。木性條達。鬱則肝血不藏。月經不調矣。辛溫暢肝。所以調經。腹為陰。腹中結塊。血結成塊也。辛能散結。溫能行血。所以主之。崩中肝血不藏而下崩也。淋露下之淋瀝不止也。辛溫氣味上升條達。肝氣暢而肝血藏。崩淋自止也。產後諸血症。指惡露未盡之病而言也。辛溫破血。所以主之。血暈。血閉而暈也。其主之者。藉其辛散之功也。暴血衝上。血挾邪氣而上衝也。其主之者。辛溫破血之力。然必佐他藥以成功也。因損下血。血傷而下也。辛溫活血。故佐酒則血歸經也。</p>
<p>制　方:</p>
<p>延胡索為末酒服。治胃脘痛。及下利腹痛。同歸身、生地、牛膝、益母草、童便。治產後血暈。同芎、歸、芍、地、白膠、牛膝、香附。治女人經阻少腹痛。同朴硝。治蓄血。專為末。豬胰蘸服。治氣塊痛。同當歸、陳皮丸。治經水不調腹痛。同歸身、桂心末。治冷氣腰痛。</p>

<h3>【細辛】</h3>
<p>氣溫。味辛。無毒。主咳逆上氣。頭痛腦動。百節拘攣。風濕痹痛。死肌。久服明目。利九竅。輕身長年。</p>
<p>細辛氣溫。稟天春升之木氣。入足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。肺屬金而主皮毛。形寒飲冷則傷肺。肺傷則氣不降。而咳逆上氣之症生矣。細辛辛入肺。溫能散寒。所以主之。風為陽邪而傷於上。風氣入腦則頭痛。腦動風性動也。其主之者。風氣通肝。入肝辛散也。地之濕氣。感則害人皮肉筋骨。百節拘攣。濕傷筋骨也。風濕痹痛。濕傷肉也。死肌。濕傷皮也。細辛辛溫。散濕活血。則皮肉筋骨之邪散而愈也。久服辛溫暢肝。肝開竅於目。五臟精液上奉。故目明。辛溫開發。故利九竅。肝木條暢。以生氣血。所以輕身長年也。</p>
<p>制　方:</p>
<p>細辛同石膏。治陽明火熱齒痛。同芎、歸、芍、丹皮、藁本、甘草、白薇。治女子子宮冷不孕。同甘草。治傷寒少陰咽痛。同五味、白芍、甘草、肉桂、炮薑、黃耆、蘇梗。治咳逆上氣。及筋骨疼痛。同白芍、甘草、桂枝、木通、歸身。治風濕痛。專為末吹鼻。治卒倒不省人事。</p>

<h3>【小茴香】</h3>
<p>氣溫。味辛。無毒。主小兒氣脹。霍亂嘔逆。腹冷不下食。兩肋痞滿。小茴氣溫。稟天春升之木氣。入足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。小兒皆肝氣有餘。肝滯則氣脹。小茴辛溫益肝。兼通三焦之真氣。所以主脹也。肺為百脈之宗。司清濁之運化。肺寒則清濁亂於胸中。揮霍變亂而嘔逆矣。小茴辛入肺。溫散寒。故主霍亂嘔逆也。腹屬太陰脾經。冷則火不生土。不能化腐水穀。而食不下矣。小茴辛溫益肺。肺亦太陰。芳香溫暖。而脾亦暖。食自下也。肋屬厥陰肝經。痞滿者。肝寒而氣滯也。小茴辛可散痞。溫可祛寒。所以主兩肋痞滿也。</p>
<p>制　方:</p>
<p>小茴同生地、北味、白芍、甘草、歸身、山藥。治膈症。同山藥、白芍、甘草、白茯、焦米。治食不下。同磁石、白芍、木瓜。治氣脹。同荔枝核。治疝。</p>

<h3>【遠志】</h3>
<p>氣溫。味苦。無毒。主咳逆傷中。補不足。除邪氣。利九竅。益智慧。耳目聰明不忘。強志。倍力。久服輕身不老。（去心甘草湯浸曬乾用）</p>
<p>遠志氣溫。稟天春和之木氣。入足厥陰肝經。味苦無毒。得地南方之火味。入手少陰心經。氣溫味苦。入手厥陰心包絡。氣升味降。陽也。中者脾胃也。傷中。脾胃陽氣傷也。遠志味苦下氣。氣溫益陽。氣下則咳逆除。陽益則傷中愈也。補不足者。溫苦之品。能補心肝二經之陽不足也。除邪氣者。苦溫之氣味。能除心肝包絡三經鬱結之邪氣也。氣溫益陽。陽主開發。故利九竅。九竅者。耳目鼻各二。口大小便各一也。味苦清心。心氣光明。故益智慧。心為君主。神明出焉。天君明朗。則五官皆慧。故耳目聰明不忘也。心之所之謂之志。心靈所以志強。肝者敢也。遠志暢肝。肝強故力倍。久服輕身不老者。心安則坎離交濟。十二官皆安。陽平陰秘。血旺氣充也。</p>
<p>制　方:</p>
<p>遠志同茯神、人參、生地、棗仁、丹砂。鎮心定驚。同木香、歸身、棗仁、人參、白朮、茯神、甘草、圓肉。名歸脾湯。治脾虛健忘。同人參、棗仁、柏仁、麥冬、五味、歸身、茯神、茯苓、益智、生地、甘草、沉香。治心虛神不守舍。專酒煎。治鬱症癰疽。</p>

<h3>【菖蒲】</h3>
<p>氣溫。味辛。無毒。主風寒濕痹。咳逆上氣。開心孔。補五臟。通九竅。明耳目。出音聲。主耳聾。癰瘡。溫腸胃。止小便利。久服輕身。不忘。不迷惑。延年。益心智。高志。不老。（蒸）</p>
<p>菖蒲氣溫。稟天春和之木氣。入足厥陰肝經。味辛無毒。得地西方之金味。手入太陰肺經。氣味俱升。陽也。風寒濕三者合而成痹。痹則氣血俱閉。菖蒲入肝。肝藏血。入肺。肺主氣。氣溫能行。味辛能潤。所以主之也。辛潤肺。肺潤則氣降。而咳逆上氣自平。辛溫為陽。陽主開發。故開心竅。辛潤肺。肺主氣。溫和肝。肝藏血。血氣和調。五臟俱補矣。通九竅者。辛溫開發也。辛溫為陽。陽氣出上竅。故明耳目。肺主音聲。味辛潤肺。故出音聲。主耳聾。即明耳目之功也。治癰瘡者。辛能散結也。腸胃屬手足陽明經。辛溫為陽。陽充則腸胃溫也。膀胱寒。則小便不禁。菖蒲辛溫。溫肺。肺乃膀胱之上源。故止小便利也。久服輕身。肝條暢也。不忘不迷惑。陽氣充而神明也。延年。陽盛則多壽也。益心智高志。辛溫為陽。陽主高明也。不老。溫能活血。血充面華也。</p>
<p>制　方:</p>
<p>菖蒲同熟地、黃柏丸。治腎虛耳聾。同白朮、蒼朮、木瓜、苡仁、石斛、萆薢、黃柏。治濕痿及濕瘡。同人參、麥冬、棗仁、茯神、遠志、生地。治心虛氣鬱。專為水。搽濕瘡。</p>

<h3>【肉豆蔻】</h3>
<p>氣溫。味辛。無毒。主溫中。消食止泄。治積冷心腹脹痛。霍亂。中惡鬼氣冷疰。嘔沫冷氣。小兒乳霍。（麵包煨）</p>
<p>肉蔻氣溫。稟天春和之木氣。入足厥陰肝經。味辛無毒。得地西方燥金之味。入足陽明燥金胃經、手陽明大腸經。氣味俱升。陽也。胃者中州也。辛溫溫胃。所以溫中。胃溫則食易化。故主消食。大腸寒則鶩溏。辛溫溫腸。所以止泄。日積月累。積冷於腸。冬日重感於寒。則大腸病脹。胃亦妨於食而胃脹。脹則腹滿而心胃痛矣。肉蔻溫腸胃。胃陽充而脹平也。霍亂。胃有濕熱也。辛溫燥胃。霍亂自止。胃者陽氣之原也。胃陽衰則陰邪乘之。而患中惡冷疰矣。肉蔻溫胃。胃陽充則陰邪消。而中惡冷疰愈也。肝寒而陰氣上升。則嘔沫而冷氣出矣。肉蔻溫肝。肝平嘔逆定也。小兒乳霍。胃寒不納也。辛溫散寒。所以亦主之也。</p>
<p>制　方:</p>
<p>肉蔻同人參、補骨、吳茱萸、五味、砂仁。治冷泄。同砂仁、陳皮、人參、紅曲、查肉、藿香、麥芽。治泄消食。同木香、棗肉丸。治久瀉。同川附米糊丸。治寒泄。</p>

<h3>【附子】</h3>
<p>氣溫大熱。味辛。有大毒。主風寒咳逆邪氣。寒濕痿躄拘攣。膝痛不能行步。破症堅積聚血瘕。金瘡。（便浸水煮去皮臍用）</p>
<p>附子氣溫大熱。溫則稟天春和之木氣。入足厥陰肝經。大熱則稟天純陽炎烈之火氣。入足少陰腎經。補助真陽。味辛而有大毒。得地西方燥酷之金味。入手太陰肺經。氣味俱厚。陽也。其主風寒咳逆邪氣者。肺受風寒之邪氣。則金失下降之性。邪壅於肺。咳而氣逆也。附子入肺。辛熱可解風寒也。寒濕之氣。地氣也。感則害人皮肉筋骨。而大筋軟短。小筋舒長。拘攣痿躄之症成焉。附子入肝。肝主筋。辛可散濕。熱可祛寒。寒濕散。而拘攣痿躄之症愈矣。膝痛不能行步者。肝腎陽虛。而濕流關節也。溫熱益陽。辛毒行濕。所以主之。症堅積聚血瘕者。凡物陽則輕鬆。陰則堅實。堅者皆寒凝而血滯之症也。附子熱可軟堅。辛可散結。溫可行滯也。金瘡寒則不合。附子溫肺。肺主皮毛。皮毛暖。則瘡口合也。</p>
<p>制　方:</p>
<p>附子佐人參、肉桂、五味。補腎真陽。佐白朮。除寒濕。同人參、白芍、甘草、砂仁、陳皮。治慢驚。同白朮、肉桂、牛膝、木瓜、青皮。治寒疝。同人參、陳皮。治久病嘔噦。同人參、白芍、甘草、桂枝、北味。治傷寒誤汗下。真陽虛脫症。</p>

<h3>【補骨脂】</h3>
<p>氣大溫。味辛。無毒。主五勞七傷。風虛冷。骨髓傷敗。腎冷精流。及婦人血氣墮胎。（鹽水炒）</p>
<p>補骨脂氣大溫。稟天陽明之火氣。入足陽明胃經。味辛無毒。得地西方之金味。入手太陰肺經。色黑而形如腎。入足少陰腎經。氣味俱升。陽也。其主五勞七傷者。五臟之勞。食憂飲房室飢勞經絡營衛七者之傷。莫不傷損先天后天真氣而成也。補骨入腎。補真陽以生土。先天與後天相接。腐水穀而化精微。則勞者可溫。而傷者可益。風虛冷者。邪風乘虛而入。以致患冷也。其主之者。辛溫可以散風祛冷也。腎主骨。骨髓傷敗。腎虛寒也。腎既虛寒。則氣不足攝精。精自流矣。補骨溫益陽氣。辛能潤髓。所以主之。婦人血氣。婦人血冷氣寒也。補骨溫肺。肺主氣。而為津液之化源。所以治血冷氣寒也。胎者大氣舉之也。補骨辛溫。溫能活血。辛能散氣。氣血活散。所以墮胎也。</p>
<p>制　方:</p>
<p>補骨脂四兩。菟絲子四兩。核桃肉一兩。沉香、乳香、沒藥各二錢半丸。治下元虛敗。同黑芝麻丸。治五勞七傷。同杜仲、核桃肉。名青娥丸。治腰痛。同白茯、沒藥、酒丸。名返精丸。治心腎不交。同青鹽末。治精氣不固。同小茴香酒丸。治小便無度。同韭子末。治玉莖不痿。同肉蔻丸。名二神丸。治虛泄。同粟殼。治久痢不止。</p>

<h3>【益智子】</h3>
<p>氣溫。味辛。無毒。主遺精虛漏。小便餘瀝。益氣安神。補不足。利三焦。調諸氣。夜多小便者。取二十四枚。碎。入鹽同煎服。有奇驗。（鹽水炒）</p>
<p>益智氣溫。稟天春和之木氣。入足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。其主遺精虛漏者。氣溫益肝。肝氣固。則不遺泄也。其主小便餘瀝者。味辛益肺。肺主氣。氣能收攝。膀胱稟氣化而行。所以膀胱亦固也。辛益肺。肺主氣。所以益氣。氣足則神安。故又安神。補不足者。辛溫之品。補肝肺陽氣之不足也。三焦者。相火之腑。辛溫益陽。故利三焦。肺主氣。味辛潤肺。所以調諸氣。小便氣化乃出。益智固氣。所以小便多者。煎服有效。</p>
<p>制　方:</p>
<p>益智同烏藥、山藥丸。名縮泉丸。治小便頻數。同白茯、白朮末。治赤白濁。同遠智、茯神、甘草丸。治赤濁。同人參、白茯、半夏、陳皮、車前。治濕痰上泛。同藿香、蘇子、陳皮、木瓜、枇杷葉。治氣上逆。同五味、山茱萸、人參。治淋瀝。同人參、炮薑、藿香、陳皮。治胃寒嘔吐。</p>

<h3>【木香】</h3>
<p>氣溫。味辛。無毒。主邪氣。闢毒疫溫鬼。強志。主淋露。久服不夢寤魘寐。</p>
<p>木香氣溫。稟天春和之木氣。入足厥陰肝經。味辛無毒而香燥。得地燥金之正味。入足陽明胃經。氣味俱升。陽也。辛溫益胃。胃陽所至。陰邪惡毒鬼氣皆消。所以主邪氣毒疫溫鬼也。辛溫之品。能益陽明。陽明之氣。能強志氣。淋露者。小便淋瀝不止。膀胱氣化。津液乃出。淋露不止。陽氣虛下陷也。陽者胃脘之陽也。辛溫益胃。胃陽充而淋露止也。久服則陽勝。陽不歸於陰。故不夢寤。陽氣清明。陰氣伏藏。故不魘寐也。</p>
<p>制　方:</p>
<p>木香同延胡索。治女人血氣刺心痛不可忍。同牽牛、雷丸、檳榔。治蟲積。佐川蓮、白芍。治痢。同陳皮、砂仁、白蔻、蘇葉。治氣不通順。</p>

<h3>【半夏】</h3>
<p>氣平。味辛。有毒。主傷寒寒熱心下堅。胸脹咳逆頭眩。咽喉腫痛。腸鳴。下氣。止汗。（湯浸去涎淨薑汁拌焙）</p>
<p>半夏氣平。稟天秋燥之金氣。入手太陰肺經。味辛有毒。得地西方酷烈之金味。入足陽明胃經、手陽明大腸經。氣平味升。陽也。主傷寒寒熱心下堅者。心下脾肺之區。太陰經行之地也。病傷寒寒熱而心下堅硬。濕痰在太陰也。半夏辛平。消痰去濕。所以主之。胸者肺之部也。脹者氣逆也。半夏辛平。辛則能開。平則能降。所以主之也。咳逆頭眩者。痰在肺。則氣不下降。氣逆而頭眩暈也。東垣曰。太陰頭痛。必有痰也。半夏辛平消痰。所以主之。咽喉太陰經行之地。火結則腫痛。其主之者。辛能散結。平可下氣。氣下則火降也。腸鳴者。大腸受濕。則腸中切痛。而鳴濯濯也。辛平燥濕。故主腸鳴。下氣者。半夏入肺。肺平則氣下也。陽明之氣本下行。上逆則汗自出矣。平能降氣。所以止汗也。</p>
<p>制　方:</p>
<p>半夏同黃連、栝蔞實。名小陷胸湯。治心下堅。同甘草、防風、生薑。治痰厥中風。同神麯、南星、白朮、枳實、薑汁。治風痰濕痰。同甘草。治風痰喘急。同黃芩、薑汁。治上焦熱痰。同白芍、甘草、黃芩。治身熱吐瀉。同瓜仁。治肺熱咳。同陳皮。治痰飲。同白茯。治水飲。同人參。治反胃。同白茯、甘草丸。名消暑丸。治伏暑。同人參、白茯、白朮、甘草、陳皮。名六君子湯。治脾濕生痰。不思飲食。</p>

<h1>卷二</h1>

<h2>草部下</h2>

<h3>【白豆蔻】</h3>
<p>氣大溫。味辛。無毒。主積冷氣。止吐逆反胃。消穀下氣。</p>
<p>白蔻氣大溫。稟天水火之氣。入足厥陰肝經。手少陽相火三焦經。味辛無毒。得地西方燥金之味。入手太陰肺經、足陽明胃經。氣味俱升。陽也。肺主氣積冷氣。肺寒也。氣溫溫肺。味辛散積。所以主之。食入反出。胃無火也。辛溫暖胃。故止吐逆反胃。胃中寒則不能化水穀。肺寒則不能行金下降之令。白蔻辛溫。所以胃暖則消穀。肺暖而下氣也。</p>
<p>制　方:</p>
<p>白蔻同丁香、砂仁、陳米、黃土、薑汁丸。名太倉丸。治反胃。同人參、生薑、陳皮、藿香。治胃寒嘔吐。同半夏、陳皮、生薑、白朮、白茯。治寒痰作吐。同藿香、陳皮、木香。治上焦滯氣。同人參、白朮、陳皮、生薑。治秋瘧。胃嘔不食。同扁豆、五味、橘紅、木瓜。治中酒嘔吐。</p>

<h3>【白蒺藜】</h3>
<p>氣溫。味苦。無毒。主惡血。破癥結積聚。喉痹。乳難。久服長肌肉。明目輕身。（炒去刺）</p>
<p>白蒺藜氣溫。稟天春和之木氣。入足厥陰肝經。味苦無毒。得地南方之火味。入手少陰心經。氣升味降。秉火氣而生陽也。主惡血者。心主血。肝藏血。溫能行。苦能泄也。症者有形可徵也。有形之積聚。皆成於血。白蒺藜能破之者。以入心肝而有苦溫氣味也。痹者閉也。喉痹。火結於喉而閉塞不通也。溫能散火。苦可去結。故主喉痹。乳難。乳汁不通也。乳房屬肝。氣溫達肝。其乳自通。白蒺藜一名旱草。秉火氣而生。形如火而有刺。久服心火獨明。火能生土。則飲食倍而肌肉長。肝木條暢。肝開竅於目。故目明。木火通明。元陽舒暢。所以身輕也。</p>
<p>制　方:</p>
<p>白蒺藜同歸身。治月經不通。同杞子、菟絲子。治肝虛。同五味、淫羊藿、杞子、海螵蛸。治肝虛陽痿。專為末服。治一切鬱症。明二三十年之目疾。</p>

<h3>【縮砂仁】</h3>
<p>氣溫。味辛澀。無毒。主虛勞冷瀉。宿食不消。赤白泄利。腹中虛痛下氣。（薑汁炒）</p>
<p>砂仁氣溫。稟天春和之木氣。入足厥陰肝經。味辛澀無毒。得地西方燥金之味。入手太陰肺經、足陽明胃經、手陽明大腸經。氣味俱升。陽也。主虛勞冷瀉者。陽虛而作勞。則真氣愈耗。所以土冷而泄瀉也。砂仁氣溫益氣。味澀可以止泄也。辛溫溫胃。胃暖則宿食自消。赤白瀉利。腸寒積滯也。辛溫散寒。味澀止泄也。腹中虛痛。腹中陽氣虛而寒痛也。溫以益陽。辛以散寒。所以止之。肺主氣。下氣者。辛能益肺。肺平氣自下也。</p>
<p>制　方:</p>
<p>砂仁同人參、陳皮、藿香、白茯、白芍、炙草。治吐瀉不食。同藿香、橘紅、木瓜。治霍亂轉筋。同川附、炮薑、厚朴、陳皮、飯丸。治冷痢。連殼炒黑末。熱酒下二錢。安胎止痛。用兩許炒為末。入鹽三錢。湯泡冷服。治乾霍亂。</p>

<h3>【薑黃】</h3>
<p>氣大寒。味辛苦。無毒。主心腹結積。疰忤下氣。破血。除風熱。消癰腫。功力烈於鬱金。</p>
<p>薑黃氣大寒、稟天冬寒之水氣。入足少陰腎經、足太陽寒水膀胱經。味辛苦無毒。得地金火之二味。入手太陰肺經、手少陰心經。氣味俱降。陰也。心腹心肺之分也。心主血。肺主氣。結積者。氣血凝結之積也。其主之者。辛能散氣。苦能破血也。疰忤者。濕熱內疰。性與物忤也。其主之者。苦寒清濕熱也。下氣者。苦寒降氣也。破血者。辛苦行血也。除風熱者。風熱為陽邪。外感太陽經。氣寒清熱。味辛散風也。苦寒而辛散。故又主癰腫。功力烈於鬱金者。氣較鬱金更寒也。</p>
<p>制　方:</p>
<p>薑黃同肉桂、枳殼。治左脅痛。同當歸、生地、牛膝、延胡索、肉桂。治積血痛。同肉桂末。治中寒心痛。</p>

<h3>【鬱金】</h3>
<p>氣寒。味辛苦。無毒。主血積。下氣。生肌止血。破惡血。血淋尿血。金瘡。鬱金氣寒。稟天冬令之水氣。入足少陰腎經、手太陽寒水小腸經。味辛苦無毒。得地金火之二味。入手太陰肺經、手少陰心經。氣味降多於升。陰也。心主血。肺主氣。味苦破血。氣寒降氣。所以主血積下氣也。瘡口熱則腐爛血流。苦寒之品。為末治外。能生肌止血也。破惡血者。即味苦破血積之功。其主血淋尿血者。則入小腸苦寒清血之力也。以其生肌止血。所以又主金瘡。</p>
<p>制　方:</p>
<p>鬱金同韭菜、降香、歸身、生地、童便。治吐血衄血。同牛黃。治陽毒失血。</p>

<h3>【款冬花】</h3>
<p>氣溫。味辛。無毒。主咳逆上氣。善喘。喉痹。諸驚癇。寒熱邪氣。</p>
<p>款冬氣溫。稟天春和之木氣。入足厥陰肝經。味辛無毒。得地西方潤澤之金味。入手太陰肺經。氣味俱升。陽也。肺金主氣。氣逆則火乘金。而咳逆上氣氣喘矣。其主之者。味辛潤肺。氣溫宣通。則肺金下降之令行而諸症平也。喉痹者。火結於喉而閉塞也。喉亦屬肺。款冬辛溫通肺。故並主喉痹也。諸驚癇寒熱邪氣者。驚有虛實之別。癇有五臟之分。其類不一。所以邪氣亦有寒熱之殊也。其主之者。以其邪雖有寒熱之殊。然皆厥陰肝木氣逆火炎之症。款冬辛溫。溫能達肝。辛能降氣。氣降火平。邪氣退矣。</p>
<p>制　方:</p>
<p>款冬同麻黃、杏仁、桑皮、甘草。治寒鬱氣喘。同百合煎膏。名百花膏。治痰咳有血。</p>

<h3>【旋覆花】</h3>
<p>氣溫。味鹹。有小毒。主積氣。脅下滿。驚悸。除水。去五臟間寒熱。補中下氣。</p>
<p>旋覆氣溫。稟天春和之木氣。入足厥陰肝經。味鹹有小毒。得地北方陰慘之水味。入足少陰腎經。氣味降多於升。陰也。溫能散積。咸能軟堅。故主結氣脅下滿也。水氣乘心則驚悸。鹹溫下水。所以並主驚悸也。去五臟間寒熱者。五臟藏陰者也。痰蓄五臟。則寒不藏而寒熱矣。鹹溫可以消痰。所以去寒熱也。補中者。中為脾胃。水行痰消。則中宮脾胃受補也。下氣者。咸性潤下也。因有小毒。所以服之必煩也。</p>
<p>制　方:</p>
<p>旋覆同人參、半夏、代赭石、甘草、生薑、大棗。治傷寒汗下後。心下痞堅。噫氣不除。</p>

<h3>【藿香】</h3>
<p>氣微溫。味辛甘。無毒。主風水毒腫。去惡氣。止霍亂。心腹痛。</p>
<p>藿香氣微溫。稟天初春之木氣。入足少陽膽經、足厥陰肝經。味辛甘無毒。得地金土之二味。入手太陰肺經、足太陰脾經。氣味俱升。陽也。風水毒腫者。感風邪濕毒而腫也。其主之者。風氣通肝。溫可散風。濕毒歸脾。甘可解毒也。惡氣。邪惡之氣也。肺主氣。辛可散邪。所以主之。霍亂。脾氣不治揮霍擾亂也。芳香而甘。能理脾氣。故主之也。心腹亦脾肺之分。氣亂於中則痛。辛甘而溫。則通調脾肺。所以主之也。</p>
<p>制　方:</p>
<p>藿香同香附末。升降諸氣。同陳皮。治霍亂。同滑石、丁香。治夏月吐瀉。同香附、甘草。治胎氣不安。同白茯、半夏。治風水毒腫。</p>

<h3>【前胡】</h3>
<p>氣微寒。味苦。無毒。主痰滿。胸脅中痞。心腹結氣。風頭痛。去痰下氣。治傷寒寒熱。推陳致新。明目益精。</p>
<p>前胡氣微寒。稟天初冬寒水之氣。入足太陽膀胱經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。胸者肺之部也。心火刑肺。則肺之津液不下行。鬱於胸中而成痰矣。前胡味苦清心火。所以主痰滿胸也。人身之氣。左升右降。心火乘肺。肺不能降。則升亦不升而脅中痞矣。前胡味苦氣寒。清心降氣。肺氣降。則升者亦升。而痞愈矣。心腹結氣。邪熱之氣結於心腹也。寒能下氣。苦能散結。所以主之。風頭痛。傷風而頭痛也。風為陽邪。苦寒抑陽。故止頭痛。去痰下氣。清心寧肺之功也。傷寒寒熱。乃陽盛陰虛之風熱症也。苦寒清熱。所以治之。苦寒之味。行秋冬肅殺之令。所以推陳致新。蓋陳者去而新者方來也。味苦清火。所以明目。氣寒助陰。所以益精也。</p>
<p>制　方:</p>
<p>前衚衕杏仁、甘草、桑皮、桔梗。治熱喘下氣。同花粉、歸身、甘草、黃芩。治傷寒寒熱。同甘菊、丹皮。治風熱目疼。</p>

<h3>【羌活】</h3>
<p>氣平。味苦甘。無毒。主風寒所擊金瘡止痛。奔豚癇痙。女子疝瘕。久服輕身耐老。（一名獨活）</p>
<p>羌活氣平。稟天秋燥之金氣。入手太陰肺經。味苦甘無毒。得地南方中央火土之味。入手少陰心經、足太陰脾經。氣味降多於升。陰也。其主風寒所擊金瘡止痛者。金瘡為風寒所擊。則血氣壅而不行。其痛更甚矣。羌活苦能泄。甘能和。入肺解風寒。所以風血行而痛止也。奔豚者。腎水之邪。如豚奔突而犯心也。苦可燥濕。甘可伐腎。所以主之。癇者風症也。痙者濕流關節之症也。羌活氣平。可以治風。味苦可以燥濕。故止癇痙也。女子疝瘕。多經行後血假風濕而成。羌活平風燥濕。兼之氣雄。可以散血也。久服則脾濕散。所以輕身。心血和。所以耐老。皆味甘苦之功也。</p>
<p>制　方:</p>
<p>羌活同麥冬、前胡、黃芩、甘草。治太陽疫症。同白朮、蒼朮、秦艽、生地、苡仁、木瓜、石斛、黃柏。治下部濕熱。同生地、赤芍、甘草、丹皮、石膏。治風熱牙疼。</p>

<h3>【升麻】</h3>
<p>氣平微寒。味苦甘。無毒。主解百毒。殺百精老物殃鬼。闢瘟疫瘴氣邪氣。蠱毒入口皆吐出。中惡腹痛。時氣毒癘。頭痛寒熱。風腫諸毒。喉痛口瘡。久服不夭。輕身長年。</p>
<p>升麻氣平微寒。稟天秋平冬寒金水之氣。入手太陰肺經、足太陽膀胱經、手太陽小腸經。味苦甘無毒。得地南方中央火土之味。入手少陰心經。味苦則燥。入足陽明胃經。氣味輕清。陽也。其解百毒者。氣平而寒。味甘而苦。能清能和。所以解毒也。其殺百精老物殃鬼者。升麻稟平寒之氣。則得清陽通達之性。能破幽暗。制精鬼也。瘟疫瘴氣邪氣。皆天地鬱塞熏蒸之氣也。平寒能清。苦能泄。甘能和。所以能闢之也。蠱毒陰惡敗壞之毒。甘苦之味。能和能解。故藥入口。蠱即吐出也。其主中惡腹痛者。甘能解毒。苦能泄邪也。其主時氣毒癘頭痛者。甘平和毒。苦寒清熱。平苦又燥濕也。其主寒熱風腫諸毒者。平甘以和之。寒苦以清之。入膀胱。能散寒熱風腫也。喉痛口瘡。火鬱於上也。其主之者。苦寒之味。火鬱發之也。久服不夭。輕身長年者。升麻為陰中之陽。能升陽氣於至陰之下。陰精所奉。其人壽也。蓋必佐補藥。方可久服耳。</p>
<p>制　方:</p>
<p>升麻同蔥白。散陽明風邪。同石膏。止陽明齒痛。同葛根、白芍、甘草。名升麻葛根湯。治陽明之熱邪。及癍疹。同人參、蓮子。治噤口痢。同石膏、知母、麥冬、竹葉。治陽明經風熱。同川連、紅曲、滑石、白芍、甘草。治痢。</p>

<h3>【川芎】</h3>
<p>氣溫。味辛。無毒。主中風入腦頭痛。寒痹筋攣。緩急金瘡。婦人血閉無子。川芎氣溫。稟天春和之木氣。入足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。風為陽邪而傷於上。風氣通肝。肝經與督脈會於巔頂。所以中風。風邪入腦頭痛也。其主之者。辛溫能散也。寒傷血。血澀則麻木而痹。血不養筋。筋急而攣。肝藏血而主筋。川芎入肝而辛溫。則血活而筋舒。痹者愈而攣者痊也。緩急金瘡。金瘡失血。則筋時緩時急也。川芎味辛則潤。潤可治急。氣溫則緩。緩可治緩也。婦人稟地道而生。以血為主。血閉不通。則不生育。川芎入肝。肝乃藏血之藏。生髮之經。氣溫血活。自然生生不已也。</p>
<p>制　方:</p>
<p>川芎同白芍、歸身、生地。名四物湯。治血虛。同甘菊、歸身、生地、白芍、甘草。治血虛頭痛。同歸身、桂心、牛膝。治子死腹中。同續斷、生地、白膠、杜仲、山萸、北味、人參、黃耆、棗仁。治血崩不止。</p>

<h3>【防風】</h3>
<p>氣溫。味甘。無毒。主大風頭眩痛。惡風風邪。目盲無所見。風行周身。骨節疼痛。久服輕身。</p>
<p>防風氣溫。稟天春和風木之氣。入足厥陰肝經。味甘無毒。得地中正之土味。入足太陰脾經。氣味俱升。陽也。肝為風木。其經與督脈會於巔頂。大風之邪入肝。則行於陽位。故頭眩痛。其主之者。溫以散之也。傷風則惡風。惡風風邪。在表之風也。肝開竅於目。目盲無所見。在肝經之風也。風行周身。在經絡之風也。骨節疼痛。風在關節而兼濕也。蓋有濕則陽氣滯而痛也。皆主之者。風氣通肝。防風入肝。甘溫發散也。脾主肌肉。濕則身重矣。久服輕身者。風劑散濕。且引清陽上達也。</p>
<p>制　方:</p>
<p>防風同白芍、黃耆。治表虛自汗。同荊芥、白芷、生地、地榆、黃耆。治破傷風。</p>

<h3>【葛根】</h3>
<p>氣平。味甘辛。無毒。主消渴。身大熱。嘔吐。諸痹。起陰氣。解諸毒。（葛谷）氣平。味甘。無毒。主下痢十歲以上。</p>
<p>葛根氣平。稟天秋平之金氣。入手太陰肺經。味甘辛無毒。得地金土之味。入足陽明經燥金胃。氣味輕清。陽也。其主消渴者。葛根辛甘。升騰胃氣。氣上則津液生也。其主身大熱者。葛根氣平。平為秋氣。秋氣能解大熱也。脾有濕熱。則壅而嘔吐。葛根辛甘。升發胃陽。胃陽鼓動。則濕熱下行而嘔吐止矣。諸痹皆起於氣血不流通。葛根辛甘和散。氣血活。諸痹自愈也。陰者從陽者也。人生陰氣。脾為之原。脾與胃合。辛甘入胃。鼓動胃陽。陽健則脾陰亦起也。甘者土之沖味。平者金之和氣。所以解諸毒也。</p>
<p>葛穀氣平味甘。入足陽明胃、手陽明大腸。陰中陽也。陰中之陽為少陽。清輕上達。能引胃氣上升。所以主下痢十歲以上。陽陷之症也。</p>
<p>制　方:</p>
<p>葛根同香薷、生地。煎服。可以預防熱病。同白芍、甘草、山藥、白茯、焦米。治痢血不止。葛根一味。治中毒。</p>

<h3>【麻黃】</h3>
<p>氣溫。味苦。無毒。主中風傷寒頭痛。溫瘧發表出汗。去邪熱氣。止咳逆上氣。除寒熱。破症堅積聚。（去節水煮去沫用）</p>
<p>麻黃氣溫。稟天春和之木氣。入足厥陰肝經。味苦無毒。得地南方之火味。入手少陰心經。氣味輕升。陽也。心主汗。肝主疏泄。入肝入心。故為發汗之上藥也。傷寒有五。中風傷寒者。風傷衛。寒傷營。營衛俱傷之傷寒也。麻黃溫以散之。當汗出而解也。溫瘧。但熱不寒之瘧也。溫瘧而頭痛。則陽邪在上。必發表出汗。乃可去溫瘧邪熱之氣。所以亦可主以麻黃也。肺主皮毛。皮毛受寒。則肺傷而咳逆上氣之症生矣。麻黃溫以散皮毛之寒。則咳逆上氣自平。寒邪鬱於身表。身表者。太陽經行之地。則太陽亦病而發熱惡寒矣。麻黃溫以散寒。寒去而寒熱除矣。症堅積聚者。寒氣凝血而成之積也。寒為陰。陰性堅。麻黃苦入心。心主血。溫散寒。寒散血活。積聚自破矣。（根節）氣平。味甘無毒。入足太陽脾經、手太陰肺經。所以止汗也。</p>
<p>制　方:</p>
<p>麻黃同桂心。治風痹冷痛。同桂枝、甘草、杏仁、生薑、大棗。治傷寒營症。同白芍、甘草、炮薑、細辛、蘇梗、北味。治肺寒而喘。麻黃根同黃耆、牡蠣末。小麥湯下。治自汗。</p>

<h3>【白芷】</h3>
<p>氣溫。味辛。無毒。主女人漏下赤白。血閉。陰腫寒熱。頭風侵目淚出。長肌肉。潤澤顏色。可作面脂。</p>
<p>白芷氣溫。稟天春和之木氣。入足厥陰肝經。味辛無毒而芳香。得西方燥金之味。入足陽明胃經、手陽明大腸經。氣味俱升。陽也。其主女人漏下赤白者。蓋肝主風。脾主濕。風濕下陷。則為赤白帶下。白芷入肝散風。芳香燥濕。故主之也。肝藏血。血寒則閉氣。溫散寒。故治血閉。陰者男子玉莖。女人牝戶也。屬厥陰肝。腫而寒熱。肝經風濕也。濕勝故腫也。白芷入肝。辛可散風。溫可行濕。所以主之也。肝經會督脈於巔頂。風氣通肝。肝開竅於目。頭風侵目淚出。肝有風而疏泄也。其主之者。以辛溫可散風也。胃主肌膚而經行於面。辛溫益胃。故長肌膚。芳香辛潤。故澤顏色也。可作面脂。乃潤澤顏色之餘事也。</p>
<p>制　方:</p>
<p>白芷同黃耆、甘草、生地、麥冬、五味。能長肉。同辛夷、細辛。治鼻症。同甘草、生薑、豆豉、大棗。名神白散。治一切傷寒。同貝母酒煎。治乳癰初起。同白芍、甘草、白茯、焦米。治胃虛泄漏。</p>

<h3>【藁本】</h3>
<p>氣溫。味辛。無毒。主婦人疝瘕。陰中寒腫痛。腹中急。除頭風痛。長肌膚。悅顏色。</p>
<p>藁本氣溫。稟天春升之木氣。入足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。婦人以血為主。血藏於肝。肝血少。則肝氣滯而疝瘕。之症生矣。藁本溫辛。溫行辛潤。氣不滯而血不少。疝瘕自平也。厥陰之脈絡陰器。厥陰之筋結陰器。其主陰中寒腫痛者。入肝而辛溫散寒也。厥陰之脈抵小腹。肝性急。腹中急。肝血不潤也。味辛潤血。所以主之。風氣通肝。肝經與督脈會於巔頂。風邪行上。所以頭痛。其主之者。辛以散之也。肺主皮毛。長肌膚。味辛益肺之力。悅顏色。辛能潤血之功也。</p>
<p>制　方:</p>
<p>藁本同木香。治霧露清邪中於上焦。同羌活、細辛、川芎、蔥白。治寒鬱太陽頭痛。同白芷。可作面脂。</p>

<h3>【柴胡】</h3>
<p>氣平。味苦。無毒。主心腹腸胃中結氣。飲食積聚。寒熱邪氣。推陳致新。久服輕身。明目益精。</p>
<p>柴胡氣平。稟天中正之氣。味苦無毒。得地炎上之火味。膽者中正之官。相火之腑。所以獨入足少陽膽經。氣味輕升。陰中之陽。乃少陽也。其主心腹腸胃中結氣者。心腹腸胃。五臟六腑也。臟府共十二經。凡十一臟皆取決於膽。柴胡輕清。升達膽氣。膽氣條達。則十一臟從之宣化。故心腹腸胃中。凡有結氣。皆能散之也。其主飲食積聚者。蓋飲食入胃散精於肝。肝之疏散。又借少陽膽為生髮之主也。柴胡升達膽氣。則肝能散精。而飲食積聚自下矣。少陽經行半表半裡。少陽受邪。邪並於陰則寒。邪並於陽則熱。柴胡和解少陽。故主寒熱之邪氣也。春氣一至。萬物俱新。柴胡得天地春升之性。入少陽以生氣血。故主推陳致新也。久服清氣上行。則陽氣日強。所以身輕。五臟六腑之精華上奉。所以明目。清氣上行。則陰氣下降。所以益精。精者陰氣之英華也。</p>
<p>制　方:</p>
<p>柴胡同人參、半夏、黃芩、甘草、大棗、生薑。名小柴胡湯。治少陽寒熱。同白芍、甘草、枳實。名四逆散。治胸脅痛。四肢厥冷。同人參、升麻、黃耆、甘草、歸身、白朮、廣皮、生薑、大棗。名補中益氣湯。治勞傷倦怠。同人參、黃耆、白朮、甘草、升麻、白茯、澤瀉、葛根、神麯。治暑傷元氣。同升麻、葛根等。能升陽散火。同白芍、丹皮、山梔、甘草、白茯、白朮、廣皮、歸身。名逍遙散。治肝膽鬱火。</p>

<h3>【桔梗】</h3>
<p>氣微溫。味辛。有小毒。主胸脅痛如刀刺。腹滿。腸鳴幽幽。驚恐悸氣。</p>
<p>桔梗氣微溫。稟天初春稚陽之木氣。入足少陽膽經。味辛有小毒。得地西方陰慘之金味。入手太陰肺經。氣味俱升。陽也。胸者肺之分也。脅者膽之分也。膽氣不升。肺氣不降。則滯於胸脅。痛如刀刺矣。其主之者。辛以散之。溫以達之也。足之三陰。從足走腹。太陰行氣於三陰者也。肺亦太陰。通調上下。相傳之職。太陰不能通調。則腹飽滿矣。其主之者。辛以調氣。溫以行氣也。大腸者燥金之腑也。大腸濕熱。則鳴幽幽。肺與大腸為表裡。桔梗辛以益肺。肺通調水道。則濕熱行而腸鳴自止。膽為中正之官。膽者擔也。膽氣傷。則不能擔當而驚恐悸矣。桔梗辛溫。則扶蘇條達。遂其生髮之性。復其果敢之職。而驚恐悸自平也。</p>
<p>制　方:</p>
<p>桔梗同貝母、巴霜。名結胸湯。治痰在中焦。同人參、北味、麥冬。治小便不通。同枳殼。治胸滿不痛。同甘草。名甘桔湯。治肺癰。　同生姜。治妊娠中惡心腹痛。</p>

<h3>【茵陳】</h3>
<p>氣平。微寒。味苦。無毒。主風濕寒熱邪氣。熱結黃疸。久服輕身益氣。耐老。面白悅。長年。</p>
<p>茵陳氣平微寒。稟天秋平冬寒金水之氣。入手太陰肺經、足太陽寒水膀胱經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。風為陽邪。濕為陰邪。風濕在太陽。陽邪發熱。陰邪發寒也。其主之者。氣寒清熱。味苦燥濕也。心為君火。火鬱太陰。則肺不能通調水道。下輸膀胱。而熱與濕結矣。太陰乃濕土之經。所以蒸土色於皮毛而成黃疸也。其主之者。苦平可以清心肺。微寒可以解濕熱也。久服則燥勝。所以身輕。平寒清肺。肺主氣。所以益氣。心主血。味苦清心。清則血充華面。所以耐老。而面白可悅也。心為十二官之主。心安十二官皆安。所以長年也。</p>
<p>制　方:</p>
<p>茵陳同川蓮、乾葛、黃柏、苡仁、北味。治酒疸。同二朮、茯苓、澤瀉、車前、木通、陳皮、神麯、紅曲。治谷疸。同生地、石斛、木瓜、牛膝、黃柏。治女勞疸。</p>

<h3>【夏枯草】</h3>
<p>氣寒。味苦辛。無毒。主寒熱。瘰癧鼠瘻。頭瘡破症。散癭結氣。腳腫濕痹。輕身。夏枯草氣寒。稟天冬寒之水氣。入足太陽膀胱寒水經。味苦辛無毒。得地火金之味。入手少陰心經、手太陰肺經。遇火令而枯。稟金水之氣獨全。水制火。金平木。故專主少陽相火。風木膽經之症。氣味輕清。少陽也。太陽主表。表邪外入。則太陽有病。而惡寒發熱矣。其主之者。味辛可以散表寒。味苦可以清熱也。瘰癧鼠瘻。皆少陽膽經風熱之毒。夏枯草稟金水之氣味。所以專入少陽。解風熱之毒也。頭乃太陽行經之地。膀胱濕熱則生頭瘡。其主之者。氣寒清熱。味苦燥濕也。積聚而有形可徵謂之症。乃濕熱結氣也。味辛可以散結。味苦可以燥濕熱。所以主之也。癭亦少陽之症。其主之者。以夏枯草專治少陽之症。而辛散之功也。</p>
<p>濕邪傷下。腳腫濕痹。無非濕也。苦能燥濕。所以主之。且入肺與膀胱。而有祛濕之力。濕勝則身重。既有祛濕之功。所以能輕身也。</p>
<p>制　方:</p>
<p>夏枯草末。治血崩不止。及赤白帶下。夏枯草可代柴胡升發。可代甘菊清肝。同白茯、白朮、黃柏。治濕熱。同連翹、金銀花、貝母、元參、薄荷、花粉、紫背天葵、甘草。治瘰癧有功效。用數兩煎湯。煮甘菊紫花地丁、金銀花、連翹、白芨、白蘞、甘草、生地、白芷、半枝蓮。消一切腫毒甚神。</p>

<h3>【丹參】</h3>
<p>氣微寒。味苦。無毒。主心腹邪氣。腸鳴幽幽如走水。寒熱積聚。破症除瘕。止煩滿益氣。</p>
<p>丹參氣微寒。稟天初冬寒水之氣。入手太陽寒水小腸經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。心腹者。心與小腸之區也。邪氣者。濕熱之邪氣也。氣寒則清熱。味苦則燥濕。所以主之。腸小腸也。小腸為寒水之腑。水不下行。聚於腸中。則幽幽如水走聲響矣。苦寒清泄。能瀉小腸之水。所以主之。小腸為受盛之官。本熱標寒。所以或寒或熱之物。皆能積聚腸中也。其主之者。味苦能下泄也。積聚而至有形可徵謂之症。假物成形謂之瘕。其能破除之者。味苦下泄之力也。心與小腸為表裡。小腸者心火之去路也。小腸傳化失職。則心火不能下行。鬱於心而煩滿矣。其主之者。苦寒清泄之功也。肺屬金而主氣。丹參清心瀉火。火不刑金。所以益氣也。</p>
<p>制　方:</p>
<p>丹參同牛膝、生地、黃耆、黃柏。則健走飛步。同麥冬、沙參、五味、甘草、青蒿、花粉。治煩滿。同牛膝、木瓜、萆薢、豨薟、杜仲、續斷。治脊強腳痹。專一味。治濕熱疝氣。自汗出欲死者。為末水丸。治軟腳病。</p>

<h3>【益母子】</h3>
<p>氣微溫。味辛甘。無毒。主明目益精。除水氣。久服輕身。</p>
<p>益母氣微溫。稟天初春之木氣。入足厥陰肝經。味辛甘無毒。得地金土之味。入手太陰肺經、足太陰脾經。氣味俱升。陽也。肝為藏血之臟。脾為統血之臟。辛甘益血。目得血則能視。所以明目。脾者陰氣之原也。肺者津液之原也。甘辛能潤。所以益精。脾者為胃行津液者也。肺者相傳之官。通調水道者也。辛甘益脾肺。則津液行而水道通。所以除水氣。久服益肝脾肺。肺主周身之氣。脾主周身之血。肝為生生之臟。以生氣血。氣血生。生長旺。自然身輕矣。（莖）主疹癢。所以可浴兒也。</p>
<p>制　方:</p>
<p>益母子童便煎服。能下死胎。同川芎、歸身、白芍、生地、杜仲、阿膠、續斷丸。安胎止痛。同生地、白芍、麥冬、青蒿、五味、阿膠。治胎漏下血。</p>

<h3>【紅花】</h3>
<p>氣溫。味辛。無毒。主產後血暈口噤。腹內惡血不盡絞痛。胎死腹中。並酒煮服。亦主蠱毒。</p>
<p>紅花氣溫。稟天春和之木氣。入足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。肝為藏血之臟。生生之經。產後血暈口噤者。產後則肝血不藏。肝枯則風熾。所以血暈而口噤也。治風先治血。血行風自滅。紅花辛溫潤血。所以主之。腹內惡血不盡絞痛。胎死腹中。皆血寒不行。不能養肝之故。紅花辛溫。活血暢肝。所以主之也。並酒煎服者。借酒活血潤血之力也。亦主蠱毒者。辛溫則散而毒可解也。</p>
<p>制　方:</p>
<p>紅花煎汁和童便服。治胞衣不下。產後血暈。同當歸、生地、牛膝、白芍、益母、川芎、延胡索。治產後惡血不盡。</p>

<h3>【香附】</h3>
<p>氣微寒。味甘。無毒。除胸中熱充皮毛。久服令人益氣。長鬚眉。（醋炒）香附氣微寒。稟天深秋之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。氣降味和。陰也。胸中者肺之分也。皮毛者肺之合也。肺主氣。氣滯則熱而皮毛焦。香附甘寒清肺。所以除胸中熱而充皮毛也。久服令人益氣者。微寒清肺。肺清則氣益也。鬚眉者血之餘。脾統血。味甘益脾。脾血盛。所以鬚眉長也。</p>
<p>制　方:</p>
<p>香附生則上行胸膈。外達皮毛。熟則下走肝腎。外徹腰足。炒黑則止血。童便炒則入血分補虛。鹽水炒則入血分潤燥。青鹽炒則益腎。酒炒則行經絡。醋炒則入肝。薑汁炒則化痰飲。同參、術則補氣。同歸、地則補血。同木香則去滯。同蔻仁則理氣。同沉香則降氣。同川芎、蒼朮則解鬱。同梔子、川蓮則降火。同茯神則交心腎。乃十二經氣分之要藥也。童便炒為末。醋湯服。治血崩。同茯神、甘草。治氣逆。同沉香、砂仁、甘草。治痞脹噫酸。同砂仁、甘草。治一切氣滯症。同烏藥、甘草。治一切心腹刺痛。同茯神、甘草、橘紅。治婦人血滯氣虛之症。</p>

<h3>【貝母】</h3>
<p>氣平。味辛。無毒。主傷寒煩熱。淋瀝邪氣。疝瘕。喉痹。乳難。金瘡。風痙。（去心糯米炒）</p>
<p>貝母氣平。稟天秋平之金氣。入手太陰肺經。味辛無毒。得地西方之金味。入手陽明燥金大腸經。氣味降多於升。陰也。其主傷寒煩熱者。傷寒有五。風寒濕熱溫。而風與熱。乃陽盛之症。陽盛所以煩熱也。貝母氣平則清。味辛潤散。故主之也。淋瀝者膀胱有熱也。邪氣者熱邪之氣也。膀胱以氣化為主。貝母味辛潤肺。肺乃主氣之臟。肺化則氣潤及於州都。小便通而不淋瀝矣。其主疝瘕者。肺氣不治。則不能通調水道。下輸膀胱。因而濕熱之邪。聚結成疝成瘕。貝母氣平。可以通調水道。味辛可以散熱結也。大腸之脈。其正者上循咽喉。火發於標。乃患喉痹。痹者閉也。其主之者。味辛氣平。能解大腸之熱結也。肺乃津液之腑。主乳難者。味辛能潤。潤則乳自通也。肺主皮毛。味辛氣平。則肺潤而皮毛理。可愈金瘡也。風痙者。風濕流於關節。致血不能養筋而筋急也。貝母味辛。辛則散風濕而潤血。且貝母入肺。肺潤則水道通而津液足。所以風濕逐而筋脈舒也。</p>
<p>制　方:</p>
<p>貝母、薑汁丸。治憂鬱不伸。同厚朴丸。化痰降氣。同知母、牡蠣末。豬蹄湯調服。治乳汁不下。專末。治吐血衄血。吹鼻中。治吹乳作痛。同知母、前胡、麥冬、葛根、甘草。治傷寒煩熱。同陳皮、前胡、石膏、知母、麥冬、竹瀝。治痰瘧。同白芷、白蒺藜。治鬱症乳癰。</p>

<h3>【葶藶子】</h3>
<p>氣寒。味辛。無毒。主癥瘕積聚結氣。飲食寒熱。破堅逐邪。通利水道。（炒用）</p>
<p>葶藶子氣寒。稟天冬寒之水氣。入足太陽寒水膀胱經、手太陽寒水小腸經。味辛無毒。得地西方之金味。入手太陰肺經。氣味降多於升。陰也。其主癥瘕積聚結氣者。氣結聚而成積。有形可徵者謂之症。假物成形者謂之瘕。葶藶入肺。肺主氣。而味辛可以散結也。小腸為受盛之官。飲食入腸。寒熱之物。皆從此運轉。如調攝失宜。則寒熱之物積矣。葶藶氣寒可以去熱。味辛可以散寒。下泄可以去積也。破堅者辛散之功。逐邪者下泄之力。十劑云。泄可去閉。葶藶是也。肺者通調水道。下輸膀胱。葶藶入肺入膀胱。辛寒下泄。所以通利也。</p>
<p>制　方:</p>
<p>葶藶炒成末蜜丸。大棗同煎。治肺癰喘急。及支飲不得息。同棗肉丸。治通身浮腫。專酒浸。治腹脹積聚。</p>

<h3>【元參】</h3>
<p>氣微寒。味苦。無毒。主腹中寒熱積聚。女子產乳余疾。補腎氣。令人明目。（蒸曬）元參氣微寒。稟天冬寒之水氣。入足少陰腎經。味苦無毒。得地南方之火味。入手少陰心經、手厥陰心包絡經。氣味俱降。陰也。腹中者心腎相交之區也。心為君火。心不下交於腎。則火積於上。而熱聚腎為寒水。腎不上交於心。則水積於下而寒聚矣。元參氣寒益腎。味苦清心。心火下而腎水上。升者升而降者降。寒熱積聚自散矣。女子以血為主。產乳余疾。產後諸症以產血傷也。心主血。味苦清心。所以主之。補腎氣者。氣寒壯水之功也。令人明目者。益水可以滋肝。清心有以瀉火。火平水旺。目自明也。</p>
<p>制　方:</p>
<p>元參同生地、甘菊、蒺藜、杞子、柴胡。能明目。同貝母、連翹、甘草、花粉、薄荷、夏枯草。治瘰癧。同升麻、甘草。治發癍咽痛。同知母、麥冬、竹葉。治熱病燥熱煩亂。</p>

<h3>【天花粉】</h3>
<p>氣寒。味苦。無毒。主消渴。身熱。煩滿大熱。補虛安中。續絕傷。</p>
<p>天花粉氣寒。稟天冬寒之水氣。入足少陰腎經、足太陽寒水膀胱經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。膀胱者津液之腑也。心火內爍。則津液枯而病消渴。膀胱主表。火盛則表亦熱而身熱也。其主之者。苦寒可以清火也。心為君火。火盛則煩滿大熱。其主之者。寒以清之。苦以泄之也。火盛則陰虛。補虛者。清潤能補陰虛也。陰者中之守。安中者苦寒益陰。陰充。中有守也。其主續絕傷者。血為陰。陰虛則傷。陰枯則絕。花粉清潤。則虛者滋。枯者潤也。實名（栝蔞）。甘寒之性。能解陽邪。所以主傷寒陽邪結胸也。</p>
<p>制　方:</p>
<p>花粉同川蓮。治心火乘金消渴。同人參、麥冬。治肺津枯消渴。同麥冬、竹葉。治心火煩渴。實同川蓮、枳實。名小陷胸湯。治傷寒結胸。</p>

<h3>【牛蒡子】</h3>
<p>氣平。味辛。無毒。主明目補中。除風傷。（一名惡實酒蒸拭淨焙）</p>
<p>牛蒡子氣平。稟天秋平之金氣。味甘無毒。得地西方之金味。入手太陰肺經。氣味降多於升。陰也。牛蒡氣平清熱。味辛散郁。鬱熱清。則目得血而能視矣。所以明目。中者陰之守也。人身陰陽。求之升降。牛蒡辛平清肺。肺氣下降則陰生。所以補中也。風傷於衛。衛附皮毛。皮毛者肺之合也。辛平疏肺。則皮毛解散。所以除風傷也。</p>
<p>制　方:</p>
<p>牛蒡同紫草、犀角、生地。治痘血熱不出。同桔梗、甘草。治風熱咽痛。</p>

<h3>【甘菊花】</h3>
<p>氣平。味苦。無毒。主諸風。頭眩腫痛。目欲脫。淚出。皮膚死肌。惡風濕痹。</p>
<p>久服利血氣。輕身耐老延年。</p>
<p>甘菊氣平。稟天秋平之金氣。入手太陰肺經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。味苦清火。火抑金勝。發花於秋。其稟秋金之氣獨全。故為制風木之上藥也。諸風皆屬於肝。肝脈連目繫上出額。與督脈會於巔。肝風熾則火炎上攻頭腦而眩。火盛則腫而痛。其主之者。味苦可以清火。氣平可以制木也。肝開竅於目。風熾火炎。則目脹欲脫。其主之者。制肝清火也。手少陰之正脈。上走喉嚨。出於面。合目內眥。心為火。火甚則心系急而淚出。其主之者。苦平可以降火也。皮膚乃肺之合。肌肉乃脾之合。木火刑肺金脾土。則皮膚肌肉皆死。甘菊稟金氣。具火味。故平木清火而主皮膚死肌也。其主惡風濕痹者。風濕成痹。風統於肝。甘菊氣平。有平肝之功。味苦有燥濕之力也。久服利血氣者。肺主氣。氣平益肺。所以有利於氣。心主血。味苦清心。所以有利於血。利於氣。氣充身自輕。利於血。血旺自耐老。氣血皆利。其延年也必矣。</p>
<p>制　方:</p>
<p>甘菊搗汁。治疔瘡。重九採花末服。治酒醉不醒。同杞子丸服。終身無目疾瘡疽。同穀精草、綠豆皮等分末。治目翳。</p>

<h3>【丹皮】</h3>
<p>氣寒。味辛。無毒。主寒熱中風。瘛瘲驚癇。邪氣。除症堅瘀血。留舍腸胃。安五臟。療癰瘡。</p>
<p>丹皮氣寒。稟天冬寒之水氣。入手太陽寒水小腸經。味辛無毒。得地西方之金味。入手太陰肺經。氣味降多於升。陰也。寒水太陽經。行身之表而為外藩者也。太陽陰虛。則皮毛不密而外藩不固。表邪外入而寒熱矣。其主之者。氣寒可以清熱。味辛可以散寒解表也。肝者風木之臟也。肺經不能制肝。肝風挾濁火上逆。中風瘛瘲驚癇之症生矣。丹皮辛寒。益肺平肝。肝不升而肺氣降。諸症平矣。小腸者受盛之官。與心為表裡。心主血。血熱下注。留舍小腸。瘀積成瘕。形堅可徵。丹皮寒可清熱。辛可散結。所以入小腸而除瘕也。五臟藏陰者也。辛寒清血。血清陰足而藏安也。榮血逆於肉裡。乃生癰瘡。丹皮辛寒。可以散血熱。所以和榮而療癰瘡也。</p>
<p>制　方:</p>
<p>丹皮同防風末酒服。治癩疝。同麥冬、五味、白茯、甘草、木通、生地。治心包絡之火。</p>

<h3>【黃連】</h3>
<p>氣寒。味苦。無毒。主熱氣目痛眥傷淚出。明目。腸澼腹痛下痢。婦人陰中腫痛。</p>
<p>久服令人不忘。（酒炒吳茱萸同炒薑汁炒）</p>
<p>黃連氣寒。稟天冬寒之水氣。入足少陰腎經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。其主熱氣目痛者。心主火。火氣熱。心病舍肝。肝開竅於目也。黃連苦寒。所以清火也。手少陰之正。出於面。合目內眥。手少陰為心火。火盛則心系急而淚出。眥傷淚出皆心火也。黃連清心。所以主之。實則瀉其子。心者肝木之子也。清心則肝邪瀉。所以明目也。大腸為庚金之腑。心火乘之。則津液化成膿血。痛而下痢矣。其主之者。寒以清火。苦以泄熱也。北方黑色。入通於腎。開竅於二陰。婦人陰中乃腎竅也。熱勝則腫。腫痛者火盛也。黃連入腎。寒苦清火。所以主之。其久服令人不忘者。入心清火。火清則心明。能記憶也。</p>
<p>制　方:</p>
<p>黃連同西河柳、黃芩、黃柏、石膏、知母、甘草。治痧疹已透。煩躁不止。同當歸、棗仁、圓肉、生地、黃芩、黃柏、黃耆。治火症盜汗。同槐花、枳殼、乳香、沒藥。治痢純血腹痛。同五味、麥冬、乾葛。治酒病。同麥冬、五味。治卒消渴小便多。同人參、蓮子。治虛痢。專為末丸。名瀉心丸。治心實心痛。同吳茱萸、神麯丸。治肝火作痛。同白朮、陳皮、神麯丸。名四物丸。治胸中嘈雜作痛。同白茯。治思想所致白淫。同木香丸。名香連丸。治痢。同炮薑末。治氣痢後重。</p>

<h3>【黃芩】</h3>
<p>氣平。味苦。無毒。主諸熱。黃疸。腸澼泄痢。逐水。下血閉。惡瘡疽蝕。火瘍。（酒炒）</p>
<p>黃芩氣平。稟天秋涼之金氣。入手太陰肺經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。心者火臟也。十二官之君。諸熱之主也。苦平清心。故主諸熱。黃疸者濕熱乘脾之症也。脾為太陰濕土。土濕熱。則本色現而發黃疸。黃芩苦平清肺。肺亦太陰。太陰濕熱退。而脾疸亦平也。肺與大腸為表裡。大腸濕熱則腸澼泄痢。黃芩清肺。肺清則通調水道。而濕熱下逐。腸肺復其燥金之氣。而泄痢愈矣。肺司水道。熱則肺失清肅之令。而水道不通。水因而蓄焉。黃芩清肺。則化氣下及膀胱而水下逐矣。血閉者。實熱在血分而經閉不通也。心主血。味苦清心。則能下泄。所以主之。惡瘡疽蝕者。瘡疽敗壞潰腐而不收口也。火瘍者。火傷瘡也。皆心火有餘而腐壞肺之皮毛也。苦平清心肺。所以主諸痛癢瘡瘍也。</p>
<p>制　方:</p>
<p>黃芩同白芍、甘草。名黃芩湯。治濕熱腸痛。及瀉痢。同白芍、甘草、半夏。治吐瀉。同白芍、麥冬、白朮。治胎不安內熱。</p>

<h3>【連翹】</h3>
<p>氣平。味苦。無毒。主寒熱。鼠瘻瘰癧。癰惡尰瘡。癭瘤結熱。蠱毒。（去心用）</p>
<p>連翹氣平。稟天秋平之金氣。入手太陰肺經。味苦無毒。得地南方之火味。入手少陰心經、手厥陰心包絡經。氣味俱降。陰也。心包絡者。臣使之官。喜樂出焉。其經別屬三焦。出循喉嚨。出耳後。合少陽。鬱則包絡之火上炎經絡。而成寒熱鼠瘻瘰癧矣。連翹輕清平苦。輕而揚之。因而越之。結者散而寒熱愈也。癰尰惡瘡。皆生於心火。連翹味苦清心。所以主之。癭瘤結熱。亦心包絡之鬱結火也。其主之者。輕揚有散結之功也。蠱毒因辛熱而成。辛熱則生蟲也。連翹平能清而苦能泄。熱解蟲化而蠱自消也。</p>
<p>制　方:</p>
<p>連翹同脂麻。治瘰癧。同貝母、白芷、甘草、金銀花、玄參、薄荷、夏枯草、白芨。治同上。</p>

<h3>【天麻】</h3>
<p>氣平。味辛。無毒。主諸風濕痹。四肢拘攣。小兒風癇驚氣。利腰膝。強筋力。久服益氣。輕身長年。</p>
<p>天麻氣平。稟天秋平之金氣。味辛無毒。得地西方之金味。入手太陰肺經。得天地之金氣獨全。故為制風木之上藥。氣降味升。陽也。肝為風木。諸風皆屬於肝。肝主血。血澀不通。則濕感成痹也。其主之者。天麻氣平味辛。入肺而通水道。能活血而散風也。四肢脾主之。因於濕則大筋吹短而成拘攣也。肺亦太陰。水道通調。則太陰濕行。而脾濕解拘攣愈矣。小兒風癇驚氣。皆肝經血虛氣亢。以致氣逆而驚癇也。天麻味辛。辛則潤血氣平。平則鎮驚也。辛平之品。潤肝、血而平肝氣。肝主筋而位居下。故能利腰膝而強筋力也。久服辛平益肺。肺主氣。所以益氣。氣充身自輕。而年自長也。</p>
<p>制　方:</p>
<p>天麻同半夏、黃芩、前胡、陳皮、白茯。治痰厥頭痛。同白朮、陳皮、白茯、車前。治飲在心下。同南星、前胡、陳皮、白茯。消一切風痰。</p>

<h3>【木通】</h3>
<p>氣平。味辛。無毒。主除脾胃寒熱。通利九竅血脈關節。令人不忘。去惡蟲。</p>
<p>木通氣平。稟天秋平之金氣。味辛無毒。得地西方之金味。專入手太陰肺經。氣降味苦。陰也。其除脾胃寒熱者。蓋飲入於胃。遊溢精氣。上輸於脾。脾氣散精。上歸於肺。肺氣通調水道。乃下輸膀胱。如水道不通。則飲留於脾胃而發寒熱矣。木通入肺。以通水道。故除脾胃寒熱也。九竅者。耳目鼻各二。口大小便各一也。木通氣平則利。味辛則通。所以通利九竅血脈關節也。其令人不忘者。心藏神而屬火。水道通則心火有制。神清多記憶也。濕熱不除。則化生惡蟲。水道通。則濕熱有去路。故惡蟲不生也。</p>
<p>制　方:</p>
<p>木通同生地、炙草、竹葉。治心熱便赤。同白茯、澤瀉、車前、豬苓、燈心。治癃閉。同牛膝、生地、天冬、麥冬、五味、黃柏、甘草。治尿血。同生地、甘草、赤茯、竹葉。名導赤散。瀉小腸之火。</p>

<h3>【車前子】</h3>
<p>氣寒。味甘。無毒。主氣癃。止痛。利水道通小便。除濕痹。久服輕身耐老。</p>
<p>車前氣寒。稟天冬寒之水氣。入足太陽寒水膀胱經。味甘無毒。得地中正之土味。入足太陰濕土脾經。氣降味和。陰也。膀胱者州都之官。津液藏焉。氣化則能出矣。出氣不化。閉塞下竅。而為癃閉。其主之者。寒能化熱。甘能化氣也。小便者心火之去路也。火結於膀胱。則小便痛矣。其止痛者。氣寒能清火也。飲入於胃。遊溢精氣。上輸於脾。脾氣散精。上歸於肺。肺乃下輸膀胱。車前味甘。甘能益脾。脾氣散精。則肺氣通行。故水道通。小便利也。益脾利水。則濕下逐。故又除濕痹也。久服輕身耐老者。指有病者而言也。人身有濕則身重。濕逐則身輕。濕逐脾健。脾主血。血充故耐老也。不然。滑泄之品。豈堪久服者哉。</p>
<p>制　方:</p>
<p>車前同木通、沉香、陳皮、升麻。治氣癃。同二朮、木瓜、石斛、萆薢、白茯、五加皮。治濕痹。同白芍、白茯、扁豆、甘草。治水泄。同生地、牛膝、天冬、麥冬、黃柏、五味、杞子、人參、白膠。治尿血。及女子血淋。專末服。治暴泄。</p>

<h3>【澤瀉】</h3>
<p>氣寒。味甘。無毒。主風寒濕痹。乳難。養五臟。益氣力。肥健。消水。久服耳目聰明。不飢。延年輕身。面生光。能行水上。</p>
<p>澤瀉氣寒。稟天冬寒之水氣。入足太陽寒水膀胱經。味甘無毒。得地中正之土味。入足太陰脾經。氣降味和。陰也。其主風寒濕痹者。風寒濕三者合而成痹。痹則血閉而肌肉麻木也。澤瀉味甘益脾。脾濕去。則血行而肌肉活。痹症瘳矣。其主乳難者。脾統血。血不化。乳所以難也。味甘益脾。脾濕行則血運而乳通也。其主養五臟益氣力肥健者。蓋五臟藏陰者也。而脾為之原。脾主肌肉而性惡濕。澤瀉瀉濕。濕去則脾健。脾乃後天之本。所以肌肉長而氣力益。陰血充而五臟得所養也。其消水者。入膀胱氣寒下泄也。久服耳目聰明。不飢。延年輕身者。腎與膀胱為表裡。膀胱水道通。則腎之精道固。精足則氣充。腎開竅於耳。所以耳聰。水之精為目瞳子。所以明目。腎者胃之關。關門固所以不飢。腎氣納。所以延年輕身也。其言面生光能行水上者。脾為濕土。濕則重。燥則輕。輕則能行水上。脾統血。血充則面有光彩也。蓋表其利水有固腎之功。燥濕有健脾之效也。</p>
<p>制　方:</p>
<p>澤瀉同白茯、白朮、豬苓、肉桂。名五苓散。治濕熱。同山藥、山萸、白茯、丹皮、生地、北味。名都氣湯。補腎真陰。及小兒行語遲。同白茯、建蘭葉、豬苓。治飲痰咳嗽。</p>

<h3>【萆薢】</h3>
<p>氣平。味苦。無毒。主腰脊痛強。骨節風寒濕周痹。惡瘡不瘳。熱氣。</p>
<p>萆薢氣平。稟天秋降之金氣。入手太陰肺經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。太陽寒水經。挾脊抵腰中。太陽有濕。則陽氣不布。腰脊強而痛矣。太陽經行身表附皮毛而為外衛者也。皮毛者肺之合。萆薢氣平入肺。味苦燥濕。肺之皮毛理而太陽之濕亦逐。所以主腰脊強痛也。骨節者節犍之處也。亦屬太陽經。濕流孔竅。故風寒濕合而成痹。則周身麻木而骨節更甚也。其主之者。萆薢入肺。肺通調水道。下輸膀胱。可以去太陽之濕而理痹也。惡瘡熱氣。皆屬心火。萆薢味苦清心。心火退。則瘍瘡愈而熱氣解矣。</p>
<p>制　方:</p>
<p>萆薢同蓮子、白茯、車前、木通、澤瀉、牛膝、甘草、黃柏。可分清治濕。同杜仲。治腰腳痹耎。同菖蒲、益智、烏藥。治白濁。佐杜仲、肉蓯蓉、菟絲子、北味丸。名金剛丸。治筋痿足不能行。</p>

<h3>【防己】</h3>
<p>氣平。味辛。無毒。主風寒溫瘧熱氣諸癇。除邪。利大小便。</p>
<p>防己氣平。稟天秋降之金氣。味辛無毒。得地西方燥金之味。入手太陰肺經。氣味降多於升。陰也。風寒溫瘧者。感風寒而患但熱不寒之瘧也。諸癇熱氣者。心有熱而患一切風癇也。溫熱皆為陽邪。癇瘧皆屬風木。防己氣平可以清陽邪。味辛可以平風木。而消風痰也。除邪者辛平之品。可除濕熱之邪也。小便出於膀胱。膀胱津液。肺氣化乃出。防己氣平可以化氣。故利小便。大便出於大腸。肺與大腸為表裡。味辛可以潤腸。故利大便也。但臭惡傷胃。宜慎用之。</p>
<p>制　方:</p>
<p>防己同黃耆、桂枝、白茯、甘草。治皮水。同黃耆、白朮、甘草、生薑、大棗。治風水。惡風汗出。身重脈浮。</p>

<h3>【大黃】</h3>
<p>氣寒。味苦。無毒。主下瘀血。血閉寒熱。破癥瘕積聚。留飲宿食。盪滌腸胃。</p>
<p>推陳致新。通利水穀。調中化食。安和五臟。</p>
<p>大黃氣寒。稟天冬寒之水氣。入手太陽寒水小腸經。味苦無毒。得地南方之火味。入手少陰心經、手少陽相火三焦經。氣味俱降。陰也。濁陰歸六腑。味厚則泄。兼入足陽明胃經、手陽明大腸經。為盪滌之品也。味厚為陰。則入陰分。血者陰也。心主者也。血凝則瘀。大黃入心。味苦下泄。故下瘀血。血結則閉。陰不和陽。故寒熱生焉。大黃味苦下泄。則閉者通。陰和於陽而寒熱止矣。癥瘕積聚。皆有形之實邪。大黃所至蕩平。故能破之。小腸為受盛之官。無物不受。傳化失職。則飲留食積矣。大黃入小腸而下泄。所以主留飲宿食也。味厚則泄。濁陰歸腑。大黃味厚為陰。故入胃與大腸而有盪滌之功也。消積下血。則陳者去而新者進。所以又有推陳致新之功焉。其推陳致新者。以滑潤而能通利水穀。不使阻礙腸胃中也。腸胃無礙。則陽明胃與太陰脾調和。而食消化矣。飲食消化。則陰之所生。本自五味。五臟主藏陰。陰生而藏安和矣。</p>
<p>制　方:</p>
<p>大黃同黃芩、沉香、礞石丸。名滾痰丸。治痰症。同當歸、檳榔。治痢初起。同甘草。治胃火食入即吐。</p>

<h3>【燈心草】</h3>
<p>氣寒。味甘。無毒。主五淋。生煮服之。</p>
<p>燈草氣寒。稟天冬寒之水氣。入手太陽寒水小腸經、足太陽寒水膀胱經。味甘無毒。得地中正之土味。入足太陰脾經。氣味降多於升。陰也。心與小腸為表裡。小便者心火之去路也。心火結於小腸膀胱。則小便淋瀝矣。燈心生煮服之。氣寒清熱。味甘化氣。結者解而火下泄矣。</p>
<p>制　方:</p>
<p>燈心焙。同炒鹽共末。吹喉痹。煎湯調燈花末塗乳。小兒吮之。止夜啼。</p>

<h3>【使君子】</h3>
<p>氣溫。味甘。無毒。主小兒五疳。小便白濁。殺蟲療瀉痢。</p>
<p>使君子氣溫。稟天春和之木氣。入足厥陰肝經。味甘無毒。得地中正之土味。入足太陰脾經。氣味俱升。陽也。小兒疳症。名雖有五。原皆由脾虛。脾虛則不健運。於是積聚生疳也。其主之者。味甘可以益脾。氣溫可以健運也。中氣不足。則溲溺為之變。所以小便白而混濁也。其主之者。甘溫益氣。氣足則清肅而便清也。甘溫之品。則具條達之性。能瀉脾經之濕熱。濕熱清。則瀉利自止而蟲不生。所以殺蟲療瀉痢也。</p>
<p>制　方:</p>
<p>使君子同蘆薈、蕪荑、滑石、麥芽、厚朴、陳皮。殺疳蟲。消疳積。專為末。治小兒蛔痛及虛腫。煎湯漱蟲牙疼痛。</p>

<h1>卷三</h1>

<h2>木部</h2>

<h3>【枸杞子】</h3>
<p>氣寒。味苦。無毒。主五內邪氣。熱中消渴。周痹風濕。久服堅筋骨。輕身不老。耐寒暑。</p>
<p>枸杞子氣寒。稟天冬寒之水氣。入足少陰腎經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。五內者五臟之內也。邪氣者邪熱之氣也。蓋五內為藏陰之地。陰虛所以有熱邪也。其主之者。苦寒清熱也。心為君火。腎為寒水。水不制火。火爍津液。則病熱中消渴。其主之者。味苦可以清熱。氣寒可以益水也。水益火清。消渴自止。其主周痹風濕者。痹為閉症。血枯不運。而風濕乘之也。治風先治血。血行風濕滅也。杞子苦寒益血。所以治痹。久服苦益心。寒益腎。心腎交。則水火寧而筋骨堅。筋骨健則身自輕。血足則色華。所以不老。耐寒暑者。氣寒益腎。腎水足可以耐暑。味苦益心。心火寧可以耐寒也。</p>
<p>制　方:</p>
<p>杞子同五味。治疰夏。同熟地、白茯、白朮。治腎虛目暗。</p>

<h3>【金櫻子】</h3>
<p>氣平。味酸澀無毒。主脾泄下痢。止小便利。澀精氣。久服令人耐寒輕身。</p>
<p>金櫻子氣平。稟天秋成之金氣。入手太陰肺經。味酸澀無毒。得地東生西收金木之味。入足厥陰肝經。入手陽明燥金大腸經。氣味俱降。陰也。十劑云。澀可去脫。脾泄下痢。大腸不禁也金櫻子味酸澀。所以固脫也。小便氣化乃出。金櫻子氣平益肺。肺氣足以收攝。則小便利自止。五臟六腑之精。皆藏於腎。所以疏泄。肝散之也。金櫻子味酸斂肝。肝不疏泄。精氣自澀矣。久服酸平益肺。肺主皮毛。皮毛固所以耐寒。肺主氣。氣充所以輕身也。</p>
<p>制　方:</p>
<p>金櫻子同芡實丸。名水陸丹。益氣補真。煎膏。丸杜仲末。治腎泄。</p>

<h3>【杜仲】</h3>
<p>氣平。味辛。無毒。主腰膝痛。補中益精氣。堅筋骨強志。除陰下癢濕。小便餘瀝。久服輕身耐老。（鹽水炒）</p>
<p>杜仲氣平。稟天秋降之金氣。味辛無毒。得地潤澤之金味。專入手太陰肺經。氣味升多於降。陰也。腰者腎之腑。膝者腎所主也。杜仲辛平益肺。肺金生腎水。所以腰膝痛自止也。中者陰之守也。辛平益肺。肺乃津液之化源。所以陰足而補中也。初生之水謂之精。天一之水也。杜仲入肺。肺主氣而生水。所以益精氣。精氣益則肝有血以養筋。腎有髓以填骨。所以筋骨堅也。肺主氣。辛平益肺。則氣剛大。所以志強。陰下者即篡間。任脈別絡也。癢濕者濕也。杜仲辛平潤肺。則水道通而濕行也。小便氣化乃出。有餘瀝氣不收攝也。杜仲益肺氣。氣固則能攝精也。久服辛平益氣。氣充則身輕。辛潤滋血。血旺則耐老也。鹽水炒則入腎。醋炒則入肝。以類從也。</p>
<p>制　方:</p>
<p>杜仲同續斷、砂仁。治胎前雜症。同續斷、山藥糊丸。治頻墮胎。專一味酒炒丸。治腰背痛。</p>

<h3>【茯苓】</h3>
<p>氣平。味甘。無毒。主胸脅逆氣。憂恚驚邪恐悸。心下結痛。寒熱煩滿咳逆。口焦舌乾。利小便。久服安魂養神。不飢延年。</p>
<p>茯苓氣平。稟天秋降之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。氣平味和。降中有升。陰也。胸者肺之分也。脅者肝之分也。肝主升而肺主降。肺金不足則氣不降。肝木有餘則氣上逆。逆於肝肺之分。故在胸脅間也。茯苓入肺。氣平則降。味甘可以緩肝。所以主之。脾為土。肺為金。脾肺上下相交。則五臟皆和。位一身之天地矣。若脾肺失中和之德。則憂恚驚邪恐悸。七情乖戾於胸。發不中節而為病。茯苓味甘和脾。氣平和肺。脾肺和平。七情調矣。心下脾之分也。濕熱在脾則結痛。濕熱不除。則流入太陽而發寒熱。鬱於太陰而煩滿。濕乘肺金而咳逆。茯苓甘平淡滲。所以能燥脾伐水清金。治以上諸症也。人身水道不通。則火無制。而口焦舌乾矣。茯苓入肺。以通水道。下輸膀胱。則火有去路。故止口舌乾焦。水道通。所以又利小便也。肝者魂之居也。而隨魂往來者神也。久服茯苓。則肺清肅。故肝木和平。而魂神安養也。不飢延年者。脾為後天之本。肺為元氣之腑。脾健則不飢。氣足則延年也。</p>
<p>制　方:</p>
<p>白茯同人參、白朮、甘草、陳皮、山藥、扁豆、白芍。治脾虛。同人參、白朮、甘草、陳皮、半夏。名六君子湯。治咳而吐。同二朮、澤瀉、車前、白芍、陳皮、木瓜、豬苓。治水腫。同陳皮、半夏、甘草、人參、枳殼、川芎、白芍、歸身、生地、前胡、葛根、桔梗、蘇葉、生薑、大棗。名茯苓補心湯。治火鬱心包痛而吐血咳逆。</p>

<h3>【茯神】</h3>
<p>氣平。味甘。無毒。主闢不祥。療風眩風虛。五勞口乾。止驚悸。多恚怒。善忘。開心益智。安魂魄。養精神。</p>
<p>茯神氣平。稟天秋平之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。氣平味和。降中有升。陰也。茯神味甘氣平。得中正之氣味。和脾肺。位一身之天地。所以能闢不祥也。諸風皆屬肝木。木虛則風動而眩。其主之者。味甘性緩。可以益肝傷。氣平清金。可以定風木也。五勞。五臟勞傷其神也。五勞神傷。則陰火動而口乾矣。茯神甘平。安神。故止口乾。驚悸多恚怒善忘。皆心腎不交。而肝木不寧之症。茯神氣平益肺。肺氣下降。則心亦下交。味甘益脾。脾氣上升。則腎亦上交。蓋天地位則水火寧。土金實則風木定。五行相制之道也。其開心益智者。皆氣平益肺之功。肺益。則水道通而心火有制。所以心神開朗而光明。肺益。則金生腎水。所以伎巧出而智益也。肝者魂之居。肺者魄之處。茯神氣平益肺。肺寧肝和。故安魂魄。精者陰之華。神者陽之靈。茯神味甘益脾。脾和則飲食納。而精神得所養也。</p>
<p>制　方:</p>
<p>茯神同沉香丸。名朱雀丸。治心神恍惚。專為末。艾湯服。治心孔有汗。及心虛夢泄白濁。</p>

<h3>【松花】</h3>
<p>氣溫。味甘。無毒。主潤心肺。益氣。除風。止血。亦可釀酒。</p>
<p>松花氣溫。稟天春和之木氣。入足厥陰肝經。味甘無毒。得地中正之土味。入足太陰脾經。氣味俱升。陽也。其主潤心肺者。飲食入胃。脾氣散精。輸於心肺。松花味甘益脾。氣溫能行。脾為胃行其津液。輸於心肺。所以潤心肺也。益氣者。氣溫益肝之陽氣。味甘益脾之陰氣也。風氣通肝。氣溫散肝。所以除風。脾統血。味甘和脾。所以止血也。可釀酒者。清香芳烈。宜於酒也。</p>
<p>制　方:</p>
<p>松花同山藥、白芍、甘草、茯苓。治泄瀉。同紅曲、山藥、北味、肉蓯蓉、白芍、杜仲。治腎泄。專浸酒。治頭旋腦腫。</p>

<h3>【山茱萸】</h3>
<p>氣平。味酸。無毒。主心下邪氣寒熱。溫中。逐寒濕痹。去三蟲。久服輕身。（去核）</p>
<p>山萸氣平。稟天秋成之金氣。入手太陰肺經。味酸無毒。得地東方之木味。入足厥陰肝經。氣味俱降。陰也。心下脾之分也。脾之邪。肝木之邪也。肝木血少氣亢。則克脾土。並於陽則熱。並於陰則寒矣。山萸味酸入肝。益肝血而斂肝氣。則心下之寒熱自除也。山萸味酸收斂。斂火歸於下焦。火在下謂之少火。少火生氣。所以溫中。山萸氣平益肺。肺主皮毛而司水道。水道通調。則皮毛疏理。而寒濕之痹瘳矣。三蟲者濕熱所化也。濕熱從水道下行。則蟲亦去也。久服味過於酸。肝氣以津。肝者敢也。生氣生血之臟也。所以身輕也。</p>
<p>制　方:</p>
<p>山萸同人參、五味、牡蠣、益智。治老人小便淋瀝及遺尿。同菖蒲、甘菊、生地、黃柏、五味。治腎虛耳聾。同杜仲、牛膝、生地、白膠、山藥。治腎虛腰痛。同生地、山藥、丹皮、白茯、澤瀉、柴胡、白芍、歸身、五味。名滋腎清肝飲。治水枯木亢之症。同杜仲。治肝腎俱虛。</p>

<h3>【柏子仁】</h3>
<p>氣平。味甘。無毒。主驚悸。益氣除風濕。安五臟。久服令人潤澤美色。耳目聰明。不飢不老。輕身延年。</p>
<p>柏仁　氣平。稟天秋平之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。以其仁也。兼入手少陰心經。氣升味和。陽也。心者神之舍也。心神不寧。則病驚悸。柏仁入心。驚者平之。氣平。平驚悸也。益氣者。氣平益肺氣。味甘益脾氣。滋潤益心氣也。治風先治血。血行風自滅。柏仁味甘益脾血。血行風息而脾健運。濕亦下逐矣。蓋太陰乃濕土之經也。五臟藏陰者也。脾為陰氣之原。心為生血之臟。肺為津液之腑。柏仁平甘益陰。陰足則五臟皆安矣。久服甘平益血。令面光華。心為君主。主明則十二官皆安。耳目聰明矣。味甘益脾。不飢不老。氣平益肺。輕身延年也。</p>
<p>制　方:</p>
<p>柏仁同松仁、麻仁。治老人虛閉。同白朮、生地、棗肉丸。治心脾虛。</p>

<h3>【酸棗仁】</h3>
<p>氣平。味酸。無毒。主心腹寒熱。邪結氣聚。四肢痠痛。濕痹。久服安五臟。輕身延年。（炒研）</p>
<p>棗仁氣平。稟天秋斂之金氣。入手太陰肺經。味酸無毒。得地東方之木味。入足厥陰肝經、手厥陰風木心包絡經。氣味俱降。陰也。心者胸臆之分。手厥陰心包絡脈起之處。腹者中脘之分。足厥陰肝經行之地。心包絡主熱。肝主寒。厥陰主散。不能散則寒熱邪結氣聚矣。棗仁味酸。入厥陰。厥陰和。則結者散也。四肢者手足也。兩厥陰經行之地也。痠痛濕痹。風濕在厥陰絡也。棗仁味酸益血。血行風息。氣平益肺。肺理濕行。所以主之也。心包絡者。心之臣使也。代君行事之經也。肝者生生之臟。發榮之主也。久服棗仁。則厥陰陰足。所以五臟皆安。氣平益肺。所以輕身延年也。</p>
<p>制　方:</p>
<p>棗仁同茯神、遠志、麥冬、石斛、五味、圓肉、人參。治驚悸。同生地、白芍、麥冬、五味、圓肉、竹葉。治自汗。同茯神、人參。治盜汗。同人參、茯神、白朮、甘草。治振悸不眠。同知母、茯神、甘草。名酸棗仁湯。治虛煩不眠。</p>

<h3>【女貞子】</h3>
<p>氣平。味苦。無毒。主補中。安五臟。養精神。除百疾。久服肥健。輕身不老。</p>
<p>女貞子氣平。稟天秋收之金氣。入手太陰肺經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。中者陰之守也。五臟者藏陰者也。女貞氣平益肺。肺為津液之化源。所以補中而臟安也。心者神之居。肺者水之母。入心肺而益陰。陰足氣充。氣充神旺精生。所以主養精神也。氣失其平則為病。女貞氣平。肺主氣。氣得其平。百病皆除矣。人身有形之皮肉筋骨。皆屬陰者也。女貞平苦益陰。則肌肉自豐。筋骨自健也。心者生之本。其華在面。肺者氣之源。氣足則身輕。血華故不老也。</p>
<p>制　方:</p>
<p>女貞同甘菊、生地、杞子、蒺藜。治目昏暗。搗汁熬膏。埋地中七日。點風熱赤眼。</p>

<h3>【肉桂】</h3>
<p>氣大熱。味甘辛。有小毒。利肝肺氣。心腹寒熱冷疾。霍亂轉筋。頭痛腰痛。出汗。止煩。止唾。咳嗽。鼻齆。墮胎。溫中。堅筋骨。通血脈。理疏不足。宣導百藥無所畏。久服神仙不老。</p>
<p>肉桂氣大熱。稟天真陽之火氣。入足少陰腎經。補益真陽。味甘辛。得地中西土金之味。入足太陰脾經、手太陰肺經。有小毒。則有燥烈之性。入足陽明燥金胃、手陽明燥金大腸。氣味俱升。陽也。肉桂味辛得金味。金則能制肝木。氣大熱。稟火氣。火能制肺金。制則生化。故利肝肺氣。心腹太陰經行之地。寒熱冷疾者。有心腹冷疾而發寒熱也。氣熱能消太陰之冷。所以愈寒熱也。霍亂轉筋。太陰脾經寒濕症也。熱可祛寒。辛可散濕。所以主之。經云。頭痛巔疾。過在足少陰腎經。腰者腎之腑。腎虛則火升於頭。故頭痛腰痛也。肉桂入腎。能導火歸原。所以主之。辛熱則發散。故能汗出。虛火上炎則煩。肉桂導火。所以主止煩也。腎主五液。寒則上泛。肉桂溫腎。所以止唾。辛甘發散。疏理肺氣。故主咳嗽鼻齆。血熱則行。所以墮胎。肉桂助火。火能生土。所以溫中。中者脾胃也。筋者肝之合也。骨者腎之合也。甘辛之味。補益脾肺。制則生化。所以充肝腎而堅筋骨也。其通血脈理疏不足者。熱則陽氣流行。所以血脈通而理疏密也。宣導百藥無所畏者。藉其通行流走之性也。久服神仙不老者。辛熱助陽。陽明故神。純陽則仙而不老也。</p>
<p>制　方:</p>
<p>肉桂同人參、炮薑、附子。治中寒腹痛。同薑黃、枳殼、甘草、生薑、大棗。治左脅痛脹。同當歸、牛膝。治冬月產難。產門不開。同黃柏、知母丸。名滋腎丸。治小便不通。</p>

<h3>【桂枝】</h3>
<p>氣溫。味辛。無毒。主上氣咳逆。結氣喉痹吐吸。利關節。補中益氣。久服通神。輕身不老。</p>
<p>桂枝氣溫。稟天春和之木氣。入足厥陰肝經。味辛無毒。得地西方潤澤之金味。入手太陰肺經。氣味俱升。陽也。肺為金藏。形寒飲冷則傷肺。肺傷則氣不下降。而病上氣咳逆矣。桂枝性溫溫肺。肺溫則氣下降。而咳逆止矣。結氣喉痹吐吸者。痹者閉也。氣結於喉。閉而不通。但吐而不能吸也。桂枝辛溫散結行氣。則結者散而閉者通。不吐而能吸也。辛則能潤。則筋脈和而關節利矣。中者脾也。辛溫則暢達肝氣。而脾經受益。所以補中。益氣者肺主氣。肺溫則真氣流通而受益也。久服通神輕身不老者。久服則心溫助陽。陽氣常伸而靈明。陽盛而身輕不老也。</p>
<p>制　方:</p>
<p>桂枝同白芍、甘草、生薑、大棗。名桂枝湯。治中風。同白芍、甘草、飴糖、生薑、大棗、黃耆。名黃耆建中湯。治陰血不足。</p>

<h3>【吳茱萸】</h3>
<p>氣溫。味辛。有小毒。主溫中下氣。止痛。除濕血痹。逐風邪。開腠理。咳逆寒熱。（泡焙用）</p>
<p>吳萸氣溫。稟天春和之木氣。入足厥陰肝經。味辛有小毒。得地西方燥烈之金味。入手太陰肺經。氣味俱升。陽也。中者脾也。太陰經也。肺主氣。亦太陰也。氣溫則肺令下行。而太陰亦暖。所以溫中下氣也。寒邪客於胸腹。則真氣不通而痛矣。辛溫則流行和散。所以止痛也。辛溫暖肺。肺氣通行。則水道通調。故又除濕。血泣則成痹。肝藏血。血溫則活。故主血痹。辛溫為陽。則能發散。故逐風邪。肺主皮毛而司腠理。辛溫疏散。腠理自開。形寒飲冷則傷肺。肺傷則氣不下降。而火反上逆。咳逆寒熱之症生焉。吳萸辛溫暖肺。肺氣下降。而寒熱咳逆之症自平也。</p>
<p>制　方:</p>
<p>吳萸同人參、生薑、大棗。名吳萸湯。治嘔涎頭痛。同陳皮、附子。治腎氣上噦。同川連、白芍丸。治痢。同炮薑末湯服一錢。治食已吞酸。同肉桂、炮姜丸。名和中丸。治寒腹脹。</p>

<h3>【丁香】</h3>
<p>氣溫。味辛。無毒。主溫脾胃。止霍亂壅脹。風毒諸腫。齒疳䘌。能發諸香。</p>
<p>丁香氣溫。稟天春和之木氣。入足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。丁香味辛入肺。芳香而溫。肺太陰也。脾亦太陰。肺暖則太陰暖。而脾亦溫。肺與大腸為表裡。大腸屬胃。所以主溫脾胃也。霍亂。太陰寒濕症也。氣壅而脹。肝邪乘土也。丁香辛溫。故能散太陰寒濕。平厥陰脹氣。所以主之也。風氣通肝。風毒諸腫。風兼濕。濕勝而腫也。丁香氣溫。可以散肝風。味辛可以消濕腫也。齒疳䘌。陽明濕熱生蟲也。太陰與陽明為一合。丁香辛溫太陰。則太陰為陽明行濕熱。而齒疳䘌愈也。能發諸香者。丁香氣味辛溫。而有起發之力也。</p>
<p>制　方:</p>
<p>丁香同白蔻、藿香、陳皮、厚朴、砂仁。治寒霍亂。同陳皮、薑汁糊丸。治小兒虛寒吐瀉。同半夏、薑汁丸。治小兒寒濕吐瀉不止。</p>

<h3>【蜀椒】</h3>
<p>氣溫。味辛。有毒。主邪氣咳逆。溫中。逐骨節皮膚死肌寒濕痹痛。下氣。久服頭不白。輕身增年。</p>
<p>蜀椒氣溫。稟天春暖之木氣。入足厥陰肝經。味辛有毒。得地西方酷烈之金味。入手太陰肺經。氣味俱升。陽也。其主邪氣咳逆者。氣溫入肝。可以散邪。味辛入肺降氣。可以止咳逆也。中者太陰脾也。蜀椒入肺。肺亦太陰。肺溫脾亦溫也。骨節皮膚肝肺之合也。蜀椒氣溫。可以散寒。味辛可以祛濕。所以主死肌痹痛也。肺主氣。肺溫則下降之令行。所以下氣。久服辛溫活血。發者血之餘。所以頭不白也。辛溫益陽。陽氣充盛。所以身輕增年也。</p>
<p>制　方:</p>
<p>蜀椒炒去汁。搗取紅末一斤。生地取自然汁煎至一升。和椒末丸。名椒紅丸。治元臟傷憊。同蒼朮醋糊丸。治餐泄不化。（椒目）同巴豆、菖蒲、松脂、黃蠟為梃。納耳中。一日一易。治耳聾神效。</p>

<h3>【沉香】</h3>
<p>氣微溫。味辛。無毒。療風水毒腫。去惡氣。</p>
<p>沉香氣微溫。稟天初春之木氣。入足少陽膽經、足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。沉香辛溫而香燥。入肝散風。入肺行水。所以療風水毒腫也。風水毒腫。即風毒水腫也。肺主氣。味辛入肺。而氣溫芳香。所以去惡氣也。</p>
<p>制　方:</p>
<p>沉香同人參、菖蒲、遠志、茯神、棗仁、生地、麥冬。治思慮傷心。同木香、藿香、砂仁。治中惡腹痛。辟惡氣。同蘇子、橘紅、枇杷葉、白蔻、人參、麥冬。治胸中氣逆。</p>

<h3>【烏藥】</h3>
<p>氣溫。味辛。無毒。主中惡心腹痛。蠱毒。疰忤鬼氣。宿食不消。天行疫瘴。膀胱腎間冷氣攻衝背膂。婦人血氣。小兒腹中諸蟲。</p>
<p>烏藥氣溫。稟天春暖之木氣。入足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。肺者手太陰經。主氣合皮毛而為外固者也。肺氣不虛。則外邪無從而入。正氣不傷。則外邪不能為害。心腹太陰經行之地。中惡而心腹痛。太陰正氣不能祛邪也。烏藥味辛而溫。溫能行。辛能散。所以主之。辛溫為陽。陽能破陰。故主蠱毒疰忤鬼氣也。飲食入胃。散精於肝。肝之能散。全賴辛溫之陽以行之也。烏藥辛溫助肝。所以消食。疫瘴之邪。皆因濕熱釀成。辛溫條達。可消濕熱抑塞之氣。所以主之。膀胱腎間冷氣。寒水之氣也。攻衝背膂。從陰位來而犯陽也。烏藥辛溫助陽。陽之所至。陰寒自退。且背膂太陰肺所主也。氣溫入肝。肝藏血。味辛入肺。肺主氣。辛溫走泄。所以主婦人血氣凝滯也。小兒腹中諸蟲。皆濕熱所化。辛溫則具上達下泄之性。所以能去諸蟲也。</p>
<p>制　方:</p>
<p>烏藥同人參、沉香、檳榔。各磨汁名四磨湯。治七情鬱結。上氣喘息。同沉香、人參、甘草末。名烏沉散。治一切氣。一切冷。一切痛。及中惡吐瀉轉筋。疰忤鬼氣疫瘴。</p>

<h3>【降真香】</h3>
<p>氣溫。味辛。無毒。燒之闢天行時氣。宅舍怪異。小兒帶之。辟邪惡氣。</p>
<p>降香氣溫。稟天春和之木氣。入足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。燒之能降天真氣。所以闢天行時氣。宅舍怪異也。小兒帶之能辟惡氣者。氣溫味辛。辛溫為陽。陽能辟惡也。色紅味甜者佳。</p>
<p>制　方:</p>
<p>降香同白芍、甘草、北味、丹皮、白茯、生地。治怒氣傷肝吐血。多燒能祛狐媚。為末。治刀傷血出不止。</p>

<h3>【蘇方木】</h3>
<p>氣平。味甘鹹。無毒。主破血。產後血脹悶欲死者。水煮五兩。取濃汁服。</p>
<p>蘇木氣平。稟天秋降之金氣。入手太陰肺經。味甘鹹無毒。得地中北土水之味。入足太陰脾經、足少陰腎經。氣味降多於升。陰也。味甘入脾。脾統血。味鹹走血。所以破血也。產後血脹悶。煮汁五兩服。破血之功也。</p>
<p>制　方:</p>
<p>蘇木同澤蘭、生地、人參、小便、益母、牛膝、黑豆。治產後血暈。同人參名參蘇飲。治產後氣喘。面黑欲死。</p>

<h3>【蔓荊子】</h3>
<p>氣微寒。味苦。無毒。主筋骨間。寒熱濕痹拘攣。明目堅齒。利九竅。去白蟲。久服輕身耐老。</p>
<p>蔓荊子氣微寒。稟天冬寒之水氣。入足少陰腎經、足太陽寒水膀胱經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。太陽寒水。主筋所生之病。而骨者腎之合也。蔓荊寒可清熱。苦可燥濕。濕熱攘。則寒熱退而拘攣愈矣。氣寒壯水。味苦清火。火清則目明。水壯則齒堅。齒乃腎之餘也。九竅者。耳目鼻各二。口大小便各一也。苦味清火。所以九竅皆利也。白蟲濕熱所化。苦寒入膀胱以瀉濕熱。所以去白蟲也。久服輕身者祛濕之功。耐老者壯水之力也。</p>
<p>制　方:</p>
<p>蔓荊子同甘菊、荊芥、黃芩、烏梅、芽茶、白蒺藜、川芎、黑豆、土茯苓。治偏正頭風。目將損者。</p>

<h3>【桑皮】</h3>
<p>氣寒。味甘。無毒。主傷中。五勞六極。羸瘦崩中絕脈。補虛益氣。（焙）</p>
<p>桑皮氣寒。稟天冬寒之水氣。入足少陰腎經。味甘無毒。得地中正之土味。入足太陰脾經。氣降味和。陰也。中者中州脾也。脾為陰氣之原。熱則中傷。桑皮甘寒。故主傷中。五勞者。五臟勞傷真氣也。六極者。六腑之氣虛極也。臟腑俱虛。所以肌肉削而羸瘦也。其主之者。桑皮甘以固脾氣而補不足。寒以清內熱而退火邪。邪氣退而脾陰充。脾主肌肉。自然肌肉豐而勞極愈矣。崩中者血脫也。脈者血之腑。血脫故脈絕不來也。脾統血而為陰氣之原。甘能益脾。所以主崩中絕脈也。火與元氣。勢不兩立。氣寒清火。味甘益氣。氣充火退。虛得補而氣受益矣。</p>
<p>制　方:</p>
<p>桑皮同白芍、苡仁、木瓜、白茯、陳皮、赤小豆。治水腫如神。同白芍、沙參、杞子、黃耆、甘草、北味。治虛勞。同糯米末。米飲下。治吐血咳嗽。桑皮一味。治皮水。</p>

<h3>【桑葉】</h3>
<p>氣寒。味苦甘。有小毒。主除寒熱。出汗。</p>
<p>桑葉氣寒。稟天冬寒之水氣。入足太陽寒水膀胱經。味苦甘有小毒。得地中南火土之味。而有燥濕之性。入手少陰心經、足太陰脾經。氣味降多於升。陰也。太陽者行身之表。而為一身之外藩者也。太陽本寒標熱。所以太陽病則發寒熱。桑葉入太陽。苦能清。甘能和。故除寒熱。汗者心之液。得膀胱氣化而出者也。桑葉入膀胱而有燥濕之性。所以出汗也。</p>
<p>制　方:</p>
<p>桑葉同黃耆、歸身。治血虛身熱無汗。同附子、黃耆。治裡氣虛寒。表邪末盡。同脂麻丸。名桑麻丸。治血痹。</p>

<h3>【槐花】</h3>
<p>氣平。味甘。無毒。主五痔。心痛。眼赤。殺腹臟蟲。及皮膚風熱。腸風瀉血。赤白痢。並炒研用。</p>
<p>槐花氣平。稟天秋涼之金氣。入手太陰肺經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。肺與大腸為表裡。五痔大腸之火症也。槐花味苦清心。所以主之。火鬱於心則痛。氣平能清。味苦能泄。所以主之也。眼赤。肝有實火也。實則瀉其子。味苦清心。心乃肝之子也。腹太陰經行之地。臟即大腸。肺之合也。味苦可以殺蟲。所以主之也。皮膚肺之合也。平能清風。苦能泄熱。所以主之。腸風下血。大腸火也。赤白痢。大腸濕熱也。味苦者能清。所以並炒研服也。</p>
<p>制　方:</p>
<p>槐花同荊芥。治下血。同牡蠣末。治白帶。</p>

<h3>【黃柏】</h3>
<p>氣寒。味苦。無毒。主五臟腸胃中結熱。黃疸。腸痔。止泄痢。女子漏下赤白。陰傷蝕瘡。（鹽水炒）</p>
<p>黃柏氣寒。稟天冬寒之水氣。入足少陰腎經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。五臟六腑。心為君主。心屬火。結熱。火氣結也。味苦泄熱。所以主之。黃疸。胃經濕熱之症。腸痔。大腸火結之病。泄痢。大腸濕熱之症。其主之者。黃柏入腎。腎者胃之關。大腸腎所主也。氣寒能清。味苦能燥。故治以上諸症也。漏下赤白。胎漏下血及赤白帶也。一因血熱妄行。一因濕熱下注。黃柏入腎。寒能清熱。苦可燥濕。所以主之。陰陽蝕瘡。陰戶傷蝕成瘡也。諸瘡皆屬心火。其主之者。苦寒瀉火也。</p>
<p>制　方:</p>
<p>黃柏同知母。滋陰降火。同茅朮。除濕清熱。治痿要藥。同細辛。瀉膀胱火。用蜜炙成末。煨大蒜丸。治妊娠下痢白色。同木瓜、白茯、二朮、石斛、生地。治痿。同白芍、甘草。治火熱腹痛。</p>

<h3>【山梔仁】</h3>
<p>氣寒。味苦。無毒。主五內邪氣。胃中熱氣。面赤酒疱皶鼻。白癩赤癩。瘡瘍。（炒黑用）</p>
<p>山梔氣寒。稟天冬寒之水氣。入足太陽寒水膀胱經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。五內者。五臟之內也。五臟為陰。其邪氣乃陽邪也。山梔苦寒清陽。所以主之。胃為陽明。胃中熱氣。燥熱之氣也。氣寒。稟冬寒之水氣。所以除燥熱也。心主血。其華在面。面赤色。心火盛也。苦味清心。所以主之。鼻屬肺。肺為金。金色白。心火乘肺。火色赤。故鼻紅。成酒疱皶鼻。其主之者。入心清火也。癩者麻皮風也。膀胱主表。心火鬱於膀胱寒水經。則濕熱成癩也。白者濕也。赤者火也。山梔入心與膀胱。苦寒可以燥濕熱。所以主之也。瘡瘍皆屬心火。苦寒清心。故主瘡瘍也。</p>
<p>制　方:</p>
<p>梔子同桑皮、黃芩、甘草、桔梗、五味、乾葛。治酒皶鼻。同連翹、麥冬、竹葉、燈心、川連、甘草。瀉心經有餘之火。</p>

<h3>【琥珀】</h3>
<p>氣平。味甘。無毒。主安五臟。定魂魄。殺精魅邪氣。消瘀血。通五淋。</p>
<p>琥珀氣平。稟天秋平之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。氣味降多於升。陰也。色赤專入血分。五臟藏陰者也。血有所凝。則五臟為之不安。琥珀甘平和血。故安五臟也。隨神往來者謂之魂。並精出入者謂之魄。魄陰而魂陽也。琥珀氣平入肺。肺主氣。味甘入脾。脾統血。質堅有鎮定之功。所以入肺脾而定魂魄也。魂魄定則神氣內守。而精魅邪鬼不得犯之。所以云能殺鬼魅也。氣平則通利。味甘則緩中。所以能消瘀血也。氣平入肺。肺通水道。所以治五淋。</p>
<p>制　方:</p>
<p>琥珀同乳香、沒藥、延胡索、乾漆、鱉甲為末。治產後血暈。同丹砂、滑石、竹葉、木通、麥冬。治心火小便閉。</p>

<h3>【豬苓】</h3>
<p>氣平。味甘。無毒。主痎瘧。解毒蠱疰不祥。利水道。久服輕身耐老。</p>
<p>豬苓氣平。稟天秋涼之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。氣味降多於升。陰也。其主痎瘧者。蓋主太陰嘔吐之濕瘧也。豬苓入脾肺以化氣。則濕行而瘧止也。蠱疰不祥。皆濕熱之毒。甘平滲利。所以主之。肺主氣。氣平益肺。肺氣化及州都。則水道利。所以利水。久服則味甘益脾。脾統血。血旺故耐老。氣平益肺。肺主氣。氣和故身輕也。</p>
<p>制　方:</p>
<p>豬苓同白茯、澤瀉、滑石、阿膠。名豬苓湯。治傷寒口渴。及嘔而思水。</p>

<h3>【枳實】</h3>
<p>氣寒。味苦。無毒。主大風在皮膚中如麻豆苦癢。除寒熱結。止痢。長肌肉。利五臟。益氣輕身。（麩炒）</p>
<p>枳實氣寒。稟天冬寒之水氣。入手太陽寒水膀胱經、手太陽寒水小腸經。味苦無毒。得地南方之火味。入手少陽相火三焦。氣味俱降。陰也。太陽主表。經行身表。為外藩者也。大風在皮膚中如麻豆苦癢者。皮毛患大麻風也。其主之者。枳實入太陽。苦寒清濕熱也。小腸為寒水之經。丙火之腑。寒熱結者。寒熱之邪結於小腸也。其主之者。苦以泄結也。小腸為受盛之腑。化物出焉。受物不化。則滯而成痢。枳實苦寒下泄。所以止痢。太陰脾主肌肉。乃濕土之臟也。土濕則脾困。而肌肉不生。枳實入小腸膀胱。苦寒濕熱。所以脾土燥而肌肉長也。三焦人身一大腔子也。苦寒清三焦之相火。火息則陰足。而五臟皆安也。益氣者。枳實泄滯氣。而正氣受益也。輕身者。邪去積消。則正氣流通而身輕也。</p>
<p>制　方:</p>
<p>枳實同白朮。名枳朮湯。治心下堅。水飲痞滿。同白芍。治產後腹大滿痛。同川芎、甘草。治左脅痛脹。</p>

<h3>【枳殼】</h3>
<p>氣微寒。味苦酸。無毒。主風癢麻痹。通利關節。勞氣咳嗽。背膊悶倦。散留結胸膈痰滯。逐水消脹滿。大腸風。安胃止風痛。（麩炒）</p>
<p>枳殼氣微寒。稟天初冬寒水之氣。入足太陽寒水膀胱經、手太陽寒水小腸經。味苦酸無毒。得地東南木火之味。入足少陽相火膽經、手厥陰風木心包絡經。氣味俱降。陰也。太陽經行身表。附皮毛而為衛者也。太陽為寒水。風入寒水。則風濕相搏。風癢麻痹矣。其主之者。酸可治風。苦可燥濕也。關節皆筋束之。太陽主筋所生病。苦寒清濕熱。故利關節也。勞則傷少陽之氣。於是相火刑金而咳嗽矣。枳殼味酸。可以平少陽。味苦可以瀉相火。火息木平而咳止矣。背膊。太陽經行之地。火熱鬱於太陽。則背膊悶倦。苦寒下泄。可以瀉火熱也。手厥陰經起於胸中。厥陰為相火。火炎胸中。則痰涎滯結。枳殼寒可清火。苦可以泄胸膈之痰也。入小腸膀胱而性苦寒。故可以逐水消脹滿。風為陽邪。入大腸陽經。兩陽相爍。則血熱下行。而為腸風。心包乃風木之經。代君行事而主血。枳殼清心包之火。可以平風木而治腸風。胃為燥金。味苦能燥。所以安胃。經云。胃過於苦。胃氣乃厚。益以苦能泄也。風入太陽。氣壅而痛。枳殼味苦能泄。所以止痛也。</p>
<p>制　方:</p>
<p>枳殼同人參、麥冬。治氣虛大便不快。同川芎、歸身、生地、白芍、秦艽。治腸風下血。</p>

<h3>【檳榔】</h3>
<p>氣溫。味苦辛澀。無毒。主消穀。逐水。除痰癖。殺三蟲伏屍。療寸白。</p>
<p>檳榔氣溫。稟天春升之木氣。入足厥陰肝經。味苦辛澀無毒。得地南火西金之燥味。入手少陰心經、足陽明燥金胃經、手陽明燥金大腸經。氣味降多於升。陰也。足陽明為水穀之海。氣溫則行。味辛則散。故主消穀逐水。手陽明為傳導之官。消化不盡。則水穀留滯。變成痰癖。檳榔溫辛。具消穀之才。苦泄有下降之德。所以主之也。三蟲伏屍寸白。皆濕熱所化之蟲也。辛則散。澀則燥。苦則殺蟲。故主以上諸蟲也。</p>
<p>制　方:</p>
<p>檳榔同川蓮、扁豆、蓮肉、橘紅、紅曲、白芍、烏梅、葛根、枳殼。治痢下後重。同雷丸、使君子、白蕪荑、蘆薈、肉蔻、胡黃連。治小兒疳蛔。同楝根、鶴蝨、錫灰、苡仁根、貫仲、烏梅。治一切寸白蟲。同茅朮、草果、青皮、甘草。治瘴瘧。</p>

<h3>【厚朴】</h3>
<p>氣溫。味苦。無毒。主中風傷寒頭痛。寒熱驚悸。血痹死肌。去三蟲。（薑汁炒）</p>
<p>厚朴氣溫。稟天春升之木氣。入足厥陰肝經。味苦無毒。得地南方之火味。入手少陰心經。氣味升多於降。陽也。難經云。傷寒有五。中風傷寒濕溫熱病溫病是也。中風傷寒者。中風症也。風氣通肝。肝脈與督脈會於巔。風為陽邪而傷上。所以頭痛。其主之者。厚朴入肝溫散也。寒熱驚悸者。病寒熱而驚悸也。心虛則悸。肝虛則驚。厚朴氣溫可以達肝。味苦可以清心也。肝藏血。心主血。血凝泣則成痹。苦可以泄。溫可以行。故主血痹。死肌者。亦血泣而皮毛不仁麻木也。苦泄溫行。故亦主之。三蟲濕所化也。味苦燥濕。可以殺蟲。所以去蟲也。</p>
<p>制　方:</p>
<p>厚朴同檳榔、木香、川蓮、滑石、陳皮、甘草。治痢初起。同白朮、人參、白茯、白芍。治腹脹。同生薑、陳皮、藿香、砂仁、半夏。治胃寒嘔逆。</p>

<h2>竹部</h2>

<h3>【竹葉】</h3>
<p>氣大寒。味甘平。無毒。主胸中痰熱。咳逆上氣。</p>
<p>淡竹葉氣大寒。稟天冬寒之水氣。入足少陰腎經。味甘平無毒。得地中央燥土之味。入足陽明燥金胃土。氣味俱降。陰也。足少陰之脈。其支者注胸。少陰腎。主五液。水泛成痰。痰滯胸中則熱。其主之者。寒可清也。陽明胃氣本下行。氣逆而上。則熏肺而咳。竹葉寒可清胃。甘平可以下氣也。</p>
<p>制　方:</p>
<p>竹葉同陳皮。治上氣發熱。同石膏、知母、甘草、麥冬。名竹葉石膏湯。治壯熱口渴。</p>

<h3>【竹茹】</h3>
<p>氣微寒。味甘。無毒。主嘔啘溫氣寒熱。吐血崩中。</p>
<p>竹茹氣微寒。稟天初冬寒水之氣。入足太陽寒水膀胱經。味甘無毒。得地中正之土味。入足太陰脾經。氣味降多於升。陰也。太陽者寒水經也。冬日燥熱。則太陽陰精不藏。感天燥熱之氣。至春木令則為病溫。火性炎上。故多嘔啘。病在太陽。故發寒熱。竹茹氣寒。可以祛溫火。味甘可以緩火炎。所以主之也。脾統血。血熱妄行。非吐即崩。其主之者。甘寒可以清熱也。</p>
<p>制　方:</p>
<p>竹茹同麥冬、半夏、甘草、生薑。治嘔噦。同木瓜、陳皮、麥冬、枇杷葉、人參、蘆根汁、石斛。治胃熱嘔啘。同花粉。治病後大熱搐。</p>

<h3>【竹瀝】</h3>
<p>氣大寒。味甘。無毒。療暴中風。風痹。胸中大熱。止煩悶消渴勞復。</p>
<p>竹瀝氣大寒。稟天冬寒之水氣。入足少陰腎經。味甘無毒。得地中正之土味。入足太陰脾經。氣味降多於升。陰也。暴病皆屬於火。火熾風生。以致僵仆。或偏痹不仁。竹瀝甘寒。可以清熱緩急。所以主之。胸中者。太陰脾經行之地。脾陰虛。則胸中大熱矣。甘清寒熱。所以主之。腎者水也。心者火也。水不制火。則心中煩悶而消渴矣。其主之者。甘寒可以壯水而清火也。勞復者。傷寒熱病愈後。勞碌而復熱也。其主之者。亦以甘寒能更清耳。</p>
<p>制　方:</p>
<p>竹瀝同薑汁。治中風。及小兒狂語。同生地、麥冬、花粉、石斛、蘇梗、北味。治暴中風。同桔梗、甘草、麥冬。治肺痿咳嗽。</p>

<h2>果部</h2>

<h3>【蓮子】</h3>
<p>氣平澀。味甘。無毒。主補中。養神。益氣力。除百疾。久服輕身耐老。不飢延年。（去心炒）</p>
<p>蓮子氣平澀。稟天秋收之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。以其仁也。兼入手少陰心經。氣味升多於降。陽也。脾者五臟之中也。甘平益脾。所以補中。心者神之居也。芳香清心。所以養神。脾為萬物之母。後天之本。肺主周身之氣。先天之源。甘平益脾肺。所以益氣力。心為十二官之主。主安則十二官俱安。而百病皆除也。久服輕身耐老者。益氣和血之功。不飢延年者補脾養神之力也。</p>
<p>制　方:</p>
<p>石蓮子蒸熟蜜丸。不飢清心寧神。同白茯。治遺精。同川蓮、木香、陳米。治噤口痢。同川蓮、白芍、扁豆、葛根、升麻、紅曲、甘草、滑石、烏梅丸。治痢如神。同馬豆末。治脾虛不食。</p>

<h3>【陳皮】</h3>
<p>氣溫。味苦辛。無毒。主胸中瘕熱逆氣。利水穀。久服去臭。下氣通神。</p>
<p>陳皮氣溫。稟天春升之木氣。入足厥陰肝經。味苦辛無毒。得地南西火金之味。入手少陰心經、手太陰肺經。氣味升多於降。陽也。胸中者肺之分也。肺主氣。氣常則順。氣變則滯。滯則一切有形血食痰涎。皆假滯氣而成瘕。瘕成則肺氣不降而熱生焉。陳皮辛能散。苦能泄。可以破瘕清熱也。苦辛降氣。又主逆氣。飲食入胃。散精於肝。溫辛疏散。肝能散精。水穀自下也。肺主降。苦辛下泄。則肺金行下降之令。而下焦臭濁之氣。無由上升。所以去臭而下氣也。心為君主。神明出焉。味苦清心。味辛能通。所以通神也。</p>
<p>制　方:</p>
<p>陳皮留白和中。去白消痰理氣。同術補脾。同甘草補肺。同補氣藥補氣。同破氣藥破氣。同消痰藥去痰。同消食藥化食。各從其類以為用也。同人參、首烏、桂枝、歸身、姜皮。治三日瘧寒多。同白蔻、生薑、藿香、半夏。治寒痰。同白茯、甘草、半夏。名二陳湯。治痰症。同生姜。治噦。同藿香。治霍亂吐瀉。同薑汁焙末。同棗煎。治脾瘧。去白為末。麝香調酒下。治乳癰初發。鹽湯泡。刮去白。同甘草丸。治痰涎上泛。同白朮丸。名寬中丸。治脾虛脹滿。不思飲食。</p>

<h3>【青皮】</h3>
<p>氣溫。味辛苦。無毒。主氣殢。下食。破積結。及膈氣。</p>
<p>青皮氣溫。稟天春和之木氣。入足厥陰肝經。味辛苦無毒。得地西南金火之味。入手太陰肺經、手少陰心經。氣味升多於降。陽也。其主氣殢者。味辛入肺。肺主氣。而辛溫能通也。下食者。飲食入胃。散精於肝。氣溫入肝。肝能散精。食自下也。辛能散。溫能行。積者破而結者解矣。肝主升。肺主降。升而不降。氣膈於右。降而不升。氣膈於左。溫可達肝。辛苦泄肺。則升降如而膈氣平矣。</p>
<p>制　方:</p>
<p>青皮同人參、鱉甲。治瘧母。同枳殼、肉桂、川芎。治左脅脹滿痛。</p>

<h3>【大棗】</h3>
<p>氣平。味甘。無毒。主心腹邪氣。安中養脾氣。平胃氣。通九竅。助十二經。補少氣少津液。身中不足。大驚四肢重。和百藥。久服輕身延年。</p>
<p>大棗氣平。稟天秋收之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。氣味升多於降。陽也。心腹者。太陰經行之地也。邪之所湊。其氣必虛。陰陽形氣不足者。宜調以甘藥。大棗味甘。可以調不足。故主心腹邪氣。外為陽。內為陰。陰和則中安。甘平益陰。所以安中。脾者陰氣之原也。胃者陽氣之原也。甘平益陰。故養脾氣。陰和則陽平。故平胃氣。中氣不足。則九竅不通。甘能滿中。中氣足。九竅通也。十二經者。三陰三陽也。脾胃者。陰陽之原也。大棗養脾氣。平胃氣。則十二經無不助矣。肺主氣而生津液。氣平益肺。所以主少氣少津液也。肺主一身之氣。脾統一身之血。甘平益脾肺。身中氣血和。自無不足之症矣。血氣足則神安。所以定大驚。脾主四肢。味甘益脾。脾氣充。四肢自輕。甘平解毒。故和百藥。肺氣充。脾血足。所以輕身延年也。</p>
<p>制　方:</p>
<p>大棗同小麥、甘草。名甘草小麥湯。治婦人臟燥。無故悲啼。</p>

<h3>【芡實】</h3>
<p>氣平澀。味甘。無毒。主濕痹。腰脊膝痛。補中。除暴疾。益精氣。強志。令耳目聰明。久服輕身不飢。耐老神仙。（炒）</p>
<p>芡實氣平澀。稟天秋收之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。氣味降多於升。陰也。脾為濕土而統血。濕邪傷於下。則走腰脊膝。致血泣而成痹。芡實甘平。則益脾肺。肺通水道則濕行。脾和則血活。而痹者瘳矣。中者脾也。味甘益脾。故能補中。暴疾多屬於火。得水之精者。多能抑火。芡實味甘屬土。而生於水。所以制火而主暴疾。腎藏精。肺為金而腎為水。氣平益肺。肺氣旺則生精。金生水也。味甘益脾。脾氣升。氣平益肺。肺氣降。升降如。則天清地寧。養之以剛大。而志強矣。味甘益脾。脾統血。目得血則明。耳得血則聰。故令耳目聰明也。久服氣平益肺。肺氣充則身輕。味甘益脾。脾血旺耐老不飢也。肺脾氣血充足。神仙有自來矣。</p>
<p>制　方:</p>
<p>芡實同金櫻子丸。補下元虛。同白茯、秋石、蓮肉、棗肉丸。治便數遺精。</p>

<h3>【木瓜】</h3>
<p>氣溫。味酸。無毒。主濕痹腳氣。霍亂大吐下。轉筋不止。</p>
<p>木瓜氣溫。稟天春和之木氣。味酸無毒。得地東方之木味。氣溫升達。味酸收斂。一直一曲。曲直為木。入足厥陰肝經。氣味降多於升。陰也。肝主筋。濕傷筋。筋攣則痹。木瓜溫能散濕。酸能舒筋。故主濕痹。腳氣者濕侵肝絡也。酸能滋肝。溫能散濕。故亦主之。霍亂大吐下轉筋不止者。肝屬木。木邪乘土。上吐下泄。肝主筋。筋熱短縮而為之轉也。木瓜入土以瀉木。木平筋自舒。所以主之也。</p>
<p>制　方:</p>
<p>木瓜同桑皮、大棗。治霍亂轉筋。同歸身、牛膝、石斛、續斷、白芍、陳皮。治血虛轉筋。同苡仁、白茯、白朮、五加皮、石斛、萆薢、黃柏。治腳氣。專為末。治楊梅結毒。</p>

<h3>【烏梅】</h3>
<p>氣平。味酸。無毒。主下氣。除熱。煩滿。安心。止肢體痛。偏枯不仁死肌。去青黑痣。蝕惡肉。</p>
<p>烏梅氣平。稟天秋收之金氣。入手太陰肺經。味酸無毒。得地東方之木味。入足厥陰肝經。氣味俱降。陰也。肺主氣。氣平則降。所以下氣。肝屬木。木苦火炎。逆於胸中。則熱而煩滿。烏梅味酸。能收浮熱。吸氣下行。所以止煩滿也。心者火也。木之子也。味酸氣平。能平肝木。木和心自安也。肢體屬脾。脾為土。肝木剋土則痛。味酸則斂。所以止痛。肝藏血。血枯則偏枯不仁死肌矣。味酸益肝血。血和則潤。不仁死肌愈也。去青黑痣及蝕惡肉。酸收之味。外治能消痣與肉也。</p>
<p>制　方:</p>
<p>烏梅作湯。治火炎頭痛。同豆豉、甘草、生薑、童便。治勞瘧。同川蓮丸。治赤痢。專燒灰。敷治胬肉。</p>

<h3>【枇杷葉】</h3>
<p>氣平。味苦。無毒。主卒啘不止。下氣。（火炙刷盡毛）</p>
<p>枇杷葉氣平。稟天秋收之金氣。入手太陰肺經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。暴病屬火。火炎上逆。啘而不止。啘者噦也。味苦清心火。所以主之。肺主氣。氣熱則上逆。氣平降肺氣。所以下氣也。</p>
<p>制　方:</p>
<p>枇杷葉同麥冬、五味、白芍、甘草。治卒啘不止。同蘇梗、前胡、丹皮、花粉、五味、木瓜。治氣逆不下。</p>

<h3>【龍眼肉】</h3>
<p>氣平。味甘。無毒。主五臟邪氣。安志厭食。除蠱毒。去三蟲。久服強魂聰明。輕身不老。通神明。</p>
<p>圓肉氣平。稟天秋平之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。氣味降中有升。陰也。脾者五臟之原也。邪之所湊。其氣必虛。圓肉味甘益脾。脾健運則五臟皆充。而邪氣不能容矣。腎藏志。腎者水藏也。圓肉氣平益肺。肺金生腎水。水滋而志安。味甘益脾。脾補則食自進。甘能解毒。故除蠱。三蟲濕熱所化也。氣平益肺。肺金藏也。肺益則清肅之令行。水道通。濕熱下逐。而蟲去矣。久服氣平益肺。味甘益脾。脾主一身之血。肺主一身之氣。氣足生精。而陰氣獨強。心肝腎俱滋矣。肝藏魂。肝滋血藏。故魂強而目明。腎滋水旺。則身輕而耳聰。心滋血潤。血色華面。所以不老。心靈通達。所以神明也。</p>
<p>制　方:</p>
<p>圓肉同生地、天冬、麥冬、丹參、柏仁、遠志、蓮肉、五味、茯神、人參。補心安神。</p>

<h3>【山楂子】</h3>
<p>氣冷。味酸。無毒。煮汁服。止水痢。沐頭洗身。治瘡癢。</p>
<p>山楂氣冷。稟天秋涼之金氣。入手太陰肺經。味酸無毒。得地東方之木味。入足厥陰肝經。氣味俱降。陰也。飲食入胃。散精於肝。肝不散精。則滯而成痢。山楂味酸益肝。肝能散精。則滯下行。氣冷益肺。肺氣通調。則水穀分而痢止矣。沐頭者。山楂消滯能去垢也。皮毛者肺之合也。瘡癢肺熱也。氣冷清肺。所以洗之也。</p>
<p>制　方:</p>
<p>山楂同礬紅、川蓮、紅曲。消肉積。同紅曲、麥芽、陳皮、白朮、肉果、厚朴、砂仁。消食積。同小茴丸。治疝氣。</p>

<h3>【杏仁】</h3>
<p>氣溫。味甘。有小毒。主咳逆上氣。雷鳴喉痹。下氣。產乳金瘡。寒心奔豚。（湯泡去皮尖雙仁者大毒勿用）</p>
<p>杏仁氣溫。稟天春和之木氣。入足厥陰肝經。味甘。得地中正之土味。入足太陰脾經。杏果本苦。且屬核仁而有小毒。則稟火性。入手少陰心經。氣味俱升。陽也。肺為金藏。氣上逆乘肺則咳。肺苦氣逆。急食苦以泄之。杏仁苦而下泄。所以止咳也。火結於喉。閉而不通。則為喉痹。雷鳴者。火結痰雍聲如吼也。杏仁溫能散結。苦能下泄。甘可緩急。所以主之也。杏仁味苦制肺。制則生化。則肺金下行。所以下氣。肝藏血。血溫則流行。故主產乳。血既流行。瘡口亦合。故又主金瘡也。心陽虛。則寒水之邪自下。如豚上奔衝犯心君矣。故為寒水奔豚。其主之者。杏仁稟火土之氣味。能益心陽而伐水邪也。杏本有小毒。若雙仁則失其常。所以能殺人也。</p>
<p>制　方:</p>
<p>杏仁同白芍、甘草、北味、蘇梗、百合、款冬。治火逆氣喘。專一味。消狗肉積。</p>

<h3>【桃仁】</h3>
<p>氣平。味苦甘。無毒。主瘀血。血閉癥瘕邪氣。殺小蟲。（雙仁者大毒）</p>
<p>桃仁氣平。稟天秋收之金氣。入手太陰肺經。味苦甘無毒。得地中南火土之味。入手少陰心經、足太陰脾經。氣味降多於升。陰也。心主血。脾統血。血者陰也。有形者也。周流乎一身。灌溉乎五臟者也。一有凝滯。非瘀即閉矣。至有形可徵即成症。假物成形則成瘕。蓋皆心脾不運故也。桃仁甘以和血。苦以散結。則瘀者化。閉者通。而積者消矣。桃為五木之精。能鎮闢不祥。所以主邪氣。稟火之苦味。所以殺小蟲也。</p>
<p>制　方:</p>
<p>桃仁同大黃、朴硝、甘草、桂枝。名桃仁承氣湯。治蓄血。</p>

<h1>卷四</h1>

<h2>金石部</h2>

<h3>【鐵衣】</h3>
<p>氣平。味辛甘。無毒。主風熱惡瘡瘍疽瘡。痂疥氣在皮膚中。（醋炒研）</p>
<p>鐵衣氣平。稟天秋降之金氣。入手太陰肺經。味辛甘無毒。得地金土之味。入足陽明燥金胃土。氣味降多於升。性重色黑。陰也。肝為風木。風熱瘡疽痂疥。肝火症也。氣平可以平肝。味甘可以緩熱。所以主之也。皮膚者肺之合也。氣在皮中。氣不斂也。其主之者。氣平可以斂氣也。素問用鐵落治狂。狂者肝木之症。故取金氣以制之也。</p>
<p>制　方:</p>
<p>鐵衣同白芍、甘草、丹皮、杞子、牛蒡、茯神、木瓜、遠志。治狂症。同白芍、北味、炮薑、杞子、肉桂、甘草。治小兒驚風。</p>

<h3>【丹砂】</h3>
<p>氣微寒。味甘。無毒。主身體五臟百病。養精神。安魂魄。益氣明目。殺精魅邪惡鬼。久服通神明不老。（水飛）</p>
<p>丹砂氣微寒。稟天初冬寒水之氣。入足少陰腎經。味甘無毒。得地中正之土味。入足太陰脾經。色赤而生水銀。入手少陰心經。蓋心乃火藏而藏陰者也。氣味降多於升。質重味薄。陰也。心腎者。人身之水火也。天地之用在於水火。水火安則人身天地位矣。丹砂。色赤質重可以鎮心火。氣寒可以益腎水。水升火降。心腎相交。身體五臟之病皆愈也。心者生之本。神之居也。腎者氣之源。精之處也。心腎交。則精神交相養矣。隨神往來者謂之魂。並精出入者謂之魄。精神交養。則魂魄自安。味甘益脾。脾為後天。氣者得於天。充於谷。後天納穀。所以益氣。心病多舍於肝。心火不炎。則肝血上奉。故又明目也。色赤具南方陽明之色。陽明能闢陰幽。所以殺精魅邪惡鬼也。久服通神明不老者。心之所藏者神明。久服丹砂。則心火清。火清則血充。故虛靈不昧。光彩華面也。</p>
<p>制　方:</p>
<p>丹砂一兩。同人參、茯神、甘草各二錢。山藥、馬豆各四錢。青黛、殭蠶各一錢。冰片一分丸。名安神丸。治小兒驚症。同生地、當歸、白茯、甘草、川蓮。名硃砂安神丸。安神清熱。</p>

<h3>【芒硝】</h3>
<p>氣寒。味苦。無毒。主五臟積熱。胃脹閉。滌去蓄結飲食。推陳致新。除邪氣。煉之如膏。久服輕身。</p>
<p>芒硝氣寒。稟天冬寒之水氣。入手太陽寒水小腸經。味苦無毒。得地南方之火味。入手少陽相火三焦經。氣味俱降。陰也。其主五臟積熱胃脹閉者。五藏本為臟陰之經。陰枯則燥。而火就之。則熱積於臟而陽偏盛矣。陽者胃脘之陽。陽偏盛。故胃脹而閉塞也。其主之者。芒硝入三焦。苦寒下泄。水穀之道路通。而脹者平矣。小腸為受盛之官。化物出焉之腑。小腸燥熱。則物受而不化。飲食蓄結於腸矣。芒硝入太陽。苦寒下泄。咸以軟堅。則陳者下而新者可進也。除邪氣者。苦寒治燥熱之邪氣也。煉之如膏。久服輕身者。指三焦小腸有實積者言也。蓋積去身自輕也。</p>
<p>制　方:</p>
<p>芒消同大黃、枳實、厚朴。名承氣湯。治胃實積聚。</p>

<h3>【滑石】</h3>
<p>氣寒。味甘。無毒。主身熱泄澼。女子乳難。癃閉。利小便。蕩胃中積聚寒熱。益精氣。久服輕身。耐飢長年。（水研飛）</p>
<p>滑石氣寒。稟天冬寒之水氣。入足太陽寒水膀胱經、手太陽寒水小腸經。味甘無毒。得地中正之土味。入足太陰脾經。氣味降多於升。陰也。其主身熱腸澼者。蓋太陽行身之表。為諸經主氣者也。暑傷太陽、則氣化失職。水穀不分。身熱泄利腸澼矣。滑石。甘以益氣。寒以清暑。所以主之也。其主、女子乳難者。乳汁不通也。甘寒有益脾土。脾濕行則脾血化乳也。膀胱熱則癃閉。甘寒滑滲。故主癃閉而利小便也。脾者為胃行津液者也。脾濕則困。不行胃中津液。渣穢則積聚於胃而寒熱生焉。滑石入膀胱利小便。則濕去脾健。而胃中積聚皆行矣。益精氣者。滑石入小腸。則心火有去路。火不刑金。肺金旺生水也。久服濕行脾健。所以輕身耐飢。脾為後天。脾旺谷充。自然長年也。</p>
<p>制　方:</p>
<p>滑石同甘草末。治暑邪小便閉。水飛。治濕熱惡瘡。同石膏末。大麥汁服。治女勞疸。同藿香、丁香末。治霍亂。</p>

<h3>【石膏】</h3>
<p>氣微寒。味辛。無毒。主中風寒熱。心下逆氣驚喘。口乾舌焦不能息。腹中堅痛。除邪鬼。產乳。金瘡。（煅）</p>
<p>石膏氣微寒。稟天初冬寒水之氣。入足太陽寒水膀胱經。味辛無毒。得地西方燥金之味入手太陰肺經、足陽明燥金胃、手陽明燥金大腸經。氣味降多於升。陰也。中風者。傷寒五種之一也。風為陽邪。中風病寒熱。而心下逆氣驚喘。則已傳陽明矣。陽明胃在心之下。胃氣本下行。風邪挾之上逆。乘肺則喘。聞木聲則驚。陽明火爍津液。致口乾舌焦。不能呼吸。故用石膏辛寒之味。以瀉陽明實火也。腹中大腸經行之地。大腸為燥金。燥則堅痛矣。其主之者。辛寒可以清大腸之燥火也。陽明邪實。則妄言妄見。如有神靈。若邪鬼附之。石膏辛寒清胃。胃火退而邪妄除。故云除邪鬼也。產乳者。產後乳不通也。陽明之脈。從缺盆下乳。辛寒能潤。陽明潤則乳通也。金瘡熱則皮腐。石膏氣寒。故外糝合金瘡也。</p>
<p>制　方:</p>
<p>石膏同川蓮、甘草。治發狂。同知母、甘草、粳米。名白虎湯。治陽明中風熱病。同知母、麥冬、甘草、竹葉。名竹葉石膏湯。治陽明邪熱。同防風、荊芥、細辛、白芷末。擦胃火牙痛。同銀硃末。治金瘡不合。</p>

<h3>【磁石】</h3>
<p>氣寒。味辛。無毒。主周痹風濕。肢節中痛不可持物。洗洗酸消。除大熱煩滿。及耳聾。（醋煅研）</p>
<p>磁石氣寒。稟天冬寒之水氣。入足少陰腎經。味辛無毒。得地西方之金味。入手太陰肺經。氣味降多於升。陰也。其主周痹風濕肢節中痛不可持物洗洗酸者。蓋濕流關節。痛而不可持物。濕勝筋軟也。濕而兼風。風屬木。木曰曲直。曲直作酸。洗洗痠痛。所以為風濕周痹也。磁石味辛入肺。金能平木。可以治風。肺司水道。可以行濕也。腎水藏也。水不制火。濁氣上逆。則大熱煩滿。磁石入腎。氣寒壯水。質重降濁。所以主之。腎開竅於耳。腎火上升則聾。磁石氣寒可以鎮火。所以主耳聾也。</p>
<p>制　方:</p>
<p>磁石同生地、白芍、五味、小茴、歸身、山藥。治膈症。同生地、肉桂、炮薑、五味。治龍雷火逆。同麥冬、五味、牛膝、白芍、知母、歸身、蘇梗。治大熱煩滿。及耳聾。</p>

<h3>【代赭石】</h3>
<p>氣寒。味苦。無毒。主鬼疰。賊風蠱毒。殺精物惡鬼。腸中毒邪氣。女子赤沃漏下。（火煅醋淬）</p>
<p>代赭石氣寒。稟天冬寒之水氣。入足少陰腎經。味苦無毒。得地南方之火味。入手少陰心經。氣味俱降。陰也。天地者陰陽之體。水火者陰陽之用也。腎為坎水。代赭氣寒益腎。則腎水中一陽上升。心為離火。代赭味苦益心。則心火中一陰下降。水升火降。陰陽互藏其宅。而天地位矣。故鬼疰。邪氣。精魅惡鬼。賊風毒邪。不能相干。即或有邪。亦必祛逐也。寒可清熱。苦可泄邪。所以又主蠱毒。及腹中邪毒也。腎主二便。心主血。血熱則赤沃漏下。苦寒清心。心腎相交。所以主女子赤沃漏下也。</p>
<p>制　方:</p>
<p>代赭石同旋覆花、人參、半夏、生薑、大棗、甘草。名旋覆代赭湯。治傷寒汗吐下後。心下痞硬。噫氣不除。細研。真金湯下。治小兒驚症。</p>

<h3>【紫石英】</h3>
<p>氣溫。味甘。無毒。主心腹咳逆邪氣。補不足。女子風寒在子宮。絕孕十年無子。久服溫中。輕身延年。（火煅醋淬）</p>
<p>紫石英氣溫。稟天春和之木氣。入足厥陰肝經。味甘無毒。得地中正之土味。入足太陰脾經。氣味俱升。陽也。心腹者足太陰經行之地。肺虛不能生肺。肺失下降之令。則邪氣上逆而咳矣。紫石英味甘質重。益脾土而降氣逆。所以主咳也。補不足者。氣溫補肝氣之不足。味甘補脾陰之不足也。厥陰之脈絡於陰器。則子宮亦屬肝經。肝為兩陰交盡之經。風木之腑。風寒在子宮。則肝血不藏。脾血亦不統。不能生育而孕矣。脾土之成數十。所以十年無子也。紫石英氣溫。可以散子宮之風寒。味甘可以益肝脾之血也。中者。中州脾土也。久服甘溫益脾。所以溫中。肝木條達。脾土健運。所以身輕延年也。</p>
<p>制　方:</p>
<p>紫石英同白薇、艾葉、白膠、歸身、山萸、川芎、香附。治女子絕孕無子。同龍齒、牡蠣、甘草、北味、炮姜。治小兒驚症。</p>

<h3>【赤石脂】</h3>
<p>氣大溫。味甘酸辛。無毒。主養心氣。明目益精。療腹痛腸澼下痢赤白。小便利。及癰疽瘡痔。女人崩中漏下。產難胞衣不出。久服補髓好顏色。益智不飢。輕身延年。（火煅）</p>
<p>赤石脂氣大溫。稟天春夏木火之氣。入足厥陰肝經、手厥陰心包絡經。味甘酸辛無毒。得地中東西土木金之味。入足陽明燥金胃土、手陽明燥金大腸。氣味升多於降。陽也。心包絡者臣使之官。喜樂出焉。代心君行事之府也。石脂氣味酸溫。則條暢心包絡。而心君之氣得所養矣。肝開竅於目。辛溫疏達。則肝和而目明。精者五臟陰氣之華也。甘酸之味可以益陰。所以益精而補髓也。腹者太陰經行之地。太陰為濕土。土濕而寒則痛。石脂氣溫。溫能行寒去濕。所以主之也。胃與大腸為陽明燥金。陽虛不燥。則腸澼下利。石脂溫辛收澀。故主下利及小便利。蓋澀可以固脫也。諸痛癢瘡瘍。皆屬心火。火有虛實。實火可瀉。虛火可補。心包絡代君行事。其氣味酸溫。可補心包絡之火也。肝藏血。肝血不藏。則崩中漏下產難胞衣不出矣。味甘酸可以藏肝血。氣溫可以達肝氣。所以主之也。久服補益陽明。陽明經行於面。所以好顏色。腎為慳藏而藏智。酸收益陰。所以益智。陽明胃氣充益。所以不飢而延年也。</p>
<p>制　方:</p>
<p>赤石脂同炮薑、粳米。名桃花湯。治痢下膿血。專為末酒服。治痰飲。同炮姜蒸餅丸。名桃花丸。治痢下白凍。</p>

<h2>谷菜部</h2>

<h3>【粳米】</h3>
<p>氣平。味甘苦。無毒。主益氣。止煩止泄。</p>
<p>粳米氣平。稟天秋成之金氣。入手太陰肺經。味甘苦無毒。得地中南火土之味。入足太陰脾經、手少陰心經。氣味降多於升。陰也。肺主氣。氣平益肺。所以益氣。脾為陰氣之原。脾陰充足。則五臟血脈精髓。周身皮肉筋骨。皆因之強健。自無心煩下泄之事矣。所以止煩止泄也。</p>
<p>制　方:</p>
<p>白米五合。雞屎一升。同炒焦為末。水一升頓服。治食生米成瘕。炒焦入藥。開胃下氣。</p>

<h3>【小麥】</h3>
<p>氣微寒。味甘。無毒。主除客熱。止煩渴咽燥。利小便。養肝氣。止漏血唾血。令女人易孕。小麥氣微寒。稟天冬寒之水氣。入足少陰腎經。味甘無毒。得地中正之土味。入足太陰脾經。氣味降多於升。陰也。客熱外熱也。小麥味甘而潤。潤則陰生。故除客熱。少陰之脈絡咽。水不制火。則煩渴咽乾。小麥氣寒。則壯水清火。故止煩燥。腎與膀胱為表裡。氣寒益腎。則膀胱熱退而小便利矣。腎水足則生肝木。木滋則氣平。所以養肝氣也。脾統血。血熱則妄行。下漏上吐矣。味甘益脾。氣寒清熱。所以止唾漏也。甘潤益血。女人以血為主。血足所以易孕也。</p>
<p>制　方：</p>
<p>小麥同通草。治五淋腹滿。同甘草、大棗。治女人臟燥悲啼。</p>

<h3>【馬料豆】</h3>
<p>氣平。味甘。無毒。生研塗癰腫。煮汁殺鬼毒。止痛。久服令人身重。</p>
<p>馬豆氣平。稟天秋成潤澤之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。氣味降多於升。陰也。甘平潤燥清熱。故生塗癰腫。煮汁殺鬼毒止痛也。久服。則脾土滋潤。故令人身重也。蓋土濕則重也。</p>
<p>制　方：</p>
<p>馬豆同甘草。解百毒。同首烏蒸服。黑髮烏須。同歸身蒸服。治血枯。同赤豆、綠豆。名三豆湯。治痘血熱症。</p>

<h3>【綠豆】</h3>
<p>氣寒。味甘。無毒。主丹毒。煩熱風疹。藥石發動。熱氣奔豚。生研絞汁服。亦煮食。消腫下氣。壓熱解石。用之勿去皮。令人小壅。</p>
<p>綠豆氣寒。稟天冬寒之水氣。入足少陰腎經。味甘無毒。得地中正之土味。入足太陰脾經。氣味降多於升。陰也。丹毒煩熱風疹。皆屬心火。綠豆入腎。氣寒足以清心火。味甘可以解熱毒。所以主之也。丹石之藥性熱。多服則熱毒發動。其主之者。甘寒能解熱毒也。奔豚者心病也。心受火邪而藏之於肝。肝受之而藏之於腎。腎氣上突。如豚奔沖也。其主之者。寒可清火。甘可緩突也。熱勝則腫。氣寒清熱。所以消腫。火性炎上。氣熱則炎上。氣寒清熱。所以下氣。氣寒所以壓熱。味甘所以解石毒也。皮性寒。故用之不可去皮。去皮令人小壅者。甘故也。</p>
<p>制　方：</p>
<p>綠豆同赤豆、黑豆。醋調敷痘癰。同大黃、薄荷。塗丹毒。</p>

<h3>【扁豆】</h3>
<p>氣微溫。味甘。無毒。主和中下氣。</p>
<p>扁豆氣微溫。稟天春初少陽之氣。入足少陽膽經、手少陽三焦經。味甘無毒。得地中正之土味。入足太陰脾經。氣味俱升。陽也。中者。脾胃也。扁豆氣溫入膽。膽氣生髮。則脾胃之氣宣通。所以曰和中也。味甘入脾。脾健則氣下行。所以下氣也。</p>
<p>制　方：</p>
<p>扁豆同人參、白朮、白茯、甘草、山藥、苡仁、蓮肉、桔梗、砂仁末。名參苓白朮散。治脾濕泄瀉。及小兒脾虛症。同麥冬、五味、川連、乾葛。解酒毒。</p>

<h3>【脂麻仁】</h3>
<p>氣平。味甘。無毒。主傷中虛羸。補五內。益氣力。長肌肉。填髓腦。久服輕身不老。黑色者良。（酒蒸曬）</p>
<p>脂麻氣平。稟天秋涼之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。八谷之仁。兼入手少陰心經。氣味升多於降。陽也。陰者。中之守也。傷中者。陰血傷也。肺為津液化源。脾統血。心主血。脂麻入脾肺心。甘平益血。所以主傷中也。脾主肌肉。脾燥則虛瘦。味甘潤脾。故主虛羸。內為陰。外為陽。五內。五臟之內。藏陰之所也。脂麻滋潤。故補五內。陰虛則餒。五臟既補。氣力自充。脾主肌肉。味甘潤脾。肌肉自長。髓與腦。皆陰氣所化也。甘平益陰。陰長髓腦自填。久服味甘益脾。脾血潤。故不老。氣平益肺。肺氣充。故身輕也。</p>
<p>制　方：</p>
<p>麻仁同甘菊、天冬、黃柏、生地、首烏、柏仁、桑皮、牛膝、杞子、麥冬丸。治半身不遂。</p>
<p>同茅朮丸。治脾濕。</p>

<h3>【穀芽】</h3>
<p>氣溫。味苦。無毒。主寒中下氣。除熱。</p>
<p>穀芽氣溫。稟天春生之木氣。入足厥陰肝經。味苦無毒。得地南方之火味。入手少陰心經。氣味升多於降。陽也。中者脾胃也。穀食入土。溫能散寒。故主寒中。味苦下泄。所以下氣除熱也。</p>
<p>制　方：</p>
<p>穀芽同炙草、砂仁、白朮丸。名穀神丸。啟脾進食。同山藥、白茯、白芍、白朮、陳皮。治脾虛不食。</p>

<h3>【豆豉】</h3>
<p>氣寒。味苦。無毒。主傷寒頭痛寒熱。瘴氣惡毒。煩躁滿悶。虛勞喘吸。兩腳疼冷。</p>
<p>豆豉氣寒。稟天冬寒之水氣。入足太陽寒水膀胱經、手太陽寒水小腸經。味苦無毒。得地南方之火味。入手少陰心經、手少陽相火三焦經。氣味俱降。陰也。傷寒有五。風寒濕熱溫。當其初傷太陽也。太陽經行於頭。而本寒標熱。故必頭痛寒熱。豆豉氣寒能清。味苦能泄。所以主之也。瘴氣惡毒。致煩躁滿悶。熱毒鬱於胸中。非宣劑無以除之。故用豆豉苦寒。所以湧之也。虛勞喘吸。火乘肺也。兩腳疼冷。火上而不降也。豆豉苦寒足以清火。清上則火自降。所以皆主之也。</p>
<p>制　方：</p>
<p>豆豉同蔥白。治傷寒初起。同薤白。治血利。</p>

<h3>【紅曲】</h3>
<p>氣溫。味甘。無毒。主消食活血。健脾燥胃。治赤白痢。下水穀。</p>
<p>紅曲氣溫。稟天春和之木氣。入足厥陰肝經。味甘無毒。得地中正之土味。入足太陰脾經。氣味俱升。陽也。主消食者。飲食入胃散精於肝。肝散之。然後脾消之。紅曲入脾肝。氣溫達肝。肝疏暢。則脾亦健運也。肝藏血。脾統血。血溫則活也。人之水穀入胃。中焦濕熱熏蒸。遊溢精氣。日化為經。是為營血。紅曲以白飯蒸罨成紅色。與營血有同氣相求之理。能生血而健脾。脾健則為胃行其津液而胃燥矣。治赤白痢者。以有活血消食之功也。下水穀者。氣溫達肝。味甘益脾之力也。</p>
<p>制　方：</p>
<p>紅曲同白朮、甘草。治吐逆。同滑石、甘草末。治暑痢。</p>

<h3>【神麯】</h3>
<p>氣溫。味辛甘。無毒。主化水穀宿食。癥結積聚。健脾暖胃。（炒黃）</p>
<p>神麯氣溫。稟天春升之木氣。入足厥陰肝經。味辛甘無毒。得地中西土金之味。入足陽明燥金胃土。氣味俱升。陽也。飲食入胃。散精於肝。肝不散精。則水穀宿積矣。積之既久。則有形可徵者結於內。神麯氣溫散肝。肝氣疏散。則宿者銷而積者化也。肝氣既疏暢。則脾土自健。陽者胃脘之陽。辛溫益陽。所以又暖胃也。</p>
<p>制　方：</p>
<p>神麯同茅朮丸。健脾燥濕。專炒研末。酒服二錢。能回乳。</p>

<h3>【醋】</h3>
<p>氣溫。味酸。無毒。主消癰腫。散水氣。殺邪毒。</p>
<p>醋氣溫。稟天春和之木氣。入足少陽膽經。味酸無毒。得地東方之木味。入足厥陰肝經。氣味降多於升。陰也。肝藏血。少陽為相火。火逆血壅。則生癰腫。味酸收斂。氣溫行血。故外敷消癰腫也。水畏土克。味酸斂木。木斂土伸。所以散水氣也。邪毒多屬發物。味酸收斂。所以殺邪毒也。</p>
<p>制　方：</p>
<p>醋同半夏、雞蛋黃。治少陰病咽中生瘡。同黃耆、白芍、桂枝。治黃汗。火炭沃醋。治產婦昏暈。</p>

<h3>【酒】</h3>
<p>氣大熱。味苦辛甘。有毒。主行藥勢。殺百邪惡毒氣。</p>
<p>酒氣大熱。稟天純陽之氣。入手少陽相火三焦經。味苦辛甘有毒。得地火金土之味。燥烈之性。入足陽明燥金胃土、手陽明燥金大腸經。氣味升多於降。陽也。純陽之性。走而不守。故行藥勢。氣熱助陽。味辛甘則發散。所以殺百邪惡毒氣也。</p>
<p>制　方：</p>
<p>酒浸淫羊藿。治腰痛。浸牡荊子。治耳聾。</p>

<h3>【飴糖】</h3>
<p>氣大溫。味甘。無毒。主補虛乏。止渴。去血。</p>
<p>飴糖氣大溫。稟天春和之木氣。入足厥陰肝經。味甘無毒。得地中正之土味。入足太陰脾經。氣味俱升。陽也。肝者生生之臟。生氣生血之經也。脾者後天之本。萬物之母也。飴糖氣溫達肝。肝氣升。則陽氣充。味甘益脾。脾血潤則陰氣盛。所以主虛乏也。味甘益脾。脾陰足則渴止。氣溫溫肝。肝藏血。血溫則瘀者行。所以去血也。</p>
<p>制　方：</p>
<p>飴同白芍、甘草、桂枝、生薑、大棗。名建中湯。治肝脾血不足。同川椒、炮薑、人參。名大建中湯。治腹痛不可觸。</p>

<h3>【乾薑】</h3>
<p>氣溫。味辛。無毒。主胸滿咳逆上氣。溫中。止血出汗。逐風濕痹。腸澼下痢。生者尤良。（炮）</p>
<p>乾薑氣溫。稟天春升之木氣。入足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。炮灰色黑。入足少陰腎經。氣味俱升。陽也。胸中者肺之分也。肺寒則金失下降之性。氣壅於胸而滿也。滿則氣上。所以咳逆上氣之症生焉。其主之者辛散溫行也。中者脾與胃也。脾胃為土。土賴火生。炮姜入腎助火。火在下謂之少火。少火生氣。氣充則中自溫也。血隨氣行。氣逆火動。則血上溢。炮姜入腎。腎溫則浮逆之火氣皆下。火平氣降。其血自止矣。出汗者。辛溫能發散也。逐風濕痹者。辛溫能散風濕而通血閉也。腸澼下痢。大腸之症。蓋大腸寒則下痢腥穢。肺與大腸為表裡。辛溫溫肺。故大腸亦溫而下痢止也。生者其性尤烈。所以尤良。</p>
<p>制　方：</p>
<p>炮姜同北味。斂火下行。同人參。溫中益氣。同生地、白芍、牛膝、歸身。治產後發熱。同人參、陳皮。治胃虛嘔逆。同陳皮、白朮、貝母、白茯。治痰瘧。同人參、白朮、桂枝、陳皮。治寒瘧。同人參、白朮、甘草。名理中湯。治虛寒泄瀉。</p>

<h3>【生薑】</h3>
<p>氣微溫。味辛。無毒。久服。去臭氣。通神明。</p>
<p>生薑氣微溫。稟天初春之木氣。入足少陽膽經、足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。臭氣。陰濁之氣也。久服辛溫益陽。陽能去陰。所以去臭氣也。神者陽之靈也。明者陽之光也。辛溫為陽。久服陽勝。所以通神明也。</p>
<p>制　方：</p>
<p>生薑取自然汁曬粉。同甘草、半夏、陳皮、白茯為末。治中焦濕鬱之痰。</p>

<h3>【荊芥】</h3>
<p>氣溫。味辛。無毒。主寒熱鼠瘻瘰癧生瘡。破積聚氣。下瘀血。除濕疽。荊芥氣溫。稟天春升之木氣。入足少陽膽經、足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。少陽膽經。行半表半裡。邪客之則往來寒熱。荊芥辛溫。和解少陽。所以主之。鼠瘻瘰癧生瘡。皆少陽火鬱之症。荊芥辛以達風木之氣。溫以發相火之郁。鬱火散而風寧。諸症平矣。飲食入胃。散精於肝。肝不散精。氣聚而積聚成矣。荊芥入肝。溫能行氣。所以主之。肝藏血。血隨氣行。肝氣滯。則血亦滯而瘀焉。溫可行氣。辛可破血。故下瘀血也。肺者通調水道之官也。水道不通。則濕熱成疽。荊芥辛能潤肺。肺治則水道通。所以除濕疽也。</p>
<p>制　方：</p>
<p>荊芥同童便。治產後衄血。同槐花。治大便下血。同生地。治疥瘡。荊芥穗末。酒服二錢。治中風口噤。兼治產後風噤迷悶。</p>

<h3>【薄荷】</h3>
<p>氣溫。味辛。無毒。主賊風傷寒發汗。惡氣心腹脹滿。霍亂。宿食不消。下氣。煮汁服。亦堪生食。</p>
<p>薄荷氣溫。稟天春升之木氣。入足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。傷寒有五。中風傷寒濕溫熱病溫病是也。賊風傷寒者中風也。風傷於衛。所以宜辛溫之味以發汗也。惡氣心腹脹滿。蓋脹之惡氣必從肝而來。薄荷入肝。溫能行。辛能散。則惡氣消而脹滿平也。太陰不治。則揮霍擾亂。薄荷辛潤肺。肺氣調而霍亂愈矣。飲食入胃。散精於肝。肝不散精。則食不消。薄荷入肝辛散。宿食自消也。肺主氣。薄荷味辛潤肺。肺潤則行下降之令。所以又能下氣也。以氣味芳香。故堪生食也。</p>
<p>制　方：</p>
<p>薄荷同漆葉、苦參、何首烏、麻仁、荊芥、生地、蒺藜、蒼朮、菖蒲。治大麻風。專為末。蜜丸。治風熱上壅。</p>

<h3>【香薷】</h3>
<p>氣微溫。味辛。無毒。主霍亂。腹痛吐下。散水腫。</p>
<p>香薷氣微溫。稟天初春之木氣。入足少陽膽經。味辛無毒。得地西方燥金之味。入手太陰肺經、手陽明大腸經。氣味俱升。陽也。夏月濕熱之氣。鬱於太陰陽明。則揮霍擾亂而腹痛吐瀉矣。其主之者。溫能行氣。辛可解濕熱也。肺者相傳之官。主通調水道。下輸膀胱。香薷味辛潤肺。所以主散水腫也。</p>
<p>制　方：</p>
<p>香薷同人參、白朮、木瓜、白茯、白芍、陳皮、車前。治水腫。同白朮丸。治水腫。以小便利為效。</p>

<h3>【紫蘇】</h3>
<p>氣溫。味辛。無毒。主下氣。除寒中。其子尤良。</p>
<p>紫蘇氣溫。稟天春和之木氣。入足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。肺主氣而屬金。金寒則不能行下降之令。紫蘇辛溫溫肺。肺溫則下降。所以下氣。脾為中州太陰經也。肺亦太陰。肺溫則脾寒亦除。故除寒中也。其（子）尤良。下降之性辛溫氣味尤甚也。其（梗）本乎地者親下。下氣尤速。</p>
<p>制方:</p>
<p>紫蘇同陳皮。治感寒上氣。同人參。治虛咳上氣。蘇子同良薑、廣皮丸。治風濕腳氣。同粳米。治上氣咳逆。</p>

<h3>【蔥白】</h3>
<p>氣平。味辛。無毒。作湯。治傷寒寒熱。中風面目浮腫。能出汗。</p>
<p>蔥白氣平。稟天秋涼之金氣。入手太陰肺經。味辛無毒。得地西方燥金之味。入足陽明燥金胃經。氣味升多於降。陽也。太陽寒水經。為人身外藩者也。寒水虛。則外邪傷。病名傷寒。傷寒有五。風寒濕熱溫也。當初傷太陽。太陽為病。必發寒熱。故可從表散之。蔥白入肺。肺合皮毛。味辛可散。所以主傷寒。寒熱表邪也。風為陽邪。陽邪傷上。風勝則浮腫。辛平可以散風。所以主之。氣平入肺。肺合皮毛。味辛發散。則胃氣充而穀精化汗。故能出汗也。</p>
<p>制　方：</p>
<p>蔥白同生姜。治傷寒頭痛。同人參。治脫陽危症。炒熨小腹。治小便閉脹。搗敷金瘡出血。</p>

<h3>【薤白】</h3>
<p>氣溫。味辛苦滑。無毒。主金瘡瘡敗。輕身不飢耐老。</p>
<p>薤白氣溫。稟天春和之木氣。入足厥陰肝經。味辛苦滑無毒。得地西南金火之味。而有潤澤之性。入手太陰肺經、手少陰心經。氣味升多於降。陽也。金瘡氣虛。則瘡口不合。氣溫可以益氣。所以主瘡敗也。氣溫達肝。肝氣條暢。則氣血日生。所以輕身。溫暖脾土。土健所以不飢。味辛潤血。血華所以耐老也。</p>
<p>制　方：</p>
<p>薤白同瓜蔞、白酒。治胸痹心背痛。同瓜蔞、白酒、半夏。治胸痹不臥。心痛徹背。同枳實、桂枝、厚朴、瓜蔞。治胸痹胸滿。脅下逆搶心。</p>

<h3>【白芥子】</h3>
<p>氣溫。味辛。無毒。發汗。主胸膈痰冷。上氣。面目黃赤。醋研敷射工毒。</p>
<p>芥子氣溫。稟天春升之木氣。入足厥陰肝經。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。味辛入肺。肺合皮毛。辛溫發散。所以發汗。胸者肺之分也。膈者肝之分也。白芥子辛溫疏散。所以入肝肺之分而消痰冷也。肺主氣。氣溫則下行。所以主上氣也。面目黃赤。肝乘脾也。氣溫達肝。肝不乘脾。黃赤自退也。醋研主射工毒。亦辛溫條達之功效也。</p>
<p>制　方：</p>
<p>白芥子同白朮。棗肉丸。治胸膈痰飲。同甘遂、大戟、蠍尾、巴霜、辰砂丸。名控涎丹。治痰迷心竅。</p>

<h2>禽獸部</h2>

<h3>【五靈脂】</h3>
<p>氣溫。味甘。無毒。主療心腹冷氣。小兒五疳。闢疫。治腸風。通利氣脈。女子月閉。（酒研）</p>
<p>五靈脂氣溫。稟天春和之木氣。入足厥陰肝經。味甘無毒。得地中正之土味。入足太陰脾經。氣味俱升。陽也。心腹者。太陰厥陰經行之地也。寒則冷氣凝矣。其主之者。氣溫可以祛寒也。氣溫可以暢肝。味甘可以益脾。小兒疳雖有五。皆由肝氣滯脾氣虛而成。所以概主五疳也。味甘能和。所以闢疫。久風入中。乃為腸風。氣溫達肝。肝主風而藏血。故治腸風。溫則通行。故利氣脈。脾統血。肝藏血。血溫則行。故主月閉也。</p>
<p>制　方：</p>
<p>五靈脂同澤蘭、牛膝、益母、延胡、丹皮、紅花、赤芍、山楂、生地。治惡露未盡。同降香、紅曲、通草、紅花、延胡、韭菜、童便。治胃脘瘀血痛。同木香、烏藥。治血氣刺痛。專用生熟各半為末。治暈不知人事。</p>

<h3>【龍骨】</h3>
<p>氣平味甘。無毒。主心腹鬼疰。精物老魅。咳逆。泄痢膿血。女子漏下。癥瘕堅結。小兒熱氣驚癇。（煅）</p>
<p>龍骨氣平。稟天秋收之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。龍為東方之神。鱗蟲之長。神靈之骨。入足厥陰肝經。氣味降多於升。陰也。心腹太陰經行之地也。太陰脾氣上升。則肺氣下降。位一身之天地。而一切鬼疰精魅不能犯之矣。龍骨氣平益肺。肺平則下降。味甘益脾。脾和則上升。升降如。而天地位焉。所以祛鬼疰精物老魅也。咳逆者肝火炎上而乘肺也。泄痢膿血清氣下陷也。女子漏下肝血不藏也。龍骨。味甘可以緩肝火。氣溫可以達清氣。甘平可以藏肝血也。脾統血。癥瘕堅結。脾血不運而凝結也。氣溫能行。可以散結也。小兒熱氣驚癇。心火盛。舍肝而驚癇也。驚者平之。龍骨氣平。所以可平驚也。</p>
<p>制　方：</p>
<p>龍骨同牡蠣、白芍、甘草、桂枝、生薑、大棗。治夢遺。同遠志、硃砂丸。治勞心夢遺。同韭子。治泄精。同白石脂。治泄瀉。同牛黃、犀角、鉤藤、丹砂、生地、茯神、琥珀、金箔、天竹黃、竹瀝。治大人癲症。小兒驚癇。</p>

<h3>【鹿茸】</h3>
<p>氣溫。味甘。無毒。主漏下惡血。寒熱驚癇。益氣強志。生齒不老。</p>
<p>鹿茸氣溫。稟天春升之木氣。入足厥陰肝經。味甘無毒。得地中正之土味。入足太陰脾經。氣味俱升。陽也。肝藏血。脾統血。肝血不藏。則脾血不統。漏下惡血矣。鹿茸氣溫可以達肝。味甘可以扶脾。所以主之也。寒熱驚癇者。驚癇而發寒熱也。蓋肝為將軍之官。肝血虛。則肝氣亢。挾濁火上逆或驚或癇矣。鹿茸。味甘可以養血。氣溫可以導火。所以止驚癇之寒熱也。益氣者。氣溫則益陽氣。味甘則益陰氣也。甘溫有益陰陽之氣。氣得剛大而志強矣。鹿茸。骨屬也。齒者骨之餘也。甘溫之味主生長。所以生齒。真氣充足。氣血滋盛。所以不老也。</p>
<p>制　方：</p>
<p>鹿茸同牛膝、杜仲、地黃、山茱萸、補骨、巴戟、山藥、蓯蓉、菟絲。治腰痛陰痿。同白膠、陽起石、蓯蓉、棗仁、柏仁、黃耆、熟地、丹砂丸。名斑龍丸。治諸虛。專用浸酒。治陽事虛痿。同菟絲、小茴、羊腎丸。治腰痛不能轉側。</p>

<h3>【白膠】</h3>
<p>氣平。味甘。無毒。主傷中勞絕。腰痛羸瘦。補中益氣。婦人血閉無子。止痛安胎。久服輕身延年。</p>
<p>白膠氣平。稟天秋收之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。氣味降多於升。質滋味厚。陰也。中者脾土也。傷中勞絕者。脾虛之人而作勞以傷真氣。脾為陰氣之源。源枯而陰絕也。其主之者。味甘益脾陰也。腰痛羸瘦者。脾為陰氣之源。而外合人身之肌肉。脾陰虛。則腎陰亦虛。故腰痛而肌肉瘦削也。其主之者。味甘可以補脾。氣平可以益肺滋腎也。補中者補脾中氣也。益氣者。肺主氣。氣平可以益肺也。脾統血。女人血閉無子。脾血不統也。味甘益脾陰。所以主之。脾血少。則燥而痛矣。味甘養血。所以止痛。血足則胎安。故又安胎也。久服輕身延年者。白膠氣平益肺。肺主氣。氣足則身輕。味甘益脾。脾統血。血足。則谷納而延年也。</p>
<p>制　方：</p>
<p>白膠同牛膝、丹皮、麥冬、生地、白芍、歸身、鬱金、續斷、小便。治勞傷吐血。同山茱萸、杞子、鹿茸、生地、麥冬、杜仲、補骨、山藥、車前、五味、巴戟、蓮鬚、歸身、紫石英。治女人血閉無子。</p>

<h3>【阿膠】</h3>
<p>氣平。味甘。無毒。主心腹內崩勞極。洒洒如瘧狀。腰腹痛四肢痠疼。女子下血。安胎。久服輕身益氣。</p>
<p>阿膠氣平。稟天秋收之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。氣味降多於升。色黑質潤。陰也。心腹者。太陰經行之地也。內崩勞極者。脾血不統。內崩而勞極也。陰者中之守。陰虛則內氣餒。而洒洒惡寒如瘧狀也。其主之者。味甘可以益脾陰也。腰腹皆藏陰之處。陰虛則空痛。阿膠色黑益陰。所以止痛。四肢脾主之。痠疼者血不養筋也。味甘益脾。脾統血。四肢之疼自止。女子下血。脾血不統也。味甘以統脾血。血自止也。安胎者亦養血之功也。久服輕身益氣者。氣平益肺。肺主氣。氣充則身輕也。</p>
<p>制　方：</p>
<p>阿膠同杜仲、杞子、白芍、山藥、生地、人參、黃耆、續斷。治崩中漏下。同白芍、炙草、麥冬、生地、白膠、歸身、杞子、杜仲、續斷。治婦人胎漏下血。同川蓮、黃芩、白芍、雞子黃。名黃蓮阿膠湯。治少陰病。心煩不臥。同蒲黃、生地。治吐血衄血。同黃連、白茯丸。治下痢赤白。</p>

<h3>【羚羊角】</h3>
<p>氣寒。味鹹。無毒。主明目。益氣。起陰。去惡血注下。闢蠱毒。惡水不祥。常不魘寐。</p>
<p>羚羊角氣寒。稟天冬寒之水氣。入足少陰腎經。味鹹無毒。得地北方之水味。入足太陽寒水膀胱經。氣味俱降。陰也。膀胱經起於目內眥。氣寒可以清火。火清則水足而目明矣。益氣者。鹹寒益腎氣之不足也。起陰者鹹寒益腎。腎足則宗筋強也。味鹹則破血。氣寒則清熱。故主惡血注下也。蠱毒。濕熱之毒也。鹹寒可清濕熱。所以主之。羚羊性靈通神。故辟惡鬼不祥。鹹寒益腎。腎水足。則精明。所以常不魘寐也。</p>
<p>制　方：</p>
<p>羚羊角同犀角、丹砂、牛黃、琥珀、天竺黃、金箔、茯神、遠志、竹瀝、鉤藤。治癲狂。同杞子、甘菊、穀精、生地、五味、女貞子、黃柏。治肝熱目翳。</p>

<h3>【犀角】</h3>
<p>氣寒。味苦酸鹹。無毒。主百毒蟲疰。邪鬼瘴氣。殺鉤吻鴆羽蛇毒。除邪。不迷惑魘寐。久服輕身。</p>
<p>犀角氣寒。稟天冬寒之水氣。入足少陰腎經。味苦酸鹹無毒。得地東南北木火水之味。入手少陰心經、手厥陰風木心包絡經、手太陽寒水小腸經。氣味俱降。陰也。百毒之性皆熱。蟲疰亦濕熱而成。其主之者。苦寒可以清熱散毒也。氣寒壯腎水。味苦清心火。火降水升。心腎相交。一身之天地位矣。所以能除邪殺鬼。不迷惑魘寐也。氣寒味苦。行天地肅殺之令。所以闢瘴解鉤吻鴆羽蛇毒也。久服輕身者。心腎交則陰陽和。心神清則百脈理。所以身輕也。</p>
<p>制　方：</p>
<p>犀角同丹砂、琥珀、金箔、天竺黃、牛黃、鉤藤、羚羊角、珠麝。治風熱驚癇。同生地、紅花、麥冬、紫草、白芍、牛蒡。治血熱痘病。同鬱金、小便、生地、麥冬、甘草、白芍。治吐血衄血。</p>

<h3>【虎骨】</h3>
<p>氣微熱。味辛。無毒。主邪惡氣。殺鬼疰毒。止驚悸。治惡瘡。鼠瘻。頭骨尤良。（酥炙）</p>
<p>虎骨氣微熱。稟天初夏之火氣。入足少陽相火膽、手少陽相火三焦經。西方之神。味辛無毒。得地西方之金味。入手太陰肺經。氣味俱升。陽也。其除邪惡氣者。味辛入肺。肺主氣。氣肅則一切邪惡皆除也。鬼疰之毒。陰惡之毒也。虎骨氣味辛熱。入三焦而通達。所以殺鬼疰也。膽虛則驚悸。辛熱溫膽。故止驚悸。惡瘡風毒之瘡。虎為西方金獸。虎嘯風生。金能制木也。風毒屬木。所以主之。鼠瘻。少陽膽與三焦之毒。所以主之者。亦以味辛制風木之毒也。頭骨氣厚。所以尤良也。</p>
<p>制　方：</p>
<p>虎骨同牛膝、木瓜、生地、山藥、山茱萸、黃柏、杞子、麥冬、五味。治痿弱不能步履。同萆薢、獨活、防己、茅朮、牛膝、何首烏、苡仁、木瓜。治偏痹不仁。同歸身、白芍、炙草、續斷、牛膝、白膠、生地、麥冬。治白虎痛風。同龍骨、遠志末。名預知散。治驚悸。久服令人聰慧。同羚羊角、白芍浸酒。治臂痛。</p>

<h2>蟲魚部</h2>

<h3>【石蜜】</h3>
<p>氣平。味甘。無毒。主心腹邪氣。諸驚癇痙。安五臟諸不足。益氣補中。止痛。解毒。除眾病。和百藥。久服強志輕身。不飢不老。延年神仙。（火煉）</p>
<p>石蜜氣平。稟天秋收之金氣。入手太陰肺經。味甘無毒。得地中正之土味。入足太陰脾經。氣味升多於降。陽也。心腹太陰經行之地也。氣味甘平。故主邪氣。諸驚癇痙。肝熱而氣逆也。驚者平之。癇痙者緩之。甘平之味。平之緩之也。甘為土化。土乃萬物之母。五臟諸不足。補之以甘也。真氣者得於天。充於谷。甘味益脾。脾和則谷納。所以益氣補中也。蜜乃採百花釀成。而得至甘之正味。所以止痛解毒。除眾病。和百藥也。久服氣平益肺。肺主氣。味甘益脾。脾統血。血氣和調。所養剛大。所以強志輕身。不飢不老。延年神仙也。</p>
<p>制　方</p>
<p>蜜同蘆根汁、梨汁、人乳、牛乳、童便、竹瀝。治膈噎。煉熟。和諸丸藥膏子。塗火灼瘡。煉硬。加皂角末作挺。納便道中。治大便硬結。</p>

<h3>【烏賊魚骨】</h3>
<p>氣微溫。味鹹。無毒。主女子赤白漏下。經汁血閉。陰蝕腫痛。寒熱症瘕。無子。（煅）</p>
<p>烏賊魚骨氣微溫。稟天春和之木氣。入足厥陰肝經。味鹹無毒。得地北方之水味。入足少陰腎經。氣味升多於降。陽也。女子以血為主。肝為藏血之臟。肝血不藏。則赤白漏下。其主之者。氣溫以達之也。肝藏血。血枯則血閉。其主之者。味鹹以通之也。腎為藏精之臟。主陰戶隱曲之地。肝為厥陰。其經絡陰器。其筋結陰器。二經濕濁下注。則陰蝕腫痛。其主之者。氣溫可以燥濕。味鹹可以消腫也。寒熱症瘕者。癥瘕而發寒熱也。烏賊骨。咸可軟堅。溫可散寒熱也。男子腎虛。則精竭無子。女子肝傷。則血枯無子。鹹溫入肝腎。通血益精。令人有子也。</p>
<p>制　方：</p>
<p>烏賊魚骨同蘆茹雀卵丸。治肝傷血枯。同橘紅末。寒食麵丸。治骨鯁。同蒲黃末。治舌腫出血不止。同北味、杞子、淫羊藿、歸身丸。久服令人多子。</p>

<h3>【鱉甲】</h3>
<p>氣平。味鹹。無毒。主心腹癥瘕。堅積寒熱。去痞疾息肉。陰蝕痔核惡肉。（醋炙）</p>
<p>鱉甲氣平。稟天秋收之金氣。入手太陰肺經。味鹹無毒。得地北方之水味。入足少陰腎經。氣味俱降。陰也。心腹者。厥陰肝經。經行之地也。積而有形可徵謂之症。假物而成者謂之瘕。堅硬之積。致發寒熱。厥陰肝氣凝聚。十分亢矣。鱉甲氣平入肺。肺平可以制肝。味鹹可以軟堅。所以主之也。痞者肝氣滯也。鹹平能制肝而軟堅。故亦主之。息肉陰蝕痔惡肉一生於鼻。鼻者肺之竅也。一生於二便。二便腎之竅也。入肺腎而軟堅。所以消一切惡肉也。</p>
<p>制　方：</p>
<p>鱉甲同牛膝、當歸、陳皮、首烏、知母、麥冬。治久瘧。同知母、石膏、麥冬、貝母、竹葉。治溫瘧。同青蒿、麥冬、五味、生地、杞子、牛膝。治骨蒸勞。</p>

<h3>【龜甲】</h3>
<p>氣平。味甘。有毒。主漏下赤白。破癥瘕。痎瘧。五痔陰蝕。濕痹。四肢重弱。小兒囟不合。久服輕身不飢。</p>
<p>龜甲氣平。稟天秋收之金氣。入手太陰肺。味甘。得地中正之土味。入足太陰脾。北方之神。介蟲之長。性復有毒。稟陰寒之性。入足少陰腎經。氣味降多於升。陰也。脾統血。脾血不統。則漏下赤白。其主之者。味甘益脾也。瘧而至於有癥瘕。濕熱之邪。已痼結陰分矣。龜甲陰寒可以清熱。氣平可以利濕。所以主之也。火結大腸。則生五痔。濕濁下注。則患陰蝕。肺合大腸。腎主陰戶。性寒可去熱。氣平可消濕。所以主之也。脾主四肢。濕勝則重弱。龜甲味甘益脾。性平去濕。濕行。四肢健也。腎主骨。小兒腎虛。則囟骨不合。其主之者。補腎陰也。久服益腎。腎者胃之關。關門利。能去脾濕。所以身輕不飢也。</p>
<p>制　方：</p>
<p>龜甲同熟地、黃柏、知母、豬脊髓丸。名補陰丸。治陰虛相火熾。同發、川芎、歸身。治難產。及短小女子交骨不開。</p>

<h3>【牡蠣】</h3>
<p>氣平微寒。味鹹。無毒。主傷寒。寒熱。溫瘧洒洒。驚恚怒氣。除拘緩鼠瘻。女子帶下赤白。久服強骨節。殺邪鬼。延年。（鹽泥固煅）</p>
<p>牡蠣氣平微寒。稟天秋冬金水之氣。入手太陰肺經、足太陽寒水膀胱經。味鹹無毒。得地北方之水味。入足少陰腎經。氣味俱降。陰也。冬不藏精。水枯火旺。至春木火交熾。發為傷寒熱病。病在太陽寒水。所以寒熱。其主之者。鹹寒之味入太陽。壯水清火也。夏傷於暑。但熱不寒。名為溫瘧。溫瘧陰虛。陰者中之守。守虛所以洒洒然也。其主之者。鹹寒可以消暑熱。氣平入肺。肺平足以制瘧邪也。肝虛則驚。肝實則恚怒。驚者平之。恚怒降之。氣平則降。蓋金能制木也。味鹹足以軟堅。平寒可除拘緩。故主鼠瘻。濕熱下注於腎。女子則病帶下。氣平而寒。可清濕熱。所以主之。久服強骨節。鹹平益肺腎之功也。殺邪鬼。氣寒清肅熱邪之力也。能延年者。固澀精氣之全功也。</p>
<p>制　方：</p>
<p>牡蠣同龍骨、桂枝、白芍、甘草、薑、棗。治夢泄。　同黃耆、麻黃根。治盜汗。同元參、甘草丸。治瘰癧。</p>
<p>煅研。米醋搜成團。再煅研。以米醋調艾末熬膏丸。醋湯下。治月水不止。</p>

<h2>人部</h2>

<h3>【人乳】</h3>
<p>氣平。味甘鹹。無毒。主補五臟。令人肥白悅澤。</p>
<p>人乳氣平。稟天秋金之平氣。入手太陰肺經。味甘鹹無毒。得地中北土水之味。入足太陰脾經、足少陰腎經。氣味降多於升。陰也。肺主一身之氣。脾統一身之血。腎藏一身之精。人乳本血所化。入脾肺腎三經。補益精氣血。所以五臟皆益。而令人肥白悅澤也。</p>
<p>制　方：</p>
<p>人乳同梨汁。名接命丹。治氣血衰弱。同牛膝、杜仲、補骨脂、白茯、牛乳、當歸丸。名太乙神應丸。治虛損。</p>

<h3>【小便】</h3>
<p>氣寒。味鹹。無毒。療寒熱頭痛溫氣。童男者尤良。</p>
<p>小便氣寒。稟天冬寒之水氣。入足太陽寒水膀胱經。味鹹無毒。得地北方之水味。入足少陰腎經。氣味俱降。陰也。太陽膀胱經。起於目內眥。上額交巔行身之表。而為外藩者也。感天燥火之溫氣。入寒水之經。則寒熱頭痛矣。小便鹹寒下降。所以可清燥火之邪也。童男者穢氣少。故尤良也。</p>
<p>制　方：</p>
<p>小便同白芍、甘草、丹皮、白茯、山茱萸、北味。治吐血不止。　同人參、附子、肉桂。治陰盛格陽。　同豆豉。治頭痛至極。</p>

<h3>【紫河車】</h3>
<p>氣溫。味甘鹹。無毒。主血氣羸瘦。婦人勞損。面䵟皮黑。腹內諸病。漸瘦瘁者以五味和之。如䭔𩚲法與食之。勿令知。</p>
<p>紫河車氣溫。稟天春生之木氣。入足厥陰肝經。味甘鹹無毒。得地中北土水之味。入足太陰脾經、足少陰腎經。氣味升多於降。陽也。脾者統血之臟。腎者藏氣之經。肝者生生之臟。以生氣血之經。甘鹹益脾腎。氣溫暢肝氣。所以主血氣羸瘦也。婦人以血為主。勞傷五臟。則損其真陰。陰虛血枯。血不華面。面䵟皮黑。河車味厚益陰。所以主之也。腹者陰也。腹內諸病。陰分虧也。陰主質。所以形漸瘦也。陰虛補之以味。所以用五味和之也。勿令病人知者。恐知之而惡其穢也。</p>
<p>制　方：</p>
<p>河車同人參、黃耆、鹿茸、白膠、當歸、補骨、五味、巴戟天。治真陽虛損。　同敗龜板、黃柏、杜仲、牛膝、生地、砂仁、白茯、天冬、麥冬、人參、五味丸。名大造丸。治男女虛勞骨蒸。</p>

<h1>附余</h1>
<p>凡生養補救之術。率肇端隆古。而歷代聖哲以漸修明。如炎帝味百草。軒皇究息脈。流傳舊矣。然無確據。今素問。子程子謂出周秦之際。蓋非誣矣。嘗草遇毒。本淮南子。王安道亦嘗著論非之。舊有本草經三卷。自弘景以下各增益。宋馬志等合併。凡屬最初。白字別之。吾家升庵好奇。謂白字本草。乃神農之舊也。或謂上世未立文字。但師學相承。謂之本草。漢季張機華佗輩。始附以新說。由是見於經錄。此為近是。蓋雖簡古可喜。而多過其實。又好言神仙不老。固漢魏人習氣然也。歷宋元明。編纂益眾。嘉隆間。楚人瀕湖李時珍。撰綱目五十二卷。載藥千八百七十一種。時稱大備。願讀者難之。多約略擷採。各為小帙。然毛膚略具而義蘊缺如。今姚先生學易草廬本。則更貴精而不貴多。於諸品。準時定位。分五行以配臟腑。藥與疾相應之。故源委莫不了焉。其闡義。若金在熔。其立言。如珠就貫。易奇而法。所由來矣。於斯道。信精義入神者。朝議。醫必先明理。明理在於讀書。殆是之謂矣。其及門悅田王君。偶過吾六。尊聞行知。湯液所投。應如影響。遠齋公子。與之遊而善之。謂是書雖便誦習。然傳抄難免脫誤。慨付開雕。公諸寓內。洵不朽盛事也。僕前者借觀。隨考證數條。略及音訓。今並附載。庶便初學。他日先生見之。當復一莞爾。謂是猶劑之有佐使也夫。古六城南種竹人楊友敬希洛氏題時午月望日也。</p>

<h2>考證</h2>

<h3>術</h3>
<p>本經不分蒼白。功用正同。宋元以來始分用。謂白朮苦甘氣和。補中焦。除脾胃濕。用以止汗。蒼朮苦辛氣烈。能上行。除上濕。發汗功大。白朮歙產者勝。陳壁土炒。蒼朮茅山者良。糯泔浸焙也。</p>

<h3>山藥</h3>
<p>本經名薯蕷。其改稱山藥。避唐代宗宋英宗御名也。唐本草云。蜀道者良。今惟重懷慶產。然六地此種實佳。有自河北來者。云在彼煮服。尚不逮六產也。里有窶人生兒乏乳。困瘁已甚。或教糜山藥飼之。始終此一物。竟得長成。且肥白無疾。勝他兒。則本草稱補虛羸。信有證矣。綱目云。入藥宜野生者。今六圃產煮熟去皮。色白微碧而堅實。山中有自生者更勝。然但充果菜。若依法修治入藥。應不在懷慶下耳。綱目列菜部。</p>

<h3>葳蕤</h3>
<p>本經主中風暴熱。不能動搖。跌筋結肉諸不足。久服去面黑䵟。好顏色。潤澤。輕身不老。解要主別錄也。綱目云。治諸不足。用代參耆。不寒不燥。大有殊功。解要內同漆葉方。即華佗漆葉青黏散。青黏世無能識。或云黃精之正葉者。或云即葳蕤也。然吾鄉有兩老儒。先後服此方皆致殞。或云漆葉乃五茄皮葉。本經名豺漆也。里有兵子臂痛不能挽弓。或教用葳蕤一斤五加皮四兩浸酒飲。盡一卣。健旺勝常。豈古方正爾。綱目殆誤附漆樹下耶。漆本有毒。本經久服輕身。即抱朴子云通神長生。皆難信。綱目謂因貨漆人雜桐油。故多毒。亦非。有割漆人誤覆漆。遍體瘡至莫救。向在中山親見。況服食乎。弘景雲。生漆毒烈是也。古無用葉者。故氣味缺。綱目殆因古方。臆立主治耳。</p>

<h3>芍藥</h3>
<p>本經不分赤白。東垣云。赤者利小便下氣。白者止痛散氣血。俗云。白補赤瀉。綱目云。白芍益脾。能於土中瀉木。赤芍散邪。能行血中之滯。產後氣血已虛。不可更瀉。故禁用。非僅以其酸寒也。日華子謂主女人一切病。並及產後用宜酒炒。愚意不若勿用為穩。</p>

<h3>石斛</h3>
<p>名醫別錄稱生六安山谷。蘇頌謂廣南者佳。綱目謂蜀中者勝。今真石斛乾者色正黃。形如蚱蜢髀。所謂金釵石斛也。其生者高不及寸。極似矮小瓦松。叢生連根。種之磁盤。亦堪愛玩。然六境罕有。產英邑深山中。峭壁千尋。可望而不可即。採者自巔頂縋巨絙而下及山腰。用器極力搜剔。令紛紛墜落。始就澗谷檢取。亦至危險矣。且每斤幹才數兩。故採者絕少。今地誌誤為合肥方物。好事者間向徵求。李虛舟大令云。境無崇山。何由得此。每用為笑。近友人歸自粵西。偶及三七。云彼地亦甚貴。以上官熬膏。需索無厭也。取之銖錙。用之土苴。吾鄉玉面金芽。尤物非幸。其不及此。猶喜未有讀本草者耳。</p>

<h3>菖蒲</h3>
<p>石菖蒲。陶隱居謂一寸九節者良。葉有脊如劍者真。其相類而葉無脊者蘭蓀也。又云。露根不可用。李瀕湖謂菖類有五。惟生水石間。葉有劍脊。瘦根密節。高尺余者。乃石菖蒲。移植盆盎以為觀玩。愈剪愈細也。凡用。泔浸。飯上蒸。借穀氣尤佳。今六之西南諸山溪石上多有。且一寸不啻九節。移植亦極易生。但露根甚多。採者未必能審擇矣。</p>

<h3>蒺藜</h3>
<p>綱目稱刺蒺藜。子有三角。所在有之。治風明目。其白蒺藜生同州沙苑。子光細微綠。補腎治腰痛云。今人稱刺者為白蒺藜。其關中產。但稱沙苑蒺藜。解要白蒺藜。即綱目刺蒺藜也。吾鄉昔一老儒偶病目。服此乃大下不已。反致雙瞽。用者審之。</p>

<h3>羌活</h3>
<p>即獨活。一物二種。本經不分。後人乃別用。謂羌活氣清屬陽。善行氣分。入足太陽。獨活氣濁屬陰。善行血分。入足少陰。至逐風勝濕。透關利節。功用正同。羌活理遊風。獨活理伏風。但真氣不足者忌之。懼虛虛也。羌活色紫。獨活色黃。蘇肆多以老宿前胡及土當歸充獨活。宜辨之。</p>

<h3>蒿本</h3>
<p>方云同木香。治霧露清邪中於上焦。清去聲。寒也。本張潔古。其同白芷作面脂。取祛風濕。非僅香澤已也。</p>

<h3>益母草子</h3>
<p>根莖花葉俱入藥。濟陰返魂丹及益母膏皆全用也。綱目謂胎產諸疾。並用為良。又謂根莖花葉專於行。而子則行中有補。此解要所以獨有取於花子也歟。</p>

<h3>貝母</h3>
<p>一名莔。讀萌。詩採莔。取能散心胸鬱結也。本草稱治乳難。蓋乳病多由鬱結。故相宜。又唐時有病人面瘡者。用貝母愈。正曼倩酒澆怪哉。取散郁蠲忿意也。蘇子容謂類金瘡。故宜貝母。豈其然乎。</p>

<h3>天麻</h3>
<p>本經主殺鬼精物。治蠱毒惡氣。久服益氣力。長陰肥健。解要所主。乃開寶也。</p>

<h3>車前</h3>
<p>方云末服治暴泄。昔歐陽公得暴下。國醫不能治。夫人買市人藥一帖進之愈。乃車前子為末。米飲服二錢匕。蓋車前子利水道而不動氣。水道利則清濁分而谷藏自止矣。理甚精。</p>

<h3>澤瀉</h3>
<p>綱目稱其行水瀉腎。仲景地黃丸用茯苓澤瀉者。取其瀉膀胱之邪氣。古人用補藥必兼瀉邪。邪去則補藥得力。後世不知此理。一意用補。故久服有偏勝之患。是澤瀉但長於利水。未可專任。扁鵲云。多服病人眼。蓋小便利。腎氣虛。故昏目也。本草久服云云。揚之太過。用者審之。</p>

<h3>枳殼</h3>
<p>開寶首云風痹淋痹。下云大脅風。綱目諸刻皆同。惟湯液本作風癢麻痹。下作大腸風。蓋以枳殼勝濕化痰。疏泄肺與大腸之氣也。解要因之。愚意當是風痹淋閉。大脅痛。原誤二字。故不可解。淋閉多鬱熱。脅痛多氣逆。淋閉者清陽不升則濁陰不降。殼主高主氣。用以理上。患自除矣。氣逆刺痛。亦皆近上。脅言大者。別於下之季脅也。散留結乃統言。胸膈痰滯其一耳。蓋用實治下主血。用殼治高主氣。潔古東垣皆如此。非臆說也。</p>

<h3>竹葉</h3>
<p>竹類極繁。本草陶蘇二家云。入藥宜䈽竹淡竹。又謂甘竹似篁而茂。即淡竹也。六地多竹。此所指似俗呼水黃連者。余庭前舊植數十竿。鄰近每採用。今醫家好言淡竹葉。傖父謬以鴨跖草當之。本草草部另載淡竹葉云。苗高數寸。似竹米落地所生。甘寒無毒。葉去煩熱。利小便清心。今六之西山有一種草。高不盈尺。莖中空有節。葉亦全肖竹而稍薄。生叢棘間。凌冬不凋。僅一痘醫識之云。其師江右人也。指授此為真淡竹。用之已數十年。嘗貽余合他藥浸酒。未知是否。湯液本草。竹淡竹俱載木部。於淡竹引日華子並用根莖。所主痰熱驚癇等症也。按詩綠竹。鄭箋綠為王芻。竹為篇竹。郭璞云。篇亦作扁。似小藜。陸璣云。綠竹乃一草。高數尺。可磨治器物。俗呼木賊。以上皆指草。惟班彪志云。淇園殷紂竹箭園也。朱子云。淇上多竹。漢世猶然。此則實指今竹。蓋竹即多種難辨。又有草木混之。故迄無定論。記此質諸博雅君子。</p>

<h3>蓮子</h3>
<p>稱石蓮子。以秋深沉水。堅黑如石得名。綱目載別有石蓮子。狀如土石而味苦。不知何物也。</p>

<h3>大棗</h3>
<p>即北地曬乾赤棗。肉厚多脂。宜用入藥。其蒸熟色黑。是為膠棗。亦有用者。至南棗以糖蜜拌蒸。更甘而潤。食多損脾動濕熱。未堪用也。棗仁陳久者彌良。</p>

<h3>龍眼</h3>
<p>本草主治云。安志厭食。厭平聲。飽也。綱目稱其開胃益脾。補虛長智。即安志厭食之謂也。</p>

<h3>杏仁</h3>
<p>綱目云。氣溫味甘苦冷利。冷利者其性也。凡用。湯浸去皮尖。麩炒黃。然治風寒肺病。有連皮尖用者。取其發散也。桃仁行血。宜連皮尖生用。若潤燥活血。則宜湯浸去皮尖炒黃用也。</p>

<h3>鐵衣</h3>
<p>本經名鐵落。主風熱惡瘡瘍。疽瘡。痂疥氣在皮膚中。痂說文訓干瘍。疥有甲。故曰疥。皆外乾燥。邪郁皮膚。痛癢不可耐。金以制木。木平則邪熱自清。故主之。千金方用治小兒丹毒。亦此意也。煎汁服。亦治水腫。蓋借鐵氣以制肝木。使不能剋土。土不受邪。水自消矣。愈後仍斷鹽。以鹽性濡潤。恐致復病也。</p>

<h3>芒硝</h3>
<p>綱目依本經。朴硝硝石並列。而以芒硝屬硝石。謂硝有水火二種。形質雖同。性氣迥別。朴硝即水硝。經煎煉。有細芒者為芒硝。如馬牙者為牙硝。氣寒而味鹹。硝石即火硝。經煎煉。亦有芒牙二種。氣大溫而味辛苦。自唐宋以來。所用芒硝牙硝。皆水硝也。信然。則氣溫味辛之火硝。既不復用。不必以性寒常用之芒硝另屬硝石。且稱硝石為火硝矣。湯液本草載朴硝盆硝硝石。於朴硝稱氣溫。盆硝硝石稱氣寒。又云。硝石者其總名。不經火者為生硝朴硝。經火者為盆硝苦硝。其餘諸家。皆稱樸芒一物。而有精粗之別。固是。但今藥肆朴硝。一名皮硝。工以治皮。煉淨則名芒硝。併入藥用。正是水硝。產河南睢州。其火硝得火即然。一名焰硝。產壽春。今禁私販。重火器也。至本經硝石。氣味主治。與朴硝無大異。正蘇頌所稱。又有生硝。亦出蜀地。不因煮煉。類朴硝而小堅。則硝石殆自然銅之比。未易多致。且既有芒硝可用。亦不更求耳。綱目辨論紛紜。惜未盡一。宋惠民和劑。有碧雪方。治諸熱病。內朴硝芒硝馬牙硝硝石並用。皆水硝也。業歧黃者。於此等處。亦宜研竅。未容姑置。</p>

<h3>代赭石</h3>
<p>方稱研末。真金湯下。治小兒驚症。綱目載一兒瀉後。眼上。三日不乳。將危。有名醫曰。慢驚也。宜治肝。水飛代赭石末。每用半錢。冬瓜仁煎湯調下。果愈。考冬瓜仁研末服。補肝明目。故用煎湯。此更簡易。附記便用。</p>

<h3>粳米</h3>
<p>粳同秔。稻黏者為糯。不黏者粳。入藥。晚粳良。其早熟者為秈。綱目另列。雲氣溫。主溫中除濕。先秋登場。江淮間於糯之外。統名為秈。不復稱粳。於此種早秈。謂之白稻。以其米色獨白。本草列稻粳秈三種。稻即糯。蓋專稱糯為稻也。</p>

<h3>神麯</h3>
<p>紅曲　神麯出藥性本草。用白麵合藥汁。取配六神。於諸神聚會日作之。故名紅曲。出丹溪補遺。用粳米造。以入酢醢。鮮紅可愛。二曲製法。俱載綱目。</p>

<h3>生薑</h3>
<p>舊附乾薑下。綱目始分出另列。且云。食姜久。積熱患目。病痔人多食兼酒立發。癰瘡人多食則生惡肉。是皆昔人所未及。所謂好而知其惡者此也。</p>

<h3>乾薑</h3>
<p>造法。以老薑水浸三日去皮。置流水中六日。更刮皮淨。然後曬乾。置瓷缸中。釀三日乃成。以白淨結實者為良。又名白姜。綱目言孕婦不可食。恐使胎內消。以其性熱而辛散也。入藥宜炮黑。本經云。生者尤良。蓋指上文濕痢諸病。東垣云。生則逐寒邪而發表。炮則除胃冷而守中是也。六地產姜。藥肆所貨。或連皮略曬。尚帶泥沙。正綱目生薑後附載乾生薑者。湯液本草於生薑稱氣溫味辛。氣味俱輕陽也。謂姜屑比之乾薑則不熱。比之生薑則不濕。姜屑即乾生薑也。於乾薑稱氣熱味大辛。味薄氣厚。陽中之陽也。姜附四逆理中等湯用之。則不獨生薑乾薑有別。即乾薑乾生薑。未可概施明矣。</p>

<h3>白膠</h3>
<p>即鹿角膠。藥性本草謂白膠一名黃明膠。非是。黃明膠乃牛皮膠也。</p>

<h3>阿膠</h3>
<p>一名傳致膠。本經阿膠。煮牛皮為之。今世惟重烏驢皮。療風勝諸膠。必用烏者。取色屬水以制熱則生風之義。貴阿井者。以濟水所注清而重。其性趨下。故治淤濁及逆上之痰。糯米粉炒成珠用。然真者難得。或依法汲鹹苦井水。自造用可也。並造白膠法。俱詳綱目。</p>

<h3>石蜜</h3>
<p>即蜂蜜。以生山石中。色白如膏者良。今用河南白蜜。蓋採梨花釀成。殊勝他產。綱目果部別載石蜜。即今冰糖也。</p>

<h3>紫河車</h3>
<p>古之本草。不分部類。於人僅用發皮。海藏湯液。旁附人尿。亦不立人部。蓋藥本人胞。重在人也。用之及人。且列人部。失則已甚。人胞創自陳氏拾遺。綱目雖收而未以為是。引崔行功只言治人之虛失癆瘵偶用之。崔行功云。炮炙入藥。令兒慘夭。於心何忍。瀕湖又言吳燮山大造丸用此。然諸藥皆平補。內即無人胞。亦可服餌。今吳門郭氏論此方。謂如陰虛精涸。水不制火。發為咳嗽吐血。骨蒸盜汗等症。屬陽盛陰虛。服此耗將竭之陰。為患非細。夫病未甚不必服。病既甚又不宜服。則後之纂述者於此藥此方俱逸之可也。</p>

<h3>附考</h3>
<p>藥性本草　宋掌禹錫謂藥性論四卷。多與本草戾。未知何人撰。綱目云。即藥性本草。甄權著也。甄權當唐太宗時。年一百二歲。帝臨訪藥性。因上此書。按唐書權本傳。貞觀中權已百歲。太宗幸其舍。視飲食。訪逮其術。擢朝散大夫。尋卒。年一百三歲。所撰脈經針方明堂等圖。傳於時。其弟立言亦精醫。藝文志載甄權脈經一卷。針經鈔三卷。針方一卷。明堂人形圖一卷。甄立言本草音義七卷。又本草藥性三卷。古今錄驗方五十卷。則藥性屬立言。然多一卷。恐並非立言本。綱目實指甄權。未穩。不若但稱藥性本草也。</p>
<p>卷帙次第　古本但列上中下三品。不分部類。自後各家編次不同。綱目先水火土金石。解要曰草。曰木曰苞。木。曰金石。曰人。曰獸。曰魚蟲。曰果。曰菜谷。今改編先草木。藥之本也。次竹。竹說文以草名之。其實非草非木。自為一種。解要依綱目稱苞木。不若竟稱竹部。次果實。蓋不離乎草木。次金石。古本草首金石。固藥所重也。次谷菜禽獸蟲魚。強半日用所需。兼屬已疾。人則依綱目最後。綱目謂由賤至貴。愚意藥物已多。必欲近取諸身。以其餘焉者可。今姑仍舊。且去紫河車。進人中黃。稱近余附載。庶幾穩當也。</p>

<h2>音訓</h2>

<h3>諸藥</h3>
<p>藥有五形。（金木水火土即五行）五氣。（香臭臊腥膻）五色。（青赤黃白黑）五味。（酸苦甘辛鹹）五性。（寒熱溫涼平）五用。（升降浮沉中）凡使用。別陰陽補瀉。酌君臣佐使。不待言矣。凡作湯液。用水各別。火欲緩。恆令小沸。利湯欲生。補湯欲熱。凡用諸香諸角丹砂芒硝蒲黃阿膠等。須另研。俟湯熟去柤。納入和服。加酒亦然。凡服藥。疾在胸膈以上者。食後服。在心腹以下者。食先服。在四肢血脈者。宜空服而在旦。在骨髓者。宜飽滿而在夜。凡云等分者。多寡相等。云方寸匕者。匕匙也。匙挑藥末。不落為度。正方一寸也。刀圭者。寸匕十之一也。一錢匕。匕大如錢者。五匕。將五銖錢取藥。僅當五字不落。蓋一錢之半。又云一字是也。一撮者。四刀圭也。</p>
<p>茲於解要內藥。及制方同用之藥。宜音釋者。並列之。</p>
<p>何首烏同諸藥治血痢。內有草石蠶（見本草綱目菜部。即甘露了。氣平。主除風破血。和五臟。虫部另有石蠶。生溪澗石上。一名石蠹。氣寒。主五癃石淋。除熱解結。石部又有石蠶。生海岸。狀如蠶。其實石也。氣熱。主石淋血結。治金瘡。三者世皆罕用也。）葳蕤（音威蕊。）紫菀（宛郁二音。別有白菀。）秦艽（音交。以根作羅紋相交結者良。故名。）柴胡（柴舊作茈。茈別音紫。在此自讀柴也。）硝（入水即消。又能消化諸物。故名。俗作硝。）山楂（俗作查。）牡荊子（即黃荊。與葉如杏之蔓荊異。）飴（音移。米糖也。）餳（徐盈切。即飴也。）香薷（音殊。此讀柔。本作茅。）茹蘆（音如閭。茜草也。）凡使黃柏地黃忌鐵器（二味。腎經藥也。錢仲陽曰。腎有補而無瀉。又曰。虛者補其母。實者瀉其子。腎乃陰中之少陰為涵養真元之水臟。忌鐵。蓋防伐木瀉肝。恐子能令母虛也。）贗品宜辨　龍骨（古礦灰充。）麝（荔核攙。）輕粉（石膏攙。）藿香（茄葉攙。）黃精（萊菔攙。）鬱金（黃姜充。）防己（木通充。）款冬（枇杷蕊充。）阿膠（廣膠入蕎麥麵充。）麒麟竭（松脂攙。）龍腦香（番硝攙。）肉蓯蓉（鹽松梢充。）虎骨（驢脛充。）元胡索（小半夏煮黃充。）草豆蔻（草仁充。）南木香（西芎充。）鍾乳（醋煮令白。）細辛（水漬使直。）當歸（酒灑取潤。）枸杞（蜜拌令甜。）琥珀（舊用雞子魚魫偽造。令更能吸芥。或云楓脂為之本具黏性也。）人參（贗品不止薺尼。近有首尾真參。中插土參。曾被欺。咀試味帶苦辣也。）此外未易枚舉。宜細察之。方免因誤致損也。</p>

<h3>諸症</h3>
<p>無病服藥。如壁里添柱。蓋藥性各偏。周禮醫師掌醫政。令聚毒藥以共醫事是也。信如節嗜好。慎寒暑。夫復何患。谷茗果蔬。盡堪頤養。參朮雖良。亦姑舍是。否則六淫之邪。乘虛而入。疾乃未免。而藥始奏功。仲景於傷寒著一百一十三方。於雜病著金匱要略廿有二門。備矣。今葉先生於二書。闡微辨惑。別開生面。稱南陽經解。又有刪補慎齋遺書。誠滄溟之慈航。中宵之寶炬。學者熟讀而精思之。庶臨症瞭如。而無昧於施治也。今姑要所及諸症。音釋以便讀者。</p>
<p>瘻（音漏。）痹（音秘。詳素問痹論。靈樞周痹篇。周痹。遍身痛也。俗作痹誤。痹音脾。雌鶉也。）痙（擎上聲。風強病。俗作痓誤。痓音熾。惡也。）疸（音旦。黃病。症有五。）痿（音威。實痹虛痿。痹宜行氣勝濕。痿宜清燥滋陰。）尰（同瘇。足腫也。）攣（音鸞。手足拘曲。）末疾（末。四肢也。風淫末疾。見左傳。）瘰癧（音裸歷。筋結病。）怔忡（音徵沖。）癥瘕（音徵加。下焦之疾。見於臍下。婦人多有之。別有症字音止。亦腸病。）三蟲伏屍（解要但云濕熱所化。理甚正。）瘍（陽音。）疝瘕（疝音訕。陰病。此音異。心痛曰疝。女子多此疾。）衄咯（音朒各。）躄（音碧。一足廢曰跛。兩足廢曰躄。）疰（注音。）噦（淵入聲。有聲無物。氣逆病也。）鶩溏（上音木。即鴨溏。）夢寤魘寐（寐息也。寐覺而有言曰寐。謂夢而寤魘於寐也。蓋火起於下而痰閉於上。心血虧而神失守。非真有異物作祟也。）痰飲（痰有六。濕熱風寒食氣。飲有五。支留伏溢懸。皆生於濕。然金匱但稱飲有四。痰懸溢支。姚注。謂留飲即痰飲也。支飲不得息。支者如果在枝。旁而不正。其人喘滿冒眩。有礙呼吸。故云不得息也。）瘛瘲（音熾縱。即搐搦也。音竹諾。）㿗（同㿉。音頹。）澼（音僻。即下利也。）癃（音隆。小水不利也。）皮水風水（脾虛不能制水故也。詳金匱。）血泣（泣同澀。）䘌（音匿。食肛小蟲。）疱皶（音炮租。酒赤鼻也。）啘（音抉。）沃（音屋。水從上溜下曰沃。）殢（音膩。滯也。）䵟（同皯。音干。面上黑氣。）癘（本音例。又言賴。即癩字。）</p>
