<header data-type="book">
<h1>腳氣治法總要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>董汲</dd></div>
<div><dt>朝代</dt><dd>北宋</dd></div>
<div><dt>年份</dt><dd><data value="1093">公元1093年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·腳氣治法總要》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0022/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>原序</h1>
<p>昔孫思邈著書，至其敘百病必先中風，敘中風必先入腳氣，豈無意哉！蓋以為風者百病之長，而卑濕蒸郁之氣中人也尤重，則聖人為治先後之次，明示後人，後學者俞當致詳且慎焉。然中風方論，古人立說尤詳，至於四方之治、食藥之宜，無不備悉。而腳氣一門。雖古今概舉其略，而治法論方多有未備，故人罕窮究是疾。至於江淮卑濕之地，相去遼遠，人或有所不識，故疾雖重於中風而患頗稀、是以古人為說不詳，而未學治療亦多致失誤，可不痛哉！恭自本朝開攘最遠，一統天下，屬以承平日久，故食物無南北之異，道途無久遠之期，或因宦遊，或自客泛，故內地感此者近日為多。汲自少小病此約十餘年，遂博採素問、九靈、靈樞、甲乙、太素、巢元、千金、外臺、聖惠、小品、刪繁、金匱、玉函、諸家本草及蘇恭方論、前古脈書，凡古有是說者，無不究極。而臟腑之論、針艾之法、脈證之辨、飲食之宜、四時之要、導引之術，以至淋煠蒸熨、備急要方或經試驗者，悉錄而集之，名曰《腳氣治法總要》，分為一十九門，通為一卷。非敢自謂有補於將來。亦欲傳諸好事者，庶幾臨病有所證採焉。</p>
<p><u>董汲序</u></p>

<h1>卷上</h1>
<p>汲嘗考諸經腳氣之疾，其來久矣。在黃帝時，名為厥；兩漢之間，多為緩風；宋齊之後，謂為腳弱；至於大唐始名腳氣。其號雖殊，其實一也。</p>
<p>厥病之由，雖皆凝風毒濕氣，中於肝、腎、脾經，其脈起於足十指，且風毒之氣出於地，寒暑風濕，皆作蒸氣，足常履之，故內傳經絡，因成腫痛、攣弱，乃名腳氣。然感疾之由，若在夏月久坐立於濕地，則濕熱之氣蒸入經絡，病則發熱、四肢疼悶；若在冬月久坐立於濕地，則冷濕之氣上入經絡，病則轉筋、百體酷冷；若當風取涼得之，病則皮內頑痹、諸處蠕動，漸漸向頭面，此三者尤宜辨之。但後學不能深察，即妄為治療，輕者變重，重者難治，可不慎哉！</p>
<p>其既得之後，或虛、或實、或冷、或熱，皆由素稟。故腳氣之候，有輕、有重，有干、有濕，有陰、有陽，有實、有虛。乾者，風毒在絡，膝、腿致或瘦、或痛、或攣、或緩弱不遂，喘渴、頭痛、大小便閉，或頑痹不仁；濕者，濕毒在經，腿腫，皮肉紫白，裂破作瘡，內自膿壞，大便或泄、或秘、或為便癰，煩躁不欲飲食；陰者，風毒在臟，惡明好靜，即身冷、足厥筋攣或小腹不仁；陽者，風毒在腑，病發即身脛熱，筋脈抽痛，為緩縱不收，寒熱頭痛，喜嗔叫，好明處，氣促，精神昏憒者，因常服補、暖藥，壅秘而生，故為寒熱、喘滿、喜妄、誤語、壯熱、頭痛；虛者，嗜欲無節，榮衛空虛，骨髓枯竭，復不餌補藥，身體酷冷，兩脛痠痛，膝冷轉筋，不能行動，喘促，此其候之不同也。</p>
<p>若論其脈，則唐·蘇恭嘗謂有三脈：緩為輕，沉為次，洪數為下。大概沉緊者為難治，洪數者易治，緩者不療自瘥。若療之違法，雖輕亦重；療之得理，雖重亦輕。大抵脈順四時者生，違四時者難治，蓋脈沉緊，為邪入里傷痹也，故重沉；洪數者，陽有餘，與風厥相應，故易治；緩者，邪氣微，故自瘥。又孫思邈之論，亦云：脈有三品。內外證候相似，但脈有異：若脈浮大而緩，宜服續命湯，若素風盛以越婢湯；若脈浮而緊，轉駛而作竹瀝湯；若脈微而弱，宜風引湯，此脈多是陰虛而得之，若大虛短氣，宜間作補湯，隨病冷熱而用之。</p>
<p>然古人治此有門：大率風多而濕少，即服風引、續命、越婢之類；濕多而風少，即宜獨活寄生湯、薏苡湯之類。若一概用藥，則難奇效，全當消息之。至如江淮、嶺南、秦川，四時氣候隨異，如此人久在江淮及嶺南宦客，風毒在臟腑，或歸秦中腳氣發動，亦依江淮、嶺南法為治。蓋秦川地原高亢，春夏縱經霖霪，少有蒸濕，所以禾黍五穀受氣不同，水菜魚肉食飲全異。其地卑濕者，則蒸熱相仍，利於燥藥；土地高亢者，側時宜汗利。又如諸方腳氣，本以腎虛，或者用藥補益，十未有全其一二者，蓋雖由腎虛，因感風濕，故邪氣益盛，盛則雖虛而實，反將峻補，故壅氣生喘滿。《千金》云：腹脹非瀉不愈者，正謂是也。又《素問》：腳氣之人，只壯以秋冬。良由陽內而陰外，無蒸疾之氣。故有風毒之人，須准四時服食，即無發動。故春夏宜汗、利，秋冬乘疾小歇，宜以諸藥小滋補之，則氣平而不作。今之醫者，只以家傳之學，不能深究其理，但一向補益，或只疏下，蓋不得中道也。若在冬月，須當隨人盛衰，微有滋補。若不然，則致使血氣日衰，必使年年遇蒸熱而作，此理之然也。</p>
<p>昔人有云：腳氣有腎虛而生。或者以婦人不主於腎，便謂無此疾者，非也。蓋婦人雖不專主於腎，而必因血海虛，乘宿塊、嗔恚、感激、悲傷，遂成此疾。兼今婦人病此者甚眾，則知婦人以血海虛而得之，與男子腎虛類矣。凡治婦人之法，與男子用藥故無有異，但兼以治憂恚藥無不效也。</p>
<p>汲昔熙寧年，因行大雪中，為寒濕冷氣相乘，遂成茲疾。十年之間，凡七、八發動，每發至劇，而證候差異，一旬之內，變候不等。因深思其源，博求古方，採摘要法，累試神方，不敢私隱，傳而錄之。</p>
<p>腳氣發動，大抵雖同，然三分論之，一分有異，當依法循證，治之乃瘥。其同者，手足厥、緩弱、頑痹不仁、腫痛，或瘡。小愈之後，仍宜依四季法服食，無不效者。若夫痿厥不能動者，比此為微，但只以諸腳氣法治之，指期可效。謹依四時之宜、方藥之法，其名錄之於後。</p>
<p>論曰：古之太醫，往往因自病或親屬有疾，故究心積慮，遂為高醫。良由日見變候，斟酌冷熱、虛實，悉所經歷。則唐·孫真人、甄權、蘇恭、深師道人之類，皆其人也。諺曰：「千聞不如一見」，此之謂也。今具實經病腳氣人已嘗試用得效方，別為一門，所貴臨時有可依據也。</p>
<p>論曰：人有久蓄積氣，因感風毒，成疾之後；或一向補益，不經汗、利，即使風毒成實，因致秘積，壯熱、喘滿、腳腫赤痛、大小便秘、喜妄誤語者，是其候也。宜紫氣、紅雪、防風湯、神功丸、角犀飲。如小便澀，即服絳宮丸、白皮小豆散治之。</p>
<p>論曰：陽氣衰於下，則為寒厥。其人足脛寒，筋攣急，脛酸，膝冷痛或頑痹不仁，惡明好靜，此其候也。宜以石南丸、金牙酒、側子酒、八味丸、海桐皮散、木香飲子、松節散，及灸風市穴即愈。</p>
<p>論曰：人有稟賦氣虛，及興居不節；或謂腳氣不可滋補，冬月略不小補，但服疏瀉藥過度，使臟虛而兩腳削，身體酷冷、少力，膝冷、轉筋攣緊而重者，是其候也。宜風引湯、八味木瓜丸、石南丸、金牙酒、側子酒，及灸絕骨穴。於冬時服之，即免毒氣入腹，疾不作也。</p>
<p>論曰：凡針灸，孔穴主對者，穴名在上，病狀在下。其腳氣一病，最宜針灸。灸而不針者，非也；針灸而不藥，尤非也。腳氣初得，便速針灸，若專以藥不針灸，則可半差矣。然尺寸之法，人有長短，膚有肥瘦，皆須精思准折之，不得一概，致有差失。尺寸之准，以銅人隨中指中紋為是。若坐點穴者，坐灸之；臥點穴者，臥灸之；立點穴者，立灸之。不依此者，徒破肉耳。蘇恭有云：腳氣始發，通隨痛處灸。不必依穴者，亦如《素問》繆刺之法，亦可依用。</p>
<p>初灸風市（主兩膝攣痛，引脅拘急軃躄，或青、或黃，枯黧如腐木，緩縱，痿痹），次灸伏兔（主中寒。按：《甲乙經》云：足陽明經，刺可五分，不可過也），次灸犢鼻（主膝中痛、不仁、難跪，此穴腫不可灸、亦不可刺），次灸膝兩眼（主膝冷痹痛），次灸三里穴（主腰疼不能久立，膝痿，腹脹滿，內廉痛，足痿，失履不收），次灸上廉穴（主小便難、赤黃，狂言非常），次灸下廉穴（主小便難、赤黃），次灸絕骨穴（主風勞，身腫，髀樞痛，膝骨酸，血痹不仁，筋縮，諸節酸折，四肢懈惰不收，風勞身重）。</p>
<p>論曰：風濕毒氣中於足脛，遂為腳氣。若久而不治，或治之一向用疏下藥，臟氣虛弱，毒勢內攻入腹，悶亂、煩喘、氣不得息。若下不速以湊毒之藥，必致惡氣內熏五臟，使三焦榮衛不通，則治療為難。譬由浸淫瘡，從四指流向心腹者，不治；從腹流向四肢者，易治。此瘡毒不由經絡、外自皮膚者尚爾，又況風毒因經絡受邪，而內達五臟者歟！如此勢極。內攻入腹者，無出木瓜茱萸湯，最救困急。服餌之後，雖使惡毒邪濕盛來，無由入矣！</p>
<p>論曰：凡腳氣治法，大抵每日須進食前丸、食後丸。在春夏，當服防風、續命、越婢、竹瀝、風緩、八風、獨活寄生、海桐皮等湯。若大便秘，則服神功丸、麻仁丸、三脘散、三仁丸、橘香丸、潤腸丸；若小便不通，即服白皮小豆散、絳宮丸、木通散，尤宜針石之類，取證最親者服之。秋冬，腳氣正是小歇，當服金牙側子酒、腎瀝湯、石南丸、八味丸、木瓜丸、牛膝丸，及灸，亦取證親者用之。四時之中，皆宜淋煠蒸熨。寅日，去手甲、理髮；丑日，濯足、去腳甲，令深取，大去風氣故也。有力之人，當作天門冬大煎，四時不闕服之，此最腳氣之要方，但難得藥材爾，病者宜知此方。天門冬大煎，治男子五勞、七傷、八風、十三痹、傷中、六極。一氣極，則多寒痹、腹痛、喘息、驚恐、頭痛；二肺極，則寒痹、腰痛、心下堅有積聚、小便不利、手足不仁；三脈極，則顏色苦青逆、噫嘻恍惚失氣狀似悲泣之後、舌強、咽喉干、寒熱惡風不可動、不嗜食、苦眩、喜怒妄言；四筋極，則拘攣、少腹堅脹、心痛、膝寒冷、四肢骨節皆疼痛；五骨極，則肢節厥逆、黃疸、消渴、癰疽妄發、重病浮腫如水病狀；六肉極，則發疰如鬼擊不復言，甚者至死復生，眾醫所不治。此皆六極、七傷所致，非獨房室之為也。憂恚、積思、喜怒、悲歡，復隨風濕結氣，咳時嘔吐，食物為變，大小便不利，時泄利，重下溺血，氣上吐下，乍寒乍熱，臥不安席，小便赤黃，時時惡夢與死人共食飲，入家神室，魂飛魄散。筋極則傷肝，傷肝則腰背相引、難作俯仰；氣極則傷肺，傷肺則小便有血，目不明；髓極則陰痿不起，住而不交；骨極則傷腎，傷腎則短氣，不可久立，陰疼，惡寒，甚者卵縮，陰下生瘡濕癢，瘙之不欲住，汗出神昏，為腎病。甚者多遭風毒，四肢頑痹，手足浮腫，名曰腳弱。腎所不治，此悉主之。熙寧年間，有濟南崔公即中直，先自川中病風。得安時，其子生須城簿迎侍於此，經夏涉履蒸濕，腳為之腫弱、攣痛，於沂州取得螣骨汁，川中得真酥，遂合成半劑服之，即應。細詳此方，通四時，括眾虛實、寒熱，率皆主對，乃知孫真人之用心處療有如此者！世之人，或有藥品繁多、求索難得，遂於受疾而憚於修治，良可嘆也！</p>
<p>論曰：風，陽物也，性上騰。腳氣、厥之人，氣多上行不順，薄而生熱，內枯津液，遂為秘滯。如肥澤壯實、熱風盛者，當以神功丸、麻仁丸、大黃湯之類；如老人津液少，及素虛遇秘者，當服三仁丸、五柔丸、潤腸丸、橘皮丸、三脘散之類。此二候不同，切宜斟酌而用也。</p>
<p>論曰：足經受卑濕之氣，及膀胱宿有停水，甚者攻注腫破，皮肉頑紫，世所謂下注腎風者，乃其候也，亦有成瘡。但腫痛、痹弱者，宜獨活寄生湯、薏苡湯；其已攻注者，宜茴香丸、天麻丸、烏蛇丸，及陳元膏摩之。</p>
<p>論曰：凡腳氣人，足經留滯，淋煠蒸熨最為要，然當先煎煮成諸湯。欲淋煠時，自膝下至踝，以故衣裹數重，隨將溫湯徐徐沃湯在膝下，慎不可先煠兩足，須自膝煠至足。蓋風氣從足甲出，若先煠足，即風毒上行入腹，切宜慎之！煠訖後，去足甲為良。當用丑日，或十二日一去之。</p>
<p>論曰：夫人法天地之形，稟陰陽而生，四時寒暑推移，人氣不定。腳氣發動，必由天之五氣、地之五行治之，雖其間變易，小有不同，而大法不過如此。故謹序《月令》條法於其下：凡正月、二月，天氣正方，地氣始發，人氣在肝。宜導和氣，加厚襪以暖足，宜進地黃粥補虛、防風粥以去四肢風、紫蘇粥以去壅氣，及桑皮煎、竹瀝、防風、風引、續命、風緩、越婢、獨活、海桐皮、八風等湯，以除風。及宜淋煠蒸煨足膝以利關節，導引按蹺以舒壅滯，針石以開發邪氣。三月、四月，天氣正方，地氣正定發，人氣在脾。宜食薤以散結氣、利病人，又取楝花和粉，粉身以固陽氣、除邪，亦宜前治風藥以除邪氣。大抵春三月，天地俱生，萬物以榮，夜臥早起，廣步於庭，被髮緩形，以便志生，生而勿殺，予而弗奪，賞而勿罰，此春氣之應，養生之道也。及宜進溫食，尤宜丸、煎，以除風熱之疾。五月、六月，天氣正盛，地氣高，人氣在頭。宜服獨活寄生湯以湊風濕氣，宜木瓜漿以解渴、利腰腳。大抵夏三月，此謂蕃秀，天地氣交，萬物華實，早臥早起，無厭於日，使智無怒，使華英成秀，使氣得泄，此夏氣之應，養長之道也。七月、八月，陰氣始殺人，氣在肺。宜溫下、頻易襪履以防濕氣。宜獨活寄生湯、海桐皮散、薏苡湯以溫下、除濕毒之氣。大抵秋三月，此謂容平，無外其志，使肺氣清，此秋氣之應，養成之道也。九月、十月，陰氣始冰，地氣閉，人氣在心。腳氣正是小歇，當飲金牙側子酒、腎瀝湯、牛膝、石南、木瓜、八味等丸小小補之，不可導引按蹺。十一月、十二月，冰凍，地氣合，人氣在腎。宜前諸補藥以益元真，及諸灸腰腎禦寒邪氣也，亦不宜導引動氣。大抵冬三月，此謂閉藏，水冰地圻，無擾乎陽，早臥晚起，必待日光，使志若伏若匿，若有私意，若已有得，去寒就溫，使氣涵養，此冬氣之應，養臟之道也。</p>
<p>治驗：嘉祐二年正月二十六日，殿直郭中立來求孫殿丞兆診脈。久患腳氣，疼痛、身發寒熱、脹滿氣上，服熱藥即甚。兆與九味延年茯苓飲子以下其氣，每用六物麻仁丸以泄其熱。後又上氣嘔逆、煩熱，遂令服局方紫雪，大效（延年茯苓飲、麻仁丸方見本門）。</p>
<p>熙寧年間崔郎中直病腳氣，腫弱枯瘦不能行。汲作《千金方》天門冬大煎服之即瘥，永不發。方見後。董文思中行為汶上駐泊日，忽覺兩腳赤腫疼，足下隱痛，汲與食前丸、食後丸即瘥。即冬月令作金牙酒，並淋煠，遂不復作。</p>
<p>梁承議子諒病膝痛，不能跪，翰林醫官楊文蔚處海桐皮散服之，遂愈，吳宣義琯在汶上病腳氣、中滿，宣義郎席公延賞處順氣丸、麻仁丸、神仙丸，遂愈。馮侍郎宅十五小娘子病腳弱不能步，翰林尚藥奉御孔元處《千金方》獨活寄生湯，遂愈。</p>
<p>汲熙寧年間，因冬月行大雪中，至春雨，腳忽然赤腫、疼痛，痿弱不能行走，遂服犀角飲及韶腦湯、蜀椒湯，淋煠，得瘥。經月再作，自腳及通身腫，氣漸上入腹，心煩，腹滿，氣促面如土色，大小便不通，遂以檳榔一枚為末，訶子炮去核取末一錢，生牽牛取末二錢；以童子小便二盞，生薑一錢切，煎一沸，去姜，調前藥末分二服，小便大利，腫遂消盡。後兩腳作瘡，久久不愈，以天麻丸、烏蛇丸，摩以陳元膏，瘡遂愈；但覺腳弱無力，冬月進以木瓜丸、食前丸、金牙酒，腳遂有力。</p>

<h1>卷下</h1>
<p><u>獨活寄生湯</u>　治腰背痛。夫腰背痛者，皆由腎氣虛弱，臥冷濕地、當風所得。不為速治，氣流入腳膝，為偏枯、冷痹、緩弱、疼重，或腰脅痛、腳氣攣重，宜急服此湯。</p>
<p>獨活（三兩，一本作二兩）　桑上寄生（如無以續斷代之）　杜仲（銼炒令絲斷）　牛膝（酒浸）　細辛　秦艽　白茯苓（去皮）　桂（去皮）　防風　川芎　人參　甘草（炙）　當歸　白芍藥　熟乾地黃（各二兩）</p>
<p>上為散，每服三錢。水一大盞煎至六分，去滓，溫，日二。服訖溫身，勿令冷也。氣虛下利者，除乾地黃，服湯。取蒴藋葉火燎，厚安席上，及熱脫，上冷復燎之。冬月取根，春取莖。熬臥之佳，其餘薄熨不及蒴藋蒸也。諸處風濕，亦用此法。婦人新產竟，便患腹痛，不得轉動，及腰腳痛攣，不得屈伸、痹弱者，尤宜服之，除風消血也。</p>
<p><u>薏苡湯</u>　治風濕毒氣攻，兩腳痛重或即浮腫，或皮焦毛悴，肉色紫破，筋骨抽痛，心悶，氣脹，頭旋，多睡，眼暗。</p>
<p>薏苡仁（微炒，八兩）　白茯苓（去皮，五分）　防風（五分）　牛膝（酒浸）　桂（去皮）　五加皮（各六分）　獨活（五分）　玄參（五兩）　石膏（五兩）　枳殼（四兩，麵炒去瓤）　升麻（六兩）　羚羊角（四兩）　漢防己（十兩）　麻黃（去節，五兩）</p>
<p>上為粗散，每服三錢，水一盞半，先浸一宿，平旦煎至八分，去滓。溫服，不以時月。</p>
<p><u>絳官丸</u>　治心經熱，小便淋澀不通及諸淋。</p>
<p>生地黃（四兩）　木通　黃芩（各二兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。服三十丸，溫水下。</p>
<p><u>白皮小豆散</u>　治腳氣小便澀，兩腳腫，氣脹。</p>
<p>赤小豆（半升）　桑白皮（二兩，銼）　紫蘇（一握，銼）　生薑（半兩）</p>
<p>上，水三升，煎至豆熟，取豆食，去滓，余汁飲之。</p>
<p><u>紅雪</u>　治腳氣氣毒，身內外煩熱、瘡腫、狂叫，及諸丹石毒、瘴癘時行、一切風熱方。</p>
<p>升麻（三兩）　大青（三兩）　桑白皮（二兩）　犀角屑（一兩半）　羚羊角（一兩）　訶子（三十枚，去核）　檳榔（三十枚）　蘇木（六兩）　山梔子（三十個）　槐花末（一兩）　淡竹葉（四兩）</p>
<p>上並銼細，以水二斗，浸經宿，煎取一斗，下上好朴硝十斤，又煎，以柳篦子攪。於新瓦盆中貯，又經宿，去余煎不盡水，即成紅雪。</p>
<p><u>神功丸</u>　疏解諸秘滯，及交氣下流、腰腳疼腫脹滿。</p>
<p>大黃（三兩）　人參（半兩）　訶子（泡去核，二兩）　麻仁（別研，五兩）</p>
<p>上杵研為細末，煉蜜為丸，如梧桐子大。每服三十丸，溫水下，不以時，以通為度。未通，更加丸數。老、少氣，以意加減。</p>
<p><u>石南丸</u>　治腎氣虛，客風濕陰，腳氣筋急拘攣、濕痹緩弱、下氣；除筋骨間邪氣，濕不仁，寒厥痿痹，腰脊腳痛，膝冷轉筋，腳腿緊不能久立，及如履物隱痛。</p>
<p>石南葉（炙，去毛）　桂（去皮）　附子（炮）　防風（去蘆。各六兩）　牛膝（酒浸）　白茯苓（去皮。各八兩）　熟地黃　菟絲子（酒浸。各二兩）　薏苡仁（六兩）　五加皮（六兩）</p>
<p>上為細末；用木瓜一枚，去皮、子，蒸熟，研成膏，和前藥末為劑。如干硬，入少熱蜜。和劑為丸，如梧桐子大。空心木瓜酒下三十丸。日二。</p>
<p><u>金牙酒</u>　治瘴癘毒氣中人，風冷濕痹，口喎面戾，半身不遂，手足拘攣，歷節腫痛，甚者少腹不仁，名曰腳氣，無所不治。</p>
<p>金牙石（一斤）　蓯蓉（去鱗，酒浸）　白茯苓（去皮）　側子（炮，去皮）　附子（炮，去皮、臍）　天雄（炮，去皮）　當歸　人參　防風　黃耆　薯蕷　細辛　桂（去皮）　萆薢　威蕤　白芷　桔梗　黃芩　遠志（去心）　蔓荊子　川芎　地骨皮　五加皮　杜仲（炒，銼）　厚朴（炙）　枳實（麩炒，去瓤）　白朮（各三兩）　獨活（半斤）　茵陳　石南（微炒）　狗脊（去毛。各二兩）　牛膝　丹參（各五兩）　磁石（十兩）　薏苡仁　麥門冬（去心。各十兩）　石斛（八兩，去根）　蒴藋（四兩）　生地黃（切，二升）</p>
<p>上三十九味，銼，以酒八斗，漬七日。溫服一合，日四、五。一合藥細研，別絹袋盛，共藥同漬。藥力和善，主治極多，凡是風虛四體，下覺有風痾者，皆順時服。一依方合之，不得輒信人大言，浪有加減。</p>
<p><u>八味丸</u>　治虛損不足，大渴飲水，腰脊痛，小腹拘急，小便不利，及腳氣上少腹不仁。</p>
<p>熟地黃（八兩）　山茱萸　薯蕷（各四兩）　澤瀉　牡丹皮　白茯苓（去皮。各三兩）　桂（去皮）　附子（各二兩）</p>
<p>上為末，煉蜜為丸如梧桐子大。酒下三十丸，張仲景云：久服，去附子加五味子。</p>
<p><u>海桐皮散</u>　治風濕兩腿腫滿、疼重，及一切風順凝滯氣陰，百節拘攣痛。</p>
<p>海桐皮（一兩）　羚羊角屑　薏苡仁（各二兩）　防風　羌活　筒桂（去皮）　赤茯苓（去皮）　熟乾地黃（各一兩）　檳榔（一兩）</p>
<p>上為散，每服三錢。水一盞，生薑五斤，同煎至七分，去滓，溫服。</p>
<p><u>木香飲子</u>　治陰腳氣，冷積於臟，脹悶衛心嘔逆。</p>
<p>木香（八分）　吳茱萸　桔梗（各六分）　大腹子（五個）　大黃（四分）　厚朴（八分，薑汁浸，炙）</p>
<p>上為粗散，每服三錢。水一大盞，入生薑三片，同煎至七分，去滓，溫服，如人行十里。再服良久，氣通乃瘥。</p>
<p><u>松節散</u>　治腳氣冷搏於筋，轉筋攣痛。</p>
<p>松節（取茯神中根心子用，一兩，銼如米）　乳香（一錢，棰碑）</p>
<p>上用銀、石器中，炒令焦，只留一二分性，出火毒，研細。每服一錢至二錢，熱木瓜酒調下。應是病治之。</p>
<p><u>木瓜丸</u>　治風濕腳氣，兩足緩弱、轉筋疼痛。久服步履如飛。</p>
<p>木瓜（大者一枚，破為兩段，去瓤子）　入通明乳香（一兩，研）　青鹽（二錢，研）　甘菊花頭子（研為末，二兩）</p>
<p>上除菊末外，都入木瓜內，以線系入飯甑內，蒸，候木瓜爛為度，取出研成膏、入菊末，即丸如梧桐子大。每日空心酒下三十丸，鹽湯亦可。服百日，欲出汗，身亦自香。如未能幹，更入甘菊末，直候可丸即丸。</p>
<p><u>木瓜丸</u>　木瓜約及四兩者四枚，先炸熟，去皮、核，搗；與熟艾四兩相和，蒸爛、研勻，以備合後藥。</p>
<p>木香　白附子　羌活　沒藥　白朮（以上各半兩）　舶上好茴香（炒）　川楝肉（炒）　白牽牛（炒熟。以上各七錢半）　葳靈仙（折之內有白點者即不用，鬚子播淨，秤，一兩）</p>
<p>上為細末，先以前木瓜、艾和溲，俟少干，徐入少熟蜜，和丸如桐子大。每服二十丸，食飲空時，以木瓜湯或酒吞下。地道稍秘滯，即空心服；有小壅，亦可空心服。</p>
<p><u>食前丸</u>　調補。尋常服之，不令腳氣發動，疏散榮衛氣血，風氣通行。</p>
<p>木香　白茯苓（去皮）　羚羊角屑（各八兩）　熟地黃（十二兩）　桂（去皮）　旋覆花（各四兩）　楮實（十二兩）　薏苡仁（八兩）　檳榔（八兩）　大黃（一兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。每服三十丸，空心酒下。</p>
<p><u>食後丸</u></p>
<p>治尋常腳氣欲發，先大便秘澀，腹中氣滿，兩脅妨悶，不思飲食，小便赤黃，肉多蠕動，痰涎不利，煩熱緩弱。</p>
<p>前胡　黃芩　防風　犀角屑　蔓荊子　梔子仁　人參　車前子　麥門冬（去心。各一兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。每服二十丸，食後溫漿水下。</p>
<p><u>麻仁丸</u>　解秘不通、脹滿氣悶，兩腳痛重，風氣不順。</p>
<p>麻仁（一升）　白芍藥（八兩）　枳實（麩炒，去瓤，八兩）　大黃（一斤）　厚朴（五兩）　杏仁（去皮光雙仁，一斤）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。每服三十丸，溫水下。以通為度。</p>
<p><u>三脘散</u>　治三焦氣逆，解大便秘滯，下胸膈脹憊、氣陰風氣；或已服諸藥、大便不通者，依法煎服就腹中藥，便通，大效；若體虛人腳氣，心腹脹悶、大便不通者，宜服此方。</p>
<p>大腹皮（酒浸一遍，更以大豆汁洗三遍，焙乾用。一兩）　白朮　木香　甘草（微炙）　檳榔　陳橘皮（湯浸去瓤）　川芎（各三分）　獨活　紫蘇並梗　沉香　木瓜（乾者。各一兩）</p>
<p>上為散。每服秤一分，水二盞，同煎至一盞，去滓，溫服，溫服取大便為效。</p>
<p><u>三仁丸</u>　治風虛，老人津液少，大便秘滯。</p>
<p>柏子仁（一兩）　松子仁（二兩）　麻子仁（三兩）　</p>
<p>上研成膏，以蠟為劑。每服秤半兩，嚼吃，米飲下。或為丸如梧桐子大。隨虛實服之。</p>
<p><u>潤腸丸</u>　治一切風秘。偏益虛人及老人津液內枯、不得傳送者。</p>
<p>凌霄花干　天台烏藥　人參　皂莢子（炒熟，去粗皮。各半兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。每服三十丸，或五十丸，不以時，溫水下。至百丸亦不妨，不損氣。以通為度。</p>
<p><u>木通散</u>　治腳氣服補藥太多，小便不通、淋閉、臍下脹。</p>
<p>當歸　梔子仁　芍藥　甘草（炙，一本作生用）　赤茯苓（去皮）　木通（各二兩）</p>
<p>上為散。每服三錢，水一大盞、煎至七分，去滓服之。</p>
<p><u>牛膝丸</u>　治風毒流注腰腿，兩腳疼重攣痛，及腎虛目見黑花方。</p>
<p>牛膝（酒浸）　川芎　續斷　萆薢　丹參（去蘆）　黑狗脊（去毛）　杜仲（銼，炒去絲）　獨活　白朮　枳殼　當歸　白芍藥　防風　乾木瓜　熟乾地黃（各二兩）</p>
<p>上為末，煉蜜為丸，如梧桐子大。每服二十丸，空心木瓜湯下。稍加至三十丸，酒下亦可。</p>
<p><u>天門冬大煎</u></p>
<p>天門冬（切三斗半，杵壓取汁盡）　酥（三升，煉）　螣骨（一具）　白蜜（三升，煉）　枸杞根（切三斗，銼、研，以水二石五斗，取一斗三升，澄清）　生地黃（切一斗）</p>
<p>上五味並大斗銅器中，微火先煎地黃、門冬汁，減半，乃合煎取大斗二斗，下後散藥，煎取一斗。內銅器重釜煎，令穩當可丸，平旦空腹酒服如梧桐子大二十丸，日二加至五十丸。慎生冷、酸醋、豬、雞、魚、蒜、油麵等物。擇四時王相日合之。散藥如後：</p>
<p>白茯苓（去皮）　柏子仁（另研）　桂（去皮）　白朮　萎蕤　菖蒲　遠志　澤瀉　薯蕷　人參　石斛（去根）　牛膝（酒浸）　杜仲（炒，銼）　細辛　獨活　枳實（麩炒，去瓤）　川芎　黃耆　蓯蓉　續斷　狗脊（去毛）　萆薢　白芷　巴戟（去心）　五加皮　覆盆　橘皮（湯浸去瓤）　胡麻　大豆黃卷（炒）　白茯苓神（去皮）　石南（炙，各二兩）　阿膠（十兩，炒）　大棗（一百枚，煮作膏）　鹿角膠（五兩，炙）　蔓荊子（二兩）　甘草（炙，六兩）　蜀椒（炒，一兩）　薏苡仁（一兩）</p>
<p>上三十八味，為細末，內煎中。牛髓、鹿髓各加三升。大佳。小便澀，去柏子仁，加秦艽二兩、乾地黃六兩；陰痿失精，去萎蕤二兩，加入五味子二兩；頭風，去柏子仁，加菊花、防風各二兩；小便利、陰氣弱，去細辛、防風，加山茱萸二兩；腹中冷，去防風，加乾薑二兩。無他疾，依方合之。凡此煎，九月下旬採藥，立冬日合而服之，至五月上旬止；若十二月臘日合者，經夏至七月下旬止。若停服，經夏不壞，當於舍北陰，入地深六尺，填砂，置藥，中上加砂覆之，則經夏不損也。女人先患熱者得服，患冷者不得服。</p>
<p><u>五柔丸</u>　治津液虛閉，大便不通，結燥後重，飲食不生肌肉；補虛損，調補三焦。</p>
<p>大黃（四兩）　前胡（一兩）　半夏（洗七遍，片切，焙乾）　蓯蓉（酒浸）　芍藥　細辛　白茯苓（去皮。半兩）　當歸　苦葶藶（炒。各半兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。溫水下二十丸。以通為度，漸加之。</p>
<p><u>橘皮丸</u>　治腳氣有風，人氣不順，致生熱而大便秘。此藥通秘不損人，進飲食、散脹滿，調中下氣，偏宜腳氣神方。</p>
<p>橘皮（去瓤。四兩，末干）　生薑（取末，二兩）</p>
<p>上二味，以蜜半斤煉，化去上沫，下藥末在內，熬成膏，可丸即丸如梧桐子大。每服三十丸，生薑湯下。每日服之，即不生壅滯。</p>
<p><u>延年茯苓飲</u>　治腳氣腫，氣急上氣，心悶熱煩，嘔逆不食。</p>
<p>白茯苓（去皮）　紫蘇葉　杏仁（去皮、尖，雙仁，麩炒）　橘皮（去白）　升麻　柴胡（去苗。各三兩）　生薑（四兩）　檳榔（十二枚，並皮）　犀角屑（二兩）</p>
<p>上為粗散，以水二升五合，去滓，溫服，分三服，如人行十里，再浸一服。忌醋物。</p>
<p><u>天麻丸</u>　治氣毒濕腳氣攻注兩腿，腫破重疼、皮肉頑紫；或上攻頭面皮肉發熱。</p>
<p>天麻　地龍　羌活　附子（去皮、臍，生用）　桂（去皮）　沒藥（研）　荊芥穗（各一兩）　麝香（一兩，別研）</p>
<p>上為細末，研勻，以生蜜為丸，如櫻桃大，瓷器盛。每服，荊芥蠟茶嚼下一丸。如足破至甚者，不過二十日。上攻者，則食後服；下疰者，食前服。</p>
<p><u>獨活湯</u>　治腳氣膝腿疼痛，乍腫乍瘦，緩弱不能行，喘滿氣上。</p>
<p>獨活　丹參　細辛　五加皮　牛膝（酒浸）　川芎藭　白殭蠶（湯洗，焙乾，麵炒。各半兩）　桑白皮（一兩半，銼、炙）　麻黃（去節，一兩）　甘草（炙，三分）　杏仁（去皮、尖，麵炒，三分）</p>
<p>上為散，每服三錢。水一盞半，煎至七分，去滓，溫服。</p>
<p><u>茴香丸</u>　治風毒濕氣攻疰成瘡，皮肉紫破、膿壞，行步無力，皮肉焮熱。</p>
<p>舶上茴香（炒）　地龍（去土，炒）　赤小豆（炒）　川苦楝（去皮，炒）　川烏頭（炮，去皮、尖）　烏藥（銼）　牽牛（炒，取末。以上各一兩）</p>
<p>上研杵勻細，酒煮麵糊為丸，如梧桐子大。每服空心鹽湯下十五丸，日二。</p>
<p><u>木香散</u>　治偏風、癱緩、腳氣等疾。</p>
<p>羌活（一兩）　麻黃（去節。水煎少時，去沫，焙。一兩）　防風（三兩）　木香　檳榔　附子（炮去皮）　白朮　川烏頭（炮去皮）　草豆蔻（和皮用）　陳橘皮（去白）　牛膝（酒浸一宿）　杏仁（去皮、尖）　當歸（酒浸一宿）　人參　茯苓　甘草（炙）　川芎　官桂（去皮，不見火。以上各半兩）</p>
<p>上藥一十八味，銼如麻豆，每服一兩。水一碗，姜七片，煎至一盞，去滓，得七分，溫服。藥滓二服並作一服，用水一碗半，煎至一盞服。此藥福唐陳氏者鬻以自給，郡人極神之，人未有得其方者，一日為其親戚攘得，與予，予作官處，即合以施人。如法煮服，以衣蓋覆取汗，不過三五服輒瘥。所至人來求藥者無窮，其驗如此。大腸不通，加大黃末，每服一錢，以老少加減；如久不通，加至三、五錢不害。心腹脹，加葶藶並滑石末，每服各一錢。如上膈壅滯，亦宜服之。</p>
<p><u>大黃湯</u>　治腳氣大便秘澀、服諸藥不通，風毒攻心，氣悶，心欲狂，熱悶口乾，喉中如火生，秘澀不通。</p>
<p>紅雪（研）　大黃（銼。各一兩）　木香（銼）　黑豆（各二兩）</p>
<p>上以水一升，煎取八合，將藥汁浸大黃一炊久，去滓。不限平晚，溫分三服，以通為度。</p>
<p><u>烏蛇丸</u>　治風濕腳氣攻註腳膝，疼痛或即癢痹，生瘡、中黃水不止。服之大效，諸藥不及。</p>
<p>烏蛇肉（四兩。酒浸，焙乾）　虎前脛（醋浸，淨刮洗了，塗酥炙。二兩）　黃松節（酒浸，炙乾）　天麻（酒浸一宿）　牛膝（酒浸一宿）　石斛（另取末）　萆薢　杜仲（銼、炒，各一兩）　菟絲子（酒浸）　巴戟（去心）　獨活　防風　桂（去皮）　肉蓯蓉（酒浸）　金毛狗脊（去毛）　續斷　蓽澄茄（去蒂、子）　當歸　附子（炮，去皮臍。各一兩）　木香（半兩）　乳香（另研，半兩）</p>
<p>上為細末，研勻；用大木瓜去膈、子，蒸令爛，研如糊，以法酒化開，銀、石器中熬過，和劑前藥為丸，如梧桐子大。溫酒空心下三十丸，日二。一月和愈。</p>
<p><u>淋煠沙節湯</u>　治風毒腳氣下注，兩腳疼重。</p>
<p>沙木節　木通　羌活　川椒（以上各半兩）　川烏頭（一分）　蔥白（一握）　橘葉（半兩。如無，以橘皮代之。上各為散）</p>
<p>上以水三升，煎至減半。通手淋洗。再暖，可兩日淋煠之。</p>
<p><u>腳氣煠法</u>　療風毒壅滯作疼痛，及榮衛氣結澀諸風毒。</p>
<p>檀香　零陵香　藿香　木香　白膠香（捶碎）　川升麻　麻黃（去節）　蛇床子　荊芥　藁本　白芍藥　威靈仙　地椒　地榆　當歸　官桂　枳殼　蒴藋</p>
<p>上皆等分，取細銼，相拌勻。每取一兩，水二斗、赤皮蔥五莖、白礬半兩、川椒小半合，同煮十來沸，乘熱噓痛處。通手則淋煠，熱透則干挹。就寢如不受煠，則取《千金》蒼梧道士陳元膏摩之，其方所說甚詳也，更不煩喋。</p>
<p><u>楊皮湯</u>　淋煠腳氣攣疼、緩弱。消腫毒。</p>
<p>白楊皮　莽草　羌活　獨活　杜仲（銼，去皮）　防風　蒺藜　夏枯草　荊芥穗　地椒　葳靈仙　白礬（各一兩）</p>
<p>上為粗末，每用半兩，水五升煎至四升，乘熱淋煠兩足。</p>
<p><u>淋煠腳氣</u>　兩足寒熱、腫痛、脹滿、攣緩。</p>
<p>龍腦（不以多少，研）</p>
<p>上，每用半兩，以水一斗煎。主煠滯濕足膝。</p>
<p><u>道人深師增損腎瀝湯</u>　治風虛勞損挾毒腳氣，痛弱或痹不隨，下焦虛熱，胸不利，又時腹下痛。相東王至江州，王在嶺南病，悉如此，極困篤、余作此湯令服，即得力。病似此者，服無不瘥、隨宜增損之。</p>
<p>黃耆　甘草（炙）　白芍藥　麥門冬（去心）　人參　肉蓯蓉（酒浸）　熟地黃　赤石脂　地骨皮　白茯神（去皮）　當歸　遠志　磁石　枳實（麩炒）　防風（去蘆頭）　龍骨（煅，一兩）　桂（去皮）　川芎（各二兩）　半夏（五兩。湯洗七次，片切，令乾）　五味子（三兩）　生薑（四兩，切）　大棗（二十枚，去核）</p>
<p>上㕮咀；以水二斗，煮羊腎一對，去筋膜，取汁一斗二升，內諸藥，煮取四升，分為五服，日三夜二。不利下者，除龍骨、赤石脂；小便赤澀，以赤茯苓代茯神，加白朮三兩；多熱，加黃芩一兩；遺溺，加桑螵蛸二十枚。</p>
<p><u>五枝湯</u>　淋煠風濕一切筋骨疼痛。</p>
<p>桑枝　槐枝　椿枝　柳枝　桃枝（各一斤）</p>
<p>上各銼細，更以萆麻葉一把，水三升，煎取二升，去滓。淋洗足膝。</p>
<p><u>蜀椒湯</u>　治腳氣腫攣，消赤腫。</p>
<p>用蜀椒四升，以水四斗，煮取二斗半，甕盛，下著火暖之。懸板為橋，去湯上二寸許，以腳蹋板柱腳坐，以綿絮密塞，勿令泄氣。若天冷，即出，入被以粉摩之一食久，更入。甕下火不絕，勿使湯冷。如此消息，不過七日，得伸展多矣。</p>
<p><u>治腳氣初發，從足起至膝骨腫疼者</u></p>
<p>取萆麻子葉，切，搗蒸。薄裹之，日二、三易，即腫消。若冬月無萆麻子葉、取蒴藿根，搗碎。和酒糟三分，根一分，合蒸熟。及熱，對裹腫上如前法，日二，腫即消。亦治頑痹。</p>
<p><u>治毒風流於腳膝，行立不得方</u></p>
<p>海桐皮　五加皮　獨活　防風　枳殼　杜仲（銼，炒。各一兩）　牛膝（酒浸）　薏苡仁（各二兩）　乾生地黃（半大升）　藁本（五兩）</p>
<p>上㕮咀，以綿裹，以無灰酒二斗，春浸七日，秋二七日。每日空心溫服一盞，常令酒氣相接，勿令大醉。重者不過兩劑即瘥。忌生冷、蒜等。如盛熱，特恐壞，即宜浸半料。江南多有此疾，號為腳軟。博陵崔公信，官吳興，得此疾凡半歲，百藥無效，朱仲邕為處此方，服之立效。公信云：其疾退狀如蛇，數條奔走，自足而出矣。後傳之。無不效。</p>
<p><u>趁痛丸</u>　治腳氣毒攻兩腳，痛不可忍。</p>
<p>甘遂　白芥子（微炒）　大戟　白麵</p>
<p>上為細末，滴水和作餅子，炙黃色，為細末，醋煮麵糊為丸，如綠豆大。每服十丸，冷酒下。利則止後服。</p>
<p><u>傳信方</u>　療毒風腰腳無力、腫疼，腹脹心煩。</p>
<p>咽喉頭面浮腫、嘔逆一候同，當日服之。</p>
<p>旋覆花頭子　白茯苓　橘皮　桑白皮（銼，炒黃色。各三兩）　犀角屑（一兩）　紫蘇莖（二兩）　豉（三合）　生薑（四兩，切）　棗（十三核，去核）</p>
<p>上除薑、棗外，細銼，都以水八升，煎至三升，攪去滓。分三服，每服如人行十里。</p>
<p><u>地黃粥以補虛方</u></p>
<p>取肥好地黃四兩取汁，去滓；作粥，候粥半熟即下之。以綿裹椒一百粒、生薑一片投粥下，候熟，出之。下羊腎一具，取脂膜，細切如韭葉大，同煮熟，加少鹽食之。</p>
<p><u>防風粥以去四肢風</u></p>
<p>取防風二分，去蘆頭，煮取汁，去滓；如食法作粥食之。</p>
<p><u>桑枝煎</u></p>
<p>本草云：桑枝不冷不熱，可以常服，能療遍體風癢、乾燥，腳氣，四肢拘攣，上氣眼暈，肺氣咳嗽；消食，利小便；久服輕身，利耳目，令人光澤；兼療口乾。仙經云：一切仙藥，不得桑枝煎不服。出《抱朴子》、《孫真人方》。取桑枝如箭直者，細銼三斗，熬令微黃，以水六斗，煎取三斗，去滓，以重湯煎取二升，下白蜜三合、黃明膠一兩（炙），作蜜煎。成，入以不津器封貯之。每一服一匙，湯化服之。</p>
