<header>
<h1>結構化資料綱要</h1>
</header>

<p>結構化資料使用<a href="https://microformats.org/wiki/microformats2">microformats2</a>格式記錄。</p>

<h2><code>h-formula</code>: 方劑</h2>
<ol>
  <li><code>name</code>: 名稱（第二筆以後為別名）</li>
  <li><code>src</code>: 出典</li>
  <li><code>comp</code> (h-formula-comp|text): 成份</li>
  <li><code>usage</code> (html|text): 用法</li>
  <li><code>option</code> (h-formula-option|html|text): 加減法</li>
  <li><code>note</code> (html|text): 附註</li>
</ol>

<h2><code>h-formula-comp</code>: 方劑成份</h2>
<ol>
  <li><code>name</code>: 名稱</li>
  <li><code>prep</code> (html|text): 炮製法</li>
  <li><code>dose</code> (h-dose|html|text): 用量</li>
</ol>

<h2><code>h-formula-option</code>: 方劑加減法</h2>
<ol>
  <li><code>condition</code>: 條件</li>
  <li><code>add</code> (h-formula-comp|html|text): 加入的成份</li>
  <li><code>remove</code> (h-formula-comp|html|text): 減去的成份</li>
  <li><code>set</code> (h-formula-comp|html|text): 更動的成份</li>
</ol>

<h2><code>h-med</code>: 中藥</h2>
<ol>
  <li><code>name</code>: 名稱（第二筆以後為別名）</li>
  <li><code>src</code>: 出典</li>
  <li><code>prep</code>: 炮製法</li>
  <li><code>place</code>: 相關地</li>
  <li><code>harvest</code>: 採收法</li>
  <li><code>nature</code>: 性</li>
  <li><code>flavor</code>: 味</li>
  <li><code>tropism</code>: 歸經</li>
  <li><code>property</code>: 藥物特性（如有毒等）</li>
  <li><code>action</code> (html|text): 功效</li>
  <li><code>interacter</code> (h-med-interacter|html|text): 交互作用</li>
  <li><code>note</code> (html|text): 附註</li>
</ol>

<h2><code>h-med-interacter</code>: 中藥交互作用</h2>
<ol>
  <li><code>name</code>: 交互作用對象名稱</li>
  <li><code>type</code>: 交互作用類型（如七情等）</li>
</ol>

<h2><code>h-acupoint</code>: 穴位</h2>
<ol>
  <li><code>name</code>: 名稱（第二筆以後為別名）</li>
  <li><code>src</code>: 出典</li>
  <li><code>location</code>: 位置</li>
  <li><code>usage</code>: 取穴法</li>
  <li><code>action</code> (html|text): 功效</li>
  <li><code>note</code> (html|text): 附註</li>
</ol>

<h2><code>h-dose</code>: 用量</h2>
<ol>
  <li><code>value</code>: 數值</li>
  <li><code>unit</code>: 單位</li>
</ol>
