<header data-type="book">
<h1>馬培之醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>馬培之</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1893">公元1893年</data></dd></div>
</dl>
</header>

<h1>疔毒</h1>
<p>黃鼓疔，走黃疔毒，散溫腫及胸頸內熱，便閉，防其內陷，擬化疔解毒。</p>
<p>地丁草　銀花　赤芍　大貝　連翹　黃芩　花粉　人中白　元參　薄荷　桔梗　淡竹葉　野菊花頭</p>
<p>疔紅腫便閉，脈實者，必須用鮮生地、黃連、木通、生軍之類。</p>
<p>蛇頭疔，破潰，指節須脫，急宜清解火毒。</p>
<p>連翹　銀花　甘草　黃芩　丹皮　花粉　赤芍　地丁　大貝　菊花</p>
<p>鎖口疔，瘡頭不硬，致毒氣走散，急為清散。</p>
<p>牛蒡子　甘菊　銀花　赤芍　連翹　地丁草　大貝　草河車　淡竹葉　野菊花頭</p>

<h1>血痣</h1>
<p>額顱血痣翻花，上及腮門，下至眼胞，肉翻崢崚，振動出血，脈數細，左弦，陰傷，心肝火旺，宜犀角地黃湯治之。</p>
<p>犀角　鮮生地　連翹　赤芍　元參　粉甘草　象貝母　粉丹皮　知母　側柏葉　藕節</p>

<h1>骨槽風</h1>
<p>腮頰為手陽明所過之地，骨槽風症緣陽明濕熱與外風迫結而成。其來必驟，蓋火性急故也。今外潰已久，牙關不開，緣頰車中堅硬未消，開合不利。古之用中和湯者，因從病久脈虛，故用黃耆之補托，四物之養血，桂心、白芷以散結邪，銀花、花粉、元參、貝母之清化蘊毒。前言所議極是。但陽明多氣多血之經，溫補過施恐有偏弊之患，擬照古之中和湯不增不減可也。</p>
<p>川芎　當歸　白芍　生地　肉桂　黃耆　花粉　粉甘草　桔梗　大貝　銀花　紅棗</p>
<p>骨槽風，頰車內外俱腫，內潰流膿宜清胃解毒自主外潰為要。</p>
<p>川連　石膏　元參　花粉　羚羊角　丹皮　赤芍　銀花　甘草　黃芩　淡竹葉　蘆根</p>
<p>骨槽風，潰後筋脈急縮，以致牙關緊強，兼之餘蘊未清，腠理結核，兩耳作鳴而音不聰，厥少不和，陽浮於上。擬養陰清肝，兼和脈絡。</p>
<p>北沙參　菊花　當歸　白芍　廣皮　石決明　白蒺藜　夏枯草　澤瀉　丹皮　甘草　荷葉</p>
<p>丸方</p>
<p>川芎　當歸　半夏　殭蠶　大貝　陳皮　茯苓　白蒺藜　北沙參　夏枯草　元參　白芷　甘草　海螵蛸</p>
<p>蜜水法丸，早膳後服三錢。</p>
<p>骨槽風症，竇漢卿名穿珠穿腮，心法曰：牙上發、牙槽發，二者皆以手少陽三焦、足陽明胃二經風火是。夫手少陽之經系手走頭，足之陽明系頭走足。恙由手經而入，始則牙痛頤腫，面腫上過太陽，繼入陽明，則由項及胸。初時先下於前，嗣又慢補於後，以致毒火蘊遏，傷陰耗氣，不能去毒化膿，散漫無定，脈象左部散大，右部濡小，舌喎目定，陽縮，頭面無華，汗多，氣血兩敗，已成陷症。藥病不能醫，命由天定，非人力所能挽也。擬方盡人事而已。</p>
<p>西洋參　茯苓　甘草　銀花　花粉　川石斛　麥冬　大貝母　綠豆</p>
<p>昨晚進湯藥雖有轉機，脈仍未起，未可為恃。原方中加生地五錢。</p>
<p>骨風潰久，牙骨已損，完功不易，當以補托。</p>
<p>黃耆　當歸　黨參　甘草　白朮　白芍　川芎　肉桂　大生地　花粉　紅棗</p>

<h1>舌菌</h1>
<p>舌為心苗，腎陰不足，心火肝陽上升，發為舌菌。舌尖肉翻如豆，內熱嗆咳，頭眩，心神不安，肺腎亦虧。當滋水制陽，兼清肺腎。</p>
<p>鮮生地　川貝　桔梗　元參　蒲黃　連翹　沙參　麥冬　丹皮　茯神　川石斛　藕</p>

<h1>牙菌</h1>
<p>牙菌落而復生，肝陽火鬱不解，幸軟而不堅，可無足慮。惟營血素虧，肝陽化風，左半頭痛，脾土又弱，腹痛便溏，右脈較起，脾腎漸有充旺之機。肝氣雖強，水足而木自柔和，虛陽自不上潛。仍從脾腎進治。</p>
<p>潞黨參　白朮　歸身　白芍　枸杞子　杜仲　炙甘草　破故紙　黃耆　廣皮　煨姜　紅棗</p>

<h1>牙岩</h1>
<p>肝火上升致發牙岩，內外穿潰，肉翻崢崚，高年得此惡候，極難調治。姑擬養陰清肝胃積熱。</p>
<p>羚羊角　大貝　甘草　元參　連翹　細生地　丹皮　花粉　石斛　麥冬　蘆根</p>
<p>脈神較起，惟肉翻崢崚，左腮上齶出血數次，火鬱陰傷。當養陰清肝。</p>
<p>生地　西洋參　玉露霜　川石斛　白芍　南沙參　左牡蠣　黃柏　蒲黃　懷山藥　山萸肉　黑元參　坎板　人中黃</p>
<p>胃火上升，牙岩潰腐，肉翻且堅，難治之症。勉立一方。</p>
<p>羚羊角　花粉　連翹　大貝　鮮生地　麥冬　甘草　元參　桔梗　生石膏</p>
<p>此方服四劑後痛定肉平，頗效。復診，加黃柏、蘆梗。</p>

<h1>舌岩</h1>
<p>心脾之火夾痰上升，舌岩堅腫，破碎，飲咽不能，症非輕淺。擬清火化痰。</p>
<p>麥冬　粉蛤　海藻　大貝　元參　殭蠶　桔梗　橘紅　生甘草　連翹　蒲黃　地慄　竹茹</p>
<p>吹青陽柳華散，加琥珀、橄欖灰、蒲黃、冰片，已漸軟，然未可恃，原方加羚羊片、丹皮。</p>

<h1>舌疳</h1>
<p>腎陰不足，心火肝陽上亢，發為舌瘡。舌根破碎成窟，不時內熱，舌為心苗，腎脈貫肝膈，循喉嚨，挾舌本，腎陰不升，心火不降，未濟之象也。恐釀成舌疳大患，法當滋水制陽為治。</p>
<p>生地　石斛　元參　麥冬　女貞子　象貝母　甘草　桔梗　丹皮　玉露霜　甘蔗</p>
<p>心脾火鬱致發舌疳，舌根腫潰，連及咽喉，症非輕候。宜養陰清解。</p>
<p>細生地　丹皮　大貝　連翹　元參　生蒲黃　蛤粉　麥冬　甘草　桔梗　黃柏　竹茹</p>
<p>舌糜於左，心火上盛，腎水不足，謹防舌疳之患。</p>
<p>西洋參　麥冬　甘草　青果　六味丸</p>

<h1>鎖喉毒</h1>
<p>鎖喉毒外腫內閉，痰鳴氣促，險症也。</p>
<p>羚羊　蔞仁　牛蒡子　橘紅　元參　射干片　桑皮　殭蠶　連翹　竹油</p>
<p>鎖喉毒外腫已退，痰鳴亦減，仍從前方加減。</p>
<p>照前方去連翹，加桔梗、丹皮。</p>
<p>鎖喉毒漸能哺乳，哭聲不出，喉外尚腫。</p>
<p>牛蒡子　蔞仁　杏仁　桑皮　貝母　橘紅　蘇子　殭蠶　竹油</p>

<h1>盤槽癰</h1>
<p>盤槽癰月餘，自左及右間潰流膿，腮外堅腫，硬勢又將破潰，發熱便閉，食少噦惡，脈細神疲，陰傷胃熱不化，症屬不輕，擬以甘寒清解。</p>
<p>鮮石斛　貝母　銀花　桔梗　丹皮　使君子　元參　甘草　連翹　天花粉　橘紅　茯苓　枳殼　蘆根</p>
<p>盤槽癰腮外腫，勢難消，究須外潰，精神雖起，而熱渴噦惡未減，飲食未增，陰分大虧。症非輕候，姑擬養陰清胃。</p>
<p>鮮石斛　懷山藥　麥冬　茯苓　銀花　花粉　白萹豆　北沙參　毛燕　使君子　象貝母　穀芽　糯稻根</p>

<h1>對口</h1>
<p>對口由七情發者宜補，六淫發者宜散宜發。素有濕與熱相搏，致發偏腦疽，潰久膿多而硬不消，當以消化。</p>
<p>南沙參　丹皮　苡米　連翹　大貝　甘草　銀花　赤芍　藕　功勞葉</p>
<p>對口膿已漸清，腫亦漸消，似可收斂，仍以前法加減。</p>
<p>前方加當歸，去功勞葉。</p>
<p>風濕熱交熏於上，偏對鬢疽腫硬有頭，惟對口瘡根散漫，均非小恙，腑氣不爽。宜內疏黃連湯加減。</p>
<p>薄荷　黃連　赤芍　當歸　連翹　陳皮　銀花　生甘草　桔梗　大貝　黑梔　淡竹葉</p>

<h1>瘰癧</h1>
<p>肝氣夾痰凝滯，頸左右瘰癧叢生，中脘不暢。當養陰清肝化痰。</p>
<p>川芎　當歸　香附　夏枯草　陳皮　海藻　茯苓　廣鬱金　殭蠶　大貝　佩蘭　橘葉</p>
<p>肝火瘰癧頸項，自胛至胯發熱，脈數，遍體經絡擘痛，宜逍遙散加減主之。</p>
<p>當歸　薄荷　黃沙參　連翹　粉甘草　赤芍　殭蠶　丹皮　柴胡　大貝　夏枯草</p>

<h1>失榮</h1>
<p>肝鬱不舒，氣火夾痰，凝結頸左，失榮堅腫，筋脈攀痛，宜清肝解鬱。</p>
<p>川芎　當歸　白芍　生地　夜交藤　殭蠶　蛤粉　大貝　鉤鉤　夏枯草　丹皮　金橘葉</p>
<p>失榮堅腫，痛攀肩背，原方加黑山梔三錢，去夜交藤、鉤鉤。</p>
<p>操勞思慮，郁損心脾，木失暢榮，氣化為火，陽明濁痰藉以上升，致頸左堅腫，成為失榮。焮熱刺痛，痰火交併絡中，投劑以來，腫熱略減，惟動則氣升，飲咽作阻。臥則漸平，肺為氣之主，腎為氣之根，水不養肝，蟄藏失職，肝逆直奔，肺胃職是之故。宜滋水柔肝，納氣歸腎。但舌苔白滑而兩邊尖，漸縫陰分固傷，上焦痰氣痹郁，似宜先清其上，兼平肝木，俾郁解痰消，飲食暢進，嗣後再商補腎。</p>
<p>服清肺化痰之藥。</p>
<p>肝鬱夾痰，項右失榮，堅腫，經今五月，胸背頸項攀痛，肝脾兩傷，氣血並損。姑擬益氣養榮。</p>
<p>當歸身　黨參　冬朮　白芍　川芎　清半夏　陳皮　炙甘草　炒生地　佩蘭　紅棗　煨姜</p>

<h1>乳岩</h1>
<p>乳頭屬肝，乳房屬胃。胃與脾相連，乳岩一症，乃思慮挹郁，肝脾兩傷，積想在心，所願不得，志意不遂，經絡枯澀，痰氣鬱結而成。兩乳房結核有年則攀痛牽連筋，肝陰亦損，氣化為火，陽明郁痰不解，慮其長大成為岩症，速宜撇去塵情，開懷解鬱，以冀消化乃吉。擬方候裁。</p>
<p>西洋參　童便制香附　青皮（蜜炙）　川貝母　全栝蔞　赤白芍　毛菇　陳皮　夏枯草　清半夏　當歸　佩蘭葉　紅棗頭</p>
<p>乳岩破潰，乳房堅腫、掣痛，定有翻花出血之虞。難治之症。姑擬養陰清肝。</p>
<p>中生地　當歸　白芍　黑梔　生甘草　羚羊片　丹皮　栝蔞　大貝母　連翹　蒲公英</p>
<p>乳岩一年腫突，紅紫甫潰，兩目筋脈掣痛，難治之症。勉擬養陰清肝。</p>
<p>北沙參　麥冬　大貝　丹皮　當歸　羚羊片　黑梔　連翹　甘草　澤蘭　夏枯草　藕</p>
<p>肝鬱乳核氣化為火，抽引掣痛，恐釀成乳岩大症，宜清肝湯主之。</p>
<p>當歸　栝蔞　丹皮　夏枯草　連翹　大貝　黑山梔　澤蘭　北沙　白芍　金橘葉</p>
<p>血不養肝，肝氣鬱結，右乳脹硬，乳頭掣痛，勢成岩症。急為清肝解鬱，冀消化為要。</p>
<p>全栝蔞　青皮　甘草　白朮　薄荷　當歸　柴胡　白芍　黑梔　丹皮　蒲公英　橘葉</p>
<p>暴怒傷陰，厥氣火偏旺，與陽明之痰熱交併於絡，以致乳房堅腫，頸顏連結數核，或時掣痛，已成岩症，脈數右洪，氣火不降，謹防破潰。急為養陰清肝。</p>
<p>羚羊片　天門冬　全栝蔞　大貝　丹皮　黑梔　鮮石斛　連翹　澤蘭　赤芍　黑元參　蒲公英</p>
<p>氣虛生痰，陰虛生熱，氣火夾痰交併絡中，乳岩堅腫，痛如蟲咬。此陽化內風，動擾不寧，每遇陰晦之日，胸悶不暢，陰虧液燥。宜養陰清氣化痰，緩緩圖之。</p>
<p>天冬　羚羊　夜合花　橘葉　鬱金　海蟄　蔞仁　茯苓　川貝母　澤蘭　連翹　勃薺</p>
<p>乳核掣痛已減，肝火未清，脈尚弦數，仍以前法。</p>
<p>全栝蔞　白芍　當歸　丹皮　夏枯草　連翹　北沙參　大貝　黑梔　澤蘭　合歡花　橘葉</p>
<p>肝氣夾痰，左乳房結核三月，幸未作痛，可冀消散。宜清肝散結。</p>
<p>當歸　柴胡　連翹　赤芍　香附　殭蠶　青皮　大貝　夏枯草　栝蔞　蒲公英　橘葉</p>

<h1>井疽</h1>
<p>五臟之尊，心為之主，以腎過用，腎水下虧，水不火，心陽擾動，營不內守，則腰痛咯紅，繼患井疽。外潰已久，不時嘈雜，氣餒中虛，當營衛並倍，兼以養心。</p>
<p>當參　茯苓　參鬚　遠志　牡蠣　甜冬朮　懷藥　歸身　白芍　陳皮　柏子仁　生地　紅花</p>

<h1>蔽骨疽</h1>
<p>肝氣夾痰凝滯，蔽骨發為痰疽，已潰，一頭腫硬不消，又將破潰，脈來兩尺弦數，榮血已虧，陽明痰氣不清。宜養榮和衛，兼化痰軟堅之治。</p>
<p>當歸　清半夏　陳皮　茯苓　栝蔞仁　廣鬱金　大貝　左牡蠣　蘇根　佛手　敷海浮</p>
<p>蔽骨疽腫硬較松，膿亦較厚，仍和榮化堅。</p>
<p>前方去蘇根，加澤蘭、連翹、藕節。</p>
<p>蔽骨痰疽，膿成將潰，當以清托。</p>
<p>南沙參　大貝　陳皮　連翹　甘草　川石斛　當歸　茯苓　蔞仁　藕節</p>

<h1>石疽</h1>
<p>石疽乃氣血冰凝成此惡疾，起自左腋結硬，漸次硬及乳房、肩臂頸項，木腫，日夜掣痛，氣血俱虛，難治之症。姑念遠來，勉方冀幸。</p>
<p>黨參　大熟地　上肉桂　焦白朮　大白芍　全當歸　川芎　茯苓　香附　炙甘草　桑皮　紅棗頭</p>
<p>抑鬱傷肝，思慮傷脾，肝脾榮損，氣動於中，木火夾痰上升，少陽經氣鬱結頸左，發為石疽。硬堅如石，肩項酸脹，牙緊喉痹，脈細神羸，已入沉疴，勢難挽救。姑念遠來，擬方回府調理。</p>
<p>黨參　冬朮　當歸　川芎　白芍　香附　大貝　清半夏　陳皮　茯苓　甘草　煨姜　紅棗</p>
<p>心肝抑鬱不遂，氣化為火，火與痰升，頸左發為石疽。堅腫色紅，勢將外潰，潰則難愈。姑擬養榮清肝化堅。</p>
<p>北沙參　川芎　白芍　元參　香附　清半夏　大貝　當歸　連翹　中生地　左牡蠣　橘葉</p>
<p>肝脾鬱結，氣與痰滯，石疽堅腫，咽腫喉痹，牙緊頸酸，項脹，厥少不和，經絡壅塞，七情至傷之病，治調非易。脾胃又薄，便溏，食入作嘔吐，慎防脾敗。姑擬扶土和中，冀其納穀為幸。</p>
<p>焦白冬朮（枳實二分同炒）　佩蘭　木香　枳殼　砂仁　陳皮　潞黨參（藿香炒）　半夏　鬱金　穀芽　炙甘草　茯苓　金橘葉</p>
<p>治虛勞嘔吐方。</p>
<p>嘔吐已止，飲食加增，石疽腫亦較退，似有轉機。但牙緊未松，喉痹未舒，脈沉弦澀，陰傷木鬱，痰氣凝痹。上尚在險途，恐未為可恃。姑從原法治之。</p>
<p>黨參　冬朮　川芎　當歸　半夏　砂仁　陳皮　枳殼　佩蘭　廣鬱金　白芍　橘葉</p>
<p>石疽腫硬稍松，七情至傷之病究難消散，因日來飲食加增，精神稍復。姑擬原方進治。</p>
<p>黨參　當歸　清半夏　佩蘭　冬朮　白芍　陳皮　炙草　川芎　茯苓　大貝　老薑　橘葉</p>
<p>日來精神飲食倍增，石疽堅腫亦見收束，是萬億之幸也。宜香貝養榮湯主之。</p>
<p>黨參　當歸　白芍　陳皮　白朮　川芎　茯苓　清半夏　大貝　香附　炙甘草　牡蠣　紅棗　橘葉</p>
<p>恙勢日見起色，宗前法治。</p>
<p>生地　蒲黃炒　當歸　陳皮　大貝　白芍　潞黨參　川芎　茯苓　香附　清半夏　牡蠣　遠志　金菊葉　紅棗　姜</p>
<p>石疽腫勢稍加，且作脹痛，肝火復升，宜和榮化堅，兼舒肝鬱。</p>
<p>前方去生地、遠志，加夏枯草。</p>
<p>石疽復腫，又復作吐，心胸懊憹，肝胃氣逆，極虛之體，攻補兩難。屬在險途。姑擬香砂六君湯加味主之。</p>
<p>當參　冬朮　當歸　佩蘭　廣皮　茯苓　穀芽　木香　砂仁　清半夏　炙草　鬱金　生薑　棗</p>
<p>痰氣血積於肝絡，少腹兩旁，石疽堅腫，木不知痛。姑擬溫消，冀其不潰乃吉。</p>
<p>當歸　赤芍　桃仁　茯苓　肉桂　清半夏　陳皮　甘草　延胡　楞子　生薑</p>
<p>濕瘀凝滯經絡，委陽穴石疽堅腫，色紫焮，及內側足肚木腫，夜分熱痛。將來難於收斂，急為利濕化凝，以冀收束為要。</p>
<p>生首烏　歸尾　甘草　沒藥　連翹　川萆薢　赤芍　桃仁　黃柏　澤蘭　淮牛膝　廣皮　桑枝</p>
<p>鬱怒傷肝，氣滯於絡，絡血因之留阻，胸脅作痛，繼之乳根堅腫，石疽大症，脈來弦強，動勞喘氣，自汗盜汗，肝陰傷，腎氣不攝，症勢極重。擬育陰柔肝，以化堅結。</p>
<p>北沙參　牡蠣　當歸　大貝　白芍　遠志肉　澤蘭　茯神　丹參　廣皮　橘葉　栝蔞子　藕節</p>

<h1>疵疽</h1>
<p>疵疽右膝漫腫而熱，瘍科重症。姑擬利濕化凝，保其不潰乃吉。</p>
<p>歸鬚　赤芍　川牛膝　沒藥　川黃柏　防己　桃仁　白芷　甘草　裝半夏　澤蘭　茯苓　桑枝　藕節</p>

<h1>附骨疽</h1>
<p>附骨疽破潰成漏。</p>
<p>大生地　山萸肉　當歸　遠志　澤瀉　甘草　鹿角膠　淮牛膝　白芍　茯苓　白朮　紅棗　桑枝</p>

<h1>串臂漏</h1>
<p>串臂漏久，肌肉僵硬，體質虧弱，不易速愈。煎劑培養氣血，兼清濕熱，晚進丸藥，退管化堅，緩緩調之。</p>
<p>生首烏　苡仁　當歸　槐角　丹皮　皂角刺　金銀花　大貝　生甘草　茯苓　紅棗</p>

<h1>肛漏</h1>
<p>肛漏一年，陰氣耗泄於下，陽傷於上，冬春咳嗽惡寒，肝氣拂鬱，肚腹作痛。入夏以來嗆咳益加，咽痛妨食，痰多作惡，腹痛頻頻，大便時溏，脈來尺寸弱而急，肺腎並虧，肝木侮土，勢入損門，殊屬重候。擬養榮柔肝，兼補肺滋腎。</p>
<p>東洋參　白芍　當歸　炙甘草　冬蟲草　淮山藥　蓮子　沙苑子　甜杏仁　大生地（蛤粉炒）　橘紅　大麥冬</p>
<p>肛有漏卮，陰氣先虧於下，子病及母，致生喘咳，宜金水並調。</p>
<p>北沙參　女貞子　全歸　馬料豆　沙苑子　淮山藥　淮牛膝　大麥冬　茯苓　杏仁　蓮子</p>

<h1>肝癰</h1>
<p>肝癰背肋腫痛，一月邇來咳嗽氣急，痰腥肢冷，汗多，或作蛻熱，脈虛細，症勢極重，礙方以望轉機。</p>
<p>首烏　半夏　茯苓　北沙參　杏仁　蔞仁　粉蛤　麥冬　川貝　橘紅　梨</p>
<p>肝氣夾痰，凝結於絡，左肋結硬漫腫，勢成肋癰，發熱，胸痞不舒，宜疏肝化痰解鬱。</p>
<p>生首烏　香附　赤芍　半夏　殭蠶　新絳　枳殼　澤蘭　茯苓　青皮　鬱金　蔥管</p>
<p>肋癰硬痛發熱，胸脘阻隔，半月未得更衣。宜疏肝和胃，兼以通幽。</p>
<p>廣鬱金　蔞仁　枳殼　赤芍　旋覆花　山梔　藕根　桃仁　通草　青皮　半夏曲　佛手　荸薺</p>
<p>肋癰即肝癰也，乃痰氣血滯於肝絡，肝脹成癰，外潰兩月，肉腐外紫，胸背骨脹，內熱咳嗽，短氣，脈數，肝肺兩傷，榮陰大損，勢入損門。姑擬清養。</p>
<p>北沙參　杏仁　丹皮　淮藥　大貝　川石斛　麥冬　蔞仁　茯苓　藕　枇杷葉</p>
<p>肋癰潰久，肋骨傷損，不易完功，宜內托。</p>
<p>生地　當歸　白芍　淮藥　粉甘草　茯苓　玉竹　料豆　陳皮　象牙屑　紅棗</p>

<h2>附論</h2>
<p>《素問》以肝癰兩胠滿，臥則驚，不得小便。又曰：期門隱隱痛者，肝癰。其上肉微起者，肝癰。未能詳言。後陳遠公曰：人素多鬱怒，致兩胠脹滿，發寒發熱，繼而脅疼，手不可按，火盛爍乎肝血，此肝葉生瘡，在左不在右。左脅之皮必見紅紫五色，以化肝消毒湯。丹溪治以復元通氣散、柴胡清肝湯，潰後八珍、六味滋補脾腎法，致難稍備，究未詳明確當。肝之脈從股陰入毛中，環陰起器，抵少腹，上貫肝膈，布胠，至期門而終。肝氣壅滯，故脹滿不得小便。肝病發驚駭，魂不藏，故臥則多驚，故肝盛則兩胠痛，怒火動則爍肝血，血凝氣壅則肝脹生癰，手不可按，毒聚而未成。若皮現紅紫之色，內膿已成，發越於外之象也。嗜酒之人每多此患，酒入於胃則肝橫膽浮，肝即橫則氣血不能順行，胃中痰濁亦旁流於脅。痰氣血交混，結而為癰。又有閃氣之人，亦生此患。閃則氣滯，而血亦滯，久而不愈，亦發癰瘍。小兒亦見有之。小兒之生，乃因痰熱入於肝絡，先咳嗽而後脅助腫脹，但此症初生，病者因不生癰而醫者總云肝氣，十有八九一派辛香耗氣，迨至脅肋腫脹，姑知生癰。必呼吸不利，轉側不能，手不可按，症明且確，醫者豈可自恃萬能，按脈即曉，以肝氣治，貽誤匪淺。肝火甚者，脈必弦數，挾瘀者脈弦澀，挾痰者脈弦兼滑，治與肝氣迥殊。傷於此者，不知幾何，故諄諄辨論，臨症之時不可不審也。用特列方於後，並錄治驗數則，以便參觀。</p>
<p><u>一方化肝消毒湯</u></p>
<p>當歸　白芍　銀花　黑梔　甘草</p>
<p>此用歸芍入肝滋血，甘草緩肝，梔子清肝，銀花解毒火平肝，緣血生而痛自止。</p>
<p><u>二方柴胡清肝湯</u>　治怒火上升，憎寒惡熱，肝膽風熱瘡瘍。</p>
<p>柴胡　黃芩　甘草　南沙參　川芎　黑梔</p>
<p><u>三方復元通氣散</u>　治閃挫氣血凝滯，腰脅引痛。</p>
<p>小茴香　延胡　陳皮　甘草　炙甲片　白醜　木香</p>
<p><u>四方六味地黃湯</u>　治肝癰潰後發熱，虛羸脈數，服此以滋肝腎。</p>
<p>大生地　山萸肉　澤瀉　丹皮　淮藥</p>
<p><u>五方八珍湯</u>　治肝癰潰久，氣血俱虛，脈弱。</p>
<p>當歸　川芎　白芍　生地　黨參　白朮　茯苓　炙甘草</p>
<p><u>六方清肝活瘀湯</u>　治閃挫脅痛，瘀凝於絡，肋骨腫脹者。</p>
<p>當歸　赤芍　新絳　桃仁　青皮　廣鬱金　參山七　枳殼　蘇根　澤蘭　瓦楞子</p>
<p><u>七方疏肝流氣飲</u>　治肝癰初起，左脅掣痛，呼吸不利。</p>
<p>蘇根　枳殼　通草　廣鬱金　延胡　青皮　佛手　當歸　烏藥　香附</p>
<p><u>八方舒郁滌痰湯</u>　治肝癰六七日後，脅肋微腫，或兼咳嗽，大便不利</p>
<p>香附　當歸　佛手　橘紅　蔞仁　廣鬱金　茯苓　蘇根　枳殼　參三七　半夏　竹茹</p>
<p><u>加味金鈴子散</u></p>
<p>川楝子　延胡　青皮　赤芍　甘草　黑梔　枳殼　通草　橘紅</p>

<h1>肺癰</h1>
<p>肺癰一年，咳吐膿血，發熱脈數，勢入損門，當養陰清痰熱。</p>
<p>南洋參　杏仁　苡米　橘紅　象貝　鮮百部　蛤粉　麥冬　丹皮　花粉　蔞仁　梨片</p>
<p>肺癰咳吐膿血之後，而夜分嗆咳不止，入暮作寒，肢冷體痛，肺胃榮衛皆虛，肝陽不降。宜養肺胃，兼以柔肝。</p>
<p>當歸　炙甘草　首烏　淮牛膝　北沙參　杏仁　橘紅　蛤粉　茯苓　紫菀　淮山藥　榧子</p>
<p>風陽外受，肺胃之痰熱內蘊，咳嗽發熱，胸脅作痛，防成肺癰，急當清降。</p>
<p>薄荷　杏仁　桑皮　通草　茯苓　橘紅　枳殼　川貝　蘇根　蔞仁　枇杷葉　茅根</p>
<p>痰氣蘊結肝肺，咳嗽發熱，痰腥，脅痛，防成肺癰，當以清降。</p>
<p>南沙參　杏仁　百部　蛤粉　川貝　丹皮　橘紅　通草　蔞皮　枇杷葉　竹茹</p>

<h1>漫心癰</h1>
<p>悲哀傷中，氣凝血結，臍上脘下結硬作痛，已成漫心痰。寒熱瀉黃，脈弦，夾有暑邪，殊非小恙。姑擬宣暢氣血，散結化痰之治。</p>
<p>柴胡　葛根　薄荷　鬱金　赤芍　川貝　枳殼　赤芍　青皮　通草　製半夏　荷葉　佛手</p>

<h1>馬刀癧</h1>
<p>勞倦致傷，加復憂思，鬱結頸左右，發為馬刀。堅腫如石，痛掣頭腦，脈細軟，氣血兩虧，生氣日殘，極難調治。姑擬養榮扶土，以化堅結。</p>
<p>川芎　當歸　白芍　熟地　白朮　黨參　炙甘草　茯苓　陳皮　大貝　香附　肉桂　煨姜　紅棗</p>
<p>復診，原方加牡蠣。</p>
<p>血虛肝火，夾痰凝結，頸右發為馬刀結核，堅腫，硬如石，發熱，脈細。症勢極重，宜和榮化痰，緩緩取效。</p>
<p>當歸　淮藥　黨參　香附　北沙參　大貝　石斛　茯苓　佩蘭　製半夏　廣皮　紅棗</p>
<p>脈弦右滑左關且勁，榮陰不足，厥陰氣火內動，夾痰上升，凝結少陽之分。頸右發為馬刀結核，堅腫，治調不易，擬養榮清肝化堅。</p>
<p>川芎　當歸　白芍　生地　製半夏　殭蠶　廣皮　香附　大貝　北沙參　石牡蠣　橘葉</p>
<p>復診加山茨菇。</p>
<p>木鬱較舒，馬刀結硬稍鬆軟，宗前法治。</p>
<p>川芎　當歸　白芍　生地　人參鬚　陳皮　香附　大貝　牡蠣　山茨菇　半夏　遠志　橘葉</p>
<p>鬱怒傷肝，思慮傷脾，痰氣鬱結，頸右馬刀癧，堅腫，頭半掣痛，症勢非輕。宜養榮清肝化痰，更宜屏去塵情，勿怒勿勞為要。</p>
<p>當歸　香附　茯苓　川芎　白蒺藜　白芍　半夏　大貝　牡蠣　杭菊　姜蠶　陳皮</p>
<p>馬刀癧為瘍科，要連投解鬱清肝，頭痛已平，目能啟視，似有轉機。但午後微惡寒熱，痰癧堅腫如故，木鬱不達，宜逍遙散合化堅湯主之。</p>
<p>當歸　白芍　半夏　香附　白蒺藜　柴胡　陳皮　大貝　牡蠣　橘葉</p>
<p>肝氣夾痰，凝結左腋，挾癭馬刀，脹及乳房，焮熱作痛，防其破潰，潰則難愈，宜清肝化痰。</p>
<p>栝蔞　大貝　清半夏　澤蘭　赤芍　殭蠶　夏枯草　當歸　香附　連翹</p>
<p>復診加海藻、青皮、橘葉。</p>
<p>少陽相火夾痰上升，頸右馬刀腫硬，誤施針砭，焮腫益甚，掣痛不休，血出頭暈。症屬不治，勉立一方。</p>
<p>鮮生地　元參　黑梔　大貝　赤芍　羚羊角　麥冬　丹皮　連翹　知母　側柏葉　黃芩</p>

<h1>腎俞發</h1>
<p>黃耆　當歸　首烏　苡仁　花粉　丹皮　綠豆</p>
<p>腎俞發，漫腫不能轉側，呼吸作痛，濕氣化痰。</p>
<p>烏藥　五靈脂　半夏　延胡　赤芍　當歸　桂枝　獨活　秦艽　桑枝　好黃酒</p>

<h1>少腹癰</h1>
<p>少腹癰症有氣血凝滯者，有濕熱流注小腸者，有寒濕鬱結而成者。恙起去夏，少腹梗硬，攻衝作痛。少腹乃廣腸部位，肝脈遊行之所，肝氣拂鬱，寒邪乘之，腸胃之氣火失利，血隨氣阻，日久正虛邪凝愈甚。自冬及春，愈形高腫，色紅而軟，內膿已成，定須外潰。然腸膜受傷，恐糞穢並出，且飲食少進，溲出便閉，內熱舌乾，脈數，陰傷熱鬱，倘大膿後胃氣不蘇，元氣不續，深為可慮。若論瘍科治法，當補托毒之劑，然虛不受補，清則礙脾，治當舍外而從內。議調胃育陰，陰充便自通，胃和而食自進矣！</p>
<p>生首烏　淮藥　柏子仁　茯苓　穀芽　北沙參　廣皮　當歸　玉竹　毛燕</p>
<p>腸癰外潰，已得微膿，且穢從孔出，濁氣外泄，大非所宜，脈象難和，食難漸進，惟慮正氣與濁氣並出，有上下交脫之慮。急當原方加白芍、參鬚、熟地。</p>
<p>腑氣已通，原方加黨參、石斛，去柏子仁、生首烏。</p>
<p>腸癰潰後，膿少氣多，腫平一半，脈靜身涼，一夜神安熟寐，是屬佳兆。黎明之際，外患復增，腫痛，卯時氣虛滯於大腸，邪正交攻腸膜，損傷恐難完固。當陰陽並補，兼以護膜，保無更變乃佳。</p>
<p>潞黨參　懷山藥　炙甘草　象牙屑　茯苓　廣皮　當歸　玉竹　大熟地　白芍　參鬚　黃絲絹</p>
<p>腸癰一月，少腹內硬，拘攣作痛，小溲渾濁如膿。宜化瘀利濕。</p>
<p>萆薢　茯苓　淮膝　赤芍　澤瀉　車前　黃柏　延胡　歸尾　杏仁　蔞仁　藕節</p>
<p>氣血凝滯，少腹硬痛，小溲不爽，寒熱，勢成腸癰，急為流氣化痰。</p>
<p>歸尾　桃仁　延胡索　青皮　山楂肉　枳殼　烏藥　五靈脂</p>
<p>腸癰一年，內膜已傷，形衰脈弱，難治之證。</p>
<p>十全大補丸，又服琥珀蠟礬丸。</p>
<p>腸癰外潰，穢從孔出，腸膜穿破，極難收口。宜十全大補加味主之。加木香、萸肉、黃絲絹。</p>
<p>腸癰內硬較松，膿亦較清，尚宜前法加減。</p>
<p>當歸　鹿角膠　淮牛膝　澤瀉　萆薢　甘草　蒲公英　肉桂　苡仁　赤苓</p>

<h1>縮腳癰</h1>
<p>縮腳癰兩旬，右胯掣痛，兼惡寒熱，急為疏解。</p>
<p>獨活　防風　桂枝　川牛膝　左秦艽　全蠍　五靈脂　赤芍　當歸　半夏　陳酒</p>
<p>縮腳癰三月，右胯掣痛，筋掣，大肉漸瘦，陰分已虧，絡中寒濕不解，勢成殘廢。當養榮溫經通絡。</p>
<p>生地　當歸　獨活　淮牛膝　炮姜　木瓜　天麻　附子　鹿角屑　桑枝　陳酒</p>
<p>濕瘀滯於腸胃，致成縮腳腸癰，右胯拘掣作痛，少腹腫硬，勢將成膿。宜利濕化瘀。</p>
<p>歸尾　赤芍　淮牛膝　茯苓　延胡　桃仁　青皮　生首烏　丹皮　半夏　金銀花　藕節</p>
<p>縮腳癰，腿痛筋吊，急為和榮通絡。</p>
<p>歸尾　川淮牛膝　桃仁　秦艽　威靈仙　桂枝　絲瓜絡　赤芍　紅花　獨活　桑枝　陳酒</p>

<h1>流注</h1>
<p>脈象兩關細弦而右兼澀，脾有濕痰，肝氣大旺，榮衛不利，以致胸腹不舒，腰髀作痛，不能轉側，左肋痰注成漏，間日必服通利之劑，而胸腹頓舒。然取快一時，恐傷胃氣，宜和榮衛化痰，兼平肝木。</p>
<p>當歸　茯苓　黑醜　川楝子　青皮　苡米　陳皮　丹參　淮牛膝　半夏　郁李仁　絲瓜絡</p>
<p>木旺水虧，脾多痰濕，肝風暈厥之疾數年，去冬漸至臥床不起，肝腎血液俱疲。春分後木挾相火用事，濕痰隨風火之氣充斥三焦，眩暈發熱，遍體作痛。疑以舊恙復萌，詎知模骨之旁結為癰毒，約半月有餘，是穴乃肝經部位火濕凝聚絡中所致，肝熱最易上升，濕火熏蒸胃腑，始則發熱譫語，後漸熱退神安。乃濕熱之邪歸併下焦，是外患之見，端非舊恙之復萌也。現已成膿半月，未得更衣，齒乾苔燥，陰傷而濕火不化。症雖屬外，而藥餌尤當治內。幸脈衝和而關微弦象，似可無虞。擬用甘寒育陰，兼和中潤下之治。</p>
<p>南沙參　麥冬　川石斛　大貝　柏子仁　栝蔞仁　苡米仁　茯苓　天花粉　藕　青皮　甘蔗</p>
<p>流注臂臑已成，右腎俞穴結腫，痛難轉側，為患最劇，急為和氣化痰。</p>
<p>蒼朮　烏藥　半夏　全蠍　當歸　川芎　桂枝　蘇葉　赤芍　陳皮　獨活　酒</p>
<p>背俞痰注痛，膿從肋縫而出，難以速愈，兼之發熱面浮，胸腹飽脹，泄瀉，脈滑數，痰濕滯脾症，非輕候，當先其內。</p>
<p>小川樸　茯苓　神麯　砂仁　雞內金　苡米仁　麥冬　枳殼　青皮　生首烏　鮮荷葉</p>

<h1>腎岩</h1>
<p>腎岩乃瘍科惡候，鮮有收功。經治以來，翻花腫硬雖見松輕，究未可恃也。仍宗前法進步。</p>
<p>紅棗　藕　懷山藥　當歸　黃柏　澤瀉　茯苓　知母　麥冬</p>
<p>堅岩腫勢較平，慎防出血，擬方多服保守而已。</p>
<p>懷山藥　當歸　川連　生地　黃柏　赤白芍　澤瀉　龜板　茯苓　知母　烏鯽骨　丹皮</p>
<p>玉莖者，即宗筋也，乃腎臟之主。又十二經絡之總會馬口，端屬手少陰心經。腎臟陰虛火鬱，心肝二臟之火復會於此。始時莖頭馬口癢碎，漸生堅肉，業已年餘。今夏破潰翻花，出數次，火鬱日久，必致外越，血得熱而妄行。經云：實火可瀉，虛火可補。且龍雷之火不宜直折，脈細數，陰分大傷，急當峻補真陰，兼介類潛陽之法。俾龍雷之火得以歸窟，而外患方保無虞。</p>
<p>西洋參　麥冬　丹皮　天冬　小生地　元武板　粉茸　澤瀉　白芍　藕</p>

<h1>脫囊</h1>
<p>脫囊黑腐，溫邪內逼，噦惡泄瀉，脈細，舌白，高年重症，慎防呃脫，先為和中止泄。</p>
<p>川樸　菖根　枳殼　車前子　左金丸　茯苓　藿梗　廣皮　半夏　大腹皮　炙甘草　荷葉　土灶心</p>

<h1>伏兔癰</h1>
<p>伏兔癰漫腫內硬，已延兩月，發熱口乾，脈虛數，宜養溫通經絡。</p>
<p>中生地　淮牛膝　肉桂　當歸　陳皮　炙甲片　黃柏　製半夏　赤芍　甘草　桑枝</p>
<p>伏兔癰潰久，濕熱上升，腮齦口舌糜腐，先為清解。</p>
<p>元參　川毛連　桔梗　連翹　花粉　粉丹皮　甘草　黃芩　靈根</p>

<h1>眼胞痰瘤</h1>
<p>眼胞屬脾，脾氣呆鈍，濕痰濁氣上升，滯於膜里，眼胞痰瘤數年，日漸腫大下垂，將來定須外潰，宜和榮化痰泄濁。</p>
<p>川芎　當歸　南星　桃仁　清半夏　殭蠶　茯苓　陳皮　海藻　大貝　元參　姜</p>
<p>痰瘤漸鬆，前方加白芥子、毛茨菇、荸薺。</p>

<h1>脾肚發</h1>
<p>脾肚發外，潰爛勢大，當以托裡。</p>
<p>當歸　甘草　連翹　銀花　大貝　花粉　黃耆　赤芍　陳皮　綠豆</p>

<h1>腸覃</h1>
<p>脈來左部細弦，右部沉澀，榮血不足，肝氣不強，脾氣不利，氣血與汁沫凝結腸外，結為腸覃，狀如懷子。幸月事仍以時來，法宜養榮，兼流氣化凝治之。</p>
<p>淮牛膝　丹參　川楝子　桃仁　青皮　上肉桂　當歸　烏藥　香附　延胡　瓦楞子　降香片</p>

<h1>胃脘癰</h1>
<p>胃脘癰硬於右，呼吸轉側不能已，半月餘，勢將外潰，宜理氣化痰。</p>
<p>炙甲片　製半夏　延胡　赤芍　生首烏　白茯苓　陳皮　青皮</p>

<h1>舌根癰</h1>
<p>舌根癰硬痛，大便閉，通降法。</p>
<p>生軍　牛蒡子　姜蠶　赤勺　連翹　橘紅　風化硝　元參　薄荷　竹葉</p>

<h1>鶴膝風</h1>
<p>鶴膝風腫痛稍減，宗原治法。</p>
<p>當歸　沒藥　川黃柏　桂枝　淮牛膝　苡米　五加皮　獨活　絲瓜絡　蒼朮　川萆薢　茄皮　桑枝</p>

<h2>附論</h2>
<p>鶴膝風症，前賢以足三陰虧損，風寒濕三氣襲於經隧，其治皆以辛溫開發，宣通經絡。予謂又有不然。若肝腎陰虧，夾濕熱者，豈可以辛溫例治，如的系三氣雜成，宗右法。又有濕痹一症，與鶴膝風相似，不可不明辨也。痹則兩膝腫痛，或足踝不腫，雖三月五月之久而腿肉不消，筋脈不拘，鶴膝則二月後大肉枯細，屈不能伸，以此為辨。而治法亦殊。痹症屬實，鶴膝夾虛，有單有雙，如肝腎陰虧，陽明濕熱下注，膝腫熱痛。若進辛溫，是助其熱，虧其陰，必致腫潰為敗症。始宜通絡利濕，繼以養陰清絡。若初起腫痛，按之不熱，雖寒熱者以萬靈丹汗之，用獨活滲濕湯、防己桂枝湯。日久腿足枯細者，古之大防風湯、勝駿丸、三痹湯等方選用。脈見細數，雖風寒濕之症，過餌溫熱，恐濕寒化熱，亦致釀膿。憑脈用藥，認症分濕與熱，最為的當。至外治者諸方，詳載於後。</p>
<p><u>一方通絡利濕湯</u>　治鶴膝腫熱作痛。</p>
<p>大豆卷　防己　赤芍　秦艽　川牛膝　川萆薢　乾地龍　歸鬚　黃柏　白茄根　桑枝</p>
<p><u>二方養陰清絡飲</u>　治鶴膝腫熱日久，夜分痛甚者。</p>
<p>炙鱉甲　秦艽　黃柏　炙龜板　地龍　川石斛　獨活　赤芍　川牛膝　當歸　川萆薢　苡米仁　桑枝</p>
<p><u>三方獨活湯</u>　治鶴膝風因風寒濕。初起腫痛寒熱者。</p>
<p>獨活　防風　蒼朮　黃柏　當歸　秦艽　防己　萆薢　赤芍　川牛膝</p>
<p><u>四方防己桂枝湯</u>　治寒濕鶴膝初起，腫痛無熱者。</p>
<p>桂枝　川萆薢　獨活　秦艽　川牛膝　白茄根　木防己　赤芍　蒼朮　炙沒藥　全當歸　炒桑枝</p>
<p><u>五方防風湯</u>　治三陰不足，風邪乘之，兩膝作痛，膝腫而腿細。</p>
<p>潞黨參　黃耆　熟地　木防風　懷牛膝　熟附子　甘草　羌活　川芎　生白朮　全當歸　川杜仲　桑枝</p>
<p><u>六方獨活寄生湯</u>　治肝腎虛，風濕入絡，足膝掣痛痹。</p>
<p>獨活　雲茯苓　防風　大生地　桑寄生　細辛　秦艽　川芎　大白芍　桂心　人參　杜仲　當歸　懷牛膝　生甘草</p>
<p><u>七方三因勝駿丸</u>　治鶴膝風，膝腫腿細，手足寒攣，走注疼痛，三陰不足，寒濕氣侵者。</p>
<p>熟地　附片　當歸　蓯蓉　破故紙　蒼朮　全蠍　檳榔　懷牛膝　萆薢　乳香　木香　射干　炙沒藥　木瓜　防風　天麻　棗仁　川羌活　巴戟肉</p>
<p>上藥為末，爛蜜法丸。</p>
<p><u>八方三痹湯</u>　治寒濕痛痹，膝踝腫脹，三陰不足。</p>
<p>川芎　當歸　白芍　生地　防風　秦艽　黃耆　茯苓　炙甘草　牛膝　獨活　川杜仲　桂心　細辛　羌活　續斷　黨參</p>
<p><u>九方史國公藥酒</u>　治手足拘掣，半身不遂，或腿膝痹痛，鶴膝等症。養血祛風，壯骨，健脾滲濕。</p>
<p>羌活（二兩）　防風（二兩）　白朮（二兩）　當歸（二兩）　川萆薢（二兩）　杜仲（二兩）　松節（二兩）　虎骨（二兩）　杞子（二兩）　蠶沙（二兩）　秦艽（四兩）　鱉甲（二兩）　茄根（八兩）　蒼耳（四兩）　川牛膝（二兩）</p>
<p>上藥用好陳酒三十斤煮服。</p>
<p><u>外治丹散</u></p>
<p><u>洪寶丹</u>　治膝蓋腫痛而熱，皮色不變，用蔥湯調敷。</p>
<p><u>地骨皮散</u>　治鶴膝腫熱痛甚者，用車前子草打汁調敷。</p>
<p><u>沖和膏</u>　治膝腫而潮熱者，用醋調敷。</p>
<p><u>鶴膝散</u>　治鶴膝因受風濕腫者。</p>
<p>白芷（四兩）　陳酒（二十兩）</p>
<p>煎稠去渣，以筆醮酒塗。</p>
<p><u>香桂散</u>　此散治一切風寒濕氣，筋骨疼痛。溫經通絡，摻膏藥上貼之。</p>
<p>生附子（二錢）　麝香（二分）　川烏（二錢）　細辛（二錢）　木香（二錢）　炙沒藥（二錢）　肉桂（二錢）　草烏（二錢）　丁香（二錢）　樟冰（二錢）　</p>
<p>共為細末，隨症聽用。</p>

<h1>麻風論</h1>
<p>麻風古稱癘風。癘者，榮氣熱，臟氣不清，故使鼻柱壞而色敗，肌膚瘍腐，風寒客絡脈而不去，名曰癘風。方書俱以風藥混治，又無先後之分，並有蘄蛇、虎骨、山甲走竄，蜈蚣溫而有毒，服之未有不焮發者。予閱歷多多，是症風濕、濕毒、毒癘諸種，有肌表經絡之殊。肺司皮毛，胃主肌肉，肺虛則腠理不密，胃氣薄則肌肉疏豁，易於觸受，或暴露陰濕晦霧，或坐臥濕地，氣血滯而不行。初起一點麻木，不知痛癢，毛竅閉塞，汗孔不透，漸次延及遍身，斑如雲片，微微扛起，或白或紅。然在上者多風，風為陽邪，陽從上受，白而紅者風兼熱也。在下多濕，濕為陰邪，從下襲紅而扛者，濕兼熱也。毒癘則由口鼻吸入，陽明獨受其邪，血壅熱蒸，初起身麵疙瘩成塊，扛起日久，腳指常起疱，鼻柱壞，節脫氣移，肌膚瘍腐。始時均宜汗解，開通腠理，用萬靈丹汗之。風勝者消風散、蒺藜丸，濕勝者苦參丸、滲濕湯。毒甚者雙解散、通聖散、羚羊角散、解毒湯俱可選用。以上皆發於肌表。肺胃受病居多，若在經絡則四肢指節作麻，拘掣肉削，日久足破掌穿，上部面頰麻木，口喎，目淚眼翻，皆風濕入於經絡之見證。初起亦宜汗解，次以蒺藜丸、苦參丸、消風散、利濕湯、通經湯選用，忌辛辣炙煿酒醋等物，避風雨，戒房幃。十中猶可保全六七，病者勿以初起而忽諸。</p>
<p><u>萬靈丹</u>　治癰疽諸發等瘡，初起憎寒壯熱，渾身拘急疼痛，並治癘風，麻木不仁。</p>
<p>茅朮（二兩）　何首烏（二兩）　羌活（二兩）　荊芥（二兩）　明雄黃（六錢）　甘草（一兩）　川石斛（一兩）　川烏（二兩，薑汁炒去皮尖）　全蠍（炙，一兩）　防風（一兩）　細辛（一兩）　全當歸（一兩）　硃砂（六錢）　麻黃（一兩）　明天麻（一兩）</p>
<p>上藥細末，煉蜜為丸，硃砂為衣，每服一錢。用蔥頭兩枚，豆豉三錢，煎湯下，服後進以稀粥，助令汗出。避風寒，忌生冷，戒房事，孕婦忌之。此方屢試屢驗，故有萬靈之名。</p>
<p><u>防風通聖散</u>　此足太陽陽明藥也。外為六淫所傷，氣血怫鬱，表裡丹斑，癮疹癘風，腫塊紅熱服之。</p>
<p>防風（二兩）　荊芥（二兩）　連翹（二兩）　麻黃（二兩）　薄荷（二兩）　川芎（二兩）　歸鬚（二兩）　赤芍（二兩）　白朮（二兩）　山梔（二兩）　大黃（二兩）　芒硝（二兩）　黃芩（四兩）　石膏（四兩）　桔梗（四兩）　滑石（八兩）</p>
<p>上藥為末，蜜水泛丸，服三錢，開水下。</p>
<p><u>雙解散</u>　治陽明吸受毒癘，觀面四肢腫起塊，唇翻目紅，多淚，用此發表攻裡，大便實者宜之。</p>
<p>大黃（三錢）　金銀花（三錢）　元參（二錢）　防風（一錢）　荊芥（一錢）　甘草（一錢）　連翹（二錢）　熟石膏（四錢）　花粉（二錢）　甘菊花（三錢）　黃芩（錢半）　赤芍（錢半）　淡竹葉（三十片）</p>
<p>上藥水煎服。</p>
<p><u>羚羊角散</u>　治肺胃吸受毒癘，斑紅作腫，目赤淚多，四肢筋脈作痛，體虛者宜之。</p>
<p>羚羊片（錢半）　元參（二錢）　知母（錢半）　川黃柏（一錢）　連翹（錢半）　馬齒莧（三錢）　赤芍（一錢）　甘草（五分）　杭菊（錢半）　蟬衣（八分）　白蒺藜（三錢）　荊芥（一錢）　浮萍（三錢）</p>
<p>上藥水煎服。</p>
<p><u>育陰化癘湯</u>　治陰虛濕熱，毒癘蒸於陽明，斑紅腫，脈虛數，不勝攻表者。</p>
<p>南沙參（三錢）　當歸（錢半）　甘草（五分）　大胡麻（三錢）　赤芍（一錢）　甘菊（錢半）　白蒺藜（三錢）　米仁（四錢）　荊芥（一錢）　浮萍（錢半）　川石斛（三錢）　馬齒莧（三錢）</p>
<p>上藥水煎服。</p>
<p><u>苦參丸</u>　治麻風發於腿足，云斑麻木，或紅或白。</p>
<p>苦參（二錢）　川牛膝（四兩）　蒼朮（四兩）　荊芥（六兩）　當歸（四兩）　甘草（二兩）　浮萍（四兩）　豨薟草　楓子肉（二兩）</p>
<p>炒黑漿丸。</p>
<p><u>滲濕湯</u>　治麻風下部發斑，或踝跗腫脹，指掌起泡，漏蹄等症。</p>
<p>蒼朮（錢半）　當歸（二錢）　川牛膝（錢半）　苡仁（四錢）　萆薢（二錢）　甘草（八分）　黃柏（錢半）　澤瀉（錢半）　五加皮（錢半）　苦參（錢半）　大胡麻（三錢）</p>
<p><u>利濕通經湯</u>　治四肢麻木，指節拘掣。</p>
<p>威靈仙（一錢）　桑枝（三錢）　當歸（二錢）　秦艽（五錢）　蠶沙（三錢）　豨薟草（錢半）　甘草節（八分）　苦參（一錢）　蒼朮（一錢）　苡仁（三錢）　大胡麻（一錢）　五加皮（錢半）　川牛膝（錢半）　川續斷（錢半）</p>
<p><u>養血祛風湯</u>　治麻風塊斑退，汗孔未透，服之和榮順氣，以達肌表。</p>
<p>川芎（八分）　烏藥（八分）　秦艽（錢半）　甘草（八分）　大胡麻（三錢）　當歸（二錢）　丹參（錢半）　雲苓（二錢）　川斷（錢半）　萆薢草（錢半）　蒼耳子（錢半）　白蒺藜（三錢）　白朮（一錢）　桑枝（三錢）</p>
<p><u>解毒湯</u>　治麻風面腫，腥而出水，掌穿臭穢，足腐腫脹者。</p>
<p>黃柏（一錢）　丹參（二錢）　雲茯苓（二錢）　川萆薢（二錢）　川牛膝（錢半）　澤瀉（錢半）　花粉（二錢）　赤芍（錢半）　小生地　粉甘草（一錢）　大木通（一錢）　馬齒莧（三錢）　桑枝（四錢）</p>
<p><u>消風散</u>　治癧風身面白斑，麻木，汗孔不開，起於面者，乃肺經受毒。</p>
<p>荊芥（一錢）　當歸（五錢）　防風（一錢）　苦參（一錢）　白芷（八分）　川芎（五分）　甘菊（錢半）　蒺藜（三錢）　浮萍（一錢）　大胡麻（三錢）　蔓荊子（五錢）</p>
<p><u>蒺藜丸</u>　治癧風身面白斑，或微紅扛起，肺胃受毒。</p>
<p>白蒺藜（一兩）　苡米（四兩）　防風（四兩）　干浮萍（四兩）　蒼朮（四兩）　川牛膝（四兩）　黃芩（四兩）　大胡麻（一兩）　荊芥（四兩）　當歸（四兩）　苦參（一兩）　赤芍（四兩）　甘菊（四兩）　楓子肉（二兩，炒黑）</p>
<p>上藥研末，水泛為丸，每服三錢，毛尖茶送下。</p>

<h1>雞胸龜背</h1>
<p>雞胸龜背，古方書列於一門，未能條分縷晰，治法甚略。予按：雞胸發於肺，龜背則肝脾腎肺皆有之。肺位最高，處於胸中，積而生熱，肺氣上浮，胸骨高起，是為雞胸。咳嗽或無，氣粗必見，日久羸瘦，發熱毛焦，唇紅面赤，即成氣疳之候。氣疳者，即肺疳也，宜清降肺氣，氣降痰消，胸骨自平。又有雞胸龜背併發者，肺有痰熱，客風從風門而入於肺，其背庀於脊之第三椎，乃肺氣壅遏，胸背之骨撐凸而起。有單脊凸而胸不高者，其候短氣頭低，兼咳嗽，腰背板強，久則兩足軟弱，甚至不能站立。肺為腎母，腎為肺子，清肅不降，腎水不生，肺虛不能榮運，臟腑灌溉經絡，上元竭而下源憊。經云：所謂肺熱葉焦，為痿躄是也。雖然下枯，還當治肺，肺氣清肅，金來生水，子受其蔭矣。古方之龜胸丸用硝黃，未免傷其正氣。龜背，之用六味鹿茸，奈地萸之滯膩，鹿茸之助陽，非不中病，必致增劇。且肺為清虛之臟，病在上者只可輕清。余經驗數方錄後，以為後學者參考，非可云法，聊補前人之未備耳。</p>
<p><u>枇杷葉膏</u>（自制）　治雞胸及龜背，肺俞脊庀發熱，咳嗽，氣粗喘促，呼吸有痰音者，其葉氣味俱薄，肺胃二經之藥清肺降氣，開胃消痰。</p>
<p>鮮枇杷葉五斤，拭去毛，煎濃汁去渣濾清，熬至稠厚，加冰糖十兩，溶化收膏。</p>
<p><u>清肺飲</u>（自制）　治雞胸內有痰熱，兼受外風者。</p>
<p>杏仁（二錢）　蘇梗（一錢）　栝蔞皮（三錢）　川貝母（一錢）　橘紅（一錢）　桑葉（一錢）　枳殼（八分）　枇杷葉（三錢，去毛）　牛蒡子　桔梗（一錢）</p>
<p><u>加味瀉白散</u>（自制）　治雞胸氣粗身熱。</p>
<p>桑白皮（二錢）　蘇梗（一錢）　川貝母（一錢）　橘紅（一錢）　甘草（三分）　栝蔞皮（三錢）　杏仁（二錢）　地骨皮（錢半）　茯苓（二錢）　雪梨（三片）</p>
<p><u>加味白薇湯</u>（自制）　治肺胃痰熱壅於膈上，身熱咳嗽，氣粗痰鳴，口乾作渴。</p>
<p>白薇（二錢）　蔞仁（三錢）　橘紅（一錢）　杏仁（二錢）　象貝（二錢）　丹皮（五錢）　桑白皮（二錢）　青蒿（一錢）　竹茹（一錢）　浮石（三錢）　雪梨（三片）</p>
<p><u>麥冬湯</u>（自制）　治肺虛有熱，胃有濕痰。</p>
<p>南沙參（三錢）　麥冬（二錢）　橘紅（一錢）　栝蔞皮（三錢）　蛤粉（二錢）　清半夏（一錢）　川貝（一錢）　茯苓（二錢）　苡米（三錢）　竹茹（六分）</p>
<p><u>補肺清金飲</u>（自制）　治雞胸龜背，脈虛數，身熱少食者。</p>
<p>淮山藥（三錢）　北沙參（三錢）　麥冬（二錢）　杏仁（二錢）　蔞皮（三錢）　茯苓（二錢）　橘紅（一錢）　川石斛（三錢）　毛燕（二錢）　蓮子（十粒，去心）　大貝（二錢）</p>
<p><u>金水平調散</u>（自制）　治雞胸龜背，內無痰，腳弱不能站立。</p>
<p>麥冬（二錢）　茯苓（二錢）　女貞子（三錢）　料豆（三錢）　玉竹（三錢）　當歸（錢半）　毛燕（三錢）　懷牛膝（錢半）　旱蓮草（錢半）　北沙參（三錢）　淮山藥（二錢）　桑寄生（三錢）　紅棗（三個）</p>

<h1>龜背庀</h1>
<p>龜背乃先天腎虧，冷風入脊，或痰飲攻注，或閃挫折傷，或腎肝虛熱，嬰兒脊骨柔脆，強坐太早，皆能致之。背之中行屬於督脈，旁開則足太陽膀胱，與腎為表裡。腰為腎之外廓，腎臟虧虛，膀胱之府焉能自足。督脈為陽脈之海，其為病也，腰似折，髀不可以曲，督脈與膀胱之經皆取道於脊，一著風寒濕邪，則經氣不行，腰脊板強，漸至脊庀成為龜背庀。於脊之第三椎者，肺臟受病已評於前，庀於第五椎以下者，厥陰肝經受病，十椎十一椎者，屬太陰脾經，十二椎以下者，足少陰腎。其在肝者，脊背強痛，牽引脅肋，肝脈布於兩脅也。疏肝流氣飲。若兼咳嗽氣粗，必兼治肺，在脾經者始悠悠腹痛，始所不覺，三日五日一作，三五月後腰背漸強，脊漸凸，行則傴僂，溫脾飲主之。亦有腹不痛者，和脾通絡散。在腎者，腰脊強痛，痛引股腿，日久精血衰奪，筋骨不榮，兩足癱軟，獨活湯、安腎丸主之。若痰飲攻注，兼於經隧而脊凸者，久之必發陳痰，脊兩旁作腫，或串腰腿，漫腫不痛，脈象雙弦，或兼緩滑，二陳竹茹湯。虛羸食少發熱者，六君子湯合何首烏鱉甲煎。若肝腎虛熱，陰精被耗，骨枯髓減，宜以地黃湯合二至丸。閃挫折傷，必瘀血凝滯經絡，當活血通經絡。但此症治之貴早，用藥得宜，猶可保全，若成痰外潰，十無一愈。今之治者見脊庀腰背作強，總屬虛寒，不分何臟，不究所因，一概溫補。邪留不去，痰濕不行，變成殘廢，枉致夭亡者多多矣。有嗜欲傷腎之人，精衰血憊，腰痛脊庀者，非溫補三陰不可。然宜辨陰中水虧、火虧，蓋為水臟，在卦為坎，而真陽寓焉。水虧者，補元煎、左歸丸之類，火虧者，歸腎丸、贊化血餘丹之類。填精養血，俾精來生氣，氣來生陰，精血充旺，庶無痿廢之虞。</p>
<p><u>一方疏肝流氣飲</u>　治風冷著於肝俞五六椎，兩旁作痛，牽引脅肋。</p>
<p>當歸（二錢）　丹參（二錢）　白蒺藜（三錢）　烏藥（八分）　茯苓（二錢）　秦艽（錢半）　川斷肉（五錢）　紅花（錢半）　橘絡（八分）　老薑（一片）</p>
<p><u>清肺和肝飲</u></p>
<p>杏仁（二錢）　橘絡（八分）　雲茯苓（二錢）　枳殼（八分）　佛手（錢半）　栝蔞皮（二錢）　丹參（錢半）　蒺藜（錢半）　當歸（錢半）　秦艽（錢半）　川楝子（切，錢半）</p>
<p><u>溫脾飲</u>　治寒客太或痰滯於脾，肚腹悠悠作痛，腰瘀傴僂。</p>
<p>當歸（錢半）　焦白朮（一錢）　茯苓（二錢）　烏藥（八分）　小茴香（八分）　延胡（錢半）　姜半夏（一錢）　白芍（錢半）　炙草（四分）　川厚朴（一兩）　川續斷（錢半）　煨生薑（二片）</p>
<p><u>和脾通經湯</u>　治脾俞脊庀，兩旁作痛，行則傴僂，腰脊板強。</p>
<p>當歸　木香　丹參　秦艽　焦白朮　獨活　川續斷　紅花　淮牛膝　桑枝　姜</p>
<p><u>獨活湯</u>　治寒客腎與膀胱之經，腰脊痛引股腿。</p>
<p>獨活（一錢）　秦艽（五錢）　炙沒藥（八分）　懷牛膝（錢半）　五加皮（錢半）　當歸（錢半）　丹參（錢半）　巴戟肉（錢半）　川續斷（錢半）　狗脊（三錢）　廣木香（四分）　紅棗（三個）　桑枝（三錢）</p>
<p><u>安腎丸</u>　治腎虛脊庀，足痿疼痛。</p>
<p>鹿角霜（三錢）　焦白朮（錢半）　肉桂（三分）　當歸（二錢）　川續斷（錢半）　獨活（八分）　懷牛膝（五錢）　大生地（三錢）　菟絲子（五錢）　巴戟肉（錢半）　紅棗（三個）　桑枝（三錢）</p>
<p><u>導痰湯</u>　治濕痰攻注，背俞脊庀作痛，脈小滑者。</p>
<p>製半夏（錢半）　陳皮（一錢）　木香（四分）　當歸（二錢）　獨活（一錢）　五加皮（錢半）　生白朮（錢半）　淮牛膝（錢半）　川芎（八分）　竹茹（八分）　生薑（一片）</p>
<p><u>首烏鱉甲煎</u>　治龜背虛羸，食少發熱者。</p>
<p>生首烏（三錢）　焦冬朮（錢半）　茯苓（二錢）　炙鱉甲（四分）　生薑（二片）　甘草（四分）　東洋參（錢半）　姜半夏（錢半）　陳皮（一錢）　紅棗（三枚）</p>
<p><u>活血通經湯</u>　治閃挫折傷，腰痛脊庀者。</p>
<p>當歸（二錢）　延胡（錢半）　生地（二錢）　丹參（二錢）　木香（四分）　獨活（一錢）　桃仁（錢半）　炙沒藥（一錢）　紅花（五分）　淮牛膝（五錢）　桑枝（三錢）</p>
<p><u>地黃二至丸</u>　治肝腎陰虛生熱，背庀足弱，小溲不利者。</p>
<p>大生地（二錢）　女貞子（三錢）　澤瀉（錢半）　懷山藥（二錢）　當歸（錢半）　懷牛膝（錢半）　旱蓮草（錢半）　丹皮（一錢）　川斷（錢半）　桑枝（三錢）</p>
<p><u>加減左歸飲</u>　治真陰不足，不能滋養榮衛，腰痠痛。</p>
<p>大熟地（四錢）　龜板膠（錢半）　山萸肉（錢半）　雲茯苓（二錢）　菟絲子（三錢）　鹿角膠（錢半）　懷山藥（二錢）</p>
<p><u>加減右歸飲</u>　治三陽不足，腰腿冷，足弱。</p>
<p>熟地黃（四錢）　杞子（二錢）　肉桂（三分）　杜仲（三錢）　當歸（二錢）　菟絲子（三錢）　萸肉（錢半）　懷牛膝（五錢）</p>
<p><u>贊化血餘丹</u>　此丹大補氣血，壯筋養骨，有培元贊育之功。</p>
<p>血餘（三錢）　熟地黃（四錢）　鹿角膠（五錢）　桃肉（二枚）　小茴香（八分）　杜仲（三錢）　柑子（二錢）　老臺人參（三錢）　雲茯苓（二錢）　巴戟肉（二錢）　蓯蓉（三錢）　菟絲子（二錢）　生首烏（三錢）　當歸（二錢）</p>

<h1>風注</h1>
<p>風注一症，古書未載，頭額間忽然腫起，軟似綿，大如饅頭，木不知痛，按之似有癢狀，此風入腠理，衛氣滯而不行。有腫及頭半者，宜以萬靈丹汗之，內服疏風流氣飲，外以洪寶丹敷之，五七日即消散而愈。予見有腫而日久不消者，醫者疑其膿，遂用刀針竄空半頭，未能收功。凡遇此者，禁用刀針，極宜慎之。</p>
<p><u>疏肝流氣飲</u></p>
<p>青防風（一錢）　川撫芎（八分）　陳皮（一錢）　炒殭蠶（錢半）　甘草（五分）　赤芍（一錢）　荊芥穗（一錢）　全當歸（錢半）　白芷（八分）　菊花（錢半）　烏藥（八分）　蔥白頭（三個）</p>
<p>恙因折傷，起見瘀血凝滯，腳跟疽外潰兩月，腫脹不消，防成多骨，宜養血化毒。</p>
<p>當歸　赤芍　川萆薢　川貝母　苡米　陳皮　澤瀉　忍冬藤　生首烏　懷牛膝　甘草　桑枝　紅棗</p>
<p>復診</p>
<p>當歸　生首烏　牛膝　雲茯苓　苡米　川萆薢　大貝　忍冬藤　赤芍　粉甘草　廣皮　甜冬朮　桑枝　紅棗</p>
<p>足跟疽潰久，竄及內踝，又將破潰，夜分發熱，汗出即解，虛中夾邪，先為和解。</p>
<p>生首烏　炙鱉甲　當歸　川貝母　威靈仙　雲茯苓　製半夏　廣皮　青蒿　柴胡　炙甘草　生薑　棗</p>
<p>濕熱下注，小便後白濁點滴，法以分清。</p>
<p>川萆薢（三錢）　黃柏（淡水炒，八分）　炒知母（錢半）　赤苓（三錢）　遠志（八分）　澤瀉（鹽水炒，二錢）　茅朮（八分）　石菖蒲（五分）</p>
<p>別服威喜丸（白濁最妙，每服三錢）</p>
<p>久患小便淋滴近帶，白濁綿綿，氣化失職，濕熱下墜。擬開太陽法。</p>
<p>桂枝（三分）　白朮（八分）　豬苓（二錢）　赤苓（二錢）　澤瀉（二錢）</p>
<p>淋濁不止，陰頭碎癢不時，腎虛濕熱不化，滿身筋骨微痛。</p>
<p>大生地（四錢）　茯苓（三熱）　懷山藥（二錢）　澤瀉（錢半）　丹皮（錢半）　益智仁（八分）　五味子（炒，四分）　麥冬（五錢）　萸肉（錢半）　蓮子（五粒）</p>
<p>濕熱下注，小便渾濁如膏，遇勞即發，五淋中之勞淋是也。</p>
<p>黃柏（八分）　知母（錢半）　赤白苓（各二錢）　海金沙（三錢）　澤瀉（二錢）　石菖蒲（五分）　田字草（即河邊頭四瓣如田字，或彷彿如烏菱丘）</p>
<p>脊曳痠痛，時時遺泄，督脈交虧也。</p>
<p>沙苑子（二錢）　茯苓（三錢）　金櫻子（錢半）　遠志（八分）　黃柏（三錢）　歸身（二錢）　牡蠣（錢半）　山藥（三錢）　萸肉（錢半）</p>
<p>夢泄頻頻，心腎不交故也。宜清心寡慾為安。</p>
<p>製半夏（錢半）　米仁（三錢）　棗仁（二錢）　穭豆衣（三錢）　茯苓（三錢）　橘白（三錢）　金櫻子（三錢）　左牡蠣（四錢）　遠志（炒，一錢）　蓮子（七粒）</p>
<p>陽物作痛而脹，總是膀胱濕未清。</p>
<p>川萆薢（三錢）　黑梔（二錢）　甘草梢（四分）　瞿麥（錢半）　木通（八分）　澤瀉（錢半）　車前子（三錢）　牛膝梢（錢半）　赤白苓（各二錢）　淡竹葉（一錢）</p>
<p>小溲痛，或有瘀腐，漸化濕火。</p>
<p>冬葵子（二錢）　秋石（四分）　扁蓄（錢半）　甘草梢（四分）　牛膝梢（錢半）　川黃柏（一錢）　龍膽草（六分）　赤白苓（各二錢）　寒水石（錢半）　淡竹葉（一錢）　大淡菜（二隻）</p>
<p>火鬱於膀胱，下為癃閉。</p>
<p>細生地（四錢）　竹葉（一錢）　甘草梢（四分）　車前子（三錢）　牛膝梢（二錢）　赤芍（錢半）　麝香（沖，二釐）</p>
<p>濕熱溺血。</p>
<p>川萆薢（三錢）　車前子（三錢）　茯苓（二錢）　小薊炭（二錢）　麥冬（錢半）　蓮肉（七粒）　甘草梢（四分）</p>
<p>按：疏肝流氣飲以下各案，皆屬補遺。</p>
