<header data-type="book">
<h1>丹溪脈訣指掌</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉吉人</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>右手足六經脈</h1>
<p>尺（手少陽三焦脈洪散而急手厥陰胞絡脈沈弦而散）關（足陽明胃脈浮長而滑足太陰脾脈沈軟而滑）寸（手陰明大腸脈浮短而滑手太陰肺脈澀短而滑）</p>

<h1>左手足六經脈</h1>
<p>尺（足太賜膀胱脈洪滑而長足少陰腎脈浮濡而滑）（一作沈濡）關（足少陰膽脈弦大而浮足厥陰肝脈弦細而畏）寸（手太陰小腸脈洪大而緊手少陰心脈洪而微實）此陰陽六經脈之常體及其消息盈虛則變化不測運動密稀與天地參同彼春之暖為夏之暑彼秋之燥為冬之怒四變之動脈與之應者乃氣候之至脈也</p>

<h1>辨五臟內傷七情於氣口說</h1>
<p>右手關前一分為氣口者以候人之臟氣鬱發與氣兼併過與不及乘克傳變必見於脈者以食氣人胃淫精於脈脈皆自胃出故候於氣口經曰五臟皆稟於胃胃者五臟之本氣不能自致於手太陰必因胃氣而至邪氣勝胃氣衰則病甚胃氣絕真臟脈獨見者則死</p>

<h1>辨七情郁發五臟變病法</h1>
<p>春肝　弦　肝病弦</p>
<p>夏心　洪　心病洪</p>
<p>假如長夏脾脈濡濡多胃少曰脾病但濡無胃氣者死</p>
<p>秋肺　澀　肺病　澀</p>
<p>冬腎　沈　腎病　沈</p>
<p>天地草木無土氣不生人無胃氣則死冒氣脈者利緩不迫之狀也</p>
<p>春　澀　秋　澀</p>
<p>夏　沈　冬　沈</p>
<p>若其（乘克相勝雖有胃氣）而長夏有弦脈微見者春必病弦甚者為令病</p>
<p>秋　洪　長夏　洪</p>
<p>冬　濡　夏　濡</p>

<h1>辨五臟過不及之為病</h1>
<p>親夫太過不及之脈之大要迫近而散不可失機審而調之為上士矣學者不可不察也</p>
<p>春肝脈合浮細而長太過則實強令人善怒心忽眩冒喘疾不及則微而虛令人胸痛引背脅胠滿</p>
<p>夏心脈合洪而微實太達則來去皆盛令人耳熱膚痛為浸淫不及則如烏之喙令人九竅不通名曰重強</p>
<p>長夏脾脈合沈而濡長太過則如水之流令人四肢不舉不及則來不盛去盛令人心煩上咳唾下泄氣</p>
<p>秋肺脈合浮而短澀太過則中堅旁虛令人通氣背痛慍慍然不及則毛加微令人呼吸少氣喘有聲</p>
<p>冬臂脈合沈實而聚太過則有如彈石令人解背脊痛少不能言不及</p>
<p>則來去如數令人心懸如飢䏚中清脊痛（少腹滿小便澀）</p>

<h1>辨五志脈</h1>
<p>人之五臟以配五行金木水火土以養魂神意魄志而生怒喜思憂恐故因怒則魂門不安（弛張）木氣奮激（剋土）肺心乘之脈見弦澀澀者金也應於（氣口左關）</p>
<p>喜則神廷融溢火氣赫義腎水乘之脈見沈散沈者水也應於（氣口左寸）</p>
<p>思則意舍不寧土氣凝結肝木乘之脈見弦弱弦者木也應於（氣口右關）</p>
<p>憂則魄戶不閉金氣澀緊心火（剋水）乘之脈見洪短洪者火也應於</p>
<p>（氣口右寸）</p>
<p>恐則志室不遂水氣旋卻脾上（剋火）乘之脈見沈緩者緩土也（或濡濡亦土也）應於（氣口左尺）</p>
<p>此蓋五情以不正侮所不勝經所調不恆其德恃其能乘而侮之甚則所勝來復侮反受邪此之謂也凡怒則魂門弛張木氣奮激侮其脾土甚則土之子金乘其肝之侮土之隙虛來復母仇克其肝木是侮反受邪肝脈反澀者金也是猶吳王夫差之爭盟侮楚空國而出精銳悉行越王乘其虛而伐之遂以破吳吳本侮楚反為越破侮反受邪即此義也脈應於氣口左關弦澀</p>
<p>其金木水人土皆仿此解</p>
<p>凡悲則傷肺故肺脈自虛經曰悲則氣結脈虛心火來乘金氣自虛故悲則淚下或因風寒飲食之氣上逆留於胸中留而不去久為寒中或曰肺金乘肝本而為淚故悲則右寸脈虛</p>
<p>凡驚則氣亂驚則肝氣散亂乘其脾土故小見驚則瀉青大人驚則面青者肝血亂而下降故青其肝脈亦亂一日驚則肝氣乘必故大驚者心脈易位向裹驚氣入心者多尿血也脈應於氣口左關散亂</p>
<p>傅援勝克流變又當詳而論之故經云五臟受氣於其能生傅之於其所勝氣舍於其所生死於其所不勝如</p>
<p>肝受氣於心傅之於脾氣舍於腎至肺而死</p>
<p>心受氣於脾傅之於肺氣舍於肝至腎而死</p>
<p>脾受氣於肺傅之於腎氣舍於心至肝而死</p>
<p>肺受氣於腎傅之於肝氣舍於脾至脅而死</p>
<p>腎受氣於肝傅之於心氣舍於肺至脾而死則知</p>
<p>肝死於肺候之於秋庚曰篇辛曰死舌卷囊縮申酉時絕</p>
<p>心死於腎候之於冬壬曰篇癸曰死麵青如黑子亥時絕</p>
<p>脾死於肝候之於春甲日篤乙日死肉滿唇反寅卯時絕</p>
<p>肺死於心候之於夏丙日篤丁日死皮枯毛折巳午時絕</p>
<p>腎死於脾候之於（四季長夏）戊日篤巳日死（齒長而枯發無潤澤）於（辰戍丑未）時絕</p>
<p>凡一日之中又分五時以別死時之早晏如脾病甲乙日寅卯時死以脾為土死於屬木之時也木剋土也此內傷病之傅次也暴病不拘於此或傅化不以次入者乃憂恐悲思喜怒驚七情並傷於令不得以次傅也所以令人暴病暴卒也此五臟傳變之指要學者不可不知</p>

<h1>辨六淫外傷六經受病於人迎說</h1>
<p>友手關前一分為人迎者以候天之寒暑燥淫風火中傷於人其邪自經絡而入以迎納之故曰人迎前人謂感邪皆自太陰始此說似乎不然者尋經義皆言風善傷肝自少陰膽經而入熱善傷心始自手太踢小腸而入淫善傷脾自足陰明胃經而入燥善傷肺自手陰明大腸而入寒善傷腎自足太陰膀胱而入暑善傷心胞絡自手少陰三焦經入凡此皆同氣相求物以類聚之理先表後裹先腑後臟由淺及深也以是知病所後來也經云修己以俟天所以立命也上古之人調其臟氣而淫邪不入令之人七情擾其臟氣而六淫乘虛以傷之故先列七情內傷之脈於前而列六淫外感於後也</p>
<p>足太陰傷寒脈人迎與左尺皆浮緊而盛浮者足太陰脈也緊者傷寒脈也盛者病進也其症頭項腰脊痛強無汗惡寒</p>
<p>足陰明傷混脈人迎與右關皆澀細而長（一作濡緩）澀者足陰明胃脈也細者傷濕脈也濕傷氣也長者病實盛也其症關節疼痛重痹而弱小便澀秘而黃大便殄泄</p>
<p>足少陰傷風脈人迎典左關皆弦浮而散　弦者膽脈浮者傷風脈也散病至也風氣疏散腑氣也其症身熟惡風自汗項強脅滿</p>
<p>足少陰傷寒脈人迎與左尺皆沈緊而散沈者腎脈緊傷寒脈也數者病傅也其症口燥舌乾而渴不惡寒反發熱倦怠</p>
<p>足太陰傷濕脈人迎與右關皆濡細而沈濡者脾脈細者濕傷氣化也沈者病著也其症身熱足弱關節痠痛頭痛身倦四肢不舉冷痹脹滿</p>
<p>足厥陰傷風脈人迎與左關皆弦弱而急　弦本肝脈弱緩風脈也急者病變也其症自汗惡風而倦少腹急痛</p>
<p>手少陰傷暑脈右尺與人迎皆洪虛而數　洪三焦相火脈也虛暑熱傷氣也數病增也其症身熟惡寒頭痛狀如傷寒煩渴</p>
<p>手厥陵傷暑脈右尺與人迎皆沈弱而濡沈心胞絡脈也弱者傷於暑也緩病倦也其症往來寒熟狀如瘧狀背寒面垢</p>
<p>此以上分布六經外感六淫之脈也餘邪另敘外此四氣分列於左以為宗兆使學者易見了然若其傳變自常依其六經別論詳究所傷隨經說症對症用藥施治以平為期或燥熱傷肺心亦常依經推明理例調治如四氣兼井六經交錯亦常隨其脈證審處別白或先或後或合或並在經在絡入表入裹四時之動脈與之應氣候以時自與脈期微妙在脈不可不察瘵之有法從陰陽始脈之有經從陰陽生此之謂也</p>
<p>吾嘗觀洛書火七在西方金九在南位者則西南二方為燥熟之氣明矣離為兵戈兌主殺伐平治之世生氣流行雨暘以時兆民安樂惡有是氣惟淆亂之世生氣消息燥熱逆行五穀不登山川焦旱災疫繁興予目壬辰首亂以來民中燥熟之氣者多發熱痰結咳嗽醫又不識時變投半夏南星等以益其燥熱遂至咳血腎涎逆湧咯吐不已肌肉乾枯而死者多矣平人則雨寸不見雨尺脈長至半臂予於內外傷辨言之詳矣今略具數語以足成書為六氣全圖手太陰傷燥者脈右寸與人迎皆沈澀而數沈者即上所謂雨寸不見也歲貍使然滔燥氟懾血服也戮者熟也燥熟兼甚而的煎其臂水敵尺是大至半臂也</p>
<p>手少陰心傷熱有脈左寸與人迎皆沈數而短　沈者如庚子歲北政少陰司天陽明在泉兩尺當沈柵不見雨寸當浮大易見反為兩寸沈細不見兩尺至半臂浮大而易見也　數為熱也　短肺脈燥金之象也血氣為燥熱所傷故短而不及本部也其症前已詳言之</p>
<p>愚按以上燥熟二脈乃丹溪指當時兵燹旱荒之年而言若庚子歲北政少陰司天之年如此則為寸尺相反經云尺寸反者死其病必不可治即未經治誤尺脈未長至半臂但寸脈沈者已寸反亦必難治若在卯酉之歲北政少陰在泉陰明司天之年或南政子午歲少陰司天之年方為不反果不反則病亦經矣前論丹溪指明壬辰歲亂之後又以燥熱並論必在兵火炕旱之時變亂之際若平治之世燥熟分開則熱為火燥為涼為清為次寒為西北方之風氣此燥之本氣也未後熱化者也其受病之脈又常何如　惜丹溪止言其變而未平列六淫外傷十二經之脈象證病也故另列心肺二經並言燥熱二氣而無小腸大腸之說矣</p>
<p>人迎外感六淫脈訣浮盛傷風緊盛傷寒虛弱傷暑沈細傷混虛數傷熱短澀燥牢為寒燥氣口肉傷七情脈訣喜則脈散怒則脈激憂則脈澀思則脈結悲則脈緊恐則脈沈驚則脈動</p>

<h1>辨不內不外五用</h1>
<p>乖違病症脈說察脈必以人迎氣口分內外傷之因者乃學診脈之要道也所以脈贊云並前一分人迎主之然有三因有內因外因有不內不外因故不可不詳考之於理自備且如疲極筋力盡神度最飢飽失時叫呼走氣房室勞傷金鎗踒折虎狼蛇蟲毒蠱鬼疰客忤鬼厭溺水等症外非六淫內非七情內外不收必屬不內不外雖漢儒論曰人迎緊盛為傷寒氣口緊盛為傷食殊不知飲食入胃能助發宿蘊其所以應於氣口者正由七情郁發因食助見本非宿食能應於氣口也且如宿食陰剛脈見（浮大而微澀）陰則脈見（數而滑實）宿食不化脈則沈緊成瘕脈則沈重皆傷胃也宿食窒塞則上部有脈下部無脈其人當吐不吐者死此等名症何曾應於氣口又如疲極筋力其脈弦數而實筋痛則脈動皆傷肝也凝思則脈滑神耗則脈散皆傷心也吟誦耗氣則脈濡而細叫呼氣走脈散而急皆傷肺也房勞失精兩脈浮散男子遣精女子半產弦大而革皆傷腎也言列明文氣口何與況藏寒蛔厥脈自微浮及為腎滑胃虛不食其脈必緩亦有微濡　五飲停伏浮細而滑　久蓄沈積沈細而軟形虛自汗脈皆微濡　揮霍變亂脈沈伏僵僵仆墜下脈則浮滑踒折傷損於血在內疝瘕症癖五內作痛脈皆弦緊中寒症結脈則遲澀五精六聚飲食痰氣留伏不散隧道積滯脈則促結三消熟中尺脈洪大　癲狂神亂關上洪疾氣實脈浮血實脈滑氣血相搏脈亦浮實　婦人妊娠脈亦和滑</p>

<h1>邪祟脈說</h1>
<p>凡為鬼祟附著之脈兩手皆見乍大乍小乍長乍短乍密乍疏乍沈乍浮陽邪未見脈則浮洪陰邪未見脈則沈緊鬼疰客忤三部皆滑洪大嫋嫋沈沈澤澤但與病症不相應者皆屬五屍鬼邪遁疰之所為也又如遁屍屍疰脈沈而不至寸或三部皆緊而急如診得此等脈證雖與人迎氣口要應亦當分數推尋三因交結所謂俾內俾外不內不外亦內亦外亦不內亦不外脈理微妙在脈藝雖難精學然後知所因此之謂也然形於脈兆墮於義數未有不學而能者未有學而不成者宜留心焉人如忽見異像驚惑眩亂脈多失次急虛卒中五藏閉絕脈不往來譬如墮溺脈不可察與夫金鎗踒折頓走氣血脈無准者學者當看外症與足三陰之動脈不必拘於手之脈也</p>

<h1>辨脈形名狀</h1>
<p>浮者按之不足舉之有餘與人迎相應則風寒在經與氣日相應剛營血虛損沈者舉之不足按之有餘與人迎相應則寒伏陰經與氣口相應則血凝腹藏遲者應動極緩按之盡牢與人迎相應則濕寒凝滯與氣口相應則虛冷沈積數者去來促急一息數至與人迎相應則風熱煩燥與氣口相應則陽盛陰虛虛者遲大而軟拔之豁然與人迎相應則經絡傷暑與氣口相應則營衛失本實者舉按有力不疾不遲與人迎相應則風寒貫經與氣口相應則氣血壅脈緊者轉動無常形如索繃與人迎相應則經絡傷寒與氣日相應則臟腑作痛緩者浮大而軟去來稍遲與人迎相應則風熱入臟與氣日相應則怒極傷筋洪者來之至大去之且長與人迎相應則寒壅諸陽與氣日相應則氣攻百脈細者指下尋之往來如線與人迎相應則諸經中濕與氣口相應則五臟凝涎滑者往來流利形如轉珠與人迎相應則風痰潮溢與氣口相應則涎飲滯留澀者三五不調如雨沾沙與人迎相應則風濕寒痹與氣口相應則精汗血枯弦者端直勁長如張弓弦與人迎相應則風走疰痛與氣口相應則積飲溢痛弱者按之欲絕輕軟無力與人迎相應則風濕緩縱與氣日相應則筋力痿弛微者極細而耎若有若無與人迎相應則風暑自汗與氣口相應則陽虛脫泄芤者中空旁實加按蔥管與人迎相應則邪壅吐衄與氣口相應則榮虛妄行動者在關如豆厥厥動搖不行與人迎相應則寒疼冷痛與氣口相應則心怯膽寒</p>
<p>伏者沈匿不出著骨乃得與人迎相應則塞濕痼閉與氣日相應則凝思凝神長者往來流利出於本位與人迎相應微則邪自愈與氣口相應則藏氣治平短者舉按似數不及本部與人迎相應則邪閉經脈與氣口相應則積遏藏氣濡者輕手乃得加按漂綿與人迎相應則寒濕散漫與氣口相應則飧泄緩弱革者芤弦實大加按鼓皮與人迎相應則中風暑濕與氣口相應則半產脫精（一作芤弦虛大牢脈方實）</p>
<p>散者有陽無陰按之滿指與人迎相應則淫邪脫泄與氣口相應則精血耗敗結者往來遲緩時止更來與人迎相應則陰散陽生與氣口相應則積阻氣節促者往來悉數時止復來與人迎相應則痰壅陽經與氣口相應則積留胃腑代者藏絕中止飢藏代動無問所因見此必死</p>
<p>牢者沈伏而堅弦長實大與人迎相應則塞結疝瘕與氣口相應則木水乘脾愚按丹溪止言革脈不言牢脈故以革為沈伏實大將牢脈誤作革脈試思其又言革如鼓皮可知革非沈伏而實著矣夫如按鼓皮者言浮大而按之則虛空之象也故為失喪陰精營血之病失血者脈必空虛陰虛者必脈浮大內經仲景己前論及故仲景以芤弦相合之脈名之曰革若牢脈則牢固而堅按之有力挺指沈伏實大之象無凝矣故病主寒邪凝結燥屎內藏疝瘕水氣為痛之象若失血傷精之病而見牢脈沈實之象則病脈相反必死</p>

<h1>辨七表脈病證</h1>
<p>浮為在表人迎應風氣口為氣浮數主熱（風熱）浮緊為痛（風寒）浮遲為脹（中風）為喘　寸浮為嘔為厥右寸浮緊為滿不食浮實為內結浮大為塞鼻浮緩為痹不化浮大而長為風眩癲疾浮滑而疾為宿食為痰浮大而澀為宿食滯氣浮短為肺傷氣短浮滑而緩為痰飲嗌痛　浮細而滑為傷飲心悸浮滑緊疾為百合病浮數為大便緊小便數浮緊為淋為癃閉（浮而有力表實無力表虛浮遲中風浮數風熱浮虛傷暑浮芤失血浮洪虛熱浮散勞極寸浮風眩風在胸關浮土衰木旺尺浮二便不通）</p>
<p>芤脈主血寸芤為吐血微芤為衄血　關芤大便出血或為腸癰　尺芤小便出虛為下部血虛脫血芤弦為半產漏下左寸芤為傷暑熱氣血為邪傷寸芤咯血咳虛或為積血在胸尺芤赤淋赤痢赤白帶下血崩　三部芤久病生卒病死上滑為吐下滑畜血尺滑為血盛　女脈調則為胎不調則經閉　滑數為經熱先期月行二次又為渴痢㿗淋　關滑肝脾熱痰血熱　滑短宿食沈滑食痰浮滑風痰　滑數痰火　弦滑痰飲脅痛　滑散濕痿癰　軟滑實胃熱數則熱結滑而浮大小腹痛　滑弱陰中小便痛滑而大小不均必吐為病進為泄痢寸滑痰在膈吐嘔吞酸舌強咳嗽右寸滑過部則溏泄滑精白獨漏下三部皆滑為鬼疰為濕痰流注內疽</p>
<p>弦為肝脈弦數肝熱弦遲為寒　絃動為痛為脅下飲為瘧脈為水氣為中虛營虛土虛為厥逆為拘急發搐為寒癖　弦緊為惡寒為疝瘕為帶癖為瘀血　雙弦為脅下急痛弦而釣為脅下刺痛弦長為積隨左右上下</p>
<p>寸弦頭痛膈多痰左關弦寒熱症瘕　右關弦胃寒心胸腹痛尺眩陰疝腳拘攣弦為木盛之病浮弦支飲外溢沈弦懸飲內痛瘧脈自弦弦數多熱遲主寒弦大為虛細拘急　陽弦頭痛陰弦腹痛　單絃飲癖　雙弦寒痼若不食者為木盛土衰水反剋土難治</p>
<p>實為氣塞　寸實為嘔吐為痛為咳嗽為喘滿大便不禁　實緊為陰不勝陽為腰痛實浮為陽火鬱結狂言吐陽毒發斑傷食便秘氣疼　寸實而熱風火咽痛舌強氣填胸悶關實脾熱中滿尺實腰痛腸結為一切太過之脈血實氣實則脈實兼數狀為火兼澀燥屎兼浮上溢在寸則為欲吐兼沈弦則為率脈主有寒積不可誤為實脈作熱症治之實脈當用寒下牢脈當溫下關前寸實為邪在上當探吐即上實下虛脈為厥逆上部有脈下部無脈為宿食填胸其人當吐不吐者死之類不可知</p>
<p>緊為塞脈　為頭痛身痛筋骨肉瘻為咳為喘滿浮緊為肺有水浮緊而滑為蛔動為宿食為吐逆緊急為遁屍　緊數為寒熱浮緊似弦沈緊似牢又緊為寒將熱縛之脈故人迎緊傷寒太陽氣鬱而發熱頭痛氣口為傷食食鬱脾陽則手足心發熱　浮緊表寒　沈緊裡寒　寸緊風寒喘咳風癇吐痰飲關緊肝脾氣結心腹冷痛　尺緊少腹痛陰寒疝瘕奔豚腰脅以下諸痛中惡浮緊咳嗽沈緊皆主死　洪為陽脈　為熱為煩為氣壅脹滿喘急煩渴洪緊為癰疽洪實為癲洪大為祟洪浮為陽邪來見洪為陽盛陰虛泄痢失血久病者大忌血虧火旺脹滿胃翻寸洪心火灼金喘咳氣壅痰湊　關洪肝火胃熱痰涎湧出尺洪腎水虛相火盛洪即大脈滿指經曰形瘦脈大多氣者死又曰脈大則病進</p>

<h1>辨八里脈病症</h1>
<p>微為虛甚為弱症為衄為嘔為泄為大汗亡陽盜汗傷液為拘急血脈不榮為少氣寒中陽虛自汗外寒血虛內熱陽微惡寒陰微發熱虛汗勞熱骨蒸崩中日久為白帶漏下多時骨亦枯為久虛之象寸微氣促心驚並微脹滿脾虛肝血虧尺微精血脫消癉虛痛脅腰以下虛疼喜按足痿不用</p>
<p>沈為里為陰為寒為水為癥瘕沈而有力為實為積聚在裡沈弱為寒熱沈細為少氣肩臂不舉沈滑為風水為實重沈緊為上熱下寒沈重而直前絕者為瘀血沈重而中散為寒宜成瘕沈重不至徘徊者為遁屍沈緊為懸飲沈遲為痼冷沈重為傷暑濕發熱又沈數為裡熱沈遲為裡寒有力裡實無力裡虛沈則為氣又主水蓄沈遲痼冷沈數內熱沈滑食痰沈澀氣鬱沈弱塞熱沈緩寒濕沈緊冷痛沈牢冷積沉結寒痰凝痹寸沉痰水停胸氣鬱關沈中寒胸腹痛脅痛尺沈遣濁泄痢腎虛腰足下元虛冷濕痹緩屬脾宵浮大而軟三部同等無所偏盛為平四季之脈形宜從容利緩不疾不遲為緩之平脈即胃為氣</p>

<h1>若非其候即為病脈</h1>
<p>緩為在下為風為寒為弱痹為疼為不仁為氣不足為眩量緩滑為熱中緩遲為虛寒相搏食冷則咽又緩為營衰衛有餘或風濕脾虛上緩項強下緩痿痹分別浮沈大小形狀以斷病症浮緩為風沈緩為濕緩大風虛緩細濕痹緩澀脾虛緩弱氣虛寸緩風邪在表頭項背拘急痛關緩風眩胃虛尺緩風秘足弱緩脈主土在卦為坤（緩為衛盛營虛緩大而慢）</p>
<p>澀主血少氣鬱為傷液亡汗熱鬱氣不足為逆冷為下痢為心痛澀緊為寒濕痹痛澀細為大寒澀為傷精反宵亡陽汗雨寒濕入營血痹女人有孕為胎病無孕為經閉瘀滯寸澀心虛胸痛關澀胃陰傷脅痞尺澀精血俱傷溲淋腸結下血澀脈獨見尺中形同戊者死</p>
<p>遲為寒脈主陰病為冷痛遲澀為癥瘕咽酸遲滑為脹遲緩為塞濕遲脈為陽不勝陰三至為遲有力為緩無力為澀有止為結遲甚為敗遲為陰盛陽衰遲主臟病有力冷痛無力虛寒浮遲表寒沈遲裡寒遲滑多痰寸遲上寒關遲中寒胸脅腹痛尺遲腎虛腰痛腳重溲便不禁疝瘕（遲小而實）</p>
<p>伏為霍亂為厥逆嘔吐疝瘕腹痛為宿食停滯老痰畜飲水氣積聚氣衝癰疽毒膿脹痛一切疼痛甚者又有單伏雙伏之別有為火邪內鬱而伏者陽極似陰陰縛陽水凌火之象也寒裡熱之症也寸伏食鬱胸中欲吐不吐兀逆不止關伏腹痛尺伏疝瘕泄痢又有六脈沈伏陰邪發厥四肢逆冷者亦有陽邪發厥上實下虛者亦有霍亂轉筋禁口腹痛者有格陽之伏格陰之伏</p>
<p>弱為虛脈為風熱自汗為陽虛氣陷又為陽陷入陰為惡寒內熱筋勞骨痿蒸汗心驚神怯寸弱陽衰氣餒關弱肝脾兩虧胃氣虛尺弱陰虛兩腎不足脈弱兼滑為有胃氣弱即濡之沈者弱主筋沈主骨陽浮陰弱血虛筋急氣虛則脈弱弱而兼澀則久虛</p>
<p>濡為亡血陰虛丹田髓海不足為無根本之脈為自汗骨蒸內熱外寒血崩帶獨下重久痢濕痹脾著肉傷暑濕寸濡陽微自汗關濡脾胃濕困氣虛中寒血少尺濡精血敗耗下元虛冷久病濡主血虛傷濕痹痿</p>

<h1>辨九道脈症</h1>
<p>細為氣血兩虧之脈又為濕氣陰邪傷里主病在內為諸虛勞損七情所傷憂勞過度神怯為腹滿傷精汗泄為虛塞泄痢為積細緊瘕症積聚剌痛細滑為僵仆為痰熱為嘔吐細數為虛熱細遲虛寒細而止隧道空虛痰結走痛細澀血枯精竭寸細嘔吐反胃吐衄咯血肺氣虛喘心虛怔忡關虛細胃虛腹脹脾虛中濕血不榮筋骨蒸勞熱尺細丹田虛冷脫陰遺精泄痢為久病必虛有虛症脈細為順無虛症之象脈細則為逆外感暴病皆不宜細若細者氣血已為邪傷也邪盛正虛亦為逆溫熱脈細為陰傷亦為逆</p>
<p>數為陽脈為熱有力實熱無力虛火成為吐泄為熱痛為煩渴煩滿為陰不勝陽火旺水虧火熱刑金肺病秋浮脈不宜數浮數表熱沈數里熱氣日數實為肺癰虛數為肺痿滑數痰火澀數為氣鬱火結陰血傷大便燥結下血小便赤濁淋閉熱痹寸數君火剋金咳咯吐膿血吐衄血口渴口舌生瘡咽喉痹痛肺傷關數肝脾胃火尺數相火不靜腎水陰虛數極為熱入心胞狂熱煩躁實數胃中熱熱結燥屎譫語神糊有止則為促脈</p>
<p>動為陰陽相搏陽動汗出陰動則發熱陽虛則陽動陰虛則陰動動為虛為形寒畏冷三焦氣傷欲作戰汗為痛為驚為痹為泄為恐為痢為筋病拘攣為男子亡精女子崩漏婦人手少陰脈動甚者妊子也陰虛陽搏謂之動</p>
<p>虛為虛為寒勞熱骨蒸腳弱筋骨痿為身熱傷暑自汗怔忡驚悸為陰虛發熱陽虛畏寒為痿痹寸虛血不榮心神怯失眠健忘失志關虛脾不統血血不歸肝脾困食木消化腹脹不舒尺虛骨蒸痹痿傷腎精血耗亡</p>
<p>促為陽結數中有止熱中有滯或為氣滯或血滯或為飲蓄或食滯或為痰滯或為膿阻濡不行血脈隧遺阻滯難行不能流利故脈促促促者將發斑結為陰滯遲中有止寒中兼滯亦為氣血飲食痰滯積聚疝瘕癥結陰疽痰核凝結濕痰流注痹痛浮結外有痛積沈結內有積聚結微則積微結甚則積甚脈結著恐陰毒發斑促結二脈其因相同惟促為陽熱結為陰寒浮沈主病當參觀之</p>
<p>散為氣血皆虛根本脫離之脈產婦得之則生易孕婦得之則死易諸病脈代散者死散脈獨見則危腎脈耎散則死心脈浮大而做肺脈短澀而散為平若心脈耎散則怔忡肺脈耎散則汗脫肝脈耎散為溢飲脾脈軟散為胻胕腫尺脈軟散為死脈久病軟散為絕脈散大而軟按之無有散而不聚去來不定至亦不齊若散珠之無拘束</p>
<p>代為絕脈一臟氣絕不至則止須臾他臟代至因而又助止有定數故為死脈五十至一止者又為平脈五十之內止者為代平人見之必危如病腹脅諸痛泄痢吐瀉霍亂中宮氣塞下元虛脫氣血暴損不能白續者代為病脈凡脈當代者或有可救如傷寒心悸脈代者復脈湯主之又孕婦脈代其胎三月雖代無妨代脈亦有生死之別不可不知</p>
<p>革為虛寒相搏為亡血失精為女子崩漏半產男子脫血營虛夢遣泄金鎗暴損房勞精脫產後脫血虛暈發厥帶濁日久下元虛脫又三部脈革久病必危牢為塞積裡實為腹脅脹痛為水氣為木旺乘脾為㿗疝癥瘕為陰病腸結燥屎為寒凝血瘀為傷寒里結為寒濕痹痛失血陰虛脈牢不治</p>
<p>長主有餘大小均平迢迢自若為平脈如引繩長竿則病胃經實熱陽毒發斑癲癇痰氣長則身強木旺為肝脈屬木主春令春木弦長柔細</p>
<p>短為不足為陰中伏陽為三蕉氣壅為宿食不消寸短而滑數為酒傷神浮短血澀沈短為痞寸短頭疼尺短腹疼關短寸尺不通為陰陽絕脈短為肺實屬金主秋氣秋脈浮短而澀</p>
<p>以上皆木聖經學者常熟讀令心開眼明識取體用然後交結互究與夫六淫外感五臟內傷參以四時旺相六氣臨歲南政北政依各部推尋所因必使瞭然無疑方為盡善其如隨病分門諸脈證尤常參對詳審如是精研方可為醫門本分之一否則倚傍聖教欺妄取財軒岐之賊臣宰祈勉焉　按以上無長短牢三脈證考李瀕湖脈學以補之</p>

<h1>七表八里九道脈歌</h1>
<p>浮芤滑實弦緊洪名為七表屬陽宮微沈緩澀遲與伏（一作濡）細弱為陰八里同（一作濡）細數動虛促結代散革同歸九道中在經在腑並在臟識得根源為上工</p>

<h1>關前關後分陰陽詩</h1>
<p>掌後高骨號為關傍骨關脈形宛然次第推排寸關尺配合天地人三元關前為陽名寸口尺脈為陰在關後陽眩頭痛定無疑陰弦腹痛何方走陽數即吐兼頭痛關微即泄腹中吼陽實應知面赤風陰微盜汗勞兼有陽實大滑應舌強關數脾熱並口臭陽微浮弱定心寒關滑食注脾家咎關前關後別陰陽察得病源為國手</p>

<h1>定息數至分遲數詩</h1>
<p>先賢切脈論太素過行一身五十度畫則行陽自陰出夜則行陰自陽入畫夜各行二十五上合天度為常則血榮氣衛定息數一萬三千五百息此是平人脈行度太過不及皆非吉一息四至平無他更加一至身安和三遲二敗冷為甚六數七極熱生疴八脫九死十歸墓十一十二魂先去一息一至元氣敗兩息一至死非怪我令括取作長歌囑汝心通並志解</p>

<h1>六極脈詩（又名六絕脈）</h1>
<p>雀啄連來四五啄屋漏半日一點落彈石來硬尋即散搭指數滿如解索魚翔似有一似無蝦游靜中忽一躍寄語醫人仔細看六脈見一休下藥</p>

<h1>辨男女左右脈法及臟腑所屬</h1>
<p>昔炎帝之拯民疾參天地究人事以立脈法嗟乎脈者先天之神也故其晝夜出入莫不與天地等夫神寤則出於心而見於目故脈畫行陽二十五度寐則神樓於腎而息於精故脈夜行陰亦二十五度其動靜棲息皆與天地晝夜四時相合且以天道右旋而主施主化故男子先生右臂右屬陽為相火三魂降真氣赤以鎮丹田故男子命脈在右手尺部地逍左遷而主受主乎成物效女子先生左腎友屬陰為血為天癸為七魄降真氣黑以鎮子宮故女子命脈在左手尺部若男於病右尺命脈好雖危不死女子病左尺命脈好雖危亦不死天之陽在南而陰在北故男子寸脈盛而尺脈弱陽在寸陰在尺也地之陽在北而陰在南故女子尺脈盛而寸脈弱陽在尺陰在寸也陽盛陰弱天之道也非反也反之者病男得女脈為不足女得男脈為有餘方得之病在左右得之病在右男在女右地之定位也非天他蓋人立形於地故從地化楚人尚右者夷道也地道也故男子左脈強而右脈弱女子則右脈強而在脈弱天以陰為用故人之左耳目明於右耳目地以陽為使故人之右手足強於左手足陰陽互用也非反也凡男子診脈必伸左手女子診脈必伸右手男子得陽氣多故左脈盛女子得陰氣多故右脈盛若反者病脈也男子以在尺為精腑女子以右尺為血海此天地之神化也所以別男女決死生者也苟不知此則男女莫辨生死茫然故曰男子命脈在右尺而以在尺為精腑女子命脈在左尺而右尺胞絡為血海</p>
<p>肝為乙木膽為甲木王於春色青性暄主仁音角味酸臭𦏛其華在目養筋液為泣聲呼氣為噓不足則悲有餘則怒平脈弦賊脈澀死於庚申辛酉日絕於秋（內經肝之華在爪）</p>
<p>心為丁火小腸為丙火王於夏色赤性熱主禮音徵味苦臭焦其候於舌養血液為汗聲笑氣呵主言不足則憂有餘則笑不止平脈洪賊脈沈絕於冬死於壬子癸亥日</p>
<p>脾為已土胃為戊土王於長夏四季色黃性暑濕平利主信而謙靜音宮味甘臭香其華在唇養肉液為涎聲為歌氣呵不足則痢少氣有餘則喘滿咳嗽平脈緩賊脈眩絕於春之甲乙寅卯日</p>
<p>肺為辛金大陽為庚金王於秋色白性燥涼主義音商味辛臭腥候於鼻養皮毛為液涕聲哭氣呬不足則怠有餘則漲溢平脈浮短而澀賊脈洪數絕於夏之丙丁午未日</p>
<p>腎為癸水膀胱為壬水王於冬色黑性寒主智音羽味醎臭腐候於口齒養骨液為唾聲呷氣吹欠不足則厥恐有餘則腸泄平脈沈滑賊脈緩澀絕於長夏四季戊己己午日</p>

<h1>論五臟浮沈遲數應病詩（在乎心肝腎右手肺脾命）</h1>
<p>心臟脈</p>
<p>沈數沈遲熱夢騰浮遲腹冷胃虛真沈數狂言兼舌硬沈遲氣短力難成</p>
<p>肝臟脈</p>
<p>浮數風溫筋搐抽浮遲冷眼淚難收沈數疾生常怒氣沈遲不睡倦雙眸</p>
<p>腎臟脈</p>
<p>浮數便熱兼勞熱浮遲重聽濁來侵沈數腰疼生赤濁沈遲白帶耳虛鳴</p>
<p>肺臟脈</p>
<p>浮數中風兼熱秘浮遲冷氣瀉難禁沈數風痰並氣喘沈遲氣弱冷涎停</p>
<p>脾臟脈</p>
<p>浮數齦宣兼盜汗浮遲胃冷氣虛膨沈數熱多生口臭沈遲腹滿脹堅生</p>
<p>命臟脈（即心包絡）</p>
<p>浮數精泄二焦熱浮遲冷氣濁陰行沈數濁多小便數沈遲虛冷便頻頻</p>

<h1>診脈截法斷病歌</h1>
<p>心脈迢迢卻似弦頭疼心熱數狂顛男子騰空女驚趺腎弦氣滿小腸疝心脈頻頻來得實其人順悶並氣急若還止代更加臨壬癸死期是端的心脈微微嘈似飢瀉心補宵卻相宜若其肝微能左瘓醫人調理不須疑心脈遲遲須嘔吐沈加怒氣痛牽連斯人偃息雖無恙醫者能調便與宜肝實眼翳龍生癤腹痛尤加手足酸更被醯酸來犯刺調利補藥便能安肝微內瘴共筋攣失血吞酸頭更旋洪應大陽能酒痢腎微足冷定相連肝經帶緩氣須疼食拒心頭更刺酸止代庚申辛酉死良醫調理亦難安肝脈浮洪偏眼赤刺酸盜汗定相隨脈數更加潮熱至斷然反胃定無疑腎微血脈不調勻腳疼衛氣不能升帶下肝陰精不禁肝微血敗小便頻腎緩腰疼尤腹痛小便白濁色如霜止戊若遲時戊已其人必定命傾亡腎洪白濁耳蟬鳴腳熱尤加血不勻虛熱作生虛且瘇沈腰浮主血虛人腎脈沈弦小便赤頭旋腸痛數兼淋血氣不調浮腹脹肝微兼應濁帶行肺緩虛邪閉塞時失聲颯颯好情疑緩帶浮遲能吐瀉沈遲怒氣痛雖支肺洪勞倦兼痰熱潮熱尤兼吐瀉來大數中風兼鼻塞丙丁止代已焉哉肺脈若來弦主嗽寒痰氣急喘呼呼更加頭痛身潮熱此是沈痾大可虞肺實痰嗽胸中痛勞傷寒熱內癰形浮數大便能秘結浮遲冷痢更來浸脾脈浮洪水積儲睡魔酣鬼每相如倦怠更加潮熱至其人脾困藥能除脾脈遲弦主冷凝朝朝食睡睡難醒浮在肺中應腹脹沈弦有積腹中疼脾實胃經應熱結脾傷寒熱困相浸胃翻酸水頻頻吐才吃些兒便強心脾脈微微胃不生朝朝飲食拒心疼微澀脈來因腹脹甲寅止代定歸真命門弦大渴來浸濁帶男見即赤淋實脈轉筋兼帶濁脈洪虛汗渴將臨命門微細便頻頻緩必膀胱冷氣侵沈緩腰疼浮緩渴數渴遲微小便頻</p>

<h1>診暴病歌</h1>
<p>兩動一止或三四三動一止只八朝以此推之定無失暴病者喜怒驚恐其氣暴逆致六淫所侵病生卒暴損其胃氣也胃氣絕則死有日矣兩動一止者乃胃將絕矣三動一止胃氣將欲盡矣猶待數日者穀氣絕盡方死也</p>

<h1>陰陽相乘覆溢脈關格脈辨</h1>
<p>難經曰脈有太過不及有陰陽相乘有覆有溢有關格者何謂也丹溪曰陰乘陽則惡寒陽乘陰則發熱關前為陽分關後為陰分陽寸陰尺也陰上入陽分尺上至寸部為陰乘陽曰溢脈為外關內格死陽下入陰分寸下至尺部為陽乘陰曰覆脈為內關外格死</p>
<p>蓋關前為陽脈當見九分而浮過者曰太過滅曰不及太過不及皆病脈遂上逆至寸為溢為外關內格此陰乘陽之脈也經曰陰氣太盛則陽氣不得相營於陰陰遂上比而溢於陽分為外關內格病因外閉而不得下陰從而出以格拒其陽此陰乘陽之理也脈曰溢者由水之滿而溢於外也關後為陰脈常一寸而沈過與不及皆病脈遂下入於尺為覆為內關外格此陽乘陰也經曰陽氣太盛則陰氣不能相營於陽陽遂下陷而覆於陰尺之分為內關外格者內閉而不上陽從外入以格拒其陰此陽乘陰之理也脈曰覆者如物之由上而傾於下也溢主陰邪格陽覆主陽盛格陰真臟脈見不病而死</p>

<h1>四季人迎寸口脈（寸口即氣口）</h1>
<p>甲乙經云人迎主外寸口主中兩者相應俱往但來若引繩而大小齊等春夏人迎微大秋冬氣口微大曰平脈前歲十二月大寒至二月春分為初氣厥陰風木主令至其脈弦（耎虛而滑端直以長為弦之平脈實強則病微亦病不直長亦病不常其位亦病位而非眩亦病）又云沈短而散</p>
<p>春分至四月小滿為二之氣少陰君火主令至其脈釣（來盛去衰如偃帶釣為釣之平來衰去盛則病去來皆盛亦病來去皆不盛亦病不如偃帶釣亦病不當其位位而不釣皆病）</p>
<p>小滿至六月大暑為三之氣少陽相火主令至其脈浮大（浮高也大謂稍大於諸脈也大浮甚則病但浮不大大而不浮皆病不常其位位而不浮大皆病又云乍疏乍數乍長乍短）</p>
<p>大暑至八月白露為四之氣太陰濕土主令至其脈沈（沈位下也按之乃得沈甚則病不沈亦病不常其位位而不沈皆病）又云緊大而長秋分至十月小雪為五之氣陽明燥金主令至其脈短澀（往來不利為澀往來不遠為短短澀甚則病不短澀則亦病不常其位位不短澀亦病）又云浮大而長</p>
<p>小雪至十二月大寒為六之氣太陽塞水主令至其脈大而長（往來遠為長大甚則病長甚亦病長而不大大而不長亦病不常其位位而不大長皆病）</p>
<p>六氣交變南政北政脈（甲已二干為南政甲已土連也丙丁乙戊辛</p>
<p>壬癸庚為北政乙庚金連丙辛水運丁壬木連戊癸火連也皆合化也）（南政）子午歲少陰司天厥陰在左太陰在右常兩寸沈細不見兩尺浮大易見反者死（反謂寸尺相反浮大者反沈細沈細者反浮大）</p>
<p>（南政）卯酉歲少陰在泉太陰在左厥陰在右常兩尺沈細不見兩寸浮大易見反者謂寸尺相反死</p>
<p>（北政）於午歲少陰司天厥陰在左太陰在右當兩尺沈細不見兩寸浮大易見尺寸相反者死</p>
<p>（北政）卯酉歲少陰在泉太陰在左厥陰在右當兩寸沈細不見兩尺浮大易見尺寸相反者死</p>
<p>（南北）丑未歲太陰司天少陰在方寸少陽在右尺沈細不見右寸在尺浮大易見左右交反者死少陰在左而交於右也</p>
<p>（南北）辰戊歲太陰在泉少陽在在當右尺沈細不見左尺浮大易見少陰在右當左寸沈細不見右寸浮大易見左右交反者死少陰在右而交於在也</p>
<p>（南北）申歲厥陰在泉小陰在左當左尺沈細不見右尺浮大易見太陽在右當右寸沈細不見左寸浮大易見左右交反者死少陰在友而交於右也</p>
<p>（南北）已亥歲厥陰司天（太陰太陽在左當右寸沈細不見左寸浮大易見少陰）在右當左寸沈細不見左寸浮大易見左右交反者死（少陰在右而交於左也）</p>
<p>以上錄丹溪法惜其辰戍丑未寅申怛有南政圖說而無北政左右閒氣南北相同怛顛倒先後言之耳恐有舛錯不能無疑須當考究他本因本板錯誤者多不能瞭然</p>
<p>內經以南政三陰在天寸不應在泉尺沈不應少陰則皆不應厥陰則右不應太陰則左不應（皆言司天）</p>
<p>以北政三陰左泉寸不應在天尺沈不應少陰在泉則友右不應厥陰在泉則右不應太陰則左不應</p>
<p>親少陰間在在則友不應右則右不應南政則凡少陰所在皆不應北政則少陰在下寸不應在上尺不應在者應不在者不應也又尺之不應在右同寸之不應諸不應者覆手診之則見矣凡三年一差</p>
<p>以上由大部舊本中選錄其本版殘缺吉人考正補之</p>
<p>接西洋醫生云考究人身筋骨氣血據人一身之中大小骨共二百五十塊大小筋共五百條大小腸共長三十二英尺頭腦重四十五安士心高六英寸半圍大四英寸皮有三重毛竅共二百五十萬孔毛管長一英寸四分之一以全身毛管接續一氣應長九十英里</p>
<p>每一點鐘時呼吸一千次大人周身血重三十磅（乙磅准中國稱十一兩）每一分時血從心出入者得兩安士半計一日夜血由出入共七噸三蘇古約三分鐘之久血能周身行滿以十六安士為一磅</p>
<p>動脈由於心臟左下房發出即發血管與心左下房之擴張力逼赤血逆射於動脈管內以指按人手腕頭部頸部之脈則知動脈之擴張指頭感其衝突之力則知脈搏之數遲脈力之大小其平均之數一分鍾得七十二動脈動之數與心房擴張收縮之數及發血管之彈力數皆相等然其數亦有種種變動如驚愕恐誘起精神之感動則使脈搏急速又幼兒之脈一分鐘常達於百四十動老人之脈常滅之六十動呼吸次數初生小兒一分時大約四十四次少長二十六次成人十六老十六平常人呼吸空氣之量大約五百立方仙迷（合日本尺三分三）若強力呼吸可加三千二百立方仙迷合共三千七百立方仙迷謂肺活量小兒至長成漸漸加增三十五歲達於極點老則漸漸減少男子恆多於女子此外有因業而異以上皆醫學所當知故附錄於此劉吉人識</p>

<h1>五臟脈過宮圖說</h1>
<p>心脈過宮圖心屬火故本宮脈洪</p>
<p>微主心嘈飢宜瀉心補腎</p>
<p>若與肝同弦微主左手不舉</p>
<p>數主心經煩熱頭痛夜狂　微脈　滑主嘔吐沈緩主</p>
<p>言舌強與腎同弦主小腸弦脈（本脈宮洪）滑脈　胸脅怒氣痛不利</p>
<p>氣痛緊數主中風之證　實脈　大便滑</p>
<p>實主煩悶氣急有止</p>
<p>代者壬癸日死</p>
<p>肝經過宮脈圖其本脈屬木故本脈弦</p>
<p>微為內瘴其筋攣膽虛失血吞</p>
<p>酸頭旋與腎同微主腳微冷</p>
<p>浮洪數目生赤沈數目赤微脈　實主刺酸數主反胃竅</p>
<p>痛赤主痛　風刺酸盜汗洪脈（本脈宮弦）實脈熱眼赤盜汗腹痛手足潮熟反胃</p>
<p>緩脈　酸止代庚辛日死</p>
<p>緩主氣疼食拒心刺酸腸</p>
<p>腹止代庚辛申酉日死</p>
<p>脾經過宮脈圖脾屬土故脈緩濡</p>
<p>洪滑女得之主孕平利又</p>
<p>主倦怠潮熱脾困</p>
<p>洪脈</p>
<p>實數主胃熱口臭脾困</p>
<p>胃氣不生飲食不思氣脹不消</p>
<p>實脈（本宮脈緩一作濡）微脈</p>
<p>拒心刺酸反胃潮熱潮寒　微澀腹脹止代甲乙死</p>
<p>弦脈</p>
<p>弦主脾寒好睡浮弦腹脹沈弦</p>
<p>有積痛止代甲乙寅卯日時死</p>
<p>肺經過宮脈圖肺屬金故脈澀</p>
<p>弦主嗽喘浮敷而弦主頭痛</p>
<p>氣急喘滿身熱</p>
<p>弦脈</p>
<p>緩主虛邪鼻塞浮遲吐瀉　實主寒熱痰涎冷嗽勞倦胸痛浮數秘</p>
<p>脈緩（本宮脈澀）脈實</p>
<p>沈遲怒氣痛　結浮遲瀉痢與肝同實數或有傷癰</p>
<p>洪脈</p>
<p>洪主勞倦潮熱痰嗽吐瀉</p>
<p>浮洪消渴洪數中風鼻塞</p>
<p>臂經過宮脈圖臂屬水故脈實（一作滑）　援主腰腹痛白濁沈緩主吐</p>
<p>浮緩顧痛止代戊已日死</p>
<p>洪女得之主平利男孕洪數緩版　紘主小便赤小腸氣痛頭疼赤白濁耳鳴腳熱血脈不調洪脈（本脈宮滑實）弦脈　數主熱淋浮數腸脹與肝同浮洪吐血沈洪腰疼虛熱　微脈　弦微勞濁帶下位長為蘿泄</p>

<h1>微主血脈不調血帶陰汗濕</h1>
<p>遣精不禁衛氣不升腳冷痛</p>
<p>小便多與脾同微敗血不止</p>
<p>包絡過宮脈圖包絡為相火故脈實</p>
<p>弦主赤濁帶下弦實</p>
<p>數主赤淋小便不通</p>
<p>緩浮小便多數主渴沈</p>
<p>緩腰痛帶下數赤主渴　洪數主　渴虛汗</p>
