<header data-type="book">
<h1>癧科全書</h1>
</header>

<h1>侯序</h1>
<p>醫之為任重矣，天下之業醫者多矣。善醫者，固藥到回春，如響斯應，有回生起死之功。不善醫者，往往操庸劣手段以嘗試，而卒以殺人。間有一二醫者，得一最靈驗之奇方，則秘而不肯示人，藉口以方傳不效。其實持金錢主義，藉是方以博取人財。惟吾鄉柘軒梁先生，人本儒素，術妙岐黃，金匱玉函，悉心研究，凡遇內外奇難諸症，靡不應手奏效。而於瘰癧一科，尤為獨具手眼，具徵心得。夫癧分三十六症，雖內傷外感，原因不一。類皆由於質體痿弱，血液乾枯，陰虧火鑠，氣滯痰凝，其毒久伏於臟腑。而一旦發於肢體，根深蒂固，牢不可拔。中醫多用吊丹，西醫多用剖割，徙欲以霸術取速效。卒之愈吊而毒終不散，愈割而癧總叢生。駸駸然，臟腑內蝕，肢體外潰，遂致十癧而終不得一生。是非死於症，實死於醫耳。先生於是症，則神乎其技，外治則頻以藥點之，化朽腐為神奇，具見手法之高；內治則審其寒熱虛實以施治，取其潛消默化於無形，尤徵心法之妙。今復將其治癧全科，先論症，後列方，源源本本，朗若列眉。俾天下後世之業醫者，知所則效。而天下後世之患癧者，亦得所生全。蓋先生久以醫術名中外，初則駐上海，駐香港，繼則遊歷南洋十餘島。今則寄跡鮀江，微特雪晨雨夜，暑日炎天，有請則輒應，從不過取人錢物。且每日必限數點鐘，以盡贈醫義務。論者謂先生造福於人者大，而天之錫福於先生者亦宏。春回壽寓，種布福田。先生哲嗣銳元，以十二齡之童子，果見賞於名公。現入京師高等學堂肄業，試輒高列前茅，他日學成，為國家用，將大有造於天下。是則父為良醫，子為良相，利濟同功，食報正未有艾也。噫、先生絞腦汁費心血而成是書，先生濟世之心苦矣。適遇敝族蘭汀，由暹回國，慨然擔任付梓以傳世，先生濟世之心慰矣，先生濟世之功亦不朽矣。用是不揣譾陋，聊弁數言，以為世之業醫贈醫，兼有秘方者勸，是為序。</p>
<p><u>宣統二年春月古梅侯家驥序於品梅小築</u></p>

<h1>張序</h1>
<p>凡病必有治病之方，而知其方者，往往秘而不傳。動曰：傳則方不靈驗，果如所言，則古人傳世之方書，其皆不靈驗矣乎？嗚呼！存射利之心，忍令天下後世之人，抱病而枉死者，弗可勝計良堪悲痛！吾州梁柘軒先生，夙有不為良相必為良醫之志，凡內外各科醫道，莫不悉心研究，而治癧尤為所長。夫癧危症也，有二十四症，三十六症之名，而大抵由陰虛火盛，挾風痰而成此毒核。其病源久伏於臟腑，根深蒂固，非內外兼治不為功。時醫不得其治之之方，爰有十癧九死之說。先生考求有素，於外治得其獨一無二之點藥法，內治則以辨寒熱虛實。握其大綱，藥到回春，百試百驗，固已中外揚名矣。人本寒儒，而心存濟世，到處行醫。每日必有數點鐘為贈醫之時其胞與為懷，於此可見。今復將其治癧之方法，和盤托出，付諸手民，為天下後世之患癧症者，廣開生路。此其種福恩田，釀功德水，實大而遠。懿哉，此舉尤足風世矣。吾聞之，積善必有餘慶。今先生之哲嗣童年飽學，名動公卿，招入京師學堂肄業，試輒領其前鋒。他日學貫中西，蔚為國器，意中事耳。論者謂此為先生仁心壽世之報，其信然也。然則利人即以利己，其利益莫大乎是？合併志之，以為業醫者勸，倘天下業醫之人，概如先生以利濟為心。凡有秘方，悉為傳世，俾天下後世，同登仁壽，無復有抱病而枉死者，夫非生民之幸福乎哉，夫非生民之幸福乎哉。</p>
<p><u>宣統元年夏月嘉應張衡皋序於鮀江八屬會館</u></p>

<h1>自序</h1>
<p>千古文人之筆，最懼雷同，獨醫學則最患不能雷同耳。未有患是症不用是方，而能療是疾者。歷觀諸名家醫書，多是各立一說，殊少定見，其於花柳頸癧，尤茫無善法。即西醫亦然，總不出強硬手段。中材以上之人，閱是書尚可活人。中材以下之人，閱是書非第不能活人，甚且誤人多多不少矣。噫！醫之道最微，微則不能不深究；醫之方最廣，廣則不能不小心。差之毫釐，失於千里。孟子云：木之不可不慎，此之謂也。故凡業醫者，不特難以議目前，實則最難辨善後。今人於外科一門，多行霸道，不顧人命，取求近功，離醫之道，益云遠矣。僕之醫則不然，專以王道為事。如頸癧也，人多用剖割，或用丹出核，僕則專用潛消，奏效雖久，不特形質無損，更可永保無虞。如花柳也，人多用吊丹，或大攻大瀉，僕則專用內解，成功又速，不特元氣無傷，且無下漏癱瘓牙際湧血之慮。至於內科等症，精微奧蘊，言不勝言，要皆以善後為本務也。所以僕於花柳頸癧兩門，尤為細心研究，十餘年來，盡得其中奧旨。歷治多人，發無不中。久欲刊行於世，利濟後人，無奈力恆不逮，輒為中止。嗟乎，千古成事之難，類多如是。惟念僕自業醫數十年，皆以方便為事。凡人之相延者，從無貧富之歧視，雖風雨必往，星夜必往，即嚴寒地凍，酷暑炎天，亦無不往。且旦日雖無粒米之炊，亦從未嘗苛取病家分文，此則僕之所可深自信者也。以為持是心，而行僕之醫道，久而必揚，所以在外洋歷經數十島嶼。凡遇此症，莫不應效如神，愈人何止千數，從無或誤一人。越至丁未在星嘉坡旅次，果得　欽憲楊侍郎士琦，及左總領事秉隆先後品題，獎給匾額。時長男銳元，十有三齡，在星洲養正學堂，並得蒙楊侍郎嘉其童稚篤志好學，加恩特色栽培，親提北上，送往順天高等學堂讀書。今年僕在汕頭，復蒙馮警長駿委派汕頭檢查驗病所之職，併兼得同濟延壽兩醫院之聘，其于贈醫施藥之念，益遂初心。嗟乎，為善之願，豈可忘哉。乃者侯君蘭汀過汕，適僕之所編癧科書告成，見而大悅，慨然出資，為僕刊板，更得侯孝廉家驥。張孝廉衡皋合為更正，即將是編先行布告同人。其中絲毫無隱，願以後普天之下。五洲萬國，書史同文，得是書而全是症者，皆暹邏鉅商侯君之所賜，亦侯孝廉張孝廉與僕之所大願也。謹志數言，以為天下之有秘方者勸，亦為天下之富有一方者勸焉。時</p>
<p><u>宣統元年仲秋之月古梅梁希曾柘軒氏自序於鮀江之檢查驗病所</u></p>

<h1>辨癧症之原理</h1>
<p>癧之成症，古人原分有十二經絡，或二十四節，或三十六症等治。此皆醫家各命名義，實不必拘泥其名。要之千種癧症，總不外乎熱痰寒痰，實症虛症而已。其部位原無定體，隨其氣之所阻，血之所凝而成。能辨其寒痰熱痰，實症虛症，則無訛矣。</p>
<p>癧之成症，其結核最堅最實，因其積染鬱結至深至遠而成故也。所以治之者，動輒屢月經年，乃能奏效。大凡內外各症，其發之易者，治亦易發之難者，治亦難。願患癧症者，毋以其醫治之時日久遠，即輕信人言。或任庸醫，用丹吊核。或任西醫，用刀剖割。不知愈吊愈多，愈割愈眾，竟至纏綿層疊。環頸破爛，腥穢不堪，命在須臾，皆是自誤。</p>
<p>癧之成症，其核之生，如竹根焉，如草根焉，非他癥結核者之所可比。故其發也，忽左忽右，忽東忽西，忽上忽下，忽前忽後，全無定體。甚至或發連腋下，或發連胸前，或兩手臂等處。種種怪象，實難盡言。時醫不識，則多用吊丹，西醫不明，則專用剖割，以為其核為我取去，豈有不善之理。不知此才取出，彼核又生，纏綿不休，多致環頸皆是，坐而待斃而已，慘何言哉？（希曾）之醫治癧症，則以潛消為主，隨起隨去，隨點隨干，務絕其根蒂，使他不得再蔓延而生。論其藥，亦最淡無味。論其價，亦最賤不貴。無論貧富，皆易施治。誠千古五大洲無過之至寶也。</p>
<p>癧之成症，總不外熱痰寒痰兩者。患熱痰者居其六，患寒痰者居其二，其餘如花柳風火併挾他症，而生者，亦有二焉。全在審症分明，其治自易。</p>
<p>癧之成症，原與癆瘵相表裡者也，同一陰火也，痰也。其痰其火，行之臟腑，初則咳嗽吐血，隨成癆瘵。行之經絡，則為瘰癧。有由先天而來者，有由後天而來者。先天之損由胎，故其發多在童年幼稚。後天之損由人，故其發雖年至五十六十，猶不免焉。是故善治者，只理其肝脾腎三經之陰火而已。</p>
<p>癧之成症，多由肝氣鬱結，或暴怒而成。故其發多在兩耳之下，頸之左右。凡患癧症者，最宜戒惱怒，並戒燥火生痰之味，藏養肝氣，勿使其動。動則其癧雖功在垂成之際，必致反劇，驟然腫脹異常，不得怨望醫師之藥力無功。患是症者，切宜戒之，即房勞亦所當戒，否則治亦無濟。</p>
<p>癧之成症，虛實寒熱，須辨分明。何謂熱症實症，望其舌苔黃，唇色紅，顏面有火氣。切其脈，浮中沉三部俱堅實有力，且其人雄偉異常，全無虛寒體態，則知其症之是由熱痰而起者。何謂虛症寒症？望其舌苔白，唇色淡，顏面無血色。切其脈，浮中沉三部俱沉遲無力，且其懶弱無比，語言坐臥，俱無精神，則知其症是由寒痰而起者。</p>
<p>癧之成症，除風火癧一症之外，無論初發久發，多不癢不痛。所以人多為其所誤，以為不甚關切，每致忽治。及至疊出無窮，或致潰爛，始恍然悔悟，已禍不堪言矣。願患是症者，早為調治，免貽後患。</p>
<p>癧之成症，最忌夜不早眠。不早眠，則必致陰火暴發。其他勞神各事之忌，無須言矣。</p>
<p>癧之成症，查古人所立方書，尚茫無善法，多致斃命。其他剖割吊丹等法，則益不堪言矣。故諺云：十癧九死，其信然矣。（希曾）自傳受此外治之方，再為參考內治之法，細心研究，百試不差。經（希曾）親自醫治者，可云十癧十生，縱有不治者，皆彼之自誤耳。噫！（希曾）今年四十有八矣，恐一旦棄世，此法失傳，千載下猶有憾焉。茲敬將所傳秘術，全盤托出，更將（希曾）數十年來，自己親臨各症，測准治法，並如何用藥，一一筆之於書，使後人照此醫治，斷無失誤矣。</p>
<p>癧之成症，實變化無窮。有可十天八天告愈者，有可二三十天告愈者，有三五閱月而告愈者，有久至期年而告愈者，總在其人之善為調養。深信（希曾）此法醫治，斷無不瘳之理。不然，縱醫治至三十年，亦無濟也。</p>
<p>癧之成症，內外兩科相較，此最難治。（希曾）所列宜食品內，有粉藤根、長藤胡練根兩味，和瘦豬肉服食者，此乃治氣血兩種癧症之聖藥。雖然，彼不深信者，斷不可輕易給癧家食之，何也？蓋服此兩種藥根後，必多服按症各丸藥，以固其元氣，庶不致傷損臟腑。若不多服丸藥，將來恐有吐血之病，反為不美。患癧者須知之，治癧者須慎之。（希曾）恐後人不慎，專用此藥根，誤人性命，故特摘出。醫之為術，可不慎歟。（附：長藤胡練，根說長藤胡練其葉一與練樹無異，惟彼則藤生的有紅白二種，其功用皆同，能開花結子，其花與燈籠草相似，凡人患惡核驟然紅腫者，取此藤連葉搗加赤糖少許，貼之奇效，並可貼對口瘡。）</p>

<h1>辨癧症之證治</h1>
<p><u>（一）氣癧</u>　初起僅二三核，形同檳榔，以指揉之，環轉如丸，愈起愈多，此名氣癧。當用疏氣消核丸，外治照下列點藥法點之。如其人兼有實熱，亦不妨酌加芩、連等味，然必須脈症相對，方為投之無害。</p>
<p><u>疏氣消核丸</u></p>
<p>夏枯草（二兩）　桔梗（一兩）　柴胡（五錢）　廣陳皮（五錢）　半夏（八錢）　元參（四兩）　煅牡蠣　煅龍骨　天花粉　茯苓（各一兩五錢）　白芥子　山慈菇（各一兩）　生甘草（五錢）</p>
<p>上藥研細末，煉蜜為丸，如綠豆大，切勿火焙。早晚飯後淡鹽湯送下三錢，加減作湯劑亦可。</p>
<p><u>（二）血癧</u>　初起僅一二核，形同伏杯，任指揉之，不搖不動，此名血癧。日久失治，雖未見增加粒數，亦必漸次加大。再為失治，必日國增矣。當用調血化核丸，或用溪黃五錢，和瘦豬肉四兩，水三大碗，煲二點鐘，煲至半碗，停凍。食時再煲熱，去溪黃，將肉並湯，飯後溫食。或三日，或五日，然後再煲食，不妨多食。外治照下點癧法治之。</p>
<p><u>調血化核丸</u></p>
<p>當歸　冬葵子　老熟地（各二兩）　阿膠　白芍　茯苓（各一兩半）　杭菊花　淡海藻　昆布　煅龍骨　煅牡蠣　山慈菇（各一兩）　柴胡（四錢）　白芥子（八錢）</p>
<p>上藥研細末，煉蜜為丸，如綠豆大，勿用火焙，服法同前。臨時加減，水煎亦可。</p>
<p><u>（三）陰火癧</u>　凡頸際夾起，大如卵形，堅硬異常。或一邊，或兩邊，或帶小核數粒，此乃寒痰凝結而成，名曰陰火癧。必其人體質羸弱，或後天虧損所致。當以溫補肝腎固脾為主，如加減六味地黃丸之類。再審其或唇舌常白，面色痿黃，並其脈沉遲無力，必兼用附、桂，乃克奏功。外治概如後點法治之。</p>
<p><u>加減六味地黃丸</u></p>
<p>熟地（四兩）　茯苓　枸杞子（鹽水炒）　萸肉（各一兩半）　澤瀉　丹皮（各八錢）　炙甘草　青皮（鹽水炒，各五錢）　半夏（八錢）　煅龍骨　煅牡蠣　炒杜仲　白芥子（各一兩）</p>
<p>上藥研細末，煉蜜為丸，如綠豆大，切勿火焙，服法如前。加減作湯劑亦可。</p>
<p><u>（四）無名癧</u>　亦有驟然紅腫，非色欲所致，即餐膳不謹。此無定名，隨症皆可致此。急用消腫湯，外治用下點法。如其人素本虛寒，仍當於虛寒症中參酌消息用之，不可拘泥。如腫退後，仍照原症治法治之。</p>
<p><u>消腫湯</u></p>
<p>夏枯草　元參　花粉（各三錢）　山慈菇　煅牡蠣　海藻　昆布　桔梗（各二錢）　生甘草　白芥子（各一錢）</p>
<p>上藥清水煎服，食後服之。</p>
<p><u>（五）老鼠癧</u>　凡層疊無窮者，名曰瘰癧，俗名老鼠癧。無論已潰未潰，俱隨起隨治，均照下點法隨核點之。未收口者，並貼以拔毒膏，隨其人虛實寒熱而治之。如熱之挾咳嗽者，即於貝母栝蔞散，或紫菀散內酌加元參、煅牡蠣等消息用之。如挾虛寒咳嗽者，則於二陳湯內隨其症之或陰或陽，酌加四物、四君加減消息用之。各湯劑為丸亦可。</p>
<p><u>貝母栝蔞散</u></p>
<p>川貝母（二錢）　杜膽星　焦山梔　黃芩　橘紅（各半錢）</p>
<p>清水煎服。</p>
<p><u>紫菀散</u></p>
<p>北沙參　阿膠　茯苓（各三錢）　紫菀　川貝母　桔梗（各二錢）　炙甘草（一錢）　五味子（廿一粒）</p>
<p><u>四物湯</u></p>
<p>大熟地（四錢）　白芍　當歸（各三錢）　川芎（一錢半）</p>
<p><u>四君子湯</u></p>
<p>黨參（二錢半）　白朮　茯苓（各二錢）　炙甘草（一錢）</p>
<p><u>二陳湯</u></p>
<p>半夏　茯苓（各二錢）　廣皮（錢半）　炙甘草（一錢）</p>
<p><u>（六）童子癧</u>　自襁褓而至成童，旋起旋消，或凝結久而不化，或時大時小，此多由先天虛損所致，或在其母腹內，因飲食不謹而來，此名童子癧，又名乳癧。其在三歲以內者，不能施以點核之功。如審其果系熱痰，惟用蕌頭搗鹽貼之，或黃花墨菜、白花墨菜，或燈籠草，或野菊花，或甜菜子取根葉，和赤糖少許搗貼。或用蒼朮三黃散，用白酒開塗。內則服黃花墨菜、白花墨菜，和赤糖少許，時時煎咽之。或百合，或花粉，時堡瘦豬肉食之，均宜臨症消息用之。如審其果系寒痰，外則用消腫散。或五將軍散，調白燒酒敷之。其在三歲以上者，則於各條內參酌用之可也。</p>
<p><u>消腫散</u></p>
<p>此方可治一切紅腫，並可治天蛇頭等症。</p>
<p>生南星　生半夏　生草烏　凋竹　細辛（各五錢）　重樓（一兩）　生甘草（三錢）</p>
<p>共研細末，燒酒調敷。</p>
<p><u>蒼朮三黃散</u></p>
<p>蒼朮　黃芩　黃柏　大黃　生南星（各五錢）　豬脂粉（少許用豬前蹄骨煅存性研粉用）</p>
<p>共研末，燒酒調敷。</p>
<p>此方能治一切淫毒。已破口者，用淨油調。</p>
<p><u>五將軍散</u></p>
<p>生半夏（一撮連根葉共生搗爛）　生蚌（三四隻如無蚌肉或蜃肉螺肉之屬均可）　丁香（少許）　粗鹽（少許）　飯粒（少許）</p>
<p>同搗敷。此方能治一切痰核惡毒等症。</p>
<p><u>（七）催命癧</u>　無論因何而起，誤被醫師用丹吊核，或因誤被西醫用刀剖核，以致纏綿不休，時而收口，時而破口。環頸皆是，此名催命癧。目見世人被這兩種醫生誤死者，恆不乏人。此症最為危險，分內外法治之，內治必審其人果屬熱者，則投以清熱化痰之品；若兼咳嗽者，並理咳嗽；兼血症者，並理血症；兼花柳者，則並解毒；若其人近陽虛者，則於化痰消核之內，重用四君；若近陰虛者，則於化痰消核之內，重用四物；虛寒甚者，則並用附、桂。要皆於前後各症門中消息用之，不拘執，各湯劑為丸亦可。外治則與上同，用藥粉調酒。周圍點之，其舊痂之大者，並其核之大者，無論痂內核內，俱並點之，即點其舊痂至爛亦不妨，使他亞核潛消，即穢濁之水，亦可隨舊痂之口，隨點隨爛，隨爛隨干，自易收口。倘有穢濁墜下，勢欲腫脹，可將其點核之藥渣點上，立即破口，隨腫隨破，以抽乾穢濁之水為止。此等穢濁，核不成核，膿不成膿，水不成水，不能潛消，不能拔毒，不能解化，只得用此隨腫隨破之法，抽乾其水，方能奏效，否則無濟。</p>
<p><u>（八）絕命癧</u>　或挾吐血而來者，或因患癧而至吐血者，俱名絕命癧，最為難治。又兼吐血，則經絡臟腑，內外俱傷，焉得不死。其因寒症吐血而患癧者，多是五臟虛損，須大補氣血，靜養二三年，或有生理。內治則服補元消核丸，切禁黃耆，蓋黃耆提氣故也。其因熱症吐血而患癧者，多是飲食不禁，或暴怒所致，內治則加減四生丸，或加減生地黃湯，或加減犀角地黃湯，或加減六味地黃丸。凡湯劑為丸亦可，隨症選用。外治同上。如吐血不止，可用生蓮藕搗汁服之，或正安南桂亦可。</p>
<p><u>補元消核丸</u></p>
<p>當歸　枸杞　白朮　炒棗仁　鹿角膠（各二兩）　山藥　茯神　熟地　煅龍骨　半夏　炒杜仲（各一兩）</p>
<p>上藥研末，將鹿膠化烊，加煉蜜為丸，服法同前。</p>
<p><u>加減四生丸</u></p>
<p>鮮生地（五錢）　生荷葉　生艾葉　生側柏葉（各三錢）　真鬱金（錢半）</p>
<p>清水煎服。</p>
<p><u>加減生地黃湯</u></p>
<p>鮮生地（五錢）　麥冬　白芍　丹參（各三錢）　元參　懷牛膝　荷葉（各二錢）　粉丹皮　焦山梔　真鬱金　參三七（各錢半）　煅牡蠣　煅龍骨（各一錢）</p>
<p>清水煎，服法同前。</p>
<p><u>犀角地黃湯</u></p>
<p>黑犀角（二錢磨汁）　鮮生地（四錢）　生白芍（五錢）　百合（三錢）　麥冬（去心）　花粉　煅牡蠣　煅龍骨（各二錢）　粉丹皮（錢半）</p>
<p>清水煎，服法同前。</p>
<p><u>加減六味地黃丸方</u>（見上陰火癧內）</p>
<p><u>（九）風火癧</u>　初起或在兩耳之下，或環頸皆是，或單在左耳之下，或單在右耳之下。無論核之多少，色帶紅光，即有欲破之勢，或作痛，或不作痛，或寒熱交作，此多由外感而來，名曰風火癧。失治則潰爛異常，須內外分治。外則用燈籠草，或黃花墨菜、白花墨菜，和赤糖少許，取葉搗爛頻敷，隨將其根連枝和赤糖煎服。未潰者，或用蒼朮三黃散，白燒酒調塗；已潰者，用地棉根葉和赤糖生搗敷上，拔去膿穢，貼收口膏，三五日即愈。內則服活絡疏肝散，如陽虛潮熱，則服加減五味異功散；陰虛潮熱，則服加減蒿皮四物湯。</p>
<p><u>活絡疏肝散</u></p>
<p>柴胡　牛蒡子　淮七　青皮　防風（各錢半）　花粉　土茯苓（各三錢）　山慈菇　葛根　夏枯草（各二錢）　生甘草（一錢）</p>
<p>審有實熱，酌加芩、連。</p>
<p><u>五味異功散</u></p>
<p>黨參（三錢）　白朮　茯苓（各二錢）　炙甘草　廣皮（各一錢）</p>
<p>有潮熱者，酌加丹皮、骨皮等味。</p>
<p><u>蒿皮四物湯</u></p>
<p>生地　白芍（各三錢）　北沙參　炙鱉甲（各二錢）　全當歸（錢半）</p>
<p>清水煎服。</p>
<p><u>蒼朮三黃散方</u>（見上童子癧內）</p>
<p><u>（十）真元虛損癧</u>　凡環頸破爛，臭穢不堪，久不收口，愈發愈眾，此乃根本虛極，氣血兩虧之症，名真元虛損癧。外治則如下點法，並貼拔毒生肌膏。或用羊屎丸，並搽羊屎散。內服補天大造丸，或加減十全大補丸。</p>
<p><u>羊屎丸</u></p>
<p>用山羊屎一斤，焙研，蜜丸，服法如前。綿羊屎不可用。</p>
<p><u>羊屎散</u></p>
<p>用山羊屎四兩，焙研，淨菜油調搽。</p>
<p><u>加減補天大造丸</u></p>
<p>黨參　白朮　山藥　茯苓　枸杞（各一兩半）　當歸（二兩）　炒棗仁（八錢）　熟地（二兩）　龜膠　鹿角膠　煅龍骨　煅牡蠣（各一兩）　川附子（五錢）　炙甘草（三錢）　安南桂（二錢）</p>
<p>上研末，蜜丸，不用火焙，服法如前。</p>
<p><u>加減十全大補丸</u></p>
<p>熟地　白芍　白朮　黨參　當歸（各二兩）　茯苓（一兩半）　川芎（八錢）　川附子（五錢）　安南桂（二錢）　炙甘草（三錢）　煅龍骨　煅牡蠣（各一兩）</p>
<p>上藥研細末，煉蜜為丸，切勿火焙，服如前法。</p>
<p><u>（十一）傷肝癧</u>　其在婦人，或因姑媳不和，或因夫婦不睦，或因子女不遂，或寡而無耦，憂鬱內傷。初則或經水不調，久而或致閉而不通，陰火上炎，皆能生癧，凝結不消，此名傷肝癧。百病叢生，極為難治，外治同上。</p>
<p>內服加減逍遙散，兼服加減八珍丸，或加減調經飲，或加減歸脾湯，隨其人消息用之。</p>
<p><u>加減逍遙散</u></p>
<p>柴胡　丹皮　焦梔子　煅牡蠣　廣皮（各錢半）　茯苓　白芍（各三錢）　白朮　當歸　半夏　白芥子（各二錢）　炙甘草（一錢）　薄荷葉（三分沖）</p>
<p><u>加減八珍丸</u></p>
<p>熟地　黨參　白朮　白芍（各二兩）　當歸（一兩半）　茯苓　煅牡蠣（各一兩）　山藥（一兩半）　半夏　川芎（各八錢）　炙甘草　廣皮（各五錢）</p>
<p>虛寒者，加附、桂。</p>
<p><u>加減調經飲</u></p>
<p>當歸　生香附（各三錢）　川牛膝　山楂　茯苓　白芥子　半夏（各二錢）　青皮（半錢）　白果（二十粒）</p>
<p><u>加減歸脾湯</u></p>
<p>黨參　白朮　炒棗仁　半夏　煅龍骨　煅牡蠣　龍眼肉（各二錢）　當歸　白芍（各三錢）　遠志　廣皮（各錢半）　炙甘草（一錢）　</p>
<p>清水煎服。</p>
<p>倘經閉氣塞，用丹參一味約五錢，常服奇效。或王不留行子均妙，或用少腹逐瘀湯。</p>
<p><u>少腹逐瘀湯</u></p>
<p>當歸　蒲黃（各三錢）　沒藥　赤芍　炒五靈脂（各二錢）　延胡　川芎　官桂（各一錢）　炒乾姜（一分）　炒小茴（七分）</p>
<p>清水煎服。</p>
<p><u>（十二）頭風癧</u>　凡挾頭風而來者，名頭風癧，多因肝氣鬱結而成。此症男子少患，女子居多。無論發在何處，外治同上，內服解鬱化痰丸，兼服逍遙散。</p>
<p><u>解鬱化痰丸</u></p>
<p>夏枯草　白芍（各三錢）　白芷　羌活　秦艽　茯苓　半夏　葛根　煅牡蠣　杭白菊（各二錢）　天麻（錢半）</p>
<p>上研末，為丸。服法同前，作湯劑亦可。</p>
<p><u>加減逍遙散方</u>（見上傷肝癧內）</p>
<p><u>（十三）傷肺癧</u>　凡因咳嗽日久而來者，名傷肺癧。其症有二，一由外感，一由內傷。由外感而成者，或加減黃芩知母湯，或加減甘桔湯，隨症輕重，斟酌選用。由此症多挾氣膈損傷，隨症酌用治傷各味。外治同上。</p>
<p><u>加減黃芩知母湯</u></p>
<p>黃芩　知母　杏仁　焦山梔　川貝母　桔梗　煅牡蠣（各二錢）　生桑皮　元參　天花粉（各三錢）　鬱金（錢半）　生甘草（一錢）</p>
<p>如挾初感風寒，酌加荊芥、防風。</p>
<p><u>加減甘桔湯</u></p>
<p>生甘草（一錢）　桔梗　川貝母　旋覆花　百部　茯苓（各二錢）　鬱金（錢半）　白前（錢半）</p>
<p>如挾初感風寒，酌加荊芥、防風。</p>
<p><u>加減左歸飲</u></p>
<p>熟地　萸肉　枸杞　茯苓　廣皮（各三錢）　山藥　半夏（各二錢）　三七　炙甘草（各一錢）　鬱金（錢半）</p>
<p>清水煎服。</p>
<p><u>加減右歸飲</u></p>
<p>熟地　山藥　枸杞　炒杜仲（各三錢）　半夏　白芨（各二錢）　鬱金（錢半）　三七　廣皮（各一錢）　炙甘草（一錢）　白芨　萸肉（各二錢）　附片（八分）　安桂（三分）</p>
<p><u>（十四）頑核癧</u>　無論在頸之左，在頸之右，初起只單一核，圓若彈丸，不癢不痛，雖經八年十年，仍不腫不痛，亦無加增，此名頑核癧。皆因或氣或血，為機觸動凝結而成，不必施治。惟謹戒食燥火生痰之物，並少食雞肉，及一切動肝火，則得之矣。</p>
<p><u>（十五）花柳癧</u>　凡審其果自花柳而來，無論如何發起，均名花柳癧。內治皆以解毒為先，當用枯草慈菇化毒丸，間服土茯苓膏。如花柳各症，尚未全愈，須兼服另編花柳丸，並多服解毒湯。如有別症，隨其症之屬陰屬陽，分別酌治。外治同上。如破口，則貼拔毒生肌膏，破口之外，仍用下外治之法點之。如有欲破又未破者，則用所點之藥粉連渣點之，點上少許，其口即破。</p>
<p><u>枯草慈菇化毒丸</u></p>
<p>夏枯草（五兩）　川貝母　山慈菇　蒲公英　廣陳皮　全蠍　枳殼　桔梗　山梔　白芷　半夏　柴胡　金銀花（各二兩）　沉香　生甘草　杜膽星（各一兩）</p>
<p>共研末，米糊為丸，如綠豆大，各藥切忌火烘。服法同前。</p>

<h1>點癧之藥方</h1>
<p>點癧藥品列下</p>
<p>新出窯石灰（八錢出窯未泡水愈新愈佳）　干餅藥（四錢又名梘砂潔白如雪者佳即純鹼）　明硃砂（五釐）</p>
<p>上三味。其法取石灰先臨風自化。篩去粗粒，將各藥秤足，貯瓦罐聽用。或預先製備多數，將三味加增和勻封好，切勿近潮濕，隨帶出門，極為方便。至硃砂一味，原取其色紅，易見痕跡，以便復點，非必需之藥也。方中三味，共重一兩二錢零五釐，即加減些亦可。大約每料必如此之多，方見有味，臨時酌用，不必拘泥。以上所列內服各藥品，其輕重亦可隨時隨人加減，神而明之，存乎其人。</p>

<h1>點藥之用法</h1>
<p>點時，將各藥秤足，用有蓋釉瓷器盛好，然後取高粱燒酒開化，極力攪勻，至恰好處。何謂恰好？以藥停腳後，其上面約二分清酒浮出，是為恰好，然後取小筆桿一枝，蘸起其浮出清酒，在癧之核外離三分處周圍點之。每一點，約亦均離三分，切勿一片塗去。如有酒流下，當用紙圈拭淨，周圍點完，頃刻點干，照其原點痕處再點。連點至六七次，以痛為度。初點二三次，即微作癢，至五六次，即微作痛，如蟻咬焉，並無大痛。</p>
<p>不可並渣點上。如並渣點上，必致破皮，倘破皮，亦無甚妨害，二三日即自平滿。</p>
<p>不可錯亂點去，須次第照原點之痕處點之，其藥味方能直達，而制服其核外之根株，使他潛消，永久不能再發。</p>
<p>首次點後，計首尾足五日，須再依前法點之，使其前次所點之藥力，與後次之藥力，可以相接，方能奏功。如未消盡，越五日再點，點至全消為止。</p>
<p>點時，無分點數，量核之大小而准數焉。核之大者，其點數即多，核之小者，其點數即少，總以周圍點之為妙。長者照長式點之，圓者照圓樣點之，核之奇正不齊，即隨其奇正之式點之，倘其核過大，則並核內亦不妨點之，且不妨周圍雙行點之，使藥味猛而有力，點至全消為度。如其核收小，則點藥亦宜漸次移入步位，勿拘其舊日所點之處也。遇有昔時之破痕破口，亦不妨隨其破痕破口外周圍點之，使他垢穢不再成膿，易以收口。倘其舊痕腫脹不堪，即痕內亦不妨加點之，其垢穢隨結痂處而干，亦易收口。倘其痕如有欲破之勢，則將藥渣點上，立即破口，並貼以拔毒生肌膏。</p>
<p>其核之大小長短方圓聊珠，無論如何式樣，皆可散去。惟有舊痕之死核，則不可散去，點者須知。</p>
<p>倘無石灰之處，即用煅蜃灰代之亦可，亦取其咸能軟堅之意。其藥力雖無石灰之猛，然加之干餅藥少許，久點亦必自消。</p>
<p>倘或鄉曲之處，一時未便有高粱酒，即用酸醋代之亦可。蓋酒味則取其透徹經絡，醋味則取其能收斂脛節也。</p>
<p>點至五六次猶不癢不痛者，必其藥味泄而無力故也，須換過藥粉，仍開酒或醋點之。大約此藥味調酒後，未經點者，仍可久藏，干後再將酒調開。如已經點者，僅可藏至十五六天，至久一月，即要更換，大約攪至藥粉成團。酒不能清，即無味矣。</p>
<p>隨其核之大小點之。其核收小，其點亦隨而減少收入，總以離核三分為妙，不可過遠。過遠，則其藥力不能透其根蒂。</p>

<h1>癧家之忌食</h1>
<p>雞肉（雞性主動，動則燥火，癧之症多生自肝，肝最忌燥，故雞肉一味為癧家最忌食，雖已全愈，仍當切戒焉。）　鵝肉（有毒燥忌食）　飛禽（類多燥火忌食）　煎炒（燥火忌食）　魚蝦（生痰燥火忌食）　陳腐（生痰忌食）　羊肉（燥火忌食）　牛肉（燥火忌食）　酸辣（傷筋傷脛忌食，非特姜與胡椒辛辣等味，凡一切辛散之味，皆當戒也。）　馬肉（燥火忌食）　豬肝（燥火忌食，凡一切諸肝物，皆當戒焉。）</p>
<p>以上所列忌食各品，不過言其大略，總不外乎其品之近燥火生痰發毒者，皆當切戒焉，癧家謹之。</p>

<h1>癧家之宜食</h1>
<p>豬肉（滋潤宜食，瘦者為佳。）　鮫鯉（即穿山甲，破堅除毒宜食。）　貓肉（滋潤除陰火，宜食。）　鴨肉（清潤降火，宜食。）　甲魚（滋潤降火，宜食。）　海參（滋潤，宜食。破爛者，則忌食也。）　墨魚（滋潤降火，宜食。）　蜇皮（滋潤除痰，宜食。）　鮑魚（滋潤宜食）　蜃肉（滋潤宜食）　燕窩（滋潤除痰宜食）　蠔豉（滋潤宜食）　淡菜（滋潤宜食）　鴨蛋（清潤宜食）　海帶（除痰宜食和豬瘦肉同煲更妙）　鹹蛋（清潤宜食）　雞蛋（清潤宜食）　百合（清潤宜食）　紅豆（清解宜食）　白豆（清解宜食）　檸檬（除痰宜食）　東瓜（清解宜食）　甕菜（清解宜食）　生菜（清解宜食）　芥菜（除痰宜食）　蘿蔔（清解宜食）　苦瓜（清解宜食）　綠豆（清解宜食）　黑豆（清解宜食）　赤豆（去濕宜食）　土茯苓（清解去淫宜食，可當茶飲，煲豬瘦肉更為宜。）　夏枯草（清解平肝可當茶飲）　粉藤根（化痰解毒，消腫化核，須和豬瘦肉同煲食。其法取根約三錢，和豬瘦肉四兩，水三大碗，煲二點鐘至半碗停，凍去渣藥根，再煲並湯食之。）　長藤胡練根（其性服法如粉藤根）　鳳尾草（清解當茶飲）　溪黃（化痰消核服食之法一如粉根）</p>
<p>以上所列當食各品，大約多近清痰化火之味。至其人虛寒，又當因人服食，臨時酌定可也。無論寒熱各症，上條所列之當戒者，仍當切戒。</p>
