<header data-type="book">
<h1>異授眼科</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>年份</dt><dd><data value="1643">公元1643年</data></dd></div>
</dl>
</header>

<h1>明目論</h1>
<p>人之兩目，猶天之日月，視萬物，察毫末，何處不至？日月有一時之晦昧，風雲雷雨之所致也；眼有一時之失明者，六慾七情之所害也。蓋目乃五臟之精華，為一身之主宰，故五臟分為五輪，八卦分為八廓。五輪者配五行，金木水火土也。肝屬木，名風輪，在眼為烏睛。肺屬金，名氣輪，在眼為白睛。脾屬土，名肉輪，在眼為上下胞。心屬火，名血輪，在眼為兩眥。腎屬水，名水輪，在眼為瞳神。至於八廓，無位有名。膽之腑為天廓，曰乾。膀胱之腑為地廓，曰坤。命門之腑為水廓，曰坎。小腸之腑為火廓，曰離。大腸之腑為山廓，曰艮。三焦之腑為澤廓，曰兌。脾胃之腑為雷廓，曰震。肺之腑為風廓，曰巽。此為眼目之根本，而藉之胞絡。故五臟蘊積風熱，或七情之氣，鬱結不散，上攻於目，各於五臟而見之。或腫癢羞明而多淚，障膜昏暗而不明。其病有七十二症，須究其源。若是風邪則驅散之，熱即清涼之，氣結則調順之，切不可輕用針刀鉤割。偶得其愈，出乎僥倖，一或有誤，遂成終身之患。且又不可過用涼藥，恐冰其血輪，凝而不流，反成痼疾。更當量人之老幼，體其氣血之虛實，方可用藥，無不應驗。假令人眼目無光，或生冷過多，須當用補藥以暖下元，益其腎水。北方之人，患眼最多，皆因日冒風沙，夜臥火坑，二氣交蒸，使之然也。治之當用涼藥。所以北方稟氣，與南方不同故也。凡小兒痘疹之後，毒氣鬱結於心肝二經，發於眼目，傷害瞳神，素無治法。如浮於肺經，而障膜遮睛，可治也。竊聞孫真人傳得仙方，濟人一眼，九世其昌。今此書真有點石化金之奇，撥雲見日之妙。凡患目者，宜看五輪，有餘則瀉，不足則補。且如肝者，木也，木能生火，火乃木之子也。木為火之母，肝經虛也。虛則補其母，實則瀉其子。此良法也。治眼不過審其金木水火土，虛實子母，相生相剋，宜補宜瀉。如此而已。七十二症問答，簡而且明，宜珍視之。真有神聖之功，手到病除之奇。</p>

<h1>看眼訣圖</h1>
<figure>
<img data-orig-src="urn:270:05358.jpg" alt="看眼訣圖">
</figure>
<p>大小眥屬心，病則赤。大眥赤則心實，小眥赤則心虛。或昏熱赤爛腫痛，多生浮翳。血貫瞳仁，若大眥先赤而傳小眥，左眼先病而傳右眼，其病在心。</p>
<p>黑睛屬肝，病則昏花黑暗，頭疼流淚，其病在肝。</p>
<p>上下瞼屬脾胃，病則胞腫。起胬肉，外廓生小塊，名偷針。又或拳毛倒睫，其病在脾。</p>
<p>白睛屬肺，病則白睛腫起，多生瘀肉有淚。或白膜侵睛，名曰氣障，其病在肺。</p>
<p>瞳仁屬腎，病則目昏暗，瞳仁青綠，頭疼，冷淚多，視物若堆煙，或青盲內障，其病在腎。若瞳仁大而有窟者不治。</p>

<h1>眼病歌訣</h1>
<p>氣上昏蒙不足，虛則珠內生花，熱則赤腫疼痛，風則腫癢更加，內障多因色欲，食毒眵膜來遮，上下拳毛倒睫，脾胃風熱堪嗟。扳睛胬肉突出，心肝為酒傷也。</p>

<h1>冷眼歌訣</h1>
<p>心冷目昏氣悶，肝冷時時淚零，脾冷隱澀難開，肺冷時昏光暈，膀胱冷生昏暗，胃冷視物不明，昏沉大腸之冷，腎冷大小瞳仁。</p>

<h1>熱眼歌訣</h1>
<p>心熱血貫瞳仁，肝熱胬肉扳睛，脾熱時時刺痛，胃熱膜翳時生，腎熱睛瞳疼痛，膀胱倒睫如針，大腸熱生赤膜，肺熱胞腫侵淫。</p>

<h1>藥性光明賦</h1>
<p>元參苦參能散血，大黃通利涼肝熱，退熱柴胡及前胡，歸尾白芷能破血，藿香順氣並木通，防風荊芥能除風，去障羚羊牛蒡子，明目蜜花有大功，蒼朮陳皮和脾胃，頭痛藁本及川芎，明目菊花穀精草，清神住淚真為寶，退翳蟬蛻石決明，涼肝紫蘇龍膽草，止淚木賊桑白皮，治肺五味及黃耆，退熱黃連並黃柏，破血射干葙子隨，搜風獨活連細辛，蔓荊厚朴可相親，干弦止淚五倍子，香附紫蘇亦堪爾，目暈除風旋覆花，補虛菟絲牛膝加，梔子涼心當大用，補虛退熱豈為差，遠志通心真罕得，黃芩涼心真頃刻，行血須知生地黃，退熱連翹居其旁，破血赤芍地骨皮，赤茯苓堪補虛勞，羌活穀精除風熱，退障訶子山楓葉，磨障車前石決明，涼心當知小冬青，惟有枳殼寬腸疾，甘草解毒可傳名，硃砂硼砂開障翳，熊膽善能掃風塵，木香麝香通孔竅，黃丹解毒如神妙，去障硇砂反掌神，牙硝琥珀豈等倫，白丁香能除冷障，止痛血竭如可親，虛實熱風及諸症，空青片腦要買真，甘石安神能定目，從頭一一說與君。</p>

<h1>五經虛</h1>
<p>心虛，當歸、生地。肝虛，柴胡、紅花。脾虛，棗仁、白朮、陳皮。肺虛，五味、麥冬。腎虛，蓯蓉、山萸、熟地、杜仲、枸杞。肺熱血盛，桑皮、丹皮。</p>

<h1>瀉五經火</h1>
<p>心火甘梢生地翹，獨引黃連犀角超。肺火桑皮麥冬梔，芷引元參杏石膏。脾火只連生地芩，麻引黃甘用要勤。肝火尾荊赤柏明，柴引薄荷補姜陳。腎火熟地知澤柏，獨活引經增大黃。胃火梔子膏乾葛，補胃白朮與生薑。補心遠智茯苓鹽，提肺升麻白芷桔，補肺車天五味參，補肝姜枸芍芎熟，補腎斛柏知芍煎。杜枸牛絲戟破蓉，寬腸芒硝殼大黃，寬小木通及羌活，瀉膀胱芎羌活柏，瀉三焦兮柴胡芩。止吐藿香及生薑，止淚芥芩香附菊，更有決榔附子辛，陳皮朴硝麻黃並，去翳蒙葙款菊明，龍膽蛻賊及穀精，退膜榔賊及穀精，白蒺為君用要勤，去風蒺藜白僵蟲，防風蟬蛻亦相仿，退熱芩梔黃柏連，連翹大黃正相兼，破瘀芒硝丹大黃，槐紅桃實最相當，內障兩明蔓歸尾，朴硝葙子及大黃，外障菊花牛蒡蛻，石菖元細蒺藜芎，蔓羌草決防黃柏，黃連葙子生地羚，犀角款冬白芷柏，赤芍車前覆盆楮，木賊穀精及菟絲，龍膽諸醫須要知。</p>

<h1>眼目虛實冷熱論</h1>
<p>一眼上午不痛，下午大痛，是虛熱也。</p>
<p>一眼上午大痛，下午不痛，是實熱也。</p>
<p>一眼淚多者是虛熱，少者是實熱也。</p>
<p>一眼淡白紅者，是虛熱也。</p>
<p>一眼不痛不疼，翳膜漸漸遮睛，冷也。</p>
<p>一眼內膜翳帶白色，冷也。</p>
<p>一眼有疼痛，翳膜漸漸遮睛，熱也。</p>
<p>一眼神腎水脫歸瞳子者，氣連清淨府也，午前為陽，午後為陰，冷也。</p>
<p>虛實寒熱歌</p>
<p>虛熱淚多淡白紅，上午不痛下午痛。實熱淚少鮮紅腫，午後不痛午前痛。</p>
<p>不痛翳膜漸遮睛，翳帶白色冷可定。疼痛翳膜漸遮睛，更帶紅色熱始審。</p>

<h1>點藥藥性</h1>
<p>甘石，止痛淚。乳香、沒藥，止痛散血。</p>
<p>青鹽，去障眵翳，能涼血。銅青，去風障，正瞳神。</p>
<p>白丁香，去胬肉扳睛。石蟹，去脹眵，消腫。</p>
<p>硃砂，正瞳神。蕤仁，去障眵，解毒還睛。</p>
<p>明礬，去障風翳，硼砂，涼血去障。</p>
<p>枯礬，去風障干爛弦。膽礬，去翳。</p>
<p>血竭，散血住痛。輕粉，住痛殺蟲。</p>
<p>巴豆，去胬肉翳膜。水粉，止淚生光。</p>
<p>瑪瑙，去障。連末，解藥毒，通竅散血。</p>
<p>熊膽，分塵去垢，散血臀膜眵脹。琥珀，去障生光。</p>
<p>龍骨，去翳障膜止淚。珊瑚，去障塵。</p>
<p>硇砂，熟用去翳膜，生用爛肉。珍珠，生用傷爛肉，熟用去膜生光。</p>
<p>牛黃，正瞳生光，清心止痛，去障膜。</p>

<h1>炮煉法</h1>
<p>珍珠，用人乳拌一宿，入豆腐內煮熟，熟者生光，生者傷睛。</p>
<p>瑪瑙，火煅醋淬三次。</p>
<p>礬石，燒過。</p>
<p>琥珀，生研。</p>
<p>石燕，煅用，醋淬四五次。</p>
<p>石蟹，煅用，醋淬四五次。</p>
<p>熊膽，用篾盛上下去鮮血，不斷絲者乃真。</p>
<p>麝香，用手摻如線者佳。</p>
<p>石決明，用青鹽和泥包煨煅。</p>
<p>牛黃，如千層餅樣，一層黑一層黃者佳。</p>
<p>文蛤，一名海蛤，即雲南錢，同甘石一樣煅。</p>
<p>硼砂，燒乾不制。</p>
<p>白砒，同明礬入瓦盆內，燒煙盡為度。</p>
<p>乳香，用銅勺滾水煮之成塊，在箬上炙煅去油。</p>
<p>輕粉，燒過。</p>
<p>沒藥，箬上炙去油。</p>
<p>海螵蛸，三黃湯煮，黃連、黃柏、黃芩。</p>
<p>牙硝，蘿蔔煮過，冷定取面上結浮者佳。</p>
<p>蛤粉，燒過。</p>
<p>銅青，放在姜內，外以紙包，火煨煅過。</p>
<p>翠青，即青黛，滾水泡過。</p>
<p>青礬，若有硇砂，不可同用。</p>
<p>韶光炒。（韶光查無此藥恐有訛誤存參）</p>
<p>翠白，即上好白瓷器，醋燒煅九次。</p>
<p>樟腦，要升過。</p>
<p>綠礬，濯水煮，再入瓦罐內煮乾。</p>
<p>雲母石，炒脆。</p>
<p>青鹽，入草決明內，鹽泥封固煅過用。</p>
<p>膽礬，用紅棗去核，入礬在內，火上燒，半生半熟。</p>
<p>雄黃，大者打開，內有一層粉，即是雄精。</p>
<p>白丁香，即麻雀糞，用水淘浮，於水上白者，是丁香，余不用。</p>
<p>蕤仁，熱水煮過，去油打粉。</p>
<p>夜明砂，水浸爛，用稀布袋盛之，內去粗泥，外存泥沙，又用夏布袋盛水中漂淨，如尖頭者真。</p>
<p>海金砂，制如夜明砂法。</p>
<p>鵝不食草，即野芫荽，一名天芫荽，五月五日午時取來，陰乾為末。</p>

<h1>男女禁忌</h1>
<p>子日不針，未日不藥。男忌除，女忌破。</p>

<h1>看眼法</h1>
<p>夫天地之五行，配人身之五臟，身之五臟，合目之五經也。如兩眥屬心，心屬火，其色紅也。黑珠屬肝，肝屬木，其色青也。兩瞼屬脾，脾屬土，其色黃也。白珠屬肺，肺屬金，其色白也。瞳仁屬腎，腎屬水，其色黑也。察其五色，觀其五臟，五經配於五臟者也。察乎五行，推其生克，審其所感所因，用藥醫治，無有不愈。但人之所稟有厚薄，病之所感有重輕。風寒暑濕，喜怒哀樂，無非有所因而發也。今以大概觀之，因氣感者，當矇昧而色濁；因血而感者，多羞澀而色淡。飲酒發者，色必盛而連珠帶赤；好色而發者，紅必鮮而睛光恍惚。痛極者熱而帶虛，癢極者熱而加風。如有兩感，必至重犯。此皆初發之疾，大略如此。至於時作時止，日積月累。遷延歲月，或成紅障、白膜、雀目、青盲、痔蠹、胬肉、漏突、頂睛、物傷、跌撲、痘疔、癤潰，千態萬狀，不能枚舉。但是睛珠無損，瞳仁不失，不過障翳侵掩，皆為可治之症。至於珠塌、睛懸、淚枯、瞳涸、旋螺紋點，黑白混雜，此皆破壞之疾，不治之證也。有障翳賊翳，對視不見，必須斜眇。有干睛縮睛，目力難辨，必須借日。翳有堅浮厚薄，不過遲速，皆可去也。色有紅藍紫綠，不過傳變，皆是火也。拳毛倒睫，肺與脾而相搏，風熱有餘，瞼皮寬解，痰與氣而相搏，寒濕尤多。轉睛鬥睛，無非風熱彌深。遠視近視，當分陰陽偏勝，此皆目前所見，有所異常者，不能細述。參其一定之規，用我活變之法，盡望聞問切之心，必得神聖工巧之驗也。</p>

<h1>演藥法</h1>
<p>認得其病，必當用藥，如認不真，必當用術。設有瞳色不變，障翳全無，但只不見，欲見光明者，何以處之。欲與養明，反生翳障，欲與去翳，又不可磨。必須先用輔藥七分，主藥三分，勤點兩三日，發出翳來，就與去之。如其無翳，當與斂光，覺得少有光明，便是生意。令病人慎守，內服降火養水之劑，外點散氣養明之藥，漸漸光明，乃是效處，不宜急速攻之。如旬日之內，光不得轉，此為廢疾，不可強之。或有障翳漫布，黑白不分，睹物有影，欲求分明者，何以治之。急於去翳，必損餘光，一於養明，翳不得敷，必須先用主藥六分，輔藥四分，勤點五六日，翳不動而光略生，方施重劑。光不生而翳略薄，施藥何用。凡有不識之病，不可輕誑輕詐，以致誤人。少行演試之術，可行則行，可止則止，此乃善誘之意，不可拒絕人也。</p>

<h1>點藥法</h1>
<p>今人點藥於眼，皆以大眥為根，不拘何證，皆點是處。殊不知大眥但胬肉可治，余不能除，不若揭起上弦瞼，以藥播入，緊閉良久，使藥周圍散漫，無處不到。睛珠瞼眥，藥無所間。至於磨翳，必傍翳點藥，隨其上下，方得翳去。不可間散施點，使藥不驗。</p>

<h1>製藥法</h1>
<p>硇砂、丹、蘆，不制有毒，螵蛸、磁石，不制難研，務須研細。揀擇停當，或火煉，或水飛，或投入藥汁者，必煉煅令蘇入汁，候乾再入。如火煉者，必用瓦放藥在上，以炭火罩漏旺扇者，火候不可太過，不可不及。如水飛者，必須研細，放入水中，攪沉數次，將上浮起者，另傾別器，澄出清水，曬乾再研。其餘草藥，不過煮浸淨洗而已。</p>

<h1>煎膏法</h1>
<p>凡用膏子，不拘官料草藥，必要洗淨切細，或煎汁，或搗汁，皆要澄濾濁腳為是。取上面清者，入罐煎熬，十去七分，將三分存下，方入薄瓷器內，隔水燉厚，下蘆薈末收干。要老要嫩，但憑所宜。然焦則無力，嫩則難收。</p>

<h1>研藥法</h1>
<p>珍珠、琥珀、瑪瑙、珊瑚，皆所難研者，古人有用火煅者，雖易碎，去其真性，又近於燥，不可用。水磨者，蕩去細塵，虧者太過，又不可。不如用布數層包定，鐵錘打碎，放開，揀細者入抒缽內，輕輕慢研細篩，真性不失，虧者不多也。</p>

<h1>合藥法</h1>
<p>務將合藥料，預先研細，稱定包好，煎定膏子，各用器盛定，無一不備。方將各末子稱准，並立一處，重篩去粗末，次將熟蜜入器內，次稱膏子入膏蜜化勻，次入細藥攪勻得所，方下黃丹、麝香，收定，連器下窖出火毒，然後入瓷罐收用，愈久愈佳。若驟用，則火猛耳。</p>

<h1>用藥法</h1>
<p>治眼之法，用藥最難，大熱則發，大寒則凝，所以冰片禁用，黃連少用。外點之藥，須以消熔斂光為主，內服之藥，須以發散破氣為先。初發者降火消風，久病者蕩翳發光。若驟補驟瀉者，皆能損目，毋欲速，毋放肆，慎之。</p>

<h1>服藥法</h1>
<p>目疾眼藥，每每不得速應，故服藥者鮮矣。古云：鍋中點水，不如灶底抽薪，點藥服藥，此為內應外合之意也。服於食前固不可，服於食後，皆是運動之際，藥行四散，亦不得取效。惟於臨臥之時，臥而服之，兩眼皆合，精神潛伏，藥性上升，必走空竅，故於兩目皆應。</p>

<h1>禁忌</h1>
<p>目疾一得，諸事宜戒。飲食、起居、房勞、人事，皆能損目。如酒助火，色喪神，蒜昏目，怒傷睛。辛辣性熱而動火，發物腥膻而動氣，雖愚人亦知戒矣。有合衣香者，因觸而喪明，有飲燒酒者，因醉而昏目。至於當風向火，冒暑迎寒，此皆致病之因。又有刀針磨刮，熏灸出血等件，不能禁忌，為害不淺，皆庸醫騙人，尤當峻拒。至於塵沙播揚，煙火熏蒸，目疾未愈者，尤當遠避。日月光輝，紅紫豔色，目力微弱，不可久視。惡香惡臭，不惟有觸發之患，抑且有損明之虞。知命者，當以養明保身，豈可輕生自戕。</p>

<h1>主藥方</h1>
<p>赤芍藥一兩，切碎煎膏收入。</p>
<p>牯牛膽一個，水牛膽與黃牛膽同功。如得黃牯牛膽為佳，多尋數枚，收入黃柏膏內，煎老成丸，外以黃蠟包裹，能留久遠，與牛黃無異。</p>
<p>真熊膽一錢，箬炙研末，用槿樹梗搗汁收入。</p>
<p>黃連五錢，切細煎膏。</p>
<p>黃柏一兩，切細煎膏。</p>
<p>當歸五錢，切細煎膏。</p>
<p>硼砂四錢，揀大塊月色者佳，將竹瀝收二錢，蘿蔔汁拌收二錢，令乾共細研入藥。</p>
<p>珍珠一錢五分，生研，白淨無油透者佳。</p>
<p>琥珀一錢。須吸燈草起者佳，生研用。</p>
<p>血竭一錢，研極細，無砂者佳。</p>
<p>硇砂白淨明亮者，用楓樹皮搗汁，收制五分，研細入藥。</p>
<p>漏蘆煎膏五分，收入罐，雄雞膽二個，雄鴨膽二個，入藥再煉。</p>
<p>銅青一錢五分，要銅上刮下者佳，店中買者不用，恐假者反為害。</p>
<p>蘆甘石四錢，黃連煎膏制一半，鉛汞制一半，後用蘇木膏三錢，入人乳半盞，收干入藥。</p>
<p>蘆薈一錢，研細。</p>
<p>青鹽一大塊，用甘草水煮過，研細，入藥五分。</p>
<p>海螵蛸一片半，大而厚者佳，用槐花煎汁，研細，收入下藥。</p>
<p>硃砂四錢，辰州成塊者佳，細研無聲，水飛入藥。</p>
<p>乳香煎膏五分。</p>
<p>沒藥煎膏五分。</p>
<p>黃丹八分，湯泡再研細，水飛過。</p>
<p>麝香一分。</p>
<p>上各件，如法制過，用熟蜜四兩，收煉得所，下窖出火毒，入瓷罐內收用。</p>

<h1>輔藥方</h1>
<p>黃柏要黃厚滋潤者，去粗皮，切片，煎汁，入蘆薈末，隔水減熱，收於瓷罐內，用前方為主藥，此為輔藥，看病輕重，以藥相配，病重者用主多，病輕者用輔多。若去翳用主，加後輔藥，隨症加減，逐一開列。</p>

<h1>加減方</h1>
<p>磁霜，要好瓷器打碎鋒芒是也。用炭火煅紅，取出淬童便中。如此數次，研細篩過，紙包聽用。如遇老翳，白丁香不能動者，略加些磨之，少得翳動即止，間一日再用，此是猛藥，不可輕使。慎之。</p>
<p>螺硇，用田螺數個，去靨，每個加硇砂豆大一塊，仰放一宿，取出煎乾，再研末，如遇胬肉厚翳，用些加點，少動即止，間或用之。</p>
<p>螺涎，取大田螺去靨，少加青鹽，其涎自出。如用螺硇太過，以致昏目，用此涎合藥頻點則退。</p>
<p>飛丹，水飛過，細篩紙包聽用。如遇爛眶，加些頻點，爛之甚者，再加海螵蛸並用。</p>
<p>煅過蘆甘石，淚多有水翳，眶爛瞼爛，用丹並點。</p>
<p>蘿蔔制硼砂，將硼砂研碎入水，加蘿蔔片煮滾三四次，去蘿蔔煎乾，去面末硼砂，研細篩過。如翳至薄不可施重藥，以此消溶引水，以蕩輕翳。</p>
<p>大青石，研細，紙包。如翳薄光明不發者，加藥點之。</p>
<p>辰砂，研，紙包。如翳薄光恍惚者用此。</p>
<p>白丁香，即麻雀糞，取外白者是丁香，黑者不用。甘草水煮過，研細，紙包。若主藥點翳不動，以此攻之，翳薄除之，此藥有卷翳之力。</p>
<p>酸石，即五味子煎汁，將煅過蘆甘石收干，即酸石也。如遇羞明之症，用此藥以水調塗之。</p>
<p>上藥十味，驗如影響，但用者務要的當，不可輕忽。藥味俱要道地精選，並要虔誠修合，走遍江湖，無人敢敵。</p>
<p>此方亳州王振吾先生，因父病目將盲，出榜，願以三百金相酬，名醫群集治療，不愈。有道人揭榜能醫，出藥點之，半月而愈。振吾以三百金相酬，道人分釐不取，闔家拜謝。道人遂授此書，令振吾制就施濟。遠近復明者，不可勝數。適有楊奉林者，與振吾相契甚厚，亦同病目。醫愈，求授此書，遂為名醫。今有徽商王姓，其人與奉林為至戚，得其真本，而不肖因在其延醫診病，見其施藥如市，細叩其因，渠竟親筆相授，但惜力有不能。僅合後方，然亦甚效。倘制就時，萬祈普惠廣施，則功誠不淺矣。</p>
<p>上好羊腦蘆甘石八兩，打如蓮子大，一分為重，則用新銅罐盛入童便，浸四十九日，濾去宿童便，再入新童便煮，一炷香咬鹹酸味，不必再煮。又不可煮老，研為細末，用缸片一大塊，將藥放在上，用硬炭火煅，一炷香久。甘石漸漸轉如松花色，細心謹慎取起，總稱勻分，作四分，作四法制之，四製法開後。</p>
<p>一分用薑汁煮三次，候乾，細研篩過，名曰虎液膏。另用瓷罐盛之，不可出氣。</p>
<p>一分用細辛、芥穗、薄荷各一兩，煮濃汁大半盅，亦煮三次，如前研細篩過，名曰鳳麟膏，另用瓷罐收貯。</p>
<p>一分用晚蠶沙三升，炒為灰，滾水淋灰汁大半盅，亦煮三次，候乾研細，名曰青龍膏。另用瓷罐收貯。</p>
<p>一分用童便再煮三次，候乾，研細，名曰羊腦玉。另用瓷罐收貯。</p>
<p>以上俱要如法修制，並要銅鍋煮方佳，研極細，各將瓷罐收貯聽用，用法開後。</p>
<p>一治內障，如迎風冷淚，怕日羞明，昏花等症。用虎液（六分）　羊腦玉（一分）　鳳麟（二分）冰片一分，合勻調點。</p>
<p>一治內障，胬肉扳睛，赤白翳膜爛弦等症，用虎液（二分）　羊腦玉（四分）　青龍（四分五釐）　冰片（一分），合勻調點。</p>
<p>一治時行火眼。用虎液（七分）　羊腦玉（四分）　硃砂（五釐，細末水飛），合勻調點。</p>
<p>一治年久雲翳遮睛，不能行路，但見人影，如白衣人行。有血根扳睛可治者，用青龍（六分）　羊腦玉（四分）　每日骨簪點四五次，點後閉目，藥盡開眼，直點至翳開之後，再用虎液（二分）　羊腦玉（四分）　鳳麟（三分）　冰片（一分）　珍珠（五釐，煅研細末）　琥珀（五釐，不用制細末），合勻，如法點。</p>
<p>以上照法調合點之，勿得配錯致誤，此非尋常可比也，珍之。</p>
<p>神效水眼藥方（治諸般目疾）</p>
<p>羊腦蘆甘石用童便浸，春五夏三，秋七冬十日，取出略打碎，用瓦片盛於火盆內，火煅二次，漂淨焙乾十兩。</p>
<p>辰砂研細水飛四兩，山東黃丹水飛焙乾十兩，麝香研細三錢，乳香去油細末四兩，硼砂研細二兩，沒藥熨去油細末四兩，海螵蛸去衣研細，水浸漂淨焙乾，十兩。</p>
<p>上藥各樣為末極細，直研至無聲為度，稱准不可多少，每藥末九兩，煉上好白蜜一斤，調成膏子，其蜜要用絹帕濾三次。其蜜雖要煉三次，可以不必滴水成珠，總是熬化濾過而已。合就用瓷罐收貯，蠟封過兩月方可用，愈久愈佳，經驗。</p>

<h1>按五輪治療捷法</h1>
<p>春來木旺之時，應在肝經。因嗔怒氣逆，上而不下，則傷肝。肝傷則納肝血，肝乃膽之母，肝熱則生風，故眼熱赤腫，淚如雨，羞明怕日，不便開張，此肝經實熱之症。肝乃東方甲乙木，在眼為風輪，貫清淨廓，通膽經，宜用瀉肝湯治之。</p>
<p><u>瀉肝湯</u></p>
<p>眼朦春月瀉肝先，柴薄梔芩歸芍添，陳草荊防通滑石，大黃膽草共黃連，先熏後食頻頻服，赤腫旋消喜自然，再合鎮肝丸子服，春時永絕舊根源。</p>
<p><u>鎮肝丸</u></p>
<p>蒼朮（八兩，米泔水浸）　穀精草（三兩）　黃芩（三兩）　木賊（三兩，去節）　石決明（一兩，煅）　皂角末（一兩）　羊肝（一具，不落水以竹刀刮去膜，研爛如泥）</p>
<p>上將前藥末共搗千捶，丸梧桐子大，每清茶送下三十丸。</p>
<p><u>補肝丸</u>　治肝虛目暗，漸漸昏蒙，時見黑花，視一如二者。</p>
<p>菟絲子（酒煮搗爛）　柏子仁（炒，各三兩）　枸杞（三兩）　山藥（三兩）　白茯苓（二兩）　防風（一兩）　枝子（一兩，炒）　五味子（一兩）　車前子（一兩，炒）　細辛（五錢）　甘草（五錢）　蕤仁（三錢）　川芎（一兩）</p>
<p>以上共為細末，熟地三兩，兔肝一具，搗膏入藥。</p>
<p>上藥煉蜜為丸，梧桐子大，燈草煎湯送下二錢。忌蘿蔔、蒜椒薑、魚腥、犬羊、煎炒、油麵、生冷之物。</p>
<p>夏來火旺之時，應在心經。凡人焦思不已，勞神動心，心不生血，血少不能養肝，故目無所視，兩眼四角為大小眥。眥屬心，喜怒不常，思慮過度，房事恣意，水不能制火，上攻眼目，以致胬肉扳睛，熱血不止，刺痛難開，久而不治。翳生瞳仁，身熱口舌生瘡，其病在心，心屬南方丙丁火，在眼為血輪，貫抱陽廓，通命門經。</p>
<p><u>瀉心湯</u></p>
<p>眼紅夏月瀉心經，通草枝連生地停，甘滑荊防歸芍入，大黃紫草效通神。</p>
<p>秋來金旺之時，而應在肺。蓋肺為華蓋，位居在上，冷熱不調，故損肺經。肺損不能生水，火無水制，炎攻於目，故黑睛上起白翳，謂之金剋木。肺屬西方庚辛金，在眼為氣輪，貫傳導廓，通大腸經。</p>
<p><u>瀉肺湯</u></p>
<p>秋時眼病肺宜清，枳桔桑葶地骨芩，旋覆麻黃防共草，佐加歸芍地黃尋，煎嘗酌量分深淺，三帖麻黃不必增。</p>
<p>冬來水旺之時，而應在腎。房勞酒色恣意，則眼生花，如飛蠅之狀。視人物如堆煙，視太陽若水花，久而不治，則為青盲也。腎屬北方壬癸水，在眼為水輪，貫津液廓，通膀胱經。</p>
<p><u>瀉腎湯</u></p>
<p>冬時眼治腎之經，牛蒡芎歸與黑參，生地荊防柴芍藥，水煎溫服目還明。</p>
<p>夫脾胃者，屬中央戊己土，每季各旺十八日，在眼為肉輪，貫水穀廓，通肺經。</p>
<p><u>瀉脾湯</u></p>
<p>瀉脾枝芍菊荊防，枳桔元翹膽細羌，甘附木通歸蔓子，宣壅疏土正堪嘗，消風丹點功還大，風熱全驅體自康。</p>
<p><u>消風丹</u></p>
<p>黃柏（五錢）　秦艽（五錢）　防風（五錢）　細辛（五錢）　黃連（五錢）　木通（五錢）　薄荷（一錢）</p>
<p>上研細末，水一盅，浸一宿去滓，加菊花一錢，白蜜四兩，熬成膏，出火毒調點。</p>
<p>一治眼多淚，用</p>
<p>鯽魚膽（七個）　人乳（一盅）</p>
<p>和勻，飯上蒸一二次點目，其淚自收。</p>

<h1>四季加減煎藥方</h1>
<p>當歸（八分）　白茯苓（去皮，八分）　草決明（炒磨碎，八分）　麥冬（去心，八分）　黃芩（八分）　銀柴胡（八分）　生地黃（八分）　防風（八分）　白芍（五分）　羌活（五分）　川芎（五分）　粉草（三分）　青葙子（水淘去泥，磨碎，八分）</p>
<p>河水二盅，加竹葉燈心為引。</p>
<p>春　倍加　柴胡　羌活　蔓荊　荊芥</p>
<p>減　茯苓</p>
<p>夏　倍加　黃柏　黃連　菊花　山梔　寒水石</p>
<p>減　柴胡</p>
<p>秋　倍加　桑皮　黃連　黃芩　麥冬　白朮　赤芍</p>
<p>減　川芎　白芍　柴胡</p>
<p>冬　倍加　黃柏（鹽水炒）　知母（鹽水炒）　菟絲　山藥　枸杞　石決明（煅）</p>
<p>減　黃芩　羌活　山枝</p>
<p>飲酒過多，倍加　乾葛　山枝（炒）　黃芩　天花粉</p>
<p>減　茯苓　柴胡</p>
<p>受寒頭痛，倍加　荊芥　羌活　薄荷　藁本　白芷　石膏</p>
<p>減　黃芩　麥冬</p>
<p>受熱紅腫，倍加　山枝　羌活　黃柏　蔓荊　荊芥　大黃　朴硝</p>
<p>減　甘草　柴胡</p>
<p>惱怒目痛，倍加　枳殼　香附　白蒺藜車前子　旋覆花</p>
<p>夢遺目痛，倍加　山藥　菟絲　枸杞　熟地　天冬　覆盆子</p>
<p>勞神目腫，倍加　當歸　川芎　茯苓　遠志　人參</p>
<p>減　羌活</p>
<p>忌鮮魚、雞子、雞、燒酒、煎炒、生冷、麵食、酒、豬腦髓，戒怒惱、性急、焦躁，又忌桃、李、梅、瓜、菜，並滾水洗面。</p>

<h1>眼有七十二症醫治</h1>

<h2>第一問</h2>
<p>目有兩睛，猶天之有日月也，平空昏者何故？答曰：皆因酒色過度，憂愁思慮悲哭，或醉飽，臟血不勻，肝經抑鬱，則為患矣。宜點虎液珍珠膏，服明目流氣飲。</p>
<p><u>明目流氣飲</u>　治目中障翳，隱澀難開，迎風冷淚，時時暴赤，視物不明，眼生黑花。</p>
<p>大黃（炮）　牛蒡子（炒）　川芎　甘菊　白蒺藜（炒去刺）　細辛　防風　元參　梔子（炒）　荊芥穗　蔓荊子（炒）　甘草　黃芩　木賊（去節）　草決明（炒，以上俱七分）　蒼朮（米泔水浸，六分）</p>
<p>水煎食後服，或為末，臨臥時酒送二錢。一方加木通、白朮、石決明。</p>

<h2>第二問</h2>
<p>目有赤腫者何故？答曰：五臟熱邪內攻，以致心火暴盛，皆酒之所致也，宜點青龍虎液膏，服洗心散、羊肝丸。（方見七十一問）</p>
<p><u>洗心散</u>　治肝熱傳於心經，積熱上攻，眼弦澀，睛疼，熱盛風多。</p>
<p>木通　赤芍　甘草　荊芥　黃連　薄荷　當歸　生地黃</p>
<p>水煎食後服。（五問、六十三問其方俱與此不同）</p>

<h2>第三問</h2>
<p>目有赤而不痛者何故？答曰：肝實也。肝者，血臟也，肝實則血盛，盛則血氣上攻，侵貫瞳仁，故赤而不痛。並痛至坐臥不得，宜點鳳麟、羊腦玉，服瀉肝散。</p>
<p><u>瀉肝散</u></p>
<p>大黃（五錢）　荊芥（一兩）　甘草（一錢）</p>
<p>共為細末，每用熱湯送二錢。</p>

<h2>第四問</h2>
<p>目有赤而昏暗，起黑雲，大角紅者何故？答曰：肝虛也。肝屬木，木生火，子盜母氣，則昏暗。火發則木衰。若心火旺，則血有餘，貫大角，侵於瞳神，目既赤而又昏也，宜點虎液膏。肝實者服瀉肝散。（方見三問。）膽虛者，服補膽散。心火旺者服瀉心散。</p>
<p><u>補膽散</u>　治黑白內外障翳，膽虛者，膽以瀉為補。</p>
<p>當歸　羌活　蒺藜　蟬蛻　荊芥　甘草（各二錢）</p>
<p>共為末，每服二錢，米湯下。</p>
<p><u>瀉心散</u>　治目赤疼痛，心火實者。</p>
<p>甘草（二錢）　澤瀉（五錢）　黃連（三錢）</p>
<p>共為末，每服二錢，燈心湯下。</p>

<h2>第五問</h2>
<p>目有大角赤痛者何故？答曰：心實也。大角屬心，南方火位之象，心火旺，則大角赤痛，宜點青龍膏，服洗心散、三黃湯。</p>
<p><u>洗心散</u>　（二問六十二問俱有此名方各不同）</p>
<p>生地　薄荷　荊芥　防風　羌活　山梔　黃連　黃芩　柴胡　石羔　甘草　川芎　菊花　龍膽草　淡竹葉（各等分，研細末）</p>
<p>上散，日進三服。</p>
<p><u>三黃湯</u>　治熱淚傾出，沙澀睛疼，怕日羞明胞腫者。用</p>
<p>黃連　黃芩　黃柏（各等分俱炒）</p>
<p>水煎服。</p>

<h2>第六問</h2>
<p>目有小角赤者何也？答曰：心虛也。心屬火，火能生土，故火乃土之母，土實則火虛，如子肥知母瘦也。宜點虎液珍珠琥珀膏，服補心散。</p>
<p><u>補心散</u>　治疼痛不已。</p>
<p>當歸（一兩五錢）　芎藭（一兩）　生地（一兩五錢）　粉草（一兩五錢）　遠志（去心，一兩五錢）　柏子仁（三兩）　酸棗（炒，二兩）　人參（一兩）　金箔（一帖）　麝香（一分）　琥珀（三錢）　茯苓（七錢）　南星（五錢）　半夏（五錢）　石菖蒲（六錢）　辰砂（五錢）</p>
<p>共為末，蒸餅為丸，如綠豆大，硃砂金箔為衣，每服七分，拌津含化，薑湯下。</p>

<h2>第七問</h2>
<p>目有白翳多者何故？答曰：肺屬金，金能生水。水若過旺，面上即見風膜，肺竅因塞，失其精華，致肺托落。（肺托落三字他書罕見存疑）肺因乾硬，故氣澀之而為翳。金若不旺，則不能生水，水不能生肺，亦有乾燥之病，宜點珍珠膏，服補肺散、洗心散。（洗心散方名互見，藥味不同。此不立方未便亂用，且其屬肺前洗心，二方似不相宜）</p>
<p><u>補肺散</u></p>
<p>當歸（五錢）　黃芩（一兩）　桔梗（四錢）　赤芍（五錢）　桑皮（一兩）　麻黃（四錢）　枳殼（四錢）　葶藶（五錢）　地骨皮（八錢）　甘菊（四錢）　元參（八錢）　白芷（四錢）　生地（四錢）　甘草（四錢）　金銀花（四錢）</p>
<p>共為細末，每服三錢。</p>

<h2>第八問</h2>
<p>目有翳而多淚不凝結者何故？答曰：即是肺托落，肝虛也，宜點珍珠琥珀膏，服阿膠散、補肺散。（方見七問）</p>
<p><u>阿膠散</u></p>
<p>白茯苓（二錢）　白朮（二錢）　川芎（二錢）　阿膠（炒成珠，二錢）　當歸（一錢）</p>
<p>姜三片，棗三枚，水煎，不拘時服。</p>

<h2>第九問</h2>
<p>目有怕日羞明何故？答曰：脾實也。脾屬土，土受濕氣傳於肺，肺受心經邪火而傳於目，太陽受濕熱則勝脾土，土盛肌肉壅塞難開，乃是濕氣相搏，故怕日羞明，宜點珍珠膏，服洗脾飲、密蒙丸。</p>
<p><u>洗脾飲</u>　治胞腫赤痛。</p>
<p>當歸　天花粉　赤芍　黃芩　羌活　穿山甲（炒）　金銀花　白芷　連翹</p>
<p>水煎將好，加大黃芒硝一二錢，即取起，食後服。</p>
<p><u>密蒙丸</u>　此方還有在後，看加減服。（此言還有在後，查後未見，疑係脫簡）</p>
<p>密蒙花　菊花　羌活　石決明（鹽水浸炒）　青精石　白蒺藜（炒去角）</p>
<p>上各等分為末，煉蜜為丸，桐子大，每服三十丸，食後服，日三服。</p>

<h2>第十問</h2>
<p>目有視物不真者何故？答曰：脾虛也。脾屬土，肝屬木，木剋土，青黃相爭，黃不勝青，故視物不真。宜點珍珠膏，服蒼朮湯、補腎丸。（方見十一問）</p>
<p><u>蒼朮湯</u></p>
<p>蒼朮（米泔浸炒，一錢二分）　藁本（一錢）　白芷（一錢）　羌活（一錢）　川芎（一錢）　甘草（一錢）</p>
<p>蔥姜煎服。</p>

<h2>第十一問</h2>
<p>目有黑花，如飛蟬蠅者何故？答曰：腎虛也。腎屬水，水若枯，則腎虛。宜點虎液、青龍膏，服豬苓湯、補腎丸。</p>
<p><u>豬苓湯</u></p>
<p>五味子　熟地　豬苓　肉蓯蓉（酒洗）　枸杞子　覆盆子</p>
<p>不用引，水煎服。</p>
<p>補腎丸（五十四問、六十六問各有補腎丸，均相同）　車前子（酒浸，一兩）　石斛（去根，一兩）　青鹽（二錢）　磁石（煅醋淬七次，水飛，二錢）　沉香（五錢，另研）　菟絲子（酒煮打爛，二錢）</p>
<p>共為末，煉蜜為丸，梧桐子大，每服七十丸，空心鹽湯送下。</p>

<h2>第十二問</h2>
<p>目有迎風流淚者何故？答曰：腎虛也。肝木生風，腎水枯不能滋木，木乃腎之子，故見風流淚也。宜點鳳麟羊腦玉，服地黃丸。</p>
<p><u>明目地黃丸</u>（四十八問亦有地黃丸，其方不同，此即薛氏選方減去石斛者）</p>
<p>生地（一斤，酒浸）　熟地（一斤，酒浸九蒸）　防風（四兩）　枳殼（去瓤麩，炒，四兩）　川牛膝（去蘆，四兩）　杏仁（去皮尖，二兩）</p>
<p>共為末，煉蜜為丸，梧桐子大，每服五十丸。</p>

<h2>第十三問</h2>
<p>目有赤筋扳睛者何故？答曰：心火主血，肝木主筋。血侵於筋，肝心同源，相傳於目，故曰血眼。多生扳睛，宜服三黃湯，不退再服當歸散，點珍珠膏。（珍珠膏疑即虎液等膏加珍珠琥珀之方）</p>
<p>三黃湯（以大黃易黃柏，即三黃丸方，見後五十二問）</p>
<p>大黃（二錢，酒炒）　黃芩（一錢五分）　黃連（二錢五分）</p>
<p><u>當歸散</u></p>
<p>當歸　白芷　羌活　甘草　梔子　牛蒡（炒）</p>
<p>共為末，滾水調服。</p>

<h2>第十四問</h2>
<p>目有白膜遮睛者何故？答曰：肺金克肝木，風邪在肺矣。金旺而木衰，故白膜遮睛。宜點珍珠膏，或點推雲散，服連翹飲、四順清涼散。</p>
<p><u>連翹飲</u></p>
<p>連翹　甘草　黃芩　梔子　薄荷　大黃（酒炒）　朴硝（以上各等分）</p>
<p>上共為末，滾水下，或蜜丸亦可。</p>
<p><u>四順清涼散</u></p>
<p>大黃（酒炒）　川芎　山梔　赤芍　沒藥（制去油）　歸身　枳殼　香附（酒炒）　生地　甘草（以上各等分）</p>
<p>共為末，米湯下。</p>
<p><u>推雲散</u></p>
<p>蘆甘石（五分）　珍珠（二分）　瑪瑙（三分）　硃砂（四分）　熊膽（一分五釐）　黃連（一分五釐）　乳香（六釐）　沒藥（六釐）　麝香（二釐）　硼砂（三釐）</p>
<p>共為細末點眼。</p>

<h2>第十五問</h2>
<p>目有遇風作癢者何故？答曰：肝經有風邪。肝屬木，一見風，躁動即癢。宜點虎液膏，服荊芥散。</p>
<p><u>荊芥散</u></p>
<p>荊芥　蔓荊子　甘菊　白芍　香附　蒼朮（炒）　草決明（炒）　甘草（以上各等分）</p>
<p>共為細末，每服一錢。黑豆湯下。</p>

<h2>第十六問</h2>
<p>目有早晨昏花者何故？答曰：此為頭風注於目，頭乃諸陽之首，早晨昏則陽衰，陽氣屬木，木旺寅卯辰時，故邪勝則生風，攻於目也。宜點羊腦玉，服蒺藜散。</p>
<p><u>蒺藜散</u></p>
<p>白蒺藜（炒）　芍藥　茯苓　甘草　石決明（鹽水炒）　川芎（炒）　羌活　當歸　防風　蒼朮（米泔浸炒）　蟬蛻　麻黃（以上各等分）</p>
<p>共為細末，滾水送下。</p>

<h2>第十七問</h2>
<p>目有午後昏暗者何也？答曰：胃腦損也。元氣即真元也，流傳於陰道，不歸陽道，自午至戌之候，寒氣漸生，故主腦損，以致臨晚目昏。宜點珍珠膏，服寬中散、太陽丹、瀉肺散，灸風府穴。（風府穴一名舌本穴，在頂後入髮際一寸處）</p>
<p><u>寬中散</u></p>
<p>青皮（四兩）　陳皮（四兩）　丁香（四兩）　甘草（四兩）　朴硝（四兩）　細辛（五錢）　厚朴（二兩，薑汁炒）　白豆蔻（二兩）</p>
<p>共為末，每服二錢，鹽湯下。</p>
<p><u>太陽丹</u>　治太陽穴疼痛，名雷頭風。</p>
<p>大川烏（一兩）　石膏（煅，一兩）　白芷（一兩）　甘菊（一兩）</p>
<p>共為末，蜜和麵糊為丸，硃砂、羌活一兩，甘草二兩，細辛五錢，為衣，每服八十丸，淡薑湯下。</p>
<p><u>瀉肺散</u></p>
<p>黑豆　白芷　澤瀉　當歸　枸杞　苦參</p>
<p>上藥各等分，水煎服，忌酒煎炒發物。</p>

<h2>第十八問</h2>
<p>目有昏花，迎風流淚，怕日羞明者何故？答曰：風熱上攻於目也。宜點虎液膏，服上清丸。</p>
<p><u>上清丸</u></p>
<p>羚羊角（鎊，一兩）　犀角（鎊，一兩）　牛黃（五錢）　琥珀（三錢）　厚朴（薑汁炒，一兩）　黃芩（酒炒，一兩）　川芎（五錢）　白芷（五錢）　菊花（八錢）　防風（八錢）　羌活（八錢）　草決明（一兩）　生地（七錢）　熟地（七錢）　防己（八錢）　黑牽牛（八錢）　蟬蛻（去頭足，七錢）　地膚子（一兩）　滑石（一兩）</p>
<p>共為末，蜜丸，梧桐子大，每服五十丸，食後服。</p>

<h2>第十九問</h2>
<p>目有日夜疼痛者何也？答曰：陽毒之氣盛也。經云：靜則血氣衰，注於陽道，寒邪克之，故日夜作疼。宜服撥雲丸。</p>
<p><u>撥雲丸</u></p>
<p>白蒺藜（炒去角）　羌活　獨活　防風　生地黃　荊芥　當歸　蛇蛻　金銀花　蟬蛻　赤芍　甘草</p>
<p>水煎服。</p>

<h2>第二十問</h2>
<p>目有日中痛者何故？答曰：陽氣盛也。經云：陰靜則陽盛。陽火盛則旺於日中，見陽氣則痛，故知陰虛也。宜服洗心散。（方見二問、五問。二問五問方各不同，余以病輕者服二問方，重者服五問方，似有區別）</p>

<h2>第二十一問</h2>
<p>目有浮眵白膜者何也？答曰：肺金受熱也。血盛則熱，氣盛則寒，肺氣盛則生膜，白乃肺之根也。肺受風邪，浮散於目，故有白膜遮之也。宜點虎液膏，服四順飲。（四順飲未立方，蓋即十四問四順清涼散也，存疑）</p>

<h2>第二十二問</h2>
<p>目有旋螺突出者何也？答曰：是積也。積乃臟腑之流毒，攻於外，發於目，血結於肝，木之積也。宜服蟬蛻無比散，點推雲散。（方見十四問）</p>
<p><u>蟬蛻無比散</u></p>
<p>蟬蛻（去頭足，一兩）　蛇蛻（微炒，一兩）　羌活（三兩）　當歸（酒洗，三兩）　川芎（鹽酒炙，三兩）　石決明（鹽水煉，三兩）　防風（四兩）　蒼朮（米泔浸，二兩）　茯苓（四兩）　赤芍（二兩）　炙甘草（四兩）　白蒺藜（炒去刺，八兩）</p>
<p>共為末，食後服三錢，米湯調下，忌生冷油麵等物。</p>

<h2>第二十三問</h2>
<p>目有瞳仁倒者何也？答曰：五臟俱損也。外因五色，內因五味，精液妄行，以致腎水枯竭而傷肺肝，知五臟損也。宜點珍珠虎液膏，服菊花丸。</p>
<p><u>菊花丸</u></p>
<p>菊花（四兩）　巴戟（一兩六錢）　五味子（二兩）　肉蓯蓉（酒洗，一兩）　枸杞（二兩）　</p>
<p>共為末，蜜丸梧桐子大，每服用鹽湯送下三十丸。</p>

<h2>第二十四問</h2>
<p>目有青膜遮睛者何也？答曰：目乃腎水之源，精神之腑。五臟積熱，壅滯氣血，衝擊肝木，故青膜遮睛也。宜點青龍琥珀膏，服洗肝散。</p>
<p><u>洗肝散</u></p>
<p>薄荷葉　川芎　大黃　當歸　梔子　防風　羌活　甘草（以上各等分）</p>
<p>共為末，每服三錢，食後服。</p>

<h2>第二十五問</h2>
<p>目有瞳仁黃者何也？答曰：黃風內障也。五行應變，升降為先。若血氣衰澀，不能應目，故瞳仁黃也。宜點珍珠散，服椒紅丸。</p>
<p><u>夜光椒紅丸</u></p>
<p>川芎（一兩）　白蒺藜（炒，三錢）　防風（五錢）　蒼朮（炒，二兩五錢）　熟地（三兩）　車前子（炒，三錢）　元精石（五錢）　羌活（一兩）　當歸（一兩）　川烏（一兩）　陳皮（一兩）　黃連（一兩）　珍珠（五錢）　人參（五錢）　川椒（五錢）</p>
<p>共為末蜜丸，梧桐子大，每服四十五丸，木香湯下。</p>

<h2>第二十六問</h2>
<p>目有白星散亂，頭昏眼花黑暗者何也？答曰：氣血衰也。氣血者，周流百脈，百脈一衰，六陽俱起，頭即昏眩，血脈不行，故生白星，昏花黑暗。宜服川烏散，點推雲散。（方見十四問）</p>
<p><u>川烏散</u></p>
<p>川烏（煨）　細辛　川芎　防風　生地　當歸　芍藥　甘草　人參（以上各等分）</p>
<p>共為末，每服二錢，酒送下。</p>
<p><u>石膏二川湯</u>　（石膏二川湯法中未見，疑漏載）</p>
<p>石膏　川烏　川芎　防風　荊芥　羌活　連翹　升麻</p>
<p>水煎服。</p>

<h2>第二十七問</h2>
<p>目有粉青而昏者何也？答曰：脾家風濕，瘀血滯精，宜服分昧散，點推雲散。（方見十四問）</p>
<p><u>分昧散</u></p>
<p>琥珀（一兩）　防風（一兩）　元參（一兩五錢）　蔓荊子（炒，一兩五錢）　草決明（一兩五錢）　甘草（一兩）　細辛（一兩）　牛蒡子（炒，一兩五錢）　蒼朮（米泔浸，一兩）　大黃（一兩）　甘菊（一兩）　白蒺藜（炒，一兩五錢）</p>
<p>水煎或為末，白湯調下，每服二錢。</p>
<p><u>老膜散</u>　治翳膜極重者。（老膜散法中未見，忽附於此，前證用此未免過峻，施之翳膜極厚者可也）</p>
<p>珍珠（二分）　熊膽（一分五釐）　辰砂（一分五釐）　陀僧（一分五釐）　蕤仁（一分五釐）　白丁香（一分五釐）　荸薺粉（二分）　硇砂（升過，一分）</p>
<p>共為細末點之。</p>

<h2>第二十八問</h2>
<p>目有赤脈下垂而昏痛者何也？答曰：是肝家邪風所致。木生火，火乘風邪，故血妄行。宜服通血散。</p>
<p><u>通血散</u></p>
<p>草決明　防風　荊芥　赤芍　當歸　大黃　山梔　羌活　木賊　蒺藜　甘草</p>
<p>共為末，每服茶湯調服三錢。</p>

<h2>第二十九問</h2>
<p>目有赤腫，瞳仁痛者何也？答曰：腎水枯，心火旺，水不能勝火。宜服洗心散（方見二問五問）、補腎丸（方見十一問）。</p>

<h2>第三十問</h2>
<p>目有沙澀流淚者何也？答曰：脾家熱也。翻過眼皮，將針撥破紅點，銅烙熨之平復。若熱淚睛痛，怕日羞明，胞腫，宜點推雲散，（方見十四問。）服加味洗心散（方見二問五問。二問五問方各不同，見證斟酌用之）</p>

<h2>第三十一問</h2>
<p>目有白珠多紅者，及眵淚沙澀難開何也？答曰：患目之後，多受風寒，而氣血不通，九竅閉塞，以致肺氣衰弱，心火太旺，故心血欺凌肺金。宜點珍珠虎液膏，服和血補氣飲。</p>
<p><u>和血補氣飲</u></p>
<p>防風（一錢）　黃芩（一錢）　蔓荊子（一錢）　白芷（一錢）　柴胡（一錢）　甘草（五分）　當歸（一錢五分）　升麻（六分）</p>
<p>水煎服。</p>

<h2>第三十二問</h2>
<p>目有眵淚如膿，赤腫而昏者何故？答曰：腎虛心虛，名曰龍虎交困。宜服坎離丸、補腎丸（方見十一問），點推雲散（方見十四問）。</p>
<p><u>坎離丸</u></p>
<p>白朮（土炒）　細辛　川芎　草決明（炒）　羌活　當歸　五味　防風　官桂　菊花　元參　白茯苓　地骨皮　青葙子　車前子　甘草　人參　苦參　黃芩（以上各等分）</p>
<p>共為末，煉蜜為丸。每服四十丸，米湯下。</p>

<h2>第三十三問</h2>
<p>目有迎風冷淚，多膜而昏痛者何也？答曰：此肝木生心火，火旺而金衰，故不得剋制肝木，名曰東西合戰。宜點推雲散（方見十四問），宜服瀉肝散、補膽散（方見三問四問）</p>
<p><u>人參湯</u>（人參湯法中未見，蓋漏載，揣病原亦宜服）</p>
<p>人參（三錢）　黃連（五錢）　蔓荊子（炒，三錢）　甘草（二錢）　白芍（二錢）　黃柏（鹽水炒，二錢）　知母（鹽水炒，二錢）</p>
<p>水煎溫服。</p>

<h2>第三十四問</h2>
<p>左右目互相赤紅何也？答曰：血邪攻衝也。肝臟不足，為風熱相爭，左右來往，脈有偏盛偏衰，故曰互相赤紅也。宜敷赤頭散，服蠶紙丸、芍藥湯。</p>
<p><u>蠶紙丸</u></p>
<p>晚蠶蛾　蟬蛻　菊花　羌活　穀精草　甘草（各等分）</p>
<p>共為細末，蜜丸，每服三十丸，茶下。</p>
<p><u>赤頭散</u></p>
<p>南星（二兩）　赤小豆（三兩）</p>
<p>共為末，淨水調敷眼眶，並太陽二穴。如干以水潤之，取效。</p>

<h2>第三十五問</h2>
<p>目有暴生眵障，頭面腫痛何也？答曰：太陽火熱，受風邪也。宜點珍珠虎液膏，服川芎散、洗心散。（方見二問。川芎散漏未立方，按證用二問之洗心散，不如用五問之方效速，曾驗）</p>

<h2>第三十六問</h2>
<p>目有縱橫赤脈，沙澀眵膜多淚，怕日羞明者何也？答曰：飲食不節，損傷脾土，以致精神短少。況水屬太陽，其氣生肝木，木旺則生風，風濕相搏，故怕日羞明。點珍珠虎液膏，服柴胡散、退血散。（退血散漏未載方可惜）</p>
<p><u>柴胡散</u></p>
<p>柴胡　菊花　元參　甘草　地骨皮　赤芍　黃芩　羚羊角</p>
<p>共為末，白湯下。</p>

<h2>第三十七問</h2>
<p>目有黑花，當時墮淚難開者何也？答曰：肝經不足，內受風熱，上攻於目，或血氣時行，暴赤腫痛，宜點推雲散（方見十四問），服明目流氣飲。（方見一問）</p>

<h2>第三十八問</h2>
<p>目有沙澀流淚，爛弦赤痛者何也？答曰：宜用手法，將眼皮翻過，用針輕輕撥破班瘡，取三四次。宜服清毒散，點推雲散。（方見十四問）</p>
<p><u>清毒散</u>　治風濕眼痛。</p>
<p>大黃　荊芥　牛蒡子　甘草　</p>
<p>水煎服。</p>

<h2>第三十九問</h2>
<p>目有年深月久，赤脈貫睛，淚出如傾者何也？答曰：心火未除，肺氣相搏，故赤，宜服瀉肺散。</p>
<p><u>瀉肺散</u></p>
<p>桑白皮　茯苓　黃芩（炒）</p>
<p>共為末，每服二錢，燈心湯下。</p>

<h2>第四十問</h2>
<p>目有胬肉扳睛，紅障壅上者何也？答曰：用青龍膏一點，即用手法取之，再點，如痛者，加茶調散。</p>
<p><u>茶調散</u></p>
<p>防風　羌活　柴胡　甘草　當歸　黃芩　生地　川芎　天花粉（以上各等分）</p>
<p>共為末，沙糖水茶調下。</p>

<h2>第四十一問</h2>
<p>目有烏睛突出而痛者何故？答曰：心肝二經受邪，以致毒氣上攻，宜服洗心散（方五見問），後服洗肝散。</p>
<p><u>洗肝散</u></p>
<p>赤芍　細辛　遠志　防風　桔梗　甘草　人參　羚羊角　黃芩（以上各等分）</p>
<p>水煎服。</p>

<h2>第四十二問</h2>
<p>目有太陽穴如針刺腫痛，服藥不愈者何故？答曰：心經熱搏，上攻於腦，宜用清淨膏。又外敷和雞子清塗，數日再用手法取之。再點珍珠虎液膏，又外敷赤頭散（方見三十四問），內服洗心散（方見二問）加川芎、羌活。</p>
<p><u>清淨膏</u></p>
<p>南星　薄荷　荊芥　白芍（以上各等分）</p>
<p>共為末，用雞子清調敷眼眶上。</p>

<h2>第四十三問</h2>
<p>目有兩角爛弦者何故？答曰：風邪外感，熱氣內攻，先點推雲散（方見十四問），後點虎液膏。</p>

<h2>第四十四問</h2>
<p>目有暴發赤腫，沙澀難開者何故？答曰：體虛脾弱，酒色過度，宜點珍珠虎液膏，宜服人參敗毒散，以散其熱。</p>
<p><u>人參敗毒散</u></p>
<p>人參　前胡　薄荷　羌活　桔梗　枳殼　陳皮　川當歸　川芎　半夏　茯苓　黃連　黃芩　梔子　生地</p>
<p>水煎服。</p>

<h2>第四十五問</h2>
<p>目有棗花，形如鋸齒者何也？答曰：乃體厚而多熱，或飲酒而多濕，性多濕熱到肝，肝經傷，被風搖動，肝經有損故也。宜點鳳麟膏，服蟬蛻無比散（方見二十二問），再服黃連敗毒散。</p>
<p><u>黃連敗毒散</u></p>
<p>黃連　黃柏　黃芩　獨活　羌活　防風　當歸　連翹　藁本　桔梗　人參　蘇木　甘草　黃耆（以上各等分）</p>
<p>水煎服。</p>

<h2>第四十六問</h2>
<p>目有臨臥而不見物者何也？答曰：雀盲，含糊模稜，非至理也。宜先服蒼朮豬肝散、蛤粉散。</p>
<p><u>蒼朮豬肝散</u></p>
<p>蒼朮（米泔浸，炒，八兩）　穀精草（一兩）</p>
<p>共為末，用豬肝一具煮爛，同前藥為末，米飲下，食後服，或酒下。</p>
<p><u>蛤粉散</u></p>
<p>蛤粉（一兩）　夜明沙（一兩五錢）</p>
<p>黃蠟化開為丸，如棗子大，用豬肝一具，入丸於內，麻線扎，井水煮熱，乘熱薰眼至溫，吃豬肝，並汁，以愈為度。</p>

<h2>第四十七問</h2>
<p>目有太陽穴疼痛，日夜呻吟何也？答曰：七情之液盛，名曰頭風。宜點珍珠散，服太陽丹（方見十七問），有翳點推雲散（方見十四問）。</p>

<h2>第四十八問</h2>
<p>目有拳毛倒睫，上皮搭下皮，有翳膜者何故？答曰：膀胱經熱也，宜夾起上皮，灸一壯，用㗜鼻散，服地黃丸。如不用夾，只用粉霜敷上亦好。</p>
<p><u>㗜鼻散</u>　並治內外障。</p>
<p>麻黃（一錢）　歸身（一錢）</p>
<p>共為粗末，炒黑色，加乳香、麝香少許，再研細末，吹鼻中。</p>
<p><u>地黃丸</u>　（十二問地黃丸與此不同）</p>
<p>熟地　川芎　人參　當歸　白蒺藜</p>
<p>共為細末蜜丸，食後茶下。</p>

<h2>第四十九問</h2>
<p>目有青膜遮瞳仁，視物不明者何也？答曰：腎虛也。宜服巴菊枸杞丸。肝經虛熱，下弦白，曰冰眵障，服明目地黃丸（方見十二問）。先點老膜散（方見二十七問），二三日點推雲散（方見十四問），將愈，點珍珠虎液膏，戒酒色。</p>
<p><u>巴菊枸杞丸</u></p>
<p>川巴戟（去心，三兩）　菊花（一兩）　枸杞（六兩）　肉蓯蓉（酒洗，四兩）</p>
<p>共為末，蜜丸，每服五十丸，鹽湯下。</p>

<h2>第五十問</h2>
<p>目有斑點者何也，答曰：肝經邪熱也。風氣相搏，宜服洗肝散（方見二十四問）、清毒散（方見三十八問）。詩曰：偶然氣腫不分明，斑點如珠日夜疼，數粒茱萸無二樣，變來真是蟹睛形，烏珠突出針鉤破，速備珍珠散更明。此是良醫無價寶，濟人陰德不為輕（金仙作傳記）。</p>

<h2>第五十一問</h2>
<p>目有小兒出痘，翳膜遮睛者何也？答曰：浮翳可治，若視之如粉牆白者不治。若障厚者，點老膜散一二次（方見二十七），再點推雲散（方見十四問），並服蟬蛻無比散（方見二十二問）。</p>

<h2>第五十二問</h2>
<p>目有二三歲孩童患之者何也？答曰：乳毒之故。若紅腫流淚者，宜服三黃丸。</p>
<p><u>三黃丸</u></p>
<p>黃柏　黃連　黃芩</p>
<p>共為末蜜丸，米湯下。</p>

<h2>第五十三問</h2>
<p>目有出痘，眼下皮漏膿者何也？答曰：痘之餘毒，用三稜針四圍撥破，出血為度，將金針蘸清淨膏點漏處（方見四十二問），宜點珍珠虎液膏，服白薇散。</p>
<p><u>白薇散</u></p>
<p>白薇（二兩）　生地（一兩）　白蒺藜（一兩五錢）　防風（一兩五錢）　石榴皮（九錢）　羌活（一兩）</p>
<p>共為末，枸杞湯下。</p>

<h2>第五十四問</h2>
<p>目有珠上轉如月出東海之狀者何也？答曰：名為扶桑翳，皆因肺被心火所傷，不安，心火炎炎，魄不守舍，肝家元氣不安，宜點珍珠散、洗心散（方見五問）。服補腎丸（洗心散前應脫一服字。十一問、六十六問俱有補腎丸，與此各異。）</p>
<p><u>補腎丸</u>　（白硃砂疑硼字誤作朱字，硃砂本無白色，且後用硃砂為衣，更可證其誤）</p>
<p>菟絲子　枸杞　白硃砂　青鹽　熟地　破故紙　石斛　巴戟天　丹皮　酸棗仁　肉蓯蓉　茴香</p>
<p>共為末，蜜為丸，梧桐子大，硃砂為衣，鹽湯下。</p>

<h2>第五十五問</h2>
<p>目有如轉轆轤，漸生內障者何也？答曰：心腎虛耗，水火不交故也。宜點珍珠虎液膏，服加味羊肝丸、返睛丸。</p>
<p><u>加味羊肝丸</u></p>
<p>羊肝（一具，去筋膜，瓦焙乾）　細辛（一兩）　熟地（一兩五錢）　羌活（一兩）　五倍子（一兩）　白菊（一兩）　防風（一兩）　杏仁（去皮，一兩）　菟絲子（一兩）　茯苓（一兩）　草決明（炒，一兩）　枸杞（一兩）　青葙子（一兩）　地膚子（一兩）　茺蔚子（一兩）　石決明（煅，一兩）</p>
<p>共為末，煉蜜為丸，每服五十丸，或鹽湯或酒下，日三服。</p>
<p><u>返睛丸</u></p>
<p>川芎（一兩）　白蒺藜（五錢）　白朮（土炒，五錢）　木賊（五錢）　羌活（五錢）　細辛（五錢）　防風（一兩）　熟地（二兩）　獨活（五錢）　白芷（五錢）　荊芥（五錢）　枸杞（五錢）　石決明（五錢）　甘草（三錢）　天麻（二兩）　菊花（五錢）　蕤仁（四錢）　生地（五錢）　車前子（炒，一兩）　青葙子（五錢）　菟絲子（五錢）　草決明（五錢）</p>
<p>共為末，蜜為丸，每空心鹽湯下三五十丸。</p>

<h2>第五十六問</h2>
<p>目有患雞冠蜆肉者何也？答曰：五臟之熱血侵貫，待白露，或用刀割，宜點冰片虎液膏，服返睛丸，即愈。（方見五十五問）</p>

<h2>第五十七問</h2>
<p>目有小兒痘疹患目者何也？答曰：痘乃胎毒，宜服黑豆丸、兔兒丸。</p>
<p><u>黑豆丸</u></p>
<p>黑豆（一升）　黃芩（一兩）　黃連（一兩）　大黃（一兩）　甘草（一兩）　朴硝（一兩）　密蒙花（一兩）</p>
<p>用水三碗，藥豆同煎，豆乾為度，去藥，每服豆三十粒，細嚼米湯下。</p>
<p><u>兔兒丸</u></p>
<p>穀精草（炒，五錢）　黃連（五錢）　人參（三錢）　枝子（炒，五錢）　當歸（七錢）　薄荷（炒，五錢）　柴胡（四錢）　升麻（四錢）　菟絲子（炒，二兩）</p>
<p>共為末，空心米湯送三錢，蜜丸亦可。</p>

<h2>第五十八問</h2>
<p>目有被物損壞其瞳者何也？答曰：瞳神不破，宜服退血散。又服蕤仁丸。（三十二問退血散亦未載方，是否二十八問通血散？通退字形原可訛，以此存疑）</p>
<p><u>蕤仁丸</u></p>
<p>蕤仁（去皮油，六兩）　黃連（一兩）　石決明（煅，一兩）　元精石（煅，二兩）</p>
<p>共為末，用黑羊肝一具，竹刀刮去筋膜，切片瓦上焙乾為末，同前藥米糊為丸。每服茶送七十丸，重者不過一月見效。</p>

<h2>第五十九問</h2>
<p>目有上下皮腫而硬者，服藥不退，用手法取之不效者何也？答曰：要用手法五七次，宜服升麻葛根湯。</p>
<p><u>升麻葛根湯</u></p>
<p>升麻　芍藥　甘草　葛根</p>
<p>水煎服。</p>

<h2>第六十問</h2>
<p>目有不見黑白，一片烏者何故？答曰：是肝腎受風邪也。宜點珍珠虎液膏，服明目地黃丸（方見四十八問。）</p>

<h2>第六十一問</h2>
<p>目有紫色胬肉，堆滿眼者何也？答曰：肺肝之虛熱也。肝木生心火，使血侵於目，將上下眼胞，用法取之。宜點推雲散（方見十四問），服瀉肺散（方見三問）、補膽散（方見四問。瀉肺散肺字疑肝字之誤。）</p>

<h2>第六十二問</h2>
<p>目有白花如絮者何也？答曰：肺金不能上應也。因於脾胃太弱，不能生金，又兼心火太甚，灼乎肺金，氣上升散，行於目故也。宜服補肺散（方見七問），點推雲散（方見十四問），服平胃散。</p>
<p><u>洗心散</u>（洗心散法中未見其方，與五問七問之洗心散迥不相同，揣其藥味似不應以洗心名之，定有錯誤，仍之存疑）</p>
<p>黃耆（蜜炙）　甘草　當歸　防風　升麻　荊芥　白芷</p>
<p>水煎服。</p>
<p><u>平胃散</u></p>
<p>黑豆（炒）　澤瀉　當歸　枸杞　白醜　黃芩</p>
<p>共為細末服。</p>

<h2>第六十三問</h2>
<p>目有肉痣者何也？答曰：用手法微破之。點珍珠散，或在兩角，可取去血。點推雲散（方見十四問），宜服地黃丸（方見四十八問），服返睛丸（方見五十五問。珍珠散散字疑誤，蓋即珍珠虎液膏前批明。）</p>

<h2>第六十四問</h2>
<p>目有睛上浮翳，與黑白不相黏者，何法治之？答曰：可用手法，將銅鉤鉤起上皮，繫於鬢上，再點珍珠虎液膏，或點水眼藥。</p>

<h2>第六十五問</h2>
<p>目昏不痛，日日出暴淚者何也？答曰：腎陰虛，並心陽亦虛也。宜點珍珠散，服益陰腎氣丸（珍珠散六十三問批明。）</p>
<p><u>益陰腎氣丸</u></p>
<p>澤瀉　茯神　生地　丹皮　山藥　當歸　柴胡　熟地　人參　山萸肉　五味子　遠志（以上各一錢）　石菖蒲（四錢）</p>
<p>共末蜜丸，每服五十丸，空心鹽湯下，一日三服。</p>

<h2>第六十六問</h2>
<p>目有患花翳白陷者何也？答曰：肺金被心火剋制，金虛不能平制肝木，木反侮金，腎水又枯，不能制火，火更旺而肺金益虛。宜服補腎丸，點水眼藥。</p>
<p><u>補腎丸</u>（十一問、五十四問之補腎丸與此俱異）</p>
<p>人參　白蒺藜　白朮　杏仁　蒼朮　蛤蚧　玉屑　白石脂　車前子　金櫻子　旋覆花　五味子　黃精（以上各等分）</p>
<p>共為末，每服二錢，米湯下。</p>

<h2>第六十七問</h2>
<p>目有卒然淚出如傾，陡然翳膜花者何也？答曰：將錢合在上胞居中，用燈心火灸錢孔中一壯，將錢埋在灶前地下即愈。</p>

<h2>第六十八問</h2>
<p>眼有野外忽然飛絲入目，疼痛不已，何法治之？答曰：可以服糖煎散，點玉露霜，一二次即愈，或用京墨汁點。如麥稻芒屑入目內，大麥煮汁洗之。塵物入目，用食鹽沖水洗之。又天絲入目，用鱔魚血點入，以燈心卷出，即愈（玉露霜後未載方存疑。）</p>
<p><u>糖煎散</u></p>
<p>防風　大黃　當歸　赤芍　荊芥　甘草　牛蒡子　川芎（以上各五錢）　膽草（四錢）</p>
<p>水煎，入砂糖調服。</p>

<h2>第六十九問</h2>
<p>目有順逆生翳，淚多羞明者何也？答曰：胃受寒，脾受熱，心腎兩虛，宜服補心散（方見六問）、補腎丸（方見十一問），點推雲散（方見十四問。十一問補腎丸內用沉香取其氣香入脾，溫不助火。）</p>

<h2>第七十問</h2>
<p>目中障如偃月而疼痛者何也？答曰：肝經不足，肺氣太過，為金剋木。宜服湯泡散，又服補腎丸（方見六十六問，六十六問補腎丸內有旋覆五味，取其入肺也。）</p>
<p><u>湯泡散</u></p>
<p>當歸　赤芍　黃連　蟬蛻</p>
<p>共為末，滾水泡，每服二錢，乘熱熏眼，溫服。</p>

<h2>第七十一問</h2>
<p>目有內障，一聚一散，如雲掩者何也？答曰：乃是五臟餘毒，風熱上攻，有進有退故也。宜服羊肝丸。點推雲散（方見十四問），並點水眼藥。</p>
<p><u>羊肝丸</u></p>
<p>羊肝（一具，洗去筋膜）　黃連（三兩）　當歸（一兩）　蕤仁（去油，一兩）</p>
<p>先將羊肝入砂鍋內煮爛，後入黃連等末，搗為丸，桐子大，每服五十丸，米湯下。</p>

<h2>第七十二問</h2>
<p>目有障膜形如垂簾者何也？答曰：頭風引邪，不能四散，攻入於目，宜服二神散，點珍珠虎液膏。</p>
<p><u>二神散</u></p>
<p>車前子　菟絲子（酒煮）　五味子　枳殼　熟地　當歸</p>
<p>共為末，蜜水調下。</p>
<p>以上七十二症方治，俱系異授，審視明悉，對症用藥，手到病除，真有令人重見天日之功。</p>
<p><u>眼丹</u>　敗毒黃連丸</p>
<p>黃連　甘草　連翹　羌活（各一兩）</p>
<p>共末蜜丸，梧桐子大，服五十丸，白湯下。</p>
<p><u>上下眼丹</u>　流氣飲</p>
<p>芍藥　茯苓　防風　甘草　柴胡　羌活　獨活　川芎　青皮　紫蘇　荊芥　麥冬　連翹　石青</p>
<p>水煎飽時服（夏月加黃連）。</p>
<p><u>赤眼神效八寶丹</u></p>
<p>當歸（一兩）　防風（一兩）　川連（一兩）　朴硝（二兩）　杏仁（去皮尖，二十粒）　銅青（一錢）　白礬（五錢）　郁李仁（去皮，四十九粒）　</p>
<p>以上八味，俱要稱准分兩，以生絹包之，如梅子大，放碗內，傾水泡一時，再隔水燉熱熏洗，一日五次。</p>

<h1>經驗奇方</h1>
<p><u>七針丹</u></p>
<p>白菊花（三錢）　花椒（三錢）　青鹽（二錢五分）　銅綠（三錢五分）　膽礬（三錢五分）　烏梅（一個，去核）　新花針（七口，用絲線穿就）</p>
<p>前藥六味研碎，用淨水一飯碗拌勻，盛入深碗內，針置藥下，再加水二碗，線頭露出碗沿，用大盤蓋就，隔水放鍋內蓋好，煮六時之久，木炭火須大，不失時候，隨時添火。針化丹成，用淨絹擠去藥渣，磁瓶裝之，放陰地一日，即可取用。此藥永遠不壞，每用少許，搽眼外眶，內眼角，少閉片時，立可見功。凡煉此丹，總宜虔誠為是。針化丹成，方能取驗。如煮至六時，針有未化，不可用，須另煮。按此丹傳自隨州陳茂才家，茂才樂善好施，年六十雙目成瞽，忽來一客，傳此丹而去。陳依法試之，光明日見，未及半載，雙目復明。後遇有目疾者，治之無不神效。</p>
<p><u>治內障雲翳神效方</u>　愈者多人。</p>
<p>雄雞化骨（三個）　古銅錢（一個）　新花針（三口）　大烏梅（三個）　大杏仁（七個）　真膽礬（三錢）　大青鹽（一錢）　砂仁（一錢）　川椒（二錢，揀去閉口者）</p>
<p>上藥置瓷罐內，以水二茶杯浸之，封固過七日洗眼。其水春秋用溫，夏用涼，冬用開熱。每日用水洗眼眶外皮，次日即效。</p>
