<header data-type="book">
<h1>柳寶詒醫論醫案</h1>
</header>

<h1>醫論</h1>

<h2>論「溫邪上受，首先犯肺，逆傳心包」《溫熱論》</h2>
<p>歷代諸家論溫，均附於傷寒篇中，所論者皆伏氣發溫之證，名之曰類傷寒。從未有專論暴感之溫邪者。自葉天士《溫熱論》出，首用辛涼，而暴感之溫邪，始有一定之證治矣。</p>
<p>夫內伏者，由冬時受寒，邪伏於』腎，至春則寒邪化熱，乘陽氣之上升而出，此伏氣發溫之原也。外感者，乃春時風溫盛行，邪襲於肺而發，此外感溫病之原也。受病既殊，則治法亦異。論治者，必須分析清楚，庶使後人可以遵循施治。乃觀其篇首所云：「溫邪上受，首先犯肺」二句，既實提外感溫邪而言，而又未將暴感與伏氣兩層提清眉目。若謂溫邪只有此一種者，致後來醫家囿於葉氏之論，混稱溫邪初起，只用辛涼一法。設有以伏氣發溫告者，彼且茫然不知為何病，謂非葉氏此論，有以作之俑哉。</p>
<p>雖然，葉氏之論，正不可謂其概無足取也，夫暴感溫邪，即春令風溫之邪也，以傷寒溫散之法治之，固不相宜，即以伏溫清托之法治之，亦多不合。葉氏倡輕清之論，立辛涼之法，使後人於暴感溫邪之證，有成法可循，其功正復不少。宜乎吳鞠通、章虛谷輩，為之極口稱揚而不置也。</p>
<p>而愚則更有辨者，設葉氏於溫邪犯肺之後，但列外感之證，如咳嗽頭痛諸候，則後人讀之，猶得謂葉氏此論專指暴感而言，不至與伏氣相混也，而不謂其下文有熱傳心包一語，竟將伏氣之病，混入其中，而不自覺其過也。蓋邪傳心包之證，皆因伏溫蘊熱過重，有熱壅肺胃，由肺胃熏蒸而陷入者；有熱不外達，徑由陰經陷入者，是仍伏溫中至重之證。若暴感風溫，由外入內，最重者，不過鬱於營絡，發為斑疹喉痧而已，未必有蒙陷心包之重候也。自葉氏以此語扭合於暴感之中，於是後人愈不識有伏溫之病，即見有蒙陷痙閉諸險證，亦不知其邪從內發，而概以葉氏逆傳心包一語為詞，病原既混，則治法焉能絲絲入扣。夫溫邪為時邪中常有之病，伏溫為時邪中最重之證。葉氏此論，為習醫者初起必讀之書，絲毫含混，性命所關，是不可以不辨。</p>

<h2>「傷寒多有變證，溫熱雖久，在一經不移，以此為辨」解</h2>
<p>（《溫熱論》）</p>
<p>傷寒之邪，隨經氣而內傳，其證即隨經氣而變，此傷寒所以多有變證也。溫熱之病，由內而發，其熱一潰，則或竄於臟，或結於腑，雖輾轉纏綿，變相不一，而熱邪所結聚之處，則始終不遷，此溫熱病所以一經不移也。傷寒自外傳內，日深一日，故病情日見其遷變。溫熱由內達外，觀各經兼見之證，病機雖有進退，而病根則著於一經而不動。學者察其外見證，而為寒為溫，固已灼然不惑矣。唐笠山改作「總在一經」，似乎一經之外，毫無兼證，其意已執滯不通。章虛谷改作「而少傳變」，則似乎溫熱病之見證，自始至終不容稍有更變者，豈理也哉。</p>
<p>又：趙樹誠：仲景《傷寒論》謂寒邪初犯太陽，見脈浮頭項痛惡寒之證，傳至陽明，則太陽證罷，而變胃家實，身熱汗自出，不惡寒反惡熱之證。各經見證，界劃昭然。所謂傷寒多有變證也。惟少陰伏溫則不然，《經》云：冬傷於寒，春必病溫。又云：至春發為溫病，至夏變為熱病。其邪受於冬、藏於腎，至春夏陽氣上升而始發，其鬱伏有數月之久，而未發之前，初不轉稱於他經。不若傷寒之感而即發，發即傳變也。此所謂溫熱雖久，在一經不移也。其發也，或由三陽，或由三陰，本無一定，但病雖由六經而外達，而少陰之伏邪，尚未能一律清透，則雖屢清屢泄，苔退舌淡，神清風平，乃逾一二日，而伏邪又熾，舌復干絳，苔復黃燥，痙蒙復作者，亦往往有之。蓋至既發之後，其變證雖多，其原仍不離乎少陰也。此亦可謂雖久不移也。彼笠山、虛谷輩，妄為竄易，蓋未能識葉氏之微意耳。</p>
<p>柳谷孫評：說一經不移處，分未發、已發兩層作解，思路親切，詞句亦圓轉不滯。</p>

<h2>論暴感溫邪與伏氣發溫初起見證如何分別，用藥之法同異若何</h2>
<p>溫為陽邪，即暴感亦有兩種，冬溫兼挾寒邪，春溫挾風邪，而均由乎外感。所見之證，不外肺胃兩經。如頭痛咳嗽，氣逆痰多，寒熱痞悶，煩渴嘔惡，皆肺胃外感之證，脈象不外浮弦數大。用藥以辛涼散風，或兼辛溫祛寒，而必以清泄溫邪為主。余則各隨見證而施治焉。此暴感溫邪初起之大概也。</p>
<p>至於伏氣發溫，在《內經》謂冬傷於寒，春必病溫，又謂冬不藏精，春必病溫，即此兩言推之，則此病必少陰陰氣先傷，而寒邪襲之，至春夏化熱而發。故又有先夏至為溫病，後夏至為熱病之文。可知此證隨時可發，不拘拘乎在三春也。（［眉批］溫邪隨時可發，此層補得極圓。）熱在骨髓，故骨節煩疼，昏昏欲寐，脈象愈按愈數，尺部不靜，尺膚燥熱，或渴或否，舌苔如平人，凡此皆熱內郁之見象，與外感迥殊。其外達也，或出於三陽，則有三陽見證，或燔於肺胃，則有肺胃見證。其重者不外達於陽，而內陷於陰，在厥陰則痙厥昏蒙，太陰則黃浮腹滿，少陰則熱爍咽乾。凡病入三陰者，無非液涸陰乾，以致危殆。（［眉批］溫邪變證繁多，雖未能闡發無遺，然大致亦不外乎此矣。）更有熱傷血分，營絡沸騰，在上則咯血、衄血，在下則溲血、便血。又或熱壅絡阻，為癰膿瘡毒，為咽乾口腐，為斑毒痧疹。此又伏氣發溫之變態，各隨時令體質而轉移變化者也。</p>
<p>治之之法，總以養陰、托邪、化熱為大綱。蓋初化熱而陰氣先餒，則不能托邪外達。既化熱而陰液內涸，則不能清熱化解。故始則助陰以托之，如梔豉加生地及黃芩湯、黑膏之類，繼則養陰以化之，如犀角地黃、黃連阿膠之類。治溫之大法，不外是矣。</p>
<p>此外更有腎陽不充，致伏寒不能化熱，而冰伏於內者，當依喻氏之論，用《傷寒》少陰篇之麻附細辛等法，參入養陰劑內，以溫托寒邪。此又伏溫中陽虛之變證，不甚多見者。然在醫者，固不可不知伏溫中固有此一候也。</p>
<p>由此觀之，暴感之見證，邪自外來，伏氣之見證，熱由內發，細意辨之，固截然不混也。即有一二條面目相同，而以見症核之，則疆界判然，不容牽混。辨證既清，則藥隨病變，其用藥更自有不容混者，更何待別其名而用藥始有異同哉。</p>
<p>暴感溫病，病淺而易識，伏氣發溫，病變繁多，不易辨認。前路分疏處，詳列伏氣病原，證候亦既詳且盡矣，至末篇總結，將內外合篇，辨析彌精，學者讀之，應不至再有歧途之惑矣。</p>

<h2>教言</h2>
<p>予看病三十年來，自著者兩方。一方瘀熱湯，用三味旋覆花湯加茅根、枇杷葉，治瘀熱積胸痛最妙。一方未定名目，治痧疹後，邪戀正虛，將成勞者。倘神識脈情已脫者，無益也。方用四物加杏仁、蘇葉、桔梗。</p>
<p>問痹症治法。師曰：痰在絡中，一用補藥便成拘攣，大法用蠲痹湯送指迷茯苓丸。（即：茯苓、枳殼、半夏曲、風化硝。）</p>
<p>陰火上乘，亦有真有假。真者不治，假者予用豬膚湯，苦酒湯亦效。豬膚須用黑毛皮外另一層，惟春夏間有。今所用者，多是肉皮。苦酒煎雞子法，武火為佳。治肺花瘡亦效，然究難痊。</p>
<p>予看何姓病，用瘀熱湯加忍冬藤、橘絡（鴨血炒）、絲瓜絡、歸鬚，此皆搜剔之藥，所謂由此方而擴出一層也。若收進一層，則加生地、阿膠。凡方必有出入，八面顧到，才成一方。</p>
<p>予昔看書，每見一病，不看伊方，先自想一方，然後再看伊方。一日看《千金》，見產後陽虛咽痛一病，思其方不可得，及看其方，乃八味丸加用紫雪丹為衣。大妙大妙。但此種方極重，不得浪用，必有此病到手，一用即是仙丹。</p>
<p>有風疹塊不時舉發者，性天先生殊不經意，曰：此風入肚中耳。用白蒺藜丸加山梔、防風兩味而愈。（此兩味即山梔丸。）</p>
<p>問：改春洲芎枳散。先生曰：郁咳成勞，邪鬱於氣血之中，用川芎以挑血中之邪，枳殼以挑氣中之邪，或干或臭，或五色之痰，皆可從此化去。有陰火者，斷不可用。況此病下午發熱者乎？能將改方，想其所以然，則得法矣。得法者，得心之法也。</p>
<p>友竹云：芎枳治冷風。若熱風服之，必見血。</p>
<p>問：芎枳不輕用者乎。曰：此升降法也。必有寒風化熱，鬱閉於肺，用芎之升、枳之降，挑松之。火重者不可用。陰火者更不可用。恐火升則火易動耳。至若「勞風法在肺下」一條，此風鬱之更深。於此方者，則柴前連梅煎，其中有膽汁、豬脊髓、童便等。一面降陰火，一面用柴、前，挑散風邪。可知立一方，其中斟酌盡善，有不可思議之妙。尤在涇《金匱翼》中論之甚詳。想當時逐漸增減，不知推敲幾年，而至盡善盡美。後人漫不加察，最為可惜。</p>
<p>黃疸兼臌脹症，古人以為必死。予看蔣姓此病，其自問必死。予用附子理中湯二十劑，腹脹大平，黃疸盡化。惟胃口不開，曰：胃中必有機竅不靈，必當有以撥之。蔣曰：奈何？曰：予所謂蓽撥即藥也。因取所服方，加蓽撥一分，明日大愈。此一時戲言，而蔣姓至今不忘此語。想古人命名，亦必即此意思也。</p>
<p>復友吐血症。曰：其人即刻大吐，而舌帶黃白苔，雖血症而熱尚在氣分，仍用石膏。若舌紅，則用犀角地黃矣。</p>
<p>當歸一味，溫經之功，比附子尤應手。此余所親歷也。</p>
<p>思泉問真中、類中之辨。曰：真中有外感，類中多內風。必謂南人無真中者，非也。謂類中必無外感者，亦非也。倘表證而兼惡風惡寒，便當用桂枝湯，不必拘拘泥定古法。</p>
<p>肝虛頭痛，用女貞子；實者鎮之、散之。</p>
<p>咳嗽一門，嗌乾咽燥，補肺阿膠散之註腳。陰虛咳血，四陰煎之註腳。肺燥胃濕，麥門冬之註腳。夾陰火者，假麥門冬。肝火上升而見血，參用鹽降法。他可類推。</p>
<p>脾胃一門，目黃脘痞，越鞠丸之註腳。中虛挾濕，枳實消痞之註腳。他可類推。</p>
<p>竹士云：越鞠是濕熱二字。枳實消痞，是虛而有積。</p>
<p>滋燥兩難，清燥湯之註腳。脾陽不升，胃濕有餘，升陽益胃之註腳。</p>
<p>杭州徐石泉云：曾見一婦人大便後眩運數刻，屢發至數年。予用逍遙散兩劑而減。後用補中十劑而愈。</p>
<p>六味丸加遠志二兩，治腎虛耳聾，甚效。</p>
<p>牡蠣其性最妙，收濕不傷陰，斂陰不礙濕。</p>
<p>曾見一外科席子童治重舌。用酒醋入五靈脂數錢，煎數沸。令病者漱口吐出即愈。想靈脂破血中之滯，而醋又能引入血中也。</p>
<p>小溫中丸與溫膽湯，「溫」字用意，乃去其火熱，俾得復其和平之氣耳。非因其冷而溫之也。</p>
<p>曾見三和尚治一心悸症，挾濕火者，用歸脾法數劑而愈。其方以白苦參代人參，具見靈活之妙。</p>
<p>喉痹有陰火者，有外感者，須辨。外感症。予用紫雪丹一錢，甚效。</p>
<p>七月十八日看疝氣病，用肉桂、五苓、川楝等。先生曰：此的對之方，是病膀胱氣也。又在二十一種疝氣之外。</p>
<p>問：桂枝龍牡與真武分別處，有動靜否？曰：然。桂枝龍牡是神昏，真武則清。一則汗從腎來，一則汗從心來。</p>
<p>問：桂枝龍骨牡蠣與柴胡龍骨牡蠣何如？曰：一則太陽經亡陽，一則少陽經亡陽。</p>
<p>問：發狂必有火，桂枝龍牡何以用？曰：此病必有太陽症未除。所謂狂者，神魂失據，非實火也。肢寒汗出，陽欲外亡，安得不用桂？曰：果爾，何不用附？曰：附回腎陽，桂迴心陽。</p>
<p>石膏證：口渴、汗多、脈大，六字，盡之。過其時口不渴，脈細，便入血分。是犀角證。</p>
<p>汪竹士云：調中益氣，是氣陷而瀉者，其舌濁而膩；益胃升陽，是氣陷而中脘有積者，其苔薄而紅。</p>
<p>竹士問陽虛咳嗽。曰：子不記小青龍見證乎？</p>
<p>論瘀血一訣。凡臌脹者看似脾虛，服白朮更甚者，其中必有瘀血。</p>
<p>問瘀血。曰：此病見證，產後十有八、九，其餘大便漆黑者，如慄而硬者，腹痛者，腹中有塊者，皆是。至於室女尼師，經閉尤為易見，大約兩目暗黑，肌膚甲錯，不易之論。因憶二十年前，潘畹蘭家乳婦經事不行，教伊服大黃䗪蟲丸，下黑糞甚多。後教伊服土鱉蟲而愈。</p>
<p>病有虛中挾實，燥中挾濕者，法當兩顧。如予治喘症，用蘇子降氣合貞元飲，十靈八九。喘平後當用腎氣丸。丹溪治腳氣，亦用此方靈。</p>
<p>舌苔冷白，陽氣大虛，往往行動如常，轉眠即脫。「冷白」二字，予所創也。</p>
<p>蕭姓病心下堅大如盤，服附子理中、細辛、枳朮等，反瀉，腹痛，少腹滿；繼服附子理中又見氣短。先生曰：是必有血瘀，熱血滯於中，而氣不能化也。因問其大便之色，曰：有干有薄，乾者如慄而黑。因看常熟人臌脹病，曰：此真臌脹也。色蒼黃，腹筋起，古人之言，斷不虛說。讀書時滑過，看病必不留心。大抵中虛滿者，皮色不變，按之中硬而外軟，此中不可不分。</p>
<p>治一痞脹症，濕熱內壅，彼醫用承氣等法，脾愈虛而脹愈大。予用胃苓一劑，而痞減得睡。明日加附子五分，去豬苓、澤瀉，再服數劑而愈。</p>
<p>《醫通》一書，其分別處甚好，然亦有隨筆寫出，精神不聚者。若欲自成一家，須各家匯聚看過，取其所長，而略其所短。</p>

<h2>胸脅痛論（秦皇士《傷寒大白》）</h2>
<p>胸胃皆在中，脅肋在身之側，故脅肋之證，在雜症門中以肝膽肺三經所主，外感門惟一少陽。蓋表邪傳裡，必由胸以至脅，故胸滿多是表證，腹滿方是里證。若脅滿脅痛，皆是半表半裡之證。然傷寒發熱脅滿痛，亦有兼太陽陽明表邪者，故無汗脈浮惡寒脅痛，先用羌活、柴胡、防風湯，發散表邪，然後用小柴胡湯合小陷胸湯，加枳殼、桔梗、山梔、青皮治之。若有痰飲內結，再加豁痰藥。另有一起即從少陽發寒熱，或兩肋或一肋刺痛，甚則痛極而死。此感時行，燥熱伏積於中，又被風寒外束，鬱於少陽，名肋刺傷寒，又名痧脹是也。若無汗，惡寒脈浮緊，先用羌活敗毒散表邪，隨用小柴胡湯加山梔、青皮、蘇梗、木通疏散少陽。若是燥熱，加知母、石膏，則汗出邪散。不愈，刺委中、三里，並刺十指出血，即名放痧法。另有脅痛寒熱，又見咳嗽氣逆，此肺受外邪，名金邪入木。有膽經有火，刑剋肺金，名木火刑金。此二證最重。初起發熱脈浮無汗者，防風瀉白散加枳殼、桔梗。若無汗惡寒身痛，有表證者，加羌活、柴胡散表邪。若有汗脈沉數，用黃芩瀉白散、合梔連枳桔湯。若燥熱流年，重加知母石膏，即見少陽胸脅痛證，亦是金邪入木，仍以肺邪為重，當清肺燥，禁用辛溫。若無肺經喘咳之證，則單治少陽。按外感脅痛，最重肋刺傷寒，以時行厲氣，客人最速，宜詳歲運何司政。予故分詳少陽脅痛，肺邪脅痛二條。其下手認證處：以下咳嗽為少陽，以咳嗽為肺邪。以左脅痛為少陽，以右脅痛為肺邪。其認脈處以左手脈病為少陽，以右手脈病為肺邪。其論治法：以脈浮身熱無汗，先散表。以脈沉裡熱，時時有汗，清裡熱。其有服發汗之藥，汗大出，邪不解，表藥中重加黃芩、山梔、枳殼、青皮，以清少陽；重加知母、石膏、枳殼、桑皮，以清肺邪。又有用一半散表，一半清裡，重用木通、蘇梗，疏通經絡，得和解之力而愈者。予嘗以木通、蘇梗各五錢，加入和解方中，以治無汗脅痛身痛，汗必出，痛必減。以木通通竅，蘇梗疏散耳。予嘗以木通、蘇梗各五錢煎湯，治發熱脅痛，多有發斑痧而愈者。按此二味藥未嘗治痛，今以之疏通經絡，通則不痛矣。按此二味藥未嘗主發斑痧，今以之疏通經絡，則邪散而斑出矣。</p>
<p>詒按：若發熱咳嗽胸滿，而兩脅痛如挫者，此邪熱挾濕痰攻注也，小柴胡去參、半，加枳殼、桔梗、栝蔞、杏仁、白芥子，竹瀝、薑汁。若心下痛，其人曾閃挫，大便黑而脅下刺痛者，此有瘀血也，桃核承氣加枳殼、柴胡；不應加生附子。脅下偏痛發熱，其脈緊弦，此寒也，以溫藥下之，大黃附子湯。</p>

<h2>伏溫論</h2>
<p>論伏寒何以不伏別經而必伏少陰，馮子可章日：邪而曰伏，必伏於幽隱之地，其在陰分可知。厥陰疏泄，太陰運動，邪不能留。惟北方癸水，職主封藏，冬時主令，水寒冰凍，邪易藏匿。寒犯水腑，故成感而即病之傷寒。寒犯水臟，故成伏而後發之溫病也。</p>
<p>詒按：名言至理。</p>

<h2>書《溫病條辨》後</h2>
<p>上《溫病條辨》四卷，原病一卷，上中下三焦各一卷，又附雜說一卷，解兒難、解產難各一卷，共合為七卷。吳子鞠通所著。乃溫熱病中發聾振瞶之書也。吳子生於嘉、道間，承吾吳大醫葉天士先生之後，奮然著書，大旨以千百年來醫家以傷寒之法治溫病為大誤，處處將傷寒與溫病對勘。如傷寒分六經，溫病分三焦，傷寒宜辛溫，溫病宜辛涼，傷寒重誤下，溫病重誤汗，逐條剖別，辨析毫釐。又歷論宋、元以來諸家治溫病得失，詳列於篇。上則推本河間，近則淵源葉氏，議論明暢，治法森列。近醫於溫暑之治，得以稍有遵循，不偭規錯矩者，不可謂非此書之功也。第其書於外感中，專詳溫病，其於暑濕諸證，不過連類及之，而此書之謬誤，亦專在於溫病。《內經》云：「冬傷於寒，春必病溫」，此溫病由於伏寒之經訓也。仲景云：「太陽病，發熱而渴，不惡寒者，為溫病」，此溫病分六經之聖法也。乃吳氏墨守葉氏「溫邪上受，首先犯肺」之說。又狃於葉案所載輕清之方，遂毅然謂溫病皆因新感傷肺而起，不信伏邪之說。闢去六經之範圍，而以三焦立淪，固已不遵聖法，顯背聖訓矣。夫溫邪之始於肺者，在冬春間，時或有之，不過溫風外襲，咳嗽頭疼，俗所謂重傷風也。以辛涼輕劑解之即愈，從未見此等輕證，而有熱傳心包，譫語神昏之變也。其伏邪內發之溫，類多從少陰外達，假道三陽，而出於陽明一經者為多。苟熱蘊陽明而不得外解，或其人陰氣素虛，或醫家治不如法，其熱竄擾於足厥陰則痙厥，熏灼於手厥陰則昏蒙，種種險象，由茲而見。然則伏溫之來，大抵發於下焦，盛於中焦，而後燔及上焦者也。吳子既定三焦之程法，必從上焦說法，不得不將伏寒發溫一層，概行抹去，而以銀翹、桑菊，不中病之輕劑，為開手治法。迨至熱竄厥陰，遂以犀羚紫雪、清宮涼營等藥，倉猝雜投。不尋其發熱之源，但治其受熱之地，遺本逐末，病安從愈。此非吳子之大誤哉。且吳子致誤之由，不過欲以三焦分治者，拔奇於前人名論之外耳。殊不知外感病分六經，聖法昭然，不可改易，如傷寒則由三陽以內傳於陰，溫病則由少陰而外出於陽，雖一內一外，一寒一熱，迥乎不同，而六經所見之證，疆界井然，確有可指。醫家得以察病候之淺深，而按經施治，胥恃此也。若廢六經而論三焦，則病機之進退，證候之淺深，悉無把握，而分經用藥之法，亦無從理論矣。此書之謬誤，其大端不越乎是。愚本不敢妄議前人，特以此書盛行江浙，為業醫者所必讀。倘讀之者篤信此編，而承偽襲謬，不能別白而善用之，將執此以辨症施治，其貽誤良非淺甚少。爰詳論之，以諗世之讀是書者。</p>

<h2>《霍亂論》序</h2>
<p>乙未六月，點勘王孟英《隨息居霍亂論》畢，不禁慨然於醫術之難言也。霍亂為外感病之一症，六淫之邪混於中者，悉能致此。自霍亂之治，始見於《傷寒論》中，後之學者，遂只知傷寒有霍亂，一以治傷寒之法治之。豈知傷寒有霍亂，猶之傷寒之有發熱頭痛也。傷寒有之，不可謂溫暑、濕熱，遂無其證也。苟不辨其致此之由，第見其外見吐瀉，即為霍亂，而以傷寒法一例治之，方枘圓鑿，格不相入，其誤人可勝道哉。元、明以來，名賢輩出，亦有見夫法之不盡合，而隨時變法，隨證更方，固亦有取效一時者，而究未能於致病之由探其本源，推其流極，故所立治法，仍不能挈其納領，隨機圓通，致學者靡所適從，而隨手殺人，茫不自覺。此孟英王氏所以大聲疾呼而有霍亂之作也。且夫內傷之病，千古不易，外感之證，隨時變遷。試觀漢、唐以來，千有餘年，其病為古書所載，而今無之者不少，而今人所患之病，為古書所未載者尤多。誠以風氣之更變，性質之澆漓，人事之消耗，凡古所無而今所有者，幾於不可勝數，而病即隨之。學者苟隨時體察，隨時參詳，庶乎隨病變通，有所領會也。由是推之，霍亂有傷寒、暑濕之不同，而凡瘧、痢外感所發者，亦各有寒溫、暑濕之各異。苟不究其源，而概執柴胡以治瘧、芩芍以治痢，是何異於執理中、五苓為霍亂之主方，而不知變哉。嗟乎！學者不讀古書，而師心自用，其弊在於蔑古。徒讀古書而拘執不化，其弊又在於泥古。必也會其意於書之中，復能通其變於書之外，庶幾論病則頭頭是道，用藥則活潑潑地，可以臨大證而應變無窮矣。豈獨霍亂也乎哉。</p>

<h2>霍亂證治</h2>
<p>霍亂一症，上吐下瀉，肢冷轉筋，脈伏螺癟。其外象歷年相似，而所以致病之由，各年不同。刻下此症盛行，幾於朝發夕死，不及延醫。今姑就今年之病推論之，並擬治法如下。</p>
<p>今年芒種節內，天氣先熱，至小暑以後，氣候轉涼。寒熱之氣，搏結於內，中虛者受之，中氣被阻，則清濁淆亂，再加新受酷暑，外吸穢氣，發為是病。用奪命丹搐鼻中，再用涼水調服一分，重者二分，或行軍散、紅靈丹均可，須服三、五分方效。再內服煎藥兩劑，俾氣機開通，清濁各歸其所，則體之實者，病之輕者，即此可愈矣。</p>
<p>內服之劑：細川連（薑汁炒，六分）　吳萸（鹽水炒，二分）　蘇葉（八分）　淡芩（酒炒，一錢）　薑製半夏（一錢半）　晚蠶砂（五分）　白苡米（夏布寬扎，三錢）　通草（五分）　木瓜（酒洗，一錢半）　陰陽水煎。</p>
<p>凡吐甚者，重用川連，加石菖蒲。瀉甚者，重用蠶砂，加灶心土。轉筋甚者，重用木瓜、酒炒苡仁，加白芍、牛膝、絲瓜絡。其有舌絳膚黑爪紫，邪毒傷營，壅於血絡者，其勢最急，加紫花地丁、益母草、銀花藤、蒲公英；熱甚者，加犀角。其有挾食挾痰，中宮脹悶，以致不能通達者，加川厚朴、蔻仁、法半夏、橘紅，或加萊菔子、枳實。其或伏溫之邪，乘機挾發，熱結不化者，加豆豉、淡芩、山梔。此證邪伏有輕重，熱結有淺深，須臨時酌之。</p>
<p>霍亂之最易誤人者，四肢厥冷，脈伏汗淋，全是陽氣欲脫之象。然其中有三證焉。其一：陰寒偏甚，逼陽外越。當用薑、附，以驅寒護陽。所謂中寒霍亂也。其一：真元被擾，虛陽外脫。當用參朮桂附以固本回陽。此正虛霍亂也。其一：熱邪深閉，陽氣外厥，凡內閉者必致外脫。此須大劑清涼開泄伏熱，俾內閉漸通，外厥自回，此是熱霍亂之最重者也。此三證者，毫里之差，死生反掌，苟非臨證細辨，難以刻定。</p>
<p>凡服藥才入口，未曾停留而即吐出者，須令其坐定，緩緩再服。凡轉筋甚者，用木瓜煎黃酒，再加入燒酒，乘熱用布熨搨。凡足冷甚者，用生附子打爛塗湧泉穴。</p>

<h2>伏暑論</h2>
<p>暑為薰蒸之熱，濕為黏膩之邪，由口鼻吸受，直行中道，漫布三焦。人在濕蒸熱迫之中，無處可避，適或貪涼，夜當風露臥，日復一日，腠理致密，邪機深伏經絡營衛之間，遇燥涼之氣，感觸而發，即為伏暑。初起形寒如瘧，繼則壯熱煩冤，頭昏噁心，痞悶時作，醫治不中綮，遂變症多端，敗壞難救者，不可勝數。大凡此症先明暑之氣，何者為重，如兼外感，先散表邪，而解表之藥，尤宜分別。如暑邪重者，舌必乾燥，苔必起沙，邊尖必絳，脈必弦數，頭痛惡心，形寒無汗。治宜開太陰肺氣，梔、豉、薄荷、連翹、蔞皮、鬱金等。如濕邪重者，舌必黏膩，脈必濡滯，胸亦痞悶，形寒無汗。治宜辛溫開解，如羌、防、蔻、殼之類。汗出復熱者，宗諸竹葉石膏、白虎、羚羊之屬。濕多者，宗諸二陳、達原、五苓之屬。其天水散二症總可加入，使三焦通暢，營衛流行，絲絲入扣，自然逐日向安。病者再能潛心靜養，茹素淡泊，不彌月而告痊矣。且暑為無形，濕為重濁，此類而推，治宜分別，混亂而施，焉能取效乎。醫者但知濕邪傷氣，為痞滿嘔泄，而不知燥邪傷氣，亦能痞滿嘔泄耶。失之毫釐，謬以千里，可不慎哉。新涼外束，暑熱內蒸，形寒無汗，舌白頭痛，嘔惡，壯熱煩冤，治宜辛涼取汗。</p>
<p>淡豆豉（解表除煩）　杏仁（辛苦甘溫，下氣潤肺，解肌潤燥）　羌活、防風（發表，祛風濕）　紫蘇（發表散寒）　厚朴（下氣散滿）　白蔻（行氣開濕）　牛蒡（辛平）　陳皮（辛苦燥濕，調中化痰）　茅根（甘寒瀉火，補中，止血，止噦）　蔥白（生、辛散。熟，甘溫，發表和里，通陽和血）　六一散。</p>
<p>甚者加柴胡（苦辛，微寒，發表退熱升陽，少陽主藥）</p>
<p>如得汗熱緩，復熱煩渴不解者，治宜開解太陰肺氣。</p>
<p>黑山梔（瀉火）　連翹（清熱）　橘紅（辛溫化痰發表）　象貝（苦辛微寒，散結化痰）　鬱金（解鬱化痰）　薄荷（辛涼解表）　枇杷葉（清肺和胃降火）　茅根（瀉火）　瓜蔞（開肺）　穴一散　白豆蔻</p>
<p>口渴，加花粉（酸甘，微苦微寒，潤燥生津）　川貝（苦辛微寒，潤肺清火）</p>
<p>熱不退，加元精石（鹹寒瀉熱。）</p>
<p>自利，去山梔，加茯苓（甘淡溫熱利水）　豬苓（淡甘苦通，行水）　澤瀉（甘淡，行水）</p>
<p>如轉瘧，從少陽和解。小柴胡湯、清脾飲之屬。</p>
<p>如熱入營，宜犀角（苦酸鹹，專瀉心胃火熱）　羚羊角（瀉心肝火）　鮮生地（瀉火生津）　益元散（六一散加硃砂）　白薇（苦鹹寒，瀉膽熱）　川貝（潤津清火）　黑梔（瀉心火）　茯神（補心）</p>
<p>如咳嗽，清燥救肺湯，隨症加減。至於竅閉神昏，舌強肢牽，急以牛急丸、至寶丹，與前方兼進，庶可十救一二。</p>
<p>如熱退便燥，甘寒清胃養陰足矣。　南沙參（甘苦淡寒，補陰瀉肺火）　茯苓（補心脾腎，利水）　扁豆（甘溫，祛濕補脾，消暑）　金石斛（甘淡，補陰生津）　火麻仁（甘平，潤燥清腸）</p>
<p>如病者口腹不慎，暑濕與食滯鬱蒸，醫者不察，誤進寒涼，遂苔黃痞滿，嘔惡便阻，急投苦降辛通。如瀉心、黃連、溫膽、小陷胸湯之屬。</p>
<p>如便解痞悶，溫膽湯隨症加減為主。</p>
<p>孫晉庭先生云：伏邪晚發，天氣已寒，初在三陽之經，治宜分析詳辨。在太陽，蔥豉羌防湯；陽明，桂枝白虎湯；少陽，清脾達原飲；熱耗津液，竹葉石膏；氣血兩燔，玉女煎。《己任編》有石膏逍遙散加入枇杷葉、蘆根之類，皆隨手取效者。</p>
<p>大凡六淫之邪，無論風寒暑濕燥火，溫病、熱病、瘟疫、發斑等，但遇口臭唇焦，多系挾食，醫者不察，輒進寒涼，遂致膠結不化，大便屎如羊糞，苔黃痞悶，嘔惡便阻，三黃、白虎、承氣、陷胸歷進不應，每每縮手待斃。是以病人之死，未必死於六淫之邪，死於挾食者為多。蓋上唇屬陽明大腸，下唇屬脾胃，食在上焦，唇焦而燥，消渴；食在下焦，唇焦不燥渴，脈滑不數，汗出熱不解。先賢主以保和丸，多加竹瀝、萊菔汁，隨症加減。</p>
<p>痞硬加蔞、連、梔、樸，咳加樸、杏，食加神麯、穀芽，肉加三稜、楂肉、檳榔以分化之。發斑用清胃散加檳榔、樸、半以消之，斑未退，用清胃散加犀角、丹皮以化之。歷治數載，所投輒效，常能起死回生。</p>
<p>今醫者治病，無論在臟在腑，一見熱甚，即用竹葉白虎；一見斑熱，無論已透未透，即用犀角地黃；每每邪閉神昏，口噤不語，呃逆下利者，比比皆是。</p>

<h2>呂文清痢疾論治</h2>
<p>謹查休息痢一症，其故皆由余邪未盡，早服兜澀之劑，或早食葷油酸斂之物，致余垢留匿於大腸曲折之處。人之精液氣血，流行輸貫，每至其處，即留滯於此，蒸化而為垢。傷氣液者化為白垢，傷營血者化為紅垢。凡經年累月，垢下已多，而其中仍不能盡者，即此故也。調治之法，門徑雖多，不外虛實二端。此病由余垢而起，本無純虛之證。不過因痢久正虛，或質弱，或年老，邪少虛多者，苟能溫養脾腎，扶助正氣，氣機得旺，則餘邪自不能留，此治虛之一法也；其實者，或因寒積，或因濕熱，或因痰瘀，凡腸中稍有阻窒，即能致痢。治之者，寒積用溫化，濕熱用清泄，痰瘀用攻消。但總須用丸劑緩緩化之，與初痢之可以煎劑盪滌者不同。俟宿垢一淨，即用培補之品以善其後。否則中氣虛陷，身中一切病邪，均易下注。每有積垢已清，而滯痢仍不能止者，職是故耳。更有消補兼治之法，一面扶正，一面祛邪。前人醫案，有用補中益氣，或四君子、八珍湯等，送下疏積導滯之丸藥者，即此意也。此治實症之又一法也。尊體向來多濕，前年痢疾，恐系濕蘊生熱所致，俱不知垢色如何？不能決其所傷者為氣為血耳。鴉膽子即苦參子，瀕湖《本草納目》不載其能治痢疾，惟趙恕軒《本草綱目拾遺》盛推其治痢之功。惟其味至為苦寒，苦能燥濕，寒能泄熱，服之而去濕熱無疑。其服法用囫圇者，以龍眼肉包一錢，空心吞下；或去油作丸，外加導滯行氣之藥，食前空心服。此因餘邪留匿於腸中曲折之處，非此不能到達病所也。理中湯溫補脾陽而未免助熱，歸脾湯養血濡脾而不免助濕，其不能收效者，或此故歟！以愚見懸揣之，閣下病經兩載，脾胃必傷。（［眉批］：能納而不能運，病在脾；能運而不能納，病在胃。）刻下既得暫止，無論內伏之濕積，清與不清，總當以補中益氣為主方。其中有濕熱未清，或復作病，或糞後有余垢。如紅垢，病在血分，於煎劑外，間服駐車丸二錢；如白垢，病在氣分，凡尋常休息痢，可望痊愈。其或久痢而致滑脫者，當兼固澀；久痢而傷腎臟者，當用溫補。此須有見證可據，非憑空懸擬，所可作為定論也。病未一診，路隔千里，而談病議治，娓娓不已，閣下得毋笑其紙上談兵，猶是書生結習乎。特以夙承摯愛也，又不能奮飛至前，一片愚悃，用敢以一知半解，藉作芻議之獻，涉筆所至，亦不自覺其狂直者，伏冀採擇而訓正之。幸甚！幸甚！</p>

<h2>咳嗽病原虛實證治通論</h2>
<p>《內經·咳論》備詳五臟六腑之咳，而推其病原，則括之以內外合邪一語，是《內經》所論，只有外感之寒咳，而未及乎他也。《金匱》以咳嗽分列兩門，其與肺痿、肺癰並論者，多痰壅熱鬱之證；與痰飲同論者，多水停氣逆之證。是《金匱》所論，亦只有痰熱飲寒之咳，而未及乎他也。厥後《千金》《外臺》，以及宋、元諸家，推究病原，詳求治法，由六淫而及七情，則有志火刑金之咳；由外感而及內傷，則有虛熱爍肺之咳。循實課虛，愈推愈細，咳嗽之治，蓋至是始無餘蘊矣。溯自醫學之興，黃農以來，四五千年，風氣遞遷，病情各異。有古書所載而今無其病者，亦有今人所病而古無其名者，甚或同此一症，而致病之由，古今不同。因之病候之傳變，方藥之補瀉，古與今有迥乎不同者，蓋雜症中往往有之，而於咳嗽一證為尤甚。間嘗比而論之，《內經》《金匱》所論，咳嗽之實證也。後賢所論，或先實後虛，或標實本虛，咳嗽之虛證也。古人起居有常，飲食清淡，所病者多外感而少內傷。晚近以來，嗜欲日多，凡飲食之醞釀，虛火之薰灼，皆足以生痰而致咳。故今人所患，有濁淡壅肺而化熱者，有陰虛火炎而傷肺者，有天時炎敲而爍金者，如葦莖湯、瓊玉膏，以及清燥救肺諸法，後賢所著，皆切於用而不可廢。設以今人所患咳嗽之虛證，而必執《金匱》之法，動輒以麻、桂、青龍從事焉，其不至於液涸金枯而敗者，蓋亦解矣。</p>
<p>且夫病原者，論治之要旨也；虛實者，論治之通義也。何獨於咳嗽而辨之？則以咳嗽一症，病原有虛實之不同，論治有古今之各異。執《金匱》之法者，方自許取法之高，而習近時之治者，又自恃認病之切。夫以飲寒之實證，而以參地麥味滋斂其肺，則邪錮不達，徐洄溪嘗齗齗致辨矣；以火炎之虛咳，而以麻、辛，薑、桂溫理其肺，則金涸液枯，喻西昌又大聲疾呼矣。二者交譏，果孰得而孰失乎？要在通古今以辨明其虛實而已。是故論治病者，固當推究其病原，而治咳嗽者，尤必先明夫虛實。</p>

<h2>咳嗽續論</h2>
<p>愚嘗謂咳嗽一證，古今不同，治法各異，已於前論中暢其義矣。而世運之變遷，人事之澆漓，於古今所以不同之故，意猶未盡，敢復即前論而申言之。考咳嗽二字，前人謂有聲無痰曰咳，有痰無聲曰嗽，有痰有聲曰咳嗽。《內經》無痰字，其咳論中亦不及嗽字，即他處咳嗽二字並舉者，亦不多見。至《金匱》備論咳嗽，其治法亦詳於飲而略於痰。至宋、元以後，始專立治痰之方，可見上古有飲而無痰，漢時猶飲多而痰少，至近時而痰之為病始多也。</p>
<p>夫痰與飲同出一原，所謂飲者，積水也。所謂痰者，蓋即所積之水而熬煉以成者也。上古之人，淡泊無為，內火不生，故無痰。中古以後，嗜欲漸多，情志之火熏於肺，飲食之毒蒸於胃，其始也爍飲而為痰，其繼也因痰而壅熱，蓋咳嗽之病變多矣。其尤甚者，腎陰告損，水衰不能制火，火炎則金傷，金傷則乾咳，蓋至是而咳嗽門中且多不治之症矣。此非古今來病原治法之一大變哉。而愚則更有進焉者，自元季以來，菸草日行日盛，其氣隨呼吸以出入，日引日長，熏爍肺津，變而為痰。試觀吸菸日久之人，無不痰多作咳者，謂非煙氣之所致歟。至近二百年，鴉片盛行，其煙氣較和而煙毒更盛，其性不至熏熬而兼能吸聚，年久癮深者，類能聚津液而為痰，痰愈多而咳愈甚，而生痰致咳之原，更日出而無窮矣。夫咳嗽之病，多由乎痰，而生痰之原，古與今既若是其變遷也，而謂論治者，猶可執古法而不知化裁哉。故愚嘗謂治病當變通夫古者，惟咳嗽為尤要云。</p>

<h2>肝病證治條例</h2>
<p>肝屬木，得春令生髮之氣，喜條達而惡郁遏。鬱則怫其性情而為肝氣之病。木性化風，風木不和，則上越而為肝風之病。木能生火，木鬱火旺，敗攻竄而為肝火之病。此三者，肝病之大宗也，而均有虛實之等則。今將三病分別虛實調治之法，條例於後：</p>
<p>凡治肝實之病：一曰泄肝氣，二曰疏肝瘀，三曰瀉肝火，四曰祛肝寒，五曰鎮肝逆。此五者，治肝之有餘也。此外，肝氣逆於肺，則有清金平木一法；肝木內克於脾，則有實土御木一法。凡肝實者，宜用此法。</p>
<p>凡治肝虛之病：一曰扶肝氣，二曰養肝血，三曰斂肝陰，四曰熄肝陽。此四者，治肝不足之病也。此外有水不涵木者，更有滋水生木一法，乃乙癸同源之意也。凡肝虛者，宜用此法。</p>
<p>一曰肝氣之證：如兩脅板痛，裡氣攻撐，此肝氣鬱於本經，宜用疏肝法，並通絡理氣。如金鈴子、玄胡索、沉香、木香、青皮、鬱金、香附、蘇梗。如氣病日久，郁及血絡者，宜疏瘀通絡，如歸鬚、桃仁、紅花、牛膝、丹參、乳香，玄胡、旋覆花。如脘中撐痛，嘔吐酸水，肝木犯胃者，宜泄木和胃。如左金丸、二陳加白芍、砂、蔻仁、木香、沉香。如肝氣內逆，大痛大吐，四肢厥冷，此為肝厥。宜烏梅丸加減。如脘腹脹滿，木氣干於脾土者，宜培土泄木。如六君子加木香、砂仁、雞內金、白芍、香櫞、木香。如肝氣兼挾濕痰，濁積壅阻，結塊而成脹者，宜於泄木中兼化濁積。如小溫中丸合平胃、二陳配用。如肝氣上逆於肺，咳促哽噎者，宜清金平木。如旋覆花、代赭、前胡、百合、丹參、紫菀、枳殼、鬱金、枇杷葉、紅梅花、綠梅花。如少腹脹痛，肝氣鬱陷於下者，宜疏木達郁。如柴胡、川芎、歸身、芍藥、青皮、木瓜、烏藥、沉香、吳萸、橘核、香附、玄胡。如氣滯兼阻及血，而少腹結塊作痛者，宜疏通瘀滯。山稜、莪朮、牛膝、紅花、桃仁、楂炭之類；其痛而作塊者，當參癥瘕例治之。此外，更有營血不足，肝脾不和而作痛者，病勢徐緩，而延綿不止者，宜養肝止痛。如歸脾湯加疏肝之品，或建中湯加歸身、木香之類。</p>
<p>呆翁按不論室女婦人，體弱中虛，情志抑鬱，經行腹痛，諸藥罔效，往往用歸脾原方覆杯即愈，此蓋木失涵養使然也。</p>
<p>一曰肝風之證：亦有虛實兩種，而虛者為多。木鬱則化火，火鬱則生風，此實症也。血虛則木燥，木燥則生風，此虛證也。肝風上升於頭者，巔痛、頭暈、耳鳴、目眩，宜羚羊角、石決明、明天麻、滁菊、夏枯草、丹皮、黑料豆、刺蒺藜、鉤鉤。有內風燔於胃口，煩擾不寐，嘈雜嘔酸；宜左金、二陳、木瓜、烏梅、竹茹、枳實、白芍、棗仁。有外感經絡者，四肢痙掣，麻木牽強，宜羚羊角、刺蒺藜、當歸、白芍、絲瓜絡、木瓜。以上皆肝鬱生風治法，是肝風之實證也。如肝血不足，而兼生火動風者，當於前法中參入滋肝之品，如歸、芍、二地、阿膠、龜版、牡蠣、梔子、沙苑、桑椹、天麻、首烏、料豆等柔熄之品。甚則眩暈痙掣，肢厥多汗，急宜三甲復脈、大小定風珠參入珠粉等，以熄風固脫。</p>
<p>一曰肝火之證：有上越巔頂者，為頭痛目赤，耳聾顴紅，宜羚羊角、黑梔、杭菊、夏枯草。有竄入血絡者，為咯血、衄血、牙宣、舌衄等症，宜於清火方中，加入犀角、鮮地、玄參、赤芍、丹皮、銀花。有擾及心包者，為癲狂不寐，怔忡驚悸等症，宜用犀角、川連、龍齒、牡蠣、磁石、硃砂、金銀箔、鐵落、真珠、竹葉、山梔、丹皮、青黛、棗仁。有燔及中焦，而嘈雜吐酸者，宜川連、山梔、竹茹、夏枯草。若胃液被爍，而煩渴善飢者，苦寒慎用，宜用甘寒，竹葉石膏加西洋參、石斛、二冬、二地、知母、白芍。有注於下焦，淋濁遺泄，便秘溺澀，在婦人則見經水不調，帶下不止等證者，宜龍膽瀉肝、當歸龍薈、大黃、黃連、黃柏、玄參、牡蠣、木通、山梔、丹皮。</p>
<p>此外，有肝臟本虛，精神困頓，體有肝風、肝氣之病，不能再投疏泄之品以耗正氣者，只可培養以固本，宜二地、歸、芍、杞子、蓯蓉、阿膠、龜版、菟絲子、沙苑、烏梅等，以養肝陰。</p>
<p>呆翁按：凡木勝之人，中土弱者居多，木固宜滋宜柔，然土亦須兼顧。蓋胃最惡濕，任用甘寒滋柔之品，而忘其妨胃之患，久進之後，中陽漸淚，尋至胃呆不納，神疲體倦，言微氣弱，中原板蕩，命火將傾，病者寧有幸存之望乎。</p>
<p>若夫肝陽虧者，適與上述諸症背道而馳。是則宜以鹿角、阿膠、黃耆、葫蘆巴、蓯蓉、杜仲、萸肉、川芎、當歸、五味、羊肉、東洋參、大小茴、乾薑等，以扶益肝陽。</p>
<p>晚近以來，有婦女肝氣下注足膝，每發則痠痛麻木，不能步履。此證前人未有論及者，惟顧練江備論及之，名曰女腳氣。由於脾氣先虛，肝氣因而下陷，若用通絡下墜破氣之品，則氣愈虛而病愈重，治當以健脾為主，佐以疏肝，如六君、異功、歸脾等方，隨證加減。甚則用理中、腎氣之類，以補火生土，其證詳載《瘍醫大全》二十六卷中。</p>

<h1>醫案</h1>

<h2>痢疾門</h2>
<p>史　痢垢數日不止，狀如休息，腸腑中積垢未淨，必須疏化。但脈象軟數，清晨氣滯，臟真暗傷。當以溫補為主，佐以疏通可也。</p>
<p>潞黨參（沙松）　炙甘草　歸身炭　砂仁　野於術（炒黃）　四神丸　杜仲（酒炒）　荷葉蒂　炮薑炭　廣皮　懷山藥</p>
<p>另：上桂心（五分）　淡乾薑（五分）　酒炙大黃炭（一錢）　廣木香（五分）　為末丸，分三服。</p>
<p>陳（左）　由瘧轉痢，經腑交病，所下垢膩如痰者甚多。神倦肢清，脈弱舌滑，苔色白燥，脾陽與胃陰兩受重傷，而痰氣尚阻而未暢。擬仿理中法加味。</p>
<p>於術　炙草　紅棗　白芍（土炒）　麥冬肉（炒黑）　太子參　姜半夏　茯苓　炒枳實　煨木香　炮姜　橘紅　西洋參（米湯拌炒）　桂枝</p>
<p>朱（左）　濕熱積滯，阻窒氣機，滯下痛痢，垢下兼紅，舌苔濁膩。當疏濁清營。</p>
<p>煨木香　小川樸　川芎炭　楂炭　枳殼　淡芩（酒炒）　桔梗　紅曲米炭　豆卷　赤勺（酒炒）　歸身炭　鮮藕（煎湯代水）</p>
<p>楊（左）　瓜積傷中，腹痛泄瀉，將及一月，漸覺氣墜不爽，微有紅垢。此脾營下陷，欲作痢疾也。舌苔白膩，脈象細數，氣弱邪戀，恐其淹纏。姑與溫通。</p>
<p>炒本山術　赤苓　小川芎炭　砂仁　炮薑炭　枳殼　歸尾　楂炭　廣皮　桔梗　廣木香　荷葉蒂</p>
<p>二診　腹痛滯痢，得冷則劇，此脾氣虛寒之象。診脈左弱右弦，中宮並有暑濕，氣弱邪戀，最易淹纏。擬方溫中疏邪。</p>
<p>野於術　川厚朴　桔梗　焦六曲　乾薑炭　砂仁　炒枳殼　通草　煨木香　連皮苓　廣藿梗　煨姜　荷葉</p>
<p>三診　濕邪阻滯，緣脾氣衰弱，不能托邪外達。肢倦力乏，納穀不舒，氣弱邪滯，難取速效。姑擬溫脾疏濕，俾外達為佳。</p>
<p>本山術　乾薑炭　砂仁　廣皮　炒枳殼　於術　川樸　茯苓皮　豆卷　炙雞金　通草　焦六曲　茵陳　桔梗　香稻葉</p>
<p>四診　中氣未化，濕邪未淨。仍宜芳香疏化，兼與分利。</p>
<p>本山術　茯苓皮　茵陳　半夏　於術　豆卷　砂仁　通草　川樸　藿梗　廣皮　煨姜　荷葉</p>
<p>趙（左）　瘧發於夜，而有盜汗，病邪本在陰分，更兼暑熱積滯，蒸蘊營分，發為紅痢。法當和營疏邪，表裡兼治。</p>
<p>炒歸身　細柴胡　酒炒淡芩　川樸　川芎炭　丹皮炭　桔梗　酒炒東白芍　炒枳殼　煨木香　楂炭　紅花　荷葉</p>
<p>劉（左）　久痢不已，肝脾營氣受傷，於是肝木失疏達之性，脾土少健運之力，當臍及脘左塊痛，納穀少而不暢，氣機阻窒於中，滯陷於下，營分中餘邪，至今未能盡化。脈象虛細弱數。正虛邪戀，奏效頗難，姑與疏肝運脾，冀其調暢乃佳。</p>
<p>於術　酒炒淡芩　炙雞內金　楂炭　歸身（炒黑）　桂枝　炒枳殼　醋炒青皮　土炒白芍　煨木香　桔梗　炮薑炭（蜜炙）　鮮藕</p>
<p>方　中氣虛寒　由氣分傷及血分，痢下瘀紫血水，肢冷腹痛，脈細弦弱。擬建中法，佐以溫營暢氣。</p>
<p>東白芍（桂枝六分煎汁炒）　煨木香　小生地（炒鬆）　楂肉炭　炙草　制附片　砂仁　炒穀麥芽　歸身（炒黑）　於術　炙雞內金</p>
<p>馬　血痢久而不止，脾氣與胃津俱傷，面浮色萎，舌質無苔，有由來也。刻下因積滯，面增腫滿，更因感冒而加咳嗽，以致病情錯雜。若論病，以痢為本，以痰為標；論治法，當先治咳，而後治痢。以肺為嬌臟易傷，治痢之藥多所窒礙故也。</p>
<p>南沙參　杏仁　歸身炭　桑皮　萊菔子炭　桔梗　淡芩（炒黑）　煨木香　桑葉　砂仁　前胡　赤芍（酒炒）　炒枳殼　茯苓皮　通草　冬瓜子</p>
<p>龐（右）　據述脹痛在於下部，此由肝氣乘久痢下虛之隙，注陷於少腹，故脹痛甚於下，而泄痢亦增劇耳。紅白雜垢，及從前暑濕餘邪留於腸腑，未盡清泄也。參鬚不能進者，緣肝氣內橫，逆於胃口，故服之轉增脹滿，如和入平肝藥中，即無妨也。惟飲食能進，則胃氣可以支持。擬用疏肝為主，佐以寬暢調氣之法。</p>
<p>於術　醋炒青皮　醋炒延胡　烏藥　橘絡　土炒白芍　酒炒金鈴子肉　青廣木香　醋炒枳殼　歸身（小茴香二分煎汁炒）　西洋參（米拌炒黃，去米）　乾荷葉　白檀香　陳米蛀屑（炒焦色）　橘核（炒）</p>

<h2>便血門</h2>
<p>吳　便血數日不止，濕熱之留於營分者，由此疏泄，惟氣機不化，脘氣不舒。宜清泄營吩，疏通中氣。</p>
<p>豆豉　桔梗　小生地炭　白芍　淡芩　炒枳殼　煨木香　炒歸身　丹皮炭　防風根炭　綿耆　荷葉炭　藕</p>
<p>吳　腸風失血甚多，濕熱下注使然。法宜清泄。</p>
<p>細生地炭　荊芥炭　槐米炭　歸身炭　晚蠶沙　側柏葉炭　丹皮炭　茜根炭　陳阿膠（地榆炭一錢研末炒）　藕節炭</p>
<p>再診　便血甚多，氣墜血注，前與清泄不效，擬固氣攝營，佐以潤腸泄熱。</p>
<p>黨參　細生地炭　槐米炭　防風根炭　黃耆　丹皮炭　柏子仁霜（絹包）　歸身　荊芥炭　阿膠（蒲黃粉拌炒）</p>
<p>另：臟連丸（三錢）</p>
<p>趙　便血頗多，肝脾營氣大傷，脈虛細，神倦乏力。當從肝脾清攝。</p>
<p>黃耆　槐米炭　阿膠（地榆炭一錢研末拌抄）　枳殼（醋炒）　大生地（炒鬆）　丹皮炭　黑穭豆衣　廣皮　歸身炭　茜根炭　白芍　側柏葉炭　炒焦荷葉</p>
<p>姜　先患便血，腹中滯痛不爽，此濕熱傷營之病，溫之澀之，便血稍止，而濕熱內踞。中氣受傷，漸至脘腹脹滿。刻診脈象弦數，舌苔黃濁。法當清泄肝脾，勿容溫補助邪也。</p>
<p>煨木香　枳殼（醋炒）　酒炒淡芩　桔梗　酒炒赤白芍　槐米炭　歸身炭　防風根炭　丹皮炭　紅曲米炭　川芎　炒焦荷葉</p>
<p>另：小溫中丸　每服三錢</p>
<p>孟　便血不已，氣墜肛脫，自屬氣虛下陷，宜用升補之法。但左脈弦數，腹中未和，舌苔帶濁，仍有濕熱留戀，濁痰上壅。宜先疏化。</p>
<p>青鹽半夏　炒枳殼　茯苓　茜草根　橘紅　煨廣木香　歸身炭　淡芩（炒黑）　酒炒東白芍　槐米炭　丹皮炭　炒焦荷葉　藕節炭</p>

<h2>肝氣門</h2>
<p>肝木犯胃則嘔，犯脾則脹，犯肺則氣逆。木病久必歸中土，腹脹納艱，大便不時溏泄，乃中氣更傷之病。動作氣逆，肝氣上逆於肺，故亦有偏臥之候。久病正虛，未便專用疏泄。擬和胃健脾，兼佐泄木調氣之法。</p>
<p>法半夏　生於術　雞內金　東白芍　小青龍　廣鬱金　奎砂仁　刺蒺藜　左牡蠣　旋覆花　川百合　檀降香　枇杷葉　木蝴蝶</p>
<p>肝木犯胃，痛嘔而脹，發必五日，甚則形寒汗出。脈象左手弦長，關部獨大，肝木自鬱於本宮，氣侵及胃，設使胃病及脾，則脹增痛減，病情更重矣。姑先泄木安胃，冀得痛嘔兩平。</p>
<p>細川連（五分）　吳萸（二分，炒）　製半夏（醋炒，一錢半）　小青皮（醋炒，一錢半）　川楝子（酒炒，一錢半）　延胡（醋炒，一錢）　東白芍（土炒，二錢）　陳木瓜（酒炒，一錢）　黑山梔（薑汁炒，二錢）　紫蘇細梗（八分）　桂丁子（三分，研末沖）　蔻仁（一粒，研末沖）　竹二青（薑汁炒，一錢五分）　陳香櫞皮（一錢五分）</p>
<p>脈象左弦右弱，肝氣上逆，胃氣下降，寒熱雖退，而撐痛嘔脹，舌中黃厚，時或吐紅，胃氣不得下行。當與泄肝和胃。</p>
<p>川連（吳萸三分，炒）　鹽半夏　青皮　金鈴子　延胡　廣鬱金　石斛　瓜蔞皮　枳實　茯神　檀降香　竹茹</p>
<p>撐痛當脘，旁及左脅，痛甚則嘔吐酸濁，脈象細弦，病緣肝木犯胃，挾中焦之痰濁，上逆不降。營衛相忤，則形寒裡熱；風木浮擾，則耳鳴頭眩，而總以肝病為主腦。擬方疏肝安胃，暢氣化痰。</p>
<p>東白芍（土炒，一錢半）　桂枝尖（四分）　小青皮（醋炒，一錢半）　姜半夏（一錢半）　新薈皮（一錢）　細川連（吳萸二分同炒，四分）　淡乾薑（鹽水炒，四分）　白茯苓（三錢）　白苡米（薑汁炒，三錢）　瓦楞子殼（醋炒，六錢）　竹二青（一錢五分）　陳佛手（八分）</p>
<p>方按：再加石決明以熄風木，則更周到。</p>
<p>肝氣撐痛則嘔，數月不止，氣阻瘀窒，經水不行，兼感微邪，營衛俱病，故寒熱日作，舌色干絳，苔色干黃，腐蝕胃陰，為裡熱所灼，未可再投溫燥。擬內養胃陰，外和營衛；兼佐泄肝調氣之法。冀陰液得復，乃可著手。</p>
<p>洋參　麥冬　川石斛　白芍（桂枝炒）　丹皮　白薇　金鈴子　延胡　青皮　細川連（吳萸二分煎汁炒）　木瓜　瓦楞子　檀降香　竹二青　橘葉</p>
<p>肝木犯胃，撐痛嘔逆，肝病則營血不調，經水淋瀝，營陰內耗，向晚發熱。當泄肝和胃，佐以和營清陰。</p>
<p>細川連（吳萸二分煎汁炒）　青皮　白芍　川楝子　川鬱金　制香附　黑山梔　全當歸　丹皮　白薇　丹參　香櫞　竹二青</p>
<p>再診　脘痛當心，肝木內犯之病，更兼勞傷，內熱少納、不寐。當和肝為主，佐以養營清陰。</p>
<p>金鈴子　白芍　川鬱金　沉香曲　瓦楞子殼　丹參　丹皮　黑山梔　白薇　川百合　淨棗仁（川連半兩煎汁炒）　檀降香</p>
<p>關格已久，近復肝氣橫逆，撐痛作嘔，脈細弱無神，病象已深。再與疏木降胃。</p>
<p>川楝子　延胡　半夏　廣皮　茯苓　白杏仁　細川連（吳萸二分煎汁炒）　白芍　青皮　麥冬　北沙參　淡乾薑　九香蟲　竹二青</p>
<p>痛由左脅及脘，甚則吐酸，木氣內犯，中土受傷。法當泄木安土。</p>
<p>淡吳萸（川連三分煎汁炒）　白芍　桂枝　青皮　全當歸　炙草　川鬱金　瓦楞子　半夏　煨姜　佛手　紅棗</p>
<p>肝木不和，胃痛及脅，木旺傷脾，肢體倦怠。當泄木培土。</p>
<p>白芍（桂枝四分炒）　金鈴子　延胡　青皮　瓦楞子　牛膝（吳萸二分炒）　沉香曲　茯苓　白朮　木香　砂仁　佛手</p>
<p>肝木犯胃則痛嘔，犯脾則脹滿，痛止而脹不減，腑病易通，而臟氣難和也。以泄肝為主，佐以運脾和胃。</p>
<p>吳萸（川連三分炒）　金鈴子　延胡　青皮　白芍　全當歸　沉香曲　雞內金　砂仁　川樸　黑梔　桂丁子（研末沖服）　竹二青</p>
<p>病出肝脾兩臟。肝營窒塞，則化火生風、而為眩運；血絡不調、而為瘀阻；脾氣不運，則腹悶色黃，舌濁肢冷。刻當吐瘀之後，咳逆喉鯁，胸膈板滯，肝氣逆行於肺絡，不得疏降，瘀阻於上，氣窒於中，而脈象虛數，已有臟損之徵，調治頗難。姑與和營暢氣，泄肝通絡之法。</p>
<p>丹參　丹皮　白芍　旋覆花　紫菀　粉前胡　刺蒺藜　鬱金　瓜蔞皮　白苡仁　奎砂仁　歸鬚　橘絡　降香　枇杷葉</p>
<p>再診　脾氣運則脹滿略鬆，痿黃之色略退，其胸板略舒，營絡亦有條暢之機。惟唇色干淡而焦，苔色漸灰，舌底淡白不華，肝脾營氣窒損，窒則裡氣不通，損則陰血枯澀，病關臟氣，非旦夕所能調復。於滋肝健脾法中，仍佐暢營調氣之意。</p>
<p>洋參　生地　全當歸　丹參　丹皮　白芍　於術　雞內金　廣木香　硅砂仁　生熟神麯　豆衣　柏子仁霜　龍眼肉</p>
<p>肝木鬱陷，腹痛頭暈，脈象弦數。用養肝調氣法。</p>
<p>歸身　白芍　丹皮　黑山梔　製半夏　鬱金　竹二青　陳佛手</p>
<p>方按：宜加木香、青皮、滁菊、蒺藜。</p>
<p>向來營血不充，不能滋養肝木，木燥則化火生風，上逆不靜，兼以氣分郁阻，木失條達之機，橫克胃土，故腹痛攻撐，少納易脹，此氣血兩虛而又兩室，疏之則嫌其削克，補之又恐其壅阻。擬方養血滋肝，暢氣和胃，兩層兼顧，或不至有偏勝之虞。</p>
<p>全當歸（炒黑，三兩）　大生地（砂仁一兩炒鬆，四兩）　於術（生切，一兩五錢）　黨參（三兩）　廣皮（鹽水炒，二兩）　紫丹參（三兩）　丹皮（炒，二兩）　川鬱金（一兩五錢）　廣木香（八錢）　香附（打，三兩）　青皮（醋炒，一兩五錢）　石決明（醋煅，八兩）　菊花（一兩）　淨棗仁（炒黑，三兩）　川斷肉（炒，三兩）　生炙甘草（各四錢）　川石斛（二兩）　竹二青（二兩）</p>
<p>煎汁洋入阿膠（二兩），酌加冰糖收膏。</p>
<p>氣由左脅竄入脊膂，攻痛不定，脘腹作脹，肝木不和，擾及肺胃。當和肝為主，佐以通調絡氣。</p>
<p>旋覆花（絳末三分同包）　歸鬚　白芍　桂枝　刺蒺藜　青皮　廣皮　砂仁　桑皮　前胡　枳殼　瓜蔞皮　絲瓜絡　陳香櫞</p>
<p>再診　前與和肝通絡，脹痛攻竄，減而未止，脈象弦中帶數，木鬱無疑。惟痛偏於右，木邪侵於肺胃之界。擬於前法中加入推氣散意。</p>
<p>金鈴子　青皮　川鬱金　刺蒺藜　白芍　丹參　旋覆花　廣皮　川百合　桑白皮　枳殼　檀香　降香　絲瓜絡</p>
<p>肝木犯中，腹痛作嘔，新產奇脈不充，衝脈因之上逆，遂致胸脘撐脹，上及於嗌。脈象左關浮弦而數，巔痛項強，風木化火，鬱而上升。當泄木和胃，兼平衝脈之氣。</p>
<p>旋覆花　代赭石　半夏　象貝　前胡　黑山梔　金鈴子　川鬱金　小青皮　東白芍　長牛膝　瓦楞子　甘菊　香櫞　木蝴蝶</p>
<p>肝氣逆則脹悶，肝風動則眩暈，脈象弦硬，木鬱不達。用藥以和肝為主。</p>
<p>刺蒺藜　石決明　穭豆衣　天麻　甘菊　廣皮　白芍　青皮　沉香曲　木香　砂仁　香櫞</p>
<p>肝木犯胃，嘔吐酸苦濁涎，脈細弦，舌紅，氣火上逆，肺金不肅。法當苦辛泄降。</p>
<p>細川連（吳萸半兩，煎汁炒）　桂枝（四分）　東白芍（酒炒，一錢半）　淡芩（酒炒，一錢半）　姜半夏（二錢）　廣皮（一錢五分）　南沙參（四錢）　前胡（一錢）　木瓜（酒洗，一錢）　雞內金（炙，一錢五分）　砂仁（研，八分）　黑梔（一錢半）　紫菀（一錢半）　竹二青（薑汁炒，一錢五分）　枇杷葉（去毛，兩片）</p>
<p>肝氣不和，窒及營血，始則塊撐作痛，漸至內熱咳嗽，病已一載，神倦音破，此熱久陰傷，由肝脾而並及肺胃，漸有入損之象。當和營調氣，清養肺胃。</p>
<p>歸身　白芍　丹皮　白薇　金鈴子　延胡　沉香曲　鮮沙參（去皮）　馬兜鈴　蛤殼　青蒿子　穭豆衣　竹茹</p>
<p>方按：宜加旋覆花。</p>
<p>肝木犯胃，脘痛日作，此氣分病也。惟脈細數右弦，內熱咳嗽，肝營窒損，有陰血乾涸之慮。</p>
<p>歸身　白芍　丹參　丹皮　細川連（吳萸二分煎汁炒）　青皮　川鬱金　香附　青蒿　白薇　蛤殼　茅根　枇杷葉</p>
<p>向患肝木不和，中土受克，胸脘脹痛，口吐涎沫，病久陽虛，形寒作咳。擬溫養法佐以和胃。</p>
<p>全當歸　白芍　青皮　丹皮　廣皮　蘇子　杜仲　甘杞子　淮山藥　砂仁　香櫞皮</p>
<p>方按：宜加桂枝、半夏。</p>
<p>肝氣上逆，嘔酸塊痛，按月而發，癸阻不行，氣病及血。法當先以調氣為主，和營佐之。</p>
<p>吳萸（川連三分同炒）　金鈴子　延胡　青皮　香附　蘇梗　歸尾　丹參　橘核　長牛膝（桂枝五分炒）　九香蟲　白芍　木香　砂仁</p>
<p>氣機膹郁，肺胃不能順降，脘悶不納。當與和中暢氣。</p>
<p>青皮　廣皮　白芍　鬱金　蘇梗　沉香曲　半夏　枳殼　川石斛　蔻仁　香櫞</p>
<p>腹脹撐急微痛，噯悶氣窒，癸停數月，病屬木氣內郁。當先以暢肝和胃為主。</p>
<p>白芍　青廣皮　鬱金　蘇梗　木香　旋覆花　茯苓　腹皮　砂仁　蔻仁　香櫞　枇杷葉</p>
<p>薛　咳嗽內熱，鬱熱內蒸，肺氣不降所致。左少腹塊撐作痛，經至腰痠，乃肝木不調，不能藏血之象。當以疏暢肝木，佐以和絡清肺。</p>
<p>生鱉甲　白芍（桂枝四分炒）　香附　青皮　全當歸　牡蠣　鬱金　北沙參　柴胡（醋炒）　丹皮　降香片　橘絡　橘核　枇杷葉　竹二青</p>
<p>二診　撐痛起於少腹，從左上升，漸侵脾胃，少納多脹，病因肝氣鬱陷，營絡不通。當疏肝和營。</p>
<p>金鈴子　川鬱金　瓦楞子　全當歸　青皮　白芍（小茴香三分炒）　川連（吳萸炒）　木香　牛膝（紅花三分煎汁炒）　丹參　橘核　九香蟲　檀降香</p>
<p>三診　脹痛減而未和，肝脾不暢，氣血兩窒。再與疏肝和脾。</p>
<p>白芍　砂仁　烏藥　香附　青皮　延胡　丹參　牛膝（吳萸三分炒）　木香　六曲　紅花　香櫞　全當歸</p>
<p>吳　向質氣虛木旺，中氣輸運失常，濕熱留戀，阻窒氣機，脘腹脹悶，天陰則甚，即其徵也。其經水淋瀝先期，乃木火內郁，肝血不藏所致。脈象右弦左數，舌苔厚濁，病機偏重於氣分。當與和中泄濁，清暢肝木為主。</p>
<p>川鬱金　白芍　香櫞　新會皮　川楝子　苓皮　通草　香附　青皮　丹皮　黑梔仁　檀降香</p>
<p>另：小溫中丸　每服三錢，空心開水送下。</p>
<p>薛　內熱雖減，左脈尚數，肝經絡氣未和，脅左板窒作聲。再與和絡清肝，佐以滋養。</p>
<p>旋覆花（絳末四分炒）　生地　鬱金　枳殼　桑葉皮　歸鬚　白薇　白芍　丹皮　牡蠣　前胡　降香　枇杷葉</p>
<p>周　肝氣較平　惟營陰未得疏暢，晚熱少汗，少腹作痛，營絡欲通未暢。擬與清陰暢營。</p>
<p>細生地　生鱉甲　白芍　白薇　紫菀　全當歸　南沙參　青蒿　木香　延胡　紫丹參　丹皮　牛膝（紅花炒）　桃仁　枇杷葉</p>
<p>陳　風木不靜，陽明內虛，故有眩暈諸疾，此不獨血虛肝旺，兼以痰氣內阻。擬熄風培土。</p>
<p>鹽半夏（一兩五錢）　制料豆（二兩）　歸身（二兩）　刺蒺藜（四兩）　黨參（三兩）　白芍（二兩）　明天麻（一兩）　於術（一兩五錢）　茯苓（三兩）　廣皮（一兩五錢）　丹皮（一兩五錢）　菊花（一兩）　木瓜（一兩）　棗仁（三兩）　川連（三分炒黑）　共為末，用大生地（四兩）　夜交藤（四兩）　煎濃汁泛丸。</p>
<p>趙　氣機不化，內熱留戀。再與清木和胃，以泄邪機。</p>
<p>左金丸　半夏　茯苓　青皮　菊花　廣皮　黑山梔　枳殼　鬱金　木瓜　青蒿　佛手　竹二青</p>
<p>王　肝木鬱陷，脾土受傷，其咳嗆屬於肺，疝墜屬於肝，皆木氣為患。泄瀉內熱，神瘁少納，則中氣被戕矣。左脈細數，右寸關浮弦。當與泄木培中，防其漸就損途。</p>
<p>於術　丹皮　青皮　青蒿　雞內金　川石斛　白芍　黑梔仁　木瓜　橘核　瓦楞子　砂仁　佛手</p>
<p>劉　咳嗽，肝營窒損，有陰血乾涸之慮。</p>
<p>歸身　白芍　川連（吳萸二分炒）　青皮　丹參　香附　青蒿　丹皮　白薇　川鬱金　蛤殼　茅根肉　枇杷葉</p>
<p>王　痛由少腹上掣及脘，此肝腎內虛，寒邪乘襲，其侵及中部，則中陽亦虛矣。脈象濡軟中帶弦，肝邪上犯，最易變成沖厥。刻下痛勢暫平，須及時好為調理，以預防之。</p>
<p>黨參（四兩）　於術（二兩）　茯苓（四兩）　全當歸（小茴香五錢炒，二兩）　白芍（二兩）　牛膝（吳萸四錢炒，二兩）　萸肉（二兩）　杞子（二兩）　砂仁（一兩）　桂枝（一兩）　製附子（五錢）　木瓜（一兩五錢）　川楝子（二兩）　延胡（一兩五錢）　木香（六錢）　為末　用橘葉（一兩五錢）　橘核（三兩）　煎汁泛丸，每空心鹽花湯送下（三錢）。</p>
<p>劉　氣逆暫平，木火上竄則頭痛目眩，入絡則肢麻膚疹。仍宜泄肝和氣為主。</p>
<p>刺蒺藜（三錢）　石決明（四錢）　鬱金（一錢半）　丹皮（錢半）　桑葉（一錢半）　桑皮（三錢）　黑山梔（錢半）　夜交藤（三錢）　白芍（錢半）　菊花（一錢）　佛手（三錢）</p>
<p>郁　木氣內克則脘痛，上升則頭暈，舌苔厚濁，胃氣被克，不得清降。當疏肝和胃。</p>
<p>生於術　夜交藤　半夏　鬱金　白芍　石決明　細川連（吳萸一分炒）　枳殼　茯苓　刺蒺藜　廣皮　杭菊　竹二青</p>

<h2>肝火門</h2>
<p>徐　血行清道而為衄血，其故由於肝火不平，蒸灼營陰，以致血絡沸騰，屢發不已，陰血日耗，肝失血養，木火愈甚，馴至逆行，肺金喘逆鼻煽，神色枯悴，上損之候已深。而納少、跗腫、便溏，中氣亦壞。脈象細數，左尺浮數，所伏之肝火，不時上克肺金，而且下及腎陰，肝腎不主攝納，病見於上，而根壞於下，在損症中為最深之候。姑與清肝肅肺，培土納腎之法，氣陰兩顧，扶過炎夏傷金之令，方可從長議治。</p>
<p>臺參鬚（錢半）　大生地（用墨旱蓮草一錢同炒，米湯拌蒸，曬三次）　白芍（錢半）　天冬（三錢）　紫白石英（各三錢）　淮山藥（三錢）　川百合（三錢）　丹皮　歸身（錢半）　北五味（一錢）　女貞子　牡蠣（二錢）　歸身（錢半）　牛膝（清鹽水拌烘）　竹二青（錢半）　毛燕窩（絹包，五錢）</p>
<p>復診　吐血止後，牙床又腫，脈象左細右數，病因肝火竄於陽明之絡，火隨血泄。用清營泄肝法調理之。</p>
<p>生地炭　北沙參　元參　生草　黑山梔　刺蒺藜　絲瓜絡　知母　茜草炭　羚羊角　丹皮　白芍　竹二青</p>
<p>顧　痰濁內阻，由於胃氣不降，而胃氣之所以逆者，則由於肝火之內沖。刻下納穀則脹，納飲則嘔，口中甜濁上泛，時更嘈熱無汗，氣機迫促，肝氣升而肺氣均逆矣。擬方清泄木火，疏降肺胃。</p>
<p>淡乾薑（鹽水炒）　旋覆花　川連（薑汁炒）　茯苓　砂仁　佩蘭葉　代赭石　半夏　枳實　桂枝　瓦楞子　苡仁　於術　竹二青</p>
<p>改方：去佩蘭、旋覆花、代赭石，加吉林參鬚（一錢）、新會紅（一錢）。如氣急，仍用代赭、旋覆。</p>
<p>再診　肺氣稍平，胃氣尚未順降，而病原實由於肺氣之不平。脈象滯數，木火不化。以煎劑疏胃氣，丸劑疏肝木。</p>
<p>川連（吳萸炒，六錢）　青皮（醋炒，八錢）　香附（一兩六錢）　川樸（一兩六錢）　乾薑（鹽水炒，六錢）　炙草（四錢）　半夏（一兩五錢）　茯苓（三兩）　於術（生切曬研，二兩）　枳實（六錢）　木香（五錢）　新會皮（一兩）　黨參（二兩）　砂仁（八錢）</p>
<p>上藥共為細末，沉香（三錢）　磨沖水泛丸。每服三錢，用姜竹茹湯送下。</p>
<p>費　木火挾痰，內犯清淨之府，嘈脹目黃，內熱唇燥，皆屬木火為病。用清泄之法。</p>
<p>羚羊角　川連　茯神　生草　桑枝葉　半夏　枳實　洋參　刺蒺藜　廣皮　白芍　黑山梔　竹二青</p>
<p>魏　肝火不平，挾衝任之血上升為衄，脈象弦數，色黃內熱。當用清火泄木之法。</p>
<p>全當歸　川楝子　黑山梔　白薇　牛膝炭（蘇木五錢炒）　茺蔚子　紫丹參　白芍　延胡</p>
<p>許　營陰虧耗，木火易浮，近因哀感過度，肝氣上逆，肺氣不降，每晚內熱盜汗，肝陰傷而肝陽越也。咳嗆不止，氣從左脅上升，逆於胸臆，正屬木火刑金之候。陰愈弱則熱愈熾，金愈弱則木愈強，勢必金枯陰涸，肝肺兩損。調治之道，不外養陰清熱，肅肺柔肝。務須舒懷調攝，乃能退出損途。</p>
<p>鮮南沙參　生地　麥冬　川貝母　白薇　旋覆花（歸鬚一錢同包）　白芍　牡蠣　苡仁　桑白皮　洋參　蛤殼　丹皮　鬱金　枇杷葉　竹茹</p>
<p>金　痛由左脅及脘，掣及胸背，上引太陽。脈弦細右浮，餘邪內伏，肝火上浮。當蠲飲泄木，兩法並用。</p>
<p>半夏　桂枝　蒺藜　瓦楞子　茯苓　川連　青廣皮　淡乾薑　鬱金　菊花炭　佛手　竹二青</p>
<p>徐　當脘脹痛，不能納穀，木陷於脾。防其漸成脹病。</p>
<p>白芍（錢半）　枳實（三錢）　木香（八分）　六曲（二錢）　通草（六分）　茯苓皮（三錢）　川樸（八分）　鬱金（錢半）　青皮（錢半）　麥芽（三錢）　佛手（三錢）</p>
<p>範　脾虛濕鬱，面色黃浮。近感新邪，兼增寒熱，脈細澀不暢，苔晦。當與和中泄濁。</p>
<p>桂枝（四分）　淡芩（錢半）　檳榔（一錢）　雞內金（二錢）　姜（二片）　柴胡（八分）　川樸（一分）　通草（六分）　茯苓皮（三錢）　白朮（三錢）　神麯（三錢）　茅根（五錢）　青廣皮（各錢半）</p>

<h2>嘔門</h2>
<p>病因痰飲內聚，胃氣不得舒降，木氣為濕土所郁，漸至化風生火。其嘔吐痰沫、大便溏閉不時、氣逆頭痛諸病，概由乎此。左脈弦細而數，右寸關浮搏而數，肺胃之氣，為木火所沖激，不特上逆為嘔，抑且掣及經絡。兼以陰虛之質，木火易燃，故有內熱口渴之證。溫中蠲飲，自屬正治。但於陰虛肝熱者，恐有劫陰之弊。擬仿喻氏關格治例，肝胃兩調，寒熱互用，冀得通降為吉。</p>
<p>細川連（吳萸一分炒）　乾薑　淡芩　桂枝　洋參　白芍　金鈴子　瓦楞子　半夏　枳實　茯苓　姜皮　竹茹</p>
<p>濁飲內蓄，嘔吐酸濁，甚則吐水黃色，飲久成癖，木鬱生火，當溫中疏木，通導濁積，俾得下行為順。</p>
<p>乾薑　半夏　廣皮　茯苓　苡仁　白芥子　枳實　桃仁　於術　秦艽　雞距子　生甘草</p>
<p>另：控涎丹每服一錢七分，開水送下。</p>
<p>濁陰夾木火，鬱而上逆，在胃為嘔，在肺為咳。病歷年餘，痰黏內熱，濁蘊陰傷，不堪燥劑。姑與清肝泄濁，肅降肺金。</p>
<p>茵陳　苡仁　旋覆花　半夏　茯苓　黑山梔　川連　杏仁　冬瓜仁　海浮石　瓦楞子　枇杷葉</p>
<p>脘塊撐痛，上嘔下瀉，糞色瘀黑，嘔吐痰涎，舌苔晦白，中氣虛寒，而煩躁絞疼，肝木鬱化為火，又非純用溫燥所宜，此病所以難治也。姑兩和之。</p>
<p>細川連（乾薑三分，炒）　半夏　金鈴子　川鬱金　小青皮　枳實　黑梔皮　烏梅炭　瓦楞子　白芍　桂枝　蘇葉　石菖蒲　竹二青</p>
<p>再診　絞嘔未止，木火挾痰濁蒙擾不降。仍宜苦辛疏化。</p>
<p>細川連　淡乾薑　姜半夏　廣皮　茯苓　黑山梔　白芍　石決明　烏梅炭　金鈴子肉　延胡　丹參　竹二青</p>

<h2>噯噦門</h2>
<p>噯噦不止，起於病後，此肺胃之氣為痰濁所阻，升降不得自如。仿仲景噯氣例治之。</p>
<p>旋覆花　代赭石　黨參　炙草　半夏　白蔻仁　細川連（乾薑二分拌炒）　杏仁　枳殼　竹二青</p>
<p>再診　噯噦減而未止，胃氣內虛，失靜鎮之常，不能勝風木之沖激。仍仿噫氣例，增入培土之意。</p>
<p>黨參　炙草　茯苓　廣皮　半夏　蔻仁　沉香　旋覆花　代赭石　桂丁子（沖）　枇杷葉</p>
<p>噯噦硬噎，納穀撐脹，右脈弦硬，肝胃氣鬱，逆而不降。</p>
<p>旋覆花　代赭石　鬱金　枳殼　半夏　廣皮　瓜蔞皮　前胡　蔻仁　蘇梗　枇杷葉</p>
<p>噦氣衝逆，喉間如炙臠，木氣鬱結，阻於肺部。當泄木降肺法治之。</p>
<p>旋覆花　代赭石　鬱金　丹參　川樸　枳殼　杏仁　川百合　瓜蔞皮　蘇梗　佛手　枇杷葉</p>
<p>木火較平，而氣阻不暢，脘復升逆，上窒於喉，病與梅核氣相似。用清火降氣法。</p>
<p>旋覆花　鬱金　青皮　黑梔（薑汁炒）　蘇梗　瓦楞子（鹽水煅）　枳實　半夏　橘絡　杏仁　前胡　蔞皮　枇杷葉　竹茹</p>
<p>再診　核阻雖通，而氣未暢，近增寒熱，脘悶，時邪挾發於中焦。仍當疏氣和中為主。</p>
<p>豆豉卷　黑梔　蘇葉　淡芩　苓皮　枳殼　杏仁　鬱金　橘絡　通草　香櫞皮　竹二青。</p>
<p>肝氣上逆，肺氣不降，胃氣被其搏激，失其通降之常。噯噦不已，納穀哽噎，脈形滑而神不爽，前醫謂痰氣相搏，信然。但治痰必先理氣。擬與通降肺胃，佐以疏肝化痰。</p>
<p>旋覆花　薤白　鬱金　蔞皮　枳殼　法半夏　橘紅　象貝　前胡　川百合　竹茹　枇杷葉</p>
<p>另：桂丁香（三分）　白蔻仁（三分）　研末沖服</p>

<h2>噎膈門</h2>
<p>木鬱傷胃，胃氣不得通降，痰瘀交阻，為噎為膈，氣短便堅，咽喉鯁痛，膈症已成。調復不易。</p>
<p>白芍　川連（吳萸炒）　乾薑　半夏　淡芩　瓦楞子殼　桃　杏仁　丹參　歸尾　鬱金　紫菀　旋覆花　代赭石　竹二青</p>
<p>肝胃不和之病，久則胃氣空虛，痰濁內阻，谷納脹悶作嘔，不得下降，大便堅少，漸有膈證之象。兼以肝氣竄入絡脈，腰腹撐痛，氣病及血，癸水不調。當與通降胃氣為主，而和營泄肝，則兼顧及之。</p>
<p>桂枝　乾薑　半夏　茯苓　白芍　川連（吳萸三分煎汁拌炒）　青皮　枳實　金鈴子肉　延胡　丹參　旋覆花　烏梅炭　竹二青</p>
<p>再診　脾為木克則脹滿，胃為木克則痛嘔，理固然也。此病谷納痛悶，欲嘔不得，大解旬日不行，胸膈氣窒不快，胃氣為肝木所激，失順降之常，因之痰濁上阻，中陽痞塞，大有延成膈證之勢。前方用苦辛溫降，似亦偏燥。茲擬專以泄木清胃為法。望其腑氣下行，則上中得以疏暢矣。</p>
<p>川石斛　枳實　半夏　洋參　橘紅　白茯苓　青皮　白芍　川連（吳萸炒）　瓜蔞皮　干薤白　竹茹　檀降香　香櫞皮</p>
<p>三診　大便通降，胃氣得以下行，故納穀漸增。脈象左弱右弦，腹中撐痛，頭眩耳鳴，癸水愆期，此皆肝氣不和，氣病則營窒，而化火生風，一切肝木之病，連類而起。治法當疏肝暢營為主。</p>
<p>歸鬚　白芍　丹參　丹皮　川楝子　瓦楞子　延胡　青皮　刺蒺藜　甘菊花　橘絡　橘核　烏藥　檀降香</p>
<p>納穀脹悶，胃為痰氣所阻，不得舒降，病久液枯，便難舌燥，已成關格之候。用喻氏黃連合大半夏法。</p>
<p>川連　淡芩　乾薑　洋參　半夏　生草　青皮　白芍（桂枝三分炒）　蔞皮　枳實　白蜜（沖）　竹茹　香櫞</p>
<p>脘痛當心，甚則肢厥，嘔水不能安穀，大便艱澀。始由肝氣不和，久而氣瘀交阻，脈象弦細而數，舌色偏紅，木火內燃，胃陰漸涸，已屬關格重候。姑與泄肝養胃，疏暢氣瘀，然必寬懷調理，方能奏效。</p>
<p>旋覆花　代赭石　瓦楞子　川連（吳萸三分炒）　烏梅炭　鬱金　歸鬚　丹參　桃杏仁　紫菀　金石斛　白芍　乳香　橘葉　竹二青</p>
<p>方按：此等病，余常用龍薈丸直泄肝經氣火，屢得效驗。</p>
<p>痛嘔較減，但木火久逆，胃中氣液兩傷，而痰瘀所阻，未必遽能疏化。脈弦軟無力，不能安寐。仍從胃腑清養疏降，佐以和肝。</p>
<p>洋參　金石斛　丹參　半夏　廣皮　黑梔仁　茯神　枳實　金鈴子　延胡　左金丸　白芍　川百合　香櫞　竹茹</p>
<p>脘中痛脹，朝食暮吐，兼帶酸濁，脈象弦數，四末不溫，木火內燃，中陽不運。由肝氣而成反胃，正屬難治。姑仿喻氏關格治法。</p>
<p>淡乾薑　白芍（桂枝四分炒）　川連（吳萸一分半炒）　半夏　瓦楞子　川楝子　川鬱金　烏梅炭　青皮　雞內金　檀降香　竹茹</p>
<p>肝木逆犯肺金，氣嗆哽噎，發則呵欠氣厥，病由痰氣上阻。法當疏降。</p>
<p>旋覆花　瓦楞子　鬱金　蘇梗　鹽半夏　橘紅　枳殼　川貝　前胡　桑皮　枇杷葉　沉香　烏藥二味磨沖</p>
<p>脹痛嘔惡，不能納穀，病由肝木犯胃，胃氣不得舒降，將成枯膈之候。</p>
<p>北沙參　川連　乾薑　瓦楞子　青皮　白芍　木瓜　半夏　廣皮　鬱金　枳實　茯苓　竹茹　香櫞</p>

<h2>痹門</h2>
<p>胸氣痹窒，上迫於肺。脈象左虛右弦，舌苔黃膩，雖屬宿病，而兼挾新邪。以疏降肺氣為主。</p>
<p>干薤白　瓜蔞皮　旋覆花　鬱金　杏仁　前胡　鹽半夏　枳殼　紫菀　通草　枇杷葉</p>
<p>方按：合參案方，大約有咳嗽等見證。</p>
<p>當胸氣窒，狀如胸痹，此由肝氣逆行肺絡，不能清降。脈象弦數，木鬱生火也。仿《金匱》法，佐以清肝。</p>
<p>旋覆花　薤白　蔞皮　鬱金　前胡　川貝　黑梔仁　丹皮　歸鬚　橘絡　瓦楞子　竹茹　枇杷葉</p>
<p>痰氣阻結，清陽被郁，脈數舌黃，兼有濁熱蒙擾。當宣痹泄濁。</p>
<p>旋覆花　薤白頭　瓜蔞皮　鬱金　前胡　杏仁　香豉　射干　枳殼　橘紅　蔻仁　通草　枇杷葉</p>
<p>方按：既有濁熱，宜加山梔。</p>
<p>痰氣阻於上焦，木火內閉，不得疏泄，上則暈眩氣噎，下則夢遺精濁。肺俞獨冷，痰阻而陽氣不通也。法當化痰暢氣，泄木清火。</p>
<p>旋覆花　鹽半夏　橘紅　桂枝　白芍　於術　茯苓　茯神　川柏　砂仁　牡蠣　竹茹　生薑</p>
<p>再診　木火為痰氣所阻，不得疏越，背惡寒而胸氣窒。再與通陽泄濁，肅肺暢氣。</p>
<p>旋覆花　薤白　鬱金　前胡　全瓜蔞　鹽半夏　桂枝　於術　茯苓　苡仁　枳殼　生薑　竹茹</p>

<h2>臌脹門</h2>
<p>脘腹脹滿，半載於茲。據述其來無因，而亦無苦。脈象弦細滑數，舌苔白膩，想由寒濕內著，肝脾之氣窒而不化，痰涎濁沫隨氣而結，病情與單腹無異。擬方用溫化法，疏運肝脾，俾濁陰之氣得以疏達乃松。</p>
<p>野於術（炒鬆，一錢）　山茅朮（生切，一錢）　淡乾薑（鹽水炒，五分）　廣皮（一錢五分）　制附片（八分）　法半夏（一錢五分）　茯苓皮（四錢）　澤瀉（一錢半）　潞黨參（炒鬆，二錢）　青皮（醋炒，一錢半）　廣木香（七分）　香櫞皮（錢半）</p>
<p>另：禹餘糧丸三錢　廣皮湯下。</p>
<p>方按：細繹病情，徹底澄清，用藥亦虛實兼到，切實不浮。然據此脈象，是氣陰兩傷所致，非必定有濁熱，先生之用姜附，是從證不從脈也。</p>
<p>肝氣鬱陷，發熱甚於兩足，此即邪鬱於厥陰之兆。其外達也，不能從經絡疏透，而又內陷於脾，挾時令之暑濕，泄瀉數日，轉為腹脹，脹勢甚於少腹，兩便通而不爽，仍屬木陷土鬱之象。惟脈象軟細而不弦，舌色乾紅而少潤，氣液兩虧，藥難著手。姑擬肝脾兩疏，錄方於後。擬方用四逆散合雞金胃苓之意。</p>
<p>細柴胡（醋炙，六分）　白芍（土炒，二錢）　枳實（薑汁炒，八分）　炙雞金（一錢半）　奎砂仁（八分）　連皮苓（四錢）　本山術（一錢）　川樸（八分）　青皮（一錢半）　烏藥（一錢）　青廣木香（各五分）　沉香（磨沖，四分）　香櫞皮（一錢）</p>
<p>另：小溫中丸（三錢）　禹餘糧丸（二錢）</p>
<p>肝氣撐痛，甚則肢冷發厥，木陷於脾，脘腹僵硬，兼挾濁積內阻，有單腹之慮。姑與疏肝和脾，佐以溫化。</p>
<p>金鈴子肉（酒炒，二錢）　延胡（醋炒，一錢半）　青皮（醋炒，一錢半）　廣木香（七分）　雞內金（一錢半）　楂炭（三錢）　川樸（一錢）　砂仁（研，八分）　萊菔子炭（三錢）　茯苓皮（四錢）　白芍（土炒，一錢半）　香櫞（一錢半）</p>
<p>另：禹餘糧丸（二錢）</p>
<p>當脘脹滿，不能納穀，木陷於脾，防其漸成脹病。</p>
<p>白芍　青皮　鬱金　木香　川樸　茯苓皮　枳實　降香　麥芽　六曲　通草　佛手</p>
<p>熱病後餘熱未清，因氣機不暢，肝胃不和，脹悶不能納穀，舌色不營，肝脾兩窒，久延恐成虛脹。</p>
<p>白芍　青皮　沉香曲　雞內金　枳殼　紫蘇細梗　青蒿　丹皮　白薇　川石斛　歸身　香櫞</p>
<p>脾胃之氣，窒而不行，濁氣上升，肺氣不降，喘逆腹脹，不能納穀。當與和中為主，佐以疏肝肅肺。</p>
<p>沉香曲　枳殼　半夏　砂仁　金鈴子肉　延胡　青皮　白芍　旋覆花　通草　香櫞皮</p>
<p>另：小溫中丸，每服三錢。</p>
<p>肝脾積熱，氣血兩窒，脘腹脹滿，時吐清水，漸至脹及少腹，經水亦停。脈象澀數不暢，病因肝木犯土而起。當舒懷調治，乃得全愈。</p>
<p>細川連（吳萸二分煎汁炒，四分）　東白芍（土炒，一錢半）　小青皮（醋炒，一錢）　大川芎炭（八分）　淡乾薑（五分）　川樸（一錢）　製半夏（一錢半）　廣陳皮（一錢）　茯苓皮（四錢）　大腹皮（二錢）　沉香片（八分）　香櫞皮（一錢）</p>
<p>另：小溫中丸每服（三錢）　廣皮湯下</p>
<p>方按：用川芎一味疏動其營血，甚妙。</p>
<p>肝木內犯，塊痛撐脹，恐其土被木賊，漸致中滿。擬方泄木調氣。</p>
<p>金鈴子（一錢半）　延胡（醋炒，一錢半）　青皮（醋炒，一錢半）　廣木香（七分）　上沉香（七分）　奎砂仁（研，八分）　雞內金（炙，一錢半）　楂炭（三錢）　廣鬱金（一錢）　九香蟲（一錢）</p>
<p>另：加味左金丸每服三錢，佛手湯送下</p>
<p>腹脹復發，當脘塊撐，納穀愈甚，肝木犯脾，脾氣不能輸運也。濁蘊氣阻，法當疏肝運脾。</p>
<p>白芍　青皮　香附　金鈴子　延胡　黑山梔（薑汁炒）　川樸　廣皮　茯苓皮　木香　砂仁　陳香櫞</p>
<p>另：小溫中丸每服一錢半</p>
<p>土虛木乘，左脅撐脹，脈細弱舌白，中陽不能鼓運，氣阻痰凝，最易陷成單脹。用溫中泄木法。</p>
<p>金鈴子　延胡　青皮　桂枝　白芍　吳萸（川連三分煎汁炒）　木瓜　廣皮　茯苓皮　於術　砂仁　香櫞</p>
<p>方按：宜加川樸。</p>
<p>肝木侮中，撐痛脹悶，脈象細軟而弦，舌苔黃濁，濁壅氣阻，恐延腹脹之候。擬用泄木和中，調氣泄濁之法。</p>
<p>川楝子　延胡　青皮　白芍　木瓜　川連（乾薑二分炒）　小川樸　廣皮　茯苓皮　砂仁　焦六曲　枳實　香櫞</p>
<p>咯紅雖止，而脘脹不減，不能納穀。脈象軟細不暢，肝脾之氣，阻窒不化。法與疏木和中。老年病久，不易奏效。</p>
<p>白芍　青廣皮　雞內金　砂仁　六曲　枳實　大腹皮　茯苓皮　通草　香櫞皮</p>
<p>另：小溫中丸，每服三錢，廣皮湯下。</p>
<p>脹減而仍作痛，脾氣未能舒調也。近日形寒晚熱少汗，脈形虛數，肝脾陰氣內虧，姑與和中法。</p>
<p>歸身　白芍　丹皮　青蒿　白薇　蛤殼　川貝　雞內金　廣皮　木香　砂仁　香櫞</p>
<p>再診　中焦脾胃之氣，必藉木氣以鼓運，甲木不得疏達，有陷於中土，而為脹為痛。其寒熱往來，亦屬少陽不和之證。刻下寒熱雖止，而木土未和，腹中尚痛，況內熱唇乾，中焦積熱留戀。尚宜疏木和中，清泄裡熱。</p>
<p>霍石斛　銀柴胡　連翹殼　淡芩　枳實　白芍　小青皮　炙雞金　茯苓皮　木香　砂仁　神麯　通草　穀麥芽　乾荷葉</p>
<p>肝脾相忤，痛減而脹增，向晚更甚，中陽困敗，濁氣壅阻，恐其延成單腹。姑與泄木和中。</p>
<p>白芍　青皮　蘇梗　木香　砂仁　雞內金　腹皮　六曲　杏仁　前胡　橘紅　香櫞皮</p>
<p>另：小溫中丸，每服三錢，開水下。</p>
<p>脘右結痞，納穀則臍下作脹，左脈微弦，右脈細弱，舌苔濁膩，病因肝氣下陷，脾氣不能輸運，濁積停阻，將成腹脹之候。</p>
<p>金鈴子　延胡　柴胡　青皮　廣皮　川厚朴　神麯　砂仁　苡米　赤苓　通草　香櫞皮</p>
<p>方按：宜加枳實以泄濁。</p>
<p>病後氣機不化，肢面浮腫，而脘腹脹甚，脈象細澀不暢。當通降脾肺，疏泄肝木。</p>
<p>豆卷　杏仁　蘇梗　木香　雞金　鬱金　青皮　腹皮　苓皮　冬瓜皮　沉香曲　香櫞皮</p>
<p>筋青臍突，脹勢已深，且自下而上，病關肝腎，尤為重候。姑與溫中暢氣，冀其稍松而已。</p>
<p>茯苓皮　青廣皮　桑白皮　瓜蔞皮　桂心（去皮研末作丸吞服）　豬苓　澤瀉　雞金　砂仁　木香　平胃散（絹包入煎）　香櫞皮</p>
<p>另：小溫中丸，每服三錢，廣皮湯送下。</p>
<p>腹脹筋青，脈弦細而數，脅左結瘕，病由肝木鬱陷，脾氣阻結，而濕鬱化熱，木鬱化火，阻窒不達，中陽抑遏不暢，雖在髫年，而病挾情志，調治頗非易易。擬疏木和中法。</p>
<p>川楝子　延胡　青廣皮　左金丸　桂枝　白芍　雞金　苓皮　黑梔（薑汁炒）</p>
<p>另：小溫中丸。</p>
<p>再診　前與疏木清濕，腹脹減而復作，脈象虛弦無力。此由中氣受傷，脾土無自立之權，故病勢旋平旋發。擬於前法中參用培益中陽之品，標本兼治，庶幾漸瘳。</p>
<p>生於術　炮乾薑　桂枝　白芍　左金丸　青皮　川楝子　川鬱金（醋炒）　黑梔　木香　桑白皮　廣皮　茯苓皮　通草　竹二青　香櫞</p>
<p>三診　腹脹漸平，但肝脾以久病而損，肝傷則生氣被困，脾傷則健運不及。疏肝運脾，疏補兼用，為善後之計。</p>
<p>生於術　炮乾薑　桂枝　白芍　細川連（吳萸二分同炒）　青皮　雞內金　廣木香　砂仁　神麯　車前子　杏仁　枳實　淡芩</p>
<p>肝木傷脾，復挾濕濁阻結不化，腹脹硬腫，及於四肢，有脹甚為鼓之慮。</p>
<p>半夏　廣皮　茯苓皮　金鈴子　延胡　萊菔子　青皮　白芍　沉香曲　木香　佛手</p>
<p>另：小溫中丸，每服三錢，開水送下。</p>
<p>木鬱傷脾，脘腹臌脹，氣逆自促，不能納穀，臟氣窒而不通，此屬氣臌重症。</p>
<p>金鈴子　青皮　白芍　川鬱金　香附　蘇子梗　青廣木香　沉香　旋覆花　前胡　香櫞</p>
<p>另：小溫中丸。</p>
<p>瘧邪內陷，邪積交阻，致周身腫脹，咳逆氣喘，由脾土傷及肺金，病經數月，邪實正虛，此瘧鼓中難治之證。</p>
<p>茯苓皮　大腹皮　桑白皮　青廣皮　瓜蔞皮　雞內金　萊菔子　白芥子　桂枝　杏仁　通草　冬瓜皮　枇杷葉　姜皮</p>
<p>另：小溫中丸。</p>
<p>腹脹如鼓，小水不利，似屬濕熱為病。但脈象左關不和，右手按之弦而數硬，曾經吐瘀便黑，脹勢稍減仍增。此由肝氣內郁，氣聚則血凝，復挾木邪乘土，脾傷濕壅，與痹病濕熱者不同。所慮臟氣內窒，難必其行動有權耳。</p>
<p>延胡　青皮　桃仁　歸鬚　苓皮　廣皮　木香　枳實　黑梔　通草</p>
<p>另：小溫中丸二錢，開水送下。</p>
<p>西珀屑（三分）　錦紋大黃（合紅花酒製，八分為末）　廣皮湯下</p>
<p>經阻數年，漸覺腹脹如鼓，脈象細而數，營氣內窒，肝陽浮越，此屬瘀脹重證。</p>
<p>延胡　青皮　歸尾　桃仁　丹參　香附　楂炭　平胃散　大腹皮　炒枳實　奎砂仁　石決明　木蝴蝶　香櫞皮</p>
<p>再診　腹脹膚錯，屬瘀脹重證，病歷數年，根底已深，不敢遽投攻泄。於暢營中佐以和氣，亦血病治氣之旨。</p>
<p>歸尾　桃仁　丹皮　丹參　細生地（紅花三分炒）　生草　延胡　香附　木香　桂枝　廣皮　益母草</p>
<p>另：婦科回生丹（一粒，藥汁化服）</p>
<p>瘀血嘔而未盡，轉見腹大筋青，納穀作脹，左關弦數而硬，營氣久窒，不得通調，病屬血臌重症。姑與暢肝疏瘀。</p>
<p>丹參　延胡　桃仁　歸尾　香附　青皮　木香　蘇梗　長牛膝　九香蟲　紅花　炙乳沒　參三七（磨沖）　香櫞</p>
<p>再診　前與暢肝疏瘀，大解頻見紫黑，漸得脈軟脹松，於病情尚有轉機，但瘀未全化，即病根未動。仍以前方增損。</p>
<p>全當歸　白芍　澤蘭　延胡　丹參　桃仁　香附　青皮　木香　楂炭（砂糖拌炒）　長牛膝（紅花三分，煎汁炒）　參三七　香櫞皮</p>
<p>中氣虛疲，脾陽不運，神色不榮，嘔脹遺溲。此屬本原不足，兼受濕邪之象。調治甚難奏效。</p>
<p>於術　茯苓　半夏　廣皮　木香　砂仁　苡仁　白芍（桂枝三分炒）　乾薑　益智仁　蓮子　生薑</p>
<p>再診　濕邪漸化，但脾氣疲乏已甚，納穀作脹。法當以溫中疏化為主。</p>
<p>於術　茯苓　川樸　砂仁　雞內金　炮姜　六曲　淡芩　豆卷　通草　香稻葉</p>
<p>三診　濕邪漸化，故舌濁漸退，但足膝無力，脾氣不運，納穀作脹悶。仍當疏運中氣。</p>
<p>苓皮　腹皮　白芍　砂仁　枳實　淡芩　豆卷　六曲　橘白　苡仁　通草　香稻葉</p>

<h2>腫門</h2>
<p>膚腫無汗，風水相搏，表氣不通。當用前人開鬼門法。以理脾肺。</p>
<p>蜜炙麻黃（四分）　白杏仁（三錢）　紫蘇葉（一錢半）　大豆卷（四錢）　廣皮（一錢半）　漢防己（一錢半）　大腹皮（二錢）　茯苓皮（四錢）　小青皮（一錢）　桑白皮（一錢半）　川通草　冬瓜皮（六錢）　姜皮（三分）</p>
<p>周身膚腫，起於瘧後，數月不愈。脈象右寸關浮數而硬，此肺脾兩經之氣，失於舒運所致。用五苓五皮合香蘇法。</p>
<p>茯苓皮　青廣皮　桑白皮　川桂枝　野於術　澤瀉　豬苓　香附　蘇葉　杏仁　通草　冬瓜皮　姜皮</p>
<p>再診　膚腫得退。惟病起瘧後，脾氣先虛。法當健脾疏運。</p>
<p>野於術　炙雞金　東白芍　川桂枝　淮山藥　廣皮　茯苓皮　豬苓　澤瀉　桑白皮　通草　砂仁　冬瓜皮　姜皮</p>
<p>濁熱蒸郁，脾病及肺，咳痰帶紅，氣逆、面浮、肢腫，脈象細數。當肺脾兩調，而以清降為主。</p>
<p>茯苓皮　大腹皮　廣陳皮　桑白皮　瓜蔞皮　冬瓜皮　砂仁　神麯　蘇子　杏仁　旋覆花　茅根肉　枇杷葉　鮮藕</p>
<p>兩足浮腫，膚裂出水，經絡中所蘊之痰濕，盡注於下，橫決而出，於病機尚屬通順。惟小溲短少，腎與膀胱氣化不旺，不能通調水道，致三焦失決瀆之司，而水濕之邪，因之壅溢。《金匱·痰飲門》中以五苓散與腎氣丸並列，一以治膀胱，一以治腎，虛實兼到矣。痰氣上逆，行動則喘逆愈甚，亦屬飲邪內阻，腎氣不能攝納所致。其上下脾肺之氣，亦因濕阻而不能通運，故納食之後，必捶背數通，乃得舒降也。擬用五苓合五皮法。</p>
<p>野於術　茯苓皮　澤瀉　桂枝　半夏　冬瓜皮　廣皮　桑白皮　淮牛膝　砂仁　牡蠣　銀杏肉　五味（乾薑三分同打，蜜拌炙黑）　通草</p>
<p>另：金匱腎氣丸，每服三錢，臨臥開水下。</p>
<p>再診　腫勢趨於兩足，水流不止，周身痰濕均藉此為出路，本無止澀之理，亦無止澀之法。惟脾腎兩虧，腎陽虧，不能蒸化水濕，小便因之不利；脾陽虧，中氣則隨濕下陷，跗腫因之不消；權衡於邪正之間，不患痰濕之不去，而慮正氣之不支。固本之道，不外溫腎培脾。仍擬用腎氣丸，日服三錢。培脾之法，另方附後。</p>
<p>潞黨參　野於術　茯苓皮　炙甘草　鹽半夏　廣皮　淡乾薑（川連二分炒）　五味　桂枝　牡蠣　車前子　生熟苡仁　銀杏肉　胡桃肉</p>
<p>脾虛濕鬱，中氣不運，浮腫自足而起，上及首腹，於法為逆。當與溫中泄脾，俾氣機得暢為佳。</p>
<p>桂枝　白朮　苓皮　青廣皮　桑白皮　大腹皮　雞內金　奎砂仁　神麯　車前子　澤瀉　杏仁　冬瓜皮　姜皮</p>
<p>再診　腫由足起，本屬重證。中焦濕鬱化熱，而小溲不黃，熱蘊於裡，不得宣達。先與疏泄。</p>
<p>茵陳　黑山梔　豆卷　連翹殼　茯苓皮　白朮　腹絨　雞內金　神麯　砂仁　澤瀉　黃柏　冬瓜皮　姜皮</p>
<p>腫病自足而起，濁氣不降，上逆於肺。病起於陰，所謂下行極而上，腫病中最重之證。姑與疏降溫攝。</p>
<p>桑白皮　蘇子　紫菀　製半夏　麥冬　白芍　茯苓皮　枳實　沉香　金匱腎氣丸（四錢，入煎）</p>
<p>氣血兩窒，周身浮腫，病起產後，已歷兩年，脈虛少納，內熱無汗，勢必陷成腫滿。姑與和中法。</p>
<p>於術　桂枝　歸鬚　川芎　香附　蘇梗　桑皮　雞內金　廣皮　砂仁　木香　香櫞皮　枇杷葉</p>
<p>中氣不化，濁邪下注，腫從足跗而起，上延脘腹，脈弦數，舌光白。宜和氣泄濁。</p>
<p>白朮　川樸　苓皮　廣皮　大腹皮　枳殼　桔梗　藿梗　神麯　生草　冬瓜皮　香櫞皮　荷葉</p>
<p>另：保和丸，每服三錢。</p>
<p>面浮略退，中氣失於調暢，脈象左軟右弦，濕邪留滯。仍當疏暢。</p>
<p>白芍　桂枝　於術　茯苓皮　大腹皮　桑白皮　廣皮　雞內金　神麯　廣木香　焦穀麥芽　冬瓜皮　荷葉</p>
<p>崩漏之後，轉為膚腫。四肢膺乳脹及脾肺之分，氣升息喘，不得平臥，血病而及於氣，下病而及於上，在病機中屬最重之候。天氣暑炎，經來如黃水，脾土漸壞，先與清調。</p>
<p>全當歸　丹參　鬱金　野於術　茯苓皮　大腹皮　桑白皮　瓜蔞皮　杏仁　象貝　苡仁　川通草　枇杷葉　香櫞皮</p>
<p>再診　膚腫或減或劇，甚則撐及胸乳。肝木陷於脾中，脾土漸傷，病及肺金，氣機升逆。當與疏化。</p>
<p>茯苓皮　桑白皮　大腹皮　青廣皮　瓜蔞皮　蘇子葉　丹參　香附　橘核　雞內金　冬瓜皮　枇杷葉　姜皮</p>
<p>陰經為寒濕所附，由跗腫而上及腿腹，脈象細數不鼓。病底頗深，經氣不旺，調治非易。先擬培土溫經之法。</p>
<p>野於術　桂枝　茯苓皮　淮牛膝（製附子三分煎炒）　椒目　獨活　防己　全當歸　苡仁　砂仁　通草　桑枝</p>
<p>膚脹屬乎脾肺，而此證氣由上逆，撐及頸項，墳起有形，納穀脹悶。病因肝氣上逆，肺胃不得舒降，與尋常浮腫不同。用疏肝降氣法。</p>
<p>白芍　木瓜　白芥子　象貝　旋覆花　沉香　杏仁　鬱金　蘇子梗　青皮　桑白皮　瓜蔞皮　橘絡　黑山梔　竹二青　香櫞</p>
<p>再診　上部氣機略鬆，水濕注陷於下，少腹兩足腫甚，而陽氣不化。法當溫通。</p>
<p>桂枝　椒目　苓皮　澤瀉　於術　杏仁　青皮　大腹皮　豬苓　砂仁　蘇葉　金鈴子　通草　姜皮</p>

<h2>瘕癖門</h2>
<p>邪結於厥陰之絡，寒熱經久，左脅瘕撐作脹，病歸陰絡，一時不易清徹，況營瘀氣阻，木土相仇，慮其漸成瘕脹。</p>
<p>歸尾　川芎炭　赤白芍　川楝子　延胡　沉香曲　瓦楞子　青蒿　生鱉甲　丹皮　丹參　白薇　香櫞　茅根</p>
<p>另：鱉甲煎丸，每服十粒，黃酒送下</p>
<p>腹塊撐痛，將及半載，病引經絡，氣窒血阻。凡瘕痛歷久化熱，亦能壅而成膿，脈象細數，形寒內熱，痛處著於左旁。擬與暢氣通瘀，疏調營絡，取通則不痛之意。</p>
<p>歸尾　赤芍　桃仁　金鈴子　延胡　香附　橘絡　桂枝　蘇梗　丹皮　紅花　乳香　降香　絲瓜絡</p>
<p>脘右瘕撐作痛，宿病劇發，脈弦而遲。法當溫通氣分，佐以泄降。</p>
<p>半夏　杏仁　鬱金　桂枝　白芍　歸鬚　蘇梗　金鈴子　吳萸（川連炒）　枳實　通草　佛手</p>
<p>再診　瘕疼略減，而足熱頭暈，中虛而木火浮注之象。脈象仍覺弦遲，用建中泄木法。</p>
<p>白芍（桂枝四分炒）　茯苓　半夏　生草　刺蒺藜　石決明　甘菊　青皮　丹皮炭　牛膝炭　竹二青</p>
<p>三診　足熱頭暈，木火上浮下注，雖瘕疼較減，而中氣仍復虛窒。建中泄木，是一定治法。</p>
<p>白芍　生草　歸身　丹皮　白薇　鬱金　青皮　石決明　穭豆衣　甘菊　茯神　竹茹　佛手</p>
<p>脘右瘕聚，即屬肝氣內結之病。木鬱化火，則為熱汗，脾土受克，則為脹悶。其內熱帶下，腰痛諸證，脾營虛陷所致。刻下先擬疏肝和脾，俟脹痛稍松，再圖治本。</p>
<p>白芍（吳萸二分炒）　川鬱金　丹參　全當歸　刺蒺藜　香附　木香　砂仁　雞內金　青皮　菟絲子　木蝴蝶</p>
<p>土木相忤，少腹瘕痛，上及於脘，更兼帶下淋瀝，腰脊痠痛，小便艱澀。脾腎交虧，濕熱乘虛下陷，病情紛錯。先宜和肝運脾，疏利濕濁。</p>
<p>川楝子　延胡　歸鬚　白芍　橘核　丹皮　黑山梔　茯苓　川柏　砂仁　木香　牛膝（吳黃三分炒）　杜仲　陳香櫞皮　瓦楞子殼</p>
<p>再診　瘕痛稍緩，但帶下尤甚。先期鼻衄，脾虛氣陷，濕熱下注於奇經，土敗木鬱，肝火上浮，血從清道而溢。又當兼清木火。</p>
<p>生地炭　歸身炭　白芍　青皮　丹皮　川鬱金　黑山梔　於術　砂仁　川柏　牡蠣　穭豆衣　橘核　橘葉　竹二青</p>
<p>院中瘕痞，攻衝作脹，脈象弦長而數，病由肝木乘土而起，胃虛則汗出頭暈，此木火化風也。於泄木中當兼培土。</p>
<p>白芍　青皮　木瓜　沉香曲　木香　枳殼　半夏　於術　川石斛　麥冬　香櫞皮</p>
<p>方按：宜加牡蠣。</p>
<p>張　脘左痞結，數年不消，發則寒熱痛脹，不納不飢。脈象浮弦搏指，不耐重按，中陽已耗，不堪攻伐。姑與疏中化氣法。</p>
<p>青皮　橘核　川楝子　川芎　通草　廣鬱金　川樸　蘇梗　楂炭　白芍　瓦楞子　半夏　香櫞</p>
<p>再診　脈象浮搏較和，痞痛較減。惟宿瘕不化，中氣久傷，不堪攻伐。再與兩和肝脾法，漸漸疏化。</p>
<p>川桂枝　青皮　蘇梗　橘核　白芍　瓦楞子　川樸　黑山梔　川鬱金　蔻仁　白芥子　佛手</p>
<p>某　脘右瘕痞不化，舌紅脈虛數。氣病久結，陰液漸傷，正氣漸削，未便攻伐。姑與暢氣調營，勉期松展。</p>
<p>白芍　鬱金　香附　通草　枳殼　紫丹參　大腹絨　北沙參　橘絡　歸鬚　木香　橘核</p>
<p>再診　胃氣略醒，精神稍振，但脈仍虛，而脘中瘕結不化，勢難攻消。姑先養胃暢氣，以扶正為主。</p>
<p>太子參　歸鬚　麥冬　鬱金　半夏　橘絡　白芍　石斛　瓦楞子　枳殼　青皮</p>
<p>某　肝木不調，左腹結痞，久而營氣漸弱，氣散火升，為眩暈惕悸，嘈雜脘脹，皆風木傷中之象。最慮中氣日削，漸成腹滿之候。先擬和木熄風，培中暢氣。</p>
<p>石決明　川連（吳黃炒）　半夏　鬱金　香櫞　白芍　木香　砂仁　茯神　歸身　刺蒺藜　穭豆衣　麥冬　竹茹</p>

<h2>瘀血門</h2>
<p>唇舌紫暗，幼時已然。近來爪甲色青，營血凝澀已甚，年已及笄，癸水不通，而便下瘀紫，黑血甚多，少腹絞痛，衝脈之氣逆升於上。脈象細澀而數，營阻血瘀，非溫養疏通，不能奏效。病經十載，難冀速功。</p>
<p>全當歸　白芍　紅花　延胡　丹參　牛膝（吳萸三分煎汁拌炒）　烏藥　香附　川斷　絲瓜絡　降香</p>
<p>再診　瘀血上吐下瀉，近日多吐氣逆，脈象左手弦硬，右手細數，爪甲唇舌紫黑，較前稍活。惟氣火上逆，目紅喘促，血之壅滯者，尚未流通。仍當和營導瘀，佐以通降之法，伸得下行為順。</p>
<p>歸尾　赤白芍　長牛膝（紅花八分炒）　楂肉　延胡　丹皮　丹參　生地炭　乳香　旋覆花（降香同包）　代赭石　蘇木　茺蔚子</p>
<p>另：錦紋大黃（酒煮，六分）　西珀屑（三分）　二味研末，沖服。</p>
<p>血從上下而溢，血色瘀紫，血行後筋骨掣痛，內及脘腹，營絡仍復不通，左脅結痞，亦未消化。總由營絡窒滯，肝氣內阻。仍宜疏肝和絡，清導余瘀。</p>
<p>金鈴子　延胡　青皮　歸尾　牛膝　紅花　桃仁　丹參　鬱金　木通　乳香　降香　絲瓜絡</p>
<p>腰俞延及左脅，掣刺作痛，難於轉側，此血絡瘀傷之病。脈軟數，時有內熱，陰氣暗傷，當兼滋養。</p>
<p>大熟地　全當歸　杜仲　川斷　甘杞子　菟絲子　沙苑子　金毛脊　破故紙　長牛膝　旋覆花（紅花四分同包）　胡桃肉</p>
<p>另：參三七（四分）　血竭（二分）　乳香（一分）　研末，陳酒沖服。</p>
<p>少腹偏左注痛，引及腰脊，寒熱連綿。此病因血絡瘀阻，邪機下注，熱久陰虧，舌紅脈數。姑與和絡暢營，疏通邪滯。</p>
<p>金鈴肉　延胡　歸尾　桃仁　青蒿　白薇　丹皮　丹參　牛膝（吳萸炒）　橘絡　橘核　木香　益母草</p>
<p>經阻兩年而無他病，近數日來，大小便滯痛不爽，兩足腫痛不舒。病由營血瘀室，經絡不暢，氣機痹窒。姑先溫營疏暢。</p>
<p>丹參　歸尾　澤蘭　桃仁　牛膝（紅花三分炒）　廣鬱金　楂炭　杏仁　桂枝　蘇梗　香附　降香　琥珀末（沖服）</p>

<h2>崩漏門</h2>
<p>漏血不止，血不歸經所致。脈左弦右弱，肝木不調，腹中撐墜。法當條木攝營，兼固奇脈。</p>
<p>全當歸　東白芍　小青皮　木香　砂仁　炙草　川斷肉　厚杜仲　蘄艾　陳阿膠（蒲黃末一錢拌炒）　茜草炭　荷葉炭　益母草</p>
<p>癸停三月而作崩漏，下焦有瘀可知。三四日來，崩勢已減，尚覺淋瀝不斷，從前上中焦肝氣撐迫塊痛，因此均得暢泄。則不特肝瘀從此疏達，並肝氣亦從此泄降，於病機頗為順利。惟少腹尚覺牽掣不和，此必有餘瘀留滯，致營絡之氣未得調暢。宜養營固奇，和絡調氣，乘此營血鬆動之機，加意調理，可使從前宿疾一切掃除矣。其善自調攝為主。</p>
<p>全當歸　白芍　生地炭　丹參　丹皮　川斷　杜仲　茜草炭　阿膠（蒲黃炒）　橘核　橘絡　石決明　砂仁　香附</p>
<p>另：參鬚　雞血藤膏（各一錢）　二味另煎沖服。</p>
<p>經漏數月不已，由瘀紫而轉為鮮淡。脈象細軟帶數，腹痛止而腰脊痠，病象由實而虛。當滋養營血，固攝奇脈。</p>
<p>生地炭　歸身　白芍　茜草炭　牡蠣　阿膠（蒲黃炒）　川斷肉　菟絲餅　烏鰂骨　甘杞子　沙苑子　陳棕炭　荷葉炭</p>
<p>再診　崩漏已止，而腰尚痠，營血虧損，未能遽復也。</p>
<p>黨參　茯苓　生地　歸身　白芍　川斷　杜仲　木香　砂仁　沙苑　菟絲餅　棗仁　紅棗</p>
<p>經水淋瀝不斷，腰脊痠疼，奇脈不調，經絡不暢，而痞塊撐痛，兼見虛窒之象。用調暢奇經，兼疏血絡。</p>
<p>生地炭　全當歸　白芍　青皮　廣皮　川鬱金　茜草炭　阿膠（蛤粉炒）　川斷　海螵蛸　橘核　橘絡　枇杷葉</p>
<p>方按：宜加木香。</p>
<p>崩漏屢發不止，右關脈弦數壅結，肝火內擾，血不能安。據述起由經阻，營絡先已不暢，當熄肝和營，勿遽用澀。</p>
<p>生地　白芍　歸身　丹皮　丹參　白薇　黑山梔　阿膠（蒲黃炒）　茜根炭　刺蒺藜　牡蠣　烏鰂骨　穭豆衣　側柏葉炭　藕節</p>
<p>再診　血漏未止，稍勞即發，下部經絡不舒，奇脈不暢，肝火不平。宜以攝營法內，佐以清肝和奇。其上部之痰濁不清，當另化之。</p>
<p>生地　全當歸　白芍　川斷　菟絲子　杜仲　烏鰂骨　阿膠（蒲黃一錢拌炒）　丹皮　白薇　石決明　砂仁　苡仁　太子參　茜草　藕煎湯代水。</p>
<p>經停數月而作崩。六七日來崩勢已定，而少腹痠楚，經漏淋瀝，脈數疾微弦，右寸關尤覺銳快，舌苔滿白，舌質不華，營血大傷，脾陽不振，而痰濁因之阻壅，故納穀不旺也。形寒發熱，是營陰之氣，虛散不攝，乃失血後常有之證。所慮脾陽就損，恐其虛熱淹纏，一時不能清復耳。擬方用養血攝營，溫脾和中之法。</p>
<p>綿耆　新會皮　砂仁　木香　炮薑炭　丹皮　生地炭　歸身　白芍　白薇　阿膠（蒲黃炒）　茜草炭　川斷肉　側柏葉</p>
<p>先經停而後崩漏，腰脊痠痛，奇脈不調，衝任不固，頭暈少納，肝胃不和。當固攝奇脈，兼和肝胃。</p>
<p>歸身　生地　白芍　砂仁　川斷　杜仲　菟絲子　金毛脊　川鬱金　木香　青皮　杭菊　阿膠（蒲黃炒）　藕</p>
<p>再診　崩漏之後，肝血必虛，其頭暈嘈絞，乃肝陽上擾之病；脘塊攻撐，木氣不和也；帶下腰痠，中氣虛陷也。總以調補肝脾，固攝奇脈為主。</p>
<p>生地炭　歸身炭　丹皮　白芍　石決明　刺蒺藜　於術　苓皮　砂仁　川廣鬱金　茜草炭　菟絲子　杜仲　烏鰂骨　銀杏肉　鮮藕煎湯代水</p>
<p>奇脈不固，為木火所沖激，經漏不止，腰痠色瘀。法當清肝固奇，疏暢營絡。</p>
<p>生地　歸身　白芍　丹皮　川斷　杜仲　菟絲子　烏鰂骨　杞子　沙苑　砂仁　阿膠（蒲黃一錢炒）　穭豆衣　茜草炭　藕節　茺蔚子</p>
<p>崩漏後，晚熱盜汗，脈象細數而弦，此必有微邪乘虛襲於營分；留戀日久，即為營損。舌心黃厚，兼有食滯不化。擬方養陰泄邪，稍兼化滯之意。</p>
<p>細生地　歸身　白芍　丹皮　青蒿　白薇　延胡　荊芥炭　生鱉甲　枳實炭　焦六曲　茅根肉</p>
<p>方按：用青蒿鱉甲煎　加歸、芍、薇、荊，從陰分泄邪。延胡、枳、曲，以化食滯，面面周到。</p>
<p>左脈浮數，右脈虛細，經漏淋瀝，腰痠嘈運，血不養肝，木燥生風，血不能藏，愈漏愈虛。當清肝攝營，用滋熄法。</p>
<p>生地炭　歸身炭　東白芍　茜草炭　烏鰂骨　丹皮炭　黑山梔　左牡蠣　刺蒺藜　女貞子　旱蓮草　十灰丸絹包　藕節</p>
<p>另：歸脾丸，每服三錢，藕湯送下。</p>
<p>方按：既云滋熄，何不用蒲黃炒阿膠。</p>

<h2>調經門</h2>
<p>經水先期而淡，此肝經有火，血不能藏，血少則淡，理固然也。平日納穀不多，則血無生長之源。頭暈內熱，皆肝無血養所致。調治之法，當滋養肝木以為藏血之地；培養脾土以開生血之源；而調補奇經之法，亦當並用。</p>
<p>生地　全當歸　白芍　丹皮　於術　砂仁　木香　刺蒺藜　石決明　棗仁　茯神　菟絲子　甘杞子　龍眼肉</p>
<p>癸水停阻，但內熱而不腹痛，脈象虛細數碎，此由營陰不充，本有枯澀之機。復值酸斂，因而虛澀生熱，病雖初起，而根蒂頗深。先宜疏營撤熱，冀得暢調為主。</p>
<p>生地　全當歸　白芍　丹參　丹皮炭　茜草根　石決明　青蒿子　白薇　川斷　紅綠梅花　茺蔚子</p>
<p>肝血因經漏而發，營虛則內熱所由生也。無如胃液久傷，舌光少納，脾運不及，不能輸化，後天少生化之原，營陰何由而復？擬方肝脾兩補，兼參養胃之意。</p>
<p>生地　歸身　白芍　於術　砂仁　雞內金　木香　丹皮　白薇　牡蠣　麥冬　穀芽</p>
<p>脾氣虛弱，不能統血，氣病則納穀脹滿，血病則經水淋瀝。氣宜疏通，血宜固攝。當兩意並治。</p>
<p>於術　廣皮　木香　砂仁　歸身　白芍　丹皮　茜草炭　石決明　穭豆衣　甘菊炭　遠志炭　棗仁　烏鰂骨　藕湯代水。</p>
<p>癸期遲而淋瀝不爽，少腹氣滯，奇經之氣不得疏暢也。而脘悶納少，頭暈偏痛，則肝陰虛而肝陽上越矣。小便墜痛而澀，兼有血絲，病在氣淋血淋之間。腰痠帶下，又屬脾虛濕陷，奇經不能固攝所致。納穀作脹，肝脾不和，脈象虛細弦數，氣虛而窒，血虛而瘀，病情虛實紛錯，調治甚難得手。姑與氣血兩調，佐以上熄風陽，下疏瘀濕，冀其漸得向松。</p>
<p>香附　烏蘇　歸鬚　白芍　丹參　砂仁　苡仁　川斷　杜仲　菟絲子　沙苑子　石決明　杭菊　馬料豆　銀杏肉　香櫞皮</p>
<p>方按：細繹案語，宜加和瘀。如琥珀、大黃炭，似不可少。</p>
<p>再診　病情虛實紛錯，而大綱不外肝脾腎三經主持。刻下肝陽不靜，肝氣未舒，納穀作脹，少腹塊痛。仍當熄肝和陽，氣血兩調之法。</p>
<p>香附　全當歸　白芍　丹參　川楝子　延胡　茯苓　砂仁　川斷　杜仲　菟絲子　石決明　杭菊　車前子　香櫞　橘葉</p>
<p>改方：去延胡　川楝子，加丹皮　黑山梔</p>
<p>起由瘧邪內陷，漸致寒熱往來，經停盜汗。刻診脈軟細而數，右手帶弦，臍右瘕痛日作，舌尖紅苔黃，泄瀉少納，脈浮。統觀脈證，因邪陷而傷陰，因陰傷而營損。最重者，刻已損及中焦，不能多進滋濃。用藥殊難為力耳。</p>
<p>全當歸　生地炭　白芍（吳萸一分炒）　丹參　丹皮　青蒿　鱉甲　於術　砂仁　青皮　白薇　生穀芽　荷葉</p>
<p>方按：顧此礙彼，用藥頗難著手。此方觀似平淡無奇，實則斟酌盡善。西洋參不妨進用。</p>
<p>晚熱盜汗，氣撐脅痛，病歷一年，脈象虛數。刻下足冷顴紅，氣促不臥。肝氣上逆於肺，木鬱化火，陰血被耗，近來月事不通，即其驗也。證屬郁損。姑與熄肝肅肺。</p>
<p>旋覆花　代赭石　歸鬚　白芍　丹皮　白薇　青皮　川廣鬱金　瓦楞子　橘絡　左金丸　枇杷葉　木蝴蝶</p>
<p>方按：宜加牡蠣、沉香，一以潛陽，一以降氣。</p>
<p>向來肝氣不和，近患瘧疾，肝脾兼病，經停一載，而無瘀阻見證，想因營血澀少所致。近日納穀脹悶作嘔，中土為木氣所乘，脾胃交病。先與泄木和脾，疏通氣分。</p>
<p>香附　丹參　半夏　廣皮　茯苓　桂枝　白芍　全歸　青皮　左金丸　砂仁　竹茹　香櫞</p>
<p>停經一載，而無塊痛之證，脈象細弱，左手微弦，納穀甚少，兼作脹悶。先天營氣本弱，加以肝木失調，氣窒而血液不暢，與瘀阻者不同。先擬暢肝和脾，納穀漸旺，乃可漸進營分。</p>
<p>歸身　白芍　黨參　於術　茯神　棗仁　半夏　麥冬　青皮　木香　雞內金　砂仁　丹參　香附　秫米　穀麥芽</p>
<p>再診　經阻內熱，而無瘀阻見證，其為營虛血少無疑。前因肝胃不和，不能納穀，是病不在血而在氣。當於養血中兼調脾胃。但病關情志，須暢懷調攝，乃能奏效。</p>
<p>歸身　白芍　於術　青皮　半夏　木香　黨參　棗仁　茯神　遠志　麥冬　枳實炭　左金丸　穀麥芽　枇杷葉</p>
<p>方按：此歸脾合左金、溫膽法也。</p>
<p>向患肝木不和，今則肝火偏甚，不能藏血，癸水淋瀝不調，時覆逆行為衄。脈象虛，左弱右弦，遇節發熱，營陰為木火所爍，陰血日虧，肝陽日亢，有延及營損之慮。擬用養血熄肝，調暢肝營之法。</p>
<p>生地　白芍　歸身　丹皮　丹參　白薇　牡蠣　鬱金　牛膝炭　茜草炭　穭豆衣　阿膠（青黛拌炒）　月季花</p>
<p>再診　衄血雖止，而營熱未清，左脈澀數，右脈弦數，營血不充，肝火不靜。再與養血潛肝，苟得營陰充足，則經自調而痛自止。</p>
<p>生地　歸身　白芍　丹皮　丹參　白薇　牡蠣　黑山梔　牛膝　棗仁　阿膠（蛤粉炒）　茺蔚子　月季花</p>
<p>方按：此痛字大約是熱字之謬，否則與方藥不合。</p>
<p>經水先期，左脈弦數，此肝氣不和，木鬱生熱，故血不能藏耳。當與涼肝泄木，清養營分。</p>
<p>生地　歸身　白芍　赤芍　丹皮　丹參　黑山梔　香附　茜草　穭豆衣　瓦楞子　藕節　玫瑰花</p>
<p>寒濕之邪，乘虛襲於奇脈，腰脊痠疼，癸期愈甚。法當溫調奇脈。</p>
<p>厚杜仲　川斷肉　長牛膝　菟絲子　全當歸　茯苓　金毛脊　補骨脂（酒炒）　白朮　砂仁　胡桃肉</p>
<p>再診　經來腰脊痠疼，上引頭痛，寒濕之邪，乘虛陷於奇脈。法當溫經調營，兼和肝氣。</p>
<p>厚杜仲　川斷肉　長牛膝　全當歸　丹參　香附　金毛脊　砂仁　川芎　秦艽　胡桃肉</p>

<h2>少腹痛門</h2>
<p>癸水逾期不通，少腹塊痛，病在奇經，屢經攻克，肝脾受傷。脈象虛數，內熱少納，轉見營損之象。實病未除，而虛證復起。當與循經和絡，通調奇脈。</p>
<p>當歸　白芍　牛膝（吳萸三分炒）　續斷　紅花　丹參　白薇　金鈴子　延胡　香附　橘絡核　桃仁　降香</p>
<p>再診　前與通調奇脈，少腹痛墜較甚，肢冷氣穢，下焦營氣不通，更兼肝木橫克。再與溫暢奇經，兼以疏肝和氣。</p>
<p>全當歸（小茴香五分拌炒）　烏藥　白芍　牛膝（吳萸四分拌炒）　延胡　續斷肉　橘核　青皮　木香　香附　楂肉　蒲黃粉（絹包入煎）　五靈脂（絹包入煎）　降香</p>
<p>三診　少腹痛勢略減，而癸水未通，營氣仍窒，少腹塊墜不化，此證雖有瘀血內阻，而內熱少納，脈數色浮，血之來源本少，專與消克，更傷正氣。自當參用增水行舟之法，於養營中，復入和瘀暢氣之品，乃為穩便。</p>
<p>生地（生薑炭四分煎汁拌炒）　全當歸（小茴香五分煎汁炒）　牛膝（吳萸四分煎汁炒）　川斷（桂心三分煎汁炒）　木香　砂仁　延胡　丹參　香附　檀降香　五靈脂　蒲黃粉（絹包入煎）</p>
<p>營氣虛滯，經來腹痛。用養營法，兼調肝脾。</p>
<p>全當歸（小茴香五分炒）　白芍　烏藥　牛膝（吳萸四分炒）　延胡　川斷肉（桂心三分煎汁炒）　橘核　木香　砂仁　紅花　玫瑰花　胡桃肉</p>
<p>經來少腹滯痛，營氣窒塞，奇脈不調。用溫通法。</p>
<p>全當歸　白芍　川芎　烏藥　牛膝（吳萸炒）　紅花　川斷　木香　楂炭　降香　胡桃肉</p>
<p>癸水先期而痛，營絡不和。當與溫通。</p>
<p>全當歸　白芍　烏藥　牛膝（吳萸炒）　丹參　川斷　青皮　楂炭　香附　青廣木香　胡桃肉　益母草</p>
<p>再診　癸遲腹痛，營血為寒氣所阻。當溫經暢營。</p>
<p>全歸　白芍　川芎　烏藥　牛膝（吳萸炒）　川斷　蘄艾葉　香附　青皮　楂炭　桂丁子　胡桃肉</p>
<p>經來少腹痛，發熱，肝膽之氣不和。用逍遙法加減。</p>
<p>全歸　白芍　川芎　烏藥　川斷肉　丹皮　青皮　柴胡　青蒿　楂炭　砂仁　橘葉　橘核</p>
<p>方按：既云發熱，山梔似不可少。</p>
<p>奇脈隸於肝，以肝主血也。經來少腹滯痛，木氣下陷，則營絡窒滯；周身經絡牽掣，以肝主經也。脈象虛軟帶弦。以和肝為主，佐以溫通營絡。</p>
<p>全歸　白芍　川芎　烏藥　川斷　牛膝（吳萸三分煎汁炒）　延胡　丹參　楂炭　青皮　木瓜　厚杜仲　橘絡　絲瓜絡　首烏藤</p>
<p>經遲腹痛，寒阻奇經，當與和營溫化。</p>
<p>全歸　白芍　烏藥　牛膝（吳萸炒）　川斷　延胡　香附　楂炭　青皮　桂心末（沖）　胡桃肉　益母草</p>
<p>肝木鬱結，下陷於奇脈，經來時少腹撐痛，小便不爽。用清泄木火，通調奇經之法。</p>
<p>川楝子　延胡　青皮　丹皮　丹參　全歸　白芍　車前子　通草　川斷肉　穭豆衣　青廣木香　陳佛手　燈心</p>
<p>再診　肝氣內結，營絡不通，經事遲而少腹作痛，木鬱化火，時常尿阻作痛。當清肝暢營，兼泄火腑。</p>
<p>金鈴子　延胡　歸尾　牛膝（紅花炒）　烏藥　丹皮　丹參　香附　黑山梔　赤苓　木通　車前子　淡竹葉　玫瑰花</p>

<h2>胎前門</h2>
<p>重身五月，腰脊痠疼，此腎虛不能系胎之象。素病嘔惡，胃氣上逆，則中氣不固。當和胃安胎。</p>
<p>黨參　於術　茯苓　廣皮　白芍　川連　淡芩　砂仁　蘇葉　杜仲　菟絲子　竹二青</p>
<p>嘔逆經年，胃氣先不通降，復因胎氣下阻，膚腫氣促，小溲澀少而痛，濕熱阻結，氣機不化。擬與清調脾肺，疏降胃氣。</p>
<p>杏仁　蘇子　豆卷　廣皮　茯苓皮　桑白皮　冬瓜皮　瓜蔞皮　砂仁　焦曲　細川連乾薑（一分半拌炒）　半夏　淡芩　枳實　香櫞皮　竹二青</p>
<p>肝木不和，瘕撐脘痛。惟經停兩月，右尺及關浮滑，似有妊象。姑擬疏肝和胃，勿動營分。</p>
<p>青皮　香附　歸身　白芍　木香　砂仁　廣皮　茯苓　枳殼　菟絲子　杜仲　佛手　竹二青</p>
<p>妊娠逾期，反無轉動之形。刻下漏血墜痛，胎元受傷，氣眯不能轉運。先用佛手散加味，以消息病機。</p>
<p>全當歸　川芎　生鱉甲　頭髮灰　綿耆　冬葵子　桃仁　長牛膝（紅花五分炒）　烏芝麻</p>
<p>再診　胎元受病，血漏氣窒，逾期不動。近日腰背痠疼，有下行之象。再與調暢氣血，俾得運動為佳。</p>
<p>厚杜仲　炒枳殼　奎砂仁　上綿耆　細生地　冬瓜子　杜蘇子　竹二青</p>
<p>重身六月，而病胎漏，右脈浮數，腰腹墜痛，胎元受傷。以右脈論，當兼涼胎為是。</p>
<p>歸身　赤白芍　黑山梔　淡芩　生草　茯苓　砂仁　阿膠（蛤粉炒）　杜仲　菟絲子　白麻皮　蓮子　紋銀</p>

<h2>產後門</h2>
<p>發熱咳嗽，色黃盜汗，脈虛細而數，病起產後，邪戀致虛，將及蓐損之候。</p>
<p>全當歸　白芍　青蒿　白薇　丹皮　丹參　廣皮　蘇子葉　南沙參　前胡　杏仁　紫菀　益母草　茅根肉</p>
<p>產後感邪，咳逆、氣促、音破、肺氣不能疏通，濁痰阻窒，脈細不暢，當與疏化泄邪。</p>
<p>旋覆花　蘇子　杏仁　白芥子　紫菀　前胡　枳殼　海浮石　瓦楞子　全當歸　川芎　桑葉　枇杷葉</p>
<p>產後塊痛攻撐，雖不得專屬於瘀，而病必在於營絡。近增寒熱無汗，兼有時邪。先與和營疏泄。</p>
<p>歸尾　川芎　香附　木香　青皮　青蒿　荊芥　蘇葉　澤佩蘭　川鬱金　烏藥　茅根　益母草</p>
<p>少腹響痛，由下而上，發則形寒內熱，起於產後。此由寒氣襲於下焦，營分阻窒，奇脈不和；而大解滯痛，則涉及腸腑矣。以溫通營氣為主。</p>
<p>全當歸（小茴香五分炒）　白芍（桂枝四分炒）　牛膝炭　丹參　丹皮　白薇　延胡　青皮　木香　烏藥　降香　胡桃　佛手</p>
<p>小產後瘀血未淨，寒氣窒於奇經，少腹撐痛，近增寒熱。當暢氣和營，通調奇脈。</p>
<p>全當歸　白芍　川芎　金鈴肉（小茴香五分炒）　延胡　牛膝（吳萸三分炒）　紫丹參　粉丹皮　烏藥　香附　青蒿　白薇　青廣木香　益母草</p>

<h2>雜證門</h2>
<p>病情輾轉，補瀉雜進，延今一載有餘。近日足痿色浮，嘔惡悶痛，多服辛溫之物，遂增煩躁氣迫，甚則呼號欲絕。細究病原，皆因痰阻氣窒，致陰陽兩氣否隔不和，各致其偏之極，復挾痰氣蒙冒升逆，故病狀變幻若此。正氣乘亂，用藥頗難。姑與交濟法，佐以疏通痰氣。</p>
<p>旋覆花　半夏　鬱金　川連（先用鹽水炒，再用桂枝二分煎汁拌炒）　瓦楞子　長牛膝　川楝子　象貝　膽星　廣皮　黃精　茯苓神（辰砂拌）　紫石英　延胡　鮮石菖蒲　竹茹（河井水各半煎）</p>
<p>方按：黃精一味，似乎嫌滋，與痰阻氣窒之證不甚合拍。</p>
<p>時邪之後，中氣虛陷，濕濁留戀，膚腫力乏，脾氣下陷也。腰脊痠痛，睡至五更則痛甚，此因腎氣虛而濕邪注之，睡則督陽之氣留著不運，則甚痛也。足根作痛，三陰經氣虛也。刻下間有寒熱，中焦餘邪未清。兼理治之。</p>
<p>於術　砂仁　苡仁　橘絡　金毛脊　川桂枝　茯苓　半夏　豆卷　青蒿　淡芩　澤瀉　姜皮　茅根肉</p>
<p>脘腹久痛不愈，脾氣不舒，濕積交阻之象。面黃脈弱，舌色嫩紅，不特脾陽受困，而胃陰亦傷矣。調治頗難，姑與疏調中氣。</p>
<p>白芍　青皮　枳實　川連（乾薑一分半同炒）　奎砂仁　炙雞金　六曲　茯苓　楂炭　生草　川石斛　穀麥芽</p>
<p>肝陰不足，痰氣由少陽上逆，膚脹項腫，癸水愆期，吐紅內熱。當養營和肝，清火降氣。</p>
<p>全當歸　白芍　丹皮　黑山梔　白薇　橘紅　牡蠣　川鬱金　牛膝　五茄皮　青皮　刺蒺藜　穭豆衣　夏枯草　茺蔚子</p>
<p>脈象弦搏，右手較硬，四肢時或作冷，夜寐不安，此由肝陽內動之氣，厥而不和。當潛肝和陽，兼清肺胃。</p>
<p>太子參　歸身　白芍　生地　石決明　夜交藤　茯神　棗仁　丹參　橘絡　川百合　女貞子（旱蓮草一錢半拌蒸）　蓮子　磁朱丸（一錢半）　燈心湯送下。</p>
<p>少腹痠痛，牽引腰臍腿足，此由經絡瘀阻，營氣壅窒所致。近更寒熱絞悶，噁心頭痛，左脈弦數，肝氣時邪，同時挾發，病機錯雜，用藥殊難。姑擬泄肝和胃，兼佐通絡之意。</p>
<p>金鈴子　延胡　青皮　川連（吳萸炒）　鬱金　川淮膝　歸尾　杭菊　半夏　橘絡　豆卷　苡仁　佛手　絲瓜絡　竹二青</p>
<p>口舌碎痛，舌質光紅，心脾鬱熱上浮，法當清降。但納穀便溏、中氣易於下陷，勢難偏潤。擬用清泄法，兼佐和脾之意。</p>
<p>細川連　淡芩　川石斛　洋參　雞內金　銀花炭　廣皮　砂仁　生草　生熟神麯　青果</p>
<p>方按：元參似不可少。</p>
<p>痛由左脅及脘，掣及胸背，上引太陽，脈細弦右浮，餘邪內伏，肝火上浮。當蠲飲泄木，兩法並用。</p>
<p>半夏　茯苓　青皮　廣皮　桂枝　乾薑　川連　鬱金　刺蒺藜　杭菊炭　瓦楞子　竹茹　佛手</p>
<p>肝升太過，肺降不及，眩暈麻痛，咳喘脘脹，肝與肺胃之病，層疊錯出，脹勢偏於右脘，不特胃氣不舒，兼有痰濁內壅。仿黃氏法，疏木清風，肅肺降胃。</p>
<p>白芍　木瓜　刺蒺藜　石決明　丹皮　全當歸　旋覆花　川貝　廣皮　半夏　桂枝　連皮茯苓　制馬料豆　香櫞　竹二青</p>
<p>熱留營絡，為風邪所襲，發為癮疹，癢不可耐。法宜疏通營絡，清泄血分風熱。</p>
<p>細生地　鮮生地　丹皮　赤芍　歸鬚　刺蒺藜　殭蠶　忍冬藤　絲瓜絡　防風　荊芥　生甘草　蟬衣　五加皮　干浮萍　桑枝　茅根肉</p>
<p>丸方：</p>
<p>刺蒺藜（八兩）　全當歸（二兩）　生地（四兩）　赤芍（二兩）　地膚子（三兩）　防風（一兩）　荊芥（一兩五錢）　丹皮（二兩）　生草（八錢）　殭蠶（一兩五錢）　菊花（一兩）　銀花炭（二兩）</p>
<p>共研末用酒炙桑枝（四兩）　干浮萍（一兩）　煎汁泛丸。</p>
<p>久患癘風，皮膚紫塊，流血，筋節麻木，復增頭眩心絞，口目牽掣，風毒之在營者，不特外走經絡，抑且內攻臟腑，病候深重。先與涼血疏泄風毒。</p>
<p>細生地　全當歸　赤白芍　丹皮炭　左秦艽　羚羊角　刺蒺藜　制殭蠶　忍冬花　夜交藤　地膚子　五加皮　桑枝　松節</p>
<p>瘍潰營虛，內熱少納，而餘毒留結，瘍腫疊見。當和營清陰，疏化餘毒。</p>
<p>生地炭　全當歸　赤芍　丹皮　連翹　防風　荊芥　生甘草　廣皮　忍冬花　桑枝</p>
<p>邪由肺俞襲入骨節，心痛徹背，脊骨外凸，痛連兩脅，兼作咳嗽，脈象虛細而數，右手尤甚。近日胸脘刺痛，亦絡氣不通所致，正虛邪痼，不易得效。先與和絡肅肺。</p>
<p>旋覆花　川百合　紫蛤殼　紫菀　歸鬚（去油，乳香四分，研末拌炒）　鬱金　刺蒺藜　丹參　橘絡　絲瓜絡　瓜蔞皮　麥冬　枇杷葉　竹茹</p>
