<header data-type="book">
<h1>本草集方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>底本</dt><dd>宋刊本（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故善001997–002004）</dd></div>
</dl>
</header>
