<header data-type="book">
<h1>傅氏外科</h1>
</header>

<h1>序</h1>
<p>《青囊秘訣》余閱之，未知其果效與否，而其議論純正，望之而知為異書也。因揮汗抄錄，帶入都門，試之對口、痔漏等症，無不應手而愈。雖扁盧神術，無逾乎此。潘子原本，失其姓氏，書傳而人不傳，是誰之咎？余聞君子不沒人善，異日者當以《無名氏青囊秘訣》弁其眉而付諸梓頭。</p>
<p><u>大清雍正元年歲次癸卯巧月帆川王大德撰於金堂之旅次。</u></p>
<p><u>河南懷慶濟源廟道張干學秘藏</u></p>

<h1>青囊秘決上卷</h1>

<h2>背癰論</h2>
<p>人有背心間先發紅瘰，後漸紅腫，此發背之兆也，最為可畏。古人云：「外大如豆，內大如拳；外大如拳，內大如盤；」言其外小而內實大也。然而癰疽等毒，必先辨其陰陽：有先陰而後陽者，有先陽而後陰者，有先後俱陰者，有先後俱陽者。陽症雖重而實輕，陰症雖輕而實重。先陰而變陽者生，先陽而變陰者死。病症既殊，而何以辨之也？陽症之形，必高突而腫起；陰症之形，必低平而陷下。陽症之色必純紅，陰症之色必帶黑。陽症之初起必痛，陰症之初起必癢。陽症之潰爛必多膿，陰症之潰爛必多血。陽症之收口，身必輕爽；陰症之收口，身必沉重。至於變陰變陽，亦以此消息之，斷斷不差矣。倘見紅腫而高突者，乃陽症之癰也，乘其內毒初起，毒尤未化，急以敗毒之藥治之，可隨手而解也。發背而至於橫決者，皆因循失治，以至於破敗而不可救，陽變陰者多矣。救癰如救火，宜一時撲滅，否則延燒屋廬，不盡不止，切勿視為陽症無妨，而輕緩治之也。方用急消湯：</p>
<p>忍冬藤（二兩）　紫花地丁（一兩）　天花粉（三錢）　桔梗（三錢）　青蒿（三錢）　甘草（三錢）　茜草（三錢）　甘菊花（三錢）　貝母（二錢）　黃柏（一錢）</p>
<p>水煎服，一劑輕，二劑又輕，三劑全消，不必四劑也。此方消陽毒之初起者最神，既無迅烈之虞，又有和解之妙。世人不知治法，謂陽毒易於祛除，孟浪用虎狼之藥，雖毒幸消散，而真元耗損於無形，往往變成別病，乃醫者成之也。何若此方王霸並施，有益無損之為妙哉。</p>
<p><u>秘訣：</u></p>
<p>背癰急消兩地丁，花粉三錢與桔梗，</p>
<p>蒿草茜菊同上用，忍冬二兩齊煎沖，</p>
<p>貝母二錢錢黃柏，初起三劑見奇功。</p>
<p>方用神散陽癰湯亦效：</p>
<p>車前子（五錢）　貫眾（五錢）　甘草（五錢）　天花粉（五錢）　赤茯苓（五錢）　生地（一兩）　柴胡（一錢）　羌活（二錢）　黃芩（三錢）　紫菀（三錢）</p>
<p>水煎服，一劑消大半，二劑全消矣。</p>
<p><u>秘訣：</u></p>
<p>神散陽癰陽痘用，急投車前與貫眾，</p>
<p>甘粉赤苓各五錢，生地一兩柴錢攻，</p>
<p>羌活二錢芩菀三，服止兩劑可奏功。</p>
<p>人有背心發瘰癢甚，已而背腫如山者，隱隱發紅暈如盤之大，此陰癰初起之形象也，最為可畏，非前症陽癰可比。蓋陽症有可救之術，而陰豈無可生之理？亦在救之得法否耳。蓋陰癰之症，必正氣大虛，邪得而入之也。設正氣不虛，邪將安入？故救陰癰之症，必須大用補氣補血之藥，而佐之散郁散毒之品，則正旺而邪自散矣。方用變陽湯：</p>
<p>金銀花（八兩）　人參（二兩）　黃耆（二兩）　附子（一錢）　黑荊芥（三錢）　天花粉（五錢）　甘草（五錢）　白芍（一兩）　柴胡（二錢）</p>
<p>水十碗，煎汁二碗，先服一碗後，少緩，再服一碗，服後陰必變陽而作痛；再一劑而痛亦消，再服一劑而痊愈，竟消滅於無形也。然而世人不至皮破血流，斷不肯信，誰能用此等之藥，以治發背之陰癰乎？無論病人不肯服，即醫生亦不肯用。或醫生知用此治療，而病人之家亦不肯信，往往決裂潰爛，瘡口至如碗大而不可收拾，始追悔參耆之遲用，晚矣！余所以既論此證，又多戒辭，勸人早服此方，萬不可觀望狐疑，以喪人命也。蓋陽毒可用攻毒之劑，而陰毒須用補正之味。此方用人參、黃耆以補氣，氣旺則陰幽之毒，不敢入心肺之間。而金銀花性補，善解陰毒，得參耆而其功益大。然非得附子則不能直入陰毒之中，而又出陰毒之外。毒深者害深，又益以甘草以解其毒。然而毒結於背者，以氣血之壅也，壅極者，郁之極也，故加柴胡、荊芥、白芍、天花粉之類，消其痰而通其滯，開其鬱而引其經，自然氣宣而血活，痰散而毒消矣。</p>
<p><u>秘訣：</u></p>
<p>變陽陰疽初起方，銀八參耆二附錢，</p>
<p>荊芥三錢炒黑用，花粉五錢同在甘，</p>
<p>白芍一兩柴二錢，變陽三劑自無難。</p>
<p>此症用錦庇湯亦效：</p>
<p>茯苓（一兩）　甘草（一兩）　黃耆（三兩）　黑荊芥（三錢）　天花粉（三錢）　肉桂（三錢）　貝母（二錢）　錦地羅（五錢）</p>
<p>水煎服，一劑而散大半，三劑痊愈。</p>
<p><u>秘訣：</u></p>
<p>氣血壅滯用錦庇，苓草一兩三兩耆，</p>
<p>荊芥粉桂各三錢，貝母二錢研去心，</p>
<p>地羅五錢同煎服，三劑陰毒去十分。</p>
<p>人有背癰潰爛，洞見肺腑，瘡口黑陷，身不能臥，口渴思飲者，人以為陽症之敗壞也，誰知是陰虛而不能變陽乎？夫背癰雖有陰陽之分，及至潰爛之後，宜補內而不宜消外，則陰陽之症一也。潰爛而至於肺腑之皆見，此乃從前失補之故，使毒蘊而延燒，將好肉盡化為瘀肉耳。肉瘀自必成為腐肉，而腐則必洞見底黑，此等症候，九死一生之兆也。倘胃氣健而能食者，猶可救療；倘見食即惡者，斷無生理。雖然能用參、耆、歸、熟，亦往往有可生者，正不可棄之而不救也。方用轉敗湯：</p>
<p>金銀花（四兩）　白朮（四兩）　肉桂（三錢）　遠志（三錢）　茯苓（三錢）　熟地（二兩）　人參（二兩）　黃耆（二兩）　麥冬（二兩）　當歸（一兩）　山茱萸（二兩）　五味子（一錢）</p>
<p>水煎服，一劑而胃氣大開者，即可轉敗為功也。倘飲之而稍能健飯，亦在可救。惟飲之而杳無應驗者，是胃氣已絕也，不必再治之矣。或飲之而飽悶，少頃而稍安者，亦有生機。此方補其氣血，而更補其肺腎之陰。蓋陰生則陽長，陰陽生長，則有根易於接續，而後以金銀花解其餘毒，則毒散而血生，血生而肉長，肉長而皮合，必至之勢也。倘日以解毒為事，而不補氣血之陰陽，則陰毒不能變陽，有死而已，可勝悲嘆哉！</p>
<p><u>泌訣：</u></p>
<p>背癰危症轉敗湯，銀花白朮四兩嘗，</p>
<p>桂志茯苓各三錢，二兩熟地參與黃，</p>
<p>麥冬山萸量同上，歸兩味錢一劑良。</p>
<p>此症方用變陽湯亦可效：</p>
<p>黃耆（三兩）　當歸（二兩）　山藥（二兩）　肉桂（五錢）　半夏（三錢）　人參（一兩）　茯苓（一兩）　錦地羅（五錢）　甘草（三錢）　水煎服，四劑愈。</p>
<p><u>秘訣：</u></p>
<p>陰毒不起變陽湯，三兩黃耆二兩當，</p>
<p>二兩山藥五錢桂，三錢半夏草同嘗，</p>
<p>一兩參苓五錢錦，四劑毒化病自康。</p>
<p>人有背癰將愈，而瘡口不收，百藥敷之，絕無一驗者，人以為餘毒之未盡也，誰知是陰虛而不能濟陽乎？夫癰疽初起則毒盛，變膿則毒衰，膿盡則毒化矣。瘡口之不收者，乃陰氣之虛，非毒氣之旺也。世人不知治法，尚以敗毒之藥攻之，是已虛而益使之虛也，欲求肌肉之長，何可得乎？然亦有用補法治之而未效者，何也？以但用陽分之藥以補其陽，而不用陰分之藥以補其陰故也。蓋獨陰不長，而獨陽亦不生也。凡癰疽至膿血已淨，則陰必大虛。若止補其陽，則陽旺陰虛，陰不能交於陽矣。雖陽有濟陰之心，而陰無濟陽之力，所以愈補陽而陰愈虛，則瘡口愈難合矣。治之法，必須大補其陰，使陰精盛滿，自然能灌注於瘡口之中，不用生肌外敷之藥，而瘡口之肉則內生矣。方用生膚散：</p>
<p>人參（五錢）　焦白朮（五錢）　熟地（二兩）　肉桂（一錢）　忍冬藤（一兩）　麥冬（一兩）　當歸（一兩）　山茱萸（一兩）</p>
<p>水煎服，二劑而肉自長，又二劑而瘡口自平，又二劑而痊愈矣。此方補陰之藥多於補陽，使陰勝於陽也。然而補陽之藥，仍是補陰之助，以其能入於陰之中，而交於陽之內也。忍冬藤非特其能解餘毒，尚取其能領諸藥至於瘡間也。</p>
<p><u>秘訣：</u></p>
<p>瘡口不收生膚散，人參焦術整五錢，</p>
<p>二兩熟地一錢桂，忍冬麥歸一兩山，</p>
<p>水煎連來六劑服，生肌長肉自不難。</p>
<p>此症方用收肌飲亦效：</p>
<p>白朮（二兩）　熟地（二兩）　人參（一兩）　山茱萸（一兩）　麥冬（一兩）　當歸（一兩）　甘草（三錢）　肉桂（三錢）　菊花（三錢）　花粉（三錢）</p>
<p>水煎服，切戒房事一月，否則變生不測矣。</p>
<p><u>秘訣：</u></p>
<p>收肌二兩術熟地，一兩參萸麥當歸，</p>
<p>草桂菊花各三錢，花粉三錢服四劑。</p>
<p>人有背癰長肉，瘡口平滿，忽然開裂流水者，人以為瘡口之肉未堅也，誰知是色欲惱怒之不謹乎？大凡瘡癰之症，最忌者房事，其次者惱怒也。犯惱怒者，新肉有開裂之虞，犯房事者，新肉有流水之患，然此猶些小之瘡節也。其在背癰，犯惱怒者不過疾病，而犯房事者必致死亡！其瘡口開裂者，必然色變紫黑；而流水者，必然肌肉敗壞矣。當是時，必須急補氣血，萬不可仍治其毒。蓋前毒未盡，斷難收口，既經收口，復至朽壞，實新肉不堅，而自決裂也。況發背新愈之後，其精神氣血，盡皆空虛，所以交合泄精，遂至變出非常，舍補氣血，又安求生再活乎？然而即補氣血，以些小之劑，欲收危亂之功，無異大廈傾頹，豈一木所能支哉？故又須大劑補之而後可。方用定變回生湯：</p>
<p>人參（四兩）　黃耆（三兩）　山茱萸（一兩）　茯苓（一兩）　忍冬藤（二兩）　麥冬（二兩）　白朮（二兩）　當歸（二兩）　五味子（三錢）　肉桂（二錢）</p>
<p>水煎服，一劑而肉不腐，二劑而肉生，三劑而皮合，四劑而瘡口平復矣。切戒再犯，再犯無不死者，即再服此方，亦無益也，可不慎乎？此方實救瘡瘍壞症之仙丹，不止療發背愈後犯色怒之敗腐也。人疑泄精以致決裂，宜用熟地以大補之，何故反置而不用？以熟地補陰最緩，而症犯實急，所以舍熟地而用氣血之藥，急拯其危，非熟地不可用而輕棄之也。此方服數劑之後，各宜減半，而多加熟地，以為善後之計可耳。</p>
<p><u>秘訣：</u></p>
<p>怒欲瘡裂回生方，人參四兩耆三兩，</p>
<p>萸苓一兩桂二錢，忍冬麥術二兩當，</p>
<p>五味三錢四平復，再犯色戒定不長。</p>
<p>此症湯用補縫飲亦佳：</p>
<p>人參（二兩）　熟地（二兩）　白朮（二兩）　當歸（一兩）　麥冬（一兩）　山藥（五錢）　肉桂（二錢）　附子（一錢）　白芍（五錢）　五味子（三錢）</p>
<p>水煎服，十劑愈。</p>
<p><u>秘訣：</u></p>
<p>前方既用服此藥，參朮熟地二兩著，</p>
<p>歸麥一兩藥五錢，桂二附一五錢芍，</p>
<p>惟有五味用三錢，服之十劑可安樂。</p>
<p>人有夏月生背癰，瘡口不起，脈大無力，發熱作渴，自汗盜汗，方用參耆大補之劑，更加手足逆冷，大便不實，喘促嘔吐者，人以為火毒太甚也，誰知是元氣太虛，補不足以濟之乎？夫癰分陰陽，瘡口不起者，乃陰症而非陽症也。脈大似乎陽症，大而無力，非陰而何？發熱作渴，此水不足以濟火，故隨飲隨汗也。既是陰症似陽，用參耆陽藥以助陽，正氣足以祛陰而返陽矣，何以愈補而反作逆冷嘔吐之狀也？此陰寒之氣甚盛，而微陽之品力不能勝耳。非助之以附子辛熱之品，何能斬關入陣，以滌盪其陰邪哉！方用助陽消毒湯：</p>
<p>人參（八兩）　黃耆（一斤）　當歸（四兩）　白朮（四兩）　附子（五錢）　陳皮（五錢）</p>
<p>水煎成膏，分作兩次服，凡自汗盜汗、逆冷嘔吐諸症，俱可頓除。連服數劑，瘡起而潰減半，又用數劑而愈。此方非治癰之法也，然以治癰之法而輕治此等之症，鮮不立亡，可見治癰而不可執也。大約陽癰可服消毒化疾之藥，而陰癰不可用消毒化痰之藥，舍癰從症，實治癰之變法，醫者不可不知也。</p>
<p><u>秘訣：</u></p>
<p>夏月喘促背生瘡，盜汗冷逆方無陽，</p>
<p>急取消毒參八兩，一斤黃耆四兩當，</p>
<p>白朮亦四附五錢，陳皮二劑分服康。</p>
<p>此症方用起陷丹亦效：</p>
<p>人參（二兩）　白朮（二兩）　熟地（二兩）　附子（一錢）　當歸（一兩）　麥冬（一兩）　五味子（三錢）　肉桂（二錢）　山藥（五錢）　白芍（五錢）</p>
<p>水煎服，連服十劑愈。</p>
<p><u>秘訣：</u></p>
<p>補虛起陷用參朮，二兩熟地一錢附，</p>
<p>歸麥一兩味三錢，肉桂二錢山芍五，</p>
<p>若能一連服十劑，瘡口下陷患自除。</p>
<p>人有背生癰疽，潰爛之後，或發熱，或惡寒，或作痛，或膿多，或流清水，自汗盜汗，膿成而不潰，口爛而不收，人以為毒氣之未盡也，誰知是五臟虧損，氣血太虛之故乎？凡人氣血旺盛，陰陽和平，何能生毒？惟其臟腑內損，而後毒氣得以內藏，久之外泄，及至瘡癰發出，其毒自不留內。然而臟腑原虛，又加流膿流血，則已虛而益虛矣。觀其外而瘡口未斂，似乎有餘；審其內而氣血未生，實為不足。治之法，當全補而不宜偏補，恐臟腑致有偏勝之虞也。方用十全大補湯最妙，以其合氣血而全補之耳。然而用之往往不救者，非方之不善也，乃用方之不得其法耳。夫背癰何等之症，豈尋常細小之劑所能補之乎？故必須多其分兩，大劑煎服，始克有應驗之效。余因酌定一方，以求正於同人：</p>
<p>人參（一兩）　當歸（一兩）　黃耆（二兩）　熟地（二兩）　白芍（五錢）　茯苓（五錢）　白朮（五錢）　肉桂（二錢）　川芎（三錢）　甘草（三錢）</p>
<p>水煎服，一劑有一劑之效也。世疑此方絕不敗毒，如何化毒而生肉也？不知癰疽未潰之前，以化毒為先；既潰之後，以補正為急。即有餘毒未盡，不必敗毒也。蓋敗毒之藥，非寒涼之品，即消耗之味也。消耗則損人真氣，寒涼則損人胃氣。真氣損則邪氣反盛，胃氣傷則穀氣全無，何能生肌長肉哉？惟十全大補湯專補真氣，以益胃氣，故能收全效耳。且此方不特治背癰之未潰，即瘡瘍之已潰者，皆宜用之，惜世人未知之也。</p>
<p><u>秘訣：</u></p>
<p>還有人參一兩當，黃耆熟地整二兩，</p>
<p>白芍茯苓朮五錢，桂二芎草三錢當，</p>
<p>此是十全大補劑，自然毒化氣血剛。</p>
<p>此症或疑十全大補湯無化毒之品，又有加減十全大補湯亦可用，備載於後。</p>
<p>人參（一兩）　白朮（一兩）　當歸（一兩）　熟地（一兩）　麥冬（一兩）　甘草（三錢）　五味子（三錢）　錦地羅（三錢）　茯苓（五錢）　黃耆（二兩）</p>
<p>水煎服。</p>
<p><u>秘訣：</u></p>
<p>加減大補亦妙方，參朮歸地麥兩襄，</p>
<p>甘味地羅俱三錢，茯苓五錢耆二兩。</p>

<h2>肺癰論</h2>
<p>人有胸膈之間作痛，咳嗽之時，更加痛極，手按痛處，尤增氣急者，人以為肺經生癰也，誰知是肺熱以成癰乎？夫肺為嬌臟，藥石之所不能到者也，故為治甚難。肺受熱害，既已成癰，將何法以療之乎？治之法，似宜瀉火以救肺，然而肺藥不可入，而肺之母為脾，脾經未嘗不受藥也。肺之克為肝，肺之賊為心，二經未嘗不受藥也。補其脾經之土，則土能生金也。平其肝經之木，則金不能剋木也。清其心經之火，則火不來刑金也。三經皆有益於肺而無損乎金，則肺氣得養，而後以消毒之品，直解其肺中之邪，何患肺癰之不治乎？方用完肺湯：</p>
<p>金銀花（五兩）　麥冬（二兩）　玄參（三兩）　甘草（五錢）　天花粉（三錢）　茯苓（三錢）　白芍（三錢）</p>
<p>水煎服，一劑而痛減，二劑而內消矣。大凡肺癰之症，必須內消，而不可令其出毒。內消之法，總不外脾、肝、心三經治之，而別無求消癰之道也。或曰：肺之子腎也，獨不可治腎以消癰乎？不知肺癰之成，雖成於火爍肺金之液，實因肺氣之自虛也。補腎雖能使肺氣不來生腎，惟是肺腎相通，補腎之水恐肺氣不降，而火毒反不能速散，不若止治三經，使肺氣得養，自化其毒，不遺於腎之為妙也。</p>
<p><u>秘訣：</u></p>
<p>肺金生癰五兩金，麥冬二兩三玄參，</p>
<p>甘草五錢三花粉，茶芍亦然癰自泯。</p>
<p>此症方用地羅甘桔玄參湯亦效：</p>
<p>麥冬（二兩）　玄參（二兩）　甘草（一兩）　錦地羅（一兩）　桔梗（五兩）　貝母（五錢）</p>
<p>水煎服，二劑愈。</p>
<p><u>秘訣：</u></p>
<p>又有二兩麥玄參，一兩甘草一兩錦，</p>
<p>桔梗貝母五錢研，二劑毒化妙如神。</p>
<p>人有胸膈作痛，咳嗽吐痰，更覺疼痛，手按痛處，痛不可忍，咽喉之間，先聞腥臭之氣，隨吐膿血，此肺癰不獨已成，而且破矣。夫肺癰未破者易於消，已破者難於治，以膿血未能遽消耳。然治之得法，亦不難也。蓋肺之所以生癰者，因肺之火不散也。然肺火之來，因肺氣之虛也。肺虛而後火留於肺，火盛而後肺結為癰，不補虛而散火，而未成形者何以消，已成形者何以散，即潰爛者又何以愈哉？是虛不可不補，而補虛者將補何臟乎？必須補肺氣之虛，而肺不能直補其氣，補脾胃之虛，則肺氣自旺矣。今癰已破矣，多吐膿血，則肺氣愈虛，雖毒氣猶存，不可瀉其毒氣，於補氣之中而行其攻散之法，則毒易化而正氣無傷也。方用完肺湯：</p>
<p>金銀花（二兩）　人參（二兩）　玄參（二兩）　天花粉（三錢）　蒲公英（五錢）　甘草（三錢）　桔梗（三錢）　黃芩（一錢）</p>
<p>水煎服，一劑而膿必多，二劑而膿漸少，三劑而痛輕，四劑而又輕，五劑而疼痛而膿血亦止也，六劑而奏全功矣。此方補胃中之氣，而即瀉胃中之火，胃氣旺而肺氣自不能衰，胃火衰而肺火自不能旺，所以既能敗毒，又能生肉耳。雖諸藥不單走胃，然入胃者十之八，入肺者十之二，仍是治胃以治肺也。或問：「肺癰已破，病已入里，似不宜升提肺氣，喻氏（《辨證錄》作「南昌喻嘉言」）謂宜引之入腸，而先生仍用桔梗以開提肺氣，恐不可為訓」。嗟乎！余所用之藥，無非治胃之藥，藥入於胃，有不下引入腸者乎？然而肺氣困頓，清肅之令不行，用桔梗以清肺，上氣通而下行更速，是則上之開提，下之迅速，可斷言矣。</p>
<p><u>秘訣：</u></p>
<p>肺癰已破銀花參，玄參二兩粉三錢，</p>
<p>蒲公五錢甘桔三，黃芩一錢一同煎，</p>
<p>二劑三劑膿漸止，服至六劑癰自痊。</p>
<p>方用肺癰救潰湯亦神效：</p>
<p>玄參（一兩）　蒲公英（一兩）　金銀花（四兩）　紫花地丁（五錢）　菊花（五錢）　甘草（五錢）　陳皮（五錢）　黃芩（三錢）　桔梗（三錢）　款冬花（三錢）</p>
<p>水煎服，七劑愈。</p>
<p><u>秘訣：</u></p>
<p>消癰救潰參蒲銀，地丁菊甘五錢陳，</p>
<p>芩桔款冬三錢入，水煎七劑癰回春。</p>
<p>人有久嗽之後，肺管損傷，皮膚黃瘦，咽喉雌啞，自汗盜汗，臥眠不得，口吐稠痰，腥臭難聞，惟聞喘急，毛悴色焦。喘嗽之時，必須忍氣須臾，輕輕吐痰，始覺膈上不痛，否則大痛難堪，氣息奄奄，全無振興之狀者，人以為肺中癰也，誰知是肺痿而生瘡乎？此等之症，不易解救，然治之得法，調理又善，亦有生者。夫肺癰與肺痿不同，肺癰生於火毒，治之宜速。肺痿成勞傷，治之宜緩。大約火毒當補中而用瀉，勞傷宜補中而帶清。瀉與清不同，而補亦不同。惟是瀉中用補，可用大劑；清中用補，當用小劑，勿忘勿助，若有若無，始能奏功也。方用養肺去痿湯：</p>
<p>麥冬（三錢）　金銀花（三錢）　紫菀（五分）　百部（五分）　甘草（五分）　生地（二錢）　百合（二錢）　天冬（一錢）　款冬花（一錢）　貝母（一錢）　白薇（三分）</p>
<p>水煎服，服十劑而膈上痛少輕者，便有生機矣。再服十劑而更輕，再服十劑而漸愈，共服五十劑，而始痊愈也。此方不寒不熱，養肺氣於垂絕之時，保肺痿於將棄之頃，實有奇功。倘求捷效於一旦，必至輕喪於須臾，寧忍耐以全生，切勿欲速而送死也。</p>
<p><u>秘訣：</u></p>
<p>養肺救痿麥三銀，紫菀百部草五分，</p>
<p>生地百合二錢著，天冬一錢款貝存，</p>
<p>白薇三分水煎服，服五十劑病回春。</p>
<p>起痿延生丹亦效：</p>
<p>款冬花（五分）　百部（五分）　白薇（五分）　山豆根（五分）　甘草（一錢）　桔梗（一錢）　生地（五錢）　天花粉（五錢）　麥冬（五錢）　玄參（二錢）　天冬（一錢）</p>
<p>水煎服，連服十劑愈。</p>
<p><u>秘訣：</u></p>
<p>起痿延生款五分，百部白薇山豆根，</p>
<p>甘桔一錢生地粉，麥冬五錢二玄參，</p>
<p>天冬一錢勞傷去，連服十劑漸回春。</p>
<p>世有膏粱子弟，多食濃厚氣味，燔炙煎炒之物，時時吞嚼，或美醞香醪，乘興酣飲，逐至咽乾舌燥，吐痰吐血，喘息膈痛，不得安眠者，人以為肺經火熱也，誰知是肺痿已成瘡乎？夫肺為五臟之蓋，最喜清氣之熏蒸，最惡燥氣之炎逼。今所飲所食，盡為辛熱之物，則五臟之中，全是一團火氣。火性炎上，而肺金在上，安得不受其害乎？肺既受刑，不能下生腎水，腎水無源，則腎益加燥，勢必取資於肺金，而肺金又病，能不已虛而益虛，已燥而益燥乎？況各經紛紛來逼，火烈金燥，肺間生癰，必然之勢也。治之法，化毒之中益以養肺，降火之中濟以補腎，庶幾已成者可痊，未成者可散也。方用扶桑清肺散：</p>
<p>金銀花（一兩）　熟地（一兩）　阿膠（三錢）　桑葉（五錢）　紫菀（二錢）　甘草（二錢）　人參（三錢）　貝母（三錢）　百合（三錢）　杏仁（十枚）　款冬花（一錢）　犀角末（五分）</p>
<p>水煎服，調犀角末服，數劑可奏功也。此方肺腎同治，全不降火。蓋五臟之火，因飲食而旺，乃虛火上升而非實火也。故補其腎而肺氣堅，腎水足而虛火息矣。況補中帶散，則補非呆補，則火毒更易解也。</p>
<p><u>秘訣：</u></p>
<p>肺痿扶桑清肺散，銀熟一兩阿膠三，</p>
<p>桑葉五錢菀草二，參貝百合用三錢，</p>
<p>杏仁十枚款錢重，犀角五分沖服安。</p>
<p>方用銀花甘桔湯亦效：</p>
<p>丹皮（一兩）　金銀花（一兩）　生地（一兩）　玄參（一兩）　甘草（三錢）　桔梗（三錢）　貝母（三錢）</p>
<p>水煎服，四劑痛減，再用減半藥料，服數劑而痛乃止。</p>
<p><u>秘訣：</u></p>
<p>銀花甘桔丹皮金，生地一兩與玄參，</p>
<p>甘桔貝母三錢服，四劑減半再留心。</p>

<h2>無名腫毒論</h2>
<p>人有頭面無端，忽然生小瘡甚癢，第二日即頭重如山，第三日即面目青紫，人多不知此症，乃至險至危，若不急救，數日內必然一身發青而死。但青不至胸者，尚可治療。因其人素服房中熱藥，熱極而變為毒也……結於陰之部而成癰，結於陽之部而成毒。出於頭面者，乃陽之部位也，較之生於陰之部位者，更為可畏，非多用化毒之藥，安能起死回生者哉？方用回生丹：</p>
<p>金銀花（八兩）　甘草（五錢）　玄參（三兩）　蒲公英（三兩）　天花粉（三錢）　川芎（一兩）</p>
<p>水煎服，一劑而頭輕，青紫之色淡矣。再服一劑青紫之色盡消而瘡亦愈，不必三劑也。此方化毒而不耗氣，敗毒而不損陰，所以建功甚奇也。此毒原系水虧之極，而泄毒之藥，無不有損於陰陽。惟金銀花攻補兼妙，故用以為君，若少用其味單而力薄，多用則味重而力厚，又加玄參以去火，甘草以瀉毒，蒲公英以清熱，天花粉以消痰，川芎以散結，自然相助而奏效也。</p>
<p><u>秘訣：</u></p>
<p>無名腫毒回生丹，銀花八兩草五錢，</p>
<p>玄參蒲公三兩整，花粉三錢芎兩添，</p>
<p>一劑腫毒盡消去，二劑痊愈效如仙。</p>
<p>方用花錦散亦效：</p>
<p>錦地羅（八兩）　金銀花（八錢）　當歸（二錢）　天花粉（五錢）　甘草（五錢）</p>
<p>水煎服，一劑效，再續服。</p>
<p><u>秘訣：</u></p>
<p>花錦散用錦地羅，銀八二當粉五挪，</p>
<p>五錢同粉有甘草，一劑回生效無訛。</p>
<p>人有無名腫毒，生於思慮不到之處，而形勢凶惡，有生死之關，皆可以無名腫毒名之，不必分上、中、下也。前條止言頭面，而在身之左右前後，與手足四肢尚未言也。不知得其治法，無不可以通治；不得其法，不可妄治；失其治法，則害大矣。然在上者不可以治中，在中者不可以治下，在下者不可以治上中也。大約上、中、下之生毒，多起於淫欲無度之人，加之以氣怒憂憤，火乘其隙而蘊，故一發而不可制。所以言無名腫毒者，盡陰症而絕無陽症也。然則治之法，宜用解陰毒之藥矣。惟是解陰毒之藥，多半消爍真陰，因虛而結毒，復因解毒而虧陰，寧有陰乎？世之患是症者，往往不救，職是故也。余得異人之傳，仍於補陰之中而行其散郁之法，少佐解毒之品而微助其引經之味，是以多收奇功。余不敢秘，傳之書冊，以救萬世之人也。方用黑虎湯：</p>
<p>玄參（一斤）　甘草（一兩）　柴胡（三錢）</p>
<p>三味煎湯，十碗為善。若頭面腫毒者，加川芎一兩、附子二錢；生於身前後左右者，加當歸一兩、菊花一兩、附子三分；生於手足四肢者，加白朮二兩、茯苓二兩、附子五分。入藥湯中，再煎汁取三碗，二日服完。未破者立消，已破者生肌，不必二劑也。此方名黑虎湯，言惡毒得之盡散也。玄參能退浮游之火，得甘草之助，能解其迅速之威；得柴胡之輔，能舒其鬱結之氣。且又各有引經之味，引至結毒之處，大能為之祛除。妙在玄參一斤則力量更大，又妙在補中帶散，則解陰毒而不傷陰氣，所以奏功最神。萬勿驚其藥料之重，而不敢輕試也。若些小之症，又非陰毒，俱不必用此重劑，則又不可不知也。</p>
<p><u>秘訣：</u></p>
<p>黑虎湯中一兩甘，三錢柴胡一斤玄，</p>
<p>若是頭面腫毒者，川芎一兩附二錢，</p>
<p>生身前後左右者，歸菊一兩附子添，</p>
<p>手足四肢術二兩，茯苓二兩附五煎。</p>
<p>方用七聖湯亦治之：</p>
<p>蒲公英（四兩）　紫花地丁（四兩）　金銀花（四兩）　錦地羅（四兩）　當歸（三兩）　天花粉（五錢）　甘草（四錢）</p>
<p>水煎服。</p>
<p><u>秘訣：</u></p>
<p>七聖湯用蒲地丁，銀錦四兩歸三從，</p>
<p>粉五甘草四錢入，陰毒輕症急煎攻。</p>

<h2>對口瘡論</h2>
<p>人有對口之後，忽生小瘡，先癢後痛，隨至潰爛，人以為至凶之癰也。然而癰生正對口者猶輕，生於偏對口者乃重。蓋頸項之上，乃腎督脈之部位也，其地屬陰，所生癰疽，多屬陰癰，而非陽疽也。以陽症必高寸許，其色紅腫發光，疼痛呼號。而陰症則不然，色必黑暗，痛亦不甚，身體沉重，困倦欲臥，呻吟無力，其瘡口必不突起，或現無數小瘡口，人皆不知從何處覓頭。然陰陽二毒，皆可內消，何必令其皮破腫潰而後治之哉。至於內消之法，初起之時，不須分別陰陽，可俱用三星湯。惟既破潰腸，陰陽不分，而漫投藥餌，則禍生頃刻矣。若陽症潰爛，仍以三星湯治之；若陰症潰爛者，則須用神效湯。</p>
<p>三星湯：</p>
<p>金銀花（二兩）　蒲公英（一兩）　甘草（三錢）</p>
<p>水煎服，未破者，服之可消。已破者，三劑膿盡而肉生矣。</p>
<p><u>秘訣：</u></p>
<p>三星湯可治陽癰，二兩銀花一兩英，</p>
<p>甘草三錢服三劑，自然膿盡好肉生。</p>
<p>神效湯：</p>
<p>當歸（一兩）　黃耆（一兩）　人參（一兩）　金銀花（二兩）　白芍（一兩）　肉桂（一錢）　荊芥（三錢）</p>
<p>水煎服，一劑而血止，二劑而肉生，三劑而口小，四劑而皮合，再服二劑而痊愈矣。此方治各處癰毒，凡低陷不作膿而不能收口者，急服此藥，無不神效，不止治對口之陰毒，善能收功也。誠以陽症可以涼瀉，陰症必須溫補故耳。</p>
<p><u>秘訣：</u></p>
<p>神效湯中歸耆參，一兩白芍二兩金，</p>
<p>桂一荊三水煎好，陰癰六劑可回春。</p>
<p>方用三花湯亦效：</p>
<p>川芎（一兩）　紫花地丁（一兩）　當歸（二兩）　菊花（五錢）　天花粉（三錢）</p>
<p>水煎服，二劑愈。</p>
<p><u>秘訣：</u></p>
<p>癰不作膿三花湯，芎紫一兩二兩當，</p>
<p>甘菊五錢三花粉，止服二劑妙無雙。</p>
<p>對口有偏、正之不同：發於正者是督脈所生，偏者乃太陽膀胱所司。督脈行於下，而貫脊行於上，毒氣得之，反能衝突高起，邪毒不致下流，乃為外發，故易治。由膀胱發者難治，以膀胱之脈起於巔頂，貫脊兩旁，順下而行，與癰毒交會下流，故瘡多平塌難起，不發紅腫潰爛，易流注於兩肩而作腫，十五日無膿者，必然變陽歸陰，故多難治也。</p>

<h2>腦疽論</h2>
<p>人有生癰疽於頭頂者，初名腦疽，又名偏正對口，而非真正癰疽也。此症九死一生，然治之得法，亦可救也。大約生此症者，皆因腎火沸騰也。蓋腦為髓海，原通於腎，腎無火則髓不能化精，腎火盛則髓亦不能化精。不特不能化精，隨火之升降，則化為毒而生癰疽矣。蓋腎之化精，必得腦中之氣以相化，若腦中無腎火，勢必氣化為火，火性炎上，不及下降，於是腦中髓海，自化為毒，較之腦氣下流而成毒者，其毒更甚，往往更變形容，改變聲音，瘡色紫黑，口乾煩躁，隨飲隨渴，甚者腦骨俱腐，片片脫落，其狼狽之狀，莫可形容，將何以救之耶？此症治法，須問其飲食如何，倘飲食知味，尚可以救，方用五靈湯：</p>
<p>玄參（三兩）　麥冬（三兩）　金銀花（八兩）　黃耆（四兩）　人參（二兩）</p>
<p>水煎服，連服四劑，其癰疽漸愈，改用十全大補湯重四兩，服四劑，又改用八味地黃湯，恣其酣飲，可獲痊愈矣。此症十有九死，然而余立一法，實無第二法也。此症得於房勞者居多，興陽澀精，俱是丹石燥烈之品，或洗或嚼，或含於口，或納於臍，霸阻精道，久戰不已，日積月累，真陰枯澀，髓竭火發，遂潰頂門，多致不救。人何苦貪婦人之歡，以千金之命，而輕於夜臺也。</p>
<p><u>秘訣：</u></p>
<p>頂上生疽用五靈，三兩玄參及麥冬，</p>
<p>銀花八兩黃耆四，人參二兩四劑功。</p>
<p>此症用蔓花湯亦效：</p>
<p>玄參（二兩）　山茱萸（二兩）　金銀花（二兩）　川芎（一兩）　貝母（三錢）　蔓荊子（三錢）</p>
<p>水煎服，一劑即消，二劑痊愈。</p>
<p><u>秘訣：</u></p>
<p>腦癰蔓花用元參，二兩山萸二兩金，</p>
<p>川芎一兩三錢貝，蔓荊子二效如神。</p>

<h2>囊癰論</h2>
<p>人有陰囊左右而生癰毒者，名曰便毒。生於腎囊之下，穀道之前，名曰囊癰。二者之間，便毒易治，而囊癰難療也。以囊之下為懸癰，其皮肉與他處不同。蓋他處皮肉，或橫生，或直生，俱易合；而懸癰之處，橫中有直，直中有橫，一有損傷，不易收功。然治之得法，未嘗難也。此等之症，皆少年貪於酒色，或入花街而酣戰，或入柳巷而恣歡……往往多生此瘡者，所謂「欲泄不泄，精化為膿血」是也。治之法，必須大補其虛，而佐以化毒之品。以毒因虛而成，不治乎虛，癰安得痊？方用逐邪至神丹：</p>
<p>金銀花（四兩）　蒲公英（二兩）　當歸（二兩）　大黃（五錢）　人參（一兩）　甘草（一兩）　天花粉（二錢）</p>
<p>水煎服，一劑而毒消，二劑而痊愈，潰者三劑可以收功矣。此方用銀花、公英佐之歸參大黃之大料，未免過於伯（霸）道，況大虛之病，又用大黃以祛逐，似乎非宜？誰知毒氣甚盛，乘其初起之時，正氣未衰，而大補大瀉之為得乎？倘因循失治，或畏縮而不敢治，及治流膿出血，正氣蕭索，始用參耆補氣，往往有用至數斤而尚未能復元，何若早用於化毒之中，正氣無傷，而毒又易散哉？此因勢利導之法，又不可不知也。</p>
<p><u>秘訣：</u></p>
<p>逐邪神丹銀四兩，二蒲歸兮五大黃，</p>
<p>一兩參草二錢粉，水煎三劑消癰囊。</p>
<p>方用八聖丹治之亦效：</p>
<p>金銀花（四兩）　歸尾（一兩）　人參（二兩）　柴胡（三錢）　黃芩（三錢）　黃柏（三錢）　貝母（三錢）　梔子（三錢）</p>
<p>水煎服，一劑輕，二劑效，毒已出，即可勿服。</p>
<p><u>秘訣：</u></p>
<p>八聖丹中四兩金，一兩當歸二兩參，</p>
<p>柴胡芩柏三錢入，貝梔亦然研去心。</p>
<p>人有飲酒入房，精不得瀉，至半夜，煩熱煩渴，小便淋赤，痰涎湧盛，第一日陰囊腫脹焮痛，明日陰囊處肉腐，玉莖下帖囊者亦腐，人以為酒毒也，誰知是肝火得酒濕而肆瘧乎？夫酒濕何至腐爛？蓋火酒大熱之物也，人過飲火酒，多致醉死，死後往往身體腐爛，乃火酒之毒也……治之法，解酒毒而補氣血，則濕熱祛而腐肉可長，患可愈矣。方用救腐湯：</p>
<p>人參（一兩）　白朮（一兩）　當歸（二兩）　黃耆（二兩）　茯苓（五錢）　玉米（五錢）　白芍（一兩）　黃柏（二錢）　澤瀉（二錢）　葛根（二錢）　梔子（二錢）</p>
<p>水煎服，四劑腐肉脫而新肉生，再服四劑囊莖悉平復矣。夫酒毒成於拂抑，平肝瀉火，利濕解毒可也，何以又用參、耆、歸、術以補其氣血耶？大凡氣血盛者，力能勝酒，縱酣飲而無礙。服火酒而腐爛，因火酒而結毒，亦因氣血之衰，力不能勝酒毒耳。所以兩火相合，遂至焚身腐肉，若不急補氣血，則酒毒難消，而腐肉又何以能速生肌長肉哉？</p>
<p><u>秘訣：</u></p>
<p>參朮一兩二歸耆，茯苓五錢並玉米，</p>
<p>白芍兩重二四劑，黃柏澤葛二錢梔。</p>
<p>方用異寶散亦效：</p>
<p>茯苓（一兩）　冰片（三分）　黃柏（五錢）　瓦草（五錢）　青苔（五錢）　兒茶（五錢）　麝香（八分）　樟腦（三錢）　乳香（二錢）　沒藥（二錢）</p>
<p>為末，撒於患處，水無流出，即不再腐矣。</p>
<p><u>秘訣：</u></p>
<p>又有異寶撒囊癰，一兩茯苓三分冰，</p>
<p>黃柏瓦草各五錢，青苔兒茶一樣同，</p>
<p>麝香八分樟三錢，乳香沒藥二錢從。</p>

<h2>臂癰論</h2>
<p>人有兩臂之間，忽然生瘡而變成癰疽者，亦陰癰也。雖較頭面對口肩背上稍輕，然治之不得其法，亦能殺人，必須辨其陰陽治之。大約陽症必紅腫而疼痛則易治，陰症必漫腫麻癢則難療。陽症宜用三星湯，一二劑則消；陰症則不可用，必須大補氣血，而佐以消痰化毒之劑，始能奏功，豈可謂手足非心腹之疾，不必補虛乎？夫陰主靜，而手足乃至動者也。動而生陰疽，則動變為靜，亦非常之道也，可不畏哉！況動變為靜，又趨陰之道也。陽趨於陰，則生近於死矣。欲陽返陰易，欲陰返陽難，誰謂手足之癰，而可小視之哉？方用消癰還陽丹：</p>
<p>白朮（一兩）　黃耆（一兩）　人參（三錢）　天花粉（三錢）　當歸（五錢）　金銀花（二兩）　肉桂（一錢）　乳香（一錢）　甘草（三錢）</p>
<p>水煎服，一劑陰返陽而癢變痛，二劑而痛如失，三劑全消，不必四劑也。此方與神效湯（《辨證奇聞》、《辨證錄》作七聖湯）相似，而意各異。神效湯內無乳香、天粉，能治潰爛，長肉生肌。此方治未潰者，而能內消也，加乳香、天粉二味以攻中，有擁衛之力耳。</p>
<p><u>秘訣：</u></p>
<p>還陽神丹治臂癰，白朮黃耆一兩同，</p>
<p>參粉三錢歸五錢，銀花二兩桂錢從，</p>
<p>乳香一錢三錢草，陽症方可服三星。</p>
<p>此症用轉攻湯亦治之：</p>
<p>黃耆（二兩）　甘草（三錢）　貝母（三錢）　當歸（一兩）　白朮（一兩）　肉桂（一錢）　遠志（五錢）　紫花地丁（五錢）</p>
<p>水煎服。</p>
<p><u>秘訣：</u></p>
<p>轉攻湯中二兩耆，甘貝三錢去心宜。</p>
<p>歸術一兩桂一錢，五錢遠志地丁隨。</p>

<h2>乳癰論</h2>
<p>人有乳上生癰，先腫後痛，寒熱往來，變成瘍癰，此症男女皆有，而婦人居多。蓋婦生子，抱兒食乳，偶然困睡，兒以口氣吹之，乳內之氣塞不通，遂成乳疾。此時若以解散之藥治之，可隨手而愈。倘因循失治，而乳癰之症成矣。男子則不然，陽明胃火熾盛，不上騰於口舌，而中壅於乳房，乃生此症。乳癰不比他處之癰有陰陽之別，故治法亦無陰陽之判，但別其先後之虛實耳。初起多為邪實，潰爛乃為正虛也。雖然邪之有餘，仍是正之不足，治宜補中散邪，乃萬全之道，正不必分先宜攻而後宜補也。方用和乳湯：</p>
<p>當歸（一兩）　蒲公英（一兩）　貝母（三錢）　天花粉（三錢）　甘草（二錢）　穿山甲（一片）</p>
<p>水煎服，一劑而乳通腫亦消矣，不必二劑也。此方用貝母、花粉者，消胃中之壅痰也，壅散而乳房之氣通矣。佐以公英、山甲解其熱毒，利其關竅，自然不攻而毒散矣。惟恐前藥過於迅速，加當歸、甘草補正和解，則正無傷而邪自退，何慮餘毒不行而變乳岩哉？</p>
<p><u>秘訣：</u></p>
<p>和乳一兩歸蒲公，三錢貝母花粉同，</p>
<p>山甲一片二錢草，服下一服乳房通。</p>
<p>此症用消化無形湯亦效：</p>
<p>金銀花（一兩）　當歸（一兩）　甘草（三錢）　天花粉（三錢）　通草（一錢）　紫背天葵（五錢）</p>
<p>水煎服，一劑即消。</p>
<p><u>秘訣：</u></p>
<p>又有消化無形湯，銀花一兩當歸行，</p>
<p>甘粉三錢通草一，紫背天葵五錢良。</p>
<p>人有先生乳癰，收口後不慎房事，以致復行潰爛，變成乳岩，現出無數小口，而瘡口更加腐爛，似蜂窩之狀，肉向外生，終年累月不愈，服敗毒之藥而愈甚。人以為毒深結於乳房也，誰知是氣血大虛乎？夫乳癰成岩，肉向外生，而筋束乳頭，則傷乳即傷筋也。此症必須急救，否則有筋弛難長之虞矣。夫筋弛而又泄精，泄精則損傷元氣，安得不變出非常乎？當失精之後，即用補精填髓之藥，尚不致如此之橫，今既因虛而成岩，復見岩而敗毒，不已虛而益虛乎？無怪其愈治而愈壞也。治之法，必須大補其氣血以生其精，不必再瀉其毒，以其病無毒可瀉耳。方用化岩湯：</p>
<p>茜草根（二錢）　白芥子（二錢）　人參（一兩）　忍冬藤（一兩）　黃耆（一兩）　當歸（一兩）　白朮（土炒，二兩）　茯苓（三錢）</p>
<p>水煎服，連服二劑而生肉紅潤，再服二劑而膿盡痛止，又二劑漏管重長，又二劑痊愈，再二劑永不復發矣。此方全在補氣補血，而不事消痰化毒之治。忍冬雖為消毒之藥，其性亦補，況入於補藥之中，亦純乎補矣。惟是失精變岩，似宜補精，乃不補精而止補氣血，何也？蓋精不可以速生，補精之功甚緩，不若補其氣血，氣血旺則精生矣。且乳房屬陽明之經，既生乳癰，未能多氣多血，補其氣血，則陽明之經既旺，自然生液生精以灌注於乳房，又何必復補其精，以牽制參耆之功乎？此所以不用生精之味耳。</p>
<p><u>秘訣：</u></p>
<p>化岩湯中茜草根，二錢白芥一兩參，</p>
<p>忍冬耆歸亦一兩，白朮二兩苓三錢。</p>
<p>方用延仁湯亦效：</p>
<p>人參（一兩）　當歸（一兩）　白朮（一兩）　熟地（一兩）　麥冬（一兩）　山茱萸（五錢）　甘草（一錢）　陳皮（五分）</p>
<p>水煎服，四劑效。</p>
<p><u>秘訣：</u></p>
<p>乳岩宜用延仁湯，參歸術地麥兩襄，</p>
<p>山萸五錢一錢草，陳皮五分四劑良。</p>
<p>人有左乳忽腫如桃，皮色不變，又不痛，身體發熱，形容漸瘦，人以為痰氣鬱結也，誰知是肝氣之不舒乎？夫乳屬陽明，而乳癰宜責之陽明胃經，余獨言肝者何也？蓋陽明胃土，最怕肝木之克，肝氣不舒，則胃氣亦不舒耳。況乳又近於兩脅，正肝之部位也。與肝相遠，尚退縮而不敢舒，與肝為鄰，亦何敢恣肆而吐氣哉？氣不舒而腫滿之形成，漫腫無頭不痛不赤，正顯其畏懼也。治之法，不必治陽明之畏，但治肝經之郁，自然毒消腫解矣。方用加味逍遙散：</p>
<p>柴胡（二錢）　川芎（一錢）　甘草（一錢）　人參（一錢）　當歸（三錢）　白朮（三錢）　半夏（三錢）　茯苓（三錢）　陳皮（三錢）　瓜蔞仁（三錢）　白芍（五錢）</p>
<p>水煎服，服十劑而內消，去瓜蔞再服十劑不再發矣。逍遙散善解肝氣之郁，肝氣鬱解而胃氣自舒矣。況益之瓜蔞、半夏、陳皮，專能治胸中之積痰，痰去則腫亦易消也。</p>
<p><u>秘訣：</u></p>
<p>逍遙加味二錢胡，芎草人參一錢煮，</p>
<p>歸術夏苓陳三錢，蔞仁亦三白芍五。</p>
<p>此症用歸芍二通湯亦效：</p>
<p>當歸（一兩）　白芍（五錢）　柴胡（三錢）　木通（一錢）　通草（一錢）　枳殼（二錢）　穿山甲（一片）　山楂（十個）　桃仁（十粒）　花粉（三錢）</p>
<p>水煎服，二劑效，繼續服。</p>
<p><u>秘訣：</u></p>
<p>歸芍二通治乳岩，當歸一兩芍五錢，</p>
<p>柴粉三錢二通一，枳殼山甲楂桃全。</p>
<p>婦人產後，忽兩乳細小，下垂過腹，疼痛難忍，人以為懸癰也，誰知是胃經氣血之燥乎？蓋胃為水穀之海，而多氣多血之腑也。夫產後亡血過多，則胃中空虛，而飲食不能遽進，即進飲食，而各臟腑取給於胃甚急，則胃氣困矣。胃氣困而胃血則燥矣。胃血燥無以解各臟腑之紛爭，且小兒又索母乳，則內外取資於胃，胃無以應。乳房者，胃之外廓也；乳頭者，胃之門戶也。胃苦內之紛爭，欲避出於外而不可得，況小兒日夜吮咂，則兩乳細小下垂，以至於腹，有外遁難藏，入地無門之狀，此倒懸切膚之痛，至危之症也。治之法，急救胃氣，而益之補血之味，則胃氣潤而不燥，胃氣和平，自然分給於臟腑，又何至外痛而倒懸哉？方用解懸湯：</p>
<p>人參（二兩）　川芎（二兩）　當歸（四兩）　荊芥（三錢）　炮姜（一錢）　麥冬（一兩）　益母草（三錢）</p>
<p>水煎服，四劑而乳頭收，再四劑痊愈矣。此方用人參以生胃氣於無何有之鄉；用當歸、川芎以生新血於危急之地；用荊芥、益母草以解臟腑之紛爭，得歸於經絡；用麥冬、炮姜者，因陽明胃火之燥，未免火動而延燒，產後不宜寒涼之藥，故用麥冬微寒之品，少解其火勢之烈也。</p>
<p><u>秘訣：</u></p>
<p>乳垂疼痛解懸湯，參芎二兩四歸襄，</p>
<p>荊芥三錢益母草，炮姜一錢麥兩嘗。</p>
<p>此症方用玉漿丹亦效：</p>
<p>人參（二兩）　玄參（二兩）　麥冬（二兩）　當歸（一兩）　生地（一兩）　麻黃（一錢）　五味子（一錢）</p>
<p>水煎服，二劑效。</p>
<p><u>秘訣：</u></p>
<p>潤胃益氣是玉漿，人參玄參麥二兩，</p>
<p>歸地一兩麻黃錢，五味同麻二劑康。</p>

<h2>肚癰論</h2>
<p>人有生癰於小肚之間，斷無陽毒之症，以其屬於陰之部位也。陰位生陰毒之症，似乎至重，然治之得法，一用陽藥，立可成功。無奈世人一見肚腹生瘡，往往多用陰藥以消毒，反致癰成難救之症，良可憫也！然余所謂陽藥者，非散火祛風之藥，乃補氣溫火之味耳。蓋陰地而結成陰毒者，乃虛寒之故也。寒因虛而不行，毒因寒而鬱結，故用熱藥以祛寒，自能寒解而毒散也。方用祛寒救腹丹：</p>
<p>白朮（三兩）　金銀花（三兩）　茯苓（三錢）　肉桂（三錢）　附子（一錢）　當歸（五錢）　蛇床子（五錢）</p>
<p>水煎服（按：《辨證奇聞》、《辨證錄》當歸作二兩），一劑而癰消矣，倘已潰者三劑而膿盡肉生矣，四劑痊愈。此方用白朮為君，專利腰臍之氣，腰臍之氣利，則下腹之部位盡利矣。佐以金銀花、蛇床子以祛其毒氣，則毒氣易消矣。然恐寒涼之藥不能直入，故加附子、肉桂，斬關突圍而進也。惟是桂、附、朮、床俱是乾燥之品，毒雖祛除，未免耗血，故用當歸陽中滋陰，少制其燥，則陰寒散而又無陽旺之虞，所以既能奏功而又無後患也。</p>
<p><u>秘訣：</u></p>
<p>祛寒救腹術銀三，苓桂三錢附一錢，</p>
<p>歸床五錢一服消，已潰四劑妙如仙。</p>
<p>此症方用鳴寶丹亦效：</p>
<p>黃耆（二兩）　甘草（三錢）　白朮（二兩）　金銀花（二兩）　車前子（五錢）　蛇床子（五錢）　柴胡（一錢）　肉桂（一錢）　貝母（一錢）　山茱萸（一錢）</p>
<p>水煎服，一劑消，二劑愈，加人參用之更妙。</p>
<p><u>秘訣：</u></p>
<p>肚癰須用鳴寶丹，黃耆二兩草三錢，</p>
<p>術銀二兩車床五，柴桂貝萸一錢添。</p>

<h2>惡疽論</h2>
<p>人有四肢之間，或頭面之上，忽然生疽，頭黑皮紫，痛楚異常，此陽症之毒也。治不得法，亦能殺人。蓋陽症之毒，其毒甚驟，即用敗毒之藥治之，可隨手而愈。然而疽與癰，實有不同。癰潰於內，而疽腫於外也。潰於內者，難於外治；腫於外者，易於內消。雖癰疽之毒，盡由內而發外，無不可內治而外愈也。而疽尤宜內治，方用消疽湯：</p>
<p>夏枯草（二兩）　忍冬藤（二兩）　當歸（二兩）　連翹（三錢）　生地（三錢）　地榆（三錢）　天花粉（三錢）　白芷（二錢）　甘草（二錢）</p>
<p>水煎服，未潰者二劑即消，已潰者四劑痊愈矣。此方通治惡疽之方也，凡生疽者，以此方治之，無不神效。蓋補血散毒，則血活而毒難留；涼血清火，則血寒而火易散。疽多陽症，所以治無不宜也。</p>
<p><u>秘訣：</u></p>
<p>消疽湯用夏枯草，忍冬當歸二兩攪，</p>
<p>連翹二地粉三錢，白芷二錢甘草好。</p>
<p>又治惡疽方：</p>
<p>荊芥（三錢）　甘草（三錢）　天花粉（三錢）　當歸（一兩）　玄參（一兩）　金銀花（八錢）　陳皮（一錢）　蒲公英（五錢）　牛蒡子（二錢）</p>
<p>水煎服，若在咽喉者加桔梗三錢；若在下身者加地榆三錢。</p>
<p><u>秘訣：</u></p>
<p>又有一方治惡疽，荊芥甘粉三錢許，</p>
<p>歸玄一兩銀八錢，陳一英五二牛子，</p>
<p>若在咽喉三錢桔，下身生兮加地榆。</p>

<h2>疔瘡論</h2>
<p>人有生疔瘡者，一時疼痛難忍，此陽毒而非陰毒也。但初生時，人最難辨。世人以生黃豆令病人口嚼，不知辛生之味便是疔瘡，此辨證之訣也。其瘡頭必發黃泡，或現紫黑之色。更須細看泡中，必有紅白一線，通出於泡外。大約疔生足上者，紅線由足而入臍。疔生手上者，紅線由手而入心。疔生唇上者，紅線由唇而走喉。如見此紅線透出，即在紅線處用針刺出毒血，以免毒攻心。若現白線之絲，則不必刺也。治之法，總以消毒瀉火為主。方用拔疔散：</p>
<p>紫花地丁（一兩）　菊花（一兩）</p>
<p>水煎服，一劑而紅線除，二劑而疔毒散，三劑痊愈矣。若已潰爛，亦用此方，但加當歸二兩，不必四劑毒盡而肉生矣。</p>
<p><u>秘訣：</u></p>
<p>方名拔疔只二味，地丁菊花各兩配，</p>
<p>毒若初起服三劑，已潰再加二兩歸。</p>
<p>此症用散疔散亦妙：</p>
<p>夏枯草（一兩）　紫花地丁（一兩）　連翹（三錢）</p>
<p>水煎服，一劑即削矣。</p>
<p><u>秘訣：</u></p>
<p>還有散疔亦效味，枯草地丁一兩計，</p>
<p>連翹三錢一劑消，何必瑣碎服三劑。</p>

<h2>唇疔論</h2>
<p>人有生疔於唇上，或在口角之旁，或在上下唇之際，不必論其大小，皆因脾胃之火毒也。最宜速散，否則毒氣炎熾，難於飲食，往往有腐爛而死者。然疔愈小，而其毒愈橫也。治之法，宜急瀉火毒，而又不可損傷脾胃之氣，則毒不難散矣。方用救唇湯：</p>
<p>金銀花（一兩）　地丁（一兩）　甘草（一兩）　桔梗（一兩）　知母（一錢）　白果（二十一個）</p>
<p>水煎服，一劑而疼痛止，二劑而瘡口消，三劑痊愈，未爛四劑，已爛五劑收功矣。此方治頭面上之疔瘡，俱可獲效，而治口唇之疔，更為神驗。白果、桔梗善走口唇，引銀花，地丁至於生瘡之處，則能盡解其毒也。</p>
<p><u>秘訣：</u></p>
<p>救唇湯能治唇疔，銀丁兩用甘桔梗。</p>
<p>知錢白果二十一，未爛四劑爛五功。</p>
<p>此症方用護唇湯亦效：</p>
<p>地丁（一兩）　麥冬（一兩）　玄參（一兩）　夏枯草（一兩）　甘草（三錢）</p>
<p>水煎服，二劑效。</p>
<p><u>秘訣：</u></p>
<p>又有療唇護吻湯，地丁麥玄枯草兩，</p>
<p>再加三錢生甘草，服止二劑妙非常。</p>

<h2>鬢疽論</h2>
<p>人有兩鬢之中，忽然生疽，紅腫高突，頭面眼鼻浮腫，其狀不堪，異乎尋常相貌，此陽毒也。蓋兩鬢近於太陽，乃陽之位也，陰氣不能至此部位。兩鬢生疽，當以陽症治之。然而雖是陽症，往往有變為陰症者，故於陽藥中必須加入陰分之藥，以防其變。若以潰爛，更須陰藥多於陽藥，則消息而善治之也。方用理鬢湯：</p>
<p>金銀花（三兩）　白芷（三錢）　當歸（一兩）　川芎（一兩）　夏枯草（一兩）</p>
<p>水煎服，未潰者二劑即消，已潰者四劑即消矣。此方用金銀花、夏枯草以解火毒，白芷、川芎引入兩鬢、太陽之間，則金銀花、夏枯草更得施其祛逐之功。又妙在當歸之補氣血，則陰陽雙益，正足而邪散，安得不速愈哉！</p>
<p><u>秘訣：</u></p>
<p>理鬢湯能治鬢疽，銀花三兩芷三錢，</p>
<p>芎歸一兩氣血壯，枯草一兩用水煎。</p>
<p>此症方用蒿草飲亦效：</p>
<p>青蒿（一兩）　玄參（一兩）　川芎（一兩）　生地（一兩）　夏枯草（一兩）　細辛（一錢）　蔓荊子（一錢）</p>
<p>水煎服，二三劑效。</p>
<p><u>秘訣：</u></p>
<p>蒿草飲是蒿玄芎，生地枯草一兩同，</p>
<p>細辛蔓荊一錢許，二劑三劑效無窮。</p>

<h1>青囊秘訣下卷</h1>

<h2>楊梅瘡論</h2>
<p>人有關心愛妓之歡，戀爐酣戰，自覺馬口如針刺之痛，此毒氣已過也。未幾而生魚口矣，未幾而生疳瘡，又未幾而遍身亦生瘡矣，黃膿氾濫，臭腐不堪，人以為毒盛，多用敗毒之藥，誰知愈敗毒而瘡愈盛，瘡愈多而愈不易愈，往往有腐爛而死者，實可傷也！蓋楊梅之毒，每中於泄精之時，精泄則元氣虧虛，故毒乘虛而入。若元氣足，則毒雖入而傳染，不過輕微之毒，可以一泄而愈。今遍身瘡毒發出，明是大虛之症，而毒深中於內，不補虛以泄毒，焉能奏功？倘用敗毒之藥，無異下石矣！方用二生湯：</p>
<p>土茯苓（三兩）　生黃耆（三兩）　生甘草（三錢）</p>
<p>水煎服，四劑瘡漸紅，再四劑漸干，又四劑痊愈矣。服此方忌茶。此方妙在不以解毒為事，止用黃耆以補氣，氣旺而邪自不留。得生甘草以化毒，而佐之以土茯苓以引毒，毒去而正無虧。蓋氣生而血不難養，此治之巧者也。偏德湯亦妙：</p>
<p>金銀花（四兩）　當歸（二兩）　白朮（二兩）　土茯苓（一兩）　天花粉（三錢）　甘草（五錢）</p>
<p>水煎服，十劑愈。</p>
<p><u>秘訣：</u></p>
<p>二生湯能治楊梅，土苓三兩生黃耆，</p>
<p>甘草三錢過十劑，始紅漸干瘡可醫。</p>
<p>又有治梅銀四兩，歸術二兩土茯兩。</p>
<p>花粉三錢五錢草，服至十劑一掃光。</p>
<p>人有龜頭生疳，乃服敗毒之藥，欲毒小便而出。若大腸燥結，則攻毒之藥，不能徑走大腸，勢必盡趨膀胱而出。蓋膀胱口細，小便亦細，毒難泄出，於是毒不留於腸中，而反結於外勢，毒盛必發，安得不腐爛哉？往往有龜頭爛落，連莖亦爛，世人多以外藥敷之。外藥固不可少，然不先消其內之火毒，而遽用外藥敷之，不啻如石之壓草萌芽也，勢必復發。宜先用湯劑治之，方名散毒丹：</p>
<p>土茯苓（一兩）　黃柏（一兩）　甘草（一兩）　梔子（炒研，一兩）　肉桂（一錢）</p>
<p>水煎服，四劑則火自從小便而出，疼痛少止，然後用生勢丹敷之。</p>
<p>生勢丹：</p>
<p>兒茶（一兩）　生甘草（一兩）　炒黃柏（三兩）　冰片（三分）　硃砂（一錢）　乳香（三錢）　沒藥（三錢）　大黃（三錢）</p>
<p>研為細末，磁（瓷）瓶收貯。敷患處數日而膿盡血乾，抹至一月，肉筋再長而愈。愈後宜大補氣血，急用十全大補湯連服一二月，則外勢仍能伸縮，尚可種子。否則多服敗毒之藥，瀉火之劑，則命門寒涼，而外勢亦且冰冷，安能陽和之驟復哉？此前後治法之各異，實有次序也。</p>
<p><u>秘訣：</u></p>
<p>龜頭腐爛散毒丹，苓柏草梔一兩煎，</p>
<p>肉桂一錢四劑止，然後再敷生勢丹。</p>
<p>生勢丹敷龜頭藥，兒茶甘草一兩著，</p>
<p>炒柏三兩冰三分，硃砂一錢乳沒藥，</p>
<p>大黃三錢共細末，敷至一月患自瘥。</p>
<p>此症方用護身湯亦效：</p>
<p>玉米（一兩）　金銀花（一兩）　土茯苓（一兩）　肉桂（三分）　黃柏（二錢）　車前子（三錢）</p>
<p>水煎服，連服十劑愈。</p>
<p><u>秘訣：</u></p>
<p>護身湯中玉米金，茯苓一兩桂三分，</p>
<p>車前三錢黃柏二，連服十劑可回春。</p>
<p>人有疳瘡初發，魚口將生，若不速治，必遍身生瘡、遷延歲月，身體腐爛，多不可救，必須早治為妙。然而早治之法，世人多用五虎散敗毒，雖毒從下泄，而損傷元氣，未為得法。設或敗毒之藥少減，又恐有留毒之虞，亦非治法之妙。蓋毒氣之入，因元氣之虛也。虛而敗毒，是已虛而益虛也，則毒將何以解乎？治之法，惟補中有泄，則毒盡散，而正氣又無虧矣。方用早奪湯：</p>
<p>人參（一兩）　白朮（一兩）　當歸（一兩）　黃耆（一兩）　大黃（一兩）　金銀花（一兩）　土茯苓（一兩）　石膏（一兩）　甘草（三錢）　遠志（三錢）　天花粉（三錢）　柴胡（二錢）</p>
<p>水煎服，一劑泄出惡物，宜掘土埋之；再服二劑而臭穢惡物，無留於腸胃矣。然後減去大黃、石膏，加土茯苓二兩，同前藥再煎服四劑，則一身上下與頭面之間，必有隱隱瘡影現於皮膚之內，再服二劑而瘡影亦盡消矣。再服二劑，則永不生瘡矣。此方用大黃以瀉毒，石膏以清毒，甘草、銀花以化毒，柴、粉以散毒，又佐以大補氣血之藥，有似三軍過勇，士卒強健，統帥大軍，斬殺無遺，則四野蕭條，元氣盡矣！用參、耆、歸、術之類，以至仁而佐至勇，則剿撫兼施，軍聲更振，前徒倒戈，自獲全勝。少祛除則賊化為良，豈敢仍為盜哉！此方有益於風流子弟不少，余實親視而實驗者也。倘病人陰虛陽燥，方中可加熟地數兩，或加玄參一兩亦可，余品不可亂加也。</p>
<p><u>秘訣：</u></p>
<p>參朮歸耆早奪湯，大黃銀苓石膏兩，</p>
<p>甘草遠志粉三錢，柴二一劑泄毒良。</p>
<p>再服四劑穢盡去，土苓二兩去膏黃，</p>
<p>陰虛陽燥加玄地，水煎服之妙難量。</p>
<p>方用泄穢丹亦妙：</p>
<p>蒲公英（三兩）　金銀花（三兩）　當歸（一兩）　大黃（五錢）　王不留（三錢）</p>
<p>水煎服，水十碗，煎成二碗，徐徐服。</p>
<p><u>秘訣：</u></p>
<p>泄穢神丹蒲公英，銀花三兩歸兩從，</p>
<p>大黃五錢三不留，十碗煎二徐服輕。</p>
<p>人有遍身生楊梅，而服輕粉，一時收斂，以圖目前遮飾，誰知毒藏於內，必然外潰。未幾而毒發於鼻，自覺臭氣衝鼻而出。又幾日而鼻色變黑，不聞香臭矣。此等症見，必須急治。否則鼻柱自傾，一至腐爛，便不可救。然用些小之劑，亦無益也。蓋毒勢甚盛，杯水難濟。況楊梅結毒，不結於他處，而結於鼻中，其毒更勝，以毒不在他臟，而在肺經也。肺主氣者，主清氣也，毒氣非清氣可比。毒氣在肺，則清氣盡力毒氣矣。肺氣出於鼻，而藏於腎，腎感毒氣，移之於肺，以散於皮膚，則毒氣可以外出。今用輕粉收斂，則毒不得發於皮膚，而盡歸還肺中；肺欲歸還於腎，而腎不受，乃上衝於鼻矣。鼻孔細小，安能遽泄乎？自然毒氣盡結於鼻，而鼻乃獨受其禍矣。治之法，必須多用散藥以解毒。然肺經之病，不能直治，必須隔一、隔二治之而後可也。方用護鼻散：</p>
<p>金銀花（三兩）　玄參（三兩）　麥冬（二兩）　桔梗（五錢）　甘草（五錢）　天花粉（五錢）　丹砂（生沖，一錢）</p>
<p>水煎調丹砂末，服一劑而鼻知香臭矣，服四劑而鼻黑之色去，不必憂鼻之爛落矣。更用全鼻散：</p>
<p>玄參（一兩）　金銀花（一兩）　當歸（一兩）　丹砂（一錢）　麥冬（五錢）　人參（三錢）　甘草（三錢）</p>
<p>水煎服，十劑而一身之毒盡出，可保無虞。前方過於勇猛，所以救其急，後方近乎和平，所以補其虛。而丹砂前後皆用者，以輕粉之毒非丹砂不能去。輕粉乃水銀所燒，而丹砂乃水銀之母，子見母自然相逢，而不肯相離，所以丹砂出而輕粉亦出，此世人之所未知耳。倘鼻梁已傾，腐爛不堪，宜以前護鼻散救之，雖鼻不能重長，而性命猶可保也。</p>
<p><u>秘訣：</u></p>
<p>護鼻解毒三銀參，麥二梗五草花粉，</p>
<p>煮成丹砂生沖月民，四劑色變莫憂心。</p>
<p>全鼻散藥玄金花，一兩當歸錢丹砂，</p>
<p>麥冬五錢三參草，連服十劑自無差。</p>
<p>方用寒水再造湯亦效：</p>
<p>麥冬（三兩）　甘草（二兩）　貝母（三錢）　夏桔草（二兩）　黃芩（三錢）　連翹（三錢）　桔梗（三錢）　寒水石（沖，三錢）　赤茯苓（二兩）</p>
<p>水煎服，未爛者一劑可免，爛者再劑不爛矣，再二劑痊愈。</p>
<p><u>秘訣：</u></p>
<p>寒水再造三兩冬，甘枯二兩赤茯苓，</p>
<p>貝母黃芩連翹桔，寒水三錢煎成沖。</p>
<p>人有生楊梅，遍身皆爛，疼痛非常，人以為毒氣之在皮膚也，誰知是血虛而毒結於皮膚乎？夫楊梅之毒，散於骨髓之中，毒在骨中，難以療治，而毒在皮膚，似易於施治矣。然毒未出於皮膚，尚蘊藏於骨中，泄骨中之毒，可從下而外泄也。如毒已出於皮膚，其毒開張，斂肌中之毒，則不可由表而外攻矣。得其法，則易泄散；未得其法，則轉橫也。治之法，宜補虛以泄毒，引毒從小便出，乃得其治法耳。方用二苓化毒湯：</p>
<p>白茯苓（二兩）　土茯苓（二兩）　當歸（二兩）　紫草（二兩）　金銀花（二兩）　生甘草（二錢）</p>
<p>水酒各半煎服，十劑痊愈。此方視之平淡無奇，而實有異功者，補以泄之也。楊梅本生於腎之虛，腎虛則血虛矣。不補虛以治瘡，反泄毒以耗血，此世人治楊梅之瘡，所以多不效耳。</p>
<p>加減二苓湯亦效：</p>
<p>生地（一兩）　茯苓（一兩）　當歸（一兩）　黃耆（二兩）　土茯苓（二兩）　車前子（五錢）　防風（一錢）</p>
<p>水煎服，二劑不痛，再二劑痊愈矣。</p>
<p><u>秘訣：</u></p>
<p>二苓化毒茯苓歸，紫草土茯銀二隨，</p>
<p>水酒煎服草二錢，十劑痊愈效可推。</p>
<p>補虛瀉毒二苓湯，生地茯苓歸一兩，</p>
<p>黃耆土茯二兩用，牟前五錢一錢防。</p>

<h2>腰疽論</h2>
<p>人有腰眼之間，忽生疽毒，疼痛呼號，似乎陽症。然而腰腎之處，乃至陰之地，未可作陽疽治之。若竟陰症治之，則亦不可也。此症本於過忍其精，欲泄不泄，以成斯毒，似乎純是陰分之過。但腰間去腎不遠，腎火發而成毒，則陰中有陽，未可能以陰症治之也。必須合陰陽並治，以化其毒，則毒去如掃。倘不補陰而竟治毒，則腎氣愈傷，而毒難速化矣。蓋補陰而不補陽，則陰無陽不生，則毒深藏於腎宮而不得外泄矣。然而陰陽兩治，則腰腎之氣利而易奏功也。方用兩治湯：</p>
<p>杜仲（一兩）　當歸（一兩）　白朮（一兩）　防己（三錢）　薟草（三錢）　金銀花（三兩）　甘草（三錢）</p>
<p>水煎服，一劑輕，二劑而痛止，三劑痊愈矣。此方用白朮、杜仲以利其腰臍，氣通而毒自難結也。又得銀花、當歸之類，補中有散；而防己、豨薟直入腎宮以祛逐蘊熱之毒，則陰陽無偏勝之虞，正有助而邪無紛爭，自然三劑而成功也。</p>
<p><u>秘訣：</u></p>
<p>腰疽必須兩治湯，杜歸白朮一兩添，</p>
<p>再加三錢防豨甘，銀花三兩一齊煎。</p>
<p>此症用九靈丹亦效：</p>
<p>生地（五錢）　丹皮（五錢）　黑荊芥（三錢）　甘草（三錢）　防風（一錢）　紫花地丁（一兩）　山萸（一兩）　炒白朮（二兩）　熟地（二兩）</p>
<p>水煎服，連服二劑效。</p>
<p><u>秘訣：</u></p>
<p>又有腰疽九靈丹，生地丹皮各五錢，</p>
<p>黑芥草三防風一，地丁山萸一兩添，</p>
<p>惟有焦術熟地二，連服二劑效如仙。</p>

<h2>瘰癧論</h2>
<p>人有生痰塊於項頸，堅如石者，久則變成瘰癧，流膿流血，一塊未消，一塊又長，未幾又潰，或耳下，或缺盆，或肩上，有流行串走之狀，故名鼠瘡，又名串瘡，言其如鼠之能穿也。世人謂食鼠竊之物以成，而不然也。蓋瘰癧多起於痰而成於郁，未有不鬱而能生痰者，未有無痰而能成瘰癧者也。世人多以開鬱消痰為治，然郁久則氣血必耗，耗則氣血更虧，若徒消痰而不解鬱，或但開鬱而不消痰，是以虛而益虛也，何能奏功？余謂此症，不若平肝而健脾，助土木相調而愈矣。方用清串湯：</p>
<p>白芍（一兩）　白朮（一兩）　柴胡（二錢）　蒲公英（三錢）　天花粉（三錢）　茯苓（五錢）　陳皮（一錢）　附子（一錢）　紫背天葵（五錢）　甘草（一錢）</p>
<p>水煎服，六劑痰塊漸消，再服十劑而瘰癧化盡，再服一月痊愈。愈後可服六君子湯數十劑，以為善後之計，永不再發也。此方妙在蒲公英、天葵為消串之神藥，然非佐之以白芍、柴胡，則肝木不平，非輔之以白朮、茯苓，則脾土不健，何以能勝攻痰破塊之烈哉？惟有攻有補，則調劑咸宜，更得附子之力，以引群藥，直搗中堅，所以能愈宿疾沉疴於旦夕耳。</p>
<p><u>秘訣：</u></p>
<p>清串湯芍兩白朮，柴二蒲粉三茯五，</p>
<p>陳皮附草一錢用，紫背天葵五錢煮。</p>
<p>此症用康樂湯亦效：</p>
<p>白朮（五錢）　茯苓（五錢）　夏枯草（五錢）　半夏（三錢）　炒香附（三錢）　白附子（一錢）　甘草（一錢）　陳皮（一錢）　連翹（二錢）　白芍（一兩）</p>
<p>水煎服，十劑痊愈。</p>
<p><u>秘訣：</u></p>
<p>康樂術苓枯草五，制夏三錢炒香附，</p>
<p>白附草陳一錢用，連翹二錢芍兩煮。</p>
<p>人有久生瘰癧，兩項之間，盡已潰爛，串至胸膈之上，無非痰塊，亦已頭破而腐者，遂至身體發熱發寒，肌肉消瘦，飲食少思，自汗盜汗，驚悸恍惚。此等之症，原系難治，然治得法，尚可救也。大約瘰癧初起，以解鬱消痰為主，而佐之補虛以消其毒。病久宜以補虛為君，而佐之以解鬱消痰。若徒以祛痰敗毒為事，而不補氣血之虛，鮮有不速之死矣！方用轉敗湯：</p>
<p>人參（一兩）　當歸（一兩）　土炒白朮（一兩）　金銀花（三兩）　白芍（三兩）　柴胡（二錢）　製半夏（五錢）　甘草（三錢）</p>
<p>水煎服，四劑胸開痰消，再四劑而潰爛愈。將前方減半，再服十劑而痊愈矣。此方補虛多於消痰，解鬱中而寓化痰，世人從未有知此治法者。倘一於攻毒，則愈攻而愈壞。此方實祛病之仙丹，而奪命之神品也。</p>
<p><u>秘訣：</u></p>
<p>參歸一兩土炒術，銀芍三兩二錢胡，</p>
<p>制夏五錢三錢草，八劑減半服十付。</p>
<p>此症用消瘰湯亦效：</p>
<p>熟附子（三錢）　白朮（一兩）　麥冬（一兩）　菟絲子（一兩）　白芍（一兩）　天葵（一兩）　人參（五錢）　茯苓（五錢）　甘草（三錢）　貝母（三錢）</p>
<p>水煎服，十劑輕，三十劑則痊愈矣。</p>
<p><u>秘訣：</u></p>
<p>消瘰三錢熟附子，術兩麥冬菟絲子，</p>
<p>白芍天葵俱兩用，參苓五錢三草貝。</p>

<h2>頑瘡論</h2>
<p>人有患瘡，經年累月而不愈者，世所謂頑瘡也，言其冥頑不靈，無可如何之勢也。然治之得法，亦可取效。蓋人氣血和平，斷不生瘡，即或生之，治之亦易。然則生瘡者，乃氣血之不和也。或因濕浸，或因熱感，或因寒邪之交，遂至氣結而不宣，血滯而不散，結於皮而皮生瘡，結於肉而肉生瘡，日久不愈，則膿血不淨而生蟲。瘡口不收，人以為蟲也，服殺蟲之劑，而反傷其皮肉，且耗其氣血，則氣血愈虛，力難兼到。棄皮肉於膜外而不顧，斯瘡難痊，遂成頑矣。然治之者，以行氣和血為主，蟲與毒不計也。但血不易和，氣不易行，非補養不能為功。蓋氣得補而氣自行，血得養而血自流矣。方用救頑湯：</p>
<p>連翹（一錢）　柴胡（一錢）　防風（一錢）　當歸（一兩）　白朮（一兩）　熟地（一兩）　黃耆（一兩）　麥冬（一兩）　山萸（五錢）　茯苓（五錢）　製半夏（二錢）　甘草（三錢）　附子（二錢）</p>
<p>水煎服，二劑而瘡口必然發腫，不可恐懼，乃藥助氣血與瘡相戰也，是速愈之機，再服二劑不痛而癢矣。再服二劑癢止而肉生，再服二劑結□而愈，再服二劑永不再發矣。此方專以活血行氣，得補之道也。氣行血活，蟲將安在？故不必殺蟲而頑瘡自除矣。</p>
<p><u>秘訣：</u></p>
<p>頑瘡連翹架錢防，歸術地耆麥一兩，</p>
<p>萸苓五錢制夏二，草三附子二錢襄，</p>
<p>二劑發腫四癢甚，再服四劑效非常。</p>
<p>此症用轉神湯亦效：</p>
<p>人參（五錢）　黃耆（五錢）　當歸（五錢）　麥冬（五錢）　熟地（五錢）　天花粉（三錢）　天冬（三錢）　車前子（三錢）　白朮（四錢）　甘草（二錢）　荊芥（一錢）　防己（五分）　附子（三分）　陳皮（三分）</p>
<p>水煎服，一劑知痛癢，二劑大痛，又連服數劑則潰，去附子、防己、車前，加山萸四錢、五味子二錢，再服四劑則愈矣。</p>
<p><u>秘訣：</u></p>
<p>轉種湯藥效可計，歸參耆麥五熟地，</p>
<p>粉天車三術四錢，草二荊一五分己，</p>
<p>附皮三分數付潰，去附防車加萸味。</p>
<p>人有內股生瘡，斂如豆許，翻出肉一塊，宛若菌狀，人以為蟲食向外翻也。誰知是肝經風熱血燥之故乎？夫肝熱則生風，乃內風而非外風也。然外風而自覺清涼，內風而實似蘊熱。故外風宜散，而內風宜清。但清風而不補血，則熱不能解，而風亦不能舒也。治之法，必須養血清熱則火不燥，而熱退則風自靜，有何瘡之不愈乎？方用清風湯：</p>
<p>白芍（一兩）　川芎（二錢）　人參（五錢）　當歸（五錢）　白朮（三錢）　梔子（三錢）　丹皮（三錢）　天花粉（三錢）　沙參（三錢）　柴胡（一錢）　甘草（一錢）　連翹（一錢）</p>
<p>水煎服，連服數劑，則瘡口自斂矣。此方滋血以養肝，非消肉以化毒，何以瘡斂而愈也？蓋瘡成於肝木之旺，平肝則血無過燥之患，自然風散熱退，而無延燒之禍也。若不平肝，而內用降火之品，外用退蝕之法，則蟲反內蝕瘡肉，肉愈損而元氣愈虛，變出非常，正難救援耳。</p>
<p><u>秘訣：</u></p>
<p>清風湯用芍一兩，川芎二錢五參半，</p>
<p>術梔丹粉沙參三，柴草連翹一錢嘗。</p>
<p>此症用斂內湯亦效：</p>
<p>金銀花（一兩）　白芍（一兩）　當歸（一兩）　白朮（五錢）　茯苓（五錢）　生梔子（三錢）　柴胡（一錢）　甘草（三錢）</p>
<p>水煎，連服數劑。</p>
<p><u>秘訣：</u></p>
<p>斂內一兩銀芍歸，術茯五錢三生梔，</p>
<p>柴一草三連劑服，清熱養血治頑奇。</p>

<h2>腳疽論</h2>
<p>人有腳趾上，忽然發癢，而後作痛，指甲現黑色，第二日連腳趾俱黑，第三日連腳面俱黑，黑至腿上，過膝即死，亦無名腫毒之一種也。因人貪歡，過服春藥，是火熱之毒，非腳疽可比。若腳疽止黑在腳趾，而不至腳面也。然腳疽最凶，雖不如無名腫毒之橫，而殺人則一也。蓋腳為四餘之末，宜毒之所不到者也，何以凶惡至此？正以謂毒所不到之處而毒聚不散，反出於腳趾之間，則毒盛非常，而治之不可輕視也。然則用泄毒之藥治之可乎？而孰知不然。凡人身氣血，周流上下，則毒氣不能聚結於一處。惟氣血虧損，不能遍走經絡，而火毒惡邪，乃固結於骨節之際。腳疽之生，正因氣血之虧，不能周流之故，安可單泄其毒，以再傷其氣血乎？治之法，必須大補氣血，而佐以泄毒之品，則安全之道也。方用顧步湯：</p>
<p>牛膝（一兩）　黃耆（一兩）　石斛（一兩）　當歸（一兩）　金銀花（三兩）　人參（三錢）</p>
<p>水煎服，一劑而黑色解，二劑而疼痛止，三劑愈。若已潰爛，多服數劑，無不愈也。此方用金銀花以解毒，非用牛膝、石斜，則不能直達於腳趾；非用人參、歸、耆，亦不能使氣血流通以散毒也。故用此方治腳疽多效，即是無名腫毒用此方治之，亦可得生。世醫用刀割去腳趾，亦是治法，不若此方於補中散毒，起死為生，既無痛楚之傷，又有全活之效也。</p>
<p><u>秘訣：</u></p>
<p>顧步湯藥治腳疽，牛耆石斛一兩歸，</p>
<p>三兩銀花參三錢，未潰三劑潰四奇。</p>
<p>本症用地丁飲亦效：</p>
<p>紫花地丁（一兩）　甘菊花（一兩）　牛膝（一兩）　甘草（五錢）　天花粉（三錢）</p>
<p>水煎服，未潰二劑，已潰再服二劑收功，多服為妙。</p>
<p><u>秘訣：</u></p>
<p>又有腳疽紫地丁，甘菊牛膝一兩同，</p>
<p>甘草五錢粉三錢，未潰二劑潰再功。</p>
<p>人有腳腿之上，忽然腫起一塊，皮色如常又不痛，人以為癰疽也，誰知是氣血大虛之故乎？夫癰疽而皮色不變，乃氣血之虛，而曰非生癰也，其誰信之？嗟乎！氣所以行血者也。氣行則血行，氣止則血止，若氣血相活，縱有邪氣亦難成腫。邪氣之盛，由於氣血之衰，其腫為癰，每每作痛，而色必變為紅赤也。然是癰也，腫而不痛不赤，皮色不變，有腫名而無腫實，純是氣虛而血無以養，邪盛而氣不能制也。治之法，宜補氣以養血，何必化毒以祛邪哉？方用補中益氣湯：</p>
<p>白朮（一兩）　黃耆（一兩）　升麻（五分）　柴胡（一錢）　陳皮（一錢）　茯苓（三錢）　甘草（二錢）　製半夏（二錢）　人參（五錢）　當歸（五錢）</p>
<p>水煎服，十劑而腫自消矣。此方乃益氣之聖藥，非消腫之神劑，何以用之而腫即消也？差真氣奪則虛，邪氣盛則實，真氣愈虛，邪氣愈盛，不能補氣之藥，則氣何以能行，腫何以能消哉？蓋補中益氣湯善能補氣，故能消腫，何況又益以消腫去濕之品，所以易於建功耳。</p>
<p><u>秘訣：</u></p>
<p>補中益氣兩術耆，升麻五分錢柴陳，</p>
<p>冬三甘草制夏二，參歸五錢十劑神。</p>
<p>又用下方亦效：</p>
<p>當歸（五錢）　人參（五錢）　黃耆（一兩）　牛膝（五分）　荊芥（三錢）　茯苓（三錢）　天花粉（三錢）　附子（三錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p><u>秘訣：</u></p>
<p>還有五錢當歸參，一兩黃耆牛五分，</p>
<p>荊芥苓粉俱三錢，附子三錢草錢存。</p>

<h2>痔漏論</h2>
<p>人有肛門內外四旁，忽然生長紅瘰，先癢後痛，漸漸成痔，日久不愈，此症皆由濕熱所成也，多因地氣之濕，加以嗜飲酒熱之毒，所以結於肛門邊而不能遽化矣。夫肛門通於大腸，若內有濕熱，宜從大腸而出，何以結而成痔？以濕熱在大腸不能久留，勢必盡趨於肛門，而肛門乃大腸之鎖鑰，未免有開閉防範之意，不容濕熱出於其外，則蓄積日久，而濕熱之毒，肛門獨受其害矣。雖有內痔外痔之殊，而其為濕毒則一也。治之法，何能捨濕毒而他求乎？肛門雖去脾胃甚遠，而化濕熱之毒，則不能不假道於脾胃，肛門未受其益，而脾胃先受其損，所以多無成功也。故用藥必須無損於脾胃，而有益於肛門，治之始能奏功也。方用益後湯：</p>
<p>山藥（一兩）　茯苓（一兩）　白芍（一兩）　玉米（一兩）　地榆（三錢）　山甲（炒，一片）</p>
<p>水煎服，四劑寬快；再四劑愈後，將此方每味加十倍研末，煉蜜為丸，梧子大，空心開水送服五錢，服完即愈。此方利水清熱，無傷於脾胃，而有益於肛門，兩全之道也。</p>
<p><u>秘訣：</u></p>
<p>內外生痔益後湯，山藥茯苓芍兩襄，</p>
<p>玉米一兩地榆三，山甲一片土炒黃，</p>
<p>四劑寬快再四愈，加倍研末蜜丸嘗。</p>
<p>此症用榆槐飲亦效：</p>
<p>槐米（二錢）　地榆（三錢）　茯苓（三錢）　車前子（三錢）</p>
<p>水煎服，四劑痊愈。</p>
<p><u>秘訣：</u></p>
<p>榆槐飲中藥四味，槐米二錢三地榆，</p>
<p>茯苓車前亦用三，四劑痊愈無容慮。</p>
<p>人有肛門先因有痔瘡，因不慎酒色，遂至腐爛，變成漏瘡，不能收口，生長肉管，流膿淌血，甚以為苦。醫人治法，多用刀針掛線，徒受苦楚，內毒未除，外口難長，經年累月，不能奏功。蓋肛門之肉，不比他處之肉，非橫生則縱生也。而肛門之肉有縱有橫，最難生合。況大便不時經過，又易損傷，然經刀針掛線，是已傷而益傷，安能遽長皮肉乎？故刀線不可輕用，惟消其濕熱之毒，內治為佳。然漏生既久，氣血必虛，徒事止漏，反傷氣血，亦難奏功也。方用青龜丸：</p>
<p>烏龜（一個）　茯苓（五兩）　薏苡仁（四兩）　羊蹄後爪（四對）　土炒山甲（五錢）　人參（二兩）　黃耆（八兩）　當歸（三兩）　白芷（二兩）　槐米（二兩）　瓦松（二錢）　干青苔（一兩）</p>
<p>共研末，將烏龜用石臼搗死，同藥拌勻，鍋內蒸熟，焙乾為末，煉蜜為丸，梧子大，每早開水送服三錢，服至半月漏自干，連服兩月而漏痂滿，一料服完痊愈。必須嚴戒酒色三月，不然不能奏功。此方去濕而不散氣，散毒而不損血，補漏於無形，填隙於有孔。願人堅持三月酒色之戒，以去十年之病也。</p>
<p><u>秘訣：</u></p>
<p>青龜丸用苓薏仁，羊蹄後爪山甲參，</p>
<p>耆八歸三芷槐二，瓦松二錢苔兩斟。</p>
<p>人有大便時先射出血，而後便糞，人以為便血之病也，誰知是肛門內生血痔乎？夫痔久必變為漏，宜流膿血。但人之受病不同，而見症亦異。此症得於多飲燒酒，釀成熱毒，走於直腸，不得連泄，乃結成小痔而不化，久則皮破血流，此乃血出於直腸之外，非出血直腸之中，乃膀胱之血也。膀胱化氣而不化血，酒毒滲入膀胱，則酒氣化水，出於陰器。酒毒燥血，無路可出，而毒結於直腸之外，毒而內攻，而直腸之痔生矣。然生痔必有其隙可乘，而膀胱之血注之久，且以血引血，不獨膀胱之血盡歸之矣。乘大便之開閉，血先奪門而出，故從大便而直射，正見其欲出之速耳。治法似宜急杜其血隙，使之無出路為第一策。然私竇既開，漏血易泄，不急清其上游之源，而但截其下流之隙，非計之善也。方用清源散：</p>
<p>全蠍（二兩）　土炒山甲（二兩）　珍珠（豆腐煮，三錢）　瓦松（一條）</p>
<p>研末，每日開水調一茶匙服之，服至一月即效。如不願調服，用米飯搗爛，為丸梧子大，每日開水送下二十丸。服時必須戒酒色。</p>
<p><u>秘訣：</u></p>
<p>清源全蠍用二兩，山甲亦二上炒黃，</p>
<p>珍珠三錢豆腐煮，瓦松一條陰乾嘗，</p>
<p>每日開水調茶匙，服至一月妙無方。</p>
<p>又方：</p>
<p>茯苓（五錢）　白芍（五錢）　白朮（五錢）　白芷（三錢）　槐花（三錢）　人參（三錢）　地榆（三錢）　黃連（三錢）　車前子（二錢）　葛根（二錢）　三七參（二錢）　穿山甲（研沖一錢）</p>
<p>水煎，調山甲、三七參末沖服，三劑血減去黃連，再三劑則愈矣。嚴戒酒色三月可痊。此方妙在以黃連解酒熱之毒，所謂先清其源也。蓋上游無病，而下流自安。況諸藥分配得宜，無非去濕化熱之味，堵塞有方，何患洪水沖決哉？</p>
<p><u>秘訣：</u></p>
<p>肉痔苓芍術五錢，芷槐三錢參榆連，</p>
<p>車葛二錢三七參，一錢山甲沖服安，</p>
<p>三劑去連再三劑，嚴戒酒色乃可痊。</p>
<p>方用止射丹亦效：</p>
<p>黃芩（三錢）　槐花（三錢）　荊芥（三錢）　瓦松（一條）　生地（一兩）　當歸（一兩）</p>
<p>水煎服，連服四劑則血乾矣。或此方加十倍研末，煉蜜為丸，梧子大，每服三錢，徐徐自愈。</p>
<p><u>秘訣：</u></p>
<p>又有一名止射丹，芩槐荊芥俱三錢，</p>
<p>瓦松一條地歸兩，連服四劑血自干。</p>

<h2>大腸癰論</h2>
<p>人有腹中痛甚，手不可按，而右足屈而不伸者，人以為腹中火盛而存食也，誰知是大腸生癰乎？夫腹痛而足不能伸者，俱是腸內生癰，而大腸生癰，則足尤不能伸也。惟是大腸生癰，亦自有故，無不成於火，火盛而不散，則鬱結而成癰矣。然火之有餘，實本於水之不足。水衰則火旺，火旺而無制，乃養成其毒而不可解。治之法，必須壯水以制火，則毒消而癰愈矣。方用清腸飲：</p>
<p>元參（一兩）　地榆（一兩）　麥冬（一兩）　金銀花（三兩）　當歸（二兩）　甘草（三錢）　薏苡仁（五錢）　黃芩（二錢）</p>
<p>水煎服，一劑而痛少止，二劑而足可伸，再二劑而毒盡消矣。此方純是潤腸之品，又是活血解毒之味，雖泄火而實滋陰，所以相濟而相成，取效如神耳。倘不益陰以潤腸，而惟攻毒以降火，則大腸先損，又何能勝火毒之凌爍哉？勿怪愈治而愈不效也。</p>
<p><u>秘訣：</u></p>
<p>清腸飲藥治腸癰，元參一兩榆麥冬，</p>
<p>銀三歸二草三錢，薏五芩二四劑從。</p>
<p>本症用兩間湯亦佳：</p>
<p>玉米（二兩）　當歸（二兩）　槐花（三錢）　天花粉（三錢）　錦地羅（一兩）　地丁（五錢）　甘草（八錢）</p>
<p>水煎服，一劑減，二劑愈。</p>
<p><u>秘訣：</u></p>
<p>兩間湯用玉米歸，槐粉三錢一兩錦，</p>
<p>地丁五錢八錢草，二劑神妙去其根。</p>
<p>又方：</p>
<p>人參（一兩）　當歸（二兩）　生地（五錢）　甘草（五錢）　錦地羅（五錢）　地榆（三錢）　天花粉（三錢）　黃芩（二錢）</p>
<p><u>秘訣：</u></p>
<p>救胃參兩二兩當，生地甘羅五錢襄，</p>
<p>榆粉三錢黃芩二，一劑能食否不詳。</p>
<p>人有大腸生癰，右足不能伸，腹中痛甚，便出膿血，肛門如刀之割，此腸癰已潰爛也。能食者生，不能食者死。因火毒熾盛，而不能飲食者，正可棄之而不救也。然不能食者之中，亦有非因火毒之熾而然也。則又不可因其不能食而棄之也。凡癰疽之症，均以有胃氣為佳，故治癰疽，以扶胃氣為第一義，而少加敗毒化膿之味，則正氣不傷而火毒易散也。今大腸癰潰，不思飲食，則胃氣已盡絕，大危之症也，若不急補胃而惟治癰，必死之道也。方用腸癰潰爛湯：</p>
<p>人參（一兩）　玉米（一兩）　白朮（一兩）　山藥（一兩）　元參（一兩）　甘草（三錢）　金銀花（四兩）　山羊血（一錢）</p>
<p>水煎服，服藥時衝入山羊血，一劑胃氣開，二劑膿少，三劑痛止，四劑痊愈。</p>
<p>此方全在救胃，而敗毒祛膿已在其中矣。妙在金銀花雖是治毒之品，而仍乃滋陰之藥，為瘡家奪命之將軍，乃至仁至勇之師，又得參朮以助其力，則散毒尤神。山羊血止血消濁，且善通氣，引諸藥直入癰以解散之，乃嚮導之智者也。合而治之，則調合有人，撫綏有人，攻剿有人，安得不奏功如神乎？自然胃氣大開，化精微而輸於大腸也。倘胃氣未傷，服之尤奏功如響，萬勿疑畏而不敢用，枉人性命耳。</p>
<p><u>秘訣：</u></p>
<p>腸癰潰爛便膿血，參玉術藥元兩接，</p>
<p>甘草三錢銀四兩，臨服衝入山羊血。</p>
<p>人有大腸生癰，少腹痛甚，淋漓不止，精神減少，飲食無味，面色痿黃，四肢無力，自汗盜汗，夜不能寐者，人以為火盛生癰也，誰知是水衰不能潤腸乎？夫大腸之所以能傳導者，全賴腎水之灌注也。今因醉飽房勞，過傷精力，遂至火動水涸，又兼生冷並進，以致氣血乖違，濕動痰生，腸胃痞塞，運化不通，氣血凝滯，結而成癰也。然則生癰之前，亦本乎腎水之不足，而潰爛之後，又複流其穢水，是因虛而益虛矣。若作火毒治之，鮮不變為死症！必須大補其腎水，而並補其脾胃之氣，則脾胃化精生水，庶枯涸之腸，一旦得滂沱之潤，自然饜足而重蘇，正不必治癰，而惟補氣，氣血足而肌肉自生矣。方用加味六味地黃湯：</p>
<p>山藥（八錢）　山萸（八錢）　生地（二兩）　黃耆（一兩）　澤瀉（一錢）　人參（一兩）　麥冬（一兩）　茯苓（三錢）　丹皮（六錢）</p>
<p>水煎服，連服數劑，腹痛止而精神健，則愈矣。此方六味以補腎水，加人參、麥、耆以補脾胃之土，土旺而肺氣自旺。肺與大腸相表裡，且又為腎之母，自然子母相需，表裡相應，故奏功如神也。</p>
<p><u>秘訣：</u></p>
<p>加味六味山山地，耆澤參麥苓丹皮，</p>
<p>連服四劑腹痛止，精神而健則愈矣。</p>
<p>方用加味壯水湯亦治之：</p>
<p>元參（二兩）　生地（二兩）　麥冬（一兩）　甘菊花（一兩）　山萸（一兩）　蒲公英（五錢）　五味子（二錢）　貝母（二錢）</p>
<p>水煎服，再劑去蒲公英、元參，加茯苓五錢、人參五錢。</p>
<p><u>秘訣：</u></p>
<p>加味壯水二元地，麥菊山萸一兩備，</p>
<p>蒲公五錢味貝二，再去英元苓參配。</p>

<h2>小腸癰論</h2>
<p>人有腹痛口渴，左足屈而不伸，伸則痛甚，手按其痛處，更不可忍者，人以為腹中生癰也，誰知是小腸癰乎？腸中生癰不同，有大小腸之分，屈右足者大腸生癰，屈左足者小腸生癰也。今屈而不伸者，既在左足，是癰生於小腸，而非生於大腸矣。惟是大腸之癰易治，小腸之癰難醫，以大腸可泄而小腸難泄也。若得其法，又何難哉？蓋大腸可泄其火，從糟粕而出；小腸可泄其火，從溲溺而泄也。方用泄毒至神湯：</p>
<p>劉寄奴（三兩）　車前子（三兩）　金銀花（三兩）　澤瀉（三兩）　甘草（三兩）　茯苓（一兩）　玉米（一兩）　肉桂（一分）</p>
<p>水煎服，一劑而水如注，二劑而痛頓止，三劑而症如失，不必四劑矣。此方皆利水之藥，重用金銀花為消毒之品，何以建功之神如此？蓋小腸之毒，必須內消，而內消之藥舍金銀花，實無他藥可代。以他藥消毒，均能損傷正氣，而小腸之氣斷不可損傷，故必須以金銀花為君藥。但金銀花不能入於小腸之中，而佐以茯苓、車前、澤瀉、玉米之類，引入小腸，又加肉桂一分，得其氣味，直入膀胱從溲溺而化其毒。若恐火毒太甚，諸藥不能迅速收功，更加寄奴之速法，甘草之緩調，剛柔遲速，兼而行之，既無留滯之虞，又無峻烈之害，自然火毒盡從小腸膀胱而出也。</p>
<p><u>秘訣：</u></p>
<p>泄毒至神寄奴三，車銀草澤重如前，</p>
<p>苓玉一兩桂分入，三劑服後患可痊。</p>
<p>此症方用王公湯亦效：</p>
<p>王不留（一兩）　蒲公英（一兩）　車前子（一兩）　甘草（五錢）　金銀花（三兩）</p>
<p>水煎服，一劑效。</p>
<p><u>秘訣：</u></p>
<p>王公湯治小腸癰，不留一兩蒲公英，</p>
<p>車前一兩五錢草，銀花三兩一劑從。</p>
<p>人有腹痛呼號不已，其痛卻在左腹，按之痛不可忍，不許人按，人以為食積在大腸也，誰知是小腸之生癰乎？夫腸癰必屈其足，而今不屈足，似非腸癰之病。然腸癰生於腸內，在大腸者屈右足而不伸，在小腸者屈左足而不伸也。若癰生於腸外者，皆不屈足，痛在左則小腸生癰，痛在右則大腸生癰也。至於食積燥糞之痛，時而痛，時而不痛，不若生癰之痛，有定而不移，常痛而無止息也。大小腸生癰於腸內，尚可破潰，而大小腸生癰於腸外，斷不可使之潰爛者，以腸外無可出之路，皆必死之症也。而小腸更甚，必須急治，以利水解毒為妙，否則變生不測矣。方用利水解毒內消丹；亦可用王公湯，再加金銀花三兩可矣。</p>
<p>金銀花（四兩）　車前子（五錢）　薏苡仁（一兩）　茯苓（一兩）　當歸（二兩）　甘草（三錢）</p>
<p>水煎服，一劑而痛大減，二劑而痛又減，三劑而痛全止，四劑而痊愈矣。此方即前方（泄毒至神湯）之變方也。但前方於利水之中而行其敗毒之法，此方則於利水之中而佐以補血敗毒之味也。蓋癰破尤宜利水，利水則毒隨之而出，易於滌除。如癰未破，而不補血，徒事利水，利水則水泄血虛，毒亦難於消化。同中之異，不可不知也。然此症須急早治之，否則癰雖愈而瘀血流於腸外，必有終身腹痛之患矣。</p>
<p><u>秘訣：</u></p>
<p>利水解毒內消丹，銀花四兩車五錢，</p>
<p>薏仁苓兩歸二兩，甘草三錢一同煎。</p>
<p>人有腹痛驟甚，小便流血，左足不能伸者，人以為小腸生癰也，誰知是小腸之火太盛乎？夫小腸生癰，必屈左足，今左足不伸，明是生癰之證，而余獨謂是火盛者何也？蓋生癰必有其微，豈有一旦驟生而流血者乎？癰久而膿生，膿欲盡而血出，豈有不潰不爛而先出血者乎？然左足之屈，則又何也？蓋小腸與大腸不同，小腸細而大腸寬，寬者可以容邪，而細則難以容邪，此必然之理也。小腸受火煎熬，則腸中逼迫，不能舒暢，而左足應之，故暫屈而不能伸，不若生癰者長屈而不能伸也。萬不可因足之不伸，即信是癰，而妄用解毒之藥，其害大矣！然火毒與癰，從何而辨之？初病之時，辨其小便之有血無血耳。如初痛而足不伸，小便無血，乃是生癰。初痛而足不伸，小便有血，乃是火痛，斷不差也。治之法，泄其火邪不必化毒，則痛自止而足自伸矣。方用加味小柴胡湯治之：</p>
<p>柴胡（二錢）　黃芩（三錢）　人參（五錢）　茯苓（五錢）　半夏（一錢）　甘草（一錢）　生薑（三片）　大棗（三枚）</p>
<p>水煎服，一劑而足伸，二劑而血止，腸亦不痛矣。小柴胡湯非治小腸癰之藥也，何以用之而效驗之捷如此？蓋小腸之火盛者，起於肝木之郁也，木鬱則火生，不敢犯心而犯小腸耳。夫火性炎上，今不上炎而反致下熾，拂其火之性矣，此小腸所以受害而作痛也。至於血流於小便中者，又是何故？蓋小腸之血，為火所逼，恐火爍血乾，故越出於小腸之外，直走膀胱，反使水道不行而流血也。小柴胡湯既舒其肝膽之氣，則上炎之火氣，其性即順而不逆也，又得茯苓以分消其水氣，則水順流而不橫，其血歸經而不逆，自然氣舒血和而消毒矣，此方之所以奇耳。</p>
<p><u>秘訣：</u></p>
<p>加味小柴治腸毒，黃芩三錢參芩五，</p>
<p>夏草一錢加薑棗，二劑血止腸癰主。</p>
<p>此症用車苓連甘湯亦效：</p>
<p>車前子（五錢）　茯苓（一兩）　黃連（三錢）　甘草（三錢）</p>
<p>水煎服。</p>
<p>秘訣：</p>
<p>又有車苓連甘湯，車前五錢苓兩襄，</p>
<p>甘連三錢同煎服，止血通和此方良。</p>
