<header data-type="book">
<h1>素軒醫語</h1>
</header>

<h1>徐序</h1>
<p>余以小道，羈□海上。邵君餐芝，為蘭溪女埠小學桑梓服務。相隔千里，初未相識也。顧邵君性好岐黃，平日讀書，得其精要，輒以札記自課。久之，遂裒然盈帙，名曰《素軒醫語》，然世莫之知也。去年秋，余佩張山雷先生外科醫術之精，命次子利民負芨蘭溪，在其所設蘭溪中醫專門學校從山雷遊，因而輾轉知有邵君其人。邵君之著作，山雷平日致為推許。既而知上海神州出有月刊，慨然以原稿見示。披而誦之，覺其正確透闢，得未曾有，讀者莫不驚喜，以為國醫界不易得之創作，爭欲知其為人。而不知邵君尚在壯年，初非專攻醫學。出其餘力，以成此書也。且其為文，句斟字酌，心平氣和，學養兼到，流露於行間。不知者，必以老師宿儒目之，孰意其天資學力，一至於此耶。設非以之嘉惠月刊，則中國之言醫學者，皆將交臂失之矣。然則其人其才，而匿跡不彰，孰謂吾國無人才乎？邵君在山陬水涯，所得如此。我輩生長名區，交際半國中。而其所詣，雖間有一知半解。視此，未免珷玦之於瑾瑜，深自愧矣。茲承其不我遐棄，問序於余，謹以所知介紹當世，並志余之心折，為我國醫界人才慶焉。</p>
<p><u>中華民國二十三年六月廿二日歲在甲戌夏仲十有一日古吳徐相任序於海上</u></p>

<h1>秦序</h1>
<p>任何學術，分析愈細，則造詣愈精。醫學操生殺之權尤宜力求其細，而格致干至精。然而今之讀傷寒者，輒詆溫熱諸書。讀溫熱者，又不滿於傷寒大論。時病已然，遑論其他，豈真傷寒溫熱諸書之如水火不相容耶，抑如薰□之不可同器耶。吾嘗讀傷寒溫熱而不偏廢。傷寒至陽明，以白虎、承氣之清下為主治。溫熱至中焦，亦以白虎、承氣之清下為主治。然淮陰之臟腑合治，二腸合治，邪正合治，氣血合治諸法，確足輔長沙之未逮。則以後人之分析，較前人為精細，則存之以待用可也。視之為邪說惑道，未當也。若囪是而排異，既非學者所應有之態度，而學術亦永無張大闡明之日。不然與其分析而細，何寧混統而粗哉？邵君餐芝以徐事習醫，而見解之超，反出醫界同儕。讀傷寒而能知其短，讀溫熱而能知其長。尤能不護其短，不掩其長，此最難之事，殊足欽佩者也。茲以《素軒醫語》見示，皆平日讀書札記之作，有得於心，故語多中肯，他日展其所學，出而問世，必有為吾中醫界生色者。謹志數言，以留佐證。民國二十三年七月上海秦伯未</p>

<h1>華序</h1>
<p>讀書難，讀醫書則尤難。凡經史百家，以及秦漢諸書，有缺簡，有疑義，雖存而不論可也。惟醫書不然，或一語之未詳，或一字之待補，苟不研究而闡明之，不特自誤，且誤人矣。張長沙為醫中之聖，著《傷寒論》一書，舉溫熱諸證而賅之，遂使後之人，以治傷寒者治溫病，甚或以治溫病者詆傷寒，非仲景之不善著書，實師仲景之不善讀書也。邵君餐芝治醫於學務倥傯之餘，又舉平日讀書之有得者，錄為札記。其博通今古，融會中西，不特為仲聖之功臣，且為葉、吳（葉天士、吳鞠通，校者注。）諸人之諍友。何其天資之穎悟，而學術之湛深也。予家自高曾以下，已六世業醫，予則僅於讀經治史之暇，旁及焉而已。自春闈報罷，宦海浮沉，政變迭更，遂予初服，今且隱於醫矣。然自恨一誤於科舉，再誤於仕途，僅僅有涉獵之功，初無著述以問世。讀邵君《素軒醫語》，不禁神交而心折之也，爰掇數言以為之序。蕭山華光翼</p>

<h1>李序</h1>
<p>餐芝先生辛未春館余家，好學不倦，而耽深湛之思。初未知其擅《靈》《素》術也。別逾四年，寄示所著《素軒醫語》，都五十六篇，詞旨雅潔，似尤在涇《靜香樓筆記》，而精實突過之。所謂賢者不可測非耶，一再諷玩，不忍釋手，爰記數語，用表欽遲。乙亥夏五湖外李沫</p>

<h1>素軒醫語</h1>
<p>爾者，中西醫各以其術相傾，是丹非素，二者皆譏。余以散材，遊藝及是，有所見，則拉雜書之，命之曰醫語，見笑大方，固所不計，主奴出入，尤無客心，尚望達人寵教之也。</p>

<h2>一　大青龍證確是溫病</h2>
<p>《傷寒論》大青龍證節二條，說者紛紛，令人莫知適從，如柯韻伯謂當補入發熱惡寒、無汗煩躁八字；徐洄溪謂小小輕證，用此大方，必是有誤；宋人龐安常《總病論》則以無少陰證，當作無太陰證，以從上文脈浮緩三字知之；東人丹波氏且謂古本作小青龍，此數說者，出入皆甚大，而徒亂人意。柯說雖近是，然亦不必補，蓋此條原與上條為互文。本論互文甚多，柯氏曾發其復，而獨於本條失之，豈非智及之而又不能守之乎？吾最心折者，乃在近人張壽甫之說，張氏曰：細審本節之文，知其確係溫病，何以言之？以脈浮緩，身不疼但重，無少陰證也。此節開端傷寒二字，為中風傷寒溫病之總稱，傷寒初得脈浮緊，溫病則浮緩，傷寒初得身多疼，溫病則恆不疼而但重，傷寒初得恆有少陰證，溫病則始終無之，皆其明徵也，況病有輕時，而猶重用石膏，必系溫病而非傷寒無疑矣。余昔觀柯氏論麻杏甘石湯，及《世補齋醫書》，早已悟此湯此證為屬於溫病，然未能如張氏此論之透澈玲瓏，令人首肯也。蓋《傷寒論》中重用石膏之方，皆為治溫之聖方，而張氏此論，競能深入顯出如此，洵可佩矣。</p>

<h2>二　桂枝證仍在者，可與桂枝湯更汗</h2>
<p>大論曰：「服桂枝湯，大汗出，脈洪大者，與桂枝湯，如前法」。柯韻伯曰：脈洪大，大煩渴，是陽邪內陷。此內不煩渴，是病猶在表，桂枝證未罷，當仍與之。《醫宗金鑑》曰：不煩渴，表證仍在太陽也。二說皆以不煩渴為解，而置脈洪大三字於不問，究未滿意。近人張壽甫疑之曰：此症有過汗亡陰之象，其脈之洪大，乃陽偏盛也。桂枝之辛溫，猶可用乎？張氏似可謂善疑矣。乃惲鐵樵曰：「脈洪大，由於服法誤，法誤則救其法，故曰服如前法。」余曰以方救法，亦強言耳，「脈洪大」上疑有「桂枝證仍在」一語，蓋桂枝湯雖以浮弱為本脈，而汗後本證仍在者，固不必須脈浮弱，而始可再服之，即脈浮數似麻黃證者，亦可再服。本論云：「傷寒，發汗，解。半日許，復煩，脈浮數者，可更發汗，宜桂枝湯」。夫脈浮數而更可發之，則脈洪大亦可更與之矣。柯氏云：服桂枝不解，可仍與桂枝，服麻黃不解，亦仍可與桂枝，活法也。余曰：用桂枝更汗而不必脈浮弱者，亦活法也，且湯中有白芍，決不至發汗太過，而轉屬陽明。發汗不及，而轉屬少陽，客或有之。故下文有「若形如瘧」云云，文義明甚。則張氏亡陰陽盛之疑，似又不必矣。</p>

<h2>三　傷寒中鳳根源在時令</h2>
<p>大論敘大青龍證，凡二條。前條為太陽中風，而脈則浮緊；後條為傷寒，而脈則浮緩。前輩或以傷寒見風脈．中風見寒脈為說。慈溪柯氏，以傷寒中風無定脈為說，柯氏似勝干前。然吾終未能釋然，以其與篇首提綱悖也。及觀鹽山張氏之論，以傷寒二字，為中風傷寒溫病之總稱，又斷此條脈證為溫病，吾無間然矣。而前條太陽中風四字，仍未曉了，日本丹波氏亦疑之。丹氏云，雖云太陽中風，並無中風之候，但可置之闕疑。案此四字，余疑莫能明者久矣。今觀本論陽明篇云：「陽明中風，脈浮而緊」。惲鐵樵曰：傷寒中風之辨，不僅在脈緊無汗，脈緩有汗，最要關鍵，在《內經》定冬之熱病為傷寒，春之熱病為中風。惲氏此說，發前人所未發，足解諸家之惑。夫傷寒即熱病之說，雖原於元和陸氏，然以時令為言，固惲氏所創穫也。且以時令定名為例，非獨本條可明，即他條之言陽明中風，言少陽中風者，亦皆迎刃而解，不煩附會，何快如之。</p>

<h2>四　陽明病用桂枝湯之疑義</h2>
<p>大論云：「陽明病，脈遲，汗出多，微惡寒者，表未解也，可發汗，宜桂枝湯」。九芝、韻伯，皆隨文疏釋，謂是太陽未罷之桂枝證。東國湯本氏，亦謂表證尚存，所以用桂枝湯，並以為原文不誤。獨蘭溪醫專同人所作《皇漢醫學評議》非之，其言曰，此條不類仲師筆法，頗似漏汗亡陽證，有桂枝加附法在，何得再汗？吾謂此條或有誤脫，大旨固不差，疑之誠是，若斥為非仲景原文，似仍有可商，以吾管窺，脈遲下，當有未可攻句；汗出多下，或有渴者，不可與豬苓湯二句。微惡寒以下十五字，根首句陽明病三字來。如此補綴，仍說得去，然亦無佐證，疑莫能必。姑妄言之，以質諸勤求古訓，心知其意者。</p>

<h2>五　陽明篇開端之疑義</h2>
<p>陽明篇開端，有太陽陽明，正陽陽明，少陽陽明十二字。參觀下文及各注，總不能了了於心，每自憾天資魯鈍，奇文莫賞。注家中稱愜心者得二人，一為前哲陸九芝，一為近賢張山雷。陸解太陽少陽為巨陽微陽，張喻太陽少陽猶老陽少陽。皆以為與六經中之太陽有異，可謂別有會心者矣。乃武進惲氏，猶以為此節經文，無當要領，徒亂人意甚矣。解人之難索，疑義之不易折也。吾聞不食馬肝，未為不知味，蓋闕其可乎？</p>

<h2>六　桂枝證之脈</h2>
<p>「太陽中風，陽浮而陰弱」，陰陽，明明指尺寸言，乃注家竟有謂陰陽為指浮沉言者，可謂弗思耳矣。「風溫為病，脈陰陽俱浮」，猶言尺寸俱浮也。陰果是指沉，豈不脈浮沉俱浮乎，亦不詞甚矣。又陰弱者汗自出六字，《皇漢醫學評議》著者，謂為淺人妄言，非仲聖原文。吾亦以為疑古太過，不可從。近人張錫純解為大氣虛損，最奇確，且此六字苟為可疑，則上文陽浮者熱自發六字，亦在所當疑矣。何以知之？以文氣知之。蓋東漢末文字，啟開魏晉排比之漸，稍有文學史眼光者，皆能識之。此上下兩句，固不能取其一而置其一也。</p>

<h2>七　酒客病不可服桂枝湯之推論</h2>
<p>大論云：「若酒客病，不可與桂枝湯」。成聊攝曰：酒客內熱而惡甘。陳修園曰：推之不必酒客。凡素患濕熱之病者，皆可作酒客觀也。二家暢發論旨，昭然若揭矣。宋人朱肱、龎安時有見於此，故謂江淮偏熱，暑夏服麻桂，當酌加黃芩輩。近人張壽甫亦有見於此，故謂若用麻佳，當加知母以清熱。乃以溫病專家自命之吳鞠通，自條自辨，竟欲以桂枝湯治溫病，開口內熱，閉口伏氣，而用藥如此。獨不聞桂枝下咽，陽盛則斃乎？宜乎？雖王孟英尚不謂然也，且《內經·熱論》曰：「凡病傷寒而成溫者，先夏至日者為病溫，後夏至日者為病暑」。暑當與汗出勿止，若果以桂枝湯投之，獨不畏三兩白芍之斂汗乎？又桂枝證脈浮弱，而鞠通則謂脈動數也。桂枝證口不渴，而鞠通則謂口渴也。嗚呼，鼎鼎大名之鞠通，豈於醫界不朽之絕作，如《傷寒論》輩，皆未之問津耶，抑嘗讀之而不明其義耶。</p>

<h2>八　太陽溫病解</h2>
<p>仲師溫病界說曰「太陽病，發熱而渴，不惡寒者，為溫病」。凡十四字，成聊攝注曰：發熱而渴，不惡寒者，陽明也。陸九芝論傷寒溫熱諸篇，及陽明病釋一書，即從此條及成注悟出。故極贊陽明也三字，然仲師明明言太陽，而聊攝偏偏說陽明，何也？蓋此證雖不惡寒，而必脈浮頭痛。亦如三陽合病，雖惡熱不惡寒諸證已具，而脈浮頭痛未罷，仍不妨說為太陽證未盡，故名之為合病也。此條亦爾，且所謂不惡寒者，非毫不惡寒也。張壽甫曰：溫病初得，亦多在太陽，特轉陽明甚速耳，故冠以太陽病三字也。張氏並引一治案以證之，可謂理論實驗，兩無遺憾矣。且參之仲師書，亦非無佐證，特詞意隱約，又遠在陽明篇耳。如白虎加人參證之傷寒，背微惡寒。柯氏謂是惡寒將罷，表邪已輕。鄒氏謂是表邪化熱未盡。又如白虎證之脈浮，表有熱，玩浮字表字，含意可知。蓋從邪之來源立言，則冠之以太陽病。從病之重心立言，則謂之陽明病。況仲師並不盡認為陽明病乎？如白虎證各條，每冠以傷寒二字，可知也。乃葉、吳不察，「溫邪上受，首先犯肺」，竟成為口頭禪，宜九芝先生斥之也。</p>

<h2>九　太陽非太陽之辨</h2>
<p>或問，皮毛者，肺之合也。外感初得，先及皮毛，內合肺臟，故喘咳上氣，肺經病態即呈。仲景麻黃湯中麻杏二味，李瀕湖謂為泄肺而設，其說甚確。然則不特葉氏溫邪先犯肺，吳氏溫病始手太陰之言，未可訾議，即傷寒亦何嘗非肺病乎？答曰，溫病亦始太陽，吾已辨之矣。今又謂傷寒為肺病，豈非岐中之歧乎？夫李氏之說，得半之說也。《本經》言麻黃破癥堅積聚，則將謂麻黃為血分藥乎？柴胡主飲食積聚，又將謂柴胡為陽明藥乎？古今來鮮聞用柴胡治食積，用麻黃破癥瘕者，書固不可以拘墟而讀也。夫仲景之麻黃湯，用於麻黃證者也，麻黃證者何？太陽病傷寒是也。太陽病傷寒者何？則大論提綱，固明言之矣。曾謂肺病而頭項強痛者乎？且傷寒提綱中有嘔逆二字，《活人書》三十八問謂傷寒之候，手足指末微厥，則此嘔逆二字，豈非少陰嘔吐四逆之兆乎？然即謂為少陰病，則不可矣。又三陽有嘔證，三陰亦有嘔證。太陰之理中，少陰之四逆，厥陰之吳茱萸是也，豈可謂六經皆為胃病乎。日本源通魏，謂《傷寒論》為郁病論，百十三方為郁病方，若此者，自持一說可也。持以厚誣仲景書，不可也，此亦陸九芝所謂移字訣矣。柯韻伯論桂枝湯證曰：乾嘔風侵胃府，鼻鳴是風襲陽明，而稱太陽者，以頭項強痛故耳。又論陽明中風曰：微喘惡寒，脈浮而緊，與太陽麻黃證同，以無頭項強痛，則不屬太陽耳。此論太陽非太陽之辨，合而觀之，最為削切著明。豈可誤為手太陰乎？誤為肺病乎？夫肺，何嘗不病，然不可以肺病括之也。嗟夫，置仲景六經於不問，而宗葉、吳偏說，則葉、吳將賢於仲景耶。</p>

<h2>十　由張仲景大青龍湯，到張壽甫清解涼解諸方</h2>
<p>吾前以大青龍湯為可以治溫病，以其重用石膏知之也。及觀鹽山張氏論說，益擊節讚歎，而內有以自信，此固早贅言之矣。然前輩學說之有合於鄙見者，正不乏人。其得失演進之際，固歷歷可道也。錢璜曰：大青龍之涼解，為治溫之首劑，而作一大柱名也。此與不佞所見略同。然桂枝之辛溫，果可用乎？則未盡善也。《活人書》曰：溫病發熱而渴，不惡寒者，主以竹葉石膏湯。桂枝辛溫之弊，似己法矣。然麥冬之膩滯，果可用乎，則亦未盡善也。於是柯韻伯曰：溫病初得，宜主以麻杏甘石湯，視麻黃湯，則以石膏而易桂枝。視大青龍湯，則重用石膏而去桂枝，似乎斟酌盡善矣。然麻杏之辛溫，流俗猶有所憚，而不敢輕試，則猶未盡善也。幾經進步，而張壽甫始有清解、涼解諸湯。通經而不泥經，善俗而不同俗，洵善且美也。以薄荷易麻黃，以連翹易桂枝，以牛蒡代杏仁。考《別錄》以合《本經》，徵西說以證仲景，超葉、吳以通寒溫，此老其猶龍乎！</p>

<h2>十一　視其後者而鞭之</h2>
<p>或問傷寒、溫病兩派，互相□詆，已數百年。是丹非素，不免蓬心。今吾子論寒溫諸篇，多詆葉、吳，而佐袒傷寒家。豈欲妄冀在中國醫學史上，又增一重公案乎？答曰，此則何敢？抑西方大哲柏拉圖（plato）不云乎，「吾愛吾師，吾尤愛真理」。平心而論，溫熱家在醫學史上，不無相當功績，然人多知之，至於罪過，則人多不知。吾特擇人所忽者而拉雜言之，所謂鞭其後也。傷寒家何獨不然，明如喻嘉言，而言麻桂青龍，三綱鼎立矣，而以姜附輩辛溫重劑治溫病矣。賢如陸九芝，治霍亂而不敢用理中四逆矣（太炎先生曾言其失。）。中西並通如惲鐵樵，而詆陷胸湯，而疑旋覆代赭湯，而疑小青龍湯矣。其他芸芸眾生之為麻桂柴葛所摻雜者，比之挺與刃，有以異乎？然固不能因噎而廢食，因蹶而廢行也。仲聖書豈可束之高閣乎！夫儒墨各是非，漢宋互水火，程、朱、陸、王相排擊，散文、駢文、文言、白話，皆敝帚自珍，固各有真理也。且唯物唯心，各有哲學根據；內導外導，各有辨證方式；集權分權，各有政治見解；文盲實利，各有教育主張；急進緩進，各有革命方法；樂天厭世，各有人生觀點，尤學者所飫聞也。即近如中醫西醫相聚訟，亦不外此公例之行而已，而又何異乎？</p>

<h2>十二　風溫發汗辨</h2>
<p>「若發汗己，身灼熱者，名曰風溫」。後人解發汗字，頗不一致，或謂發汗是誤用辛溫發表，或謂發汗乃自身出汗，日近長安近，各執一端。吾謂誤表之說，較為近理。發汗發字，是他動字，非自動字。他動者何？言汗為藥所發也，且為辛溫藥所發也。諸言血家不可發汗，衄家不可發汗，發汗連用，句同此律，皆可取證。若曰身自出汗，當言「自汗出」已。本條下文已如此，固不必多引證也。風溫為病云云，言誤治前後之證狀，其所以為辛溫誤表者何？古人治病，往往明於寒而昧於溫。觀宋世治溫，猶以麻桂諸方加黃芩、石膏為治，則辛溫發汗，為中夏醫學史上一大傳統勢力。故雖旁門別派如吳鞠通，仍不敢徑廢桂枝湯以治溫病。此中消息，真洞若觀火，仲景所以不憚煩，而於此條反復言之者，職此故也。善夫，嘉定張氏曰，隋唐以上醫家作者，多大江以北之人，所見所聞，習與性成。此南人溫病之所以多壞證。夫從地理以觀察歷史上醫家學說同異之所以然，如夏錢塘、梁新會以南北東西分析九流學派者，同為創見也。</p>

<h2>十三　傷寒溫病辨異</h2>
<p>大論開端，即以中風、傷寒、溫病、風溫四種病名作界示人。中間卻夾以傳不傳諸語，吾謂此亦有深意，決非叔和自亂其例，先後誤編。考傷寒為病，以太陽為正邪相持之吃緊關鍵。下後而氣或上衝，汗後而表有未盡，可見其反應力之強已。故二三日而陽明、少陽證不見，即知其不傳。不傳即仍在太陽，故太陽一篇，幾佔全書小半，殆以此也。溫病則否，其時外溫既高，皮毛自無需固閉，而反應之力以弱，故才說太陽，已是陽明。而仲景明言太陽溫病，聊攝偏注為陽明，致令學者有太陽陽明，不易辨界分疆之憾。而一經指破，仲景引而不發之指，又未嘗不躍如也。反而觀之，病雖已入陽明，而猶帶有幾分太陽，如白虎加人參證之背微惡寒。陶節庵《傷寒瑣言》亦曾言之，足證鄙說之不誣。過此以往，大實大滿，便成可攻，故有「傷寒下不厭遲，溫病下不厭早」之說。若不過於拘泥，未始不可備一說，亦以傷寒不易入腑，溫病易入腑也。故仲景於述中風、傷寒二證後，即以傳不傳諸語訓學者，明其異於溫病、風溫二證也。其帷中之光，弦外之音，非已和盤托出乎？世有識者，將不以斯言為妄。</p>

<h2>十四　陰陽升降</h2>
<p>柴葛二藥，為仲聖書中習見之品，故陶節庵用之而效，陸九芝用之而效，張壽甫用之而效。而葉天士、王孟英輩獨深惡痛絕之，幾視為鴆毒，而不可入口，此其持之雖有故，而究非篤論也，蓋嘗深思而得其故矣。《內經》曰，謹熟陰陽，毋與眾同。余廣之曰，夫言藥性之陰陽，則升者為陽，降者為陰。升者亦能降濁，是曰陽中有陰。降者亦能升消，是曰陰中有陽，故善調湯劑者，多升降並用，以成其妙也。《易》曰：一陰一陽之為道，知陰陽升降之故者，技其進夫道矣乎。嘗試以經方證之：麻黃湯中麻杏並用，麻升而杏降也；桂枝湯中桂芍並用，桂升而芍降也；葛根湯中麻桂葛芍並用，麻桂葛升而芍降也；大青龍湯中麻桂杏石井用，麻桂升而杏石降也；小青龍湯中麻桂夏芍並用，麻桂升而夏芍降也；小柴胡湯中柴夏並用，柴升而夏降也；大柴胡湯中柴夏枳芍並用，柴升而夏枳芍降也；麻杏甘石湯中麻杏石並用，麻升而杏石降也。舉此數方，可悟其餘，不特此也，若欲專升而不降，則桂枝湯中芍藥可以去。多降而少升，則桂枝湯中樸杏可以加。陶節庵心知其意也，故於大柴胡中加芒硝焉，大承氣中加人參焉，謂之為通人手筆，豈愧也哉。無他，審升降以用藥焉而已。吾始習聞葉王輩之說，對此二品，時若敬鬼神而遠之。迨夫遇當用柴葛，而欲避不能，而又須伍以降氣之藥之際，則權衡升降，放手用之，果未嘗如葉王所云云也。故曰，熟識陰陽，總別兼賅者，仲景也。偏識陰陽，知別而不知總者，葉、王（葉天士、王孟英）也。</p>

<h2>十五　陰陽表裡寒熱</h2>
<p>予又廣陰陽之說曰：夫言藥性之陰陽，則表者為陽，里者為陰。故善調湯劑者，迂夫表裡宜兩解，則兩解之矣。仲景之書，麻黃與石膏相偶，桂枝與大黃同群，乃其例也。後世因之，世有涼膈散、通聖散諸方，斯可謂善述已。又廣之曰：夫言藥性之陰陽，則寒者為陰，熱者為陽。故善調湯劑者，迂夫宜寒熱並用，則井用之矣。仲景之書，附子與芍藥為伍，乾姜與芩連並煎，乃其例也。後世因之，以有溫脾湯、左金丸諸制，斯可謂善述已。夫陰陽二字，乃動靜體甲之代詞，其函義本不止此。兩間所有，皆不出陰陽之範圍，或動而向緊張方面，呈效用而為能力，即陽也。或靜而向緩弛方面，成形體而為質點，即陰也。自俗士不識陰陽之真解，而謬妄之障霧，遂充塞於學界，又豈特醫道一端為然哉。</p>

<h2>十六　贊鹽山張錫純</h2>
<p>夫農軒之經，長沙之論，照如日月固已，而後世習俗，皆置之高閣，而以為遠迂，坐使日月障於雲翳而無光，豈不大可嘆乎？若夫生於世之唇，發至論之神，悟「抑者舉之」之旨，而有升陷之作。體「直上直下」之脈，而制參赭之方。於主往來寒熱之山茱，遂試驗之，以為扶危濟傾之大藥。於性微寒之石膏，遂重任焉，以為治溫之金丹。若鹽山張氏者，彼其於世，未數數然也。夫能幹上下升降之原，性味功能之故，固所謂技而進乎道者矣。而陳修園謂代赭不可重投，惲鐵樵謂旋覆未宜強鎮，皆未深乎實驗，而輕下武斷者。其於喻、柯（喻嘉言、柯韻伯）之說，尚不曾則柯而深喻也。「賢者一言不智」，君子有譏焉。</p>

<h2>十七　風溫汗解辨</h2>
<p>柯韻伯之注大論也，疑麻杏甘石湯證二條論文之有誤，而改汗出句為無汗。夫有汗不得用麻黃，改之誠是也。及其作《附翼》也，乃謂風溫為病，宜以麻杏甘石湯治之。夫風溫自汗出，仲景有明文。二說前後相反，何乃自亂其例歟。雖然，有說張壽甫曾言之矣。彼謂既言汗出，後用麻黃者，論文原不誤也。石膏得麻黃，則涼不留中。麻黃得石膏則發有監製。唯石膏須重用至麻黃之十倍，否則亦須五倍。於治喉證也亦然，此可為有汗仍可用麻黃之解人，且得之證驗，故是可貴。吾書至此，忽又有悟已。前言大青龍可以治溫，繼又疑湯中麻桂辛溫，法未盡善，抑果充壽翁之說。用大青龍者，石膏重於麻黃十倍焉，乃至超過十倍焉，又去薑棗，或並去桂枝，加他品味，效即與麻杏石甘等類矣。大論每言「某某湯主之」，主之者，特以此湯為主，而亦未嘗不可隨時隨地隨人隨證之少異，而輕重之加減之云耳。泥古者，乃以為一味不可更動，一分不可輕重，明如柯氏尚然，餘子何論焉。</p>

<h2>十八　發汗與解肌不同</h2>
<p>仲聖所謂發汗者，指麻黃獨用，抑指麻桂並用，而無監製而言也。中風有汗而桂芍並用，即謂之解肌，不得為發汗。故麻杏甘石湯，石膏十倍麻黃而監之，即可以治有汗之風溫，張壽甫實驗之說也。大青龍湯石膏超過十倍麻黃而用之，即可以治溫病。不佞臆測之說也。臆測之說，誠有待商。實驗之說，已不可破。而要之，麻黃得監製，即非純發表之品可知。吾於此又得旁證焉。《活人書》曰：風溫常自汗出，不可發汗，宜萎蕤湯。又曰，萎蕤湯兼療冬溫，及春月中風傷寒。今案，萎蕤湯，方中麻葛羌活各半兩，石膏一兩，麻黃等且超過石膏分量也。吾浙三衢雷少逸，以善治時病名，其論萎蕤湯也，謂有汗不可再汗，故羌葛麻黃，汗多不宜浪用，此誠不失為慎重者。抑雷氏亦知此三品之分量，竟《活人書》所謂不可發汗乎。然徵之古今醫家之說，麻黃什一於石膏，方為溫病解肌之正法。於實驗也有然，於理論也有然，《活人》之法，吾終無取耳。</p>

<h2>十九　榮衛是體，氣是用</h2>
<p>榮氣衛氣，為古醫經中重要術語，而古今說之者，只覺其多而無當。蓋皆憑一己之私見而為說，而無自然科學之輔助，與名學之眼光故也。嚴幾道先生雖取此二語以譯生理學中語，吾恐其亦未必與原文恰合。晚近惲鐵樵解榮氣為血液之滲潤，衛氣為體溫，近之矣，而猶有未盡。蓋「衛」是生理學上之末梢神經，「衛氣」是言末梢神經之作用。衛言其體，氣言其用也。方書云，衛氣者，肥腠理，司開合，衛外而為固也。夫皮膚開合，皆末梢神經為之。今以「司開合」三字說衛氣，則衛氣為末梢神經及其作用明矣，此一證山。方書又云，榮行脈中，衛行脈外。末梢神經本分布於血管壁，即此言行脈外也，此二證也。生理學家言「真皮」內具神經，能調節體溫，以反應天氣，即此言衛外而為固也，此三證也。夫體溫升降，原屬「衛」所有事。然「司開闔行脈外」六字，尚無著落，不如解為末梢神經較渾括。且體用不分，亦嫌含混。故曰惲之說近之矣，而猶有未盡也。至謂榮氣為血液之滲潤，則無以易。蓋榮指血液，氣指滲潤，亦一體一用也，亦所謂行脈中也。《管子·輕重篇》云：「上有丹砂者，下有黃金。」此山之見榮者也，注家解榮為榮華髮見，殆與此榮字同義矣。</p>

<h2>二十　衛病而榮不病，是神經病</h2>
<p>大論云：「病常自汗出者，此為榮氣和。以衛氣不共榮氣和諧故爾，宜桂枝湯」。又云：「病人臟無他病，時發熱自汗出者，此衛氣不和也，宜桂枝湯」。柯韻伯即以為桂枝湯可治雜病之據，誠知言也。若就大論本文而論，此二條者，皆言衛病而榮不病。以今語表之，皆是神經病，殆末梢神經衰弱證也。原桂枝湯以桂芍二品為主藥，方書言桂能疏肝木之郁，芍能伐肝火之炎，則皆肝藥也。夫肝即神經之代詞，幾成學界之定論。腦部充血，則謂之肝風，以藥緩馳神經，則謂之柔肝，皆其明證。然此姑不論，總之，以桂枝湯治衛病，即以神經病藥治神經病。推之凡破氣行血通滯化郁泄熱去痞之藥，直接能使人循環通暢，消化順利，排泄舒快；間接能使人氣分怕適，胸次開豁，心神曠爽者，皆肝經藥，即神經藥也。又推之凡擊球、跑步、行深呼吸、打八段錦，以至彈琴、下棋、研究樂天派文學，亦與服桂枝湯有殊途同歸之妙，所憾吾不能起仲景於九原而問之。</p>

<h2>二十一　古中醫學，多從「力」字上用功夫</h2>
<p>或曰，吾子以榮衛為體，於事理固可通。以榮氣衛氣之「氣」字為用，於古訓實無據，恐是杜撰。答曰，讀書貴仔細，固未可掉以輕心者。《內經》云：「陽化氣，陰成形」。注云，陽無形，故化氣。陰有質，故成形。玩此句經文及注，氣為無形而有「用」明矣。唐容川乃以有體質之空氣解氣字，而猶自詡為匯通中西，誠令人齒冷也。且氣為陽，血為陰，方書之恆語也。陰陽非體用之代詞乎。《周易》朱子注云：道具於陰而行於陽。夫言行於陽，則亦以陽為用已。故氣不得血，則無所附。血不得氣，則莫以行。氣與血，固二而一也。讀者苟以吾言為玄談乎，則請徵諸近世科學家之說。科學家言，凡占空間，可分析，可稱量者，謂之「質」。其附於質而範質也，謂之「力」。質即體，故血亦即質也。力即用，故氣亦即力也。須知古中醫學說，多從「力」字上用功夫。如言諸很皆升，諸子皆降，水居者潛陽，有介者攻堅，皆從物質之「潛力」「傾向」為說。而世所謂「氣化」二字者，亦皆指此潛力此傾向而言也，乃江湖醫以此為神秘，科學醫誣此為玄虛，蓋兩失之，吾執筆至此，言下又恍然於謝無量之言，謝氏《中國哲學史》解孟子學說，謂孟子形容養氣諸語，即指神經纖維中之力，是謝氏亦以氣為「力」已。又吾前言衛為末梢神經者，與謝說亦不謀而合也，特彼從哲學上立論耳。然哲學醫理，固可相通也。</p>

<h2>二十二　氣化者，即佛家言「用」，科學家言「力」也</h2>
<p>中醫學者，氣化之學也。氣化者，即佛家語體用之「用」字，科學家言質力之「力」字也。《內經》《傷寒論》，乃至全部中醫理，皆當作如是觀。故若以解剖學之眼光觀察中醫學，即無異以「體」、「質」之義衡論中醫學，宜其無往而不冰炭也。《傷寒論》曰：「發汗後，臍下悸，欲作奔豚者，苓桂甘棗湯主之」，以甘瀾水煮之，甘瀾水者，一名勞水，擊之而成沫，揚之而成珠者是也。古今治傷寒者，皆熟視無睹。獨惲鐵樵曰，井水與金山泉、惠山泉不同者，水中所含成分不同也。流水與止水，生水與熟水不同者，乃水之各微分原子交互不同也。今以二斗之水，揚之則有珠，未揚則無珠，是既揚以後，水中已有「力」加入也。此「加入之力」，必經一定時間，然後消耗淨盡。當其未消耗時，用以煎藥，使入腹後，圓轉流動，不生障礙，是用甘瀾水之微意，此說可謂前無古人。故不佞謂方書言衛氣、榮氣、氣化諸氣字，皆「力」字「用」字之代詞，說雖奇創，而理至確已。說者謂西醫有補血之法，無補氣之方，不知彼固從「體」、「質」方面衍成學說體系者，中西醫理根本之異撰，蓋一虛一實也。</p>

<h2>二十三　由潛力之理，悟得同氣相求之理</h2>
<p>或曰，根升子降，介破水潛，此徐洄溪、唐容川輩之讕言，而非可語於科學時代也。今吾子反拾其唾餘，引之以解釋氣化，自矜創穫，不幾為科學家所笑乎。答曰，先生此難，乍聆之，似亦有理。抑先生固自命為有科學常識者，亦知科學上有「能力不滅」之定律乎？今夫升降潛破，固多物體自身各具之能力也。及其為湯藥也，又加之火煎之力。下咽也，更益以消化之力，即於升降潛破之外，又多數種運動能力焉。則其在人體而能升降潛破，固其宜也。此吾潛力之說也，然吾意猶以為未盡焉者。則以彼能升降潛破之物，論者將謂其生命已矣，雖能力不滅，而升降潛破之功用，必隨以俱亡。不知此說非也，彼升降者形體雖死，而升降之傾向，固未死也。潛破者生命雖亡，而潛破之傾向，仍不亡也。曾聞某醫學家之論雞內金矣，所謂雞無齒，故胃之消化力特強，推之凡一切鳥類之胃，亦必消化力特強，故皆可借之以消食，此醫學家固中西並通者也，吾一時特忘其名耳。然彼固以死雞胃死鳥胃為可以助消化也，則亦吾「傾向」之說耳。夫知「氣化」為潛力為傾向，始知「同氣相求」之說之有真理，而以脾補脾，以胃補胃諸說之非盡屬空說，可知矣。</p>

<h2>二十四　器官療法答客難</h2>
<p>不佞以科學家之所謂「力」。Energy者釋氣化，自謂面目一新。然因推論以脾補脾，以胃補胃，諸舊說之不盡誣。友人之具有新學識者，頗以為疑。予聞之，欣然曰，善哉疑也，此正所謂科學精神也。請人云亦云以為吾解嘲。王吉民者，當今之西醫學家也，曾仿東入《醫事啟源》之例，而著《中國曆代醫學之發明》一書。其第三章療學中語，頗足為不佞張目。其言曰，曩昔外人嘗譏我國用動物入藥之非，斥腎虛食腎，肺病食肺為迷信，無藥理之根據。然近今新治療，漸趨此途。尤以器官療學轟動一時，其間世所公認為有效者，如甲狀腺之於癭證，酸酶之於胃病，睪丸之於陽萎，豬卵之於痛經，凡此種種，皆中土所固有，誰謂吾國數千載所得之經驗無研究之價值哉？王氏之說具如此。又雜引《千金》、《外臺》、《本草綱目》諸書言羊靨治癭症，而綜案之曰，靨，即今之所謂甲狀腺，癭乃甲狀腺病之一。治法有二，即靨與碘是也。上列各方，有用昆布、海藻、海帶者，蓋此等物含碘質甚富耳，特古人不諳化學，竟知用此，此吾所以重視中土之經驗，而樂為之表彰於世焉。又曰，酸酶為治胃病聖藥，系用羊豬胃製成，價格甚昂。雞內金與酸酶，實同一物，而價甚廉。前閱《博醫會報》，載某氏曾試用雞內金以代酸酶，頗為滿意，因提倡代用，以節省病家之費云。以上皆王氏之新見解也，故不佞私謂使中醫家氣化之說可通，吾「氣化即力字用字」之說果信，則未來之新中醫、新西醫，皆將有無窮之進步。若不佞者，固學界中之一無名小卒也。然此無名小卒之言，正有一顧之價值在，俟有暇再申論之。</p>

<h2>二十五　潛力之義，與東方文化</h2>
<p>嘗閱某筆記，謂於侵晨握拳向井面努力擊水，始習時，翻浪湃然有聲，習之稍久，浪聲漸微，以至於杳，及其終也，但離水作手勢，而潛浪已坌湧，持此以撲人畜，離數里外，可以遙斃之，此亦吾「潛力傾向」之說之類也。然《裨史》所載，長老所傳，類此者猶多，雖有溢詞，決非全妄。《莊》、《列》二書，尤津津樂道之，此治九流之學者之所知也。自餘儒家言養氣，佛道二家言煉氣，亦同此理。又吾國古代聖哲。好言人治，近世頗有非之者。然人治云者，決非狄克推多之謂，乃指人格感化而言也。故有「星拱北辰」之喻。既言人格感化，則必有「能感者」，修養其人格，十分完滿。然後以此修養之「潛力」，向「被感」方面注射之，刺激之，使其精神作用起變化也。曾滌生《原才》一篇，最識得此義。梁任公稱為非深明社會學之理者不能作，誠非溢美也，今吾言已喋喋溢於題外矣，姑舍是，然亦可見東方文化，自有其真價，決不可如醉心歐化者流所言，當全般推翻也。</p>

<h2>二十六　能實創化之說，與氣化之義</h2>
<p>胎兒在母體，必備經生物進化途次所現諸變形。兒童至成人，亦具歷由原人而文明所有諸質性，生物學者名此為復演說，赫腎黎氏更充類至盡言之。以為二儀之內，仰觀俯察，舉不外是，而名之曰能實。能實也，復演也，皆一種傾向也。須知物在天地間有此能實，在人氣血中亦有此能實，特較隱約難明耳。論者其毋謂升降潛破之能力，因升降潛破者本身之死而消失。生物哲學家柏格森曰，今有一礦物之結晶於此，此結晶即所以表示此物過去中不可磨滅之痕跡，亦即表示其固體之歷史，即有生長創造之消極傾向，是無機物亦創化也。由柏氏之說據之，即令升降潛破者已化為無機物，而在人氣血中，仍有升降潛破之創化傾向可知也。今夫一果實之落也，必有其所以落之因，成熟，一也。地心吸力，二也。其重量體積，必輕小於地球，三也。在地球吸力範圍中，四也。若問此果實所以能成熟之因，則無數前事，錯綜蕃變。雖然，此無數前事之雜因，合而為一，即此果實成熟之總因也。今試命此總因為「愛克斯」，此果實所以能成熟而落者，既由此「愛克斯」為之。假令人食此果實，除一部分性味養料成為有機化學作用外，此「愛克斯」必還復而為無數前事之力，特變聚為散耳，其全量固未嘗增減也。夫此「愛克斯」之聚也，既在枝上而能落；此「愛克斯」之散也，亦必在人身而克降，其升潛攻破之理准此，則信乎氣化之說之果未可厚誣也。</p>

<h2>二十七　東洞氏與仲景學</h2>
<p>東人東洞吉益著《藥徵》一書，專取傷寒方中諸藥，研究其功效，由病證以推藥能，從歸納以定主治。其學純研究仲景學，其法近乎科學法。似有足珍者，然不佞獨以為此公治學，未免失之拘泥，果從其說，仲景將為叫屈。則請舉其紕繆一二，以概其餘。此如雲，麻黃主治喘咳水氣也，旁治惡風惡寒無汗。次乃引用麻黃之湯證十有四以實之。自以為足徵信已。不知惡寒無汗，以發汗為麻黃之主治。乃今以為旁治，而移其主治於喘咳水氣，是稱驥以力也，抑何其說之詭且僻乎。且既言旁治無汗，而又引麻杏甘石湯之「汗出而喘」為佐證。一條之中，首尾矛盾，更何其疏也。晚近名醫若張壽甫，若惲鐵樵，若丁甘仁，皆言麻杏甘石湯治喉證甚效。惲氏之意且以為惡寒無汗為太陽主證，故用麻黃。煩躁為陽明主證，故用石膏。今喉證初起如是，是太陽陽明合病也，以麻杏甘石湯開其汗腺，不殺菌而扁桃腺之腫自消，即喉證自愈已，此誠治《傷寒論》而深造有得者之言。而東洞氏以仲景無明文，竟不識也。且熟視仲景太陽陽明之說而無睹，敢謂其說為不足取，是買犢還珠者也，是科學皮毛之粗而又粗者也。仲景云乎哉，夫仲景之方，活方也。取潔方而施以分析，是何異殊人之手足，而待其腐臭。乃以為人之手足，固腐臭者，何其誣也。前輩云，論方不論藥，東洞固未之聞矣。</p>

<h2>二十八　色非虛設，形不徒然</h2>
<p>人與入群，不能不受群之和採，此孔氏著三益三損之教，墨子標染蒼染黃之論。而社會影響個人者，其權威所以大也。藥在湯劑，理亦如是，故海螵蛸得茜草，即奏闢而能翕之妙；五味子合乾姜，便見收中帶散之功。又如潤肺於蒡蕷，納氣以赭參，皆彰明較著者，不寧唯是。今夫麻黃湯，固發汗峻劑也，及至變而為麻桂各半，又變而為桂二麻一，則功用即異已。蓋藥與藥相群，固徵茅茹相連之效。方與方相復，亦驗鼓桴相應之神。羅素之創中立一元論也，劉伯明頗有異議，謂持此以言物質則可，推此以言社會則不可。雖然，吾則謂持此以言物質，尚須有畛者。哲學大家赫胥黎曰，一本之植也，色非虛設，形不徒然，嚴幾道先生注之曰，草木有綠精，而後得日光能分碳於碳養，然則中醫家言青白赤黑，言酸辛苦鹹，言溫涼寒熱，豈玄談哉？柏格森哲學之精髓，在不主分析，乃喻之以音樂，喻之以詩歌，喻之以小兒之天真爛漫，快哉喻也，旨哉喻也。今東洞氏之《藥徵》，偏將仲景相得相濟之活方，割為孤立無機之死品，使相得益彰之藥隱其能，首尾相應之論晦其旨，即罵之為死豬化，死狗化，豈惡嘲哉？</p>

<h2>二十九　成分與成分相反相成之力與利用</h2>
<p>一方之中，藥與藥有相得益彰之功，相反相成之妙。一藥之中，甲成分與乙成分亦有相得益彰之功，相反相成之妙。如陳念祖論細辛闢而能翕，張壽甫釋之云，細辛味辛，細嚼之又有酸意。辛能闢，酸能翕也。是酸辛二味，為細辛相反相成之妙用所在可知。抑除含辛酸二味之某成分外，安知不又有其他次要輔助成分，或更重要成分乎。胡適之患糖尿病，以西法治之不效，某中醫竟以重用黃耆愈之。西醫化驗原方，迄無結果。可知必非黃耆中之某一種成分能治糖尿病也可知。吾嘗私立一臆說，以為各成分在某藥中，非「雜多」plurality之存在，乃「總協」Totality之存在。其「總協交互之力、成一「不可分性」。彼用水有長流、甘瀾之異，服法有徐飲、頓飲之殊，亦明利用此力而已。孫中山云：文明不深，則辨味不精，即烹調不妙。中國烹調之妙，亦足徵文明進步之深。夫飲食醫藥，事出同源，故嘗草樹藝，皆本神農，食醫疾醫，同載周禮。而伊尹善割烹，遂創湯液。近人孫永祚亦曾言此，故吾即於飲食而悟中醫術要渺之故焉。譚氏仁學曰：庖人之治庖也。同一魚肉，同一蔬筍，調和烹煮之法又同，宜同一味矣，而或方正切之，或斜切之，或臠之，或糜之，或巨如塊，或細如絲，其奏刀異，其味亦因之而不同。雖然，吾謂若取魚肉、鹽梅、椒薑、醬醋之足以成至味之成分而和調之，其不能與良庖爭美，而「推潭僕遠」者，決也。善悟者，由此可以推彼。</p>

<h2>三十　無所非能，無能非所</h2>
<p>理有決無可疑者，成分與成分相得而成良藥，藥與藥相得而成良方，方與方相得而成良複方，雖然如是而已乎？未盡也。方書云，有故無殞，亦無殞也。又云，有病則病受之。夫非謂方藥與臟腑氣血亦有相得者在乎。若夫春秋冬夏，時之異也；東西南北，地之異也；治亂隆汙，世之異也；士農工商，業之異也；貧富勞逸，境之異也；男女老幼，體之異也，人之所值遭而稟之者，又皆與方藥隨宜為得者也。而世人或不之信，目為誕詞，抑何過乎？嚴譯穆勒名學部丙云，每聞人言某甲之死，因服砒霜，砒霜固能殺人，而其人之氣血臟腑，必與砒霜翁合，且為散布血流，乃成死果。蓋「所」之有事，正不異「能」。無「所」非「能」，無「能」非「所」。幾道先生案之曰，此段所論，亦前賢所未發。乃從奈端第三例悟出。學者必具此法眼，而後可以讀《易》。嗟夫，此王肯堂有治本草不看主治之說，陸九芝有藥借病用之談。前賢戴元禮曾用人參發汗，近人張錫純亦以熟地解表，圓機活法，神乎神矣，不謂之為暗合乎科學，不得也，惜乎！號稱有新頭腦者，競亦未達乎此，於鈴醫何責焉？</p>

<h2>三十一　陰中有陽，陽中有陰</h2>
<p>考奈端動例，有主動力，必有反動力應之。砒霜之力，主動力也，人體臟腑反應之力，反動力也，故幾道先生以為此二義隱相溝通。又宇宙間一切現象，皆具此主反二力。相牽相制，迫於機緘。若有主無反，則主亦隨以俱亡，而現者隱矣。《易》家「陰中有陽，陽中有陰」，亦同此義，故幾道又謂必具此法眼者，始許讀《易》，亦以此也。今案醫家云，亡陽者，陰不獨存。又云，孤陽不生。又云，水中有火，火中有水。種種妙諦，皆從《易》理脫胎，此所以不佞嘗謂，近世西方科哲，與中國六藝九流，皆為中醫家輔助科學，亦為基礎科學，所當必修，不俟論已。</p>

<h2>三十二　以委曲積漸之哲理解病理</h2>
<p>宇宙間一切現象，既皆由主反諸力，相牽互制，故空間諸動體，不能為直線之前進，而為曲線之繞行，月受制於地，地受制於日是也。哲學家云，形氣現象中無完全自由，意殆指此。惟大《易》亦云，曲成萬物而不遺。儒家衍之遂有禮樂之製作，以節制吾人之徑情直行。道家衍之，遂有老子「曲則全」，「柔能勝剛」之說。法家衍之，亦有以法平人之義。若醫家，獨無所同然乎。今夫人之長，無暴長者，必委曲積漸而後長也。病之去，亦有無驟去者，必委曲積漸而後去也。大論少陰篇曰，厥逆無脈，乾嘔煩者，服湯脈暴出者死，微續者生。夫暴出何以死乎？以其違乎委曲積漸也。微續何以生乎？以其合乎委曲積漸也。苟卿、朱熹皆好言積漸，誠深於《易》者。斯賓氏以為社會宜任其自然蛻化。言群治者，勿過於操切。嚴侯官遂謂其合於吾《大學》《中庸》之精義，亦以此乎。</p>

<h2>三十三　太陽少陰表裡之關係</h2>
<p>太陽為表，少陰為表之裡。故表病亡陽，即屬少陰為病。詳大論，太陽病，發汗。漏不止，小便難，四肢急者。主以桂枝加附湯。案附芍並用，乃少陰病藥。此緣太陽脫液，入少陰故也。又傷寒，脈浮，自汗，心煩，腳攣者，大論以為桂枝不中與。誤與者，姜草復陽。《金鑑》、鐵樵由上條例推，皆謂此證宜桂枝加附，允已，此蓋太陽少陰類似證也。至太陽篇有頭痛脈反沉之脈，則脈涉少陰也，故用四逆。少陰篇有脈沉反發熱之證，則證涉太陽也，故用麻辛。此二反字，隱而有映帶，至可玩味。節庵《瑣言》存橘補天石，亦皆注意及此，洵乎讀書有識者。又太陽篇大青龍證條有「無少陰證」句，讀者每滑口而過，惟張壽甫好學深思，心知其意，謂傷寒初得，多有少陰證。吾書開端，已引其說，良以二經相似，審析實難。仲景反覆告戒，意至深遠。《內經》云，手少陰，心也。又云，太陽中見少陰。又云，心為陽中之太陽。韻伯解生薑瀉心，即從此義發揮得之矣。然自叔和以降，六經順次相傳之說，方深中於人心。執迷不悟，殊堪浩嘆。夫由太陽入陽明，固康莊坦途。而由太陽入少陰，尤終南捷徑。不佞嘗謂治大論者，宜將太陽少陰二篇，互相參讀，聞一以知二，手弦而目鴻，研究法實應講究也。</p>

<h2>三十四　續申前義</h2>
<p>大論少陰篇云：「病人脈陰陽俱緊，反汗出者，亡陽也，屬少陰」。柯琴謂是太陽少陰相似脈。矜為獨得，誠足矜也。尤在涇亦有眼光，於《貫珠集》云，此寒傷太陽，陽虛不任，轉入少陰。唇亡則齒寒，陽虛則陰及，故曰少陰之邪，從太陽飛渡者多也。玩飛渡二字，是仍有六經順次相傳之說，橫互胸中。然固是解人，至於少陰病，八九日，一身手足盡熱者，以熱在膀胱，必便血。尤注云，此熱入少陰，而還為膀胱。夫知少陰之可以還為膀胱。由反以推正，即知由太陽之可以轉為生薑瀉心證之故。太陽有真武證，少陰亦有真武證。太陽治水用五苓，少陰亦有豬苓。太陽用乾薑五味治咳，見於青龍、柴胡、真武諸方。少陰亦有同治，見於四逆散，其故可思也。且四逆散主少陰病，四逆，泄利下重。柯琴謂仿大柴胡，尤怡謂似小柴胡。二說雖異，要之，《內經》少陰為樞之旨，固深知之青，原柴胡為樞轉之藥，今用之少陰，是冀其由少陰返太陽也，蓋由太陽可以入少陰，由少陰亦可還太陽，亦猶少陽之能轉陽明為太陽也，為樞之義如此，故曰脈陰微陽浮為欲愈，蜷臥欲去衣被可治，陰病見陽脈者生，皆謂陰出之陽也。若其人胃氣素盛，而中陰溜府，便成可攻，故少陰亦有承氣急下之訓。與太陽不大便，頭痛有熱與承氣者同，皆此物此志已。</p>

<h2>三十五　陽明「胃家實」與太陰「胃氣弱」</h2>
<p>大論云：「陽明之為病，胃家實也。」即正以推負，亦可云，太陰之為病，胃家虛也。同是病入胃腑，陽明太陰，只爭虛實而已。二者「伴同而職異」，柯氏之說，吾深有取焉。大論云：「本太陽病，醫反下之，因而腹滿時痛者，屬太陰也，桂枝加芍藥湯主之。大實痛者，桂枝加大黃湯主之。」夫表則太陽。誤下入里，則虛為太陰，實為陽明。此一條中，時痛與大實痛既異，加芍或大黃即殊。其他口渴與口和，便結與下利，脈大與脈弱，皆虛實之辨也，汪琥《辨注》，柯琴《來蘇》，最是解人。下條云，以其人胃氣弱，易動故也，正言太陰亦屬胃，特氣弱耳。此「胃氣弱」三字，與陽明篇「胃家實」三字，遙相對待，故太陰篇幅甚少，非缺失也。陽明既明，太陰自不煩言而解，即正可以知負故也。太陽篇云：「太陽陽明合病，必自下利」。夫三陽安得有下利。成（成無己）註解為表實裡虛。夫言裡虛，亦即太陰之漸矣。</p>

<h2>三十六　陽明裡氣虛，即有轉太陰之傾向</h2>
<p>不當汗而汗，不當下而下，庸醫殺人，由來久矣。觀仲景之書，於汗下丁寧告戒，又歷言救誤之法，可以明已。自序云：「今之醫，省疾問病，務在口給。相對斯須，便處湯藥」。寥寥數語，粗疏之狀如繪。王叔和知其然也，故重集可汗不可汗，可下不可下諸篇，提要鉤玄，令眾知驚。論世知人，良工心苦。後人攻之，未免少歷史眼光。雖然以經法言，先表后里，表汗里清，不易之則，亦有異乎常例者，急先治之，不拘表裡，先四逆後桂枝，少陰用麻辛，太陽陽明用四逆是也。原太陽初病，全身氣血，悉索功能，以與外邪旅拒。此仲景所以有誤下之禁也，亦有不待誤下，而已有自下之機者。大論云，太陽與陽明合病，必自下利。成注，二陽方外實而不主裡，則裡氣虛，故必不利，與葛根湯以散其邪，此數語蓋從《內經》「陽爭於外」悟出者。夫去其所以外事之因，主之以升陷之品，使抗外之師，歸而戡亂，何妙如之。夫外邪甚者，本有裡虛下利之機，升之不遑，況攻之乎？喻嘉言治痢用逆流挽舟，張壽甫治痢借人參白虎，若與此相提並論，似同而不同，似不同而同，而成注「裡氣虛」三字，倜乎遠矣。</p>

<h2>三十七　臚觀太陰諸病</h2>
<p>今試臚觀太陰諸病。其一，由太陽誤下而成理中加桂證，即太陽篇之桂枝人參證是也，此用解表溫中對治。其二，由太陽數下而成太陰篇之桂枝加芍證者，此用解表與微下對治。其三，太陰篇云：「傷寒，四五日，腹中痛，若轉氣下趨少腹者，此欲自利也」。又云：「傷寒，脈浮而緩，手足自溫者，系在太陰」。則不因誤下而屬太陰者。其四，即陽爭於外之太陽陽明合病。氣血抗毒於外，正氣空虛干內。外證雖屬二陽合邪，內證已向太陰自利，此用解表升陷為治，而不用葛根芩連。其五，太陰篇云：「暴煩下利，日十餘行。以脾家實，腐穢當去」。案，胃中燥矢，則謂之「胃家實」。胃中濕矢，即謂之「脾家實」。燥矢須下之，濕矢必自寒下。同是實也，而脾實與胃實，又分涇渭。只爭寒熱燥濕自利不自利諸事而已。故雖曰「脾家實」，仍自不礙「虛則太陰」之旨，因此所謂實者，特虛中有實而已。亦如陽明不能食，實中有虛也。陽明篇云：脈浮而遲，表熱裡寒，下利清穀，四逆湯主之，亦即太陰也，徒以脈浮表熱，認為陽明耳。仲景於太陽篇雜有少陰語，少陰篇亦雜有太陽語。於陽明篇雜有太陰語，太陰篇亦雜有陽明語。少陽厥陰二篇亦然。淄澠之味，非易牙熟從而辨之。</p>

<h2>三十八　《傷寒論》有雜病法，與賤丈夫之作俑無後</h2>
<p>太陰為病，最是習見。夏秋之間，多啖瓜果，不逾宿而自利作矣。一日更衣七八次，而旋即告痊。世每以為雜病，吾則以為亦「脾家實」，腐穢當去之類也。至於氣溫升降不常，往往出人不意，攻人無備。入市買肉，歸途轉涼，昨夜酣眠，猝忘蔽體。因寒邪之微受，遂下利而腹疼痛。此亦傷寒脈浮緩，系在太陰之輕證乎？又宋世以降，方書稱為泄瀉者，小兒虛人，尤多患之。香砂六君、補中益氣、附子理中，每有奇驗。其附子理中似仲景之四逆，香砂、補中似仲景之桂枝人參。姑舉數例，可以隅反。後世紛紛雜雜之醫籍，不過從仲景書中，悟得一鱗半爪，而更充暢言之，或變相出之。然則謂《傷寒論》有雜病法，雜病不離六經。夫豈阿好，有賤大夫焉，不恤作俑無後，妄謂仲景書只能治冬日傷寒，明詔大號，廣災梨棗。鄭聲居然奪雅樂，逢蒙膽敢殺老師，吾末如之何也已矣。</p>

<h2>三十九　少陽為樞說</h2>
<p>少陽甲木之病者，神經之病也。神經者，表而太陽，里而陽明。大德川流，小德敦化。綱維出入，無所不到，使病人津液足以養神經，即療能足以行救濟，則病之在表者，未必入里。入里者，亦能出表，否則表者既入里，即里者永不出表，而為純正陽明病矣，其機如此，只視神經救濟功能何如耳？故曰，「少陽為樞」，此其真解也。試觀少陽病證，忽而類太陽之寒，忽而類陽明之熱，表裡循行，如不蠹之戶樞，仲景即以表裡雙解為治，甲柴胡升邪出表，半夏降胃氣，黃芩清胃熱，其旨明甚。大論云，外有微熱者，加桂枝，言邪在半表者多也。又云，服柴胡湯渴者，屬陽明也，言邪在半里者多也。又云，血弱氣盡，腠理開，邪氣因入。前言腠理開闔為神經作用，是明言津液不足養神經，抗毒失職所致也。</p>

<h2>四十　續論少陽為樞</h2>
<p>陽明篇曰：病人煩熱，汗出則解。又如瘧狀，日哺所發熱者，屬陽明也。脈實者宜下之，脈浮虛者宜發汗。案此證日哺發熱，陽明的證已具，故曰，屬陽明也。然脈浮如瘧，是仍有欲從少陽出表之機，故仍宜汗之，必待脈實而後下之者，以必脈實方知病為確乎入里也。此里病之未實者，可以由少陽出表之說也。太陽篇曰：服桂枝湯，若形如瘧，日再發者，宜桂二麻一湯。又云：太陽病，八九日，如瘧狀，不嘔，面有熱色，宜桂麻各半湯。此二條皆言如瘧，而一因日再發，一因不嘔，是表病欲入少陽而未入，故皆取微汗法，此表病可以入少陽，而終未入之說也。太陽篇小柴胡證曰：傷寒五六日，中風，往來寒熱。柯注太陽受寒，過五六日，轉屬少陽也。太陽篇小柴胡桂枝證曰：傷寒六七日，微嘔，心下支結。柯注，表證微，故取桂枝之半；內證微，故取柴胡之半，此表病已入少陽之說也。至陽明中風，則惡寒脈緊之太陽表證未罷，而口苦咽乾之少陽樞證已見。口苦咽乾之少陽樞證方見，而腹滿微喘之陽明裡證旋呈。柯氏謂當從少陽治，然則亦冀其從樞轉表也。少陽為樞，洵無疑矣。</p>

<h2>四十一　從少陽病講到物競天擇</h2>
<p>生理學家言，淋巴管之在人體左部者較長大，分布於左上支及胸側等處，一名胸管，內含淋巴液及乳糜。與脾臟同有製造血輪，吞滅細菌之效。今案少陽病必胸脅苦滿，其即胸管脾臟受病乎？又凡相火鬱盛者，左脅常覺悶痛。吾亦疑為脾臟抑淋巴受病使然。瘧為病，西說謂緣細菌原蟲，中說屬少陽。二義差池，孰非孰是，吾以為皆是也。人之左脅，既是血輪製造廠，自亦為抗毒之大本營，殊死抗戰之餘，苦滿痞痛轉甚，有必然者，然小柴胡非能殺菌，而亦能治之者，亦猶麻杏甘石不能殺喉菌，而能愈喉證。乃至仲景百十三方不能殺傷寒桿菌，而能愈傷寒者，同理也。俞鳳賓引歐土醫家沛登氏三因鼎立之說，以明霍亂構成之理，謂霍亂菌潛入腸胃，一也。氣候不適於人，獨適於菌之生存，二也。人身抵抗力棉薄，三也。三因具足，始能為病。有其一而缺其二，不能病也。有其二而靳其一，猶不能病也，故俞氏之師爾立氏，曾服霍亂菌而無傷，以其體健，與氣候佳也。俞氏又謂吾人日在惡環境中，與病菌接觸，安知吾腸胃之果無霍亂菌乎？徒以抗力存在，遂不病也。詳仲景諸方，或發汗以泄熱，或溫經以復陽．或吐下以祛毒質，總使人體不與病菌相得，吾身抗力不衰，故病在初得，覆杯可以無事，職此故也。若以大《易》習語表之，病菌者小人也，抗力者君子也。君子道長，小人道衰勢也。若以生物學家術語表之，體氣者，菌爭存之環境也，環境不適菌之爭存，獨適於人，菌即歸於劣敗，所謂天擇也。</p>

<h2>四十二　少陽厥陰表裡之關係</h2>
<p>凡病機向表向上者為順，反是則逆。太陽為病，邪在表在上也。誤而強下之，氣猶上衝者，可仍與桂枝湯。陰經有汗法，脈微浮為欲愈，皆此理也。無他，下甚於上，里深於表故也。太陽與少陰，陽明與太陰，其相互關係，前已論及。今更就少陽厥陰之關係，約略言之，此二經之病，非所謂肝膽相火之病，即神經病乎？然亦少陽輕而厥陰重，則邪在上在表者，淺於邪在下在裡故也，故厥陰有下利證，少陽只有嘔證。《內經》曰：諸嘔吐酸，暴注下迫，皆屬於熱。此嘔吐即指少陽，此下注即指厥陰。少陽之熱，即用小柴胡轉而出之。厥陰之熱，須用白頭翁清之。仲景之書，與《內經》相發，此亦其一端也。唐容川、張壽甫詮滯下，主平肝清火，此誠得之。又厥深熱亦深之在厥陰，與厥逆亡陽之在少陰，二者迥異。此厥深熱亦深，即《內經》屬熱之旨也。大論云：四逆厥者，不可下之。又云：厥應下之。此二條中，自相矛盾。治《傷寒論》者，多視若無睹。竊謂前條冠以四逆二字，是指明少陰之四逆，不可與厥陰相混也。厥陰與少陽，既互相表裡，使病人抗力強盛，即能由厥陰出少陽，故厥陰篇有胸脅煩滿，面赤、汗出而解之文。有嘔而發熱者，小柴胡湯主之之語。叔和知其然也，故於此二經，錯綜編之。至陽明篇云：嘔多，雖有陽明證，不可攻之。而小柴胡證全文，則在太陽篇。少陽篇不錄一方。亦以少陽為遊部，關涉各經故也。後人取小柴胡脈證匯移少陽篇中，轉失仲景變化錯綜之妙。</p>

<h2>四十三　太陽為天，無所不冒</h2>
<p>《難經》言傷寒有五。溫病、熱病濕溫亦屬之者。以溫熱之分別，只先夏至後夏至有異，非溫病外別有熱病也。溫而夾濕，即謂之濕溫。此三種病，初起皆見惡寒頭痛等證，即皆由太陽傳變，故皆可謂之傷寒。觀仲景立方，不待太陽用表藥，他經亦有用表藥者，可見他經皆無不關涉太陽，良以太陽者，人身之天，無所不冒者也。一切外感，第一步必先及太陽，故傷寒有五也。柯韻伯言六經各有表證，章太炎謂為能見其大。竊謂非是，當言六經皆與太陽有關涉耳，乃清代葉天士謂溫邪首先犯肺，吳鞠通謂溫病始手太陽，此皆誤也，坐不知太陽受邪，氣管支必現卡他性catarrhal固不得見咳喘，即謂病灶在肺也。</p>

<h2>四十四　陽明為地，無所不歸</h2>
<p>前節言太陽為天，無所不冒。乃從《內經》、《難經》及《傷寒論》悟出者。今此將言陽明為地，無所不歸。陽明篇云：陽明居中，土也，無所復傳，即其義也。故仲景諸承氣，非直用諸陽明，即陰經亦時用之。亦以陰經溜府，即為轉屬陽明故也。《內經》「中陰溜府」之說，為自來所不知，獨陸九芝知之。又案陽明主肌肉，故有形質。太陽主衛外，但表能力。嚴幾道先生曰：凡力皆乾也，凡質皆坤也。《易》注曰：道具於陰而行於陽。然則亦可云，形具於陽明，而行於太陽已。故所謂急下存陰者，亦必指陽明而言，方有意義也。自葉、吳用滋膩為養陰，舉世感之。於是死於大小定風珠一類方藥者，不知凡幾。豈特席姓七案也哉。</p>

<h2>四十五　覆按「太陽陽明者，脾約是也」九字，為指溫病而吉，並申斥倡「跳出傷寒圈子」說者之謬</h2>
<p>陽明篇曰：太陽陽明者，脾約是也。陸九芝以為此「太陽」二字，非指六經之太陽，乃言其人未病時，津液素虧而陽王也。近人張山雷氏曾本此說為文造論。吾□者亦贊其新異可喜。然太陽少陽，為本論中經脈之專名，從未有例外，謂此處獨否，於義究似未妥。今見尤在涇注此條云：以其人胃陽盛，脾陰不布，於是太陽受邪氣，陽明已成內實。又注「始雖惡寒，不久自止」條云：始雖惡寒，不久自止，豈若太陽始終惡寒者。余乃推捲起曰：有是哉。所謂太陽陽明者，指溫病而言也。尋太陽篇云：太陽病，發熱而渴，不惡寒者，為溫病，此與陽明篇數節皆遙遙相對。昭者發膝矣。蓋太陽方受外邪，轉瞬即屬陽明，此為溫病初起之真相。若傷寒，則八九日尚有在太陽者。良以外溫既高，皮毛自呈不抵抗狀態。故由太陽轉陽明，不旋踵也。況胃陽素盛，脾陰素虧乎。是則陸張之說，雖有未妥處，亦未始不與尤說相通。且胸中者，太陽之部位，心肺之所居，肺合皮毛，故肺亦為太陽之裡。皮毛疏泄既失職，於是反應職能，悉集於肺經，輕則現氣管加答兒Catarrhal重則現氣管支加答兒，乃至現肺加答兒，顧吳之徒，乃曰，溫病首先犯肺，不知犯肺之先，因曾先犯太陽也。彼輩又以為溫病久在肺胃，不傳他經，以此與傷寒別異。不思大論云：陽明居中，土也，無所復傳。不論傷寒溫熱雜病，無不如此，此緣太陽表病失抵抗，即進而入肺入胃，故謂之太陽陽明也，猶言太陽受邪，轉入陽明之後，而太陽里證，仍自存在云爾。至如柯韻伯云，肝膽為發溫之原，是少陽厥陰亦可病溫矣，安得謂只在肺胃哉？故倡跳出傷寒圈子者，吾見其將傷足折脛也。</p>

<h2>四十六　腸窒扶斯與仲景所謂傷寒</h2>
<p>腸窒扶斯Abdominal　typhur之名，起於十七世紀，距今約有三百年曆史，其入我國，亦約已數十年，蓋東國譯名也。其意譯為「傷寒」者，學者頗謂不削切，有濫用舊名，削足適履之感，以腸窒扶斯是傳染病。傷寒之兼疫者，方有相合處。二者「外延」「內包」，固非「同一概念」ldenticaiconcept也。雖然，丁福保曾有說矣。丁氏曰，輕證腸窒扶斯，即太陽病也。若變為重證，其熱為稽留狀，或往來間歇者，即轉少陽也。其熱稽留而不往來者，即陽明病也云云。今案患腸窒扶斯者，在潛伏期，已有頭痛惡心證狀。至啟發期，發熱，全身作痛，氣管支炎，紛紛起矣。歐戰時，兵士患者，又多現坐骨神經痛。大論云，太陽病，或未發熱，必惡寒，體痛，嘔逆，此即潛伏期證狀也。又曰，太陽病，頭痛，發熱，身疼，腰痛，此即啟發期證狀也。其「腰痛」二字，亦甚似坐骨神經痛。自此以往，若轉為寒熱頻替，兼脾腫者，即似少陽病。若轉入高熱期，口渴，譫語，汗出頻頻，即更酷肖仲景所述陽明病已。然則丁氏之說，正大有研究之價值也。又祝味菊云，生溫機能亢進，則為陽明病。淋巴機能障礙，則為少陽病。鄙人前謂少陽病是脾及淋巴受邪，尚不敢自深信，今乃得聲援矣。至於三陰病，乃三陽病之虛證，前已言及，茲不復贅勘。</p>

<h2>四十七　仲景六經之功用</h2>
<p>與腸窒扶斯相似之傳染病，尚有發疹窒扶斯，據李氏近世《傷寒病學》，腸窒扶斯之原名，當作Typhoidfever其Typhvsfever一名，則屬之發疹窒扶斯，此與民國五年三月內務部所頒布之傳染病預防條例不同，彼以腸窒扶斯原名為Typhusabdominales，發疹窒扶斯原名為Typhusexanthemata，二說孰是此屬譯名考證範圍，姑不贅。且論病證，今按，此二種病候，大同小異。蓋發疹窒扶斯潛伏期較短暫，起時惡寒戰慄則較甚，是亦仲景所謂太陽病也，可知不論其為腸窒扶斯，抑為發疹窒扶斯，以仲師分經辨證法御之，胥有一以貫之之妙。復次，一九一八年傳遍世界之流行性感冒Influenza病初起時，頭身皆痛，發熱惡寒，及支氣管發炎。就病狀而論，亦一種太陽病，即亦可以仲景法治之矣。然西醫家云，此病現今尚無特效療法，只以強心及預防肺炎為要著，此外不過對證發藥而已。夫腸窒扶斯，發疹窒扶斯，流行性感冒，以及瘧痢喉證，與兒科病之痧子，其病原菌各各不同，故殺菌藥，及預防用之注射菌苗，亦各各不同，然仲景家法，一概不問，只循經發藥，可以奏效，斯真神矣。然則六經之說，在治療上為益之大，不言可知，乃扶桑所謂新漢醫，獨置之不信，痛予刊落，則所謂一間未達，猶有蓬之心也夫。</p>

<h2>四十八　從「砭針」等事，推測古人病菌原蟲之意識</h2>
<p>謂中國古人不講細菌原蟲，其說近是，蓋時代使然，良不足怪。雖然，此亦言其大較耳。周禮翦氏，掌除蠹物，含沙射影，見於詩疏，關於蟲類之事實，固已歷歷言之。莊子有蠻觸戰於蝸角之說；列子著焦螟巢於蚊□之文，是豈皆寓言耶。《說文·風部》云，風動蟲生。《內經》云，風為百病之長，詳風字含義有二：一為氣溫變化之義，一為空氣流動之義。細玩《說文》、《內經》語意，是已知微生物類為人類病原，及溫度空氣為微生物發生之要件也，即如大論開端云，太陽為病，頭項強痛惡寒。案強字《說文》在虫部，並不訓強壯。注家引釋蟲文云：強，牛虻，蠅類，噉牛馬血。是則強痛云者，乃謂其痛如被虻蠅之類所蝕而作痛創云爾。是已有微生物類能入血液而破壞血輪之意識已，此與近世言腸窒扶斯病理者，頗有相合也。原古代醫術，砭針實為宿海導源。砭為石器時代之遺規，針始金屬時代之療器，二者皆刺取敗血以為治。殆已有以血液說明病理之學說產生之暗示也。涿鹿之戰，漢苗二族優勝劣敗之主要關鍵也。苗族首領竟作霧以資抵抗，作霧者，放蠱也。今西南苗民，尚優為之。然我租黃帝，卒能制勝，不受迷惑。知古人對於蟲類作用，以如何制敵，如何應付，極有研究矣。吾人試略檢《周禮》，見其治蟲之術，燦然明備。又檢《說文·虫部》，《爾雅·釋蟲》，更見各物紛繁，觀念精審，非後世所可及也。</p>

<h2>四十九　傷寒補天石之功過</h2>
<p>流俗十口相傳，往往有極不通之病名，指鹿為馬，令人失笑，如蛔食傷寒，脫力傷寒皆是，然亦不盡無本。明人戈存橘著《傷寒補天石》，有勞力傷寒，夾血傷寒，痧病傷寒，勞損傷寒，瘡瘍發熱傷寒，溫病傷寒，熱病傷寒，秋涼傷寒，冬溫傷寒，種種名目，而雷少逸非之。吾謂戈氏之說，固亦自有見地，而未可厚非，如小青龍湯，非治外感痰喘者乎？大承氣湯下宿食，非大論有明文乎？則傷寒果有夾痰夾食者，其餘名目，亦可類推，蓋此書雖近俗，然必如其說，而後知《傷寒論》有兼治雜病之法，《傷寒論》為統治四時外感之書。而《難經》傷寒有五之說可以明，江南無正傷寒之說可以息，亦由是而鄉林婦孺，習名忘實，不論有感否？一遇傷食，便說傷寒；一遇蛔痛，又說傷寒，俗人俗語，誠可捧腹。然禮失而求諸野，此種種不通諸名目，其「下意識」中，固有傷寒統百病之旨存也。</p>

<h2>五十　此土陰陽六經，與黑智兒辯證法</h2>
<p>或曰，六經之說，有裨於治療，既聞命矣。然《周易》之於一切現象也，皆以陰陽說之，故亦可謂之陰陽二元論。仲景衍陰陽為六經，毋乃不合。答曰，否否。篤而論之，六經亦只是陰陽。太陽為表即為陽，乃乾卦之上一畫也。陽明為里即為陰，乃乾卦之下一畫也。少陽居表裡之間，乃乾卦之中一畫也，由太陽之虛而有少陰之名，由陽明之虛而有太陰之名，由少陽之虛而有厥陰之名，又《易》家重卦之理也。《周易·繫辭》下曰，兼三才而兩之，故六，即其義也。蓋嘗論之，《周易》、《內經》、《中庸》諸書言陰陽中和等字，絕似德國哲學家黑智兒Hegel「正反合」之辨證法。「陽」相當乎「正」，「陰」相當乎「反」，「中」「和」相當乎「合」。又《內經》以「少陽」為春木發生，陽和所鍾之象。儒道各書說中字和字，皆有陰陽調和之意，正合少陽為乾卦中畫之義也。至於《苟子》言詩為中聲之所止，亦以詩教在溫柔敦厚，溫柔故可稱中聲，此雖不說少陽，理則相通已。自叔和以降，《易》家不必明醫，醫家又罕明《易》，名辨之學不昌，則思無工器，自然科學未入，則事少證驗，哲理衰而空言作，真理廢而迷信興，六經罕事過問，三焦起而代之，曲高和寡，固無惑也，修而復之，此其時乎。</p>

<h2>五十一　風字有岐義</h2>
<p>空氣受熱而流動，則謂之風。熱為動之本，動為風之原。古醫經所謂風者，頗有岐義。或指動義言，或指熱義言，殊不一致。夫「太陽熱」為地球上一切生理現象之基件，二千四百年前，希臘哲學家額拉氏已識斯義，故謂萬物皆出於火，皆入於火，火化實天地秘機，與神同體。近世科學家亦謂熱力平均，天地乃毀。我國古哲似亦早已知此，故以乾陽行健為化原。至耶方斯名學云，世間一切，任是如何冷時，其中皆含有熱，雖微，而不可謂無，尤與吾國「水中有火」之舊說有合也。然則熱力者，生力之代詞也。風者又熱力之代詞也。則風指生力也明矣。凡病毒深入之候，生理上必起異常變化，以資救濟，舌卷囊縮，正其事矣。而古醫書輒指為厥陰肝病，目為內風，就文字粗淺觀之，似極不通，然內在涵義，殊有理致，則謂生理能力起非常救濟焉是已。</p>

<h2>五十二　春東本甲乙</h2>
<p>在六氣為風，在四時為春，在四方為東，在五行為木，在十干為甲乙，皆含生力動力熱力諸義。春字古本作□。《易》屯卦曰，剛柔始交而難生，是屯有生訓，即春有生訓。《說文》東字注曰，萬物始動生也。《說文》木字下曰，冒地而生也。則東木二字，皆具生訓也。甲謂甲訴，乙言抽乙，皆指萌芽說，故甲乙亦本訓生也。《易》曰，風以動之。《白虎通》曰，春者，蠢蠢然動也。《說文》東字下許氏原文云，動也。是風春東三字，皆有動力之義也。至風字有熱力義，前節已論及，不復贅。若日在屯下為春，日在木中為東，字義明甚，故曰，數字皆含生動熱諸義也，不知乎此，即不可與讀古醫經，故漢學常識者，亦醫家所必具也。又案英文「司百林」spring一文，漢譯春字，所含岐義亦甚多，有動力、發生、跳躍、屈曲、轟炸諸訓，就中轟炸一訓，合吾熱力之說。屈曲一訓，合吾甲乙之說。跳動諸訓，合吾動力之說。尤足徵中西語原，心同理同矣。</p>

<h2>五十三　風為陽邪之我見</h2>
<p>風寒暑濕，四時各主一氣。冬主寒，春主風。風為氣候溫升之代詞，又風字之岐義也。古云，風為陽邪，寒為陰邪，紛紛擾擾，千古不得解人。吾謂風寒只是程度之差異，非寒外別有風也。推之，秋行春令，冬行春令，在溫升氣候中感寒者，皆謂之風。試觀仲景書，風是風病，無不煩熱。桂枝證之中風，有煩者也，故用芍藥。大青龍證之中風，煩而兼躁者也，故用石膏。風溫為病，只「脈陰陽俱浮」一語為太陽見證，餘皆陽明見證，則中風之重證也。是故中風者，風溫之萌芽，而溫熱病之芻象也。然秋令皆有中風已，而必謂之春中風，冬傷寒者，舉大數而言也。</p>

<h2>五十四　大青龍二證，傷寒脈緩，中鳳脈緊解惑</h2>
<p>問曰：太陽中風亦有脈浮緊者，傷寒亦有脈浮緩者。大青龍證二條是也，此又何也？答曰：此就春中風、冬傷寒之主氣而定名也，其時則春令也，故名中風。其氣候則春行冬令也，故脈浮緊，此太陽中風之所以脈浮緊也。其時則冬令也，故名傷寒。其氣候則冬行春令也，故脈浮緩，此傷寒之所以脈浮緩也。蓋氣溫低，則神經緊張，皮毛抗寒力大，即血行速，故脈緊。氣溫高，則神經緩弛，皮毛抗寒力小，即血行慢，故脈緩。緩緊二字皆從系，蓋以絲為喻也。大青龍證之中風脈緊一條，似即流俗所稱之春溫證。其傷寒脈緩一條，似即流俗所稱之冬溫證。特皆不渴，故仲景不名為溫也。前哲如喻昌、柯琴，今人如東國丹波元簡，尚糾纏不清，則以不知從自然界氣候方面著想故也。今以四時六氣立論，又參以生理學眼光，全部《傷寒論》醫理，如桶脫底矣。</p>

<h2>五十五　《難經》傷寒有五說，與《內經》傷寒論相合</h2>
<p>仲景本《內經》而著書，對於病名一絲不亂。中風者，春傷干風之病也。太陽中暍者，夏傷於暑之病也。風寒暑濕之化熱者，有汗為風溫，無汗為溫病，故傷寒有五：中風，傷寒，太陽中風，太陽中濕，溫病是也。仲景書與《難經》之言，亦毫無□鋙。若以四時各主一氣為說，春為風令，溫曰風溫；則夏為暑令，溫曰暑溫；不夾暑為熱病。秋為濕令，溫曰濕溫，不夾溫曰秋溫。冬為寒令，溫曰冬溫。亦未始不可，惟氣候溫化，即可以風令為例。無汗仍名溫病，有汗仍名風溫。則秋溫、冬溫二名，可以不立。中濕、中暍上皆冠以太陽二字，是皆有發熱惡寒之證象，故惡寒未罷為傷寒，惡寒已罷有汗即風溫，無汗即溫病。則暑溫、濕溫之名，亦可不立。熱病者，夏至後而發之溫病也。只爭時期之先後，何分溫熱之素丹，故熱病之名，亦可取銷。後人不知《說文》暍為傷暑之義，妄立陽暑之名。又不解太陽中喝之太陽二字，妄立陰暑之名。名不正，則言不順，今當本之《傷寒論》，證之《內經》，參之《難經》。撥亂名，反之於正，將後世無理取鬧之病名，一律廓清之，勿令溷我為也。</p>

<h2>五十六　假定人體有抗溫抗涼抗寒抗熱四種素力</h2>
<p>居熱帶者，終年燠蒸，淡若忘焉。居寒帶者，畢歲凜冽，習若性焉。居溫帶者，溫涼寒熱備受。有比較，斯感異焉。就理想推測，不能不假定人之體功，蘊有抗溫、抗涼、抗寒、抗熱之四種素力，能與外溫、外涼、外寒、外熱相適應者，亦應有之邏輯也。抗溫者，命之曰肝木。抗涼者命之曰肺金。抗寒者，命之曰腎水。抗熱者，命之曰心火。此皆所謂符號，所謂名也。莊子曰，名者實之賓。豈可執著乎？春風扇微和，萬象盡昭蘇，常人皆覺天氣順適，心曠神怕；病者獨感鬱悶不堪，體疲氣結，醫者曰，此肝木為病也。豈真肝中有植物體之木乎？言外之意，不過曰體功不能與春溫之氣相適應已耳。其肺金病、心火病、腎水病之理准此。故醫家言春傷於風，風氣通乎肝。夏傷於暑，暑氣通乎心。乃至秋傷、冬傷，通肺、通腎云云，皆不得以詞害意。然觀傷暑之病，多因人體心臟衰弱而起，所謂脈虛身熱，得之傷暑。言脈虛，即指心臟衰弱也。則符號中又未嘗不含有實義。此固有賴於讀者之以意逆志已。然則木金水火，為春秋夏冬之代詞。春秋夏冬，為溫涼寒暑之代詞。肝肺心腎諸經病，及所謂風動，金囚，水竭，火衰諸語，皆為體功衰弱，不能與氣溫相抗相適之代詞。五行之說，今人皆以為幼稚之空談。然苟能不著跡象以為說，此中固含有真諦，則吾所敢昌言者也。</p>
