<header data-type="book">
<h1>醫學體用</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>盧雲乘</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1722">公元1722年</data></dd></div>
</dl>
</header>

<h1>弁言</h1>
<p>歐西醫學分為二派一則專門研究學理以期發明新法一則專門連用成法不必盡明學理以言中醫何獨不然著書者每不能治病治病者每不能著書惟吾國事事無共同的研究所謂閉門造車不合時宜著作家發明之學說恆與事實不相符合是故中醫今古載籍雖可汗牛允棟而欲期法法經驗方方見效者恐無幾焉業師王香岩先牛博覽群書得其精髓行道武林垂四十年蓋合學理經驗而為一也曾將平生心得屢試輒效之方命同硯諸子筆述成書都二十餘篇縱一麟半爪全豹未窺但說理之精到處方之恰當典近日盛行之衷中參西錄無二致也爰錄副本郵視裘公請其編入三三醫書以供同好云民國十三年十二月中旬受業沈仲圭謹書</p>

<h1>卷上</h1>

<h2>三消症論治並方義</h2>
<p>夫人之一身水火二者而已水火不得其平經所以有亢則害承乃制之說若火盛太過勢必燔燎消爍璽三消之症作焉至於三消之症皆緣燥火爍金良由胃熱亢盛以及嗜欲太過陰精虧耗之人而致此疾以上消主肺肺熱化燥渴飲無度是為消渴經所謂心移熱於肺傳為膈消也中消主胃胃熱善肌能食而瘦是為消穀經所謂痹成為消中也下消主腎虛陽爍陰引水自救溺濁如膏精髓枯竭是為腎消經所謂腎熱病苦渴數飲而熱也其治上消大都皆滋肺金之燥仿人參白虎為主治中消清胃熱之燔宜宗甘露飲為法此治上消中消然也若下消則金匱有飲水一斗小便一斗腎氣丸主之一法而陰虧太過陽藥不受者喻氏尚有服六味地黃湯至百帖之治然則三消之症水虧火旺有明徵也今將上消中消下消之症分別言之列其見症於左贅其方論於後而有可曲引旁證以暢其說者不得不發明其義焉</p>
<p>（上消）之病屬於肺也經曰心移熱於肺傳為膈消肺本燥金心復以熱移之消鑠津液飲不解渴膈上焦煩遂成上消因渴而飲飲而仍渴愈渴愈消愈消愈渴此皆屬於熱也又曰心移寒於肺為肺消肺消者飲一溲二死不治經訓煌煌儼然示後人以消症亦有屬寒之埋噫嘻何其症之難治若此與然其症雖難治而經文則有可繹蓋肺主氣其能通調水道者賴有心君火以溫煦之則肺之津液得以散布而自潤其燥金故肺之合皮其主心也若心火不足而反移以寒寒與金合則金冷氣沈降不得升猶之下有溝瀆上無雨露飲一溲二肺氣枯索論肺金之枯則當用潤論心火之衰則常助火扶陽用藥相背治多掣肘死陰之屬症成不治所以自來論上消者多以清煩熱解鬱蒸滋肺金之燥為治若（中消）則多屬胃胃與脾相表裡飲食入胃脾氣散精上輸於肺今胃熱亢盛消爍胃汁脾氣無從輸布肺即不能通調水道於是胃熱極盛大便燥結已食如飢形肉消瘦經曰二陽結謂之消二陽者足陽明胃手陽明大陽也大陽主津胃經主液多血津與血俱結而不行鬱而生熱消穀善飢中消之症成矣又云痹成為消中此屬肥貴人膏粱之疾平日醇酒厚味不節久之飲食醞釀成熱求救於水始則水入尚能解渴繼則愈消愈乾便結不行能食不為肌膚參之金匱曰趺陽脈浮而數浮即為氣數即消穀而大堅氣盛則溲數溲數則堅堅數相搏即為消渴夫氣者熱氣也何以知之下文曰氣盛則溲數夫氣有餘便是火太過之氣即為火氣火氣無不籍資於水特以胃中乾燥太過全不受水之浸潤轉從火熱之氣急奔膀胱所以溲數溲愈數則便愈堅堅數相搏遂成消中以此類推中消一症其由胃熱亢盛胃液被奪可知也故（腎消）者實即上中消之傳變肺胃之熱入腎火勢大盛勢必劫奪真陰或其人平日以藥石耗其真女色竭其精陽強於外陰不內守腎水枯涸相火獨熾渴飲善溺小便渾濁如膏經云腎者胃之關關門不利則水無輸泄而為腫滿關門不閉則水無底止而為消渴以是言下消似宜壯水之主以制陽亢而金匱之用腎氣丸豈無深意哉經云君火之下陰精承之陰精有餘足以上承君火則其人壽陰精不足心火直下腎中陽精所降則其人天至腎氣丸一法乃為陰精未耗者立方溫養腎中之真陽蒸動精水上以承君火下以舉陷入之陽氣此非通天手眼不能輕施若陰精已耗桂附適助相火而燎原莫救所以喻氏獨闢溪徑以抑陽而救陰下消之症不能剛克而猶可柔調者此也綜合三消後學何敢妄參末議惟是引經據典遵古鎔今參合適中之治有可枚舉其症引用其方如肺熱氣燥之可用黃芩湯方用芩梔麥歸芍地花粉葛根等味如鬲消之可用麥冬飲方用麥冬知母甘草人參花粉茯神竹葉等味中消胃熱之可用蘭香飲子方川石膏知母甘草人參連翹半夏等味潤燥養陰之用藕汁膏人乳生地汁黃連花粉白蜜等味下消之用元兔丸兔絲子五味子茯苓蓮肉山藥打丸等味攝精之用秘元煎方用遠志山藥芡實棗仁金櫻子白朮茯苓炙草人參五味子等均可選用以待有道之教正者如（上消）渴欲引飲皮毛枯焦煩而不寐</p>
<p>西洋參　淡竹葉　川石斛　肥知母　生石膏　括蔞皮　麥冬　粳米上消之症即前所云心移熱於肺傳為鬲消鬲居上故曰上消心既留熱勢必傳肺是侮其所不勝也羔肺為金藏外合皮毛心主君火火盛刑金肺液枯燥致引飲不能解渴火勢療原皮毛為之焦枯甚至心煩懊憹晝夜不能安寐於是消渴之症顯然考古人之治法以人參白虎湯加減易人參為西洋參以西洋參得西方庚金之氣能養肺而生津乃同氣相求之義石膏氣味甘寒手太陰氣分之藥瀉其大熱解其煩渴知母味苦氣寒上清肺金之火下保腎水之陰俾得金水相生可免丹子同病粳米氣味溫和稟容平之德作甘稼穡得天地中和之氣同造化生育之功善療煩熱益氣利中加以麥冬之甘平微寒補心氣而清火養肺胃之陰而解燥熱之甚濟一身津液之衰使氣道散而不結津液生而不枯氣血利而不澀則病自已矣</p>
<p>（中消）已食如肌飲食不為肌膚形肉消瘦大便燥結</p>
<p>淡天冬　筧麥冬　大生地　元參川　石斛　生甘草　黃牛乳　甘蔗汁　枇杷葉</p>
<p>中消之症即經所云一陽結謂之消二陽者陽明也陽明居太陽少陽之間兩陽合而為明是多血多氣之經無論六淫之火五志之陽以及辛熱炙煿之氣都聚集於陽明聚久不散鬱而化火火結於胃銷爍其渾液名曰中消故中消者因火熱之勢日盛火上升則消穀已食如飢食得下則被爍致肌膚不能充長形神日見消瘦火下迫則腸中血液枯槁大便為之燥結良由痹成為消中胃經之熱極深胃經之火極熾胃經之液被火銷爍所以見症如斯也治之之法特仿甘露飲之意以天麥一冬為君蓋天冬能治燥結以滋腎陰免受土來侮水麥冬養肺生津解煩清熱退火邪以保殘金生地元參氣薄味厚滋陰液而能降涼血清火之要藥川石斛乃清胃之妙品黃牛乳養血液補胃陰可謂佳味蔗汁有天生建中之稱利大腸而瀉熱生甘草頗有瀉火之能與枇杷葉同行得下氣之功更勝氣下則火降如飢之症若失食下不被火焚肌肉自漸充長血液得和則腸中之滋膏自潤大便何愁燥結夫地氣上而為云然後天氣下而為雨是故雨出地氣地氣不上天能雨乎故亟升地氣以慰三農亟養胃液以溉三焦此皆事理之必然者乎（下消）傷腎腎水枯涸相火獨熾渴飲善溺兼下膏淋</p>
<p>大熟地　女貞子　金石斛　炙龜版　懷山藥　陳萸肉　白茯苓　粉丹皮　左牡蠣　筧麥冬　五味子</p>
<p>蓋下消者腎消也天腎為藏精之臟主封藏者也今人不知持滿以酒為漿以妄為常醉以入房以情欲而竭其精或以藥石耗散其真腎陰日衰相火偏熾灼爍津液故渴而求水自救燃飲入於胃遊溢精氣而上則肺通調水道而下今高源之水為暴虐所強迫建領而下注至於飲一溲一飲二溲二愈消愈渴愈渴愈消則陽強無制陰不內守而小溲渾濁如膏真精遂泄下消之症成矣治之之法仿錢氏六味當以熟地為之君天一所生之源也能生精血滋養腎水輔以五味之酸鹹能斂滑脫之精益髓強陰之用山藥麥冬俱補脾肺之功肺得補金能生水脾得健輸運有權龜版為陰中至陰之物同牡蠣以益腎填精而治膏淋合之金石斛救津液並治小便之不禁粉丹皮退營熱而清血中之火女貞子和血固精白茯苓分利清濁故彙集諸般之靈品誠為消渴之良方故古人雖以上焦屬肺中焦屬胃下焦屬腎皆從火治而不知三焦之火多有病本乎腎而無不由命門者夫命門為水火之宅水虧而為消渴者以水不濟火則火不歸源故有火遊於肺而為上消火遊於胃而為中消火鑠陰精而為下消者是皆真陰不足水虧於下之所致也</p>

<h2>水腫膚脹論治井方義</h2>
<p>經云肺移寒於腎為湧水水為至陰其標在肺其本在腎其制在脾腎虛則關閉其水必逆而上泛脾不能制而反為水所漬故肌肉浮腫肺不能化反為水所凌故氣息喘急然水始起也目窠上微腫如新臥起之狀其頸脈動時咳陰股間寒足脛腫腹乃大其水已成矣以手按其腹隨手而起如囊里漿水之狀此其候也又曰三陰結為之水蓋三陰者手足太陰脾肺二臟也胃為水穀之海水病莫不本於胃經乃以屬之脾肺者何耶使足太陰脾足以轉輸水精於上手太陰肺足以通調水道於下海不揚波矣惟脾肺二藏之氣結而不行乃胃中之水日蓄浸灌表裡無所不到是則脾肺之權不伸足以釀成水腫矣然其權尤重於腎腎者主水胃之關也為至陰之舍至陰著盛水也氣不化精而化水水不歸經則逆而上泛陰氣太盛則關門不利水氣結而不通則肌膚為之浮腫脾者土也職司運行散輸津液通調水道土虛不能制水則寒水來侮脾土土無堤防水氣氾濫無所出路滔滔揚溢水勢日增以致偏身浮腫腹滿腸鳴濯濯身體沈重二便蹇澀皮膚㿠白水邪干肺肺失通調水道之權迫而上逆氣息為之喘急時時咳嗽甚至氣逆不得平臥頸脈動惕皆緣脾腎陽衰高源寒侵塞水內逆外溢經文以腎本肺標相輸俱受為言然則水病以肺脾腎為三綱明矣診脈必沈濡而遲脈經云沈則為水遲則為寒濡為濕盛陽衰之徵舌苔灰白而滑以脈參症正為邪侵難期速效慎防喘逆之變擬祟土製木扶正化邪王太僕所謂益火之源以消陰翳宗仲聖真武合利水滲濕為主附方於下質諸高明</p>
<p>熟附片　東壁土炒於朮　新會紅　帶皮茯苓　杭白芍　福澤瀉　漢防已　大腹皮　淡乾薑　車前子　生米仁　禹餘糧丸　椒目</p>
<p>此壯腎陽消陰翳治脾濕真武湯合二陳加味法為土虛水泛水腫膚脹之溫劑也用附子於朮為君者蓋附子大辛大熱稟天地真火之氣其性走而不守動而不息蓋水體本靜而氾濫者即水之氣動耳用此壯腎中之元陽消陰翳而伐邪水蓋離照當空陰霾自消也於朮出自於潛有天生之號其得山脈土精之氣獨厚功能除濕燥脾用東壁土炒者蓋脾主土土虛水泛有同氣協和扶正伐邪之義也且土本制水乃脾陽既弱而水反海土此由坎中陽衰少陰樞機失職州都氣化不行陽不制陰水氣橫逆氾濫於中州而上溢高原為患賴此培土健脾御邪制水使土有堤防白芍藥酸苦以收炎上之氣能斂脾肺耗散之陰剛中有柔相濟者此也乾生薑辛溫散四肢之水材陽氣而驅陰邪則皮膚中之水氣得發泄而化矣帶皮茯苓性本甘淡以走皮膚甘以補中淡以通陽滲利水道而邪水自得下泄矣椒目辛熱稟南方之陽受西方之陰治寒水射肺作咳故入脾而理濕其氣下達入腎以益命門之火守邪之神有權而呼吸之門有橐鑰也用二陳為臣者廣皮苦以降逆辛溫而主順氣則水氣不上逆而脾肺得輸化之權矣法制半夏辛溫以理脾利胃而祛水溫肺以止咳乃東流砥柱之殊品耳防已得土中之陽而感乎秋燥之令以生故為消腰以下至足寒濕作腫之將領也大腹皮通膀胱府氣有降逆消腫祛水利濕之純性車前子通利溺道其子多精而不傷精尤啟上閘開支河導濕下行以為出路生米仁清肺理脾併為滲濕啟水之下流澤瀉泄水以消留儲則便溺得利而土氣主運清氣上行天氣清明在躬矣經曰水鬱折之謂水上泛折回而使之下也此方以真武命名者蓋真武北方水神也故其治陰水瀰漫滔滔揚溢有專功也如元陽得壯水顯頓除決瀆有權壅渠既去溝澮流行腫脹自消蓋謂潔淨府者無過此也惟體氣壯盛病陽水者可宗苑陳莝純用開泄化邪法大橘皮湯方用五苓合六一散加陳皮木香檳榔導水茯苓湯方用赤苓麥冬澤瀉白朮桑皮紫蘇木瓜木香大腹皮陳皮砂仁檳榔燈心水煎二方亦無不效若病陽虛水腫中年後氣體本弱或誤治過服劫奪藥則薛立齋加滅腎氣湯亦可宗法而景岳論之詳矣茲不復述</p>

<h1>卷中</h1>

<h2>論濕溫化熱證治</h2>
<p>濕為六淫之一其有從溫而化熱者其證最多其變亦速蓋緣長夏濕土司氣黴雨浸淫暑邪逼受醞釀薰蒸病以時作名曰濕溫夫濕為重濁之邪溫乃化熱之漸其邪之來每多由於口鼻吸受其病之應則必歸於肺胃以鼻為肺竅咽為胃系從鼻入者首先犯肺從口入者必傳陽明必其人脾氣欠連內濕素盛復感時令暑濕之邪熱得濕則鬱遏而不宣濕得熱則蒸騰而上逼無形之熱挾動有形之濕兩邪相合其病遂發其證治淺深約略舉之可分為四焉初微寒發熱頭痛胸悶便泄溺赤或渴或否脈或濡滑或滑數舌苔或白或黃</p>
<p>乃為太陰陽明之受病也夫太陰濕土之區陽明濕熱之藪緣肺經吸受暑邪暑得濕則依附於其間而微寒發熱頭疼胸悶諸疾俱作宜以連翹薄荷山梔黃芩鬱金等辛涼以清膈熱藿香豆豉橘蔻芳香以開泄中焦滑石通草淡芩以清濕熱此即啟上閘開支河治濕溫在衛分不易之理也</p>
<p>繼則由濕化熱邪擾陽明身熱口渴胸悶嘔惡骨節痠痛苔黃而膩脈滑而數或痧疹鬱而不達或疹瘖發而不透宜連翹象貝牛蒡以清疏肺氣仍由肺經為出路杏仁竹茹青蒿鬱金化痰宜郁解肌泄熱豆卷山梔疏經絡之濕而清三焦之熱蘆根薄荷清輕透表痧疹藉以外達此其邪猶在氣分治沃從葉氏甘露消毒丹脫化而出也</p>
<p>若熱久不解邪火內燔陷入營分灼爍胃液逆傳心胞其徵則神昏不清邪熱上擾清竅為蒙耳聾無聞舌絳而燥脈弦而數宜以羚角銀花丹皮鮮石斛竹瀝石菖蒲加入萬氏牛黃清心丸以清營泄熱泄痰宣竅為治</p>
<p>至熱迫心營痰火內閉木火同氣熱甚風生胃陰將涸肝風旋動其徵則神昏詀語舌焦短縮脈得弦澀促數手足瘛瘲痙厥之變危在頃刻則必參用紫雪丹犀角地黃之類藉芳香靈通之品宣竅入絡可以直達心宮而開內閉大劑熄風救液或者尚有挽回之機他如寒濕泄瀉霍亂黃疸水腫腳氣濕痰瘧痢之類濕之為病繁多不及細論茲先舉濕溫化熱一症順傳逆傳之候從輕從重之治剖晰詳辨順傳者每治必驗逆傳者症屬危險得此治注或有生者茲將臨症試驗之方略舉四端質諸　高明</p>

<h2>秋燥時氣傷肺證治（井方論）</h2>
<p>內經脫秋傷於燥一條從人不敢暢發議論惟喻氏獨開生面著有秋燥論一篇後有石芾南論燥氣一節二公著淪可為精深透闢尚何須後人之贅述乎惟燥之一症具有始終本末而可引申觸類以盡其義者如經云西方生燥燥生金金生肺肺生皮毛故天以五行化五氣以生寒暑燥濕風各有主時喻氏提論秋燥者即三秋之時氣焉凡秋分以後燥氣日盛西風凜冽萬物漸凋枝葉漸落乾勁皴揭斯乃燥氣行令之徵也凡人有血虛液衰之症未有不觸發者故始傷於人也頭痛鼻塞微畏寒身有微熱膚燥肌疼其脈形微浮而澀治以辛涼疏解斯時正氣未傷易於化解失時則傳舍於氣分其燥熱之勢漸熾身熱口乾胸悶鼻息不宣肺之病已進一層金氣外見故舌苔簿白脈見浮數邪既入深津液枯燥邪氣鴞張故見證肌膚灼熱咽乾頭痛微汗出而熱仍不得解加以氣逆口渴欲飲咳吐白沫舌苔燥白斯乃燥火刑金正氣漸傷胃火已盛求救於水脈見浮滑或見虛數非投清燥救肺不足以清其勢至若胃津被涸化源欲絕咳喘氣逆諸痿喘嘔皮膚銷爍所見危殆諸症雖投益陰生津潤肺救燥勢有鞭長莫及之虞此止秋燥而言其他或因火勢過勝則金氣被奪而風生矣蓋風淫必燥熱能耗液而為燥者此燥從火化由燥而熱乃燥之本氣燥熱為燥氣之常焉非清火不愈也更有素體陽實陰虛其風熱勝於水濕而為燥者此燥從熱化焉非濟陰不愈也每有嚴寒之時水氷地坼破䐃裂膚鼻乾咽疼咳嗽而為燥者然非辛潤不可此燥從塞化因寒而燥乃燥之化氣寒燥乃燥氣之變也然症勢可以推源而索於活故綜論燥症必條分縷晰而病情治法始無遺蘊耳</p>
<p>初起秋燥時氣襲肺先傷於衛見證頭痛鼻塞身有微熱外應皮毛膚燥肌疼（頭痛者以頭主天氣鼻寒者以鼻為肺竅燥氣襲之上焦先傷肺氣不宣故頭為之痛鼻為之塞身有微熱者衛分郁遏使然膚燥肌疼則以肺之外應在皮毛肺病而肌膚為之燥疼也）脈形微浮而澀（浮為肺之本脈微而澀者以燥氣初傷而肺氣之往來不得流利也）宜以</p>
<p>經霜桑葉　薄荷　前胡　北桔梗　苦杏仁　象貝　炒牛蒡　淡豆豉　橘紅　連須蔥白</p>
<p>此宗桑杏湯意而加減者也經霜桑葉薄荷為君桑葉薄荷有橫紋象肺能入肺絡桑得箕星之精以經霜者獨得金氣之厚而與肺同類相求之義薄荷辛涼辛能散邪涼可祛燥入肺達皮毛開腠理能祛燥邪故以之為君臣以前胡牛蒡淡豆豉前胡味苦微寒入肺經宣化氣機除風痰之要品牛蒡辛平入肺經宣肺氣能透肌膚之燥邪淡豆豉味甘苦微溫入肺脾經能解肌表宣化寒熱此三味皆肺經藥而有宣化之功合經霜桑葉薄荷以解肌表之恙頭痛鼻塞身疼諸症靡不應手而瘥故以之為巨象貝杏仁橘紅為佐杏仁味苦甘性溫入肺太陽經能宣肺氣而解肌化痰貝母辛苦微寒入心肺二經出浙江象山者性較溫功專散肺衛之表而豁痰橘紅乃陳皮去白味辛性溫入肺脾二經職掌疏通去痰利膈此三味者入肺而祛痰理氣氣宣則行而燥可化而熱可愈故以之為佐使以桔梗蔥白桔梗味苦性半專入肺經引諸藥以上至高之分而成功蔥白味最辛入肺解散之功居多隱隱有合於內經燥淫於內治以辛涼佐以苦溫或酸或辛之旨相合蓋瀉則佐辛補則佐酸始起之症不宜斂補故惟酸味不用而餘則皆遵經旨以立方也如治不得宜其邪</p>
<p>不解則衛邪傳於氣分身熱不畏寒口乾咳嗽胸悶鼻息不宣（不畏寒者邪已得離衛分身熱者燥漸化熱內灼氣分口乾者口雖為脾竅而呼吸則肺主之內熱而口為之乾咳嗽則肺病也燥氣襲之清肅失司有時無痰則咳有痰則嗽胸悶胸為肺之部分氣滯而悶鼻息不宣肺氣不利也）舌苔溥白（白為在表主氣薄者初傳氣分）脈浮而數（浮為肺脈數則燥已化熱）宜以經霜桑葉　鮮竹茹　薄荷　枇杷葉去毛　苦杏仁　括蔞皮　黑山梔　連翹去心　川石斛　黃甘菊</p>
<p>此宗桑菊飲意而加減者也霜桑葉薄荷為君方解如前其餘則改苦溫為辛平佐以微涼以燥漸化熱故以連翹石斛括蔞為臣連翹味苦性寒入心胃經去心剛專清胃經且一莖直上翹然獨秀雖涼而性非沉降仍為上焦之藥括蔞味甘微苦性涼能清上焦之火使痰氣下降為治嗽要耍藥一升一降胸悶自宣而咳嗽之恙可瘳益以川石斛味甘性平清胃除熱而身熱口乾可療以之為臣誰曰不宜佐以黃甘菊黑山梔梔子易於湧吐炒黑則得不色能清屈曲之熱而下行味苦性寒入手太陰肺經引上焦火邪屈曲而下黃菊味甘微寒菊具四氣飽經露霜入肺腎二經祛熱宣風獨稟金氣之厚能制風木以燥氣襲之金不平木肝火每每竊發以二味為佐三焦之火下行肝經之火不熾合之經霜桑葉薄荷連翹石斛括蔞共成辛散涼解之劑故以之為佐使以杏仁橘紅枇杷葉杏仁味苦甘性微溫入肺大陽經利胸中逆氣而止嗽竹得清音之性味甘微苦入心胃二經茹則如人之皮革能化痰理氣兼走皮裡膜外搜除痰熱也枇杷葉味苦性平入肺胃二經消痰定嗽三味皆祛痰滌熱且杏仁枇杷葉皆肺經專藥以之為使引諸藥以祛氣分之燥熱功用殆不爽云如延久</p>
<p>不解則燥熱爍肺頭痛咽乾肌膚灼熱微汗汗出而熱不撒氣逆口渴欲飲咳吐白沫（緣燥氣蘊久灼爍肺金悉化為熱津液耗傷而清肅之氣不行猶之天氣不得下降雍遏於上而頭為之痛液既耗傷其咽之乾也可必燥熱傷肺肌膚焉得不為之灼熱微汗汗出而熱不撒以非風寒可一汗而解氣逆者肺氣之雍也即內經所謂諸氣膹郁皆屬於肺者屬於肺之燥也口渴欲飲者引水自救也白沫為肺之液燥熱蒸逼肺氣不得下降而上湧內經所謂逆秋氣則太陰不收肺氣焦滿其傷於燥也明矣（舌苔燥白）以邪始終在肺一經故雖燥而色仍白）脈形浮滑右寸虛數（右寸為肺之部分虛而且數燥熱耗液之候其餘部之浮而滑者以肺津雖傷此時胃汁尚未劫奪敵有是脈）宜以</p>
<p>西洋參　冬桑葉　鮮石斛　筧麥冬　整川貝　天花粉　氷糖水炒石膏　苦杏仁　枇杷葉　淡竹茹　甜水梨皮　此宗清燥救肺湯意而加減者也此時燥盡化熱芾溫之法已不可施即辛平涼解之劑已嫌不及宜川甘寒生津一法故以西洋參麥冬為君西洋參產佛蘭西獨得西方金氣味甘微舌能入肺經清熱以生津麥冬以產浙江筧橋者為最佳味甘微寒入心肺二經能清煩熱止渴生津燥熱內蒸之際非此不解故以之為君臣以鮮石斛天花粉氷糖水炒石膏石斛甘平入胃腎二經鮮則功用更大專清時邪胃熱天花粉即括蔞根味苦性寒入心脾一經止渴除煩石膏味辛大寒入肺胃二經白虎湯以之為君用氷糖水炒者取其潤以制燥不礙於胃也合之西洋參麥冬以成甘寒之劑此時咽乾肌熱汗比氣逆口渴之恙殆可以療復以竹茹川貝枇杷葉梨皮為佐竹茹甘寒微苦入心胃二經能祛痰熱貝母辛苦微寒入心肺二經川產者更能潤肺除痰故燥症宜之枇杷葉味苦性平入肺胃二經功專化痰理嗽梨味甘心兼酸性寒取其皮者以肺主皮毛治病各從其類藉此祛熱除煩功無與匹以之為住而咳吐之白沫可漸冀其肅降使以冬桑葉杏仁桑葉至冬經霜始枯獨得秋金之氣味甘性寒入肺而有祛風清熱之功杏仁苦甘微溫入肺大腸經下氣理嗽二味領以直入肺經清燥滌熱而頭痛咽乾諸恙或者可療津液或不至盡劫此其所以為救肺也</p>
<p>不解則肺津胃液被奪清肅不行化源欲絕咳嗽氣逆肌膚消爍口渴欲飲甚則汗出不攝肺氣欲脫（蓋以人之一身全賴肺金生水化出高源以行清肅之令燥火灼爍肺津被奪復盜母氣以益其虛而胃液亦劫肺津胃液同就乾涸尚何有肅之行哉化源之絕不言知而其絕之見證則必咳喘氣急肺主氣其變動為咳肺為燥爍氣不下行所以為喘為逆脾主肌肉肺主皮膚脾與胃為表裡肺津胃液俱傷肌膚焉得不為之消爍口渴欲飲者乾涸之徵也甚則汗出不攝肺氣欲脫汗雖為心液心主火燥熱引動心火上升而肺金不能生水以制之是以汗出盈溢氣隨汗脫）脈象促數（數而時止為促津液灼傷胃氣垂敗之象）舌苔光脫（焦燥燔烈之餘有何津液）宜以</p>
<p>吉林人參鬚　整川貝　叭噠杏仁　原筧麥冬　甘蔗汁　括蔞根　藿山　石斛　秋梨汁　生蛤亮　北沙參　官燕根</p>
<p>此宗參麥合五汁飲而加減者也病至此極非甘潤平淡佐微咸以益氣生津不足希冀萬一故以吉林人參鬚麥冬為君吉林為王氣所鍾所產人參味甘微溫入肺脾二經須力稍薄主扶元益氣而能下降津液雖傷究屬燥邪外感用須以補之而不嫌其峻麥冬味甘微塞入心肺二經降火除煩止渴生津合參鬚以兩補氣液而已涸之津或者可回故以之為君臣以北沙參藿山石斛括蔞根官燕根生蛤殼沙參體輕產北方者味甘苦微寒入肺腎二經清熱生津石斛甘平入胃腎二經產藿山者多滋液而能潤燥天花粉甘寒入心脾二經止渴除煩燕窩味淡微鹹入肺滋腎得海水之漂盪有口含之津液能入人身益津潤燥之功生蛤殼味淡鹹入肝肺二經性能潤下而生津得此甘潤諸品以益化源而復清肅之令其必以微咸者咸能下降入腎金不能生水藉此以培養其子氣腎真不絕肝火不至上燔合參麥以培其化源或者汗出可斂而咳喘氣逆之恙可平佐以甘蔗汁秋梨汁者甘蔗味甘性寒入肺胃二經甘為稼穡之化獨稟地脈之沖和能培土生金除熱止渴王摩詰詩云飽食不須愁內熱大官還有蔗漿寒其品之見珍如此梨性寒味甘微酸入心肝脾三經丹溪云梨者利也流利下行之謂也其能消痰清熱降氣可知二味用汁取其滑潤下行以復津液故以之為佐肌膚雖不能遽澤或者口渴可以逐減使以叭噠杏仁川旦者津液雖已被劫而咳喘氣逆之際必有痰火以窒塞其間叭噠杏仁味甘性平入肺大腸經功專止嗽潤燥祛痰與苦杏仁性質不同貝母川產者味辛微苦性微寒入心肺二經消痰止嗽領諸藥入肺經以祛痰潤燥益氣生津萬死一生之際或者可以挽回此所以於無法之中而仍出一方以救治要之論症已揭大綱立方亦分次第非妄為杜撰皆蒐羅前說彙集成方仍是述而不作之意譾陋之愆知不能免還望　有道進而教之</p>

<h2>吐血論治</h2>
<p>諸血症火病也蓋血生於脾統於心藏於肝宣布於肺根於腎灌溉一身吐血陽亢陰虛之候也症有三因外因系火風暑燥之邪內因系肝腎心脾之損不內外因系墜跌努力菸酒之傷外因者火灼風溫之嗆血暑瘵燥咳之傷血邪在肺衛心營理肺衛宜甘涼肅降（如沙參麥冬貝母花粉玉竹石斛）治心營宜輕清滋養（如生地元參丹參連翹竹葉茯神）以此二法為宗隨症加滅火灼則加入苦寒（如山梔黃芩知母地骨皮）風溫則參以甘涼（如蔗汁蘆根羚羊角桑葉）暑療入營則兼清潤（如銀花杏仁鮮地黃犀角）燥咳在氣則佐純甘（如天冬梨皮阿膠）別有內熱外寒吐血者（宜薄荷參蘇飲主之）此治客感吐血大略也內因者怒動肝火宜苦辛降氣（如蘇子鬱金降香丹皮山梔括蔞橘白）郁損肝陽（宜仿逍遙散法）郁損肝陰宜甘酸熄風（如阿膠雞蛋黃金橘白芍生地）思傷心脾甘溫益營）如歸脾湯加減法）房勞傷腎其陰虛矢納者宜壯水鎮陽（六味飲加青鉛牛膝童便）陽虛不攝者宜導火歸窟（肉桂七味丸加童便）奪精亡血急固真元大填精血（加人參海參熟地阿膠杞子五味紫石英）此治內損吐血大略也不內外因者墜跌血瘀上泛先須導下（復元活血湯代抵常湯或用韭白汁散之）再用通補（元戎四物湯或當歸鬱金牛膝白芍三七）若努力傷血調補忌用凝澀宜利營通絡理虛（常歸建中湯旋覆花湯或六味飲加牛膝杜仲）若菸酒傷肺（煙辛泄肺酒熱戕胃皆能助火動血）嗆血（改定紫苑茸湯去朮加巧）飲多傷胃失血（六君湯加葛花白茅根藕節）此治不內外因大咯也（以上參用指南）凡血來如潮湧喘息未定（飲還元水立定）吐血乍止（用燕窩冰糖各四錢煎服七日自效）可不復發血出汪洋不即凝者煩勞動胃火也（犀角地黃湯加桃仁藕汁童便）血出散漫不聚者煩勞傷肺失血也（宜二至二甲合參麥茯苓山藥）脅痛吐血者肝氣逆也（化肝煎去青皮加黛蛤散）神勞吐血者心氣損也（仿天王補心湯法）龍焰升則吐衄驟加宜潛陰火（海參龜甲心茯神熟地如淡菜貞子熬膏秋石湯下）元海空則行動喘促速固根蒂（人參核桃坎炁杞子牛膝旱蓮草沙苑子茯苓人乳）胃納少則中宮乏鎮須扶胃陽切勿清嗽（人參建中湯歸耆異功散）胃絡虛則厥陽易犯急調胃陰可免升逆（生脈散加白扃豆沙參玉竹石斛茯神成金匱麥門冬湯去半夏加杏仁）仁齋所謂血症經久多以胃藥收功也</p>

<h2>虛損勞瘵論治</h2>
<p>夫虛勞之病皆由內傷而無外邪也經言精氣奪則虛凡營虛術虛上損下損不外精與氣而已精氣內奪則積虛成損積損成勞甚而為瘵乃精與氣虛憊之極也素問論五勞謂久視傷血久臥傷氣久坐傷肉久立傷骨久行傷筋金匱論五勞肺勞損氣心勞損神脾勞損食肝勞損血腎勞損精越人謂自上損下者一損肺（勞嗽）二損心（盜汗）三損脾（食減）四損肝（鬱怒）五損腎（淋漏）過胃則不治自下損上者一損腎（道濁經閉）二損肝（脅痛）三損脾（脹瀉）四損心（驚悸不寐）五損肺（喘咳）過脾則不治誠以脾胃與精與氣生化之源也故治虛勞以能食為主考難經治法損其肺者益其氣（如保元湯人參綿耆麥冬甘草等）損其心者調其營衛（如養心湯參朮歸芍棗仁地黃等）損其脾者調其飲食適其寒溫（如四君異功等湯）損其肝者緩其中（如牛膝杜仲菟絲餅蓯蓉沙蒺藜桂心白芍歸身等）損其腎者益其精（如金剛丸杜仲豬腰子蓯蓉杞子茯苓等）此固治損之要矣尤必先辨其陽虛陰虛經曰陽虛生外寒陰虛生內熱凡怯寒少氣自汗喘乏食減無味嘔脹飧泄皆陽虛症此脾肺虧損也怔忡盜汗咳血吐衄淋遺崩漏經閉骨蒸皆陰虛症此心肝腎虧損由君相火炎精髓枯竭也惟補心三才六味大造固本諸湯宜之又若腎中真陽虛者（右尺必弱）宜甘溫益火之品補陽以配陰（加八味丸）所謂益火之源以消陰翳也腎中真陰虛者（右尺數細）宜純甘補水之品滋陰以配陽（六味丸保陰煎加杞子魚鰾）所謂壯水之主以鎮陽光也陽虛不復久則吸短偏臥脈弱陽痿（宜參朮歸耆杞子山藥胡桃龍眼蓮棗沙苑子骨脂人乳鹿茸鹿膠羊肉羊腎海參等選用）陰虛不復久則咽瘡音啞色悴肌羸（宜麥味杏貝熟地首烏蓯蓉燕窩烏雞龜膠阿膠淡菜秋石豬羊髓白蜜等選用）而勞療成矣由是火炎於上為嗽血（如五汁膏瓊玉膏）為潮熱（如青骨散青蒿鱉甲銀胡石斛知母等）火動於下而為遺濁（如能齒丸人參茯神遠志蒲知丹川柏坎版）而為泄瀉（宜三白廣生湯）而治療難矣夫水為萬物之元孫真人所以云補脾不若補腎土為萬物之丹許學士所以云補腎不若補脾然喜燥者脾喜涼者腎欲補腎易傷脾欲補脾易傷腎不知土為金母金為水母勞瘵至陽虛泄瀉宜溫以補脾然補脾須不得肺勞瘵至陰虛嗽熱宜潤以滋腎然滋腎須不妨脾（補脾佐以山藥杞子滋腎佐以蓮實砂仁）而不得偏用辛溫以助火（桂附之屬）亦不偏用苦塞以戕胃（知柏之屬）且虛勞以受補為可治不受補為不治如注纘功云虛勞之症是腎水真陰虛極水不攝火火因上炎誤用引火歸元之法是抱薪救火致上焦愈熱而咳喘燥渴益甚咽喉糜痛諸症至矣又曰參耆助火之誤蓋虛勞之可受參耆者肺必無熱肺脈按之而虛必不數者故有土旺而生金勿拘拘於保肺之說古人每用之而奏功如火已鑠而咳嗆矣火蒸津液而化濃痰矣君相之火亢甚而血隨上逆猶引陽生陰長虛火可補之說漫用參耆因之陽火愈旺金愈受傷所以王好古有肺熱還傷肺節齋有食參耆必死之叮嚀故其自制保陰煎方用（生熟地黃天麥門冬山藥茯神玉竹龜版人乳桂元牛膝石斛煎湯代水）甘平填補腎水滋養真陰而治損之法已無餘蘊矣</p>

<h2>癍疹痧□㾦五種分別論治</h2>
<p>夫外感六淫者風寒暑濕燥火也其六淫之邪風傷衛寒傷營暑傷氣濕傷陽惟燥與火最易傷陰為患尤烈經謂邪之所湊其氣必虛陰虛者陽必湊之陽虛者陰必乘之裡虛則表不固一切時邪疫癘皆易感受受之即發其病輕而淺受之不即發其病重而深熱深者為癍為□為疹淺者為痧為㾦五種之傳變要不容混而視也</p>
<p>考發癍之源有陰陽之別陽癍者皆屬傷寒瘟疫諸症往往初起失於宣解餘邪逗留胃腑走入營分發於肌肉之間或稠如綿紋或稀如蚊跡成點或片為多急與清胃（宜化斑湯加牛蒡簿荷連翹羚羊角之屬）降火（如黃芩山梔銀花花粉等）不宜溫燥升陽（禁用參朮半夏等）陰癍者先傷於暑再食生冷納涼過度伏寒在下迫其無根失守之火上灼肺胃而發癍者或布於胸腹或見於四肢宜乎升陽達表（如六和湯芎芷夏霍甘桔橘皮砂仁等）不宜苦寒清裡（禁用黃芩山梔花粉等）</p>
<p>發㾦之證有虛實之分虛㾦者氣陰已虛郁邪未泄久之自內達外所發之㾦其色枯白或如麩亮邪雖外出而氣液內枯治以扶正之中默寓化邪之意（吳鞠遍加減復脈湯去薑桂加石斛沙參）實㾦者由濕熱鬱蒸肺胃自里達表其色明亮潤如水晶者為輕粗如含漿者為重用藥清解之中必兼化濕之品（宜羚羊散銀翹散加蘆根荷錢石斛蔗汁）考㾦之隱現每隨汗之比沒汗由濕蒸㾦由濕鬱有屢發數次者亦有瘥後發出白㾦者凡油膩葷醒之屬皆能助濕生痰故戒口為第一要義苟中宮肅清內濕不生雖有外邪勢成孤立庶幾熱退津回膚癢脫皮不為反覆此治㾦之要略也</p>
<p>試舍㾦而論疹疹即火之苗火即疹之根疹之出也由於肺氣不清冬溫太過吸受非常之氣鬱於臟腑之中經絡之間常春夏發泄之時亦隨氣流行所以春發者為凍疹（形似魚子而色白宜消風散加減）夏發者為疿疹（形如米粟色紅外科書謂之暑疿宜清暑解毒如銀花青蒿荷花露荷梗等或苦參湯洗之）風客皮毛曰風疹（由脾虛血熱感受風邪色淡紅成點成片為多宜調中湯加減不可專以風藥酌加涼血之品）濕遊肌表曰癮疹（由脾家蓄熱更兼風濕隱見肌肉古人稱曰癮疹宜消風散治之）邪在氣分則發白疹（因血不足宜養血益營湯因虛寒宜辛溫解肌扶正法）邪在血分則發紅疹（宜化斑湯）惟溫病門中紅白疹發者較多餘皆似疹非疹實疹之別類也考癍疹之形色總以鮮明紅潤為輕紫赤晦暗為重黑為胃爛（宜犀角解毒湯大青丸法）色青不治</p>
<p>若夫有頭粒而帶尖刺者即痧之名也痧與疹太屬相類或謂南方之痧即北方之疹二者異路同歸名雖殊而理則一大於痧者為疹小於疹者為痧究其受邪之處不外上中二焦由外襲風溫內蘊濕熱鬱久不解而發從氣分出者色淡紅其邪較淺從營分比者色深紅其邪較深治法首以辛涼透發（宜防風解毒湯加減）繼以清熱化濕（如石斛元參知母連翹之屬）為宜更有□之一種在大人疫病為多亦有丹毒背起潦漿水泡者在小兒胎毒為盛即赤遊丹之屬□之吉凶在順逆從肚腹而達四肢者為順從四肢而歸肚腹者為逆順者可治（治法詳見顱囟經千金方諸書）逆者皆不可治</p>
<p>然五種之分治大略如此總之癍疹輕重在形色□之輕重在順逆㾦之輕重在虛實痧之輕重在淺深醫者能兼參吳坤安先生傷寒指掌癍疹門中論治諸法條分縷晰甚屬結良並天時寒暄燥濕邪在足經手經氣分營分或純燃外感兼挾內傷更察脈之盛衰而詳辨之隨症施治自無餘蘊矣</p>

<h2>論猝中口眼喎斜不能語言痰涎上壅</h2>
<p>經云諸暴強直皆屬於風又曰邪之所湊其氣必虛金匱云正氣引邪喎僻不遂蓋肝主筋脈脾主四肢二者血虛無以榮養筋絡外風引動內風所以猝然肢體廢弛遍身筋絡拘急神識不清緣肝陽挾動外風乘隙襲湊空竅痰熱無從宣泄以致涎沫上壅不能語言即經所謂邪風之至疾如風雨蓋邪中陽絡陽明之脈夾口環唇以致口面喎斜痰涎壅塞竅絡氣不往來語言蹇澀所以見症如斯也診得脈象左三部弦急而長右寸關郁滑不調以脈參症症屬血虛內火招風風中肝脾之經正不敵邪甚為棘手勢慮抽掣痙厥之變姑擬熄風宣竅滌痰通絡一則冀其轉機附方候政</p>
<p>羚角片　真滁菊　橘絡　蠍尾　陳膽星　淡竹瀝　法半夏　煨明天麻　冬桑葉　鮮石菖根搗汁　白茯苓　純釣　聖濟大活絡丹</p>
<p>此法治猝中風痰宣竅通絡之要劑也用羚角膽星桑菊為君者以羚角性靈有熄外風而靖肝陽之功南星制以牛膽為滌痰宣絡之主宰桑得箕星之精菊具四氣輕清之品為散隧絡之虛風而能清火佐以竹瀝菖蒲二味為臣者蓋竹瀝通絡豁痰善開舌竅得菖蒲用鮮搗汁者為斬關奪門之將橘絡法半夏為祛太陰濕熱生痰和中之妙品茯苓保守臟氣為滲濕熱之淡味得蠍尾色青屬肝為祛風而通舌竅正舌散之古劑也使以天麻鉤藤輕可去實為宣發清陽之用復加大活絡丹者有安內攘外之主帥搜風滌痰開竅則上來諸症可一鼓而除矣</p>

<h2>論虛勞咳血形瘦便溏</h2>
<p>經謂正氣奪則虛又曰陰虛者陽必湊之金匱云脈極虛為勞良由真陰久虧水不涵木木火上凌肺金金受火刑肺失治節之權咳嗽氣逆傷絡見紅糾纏不已蓋肺為嬌臟又為五臟華蓋而朝百脈肺之化源內戕清肅無權肝火上衝顴紅面赤脾氣下陷枯瘦日增以脾乏生金之資自上損及中下大便驚溏穀食少納陰虛陽浮五內煩熱盜汗不攝火爍金傷津液默耗是以口舌乾燥渴飲咽痛聲嘶不揚形肉羸瘦神疲體憊肺痿漸形火炎於上則咳唾痰血脾不約束則大使鶩溏緣脾為生化之源其關鍵失守以致元虛困頓諸症蜂起矣診得脈象左三部虛數近弦右寸關虛細而芤舌光如鏡色紅以脈參症明是陰虛火熾誠為勞損重候難治何疑然肺喜清潤而涼潤之品不利於脾脾喜香燥而溫燥之劑不利於肺是症潤燥難於兼施殊屬棘手勉擬清金保肺扶元培土益陰平肝一則冀其久延而已附方請　政</p>
<p>西洋參　冬蟲夏草　生地炭　陳阿膠　筧麥冬　杭白芍　壞山藥　炙冬花　白百合　川貝　官燕根　京杏仁　臞仙瓊玉膏</p>
<p>此法治虛勞咳血保肺益陰調理之善劑也用參麥百合為君者蓋西洋參稟西方庚辛之氣故能養肺生津乃同氣相求之義麥冬強陰益精滋補胃絡脈氣清金保肺為益金生水之資白百合得土金之氣自百脈一宗為補中扶肺之元動佐冬蟲夏草白芍貝地為臣者蓋其冬化為蟲夏乃生草得天地變化之精上能斂耗散之肺氣下足補枯涸之腎陰豈非虛勞咳血必需之藥乎白芍色白屬金功兼和脾能收陰氣而和血脈保中元而止溏池乃手足太陰調和之味川貝性稟清肅之令為治虛勞咳逆之功臣生地用炭者生得甘寒之性用燒炭以利營陰乃引血歸經之使致無外溢之患山藥色白補中而培脾厚腸且多滋液為扶元之妙品燕根出自海中性本輕浮得燕含之精且受水浪飄蕩補肺而益臟陰阿膠系何井泉水用驢皮以煎膠借血肉之品能養金水二臟此所謂精不足者補之以味炙冬花得杏仁為使治肺虛而利勞咳降氣之要品復以瓊玉膏有安和臟陰為勞乏咳血第一神方也比之國家貧乏將敗得政治之有道則勸耕薄殮固城自守或可挽江河於日下而復增氣象於將來即人病此虛勞羸瘦便溏諸症得此清補調養之劑則能漸爽其精神以得延年之一助耳</p>

<h2>論氣鼓胸滿腹脹青筋外露</h2>
<p>經云飲食起居失節則陰受之入五臟為腹滿䐜脹夫脹者皆在臟腑之外胸腹乃臟腑之郭脾胃為倉廩之官平素操勞情志怫逆鬱怒傷肝肝氣橫逆肝葉撐張結思傷脾脾不輸精脾陽困頓肝脾兩傷中焦失連化之權胃中清陽之氣不司健連水穀之濕濁生痰生飲聚而不散痞結中焦則中州之地久窒其四連之軸而一身之氣失輸化之機清陽不升濁陰上逆互相結聚牢不可破實因脾氣之衰微生化之源內戕肝凌及脾土以致胸脅痞痛痛引少腹飲食少思納穀迎連腸中漉漉作鳴大便乍靴乍易甚且四肢倦怠動則氣逆艱於從事腹脹連胸青筋外露蓋肝主筋木動必剋土故筋急而露於外也以脾主四旁為後天之本脾土為肝木所賊陽不化氣氣餒濁陰聚結於中將有單鼓難治之候按脈左小弦而澀右弦而遲蓋脈出雙弦乃肝木乘脾遲澀小兼見為臟寒陰氣內阻之徵舌尖邊光潤中後兼有白膩之苔以脈參症正虛邪滯治之之法補瀉兩難偏任惟有剛中兼柔培土溫中以連四旁抑木製肝而化濁陰為法</p>
<p>潞黨參　熟附片　吳茱萸拌炒真川連　麩炒枳殼　米泔制茅朮　上安　桂心　金鈴子　白茯苓　淡乾姜　東白芍　沉香曲　新會皮</p>
<p>此附子理中加減辛通苦降法為祟土製木治氣鼓腹脹筋露之宣劑也用參朮姜附為君者益黨參出自潞安之地得中土之和性稟甘平以補中和脾中氣健連則中胃不致困頓使中焦輸化有權也此症乃脾胃陽氣虛弱蓋脾虛則不磨食胃弱則不能食此味補中調氣以益後天之化源耳茅朮性本苦溫其功能除濕解鬱疏滯寬中有徹上徹下升清陽降濁陰之巨功用米泔制者是強胃理脾之妙用乾姜辛溫益脾宵之元氣溫中祛濕以連四旁轉輸之軸行陽散寒則中焦不致痞窒附子治虛寒腹脹退陰霾而益陽氣有鼓舞元陽之動經云濁氣在上則生䐜脹濁氣者濁陰地氣上騰也蓋陽不化氣而陰邪竊踞且脾陽弱則中州皆陰寒之地用此辛熱溫中以壯五臟陽氣則濁陰得炎陽而自消矣更用桂巧連茱金鈴為臣者蓋桂心出自安南得南方正陽之氣而性溫助命門有補火生土之功所以治中下虛寒蒸變無權結聚作脹宜氣機之阻滯以通筋脈開鬱而利關竅其消脹破結有殊功也白芍收陰氣泄肝安脾為治脾虛肝木凌土青筋顯露腹脅痞痛之妙質川連苦寒主降佐吳茱萸辛熱主散其治肝氣喜疏泄有同氣相求左金以平木剛中兼柔相濟者也此為濁陰不降厥氣上逆陰寒痞塞陽氣不得宣布以致胸滿腹脹如鼓用此泄肝邪而降逆氣則清濁無阻隔之弊氣下而脹消痛自止矣金鈴子苦降濁陰為治脘腹結聚肝氣橫逆可得此而平矣沉香苦辛而溫調中以養諸氣同助右腎命門而理脾胃元氣上而至天下而及泉有解鬱開結之能造而為曲者以治蘊釀之疾也枳殼本屬苦酸得麩炒之溫和能寬胸膈而消結氣為默運之佐茯苓甘淡連脾濕而和中暢心氣寬胸懷為舒情志之使新會皮通運一身之氣機以敷布五臟則輸化有權而濁陰無壅滯之患矣所謂理中者理中焦也中焦乃腹之主腹者至陰之所用此苦降辛通溫運諸品而消䐜脹清陽得升濁陰既降氣逆鹹平脹滿自除若得臟氣運行則上來諸症焉得不緩瘳乎且藥力之功有撥開雲霧之勢至古方原載此症五不治唇黑傷肝缺盆平傷心背平傷肺臍突傷脾足底平滿傷腎見此五者不可治矣此法非為不可治症而設惟溫中理脾抑木製肝雖五臟見有不治之症而能治愈者尚多非臆說焉</p>

<h2>論噎膈礙食肌瘦二便不利</h2>
<p>內經云脾胃為倉廩之官臟真高於肺肺居膈上平素操勞三者氣陰默耗脾連不及生化之源受戕脾不能為胃行其津液則水穀之精微日衰蓋胃主肌肉胃中之津液為人生天真之氣胃脘之陽不敷布於五臟肝木來侮肝膽合為表裡其氣皆剛志主謀慮謀慮動肝肝膽內寄之相火擾中中脘之液不使宣布陽氣內結陰血內枯遂患噎膈經謂一陽發病其傳為膈又云三陽結謂之膈此由情志不適憂鬱日久木火生痰痰氣交阻胃脫窒塞不通氣則上而不下以致妨納飲食食則還出或時梗塞胸中懊憹不安嘔吐涎沫脫腹𩞄雜食則不能受納脅肋隱痛形肉羸瘦肌膚枯澀不擇大便燥結登圊不爽小便短赤神疲肢倦自覺氣從方脅逆上明是木失調暢胃汁枯槁致成噎膈之候夫脾為肺母水出高源脾虛不能輸津即經又云飲食入胃遊溢精氣上輸於脾脾氣散精是以上歸於肺通調水道下輸膀胱今肺之氣化失司脾之默連無權胃失敷布之職故陽氣結於上陰液衰於下噎膈所由成肌肉為之瘦二便隨之不利也診脈虛數近弦右寸關細數而沈按之三伍不調蓋脈以胃氣為本虛細數為胃液精氣內弱兼弦兼數不調者乃氣鬱血枯木火內熾之徵也舌苔光紅中糙白以脈參症恐成關格之虞治法一切酸收膩滯之品有礙中州殊非所宜又不可燥熱滲利恐妨津液甚屬棘手姑擬平肝鎮逆和中救液以養氣陰一則冀其安穀轉機錄方質諸　明眼酌政</p>
<p>吉林大參　黃秫米　紫巧英　甘蔗漿　釵石斛　白茯苓　椿杵頭糠　生藕汁　仙半夏　旋覆花　黃牛乳　川鬱金磨汁　老薑汁少許</p>
<p>此大半夏湯合五汁飲增減法為補胸胃氣滋養胃陰鎮肝陽治噎膈肌瘦胃汁枯槁恢復元氣之潤劑也用吉林人參性甘微溫以大補元氣而助胃院之液蓋此症為胃陰久耗脾連不及輸化無權肝陽上擾致噎膈礙食之候也用此以滋益元氣培養真陰則後天之化源藉以此恢復而天真之氣得此輸布有權也釵石斛色正黃其汁多津為輔助胃氣連化精微輸津於五臟灑陳於胃腑津液足則肌瘦可充神形得有膏澤矣半夏得露透精製之法俗呼為仙露半夏味甘平微辛陽中陰也大和胃氣以通陰陽之結秫米甘潤肺之谷也所以利大腸者蓋大腸乃肺之合也此味能清肺而潤腸以通上下陰枯陽結養胃而滋穀氣者也茯苓補心益脾理噎氣開胸膈以宣上焦陽結而平衡逆且與大參石斛半夏秫米同行有協和安胃之妙用旋覆花鹹溫而能降逆故仲景用治傷寒解後心下痞噫氣不除後賢借治噎膈反胃喻氏寓意草中治膈氣礙食屢奏奇績為其降氣理膈間痰涎平胸中逆上才氣省專功也紫石英味甘而溫且性重而鎮其氣緩而補故能鎮肝陽之上擾以平逆氣彼用代赭症成於急而治宜速此州石英症成於漸而治宜徐自調處監製之法實陽郁陰衰之有濟也椿杵頭糠得甘溫之性為治噎氣膈塞飲食礙下喉間吞嚥不爽之要味耳黃牛稟中土之正畜乳乃血肉之精液所化其滋補胃液潤燥養血為充身澤膚之主品也蔗漿甘平以助胃氣利太陽而益臟陰暢便溺之蹇澀以潤血液之枯槁有天生復脈之號也藕汁清胃除煩滋枯燥之陰液潤腸以養營血有醒胃安穀之殊功鬱金磨汁用者有解鬱氣以平肝膽內寄之相火調陰血之內結而清膈熱薑汁溫胃和中解上結之噎氣以寬胸膈此方須用八味水煎去渣和五汁揚之千遍再煮一日沸滾熱頻服以鼓舞胃氣而通調上下之枯結有融和五臟灑陳六腑為陽生陰長之巨功雖百中圖一之危症預參徹土以綢繆賴此法早常圖治元氣恢復津液充溢胃安穀納噎膈諸恙靡有不瘳者耶</p>

<h2>論冬溫風燥釀痰咳嗽</h2>
<p>凡霜降以後天道當寒不寒乃更溫暖人在氣交之中風為陽邪燥自天降溫從熱化邪由口鼻吸入則上焦先受感其氣而發者即冬溫時邪也經謂肺主天氣開竅於鼻溫邪從口鼻吸受先傷手太陰肺經而肺胃為溫邪必犯之地蓋風燥外搏肺胃內虛是清肅不行治節失司津液釀痰痰阻氣機氣不主宣始起微寒繼則身熱咳嗽氣逆咯痰不順胸脅窒疼頭痛清竅不利鼻塞聲重口渴欲欲神煩少寐津液內傷唇乾口燥胃鈍便閉即經所謂燥勝則乾皆緣肺津與胃液被溫燥所耗故見症如是也診得脈象浮數而滑右大於左舌苔薄白尖紅且燥以脈參症症屬冬溫熱邪治之之法清熱宣肺為主但辛溫發表香燥耗液之品皆在禁例仲景云風溫為病脈陰陽俱浮自汗出若誤汗之身重多眠睡鼻息必鼾語言難出以溫邪先傷手太陰法宜清輕以存津液為首務云</p>
<p>冬桑葉　淨銀花　炒牛蒡　象貝　連翹　川石斛　枇杷葉　白杏仁　括蔞皮　橘紅　薄荷　鮮竹茹</p>
<p>此辛涼宣解法為治冬溫燥邪清熱宣肺不傷元氣之平劑也用桑葉銀翹為君者蓋桑葉得春而生經霜之後其葉雖落而色不變稟天之清涼之性獨存故其治時感風燥在上焦傷肺衛之氣有專功也銀花色白稟金之餘象金乃肺之臟體其花輕清性本純陰故能解肺之邪熱而宣肺衛化燥傷氣為治熱勝神煩之善品連翹味苦辛平苦以降逆辛以散邪寒以驅溫所以為上焦客熱之主用佐以石斛牛蒡杷葉為臣者蓋石斛功在輸化存津液以輸胃氣化溫邪而能燥熱以行清肅之令牛蒡子能潤肺宣氣散邪結祛風燥化熱為外達上受肺邪而從清竅開出枇杷葉臨冬不凋具受四氣之備其稟清肅肺金之令獨優肺清則燥解氣順則火降火降則痰自失而胸悶肺熱釀痰之咳嗽焉得不應手而平乎白杏仁乃手太陰之本藥其功長於散結潤燥降氣機之膹鬱而治痰阻咳嗽之要味得橘紅為降逆順氣以解皮毛摶束之時邪象貝開肺降痰為治頭疼鼻息不利時氣煩熱邪留肺胃之妙品括蔞皮能清滌胸膈中鬱熱之痰濁外解皮膚風燥之感邪而止咳逆有清內散外之朱功並治便閉解燥止渴之要品薄荷能散皮膜之風邪上清頭目而宣解腠理之寒熱鮮竹茹者蓋其冬傷於溫風為陽邪燥從熱化熱則氣耗乃邪入肺經清肅不行竹得天地雨露風霜之涵養其氣獨清茹似人身之皮革其性善清氣熱熱清則氣調其豁痰宣肺理絡之功更可知矣如氣機得宣邪熱外撒咳平痰清而元氣不傷則諸症一擊而平靖厥功豈淺鮮哉</p>

<h2>論春溫熱入心營神昏譫語紅疹隱約</h2>
<p>經云冬傷於寒春必病溫又云冬不藏精春必病溫緣腎陰素虧之質春時木火司令天時溫風過暖感其氣而發者即春溫也風邪受自口鼻吸入先傷上焦然風邪外搏肺衛心營受病始起身熱微有咳嗽頭疼胸悶筋絡痠痛口渴懊憹繼則身熱神煩渴欲引飲邪由肺衛陷入心營化火化痰逼亂神明蓋心主營為空靈之竅心經受其容熱則痰熱內閉致神昏譫語煩躁不寐紅疹現於肌腠隱約不得宣達蓋疹為火之宙火即疹之根熱邪為火毒所郁清被濁蒙所以見症如斯也診得脈象左寸關大而鬱數右三部滑數兼見舌苔深紫以脈參症症屬春溫時邪熱入心營之候能以紅疹宣達熱退神清方是轉機否則邪熱深陷致有內閉外脫之虞姑擬清營泄衛透達邪熱佐以滌痰一則附方請　政</p>
<p>犀角屑　丹皮　川鬱金　淡竹瀝　羚角片　炒牛蒡　川貝　天竺黃　帶心連翹　銀花露　青蒿子　細石菖根　萬氏牛黃清心丸</p>
<p>此清營透邪達熱法為治春溫邪入心營之要劑也用犀羚丹翹為君者蓋犀出於西番窠居山林得棘木為食然棘為木之有毒者其入陽明血分為解邪熱清營分之火毒可知春得風木之太過以化溫邪用此以清春溫之邪而撤熱以犀角得精英之聚稟天之清寒功力專主於透達內蘊之邪熱而清擾亂之神明比之逐反寇以外退安明主於內殿而譫語躁擾逆傳之變可得而平矣挾羚羊角同清寒之性為驅火邪之佐師而開虛靈之心竅丹皮行血內之伏火蓋心主血血屬營血之所患者火也得此清營分蘊熱而解客邪達翹辛涼解諸經之邪熱輕清宣通其形象心用帶心者其中有仁仁含生氣乃芳香以逐穢也佐牛蒡銀花為臣者蓋牛蒡辛散宣發其邪熱之內結而透紅疹於外顯則蘊熱之伏毒自解銀花甘寒性本清火邪解熱毒之味更用露者為蒸騰清潤之氣尤川陰和陽之既清則火不自焚而陽不自亢至懊憹煩渴可賴此而除矣鬱金善解鬱火涼心經則煩數不生而痰濁得泄則胸悶內閉之弊烏得不外解乎和川貝以解心肺鬱結之痰火而咳嗽煩熱豈不自除哉青蒿散風熱內入能引邪外出尤救陰退陽之妙用竹瀝竺黃皆得竹之精氣功能化痰火而清昏昧之神靈石菖蒲益心氣以開鬱道驅邪熱而歸清明覆以牛黃清心丸為治痰火閉結神識不清為強主逐寇之助也如火邪宣達心營內清熱退神靜則諸症之平有如桴鼓之應響其迴天之功豈不偉哉</p>

<h2>論中暑熱入心包壯熱神昏不語邪竄三焦激動肝風</h2>
<p>金匱論云太陽中熱者暍是也且古人雖分動而得之謂中暍靜而得之謂中暑然暍即暑暑即熱也凡夏令酷暑炎灼之時君相二火主令天之暑熱一動地之濕濁自騰體本伏熱內盛復中其暑熱之氣則少陰心主受病乃暑為陽邪最傷心包致身熱口渴心中煩憹頭重身痛甚至熱邪銷鑠陰津釀痰化火邪不外解逆傳心主之包絡擾亂神明蓋膻中為空靈之所開竅於舌舌乃心之苗清竅為暑邪所蒙火內蔽是以壯熱如灼渴不知飲神識不清汗出而熱不撤唇乾舌焦躁擾不安語言不出陰液內涸則暑熱鴟張遂致少陽相火因而□惑走竄三焦激動肝風遍體經絡抽掣搐搦不省人事喉間痰鳴以木火同氣相感也皆由暑傷元血液內奪熱極生風所以見症如斯也診得脈象左寸關浮數而洪右脈滑數兼弦舌邊絳紅焦燥而捲短難伸以脈參症內閉外脫痙厥之變火勢已成勉擬清暑救陰熄風宣竅透達邪熱一則附方請政</p>
<p>犀角尖　生石膏　青蒿子　川鬱金　鮮生地　肥知母　白荷花露　淡竹瀝　鮮細石菖根一錢搗汁和沖　粉丹皮　帶心連翹　銀花露　鮮石斛　元參　紫雪丹</p>
<p>此清暑達熱開竅救焚法為治暑熱內閉陽邪襲入心包變端危惡險症之峻劑也取犀角尖者以尖主透達心營包絡之邪火而靖內動之肝風至地黃用鮮者得天地生生之陰氣為清熱存陰熄焚救液之妙品丹皮清心營之火以涼血則心無內焚之患矣同白虎湯之石膏知母蓋石膏得石之精英性兼甘寒稟金水之正氣能治酷暑火熱若中暑壯熱之險症豈非此味為主藥乎知母瀉邪火清陽明獨勝之熱而解心煩躁悶之神品名曰白虎者以白虎乃西方之神虎嘯風生金風驟起炎暑頓消如登清涼之界飲上池之水矣帶心連翹清邪熱而解火毒入心包而救內焚元參治陽毒以育陰氣消酷暑而止煩憹鮮石斛其得陰氣獨厚以輸化臟陰而制其亢陽乃陽盛陰耗之要劑也青蒿子白荷花露其得炎夏而存性獨清且兼含液之品故為清熱消暑之要味銀花露鬱金乃清涼達熱為解毒之使竹瀝佐以菖根汁以輕清盪滌痰熱宣竅通蔽為善治神昏不語方中會集清靈含液之精品以復其神靈並藉紫雪丹功能竄經入臟攻熱消毒清三蕉之道路而開內陷之邪火此方不特為中暑陽邪之要劑即溫熱諸熱邪內陷心包邪竄三焦之壞症皆可取此化裁而治焉其效之敏捷有去死回生之神功也孟子所謂藥不瞑眩厥疾不瘳信斯言也</p>

<h2>論濕溫身熱惡寒體重胸悶關節疼痛</h2>
<p>難經云傷寒有五濕溫乃其一端也蓋濕為重濁之邪熱乃薰蒸之氣凡長夏初秋濕土主令濕鬱生熱素體多濕復感其時邪之氣由口鼻吸受布散上焦濕熱相搏而發者即是濕溫所謂溫者濕蘊久而從時令之感以化熱也夫濕為陰邪其氣瀰漫然濕與溫合太陰陽明受病所以身熱憎寒濕熱鬱蒸而矇蔽於上氣不主宣則頭脹嘔惡以胸中為陽明之府關節為陽明之表濕阻清陽則胸中窒悶濕蘊化熱渴不欲飲濕邪留連經絡身體沉重關節疼痛即金匱所謂濕家之為病一身盡疼發熱濕鬱熱蒸氣為邪傷所以見症如斯也診得脈象右寸關濡數而浮舌苔薄白微黃兼膩以脈參症明是濕溫時邪擾於肺胃使然耳治之之法邪在上焦法宜輕清辛平開氣甘涼淡滲以宣肌表不致入里變幻他端擬方於左請　政</p>
<p>飛滑石　薄荷　黑山梔　西秦艽　連翹　青蒿子　廣藿梗　橘紅　淡豆豉　活水蘆根　川鬱金</p>
<p>此法輕清開宣肌表為治濕溫之首劑也用滑石連翹豆豉為君者蓋滑石淡滲宣竅外走肺胃開毛腠之竅下輸膀胱以走便溺之竅而散濕邪之專司也速翹清上焦邪熱為祛諸經濕熱之妙品淡豆豉本黑豆性屬苦平得蒸制之氣而變溫故以苦溫發表助汗則濕邪外著肌表得有出路矣薄荷為滑石之佐蓋薄荷辛涼發散同宣肌表開腠理而使濕溫之邪早有出路則經絡中留運之濕熱得其氣味之宣通而外解矣青蒿蘆根為連翹之佐青蒿以驅內蘊之濕熱蘆根甘寒升清降濁以開陽明之熱氣而解煩悶清陽得宣濕濁得降則身熱畏寒之弊自燃退矣山梔為豆豉之佐升清陽而降屈曲之鬱熱陽明之腑氣既開則身體盡重關節疼痛不利之患藉此而除焉藿梗芳香之品以逐內蘊之濕邪而散外感之時熱則頭脹嘔惡之症得此而療矣鬱金為開鬱清氣之使濕熱得解而清氣自宣矣秦艽為治濕邪阻留肌表肢節痠痛並治陽明外束濕邪之佐也橘紅宣化氣機主和升降如清陽得宣濕邪外解則以上諸症可藉此而除矣</p>

<h2>論秋燥寒熱氣液受傷之候</h2>
<p>經曰夏暑汗不出者秋成風瘧時在秋分以後漸至新涼陽明燥金主氣清氣摶束燥乃行令燥從天降首傷肺金先受暑氣內蘊復感秋燥風邪襲於肺胃即病寒熱咳嗽者所謂秋傷於燥之候也以燥熱為燥氣之常燥火爍金先傷上焦氣分差肺為輕虛之嬌臟主一身之氣化肺氣為燥邪所郁清肅失司肺氣不宣始起微有憎寒寒從背起寒已即身灼熱汗出而熱不撒日渴神煩咳嗽而胸脅牽痛咯痰不爽乾嘔頭暈便堅溺赤繼則熱傷氣液即內經云金位之下火氣乘之燥從金化燥熱婦於陽明肺津與胃液皆被燥邪所耗遂致胃氣不清肺氣不肅所以見症如斯也診得脈象右寸關浮數而澀經雲浮則為風數則為熱澀乃肺傷燥邪之徵也舌苔燥白微黃以脈參症症屬燥邪耗傷肺津胃液之候而治之之法香燥耗液之品尤在切禁非可與張太守小柴胡湯邪入少陽計表裡證之比也擬以甘寒宣解風燥清肅肺胃佐存津液培養氣陰一則冀其松機</p>
<p>甜水梨汁　北沙參　冰糖水炒石膏　肥知母　川旦　霜桑葉　金石斛　青蒿子　白杏仁　淡竹葉　枇杷葉　粉丹皮　白通草</p>
<p>此清燥肅肺解熱養液法為治秋燥寒熱傷津存陰之潤劑也其用淡竹葉清胃潤燥撒熱存陰石膏本清陽明燥金之邪熱加冰糖水炒者有保肺生津不妨胃氣之功北沙參養氣陰以肅肺金而泄熱熱泄則清肅行令而氣機流暢矣金石斛功力宛加胃腑敷布臟陰輸化津液攝耗傷之氣液桑葉治寒熱理咳嗽宣肺絡以驅燥邪而清解鬱熱枇杷葉清肺熱解暑邪潤肺陰而滋氣液則口乾乾嘔諸逆衝上之恙自除知母清胃熱以解燥渴為治虛煩內熱火盛鑠金之妙品青蒿丹皮以治營衛氣分伏留之暑邪二味入營則已寒出衛則泄熱川貝杏仁乃肅肺潤燥化痰已嗽宣氣之清味通草色白而氣寒味淡而體輕通調肺胃之水道引熱下降而利小便蓋水出高源水精四布清肅行令溺道赤澀之證自清甜梨汁者梨成於秋花實色白其汁自然得西方之陰氣獨存有天生甘露飲之稱治賊風暗襲為救肺潤燥之使則氣分宣通而便溺堅澀之患焉得不痊乎如寒熱得撒風燥既解而津液得養則上來諸症自然妄靜矣此方不第為秋燥新涼引動伏熱內發所宜服即如冬溫燥熱釀痰咳嗽之症亦可與此法互相為次第淺深去取而酌用耳</p>

<h1>卷下</h1>

<h2>論寒飲咳嗽遇寒氣喘頻發</h2>
<p>經云形寒飲冷則傷肺又云飲入於胃遊溢精氣上輸於脾脾氣散精上歸於肺通調水道下輸膀胱緣脾肺氣虛輸化失常以肺為五臟華蓋下通水道敷布精液之源脾為散輸水津之木而肺不通調寒飲阻氣脾不散精聚濕生痰以脾為肺之母痰飲以脾濕為母脾中之濕濁內蘊肺經寒飲停蓄據為山險另闢窠囊緣膻中大氣不得展布由巨陽之氣不得吸引病經有年遇寒咳嗽氣逆痰喘頻發發即痰隨氣升呼吸不利喉間如水雞之鳴馴且不得平臥每交寅卯之時氣逆益甚背膂惡寒筋絡痠楚胸脅引痛咳逆倚息即經又謂咳逆上氣厥在胸中是也良由水飲挾寒邪內襲於肺壅遏肺氣氣失肅化之權使然耳診得脈象右寸關弦緩而滑以弦為飲滑則為痰緩則氣虛之徵舌白而膩以脈參症明是脾肺氣虛塞飲內射為患治之之法金匱有云病痰飲者當以溫藥利之先擬宗仲景小青龍湯法外散寒邪以溫肺氣內蠲痰飲以理脾濕而搗窠巢附方於左請　政</p>
<p>清水炙麻黃　法半夏　淡乾姜　旋覆花　嫩桂枝　杭白芍　清炙甘草　白杏仁　北細辛　北五味　白茯苓　橘白　炒白果</p>
<p>此小青龍湯加味法為散寒溫肺消痰蠲飲治寒水在胃久咳肺虛之古劑也川麻黃桂枝為君者蓋麻黃以清炙之輕清而浮辛溫以散寒其形中空能去上焦風寒鬱遏宣清陽以驅肺經風寒開毛孔而通腠理桂枝辛甘而溫稟天之陽氣而得土金之味能解肌表寒邪其症為客邪外襲水飲內蓄阻留脾肺釀成痰飲結為窠囊以致痰喘咳逆觸寒頻發此陰氣太盛陽氣不布之候也借麻桂內通陽氣外散陰邪治水之動而不居故備舉辛溫以散水耳用細辛姜夏芍味為臣者以細辛治寒飲上逆溫中下氣開胸中之滯結破停水之凝痰錢製半夏辛以消胸滿之咳逆苦以燥脾濕而和胃故其形寒飲冷寒濕釀痰之症此味朱有專功也五味收肺氣耗散之精乾姜行陽散寒溫肺以消痰白巧健胃而安肺合桂枝則外解形寒內和營衛之善品並用酸苦以安肺一散一斂培其化源也甘草散邪扶正炙則溫脾肺而和中有協力安內攘外之監製白茯苓生於古松之下感水土之氣而成補脾以滲濕通利痰水痰水者即寒飲之源也蓋痰飲之源正在脾濕濕去而痰無所生此所謂治病必求其本也旋覆花性溫味苦祛痰水而止咳嗽理上焦之寒飲降肺中之逆氣杏仁橘白為開肺豁痰降氣平喘之佐白果性本收斂為定喘安肺清金之使故往哲定喘湯中有合而用之如內之水飲既蠲脾肺得輸化之權而外之客寒頓解則遇寒喘咳氣逆之症賴此方即可平定矣</p>

<h2>論熱痰咳嗽氣喘自汗觸勞而發</h2>
<p>經云諸痿喘嘔諸逆衝上皆屬於熱熱為薰蒸之氣痰由熱薰津液所化又云勞風為病發在肺下肺朝百脈為五臟之華蓋肺受熱蒸咳出青黃濃濁之痰緣體質金水兩稟不足肺失布氣腎失納氣氣陰偏虛為病之本也脾中之濕熱素多胃中之壯火素盛二者交煽而互蒸結為濁痰久結不散透開肺膜竊踞山險結為窠囊使薰蒸之熱有形之痰□□其間致肺氣不輸胃氣不清水穀之飲食釀化濁痰而為病之標也氣直不利上奔於肺則為咳嗽氣喘外溢皮膚則為自汗溱溱觸勞而發發即痰隨氣升氣逆痰滯咯吐不爽鼾齁有聲喘促呼吸不利自汗神疲飲食改減不得平臥每交寅卯之時咳逆憎劇皆緣熱痰結成窠囊為第所以見症如斯也診得脈象兩關弦滑寸數尺短以脈參症本虛標實求痊非易而且汗病之又進一層矣慎防喘厥之變姑擬肅肺清胃豁痰平喘降逆法以搗窠囊而刈根株附方請　政</p>
<p>粉沙參　川貝　淡芩　淡竹瀝（薑汁一匙和沖）炒蘇子　冬瓜子　生蛤亮（青黛四分拌打）天花粉　白杏仁　白茯苓　友牡蠣　浮海石　陳海蜇　荸薺</p>
<p>此清肅肺胃降逆平喘法為治窠囊痰結咳嗽之妙劑也用粉沙參甘淡微寒之性以行清肅之令差肺主氣肺氣清則周身之氣翕然從之下行此味能肅化肺經結熱為治咳嗽之首品炒蘇子降氣消痰開結肅肺而平喘逆川貝杏仁滌熱潤肺平胸脅之逆氣定喘止咳宣氣機之阻滯而蠲肺膜隧絡之結痰白茯苓感天地太和之氣化不假根而成性淡滲理脾兼守臟氣開胸益腎使胸中痰濁由巨陽吸引而化合之沙參有助肺胃布納之功動因此症為本虛標實之制也冬瓜子甘平有土金合德之義能清肺金止咳而治胸中痰熱蓋其瓜瓠瓤爛而子存性獨清為清肺開胃之功獨優牡蠣收浮越之正氣潛陽救逆而固腠理則自汗可斂矣淡芩性本微寒而苦為瀉肺清脾胃濕熱壯火之朱品蓋脾土為肺金之母而脾濕為生痰之源濁痰阻氣皆脾胃濕熱所為也此味清胃火理脾濕以滌熱痰降肺清金而利氣機投於是症尤為輔佐專味生蛤殼佐以青黛咸而微寒咸能軟堅寒以泄熱為治咳逆上氣喘息煩滿滌濃濁之結痰化薰蒸之熱氣淡竹瀝甘寒佐薑汁辛溫者寒因熱州熱因溫引取此以消胸中結聚之濁痰有驅寇搗巢迅不掩耳之巨功也天花粉氣稟甘潤為治煩熱咳嗽脾肺蘊熱之使浮海石鹹平能化老痰結塊以逐寇賊山險之竊踞而消肺膜□□之結痰海蜇荸薺湯名雪羹蓋海蜇得夏雨和陽之氣以生賴海水咸凝之味而成隨波逐浪質性清潔能消窠囊之濁痰而濯去其肺膜之留巢荸薺甘寒而滑以化胸中之熱結而清上焦之膠痰二者得水濕之氣而成形質用此味以治濕熱蒸痰結窠之痼疾豈非針鋒相對以刈根株不致觸勞而發喘咳諸苦如肺胃既得肅清則熱痰自化無濕不生痰無痰不成窠囊囊消咳止氣機得降喘定汗攝肺腎得布納之職則諸恙皆平所謂驅賊逐寇絕其根源除暴安良折標扶本自為良治</p>

<h2>論喉痹咽爛紅腫結痛身發丹疹痰涎上壅</h2>
<p>經云一陰一陽結為之喉痹蓋一陰為厥陰主乎風木一陽為少陽主乎相火其脈上循咽喉又云喉主天氣咽主地氣以咽喉系絡肺胃其經為風火阻郁風為陽邪襲傷清竅火襲風威君相火熾結痹咽喉夫君火猶人火相火猶龍火且人火之焚木也其勢緩龍火之焚木也其勢速速風火相煽痰壅為腫腫甚則痹痹則糜爛所以見症口渴欲飲韌痰不易咯吐大便熱結小便短赤身熱神煩咽疼喉痛紅腫糜腐胸悶遍體紅疹粟起滿布頸項以痧疹為火之苗而風火鬱結於上肺主一身之氣失其順降之機邪熱無從宣泄遂致痰涎上湧壅結清竅駸駸乎有燎原莫遏之勢診得脈息右大於在滑數兼見以大則病進滑數為風火痰熱兼盛始起脈見隱伏者被火邪逼勒所致也舌絳而紅以脈參症誠為爛喉丹痧陽毒重候匪可藐視慎防痰升內閉之憂然宜仿普濟消毒飲出入以情火散風滌痰解毒為治冀其轉機附方質諸　高明斧政元參</p>
<p>炒殭蠶　京貝　板藍根　射干　馬勃　川鬱金　白萊菔汁　炒牛蒡　淨銀花　連翹　鮮橄欖　山豆根　薄荷　錫類散（外吹人）</p>
<p>此清上泄熱散風滌痰解毒法為治爛喉丹疹之妙劑也用元參以散浮游之風而清上炎之火蓋咽喉主天地出入之氣而為呼吸之要道此味乃樞機之主學管領諸品司清氣行令者也射干性涼味苦辛涼以泄熱辛以散結苦以降逆此咽喉之患為君相之風火煽動上焰之勢莫遏阻清竅之出入致肺氣不得清宣紅腫而結痛火盛為毒毒流而為糜爛此味能靜內逆之相火而散上受之風熱為救燎原而熄焚焰之勢牛蒡至秋而成得天地清涼之氣以生有辛散熱結消毒宣竅之功上通清氣則喉痹痰涎自消外宣肌表而丹疹風痧自達炒殭蠶味辛微溫散結腫以通痹喉消疹毒而化糜爛祛風逐痰以宣清竅為治喉風之妙品馬勃辛平體輕散毒清肺泄熱為輕可去實之要味銀花解毒清熱薄荷辛涼發散為上行之藥上能清利咽喉外得宣泄癮疹京貝宜肺以消風痰則痰涎上湧之害自除鬱金除熱毒而降火開鬱通痹通其痹則不結痛矣連翹清熱化毒治氣痹火炎為上通清竅發散之輕品板藍相苦寒以降熱熄焚而澄清為治喉痹天行熱毒險症之要質山豆根性苦甘而寒感冬寒之令以生有利毒除熱之功故為解咽喉腫毒清熱之上藥萊菔色白化手太陰外來之風熱而清肺金之氣用汁者以消經隧痰涎之功為更捷也橄欖色青清平厥陰內寄之風火而靖其上騰之焰復以錫類散吹之此藥專去糜腐以生肌吐出惡涎而利竅為外治爛喉痧疹之神方也如風火得散丹疹喉痹咽爛適解熱毒既清而腫痛諸症自除矣若見症火邪陽毒大盛者則王晉三之犀角地黃等法皆可參入此方不第為爛喉□痧之妙劑即時行熱痰傷於上焦天行大頭頰領耳腮結腫等症亦可取此變化而酌用焉</p>

<h2>論目痰神蒙通宵不寐得之驚恐</h2>
<p>經謂五臟六腑之精氣皆上注於目為精明之竅水之精為志火之精為神目者心之使也神者心之所藏也驚則心無所依神無所歸平素操勞過度情性躁急加以驚恐激動肝陽與心火相為煽惑五志陽升心無主張水火不濟陽不交陰徹夜不寐心火挾動肝陽上僭清竅則目不交睫蓋驚則氣亂鬱火生痰痰火二者阻蔽肝膽包絡之間清明之氣被痰火所蒙陰陽之氣魂魄之精營衛之行從此交亂所以目瞪神呆語無倫次起臥不安心緒紛紜神識乍清乍蒙唇焦舌緣渴飲筋脈振惕大便燥結不解緣厥氣客於臟腑則衛氣獨行於陽不得入於陰陰虛陽亢故目不瞑矣蓋肝藏魂謀慮出焉心藏神為神明之府二者神失守舍舍空痰聚致肝陽化風心火鴟張所以見症如斯也診得脈象左寸關弦滑而大以脈參症恐防癲癇痙厥之變姑鎮肝風清心火宣竅滌痰一則冀其退機附方請　政</p>
<p>紫丹參　陳膽星　元參　朱茯神　真川連　淡竹瀝（鮮石菖根汁一匙和沖）橘紅　甘菊　蒼龍齒　天竺黃　金石斛　石決明　粉丹皮　珠黃散</p>
<p>此法定神安魂鎮肝清心為治志意惚亂之要劑也用丹參川連龍齒為君者蓋丹參色紫以治肝經熱勝風生而和血理肝定悸丹丹正以寧心心寧則神清肝心為神魂之主而藏血者也神舍失守心無主張血乏榮養則心火肝風因而上越以此味為熄風清火安主平驚之妙品川連降心主宮城上焦之實火而達矇蔽之明主其功豈不巨哉蒼龍稟乎東方之神蒼為肝臟之本色以龍性最靈善於變化其齒為骨之餘兼固腎陰而斂浮陽為安神定魂治驚惕之主宰佐膽星竹瀝竺黃為臣者蓋膽星收肝膽之濁痰竹瀝少佐菖根汁者使通心絡以豁有餘之痰火而魂魄之精營衛之行從此可交矣天竺黃出自南海受天地之精氣結成黃質且心主南方火位天竺黃正得南海大竹之精英故能涼心經以清壯熱即利竅隧而豁痰迷元參功在滋腎陰清浮游之火得橘紅為降逆利氣之使石斛能敷精於肝陰淫氣歸筋膜及從心而和脈絡茯神而用硃砂拌者益心氣以清神既濟水火有護主之外郭保守宮城之御軍使心火不張也石決明靖內風而熄妄動之浮陽聰明耳目以安神志乃平肝之妙品菊備四氣飽經露霜共安內動之虛風而靖君相之浮火丹皮性稟芬芳瀉血中經隧之伏火為用陰和陽之清味復加珠黃散者有安內清宮節制之功臣也如肝風得平心主安靖臟腑之厥氣頓驅浮陽痰火肅清精血得養神歸其室陰陽互交則驚悸上來之症烏有不瘳乎</p>

<h2>論肝氣犯胄脘痛嘔吐酸水</h2>
<p>經云肝為將軍之官而主謀慮又云肝所生病胸滿嘔逆脾胃為倉稟之官主納水穀之本其川主降良由平素謀慮過用情志不適鬱怒傷肝肝木橫逆夫肝與胃乃臟腑相對一勝則一負肝善升而胃少降中焦失輸化之權則清陽不升濁陰上逆脾不為胃行其津液胃脘之陽氣交阻窒塞不通以致胸脅引痛嘔吐涎沫飲食礙下蓋肝從木化其吐酸水乃曲直作酸土虛木實生化之源受傷而水穀之精微日損此症虛則虛於胃之陰實則實於肝之陽肝氣上衝擾動胃中濕濁是以嘔惡吐酸以嘔吐出於胃而主病之由在肝胃氣受侮使肝氣愈橫而無制胃上口為脘司納水穀肝木肆逆於中遂致嘔吐妨納胸腹痞悶酸水上泛自覺氣從左脅逆上脘中作痛所謂痛則不通明是肝升太過胃降不及之徵若非亟治恐肝木鴟張不靖胃氣內戕即如金匱所云胃氣無餘朝食暮吐變為胃反之候今診脈象左寸關弦澀而急右關微弦而細舌苔邊紫中白以脈參症症屬肝氣犯胃夫復何疑一切酸斂膩滯之品既礙中州而過於溫燥等味轉恐涸其胃液皆在禁例拙擬平肝鎮逆利胃通陽一則是否如斯附方請　政</p>
<p>代赭石　橘紅　白茯苓　炒竹茹　旋覆花　括蔞　左金丸　金鈴子法半夏　炒薤白　生薑　金石斛</p>

<h2>暑瘧與寒瘧所因不同見證亦異治法當何區別試詳論之</h2>
<p>經云夏暑汗不出者秋成風瘧又云夏傷於暑秋必痠瘧可知夏日不知衛生或貪涼以取快或冷浴以適體致陰暑伏於榮分不得汗解至秋復感涼風暑風合邪則痠瘧於是成矣夫痠者皆也總瘧之稱也瘧者虐也凌虐之義也故有暑瘧風瘧寒瘧濕瘧溫瘧瘴瘧癉瘧牝瘧痰瘧食瘧疫瘧鬼瘧虛瘧勞瘧及久瘧不愈而成瘧母邪舍三陰而為三日瘧之區別治之者須辨其所因而施以對症之藥庶可藥到病除不致妄投貽害他茲就暑瘧寒瘧二症別其症狀而詳其治法焉</p>
<p>暑瘧　因夏感暑邪藏於榮分至秋加新涼外束與衛氣並居夫衛氣日行於陽夜行於陰一日一夜周於身故邪因之一日一作也其症壯熱煩渴不惡寒渴欲引飲脈弦而數宜以連翹　竹葉　山梔　丹皮　西瓜翠衣清其內伏之暑熱淡豉　蔥白散其在表之涼邪兼用青篙以降暑瘧則熱除表解瘧自止矣</p>
<p>寒瘧　寒瘧者由陰寒伏於肌腠復感風邪而發也經云夫寒者陰氣也風者陽氣也先傷於寒而後傷於風故先寒而後熱也病以時作名曰寒瘧故證見寒長熱短頭痛微汗或無汗脈象弦緊有力宜以古方柴胡桂薑湯加減蓋外邪之襲人也必先傷太陽之表寒瘧有風在表更宜用辛散之品故治寒瘧以柴胡桂薑湯為主也</p>
<p>瘧病多端古法以宗金匱柴胡桂薑湯治寒瘧後賢竹葉石膏湯治暑瘧</p>
<p>桂枝白虎治溫瘧銀胡清骨飲治勞瘧青蒿鱉煎治虛瘧兼治癉瘧蓋癉</p>
<p>瘧古無治法以飲食消息之後腎增擬五汁飲為治牝瘧之用特蠣散瘧</p>
<p>母之用鱉中煎丸治瘧之法於是備矣至於瘴瘧用達原飲霍香正氣散</p>
<p>食瘧之用保和丸半貝丸等方皆有效也蓋六氣為病皆有類瘧之變學</p>
<p>者宜細心體察活法在人治瘧之法思過半矣</p>

<h2>暑濕熱痢傷於何經應何見症將何法施治試詳論之</h2>
<p>暑濕乃天地夏秋司令之常氣人受其浸淫之氣抑或起居不慎飲食失節感觸其邪害人藏府而致熱痢之症蓋痢症多端約舉之而風寒濕熱皆能致痢分其病名各有噤口休息五色之別風痢者似腸風下血而有痛墜即經所謂春傷於風夏生飧泄腸澼是也寒痢者下稀水而清腥腹中痛甚熱痢者如魚腦而稠黏窘迫而痛濕痢者色如豆汁胸悶腹疼噤口痢者下痢不食或嘔不能食也傷食成痢者糟粕膿血雜下也休息痢者下痢不休也五色痢者五色膿血相溷而下也此皆發於秋非伏氣為病也至於暑濕熱痢症即通常時見之痢也因夏傷暑濕之邪復恣食生冷瓜果沉寒諸物阻其胸中之陽氣於是腹中滯痛裡急後重或赤或白黏膩不爽所傷在腸胃者治法宜以消暑化濕為妥苟夏令不發至秋而痢則暑伏既久所受之濕亦化為熱宜以白頭翁湯為主治更佐化熱清暑之品如黃芩竹茹青蒿丹皮扁豆花之類治之為常要之瘧因貪涼取決不避風寒所致痢由不節飲食多飲生冷而成苟夏日能慎此二者則瘧痢自無由生耳</p>

<h2>寒濕泄瀉傷於何經以何藥施治試詳論之</h2>
<p>經曰濕多成者泄則瀉之屬濕也明矣然所兼有風熱寒濕之異故症有飧泄溏泄驚泄滑泄之別又有濡泄者脾濕自甚即經所謂濕勝則濡瀉也飧泄之症完穀不化脈弦腸鳴乃因春傷於風所致溏泄之症脈數溺赤痛一陣瀉一陣也濡瀉之症身重腸鳴所下多水脈緩而腹不痛也滑泄之證洞下不禁脈微氣脫濕兼虛也至於驚泄之證緣因感受寒氣內襲於脾脾胃受寒則陽虛陽虛則不司連化清陽之氣不主上升而下陷遂致便瀉加鴨鶩之糞澄澈清腹中綿痛脈現遲象治宜溫中化濕如生米仁　廣藿梗　制川樸　赤茯苓　苓廣皮　半夏曲　澤瀉　官桂　炮姜　廣木香　蒼朮　車前子之類以燥濕祛寒兼升陽止痛利便止泄以治之則諸自除矣</p>
<p>泄瀉之證所因雖朱而寒濕為病泄瀉者總宜溫中化濕胃苓湯霍昏正氣散六和湯是其治也有積加消導有滯加連化隨證施治無不效耳</p>

<h2>肝火沖肺當見何證何脈將何藥施治試詳述之</h2>
<p>夫肝藏內寄有餘之相火腎常缺不足之真陰蓋為乙木位居東方應春日而為火之母也苟七情不節郁恐傷肝則肝火上衝肺金受戕清肅不行一身之氣失其順降之機而咳嗽咯血之證成矣蓋肺為五藏之華蓋又為嬌藏畏熱畏寒今為火擾焉得不病日火能剋金為肺所畏是以肝火沖肺或病咳嗽成病失血諸恙蜂起矣　咳嗽　夫咳嗽之證亦多端矣有因於外邪者有因於內傷者宥因於內外合邪者內邪肝火沖肺肺金被爍以致咳嗽不安者宜清肺平肝以為治如沙參　蘇子　燕根　川貝　杏仁　橘白　冬瓜子　枇杷葉　旋覆花　冬桑葉　甘菊　蛤殼之類如嗽甚傷絡痰中夾紅或火升鼻衄者佐以茅根藕節竹茹等味如聲啞不揚者益以鳳凰衣　馬兜鈴之品凡有兼</p>
<p>證以平木清金為主而隨證加減可也脈象必見弦浮蓋弦為肝強之徵浮乃肺病之脈耳</p>
<p>咯血　夫血藏於肝生於心統於脾宣布於肺根於腎以灌溉一身者也今為木火所沖肺絡傷而血外溢矣治宜以丹參　小薊炭　茜根炭　旱蓮草</p>
<p>川貝　蛤谷　茅根　藕節　生地　竹茹之類以清肺平肝理絡為妥又宜禁食辛辣炙煿菸酒諸物而節怒尤為首要蓋怒則動肝為木旺之人所切忌他至脈象必弦而扎以弦為肝旺之脈芤乃失血之徵耳</p>

<h2>濕霍亂病起何因當見何症何脈將何法施治試詳論之</h2>
<p>內經云陰陽易位曰霍升降失常曰亂傷寒論云嘔吐而利名曰霍亂者夏令濕盛人感其氣蘊蓄中焦復吸暑穢或停飲食遂致濁逆於上清陷於下陰陽混淆揮霍撩亂病狀之凶受證之速無以過之</p>
<p>其見證必上吐下瀉腹痛胸悶肢冷口渴或不渴脈或伏或沈緩甚則轉筋入腹而為危殆之候</p>
<p>治法總宜激濁揚清和中化濕如米仁　厚朴　蒼朮　茯苓　藿香　半夏　山梔　晚蠶沙　左金丸　車前子　大豆卷　宣木瓜之類治之為宜蓋霍亂原系清濁不分濕氣為病之候故宜是方主之</p>
<p>至上不得吐下不得瀉之乾霍亂有郭氏之外治法在茲不具論焉</p>

<h2>治熱呃驗案</h2>
<p>應左（初診）肝氣犯胃胃氣失降納食嘔呃呃逆頻頻脈象浮滑而大治擬</p>
<p>清胃平肝</p>
<p>南沙參　廣皮　黑山梔　淡竹葉　法半夏　冬瓜子　生石膏　柿蒂刀豆子　杷枇葉　方通草　川貝　白杏仁</p>
<p>應在（二診）內經云諸氣膹郁皆屬於肺諸逆衝上皆屬於火火盛刑金清肅不行遂致呃逆頻頻前擬進竹葉石膏法諸恙皆平惟痰熱內蘊氣絡不</p>
<p>宣胸次窒悶脈象虛滑治擬清肅上中</p>
<p>南沙參　金石斛　橘白　枇杷葉　筧麥冬　川貝　冬瓜子　方通草淡竹葉　法半夏　黑山梔　刀豆子　柿蒂</p>

<h2>訂正素問脈位圖</h2>
<figure>
<img alt="訂正素問脈位圖">
</figure>

<h2>訂正素問脈要精微論一則備考（錄金鑑）</h2>
<p>尺內兩傍則季脅也尺外以候腎尺裡以候腹上附上左外以候肝內以候膈右外以候胃內以候脾上附上右外以候肺內以候胸中左外以候心內以候膻中前以候前後以候後上竟上者胸喉中事也下竟下者少腹腰股膝脛是中事也</p>
<p>內外二字前人有以足尺部一脈前半部脈後半部脈為訓者有以內側曰內外側曰外為訓者皆非也蓋脈之形渾然純一併不兩條亦不兩截若以前半部後半部為是則視脈為兩截矣若以尺內側尺外側為是則視脈為兩條矣故知二說皆非也熟玩通章經文自知其為傳寫之誤豈有獨於脾胃則曰右外以候胃內以候脾者耶蓋外以候府內以候藏內經脈書確然可考故常以外以候胃內以候脾之句為正其尺外之外字當是里字尺裡之裡字當是外字中附上左右之內外字上附上左右之內外字當受改之故不循舊圖所列以符外候府內俟藏之義也前以候前謂關之前寸也後以候後謂關之後尺也上竟上者謂上盡畫除也下竟下者謂下畫尺澤也</p>
