<header data-type="book">
<h1>醫家千字文</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data value="唯宗時俊">唯宗時俊</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>出自《皇漢醫學叢書》第二冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTL-9900015274">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>蓋聞醫道如林。學者未得其萌芽。□□如海。學者未得其涓滴。世有愚者。曰讀方三年。便謂天下無病可治。治病三年。乃知天下無方可用。誠是遠而難望。深而難測之故也。爰有草澤之孤陋。嗜藥石於獨學。猶暗精微之道。徒馳粗淺之思。唯對疾不曉了。譬如無目夜遊。然而鑽仰送春。有欣永日。涉獵映雪。未倦稽古。肆勒一卷書。名曰千字文。凡分乾象坤儀之部。次二十一韻。任淺見寡聞之智。談二百餘言。昔周興之集千字也。蓄儒材兮終一日之功。今魯愚之集千字也。披醫書兮摭十全之要。乃以立意為宗。不以能文為本。</p>
<p><u>於時永仁元年大呂中旬惟宗時俊撰</u></p>

<h1>正文</h1>
<p>清濁剖判。形質沖融。（千金方曰。清濁剖判。上下攸分。　太素經曰。清陽為天。濁陰為地。　楊上善曰。清氣是陽在上。濁氣為陰在下。　魏氏方曰。人受天地衝融之氣以生。　素問新校正曰。夫有形者生於無形。故有太易。有太初。有太始。有太素。太易者。未見氣也。太初者。氣之始也。太始者。形之始也。太素者。質之始也。）</p>
<p>陽營陰衛。右強左聰。（八十一難經曰。其清者為榮。濁者為衛。榮行脈中。衛行脈外。　丁德用曰。夫人之生。稟天真之氣。後飲穀食。入胃傳於五臟六府，化為精血。其精血各有清濁。其精中清者歸肺。以助天真。其濁者堅強骨髓。故血中之清者歸心。榮養於神。血中之濁者外華於肌肉。而清者行於脈內。濁者行於脈外。而衛者衛護之義也。　楊玄操曰。營亦作榮。榮者。榮華之義也。言人百骸九竅。所以得榮華者。由此血氣也。營者。經營也。言十二經脈。常行不已。經紀人身。所以得長生也。二義皆通焉。　太素經曰。天不足西北。故西方陰也。而人右耳不如左明也。地不滿東南。故東方陽也。人左手足不如右強也。又云。東方陽也。其精並上。故上明而下虛。故使耳目聰明。而手足不便也。）</p>
<p>焦原溉霧。病源本風。（存真圖曰。扁鵲云。焦。原也。為水穀之道路。氣之所終始也。上焦主出陽氣。溫於皮膚分肉之間。若霧露之溉焉。　太素經曰。三焦行原氣。經營五藏六府。故三焦者原氣之別使也。又云。原氣者。三膲之尊號。　外臺秘要云。風為百病之長。邪賊之根。一切眾病悉因風而起也。）</p>
<p>日月既短。古今不同。（千金方曰。或曰。古人用藥至少。分兩亦輕。差病極多。觀君處方。非不煩重。分兩亦多。而差病不及古人者何也。答曰。古者日月長遠。藥在土中自養。經久氣味真實。百姓少欲。稟氣中和。感病輕微。易為醫。今時日月短促。藥力輕虛。人多巧詐。感病厚重。難以為醫。故病輕藥味須少。病重用藥即多。此則醫之一隅。何足怪也。）</p>
<p>動象六府。回會九宮。〔天動地靜也。六府者。胃大腸小腸膽膀胱三焦也。運動出入。　太素經曰。藏者為陰。府為陽。肝心脾肺腎五藏皆為陰。府為陽。膽胃大腸小腸三焦膀胱六府皆為陽。又云。六府者。天氣之所生也。其氣象天氣。故寫而不藏。又云。人亦以九九制會。　楊上善曰。九謂九宮也。九九者。一宮之中。復有九宮。　今按九宮者。葉蟄宮。（冬至大剛風）天留宮。（立春凶風）倉門宮。（春分嬰兒風）陰洛宮。（立夏弱風）上天宮。（夏至大弱風）玄委宮。（立秋謀風）倉果宮。（秋分剛風）新洛宮。（立冬折風）招搖宮。（中州）是也。每一宮五日。五九四十五日。太一遊行之宮也。見太素經並針灸經等。〕</p>
<p>下床星步。制祿歲終。（孫真人養生銘曰。平明欲起時。下床先左腳。一日無災殃。去邪兼避惡。如能七星步。令人長壽樂。　周禮醫師掌醫之政令。凡有疾病者。分而治之。歲終則稽其醫事以制其食。注云。食。祿也。）春令涼飡。夏教寒庸。（活人書曰。陽根於陰。陰本於陽。無陰則陽無以生。無陽則陰無以化。是故春時氣溫。當將理以涼。夏月感熱。當食以寒。君子扶陰氣以養陽之時也。世人以為陰氣在內。乃抑以熱藥。而成瘧利膿血者多矣。　素問云。春夏養陽。注云。春食涼。夏食寒。以養陽。）</p>
<p>溫乃葉秋。熱乃扶冬。（活人書曰。秋時氣涼。當消息以溫。冬時嚴寒。當食以熱。君子扶陽氣以養陰之時也。世人以為陽氣在內。乃抑以涼藥。而成吐利腹痛者多矣。　素問云。秋冬養陽。注云。秋食溫。冬食熱。以養於陰。　八十一難經曰。損其脾者。調其飲食。適其寒溫。注云。適其寒溫者。啟玄子謂春涼食。夏冷食。秋溫食。冬熱食也。）</p>
<p>隨時慧甚。追季宣壅。（太素經曰。病在肝者。平旦慧。下晡甚。夜半靜。病在心。日中慧。夜半甚。平旦靜。病在脾。日昳慧。平旦甚。下晡靜。病在肺。下晡慧。夜半靜。日中甚。病在腎。夜半慧。日乘四季甚。日乘四季土時也。下晡靜。注云。慧醒了也。平旦。肝王。晡時金克。夜半受生。故為靜。自余藏故云）　本事方曰。壅疾。腳氣也。發二三月。感五六月。衰七八月。春夏陽氣上。故壅疾發。宣疾愈。宣疾。消渴也。發七八月。感十一月十二月。衰二三月。秋冬陽氣下。故宣疾發。則壅疾愈。）</p>
<p>臨於云遠。稟因天共。（太素經曰。黃帝曰。嗚呼遠哉。閔閔乎若視深淵。若迎浮雲。視深淵尚可測。迎浮雲莫知其際。注曰。術意妙望之無終始。譬之浮雲。莫知其際也。　又曰。自古通天者生之本也。又云。善言天者。必質於人。善言人者。必本於天。）</p>
<p>張虹蜺現。凝霜雪封。（孫思邈曰。天有四時五行。日月相推。寒暑迭代。其轉運也。和而為雨。怒而為風。散而為露。亂而為霧。凝而為霜雪。張而為虹蜺。此天之常數也。）</p>
<p>菱背影冷。芡向光逢。（醫說曰。舒州醫人李惟熙。善論物理。云菱芡皆水物。菱寒而芡暖者。菱花開背日。芡花開向日故也。）</p>
<p>倉廩充盈。閭里弘深。（太素經曰。脾胃者。倉廩之官也。藏五味出矣。注曰。脾為臟。胃為府。府貯五穀。脾藏五味。即為一官。陰陽共成五味。資彼五藏以奉生身也。　又曰。胃者大倉也。胃之五竅者。閭里門戶也。）</p>
<p>四瀆轉導。五竅決披。（太素經曰。小腸大腸廣腸膀胱。以此四府為四瀆。四瀆者。江河淮濟也。此四瀆流入海。　太素經曰。胃之五竅者。閭里門戶也。咽胃大腸小腸膀胱為五竅。）</p>
<p>脈谷流注。絡溪溢麗。（太素經楊上善注曰。小曰溪。大曰谷。溪谷皆流水處也。故十二經脈名為大谷。三百六十五絡名曰小溪。　太平御覽曰。無水曰谷。有水曰溪。）</p>
<p>足則地方。腳履濕痹。（太素經曰。天圓地方。故人頭圓足方以應之。　千金方曰。心肺二藏。經絡所起在手十指。肝腎脾三藏經絡所起。在足十指。夫風毒之氣。皆起於地。地之寒暑風濕。皆作蒸氣。足常履之。所以風毒之中人也。必先中腳。久而不差。　病源論曰。風寒濕氣雜至。合而成痹。病在陽曰風。在陰曰痹。）</p>
<p>溝渠圖設。洫泝冒隳。（明堂經曰。聖人圖寫人之血氣行處。說十二經脈溝渠。以備血流行。　太素經楊上善注曰。洫謂毛孔也。水逆流曰泝。謂邪氣也。邪氣入於腠理時。如水逆流於洫也。）</p>
<p>經隧急塞。機關僅支。（太素經曰。經隧者。五藏六府之大絡也。迎而奪之矣。注曰。大絡謂是五藏六府十五別走大絡。是十二經陰陽相通大道者也。隧。道也。太素經楊上善注曰。八虛者兩肘兩腋兩髀兩膕。此云處虛。故曰八虛。以其虛故真邪二氣留過。故為機關之室也。真過則機關動利。邪留則不得屈伸。）</p>
<p>入國問俗。拜廟貴師。（太素經曰。黃帝曰。順之奈何。岐伯曰。入國問俗。入家問諱。上堂問禮。臨病人問所便。　醫說曰。天聖中仁宗不豫。國醫進藥。久未效。或薦許希善用針者。召便治之。三針而疾愈。所謂興龍穴是也。仁宗大喜。遽命官之。賜予甚厚。希既謝上。復西北再拜。仁宗怪問之。希曰。臣師扁鵲廟所在也。仁宗嘉之。是時孔子之後。久失封爵。故顏太初作許希詩以諷之。於是詔訪孔子四十七代孫襲封文宣王。）</p>
<p>遊壽域遐。睹明堂基。（太素經曰。黃帝曰。人之壽百歲而死者何以致之。岐伯曰。使道隧以長。基牆高以方。注曰。鼻之明堂牆基。高大方正為壽。黃帝曰。其不能終壽而死者何如。岐伯曰。使道不長。空外以張。喘息暴疾。又卑基牆。注曰。鼻之明堂基牆卑下為夭。）</p>
<p>覓道崆峒。受術峨嵋。（醫說曰。黃帝有熊氏少典之子。姬姓也。役使百靈。可謂天授自然之體也。猶不能坐而得道。故以地黃元年正月甲子。將遊名山以求神仙。時方明力牧從焉。適崆峒而問廣成子。受以自然經。造峨嵋山。並會地黃君。受以真一經。）</p>
<p>隔垣徹視。立壇祝毗。（史記扁鵲傳曰。扁鵲姓秦氏。名越人。少時為人舍長舍客。長桑君過。扁鵲獨奇之。常謹遇之。長桑君亦知扁鵲非常人也。出入十餘年。乃呼扁鵲私坐間與語曰。我有禁方。年老欲傳與公。公毋泄。扁鵲曰。敬諾。乃出其懷中藥予扁鵲飲。是以上池之水。卅日當知物矣。乃悉取其禁方書盡與扁鵲。忽然不見。殆非人也。扁鵲以其言飲藥。卅日視見垣一方人。以此視病。盡見五藏癥結。　太平廣記曰。陳寨者。泉州晉江巫也。善禁祝之術。為人治疾多愈者。有漳州逆旅蘇猛。其子病狂。人莫能療。乃往請陳。陳至。蘇氏子見之。戟手大罵。寨曰。此疾入心矣。乃立壇於堂中。誡曰。無得竊視。至夜乃取蘇氏子劈為兩片。懸堂之東壁。其心懸北檐下。寨方在堂中作法。所懸之心。遂為犬食。寨求之不得。驚懼。乃持刀宛轉於地。出門而去。主人弗知。謂其作法耳。食頃。乃持心而入。內於病者之腹。被髮連叱其腹。遂合。蘇氏子既寤。）</p>
<p>獵絡野疏。渴穿井遲。（太平廣記云。許裔宗名醫若神。人謂之曰。何不著書以貽將來。裔宗曰。醫乃意也。在人思虛。又脈候幽玄。甚難別。意之所解。口莫能宣。古之名手。唯是別脈。脈既精別。然後識病。病之於藥。有正相當者。唯須用一時直攻。彼病即立可愈。今不能別脈。其識病源。以情意度。多安藥味。譬獵不知兔廣絡原野。冀一人獲之。術亦疏矣。脈之深趣。既不可言。故不能著述。　太素經曰。聖人不治已病治未病。不治已亂治未亂。夫病已成形而後藥之。亂成而後治之。譬猶渴而穿井。鬥而鑄兵。不已晚乎。）</p>
<p>惑近女室。禱謁靈祠。（醫說曰。醫和者。春秋時秦國人。晉侯有病。求醫於秦伯。伯使醫和視之。曰疾不可為也。是謂近女室疾蠱。非鬼非食。惑以志之。良臣將死。天命不祐。趙孟曰。良醫也。厚其禮而歸之。選奇方曰。昔文正公嘗謁靈祠。祝之曰。達則願為賢相。窮則願為良醫。公之濟世利物。蓋不以窮達異其心也。）</p>
<p>以草為眾。聚藥有諸。（本草釋曰。藥之眾者。莫過於草。故舉眾者而言之本草。）</p>
<p>炎皇先嚐。雷公後書。（炎皇。神農氏也。淮南子曰。神農始嘗百草之滋味。當此之時。一日而七十毒。世本曰。神農和藥濟人。則百藥自神農始也。　醫說曰。雷公者。黃帝時臣也。陶景本草序曰。軒轅以前。文字未傳。至如六爻指垂。畫像稼穡。即事成跡。至於藥性所主。當以識識相因。不爾者何由得聞。至桐雷乃著在篇簡。）</p>
<p>君臣配隸。佐使備儲。（新修本草曰。上藥一百廿種。為君。主養命以應天。無毒。久服不傷人。中藥一百廿種。為臣。主養性以應人。無毒有毒。下藥一百廿五種。為佐使。主療病以應地。多毒。）</p>
<p>根莖咸萃。花實豈除。（新修本草曰。上稟神規。下詢眾議。普頒天下。營求藥物。羽毛鱗介。無遠不臻。根莖花實。有名咸萃。）</p>
<p>喚召各答。勢力悉攄。（桐君錄曰。神農氏乃作赭鞭鉤𨨪。從六陰陽與太一。升五嶽四瀆土地所生草木石骨肉蟲皮毛。萬種千類。皆鞭問之。則檢其能主治。當其五溫冷。故甘草先被呼問。附子後見將岳。眾藥皆詣。各記所能。　本草抄義曰。桐君乘絳云之車。喚諸藥精。悉遣述其功能。因則附口錄之。呼為桐君藥錄。）</p>
<p>楸葉混梓。椿木紛樗。（證類本草曰。梓似桐而葉小花紫。　陸機曰。梓者楸之疏理白色而生子者為梓。梓實桐皮曰椅。大同而小別也。　椿和名津波幾令。案波之是也。證類本草曰。椿樗二木形。干大抵桐類。但椿木實而葉香可啖。樗木疏而氣臭。北人呼樗為山椿。江東人呼為鬼目。葉脫處有痕如眼目。最為無用。莊子所謂吾有大木。人謂之樗。其大本擁腫不中繩墨。小枝曲拳不中規矩。立於途。近者不顧是也。亦類漆。）</p>
<p>茵芋華細。躑躅苗殊。（茵芋和名於加津津之私。案問勢保是也。證類本草曰。茵芋莖葉。形如莽草而細軟。苗高三四尺。四月開細白花。五月結實。　躑躅和名伊波津津之。證類本草曰。三月採花。其苗樹生高三四尺。葉似桃葉。花黃似瓜花。夏開花似陵霄山石榴而正黃。今嶺南蜀道山谷遍生。皆深紅色如錦繡。或云此種不入藥用也。）</p>
<p>庭槐宵炕。籬槿夕枯。（證類本草曰。槐草晝聶宵炕。又云槐草晝合夜開者。別名守宮槐。聶合也。炕張也。槿和名阿佐加保私。案年久毛是也。）</p>
<p>禁癰移柳。聽音縛蒭。（醫說曰。南史曰。薛伯宗善徙癰。公孫秦患發背。伯宗為氣封之。徙置齋前柳樹上。明日而癰消。樹邊便起一瘤。如拳大。稍稍長。二十餘日。瘤大膿爛。出黃赤汁升余。樹為之痿損。　又曰。徐熙字秋夫。為射陽令。嘗有鬼呻吟。聲甚悽苦。秋夫問曰。汝是鬼也。何所須。鬼曰。我姓斛斯。家在東陽。患腰痛而死。雖為鬼。疼痛猶不可忍。聞君術。願見救濟。秋夫曰。汝是鬼無形。云何措治。鬼曰。君但縛蒭作人。按孔穴針之。秋夫如其言。為針四處。又針肩井三處。設祭而埋之。明日見一人來謝曰。蒙君療疾。復為設祭。除飢解疾。感惠實多。忽然不見。當代伏其通靈。）</p>
<p>走獻荔枝。攀插茱萸。（本草曰。荔枝味甘。益人顏色。生嶺南及巴中。樹高一二丈。草青陰。凌冬不調。形如松子大殼。朱若紅羅紋。肉青白若水精。甘美如蜜。四五月熟。又曰一日色變。二日味變。三日色味俱變。唐書楊貴妃傳曰。妃嗜荔枝。必欲生致之。乃置騎傳送。走數千里。味未變已至京師。　本草曰。吳茱萸味辛。葉似椿而闊厚。紫色。九月九日採實。　風土記曰。俗尚九月九日謂為上九。茱萸到此日氣烈色赤。可折其房以插頭。云辟惡氣御冬。）</p>
<p>桂貢湘州。蒟輸番禺。（本草曰。齊武帝時。湘州得桂樹以植芳林苑中。陶隱居雖是梁武帝時人。實生自宋孝武建元三年。歷齊為諸王侍讀。故得見此樹。　又曰。蒟醬味辛。蜀都賦所謂流味於番禺者。蔓生。葉似王瓜而厚大。昔漢武使唐蒙曉諭南越。南越食蒙以蒟醬。蒙問所從來。答曰。西北䍧牱。江廣數里。出番禺城下。武帝感之。於是開䍧牱越嶲也。）</p>
<p>菊灰灑蛙。藍汁煞蛛。（本草曰。周禮掌蟈氏云。蛙黽焚牡菊灰灑之則死。牡菊無花菊也。　又曰。昔張薦員外在劍南。為張延賞判官。忽被斑蜘蛛咬項上。一宿咬處有二道赤色。細如箸。繞項上。從胸下至心經。兩宿頭面腫疼。如數升碗大。肚漸腫。幾至不救。張相素重薦。因出家財五百千。並薦家財又數百千。募能療者。忽一人應召云。可治。張相初甚不信。欲驗其方。遂令目前合藥。其人云。不惜方。當療人性命耳。遂取大藍汁一磁碗。取蜘蛛投之藍汁。良久方出得汁中。甚困不能動。又別搗藍汁。加麝香末。更取蜘蛛投之。至汁而死。又更取藍汁麝香復加雄黃和之。更取一蜘蛛投汁中。隨化為水。張相及諸人甚異之。遂令點於咬處。兩日內悉平愈。）</p>
<p>鉤鵅攘城。車螯噴臺。（本草曰。鉤鵅入城城空。入宅宅空。怪鳥也。常在一處則無。若聞其聲如𦎦者。宜速去之。鳥似䲰有角。夜飛晝伏。　又曰。車螯是大蛤也。一名蜄。能吐氣為樓臺。河中春夏間依約島漵常有此氣。）</p>
<p>遺驅獺譽。遭啖蟛災。（醫說曰。宋人王纂。海陵人也。少習經方。尤精針石。近知其盛名。宋元嘉中。縣人張方女。日暮宿廣陵廟門下。夜有物假作其婿來。女因被魅惑而病。纂為治之。始下一針。有獺從女被內走出。病因而愈。　又曰。蔡謨。字道明。素以儒道自達。治蒞知名。性有道風。耽尚醫術。常覽本草經方。手不釋卷。及授揚州刺史。將之任。渡江食蟹。誤中彭蜞毒。殆死。嘆曰。讀爾雅不熟。為勸學所誤焉。）</p>
<p>發瘕化蠱。腹脹降蛔。（本草衍義曰。唐甄立言仕為太常丞。善醫術。有道人心腹懣煩。彌二歲。診曰。腹有蠱。誤食發而然。令餌雄黃一劑。少選吐一蛇如拇。無目。燒之有發氣。乃愈。　太平廣記曰。徐嗣伯。字德紹。精醫術。秣陵人張景年十五。腹脹面黃。眾醫不療。以問嗣伯。嗣伯曰。此石蛔耳。當以死人枕煮服之。依語煮枕以服之。得大利蛔蟲頭墜如石者五六升許。病即差。）</p>
<p>鵜鴣裹袋。鸚鵡酌杯。（本草曰。鵜鴣大如蒼鵝。頤下有皮袋。容二升物。展縮自由。袋中盛水以養魚。一名逃河。身是水沫。惟胸前有兩塊肉如拳。云昔為人竊肉。入河化為此鳥。今猶有肉。　又曰。甲香出南海。海蠡之掩也。凡蠡之類亦多。鸚鵡蠡形似鸚鵡。頭並堪酒杯者。）</p>
<p>奇雀出瞼。忌魚無鰓。（醫說曰。金州防禦使崔堯封。有親外甥李言吾者。左目上瞼忽癢。而生一小瘡。漸大長如鴨卵。其根如弦。恆壓其目。不能開。堯封每患之。他日飲之酒。令大醉。遂剖去之。言吾不知覺也。贅既破。中有黃雀鳴噪而去。　太平廣記曰。荊人道士王彥伯。天性善醫。尤別脈。斷人生死壽夭。百不差一。裴胄尚書有子忽暴中病。眾醫拱手。或說彥伯。遽迎使視之。候脈良久。曰都無疾。乃煮散數味入口而愈。裴問其狀。彥伯曰。中無鰓魚毒也。其子實因鱠得病。裴初不信。乃鱠鯉魚無鰓者。令左右食之。其病同。始大驚異焉。）</p>
<p>生香刳麝。姑獲取孩。（新修本草序例云。刳麝剸犀。驅泄邪惡。本草麝香條云。有生香夏麝食蛇蟲多。至寒則香滿。入春急痛。自以爪剔出之。落處遠近草木皆焦黃。此極難得。　又云。姑獲能收人魂魄。今人一云乳母鳥。言產婦死變化作之。能取人之子以為己子。胸前有兩乳。衣毛為鳥。脫衣為女。　明堂經楊上善注曰。小兒知笑曰孩。未笑之前曰嬰。故以小兒為孩。）</p>
<p>按龜訓業。放鹿感仁。（太素經曰。手毒者可使試按龜。置龜於器之下。而按其上。五十日而死矣。甘手者復生如故。注云。毒手按器而龜可死。甘手按之而龜可生。但可適能而用之。不可知其所以然也。　醫說曰。玄俗者。莫知其姓字也。自言河間人。恆食巴豆雲母。賣藥于都市。為人治病。河間王買藥服之。下蛇十餘頭。王問其病源。俗云。王病乃六世餘殃。非王所知也。緣王常放乳鹿。仁感天心。故遭俗爾。王欲以女妻之。俗夜去。不知所之。）</p>
<p>乘駮延齡。鞭羊養身。（病源論曰。封君達乘青牛。魯女生乘駮牛。孟子綽乘駮馬。尹公度乘青騾。駮牛馬上。青牛次之。駮馬又次也。三色者順生之氣也。故云青牛者。乃柏木之精。駮牛者。古之神宗之先。駮馬者。乃神龍之祖也。道士乘此以行於路。萬物之惡精。疫氣之厲鬼。長揖之。　莊子曰。善養生者。若牧羊者然。視其後者而鞭之。魯有單豹者。巖居而水飲。不與民共利。行年七十。而猶有嬰兒之色。不幸遇餓虎。餓虎煞而食之。有張毅者。高門懸薄。無不趨也。行年四十而有內熱之病。以死豹養其內。而虎食其外。毅養其外。而病攻其內。此二子者。皆不鞭其後者也。鞭其後者。去其不及也。）</p>
<p>遇犀濯角。活鴆戮鱗。（太平廣記曰。鴆鳥食之處。即有犀牛。犀牛不濯角。其水物食之必死。）</p>
<p>蛇毒累年。狐疝待晨。（太平廣記曰。郎中顏燧者。家有一女。常覺心肝有物唼食。痛苦不可忍。累年後瘦瘁皮骨相連。脛如枯木。偶聞有善醫者。於市中聚眾甚多。著療此病。顏試召之。醫生見曰。此是蛇蠱也。立可出之。於是先令熾炭一二十斤。然後以藥餌之。良久醫工秉小鈐子於傍。於時覺咽喉間有物動者。死而復甦。小頃令開口。鈐出一蛇子。長五七寸。急投於熾炭中燔之。蟠蜿屈曲。移時而成燼。其臭氣徹於親鄰。自是疾平。永無齧心之苦耳。　太素經楊上善注曰。小腹痛。大小便難曰疝。疝有多種。此為狐疝。謂狐夜時不得小便。小腹處痛。日出方得。人亦如此。因名狐疝。）</p>
<p>鰻黎絕瘦。鰗鮧成嗔。（太平廣記曰。瓜村有漁人妻。得勞瘦疾。轉相染著。死者數人。或云取病者生釘棺中棄之。其病可絕。頃已其女病。即生釘棺中。流之於江。至金山。有漁人見而異之。引之至岸。開視之。見子猶活。因取置漁舍。多得鰻黎魚以食之。久之病愈。遂為漁人之妻。今尚無恙。（證類本草同之）　本草曰。鶘鮧魚以物觸之即嗔。腹如氣球。腹白。背有赤道如印。）</p>
<p>鮎口小青。貍氣馨勻。（鮎奴兼反。和名阿由今。案奈摩津是也。　郭知玄雲。青黃色。無鱗。大口尾薄。孫愐云。無鱗而滑。　本草曰。鮧魚即鯷也。又曰。鮧魚一名鮎魚。一名鯷魚。有三種。口腹俱大者名鱯。背青而口小者名鮎。口小背黃腹白者名鮠。一名河肫。又云大首方口。背青黑。多涎也。　貍和名多多毛。今按稱古是也。帝範曰。捕鼠之貍。不可令之摶獸。　本草曰。貍一名貓也。南方有一種香貍。人以作鱠。甚香。微有麝氣。）</p>
<p>學醫謂孝。療父報恩。（外臺秘要方曰。齊梁之間。不明醫術者。不得為孝子。　產育保慶方曰。古人謂為人子而不學醫者。為不孝。則有方論而不傳於世者。其可謂之仁哉。　晉書曰。殷仲堪。陳郡人。父病積年。衣不解帶。躬學醫方。究其精妙。）</p>
<p>求仙服術。宜男佩萱。（本草曰。求草者山之精也。結陰陽之精氣。服之令人長生。絕谷。致神仙。　抱朴子內篇曰。南陽文氏值亂。逃壺山中。飢欲死。有一人教之食術。遂不飢。數十年乃還鄉里。顏色更少。氣力轉勝。　又曰。萱草一名鹿蔥。花名宜男。　風土記曰。懷妊婦人。佩其花生男也。）</p>
<p>恨忘卻老。諫打曾孫。（大清經曰。昔有一人。因使向西道行。會一小婦打一老公。年八九十歲許。使者怪而問之。婦人對曰。此是我兒之曾孫。而家有良藥。吾敕遣服之。而不肯服。老病年至。不能行來。故打令服藥耳。使者下車長跑而問云。婦人年幾何。婦人對曰。吾年三百七十三歲。使者可得知不。婦人曰。此藥一種有四名。像於四時。春名天精。夏名枸杞。秋名卻老。冬名地骨。）</p>
<p>難治群僚。況亦至尊。（醫說曰。黃帝燕坐。召雷公而問曰。子知醫之道乎。雷公曰。誦而頗能解。解而未能別。別而未能明。明而未能彰。足以治群僚。不足以治侯王。）</p>
<p>罔訊他咎。莫信巫言。（千金方曰。夫為醫之法。不得多語調笑。談謔誼譁。道說是非。議論人物。炫耀聲名。訾毀諸醫。自矜己德。偶然治差一病。即昂頭戴面。而有自許之貌。謂天下無雙。此醫人之膏肓也。　新修本草曰。倉公有言曰。病不肯服藥。一死也。信巫不信醫。二死也。）</p>
<p>佛來腫瘳。巧解意存。（太平廣記曰。有範光祿者。得病腹腳並腫。不能飲食。忽有一人不自通名。徑入齋中。坐於光祿之側。光祿謂曰。先不識君。那得見詣。答云。佛使我來理君病也。光祿遂發衣示之。因以刀針腫上。倏忽之間。頓針兩腳及膀胱百餘下。出膿水三升許而去。至明並無針傷。而患漸愈。　後漢書郭玉傳云。玉云。醫之為言意也。湊理至微。隨氣用巧。針石之間。毫芒即乖。神存於心手之際。可得解而不可得言也。）</p>
<p>射利鬼惡。段氏命殫。（本事方曰。古人以此救人。故天畀其道。使普惠含靈。後人以此射利。故天嗇其術。而不輕畀。　醫說曰。宜與段承務。醫術精高。然貪顧財賄。非大勢力者不能屈致。瞿忠惠公居常熟。欲見之不可。諉平江守梁尚書邀之。始來。既回平江。適一富人病來謁醫。段曰。此病不過湯藥數劑可療。然非五百千為謝不可。其家始許半酬。拂衣去。竟從其請。別奉銀五十兩為藥資。段求益至百兩。乃出藥為治。數日愈。所獲西歸。中途夜夢一朱衣曰。上帝以爾為醫而厚取賄賂。殊無濟物之心。命杖脊二十。遂敕左右捽而鞭之。既寤。覺脊痛。呼僕視之。捶痕宛然。還家未幾而死。）</p>
<p>救物神祐。許叔名殘。（千金方曰。老子曰。人行陽德。人自報之。人行陰德。鬼神報之。所以醫人不得恃己所長。專心經略財物。但作救苦之心。於冥道中自感多福耳。　醫說曰。許叔微少嘗以登科為禱。一夕夢神告曰。汝欲登科。須憑陰德。叔微自念家貧無力。惟醫乃可。於是精意方書。久乃通妙。人無高下。皆急赴之。既而所活愈多。聲名益著。復夢其神受以一詩曰。藥有陰功。陳樓間處。堂上呼盧。喝六作五。是年登第六名進士第。上一名陳祖言。下一名樓材。及注門用升甲思如第五名授職官以歸。與詩中之言。無一字差。此則濟人之病急者也。）</p>
<p>將軍靡謀。士卒弗安。（五行大義曰。肝者為將軍之官。謀慮出者。本性仁。仁者必能深思遠慮。恆欲利安萬物。將軍為行兵之主。必以謀慮為先。故兵書曰。兵以仁舉。則無從得之。以仁分別無不悅。　又曰。將無謀則士卒憂。將無慮則士卒去。故肝為將軍出謀慮也。）</p>
<p>郡守催怒。岩隱贈官。（華佗傳曰。有一郡守篤病久。佗以為盛怒則差。乃多受其貨而不加功。無何棄去。又留書罵之。太守果大怒。令人追殺佗。不及。因䐜恚。吐黑血數升而愈。　本草新注曰。草陽陶隱居。齊孝武帝永明十一年壬申歲卅有六。脫朝服掛神虎門。去棲中第山岩嶺。　太平廣記曰。梁大同二年。丙辰歲三月十二日告化。時八十一。顏色不變。屈伸如常。屋中香氣。積日不散。唐天寶元年追贈金紫光祿大夫。）</p>
<p>曹吏誤針。勇者衝冠。（三國志曰。督郵徐毅得病。華佗往省之。毅謂佗曰。昨使醫曹吏劉祖針胃管訖。便苦咳嗽。欲臥不安。佗曰。刺不得胃管。誤中肝也。食當日減。五日不救如佗言。　太素經曰。勇士怒則氣盛而胸張。肝舉而膽橫。眥裂而目揚。毛起而面蒼。注曰。髮上衝冠。則毛起之驗也。肝氣盛面。故怒色之氣青。）</p>
<p>寡婦異想。姝妙慎看。（新修本草曰。褚澄療寡婦尼僧異乎妻妾。此是其性懷之所致也。　新注曰。寡婦雖無房室之勞。有思想之志。用藥與妻妾有異也。尼僧循心法道。定意歸禪。則無思慮色欲之事。精神內守。所用藥不得與俗人同也。　千金方曰。凡見姝妙美女。慎勿熟視而愛之。此當是魑魅之物。勿令人深愛也。無問空山曠野。稠人廣眾。皆亦如之。）</p>
<p>心肺高處。肝膽附連。（存真圖曰。肺為諸藏之上。蓋藏真高於肺。又曰。心為身之君。以肺為上蓋。故心在肺下。　太素經曰。鬲肓之上。中有父母。注曰。心為陽父也。肺為陰母也。故曰高處也。　明堂經曰。肝合膽。肝之府也。膽在肝葉門下。重三兩三銖。故三附連也。）</p>
<p>脾味傍灌。腎妝雙懸。（太素經曰。脾藏五味出矣。注曰。脾成五味。資彼五藏以奉生身也。　又曰。脾者土也。孤藏以灌四傍者也。注曰。孤尊獨也。五行之中。土獨為尊。以王四季。脾為土也。其味甘淡。為酸苦辛鹹味液滋灌四傍之藏。　太素經楊上善注曰。人腎有二。左者為腎。右者為命門。命門者。精之所舍也。）</p>
<p>呼吸暢喉。飲食通咽。（明堂經楊上善注曰。喉通氣之路也。存真圖曰。喉嚨喘息之道。其中空長。可以通氣。　明堂經楊上善注曰。咽者通飲食也。八十一難經曰。咽門至胃長一尺六寸。為胃之系也。）</p>
<p>胃大圍納。腸長繞傳。（明堂經曰。胃者五穀之府。長二尺六寸。大一尺五寸。徑五寸。橫屈。受三斗。難經楊玄操曰。胃者圍也。圍受食物也。　腸者大腸小腸也。　明堂經曰。小腸長三丈二尺。受一斗三合。合之大半。太素經楊上善注曰。小腸從胃受水穀已傳與大腸。即化物出。明堂經曰。大腸回運環反十六曲。長二丈一尺。受一斗七升。升之半。太素經曰。大腸者傳道之官也。注曰。大腸受小腸糟粕。胃中若實。傳其糟粕令下。去故納新。）</p>
<p>膀胱橫廣。津液斂圓。（明堂經曰。膀胱腎之府也。津液之府也。盛溺九升九合。八十一難經楊玄操曰。膀橫也。胱廣也。言其體短而橫廣。）</p>
<p>顳顬響顄。臂臑寄肩。（明堂經曰。腦孔穴一名顳顬。注曰。頂骨相接之處。每鼓頷則顳顬。然而動故以為名。　又曰。臂臑穴在肘上七寸。注曰。肩下肘上。䐃肉高處。謂之臑也。䐃肉在臂。故曰臂臑。）</p>
<p>頏顙朗達。怫愾克調。（太素經曰。喉嚨上孔名曰頏顙。注曰。頏顙懸雍邊雙孔通鼻者。是氣之上下二鼻孔中此分也。又曰。怫愾。氣盛滿貌也。）</p>
<p>臟傷七情。血泄三膲。（三因方曰。喜怒憂思悲恐驚。謂之七氣。又謂七情。喜傷心。怒傷肝。憂傷肺。思傷脾。悲傷心包。恐傷腎。驚傷膽。　太素經曰。何謂血。岐伯曰。中膲受血於汁。變化赤是謂血。注曰。五穀精汁。在於中膲。注手太陰脈中。變赤循脈而行。以奉生身。）</p>
<p>耳目誰察。聲色孰昭。（千金方曰。五藏六府之盈虛。血脈營衛之通塞。固非耳目之所察。必診脈以審之。　又曰。上醫聽聲。中醫察色。下醫診脈。八十一難經曰。望而知之者謂之神。聞而知之者謂之聖。望而知之者。望見其五色以知其病。聞而知之者。聞其五音以別其病。）</p>
<p>怠皮膚微。及骨髓夭。（扁鵲傳曰。扁鵲過齊。初見桓侯曰。君有疾。公不應。又見之。曰君有病。乃可治之。公曰。欲治無病之人。以求其功。後又見公。越人便走。數日病發。召越人。越人曰。初見君病在皮膚。針灸所及。再見君病在血脈。湯藥所及。今見君病入骨髓。司命亦無所奈何。　新修本草曰。桓侯怠皮膚之微。致骨髓之痼。）</p>
<p>折肱致功。截捐匪要。（新修本草曰。醫不三代。不服其藥。九折臂乃成良醫。　聖惠方曰。有疽生於指上。療者於後節截去之。傳曰。盧淳有截指之效。靜而思之。非良法也。何者。夫療癰疽。未精辨識。一概施之。施之以針艾。用之鈹割。為毒則劇。保效誠難。劉涓盧扁之流。雖擅名於前。審理趣亦未得全通也。）</p>
<p>拔刃腦開。投槍症銷。（太平廣記曰。江淮州郡。火令最嚴。犯者無赦。蓋多竹屋。或不慎之。動則千百問立成煨燼。高駢鎮淮揚之歲。有術士之家。延火燒數千戶。主者錄之。即付於法。臨刃謂監刑者曰。某之愆尤。一死何以塞責。然某有薄技。可以傳授一人。俾其救濟後人。死無所恨矣。時駢延待方術之士。恆如飢渴。監刑者即緩之。馳白於駢。駢召入親問之。曰某無他術。唯善醫大風。駢曰。何以核之。對曰。但於福田院選一最劇者可以試之。遂如言。乃置患者於療室中。飲以乳香酒數升。則懵然無知。以利刃開其腦縫。挑出蟲可盈掬。長僅二寸。然以膏藥封其瘡。別與藥服之。而更節其飲食動息之候。旬余瘡盡愈。才一月。眉鬢已生。肌肉光浮。如不患者。駢禮術士為上客。又曰。後漢末有人得心腹瘕病。晝夜切痛。臨終敕其子曰。吾氣絕後可割視之。其子不忍違言。剖之得一銅槍。容若合許。後華佗聞其病而解之。因出巾箱中藥以投槍。槍即成酒焉。）</p>
<p>十全欲施。八能叵包。（八十一難經曰。上工者十全九。中工者十全八。下工者十全六。周禮云。十全為上。十失一次之。十失二次之。十失三次之。十失四為下。　太素經曰。雷公問黃帝曰。針論曰。得其人乃傳。非其人勿言。何以知其可傳。黃帝曰。各得其人。任之其能。故能明其事。第一明人。第二聰聽人。第三智辨人。第四靜慧人。第五調柔人。第六口苦人。第七毒手人。第八甘手人。謂之八能。）</p>
<p>阿是用灸。試驗勿嘲。（千金方曰。吳蜀多行灸法。有阿是之法。言人有病痛。即令捏其上。若里當其處。不問孔穴。即得便快。成痛處即云阿是。皆驗。　新修本草曰。或田舍試驗之法。殊域異識之術。如藕皮散血。起自庖人。牽牛逐水。近出野老。麵店蒜虀。乃下蛇之藥。路邊地菘。為金瘡所秘。）</p>
<p>富謹持滿。飽誡接交。（太素經楊上善注曰。夫滿者易傾。今富而溢貴而驕者。不知持滿。養生要集云。交接尤禁醉飽。大忌也。損人百倍。又曰。已飽勿房。已房勿飽。又曰。夜飽滿不泄精。令人成百病。）</p>
<p>起居適度。愛憎可拋。（太素經曰。起居有度。注曰。男女勞逸。進退動靜。皆依度數。素問曰。春三月夜臥早起。夏三月夜臥早起。勿厭於日。秋三月早臥早起。與雞俱興。冬三月早臥晚起。必待日光。　千金方云。凡心有所愛。不用深愛。心有所憎。不用深憎。並皆損性傷神。亦不用深贊。亦不用深毀。常須運心於物平等。如覺偏頗。尋以正之。）</p>
<p>好其真散。醉厥性淆。（太素經曰。以好散其真。注曰。情有所好。必忘善惡。人真善惡之真善惡莫定。即真知散。又曰。醉酒者神昏性濁。經絡皆盛。腠理皆開。）</p>
<p>憤憂消酒。儉嗇進餚。〔搜神記曰。漢武帝遊於函谷關。有物當道。身長數丈。其狀像牛。青眼而曜。有泣聲。數千人許也。帝大懼。問於東朔。東朔曰。嘗秦與趙相戰於此地也。秦將白起。欺坑趙軍四十餘萬也。此其靈也。夫消憤憂者能酒耳。願以（此處有缺文）表其處。饒足海陸。鮭餚無所不備。土俗多疾。而人早夭。〕</p>
<p>盛衰早變。懈惰奚逃。（太素經曰。丈夫年八歲。腎氣實。髮長齒更。二八賢氣盛。天癸至。精氣溢。瀉陰陽和。故能有子。三八腎氣平均。筋骨勁強。故真牙生而長極。四八筋骨隆盛。肌肉滿。五八腎氣衰。發惰齒槁。六八陽氣衰於上。面燋鬢髮斑白。七八肝氣衰。筋不能動。天癸竭。精少。腎氣衰。形體皆極。八八則齒髮去。腎者生水。受五藏六府之精而藏之。故五藏盛乃寫。今五藏皆衰。筋骨懈惰。天癸盡矣。）</p>
<p>洗浴包損。博奕眼勞。（千金方曰。新汗解勿冷水洗浴。損心包。今案入風呂浴冷水。殊可有其禁者也。　又曰。人年四十已去常。須瞑目勿顧他視。非有要事。不宜輒開。其讀書博奕等過度患目者。名曰肝勞。若欲治之。非三年閉目不視。不可得差。）</p>
<p>知喜勝悲。恐邪容膏。（太素經曰。肺在志為憂。憂傷肺。喜勝悲。注曰。心喜為火。故喜勝憂悲也。　醫說曰。晉悼公病。求醫於秦伯。伯使醫緩治之。未至。公夢二豎子相謂曰。彼良醫也。懼傷我焉。將逃之。其一曰。我居肓之上。汝居膏之下。若我何。緩至。謂公曰。疾不可為也。在肓之上。膏之下。攻之不可。達之不及。藥不至焉。不可為也。公曰良醫也。專禮而歸之。）</p>
<p>寸尺尚幽。吉凶爰韜。（八十一難經曰。尺寸者。脈之大要會也。從關至尺。是尺內陰之所治也。從關至魚際。是寸口內陽之所治也。故分寸為尺。分尺為寸。故陰得尺內一寸。陽得尺內九分。尺寸始終一寸九分。故曰尺寸也。　又云。獨取寸口。以決五藏六府死生吉凶之法。）</p>
<p>澀伏濡弱。促結代牢。（脈經曰。微沉緩澀。遲伏濡弱。謂之八里。八里者陰也。澀者在皮毛。輕手乃得。重手不得。按之數浮。如刀削刮竹皮曰澀。伏者按之至骨乃得。舉之全無曰伏。濡者在皮肉上。按之盡牢。氣之有餘曰濡。弱者在皮毛。按之則無。舉之似有來去曰弱。　又曰。長短虛促結代牢動細謂之九道。促者在筋肉。按之極數。時止又來。在寸口曰促。結者在皮。按之小數。中有能還。舉之即動曰結。代者在筋肉。按之動而不來。須臾而復又動曰代。若老者與羸瘦人。得之則生。少者得之即死。牢在皮毛。舉之則有。按之即無曰牢。）</p>
<p>緊與弦迷。滑兼數諂。（脈經曰。緊與弦相類。滑與數相類。其形同而難分。故曰迷諂也。）</p>
<p>厭聞琴瑟。何耽綺羅。（千金方曰。到病家縱綺羅滿目。勿左右顧眄。絲竹奏耳。無得似有所娛。）</p>
<p>植珊瑚玩。留葫蘆過。（本草曰。漢積翠池中有珊瑚。高一丈二尺。一本三柯。上有四百六十三條。云是南越王趙佗所獻。夜有光影。晉石崇家有珊瑚高六七尺。今並不聞有此高大者。　太平御覽曰。徐熙好黃老。隱於秦望山。有道士過。求飲。留一葫蘆與之。曰君子孫宜以道術救世。當得二千石。熙開之。乃扁鵲鏡經一卷。因精心學之。遂名震海內。生子秋夫。殊工其術。仕至射陽令。）</p>
<p>負鏡避疫。蓋巾蠲疴。（醫說曰。負鏡先生吳人也。莫知其姓名。負石磨鏡。人有疾苦。即出紫丸赤丸與服。無不差。後大疫。家至戶到。與藥活數萬餘人。不取錢去。　太平廣記曰。董奉還豫章廬山下居。有一人少有癘疾。垂死。載以詣奉。叩頭哀之。奉使病人坐一房中。以五重布巾蓋之。使勿動。病者去。初聞一物來舐身。痛不可忍。無處不匝。量此舌廣一尺許。氣息如牛。不知何物也。良久物去。奉乃往除巾。以水浴之。遣去。告云。不久當愈。且勿當風。十數日。病者身赤無皮。甚痛。得水浴。痛即止。數日皮生即愈。身如凝脂也。）</p>
<p>怪石鑑疾。練丹多訛。（醫說曰。怪石鏡在日南國之西南。有石鏡方數百里。光明瑩徹。可鑑五藏六府。亦名仙人鏡。國人若有疾。輒照其形。遂知病起其藏。採藥餌之。無不差者。又曰從舅吳巡檢病。不得前溲。臥則微通。立則不能涓滴。醫遍用通小腸藥。窮技巧弗驗。唐與正因其侄孫大用來。問吳常日服何藥。曰。叔祖常服黑錫丹。問何人結砂。曰自為之。唐灑然悟曰。是必結砂時鈆不死。硫黃飛去。鈆砂入膀胱。臥則偏重猶可溲。立則正塞水道。以故不能通。令取金液丹三百粒。分為十服。煎瞿麥湯下之。膀胱得硫黃。積鈆成灰。從水道下。猶累累如細砂。病遂愈。葛之消酒。硫黃之化鈆。皆載經方。苟不知病源。而以古方從事。未見其可也。）</p>
<p>積油焚寶。戴笠衣蓑。（本草曰。博物志云。積油滿百石則生火。武帝太始中。武庫火災。積油所致。抄叢曰。累世之寶。漢高斬蛇劍。王莽頭。孔子履等盡焚焉。　太平廣記曰。大曆初。鍾陵客崔希真家於郡西。善鼓琴。工繪事。好修養之術。二年十月初朔。夜大雪。希真晨出門。見一老人衣蓑戴笠。避雪於門下。崔異之。請入。去蓑笠。見神色毛骨非常人也。益敬之。問曰。家有大麥面。聊以充飯。又能食乎。老父曰。大麥受四時氣。谷之善者也。能沃以豉汁則彌佳。崔因命家人具之。間又獻松花酒。老父曰。花澀無味。野人有物。能令其醇美。乃於懷中取一丸藥。色黃而堅。老人以石扣之。置於酒中。則頓甘美矣。仍以數丸遺希真。請問。老父笑而不答。崔入宅於窗窺之。見其老父於幃幄前所畫素上如有所圖。瞬息而罷。崔少頃饌具。獻而受之而食。崔又入其內。出已去矣。此老父是葛洪第三子也。）</p>
<p>鉛錫未辨。鍉䤵所磨。（新修本草曰。鉛錫莫辨。橙柏不分。蘇敬注曰。丹白二粉。俱炒錫作。今經稱鉛丹。陶隱居曰熬鈆。俱誤矣。　太素經曰。九針。一鑱針。二員針。三鍉針。四鋒針。五䤵針。六員利針。七毫針。八長針。九大針也。鍉針主人大其身而員其末。䤵針主五音也。必令末如劍鋒。可以取大膿。）</p>
<p>枕峙琥珀。銅鑄鏌鎁。（本草曰。琥珀如松脂。千年為茯苓。又千年為琥珀。又千年為瑿。又曰。琥珀止血生肌。漢書曰。出罽賓國。初如桃膠乃成。時寧州貢琥珀枕。碎以賜軍士傅金瘡。　太平廣記曰。梁陶貞白所著大清經。一名劍經。凡學道術者。醫須有好劍隨身。又說。干將鏌耶劍。皆以銅鑄。非鐵也。）</p>
<p>塗劍鸊鷉。軟玉蝦蟆。（本草曰。鸊鷉膏主刀劍令不鏽。以膏塗之。水鳥也。如鳩鴨。腳連尾。不能陸行。常在水中。人至即沉。或擊之便起。　又曰。蝦蟆肪塗玉。則刻之如蠟。但肪不可多得。取肥者銼煎膏以塗玉。亦軟滑易截。古玉器有奇特。非雕琢人功者。多是昆吾刀及蝦蟆膏所刻也。）</p>
<p>泰山鍾乳。蜀江金牙。（本草曰。石鐘乳生少室山谷。及泰山。生嵓穴陰處。溜山液而成。空中相通。長者六七寸。如鵝翎管狀。碎之如爪甲。　又曰。金牙生蜀郡。如粗金。大小如棋子而方。在蜀漢江岸石間打出者。內即金色。岸擢入水年久者多黑。）</p>
<p>昆池捧函。蒙園煎茶。（玉函方序曰。開元中。余始居終南山。一日會有一老人來詣余乞救一族之命。余詰之曰。爾何人。而問余求活族之請。復誰人教爾來告余也。老人曰。某本昆明池龍也。今為天旱。有胡僧奏國家言能降甘雨。聖上然之。遂允其請。令僧於池側致壇作法。其僧實能持幻咒。涸池水。某恐一族見禍。今特來啟告也。余答曰。吾能救汝之難。然汝須將池中所有玉函方來。則汝之池水無慮矣。老人曰。某池中他物悉以奉上先生可也。然其方是陶真人所賜。令鎮此池中。戒誓甚嚴。恐違天戒。余又謂之曰。若令余得此方。用教生聚。其功極大。豈以為惜。勿以違戒為辭。老人諾許。遂謂之曰。汝但返池水已泛矣。詣旦。老人果以玉函捧方來獻。余得之。不敢隱匿。乃悉別為上中下三卷。呈諸同志。用救生靈。故敘事引於卷首爾。　本草曰。茶譜云。蒙山有五頂。頂有茶園。其中頂曰上清峰。昔有僧人病冷且久。遇一老父謂曰。蒙之中頂茶。當以春分之先後多構人力。俟雷之發聲。並手採摘。三日而止。若獲一兩。以本處水煎服。即能祛宿疾。二兩當眼前無疾。三兩固以換骨。四兩即為地仙矣。其僧如說。獲一兩餘。服未盡而病差。）</p>
<p>刀飛吳都。朱稱越砂。（太平廣記曰。梁陶貞白所著大清經。一名劍經。凡學道術者。皆須有好劍鏡隨身。貞白隱居吳都山中。常蓄二刀。一名善勝。一名寶勝。往往飛去。人望之如二條青蛇。　本草曰。丹砂作末。名真朱。仙經亦用越砂。即出廣州臨漳者。此二處並好。惟須光明瑩徹為佳。）</p>
<p>掛弓趙宅。擊鼓陳家。（醫說曰。何解元。陳留人也。一日會飲於趙修武宅。酒至數杯。忽見盞底有似一小蛇咽入口。亦不覺有物。但每思而疑之。日久覺心疼。自思小蛇長大。食其五藏。明年又因舊會趙宅。恰才執杯。又見小蛇。乃放下盞細看時。趙宅屋梁上掛一張弓。卻是弓梢影在盞中。因此解疑。其心疾遂無。乃是致疑而成病也。　又曰。陳子直主簿妻有暴疾。每腹脹。則腹中有聲如擊鼓。遠聞於外。行人過門者。皆疑其家作樂。腹脹消。則鼓聲亦止。一月一作。經十餘醫。皆莫能名其疾。）</p>
<p>建一合北。俱二巡南。（五行大義曰。天以一生水於北方。火雖陽物。義從陰配合。陰始故從始立義。故火數二也。）</p>
<p>壬癸水咸。戊己土甘。（明堂經曰。腎其時冬。其味鹹。其日壬癸。又曰。脾藏其時長夏。其味甘。其日戊己。）</p>
<p>表裡診候。前後詳探。（脈經曰。浮芤滑實弦緊洪。謂之七表。微沉緩澀遲伏濡弱。謂之八里。八十一難經曰。診脈於掌後。約文密排三指。頭指半指之前為寸。外陽中之陽。半指之後為寸。內陽中之陰。第二指半指之前為關。上半指後關下陰。第三指半指之前為尺外陽。半指之後為尺內陰。）</p>
<p>補瀉內討。權衡外諳。（八十一難經曰。虛者補之。實者瀉之。不虛不實。　太素經曰。權衡藏府。陰陽二脈也。）</p>
<p>整息午畢。頤志中譚。（道家養身服氣法。平旦端坐。嗽口一百廿過。使口清唾如白玉之色。舉舌而上。鼻中納取清氣。口中吐出濁氣。如是一百廿過即停。向王時作法。從卯至午名曰王時服氣之法。）</p>
<p>砭從東始。穴對丙涵。（太素經曰。東方之域。魚鹽之地。其民食魚而嗜咸。魚者使人熱中。鹽者勝血。故其民皆黑色疏理。故其病皆為癰瘍。其治宜砭石。故砭石者。從東方來。　醫說曰。砭石以石為針也。山海經曰。高武之山。有石如玉。可以為針。則砭石也。　本草曰。嘉魚食之。令人肥健悅懌。此乳穴中小魚。又曰。吳都賦曰。嘉魚出於丙穴。李善注曰。丙日出穴。今則不然。丙者向陽穴也。陽穴多生此魚。何能擇丙日耶。此注誤矣。抱朴子曰。鶴知夜半。燕知戊己。豈魚不知丙日也。）</p>
<p>首圓應上。肉暖司央。（太素經曰。天圓地方。人頭圓足方以應之。　病源論曰。脾主土。土暖如人肉。）</p>
<p>綴乾紐聖。正坤維良。（新修本草序曰。我大唐之王天下也。承秦漢澆漓之後。周隋塗炭之際。綴乾紐於已墜。正坤維於將覆。）</p>
<p>辰巳繁榮。戌亥收藏。（新修本草曰。上藥一百廿種為君。以應天。當謂寅卯辰巳之月。法萬物生榮時也。下藥一百廿五種為佐使。以應地。當謂戌亥子醜之月。法萬物枯藏時也。今案三月辰。四月巳。萬物榮。故言繁榮也。八月戌。九月亥。萬物漸枯藏。故戌亥月謂之收藏也。）</p>
<p>坎玄主冀。兌昊當梁。（太素經曰。天有九州。人有九竅。素問注曰。九州謂冀兗青徐揚荊豫梁雍也。五行大義曰。北玄天數一對坎宮冀州。西昊天數四對兌宮粱州。）</p>
<p>順得舌標。閒悟毫芒。（太素經曰。病有標本。刺有逆順。注曰。本者。根本也。標者。枝末也。十二經脈。悉有標本。其本皆在手足四支。其標皆在頭背舌掖下。此標本二處。攝病在中。此病陰陽前後。以在標本。故問刺之逆順之法者也。　千金翼方曰。夫醫道之為言。實惟意也。固以神存心手之際。意折毫芒之裡。其情之所得。口不能言。）</p>
<p>庚辛西白。甲乙震蒼。（明堂經曰。肺藏其色白。其時秋。其日庚辛。又曰。肝藏其色青。其時春。其日甲乙。）</p>
<p>見頂萬福。騰軌彭鏗。（太平廣記曰。柳芳為郎中子登疾。時名醫張萬福初除四州。與芳故舊。芳賀之。具言子病。惟恃故人一顧也。張詰旦候芳。芳遽引視登。遙見頂曰。有此頂骨何憂也。因診脈五六息。復曰不錯。壽且逾八十。乃留方數十字。謂登曰。不服此亦得。後登為庶子。年至九十。　新修本草曰。岐和彭緩。騰絕軌於前。今按岐伯醫和彭祖和緩也。鏗彭祖名也。）</p>
<p>漢武痟暍。法程瞽盲。（泊宅編曰。漢武帝病消渴。長沙太守張仲景處八味丸進。方合餌之愈。　醫說曰。溫州醫僧法程。字無枉。少瞽。百端治之不愈。但晝夜誦觀世音菩薩名號。如是十五年。夢中聞菩薩呼之使前。若有物縶其足。不可動。菩薩嘆曰。汝前世為灸師。誤灸損人眼。今生當受此報。難以免。但吾憐汝誠心。當使汝衣食豐足。遂探懷中掬寶珠滿手與之。既寤。醫道大行。衣缽甚富。至七十餘猶在。）</p>
<p>元忠驃騎。之才蛤精。（北齊書曰。李元忠驃騎大將軍。兼中書令。晉陽縣伯趙郡檯仁人也。初以母老多患。遂通集方術。志性仁恕。疾病療之。無問貴賤。　太平廣記曰。北齊右僕射徐之才。善醫術。時有人患腳跟腫痛。諸醫莫能識之。窺之曰。蛤精疾也。得之當由乘船入海。垂腳米中。疾者曰。實曾如此。為割之。得蛤子二個。如榆莢。）</p>
<p>謝瞻枇杷。葛亮蕪菁。（本草曰。謝瞻枇杷賦云。稟金秋之青條。抱東陽之和氣。肇寒葩之結霜。成炎果乎纖露。是也。　又曰。嘉話錄云。諸葛亮所止。令兵士獨種蔓菁者。取其才出甲可生啖。一也。葉舒可煮食。二也。久居則隨以滋長。三也。棄不令惜。四也。回則易尋而採之。五也。冬有根可劚食。六也。三蜀江陵之人。今呼為諸葛菜是也。）</p>
<p>究習甄弟。皆善謇兄。（醫說曰。立言。甄權之弟也。俱以母病專心習醫道。遂盡其妙。御史大夫杜淹患風毒發腫。太宗令立言治之。既而奏曰。更二十一日午時死。果如其言。　本草曰。唐書云。甄立言究習方書。　醫說曰。徐謇字成伯。丹陽人也。與兄文伯皆善醫。謇性秘忌。承奉不得意。雖貴如王公。不為措療。魏孝文遷洛。除中散大夫。文伯事南齊。位至太山蘭陵太守。）</p>
<p>晉懷奔迸。秦政燔坑。（新修本草曰。晉懷奔迸。文籍焚靡。千不遺一。　又曰。秦政煨燔。此經不預。）</p>
<p>劉憑餌鱖。陶景畫牛。（本草曰。鱖音桂。大口細鱗斑彩。主腹內惡血。益氣力。昔仙人劉憑常食石桂魚。今此魚猶有桂名。恐是此也。　太平廣記曰。陶先生畫二牛。一散放於水間。一著金籠。二人執繩以杖驅之。帝笑曰。此人無所不作。）</p>
<p>子豹熨脅。鳴鶴刺頭。（醫說曰。子豹者。秦越人弟子。虢太子死。扁鵲乃使弟子子陽厲針砭石。以取三陽五會。有間。太子蘇。扁鵲乃使子豹為五分之熨。以八減之劑和煮之。以熨兩脅下。太子遂能起坐焉。　又曰。秦鳴鶴為侍醫。高宗苦風眩頭重。目不能視。武后亦幸災異逞其志。至是疾甚。召鳴鶴張文仲診之。鳴鶴曰。風毒上攻。若刺頭出少血。即愈矣。天后自簾中怒曰。此可斬也。天子頭上。豈是試出血處耶。上曰。醫之議病。理不加罪。且吾頭重悶。殆不能忍。出血未必不佳。命刺之。鳴鶴刺百會及腦戶出血。上曰。吾眼明矣。言未畢。後自簾中頂禮拜謝之曰。此天賜我師也。躬負繒寶以遺鳴鶴。）</p>
<p>艾晟證類。蘇恭新修。（大觀二年。通仁郎艾晟撰證類本草。行世二卷。所載藥千六百七十六種也。唐顯慶二年。右監門府長史騎都尉蘇恭。與許孝崇等廿二人。撰新修本草。謂之唐本草。所載藥八百五十種也。）</p>
<p>顧歡禳厭。彥伯競酬。（醫說曰。顧歡。字玄平。吳郡人也。隱於會稽山陰白石村。歡率信仁愛。素有道風。或以禳厭而多所全護。有病邪者。以問歡。歡曰。君家有書乎。曰唯。有孝經。可取置病人枕邊。恭敬之。當自差。如言果愈。問其故。曰善禳惡。正勝邪。　又曰。荊州人道士王彥伯。天性善醫。尤別脈。斷人生死壽夭。百不差一。自言醫道將行。列三四灶煮藥於庭。老幼塞門而請。彥伯指曰。熱者飲此。寒者飲此。風者氣者飲此。各飲而去。翌日各負錢帛來酬。無不效者。）</p>
<p>範汪燃薪。魯班刻舟。（醫說曰。範汪子玄平。少孤。年六歲。過江依外家新野庾氏。賓於園中。布衣蔬食。燃薪寫書畢。讀誦亦遍。遂博通百家之言。性仁愛。善醫術。嘗以拯恤為事。凡有疾病。不以貴賤皆治之。所活十愈八九。　證類本草曰。述異記云。木蘭川在浸錫江中多木蘭。又七里洲中有魯班刻木蘭舟。至今在洲中。今詩家云木蘭舟。出於此。）</p>
<p>涪翁摩踵。休祖卜瘤。（後漢書曰。涪翁者。不知姓名。釣於涪水。因號涪翁。精於醫術。所治病不限貴賤。皆摩踵救之。而不求其報。甚為當代所重。　醫說曰。柳休祖者。善卜筮。其妻病鼠瘤。積年不差。垂命。休祖遂卜得頤之復。按卦合得姓石人治之。當獲鼠而愈也。既而鄉里有奴姓石。能治此病。遂名頭上三處覺佳。俄有一鼠近前而伏。呼犬咋之。視鼠頭有三灸處。妻遂差。）</p>
<p>照鄰梨樹。董奉杏林。（太平廣記孫思邈傳曰。上元元年。辭疾請歸。特賜良馬。及鄱陽公主邑司以居焉。當時知名之士。宋令文孟詵盧照鄰等。執師資之禮以事焉。思邈嘗後九成宮。照鄰留在其宅。時庭前有病梨樹。照鄰為之賦其序曰。癸酉之歲。余臥疾長安光德坊之官舍。父老云。是鄱陽公主邑司。　醫說曰。董奉。字君異。為人治病。病愈。令種杏五株。輕者一株。數年之間。杏有十萬。杏熟。以谷一器易一器杏。以所得谷賑救貧乏。奉在人間近二百年。顏貌若卅許人。一旦舉手指天。竦身入云。）</p>
<p>盧扁邯鄲。軒轅瓊琳。（八十一難經曰。扁鵲又家於盧國。因命之曰盧醫。世或以盧扁為二人者。斯實謬矣。史記曰。扁鵲名聞天下。過邯鄲。聞貴婦人。則為帶下醫。過雒陽。聞周人愛老人。即為耳目痹醫。來入咸陽。聞秦人愛小兒。即為小兒醫。隨俗為變也。　醫說曰。軒轅氏陟王屋山玉關之下。清齋三日。乃登於玉關之上。入瓊琳臺。於金機之上。得玄女九鼎神丹。飛香爐火之道。）</p>
<p>浮奴還壯。邑妻恣淫。（錄驗方益多散方曰。華浮合樂。未及服沒。浮有奴字益多。年七十五。病腰承發白。橫行偃僂。妾憐之。以藥與益多。服廿日。腰申。白髮更黑。顏色滑澤。狀若卅時。　醫說曰。儀州華亭人聶從志。良醫也。邑丞妻李氏病垂死。治之得生。李氏美而淫。慕聶之貌。他日丞往旁郡。李偽稱疾。使邀之。伺其至。語之曰。我幾入鬼錄。賴君復生。顧世間物無足以報德。願以此身供枕蓆之奉。聶驚懼趨而出。迨夜李復盛飾而就之。聶絕袖脫去乃止。亦未嘗與人言。後歲余。儀州推官黃靖國病。陰吏逮入冥證事。且還。行至河邊。見獄吏捽一婦人。剖其腹。濯其腸而滌之。傍有僧語曰。此乃子同官某之妻也。欲與醫者聶生通。聶不許。可謂善士。其人壽止六十。以此陰德。遂延一紀。仍世世賜子孫一人官。婦人減算如聶所增之數。所以盪滌腸胃者。除其淫也。靖國素與聶善。既蘇。密往訪之。聶驚曰。方私語時。無一人聞者。而奔來之夕。吾獨處室中。此唯婦人與吾爾。君安所得聞。靖國具以告。聶死後一子登科。其孫圖南。紹興中為漢中雒縣丞。屬仙井喻迪孺汝礪作隱德詩數百言以發潛德。此不復載。</p>
<p>扈齊裂易。宋馮伴歆。（列子曰。魯公扈趙嬰齊二人同見扁鵲。扁鵲云。公扈志強而氣弱。故足於謀寡斷。嬰齊志弱氣強。故少於慮。傷於專。若換汝心。則言均。遂使二人飲毒酒。迷死三日。剖胸掬心易置之。投以神藥。即悟如初。二人辭歸。公扈反嬰齊室。其妻子不知之。嬰齊反公扈室。其妻子亦不識之。二室相訟。求辨於扁鵲。扁鵲辨其由。　史記曰。宋邑者。臨淄人也。率性愛人。志尚醫術。就齊太倉公長淳于意學五診脈。馮信者。齊臨淄人也。性好醫方。臨淄王猶以其識見未深。更令就淳于意學方。意教以按法逆順論藥法。定五味及和劑湯法。信受之。擅名於漢。）</p>
<p>興嗣故事。愚昧暗尋。（梁典曰。梁武帝集一千字教諸王。呂周興嗣曰。卿有才思。可次韻。興嗣一日編綴奉上。鬢髮悉白。）</p>
<p>管窺次韻。綿聯作吟。（起於平聲東韻。至於慢韻。每韻六字至二十一韻矣。）</p>
