<header data-type="book">
<h1>藥論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈文彬</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>序</h1>
<p>喻子云：醫之為言，意也。明夫天地陰陽之道，盈虛消長之機，始可與言醫。醫道豈易言哉？古之聖人，視醫甚重。良以軒岐旨奧，扁倉淵微，以意逞志，斯能得之。範子不云乎：不為良相，必作良醫。君子用之以衛己衛民，而推之以濟人濟世。其術何其仁，其品何其高！抑學之豈非重且難歟？余稟資稚魯，幼失提撕。弱冠受業于徐夫子，授讀《內》、《難》諸經，苦茫無涯涘。及下帷數載，略識蹊徑，奚敢謬稱知醫？側聞師言：「讀書先求識字，學醫須先時藥性。」李氏《綱目》美矣，備矣，初學每苦其繁。欲得捷徑，苦無善本。偶於滬上舊書鋪購得高鼓峰先生《藥論》隨筆一編，覺其句簡而用備，的是初學之津梁，惜乎藥味太少，不足應用。歲辛丑又於親家澹園吳公處得《藥能》一書，閱之亦甚簡明，取以熔化一爐，互較所弊。誠為渡海之慈航，醫家之鴻寶也。惟書系抄本，舛謬滋多，而品種亦有蕪雜之處，遂稍加校勘，編輯一過，使初學一目瞭然，其於入門之始，不無小補云爾。</p>
<p><u>時在光緒二十七年二月杏苑沈文彬識於鑄青草廬</u></p>

<h1>一、補劑</h1>

<h2>溫中</h2>
<p><u>人參</u></p>
<p>大補氣虛，兼扶血弱。鎮靈臺以保驚癇，通經脈而托痘疹。回生於脫血昏眩，奪命於亡陽厥逆。療胎前百怯，而橫生逆產尤良；培產後諸虛，而食滯瘀凝未可。內傷勞熱可救，心腹虛痛莫缺。同白朮則補中，共黃耆則補表。元氣下陷，須佐升、柴；淋癃虛秘，賴和苓、膝。脾虛腫脹靈劑，肺熱喘嗽毒鴆。</p>
<p><u>黃耆</u>（入肺）</p>
<p>充血分以托陷伏之陰疽，而既潰者尤驗；實腠理以固表疏之虛汗，而邪盛者非宜。護陽虛外寒，退陰虛內熱。脾虧兼術，血弱兼歸。赤子慢驚與痘漿之清薄俱宜，女人胎痢及崩帶之淋漓皆善。實痰實嗽不相當，虛脹虛膨深得益。</p>
<p><u>白朮</u>（入脾、肺經）</p>
<p>強胃加餐，固脾除濕。虛膨虛脹，助以參、耆；虛暈虛眩，濟以麻、半。久痢固可以投，久瘧非斯莫截。君枳實，有消痞之功；佐條芩，為安胎之劑。斂虛汗，擬似耆能；補中氣，幾如參力。喘哮難施，血虛毋忌。</p>
<p><u>大棗</u>（入脾）</p>
<p>養脾胃，益氣調中；潤心肺，生津止嗽。療老人血涸而便難，治女人臟躁而如祟。奔豚用之，補脾以平腎也；停飲用之，培土以勝水也。蟲子、疳兒莫食，牙病、腹滿毋嘗。</p>

<h2>平補</h2>
<p><u>阿膠</u>（入肺、肝、腎）</p>
<p>安血虛胎動，止血熱吐衄。定痿弱之喘，止休息之痢。崩帶宜投，痔漏可入。</p>
<p><u>山藥</u>（入脾）</p>
<p>補脾胃而益中氣之虛，培腰腎以固元精之泄。癇症堪親，癆家深切。津枯腸滑共云神，血崩帶下交稱捷。此氣平味淡，補脾補腎之功居多。</p>
<p><u>何首烏</u>（入肝、腎）</p>
<p>性溫能壯陽道，味澀能固元精。頸項瘰癧與皮膚燥癢皆宜，腰膝痿軟與筋骨痠痛咸善。瘡疽與腸中堅結，生用何妨？痎瘧與胃裡痰凝，炒則為良。助痘漿白滿，醫所不知；治蠱毒入腹，書多不載。鬚髮斑白，恣服重黑；顏色枯槁，以餌還榮。</p>
<p><u>百合</u>（入肺、肝）</p>
<p>療腹脹心疼，利大小便難而立效；能補中益氣，除浮腫痞滿而功高。寒熱周身疼痛，百邪鬼魅能消。遠驚悸，殺蟲毒，傷寒壞後堪醫；治乳瘡，療喉痹，發背癰疽並治。</p>
<p><u>芡實</u>（入脾、腎）</p>
<p>益氣強志而澀精，補中健脾而耐老。療腰膝無溫痹之疼痛，驅暴病致耳目之聰明。補心腎之功固多，實脾胃之氣最捷。</p>
<p><u>薏苡仁</u>（入脾、胃）</p>
<p>清熱保肺，咳膿咯血交宜，而調癆深當；滲濕扶脾，腸滑肌浮並可，而侑食偏優。腳膝攣痹，須分寒熱；膀胱淋澀，勿藉君臣。根搗汁以和醪，黃疸有驗；葉煮湯而作澡，赤子無疴。</p>
<p><u>蓮</u>（入肝）</p>
<p>藕可清心涼血，不惟消煩渴，而吐衄者尤能去舊以生新；實（入腎、心）可養心補脾，不獨固遺滑，而瀉利者更善升清以降濁。葉有鼓胃之功，節（入心、脾）有止血之益，女人御帶則房靈，男子塞精則須（入心、腎）利。</p>
<p><u>甘草</u>（入脾、胃）</p>
<p>生（入心）則瀉火，炙則溫中。能解百毒，調攝諸藥。出聲音而咽疼並濟，消煩渴而咳嗽咸寧。混參耆，作氣虛之助；和歸芍，作血少之需。梢能抑相火而除莖痛，節可消膿腫以療瘡疽。嘔逆脹滿莫輕投，下部藥中宜少用。</p>
<p><u>柏子仁</u>（入心、脾）</p>
<p>辛能潤肺，甘可生心。助聰明，輕身榮色；守魂魄，鎮悸驅驚。護夜啼之赤子，濡腸閉於老人。</p>

<h2>滋陰</h2>
<p><u>熟地黃</u>（入足太陰經）</p>
<p>封填精髓，專充腎臟之虧；滋培血海，善濟肝家之竭。功全產後諸虛，效總胎前百怯。得車前以導水，仲景之深思；得縮砂以固脾，東垣之秘計。</p>
<p><u>天冬</u>（入肺、腎）</p>
<p>上潤肺金，清熱痰而止嗽；下滋腎水，養枯液以培陰。肺腎火燥而吐衄，神樓散矣；脾胃濕寒而泄痢，桃生術焉。</p>
<p><u>麥冬</u>（入肺、心）</p>
<p>清心火以解煩渴，滋肺金以寧咳嗽。血湧須遵，氣短堪用。同五味、人參，防暑邪之侵擾；共玄參、知母，降虛熱之妄行。</p>
<p><u>龜板</u>（入腎、心）</p>
<p>上補心血有虧，因而降火；下補腎元不足，所以滋陰。攻痔漏，膿乾肉長；治腸風，痛止血消。令健忘之多記，使不睡者安眠。</p>
<p><u>鹿茸</u>（入腎）</p>
<p>生精血，四肢腰膝痠疼之並補；興陽道，泄精溺血勞瘧之盡攻。益氣強志，暖髓悅容。女人崩下，男子尿血。冬至陽生麋角解，夏至陰生鹿角蛻。則知麋可以補陽，鹿可以補陰矣。</p>
<p><u>鹿角</u>（入腎）</p>
<p>強筋骨，補絕傷，腰脊腳膝而能療；治疽瘡，逐邪氣，陰中留血而盡攻。療折傷惡血與尿血，祛婦人鬼交與鬼迷。鹿髓味甘氣溫，補陰強陽，治丈夫、女人之絕傷，療咳逆腰膝之攣急。地黃汁煮膏，可填精而補髓。蜂蜜煎服，能強陽而生男。鹿腎能補腎陰，亦興陽道。鹿肉甘溫，能潤肌膚，益氣力而通脈，強五臟而補中。鹿角膠止崩中與吐血，除腹痛而安胎。</p>
<p><u>鎖陽</u>（入腎）</p>
<p>補陰氣，益精髓。酥炙能滑大腸，興陽道，補虛勞，性與蓯蓉相似。</p>
<p><u>肉蓯蓉</u>（入腎）</p>
<p>養五臟，強陰益精；除寒熱，勞傷並補。男子陽絕不興，兼治泄精、尿血、遺瀝；婦人陰絕不產，並療陰寒、血崩、帶下。暖腰膝，強精髓，補相火於命門；壯陰陽，令多子，治癥瘕於陰疝。老人燥結便閉而腎火虛者宜之；少年陽強易興而精不固者須忌。</p>
<p><u>菟絲子</u>（入肝、脾、腎）</p>
<p>添精補髓，強陰道而堅筋骨；腰疼膝冷，益氣力而續絕傷。腎宮寒而精自出，得此無虞；尿餘瀝而夢鬼交，用之不犯。除口苦燥渴，去寒血為殃。子宮冷而小腹常痛，崩漏下而淋瀝無常。肝腎不足，去風明日。此藥補而不峻，溫而不燥，故虛可補，實可瀉，寒可溫，熱可涼，溫可燥，燥可潤。非若黃柏、知母之性苦寒不溫而瀉腎經之氣，非若肉桂、益智之性辛溫不涼而動腎經之燥，非若蓯蓉、鎖陽之性甘鹹滯氣而生腎經之濕。惟陽強不痿、大便燥結、小水赤色者勿用，以其性偏助陽也。</p>
<p><u>枸杞子</u>（入肝、腎）</p>
<p>補髓填精，而陽道之痿可興；榮筋壯骨，而腰膝之疲可扶。羸瘦勞神真妙，血虛目暗多奇。</p>
<p><u>牛膝</u>（入肝、腎）</p>
<p>營筋骨而痿痹之患可蘇，強腰膝而精髓之枯堪益。胞衣不下，勿失冬葵；血閉不行，寧忘乾漆？氣化遲難，協人參而陡利；前陰澀痛，卻甘尾而難通。腎弱固稱引經，脾虛卻為禁劑。</p>
<p><u>杜仲</u>（入肝、腎）</p>
<p>筋骨離而復合，精髓極而更生。胎前固宜，產後亦效。腳膝痠痛難踐，得飛步之功；腰腎虛弱難眠，得轉展之妙。</p>
<p><u>續斷</u>（入肝、腎）</p>
<p>治勞倦所傷於腰膝之痿，扶胎育所損於血海之虛。固堪去舊，又克生新。</p>
<p><u>五加皮</u>（入肝、腎）</p>
<p>補中益精，堅筋壯氣。陰萎囊濕，堪利淋瀝風痹；心腹疝氣，能除女子陰癢。治遠年肌膚之瘀血，利近日五緩之四肢。疽瘡陰蝕而無危，腰脊腳膝而並起。如背拘急，加蒼朮、白芷；胸脅疼痛，加枳殼、青皮；頭痛必佐以川芎；手痹不無乎肉桂；腰痛而杜仲可加；腳重而牛膝莫舍。釀酒飲，不惟療風治痹，而諸病自有神也。</p>
<p><u>葫蘆巴</u>（入肝、腎）</p>
<p>補無臟虛冷之疝氣，療陰寒腹脅之脹滿。面色青黑，非此不可；聰耳明目，舍是何堪？得附子、雄黃而治腎虛，佐茴香、桃仁而利膀胱，此太陽少陰藥也。</p>
<p><u>巴戟天</u>（入腎）</p>
<p>治大風邪氣，療陰痿不足。強筋骨，安五臟，補中增志而益氣；祛陰疝，消白濁，夢遺、精滑均堪痊。陰中引痛，風癩五勞，腎宮虛損，聽戶鳴聲。</p>
<p><u>破故紙</u>（入腎）</p>
<p>起陽衰，燥陰濕。補腎虛腰痛，止腎敗精流。足痿與牛膝合用，子泄偕五味同投。</p>
<p><u>蠶蛾</u></p>
<p>強陰道而交接不泄，益精氣而駐顏不老。主心腹邪氣，能強志生子。</p>

<h2>安神</h2>
<p><u>茯苓</u>（入脾、胃）</p>
<p>和中用白，導水用赤。夾半夏以清痰，和澤瀉以行濕，地黃得之而補腎，白朮同之而補脾。去小腸之濕熱而淋閉通，清水府之郁濕而白淫御。</p>
<p><u>茯神</u>（入心）</p>
<p>啟善忘，開心志，安魂魄，養心神。治風痃虛勞，止口乾驚悸。因其善養心血，用以遠志為佐。</p>
<p><u>遠志</u>（入肺、腎）</p>
<p>補腎以興陽道之痿，安心以保神氣之疲。耳鳴夢遺莫徘徊，驚悸多忘應洽浹。</p>
<p><u>硃砂</u></p>
<p>安神定魄，降心火以養精神；祛疫消毒，通血脈而悅顏色。驚風邪魅能除，顛狂目痛堪醫。</p>
<p><u>丹砂</u></p>
<p>除煩止渴，益氣安神。助犀、連抑心火之亢，同參、苓補心氣之虛。能收魂魄，又堪明目。</p>
<p><u>琥珀</u>（入心、肺、肝）</p>
<p>決水泉，淋癃咸提；肅神府，驚惕交安。產後頭昏，賴為行血；癥瘕腹痛，仗以磨堅。血燥且停，懷胎勿妄。</p>

<h1>二、散劑</h1>

<h2>散寒</h2>
<p><u>麻黃</u>（入肺）</p>
<p>治傷寒頭疼，療中風溫瘧。赤黑斑毒能解，外邪厥逆如神。肺臟火邪內郁，以致喘促痰升不得眠，助以石膏、蘇子；膀胱寒毒外拘，以致戰慄頭疼不得汗，佐以甘草、黃芩。配花粉，治乳癰，下乳汁，血脈全通；同半夏，定喘哮，止咳嗽，氣閉堪散。秋冬表熱為良，營衛虛弱莫投。</p>
<p><u>細辛</u>（入腎）</p>
<p>三陽數變之風邪可投，少陰合病之頭痛必用。聲音之啞，效在包寒；睛翳之蒙，功惟寒鬱。佐升麻而齒痛捐，共辛夷而鼻淵住。</p>
<p><u>紫蘇</u>（入肺）</p>
<p>葉可疏風發汗，四時感冒而咳嗽交平；梗能順氣行痰，五內虛膨而妊娠咸益。</p>
<p><u>蘇子</u>（入肺）</p>
<p>治痰凝胸膈而咳嗽靡寧，理氣滯喉嚨而喘哮不絕。實人無汗為優，虛人有汗為劣。</p>
<p><u>桔梗</u>（入肺）</p>
<p>載諸藥上浮，幾同舟楫；引諸藥入肺，擬比先鋒。咳嗽咽疼，協甘草而兼施；喘哮膈脹，求枳殼而相將。鼻塞可通，音啞可亮。</p>
<p><u>生薑</u></p>
<p>開胃豁痰，嘔吐無分寒熱；溫經發表，哮喘獨利寒痰。霧毒與風邪，而壯熱憎寒者均賴；傷寒與溫瘧，而頭疼鼻塞者全憑。中寒水瀉，功猶反掌；舌強口噤，效擬通神。同半夏而咽喉無麻戟之虞，制地黃而胸膈無膩滯之慮。脈益奇疴，夏子益之神也；產科內線，魏夫子之秘乎。</p>

<h2>散風</h2>
<p><u>桂枝</u>（入肺、膀胱）</p>
<p>去風邪以實衛，多汗者須此藩籬；祛寒氣以調榮，畏冷者藉斯屏障。和羌、半而肩背之痠痛遂瘳，助靈仙而手足之麻痹能濟。解肌發汗，當合麻、杏；溫經通脈，須配歸、艽。</p>
<p><u>羌活</u>（入足太陽、足少陰、厥陰）</p>
<p>排巨陽之寒邪，散周身之風氣。惡寒發熱與筋骨痠疼須此，頭痛脊強及手足攣急當求。瘡疽盡掃，斑疹齊稀。佐辛夷而鼻淵堪治，同甘菊而目疾堪醫。</p>
<p><u>獨活</u>（入足少陰腎經）</p>
<p>上治頭項之難舒，下治腰膝之不遂。散寒驅風，與羌活同。羌活氣雄，遊風多功；獨活氣細，伏風多益。</p>
<p><u>白芷</u>（入大腸、肺、胃）</p>
<p>司手太陰引經，止足陽明頭痛，去皮膚風邪，驅頭面遊風。合菊花而目淚止，和細辛而鼻塞通。在瘍家有止痛排膿之效，在女科有催生療帶之功。多汗勿施，津枯須避。</p>
<p><u>艾葉</u>（入肝）</p>
<p>漏血安胎而止痛，闢寒暖宮而有子。殺鬼氣，固元陽，赤白帶痢盡好；灸百病，治腹痛，痔蟲瘡癬兼醫。</p>
<p><u>秦艽</u>（入肝、膽）</p>
<p>寒濕風痹、肢節疼痛而立解；遍身黃疸、骨蒸邪氣而併除。下水利便，不拘大小；療風血痹，無問久新。腸風臟毒，痔漏脫肛。入陽明而利大腸，去風寒而止疼痛。得羌活能治上焦之邪氣，萆薢善調中焦之軟弱，加防己盡掃足膝之濕痹。用酒洗功捷，利濕而驅風。</p>
<p><u>刺蒺藜</u></p>
<p>破癥結積聚、喉痹與惡血，治身體風癢、頭痛與乳癰。</p>
<p><u>沙苑蒺藜</u>（入腎）</p>
<p>長肌肉，明目輕身；治腰痛，固髓澀精。</p>
<p><u>荊芥</u>（入肝）</p>
<p>散浮風而頭痛頭眩可止，清血熱而目疼目腫堪除。同元參、大力，同收斑疹之功；和生地、桃仁，共奏血風之續。腸風、崩漏，炒黑多神；白濁、莖痛，單煎尤妙。</p>
<p><u>防風</u>（入脾、肺）</p>
<p>風劑之總使，風病之主司。泄肺金，除喘哮咳嗽；疏關節，祛癱瘓攣痹。收汗作黃耆之捍衛，發汗為羌活之追隨。鼻鼽、鼻塞，例從夷、細；目疼、目淚，法並菊、荊。</p>
<p><u>菊花</u>（入肝、肺、腎）</p>
<p>治傷風頭眩、腫毒與目淚，療四肢遊風、腰痛與中煩。安腸胃，養血明目而去翳；活死肌，惡風濕痹而蠲除。野菊辛溫，稍有小毒，治癰腫、瘰癧、疔毒、眼瘜，破婦人宿血，止泄調中。</p>
<p><u>薄荷</u>（入肝、肺）</p>
<p>掃腫痛於咽喉，消風熱於頭面。大人虛熱無能，赤子風痰可利，目紅斑疹投機，汗渴津衰緣薄。</p>
<p><u>桑葉</u></p>
<p>祛風發汗，喘嗽可痊；逐水寬胸，煩痰並治。養肝以明目，調血而髮長。枝有養筋消食之功，耳堪調經止帶之用。</p>
<p><u>蟬衣</u>（入肺）</p>
<p>掃瘡癩、皮膚瘙癢，止目睛風熱翳淚。得風木之象類，含楊柳之陰精。</p>
<p><u>蛇蛻</u></p>
<p>去翳膜、明目而療白癜，定驚癇、催生而卻惡瘡。祛風殺蟲除蠱瘧，痔漏疥癬亦能醫。</p>
<p><u>皂角刺</u>（入肺、肝）</p>
<p>直達瘡所，有潰膿消腫之功；透入七門，有通關利竅之力。</p>
<p><u>穿山甲</u>（入肝、胃）</p>
<p>潰膿破血，殺鬼止驚。發痘漿之不足，定瘧疾而有靈。</p>
<p><u>藁本</u>（入肝）</p>
<p>治風寒頭痛在腦，療寒邪結郁在胸。婦人疝瘕、陰腫而能消，腹中急痛、濕痹而悉退。長肌肉，順皮色。</p>
<p><u>威靈仙</u>（入肝、肺）</p>
<p>專理痰風寒濕，因疏痠疼麻痹。橫行臂指，憑薄、桂以交馳；下行足膝，藉瓜、防而相贊。性頗不純和，虛者毋多犯。</p>
<p><u>殭蠶</u>（入肺）</p>
<p>治中風失音，去皮膚風癢。化風痰，消瘰癧，拔疔毒，減斑痕。男子陰癢，女人崩淋。</p>
<p><u>虎骨</u>（入肝、腎）</p>
<p>壯筋骨而痿軟可起，搜毒風而攣痛堪靈。虎肚反胃有功，虎爪辟邪殺鬼，虎發能止齒痛，虎屎塗消惡瘡。</p>
<p><u>蜈蚣</u></p>
<p>去惡血，墮婦人未產之胎。搜風邪，療小兒急搐之病。</p>
<p><u>天麻</u>（入肝）</p>
<p>治痰厥而耳鳴目暈，療風癇而魄悸魂驚。語言不遂之仙芝，麻痹不仁之瑤草。</p>

<h2>散熱</h2>
<p><u>升麻</u>（入陽明經）</p>
<p>治肺痿肺癰與瘡腫下陷黑紫，療時氣熱病與寒風發散無汗。喉咽腫痛，藉為從治；勞倦內傷，藉此升提。瀉痢因氣陷而虛，徒補無益；便溺因氣陷而閉，專降奚通？引蔥白，手陽明之風邪可散；引石膏，足陽明之齒痛能攻。氣虛下陷是因宜，氣實上壅非所利。</p>
<p><u>柴胡</u>（入肝、膽）</p>
<p>散膽邪，解往來肌表之寒熱；瀉肝火，除左右胸脅之膨疼。合丹皮、秦艽而投於四物，調月水之愆期；和升麻、黃耆而雜於四君，舉清陽之陷下。暫宜於無汗之骨蒸，專利乎多熱之痎瘧。</p>
<p><u>前胡</u>（入肺、脾）</p>
<p>順氣消痰，止嗽安胎。驅肺風，定哮除喘；理肺氣，疏膈清胸。熱鬱咽喉，元、薄為之侶；寒包聲啞，防、細為之隨。</p>
<p><u>香薷</u>（入脾、肺）</p>
<p>漱齒則鬱火散而穢氣息，調脾則濕邪去而清化行。祛暑毒甚捷，消水腫極靈。痎瘧上池飲，帶下橘井泉。實人可矣，虛其審諸。</p>
<p><u>藿香</u>（入脾、胃）</p>
<p>和風溫中，開胃進食。止霍亂疼嘔之交作，療山嵐寒熱之並行。</p>
<p><u>連翹</u>（入心及心胞絡）</p>
<p>瀉心經客熱，降脾胃濕熱。通淋通經堪任，解毒消癰須求。</p>
<p><u>乾葛</u></p>
<p>止渴解酲，散寒消熱。利二便而止嘔消痹，解肌毒與中風頭痛。傷寒諸熱俱消，發表取汗立應。治脾虛而瀉胃火，除熱毒而療金瘡。大抵辛溫可以散表，甘寒可以瀉火。乾葛則其甘寒者也，紫蘇則其辛溫者也。傷寒在太陽，必麻黃可以取汗；風寒在腠理，無紫蘇不能攻表。至若風溫之症，風邪未解，其汗自出，不可投以再汗之藥；溫熱之疫，自汗大來，表邪尤甚，不可投以辛溫之劑。二症欲解，必須乾葛，使其甘寒，消肌退熱。其花專解酒毒，過服損人天元。</p>

<h2>香散</h2>
<p><u>白豆仁</u></p>
<p>氣塞胸襟，如颶風之揚石；翳蒙瞳子，似皓月之離云。嘔噦添乎薑、藿，痰飲加之二陳。</p>
<p><u>草豆蔻</u>（入脾、胃）</p>
<p>溫中治腹心冷痛，和氣去脾胃虛寒，風寒客邪而必用，霍亂吐瀉以成功。調氣散冷甚速，酒毒口臭兼攻。</p>
<p><u>肉豆蔻</u></p>
<p>溫中開胃，下氣消食。治積冷心腹脹滿，定霍亂脾胃虛寒。冷熱虛泄能止，赤白痢下能痊。小兒傷乳之吐瀉，用之最宜；大人五更之腎泄，非此莫治。然虛瀉必佐以參、苓，脾泄當助以參、術，火泄舍黃連不可，濕瀉除蒼朮何堪？寒泄當合以薑、桂，飧泄合助以防風。</p>
<p><u>木香</u>（入肺、肝）</p>
<p>損九種心痛，療七般疝痛。五積曰效，六聚云靈。後重仗檳榔以夾攻，帶下賴黃連以相濟。燥熱有妨，妊娠無忌。</p>
<p><u>白芥子</u>（入肺）</p>
<p>皮裡膜外之痰涎非斯不達，肋下胸前之氣滯藉此而疏。喘哮與蘇子相須，咳嗽與桔梗並濟。</p>
<p><u>枳殼</u>（入肺）</p>
<p>除濕氣凝於筋骨而屈伸不利，理風氣著於皮毛而痛癢難禁。瀉肝則膈脹可平，喘哮咳嗽尤利；寬腸則後重可止，痔痢腸風更良。束肥胎而易產，甘草兼施；磨睛障之難消，決明兼制。脫陰者神矣，氣虛者禁之。</p>
<p><u>香附</u>（入肝、膽）</p>
<p>氣候之總司，女科之主帥。開鬱而結痰消，溫胃而宿食化。治血凝醋炒為良，解胸熱便浸為善。生用有耗血之虞，炒用有止血之驗。</p>
<p><u>丁香</u>（入肺、胃）</p>
<p>攻胃口之寒痰而嘔吐除，祛心下之冷痛而呃逆寧。噎膈翻胃賴為劫劑，奔豚疝氣藉茲引經。</p>
<p><u>沉香</u>（入脾、胃、肝、腎）</p>
<p>降逆氣而決痰涎，功猶破竹；祛惡氣而行積聚，力抵剚犀。借曰溫中，未嘗助火；雖云決氣，亦不傷真。大腸氣閉可通，小便氣淋可利。</p>
<p><u>半夏</u>（入肺、腎）</p>
<p>舒肢節，療痠疼與僵直；開胸膈，止嘔吐與昏迷。共天麻而頭旋即痊，同秫米而不瞑克寧。既治遺精，復除帶下。脾胃濕盛有痰，惟伊之投；心腎血虛有火，獨彼之愆。</p>
<p><u>大茴香</u>（入肝、腎）</p>
<p>開胃口寒痰之噎膈，散膀胱疝氣之衝心。</p>
<p><u>益智仁</u>（入肺、心、腎）</p>
<p>溫脾胃而加餐，暖膀胱以節溺。腹中疝沖，調氣功最；腸鳴腎瀉，扶虛堪嘗。能祛胃脘之涎，偏補命門之火。</p>
<p><u>良薑</u>（入胃）</p>
<p>利脾胃，消宿食，兼理心氣冷之攻衝；消霍亂，止腹痛，並治胃虛寒之嘔逆。</p>
<p><u>乾薑</u></p>
<p>療胸滿咳逆之氣，逐風濕腸澼之寒。生辛，能散肺經之寒嗽而發汗；炮苦，能溫脾臟之陰寒而止血。泄利、霍亂、腹滿，三焦冷痛而收功；痼寒、腎冷、無陽，附子同煎而療理。反胃嘔逆均可服，癥瘕積滯悉皆除。水瀉無度須炙末，口瘡腫爛共黃連。</p>
<p><u>石菖蒲</u>（入心、脾、肺）</p>
<p>辛香邪可闢，燥烈郁堪行。鼻塞耳鳴，夾黃連以開心竅；健忘驚悸，偕遠志以肅心神。入平胃散而云單鼓脹消，惟宜暴病；入參苓散而云噤口痢奪，獨利脾虧。既害津枯，又妨赤目。</p>
<p><u>吳茱萸</u>（入肝、脾）</p>
<p>下胸脅冷氣之滯，藉以推用；攻膀胱寒疝之痛，求之少佐。腹痛腸鳴屬寒則可，吞酸嘔吐是火非宜。熱痢賴黃連而奏效，寒痰卻半夏而無功。</p>
<p><u>龍腦香</u></p>
<p>消風化濕而開關通竅，驅逐鬼邪而目明耳聰。風熱痰涎壅盛，昏滋目痹潛消。乳蛾喉閉須此，舌腫破爛功高。世知其寒而通利，未達其暖而輕浮。然人陽易動，陰易虧，誰知此藥辛溫善走，故能散熱利氣。時人目痛、喉痹、下疳必用者，以火濟火，如燒酒洗眼獲效，辛散故也。</p>
<p><u>陳皮</u></p>
<p>安胃去痰，導壅滯之逆氣；利水通淋，消胃中之穀氣。能散風寒暑濕之邪氣，善舒七情六慾之結氣。健腸胃而利臟腑，定嘔吐而清氣癖。止泄瀉，定霍亂，與白朮而同功；寬胸膈，除嘔逆，和薑、連而佐理。留白，補胃和中。去白，消痰泄氣。健脾之功最捷，辛溫不守之質須知。辛主發散而不斂，妄液自汗之症不可服；溫能引血以妄行，元虛吐血之患不可嘗。去邪辟惡，脾胃攻補。</p>
<p><u>橘皮</u>（入肺）</p>
<p>留白，補胃和中。去白，消痰瀉氣。降痰涎以寧喘嗽，清痰積以豁胸襟。樸、蒼得此，共成補胃之功；參、術兼茲，共奏補脾之績。伍藿、姜而嘔吐可痊，助香、蘇而冒風亦驗。</p>
<p><u>橘葉</u></p>
<p>導胸脅之逆氣，行肝經之恚怒。乳癰脅癰能消，藥中行經至寶。</p>
<p><u>橘核</u></p>
<p>沉降苦溫而入厥陰，腰痛腎冷疝氣能擒。實者為宜，虛人所禁。</p>
<p><u>青皮</u>（入肝、肺）</p>
<p>破滯氣，消堅癥。解胸脅之膨，柴胡是佐；疏心腹之痛，香砂是襄。同草果有驅瘧之能，共紫蘇有發汗之效。</p>
<p><u>木瓜</u>（入肝、脾、肺）</p>
<p>利肝氣，除霍亂之轉筋；平胃氣，療傷暑之吐瀉。風濕腫痛勿逡巡，腳氣攣痹深投契。</p>

<h2>利濕</h2>
<p><u>蒼朮</u>（入脾、胃）</p>
<p>平胃氣而嘔吐息，寒涎宿食皆清；掃脾濕而瀉痢除，帶下腸風咸驗。佐黃柏而腰膝之痿痹旋利，和羌、半而關節之重痛隨瘳。嵐毒與時災，功惟發汗；眩昏及痎瘧，效在消痰。辟邪者，取氣之芬芳；開鬱者，藉性之燥烈。津耗毋施，汗多須缺。</p>
<p><u>厚朴</u>（入脾）</p>
<p>清積聚，止嘔吐而平胃調中；祛暑穢，豁痰涎而開胃進食。瘧痢不可無，嵐嶂奚堪缺？</p>
<p><u>枳實</u>（入肝）</p>
<p>和半夏消胃腑之痰，共黃連泄心下之痞。大黃得此，通熱結以何難？稜、茂逢茲，削堅癥而甚易。停水須加澤瀉，瘀紅賴佐桃仁。侶藿、姜而寬中定嘔多驗，同參、術而補脾磨谷如神。</p>
<p><u>草果</u>（入脾）</p>
<p>散寒止心腹之痛，下氣驅逆滿之疴。開胃而利霍亂吐瀉，攻堅而破噎膈癥瘕。瘧邪須用，燥濕必投。</p>
<p><u>白扁豆</u>（入脾、肺）</p>
<p>清濕熱以祛暑毒，兼資蒼、樸、香薷；強脾胃以益中州，全賴參、苓、白朮。瘧固宜之，痢亦宜然。</p>
<p><u>茵陳</u>（入膀胱）</p>
<p>愈風濕而發汗，能利水以化痰。專走氣分而利濕熱，祛除黃疸而勝金丹。</p>
<p><u>地膚子</u></p>
<p>去皮膚之熱，療疝瘕惡瘡。治妊娠淋瀝，浴丈夫陰㿗。</p>

<h2>祛寒</h2>
<p><u>附子通十二經</u></p>
<p>稟雄悍之質，司斬關之能。引補氣藥，失散之元陽可挽；引補血藥，虛極之真陰可扶。同發散藥，在表之寒濕易除，而痿厥攣痹陡愈；同溫經藥，在裡之寒濕可逐，而腹痛滑瀉隨寧。治陽虛厥逆真寒，理陰盛格陽假熱。用而宜，霎時起死；投之誤，頃刻損生。</p>
<p><u>天雄</u>（入腎）</p>
<p>稟純陽之性，補三焦命門。壯陽精，強腎氣，過於附子；祛濕痹，除拘攣，專於墮胎。風寒歷節而關竅不利，元陽素虛而厥冷脈沉。</p>
<p><u>烏頭</u></p>
<p>除寒濕痹與咳逆上氣，破癥積聚與胸膈寒痰。治四肢風痛而不能屈伸，療肩背痠痛而不能俯仰。</p>
<p><u>烏藥</u>（入脾、肺、胃、膀胱）</p>
<p>主膀胱冷氣攻衝，療胸腹積停為痛。天行疫瘴宜投，鬼犯蠱傷莫廢。痰食稽留而霍亂吐瀉，氣血凝滯而七情鬱結。</p>
<p><u>肉桂</u>（入肝、腎）</p>
<p>補腎臟之元陽而厥寒陡息，溫胃家之虛冷而泄瀉遂寧。結氣、逆氣能除，心痛、肋痛可療。泛上之浮陽藉斯從治，鬱滯之水府仗以宣通。</p>
<p><u>桂心</u></p>
<p>理心腹之恙，三蟲九痛皆瘥；補氣脈之虛，五勞七傷多驗。宣氣血而無壅，利關節而有靈。托癰疽痘毒，能引血成膿。</p>
<p><u>牡桂</u></p>
<p>補中益氣而利關節，通脈止煩而去邪汗。結氣逆氣而能消，心痛肋痛而立止。溫胃調經，消瘀散氣。</p>
<p><u>筒桂</u></p>
<p>主百病而養精神，逐寒邪而悅顏色。薄而能宣，為諸藥之通使；溫而不熱，行三焦之結滯。</p>

<h2>平降</h2>
<p><u>石決明</u>（入肺、肝）</p>
<p>治青盲而消赤眼白膜，收目淚而除風熱頭疼。掃肝熱而益精光，貼腦心而止鼻紅。</p>
<p><u>旋覆花</u>（入肺）</p>
<p>補中下氣，明目而除頭風；祛熱消痰，氣結而除胸滿。風痰噫氣而能除，續筋補損而有效。</p>
<p><u>款冬花</u>（入肺）</p>
<p>潤心肺消痰，止嗽而定喘。治咳逆吐膿，肺癰與肺痿。心虛驚悸，涕唾稠黏。洗肝明日，療驚癇與喉閉；寒熱邪氣，除虛煩與消渴。</p>
<p><u>馬兜鈴</u>（入肺）</p>
<p>醫肺熱咳嗽，氣逆連續而可止；療痰結喘促，血痔瘻瘡而熏醫。</p>
<p><u>大腹皮</u>（入肺、脾）</p>
<p>健脾開胃而諸氣快，利水通淋而縮胎氣。痞滿膨脹，壅滯膈痰而能豁；水氣浮腫，腳氣壅逆而堪療。</p>
<p><u>木賊</u>（入肝）</p>
<p>退翳膜而止淚，散肝肺之風邪。實瘧須用，發汗亦宜。</p>
<p><u>山楂</u>（入脾、肺）</p>
<p>寬胃加餐必用，性消內積舒筋。療疝堪求，味走肝經。小兒有化乳消疳之妙，痘疹偏宜；產婦有通經治水之能，兒枕尤要。</p>
<p><u>麥芽</u>（入胃）</p>
<p>健脾胃，而消化宿食；破癥結，醫冷氣心疼。腹脅脹滿，開胃而止霍亂；下氣消痰，催生而行滯血。產後閉結能通，胃氣膨脹悉退。</p>
<p><u>萊菔子</u>（入肺）</p>
<p>利氣清痰，以治肺家之喘逆；溫中消食，以疏胃氣之壅凝。侶菖蒲而鼓脹堪平，混陳皮而面積可滌。</p>
<p><u>神麯</u>（入肺、胃）</p>
<p>寬胃加餐，飲食不思者真驗；醒脾磨谷，胸腹不快者殊靈。黃連、薑、藿渾施霍亂之疴，澤瀉、蒼、苓偕奏瀉痢之績。</p>
<p><u>杏仁</u>（入肺）</p>
<p>上能潤肺，下能潤腸。喘嗽因風傷而堪散，蘇子兼行；便難屬氣閉而堪通，橘紅並使。調勻輕粉，能點時瘡之毒；搗爛如泥，可殺玉戶之蟲。</p>

<h1>三、瀉劑</h1>

<h2>瀉火</h2>
<p><u>犀角</u>（入心、胃）</p>
<p>解心熱傷寒發狂，清心神中風不語。止吐血而治驚癇，疏痘毒而化斑疹。</p>
<p><u>羚羊角</u>（入肺、肝、心）</p>
<p>清肺熱，治腸風臟毒；瀉肝火，療目痛昏花。且理傷寒寒熱之不除，抑調產血血風之雜症。</p>
<p><u>黃芩</u>（入肺、心、脾）</p>
<p>中枯而飄者入肺，止喘咳，滑痰火，解肌熱於風寒疫瘧。中實而堅者入腸，調月經，安胎妊，去血熱於痔痢腸風。單制單煎，詳失血之虛實；三黃三補，推積熱之淺深。雖合有餘之燥熱，無如不足之癆症。</p>
<p><u>黃連</u>（入心、肝）</p>
<p>實熱客於心肝而目疼目腫，濕熱釀於腸胃而便紅便白。痞滿宜偕枳實，煩渴須和門冬。佐吳萸以除脅痛，合烏梅以伏蛇蟲。痔癖瘡疽、狂熱傷寒均效，胎丹積火、小兒疳痢同功。祛膈熱兮兼厚腸，酒焙為善；清痰火兮並平胃，薑製尤工。</p>
<p><u>胡黃連</u>（入心、脾）</p>
<p>清肝膽，明兩目，同烏梅而止血痢；主瘡痍，療五痔，偕乾薑而消果積。溫瘧骨蒸煩勞，兒家驚癇寒熱。婦人胎蒸必用，小兒疳積難離。</p>
<p><u>龍膽草</u></p>
<p>主肝膽邪熱，清下焦濕火。癰腫黃疸，兩眸赤腫。殺腸中之小蟲，掃小兒之驚疳。</p>
<p><u>知母</u>（入腎、肺）</p>
<p>抑腎火有餘，使血脈之熱平而嗽寧喘定；滋肺金不足，使腸胃之枯潤而渴止便通。溫瘧勿克無，傷寒豈容缺？淋閉堪𠻳，煩渴尤捷。雖宜有汗勞蒸，久服須防脾泄。</p>
<p><u>玄參</u>（入腎）</p>
<p>抑無根虛火，滋不足真陰。助苓、冬，除太陰火燥之咳嗽；和升、葛，解陽明風濕之斑疹。吐衄與癆蒸，而瘰癧尤善；傷寒與瘟疫，而積食殊靈。咽喉腫痛，同甘、梗以相使；眸子赤熱，尋荊、菊以交行。</p>
<p><u>苦參</u>（入腎、肝）</p>
<p>消心腹結氣與癥瘕積聚，能明目止淚與黃疸逐水。時氣惡病與熱痢，心熱煩躁與癰疽。遍身肌膚疼癢，胸腹陰處頑痹。大風大熱有功，溺中遺瀝堪止。厲風屑發盡落，丸服可以取效；皮燥抓癢風屑，酒製可以除根。</p>
<p><u>沙參</u>（入肝、肺）</p>
<p>益心氣以安驚，養肝氣以除疝。肺痿肺癰而痰濃最當，癆蒸癆嗽而血溢須遵。培陰助乎生地，補虛效佐人參。人參補五臟之陽而生陰，肺寒稱聖；沙參補五臟之陰以制火，肺熱推尊。</p>
<p><u>丹皮</u>（入心、肝）</p>
<p>清臟腑瘀紅以調不期之月水，驅陰中伏火而除無汗之骨蒸。生新血，賴和歸、地；去舊血，須夾桃、紅。大宜吐衄，最忌崩中。胎前慮其傷血，產後仗以通經。</p>
<p><u>地骨皮</u>（入肺、肝、腎）</p>
<p>外祛風濕，內解邪熱。治骨中有汗，除氣中有火。合雄黃為末，吹喉嚨之腫痛；共秦艽釀酒，起筋骨之攣痹。</p>
<p><u>桑白皮</u>（入肺）</p>
<p>瀉肺氣之有餘，而止咳嗽；益元氣之不足，而補中虛。消水腫，勞熱亦治；止唾血，肺熱亦宜。</p>
<p><u>山梔</u></p>
<p>降肺經鬱結之火以輸膀胱，去皮膚濕熱之黃以清腸胃。五淋通療，五膽群消。嘈雜嘔噦，薑製侶乎竹茹；吐衄崩漏，炒黑偕之柏葉。虛煩懊憹之不眠，香豉斯弼；熱厥心疼之無息，薑、連是匡。</p>
<p><u>石斛</u>（入胃、腎）</p>
<p>強陽益陰而壯筋骨，定志除驚而補五臟。治絕傷療軟，虛勞羸瘦兼醫；平胃氣生肌，皮膚邪熱盡除。腳膝痹弱須此，腸胃泄瀉堪醫。</p>
<p><u>石膏</u>（入肺、胃）</p>
<p>性秉陰寒，質偏重墜。佐芎藭則除頭痛，引升麻則治牙疼，合麥冬而消渴解，同人參而暑毒清。陽明實熱之傷寒，必藉苓、連與知母；太陰熱痰之發喘，須同甘、桔與麻黃。</p>
<p><u>黃柏</u>（入太陽經）</p>
<p>降腎家實火以滋陰，眩暈癆症俱效；去膀胱濕熱而潤燥，瘡疽痿躄皆靈。白帶協蓮房、牡蠣，黃疸夾梔子、茵陳。神哉吐衄，妙矣癃淋。</p>
<p><u>枇杷葉</u>（入肺、胃）</p>
<p>和暑嘔，大消燥渴；清肺熱，立定喘嗽。反胃與蘆根同用，痰火與麥冬並施。</p>
<p><u>天竹黃</u>（入心、肺）</p>
<p>療風熱，失音痰壅；養五臟，鎮心明目。小兒涼風與天弔客忤，丈夫清熱與止渴消癥。</p>
<p><u>淡竹葉</u></p>
<p>專通小便，兼解心煩。根能墮胎，孕婦忌服。</p>
<p><u>大力子</u>（入肺）</p>
<p>清痘毒而胎中淫火可降，利咽喉而膈上風痰可除。</p>
<p><u>蘆根</u>（入肺、胃、膀胱、腎）</p>
<p>下噎膈之痰，清吐逆之火。三陽秘結之靈丹，三消渴病之神品。</p>
<p><u>防己</u>（入膀胱）</p>
<p>祛下焦之濕，瀉血分之熱。理水腫腳氣，通二便閉結。木專治風，漢能利水。</p>
<p><u>忍冬花</u></p>
<p>起筋骨之痿疲，而身輕步健；祛肢體之風濕，而腫散痛止。屍注大有靈，鬼擊良多捷。血痢罔分虛實，瘡疽安問淺深。</p>
<p><u>白薇</u>（入胃）</p>
<p>療中風身熱支滿，祛邪氣寒熱痠疼。傷中淋露，溫瘧狂惑。下水氣總取益陰之功，治遺尿不拘胎前產後。</p>
<p><u>青黛</u>（入肝）</p>
<p>瀉肝火，解鬱結，吐紅疳痢與驚癇。除風熱，清發斑，殺蟲解毒與口疳。</p>

<h2>瀉實</h2>
<p><u>硝石</u>（入肺、心）</p>
<p>逐六腑積聚鬱而不解，滌腸胃飲食滯而不消。傷寒煩滿，可以成功；寒熱邪氣，必能驅逐。</p>
<p><u>芒硝</u></p>
<p>通經脈而利二便，行月水而治五淋。破腹中痰實，留血結搏而不解；祛五臟結聚，煩熱氣閉而能開。辛能潤燥，咸能軟堅。煅煉數次，即是玄明。</p>
<p><u>玄明粉</u>（入胃、大腸）</p>
<p>涼心膈而煩躁除，清腸胃而宿垢蕩。眸精紅可卻，惟宜實熱；胃脘痛能止，勿利虛寒。結痰之用，咸能軟堅也；結熱之加，咸能潤燥也。</p>
<p><u>巴豆</u>（入心）</p>
<p>盪滌五臟六腑之堅積，開通水穀道路之壅塞。傷寒溫瘧寒熱癥瘕而能消，結聚留飲痰癖水腫而能退。通月水，殺臟腑諸蟲；去惡肉，排癰疽膿腫。乃斬關奪門之將，有戡亂劫病之功。胎兒立墮，疔毒施抽。</p>
<p><u>大黃</u>（入脾、大腸）</p>
<p>祛積熱頑痰，下結便瘀血。傳裡傷寒，效若鼓桴之應；初成帶下，功同形影之隨。目紅腦烈，火熱方良；頭痛牙疼，風寒須避。吐衄雖靈，必審氣強氣弱；癰疽固善，還揆毒淺毒深。下走生施，上行酒製。</p>
<p><u>蘆薈</u>（入肺、胃）</p>
<p>去膈間熱氣而明目鎮心，治小兒諸熱而驚顛風癇。療五疳，殺三蟲，風熱食積並去；醫痔疾，卻瘻瘡，巴豆有毒能消。</p>

<h2>瀉水</h2>
<p><u>萆薢</u>（入肝、脾、胃）</p>
<p>祛風濕以除腰膝痠疼，筋舒步健；滲濕熱以清膀胱渾濁，帶止淋寧。</p>
<p><u>澤瀉</u>（入膀胱、小腸、腎）</p>
<p>驅心下伏水以消急滿，決脬中留垢以愈淋癃。佐黃柏而濕熱可清，同蒼朮而瀉痢能除。痰飲須夾半夏，腫脹兼和腹皮。以其嚮導於腎經，故克先容於熟地。</p>
<p><u>車前子</u>（入肺、肝、膀胱）</p>
<p>利小便而淋癃效，清濕熱而腫瀉除。雖同滲泄之儔，不走真元之氣。</p>
<p><u>木通</u>（入心、肺、小腸、膀胱）</p>
<p>泄小腸之熱，可心火自清；通諸經之竅，而瘀血自行。淋癃實者真驗，瀉腫暴者殊靈。瘍家以排膿解毒，女科以下乳通經。</p>
<p><u>瞿麥</u>（入小腸、膀胱）</p>
<p>關格癃閉而能通，小便熱淋而能止。下閉血，出木刺，能逐膀胱之邪。排癰腫，去目翳，可墮婦人之子。</p>
<p><u>燈心</u>（入心、肺）</p>
<p>清心必用，利水偏宜。燒灰吹喉痹，塗乳治夜啼。</p>
<p><u>滑石</u>（入肺、膀胱）</p>
<p>去膀胱留垢，熱閉之淋癃可除；清胃腑溽蒸，暑傷之吐利能療。漫言治渴，實火方良；雖曰行瘀，虛寒須避。</p>
<p><u>石韋</u>（入肺、膀胱）</p>
<p>下氣治煩，補五勞而安五臟；辟惡益精，開癃閉而治五淋。炒末飲酒可療發背。《本經》治勞熱邪氣，指勞力傷津，癃閉不通之熱邪而言。</p>
<p><u>秋葵子</u></p>
<p>通小便之淋，下胎衣不下。花消癰腫，油浸塗湯火之傷。</p>

<h2>潤下</h2>
<p><u>栝蔞實</u>（入肺）</p>
<p>清膈上凝結之頑痰，唾咯難出；潤喉間火燥之枯液，咳嗽無聲。陷心胸之邪熱，解乳癖之毒熱。上虞食減畏寒，嘔吐須忌；下防腸滑作瀉，開結偏靈。</p>
<p><u>胡麻</u></p>
<p>養血潤腸，燥結焦煩誠易退；補中益氣，風淫癱瘓豈難除？堅筋骨，明耳目，輕身不老；長肌肉，填腦髓，辟穀延年。生麻乳母常食，小兒永免瘡瘍。麻油熱者利大腸，下胞衣；生者摩瘡腫，生禿髮。</p>

<h2>降痰</h2>
<p><u>貝母</u>（入心、肺）</p>
<p>開肺中之郁痰，輔乎蘇、橘；解肺中之結熱，相以元、冬。瘡瘍家取之排毒，咽喉症尚之消壅。宣肺痿之聲音，清肺癰之膿血。</p>
<p><u>南星</u>（入肝）</p>
<p>治口眼喎斜與肢體麻痹不遂，療牙關緊急與心神昏迷難清。小兒驚搐如神，女子妊娠須忌。固宜於目暈頭眩，尤妙於耳鳴心悸。燥濕消痰，功逾半夏。半夏味辛而守，南星性烈而走。故須牛膽一制，庶幾燥烈全收。</p>
<p><u>膽星</u></p>
<p>取牛膽之苦寒，制南星之辛燥。膽有益肝鎮驚之功，星有消風利痰之力。驚風驚痰可治，虛火虛痰可療。要知南星治痰，能治有餘；膽星治痰，可治不足。如元實氣盛之人，遇風痰氣盛之症，非南星不散；如元虛氣弱之人，遇驚虛痰嗽之症，非膽星莫除。二星分用，不可不辨。</p>
<p><u>豬苓</u>（入脾、肺）</p>
<p>添半夏而痰飲消，佐腹皮而水腫退。收泄瀉之功，君宜白朮；奏淋癃之捷，佐賴車前。一曰汗多口渴者宜，以其小便數而濕熱之交勝；一曰汗多口渴者禁，以其小便長而津液之偏枯。久服喪明，多需戕腎。</p>
<p><u>佛耳子</u>（入肺）</p>
<p>下痰作喘，能祛肺脹；止哮發嗽，大救金瘡。</p>
<p><u>竹茹</u>（入肺、胃）</p>
<p>胸中痰熱而生嘔噦，管鮑之投；病後虛煩而發懊憹，期牙之遇。呃逆是火深懷望，脾胃果寒勿克當。</p>
<p><u>竹瀝</u>（入肺）</p>
<p>消經絡之痰以療淋痹，脾虛不食者何害？濡腸胃之燥以消煩渴，三陽閉結者尤當。耳鳴目暈金漿，天吊驚癇玉隨。中風而牙關緊閉，遊刃有餘；傷寒而狂熱兼痰，拾芥之易。</p>
<p><u>皂莢</u>（味辛而散，氣烈而鋒）</p>
<p>涎氣逆於胸膈，而牙噤無知；痰氣凝於經絡，而肢牽罔遂。師吐法則相雜乎礬石，處湯劑則連結乎南星。氣實猝倒醒魂丹，氣虛猝倒歸毒。</p>
<p><u>海石</u>（入肺）</p>
<p>結痰同礬石而能消，濕痰同半夏而能燥。降熱痰須和玄明粉，去頑痰當合栝蔞仁。入丸則可，入煎無益。</p>
<p><u>天花粉</u>（入肝、肺）</p>
<p>解瘡疽之毒而膿腫消，去心胸之熱而咳嗽絕。痰火藉以清，燥渴賴伊解。傷寒通用，瘟疫宜行。</p>

<h1>四、血劑</h1>

<h2>溫血</h2>
<p><u>乳香</u>（入心，通十二經）</p>
<p>調血氣而定諸經之痛，療諸瘡而除心腹之疼。活血舒筋，催生治痢。</p>
<p><u>當歸</u>（入心、肝、脾）</p>
<p>血藥之主帥，血病之總司。調百疾於胎前，療諸疴於產後。助黃耆名補血湯，虛熱多神；互芎藭稱佛手散，催生專善。諸痢藉之養血，諸瘡伏以和營。腰脊痛而血弱者可用，脾胃虛而濕盛者難從。</p>
<p><u>川芎</u>（入肝）</p>
<p>上行頭角，助清陽而止痛；下行血海，疏肝氣以調經。去諸風，兼能燥濕；和胎妊，抑善催生。合桃、紅而去舊，佐歸、地以生新。理鬱氣，除腹痛，故血中有氣藥之稱；散寒邪，發汗液，故久服有暴亡之禍。</p>
<p><u>大小薊</u>（入肝、脾）</p>
<p>大薊主癰腫而吐衄，除赤白之帶下。小薊專於破血，不能消腫。</p>
<p><u>澤蘭</u>（入肝、脾）</p>
<p>推陳血而不峻，生新血而不凝。產後蓐癆，為養榮之至寶；胎前怯弱，乃調經之佳珍。</p>

<h2>涼血</h2>
<p><u>生地黃</u>（入心、腎）</p>
<p>涼心火而除上溢下泄之血，滋腎水以療三焦五心之熱。卻胎前滲漏，調產後崩淋。經愆漸變癆症，多食始善；榮耗幾成燥症，久餌為良。生血涼血通宜，痰凝氣凝獨忌。</p>
<p><u>紅花</u>（入肝）</p>
<p>腰腹因血滯而疼，非伊莫治；頭目為血湧而暈，舍此何求？欲養血，勿多加；欲行血，勿少用。</p>
<p><u>赤芍</u>（入肝、肺）</p>
<p>去眸眥之赤熱，清臟腑之瘀紅。在瘍家有解毒之需，在女科有墮胎之說。</p>
<p><u>地榆</u>（入肝、心、肺、胃）</p>
<p>療崩帶與月水不止，清下焦而痢血腸紅。燒灰油調可治火燙，虛寒水瀉冷痢禁用。</p>
<p><u>槐花</u>（入肝、膽）</p>
<p>止便紅，除血痢，咸藉清腸之力；療五痔，明眼目，皆資滌熱之功。子名槐角，用頗相同，兼行血而降氣，亦催生而墮胎。枝主陰囊濕癢，葉醫疥癬疔疽。</p>
<p><u>側柏葉</u></p>
<p>止吐衄來紅，定崩淋下血。歷節風疼可愈，周身濕痹能安。柏子仁安神定悸，壯水強陽。潤血而容顏美少，補虛而耳目聰明。</p>
<p><u>茅根</u>（入肝、心）</p>
<p>治勞傷，補中益氣；除瘀血，利便通淋。止消渴，治傷寒呃逆喘噦；除吐衄，療黃疸水腫胃反。</p>
<p><u>紫菀</u>（入肺）</p>
<p>治肺痿聲嘶而膿中夾血，醫癆症火嗽而痰里兼紅。赤子驚癇曾有益，老人便結頗多功。</p>
<p><u>剪草</u>（色赤而甘，性涼而澀）</p>
<p>血之溢乎上竅者，不啻金丹之捷；血之泄乎下竅者，無過常藥之能。</p>
<p><u>女貞子實）（</u>（入肝、腎）</p>
<p>清肺火，腸紅有驗；補肝血，黑髮多功。伴地黃、首烏能補腎虛，固益智、金櫻滑精堪醫。</p>

<h2>下血</h2>
<p><u>紫參</u></p>
<p>通九竅，利二便，心腹積聚能消；行血閉，止血衄，寒熱邪氣可療。</p>
<p><u>鬱金</u>（入心、肺）</p>
<p>破惡積之血，除尿淋之紅。宿血心痛，加薑汁而有效；痰中帶血，入竹瀝而有良。</p>
<p><u>三稜</u></p>
<p>逐年壯之積聚，破氣實之癥瘕。瘡科用此而潰堅消腫，女科藉此而破血通經。</p>
<p><u>蓬朮</u></p>
<p>削堅積而通瘀血，捷似風行；宣滯氣而蠲腹痛，幾同雷迅。血實經閉者近之，氣弱重身者遠之。</p>
<p><u>黃姜</u></p>
<p>祛邪辟惡，風痹臂痛。產後敗血攻心，癰疽撲損消瘀。</p>
<p><u>蒲黃</u>（入肝）</p>
<p>生則破血消腫，炒黑補血止紅。協五靈療兒枕塊痛，同乾薑摻舌脹滿口。</p>
<p><u>丹參</u>（入心、肝）</p>
<p>安神散結，益氣養陰。破宿生新，癥瘕積聚能除；安胎墮死，血崩帶下可止。</p>
<p><u>益母草</u>（入肝）</p>
<p>行血不傷，補血不滯。蠲血痛於腰腹，不拘虛實；調愆期之經脈，無問後先。未產投之而不致難生，既產用之而無虞他病。</p>
<p><u>劉寄奴</u></p>
<p>治心腹之刺痛，而下氣固速；破經絡之瘀血，而止痢尤神。</p>
<p><u>蘇木</u>（入脾、肺、腎）</p>
<p>宣表裡之風邪，除新舊之瘀血。</p>
<p><u>沒藥</u></p>
<p>療產後惡露不通，治跌撲血滯腫痛。去瘀生肌，破血止疼。可攻目翳，堪墮胎兒。</p>
<p><u>血竭</u></p>
<p>瘀血伏其洋化，金瘡重其布仁。名號麒麟美色，宗於番降逼真。</p>
<p><u>桃仁</u>（入肝）</p>
<p>治血因氣滯而心腹堅疼，理血被風凝而皮膚燥癢。大腸血涸而難便固宜用，唇皮火燥而欲裂尤堪施。</p>
<p><u>郁李仁</u>（入肺、脾、大腸）</p>
<p>利小便之水而止周身之痛，潤大腸之燥而通氣血之結。</p>
<p><u>五靈脂</u>（入肝）</p>
<p>止血氣之痛，行冷滯之瘀。熟用止血，生用破瘀。</p>
<p><u>元胡索</u></p>
<p>行血中氣滯，破氣中血凝。調經候不利於胎前，清血瘀卻宜於產後。諸疝可痊，諸痛可投。</p>

<h1>五、雜劑</h1>

<h2>收斂</h2>
<p><u>五味子</u>（入肺）</p>
<p>保肺家耗散之金，而嗽久者尤善；補腎經枯涸之水，而精滑者為優。療神氣不足之昏眸，解津液不足之煩渴。共黃耆、酸棗能收虛汗之功，同肉果、吳萸可奏子泄之效。</p>
<p><u>五倍子</u></p>
<p>斂肺化痰，故止嗽有要；散熱生津，故止渴相宜。上下之血皆止，陰陽之汗咸瘳。瀉痢久而能斷，腫毒發而能消。糝口瘡須臾可食，洗脫肛頃刻能收。染鬚髮之白，治目爛之疴。</p>
<p><u>烏梅</u>（入肺、大腸）</p>
<p>收肺氣，除煩止渴；治瀉痢，調胃和中。治嘔吐蛔蟲，療下血腸紅。</p>
<p><u>牡蠣</u>（入肝、腎）</p>
<p>擅遺精之妙用，得斂汗之靈通。旋施漏下，漫治崩中。墜凝痰與脅肋，消瘰癧與喉嚨。</p>
<p><u>龍骨</u>（入心、腎、大腸）</p>
<p>固氣澀腸，脫肛之用；安神定魄，多夢之施。泄痢、遺精稱聖，盜汗、崩漏通神。驚癇狂顛，安神定魄，齒敢當之；完膚補漏，斂汗止血，骨將用也。</p>
<p><u>蛇床子</u>（入腎、脾）</p>
<p>服同補劑，興陽慓悍何當？末搽疥癩，燥濕干膿一捷。</p>
<p><u>伏龍肝</u>（入肝）</p>
<p>治崩中帶下，療尿血遺精。中惡反胃，濕毒諸瘡。</p>
<p><u>棗仁</u>（入心）</p>
<p>生心血以收虛汗，須同生地、黃耆；益中氣以御虛煩，賴佐人參、竹葉。定紛紜於夢寐，安神魄於怔忡。膽實多眠屬熱，生用為良；膽虛不睡為寒，炒則為善。</p>
<p><u>山茱萸</u>（入肝）</p>
<p>強腰足，起痿躄之痠疼；培腎肝，塞精髓之遺泄。療女子月信違期，治老人便多失節。目暗耳鳴，雜壯火之類；陽衰陰痿，入養火之門。</p>
<p><u>白芍</u>（入肝、脾）</p>
<p>清腸澼之便紅，療血虛之腹痛。盜汗則賴黃耆，失血則和生地。佐當歸而成補血之功，臣白朮而以致扶脾之益。新產與高年者勿用，秋冬及虛甚者毋投。</p>
<p><u>白礬</u></p>
<p>消痰止痢，滌熱祛風，收脫肛陰挺，理疥癬濕淫。</p>
<p><u>綠礬</u></p>
<p>化痰消積燥脾濕，黃疸腫脹兼破瘀。</p>

<h2>殺蟲</h2>
<p><u>使君子</u>（入胃）</p>
<p>殺諸蟲而不傷胃，療瀉痢而忌熱茶。</p>
<p><u>百部</u>（入肺）</p>
<p>治肺熱，咳嗽可止；消氣逆，骨蒸盡除。疳蛔寸白與傳屍，暴咳久嗽而立止。</p>
<p><u>檳榔</u>（入肺、脾）</p>
<p>走後重，殺三蟲。破滯氣而逐水，消宿食以墜痰。除嵐瘴痎瘧之戰慄，杜疝瘕腳氣之攻衝。積聚氣實則優，食減脾虛則咎。</p>

<h2>吐劑</h2>
<p><u>常山</u>（入肺）</p>
<p>截溫瘧之不已，夾攻須草果、檳榔；慮元氣之受傷，相劑必人參、白朮。此痰涎之劫藥，匪寒熱之神根。</p>

<h1>附反畏歌</h1>

<h2>十八反歌</h2>
<p>本草明言十八反，半蔞貝蘞及攻烏（烏頭反半夏、瓜蔞、貝母、白蘞、白及）。藻戟遂芫俱反草（甘草反海藻、大戟、甘遂、芫花），諸參辛芍叛藜蘆（藜蘆反人參、沙參、苦參、丹參、細辛、芍藥）。</p>

<h2>十九畏歌</h2>
<p>硫黃原是火之精，朴硝一遇便相爭。水銀不與砒霜共，狼毒怕見密陀僧。巴豆性烈最為猛，偏與牽牛不順情。丁香弗使鬱金見，牙硝難合荊三稜。川烏草烏不共犀（犀角），人參最怕五靈脂。官桂善能調冷氣，若逢石脂便相斯。</p>
