<header data-type="book">
<h1>靖庵說醫</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>周聲溢</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>姚序</h1>
<p>惜抱先生嘗言，醫之為道至精且厚，苟非慈明篤厚之君子，不能究其義，雖有慈明篤厚之心，苟不世業而少習，猶不能盡其曲折變移之理，審其幾微而察其離合。余因慨夫中國士大夫視醫為曲技，習之者往往挾負販之心，作身口之計，故其道益微，其術亦因而寡驗。自西方之術入中國，藥物、器械、居處、飲食皆精好有法度，用之而多效，群以為中國醫術不如遠甚，又孰知夫聖人之制久而失傳，習之者又多非其人也。使得明王在上，博求慈明篤厚之君子，設科而世守之，因其遺書博稽精研，而取證西方之術於先聖之業，縱不能驟明，十可得五六焉。長沙周郢生大令嘗宰吾邑，間為余稱其弟□生中書，通《說文》工小篆，大父少呂先生故名醫也，中書盡得其秘，余心識之，今年與大令相遇京師，出中書二書，曰《靖庵說醫》、《醫學實驗》，乞余為序，其詞斐然有根本，又多得於躬驗，非所謂慈明篤厚之君子世業而少習者耶，惜乎君已前卒，余也寡陋，不能如惜抱少覽方書，無以窺見君之所得也，乃述往者私懷所蘊，書以歸之郢生云。</p>
<p><u>己未中秋桐城姚永概</u></p>

<h1>汪序</h1>
<p>《內經》言醫理，推本陰陽。外之淫於六氣，內之傷於七情，皆得以陰陽之理賅之，而文義古奧，後人苦其難讀，遂謂五運六氣之說羌無故實，舍正路而不由，自以為循曲徑而求通，別有其筒易之道，於是醫家之偏僻謬妄者，或師心自用，或立異鳴高，亙數千年而不可究詰。豈知病必有其所由來，亦必有其所由受，人身皮毛、肌肉、關節、經絡之不同，與表裡、上下、左右、深淺之各異，病之來也各有其因，而其受之也亦各有其處，不知其因復不知其處，是必舍病不治而轉傷其無病之臟腑，是醫藥非所以生人而轉以殺人矣，奚其可哉？昌嘗謂《內經》者醫之體也，而其用則為仲師之《傷寒論》，傷寒分三陰三陽以論治，舉凡經之為病，氣之為病，表之為病，里之為病，腑之為病，以逮合病並病，無不有其規矩，言傷寒而雜病賅焉，但但然至簡至易之道也，然而難為俗人言之，斯醫術之不幸，而斯人之大不幸也。昌也蓋不勝風雨雞鳴之感，垂五十年矣。乃者嘗與長沙周云隱先生遇，與論醫而合，蓋其體《內經》而用《傷寒論》也，又能神明於規矩，心嚮往之，無何先生歸道山，越七年先生之子筠伯輯先生所為醫學二書，將付梓人而來請序，莊誦一過，其所得於《內經》、《傷寒》者不獨升堂且入於室，歡喜讚歎，未能自己，謹述所懷以為之序。</p>
<p><u>癸亥立冬前十日婺源汪岩昌時年七十有六</u></p>

<h1>郭序</h1>
<p>善化周君筠伯弟，錄先德云隱中書《靖庵說醫》、《醫學實驗》二書，余既從受讀，詳其大要，蓋□[音研，摩也。〕精《靈素》以肢體之全，通變張機《傷寒》以盡用之大，而□［音淫，深也。〕戒墨守，一篇之中三致意焉，先是中書大父少呂贈公以醫術名世，顧未有書，輒時從所得諸傳聞，窺探施治之奧，齊□之宜，默識心通，隱如及親承教，先世絕業遂復大光，為人疏方，每多懸解，見者始或吒怪，異古師說，既乃大服無間言，昔墨翟、莊周，博極群書，及各引臾（同搜）古誼成一家言，並糟粕陳言，規□學人廢讀，是拘牽文句之中，無能通意文句之外，其流之弊將不可勝嘆，況於消息陰陽之微，剖析形氣之變，衡量藥味之滋，神而明之存乎其人，尤難為泥執乎，中書反復發正，戒無輕言治醫，特自揭所心得，開示途徑之從入，壹原本五學，無待它求，能精五學，推而致之，醫有餘師焉。五學未明，貿然覬醫，專精終必不能為十全也。雖不為醫，循五學以講於生之自衛，抑病可卻年可延，亦絕殊專務怪迂之蔽惑已。班固敘方技為四種，《醫經》原血脈、經絡、骨髓之本，經方辨五苦六辛水火之齊（劑），此切脈服藥以起疾者也，得中書為發凡起例，然後黃農之秘可得而述，即論病及國，原診知政，且鑿然內信於心，皆有徵驗矣。房中節外樂內情之淫，神仙保賦性受命之真，此調息窒欲以衛生者也，得中書為挈綱舉要，然後廢絕諸誕欺謬悠之文，反求之五學，皆生生之具，烏睹取效有後房中神仙哉！是故中書操術，世頗驚歎其神奇，及徵考遺說，固自平實有徹跡可循，聖王之所以教王宮之一守、賴以不隊（墜）失，豈僅能世其業、張一家之私說歟。而醫人讀之，不迷於受，方無患為罔；病夫讀之，粗明病所從受，亦無患為殆。中書之耋一世於無涯之年，功亦豈在禹下耶！中書其它撰述甚富，筠伯以是二書最為切要，先殺青以傳，可謂善繼述者也，故為敘，列其大指，俾覽者知所折衷焉。</p>
<p><u>甲子冬湘陰郭焯瑩敘</u></p>

<h1>靖庵說醫</h1>
<p>醫之為道，至繁雜也，至簡要也，至活潑也，至一定而不可移易也。《易》曰「《易》之為書也不可遠，為道也屢遷，變動不居，周流六虛，上下無常，剛柔相易，不可為典要，唯變所適。」又曰「初率其辭，而揆其方，既有典常，苟非其人，道不虛行。」明乎此理，而後可與說醫。</p>
<p>以血流漂杵之法讀醫書，謂之無罪而戮民。</p>
<p>少年之子弟學書不成，無業可執，父兄乃命之以學醫，是害其子弟也，又害其子弟以害及於人也。又或廣開學舍，任人入學以學醫，其學問程度如何？其識解高下如何？皆置之不問，貿貿焉授之以醫書，命之以切脈，是誤人子弟也，又推其誤以誤病家之人，豈不謬哉！</p>
<p>輕浮乖謬不可學醫，迂牽固執亦不可學醫，豪放自喜不可學醫，謹慎太過尤不可學醫。必也心光靈敏，精氣完足，學問明通，識解超邁，而又處之以決斷，無遊移畏葸，夫如是而後可與說醫，而後可以學醫。</p>
<p>既有是數者，而後可以學醫矣，則必有一片慈祥愷悌之衷腸，又必有一種體貼周密之情意，夫如是而後可以救人，夫如是而後可以濟世。</p>
<p>有利市之心者，不可以學醫，吾治其疾而瘳焉，彼感吾之德而有所饋遺，吾則受之而心安；吾無其術而徒索其金，則其心不可問矣。遑問其術哉？天下何術不可操，而必操此毫釐千里之術何哉？謂確有所見，而用方有秩序，補泄有遲早是也，若故稽延其疾而好為再三之說，留其劑以為索金之地，其術雖精，其心實謬，吾果精吾之術，而飢餓不能出門戶，儕輩中亦斷無不相扶持之理，而況必無其事耶？而何苦孜孜焉，亟亟焉，以效市井闤闠（街市之謂）之所為耶。</p>
<p>盡信書則不如無書，醫書尤甚，最可怪者，四子書五經之類，一切背之而馳，獨醫書則斤斤墨守，不敢稍出其範圍，此何說也，醫書之自鄶者無論矣。《靈樞》、《素問》醫書之至古者也，黃岐距今幾何年，中間又遭嬴火，古籍簡版零星，安知無遺失殘缺之病，其上者穿鑿附會以求其通，其下者則抱殘守缺以傳其謬。仲景醫中之最古而最良者也，《傷寒》、《金匱》距今幾何年，雖較黃岐為近，而中更數代，坊市流傳，安保其毫無差謬耶？況方劑之升斗斤銖，其數目有毫釐千里之謬耶，是故讀書者，當觀其通，通者玩而味之，疑者闕之，無強通其所不通，無強疑其無可疑。大抵通者，理之近於人情者也，疑者事之乖於日用者也。若夫升斗斤銖，本不符於今日之用，又安用斷斷以察之。</p>
<p>萬事萬物之理，皆通於醫，聖經賢傳之旨亦通於醫，《易》曰「化而裁之，存乎變；推而行之，存乎通；神而明之，存乎其人；默而成之，不言而信，存乎德行。」此非理之通於醫者乎？不言而信存乎德行，學問效驗皆在乎此，學者深味而自得之，吾不能言其所以然也。</p>
<p>記問之學，不足以為人師，古不重記問也。若夫醫則不得不講求記問之學矣，醫家之書，充棟汗牛，安得一一而記之。記也者，記其理道之至精而至通者也。若方劑之蕪雜，草木金石之繁瑣，記其小者粗者，忘其大者精者，安能濟哉？執其簡以馭其繁，握其一以驅其萬，提挈綱領，變化貫通，亦何用乎委瑣齷齪之為耶？陋者恐不能記，乃約舉其名物編為歌辭，以利學者，何其愚歟！</p>
<p>醫以切脈為最要，脈以平人之脈為最准，多切平人之脈定為宗主，過與不及病乃生焉。過者為急為數，不及者為遲為沉。若浮也、洪也、弦也過之類也；若細也、緊也、濡也不及之類也。平人之脈維何？和而緩也，秦醫謂之和緩者，非真名為和緩，蓋脈貴和緩，故藉此以為秦醫之名，以便於敘記，亦猶蒙莊所謂臧榖牧羊，臧榖乃寓言耳。</p>
<p>有過與不及之脈，乃有過與不及之症，是何種脈是何種症，是何種方劑，三者合而病愈焉。東脈而西症者有之矣，東脈而西症而又南北其方劑可乎哉？如此脈而如此症者常也，如此脈而不如此症者亦常也，是所以貴乎問也，有與症相反之脈則有與症相聯之症，有此症必有彼症，此所謂相聯也。要而言之，有脈中之理，即有脈外之理，詳考而慎察之，徹照而敏思之，自有特見，無難施劑而立愈也，然非聰悟沉摯之人，不足語此。</p>
<p>說病非易易也，病家只求其病之瘳，情急語亂，忽東而忽西，顧此而遺彼，不成條理，不成片段，無足怪也。醫者毫無把握，不知頭腦，零星而記之，記一症則施一藥，立方之時，病家才言尚有某症，則補一藥，立方之後，方已交於病家，忽云尚須加一品，否則又刪去一品，又否則增減其分兩，何其傎也，是皆不知宗主，臨病則拉雜以進，其貽笑識者匪淺鮮也。切其脈問其脈象應有之症，定其脈之落干某家，考其病之因何而起，提其綱領，刪其一切，或補或瀉，直搗其巢，如是焉有不起沉疴而立愈者哉。</p>
<p>病家不知病情，不識方劑，其心中已皇皇然，而醫者尚以危辭聳之，謂此病宜早防，須防危險，以為將來雖死而無惡於我之地位，究之其病非危症也，其症無險象也，即令危險或病家不知病情、不知脈象，徒震於外貌而兢兢焉，以為可慮又或真危矣真險矣。病家恃醫以為活，而醫者則屢聘之而不應，是皆無當於事情也，歐陽文忠公之言曰「求其生而不得，則死者與我皆無憾也。」醫者當以此二語為施治之先河，不求其生是不仁也，不能求其生是不智也，吾竭吾之學，吾盡吾之心，萬計千方，雖繁不憚，真無可救，則是文忠公之所言也，吾無罪焉耳。醫者殺人之術，醫者又仁術也，只問其學之精與不精，其道之大與不大，其識之確與不確，其心之仁與不仁，仁術與殺機決之於此而已矣。</p>
<p>病家之人其長者為一家之主，有關係者也，病則鄭重以將之，理之常也，或為其婦，或為其子孫，或為其所屬，其長者愛憐而護惜之，相與為休慼，其關係亦不可謂不重且大，何者？長者之生命繫於其所屬之人也。醫臨病家，其家中之性命皆托於醫者之一身，醫者不鄭重以將之，是醫之罪也。病家出以輕心，一切簡率，禮貌不及，形神不屬，是則病家之罪也。病家心誠求之，醫者至誠無二，誠與誠相感而相應，自有一種可以已疾之理，方劑之施，猶其次耳。吾不敢自褻其道，吾不敢自貶其心，慎重不慎重，吾一見而知之，無所逃也。</p>
<p>欲學醫而不通理道、不達人情，皆不足與於斯也。五經四子書、諸子百家，醫學之源也，尋常日用，萬事萬物，醫學之輔也，學問閱歷相輔而相成，其識自高，其理自足，若夫墨守醫書，強記方劑，即精矣，亦一隅之學也，而況其斷不能精耶。</p>
<p>切其脈有何象，即應有何證，依其脈以叩之，殆十中八九矣，不知者以為神也，而不知此樸實之理也，非神也。至其神妙之處，則筆墨不能傳，口舌不能宣也。吾於病家敘脈象，有云左尺無秩序，有云肝脈有非旺非郁之象，此乃窮於詞也，不得已也，其真象余獨知之，不能共喻諸人人，吾更服吾祖之精幹醫學而一無著述，職是故也。</p>
<p>《驗方新編》俗書也，一方也臧服之而效，榖服之而不效，是刻舟求劍之說也。症之種類，有千有萬，以治臧之法，治榖猶且不可，況以渺冥恍惚之道行之哉！其所列之證，與所見之證，與之相合矣；其所列之方，與所見之證必不合也，即合矣亦幸而偶中也，必未可嘗試也。且也有陰症似陽、陽症似陰、實症似虛、虛症似實，舍脈從症、舍症從脈之各各分別，以俗書中所列之方投之，輕則錯誤而延其病，重則可以殞命戕生，夫豈可苟焉己乎？天下事有可以抱此俗書而可以不延醫者乎？誠如是也，則醫可廢矣。以是知切脈不可不講求也，不工其切脈之術，而漫焉以臨，是其與俗書何以異？</p>
<p>五臟心最無病，心之用至靈而其質最頑，有包絡又有連網以障護之，陰陽寒暑之所不能侵也；其次腎無病，腎之部位極深邃，呼吸之間必有邪氣下吸於腎，而腎獨不受，呼吸之氣所以養腎之真元，正氣則納之，邪氣則隨呼氣而出，故腎得不病；肺之百葉，有開有合，風寒乘之則病，燥火乘之則病，故肺間有病者，以有開合之故；多病者莫如肝脾，脾主飲食，肝主憂慮，二者無日無之，無時無之，脾病不能食，肝病不能眠，兩家最易病也。脾病易愈，肝病難愈。蓋脾主運動，水穀易滯，又或加以酒傷，故運用不靈，其病多滯；肝主疏泄，太過則旺，不能疏泄則鬱，鬱則其病疼痛，旺則其病昏眩。脾只一病，肝有二病也，脾性惡濕喜燥，得苓朮而掉運即靈。肝藏血，血漸減漸少，肝遂失其所養而病乃叢生，此兩家之病其愈有難易也，養生之法，飲食得宜，脾不受病；思慮不過，肝不受病，則眠食皆安，百病無自而生矣。</p>
<p>肝氣太旺則燥，太遏則鬱，燥與郁均不得眠矣。肝氣和則血足，血足則陰氣足，陰氣足則鼾睡，鼾睡則仍生血。余嘗有言，「服熟地一兩，不如鼾睡終宵」，此自然之生血，較之服藥有天淵之別也。</p>
<p>凡病不能食猶可言也，不能眠則病甚矣。不病而不眠猶可致病，況病而不眠乎？脾氣可以固，至七日不食，尚不足慮，七日之內病除則能食矣。若一宵不眠，肝不得安，血無以養，陰氣不潛，水火不交，病只一二分，不眠則又加一二分，是以不眠甚於不食也。</p>
<p>脾之化谷易化水難，水亦有精粗之分，其粗者由小便出矣，精華則輸入皮膚骨髓以滋潤澤者也。化水則須火足，火足則水質之清濁分，火不足則不能化水，水將氾濫，且恐奪真水之權也。</p>
<p>酒傷脾何也？酒有水氣有烈氣，胃喜燥，故酒之烈氣胃受之，水就下，故酒之水氣脾受之。酒氣烈，胃必求救，故劇飲，時喜食水果，而果之水氣脾又受之，其冷性脾雙受之。飲酒太過，胃燥脾濕，遂成關格之症，此症最不易愈，以浸積之太深也。胃性雖喜燥，而津液不可枯，胃管如鄉間所用油筒，其中潤澤如油，食乃易下，如人食飯，食人五六十粒，用齒力齧爛者，不過十成之二三，其餘未齧者，則恃此津液以溜下之，傳至胃囊口而少停焉，如燥太過，而津液漸枯，則所食之物先不得入胃管之口，已入胃管又不得傳入胃囊，於是有反胃嘔吐之症。好飲者不能勝酒，則必好吐，屢飲而屢吐，胃氣之逆，習慣為常，於是津液枯矣。津液既枯而胃管之中，變成一干枯蹇澀之象，如牛皮之底裡，其艱苦殆不可，言狀，始而嘔吐，後並不能嘔吐，且有見食而不敢食之時，顛連困苦，將以餓終，可不懼哉！</p>
<p>罌粟之害，亦有與酒同者，罌粟性寒而兼澀，最傷脾土，（種罌粟之地，不能別種稻麥，即此理。）食時與燈火相近，燈火之燥氣胃受之，食罌粟者好食茶、好食水果，亦胃求救也。胃之津液漸枯，又加以脾之寒濕，脾濕胃燥亦關格之機也，此理之斷然不爽者，菸酒兩嗜則更重矣。</p>
<p>心肺居上焦，脾肝居中焦，腎之水火居下焦，肝為心母，腎為肝母，脾為肺母，肺為腎母，子病補母，母病瀉子，其理固通，然肝脾肺腎各有自病之原因，金水雖相生，然腎病只補氣而不滋水可乎？土金雖通氣，然脾病只補肺而不扶脾可乎？惟心家之病可以責之於肝，如心煩、心悸等症，則專理肝氣亦可愈，不必贅以心家之藥也。切脈之道，兩尺無病者多，其病者，兩關累之也，或脾滯鬱火、肝鬱遏水，或脾旺生火、肝旺爍水，此類症殆十常七八左寸旺，是肝累之，右寸旺則脾火上升，或屬自病；左寸短是心血虛，右寸閉是風寒結澀，此尺寸兩脈之大概情形也。若夫兩關之脈，脾之滯、肝之旺與郁其常也，脾滯亦弦，弦則痰壅之也；脾滯亦緊，緊則寒束之也；肝脈之弦為本象，肝脈之郁，不得遂其疏泄也，肝脈之澀則血虛也，肝脈之浮則未善睡也，此兩關脈之大概情形也。皆舉其極粗淺者言之。若夫補土以培木，滋水以熄火，壯水以澤土，此則理道之稍進者，實驗中不少此類，此則非徵實不足以明斯理也。</p>
<p>心家真病近無此症，心家所謂病者，不過微有火象，心本火體，其象本散，是炎上之勢，無真散也。凡心病氣，則調理肝氣，血則滋補肝血；夢遺是心病，君火為之也；自遺是腎病，相火為之也，治遺病必須用君相調和之法，徒澀無益也。</p>
<p>腎火旺則泄之，腎水涸則滋之，壯腎水以泄腎火，澤肺金以滋腎水，此探原之法也。</p>
<p>眠睡之安不安，肝主之，故睡夢之中，惟遺精與流淚兩者與醒時無異，淚為肝之液，精為肝之血，故真也。睡何以夢？魂為之也。肝主睡，肝藏魂，故睡後魂遊，血足者無夢，魂不得動也。老人多夢，血虛也；孩兒易驚，血未長足，不能定魂也；夢多異境，肝能構象也；夢登高而忽墜者，魂驚也。莊子曰「至人無夢」，其說不可信，脾開竅於口，肺開竅於鼻，肝開竅於目，腎開竅於耳，心開竅於舌，舌無竅，寄竅於耳，心肝腎之竅，其經絡從何而來？皆從咽喉而來也，咽喉為各竅之總門，咽只通肺，喉則各家皆通，何以驗之？以黃連水塗於目而喉間知苦；以小毛帚掃於耳，而喉癢發咳；大笑之後，眼淚交流；嚏涕之時，耳門閉氣，是知各竅皆相通也，即此可知喉症之變，以喉症專屬脾熱者，可以恍然悟矣。</p>
<p>人有初睡著而忽醒，醒片刻而仍睡著，何也？陰氣稍不足爾，將睡之時，陽氣歸於命門，陰氣不足，不能驟與陽氣洽，故陽氣仍出而醒，譬之賓客初來，主人不甚殷勤則客去，主人已覺，再有客至則相孕洽矣。</p>
<p>心火散體，入夏火司令，故尤散。生脈散之五味子斂之也，心家之藥品多斂，心主脈，斂則脈生矣。</p>
<p>兩乳之間謂之膻中，膻中者大氣之所在也，大氣亦謂之宗氣，宗氣所在之處如遊絲如棉絮，不密不疏，空中盪漾，養之得法，其和自和，若有邪氣，則正氣漸退，正氣求伸，與邪氣爭竟，則有痛症，俗家不知，謂之心痛，又謂之胃氣痛，皆非也，因而知桂枝湯之可以治大氣也，桂枝祛邪，白芍斂正，甘草和中，而大氣之痛止矣。今人稍有寒疾或有他症，輒曰氣悶，曰胸口不開闊，曰兩肋脹痛，皆大氣之病也。</p>
<p>凡症有一寒症，即有一熱症，如厥寒症也，而亦有熱症，蓋熱氣結於中焦故厥也。泄寒症也，而亦有熱症，蓋熱氣逼於脾家，脾不能化故泄也。便結熱症也，而亦有寒症，蓋寒氣凝結於大腸或肺為寒所閉故結也。白喉喉痛熱症也，而亦有寒症，蓋寒氣鬱結蒸而為白逼而致痛，故白而痛也。他如咳嗽有寒症有燥症，又有肝風入肺之症，又有胃風之症。嘔吐有寒症有熱症，又有風氣上逆之症。凡症不可執一以求之，則切脈之道為最要也。</p>
<p>氣腫尚可治也，水腫難治，肺主皮膚，益氣散氣尚易，施力水腫則不易易也，扶脾氣使之化水，而既腫難化，欲引入小腸，則既已氾濫，引之未見其從令也。水腫雖為水，然仍氣也，所飲之水脾化之肺統之，脾病不能化水，肺亦不能統水，水反侵蝕肺氣，奪其主掌皮膚之權。氣腫有夜起早消，早起夜消之時，水腫則無時而消也。水腫既久氾濫，足以奪真水之權，故並小便而亦澀也，迨至皮膚潰裂，水流不止，則苦不勝言而亦無可施救矣。</p>
<p>臟腑者，有定者也；脈症者，無定者也，知有定者受氣之理，而後知無定者受病之因。</p>
<p>醫者坐於家中，不知病者之何所病也，亦如學子應試，不知試官之試以何種學問也，是病者之病無定也。醫者一入病者之家，則病者之或寒或熱或虛或實，病者反處於有定，而於是醫者之靈機妙用，運掉活潑，得以展布於一時，始則醫有定而病無定，繼則病有定而醫無定。醫者活人之術也，切脈不活，運藥不活，又安能活人乎？故醫者當思所以執簡馭繁之法，執醫馭病而頭緒繁多，將如之何而後可哉。</p>
<p>醫者第一不可輕用補藥，第二不可好用凝滯之藥品，第三不可將陽病引入陰分，如是三者皆謂之無識。補藥不可輕用，亦有時可以不用，病去則不藥，以飲食起居調理之足矣，病者不明醫學，貿貿然曰當補，醫者則從而和之，亦曰當補，試問一器也，破爛則命工人補之，未破爛何以補乎？器之中尚有垃圾之未淨也，而遽施以綴補乎？嘗見有太陽、少陽之症，不為之表散，誤投補劑，後竟成瘵，以此殺人絞也，非斬也，何也？必歷之又久而後死也。此補劑不可輕投之說也。人之一身，其血氣周流而不息，無時或停者也，停則病生焉，於是乎有食滯，有氣滯，有風寒之滯，有臟腑之滯，有經絡之滯，婦女之停經，小兒之驚風，無一不由於滯者也，然此猶半由於自滯也，其一半則由於誤投凝滯之藥品也，乾坤之旋轉，日月之運行，夫豈可少有滯機乎哉？小而言之，西人之鐘表，無時而可停也，修理鐘表，曾試用中國油，今統用外國油，取其清薄如水，無一毫稠濃之弊，蓋深恐膠黏稠滯不利於行機也，由是而推，便可知人身運行之理，便可知醫病之理，尤可知醫病而不宜凝滯之理，此不可好用凝滯藥品之說也。一表症而誤用當歸，一咳症而誤用阿膠，皆引陽病而入陰分者也，既入陰分，再誤其劑，則愈久而愈深，雖搜之剔之而莫能出，既莫能出而臟腑已受其傷，甚至有因此而戕生殞命者，吾所見亦既多矣，此不可將陽病引入陰分之說也。此三者尚為極淺近極顯豁之弊，而其極至於殺人而不覺，此則識見不及於眉睫，學問不得其要領，余特揭而出之，能識此三者則病易愈而劑不至於亂投；不能識此三者，雖凝思渺慮而不能知其所以然，而病家之病乃日延而日深，至於無可救，雖有善者，無如之何，亦徒嘆其愛莫能助而已矣，可無懼哉！</p>
<p>誤服方劑而死者，余得見三人焉（此指今年而言），一寧波之孫姓，餘四月往診。其病起於舊年二月，初起咳嗽而已自服梨汁、杏仁之屬，亦勿藥也，至四月而更劇，蓋寒氣入肺，未經表解，遽服清潤之品，寒已盤據干肺家而不得出，由是眾醫施治，百劑雜投，病象日劇而日深。延余往診之時，形容瘦削，神氣疲□，不可言狀，症則少食而不能眠也，脈則細數而無秩序也，百症之雜，殆不可以更僕數，余亦明知其不能治，而其妻泣涕而請之，姑為之調達其肝，扶助其脾，姑慰其侍疾者之心，而吾已計無所出矣，邪據其室，正棄其權，扶正則礙干將傾之廈，逐邪則礙於已覆之巢，兩無所施，束手無策，只得以和氣血無弊，而微可取效之品投之而已，半月之中，屢強請而屢應之，至第四次，而症愈劇，脈愈不可言狀，余不立方，又強請之，余曰此敷衍之說也，越日而卒，此孫性之事也。</p>
<p>一長沙之黃姓，四月得咯血之症，六月初延余診治，細察其面，榮似無病者，然臥不能起，入夜便發熱、口渴、目不交睫者已半月矣。其證則因四月咯血一次，幾近兩面盆，神氣不得支持，蓋系用心太過所致，脈則左甚數，右亦無神，而肝脈獨細，左尺寸均不好看，其夫人乃出其所服之方以示余，曰：「初起則服此方也。」蓋不知其病之發於肝，而專潤其肺，肝有病而不得治，肺無病而誤治之。又曰「繼而服此方也」，則有參耆苓朮之屬焉，蓋肺得潤劑自神疲而氣短，於是乃扶助其脾肺之氣，不知肝之失血過多，妄投參耆，失其所養，陰氣其能受乎？又曰「繼而服此方也，」則有熟地、龜板之屬焉，蓋陰氣不能受參耆之升提，則陰將漸涸，以其不能睡也。於是借龜、地以潛其陰，究之病在肝而不在肺，入手便錯，後則一誤於參、耆之升陽，再誤於龜、地之潛陰，升陽則肝腎受其累，潛陰則脾肺受其累，此病為藥累，馴至於不可治，其夫人甚以余言為然，然已無可施治，已肝無血以養心，腎無水以養肝，肺無力以生水，脾無力以生金，是絕症也，余開一雙關飲以敷衍之，越三日而卒，此黃姓之事也。</p>
<p>一為余之侄曾孫，僅三歲，端午日食鹽蛋米粽，已受其滯不覺也，醫者未知其滯，只覺其虛，乃以六君子湯又十全大補湯又六味地黃丸雜投亂進，久之而臍下有一塊，亦不覺痛楚，乳媼重按之始微有所痛，一切如常人，亦不覺其病也，至中秋後而痛作矣，患痢症氣墜特甚，時坐於桶不肯起，延余往診，則正以參耆附桂之劑進也，余曰「手足左熱而右冷，口乾發渴而氣墜，此中焦之不通利也。」余謂侄孫女曰「竅將閉矣，行將起驚矣，以通利中焦之劑投之無濟也。」越日而死。此余之侄曾孫之事也。觀此三事，症絕而脈不遽絕，死機早伏，而猶懵懵焉，妄投其劑，豈不可哀也哉。</p>
<p>海上之風，受之者無不病也，而東方為尤烈，蓋東方大海一無遮蔽，自東來之風，有潮濕氣、水濕氣、寒氣、熱氣（自空處來故寒，自日中來故熱），凡致病之氣無不備，明其受風致病之原，乃得醫病驅風之理。</p>
<p>有人以陽痿症問余曰：「此病確係火衰乎？鹿茸可服乎？」余曰：「此病謂之火衰固亦有近似處，然專服補陽補火之品則非徒無益而且有害。」間曰「何也？」余曰：「生殖器為海綿體，非血壯不得舉，其舉也，血力盡灌注於此，君火相火皆運籌帷幄者也，其決勝千里者則血也，血之熱力足則生殖器無痿理也，譬如凡機器之行，火力最要而水力萬不可少，此即可以悟陰陽相需二者不可缺一之理，是則治痿症，不可不大補陰血也，專補陽火無濟也，若服鹿茸則非以龜板膠合服不可，且鹿不過五之一，龜則可以五之三也。」</p>
<p>東西南北四方之人，賦性既異，賦質亦不同，此理之固然也，然極北多燥，而近亦有濕症；極南多火，而近亦有寒症。非時候之不同也，蓋風寒暑濕燥火六者未必能擇人而施之也，不過北多燥而南多火耳。楚有沉溺重墜之疾固也，齊侯之疥非濕症乎？孔子之疾病，伯牛之有疾，惜乎不傳其症也，顏子之短命，從者之莫興，亦惜乎不言其所以然也。</p>
<p>醫者有一大忌，最忌以自己之體氣繩他人之體氣，吾見因此貽誤者蓋不少矣。我最宜於附片，而以附片施於人人；我最宜於大黃，而以大黃施於人人，何其紕繆之至於如此也，其不通孰大如是，世俗之論輒曰：「某也，補藥醫也；某也，熱藥醫也；某也，涼藥醫也。」世俗不知醫，固無足怪，然循名以覈實，則其平日之近於一偏，殆其習慣耳，執一偏以臨病家，安得天下之病盡吻合於我所操之術哉！世俗更有一論曰「此看書之醫也。」據表面聽之，其詞非不美，醫而能看書豈非良善，然實則曰此醫也，食古不化也，世俗亦未知食古不化之何說，然此醫平日醫病之無甚效驗概可想見，彼以一症來，我以一方與之，症與方合，服之而效，亦安有此譏諷之談哉？</p>
<p>病之得於人也，千奇萬怪，至無方也，我之醫其病也，千頭萬緒有一定者也，東其病而西其方，張其方而李其病，其悖謬固不待言矣。或臨一症而不得其要領，症症而治之，治一家而不知其生克，家家而醫之，究之方則叢雜而大多，藥則牽制而相礙，此則無論其不效也，即效矣亦節節為營之法，易一症則束手矣，再易一症則辭之矣。治病治其筋節得其筋節，餘症則不治亦當愈，取效取其最先，雜症則治之無妨緩，此不可不知也，此至簡而至要之法也。</p>
<p>腫家之脈不能切也，其兩手皆腫矣，何從而切其脈乎？不切其脈又何從而施治乎？未切脈時先令侍疾者舉其兩手，令其腫氣退至尺澤，不過數十分鐘而脈現矣。</p>
<p>脾肝兩家病最多而最要，前既已言之矣。余再申其說，而罕譬以明之，譬如入人家之門，其門則木也，其牆壁則土也，由門而入則無處而非土非本也，金則升其堂始見之也，如茶碗之盤，如懸掛之燈，如陳列之各種五金器具之類，且凡金之屬時出之而時收入，非如土木之永列於外觀也，蓋非土木無以成室家矣。至於水也火也，則列於至深而極邃之處也。水火列於廚灶之旁，一定而不可移易，亦非有出納之時，且為他人所不能見也，由是觀之，水火藏於至深非腎家之喻乎？金有出納之時，非肺家之有開有合乎？木土無處無之，非脾肝兩家之喻乎？水火深難於受病，金有開合間有病，木土無處無之至易病，治病之道，先從木土著手，必無錯謬，切脈時先觀其水火之何如？繼觀其金之何如？皆無慮矣，則專從土木施治焉。識高則膽壯，余幾經審慎而得悟斯理也。</p>
<p>吾將行吾之道以濟世也，則必使人足以信之，人之足以信之，則必平日之醫病而著有成效也。醫病而著成效，則必學明而理足，心靜而識高也。欲識高而理足，專恃醫書不可，專恃醫書者，雖十年不下樓終無進步。</p>
<p>酒之為害，吾前既言之矣，僅言其貽害於脾胃也，而又貽害於肝膽。以極謹慎極謙遜之人，每至酒後輒大言不慚，據傲鮮腆，甚者使酒罵坐，大聲高嘯，又甚者飛拳哄鬥，裂器毀物，平日所決不行之事，竟任性而為之，平日所不出口之言，竟肆口而說之，是非肝膽之氣使之乎？肝膽受傷，脾胃受傷，酒尚可飲乎？且大醉之後，心光不靈，平嘗所見到之道理到此一切不復記憶，無禮於親戚，開罪於友朋，是則心氣亦受酒之累矣，然心氣之受累，肝膽為之也；酒後小便全系酒氣，是又肝膽移之於小腸膀胱也。一醉之後，脾胃先受其傷，肝膽次之，心次之，小腸膀胱次之，是一醉而全體皆受其累，其表面則喉干舌枯，眉目不甚清醒，昏昏欲睡，譫言囈語，各象畢露，酒尚可飲乎哉？然而酒以和歡，酒以養老，未必在禁止之列，必也半甌、一杯，少飲而緩飲之，低酌淺斟，不待微醺而輒止，是不僅無害而可以有益也，周身之氣血，骨節之經絡，得酒而可行也，得酒而可和也。古方中有借酒以行藥者，酒豈可廢乎哉，是在飲之者能得其道耳。酒之中有味也，有趣也，如世俗之飲酒哆其口而執壺以灌之，惜哉，斯酒也，哀哉，斯人也！</p>
<p>解酒之法，第一以高麗參為最妙，蓋酒奪正氣之權，正氣不能勝酒氣，故飲而醉也。高麗參一助正氣，正氣得權，則酒氣自消退矣。其次則粉葛根也，葛根所以升正氣，其意與高麗參同功，但葛根不如高麗參耳。又其次則枳椇子也，傳聞有枳椇樹之處，造酒不能成，誤以枳椇木為薪者，更不能成酒也。蓋酒之曲糵中有羌活、防風，枳糵可以解羌防［之性］，故可以已醉，以至硬至生之米一宿而熟之，且出其菁華而可隨時為飲焉，其曲糵之烈至如此，況其為血肉之軀而受此烈性也，可無慎哉！</p>
<p>周耕畲之入醫院也七日而瘳，黃士龍之入醫院也三日而斃，蓋醫院所用之藥水涼水也。耕畲患溫症，內熱極重，故服之而瘳。士龍患寒症，脾滯下利，故服之而斃命。有修短事，有幸不幸天也，而人在其中焉，數也而理在其中焉，其如不明事理，而篤信醫院者何哉？</p>
<p>「康子饋藥，拜而受之。曰：某（丘、未達，不敢嘗。」嘗藥之必知其為何藥也明矣。譬如人之食欲，必問曰「此何餚也？」問其名而後食之。又問曰「此何酒也？」問其名而後飲之。知其為何餚何酒，此則所謂達也。最奇者，臨食飲必問之，而於藥水則不必詳考而細察之，貿貿然見其水瓶之外曰此治某症，彼治某症，則歡欣鼓舞而食之而飲之，絕無一絲毫遲疑之意，謂勿恤生命而輕於一試乎，則其眼藥水之本意，欲已疾也，謂其篤信西醫乎？何以捨命而信之也，如其真篤信西醫也，則必通西人之語言，識西人之文字，達於西人之藥名、藥性，研究西人制造藥水之理道，則其服之也雖不得效尚無愧焉，如其不然，則早挾一犧牲生命之意以博一酷嗜西學之名，名則美矣，而使血肉、肌膚、臟腑、經絡實受其害，吾不知其用意之所在也，吾向無薄待斯人之意，亦更無薄待西醫之意，實因不學淺陋，未嘗從事於西人之語言文字，語言文字之不通，遂售其物事而不知其名，睹其招貼而莫曉其說，乃不敢從而問津焉。西醫全體之學，西醫解剖之學，吾亦嘗請事而略聞一二，大率西醫重實驗，中醫重理想，中醫亦嘗借牛羊豕解剖之實驗以為說矣，然而橫行與豎行既異，人臟與物臟微殊，終不若人與人對觀之為愈也。心肝脾肺腎五家，大腸、小腸、膀胱、膽、三焦之六腑，尚猶可理想而得之，至於經絡之關節，骨格之部位，血輪之流行，血管之轉輸，穴道之微茫，精溺道之殊別，子宮經道之寬窄，陽器陰器之道途，此數者非實驗不可，欲實驗則以蠟人為底稿可也，能將以前數者之大要了然於胸中，是猶熟悉堂奧而後可施以概茨，明曉溝渠而後可用其浚治，非盲人之騎瞎馬，如熟路之駕輕車，事半功倍，厥效匪遲，夫豈可輕詆西醫哉！</p>
<p>華人病則延西人以醫之，西人病未聞延華人以治之，豈華人醫學之未精歟？抑豈西人病情之不同歟？謂中西病情之不同，何以中人病而可以延西醫耶？何以西人病而決不延中醫耶？謂中人醫學之不精，則當研精極慮，以求其所謂至精而至神者，若西人病而不延中醫，已有不勝慚恧之思焉，又何至一有疾痛，便囂囂然曰「請西醫也哉。」既延西醫，一若我之病，西醫治之雖死可以無憾，究之西醫醫治之後，問西醫之說病情何如也，則茫然也；問所服之藥水何名也，則啞然也；其上者而以詰屈聱牙之三四字稱之，問其當中國之何藥也？問其藥性之屬寒耶屬熱耶，則又啞然也；噫，以有用之身軀而服此不知名字、不知性情之藥餌，衣服在躬而不知其名為罔，此豈僅謂之罔也哉！</p>
<p>不待解剖而即知病情之所在，西人亦曾服中醫之神矣，究之中醫之所以能神，理想之神也，理想之徵實處，則切脈之道也，言活處則西不如中，言呆處則中不如西，若夫活處不明，理想不神，竟肆口以詆西醫謬矣，或崇拜以稱西醫亦謬矣。究之西醫之良否？中醫之良否？本未嘗從事於醫，安能知其深淺乎？病則挈其命以付與西醫，此亦迷信之徒也。平日偶遇醫士，先問曰「西醫乎？中醫乎？」旁觀者答曰中醫，則掉頭而不顧焉矣。問掉頭者之果為西醫乎，則無論中西，於醫學未嘗問津也，與此類人而與之言活處、言理想，殆所謂「更隔蓬山一萬重」也，噫！</p>
<p>一病而即延西醫，是何說也？此好名也。世變當新舊競爭之交，群譁然崇拜西學也。究之西學之精美處啞然不能知，而獨於醫之一事，則不惜欣欣然以就之，以全其好名之心。其卒也，西醫治之而無效，於是張皇錯亂，顛倒雜投，以馴至於殞命戕生，否則捐其血肉之軀，以供其剖割，迨至其氣既泄，皮囊不存而後悔其事之舛謬也，亦既晚矣。好名而不克全其生，其為毒也不亦烈乎！</p>
<p>衛生之法，吾得一說焉，曰「鑿井而飲，耕田而食，帝力於我何有哉？日出而作，日入而息，不識不知，順帝之則。」是衛生要訣也。彼侈談宮室起居，日用飲食以衛生者，謂之無識無學，顏子之短命，豈簞瓢陋巷，足以致之域？陰房鬼火，牛驥同灶，亦且延數年之命，其何說之辭？</p>
<p>醫家切脈之道，不可不講求也，吾嘗聞吾友鄧春舫之言矣。春航湖北荊州人，居於沙市，其醫學極精，善用經方，經方可以借用，其醫經之熟可想而知，當時余未習醫也，聞其言曰「學醫當先切脈，脈既熟而後可以開方。」歷述其學醫之初，先考求切脈之法，從其師遍歷病家，彼先切脈，始而述其脈狀，告之於師，師切之而辨其是非，久之而立方矣，陳之於師，師為之刪改而點定之，三月之後，脈與方皆與其師符合，而後閉戶讀書，所讀之書，皆至精而至要，一年之後，百醫而百效矣。大凡弟子從師，一文也一詩也，皆寫之而陳之於師，師教之以定其是非可否，此有實跡之可尋也。醫之教人醫也，空空洞洞，令其看書，無一毫實跡之可尋，識不明而志不定，出則誤人矣。春航之師以教詩文之法教醫，春舫即以學詩文之法學醫，如是則非空談而有實驗矣。春舫天姿絕優，其學亦精，余相交時年只二十餘，所醫病應手輒效，無論新舊標本之病，皆能探其癥結而治之。春舫學固精而其師傳授之法亦非凡近可以企及，惜乎其名不傳，而春航以微僚末秩，終於岳州之陽陵，無片語隻字傳於後世。余及其時而不知醫，及知醫學醫而春舫已死，無從收其遺稿而傳布之，其情可哀，其學可惜，吾特標而出之，以存春航之名，以存春航之師傳授之法，以告天下後世之學醫者。</p>
<p>醫者執法之官也，切脈者閱其呈詞也，問症者訊其供辭也，開方者定其讞也。供辭與呈詞情實相符而讞定矣，病症與脈象相符而方立矣，且呈詞有詐偽無情之弊，供辭有狡展不承之弊，迷離變幻，百出其計，以相嘗試，執法者非明足以燭其奸，斷足以服其詐，其讞終不能定也。若夫脈象則無詐偽也，病症則無狡展也，一脈一症，百症百脈，顯豁呈露，無不畢現，而醫者尚不免失出失入之罪，以此執法，安能稱厥職乎？其不敗也幾希矣。執法之官，能生人而能殺人者也；醫病之醫，只可生人而不可殺人者也。執法者，妄殺人則彈劾及之，褫其官而永勿用焉，雖不足以服冤者之心，亦足以懲做於天下；醫病者，妄殺人則逍遙法外，莫得而罪之，且自詡操術之不謬而反咎病家之不能相信焉，於是而冤益深而醫益謬，愈推愈廣，殺人無算，豈不可哀也哉！</p>
<p>犯法者有首，從重治其首，而輕治其從，甚且其從無關緊要則釋之。病症之來也，亦有緩急輕重之別焉。亦猶犯法者之首從也，擒賊擒王，切脈之時審其要害之處，從而治之，其相因之病，有不待治而自愈者，可無節節而為之也。</p>
<p>有一種不相因之病，亦有不可忽略者，如血家之病，不可以不理其脾；氣家之病，不可以不安其肝，蓋本無病而防其相因耳。然本無病之家，又不可妄動，以起其病，是在醫者之靈光，足以照之，而運用之妙，又無滯機焉爾。</p>
<p>有謂切脈可以看其年壽之修短者，吾竊以為不然，脈象之好劣理也，年壽之修短數也，數可以敵理，人定可以勝天，則自為調攝之良，蓋不鮮矣。若我切其脈謂可百年，而時疫之流行，喉痧之迅疾，則非人所能預測者也，謂可百年而不可百年，其如之何？若人死而其家憤激，藉此尋仇，豈不醫病而反為醫累乎？</p>
<p>餘切脈而說病，即日之事亦不言也。而說百年乎哉？謂宜預防也，則延醫原所以防之也。醫言宜預防，醫不防而令不知醫者防之乎？謂此症甚危險，則延醫原欲拔出於危險也。不危險而以為危險，謂之恐嚇；已危險而無術以拯其危險，謂之無學問。生死定於俄頃，優容釀成變端，夫豈可草率以從事哉！</p>
<p>莊子曰「百歲人之大齊」，在凡人皆可百歲也，其不能百歲者，理亦多端，酒食之肥穠，色欲之侵削，憂鬱之傷損，寒暑之侵尋，醫藥之錯誤，調衛之過度，無一不足以戕生殞命，是以應百歲而不百歲。酒食傷脾，色欲傷腎，憂鬱傷肝，寒暑傷肺，五家皆傷，焉能持久，至於醫藥錯誤，其傷已非意料所及，而調衛過度，暑不見陽，寒不離火，種類不一，不可勝舉，以此受種種傷害之人，而生育似續，安能有強健之軀幹，完固之精神哉？先天不足，根本不牢，戕伐既多，芟夷尤速，以此相傳，自難有百歲之期，不百歲而短折，怨尤天命，詛咒空王，亦太愚矣。</p>
<p>婦科之病較男子為多三事，經、孕、產也，孕與產料理得法者尚多，獨行經一事，几几乎百人而百病，千人而千病矣。蓋孕與產之事重而且險，其未曾經歷者必詢之於老，或問之於已經，皆不勝鄭重之思，其貽誤也尚少，若經歷一二次，則輕車熟路，漸近自然，斷無老手貽譏之理，蓋孕與產人所不敢忽略者也。若行經則常行之事，又不及孕與產之重而且險，其行與否，期或遲或早，色或鮮或暗，母與姑亦安得朝朝暮暮而詢問之，老媼不能知，女傭不能問，一人之事任其自為料理，自為調護，亦人情之恆然，本無須乎矜持太過者也，即本人亦視為無關緊要者也，於是行經之時，始而含羞不言，不欲因此而疏其禮節，繼而支持強應，又不願因此而啟其愛憎，況乎飲食則酸辛水果之不擇焉，行事則寒暑風濕之不避焉，於是身體受病，眠衾皆非，五官百骸，遍體不適，皆行經之時未經調攝之所致也。其甚者妯娌小姑之垢誶，不得承舅姑之歡，脫輻反目之間，言不能得槁砧之愛；又或兒女多故，生育維艱，姑息養奸，門柞蒙垢；又或青年矢志，黃鵲成歌，柏舟吟詩，孤鸞獨處，凡此不適於心之事，率皆憂鬱累肝之端，肝氣既傷，移累於腎，於是行經不對時期，天癸或遭阻滯，乾血之症，由此起焉。或服單方而妄施攻伐之劑，或延醫士而雜投補養之方，顛倒失常乃成瘵症，瘵症既成，善者亦無如之何矣。前事所說未必定集於一人，肝病之來，因此可成其大半。吾診病脈多矣，而婦病居十之七八，診婦病多矣，而例症居十之八九，其非例症者奇症也，奇症居十之二三，不及例症之繁多也。例症維何？吾得舉而數之焉，曰眼珠於痛，曰耳鳴耳閉，曰鼻孔乾枯，曰齒齦痠痛，曰咽喉干痛，曰口中有火氣，曰頭腦疼痛，曰腦筋牽痛，此頭部之例症也；曰胸膈飽脹，曰乳下氣痛，曰兩脅疼痛，曰胃氣不順，曰背心脹痛，曰肚腹氣痛，此上中兩焦之例症也；曰小腹脹痛，曰軟腰痠痛，曰兩腿痠痛，曰行步無力，此下焦之例症也；例症之綱領，則曰日不能食，夜不能眠，而綱領之綱領則曰月經不調，其施治之法，則不能以一條鞭之法治之也，治其頭部之熱，則上中下三焦之痛症劇；治其三焦之痛症，則頭部之熱症亦劇，寒熱牽掣，施治為難，然既有例症，自有例治之法。頭部之熱非火也，三焦之痛非寒也。蓋婦科每有肝氣不暢，肝陽遏郁之症，因肝累脾，木剋土也，因脾累肺，穀氣不能充足，土不得生金也，肝陽遏鬱而有上犯之熱，脾陽不升而有下陷之虞，血既不調，氣尤不和，鬱而成熱升於頭部，不和不調之氣血，不順其道途，四出而為無理之鬧，所以有三焦各種痛症，此屬悠久養身之病，如常山之蛇，擊其首則尾應，擊其尾則首應，治之之法，唯有調和其氣血，行動其氣血，凡一切升提之品，陰凝之劑皆不可施。或者氣和則頭部之熱自退，血和則三焦之痛自止，庶幾其有瘳乎。吾嘗治一婦人將成瘵矣，日更一方，隨其例症之所見，尾追而治愈之，至今猶康健無恙也。</p>
<p>婦科小產，其生新化瘀之法與大產無異，夫人而知之矣，然而小產第一次三月而產五月而產，後每孕才三月或五月而必產，何也？此子宮瘀血之未淨也。第一次產後惡露未曾行盡，積而為瘀，每受孕至其時胎與瘀相觸而墜矣，瘀大則三月觸之，瘀小則五月觸之，新血與瘀血不相合，則胎不能系，老溫或咎其閃跌或斥其飲食之不慎，謬矣。此症須於小產之後，極意逐瘀滌盪殆盡，而後此則胎穩而孕固矣，或者不知，妄投補血之劑，瘀積愈牢而胎墜愈易，吾依吾法行之，竟有慣於小產而服吾藥方居然繫住者，要之瘀不蕩淨，雖趺坐終日仍不免於墜也，一定不移之理也。</p>
<p>月經阻滯是氣血不和之故，和其氣血，不問其行與不行也，而自然必行也。攻伐與補養兩謬之道也。</p>
<p>癆瘵之症甚鮮也，如其先天不足，體質細小，則生不久而夭折矣；如其後天不足，乳汁缺乏，則病相尋而無已時矣。癆瘵者半由於少年之不自珍惜，半由於醫者之誤投藥劑。其不珍惜也，貪酒而縱色欲，性躁而心氣不寧，喜怒任其性情，晝夜失其常度，當食而不食，不免有過飢飽之時，當眠而不眠，且加以戕生伐性之舉，始而傷陰，陰傷則血不足以濟之，繼而傷氣，氣傷則陰不足以潛之，於是失血、失眠百病叢作，臥病之中，水不濟火，相火尤熾，土不生金，穀氣更缺，因是而得癆瘵者，其死也尤速。其誤於醫藥也，始而咳嗽，繼而咯血，投以潤肺之品而肺氣愈衰，投以止血之方，而血勢更猛，金不生水，而水益涸，水不榮木，而木益旺，火不生土，而土益衰，土不生金，而金益爍，金爍水涸，木旺土衰，雖欲驟投補劑，而一則措手不及，二則補之即所以令其克之，補其金則剋木，補其木則剋土，補其土則剋水，補其水則剋火，不能生而反克之，庸有濟乎？治其瘵而成其瘵，治其癆而助其癆，艱苦萬狀，束手無策，咎其既往，駟馬難追，困苦以死，何其慘歟！癆瘵之症，此二種最多，一敗於己，一敗於人，脈象難言，病症岐出，至此時雖長沙復生，恐亦無能為矣，可哀也哉！</p>
<p>咯血之症，先看其發乾何家，而後就其所發之處而治之焉，發於肺而治其肝，發於脾而治其腎，之燕趙而南其轅，適吳越而北其轍，是何為哉？血發於脾肺猶易施治也，血發於肝腎則施治為難矣，法官高拱之人，一旦下堂而走，欲不亡也得乎？發於脾肺而肝腎之脈無恙也，發於肝腎則脾肺脈雖好而無益，而況乎其萬不能好也。甫咯血而左尺搖搖，不半年而即逝矣。左尺搖搖無不搖搖矣，其不搖搖者，各家之氣不易於即泯也。吾見左尺搖搖者，非不欲救之，而無術以救之，只自疚學問之不精，而已愛莫能助，徒喚奈何，吾何人斯而竟聽其死乎，心雖良而術不足以濟之，縱令終日引咎而何益於病者乎哉！</p>
<p>醫道與學問之道息息相通也，《易》言：「慎言語節飲食。自強不息。嚮晦入燕息。剛健。篤實輝光。」《書》言：「作德心逸日休，作偽心勞日拙。《禮》言：「和順積中，英華髮外。」《論語·鄉黨》一篇，言孔子起居，飲食之道綦詳。《孟子》言：「仁義禮智根於心，其生色也□然，見於面，盎於背，施於四體，四體不言而喻。」此非衛生養生之道哉？誠如是也，疾病何自而生哉？第一要明白道理，明理則人生一切要害處皆能識得透徹，而後思慮不妄求，哀怒皆中節。有此二者則心肝得所養而氣恆寧靜，必不至有疾痛之生，至於風寒暑濕，則外感，無足慮，即感矣，而心肝兩定者，治之亦易愈矣。或曰子之言，誠是也，專就士人而言也，若夫鄉愚之氓，市井之徒，閨閣之婦女，又烏足以語此哉？余曰：「思慮不妄求，哀怒皆中節。此二語無論讀書不讀書，士人非士人，或男或女，無不括干此中。」鄉愚市井，妄思財帛；閨閣婦女，憂愁抑鬱，非致病之厲階乎？聖人防民防之未然，我輩治病治之於未病，治未病者，卻病也。鄉愚、市井、閨閣，其中質美者甚多，父詔兄勉，遞相告語，轉相戒勸，未必不可卻災診而登康強，況乎鄰媼市娃亦粗知疾病之禁忌某物也，誤服之得某病，某事也稍忽之見某症，此亦世俗習慣之端末，必定有至理，而其防病卻病之心思則未可厚非也，彼讀書之士人，而尚世俗之不如哉！</p>
<p>立方之道戛戛乎其難哉，有切脈甚是而立方則非者，斷未有能立方而不能切脈者，尚有一實在憑據，雖不能達其精微奧妙之旨，而浮沉遲數、弦緊洪細終不難了了也，至於立方則若涉大水，其無津涯，胸中毫無主宰，而疑似之間又生出許多疑忌，生殺定於俄頃，斷無有幾許光陰任其徘徊顧慮，倘途境不熟，鮮有不南轅而北轍者。且也一條鞭之病，用一條鞭之藥至無難也。有一種寒熱雙治之法，溫涼並施，不知者疑以為雜，然而往往見效；有一種上熱下寒之症，宜忌兩無所施，此中用藥左右為難，然用心思索斷無為難之道，或專憑理想，創為新法，或彼此挪移借用古法，是在心光之靈敏何如耳。切脈如看高頭講章也，立方如作文也，看講章甚明晰而作文不合法者往往有之，梓匠輪輿能與人規矩，不能使人巧，立方者規矩之至巧者也，既曰巧矣，則無怪乎人之拙也，然則奈何？始而研究藥品之性情也，考察藥性之入於某家，雖不能全備而悉知之，而尋常所見之品則不能不一一而知之也，繼而考求古人立方之妙用，不宜泛覽，只專心精求長沙立方之法，一方數味，一味輕重若何？詳考而深思之，醫境既熟，由博返約，詳悉臟腑之性情，合以方劑之性情，尤宜精煉數方，一方可治數十症，十數症者懸之筆端，以為執簡馭繁之用，夫如是立方之時，不至茫昧顛倒手無所措，且運用既靈，心光愈活，亦斷無疑難牽掣之虞也。切脈不知其所以然，是未切脈也，立方不知其所以然，是未立方也。病者呻吟床褥而尚延，此切脈而未切脈，立方而未定方之人，以遲延其時日，其情可憫，其事可哀，死機速矣，安能待哉！</p>
<p>立方之法，貴活也，貴簡也。至呆之方，施之於無病之人猶且生病，而況施之於多病之人乎哉？活有二道，一則用藥之活也，一則銖兩之活也，立一方而拘牽板滯，無絲毫活動之意行乎其中，如此安能治病乎哉？否則應重而適輕，應輕而適重，銖兩不勻，亦不足以愈病。若夫簡，則非提綱摯領能識大體者，不足以語此。無病之人，調理補養，藥品不嫌其多，何也？五家臟腑，每家施以三四品，則不為少矣，腎之水火，脾之痰濕，肝之風，皆不能不有一二品以安置之，於是乃愈加而愈多，無病而言簡，萬萬不能。若有病之人，則不可不簡，多病之人，尤不可以不簡，只看其病之發於某家，單刀直入，直搗其巢，病在東而源在西，病在彼而源在此，刪除枝葉，擒賊擒王，無枝枝節節而為之，則烏得而不簡乎。若單言簡少不中肯綮，亦何貴乎簡哉？活而不簡，猶可言也，簡而不活，何足取乎？然能活者斷未有不能簡者也，簡則猶可襲取也，活則不可偽為也。</p>
<p>補氣之品可重也，行氣之品不可重；補血之品可重也，行血之品不可重。然行氣之品宜較之行血之品而尤輕，血有形質者也，氣無形質者也，遇無形質之物而持挺操戈以擊之，是持矛搗鬼之說，豈不足以貽笑於天下！耳中有小皮，如以刀入取之，徒傷其耳，而不能取其皮，氣家之用藥亦猶是也，如重行氣之藥，徒傷氣而邪因之以更壯；如重行血之藥，血不行而瘀因之以四散，銖兩之間不可不有靈思以驅使之也。至於氣血兩補之時，則無邪無瘀，重用乃有益，輕用則無益，然此時而用行氣行血之品，仍不可以重也，行氣之品尤不可重於行血之品也，非輕不靈，非輕不捷，非輕不活，氣也者，至靈捷而至活之物也，用藥之靈捷與活，當與之相稱而停勻，此則以靈思神其妙用，雖口舌筆墨亦不能述之矣。</p>
<p>參只入肺，耆則各家皆入，耆為上品至美之藥也，然不可以輕用，吾嘗見中風症，誤服黃耆而因之不語者矣，不語則無治矣。蓋耆性專主升提，中風之證，風奪氣權，舊說相傳以耆為風症要藥，風症用耆所以伸氣之權，以制風也。然今世之人，肝血不足者殆十而八九，血不足而肝失所養，乃有風症。肝血既不足，則耆不扶氣而提風，風既迷漫，復有耆以升提之，則風盛而上迷肺竅，乃有不語之症。肺竅既閉，肺無主，不足以布令，生機既絕，無可救藥，吾所見屢矣。吾以耆治中風，只用過一次，毫釐千里，舊說之不可泥如此。吾故嘗言用藥之道，貴有心得，襲前人之成方而又莫思其所以然之理，萬不能中其竅要也。</p>
<p>當歸養血而適足以燥血，柴胡暢肝而適足以伐肝，服此二物而失眠者多矣，而人不之察，以為此婦科要藥，何不可服之有，殊不知今之血虛者十而八九，既虛矣安能不燥乎？又安能伐之乎？無已，吾則以紅花代當歸，以桑枝代柴胡，當歸生血而味辛性燥，不如紅花之平淡也，紅花能活血，血遇紅色則行，能活而行，血焉有不生之理哉，不知者以紅花為破血之品，不知其與桃仁合用者，桃仁去瘀，紅花仍是生新也。當歸無汁，紅花亦無汁，當歸辛而紅花平，其無弊也無疑。</p>
<p>柴胡者伐肝之藥也，服此者往往失眠，血症而失眠其為病增劇矣，不如桑枝之性淡而能條鬯肝氣也，桑枝遇春生長向上，桑得春氣獨深，又入肝經，其枝向上與條鬯肝氣之意相合，此物用者甚鮮，昔惟李時珍有一桑枝煎用之，余思得此藥，真婦科之要藥也，余用此物時，藥店中未備，取於人家之有桑樹與夫鄉間之種桑者，久之而店中備矣，售以善價矣。此二者余屢用之而屢效，百不失一，況乎生血、暢肝之品，藥物尚多，而何以必須此當歸、柴胡哉？大凡藥物之有弊者，當仿此法而行之，非特保全病人免增他症，抑亦醫家事半功倍之要道也。</p>
<p>房後傷風之症，人多不肯言也，切脈足以知之，右寸甚散，左尺甚弱，此房後也，切脈既定，細細詢問，殆百不失一矣。其所見之症與傷風無異，其所服之藥則不可率爾也。吾嘗見房後傷風，服表劑一帖，而殞命者屢矣。房後之傷風，然則其不表散乎？曰不表散，不可也。而表散之藥，無論何藥皆不可服，惟生黃耆足以發其表兼以扶腎之弱．收肺之散，隨證佐以不犯禁忌之品，一劑而亦可安矣。吾已曾經奏效矣。遺後傷風亦同斯義。</p>
<p>遺泄之病，一曰夢遺，則肝為之也，肝能構象，一切與醒時交媾無異，君火相火其畢至焉。一曰自遺，則腎為之也，俗謂之心腎不交，究之心不任咎也，當謂之水火不交，水火者，腎中之水火，火乃相火之火，非君火之火也。夢遺之際，君火尚有權，自遺則君火無權矣。君火無權而相火僭其權，相火僭君火之權，自與腎水不相合，並與腎不合，水不濟火，火熾逼精而自遺矣。俗謂用心太過，則有遺症，不可謂之用心，直可謂之用肝太過而已矣，肝主疏泄，遺泄者疏泄之極也。偶爾自遺尚無甚關係，肝氣寧靜，眠睡穩熟，則自不發。若常常患此，則氣血兩傷，脾肺不能統肝，腎不能潛相火，孤壯腎水不足以制之，則將有自焚之象，此癆瘵之所由成也。自遺治法，第一不可徒澀也，澀藥多滯氣，氣滯而血不行，反生他症，惟有養肺扶脾以益氣暢肝，滋水以生血，則庶幾其有濟乎。此等病症全視乎人之自衛，自衛亦多端矣，而皆為普通知識所有，不能歷歷而數之，若夫專恃醫家，乞靈草木以挽回之，蓋亦不可必得之數矣。</p>
<p>背陽也，而血存焉；胸腹陰也，而氣存焉，即此可悟陰陽不能相離之義。</p>
<p>長沙《傷寒》第一方曰桂枝湯，奇方也，其所轄之症不知其凡幾也，長沙主義以為發表也，無汗者發之，有汗者收之，如發表矣，調和營衛即此方也。桂枝和衛氣，酒芍和營血，甘草和中。膻中大氣痛，桂枝驅邪，酒芍斂正，亦即此方也。膻中之氣，邪正交鬨，非此無以解之。脾肝兩家之氣痛，桂枝可以達陽氣於四肢，脾主四肢也，酒芍可以調和肝氣，平壓肝氣也，且桂亦可平肝。芍亦可以斂脾，甘芍又可以止痛。小兒之腹痛，婦人之氣痛，推而及於癆瘵亦有可用此方之理，吾乃詳審而精思之，自立一方，曰雙關飲，即仍桂枝湯之藥而加以苓朮耳。脾肝兩家之病極多，桂芍入肝，苓朮入脾，甘草以和肝脾之氣，曰雙關者，兩關脈之要劑也。吾持此以診病，是吾一人執簡馭繁之法，然每用此而得效，吾不能不服長沙立方之精妙矣。此方如遇熱症，則不能不稍加變通，萬不可呆用，術與桂皆近於熱者也，如不能用術則去朮，俟其熱退而用之；如不能用桂枝則改用桑枝，千變萬化，總不能離乎此五者，然甘草之品，吾尚不常用也，吾持此以馭病，其不能符合者蓋幾希矣。</p>
<p>人生後天之賴以生者脾也，脾主食，能食不食，亦視乎脾之健不健耳。脾之不健，何物足以幢之，惟白朮耳。脾喜燥，術之性有燥；脾喜潤，故易受濕，術之油能潤；脾有濕，術可燥濕；脾有痰，術可以除痰；脾系胎，術可以安胎；脾主帶，術可以止帶；脾繫腰，術可以暖腰。脾為後天之宗，術為脾家之宗，術以健脾，脾氣一旺，百體安而百病除矣。或者謂白朮有橫中之弊，人身之脾，全體之機關也，機關掉運既靈，能足其消化之力，食既安而眠亦穩，何至生病。術者所以靈其機關也，安有橫中之弊哉！其所以冤為橫中者，方中必有滯氣之品，氣不利又加以滯食之品，又不肯重用白朮，白朮掉運之力不足以敵其滯氣之力，故妄認白朮為橫中，若單服白朮一味，以試其橫中與否？則白朮之冤伸矣。又或謂白朮有閉氣之弊，術以健脾，脾尚輸氣於肺以生金，以成其子肺之功，肺為氣家宗主，其母倘閉其氣，如何能輸氣於子，以盡其生育之道，所謂閉氣者，其冤詞與橫中等，蓋氣既滯矣，不能收流利之功，遂乃誣為閉氣。吾診病多矣，閉氣之證固未之見，服白朮而閉氣尤為無稽，閉氣為死耶？則白朮非毒人之物；閉氣為不通耶？則白朮乃流利之品。吾只見夫食少者，服白朮而能食，腹泄者服白朮而止泄，未聞有橫中、閉氣之弊也。若如所說，則本草中何品為無弊耶？何品而可服耶？禁用白朮則生機將絕何也？後天無扶助之力矣。不用白朮而慣用山藥，本流利之區，膠固泥封而不得通暢，山藥之罪殆無所推諉矣。吾祖行醫時，人皆呼之為周白朮，先生其慣用白朮也無疑，其慣用白朮而未有弊也無疑，借乎吾祖無著述，無所說以存斯理耳。</p>
<p>白朮扶脾陽，山藥理脾陰是也，然脾之陰適當肝之陽，料理肝陽而脾陰得所養矣。山藥一品，不可不慎審也，大凡今之人氣不流利者，殆居多數，而婦科尤甚，山藥最足滯氣，故不宜輕用。</p>
<p>脾主食，肝主眠，脾健則食旺，肝暢則眠安，脾虛脾滯則食減，肝旺肝鬱則眠不穩，且也胃有宿食或飽或飢，而眠不得適，夜或失眠，口無津液，而食不得適，兩者相因以為用，而相累以為害，能食能眠百病皆退，不食不眠百病乃叢集。余診病切其右脈，問能食否？切其左脈，問能眠否？此扼要之道也。能食能眠自無岐出之症，不食不眠乃有相因之病，不食不眠之病依其次序一一以詢之，或有或無，提其綱而挈其領，無難確有把握也。</p>
<p>一病也上熱而下寒，用熱藥則礙其熱，用涼藥則礙其寒，此何法以處之，曰其惟和氣以降其上熱而散其下寒乎，如寒甚也，非散所能解，則將用偷關之法以治之（此法余《醫學實驗》中甚多）無不可以取效也。一病也寒與熱同在一處，既發寒症又現熱症，（如疝氣而兼淋症之類）此何法以處之，曰其惟雙治之法乎，寒熱兼治，溫涼並施（如萸連並用之類）亦無不可以取效，是在用者之得法耳。</p>
<p>男子之精血也，婦人之乳血也，血色紅而精與乳皆色白，何也？血之成熟由火化而變也，癆瘵之吐白亦血也，血無火化並不能變色而即出也，精也乳也白沫也此三者，夜盛之而露於天空，晨起而化為紅色，無氣以化之反其本耳。</p>
<p>人身之有血道，猶水之行於河道也，河道之水自行之，血道之血則有氣並之以行也，氣血並行周流而不息，則人乃無病氣，或虛矣或滯矣，無率血之命令而血無所適從，必覓一空隙開口之處，橫決氾濫而必求其所以行之之道（以針刺皮則出血，以刀斫則更甚，可知血遇口即行之道），於是乎有吐血之症，吐血者，肺不足以攝之，脾不足以統之，肝不足以藏之，竄入胃經，由胃吐出，水性就下，血性只求其行而已，故由上而吐之，血亦不計其順逆也。血前之症，曰咳嗽者，肺金之燥也，血不從肺之命令，肺焉得而不燥，血不安其位，金不得水之滋潤，金水隔閡乃成燥症。曰背脹者，背為血海，血既不安，與氣背道而馳，背焉得而不脹。曰夜不眠者，肝不藏血即不藏魂，夜眠焉得而穩？有此三症，血無不吐者矣。既吐之後，百病叢集，幾乎五臟六腑無一不病焉者，然須察其病之發於某家也，如發於肺則理其肺，如發於脾則理其脾，發於此二家猶有可以施治之方，如其發於肝腎也，則兩尺脈搖搖如懸漣，根本不牢，枝葉焉能長久，如此者雖有善者，亦無如之何也矣。</p>
<p>血症不可妄潤也，血症不可強止也，妄潤與強止則凝而為瘀而已矣。成瘀之後，行瘀則傷氣，不行瘀則損新，其若之何？治血症之法，萬緒千頭以脈象為主要，未可以空談也。</p>
<p>衄血也，便血也，血淋也，皆熱也。濁精而淋血，淋血者變精之未成者也，此數症施治尚有術。惟血崩之症施治較難，血崩與吐血為一例，亦氣不能率血以行，血亟於行乃乘隙而為崩，然崩症較吐［血〕症易愈，崩症大補氣血，系一條鞭之治法，非若吐症之棘手，吐勢逆而崩勢順，且只一虛症，補養亦非難事，故吐有絕症，而崩尚無絕症也。</p>
<p>淋濁之症，大半起干受濕熱，大半起於忍精，濕熱易愈，忍精難愈。精既動矣，萬無復返故居之理，忍精以縱一時之欲，則淋濁以貽長日之憂，兩症相較，濁尚無妨。諸淋相較，沙石尤苦。淋濁者敗精積於精道，氣不足以化之，愈積愈久，敗精成為堅質，氣化更難，故成沙石之淋，沙石無治法，死而已矣。</p>
<p>崩症不常見也，帶症則百人而百有矣，何也？脾土之氣虛也，脾氣虛則易受濕，濕則帶病見矣。婦女肝病居十之八九，肝既病，則脾不得不病，且也脾系在腰，腰為帶脈之所在，帶脈之氣虛，加以脾氣又虛，焉得而不病帶哉。病帶之人，受孕而帶止，受孕而帶不止，其胎必墜，故治帶之法，不在血分而實在氣分（帶症南方之婦女居多數）。</p>
<p>痢症者，寒熱相併之症也，肺受熱移入大腸，大腸既有熱而脾復受寒，寒欲利而熱不利，彼此相爭，於是乎有氣墜之症，墜而下紅白者，大腸中之寒熱氣化而為之也，熱之氣化為紅，寒之氣化為白，（此中尚有濕氣一項）欲痢不痢，艱苦萬狀，此雖系萸連之正症，然銖兩之間不可不審其輕重，亦有偶用微升之品者，則以其肺氣之大虛，雖用升提必兼降下，以符其欲痢不痢之意以相敵，若專升則墜更劇矣。</p>
<p>瘧症者，亦寒熱相併之症也，此症較痢更劇，較痢為難治，其始也亦內有熱據之也，繼而外感風寒，或未表或已表而傳經之後，與熱邪爭持交鬨於其中，於是乎發為寒熱之症，其所以得汗而止者，寒熱交爭兩氣熏灼，乃逼而為汗，究之氣血不和，營衛隔絕，雖汗亦不解，其邪既止之後，邪尚潛居於脾肝之間，或次日或越日氣行相觸則仍發焉。其所以有一定時間者，因某家之氣當其時而稍殺，遂乘之而發，或早或遲，皆此理也。寒熱之久，傳於三陰，亦宜升提至於陽分，方利於施治，萬萬不可妄投陰劑以牢固之。若夫體虛之人，加以久瘧而更虛，則雖欲補之亦宜兼以滌除邪氣、調和營衛之品，然補陰之劑則宜慎擇而慎施之也。又有一種似瘧非瘧之症，則只切其脈而施其劑，不間其瘧不瘧也，癆瘵中間有見此症者，則陽虛生內寒，陰虛生外熱之說，施治棘手，然亦只能料理營衛而調和之兼以補劑，奏效甚難。若遇瘧而妾投截藥，底裡不清，勉強抑制，未必無目前之效，或逾時而即發，或歷久而仍發，邪氣潛據於中，強遏之，其能久乎。</p>
<p>有脈中之病，有脈外之病，切其脈而不知其所以然，則當細思其病之所在，而研究其所以治之之法，此類病大率宜於針灸，不知針灸之法而徒恃湯藥，吾滋恿焉［恧，音nǜ，然慚愧。］。</p>
<p>沉脈之為寒無疑也，洪弦之脈不定為熱，細數之脈不可定為無救，此皆余所經驗而幸無為其所誤也。寸口脈浮大，浮為無血，大即為寒。又脈浮而大，浮為氣實，大為血虛，此仲景之語，當思所以大即為寒，大為血虛之理。</p>
<p>須知其病脈，須知其為醫所誤之脈，此理仲景言之綦詳，宜隨證而細思之。</p>
<p>嘔吐後之脈，咳嗽後之脈，當慎重詳細以觀之。</p>
<p>脈者精微之學也，而精微出於平淡，愈推愈廣，愈求愈獲，此喻嘉言氏之說也。精微出於平淡一語，尤為至理名言，高遠之旨，出於中庸，賢聖之道在於日用，即此理也。</p>
<p>凡切脈初上指時未定也，果平心靜氣，調勻呼吸，而病者之脈亦隨之而定，既定之後，方足以知病之所在，如其久不定也，則是病脈之本象，如此又當思其是否本象，或有所因而致之，則當察其所因之為何？而後除其所因之脈而驗之，則失之鮮矣。（所因者，或因咳嗽之後，或因用力之後，則脈象必不能定，以此類推，非一端也。）</p>
<p>脈象中微茫恍惚，空靈縹緲，當以神會而知其病之所在，此固非庸工之所得而知，然以此渺茫之詞持以語人，人亦安能解之，是以說病證說療抬之時，仍須平正樸實淺近易曉，人乃信我，我乃得以施其術，若高言玄妙，則是道聽塗說，自輕之道也，而況未必玄妙乎！</p>
<p>玄妙之處，真有令人不可思議者，欲言之而窮於詞，欲書之而窘於筆，將如斯而已乎，或疑為欺入之談也。吾得約略而言之曰「脈之來往，氣之來往，也於脈息來往之中，靜其心，澄其意，以觀其氣之來往，或清爽而弦硬也，或模糊而濡軟也，雖不可以一言盡，而要可以三隅反，以氣為實在之物，而切實以研究之，以氣為空靈之物，而想像以擬議之，要之明於萬事萬物之理，而後可以與於斯，稍有隔閡不能也，稍有拘滯不能也。</p>
<p>切脈於來去遲疾之間，冥心遊神以想像而推測之，證之症，漸次而與所見相合，則百切而百中，其有不中者，又從不中之處分別而研究之，其於切脈思過半矣。</p>
<p>血非氣不能行也，婦科之病往往血不足而氣有餘，有餘之氣無血配之，是不免馳驟之虞，馳驟而不合其行度，則蹇澀、阻滯之弊生焉，於是乎有痛症，於是乎有熱症，百病之起皆由於此，脈象之數之弦皆生於此，不必其數為熱、弦為風也。</p>
<p>凡有毒之脈無不弦也，毒甚者弦甚，毒輕者弦不甚，此確有把握者也，更證之以症，則知所以解之之法矣。</p>
<p>脈象中之緊字，非心領神會不能得其妙處，徒恃口說不能摹擬萬一。</p>
<p>大腸、小腸、胃與膀胱，皆受不淨，惟膽為清淨之府，惟清淨也，故能決斷。</p>
<p>五臟不和，則九竅不通；六腑不和，則留結為癰，此數語當細思之。</p>
<p>嘔家有寒症，有熱症，有肝風症，有蟲症，惟蟲症為難看，大率六脈大亂者為蟲症，得飲食而毫不停留為蟲症。</p>
<p>血猶水也，肝猶魚也，以水養魚，水多而魚靜，以血養肝，血足而肝暢，肝只有養之一法，無補法也。養則生血為一義，滋水為一義，肝旺肝鬱皆不可以不養，鎮肝壓肝之說偶一為之猶可，若用之不得其道，是水涸而魚躍，以巨石壓之，魚不其死矣乎！</p>
<p>中寒而口無滋味，只有一木味。熱則或甜或苦或酸，時有不同。蓋寒在一處擾亂脾胃，故只有木之一味。熱則各家由內而發外者也，故各家有各家之味，盡達於脾胃，脾胃不能化，盡見於舌。平人之口中無甚異味者，脾胃能化之故也。</p>
<p>小兒啼哭以乳亟止之，又乳久未食，停蓄多時，小兒驟以口含之，如風發泉湧，兩者皆足以停積胃脘而生痰，痰甚生風，驚症由斯而起者多矣。</p>
<p>小兒風證，其面色似無病者，以風能華色也，淚乾嚏不出者風也，閉塞肝腎肺之竅也。</p>
<p>小兒發燒，半由於風寒，半由於停滯，又有由於痰盛者，又有由於風盛者，非止一端，各隨證見，當以極空靈、極聰穎之心光、眼光照之。</p>
<p>有小兒便秘者，經紋沉伏而底裡隱約紫色，余以吳茱萸、黃連投之，一劑而愈。</p>
<p>童便之退骨蒸，確有效驗，如病者嫌之，當勿令其知之也。一歲以內無病小孩之便，方無臊氣，若穀食之便則臊氣頗重，一旦知覺其術難施矣。</p>
<p>熱證中有萬不能不用熱藥者，惟吳萸、肉桂二品可以用之，薑、附太切實，熱家最忌之物也。萸桂空靈妙在能化氣，故熱證中可用之，然須看到極活潑處，方可放膽，此所以貴乎有識也。</p>
<p>紅崩之證，只有大補氣血之一法，勿用凝滯之品而已，竟有以龍骨、牡蠣塞之者，失皿過多，腹中空空洞洞，強塞而不令其崩其可得乎？且塞而不通，氣無所泄，於是乎腫證生焉。蓋氣與血相耦而相配者也，血失過多，血不足而氣有餘，氣乃單行，有餘之氣不得循經道，加以肺虛而無司令之權，有餘之氣遂散而竄入皮毛，乃成腫證，必俟其血漸生漸長足以與氣相配，肺家亦有司令之權而後腫氣乃退，蓋不易得之數也。用藥之法須質實而空靈乃可得效，若執泥古方，非徒無益又害之也。</p>
