<header data-type="book">
<h1>婦科百辨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>莊履嚴</dd></div>
<div><dt>朝代</dt><dd>淸</dd></div>
<div><dt>年份</dt><dd><data value="1644">公元1644年</data></dd></div>
</dl>
</header>

<h1>一、雜證</h1>
<p>婦人中風，右半身不遂者何？曰：右屬氣，此傷氣也。服行氣藥，用烏藥、香附、白芷、青皮、陳皮、人參、茯苓、白朮、甘草之類；或八味丸、烏藥順氣散加枳殼、香附；如腰痛加紅花、柴胡。凡治中風，當先以此順氣。</p>
<p>婦人中風，左半身不遂者何？曰：左屬血，此傷血也。服活血藥，用當歸、青皮、甘草、枳殼、赤芍、木香、藿香、香附、烏藥、官桂、紅花之類。</p>
<p>婦人中風，口眼歪斜，言語不清，目痛難眠者何？曰血少著風，先治血後治風，血足風自滅。須服大補氣血之劑，兼治痰，二陳之類。</p>
<p>婦人中風，有肥瘦不同，分法治之者何？曰：肥人治痰為主，瘦人治火為主，俱用補中益氣湯加貝母、黃連。</p>
<p>婦人中風，有汗者何？曰：中風有汗，是風傷衛氣，當用小續命湯去麻黃加化痰藥。</p>
<p>婦人中風，無汗者何？曰：中風無汗，是寒傷營血，亦用小續命湯去桂加當歸、黃連等化痰藥。</p>
<p>婦人中風，大小便閉結不通者何？曰：中風大小便不通者，實也，宜用補藥中加滾痰丸之類；中風若大小便自利者，虛也，即宜大補中氣兼化痰藥。</p>
<p>婦人傷風咳嗽有痰，身熱、頭痛、多汗者何？曰：金沸草散加參便是，三拗湯最捷。</p>
<p>婦人頭痛，身熱、鼻塞、咳嗽者何：曰：此感天地不正之氣，宜用人參敗毒散加半夏、桔梗、桑皮、薑、棗。</p>
<p>婦人有咳嗽發於夕者，此陰火也。察其虛實，倍生地治之。午前咳屬胃火，用竹葉石膏湯，胃氣虛用補中益氣湯加炒山梔；午後咳屬陰虛，用四物湯加黃柏、知母二味，酒炒；腎水虛用六味地黃丸；五更咳用六君子湯。</p>
<p>婦人有咳嗽發於旦者何？曰：此陽火也，審其有無風寒，倍黃芩治之。</p>
<p>婦人連年咳嗽不止，治之者何？曰：此肺胃虛寒也，用人參清肺湯。</p>
<p>婦人咳嗽發於春者何？曰：此上升之火兼受風寒也，用三拗湯兼人參敗毒散。</p>
<p>婦人咳嗽發於夏者何？曰：陰火上升克肺金也，用滋陰降火湯清補之。</p>
<p>婦人咳嗽發於秋者何？曰：濕傷肺金也，五積散治之。</p>
<p>婦人咳嗽發於冬者何？曰：此風寒外乘，宜用十神湯並香蘇散之類，久則蘇子降氣湯。</p>
<p>婦人心中嘈雜，食過即飢者何？曰：此虛火盛也，宜二陳湯加黑山梔、黃連、撫芎、蒼白朮之類。</p>
<p>婦人常飽不能進食者何？曰：此濁氣在上則生䐜脹，宜木香順氣湯。</p>
<p>婦人夏月四肢倦怠氣不舒者何？曰：調理脾胃為主，宜清暑益氣湯。</p>
<p>婦人、室女夏月四肢倦怠，飲食不思，渾身發熱口渴者何？曰：此注夏症也，宜補中益氣湯加黃柏、知母、天麥二冬即愈。</p>
<p>婦人周身骨疼，有風有痰有勞者何？曰：周身作痛，心嘈，此痰也，宜二陳湯加枳殼、山梔；滿身手足疼腫，此濕熱也，宜滲濕通利小便之劑；滿身痛，內熱口乾面黃此勞也，用逍遙散加補血藥治之；咳嗽身熱，此風也，宜金沸草散。</p>
<p>婦人皮膚拆裂、口乾消渴，大小便閉結者何？曰：此症要犯血淋，今所患者乃血枯也。當以生血補氣為主，加地黃、黃連、黃柏、知母之類。年四十以上，經事一月兩至者，多成崩淋。</p>
<p>婦人小便利大便閉結者何？曰：此血虛腎燥之症，宜生血之劑。若大便利小便不利者，治又不同，宜五苓散。</p>
<p>婦人痰壅如塊，如梅核，咳吐不出、咽不下者何？曰：此氣鬱症，用二陳湯加貝母、黃連、枳實；或四七湯治之。</p>
<p>婦人飲食即吐，甚至藥亦不納者何？曰：此傷胃也，用半夏、藿香、生薑、烏梅，忌甜物。用正氣散亦效。</p>
<p>婦人老瘧，腹中成癖者何？曰：清脾飲最捷。</p>
<p>婦人瀉而見血，有散、有塊、有鮮、有紫、難辨其為傷、為痢、為臟毒者何？曰：瀉而見血，有塊、有散血，以手按之，腹中作痛，此傷血內積，用去滯血之劑，蕩逐而安，胃風湯亦妙。腹中乍響乍痛，時時登圊者，痢也，用加味平胃散，或黃芩芍藥湯治之。腹中作痛，不時失血，乃臟毒也，用芍藥地榆湯、槐角丸。</p>
<p>婦人痢疾，純紅而不止者何？曰：中暑毒在腸胃，此病不易治，用人參敗毒散加石蓮、黃連。</p>
<p>婦人噤口痢者何？曰：熱毒衝心，嘔而不食，用吳萸、黃連，或倉廩散。</p>
<p>婦人胃中作痛，嘔吐清水，得食即止，飢則尤甚者何？曰：因氣時飲食，或飲食後受氣以致食滯、生痰，氣滯生火。用香砂養胃湯去參，加姜炒川連、香附，化痰順氣為主。</p>
<p>婦人嘔吐清水、黃水、食物、痰飲，春夏各用何藥？曰：春夏用養胃湯倍半夏，秋冬用養胃湯加炮姜。</p>
<p>婦人血症，諸脈宜忌者何？曰：吐血出於心，衄血出於肺，咳血出於肝，唾血出於腎，痰涎血出於脾，嘔吐血出於胃。脈沉細身涼者吉，數大身熱者凶。</p>
<p>婦人腹如臌脹者何？曰：此多氣病，用木香流氣飲治之。</p>
<p>婦人痞滿壅塞者何？曰：用指迷七氣湯倍木香、半夏。</p>
<p>婦人腹中有塊，聚散升降，發寒熱作痛者何？曰：有形者，作血治，用甘草、山稜、益智、藿香、香附、半夏、生薑。</p>
<p>婦人常時腰痛者何？曰：補中益氣湯加杜仲，然風寒濕瘀俱能作痛，不可概作虛治也。</p>
<p>婦人腰膝作痛，走注不定，如虎咬之狀不可忍者何？曰：此行經時，或產後受風寒濕之氣，氣滯於三陰，治用獨活寄生湯倍紅花、牛膝，加酒。</p>
<p>婦人跌僕閃挫損傷致瘀血凝滯，胸脅作痛者何？曰：大用治血藥加丹皮、桃仁、紅花、青皮；去宿血，生新血入童便。</p>
<p>婦人心胸嘈雜者何？曰：氣鬱生痰生火之症，宜用二陳湯加香附，開鬱化痰清火。</p>
<p>婦人遍身麻木者何？曰：麻者，氣虛也；木者，血死也。治麻以烏藥順氣湯加清痰活血藥；治木以當歸拈痛湯加蘇木清痰藥。</p>
<p>婦人咽喉顎作痛者何？曰：三焦虛火上升，用四物加元參、薄荷、甘草、桔梗、花粉、貝母、黃芩，徐徐服之即愈。</p>
<p>婦人破傷風者何？曰：此患非輕邪，風溢經絡，入至頭目，青黑額上，汗出如珠不流，眼小目瞪，氣急上痰，四肢搐搦，俱不可治，宜用防風散治之。</p>
<p>婦人有塊諸藥不效者何？曰：宜用鬼見愁草打汁和酒飲；或曬乾為末，酒調服亦可。</p>
<p>婦人室女遺尿者何？曰：中氣虛，心氣不清之故，宜用補中益氣湯加益智、茯神、石菖蒲、遠志、桑螵蛸、麥冬之類。</p>
<p>婦人室女遺屎者何？曰：命門火衰（蓋腎主二便）兼大腸無火之故，宜用補中益氣湯加官桂、吳萸之類，久則宜用實藏丸。</p>
<p>婦人交腸者何？曰：屎出小便者，謂之交腸，緣傳送失宜，關門不調之故，宜用五苓散分利陰陽，待其清濁自別，水穀各從其道即愈，再服黃連、阿膠防其將來。</p>
<p>婦人尿血者何？曰：此三焦之火下陷，宜養血涼血升提清火，以梔仁、生地為主。</p>
<p>婦人陰痛陰癢者何？曰：此肝經濕熱也，宜龍膽瀉肝湯加蒼朮、白芷、升麻之類。</p>
<p>婦人陰癢不可忍者何？曰：此濕熱生蟲蝕食之故。若久不愈，漸淫蝕臟腑之間，宜用杏仁研爛，絹包入陰戶內，數日愈。或用茴香為末，醋製豬肝一條，納入取蟲出，即愈。</p>
<p>婦人陰戶生瘡者何？曰：此膀胱熱毒，宜用清涼散加桃仁研細，紗裹納入戶內。</p>
<p>婦人陰戶冷如冰者何？曰：子宮虛寒，母丁香為末，紗裹如大指，納入戶內，即暖如故。</p>
<p>婦人無病而陰戶作痛者何？曰：交陽故也，用炒鹽青布裹慰之，即愈。</p>
<p>婦人陰戶內，忽然突出一物，長尺許，如陽物，重墜痛不堪，治之者何？曰：怒氣傷肝，肝火下陷而成，名曰陰挺，宜用龍膽瀉肝湯加血竭研末，調服十餘劑，除其痛。次用補中益氣湯加升提藥，歸脾湯約二十餘劑而愈。當忌惱怒以防再發。</p>
<p>婦人成勞虛熱咳嗽治之者何？曰：潮熱往來，俱是氣多血弱，用生熟地、天麥冬、知貝母、丹皮、骨皮、百合、百部。名二地二冬二母二皮二百湯加薑、棗，煎服自效。</p>
<p>婦人顛狂悶亂治之者何？曰：多因驚憂之極，痰犯心胸所致，宜令吐之，用甜瓜蒂一錢為末，以新汲水一鐘調下，隨得大吐，須熟睡勿驚。凡大吐眼前即反視，須先令其閉目，如吐不止，先緊繫其腰，以糜粥補之即止。</p>
<p>婦人因夫出外經商，忽成昏悶，終日好睡，全不飲食，月餘無效。治之者何？曰：此思作脾也，心為脾為母，意外過思，勞傷於脾，脾傷則不思飲食，飲食減少則心氣漸耗故心昏悶，非藥可治，必得夫商滿意而歸，次日自然病退，此喜可勝憂之效。</p>
<p>婦人因夫出外被難，知而成疾，昏睡不食者何？曰：此憂傷肺也，藥力難治，宜激其大怒，怒則肝火動，沖醒脾氣，勝過肺金，其病自愈，此怒可勝憂之法。</p>
<p>室女二十未嫁，每見男子，猛咬其臂，漸昏者何？曰：此欲火旺而無淘瀉也。相火旺動，君火隨之，愧無男子以瀉之故，見即痛咬其譬，惚如相喜之意，故爾神昏，下必有白淫流出，視之果驗，即命其母痛打之。蓋大痛忘欲，其病即愈，宜速配以防再發。</p>
<p>婦人有夢交而成胎者何？曰：此必貪淫之婦也。情思動於中，欲火熾於內，漸至白淫滲入胞宮而成，名曰鬼胎。以其陰得，漸至腹大，儼若胎樣，臨月而產，下如魚目，如蝌蚪數升，腹遂平如舊。醫遇此症，須先辨其顏色，紅白嬌豔，且勿用藥。若面色痿黃，手足痠軟，飲食無味，腹若蜘蛛，即五六足月，全不見內動，是其徵矣。可用大黃、官桂之類，逐其惡物，去盡再用大溫補丸劑。庶幾可復，否則必成怯弱無疑。</p>
<p>婦人室女與鬼魅邪獸交者何？曰：此陰血充溢，思男子而不得之故也。心為一身之主，神明出焉，欲火一動，君火亦隨火動則神昏，神昏則罔所見，曾恍惚如目中之狀，而邪氣乘虛中其機彀，言談交會面爾浹洽，此非鬼之能惑人，實人之惑於鬼也。久則正氣益耗，邪氣益盛，至垂死而不可救者，父母翁姑百計醫禱而莫知，及知而急欲療救之，病者精氣耗憊，已無所措其手足矣。故婦人室女必令勤勞，不可曠蕩縱其心志，亂其眉睫。夜間不可使其獨臥於深堂冷室之中，沉默寂寥之所。邪念不萌則邪氣不入，何由而成斯疾也耶。又家有室女婺婦，覺其言語恍惚，懶惰好睡，面色有時嬌豔，有時青黃，飲食懶思，脈息乍大乍小，乍有乍無，即是邪祟為病。用安神定志辟邪丸，以救其內，丹符神咒以御其外，庶可獲生。世俗不知，不能慎之於始，又不能救之於終，良可嘆息。</p>
<p>寡婦忽有孕者何？曰：此異聞也，予亦聞之矣。昔有一婦與夫甚相得，年二十生子，越歲而夫故，念昔日恩愛誓不改弦，獨居石室，絕無門戶，惟一小竇進茶飲，如是者十有五年。當道聞其節，題旌表。其子十六歲入泮，痛母不及面，遂開竇見母稱謝，坐談良久，其子忽欲小便，母即示子以桶，子往便之，少頃母亦往便，遂哭別。仍築其竇，後覺有孕至足月而產，形體俱具。事聞於外，縣令大怒，具詳撫按道，欲毀其旌，以正逆罪。撫信以為然，拘質於案，以事關倫紀，翻閱《辨冤錄》，有男女氣血俱旺，相幾其氣而成形者，其胎必無骨節。發文拘提到案，鞠之得其實。按曰：如撫言幾誤矣，母居石室十五年，絕塵俗之私，毫無耗損。子列宮牆十六載，無滲漏之疾。寂然充滿，以致陽氣先留於桶內，陰氣復感於桶中，二氣相感，儼如交媾，凝而成形者。自古有之。然胎必無骨，令剖視之，冤始得自釋，令歸家仍移府道，囑特旌其門，此予齠齔時事長而聞諸先生者也。</p>

<h1>二、調經</h1>
<p>婦人室女經水一生不轉者何？曰：經者常也，天有二十八宿，地有十二經水，婦女應之，經水之來皆從十二經滲來之血。故足太陽膀胱經為海水，足陽明胃經為涇水，足少陽膽經為渭水，足太陰脾經為河水，足厥陰肝經終為汙水，足少陰腎經為汶水；手太陽小腸經為江水，手陽明大腸經為淮水，手少陽三焦經為漯水，手太陰肺經為湖水，手厥陰心包絡為漳水，手少陰心經為濟水。此十二經絡所屬。治者參行經血色，入十二經絡調之。若一生不轉則石女也。（五不女之一）非藥石所能療法。編者按：本條所言固不足信，但其比擬甚有趣，故仍其舊。</p>
<p>婦人室女經閉不通者何？曰：婦人月水又曰潮水，以其一月一至也。水者濺之意也，潮者取其信也。故上應太陽，下應潮水，一月一至者，正期也；一月兩至者血熱也，兩月一至者，血冷也。《經》曰：熱則流通，寒則凝滯，熱則用清涼，寒則用溫藥。若過用熱，禍不旋踵而至，當辨其形證，察其脈息。實則通之；虛則補之；鬱則開之；熱則清之；寒則溫之。不可固執。調經秘訣以戒鬱怒為主，行經時耐氣，忌生冷酒釀，庶無癥瘕之疾。</p>
<p>婦人室女經水三月一行者何？曰：此居經也，多主不壽，須大補氣血調和經脈。</p>
<p>婦人一生經不下行而反在鼻中出血者何？曰：此逆經也。肺經火盛，熱在血脈之中，每月見衄血數點，出上竅即當經水，且亦無病，惟終身不能生育。</p>
<p>婦人經閉成勞治之者何？曰：宜分經絡、辨虛實，生血調氣，不可用紅花、桃仁通經之劑，當以白朮、茯苓、當歸、白芍、甘草、麥冬、五味、芡實、蓮肉等分，納入鴨腹內蒸熟而吃之，其骨煅和上藥內成丸。鹽湯送下，至骨蒸痰嗽，診其脈七八至者，當視其肌肉何如，若消瘦之甚，藥亦無益。</p>
<p>室女年近二十，無經而成勞有咳嗽者何？曰：此憂思傷脾也，及配合後則陰陽和而病自去矣。</p>
<p>寡婦、尼姑經閉者何？曰：寡婦、尼姑諱疾隱情，倍難施治，總以獨陰無陽，治以抑陰扶陽為主，否則不起。</p>
<p>娼婦經閉者何？曰：行經時被人強力交媾，閉住血竅，十難救三，宜養血補血行竅等藥。若身熱、咳嗽、肌瘦成勞、下瀉則不治矣。</p>
<p>婦人經水過期而來者何？曰：事非一例，有氣血澀滯不按期者，當開鬱行血；有血虛者，肚腹不疼，身上漸漸作熱，宜大補血為主，調氣佐之；有事不稱意，鬱結憂思，肚腹、胸膈、腰脅疼痛等症，務要開鬱調氣四物湯倍加香附、青皮、元胡索、木香、陳皮、紅花、蘇木之類。</p>
<p>婦人經水不及期而來者何？曰：此血虛有熱也，宜涼血地黃湯，有氣多傷血海者，倍芎、歸，外加苓、梔之類。</p>
<p>婦人經水將來而作痛者何？曰：此鬱結也，服七氣湯加芎、歸、香附、桃仁、紅花之類。</p>
<p>婦人經水來後作痛兼有身熱者何？曰：此血虛也，去血過多以致身熱作痛，用四物湯倍生熟地，或滋血湯、八珍湯亦治之。</p>
<p>婦人經水錯亂妄行無定期者何？曰：此氣亂也，宜生血地黃湯加元胡、小茴，並服歸附丸。</p>
<p>婦人經水成塊而下者何？曰：此氣鬱凝滯也，宜四物湯加香附、丹皮、紅花，久則加膠、艾。</p>
<p>婦人經水有紫黑色者，有淡紅者，有濕鬱而成塊者何？曰：紫黑色者，氣血相併而成，腹疼者是也，調氣行血即愈；淡紅色者，血虛有熱，腹不疼易治，宜補血為主；更有痰症濕鬱而經來重墜，小腹烙熱作痛，甚至身熱、口乾、嘔吐，紫血成塊，牽引腰胯掣痛，種種痛苦難以備述。緣行經時內受氣惱，外冒風寒濕，以致血鬱氣滯，又誤投辛熱煎劑丸散，耗煉陰血，痛久則熱，熱久生痰，痰生火，火甚作痛，乃婦人第一苦病。《丹溪參要注》云：依症服藥殊不甚效，余遇此症單用蘇木、紅花、牛膝、丹皮四味。俟經期將至預服二三劑，自覺稍寬，並用神術丸至下次經期，疼痛、身熱、嘔吐、小腹大熱諸症漸平，仍服神術丸，早晚酒送兩次，半載之後悉平如故。</p>
<p>婦人三月一行經，經來如水湧者何？曰：此居經也。（見前）女人精血上應太陰，一月一盈虧，下應潮水，一月一消長。今失其常道，按四季而行，緣性急多怒，或食生冷以致血脈凝滯而不行，必待三月之久，血才運到胞門，故其始也，不能應期而早來，及其來也如水之而下，沛然而莫之能御。或來即數碗，或多至數升，勢甚遑迫，越日而收，自覺面青昏憒，四肢痠軟。才養三月，面色剛有紅潤，下次又將來，多主不壽，間有壽者，必中年調理得宜之效。</p>
<p>婦人素有衄血而絕無經者何？曰：此逆經也（見前）。氣為血之主，血為氣之配，故氣行則血行，氣滯則血滯，今七情鬱結，六氣外侵，氣化濁血凝氣，氣有餘則為火，火載血上升，出於鼻竅，有似月信而血脈全無下行之狀，安得有經？</p>
<p>婦人上無吐衄而絕無經者何？曰：此偏經也。蓋心主血，肝藏血，脾統血，三者得宜，血隨氣行，流於經絡，灌於血脈，行於隧道，通於胞門而成經水。若鬱結憂思，過傷辛辣，脾肺氣弱，傳送失宜，不從正道滲入，大腸大便時常見血，亦似經水之狀，而前竅竟無者，治宜開鬱導氣健脾益胃，涼血升提。使大腸無血而經水自通，此乃藥力可挽不可自甘沉痼。</p>

<h1>三、種子</h1>
<p>婦人經水準信，宜乎有子，而反不受胎者何？曰：有氣多而不受胎者，有血濁瘀鬱而不受胎者，有濕痰留滯胞宮而不受胎者，有肥盛婦人軀脂閉塞子宮而不受胎者，審其的實，多服歸附丸自愈。</p>
<p>婦人經水已調，並無他病而不受胎者何？曰：此必交合非法（婦人腰有二胞，左胞生男，右胞生女，交後精氣混融天構。向左側睡，陽精流入左胞則成男胎；向右側睡，陽精流入右胞則成女胎。當泄精時搯摘婦人臂肉，或虛咬婦人肩膊，猝令提吸攝入胞宮。此是陰陽妙用，廣嗣良法，得此屢驗，勿以余言為繆），或交後拈舉重物，登高墜下致渾融，精氣不能固結故也，宜側睡片時為妙。</p>
<p>婦人經調無病並勿勞動而不受胎者何？曰：此必男子素有勞怯，或過傷房欲，精漸清冷如冰故也。宜大補男子精氣矣。其充足自當施而成胎矣。</p>
<p>婦人經水已調，男子精氣已足而不成胎者何？曰：此必交會不如法。（種子當於經事三日後，五日內。若三日前瘀血未盡，則胞宮未淨，難以攝精，若過五日後則胞宮已閉，精無由入。或經後延綿，數日不淨則身不免病，亦須詳察）或交後又交，陽精入胞未固，一經觸動化為白淫而出，此男子縱肆之故，切宜戒之。</p>
<p>婦人經血調，陽精壯，禁戒守而不成胎者何？曰：此必妻妾眾多，男精耗損太過，精施而薄。諺云：廣種薄收，可以取譬。又或求嗣心切，自誤之者，蓋與之所至，自然而然一存求子之心，便多勉強。曾有求種子方者，酒後贈以一畫令攜歸，夫婦同看，則春冊也。由此得胎，試思獸之蕃育，何識何知，其理可悟矣。</p>
<p>婦人以嗣為急，多娶妾媵，氣血俱美，百計禱求而不得一嗣者何？曰：此必男子貪婪之故，嬌豔盈前，欲火益熾，日夜無度，耗損真陽，雖有萌蘖之生，從而交損之，又安望之哉。《經》云：寡欲多男子，即若輩良方。</p>
<p>妾婦進門即孕者何？曰：形體壯實，陰血正旺，一感而成胎，理之常也。陽壯陰調則剛而能射，虛而能受矣。</p>
<p>妾婦無子，改嫁而即孕者何？曰：此必性內多郁故也。緣此為妾多不稱心，情懷鬱結以致經候不調，或交會失期，俱會失孕。適彼則心懷舒暢，交會及期，一感而成胎矣。</p>
<p>婦人有生一胎而後不再得孕者何？曰：此必產後調養失宜，或氣血痿弱，潮熱往來，以致子臟無血，不復成胎，宜大補氣血。</p>
<p>婦人勿孕，到三十後經水忽絕，身亦無病者何？曰：三十無經宜有病，無經無病者乃秋冬降收閉藏之象也，不惟無病，而且有壽，緣因向未受孕，收斂得早，免脫血之太過耳。</p>
<p>婦人七七而天癸絕，有至五十歲而生產者何？曰：婦人向無胎孕，此必幼年有疾，中年諸事不滿意，至暮年衣食豐足，事多得意，氣血未耗，故四十九受胎，五十歲而生子，亦非異事。</p>
<p>男子八八而精竭，亦有年過七十而生子，且其子多壽者何？曰：起居有節，不妄作勞，更能調補，則精氣不衰而有子，子復有壽，《靈樞經》已言之矣，俗語暮年生子，必多夭死，不可泥也。</p>
<p>婦人及期交會而不孕，其夫外歸，過期而孕者何？曰：此真寡欲多男之謂也。婦人久守，陰血充盈，夫久客外歸，陽氣滿實，二氣俱純，天地交泰，有自然之理。諺云：新婚不如遠歸，豈經期前後之例所能拘乎？</p>
<p>婦人慾孕不得，至婢女一造次，而即孕者何？曰：陰血壯旺，且恐人知覺，氣每收斂，故一感而成胎，必多壽者，精元完固之效也。</p>
<p>婦人身肥而不成胎者何？曰：稟受厚恣於飲食，軀脂滿溢，閉塞子宮。治宜燥濕，用南星、半夏、蒼朮、川芎、防風、羌活等藥。</p>
<p>婦人身瘦而不成胎者何？曰：身瘦性急之婦，子宮乾澀少血，不能攝受精氣，治宜涼血降火，或四物湯加芩、柴、香附諸藥。</p>
<p>婦人經調，男子精壯而永無孕者何？曰：此必五不女中之反竅婦也，必效禽獸之交，精始得入胞門，若正交則不入胞門，終不成孕，先師言之屢驗。（螺、紋、鼓、角、石，謂之五不女）</p>
<p>婦人受孕交會之得其訣者何？曰：「三十時中二日半，二十八九君須記，落紅滿地是佳期，金水過期空霍亂。」此言經期在二十八九日之後，在三十日之前，見其血色如金黃樣，即是佳期，但驗此色，即可交會。然有壯實女人，氣血充盛，每至六七日方回，安可定以三日為期，臨時察之，務以適中為貴。又云：「霍亂之時枉費工，樹頭樹底覓殘紅，但覺花開不結果，那知丹桂不成叢。」此言交會太早則子宮瘀血未淨，新血未生，則不能攝陽精而孕。若過期則子宮閉塞，男子府精無所容受，亦不受胎，當察其動靜而消息之。</p>
<p>婦人之脈有胎、無胎、准胎者何？曰：有胎者，六脈洪大而身不熱，左大為男右大為女。外驗左乳先有核者男，右乳先有核者女。三月後兩寸浮大，兩關滑，兩尺疾而帶數，此胎脈也。六脈不一者，非胎。若脈來沉細，腹有形而不動，一如抱甕之狀，有時作痛，用補氣活血之劑，甚至乍大乍小，乍有乍無，浮沉不一者，此鬼胎也。</p>
<p>婦人有雙胎者何？曰：此男女精氣充實，交媾之後，婦人仰臥熟睡，致渾融精氣平等流入兩胞而成，故宜男月成者。（《產育真傳》云：宜男宜女月，以女年歲為主，女年十六以單月為宜男，如正三、五、七、九、十一是也。女年十七以雙月為宜男，如二、四、六、八、十、十二是也）即成雙男，若女則不壽。宜女月成者即成雙女，若男則不壽。此陰陽之妙理，求嗣者當於此留意也。</p>
<p>婦人產未滿月而忽有孕者何？曰：此瘀血已盡，新血正生。內無七情，外少六氣，情懷舒暢，故交即成胎，漸覺體重，腹大，嘔吐，惡食，往往疑為瘀血凝滯，誤用逐血之劑。醫遇此症，宜先用川芎三四錢為末，酒調下。覺腹中大動，是胎候也。若腹中不動，面上帶青黃色，即是血瘕。用大黃逐血之劑，然必察脈觀色，在三月盡方可行，早則不可為也。</p>

<h1>四、胎前</h1>
<p>婦人胎孕月數不足即分娩者何？曰：臟腑虛微，氣血衰弱，病起相感，積氣攻衝，侵損榮衛，有妨胎元，以致早產，急宜補養，久則成勞，難治。</p>
<p>婦人胎不過七月而生者何？曰：此形體充實，氣身兩足故也。胎至七月，百骸具，九竅利，即正產矣。昔山永富，家娶媳年二十歲，至夫家才七月即生男。姑甚怒，翁從外商歸，事聞深以為玷，命逐婦歸寧，其夫憐其嬌豔，強與交歡。別後七月復生男，翁姑始悔悟迎還。又七月而生男，二年之內連舉三子。後即絕孕。此天不厭棄，此婦故連生三子以實之。若只生一子，則覆盆之冤，沒齒不能白矣。錄此為多疑者戒。</p>
<p>婦人懷胎有二十餘月而生者何？曰：此必胎中有漏血故也。緣成胎後，經雖不多，每月一至，名曰漏胎。血有餘者，不須服藥，胎亦無恙；不足者，胎無血養，以致胎氣不充，又貧苦無醫藥，延至二十餘月，四體充，百骸具，七情開，九竅利而生男。余曾見此三症，皆氣血滲漏，以致愆期，亦不甚為怪也。</p>
<p>婦人胎有欲產不產者何？曰：此氣逆也。當順其氣，自然安妥生下，用來蘇散及葵子散。又臨產或不順利，用草麻子十四粒，硃砂、雄黃各五分，蛇脫一尺燒灰，麝香一分，為末，漿飲和丸。用椒湯淋洗產婦肚臍，置前藥丸在內，用紙數層蓋覆，以闊帛束之，胎下即去上藥。</p>
<p>婦人將產偶為捍動所傷治之者何？曰：此病十死八九，急用加減四物湯救之。</p>

<h1>五、臨產</h1>
<p>婦人胎死腹中者何？曰：小腹迸痛如冰，寒熱並作。舌黑子死，用官桂、麝香等分酒下。</p>
<p>婦人臨產胎死腹中者何？曰：母患潮熱，經旬臟腑薰蒸，又或吃熱毒之物，交感損傷使然，治用活水無憂散。</p>
<p>婦人難產累日不下者何？曰：胎前不能調養故也，至口臭，舌青則兒已死。母面色青，母亦難保。速用催生救急丹，或達生散救之。</p>
<p>婦人臨產胎暈不省人事者何？曰：速將產婦扶起，勿令睡臥，以韭菜一握，切碎，置有嘴磁瓶，用米醋煎數沸，澆灌以內，密封瓶口，以嘴緊向產婦鼻孔，令醋氣透入即蘇。</p>
<p>婦人產時胎尚未落而漿水先盡治之者何？曰：用保生無憂散，或達生散治之。</p>
<p>婦人臨產交骨不開者何？曰：陰氣虛也，用加味芎歸湯。（川芎、當歸各五錢，自死龜板一個、酒炙，婦人頭髮一握、燒灰存性，每服五錢）</p>
<p>婦人胎衣不下者何？曰：兒既生下，衣被積瘀攻入，不能墮落，用破血紅花散，或單用萆麻子仁研爛塗足心，下出即洗去。或即以產婦頭髮入口，作嘔胎衣自出，不出者死。</p>
<p>婦人產門不閉者何？曰：此氣血大虛也，用十全大補或補中益氣湯倍加升麻。</p>
<p>婦人產後陰魋脫下，玉門不收治之者何？曰：用石灰一升，炒令極熱能燒草，置溷桶中，再用荊芥、防風、不拘多少，煎百沸湯沃之，令產婦坐桶上，使氣薰入陰戶，待溫和坐浸其中，二三次平復如故。</p>
<p>婦人臨盆橫產者何？曰：胎兒將下，先露其手，或露其臂，用針刺入二分許，兒手不上，以鹽擦之。皆因兒轉身未當，產母用力迫逐太急，致兒身橫，欲下不得。不幸而有此候。當令產母仰臥，令接生穩婆先推其身直上，漸漸將手入，以中指抵其背椎上，俟其身轉問路，急煎催生救急丹服。一鍾方可扶母臨盆，此名橫生。凡接生之人，非精妙手段，不可妄用此法，恐其反傷人命。</p>
<p>婦人臨盆倒產者何？曰：胎元曲轉其身，未認生路。被母用力太速，致令兒頭偏住門路而未能生下，當令產母仰臥，使接生之人輕輕推兒送上，以手撥正其頭，使向產門，然後產母用力，名曰偏產。凡接生之人亦要精妙手段方可依此。</p>
<p>婦人凍產治之者何？曰：冬月嚴寒，天氣閉塞，血凝而不散，以至兒不能下，宜滿屋燃火，以重綿裹身，溫養其血熱則寒散，兒軟易生，此名凍產。若春秋之間，遇有陰澀寒冷之時，以炭暖房亦妙。</p>
<p>婦人臨產則腸先出，然後產子者何？曰：此盤腸產也。其腸初出以篩盛之，隨以米醋半鍾，新汲水半鍾，攙和令人猛噀其面者三，腸即收上，又方用萆麻子十四粒，去殼研碎、放頭頂中間百會穴上，俟腸收上隨拭去藥。</p>
<p>婦人產經五日，已死，遇醫用針而母無恙者何？曰：兒在腹中轉身時，手摘其心致母昏憒不產，時值暑天，病家慮其穢，置席上抬送莊外，陡遇朱丹溪蹤其後，見其鮮血淋地，詢得其實。曰：識其症矣，容我針之，猶可復生。即於心窩針之，兒果撤手而下，產母復生。</p>

<h1>六、產後</h1>
<p>婦人產後陰脫者何？曰：氣血虛而不能收斂也，宜補中益氣湯倍當歸、熟地、麥冬、白朮、升麻，入糯米一撮。</p>
<p>婦人產後血暈者何？曰：氣血暴虛，未得安靜，被瘀血隨氣上衝，迷亂心神，故眼暗頭眩，甚至悶絕不知人事，口噤神昏氣冷，宜用清魂散即甦醒復舊，不可作喑風治，或用失笑散。</p>
<p>婦人產後血不行腹作痛者何？曰：此瘀血也。兒初落地，須扶坐片時，使腹中瘀血下行，若聽其即臥，多致飽悶腹痛，宜用元胡索散加桃仁、蘇木。</p>
<p>婦人產後不語者何？曰：心有七孔三毛。因產虛弱多致停積，瘀血閉於心竅，神思不明，又心氣通於舌，心氣閉塞則舌本亦強矣，故不言語。用人參、石菖蒲、川芎各一兩，細辛一錢，防風、辰砂各一兩五錢，為末，每服一錢，薄荷湯送下，名七珍散。</p>
<p>婦人產後忽然狂言亂語，妄見鬼神者何？曰：產後血氣虛弱，肺臟無氣，心氣不清故也，宜用加味烏金散，不可作風暈治。</p>
<p>婦人產後或歌或舞，或唱或笑，或坐或臥，或怒罵，甚至逾垣上屋者何？曰：敗血衝心，聚而不散故也。沖胃則噁心嘔吐，衝心則顛狂錯亂，皆是惡症。用藥速救，亦多不起，宜龍齒清魂散。</p>
<p>婦人產後忽患哮喘者何？曰：此危候也。產後虛弱，不避風寒，兼瘀血凝於肺脾之故。宜用大寧肺湯兼驅逐瘀血諸藥。</p>
<p>婦人產後乾咳嗽者何？曰：此產中去血過多，血少火旺之故。若有兒吃乳，久必無乳。若無兒吃乳，仍乾咳嗽身熱者，必成勞怯。宜服逍遙散加貝母、知母、陳皮、麥冬五味等藥。</p>
<p>婦人產後吞酸者何？曰：此胃中積痰滯火所致，宜七氣合二陳湯。</p>
<p>婦人產後忽然心痛不可忍者何？曰：胃氣虛弱，心經血少，二者不順，又因七情所觸，以致諸氣不和，痛不可忍，宜服七情手拈散。或傷寒冷飲食致血暈者，隨症治之。</p>
<p>婦人產後脅痛在左在右者何？曰：在左為血，以清血順氣為主；在右為痰，以化痰消食為主。</p>
<p>婦人產後骨節四肢通身疼痛者何？曰：產育之時，周身骨節開張，氣血俱虛，此皆勞損，勉強坐臥，出房吹風所致，宜用芎蘇飲加羌活、防風。若內傷生冷，外感風寒，宜服生料五積散。</p>
<p>婦人產後手足疲軟不能行動者何？曰：敗血流於四肢故也，宜逐瘀血加引經藥。</p>
<p>婦人產後忽然麻木者何？曰：此氣血大虛故也，以大補氣血為主，兼烏藥、香附諸藥。</p>
<p>婦人產後中風不語者何？曰：此因產婦不避風寒，赤腳下床，踏於冷地，兼百日內遇房事，或當風取涼洗浴，宜用烏金散，不可作風治。</p>
<p>婦人產後發熱，口乾作渴，唇裂生瘡者何？曰：此胎前過食辛辣、椒蒜、雞魚，熱物積於脾胃，氣攻上焦所致。宜用逍遙散加連翹、花粉治之。</p>
<p>婦人產後寒熱者何？曰：血虛感冒，四肢痠痛，頭眩目暈，宜用加味烏金散，不可作瘧治。</p>
<p>婦人產後瘧疾者何？曰：過傷飲食，食滯生痰故也。用清脾飲倍加消食化痰藥，稍退用常山七寶飲。</p>
<p>婦人產後痢疾者何？曰：產後大虛，過傷生冷所致，若腹中作痛，裡急後重，用木香導滯湯驅逐之，次用黃芩芍藥湯清利之。久則用真人養臟湯之類。</p>
<p>婦人產後瘧痢，治以溫補而泄瀉者何？曰：此必暴雨之後，病家不知，誤用無根水煎，氣益下行，故不效而反瀉也。急以人參喂救之，仍用溫補之劑。</p>
<p>婦人產後譫語者何？曰：心主生血，產後去血過多，心神失守故也。宜大補氣血安神即愈，熱盛脈大者不治，益母丸薄荷湯送下，童便服之亦愈。血虛而神失守者，用豬心竅血屢驗。</p>
<p>婦人產後乳竅不通治之者何？曰：用炒山甲、王不留行為末，用酒調服。或煮豬蹄作羹飲之，此初產時可用，若十餘日無乳，當察其虛實，實則開痰提氣，虛則大補氣血，當消息而治之。</p>
<p>婦人小兒飲乳，經事三年不至者何？曰：乳乃上湧之血液所化，若無兒飲乳則流為經水矣，不須服藥。</p>
<p>婦人產後發腫胸飽者何？曰：此內傷食氣，外又冒風故也，用青皮飲或加減胃苓湯。</p>
<p>婦人產後嘔吐，飲食不下腫脹者何？曰：血虛氣弱，或受怒氣，或傷生冷，致脾胃不能運化，濕滯而生痰生火，久則必成反胃。宜用香砂養胃湯。</p>
<p>婦人產後小便不通，腹脹如臌治之者何？曰：用炒鹽和麝香少許，填滿臍中，上置蔥白片半指厚，用火炷蓋滿蔥餅灸之，覺熱氣入腹難禁即止，則小便通而脹自消矣。</p>
<p>婦人產後小腹中有塊作痛者何？曰：此兒枕未破之故。宜用香稜散倍破瘀藥；或枳實芍藥散亦驗；若患孕癰用烏藥五錢，水一鍾入牛皮膠蒸化，七分溫服；或薏仁蒸汁飲之。如不應，用牡丹皮散。</p>
<p>婦人產後忽然下血，成片似崩者何？曰：血氣大虛，脾胃又弱，榮衛衰敗故也，宜和血理氣用四物止經湯。</p>
<p>婦人產後膀胱垂下不收者何？曰：勞傷太過，又取重物，氣弱虛冷，因而不收，有至三四月不能還原者，宜用收陰散。</p>
<p>婦人產後傷脬，終日淋漓不幹者何？曰：此被守生婆誤傷所致，用補脬湯（內有黃絹或用黃蠶繭，煎至黏，服後擁臥得汗即愈，忌聞金聲），或煮黏脬食之即愈。</p>
<p>婦人產後小便腫痛者何？曰：濕熱客於膀胱。用乾薑、枳殼、麻黃、桔梗、陳皮、甘草、乳香、沒藥，煎湯服之。</p>
<p>婦人產後頻數治之者何？曰：宜瓜蔞湯，或菟絲子丸。若中氣不足，宜補中益氣湯加益智。</p>
<p>婦人產後陰痛陰癢者何？曰：此濕熱也，或坐冷地，或洗用涼水之故。用白芷、荊芥、防風、花椒、杏仁、白礬、細辛，煎湯薰洗。</p>
<p>婦人產後百病三惡者何？曰：嘔吐、泄瀉，盜汗是也。病見一惡已難調治，三惡並見，其病必危。三者之中當治其急。此急則治標之說，譬如撲火救其所先，余可少緩然。</p>

<h1>七、附志</h1>
<p>婦人或因難產，或因不正用草藥斷產，致生他病者何？曰：產育一斷，難免無病，須待經事將淨一二日之間，用黃連、黃芩、黃柏、滑石為末，蜜湯送下，以寒子宮，再不生育，亦無他病。</p>
<p>婦人內傷外感與男子同治，惟經帶胎前產後用藥較難，故不憚煩，瀆而詳之，方多驗過，全在靈敏者之運用焉。</p>

<h1>八、論中引用各方</h1>
<p>八味丸</p>
<p>附子　肉桂（一兩）　地黃（八兩）　萸肉（三兩）　山藥（四兩）　茯苓（三兩）　丹皮（三兩）　澤瀉（三兩）</p>
<p>蜜丸。</p>
<p>烏藥順氣散</p>
<p>烏藥　橘紅（二錢）　麻黃　川芎　白芷　桔梗　枳殼（炒，一錢）　殭蠶　炮姜　甘草（炙，各五分）</p>
<p>二陳湯</p>
<p>姜半夏　陳皮　茯苓（各一錢）　甘草（五分）</p>
<p>加姜煎。</p>
<p>補中益氣湯</p>
<p>黃耆（蜜炙，一錢五分）　人參　甘草（炙，一錢）　白朮（土炒）　陳皮　當歸（五分）　升麻（二分）　柴胡（二分）　姜（三片）　棗（二枚）</p>
<p>小續命湯</p>
<p>防風（一錢五分）　桂枝　麻黃　杏仁　川芎　白芍　人參　甘草（炙）　黃芩　防己（八分）</p>
<p>加薑、棗煎。</p>
<p>礞石滾痰丸</p>
<p>青礞石（一兩）　沉香（五分）　大黃（酒蒸）　黃芩（八兩）</p>
<p>礞石同朴硝煅研和諸藥為丸。</p>
<p>金沸草散</p>
<p>旋覆花　前胡　細辛（一錢）　荊芥（一錢五分）　赤茯苓（六分）　半夏（五分）　甘草（炙，三分）</p>
<p>加薑、棗煎。</p>
<p>三拗湯</p>
<p>麻黃　杏仁　生甘草</p>
<p>人參敗毒散</p>
<p>人參　羌活　獨活　柴胡　前胡　川芎　枳殼　桔梗　茯苓（一兩）　甘草（五錢）</p>
<p>加姜三片薄荷少許。</p>
<p>竹葉石膏湯</p>
<p>竹葉（二把）　石膏（一斤）　人參（三兩）　炙甘草（二兩）　麥冬（一升）　半夏（半升）　粳米（半升）</p>
<p>加薑、棗煎。</p>
<p>四物湯</p>
<p>當歸　生地黃（三錢）　芍藥（二錢）　川芎（一錢五分）</p>
<p>六味地黃丸</p>
<p>地黃　萸肉　山藥　茯苓　丹皮　澤瀉</p>
<p>蜜丸。</p>
<p>六君子湯</p>
<p>人參　白朮（土炒）　茯苓（二錢）　甘草（一錢）　陳皮　半夏</p>
<p>人參清肺湯</p>
<p>人參　杏仁　阿膠（各一錢）　粟殼（蜜炙，一錢五分）　炙甘草　桑白皮　知母　地骨皮　烏梅肉（各五分）</p>
<p>加棗一枚。</p>
<p>滋陰降火湯</p>
<p>生地（三錢）　當歸　川芎（二錢）　白芍（酒炒）　知母　黃柏　玄參</p>
<p>五積散</p>
<p>白芷　陳皮　厚朴（六分）　川芎　白芍　茯苓　桔梗（二分）　蒼朮　枳殼（七分）　半夏　麻黃（四分）　乾薑　肉桂　甘草</p>
<p>加薑、蔥煎。</p>
<p>十神湯</p>
<p>麻黃　葛根　升麻　川芎　白芷　紫蘇　甘草　陳皮　香附　赤芍</p>
<p>加薑、蔥煎。</p>
<p>香蘇飲</p>
<p>香附（炒）　紫蘇（二錢）　陳皮（一錢）　甘草（七分）</p>
<p>加薑、蔥煎。</p>
<p>蘇子降氣湯</p>
<p>蘇子　半夏　前胡　厚朴　橘紅　當歸（一錢）　甘草（炙）　肉桂（五分）</p>
<p>加姜煎。</p>
<p>木香順氣湯</p>
<p>木香　草蔻　益智　蒼朮（三分）　厚朴（四分）　青皮　陳皮　半夏　吳萸　乾薑　茯苓　澤瀉（二分）　升麻　柴胡（一分）　當歸（五分）</p>
<p>清暑益氣湯</p>
<p>黃耆　人參　白朮　蒼朮　神麯　青皮　陳皮　甘草　麥冬　五味　當歸　黃柏　澤瀉　升麻　葛根</p>
<p>薑、棗煎。</p>
<p>逍遙散</p>
<p>柴胡　當歸（酒炒）　白芍（酒炒）　白朮（土炒）　茯苓（一錢）　甘草（炙，五分）</p>
<p>加煨薑、薄荷煎。</p>
<p>五苓散</p>
<p>豬苓　茯苓　白朮　澤瀉　桂</p>
<p>四七湯</p>
<p>人參　官桂　半夏（一錢）　甘草（五分）</p>
<p>加姜煎。</p>
<p>藿香正氣散</p>
<p>藿香　紫蘇　白芷　大腹皮　茯苓（三兩）　白朮（土炒）　陳皮　半夏曲　厚朴　桔梗（二兩）　甘草（一兩）</p>
<p>清脾飲</p>
<p>青皮　厚朴（醋炒）　柴胡　黃芩（炒）　半夏（制）　茯苓　白朮（土炒）　甘草（炙）　草果</p>
<p>加姜煎。</p>
<p>胃風散</p>
<p>人參　白朮　茯苓　當歸　川芎　芍藥　桂</p>
<p>加粟米百餘粒煎。</p>
<p>加味平胃散</p>
<p>蒼朮（二錢）　厚朴　陳皮　甘草（炙一錢）　麥芽　神麯</p>
<p>黃芩芍藥湯</p>
<p>黃芩（三兩）　芍藥　甘草（二兩）</p>
<p>芍藥地榆湯</p>
<p>芍藥　地榆　阿膠　卷柏</p>
<p>槐角丸</p>
<p>槐花　枳殼　當歸　黃芩　防風　地榆</p>
<p>酒糊丸。</p>
<p>倉廩散</p>
<p>人參　羌活　獨活　柴胡　前胡　川芎　桔梗　茯苓　甘草　陳倉米（一撮）</p>
<p>香砂養胃湯</p>
<p>半夏　白朮（炒）　陳皮　茯苓　厚朴　香附　人參　砂仁　檳榔　草果　甘草</p>
<p>加姜三片、烏梅一個。</p>
<p>木香流氣飲</p>
<p>半夏　木香　青皮　陳皮　麥冬　甘草　厚朴　丁香　人參　枳殼　沉香　肉桂　蘇子　蓬朮　通草　白芷　茯苓　木瓜　肉果　檳榔　白朮　大腹皮</p>
<p>指迷七氣湯（待考）</p>
<p>獨活寄生湯</p>
<p>獨活　桑寄生　秦艽　防風　細辛　當歸　白芍　川芎　熟地　杜仲　牛膝　人參　茯苓　甘草　桂心</p>
<p>當歸拈痛湯</p>
<p>茵陳（酒炒）　羌活　防風　升麻　葛根　蒼朮　白朮　甘草（炙）　黃芩（酒炒）　苦參（酒炒）　知母（酒炒）　當歸　豬苓　澤瀉</p>
<p>防風散（待考）</p>
<p>寶藏丸（待考）</p>
<p>龍膽瀉肝湯</p>
<p>龍膽草（酒炒）　人參　天冬　麥冬　生甘草　黃連　梔子　知母（各五分）　黃芩（七分）　柴胡（一錢）　五味子（三分）</p>
<p>清涼散（待考）</p>
<p>歸脾湯</p>
<p>人參　黃耆（蜜炙）　白朮（土炒）　茯苓　棗仁（各二錢）　遠志　當歸（各一錢）</p>
<p>加桂圓肉七枚。</p>
<p>二地二冬二母二皮二百湯</p>
<p>生地　熟地　天冬　麥冬　貝母　知母　丹皮　骨皮　百部　百合</p>
<p>安神定志辟邪丸（待考）</p>
<p>涼血地黃湯</p>
<p>生地　當歸　川芎　黃連　黃柏　黃芩　細辛　柴胡　羌活　荊芥　防風　升麻　藁本　知母　紅花　蔓荊子</p>
<p>七氣湯</p>
<p>半夏（五錢）　厚朴（三錢）　茯苓（四錢）　紫蘇（二錢）</p>
<p>加薑棗煎。</p>
<p>滋血湯</p>
<p>熟地　芍藥　川芎　當歸　人參　黃耆　山藥　茯苓</p>
<p>八珍湯</p>
<p>熟地　芍藥　當歸　川芎　人參　白朮　甘草　茯苓</p>
<p>生血地黃湯（待考）</p>
<p>歸附丸</p>
<p>當歸　香附　川芎　艾葉　人參　乾薑　白芷　延胡　琥珀　沉香　木香　地榆</p>
<p>神朮散</p>
<p>蒼朮　防風（二兩）　甘草（一兩，炙）</p>
<p>加生薑、蔥白煎。</p>
<p>來蘇散</p>
<p>木香　陳皮　神麯　黃耆　炮姜　白芍　麥芽　阿膠　甘草（炙）　糯米　苧根</p>
<p>葵子散</p>
<p>黃葵子（一錢）　血餘（少許）</p>
<p>熱酒沖服。</p>
<p>加減四物湯</p>
<p>熟地　當歸　白芍　川芎　蓬朮　三稜　肉桂　乾漆</p>
<p>活水無憂散</p>
<p>益母草　急性子　當歸（各四兩）　生地　紫蘇　陳枳殼　赤芍（各二錢）　肉桂　川芎　陳艾（各一錢）　甘草（八分）　活鯉魚（一個）</p>
<p>催生救急丹</p>
<p>當歸　川芎　龜板（炙）　血餘灰</p>
<p>達生散</p>
<p>紫蘇（五分）　大腹皮（三錢）　白朮（一錢）　白芍（一錢）　甘草（二錢）　歸尾（一錢）　陳皮（五分）　人參（五分）</p>
<p>保生無憂散</p>
<p>當歸　川芎　芍藥　枳殼（炒）　木香　甘草（炙，各一錢五分）　乳香（另研）　血餘灰（各五分）</p>
<p>破血紅花散</p>
<p>歸尾　赤芍　枳殼　肉桂　甘草　威靈仙（各一錢）　人參　紅花（五分）　加生薑三片。</p>
<p>十全大補湯</p>
<p>人參　白朮　茯苓　熟地　芍藥　川芎　當歸　黃耆　肉桂</p>
<p>清魂散</p>
<p>人參　澤蘭　荊芥　川芎　甘草</p>
<p>失笑散</p>
<p>五靈脂　蒲黃（炒）</p>
<p>延胡索散</p>
<p>延胡索　蒲黃　肉桂　當歸　乳香（研）　沒藥（制）　赤芍</p>
<p>加減烏金散</p>
<p>厚朴　黃芩　柴胡　麻黃　陳皮　甘草　當歸　白芍　熟地　加蔥白三個、生薑三片。</p>
<p>七珍散</p>
<p>石菖蒲　人參　生地　川芎　細辛　防風　辰砂</p>
<p>薄荷湯送下。</p>
<p>龍齒清魂散</p>
<p>人參　遠志　桂心　歸身　茯神　細辛　延胡　麥冬　甘草</p>
<p>薑、棗煎。</p>
<p>大寧肺湯</p>
<p>橘紅　紫蘇　五味子　杏仁　甘草　半夏　黃芩　阿膠　瞿麥　桑白皮　枳殼</p>
<p>加姜五片。</p>
<p>七情手拈散</p>
<p>枳殼　延胡　小茴香　白芍　乳香　沒藥　甘草</p>
<p>芎蘇飲</p>
<p>紫蘇　乾葛　半夏　茯苓　陳皮　甘草　枳殼　桂枝　川芎　木香　柴胡</p>
<p>加薑、棗煎</p>
<p>烏金散</p>
<p>厚朴　陳皮　桔梗　蒼朮　川芎　白芷　茯苓　當歸　枳殼　白芍　桂枝　麻黃　羌活　獨活　牛膝　甘草</p>
<p>加蔥頭、姜。</p>
<p>截瘧七寶散</p>
<p>常山（酒炒）　草果　檳榔　青皮　厚朴　陳皮　甘草</p>
<p>酒水煎、露一宿，於當發之早，面東溫服。</p>
<p>真人養臟湯</p>
<p>人參　當歸　訶子　肉豆蔻　甘草（炙）　木香（各一錢）　白芍　白朮（炒三錢）　肉桂（五分）　粟殼（蜜炙，三錢）</p>
<p>益母丸</p>
<p>五月採取益母草曬乾為末煉蜜為丸。</p>
<p>青皮飲（待考）</p>
<p>胃苓湯（一名封塵飲子）</p>
<p>豬苓　茯苓　白朮　澤瀉　肉桂　蒼朮　厚朴　陳皮　甘草</p>
<p>香稜散</p>
<p>荊三稜　蓬朮　赤芍　甘草　官桂　香附　烏藥　桃仁　紅花</p>
<p>枳實芍藥散</p>
<p>枳實（炒黑）　白芍（酒炒）</p>
<p>牡丹皮散</p>
<p>丹皮　牛膝　歸尾　赤芍　荊三稜　桂心　蓬朮　延胡</p>
<p>四物止經湯</p>
<p>當歸　人參　阿膠　茯苓　棗仁　陳皮　蒲黃　甘草　白雞冠花　側柏葉</p>
<p>加姜三片。</p>
<p>收陰散</p>
<p>當歸　川芎　白芷　升麻　萸肉　熟地　白朮　枳殼　人參　陳皮　沉香　肉桂　甘草</p>
<p>補脬飲</p>
<p>生黃絹（一尺，剪碎）　白牡丹皮根　白及（各一錢）</p>
<p>用水一碗，同煮絹爛如飴，空心頓服，服時不可作聲。</p>
<p>栝蔞湯</p>
<p>栝蔞　黃連　甘草　人參　桑螵蛸　大棗</p>
<p>菟絲子丸</p>
<p>菟絲子　石蓮子　茯苓</p>
<p>山藥，麥糊丸。</p>
<p>婦女要方</p>
<p>景岳調經飲　專治婦女月水參前。</p>
<p>黃連　烏藥　香附　甘草　當歸　川芎　芍藥　地黃</p>
<p>理經湯　專治婦女月水落後。</p>
<p>人參　黃耆　川芎　當歸　升麻　陳皮　白朮　白芍</p>
<p>調經愈痛散</p>
<p>治婦人月水將來，預先作痛。</p>
<p>黃連　烏藥　棗仁　香附　甘草　當歸　川芎　芍藥　地黃</p>
<p>煮附丸　專治婦女經水參前落後。</p>
<p>用香附不拘多少，好醋浸一宿，煮熟焙乾磨末，醋和丸，日以米飲進二服，半年以上即效。</p>
<p>清熱調經湯　治婦女經事落後三四日及飽噯發熱。</p>
<p>枳殼　厚朴　蒼朮　半夏　桔梗　草果　茯苓　甘草</p>
<p>補中湯</p>
<p>當歸　川芎　芍藥　人參　黃耆　陳皮</p>
<p>蜜丸，白湯下。</p>
<p>種子丹</p>
<p>吳萸　白芍（各一兩）　細辛（五錢）　菖蒲　白附子　桂心　厚朴（各四錢）　乳香　茯苓　沒藥　牛膝　當歸（各二錢）</p>
<p>同烏骨白雞炙末，煎煉蜜丸。</p>
<p>保氣散　安胎寬氣，進食瘦胎易產，設或居處失宜，偶然跌僕，動胎漏血，兼服佛手散、神寤丸、枳殼散。此三藥八月宜常服。</p>
<p>香附（四兩）　山藥（七兩）　砂仁　甘草（各一兩）　木香（四錢）　益智　蘇葉（各五錢）</p>
<p>白湯下。</p>
<p>當歸獨活湯　治妊娠子癇，俗名魂風。</p>
<p>貝母　葛根　杜仲　防風　防己　川芎　澤蘭　官桂　當歸　人參　茯苓　藁本　獨活　竹瀝　貝母　易產若未足月者，以升麻代之。</p>
<p>枳殼散　治婦人手足煩熱，夜臥多汗，肌肉黃瘦；經候不調，四肢煩倦，心胸飽悶。</p>
<p>枳殼（三兩）　半夏　赤芍（各二兩）　柴胡　黃芩（各一兩半）　姜（一片）　棗（二枚）</p>
<p>白朮散　治妊娠氣不調和、飲食易傷。</p>
<p>白朮　紫蘇（各一兩）　川芎　訶子　青皮（各五錢）　人參　白芷（炒，各三錢）　甘草（四分）　姜（三片）</p>
<p>秘結方　治妊娠秘結，大便不利乃熱結於大腸。</p>
<p>枳殼（三兩）　防風（二兩）　甘草（一兩）</p>
<p>寬膈飲　治妊娠心胸飽滿，痰逆不思飲食。</p>
<p>赤苓　前胡　白朮　蘇葉（各一兩）　半夏　麥冬　人參（各四錢）　大腹皮（三錢）</p>
<p>姜水煎。</p>
<p>和中湯　治妊娠腰痛腹痛。</p>
<p>當歸　阿膠　甘草（各一兩）　蔥根（半升）</p>
<p>香歸飲　此經產行血，聖藥治血塊升塞飽悶噁心嘔吐。</p>
<p>藿香　青皮　陳皮　蓬朮　三稜　香附　益智　甘草　半夏　桔梗　官桂　烏藥　赤芍　歸梢　姜</p>
<p>利腸散　治產後大便不通，四物湯多加青皮。</p>
<p>按：產後便張，宜以潤腸湯、玉燭散等治之，如不效，百檢升經心法，知產後大便秘結，因下血過多，精液耗竭，以此散極效。</p>
<p>潤腸湯　治大便秘結。</p>
<p>麻仁　大黃　生地　熟地　當歸　桃仁　紅花　升麻　甘草</p>
<p>清金退熱湯　治癆怯等症。</p>
<p>歸身　白芍　人參　茯苓　黃連（薑汁炒）　黃芩　知母　貝母　柴胡　桔梗　陳皮　川芎　五味　甘草　桑皮　地骨皮　姜</p>
<p>人參五味子湯　治勞怯骨蒸，熱嗽，痰血等症。</p>
<p>當歸　芍藥　人參　黃耆　貝母　桔梗　麥冬　陳皮　青皮　山梔　丹皮　五味　甘草　杏仁　姜</p>
<p>人參養榮湯　專治婦女一切虛證。</p>
<p>八珍湯去川芎加黃耆、官桂、五味子、陳皮、遠志、薑、棗。</p>
<p>香殼散　治嘔吐血症。</p>
<p>香附　枳殼　蘇木　白芍　青皮　陳皮　桃仁　歸尾　蓬朮　烏藥　甘草</p>
<p>茯苓半夏湯　治痰火怔忡等症。</p>
<p>當歸　川芎　赤芍　地黃　陳皮　甘草　半夏　茯苓　南星　黃連　枳實　香附　黃芩　杏仁　蔞仁　黃柏　薑汁　竹瀝</p>
<p>滋陰清肺湯　治乾咳日久而火上炎。</p>
<p>黃柏（酒炒）　麥冬　熟地（各五錢）　知母（酒洗）　山梔（酒洗）　當歸　黃芩（各一錢）　白芍（八分）　青黛（五分）　甘草（四分）</p>
<p>臨服加童便半盞，薑汁一匙。</p>
<p>桔蘇飲　治咳嗽身熱，有汗惡風。</p>
<p>桔梗　紫蘇　杏仁　貝母　半夏　白朮　麥冬　桑皮（各一兩）　橘紅　枳殼　五味（各四兩）　甘草（五錢）　姜（五片）</p>
<p>食遠服。</p>
<p>消渴散</p>
<p>人參　麥冬　五味　貝母　知母　黃柏　當歸　白芍　花粉　黃耆　陳皮　甘草　地骨皮</p>
<p>敗毒散　治感冒寒熱骨疼等症。</p>
<p>防風　荊芥　羌活　獨活　前胡　柴胡　桔梗　枳殼　薄荷　甘草　茯苓　川芎　姜</p>
<p>烏藥順氣散　疏風順氣兩肋刺痛膨脹吐瀉。</p>
<p>烏藥　麻黃　陳皮（各二兩）　甘草　白芷　枳殼（炒）　川芎　桔梗（各一兩）　乾薑（五錢）　殭蠶（一兩）　姜（五片）　棗（二枚）</p>
<p>共為末，每服四錢，孕婦勿服。</p>
<p>草果飲　治瘧妙劑。</p>
<p>青皮　草果　陳皮　厚朴　半夏　茯苓　檳榔　烏梅　黃芩　紫蘇　常山　柴胡　甘草</p>
<p>有汗加白朮、茯苓；熱多加柴胡、黃芩；寒多加半夏、草果；口渴加知母、麥冬、花粉。</p>
<p>人參養胃湯　治脾胃不和，飲食不化。</p>
<p>人參　厚朴　蒼朮　炙草（各五錢）　陳皮　半夏（各一錢）　草果　藿香（各三分）　烏梅（一個）　肉蔻（一粒）　茯苓（七分）　枳殼（四分）</p>
<p>指迷七氣湯　消食散氣。</p>
<p>藿香　青皮　陳皮　蓬朮　三稜　益智　桔梗　官桂（蜜炙）　香附（醋炒，各一兩）　炙草（七分）　姜夏（一兩）　姜</p>
<p>當歸木香散　治下痢。</p>
<p>甘草　當歸　木香　肉蔻　官桂　人參　白朮　茯苓　白芍　陳皮　枳殼　粟殼　訶子</p>
<p>加減平胃散　治痢調理藥</p>
<p>白朮　厚朴（薑製）　陳皮（各一兩）　人參　茯苓　棗仁（各四錢）　木香　黃連　檳榔（各三錢）　阿膠（四錢）</p>
<p>一方去黃連加蒼朮。</p>
<p>消毒散　止痢之劑。</p>
<p>陳皮　甘草　枳殼　粟殼</p>
<p>赤痢半炒半生，白痢純用炒熟。</p>
<p>草豆蔻丸　治食傷冷物胃脘痛。</p>
<p>草蔻　白朮（各一兩）　黃芩　半夏　麥芽　神麯（各五錢）　枳實　陳皮　青皮　乾薑（各三兩）</p>
<p>磨積丸　治新久諸般積聚。</p>
<p>木香　官桂（二錢五分）　枳殼　杏仁　麥芽　蓬朮　京三稜　石三稜　雞爪三稜　黑醜　白醜（各五錢）　乾漆　葛根</p>
<p>醋丸，薑湯下。</p>
<p>獨活寄生湯　治筋骨痠痛。</p>
<p>獨活　寄生　當歸　川芎　白芍　生地　人參　茯苓　牛膝　秦艽　杜仲　細辛　官桂　防風（各七錢）　炙草　姜</p>
<p>槐角散　治腸胃不調，臟毒下血等證。</p>
<p>槐角　當歸　甘草　蒼朮　烏梅　厚朴　枳殼　陳皮</p>
<p>茵陳五苓散　治濕熱發黃小便不利。</p>
<p>官桂　白朮　赤苓　豬苓　澤瀉　茵陳</p>
<p>千金漏蘆湯　治惡癤毒瘡腸癰。</p>
<p>漏蘆　白及　白蘞　大黃　甘草　枳殼　升麻　麻黃</p>
<p>加減活命飲　治乳癤。</p>
<p>橘葉（十四張）　青皮　花粉　白芷　防風（各八分）　柴胡　桔梗　連翹　黃芩　甲片（蛤粉炒黃研）　當歸（一錢三分）　赤芍（一錢二分）　銀花（一錢五分）　角刺（二錢）　乳香　沒藥（炒去油）　甘草（各五錢）</p>
<p>水煎同酒服。</p>
<p>加味益母丸　治難產及產後諸疾極效。</p>
<p>益母草（端陽日收取，陰乾勿見日光，二兩，為末）　當歸（酒洗，七錢）　川芎（焙乾）　香附（童便浸，焙乾，各五錢）</p>
<p>以上為細末蜜煉為丸，臨產時煮酒與童便各半，溫服極為順利。且無橫產血升之患，產後照法服之百病不復。</p>
<p>難產方</p>
<p>滑石（四錢五分）　麝香（一錢）　黃葵子（四十九粒）　敗蓮房（一枚，煅灰存性）</p>
<p>以上為末，每服三錢　砂仁湯送下。</p>
<p>絕產方</p>
<p>柿子蒂二三十枚炭火燒煅存性為末，產後三朝或六朝內陳酒濕熱送下。</p>
<p>保產無憂方　耑治生產艱難，甚有數日不下者，一服即產母子俱全。如臨月四五日前覺腰腹痛及行動不安，先用一貼須於空心服。若當產時，不拘時服。凡血暈陰脫及小產閃挫跌撲傷，動胎氣一概並治。</p>
<p>當歸（酒洗，錢半）　川芎（一錢三分）　荊芥（八分）　羌活（五分）　厚朴（薑汁製，七分）　蘄艾（七分）　白芍（炒，一錢二分）　黃耆（八分）　枳殼（炒，六分）　菟絲子（一錢四分）　甘草（五分）　貝母（去心，一錢）　姜（三片）</p>
<p>河水二大碗煎八分。先期者空心服；臨產者隨時服，須依法制度分兩，切勿增減。</p>
<p>折衝飲</p>
<p>芍藥　桃仁　桂枝（各一錢）　紅花（四分）　當歸　川芎　牛膝（各八分）　丹皮　延胡（各五分）　甘草（一分）</p>
<p>上十味以水二合半，煎取一合半服。</p>
<p>安沖湯　治婦女經行過多或漏下不止。</p>
<p>白朮　黃耆　龍骨　牡蠣（各六錢）　生地　白芍　烏賊骨　續斷（各四錢）　茜草（三錢）</p>
<p>寧坤丸　粵東布玉田先生方。治婦人經水不調，少腹寒冷腹痛不能孕育。</p>
<p>臺人參（五錢）　川撫芎（一兩）　東白芍（五錢）　鹿茸片（五錢）　制香附（七兩）　大熟地（一兩）　全當歸（一兩）　廣木香（五錢）　延胡索（五錢）　西砂仁（五錢）</p>
<p>上藥共研極細末，加益母膏一兩、煉白蜜三兩，杵和為丸，每粒重一錢，金箔為衣臘殼封固。</p>
<p>女金丹　此藥調經養血安胎順氣，不論胎前產後，月事參差，有餘不足，子宮寒冷等症。</p>
<p>當歸　川芎（各二兩二錢）　白芍（一兩三錢）　沒藥（八錢）　甘草（一兩六錢）　香附（一斤十二兩）　生地（三兩）　赤石脂（二兩二錢）</p>
<p>上藥共為細末，煉蜜為丸如桐子大。</p>
<p>婦科回生丹　治妊婦失宜勞後動胎，或胎漏不安，子宮虛寒或過期不產，轉動無力，橫生逆產，胞腹悶亂，惡露上攻，昏暈不省，急促汗出等症。</p>
<p>當歸　川芎　熟地　茯苓　烏藥　蒼朮　香附　延胡　蒲黃（各一兩）　牛膝（一兩五錢）　桃仁（一兩）　陳皮　三稜　羌活　地榆　五靈脂　萸肉　白芍　炙草（五錢）　人參　白朮　青皮　木瓜（各三錢）　乳香　沒藥（各二錢）</p>
<p>（再用大黃一斤為末，用醋三斤熬汁；蘇木三兩用河水五碗煎三杯；紅花三兩用水五杯煎三杯；黑豆三升用酒五杯煎三杯。）</p>
<p>將前藥共為細末，用四種汁合為丸，每丸重二錢，蠟封。</p>
<p>胎產金丹　此丹乃異人傳授，耑治胎前產後一切疑難凶急諸證，百發百中，真有起死回生之功。</p>
<p>益母草　青蒿　白朮（各二兩）　人參　茯苓　當歸　生地　鱉甲（各四兩）　紫河車（一具）　香附（四兩）　白蘞　玄胡（各三兩）　肉桂　五味（各一兩）　白芍　艾葉　甘草（各一兩六錢）　赤石脂　川芎　丹皮　沒藥　沉香（各六錢）</p>
<p>共為細末，煉蜜為丸，每丸二錢，硃砂為衣蠟封。</p>
<p>行經後當歸湯化服三五丸，自然受孕。</p>
<p>懷孕之後，每月白朮黃芩湯，服三五丸，其胎堅固易長。</p>
<p>屢經小產者，當歸熟地湯化服，永無墮損之患。</p>
<p>胎動不安，白蓮花瓣湯化服。</p>
<p>胎漏下血藕節棕炭湯化服。</p>
<p>橫生逆產並子死腹中，當歸川芎湯化服。</p>
<p>妊娠赤帶，紅雞冠花煎湯化服；白帶，白雞冠花湯化服。</p>
<p>交骨不開，龜板湯化服。</p>
<p>產後胞衣不下，紅花益母草湯化服。</p>
<p>產後兒枕塊痛，山楂赤砂糖湯化服。</p>
<p>奪命散　治產後瘀血不行，腹痛昏暈等症。</p>
<p>沒藥（一錢）　血竭（一錢）</p>
<p>研末分二次糖調下。</p>
<p>按：沒藥、血竭雖似，為破瘀而沒。然只泄降下行，以舒其靜脈之鬱血，非攻逐峻劑可比。更以童便為之，嚮導其功尤捷。</p>
<p>生化湯　治產後一切瘀阻塊痛、血虛昏暈等證。</p>
<p>當歸　川芎　炙草　桃仁　炮姜</p>
<p>按：婦女生產之後腸虛不運者實居多數，如脘悶嘔惡，肢冷自汗，身熱惡寒，瘀行不暢等證，當用錢氏生化湯加化痰順氣藥品，大有殊功。若陰虛火旺之體，發熱煩躁，不欲近衣，瘀熱內結者，當用石芾南之新生化湯。用益母、丹參、當歸、桃仁，於活血藥中加益元散、童便清熱利小便，藕汁清熱生津液，此石氏之巧思神悟。非舊方所可僥倖也。學者須審病之體，察病之機，二者各得其用，各有得心應手之妙。</p>
