<header data-type="book">
<h1>經驗丹方彙編</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>錢峻</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1708">公元1708年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00609/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>原序</h1>
<p>先考亭立公一生樂善，不幸中年棄世，垂沒囑峻曰：「吾家世代種德，汝當善承先志。」峻泣而志之不敢忘爾。時終天悲痛，急患失血，幾危！逾年稍愈，母氏許諭峻曰：「汝犯此症，功名之念已矣。吾見汝自幼好輯方書，不如留意岐黃，一可以養生，一可以濟世，庶不負先人好善之囑也。」峻遂矢志醫業，所夕不怠。一聞靈驗奇方，必重禮購求；或遇急病即對症試之。其有效者，輯選取焉。如是十有餘年，積集約八百餘方。癸未春，舊患復發，迄今三載，病勢日增。峻已自料不起矣，將欲為善後計，而藐茲孤兒，襁褓未離，嘗聞積德可以貽後而善。書中惟舍藥施方，最為切要。幸得友人徐芸兄，素存與善之心，去後刊刻《陰隲注證》、《並微今鐸》二書行世，而舉業之餘亦嘗旁及小道，爰同心遍採神方，彙集成編，今夏方得脫稿。而峻舊患大作，命在須臾，但是編積十年之辛勤，志欲公世，豈可不終厥事。因促梓人速竣其工，兼托世伯沈子翁暨世兄遂公，代為廣施勸布，流傳海內，峻在九泉，亦可藉以瞑目也。</p>
<p><u>康熙丁亥夏月吳興錢峻青掄自序</u></p>

<h1>附刊丹方補遺序</h1>
<p>余聞之：古人君子，出則為良相，處則為良醫。又曰：「一介之士，苟存心於利物，於人必有所濟。」嗟乎！良相其難矣，良醫豈易？易哉！夫羲農肇技於黃軒、扁盧；精能於白髮、膏肓、督任之中，神其術而為良者，青年朱李由此選也。余不敏，少所指授，弗能為良醫。竊意濟人利物之事，隨可行。居當與四方君子咨諏藥石，又嘗周歷吳越諸邦所在，延訪古先名手，醫方若干，匯為一冊。試之輒效，用之通神，私竊自喜，藉此可以利物濟人矣。比年秋，謀付梓人，流之於世。適新安俞君曉園重刻《經驗丹方類編》。余既重樂此書之大有利濟於人物也。余正重樂此書之適相浹恰於鄙里也。爰揀生平編集奇方一冊，附刊於後。夫故未敢妄附於為良之列，亦用自托於一介存心之意云爾。</p>
<p><u>乾隆十七年壬申秋九日金溪周郎鶴仙氏謹書於金陵光霽書室</u></p>

<h1>自序</h1>
<p>余幼承庭訓，無時不以「與人為善」四字，冰兢於夙夜間。然嘗恐淺見寡聞，不足以付廣濟之懷。而醫之為道，少小善病，每經歷吳越，輒訪高人異士，講明而切究之。故嘗宣於口，筆於書，採於方，選於藥，幸得此身完然無恙，迄今年五十而精神氣力百倍。從前，蓋其所經驗者，固已多矣。顧余嘗謂人：生而無濟於人者，君子謂之虛生。苟徒自為調攝，而秘藏不以告人，則黃帝岐伯之術，何以流傳至今？而盧公扁鵲何以有不自醫之說哉？故嘗與大兄爾介，仲兄彥方，精選藥料，秘製丸散，若寸金丹、催生丸及太乙靈膏，普施廣送，毫不取其直，此固遠近咸知者。然猶以為傳藥不如傳方，蓋傳藥則吾一家能辨，而傳方則人人可辨也。乃網羅舊聞，摭拾新編，幾費採擇，而後付諸剞劂，將以布諸海內，俾遠鄉僻壤之家，鹹得一目瞭然。思所以預防而療治之，以無負余意。其有未曾經驗者，概不錄。書既成，仍顏之曰：《丹方類編》。蓋吳門錢青掄先生舊有此書，沈子懷玉曾為重梓，而徐士瑢與慕琛、吳尚採諸公皆有序。余徵求原本不可得，倩友抄錄一通。今踵刻多方，另為開雕，而仍用其名者，不敢忘其所自也。且亦遂余凜遵庭訓，與人為善之素志也。故序數言於簡端，以告當世之閱是編者。</p>
<p><u>乾隆十有七年歲次壬中秋月新安俞煥曉園氏書</u></p>

<h1>凡例</h1>
<p>一、古今方書不下數百種，而或效或不效，未堪盡攸。茲只取其經驗之最神者彙集一編。因顏之曰：《丹方彙編》。</p>
<p>二、子自幼酷好單方，凡有見聞必勤筆登錄；或業醫之所珍秘者，亦不吝重物以購得之。搜索十載約有八百餘方，屢試輒效。今春發願公世因遍採方書，熟知向所。秘錄者皆系古名醫之所制，故每方下明載之，欲人知所自由也。</p>
<p>三、諸症單方奇效者甚多，然太冗繁，恐反令人一時難擇，故每症只選十中之一，以備急需。</p>
<p>四、諸方或得效於實而不宜於虛者，或獲濟於寒而不利於熱者，俱不妄載以誤人。即有立見神效者亦必註明虛實寒熱之所宜。</p>
<p>五、方藥若利害太甚者，不敢亂載。是編所登皆已所驗過，幸勿畏懼加減以致無效。</p>
<p>六、凡草藥人所難識者俱不載入；凡膏藥、丸、丹療疾固甚神異，然必先預備，一時不能救急，載亦無益。倘有發願施濟者，至舍抄錄無吝。</p>
<p>七、予不善攝生，久患咯血，經驗神方難嘗修合。施濟而是編之，校謬訂訛，精力難勝。悉托友人徐芸兄代為斧削，其苦心亦與予同偶也。今予舊患又作，精力益加衰疲，幸是書之得告成者，實賴徐友之力居多。</p>
<p>八、女科症候不一，而調經保產，最為緊要；而慈幼亦莫先於保嬰。</p>
<p>九、予每加意於斯，故先付剞劂，但尚未遍行，故又附列於後。</p>
<p>十、是編所載丹方無不神驗，只要專信服之，自必見功。久病久服，其病自愈；慎毋速期其效，半途中止也。古云：「服藥而不言吃藥者，蓋謂人能信服其藥，始效耳。」</p>
<p>十一、古今奇方不一，而一人蒐羅有限，未經見聞者諒罄竹難書。同人果有累試歷驗之方，幸祈抄錄見示，嗣容補入是編。</p>
<p>十二、是書務期廣遠流通，四方君子發心印施多部，福有攸歸。若能翻刻尤慰鄙懷。</p>
<p><u>錢峻漫識</u></p>

<h1>貿藥辨真假</h1>
<p>（凡藥必選原枝，看切方妙；若現成切片者，恐真偽高下難辨）</p>
<p>醫藥貿易，多在市家辨認未精，差錯難免。諺云：「賣藥者雙眸；用藥者隻眼；服藥者盲瞽。」非虛語也。許多欺罔百般巧詐，明者竟叱其非，暗者甘受其侮。本資治病，反致殺人。雖上天責報於冥冥，然倉卒不能察實，或誤歸咎於用藥者之錯，亦常有也。但惻隱皆所固有，市家豈獨無情？皆因人畏價昂貨真，實有眼不識世藥；物賤價廉，反接踵相售，是以偽稀多充，不顧罪積也。今峻歷遭其禍，目擊心傷。辨真察類，將親所試驗者，略舉數端，考正於後。此誠生死攸關緊要，非比小節尋常。務要考究精詳，辨其形色，察嘗氣味，真偽了明，修制治療，庶免乖違，寧出高價，毋為自欺。</p>
<p>人參　短壯堅實，圓而光潤力全。今假者遍行，不可不察。但切開有心，味雖甜，收口略苦，津反凋膩，不如真者生津，其色帶呆，余者無二。今人買通賣婆，詐稱鄉宦帶剩；或央親及親詐稱病後遺多，俱當細察。</p>
<p>阿膠　真者明徹如冰，味甜，全不焦苦，世上甚少。竟勸勿服假者，或帶綠、或焦苦、或帶臭氣，皆系牛膠墨煎成，損胃傷脾。更有雜用賤藥煎成，或枯燥、或柔倿、或味香，有砂黑、漆色、帶綠光，俱假。目今時醫，動必用阿膠、秋石等藥。然後設計，借名親友珍藏，代買取利，害人不淺。遇此切不可信。</p>
<p>淡秋石　輕鬆入口即烊者真；稍帶硬者，必充。小粉石膏忌服，自制。辨正。</p>
<p>咸秋石　雪亮者真。</p>
<p>紫金錠　店中亦有真者，但內麝香甚貴，少以加入。須嘗口中香竄，麝入觸鼻者真；香緩者無效。</p>
<p>犀角　明亮氣香者真。今多牛角做充，不香或帶氣味可辨。</p>
<p>龍骨　紋細、五色、舐竟黏舌者佳。青黑勿用。</p>
<p>膽星　必牛臊氣暈，苦異常，黃黑明亮，堅倿者真。今多用豬膽假造誤人，或枯乾、或黑軟，⿰扌息不明潤，可辨。</p>
<p>牛黃　要嫩黃、輕虛、重疊可揭，氣息微香，摩指甲竟透者真。</p>
<p>龜膠　或黃色帶臭氣者假。</p>
<p>麝香　味辛，手指捻去松者真；倿如丸者假。原個要皮薄、帶黃毛少、飽滿而軟真；皮黑厚、硬毛多、味淡者假。</p>
<p>冰片　如梅花細瓣輕潔微白，氣甚燻人者真；若質重如砂細碎者假。其片要厚薄不等；若做成光圓者假。</p>
<p>熊膽　偽者甚多。但取一粟米大滴入水中若線不散者真。或以米粒大點水中，運轉如飛者良，緩者假也。</p>
<p>虎脛骨　黃白可服。稍帶黑色乃藥傷，大毒。忌服。要長、帶扁者真；若帶圓，脊駝缺陷不平如三角樣者假。</p>
<p>羚羊角　須看角彎中尖細，有掛痕者真；或耳邊聽之集集有聲者良。其疏漫無痕，枯老者假也。</p>
<p>鹿茸　要如琥珀色，三、四、五寸長，肉飽滿者力全；太長或枯黑無用，恐是麋茸；太細短又嫩，恐是毛茸。</p>
<p>滴乳石　必要如雪冬淋糖，長五、六寸，明亮中空，色白者真；若乳突出而不如淋糖長者假。</p>
<p>翠膽礬　成塊如雞卵大、顏色青碧如琉璃、擊碎縱橫解皆成疊方真。今市多以青礬用醋揉，假充宜辨。</p>
<p>雲母　要白澤、作片成層可折、通透輕浮者真。</p>
<p>陽起石　要明亮如鷺鷥毛者真。</p>
<p>琥珀　要如血色熟透，於布下拭吸得芥子者真。</p>
<p>硃砂　有以雄黃充入，宜細看。</p>
<p>蛤蚧　有花斑起發光亮者真。以四腳蛙充者，當辨。</p>
<p>花蕊石　打開有花白斑點者真，無者假。</p>
<p>輕粉　明如雪片，粒粒槍⿱⺮⿰氵𠤭起者真；色暗粒細，無槍𥭎者假。</p>
<p>蟾酥　舐舌上甜麻揭舌者真；不麻者假。</p>
<p>沉香　油潤，切如黃蠟者真；今賣黑色如牛角樣者假，忌用。</p>
<p>母丁香　如棗核大者真；如細釘者少效。</p>
<p>木香　多有用青木香欺人，宜辨。要堅硬形如枯骨、苦口黏牙者真。青木香細小。</p>
<p>蘇合油香　只用如膏油赤色無滓、香極芬烈、塗上手背香透手心，或如黏膠者真。</p>
<p>陳皮　凡使勿用乳柑皮，皺子皮忌服。今市家多用充入，誤人，不可不辨。真橘皮紋細，色紅而薄，內多筋脈，其味苦辛香為真。柑子皮紋粗，色黃而厚，內多白膜，其味反甜而辛，無效。柚子皮其味甜多辛，少最厚而虛，其紋更粗，色黃，內多膜無筋，性冷害人，忌服。</p>
<p>川貝　味甜輕鬆者真，質硬味苦者假。</p>
<p>白朮　味甜、枝苗極細，根多雖葉有跡方是野術，有效，賣者多種。味淡或苦、枝苗粗大光沃無力，勿服。</p>
<p>地黃　皮老瘩疙堅實、菊花心者佳；光潤者土種雖大無效。</p>
<p>蘇子　假充甚多。需帶青草香氣者真。</p>
<p>雲茯苓　堅硬，切片光亮玉色者真，白而鬆者土出無效。</p>
<p>羌獨活　紫色節密為羌，黃色成塊為獨。</p>
<p>黃耆　直如箭桿、柔軟如綿、肉白心黃、味甜者佳。</p>
<p>血竭　敲斷如鏡光亮，取摩指甲紅透方妙。</p>
<p>川續斷　要如雞腳節，節斷皮黃皺者方真。</p>
<p>巴戟　要中心紫而鮮潔者為真。</p>
<p>乳香　透明如滴乳頭者良。有用松香假充，須察。</p>
<p>阿魏　切開五色，柔軟者真；太軟如泥者假。</p>
<p>川芎　形擇重實潔白為良。油者勿用。</p>
<p>桂枝　味辛甜香竄者真，味淡者無用。</p>
<p>川連　類鷹爪連珠，根毛細密，有菊花黃心者真；若皮色太黃，或毛粗而疏，或頭尾等粗實心者俱忌服。</p>
<p>白豆蔻　味辛香入口暈涼真；草蔻充者味不暈涼，可辨。</p>
<p>棗仁　粒粗胞滿，色紫佳；細扁，色淡者無用。</p>
<p>首烏　有做成大者置地中，年餘即生成；但皮嫩有筋，可辨。</p>
<p>啞片　假者甚多。要柔軟必帶青香者真。</p>
<p>附子　頂平，肉如鐵色，滋潤者佳。西附子肉乾白大而無力。</p>
<p>三七　味甜，以末投豬血中，血化為水者真。</p>
<p>漆　濕者以物蘸起，細而不斷，斷而急收塗竹木上速乾者佳。</p>
<p>山茹菇　根鬚多者真；根少者假。</p>
<p>香薷　直長香烈者真；細短不香者是土出，食之腹痛，忌用。</p>
<p>藿香　味辛香烈者真；不香者假，忌用。</p>
<p>懷山藥　堅實細白者真；大而空松者假。</p>
<p>沙蒺藜　黑色粒粗者真；青色粒細者假。</p>
<p>肉桂　紫潤味甜、甚辛香烈人者真。今多假者，色紫油潤可觀，切片有細花白點、不甚辛香者忌服。</p>

<h1>諸症歌訣</h1>
<p><u>中風</u></p>
<p>中風身溫口多涎，卒然昏倒不能言。</p>
<p>急用通關開孔竅，化痰順氣治當先。</p>
<p><u>瘟疫</u></p>
<p>瘟疫眾人病一般，四時不正外邪干。</p>
<p>要分春夏秋冬治，莫把溫寒一樣看。</p>
<p><u>中暑</u></p>
<p>中暑中熱不相同，行人中熱在日中。</p>
<p>避暑深堂名中暑，暑分寒熱不相攻。</p>
<p><u>中濕</u></p>
<p>中濕亦因內外傷，外衝風雨內酒漿。</p>
<p>發為腫滿渾身痛，利水和脾發汗長。</p>
<p><u>脾胃</u></p>
<p>脾胃之氣要衝和，胃司納受脾司磨。</p>
<p>莫使溫寒一失節，損傷元氣病難瘥。</p>
<p><u>痰飲</u></p>
<p>痰多數濕津液化，隨氣升降上中下。</p>
<p>百病之中兼有痰，隨症調治應無價。</p>
<p><u>咳嗽</u></p>
<p>咳謂無痰卻有聲，嗽謂無聲卻有痰。</p>
<p>有痰有聲為咳嗽，化痰理嗽自然安。</p>
<p><u>喘急</u></p>
<p>喘急須分肺實虛，夾寒夾熱緊相隨。</p>
<p>痰火諸般皆作喘，治之莫要有差疑。</p>
<p><u>哮吼</u></p>
<p>哮吼肺竅積寒痰，令人齁喘起居難。</p>
<p>豁痰降火加調理，不遇良方病不安。</p>
<p><u>瘧疾</u></p>
<p>瘧是風暑不正邪，為寒為熱兩交加。</p>
<p>新瘧可散亦可截，久病還當兼補佳。</p>
<p><u>痢疾</u></p>
<p>痢因濕熱並氣滯，赤傷血分白傷氣。</p>
<p>赤白相雜氣血傷，清熱理氣先通利。</p>
<p><u>泄瀉</u></p>
<p>泄瀉注下濕傷脾，燥濕利水補脾虛。</p>
<p>若還久瀉腸虛滑，收澀還將正氣提。</p>
<p><u>霍亂</u></p>
<p>霍亂吐瀉心腹痛，轉筋寒熱頭沉重。</p>
<p>內傷外感使之然，切忌米湯休早用。</p>
<p><u>嘔吐</u></p>
<p>嘔謂有聲吐有物，寒熱傷脾食即出。</p>
<p>和胃清火化痰涎，半夏生薑以為率。</p>
<p><u>翻胃</u></p>
<p>翻胃噎膈一般病，三陽熱結吐無定。</p>
<p>莫將燥劑反助邪，養血生津調胃應。</p>
<p><u>咳逆</u></p>
<p>咳逆氣衝上作聲，聲聲不斷火相刑。</p>
<p>諸逆上衝皆屬火，化痰降氣自安寧。</p>
<p><u>吞酸</u></p>
<p>吞酸濕熱在胃口，故作酸水刺心頭。</p>
<p>化痰清火平肝氣，蔬食能調病自瘳。</p>
<p><u>痞滿</u></p>
<p>痞滿胸膈不通泰，令人夯悶久不快。</p>
<p>一消一補慢調和，莫行利藥徒傷害。</p>
<p><u>脹滿</u></p>
<p>脹滿起來空以鼓，四肢不腫其中苦。</p>
<p>莫將酸利損天和，制肝補脾以為主。</p>
<p><u>水腫</u></p>
<p>水腫是濕本是脾，通身浮腫總為虛。</p>
<p>利水和脾兼順氣，峻攻瀉水病難醫。</p>
<p><u>積聚</u></p>
<p>積有五種聚有六，五臟六腑各所屬。</p>
<p>左血右氣中食痰，慢慢消熔無欲速。</p>
<p><u>五疸</u></p>
<p>五疸總是濕與熱，遍身發汗小便血。</p>
<p>清熱利水濕自除，但將此治無他說。</p>
<p><u>失血</u></p>
<p>失血大抵俱是熱，陽盛陰虛妄行血。</p>
<p>補陰清火抑其陽，引血歸經血自歇。</p>
<p><u>癲狂</u></p>
<p>癲為喜笑或不常，安神養血是奇方。</p>
<p>狂為痰火因太盛，平肝清火化痰良。</p>
<p><u>邪祟</u></p>
<p>邪祟難千壯實人，神虛氣弱致相侵。</p>
<p>只扶正氣虛邪退，莫費工夫禱鬼神。</p>
<p><u>頭痛</u></p>
<p>頭痛須詳十二經，各經用藥要分明。</p>
<p>頭腦盡痛手足冷，此為真痛命當傾。</p>
<p><u>耳病</u></p>
<p>耳聾男右因色欲，女人左聾緣忿怒。</p>
<p>左右俱聾厚味傷，補虛順氣病除去。</p>
<p><u>鼻病</u></p>
<p>鼻病不聞臭與香，素常痰火肺間藏。</p>
<p>每遇風寒必便塞，清金降火最為良。</p>
<p><u>口舌</u></p>
<p>口舌生瘡心臟熱，涼劑徐投火自滅。</p>
<p>口苦肝熱移於膽，此因謀慮而不決。</p>
<p><u>牙齒</u></p>
<p>牙痛濕熱有胃火，有風有蟲痛非可。</p>
<p>清火除濕更誅蟲，或搽或服皆安妥。</p>
<p><u>眼目</u></p>
<p>眼角屬心白屬肺，上下眼色皆屬脾。</p>
<p>瞳仁屬腎黑肝木，五臟精華眼見之。</p>
<p><u>咽喉</u></p>
<p>喉痹一名為乳蛾，多因酒色七情過。</p>
<p>痰水上壅為腫痛，祛風清火得平和。</p>
<p><u>心痛</u></p>
<p>心痛即是胃脘疼，清熱解鬱藥通靈。</p>
<p>更有蟲食氣心痛，臨時審候要分明。</p>
<p><u>腹痛</u></p>
<p>腹痛有熱亦有寒，死血食積並濕痰。</p>
<p>時痛時止應是熱，綿綿不止作寒看。</p>
<p><u>腰痛</u></p>
<p>腰痛豈止屬腎虛，三因五種要推之。</p>
<p>或溫或涼或汗下，更兼補腎是良規。</p>
<p><u>疝氣</u></p>
<p>疝氣七種要詳推，寒水筋血氣狐頹。</p>
<p>濕熱在內因寒里，陰腫小腹痛如錐。</p>
<p><u>腳氣</u></p>
<p>腳腫名為濕腳氣，不腫乾腳氣之謂。</p>
<p>麻則因風痛是寒，腫乃是濕宜分利。</p>
<p><u>痹痛</u></p>
<p>五痹手足痛不仁，不過風寒濕氣侵。</p>
<p>發散風寒除濕氣，管叫疼痛不纏身。</p>
<p><u>消渴</u></p>
<p>消渴要分上下中，上屬肝經中胃者。</p>
<p>下消屬腎共三消，能食不食分治也。</p>
<p><u>濁症</u></p>
<p>濁症白色屬腎虛，赤者心虛有熱隨。</p>
<p>赤要清心白補腎，化痰燥濕要須知。</p>
<p><u>遺精</u></p>
<p>遺精症是心腎虛，補精養腎澀精宜。</p>
<p>濕熱傷脾精亦泄，理脾除濕再無遺。</p>
<p><u>淋症</u></p>
<p>五淋有熱屬膀胱，小便淋漓痛難當。</p>
<p>血石膏勞肉五症，疏理清熱是良方。</p>
<p><u>小便閉</u></p>
<p>小便不通有五閉，氣血痰熱風者是。</p>
<p>悉宜用吐把氣提，上竅既通下竅利。</p>
<p><u>大便閉</u></p>
<p>大便不通有虛實，陰結陽結閉不一。</p>
<p>或攻或補用溫涼，臨時對症無差失。</p>
<p><u>痔漏</u></p>
<p>痔漏名有二十四，酒色氣風食五事。</p>
<p>未破名痔破為漏，祛風除濕解毒治。</p>
<p><u>腸澼</u></p>
<p>腸澼即是大便血，腸風糞前色鮮潔。</p>
<p>臟毒糞後血暗濁，臟寒臟熱不同列。</p>
<p><u>諸蟲</u></p>
<p>諸蟲多因濕熱生，生於腹內狀難明。</p>
<p>上攻心腹痛還定，或安或下便清寧。</p>
<p><u>婦人</u></p>
<p>婦人屬陰多生氣，氣鬱成病最難治。</p>
<p>諸病兼理氣調經，香附是女真仙劑。</p>
<p><u>種子</u></p>
<p>人生無後實堪傷，誰識仙翁有秘方。</p>
<p>只在心田存一點，管叫蘭桂滿庭方。</p>
<p><u>妊娠</u></p>
<p>妊娠母病至胎動，母病醫痊胎是和。</p>
<p>胎若不安觸母病，但安胎氣母無疴。</p>
<p><u>產育</u></p>
<p>臨產之婦莫驚惶，行動頻頻莫臥床。</p>
<p>瓜熟須如蒂自落，若還用藥要安詳。</p>
<p><u>產後</u></p>
<p>產後諸症要扶虛，惡露流通是所宜。</p>
<p>更有多般發熱症，未可輕教汗下宜。</p>
<p><u>小兒</u></p>
<p>小兒十病元傷食，食傷發熱成諸疾。</p>
<p>早當消導莫遲挨，免致驚痧痰食積。</p>
<p><u>驚風</u></p>
<p>急慢驚風症不同，慢宜溫補急宜攻。</p>
<p>更有慢脾風篤症，枉叫醫士費神功。</p>
<p><u>疳疾</u></p>
<p>五疳心肝脾肺腎，冷熱肥瘦須辨認。</p>
<p>肚大青筋體瘦黃，和脾消積頻頻進。</p>
<p><u>癖疾</u></p>
<p>癖從皮裡膜外生，肝經流血里成形。</p>
<p>日漸長大如豬肺，不遇仙方命必傾。</p>
<p><u>痘疹</u></p>
<p>痘疹原來是胎毒，發熱輕遲重則速。</p>
<p>痘要溫和疹要清，隨機應變無膠柱。</p>
<p><u>癰疽</u></p>
<p>癰疽發背氣凝起，先宜敗毒後托裡。</p>
<p>高起屬陽陷屬陰，陽輕陰重費調理。</p>
<p><u>瘰癧</u></p>
<p>瘰癧相連頸項生，虛勞氣鬱結其形。</p>
<p>益氣養榮並解鬱，內消方顯藥通靈。</p>
<p><u>疔瘡</u></p>
<p>疔瘡名有十三種，皆由熱毒附邪風。</p>
<p>外宜刺破敷其藥，發汗須教毒外攻。</p>
<p><u>臁瘡</u></p>
<p>臁瘡濕毒兼風熱，兩腳生瘡腫爛裂。</p>
<p>卻除濕熱更誅蟲，蔥椒湯洗後敷貼。</p>
<p><u>癜風</u></p>
<p>白癜紫癜一般風，更有汗斑亦相同。</p>
<p>內服敗風丸散藥，外將末劑察其容。</p>
<p><u>諸瘡</u></p>
<p>一切無名腫毒瘡，須臾腫起痛難當。</p>
<p>急將妙藥頻敷貼，免使猖狂作禍殃。</p>
<p><u>癭瘤</u></p>
<p>癭瘤多緣氣與痰，結於身體項頸間。</p>
<p>惟有血瘤病最惡，未可尋常一類看。</p>
<p><u>折傷</u></p>
<p>折傷打撲痛難禁，瘀血停留忽上心。</p>
<p>散瘀止痛須趁早，補虛接骨慢搜尋。</p>
<p><u>破傷風</u></p>
<p>破傷風症有多端，汗下和之病自安。</p>
<p>發散祛風能奏效，治之莫作等閒看。</p>

<h1>單方</h1>
<p><u>斑痧</u></p>
<p>其症頭腹痛、煩悶、眩暈，若與別症相同。但起於卒然之頃，痛甚顛叫，按六脈皆治，或右關浮洪，胸背腹上有細斑隱於肌膚之內者是也。急尋生芋艿或蠟油，各食二、三枚，如非斑痧難下；若真斑痧食甜能下，神驗。更解此病。再用燈草蘸菜油，點火照之隱隱紅斑上，淬必爆響。務要看他紅斑淬盡方止，否則復發之患，方用蕎麥五錢，煎湯，溫服自愈。不可太熱食。忌薑、茶、酒、煙；藥忌陳皮、紫蘇、甘草、半夏。錯食者凶。</p>
<p><u>絞腸痧</u></p>
<p>陰痧腹痛手足冷，身有紅點，火淬妙；陽痧腸痛，手足暖，針刺出血甚妙。明礬末三錢，滾水調服立愈。一用生芋艿二片，下汁神效。　鹽少許，置刀頭燒紅，淬入水中，乘熱飲立蘇。凡夏天一切腹痛吐瀉，切忌服生薑米湯，誤者即死。直至飢甚吐瀉二、三時辰方可食粥。</p>
<p><u>頭中生蝨</u></p>
<p>水銀和棗肉研爛塗氈帽上，帶一夕盡死。</p>
<p><u>霍亂</u></p>
<p>其症吐瀉、頭眩眼暈，四肢冷，用藥稍遲不救。急用吳茱萸、木瓜、食鹽各五錢，同炒焦，用水三碗煎半，隨意冷熱服之，立愈。藿香葉、陳皮各五錢，水煎服，垂死立生。鍋底煤五分，灶額上煤一錢五分，滾湯攪千下服，立效。</p>
<p><u>乾霍亂</u></p>
<p>凡手足厥冷、欲吐不吐、欲瀉不瀉、轉筋入腹、汗出氣冷欲絕，用炒鹽一兩、牙皂一錢，水煎服。取吐，胃氣一回即愈。　吳茱萸三、四兩，用鹽數兩，炒熱熨臍下亦效。　鹽二匙，熬黃，童便沖服效。　伏暑吐瀉用絲瓜葉一片、白梅一枚，並仁同研爛，水調服效。　夏暑百病，俱用六一散，紫金錠更妙，萬無一失。</p>
<p><u>熱死</u></p>
<p>伏天行走熱極，卒然昏倒，斷不可飲冷水，遇冷即死。法用熱土圍臍上，使數人溺尿，令溫，熱湯洗更妙。急以薑湯或童便乘熱灌下，外用布蘸熱湯，熨臍下三寸穴立醒。醒後忌飲冷水，飲之立死。　凡卒死，得紫金錠磨下，立蘇。</p>
<p><u>毒蛇咬</u></p>
<p>用針刺傷處出血，急用繩扎兩頭浸糞缸內，毒不內攻。用雄黃五錢、靈脂一兩，共末，每服三錢，酒下。再服神效。煙管燒熱滴油搽之，百試百效。　用泥蛤蛥搗爛，敷咬處即好。　赤練蛇咬，先用活雞刀割一塊貼患處，換貼二、三塊自愈。白芷末一兩，水服下，死者立生。爛入骨者，白芷末加膽礬、麝香少許，日日摻之立愈。</p>
<p><u>中惡</u></p>
<p>或往死喪墳廟來家卒死，口鼻清血，似乎屍厥，但腹不鳴，心下溫暖。急用犀角，同麝香、硃砂為末，服二錢即蘇。或用石菖蒲，搗汁灌鼻口中即活。　斷豬尾取血飲，並縛豚枕之立活。</p>
<p><u>誤食一切毒物</u></p>
<p>俱服紫金錠一、二錢立愈。</p>
<p><u>靨死</u></p>
<p>並中鬼惡，切忌火照、驚惶，但痛咬其腳跟，用皂角末或半夏末吹入鼻，打嚏氣通即活。烏骨雞血，滴口中立活。</p>
<p><u>損傷</u></p>
<p>出血不止，頂降香刮末摻上，收口仙藥。若從高墜下及落馬，血沖欲死，切忌吃冷水。急用韭菜汁，或熱小便灌之效。瘀血痛危，歸尾五錢、大黃酒蒸一兩、桃仁二十粒，研，酒服。去瘀立效。破傷進風，寒熱垂危，蟬蛻四兩，燒灰服愈。</p>
<p><u>湯火傷</u></p>
<p>飲冷水必死；浸冷水中必爛至骨。急搗蘿蔔汁或童便服。外用槐花炒，研末油調，立時止痛；或爛茶葉敷。爛見骨者，百草霜三錢、輕粉一錢五分，為末，麻油調搽效。</p>
<p><u>火丹</u></p>
<p>芝麻炒研，油調敷。大人小兒俱神效。　喉風</p>
<p>先刀開，用巴豆七粒（去殼，捶去油，淨）、雄黃三錢、鬱金五分，每服六分，津嚥下立愈。溺壺內厚甲半盞、蜜五匙，灌下愈。</p>
<p><u>疔瘡</u></p>
<p>凡手心足背及面上有瘡，起泡發癢，或寒熱，或麻木不痛，此極毒之瘡。急用針刺劃斷紫根，出血令盡。或怕用針刀，用巴豆一粒，米飯一粒，研貼瘡上，立時拔疔神效。再尋癩蛤蟆取肝，貼上立愈。　菊花葉搗汁服一碗，死可回生。</p>
<p><u>腫毒</u></p>
<p>初起者，金銀花五錢、生黃耆五錢、當歸八錢，甘草一錢八分。上部加白芷、中部加杜仲、下部加牛膝，俱一錢八分。婦人乳癰加桔葉五十片，數劑立退。仙方。壯盛者牛膝用一兩，山甲（土炒、研）、何首烏（切）各二兩，水酒煎服，神效，立退。</p>
<p><u>牙痛</u></p>
<p>巴豆半粒，塞牙縫立止。　荔子一個，將殼開一孔，入鹽填滿煨研，擦含片時，再以防風、川椒、甘草、浮小麥煎湯漱口愈。</p>
<p><u>氣鼓脹</u></p>
<p>雄精五錢、麝香三分、迪姜一斤，取汁半碗。先用薑汁五匙調藥，徐徐服下；其餘薑汁沖酒服完。三日後腹鳴立消，二服除根。布捫緊肚，日服肚子裝大蒜四部，十個後裝紅棗，服一個月見歷效。忌動氣、魚、肉毒物。如犯房事，反復難救。</p>
<p><u>瘟疫</u></p>
<p>大黃四兩（酒蒸曬乾）、牙皂二兩、青黛一兩、紫蘇一兩，為末，水打糊為丸綠豆大。每服百丸，冷綠豆湯下，三服立愈。一治大頭瘟，殭蠶二兩，大黃四兩，薑黃、蟬蛻各二錢五分，為末，薑汁和丸如彈子大。蜜水調服立愈。</p>
<p><u>瘧疾</u></p>
<p>黑礬為末，面和丸，塞鼻內愈。制首烏末日服三錢，數日效。常山末二錢（酒炒透），烏梅肉四枚，研丸服立止。忌口。</p>
<p><u>噤口痢</u></p>
<p>沙糖、蜜、蘿蔔汁各一盞，飯上頓熱，灌下立效。或用田螺二個搗入麝香三分，作餅熱貼臍內，立效。</p>
<p><u>吞金</u></p>
<p>羊脛骨燒焦研末三錢，米飲下，從大便出神效。誤吞鐵物，慄樹炭二塊，將鐵錘搗極細，砂糖和細丸，服三錢立出。</p>
<p><u>百蟲入耳</u></p>
<p>取雞血滴耳。或韭汁、薑汁少許滴之，皆效。　麻油數點，滴入耳竅，細蟲必死。</p>
<p><u>痞積</u></p>
<p>青油一斤煎滾，次下密陀僧六兩、羌活一兩，候成膏；再下阿魏五錢、麝香末二錢，退火毒，隨患大小攤貼立消。</p>
<p><u>諸蟲積</u></p>
<p>小楝樹根（向東不出土者佳）四兩、使君子（去殼切）二兩、生薑片三兩，作一服，水煎去渣。再熬至一碗，加蜜四兩，又熬至一碗，露一夕，擇朔日五更，徐徐熱服，蟲出立愈。多者再服除根。小兒減半。若中旬、下旬夜午，蟲頭向下，服之無效。</p>
<p><u>血證</u></p>
<p>吐血不止，刮灶額上黑煤，研細，糯米湯服立止。鼻血吹之立止。虛勞吐如湧，柏葉蒸焙，荊芥穗燒存性，各三錢為末。每服二錢，入飛面二錢，人參一、二錢，煎湯待溫調如糊服。酒過口，少頃再服立止。真淡秋石，服二、三錢，立刻降血更妙。</p>
<p><u>鯽魚仙方</u></p>
<p>治對口癤，一切白色陰毒初起。活鯽魚一個，生山藥一段，樣長，用白洋糖二錢，同搗極爛，敷上神消即去。更治瘰癧初起如神。婦人乳癰初起，用蠟、糟同搗，敷上立散。俱系親試百驗。</p>
<p><u>冬瓜癰及四肢癰毒腫滿</u></p>
<p>新石灰先水一潤，即用醋一碗，化開敷上。再加醋甲敷上立消。身毒忌用。</p>
<p><u>解諸毒</u></p>
<p>甘草、綠豆，水煎服。能解百藥毒食。巴豆毒，泄不止者，煎服川連一錢立解。凡中砒霜一切毒藥，垂死者，急用上號潔白糖、靛花、淡豆豉、甘草，等分研勻，冷水調灌，即蘇。</p>
<p><u>腰痛</u></p>
<p>腰子破開，塞杜仲，線扎，飯上蒸熟，去藥吃數個立愈。</p>
<p><u>中蚯蚓毒</u></p>
<p>形如大麻風，眉須脫落。用石灰泡熱水，候冷洗患處，浸良久愈。小兒受之，鹽湯溫洗或鴨血塗之自愈。</p>
<p><u>小兒諸病</u></p>
<p>瘧疾十日後，用代赭石二錢（醋煅紅）、硃砂五分、砒霜一豆大，同為末。以紙包七重，打濕煨乾，入麝香一分為末，麻油調一錢，塗鼻尖上及眉心、四肢，神應。痢疾：雞子一個，煮二、三沸，取起去白，用黃研碎，以薑汁半鍾，和勿與兒服。忌食茶，神效。　瀉痢：上木鱉一個、母丁香四粒、麝香一分，研末，吐津為丸，芡實大，納臍中，外用膏藥貼牢，立止。　疳痢：青黛水調服甚效。　臍風：全蠍廿一個，去翅足，酒炙為末，麝香一分為末，金器煎服。卒暴死，夫不解何病，狗糞一丸，絞汁，灌之即活。痞塊：用攢盒內小磁碟，將皮硝裝滿，雄黃末蓋面，綿紙餬口，以針刺孔，合定痞上，緊袱細緊，三日即消。</p>
<p><u>接骨仙方</u></p>
<p>骨斷粉碎者，五加皮四兩、雄雞一隻，重六兩，黑者更妙，去毛連骨，皮血與加皮搗爛，敷患處用布包好。准貼一周時揭去，切不可太過時，內自完好，神效無比。再用五加皮五兩，酒煎服，儘量飲，醉睡為妙。</p>
<p><u>心痛</u></p>
<p>山梔子七枚，炒焦黃，水一盞，煎七分；入薑汁三匙，熱服立止。　寒痛：陳皮、香附、吳茱萸、良薑、石菖蒲各等分，水一碗煎七分，滴麻油五點，熱服即愈。　一用巴豆一粒燒灰，棗肉為丸，服一小丸立止。再用一大丸，裹臍內立愈。</p>
<p><u>婦人急症</u></p>
<p>難產橫生不下。用巴豆三粒（去殼）、蓖麻子七粒（去殼）、麝香一分，研為一餅，貼臍上即產，產下即速去其餅，遲者子腸亦出。一切產難必須服：當歸一兩、川芎七錢，分作四次服，立下，產後血暈，亦急服此藥，垂死能蘇，神效。產後血暈；荊芥穗炒黑、存性研末，用二錢，熱童便調，灌下立效。胎衣不下：荷葉銼碎，水煎濃服即下，神效。</p>
<p><u>頭風</u></p>
<p>白芷兩半，川芎、甘草、川烏各一兩，為末。每服一錢，茶下神效。　一用生蘿蔔汁一蜆殼，仰臥，隨左右注鼻中，神驗。</p>
<p><u>臁瘡</u></p>
<p>數年爛腿。將白蘆甘石醋煅七次，研極細，麻油調敷，日換取愈。親試百效。腿瘡年久不愈：罐口泥研末，摻上立愈。</p>
<p><u>瘋狗咬</u></p>
<p>急於無風處，捏去惡血，孔乾者，針刺出血，鹽湯洗淨，搗蔥貼上，用糯米一撮，番木鱉半個切碎，斑蝥七個去翅足，若過一日，多加一個，連前藥炒黃去斑蝥不用，研末酒服。細看頭有紅髮拔去，忌房事，並忌鑼聲，終身忌食犬羊肉。</p>
<p><u>溺死</u></p>
<p>切忌倒提出水，火烘無效。用鍋子合地，急令死腹對鍋，臍覆上，人扶牢，徐徐推鍋，橫移走，箸夾口中，出腹中水即活。</p>
<p><u>縊死</u></p>
<p>切忌刀剪斷繩，急令抱住，以膝頂住陰戶穀道解下，雞冠血滴鼻中，筆管吹耳即活。一切暴死，用半夏水吹鼻活。</p>
<p><u>痔瘡</u></p>
<p>熊膽塗之仙效。田螺、銅青、麝香、冰片各末五釐，放螺內，取水塗愈。痔漏：旱蓮草一把，連根洗，搗爛滾酒沖汁服立效。</p>
<p><u>諸瘡</u></p>
<p>黃水瘡用磁碟裝麵粉，菜油調膩，多捲紙點著，合熏；時時攪勻，待遍黃去靨點立愈。天泡瘡：荔枝核醋磨塗愈。</p>
<p><u>疳症</u></p>
<p>穀精草或加小青草為末，每用二錢，雞軟肝一具，同酒漿飯上燉熟，去藥吃肝，日日常服。凡小兒目盲垂死者立愈。</p>
<p><u>黃疸</u></p>
<p>陳年蟹殼焙為末，酒下愈。　枯絲瓜燒灰，日服三錢愈。</p>
<p><u>萬靈九轉還丹秘方</u>（臨濟超字輩寶聚和尚傳）</p>
<p>真鴉片三兩（冬研夏燉）　西牛黃一錢二分　麝香一錢二分（去毛）　百草霜九錢</p>
<p>上為細末研勻，然後將白米飯二兩四錢研如糊；再下前四味，再研勻為丸，每丸三釐重，丸完，用硃砂為衣；衣完，入大封筒內封固放在翻轉腳爐蓋內，將包紮草紙蓋好；微微炭火烘三柱香，每柱香搖動爐蓋三次，三三見九，名曰九轉還丹。香完，移過爐蓋，待冷拆封，入磁瓶內聽用。凡用此丹，大人每服一丸。小兒八、九歲一丸作二次服，四、五、六、七歲一丸作三次服，三歲未周作四次服。無論大人小兒，倘誤多服，以濃茶飲之即解。孕婦忌服。修合時務必三日前齋戒。忌婦女，雞犬見聞。</p>
<p><u>看鴉片真偽法</u></p>
<p>真者成塊，視之如鴉毛片之色，研開如黃泥，嗅之如青草味而帶香，嘗之黃連之若，此是真者。偽者亦成塊，綠色或黑色，研之開亦黑色，並不香，雖賤不用。</p>
<p>秘授萬靈一粒九轉還丹，善治一切危急等症。開後：</p>
<p>傷寒頭痛發熱（生薑蔥白湯下）；傷風無汗惡寒（麻黃桂枝湯下）；陰症身冷白汗（乾薑肉桂湯下）；中風口眼歪斜（天麻膽星湯下）；小兒急慢驚風（薄荷湯下。半歲作三、四服，二、三歲作三服）；偏正頭風（羌活白芷湯下）；霍亂吐瀉（藿香生薑木瓜湯下）；痰結頭痛（天麻甘菊湯下）；傷風咳嗽（生薑紫蘇湯下）；久嗽痰火（如寒，生薑陳皮湯下；如熱，石膏知母湯下）；肺虛勞嗽（人參麥門冬五味子湯下）；冷風哮喘（款冬花紫蘇湯下）；赤帶（滑石甘草湯下）；產後瘀血作痛（桃仁山楂紅花湯下）；胞衣不下（童便和酒下）；跌打損傷（紅花酒下）；初起痞塊（山楂湯下）；氣勞（木香湯下）；損傷（乳香湯下）；心勞（遠志湯下）；脾勞（當歸湯下）；色勞（石燕子湯下）；下元虛（鹽湯下）；赤目腫痛（防風荊芥湯下）；遍身骨痛（羌活獨活湯下）；半身不遂（左用桂枝、羌活、獨活、全當歸、紅花湯下）；肚痛（砂仁木香湯下）；心痛（良薑砂仁湯下）；疝氣痛（荷香川椒吳茱萸桔核湯下）；郁痛（山梔貝母湯下）；兩脅痛（乳香湯下）；白瀉（米飲湯下）；下部腫痛（牛膝米仁木瓜湯下）；咽喉腫痛（桔梗甘草牛蒡子湯下）；噤口痢（人參升麻黃連石連湯下）；瘧疾（桃枝楊柳各三錢湯下）；小便不利（滑石甘草湯下）；吐血鼻血（芍藥山梔犀角丹皮湯下）；腸風下血（槐花炒黑，棕櫚煅灰湯下）；翻胃（如寒，丁香乾薑湯下。如熱，竹茹木瓜湯下）；蠱脹（青皮蘿蔔子湯下）；水腫（茯苓澤瀉湯下）；迎風流淚（蔓荊子湯下）；雲翳遮睛（石決明湯下）；星障（木賊草決明子湯下）；風眼（防風荊芥蔓荊子湯下）；火眼（黃連枳殼湯下）；血貫瞳仁（元參赤芍藥湯下）；胬肉侵睛（□□花湯下）；青盲眼（枸杞子甘菊湯下）；眼目昏花（熟地當歸湯下）；蟲牙痛（川椒良薑湯下。如火，石膏湯下）；閃腰脞氣（蘇木紅花湯下）；楊梅瘡（黃連甘草山梔湯下）；楊梅結毒（土茯苓湯下）；遍身生瘡（金銀花苦參湯下）；無名腫毒（貝母金銀花連翹湯下）；癰疽未潰（皂角刺穿山甲湯下）；痰核初起（貝母生薑湯下）；魚口便毒（大黃湯下）；女科經水不調（香附艾葉湯下）；血枯經閉（當歸川芎芍藥熟地湯下）；血山崩（阿膠續斷湯下）；沙淋白帶（茯苓生薑半夏湯下）；濕痰流注（貝母湯下）；緊急疔瘡（菊花根取汁和酒下）；鶴膝風（牛膝威靈仙湯下）；大麻風（麻黃、威靈仙、防風、苦參，夏加黃連湯下）；</p>
<p><u>諸葛武侯行軍散</u>（乳名痧藥。臨濟超真大和尚傳）</p>
<p>牛黃　麝香　冰片各三分　硃砂　雄黃　硼砂　火硝各一錢　飛金三十張</p>
<p>研為細末，入磁瓶聽用。點於眼內或點舌尖，男左女右。孕婦忌點。</p>
<p><u>孩兒勞方</u></p>
<p>陳酒、童便各一鍾先煎，再加人乳、白蜜各一鍾，共煎成膏服。病重者，多煎服幾次。</p>
<p><u>梅花點舌丹方</u>（臨濟超真大和尚傳）</p>
<p>牛黃　冰片　蟾酥　熊膽各一錢　珍珠　麝香各六分　硃砂　硼砂　葶藶　血竭　沉香　乳香　沒藥　雄黃各二錢</p>
<p>將人乳浸蟾酥、熊膽為丸，每丸重三、四釐，金箔為衣，曬兩日，入磁瓶聽用。修合時預為齋戒三日，忌雞、犬、婦人聞之。此丹專治對口癰疽、發背、疔瘡、瘰癧乳癤、一切無名腫毒。每服一丸，含於舌底，用白酒儘量飲醉，出汗。小兒用酒化服。患處不用敷藥膏，藥自能生肌長肉，收口即愈。孕婦忌服。</p>
<p><u>治小兒赤遊風胎毒</u>（驗過此方，是呂爾青先生傳）</p>
<p>千腳泥一兩，曬乾或烘，加入珍珠三分，同研細，菜油調敷腫處即愈。</p>
<p><u>赤遊內服末藥</u>（此方金雲章先生驗過）</p>
<p>穿山甲（炒炙）　血餘（煅，即頭髮炭）</p>
<p>等分為末。每服五分，輕者三分，黑糖拌，百滾湯送下。</p>
<p><u>治胃脘中急痛、非勞即痰食單方</u>（徐統和驗過）</p>
<p>用鹽五分放尖刀頭上，炭火上燒紅，冷水一茶杯，將燒紅刀鹽淬入，攪和飲。或吐或不吐即愈。</p>
<p><u>治濕毒臁瘡立效方</u>（章子試先生傳）</p>
<p>桐油二兩，加川椒三十粒煎，枯椒為度，去椒不用，加入輕粉二錢研細，白蠟一兩，收成膏，用綿紙拖成膏藥先貼之。兩日一換，三次愈。</p>
<p><u>治諸骨鯁喉立效方</u></p>
<p>用急性子二十粒（即鳳仙花子），白湯送即下。</p>
<p><u>治乳癤及乳岩效過方</u></p>
<p>用敗龜板煅存性，每服三錢，糖拌酒下，儘量飲之，即消。</p>
<p><u>治赤白痢疾神效方</u>（丁黌升傳）</p>
<p>蘿蔔連頭葉，五月五日午時用燒酒、硃砂、雄黃噴於蘿蔔上，陰乾。白痢用赤糖同煎一碗服；赤痢用白蜜五錢，同煎服即愈。</p>
<p><u>治水腫立效方</u>（丁黌升傳）</p>
<p>用老扁蒲陰乾，陳者煎湯服即愈。</p>
<p><u>治黃疸水腫立效方</u>（吳仲衡傳）</p>
<p>綠豆一升，煎湯洗浴即愈。</p>
<p><u>治毒蛇咬方</u></p>
<p>用穿山甲、木香各一錢五分，為末，酒送下。</p>
<p>又方　用全蠍二個研，蜈蚣一條炙，研末，酒下即愈。（此方捕蛇師傳）</p>

<h1>經驗丹方彙編</h1>

<h2>中風</h2>
<p>中風者，言為邪風行中。其受病重，非若傷風之輕也。風是四時八方之氣，常於冬至之日自坎而起，候其八方之風。從其鄉來者，主長養萬物；若不從其鄉來者，名為虛賊風，害萬物。體虛者則中之，當時未必即發；重感風邪，病遂發焉。</p>
<p>臟腑有腧，腧皆在背，中風多從腧入者也。而有中腑、中臟、中血脈之分。中腑者，其病在表，多著四肢，故肢節廢，脈浮惡風，拘急不仁。外有六經之形證。太陽經證，頭疼身熱脊強；陽明經證，目痛鼻乾，不得臥；少陽經證，耳聾脅痛，熱嘔苦；太陰經證，腹滿自利，咽乾；少陰經證，舌乾口燥；厥陰經證，煩滿囊縮以小續命湯及疏風湯汗之。中臟者，其病在裡，多滯九竅。故唇緩，二便閉，脾；不能言，心；耳聾，腎；鼻塞，肺；目瞀，肝。以三化湯及麻仁丸下之。</p>
<p>中血脈者，病在半表半裡，外無六經之證，內無二便之閉。但見口眼喎斜，半身作痛。不可過汗，恐虛其衛；不可太下，恐損其營。惟當養血順氣，以大秦艽湯、羌活愈風湯和之。</p>
<p>此皆真中風也。而有氣血之分焉。氣虛者，右手足不仁，用六君子加鉤藤薑汁；血虛者，左手足不仁，用四物湯加鉤藤竹瀝薑汁；氣血俱虛者，左右手皆不仁，八珍湯加鉤藤竹瀝薑汁。</p>
<p>凡中風者倒，先須順氣，然後治風。用竹瀝薑汁調蘇合香丸；如口噤，抉開灌之。如抉不開，急用牙皂、生半夏、細辛為細末，吹入鼻內。有，可治。無，則死。最要分別閉與脫二證明白。如牙關緊閉，兩手握固即是閉證。蘇合香丸或二生飲之類開之。或口開心絕，手撒脾絕，眼合肝絕，遺尿腎絕，即是脫證。更有吐沫直視，肉脫，筋骨痛，髮直搖頭上，面赤如妝，汗出如珠，皆脫絕之證。宜大劑理中湯灌之，及炙臍下亦可救十中之一。若誤服蘇合香丸、牛黃、至寶之類，即不可救矣。</p>
<p>蓋斬關奪命之將，原為閉證設。若施之脫證，如人既入井而又下之石也。世人蹈此弊而死者，不可勝數，故特表而出之。（惟中臟之證是閉而非脫者，宜蘇合丸，牛黃丸，至寶丹、活命金丹之類。若中腑與中血脈之證，斷不宜用。為內有麝香，入脾治肉；牛黃，入肝治筋；龍腦，入腎治骨，恐反引邪風深入骨髓，如油入面，莫之能出。）</p>
<p>肥人多中，以其氣盛於外，而欠於內也。肺為氣出之道，肥人氣必急，急則痰涎上壅，邪盛可知。所以治之必先理氣。中後，氣未順，痰未除，調理之劑，當用藿香正氣散和星香散煎服。非特可治中風之症，中氣中惡尤宜；尋常嘔吐痰厥，非飽悶皆可用之。</p>
<p><u>三生飲</u>（治卒中昏憒，口眼喎斜，半身不遂；並痰厥氣厥）</p>
<p>南星（生用）一兩　川烏（去皮生用）　附子（去皮臍生用）各五錢　末香二錢</p>
<p>每服五錢，水、姜煎服。</p>
<p>昔王用之，卒中昏憒、口眼喎斜、痰氣上壅、咽喉有聲，六脈沉伏，此真氣虛而風邪所乘者。用三生飲加人參一兩，煎服。即蘇。</p>
<p>夫前飲，乃行經絡、治寒痰之藥，有斬關奪旗之功。每服必用參兩許，駕驅其邪而補助真氣。否則不惟無益，適足以取敗矣。觀先哲用耆附、參附等湯，其義可見。《範氏家居醫錄》</p>
<p><u>稀涎散</u>（治中風昏昏如醉，形體不收或口角流涎，須臾不救，急用此散吐之）</p>
<p>新皂角四挺（去黑皮）　明礬一兩</p>
<p>共為細末，每用五、七分，溫水調灌，令微微稀冷，或涎出一、二升。待醒後乃用藥調治。毋使大吐，恐過劑傷人。屢效，不可具述。</p>
<p>宗奭曰：「此法用皂莢一兩，生礬五錢　膩粉五錢，水調一、二錢，過咽即吐。用明礬者，分膈下涎也。」（《孫氏秘寶方》）</p>
<p><u>中風口噤</u></p>
<p>荊芥穗為末，酒服二錢立愈。賈似道云：「此方前後用之，甚驗。」《曾公談錄》</p>
<p><u>舒筋丸</u>（治男、婦手足不能伸屈）</p>
<p>乳香　沒藥　當歸　骨碎補（炒）　木香　白附　木鱉　白膠　牛膝　虎筋骨（炙）　枸杞　木瓜　甜瓜子　京墨　地龍（酒洗淨，焙燥）各一錢五分　麝香少許</p>
<p>各為末，蜜丸如梧子大。每服六十丸，酒下。此方不養血、不去風，大為奇矣。（《百一選方》）</p>
<p><u>口眼喎斜</u></p>
<p>用白鱔一條，裝入竹管內，尾上用針深刺出血，血攤絹帛上，乘熱貼之。如歪向左貼右邊；歪向右貼左邊，立時即正。正即洗去。（《萬病回春》）</p>
<p><u>豨薟丸</u>（治四肢麻痹，骨節痠痛，腰膝無力，偏風、中風皆試驗過。壯盛者宜服）</p>
<p>五月五日、六月六日、九月九日採豨薟草，去根，莖花實淨洗曝乾，入瓶內，層層灑酒，與蜜蒸之。又曬乾再蒸，如此九次，則氣味極香美。焙搗篩末，蜜丸服甚效。《本草》</p>
<p><u>浮萍一粒丹</u>（治左癱右瘓，口眼喎斜，三十六般風並癩風，偏正頭風亦治）</p>
<p>七月十五日採蕩內紫背浮萍，曬乾為末，細篩煉蜜為丸，如彈子大。每日以黑豆淋酒下一丸，服過百粒，即為全人，若須小風症，服二、三十丸足矣。（《附刻陰隲文注證》）</p>

<h2>預防中風</h2>
<p>凡人初覺大指、次指麻木不仁，或手足少力，肌肉微掣，數年內有中風之症。宜先服愈風湯、天麻丸、竹瀝枳朮丸各一料。此治未病之先也。</p>
<p><u>愈風湯</u>（初覺風動服此，可免倒僕。又治中風內邪已除，外邪已盡，當服此以導諸經。久服大風盡。夫縱有微邪加減治之）</p>
<p>黃耆（蜜炙）　人參　當歸（酒洗用）　白芍（酒洗）　生地　枸杞　杜仲（薑、酒炒）　秦艽　肉桂　甘草　羌活　獨活　防風　薄荷　菊花　細辛　麻黃　蔓荊子　白芷　知母　石膏　柴胡　黃芩　地骨皮　枳殼（麩炒）　蒼朮（米泔洗）</p>
<p>每服一兩，生薑三片煎，空心服十劑。（《萬病回春》）</p>
<p><u>天麻丸</u>（治未病之聖藥）</p>
<p>天麻　牛膝（酒洗）　萆薢（另研）　元參各半兩　川羌三兩五錢　當歸（酒洗）一兩半　生地（酒洗）四兩　獨活兩半　大附子（泡去皮臍）五錢</p>
<p>蜜丸，每服四錢，空心酒湯任下。服後飢則食，不飢且止。（《醫宗必讀》）</p>
<p><u>竹瀝枳朮丸</u>（化痰清火、順氣除濕、祛暈眩、療麻木、養氣血、健脾胃）</p>
<p>白朮（土炒）二兩　枳實（麩炒）　陳皮（去白）　白茯苓　黃連（薑汁炒）　條芩（酒炒）　當歸（酒洗）　楂肉　白芥子　半夏（白礬、皂角、生薑水煮乾）　南星（制同上）　白芍（酒炒）各二兩　蒼朮（泔水制，鹽水炒用）二兩</p>
<p>為末，神麯六兩，薑汁、竹瀝各一盞，煮糊為丸，每服百丸，食遠淡薑湯下，有火者更宜。《醫書》</p>
<p>龔子才曰：「余屢試前方，有效，有不效。不效者，多是脾肺之虛，腎氣之弱。惟宜補中益氣湯、六味丸兼而進之，可免中風之患矣。」</p>
<p>徐芸術曰：「薛氏有云，預防者，當養氣血，節飲食，戒七情，遠幃幙。」</p>

<h2>風氣痛</h2>
<p>（附痿症、脫頦）</p>
<p>痛風者，遍身骨節走注疼痛也。謂之白虎歷節風。都是血氣風濕痰火，皆令作痛。或勞力寒水相搏；或酒色醉臥當風取涼；或臥潮濕之地；或雨汗濕衣蒸體而成痛風。在上者多屬風，在下者多屬濕。治用活血疏風，消痰去濕。羌活湯加減。凡治痛風，用蒼朮、羌活、酒芩三味，散風行濕之妙藥耳。</p>
<p>一切痛風，肢節痛者，痛屬火，腫屬濕。不可食肉。肉屬陽，火能助火，食則下遺，遺溺，內有痞塊。雖油炒熱物，魚面切宜戒之。所以膏粱之人，多食煎炒，炙煿，酒肉熱物蒸臟腑，故患痛風、惡毒癰疽者最多。肥人多是濕痰，瘦人多是痰火。</p>
<p><u>浸酒神方</u></p>
<p>七輪鱉甲（醋炙）　淨菊花　防風　杜仲　丹皮　石菖蒲（去蘆根）　牛蒡　人參　枸杞各一兩　白朮　萸肉　白茯苓　桔梗　黃耆　殭蠶　遠志（去心，甘草汁煮）　牛膝　蒼耳　熟地　白芍　萆薢　石蟹　花粉　荊芥　白附　天麻　白星　獨活　陳皮　蒼朮（米泔浸）白芷　川芎　當歸各五錢　川羌　秦艽　虎骨（酒浸）　油松節各一兩</p>
<p>用無灰酒二斗浸之，春夏二七，秋冬三七，固毋泄氣，每日空心三次，各飲一杯，藥渣焙乾研細，好酒和丸，如梧桐子大。每服七十丸，空心好酒下。昔竇中書方中年患此，四肢不舉者五載，累醫罔效。偶遇李讓有此秘方，修合服之，半月身輕目清，病遂除。因求此方。（江西淮王傳）</p>
<p><u>骨節風痛</u></p>
<p>川烏大者三十枚（生用）　全蠍二十個（生用）　生黑豆二十一粒　地龍（去泥土，酒洗淨）五錢</p>
<p>為末，入麝香一分，糯米飯和丸，綠豆大。每服七丸，夜臥酒下，微出冷汗，一、二服便瘥。（《赤水玄珠》）</p>
<p><u>五汁膏</u>（治風痛，不拘久近，立時見效。）</p>
<p>薑、蔥、韭、白蘿蔔各五斤，打汁；菜子半斤，打汁，煎成膏，滴水成珠，外加麻油、東丹石灰收煉，如汁多加多，汁少加少，做膏藥貼愈。（採抄本）</p>
<p><u>左經丸</u>（治手足不遂，筋骨諸痛，遍身風瘡）</p>
<p>大草烏（去皮臍）　木別（去殼）　白膠香　五靈脂各三兩五錢，斑蝥五枚（去頭足，醋炒磨細用）　生黑豆（去皮為末）一升</p>
<p>醋和丸，如芡實大。每服一丸，溫酒磨下。治筋骨痛未經針刺者，三、五服見效。此方曾醫一人，軟癱風，不能行，不十日見效，大為奇妙。（《赤水玄珠》）</p>
<p><u>風氣痛</u></p>
<p>老薑　鳳仙葉　香油　川椒末</p>
<p>共搗擦痛處。或鳳仙子煎湯洗亦效。一用魚膠四兩，薑汁一碗，投膠內熬膏，攤布上貼患處，即止。（《醫書》）</p>
<p><u>神應膏</u>（治骨節疼痛）</p>
<p>乳香　沒藥（各末）一兩　皮膠三兩　薑汁二碗</p>
<p>先將薑汁砂罐內煎數沸，入皮膠化開，將罐取下盛灰土，方入乳沒末攪勻成膏。用不見煙的狗皮攤膏貼患處，仍用鞋底炙熱，時時熨之，神效。忌鐵器。（《萬病回春》）</p>
<p><u>風濕臂痛</u></p>
<p>防風　歸全各二錢　麻黃五錢　秦艽一錢　木瓜　豨薟草　海風藤　白茄根各三錢</p>
<p>酒二斤，沙罐內煎四、五滾，在臂上熏洗。每日二次，不可怠略。錢青揄云：家慈嘗患此症，親試立效。後治他人無不響應。　白鳳仙花浸燒酒飲亦愈。（《經驗良方》）</p>
<p><u>治兩手疼痛麻木</u></p>
<p>當歸　川芎　白芷　酒芩（炒）　黃連　羌活　蒼朮（米泔制）　防風　桔梗　南星　半夏（俱薑汁製）　桂枝甘草各等分</p>
<p>生薑三片，水煎服。（《萬病回春》）</p>
<p><u>痛風</u>（遍身骨節走痛者是）</p>
<p>油松節、晚蠶砂蒸酒，每日常服愈（《秘方集驗》）</p>
<p><u>痰注臂痛</u></p>
<p>天仙藤　白朮　羌活　白芷各三錢　薑黃六錢　製半夏五錢</p>
<p>每服五錢，姜五片，水煎服（楊仁齋方）</p>
<p><u>濕痰腫痛</u>（，經年不能行者）</p>
<p>水紅花　蘿蔔莢　白金鳳花　水龍骨　花椒　槐芩　甘草　蒼朮　金銀花</p>
<p>各等分，煎熏患處。水稍溫即洗之，甚驗。（《單方全集》）</p>
<p><u>神仙外應膏</u></p>
<p>川烏一斤為末，用陳醋入砂罐內，慢火熬如醬色，敷患處。如病一年，敷後一日發癢，二年二日發癢，癢時令人將手拍癢處，拍至不癢為度。先用升麻、皮硝、生薑煎水洗，然後敷藥，不可見風。（《秘方集驗》）</p>
<p><u>痿症</u>（斷不可作風治，而誤用熱燥攻風之藥。凡不痛者為痿，屬虛；痛者為痹，屬實。症各有別，蓋痿病生於肺熱，因血氣少，虛火盛制肺金，肺葉焦枯，宗筋不潤，金既不能生水，以致肝木乘脾，脾土受傷，則骨痿軟而筋馳縱，四肢難舉，不能伸縮轉動，狀若癱瘓者，須久服此劑）</p>
<p>當歸　白芍　杜仲　牛膝　黃耆　白朮（炒）各一錢　熟地二錢　知母　黃柏各八分</p>
<p>水煎，空心服。（《秘方集驗》）</p>
<p><u>脫頦</u>（起於腎肺虛損，元神不足；或笑談高興忘倦，一時元氣不能接續所致。患者平身正坐，令人以兩手托住下頦，向腦後送上關竅，隨用絹條兜頦於項上。須避風，連服煎劑。不然，邪風外受，必致痰涎壅盛，口眼喎斜，而風中臟腑，十無一瘳矣）</p>
<p>附子（滾水泡去皮臍）六分　當歸　殭蠶（酒炒去絲）各二錢　人參　半夏　白朮　白茯苓各一錢五分　天麻（火煨）　陳皮各一錢　甘草三分　川芎八分　燈心四十根　生薑三片</p>
<p>水煎服。（《秘方集驗》）</p>

<h2>虛勞血證</h2>
<p><u>回生膏</u>（血虛火旺，消補兩難，服此神效）</p>
<p>人乳（男用女胎乳，女用男胎乳）　藕汁　白酒（頭漿）　白蜜　童便（臨時取用）</p>
<p>各等分。煎膏，滴水不散為度。每晨空心，湯下半盞。龍眼湯更好。病深者多服全愈。忌服寒涼藥。不救。（《單方全集》）</p>
<p><u>獨乳延生丸</u></p>
<p>茯苓一斤，打碎。用牛乳數斤（人乳更妙），在銅器內慢煎，隨煎隨擾，俟稀稠以茯苓收之，曬乾磨細，糯米湯和丸，如梧子大。每早白湯服二、三十丸，屢效。（《陰隲文注證刻》）</p>
<p><u>二仙膏</u></p>
<p>牛乳十斤、福園十斤，煎膏酒服。大補虛損，有回生之功。</p>
<p>扶衰仙鳳酒（治五勞七傷，並婦人赤白帶下，神效）</p>
<p>用白毛烏骨雄線雞一隻，將繩吊死，退去毛屎，切作四塊；入生薑四兩，膠棗半斤，陳酒六斤，裝入大壇內，泥封口，重湯煮一日，涼水拔去火毒。空心連薑棗食之。　一用烏骨童雄雞一隻，碗鋒去毛肚雜，勿犯鐵器，肚內入建蓮肉，砂鍋內用酒煮爛，雞頭放鍋外，隨便食之。治虛損亦神驗。（俱載醫書）</p>
<p><u>童子癆</u>（乾血勞並一切勞蟲神效）</p>
<p>活黃鼠郎一個，入瓶內。將泥搗爛封口，用籠糠火煨一日，取出研末。每服一錢，酒下。男用雄，女用雌。神效。（抄本）</p>
<p><u>傳屍癆</u></p>
<p>豬腰子兩個、童便二盞、無灰酒一盞，新瓷盛之，泥封。炭火溫養，自戌至子時止。待五更初，溫熱取開。飲酒食腰子。病危者一月見效，平日瘦怯者亦可用。（邵真人經驗方）</p>
<p><u>血崩</u></p>
<p>血餘三兩　絲瓜灰四兩，好酒送下即愈。（經驗單方）</p>
<p><u>血熱妄行</u></p>
<p>生荷葉　生艾葉　側柏葉　生地黃各等分</p>
<p>搗丸如雞子大。每服水二鍾，煎八分服。（《秘方集驗》）</p>
<p><u>虛汗</u></p>
<p>黃耆、黑豆，煎湯飲之，半月全愈。（《秘方集驗》）</p>

<h2>腫脹</h2>
<p>鼓有十症：氣鼓、食鼓、熱鼓、風鼓、勞鼓、濕鼓、蟲鼓、血鼓、疳鼓、胸腹腫脹並四肢腫脹者。如遇患人，腹上用手按之，有窩可治；脈壯者易治；脈細、並臍窩腫出者難治。</p>
<p>雞里金一具　真沉香　砂仁各三錢，陳香圓五錢</p>
<p>共末。每服錢半，薑湯下。　一用雄烏豬肚一具，入大蒜四兩，煮爛連服五、七個。忌鹽、醋、醬一百日。（單方經驗）</p>
<p>黃帝曰：「水與膚脹、鼓脹、腸覃、石瘕、石水，何以別之？」岐伯曰：「水始起也，目窠上微腫，如新臥起之狀，其頸脈動，時咳，陰股間寒，足脛腫，腹乃大，其水已成矣。以手按其腹，隨手而起，如裹水之狀，此其候也；膚脹者，寒氣客於皮膚之間，𪔣𪔣然不堅，腹大，身盡腫，皮厚，按其腹，窅而不起，腹色不變，此其候也；鼓脹者，腹脹身皆大，大與膚脹等也。色蒼黃，腹筋起，此其候也；腸覃者，寒氣客於腸外，與衛氣相搏，氣不得榮，因有所繫，癖而內著，惡氣乃起，息肉乃生。其始生也，大如雞卵，稍以益大，至其成如懷子之狀，久者離歲，按之則堅，推之則移，月事以時下，此其候也；石瘕，生於胞中，寒氣客於子門，子門閉塞，氣不得通，惡血當瀉不瀉，衃以留止，日以益大，狀如懷子，月事不以時下，皆生於女子，可導而下。」</p>
<p>鼓脹者即單鼓脹也。始而止於單，是腹脹。日久不治，則四肢浮腫矣。其症亦有二，一為濕熱所感，一為虛寒所致。但虛寒者，無過於服金匱腎氣丸為妙。如系濕熱，用雞屎白炒，沉香色研篩一升，盛磁罐內，浸好酒二斤，面封口，煮三炷香，澄清隨意溫服。或用真黃牛肉一斤，河水煮爛，加皮硝一兩，隨意食之，二、三日其腫即消，至重者再服全愈。百日之內，切忌酸鹹、生冷、麵食、葷腥、油膩、硬物。</p>
<p><u>十種水病</u>（並根源、症狀、方法）</p>
<p>一清水。先從左右肋腫起，根在肝，大戟；二赤水。先從舌根起，根在心，葶藶子；三黃水。從腰腹起，根在脾，甘遂（炒）；四白水。從腳腫起，根在肺，桑白皮；五黑水。從外腎腫起，根在腎，連翹；六玄水。從面腫起，根在外腎，芫花（醋炒）；七風水。從四肢腫起，根在骨，澤瀉；八石水。從腎腫起，根在膀胱，藁本；九高水。從小腹腫起，根在小腸，巴豆（去皮油）；十氣水。或盛或衰，起根在腹，赤小豆。</p>
<p>上十般腫病，各有根源，種種不同，看十種病根，除一味倍多，餘九味等分焙末。蜜丸梧子大，用赤茯苓湯吞三丸，不拘時，每日三服，愈後服補藥。其方：</p>
<p>肉桂（去皮）　乾薑　肉豆蔻　赤茯苓　莪朮（醋煮）　川芎　桔梗各等分</p>
<p>為末。每服三錢，白湯下。空心食前，日午晚各一服。二方治水腫，百發百中，獲濟無數。（《赤水玄珠》）</p>
<p><u>禹餘糧丸</u>（許學士、朱丹溪皆贊此方為水脹之神藥）</p>
<p>蛇含石（大者三兩，鐵銚燒紅傾醋內候冷，取出研極細）　禹餘糧石三兩　真針砂五兩（淘淨、炒乾，用醋二鍾同餘糧銚內煮乾，更用銚並藥燒紅，傾淨磚上候冷研細）　羌活　木香　茯苓　川芎　牛膝（酒浸）　桂心　白豆蔻　大茴（炒）　蓬朮（泡）　附子（泡）　乾薑（泡）　青皮　京三稜（炮）　白蒺藜　當歸（酒浸）各五錢</p>
<p>末。入煎三味拌勻，丸如梧子大。空心白湯下三、五十丸，日三服，更以溫補藥補之，神效。（《醫宗必讀》）</p>
<p><u>脾病黃腫</u></p>
<p>青礬（煅成赤珠）　當歸（酒浸七日）各四兩　百草霜三兩</p>
<p>為末。以所浸藥酒打丸如梧子大。每服五丸至七丸，酒下。一月效（祖傳七世方）</p>
<p><u>鼓脹水腫</u></p>
<p>乾絲瓜一條，去皮打碎，入巴豆十四粒同炒，以豆黃為度，去豆用瓜；陳米炒黃（米與巴豆先須等分），又去瓜用米。研細，清水為丸。每服百粒，滾湯下。　腫脹不服藥自去水：真水銀粉二錢，巴豆去油四兩，生硫黃一錢，研成餅，貼臍上，黃水自去。貼時先以綿一斤鋪臍上，次貼藥餅。外用帛縛之，如人行三、五里，黃水自下。待三、五度去餅，溫粥補之，久患者隔日取水。（《秘方集驗》）</p>
<p><u>水腫腹大</u>（或遍身浮腫）</p>
<p>用棗一斗，入鍋內，以水浸過，用大戟根苗蓋之，瓦盆合定，煮熟取棗。不時食之，棗盡決愈。（《本草》）</p>
<p>一用　馬鞭草一斤　鼠尾草一斤，水一石煮取五斗，去渣再煎令稠，以粉和丸黃豆大。每服二、三丸，加至四、五丸，神效。（《肘後方》）</p>
<p><u>水腫</u></p>
<p>用土狗（一名螻蛄）焙乾為末。用上半節即消上身之水，下半節即消下身之水，左可消左，右可消右。方士以此方神奇。（《醫宗必讀》）</p>
<p><u>腹脹黃腫</u></p>
<p>亞腰葫蘆蓮子燒存性。每服一個，食前溫酒下。不飲酒者白湯下，十餘日見效。（《簡便方》）</p>
<p><u>敷藥</u>（治腹滿如石、或陰囊腫大，先用甘草嚼，後用此）</p>
<p>大戟　芫花　甘遂　海藻各等分</p>
<p>為末。用釅醋調面，和藥攤綿紙上，覆貼腫處，仍以軟綿裹住。（《醫宗必讀》）</p>
<p><u>白遊風腫</u></p>
<p>螺螄肉入鹽少許，搗泥貼之，神效。（摘玄方）</p>
<p><u>腹皮青色</u>（不速活須臾死）</p>
<p>胡粉（是錫粉、非鉛粉）鹽熬色變，以摩腹上。（《子母秘錄》）</p>
<p><u>痰鼓</u></p>
<p>陳葫蘆一枚，去頂，用箸松其子，將酒灌入，仍用頂封好，重湯煮數沸去子飲酒。一吐而愈。元氣旺者，斷宜用此。（《單方全集》）</p>

<h2>反胃噎膈</h2>
<p>（此症年滿六旬者難治；糞如羊糞者難治；吐白沫者難治；胸膈嘈痛如刀割者死）</p>
<p>反胃噎膈，總是血液衰耗，胃脘乾槁。槁在上者，水飲可行，食物難入，名曰噎膈。槁在下者，食雖可入，良久復出，名曰反胃。二證名為膈，大抵氣血虧損，復因悲思憂慮，則脾胃受傷，血液漸耗。鬱氣生痰，痰則塞而不通，氣則上而不下，妨礙道路，飲食難進，噎膈所由成也；脾胃虛傷，運行失職，不能熟腐五穀變化精微，朝食暮吐，暮食朝吐，食雖入胃，復反而出，反胃所由成也。二者皆在膈間受病。故通名膈也。此症之所以疑難者，方欲健脾理痰，恐燥劑有妨於津液；方欲養血生津，恐潤劑有礙於中洲。審其陰傷火旺者當以養血為亟，脾傷陰盛者當以溫補為先。</p>
<p><u>雄黃二豆丸</u>（治噎食神效）</p>
<p>大烏梅肉二十枚（水洗）　硇砂　雄黃各二錢　乳香一錢　百草霜　黑豆　綠豆各四十九粒</p>
<p>為末，和梅打丸彈子大。用一丸噙化，待一炷香方行經絡。用麵餅一個，熱湯泡開，吃之無礙為妙。仍有礙，一、二日後再一丸。三、五日除根。（《赤水玄珠》）</p>
<p><u>噎膈</u></p>
<p>第一次服：皮硝、兒茶、礦灰各一撮，麝香一分，為末，燒酒調服。</p>
<p>第二次服：沉香二錢，草果七錢，砂仁、木香、五靈脂各五錢，豆蔻一兩，蓽澄茄二錢，白朮二錢薑汁製，為末，好酒調服一錢。</p>
<p>第三次服：蓽澄茄三錢，麻雀兒七枚煮熟，點茄末食。</p>
<p>第四次服：豬牙皂角半斤、棗子一斤，煮熟去皂角服。</p>
<p>第五次服：黑豆一升，黃柏、黃芩、黃連各一兩，煮豆食有效。（江西楊大人傳）</p>
<p>一用　阿魏一錢、干屎三錢，為末，五更薑片醮食立愈。（趙王凼方）</p>
<p>一用　白水牛喉，去兩頭節並筋膜，節節取下米醋一碗，炙至醋盡為末，每用一錢，米飲下愈。（法天生意）</p>
<p>一用　甘蔗汁二碗，薑汁一碗，每服一碗，日三服，即不吐。（《醫宗必讀》）</p>
<p><u>噎膈初起</u></p>
<p>老薑一斤（童便浸七日，土內埋七日，洗淨為末一兩）　白朮（土炒淨末）一兩</p>
<p>飯丸梧子大。每晨空心服一錢，米飲下有效。（《懷德堂錄》）</p>
<p><u>噎膈反胃</u>（鼓脹亦治）</p>
<p>沉香　蘇子　廣皮各二錢　官桂一錢　木香三分　蘿蔔子三錢</p>
<p>俱為末。每用三分，配狗寶一分，須用好泉水煎通草湯，空心調服。（採醫書）</p>
<p><u>翻胃吐食</u></p>
<p>黃蜆殼、田螺殼（要久在泥中者）各等分，炒成白灰。每二兩入白梅肉四兩，搗和丸，再入砂盆內，蓋定泥固，燒存性，研極細。每服二錢，人參縮砂湯下。或陳米湯亦可。</p>
<p>一用　地龍糞一錢，大黃七錢，木香三錢，為末。每服五錢，無根水調服，三服見效。忌煎炒醋等。（《赤水玄珠》）</p>
<p>一用　乾柿餅三枚，連蒂搗爛，用酒服，甚效。（《醫宗必讀》）</p>
<p><u>久患咳噎</u>（連至四、五十聲者）</p>
<p>薑汁、蜜，同煎三次立效。（抄本）</p>
<p>凡反胃症得藥而愈者，切不可便與粥飯。惟以人參五錢，陳皮二錢，老黃米一兩，作湯細啜，旬日後方可食粥。倉稟未固，不宜便進米穀，常致不救。（《醫宗必讀》）</p>
<p><u>病後胃弱</u>（不能飲食者）</p>
<p>蓮子肉　炒米各四兩　茯苓二兩（為末）　砂糖二兩</p>
<p>調勻，每服五、六茶匙。不拘時服，白湯下。（《秘方集驗》）</p>
<p><u>隔食隔氣</u></p>
<p>韭汁　梨汁　薑汁　人乳各二盞，飯上蒸熟，服之，三日後再服。如神。（抄本）</p>

<h2>痰飲</h2>
<p>百病多兼有痰，故病以化痰為先。善治痰者，兼治氣，氣順則痰利。痰脈浮滑者宜降；浮實者宜吐，沉小者不宜吐，恐虛故也。凡治痰症，不可全用利藥，過使脾氣虛弱，則痰反易生而多。若脾虛生痰者，用健脾燥濕，便要利補兼用。陳皮、白朮為佐也。痰乃穢濁之物，宜吐不宜瀉、瀉則反加別症矣。</p>
<p><u>竹瀝達痰丸</u>（能運痰於大腸，不損元氣，神效）</p>
<p>半夏二兩（泡七次，薑汁浸透，曬乾切片，瓦上焙熟）　白茯苓　陳皮（去白，淨）二兩　炙草　人參各一兩　大黃（酒浸透曬）　酒芩各三兩　沉香五錢　礞石一兩（用焰硝一兩和勻放入銀罐內，用瓦蓋好，鹽泥封固，曬乾，炭煅如金黃色）</p>
<p>上為末，竹瀝碗半，薑汁二鍾，入鍋內熬一刻，將藥和搗，磁罐盛之，曬乾。仍以竹瀝薑汁如前法搗曬七次，仍用竹瀝和丸如小豆大。每服百丸，食遠米飲下。（《萬病回春》）</p>
<p><u>風痰頭暈</u>（嘔逆、目眩、面色青黃、脈弦者）</p>
<p>半夏　生南星　寒水石（煅）各一兩　天麻五錢　雄黃三錢　小麥面三兩</p>
<p>為末，水和成餅，水煮浮起，濾出搗丸，每服五十粒，薑湯下，極效。（《古法機要》）</p>
<p><u>寒痰氣喘</u></p>
<p>青橘皮一片展開，入巴豆一粒，麻紮緊，火上燒存性，研末。薑汁和酒服。　天台李翰林治莫秀才到口便止。（《張果醫說》）</p>
<p><u>痰火</u></p>
<p>天花粉一斤，切片，初以藜汁一鍾拌曬；次以蘿蔔汁一鍾拌曬；次以竹瀝一鍾拌曬。為末，每服一錢，好茶下。（《懷德堂錄》）</p>
<p>一用　桑白皮四兩、款冬二兩、薄荷四兩、甘草二兩、芽茶四兩、陳香園四兩、卜子五錢、杏仁五錢、鵝管石五錢，水、白糖為丸服。（《衛生備要》）</p>

<h2>咳嗽</h2>
<p><u>雞鳴丸</u>（治男婦咳嗽吐血諸虛，如神）</p>
<p>從來咳嗽十八般，只因邪氣入於肝。</p>
<p>胸膈咳嗽多加喘，胃嗽膈上有痰涎。</p>
<p>大腸咳嗽三焦火，小腸咳嗽舌上干。</p>
<p>傷風咳嗽喉多癢，膽嗽夜間不得安。</p>
<p>肝風嗽時喉多痹，三因嗽時船上灘。</p>
<p>氣嗽夜間多沉重，肺嗽痰多喘嗽難。</p>
<p>熱嗽多血連心痛，膀胱嗽時氣多寒。</p>
<p>暴嗽日間多出汗，傷寒嗽時冷痰酸。</p>
<p>此真神仙真妙訣，用心求取雞鳴丸。</p>
<p>知母（炒）四兩　阿膠（麩炒）　五味各三兩　桔梗　人參各五錢　陳皮（去白）　馬兜鈴　麻黃　旋覆花　甘草（炙）各一兩　杏仁（去皮尖）　葶藶（紙上焙）　半夏（薑汁炒）各三兩</p>
<p>蜜丸彈子大，每服一丸。五更，烏梅生薑棗子湯下。（《萬病回春》）</p>
<p><u>瓊林散</u>（治遠近哮嗽，其效如神）</p>
<p>桑皮四兩　五味　甘草（炙）　陳皮各二兩　慄殼一斤（去蒂膜，醋浸三夜曬乾，再入醋浸曬乾）</p>
<p>冷蜜調服。（《赤水玄珠》）</p>
<p><u>久患喘急</u></p>
<p>杏仁（童便浸換半月，焙乾），每以棗許，同薄荷、蜜煎服，神效。（抄本）</p>
<p><u>哮喘</u></p>
<p>白果（炒）廿一個　麻黃三錢　蘇子　半夏（制）　款冬花各二錢　桑皮（蜜炙）二錢　杏仁（去皮尖）一錢　炒芩一錢五分　甘草一錢</p>
<p>水煎，分二服。　金陵一鋪家，以此方治哮喘，無不效者，因以此起家。（《攝生方》）</p>
<p><u>呂祖仙傳蘆吸散</u>（治新久咳嗽，百藥無功，服此神奇）</p>
<p>鵝管石　陳皮各二錢半　款冬花蕊五錢</p>
<p>年老及虛者加人參五分，冬月加肉桂錢半。忌鐵器。為末，分七服，每夜仰臥將藥一服，作三次入竹筒內，口噙竹筒，近咽喉用力一吸，將溫水一口送下，不可多吃水。忌油膩並鹽七日。藥完後亦少用些油鹽，至半月後不忌。（《萬病回春》）</p>

<h2>夢遺白濁</h2>
<p>不夢而自遺者，心腎之傷居多；夢而後遺者，相火之強為害。若夫心動於欲，腎傷於色，或強忍房事，或多服淫方，敗精流溢，乃為白濁。</p>
<p><u>瑞本丸</u>（專治夢遺）</p>
<p>苦參　黃柏各二兩　牡蠣　蛤粉　葛根　白螺螄殼（煅）　青蒿各一兩</p>
<p>神典為丸，如梧子大。空心白湯七十丸。卻酒一個月，終劑而愈，百發百中。（《赤水玄珠》）</p>
<p><u>夢遺</u></p>
<p>鐵屑研末，炒，棗肉為丸。每晨服一錢，大妙。（《衛生備要》）</p>
<p>一方　用乳香，指大一塊，臨臥時含口中，醒即吐之。數次自愈。（《秘方集驗》）</p>
<p><u>丸方</u>（專治夢遺）</p>
<p>石菖蒲　遠志　桑螵蛸　益智　棗仁　牡蠣　龍骨　鎖陽</p>
<p>等分丸服，隨手而愈。（《赤水玄珠》）</p>
<p><u>五珠金瑣丹</u>（治夢遺白濁，能起死回生）</p>
<p>黃豆　綠豆　糯米　小麥各一斤　熟地半斤（各炒熟勿令黑）</p>
<p>加入蓮鬚、五味、茯苓各四兩，龍骨、牡蠣（煅）各四錢，白洋糖拌勻作糕。不拘時，白湯下。或用蜜為丸，每服八錢。　鹿含草浸酒服，治夢遺神效。（《衛生備要》）</p>
<p><u>氣虛白濁</u></p>
<p>黃耆（鹽炒）八兩　茯苓一兩</p>
<p>為末。每服一錢，白湯下。（經驗方）</p>
<p><u>淋閉白濁</u></p>
<p>白茯苓四兩作匱，以豬苓四錢入內，煮二十沸，取出曬乾，去豬苓為末，黃蠟搜和丸，彈子大。空心嚼咽一丸，以小便清為度。忌米醋。屢試屢驗。（《綱目》）</p>
<p>徐芸稗曰：「凡人慾動則情熾，情熾則神疲，神疲則精滑而夢失。故寤寐時，須制欲靜養，心無他出，默坐片刻，然後屈足側臥，向無走失，慎勿沉溺欲海，神不守舍，致失攝生之道也」。</p>

<h2>傷寒瘟疫</h2>
<p>（附冒風寒方）</p>
<p><u>發散傷寒</u></p>
<p>不問陰陽二症，倉卒無藥。生薑一兩、蔥白十莖、好酒二大碗煎半，熱服。蓋被，周身汗透即解，勿令汗太過。忌大葷五、七日。春依此方；夏月蔥姜減半；冬月加黑豆二合炒，煎服尤效。如旅次煎藥不便，生薑五片，蔥白四莖，紫蘇葉三錢（無此禾，細茶代），泡湯熱服。（《秘方集驗》）</p>
<p><u>停食傷寒</u></p>
<p>陳香糟六兩　生薑四兩　水菖蒲根四兩　鹽二兩</p>
<p>共搗，炒熱為餅，敷胸前痛處，火熨之，內響即去。如口渴任吃茶水，待大便下惡物愈。（《單方全集》）</p>
<p><u>傷食</u></p>
<p>雞硬肝內黃皮燒灰，酒服。大小停食不化，服之即愈。</p>
<p>一用面，研沖酒，澄清去腳，服之最效。三月初三日，收野薺菜花根，曬乾貯放，煎湯服之，即消。（徐龍耀方）</p>
<p><u>四時感冒風寒</u></p>
<p>初起，蔥白連須五根，生搗，沖酒服。（《秘方集驗》）</p>
<p><u>大頭瘟</u></p>
<p>黃連　黃芩各五錢　人參三錢　桔紅　元參各二錢　生甘草　連翹　鼠黏子　薄荷葉　板藍根　馬屁勃各一錢　白殭蠶　升麻各一錢　柴胡　桔梗各二錢</p>
<p>為末，湯調，時時服。或拌蜜為丸，噙化。此方全活甚眾。（《赤水玄珠》）</p>
<p><u>時疫不染</u></p>
<p>蒼朮三錢三分三釐（米泔水浸，切片炒）　甘草一錢六分六釐　撫芎八錢五分　乾葛一錢三分六釐</p>
<p>姜三片，連根蔥頭三個，水二碗煎八分，空心服。已病者愈，未病者不染也。（《秘方集驗》）</p>
<p><u>蝦蟆瘟</u></p>
<p>以金線田雞搗汁，水調空腹頓飲，極效。（《本草發明》）</p>
<p><u>闢疫</u></p>
<p>用雄黃末、菜油調塗鼻中，空心再服雄黃酒一杯，永不染。（方書）</p>

<h2>瘧疾</h2>
<p>夫瘧者，因外感風寒暑濕，內傷飲食，勞倦或飢飽，色欲過度，以致脾胃不和，痰留中脘。然無痰不成瘧，脾胃屬土有信，來去不失其時，若移時，或早或晚者，是邪無容地，瘧將好也。瘧疾來時，呵欠怕寒，手足冷，發寒戰，大熱口渴，頭痛，腰胯骨節痠痛，或先寒後熱，或先熱後寒，或單寒單熱，或寒多熱少，或熱多寒少。一日一發，受病淺也，易治。間日發者，或二日連發住一日者，皆難治。治宜在表。無汗者，散邪湯為主；有汗者，正氣湯為主；在半表半裡者，柴苓湯為主；分利陰陽而未已者，人參養胃湯加減。若用截藥，吐出黃膽水者，瘧自愈也。不可一、二日早截，早則邪氣閉塞而成壞症。又不可遲截，遲則元氣衰憊而成虛怯。當在三、四日就截為好。須待熱退身涼方可飲食也，切不可帶熱飲食，恐不消而成痞。一名瘧母。痞散成鼓者有之矣。</p>
<p><u>散邪湯</u>（治瘧初起，增寒壯熱，頭疼身痛，無汗）</p>
<p>甘草三分　羌活　紫蘇　荊芥　白芷　麻黃　白芍　防風各一錢</p>
<p>生薑、蔥白三根，水煎，露一夜，次早服。有痰加陳皮；有濕加蒼朮；夾食加香附（《萬病回春》）</p>
<p><u>正氣湯</u>（治瘧初起，無增寒壯熱，頭痛口乾，有汗）</p>
<p>桂皮　甘草各三分　茯苓　半夏（薑汁炒）　白芷　青皮　川芎　草果（去殼）　檳榔　前胡　柴胡　麥冬各一錢</p>
<p>生薑三片，棗一枚，預先煎服。（《萬病回春》）</p>
<p><u>柴苓湯</u>（治瘧發寒熱，病在半表半裡，陰陽不分）</p>
<p>柴胡　黃芩　人參　半夏　豬苓　澤瀉　白朮　茯苓　肉桂　甘草</p>
<p>生薑三片，棗二枚，煎服。無汗加麻黃；有汗加桂枝；汗多加官桂；熱多加黃芩。（《萬病回春》）</p>
<p><u>治瘧</u></p>
<p>陳皮　半夏（制）　當歸各一錢　柴胡　黃芩　澤瀉　茯苓各八分　甘草（炙）　升麻　乾葛各五分</p>
<p>生薑二片　棗頭一枚　桃頭五個</p>
<p>水煎熱服。忌生冷魚面。　據月坡云：方有百種，唯此穩當無誤，須服二十劑。服五、六劑後加人參更妙。（《陳百坡方》）</p>
<p><u>絕瘧</u>（十日後神效）</p>
<p>常山（酒煮曬乾）　知母　貝母　草果各半錢</p>
<p>水煎，五更熱服。渣酒浸發前後。　王隱者云：「予用此方四十年，奇效不能盡述」。切勿加減以致不效。（《養生主論》）</p>
<p>又方（二十日後神效）</p>
<p>歸身　青皮　赤生首烏　白生首烏　老薑皮各三錢</p>
<p>河水、井水各一碗煎八分，露一夜。臨來日五更熱服即愈。（經驗方）</p>
<p><u>外絕藥</u></p>
<p>大蜘蛛三枚、信砒一錢、雄黑豆四十九粒，為末。滴水為丸，豌豆大。先夜以一丸獻於北斗下，次早紙裹插耳內立效。（《宜明方》）</p>
<p><u>間日瘧</u></p>
<p>白朮一錢　茯苓　澤瀉　豬苓　柴胡　半夏各一錢　黃芩（熱多錢半，寒多一錢）</p>
<p>加姜三片，大棗二枚，露一夜，臨日五更服。（《神效仙方》）</p>
<p><u>三日瘧</u>（一服立止）</p>
<p>蒼朮三錢　制首烏五錢　白朮二錢（炒）　知母五分　粉草一錢</p>
<p>水四碗煎半，雞鳴服（寒多生薑六錢，當歸五錢；熱盛當歸六錢，生薑五錢）。將發服愈。（《單方經驗》）</p>
<p><u>久瘧似癆</u></p>
<p>當歸（酒洗，下同）　牛膝各五錢　鱉甲　橘紅　貝母各三錢　鮮首烏五錢　姜皮二錢半　柴胡錢半（二味熱多有汗去之）</p>
<p>加竹瀝一盞，水二鍾煎半，露一夜，發日五更時溫服。（《單方全集》）</p>

<h2>痢疾</h2>
<p>痢疾赤屬血，白屬氣，赤白相兼膿血雜痢，皆因脾胃失調，飲食停滯，積於腸胃之間，多是暑濕傷脾，故作痢疾。起於肚腹疼痛，大便裡急後重，小水短赤，身涼脈緩者易治；身熱脈弦急者難治。痢初起一二日，元氣壯實者先用玄白散；虛弱者用芍藥湯疏通積滯；三、四日後，元氣漸弱，調和飲食，加減治之。如不止，服參歸芍藥湯調理脾胃、補益元氣。久不愈，方可服真人養臟湯加減治之，切不可驟用粟殼等藥。止塞太早恐內積氣未盡，成休息痢，亦恐毒攻上，胸腹飽悶作疼，噁心、嘔噦、發呃難治，因毒氣攻胃故也。先水瀉後膿血者，是腎傳脾難愈；先膿血後水瀉者，是脾傳腎易愈；又有痢下鮮血者，如塵腐色者，如屋漏水者，大孔如竹筒者，嘔吐發呃，煩躁身熱者，俱難治也。如魚腦髓者，身熱脈數，大半生半死也。大抵治痢疾：一、二日元氣未虛，治宜疏通積滯。此通因利用之法；三、四日後不可疏通，恐元氣虛也，當清熱解毒，調養脾胃為主。經云：行血則便膿自愈；調氣則後重自除。若大腸積滯，壅塞而後重，法當疏導之；若大腸氣虛，下陷而後重，法當開補之。</p>
<p><u>玄白散</u>（治痢初起，裡急後重，腹痛血窘迫，壯盛者一劑愈）</p>
<p>大黃二錢　生地　赤芍　歸尾　檳榔　枳殼（麩炒）　牽牛（赤痢用黑，白痢用白，赤白相雜黑白兼用，半生半炒，須搗碎）　莪朮　黃連各二錢</p>
<p>暑月加香薷炒一錢。水煎，空心溫服，以痢二、三次為度。（《萬病回春》）</p>
<p><u>治一切痢</u>（不拘男婦小兒）</p>
<p>木香（方圓一寸一塊），黃連五錢，用水半升，煎乾去黃連，切木香焙末，分三服。第一服陳皮湯下；第二服陳米飲下；第三服甘草湯下。　有一婦人，久痢將危，夢大士授此方，因而得愈。（《孫氏秘寶方》）</p>
<p><u>黑神散</u>（治腸滑之痢）</p>
<p>石榴一個，煅煙盡，次研，仍以酸榴一塊煎湯服，神效無比。（《醫方考》）</p>
<p><u>遠年痢</u></p>
<p>上好豆酒暖熱一、二鍾，內入薑汁一、二茶匙，不宜多服，數十次自愈。　一用哺退雞子殼毛，坑上掛燥，研極細末，將一分百滾湯送下即愈。　一用臭椿樹皮一兩五錢，雨前茶錢半，扁柏葉二錢五分，棗頭、烏梅各二枚，酒、水各一碗，煎。須緩緩服恐泛。（俱出單方）</p>
<p><u>噤口痢</u>（男婦湯飲不下者）</p>
<p>用烏梅一斤，敲碎置盆中，將十餘碗水煎泡熱，令病人坐盆上，待熱氣衝上肛門，溫即洗，其人亦睡去，即扶上床，煎粥湯候之。如思飲食，即與粥湯半碗，少頃與稀粥半碗，不宜多。若小兒照方減半可也。</p>
<p>黃連三錢，人參錢半，水一鍾煎七分，溫服。藥入口即蘇。　一用烏梅二個，夾住蝸牛一條。繩扎住，安口中化水滴下，愈。　一用木鱉子，研細和麵作餅，貼臍中亦效。（俱集驗方）</p>
<p><u>疫痢</u>（疫痢者，一人有病他人即傳染者是也）</p>
<p>蒼朮一兩，水三鍾煎至二鍾，去朮，入白朮、防風、白芍、羌活、人中黃各一錢，煎至一鍾溫服。（《秘方補遺》）</p>
<p><u>便秘脫肛</u>（因久痢所致者）</p>
<p>用蝸牛燒灰，豬脂和敷立縮。（《經驗良方》）</p>

<h2>腸風下血</h2>
<p>（方藥雖效，責在節欲戒酒，方可除根。附臟毒下血，大便脫肛）</p>
<p><u>腸風便血</u>（壯實者宜用）</p>
<p>槐角子五錢　黃連　枳殼　地榆　貫眾各三錢</p>
<p>水煎服。昔潘大司馬患此，孫文垣用此方治之，一服即止。因書其方於壁間，遇有便血者治之，無不立愈。</p>
<p><u>大腸瀉血</u>（虛盛兼宜）</p>
<p>發灰五錢　雞冠花　柏葉各一兩</p>
<p>為末。臥時酒服二錢，來早以溫酒投之，一服見效。（《普濟方》）</p>
<p><u>下血</u></p>
<p>隨四時方向，採側柏葉燒灰，研末，每日米飲下二錢。（《百一選方》）</p>
<p><u>腸風下血</u></p>
<p>豆腐末入袋濾出漿者，帶渣取來，鍋內炒燥，研末。每三錢，如下紫血塊者，白糖湯下；紅血塊者，砂糖湯下。雖遠年便血乖危者服之神效。每日用三次。（《秘方集驗》）</p>
<p><u>腸風</u></p>
<p>熟黃芩（炒黑四兩）　黑棗頭半斤（煮爛去皮核）</p>
<p>搗爛和芩末為丸，梧子大。早晚共服四錢，終劑即愈。（懷德堂自驗方）</p>
<p><u>臟毒下血</u></p>
<p>大黃（酒浸，九蒸九曬）二兩　槐花三兩　木耳三兩　郁李仁　皂角子　象牙屑　條芩　血餘灰　升麻　荊芥穗各五錢</p>
<p>共為末，煉蜜為丸，赤豆大，外以四物湯加蒲黃各一兩為衣。米湯送下，空心及下午各二錢，服完立愈。（《三吳醫案》）</p>
<p>昔有一人患臟毒，下血數年，自分必死。得一方，只以乾柿燒灰，飲服二錢遂愈。　又一通判，病此十年，服此方一服而愈。（《本草》）</p>
<p><u>大便脫肛</u>（多主氣虛）</p>
<p>人參　黃耆　川芎　當歸　升麻</p>
<p>水二碗煎八分，食前服。如血虛加芍藥、地黃；血熱加炒黃柏；虛寒加炒黑乾薑。外以五倍子末，托而上之。或用蓖麻子四十九粒，搗爛貼頂門上即收，收後即急洗去其藥。（《秘方集驗》）</p>

<h2>便血淋漓並小便閉塞</h2>
<p>（淋有虛弱不同，此專治壯實之症，虛者貴服補藥方效）</p>
<p><u>男婦血淋</u></p>
<p>酒瓶頭箸葉（三、五年者妙），每用七個，燒存性入麝香少許。陳米飲下，日三服。有人患此，二服即愈。（《百一選方》）</p>
<p><u>淋痛</u>（或血糞，或沙石脹痛）</p>
<p>川牛膝一兩，水煎服。　一婦患此十年，服效。（《直指》）</p>
<p>一用蜀葵花根洗、銼，煎五、六沸，服之如神。（《衛生寶鑑》）</p>
<p><u>熱淋如血</u></p>
<p>蠶紙燒灰，入麝香少許，水服二錢，極效方也。（《衛生家寶》）</p>
<p><u>尿血</u>（兼治肺疽吐血，或舌上出血，若鼻衄吹內立止）</p>
<p>茅草根、車前子湯，調發灰下效。（《赤水玄珠》）</p>
<p><u>男子便血</u></p>
<p>黑豆一升，炒黑研末，熱酒淋之，去渣飲，神效。（《活人心鏡》）</p>
<p><u>菟絲子丸</u>（治淋症）</p>
<p>菟絲子（酒蒸）五錢　澤瀉二錢五分　桑螵蛸（炙用）五錢</p>
<p>為末。蜜丸梧子大。每服二錢，空心米飲下。（《醫宗必讀》）</p>
<p><u>小便閉塞</u></p>
<p>田螺一枚，加鹽一撮，和殼生搗，或加大蒜一顆同搗，貼臍下一寸三分，用絹帛緊扎之，自通。　一用麥面和作圈，圈臍外，鯽魚一尾，連鱗腸搗爛入麝香三分，生蜜四兩，和勻填滿臍上圈內，以碗覆之，熟睡立通。　一用獨郎大蒜一枚，梔子七枚，鹽花少許，搗爛塗紙上貼臍，良久即通。未通塗陰囊上立效。</p>
<p><u>又熨法</u></p>
<p>蔥白三斤，切碎炒熟，絹包分兩袋，更替熨臍下。（單方俱載）</p>
<p><u>便閉垂死</u></p>
<p>桃枝　柳枝　木通　川椒　枯礬各一兩　蔥白七個　燈心一把</p>
<p>水三十碗煎半，用瓷罐熱盛一半，熏外腎周圍，以被圍繞不令外風得入，冷即易之。其效大奇。（《醫宗必讀》）</p>
<p><u>傷寒後便閉</u></p>
<p>生薑八、九塊，杵碎；水十餘碗，麻布五、六尺，同煎數沸，用桶盛、候可通手，以布頻熨小便良久；用紅豆末一錢，江茶二錢，井華水調服，小便如注。（《赤水玄珠》）</p>

<h2>霍亂吐瀉</h2>
<p>（附痧斑）</p>
<p>霍亂者，揮霍撩亂也。外感內傷，陰陽乖隔，以致上吐下利。偏陽多熱，偏陰多寒，卒然而成，危如風燭。得吐利者，名濕霍亂，輕蓋所傷之物盡出也。上不得吐，下不得利，所傷之物不得出，死甚速。須用鹽湯探吐，得出則寬，切莫與穀食，入口即死。直至飢甚，吐瀉過二、三時辰，方可與稀粥食之。</p>
<p><u>玉液散</u>（治伏暑吐瀉、便赤煩渴）</p>
<p>滑石四兩　藿香　丁香各一錢</p>
<p>為末，米湯下二錢。（《普濟方》）</p>
<p><u>傷暑霍亂吐瀉</u></p>
<p>豬苓　澤瀉各七分　赤茯苓　乾葛各一錢　花粉二錢　香薷　黃連　甘草　白朮各五分</p>
<p>泄極加升麻七分，黃芩、石膏各八分；熱極加石膏、知母各一錢；腹痛加芍藥（炒）五錢，肉桂三分，寒極亦然。姜三片煎服。（《秘方集驗》）</p>
<p><u>五更泄</u>（名腎泄，蓋陰感而然，脾惡濕，濕則濡而困，困則不能制水，水性下流，則腎水不足）</p>
<p>五味（去梗）二兩，吳茱萸五錢，同炒香為末。每服二錢，陳米飲下。（採醫書）</p>
<p><u>腹痛難忍</u></p>
<p>取白扁豆葉三十張，搗汁沖井水服。立驗。（《青浦徐氏抄本》）</p>
<p><u>中寒腹痛</u>（並絞腸痧）</p>
<p>胡椒七粒，以布一層包裹，不拘自己或他人嚼碎，納臍內，隨用膏藥貼上，再以熱手按之，蓋被而臥。少傾腹中作熱或有汗出，則寒氣散而痛自愈矣。（《秘方集驗》）</p>
<p>如遇痧腸，急將病人頭頂紅髮拔去，腿彎、指頭皆刺出血，將口抉開，喂白鴨腳花（開花時連根葉風乾包貯），三梔泡湯灌下，即活。（《救急良方》）</p>
<p><u>發斑不出</u></p>
<p>用白蠟燭點火，照視心胸腹背，隱隱紅斑不起，在於肌內，取山羊乳飲之，即起透而自痊矣。（經驗方）</p>

<h2>心氣痛</h2>
<p>心痛即胃脘痛，須分新久之殊。若明知身受寒氣，口食寒物，而病於初得時，當用溫散溫利之藥；若病稍久而成郁，鬱則蒸熱，熱久必生火，若行溫劑，寧無助火添病乎？此病雖日數多，不食不死。若痛方止便吃物，與病安之後又縱恣口，腹病再發，難治。</p>
<p><u>心痛神方</u></p>
<p>硃砂　木香各三錢　黃佔一兩</p>
<p>化開為丸如綠豆大。每服七丸，燒酒下，極痛時方服效。（《衛生備要》）</p>
<p><u>急心痛</u>（牙關緊閉欲死）</p>
<p>老蔥白五莖，去皮須搗膏，用匙送入咽喉中，灌以麻油四兩，但得下咽即蘇。少傾蟲積皆化黃水而下，神效。（《瑞竹堂方》）</p>
<p>一用　麻油一鍾，煎滾，衝入燒酒一小鐘，乘痛急飲。（《秘方集驗》）</p>
<p><u>蛔咬心痛</u></p>
<p>心頭痛急不能當，吾有仙人海上方，萹蓄醋煎通口咽，管叫時刻立安康。　一用烏梅三個，川椒十四粒，煎服愈。（《單方全集》）</p>
<p><u>心口痛</u></p>
<p>良薑（酒洗七次，焙研）、香附子（醋浸七次，焙研）。病因寒得，薑末二錢、附末一錢；因怒得，薑末一錢、附末二錢；寒怒兼有各錢半，米飲加薑汁並鹽服效。（《韓飛霞醫通書》）</p>
<p><u>胃脘疼痛</u></p>
<p>雄黃一錢（末）　烏梅三錢（肉）</p>
<p>為末，如豆大。俟胃口痛時，須酒服。輕者兩丸、重者三丸。（《集驗方》）</p>
<p><u>心氣痛</u></p>
<p>生芝麻半升，候痛時，不必看隨手取來，不拘多少，放銅鍋內炒黑為末，好酒送下。一服除根。（《秘方集驗》）</p>
<p><u>神仙九氣散</u></p>
<p>專治膈氣、寒熱氣、驚氣、怒氣、山嵐障氣、積聚堅牢、不能飲食，發則欲死。</p>
<p>香附　薑黃　甘草</p>
<p>等分為末。每服鹽湯下三錢。（當神方）</p>
<p><u>一切氣痛</u></p>
<p>天台烏藥（小者酒浸一夜炒）　茴香（炒）　青橘皮（去白炒）　良薑（炒）</p>
<p>各等分為末，溫酒、童便調下。（《衛生家寶》）</p>

<h2>一切諸痛</h2>
<p>（腰痛、脅痛、腹痛、積痛、項強、遍體痛）</p>
<p><u>腎虛腰痛</u>（一切皆治）</p>
<p>破故紙（酒浸炒）　杜仲（去皮，薑汁浸炒）各一斤　胡桃肉（去皮）二十個</p>
<p>為末。用蒜搗膏一兩，和丸梧子大。空心酒下二十丸。婦人淡醋湯下，常服壯筋活血，烏須美顏。（古方）</p>
<p><u>腰閃</u></p>
<p>枳殼　桔梗各八分　甘草　紅花各五分　杏仁（炒，去皮尖）　製半夏　木通　防風　烏藥各一錢　當歸一錢</p>
<p>水煎服。（《秘方集驗》）</p>
<p><u>諸閃</u></p>
<p>凡閃腰、打傷、閃肭，並手足損傷不出血，但有青紫內傷者。</p>
<p>先以蔥白搗爛炒熱，將痛處擦遍；隨用生大黃研末，薑汁調敷，儘量飲以好酒，即三月半年不愈者神驗。（《秘方集驗》）</p>
<p><u>脅痛</u></p>
<p>小茴一兩（炒）　枳殼五錢（皮炒）</p>
<p>為末。每服二錢，鹽湯下。神效。（經驗方）</p>
<p><u>脅痛</u>（紅及半身、甚發水泡者）</p>
<p>紅花五分　粉草二錢　大瓜蔞一個（重一、二兩，連皮搗爛）</p>
<p>一劑而愈。真神方也。（《醫旨緒餘》）</p>
<p><u>冷氣腹痛</u></p>
<p>艾葉同香附醋煮為丸，有奇效。（古方）</p>
<p><u>酒積作痛</u>（或瀉者）</p>
<p>白滑石三兩　粉草五錢　肉果五錢　白芍（酒炒）一兩五錢　木香三錢　紅曲四錢</p>
<p>神麯和丸，每早晚白湯送下二錢，自除。（《三吳醫案》）</p>
<p><u>項強筋急</u>（不可轉折，肝腎二臟受風也）</p>
<p>沒藥二兩　宣州木瓜三個（取蓋去瓤）　乳香二錢五分</p>
<p>同入木瓜內，縛定飯上蒸爛，研成膏。每用三錢，入生地汁半盞、無灰酒二盞化服愈。（《本事方》）</p>
<p><u>遍體作痛</u>（由氣血凝滯所致者，冷氣腰痛、四肢拘攣，俱用此方）</p>
<p>玄胡索　當歸　桂心各等分</p>
<p>為末。溫酒服三、四錢，隨量頻進，以醉為度遂痛止。蓋玄胡索能活血化氣第一品藥也。昔一人病此，痛不可忍，服此而效。趙侍制因導引失節，肢體拘攣，亦用此數服而愈。（醫書）</p>

<h2>痞積</h2>
<p>丹溪云：積聚癥瘕不一。積者，停蓄之總名也。宜以在中、在左、在右分治。凡塊乃有形之物，氣不能成形。痰與食積，死血而已。在中為痰飲；在右為食積；在左為死血。大法咸以軟之，堅以削之，行氣開痰為主。不拘何膏藥二張，以一張揭開，用白信末五分摻之（小兒二分），再以一張貼上，將背面貼患處，以布包好，數日化為水矣。治皮裡膜外者效尤速。如貼後腹中脹悶，乃痞積將散。服：</p>
<p>枳殼八分　大腹皮（鹽水洗）一錢　蘇梗八分　厚朴一錢二分　青皮一錢　莪朮八分　山楂一錢　烏藥六分　香附錢半　縮砂五分　廣木香三分</p>
<p>水煎，空心服，三、四劑自愈。或用生鵝血乘熱好酒泡滾，儘量沖服。隨症新久多寡，自消化無形，病深多服數次。或用松香四兩（雨水煎乾）、蓖麻子肉二兩（搗）、皮硝五錢，共搗為膏，攤布上，量痞大小攤貼，加麝香二釐，痞消膏自落。或用大紅風仙花十二朵、獨郎蒜一枚、雄黃二分，同搗。青布做膏，騎筋貼，少刻即去。一方用南星、獨郎蒜各一枚，雷丸半丸，麝香每歲一分，共搗敷。（《單方總集》）</p>
<p><u>神功助化散</u>（其藥夜服，大小便見惡物為度。此方神效不可俱述）</p>
<p>萹蓄　麥芽　瞿麥穗　甘草各五錢　沉香　神麯各二錢半　木香錢半　大黃二兩</p>
<p>男用淡竹葉、甘草煎湯，酒調下；女用紅花、燈心、當歸煎湯，酒調下。忌油膩、動氣之物及房事一月。神效。（《赤水玄珠》）</p>
<p><u>腹內龜病</u></p>
<p>詩云：人間龜病不堪言，肚裡生成硬如磚；自死殭蠶白馬尿，不過時刻軟如綿。（《普濟方》）</p>
<p><u>三聖膏</u>（貼痞積）</p>
<p>石灰十兩，細篩，炒細。用好醋熬成膏，入大黃末一兩，官桂五錢，攪勻，瓦器封貯，紙攤焙暖，貼患處。（《醫宗必讀》）</p>
<p><u>消痞</u></p>
<p>阿魏二錢　麝香一分　銀硃一錢　丁香五個　良薑二錢　蒜頭十枚　水紅花子不拘多少</p>
<p>先將阿魏一錢、大蒜、紅花子三味研作膏，余為末，入膏內，狗皮攤貼。（《衛生備要》）</p>
<p><u>萬金不易妙靈丹</u>（治男、婦好吃生米、茶葉、布頭、泥炭、瓦塊，並酒積、氣塊、心痛、肚痛、飽悶、小兒疳積，一服除根。妙！妙！）</p>
<p>甘草（春夏四錢，秋冬五錢）　大黃（春夏六錢，秋冬五錢）　黑醜一兩二錢（取豆末）　檳榔一兩二錢　雷丸五錢</p>
<p>共為細末，每服三錢，五更糖湯下，天明利下積物。（抄本）</p>
<p><u>貪食一切物</u>（如茶葉、壁泥、桴炭、石灰、生米之類）</p>
<p>芝麻一碟、雄黃三分，始服白湯下，三日後只吃炒芝麻，半月愈。　一用生榧子一斤，每日蘸砂糖吃數十粒，以盡為度。或兼史君子肉四、五枚，半生半熟同食更妙。（單方）</p>
<p><u>四寶丹</u></p>
<p>若食生米，用生米（麥芽炒）一斤，史君子肉二兩，檳榔、南星各一兩（薑汁製）；若吃茶葉，用茶葉一斤（炒）、史君子肉、檳榔、南星，照前；若吃黃泥，用壁土一斤火炒，余俱照前；若吃黑炭，用炭一斤，余俱照前。共末，蜜丸梧子大。每服五十丸，清晨砂糖水下，大效。（《萬病回春》）</p>
<p><u>諸蟲作痛</u>（口中清涎流出，湯飲不進，危在旦夕者）</p>
<p>烏梅、花椒、生薑，煎服。（經驗方）</p>
<p><u>追蟲取積散</u></p>
<p>檳榔二錢　陳皮八分　木香五分　黑醜頭二錢</p>
<p>共末研勻，每服五錢，小者三錢，用砂糖湯調下，五更服。行三、四次，以米湯補之。忌魚腥、油膩三、五日。（《醫方纂要》）</p>
<p><u>治蛔蟲方</u></p>
<p>用苦楝根刮去外粗皮，取內白皮二兩，以水三碗煮半，去渣，用晚粳米三合煮粥，空心先以炒肉一、二片吃，引蟲向上，然後進藥粥一、二口。少傾，又吃一、二口，漸加至一碗或二碗，其蟲盡下而愈。（《萬病回春》）</p>

<h2>黃疸</h2>
<p>（患此症者，忌食油、面、豬、魚、雞、鵝等物）</p>
<p>症有五者之分，終無濕熱之異。蓋濕熱積於脾胃之中，久而不散，故其土色形於面與肌膚也。</p>
<p><u>黃疸</u></p>
<p>地骨皮三兩　砂仁（炒）一兩　黑棗四兩（砂仁藏內）</p>
<p>用水二碗煎半，露一夜，五更熱服。深者三帖必效。</p>
<p>一法：用東引桃根一把，細如箸者，於清明早晨勿令雞犬、婦人見，切細；水一大升煎半，空心服。要時時飲清酒一盞，則眼中黃色易散，否則散遲。（徐之才家秘方）</p>
<p>一用　雞子三十六黃，一個連殼燒灰，醋一合，溫服，鼻中蟲出為效。（《外臺秘要》）</p>
<p><u>谷疸</u>（食已頭眩，心中拂鬱不安。飢飽所致，胃氣煎沖而黃）</p>
<p>苦參二兩（研）　龍膽草一兩（碎）　牛膽汁一兩</p>
<p>入蜜，丸如梧子大，每服五十丸，空心生薑甘草湯下。（《秘方集驗》）</p>
<p><u>酒疸</u>（身目俱黃，心中懊憹，足脛滿，尿赤面黃，赤斑。因醉後胃熱，身臥當風，水濕得之也）</p>
<p>梔子十五個　大黃一兩　淡豆豉一兩　枳實五個</p>
<p>水煎服。（醫書）</p>
<p><u>色疸</u>（額黑身黃，小腹滿急，小便不利。因房事後為水濕所搏而得之也）</p>
<p>硝石、礬石，各煅等分為末，大麥粥汁調服二錢，日進三服取汗。（《秘方集驗》）</p>
<p><u>陰瘧二疸</u>（肢冷自汗、泄利便清、脈沉遲者是陰黃；耳鳴口淡、怔忡微熱、四肢無力、嗜臥、脈沉細、寒熱泄白者是虛黃。皆以理中湯治之）</p>
<p>人參　白朮各三錢半　甘草（炙）　乾薑（炮）各一兩</p>
<p>空心煎服。</p>
<p><u>蔓荊散</u>（治陰黃汗染衣，涕唾黃）</p>
<p>蔓荊子為末，平旦以井華水服一匙，日再服二匙，以知為度。每夜小便中浸少許帛子，各書日記，色漸白則瘥。不過服五升而愈。（《醫宗必讀》）</p>
<p><u>黃汗</u>（汗如梔子染衣，因汗出入水澡浴所致）</p>
<p>黃耆　赤芍　茵陳各一兩　石膏四兩　豆豉　麥冬各一兩　甘草（炙）五錢</p>
<p>為末。每服五錢，淡薑湯食遠服自愈。（《秘方集驗》）</p>

<h2>頭痛諸症</h2>
<p>（附腦漏、鼻症）</p>
<p>頭乃諸陽之會，症非一端，大約宜分十二症治之。丹溪云：頭痛多主於痰，甚者火多。有可吐者、有可下者。又若眉眶痛者，屬風熱與痰。有肝虛而痛者，才見光明則眶痛，甚有眉稜骨痛者，眼不可開，晝靜夜劇，屬痰。頭風者，經云：首風之狀，頭面多汗，惡寒當先。風一日則病甚，頭痛不可以出內，至其風日，則其病稍愈。蓋其人素有痰火，風寒客入骨髓而然。婦人多患頭風者，以無巾幘御風寒也。有偏、有正、有熱、有風、有血虛。在左屬風與血虛，在右屬痰與熱。頭眩者，目花黑暗旋倒也。其狀頭眩目閉，身轉耳聾，如立舟車之上，起則欲倒，虛極乘寒得之。故風則有汗、寒則掣痛、暑則煩悶、濕則重滯，此四氣乘虛而眩暈也。或七情鬱而生痰動火，隨氣上厥，此七情致虛而眩暈也。酒色過度，腎虛不能納氣歸元，使氣逆奔而上，此氣虛眩暈也。吐、衄、崩漏，或產後失血，脾虛不能收攝營氣，使諸血失道妄行，此血虛眩暈也。</p>
<p><u>都梁丸</u>（昔王定國病頭風至都梁，求名醫楊介治之，連進三丸，即時病去，因求其方）</p>
<p>用香白芷一味，洗酒為末，蜜丸如彈子大。茶清或荊芥湯化下。一用明天麻一兩，大白芷三兩，為末，蜜丸。每重二錢，用一丸。先將荊芥半錢，細辛一錢煎湯，細嚼藥丸下，甚者不過一丸。（《百一選方》）</p>
<p><u>偏正頭風塗藥</u></p>
<p>紫荊皮（炒）五兩　獨活（去節炒）三兩　白芷　菖蒲各一兩</p>
<p>蔥頭煎濃湯調敷，藥到立止，如神。（《赤水玄珠》）</p>
<p><u>熏頭風</u></p>
<p>天南星一個，艾五錢熏之。（抄本）</p>
<p><u>寒熱頭風</u></p>
<p>童便一盞，入蔥頭煎服。〈陶隱君屢試方〉</p>
<p><u>血虛頭風</u></p>
<p>赤白首烏各五錢　川芎　紫蘇　細辛　白芍　藁本各五錢　甘草一錢</p>
<p>煎服。（《懷德堂錄》）</p>
<p><u>頭風乃風寒濕痛</u></p>
<p>採單瓣白鳳仙花一瓶，燒酒浸滿蒸熟去火性，隨量飲，出汗為妙。（《單方全集》）</p>
<p><u>腦漏</u></p>
<p>雄豬膽一個，熬稠如蜜，藿香一兩，攪勻為丸，每服二錢，白湯下。單用藿香末吹鼻亦妙。　一用辛夷二錢，羌活、獨活、防風、藁本、細辛各五分，真艾一兩，將前藥為末，摻艾內卷作條，點火熏鼻即愈。（醫家抄錄）</p>
<p><u>腦漏流濃</u></p>
<p>用破瓢、白雞冠花、白螄殼等分燒灰，加血竭、麝香各五分，好酒灑濕，熟艾連藥作餅，貼頂門熨斗熨，愈為度。（單方）</p>
<p><u>鼻淵</u>（即腦漏。因風寒凝入腦戶，與太陽濕熱交蒸乃成。其患鼻流清涕或流黃水，點點滴滴，長濕無干）</p>
<p>白芷一兩　蒼耳子（炒）　辛夷仁各二錢五分　薄荷五錢</p>
<p>為末，蔥、茶清調服。（《秘方集驗》）</p>
<p><u>又方</u></p>
<p>秦艽　酒芩　桑皮　馬兜鈴各八分　白芍一錢　滑石　石膏各二錢　枳殼　蔓荊各五分　甘草三分服四、五劑即愈。（《新都治驗》）</p>
<p><u>鼻痔</u></p>
<p>瓜蒂（炒）　甘遂（炒）各四錢　枯礬五分　松香五分（為衣）</p>
<p>香油調硬此，每用一丸，入鼻內點痔，化為臭水，一日一次，自爛下。（集驗方）</p>
<p><u>酒渣鼻</u>（血熱入肺而然）</p>
<p>當歸、苦參各四兩，末和勻，酒糊為丸桐子大。食後熱茶吞八十丸，藥盡即愈。（《秘方集驗》）</p>
<p><u>鼻中息肉</u></p>
<p>藜蘆三分，雄黃一分，蜜和，日點三次。勿點兩畔。（《聖濟方》）</p>
<p><u>赤鼻</u></p>
<p>硫黃、皮硝等分，研如面，臨臥擦，一月全愈。（古方）</p>
<p><u>鼻塞</u></p>
<p>蓖麻子三百粒，大棗一斤，搗勻，棉裹塞，日易。一月全愈。（《聖濟方》）</p>

<h2>目疾</h2>
<p><u>目疾總論</u></p>
<p>其症七十二種，治之應究其源。大約紅為熱、白為冷、癢為風、澀為毒氣之作也。風則散之、熱則清涼之、冷則溫補之、氣結則調順之。切不可用刀針點割，偶得其愈，出乎僥倖，倘或不然，終身之患。又不宜過用涼藥，恐冰其血，凝而不流，亦成痼疾。當量人老少、氣體虛實用藥。又有腎虛者，亦令眼目無光，或生冷翳，補暖下元，益其腎水自愈。治北方人與南方異。北方之人患眼最多，皆因日冒風沙，夜眠火炕，二氣交蒸，治之多用涼藥。北方人稟受原與南方人不同也。治婦人又與男子異，蓋其間有傷胎墜產之藥，自當除去。須以當歸為主，可以活血。其餘之藥，對症而發。小兒患眼又與大人異，不過胎毒。受孕之時過食熱物而然，雖過百日、一周亦是胎毒。至一、二歲間患眼者，此是好食煎炒五辛之熱物，使五臟受毒，攻衝而後發也。至如孩童之患眼，有實無虛、多熱無冷。若遇患眼之稚子，切不可以藥吹點之，恐血氣未定，致傷其目。只可以敗毒散治之。如痘疹之後，毒氣鬱結於心肝二經，氣不能泄，攻發於眼目，傷瞳仁者，則又素無治法也。</p>
<p><u>目疾通治</u></p>
<p>荊芥　羌活　甘草　甘菊　防風　藁本　黃芩　當歸　山梔　赤芍　白芷　乳香　沒藥各一錢　全蠍三個</p>
<p>水二碗煎一碗，空心服。凡目疾初起即至十餘日，急服二、三劑無不立愈。如意為增減多不驗。（《秘方集驗》）</p>
<p><u>眼中起星</u></p>
<p>取荸薺捶碎，將水灑紙上成粉，候乾刮取點患處。（古方）</p>
<p>洗眼奇方（張道人從道藏內檢採，普濟十方，不論瞽目犯土，雲霧風眼，火眼昏花，久洗自明）</p>
<p>用皮硝六錢，桑白皮（生）一兩，白水煎。每遇日期，熱洗數十次。</p>
<p>正月初五　二月初二　三月初三　四月初九　五月初五　六月初四　七月初三　八月初十　九月十二　十月十二　十一月初四　十二月初四　閏月照本月</p>
<p>以上吉星日子，乃通光明也。其方千金不易，屢試屢驗。出（《道藏》）</p>
<p><u>羊肝丸</u>（治男女肝經不足，風熱上攻頭目，昏暗羞明及障翳、青盲等症。）</p>
<p>黃連一兩（末）　羊子肝一具（去膜）</p>
<p>擂爛同連末為丸，梧子大。每食後暖漿水吞十四丸，連作五劑瘥。昔崔承元活一死囚，囚後病死。崔患內障逾年，半夜獨坐，耳階除蟋蟀之聲，問之。答曰：「是昔蒙活之囚，今特報恩」。遂告此方。崔服之，不數日，眼復明。（劉禹錫傳信方）</p>
<p><u>眼目障翳</u></p>
<p>好焰硝一兩（銅器熔化）　黃丹（飛）　片腦各二分</p>
<p>銅匙急炒，入罐內收之。每點少許，其效如神。　克州朱秀才忽不見物，朝夕禮天，夢神傳此方。（張三丰仙方）</p>
<p><u>眼藥</u>（京師方好眼藥，能治七十二眼疾）</p>
<p>冰片、熊膽各一分，潔淨加工研極細。清晨點上如觀星，若還低頭藥不靈。十年瞽目無所見，一點重開顯光明。（《孫真人海上歌》）</p>
<p><u>七十二種眼疾</u></p>
<p>羊膽一枚割開，入蜂蜜一錢，線軋緊，兩手揉勻，白水煮一滾即取出，涼水浸半日，傾出內汁，點之。（《秘方集驗》）</p>
<p><u>明目散</u></p>
<p>薄荷甘草共天麻，荊芥防風甘菊花，當歸連翹枸杞子，川芎白芷密蒙花。</p>
<p>等分各研為細末，每服三錢，只用茶。勸君每日進一服，瞳仁咫尺見天涯。（《萬病回春》）</p>
<p><u>昏花</u></p>
<p>用童便煎菊花；洗數次即愈。（《願濟堂刊施》）</p>
<p><u>取下翳膜</u></p>
<p>蕤仁二兩，去油，入硼砂一錢，麝香二分，研勻收之。去翳膜妙不可言。（《本草》）</p>
<p><u>赤腫</u></p>
<p>胡黃連浸人乳點之；小兒則塗足心。（古方）</p>
<p><u>暴發腫痛</u></p>
<p>先將青布一塊，水浸洗令乾。另用生薑汁、白礬末將布蘸搽眼胞上，閉目少傾，淚出痛止。（《秘方集驗》）</p>
<p><u>明目補腎</u>（兼治筋骨疼痛）</p>
<p>小紅棗十二個（冷水洗淨，去蒂）　甘州枸杞子三錢　小馬料豆四錢</p>
<p>水二碗煎半。早晨空心連湯共食之。若專明目，枸杞子三錢，菊花七朵去蒂，每早白湯下。久服，青盲可以復明。（《秘方集驗》）</p>
<p><u>青盲</u></p>
<p>雄鼠膽（鼠膽最小，略驚惶便碎矣）　鯉魚膽各二枚，和勻滴之，立效。（《聖惠方》）</p>
<p><u>肝虛雀目</u></p>
<p>黃蠟不拘多少，溶汁取出，入蛤粉相和得所，每用刀切下二錢，以豬肝二兩，剖開摻藥在內，麻繩扎定，水一碗，入銚子內煮熟熏眼。至溫，並肝食之。日二，以平安為度，效。（《集驗方》）</p>
<p><u>小兒雀目</u></p>
<p>羯羊肝一具，不用洗，竹刀剖開，入穀精草一撮，瓦罐煮熟，日食之，屢驗。忌鐵器。（《衛生家寶》）</p>
<p><u>天絲入目</u></p>
<p>石菖蒲捶碎。左目塞右鼻，右目塞左鼻，百發百中。或用木梳垢為小丸，放眼角邊，即出。（《危氏得效方》）</p>
<p><u>煙渣入目</u></p>
<p>小兒及好吃煙者誤犯。如將別湯洗目，愈洗愈疼，必至眼瞎而後止。須用亂頭髮或綜纓緩緩揉之即愈。（抄本）</p>
<p><u>沙塵入目</u></p>
<p>取活蜣螂一枚，持其斧於眼上影之，即出。（徐氏抄錄）</p>
<p><u>麥芒入目</u></p>
<p>煮大麥汁洗之，即出。（《單方全集》）</p>
<p><u>打傷眼睛</u>（如突出，急揉進）</p>
<p>用生豬肉一片，將當歸、赤石脂末摻肉上貼之，去毒血愈。（《單方集驗》）</p>

<h2>耳疾</h2>
<p><u>耳聾</u></p>
<p>一豆三斑不去油，麝香冰片共同投；蔥蜜為丸麥子大，絮棉包裹耳口留；三日之後黃水出，不痛不癢不須憂；若是此方無應驗，罰做人間馬與牛。　一用上好新鐵片三塊咬口內，用好瓷石塞兩耳靜坐，其耳忽鳴而通。有頃刻通者，有坐數日通者。（《秘方集驗》）</p>
<p><u>蝸牛膏</u>（滴耳聾閉）</p>
<p>蝸牛一兩　石膽　鍾乳粉各二錢半　甕盒盛末，火煅赤，入片腦子一字，每以油調一字滴耳中，無不愈者。（《聖惠方》）</p>
<p><u>耳後銳毒</u>（危症也，宜急治，男女小兒俱效）</p>
<p>大天南星（丙火存性）為末，醋塗，三次即愈。　一用大黃一兩，青末香三錢，薑黃、檳榔各三錢，共末，蜜調貼，中留一孔，效。　昔一人右耳後生一毒，腫痛寒熱。生生子用金銀花、歸尾、赤芍、連翹、殭蠶、牛蒡子、元參，兩劑而愈。（《新都醫案》）</p>
<p><u>治耳虛鳴</u></p>
<p>麝香少許　全蠍十四個　薄荷十四葉（裹麝、蠍，瓦上焙乾）</p>
<p>研末，滴水捏作錠子塞耳內，極效。一用巴豆、菖蒲同研，松脂、黃占和條，納耳中抽之，神效。（《綱目》）</p>
<p><u>耳忽大痛</u>（如蟲走，或流血或干痛）</p>
<p>蛇蛻燒灰，吹入立止。秘方也。（《醫書摘要》）</p>
<p><u>千金不換停耳丹</u>（耳膿不幹）</p>
<p>水龍骨一錢　硼砂五分</p>
<p>為末吹入耳門，上用綿塞之，二服斷除。（《秘方彙纂》）</p>
<p><u>百蟲入耳</u></p>
<p>膽礬和醋，灌入即出。　鱔頭燒研，綿裹塞之亦出。（李時珍方）</p>
<p><u>壁蝨入耳</u></p>
<p>稻稈灰煎汁，灌入即死，垂水而去。（江湖紀聞）</p>
<p><u>耳痹</u></p>
<p>龍骨　麝香　輕粉　枯礬</p>
<p>等末，吹入耳即愈。（抄本）</p>

<h2>牙痛牙疳</h2>
<p>（附烏須固齒方）</p>
<p>牙疼者，乃屬陽明胃經也。風熱上侵則有所感而舉之，有熱有寒，有蟲有濕熱，皆能作痛。</p>
<p>牙疼症，甚事多，沒有效方怎奈何？　蟾酥麝香五靈脂，每味一分研作末。　千金一笑散，用一分，絹片包上，線紮緊。咬在患處低著頭，五般牙痛包除根。（《海上仙方》）</p>
<p>一用　粗碗一隻，川椒鋪底，樟腦蓋面，覆碗一個，鹽泥封固，慢火煅一夜，次早研細。每用一釐擦牙根，立愈。（《秘方集驗》）</p>
<p>一用五倍子一枚，稍開一孔，用鹽填滿，炭火中燒紅存性，略出火氣，研末。以指擦牙，漱津片時吐出，數次即止。（《單方全集》）</p>
<p><u>取痛齒法</u></p>
<p>白馬尾燒灰存性，點上即落。但不可輕點，恐好齒沾著亦落。　一用白龍骨三錢，末。臨用大蒜一郎搗爛，入末一、二分，拌勻貼痛處，半支香時即下。（馬岐山方）</p>
<p><u>走馬牙疳</u></p>
<p>五倍子　青黛　枯礬等分為末，先以鹽水漱淨，摻之立效。　一用銅青、滑石、杏仁等分為末，擦之即愈。（邵真人方）</p>
<p><u>牙蝕透骨穿腮</u></p>
<p>生南星一個，剜空入雄黃一塊，麵裹燒，候雄黃作汁，以杯合定出火毒，去面為末，入麝香少許，拂瘡數日甚效。（經驗方）</p>
<p><u>齒血</u></p>
<p>三製大黃末二錢，用枳殼湯加童便調下即止。（《醫旨諸餘》）</p>
<p><u>固齒烏須</u></p>
<p>豬牙皂角及生薑，西國升麻與大黃；水津旱蓮槐角子，細辛荷蒂用相當；青鹽等分同燒煅，研細將來用最良；牢牙固齒烏須鬢，誰知世上有仙方。若去白鬚，用雞舌香（雄為丁香，雌為雞舌），薑汁塗，拔去白鬚即生黑者，奇效。</p>

<h2>咽喉諸證</h2>
<p>（附口舌諸症）</p>
<p>咽喉腫痛者，或喉痛生瘡者，或閉塞者，或紅腫結核脹痛者，或喉閉不能言語，俱是風熱痰火，用清涼散加減。或喉閉急症，急刺少商穴，在大指甲外側，用三稜針放出毒血，並豁吐痰涎為要。</p>
<p><u>喉閉</u>（先兩日，胸膈氣緊，出氣短促，驀然喉痛，手足厥冷，氣閉，命懸頃刻）</p>
<p>速用雞毛或鵝翎蘸桐油喉間攪探，吐痰立開。或用山豆根銜汁咽之亦開。切忌牛黃，入口不救。</p>
<p>如無藥如有藥不進者，急將兩臂以手勒數十次，取油發繩扎大拇指，以針刺指甲邊（即少商穴），血滴下，其喉即解。男左女右，重者兩手齊針。（《單方全集》）</p>
<p><u>急鎖喉風</u>（兼治單蛾、雙蛾）</p>
<p>用升麻四兩銼碎，水四碗煎一碗，灌服。或用皂莢捶碎，擂水灌服即吐，即不吐亦安。或不用此方，將巴豆去殼，綿紙微裹，隨左右塞鼻孔中，立通；或白礬三錢，慢火熬化，入巴豆肉二粒，研爛候乾，去巴豆，取礬研末，用少許入喉中，取頑痰出，立愈。　一用膽礬一塊，含口中，其痰涎自壅上，吐盡即愈。（《單方總集》）</p>
<p><u>急喉痹</u>（其聲如鼾，有如痰在喉中響者，此為肺絕之候）</p>
<p>速宜人參膏救之。用竹茹、薑汁調下。獨參湯亦可。若服之早者，十全七、八；次則十全三、四；遲則十不救一也。（《赤水玄珠》）</p>
<p><u>纏喉風</u>（纏喉風者，熱結於喉，腫繞於外，且麻且癢也）</p>
<p>用牽牛鼻繩燒灰吹之，甚效。（李時珍方）</p>
<p>一用　淡白梅一個，去核，將蜒蚰一條嵌在梅內，含之即瘥。　一用白殭蠶二錢研細，生薑自然汁少許，和水灌下，立愈。一用萬年青根頭切碎，打爛絞汁灌下，吐出痰即好。倘口閉，用牙刷掘開灌下。如不吐，再用發稍進喉間，吐出即愈。（經驗方）</p>
<p><u>雙蛾</u>（單蛾者，其形圓如筋頭，生於咽喉關上，或左或右。雙蛾則兩邊俱生也。若生於嚥下，為難治）</p>
<p>壁上蜘蛛白窠，用患人腦後發一根纏定蜘蛛窠，將銀簪刺在燈上燒之，存性為末。吹喉立效。（各部俱載）</p>
<p><u>喉癬</u></p>
<p>頭胎黃牛屎，以新瓦洗淨蓋屎，周圍用文武火煅煙盡，存性取出研末。將蘆管徐徐吸入自愈。　一方冰片、牛黃各一分，膽礬三分，大硼砂八分，山豆根二錢，雄黃、兒茶各八分，陳白梅去核三個，共研末。次將白梅搗爛，入藥和勻，丸如龍眼大。臨臥含口內，過夜即消。（《秘方集驗》）</p>
<p><u>閉塞不通</u></p>
<p>臘月初一日，取豬膽不拘大小五、六枚，用黃連、青黛、薄荷、殭蠶、白礬、朴硝各五錢，裝入膽內，青紙包好，將地掘一小孔，方深一尺，以竹橫懸此膽在內，以物蓋定，候至立春日取出，待風吹去膽皮青紙，研末蜜收。痛吹少許，神驗。此萬金不傳之方（邵真人經驗方）</p>
<p><u>百靈丸</u>（治喉中結塊，不通水食者）</p>
<p>百草霜蜜和丸，芡子大。水化一丸灌下。甚者不過二丸。（《簡便方》）</p>
<p><u>吹喉藥</u></p>
<p>硼砂二錢半　雄黃三錢　兒茶一錢　冰片三分　薄荷三兩（另研極細末）</p>
<p>共研細末，和入薄荷末研勻。貯罐不可泄氣。用蘆管吹入少許，或用茶匙挑入舌上，噙一會嚥下，日八、九次。若鎖喉風，口內乾枯者，以井水調灌，即能開關生津；若脾泄胃弱者，不宜多用。余無禁忌。（《秘方集驗》）</p>
<p><u>喉爛</u></p>
<p>槐花三錢　牛膝　兒茶　黃連各一錢</p>
<p>共末。夏天西瓜水服；冬天生梨汁服。丸如綠豆大，每服三丸。（《秘方錄》）</p>
<p><u>咽喉懸癰</u>（舌腫塞痛）</p>
<p>五倍子　殭蠶　甘草</p>
<p>等分為末，以白梅去核，搗丸如彈子大。噙噬，其癰自破。（《外科秘寶》）</p>
<p><u>咽生息肉</u></p>
<p>先刺出血，豆豉同鹽塗之，神效。（單方）</p>
<p><u>咽喉諸藥不效</u></p>
<p>丹溪云：「此非喉症，乃是鼻中生一條紅線如發，懸一黑泡，大如櫻珠，懸掛到咽門而止。口中飲食不入」。用土牛膝根（獨條肥大者）搗碎，入好醋三、五滴，同打細，滴入鼻中二、三點，即系斷珠破，吐出瘀血立安。（《赤水玄珠》）</p>
<p><u>骨硬喉歌</u></p>
<p>縮砂草果威靈仙，清水砂糖共配煎。接連服下二三碗，諸般骨硬化為涎。（古仙方）</p>
<p><u>口疳</u></p>
<p>紅棗十枚（燒存性）　梅花冰片二分</p>
<p>吹患處，立愈。一用縮砂殼煅研，擦之即愈。一用雞肫黃皮燒灰敷，亦立效。（《活幼新書》）</p>
<p><u>口唇燥裂</u></p>
<p>用橄欖泡湯服。核中仁研爛敷患處。或胭脂敷，立效。</p>
<p><u>口破</u>（兼治牙疳、鵝口）</p>
<p>口破俱禁水漱。滑石一錢、辰砂三錢、冰片二分，研末摻患處。（《集驗方》）</p>
<p><u>重舌涎出</u>（水漿不入）</p>
<p>玄精石二兩　牛黃　硃砂　龍腦各一分</p>
<p>為末。以針刺舌上，去血，鹽湯漱。摻末咽津，效驗如神。（《聖惠方》）</p>
<p><u>木舌</u>（口舌俱硬，有衣不能開）</p>
<p>薄荷、細茶共煎，露一夜，青絹裹箸上，蘸藥徐徐抹上，愈。（《秘方錄》）</p>
<p><u>重舌、木舌、紫舌</u>（大人、小人皆由心火結成）</p>
<p>黃連　山梔　荊芥　黃芩　連翹　木通　薄荷各一錢　牛蒡一錢　甘草五分</p>
<p>燈心煎服。</p>
<p><u>舌腫滿口</u></p>
<p>單用蒲黃末摻之，愈。（《青浦徐氏抄本》）</p>

<h2>癭瘤</h2>
<p>癭多著於肩頂，瘤則隨氣凝結，此等年數遠侵大侵長。堅硬不可移者，名曰石癭；皮色不變者，名曰肉癭；筋脈露結者，名曰筋癭；赤脈交結者，名曰血癭；隨憂愁消長者，名曰氣癭。五癭皆不可決破，決破則濃血崩潰多致夭枉，難治。瘤有六種：骨瘤、脂瘤、肉瘤、膿瘤、血瘤、筋瘤，亦不可決破，決破則亦難治。肉瘤尤不可治，治則殺人。唯脂瘤去其脂粉則愈。</p>
<p><u>贅癭焦法</u></p>
<p>甘草煎膏，筆妝瘤之四圍，上三次，乃用芫花、大戟、甘遂等分為末，醋調，別以筆妝其中，勿近甘草，次日縮小，又以甘草妝小暈三次，如前仍上，此自然焦縮（《危氏得效方》）</p>
<p><u>腋下癭瘤</u></p>
<p>用長柄茶壺蘆燒灰，研末擦之，出水消盡而愈。（《瀕湖集驗》）</p>
<p><u>癭疾</u></p>
<p>萬州黃藥子半斤（須除重者，如虛輕即是他州出，力慢加倍），取好酒一斗，入藥封瓶口以糠火煨，一周時，待酒冷，時時飲一杯，不令絕酒氣。三、五日後常把鏡自照，覺消即停飲勿服，其效如神。燒酒時，聞香氣外出，瓶口有津即止，火不可太猛。（《千金月令方》）</p>
<p><u>點癭</u></p>
<p>桑炭灰　棗木灰　黃荊灰　桐殼灰各二升半　蕎麥灰（炒）</p>
<p>上以沸湯淋汁五碗許，入斑蝥四十個，穿山甲五片，乳香、冰片不拘多少，後入，煎作二碗，以磁器盛之，臨用時入新石灰調膏敷，干則清水潤之，神效。（《赤水玄珠》）</p>

<h2>疝氣</h2>
<p>（附便毒）</p>
<p>（凡患疝氣者，楊梅不可與燒酒同食，食則即時舉發，無不解救）</p>
<p>七疝症各不同，治亦有別。如寒疝：囊冷、結硬如石、陰莖不舉或控睪丸痛，得於坐臥濕地、涉水，以去濕之劑下之；水疝：囊腫如水晶，陰汗、癢搔出黃水，或小腹按之作聲，得於醉酒行房，汗出遇風，寒濕結囊中，以逐水之劑下之；筋疝：陰莖腫脹，或潰或濃或痛，裡急筋縮，或莖痛。痛極則癢，或挺出不收，白物如精、隨溺出，得於房中邪術所使，宜降心火之劑下之；血疝：狀如黃瓜，在小腹兩旁，橫骨兩端，俗名便癰，得於重感春夏大燠，勞於使內，其氣流溢，滲入脬囊，結為癰腫，以和血藥下之；氣疝：上連腎區，下及陰囊，或號哭忿怒氣鬱而脹，以散氣藥下之；狐疝：狀如瓦，臥則入腹，行則出，上下無定，如狐之惑也，故名之，以逐氣流經之劑下之；㿗疝：陰囊腫大如升斗，不癢不痛，因受濕氣而生，宜去濕之劑下之。</p>
<p>疝氣者，疝本肝經，宜通勿塞，絕與腎經無干。或無形無聲，或有形如瓜，有聲似蛙，是疝病也。治初，濕熱在經郁久，後感寒氣外束不得疏散，所以作痛，不可執作寒論。須用寒熱相兼，用神效湯加減。川烏以散寒氣，山梔以清濕熱，皆是下焦主藥，其效甚速。</p>
<p><u>木疝</u>（即木腎）</p>
<p>凡人心火下降，則腎水不患其不溫；真陽下行，則腎水不患其不和。溫且和，安有所謂木強者哉？木強則傷腎矣！故不可純用燥藥，當行溫、和、散、利，以逐其邪，則邪自消，榮衛流轉則愈，宜服枸杞丸：</p>
<p>枸杞　昆布　吳茱萸各四兩　南星　半夏　白芷　楂肉　炒神麯各三兩　滑石（炒）　蒼朮（鹽炒）　黃柏（酒炒）各三兩</p>
<p>為末，酒和丸如梧子大。每服七十丸，空心鹽湯下。（《秘方集驗》）</p>
<p><u>二層茴香丸</u>（治一切疝如神。㿗疝尤為要藥）</p>
<p>第一料：大茴香拌鹽五錢，炒和鹽稱，沙參、川楝子（去核炒）、木香各一兩，上為末，水煮米糊為丸，梧子大，每服二錢，空心鹽湯下，日三服。才完便接第二料，照前方加蓽茇一兩，檳榔五錢為丸服。若未愈，服第三料，照前二方加白茯苓四兩，附子（制）一兩，和丸服，但每服三錢。雖三十年之久大如栲栳者，皆可除根。（《醫宗必讀》）</p>
<p><u>治疝仙方</u></p>
<p>小茴　大茴各一兩（末）　豬尿胞一具</p>
<p>入藥紮緊，砂罐內酒煮爛，連胞搗丸，梧子大。白湯下五十丸。（《筆峰雜興》）</p>
<p><u>血疝便毒已未成，</u>（即時散）</p>
<p>斑蝥三個（去足）　滑石三錢</p>
<p>分三服，空心下。一服毒從小便出。如痛，用車前、木通、澤瀉、豬苓煎服。（東垣方）</p>
<p><u>斑白散</u>（治便毒）</p>
<p>斑蝥（炒）一錢　白芷八分</p>
<p>為末，每服六分，空心酒下，即時見效。　一用大蝦蟆一個，剝皮連腸搗爛，入蔥五根再搗敷，卻用皮覆貼其上。一方：乳香、沒藥各錢半，姜蠶二錢，全蠍（洗淨）三錢，蜈蚣八錢，斑蝥（去羽足）、甲皮（炒）、巴豆（去油）各四錢，共末。重者酒服一錢，輕者六分。二次即效。</p>
<p><u>廣瘡魚口橫痃</u></p>
<p>土茯苓（米泔水洗，捶碎。忌鐵器。白者佳，紅者能殺人）、粉霜、以硝、皂礬、明礬、水銀各二錢，銀罐合好，鹽泥封固放爐內，文武火升之。一症只用六釐，黃米飲為丸，切作七服，每服或三粒、五粒，雄黃為衣，空心酒下。忌房事、一切毒物，大小便不可令人聞。（《秘方集驗》）</p>

<h2>下疳及腎囊風、囊癰諸證</h2>
<p>（附橫痃）</p>
<p><u>下疳</u>（玉莖生瘡謂之下疳）</p>
<p>爐甘石　乳香　血竭　黃連各一錢　輕粉五分　冰片一分</p>
<p>共末。米泔水洗淨，抹上立效。一用蝸牛（焙乾研末）、枯礬各一錢，濕則乾摻，干則以香油調塗，立愈。（抄本）</p>
<p><u>歷驗神方</u>（治疳瘡、蛀梗瘡）</p>
<p>二蠶繭（出過蛾者，燒灰存性）　枯礬五分　輕粉二錢　兒茶一錢　五倍子一大個　紅絹（方圓三寸一塊，燒灰）</p>
<p>共末，酸漿水、蔥白、川椒煎湯洗搽，神效無敵。　一用銀珠（水飛）一錢，輕粉五分，兒茶一錢，老茶葉三分，黃柏灰三分，黃蠍二錢，溶化入前藥為丸，作二十丸。好酒空心下，其效無比。（《靈秘丹藥》）</p>
<p><u>下疳陰瘡</u></p>
<p>爐甘石（火煅、酸淬五次）一兩，兒茶三錢，為末，麻油調敷。（邵真人方）</p>
<p><u>腎囊風</u>（癢痛，有黃水不幹者）</p>
<p>蚯蚓泥同真粉停對，井水調敷，干為妙，永不再發。若癢不可忍，用大葉楊柳葉一握，煎水乘熱熏洗，後以蚯蚓屎焙乾燥，研末摻之，三、四次即愈。　一用牆頭上醬板豆草（或鮮或收干），煎湯洗，愈。　繡球花煎洗尤妙。（姚伯玉方）</p>
<p><u>陰球開花</u></p>
<p>狗脊七隻，煎湯入罐內，將陰球掛罐口，離湯一、二寸，俟熱氣熏上。湯將溫時，傾盆內洗球。如此三日，全愈。（《單方集驗》）</p>
<p><u>囊癰</u></p>
<p>栝蔞五錢　甘草節　金銀花各五錢　連翹　柴胡　青皮各七分</p>
<p>水煎服，愈。（《新都醫案》）</p>
<p><u>囊癰潰後摻藥</u></p>
<p>蚌殼、黃連、青黛各等分，研細敷之。（《秘方集驗》）</p>
<p><u>橫痃</u></p>
<p>青殼雞蛋一個，蒺藜一合，好酒煮蛋去殼，再煎服立愈。（長興莫氏傳）</p>

<h2>瘋斑</h2>
<p><u>大麻風</u></p>
<p>老蝦蟆一個　白砒三錢　銅綠二錢　人中白二錢</p>
<p>研末，裝入蟆口內，線縫好，外以泥包裹火煅，煙盡為度。取起去泥約有五錢，隨輕重配苦參、瓦松各一兩，神麯打糊為丸，如梧子大。每服五分，滾水或麻黃湯或酒下皆可。眉毛先落，肝經受病，加石決明；先損眼目，心經受病，加梔子；面起紫泡，肺經受病，加葶藶；遍身如癬，脾經受病，加白朮；腳底先破穿，腎經受病，加破故紙。　五死飲：脾死，麻木不仁，蒼朮湯下；血死，潰爛生膿，生地湯下；肉死，切割不痛，苦參湯下；筋死，手足婪落，續繼湯下；腎死，腳下有孔，薏苡牛膝湯下。（《秘方集驗》）</p>
<p><u>洗藥</u>（每日洗一次）</p>
<p>桑皮　大黃　芒硝各一撮</p>
<p>水煎，無風處洗。如有蟲，加鴿屎同煎。如爛，用琥珀末搽患處。此方神驗，千金不易。（秘錄）</p>
<p><u>凌霄散</u>（治厲風神效）</p>
<p>蟬蛻　地龍（去土，焙）　白殭蠶　全蠍各七個　凌霄花五錢</p>
<p>共末。每服二錢，酒調下。不時沐浴，每浴坐湯中浸一時。久服藥神效。（《赤水玄珠》）</p>
<p><u>白癜風</u></p>
<p>詩云：白癜紫癜一般風，附子硫黃最有功，薑汁調勻茄蒂擦，但患癢處並無蹤。</p>
<p>上將粗布擦洗患處令淨，以茄蒂蘸藥擦之。白癜用白茄，紫癜用紫茄。（《醫方纂要》）</p>
<p><u>紫雲風</u></p>
<p>甘草一兩　川烏（薑汁炒）　草烏（黑豆炒，豆熟去豆用）　防己各五錢　牛膝七錢（炒乾）　羌活（上部用）　獨活（下部用）　川芎　白芷　馬兜鈴（炒）各四錢</p>
<p>共末。每服七分，好酒下。外用蛇床子、夏枯草煎湯洗數次，風塊即退。（《集驗方》）</p>
<p><u>鵝掌風</u></p>
<p>槐皮　大麥　花椒　地骨皮　艾葉　鴿屎　白芷</p>
<p>煎湯先熏後洗，每日數次愈。當用豬蹄湯洗，先以滾水洗手，浸皮如白浮色，石柏枝煅燒為末，用滴滷調藥半酒盞，如糊搽之愈。　雄黃同穿山甲，火燒熏之，數次自愈，乃呂祖法也。（《集驗方》）</p>
<p>一用　真艾四兩，水四碗，煮數滾，入大口瓶內，用麻布二層蓋扎，將手心放瓶口熏之。如冷，再熱再熏，無不應效。（積德堂孫氏方）</p>
<p>一用　鴿子屎、水龍骨各一兩，北常山一兩五錢，為末，將桐油搽掌上，患處用藥熏之，數次即愈。　一用豬膽一個，黃柏八分，乳香五錢，煎豬油一兩擦之。（青浦徐方）</p>
<p><u>鶴膝風</u>（三陰之氣不足，風邪乘之，兩膝作痛，久而膝愈大而腿愈細，因名鶴膝風，乃敗症也）</p>
<p>臘糟四兩　肥皂（去子）一斤　芒硝　五味砂糖各一兩　薑汁半碗</p>
<p>研勻，日日塗之。加火酒更妙。　一用陳艾、菊花二味作護膝內，久自除患。（丁氏抄錄）</p>
<p><u>神效散</u>（治鶴風，兼治附骨疽。皮色不變，大腿通腫，疼痛無奈，及痢後腳痛，緩弱不能行或腿膝腫痛等症）</p>
<p>人參二錢　防風　白朮　附子　當歸　白芍　杜仲　黃耆　羌活　牛膝　甘草　熟地各一錢　姜三片水二碗煎半，食前服。（《秘方集驗》）</p>
<p><u>汗斑</u></p>
<p>密佗僧六錢　雄黃三錢　硫黃三錢</p>
<p>先以姜擦斑，次用藥末搽之。次日即焦，永不發。（抄本）</p>
<p>一方單用密佗僧為末，隔年釅醋調搽，隨手而愈。（醫書）</p>
<p><u>酒刺</u></p>
<p>蛇床子、紅豆等分為末，早洗晚搽。（《周氏秘錄》）</p>

<h2>腳氣足瘡</h2>
<p>腳氣始受於濕，復夾風、寒、暑、熱之邪而成。故先起於腿足，必腳屈弱而舉動轉筋，肢節疼而足胻痛，小腹不仁，心中悸動，胸前便澀。但發熱頭痛、身疼之候絕似傷寒，人多誤治。仲景以腳氣類傷寒症，另立篇目以別之，蓋為此也。羅謙甫云：南北腳氣受病不同，南方𤰞濕，濕每襲虛而病起於下，此腳氣從外受也；北方地高無濕，共俗飲潼乳酒面，以飲多快食為能，或奉養太過亦滋其濕，水性潤下，氣不能拘，故下注於足而成腫痛，此腳氣從內受也。當推究所因而治之。</p>
<p><u>腳氣上攻</u>（結成腫核及一切腫毒）</p>
<p>甘遂末水調敷，甘草汁服即消。（《百一選方》）</p>
<p>濕腳氣（足痛脛腫，須服防己飲）</p>
<p>白朮（炒）　犀角　蒼朮（炒）　生地（酒炒）　黃柏（酒炒）　木通　防己　檳榔　川芎各八分　甘草梢七分</p>
<p>水煎熱服。有熱加黃芩，熱甚及天令熱加石膏；痰加竹瀝、薑汁或南星；便秘加桃仁；小便澀加牛膝。（《秘方集驗》）</p>
<p><u>腿轉筋</u>（上衝入腹）</p>
<p>速用木瓜、吳茱萸各一錢，食鹽五分，水二盞煎半，服即愈。若不急治，痛衝心上則不救矣。（《願體集》）</p>
<p><u>蒼朮散</u>（治一切風寒濕熱，足膝腰臀髀一切疼痛及腳氣，百發百中）</p>
<p>蒼朮（米泔水浸一日夜，鹽炒）　黃柏（去粗皮酒浸一日夜，炙焦）各五錢</p>
<p>作一服，用水二鍾煎半，食前服，日二三服。（《醫方選要》）</p>
<p><u>腳痛膝痛</u>（不能舉步者）</p>
<p>山楂肉、白蒺藜各等分，兩蒸兩曬為末，蜜丸如梧桐子大。每服三錢，用白湯下，或一斤或二斤，無不愈者。（周氏抄錄）</p>
<p><u>腳墊痛</u></p>
<p>人走長路緊急，被石塊腳底墊腫不能行步，痛不可忍。急用舊草鞋浸尿桶內一夜，將新磚燒紅，以浸濕草鞋放磚上，隨以腫腳踏上，火逼尿氣入內，即消。若不早治，恐潰爛難愈。如走長路腳腫痛，亦用此法即消。（《懷德堂秘錄》）</p>
<p><u>一粒金</u>（治風、寒、暑、濕，不問遠近，一切走注疼痛難忍）</p>
<p>白膠香（另研）　草烏（去皮臍）　五靈脂　地龍（去土）　木鱉（捶去油）各一兩五錢　乳香　沒藥　當歸各七錢半　麝香二錢二分　京墨（燒煙盡）一錢二分</p>
<p>糯米粉和丸，芡實大。臨發時空心酒化服一丸，趕到腳面上，赤腫不散。再一丸，趕到腳心，出黑汗乃除根。如病在上，食後臨臥酒下，自然汗出。及中風癱瘓、麻痹不仁、手足不遂、偏枯，酒下二丸，日三進。初中風不省，研一丸酒調灌下，一醒足熱。（《萬病回春》）</p>
<p><u>足患</u>（治濕氣、兩腿作痛）</p>
<p>艾葉二兩，蔥頭一把，搗爛，生薑一兩五錢，亦要搗爛，用布共為一包，蘸極熱燒酒擦患，痛止為度。（秘方抄錄）</p>
<p><u>腳心腫痛</u>（因久行久立所致）</p>
<p>蚯蚓屎，水和敷，一夕即愈。（單方）</p>
<p><u>風癢足瘡</u>（遠近流黃水者）</p>
<p>黃柏去皮不拘多少，用豬膽汁塗搽，曬乾數次，酥透柏皮，方研末。先用花椒煎湯洗過，隨以末藥敷之，二、三次即愈。（《秘方集驗》）</p>
<p><u>腳趾縫爛瘡</u></p>
<p>鵝掌黃皮焙乾，燒灰存性為末搽。或因暑抓爛瘡，細茶嚼爛敷之。（單方）</p>
<p><u>兩足血風痛</u></p>
<p>馬齒莧（焙乾淨末）五錢　黃丹（飛）　黃柏　兒茶　枯礬各三錢　輕粉一錢</p>
<p>共末。生桐油調攤紙上，先用蔥椒湯洗淨，貼之效。（《單方集驗》）</p>
<p><u>爛腿瘡</u></p>
<p>乳香　百草霜　窯煤各三分　沒藥分半　血竭　龍骨　輕粉各一分　生芝麻一撮，生雞子調，做隔紙膏貼。（《懷德堂方》）</p>
<p><u>裙帶瘡</u></p>
<p>嫩長桑根皮　用不落水豬油搗敷，干即換，數個愈。（《心鏡傳》）</p>
<p>一用　梨葉百片、豬油二兩，將葉在鍋內炒拌，次下上好白蠟二兩，亦搗爛拌在內，令化在藥上，又下鹽一兩，亦拌在內，燒用微火，不可使藥炒爛，取起待冷，貼上神效。（《單方全集》）</p>
<p><u>裙風瘡</u></p>
<p>爐甘石醋煅研細，麻油日日調敷，立愈。（歷驗仙方）</p>
<p><u>肉刺雞眼</u></p>
<p>蓖麻子為細末，敷上一、二時，其刺自出，痛即止。（《秘方集驗》）</p>
<p><u>雞眼</u></p>
<p>生蜈蚣一條搗爛，少許貼上，片時拔根。（抄本）</p>
<p><u>腳鹼</u></p>
<p>荸薺半個貼患處過夜，次晚再貼。五、六夜其鹼連根脫出。　一用蔥根、荸薺搗汁一碗煎，再取松香四兩，麻油再煎，滴水成珠，方入前汁攤膏藥貼即落。　一方：蜈蚣一條，硼砂等分　放鍾內拌，埋地七日取出，銀簪點上即脫。（《單方秘錄》）</p>
<p><u>驢眼瘡</u>（生腳脛骨周圍，如臁瘡樣）</p>
<p>田螺去殼，搗爛敷，數次即愈。（《單方集驗》）</p>
<p><u>腳折裂破</u>（凡冬月患此，行步疼痛）</p>
<p>用湯洗淨拭乾，將黃蠟一兩溶化入松香末三分，用少許安刀頭上，溶化滴入折中即愈，神效。（《赤水玄珠》）</p>
<p><u>甲疽延爛</u></p>
<p>綠礬五兩　燒至汁盡研末，色如黃丹收之。每以鹽湯洗拭，用末厚敷，以軟帛絞裹，當日即汗斷瘡干，每日一遍。鹽湯洗淨，其痂干處不須進，洗後或作白膿，即擦破敷之，自瘥。（《外臺秘要》）</p>
<p><u>嵌甲入肉</u></p>
<p>礬石燒灰敷，餌惡肉生好肉，細細割取甲角，愈。（《肘後方》）</p>
<p><u>末藥方</u>（治腳上一切亂瘡）</p>
<p>珍珠　琥珀各一錢　輕粉　黃丹　乳香（去油）　沒藥　石膏各一錢　沿牛殼四錢</p>
<p>共末敷。（抄本）</p>

<h2>解諸毒</h2>
<p>（附吞銅鐵）</p>
<p><u>中毒</u></p>
<p>覺腹中不快，即以生豆腐試之，入口不聞腥氣，此中毒也。急以升麻煎濃連飲，以手摳吐即愈。（各部俱載）</p>
<p><u>蠱毒</u></p>
<p>先取炙甘草一寸，嚼之咽沫，若中毒即吐出，仍以炙甘草三兩，生薑四兩，水六升煮二升，日三服。若含甘草而不吐者，非毒也。（《微今鐸）</p>
<p><u>蠱毒</u></p>
<p>昔李熹為雷州推官，得治蠱方。毒在上，用升麻吐之；毒在腹，用鬱金下之。或合二味服之，不吐則瀉，活人甚多。（《範石湖文集》）</p>
<p><u>解相反藥毒</u></p>
<p>蠶退紙（即出過蠶之紙）　燒灰細研一錢，冷水調下，頻服，效。</p>
<p><u>解百藥毒</u>（服藥過多生出毒病，頭腫如斗，唇流血，或心口飽悶，或臍腹撮痛者）</p>
<p>黑小豆（即馬料豆）、綠豆各半升，煮汁服，並食豆寬，愈。　附子、川烏、天雄、斑蝥毒，單以馬料豆煎汁服；皂礬毒，急取麵糊一缽服之。《單方總集》</p>
<p><u>砒霜毒</u></p>
<p>綠豆粉（細篩）四兩，黃泥（篩）四兩，生雞清九個，共一處以浸豆水和服即解。若有黑羊血再吞更妙。凡服砒人，不可仰臥，恐毒流四肢難治。愈後，煙、酒、薑、椒、煎、炒須忌百日。（《願體集》）</p>
<p><u>解信毒</u></p>
<p>速取梁上燕子窠，用井水三、四大碗放水桶內，將手多攪調之，用夏布手巾如柞腐法，篩去泥葉，取所攪之水連灌二、三碗，自吐。不吐再灌，吐盡方醒。（單方）</p>
<p><u>斷腸草毒</u></p>
<p>雞抱卵劈開，以清油調勻灌之；或服生雞蛋三、四枚；或服熱羊血碗許，總宜吐盡方醒。（《願體集》）</p>
<p><u>鉛粉毒</u></p>
<p>婦人打胎，服之不惟不效，每至欲死不能、求生不得，且生子多癡呆，身體發瘡毒。有誤服者，急搗蘿蔔汁飲之。（《秘方集驗》）</p>
<p><u>開口椒毒</u></p>
<p>吐白沫、身冷欲絕者，地漿水飲之即解。（金匱方）</p>
<p><u>野蕈毒</u></p>
<p>飲地漿水三、四碗。地漿能解百毒，真神方也。（《單方全集》）</p>
<p><u>牛肉毒</u></p>
<p>烏柏樹根皮酒煎，同熱酒服。或菊花連根搗汁，酒服。（同上）</p>
<p><u>犬馬肉毒</u></p>
<p>杏仁去皮粒四兩，碎，以百沸湯和仁絞汁，作二、三服吃。或急吃冷粥一碗，頃刻毒解思食。（《單方全集》）</p>
<p><u>菌子並河豚毒</u></p>
<p>多服金汁即解；如難得，於地上挖一潭，用水和泥，稍定，服水一、二碗即解。或服紫金錠更妙。（《錢氏抄方》）</p>
<p><u>燒酒毒</u>（火燒悶絕或受煙煤毒）</p>
<p>用白蘿蔔汁或熱尿灌俱效。（《願體集》）</p>
<p><u>誤食螞蝗</u></p>
<p>嗜芹菜者多此疾，空心食地漿水少許即下。（同上）</p>
<p><u>蟹毒</u></p>
<p>藉汁、蒜汁、冬瓜汁、黑豆汁及紫蘇汁俱可解。（同上）</p>
<p><u>食毒鱉</u></p>
<p>飲藍汁數碗或藍錠清水亦可。</p>
<p>自死六畜毒黃柏搗末，水調一錢；或壁上黃土二錢，水調服；或飲人乳一碗。（《單方全集》）</p>
<p><u>黃鱔魚毒</u></p>
<p>食此犯荊芥，能害人，服地漿解之。（《集簡方》）</p>
<p><u>白果毒</u></p>
<p>麝香一分，煎湯服。</p>
<p><u>豆腐毒</u></p>
<p>蘿蔔湯飲之即解。（《本草》）</p>
<p><u>煤炭毒</u></p>
<p>一時暈倒，不救殺人，急以新汲清水灌之。（言瑤方）</p>
<p><u>鹽滷毒</u></p>
<p>用生豆腐漿灌下，再以鵝翎攪喉數次，令吐即活。（古方）</p>
<p><u>馬犬河豚諸魚蟹毒</u>（心下堅硬或腹脹，口渴，忽發熱，妄語）</p>
<p>蘆根煮汁服。（梅師方）</p>
<p><u>誤食桐油</u>（令人發吐不止）</p>
<p>急飲熱酒即解。（《秘方集驗》）</p>
<p><u>吞銅錢</u></p>
<p>羊脛灰煮粥食之，神效。（《本草》）</p>
<p><u>吞針</u></p>
<p>蝦蟆眼一隻，木通湯吞下，其針即穿於眼內從大便而出。</p>
<p><u>小兒吞針</u></p>
<p>將半生半熟出芽蠶豆搗爛，用韭汁為丸吞下。（秘方）</p>

<h2>五絕急症</h2>
<p>人遇暴症，急如風雨，延醫不及，無不束手待斃。若口中有氣，心頭尚溫者，急宜按方速治，免諸橫妖，功莫大焉。</p>
<p><u>五絕</u></p>
<p>皆用半夏研細末，冷水和丸如小豆大，塞鼻中，並燥末吹耳內。心溫者，死一日猶可活，此扁鵲法，奈人不曉。因氣絕多不救，惜哉！又急於人中穴及兩足大趾甲離甲一韭菜葉各灸三、五壯即活。（《感應篇後集》）</p>
<p><u>救自刎法</u></p>
<p>自刎之人，斷食嗓者可治；斷氣嗓者難治。若食嗓氣嗓俱斷更難治。全要知覺早，急將頭扶住，乘其氣未絕、額未冷，用絲線縫合刀口。據方書用桃花散。（用石灰二升，大黃四兩，切片同炒，候灰桃紅色，去大黃將灰細篩，收貯瓶內過月餘去火氣，然後可以應用，故此藥必須預先備之，降香末、松香末搽沾。）奈一時難得，迅速之際延醫不及，急將活雞一、二隻，扯下熱雞皮（冷則無用），將線縫刀口周圍纏護，用軟絹帛並棉花扎之。外將女人舊布裹腳周圍再纏五六轉，勿使泄氣，其中自然合一。令患者仰臥，以高枕枕腦後，使頭鬱而不直，刀口不開。冬夏避風，衣被蓋暖，若氣從口鼻通出，方用白米一合，入人參一錢、姜三片同煎粥湯飲之接補元氣，再延名醫調治可也。（《願體集》）</p>
<p><u>鬼魘</u></p>
<p>灶心土碎打，井水調二錢，更挑半指甲許吹入鼻中。如不醒，用艾灸人中穴，並兩足大趾甲離甲一韭葉各七壯。（《秘方集驗》）</p>
<p><u>凍死</u></p>
<p>凡凍將死者，以灰燒暖盛囊中，熨心頭，冷即易熱灰。若不先溫其心，便以火烘，則冷與火爭，必死。（《感應篇載》）</p>
<p><u>渴死</u></p>
<p>用路上熱土、大蒜，勻研爛，水調，去渣飲之。（古方）</p>

<h2>癲癇狂亂</h2>
<p>（附鬼祟）</p>
<p><u>驚氣丸</u>（發則牙關緊閉，涎潮昏塞；醒則精神若癡）</p>
<p>附子　木香　殭蠶　白花蛇　桔紅　天麻　麻黃　乾蠍　南星（薑汁浸一夜）各三錢　蘇子一兩　硃砂錢半（為衣）</p>
<p>加冰片少許，蜜丸如龍眼大。每服一丸，金銀薄荷湯下。一呆犯臨刑得釋，驚癡。一丸而愈。　一婦癡十年，去附子加鐵落亦愈。（許學士方）</p>
<p><u>遂心丹</u>（治癇症）</p>
<p>甘遂末三錢，用豬心取三管血和藥入內縛定，紙裹煨熟取沫，入辰砂末一錢，分四丸。豬心煎湯調下，大便下惡物為效，不下再服。（《濟生方》）</p>
<p><u>經驗方</u></p>
<p>鬱金七兩，明礬三兩，為末糊丸，每服十丸。　一婦癲狂十年，服此，初覺有物胸中脫去、神氣灑然，再服全愈。（李時珍制）</p>
<p><u>歸神丹</u></p>
<p>豬心二個，切，入硃砂二兩，燈芯三兩在內，麻扎，石器煮一伏時，取砂為末，同茯神末三兩，酒打丸梧子大。每服九丸，漸至二十五丸，麥冬湯下。甚者，乳香人參湯下。（《百一選方》）</p>
<p><u>癲狂</u></p>
<p>先將病人綁伏，□當心下來三指灸七艾或九艾，再灸兩太陽六、七艾。次用辰砂三錢，川貝三錢，酒服二次；再用海風藤錢半，鳳尾草錢半，石菖蒲三錢，川貝錢半，服五、六貼。或再服紫金錠一、二錢。愈後用蘆蒂、棗肉為丸，每服三分，服至三丸全愈。遵此治法，百試百驗。（《衛生備要》）</p>
<p><u>治狂不眠</u></p>
<p>人參　棗仁各一兩　辰砂五錢　乳香一錢五分</p>
<p>蜜丸彈子大，薄荷湯下。　一人緣兵火失心，服二十丸而愈，神效。（《赤水玄珠》）</p>
<p><u>夜夢亡鬼</u></p>
<p>人參　黃耆　枸杞　苡仁　白朮各錢半　當歸　遠志　茯苓　木瓜　陳皮各一錢　甘草五分水一鍾，入豬心血一枚，煎八分飲，四、五貼自愈。（《新都治集》）</p>
<p><u>久癇</u></p>
<p>用不落水豬心一個，去內心血，入射干三錢，泥封固煨，待紅取出，存性研末，每服三錢。百試百驗。（《秘方總集》）</p>
<p><u>中諸鬼祟</u></p>
<p>人為鬼附，昏迷笑哭或作鬼語，急將兩手大指縛作一排，用艾圓嵌中間爪中盡頭連肉處，灸七壯或十七壯，鬼即去。若猶昏沉者，用麻黃三兩，杏仁七十粒，甘草一兩，水二碗煎半灌之，愈後仍服參、耆等補正之藥。（《秘方集驗》）</p>
<p><u>屍厥</u>（由入廟弔喪問病而得者）</p>
<p>用附子七錢重者，泡去皮臍為末，分二服，每服酒三盞，煎一盞，如無附子，生薑汁半盞，一盞，同煎百沸，連灌二服即醒。</p>
<p><u>卒厥</u>（無論中風、寒、暑、熱、鬼祟、邪氣、食痰）</p>
<p>生薑汁一鍾，童便一鍾，調服，立知人事（單方）</p>
<p><u>中惡心痛</u></p>
<p>殺白烏骨雞敷心，即瘥。鬼擊用血塗，亦效。（李時珍方）</p>
<p><u>鬼箭打</u></p>
<p>鐵屑（細淨）二兩　胡桃一斤（淨肉）　桃仁八兩</p>
<p>同入磁器內，加好酒四斤，隔湯煮，以糯米置上，熟為度。每日不拘時，隨量暖服，蓋被髮汗，服時痛稍甚，服完漸愈。勿以服藥時痛而中止也。　一用炒山梔、面（炒）、桃頭七個，杵餅貼，次日作七丸，投炭火中燒響即愈。（《單方全集》）</p>
<p><u>神箭</u></p>
<p>狗骨（燒灰）三錢　山梔七個　面（飛）　糟各一兩</p>
<p>醋調敷，不可針刺。</p>
<p><u>女人病邪</u>（女人與邪交通，獨言獨笑，悲思恍惚者）</p>
<p>雄黃一兩，松脂一兩，溶化，以虎爪攪之，丸如彈子大，夜燒籠中，令女坐上，被蓋露頭在外，不過三劑自斷。仍以雄黃、人參、防風、五味子等份為末，每旦井水服方寸匕。（《肘後方》）</p>

<h2>腫毒</h2>
<p>經曰：凡瘡之痛癢，自屬虛實寒熱。故痛而實者為熱；虛而癢者為寒。然諸瘡痛癢，皆生於心，以心主血而行氣，氣血凝滯而為癰、疽、瘡、癤。闊大一寸以上曰癰疽；一寸以下為瘡癤。諸瘡之中，惟背疽疔瘡最為急症；其初發也，使身體或先熱而後惡寒；或先癢而後疼痛。若其不痛，最為惡症。且如背疽始生如粟黍粒大，才有覺時，便用艾於痛處灸之。痛則灸至癢，癢則灸至痛，使毒氣隨火而散（凡毒初起皆可灸，惟頭頂以上屬陽明，斷不宜灸）。若失之於初，瘡勢已成，又當審其虛實寒熱。熱實則清之；虛寒則溫之。得毒消膿潰，方為可治之症。</p>
<p><u>癰疽背毒歌訣</u></p>
<p>真人妙訣世間稀，一切癰疽皆可醫；</p>
<p>化血就如湯潑雪，消膿立效肉生肌；</p>
<p>任他發背臁瘡毒，那看疔瘡瘰癧兒；</p>
<p>假饒疥癩並風癬，乳香五背盡消除。</p>
<p>甘草節　金銀花（在四肢加倍）　防風　沒藥　赤芍　白芷（在腹膜加倍）　陳皮各三錢　當歸一錢五分　乳香　沉香　貝母各一錢　木香八分　角刺五錢（銼碎，定粉八錢，同炒黃去粉）　甲片五錢（蛤粉炒黃，去粉）</p>
<p>上乳香、沒藥、甲片另研，其餘分作四貼。每水二鍾煎七分，加好酒半鍾沖服。前末俱調於藥內同服。上部飽服，下部空心服。（古方）</p>
<p><u>癰疽發背</u>（凡中熱毒，眼花頭暈，口乾背熱，四肢麻木，有紅暈在背後者）</p>
<p>槐花子一大把，鐵鍋炒褐色，好酒一盞服之，乘熱飲，一汗而愈。如未退再服，極效。彭辛庵用此方三十年，無不見效。（保壽堂方）</p>
<p><u>背毒未成者</u></p>
<p>用活蟾一個，系放瘡上，半日必昏憒（置水中救其命），再易一個，必踉蹌；再易其蟾如舊，則毒散矣。累試極效，勿輕視。（《醫林集效》）</p>
<p><u>凡患癰疽瘡毒者</u></p>
<p>用土中大蝦蟆一個，剝全身癩皮蓋貼瘡口，於蟆皮上用針將皮刺數孔，以出毒氣，自覺安靜；且能爬住瘡口，不令長大；又可免蜈蚣聞氣來侵。神效神妙。（《靈秘丹藥》）</p>
<p><u>癰疽初起</u></p>
<p>乾薑一兩，泡炒紫色，研末醋調敷四圍，留頭，愈。（申一齋方）</p>
<p>凡毒初起及經十日以上腫熱疼痛，用雞子一枚，新狗糞如蛋大，攪勻，微火熬令稀。調得所，捻作餅子於腫頭上貼之，以帛包抹，時時看視，覺餅熱即易，勿令輕動及歇氣，經一宿定。如日多者，三日貼之，一日一易至瘥乃已。一切諸方皆不及也。（抄本）</p>
<p><u>護心散</u>（凡癰疽三日內，宜連進十服方免變症，使毒氣外出。稍遲內攻，漸生嘔吐，或鼻生瘡菌，不食則危矣，五日後亦宜服）</p>
<p>真綠豆粉一兩乳香五錢</p>
<p>燈心灰同研，和以生甘草濃煎，調下一錢，時時呷之。若毒氣衝心，有嘔吐之症，大宜服此。蓋綠豆厭熱，下氣、消腫、解毒；乳香消諸癰腫毒，服至一兩則香徹瘡孔中，真聖藥也。（李嗣立外科方）</p>
<p><u>忍冬濟急酒</u></p>
<p>金銀花藤五兩，木槌捶碎，勿犯鐵器，生甘草節一兩，水二碗煎半，又入陳酒一大碗，再煎數十沸，去渣分作三服，一晝夜吃完。外即用金銀花葉入砂盆內研爛，加酒少許打稀爛，調塗四圍，中留一孔泄氣。凶者一日二服，大小腸通利則藥力到。神效無比。（陰隲文刻板）</p>
<p><u>鐵箍散</u>（一切腫毒初起，圍之即消；已成圍之，毒氣不至攻走；無膿圍之有膿；未潰即潰；已潰濃即追出）</p>
<p>九月九日取芙蓉葉陰乾五錢　薑黃　白蘞　白芨　五倍子各五錢　大黃一兩　蟹殼五個　陳小粉（炒）一兩</p>
<p>研末，醋調圍。（醫方解）</p>
<p><u>諸毒</u></p>
<p>凡患發背、對口一切無名腫毒及久近臁瘡，先看所患腫處，用生面水調作圈，依腫處大小圍之，圈高寸余，實貼皮上，勿令滲泄，圈外密施布巾數重，防火氣侵餘地，患者安身勿動，圈內鋪極好黃蠟片屑，上以炭火灸至黃蠟溶化，毒淺者，皮上覺熱痛不受灸便止；毒深者，全不覺熱痛，再下蠟隨化隨添，至圈滿仍前熱火灸至蠟沸，初覺癢，後覺痛，久之不可忍，乃去火。以少水微澆滾蠟上，俟冷揭去蠟，近皮者俱帶青黑色，此毒隨蠟拔去。淺者一、二灸便內消，深者三、四灸亦膿去腫消，立愈。灸畢，外貼生肌玉紅膏。此百治百驗者。（《秘方集驗》）</p>
<p><u>腫毒</u>（及指上癰腫，神效）</p>
<p>獨郎大蒜一顆，百合數葉，臘糟敷上。（《衛生備要》）</p>
<p><u>身上諸毒</u>（癧串久不收口者亦效）</p>
<p>獨郎大蒜一枚，加雄黃不拘多少，共搗成餅貼之，將艾放餅上灸一壯，即愈。（《秘方纂要》）</p>
<p><u>定疼散</u></p>
<p>山藥一兩　白糖霜　大黃各四錢</p>
<p>打爛敷上即止疼。或搭手發背破爛者，只用糖霜、山藥打爛塞入毒內，不臭，爛肉去新肉自生，初時日換二次，三日後一日換一次。煎甘草湯或豬蹄湯洗，用軟鵝毛數根扎之，洗去再敷，待肉長滿方止。（《單方全集》）</p>
<p><u>透膿散</u>（治諸瘡毒，貼骨癰疽不破者。不用刀針，一服即穿透）</p>
<p>願繭蛾一個燒灰，酒調服，即透。切不可服二個。若服二，則有二口，慎之！此方神效。（《外科發揮》）</p>
<p><u>腮毒</u></p>
<p>大黃末、薑汁和勻，周圍搽轉，只露一頭，不日愈。</p>
<p><u>搭手</u></p>
<p>全蠍、核桃共研細，酒沖服。一二次即消。（《單方集驗》）</p>
<p><u>干發背</u></p>
<p>生甘草　炙甘草各五錢　角刺二錢半（土炒）　土貝五錢　半夏錢半　甲片二錢半（炒黑）　知母二錢五分</p>
<p>加薑、蔥、水，酒煎，二劑即愈。（呂晚邨方）</p>

<h2>疔瘡</h2>
<p>（附金瘡）</p>
<p>癰疽宜灸，疔毒宜針。明疔易治，暗疔難療。生於口耳目鼻者，顯而易見；生於身體四肢者，隱而難防，及至發作誤認傷寒，半日不治，毒必走黃入心，人即昏憒。若早知覺，急用針或磁峰刺入二、三分，擠去惡血，當摻立馬回疔丹於針孔內。恐丹一時難覓，可用蝸牛連殼搗爛敷之；或家菊花根搗敷，內服梅花點舌丹或蟾酥丸一、二服，俱用菊根汁和熱酒下，出汗即愈。屢見染此症者，多畏疼痛不肯針刺，殊不知，一染疔毒，皮肉即僵，針亦不覺痛，須用膽速針，慎勿遲延而誤時刻也。</p>
<p>凡手足間生黃泡或紫黑色，有一條如紅線急宜以針於紅線所至之盡處，刺出毒血，不刺則毒入腸胃不救。惟刀鐮疔忌刺（狀闊狹如韭菜長一寸，左側肉黑如燒烙）。刺後用益母草葉熏燒灰敷之。方用明礬末三錢，蔥白七根，搗爛分作七塊，每塊熱酒一杯送下，以衣被蓋之。如無汗，再服蔥白湯一鍾，少頃汗出，從容減去衣被，其病若脫。忌風寒、房事、酒肉、魚腥、蒜、椒、辛辣、油膩生冷等物。（《單方集驗》）</p>
<p><u>疔毒</u>（已篤者二服即愈）</p>
<p>土蜂房一具，蛇蛻一條，黃泥固濟，燒存性為末，每空心好酒服一錢，少刻大痛。痛止，其瘡已化為黃水。（潘霞山秘錄）</p>
<p><u>追疔奪命丹</u></p>
<p>羌活　獨活　青皮　甘草節　黃連　赤芍　細辛　蟬蛻　殭蠶　金絲重樓　防風　澤蘭　金銀花各等分</p>
<p>有膿加何首烏、白芷；要通利加青木香、大黃、梔子、牽牛；毒在下加木瓜。各等分，每服五錢。先將一貼加澤蘭、銀花各一兩，姜十片煎至半，熱服，汗出為度。病退再加大黃二錢，煎熱取利一、二次，去餘毒為妙。此方取效如神，百發百中。若心煩嘔吐加甘草節一錢，綠豆粉一錢，酸漿下；嘔逆噁心加乳香、綠豆粉，甘草湯下。（《赤水玄珠》）</p>
<p><u>蟾酥乳香膏</u></p>
<p>蟾酥（酒化）　硇砂　白丁香　輕粉各一錢　蜈蚣（炙）一條　硃砂二錢　乳香六分　麝香一分　金頂砒五分（製法：川鉛一斤，小罐內炭火煨化，投白砒二兩，干化烊鉛上，煙盡為度，取起候冷打開，金頂砒結在鉛面上，取下聽用）。</p>
<p>共為末糊成麥子大。凡遇疔瘡，針破，用一粒插入孔內，以膏藥蓋之，追出疔毒為效。（《秘方集驗》）</p>
<p><u>小奪命散</u>（治疔瘡及腦疽惡毒，其效如神）</p>
<p>槐花子　蒂丁　千頭子（即掃帚子）各等分</p>
<p>水煎，通口溫服。加蟾酥少許尤妙。（《萬病回春》）</p>
<p><u>爛頭疔</u></p>
<p>白菊花根一把　白梅二個　蜒蚰（大者）二條</p>
<p>共搗爛，加透明雄黃同敷，如干再另敷，易一、二遍，無不愈者。（屢驗方）</p>
<p><u>扎馬疔</u></p>
<p>切不可食肉。生白酒煎豨薟草、紫花地丁、車前草服之，愈。（《秘方集驗》）</p>
<p><u>金瘡</u></p>
<p>急用自己小便淋患處，口必渴，切不可飲水，但食肥膩之物解渴而已。若食薄粥則血沸而出，必死。（《單方集驗》）</p>
<p>一方　五月五日將老鼠同石灰搗收，敷金瘡神效。（李時珍方）</p>
<p><u>金瘡出血</u></p>
<p>龍骨（煅）二錢　白礬（半生半枯）一兩　五倍子（半生半焙）二兩　乳香　沒藥各三錢　無名異一兩</p>
<p>為末，乾摻，不作膿、不怕風。立時止血住痛，生肌如神。（採醫書）</p>
<p>一用　五倍子、降真香等分，炒末敷之，皮肉自痊。（懷德堂錄）</p>

<h2>跌撲損傷</h2>
<p><u>瘀血衝心</u>（從高墜下欲死）</p>
<p>倉卒取藥不及，擘開口以熱小便灌之。或卒墜壓倒、打死，將本人如僧打坐，令一人將頭髮放低，用半夏末吹入鼻中，醒後以生薑汁、真麻油攪勻灌之，再以乾荷葉燒灰，熱小便調下三錢，日進三服自愈。（《附刊感應篇注證》）</p>
<p><u>八釐散</u></p>
<p>土鰵一錢（焙末）　乳香　沒藥　血竭各一錢　大半夏（生用）　當歸（酒浸）　巴霜　砂仁　雄黃　香甜瓜子各五分</p>
<p>為末收貯聽用，每服八釐，好酒下。小兒三釐。但能開口服下即得活矣。</p>
<p><u>八仙歌訣</u></p>
<p>此方八仙傳授，千金世上難尋；</p>
<p>止疼止痛如神，接骨續筋立應；</p>
<p>不問外感為最，哪管內損伶仃；</p>
<p>八釐一服保安寧，須臾便得活命。（江湖上方姓授）</p>
<p><u>上部損傷</u>（如頭破見髓，或傷風於內）</p>
<p>羌活　防風　半夏　升麻　當歸　芍藥　陳皮　生地　甘草　川芎　白芷　茯苓　南星　花粉　蔓荊　姜三片</p>
<p>外加血餘炭一錢，落得打一錢，二味俱為末吞服。</p>
<p><u>中部損傷</u>（如手摺之類）</p>
<p>羌活　防風　當歸　赤芍　陳皮　白芷　甘草　秦艽　黃耆　茯苓　生地　官桂　故紙　花粉外加五加皮、血餘炭各一錢，前法服。</p>
<p><u>下部損傷</u>（如腿足傷）</p>
<p>當歸　芍藥　陳皮　牛膝　木瓜　防己　川芎　茯苓　羌活　白芷　白朮　秦艽　生地　甘草</p>
<p>外加血餘炭一錢，如前法服。（《醫方集效》）</p>
<p><u>熨法</u></p>
<p>用生蔥連根切碎，炒令汁干，乘熱敷患處。外用絹帛束之，立刻定痛止血。（《萬病回春》）</p>
<p><u>筋骨折傷</u></p>
<p>急取雄雞一隻，刺血，量患人酒量沖服，痛立止，神效無比。（《赤水玄珠》）</p>
<p><u>奪命散</u>（治撲打，金刀傷及破傷風，傷濕發痛，強直如癇狀者）</p>
<p>天南星　防風</p>
<p>等分為末，水調敷患處，出水為妙，仍以溫酒調服一錢。已死心尚溫者，熱童便灌調二錢。　鬥毆內傷墜壓者，酒和服童便連灌三服即蘇。亦可煎服。（《三因方》）</p>
<p><u>腦破骨折</u></p>
<p>蜜和蔥白搗勻厚敷，立效。（《秘方集驗》）</p>
<p><u>跌壓瘀血</u>（積痛難忍）</p>
<p>當歸尾五錢　桃仁（去皮尖）廿一粒　大黃（酒煎）一兩</p>
<p>酒煎，雞鳴時服至明。取下瘀血即愈。（《秘方集驗》）</p>
<p><u>跌打損傷神效方</u></p>
<p>九世還魂草　鹿含草　落得打草　麻皮頭（上部倍加）　土鱉各等分</p>
<p>下部加苧根；內傷加白頭蚯蚓、五味為君。隨便再加紅花、蘇木等藥。酒、水煎服，汗發而愈。有一泥工沈姓者，屋上跌下，服此三日全愈。（懷德堂筆記）</p>
<p><u>接骨不知痛</u>（骨節損傷、脫臼接骨者）</p>
<p>用鳳仙花根酒磨服半寸，最多一寸，然後揉托而上則不知痛。但多服傷人，以一寸為極。（《秘方集驗》）</p>
<p><u>跌打骨折</u></p>
<p>用金櫻子兜（即系金櫻子根也）去皮，煎酒熱服，渣敷患處，立愈。（《願濟堂刊施》）</p>
<p><u>墜車落馬</u>（筋骨痛不止）</p>
<p>元胡索末，酒服二錢，日進二次即愈。（《秘方集驗》）</p>

<h2>破傷風</h2>
<p>皮肉損破，覆被外風襲入經絡，漸傳入里，其患寒熱交作、口噤咬牙、角弓反張、口吐涎沫。入陰則身涼自汗，傷處反平陷如故者，其毒即內收。當用萬靈丹發汗，令風邪外出，次以玉真散患上貼之，得膿為效。如汗後前症不退、傷處不高、漸醒漸昏、時發時止、口噤不開、語多不出者終為死候。</p>
<p><u>萬靈丹</u></p>
<p>茅朮八兩　全蠍　石斛　明天麻　當歸　甘草（炙）　川芎　荊芥　北細辛　防風　麻黃　川烏（湯泡去皮）　草烏（同上）　何首烏各一兩　雄黃六錢</p>
<p>為末，蜜丸。或一兩作四丸，或一兩作六丸，或一兩作九丸，三等做下以備老壯緩急取用。外以硃砂為衣，罐器收貯。每用蔥白九枚煎湯化一丸，通口服，蓋被出汗愈。如服後汗遲，再用蔥湯催之，汗必如淋。少頃漸去蓋被，其汗自斂。一切腫毒風氣宜發散者，皆可服。如病無表症相兼，不必發散者，只用熱酒化服。避風。宜食稀粥。忌冷物、房事。孕婦勿服。（見醫書）</p>
<p><u>玉真散</u></p>
<p>南星　防風　白芷　天麻　羌活　白附子</p>
<p>等分研末，敷患處。如打傷欲死、心頭微溫者，熱酒、童便灌下二錢，連進二服，立可回生。破傷風牙關緊閉、腰背反張，甚則咬牙縮舌，以童便調服三錢，立愈。（《秘方集驗》）一用蠐螬（即地蠶蟲也）　將駝脊皆握住，待口吐水就取抹瘡上，覺身麻汗出，無不活者。　昔一兒額上跌破成風，依此治之，即時愈。（《嬰童百問》）</p>

<h2>一切損傷</h2>
<p><u>燙火傷</u></p>
<p>最忌浸冷水中，防火毒攻心。並勿服寒冷之藥，但用好酒洗，拔其熱毒，或服玄妙飲。</p>
<p>川連　花粉　元參各二錢　陳皮　桔梗　山梔仁各一錢五分　淡竹葉三十片</p>
<p>水煎服。如藥不便，服童便以護其心，使心火不能內攻，隨取大黃末，桐油調敷。即垂危者，皆保無恙。（醫方俱載）</p>
<p>一用豬毛，煅，存性研末。加輕粉、白硼砂各少許，麻油調敷，絕無疤痕。（《秘方集驗》）</p>
<p><u>遍身燒爛</u></p>
<p>或服蘿蔔汁，或服童便，後隨取好酒一、二甕，入浴缸內，令患者浸酒中，極重不死。（《單方全集》）</p>
<p><u>諸傷</u>（刀割、斧砍、夾剪、槍箭，一切損傷）</p>
<p>生半夏研細，帶血敷上，立止痛，能收口生肌。（抄本）</p>
<p><u>刀傷</u></p>
<p>切不可見水，用圖書石、滑石末摻之；或用刀刮青石末摻之；或大黃炒黑篩末摻之；或韭菜汁拌陳石灰陰乾摻之；或用堅實細炭並老松香各等分研篩細末，以韭菜汁拌，陰乾再篩細末摻之；如急用，不用韭汁亦可。（《單方總錄》）</p>
<p><u>金創出血</u></p>
<p>蔥白連根葉煨熟，搗爛敷之，冷即易而愈。（《本草發明》）</p>
<p><u>箭傷</u></p>
<p>陳臘肉去皮骨搗爛，入象牙、人指甲各二錢，末極細拌肉內，厚敷周圍，即如銳子打入肉，以銀灌入傷處，其鉛即化，仍從傷處隨水銀出。（《神效仙方》）</p>
<p><u>拔出箭頭</u></p>
<p>花蕊石（形如硫黃，有白斑黑點）火煅七次，研末敷四周，箭頭自出。　一用巴豆仁略熬，與蜣螂同研塗之，須臾痛定微癢，忍之。待極癢不可忍便搖動拔出，速以生肌玉紅膏敷之。（《秘方集驗》）</p>
<p><u>人咬傷</u></p>
<p>用熱尿洗去牙黃、瘀血，以蟬酥丸塗孔中。或嚼生白果塗之。如痛，用麻油紙燃火焰熏之，用干屎裝荔枝殼內，加艾圍灸之，以不痛為度。（單方）</p>
<p><u>咬傷指</u>（痛不可忍，久則爛脫手指並手掌，諸方書所不載）</p>
<p>急用人尿入瓶，將指浸之，一夕即愈。如爛寸蛇烏龜殼灰敷。（《赤水玄珠》）</p>
<p><u>踢傷</u>（或手足或而及擦壞皮肉）</p>
<p>冬青葉同醋煮數沸，略滴麻油少許在內，取葉換貼自好。（《單方秘錄》）</p>
<p><u>杖傷</u>（久爛，中有四五分深潭不能收口，用此方摻之，數日愈。）</p>
<p>血竭一錢　朱丹　輕粉各二錢　白占□錢</p>
<p>共末摻上。一日夜其肉四圍生起，兩日即平。（出門秘方）</p>
<p>杖後即飲童便一碗，以免血攻心，再用熱豆腐鋪在杖傷處，其氣如蒸，其腐即紫，復易之，令紫色散盡，轉淡紅色為度。若杖瘡腫痛，雄黃二分，密陀僧一分，研。水調敷極妙。　凡杖後日服白芨末，米飲下。神效。（俱出秘方）</p>
<p><u>夾棍傷</u></p>
<p>一出衙門，即用熱童便一盆將手足浸之，如便冷，燒紅磚二塊淬之即熱，直浸至童便面上浮起白油，其傷盡出矣，不疫不，再用肥皂搗如泥，入雞子清和勻，罨患處，以草紙包。裹腳縛緊，一夜不可動即效，內服末藥。</p>
<p>人中白（煅）一兩　乳香（箬炙）二錢　沒藥（同上）　牛膝三錢（為末）　木耳（燒灰存性）五錢　自然銅（煅）五錢</p>
<p>再用牛膝煎酒調服三、五錢。如無末藥，用歸尾、川芎、乳香、獨活、壁蝨、胡麻、骨碎補、紅花、五加皮各一錢，生白酒一壺煎數沸，從量飲。避風寒，厚蓋出汗立愈。如骨傷加土鱉一枚。（《集驗方》）</p>

<h2>諸癰</h2>
<p>肺癰之候，口乾喘滿，咽燥而渴，甚則四肢浮腫，咳嗽膿血，或腥臭濁味，胸中隱隱而微痛者，肺癰也。大凡肺癰當咳嗽短氣，胸滿時垂，膿血久久如梗米粥者難治；若嘔膿而不止者，亦不可治也；其嘔而膿自止者自愈；其面色當白而反赤者，此火剋金，不可治也。</p>
<p><u>第一次服四劑：</u></p>
<p>苡仁　條芩　苦絲瓜　甘草各一錢　赤芍　貝母　桔梗　栝蔞　廣皮　升麻　丹皮各錢二分　黑棗二個　姜一片</p>
<p>食後煎服。如大便不通，加麻仁。</p>
<p><u>第二次服四劑：</u></p>
<p>赤芍　貝母　花粉　甘草　栝蔞　桔梗　知母　百合　獨活　杏仁　連翹各等分　燈心十根　白果肉七個</p>
<p>食後煎服。</p>
<p><u>第三次服四劑：</u></p>
<p>貝母　獨活　百合　甘草　桔梗　麥冬　赤芍　知母　花粉　栝蔞各等分　燈心　白果照前服，以後白鯗、紅蘿蔔、鴨蛋終身不可食。食則後發不治。大葷一年後方可吃，如齋更妙。　一方：綠橘葉洗淨，搗絞汁一盞服之，吐出膿血即痊。（《單方全集》）</p>
<p><u>屢驗方</u>（治肺癰未成即散，已成即潰，已潰即愈。神效）</p>
<p>桔梗一錢　苡仁五錢　貝母一錢六分　黃耆（炒）一錢　金銀花一錢　甘草節一錢二分　陳皮一錢二分　白芨一錢　甜葶藶（炒）八分</p>
<p>水二鍾煎半，加生薑一片，食後徐徐服。初起加防風一錢，去黃耆；潰後加人參一錢；久不斂加槿樹皮一錢，服。（李士林新定方）</p>
<p><u>腸癰</u>（小腹堅硬如掌而熱，按之則痛，肉色如故，或焮赤微腫，小便頻數，汗出憎寒，脈緊實而有力，服此神效）</p>
<p>大黃（炒）　朴硝各一錢　丹皮　白芥子　桃仁各二錢</p>
<p>空心煎用。（《秘方集驗》）</p>
<p><u>肚癰、大小腸癰、冬瓜癰</u></p>
<p>白芷二錢　乳香　沒藥各一錢　歸尾一錢五分　大黃二錢　番鱉二枚（去毛）　綠豆二錢為末，每服二錢，酒下，以平為度。（抄本）</p>
<p><u>脅癰</u></p>
<p>金銀花五錢　川貝二錢　角刺　連翹各錢半　甲片　赤芍各三錢　白芷一錢五分　地榆五錢　甘草節一錢　當歸二錢　夏枯草一兩（煎汁和藥，後煎）　鼠黏子錢半　紫花地丁一兩　生菊花根一兩（搗汁和藥）</p>
<p>服。（醫書）</p>
<p><u>懸癰</u>（在肛門前，陰根後兩相交界處，初起如松子大，漸如蓮子細，數十日後如桃李樣，宜急治之。）</p>
<p>甘草梢四兩，水煎服即愈。外用大黃三錢，熟石膏一兩，紫金錠一錠，同搗碎調服。　一用大粉草四兩，長流水浸透，炭火炙乾，再浸再炙三次，切片。同歸身三兩，水三碗，慢火煎，去渣再煎，稠厚為度，每用三錢，好酒一杯化膏，空心服。未成即消，已成即潰，潰即收口。（《單方全集》）</p>
<p><u>跨馬癰</u>（成膿者極妙）</p>
<p>黃耆三錢　人參二錢　川芎　當歸各一錢　白芷　官桂　甘草　防風各五分</p>
<p>一貼痛止，再服內潰。十貼肉生。（《新都治驗》）</p>
<p><u>翳癰</u></p>
<p>五爪龍連根搗汁，酒摝服，日進四、五次，膿從大便出。未成膿者內消。如有頭，以渣敷上立散。（《單方全集》）</p>
<p><u>天蛇頭</u></p>
<p>蜈蚣一條　雄黃三錢</p>
<p>二味共研作細末，用雞子清調搽即愈。　一用豬苦膽入雄黃末五分、蜈蚣末五分，套指上紮緊愈。（《單方全集》）</p>

<h2>流注</h2>
<p><u>濕痰流注</u>（初起腫痛無頭，皮色不變，久而不治則發熱作膿。知覺早者，於未破時急服此方十餘劑，即能內治，最稱靈驗）</p>
<p>土茯苓（磁鋒刮去皮，木槌打碎）四兩　真膽星二錢　川貝　殭蠶（炒）　純銀花　槐花（炒）　五倍子各三錢　桔紅　秦艽　防風各一錢　防己八分　木通一錢　白甘遂（刮去皮，末）七分　皂角子（鮮者，敲碎）九個　肥皂子（鮮者，敲碎）十個</p>
<p>虛弱人加石斛、苡仁各一錢；痰在頭頂、胸者加夏枯草一錢；痰在背脊者加羌活五分；痰在脅肋者加柴胡五分；痰在肚腹者加赤芍二錢，澤瀉一錢；痰在臂者加獨活五分；痰在腿腳者加木瓜二錢，牛膝一錢五分。用河水九碗，砂鍋內煎三碗，每日早、中、晚各熱服一碗。如痰在心之上者食後服；痰在心之下者食前服。如虛弱者分二劑，極虛者分三劑，小兒分四劑。忌食鹽、醬、茶、醋、豬肉、鮮魚、雞、鵝、鴨一切發物，炒、煎、姜椒、煙、酒、生冷。但藥內有甘遂，與甘草相反，恐別樣丸散內有甘草者切不可服。已破頭者只服四、五劑，使氣血調治，不致流他處。隨服十全大補湯加川貝二錢五分，石斛二錢，滴乳香（煅過）四分。須服數十劑，方能全愈。若系多火之人，十全湯內減去肉桂。（《願體集》）</p>
<p><u>治流注</u></p>
<p>石膏一兩　官硼三錢</p>
<p>飛面作十丸，穿一孔貫以鐵線，炭火燒紅，取酒一碗投入，冷又燒紅，入酒內，以丸盡為度，其酒熱即服，一日二服自消。（抄本）</p>
<p>一用地榆、苦參各二兩，紅花、金銀花各三錢，酒水各半盞煎服。近者三劑，遠者七劑即消。（《單方全集》）</p>

<h2>楊梅瘡毒</h2>
<p><u>通仙五寶散</u></p>
<p>鍾乳粉三分　琥珀　冰片各半分　大丹砂二分</p>
<p>為末，入炒飛面分半，分二十股；每日用土茯苓一斤，水煎十二碗。清晨一碗入藥一股，溫服，其茯苓湯須一日服盡。不可別飲湯水並茶。重者再服一料，無不愈者。忌雞、鵝、牛、羊、房事。此方古今第一。（王範泉傳）</p>
<p><u>初熏</u></p>
<p>辰砂末一錢，棉紙分作七條，香油浸透，每日熏二條。熏時板登坐著。暑天用單被，寒天用夾被蓋之，不可出氣。要口含水，恐傷口皮。熏完吐出，不可吞下，其效如神。（秘本）</p>
<p><u>搜風解毒湯</u>（治梅瘡不犯輕粉，重者月餘，輕者半月愈）</p>
<p>土茯苓一兩　米仁　銀花　防風　木瓜　鮮皮各五分　皂莢子四分</p>
<p>氣虛加人參七分；血虛加歸身七分。水煎，日三服。忌茶並毒物、房事。此秘方也。（潘霞山秘錄）</p>
<p><u>西聖復煎丸</u>（已破危篤，百方不效，用此如神）</p>
<p>乳香　沒藥　兒茶　丁香（焙）各一兩　阿魏　血竭　花蛇各四兩（末）　白麵一斤（炒）　蜜六兩　香油四兩</p>
<p>棗肉為末，搗丸彈子大。每一丸，土茯苓四兩　煎湯化服，效。（扶溝竇林僧傳）</p>
<p><u>五寶霜</u>（治梅瘡並癰疽、惡瘡）</p>
<p>水銀一兩　硃砂　雄黃各二錢半　白礬　綠礬各二兩半</p>
<p>研勻罐盛，燈盞蓋定，鹽泥固濟，文武火煉，升罐口掃收，每以三錢入乳香五分，沒藥五分，酒，太乙膏貼之，絕效。（採醫方）</p>
<p><u>楊梅結毒</u></p>
<p>皂莢　當歸　鮮皮　五加皮　金銀花各二兩</p>
<p>作八貼，每貼加土茯苓四兩，立效。（懷德堂秘錄）</p>
<p><u>結毒久爛</u></p>
<p>土茯苓一斤　生薑四兩</p>
<p>共煎數碗服之，不十日而愈。其潰處，以面汁調麵糊之漸愈。　曾有陽物爛完，半年不愈，服此得生。（《秘方集驗》）</p>

<h2>癧瘡</h2>
<p><u>內消散</u>（治癧核不拘近久，已破未破）</p>
<p>花粉　苦參各五錢　角刺四十九個　土茯苓三斤</p>
<p>共煎湯當茶飲。忌牛肉。屢試屢驗，奇異方也。（中書方）</p>
<p><u>治癧簡易方</u></p>
<p>枇杷葉一斤四兩（去毛淨，焙燥為末）　水白糖一斤</p>
<p>拌勻，不拘時服，白湯過口，服完即愈。　一用活鯽魚一個，生山藥一段，二味一樣長短，白糖三錢，搗敷，神驗無比。（二方楊州傳來）</p>
<p><u>神效散</u>（未破用此而消，已潰爛牽至兩間胸腋，茄子大，四、五年不愈者亦治，其效如神）</p>
<p>沉香五錢　芫花三錢（炒）　月季花（即月月紅，用）二錢</p>
<p>碎銼，入大鯉魚腹內（魚須放尿內遊死者），就以魚腸封固，酒、水各一碗，煮熟服之即愈。（談野翁試驗方）</p>
<p><u>初起神效方</u></p>
<p>甲片（土炒）　丁香　白丁香　苦丁香　紅小豆　磨刀泥　殭蠶（去頭足，酒炒）各一錢，斑蝥（去頭足，酒炒）一錢</p>
<p>上為末，每服一錢，五更時無根水調服，至未時打下毒物，形如鼠。後用野菊花焙黃為末，陳醋調貼。一日一換，七日全好。（《萬病回春》）</p>
<p><u>乳癧</u>（潰爛幾見臟腑）</p>
<p>土楝樹子（經霜者妙，川楝不用）　雄鼠屎（兩頭尖者是）　露蜂房各三錢（俱煅存性）</p>
<p>共末，每服三錢，酒下。間三日一服，不數日膿盡收斂。（抄本）</p>
<p><u>瘰癧</u></p>
<p>初起成塊未破者，將面捏成薄條，照瘡大小，略離患處作圈圈著，再取槐樹根（在土內掘出者）白皮數條，照面皮作圈，放麵皮之上，用艾作小丸，放癧子中心灸之，肉上略覺痛即拂去艾丸，另取艾丸再灸三遍，其麵皮不動，槐根白皮要換三次，連灸三日即消。　一方：不拘已破未破，瀝青好者一兩，蓖麻子四十九粒，杏仁去皮尖十三粒半，共搗千餘捶，自然黏軟成膏，攤貼患處，神應。內服昆布、海藻、海帶、貝母、連翹、甘草、元參，以應無不愈者。（《秘方集驗》）</p>

<h2>痔瘡</h2>
<p>腸僻為痔。如大澤中有少山突出為痔。凡人於九竅中但有小肉突起，皆曰痔，不特於肛門邊生者名之。亦有鼻痔、眼痔、牙痔等。其狀不一。方分五種：曰牡、曰牝、曰胍、曰腸、曰氣。牝痔者，肛門邊生瘡，腫突出，一日數枚，膿潰即散；牡痔者，肛門邊發，露肉珠狀如鼠奶，時時滴潰膿血；胍痔者，腸口顆顆發累，且痛且癢，血出淋漓；腸痔者，肛門內結核有血，寒熱往來，登溷脫出；氣痔者，遇恐怒則發，肛門腫痛，氣散則愈；又有酒痔，每遇飲酒發動，瘡即腫痛而流血；血痔者，每遇大便則血出不止，宜解熱、調血、順氣為主。若久而不愈，必至穿穴為漏矣。</p>
<p><u>治痔油藥</u></p>
<p>蘇合油　熊膽各五分　頭生雞子二個（用清，煎油）</p>
<p>三味勻和，敷之神效。　有一趙姓者，患痔垂死，用此立愈。（《靈秘丹藥》）</p>
<p><u>藥水</u></p>
<p>片腦一分　朴硝五分　熊膽三分　蝸牛　螺肉各十兩　橄欖核（燒灰）五錢</p>
<p>搗爛入藥，浸一夜取水並藥敷瘡，無不斷根。（同上）</p>
<p><u>痔漏</u></p>
<p>犀角　象牙各末　乳香　沒藥各一兩　明礬　黃占各五錢</p>
<p>銅器溶化占，入藥，丸梧子大。取連翹、金銀花二味貯瓶中，入好酒煎半日，去渣，酒服廿一丸自愈。（洪武帝親驗方）</p>
<p>一用胡連一兩（末），甲片（麻油炙）、石決明（煅）　槐花（炒）各五錢，蜜丸。早晚各服一錢。如四旁有硬肉突出，蠶繭二十個，炒研，入藥即治，神效。（《單方全集》）</p>
<p>一用青苔（青石上出）焙末，加生礬少許，再研聽用。先將瓦花一把水煎滾，加鹽滷一碗，坐上浴洗，其痔漸漸縮小，揩乾，將藥抹上。但要痛三、四次即愈，永不再發。（《外科秘錄》）</p>

<h2>諸癤</h2>
<p>（附火丹）</p>
<p><u>對口癤初起</u></p>
<p>桃葉尖九個，搗爛摻入愈。　一用母雞屎（抱小雞熱屎）取塗。　一用　鮮茄蒂七個，鮮何首烏、輕粉各等分，水二盅煎八分，一服出膿，再服收口。　一用　豬苦膽剖開，碗盛塗完即愈。男用雄豬膽，女用母豬膽。（《單方全集》）</p>
<p><u>治對口癤神效方</u></p>
<p>天茄（即白牽牛）葉帶莖子採來，同生姜三片搗敷，早晚一換，三日全愈。（抄本）</p>
<p><u>熱癤</u></p>
<p>五月五日午時取獨郎大蒜切片貼眉心，至夏不發。　一用　菊花根搗汁，無灰酒沖服。癤在上身空心服；癤在下身飽服，自消。（《秘方總集》）</p>
<p><u>小面癤</u></p>
<p>採二蠶桑葉，滴下支水點上愈。（古方）</p>
<p><u>諸癤</u>（孔內凸出胬肉）</p>
<p>取烏梅肉搗爛，量大小攤貼即消，神妙無比。（《本草》）</p>
<p><u>𤺪⿸疒貢癤：</u></p>
<p>皮底舊鞋一隻，去泥淨，燒灰存性研末，菜油調敷，其膿自出，屢試有效。　一用　屋內倒掛煙塵，豬膽汁調敷。一用磁器捶碎如粉，雞子清調敷。　一用　百草霜研細，菜油調圍立效，俱驗過。（《單方秘錄》）</p>
<p><u>火丹</u>（滿身生遍，形如水泡煮）</p>
<p>用小兒胎衣瓶內水，將雞毛抹上，隨手而愈。（單方）</p>
<p><u>白蛇纏腰</u>（腰裡起紅泡一圈，若不早治，被其纏到者不救。纏腰如袴腰樣）</p>
<p>蛇殼一條，燒灰存性，坑廁板上浮泥刮下，同研細，用童便調敷數次，一、二日即愈。　一用　白芨八錢，水龍骨（糞般者妙）共研末，無根水調敷。　一用鍋臍灰，將臭飯腳水調敷。（《單方秘錄》）</p>
<p><u>諸般流火</u></p>
<p>野芥臘子四、五錢，研細，醋調敷上。（《衛生備要》）</p>

<h2>諸瘡</h2>
<p><u>棉花瘡</u></p>
<p>水銀一兩　白錫一兩（先化鍋入水銀為末聽用）　銀珠六錢　銅綠五錢　官粉二兩　黃香一兩五錢　硃砂　輕粉各五錢</p>
<p>上為末，用前藥一股先攤紙上，其紙條長七寸，加後藥二股，亦同攤紙條上捲成條，無太緊。臨用時蘸香油點著，橫放瓦上，令患者覆睡，以手托席，用被蓋矇頭，不令走氣，口鼻閉息，如忍不住略轉動，氣即閉。先一條熏眉心；次一條熏鳩尾；第三條熏臍下一寸，次第熏。汗如雨，熏盡後睡，五日愈。（錢氏秘方）</p>
<p><u>臁瘡</u></p>
<p>鉛一兩，打極薄片，剪碎，和水銀三錢，入去衣豬板油研爛，攤油紙上。外以川椒二兩煎湯洗淨，貼之。即五、六年者可愈。　或黃牛屎尖，用陰陽水各一碗和勻，化開濾去渣，要醋一碗，大冬青葉四十九片，砂罐內文武火煮乾，留水醋半盞浸在內，每日換三次貼瘡，葉盡即消，永不發。　單用冬青葉醋煮熟貼亦效。（單方）</p>
<p><u>臁瘡潰爛</u></p>
<p>川椒　松香　黃蠟各一錢四分</p>
<p>共研。忌鐵器。用連根蔥白十四段共搗爛，做夾紙膏攤貼，效。（心岐傳）</p>
<p><u>血風瘡</u>（癬瘡、蟲瘡、坐板瘡、疥癩瘡並效）</p>
<p>大楓子肉五錢　蛇床子五錢　水銀二錢　枯礬　白錫各一錢</p>
<p>為末。先將錫化開，次入水銀，再入末藥、柏油共搗勻，搽瘡，宜幹些。臘豬油亦可用。（《單方秘錄》）</p>
<p><u>膿疥瘡</u></p>
<p>煙膏一兩　東丹一兩　雄黃　硫黃各三錢　輕粉一錢</p>
<p>為末，醃豬油調抹。如連片，將油紙攤藥，縛好不動，三日脫光。（《集驗秘方》）</p>
<p><u>惡瘡</u></p>
<p>雄黃一錢五分　杏仁三十粒（去皮）　輕粉一錢</p>
<p>為末，洗淨，以豬膽汁調上，二、三日即愈，百發百中。（種德堂方）</p>
<p><u>天泡瘡</u></p>
<p>天蘿水調宮粉敷上立愈。若日欠作爛、疼痛不已、膿水淋漓者，石膏（煅）、輕粉各一兩，青黛等分為末，瓦花汁調抹，立效。（《外科備要》）</p>
<p><u>坐板瘡</u></p>
<p>松香五錢　雄黃一錢</p>
<p>如濕加蒼朮二錢。為末和勻，綿紙包，捻作紙條二個，臘豬油溶化，浸透火燒，滴下油搽瘡上，立效。（《先醒齋筆記》）</p>
<p><u>凍瘡</u></p>
<p>五倍子、豬油搗成膏填入裂。　凍耳，用薑汁煎除；凍腳跟，茄根煎湯洗；凍折，油胭脂烘熱敷之，立效。（《集驗秘方》）</p>
<p><u>抓瘡</u>（傷水腫，痛難忍者）</p>
<p>用耳垢封之，一夕水盡出，全愈。鄭云甫云：「予常病此，一丐傳此方」。（採醫書）</p>
<p><u>火珠瘡</u>（其瘡如珠，始於發中，相染不已。亦有傷命者）</p>
<p>用生蘿蔔搗爛，將滴醋浸敷患處。</p>
<p><u>寒濕瘡</u></p>
<p>雞子煮熟，去白用黃，慢火炒去油，加黃柏末摻上，立效。</p>
<p><u>金絲瘡</u>（形如繩線，鉅細不一，上下至心即死）</p>
<p>治法：於瘡頭截住，刺之出血後嚼浮萍塗之即愈。（俱出《集驗》）</p>
<p><u>黃水瘡</u></p>
<p>取雄豬膽一個，黃柏一兩，浸，焙乾為末敷之。（周氏抄本）</p>
<p><u>瘌痢瘡</u></p>
<p>酒肉店內油透陳竹燈臺一個，劈碎裝磁瓶內，口上用舊髻鐵絲覆瓶上。倒轉下，再用一空磁瓶，以此瓶合於下瓶口上，用火煅之，其汁溜下，取抹瘡，神效。　一用石灰窯內燒過紅土基（流結上渣，輕虛而色赬者）四兩，百草霜、雄黃各一兩，膽礬六錢，榆皮三錢，輕粉一錢，豬膽汁調，剃頭搽之效。（積德堂陸氏方）</p>
<p>一用　花椒煎湯或苦參湯洗淨，豬骨髓或黃連末搽，神效。（周氏抄錄）</p>
<p><u>漆瘡</u>（木形人遇漆起泡，發癢變瘡，肢腫作痛，甚者寒熱交作）</p>
<p>用蟹唾抹之。或磨刀水泥塗；或杉木煎湯洗；或蟹殼、滑石研末，乾者蜜和塗之，濕者乾末摻之；或石膏、輕粉、韭汁調敷之。內服：元參、知母、石膏、人中黃、黃連、升麻、連翹、牛蒡各等分，甘草五分，淡竹葉二十片，煎之，不拘時服。忌浴熱水，兼戒口味，否則變為頑風癬，愈而又發者多矣。（《秘方集驗》）</p>
<p><u>肥瘡</u>（極凶者屢試屢驗）</p>
<p>苦參、胡麻、首烏、靈仙、甘草、石菖蒲、當歸、生地、連翹、蟬蛻、金錢花，酒煎服。</p>
<p>一用大楓子肉五錢，白信三分，油胡桃五個，共搗勻作三丸，夜間取一丸在心口，用手擦至二更天氣藥散開，仍聚胸膛，仰面而臥，次夕亦然。間一夜再擦一丸，七日後全愈。（鴻喜東方傳方）</p>
<p><u>頭面肥瘡</u></p>
<p>輕粉　飛丹　雄黃　白礬</p>
<p>等分研末，入蔥管內，兩頭扎煨過，加龜板灰少許，研。菜油調抹，立效。（《經驗良方》）</p>
<p><u>面上毒瘡</u>（初起者）</p>
<p>急尋水蜒蚰一、二條，用醬少許，共搗塗紙上，貼之即退。紙上留小孔出氣。此乃凌潢章秘傳極效方也。（談野翁試驗方）</p>
<p><u>海上仙方</u></p>
<p>頭面瘡、剝皮瘡。牛皮、破鞋各一兩，白礬、硫磺各五錢，舊氈三錢，一處燒為細末，豬油加面調，連擦三次，須烤乾。坐板、黃水、臁腿瘡、風癬、疥癩一掃光。（孫真人傳）</p>
<p><u>諸瘡</u>（不論肥、膕、膿、疥，濕、風、坐板，神妙）</p>
<p>硫黃三錢　雞蛋二個（煮熟去白用黃，用黃銅器內微炒，取油聽用）　胡椒四十九粒（為末）　菜油四兩　川椒三錢（去核焙末）</p>
<p>將二椒末並蛋油黃入菜油內熬數沸，擦瘡神驗。如疥瘡加飛礬少許。（《醫方秘授》）</p>

<h2>諸般癬瘡</h2>
<p><u>楊梅癬</u></p>
<p>枯礬　硫磺各一兩八錢　雄黃　膽礬　輕粉各一錢　川椒三錢</p>
<p>用生板油去皮，入藥擦破數次，其效如神。</p>
<p>一用乳香五分，硃砂、雄黃、沒藥、兒茶各一錢，　大楓子廿個　杏仁四十粒</p>
<p>搗爛，絹布擦之。</p>
<p><u>癬瘡蔓延</u></p>
<p>決明子一兩，為末，入水銀、輕粉少許，研不見星，擦破上藥，立瘥。（《東坡家藏方》）</p>
<p>一用斑蝥、雄黃、銅青等分為末，無根水調敷，起泡刺破，桕燭油敷，五、六次潔淨不發。　一用杜黃連（即羊蹄根）一握，洗淨搗濾汁，用白梅數枚，去核同汁搗爛。用甲片刮破患處，抹數次即愈，神效。（屢驗方）</p>
<p><u>鵝掌風癬</u></p>
<p>川烏　草烏　何首烏　花粉　赤芍　防風　荊芥　蒼朮　地丁各一兩　艾葉四兩</p>
<p>煎。先熏後洗，層層起皮，痛癢愈。（《醫方秘錄》）</p>
<p><u>荷葉癬</u></p>
<p>田螺一個，開靨，入信二分，待肉化水，抹上即痊。（古方）</p>
<p><u>牛皮癬</u>（及年久頑癬，神效）</p>
<p>紅粉霜五分　明礬　川槿皮　杏仁（去油，皮）一錢　密陀僧三錢</p>
<p>為末，津調抹，一日三次。三日全愈。　一用牛皮燒灰，油調敷。立愈。（《赤水玄珠》）</p>
<p><u>牛皮血癬</u></p>
<p>九硫一信三巴豆。俱為細末，菜油調。（古仙方）</p>
<p><u>頑癬</u></p>
<p>白信一分　硫磺九分　硝三分　白礬四分　冰片半分</p>
<p>為末，津調擦之。（秘方）</p>
<p><u>圈癬</u></p>
<p>榖樹皮剪如癬樣大小，以毛背一面用唾貼肉，以手不時撲之，即愈。（《秘方集驗》）</p>

<h2>獸蟲傷咬</h2>
<p><u>家犬咬</u>（先須忍痛，以河水捏淨血水為主）</p>
<p>生虎骨刮末擦咬處即愈。或刮肉店墩板上油膩拌砂糖敷，效。（《感應篇刻》）</p>
<p><u>虎傷</u></p>
<p>搗青松汁數斗，頻頻飲之，以渣敷咬傷處，頻易即效。（古方）</p>
<p><u>馬咬</u>（及踏傷）</p>
<p>服童便韭汁妙。寒水石末敷傷處，旬日亦愈。（《集驗方》）</p>
<p><u>貓咬</u></p>
<p>薄荷汁塗之有效。（戴厚禮方）</p>
<p><u>鼠咬</u></p>
<p>斑蝥燒灰，麝香少許，津唾調敷。或抹貓尿。（《單方纂要》）</p>
<p><u>蛇咬</u></p>
<p>細辛　白芷各五錢　雄黃五分</p>
<p>每服二錢末，酒下即效。（抄本）</p>
<p><u>蜈蚣咬</u></p>
<p>取蜘蛛置咬處自吮其毒，痛即止。（古仙方）</p>
<p><u>八腳蟲傷</u>（其蟲隱壁間，以尿射人。遍身生瘡，狀如湯火傷。）</p>
<p>烏雞翎燒灰，雞子清調敷。（《單方全集》）</p>
<p><u>蝸牛咬</u>（毒行遍身者）</p>
<p>青蓼子煎水浸之，立愈。不可近陰，令弱也。（《本草》）</p>
<p><u>蜘蛛咬</u></p>
<p>大藍汁一碗，入雄黃、麝香少許點患處，仍服其汁，神異之極。　昔一人被傷，頭面腫痛幾不救，服此兩日，作瘡愈。（傳信方）</p>
<p><u>蟢蛛傷</u></p>
<p>其蟲咬人至死，惟以桑柴灰煎取汁調白礬末，傳效。</p>
<p><u>蜂蠆毒</u></p>
<p>小便洗擦拭乾，用香油搽之；或雄黃末擦之；或蜂房末搽之。皆效。（《秘方集驗》）</p>
<p><u>蠍螫毒</u></p>
<p>蠍有雌雄兩種。雄者螫人，痛在一處；雌者螫人，痛牽便體。用井底泥敷患處，干則再易。或新汲水以青布隨痛處搭之，濕則再易。（秘方）</p>
<p><u>鐵胡蜂刺</u></p>
<p>取芋艿莽擦患處，其腫即止。無莽用子亦可。（《集驗方》）</p>
<p><u>壁虎咬</u></p>
<p>以清水淋壁上，注咬傷處，自愈。（《經驗良方》）</p>
<p><u>諸色惡蟲咬傷</u></p>
<p>薑汁先洗，用明礬、雄黃貼之，立效。（屢驗神方）</p>

<h2>諸般奇症</h2>
<p><u>截腸</u>（大腸頭出，名曰截腸。初截寸余者可治，若腸盡不治）</p>
<p>用芝麻油盛於器，臀坐上。飲天麻子汁數升愈。（《本草》）</p>
<p><u>蝨出怪病</u></p>
<p>臨臥渾身蝨出，血肉俱壞，每夕漸多，痛癢難言，且舌尖出血，身齒俱黑，唇動鼻開，但飲鹽醋湯半月，即安。（《夏子益奇疾方》）</p>
<p><u>筋肉化蟲</u></p>
<p>有蟲如蟹，走於皮下，作聲如兒啼。急用雄黃、雷丸各一兩，為末摻豬肉上炙熟，吃盡自愈。（《奇疾方》）</p>
<p><u>惡肉毒瘡</u></p>
<p>一女年十四，腕軟處生物如豆。半在肉中，紅紫色，痛甚。方士用水銀四兩、白紙二張，揉熟蘸擦之，三日自落。（《李樓怪症方》）</p>
<p><u>行步歪邪</u></p>
<p>昔一士兩足不酸不痛，每行動絕不聽其所用，或扭於左而又墜於右；或扭於右而又墜於左，之立而行不能一步步正走，孫文垣以為由筋軟不能束骨所致，用人參、黃耆、白芍，以補肺金；苡仁、虎骨、龜板、杜仲以壯筋骨；以鐵華粉專制肝木。煉蜜為丸，早晚服之竟愈。（三吳治驗）</p>
<p><u>破腸</u></p>
<p>腸破，腸出鼻穢。急以香油摸腸，用手送入，煎人參、枸杞淋之，皮自合矣。吃羊腎粥十日即愈。（《奇疾方》）</p>
<p><u>胍溢</u></p>
<p>毛竅血出。若血不出，其脹如臌，須臾眼耳口鼻被氣脹合，此名胍溢，飲生薑汁、水各一盞即安。（奇方試驗）</p>
<p><u>大腸蟲出</u>（行坐不得）</p>
<p>用鶴蝨灰，水調五錢，服之自愈。（奇症單方）</p>
<p><u>腎水</u></p>
<p>玉莖硬不酸，精流無歇，乃為腎滿。用韭菜子、破故紙各兩為末，每服二錢，水一鍾煎六分，分作三次飲，愈則停服。（《經驗良方》）</p>
<p><u>咽喉生肉</u></p>
<p>咽喉層層生肉相疊，漸漸腫起。</p>
