<header data-type="book">
<h1>醫略十三篇</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>蔣寶素</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1840">公元1840年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第五冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521055">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>醫略十三篇序</h1>
<p>《醫略十三篇》，乃京口蔣君寶素手著。京口於吾吳為同里，是亦延陵一大郡會也。予自歷官臺省，垂四十年，於裡閈奇材異能之士，鮮所知者。向聞王九峰、蔣椿田工岐黃術，名噪一時，寶素則椿田之哲嗣，而九峰之高足弟子也。近亦有聲大江南北，生平好讀三墳，銳志於扁盧之學，其造詣之淺深高下，雖知之未悉，然能述父師之訓，折衷於三折肱諸家之說，本經義以立言，而著為是編，則其用力於《靈樞》玉板之書，概可見矣。昔範文正有言，不為良相，當為良醫。寶素則謂為醫等於為相，以為方家之刀圭量劑，可通於宰輔之鼎鼐和調。會予方忝任保衡，乃因其同邑及門李雨人殿撰請序於予，將以徵信於時。書不云乎，若藥弗瞑眩，厥疾弗瘳。史有之良藥苦口利於病，忠言逆耳利於行。然則，寶素所為比例於良相良醫之論，理或然與。雖然，予滋愧矣。爰書以質之寶素弁諸簡端。</p>
<p><u>吳縣潘世恩撰</u></p>

<h1>醫略序</h1>
<p>陰陽風雨晦明，天之六氣也。陰淫寒疾，陽淫熱疾，風淫末疾，雨淫腹疾，晦淫惑疾，明淫心疾，是六氣者乃人生致疾之原也。蓋人生不能無病，治病必先賴乎醫。是醫也者，病人生死之所寄也。顧不重乎。治病者必先求之於形與神，然後求之於藏府。能求之於形神藏府，即有危險之症，亦莫不了如指掌，而得心應手矣。無如今之時醫，於人有疾，不論其輕重虛實，概目之曰感冒風寒，飲食停蓄。不知傷寒者則惡寒，傷食者則惡食。果傷乎食，在病者自不欲食，今並能食者而亦禁之，將正氣漸虧，百病從茲而入，甚可危也。抑知人之所恃者正氣耳。使正氣充足，則百病無由而入。如正氣不足，則難言之矣。豈止於一感冒風寒飲食停蓄不能霍然而愈已耶。以是推之，則人之正氣不能不固也明矣。即如書中所言人之各病之事甚夥，內有論伏邪一篇，誠可謂剴切詳明，無微不至，深得夫醫理，足為後世之楷模也。彼世醫其能辨之耶。縱能辨之，亦僅辨夫外感之初症，而難辨夫內伏之危症也。予素不習醫，於凡醫家之言，無不細為留意。顧方書雖多，而其議論百出不窮，悉未能細考其實，難免無誤。今因柳君賓叔見示京口蔣君寶素手著《醫略》一書。蔣君，京口人也。於吾為同里，是亦延陵一大郡會也。其言人之致疾之原，無不深求其故，已非世之為醫者所能及其萬一，而尤詳者，則莫過於《醫略》中之關格考、人迎辨兩篇。此可謂濟世之書也。可謂傳世之書也。即使扁鵲倉公復生，亦無出乎其右矣。爰此筆以書之。是為序。</p>
<p><u>時道光二十八年二月揚州阮元撰</u></p>

<h1>醫略序</h1>
<p>語云：醫之為言，意也。夫人而知之矣。然世之業俞雷者，所在而有其庸庸者無論矣，即專門名家，或拘於偏見，或泥於古方，可以偶一弋獲而未可以百發百中，誠欲得醫之意，必萬全而無害者，不數數覯，予自宣撫粵西，以四時皆夏，一雨成秋之風土，時嬰小疾，未暇延醫，間嘗就驗方以意為之，無不應手立瘥。一日與李雨人學使相過從，談次及之。雨人為言其錦鄉丹徒有蔣君寶素其人者，幼以貧而失學，比長乃究心經籍，銳志學醫。承其父椿田老人家傳，且得名醫師王九峰氏秘授。未幾而聲譽驟起，所至之處，其病若失。因示其所著《醫略》一書。讀之於表裡陰陽虛實之辨，與夫心肝脾肺腎之源，直可按圖而索驥。蓋其書原本經術，參考諸家，而撮其要旨，病雖萬變，理必一歸，察脈既真，斯投劑不妄。其目僅十有三篇，而方術家之能事畢矣。奚必博稱遠引，侈陳夫青囊金匱為哉。用為述其大略如此。</p>
<p><u>中州周之琦序</u></p>

<h1>序</h1>
<p>今之所謂學問者，吾知之矣。日手一編，咿唔不輟，閱時稍久，則援筆學為文詞，雅鄭不分，朱紫變色。遇有好之者，從而稱道之，則名大噪。號召生徒，推演流派。甚則取青紫，持風氣文章經濟，彪炳一時。然而其中之為是為非，為真為偽，吾烏乎辨之哉。今欲持一民一物，以驗其讀書之是否有用，蓋莫醫若矣。醫學始於神農黃帝，其書在未有六經之前。六經所以經世，而未始不與醫理相發明者。人身一小天地，經脈貫注，肌髓淪浹，其理日流行於兩間。道之與藝，未嘗有二，均非淺學之士所能道。然而儒術猶有幸中之時，是非可否，無所憑以發其覆。惟醫則按脈切理，投劑立效，輕則為離合，重則為死生。士大夫不能博施濟眾，其可以隨分自盡，以展其有用之學者。儒固不知醫也。吾友蔣子寶素，年甫志學，即學醫務精其業，多讀書以養其原，其診脈也洞見癥結，言足以顯其情，沉疴痼疾，應手若失。余不知醫理，但觀其效，以為邑有蔣子，一邑之厚幸也。比又見所著《醫略》，原本家學，闡發師傳，證以六經，參以各說，食古而化，因時制宜。然後知其用心之摯，非儒者剽竊所可同，出而問世，是非真偽，必有能辨之者。是書既傳，庶乎醫學之不墜，而人皆有生理矣。蔣子體羸瘠若不任事，而風度颯爽，神明殊勝，知其有異人者。比年患怔忡，蓋思慮過甚所致。余深願其慎自珍重，益廣其業，令天下得見全書。雖不能爭相延請，而緣其立說以為準則，由是伸躄起廢，各為全人。是則蔣子所加惠者，固不獨一邑之人已也。</p>
<p><u>道光辛丑歲抄同里愚弟李承霖序</u></p>

<h1>醫略十三篇序</h1>
<p>予素不知醫，亦不信醫。非固也，誠以醫之為道，貴能觀虛實，辨陰陽，其理甚微，其效甚捷。譬諸水然，水可以載舟，亦可以覆舟，醫可以活人，亦可以戕人。然水猶載舟之力居多，而醫則戕人之勢常勝，故不敢知而亦未嘗輕信也。丹徒蔣君寶素，幼極貧，年十四始識字，述乃翁椿田老人家學，並從里中良醫王九峰遊，盡得其傳。不數年而聲華藉甚，遠近爭迎者紛至沓來，不啻和緩之往還於秦晉也。於是本之經術，邃於方劑，自《素問》紫書，旁及仲景、東垣諸名家，芟其蕪雜，薈其精英，著《醫略十三篇》。及門李雨人殿撰攜之京邸，導其意問序於予。取而觀之，覺理之微者無弗顯，效之捷者益其神。凡君臣佐使表裡寒熱諸大端，舉其粗略，而他本之詳，都不外是。將吾意所解而口不能宣者，亦莫不能瞭然在目。術家脫皆由是引而伸之，觸類而長之，庶乎其易知易能而亦可以深信無疑也夫。是為序。</p>
<p><u>成都卓秉恬撰</u></p>

<h1>醫略序意</h1>
<p>天覆地載，萬物悉備，莫貴於人。人所生者神也，所託者形也。疾病所傷者，形與神也。形與神俱則生，形與神離則死，死者不可復生，離者不可復反，故聖人重之。神農著《本草》，黃帝著《內經》，上揆之天，下驗之地，中審之人。世異時移，因機動變，使各得其所，不致夭殃。然非明哲，孰能究其文，通其意，以應萬病。幾千年來，得其要領者，越人設問難，仲景述傷寒而已。甚矣哉，天下疾病若彼其蕃變也。明哲如此其難得也。以天下疾病之蕃變，而求不世出之明哲，此慎疾者之所共憂也。即使明哲生於當時，無能親身戶治天下之病，即使身親其役，又烏能使天下之人盡知明哲之為明哲也。嗟乎！古今之遠，歲月之長，海宇之廣，疾病之多，俗情之廖，藥石無知，生死難明，藏府不能言，扁鵲仲景不可復生也。（素）甚懼焉，乃因家君醫話，業師醫案，著《醫略》八十一卷，先刻六淫門十三卷以問世，幸天下明哲，惠而教我。</p>
<p><u>時道光二十年庚子冬至日鎮江蔣寶素自序於快志堂</u></p>

<h1>卷一</h1>

<h2>真中風第一</h2>
<p>《椿田醫話》曰：第一真黃風湯，主治真中風初感一切形證，可代大小續命等湯。見五絕者不治，口開心絕，手撒脾絕，眼合肝絕，遺尿腎絕，聲如鼾呼肺絕。</p>
<p>嫩黃耆（三錢）　防風根（八分）　雲茯苓（三錢）　炙甘草（五分）　製半夏（錢半）　福橘皮（一錢）　當歸身（三錢）　赤芍藥（錢半）　豨薟（三錢）</p>
<p>長流水煎，入竹瀝三錢，薑汁五分和服。一二劑，或三五劑，至十劑後，六經形證悉退。里證未清者，接服第二方。</p>
<p>第二真黃風湯，主治真中風初感，服第一真黃風湯後，六經表證已解，里證未除，或二便阻隔，或變色，或神志不清，或語言蹇澀，或口目喎斜，或半身不遂，舌苔或白滑，或黃厚，或黧黑，胸次或舒或不舒，飲食或進或不進，皆主之。</p>
<p>炙黃耆（三錢）　防風根（五分）　雲茯苓（三錢）　製半夏（錢半）　炙甘草（五分）　福橘皮（一錢）　當歸身（三錢）　人參（錢半）　桂水炒白芍（錢半）　豨薟（三錢）　麩炒枳實（五分）</p>
<p>長流水煎服，一二劑，或三五劑，及至十劑後，里證向安。或證言微蹇，或面戴陽色，或消穀善飢，或飲食少進，或濁痰未清，或肢體無力，或無故多思，或怔忡驚悸不寐等證，接服第三方調理。</p>
<p>第三真黃風湯，主治真中風，服前二方，表裡俱和，諸證悉退，或二氣未充，或余氛未盡，宜此方調理，真善後之良法也。</p>
<p>炙黃耆（三錢）　防風根（三分）　人參（錢半）　大熟地（四錢）　雲茯苓（三錢）　炙甘草（五分）　製半夏（錢半）　福橘皮（一錢）　麩炒枳實（五分）　豨薟（三錢）</p>
<p>長流水煎服一二劑，或三五劑至十劑後，或更以十劑為末，水疊丸，每早晚開水服三錢。</p>
<p>《易》曰：撓萬物者，莫疾乎風。</p>
<p>《莊子·內篇》曰：夫大塊噫氣，其名為風。</p>
<p>《呂氏春秋·有始覺》曰：何謂八風，東北曰炎風，艮氣所生，一曰融風。東方曰滔風，震氣所生，一曰明庶風。東南曰薰風，巽氣所生，曰清明風。南方曰巨風，離氣所生，一曰凱風。西南曰悽風，坤氣所生，一曰涼風。西方曰飂風，兌氣所生，一曰閶闔風。西北曰厲風，乾氣所生，一曰不周風。北方曰寒風。坎氣所生，一曰廣莫風。</p>
<p>《史記·律書》曰：不周風居西北，主殺生，又曰：廣莫風居北方。廣莫者，言陽氣在下，陰莫陽廣大也。又曰：條風居東北，主出萬物。條之言條治萬物而出之。又曰：明庶風居東方。明庶者，明眾物盡出也。又曰：清明風居東南維，主風吹萬物。又曰：景風居南方。景者，言陽氣道竟。又曰：涼風居西南主地。地者沉奪萬物氣也。又曰：閶闔風居西方。閶者，倡也。闔者，藏也。言陽氣導萬物闔黃泉也。</p>
<p>又《扁鵲倉公列傳》曰：臣意常診安陽武都里成開方，開方自言以為不病，臣意謂之病苦沓風，三歲四支不能自用，使人喑，喑即死。今聞其四支不能用，喑而未死也。病得之數飲酒以見大風氣。所以知成開方病者，診之其脈法奇咳言曰：藏氣相反者死，切之得腎反肺，法曰：三歲死也。</p>
<p>《說文》曰：痱，風病也。痱病因外感為真中，因內傷為類中。</p>
<p>《左傳·昭元》曰：晉侯求醫於秦伯，秦伯使醫和視之。又曰：風淫末疾。</p>
<p>《東觀漢記》曰：明帝行幸諸國，敕執金吾憑魴將緹騎宿元武門復道上，詔曰：復道多風寒，左右老人且病痱，多取帷帳，東西完塞，窗牖皆令緻密。</p>
<p>《後魏書》曰：臨淮王潭孫孚好酒後遇風，患手足俱痹，口不能言，乃左手書畫地作字，乞解所任。</p>
<p>《開河記》曰：隋大總管麻叔謀病風逆，起坐不得，煬帝命太醫令巢元方視之曰：風入腠理，病在胸臆，須用嫩肥羊蒸熟糝藥食之則瘥。如其言，未盡劑而痊。</p>
<p>《唐書》曰：許裔宗，常州義同人也。初仕陳為新蔡王外兵參軍時，柳太后感風不能言，名醫療皆不愈，脈益沉而口噤。裔宗曰：既不能下藥，宜以湯藥薰之。藥入腠理，周時可瘥。乃造黃耆防風湯數十斛，置於床下，氣如煙霧，其夜便得語。</p>
<p>江陵府節度使成訥進豨薟丸方略曰：臣有弟訮年二十一，中風伏枕五年，百醫不瘥。有道人鍾針，因睹此患，曰：可餌豨薟丸必愈。其草多生沃壤，高三尺許，節葉相對，當夏五月以來收之。每去地五寸剪刈，以溫水洗去泥土，摘葉及枝頭，凡九蒸九暴，不必太燥，但以取足為度，仍熬搗為末，煉蜜丸如梧子大，空心溫酒或米飲下二三十丸。服至二千丸，所患愈加，不得憂慮，是藥攻之力。服至四千丸必得復，至五千丸當復丁壯，臣依法修合，令訮服之，果如其言。服後須吃飯三五匙壓之。五月五日採者佳。奉敕宣付醫院詳錄。</p>
<p>知益州張詠進豨薟丸表略曰：竊以餐石飲水，可作充腸之饌。餌松含柏，亦成救病之功。是以療飢者不在於羞珍，愈病者何煩於異術。倘獲濟時之藥，輒陳鄙物之形，不恥管窺，輒干天聽。臣因換龍興觀掘得一碑，內說修養氣術並藥方二件。依方差人訪問採覓，其草頗有異金稜銀線，素莖紫荄，對節而生，蜀號火杴。莖葉頗同蒼耳，不費登高歷險，每常求少獲多，急採非難，廣收甚易。倘勤久服，旋見神功。誰知至賤之中，乃有殊常之效。臣自服至百服，眼目清明，即至千服，髭鬚烏黑，筋力輕健，效驗多端。臣本州有都押衙羅守一，曾因中風墜馬，失音不語。臣與十服，其病立瘥。又和尚智嚴，年七十忽患偏風，口眼喎斜，時時吐涎。臣與十服，亦便得痊。今合一百劑，差貢史元奏進。</p>
<p>《九峰醫案》曰：邪之所湊，其氣必虛。卒然傾跌，識不清，口眼喎斜，口蹇澀，溲赤而渾，苔黃而厚，脈來沉數。陰虧水不涵木，七情鬱結化火，風邪乘襲，厥陰橫擾陽明，目為肝竅，胃脈挾口環唇，肝在聲為呼，胃受疾為噦，諸汗屬陽明，謹防呃逆鼾呼大汗。擬玉屏風散、升麻葛根湯，二方加減，外以桂酒塗頰。</p>
<p>嫩黃耆（三錢）　防風根（一錢）　冬白朮（錢半）　綠升麻（三分）　葛根（一錢）　白芍藥（錢半）　大生地（四錢）　當歸（三錢）　炙甘草（五分）</p>
<p>桂酒塗頰法：用油肉桂三錢為細末，高燒酒二兩，煎百沸，塗兩頰，不必拘左右，加入馬脂更妙。</p>
<p>昨藥後，夜來神志漸清，語言漸爽，黃苔漸腐，身有微熱微汗，大解一次，溲轉渾黃，沉數之脈依然，口目喎斜未正。證本陰虛火盛，情志乖違，腠理開疏，為風所襲，擾亂厥明之絡，原方加減，仍以桂酒塗頰。</p>
<p>炙黃耆（三錢）　防風根（一錢）　冬白朮（錢半）　煨葛根（一錢）　白芍藥（錢半）　炙甘草（五分）　大生地（四錢）　當歸身（三錢）　人參（二錢）</p>
<p>厥陰為風木之臟，陽明為十二經脈之長，真陰素虧，肝木自燥，木燥召風，虛風直襲，攻其無備，是以卒中之也。連進玉屏風散、升麻葛根湯二方加減，神識已清，語言已爽，飲食頗進，身熱得微汗已解，大便如常，溲色較淡，黃腐之苔較退，沉數之脈亦緩。惟口目仍斜，風淫未盡，真陰未復，原方加減，仍以桂酒塗頰。</p>
<p>嫩黃耆（三錢）　防風根（一錢）　冬白朮（錢半）　煨葛根（一錢）　獨活（一錢）　白芍藥（錢半）　大生地（四錢）　當歸身（三錢）　人參（二錢）</p>
<p>諸證悉平，惟口目之斜較前雖好，未能如故。口目常動，故風生焉。耳鼻常靜，故風息焉。肝氣通於目，胃脈環於口，必得肝胃沖和，口目方能平復，原方加減，仍以桂酒塗頰。</p>
<p>嫩黃耆（三錢）　防風根（一錢）　冬白朮（錢半）　煨葛根（一錢）　當歸身（三錢）　白芍藥（錢半）　人參（錢半）　大生地（四錢）　白蒺藜（三錢）</p>
<p>病原已載前方，惟口眼仍斜，未能如故。肝為藏血之臟，胃為水穀之海，證本血燥召風，風翻胃海，氣脈為之動變，霾曀上冒清空，分布不周於本絡，以故口目喎斜，斜乃風之象也。服藥以來，風淫雖解未盡，陰液雖復未充，氣脈未能流暢，水能生木，土能培木，當以脾腎為主，擬六味、歸脾加減為丸，以善其後。</p>
<p>大熟地（八兩）　粉丹皮（三兩）　福澤瀉（三兩）　懷山藥（四兩）　白茯苓（三兩）　人參（二兩）　冬白朮（三兩）　炙甘草（一兩）　當歸身（三兩）　肉蓯蓉（三兩）　酸棗仁（三兩）　遠志肉（兩半）</p>
<p>為末，水疊丸。每早晚開水服三錢。</p>
<p>年近七旬，天令暴冷，爐炎左側，大白頻浮，酒漬於內，熱炙於外，左頰汗出如漿，虛風得以乘之，擾亂三陽之絡，口喎於右，目眇於左，脈來浮數，按之則緩。擬玉屏風散加味輔正散風，是否候酌。</p>
<p>炙黃耆（三錢）　防風根（一錢）　冬白朮（二錢）　雲茯苓（三錢）　炙甘草（五分）　製半夏（錢半）　福橘皮（一錢）　煅牡蠣（三錢）　福澤瀉（錢半）　鹿銜草（二錢）</p>
<p>又照原方加　人參（一錢）　老蘇梗（一錢）</p>
<p>連進玉屏風加味，左頰之汗已收，口目之斜俱正，浮數之脈亦緩，風淫已散，第尊年二氣本虧，是以風邪易襲，宜常服十全丸，以杜後來之患。十全丸即十全大補湯為丸。</p>
<p>遍身麻痹，日目蠕瞤，眉稜骨痛，按之益甚，年逾四十，形豐脈軟，風襲陽明，營衛俱傷，血凝氣阻，名曰肉苛。慎防傾跌。</p>
<p>人參（三錢）　炙黃耆（三錢）　防風根（一錢）　冬白朮（二錢）　炙甘草（五分）　當歸身（二錢）　福橘皮（一錢）　銀柴胡（七分）　綠升麻（五分）　鮮生薑（一片）　大黑棗（二枚）</p>
<p>經以營氣虛則不仁，衛氣虛則不用，營衛俱虛則不仁且不用，肉如故也。服補中益氣加味，半月以來，苛痹漸蘇，瞤動漸止，營衛風淫漸散，眉稜骨痛亦平，軟散之脈亦斂，胃者衛之原，脾乃營之本，升補中州以充營衛，前賢良法，原方加減為丸緩治。</p>
<p>大熟地（八兩）　當歸身（三兩）　懷山藥（四兩）　炙甘草（一兩）　人參（三兩）　福橘皮（一兩）　銀柴胡（三錢）　綠升麻（三錢）　嫩黃耆（三兩，防風三錢，煎水炒）</p>
<p>為末，生薑三兩，大棗三兩，煎水疊丸，每早晚開水服三錢。</p>
<p>經以虛邪偏客於身半，其入深，內居營衛，營衛虛，則真氣去，邪氣獨留，發為偏枯。身偏不用而痛，言不變，志不亂，病在分腠之間，益其不足，損其有餘，乃可復也。</p>
<p>大熟地（八兩）　當歸身（三兩）　川芎（兩半）　人參（三兩）　白芍藥（二兩）　炙黃耆（三兩）　冬白朮（三兩）　炙甘草（二兩）　製附子（一兩）　桂枝木（一兩）　防風根（一兩）　獨活（一兩）　虎脛骨（二兩）　乳香（一兩）　沒藥（一兩）</p>
<p>為末，水疊丸，每早晚開水服三錢。</p>
<p>形充脈弱，氣歉於中，分腠不固，常多自汗，為風所引，腎水上泛，脾液倒行，凝滯成痰，機竅阻塞，卒然昏憒無知，氣促痰鳴言蹇，舌苔白滑，胸次不舒，木旺金衰，正不敵邪，防其汗脫。</p>
<p>藿香梗（一錢）　老蘇梗（一錢）　白茯苓（三錢）　炙甘草（五分）　製半夏（錢半）　福橘皮（一錢）　冬白朮（錢半）　制南星（一錢）　肥桔梗（一錢）</p>
<p>自喊顛疼，問之則否，身有微熱微汗，肌膚粟起，眠不竟夕，痰涎上湧，苔白滑，胸痞言蹇，欲大解，小便先行，淋瀝不爽，六經渾淆，二便互阻，七情內傷，風淫外襲。昨進藿香正氣加減，未見效機。正不敵邪，謹防大汗。照原方加人參八分，正氣散護衛外以祛風，六君湯益中土以清痰。服後神識已清，夜來安寐，身熱退，自汗收，舌強和，痰聲息，弱脈起，邪退正復之機。惟右肢苛痹，乃偏枯之象，證本脾腎雙虧，氣虛挾痰，分布不周，風淫末疾，煎方加減為丸緩治。</p>
<p>人參（八錢）　白茯苓（三兩）　冬白朮（三兩）　炙甘草（八錢）　製半夏（二兩）　福橘皮（一兩）　明天麻（兩半）　嫩黃耆（三兩，防風三錢，煎水炒）</p>
<p>為末，竹瀝二兩，生薑汁一兩，和開水疊丸，每早晚開水服三錢。</p>
<p>二氣貫於一身，不必拘左血右氣，偏枯於右，痛無定止，逢陰雨煩勞益甚，乃風痹之屬，延今二載有餘，脈沉澀無力，食入作嘔，大便恆溏，風淫於胃，濕著於脾，分布不周於脈絡，致有陰陽異位，更虛更實，更逆更從之患，外以晚蠶沙煎水洗患處。</p>
<p>人參（二兩）　炙黃耆（八兩）　防風根（八錢）　雲茯苓（五兩）　全當歸（四兩）　虎脛骨（三兩）</p>
<p>為末，羊肚一具，生薑三兩，川椒三錢，粳米半升，淡竹瀝三兩，煮爛取濃汁為丸，每早晚開水服三錢。</p>
<p>五行之速，莫如風火，邪之所湊，其氣必虛，風邪卒中，必挾身中素有之邪，素本陰虧火盛，火召風入，風彰火威，風火盤旋，形神如醉，消穀善飢，溲赤苔黑，心火暴甚，腎水必虛，肺金既摧，肝木自旺，宜先服瀉心湯，觀其進退。</p>
<p>製半夏（三錢）　黃芩（錢半，酒炒）　淡乾薑（五分）　炙甘草（五分）　人參（一錢）　川黃連（八分）　大黑棗（三枚）</p>
<p>曾經傷風咳嗽痰多，漸至步履欹斜，語言蹇澀，痰涎上溢，三載以來，痰嗽由漸而止。現在涎唾不禁，舌蹇難言，身形強直，脈來弦數，腎陰素虧，子竊母氣，肺損於上，為風所引，傳之於肝，肝主一身之筋，筋弱不能自收持，肝復傳之於脾，脾傷則四肢不為人用，脾復注之於胃，胃緩則廉泉開，故涎下不禁。所服之方，都是法程。寡效者，病勢苦深也。張長沙云：病勢已成，可得半愈。病勢已過，命將難全。勉擬一方，盡其心力。</p>
<p>大熟地（五錢）　人參（一錢）　當歸身（三錢）　雲茯苓（三錢）　炙甘草（五分）　製半夏（錢半）　福橘皮（一錢）　冬白朮（三錢）　炮姜（五分）</p>
<p>蔣寶素曰：真中風者，真為風邪所中。卒然擊僕偏枯，神昏不語等證，與陰虧火盛，陽虛暴脫之擊僕偏枯，神昏不語等證相類，而真偽難分，卻真有風形可據之證也。《靈樞·刺節真邪論》曰：虛邪偏客於身半，其入深，內居營衛，營衛稍衰，則真氣去，邪氣獨留，發為偏枯。又九宮八風篇曰：八風皆從其虛之鄉來，乃能病人。三虛相搏，則為暴病卒死。其有三虛，而偏中於邪風，則為擊僕偏枯矣。又歲露篇曰：三虛者，其死暴疾也。乘年之衰，逢月之空，失時之和，因為賊風所傷，是謂三虛。《素問·風論篇》曰：風之傷人也，或為寒熱，或為熱中，或為寒中，或為偏枯。又曰：風者善行而數變。又曰：心風之狀，多汗惡風，善怒，赤色，甚則言不可快。又六元正紀大論曰：木鬱之發，太虛埃昏，雲物以擾，大風乃至。甚則耳鳴眩轉，目不識人，善暴僵仆。又至真要大論曰：諸風掉眩，皆屬於肝。諸暴強直，皆屬於風。此《內經》諸篇，言暴病卒死，擊僕偏枯，言不可快，眩轉，目不識人，善暴僵仆，掉眩強直，乃風乘虛入，如此其明且著也。而河間、東垣、丹溪反謂中風非外來之風，何耶？吾友孫蘭亭曰，風之中人，猶矢之中鵠。人之中風卒倒，何異中矢而倒，故經曰：避風如避矢石然。若以中風非外來之風，是猶無矢而云中鵠，有是理乎。此河間以來諸賢有不得辭其責也。至於中寒、中暑、中氣、中痰等證，猶類中之中，皆仿中風中字之義。《難經》列中風與傷寒、濕溫、熱病、溫病同歸一體，《左傳》言風淫末疾，即今之苛痹偏枯諸證。太倉公言病沓風，（沓風，乃前後重沓受風。風伏於內，復感風而發之證。）四肢不用，使人喑，喑即死，即今之中風不語。《金匱要略》言風之為病，當半身不遂，及喎僻不識人，舌難言，口吐涎。《傷寒論》云：言遲者風也。華元化言中風之病，口禁筋急，舌強，手足不遂，偏枯失音等證甚詳。《後魏書》言臨淮王孫孚好酒遇風，手足俱痹，口不能言。巢元方言風證奄忽不知人，舌強不能言，口禁不開，口喎，目不能平視，四肢不收，暴絕如死，孫思邈言偏枯、風痱、風懿、風痹，及卒暴諸病，皆從風得。諸家之論如是，上與經旨相符，下與今之中風諸證相合，豈可謂非外中於風歟。《唐書》許裔宗治柳太后感風不能言而口禁，用黃耆、防風數十斛置床下薰蒸，此從風治而愈。成訥張詠進豨薟丸表，言豨薟治中風良愈，亦從風治。由是觀之，自春秋以來，至於李唐北宋，論中風皆宗《靈》《素》，作外入風淫論治。自宋金劉河間，始謂中風非外中於風，由乎將息失宜，心火暴甚，腎水虛衰，不能制之，則陰虛陽實。又云：陽實陰虛，而風熱太甚以勝水濕，因而成燥。肝主於筋，而風氣自甚。此河間主火立說，蓋錯認《內經》陰虧火盛之擊僕偏枯無風似風諸證，以證有風之擊僕偏枯諸證為非是。又云：風熱太甚，風氣自甚，（蘭亭注曰：風熱風氣謂肝木化風，則背經義，謂外來之風，則自相悖戾。）遂自相矛盾，而起後世之疑。李東垣曰：中風者，非外來風邪，乃本氣自病。凡人年逾四旬，氣衰之際，或憂喜忿怒傷其氣者，多有此疾。壯歲之時無有也。若肥盛者，則間有之，亦是形盛氣衰而如此耳。此東垣主氣立說，蓋錯認《內經》陽虛暴脫之擊僕偏枯無風似風諸證，以證有風之擊僕偏枯諸證為非是，同於河間之誤。張子和言掉搖眩運，紆曲勁直，手足制顫，目斜口喎，頓僵暴僕，昏不知人，為風木之象，厥陰肝木之用，肝木所以自甚者，蓋肺金為心火所制，不能勝木故也。此子和明知經義中風，乃風淫外入，又惑於河間主火之說，遂以肺金為心火所制，不能平木，木火召風，兩存其說，依違無決。朱丹溪曰：中風大率主血虛有痰。按《內經》以下，皆謂外中風邪，然地有南北之殊，不可一途而論。由今言之，西北二方，亦有真為風所中者，但極少耳。東南之人，多是濕土生痰，痰生熱，熱生風也。此丹溪主痰立說。蓋不捨經義，又惑於河間、東垣之論，強分南北，曲為之解，遂以東南無中風，以附會河間、東垣之意，豈其然乎。王安道謂劉、李、朱三子，以類中風之病視為中風而立論，故使後人狐疑而不能決。殊不知因於風者，真中風也。因於火，因於氣，因於濕者，類中風而非中風也。三子所論者，自是因火、因氣、因濕而為暴病暴死之證，與風何相干哉。如《內經》所謂三陰三陽發病，為偏枯痿易，四肢不舉，亦未嘗必因於風而後能也。此安道之論，誠絕類離倫之見。然因於風，不因於風，何所憑哉，並無確證可據，為未盡善也。劉宗厚在涼州，親見大風起自西北路，死者數人，可為中風暴死之據。王肯堂分六經形證，以小續命湯加減主之，是從風治。又云：血弱不能養筋，故手足不能運動，舌強不能語，治宜大秦艽湯。此以風藥治無風之證，又云每用諸汁，以收奇功。此又以不治風之藥以治風證，何其錯亂。張景岳立非風門，（余友左子木曰：張景岳立非風門，而諸風門又有類中之名，夫非風與類中何以分也。若以《內經》並諸賢所論類中之名，當非風門之實，則諸風門所云類中，將何所指耶。若以《內經》並諸賢所論類中之實，當諸風門類中之名，則非風門何所指耶。既以暴脫諸證為非風，則諸風門不必復立類中之名。既有類中之名，又何以有非風名也。名色既多，混人耳目，貽誤後人，豈容不辨。）論中風曰：單用河間、東垣之意，竟以非風名之。又立諸風門曰：風有真風、類風，不可不辨。引九宮八風、歲露、金匱真言諸篇為真風之據，蓋不敢背經義，而惑於河間、東垣之論，遂自相悖戾如此。喻嘉言謂陽虛，邪害空竅為本，而風從外入者，必挾身中素有之邪，或火或氣或痰而為標耶。此亦不捨經義，又從三子，語涉兩歧，混而莫辨。夫自河間一誤，遂致後世依違莫定。然則，何以辨之。曰：同一擊僕偏枯，神昏不語等證，有邪證邪脈可據者。真中風也。無邪證邪脈可據者，陰虧火盛，陽虛暴脫等證，即類中風也。河間以前所論者真中風也。河間以後所論者，類中風作為真中風，反以真中風為無風之證也。所謂邪證者，前列經義，言之已悉，更以苔厚溲渾為主，其苔或白或黃，或灰或黑，或滑或澀，甚則苔黑起刺，或干赤起刺，其溲或白或黃，或赤或紫，皆渾濁不清，其他如頭疼身痛，憎寒發熱，神煩不寐等證，與傷寒伏邪門同證者皆是也。所謂邪脈者，其脈不必深求，但見軟數虛弦不靜者是也。夫風之中脈也，如水之得風也。軟數虛弦不靜者，乃風馳水逝之象也。所謂無邪證邪脈，見類中風門，持是以往，足以破近古之疑，而得病之情實，故特立真中風門，以告夫同志者。傷風證必咳嗽，即中風之輕者。見咳嗽門，茲不贅。</p>
<p>略曰：金匱侯氏黑散，風引續命諸湯，治中風善矣。然世異時移，近代嗜欲無窮，憂患不止，人稠稟薄，二氣常虧，多有不堪峻劑者，故業師醫案，每用玉屏風散，家君醫話新制黃風湯，俱宗許裔宗治柳太后之意，可以類推矣。</p>

<h2>真中風論列方</h2>
<p>十全大補湯（一）　侯氏黑散（二）　風引湯（三）　續命湯（四）　玉屏風散（五）</p>

<h1>卷二</h1>

<h2>類中風第二</h2>
<p>《椿田醫話》曰：第一類黃風湯，主治類中風，擊僕偏枯，神昏不語等證，與真中風相類，但小便不渾，舌苔不厚，別無邪證邪脈可據者，唯見五絕不治。（五絕見真中風門。）</p>
<p>大熟地（八錢）　人參（三錢）　雲茯苓（三錢）　淮山藥（四錢）　當歸身（三錢）　枸杞子（三錢）　山萸肉（四錢）　大麥冬（三錢）　五味子（一錢）</p>
<p>甘瀾水（取甘瀾水法，以千里長流水數斗，傾於盆內，用木杓揚之數千遍至萬遍更妙。）煎服。若陽虛欲脫者，加製附子錢半，鹿茸二錢。若陰虧已極，加黃柏一錢，龜板三錢。若牙關不開，藥不能入者，用蘇合香丸擦牙即開，或烏梅肉亦可。本方服二三劑，或五七劑至十劑後，不見病情增劇，便是藥證相當，接服第二方。</p>
<p>第二類黃風湯，主治類中風。服第一類黃風湯後，無問諸證進退效否，但病勢不見轉增，宜服此方。補陽不燥，補陰不寒，且兼清氣化痰之意，最切於時用。</p>
<p>大熟地（六錢）　人參（錢半）　懷牛膝（二錢）　淮山藥（三錢）　麥門冬（二錢）　福橘皮（一錢）　山萸肉（三錢）　五味子（八分）　炙甘草（五分）</p>
<p>甘瀾水煎服。若陽虛欲脫，加製附子錢半，鹿茸二錢。若陰虧已極，加黃柏一錢，龜板三錢。本方服二三劑，或五七劑至十劑後，諸恙向安者，接服第三方。</p>
<p>第三類黃風湯，主治類中風。服第二類黃風湯後，諸證垂愈，宜靜補真陰。第陰無驟補之法，此方補陰最得從容之理。</p>
<p>大熟地（四錢）　雲茯苓（二錢）　懷山藥（三錢）　大沙參（三錢）　大麥冬（二錢）　炙龜板（三錢）　野黃精（三錢）　五味子（五分）</p>
<p>甘瀾水煎服。二三劑，或五七劑至十劑後，更以十劑為末，水疊丸。每早晚開水服三錢。</p>
<p>《莊子·內篇》曰：民濕寢，則腰脊偏死。</p>
<p>《史記·魏其武安列傳》曰：魏其失勢，默默不得志，獨厚灌將軍，及論灌夫及家屬，魏其良久乃聞，聞即恚，病痱不食欲死。</p>
<p>《晉書·皇甫謐表》曰：久嬰篤疾，半身不仁，右腳偏小。</p>
<p>《九峰醫案》曰：舌強語言蹇澀，右臂麻木不舒，言乃心之聲，賴肺金以宣揚，脾主四肢，其用在右，心火盛，腎水虛，將息失宜，五志過極，濕土生痰，機竅不利，脈來三五不調，類中復萌已著。理陽明，和太陰，佐化濕痰，不致陰陽離決，方克有濟。</p>
<p>人參（三錢）　白蒺藜（三錢）　白茯神（三錢）　白殭蠶（二錢）　福橘皮（一錢）　製半夏（錢半）　炙甘草（五分）　鮮竹茹（錢半）</p>
<p>類中復萌，舌強言蹇，右臂屈伸不利，心火暴甚，腎水虛衰，智意不和，濕痰阻竅，本擬瀉心法，緣脈來甚慢如結代之狀，尺部尤甚，仍從中治。理陽明，和太陰，亦可保其心腎。</p>
<p>鮮首烏（三錢）　白蒺藜（三錢）　白茯神（三錢）　人參（三錢）　福橘皮（一錢）　製半夏（二錢）　白殭蠶（二錢）　冬白朮（錢半）　炙甘草（五分）</p>
<p>兩進理陽明，和太陰，佐化濕痰，舌強漸和，語言漸展，右肢麻痹亦舒，胸次反覺不暢，清涎上溢，濕痰未化，心火未平，脈仍三五不調，未宜驟補，原方加減。</p>
<p>鮮首烏（五錢）　白蒺藜（三錢）　白茯神（三錢）　福橘皮（一錢）　製半夏（二錢）　炙甘草（五分）　白殭蠶（二錢）　霜桑葉（一錢）　黑脂麻（五錢）</p>
<p>病原已載前方，服藥以來，舌強漸和，語言漸爽，肢痹已蘇，胸次亦暢，經以心脈系舌本，脾脈連舌本，腎脈循喉嚨，挾舌本，太陰不營，濕痰自生，腎水不生，心火自盛，必得三經平復，水升火降，中土暢和，機竅自展，現在濕土用事，午火司權，暫以桑麻六君加味，崇土養榮，和肝息風，引益腎水。</p>
<p>人參（二兩）　雲茯苓（二兩）　冬白朮（二兩）　炙甘草（五錢）　製半夏（兩半）　福橘皮（一兩）　霜桑葉（兩半）　黑脂麻（三兩）　黃菊花（五錢）</p>
<p>為末水疊丸，每早晚服三錢。</p>
<p>偏枯於左，口喎於右，舌強言蹇，涎下不禁，脈來甚慢，大筋軟短，小筋弛長，濕熱不攘，中虛痰鬱為患。</p>
<p>人參（二錢）　雲茯苓（三錢）　冬白朮（二錢）　炙甘草（五分）　羚羊片（一錢）　製半夏（錢半）　福橘皮（一錢）　淡竹瀝（二錢）　生薑汁（一錢）</p>
<p>目盲不可視，足廢不能行，小便或秘癃，或不禁，飲食如故，臟病腑不病，心腎乖違，情志鬱勃，機竅阻塞。昔魏其侯傷意病此，名曰風痱。議劉守真地黃飲子。</p>
<p>大熟地（四錢）　製附子（一錢）　雲茯苓（錢半）　巴戟天（錢半）　石菖蒲（五分）　遠志肉（一錢）　山萸肉（二錢）　淡蓯蓉（二錢）　五味子（五分）　油肉桂（八分）　麥門冬（二錢）　釵石斛（二錢）</p>
<p>經言陽之氣，以天地之疾風名之。卒然昏憒無知，柔汗，溲便遺失，四肢不收，口噤不語，脈來遲慢，因煩勞太過，擾亂二十五陽，陽氣動變，氣不歸精，精無所倚，精不化氣，神無所依，乃陰陽離決之危候也。勉擬景岳回陽飲，迫斂散亡之氣，未識陽能回否。</p>
<p>大熟地（八錢）　人參（三錢）　炙甘草（一錢）　製附子（三錢）　當歸身（三錢）　炮姜灰（一錢）</p>
<p>午正進藥，申末汗收，神志漸清，語言漸展，肢體自能徐轉，脈象小駃於遲，惟心煩慮亂，莫能自主，乃陽回陰液未復，進銳退速，危證得安，乃天幸，非人力也。</p>
<p>大熟地（八錢）　人參（二錢）　炙甘草（五分）　製附子（錢半）　當歸身（三錢）　炮姜灰（五分）　云茯神（三錢）</p>
<p>陽回陰液未復，中心憒憒不安，肢體雖和，語言尚蹇，脈象小駃於遲曰緩，經以無陽則陰無以生，連進回陽生陰之品，頗合機宜，安不忘危，善後更宜加意。</p>
<p>大熟地（八錢）　人參（二錢）　炙甘草（五分）　當歸身（三錢）　云茯神（三錢）　炮姜灰（五分）　酸棗仁（三錢）</p>
<p>病原具載前方，毋庸復贅。惟是心煩不安，乃陽回陰液未充，腎不交心，陰不上承，最宜持心息慮，當思靜則生陰之理。</p>
<p>大熟地（八錢）　人參（二錢）　炙甘草（五分）　當歸身（三錢）　云茯神（三錢）　炮姜灰（三分）　酸棗仁（三錢）　女真子（三錢）　旱蓮草（三錢）</p>
<p>服五劑後，更以十劑加五味子五錢為末，水疊丸，每早晚開水服三錢。</p>
<p>旋轉掉搖，火之象也。志意煩惑，陰液虧也。腎虛無以榮肝，一水不勝二火，木橫土虛，壯火蝕氣，血熱化風，乃痱中之漸，當以脾腎為主，水能生木，土能培木，水為物源，土為物母，水土平調，肝木自榮，則無血燥化風之患。故陳臨川曰：治風先治血，血行風自滅。擬六味、四物、歸脾合為偶方主治。</p>
<p>大熟地（八兩）　粉丹皮（三兩）　福澤瀉（三兩）　懷山藥（四兩）　山萸肉（四兩）　雲茯苓（三兩）　當歸身（三兩）　川芎藭（一兩）　大白芍（二兩）　人參（三兩）　炙黃耆（三兩）　冬白朮（三兩）　炙甘草（一兩）　煨木香（五錢）　酸棗仁（三兩）　遠志肉（兩半）</p>
<p>為末，龍眼肉八兩，煎水疊丸，每早晚開水服三錢。</p>
<p>陰虧於前，陽損於後，陰陽相失，子午不交，卒然昏憒無知，口開不合，涎流不止，神敗於心，精敗於腎，在經之氣脫於陽明，在臟之氣脫於太陰，脫絕已著，雖司命不可為也。勉以回陽一法，追斂散亡之氣於烏有之鄉，以副諸明哲，冀望回春之意。</p>
<p>大熟地（八錢）　人參（三錢）　製附子（三錢）　油肉桂（錢半）　炮姜（一錢）</p>
<p>經以擊僕偏枯痿厥，肥貴人則膏粱之疾也。形豐，柔勝於剛，志樂氣驕多欲，七情五志失其中，炙煿肥甘過其當，致令皮肉筋骨不相保，卒然傾跌，右肢偏廢而不用，天產作陽，厚味發熱，陽熱蒸騰，動中無靜，陰虧可知，法當靜補真陰為主，崇經旨承製之意，仍須薄食味，省思慮，方克有濟。</p>
<p>大熟地（八錢）　粉丹皮（三錢）　福澤瀉（三錢）　淮山藥（四錢）　雲茯苓（三錢）　山萸肉（四錢）　女真子（三錢）　旱蓮草（三錢）</p>
<p>素耽酒色，心腎本虧，精損於頻，氣傷於漸，卒然神志沉迷，口眼喎斜，語言蹇澀，慎防汗脫，脈來微細如絲，當從色厥論治。</p>
<p>大熟地（八錢）　淮山藥（四錢）　山萸肉（四錢）　人參（三錢）　麥門冬（三錢）　五味子（一錢）　製附子（三錢）</p>
<p>經以暴病暴死，皆屬於火，火性疾速故也。卒然昏憒無知，脈象洪空勁直，口開手撒，遺溲自汗，痰鳴氣促，真陰枯竭，心主自焚，五絕之中，茲見三證，雖司令不可為也。所議人參竹瀝蘇合香丸極是，愚意更益以鎮固之法，以副或免之望。</p>
<p>人參（三錢）　淡竹瀝（三錢）　蘇合香丸（一粒）</p>
<p>外以生鐵一塊，約重八兩，燒紅，好醋沃之，近病人口鼻，使氣薰入。</p>
<p>蔣寶素曰：類中風者，乃陰虧火盛，陽虛暴脫之擊僕偏枯神昏不語諸證，與真中風之擊僕偏枯神昏不語諸證相類，而以類相從，從類相別之證也。《靈樞·本神篇》曰：脾憂愁不解則傷意，意傷則悗亂，四肢不舉。又經脈篇曰：足陽明血所生病者，口喎。又五色篇曰：大氣入於藏府者，不病而卒死矣。《素問·生氣通天論》曰：汗出偏沮，使人偏枯。又陰陽別論曰：三陽三陰發病，為偏枯痿易，四肢不舉。又通評虛實論曰：凡治擊僕偏枯，肥貴人則膏粱之疾也。又脈解篇曰：所謂入中為喑者。陽盛已衰，故為喑也。內奪而厥，則為陰俳。（素按：《素問》王冰注：俳、廢也。）此腎虛也。又調經論曰：血之與氣，並走於上，則為大厥，厥則暴死。又至真要大論曰：諸熱瞀瘈，皆屬於火。此《內經》諸篇，言四肢不舉，口喎卒死，擊僕偏枯，入中為喑，暴死，瞀瘈，乃陰虧火盛，陽虛暴脫，與真中風相似，而非關風氣，如此其明且著也。而河間、東垣、丹溪執此無風之似中，以證有風之真中，為無風之證，何耶。《莊子》言民濕寢，則腰脊偏死。《史記》魏其侯救灌夫不得，傷意病痱。《傷寒論》脈病人不病，以無旺氣，卒眩僕而死，《晉書》皇甫謐半身不仁。諸家之論如是，上與經旨相符，下與今陰虧火盛，陽虛暴脫之似中諸證相合，與風邪絕不相關，而形證則與真中風相似，豈可以相似而反失其真，故當以類相從，從類以相別也。劉河間曰：凡人風病，多因熱甚，而風燥者為其兼化，以熱為其主也。俗云風者，言末而忘其本也。所以中風癱瘓者，非謂肝木之風實甚，而卒中之也。亦非外中於風爾，由乎將息失宜，而心火暴甚，腎水虛衰，不能制之，則陰虛陽實，而熱氣怫鬱，心神昏冒，筋骨不用，而卒倒無所知也。多因喜怒思悲恐，五志有所過極，而卒中者，由五志過極，皆為熱甚故也。此河間主火立說，本是《內經》陰虧火盛諸證，與真中風相似，即類中風也。乃不知自所論者，是無風之類中，錯作有風之真中為無風之證，為未合乃義也。李東垣曰：陽之氣，以天地之疾風名之。此中風者，非外來風邪，乃本氣自病也。凡人年逾四旬氣衰之際，或憂喜忿怒傷其氣者，多有此疾。壯歲之時無有也。若肥盛者，則間有之，亦是形盛氣衰而如此耳。此東垣主氣立說，本是《內經》陽虛暴脫諸證，與真中風相似，即類中風也。乃不知自所論者，是無風之類中，錯作有風之真中為無風之證，同於河間之誤。朱丹溪曰：中風大率主血虛有痰。又曰：氣虛卒倒者，用參耆補之。又曰：按《內經》已下，皆謂外中風邪，然地有南北之殊，不可一途而論。惟劉守真作將息失宜，水不制火極是。由今言之。西北二方，亦有真為風所中者，但極少耳。東南之人，多是濕土生痰，痰生熱，熱生風耳。此丹溪主濕痰立說，本是陰虧火盛，陽虛暴脫諸證，與真中風相似，即類中風也。乃不知自所論者，是無風之類中，錯作有風之真中為無風之證，強分南北，謂東南無中風，以附會河間、東垣之意，可謂不揣其本，而齊其末矣。王肯堂蹈三子之轍，言元氣素弱，或過於勞役，傷於酒色，而卒然厥僕，狀類中風。此論本是陽虛暴脫之類中，而曰狀類中風，類中上加狀字，即非類中，曷不曰即類中風也。張景岳復蹈河間、東垣之轍，曰：凡非風等證，其病為強直掉眩之類，皆肝邪風木之化，其為四肢不用，痰涎壅盛，皆胃敗脾虛之候。又曰：凡非風卒倒等證，無非氣脫而然。此論本是陰虧火盛，陽虛暴脫之類中，而反以非風名之，曷不曰即類中風也。由是觀之，自河間、東垣一錯，後世悉宗其謬，由其不知同一擊僕偏枯神昏不語等證，有邪證，邪脈，可據者，真中風也。無邪證邪脈可據者，乃陰虧火盛，陽虛暴脫諸證，與真中風相似，即名類中風也。然風本無類，惟識之不真，致真偽莫辨，故名類中風者，正欲以類相從，從類以相別也。類中之證既明，則真中風形證自著。所謂邪證邪脈，見真中風門，當與此篇互閱。</p>
<p>略曰：自河間以下，錯認中風面目，故有類中之名。然所論雖非，所治仍是。宣明之地黃飲子，丹溪之用四物人參竹瀝諸法，景岳之用地黃、當歸、枸杞之類，俱是峻補陰陽之劑，正合類中機宜，故所論雖偏，而不能偏廢者，殆為此也。故醫案仍宗其法而推廣之。若醫話之三黃風湯，雖約而應變無窮，名正治當，更詳於昔矣。</p>

<h2>類中風論列方</h2>
<p>蘇合香丸（六）　地黃飲子（七）　四物湯（八）</p>

<h1>卷三</h1>

<h2>傷寒第三</h2>
<p>《椿田醫話》曰：十味羌防散，主治三冬感冒風寒，兼治三時不正寒涼之氣，顛疼身痛，惡寒發熱，無汗，或有汗不透，舌苔白滑，或淡黃不腐，胸次或舒或不舒，飲食或進或不進，脈浮或緩或數或緊，小便色白，或淡黃不渾，大便或解，或不解，若溲赤而渾，便黑如醬，乃伏邪證據，當從伏邪門論治。虛人本方去枳殼，加當歸身三錢。</p>
<p>羌活（一錢）　防風（一錢）　雲茯苓（三錢）　炙甘草（五分）　製半夏（錢半）　陳皮（一錢）　枳殼（一錢）　川芎（一錢）　蒼朮（錢半）　桔梗（一錢）　生薑（一片）　蔥白（一莖）</p>
<p>經以辛甘發散為陽，仲景汗劑，必以溫散。羌活氣味辛甘苦，防風氣味辛甘溫，二味俱是辛甘之品，以達三陽之表。川芎氣味辛溫，治顛痛主藥。蒼朮氣味甘苦溫，崇土行其津液，最能發汗。枳殼氣味苦涼，陳皮氣味苦辛，半夏氣味辛平，三味利氣寬中，以化宿痰宿食，推陳致新，使津液易達。桔梗氣味苦辛平，為藥中舟楫，載諸藥上行。茯苓氣味甘淡，益氣以帥津液。甘草氣味甘平，協和群品。蔥姜通氣溫經。藥液入胃，輸於脾，營注於肺衛，達於皮毛，開腠理，致津液，通陽氣，沖寒氛於大表，返正氣於諸經，濈然汗出，諸證悉平，足以貫三冬風寒在表諸病。</p>
<p>又論麻黃湯曰：在內為血，發外為汗。汗即血也，隨氣以化。肺司百脈之氣，脾統諸經之血，寒則傷營，為風所引，先傷皮毛，內舍於肺，同氣相求，直入足太陽寒水之經。麻黃氣味苦辛熱，乃肺經專藥，據衛驅寒，為發汗之主，以治受病之原，使肺衛之氣不寒，以溫分肉，充皮毛，肥腠理，而司開闔。桂枝氣味甘辛熱，散風救表，伐肝和脾，入營融血，為發汗之資，祛寒之援，使脾營之血不澀，溶溢於肺衛而為津液，則肺衛之津液，得氣化布滲於皮毛而為汗。佐以杏仁利肺以舒氣化，使以甘草和中，以緩麻桂之性，從容不迫，云蒸雨化，使在表之寒邪得汗而解，則傳次原流已斷，而先入足太陽之邪，孤懸自散。此仲景獨得之心法，近代多畏而不用，何哉。故筆之於此，以俟識者。</p>
<p>《左傳·昭元》曰：晉侯求醫於秦伯，秦伯使醫和視之。又曰：陰淫寒疾。</p>
<p>《範汪方》曰：故督郵顧子獻，得傷寒已瘥未健，詣畢甫視脈。甫曰：雖瘥尚虛未平復，陽氣不足，勿為勞事也。能勞尚可，女勞即死，臨死當吐舌數寸。獻婦聞其瘥，從百餘里來省之。住數宿，止交接之間三日死。</p>
<p>《九峰醫案》曰：傷寒惡寒，寒傷營，血澀無汗，皮膚閉而為熱，頭身腰背俱痛，脈浮緊，溲色澄清，大便五日不解，尚屬太陽經證，宜麻黃湯。</p>
<p>麻黃（一錢）　桂枝（一錢）　炙甘草（一錢）　苦杏仁（三錢）</p>
<p>苔白，脈浮，顛痛，身疼，惡寒發熱，溲便自調，痰嗽氣促，有汗不透，風寒兩傷，營衛俱病，法宜解肌兼汗，議取青龍。</p>
<p>麻黃（八分）　桂枝（八分）　炙甘草（五分）　赤芍藥（錢半）　五味子（五分）　北細辛（五分）　乾薑（五分）　製半夏（錢半）</p>
<p>發熱惡寒者，發於陽也。顛疼身痛無汗，苔白胸否，脈浮緊，宜先開表。</p>
<p>羌活（一錢）　防風（一錢）　川芎（一錢）　香白芷（八分）　蒼朮（錢半）　北細辛（五分）　大生地（三錢）　炙甘草（五分）　黃芩（一錢，酒炒）</p>
<p>脈體尺寸俱浮，證勢頭身俱痛，翕翕發熱，洒洒振寒，稟賦雖充，寒邪甚厲，星馳無寐，二氣乖違，正逢月郭空虛，遂罹霜露之疾，謹擬南陽敗毒散，祛邪返正，得汗便解，公議如是，敬呈鈞鑒。</p>
<p>人參（一錢）　雲茯苓（三錢）　枳殼（一錢）　川芎（一錢）　炙甘草（五分）　桔梗（一錢）　羌活（一錢）　獨活（一錢）　柴胡（一錢）　前胡（一錢）　生薑（一錢）</p>
<p>長流水煎服。</p>
<p>昨進南陽法，濈然汗出，諸證悉平。惟胸次不舒，不思飲食，溲色澄清，大便未解，余氛未盡，尚宜和里。</p>
<p>人參（八分）　雲茯苓（三錢）　焦白朮（錢半）　炙甘草（五分）　福橘皮（一錢）　麩炒枳實（一錢）　製半夏（錢半）　炒穀芽（三錢）　六和神麯（二錢）</p>
<p>蔣寶素曰：傷寒者，乃冬寒司令，從霜降以後，至春分節前，觸冒霜露，體中寒邪即發之證，而為伏邪溫熱之原，正與夏暑司令，從穀雨後至秋分前，觸冒太陽君火，炎蒸亢熱之氣，即發之中暑相對之證也。《素問·陰陽應象大論》曰：冬傷於寒，春必病溫。又熱論篇曰：今夫熱病者，皆傷寒之類。此《內經》溫熱諸證，乃冬時傷寒內伏所致。余因立伏邪門，專論溫熱。張長沙傷寒論三百九十七法，一百一十三方，發盡傷寒奧旨，文多茲不選。言其要，一日太陽受病，太陽主氣，其脈上連風府，循腰脊，故頭項痛，腰脊強。二日陽明受病，陽明主肉，其脈挾鼻絡於目，故身熱目疼，鼻乾不得臥。三日少陽受病，少陽主膽，其脈循脅絡於耳，故胸脅病而耳聾。三陽經絡皆受其病，未入於府者，可汗而已。四日太陰受病，太陰脈布胃中，絡於嗌，故腹滿而嗌乾。五日少陰受病，少陰脈貫腎絡於肺，系舌本，故口燥舌乾而渴。六日厥陰受病，厥陰脈循陰器而絡於肝，故煩滿而囊縮。三陰經絡皆受其病，已入府者可下而已。（傷寒化熱在數日之後，伏邪溫熱化熱在數月之後，乃用承氣下之則一也。）六日為傳經盡，則病當愈。不愈者，仍自太陽經來復。（七日來復、至十三日再復，俗以十四日非是。）此言傳次之大體，非必如是也。有間經而傳者，有越經而傳者，有傳至二三經而止者，有始終只在一經者，有自少陽陽明而入者，有初入太陽，不傳陽明，遽入少陰，變成真陰證者。有直中三陰者，有二陽三陽合病者，有二陽並病者，有少陽倒入陽明胃府者。神而明之，存乎其人。然世轉風移，近代正傷寒稀少。若大江以南，風氣溫和，正傷寒尤鮮，惟見伏邪溫熱諸證。然伏邪溫熱諸證，皆由冬時伏寒所致。或曰：人身營衛陰陽不失其常，雖微感風寒，病即隨見，寒邪豈能伏於冬而發於春夏乎？曰：正邪可伏，賊邪不可伏，寒乃冬月之正邪也。《靈樞·邪氣藏府病形篇》曰：正邪之中人也微，先見於色，不知於身，若有若無，若亡若存，有形無形，莫知其情。《素問·八正神明論》曰：正邪者，身形若用力，汗出腠理開，逢風寒，其中人也微。故莫知其情，莫見邪形。蓋冬三月陽氣閉藏於內，寒邪本不能傷。因逢腎氣之虧，形體之勞，精搖於內，汗泄於外，寒氛得以乘之。同氣相求，深入少陰之地，真陽復斂，進不能攻，腠理返密，退無歸路，逡巡進退於其間，勢必盤踞膜原之分。膜原者，藏府之外，形骸之內是也。有形積聚，尚且能容，而況無形寒氣，因春之溫氣而發，故名溫。因夏之暑熱而發，故名暑熱，即伏邪也。由是言之，其人腎氣不虛，腠理又密，而觸冒嚴寒殺厲之氣，寒邪不能入腎，直襲足太陽膀胱寒水之經。膀胱為腎之府，此為正傷寒，當從仲景傷寒論治。所以正傷寒罕見者，以今世之人，腎氣多虧，形體多勞，而知避嚴寒殺厲之氣故也。若腎虛之人，不避嚴寒殺厲之氣，則為直中三陰危證。今三冬所見感寒之證，不過惡寒發熱，頭疼身痛而已，如醫案之用九味羌活湯，南陽敗毒散，醫話新制十味羌防散之類，一汗而解，甚者二三劑即愈。未聞循日以傳經，依經以見證，究非真正傷寒。其辛苦之人，形勞汗泄，鼎食之家，腎虛難免，形勞傷腎，腎勞傷精，雖不觸冒嚴寒殺厲之氣，正邪由是潛伏於中，為伏邪諸病。今人但知嚴寒之可避，不覺正邪之潛侵，樂於以欲竭其精，不解奉閉藏之令，病患故多藏於隱微，而發於人之所忽。前哲以春夏諸病，總名傷寒者本此。此所以寒伏於冬，而蔓延於春夏及秋冬為病滋甚也。茲故略於傷寒，而詳於伏邪溫熱諸證。</p>
<p>略曰：仲景因《內經》熱論篇作《傷寒論》，後世因《傷寒論》化裁雜證。此《傷寒論》所以應萬變於無窮。世多有其書，諸家多引其文，以故不錄，而雜證門或援以為證云。</p>

<h1>卷四</h1>

<h2>暑證第四</h2>
<p>《椿田醫話》曰：樾蔭湯主治暑證。暑乃夏三月，從穀雨後至秋分前，觸冒蒸熱之氣而即病者。正與冬三月之傷寒，從霜降後至春分前，觸冒嚴寒之氣而即病者，同歸一體。與冬傷於寒，夏必病暑之暑不同。冬寒因暑而發之暑病，即伏邪溫熱，當求本門法治，不在此列。張潔古誤以靜而得之為中暑，蓋靜而得之之病，乃夏月違得涼氣之感受，猶冬時非節之暖之冬溫。冬溫不可名傷寒，則靜而得之之病不可名中暑。若以因暑貪涼，過食生冷，為靜而得之之中暑，然則因寒就暖，多飲酒漿，為動而得之之傷寒乎？《傷寒論》云：君子固密，則不傷於寒。余推此意曰：君子靜定則不傷於暑，又何靜而得之之有。</p>
<p>雲茯苓（三錢）　製半夏（錢半）　白扁豆（三錢）　老蘇梗（一錢）　藿香梗（錢半）　新荷梗（八寸）　宣木瓜（一錢）　生甘草（五分）</p>
<p>熱甚加黃連一錢。有表加香藿一錢。食滯加厚朴一錢。肥人多痰濕加滑石三錢。瘦人多火加黃柏一錢，或黃連亦可。虛人加入生脈散，甚則再加黃耆二錢。</p>
<p>《左傳·昭元》曰：晉侯求醫於秦伯，秦伯使醫和視之。又曰：陽淫熱疾。</p>
<p>京房易飛候曰：有云大如車蓋十餘，此陽滲之氣，必暑有暍死也。</p>
<p>《淮南子》曰：暑氣多夭。又曰：武王薈暍人於樾下，左擁而右扇之，而天下懷其德。</p>
<p>《九峰醫案》曰：氣虛脈虛，身熱惡熱，煩渴顛疼，神倦汗泄，火盛乘金，熱傷元氣，古名中暍，寒以取之。</p>
<p>人參（一錢）　生石膏（八錢）　知母（二錢）　生甘草（五分）　麥門冬（三錢）　五味子（八分）　粳米（一兩）　淡竹葉（十四片）</p>
<p>暑必夾濕，氣之熏蒸著而為病，濕寄旺於四季，隨六氣之變遷，因暑而為熱，傷氣傷陰，神倦脈軟，身熱自汗，惡風口渴，溲便自調，不思飲食，心脾肺三經互病，擬東垣清暑益氣，略為加減。</p>
<p>人參（五分）　冬白朮（五分）　陳橘皮（五分）　福澤瀉（五分）　建神麯（五分）　炙甘草（五分）　川黃柏（三分）　當歸身（三分）　麥門冬（三分）　蛀青皮（三分）　煨甘葛（三分）　五味子（五粒）　雲茯苓（五分）</p>
<p>蔣寶素曰：暑證者，乃夏暑司令，從穀雨以後至秋分節前，觸冒太陽君火，炎蒸亢熱之氣，即發之病，而為痎瘧之原，非冬傷於寒，夏必病暑之暑病。正與冬寒司令，從霜降以後至春分節前，觸冒嚴寒之氣，即發之傷寒，相對之證也。冬寒因暑而發之暑病，即伏邪，當從伏邪門論治，不在此列。（余友徐香海曰：伏邪因暑而發，從內之外，溲色必渾赤。即發之暑病，從外之內，溲色必清澄。）《素問·生氣通天論》曰：因於暑，汗，煩則喘喝，靜則多言。又陰陽應象大論曰：夏熱於暑，秋必痎瘧。又刺志論曰：氣虛身熱，得之傷暑。又五運行大論曰：暑以蒸之。又氣交變大論曰：歲火太過，炎暑流行。此《內經》諸篇，言因暑則汗出，伏暑為痎瘧，氣虛身熱為傷暑。暑以蒸之，歲火太過，炎暑流行，暑為熱證明矣。而張潔古謂靜而得之為中暑，中暑者陰證，何耶。《難經》以中暑當身熱而煩。《左傳》言陽淫熱疾。京房言暑有暍死者。《淮南子》言蔭暍人於樾下，皆以暑暍為熱證，與《內經》相合。蓋以暑為夏月天令之當然，暑甚則人病為暍，暍甚則死，則暍為中暑之名，故《金匱要略》《傷寒論》巢元方、陳無擇，俱以暑病名中暍。孫思邈以熱死為暍，差矣。乃張潔古誤以靜而得之為中暑，中暑者陰證，李東垣宗之曰：或避暑熱於深堂大廈，其病頭痛身疼，惡寒發寒無汗，為房室之陰寒所遏，使周身陽氣不得伸越，大順散主之。蓋不知此乃夏月有意違時之涼，猶冬時因寒就暖之溫。（香海注曰：因寒就暖太過、亦能致病。）且夏月天令非時之涼致病，尚不得名中暑，猶冬時非節之暖之冬溫，不得名傷寒，而況因暑貪涼之病乎。冬溫不可名傷寒，則靜而得之，避暑涼陰，有意違時之夏感，不可名中暑，王安道已辨其誤，謂夏時陽氣在外，陰氣在內，豈可空視陰氣為寒，而用溫熱之藥，何以夏則飲水。所謂靜而得之之證，雖當暑月，即非暑病，誠是也。然未及冬溫，不可名傷寒，夏涼不可名中暑為證據，王節齋以夏至後病熱為暑，此誤以冬傷於寒，後夏至日為病暑之暑為中暑。戴元禮以中暑卒倒不識人名暑風。蓋不知即中暍之甚，如死之狀。巢元方、陳無擇所謂不可得冷，以尿和土罨臍中，多有得生之證也。王肯堂謂市井之人，日間冒暑經營，夜間開窗露臥，先傷於暑，復感於涼，誠有之矣。然非靜而得之可比，亦猶先傷於寒，復感冬溫之意。張景岳承潔古、東垣之弊，而立陰暑之名，蓋不知暑月感違時之涼，仍是感寒，猶冬時受有意之暖，即是受熱。（香海注曰：若以因暑貪涼致病為陰暑，然則因寒就暖致病為陽寒乎。）喻嘉言是安道之論，以靜而得之為中暑非是，又以避暑熱反受陰濕風露，仍為暑證，蓋亦不知避暑貪涼致病，不得名中暑也。由是言之，傷寒惡寒，傷暑惡熱。傷寒無汗，傷暑有汗。寒乃冬月之正邪，暑乃夏月之正邪。冬寒內伏，為四時之伏邪。夏暑內伏，為四時之痎瘧。是以伏邪或轉為痎瘧者，兼有夏暑內伏也。痎瘧或轉為伏邪者，兼有冬寒內伏也。寒暑互伏，如環無端，若冬之正傷寒，夏之中暑，俱是中而即發之病，無邪內伏，故無互轉之證。（蘭亭注曰：伏寒伏暑，互轉伏邪痎瘧，四時皆有。以轉痎瘧，即有伏暑。轉伏邪，即有伏寒。伏寒因暑而發為伏邪，伏暑因寒而發為痎瘧。惟內無所伏，方是傷寒中暑。故傷寒無轉痎瘧，中暑無轉伏邪之理。若伏邪轉瘧，瘧轉伏邪，是冬寒夏暑兩伏於中，先後互發之證。若冬之傷寒，夏之中暑，是內無所伏即發之證，故傷寒不轉痎瘧，中暑不轉伏邪。蓋有伏為伏邪痎瘧，無伏為傷寒中暑。）治暑之法，《金匱》用白虎湯，清肅炎氛，加人參輔正氣，可以類推矣。瓜蒂散，治飲冷水，水行皮中。大順散，治違時涼氣，皆非治暑。巢元方、陳無擇治暍死謂不可得冷，用姜蒜及溺土罨臍等法，以熱極則閉，寒不能入，必假溫通之意，即同氣相求，衰之以屬，非治暑不可用冷也。劉河間宗《金匱》，用白虎不加人參，通治暑證，無問表裡，蓋未達白虎湯加人參之意，用補天真元氣。且虛人中暑，豈可例用白虎，故東垣制清暑益氣湯及生脈散，以治虛人中暑善矣。然不捨潔古靜而得之為中暑，仍用大順散，蓋不知潔古所論，乃避暑貪涼，有意違時致病，不可名暑也。朱丹溪推《金匱》白虎加人參之意，用黃連香薷飲，清心發汗，隨證加減。兼內傷，則宗東垣清暑益氣湯固是。王節齋清心利小便亦好。王肯堂以市井之人，日間冒暑經營，夜間開窗露臥，先傷於暑，後感於寒，用六和湯、五苓散，此乃圓機。大要暑證，常人白虎加人參湯、黃連香薷飲。兼虛者，清暑益氣湯、生脈散。非時之涼，有意避暑及飲冷，為夏感，猶冬溫，非中暑，瓜蒂散、大順散，或藿香正氣散。先傷於暑，復感於涼，六和湯、正氣散、五苓散。若醫案用白虎合生脈，誠為活法。醫話樾蔭湯，乃中正和平之劑，可通用也。</p>
<p>略曰：經言寒極生熱，熱極生寒。此一寒字，即虛字之義。寒傷血，化為熱，暑傷氣，化為虛。如冬至春，萬物茂，寒化熱也。夏至秋，萬物凋，熱化虛也。故傷寒伏邪，宜攻邪為主，中暑痎瘧，宜扶正為先，則暑化虛而非寒明矣。</p>

<h2>暑證論列方</h2>
<p>白虎加人參湯（九）　一物瓜蒂散（十）　大順散（十一）　清暑益氣湯（十二）　生脈散（十三）　黃連香薷飲（十四）　六和湯（十五）　五苓散（十六）　藿香正氣散（十七）</p>

<h1>卷五</h1>

<h2>濕證第五</h2>
<p>《椿田醫話》曰：化濕湯，主治濕證。濕從土化，寄旺四季，在天則雲雨，在地則泥沙，在人則脾胃，在時則長夏，在西北則多化為寒，在東南則多化為熱，與燥相反，畏風剋制，地氣上為云，天氣下為雨，雖有上受下受之分，其實皆中土之所化也。從化而來，亦從化而去，故以化濕名之。內受酒漿茶水，外受汗衣等濕，亦同此義。釀而為濕溫，著而為痿痹，及或為之證，難以悉舉，然當從而化之，以意加減，不可執一。</p>
<p>雲茯苓（五錢）　炙甘草（五分）　製半夏（二錢）　焦白朮（二錢）　薏苡仁（三錢）　煨木香（五分）　苦參（二錢）</p>
<p>在上在表，宜汗散，加羌活、獨活、防風、川芎、藁本之類。</p>
<p>在下在裡，宜分利，加豬苓、澤瀉、車前子、木通、飛滑石之類。</p>
<p>熱多加茵陳、川黃連、黃芩之類。寒多加蒼朮、製附子、油肉桂之類。氣虛加人參，血虛加生地，實則加製大黃。</p>
<p>《左傳·昭元》曰：晉侯求醫於秦伯，秦伯使醫和視之。又曰：雨淫腹疾。</p>
<p>《九峰醫案》曰：脈來滑數無力，證本濕熱傷陰，五液日耗，形神慵倦，竟若骨痿不能起於床，法宜補陰化濕，苦寒雖效，究非常服之方，擬甘露飲加減。</p>
<p>釵石斛（三錢）　天花粉（三錢）　淡天冬（二錢）　大麥門（三錢）　玄參（錢半）　地骨皮（三錢）　白知母（二錢）　川黃柏（一錢）　黃芩（錢半）</p>
<p>濕熱蘊於陽明，熏蒸肝木，耗損腎陰，肝主一身之筋，腎統諸經之水，陽明為十二經脈之長，譬如暑濕鬱蒸，林木萎弱，以故體倦多眠，熱蒸氣騰，上干清竅，唇瘍流液，目澀羞明，頰腫咽疼，苔黃舌絳，服養陰滲濕之品，共六十餘劑，病勢退而復進者，證延六載之久，藥淺病深故也。仍以補陰滲濕為丸，緩治。</p>
<p>大生地（八兩）　大麥冬（三兩）　天門冬（二兩）　大沙參（三兩）　生甘草（一兩）　酸棗仁（三兩）　冬白朮（三兩）　川黃柏（三兩）　川黃連（一兩）　人參（三兩）　雲茯苓（三兩）　福澤瀉（三兩）</p>
<p>上十二味，水疊丸，每早服三錢，晚服三錢。</p>
<p>壯火食氣，陰不潛陽，氣不行水，蘊生濕熱，傷陽明之陰，動少陰之火，陽明陰傷，則宗筋縱，不能束筋骨而利機關，水流濕而注下，足脛綿弱，行則振掉，便瀉腸鳴，少陰火旺，則液耗金傷，不能藏精化氣，以行治節，痰嗽食減，夢泄頻仍，所服之方，都是法程王道，功遲難期速效，補陰當思濕熱蘊結，利濕竊慮陰液愈虧，爰以四斤六味，補陰滲濕，脾腎雙培，然否質諸明哲。</p>
<p>大熟地（八兩）　淡蓯蓉（二兩）　懷山藥（四兩）　山萸肉（四兩）　雲茯苓（三兩）　五味子（二兩）　宣木瓜（二兩）　川萆薢（三兩）　肥杜仲（三兩）　玄武膠（二兩）　桑螵蛸（一兩）　人參（三兩）</p>
<p>為末，搗熟地如泥，熔膠加煉蜜丸如桐子大，每早晚服三錢開水下。</p>
<p>蔣寶素曰：濕證者，六淫之一，中央脾土所生，從地氣上升，由天氣下降，（蘭亭曰：經言地氣上為云，天氣下為雨。凡雲霧雨露之屬，皆是濕氣。夫濕氣蒸騰，愈熱則愈高，愈寒則愈下。試觀杯水之熱，當隆冬之時，則氣蒸盈尺，當盛夏則不見者，以熱入熱故也。則盛夏濕熱蒸騰之氣，高於岑樓而不見也。人居此氣之中，浸潤不覺，故百病之中多兼濕證。）盛於夏，藏於冬，聚於東南，斂於西北。然士無成位，濕無專主，六淫濕證，歸於本門。濕溫歸於伏邪門，或為之證，歸於各門。《金匱要略》曰：太陽病，關節疼痛而煩，脈沉而細者，此名濕痹。濕痹之候，小便不利，大便反快，但當利其小便。濕家之為病，一身盡疼，發熱，身色如熏黃也。濕家，其人但頭汗出，背強，欲得被覆向火。若下之早則噦，或胸滿，小便不利，舌上如苔者，以丹田有熱，胸上有寒。渴欲得飲，而不能飲，則口燥煩也。濕家下之，額上汗出，微喘，小便利（一云不利。）者死。若下利不止者亦死。風濕相搏，一身盡疼痛，法當汗出而解。值天陰雨不止，醫云此可發汗，汗之病不愈者，何也。蓋發其汗，汗大出者，但風氣去，濕氣在，是故不愈也。若治風濕者，發其汗，但微微似欲汗出者，風濕俱去也。濕家病，身疼發熱，面黃而喘，頭痛鼻塞而煩，其脈大，自能飲食，腹中和無病。病在頭中寒濕，故鼻塞，納藥鼻中則愈。濕家身煩疼，可與麻黃加朮湯，發其汗為宜，慎不可以大攻之。病者一身盡疼，發熱日晡所劇者，名風濕。此病傷於汗出當風，或久傷取冷所致也。可與麻黃杏仁薏苡甘草湯。風濕脈浮身重，汗出惡風者，防己黃耆湯主之。傷寒八九日，風濕相搏，身體疼煩，不能自轉側，不嘔不渴，脈浮虛而澀者，桂枝附子湯主之。若大便堅，小便自利者，去桂加白朮湯主之。風濕相搏，骨節疼煩，掣痛不得屈伸，近之則痛劇，汗出短氣，小便不利，惡風不欲去衣，或身微腫者，甘草附子湯主之。此上十一條，（《傷寒論》與此同七條。）乃六淫濕證，歸於本門。《難經》曰：傷寒有五，有中風，有傷寒，有濕溫，有溫病，有熱病。《活人書》曰：濕溫者，兩脛逆冷，胸腹滿，多汗，頭痛，妄言，其人嘗傷於濕，因而中暑，暑濕相搏，則發濕溫。又曰：濕溫與中暑同，但身涼不渴耳。《本事方》曰：一人季夏得病，胸頸多汗，兩足逆冷譫語，是濕溫。蓋先傷暑，後受濕也。先用人參白虎湯，次服蒼朮白虎湯。足漸溫，汗漸止，三日而愈。此上三條，言濕溫證也。蓋伏邪因溫而發，與溫熱一體，故名濕溫，即伏邪兼見六淫，濕證因春溫氣而發名溫，因夏暑氣而發名暑，因長夏濕氣而發名濕溫是也。（即冬寒內伏，因濕而發。）故《難經》以濕溫與風寒濕熱同科，《活人》以濕主長夏，遂與暑相合，以暑濕相搏為濕溫。蓋不知《難經》所以名濕溫者，明與溫熱一體，即伏寒因濕而發非暑也。暑濕相搏，自有瘧痢瘴氣諸證，不得名濕溫。後世多宗《活人》，身涼不渴為濕溫，略而不辨，蓋思之而未得，不知《難經》濕溫之本旨，《金匱》六淫濕證之全體，伏邪因濕而發之源流也。余故論及之，以俟識者。然濕性沉潛凝滯，治宜溫通。伏邪化熱傷陰，法當清解。治濕溫者，當以伏邪為主，參以治濕之意，如清解法中，佐以溫通之品，歸於伏邪門。《靈樞·邪氣藏府病形篇》曰：身半以下，濕中之也。此言濕從地升，先傷下也。歸於腳氣門。《素問·生氣通天論》曰：因於濕，首如裹。此言濕從天降，先傷上也。歸於六淫濕證本門。又曰：濕熱不攘，大筋軟短，小筋弛長，軟短為拘，弛長為痿。此言濕從熱化也。歸於痿證門。長刺節論曰：肌膚盡痛，名曰肌痹，傷於寒濕。此言濕從寒化也。歸於痹證門。陰陽應象大論曰：濕盛則濡泄。此濕內侵於脾也。歸於泄瀉門。又曰：秋傷於濕，冬生咳嗽。此濕伏於脾，醞釀生痰，上傳於肺也。歸於咳嗽門。至真要大論曰：諸濕腫滿，皆屬於脾。此濕歸於土，脾不及運也。歸於腫脹門。又曰：諸痙項強，皆屬於濕。此濕過極，河間所謂風化制之也。歸於痙證門。《易》曰：水流濕。此言水流其萬物之已濕，濕本屬土，水亦能濕者，土無成位，濕無專主故也。《左傳》曰：雨淫腹疾。四十九難曰：腎主濕，皆水流濕之意。《金匱》本《難經》腎主濕，立腎著之名。東垣推外濕內侵於脾，以酒濕傷中為內濕，猶類中之意。丹溪本秋傷於濕，脾濕生痰，多兼痰治。方約之本東垣內濕之意，以七情勞役之火，薰蒸脾胃水穀，而為濕熱。蓋不知內濕，猶類中之意。戴元禮辨方土之殊，內外之異，互相多少，隨證施治，此土無成位，濕無專證，治無專法本是。然不知新受之濕，亦可專方以治也。張景岳以濕近東南，火土合德，化為濕熱。濕近西北，水土合德，化為寒濕。（蘭亭注曰：以南北分濕之多少則可，以南北分濕之寒熱則不可，東南豈無寒濕，西北豈無濕熱乎。）此以南北分寒熱，未免執泥。醫案以濕久多化熱傷陰，治以扶陰化溫為主，猶治類中之意，以補前賢之未備。醫話制化濕湯，為治新受六淫濕證之專方，可謂中流砥柱矣。</p>
<p>略曰：內濕外濕，猶真中類中之意。西北高寒，內濕多而外濕少。東南卑濕，外濕多而內濕少。正如西北真中風多，類中風少。東南類中風多，真中風少。然東南卑濕，百病宜參濕治。</p>

<h2>濕證論列方</h2>
<p>麻黃加朮湯（十八）　麻黃杏仁薏苡甘草湯（十九）　防己黃耆湯（二十）　桂枝附子湯（二十一）　桂枝去桂加白朮湯（二十二）　人參白虎湯（九）　蒼朮白虎湯（二十三）　甘草附子湯（二十四）</p>

<h1>卷六</h1>

<h2>燥證第六</h2>
<p>《素問·陰陽應象大論》，黃帝曰：燥甚則干。又岐伯曰：西方生燥，燥生金，金生辛，辛生肺。</p>
<p>又藏氣法時論，岐伯曰：腎主冬，足少陰太陽主治，其日壬癸，腎苦燥，急食辛以潤之。</p>
<p>又宣明五氣篇曰：腎惡燥。</p>
<p>又天元紀大論，鬼臾區曰：神在天為燥，在地為金。又曰：陽明之上，燥氣主之。</p>
<p>又五運行大論，岐伯曰：燥以干之。又曰：故風寒在下，燥熱在上，濕氣在中，火遊行其間。又曰燥勝則地干。</p>
<p>又氣交變大論，岐伯曰：歲金太過，燥氣流行。又曰：歲木不及，燥乃大行。又曰：西方生燥，燥生金，其德清潔，其化緊斂，其政勁切，其令燥，其變肅殺，其災蒼隕。</p>
<p>又五常政大論，岐伯曰：陽明司天，燥氣下臨。</p>
<p>《易》曰：燥萬物者，莫熯乎火。又曰：火就燥。</p>
<p>《左傳》曰：晦淫惑疾。</p>
<p>劉河間《原病式》曰：澀物濕則滑澤，干則澀滯，燥濕相反故也。如遍身中外澀滯，皆屬燥金之化，故秋脈濇，濇，澀也。或麻者，亦由澀也。由水液衰少而燥澀。</p>
<p>又曰：枯，不榮生也。涸，無水液也。干，不滋潤也。勁，不柔和也。春秋相反，燥濕不同故也。</p>
<p>又曰：經所不取火化渴者，謂渴非特為熱。如病寒吐利，亡液過極，則亦燥而渴也。雖病風熱，而液尚未衰，則亦不渴，豈可止言渴為熱而不為寒也。夫燥渴之為病也，多兼於熱，故《易》曰：燥萬物者，莫熯乎火。今言渴為燥，則亦備矣。</p>
<p>又曰：病燥過極則煩渴，反兼火化制之也。</p>
<p>又《宣明方》曰：燥乾者，金肺之本，肺藏氣，以血液內損，氣虛感風，則皴揭。風能勝濕，熱能耗液，皆能成燥。故經云：風熱火兼為陽，寒濕燥同為陰。又燥濕亦異也。然燥金雖屬秋陰，而其性異於寒濕，燥陰盛於風熱火也。故風熱甚而寒濕同於燥也。然中寒吐瀉，亡液而成燥者，亦以此矣。故經云：諸澀枯涸，幹勁皴揭，皆屬於燥也。</p>
<p>張子和曰：燥於外則皮膚皴揭，燥於中則精血枯涸，燥於上則咽鼻焦乾，燥於下則便溺結閉。夫燥之為病，是陽明之化也。</p>
<p>《丹溪心法》：消渴便結，列於燥門。（消渴便結，俱見本書，茲不贅。）</p>
<p>王肯堂曰：燥乃陽明燥金，肺與大腸之氣也。燥之為病，皆屬燥金之化，然能令金燥者，火也。故曰：燥萬物者，莫熯乎火。夫金為陰之主，為水之源，而受燥氣，寒水生化之源，竭絕於上，而不能灌溉周身，營養百骸，色干而無潤澤皮膚，滋生毫毛者，有自來矣。</p>
<p>喻嘉言曰：春傷於風，夏傷於暑，長夏傷於濕，秋傷於燥，冬傷於寒。覺六氣配四時之旨，與五運不相背戾，而千古之大疑始一抉也。然則秋燥可無論乎。夫秋不遽燥也。大熱之後，繼以涼生，涼生而熱解，漸至大涼而燥令乃行焉。又曰：病機之諸氣膹郁，皆屬於肺。諸痿喘嗽，皆屬於上。二條明指燥病言矣。生氣通天論，謂秋傷於燥，上逆而咳，發為痿厥。燥病之要，一言而終，與病機二條道相吻合，只以誤傳傷燥為濕。</p>
<p>蔣寶素曰：燥證者，六淫金燥之證也，與火證之燥不同。火氣燥烈，爍陰耗液，百病之中皆有。各詳本門論治，不得入六淫燥門。金燥之證，在《內經》本無重病，在五運六氣，不過言勝復之氣耳。前賢誤認火證之燥，錯作金燥之證。素問陰陽應象大論曰：西方生燥，燥生金。又天元紀大論曰：神在天為燥，在地為金。又曰：陽明之上，燥氣主之。又氣交變大論曰：歲金太過，燥氣流行。又五常政大論曰：陽明司天，燥氣下臨。又至真要大論曰：陽明司天，其化以燥。此內經諸篇言金燥也。《易》曰：燥萬物者。莫熯乎火。又曰：火就燥。此《易》言火氣之燥烈也。燥萬物之不燥，就萬物之已燥，火也。不待火而自燥，火不能就之燥，金也。（蘭亭注曰：以諸物試於燈下，諸物之燥，火皆就。惟金燥，火不就。若以金在上，火在下，是火爍，非火就。）金只自燥，不能燥物，火不止燥，能燥萬物。萬物皆可濕，金不可濕。此金燥與萬物之燥所以不同也。火氣能燥，風亦能燥，寒亦能燥，皆非固有良能之金燥可比。試以萬物與金同入於水，金獨不濡。（香海注曰：玉石入水亦不濡者，金石同類也。故李時珍曰：石之精為金為玉，）同入於火，金獨不枯。乃見金燥良能之本體，豈可與火燥混同乎。前賢不知金燥本無重病，但見火之燥烈，百病之中皆有，故誤以火證之燥，錯入金燥之門。蓋未考《內經》大易之旨。夫金在氣則天，蒼蒼悠悠，星漢光明而不變也。在質則金，堅強瑩潔，萬古而不磨滅也。在位則西，東作而西成也。在時則秋，春華而秋實也。在病不過毛髮蒼隕等疾，猶秋葉之搖落，而根干精華內蘊也。此金氣主成功，燥不為重病，故《內經》諸篇，皆以秋傷於濕為病，不言秋傷於燥者是也。劉河間以渴為燥。（此火燥金，非金自燥。）又以血液內損為燥。（此乃火爍，陰消液耗，非金燥所致。）張子和以咽鼻乾焦、便溺結秘為燥病。（此火上炎下熾，非金燥。）朱丹溪列消渴便結於燥門。（香海注曰：此皆火燥，非金燥。或曰飲一溲二，大便陰結，豈非金燥乎。曰：溲多內不燥，陰結是火虧，乃水冰地坼之寒燥。）王肯堂言能令金燥者火也。（余侄安伯曰：萬物之燥，皆待火。惟金燥不待火，以火灼金，熔化為水液，反無燥象。）喻嘉言以秋傷於燥，謂生氣通天論，秋傷於濕，乃誤傳傷燥與濕，且漫引諸氣膹郁諸痿喘嘔等病為燥證。（蘭亭注曰：《內經》不言秋傷於燥，而曰秋傷於濕，以五行五方五位言之。東方春肝木，生南方夏心火，南方夏心火，生中央長夏脾土，中央長夏脾土，生西方秋肺金，西方秋肺金，生北方冬腎水，北方冬腎水，復生東方春肝木，五行方位相生，如環無端，脾土雖無成位，寄旺四季，然主中央長夏，由南方心火所生，而生西方肺金，然則脾土由南而中，由中而西，旺於夏末秋初之際，故曰長夏。金燥不為重病，濕亦秋之正邪，故可伏而後發，故曰秋傷於濕，冬生咳嗽。喻嘉言才宏筆肆，好作大言欺人，不知金燥玄微，謬以秋燥傷肺，謂《內經》秋傷於濕，乃誤傳傷燥為濕，妄改經文，不容不辨。）皆未達《內經》金燥固有良能之本體也。夫秋金之氣，雖燥見於外，金能生水，而金水蘊於中，內何枯燥之有。如水旺於冬，而冬水易涸者，蘊蓄於內也。豈可謂水涸於冬乎。此金燥所以不為重病者，外燥而內不枯也，而病之中外枯燥者，火也。自河間以來，諸賢所論燥證，俱是火證之燥，非金燥之證，不得入於六淫燥門。茲立燥門，以正六淫名目。略曰：在天為氣，在地成形。在天為燥，在地成金。金止於燥，燥而不枯，故為病輕。火不止燥，燥即枯焚，故為病重。故《內經》有火證之燥，無金燥之證，而後世妄意之言，豈足憑哉。</p>

<h1>卷七</h1>

<h1>火證第七</h1>
<p>《椿田醫話》曰：五行有火，六淫復有火，則火於五行六淫，五藏六府，表裡虛實，百病之中俱有也。蓋火形虛，離中空，顯仁藏用，無所不可，無中可有，有中可無，既有有火之證，復有無火之病，（無火非真無也。譬如盛火蔽障，則微渺如無也。）火無定體，病亦如是，故難以專方主治。茲舉其大略，治藏府之火雲爾。</p>
<p>犀角、黃連治心火。（心，君火也。君火無自病之證，人之君火傷己，為班疹、瘡瘍等證，屬之藏府。）</p>
<p>柴胡、黃芩、龍膽草，治肝火。</p>
<p>芍藥、胡黃連，治脾火。</p>
<p>石膏、山梔、沙參、天冬、麥冬、栝蔞根、桑白皮、秋梨，治肺火。</p>
<p>黃柏、知母、地黃、玄參，治腎火。</p>
<p>大黃、芒硝，治胃與大腸之火。</p>
<p>赤茯苓、木通、滑石，治小腸膀胱之火。</p>
<p>栝蔞、竹茹，治膽火。</p>
<p>連翹、地骨皮，治三焦之火。（素友莊端士曰：焦之為言交也。雖有上中下之分，其實原於一氣而已。一氣為太極，動而生陽，靜而生陰，陰陽交合，中虛為三，故《內經》曰：上焦如霧，中焦如漚，下焦如瀆。按：如霧者，神之將見也。如漚者，氣之將化也。如瀆者，精之所歸也。上焦輕清之氣，已得其位，而神明之用未彰。中焦清陽之氣欲出，而濁陰之氣將有所分。下焦真陽之精氣，從下而達上，生至陰之元精，回注於下，再由至陰之元精，化至陽之真火，熏蒸於內，而氤氳氣液之源頭，如川瀆之潮汐。然則三焦之理，一以貫之矣。）</p>
<p>牡丹皮，治心胞之火。</p>
<p>升麻、葛根、青黛，治鬱火。附子、肉桂、硫黃，治無火。</p>
<p>《左傳·昭元》曰：明淫心疾。</p>
<p>《後漢書》曰：有婦人長病經年，世謂寒熱注病者也。冬十一月中，佗令坐石槽中，且用寒水汲灌，云當滿百。始七八灌，戰欲死，灌者惟欲止。佗令滿數，至將八十灌，熱氣乃蒸出囂囂高二三尺，滿百灌，佗乃然火溫床，厚覆良久，汗洽出，著粉汗糝便愈。</p>
<p>《南史》曰：將軍房伯玉，服五石散十許劑，更患冷疾，夏月常復衣。徐嗣伯診之曰：乃伏熱也。須以水發之，非冬月不可。十一月冰雪大盛時，令伯玉解衣坐石上，取新汲冷水從頭澆之。盡二十斛，口噤氣絕，家人啼哭請止，嗣伯執撾撾諫者。又盡水百斛，伯玉始能動，背上彭彭有氣，俄而起坐，云：熱不可忍。乞冷飲，嗣伯以水一升飲之，疾遂愈。自爾常發熱，冬月猶單衣，體更肥壯。</p>
<p>《九峰醫案》曰：經以有者求之，盛者責之。壯水之主，以制陽光。此治相火有餘之法也。</p>
<p>大生地（八錢）　牡丹皮（三錢）　福澤瀉（三錢）　淮山藥（四錢）　雲茯苓（三錢）　炙龜板（五錢）　川黃柏（二錢）　白知母（二錢）</p>
<p>經以無者求之，虛者責之。益火之原，以消陰翳。此治相火不足之法也。</p>
<p>大熟地（八錢）　粉丹皮（三錢）　福澤瀉（三錢）　淮山藥（四錢）　山萸肉（四錢）　雲茯苓（三錢）　製附子（一錢）　油肉桂（一錢）　或加玉壺丹（三分，研末和服）</p>
<p>蔣寶素曰：火證者，君相二火之證也。君火以明，相火以位。天之日，人之心，君火也。萬物百病之火，皆相火也。（蘭亭注曰：五行有火，六淫復有火，則火於五行六淫之中皆有也。推此則百病之中皆有火也。然火復有專門者，何也？以君火正位南方故也。）君火本無自病之證，以心為君主之官，心火自病則死。天之君火傷人為暑暍癤痱，人之君火傷己為班疹瘡瘍。然暑暍班疹，仍是守位相火受病，而曰君火證者，證因君火所傷，不可無君故也。要之百病之火，皆相火證也。以天言之，太陽君火也。（天元紀大論曰：君火以明。）天地之內，萬物之火，皆相火也。（天元紀大論曰：相火以位。）萬物之有火，必資太陽之光明以化生。太陽之光明，必受南方之正氣，及萬火之精靈以凝結，而太陽陽和之氣，塞乎天地之間者元氣也。（余侄怡齋曰：萬物不見天日則不生，與光明元氣不相接也。服桂附不能溫，無生生之氣也。魚龍居水中食物能化者，生氣為之也。置桂附於器中，而器不加熱者，無生氣故也。）太陽光明，生此元氣，化生萬物。萬物守位，稟此元氣以生化火。明位相生，君相相資，如環無端，亢變則病生焉。如溽暑流行，爍石流金，此天地六淫君火傷人之證也。龍雷震盪，光焰詣天，此天地之藏火，火不歸原之證。赤旱千里，川源枯竭，此天地之府火，火從邪化之證。（蘭亭注曰：人身一小天地，天地亦大人身，言藏言府，不可目為怪異。）陰霾四翳，交通不表，此天地無火之證。（盛火有所蔽障，則微渺如無。）皆相火也。以人言之。心，君火也。皮膚之內，藏府筋骨血肉之火，皆相火也。藏府筋骨血肉之有火，必資心君之靈明以化生。心君之靈明，必受固有良能之正氣，及藏府筋骨血肉之精華以凝結，而心君沖和之氣，塞乎五內之間者元氣也。心君靈明，生此元氣，化生藏府筋骨血肉。藏府筋骨血肉守位，稟此元氣，以生化火。明位相生，君相相資，如環無端，亢變則病生焉。如班疹瘡瘍，一時暴起，此人之六淫君火傷己之證也。肝腎陽升，（即龍雷之火。）面戴陽色，此人之藏火，火不歸原之證。伏邪化熱，苔刺唇焦，此人之府火，火從邪化之證。形神暗淡，食少便溏，此人無火之證。皆相火也。《素問·陰陽應象大論》曰：南方生熱，熱生火。又天氣紀大論曰：君火以明，相火以位。又六微旨大論曰：顯明之右，君火之位也。君火之右，退行一步，相火治之。復行一步，土氣治之。復行一步，金氣治之。復行一步，水氣治之。復行一步，木氣治之。復行一步，君火治之。（餘子端甫曰：聖人南面而立，顯明，東方也。顯明之右，正南方君火之位也。君火光明，元氣右旋空下以生萬物之相火，故曰退行一步，相火治之。其餘皆復行一步，由南方行至中央生土，由中央行至西方生金，由西方行至北方生水，由北方行至東方生木，由東方復行，即顯明之右，君火之位也。可見君火猶日之光明在上，相火猶五行萬物守位在下。）又氣交變大論曰：歲火太過，炎暑流行。此《內經》諸篇，分明以太陽光明之火為君火，萬物守位之火為相火。天之君火傷人為暑暍癤痱，人之君火傷己為班疹瘡瘍。故人五內無君火自病之證，以心火自病即死。凡言火證皆相火也。後世不達經旨，火之君相明位如此，遂至議論多歧。河間每言心火暴甚，蓋不知心君無自病之理。凡火之暴甚為病，皆守位之相火也。東垣言相火為元氣之賊，若火從邪化，有傷沖和，則可名賊，若守位之相火，豈可以賊名乎。丹溪言君火為人火，相火為天火，以名而言，形氣相生，配於五行謂之君，以位而言，生於虛無，守位稟命謂之相。蓋不知君火以明之明字，猶日之光明為君火。凡萬物之火皆相火也。其意欲以名易明，以名位分君相，反以君火為人火，謬矣。李時珍言火其綱凡三，其目凡十有二，其論博而不精。蓋不知太陽光明之火為君火，萬物守位之火為相火。張景岳譏東垣指相火為賊，以藏府各有君相，又何君之多乎。諸家所論雖偏，然其治火之法有足取者。王太僕以水折人火，制其燔焫，以火逐龍火，同氣相求。丹溪之持心主靜，使相火守位，裨補造化。張景岳效薛立齋，用八味丸料煎數碗，水浸冷服，治格陽假熱之證。是皆良法。故醫案宗太僕之意，壯水之主，以治相火之有餘。益火之原，以治相火之不足。若醫話既治其有火之火，復治其無火之火，則有無虛實，一以貫之。治火之法，無餘義矣。</p>
<p>略曰：經言知其要者，一言而終，不知其要，流散無窮。誠哉是言也。天以日為君火，人以心為君火，其餘萬物百病之火，皆為相火，則一言而終矣。</p>

<h2>火證論列方</h2>
<p>玉壺丹（二十五）　薛立齋加減八味丸（二十六）</p>

<h1>卷八</h1>

<h2>伏邪第八</h2>
<p>《椿田醫話》曰：小金丹，主治預解伏邪溫疫。夫兵荒之後，人多病疫，固在人事，不在天時。然牛疫而人不疫，雞瘟而鴨不瘟，豈非天乎。蓋天時人事兩失其宜，疫厲乃作。</p>
<p>大塊硃砂（五錢）　明雄黃（五錢）　黑沉香（五錢）　草果仁（五錢）　川厚朴（一兩）　雞心檳榔（兩半）　白檀香（一兩）　降真香（一兩）　錦紋大黃（兩半）</p>
<p>為末，神麯糊丸，桐子大，金箔為衣。凡瘟疫盛行之際，空心開水服一錢，每食後仍服三丸，亦可將此丸投入井中及水缸中，不拘多少皆妙，並治山嵐瘴氣、痎瘧、沙蜮、霍亂、邪祟諸證。</p>
<p>柴胡生地湯，主治伏邪溫疫，人虛證實，正不敵邪，攻補兩難，或攻補失宜，日久不解，余氛未盡，陰液大虧，邪正相持，奄然待斃。</p>
<p>大生地（四錢至八錢）　柴胡根（一錢）　黃芩（錢半）　炙甘草（五分）　當歸身（三錢）　赤芍藥（二錢）　雲茯苓（三錢）　陳橘皮（一錢）　活水蘆根（二兩）</p>
<p>虛甚加人參一錢，便結加懷牛膝三錢，中胃不開加穀芽、神麯。</p>
<p>柴胡白虎湯，主治伏邪溫疫，身熱脈浮，有汗心煩口渴等證，非羌防所宜者。</p>
<p>柴胡根（一錢）　黃芩（錢半）　當歸身（二錢）　炙甘草（五分）　生石膏（八錢）　白知母（二錢）　淡竹葉（三十片）　晚米（五錢）</p>
<p>痰多加製半夏錢半，陳橘皮一錢。心下滿加枳殼一錢，桔梗一錢，或加秋梨二兩，或加荸薺六個。</p>
<p>人參大黃湯，主治伏邪溫疫，日久失下，陰液枯涸，神志沉迷，溲赤而渾，大便不解，不思米飲，手足掉搖，形消脈奪，攻之元氣不繼，補之邪結不開，攻之不可，補之不及，兩無生理，與其坐待，莫如一決，故立此方，冀其百一。</p>
<p>生大黃（三錢至五錢，或八錢）　人參（一錢至錢半，或三錢）</p>
<p>上二味，長流水另煎和服。</p>
<p>中承氣湯，主治伏邪一切下證，慮其大承氣太峻，小承氣太輕，調胃承氣太緩，三乙承氣太渾，執其中治宜之。</p>
<p>生大黃（三錢）　玄明粉（二錢）　枳實（一錢）</p>
<p>蔞貝二陳湯，主治裡實宜下，人虛證實，非硝黃所宜。</p>
<p>栝蔞仁（四錢）　大貝母（二錢）　赤茯苓（三錢）　生甘草（五分）　製半夏（錢半）　陳橘皮（一錢）　麩炒枳實（一錢）　活水蘆根（二兩）　或加淡竹茹（錢半）　或加大荸薺（六個）　或加陳海䖳頭（二兩）　或加滾痰丸（三錢）</p>
<p>治疫大法，汗、下、養陰而已。然下證十居八九，下之當萬舉萬全，下之不當，危亡立見，運用之妙，存乎一心。茲略舉其應下諸證，以俟圓機之士。</p>
<p>舌苔起刺，其苔或黑或灰，或黃或白，其舌或強或硬，或短或裂或卷。</p>
<p>唇齒焦黑。</p>
<p>鼻煤如煙燻。</p>
<p>目赤如火爍。</p>
<p>咽喉乾燥思冷飲。</p>
<p>心下至少腹痞滿脹痛拒按。</p>
<p>溲赤而渾，或涓滴作痛。</p>
<p>大便自利純臭水不可近，或如敗醬。</p>
<p>大便秘結。</p>
<p>二便俱秘。</p>
<p>熱厥，厥深熱亦深，甚至身冷脈伏。</p>
<p>神昏如醉。</p>
<p>發狂。</p>
<p>消渴。</p>
<p>譫語煩躁。</p>
<p>發痙，身形強直。</p>
<p>未申時潮熱。</p>
<p>呃逆腹滿，二便不利。</p>
<p>發黃。</p>
<p>畜血。</p>
<p>通宜犀角地黃湯合調胃承氣湯下之。素稟陽虛者加製附子，陰虧已極者用生地露煎藥，氣虛者加人參，痰多者加陳膽星。凡下不必待七日後，有三五日即死，何可待也。有是證則投是藥，大都三五日即死者，皆下證也。然有不可下者，大勞大欲之後，及宿疾先虧，年邁氣衰，稟賦羸弱，適逢伏邪內發，如空城遇敵，戰守兩難，惟有犀角地黃湯合生脈散，冀其或免。</p>
<p>《周禮·天官》疾醫職曰：疾醫掌養萬民之疾病，四時皆有厲疾。</p>
<p>《呂氏春秋·孟春紀》曰：孟春行秋令，則民大疫疾。又季春紀曰：季春行夏令，則民多疾疫，時雨不降，山陵不收。又仲夏紀曰：仲夏行秋令，則草木零落，果實早成，民殃於疫。又仲冬紀曰：發蓋藏，起大塚，地氣且泄，是謂發天之房，諸蟄則死，民多疾疫。</p>
<p>《禮記·月令》曰：孟夏行秋令，則民多大疫。</p>
<p>《史記·扁鵲倉公列傳》曰：齊中御府長信病，臣意入診其脈，告曰：熱病氣也。然暑汗脈少衰不死。曰：此病得之當浴流水而寒甚，已則熱。信曰：唯然。往冬時為王使於楚，至莒縣陽周水，而莒橋梁頗壞，信則攬車轅未欲渡也。馬驚即墮，信身入水中幾死，吏即來救，信出之水中，衣盡濡，有間而身寒，已熱如火，至今不可以見寒。臣意即為之湯液火劑逐熱，一飲汗盡，再飲熱去，三飲病已。即使服藥出入二十日，身無病者。所以知信之病者，切其脈時並陰。《脈法》曰：熱病陰陽交者死。切之不交，並陰，並陰者，脈順清而愈。其熱雖未盡，猶活也。腎氣有時間濁，在太陰脈口而希，是水氣也。腎固主水，故以此知之。失治一時，即轉為寒熱。</p>
<p>《說文》曰：疫，民皆疾也。</p>
<p>《釋名》曰：疫，役也。言有鬼行役也。</p>
<p>《張華博物志》曰：漢武帝時，西域月氏國，度弱水貢返魂香三枚，大如燕卵，黑如桑椹。值長安大疫，西使請燒一枚闢之。宮中病者聞之即起，香聞百里，數日不歇。疫死未三日者，熏之皆活。（理之所無，而事或有。芳香解疫則然也。）</p>
<p>《通鑑·唐紀》：關中比歲饑饉，兵民率皆瘦黑，至是麥始熟，市有醉人，當時以為嘉瑞。人乍飽食，死者五之一。</p>
<p>《太平御覽》七百四十二卷，載曹植《說疫氣》曰：建安二十二年，厲氣流行，家家有殭屍之痛，室室有號泣之哀，或闔門而殪，或覆族而喪，或以為疫者，鬼神所作。夫罹此者，悉被褐茹藿之子，荊室蓬戶之人耳。若夫殿處鼎食之家，重貂累蓐之門，若是者鮮焉。此乃陰陽失位，寒暑錯時，是故生疫，而愚民懸符厭之，亦可笑也。</p>
<p>《元史·耶律楚材列傳》曰：材從太祖下靈武，諸將爭取子女金帛，材獨取遺書及大黃。既而士卒病疫，惟得大黃輒愈。</p>
<p>《九峰醫案》曰：第二日憎寒發熱，頭身腰背俱痛，苔白溲赤，無汗脈數，邪伏膜原，外越太陽經也。</p>
<p>羌活（一錢）　防風（一錢）　川芎（八分）　海南檳榔（一錢）　川厚朴（八分）　草果仁（五分）　酒炒黃芩（一錢）　炙甘草（五分）　赤芍（錢半）　生薑（一片）</p>
<p>第三日，惡寒自罷，晝夜發熱，日晡益甚，頭身之痛較輕，眉稜目眥痛甚，鼻乾不得臥，苔白，汗不透，脈洪長而數，溲渾而赤，伏邪外越，陽明經府不和，不致神昏呃逆為吉。</p>
<p>海南檳榔（一錢）　川厚朴（七分）　草果仁（五分）　酒炒黃芩（錢半）　炙甘草（五分）　白知母（錢半）　赤芍（錢半）　葛根（二錢）　生薑（一片）</p>
<p>第四日，得汗雖透，熱仍不解，反覺憎寒，耳聾不寐，心煩喜嘔，胸滿脅痛，苔淡黃，溲渾赤，脈弦數。伏邪交併少陽陽明，小柴達原加減。</p>
<p>柴胡根（一錢）　酒炒黃芩（錢半）　炙甘草（五分）　川厚朴（七分）　海南檳榔（一錢）　草果仁（五分）　赤芍（錢半）　白知母（二錢）　生薑（一片）</p>
<p>第五日，煩嘔稍減，夜得少寐，寒熱依然，耳聾胸滿，溲渾赤，脈弦數。照原方加陳皮一錢。</p>
<p>第六日，小柴達原加減服後，大解一次，色如敗醬，渾赤之溲較淡，夜寐稍安，四更後心煩作嘔，飲陳米湯少頃即止，平明自汗，身熱乍退，唇燥舌乾，脈仍弦數，伏邪漸潰，陰液耗傷，慮生歧變。</p>
<p>柴胡根（一錢）　黃芩（錢半）　炙甘草（五分）　赤芍（錢半）　知母（二錢）　陳橘皮（一錢）　當歸身（三錢）　逆水蘆根（一兩）　大荸薺（四枚）</p>
<p>第七日，熱退，脈不靜，大便如敗醬，溲渾如豆汁，夜寐不沉，胸否不食，心煩作嘔，舌燥作渴，苔黃不腐，伏邪化熱傷陰，最忌神昏，苔刺呃逆。原方加天花粉三錢。</p>
<p>第八日，脈數便未解，溲反渾近赤，顛前心下俱熱有汗，肢微冷，苔黃，舌尖赤微有刺，口燥作渴，反欲熱飲，神煩少寐。邪伏少陽，倒入陽明，化熱傷陰，熱極反兼寒化。肢冷，渴欲熱飲，大便不解，府氣不通，邪無出路，原當承氣下結存津，二氣素虛，姑從緩治。</p>
<p>大生地（五錢）　當歸身（三錢）　柴胡根（一錢）　黃芩（錢半）　知母（二錢）　懷牛膝（三錢）　赤芍（錢半）　枳實（一錢）　逆水蘆根（二兩）</p>
<p>第九日，服藥後大解二次，色黑如漆，中有瘀血，顛前熱退，苔刺回潤，煩渴減，肢逆和，夜寐安，數脈緩，溲色漸淡，黃苔漸腐，伏邪賴府氣宣通漸化，後陰為里之表，邪伏膜原，轉入陽明，由大腸傳逆變化出焉，其路甚近，與表邪從汗解之意同，故大便解，諸證減，大便閉，諸證加。六淫在表，當從汗解。伏邪在裡，當從便解。攻下與發汗何殊，伏氣與表邪一體。胃為多血之府，脾為統血之藏，便黑帶血，胃熱迫血流入大腸，病及至陰，脾傷失統。慮其大便復閉，陽邪復聚，仍以養陰通府。</p>
<p>大生地（四錢）　生甘草（五分）　當歸梢（三錢）　懷牛膝（錢半）　赤芍（錢半）　知母（二錢）　黃芩（錢半）　黑山梔（錢半）　桃仁泥（錢半）　杏仁泥（三錢）　栝蔞仁（三錢）　活水蘆根（二兩）</p>
<p>第十日，本方加大荸薺六個，用長流水煎。</p>
<p>第十一日，兩進養陰通府，便解三次，色紫黑有塊，純是停瘀，諸證悉除，宵眠呼吸自若，醒後神志安舒，知飢思食，身涼脈緩，惟溲色猶渾，胸前尚熱，余氛未盡，伏邪解於血分，真陰五液俱傷，在內為血，發外為汗，汗即血也。病從血下而瘳，猶表邪隨汗而解，後陰為里之表，於茲可見。議補陰益氣，以善其後。</p>
<p>大生地（八錢）　人參（一錢）　淮山藥（四錢）　炙甘草（五分）　當歸身（三錢）　新會皮（一錢）　銀柴胡（五分）　炙升麻（三分）</p>
<p>始得病，不惡寒，發熱而渴，溲赤不寐，服發表消導等劑，汗不出，熱不退，延今四十餘日，形容枯削，肢體振掉，苔色灰黑，前後大解共十三次，醬黑之色，逐次漸淡，至於黃，溲亦渾黃不赤，晝夜進數十粒薄粥四五次，夜來倏寐倏醒，力不能轉側，言不足以聽，脈微數，按之不鼓，年及中衰，體素羸弱，伏邪雖有欲解之勢，元氣渺無驅逐之權，邪熱縱橫，真陰枯涸，勢必邪正相尋俱敗，危如朝露，急宜峻補，冀其五液三陰一振，正復不能容邪，從中擊外，庶幾一戰於表，得戰汗則解。</p>
<p>大生地（八錢）　人參（一錢）　大麥冬（三錢）　遼五味（八分）　當歸身（三錢）　白茯神（三錢）　酸棗仁（三錢）　遠志肉（一錢）　逆水蘆根（二兩）</p>
<p>扶陰斂氣，輔正驅邪，服後竟得戰汗，寒戰逾時，厥回身熱，汗出如浴，從朝至暮，侵汗不收，鼻息幾無，真元幾脫，急以前方進服二劑。</p>
<p>前方連服二劑，侵汗旋收，諸證悉退，惟精神慵倦，酣睡若迷。此邪退正復之機，邪正相持日久，邪氛初息，正返於經，休息無為，固當如是，原方再服。是方也，本非發汗，亦非止汗。夫汗之出與汗之收，皆元氣為之主宰。氣為橐籥，汗為波瀾。前服所以汗出者，藥力輔正，從藏達府，由經出絡，驅邪於表。邪從汗解，而汗不止者，藥力不繼，正虛不可復收，故以原方仍從某經某絡導其散亡之氣，還之藏府。若投止汗之劑，則大謬不然，或增減一味亦不可，藥性有歧，途迷莫返，故曰失之毫釐，差以千里，欲發汗不知營衛之盛衰，欲止汗不知橐籥之牝牡，是猶盪舟於陸，駕車於海，僕非不能再議一方，故縷述為知者一道。</p>
<p>六脈俱數，浮取不足，沉取有餘，十日以來，神昏如醉，間或獨語，苔淡黃不潤，板齒無津，目赤唇焦，不飢不渴，與湯飲亦受，心下至少腹，按之無痛滿，大便如常，溲色紅渾，伏邪盤踞太陽，熱入膀胱，壬病逆傳於丙，丙丁兄妹，由是傳心，心火雲金，清肅不行，犯經旨死陰之禁，慮難有濟。勉擬犀角地黃湯，合導赤散，加黑山梔，取清心保肺，導引邪火屈曲下行之意。</p>
<p>大生地（八錢）　犀角（錢半）　白芍藥（三錢）　粉丹皮（三錢）　甘草梢（一錢）　木通（一錢）　黑山梔（二錢）　活水蘆根（二兩）</p>
<p>經以心之肺，謂之死陰。不過三日而死者，不及金之生數也。服清心保肺三劑，竟過三日，生氣復來，清肅令行，熱氛自退，知飢欲食，胃氣漸醒，神識漸清，溲渾尚赤，導赤保肺，犀角清心以逼丁邪返丙歸壬，溲清則愈。</p>
<p>大生地（八錢）　犀角（二錢）　白芍藥（三錢）　粉丹皮（三錢）　甘草梢（一錢）　木通（一錢）　黑山梔（二錢）　白茯苓（三錢）　福澤瀉（三錢）　黃芩（錢半）　活水蘆根（二兩）</p>
<p>身熱汗自出，不欲去衣者，惡寒也。正傷寒汗出惡寒為表虛，伏氣則不然，邪伏膜原，外越三陽之表，衛護失司，腠理不密，以溲渾赤為別，非寒傷於表可比。宜順其性以揚之。不可執有汗用桂枝解肌，仲景有桂枝下咽，陽盛則斃之戒，擬活人敗毒散加減。</p>
<p>羌活（一錢）　柴胡根（一錢）　枳殼（一錢）　川芎（一錢）　炙甘草（五分）　桔梗（一錢）　赤茯苓（三錢）　陳皮（一錢）　生薑（一片）</p>
<p>傷寒汗出淋漓，則病不除，伏邪汗出淋漓，則病將解，昨暮服藥，汗更大出，發背沾衣，通宵達旦，溱溱不已，遍體涼和，六脈俱靜，溲色澄清，惟中胃未醒，宜養胃生陰。</p>
<p>大沙參（三錢）　雲茯苓（三錢）　黑脂麻（三錢）　鮮石斛（三錢）　當歸身（三錢）　炒穀芽（三錢）　陳橘皮（一錢）　白豆蔻（八分）　六和神麯（錢半）　陳倉米（一兩）　荷葉蒂（一個）</p>
<p>諸氣膹郁，皆屬於肺。諸逆衝上，皆屬於火。肺司百脈之氣，腎藏五內之精。腎水承製五火，肺金運行諸氣。悲則傷肺，恐則精卻。思為脾志，實本於心。思則氣結，憂則氣耗，郁損心陰。真氣潛消，邪氛日進，亢則害，五志之陽，與邪渾一，俱從火化，爍陰耗液。所謂熱蒸氣騰，壯火食氣是也。屢寐氣屢升，不分左右，似呻吟而近太息，又非短氣，寐則陽氣下交於陰，血歸於肝，氣歸於腎，清肅不行，蒸熱不退，腎水不升，肺氣不降，金水交傷，水火不濟，肺熱奚疑。飲入於胃，輸於脾，歸於肺，注於膀胱，溲赤是其明驗。水出高源，擬用一味葦莖，取其清空之氣，甘平之力，以達清虛而益氣化，若雨露之溉，盪滌伏熱，即是補陰，清金不寒，壯水非補，且兼開胃，不亦宜乎。</p>
<p>活水蘆根（四兩）　甘瀾水煎。</p>
<p>脈浮而數，顛痛身疼無汗，翕翕發熱，洒洒振寒，腠理致密，玄府不開，乃三陽表證也。</p>
<p>羌活（一錢）　防風根（一錢）　細辛（三分）　蒼朮（一錢）　白芷（一錢）　川芎（八分）　黃芩（一錢）　大生地（三錢）　炙甘草（五分）　生薑（一片）　雲茯苓（三錢）</p>
<p>服加減沖和湯，得汗遍身悉潤，寒熱頓除，顛疼亦止，浮數之脈亦緩。惟身痛不休，乃表氣未和，宜桂枝湯小和之。</p>
<p>桂枝（八分）　炙甘草（五分）　赤芍（二錢）　生薑（三片）　大棗（二枚）</p>
<p>服桂枝湯，入夜神煩不寐，身反大熱，脈反滑數，苔白如積粉，板滯不宣，汗出如浴，惡風不欲去衣，溲赤而渾，間有譫語，此伏邪內動，盤踞膜原，化熱傷陰之漸。經以冬傷於寒，春必病溫，夏必病熱。蓋始為寒，而終成熱，同氣相求，傷寒遇寒則發。前服沖和湯諸證乍退者，新感之寒邪從汗而解，身痛未除者，伏邪乘表虛而外越，與衛氣相爭，致令營衛失其常度。得桂枝諸證蜂起者，非桂枝之過，乃伏邪化熱，直貫陽明，液耗陰傷，而禍亂起於蕭牆之內。有神昏如醉，陰枯發痙之慮，故仲景有急下存津之旨。暫以吳氏達原飲，觀其進退。</p>
<p>海南檳榔（一錢）　川厚朴（八分）　草果仁（五分）　白知母（錢半）　黃芩（錢半）　炙甘草（五分）　赤芍（二錢）　生薑（一片）</p>
<p>昨服達原飲，舌後之苔轉黃，身熱不從汗解，溲赤而渾，便溏色絳，竟夜不寐，神煩譫語，心下拒按，脈來滑數，府濁雖行，液耗陰傷可慮，原方加減。</p>
<p>海南檳榔（一錢）　川厚朴（七分）　草果仁（五分）　黃芩（錢半）　炙甘草（五分）　知母（錢半）　赤芍（二錢）　枳實（一錢）　桔梗（一錢）　生薑（一片）</p>
<p>兩進達原飲，大解五次俱溏，醬黑之色漸淡，溲轉渾黃，胸次漸開，夜得少寐，身熱減，自汗收，府濁既行，議下從緩，依方進步。</p>
<p>海南檳榔（一錢）　川厚朴（五分）　草果仁（五分）　白知母（錢半）　黃芩（錢半）　炙甘草（五分）　赤芍（二錢）　鮮生地（八錢）　當歸身（三錢）</p>
<p>昨藥後，熟寐通宵，寅初忽覺憎寒，須臾寒戰如瘧，引被自覆，遍身悉冷，四肢厥逆，脈細如絲，神情蕭索。卯正遍身灼熱，屏去衣被，躁擾不安，欲起者再，倏然大汗淋漓，始自頭項，下溉周身，汗之到處，灼熱遽除，如湯沃雪。食頃脈靜身涼，神清氣爽，諸證如失。此非轉瘧，乃戰汗也。得戰汗者，以其人本虛，內伏之邪，既從府氣宣通而潰，則在經之邪，孤懸難守，不攻自散，仍從表解，外與正爭，邪正交爭則戰，邪退正復則已，正氣不支，是以發戰，宜安神養營。</p>
<p>大生地（八錢）　白茯神（三錢）　酸棗仁（三錢）　遠志肉（一錢）　當歸身（三錢）　白芍（二錢）　炙甘草（五分）　陳皮（一錢）　桔梗（一錢）</p>
<p>諸證悉退，溲色猶渾，知飢不欲食，黃苔未盡腐，中胃未醒，余氛未盡，尚宜養胃生陰。</p>
<p>大生地（五錢）　當歸身（三錢）　大白芍（錢半）　赤茯苓（三錢）　生甘草（五分）　製半夏（錢半）　陳橘皮（一錢）　炒穀芽（三錢）　六和曲（二錢）</p>
<p>養胃生陰，以安神志。</p>
<p>大生地（五錢）　白茯神（三錢）　當歸身（三錢）　白芍藥（二錢）　鮮石斛（三錢）　陳橘皮（一錢）　炙甘草（五分）　炒棗仁（三錢）　活水蘆根（二兩）</p>
<p>養胃生陰，以安神志，已服三劑，知飢欲食，二便如常。惟夜臥不安，虛里穴動，心腎不交，五液真陰未復，六味歸脾加減。</p>
<p>大生地（四兩）　粉丹皮（兩半）　人參（一兩）　雲茯苓（兩半）　淮山藥（二兩）　福澤瀉（兩半）　冬白朮（兩半）　炙甘草（五錢）　當歸身（二兩）　酸棗仁（二兩）　遠志肉（一兩）</p>
<p>為末，龍眼肉三兩，煎水疊丸，早服三錢，晚服二錢。</p>
<p>陰枯邪陷，邪盛正虛，譫語神昏，苔黑起刺，唇焦齒焦，溲赤目赤，汗出至腰而還，潮熱日晡益甚，循衣，肢強如痙，大便九日不解，脈數疾無力。補正則邪毒愈甚，攻邪則正氣不支，攻之不可，補之不及，兩無生理，勉擬一方，冀其百一。</p>
<p>大生地（八錢）　人參（一錢）　當歸身（三錢）　大白芍（三錢）　粉丹皮（三錢）　犀角（二錢）　黃芩（二錢）　知母（三錢）　生大黃（五錢，另煎數沸搗汁）</p>
<p>第七日，三投汗劑，繼進麻黃，汗竟不出，潮熱顛疼，肢尖反冷，脈數，苔淡黃不潤，溲渾赤，神昏。此非表證，乃伏邪內壅，陽郁不伸，氣液不能敷布於外，必得裡氣宣通，云蒸雨化，伏邪還表，方能作汗，譬如縛足之鳥，乃欲飛騰，其得可乎。</p>
<p>柴胡根（一錢）　黃芩（錢半）　炙甘草（五分）　栝蔞仁（三錢）　大貝母（二錢）　赤芍（二錢）　當歸身（三錢）　陳橘皮（一錢）　活水蘆根（二兩）</p>
<p>經以冬傷於寒，春必病溫。寒乃冬月之正邪，乘腎虛潛伏夾脊之內，橫連膜原，去少陰尚近，離陽明不遠，故溲赤而渾，神煩不寐，身熱汗自出，不惡寒而微渴，顯系邪氣先從內出之於外也。所服之方，多從表散，延今二十三朝，身熱轉為潮熱，如癉瘧之狀，反無汗，大便易，色如漆，中有血塊，䐃肉全消，筋脈動惕，苔刺唇焦，神昏如醉，伏熱稽留，無由以泄，奪血無汗，奪汗無血，表液已枯，里血復竭，邪正兩亡，殊難奏捷，勉擬一方，質諸明哲。</p>
<p>大生地（八錢）　烏犀角（錢半）　大白芍（三錢）　生甘草（八分）　當歸身（三錢）　桃仁泥（二錢）　粉丹皮（三錢）　懷牛膝（三錢）　活水蘆根（二兩）</p>
<p>達原飲，達膜原之邪。沖和湯，開太陽之表。服後大汗淋漓，衣被俱濕，身反大熱，消渴引飲，舌根黃，舌尖絳，中央苔白不潤，溲渾赤，便不解，脈長洪而數，伏邪中潰，鬱熱暴伸，散漫經中，不傳胃府，欲作戰汗，宜白虎加人參湯。</p>
<p>生石膏（八錢）　人參（錢半）　知母（三錢）　生甘草（一錢）　粳米（五錢）</p>
<p>過經不解，便溏色絳，苔淡黃，溲渾赤，熱潮寅卯，指時而發，伏邪尚在少陽經也。</p>
<p>北柴胡根（一錢）　黃芩（錢半）　炙甘草（五分）　麩炒枳實（一錢）　赤芍（二錢）　桔梗（一錢）　赤茯苓（三錢）　大荸薺（六個）</p>
<p>伏邪盤踞膜原，內與陰爭則寒，外與陽爭則熱，寒熱往來，熱多寒少，溲赤而渾，便溏色絳，虛煩少寐，汗出如漿，藏陰營液俱傷，伏熱邪氛猖獗，正氣不支，難以直折，避其來銳，暫以小柴陷胸，從乎中治。</p>
<p>柴胡根（一錢）　黃芩（錢半）　人參（一錢）　炙甘草（五分）　製半夏（錢半）　川黃連（八分）　栝蔞根（三錢）　生薑（一片）　大棗（一枚）</p>
<p>小柴胡守少陽之樞，小陷胸抑縱橫之熱，服後熟寐移時，大便迤邐而解，從初更至平旦共六次，俱如敗醬，溲頻數，渾赤之色漸清，寒熱往來，熱勢減半，濈然汗出，遍體涼和，數脈已緩，黃苔亦腐，伏邪中潰，表裡分傳，正復不能容邪，余氛散漫，擊其惰歸，宜開鬼門，潔淨府。</p>
<p>柴胡根（一錢）　黃芩（錢半）　生甘草梢（八分）　赤茯苓（三錢）　豬苓（錢半）　福澤瀉（二錢）　麩炒枳實（一錢）　桔梗（一錢）　飛滑石（三錢）</p>
<p>第八日，寒熱如瘧，一日數發，苔白溲紅，虛煩少寐，旦慧夕加，晝輕夜甚，經水適來，熱入血室，殊難調治。不可汗，不可吐，不可下，不可溫，不可補，且不可和，姑擬小柴胡，加生地、丹皮、歸、芍、紅花、青蒿、鱉甲、茯苓、澤瀉，從少陽開甲木，帥中正之氣入氣街，導營熱歸膀胱，庶不犯中胃二焦，或用犀角地黃湯近於是也。</p>
<p>柴胡根（一錢）　黃芩（錢半）　南沙參（三錢）　炙甘草（五分）　製半夏（錢半）　大生地（三錢）　粉丹皮（錢半）　青蒿梗（錢半）　赤芍（二錢）　紅花（一錢）　當歸身（三錢）　炙鱉甲（三錢）　赤茯苓（三錢）　福澤瀉（錢半）</p>
<p>病經二十八日，口禁不語，身臥如塑，溲渾如柏汁，便解如豚肝，脈空弦無力，䐃肉全消，皮膚甲錯，舌卷目上視，心下熱熾手，伏邪深陷厥陰，液脫陰枯已著，攻之不可，補之不及，兩無生理。勉擬黃龍法，取攻補兼施之意，以副百一之望。</p>
<p>人參（一錢）　生大黃（四錢）　當歸身（三錢）　炙甘草（五分）　枳實（一錢）　大生地（四錢）</p>
<p>昨服黃龍法，燥屎仍不下，溲渾赤如故，口禁不能言，身強直，形消脈奪，目眩然不瞑，舌橋而不下，液脫陰亡，髓熱發痙，化原已絕，無復資生，神機已息，枯魄獨存，雖扁鵲倉公復起，烏能措其手足，或以原方再服一劑。</p>
<p>蔣寶素曰：伏邪者，本篇創立之名。本之《內經》，參之諸家，驗之今世，即世人泛指傷寒、溫疫、春邪、秋邪、時邪、溫病、熱病諸證之本原也。然所謂伏者，冬寒伏於膜原之間，化熱傷陰，表裡分傳，多為熱證。以始得病，溲即渾濁，或黃或赤為據，（蘭亭注曰：小便乃州都氣化，邪在表無關於里，何至變色。色變渾濁，顯是邪伏於中，化熱傷陰之明驗也。）其證則溲赤而渾，神煩少寐，或洒洒振寒，或蒸蒸發熱，或但熱不寒，或汗出熱不退，或潮熱往來，或寒熱如瘧，或頭疼身痛，或狂躁譫語，或渴或不渴，或反欲熱飲，或有汗，或無汗，或汗不達下，舌苔或白或黃，或灰或黑，或滑或澀，或生芒刺，或反無苔而色紫赤，大便或秘或溏，或下利臭水，或如敗醬，或帶瘀血，或遇濕土司令，釀成濕溫，則身痛異常，溲更渾濁，當與濕證門參治。然濕從土化，土無成位，濕無專證，但治伏邪為主，輔以溫通治濕之意。其解或戰汗自汗，躁汗狂汗，發斑發疹，其劇或發痙，或神昏如醉，或黑苔起刺，唇齒焦枯，或鼻煤舌裂，或呃逆從少腹上衝，或搖頭，肢體振掉，或氣急痰湧，其脈則忌緊澀細數，而喜和緩滑大。其治或先用吳氏達原飲加減，從乎中治。然後或汗或下。如見三陽表證，加羌活、葛根、柴胡之類。見三陰里證，加大黃、芒硝之類。或先汗而後下，或先下而後汗，或汗而再汗，或下而再下，或但汗不下，或但下不汗，或養陰化邪，或補瀉兼施。無為夾陰所惑，誤服桂、附則死。（蘭亭注曰：夾陰二字，流俗相傳，本無所據。若因房室致病，男子為夾陰，則女子為夾陽，殊屬可笑，或謂夾虛可也。病在三陰為陰證，孩提之童亦有之，房室何與焉。陰證乃正傷寒家事，伏邪溫疫無陰證，或有不過千萬中之一二耳。）察其證脈表裡虛實，老少強弱，風土寒暄，高粱藜藿，參合為治。善後則宜和胃養陰，汗則九味羌活湯、活人敗毒散、柴葛解肌湯、小柴胡湯、吳氏達原飲，加三陽表藥，醫話柴胡白虎湯之類。下則大小承氣湯、調胃承氣湯、桃仁承氣湯、大柴胡湯、柴胡加芒硝湯、涼膈散、拔萃犀角地黃湯、吳氏達原飲加大黃，醫話中承氣湯、蔞貝二陳湯之類。養陰化邪，則犀角地黃湯、醫話柴胡生地湯之類。補瀉兼施，則陶氏黃龍湯、醫話大黃人參湯，或半夏瀉心湯、十味溫膽湯之類。善後則醫話歸芍二陳湯，加穀芽、神麯之類。此其大略，神而明之，存乎其人。《黃帝內經靈樞·邪氣藏府病形篇》曰：正邪之中人也微，先見於色，不知於身，若有若無，若亡若存，有形無形，莫知其情。又五變篇曰：百病之始期也，必先生於風雨寒暑，循毫毛而入腠理，或復還，或留止。《素問·生氣通天論》曰：冬傷於寒，春必病溫。又八正神明論曰：正邪者，身形若用力，汗出腠理開，逢虛風，其中人也微，故莫知其情，莫見其形。又熱論篇曰：今夫熱病者，皆傷寒之類也。此《內經》諸篇，分明以正邪內伏，而後發為溫疫。又六元正紀大論，六經司天之氣，氣溫草榮民康之際，溫厲乃作，遠近咸若。此其先有伏邪可據。《難經》溫病之脈，行在諸經，不知何經之動。此經中有伏氣可知。《周禮》四時皆有厲疾。蓋邪伏之深，亦可期年而發。《呂覽》《禮記》，以非時之氣為疫，即伏邪因感而發。（蘭亭注曰：外感之病卒而少，內伏之病遲而多。外受之邪，數日之間。內伏之氣，數月之久，則多少可較，證名可徵矣。）《史記》齊中御府長信，冬時墮水濡衣，病熱伏寒，化熱可證。《金匱要略》百合病，必待日數足而後解，亦伏邪之類。《傷寒論》平脈篇，直以伏氣為病名。又傷寒例，以寒毒藏於肌膚，春變為溫，夏變為暑。春時陽氣發於冬時伏寒。冬傷於寒，發為溫病，本於經旨。又太陽篇，太陽病發熱而渴，不惡寒者為溫病，即不惡寒，邪非在表，而渴屬內熱伏氣顯然。又陽明篇諸下證，與伏邪入胃之意同。又少陰篇之自利，心下痛，厥陰篇之厥深熱亦深諸下證，與伏邪化熱傷陰之意同。《太平御覽》，（七百四十二卷。）載曹植說疫氣致病，悉被褐茹藿之子，荊室蓬戶之人，若夫殿處鼎食之家，若是者鮮矣。此亦飢寒傷正，邪伏而後發。巢元方以疫厲與時氣溫熱相類，蓋不知由於一氣所伏，而有輕重多寡之分耳。《通鑑·唐紀》，關中比歲饑饉，兵民率皆瘦黑，至是麥始熟，市有醉人，當時以為嘉瑞，人乍飽食，死者五之一。此人飽食，非受風寒，蓋有伏邪內動。劉河間《宣明方》，治疫厲不宜熱藥解表，而用白虎湯、涼膈散，明其伏熱在內。李東垣《辨惑論》，載壬辰改元，京師戒嚴，受敵半月，解圍之後，都人之不病者，萬無一二，既病而死者，繼踵不絕，將近百萬。豈俱感風寒，皆伏邪所致。《丹溪心法》，溫疫，眾人一般病者是，治有三法，宜補，宜散，宜降，首用大黃、黃連、黃芩，先攻其里，亦見其內有伏邪。《丹溪心法附余》，附《傷寒直格》心要論，證治諸法，治伏邪甚善，當與吳氏《溫疫論》互閱。方約之謂溫熱之病，因外感內傷，觸動鬱火，自內而發之於外，此明指邪伏於中。《元史》耶律楚材，用大黃治士卒病疫，足見邪伏於裡。王履《溯洄集》，溫病熱病發於天令暄熱之時，怫熱自內而達之於外。又云：每見世人治溫熱病雖誤，攻其里亦無大害，誤發其表，變不可言，足以明其熱之自內達外矣。張景岳以溫疫本即傷寒，多發於春夏，必待日數足，然後得汗而解，此與《金匱》百合病之義同，皆有內伏之邪故也。吳又可《溫疫論》，治伏邪最切，而反以冬傷於寒，春必病溫為非是，蓋不知寒乃冬月之正邪，正邪之中人也微，先見於色，不知於身，若有若無，若亡若存，及身形若用力，汗出腠理開，逢虛風為正邪，可伏而後發也。醫案醫話諸方，治得其中，切於時用，可謂備前人之未備。由是觀之，伏邪所從來遠矣。然人之強弱不同，攻守有異，大法有三，攻邪為上策，輔正祛邪為中策，養陰固守為下策。蓋邪伏於中，猶禍起蕭牆之內，邪正交爭，勢不兩立，正氣無虧，直攻其邪，邪退而正自復也。若正氣有虧，不任攻邪，權宜輔正，且戰且守，勝負未可知也。若正氣大虧，不能敵邪，惟有養陰一法，悉力固守，冀其邪氛自解，不已危乎。是以正氣不虛，伏邪雖重，治得其宜，可奏全捷。惟正虛可畏。不知者反以攻邪太峻，樂用平穩之方，致使邪氛日進，正氣日虧，正不勝邪，則輕者重，重者危，卒至不起，乃引為天數，豈不謬哉。</p>
<p>略曰：道光壬午，余閤家染疾，長幼相似，祖母氏楊年八十三，其勢尤重，亦用達原飲，繼進承氣湯而愈，壽至九十五而卒。況年少力強者乎。</p>

<h2>伏邪論列方</h2>
<p>滾痰丸（二十七）　犀角地黃湯（二十八）　調胃承氣湯（二十九）　生脈散（十三）　九味羌活湯（三十）　活人敗毒散（三十一）　柴葛解肌湯（三十二）　小柴胡湯（三十三）　達原飲（三十四）　大承氣湯（三十五）　小承氣湯（三十六）　桃仁承氣湯（三十七）　大柴胡湯（三十八）　柴胡加芒硝湯（三十九）　涼膈散（四十）　拔萃犀角地黃湯（四十一）　黃龍湯（四十二）　半夏瀉心湯（四十三）　十味溫膽湯（四十四）</p>

<h1>卷九</h1>

<h2>痎瘧第九</h2>
<p>《椿田醫話》曰：加減柴陳湯，主治痎瘧，隨證加減。痎即三瘧也。瘧必內有伏暑，外感風寒，終歸汗解。</p>
<p>柴胡根（一錢）　黃芩（錢半）　炙甘草（五分）　當歸身（三錢）　青蒿根（二錢）　赤茯苓（三錢）　製半夏（錢半）　陳皮（一錢）　生薑（一片）</p>
<p>無汗，加羌活（一錢），防風（一錢），川芎（一錢）。</p>
<p>汗多，加生牡蠣（三錢）。</p>
<p>寒重，加桂枝（八分），乾薑（五分）。甚則加製附子，去生薑、黃芩。牝瘧同法。</p>
<p>熱重，加竹葉（三十片），生石膏（五錢）。或玄參、知母之類。癉瘧同法。</p>
<p>氣虛，加人參（一錢），黃耆（二錢），冬白朮（錢半）。</p>
<p>陰虧，加大生地（四錢），或麥冬之類。</p>
<p>實則加檳榔（一錢），厚朴（八分），草果仁（五分）。</p>
<p>便秘，加大黃（三錢），玄明粉（二錢）。</p>
<p>溲秘，加車前子（三錢），木通（一錢）。</p>
<p>久瘧，加鱉甲（三錢），懷牛膝（三錢）。</p>
<p>痰瘧，加酒炒常山（三錢）。</p>
<p>食瘧，加麥芽（二錢），神麯（二錢）。或穀芽、山楂之類。</p>
<p>春加防風（一錢），蘇梗（一錢）。</p>
<p>夏加香薷（一錢），川黃連（八分）。</p>
<p>秋加青皮（一錢）。</p>
<p>冬加肉桂（五分）。</p>
<p>三瘧加鮮首烏（五分），人參（一錢），鱉甲（三錢），生薑（三片），黑棗（三枚），去黃芩。</p>
<p>截瘧加酒炒常山（三錢），烏梅（三枚）。或夜光丸（三錢）。</p>
<p>瘧母宜金匱鱉甲煎丸，或濟生鱉甲飲。</p>
<p>瘴瘧作時，指爪青暗，肢體麻木，宜於瘴氣門及沙蜮門參法治之。</p>
<p>瘧作數次，忽然肢冷，脈伏者，不治。氣脫故也。</p>
<p>夜光丸，主治截一切痎瘧，老少強弱男女俱宜。</p>
<p>酒炒常山（三兩）　烏梅肉（二錢）　大塊硃砂（三錢）　透明雄黃（三錢）　夜明砂（五錢）</p>
<p>共為細末，神麯稀糊和丸桐子大，每早服二錢，晚服二錢，開水下，中病即止，不必盡劑，不過七日必愈。</p>
<p>小兒加雞䏶胵黃皮一兩，每服一錢。</p>
<p>孕婦常山減半。</p>
<p>虛人及老人鮮首烏三五錢，煎湯下，每早晚服錢半，壯人及年少每早晚服三錢。</p>
<p>朱月樵（土龍），詩冠一時，善談醫理。其表兄孫吉人，病瘧熱甚，自食荸薺數斤，大瀉黃水數日，瘧不復作，而沉困轉加，小溲渾赤，大解亦無，延至旬日，小解時忽莖中作痛，僅能涓滴，屢進通淋藥不效，勢轉危迫，延余診視。時月樵在坐，謂此係結糞壅逼膀胱，非癃淋可比。余因用大黃先行大便，繼進龍膽瀉肝湯送滾痰丸，下大便鬥余，小解遂通。愈後旬日，腎囊先寒後熱，小便仍前涓滴作痛，每日按期而作，其苦萬狀，逾時乃止，既止小解如常。月樵謂又非前症可比，蓋其人素本善瘧，今又瘧後，當是瘧邪未盡，乘州都之虛，而陷入膀胱之府。腎囊寒熱，猶瘧之有寒熱也。莖痛溲淋，淋止如常，猶瘧之有汗，汗透乃解也。因議天水散合小柴胡，加羌活、青皮，服之遂寒戰，逾時寒已復熱，仍歸於瘧，一汗而愈。附此以廣見聞。</p>
<p>余長孫端甫，六歲時，左目之下，患暑癤大如覆杯。搗馬齒莧敷之，癤雖消而瘧作，經月不已，服藥不應。忽於鼻孔內湧出花紅膿盈碗，瘧不復作。蓋暑伏於營，凝結而為癤，散布而為瘧。凡遇有癤不化膿，而瘧不已，諸藥不應者，宜參入排膿治癤之法，書此以識一異。</p>
<p>《周禮·天官疾醫職》曰：秋時有瘧寒疾。</p>
<p>《呂氏春秋孟秋紀》曰：孟秋行夏令，民多瘧疾。（《禮記》《月令》同。）</p>
<p>《說文》曰：瘧，熱寒休作也。痁，熱瘧也。痎，二日一發瘧也。</p>
<p>《九峰醫案》曰：瘧邪之後，留熱未除，先天固不足，後天亦不振，腎為先天，脾為後天，脾腎不足以化精微，釀生濕熱，濕盦發黃，五液不充，熱留陰分，致生潮熱。陽明氣至則齧齒，腎虛肝熱則搐搦，脈來滑數無神，滋少陰，理陽明，化濕熱，清留熱，順其性以調之。</p>
<p>大生地（四錢）　木通（一錢）　生甘草梢（一錢）　青蒿梗（二錢）　赤茯苓（三錢）　鮮石斛（三錢）　陳橘皮（一錢）　川黃柏（一錢）　炙鱉甲（三錢）</p>
<p>五內素虛，七情交併，結聚痰涎，與衛氣邪氛相搏，發為痎瘧。</p>
<p>人參（一錢）　雲茯苓（三錢）　冬白朮（二錢）　炙甘草（五分）　製半夏（二錢）　福橘皮（一錢）　柴胡根（一錢）　蛀青皮（一錢）</p>
<p>夏傷於暑，秋必痎瘧，間二日而作謂之痎，寒熱相停，溲渾而赤，汗出濡衣，胸次不暢，陽邪陷入三陰，脾傷少運，胃有痰飲，逢期腰痠腹痛，總屬腎胃不和，先以小柴瀉心加減。</p>
<p>柴胡根（一錢）　酒黃芩（一錢）　炙甘草（五分）　製半夏（錢半）　人參（一錢）　當歸身（三錢）　炮姜（三錢）　南棗肉（二枚）</p>
<p>小柴瀉心加減，共服十有二劑，瘧勢十去八九，當期似有如無，口乾微渴，小溲頻數，黃而不渾，脈象尚帶微弦，目眥黃侵白眼，濕蘊餘熱未清，經以疾走汗出於腎，奔馳多汗，氣喘耳鳴，左疝大如鵝卵，鼻中常流清涕，乃素來本證，肺腎不足可知，擬平補三陰，為丸緩治。</p>
<p>制首烏（八兩）　當歸身（三兩）　雲茯苓（三兩）　人參（一兩）　炙甘草（五錢）　福橘皮（一兩）　炙鱉甲（四兩）　大生地（八兩）　淮山藥（四兩）　煅牡蠣（五兩）</p>
<p>為末，水疊丸，每早晚服二錢，開水下。</p>
<p>痎疾固屬三陰，期在子午卯酉，少陰病也。服補陰益氣以來，痎邪已去，尚有微熱者。正氣未充也。素多思慮勞心，爰擬歸脾加減。</p>
<p>大熟地（八兩）　人參（一兩）　雲茯苓（三錢）　炙甘草（五錢）　冬白朮（二兩）　當歸身（二兩）　煨木香（三錢）　酸棗仁（二兩）　遠志肉（一兩）　製半夏（二兩）</p>
<p>為末，生薑三兩，大棗二十枚，煎水疊丸，早晚開水服三錢。</p>
<p>痎疾日久，三陰交損，土德不厚，濕踞中州，致發陰黃，色如秋葉，食減便溏，形神慵倦，培補腎陰，兼養心脾主治。</p>
<p>大生地（四錢）　鮮首烏（四錢）　人參（一錢）　雲茯苓（三錢）　冬白朮（錢半）　益智仁（一錢）　青蒿梗（二錢）　福澤瀉（錢半）</p>
<p>進補腎，養心脾，陰黃已退，飲食頗增，二便如常，脈神形色俱起，既獲效機，依方進步。</p>
<p>大生地（四錢）　人參（一錢）　雲茯苓（三錢）　淮山藥（二錢）　青蒿梗（二錢）　炙鱉甲（三錢）　草豆蔻（五分）　烏梅肉（一個）</p>
<p>三日痎疾，寒熱俱重，已經八次，發於深秋，溲清脈軟，邪伏太陰，極難奏效。</p>
<p>人參（一錢）　冬白朮（三錢）　炙甘草（五分）　炮姜（五分）　雲茯苓（三錢）　大白芍（二錢）　製附子（八分）　當歸身（三錢）　陳橘皮（一錢）</p>
<p>經以夏傷於暑，秋為痎瘧，間二日一發名痎，起於客秋，延今不已，脈來遲慢，寒重熱輕，精神疲倦，脾腎雙虧，未宜止截，擬進東垣法。</p>
<p>人參（一錢）　雲茯苓（三錢）　冬白朮（三錢）　炙甘草（五分）　當歸身（三錢）　新會陳皮（一錢）　銀州柴胡（五分）　水炙升麻（五分）　老生薑（三片）　大黑棗（三枚）</p>
<p>痎疾半載，熱甚寒輕，戌正始來，亥初方退，病在少陰，熱而不渴，陰傷可知，衰年可慮。</p>
<p>大生地（八錢）　粉丹皮（三錢）　福澤瀉（三錢）　淮山藥（四錢）　雲茯苓（三錢）　山萸肉（四錢）　銀柴胡（錢半）</p>
<p>瘧經兩月有餘，屢經汗散，轉為潮熱，指時而發，陰傷，五液受虧，陽明有餘，少陰不足，熱入於營，非癉瘧可比，溲色清澄，是其明驗，法當靜補三陰。</p>
<p>大生地（八錢）　粉丹皮（三錢）　福澤瀉（三錢）　淮山藥（四錢）　赤茯苓（三錢）　大麥冬（三錢）　懷牛膝（三錢）　當歸身（三錢）　炙鱉甲（三錢）　青蒿梗（二錢）</p>
<p>脈來軟數無力，證本臟陰有虧，瘧後中土受傷，怒郁肝陽苦逆，土不載木，肝病傳脾，陰不配陽，水不濟火，乃見竟夜無眠，食少無味，體倦神疲，虛陽上越等證，前進交通心腎，熟寐連宵，繼服壯水之主，形神復振，曾患血崩，素多抑鬱，肝木久失條舒，木鬱化火，耗液傷陰，以故氣從脅肋上升，貫膈沖咽，環臍作脹，仍以壯水濟火為主，崇土安木輔之。</p>
<p>大熟地（八兩，橘皮水炒）　粉丹皮（三兩）　福澤瀉（三兩）　淮山藥（四兩）　雲茯苓（三兩）　人參（一兩）　冬白朮（三兩，土炒）　炙甘草（五錢）　當歸身（三兩，土炒）　酸棗仁（三兩）　遠志肉（兩半）</p>
<p>為末，水疊丸，每早晚服三錢，開水下。</p>
<p>蔣寶素曰：痎瘧者，暑熱內伏，風寒外乘，寒亂於衛，暑逆於營，邪正交爭於少陽表裡營衛之間，出表為熱，入里為寒，先寒後熱，作止有時，與伏邪相近之證也。伏邪乃伏寒化熱，痎瘧乃伏暑化虛。暑乃夏月之正邪，故可伏而後發，猶冬傷於寒，春必病溫之義。《靈樞·經脈篇》曰：膽足少陽之脈，是主骨所生病者，振寒瘧。又論疾診尺篇曰：夏傷於暑，秋生痎瘧。又歲露篇曰：夏日傷暑，秋病瘧。又《素問·生氣通天論》曰：夏傷於暑，秋為痎瘧。又金匱真言論曰：夏暑汗不出者，秋成風瘧。又陰陽應象大論曰：夏傷於暑，秋必痎瘧。又瘧論曰：夫痎瘧皆生於風。又曰：此皆得之夏傷於暑。又刺瘧論，少陽在太陽之後，陽明之前，以少陽為樞。又氣交變大論曰：炎暑流行，民病瘧。又五常政大論曰：赫曦之紀，病笑瘧。又六元正紀大論曰：火鬱之發，民病溫瘧。又至真要大論曰：少陽司天，火淫所勝，民病頭痛，發熱惡寒而瘧。此《內經》諸篇，分明以暑熱伏於前，風寒感於後，而會於少陽表裡營衛之間，所受之氣，本一寒一熱，故病亦如是。少陽介乎表裡，乃四戰之地，營衛邪正之出入，必由乎此。衛為陽，營為陰，衛猶兵衛衛於外，營猶營壘營於中，營衛相維，不容邪擾。邪之所湊，其氣必虛。邪正不兩立，相遇必交爭。暑熱先伏營中，風寒後乘衛外，營陰不容暑熱，逼之而外越。衛陽不容風寒，迫之而內侵。衛失外護，營失中守，邪正爭，營衛亂，而寒熱作。正氣勝，營衛和，而寒熱止。邪正復爭，寒熱更作。正氣復勝，寒熱更止。作者，邪爭也。止者，正勝也。有熱重於寒者，暑熱多而風寒少也。有寒重於熱者，風寒甚而暑熱微也。有但熱不寒者，暑熱極甚，風寒極微，不覺其寒也。有但寒不熱者，風寒極甚，暑熱極微，不覺其熱也。有日一作，夜一作，（俗名子母瘧。）有一日一作，有間一日作，有間二日作，或間數日作，有連作二日，間一日，四日共三作，或間瘧，當期日二作，（俗名間日子母。）或間日轉為日作，或日作轉為間日，或間瘧轉連日，正期止，間期作，仍為間瘧，或潮熱如癉瘧數次，時覺憎寒，轉而為瘧，或早或晏，或輕或重，或一日早，一日晏，一日輕，一日重，或依時不移，或寒熱竟日，或今日之寒熱未已，明日之寒熱又至，或須臾即止，或數次即已，或延綿不斷。蓋由人之稟賦不同，受病有異，正氣化邪有遲速，邪氣化盡而已。如酒醉人，醉態不一，醒有遲速也。《內經》諸論，言其常也。余之所論，言其變也。若以淺深遠近而分輕重遲速，則日作之寒熱，常竟日不已。三瘧之寒熱，常須臾即止。此深者遠者之寒熱，何以反輕，淺者近者之寒熱，何以反重，是未可以此分也。惟在正氣化邪，邪盡而已。如受病應一日一作，一月解。若一日二次，則十五日盡。若二日一作，則六十日解。若三日一作，則至九十日矣。寒熱輕而愈速者，邪本少也。而愈遲者，化之慢也。寒熱重而愈遲者，邪本多也。而愈速者，化之快也。如寒熱大作數次愈，此化之速也。以數日大作之寒熱，分為數十次，則寒熱輕而化之遲也。推此雖萬變可知也。有熱忽不退，而轉為溫熱者，內與伏邪相遇也。有伏邪轉為痎瘧者，內有伏暑發動也。溫瘧者得之冬中於風，先熱後寒，非正瘧也。戰汗者，正不容邪，大戰於營衛之間，正勝而復，猶瘧之意也。有瘧邪盡而寒猶存，及產後與虛勞寒熱往來如瘧者，營衛亂而自相吞併也。一切內外證，發熱惡寒，得汗而解者，無非邪正爭而營衛亂也。但內無伏暑，不能作瘧，故正傷寒無轉瘧之理，內無伏暑故也。《周禮》秋有瘧寒疾，即風寒感於衛之意。《呂覽》孟秋行夏令，民多瘧疾，即暑熱伏於營之意。《說文》曰痎，二日一發，瘧也。即間二日一發，世俗所謂三瘧也。《金匱要略》曰：病瘧以月一日發，當以十五日愈。設不差，當以月盡解。如其不差，結為癥瘕，名曰瘧母，宜鱉甲煎丸。此言所伏之邪，正氣化之，當一月解。如間日則六十日盡，間二日則九十日盡，正化邪盡而已。若化不盡，結為瘧母，用鱉甲煎丸，以開治久瘧之端。又曰：陰氣孤絕，陽氣獨發，名曰癉瘧。若但熱不寒者，邪氣內藏於心，此言但熱者，非無寒也。蓋暑熱極盛，風寒極微，不覺其寒也。又曰：瘧多寒者，名曰牝瘧。此言多寒者，非無熱也。蓋風寒極甚，暑熱極微，不覺其熱也。《傷寒論》曰：脈陰陽俱盛，重感於寒熱，變為溫瘧。此先冬中於風，又復感寒，故先熱後寒為溫瘧，非正瘧也。又曰：邪正分爭，往來寒熱，小柴胡湯主之。此邪正戰於少陽表裡營衛之間，用和解之法，以開治瘧之境。巢元方、孫思邈、劉完素、張子和俱宗經旨，以暑為主。李東垣曰：亦有非暑而感冒風寒得之者，謬矣。（怡齋曰：內無伏暑，不能作瘧，正傷寒無轉瘧之證，內無伏暑故也。）丹溪始言痰瘧，論治諸法皆佳。惟以日作與間日，乃受病一月與半年，乃三瘧發於子午寅申辰戌之日分三陰，未免執泥。蓋不知瘧，猶酒徒之醉態不一，而醒有遲速也。王節齋始言日夜各一作之瘧，薛立齋、張景岳證治俱得其中。吳又可所論，乃瘧內與伏邪相遇。醫案開旁通之路，醫話制圓機之方。由是觀之。治瘧之法，亦云備矣。</p>
<p>略曰：天衛地外，地營天中，天地亦營衛也。暑蒸地氣上為云，風搏天氣下為雨，風雲暑雨之合散，亦瘧象也。人亦宜然。故瘧之寒熱，因暑而作，得汗而解，觀乎天地，可以察人矣。</p>

<h2>痎瘧論列方</h2>
<p>金匱鱉甲煎丸（四十五）　濟生鱉甲飲（四十六）　小柴胡湯（三十三）</p>

<h1>卷十</h1>

<h2>痢疾第十</h2>
<p>《椿田醫話》曰：痢疾多發於三秋，顯系暑濕之毒，蘊結於腸胃之間，如暑癤濕痰流注膿窠瘡之類，潰流膿血，即痢之赤白裡急後重者，膿血淋漓涓滴而下也。與內癰同法。忌身熱脈大，禁口不食，膿血色敗如爛魚腸屋漏水。初起宜攻，虛則宜補，久則宜澀。今約三方，以見其概。</p>
<p>攻發湯，主治痢疾初起壅實者。</p>
<p>生大黃（三錢）　川黃連（一錢）　黃芩（錢半）　金銀花（三錢）　生木香（八分）　苦參（二錢）　飛滑石（三錢）　生甘草（五分）　赤芍（二錢）</p>
<p>夾表，先服敗毒散一劑。</p>
<p>表微，加羌活（一錢），柴胡（一錢）。</p>
<p>夾虛，加大生地（八錢），人參（一錢）。</p>
<p>熱甚，加白頭翁（二錢），黑山梔（錢半）。</p>
<p>托補湯，主治痢疾無實證可據，及年邁體羸者。服攻發湯雖輕未已亦主之。</p>
<p>大熟地（八錢）　人參（一錢）　炙甘草（八分）　當歸身（三錢）　生黃耆（三錢）　肉豆蔻（二錢）　冬白朮（三錢）　椿根皮（三錢）</p>
<p>夾實，加生木香（一錢），檳榔（一錢）。</p>
<p>熱重，加川黃連（八分）。</p>
<p>寒重，加製附子（五分）。</p>
<p>收澀丸，主治痢疾滑脫不止，連年不愈，諸藥不應者。</p>
<p>赤石脂　禹餘糧　罌粟殼　訶子肉　五倍子　人參　大熟地（砂仁水炒，以上各三兩）</p>
<p>為末，椿根皮三兩，煎水疊丸，早晚服三錢，開水下。</p>
<p>休息痢加明雄黃（豬膽汁拌，暴乾）　牛角灰　羊角灰　鹿角灰　虎頭骨灰（以上各一兩）</p>
<p>為丸，服如前法，十年不愈者亦效。</p>
<p>《釋名》曰：泄痢，言少漏泄而利也。</p>
<p>《北史》齊司馬膺之好讀《太玄經》，每云：我欲與楊子同遊，患痢十七年不愈，齊亡歲，以痢終。</p>
<p>《唐太宗實錄》曰：太宗苦於氣痢，眾醫不效。即下詔問殿廷左右有能治此疾者，當重賞之。金吾衛士張寶藏，曾困其疾，即具疏乳煎蓽茇方。上服之立瘥。宣下宰臣與五品官，魏徵難之。逾月不進擬，上疾復發。問左右曰：吾前服乳煎蓽茇有功，覆命進一啜，又平。因思曰：嘗令與進方人五品官，不見除授，何也？徵懼曰：奉詔之後，未知文武二吏。上怒曰：治得宰相不妨，已授三品官，我天子也，豈不及汝耶？乃厲聲曰：與三品文官，授鴻臚寺卿。其方每用牛乳半斤，蓽茇三錢匕，同煎減半，空心頓服。</p>
<p>《趙溍養疴謾筆》曰：宋孝宗患痢，眾醫不效。高宗偶見一小藥肆，召而問之。其人問得病之由，乃食湖蟹所致，遂診脈曰：此冷痢也。乃用新採藕節搗爛，熱酒調下，數服乃愈。（按：藕消瘀解熱開胃，又解蟹毒，用酒調乃寒因熱用也。若加蘇梗解蟹毒更妙。）高宗大喜，即以搗藥金杵臼賜之。</p>
<p>《夷堅甲志》曰：昔虞丞相自渠川被召，途中冒暑，得泄痢連月。蘿壁間有韻語云：暑毒在脾，濕氣連腳，不泄則痢，不痢則瘧，獨煉雄黃，蒸餅和藥，甘草作湯，服之安樂，別作治療，醫家大錯。如方制服，其疾隨愈。</p>
<p>陸文量《菽園雜記》曰：痢疾最忌油膩生冷，惟白鯗魚宜食。</p>
<p>《九峰醫案》曰：腸澼赤白，氣血俱傷，後重腹疼，溲赤脈數，暑滯俱重。河間云：溲而便膿血，氣行而血止，行血則便自愈，調氣則後重除，宜芍藥湯。</p>
<p>赤芍藥（二錢）　當歸身（二錢）　川黃連（八分）　生木香（五分）　炙甘草（五分）　製大黃（三錢）　黃芩（錢半）　檳榔（一錢）　官桂（三分）</p>
<p>因熱貪涼，人情之常，過食生冷，脾胃受傷，值大火流西，新涼得令，寒濕得以犯中，下傳於腎，致成腸澼。溲色清澄，是其明驗，脈來緩弱，溫中為主。</p>
<p>藿香梗（二錢）　生木香（八分）　赤茯苓（二錢）　豬苓（錢半）　陳橘皮（一錢）　厚朴（一錢）　炙甘草（五分）　炮姜（八分）　冬白朮（二錢）</p>
<p>經言：食飲有節，起居有常，飲食不節，起居不時，脾胃受傷，則上升精華之氣，翻從下降而為飧泄，久則戊邪傳癸，變生腸澼。延綿不已，變態多歧。見在下血或少或多，鮮瘀不一，此血不歸經，氣失統攝，下時裡急後重，脾陽腎水俱傷，下後魄門瘙癢，中虛逼陽於下，臍旁動氣有形，或左右上下，殆越人所謂動氣之狀，腹脅脹墜，不為便減，土困於中，魄門鎖束，小溲不利，水虧於下，均非熱象，矢氣欲解不解，則肛門脹墜，時或燥熱直逼前陰，腎囊收縮，氣隨上逆，皆水虧土弱之徵，小腹墜，大腹膨，矢氣解則舒，不解則脹連脅肋，右勝於左，以脾用在右，脾病故得後與氣，則快然如衰，常覺中下二焦否塞，大便有時暢下，則諸證較減，以腎居於下，為胃之關，開竅於二陰，大便既暢，土鬱暫宣，水源暫暢，故減至於或為之，猶浮雲之過太虛耳。治病必求其本，法當脾腎雙培，偏寒偏熱，恐致偏害。</p>
<p>人參（一兩）　炙黃耆（三兩）　冬白朮（三兩，土炒）　炙甘草（八錢）　煨木香（五錢）　酸棗仁（三兩）　遠志肉（兩半）　炙升麻（三錢）　煨肉果（二兩）　雲茯苓（三兩）　當歸身（三兩，土炒）　川芎藭（一兩）</p>
<p>為末，以大生地十二兩，大白芍六兩，罌粟殼六兩，石榴皮六兩，烏梅肉四兩，熬膏，再入龜板膠三兩，鹿角膠三兩，熔化和丸，每早晚服三錢，開水下。</p>
<p>二氣素虛，七情不節，致傷脾胃，傳化失常，清不能升，濁無由降，清氣在下，則生飧泄，戊邪傳癸，轉為腸澼。色白如膿，日十餘次，下時裡急後重，脾陽腎水潛傷，舌苔色常黧黑，中寒格陽於上，腹中隱痛，澼久剝及腸胃脂膏，食減神疲，夜多妄夢，腎不交心，而中虛氣餒，因循怠治，希冀自瘥，反覆相仍，病情轉劇，將近一載。前進補中益氣、歸脾、六君等湯，以行升降之令，繼服胃關煎、四神丸、五味子散，溫固三陰，病勢退而復進，脈體和而又否，病勢苦深，殊難奏捷。勉擬溫固命門，引火歸窟，冀其丹田暖，則火就燥，下元固，則氣歸精，然否質諸明哲。</p>
<p>懷山藥（三兩）　補骨脂（二兩，鹽水炒）　煨木香（八錢）　炙甘草（八錢）　冬白朮（三兩，土炒）　訶子肉（三兩）　罌粟殼（三兩）　乾薑（八錢）　白芍藥（二兩）　石榴皮（二兩）　縮砂仁（兩半）　蓽茇（二兩）　赤石脂（三兩）　煅龍骨（三兩）　淡吳萸（八錢）　煨肉果（二兩）　煨草果（一兩）　五味子（二兩）</p>
<p>為末，用大熟地十六兩，大洋參十二兩，嫩黃耆十二兩，龍眼肉八兩，熬膏和丸，每早晚服三錢，開水下。</p>
<p>痢成休息，本是纏綿，氣傷則白，血傷則赤，痢下純血，血分受傷，起自客冬，暮春未已，大和中土，培補胃關，共服十有六劑，痢勢十減六七，第尊年胃氣易傷，飲食頗減，宜停煎劑，以丸緩圖。</p>
<p>大熟地（八兩）　懷山藥（四兩）　人參（一兩）　陳橘皮（兩半）　炙升麻（五錢）　炙甘草（八錢）　五味子（二兩）　赤石脂（三兩）　煨木香（五錢）</p>
<p>為末，地榆六兩，煎水疊丸，早晚服三錢，開水下。</p>
<p>蔣寶素曰：痢疾者注下赤白，裡急後重，腹痛，晝夜無度數，至圊而不能便，乃暑濕食毒，鬱蒸醞釀於藏府腸胃膜原連絡之間，津液脂膏化為膿血，滲入腸中而下。蓋癰癤流注瘡瘍之類，即《內經》腸澼之證也。《素問·生氣通天論》曰：因而食飽，經脈橫解，腸澼為痔。（此即痢與外症相通之意。）又脈要精微論曰：脈數動一代者，病在陽之脈也。泄及便膿血。（膿血二字、明與癰瘍相似。）又通評虛實論曰：腸澼便血，身熱則死，寒則生。（此與癰瘍逆順相似。）又曰：腸澼下膿血，脈懸絕則死，滑大則生。（此與癰瘍陽症陰症意合。）又太陰陽明論曰：飲食不節，起居不時者，陰受之。入五藏則䐜滿閉塞，下為飧泄，久為腸澼。（可見暑濕食毒，薰蒸醞釀於藏府膜原之間，脂液化為膿血，而為腸澼。）又六元正紀大論曰：風濕交爭，注下赤白。又至真要大論曰：少陽在泉，火淫所勝，注下赤白。（此風濕相火傷於陰絡，血液化為赤白，即癰瘍化膿之意。）此《內經》諸篇，分明以痢疾與癰瘍相似，曰腸澼為痔，曰便膿血，尤彰明較著者。《難經》云：溲而便膿血。（此以痢之赤白名膿血，即是癰瘍之類。）《金匱要略》云：脈數而渴，今自愈。設不瘥，必清膿血，以有熱故也。（《傷寒論·厥陰篇》與此同。按：《傷寒論》云：數脈不時，則生惡瘡，與此意同。）又云：下痢便膿血者，桃花湯主之。（《傷寒論·少陰篇》同。）此《難經》《金匱》，論證論治，與癰瘍相合。《北史》載司馬膺之，患痢十七年不愈，巢元方論休息痢之乍發乍止，腸蠱痢之先赤後白，連年不愈，此上二條，即癰瘍成漏之屬。孫思邈云：藏毒為痢。《唐太宗實錄》云：太宗苦於氣痢，服乳煎蓽茇而愈。（牛乳半斤，蓽茇三錢煎服。）雷斅云：陽虛久痢，須假草零。（草零即五倍子為末調服。）《趙溍養疴謾筆》云：宋孝宗食湖蟹患痢，用藕節搗爛酒調服而痊。《夷堅志》云：暑毒在脾，濕氣連腳，不泄則痢，不痢則瘧，獨煉雄黃，蒸餅和藥，甘草作湯，服之安樂。寇宗奭云：洛陽女子耽飲，多食魚蟹，畜毒在藏，大便膿血，諸藥不應，如此期年，垂命待盡，或教服人參散而愈。（人參、椿根皮各一兩為末，每服二錢，開水調下。）劉河間云：下痢赤白，俗言寒熱相兼，其說尤誤。如熱生癰瘍，而出白膿，豈可以白為寒歟。由其在皮膚之分，屬肺金，故色白也。次在血脈之分，屬心火，故色赤也。（此即癰瘍化膿之理。）李東垣云：腸澼為水穀與血，另作一派，如⿳⺮中而桶湧出。（此即癰疽出頭之意。）朱丹溪云：赤屬血，白屬氣，下如魚腦者半生半死，下如塵腐色者死，下純血者死，下如屋漏水者死。（此與癰疽敗症無異。）張景岳云：痢之膿垢，非糟粕，乃附腸著藏之脂膏，皆精血之屬也。（此即癰疽化膿之理。）吳又可云：溫疫愈後，及戰汗後，反腹痛裡急，欲作滯下也。（此即留熱發病遺之意。）又曰：下痢膿血，更加發熱而渴，此疫痢兼症。此即熱極生癰之意。此上十一條，論痢疾證治之理，正與癰瘍機宜暗合，但未有直言癰癤流注瘡瘍之屬，生於膜原連絡腸胃之間，膿血內潰，滲入腸中，漂澼而下，為痢之赤白者。由是觀之，治痢之法，當參入治癰之義。如痢之初起用芍藥等湯，即癰疽初起宜攻之意也。正氣偏虛，用補中益氣等湯，即癰疽托裡之意也。曠日持久，用收澀等法，即癰瘍合口之意也。如痢之所忌，身熱脈大，禁口不食，亦癰瘍之所忌也。癰瘍所忌，膿色清稀，塵腐如屋漏水，亦痢疾之所忌也。前賢治痢諸方已備，今參以治癰之法，無遺義矣。然治法多歧，恐滋惑亂，茲約三法，可以類推。一日攻發，二日托補，三日收澀。如有表，敗毒散、小柴胡湯等。無表，芍藥湯、承氣湯等。皆攻發之劑也。氣虛四君子湯、補中益氣湯等，血虛四物湯、六味地黃湯等，皆托補之劑也。滑泄休息，桃花湯、養藏湯、椿根皮、罌粟殼、烏梅、訶子等，皆收澀之劑也。若醫話新制痢疾三方，探本窮源，從博反約，更無出其右者。</p>
<p>略曰：道光甲午，余祖母氏楊，年九十五，涼秋九月，患痢如魚腸屋漏水，晝夜無度，色臭腐敗，腳縮不伸，足脛紅腫若腸癰之狀，知其不起，未敢進藥，八日而卒。（自九月初六至十三亥時終。）又叔母氏王，年六十六，於己亥秋杪，病亦如是而卒。（自九月初十至十八寅時終。又余女年甫五歲，亦於是月病此而卒。）余以是知痢即內癰，赤白即膿血，而著此論也。</p>

<h2>痢疾論列方</h2>
<p>敗毒散（三十一）　桃花湯（五十一）　芍藥湯（四十七）　補中益氣湯（四十九）　小柴胡湯（三十三）　大承氣湯（三十四）　四君子湯（四十八）　四物湯（八）　六味地黃湯（五十）　養藏湯（五十二）</p>

<h1>卷十一</h1>

<h2>霍亂第十一</h2>
<p>《椿田醫話》曰：黃土湯，主治霍亂吐瀉。此證多在夏秋，乃暑濕食鬱於中胃，傳化失常，氣亂味變，正不容邪，犯上則吐，犯下則瀉。既吐且瀉，邪有出路，故濕霍亂為輕多生。若上不得吐，下不得瀉，邪無出路，故乾霍亂為重多死。霍亂既因暑濕而得，而復有寒者，因暑貪涼過食瓜果故也。夏月加香薷一錢，三秋加蓼花根一兩，虛則加冬白朮錢半土炒，實則加雞心檳榔一錢，寒則加理中丸五錢同煎，熱則加四苓散五錢同煎。乾霍亂本方兩劑加炒鹽一兩，童子小便一小碗多服，以手指按舌根探吐，得吐即瀉，吐瀉後去炒鹽童便，照常煎服。忌稠黏粥食，宜老米湯及老米粥，三日後方可食新米，並治轉筋霍亂。</p>
<p>淨黃土（二兩）　廣藿香（二錢）　生木香（八分）　宣木瓜（二錢）　陳橘皮（一錢）　紫厚朴（八分）　白扁豆（三錢）　活水蘆根（二兩）　長流水煎。</p>
<p>前哲掘壁下成坑，灌水攪渾取起，名地漿，治乾溼霍亂，洗盡腹中穢濁，甚善。今用黃土為主，加藿香、木香之芳香以解穢濁，木瓜和胃舒筋，以杜轉筋，陳皮調暢氣機，厚朴、扁豆消暑去濕，蘆根致胃清和，猶是地漿之意，而勝於牆陰之不潔遠矣。</p>
<p>《春秋考異》郵曰：襄公朝於荊，士卒度歲，愁悲失時，泥雨暑濕，多霍亂之病。</p>
<p>《漢書》曰：淮南王上書云：南越多霍亂之病。（見《太平御覽》七百四十三卷。）</p>
<p>柳子厚曰：元和十一年十月得霍亂，上不可吐，下不可利，出冷汗三大升許，氣即絕。河南房偉傳，此方入口即吐，絕氣復通。用鹽一大匙，熬令黃，童子小便一升，合和溫服，少頃，吐下即愈也。</p>
<p>《九峰醫案》曰：客忤霍亂，內有所傷，傷其七情，外有所感，感於六氣，陰陽乖錯，吐瀉交作。吐則傷陽傷胃，瀉則傷陰傷腎。吐瀉時幸服理中得有轉機。今經二十日，胸次脹滿，口乾非渴，脈弦無力，陽不生陰，陰不化氣，陰陽俱虧，五液俱耗，乙癸同源是理，第腎陰不足以制肝陽，肝志為怒，怒則氣上，氣填胸膈，非食滯可比。肝無補法，補腎即所以補肝。人身之陰陽，陽者親上而外衛，陰者親下而內營，難成而易虧，補之非易，無陽則陰無以生，無陰則陽無以化，必得益氣生陰，陰從陽化，腎氣通於胃，陰精上蒸，清陽開展，自入佳境，二氣兩協其平，上下互相流貫，自無否象。公議生脈、八味，益火之原，壯水之主，從陰引陽，從陽引陰，是否候酌。</p>
<p>大熟地（八錢）　粉丹皮（三錢）　福澤瀉（三錢）　淮山藥（四錢）　雲茯苓（三錢）　山萸肉（四錢）　製附子（一錢）　油肉桂（八分）　人參（二錢）　大麥冬（三錢）　北五味（一錢）</p>
<p>肝脈漸和，胃脈尚軟，夜來半寤半寐，二氣漸有和順之機，素本腎虧，虛寒之體，真陽不健，值大病之後，二氣交傷，五液互損，藏府之氣，何由驟復，補陰之品，無過熟地，但守補則中樞易鈍，得桂附走而不守，達腎火之窟，蘊生中土，方能化液生陰，不獨不悶不滯，且於腎胃有贊襄之功，所謂補腎則胃開，補命則脾健。清晨用原方略為加減，培補命腎之陰陽，午後以養胃生陰之品，陰陽交濟之法，循理之至，似無背謬，候正諸明哲。</p>
<p>大熟地（八錢）　粉丹皮（三錢）　福澤瀉（三錢）　淮山藥（四錢）　雲茯苓（四錢）　山萸肉（四錢）　製附子（八分）　油肉桂（五分）　人參（一錢）　淡蓯蓉（三錢）　福橘皮（一錢）　大麥冬（三錢）</p>
<p>午後服養胃生陰方</p>
<p>南沙參（八錢）　野白朮（三錢）　大白芍（三錢）　生甘草（五分）　金釵石斛（五錢）</p>
<p>夜寐初醒，偶慮事情，擾動心火，舌中作燥。照本方去肉桂、茯苓，減附子四分，加酸棗仁、白茯神各三錢，午後仍服養胃生陰方。</p>
<p>立秋後四日，脈神形色俱起，脾胃漸蘇，大病新瘥，藏府初和，二氣未定，全在靜養工夫。當守搖精勞形之戒，澄心息慮，恬憺虛無，乃善後之良謀。五內得太和之氣，自臻康豫。擬方仍候酌。</p>
<p>大熟地（八錢）　淮山藥（四錢）　山萸肉（四錢）　雲茯苓（三錢）　福橘皮（一錢）　人參（一錢）　酸棗仁（三錢）　當歸身（三錢）　五味子（一錢）</p>
<p>大病新瘥，藏府初和，脾胃蘇而未振，不宜思慮煩勞，七情之傷，雖有五藏之分，不外心腎，天地造化之理，無非靜定，靜則神藏無為自化，陰平陽秘，精神乃治，食入於陰，長氣於陽，陽氣者若天與日，失其所，則折壽而不彰，故天運當以日光明。前以從陰引陽，從陽引陰，水升火降，諸恙悉平。茲以黑歸脾加減，從心脾腎主治，待中樞大展，飲食加增，再以斑龍丸，培補命腎之元陽，以化素體之沉寒痼冷，乃有層次，然否仍候酌。</p>
<p>大熟地（四兩）　人參（五錢）　野白朮（二兩）　炙甘草（五錢）　當歸身（二兩）　酸棗仁（二兩）　遠志肉（一兩）　白茯神（二兩）　煨木香（三錢）　淮山藥（二兩）　山萸肉（二兩）</p>
<p>為末，龍眼肉三兩，煎水疊丸，早晚服二錢，開水下。</p>
<p>蔣寶素曰：霍亂者，霍然變亂非常，胸腹互痛，吐瀉交作，乃濕鬱於中，氣機不運，升降道阻，水穀不化，氣亂味變於腸胃之間，鬱極而發，兼六化之證也。有不得吐瀉者，即名乾霍亂，乃濕鬱之甚也。《靈樞·經脈篇》曰：足太陰厥氣上逆則霍亂。《素問·氣交變大論》曰：歲土不及，民病飧泄霍亂。又六元正紀大論曰：土鬱之發，心痛脅䐜，嘔吐霍亂。又云：太陰所至為中滿，霍亂吐下。又云：不遠熱則熱至，（此即因熱化熱之據。）熱至則身熱吐下霍亂。此《內經》諸篇，俱以太陰濕土動變成霍亂。蓋濕從土化，土無成位，濕無專證，而有六化之別焉。遇熱化熱，遇寒化寒，因表化表，因里化里，因虛化虛，因實化實。故仲景《傷寒論·辨霍亂條》曰：霍亂頭痛，發熱身疼痛，熱多欲飲水者，五苓散主之。此濕從熱化也。又云：寒多不欲水，理中丸主之。此濕從寒化也。又云：吐利而身痛不休者，宜桂枝湯小和之。此因表化表也。又云：既吐且利，小便複利，而大汗出，下利清穀，內寒外熱，脈微欲絕者，四逆湯主之。此因里化里也。又曰：惡寒脈微而複利，利止亡血也，四逆加人參湯主之。此因虛化虛也。又云：下利後當便硬，硬則能食者愈。此因實化實也。豈可執一乎。《易說》曰：穀雨氣當至不至，則多霍亂。此亦濕從寒化也。《漢書》淮南王上書云：南越多霍亂之病。此亦濕從熱化也。《春秋考異》郵曰：襄公朝於荊，士卒度歲，愁悲失時，泥雨暑濕，多霍亂之病。此亦濕從熱化而兼七情也。葛稚川以飲食生冷肥膩酒鱠，而當風履濕，薄衣露坐，或夜臥失覆所致。亦從濕食動變而起。巢元方以溫涼不調，陰陽清濁二氣有相干亂之時，其亂在於腸胃之間，因遇飲食而變發。又宗仲景之意，以挾風而實者，身發熱頭痛體疼而復吐利，虛者但吐利心腹刺痛而已。又宗稚川以飲酒食肉腥膾生冷過度，因居處不節，或露臥濕地，或當風取涼，而風冷之氣歸於三焦，傳於脾胃。又以乾霍亂是冷氣搏於腸胃，又以霍亂轉筋，是冷氣入筋，大吐下之後，陰陽俱虛，其血氣虛極，則手足逆而營衛不理，冷搏於筋，則筋為之轉，此濕因風寒之證，乃六化之一也。夫乾霍亂不得吐瀉者，乃濕鬱兼六化之甚也。轉筋者在吐瀉之前，因實因熱也。在吐瀉之後，因虛因寒也。柳子厚得乾霍亂，用炒鹽和童便服之，取吐即瀉而愈。此開濕鬱之甚，治法精良。陳無擇所論與巢元方同。劉河間以熱氣甚，則傳化失常而吐瀉霍亂，火性燥動故也。又云：一切霍亂吐瀉，通宜五苓散、益元散。又云轉筋吐瀉者，其氣有三。曰風、火、濕也。又云：此證或先五苓、益元、桂苓甘露飲，乃吐瀉之聖藥也。慎毋與粟米粥。此濕因暑熱之證，乃六化之一也。易水老人，亦以霍亂轉筋吐瀉，乃陰陽交錯不和，不可與分毫粥飲。張子和以風濕暍為主，申明巢氏之非，默契河間之意，偉王冰脾熱之語，蓋不知霍亂皆以濕為主，而有六化之別。巢氏所論濕，因風寒化也。河間所論濕，因暑熱化也。二公俱未悉六化之變。若王冰不過注《素問》經文之一端耳。《丹溪心法》，霍亂吐瀉用二陳湯加減作吐，以提其氣，切莫與穀食，亦有可下者。轉筋不住，男子以手挽其陰，女子以手牽其乳，是皆良法。又云：轉筋皆屬乎血熱，四物湯加酒炒黃芩、紅花、蒼朮、南星，亦未分轉筋在吐瀉前後有寒熱之別。戴復庵言揮霍變亂起於倉卒，宜蘇合香丸，繼進藿香正氣散，加木香五分，論治可採。王肯堂言霍亂轉筋，舌卷囊縮，及霍亂後遺尿不語，膏汗如珠，躁欲入水，四肢不收等證皆不治，宜須詳審。張景岳言夏秋之交，乍涼乍熱，陰陽相駁，人於此時，凡衣被口腹，最宜節慎，少有不調，為駁雜之氣所侵，則霍亂吐瀉所由生也，亦宜留意。醫案論霍亂之後，用補劑收功，亦因虛化虛之意。醫話新制黃土湯，專以治濕為主，符於經旨，切於時用，足稱良劑。</p>
<p>略曰：《內經》霍亂，本以太陰濕土為主，因表裡寒熱虛實而有六化之變，是證多見南方及夏秋之交，濕鬱可據。六化之別，仲景詳言之矣。後世或執寒以非熱，執熱以非寒，可謂不能舉一以反三，而反執一以廢其五也。</p>

<h2>霍亂論列方</h2>
<p>理中丸（五十三）　四物湯（八）　蘇合香丸（六）　藿香正氣散（十七）　四苓散（五十四）　斑龍丸（五十五）　五苓散（十六）　桂枝湯（五十六）　四逆湯（五十七）　四逆加人參湯（五十八）　益元散（五十九）　桂苓甘露飲（六十）　二陳湯（六十一）</p>

<h1>卷十二</h1>

<h2>沙蜮第十二</h2>
<p>《椿田醫話》曰：射影丸，主治射工沙蝨溪毒諸證。其病與傷寒溫疫霍亂瘴氣相類，但手足逆冷者是，甚至手足麻木不仁，冷過肘膝。道光辛巳秋七月，沙毒流行，兩足先麻木，（當時流俗名麻腳瘟。）繼之腹痛吐瀉，肢冷脈伏，劇則大汗身冷，脈脫目陷，四肢瘈瘲，須臾不救。因制此方，服之良愈。外以含沙散臭鼻取嚏。或曰閨中婦女，多罹此疾，何含沙射影之有？曰：射工沙蝨，致毒於水草之間，灌田澆菜，浸潤方土，潛通地脈，流入泉源，何所不可。且此氣盛行之年，亦可凌空而至。南方更有蛇毒，其害尤甚。又方土沙氣升騰，高於岑樓，因夏秋氣候炎熱，莫之能見。婦女坐受其氣，非男子運行可比，且婦女陰體易感陰毒，以故受病多於男子。今人感之微者，頭疼身痛，形神拘倦，欲吐不吐，四肢閉逆，或腹痛欲瀉，令人擠眉心、人中、承漿、頸項胸前背後，出見紅班如棗大，重則色紫，頃刻即愈，名曰擠沙。相沿成俗，即感受風寒，亦有擠沙而愈者。蓋擠沙有發汗之意，在內為血，發外為汗，汗即血故也。</p>
<p>香白芷（一兩）　大貝母（一兩）　生甘草（五錢）　大蒜頭（一兩）　青黛（一兩）　明雄黃（五錢）　犀角（五錢）　山慈姑（一兩）　蒼耳子（一兩）　厚朴（一兩）　紫背萍（一兩）　射干（一兩）　白知母（一兩）　枯礬末（五錢）　硃砂（五錢）　紫菀茸（一兩）　檳榔（一兩）　雷丸（一兩）　虎珀（五錢）　龍齒（五錢）　鬼箭羽（一兩）　羚羊角（五錢）　草果仁（五錢）　麝香（五錢）</p>
<p>為細末，水疊丸，每服三錢，開水下。</p>
<p>含沙散，主治沙毒吹入鼻中取嚏。</p>
<p>生大黃（六兩）　公丁香（一兩五錢）　明天麻（三兩）　牙皂角（三兩）　丹砂（四兩）　明雄黃（四兩）　麻黃（三兩）　冰片（三錢）　麝香（三錢）　蒼朮（三兩）　蟾酥（一兩）　香白芷（三錢）　草果仁（一兩五錢）</p>
<p>共為極細末，磁瓶收貯。</p>
<p>《周禮》壺涿氏，掌除水蟲，以抱土之鼓驅之，以焚石投之。</p>
<p>《詩》曰：為鬼為蜮，則不可得。（蜮，蟲名。《詩注》名含沙。《詩疏》名射影，又名水弩。《廣雅》名短狐。《玄中記》名水狐。《博物志》名射工。《酉陽雜俎》名抱槍，其形似蛣蜣，頭有一角，長寸余，角上有四歧黑甲，下有翅能飛，足角如弩，以氣為矢，因水勢含沙射人影成病，沙證之因，蓋由此也。《五行傳》曰：南方淫惑之氣所生，故謂之蜮。）</p>
<p>《玄中記》曰：水狐蟲長三四寸，其色黑，廣寸許，背上有甲，厚三分，其口有角，向前如弩，以氣射人，去二三步即中人，十死六七也。又曰：視其形，蟲也。見其氣，鬼也。</p>
<p>《博物志》曰：射工江南山溪水中甲蟲也。長一二寸，口有弩形，以氣射人影，令人發瘡。不治，殺人。</p>
<p>《南中志》曰：永昌郡有禁水，惟十一二月可渡，余月則殺人。其氣有惡物作聲，不見其形，中人則青爛，名曰鬼彈。</p>
<p>《文選》鮑明遠詩曰：含沙射流影，吹蠱病行暉。</p>
<p>郭義恭《廣志》曰：沙蝨在水中，色赤，大不過蟻，入人皮中殺人。</p>
<p>《錄異記》曰：潭袁處吉等州，有沙出，即毒蛇鱗甲中蟲，蛇被苦毒，入急水中碾出，人中其毒，三日即死。</p>
<p>《九峰醫案》曰：客忤沙氛，揮霍撩亂，吐瀉交作，三焦俱傷，身冷脈伏，柔汗不收，目赤如鳩，溲紅如血，渾如中毒，危在須臾，勉擬元戎法，盡其心力。</p>
<p>人參（二錢）　冬白朮（三錢）　炙甘草（五分）　炮姜灰（五分）　煅石膏（一兩）　紅蓼花梗（一兩）　地漿</p>
<p>水煎。</p>
<p>沙氛襲絡，遍身苛痹，肢尖逆冷，胸喉氣不展舒，六脈細澀無力，正氣六和加減。</p>
<p>藿香梗（二錢）　老蘇梗（一錢）　荊芥穗（一錢）　雲茯苓（三錢）　炙甘草（五分）　製半夏（錢半）　福橘皮（一錢）　宣木瓜（一錢）　川厚朴（八分）　大腹皮（一錢）</p>
<p>煩悶欲吐，顛痛肢尖冷，脈細澀，沙候也。</p>
<p>法制半夏（四錢）　蘆根（二兩）　甘瀾水煎。</p>
<p>蔣寶素曰：沙毒者本書創立，《內經》所無。見於《詩》《禮》，方書所略。近代多有，乃南方沙土水濕溪澗蟲蛇沙蝨毒氣中人為患，類乎中毒之證也。《周禮》有掌除水蟲之氏。《詩》云：為鬼為蜮，則不可得。蜮乃含沙射影水狐等之總名，能致人病蜮惑也。故《金匱要略》本之於《詩》，有狐惑之證，以蟲毒蝕於喉為惑，蝕於陰為狐。《博物志》言射工以氣射人影，令人發瘡，不治殺人，亦本於《詩》義。《南中志》永昌郡有禁水，人不可渡，有物作聲，不見其形，中人即死。此從射工而廣之，則水亦能病人，不待含沙射影。鮑明遠詩曰：含沙射流影，吹蠱病行暉，又從而廣之，則其氣亦可凌空而至。葛洪《肘後方》：溪毒中人，一名中水，一名中溪，一名水病，似射工而無物，與《南中志》禁水同。又曰：江南射工毒蟲，在山間水中，人行或浴，則此蟲含沙射人形影為病，此承《詩》與《金匱》《博物志》而言。又葛洪《抱朴子》云：山水間多沙蝨甚細，略不可見，人入水中及陰行草中，此蟲多著人，鑽入皮里，令人皮如芒刺，三日後寒熱發瘡，蟲漸入骨則殺人。又以類推而有沙蝨之證。巢元方採諸家之說，有含沙、沙蝨、水毒、溪溫諸證甚詳。《丹溪心法附余》，因腹痛有絞腸沙證，用樟木礬鹽等湯探吐，並刺委中出血，論治精詳。李時珍《本草綱目》，有挑沙刮沙之說，其法益備。張景岳用磁碗邊蘸滾水香油，刮背心從上之下，尤為該簡。醫案從客忤霍亂中尋出沙證，證無逃隱。醫話制含沙散射影丸，治無遺義。</p>
<p>略曰：沙證蓋本含沙射影，沙蝨著人之義，然不近含沙沙蝨而染沙證者，則有禁水吹蠱溪毒之屬，即含沙沙蝨之類，隨方土變更，其氣上騰，與六淫相等，不必泥射影而著人。往古所略，近代詳焉。至醫話含沙散射影丸，誠對證之良方，無出其上者。</p>

<h1>卷十三</h1>

<h2>瘴氣第十三</h2>
<p>《後漢書·馬援列傳》曰：援在交趾，嘗餌薏苡實，云能輕身資欲，以勝瘴氣也。</p>
<p>《活人書·三昧論》曰：食飲有節，起居有常，則邪氣不能為害。彼道路崎嶇，人煙疏闊，水漿不潔，酒炙多腥，飲食起居，未免乖度。況復有陰陽相搏之氣乎，故曰瘴氣，惟染勞役傷飢之人者，此也。</p>
<p>《聖濟總錄》曰：嶺南樸蛇瘴，亦名鎖喉瘴，項大腫痛連喉。用赤足蜈蚣一二節，研細，水下即愈。</p>
<p>巢元方曰：夫嶺南青草黃芒瘴，猶如嶺北傷寒也。南地暖，故太陰之時，草木不黃落，伏蟄不閉藏，雜毒因暖而生。</p>
<p>又曰：瘴瘧病生於嶺南，帶山瘴之氣，其狀發寒熱，休作有時，皆由山溪原嶺嶂濕毒氣故也。其病重於傷暑之瘧。</p>
<p>楊士瀛《直指方》曰：瘭瘡，一名蛇瘴，蠻煙瘴雨之鄉多毒，人有不伏水土風氣而感觸之者，數月以還，必發蛇瘴。惟赤足蜈蚣最能伏蛇為上藥，白芷次之。</p>
<p>大梁李待詔《瘴瘧論》曰：嶺南既號炎方，而又瀕海，地卑而土薄，炎方土薄，故陽懊之氣常泄，瀕海地卑，故陰濕之氣常盛，二氣相搏，此寒熱所由作也。陽氣泄，故冬無霜雪，四時放花，人居其地，氣多上壅，膚多汗出，腠理不密，蓋陽不反本而然。陰氣盛，故晨夕霧昏，春夏淫雨，一歲之間，蒸濕過半，三伏之內，反不甚熱，盛夏連雨，即復淒寒。飲食衣服藥食之類，往往生醭，人居其間，類多中濕。肢體重倦，又多腳氣之疾。蓋陰常偏勝而然。陰陽之氣既偏而相搏，故人亦因之而感受其寒熱不齊之病也。又陽燠既泄，則使人本氣不堅，陽不下降，常浮於上，故病者多上脘鬱悶，胸中虛煩。陰濕既盛，則使人下體多寒，陰不上升，常沉而下。故病者腰膝重疼，腿足寒厥。余觀嶺南瘴疾，證候雖或不一，然大抵陰陽各不升降，上熱下寒者十有八九。況人身上本屬陽，下本屬陰，茲又感此陽燠陰濕不和之氣，自多上熱下寒之證也。得病之因，正以陽氣不固，每發寒熱，身必大汗，又復投之以麻黃、金沸、青龍等湯，再發其表，則旋踵受斃。甚者又以胸中痞悶，用利藥下之，病人下體既冷，下之則十無一生。若此者醫害之也。其時余染瘴疾，全家特甚，余悉用溫中固下，升降陰陽正氣之藥，十治十愈。二僕皆病胸中痞悶煩躁，昏不知人，一云願涼藥清膈，余審其證，上熱下寒，皆以生薑附子湯冷溫服之，即日皆醒。自言胸膈清涼，得涼藥而然也。實不知附子也。翌日各與丹朱丸一粒，令空心服之，遂能食粥。然後用正氣、平胃等藥，自爾遂得平安。更治十數人皆安。蓋附子用生薑煎，既能發散，以熱攻熱，又能導虛熱向下焦，除宿冷，又能固接元氣。若煩悶者，放冷服之。若病煩躁，不好飲水，反畏冷不能飲者，皆其虛熱，非真熱也。宜姜附湯。沈存中治瘴用七棗湯，正與此同，亦一服而愈，有用朮附湯而病益甚，蓋朮附相濟，能固熱氣，不能發散，惟附子一味為最妙。</p>
<p>又曰：或有脈證，實非上熱下寒，而目黃赤者，不可用附子。脈若浮洪而數，寒熱往來，無汗，乃小柴胡湯證。若證有可疑，寒熱不辨，宜服嘉禾散。若熱多者冷服之。嘉禾散能調中氣，升降陰陽，治下虛中滿，療四時溫疫傷寒，使無變動，雖傷暑及陽證傷寒服之亦愈。若或寒多，服之尤宜。服二三日，即寒熱之證自判。然後隨證調治，無不愈者。大抵嶺南之地卑濕，又人食檳榔，多氣疏而不實，四時汗出，不宜更用汗藥，此理甚明。亦有當汗下者，然終不多也，明者察之。</p>
<p>新安王棐《指迷方·瘴瘧論》曰：棐讀書之餘，留意醫學，幸得其傳，頗識方脈。就闢入南，研究此證，謂南人凡病皆謂之瘴，率不服藥，惟事鬼神。夫瘴之為病，猶傷寒之病也。豈可坐視不藥耶。每為中醫荏苒而致不救者有之。人過桂林以南無醫藥，且居南之人，往往多汗，上盈下空，不可用汗吐下三法。其業醫者既鮮且庸，或妄用汗吐下者，是謂虛虛。方書皆謂南方天氣溫暑，地氣鬱蒸，陰多閉固，陽多發泄，草木水泉皆稟惡氣。人生其間，元氣不固，感而為病，是謂之瘴。輕者寒熱往來，正類痎瘧，謂之冷瘴。重者蘊熱沉沉，晝夜如臥灰火中，謂之熱瘴。最重者一病便失音，莫知其所以然，謂之啞瘴。冷瘴必不死，熱瘴久而死，啞瘴無不死。此方書之說也。然以愚意觀之，所謂啞瘴者，非傷寒失音之證乎。又豈中風失語之證乎。治得其道，亦多可生，安得謂之無不死耶。若夫熱瘴，乃是盛夏初秋，茅生狹道，人行其間，熱氣蒸郁，無林木以蔽日，無水泉以解渴，伏暑至重，因而感疾。或有飲酒而不節者，或食煎炙而積熱者，偶成此證，其熱晝夜不止，稍遲二三日，則血凝而不可救矣。南中謂之中箭，亦謂之中草子。然有挑草子法，乃以針刺頭額及上下唇，仍以楮葉擦舌，皆令出血，徐以草藥解其內熱，應手而愈，安得謂之久而死耶。至於冷瘴，或寒多熱少，或寒少熱多，亦有疊日間日之作。及其愈也，瘡發於唇，驗其證即是外方之瘧，本非重病，然每因誤治而致禍，亦不可以必不死而忽之。但診其脈息極微，見其元氣果虛，即與附子湯而愈。若誤投寒藥，所謂承氣入胃，陰盛乃亡。若脈洪盛，證候實熱，宜服和解藥而徐治之。若誤投熱藥，所謂桂枝下咽，陽盛則斃。要在切脈審證，辨其寒熱虛實，治之無不愈也。又人謂嶺南水泉草木地氣之毒，故凡往來嶺南之人及宦而至者，無不病瘴而至危殆。又謂土人生長其間，與水土之氣相習，外人入南必一病，但有輕重之異。若久而與之俱化則免矣。此說固若有理，但備之以將養之法，解之以平易之藥，決保無病，縱病亦易愈。且瘴之為病，土人反重，外人反輕，蓋土人淫而下元虛，又浴於溪而多感冒，恣食生冷酒饌，全不知節，所以重也。然則，病瘴者不可全咎風土之殊，皆人自失節養有以致之耳。君子之居是邦也，當慎起居，節飲食，適寒溫，晨酒夜食，切忌太過。或有不快，即服正氣散一二劑，則脾胃自壯，氣血通暢，微邪速散，又何瘴之有。</p>
<p>吳興章傑嶺表十說：一曰嶺表之俗，食檳榔，甚者日至十數枚。蓋瘴瘧之作，率由飲食過度，氣滯痰結，而檳榔最能下氣消食去痰，故人皆狃於近利，而暗於遠患。此頗類北人之食酪酥，多致膚理致密。一旦病疫，當汗，則塞而不得出。嶠南地熱食檳榔，故藏氣疏泄。若一旦病瘴，當攻發，則虛羸而不能堪。所以土人多瘠而色黃，豈全是氣候所致，蓋亦檳榔為患。殆勿思耳。</p>
<p>二曰《本草》載三人觸霧晨行，飲酒者獨不病。（吳又可《溫疫論》引此文、謂飽食者不病，所記異也。）故北人度嶺、率相勉飲酒，而遷客羈士，往往醺酣以自適。且嶺外酒價尤廉，販伕役卒，俱得肆飲，咸謂可以闢瘴，殊不知少則益，而多則滋瘴之源也。何以言之。蓋南土暑濕，嗜酒則多中濕毒，兼以瘴瘧之作，率因上膈痰飲，而酒則尤能聚痰。嶺外諺云：莫飲卯時酒，莫食申時飯，誠攝生之要也。可見酒之為物，能闢瘴以生人，亦能滋瘴以害人。然則生也死也，非酒也，顧在人也。</p>
<p>三曰廣南每以暑毒為患者。蓋一歲之間，暑滋過半，使人難避而易犯。凡起居飲食少失節度，則為暑毒所中。道途之間，尤多冒暑，故土人於暑時相戒勿出。且遐荒之境，道路崎嶇，而傳舍飲食，皆不如欲，所以自北初至者，皆云不習水土而病，及既還則又謂之回頭瘴。大率得之道路勞倦，冒犯暑氣，與夫飲食居處失度也。</p>
<p>四曰嶺南寒暑之候不常，尤難於調攝。故凡居人與在路者，冬夏之衣，皆不可缺，隨其氣候，速宜增減，緩則致病。又嶺外海風異常，稍中人則為病，坐臥易衣時當慎也。</p>
<p>五曰嶺外雖以多暑為病，而四時亦有傷寒溫疫之疾，其類不一。土人不問何疾，悉謂之瘴，治療多誤。或有一歲盛寒，近類中州，而土俗素無蠶績，冬不衣綿，居室疏漏，戶扃不固，忽遭歲寒，則次年溫疫必興。醫者之治溫疫，亦當以本法治之，（此即伏邪，當詳伏邪門治法治之。）而隨風土氣候，人之強弱，酌宜可也。</p>
<p>六曰瘴瘧之作，多因伏暑傷冷所致。縱非飲食冷物，亦必寒邪感於外，飲食傷於內也。大抵伏暑淺而寒多者易治，伏暑深而熱多者難治。近時北醫至此，用大柴胡湯治熱瘴，須是本氣壯實者乃能堪之。如土人久服檳榔，臟氣既虛，往往不能服寒藥，又能當此峻劑乎。然土人才見發黃，便謂不治之疾，良可哀也。</p>
<p>七曰北人之來嶺南，婢僕多病瘴氣。蓋勞役之人，飲食乖度，晝多冒暑，夜多臥地，又凡事不能避忌，故先受其斃。即與之同休慼，宜加意戒之。</p>
<p>八曰俚俗有病，必召巫覡而祭鬼神，士大夫咸笑其信巫不信醫，愚謂此可憫惻而不可笑也。夫民雖至愚，孰不思趨利避害，況性命所繫，曉然易見。若醫者能愈人疾，彼何不信。蓋嶺外良醫甚鮮，藥石艱難，且山谷海峽之民，何從而得醫藥，所以不免信巫也。豈得已哉。</p>
<p>九曰瘴病不一，而土人以啞瘴最為危急。其狀初得之即失音，不過一二日即致不救。醫家多言為極熱所致，或云內蘊熱而外為感寒所激。近見北醫有用生附子一味愈此疾者，得非以熱治熱，或是發散寒氣耶。（此即陰盛格陽之類。）予嘗聞有飲溪澗水中毒，令人失音，則知凡失音者，未必皆瘴也。溪澗水毒，灼然有之。道路無井泉，而瀕海之民與夫山行者，皆飲溪澗之水，豈無邂逅遇毒者。故途人所以多病，此得非是歟。（與即含沙射影之類，當以沙毒門諸法治之。）</p>
<p>十曰傳雲嶺外多毒草，彘食之而人食其肉者亦毒人，所以北人度嶺，多戒食彘。然嶺南能致瘴毒者，非止一端，豈獨彘哉。順泉云：嶺南之彘在市井者，食豆與酒糟，在鄉村者，食糠與碎米芊苗，未有食草者。若以食草為戒，則馬牛羊之肉，俱不可食耶。此其不足信也。</p>
<p>繼洪曰：予寓嶺南既久，愈知瘴疾不易用藥。若身熱而復寒，謂之冷瘴，不換金正氣散主之。若身熱胸痞，或嘔或噎，大便不利者，嘉禾散。若病輕而有食積者，兼用感應丸。無食積不用。若病重者，不可妄用轉利，惟當溫中固下。若冬末春初因寒而作大熱者，小柴胡湯。夏月因暑者，六和湯。若身極熱而頭極痛脈數者為熱瘴，宜用南人挑草子法，亦不可不服藥。第此證病深，最為難治。蓋涼藥多不可用，惟宜熱藥，須得法以用之。如附子湯冷服者是也。然此非工巧以處之則不可。如身熱汗不多，頭痛未解，或且與和解散。如腰以上極熱，腰以下稍涼，胸膈煩渴，腰腿重疼，或大便溏滑，其脈數而按之不實，此陽浮陰閉也。惟李待詔生薑附子湯最妙。（此陰盛格陽之屬。）凡初病者，以生薑、附子能發散耳。若病經去汗既多，虛煩潮上，則惟恐其不斂不降，宜用熟附、乾薑、沉香冷服之。若便利則不用沉香，如煩甚則少加竹茹，渴甚多加人參、北五味，呃逆加丁香、淡竹茹。若煩躁而有異象眩惑，夜不安寢，可與溫膽湯，惟大便利者不可服。若至四肢厥冷，兩足冷甚，頭額虛汗，時或呃逆，脈數而促，其證多危。惟以三建湯之屬，能斂心液，能壯元陽，可以更生也。又有啞瘴，即熱瘴之甚者。醫書謂血得寒則凝泣，得熱則淖溢，故熱瘴面赤心熱，舌破鼻衄，皆瘴熱沸其血上湧所致，故宜用挑草子法。甚則血上塞其心竅，故昏不能言，或但噫噫作聲，即啞瘴也。治此者當散其血，用局方黑神散，立見神效。其或涎迷心竅，而舌強者亦有之，卻非真啞瘴也。及兼風痰之證者，俱當審察而後用藥。</p>
<p>楊仁齋曰：瘴瘧，挾嵐瘴溪源蒸毒之氣致然也。自嶺以南，地毒苦炎，燥濕不常，人多瘴瘧。其狀血乘上焦，病欲來時，令人迷困，甚則發躁狂妄，亦有啞不能言者，皆由敗血瘀於心，毒涎聚於脾。</p>
<p>戴復庵曰：近時因寒熱發作，見其指甲青黑，遂名曰沙。或戛或挑，或灌以油茶，且禁其服藥。此病即是南方瘴氣，生料平胃散加草果、檳榔，正其所宜，豈有病而無藥者哉。</p>
<p>蔣寶素曰：瘴氣者，經旨所無，乃嶺表方隅之疾。炎蒸濕鬱，蟲蛇毒氣，上騰如霧，中人為患，類乎伏邪痎瘧沙毒之證也。《後漢書》有薏苡解瘴之說，治其濕也。《聖濟總錄》、楊士瀛《直指》有瘴之名，用赤足蜈蚣、白芷治之，竟作蛇毒。《活人》三昧論，巢元方、楊仁齋有陰陽相搏之氣，雜毒因暖而生嵐瘴溪源蒸毒之語，亦以炎蒸氣毒為主。王棐、繼洪有寒瘴熱瘴啞瘴之辨，及挑草子法，分其形證論治。沈存中、李待詔每用附子奏捷。蓋嶺南陽氣外越，證多陰盛格陽，扶陽抑陰近理。然又云目黃赤者，不可用附子，亦有當汗下者，則此中表裡寒熱虛實無所不有，當以伏邪痎瘧沙毒諸法參治。吳興章傑嶺表十說頗詳，戴復庵言寒熱作時，指甲青黑，是南方瘴氣。諸家所論如是，余亦未歷其境，難憑臆說。故故業師醫案，家君醫話，均未及此。謹錄前哲精義於此，以俟國工君子。</p>
<p>略曰：砭曲池出血，北人謂之打寒，治傷寒溫疫。刺頭額上下唇出血，嶺南謂之挑草子，治瘴氣。擠眉心、承漿、胸前背後、出紅斑，近代謂之擠沙，治感冒。（或用碗蘸香油刮諸處名刮沙，亦有用針挑者。）三者相似。然瘴與沙更近，則沙毒門射影丸、含沙散，治瘴可通用也。</p>

<h2>瘴氣論列方</h2>
<p>生薑附子湯（六十二）　丹朱丸（未考）　七棗湯（六十三）　小柴胡湯（三十三）　嘉禾散（六十四）　附子湯（六十五）　正氣散（六十六）　大柴胡湯（三十八）　不換金正氣散（六十七）　感應丸（六十八）　六和湯（十五）　和解散（六十九）　溫膽湯（七十）　三建湯（七十一）　黑神散（七十二）　平胃散（七十三）</p>

<h2>醫略論列方</h2>
<p><u>十全大補湯</u>（一）</p>
<p>大熟地　人參　雲茯苓　當歸身　川芎　炙甘草　冬白朮　白芍　炙黃耆　肉桂　生薑　大棗</p>
<p><u>侯氏黑散</u>（二）</p>
<p>黃菊花　冬白朮　北細辛　雲茯苓　煅牡蠣　苦桔梗　青防風　人參　枯礬　當歸身　乾薑　黃芩　川芎　桂枝</p>
<p>上十四味為末，酒服方寸匕。</p>
<p><u>風引湯</u>（三）</p>
<p>生大黃　乾薑　煅龍骨　炙甘草　桂枝　煅牡蠣　寒水石　滑石　赤石脂　白石脂　紫石英　煅石膏</p>
<p>上十二味為末，取三指撮，井華水煎溫服。</p>
<p><u>續命湯</u>（四）</p>
<p>麻黃　桂枝　當歸身　人參　乾薑　煅石膏　炙甘草　川芎　苦杏仁</p>
<p><u>玉屏風散</u>（五）</p>
<p>炙黃耆　青防風　冬白朮</p>
<p><u>蘇合香丸</u>（六）</p>
<p>冬白朮　青木香　烏犀角　制香附　公丁香　丹砂　訶黎勒　白檀香　安息香　麝香　蓽茇　龍腦　沉香　蘇合香油　薰陸香（各一兩）</p>
<p>上十五味為末，煉蜜丸龍眼大，蠟殼收藏。</p>
<p><u>地黃飲子</u>（七）</p>
<p>大熟地　製附子　雲茯苓　巴戟天　石斛　遠志肉　山萸肉　肉蓯蓉　五味子　肉桂　石菖蒲　麥冬</p>
<p>上十二味等分為末，每服五錢，生薑一片，大棗一枚，薄荷少許煎服。</p>
<p><u>四物湯</u>（八）</p>
<p>大熟地　當歸身　川芎藭　白芍藥</p>
<p><u>白虎加人參湯</u>（九）</p>
<p>生石膏　生甘草　知母　人參　粳米</p>
<p><u>一物瓜蒂散</u>（十）</p>
<p>瓜蒂（即甜瓜蒂，今世所謂香瓜是也。）</p>
<p><u>大順散</u>（十一）</p>
<p>肉桂　乾薑　苦杏仁　炙甘草</p>
<p><u>清暑益氣湯</u>（十二）</p>
<p>人參　冬白朮　蒼朮　炙黃耆　當歸身　麥冬　五味子　陳橘皮　青皮　葛根　黃柏　升麻　福澤瀉　神麯</p>
<p><u>生脈散</u>（十三）</p>
<p>人參　麥冬　五味子</p>
<p><u>黃連香薷飲</u>（十四）</p>
<p>香薷　厚朴　白扁豆　川黃連</p>
<p><u>六和湯</u>（十五）</p>
<p>雲茯苓　炙甘草　人參　製半夏　藿香梗　白扁豆　宣木瓜　苦杏仁　砂仁　生薑　大棗</p>
<p><u>五苓散</u>（十六）</p>
<p>雲茯苓　豬苓　冬白朮　福澤瀉　肉桂</p>
<p><u>薷香正氣散</u>（十七）</p>
<p>蘇葉　藿香　桔梗　白芷　大腹皮　製半夏　雲茯苓　炙甘草　冬白朮　厚朴　生薑　陳皮</p>
<p><u>麻黃加朮湯</u>（十八）</p>
<p>麻黃　桂枝　炙甘草　杏仁　冬白朮</p>
<p><u>麻黃杏仁薏苡甘草湯</u>（十九）</p>
<p>麻黃　杏仁　薏苡仁　炙甘草</p>
<p><u>防己黃耆湯</u>（二十）</p>
<p>防己　黃耆　冬白朮　炙甘草</p>
<p><u>桂枝附子湯</u>（二十一）</p>
<p>桂枝　製附子　炙甘草　生薑　大棗</p>
<p><u>白朮附子湯</u>（二十二）</p>
<p>冬白朮　製附子　炙甘草　生薑　大棗</p>
<p><u>蒼朮白虎湯</u>（二十三）</p>
<p>蒼朮　石膏　知母　生甘草　粳米</p>
<p><u>甘草附子湯</u>（二十四）</p>
<p>炙甘草　製附子　冬白朮　桂枝</p>
<p><u>玉壺丹</u>（二十五）</p>
<p>石硫黃（入豬大腸內煮腸爛為度，蒸餅為丸。）</p>
<p><u>薛立齋加減金匱腎氣丸</u>（二十六）</p>
<p>大熟地　粉丹皮　福澤瀉　懷山藥　山萸肉　雲茯苓　製附子　肉桂　車前子　懷牛膝</p>
<p><u>滾痰丸</u>（二十七）</p>
<p>黃芩　大黃（各八兩）　沉香（五錢）　煅礞石（一兩）</p>
<p>水疊丸。</p>
<p><u>犀角地黃湯</u>（二十八）</p>
<p>犀角　大生地　牡丹皮　赤芍</p>
<p><u>調胃承氣湯</u>（二十九）</p>
<p>生大黃　玄明粉　生甘草</p>
<p><u>九味羌活湯</u>（三十）</p>
<p>羌活　防風　川芎　白芷　北細辛　蒼朮　黃芩　大生地　炙甘草　生薑　蔥白</p>
<p><u>活人敗毒散</u>（三十一）</p>
<p>羌活　獨活　柴胡　前胡　人參　雲茯苓　枳殼　川芎　炙甘草　桔梗　生薑</p>
<p><u>柴葛解肌湯</u>（三十二）</p>
<p>柴胡　葛根　羌活　白芷　黃芩　芍藥　甘草</p>
<p><u>小柴胡湯</u>（三十三）</p>
<p>柴胡　黃芩　人參　炙甘草　製半夏　生薑　大棗</p>
<p><u>達原飲</u>（三十四）</p>
<p>檳榔　厚朴　草果仁　知母　黃芩　炙甘草　赤芍　生薑</p>
<p><u>大承氣湯</u>（三十五）</p>
<p>大黃　芒硝　枳實　厚朴</p>
<p><u>小承氣湯</u>（三十六）</p>
<p>大黃　枳實　厚朴</p>
<p><u>桃仁承氣湯</u>（三十七）</p>
<p>大黃　玄明粉　生甘草　桃仁　肉桂</p>
<p><u>大柴胡湯</u>（三十八）</p>
<p>柴胡　黃芩　枳實　赤芍　大黃</p>
<p><u>柴胡加芒硝湯</u>（三十九）</p>
<p>柴胡　黃芩　人參　炙甘草　製半夏　玄明粉　生薑　大棗</p>
<p><u>涼膈散</u>（四十）</p>
<p>黑山梔　薄荷葉　黃芩　連翹　大黃　玄明粉　生甘草</p>
<p><u>拔萃犀角地黃湯</u>（四十一）</p>
<p>犀角　大生地　粉丹皮　赤芍　大黃</p>
<p><u>黃龍湯</u>（四十二）</p>
<p>大黃　芒硝　枳實　厚朴　人參　大生地　當歸身</p>
<p><u>半夏瀉心湯</u>（四十三）</p>
<p>製半夏　黃芩　乾薑　炙甘草　人參　黃連　大棗</p>
<p><u>十味溫膽湯</u>（四十四）</p>
<p>大生地　人參　白茯苓　炙甘草　製半夏　陳橘皮　熟棗仁　遠志肉　麩炒枳實　淡竹茹</p>
<p><u>鱉甲煎丸</u>（四十五）</p>
<p>鱉甲　烏扇（即射干）　黃芩　柴胡　鼠婦　乾薑　大黃　赤芍　桂枝　葶藶　石韋　厚朴　牡丹皮　瞿麥　紫威　製半夏　人參　䗪蟲　阿膠　露蜂房　赤消　蜣螂　桃仁</p>
<p>酒煮鱉甲泛爛。入藥末煎為丸。</p>
<p><u>濟生鱉甲飲</u>（四十六）</p>
<p>炙鱉甲　川芎　炙黃耆　草果仁　檳榔　冬白朮　橘紅　白芍　炙甘草　厚朴　生薑　大棗</p>
<p><u>芍藥酒</u>（四十七）</p>
<p>赤芍　當歸身　川黃連　生木香　檳榔　炙甘草　大黃</p>
<p><u>四君子湯</u>（四十八）</p>
<p>人參　雲茯苓　冬白朮　炙甘草</p>
<p><u>補中益氣湯</u>（四十九）</p>
<p>人參　炙黃耆　冬白朮　炙甘草　當歸身　陳橘皮　柴胡　升麻　生薑　大棗</p>
<p><u>六味地黃湯</u>（五十）</p>
<p>大熟地　粉丹皮　福澤瀉　懷山藥　雲茯苓　山萸肉</p>
<p><u>桃花湯</u>（五十一）</p>
<p>赤石脂　乾薑　粳米</p>
<p><u>養藏湯</u>（五十二）</p>
<p>罌粟殼　人參　當歸身　肉桂　訶子肉　煨木香　冬白朮　肉豆蔻　白芍藥　炙甘草</p>
<p><u>理中丸</u>（五十三）</p>
<p>人參　冬白朮　炙甘草　乾薑</p>
<p><u>四苓散</u>（五十四）</p>
<p>赤茯苓　豬苓　冬白朮　福澤瀉</p>
<p><u>斑龍丸</u>（五十五）</p>
<p>鹿角膠　鹿角霜　柏子仁　菟絲子　大熟地　白茯苓　補骨脂</p>
<p><u>桂枝湯</u>（五十六）</p>
<p>桂枝　炙甘草　赤芍　生薑　大棗</p>
<p><u>四逆湯</u>（五十七）</p>
<p>炙甘草　炮姜　製附子</p>
<p><u>四逆加人參湯</u>（五十八）</p>
<p>炙甘草　炮姜　製附子　人參</p>
<p><u>益元散</u>（五十九）</p>
<p>桂府滑石　生甘草</p>
<p><u>桂苓甘露飲</u>（六十）</p>
<p>滑石　石膏　寒水石　生甘草　冬白朮　雲茯苓　福澤瀉　豬苓　肉桂</p>
<p><u>二陳湯</u>（六十一）</p>
<p>白茯苓　炙甘草　製半夏　陳皮</p>
<p><u>生薑附子湯</u>（六十二）</p>
<p>製附子　生薑</p>
<p><u>七棗湯</u>（六十三）</p>
<p>製附子　大棗肉（七枚）　生薑</p>
<p><u>嘉禾散</u>（六十四）</p>
<p>白茯苓　砂仁　薏仁　枇杷葉　桑白皮　黑沉香　五味子　白豆蔻　炙甘草　公丁香　人參　冬白朮（各五分）　生木香　青皮　陳橘皮　杜仲　穀芽　藿香　大腹皮　釵石斛　半夏曲　六和神麯　隨風子　檳榔（各三分）　生薑　大棗</p>
<p><u>附子湯</u>（六十五）</p>
<p>製附子　人參　白茯苓　冬白朮　白芍藥</p>
<p><u>徐氏正氣散</u>（六十六）</p>
<p>藿香　草果仁　製半夏　陳橘皮　厚朴　砂仁　炙甘草　生薑　大棗</p>
<p><u>不換金正氣散</u>（六十七）</p>
<p>製蒼朮　陳橘皮　炙甘草　厚朴　製半夏　藿香　生薑　大棗</p>
<p><u>感應丸</u>（六十八）</p>
<p>廣木香　公丁香　百草霜　肉豆蔻　炮姜　苦杏仁　巴霜</p>
<p>為末，黃蠟熔化為丸。</p>
<p><u>和解散</u>（六十九）</p>
<p>製蒼朮　陳橘皮　炙甘草　厚朴　藁本　桔梗　生薑　大棗</p>
<p><u>溫膽湯</u>（七十）</p>
<p>雲茯苓　炙甘草　製半夏　陳橘皮　麩炒枳實　淡竹茹</p>
<p><u>三建湯</u>（七十一）</p>
<p>製附子　制川烏　制天雄　生薑</p>
<p><u>黑神散</u>（七十二）</p>
<p>黑豆　當歸身　大熟地　蒲黃　白芍　炙甘草　乾薑　肉桂</p>
<p><u>平胃散</u>（七十三）</p>
<p>製蒼朮　陳橘皮　炙甘草　厚朴　生薑　大棗</p>

<h2>關格考（附刻）</h2>
<p>蔣寶素曰：關格者，陰關於內，陽格於外，陰陽相離，關閉格絕之危證，乃嘔吐反胃噎膈諸證之終也。《靈樞·終始篇》、禁服篇，俱以人迎氣口自一盛二盛三盛至四盛以上為關格。脈度篇，不言人迎氣口，直以陰氣太盛，則陽氣不能榮為關。陽氣太盛，則陰氣不能榮為格。陰陽俱盛，不得相榮為關格，則關格為證明矣。四時氣篇，以膈塞不通，邪在胃脘，即人迎三盛，病在陽明名膈者，尚未至於格也。邪氣藏府病形篇，以脾脈微急為膈中，食飲入而還出。上膈篇，以氣為上膈，食飲入而還出，蟲為下膈，食晬時乃出，即反胃轉膈之證。《素問·六節藏象論》，亦以人迎寸口論關格，與終始、禁服二篇之義同。陰陽別論，以一陽發病，其傳為隔。又云：三陽結為隔，即人迎一盛病在少陽，三盛病在陽明，膈塞不通，邪在胃脘之義。隔與膈通，未至於格也。脈要精微論，以脈反四時，陰陽不相應為關格，即終始篇之溢陽溢陰，禁服篇之春夏人迎微大，秋冬寸口微大，人迎倍於氣口，氣口倍於人迎之意。通評虛實論，以膈則閉絕，上下不通，即膈轉關格之意。《難經》三難，以脈上魚為溢，入尺為覆為關格，即終始、禁服二篇溢陽溢陰之意。三十七難，不言脈，直以五藏六府九竅陰陽不相榮為關格，與脈度篇同。《史記》倉公診齊丞相舍人奴，望之殺然黃，察之如死青之茲，（《素問》云：青如草滋者死，黃如枳實者死。）乃內關之病，當至春鬲塞不通，不能食飲，法至夏泄血死，即脈度篇三十七難，陰脈不和，則血留之為關格之意。《金匱要略》以膈氣虛脈乃數，數為客熱，不能消穀，胃中虛冷故也。此膈氣虛，胃中冷，則胃病，膈膜亦病，即三陽結謂之隔，隔塞不通，邪在胃脘之意。又脈弦者虛也，胃氣無餘，朝食暮吐，暮食朝吐，變為胃反。夫弦脈屬木，即人迎一盛，病在少陽，一陽發病，其傳為膈，由反胃傳膈之意。又趺陽脈浮，浮則為虛，虛則傷脾，脾傷不磨，朝食暮吐，暮食朝吐，名曰胃反。又諸嘔吐，谷不得下者，小半夏湯主之。又胃反嘔吐者，大半夏湯主之。即脾病及胃，病在陽明，由嘔吐進為反胃之證也。《傷寒論》以心脈下為本，大者則為關格不通，不得尿，即脈要精微論，應太過不足為精，應不足有餘為消，陰陽不相應為關格之意。又寸口脈浮大，浮為虛，大為實，在尺為關，在寸為格，關則不得小便，（不得小便，人迎二盛，病在膀胱之時，津液先虧。三盛病在陽明，飲食愈少，津液就枯。至四倍以上，則食飲不下，州都液涸。及寸口一盛，厥陰肝木盜腎水。二盛少，陰腎水自病。三盛太陰脾土克腎水。至四倍以上，則腎水與膀胱津液俱竭。故不得小便，非癃閉可比）　格則吐逆。又下取趺陽脈伏而澀，伏則吐逆，水穀不化，澀則食不得入為關格，即終始、禁服二篇之溢陰為關，溢陽為格，《難經》上魚為溢，入尺為覆，為關格之意。由吐逆水穀不化，食不得入，不得小便，即由嘔吐而反胃，反胃而噎膈，噎膈而關格，亦人迎一盛少陽，二盛太陽，三盛陽明，四盛以上為格，及一陽發病，其傳為膈，三陽結為隔之意。由是言之，嘔吐即反胃噎膈關格之始，關格即噎膈反胃嘔吐之終也。自王太僕以內格嘔逆，食不得入，是有火也。病嘔而吐，食入反出，是無火也。然則吐逆時，或能食，或不能食，豈時或有火，時或無火，此王氏未達經義也。巢元方竊《金匱要略》之意，以停水積飲在胃脘則藏冷，脾不磨則朝食暮吐，暮食朝吐為反胃。又竊通評虛實論之意，以三焦隔絕，津液不行，由憂患則氣結為噎膈，分反胃噎膈為二門。蓋不知反胃進為噎膈也。張子和譏巢氏始分病派，反失其本，引《內經》三陽結為隔，三陽解作大腸小腸膀胱，又引少陽所至為嘔湧溢，食不下，又引肝移寒於心為狂膈中，又引人迎四盛以上為格，且言膈亦當為格，則似知噎膈進為關格，何不以三陽之結，為人迎三盛，病在陽明之證，少陽所至，肝移寒於心，為人迎一盛，病在少陽，及一陽發病，其傳為膈之證，而反謂三陽乃大腸小腸膀胱，未符經旨。劉守真以嘔湧溢，食不下，火氣炎上，胃膈熱甚，專主於熱，是關格噎膈反胃嘔吐之不分也。李東垣以左為人迎，右為氣口，清氣反行濁道為格，濁氣反行清道為關。（清氣反行濁道，即太陰肺之清氣，反行陽明胃之濁道，即人迎四盛以上之格證。濁氣反行清道，即陽明胃之濁氣，反行太陰肺之清道，即寸口四盛以上之關證。清濁反行，猶良民化為盜賊。）論證則是，而反以左右分人近氣口，蓋不知人迎脈之所在也。朱丹溪以噎膈乃反胃之漸，而分關格另為一門，蓋不知關格即噎膈之終也。陳無擇、嚴用和分五膈五噎，創立形證，隨五藏五志，猶舍尺寸而意短長，並不解關格噎膈反胃嘔吐同歸一體之證也。趙以德宗《靈樞》濁中有清，清中有濁之旨，而分胃有三脘，以邪在下脘，則血滯谷不消食之清濁不分為噎塞，變為嘔吐。此蓋知噎膈嘔吐相通，而不知關格即嘔吐噎膈之終也。王肯堂宗仲景關則不得小便，格則吐逆，以為格者拒扞其外入者不得內，關者閉塞其內出者不得泄，又以三陽結之隔為隔絕之證，而非關格。蓋不知三陽結之隔，即人迎三盛，病在陽明之證，進而為關格也。又宗潔古嘔吐即反胃膈氣，又宗丹溪噎膈即反胃之漸，而又分嘔吐膈氣為二門，是不知嘔吐進而為反胃，反胃進而為噎膈也。馬仲化力辨關格為脈體，非證名，以《難經》仲景、王冰、東垣、丹溪為誤更謬，以癃閉作關，則不得小便，可謂不揣其本而齊其末矣。且不知《靈樞》脈度篇及《難經》三十七難，直以關格為證名矣。張景岳蹈仲化之轍，以關格為脈體，又或為證名，又或為虛勞之別名，竟不知與嘔吐反胃噎膈為一體，而分關格噎膈反胃嘔吐為四門。何乃諸賢互相非是，致令病情顛倒，由其不能深考人迎脈在何處也。因著人迎辨，以原其故。</p>

<h2>人迎辨（附刻）</h2>
<p>蔣寶素曰：人迎氣口，為脈之要會。關陰格陽，為證之權衡。《內經》本以人迎診六府之陽，氣口診五藏之陰。人迎本足陽明胃脈，在結喉兩旁，氣口本手太陰肺脈，在兩手太淵經渠穴處。關陰格陽為證名，溢陰溢陽為脈體，人迎氣口為脈位。扁鵲推上魚為溢，入尺為覆，為關格證之脈。長沙明吐逆食不得入，不得小便，為關格證之狀。《脈經》《脈訣》以左為人迎，右為氣口。滑伯仁以結喉兩旁分人迎氣口。馬仲化以左手關上為人迎，右手關上為氣口。關格為脈體，非證名，謂《難經》三難及三十七難，論關格覆溢證脈為非。長沙在尺為關，在寸為格，關則不得小便，格則吐逆為誤。張景岳知人迎在結喉之旁，不達《內經》扁鵲、長沙之旨，反以馬氏為是，皆非也。《內經》每以人迎氣口並舉，而論關格，其理最微，其旨最博。文凡四見，略有參差，各有所指。蓋深憂後世之不達，姑言之重複詳明如此。扁鵲亦憂後人不達經義，本禁服篇、終始篇關格證，而推覆溢脈之名。（脈有名則關格是證。）長沙亦憂後人不達經義，本覆溢脈而明關格證之狀。（證有狀則關格非脈。）蓋證難辨者，莫難於關陰格陽。脈難辨者，莫難於人迎氣口。是以黃、岐、扁鵲、長沙，反覆推明因證推脈之名，因脈明證之狀，可謂詳而密矣。觀脈度篇及《難經》三十七難，論關格為證，憂彰明較著者，奈何不察。夫聖經垂訓於後世，亦賴後賢闡發，故內經道統，扁鵲得之而討論，長沙得之而推明。自漢以後，晉有皇甫士安，隋有全元起，唐有王冰，俱註釋《內經》，多所發明，惟人迎氣口諸條則略。自王叔和《脈經》，高陽生《脈訣》，不知經義人迎氣口本旨，誤以左為人迎，右為氣口。後世悉宗其謬，如東垣、丹溪之明，亦信而不辨。人迎氣口部位，尚且不明，關陰格陽證狀，安能契合。遂致議論多歧，是非莫辨。至明馬仲化注《內經》，人迎氣口關格諸條，竭力條辨，反以扁鵲、長沙為誤，亦宗左為人迎，右為氣口謬說，妄言關格為脈體，非證名。張景岳集《類經》釋人迎氣口關格諸條，力辨人迎在結喉兩旁，氣口在兩手太淵穴處誠是也。然又宗馬氏指關格為脈體，非證名，以扁鵲、長沙論關格覆溢證脈為誤。是脈體明，而證又晦。故經曰：知其要者，一言而終，不知其要，流散無窮。誠哉！是言也。謹列經義人迎氣口關格覆溢證脈本旨，及諸家註釋辨論，並附鄙見，條分於下。</p>
<p>人迎乃足陽明經胃脈，在結喉兩旁，不在左手，總統三陽六府諸證，至四盛以上，以辨關格。按：《靈樞·經脈篇》曰：胃足陽明之脈，起於鼻之交頞中，（頞，鼻莖盡處、亦名山根。交頞、謂脈左右互交也。）旁約太陽之脈，（自鼻頞至目內眥睛明穴。）下循鼻外入上齒中，（自睛明，至承泣、四白、巨髎之分。）還出挾口環唇，（至地倉穴。）下交承漿，（任脈穴。）欲循頤後下廉，出大迎，（腮下為頷，頷下為頤，自地倉以下大迎。）循頰車，（本經穴。）上耳前，（下關穴。）過客主人，（少陽經穴。）循髮際，（行懸釐、頷厭之分至頭維，會於督脈神庭之次。）至額顱。（髮際前。）其支者，（支猶水之有支。）從大迎前下人迎，（本經穴名。在結喉兩旁一十五分，即人迎脈也。）循喉嚨入缺盆，（本經穴。）下膈屬胃絡脾。（胃與脾相為表裡。）其直者，從缺盆下乳內廉，（直謂直下而分行，從缺盆下行氣戶等穴至乳中乳根。）挾臍，（自乳根至天樞等穴。）入氣街中。（氣街即氣衝。自外陵等穴至此，）其支者，起於胃口，下循腹裡，下至氣街中而合，（胃口乃胃之下口。《難經》所謂幽門是也。循腹裡，過足少陰肓腧之外，此即上文支者之脈，由胃下行，與直者復合於氣街之中，）以下髀關，低伏兔，下膝臏中，下循脛外廉，下足跗，入中指內間，髀，股也。抵，至也。髀關、伏兔，皆膝上穴名。自此由陰市諸穴以下行。膝蓋名臏，䯒骨名脛，足面名跗，三者即巨虛，衝陽等穴之次，乃循內庭入中指內間，而出厲兌。足陽明經止於此。其支者，下廉三寸而別，下入中指外間。其支者，別跗上，入大指間出其端。（廉，下廉也。下廉三寸，即豐隆穴是，為陽明別絡。故下入中指外間。又其支者，自跗上衝陽穴，次別行入大指間，斜出足厥陰行間之次，循大指出其端，而接手足太陰經也。）是動則病洒洒振寒，胃中寒則脹滿。為此諸病，盛則瀉之。虛則補之。盛者，人迎大三倍於氣口。虛者，人迎反小於氣口也。大腸手陽明之脈，起於大指次指之端，終於上挾鼻孔。是動則病齒痛頸腫。為此諸病，盛則瀉之。虛則補之。盛者，人迎大三倍於寸口。虛者，人迎反小於寸口也。小腸手太陽之脈，起於小指之端，終於至目內眥，斜絡於顴。是動則病咽痛頷腫。為此諸病，盛則瀉之。虛則補之。盛者，人迎大再倍於氣口。虛者，人迎反小於寸口也。膀胱足太陽之脈，起於目內眥，終於至小指外側。是動則病沖頭痛。為此諸病，盛則瀉之，虛則補之。盛者，人迎大再倍於寸口。虛者，人迎反小於寸口也。三焦手少陽之脈，起於小指次指之端，終於至目銳眥。是動則病耳聾。為此諸病，盛則瀉之，虛則補之。盛者，人迎大一倍於寸口。虛者，人迎反小於寸口也。膽足少陽之脈，起於目銳眥，終於還爪甲，出三毛。是動則病口苦。為此諸病，盛則瀉之。虛則補之。盛者，人迎大一倍於寸口。虛者，人迎反小於寸口也。按本篇以人迎胃脈，統察手足三陽六府諸病，與寸口肺脈相較倍數，合陰陽之數，察病之所在。手足陽明為三陽，故人迎大三倍於寸口者，為病在胃與大腸經也。手足太陽為二陽，故人迎大再倍於寸口者，為病在膀胱與小腸經也。手足少陽為一陽。故人迎大一倍於寸口者，為病在膽與三焦經也。以人迎胃脈統察六陽經者，以胃為諸脈之本源也。六府為陽，故以胃統六陽諸證，豈獨以左手為言哉。若以左為人迎，則察六府之脈，皆當在左手，孰知本經胃脈循行之處，從不至左手，其曰從大迎前下人迎，乃切指人迎在結喉兩旁，不在左手一證也。又動輸篇，帝曰：足之陽明，何因而動？岐伯曰：胃氣上注於肺，其悍氣上衝頭者，循咽上走空竅，循眼系，入絡腦，出顑（音坎。《說文》：顑與頷同）。下客主人，循牙車，合陽明，並下人迎，此胃氣別走於陽明者也。此以人迎為陽明胃脈，其曰胃氣上注於肺，是胃為肺脈之根，肺為胃脈之干。寸口肺脈，能察人迎胃脈，為其根干相通故也。其悍氣者，即胃氣所生之衛氣，循咽上走穴竅，循眼系出睛明穴，歷攢竹、曲池、五處、承光、通天、絡卻等穴，入絡於腦，復出頷下足少陽膽經之客主人，循本經之牙車，合於本經之經隧，並下本經之人迎。此雖衛氣所行，即是內之胃氣，出而別走於陽明之經隧。此以人迎胃脈動於結喉兩旁，不在左手二證也。又本輸篇，岐伯曰：缺盆之中，任脈也，名曰天突。一次任脈側之動脈，足陽明也。按缺盆之中，任脈之側，正是結喉之旁人迎脈處。又曰：足陽明，挾喉之動脈也。此明指人迎在結喉兩旁，不在左手，三證也。又病能論，黃帝問曰：人病胃脘癰者，診當何如？岐伯對曰：診此者，當候胃脈。其脈當沉細，沉細者氣逆，逆者人迎甚盛，甚盛則熱。人迎者，胃脈也。此分明切指人迎為胃脈也。此人迎在結喉兩旁，不在左手，四證也。又陰陽類論，黃帝以三陽之脈至手太陰。又曰：一陽者，少陽也。至手太陰，上連人迎。此即寸口以上察人迎，所謂人迎與寸口上下相應者是也。若以左為人迎，則上字無著落。若以左寸之上為人迎，則手太陰上連人迎，又作何說。手太陰，寸口也。既以左為人迎，右為寸口。寸口之上，又有人迎，是人迎又在右寸之上，更不得言左為人迎。又平人氣象論曰：頸脈動喘疾咳曰水。頸脈即人迎也。此人迎在結喉兩旁，不在左手，五證也。又《周禮》醫師鄭康成注，脈之大候，要在陽明寸口。賈公彥疏：陽明者，在大拇指本骨之高處，與第二指間。寸口者，大拇指本高骨後一寸是也。按：鄭注，脈之大候，要在陽明寸口，陽明即胃之人迎，寸口即太陰肺脈，以二脈為百脈之根源，故為大要。賈疏，陽明在大拇指本骨之高處，與第二指間，乃陽明部所屬之脈，即《素問·脈要精微論》右外以候胃是也。陽明屬胃在右關外側，故近第二指間，非陽明本部。陽明本部，即人迎脈也。在結喉兩旁。寸口在大拇指本高骨後一寸乃尺中部位，即扁鵲、長沙，以兩尺之下察寸口之意。大拇指本高骨為關脈，賈公彥但知兩尺之下察寸口，不知兩寸之上察人迎，故誤以陽明本部在右關外側，此亦人迎不在左手之一證。</p>
<p>《內經》本以人迎總統三陽六府諸證，非專論外格。經脈篇以人迎察手足三陽諸病，至三倍而止，為陽氣未出三陽本位，固非外格。必至四倍以上，為陽氣揚溢於外，離出三陽本位，不與陰氣相榮，為陰陽離決之證，方為外格。故禁服篇、終始篇、六節藏象論，俱以人迎四倍以上，論關格之證。禁服篇曰：人迎大一倍於寸口，病在足少陽，一倍而躁，（躁者，一倍之中，而有更躁之意。《素問》云：其有躁者在手。下同。）病在手少陽。人迎二倍，病在足太陽。二倍而躁，病在手太陽。人迎三倍，病在足陽明。三倍而躁，病在手陽明。盛則為熱，虛則為寒。又曰：人迎四倍者，且大且數，名曰溢陽。溢陽為外格，死不治。終始篇曰：人迎一盛，病在足少陽。一盛而躁，病在手少陽。人迎二盛，病在足太陽。二盛而躁，病在手太陽。人迎三盛，病在足陽明。三盛而躁，病在手陽明。人迎四盛，且大且數，名曰溢陽。溢陽為外格。六節藏象論曰：十一藏取決於膽，故人迎一盛，病在少陽，二盛病在太陽，三盛病在陽明，四盛以上為格陽。按：此三篇，所指有異。如禁服篇，以一倍二倍三倍察手足三陽諸證，以陽氣未出三陽本位，以四位為外格，以陽氣離出三陽本位，故曰死不治。終始篇、六節藏象論，不論六府諸病，直以一盛二盛三盛四盛以上論格陽，蓋所重在格陽，故不論六府諸病。然六節藏象論，加一故字，以發明諸篇精義。言人迎一盛，所以病在少陽者，十一藏取決於膽故也。以陽明胃脈與太陰肺脈較察者，蓋胃為肺脈之根，肺為胃脈之干。五藏別論曰：胃者，水穀之海，六府之大源也。五味入口，藏於胃，以養五藏氣，氣口亦太陰也。五藏六府之氣味，皆出於胃，變見於氣口。玉機真藏論曰：五藏者，皆稟氣於胃。胃者，五藏之本也。藏氣者，不能自致於手太陰，必因於胃氣，乃致於手太陰也。蓋診脈之道，必先明歲氣，（如春弦、夏洪、秋浮、冬沉、之類。）然後察胃氣，然後察藏氣，然後察病氣。以胃為肺脈之根，肺為胃脈之干，由胃以輸脾，由脾以歸肺。然五藏六府之氣味，皆出於胃，變見於氣口。胃雖為脈之根，而變見於氣口，則氣口乃為要會之地，故可統察十二經之證。扁鵲欲獨取寸口，又慮人迎為肺脈之根，《內經》以人迎四倍於寸口為外格證。若不診人迎，則外格從何較察。深觀經旨，推終始、禁服二篇之義，而演之於三難曰：脈有太過，有不及，有陰陽相乘，有覆有溢，有關有格，何謂也？然。關之前者，陽之動也。脈當九分而浮，過者法曰太過，減者法曰不及。遂上魚為溢，為外關內格，此陰乘之脈也。（乘，凌也。陰乘，即陰凌陽散，無復相榮，乃乖離絕決之象，外關閉而內格絕也。）此上魚為溢，即終始、禁服二篇所謂人迎四倍，且大且數，名曰溢陽，溢陽為外格之義。（溢陽為外格證之脈，外格為溢陽脈之證。）扁鵲既獨取寸口，不診人迎，推溢陽為外格之意，溢陽為陽氣揚溢於外，不與陰氣相榮，而關陰於內，使不得出，則陰氣內覆，而格陽於外，使不得入，為陰乘陽散，陽氣孤懸格絕於外，陰陽相背，無復相榮，故曰外關內格，此陰乘之脈也。陽氣揚溢於外，人迎脈大四倍於寸口，則寸口脈小四倍於人迎。今不診人迎，獨取寸口，何以較人迎寸口之大小。蓋非以寸口名人迎，以寸口之上察人迎。人迎為寸口肺脈之根，寸口為人迎胃脈之干。人迎脈大至四倍以上，未有不變見於氣口者，以根大而干亦大，則以寸口之上察人迎脈也。若經脈、終始、禁服、六節藏象等篇，所謂一倍二倍三倍，（即以喉兩旁之人迎。）則寸口之上，亦漸大至一盛二盛三盛。如人迎四倍以上為外格證，則寸口之上亦溢於魚上為溢陽脈，以應人迎之氣，為其根干相通，是寸口以上可察人迎之氣，而結喉兩旁之人迎，亦不必診也。此扁鵲獨取寸口，以尺寸而分關格覆溢證脈，不診人迎本意也。仲景因《內經》以人迎胃脈大四倍於寸口肺脈，論格陽證，扁鵲不診人迎，獨取寸口，推《內經》溢陽為外格之意，以寸口之上察人迎，以溢為脈，格為證。然又云：脈有關有格。又云：是皆真藏之脈，人不病而死也。此又似只論脈而不論證，恐後人誤認關格為脈體，非證名。（蓋脈有關有格者，以脈至四倍以上為關格證之脈也。人不病而死，甚言其證之危。雖不病而人必死，既有其脈，必有其證，故仲景云然。）亦本《內經》溢陽為外格之旨，而明外格證之狀。曰脈浮而大，浮為虛，大為實，在寸為格，格則吐逆。脈浮而大，即四倍之類。浮為虛，真氣虛。大為實，邪氣實。在寸為格，以寸口之上，脈越於魚際，溢於魚上，以應人迎之脈，吐逆食不得入，以陽氣揚溢於外，胃中全失沖和，安能腐化水穀，是必格拒，吐逆食不得入，故名曰格。（終始篇、禁服篇，名外格。六節藏象論，名格陽。脈度篇，名格。扁鵲、長沙，亦名格。馬仲化、張景岳，誤以格為脈體，非證名，反笑長沙以格誤作《內經》之膈證，蓋不知格乃膈之終也。）乃膈食之終也。仲景猶恐以浮大為關格，而仍誤認關格為脈體，復詳於趺陽脈曰：趺陽脈伏而澀，伏則吐逆，水穀不化，澀則食不得入，名曰關格。（按：關格可分可合，格陽亦可名關格，關陰亦可名關格，不過以內外之分。終始篇、禁服篇，俱以人迎四倍且大且數，名曰溢陽。溢陽為外格。扁鵲外關內格之意本此。又論格陽證，亦以關格稱之。故長沙詳趺陽脈論格陽證，名曰關格。）蓋趺陽即足陽明胃脈之在足者。（按：《傷寒論》自序云：按寸不及尺，握手不及足，人迎趺陽三部不參，即人迎在喉為上部，趺陽在足為下部，舉其上下，則寸口在其中矣，為中部。足見人迎不在左手。）趺陽脈伏澀，為胃氣不通於下，而揚溢於上。故人迎脈大四倍以上，上之人迎脈大為關格，下之趺陽脈伏澀亦為關格，則關格為證明矣。而後世猶然不解，皆惑於《脈經》《脈訣》，妄指左手為人迎，右手為氣口，及馬仲化謬謂扁鵲、長沙以尺寸分關格為誤，指關格為脈體，非證名等說也。馬仲化曰：按《傷寒論》云：寸口脈浮而大，浮為虛，大為實，在寸為格，格則吐逆，趺陽脈伏而澀，伏則吐逆，水穀不化，澀則食不得入，名曰關格。夫《內經》諸篇，分明以左手人迎（按《內經》無左手為人迎之文。）脈大，自一盛以至四盛，乃手足六陽經為病，其名曰格。故春夏人迎微大者為無病。今仲景曰：在寸為格。又曰：格則吐逆。是以格脈誤為內經之膈證。《此事難知》集、李東垣宗之。且曰：氣口之脈，大四倍於人迎，則又同於《難經》三十七難之誤。按：三十七難，本《靈樞》脈度篇，推明關格為證，以申三難之義。馬氏不知關格為證，誤以為脈，故言之顛倒如此。據馬氏此論，以左手為人迎，關格為脈體，故不得不以扁鵲、長沙為誤。左手為人迎，則尺寸不能分關格。（在尺為關，在寸為格。若以左為人迎論格，則右為氣口論關，與尺無涉。蓋不知寸口以上察人迎，尺中以下察氣口，無分左右也。）關格為脈體，則吐逆食不得入，不能為格證。蓋不知《內經》本以關格為證名，故扁鵲恐後人誤認關格為脈體，推覆溢脈之名。（脈有名，則關格是證，上魚為溢，入尺為覆。）長沙亦恐後人誤認關格為脈體，明關格證之狀。（證有狀、則關格非脈，關則不得小便，格則吐逆，）而馬氏猶然不悟，反以為非。且曰《內經》諸篇，分明以左手為人迎。今偏考《內經》，並無左手為人迎之說，（吳鶴皋亦曰：此家脈法法象，陽左陰右，自為一家，左手關上為人迎，此蓋思之而未得其解，遂曰自為一家。殊屬可笑。）皆為《脈經》《脈訣》所誤，且曲為之解，何其謬信如此。張景岳曰：人迎，足陽明胃脈也，在頸下夾結喉旁一寸五分。一盛二盛，猶言一倍二倍，謂以人迎寸口相較，或此大於彼，或彼大於此，而有三倍四倍之殊也。禁服篇曰：寸口主中，人迎主外，兩者相應，俱往俱來，若引繩大小齊等。春夏人迎微大，秋冬寸口微大，如是者，命曰平人。故人迎寸口而至於盛衰相倍者，乃不免於病矣。然人迎候陽，故一盛在少陽膽與三焦也。二盛在太陽膀胱小腸也。三盛在陽明胃與大腸也。四盛以上者，以陽脈盛極，而陰無以通，故曰格陽。又曰：愚按關格脈證，本經垂訓極明，世人病此不少，而歷代醫師每各立名目，以相傳訓，甚至並其大義而失之。其謬甚矣。夫所謂關格者，陰陽否絕不相榮運，乖羸離敗之候也。故人迎故盛者，病在三陽之府也。陽明行氣於三陽，而人迎之脈，在結喉之旁也。故古法診三陽之氣於人迎，如四時氣篇曰：人迎候陽，正謂此也。又曰：又按關格之脈，如六節藏象、脈度、終始、禁服、經脈等篇，言之再四，蓋恐其難明，故宣而又宣，誠重之也。而後世諸賢，鮮有得其旨者，豈皆未之察耶。夫人迎在頸，系陽明表脈，故人迎倍大者曰格陽。此以陰陽否絕，氣不相營，故名關格，不可易也。而三難曰：脈有太過，有不及，有陰陽相乘，有覆有溢，有關有格，何謂也？然。關之前者，陽之動也。脈當九分而浮，過者法曰太過，減者法曰不及，遂上魚為溢，為外關內格，此陰乘之脈也。故仲景宗之曰：在寸為格，格則吐厥。夫人迎四倍，既非寸口之謂，（寸口以上察人迎，故曰在寸為格。景岳蓋未知此。）而曰吐厥者，即膈食一證耳。（景岳不知膈食，進而為關格。）此證未必至死，何《內經》諄諄特重之若是耶。繼自叔和以後，俱莫能辨，悉以尺寸言關格，（景岳蓋不知寸口以上察人迎，尺脈以下察寸口。）而且云左為人格，以致後世惑亂，遂並陰陽表裡大義，盡皆失之。迨及東垣之宗《脈經》者，則亦以左為人迎，曰氣口之脈，大四倍於人迎，此清氣反行濁道也。故曰格。（氣口之脈大四倍於人迎，即寸口以上漸大至四倍，以應喉旁之人迎，已將達《內經》扁鵲長沙之旨，而不捨左為人迎謬說，此東垣將悟未悟，為《脈經》《脈訣》所誤，遂不能悟。惜哉！）甚至丹溪特立關格一門，曰此證多死，寒在上，熱在下，脈兩寸俱盛四倍以上。夫兩寸俱盛四倍，又安得為寒在上，熱在下耶。其說愈乖，其義愈失，致使後學茫然莫知所辨。欲求無誤，其可得乎。獨近代馬玄臺知諸子之非，謂關格之義，非膈食閉癃之證，（癃閉，乃津液不通，一時阻塞而閉。關則不得小便，乃津液枯涸而閉。膈食乃關格之始，馬仲化蓋未知此。）曰：嗚呼痛哉！軒歧之旨乎。秦張王李朱，後世業醫者所宗，尚與《內經》渺然如此，況能使後世下工，復知關格為脈體，而非病名也。又焉能決關格脈之死生，治關格脈之病證，及治膈證閉癃證而無謬也哉。此馬子之言誠是也。然觀其諸篇之注，則亦未詳經義，謬宗叔和，仍以左為人迎，竟置陽明胃脈於烏有，而仍失本經表裡陰陽，根本對待之義，此其復為誤也。據張氏此論，謂人迎在結喉兩旁，誠過人之見，然不知兩寸之上察人迎，而私淑玄臺之謬說，故反以扁鵲、長沙為誤，致令關格證脈不分。如曰愚按關格脈證，又曰又按關格之脈，則關格曰證可也。曰脈可也。（關格為覆溢脈之證，覆溢為關格證之脈。）若以關格為證，不應指丹溪為非，亦當悟仲景明關格證狀之意。若以關格為脈，不合《內經》本旨，亦當悟扁鵲推覆溢脈名之意。此景岳不敢背經義，而惑於仲化謬論，不達扁鵲、長沙之旨，以故議論多歧。且言如六節藏象、脈度、終始、禁服、經脈等篇，言之再四，蓋恐其難明，故宣而又宣，亦不言《內經》所以宣人格在喉旁之義。自矜其辨，執人迎在結喉兩旁，以證諸家之誤，而不達扁鵲以寸口之上論格陽，推格陽脈名，以上魚為溢，為格陽證之脈名。長沙以寸口之上論格陽，明格陽證狀。以吐逆食不得入，為格陽證之證狀，反以為非是，脈體明而證又晦，證既晦則脈亦不明，證脈不符於理則悖，反使人迎復晦，可為痛惜。故著人迎辨以證之。</p>
<p>略曰：關格為證，覆溢為脈，證脈皆見於人迎氣口。氣口以上，察結喉之人迎。上魚為溢，在寸為格。尺中以下察太淵之氣口，入尺為覆，在尺為關。寸口穴至尺澤穴，長一尺一寸，除去一尺便是一寸，故名寸。除去一寸便是一尺，故名尺。陰得尺中一寸名尺脈，陽得寸內九分名寸脈，余中一分為關脈。九分之上應人迎，一寸以下應氣口。能辨乎此，則黃岐、扁鵲、長沙關格復溢證脈意旨，一以貫之矣。</p>

<h1>跋</h1>
<p>醫為九流之一，自神農赭鞭，岐伯素問而後，厥用甚偉。周官醫師上定二人，疾醫治內，瘍醫治外，厥後越人、仲景，史不絕書。醫雖小道乎，而能通天地之變，類萬物之情，知死生之說，非是則業不精而效亦不著。善哉！範希文之言曰：不為良相，必為良醫。相能燮理陰陽，醫能調和營衛，博施濟眾，民不夭札，其功用均也。鎮江蔣君承其家學，醫名噪於時。嘗著《醫略》八十一卷，卷帙繁多，先梓六淫門十三卷。首列形證，次列醫方，終以己意辨難折衷之。卷後附古方及關格考人、迎辨，剖晰毫芒，詳明精確，不泥於古，亦不戾於古，於諸證轇轕疑似處皆瞭然數計，如洞垣一方人。夫古之醫者，皆刀錐針砭撟引毒熨之，非徒恃湯液也。故藥瞑眩而效亦易徵。今則專藉草木之滋，以爭呼吸之際，而又不能於九竅九藏之脈，兩之參之，以抵其變與動定，詡詡然以為盧扁復生。得君是書熟讀而深思，其亦可以戢虛憍之氣而進乎道矣。</p>
<p><u>道光癸卯吳江愚弟殷壽彭跋</u></p>
