<header data-type="book">
<h1>瀕湖脈學脈訣</h1>
<dl class="元資料">
<div><dt>出處</dt><dd><data value="瀕湖脈學">自《瀕湖脈學》各章節摘錄整理</data></dd></div>
<div><dt>品質</dt><dd>89%</dd></div>
</dl>
</header>
<h2>七言訣</h2>
<h3>浮脈</h3>
<p>【體狀詩】浮脈惟從肉上行，如循榆莢似毛輕，<br>
　　　　　三秋得令知無恙，久病逢之卻可驚。<br>
【相類詩】浮如木在水中浮，浮大中空乃是芤，<br>
　　　　　拍拍而浮是洪脈，來時雖盛去悠悠。<br>
　　　　　浮脈輕平似捻蔥，虛來遲大豁然空，<br>
　　　　　浮而柔細方為濡，散似楊花無定蹤。<br>
【主病詩】浮脈為陽表病居，遲風數熱緊寒拘，<br>
　　　　　浮而有力多風熱，無力而浮是血虛。<br>
　　　　　寸浮頭痛眩生風，或有風痰聚在胸，<br>
　　　　　關上土衰兼木旺，尺中溲便不流通。<br></p>
<h3>沉脈</h3>
<p>【體狀詩】水行潤下脈來沉，筋骨之間軟滑勻，<br>
　　　　　女子寸兮男子尺，四時如此號為平。<br>
【相類詩】沉幫筋骨自調勻，伏則推筋著骨尋，<br>
　　　　　沉細如綿真弱脈，弦長實大是牢形。<br>
【主病詩】沉潛水蓄陰經病，數熱遲寒滑有痰，<br>
　　　　　無力而沉虛與氣，沉而有力積并寒。<br>
　　　　　寸沉痰鬱水停胸，關主中寒痛不通，<br>
　　　　　尺部濁遺并泄痢，腎虛腰及下元痌。<br></p>
<h3>遲脈</h3>
<p>【體狀詩】遲來一息至惟三，陽不勝陰氣血寒，<br>
　　　　　但把浮沉分表裏，消陰須益火之原。<br>
【相類詩】脈來三至號為遲，小快於遲作緩持，<br>
　　　　　遲細而難知是澀，浮而遲大以虛推。<br>
【主病詩】遲司臟病或多痰，沉痼癥瘕仔細看，<br>
　　　　　有力而遲為冷痛，遲而無力定虛寒。<br>
　　　　　寸遲必是上焦寒，關主中寒痛不堪，<br>
　　　　　尺是腎虛腰腳重，溲便不禁疝牽丸。<br></p>
<h3>數脈</h3>
<p>【體狀詩】數脈息間常六至，陰微陽盛必狂煩，<br>
　　　　　浮沉表裏分虛實，惟有兒童作吉看。<br>
【相類詩】數比平人多一至，緊來如數似彈繩，<br>
　　　　　數而時止名為促，數見關中動脈形。<br>
【主病詩】數脈為陽熱可知，只將君相火來醫，<br>
　　　　　實宜涼瀉虛溫補，肺病秋深卻畏之。<br>
　　　　　寸數咽喉口舌瘡，吐紅咳嗽肺生瘍，<br>
　　　　　當關胃火并肝火，尺屬滋陰降火湯。<br></p>
<h3>滑脈</h3>
<p>【體狀詩】滑脈如珠替替然，往來流利卻還前，<br>
　　　　　莫將滑數為同類，數脈惟看至數間。<br>
【主病詩】滑脈為陽元氣衰，痰生百病食生災，<br>
　　　　　上為吐逆下蓄血，女脈調時定有胎。<br>
　　　　　寸滑膈痰生嘔吐，吞酸舌強或咳嗽，<br>
　　　　　當關宿食肝脾熱，渴痢㿗淋看尺部。<br></p>
<h3>澀脈</h3>
<p>【體狀詩】細遲短澀往來難，散止依稀應指間，<br>
　　　　　如雨沾沙容易散，病蠶食葉慢而艱。<br>
【相類詩】參伍不調名曰澀，輕刀刮竹短而難，<br>
　　　　　微似秒芒微軟甚，浮沉不別有無間。<br>
【主病詩】澀緣血少或傷精，反胃亡陽汗雨淋，<br>
　　　　　寒濕入營為血痹，女人非孕即無經。<br>
　　　　　寸澀心虛痛對胸，胃虛脇脹查關中，<br>
　　　　　尺為精血俱傷候，腸結溲淋或下紅。<br></p>
<h3>虛脈</h3>
<p>【體狀詩】舉之遲大按之鬆，脈狀無涯類谷空，<br>
　　　　　莫把芤虛為一例，芤來浮大似慈蔥。<br>
【主病詩】脈虛身熱為傷暑，自汗怔忡驚悸多，<br>
　　　　　發熱陰虛須早治，養營益氣莫蹉跎。<br>
　　　　　血不榮心寸口虛，關中腹脹食難舒，<br>
　　　　　骨蒸痿痹傷精血，卻在神門兩部居。<br></p>
<h3>實脈</h3>
<p>【體狀詩】浮沉皆得大而長，應指無虛愊愊強，<br>
　　　　　熱蘊三焦成壯火，通腸發汗始安康。<br>
【相類詩】實脈浮沉有力強，緊如彈索轉無常，<br>
　　　　　須知牢脈幫筋骨，實大微弦更帶長。<br>
【主病詩】實脈為陽火鬱成，發狂譫語吐頻頻，<br>
　　　　　或為陽毒或傷食，大便不通或氣疼。<br>
　　　　　寸實應知面熱風，咽痛<span data-rev="校"><small class="雙行夾注">疼?</small></span>舌強氣填胸，<br>
　　　　　當關脾熱中宮滿，尺實腰腸痛不通。<br></p>
<h3>長脈</h3>
<p>【體狀詩】過於本位脈名長，弦則非然但滿張，<br>
　　　　　弦脈與長爭較遠，良工尺度自能量。<br>
【主病詩】長脈迢迢大小勻，反常為病似牽繩，<br>
　　　　　若非陽毒癲癇病，即是陽明熱勢深。<br></p>
<h3>短脈</h3>
<p>【體狀詩】兩頭縮縮名為短，澀短遲遲細且難，<br>
　　　　　短澀而浮秋喜見，三春為賊有邪干。<br>
【主病詩】短脈惟於尺寸尋，短而滑數酒傷神，<br>
　　　　　浮為血澀沉為痞，寸主頭痛尺腹痛。<br></p>
<h3>洪脈</h3>
<p>【體狀詩】脈來洪盛去還衰，滿指滔滔應夏時，<br>
　　　　　若在春秋冬月分，升陽散火莫狐疑。<br>
【相類侍】洪脈來時拍拍然，去衰來盛似波瀾，<br>
　　　　　欲知實脈參差處，舉按弦長愊愊堅。<br>
【主病詩】脈洪陽盛血應虛，相火炎炎熱病居，<br>
　　　　　脹滿胃翻須早治，陰虛泄痢可嚋躇。<br>
　　　　　寸洪心火上焦炎，肺脈洪時金不堪。<br>
　　　　　肝火胃虛關內察，腎虛陰火尺中看。<br></p>
<h3>微脈</h3>
<p>【體狀詩】微脈輕微潎潎乎，按之欲絕有如無，<br>
　　　　　微為陽弱細陰弱，細比於微略較粗。<br>
【主病詩】氣血微兮脈亦微，惡寒發熱汗淋漓，<br>
　　　　　男為勞極諸虛候，女作崩中帶下醫。<br>
　　　　　寸微氣促或心驚，關脈微時脹滿形，<br>
　　　　　尺部見之精血弱，惡寒消癉痛呻吟。<br></p>
<h3>緊脈</h3>
<p>【體狀詩】舉如轉索切如繩，脈象因之得緊名，<br>
　　　　　總是寒邪來作寇，內為腹痛外身疼。<br>
【相類詩】見弦、實。<br>
【主病詩】緊為諸痛主於寒，喘咳風癇吐冷痰，<br>
　　　　　浮緊表寒須發越，緊沉溫散自然安。<br>
　　　　　寸緊人迎氣口分，當關心腹痛沉沉，<br>
　　　　　尺中有緊為陰冷，定是奔豚與疝疼。<br></p>
<h3>緩脈</h3>
<p>【體狀詩】緩脈阿阿四至通，柳梢裊裊颭輕風，<br>
　　　　　欲從脈裏求神氣，只在從容和緩中。<br>
【相類詩】見遲脈。<br>
【主病詩】緩脈營衰衛有餘，或風或濕或脾虛，<br>
　　　　　上為項強下痿痹，分別浮沉大小區。<br>
　　　　　寸緩風邪項背拘，關為風眩胃家虛，<br>
　　　　　神門濡泄或風秘，或是蹣跚足力迂。<br></p>
<h3>芤脈</h3>
<p>【體狀詩】芤形浮大軟如蔥，邊實須知內已空，<br>
　　　　　火犯陽經血上溢，熱侵陰絡下流紅。<br>
【相類詩】中空旁實乃為芤，浮大而遲虛脈呼，<br>
　　　　　芤更帶弦名曰革，芤為失血革血虛。<br>
【主病詩】寸芤積血在於胸，關裏逢芤腸胃癰，<br>
　　　　　尺部見之多下血，赤淋紅痢漏崩中。<br></p>
<h3>弦脈</h3>
<p>【體狀詩】弦脈迢迢端直長，肝經木旺土應傷，<br>
　　　　　怒氣滿胸常欲叫，翳蒙瞳子淚淋浪。<br>
【相類詩】弦來端直似絲弦，緊則如繩左右彈，<br>
　　　　　緊言其力弦言象，牢脈弦長沉伏間。<br>
【主病詩】弦應東方肝膽經，飲痰寒熱瘧纏身，<br>
　　　　　浮沉遲數須分別，大小單雙有重輕。<br>
　　　　　寸弦頭痛膈多痰，寒熱癥瘕察左關，<br>
　　　　　關右胃寒心腹痛，尺中陰疝腳拘攣。<br></p>
<h3>革脈</h3>
<p>【體狀詩】革脈形如按鼓皮，芤弦相合脈寒虛，<br>
　　　　　女人半產并崩漏，男子營虛或夢遺。<br>
【相類詩】見芤、牢。<br></p>
<h3>牢脈</h3>
<p>【體狀詩】弦長實大脈牢堅，牢位常居沉伏間。<br>
　　　　　革脈芤弦自浮起，革虛牢實要詳看。<br>
【主病詩】寒則牢堅裏有餘，腹心寒痛木乘脾，<br>
　　　　　疝㿗癥瘕何愁也，失血陰虛卻忌之。<br></p>
<h3>濡脈</h3>
<p>【體狀詩】濡形浮細按須輕，水面浮綿力不禁，<br>
　　　　　病後產中猶有藥，平人若見是無根。<br>
【相類詩】浮而柔細知為濡，沉細而柔作弱持，<br>
　　　　　微則浮微如欲絕，細來沉細近於微。<br>
【主病詩】濡為亡血陰虛病，髓海丹田暗已虧，<br>
　　　　　汗雨夜來蒸入骨，血山崩倒濕侵脾。<br>
　　　　　寸濡陽微自汗多，關中其奈氣虛何，<br>
　　　　　尺傷精血虛寒甚，溫補真陰可起疴。<br></p>
<h3>弱脈</h3>
<p>【體狀詩】弱來無力按之柔，柔細而沉不見浮，<br>
　　　　　陽陷入陰精血弱，白頭猶可少年愁。<br>
【相類詩】見濡脈。<br>
【主病詩】弱脈陰虛陽氣衰，惡寒發熱骨筋痿，<br>
　　　　　多驚多汗精神減，益氣調營急早醫。<br>
　　　　　寸弱陽虛病可知，關為胃弱與脾衰，<br>
　　　　　欲求陽陷陰虛病，須把神門兩部推。<br></p>
<h3>散脈</h3>
<p>【體狀詩】散似楊花散漫飛，去來無定至難齊，<br>
　　　　　產為生兆胎為墮，久病逢之不必醫。<br>
【相類詩】散脈無拘散漫然，濡來浮細水中綿，<br>
　　　　　浮而遲大為虛脈，芤脈中空有兩邊。<br>
【主病詩】左寸怔忡右寸汗，溢飲左關應軟散，<br>
　　　　　右關軟散胻胕腫，散居兩尺魂應斷。<br></p>
<h3>細脈</h3>
<p>【體狀詩】細來累累細如絲，應指沉沉無絕期，<br>
　　　　　春夏少年俱不利，秋冬老弱卻相宜。<br>
【相類詩】見微、濡。<br>
【主病詩】細脈縈縈血氣衰，諸虛勞損七情乖，<br>
　　　　　若非濕氣侵腰腎，即是傷精汗泄來。<br>
　　　　　寸細應知嘔吐頻，入關腹脹胃虛形，<br>
　　　　　尺逢定是丹田冷，泄痢遺精號脫陰。<br></p>
<h3>伏脈</h3>
<p>【體狀詩】伏脈推筋著骨尋，指間裁動隱然深，<br>
　　　　　傷寒欲汗陽將解，厥逆臍疼證屬陰。<br>
【相類詩】見沉脈。<br>
【主病詩】伏為霍亂吐頻頻，腹痛多緣宿食停，<br>
　　　　　畜飲老痰成積聚，散寒溫裏莫因循。<br>
　　　　　食鬱胸中雙寸伏，欲吐不吐常兀兀，<br>
　　　　　當關腹痛困沉沉，關後疝疼還破腹。<br></p>
<h3>動脈</h3>
<p>【體狀詩】動脈搖搖數在關，無頭無尾豆形團，<br>
　　　　　其原本是陰陽搏，虛者搖兮勝者安。<br>
【主病詩】動脈專司痛與驚，汗因陽動熱因陰，<br>
　　　　　或為泄痢拘攣病，男子亡精女子崩。<br></p>
<h3>促脈</h3>
<p>【體狀詩】促脈數而時一止，此為陽極欲亡陰，<br>
　　　　　三焦鬱火炎炎盛，進必無生退可生。<br>
【相類詩】見代脈。<br>
【主病詩】促脈惟將火病醫，其因有五細推之，<br>
　　　　　時時喘咳皆痰積，或發狂斑與毒疽。<br></p>
<h3>結脈</h3>
<p>【體狀詩】結脈緩而時一止，獨陰偏勝欲亡陽，<br>
　　　　　浮為氣滯沉為積，汗下分明在主張。<br>
【相類詩】見代脈。<br>
【主病詩】結脈皆因氣血凝，老痰結滯苦沉吟，<br>
　　　　　內生積聚外癰腫，疝瘕為殃病屬陰。<br></p>
<h3>代脈</h3>
<p>【體狀詩】動而中止不能還，復動因而作代看，<br>
　　　　　病者得之猶可療，平人卻與壽相關。<br>
【相類詩】數而時止名為促，緩止須將結脈呼，<br>
　　　　　止不能回方是代，結生代死自殊途。<br>
【主病詩】代脈原因臟氣衰，腹疼泄痢下元虧，<br>
　　　　　或為吐瀉中宮病，女子懷胎三月兮。<br></p>
<h2>四言訣</h2>
<p>經脈與脈氣<br>
脈乃血脈，氣血之先，血之隧道，氣息應焉。<br>
其象法地，血之府也，心之合也，皮之部也。<br>
資始於腎，資生於胃，陽中之陰，本乎營衛，<br>
營者陰血，衛者陽氣，營行脈中，衛行脈外。<br>
脈不自行，隨氣而至，氣動脈應，陰陽之義。<br>
氣如橐籥，血如波瀾，血脈氣息，上下循環。<br>
十二經中，皆有動脈，惟手太陰，寸口取決，<br>
此經屬肺，上系吭嗌，脈之大會，息之出入。<br>
一呼一吸，四至為息，日夜一萬，三千五百。<br>
一呼一吸，脈行六寸，日夜八百，十丈為準。<br></p>
<p>部位、診法<br>
初持脈時，令仰其掌，掌後高骨，是謂關上，<br>
關前為陽，關後為陰，陽寸陰尺，先後推尋。<br>
心肝居左，肺脾居右，腎與肺門，居兩尺部，<br>
魂魄穀神，皆見寸口，左主司官，右主司府。<br>
左大順男，右大順女，本命扶命，男左女右。<br>
關前一分，人命之主，左為人迎，右為氣口。<br>
神門決斷，兩在關後，人無二脈，病死不愈。<br>
男女脈同，惟尺則異，陽弱陰盛，反此病至。<br>
脈有七診，曰浮中沉，上下左右，消息求尋，<br>
又有九候，舉按輕重，三部浮沉，各候五動。<br>
寸候胸上，關候膈下，尺候於臍，下至跟踝，<br>
左脈候左，右脈候右，病隨所在，不病者否。<br></p>
<p>五臟平脈<br>
浮為心肺，沉為腎肝，脾胃中州，浮沉之間。<br>
心脈之浮，浮大而散，肺脈之浮，浮澀而短，<br>
肝脈之沉，沉而弦長，腎脈之沉，沉實而濡，<br>
脾胃屬土，脈宜和緩，命為相火，左寸同斷。<br>
春弦夏洪，秋毛冬石，四季和緩，是謂平脈。<br>
太過實強，病生於外，不及虛微，病生於內。<br>
春得秋脈，死在金日，五臟準此，推之不失。<br>
四時百病，胃氣為本，脈貴有神，不可不審。<br></p>
<p>辨脈提綱<br>
調停自氣，呼吸定息，四至五至，平和之則。<br>
三至為遲，遲則為冷，六至為數，數即熱證。<br>
轉遲轉冷，轉數轉熱，遲數既明，浮沉當別。<br>
浮沉遲數，辨內外因，外因於天，內因於人。<br>
天有陰陽，風雨晦冥，人喜怒憂，思悲恐驚。<br>
外因之浮，則為表證，沉裏遲陰，數則陽盛。<br>
內因之浮，虛風所為，沉氣遲冷，數熱何疑。<br>
浮數表熱，沉數裏熱，浮遲表虛，沉遲冷結。<br>
表裏陰陽，風氣冷熱，辨內外因，脈證參別。<br>
脈理浩繁，總括於四，既得提綱，引申觸類。<br></p>
<p>諸脈形態<br>
浮脈法天，輕手可得，汎汎在上，如水漂木。<br>
有力洪大，來盛去悠，無力虛大，遲而且柔。<br>
虛甚則散，渙漫不收，有邊無中，其名曰芤。<br>
浮小為濡，綿浮水面，濡甚則微，不任尋按。<br>
沉脈法地，近於筋骨，深深在下，沉極為伏。<br>
有力為牢，實大弦長，牢甚則實，愊愊而強。<br>
無力為弱，柔小如綿，弱甚則細，如蛛絲然。<br>
遲脈屬陰，一息三至，小駛於遲，緩不及四。<br>
二損一敗，病不可治，兩息奪精，脈已無氣。<br>
浮大虛散，或見芤革，浮小濡微，沉小細弱。<br>
遲細為澀，往來極難，易散一止，止而復還。<br>
結則來緩，止而復來，代則來緩，止不能回。<br>
數脈屬陽，六至一息，七疾八極，九至為脫。<br>
浮大者洪，沉大牢實，往來流利，是謂之滑。<br>
有力為緊，彈如轉索，數見寸口，有止為促。<br>
數見關中，動脈可候，厥厥動搖，狀如小豆。<br>
長則氣治，過於本位，長而端直，弦脈應指。<br>
短則氣病，不能滿部，不見於關，惟尺寸候。<br></p>
<p>諸脈主病<br>
一脈一形，各有主病，數脈相兼，則見諸證。<br>
浮脈主表，裏必不足，有力風熱，無力血弱，<br>
浮遲風虛，浮數風熱，浮緊風寒，浮緩風濕，<br>
浮虛傷暑，浮芤失血，浮洪虛火，浮微勞極，<br>
浮濡陰虛，浮散虛劇，浮弦痰飲，浮滑痰熱。<br>
沉脈主裏，主寒主積，有力痰食，無力氣鬱，<br>
沉遲虛寒，沉數熱伏，沉緊冷痛，沉緩水蓄，<br>
沉牢痼冷，沉實熱極，沉弱陰虛，沉細痹濕，<br>
沉弦飲痛，沉滑宿食，沉伏吐利，陰毒聚積。<br>
遲脈主臟，陽氣伏潛，有力為痛，無力虛寒。<br>
數脈主腑，主吐主狂，有力為熱，無力為瘡。<br>
滑脈主痰，或傷於食，下為蓄血，上為吐逆。<br>
澀脈少血，或中寒濕，反胃結腸，自汗厥逆。<br>
弦脈主飲，病屬膽肝，弦數多熱，弦遲多寒，<br>
浮弦支飲，沉弦懸飲，陽弦頭痛，陰弦腹痛。<br>
緊脈主寒，又主諸痛，浮緊表寒，沉緊裏痛。<br>
長脈氣平，短脈氣病，細則氣少，大則病進，<br>
浮長風癇，沉短宿食，血虛脈虛，氣實脈實。<br>
洪脈為熱，其陰則虛，細脈為濕，其血則虛。<br>
緩大者風，緩細者濕，緩澀血少，緩滑內熱。<br>
濡小陰虛，弱小陽竭，陽竭惡寒，陰虛發熱。<br>
陽微惡寒，陰微發熱，男微虛損，女微瀉血。<br>
陽動汗出，陰動發熱，為痛為驚，崩中失血。<br>
虛寒相搏，其名曰革，男子失精，女子失血。<br>
陽盛則促，肺癰陽毒，陰盛則結，癥瘕積鬱。<br>
代則氣衰，或泄膿血，傷寒心悸，女胎三月。<br></p>
<p>雜病脈象<br>
脈之主病，有宜不宜，陰陽順逆，凶吉可推。<br>
中風浮緩，急實則忌，浮滑中痰，沉遲中氣。<br>
屍厥沉滑，卒不知人，入臟身冷，入腑身溫。<br>
風傷於衛，浮緩有汗，寒傷於營，浮緊無汗，<br>
暑傷於氣，脈虛身熱，濕傷於血，脈緩細澀。<br>
傷寒熱病，脈喜浮洪，沉微澀小，證反必凶。<br>
汗後脈靜，身涼則安，汗後脈躁，熱甚必難。<br>
陽病見陰，病必危殆，陰病見陽，雖困無害。<br>
上不至關，陰氣已絕，下不至關，陽氣已竭。<br>
代脈止歇，臟絕傾危，散脈無根，形損難醫。<br>
飲食內傷，氣口急滑，勞倦內傷，脾脈大弱。<br>
欲知是氣，下手脈沉，沉極則伏，澀弱久深。<br>
火鬱多沉，滑痰緊食，氣澀血芤，數火細濕。<br>
滑主多痰，弦主留飲，熱則滑數，寒則弦緊。<br>
浮滑兼風，沉滑兼氣，食傷短疾，濕留濡細。<br>
瘧脈自弦，弦數者熱，弦遲者寒，代散者折。<br>
泄瀉下痢，沉小滑弱，實大浮洪，發熱則惡。<br>
嘔吐反胃，浮滑者昌，弦數緊澀，結腸者亡。<br>
霍亂之候，脈代勿訝，厥逆遲微，是則可怕。<br>
咳嗽多浮，聚肺關胃，沉緊小危，浮濡易治。<br>
喘急息肩，浮滑者順，沉澀肢寒，散脈逆證。<br>
病熱有火，洪數可醫，沉微無火，無根者危。<br>
骨蒸發熱，脈數而虛，熱而澀小，必殞其軀。<br>
勞極諸虛，浮軟微弱，土敗雙弦，火炎急數。<br>
諸病失血，脈必見芤，緩小可喜，數大可憂。<br>
瘀血內蓄，卻宜牢大，沉小澀微，反成其害。<br>
遺精白濁，微澀而弱，火盛陰虛，芤濡洪數。<br>
三消之脈，浮大者生，細小微澀，形脫可驚。<br>
小便淋閉，鼻頭色黃，澀小無血，數大何妨。<br>
大便燥結，須分氣血，陽數而實，陰遲而澀。<br>
癲乃重陰，狂乃重陽，浮洪吉兆，沉急凶殃。<br>
癇脈宜虛，實急者惡，浮陽沉陰，滑痰數熱。<br>
喉痹之脈，數熱遲寒，纏喉走馬，微伏則難。<br>
諸風眩運，有火有痰，左澀死血，右大虛看。<br>
頭痛多弦，浮風緊寒，熱洪濕細，緩滑厥痰。<br>
氣虛弦軟，血虛微澀，腎厥弦堅，真痛短澀。<br>
心腹之痛，其類有九，細遲從吉，浮大延久。<br>
疝氣弦急，積聚在裏，牢急者生，弱急者死。<br>
腰痛之脈，多沉而弦，兼浮者風，兼緊者寒。<br>
弦滑痰飲，濡細腎著，大乃腎虛，沉實閃肭。<br>
腳氣有四，遲寒數熱，浮滑者風，濡細者濕。<br>
痿病肺虛，脈多微緩，或澀或緊，或細或濡。<br>
風寒濕氣，合而為痹，浮澀而緊，三脈乃備。<br>
五疸實熱，脈必洪數，澀微屬虛，切忌發渴。<br>
脈得諸沉，責其有水，浮氣與風，沉石或裏，<br>
沉數為陽，沉遲為陰，浮大出厄，虛小可驚。<br>
脹滿脈弦，土制於木，濕熱數洪，陰寒遲弱，<br>
浮為虛滿，緊則中實，浮大可治，虛小危極。<br>
五臟為積，六腑為聚，實強者生，沉細者死。<br>
中惡腹脹，緊細者生，脈若浮大，邪氣已深。<br>
癰疽浮散，惡寒發熱，若有痛處，癰疽所發。<br>
脈數發熱，而痛者陽，不數不熱，不疼陰瘡。<br>
未潰癰疽，不怕洪大，已潰癰疽，洪大可怕。<br>
肺癰已成，寸數而實，肺痿之形，數而無力。<br>
肺癰色白，脈宜短澀，不宜浮大，唾糊嘔血。<br>
腸癰實熱，滑數可知，數而不熱，關脈芤虛，<br>
微澀而緊，未膿當下，緊數膿成，切不可下。<br></p>
<p>婦兒脈法<br>
婦人之脈，以血為本，血旺易胎，氣旺難孕。<br>
少陰動甚，謂之有子，尺脈滑利，妊娠可喜。<br>
滑疾不散，胎必三月，但疾不散，五月可別。<br>
左疾為男，右疾為女，女腹如箕，男腹如斧。<br>
欲產之脈，其主離經，水下乃產，未下勿驚。<br>
新產之脈，緩滑為吉，實大弦牢，有證則逆。<br>
小兒之脈，七至為平，更察色證，與虎口文。<br></p>
<p>奇經八脈診法<br>
奇經八脈，其診又別。直上直下，浮則為督，<br>
牢則為衝，緊則任脈。寸左右彈，陽蹺可決，<br>
尺左右彈，陰蹺可別。關左右彈，帶脈當訣。<br>
尺外斜上，至寸陰維，尺內斜上，至寸陽維。<br>
督脈為病，脊強癲癇，任脈為病，七疝瘕堅，<br>
衝脈為病，逆氣裏急，帶主帶下，臍痛精失，<br>
陽維寒熱，目弦僵仆，陰維心痛，胸脇刺築，<br>
陽蹺為病，陽緩陰急，陰蹺為病，陰緩陽急。<br>
癲癇契瘲，寒熱恍惚，八脈脈證，各有所屬。<br>
平人無脈，移於外絡，兄位弟乘，陽谿列缺。<br></p>
<p>真臟絕脈<br>
病脈既明，吉凶當別，經脈之外，又有真脈。<br>
肝絕之脈，循刃責責，心絕之脈，轉豆躁疾，<br>
脾則雀啄，如屋之漏，如水之流，如杯之覆，<br>
肺絕如毛，無根蕭索，麻子動搖，浮波之合，<br>
腎脈將絕，至如省客，來如彈石，去如解索，<br>
命脈將絕，蝦游魚翔，至如湧泉，絕在膀胱。<br>
真脈既形，胃已無氣，參察色證，斷之以臆。</p>
