<header data-type="book">
<h1>新刊明目良方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>佚名</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1600">公元1600年</data></dd></div>
<div><dt>底本</dt><dd>明萬曆間刻本（<a href="https://lccn.loc.gov/2012402209">美國國會圖書館藏本</a>）</dd></div>
</dl>
</header>
