<header data-type="book">
<h1>難經經釋</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>徐大椿</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1727">公元1727年</data></dd></div>
<div><dt>品質</dt><dd>80%</dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=82061">浙江大學圖書館掃描本</a>；《徐氏醫書八種》，清光緖十八年重刊本（<a href="https://lccn.loc.gov/2012402487">美國國會圖書館藏本</a>）</dd></div>
<div><dt>附註</dt><dd>証、于、后等暫用文本原字。</dd></div>
</dl>
</header>

<h1>敘</h1>
<p>《難經》，非經也。以《靈》、《素》之微言奧旨引端未發者，設為問答之語，俾暢厥義也。古人書篇名義，非可苟稱，難者辯論之謂，天下豈有以難名為經者，故知《難經》非經也。自古言醫者，皆祖《內經》，而《內經》之學，至漢而分：倉公氏以診勝，仲景以方勝，華佗氏以針灸雜法勝；雖皆不離乎《內經》，而師承各別。逮晉、唐以後，則支流愈分，徒講乎醫之術，而不講乎醫之道，則去聖遠矣。惟《難經》則悉本《內經》之語，而敷暢其義，聖學之傳，惟此為得其宗。然竊有疑焉，其說有即以經文為釋者，有悖經文而為釋者，有顛倒經文以為釋者。夫苟如他書之別有師承，則人自立說，源流莫考，即使與古聖之說大悖，亦無從而證其是非，若即本《內經》之文以釋《內經》，則《內經》具在也，以經證經而是非顯然矣。然此書之垂已二千餘年，注者不下數十家，皆不敢有異議，其間有大可疑者，且多曲為解釋，並他書之是者反疑之，則豈前人皆無識乎？殆非也。蓋經學之不講久矣！惟知溯流以尋源，源不得，則中道而止，未嘗從源以及流也。故以《難經》視《難經》，則《難經》自無可議；以《內經》之義疏視《難經》，則《難經》正多疵也。余始也，蓋嘗崇信而佩習之，習之久而漸疑其或非，更習之久而信己之必是，非信己也，信夫《難經》之必不可違乎《內經》也。於是本其發難之情，先為申述《內經》本意，索其條理，隨文詮釋；既乃別其異同，辨其是否，其間有殊法異義，其說不本於《內經》，而與《內經》相發明者，此則別有師承，又不得執《內經》而議其可否。惟夫遵《內經》之訓而詮解未洽者，則摘而證之於《經》，非以《難經》為可訾也，正所以彰《難經》於天下後世，使知《難經》之為《內經》羽翼，其淵源如是也，因名之為《經釋》。《難經》所以釋《經》，今復以《經》釋《難》，以《難》釋《經》而《經》明，以《經》釋《難》而《難》明，此則所謂醫之道也，而非術也。其曰秦越人著者，始見於《新唐書·藝文志》，蓋不可定，然實兩漢以前書云！</p>
<p><u>雍正五年三月既望松陵徐大椿敘</u></p>

<h1>卷上</h1>
<p>一難曰：十二經中皆有動脈，（十二經，手足三陰三陽也。動脈，脈之動現於外，如手太陰天府、雲門之類，按之其動亦應手是也。）獨取寸口，以決五臟六腑死生吉凶之法，何謂也？（寸口，即太淵、經渠穴之分，兼兩手上中下三部脈也。）</p>
<p>然：寸口者，脈之大會，手太陰之脈動也，（會，聚也。手太陰，肺之經也。大會，《靈·動輸篇》云：「胃為五臟六腑之海，其氣清上注於肺，肺氣從太陰而行之，其行也，以息往來」是也。又《靈·經脈篇》云，手太陰之脈，「循魚際，出大指之端。」）人一呼脈行三寸，一吸脈行三寸，呼吸定息，脈行六寸。人一日一夜凡一萬三千五百息，脈行五十度周於身。（呼，出氣也。吸，內氣也。《靈·五十營篇》：「人經脈上下、左右、前後二十八脈，周身十六丈二尺，……呼吸定息，氣行六寸。……二百七十息，氣行十六丈二尺，……一周於身，……一萬三千五百息，氣行五十營於身」。度，過也，猶言過一次也。二十八脈實數，詳《靈·脈度篇》。）</p>
<p>漏水下百刻，（按《隋志》刻漏始於黃帝。一晝一夜定為百刻，浮箭於壺內，以水減刻出，分晝夜之長短。）營衛行陽二十五度，行陰亦二十五度，為一周也，（營衛，《靈·營衛生會篇》云：「人受氣於谷，谷入於胃，以傳於肺，五臟六腑，皆以受氣，其清者為營，濁者為衛，營在脈中，衛在脈外」是也。合言脈，則營衛在其中矣。日行陽而夜行陰，晝夜各二十五度，則五十度為一周也。蓋晝夜有長短，此舉其中而言。其行陽行陰、起止出入之法，詳《靈·衛氣行篇》。）故五十度復會於手太陰。寸口者，五臟六腑之所終始，故法取於寸口也。（起於手太陰，止於手太陰，故曰終始。五臟六腑之氣皆現於此，故取寸口可以決生死吉凶也。《靈·營衛生會篇》云：「營出於中焦，衛出於下焦。帝曰：願聞三焦之所出。岐伯曰：上焦出胃上口，並咽貫膈，……循太陰之分而行，還至陽明，上至舌，下足陽明，常與營俱行於陽二十五度，行於陰亦二十五度，一周也，故五十度而復大會於手太陰矣。」此營衛之常度也。）</p>
<p>二難曰：脈有尺寸，何謂也？</p>
<p>然：尺寸者，脈之大要會也。（尺寸詳下文。要會，言要切之地、會聚之處也。）從關至尺是尺內，陰之所治也；從關至魚際是寸口內，陽之所治也。（關者，尺寸分界之地，《脈訣》所謂高骨為關是也。關下為尺，主腎肝而沉，故屬陰。魚際，大指本節後內廉大白肉名曰魚，其赤白肉分界即魚際也。關上為寸口，主心肺而浮，故屬陽治理也。）</p>
<p>故分寸為尺，分尺為寸。（此二句釋尺寸二字極明曉。言關上分去一寸，則余者為尺；關下分去一尺，則余者為寸，此言尺寸之所以得名也。）故陰得尺中一寸，陽得寸內九分。（此二句又於尺寸之中分其長短之位，以合陰陽之數。一寸為偶數，九分為奇數也。蓋關以下至尺澤。皆謂之尺，而診脈則止候關下一寸；關以上至魚際皆謂之寸，而診脈止候關上九分，故曰尺中一寸，寸內九分也。）尺寸終始，一寸九分，故曰尺寸也。（此又合尺寸之數而言。然得一寸不名曰寸，得九分不名曰分者，以其在尺之中、在寸之中也。）</p>
<p>三難曰：脈有太過，有不及，有陰陽相乘，有覆有溢，有關有格，何謂也？（太過、不及，病脈也。陰乘陽，則陰過而犯陽；陽乘陰，則陽過而犯陰，此太過不及之甚。覆、溢、關、格，又相乘之甚者也。）</p>
<p>然：關之前者，陽之動也，脈當見九分而浮。（關前為陽，見上文。浮。陽之象也。）過者，法曰太過：減者，法曰不及。遂上魚為溢，（過，謂浮出九分也。減，謂浮不至九分也。魚，即魚際。上魚，浮至魚際，太過之甚也。溢，滿而出於外也。）為外關內格，此陰乘之脈也。（關格，據三十七難言陽氣太甚，則陰氣不得相營，故曰關；陰氣太盛，則陽氣不得相營，故曰格。則此云外關者，外而陽盛越於外；內格者，內而陰盛距於內也。陰乘，陰氣上乘陽位也。）關以後者，陰之動也，脈當見一寸而沉。（關後為陰。沉，陰之象也。）過者，法曰太過；減者，法曰不及。遂入尺為覆，（過，謂沉過一寸也。減，謂沉不及一寸也。尺，一寸後尺中也。覆，反而傾也。）為內關外格，此陽乘之脈也。（內關，謂陽反在下，居陰之位，外格，謂陰反上越，居陽之位也，陽乘，陽氣下入陰中也。）故曰覆溢。是其真臟之脈，人不病而死也。（真臟之脈，謂臟氣已絕。其真形獨現於外，不必有疾病而可決其必死也。按此當與三十七難合觀之。）</p>
<p>四難曰：脈有陰陽之法，何謂也？（陰陽，謂脈之屬於陰、屬於陽也。）</p>
<p>然：呼出心與肺，吸入腎與肝，呼吸之間，脾受穀味也，（心肺在上部，故出氣由之，屬陽。腎肝在下部，故入氣歸之，屬陰。脾主中宮，故司出入之間也。受穀味，即因胃氣以至手太陰之義。）</p>
<p>其脈在中。（在中，介乎陰陽之間也。）浮者陽也，沉者陰也，故曰陰陽也。（浮為表，故屬陽。沉為里，故屬陰。）心肺俱浮，何以別之？（呼出心與肺，故俱浮。別，分別也。）</p>
<p>然：浮而大散者心也，浮而短澀者肺也。（心屬火，故其象大散；肺屬金，故其象短澀，此心肺之本脈，而浮則其所同者也。）腎肝俱沉，何以別之？（吸入腎與肝，故俱沉。）</p>
<p>然：牢而長者肝也，按之濡，舉指來實者腎也。（肝屬木，故其象牢而長。腎屬水，故其象濡而實。水體外柔而內剛也。）脾者中州，故其脈在中。是陰陽之法也。（在中，不沉不浮之間也。此以上釋陰陽之義已明，下文又於陰陽之中交互言之也。）脈有一陰一陽，一陰二陽，一陰三陽；有一陽一陰，一陽二陰，一陽三陰。如此之言，寸口有六脈俱動耶？（俱動，言三陰三陽盡見也，六脈見下文。）</p>
<p>然：此言者，非有六脈俱動也，謂浮、沉、長、短、滑、澀也。（此即所謂六脈也。浮者在上，沉者在下，長者過本位，短者不及本位，滑者流利，澀者凝滯。浮、沉、長、短以形言，滑、澀以質言也。）浮者陽也，滑者陽也，長者陽也；沉者陰也，短者陰也，澀者陰也。（此所謂三陰三陽也。）所謂一陰一陽者，謂脈來沉而滑也，一陰二陽者，謂脈來沉滑而長也，一陰三陽者，謂脈來浮滑而長，時一沉也；所謂一陽一陰者，謂脈來浮而澀也，一陽二陰者，謂脈來長而沉澀也，一陽三陰者，謂脈來沉澀而短，時一浮也。（此六脈互見之象也。然此舉其例而言，亦互相錯綜，非一定如此也，但浮沉可以相兼，而滑澀短長不得並見，亦所當曉也。）各以其經所在，名病逆順也。（上文言脈之形體，而未嘗斷吉凶，此乃言其斷法也。其經，手足三陰三陽也。逆順，如心脈宜浮，腎脈宜沉則為順，若心脈反沉，腎脈反浮則為逆，此又見脈無定體，因經而定順逆。其法則兩經備言之。）</p>
<p>五難曰：脈有輕重，何謂也？（浮而無力為輕，沉而有力為重。）</p>
<p>然：初持脈，如三菽之重，與皮毛相得者，肺部也。（持脈，即按脈也。菽，豆之總名。三菽之重，言其力與三菽等也。皮毛相得，言其浮至皮毛之分也。肺脈最輕，故其象如此。）如六菽之重，與血脈相得者，心部也。如九菽之重，與肌肉相得者，脾部也。如十二菽之重，與筋平者，肝部也。按之至骨，舉指來疾者，腎部也，（血脈、肌肉、筋、骨，遞沉而下，故脈之輕重，以此為準。蓋肺居最上，心次之，脾次之，肝又次之，腎居最下。至骨，沉之至也。舉指來疾，言其有力而急迫，即四難「舉指來實」之義也。）</p>
<p>六難曰：脈有陰盛陽虛，陽盛陰虛，何謂也？（此與上文脈有陰陽之法不同。上文言脈之屬於陰、屬於陽，平脈也；此則言陰分之脈與陽分之脈，有太過、不及，病脈也。）</p>
<p>然：浮之損小，沉之實大，故曰陰盛陽虛。沉之損小，浮之實大，故曰陽盛陰虛。（浮脈主陽，沉脈主陰，損小則氣血衰，實大則氣血盛。）是陰陽虛實之意也。</p>
<p>七難曰：經言少陽之至，乍大乍小，乍短乍長；陽明之至，浮大而短；太陽之至，洪大而長；（少陽陽氣尚微，離陰未遠，故其脈無定。陽明之陽已盛，然尚未極，故浮大而短。太陽之陽極盛，故洪大而長。至，言其氣至而脈應也。）太陰之至，緊大而長；少陰之至，緊細而微；厥陰之至，沉短而敦。（太陰為陰之始，故有緊象，而尚有長大之陽脈也。少陰之陰漸盛，故緊細而微。厥陰陰之至，故沉短而敦，陰脈之極也。）此六者，是平脈邪？將病脈邪？（平脈，本然之脈也。病脈，有過之脈也。）</p>
<p>然：皆王脈也。（王脈，得其時而氣應生王也。）其氣以何月，各王幾日？</p>
<p>然：冬至之後得甲子少陽王，（自古曆元皆起於冬至，其日必以甲子，然歲周三百六十五日四分日之一，則日有零餘，每歲遞差，至日不必皆當甲子，此云冬至後得甲子者，乃指至日之當甲子者言也。至日當甲子，至立春後十五日曆一甲，木氣始盛，故曰少陽王也。若至日不當甲子，少陽之王大概以六十日，不復以甲子為限。）復得甲子陽明王，復得甲子太陽王，復得甲子太陰王，復得甲子少陰王，復得甲子厥陰王。（少陽之陽尚微。陽明則陽已盛。太陽則陽極盛，極則陰生而太陰用事；太陰之陰尚微，少陰則陰已盛，厥陰則陰極盛，極則陽生，如是無已。）王各六十日，（甲子至甲子，則六十日一周也。）六六三百六十日，以成一歲。此三陽三陰之王時日大要也。（時指月言，日指日數言，以終上文何月幾日之問。）</p>
<p>八難曰：寸口脈平而死者，何謂也？（平，謂脈不病也。）</p>
<p>然：諸十二經脈者，皆繫於生氣之原。所謂生氣之原者，謂十二經之根本也，謂腎間動氣也。（十二經見上。系，連屬也。十二經之氣皆從此出，故謂之根本。腎間，兩腎之中間也。動氣，氣所開合出入之處，即所謂命門也。其說詳三十六難中。）此五臟六腑之本，十二經脈之根，呼吸之門，三焦之原。一名守邪之神。（吸入腎與肝，故為呼吸之門，即所謂動氣是也。三焦與腎同候，而腎屬下焦，故曰三焦之原，謂三焦所從出也。守邪未詳。或謂元氣既足，則邪不能傷，故曰守邪，未知是否。）故氣者，人之根本也，根絕則莖葉枯矣。（氣，即原氣也。原氣在人，猶草木之有根本，若草木根絕，則莖葉枯落，人之原氣，亦猶是也。）寸口脈平而死者，生氣獨絕於內也。（言內之生氣已絕，則雖其外之脈甚平，而終不免於死也。）</p>
<p>九難曰：何以別知臟腑之病耶？</p>
<p>然：數者腑也，遲者臟也。（腑屬陽、臟屬陰故也。）數則為熱，遲則為寒。（此二句釋所以遲數之義。）諸陽為熱，諸陰為寒。（此二句又釋所以數屬腑、遲屬臟之義。諸陰諸陽，又推言之也。故以別知臟腑之病也。）</p>
<p>十難曰：一脈為十變者，何謂也？（一脈十變，謂一臟之脈其變有十，如下文所云也。）</p>
<p>然：（五邪剛柔相逢之意也。五邪，五臟五腑之邪也。剛柔，五臟為柔，五腑為剛。相逢，為臟邪干臟，腑邪干腑也。下文詳之。）假令心脈急甚者，肝邪干心也；心脈微急者，膽邪干小腸也；心脈大甚者，，心邪自干心也；心脈微大者，小腸邪自干小腸也；心脈緩甚者，脾邪干心也；心脈微緩者，胃邪干小腸也，心脈澀甚者，肺邪干心也；心脈微澀者，大腸邪干小腸也，心脈沉甚者，腎邪干心也；心脈微沉者，膀胱邪干小腸也。（此所謂十變也。蓋臟干臟則脈甚，腑干腑則脈微。急、大、緩、澀、沉，乃五臟之本脈，見何臟之脈，則知何臟之干也。候小腸於心脈者，《素·血氣形志篇》云：「手太陽與少陰為表裡」故也。餘臟配合亦准此。）五臟各有剛柔邪，故令一脈輒變為十也。（此二句乃推言之，舉心以為例，則五臟皆然，故曰各有、曰輒變也。）</p>
<p>十一難曰：經言脈不滿五十動而一止，一臟無氣者，何謂（一作臟）也？（《靈·根結篇》云：「五十動而不一代者，五臟皆受氣。四十動一代者，一臟無氣，三十動一代者，二臟無氣。二十動一代者，三臟無氣。十動一代者，四臟無氣。不滿十動一代者，五臟無氣」。此引經文而約言之也。無氣，謂其氣已絕，故脈行至此，則斷而不續也）。</p>
<p>然：人吸者隨陰入，呼者因陽出。（吸入腎與肝，故吸隨陰入。呼出心與肺，故呼因陽出。）今吸不能至腎，至肝而還，（人一呼脈再動，一吸脈再動，言呼吸者，以脈由呼吸以行也。脈動未終而止，因以知吸不能至腎也。）故知一臟無氣者，腎氣先盡也。（不能至腎，故為腎氣盡。）</p>
<p>十二難曰：經言五臟脈已絕於內，用針者反實其外；五臟脈已絕於外，用針者反實其內。內外之絕，何以別之？（經文見《靈·九針十二原篇》。）</p>
<p>然：五臟脈已絕於內者，腎肝脈絕於內也，而醫反補其心肺；五臟脈已絕於外者，心肺脈絕於外也，而醫反補其腎肝。（腎肝主內，心肺主外。補，謂以針補之也。）陽絕補陰，陰絕補陽，（心肺為陽，腎肝為陰。）是謂實實虛虛，損不足而益有餘。（絕者，虛也，不足也。不絕者，實也，有餘也。補其所不當補，則絕者益殆矣。）如此死者，醫殺之耳。（言病不必死，而醫者誤治以致其死也。）</p>
<p>十三難曰：經言見其色而不得其脈，反得相勝之脈者，即死，得相生之脈者，病即自已。色之與脈，當參相應，為之奈何？（經文見《靈·邪氣臟腑病形論》。相勝、相生，義見下文。）</p>
<p>然：五臟有五色，皆見於面，亦當與寸口尺內相應。（五色見下，言何臟病則現何色也。寸口指脈言，尺內指尺之皮膚言，下文自明。）</p>
<p>假令色青，其脈當弦而急；色赤，其脈浮大而散；色黃，其脈中緩而大；色白，其脈浮澀而短；色黑，其脈沉濡而滑。此所謂五色之與脈，當參相應也。（《靈·五色篇》云：「青為肝，赤為心，白為肺，黃為脾，黑為腎。」弦急浮大五者，皆五臟之本脈也。《靈·邪氣臟腑病形篇》云：「色青者，其脈弦也；赤者，其脈鉤也；黃者，其脈代也；白者，其脈毛；黑者，其脈石。」與此可以參觀。）脈數，尺之皮膚亦數；脈急，尺之皮膚亦急；脈緩，尺之皮膚亦緩；脈澀，尺之皮膚亦澀；脈滑，尺之皮膚亦滑。（此所謂與尺內相應者也。）</p>
<p>五臟各有聲、色、臭、味，當與寸口尺內相應，其不（一本有相字）應者，病也。</p>
<p>假令色青，其脈浮澀而短，若大而緩，為相勝；浮大而散，若小而滑，為相生也。（色青屬肝，浮澀而短是肺脈，脈勝色也；大而緩為脾脈，色勝脈也，故曰相勝。浮大而散是心脈，色生脈也；小而滑為腎脈，脈生色也，故曰相生。）</p>
<p>經言知一為下工，知二為中工，知三為上工。上工十全九，中工十全八，下工十全六，此之謂也。（知一，謂色、脈、尺三者之中能明其一也。全，謂不誤治，能愈其病也。）</p>
<p>十四難曰：脈有損至，何謂也？（少曰損，多曰至。）</p>
<p>然：至之脈，一呼再至曰平，三至曰離經，四至曰奪精，五至曰死，六至曰命絕，此至之脈也。何謂損？一呼一至曰離經，再（一作二）呼一至曰奪精，三呼一至曰死，四呼一至曰命絕，此損之脈也。（平者，適得其常之謂。離經，離其常經也。奪精，精氣已奪也。死者，言其必至於死。命絕，則其生氣已絕，僅存脈之動而已，亦隨息也。）</p>
<p>至脈從下上，損脈從上下也。（心肺為上，腎肝為下。）損脈之為病奈何？</p>
<p>然：一損損於皮毛，皮聚而毛落；二損損於血脈，血脈虛少，不能榮於五臟六腑；三損損於肌肉，肌肉消瘦，飲食不能為肌膚；四損損於筋，筋緩不能自收持；五損損於骨，骨痿不能起於床。反此者，至於收病也。（按於收二字，滑氏云疑作「脈之」是也。《靈·九針篇》肺主皮，心主脈，脾主肌，肝主筋，腎主骨。皮聚者，枯而縮也。五臟肺居最上，腎居最下，由肺以至腎，此所謂從上下也。反此謂至脈之病，則由腎以至肺，所謂從下上也。）從上下者，骨痿不能起於床者死；從下上者，皮聚而毛落者死。（此以斷至損脈之死期也。蓋損即為遲，遲屬寒，故先中於表。至即為數，數為熱，故先中於里。相傳既久，至內外表里俱病，則不復可治矣。）治損之法奈何？</p>
<p>然：損其肺者，益其氣；損其心者，調其營衛；損其脾者。調其飲食，適其寒溫；損其肝者，緩其中；損其腎者，益其精。此治損之法也。（肺主氣，故益其氣。營衛者，血之所充。飲食寒溫，肌肉之所由生。緩中者，即經所謂「肝苦急，急食甘以緩之」之義。精者，腎之所藏。蓋病在何臟，則各隨其所在而治之也。）</p>
<p>然：脈來一呼再至，一吸再至，不大不小曰平。一呼三至，一吸三至，為適得病，（適得病，即上文離經之義，言僅為有病之脈也。）前大後小，即頭痛、目眩，前小後大，即胸滿、短氣。（前指寸，後指尺。前大後小，病氣在陽，故頭痛、目眩。前小後大，病氣在陰，故胸滿、短氣。）一呼四至，一吸四至，病欲甚，（病欲甚，即奪精之義，言其病將深也。）脈洪大者，苦煩滿，沉細者，腹中痛，滑者傷熱，澀者中霧露。（洪大為陽邪外越，故煩滿。沉細為陰邪內陷，故腹痛。滑為血實，故為熱。澀為傷濕，故中霧露，此又於一息四至之病，分別言之，亦舉此為例言，仍當取所現脈象以別其病，欲令讀者推廣其義也。）一呼五至，一吸五至，其人當困，沉細夜加，浮大晝加，不大不小，雖困可治，其有大小者，為難治。（困者，近於死也。沉細屬陰，故加於夜。浮大屬陽，故加於晝。大，即浮大。小，即沉細。若不大不小，則晝夜不至於有加，故可治。有大小，則歷晝夜而病益進，為難治也。不大不小，即《靈·禁服篇》所謂「若引繩大小齊等」之義，若更參差不倫，則難治矣。）一呼六至，一吸六至，為死脈也，沉細夜死，浮大晝死。（死脈，即命絕之謂。）一呼一至，一吸一至，名曰損，人雖能行，猶當著床，所以然者，血氣皆不足故也。（言雖能行步，久當不起於床也。血氣不足，明所以得損脈之故。）再呼一至，再吸一至，名曰無魂，無魂者當死也，人雖能行，名曰行屍。（無魂，言魂氣已離也。行屍，言其人生道已絕，如屍之行也。）上部有脈，下部無脈，其人當吐，不吐者死。（吐則氣逆於上，故脈亦從而上，則下部之無脈，乃因吐而然，非真離其根也。若不吐而無脈，則脈為真無，而非氣逆之故矣，故曰死。）上部無脈，下部有脈，雖困無能為害。所以然者，譬如人之有尺，樹之有根，枝葉雖枯槁，根本將自生。脈有根本，人有元氣，故知不死。</p>
<p>十五難曰：經言春脈弦，夏脈鉤，秋脈毛，冬脈石，是王脈耶？將病脈也？（經文見《素·平人氣象論》及《玉機真臟論》。）</p>
<p>然：弦、鉤、毛、石者，四時之脈也。（四時之脈，謂脈之應乎四時，即王脈也。）春脈弦者，肝東方木也，萬物始生，未有枝葉，故其脈之來，濡弱而長，故曰弦。（濡弱而長，是弦之正象，否則即為太過、不及之脈也。）夏脈鉤者，心南方火也，萬物之所茂，垂枝布葉，皆下曲如鉤，故其脈之來疾去遲，故曰鉤。（來疾者，其來少急而勁；去遲者，其去少緩而弱，此所謂下曲如鉤也。）秋脈毛者，肺西方金也，萬物之所終，草木華葉，皆秋而落，其枝獨在，若毫毛也，故其脈之來，輕虛以浮，故曰毛。（其枝獨在、若毫毛，言其四面無所輔，而體又甚輕也。）冬脈石者，腎北方水也，萬物之所藏也，盛冬之時，水凝如石，故其脈之來，沉濡而滑，故曰石。此四時之脈也。（冬氣斂聚，故沉而濡滑，水之象也。按臟腑之與五行，各有所屬，而春夏秋脈皆以木為喻者，蓋惟木為因時遷變也。）如有變奈何？（變，謂失常也。）</p>
<p>然：春脈弦，反者為病。何謂反？</p>
<p>然：其氣來實強，是謂太過，病在外；氣來虛微，是謂不及，病在內。（太過屬陽，而發於表，故病在外。不及屬陰，而怯於中，故病在內。）氣來厭厭聶聶，如循榆葉曰平；（厭厭，《素問》王冰注以為浮薄而虛也。）</p>
<p>益實而滑，如循長竿曰病；（此皆弦而太過之象。）急而勁益強，如新張弓弦曰死。（此則弦之至，即所謂真臟脈也。）春脈微弦曰平，弦多胃氣少曰病，但弦無胃氣曰死，胃氣，（沖和之氣也。微弦、胃氣少、但弦無胃氣，即上文三者之象也。下文仿此。）春以胃氣為本。夏脈鉤，反者為病。何謂反？</p>
<p>然：其氣來實強，是謂太過，病在外；氣來虛微，是謂不及，病在內。其脈來累累如環，如循琅玕曰平；（如環，《素問》作「如連珠」，言其滿盛也。琅玕，石似珠者。）來而益數，如雞舉足者曰病；（謂實而勁也。）</p>
<p>前曲後居，如操帶鉤曰死。（居，《素問》王冰注曰：「不動也」。帶鉤，曲而堅者也。）夏脈微鉤曰平，鉤多胃氣少曰病，但鉤無胃氣曰死，夏以胃氣為本。秋脈毛，反者為病。何謂反？</p>
<p>然：其氣來實強，是謂太過，病在外；氣來虛微，是謂不及，病在內。其脈來藹藹如車蓋，按之益大曰平；（車蓋，言其浮大而虛也。）</p>
<p>不上不下，如循雞羽曰病；（《素問》王冰注謂「中央堅而兩旁虛」。）按之蕭索，如風吹毛曰死。（《素問》云：如物之浮，如風吹毛，曰肺死。「王冰謂」如物之浮，瞥瞥然；如風吹毛，紛紛然也。「蓋皆輕虛飄亂之義」。）秋脈微毛曰平，毛多胃氣少曰病，但毛無胃氣曰死，秋以胃氣為本。冬脈石，反者為病。何謂反？</p>
<p>然：其氣來實強，是謂太過，病在外；氣來虛微，是謂不及，病在內。脈來上大下兌，濡滑如雀之啄曰平；（雀啄，上大而末銳也。）啄啄連屬，其中微曲曰病，（啄啄連屬，言搏手而數。其中微曲，言其象似鉤也。）</p>
<p>來如解索，去如彈石曰死。（解索，緊而散；彈石，促而堅也。《素問》云：「發如奪索，辟辟如彈石，曰腎死。」）冬脈微石曰平，石多胃氣少曰病，但石無胃氣曰死，冬以胃氣為本。胃者，水穀之海，（水穀皆聚於胃，如海為眾水所聚也。）主稟四時，（胃屬土，土分王四季，故曰主稟四時。）皆以胃氣為本，是謂四時之變病，死生之要會也。脾者，中州也，其平和不可得見，（中州，言在四臟之中，四臟平和，則脾脈在其中，故不可得見。）衰乃見耳。來如雀之啄，如水之下漏，是脾衰之（一本無之字）見也。（雀啄，言其堅銳。水下漏，言其斷續無常。）</p>
<p>十六難曰：脈有三部九候，有陰陽，有輕重，有六十首，一脈變為四時，（三部九候，詳《素·三部九候論》。陰陽，詳第四難。輕重，詳第五難。六十首，見《素·方盛衰論》，王冰注謂其義不存，或謂即各王六十日之義。一脈變為四時，詳十五難。但諸設難下文俱無發明，疑有脫誤。）離聖久遠，各自是其法，何以別之？</p>
<p>然：是其病有內外證。（凡人所受傷為病，所以驗其病者為證，蓋病合而證分也。）其病為之奈何？</p>
<p>然：假令得肝脈，（五臟脈體詳十三難。）其外證：善潔，（肝與膽合，膽為清淨之腑，故善潔。）面青，善怒；（《素·陰陽應象大論》：肝「在色為蒼」，「在志為怒」。）其內證：臍左有動氣，按之牢若痛；（《素·刺禁論》：「肝生於左」，臍左，肝之位也。動氣，真氣不能藏而發現於外也。牢者，氣結而堅。痛者，氣鬱而滯。）其病：四肢滿，（滿，閉塞也。蓋肢節皆屬於肝，左氏傳云：「風淫末疾」。）閉淋，溲便難，（《靈·經脈篇》云，足厥陰循陰股，結於陰器，故病見於溲便也。）轉筋。（《靈·九針篇》云：「肝主筋」，故病筋也。）有是者肝也，無是者非也。（是，指上文病證而言。如無此病證，則雖見肝脈，而受病實不在肝也。）假令得心脈，其外證：面赤，（《素》心「在色為赤」。）口乾，（心氣通於舌，火上炎則干也。）喜笑；（《素》心「在聲為笑」。）其內證：臍上有動氣，（臍上，心之位也。）按之牢若痛；其病：煩心，心痛，（病在本臟也。）掌中熱而啘。（《靈·經脈篇》手少陰之脈「入掌內」，故掌中熱。啘，乾嘔也。《素·至真要大論》：「諸逆衝上，皆屬於火。」）有是者心也，無是者非也。假令得脾脈，其外證：面黃，（《素》脾「在色為黃」。）善噫，（噫，即噯氣。《靈·口問篇》云：「寒氣客於胃，厥逆從下上散，復出於胃，故為噫。」脾與胃合，故病同也。）善思，（《素》脾「在志為思。」）善味；（《素》脾「在竅為口」，故主味。）其內證：當臍有動氣，按之牢若痛；（當臍，脾位乎中也。）其病：腹脹滿，（《素·金匱真言論》：「腹為陰，陰中之至陰脾也。」故病在腹。）食不消，（脾主磨食。）體重，（脾主肌肉。）節痛，（《素·痿論》）：陽明「主束骨而利機關，」脾與胃合，故亦主節。）怠惰嗜臥，（勞倦亦屬脾也。）四肢不收。（脾主四肢。）有是者脾也，無是者非也。假令得肺脈，其外證：面白，（《素》肺「在色為白」。）善嚏，（《靈·口問篇》：「陽氣和利，滿於心，出於鼻。故嚏。肺氣通於鼻，故善嚏也。」）悲愁不樂，欲哭；（《素》肺「在志為憂」，「在聲為哭。」）其內證：臍右有動氣，按之牢若痛；（《素，刺禁論》：「肺藏於右」，臍右，肺之位也。）其病：喘咳，（肺主氣，氣逆則喘咳。）灑淅寒熱。（肺主皮毛。）有是者肺也，無是者非也。假令得腎脈，其外證：面黑，（《素》腎「在色為黑。」）（善恐《素》「在志為恐」。）欠；（《靈·口問篇》：「陰氣積於下，陽氣未盡，陽引而上，陰引而下，陰陽相引，故數欠。」又云：「腎主為欠。」）其內證：臍下有動氣，按之牢若痛；（腎居最下，臍下，腎之位也。）其病：逆氣，（下氣不藏則逆上。）小腹急痛，（腎治於下，故病在小腹。）泄如下重，（滑氏云：「如讀為而」。腎主二陰，下重，氣下墜不收也。）足脛寒而逆。（《靈·經脈篇》足少陰腎之脈「循內踝之後，別入跟中，以上踹內」，故病如此。有是者腎也，無是者非也。）</p>
<p>十七難曰：經言病或有死，或有不治自愈，或連年月不已。（此亦錯引經語，非經之全文也。）其死生（一作生死）存亡，可切脈而知之耶？</p>
<p>然：可盡知也，診病若閉目不欲見人者，（此肝病現證，肝與膽合，肝病則膽虛，故閉目不欲見人。）脈當得肝脈強急而長，（此肝之本脈。）而反得肺脈浮短而澀者，死也。（證屬木，脈屬金，為克賊也。）病若開目而渴，心下牢者，（此心病現證。心主熱，熱甚則開目而渴也。）脈當得緊實而數，（此心之本脈。）而反得沉澀（一作濡）而微者，死也。（此腎之本脈。證屬火，脈屬水，為克賊也。）病若吐血，復鼽衄血者，脈當沉細，而反浮大而牢者，死也。（此又一義，不以生克言，所謂病虛脈實，故死也。《靈·玉版篇》云：「衄而不止，脈大，是三逆」，即此義也。）病若譫言妄語，身當有熱，脈當洪大，而反手足厥冷，脈沉細而微者，死也。（此則病實脈虛也。手足厥冷，兼證言之也。）病若大腹而泄者，脈當微細而澀，反緊大而滑者，死也。（此亦病虛脈實也。《靈·玉版篇》云：「腹鳴而滿，四肢清，泄，其脈大，是二逆也。」）</p>
<p>十八難曰：脈有三部，部有四經，（三部，寸、關、尺也。四經，兩手寸、關、尺各候一臟一腑也。）手有太陰、陽明，（手太陰屬肺，手陽明屬大腸，皆診於右寸。）足有太陽、少陰，（足太陽屬膀胱，足少陰屬腎，皆診於左尺。）為上下部，（右寸為上，左尺為下。）何謂也？</p>
<p>然：手太陰、陽明金也，足少陰、太陽水也，金生水，水流下行而不能上，故在下部也。（此言左右手循環相生者也。）足厥陰、少陽（足厥陰屬肝，少陽屬膽，皆診於左關。）木也，生手太陽、少陰火，（手太陽屬小腸，手少陰屬心，皆診於左寸。火炎上行而不能下，故為上部。手心主、少陽火，（手心主，即手厥陰心包絡也。手少陽屬三焦。推本文之義，則宜診於右尺。）生足太陰、陽明土，（足太陰屬脾，足陽明屬胃，皆診於右關。）土主中宮，故在中部也。此皆五行子母更相生養者也。（以上釋三部、四經上下之義，下文又論所主之病也。）脈有三部九候，各何所主之？</p>
<p>然：三部者，寸、關、尺也。九候者，浮、中、沉也。（三部各有浮、中、沉，故為九也。）上部法天，主胸以上至頭之有疾也；（此又不以經絡，以部位言。）中部法人，主膈以下至臍之有疾也；下部法地，（此四字一作尺為下部，法而應乎地。）主臍以下至足之有疾也。（即《素·脈要精微論》所云：上竟上者，胸、喉中事也。下竟下者，少腹、腰、股、膝、脛、足中事也。「但其候脈法，與此微別。」）審而刺之者也。（謂審其病之上下而刺其所在，則針不誤施也。《本義》謝氏謂「此一節，當是十六難中答辭」，與下文又不相屬，其說近是。）</p>
<p>人病有沉滯久積聚，可切脈而知之耶？</p>
<p>然：診病（一本無病字）在右脅有積氣，（積氣，積聚之氣也。）得肺脈結，（右脅，肺之部也。結，為積聚之脈。《素·平人氣象論》云：「結而橫，有積矣。」）脈結甚則積甚，結微則積微。診不得肺脈，而右脅有積氣者，何也？</p>
<p>然：肺脈雖不見，右手當（一作脈）沉伏。（沉伏，亦積氣之脈。右手統指三部言，則肺脈亦在其中。又右手氣口脈所以候里也。）其外痼疾同法耶？將異也？（痼疾，凡肌肉筋骨間久留不去之病皆是，以其不在臟腑故曰外。）</p>
<p>然：結者，脈來去時一止，無常數，（無常數，乃為結脈之象。若有常數者，或四十動一止，或三十動一止，乃代脈，主死，不但有積矣。蓋結脈之所由生，以積聚在內，脈道不通，故其現脈如此。）名曰結也。伏者，脈行筋下也。浮者，脈在肉上行也。左右表裡，法皆如此。（言結伏則病在裡，結浮則病在表，結在右病亦在右，結在左病亦在左，以此推之，則內外左右積氣痼疾，其結脈同而浮伏異也，故曰法皆如此。）假令脈結伏者，內無積聚，脈浮結者，外無痼疾；有積聚脈不結伏，有痼疾脈不浮結，為脈不應病，病不應脈，是為死病也。（病脈不相應，乃真氣已漓，血脈不相聯屬，故云死也。）</p>
<p>十九難曰：經言脈有逆順，男女有恆，而反者，何謂也？（得其脈為順，不得其脈為逆。恆，常也，謂各有一定之法也。反，謂上下之強弱相反，如下文所云也。經文無考。）</p>
<p>然：男子生於寅，寅為木。陽也。女子生於申，申為金，陰也。（此推本天地初生男女之理而言，以明脈之所以異也。）</p>
<p>然：男得女脈為不足，病在內，（男得陰脈，則陽陷於陰，故為不足。內，謂心腹之內。陽氣入陰，則病見於陰位也。）左得之，病在左，右得之，病在右，隨脈言之也。（此又以脈之左右，驗病之左右也。）女得男脈為太過，病在四肢，（女得陽脈，則陰越於陽，故為有餘。四肢屬乎陽，陰氣從陽，則病見於陽位也。）左得之，病在左，右得之，病在右，隨脈言之。此之謂也，（陽道全而陰道半，故陽得陰脈為不足，陰得陽脈為有餘也。）</p>
<p>二十難曰：經言脈有伏匿，伏匿於何臟而言伏匿耶？（引經言無考。伏匿，謂不見於本位，反藏匿於他部而見其脈也。</p>
<p>然：謂陰陽更相乘、更相伏也。（言不拘於一臟也。）脈居陰部，而反陽脈見者，為陽乘陰也；（陽脈，即下文浮滑而長是也。）脈雖時沉澀而短，此謂陽中伏陰也。（言陽雖乘陰，而陰猶伏於陽內也。）脈居陽部，而反陰脈見者，為陰乘陽也；（陰脈，即上文沉澀而短是也。）脈雖時浮滑而長，此謂陰中伏陽也。重陽者狂，重陰者癲。（此又因陰陽之伏匿而極言之。重陽、重陰，言不止伏匿，陰皆變為陽，陽皆變為陰也。狂者陽疾，癲者陰疾，邪氣既盛，至傷其神，故其病如此。《素·病能論》云：「有病怒狂者，……生於陽也。）」脫陽者見鬼，脫陰者目盲。（此又因重陰、重陽而及之。鬼屬陰，陽既脫，則純乎陰，故見鬼。目得血而能視，陰既脫，則血不營於目，故目盲。此則重陰、重陽之反也。）</p>
<p>二十一難曰：經言人形病，脈不病，曰生；脈病。形不病，曰死。何謂也？</p>
<p>然：人形病，脈不病，非有不病者也，謂息數不應脈數也。（言非脈之真不病也。蓋診病以不病調病人，一呼二至，一吸二至，脈數之常。若其人既病，則呼吸不齊，不能與脈數相應，或脈遲而其人之息適緩，或脈數而其人之息適促，醫者不能審之，遂以為無病，而實不然也。又或醫者之息不能自調，與病者相應，則遲數不辨，故誤以為不病，亦通，經文無考。）此大法。</p>
<p>二十二難曰：經言脈有是動，有所生病，一脈輒（一本無輒字）變為二病者，何也？（此亦非經之全文，乃約經語以成文者也。此脈字，指經脈言。是動、所生病，見《靈·經脈篇》。二病，指經文「是動」以下所舉之病，及「所生病」以下所舉之病，有此二者之殊也。）</p>
<p>然：經言是動者，氣也；所生病者，血也。（言脈之動者，氣為之，而所生病者，則血為之也。）邪在氣，氣為是動；邪在血，血為所生病。（此又言氣血之所以病，則皆因乎邪也。）氣主呴之，血主濡之。（呴，煦也，熏蒸之義。濡，滋潤之義。）氣留而不行者，（不能呴也。）為氣先病也；血壅（一作滯）而不濡者，（壅，凝滯也。）為血後病也。故先為是動，後所生也。（言邪之中人，必先傷乎氣而氣病，然後及乎血而血病，故云一脈變二病也。）</p>
<p>二十三難曰：手足三陰三陽，脈之度數，可曉以不？</p>
<p>然：手三陽之脈，（三陽，《靈·脈度篇》作「六陽」。）從手至頭，（手三陽之脈皆從指末起而終於頭。）長五尺，五六合三丈。（五六，合兩手言之也。）手三陰之脈，從手至胸中，（手三陰之脈亦從指末起而至胸中。）長三尺五寸，三六一丈八尺，五六三尺，合二丈一尺。足三陽之脈，從足至頭，（足三陽從足趾起至頭。）長八尺，六八四丈八尺。足三陰之脈，從足至胸，（足三陰從足趾、足心起至胸。）長六尺五寸，六六三丈六尺，五六三尺，合三丈九尺。人兩足蹺脈，從足至目，長七尺五寸，二七一丈四尺，二五一尺，合一丈五尺。（蹺脈屬奇經。）</p>
<p>然：經脈者，行血氣，通陰陽，以營於身者也。其始從中焦，注手太陰、陽明；（營出於中焦，故脈從中焦始。）陽明注足陽明、太陰；太陰注手少陰、太陽；太陽注足太陽、少陰；少陰注手心主、少陽；少陽注足少陽、厥陰；厥陰復還注手太陰。</p>
<p>別絡十五，皆因其原，（脈所注為原。《靈·九針十二原篇》云：「……原者，五臟之所以稟三百六十五節氣味也。」蓋謂五臟之氣，皆會於此，而別絡之氣，亦因乎此也。）如環無端，轉相灌溉，朝於寸口、人迎，（寸口，見第一難。人迎，即左手之寸口脈也。朝，如朝覲之朝，謂會聚於此，復稟氣以出也。）以處百病，而決死生也。（處，揆度也，即第一難獨取寸口以決死生之義。）經云：明知終始，陰陽定矣。何謂也？（見《靈·終始篇》。）</p>
<p>然：終始者，脈之紀也。（《終始篇》云：「終始者，經脈為紀。」）寸口、人迎，陰陽之氣，通於朝使，（朝，見上。使，言相為用也。寸口為陰，人迎為陽。）如環無端，故曰始也。終者，三陰三陽之脈絕，絕則死。死各有形，（死形，見下二十四難。）故曰終也。</p>
<p>二十四難曰：手足三陰三陽氣已絕，何以為候？（候，以證驗之也。）可知其吉凶不？</p>
<p>然：足少陰氣絕，則骨枯。（以下皆言其候也。《素·六節臟象論》云：腎「其充在骨」，）少陰者，冬脈也，伏行而溫於骨髓。（腎脈應冬，其氣斂藏於內。）故骨髓不溫，即肉不著骨；骨肉不相親，即肉濡而卻；（濡，滯也。經作「軟而卻。」卻，退縮也。）肉濡而卻，故齒長而枯，（枯，經作「垢」。齒肉卻則齦上宣，故齒長。枯，不澤也。齒者，骨之餘，故以此驗之。）發無潤澤；（《六節臟象論》云：腎「其華在發。」）無潤澤者，骨先死。戊日篤，己日死。口唇者，肌肉之本也。（《六節臟象論》云：脾「其華在唇四白，其充在肌」。）脈不營，則肌肉不滑澤；肌肉不滑澤，則肉滿；肉滿，則唇反；（滿，浮腫也。肉腫，則唇亦腫而反出於外也。）</p>
<p>唇反，則肉先死。甲日篤，乙日死。（經文有「木勝土也」四字）足厥陰氣絕，即（一作則）筋縮引卵與舌卷。（引，牽引也。《經脈篇》云，厥陰之脈「循陰器」，又云，「循喉嚨之後」，又云，「環唇內」。《六節臟象論》云：肝「其華在爪，其充在筋」。）厥陰者，肝脈也。肝者，筋之合也。筋者，聚於陰器而絡於舌本。（《素問·厥論》：「前陰者，宗筋之所聚」。）故脈不營，則筋縮急；筋縮急，即引卵與舌，故舌卷卵縮，此筋先死。庚日篤，辛日死。（經文有「金勝木也」四字）手太陰氣絕，即（一作則）皮毛焦。（《六節臟象論》云：肺「其華在毛，其充在皮」。）太陰者，肺也，行氣溫於皮毛者也。氣弗營，則皮毛焦；皮毛焦，則津液去；津液去，則皮節傷；皮節傷，則皮枯毛折；（皮枯之皮，經文作「爪」。折，萎也。）毛折者，則毛先死。丙日篤，丁日死。（經文有「火勝金也」四字）手少陰氣絕，則脈不通；脈不通，則血不流；（《六節臟象論》：心「其華在面，其充在血脈。」）血不流，則色（一本無色字）澤去，故面色黑如黧，（黧，黑黃色也。）此血先死。壬日篤，癸日死。（經文有「水勝火也」四字）三陰氣俱絕，則目眩轉，目瞑，（《靈·大惑論》云：「五臟六腑之精，皆上注於目而為之精」，前二十難云：「脫陰者目盲」，亦此義也。眩，經作「系」。）</p>
<p>二十五難曰：有十二經，五臟六腑十一耳，其一經者，何等經也？（《靈·九針論》：「五藏：心藏神，肺藏魄，肝藏魂，脾藏意，腎藏精與志也。」六腑，小腸、大腸、胃、膽、膀胱、三焦，主出納水穀，如府庫之司出入，故曰府也。）</p>
<p>然：一經者，手少陰與心主別脈也。心主與三焦為表裡，（《靈·九針論》：「足陽明、太陰為表裡，少陽、厥陰為表裡，太陽、少陰為表裡，……手陽明、太陰為表裡，少陽、心主為表裡，太陽、少陰為表裡」。別脈，謂心主本心之宮城，宜與心為表裡，乃反別與三焦為表裡，別為一經，故成十二經也。三焦，上焦、中焦、下焦也。）俱有名而無形，故言經有十二也。</p>
<p>《難經》言手心主與三焦凡八，見第八、三十一、三十六、三十八，三十九、六十二、六十六及此篇，俱當參觀。</p>
<p>二十六難曰：經有十二，絡有十五，餘三絡者，是何等絡也？（《靈·九針十二原篇》云：「經脈十二，絡脈十五，凡二十七氣，以上下」。）</p>
<p>然：有陽絡，有陰絡，有脾之大絡。《靈·經脈篇》：「脾之大絡，名曰大包，出淵液下三寸，布胸中。」）陽絡者，陽蹺之絡也。陰絡者，陰蹺之絡也。（一蹺脈詳二十三難。）故絡有十五焉。</p>
<p>二十七難曰：脈有奇經八脈，不拘於十二經，何謂也？（奇，讀如奇偶之奇，謂無手足配偶如十二經也。詳下篇。）</p>
<p>然：有陽維，有陰維，有陽蹺，有陰蹺，有沖，有督，有任，有帶之脈。凡此八脈者，皆不拘於經，故曰奇經八脈也。（詳見下篇。）經有十二，絡有十五，凡二十七氣，相隨上下，（出見前篇。）何獨不拘於經也？</p>
<p>然：聖人圖設溝渠，通利水道，以備不然。（不然，猶言不虞也。）天雨降下，溝渠溢滿，當此之時，霶霈妄作，（一作行）聖人不能復圖也。（此以水道喻人身血脈之道。）此絡脈滿溢，諸經不能復拘也。（言血脈充盛，十二經不足以容之，則溢出而為奇經，故奇經為十二經之別脈也。）</p>
<p>二十八難曰：其奇經八脈者，既不拘於十二經，皆何起何繼也？（繼，續也。《脈經》作「系」。）</p>
<p>然：督脈者，起於下極之俞，（俞，即穴也。下極，即長強穴，屬督脈，在脊骶骨端。）並於脊裡，（脊裡，背脊中也。）上至風府，（風府，屬督脈，在項上入髮際一寸大筋內宛宛中。）入屬於腦。（《靈·經脈篇》：「督脈之別，名曰長強，挾膂上項，散頭上，下當肩胛左右，別走太陽，入貫膂。實則脊強，虛則頭重。」《素問·骨空論》：「督脈者，起於少腹，以下骨中央，女子入系廷孔，其孔，溺孔之端也。其絡循陰器，合篡間，繞篡後，別繞臀，至少陰，與巨陽中絡者合少陰上股內後廉，貫脊屬腎，與太陽起於目內眥，上額交巔上，入絡腦，還出別下項。循肩膊內，俠脊，抵腰中，入循膂絡腎；其男子循莖下至篡，與女子等。其少腹直上者，貫臍中央，上貫心，入喉，上頤環唇，上系兩目之下中央。此生病，從少腹上衝心而痛，不得前後，為沖疝。其女子：不孕，癃、痔、遺溺、嗌乾。」）任脈者，起於中極之下，（中極穴，屬任脈，在臍下四寸。中極之下，蓋指會陰穴也。）以上至毛際，（前陰之上。）循腹裡，（即中極穴。）上關元，（關元穴在臍下三寸。）至咽喉。（《素·骨空論》至咽喉之下，有「上頤、循面、入目」六字。《靈·經脈篇》「任脈之別，名曰尾翳，下鳩尾，散於腹。實則腹皮痛，虛則癢搔。」）衝脈者，起於氣衝，（足陽明經穴，在毛際兩旁。）並足陽明之經，（《素·痿論》云：「衝脈者，經脈之海，主滲灌溪谷，與陽明合於宗筋，陰陽總宗筋之會，會於氣衝，而陽明為長，皆屬於帶脈，而絡於督脈。」）俠（一作夾）臍上行，至胸中而散。（一本有也字。）</p>
<p>帶脈者，起於季脅，（季脅，屬足厥陰章門穴之分。）回身一周。（謂周身圍轉，如人束帶之狀，以束諸脈也。）《靈·經別篇》：「足少陰之正，至膕中，別走太陽而合，上至腎，當十四椎，出屬帶脈。」</p>
<p>二十九難曰：奇經之為病何如？</p>
<p>然：陽維維於陽，（陽，陽經，身之表也。）陰維維於陰，（陰，陰經，身之裡也。）陰陽不能自相維，則悵然失志，溶溶不能自收持。（溶溶，浮蕩之貌。）陽維為病苦寒熱，（陽主外，陽氣不和，故生寒熱也。）陰維為病苦心痛。（陰主內，心為少陰，陰氣不和，故心痛也。）</p>

<h1>卷下</h1>
<p>三十難曰：營氣之行，常與衛氣相隨不？（相隨，言相合而並行也。）</p>
<p>然：經言人受氣於谷。谷入於胃，乃傳於（一作與）五臟六腑，五臟六腑皆受於氣。（言受穀氣。）其清者為營，濁者為衛，營行脈中，衛行脈外，（營主血，故在脈之中。衛主氣，故在脈之外。《素問·痹論》云：「營者，水穀之精氣也，和調於五臟，灑陳於六腑，乃能入於脈也。……衛者，水穀之悍氣也，其氣慓疾滑利，不能入於脈也。」）營周不息，五十而復大會。（五十，謂五十營也。詳見第一難中。）陰陽相貫，如環之無端，故知營衛相隨也。）</p>
<p>三十一難曰：三焦者，何稟何生？（稟，受也。）何始何終？（言其經之起止也。）其治常在何許？可曉以不？（治，猶縣治之治，其所居之地也。）</p>
<p>然：三焦者，水穀之道路，氣之所終始也。（此總釋三焦之義，言其所稟所生在水穀，而其所始所終在氣也。）上焦者，在心下，下膈，（膈，隔也。心下有膜，遮隔濁氣，謂之膈。）在胃上口，主內而不出。（內，謂納水穀也。）其治在膻中，玉堂下一寸六分，直兩乳間陷者是。（膻中穴，屬任脈。下句是指膻中之所在，言在玉堂穴下一寸六分。直，當也。）中焦者，在胃中脘，（中院穴，亦屬任脈。）不上不下，主腐熟水穀。其治在臍旁。（臍旁，天樞穴也，屬胃脈。）下焦者，（一本有「在臍下」三字）當膀胱上口，（膀胱上口，闌門也。）主分別清濁，（清者入於膀胱而為溺，濁者入於大腸而為滓穢。）主出而不內，以傳道也。其治在臍下一寸。（臍下一寸，名陰交穴，屬任脈。）故名曰三焦，其府在氣街。（府猶舍也，藏聚之義，言其氣藏聚於此也。滑氏《本義》以此句為錯簡，非。）</p>
<p>三十二難曰：五臟俱等，而心肺獨在鬲（一作膈，下同。）上者，何也？（在膈上，言其位獨高處於胸膈之上也。）</p>
<p>然：心者血，肺者氣。血為營，氣為衛，（《素·五臟生成論》云：「諸血者皆屬於心，諸氣者皆屬於肺」。蓋營行脈中，故血為營；衛行脈外，故氣為衛。）相隨上下，謂之營衛。（上下，謂五十度周於身也。說見第一難中。）通行經絡，營周於外，（通行經絡，言十二經無所不通，而周行於臟腑之外也。）故令心肺獨在膈上也。（營衛為一身之統攝，而心肺主之，故獨居膈上以宰之也。）</p>
<p>三十三難曰：肝青象木，肺白象金。肝得水而沉，木得水而浮；肺得水而浮，金得水而沉。其意何也？（肝居肺下。故曰得水而沉；肺居肝上，故曰得水而浮。言肝既屬木，則當浮而反沉；肺既屬金，則當沉而反浮，與金木之本體不類，故設問也。）</p>
<p>然：肝者，非為純木也，乙角也，（木屬陽，乙為陰木，志在從金，故曰非純。角於五音亦屬木。）庚之柔。（庚為陽金，乙與庚合，剛柔相配，則乙之剛為庚，庚之柔為乙也。）大言陰與陽，小言夫與婦。（大而言之，即天地之陰陽，小而言之，，即人倫之夫婦，其理一也。）釋其微陽，而吸其微陰之氣，其意樂金，（婦有從夫之義，乙為陰木，故曰微陽，樂金，謂樂從乎金也。）又行陰道多，（肝屬足厥陰經，位乎膈下，故曰行陰道多。）故令肝得水而沉也。（得水而沉，言得其滋養，與下文得熱正相反。又，金性本沉，亦有從夫之義。）肺者，非為純金也，辛商也，（金屬陰，辛為陰金，志在從火，故曰非純。商於五音亦屬金。）丙之柔。（丙與辛合。大言陰與陽，小言夫與婦。釋其微陰，（辛為陰金，故曰微陰。婚而就火，（婚，猶婚嫁之婚，言嫁於火也。）其意樂火，又行陽道多，（肺屬手太陰經，位乎膈上，故曰行陽道多。）故令（一本無令字）肺得水而浮也。（火性本浮，亦從乎夫也。）肺熱而復沉。肝熱而復浮者，何也？（肺氣熱，則清氣下墜。肝氣熱，則相火上升。）故知辛當歸庚，乙當歸甲也。（肝得熱，則微陰不足以相吸，肺得熱，則亢陽適見其可畏，則陰木與陽木，陰金與陽金，自為配偶，而復其本體浮沉之性也。）</p>
<p>三十四難曰：五臟各有聲、色、臭，味，皆可曉知以不？</p>
<p>然：《十變》言：肝色青，（此亦本五行而言也。青者，木之色也。《十變》未詳。）其臭臊，（木之氣也。）其味酸（木之味也。）其聲呼，（呼，引而長，亦木之象也。）其液泣；（肝竅於目，故為泣。）心色赤，（火之色也。）其臭焦，（火之氣也。）其味苦，（火之味也。）其聲言，（言，散而揚，為火之象。）</p>
<p>五臟有七神，各何所藏耶？</p>
<p>然：（五臟藏七神者，脾與腎兼兩神也。見下文。）臟者，人之神氣所舍藏也。故肝藏魂，（肝屬陽，魂亦屬陽。《靈·本神篇》云：「隨神往來者謂之魂」，謂知覺之靈處也。）肺藏魄，（肺屬陰，魄亦屬陰。《本神篇》云：並精而出入者謂之魄」，謂運動之能處也。）心藏神，（《本神篇》云：「兩精相搏謂之神」，謂陰陽合體之妙機也。《素·靈蘭秘典論》云：心者，君主之官，神明出焉。」）脾藏意與智，（《本神篇》云：「心有所憶謂之意，……因慮而處物謂之智」，蓋脾主思故也。《素·刺法篇》云：「脾為諫議之官，智周出焉。」）腎藏精與志也。（《本神篇》云：「初生之來謂之精，……意之所存謂之志」。《素·靈蘭秘典論》云：「腎者，作強之官，伎巧出焉。」）</p>
<p>三十五難曰：五臟各有所，腑皆相近，而心、肺獨去大腸、小腸遠者，何謂也？（肝之腑膽，脾之腑胃，腎之腑膀胱，其位皆相近，心之腑小腸，肺之腑大腸，皆相遠也。）</p>
<p>然：經言心營，肺衛，（血為營，心主血，故營屬心。氣為衛，肺主氣，故衛屬肺。）通行陽氣，（陽氣，即營衛之氣。《靈·營衛生會篇》云：「行陰二十五度，行陽二十五度」是也。）故居在上；（謂其位最高。）大腸、小腸，傳陰氣而下，（陰氣，濁氣也，謂穢滓所歸也。）故居在下。（謂其位至下。）所以相去而遠也。（所司不同，所以經雖相合，而位則相遠也。）又諸腑皆陽也，清淨之處。今大腸、小腸、胃與膀胱，皆受不淨，其意何也？（謂陽宜清淨，而反受穢濁，獨不及膽者，膽無施受故也。）</p>
<p>然：諸腑者，謂是非也。（言諸腑雖屬陽，而非皆清淨之處也。）經言小腸者，受盛之腑也；（《素·靈蘭秘典》：「小腸者，受盛之官，化物出焉。」言受胃之物，化其渣滓也。）大腸者，傳瀉行道之腑也；（《素》：「大腸者，傳道之官，變化出焉。」）膽者，清淨之腑也；（《素》：「膽者，中正之官，決斷出焉。」蓋膽無受無瀉，助肝以決謀慮而已，所以謂之清淨之腑也。）胃者，水穀之腑也；（《素》：「脾胃者，倉廩之官，五味出焉。」）膀胱者，津液之腑也。（《素》：「膀胱者，州都之官，津液藏焉。」此五臟之腑也。）一腑猶無兩名，故知非也。（言諸腑各有名，如上文所云，皆實指其受穢濁者也。惟膽名為清淨，故不受穢濁，若余腑亦名清淨，則有兩名矣。）</p>
<p>小腸者，心之腑；大腸者，肺之腑；膽者，肝之腑，胃者，脾之腑；膀胱者，腎之腑。（《靈·本輸篇》云：「肺合大腸，……心合小腸，……肝合膽，……脾合胃，……腎合膀胱」，此之謂也。）小腸謂赤腸，大腸謂白腸，膽者謂青腸，胃者謂黃腸，膀胱者謂黑腸。（此以五行之色名其腸，以為配五臟之徵也。蓋皆名為腸，則俱受穢濁，所以明不淨之故也。）下焦之（一本無之字）所治也。（《靈·營衛生會篇》云：「水穀者，嘗並居於胃中，成糟粕而俱下於大腸，而成下焦，滲而俱下，濟泌別汁，循下焦而滲入膀胱焉。」故五腑皆下焦之氣所治也。）</p>
<p>三十六難曰：臟各有一耳，腎獨有兩者，何也？（兩，謂左右各一也。）</p>
<p>然：腎兩者，非皆腎也。（謂一為腎，一則非腎也。）其左者為腎，右者為命門。命門者，諸神精之所舍，（舍，藏也。言一身之精神，皆藏於此也。）原氣之所繫也；（原氣，即元氣，言根柢乎此也。）男子以藏精，女子以系胞。（精，施化之具，胞，受孕之處，此乃性命之原，先天之所由主，故曰命門也。）故知腎有一也。（其一為命門而非腎，則腎止有一耳。）</p>
<p>三十七難曰：五臟之氣，於何發起，通於何許，（發起，言其本之所出。通，言其氣之所注也。）可曉以不？</p>
<p>然：五臟者，當上關於九竅也。（竅皆在上，故曰上關，謂其氣與九竅通也。）故肺氣通於鼻，鼻和則知香臭矣；肝氣通於目，目和則知黑白矣；脾氣通於口，口和則知穀味矣；心氣通於舌，舌和則知五味矣；（舌主辨味，故和則能知五味。口主納穀，故和則能辨五穀。）腎氣通於耳，耳和則知五音矣。</p>
<p>五臟不和，則九竅不通，（不通，謂氣不得上達而失其官也。）六腑不和，則留結為癰。（五臟神氣之所舍，故不和則止九竅不通而已，六腑則血氣滓穢之所出入，故不和則有形之物積聚而為癰也。）邪在六腑，則陽脈不和，（陽脈，手足三陽之脈也。）陽脈不和，則氣留之，氣留之，則陽脈盛矣。（氣屬陽故也。）邪在五臟，則陰脈不和，陰脈不和，則血留之，血留之，則陰脈盛矣。（血屬陰故也。不和者，其邪在內，盛則脈之見乎外者也。）</p>
<p>陰氣太盛，則陽氣不得相營也，故曰格。陽氣太盛，則陰氣不得相營也，故曰關，陰陽俱盛，不得相營也，故曰關格。（營，和澤也。關者，閉絕之義。格者，捍拒之義。）關格者，不得盡其命而死矣。（言陰陽之氣相睽，雖元氣未盡，亦必至死，不能盡其天年也。）</p>
<p>經言氣獨行於五臟，不營於六腑者，何也？</p>
<p>然：夫氣之所行也，如水之流，不得息也。故陰脈營於五臟，陽脈營於六腑，如環無端，莫知其紀，終而復始，而不覆溢，（言不至過盛而溢於經脈之外也。）人氣內溫於臟腑，外濡於腠理。（濡，潤也。腠理，肌膚毛孔分理湊合處也。）</p>
<p>三十八難曰：臟惟有五，腑獨有六者，何也？</p>
<p>然：所謂腑有六者，謂三焦也。有原氣之別焉，（即六十六難所謂「原氣之別使也。」）主持諸氣，有名而無形，其經屬手少陽。此外腑也，（言在諸腑之外，故曰外腑。）</p>
<p>三十九難曰：經言腑有五，臟有六者，何也？（經文無考）</p>
<p>然：六腑者，止有五腑也。（謂三焦不附於臟，故不名為腑，如上條所云也。）五臟亦有六臟者，謂腎有兩臟也。其左為腎，右為命門。命門者，謂（一本無謂字）精神之所舍也；男子以藏精，女子以系胞，其氣與腎通，故言臟有六也。（言命門氣雖通於腎，而實則非腎，故不得與腎同為一臟也。）腑有五者，何也？</p>
<p>然：五臟各一腑，三焦亦是一腑，然不屬於五臟，故言腑有五焉。（腑者對臟而言，既不附於臟，則亦不名為腑也。命門辨說詳見三十六難條下。）</p>
<p>四十難曰：經言肝主色，心主臭，脾主味，肺主聲，腎主液。</p>
<p>然：肺者，西方金也，金生於巳，巳者南方火，火者心，心主臭，故令鼻知香臭；腎者，北方水也，水生於申，申者西方金，金者肺，肺主聲，故令耳聞聲。（此以五行長生之法推之也。木長生於亥，火長生於寅，金長生於巳，水土長生於申，以其相生，故互相為用也。）</p>
<p>四十一難曰：肝獨有兩葉，以何應也？（何應，謂其義何所應也。）</p>
<p>四十二難曰：人腸胃長短，受水穀多少，各幾何？</p>
<p>然：胃大一尺五寸，徑五寸，（大，言其四圍，徑，言其口之廣。凡圓形者，徑一則圍三，故圍大一尺五寸，則徑五寸也。下文仿此。）長二尺六寸，橫屈受水穀三斗五升，（胃在腹中，其形盤曲而生，故曰橫屈。）其中常留谷二斗，水一斗五升。（留者，存於中不使出也。出即胃虛，飢而思食，故一日必再食也。）小腸大二寸半，徑八分、分之少半，（三八得二寸四分，餘一分，亦三分之，故云少半，言不及半分也。）長三丈二尺，受谷二斗四升，水六升三合、合之大半。（大半，半合有餘也。）廻（一作回）腸大四寸，（迴腸，即大腸，以其回曲，故曰迴腸。）徑一寸半，</p>
<p>長二丈一尺，受谷一斗，水七升半。廣腸大八寸，（廣腸，大腸以下至肛門受穢滓之處，俗名直腸，以其最廣，故曰廣腸。）徑二寸半。</p>
<p>長二尺八寸，受谷九升三合、八分合之一。故腸胃凡長五丈八尺四寸。</p>
<p>此腸胃長短，受水穀之數也。肝重二斤四兩，左三葉，右四葉，凡七葉，主藏魂。（魂義見三十四難。下同。）心重十二兩，中有七孔三毛，（孔，竅也。）盛精汁三合，（謂孔中所藏之精血也。）主藏神。脾重二斤三兩，扁廣三寸，（扁廣，謂形不正圓，其闊三寸也。）長五寸，有散膏半斤，（散膏，津液之不凝者。）主裹血，溫五臟，主藏意。（裹血，謂統之使不散也。五臟皆稟氣於脾胃，故受其氣以溫暖也。）肺重三斤三兩，六葉兩耳，凡八葉，（垂下為葉，旁出為耳，共成八葉也。）主藏魄。腎有兩枚，重一斤二兩，主藏志。（兩枚，即上文所謂左為腎、右為命門者也。）</p>
<p>膽在肝之短葉間，重三兩三銖，盛精汁三合。（上言五臟，以下言六腑。）胃重二斤十四兩，（一作一兩）紓曲屈伸（謂統計其屈曲處也。）長二尺六寸，大一尺五寸，徑五寸。盛（一作容）谷二斗，水一斗五升。小腸重二斤十四兩，長三丈二尺，廣二寸半，徑八分、分之少半，左廻（一作回，下同。）疊積十六曲，盛（一作容）谷二斗四升，水六升三合、合之大半。大腸重三（一作二）斤十二兩，長二丈一尺，廣四寸，徑一寸，當臍右回疊積十六曲，盛谷一斗，水七升半。《靈·腸胃篇》云：「迴腸當臍左環回周葉積而下，回運環返十六曲，大四寸，徑一寸、寸之少半」。上三條長短受盛，與經文俱同。膀胱重九兩二銖，縱廣九寸，（膀胱亦不正圓，故曰縱廣。）盛溺九升九合。（水從大腸滲入膀胱則為溺，不與谷同居，故不曰水而曰溺，此越人精微處也。）口廣二寸半，唇至齒長九分，齒已後至會厭（已後，即以下也，會厭，吸門也。）深三寸半，大容五合。（謂口內可受五合也。）舌重十兩，長七寸，廣二寸半。咽門重十二兩，（一作十兩。《靈·腸胃篇》：咽門重十兩」。）廣二寸半，至胃長一尺六寸。（咽門，謂咽物之處，即俗名食脘者也，下通於胃。）喉嚨重十二兩，廣二寸，長一尺二寸，九節。（喉嚨，即出聲之處，即俗名喉脘者也，下通於肺。九節，有薄骨相連絡，其節有九也。）肛門重十二兩，大八寸，徑二寸大半，長二尺八寸，受谷九升三合、八分合之一。」（肛門，即廣腸。此條長短受盛，亦與上同。）</p>
<p>四十三難曰：人不食飲，七日而死者，何也？</p>
<p>然：人胃中當有留谷二斗，水一斗五升。（即上條所謂橫屈受水穀三斗五升也。）故平人日再至圊，（圊，廁也。）一行二升半，（行水穀，化糟粕。行，去也。日中五升，日中五升，《靈》作「一日中五升」，言一日之中共去五升也。）七日五七三斗五升，而水穀盡矣。故平人不食飲七日而死者，水穀津液俱盡，即死矣。（津液由水穀而生，水穀盡則津液亦亡矣。）</p>
<p>四十四難曰：七衝門何在？（沖者，衝要之地也。）</p>
<p>然：唇為飛門，（飛，飛動之。）齒為戶門，（齒有關鍵之象，如家之有戶，物不得徑出入也。）會厭為吸門，（會厭，謂物之所會聚，又能掩閉勿使物誤入。吸，吸納處也。）胃為賁門，（賁，猶奔也。物入於胃，疾奔而下太倉也。）太倉下口為幽門，（《靈·脹論》：「胃者，太倉也。」以其聚物如倉廩，故曰太倉。下口，接小腸處也。幽，深晦之地，與上下出入處至遠也。）大腸小腸會為闌門，（會者，小腸之下，大腸之上。小腸為受盛之官，化物出焉，納滓穢於大腸，泌津液於膀胱，水穀於此而分別焉，故曰闌門，謂闌截分別、不得並出入也。）下極為魄門，（極，底也。魄門，即肛門也。飲食至此，精華已去，止存形質，故曰魄門，即所謂鬼門也。又肺藏魄，肛門連大腸，與肺為表裡，故曰魄門。《素·五臟別論》云：「魄門亦為五臟使，水穀不得久藏。」）故曰七衝門也。</p>
<p>四十五難曰：經言八會者，何也？（會，聚也。氣之所聚，共八穴也。）</p>
<p>然：腑會太倉，（太倉，屬任脈，即中脘穴，在臍上四寸。六腑取稟於胃，故曰腑會。）臟會季脅，（季脅，屬足厥陰，即章門穴，在大橫外直臍季肋端，脾募也。五臟皆稟於脾，故為臟會。）筋會陽陵泉，（陽陵泉，屬足少陽，足少陽之筋結膝外廉，即此穴。肝主筋而膽其合也，故為筋會。）髓會絕骨，（絕骨，屬足少陽，即懸鐘穴，在外踝上四寸。《靈·經脈篇》論足少陽之脈云：「是主骨」，蓋諸髓皆屬於骨，故為髓會。）血會膈俞，（膈俞，屬足太陽，在項後第七椎下，去脊旁一寸半，在中焦之分，化精微而為血之地也，故為血會。）骨會大杼，（大杼，屬足太陽，在項後第一椎下，去脊旁一寸半。《靈·海論》云：「衝脈為十二經之海，其輸在於大杼」；《動輸篇》云，衝脈與腎之大絡起於腎下，蓋腎主骨，膀胱與腎合，故為骨會。）脈會太淵，（太淵，屬手太陰，在掌後陷中，即寸口也。肺朝百脈，故為脈會。義詳第一難中。）氣會三焦外，一筋直兩乳內也。（三焦外，謂在焦膜之外。兩乳內，謂兩乳之中，任脈之所過，即膻中穴也。《靈·經脈篇》手少陽之脈「是主氣」；又《海論篇》云：「膻中者，為氣之海」，故為氣會。）熱病在內者，取其會之氣穴也。（熱病在內，則邪氣已深，不可淺治，故必從其氣所會聚之處攻取其邪，乃能已疾也。其會，謂各視其病之所在，審取其所當治之會也。）</p>
<p>四十六難曰：老人臥而不寐；少壯寐而不寤者，何也？（寐，目瞑而神藏也。寤，《說文》云：「覺而有信」也，蓋寢而心有所憶，不能成寐也。）</p>
<p>然：經言少壯者，血氣盛，肌肉滑，滑，澤也。）氣道通，營衛之行不失於常，（《靈·營衛生會篇》：營衛行陽二十五度，行陰亦二十五度，平旦而陽受氣，日入而陰受氣，如是無已。此之謂也。）故晝日精，（精，精敏不倦也。）夜不寤也。老人血氣衰，肌肉不滑，營衛之道澀，（澀，謂不利順也。）故晝不能精，夜不寐也。故知老人不得寐也。</p>
<p>四十七難曰：人面獨能耐寒者，何也？</p>
<p>然：人頭者，諸陽之會也。（諸陽，謂六陽經之脈也。）諸陰脈皆至頸、胸中而還，獨諸陽脈皆上至頭耳，（《靈·逆順肥瘦論》云：「手之三陰，從臟走手；手之三陽，從手走頭；足之三陽：從頭走足；足之三陰，從足走腹。」此之謂也。）故令面耐寒也。</p>
<p>四十八難曰：人有三虛三實，何謂也？</p>
<p>然：有脈之虛實，有病之虛實，有診之虛實也。（診，候也，證也。）脈之虛實者，濡者為虛，（濡，柔弱軟滯也。《傷塞論》云：諸濡亡血；又云：「濡則衛氣微」，可見濡為氣血兩虛之候。）緊牢者為實。（弦勁曰緊，堅實曰牢。《素·平人氣象論》：脈「盛而緊曰脹」；《傷寒論》云：「趺陽脈……緊者，脾氣強」；又云：「寒則堅牢」，可見緊牢為邪氣實之候。脈不止此二種，舉此以類推也。）病之虛實者，出者為虛，（出，謂精氣外耗，如汗、吐、瀉之類，凡從內出者皆是。）入者為實；（入，謂邪氣內結，如能食便閉、感受風寒之類，凡從外入者皆是。）言者為虛，不言者為實；（言，多言也。病氣內乏，神氣自清，故惺惺能言也。不言，不能言也，邪氣外攻，昏亂神智也。言、不言，亦即上出入之義。）緩者為虛，急者為實。（緩，病來遲也，正氣奪而邪氣微，則病漸深，急，病來驟也。正氣未漓而邪氣盛，則病疾速也。）診之虛實者，濡者為虛，牢者為實；癢者為虛，痛者為實；（血氣少而肌肉不能充，則癢。邪氣聚而營衛不得和，則痛。）外痛內快，為外實內虛，內痛外快，為內實外虛。（此則須按而候之也。凡虛者喜按，實者不可著手，故按之而痛處為實，快處為虛也。）故曰虛實也。</p>
<p>四十九難曰：有正經自病，有五邪所傷，何以別之？（正經，本經也。五邪，謂五臟之邪互相賊也。詳下文。）</p>
<p>然：憂愁思慮則傷心；（思慮出於心，故過用則受傷。）形寒飲冷則傷肺；（肺臟本寒，故外受風寒，內飲冷水，則受傷也。）恚怒氣逆，上而不下則傷肝；（肝在志為怒，恚怒則木氣鬱而上衝，故受傷也。）飲食勞倦則傷脾；（脾為倉廩之官，主納飲食，四肢皆屬於脾，勞倦必由四肢，故過用則脾受傷也。）久坐濕地，強力入水則傷腎。（濕傷於下，故濕先歸腎。又腎為作強之官，水又腎之類，故強力入水則腎受傷。）是正經（一本有之字）自病也。何謂五邪？</p>
<p>然：有中風，（肝為風木，故風先入肝。）有傷暑（心為君火，暑，火之氣也，故心受之。）有飲食勞倦，（此言脾之受邪也。義見上。）有傷寒，（此言肺之受邪也。義見上。）有中濕。（此言腎之受邪也。義見上。）此之謂五邪。</p>
<p>假令心病，何以知中風得之？（言心得中風之病也。下仿此。）</p>
<p>然：其色當赤。何以言之？肝主色，（見四十難。下同。）自入為青，（自入，肝中風也。《素·陰陽應象大論》：肝「在色為蒼」。）入心為赤，（心中風也。《素》：心「在色為赤」。）入脾為黃，（脾中風也。《素》：脾「在色為黃。」）入肺為白，（肺中風也。《素》：肺「在色為白。」）入腎為黑。（腎中風也。《素》腎「在色為黑」。）肝為心邪，（風入於心而為邪也。）故知當赤色也。（一本無也字）其病身熱，（凡外感之邪，先傷營衛，故身皆熱。又心屬火，熱為火邪之象也。下同。）脅下滿痛，（脅下，肝所居之位。）其脈浮大而弦。（浮大，心脈本象。弦則肝脈之象也。）</p>
<p>何以知傷暑得之？</p>
<p>然：當惡臭。何以言之？心主臭，自入為焦臭，（自入，心傷暑也。焦，火之氣，心屬火也。）《素·金匱真言論》：心「其臭焦」）入脾為香臭，（脾傷暑也。香，土之氣。《素》：脾「其臭香」。）入肝為臊臭，（肝傷暑也。臊，木之氣。《素》：肝「其臭臊」。）入腎為腐臭，（腎傷暑也。腐，水之氣。《素》：腎「其臭腐」。）入肺為腥臭。（肺傷暑也。腥，金之氣。《素》：肺其臭腥。）故知心病傷暑得之，當惡臭。其病身熱而煩，（煩，煩躁也，火鬱而瞀亂也。）心痛，（邪在心則痛。）其脈浮大而散。（浮大，心之本脈。散則浮大而空虛無神，心之病脈也。）何以知飲食勞倦得之？</p>
<p>然：當喜味苦也。虛為不欲食，實為欲食。（虛則脾氣不能化谷，實則尚能化谷，故有能食、不能食之分。蓋風、寒、暑、濕，其氣不殊，故無虛實之辨，若飲食勞倦，病因各殊，故越人著此二語，義最精細。）何以言之？脾主味，入肝為酸，（肝受飲食勞倦之病也。《素·陰陽應象大論》：肝「在味為酸」。）入心為苦，（心受飲食勞倦之病也。《素》：心「在味為苦」。）入肺為辛，（肺受飲食勞倦之病也，《素》：肺「在味為辛」。入腎為咸，（腎受飲食勞倦之病也。《素》：腎「在味為咸」。）自入為甘。（脾受飲食勞倦之病也。《素》：脾「在味為甘。）故知脾邪入心，為喜味苦也。其病身熱而體重，嗜臥，四肢不收」，（嗜臥，倦臥也。脾主肌肉及四肢故也。）其脈浮大而緩。（浮大，心之本脈。緩，脾之脈象也。）何以知傷寒得之？</p>
<p>然：當譫言妄語。（譫，狂悖多言也。）何以言之？肺主聲，入肝為呼，（肝傷寒也。《素·陰陽應象大論》：肝「在聲為呼」。）入心為言，（心傷寒也。）</p>
<p>入腎為呻，（腎傷寒也。《素》：腎「在聲為呻」。）自入為哭。（肺傷寒也。《素》肺「在聲為哭」。）故知肺邪入心，為譫言妄語也。其病身熱，洒洒惡寒。（肺本寒臟，又傷寒則惡寒也。）甚則喘咳，（肺氣上逆，則喘而咳。又《靈·九針篇》云：「肺主咳」。）其脈浮大而澀。（浮大，心之本脈。澀，肺脈之象也。）何以知中濕得之？然，當喜汗出不可止。何以言之？腎主濕。</p>
<p>入肝為泣，肝中濕也。《靈·九針論》云：「肝主泣。」）入心為汗，（心中濕也。《靈》：「心主汗。」）入脾為涎，（脾中濕也。《靈》：「脾主涎」。入肺為涕，（肺中濕也。《靈》：肺主涕。）自入為唾。（腎中濕也。《靈》：「腎主唾。」）故知腎邪入心，為汗出不可止也。（汗者，人所常有，惟不可止，乃為腎邪入心也。）其病身熱，小腹痛，（小腹，腎之位。）足脛寒而逆，（足脛，腎經所過之地，故畏寒而逆冷，濕性亦近寒也。）其脈沉濡而大。（沉，腎脈之象。濡，濕氣之候。大則心脈本象也。獨不言浮者。蓋沉則不浮也。）此五邪之法也。（大指謂：肝病見於色，心病見於臭，脾病見於味，肺病見於聲，腎病見於液。其脈以本臟之脈為主，而兼受邪之脈，以此類推可也。）</p>
<p>五十難曰：病有虛邪，有實邪，有賊邪，有微邪，有正邪，何以別之？</p>
<p>然：從後來者為虛邪，（此亦以五行之義推之也。後，謂生我者也。邪挾生氣而來，則雖進而易退，故為虛邪。）從前來者為實邪，（前，我生者也。受我之氣者，其力方旺，還而相剋，其勢必甚，故為實邪。）從所不勝來者為賊邪，（所不勝，克我者也。臟氣本已相制，而邪氣挾其力而來，殘削必甚，故為賊邪。）從所勝來者為微邪，（所勝，我所克也。臟氣既受制於我，則邪氣亦不能深入，故為微邪。）自病為正邪。（自病，本臟自感之邪也。）何以言之？假令心病，中風得之為虛邪，（中風，肝邪也。得之，謂因中風而心得病也。肝生心，所謂從後來者是也。下仿此。）傷暑得之為正邪，（傷暑，自病也。）飲食勞倦得之為實邪，（心生脾也。）傷寒得之為微邪，（心克肺也。）中濕得之為賊邪。（腎克心也。）</p>
<p>五十一難曰：病有欲得溫者，有欲得寒者，有欲得見人者，有不欲得見人者，而各不同，病在何臟腑也?</p>
<p>然：病欲得寒，而欲見人者，病在腑也；病欲得溫，而不欲見人者，病在臟也。何以言之？腑者陽也，（《素·金匱真言論》云：「腑者為陽。」）陽病欲得寒，又欲見人；（陽病熱勝，故喜寒而惡熱。陽主動而散，故欲見人。）臟者陰也，《素》：「臟者為陰。」）陰病欲得溫，又欲閉戶獨處，惡聞人聲。（陰病寒勝，故喜溫而惡寒。陰主靜而藏，故欲閉戶惡人也。）故以別知臟腑之病也。</p>
<p>五十二難曰：腑臟發病，根本等否？（此指有形質之病，如癥瘕之類，故曰根本。）</p>
<p>然：不等也。其不等奈何？</p>
<p>然：臟病者，止而不移，其病不離其處；（臟病，臟體受傷，或臟氣受病也。五臟本無出納，故病亦常居其所不移動也。）腑病者，彷彿賁響，上下流行，居處無常。（腑病，六腑受病也。彷彿，無形質也。賁響，賁動有聲也。忽上忽下，而無定位，蓋六腑瀉而不藏，氣無常定，故其病體亦如此。）故以此知臟腑根本不同也。</p>
<p>五十三難曰：經言七傳者死，間傳者生，何謂也？（七傳，依相剋之序歷過七臟也。間傳，依相剋之序中間間一他臟也。）</p>
<p>然：七傳者，傳其所勝也。（所勝，所克之臟也。）間臟者，傳其子也。（子，所生也。）何以言之？假令心病傳肺，肺傳肝，肝傳脾，脾傳腎，腎傳心，（以上皆傳所勝之臟。）一臟不再傷，故言七傳者死也。（再傷，謂肺復受心病之傳也。七傳，謂心病復傳至心，已歷六臟，至肺共七臟也。）間傳者，傳其所生也。（一本無此二句）假令心病傳脾，（心欲傳肺，而脾者肺之母、心之子，中間間此一臟，則不傳所克也。）脾傳肺，肺傳腎，腎傳肝，肝傳心，是子母相傳，（謂母病傳其子也。）周（一作竟）而復始，如環無端，（心又傳脾，仍為相生之臟也。）故曰（一作言）生也。</p>
<p>五十四難曰：臟病難治，腑病易治，何謂也？</p>
<p>然：臟病所以難治者，傳其所勝也；腑病易治者，傳其子也。與七傳、間臟同法也。</p>
<p>五十五難曰：病有積、有聚，何以別之？</p>
<p>然：積者，陰氣也；聚者，陽氣也。（陰邪積而成積，陽邪聚而成聚也。）故陰沉而伏，陽浮而動。（此言積聚之象也。沉伏，陰之體。浮動，陽之體。）氣之所積名曰積，氣之所聚名曰聚。（此明積聚之所由名也。積者，積漸而成；聚者，凝滯未散。積則有物，聚則無形也。）故積者，五臟所生；聚者，六腑所成也。（此又明積聚之所由生也。臟屬陰，故陰氣積於內而成積；腑屬陽，故陽氣聚於外而成聚，各從其類也。）積者，陰氣也，其始（一本無始字）發有常處，（有定位也。）其痛不離其部，（其部，積所起之地也。）上下有所終始，左右有所窮處；（言其形之長短大小可循按也。）聚者，陽氣也，其始發無根本，（無定位也。）上下無所留止，（無定形也。）其痛無常處。（其病亦無定在也。）故以是別知積聚也。</p>
<p>五十六難曰：五臟之積，各有名乎？以何月、何日得之？</p>
<p>然：肝之積，名曰肥氣，（其氣肥盛也。）在左脅下，如覆杯，（左脅，肝之位。覆杯，本大末小，肝木之象也。）有頭足。（頭足，一本二末，木形歧出也。）久不愈，令人發咳逆，㾬瘧，（咳逆，肝氣上衝於肺，乘所勝也。㾬瘧，間日而發為㾬，連日發為瘧，肝之病狀也。）連歲不已。（言病入深而無已時也。）以季夏戊己日得之。（季夏時令屬土，戊己日乾屬土也。下仿此。）何以言之？肺病傳肝，（所謂臟病傳其所勝也。下仿此。）肝當傳脾，脾季夏適王，（脾當時之旺令也。）王者不受邪，（言邪不能傷。）肝復欲還肺，肺不肯受，（肝木又不能勝肺金也。下仿此。）故留結為積（邪氣結聚於肝也。）故知肥氣以季夏戊己日得之。心之積，名曰伏梁，（橫亙如屋梁而伏處也。）起臍上，大如臂，上至心下。（臍上至心下，皆心之分也。）久不愈，令人煩心。（煩心，火鬱之狀也。）以秋庚辛日得之。何以言之？腎病傳心，心當傳肺，肺以（一本無以字）秋適王，王者不受邪，心欲復還腎，腎不肯受，故留結為積，故知伏梁以秋庚辛日得之。</p>
<p>脾之積，名曰痞氣，（痞，痞塞不通也。）在胃脘，覆大如盤。（胃脘，中焦之地，脾之分也。）久不愈，令人四肢不收，（脾主四肢，不收，邪氣聚而正氣不運也。）發黃疸，（黃疸，皮膚、爪、目皆黃色，濕熱病也。脾有積滯，則色徵於外也。《素·平人氣象論》：「溺黃赤，安臥者曰黃疸。」又曰：「目黃者曰黃疸。」）飲食不為肌膚。（脾主肌肉，不能布其津液，則不為肌膚也。）以冬壬癸日得之。何以言之？肝病傳脾。脾當傳腎，腎以冬適王，王者不受邪。脾復欲還肝，肝不肯受，故留結為積。故知痞氣以冬壬癸日得之，肺之積，名曰息賁，（息賁，氣息奔迫也。）在右脅下，（肺之位也。）覆大如杯。久不已，令人灑淅寒熱，（肺主皮毛，故皮膚灑淅寒熱也。）喘咳，（肺之病。）發肺壅。（壅，臃腫脹悶，肺主氣故也。）以春甲乙日得之。何以言之？心病傳肺，肺當傳肝，肝以春適王，王者不受邪，肺復欲還心，心不肯受，故留結為積。故知息賁以春甲乙日得之。</p>
<p>腎之積，名曰賁豚，（其狀如豚之奔突也。）發於少腹，上至心下，（少腹，腎之分。至心下，言上則至心而止，非謂其大至心也。下文自明。）若豚狀，（言其躁動如豚也。）或上或下無時，久不已，令人喘逆，（腎氣上衝也。《素·逆調論》：腎「主臥與喘」。）骨痿少氣，（腎主骨，故骨痿。下焦不能納氣，故少氣。）以夏丙丁日得之。何以言之？脾病傳腎，腎當傳心，心以夏適王，王者不受邪，腎復欲還脾，脾不肯受，故留結為積。故知賁豚以夏丙丁日得之。此五積之要法也。</p>
<p>五十七難曰：泄凡有幾？皆有名不？</p>
<p>然：泄凡有五，其名不同。有胃泄，有脾泄，有大腸泄，有小腸泄，有大瘕泄，（此五者之名也。）名曰後重。（此專指大瘕泄而言，蓋腎邪下結，氣墜不升故也。）胃泄者，飲食不化，色黃。（胃主納飲食，氣虛不能運則泄。黃，胃土之正色也。）脾泄者，腹脹滿，泄注，（脾主磨化飲食。不能化。則脹滿泄注也。）食即嘔吐逆。（脾弱不能消穀，則反出也。）大腸泄者，食已窘迫，（腸虛氣不能攝，故胃氣方實，即迫注於下，窘迫不及少待也。）大便色白，（大腸屬金，故色白。）腸鳴切痛。（氣不和順，故鳴而痛。）小腸泄者，溲而便膿血，（每遇小便，則大便膿血亦隨而下，蓋其氣不相攝而直達於下，故前後相連屬，小便甚利而大便亦不禁也。又小腸屬火，與心為表裡，心主血，故血亦受病而為膿血也。）少腹痛。（小腸之氣下達膀胱，膀胱近少腹，故少腹痛也。）大瘕泄者，（大瘕，邪氣結於下，成癥瘕而不散也。）裡急後重，（腸氣急迫，肛門重墜。）數至圊而不能便，（惟裡急，故數至廁；惟後重，故不能便，皆瘕結不散之故也。）莖中痛。（大便氣不能達，則邪氣移於小便，故莖中痛。）此五泄之要法也。</p>
<p>五十八難曰：傷寒有幾？其脈有變不？（一作否）</p>
<p>然：傷寒有五，有中風，有傷寒，有濕溫，有熱病，有溫病，其所苦各不同。（傷寒，統名也。下五者，傷寒之分證也。）</p>
<p>中風之脈，陽浮而滑，陰濡而弱；（陽，陽經之脈。陰，陰經之脈。浮滑，陽脈之象，風為陽邪，故浮滑在陽經也。《傷寒論》云：「太陽之為病脈浮。」又云：「浮則為風」《靈·邪氣臟腑病形篇》云：「滑者陽氣盛，微有熱。」又《素·平人氣象論》云：「脈滑曰病風。」陽盛則陰虛，故陰脈濡而弱也。）濕溫之脈，陽濡而弱，陰小而急；（濕熱傷陰，故陽脈則無氣而濡弱，陰脈則邪盛而小急也。）傷寒之脈，陰陽俱盛而緊澀；（寒邪中人，營衛皆傷，故陰陽俱盛緊者，陰脈之象。《傷寒論》云：「脈陰陽俱緊者，名曰傷寒。」又云：諸緊為寒。澀者，血氣為寒所凝，不和利也。《靈·邪氣臟腑病形篇》：「澀者多血少氣，微有寒。」）熱病之脈，陰陽俱浮，（陽氣盛，故脈俱浮。《金匱要略》云：「浮脈則熱」。浮之而滑，沉之散澀；（浮之，謂浮取之；沉之；謂沉取之也。滑則陽盛於外，散澀則陰衰於內也。）溫病之脈，行在諸經，不知何經之動也，各隨其經所在而取之。（言溫病所中之經不一，病在何經，則脈亦見於所中之經也。）傷寒有汗出而愈，（汗出，謂發其汗也。）下之而死者；有汗出而死，下之而愈者，何也？</p>
<p>然：陽虛陰盛，汗出而愈，下之即死；（滑氏《本義》引《外臺》語「謂表病里和」為陽虛陰盛，邪在表宜發汗，若反下之，引邪入里，誅伐無過，故死。）陽盛陰虛，汗出而死，下之而愈。（滑氏謂「里病表和」為陽盛陰虛，邪入里宜急下，若反汗之，兼虛其表，故死。）</p>
<p>寒熱之病，候之如何也？（寒熱，指忽寒忽熱者言。候之，言候其病在何處也。）</p>
<p>然：皮寒熱者，（寒熱在皮。邪之中人最淺者也。）皮不可近席，（邪氣在皮，不能著物也。）毛髮焦，鼻藁，（一作槁，下同。）不得汗；（肺主皮毛，開竅於鼻，故皮有邪，則毛髮焦乾而鼻枯槁不澤也。不得汗，營衛不和也。）肌寒熱者，（皮之內則肌肉也。）皮膚痛，（肌肉之邪由皮膚而入故痛。）唇舌藁，無汗；（脾主肌肉，開竅於口，故肌有邪，則唇舌皆受病也。）骨寒熱者，病無所安，（骨受邪，則病最深，故一身之中，無所得安也。）汗注不休，齒本藁痛。（腎主骨，又主液，齒為骨之餘，故骨病則腎液泄而為汗，齒枯槁而痛也。）</p>
<p>五十九難曰：狂癲之病，何以別之？</p>
<p>然：狂疾（一本無疾字）之始發，（始發，未成之時也。）少臥而不飢，（狂屬陽，陽氣盛，不入於陰，故少臥。陽氣並於上，故不飢。）自高賢也，自辨智也，自倨貴（一本作貴倨）也，（三者皆狂之意也。）妄笑好歌樂，妄行不休是也。（三者狂之態也。狂屬陽，陽性動散而常有餘，故其狀如此。）癲疾（一作病）始發，意不樂，（癲之意也。）僵仆直視。（一本作直視僵仆。癲之態也。癲屬陰，陰性靜結而常不足，故其狀如此。）其脈三部陰陽俱盛是也。（此總上二者而言，狂則三部陽脈皆盛，癲則三部陰脈皆盛也。）</p>
<p>六十難曰：頭心之病，有厥痛，有真痛，（厥，逆也，氣逆而痛也。厥痛，厥頭痛、厥心痛也。真痛，真頭痛、真心痛也。）何謂也？</p>
<p>然：手三陽之脈，受風寒，伏留而不去者，則名厥頭痛；（手三陽，小腸、大腸、三焦也。《素》：「手之三陽，從手走頭」，故風寒留滯，則頭痛也。）入連在腦者，名真頭痛。（入連在腦，邪進入於腦也。不在經而在腦，故曰真。）其五臟氣相干，（相干，謂臟有偏勝，邪乘於心也。）名厥心痛；其痛甚，但在心，（但在心，言無別臟相干也。）手足青者，（手足青，寒邪犯君火之位，血色變也。）即名真心痛。其真心痛者，（滑氏《本義》謂真字下當欠一「頭」字）旦發夕死，夕發旦死。（心為君主之官，故邪犯之即不治也。《靈·邪客篇》：「心者，五臟六腑之大主也，精神之所舍也，其臟堅固，邪弗能容，容之則心傷，心傷則神去，神去則死矣。」即此義也。）</p>
<p>六十一難曰：經言望而知之謂之神，（望，謂望病人之五色而知其病之所在，如《素·五臟生成篇》、《靈·五色篇》所云是也。神，聖而不可知之謂。）聞而知之謂之聖，（聞，謂聞病人之聲也。如《靈·九針篇》「心主噫，肺主咳」；《素·陰陽應象大論》肝「在聲為呼」，心「在聲為笑」，及下文五音之類是也。聖，謂藝之至於至極者也。）問而知之謂之工，（問，謂問病人之所患及其愛憎喜怒也。如《靈·九針篇》：「肝惡風，心惡熱」，「氣並肝則憂，並心則喜」之類是也。工，專精之謂。）切脈而知之謂之巧，（切脈之法，詳《靈》、《素》及前諸難中。巧，心智靈變也。）何謂也？</p>
<p>然：望而知之者，望見其五色，以知其病。（五色，五臟所現之色。）聞而知之者，聞其五音，以別其病。（五音，五臟所發之音也。又五臟之音屬宮、商、角、徵、羽，詳《靈·五音五味篇》。）問而知之者，問其所欲五味，以知其病所起所在也。（一本無也字。五味，五臟所喜之味。《靈·師傳篇》：「臨病人問所便。」所起，病之所由生；所在，病之所留處也。）切脈而知之者，診其寸口，視其虛實，以知其病在何臟腑也，（別其何臟腑之脈象，則知其病在何臟腑也。）經言以外知之曰聖，以內知之曰神，此之謂也。（外，視色、聞聲也。內，問欲、切脈也。）</p>
<p>六十二難曰：臟井、滎有五，腑獨有六者，何謂也？（五，謂井、滎、輸、經、合也。六，謂井、滎、輸、原、經、合也。其穴詳《靈·本輸篇》。）</p>
<p>然：腑者，陽也。三焦行於諸陽，（諸陽經也。）故置一俞，一作腧）名曰原。（俞，穴也。《靈·本輸篇》以所過之穴為原，蓋三焦所行者遠，其氣所流聚之處，五穴不足以盡之，故別置一穴，名曰原也。）所以（一本無所以二字）腑有六者，亦與三焦共一氣也。（共一氣，謂亦行於諸陽，非謂其氣皆出於三焦也。其詳備見六十六難中。）</p>
<p>六十三難曰：《十變》言，五臟六腑滎合，皆以井為始者，何（一本有謂字）也？（凡經穴起止，其次第先井、次滎、次輸、次經、次合，故云以井為始。）</p>
<p>然：井者，東方春也，（《靈·本輸篇》以井屬木，故於時配春也。）萬物之始生。諸蚑行喘息，蜎飛蠕動，（蚑、蜎、蠕，皆蟲行之狀；喘息，言有氣以息，俱蟲豸之屬，一歲一生之物也。）當生之物，莫不以春生。（此以生物之理，喻人之血氣亦然也。）故歲數始於春，日數始於甲，（甲亦屬木，言歲與日皆始於木，故凡物盡然。）故以井為始也。</p>
<p>六十四難曰：《十變》又言，陰井木，陽井金；陰滎火，陽滎水；陰俞（一作腧）土，陽俞木；陰經金，陽經火；陰合水，陽合土。陰陽皆不同，其意何也？（臟屬陰，故曰陰。腑屬陽，故曰陽。陰井屬木，次火、次土、次金、次水；陽井屬金，次水、次木、次火、次土，皆循五行相生之序也。）</p>
<p>然：是剛柔之事也。（言此乃剛柔配合之道也。）陰井乙木，（乙為陰木。）陽井庚金，（庚為陽金。）陽井庚，庚者，乙之剛也；陰井乙，乙者，庚之柔也。（陽金與陰木剛柔相合，為夫婦也。）乙為木，故言陰井木也；庚為金，故言陽井金也。余皆仿此。（余，指滎、俞、經、合也。仿此，謂陰滎丁火、陽滎壬水，皆以此推之也。）</p>
<p>六十五難曰：經言所出為井，所入為合，（詳《靈·本輸篇》，如肺出於少商為井，入於尺澤為合是也。）其法奈何？</p>
<p>然：所出為井，井者，東方春也，（井屬木，春為木令故也。）萬物之（一本無之字）始生，故言所出為井也。所入為合，合者，北方冬也，（合屬水，冬為水令故也。）陽氣入藏，故言所入為合也。（此以時令之所屬，配之經穴，以明出入二字之義，亦與前六十三難義同。）</p>
<p>六十六難曰：經言肺之原，出於太淵；（太淵，在手掌後陷中。）心之原，出於大陵；（大陵，在掌後骨下橫文中兩筋間，此手厥陰之穴也。余皆本經穴。）肝之原，出於太衝；（太衝，在足大指本節後二寸陷中。）脾之原，出於太白；（太白，在足大指後內側白肉際陷中。）腎之原，出於太谿；（太谿，在足內踝後五分。）少陰之原，出於兌骨；（少陰，手少陰也。兌骨，即神門穴，在掌後銳骨端陷中。）膽之原，出於丘墟；（丘墟，在足外踝下如前陷中。）胃之原，出於衝陽；（衝陽，在足跗上，去內庭五寸高骨間動脈。）三焦之原，出於陽池；（陽池，在手表腕上陷者中。）膀胱之原，出於京骨；（京骨，在足小指外側、本節後大骨下白肉際陷中。）大腸之原，出於合谷；（合谷，在手大指次指歧骨間陷中。）小腸之原，出於腕骨。（腕骨，在手外側、腕前起骨下陷中。）</p>
<p>十二經皆以俞（一作腧）為原者，何也？</p>
<p>然：五臟俞（一作腧。下同。）者，三焦之所行，氣之所留止也。（十二經皆營衛為之流行，三焦者營衛之所出，營衛所留止之處，即三焦所留止之處也。）三焦所行之俞為原者，何也？（言何以三焦之所留即名為原也。）</p>
<p>然：臍下腎間動氣者，人之生命也，十二經之根本也，故名曰原。（此即三十六難所云命門乃三焦之所本也。詳三十六難中。）三焦者，原氣之別使也，（言根本原氣分行諸經，故曰別使。）主通行三氣，經歷於五臟六腑。（三氣，三焦有上、中、下三者之氣也。）原者，三焦之尊號也，（分言之則曰三焦，從其本而言之則曰原，故云尊號。）故所止輒為原。五臟六腑之有病者，皆取其原也。（三焦為原氣別使，則三焦氣所在，即原氣所在，故即以原名之，而病之深者，當取乎此也。《靈·九針十二原篇》云：「五臟有疾，當取之十二原。十二原者，五臟之所以稟三百六十五節氣味也。」說最明曉。）</p>
<p>六十七難曰：五臟募皆在陰，而俞（一作腧。腧下有一「皆」字。）在陽者，何謂也？（募，音暮。氣所結聚處也。俞，《史記·扁鵲傳》作「輸」，猶委輸之義也。陰，腹也。肺募中府屬本經，心主募巨闕屬任脈，脾募章門屬肝經，肝募期門屬本經，腎募京門屬膽經，胃募中脘屬任脈，大腸募天樞屬胃經，小腸募關元屬任脈，膽募日月屬本經，膀胱募中極屬任脈，三焦募石門屬任脈，諸穴皆在腹也。陽，背也。《素·氣府論》：「五臟之俞各五，六腑之俞各六」；《靈·背輸篇》云：「肺俞在三焦之間，心俞在五焦之間，膈俞在七焦之間，肝俞在九焦之間，脾俞在十一焦之間，腎俞在十四焦之間，皆俠脊相去三寸所」，焦即椎也。其心包俞在四椎下，大腸俞在十六椎下，小腸俞在十八椎下，膽俞在十椎下，胃俞在十二椎下，三焦俞在十三椎下，膀胱俞在十九椎下，諸穴亦俠脊相去三寸，俱屬足太陽脈，皆在背也）</p>
<p>然：陰病行陽，陽病行陰。故令募在陰，俞（一作腧。下同。）在陽也。（言陰經本皆在腹，而其俞則俱在背；陽經本皆在背，而其募則皆在腹，蓋以病氣互相流傳，由經絡本互相通貫，故其氣之結聚輸轉之處交相會也。）</p>
<p>六十八難曰：五臟六腑，皆有井、滎、俞、經、合，皆何所主？（言此諸穴，刺之主治何病也。）</p>
<p>然：經言所出為井，所流為滎，所注為俞，所行為經，所入為合。（出，始發源也。流，漸盛能流動也。注，流所向注也。行，通達條貫也。入，藏納歸宿也。五句本《靈·九針十二原篇》。經文流作「溜」，義同。）井主心下滿，滎主身熱，俞主體重節痛，經主喘咳寒熱，合主逆氣而泄。（由六十四難五行所屬推之，則心下滿為肝木之病，身熱為心火之病，體重節痛為脾土之病，喘咳寒熱為肺金之病，逆氣而泄為腎水之病，然此亦論其一端耳。兩經辨病取穴之法，實不如此，不可執一說而不知變通也。）此五臟六腑井、滎、俞、經、合所主病也。</p>
<p>六十九難曰：經言虛者補之，實者瀉之，不實不虛，以經取之，何謂也？（虛，血氣虛也。實，血氣實也。補之，行針用補法也。瀉之，行針用瀉法也。其說詳《素·離合真邪論》等篇。以經取之，言循其本經所宜刺之穴也。）</p>
<p>然：虛者補其母，實者瀉其子，當先補之，然後瀉之。（母，生我之經，如肝虛則補腎經也，母氣實，則生之益力。子，我生之經，如肝實則瀉心經也，子氣衰，則食其母益甚。詳見下文七十五難。）不實不虛，（一本作不虛不實）以經取之者，是正經自生病，不中他邪也，當自取其經，故言以經取之。（正經自病，如四十九難所云之類是也。自取其經，即於本經取所當刺之穴，不必補母瀉子也。）</p>
<p>七十難曰：（一本有「經言」二字）春夏刺淺，秋冬刺深者，何謂也？（《靈·終始篇》云：「春氣在毛，夏氣在皮膚，秋氣在分肉，冬氣在筋骨，刺此病者，各以其時為齊。」兩經雖互有異同，此其大較也。）</p>
<p>然：春夏者，陽氣在上，人氣亦在上，故當淺取之；秋冬者，陽氣在下，人氣亦在下，故當深取也。（陽氣，謂天地之氣。人氣，謂營衛之氣。上，謂皮肉之上。下，謂筋骨之中。淺取、深取，必中其病之所在，則易已也。）春夏各致一陰，秋冬各致一陽者，何謂也？（致，取也，謂用針以取其氣也。）</p>
<p>然：春夏溫，必致一陰者，初下針，沉之至腎肝之部，得氣，引持之陰也。（溫，時令溫也。陽盛則陰不足，故取陰氣以補陽也。沉之，謂深入其針至腎肝筋骨之位。引，謂引其氣而出之至於陽之分也。）秋冬寒，必致一陽者，初內針，淺而浮之至心肺之部，得氣，推內之陽也。（寒，時令寒也。陰盛則陽不足，故取陽氣以補陰也。浮之，謂淺納其針至心肺皮血之位。推，謂推其氣而入之至於陰之分也。此即經文所謂「從陰引陽，從陽引陰」之義。）是謂春夏必致一陰，秋冬必致一陽。</p>
<p>七十一難曰：經言刺營無傷衛，刺衛無傷營，何謂也？（營主血在內，衛主氣在外，營衛有病，各中其所，不得誅伐無過也。此即《素·刺齊論》所云：「刺骨無傷筋，刺筋無傷肉，刺肉無傷脈，刺脈無傷皮，刺皮無傷肉，刺肉無傷筋，刺筋無傷骨」之義。）</p>
<p>然：針陽者，臥針而刺之；（陽，衛也。衛在外，欲其淺，故側臥其針，則針鋒橫達，不及營也。）刺陰者，先以左手攝按所針滎俞之處，氣散乃內針。（陰，營也。營在內，針必過衛而至營，然衛屬氣，可令得散，故攝按之使衛氣暫離其處，則針得直至營，而不犯衛也。）是謂刺營無傷衛，刺衛無傷營也。</p>
<p>七十二難曰：經言能知迎隨之氣，可令調之；調氣之方，必在陰陽，何謂也？（《靈·終始篇》云：「陽受氣於四末，陰受氣於五臟。故瀉者迎之，補者隨之，知迎知隨，氣可令和，和氣之方，必通陰陽。」引經文本此。蓋陽經主外，故從四末始，陰經主內，故從五臟始。迎者，針鋒迎其來處而奪之，故曰瀉。隨者，針鋒隨其去處而濟之，故曰補。通陰陽者，察其陰陽之虛實，不得誤施補瀉也。詳見七十九難中。）</p>
<p>然：所謂迎隨者，知營衛之流行，經脈之往來也。隨其逆順而取之，故曰迎隨。（知往來逆順，正經文所謂迎隨之義，越人之所本也。諸家論說紛紛，皆屬誤解，蓋經學之不講久矣！）調氣之方，必在陰陽者，知其內外表里，隨其陰陽而調之，故曰調氣之方，必在陰陽。（陽主外、主表，陰主內、主裡，察其虛實而補之、瀉之，令調和也。）</p>
<p>七十三難曰：諸井者，肌肉淺薄，氣少不足使也，刺之奈何？（諸井皆在手足指末上，故云肌肉淺薄。氣藏於肌肉之內，肌肉少，則氣亦微。不足使，謂補瀉不能相應也。）</p>
<p>然：諸井者，木也；滎者，火也。火者，木之子，當刺井者，以滎瀉之。（此瀉子之法也。如用補，則當補其合，可類推。然惟井穴為然，蓋以其氣少不足為補瀉，瀉子補母，則氣自應也。）</p>
<p>故經言（一作云）補者不可以為瀉，瀉者不可以為補，此之謂也。（言瀉則當以子，補則當以母，不可誤施。）</p>
<p>七十四難曰：經言春刺井，夏刺滎，季夏刺俞，秋刺經，冬刺合者，何謂也？（五句經文無考）</p>
<p>然：春刺井者，邪在肝；夏刺滎者，邪在心；季夏刺俞者，邪在脾，秋刺經者，邪在肺；冬刺合者，邪在腎。（此亦以五臟所屬為言也。井與春皆屬木，滎與夏皆屬火，俞與秋皆屬金，合與冬皆屬水，故四時有病，則臟氣亦與之相應，故刺法亦從時也。）</p>
<p>其肝、心、脾、肺、腎，而繫於春、夏、秋、冬者，何也？</p>
<p>然：五臟一病，輒有五也。（言有五者之證現於外也。）假令肝病，色青者肝也，臊臭者肝也，喜酸者肝也，喜呼者肝也，喜泣者肝也。（說詳四十九難中。此舉邪之在肝者，以例其餘也。）其病眾多，不可盡言也。（言五者之變，不可勝窮也。）四時有數，而並繫於春、夏、秋、冬者也。（言病雖萬變，而四時實有定數，治之之法，總不出此，其道簡約易行也。）針之要妙，在於秋毫者也。（此又推言用針之道，其微妙之處，乃在秋毫之間，又非四時之所得而盡，學者又不可因易而忘難也。）</p>
<p>七十五難曰：經言東方實，西方虛，瀉南方，補北方，何謂也？（此即六十九難瀉子之法。南方為東方之子，北方為西方之子、東方之母。說詳下文。）</p>
<p>然：金、木、水、火、土，當更相平。（更相平，言金剋木，木剋土，循環相制，不令一臟獨盛而生病也。）東方木也，西方金也。木欲實，金當平之；火欲實，水當平之；土欲實，木當平之；金欲實，火當平之；水欲實，土當平之。（此言五行本然之道也。）東方者肝也，則知肝實；西方者肺也，則知肺虛。瀉南方火，補北方水。南方火，火者，木之子也；（實則瀉其子也。）北方水，水者，木之母也。水勝火，（木之母勝木之子也。）子能令母實，母能令子虛，（木之子火，為木之母水所克，則火能益水之氣，故曰子能令母實。水剋火，能奪火之氣，故曰母能令子虛。）故瀉火補水，欲令金不得平木也。（子能令母實，瀉子則火勢益衰，而水得以恣其克伐；母能令子虛，補母則水勢並旺，而火不敢留其有餘，如此則火不能剋金，而反仰食木之氣以自給，使金氣得伸，而木日就衰，則金自能平木也。不字諸傢俱以為衍文。</p>
<p>經曰：不能治其虛，何問其餘，此之謂也。（言治金虛之法當如此，不可止取一經以為補瀉也。若此義不明，則治虛之法且不能，安能治他病乎？二語經文無考。）</p>
<p>七十六難曰：何謂補瀉？當補之時，何所取氣？當瀉之時，何所置氣？（言取何氣以為補；而其所瀉之氣，則置之何地也。）</p>
<p>然：當補之時，從衛取氣；當瀉之時，從營置氣。（衛主氣，故取氣於衛。其法詳下七十八難中。從營置氣，謂散其氣於營中也。）其陽氣不足，陰氣有餘，當先補其陽，而後瀉其陰；陰氣不足，陽氣有餘，當先補其陰，而後瀉其陽。（此承上文而言補瀉之法，尤當審其陰陽虛實也。衛為陽，營為陰，衛虛而營實，則補陽瀉陰；營虛而衛實，則補陰瀉陽，而其補瀉之法，則又有先後也。《靈·終始篇》云：「陰盛而陽虛，先補其陽，後瀉其陰而和之；陰虛而陽盛，先補其陰，後瀉其陽而和之。」此其說之所本也。）營衛通行，此其要也。（陰陽得其平，則營衛之氣通暢流行矣。要，謂要法也。）</p>
<p>七十七難曰：經言上工治未病，中工治已病者，何謂也？</p>
<p>然：所謂治未病者，見肝之病，則知肝當傳之與脾，（木旺侮土也。）故先實其脾氣，無令得受肝之邪，（補其脾氣，則能御肝，不受克賊也。）故曰治未病焉。中工治已病者，見肝之病，不曉相傳，但一心治肝，（專治肝而肝邪入脾，則脾又病，經所謂「故病未已，新病復起」者也。）故曰治已病也。</p>
<p>七十八難曰：針有補瀉，何謂也？</p>
<p>然：補瀉之法，非必呼吸出內針也。（《素·離合真邪論》云：「吸則內針，無令氣忤，……候呼引針，呼盡乃去，大氣皆出，故命曰瀉。……呼盡內針，靜以久留，以氣至為故，……候吸引針，氣不得出，各在其處，推合其門，令神氣存，大氣留止，故命曰補。」此呼吸出內之法，越人以為其道不盡於此，當如下文所云也。）知為針者，信其左；不知為針者，信其右。（信其左，謂其法全在善用其左手，如下文所云是也。信其右，即上呼吸出內針也。持針以右手，故曰信其右。）當刺之時，（一本有必字）先以左手厭按所針滎、俞之處，彈而努之，（彈，指擊也。努，揉也。）爪而下之，（以爪掐至肉中也。）其氣之來，如動脈之狀，（動其血氣，則氣來聚如脈口之動，此左手所候之氣也。）順針而刺之，得氣，（謂氣至針，此針下所候之氣也。）因推而內之，（推入其針，氣亦從之入也。）是謂補；動而伸之，（謂搖動而引出其氣也。）是謂瀉。不得氣，乃與男外女內；（男則候之於衛之外，女則候之於營之內。）不得氣，是謂十死不治也。（候氣而氣不至，則營衛已脫，針必無功。十死，言無一生也。）</p>
<p>七十九難曰：經言迎而奪之，安得無虛？隨而濟之，安得無實？虛之與實，若得若失；實之與虛，若有若無，何謂也？</p>
<p>然：迎而奪之者，瀉其子也；隨而濟之者，補其母也。（迎隨，解見七十二難。經語見《靈·九針十二原篇》。按此子母即以本經井、俞所屬五行生剋言，非如七十五難指五臟所屬子母也。）假令心病，瀉手心主俞，是謂迎而奪之者也；補手心主井，是謂隨而濟之者也。（心病屬火，本當取滎。陰受氣於五臟，其經氣從俞及滎、及井，瀉俞則迎其來處而奪之，俞屬土，心之子也；補井則隨其去處而濟之，井屬木，心之母也。）</p>
<p>所謂實之與虛者，牢濡（一作濡牢）之意也。氣來實牢者為得，濡虛者為失，故曰若得若失也。（氣，指針下之氣也。其氣來而充實堅牢為得，濡弱虛微為失，言得失則有無在其中矣。）</p>
<p>八十難曰：經言有見如入，有見如出者，何謂也？（二句經文無考）</p>
<p>然：所謂有見如入者，謂左手見氣來至，乃內針，（即七十八難所謂「動脈之狀」是也。滑氏謂：「有見如入下當欠有見如出四字。」）針入見氣盡，乃出針。（氣盡，其氣來而復散也。）是謂有見如入，有見如出也。（滑氏《本義》：「如讀若『而'」，古字通用。）</p>
<p>八十一難曰：經言無實實，無虛虛，損不足而益有餘，（言實者宜瀉，而反補之；虛者宜補，而反瀉之；不足者，反損之；有餘者，反益之，皆誤治也。經文見《靈·九針十二原篇》。）是寸口脈耶？將病自有虛實耶？（一作也。言所謂虛實者，不知其指脈言，抑指病言也。）其損益奈何？（言其損益之法，將何如而得也。）</p>
<p>然：是病，非謂寸口脈也，謂病自有虛實也。假令肝實而肺虛，肝者木也，肺者金也，金木當更相平，（說詳七十五難中。）當知金平木。（言當瀉南方、補北方也。）假令肺實而（一作故知兩字。）肝虛，微少氣，用針不補其肝，而反重實其肺，（如此則肺益甚，而肝益虛矣。）故曰實實虛虛，損不足而益有餘。此者，中工之所害也。（害，謂不惟不能治其病，而反害其人也。）</p>
