<header data-type="book">
<h1>增訂偽藥條辨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>曹炳章</dd></div>
<div><dt>朝代</dt><dd>民國</dd></div>
<div><dt>年份</dt><dd><data value="1928">公元1928年</data></dd></div>
<div><dt>底本</dt><dd>《<a href="../../help/reference.html#other">增订伪药条辨</a>》，福建科學技術出版社，2004年，ISBN: 7533522834。</dd></div>
</dl>
</header>

<h1>序</h1>
<p>書有之作偽，心勞日拙甚矣，作偽之無益而有害也。矧在藥物所以療病，一涉於偽，則不足以救人而反足以損人，甚者，或竟至於戕人。以救人之藥品，而至於損人、戕人，其害不為細，而實由於一偽字，階之厲籲，其可駭也！</p>
<p>夫宋元以降，醫與藥分路而揚鑣，貸藥者未必知醫，而知醫者未必貸藥。雖有良醫，而藥肆多偽藥，則良醫仍無濟於事。故良醫良藥宜相輔而行，而決不容偽藥贗鼎之雜出其間也。曩者先君致力於實學，而於醫藥尤多所考訂。不佞自髫齡時，輒聞庭訓，及之，由是於《靈》、《素》以下，稍稍窺見門徑。弱冠之時，親友之病者，相率就診於不佞，治之頗有效，然終未敢自信，故嗣後有請診者，輒謝絕之。今老矣，鬢絲禪榻，專以鬻詩文書畫自娛。顧每聞有醫學佳著，如渴驥赴泉而不能自止。嘗慨夫偽藥之亂真，欲著一書以問世，而人事匆促，學殖荒疏，因循不果。四明曹炳章邃於醫藥學，臨診以外，孜孜於著述無倦容，近又取閩縣鄭子肖岩所著《偽藥條辨》而增訂之，條分縷析，博大精微，可謂盡善盡美，足以為偽藥之棒喝，禹鼎鑄奸，不是過也，作偽之風，其可因是而稍弭乎。民無夭札，將以是書為左券，獨是不佞所有志而未逮者，而曹君乃奮筆而成之，非所為有志者事竟成耶。茲付剞劂，爰樂而序之。</p>
<p><u>中華民國十七年九月九日</u></p>
<p><u>紹興余祥池序於仰師賓學淨室之四積軒</u></p>

<h1>緒言</h1>
<p>博物固難，而於藥材不得不求博焉；用藥猶難，而於物性不得不求達焉。胡可人云亦云，而不致思哉。觀唐顯慶重修《本草》，孔志約之序有言曰：動植形生，因方舛性；春秋節變，感氣殊功。離其本土，則質同而效異；乖於採摘，乃物是而時非。此數語者，誠概括神農嘗味、雷公炮炙之微義，猶舉醫家之能事矣。無如近世業醫之士，率承父師之庭訓，沿習方士之俚談，既未曾閱歷山川，訪眾材之出處，又不能蒐羅經史，採明哲之討論，即《本草綱目》一書，乃藥品之藝林，材用之淵藪，孰能細為考證？即或悉心研求，而傳訛亦甚多，無怪乎習於道聽途說，並惑於市儈妄言，致使真材被棄，贗物風行，如大黎子偽充巨勝，相思子混當赤豆，諸如此類，不勝枚舉。沈萍如雲：天地之於萬物，生長收藏，本具五行之理；溫涼厚薄，乃隨九土之宜。然亦有稟性懸殊，而秋生夏死、春萎冬榮之不同，如夏麥冬瓜，臘梅秋菊，各以時榮，天下皆然。習見不異者，擴而充之，則蜀之稻，一歲二藝；滇之罌粟，四時皆花；滇默瓜茄豆蔓，逾冬不涸；松本長青，　而六詔松針，交春黃隕；梅魁春首，而滇中梅蕊，臘盡花開；蓖麻干空如竹，西賧成木如拱；仙人掌草木也，他處遇霜即萎，滇南可列蒔方丈，以作垣籬，開花如瓠，結果如瓜。此多諸家本草所不載，皆由方土氣候之不齊，而致物性種類亦不一。不獨此也，且收藥儲材，猶當審其收採之時候，察其方土之寒燠，達其物性之變更，揆之於理，而後乃收其效，非可以一隅之偏論，膠柱鼓瑟耳。假如植物之皮、葉、根荄、花蕊、子仁之類，而必採摘有時。若杜仲、黃柏、秦皮等，其用在皮，理當取之於夏，因夏時漿發於皮，力全而功倍，春則漿未升，秋冬則漿已降，漿收皮槁，效用已失。地骨、丹皮、芎、歸、地、芍，則亦宜各因其長盛之際而採之。其他如山草類之芩、連、知、貝，本多野生者佳，取用其根，宜於秋冬為勝。若椿、樗、五茄等喬木之根皮，則亦宜採於落葉之時，其漿液歸根，效力亦勝。至於杏、桃、果、瓜之仁核，類多收於夏秋。余目睹夏食未熟果瓜之核仁，多癟薄無肉，可見未至其時，而生長不足也。若夫甘菊、忍冬、凌霄、密蒙等花，以及蘇葉、藿香、薄荷、荊芥、青蒿、佩蘭等芳草之類，則各乘盛時而採之，則氣足力全。既採之後，必當即時曬燥，庋藏箱缸，使芳香之氣不散。苟煎服合度，效能更勝，否則或收採失時，及任其風吹濕蒸，不但失其氣味效能，且增加黴毒，暗助病菌孳長，此不可不知也。苟能收採合時，炮製遵法，必須理有可循，再加親知灼見，屢經試驗，方可傳信。乃今藥肆射利，在小鋪則以偽亂真，以紫亂朱，但求名狀相似，不別效用冰炭，甚則黑明角充犀角，山羊角混羚羊，只求己利，不惜人害。在大鋪則但求形色雅觀，進值高昂，不別性質良窳，如半夏用蜀產，而不用浙產；橘紅用川產，不用建產。大抵川夏顆大，形式雅觀，浙產粒小。不知川夏質松，落水即胖，且力薄性劣，較之浙夏質堅味厚，功力皆宏者大不相同。橘紅之用川產，亦因平薄無瘢痕，建紅卷小有瘢痕，而形色雖不雅觀，然氣味濃厚，不若川紅之味淡氣薄耳。甚至醫方上書明蒼朮而用茅朮，書明於術而用江西術。以蒼朮、於術價賤，茅朮、江西術價貴，以價貴賤分高下耳，不知效能各有擅長，如蒼朮燥濕，茅朮利濕，用處不同；於術健脾，江西術生津，補法懸殊。諸如此類，亦不勝枚舉。前數年前，吾紹亦有相沿此惡習，近時則已改良之。然世人茫然不察，致將確能治病之藥，嫌其輕賤而不用，反以重值購求不對病之贗品為神丹，直至不效，亦不自認誤藥之過，而惟委之天命而已。</p>
<p>嗚呼！吾國藥物不改良，醫學無從進步。欲求其改良之道，必須從醫藥共同研究始，如上古神農嘗醫，中古韓康賣藥，皆醫士而兼藥劑師也。自趙宋設立和劑藥局，售藥雖有專肆，而仍有醫師指導售賣者也。不若近世醫自為醫，藥自為藥。行醫者只辨性味處方，不明藥品之真偽；賣藥者只知形色雅觀，不知炮製之精當。至於產處之道地與否，丸、散、膏、丹之遵古與否，醫師既不調查，藥師亦不報告，分道揚鑣，兩不相謀，執而不變，豈有進步哉？際此中醫藥競爭圖存之時，醫與藥必須共同一氣，將一切沿習積弊，一一設法改良。</p>
<p>炳章自幼嫺藥習醫，至今仍以此為衣食謀，具有切身之關係，常蓄醫藥革命之決心，恨無實行剷除能力。於民國二年春，爰集同志，組織和濟藥局，為改良之創始，訂正丸散膏丹方書，編著膏丸說明，考定傳訛藥品，撰述《規定藥品之商榷》等書，刊印以來，傳誦遐邇，荷蒙海內同志所歡迎，紛紛報告改良者，已有十餘埠之多。余故友鄭君肖岩，亦夙具此心，著有《偽藥條辨》一書，郵示於余，囑余評註撰序而刊行之。余捧誦一周，其間所採偽藥，計百十一種，能將傳訛作偽等弊，從實驗條辨發明，與余《規定藥品之商榷》可謂無獨有偶。惜門類不分，而藥品產地叢多，質性不齊，未免遺漏。炳章爰將各藥，別其門類，分訂四卷，間有實驗識見，鑑別條下，惟鄭君原文，不敢更動隻字。雖然吾國地大物博，豈能盡我二人所見，無非先創其例，以吾二人著先鞭耳。凡增補之，訂正之，請質諸海內外醫藥經驗家及博物家，果能相與有感，以臻完美，正不獨吾道藥界之幸甚，而天下蒼生亦幸甚也夫。</p>
<p><u>中華民國十六年七月</u></p>
<p><u>四明曹炳章序於紹城和濟藥局</u></p>

<h1>陳序二</h1>
<p>天下惟似是而非者，辨之不容不早，亦絕之不容不嚴。莠之亂苗，紫之奪朱，其近在目前，而盡人能識者，聖人猶惡焉，進而有關乎生人性命之原。世道淳澆之故，而又為人所難辨者可知矣。肖岩茂才，余通家子也，承累世青囊之學，居恆出其術以活人，輒應手起。蓋其診脈處方，不特於臟腑之伏也，血氣之留也，空竅之塞也，關鬲之礙也，必洞見其癥結，下及陰陽燥濕之宜，佐使君臣之法，亦皆考之必力，用之必神。故採藥之道地新陳，採取時節，炮製經方，均講之有素。每恨牟利之徒，販售偽藥，夭札生靈，爰即生平耳目所關，嚴加考究者，凡若干種，釐為《偽藥條辨》，以為此固盡人所難辨，而又盡人所當辨者也。書成，問序於余。余維今之醫者，識時方數種，讀《本草》一書，輒詡詡然號於人曰：「邱之蟲」，吾知其為貝母也；「原之堇」，吾知其為烏頭也；「牆之茨」，吾知其為蒺藜也；「谷之蓷」，吾知其為茺蔚也；「臺庚緇撮」，吾知其為香附之稱；「鬯薦黃流」，吾知其為鬱金之號。究之赤箭青芝，飽讀雷公之賦；露苗煙蕊，未提風伯之籠。《素問》即或成書，赭鞭未嘗別味，問名則是，課實則非，當夫真假雜陳，未有不懵然罔辨者。無他，耳食雖詳，而講求無本也。今肖岩世兄，以霹靂手，運菩提心，良楛斯分，真假立見，使牛鬼蛇神，無從逃溫嶠之犀；而馬勃牛溲，皆得奏醫師之效。將見向之草菅人命、漁利販售者，無所往而可試其欺，因而愧悔之萌，良心復發，未始非由澆反淳之一機也。然則是書之有功於世道，豈淺鮮哉。余故樂為之序焉。</p>
<p><u>時光緒辛丑春和之月</u></p>
<p><u>世愚弟陳贊圖拜撰</u></p>

<h1>自序三</h1>
<p>古者醫自採藥，司歲備物，能得大地之專精，故治十得九，奏效如神。降及後世，人心不古，疑信參半，醫者避嫌，但求診脈處方，無愧我心。凡藥之採取時節，及出產土地、新陳真偽，一概不講，醫與藥判為兩途，藥與病漓為二致。用藥之權，反操自藥肆，其自顧招牌，以圖馳名者，尚堪見信。有一種市利之徒，貪營之心重，則利濟之志泯，得一藥則賺一藥之利，制一藥則損一藥之功，以偽亂真，以賤抵貴，巧詐相尚，夭札生靈，其流弊伊于胡底耶。余世讀《活人書》，自束髮仰承庭訓，即聞有偽藥之弊，閱歷雖久，聞見難周。今春上元旋鄉，與翥如從弟談及，渠復示偽名三十餘味。書將脫稿，又承郭表弟叔雅檢示十六味，重為辨纂。不意四十年來，假藥混售，有許多名色，病家罔識，藥販昧良，若不詳細研究，大聲疾呼，則草菅人命，未始非醫者之咎也。故不避嫌怨，著為《條辨》，知我罪我，亦聽諸人矣。豈有他哉，不得已也。</p>
<p><u>光緒辛丑仲春之月穀日</u></p>
<p><u>閩縣鄭奮揚肖岩謹識於袖海廬</u></p>

<h1>勸戒芻言</h1>
<p><u>—</u>　勸辦藥宜真也</p>
<p>余閩人，在閩言閩。閩地僻處海嶠，凡兩廣及外洋要藥，皆自香港辦來，江、浙、川、陝、遼、冀各地道，皆自上海辦來，全省大小藥肆，多向南北幫購置。此書所列偽藥，十有六七非閩省所產。藥棧為藥店領袖，必當辦運真藥以利濟群生。回憶二十年前，藥幫傳單議禁，實為無量功德，不意日久玩生，禁者自禁，而售者自售。夫藥之真偽，醫家病家固未能周知，藥棧無不知之，明知故作，又奚可哉。竊願好善君子，存仁交義取之心，矢濟世濟人之志，清流塞源，永遠禁絕，則廣種福田，不僅鄙人持一瓣香禱祝以求之耳。</p>
<p><u>—</u>　勸販藥宜審也</p>
<p>凡藥棧之莊友，藥商之經手，一切辦貨批貸，均須驗明正地道貨色，如遇有假藥，貨寧缺而不買，價雖賤而不收。存利濟之善心，絕鑽營之念，即外府州縣，窮鄉僻壤，客載來省購貨，亦須認貨交易，勿貪小利而昧天良，勿便私圖而害人命。語云：救人一命，勝造七級浮屠。彼蒼福佑善人，報施原不爽也。</p>
<p><u>—</u>　勸買藥宜慎也</p>
<p>凡病家請醫治病，為其欲愈也，有真方無真藥，盧扁莫何。凡一方到手，須問明方中有無要藥，特向藥鋪只取真藥，不論價錢。與其服偽藥數十劑而無功反害者，何如服真藥一二劑而奏效如神也。勿先評價錢而後購，勿第貪便宜而相商，凡方中有涉假藥者，尤宜審問而明辨之，自不至為其所誤矣。</p>
<p><u>—</u>　勸用藥宜謹也</p>
<p>醫為司命之人，臨證開方，凡方中有涉及假藥者，須與病家詳說某藥有假，購藥時切宜明辨，為之提醒。自不知墜其術中。在我稍費片言，於人受益非淺。至貴重之品，如人參、牛黃、麝香、琥珀、海狗腎、麒麟竭、珍珠、阿膠、犀角、羚羊之屬，尤宜謹慎，倘無真藥，徒費病家之錢，於病無濟，必不得已而用之，須囑力求真品，或能稍收功效。吾願同志諸君，力挽頹風，隨時隨地，留心察訪，嚴別真假，以立吾道之防，則活人之心，差堪稍慰已。</p>
<p><u>—</u>　勸買宜誠也</p>
<p>項元麟曰：病家買藥，原系去病求生，固非泛常日用者可比，幸勿希圖價廉，多打折扣，過意拖欠，使彼貸賣之家，折本含怨。請思經營問利，誰甘虧折，不得已將形色相似者代之，孰知雲泥之隔，冰炭之殊。買藥者，惟圖價值便宜，服藥者，亦大受其損矣，病情輕尚可苟延殘喘，病情重以致殞命捐軀。買賣之際，生死交關，其可不慎？況世俗皆以藥業為暗行，不知其如何利息。殊不知剔選正藥，去頭除梢，再去泥雜沒屑，沾惠甚微。偶或驟浪，甚至淨欠不還，以致賣者進貨折本不計。所以買者貪而無誠，而賣者作偽，亦毋怪其然矣。又有土人商買，魚目混珠，來路不清，亦非關藥肆之弊，乃進貨者經驗閱歷不到，受人欺騙耳，罪在奸商貪利忘義之徒。總之，藥之良窳，關人生命，宜各本天良，搜精探髓，不避天下射利者恚怒。恪遵天道好生為念，賣者買者，思之味之。</p>

<h1>偽藥條辨例言</h1>
<p>—　此書專為辨別藥之真偽而作。凡藥性、氣味、功用，行何經絡，專治何病，各家本草業已詳明辨釋，故考證從略。</p>
<p>—　諸藥有天生地產之正所，則為道地正品，若土人遷地移栽地土不宜之處，即是不良；或亦兼產遍地，皆稱道地者。</p>
<p>—　書中所列偽名，如大小稀、副先、沖剪等類，乃藥肆通稱之名，非假藥之本名。欲絕流弊，先記偽名。</p>
<p>—　藥之形色氣味，經藥肆剉切之後，不易辨識，故是書僅就藥之本質者證而言之。</p>
<p>一　所辨偽藥，只能聞見所及言之，尚望海內高明匡其不逮。</p>

<h1>卷一</h1>

<h2>山草部</h2>

<h3>人參（一）</h3>
<p>真人參，以遼東產者為勝。連皮者，色黃潤如防風；去皮者，堅白如粉。肖人形，有手、足、頭面，畢具香，有神，故一名神草。產於地質最厚處，性微溫，味甘兼味苦。生時三丫五葉，背陽向陰，故頻見風日則易蛀。陶貞白雲：納新器中密封，可經年不壞。李言聞云：凡生用，宜㕮咀；熟用，宜隔紙焙之，或醇酒潤透，㕮咀焙熟，並忌鐵器切片。月池翁嘗著《人參傳》二卷，言之甚詳，不能備錄。近代貨缺價昂，假者皆以沙參、薺苨、桔梗採根造作亂之。考沙參，體虛無心而味淡；薺苨，體虛無心而味甘；桔梗，體堅有心而味苦。而人參，體堅有心而味甘、味苦，自有餘味，煎之易爛而渣少，氣、味、形、色，原自可辨。所恨謀利之徒，偽造混售，以亂真品，甚至因人參價貴，有以短折長者，謂之接貨；以小並大者，謂之合貨。必先用水潮過，原汁已出，又用粉膠黏扎蒸烘做成，力薄而易變。又有以湯泡參自啜，乃曬乾烘燥，做色復售，謂之湯參。江淮所出土木人參，多薺苨混充，層出不窮，欺人太甚。今欲辨真偽，不如用蘇頌之一法：但使二人同走，一含人參，一空口，度走三五里許，其不含人參者必大喘，含者氣息自如，其人參乃真也。然必使年歲體氣相若之人，行之方准，否則反至誤事。夫富貴人平時衛生，喜服人參，誤服贗品，雖無裨益，尚未大害。倘購假參以治大病，則害立見，非特不能升提中氣，抑且反賊臟陰。蓋薺苨、桔梗、沙參，性皆降下，如上損下損、虛寒之體、垂危之症，服之則去生反速。吾見亦多矣，可不慎歟。</p>
<p>炳章按：人參，多年生草根也，長者八九寸，短者二三寸，略似人形，故名人參。產吉林，以野參為貴，故又謂吉林參，或曰野山參，葉似掌狀複葉。《東陲遊記》云：遼東人參，產寧古塔，即今吉林寧安縣地。四月發芽，草本方梗，對節生葉，葉似秋海棠，六七月開小白花，花白如韭，大者如碗，小者如鍾，八月結子，若小豆而連環，色正紅，久之則黃而扁。初生一丫，四五年兩丫，十年三丫，久者四丫。每丫五葉，莖直上，即《扈從東遊日記》所謂百丈杵也，高者數尺余云。考其產處，有人工培植者，有天然野生者。如為鳳凰城及船廠產者，種植為多；而寧古塔產者，野生為多。總之人參野生，歷年愈久，性愈溫和，其精力亦足。因其吸天空清靜之氣足，受地脈英靈之質厚，故效力勝也。吳謂泉云：真野生人參，山中少出，今市肆所售，皆秧種之類。其秧種者，將山地墾成墊土，純用糞料培養之，受氣不足，故質不堅，入水煎之，參渣即爛，嗅之亦無香味，陰虧之證忌用。故秧種一出，而參價遂賤，而野山真參，更不可得也。因野參採取難，且出額少，不使其年久滋養長大耳。又且產參之山險峻，多虎狼毒蛇，故走山者，常有傷生。《東陲遊記》又云：走山採參者，多山東、山西等省人，每年三四月間，趨之若鶩，至九十月乃盡歸。其組織以五人為伍，內推一人為長，號曰山頭。陸行乘馬，水行駕威弧（以獨木雕成，首尾皆銳），沿松花江至諾尼江口，登岸隨山頭至嶺，乃分走叢林中，尋參枝及葉。其草一莖直上，獨出眾草，光與曉日相映。得則跪而刨之。日暮歸窠，各出所得，交山頭洗剔，貫以長縷，懸木曬乾，或蒸而曬之。曬乾後，有大有小，有紅有白。土人貴紅而賤白。大抵生者色白，蒸熟則帶紅色。近世以白者為貴，名曰京參，其體實而有心，其味甘微兼苦，自有餘味，即野山真參是也。《龍江鄉土志》云：野山參，有米珠在須，其紋橫，秧子參多順紋，無米珠。所謂秧種者，即鳳凰城及船廠產者是也。鳳凰城之貨，形色白秀，體松而瘦長，皮色多皺紋。皮熟者少，味甜，因用糖汁煮過，無餘味，近人所謂白抄參、移山參、太子參，皆其類也。船廠產者，其地二百里內外，所產較鳳凰城稍堅實，且紅潤可觀，味苦微甘，其空松者亦多，俗所謂廠參，今俗名石渠子是也，皆不道地。如鄭君所言有沙參、薺苨、桔梗做充之品，而近時則所未見未聞，且人參形狀，代有變態。據近時辨之，體態宜堅白，皮宜細緊，有橫皺紋，蘆蒂宜凹陷，丫節宜多。丫節多，年分多也。味宜甘中兼苦，要有清香氣而有回味，方是上品，否則皆屬側路，不可不知也。</p>

<h3>別直參（二）</h3>
<p>別直參，即高麗參，以野山所產為上品。近日價值甚昂，有以副野偽充者，即新山所產也，色白味淡，紋稀，虛寒之體，服之作瀉，且煎熬之後，參片糜爛，不比真者參片完固。以此辨之，便知真偽。聞又有抄參、糖參二種，以之混充，則殊礙衛生。</p>
<p>炳章按：抄參、糖參二種，乃人參之種參。前人參條下已辨明，與別直不同。別直產韓國，即古之高麗。其產參之地，如京畿道之松都、龍仁，平安道之江界，全羅道之錦山，忠清道之忠州，其間以松都產者為最勝，紅參製造官廠在焉，其地在韓京之北二十餘里，四面皆山，居北緯三十八度，寒暑之差殊甚。如松都產者，以金剛山出者，曰金剛參為最上品，即今正官別直也，而拳頭參次之，且有官私之別，紅白之分。官參、松都所產，由義州出關，加以重稅；私參，別處所出，多偷漏出口，故曰私也。《廣報》云：白參雖不行於內地，而實則紅參鮮時，亦是白參製成，不過加附子水以釀其色，價且較白參為昂。及考其性，紅參又遠不逮白參之和平，故土人無食紅參者。蓋別直雖為種品，如歷年余久，質味愈良，古時每栽七年而採，後則五年而採。近世韓國割讓日本，日人多精農學，教以人工栽培速成之法，三年即能採買，故其受氣逐年薄弱，而性味效能亦年不如年也。凡辨真偽，若真正官別，體態圓方形而直，蘆頭大，與身混直而上，皮面近蘆有細橫皺紋，中身細直紋，杈須則無紋。味苦兼微甘。鮮潔而有清香氣，煎淘多次，汁清而參仍不腐爛，此為最上之品。近時射利之徒，多以廠參偽充，即俗所為扁剛、石渠子是也。考廠參中身大、蘆頭小、頸細、杈下亦粗圓而大、皮紋直而粗、味苦而兼澀、煎淘汁混、參亦腐化，以此可辨偽贗品。若廠參以礦灰同貯藏年餘，參性受灰炕燥過度，形質因此堅緻，煎之亦汁清不烊，其味仍苦兼澀，總不若真別直質味之清香鮮潔也。</p>

<h3>剪口參（三）</h3>
<p>偽名沖剪，以太極參及大小稀頭尾，假沖洋參剪口。色白，味不苦。按剪口之貨，吾省盛行才數年。因參價錢昂貴，市肆將洋參頭尾切下，名為剪口。昧者不知，疏方竟用剪口參。考諸《本草》，未聞有剪口之藥。今即洋參可用，連類而成，為愛惜物力起見，孰料又有一種沖剪為之混亂耶。奉勸醫家勿用，病家勿購，則不為沖參所誤耳。</p>
<p>炳章按：剪口參，種類甚多，如參頭、東條、別折、大尾、中尾、細尾、夾尾之類是也。所云剪口者，乃是閩地藥家之命名耳。鄭君所云洋參剪口者，即東條也。以東洋參之尾，蒸熟乾之。大尾、中尾、細尾、夾尾等類，皆從船廠參（即石渠子、扁剛參）傍枝剪下，以枝條之粗細，分大、中、細、夾等尾名目。近今市售，偽名別條是也。又有別折一種，以扁剛參之形態不正者，剪去頭尾，名曰參頭。其中身名曰別折，皆為側路，藉以混亂別直參也。若中虛者誤服之，立時胸腹脹滿。醫者不可不知也。</p>

<h3>西洋參（四）</h3>
<p>西洋參，皮色微黃者，以小稀充之；皮色純白者，以沖白攙之。其味不苦，又以苦參煎湯，浸而曬之。虛寒之體，誤服即瀉。花旗所產又有一種肉色黃者，價最貴，竟以新山之太極參偽充之。近人方劑喜用洋參，若以貴价賣假藥，且於病無益而有害。洵堪浩嘆，用者慎之。</p>
<p>炳章按：西洋參，形似遼參而小，產於美國。向來只有光、白二種，近時更增毛皮參一種。因光參由日本人作偽，以生料小東洋洋參，擦去表皮，名曰副光，售與我國。貪利市儈，偽充西參以害同胞，天良喪盡，恥莫大焉。蓋西參滋陰降火，東參提氣助火，效用相反。凡是陰虛火旺，勞嗽之人，每用真西參，則氣平火斂，咳嗽漸平；若用偽光參，則反現面赤舌紅，乾咳痰血，口燥氣促諸危象焉，以致醫者見西參有裹足不前之感。故近年美商有不去表皮之毛西參運入我國，意在杜絕某國狼人之作偽。詎知通行未逾十年，而某國原皮偽毛參又混售市上，病家服藥，可不慎歟。偽西參之為害既如此，而卒不能革除者，何也？因真西參之價，每斤八九十元，而偽參每斤僅八九元耳。販賣真參者，得利甚微，混售偽參，則利市十倍。我國商人大抵目光淺短，素少公眾道德觀念，只知孳之為利，不顧有害於民眾。作偽者所以有如是之盛也。</p>
<p>至欲鑑別其真偽，必須分氣味、形色、性質。真光西參，色白，質輕，性松，氣清芬，切片內層肉紋，有細微菊花心之紋眼。味初嚼則苦，漸含則兼甘味，口覺甚清爽，氣味能久留口中。若副光偽參，色雖白，質重而堅，內層肉紋多實心，無菊花心紋眼，亦無清芬之氣，嚼之初亦先苦後甘，數咽後即淡而無味，不若真者能久留口中。毛西參，皮紋深皺，微灰黑色，內肉鬆白，質亦輕，性松，氣清芬，味苦兼甘，含咽清爽鮮潔，為道地也。偽毛參，皮紋深陷，質堅實，味微苦中兼微甘，後即淡而兼澀味黏舌者，此即偽也。如鄭君所謂苦參煎湯浸入，亦非其本有之味也，苟誤用之，亦屬有害無益，願衛生家注意之。</p>

<h3>東洋參（五）</h3>
<p>以東陽新山所出之參，皮肉俱白，味淡不苦者偽充之。虛寒之體不宜服，服之則瀉。按老山太極參，產東洋，皮色黃，肉帶老黃，扁而橫紋，中有菊花心者為貴。市肆所辦鳳記以上至旭記字號，均皆可用，價亦不昂，用者當知所擇也。</p>
<p>炳章按：東洋參，為熟參之一種。日本云州產者，曰老山參；會津產者，曰新山參。老山參，形條邊圓或三角稜，皮黃白色，近梢處有紅點刺，甘微苦、兼微甘、氣微香、煎湯清而黃赤色者為道地。新山參，形條混圓，皮色黃白而淡，無紅刺點，氣味較老山參淡薄耳。又如日記一種，形條雖極粗，然色白無神，味兼澀，煎湯混濁如淡米泔，切片貯藏，能起白霜。此種參出於陰山肥土，用人工栽培二年即成，為側路，實不堪入藥用。若老山參栽於陽面之山，得天然陽氣最足，凡陽虛氣陷、久痢脫肛之症，尚有寸效。至於宇宙天鳳等記為名者，非分高下，實辨別枝條大小而作記號也。新山、老山皆以大小為記，用者總以認識貨物、辨明高下為主要，亦不能以包袋為標準，緣包袋可改換耳。</p>

<h3>人參葉（六）</h3>
<p>人參葉，乃遼東真參之葉，氣清香，味苦微甘。其性補中帶表，大能生胃津，清暑氣，降虛火，利四肢頭目。浸汁沐發，能令光黑而不落，醉後服之，解酲第一。以色不黃瘁，綠翠如生，手挪之有清甜香氣者，真品也。率多參客帶來餉客，頗不易購。市肆所售參葉，不知何種樹葉偽充，勿服為是。</p>
<p>炳章按：項元麟云：各種參葉形狀相似，難分真偽。然皆苦寒損氣敗血之物，未可視為補藥，此乃益中含損，如麻黃髮汗，根節反止汗之意。趙恕軒云：大率補者多在根，葉乃枝節之餘氣，不可以言補也。參葉雖稟參之餘氣，究其力止能行皮毛四肢，性帶表散，與參力遠甚。近時婦人以參葉塞於發內，能令光黑而不落，醉後食之解酲云云，未識驗否。然觀近時市上通行者，絕非樹葉偽充，惟何參之葉，且難斷定耳。</p>

<h3>北沙參（七）</h3>
<p>偽名洋沙參，色帶黃，味辣不甜。又有南沙參，皮極粗，條大味辣，性味與北產相反。按此沙參，色白條小而結實，氣味苦中帶甘，故《本經》云：微寒。又云：補中益肺氣。於以上所述二種之偽品，味既辛辣，又安能補益乎？</p>
<p>炳章按：北沙參，山東日照縣、故墩縣、萊陽縣、海南縣俱出。海南出者，條細質堅，皮光潔色白，鮮活潤澤為最佳。萊陽出者，質略鬆，皮略糙，白黃色，亦佳。日照、故墩出者，條粗質松，皮糙，黃色者次。關東出者，粗松質硬，皮糙，呆黃色，更次。其他臺灣、福建、湖、廣出者，粗大松糙，為最次，不入藥用。惟無外國產。所云南沙參為塊根，亦能補肺。鄭君云：有辣味，或別有一種耳。</p>

<h3>黨參（八）</h3>
<p>黨參種類不一，《綱目拾遺》引翁有良《辨誤》云：黨參功用可代人參，皮色黃而橫紋有類乎防風，故名防黨。江南徽州等處呼為獅頭參，因蘆頭大而圓凸也。古名上黨人參，產于山西太行山、潞安州等處為勝。《百草鏡》有云：亦有白色者，總以淨軟壯實、味甜者佳。嫩而小枝，名上黨參；老而大者，名防黨參。味甘平，補中益氣，和脾胃，除煩惱，解渴。中氣微虛，用以調補，甚為平安。今有川黨，蓋陝西毗連移種栽植，皮白味淡，有類桔梗，無獅頭，較山西者迥別，入藥亦殊劣，不可用。近肆中一種黃色黨參，有用梔子熬汁染造者，服之湧吐。更有一種小潞黨參，皮色紅者，乃礬紅所染，味澀不甘，皆贗物也，用者宜明辨之。</p>
<p>炳章按：前賢所謂人參，產上黨郡，即今黨參是也。考上黨郡，即今山西長子縣境，舊屬潞安府，故又稱潞黨參。其所產參之形狀，頭如獅子頭，皮細起皺紋，近頭部皮略有方紋，體糯糙，黃色，內肉白潤，味甜鮮潔，為黨參中之最佳品。其他產陝西者，曰介黨，亦皮紋細皺，性糯，肉色白潤，味鮮甜，亦為佳品。如鳳黨，皮紋雖略糙，性亦糯軟，味亦甜。產四川文縣者，曰文元黨，皮直紋，性糯，味甜，蘆頭小於身條，皆佳。又一種川黨，俗稱副文元，產川陝毗連處，性梗硬，皮粗寬，紋粗，肉色呆白，味淡，為次。產禹州者曰禹潞，產敘富者曰敘富黨，皆粗皮直紋，性硬，肉燥，呆白色，味淡，皆次。產關東吉林者曰吉林黨，皮寬粗而糙，頭甚大，如獅子頭，肉白燥而心硬，味淡有青草氣，價甚賤，為黨參中之最次。其餘種類甚多，未及細辨，總之以皮紋細橫、肉白柔潤、頭小於身、氣帶清香、味甜鮮潔者皆佳。若皮粗肉堅或松，味淡，氣腥如青草氣者，皆為側路。以此分別，最為明晰。如鄭君云：有用梔子煎汁染造者及皮紅以礬紅所染者云云，此等贗物，我江浙未之見也。</p>

<h3>田三七（九）</h3>
<p>假田三七，即莪朮假造混充，誤人匪淺。按田漆即山漆，一名三七，以葉左三右七，故有是名。產廣西南丹諸州，番峒深山中，採根暴乾，黃黑色，團結者狀似白及，長者如老幹地黃，亦有如人形者，有節，味微甘而苦，能止血散血定痛，匪特為金瘡聖藥。或云試法，以三七摻豬血中，血化為水者真，用者不可不明辨也。</p>
<p>炳章按：三七，原產廣西鎮安府，在明季鎮隸田陽，所產之三七，均貢田州，故名田三七。消行甚廣，亦廣西出品之大宗也。有野生種植之分，其野生形狀類人形者，稱人七，非經百年不能成人形，為最難得最道地。前廣西百色商會吳寶森君，購得人七一枚，送滬陳列。其他普通野生者，皮黃黑色，肉色黃白兼紅潤皆佳。種植者，如綠豆色亦佳，黃色次之。產湖、廣者，名水三七，黃黑色，皮皺有節，略次。產廣東者，名竹節三七，形似良薑，有節而長，色淡紅，別有用處專能。如無節苗者，名蘿葡三七，皆次。頃廣東出有一種，有蘆，肉色白，名新三七，更次。偽者以白芷做成，實害人匪淺，不可辨也。</p>

<h3>丹參（十）</h3>
<p>丹參，古出桐柏川穀，今近道處有之。其根赤色，大者如指，長尺余。一苗數根，氣味苦，微寒，無毒。主治心腹邪氣，寒熱積聚。《本草經》原文歷敘功用，末加「益氣」二字。蓋益正氣所以治邪氣也。近今市肆有一種土丹參，服之極能散血，又奚有益氣之功？不知用何種草根混充，殊可恨也。</p>
<p>炳章按：丹參產安徽古城者，皮色紅，肉紫有紋，質燥體松，頭大無蘆，為最佳。產滁州全椒縣者，形狀同前，亦佳。產鳳陽、定遠、白陽山、漳洧者，蘆細質松，多細枝次。產四川者，頭小枝粗，肉糯有白心，亦次。鄭君所云土丹參，或即川丹參也，抑或福建土產之一種，別具形態，余未之見也。</p>

<h3>黃耆（十一）</h3>
<p>偽名介耆，介或作蓋。條硬無味，色白不黃。按黃耆以山西綿上出者為佳，故一名綿耆，色黃帶白，緊實如箭竿，故又名北箭耆。折之柔韌如綿，故能入肌腠而補氣。若介耆之呆劣，又安可用乎？聞蓋耆性極發散，有人誤服，汗流不止，其性與綿耆大相反，用者當明辨之。</p>
<p>炳章按：黃耆冬季出新。山西太原府里陵地方出者，名上耆，是地有「大有大成」、「義聚成」、「育生德」等號貨賣。雙縛成把，其貨直長，糯軟而無細枝，細皮皺紋，切斷有菊花紋，兼有金井玉欄杆之紋，色白黃，味甜鮮潔，帶有綠豆氣，為最道地。又大同府五臺山出，粗皮細硬，枝短味淡，作小把，為臺耆，俗稱小把耆，略次。亳州出者，性硬，筋多而韌，肉色黃，為亳耆，俗稱奎耆，亦次。陝西出者，為西耆，性更硬，味極甜，更次。蛟城出者，為蛟耆，枝短皮粗無枝，極次。四川出者，為川耆，小把，皮紅黑色，性硬筋韌如麻，味青草氣，為最下品，服之致腹滿，最能害人。凡外證瘡瘍用黃耆，如陽癰托毒化膿及虛體痘瘡凹陷，皆用生，陰疽補托轉陽用炙。皆須太原產之上耆，立能見效，若以側路雜耆充用，則為害甚烈，不可不辨矣。</p>

<h3>於術（十二）</h3>
<p>白朮種類甚多，云術肥大氣壅，臺術條細力薄，寧國狗頭術，皮赤稍大，皆栽灌而成，故其氣甚濁，卻少清香之味。當以浙江於潛野生者，名於術，為第一。一名天生術，形小有鶴頸，甚長，內有硃砂點，術上有須者尤佳，以得土氣厚也。據土人云：產縣後山脈及黃塘至遼東橋一帶，西流水四十里地之術，方有硃砂點，他處則無。但野術入口，味甜，氣極清香，總以白為佳，以潤為妙。近有一種江西種術，其形甚小，與野術相似，雖有鶴頸而甚短，其體堅實，其味苦劣，不可用，貨者多以此混充於術，是不可以不辨也。</p>
<p>炳章按：天生野於術，體輕，質瘦小，性糯，味甘，色紫，皮細寬而層疊，蘆軟而圓，有鳳頭鶴頸之象，切開有硃砂斑點，氣甚香，即鄭君所云於潛山、黃塘至遼東橋一帶出者是也，為最佳品，不易多得。他如近於潛山各山，亦得其山脈餘氣，野生者亦佳，然蘆硬皮不層疊，亦有鳳頭鶴頸之形。其他鄰縣所出，別有一種，亦風頭鶴頸，軟蘆如小算子而圓，切開亦有硃砂點，質燥味薄，氣不甚者，價亦廉，俗名鈕釦術。近時有充湖廣朮者，鄭君所云江西術，或即此也，亦次。更有冬朮移種於潛，名種術，顆甚大，重兩大者十餘兩，小者五六兩，皮黃肉白，無暈，亦有硃砂點，味甘兼辣，近時市肆作於術者，此也，亦不甚佳。其帶葉者名帶葉術，偽充野術，裝玻璃盒，官場贈送為禮品，此皆側路也。又有南京茅山出者，日茅朮，亦有硃砂點，味甘辛，性糯，形瘦長，有細鬚根，利濕藥中用之，亦佳。泗安產者，形類毛術，性燥，味甘辣，切片逾日起白霜，亦次。惟術之種類甚多，就與於術有類似關係者，約辨數種，余概略之。</p>

<h3>天門冬（十三）</h3>
<p>天門冬，始出奉高山谷，其根白色或黃色，柔潤多汁。稟水精之氣，而上通太陽。氣味甘寒，無毒。主治諸暴風濕偏痹，強筋骨，殺三蟲。《本經》列為上品。聞有用福州小番薯炊熟曬乾偽充，良可慨已。</p>
<p>炳章按：天門冬，浙江溫州、台州俱出，肥大性糯，色黃明亮者佳。鮮時用礬水泡透，剝去外皮曬之。大小有提、揀、統之別。四川、山東、福建、河南、陝西亦產。總要肥壯黃亮、糯潤者皆佳，偽者尚少。</p>

<h3>麥冬（十四）</h3>
<p>偽名洋麥冬，色極白，味苦不甜。按麥冬古時野生，凌冬青翠，宛如麥粒，故名麥冬。今江浙多蒔植之。根色黃白，氣味甘平，質性滋潤。稟少陰冬水之精，上與陽明胃土相合，為上品服食要藥。奚容偽物混充，而誤人不少乎。</p>
<p>炳章按：麥門冬，出杭州莧橋者，色白有神，體軟性糯，細長，皮光潔，心細味甜，為最佳。安徽寧國、七寶，浙江餘姚出者，名花園子，肥短體重，心粗，色白帶黃，略次。近時布用，以此種最多。四川出者，色呆白，短實，質重性硬，亦次。湖南衡州來陽縣等處亦出，名來陽子，中勻，形似川子，亦不道地。大者提青，中者曰青提，小者曰蘇大、曰紹大等名目，以枝頭分大小耳。</p>

<h3>天花粉（十五）</h3>
<p>偽名次花粉，聞此種系馬前頭混充。其性不可知，匪特不能生津止渴，且服之令人頭暈目眩。按花粉即瓜蔞根，秋後掘者結實有粉，夏日掘者有筋無粉。入士最深，皮黃肉白，氣味苦寒，能啟在下之水精上滋，厥功甚偉。所在皆有，價亦不貴，貨者偏以偽亂真，藉博蠅頭之利，其居心尚可問乎？更有一種洋花粉，無筋，色白而嫩，其塊較大，或云系洋粉偽造，煎之即腐爛，皆無益之品，幸勿誤服也。</p>
<p>炳章按：花粉，江蘇、上海南翔鎮等處出為山花粉，皮細結，肉白，性糯，無筋，起粉，為最佳。亳州出為亳花粉，性糯色白，無皮無筋，亦佳。嘉定古城、江北通州等處皆出，亦名山花粉，皮色黃，有筋，略次。山東、關東出者，為洋花粉，極大，質松多筋，色黃白，為最次。鄭君云洋粉偽造即此，實非偽造，因其質松，如粉作造，非真以粉可造也。</p>

<h3>黃連（十六）</h3>
<p>偽名廣連，即洋川連，色不黃，中有花點，皮黑，面有毛。按黃連以四川雅州出者為佳，故名雅連，形如雞距，故又名雞爪連。氣味苦寒，色極黃，易於辨識。近有辦峨嵋山所產者，價值甚昂，漳、泉人最喜購之。若此種廣連，色不黃則名不稱，性味既殊，功用自劣，誤服之則貽害多矣。</p>
<p>炳章按：黃連背陰草根也，苗似茶叢，經冬不調。生於深山窮谷，幽僻無日照之處，必得凝寒之氣者為上。八九月出新，種類甚多，隨地皆產，且有野生、種植之別，惟四川野生者多佳品，為治療上之要藥。茲將其產別種類之形態詳別於下：四川峨嵋山產者，曰峨嵋連，蘆軟而綠，刺硬皮黃，切開空心，有菊花紋金黃色者，為最上品。撞州野出者，曰撞州連，蘆頭中空而圓，有硬刺，色黃帶青，頭尾均勻，切開亦有菊花紋，亦佳。馬湖所出者，與峨嵋山連相似，亦軟蘆硬刺，皮色青帶黑，首尾一樣，有節，均為佳品。紫宕溝、瓦屋山二山出者，瘦小有蜂腰，皮毛柔，軟蘆硬刺，亦佳。以上皆為川水連，亦有新老山之別。如新山則條短刺硬，皮黑色，軟蘆多綠嫩者佳；老山則細長，蘆軟刺少而硬，色黃老者，為最佳。此皆野山出品。打箭爐出者，亦曰水連，皮黑刺少，無蘆頭，有杈枝，色黃，略次。重慶種出者，曰母珠連，硬蘆而扁，頭粗尾細，色黃，更次。峒山種出者，曰峒連，蘆扁硬，刺略軟，色黃，切開空松者，亦次。四川石柱廳種出者，曰味連，形似雞爪連，亦次。嘉定管高廟所出者，曰嘉定連，俗名母連，種後五年出土，皮如鱗甲，肉色黃而帶紅，亦次。雅州產者，曰雅連，岡山產者，曰岡連，皆次。南川金佛山產者，曰金山連，蘆長連少，亦次。以上皆四川產也。雲南野出者，曰云景連，體松蘆軟，形似雞腳爪，無蘆，刺少，皮黑，肉色黃，亦次；種者蘆硬刺軟，更次。廣西產者，曰新山連，皮光色黃，質重，斷則淡黃色，亦甚次。處州出者，曰土連，皮黑肉實心，淡黃色者，味雖苦回味兼甜，亦極次。奇會工出者，曰會連，形似母連，皮略黑，肉空松，乃馬所食，不入藥用。雞屎連，色黑細小，斷則綠色而淡，亦極次，不入藥。近有日本產者，曰洋連，形色略同，皮光而有毛刺，肉色淡黃微白，更次，亦不堪入藥。自云連至洋連終，俱屬側路偽品，服之甚為害人，醫者與病家，皆宜注意之。</p>

<h3>川貝母（十六）</h3>
<p>偽名魯貝，粒扁，洗後皮脫，其粉即出。按貝母惟川蜀出者為佳。其子在根下，內心外瓣，其色帶白，如聚貝子，故名貝母。蓋色白、味辛，生於西川，故屬肺金之藥。浙貝尚不可混用，況魯貝乎。更有一種名西珠貝母，系山慈姑偽充。又有一種偽貨，名西貝，其性不能潤肺化痰，更相反也。</p>
<p>炳章按：川貝，四川灌縣產者，底平頭尖，肉白光潔而堅，味微苦兼甘，為最佳。平藩縣產者，粒團質略鬆，頭微尖，肉色白而無神，味亦微苦兼甘，亦佳。敘富產者，顆大而扁，肉白黃色，質松味淡，為次。魯京州大白山、松盤等處產者，曰魯京川，黃白色，頭尖，亦次。湖北荊州、巴東縣產者，皮色帶黑，性硬而光，頭尖，肉呆白色，味苦，更次。陝西新開山產者，曰西貝，或名尖貝，顆扁，頭尖，味甚苦，更不道地。鄭君所云，或指此種，然非山慈姑偽充。所云珠貝者，即小象貝也。蓋川貝中有獨顆不分瓣，不作二瓣合抱，皮無皺者，名單龍精，宜揀去之，誤服令人筋脈不收，惟用黃精小藍汁可解之。</p>

<h3>川貝粉（十八）</h3>
<p>今人肺燥咳嗽，每以川貝粉蒸梨，亦清潤單方也。詎料射利藥肆，研便之川貝粉，率以懷山藥研粉偽充。雖山藥無毒，其奈有外邪未罷者，服之則留邪；黏痰難出者，服之則助痰，為害匪淺。如用川貝粉，須當面看其研末，方無此弊。</p>
<p>炳章按：項元麟云：川貝粉，市者以象貝漂洗代之，或以小山藥、天花粉偽之。余謂未必皆如是，此屬少數市儈昧良之行為，非可指普通而言如此也。</p>

<h3>秦艽（十九）</h3>
<p>假艽出秦中，今涇州、鄜州、岐州、河、陝諸郡皆有。其根土黃色，作羅紋交糾，左右旋轉。李時珍云：以左紋者良。今市肆偽品，即邊秦，有毛，其枝尚小，匪特左右紋難辨，不知何物混充，又安能療病乎？</p>
<p>炳章按：秦艽，陝西寧夏府出者，色黃，肥大，蘆少，左旋者佳。山西五臺山亦出，皮色略黑，肉黃白色，亦佳。以上皆名西秦艽。湖北產者，條細質松，毛屑較多，名漢秦艽，為次。</p>

<h3>銀柴胡（二十）</h3>
<p>味淡，蘆頭又大，不知何物偽充。按銀柴胡以銀州及寧夏出者為勝。氣味甘，微寒，無毒。蒿長尺余，色微白，力弱於北柴胡，即銀州之軟柴胡。專治骨蒸勞熱，不但清熱，兼能涼血，《和劑局方》治上下諸血，龍腦雞蘇丸中用之。凡入虛勞方中，最為相宜。用者須購真銀柴胡為要。</p>
<p>炳章按：銀柴胡，陝西寧夏府甘甫州及山西大同府皆產。選肥大堅實、色白軟糯、無沙心者為佳。偽者尚無。又按，《經疏》云：柴胡有二種：一種色白而大者，名銀柴胡。《逢原》云：銀柴胡銀州者良。今延安五原城所產者，長尺余，肥白而軟。《百草鏡》云：出陝西寧夏鎮，二月採葉，名芸蒿。長尺余，根微白，即銀柴胡。《藥辨》云：銀柴胡出寧夏，形似黃耆。參合諸說，與近今市肆所備亦相符合。據余實驗，凡治虛勞肌熱，骨蒸勞熱，熱從髓熱，及小兒五疳羸熱，用之頗效。若用北柴胡，則升動虛陽，發熱，喘咳嗽，愈無寧乎。周一士云：熱在骨髓者，非銀柴胡莫瘳。前人有不識藥品之形態，往往妄評銀柴胡為贗物，豈可不辨，以淆惑後人，而使無從遵循乎。</p>

<h3>鱉血柴胡（二十一）</h3>
<p>北柴胡用鱉血制者，原欲引入厥陰血分，於陰虛之體，最為得宜。市肆中有一種偽品，不知何物所制，殊可恨也。</p>
<p>炳章按：鱉血柴胡，以鱉血拌炒柴胡。慮不道地，可以殺鱉現炒，尚非難事。然柴胡之良窳，亦有多種，亦宜審慎辨明。如蘇、浙通銷者，以江南古城產者為多。柴胡者，在地上葉莖為柴，地下根蘆為胡。如古城產者，葉綠甚軟而短，無硬梗，地下根皮紫黃色，肉淡黃色，形似紫草，尚佳。福建廈門銷行者，乃盧州府無會州、白陽山所出，裝簍運出。梗略硬，或曰北柴胡，略次。山東本地不行。兩湖通銷者，為川柴胡，葉綠黃色，根黑黃色，性糯，味淡，亦佳。他如湖北襄陽出，梗硬者為次。滁州、全椒、鳳陽、定遠俱出，泥屑略多，尚可用。江南浦陽，有春產者無蘆槍，秋產者有蘆槍，亦次。關東出者如雞爪，更不道地。</p>

<h3>苦桔梗（二十二）</h3>
<p>苦桔梗之根，結實而梗直，故有是名，非木上之梗也。近道處處有之，其根外白中黃有心，味苦而辛。《本經》主治胸脅痛如刀刺，腹滿，腸鳴幽幽，驚恐悸氣。其一種無心味甜者，薺苨也，一名杏葉沙參，又名甜桔梗，性味功用與桔梗大不相同。近今藥肆因苦桔梗價貴，多以甜梗為充。又有一種水口梗，性味更劣，服之安能見功耶？</p>
<p>炳章按：桔梗出安慶古城山，色白有蘆，內起菊花心，味甜帶苦者佳。寧國府涇縣出者，形味略同，亦佳。其他如鎮江全椒、滁州白陽山、常州、宜興、天長、定遠、樟渚，各縣皆出。色黃白，味甜，均不道地。此藥乃開提肺氣，為手太陰要藥。須擇色白、性糯、飽綻、味苦而有心者用之。若味甜者，即薺苨也，效用不同，不可混用耳。</p>

<h3>土枸杞（二十三）</h3>
<p>枸杞子氣味甘寒，主堅筋骨，耐老除風，去虛勞，補精氣，以陝西甘州所產者為勝。近有一種粒小、色淡、味不甚甘，皆本地所出之土枸杞，非甘州上品也。</p>
<p>炳章按：枸杞子，陝西潼關長城邊出者，肉厚糯潤，紫紅色，顆粒粗長，味甘者為佳。寧夏產者，顆大，色紅，有蒂，略次，東北關外行之。甘肅鎮蕃長城邊出者，粒細，紅圓活，味亦甘，此貨過黴天即變黑，甚難久藏，略次。他如閩、浙及各地產者，舊地皆曰土杞子，粒小，味甘淡兼苦，肉薄，性微涼，不入補益藥，為最次。</p>

<h3>地骨皮（二十四）</h3>
<p>枸杞以陝西甘州所出者為勝，地骨皮即枸杞之根。《食療本草》云：氣味苦寒，主去骨熱消渴。近今市肆所售「硬地骨」，不知何種草根偽充。聞是風藥，其性燥烈，大相反，若誤服之，則貽害多矣。</p>
<p>炳章按：地骨皮，非陝枸杞根之皮，乃長江土枸杞之根皮。三月出新。江南古城亳州、蘇州、江北出者，皮薄性糯，色黃黑，氣微香，片大無骨者，為最佳。湖北出者，皮粗厚而大，性硬質松，色黃兼有白斑，梗多為次。鄭君所云硬骨皮，即此是也。</p>

<h3>巴戟肉（二十五）</h3>
<p>巴戟天，甘辛微溫，入腎經血分，強陰益精。產蜀地者佳，如連珠。擊破中紫而鮮潔者，偽也；中雖紫，微有白糝粉色，而理小黯者，真也。近有以山豆根混充者。山豆色白，性寒，或醋煮以亂之，則誤人不淺矣。</p>
<p>炳章按：巴戟肉，廣東出者，肉厚，骨細，色紫，心白黑色者佳。江西出者，骨粗，肉薄，略次。浙江台州寧海縣出者，名連珠巴戟，擇其肉厚軟糯，屑少，去骨用肉，亦佳。鄭君雲山豆根混充，不但效用冰炭，且形態亦全不相類也。</p>

<h3>白薇（二十六）</h3>
<p>假白薇即土白薇，條大而硬，色少帶黃。按白薇，《本經》名春生，出陝西及舒、滁、潤、遼諸處。其根色黃微白，柔軟可曲者白薇也；色白微黃，堅直易斷者白前也。今此種土白薇，或云即白前偽充，形質既異，功用懸殊，萬不可誤用也。</p>
<p>炳章按：白薇產山東者，根皮赤黃色，內白黃色，形類牛膝實心，頭下有細鬚根，短而柔軟可曲。《乘雅》云：根似牛膝而細長，色黃微白，此即白薇，與《本經》之說吻合。陳嘉謨曰：白前形似牛膝，粗長堅直，空心有節，色黃白色，折之易斷。乃與近時白前形狀亦符合。《本草崇原集說》眉批云：蘇州藥肆誤以白前為白薇、白薇為白前，相沿已久。近調查杭、甬藥肆，相沿亦與江蘇同。近據鄭君說福建亦沿此謬習，惟吾紹興幸早經考定改正。吾望閩、蘇、甬各藥界，亦當速為改正，免誤病家。</p>

<h3>蒙花（二十七）</h3>
<p>蒙花，一名蒙山茶，一名雲芝茶。性寒，能清肺胃之熱，故疹病用之尤宜。近今多以近道磹花偽充，則性味懸殊矣。</p>
<p>炳章按：蒙花，三月出新。湖北當歸山出者，其花白綠色，白茸毛，淨而無梗者，佳。各處出，花碎小，色白黃，梗多者，次。</p>

<h3>仙鶴草（二十八）</h3>
<p>（徐友丞來稿）承賜《仙鶴草非龍芽草辨》，拜讀之下，無任感佩，刊登布告，醫病兩家實受教益。蓋中國素有天產之靈草，得以發揚。彼自命維新學家，學習西醫皮毛，唾棄中華醫藥者，可恍然悟矣。友丞按光緒丙申年間，有畿東豐潤張雨人言，刊傳仙鶴草圖說云：仙鶴草三葉之下，有耳葉者真，無耳葉者非，亦是一考據也。近據會員梅子剛君來函云：據友人肺癆專家陳君言，此草屢治血症，甚有效驗，並謂不宜紅棗同食，以紅棗性燥云。梅君又云：用以治瘰癧，甚有效驗。</p>
<p>炳章按：毛退之《中西醫話》云：龍芽草，多年生草，山野自生，高二三尺，葉為羽狀複葉。夏月出花軸，花黃五瓣，實多刺，俗稱仙鶴草。治吐血頗效。《百草鏡》云：龍芽草生山土，立夏時展苗布地，葉有微毛，起莖高一二尺，寒露時開花成穗，色黃而細小，根有白芽，尖圓似龍芽，頂開黃花，故名金頂龍芽。一名鐵胡蜂，以其老根黑色形似之。《救荒本草》云：龍芽草一名瓜香草，生輝縣鴨子口山野間，苗高尺余，莖多澀毛，葉如地棠葉而寬大，葉頭齊團，每五葉或七葉作一莖排生，葉莖腳上，又有小芽葉兩兩對生，梢間出穗，開小圓五瓣黃花，結實毛蓇突，有子大如黍粒，味甜。《植物名實圖考》云：此草建昌呼為老鸛嘴，廣信呼為子母草，湖南呼為毛腳茵。以治風痰、腰痛。《滇南本草》謂之黃龍尾，味苦，性溫，治婦人月經前後紅崩、白帶，面寒，腹痛，赤白痢疾。考諸家學說，並採鮮草察視，再使園中種植，將其生長目睹形狀辨之，確是仙鶴草無疑。茲將目睹形態，再辨於下：</p>
<p>總莖圓，根如茜草根，根傍有白芽。葉互生，每莖七葉，尖端一葉，下六葉，兩兩對生，每對葉下有小耳葉兩對，亦對生。葉卵圓形，端尖，邊缺曲如鋸齒，葉面有糙毛。近根老葉枯萎，則紅縭色，性硬，不若別種草木葉枯時皆黃也。正莖直上。八月間莖端成穗，開五瓣黃色小花。九月結子，如小米。證諸實驗，與《百草鏡》、《救荒本草》、《中西醫話》之龍芽草亦相符合，治吐血、咯血皆效。徐君所云《仙鶴草非龍芽草辨》或誤以《百草鏡》之紫頂龍芽，或《李氏草秘》之石見穿。因仙鶴草開黃花，故曰金頂龍芽。紫頂龍芽開紫花，即馬鞭草也。《本草綱目拾遺》，龍芽草亦收於石打穿下。石見穿云即石打穿。據炳章詳細考證，龍芽草當分二種：金頂龍芽即仙鶴草，紫頂龍芽即馬鞭草，石打穿即石見穿，別有一物。茲將仙鶴草實驗形態，繪圖於後，以便考證。</p>
<figure>
<img data-orig-src="urn:270:10279.jpg" alt="仙鶴草圖">
</figure>

<h1>卷二</h1>

<h2>芳草部</h2>

<h3>藿香（一）</h3>
<p>偽名次藿香，氣味不香，不知何處所產。更有一種洋藿香，性味更別，葉梗皆然，用之無益而有害。按藿香產於嶺南交趾為正地道，故近日由廣東辦來者為良，氣味芬香，功能醒脾和胃，宣氣開鬱，最得天地之正氣。且方莖有節，中虛，葉似桑而小薄，用者當明辨之。</p>
<p>炳章按：藿香，本草名「兜婁婆香」，產嶺南為最道地。在羊城百里內之河南寶岡村及肇慶者，五六月出新，方梗，白毫綠葉，揉之清香氣繞鼻而濃厚。味辛淡者，名廣藿香，廣東省垣各山貨行，收買揀淨髮行，首推巨昌與泰昌為最道地。如雷州、瓊州等處產者，名海南藿香，即今所謂洋藿香也，其氣薄而濁，味辛辣燥烈，葉細而小，梗帶圓形，莖長，根重為最次。其他如江浙所產之土藿香，能趁鮮切片，烈日曬乾，貯於缸甏，使香氣收貯不走，入藥效能亦甚強，不亞於廣藿香也。</p>

<h3>土薄荷（二）</h3>
<p>土薄荷，色淡無香味，不若蘇州所蒔者佳，莖小，氣芳，方堪入藥。故陳士良《食性本草》謂之吳菝𦽅（菝𦽅，音拔活），可見薄荷以吳產者為上品。</p>
<p>炳章按：薄荷，六七月出新。蘇州學宮內出者，其葉小而茂，梗細短，頭有螺螄蒂，形似龍頭，故名龍腦薄荷，氣清香，味涼沁，為最道地。太倉常州產者，葉略大，梗亦細，一莖直上，無龍頭形，氣味亦略淡。有頭、二刀之分，頭刀力全，葉粗梗長，香氣濃厚；二刀乃頭刀割去後，留原根抽莖再長，故莖梗亦細，葉亦小，氣味亦略薄，尚佳。杭州莧橋產者，梗紅而粗長，氣濁臭，味辣，甚次。山東產者，梗粗葉少，不香，更次。二種皆為側路，不宜入藥。</p>

<h3>荊芥（三）</h3>
<p>荊芥，《本經》名假蘇。味辛性溫，臭香，處處有之，本系野生，今多栽種。近有一種偽品，並無香味，又安能治寒熱、破結聚、下瘀血而除濕疽乎？</p>
<p>炳章按：荊芥，三月出新。江南孟阿陸宛產者，莖細短，穗多色綠，為最佳。太倉出者，穗多氣香，亦佳。蕭山龕山出者，梗粗葉綠，穗少氣香，略次。江西，山東產者，梗粗，穗紅，不香；南京出，性硬；皆極次。其他各處皆出，總要梗紅穗多，葉綠氣香者為道地。</p>

<h3>蘇梗（四）</h3>
<p>蘇梗，即紫蘇旁枝小梗。《崇原》云：氣味辛平，無毒，主寬中行氣，消飲食，化痰涎，治噎膈、反胃，止心腹痛，通十二經關竅脈絡。近市肆有一種白蘇梗，即白蘇之梗，既去白葉，無從辨識。葉色既殊，梗性自別，不堪入藥，用者慎之。</p>
<p>炳章按：紫蘇，江浙皆出，紫梗空心，葉雙面皆紫。有皺摺紋如雞冠者，故名雞冠紫蘇，味辛，氣甚香，為最佳。又一種綠方梗，葉上面綠、下面紫，惟葉筋紫，氣微香而濁，俗為野紫蘇，最次，不入藥，乃蘇梗多屬野蘇之梗。蓋雞冠蘇梗，在五月間連葉帶梗嫩時割收，以作蘇葉，其梗未老已收，只可作嫩蘇梗之用。惟野蘇其葉不採藥用，任其留存，至九月間收子，以作蘇子，拔根以作蘇梗，其實皆野蘇梗也，為不道地。</p>

<h3>前胡（五）</h3>
<p>真前胡以吳興產者為勝，根似柴胡而柔軟，味亦香美。為疏風、清熱，化痰妙藥。聞有一種土前胡，其根硬，其心無紋，決不可服。</p>
<p>炳章按：前胡，十月出新，浙江湖州寧國、廣德皆出，顆大光白，無毛，性軟糯，氣香觸鼻者佳。若梗硬心白，即土獨活之類，與前衚衕類異種耳，為不道地。</p>

<h3>細辛（六）</h3>
<p>偽名洋細辛，形雖似而無味。按細辛氣味辛溫，遼，冀產者，名北細辛，可以入藥；南方產者名杜衡，其莖稍粗，辛味稍減，一莖有五七葉，俗名馬蹄香，不堪入藥。北產者，其莖極細，其味極辛。若此種粗而無味，先失命名之義，又奚有治病之功乎。</p>
<p>炳章按：細辛，六月出新。關東出者，為北細辛，根莖細，清白，氣辛，葉少梗多為最佳。江南寧國涇縣出亦佳，江寧、句容、滁州、白陽山等處出，皆次。亳州出者為馬細辛，山東出為東細辛，均次，不堪藥用。</p>

<h3>黃菊（七　附滁菊、白菊）</h3>
<p>黃菊，即黃色之茶菊，較家菊朵小、心多而色紫。杭州錢塘所屬各鄉，多種菊為業。九十月取花，挑入城市以售。有高腳黃等名色，味苦微甘，性平而香，去風除熱，明目疏肝，能清眩暈頭風。其浙省城頭一帶所產名城頭菊，皆野生城上石縫中，至秋開花，花小如茶菊，香氣沁脾，點茶更佳。聞有以本地園中所種之陶愛，一名滿天星偽充，形雖似而性不同，且少香味，又安能療病乎？</p>
<p>炳章按：菊花種類甚雜，惟黃菊產杭州、海寧等處，味苦兼甜，香氣甚雅，有蒸、曬二種。蒸菊，將鮮菊入蒸籠內，先蒸癟再曬，烘焙至燥，其色老黃，收藏朵瓣不散。曬菊，此鮮花烈日曬乾，其色嫩黃，朵松，花瓣易散，皆道地。城頭菊，野生城牆陰處，色黃，朵較少，浙名野菊花，亦蒸曬為善。味苦性涼，香氣亦佳，以散風清火，解毒消瘡腫。凡生危險疔毒，用野菊搗汁一大碗飲之，可免毒氣攻心。以燥花作枕，永免頭風瘡癤。其他如滁菊、白菊真贗關係，較黃菊猶重，為此再附辨之。</p>
<p>附：滁菊、白菊</p>
<p>炳章按：白滁菊出安徽滁州者，其採法先剪枝，連花帶葉倒掛檐下，陰乾後再摘花，故氣味更足。其花瓣細軟千層，花蕊小，嫩黃色，花蒂綠，尖小而平。氣芬芳，味先微苦後微甘。口含後，香氣甚久不散為最佳。出浙江德清縣者，花瓣闊而糙，蕊心微黃，蒂大柄臍凹陷，氣味香不濃，為略次。</p>
<p>又按：白菊，河南出者為亳菊，蒂綠，千瓣細軟，無心蕊，氣清香，味苦微甘為最佳。蘇州滸墅關出為杜菊，色白味甘，又出單瓣，亦佳。海寧出者，名白荼菊，色白瓣粗，心蕊黃，味甜，多茶葉店買，亦佳。江西南昌府出，名淮菊，朵小色白帶紅，味苦，氣濁，梗多，亦次。廈門出者曰洋菊，朵大而扁，心亦大，氣濁味甘，更次。</p>

<h3>金銀花（八）</h3>
<p>金銀花，甘平。除熱解毒，能和榮衛，療風養血，除痢寬脹，匪特為瘡科要藥也。隨地皆有，以河南所產為良。近有以黍花偽充，為禍最烈。黍花短小梗多，色黑不香為異，亦易辨已。</p>
<p>炳章按：金銀花，產河南淮慶者為淮密，色黃白，軟糯而淨，朵粗長，有細毛者為最佳。禹州產者曰禹密，花朵較小，無細毛，易於變色，亦佳。濟南出者為濟銀，色深黃，朵碎者次。亳州出者，朵小性梗更次。湖北、廣東出者，色黃黑，梗多屑重，氣味俱濁，不堪入藥。</p>

<h3>土玫瑰（九）</h3>
<p>玫瑰花，色紫，氣香，味甘，性微溫。入脾、肝二經。和血調氣，平肝開鬱。惟蘇州所產者，色香俱足，服之方能見效。近有以本地所生之土玫瑰及月季花陰乾混售，不可不知。</p>
<p>炳章按：玫瑰花產杭州莧橋者，花瓣紫紅，花蒂青綠色，氣芳香甚濃者佳。產湖州者，色紫淡黃紅色，朵長，蒂綠黃色，且有小點，香味淡，略次。蕭山龕山產者，桃紅色，味淡氣香而濁，受潮極易變色，為最次。且玫瑰花具有特性，人尿屎澆者，立死。凡正月終抽紅芽，剪新抽嫩條，每棵二三枝，種斜形，生根較易。次年其花盛開，根傍亦有嫩枝發出，隔二三年宜遷種換地。此花名離娘草，必須移東植西，方得起發。若同園有開紅花之果木，如石榴、薔薇等類，則滿園玫瑰，忌不開花。速將奪色之花遷遠，則玫瑰及時而開，亦其特性也。</p>

<h3>縮砂（十）</h3>
<p>偽名洋扣，味辣不香，色亦帶黃。更有一種廣扣，仁大味苦，均非真品。按縮砂仁產嶺南山澤間，近以陽春出者為佳，故一名春砂，狀似豆蔻，皮緊厚而皺，色黃赤，外有細刺，氣味甚香。胡得攙用洋扣、廣扣，魚目混珠，殊可恨也。</p>
<p>炳章按：縮砂即陽春砂，產廣東肇慶府陽春縣者，名陽春砂，三角長圓形，兩頭微尖，外皮刺靈紅紫色，肉紫黑色，嚼之辛香微辣，為最道地。羅定產者，頭平而圓，刺短，皮紫褐色，氣味較薄，略次。廣西出者，名西砂，顆圓皮薄，刺更淺，色赭黑色，香味皆淡薄，更次。鄭君所說「味辣不香」，或是西砂，必非洋扣，西砂圓形，惟殼與蔻不同，似難混充耳。</p>

<h3>土蜜砂（十一）</h3>
<p>縮砂仁在山採下，用蜜生浸，所以殺其燥烈之氣也。聞有以原殼砂水浸透，以蜜煮過，其性仍燥，用者慎之。</p>
<p>炳章按：近時之縮砂仁，外粉白色，內肉紫色，嚼之味辣，氣味香，皆廣西產，即西砂內仁也。其性質確燥，亦次，不若帶殼春砂之為道地也。</p>

<h3>小茴香（十二）</h3>
<p>偽名洋小茴，顆粒甚小，毫無香味，按茴香一名蘹香。有大小之別，小茴性平，大茴性熱，以寧夏產者第一，功能理氣開胃，調中止嘔，匪特為治疝聖藥。若此種不香之小茴，既失茴香命名之義，又安能治病乎？</p>
<p>炳章按：小茴，陝西、寧夏出者，其氣香，粒粗短，黃綠色者，道地，去灰屑及梗用。山東出，粒細色綠者次。</p>

<h3>川芎（十三）</h3>
<p>偽名洋川芎，形雖似而味薄，則功用自劣。按芎藭以四川產者為勝，故名川芎。氣味辛溫，根葉皆香。若此種洋川芎，味薄不辛，安能治病。更有一種南芎，只可煎湯沐浴，皆不堪入藥矣。</p>
<p>炳章按：本草一名芎藭，蜀省產地首推灌縣，有野生家種之分。其莖高二尺，葉如芹，分裂尤細。秋間開白花五瓣，為傘形，花序全體芬馥，其根即芎藭也。產地聚集成都，重慶者多，形大圓為撫芎。藍由縣出者，嫩小，曰藍芎。陝西出扁小，為西芎，皆次。浙江溫州及金華出，曰南芎，更次。川芎各處雖出，因地命名，除蜀產者外，皆不道地。近年蜀省產額頗廣，足敷全國所需求，所以除川芎外，他如藍芎、西芎、南芎等，現出產較少，已在淘汰之列。近年日本雖亦有產，其形似是而非，氣味尤惡劣，不堪入藥，國人亦無購之者。</p>

<h3>鬱金（十四）</h3>
<p>鬱金，辛苦微甘，氣寒，其性輕揚，上行入心及包絡，兼入肺經。涼心熱，散肝鬱，破血下氣。出川、廣，體銳圓如蟬肚，皮黃肉赤，色鮮微香。折之光明脆徹，苦中帶甘者乃真。今市中所售者多是薑黃，並有以蓬莪朮偽之者，俱峻削性烈，挾虛者大忌，用者慎之。況鬱金苦寒，色赤入心；薑黃辛溫，色黃入脾；莪朮味苦，色青入肝。胡得混售而貽害耶！</p>
<p>炳章按：鬱金，山草之根，野生也。兩廣、江西咸有之，而以蜀產者為勝。上古不甚重，用以治馬病，故又名馬術，因其形像莪朮也。自唐以後，始入藥料，治血證有功，本非貴重之品。清初吳亂未靖時，蜀道不通，貨少居奇，致價數倍，甚則以薑黃輩偽之者。然其形銳圓，如蟬腹狀，根杪有細須一縷，如菱臍之苗，長一二寸，市人因呼「金線吊蝦蟆」、「蟬肚爵金」是也。其皮黃白，有皺紋，而心內黃赤。剉開儼然兩層，如井欄，產四川重慶。惟本年生者嫩小而黃，若遺地未採，逾年而收，則老而深黯色，如三七狀，為老廣鬱金。然老鬱金治血證，化瘀削積之力勝於嫩者，若開鬱散痛，即嫩黃者亦效。乃近年傳黑者為野鬱金，黃者為假，並誤其為薑黃，殊不知此物本是野生。若薑黃皮有節紋，肉色深黃無暈，蓬朮色黑無心，最易辨也。然老鬱金雖產四川，近今名稱廣鬱金。所謂川鬱金，乃溫州產也，色黯黑，形扁亦有心，惟不香耳。</p>

<h3>子薑黃（十五）</h3>
<p>子薑黃，氣味辛苦而溫，是經種三年以上老薑所生。色黃入脾，兼治氣，匪特破血除風。聞有以黃北姜偽充，則貽害多矣。</p>
<p>炳章按：子薑黃，福建邵武出者，色黃，皮黃黑色，有節皺紋者佳。四川產者，名川黃，略次。江南北地產者，色深黃，作顏料用之。廣西柳州產者，形似蟬肚，色深黃兼黑者，次，作香料用之。</p>

<h3>片薑黃（十六）</h3>
<p>李時珍云：以扁如乾薑形者，為片子薑黃，治風痹臂痛有奇功。今肆中有偽品，即薑黃假充，粒大皮粗，味辣，內不結潤，非片子也，勿用為是。</p>
<p>炳章按：片薑黃與子薑黃，大小塊色皆不同。片薑黃比子薑黃大六七倍，切厚片，色淡黃兼黑，邊有鬚根。廣東潮州、浙江溫州俱出。</p>

<h3>丹皮（十七）</h3>
<p>偽名洋丹皮，肉紅，皮黑條大，何種草根偽充，本不可知。按牡丹始出蜀地山谷及漢中，今江南江北皆有，而以洛陽為盛。入藥惟取野生，花開紅白，單瓣者之根皮用之。氣味辛寒而香，皮色外紅紫，內粉白。乃心主血脈之要藥，奚容以贗品誤混，用者當買蘇丹皮為美。</p>
<p>炳章按：丹皮產蘇州閶門外、張家山閘口者，皮紅肉白，體糯性粉，無須無潮，久不變色，為最佳第一貨。產鳳凰山者，枝長而條嫩，外用紅泥漿過，極易變色，亦佳。產寧國府南陵縣木豬山者，名搖丹皮，色黑帶紅，肉色白起粉者，亦道地。滁州同陵及鳳陽府定遠出，亦名搖丹，有紅土、黑土之分。紅土者，用紅泥漿上，待後其土色紅汁侵入內肉，白色變紅，黑土乃本色帶紫，久遠不變，亦佳。產太平府者，內肉起砂星明亮，性梗硬，為次。以上就產地分物質高下，其發售再以支條分粗細大小，以定售價之貴賤。選頂粗大者，散裝本箱，曰丹王；略細小者曰二王；再下者作把，曰小把丹；最細碎作大把者，曰大把丹。其產地好歹與粗細以別道地與否，然皆本國出品，非外國貨也。</p>

<h2>隰草部</h2>
<p>（附水草、谷菽）</p>

<h3>熟地（一）</h3>
<p>地黃以懷慶所產為良。一經蒸曬，其色便黑，為熟地黃。以九蒸九曬，透心黑者為佳，中心微黃者次之。聞用紅白蘿菔，以地黃汁浸透曬乾假充，尤宜細辨。</p>
<p>炳章按：地黃六七月出新。淮慶出者，短圓如卵，細皮，性糯者道地。直地乃出新時壓扁捏長，以枝頭大小，分價目上下。天津出者，體長皮粗性梗，為次。細者，名細生地，或曰直皮。熟者，以生者洗去泥沙，蒸曬九次者佳。云以紅蘿葡做就偽充者，此屬理想之談，於形色氣味不符，豈可混充。又有鮮生地一種，杭州莧橋出者，長莖，根皮光黃白色，肉白微黃，肥長性糯者佳。河南出者枝亦長，黃褐色，肉白有硬筋，略次。此物以治血熱證，鮮用易爛。藏者掘一淨土窖，下用干沙泥襯底，面上貯生地一層，再夾沙一層，如是收藏，則少爛耳。</p>

<h3>牛膝（二）</h3>
<p>偽名洋牛膝，與懷牛膝色不同而性自異。按牛膝今時用根，味甘臭酸，其性微寒。惟懷慶及川中出者為真，根皆長大柔潤。近道雖有謂之土牛膝，別有治法，古方尚不用之，況此種洋牛膝乎？</p>
<p>炳章按：牛膝計有三種，功用各有專能。河南淮慶產者，曰淮牛膝，根長二三尺，肉肥，色黃白，皮光潔性糯，枝粗者佳。天津產者，皮黃粗糙，有軟刺不圓，性梗者次。四川產者，曰川牛膝，根莖粗無蘆，色黃黑，枝粗軟糯者良，去頭稍用。浙江各地出者，曰杜牛膝，紫梗綠葉，對節而生，葉頗類莧，根細短，含有滑汁，治喉症，能引吐惡痰毒痰，利小便。淮牛膝補筋健骨，滋肝腎之功。如牛之有力也，故名川牛膝，祛風利下焦濕。種類不同，效用亦異。</p>

<h3>紫菀（三）</h3>
<p>偽名次紫菀，又名硬蘆紫菀，服之往往愈見咳逆氣結，其害無窮。按紫菀，近道處處雖有出產，然色紫味苦，質極柔宛，若此種硬蘆，形質既殊，性味自劣。聞又有以車前及旋覆根，赤土染過混充者，更奚堪入藥乎。</p>
<p>炳章按：紫菀鳳陽府、亳州龍王廟四鄉出者，鬚根粗，軟糯，色紫紅，硬梗少者佳。河南淮慶府出，枝略細，軟糯，亦可用。湖北出者，性硬根細，泥屑重者次。偽者浙江尚少，因價賤，出貨亦多故耳。</p>

<h3>款冬（四）</h3>
<p>款冬花為治嗽要藥，十一二月開花如黃菊，雪積冰堅之時，款花偏豔。想見其純陽之品，故一名款凍。生河北關中，微見花未舒放者良。近今市肆多以枇杷花蕊偽充，雖無大害，然性不同，則功自異耳。</p>
<p>炳章按：冬花九月出新。山西太原出者，色紫紅無梗，為手瓣冬花，最佳；有梗者，曰上冬花，次之；梗多色黑紫者，曰中冬花，亦次；亳州出者，更次。考冬花花瓣，色紅紫光潔；枇杷花，色黃紫有茸毛，形態不同，最易鑑別。</p>

<h3>紅花（五）</h3>
<p>偽名洋紅花，形雖似而色不清，不知何物偽充。按紅花，即紅藍花。生梁漢及西域，今處處有之，人家場圃多種。花如大薊，色甚清紅。氣味辛溫，功能活血潤燥，止痛散腫，通經化瘀。易備之藥，亦至難信，有真方無真藥，良可慨已。</p>
<p>炳章按：紅花，三四月出新。河南歸德州出者，名散紅花，尚佳。亳州出者，亦名散紅花，略次。浙江寧波出者，名杜紅花，亦佳，皆紅黃色。山東出者，名大散花，次之。孟河出者，更次。河南淮慶出者，名淮紅花，略次。湖南產者，亦佳。陝西產者，名西紅花，較次。日本出者，色淡黃味薄，名洋紅花。又有片紅花，色鮮紅，別是一種紅花，鮮搗壓成薄片，曬乾，大紅染坊作染真紅用者多。河川出者名結子花，其色紅紫者佳。宴州出者為大結子花，此亦大紅染坊店所用。結子花，偽者以蘇木研末，用麵糊搗透，做成粒子，甚次，不如用杜紅花之為妥。又有西藏紅花一種，花絲長，色黃兼微紅，性潮潤，氣微香，入口沁入心肺，效力甚強，為紅花中之極品。</p>

<h3>沙苑子（六）</h3>
<p>沙苑藜蒺，俗名北沙苑。苦溫補腎，強陰益精明目。產陝西潼關者真，狀如腎子，微帶綠色。今市中所賣，有用紅花草子偽充，貽害匪淺。</p>
<p>炳章按：沙蒺藜，七月出新。陝西潼關外出者，名潼蒺藜，色紅帶黑，形如腰子，飽綻，性糯，味厚氣香，滾水泡之，有芳香氣者為最佳。亳州出者，曰亳蒺藜，細而且瘦，性梗，泡之無芳香者次。山東出者，名東蒺藜，色黃，粒扁粗大，性更硬，最次。揚州出者，為荷花郎郎之子，遍地皆有，土名草蒺藜，即南方紅花草子之子，不入藥用。</p>

<h3>車前子（七）</h3>
<p>車前草，《本經》名當道，《詩》云芣苢。好生道旁及牛馬足跡中，故有車前、當道及牛遺、馬舄之名。江湖、淮甸處處有之。主治氣癃，治濕痹。市中有大小車之別，大車為真品，小車系土荊芥子偽充，萬不可用。蓋車前甘寒，荊芥辛溫，性既相反，又奚容混售乎。</p>
<p>炳章按：車前子，江西吉安蘆江出者，為大車前，粒粗色黑。江南出者，曰土車前，俱佳。淮南出者，粗而多殼；衢州出者，小而殼淨，皆次。河北孟河出者為小車前，即荊芥子也，不入藥用，宜注意之。</p>

<h3>薤白（八）</h3>
<p>薤白，氣味辛溫，無毒。根如小蒜，色白者辛而不苦。近有以鬼蒜偽充，掰開無瓣。噫！薤白為處處皆有之藥，值亦甚賤，胡昧良者，偏以偽亂真乎？</p>
<p>炳章按：薤白各處皆產，生土墳上，即俗謂素蔥之根，葉如細韭菜，色綠，空心，根如小蒜頭。若採時去須莖，蒸熟曬乾，則質堅緊，不致脫皮，且曬之易燥。若生曬則質松，層層脫皮，且不易乾燥，故近今皆用蒸曬者多，惟偽者少見。</p>

<h3>石蓮子（九）</h3>
<p>蓮子至秋，黑而沉水，為石蓮子。用者去黑殼，以水浸，去赤膜青心，方可入藥。氣味甘平略澀，無毒。止虛瀉，療久痢，健脾開胃，又能固精氣。今市肆有一種苦石蓮，狀似土石，味極苦澀，不知何物偽充？或云：即樹上所生苦珠子之類。盧子由云：食之令人腸結。宜於建蓮子揀帶殼而色黑者為是，雖未能沉水，遠勝多矣。</p>
<p>炳章按：石蓮以霜降後蓮房枯散，而蓮子落於泥中取用，外殼硬，色黑，內肉仍與干蓮子同，味甜心苦，與蓮子無異。市有廣東產者一種木蓮，其色亦黑，兩頭略團，殼光有細橫圈紋，性寒味苦，為不道地。如無真者不如代用蓮子為妥。</p>

<h3>蒲黃（十）</h3>
<p>蒲，水草也。蒲黃，乃香蒲花中之蕊，屑細若金粉，始出河東澤中，今處處有之，以秦州出者為良。近今藥肆中，或以松花偽充。按松花氣味辛溫，蒲黃氣味甘平；松花能除風，蒲黃能消痰，性既不同，功亦各異，胡得偽充以害人乎？況失笑散中有用蒲黃，為治產後瘀血攻心之妙。方若用松花偽充，則貽誤不少矣。</p>
<p>炳章按：蒲黃乃蒲草之花蕊，色淡黃，是花茸、花蕊相合，名草蒲黃為佳。又有一種蘇州來者，曰蒲黃面，色老黃，屑細滑若粉，入罐煎之，如糊膠一般，服之令人作嘔，且不能入喉。吾紹初到時，人人以此為道地，各大藥鋪爭先置備，後因病人不能可服，向醫生責問，始識受蒲黃面之害，乃通告各藥鋪禁其沿用，今仍用草蒲黃。鄭君所云屑細若金粉，或亦是此物，不識以何物偽作，亦非松花粉。蓋松花粉色淡黃，質輕；蒲黃面質重，色老黃。然總是害人贗品，應當革除之。</p>

<h3>洋扁豆（十一）</h3>
<p>洋扁豆，顆粒較大，皮瘦色微赤，不堪入藥。當以蘇州所產色白者為勝。氣味甘，微溫，和中下氣。止泄痢，清暑氣，暖脾胃，除濕熱，止消渴，方有功效。</p>
<p>炳章按：扁豆，浙江杭州、湖州、紹興出者，開白花。其實要白而有光，體飽滿者佳。江南安慶、江西俱出，惟亳州出者，顆大扁形，名洋扁豆，為不道地。</p>

<h3>赤豆（十二）</h3>
<p>赤豆出江淮間，今關西、河北、汴、洛皆有。入藥以緊小赤黯者為良。氣味甘酸平，無毒。主下水腫，排癰腫膿血。今藥肆中有一種赤黑相間者，聞是相思子，每以偽充赤小豆。其謬已甚，夫既名為豆，豈可於五穀外求之耶？</p>
<p>炳章按：赤豆，浙江慈溪、餘姚、蕭山、龕山近沙地皆產之，粒小，細長如腰子，紫紅色，腰間有白紋如鳳眼，名杜赤豆。入藥能利小便，泄血分之濕熱，為最道地。又一種色紅赤，粒大團形，比黃豆略小，名紅飯豆，各處皆出，僅供食品，不入藥用。又一種名海紅豆，出海南，其子大而扁，今人亦誤作赤小豆，誠大謬矣。半紅半黑者，名相思子，俗呼赤小豆，屬木本植物，與梅冰性相合，能令香不耗散，故近今梅冰中，多拌有此物，服食須知云。相思子出嶺南，樹高丈餘，白色，其葉似槐，其花似皂莢，其莢似扁豆，其子似赤小豆，惟半截紅半截黑為異。今廣東擔子上，以線綴成串，或作首飾以貨之。其性味苦平，有小毒，能吐人及治貓鬼夜道病。俗又呼為雲南豆子，又能治蠱毒，除一切蟲。《搜神記》云：大夫韓憑妻美，宋康王奪之，憑自殺妻，投之臺下死。王怒，令塚相望，宿昔有文梓木生二塚之端，根交於下，枝錯其上。康王哀之，因號相思子。此說《段公路北戶錄》亦載之。</p>

<h1>卷三</h1>

<h2>毒草部</h2>

<h3>土大黃（一）</h3>
<p>大黃，《本經》謂之黃良，後人謂之將軍，以其有伐邪去亂之功也。古人以出河西、隴西者為勝，今以莊浪所產者為佳，故一名莊大黃。莊浪縣即古涇原隴西地，至川中所出有錦紋者亦可用。味苦氣寒，色黃臭香，紫地有錦紋，方堪入藥。若此種土大黃，中微淡不黃，只可用為香料。蓋其性不能通利，若誤服之，且能燥腸護穢，當細辨之。</p>
<p>炳章按：大黃，九十月出新。陝西、甘肅涼州衛出者，堅硬緊結、色黃、頭起錦紋似冰旋斑為最佳，故俗名錦紋大黃。河南西寧州出者，形狀與前相類似，質略鬆，或曰中大黃；四川出者空松，為馬蹄大黃，最次；山西亦出，名味黃，久而變黑，更次；皆不堪藥用。鄭君所云土大黃，或即此類也。</p>

<h3>附子（二）</h3>
<p>附子，以蜀地綿州出者為良。氣味辛熱，有大毒。主治風寒咳逆，邪氣寒熱，踒躄拘攣，膝痛不能行步。破癥堅積聚、血瘕金瘡。今陝西亦蒔植附子，謂之西附，性雖辛溫，而力稍薄，不如生於川中者土厚而力雄也。聞肆中有一種洋附混售，性味既劣，力量更遜，一經炮製，既難辨識，不免害人。更有一種臭附，尤不可用，慎之，慎之。</p>
<p>炳章按：附子，八九月出新。四川成都彰明產者為川附，底平有角，皮如鐵，內肉色白，重兩許者，氣全最佳。性潮，鮮時用鹽漬醃，蓋不醃易爛。然經鹽漬過，性味已失，效力大減，景岳先生已辨之詳矣。陝西出者為西附，黑色干小者次。</p>

<h3>天雄（三）</h3>
<p>天雄，氣味亦是辛熱，有大毒。《本經》主治稍異而旨則同。凡附子種在土中，不生側子，經年獨長大者為天雄，仍是蜀地綿州所產者為勝。近今每有以厚附偽充，施之重證必不能奏效矣。</p>
<p>炳章按：天雄與附子同物，亦產四川彰明者良。凡長大端正，不生側枝，獨長本身，每個在三兩上下者，即名天雄，非別有一物也。厚附片，乃四川鮮附子制而切片，不經咸漬洗漂，效力且比本漂淡附片勝數倍。凡用淡附片二錢，厚附片只能用一錢，因其力猛也。</p>

<h3>麻黃（四）</h3>
<p>麻黃，始出晉地，今滎陽、汴州、彭城諸處皆有之。氣味苦溫，無毒。春生苗纖勁直，外黃內赤，中空有節，如竹形，宛似毛孔，故為發表出汗聖藥。市肆有以蓆草偽充，氣味既別，力量毫無，重症用之，不免貽誤。</p>
<p>炳章按：麻黃，九十月出新。山西大同府、代州、邊城出者肥大，外青黃而內赤色為道地；太原陵坵縣及五臺山出者次之；陝西出者較細，四川滑州出者黃嫩，皆略次；山東、河南出者亦次。惟關東出者，細硬蘆多不入藥。若蓆草偽充，更為害人矣。</p>

<h3>北乾薑（五）（俗省作姜）</h3>
<p>土北姜，溫州所產，質松不結，味淡不辛。又有一種洋北姜，氣味尤劣，更不可用。按北乾薑，氣味辛溫，其色黃白兼見，仍手足太陰之溫藥也。凡制乾薑、炮姜，當以三衢開化產者為佳。用母姜水浸，曬乾。以肉厚而白淨、結實明亮如天麻者良，故又名白姜。近今藥肆，且有以傷水變味之生薑曬乾炮用，未免有名無實，誤人匪淺。</p>
<p>炳章按：乾薑，湖南均州出，小、雙頭內白色為均姜，最佳。浙江台州出者，為臺姜，個小，肉黃黑色者次。其他江南、江西、寧國、四川皆出，總要個大堅實、內肉色白為佳。</p>

<h3>高良薑（六）</h3>
<p>陶隱居言，高良薑始出高良郡，故得此名。《別錄》云：氣味辛，大溫，無毒。主治暴冷，胃中冷逆，霍亂腹痛。近有偽品色黑而暗，不黃，根瘦，無味，非高良所產，不可用，用之反有害矣。</p>
<p>炳章按：高良薑，廣東海南出者，皮紅，有橫節紋，肉紅黃色，味辛辣，為道地。出貨多，用途少，偽者鮮見。《南越筆記》云：高良薑出於高涼，故名。根為高良薑，子即紅豆蔻。子未圻，含胎，鹽糟，經冬，味辛香入饌。又云：凡物盛，多謂之寇，是子如紅豆而叢生，故名紅豆蔻。今驗此花深紅如灼，與《圖經》「花紅紫色」相吻合。花罷結實，大如白果，有稜。嫩時色紅綠，子細如橘瓤，所謂含胎也。老則色紅，即草木狀之生薑。《楚辭》之杜若也。</p>

<h3>川椒（七）</h3>
<p>川椒，《本經》名蜀椒，列於中品。產於巴蜀，顆如小豆而圓，皮紫赤色，皮厚而里白，味極辛烈而香。凡閉口者去之。近有土椒，色黑無味，又安能溫中散寒乎？</p>
<p>炳章按：花椒，山野自出，干高五六尺至丈餘，梗生小刺，葉為對生羽狀複葉。春日開小花，黃綠色，初夏結實圓小，始色青綠，熱則變赤，裂開香氣甚烈，即《本草》所謂之椒紅也。產地首推中州，名曰南椒，顆粒大，外紫里白，氣味濃厚，椒多目少，最佳。江浙間釀酒家皆需此。產於蜀者名川椒，產於秦嶺者名秦椒，顆粒略小尚佳。產于山東即墨縣者，名東椒，又名女姑椒，色紅黑，氣味較薄，為次；江淮間產者，名土椒，色青黑，粒小味淡，更次。</p>

<h3>吳茱萸（八）</h3>
<p>偽名洋吳萸，味較辛辣，顆粒又小，服之反有頭痛，貽害匪淺。按吳茱萸，江、浙、蜀、漢皆有，多生吳地，故名吳萸。味辛溫，有小毒。木高丈餘，葉紫色，似椿而闊厚，開紅紫花，結實累累成簇，似椒子而無核，嫩時微黃，熟則深紫，形色可辨。幸勿用洋吳萸，而貽害不少也。</p>
<p>炳章按：吳茱萸，上春出新。湖南長沙、安化及廣西出者，粒大梗亦多，氣味觸鼻，皆佳。浙江嚴州出者，粒細梗少，氣味略薄，亦佳。洋吳萸，氣味皆淡，不入藥用，惟近年絕少到。</p>

<h3>半夏（九）</h3>
<p>偽名洋半夏，形雖似而粒不圓，不知何物偽充，誤服有害。按半夏氣味辛平，有毒。青齊江浙隨處有之。生於澤中者，名羊眼半夏。總以圓白為勝，陳久者良。若此種洋半夏，殆亦由跋混充歟。由跋即天南星之小者，絕類半夏，幸勿誤用。</p>
<p>炳章按：半夏，三四月出新。杭州富陽出者，蒂平粒圓，色白質堅實，惟顆粒不大為最佳。衢州、嚴州出者，略扁，蒂凹陷，色白微黃，亦佳。江南出者，粒小；江北出者，如帽頂形，皆次。四川、荊州出者，粒圓而大，色白質松有筋，落水即胖大易腐，亦次。饒州、涇縣、揚州、泰興出者，皆松碎，不道地，不能切片，漂作半夏粉用尚可。福建出者，浸入水中即腐爛，更次，不入藥用。鄭君云：南星之小者，絕類半夏。但南星無論大小皆極扁，不若半夏之圓，以此分辨，不能可偽也。</p>

<h3>蘇戈夏（十）</h3>
<p>蘇製半夏，當以宋公祠所製為勝。因半夏性燥有毒，故用法制之，性較和平，去痰之功雖緩，然素體屬火者，頗見相宜。近今偽藥雜出，因蘇夏盛行，上海各處均有仿製。製法不同，功力自遜，而肆中所售土蘇夏者，系用半夏研末，調麵粉米泔疊為圓粒，假充上海蘇夏，以偽亂偽，殊堪痛恨。</p>
<p>炳章按：蘇州戈製半夏，不但各地仿製作偽，且現洋托民信局去購，亦多贗品。因該地信局，與偽半夏店訂有私約，與信局以重大回扣，而寄來仿單，亦屬相同，惟半夏色黯不香，無玉桂氣。戈老二房真者，其色黃亮，氣香有玉桂氣。欲購真者，必須托郵局匯洋掛號，寄蘇州閶門臨賴路戈老二房半夏店，則不致誤購偽品耳。且戈半夏方雖秘製，大約與《本草綱目拾遺》內「宋公夏」相類，有肉桂，性溫燥。炳章實驗治寒濕痰上壅氣喘，確效。凡治陰虛熱痰氣喘，苟誤服之，必因燥熱而咳血自汗，愈速其死矣。尤當注意之。</p>

<h3>商陸（十一）</h3>
<p>偽名次商陸，即俗所稱豬卜卜者，其性無從稽考，萬不可服。按商陸氣味辛平，有毒，主治水腫癰腫，殺鬼精物。近道所在有之，春生苗高二三尺，莖青赤，極柔脆，葉如牛舌而長；夏秋開花作朵，根如蘿蔔，似人形者有神。有赤、白二種，白根者花白，赤根者花赤。白者入藥，赤者毒更甚，俗名章柳，不可服，服之見鬼神。嗟嗟，同是一種，根色赤者，尚不可用，豬卜卜之異種乎。</p>
<p>炳章按：商陸，八九月出新，各處皆出。吾江浙市上通用白商陸，赤者不入藥，服之有消爍筋腎之毒，故勿餌。鄭君所云豬卜卜，不知其形狀若何？因未曾見過，不敢妄評。</p>

<h3>常山（十二）</h3>
<p>假者色極淡，真者色帶黃。按常山又名恆山，產益州及漢中，今汴西、淮、浙、湖南諸州郡皆有，生山谷間。常山者，根之名也，狀似荊根。細實而黃者，謂之雞骨常山，用之最勝。今市肆所買假常山，不知何物偽充，良可慨已。</p>
<p>炳章按：常山，十月出新。湖南常陽山出者，色黃無蘆，形如雞骨者良，俗稱雞骨常山，為最佳。如外黃內白粗大者，皆偽，是別種樹根偽充，不可不辨也。</p>

<h3>瀉葉（十三）</h3>
<p>瀉葉，產自外洋，性味和平，不傷中氣，為西藥通便妙品。聞市肆有以別種樹葉混售，匪特不靈，抑且有害。用者須向屈臣氏藥房購取，方不誤事。</p>
<p>炳章按：瀉葉，諸家本草皆未搜採。考《西藥略釋》「水瀉門」，有新拿，俗名洋瀉葉，產印度、埃及等處，高約二三尺，亦間有至七尺者，採葉用，形尖味苦不適口。功用能瀉大便，宜配別藥同服，或泡服，或作散末服。《西藥大成》名辛拿，類別有八種之多，其云印度替納勿里所產，其樹長，葉銳尖形，質薄色黃綠者，亦稱道地。有一種葉尖圓而厚，則屬贗品，其他辨論甚詳，不及備載。日本《藥物學撮要》名旃那葉，又名辛那葉，又名瀉葉。其普通狀態葉體扁平，而不反曲，質堅強而薄，帶黃綠色，葉柄甚短，邊緣平坦，頂端尖銳，枝脈為弧狀四分出。分甲乙兩種，甲種為披針形，長二五仙米至五仙米，幅達於二仙米；乙種較甲為小，為尖卵圓形，長一仙米至二仙米，幅達二仙米。本品為瀉利之實驗，近今多為瀉下藥用之。</p>

<h2>木部</h2>
<p>（附果木、香木、寓木）</p>

<h3>肉桂（一）</h3>
<p>真肉桂出桂陽山谷及廣州、交趾者最佳，必肉厚氣香，色紫黯，有油，味甘，嘗之舌上極清甜者，方可用。若嘗之舌上不清，及切開有白點者，是洋桂，大害人。洋桂尚不可用。近日有偽造肉桂者，聞用楊梅樹皮，其形似桂，曬乾，以薄桂熬取濃汁，浸潤透心，再曬再浸，以香油潤過，致色香即無以辨，屢以此等假桂遠販外府縣及窮鄉僻壤各小肆混售，害人無算，安得有心人，為之嚴行禁絕乎？</p>
<p>炳章按：肉桂為樟科樟屬植物，常綠喬木，種類甚多。產越南、廣西熱帶，當分數種：曰清化，曰猛羅，曰安邊（產鎮安關外），曰窯桂（產窯川），曰欽靈，曰潯桂。此總名也。又有猛山桂（即大油桂），曰大石山，曰黃摩山，曰社山，曰桂平（即玉桂），產雲南曰蒙自桂，產廣東曰羅定桂，曰信宜桂，曰六安桂。最盛產外國者，為錫蘭加西耶，皆名洋桂。</p>
<p>大抵桂之鑑別：一辨皮色，二辨氣味。辨皮之法，皆以形狀比喻，相似名之：曰荔枝皮，曰龍眼皮，曰桐油皮，曰龍鱗皮，曰鐵皮，曰五彩皮，曰硃砂皮，曰縐紗皮。皮以二色，惟野生無定形，總不外結。實、滑、潤、淨、潔六字為要。桂性直上，身如桄榔，直豎數丈，中無枝節，皮紋直實，肉如織錦，紋細而明者為上桂。然野生者，間有橫紋，其形狀必蒼老堅結，橫直交錯，斑點叢生，皮色光潤，紋細而滑，亦為野生佳品。若橫紋多而色紅，皮粗紋粗，如荊棘滯手，皆為下品。此辨皮色之大要也。辨氣，觀其土產皮色，既知其外，又須嗅其氣，嘗其味，以知其內。辨氣亦有六法：如醇、厚、馨、燥、辣、木蝨臭是也。凡試桂聞氣，以手摸桂肉數轉，聞之即知。如清化桂，則氣醇而馨；猛羅桂，則氣厚而馨；安邊桂，則氣馨而不燥；潯桂，或燥或辣，或氣如木蝨臭者；亦有氣醇而微帶木蝨臭者，若收藏年久，燥辣之氣消，惟木蝨臭卒不能革除；或有馨香，得人工所制，亦帶木蝨氣，皆屬偽種。要以馨而純，如花之清香不雜。若似花椒、丁香氣而燥，如山奈、皂角氣而辣，皆下品也。辨味、嗅氣之外，當試以味。試味之法，以百沸湯沖水少許，涼而嘗之。當分醇、厚、燥、辣，為四味，且湯汁入口，分辨較鼻嗅更易明，必須味醇厚不燥辣者為最佳。不辣之中，先以水辨其味，曰清，曰濁，曰淡茶色，曰米汁，曰乳汁，曰綠汁，曰白水。凡白水、淡茶色、清者，味必醇。惟米汁、乳汁、綠水，皆有清濁之分。清者味醇，濁者味燥。然紅水間，有清濁難分，必嘗其味厚而醇者，為野生猛羅之類；味燥者，為欽靈、潯桂之類。綠水亦不一類，如猛羅種，油黑者，水必綠，味多苦。亦有油薄者，水亦不綠；如潯桂之油濃者，則水亦綠，其味必兼燥。清化、安邊，其得氣清，其油必薄。神桂之油，雖亦厚薄不一，惟五味俱全，有甜辣苦酸，亦有甜馨，而馨總以微帶苦酸為正。總之，不得以油之厚薄為定，見水綠紅為貴賤，須要別其水之清濁、味之醇燥辛辣，斯可為分辨的確耳。再辨口刀：</p>
<p>（一）清化桂：荔枝皮，硃砂肉，刀口整齊，皮肉不起泡點，不見花紋，皮縮肉不凸，實而不浮，皮肉分明，或皮肉之界有線分之，曰銀線，最為清品。</p>
<p>（二）猛羅桂：龍眼皮，或五彩皮，或硃砂皮、縐紗皮。固有肉縮、肉凸、肉不起、泡點不現、花紋正而不浮，亦為正品。</p>
<p>（三）欽靈桂、潯桂（即窯桂）二種：皆粗皮橫紋，刀口邊口起泡，凸皮縮肉，凸紅色，泡點花斑皆燥烈，此為下品。</p>
<p>（四）神桂：桐油皮，龍鱗鐵甲，縐紗肉，氣厚而馨，味厚而醇，為野生神桂之正品。玉板桂，今之蒙自桂也，片平而厚，邊卷而淺，肉色黯黃，皮粗而厚，油脂不多，亦稱上品。他如皮色青黃，層卷如筒，亦名筒桂，即今安桂是也。又有官桂一種，桂枝即其枝也，出羅定，形如安桂，味淡性薄，卷作二三層者，皆次。</p>
<p>此辨桂之種類優劣，參考前哲名言，徵以實驗，約略從形態氣味言之，惟效用不及再詳。據鄭君所辨之種，皆非上品。如下品已賤，何必再作偽品，此我浙尚無之。</p>

<h3>杜仲（二）</h3>
<p>偽名洋杜仲，又名土杜仲，皮紅而厚，少絲。按杜仲之木，始出豫州山谷，得中土之精，皮色黑而味辛平，折之有白絲相連不斷，兼稟陽明、少陰金水之精氣，故《本經》主治腰膝痛，補中益精氣，堅筋骨，強志，除陰下癢濕，小便餘瀝。若此種洋杜仲，皮色既紅，則性味自別，又安可用乎？</p>
<p>炳章按：杜仲，乃樹之膜皮也。其樹之葉作倒矗之卵形，端尖，但能剝杜仲之樹幹，非高數丈，大可一二人抱者不可。考其年齡，在數十年者，割剖之時間，自五月至九月，過此則不易分剖矣。其皮在根間者，厚松而次；在中段者，皮厚細糯為佳；枝杈以上，皮雖細極薄，效力亦弱矣。產四川綏定、洛陽者，體質堅重，外皮細結，內皮光黑，中層絲厚，扯之韌長如絲者，最佳。巴河產者亦佳。貴州及鄂之施南、湘之寶慶等處產者，皮粗質輕，皆次。浙之溫、臺與閩省，質松皮粗，內層絲皮其薄，皆不道地。</p>

<h3>黃柏（三）</h3>
<p>（柏，古字作蘖，今省筆作柏）</p>
<p>黃柏，本出漢中山谷，今以蜀中產者皮厚色深黃為佳。樹高數丈，葉似紫椿，經冬不調，皮外白里深黃色。入藥用其根，結塊如松下茯苓，氣味苦寒無毒。近有一種偽品，色黃而黑，味竟不苦，不知何物假充，用之得無害乎？</p>
<p>炳章按：黃柏，四川順慶府南充縣出者為川柏，色老黃，內外皮黃黑，塊片小者，佳，可作染料用。湖南及關東出者，為關柏，塊片甚大而薄，色淡黃者，次。東洋出者，為洋柏，色亦淡黃，質松，更不入藥。</p>

<h3>枳殼（四）</h3>
<p>偽名洋枳殼，不知何種果實偽充。或云六七月採小香欒，偽為枳實、枳殼；或云採枸橘混充。又福州多橘，土人於夏秋間橘子未大，經風雨搖落者，拾而曬之，偽充枳殼，性既不同，誤用有害。按《周禮》云：橘逾淮而北為枳。今江南枳、橘皆有，江北有枳無橘，江西多枳，不僅逾淮而始變也。七八月採者為枳實，九十月採者為枳殼。氣味苦酸，微寒，臭香形圓，花自多刺，穰內黃白，皮色深綠，故又名綠衣枳殼。主散留結，胸膈痰滯，逐水消脹滿，能瀉上焦氣分實邪，為治病要藥。若以偽品混售，真草菅人命矣。</p>
<p>炳章按：枳殼、枳實，為老嫩、大小之分別。江西沙河出者，細皮肉厚而結，色白氣清香而佳，龍虎山出者亦佳。四川出者，名川枳殼。色黃肉厚，味帶酸，次之。江浙衢州出者，皮粗色黃，卷口心大肉薄，亦次。浙江黃埠出者，肉鬆而大，有燈盞之名，更次，洋枳殼者，或即此也。七八月採者，小而嫩、肉厚，干之黑褐色，為枳實；九十月採者，殼大、肉略薄、色白，為枳殼，每個對切為兩，皆以翻肚如盆口唇狀，須陳久者良。近時有一種臭橘，形亦相似，其氣惡濁，不堪入藥。</p>

<h3>化橘紅（五）</h3>
<p>按《嶺南雜記》「化州仙橘」：相傳仙人羅辦種橘於石龍之腹，惟此一株，在蘇澤堂為最，故梁氏家藏蘇澤堂化州橘皮，著有「橘紅歌」，歌長不錄。產清風樓者次之，紅樹者又次之。其實非橘，皮厚內酸，不可食；其皮釐為五片或七片，不可成雙，每片真者可值一金。前朝每年所產，循例具文報明上臺，屆期督撫差親隨跟同採摘批制。官斯土者，亦不多得。彼土人云：凡近化州得聞譙樓更鼓者，其皮亦佳。故化皮贗者多，真者難得。關涵《嶺南隨筆》有云：化州署橘樹，一月生一子，以其皮入藥，痰立解，後為大風所折，即其地補種，氣味更殊。今稱化州橘紅者，率以增城各處所出香柚皮偽代之，氣味辛溫而烈，氣虛及有火者，萬不可服，服之即有害。昔豐順丁中丞撫閩時，贈化州橘皮一個，計五片，皮薄，色黯黃，微有毛孔，氣香味甘。且語：先君云，此予官化州學時，署中檻前一株，每年只產數枚，朝夕調護，寶而藏之。且云近化州得聞署中更鼓者，尚可用，舍此皆贗物也。今肆中辦有一種皮厚色綠者，皆柚皮偽充，醫者處方，幸勿輕率頻疏「綠毛化」及「化州皮」等名，徒服偽藥，於病鮮濟。不如只用陳久橘皮較為穩當，願與同志商之。</p>
<p>炳章按：梁紹壬云：化州橘樹，乃仙人羅辦種於石龍腹上，共九株，各相去數武，以近龍井略偏一株為最。井在暑大堂左廊下，龍口相近者次之，城以外則臭味迥殊矣。廣西孝廉江樹玉著《橘紅辨》謂：橘小皮薄，柚大皮厚；橘熟由青轉黃，柚熟透綠轉黃。間常坐臥樹下，細驗枝葉香味，明明柚也，而混呼之曰橘，且飾其皮曰紅，實好奇之過云。或有云，近龍井下有礞石，礞石能化痰，橘樹得礞石之氣，故化痰力更勝。《識藥辨微》云：化橘紅近日廣中來者，皆單片成束，作象眼塊，或三十五十片，兩頭以紅繩紮成一把。外皮綠黃色，內腹皮白色，周身有豬鬃皮，此種皆柚皮，亦能消痰，此近今名白毛紅。又一種為世所重，每扎十片如爪，用化州印，名五爪橘紅，亦柚皮所制，較掌片略佳，究之較真者遠甚也。真化州橘紅，煎之作甜香，取其汁一點入痰盂內，痰變為水，此為上品，如梁氏家藏蘇澤堂橘紅，每一個七破，反折作七歧，曬乾氣甚香烈，此亦上品也。近今通行有黃色、綠色兩種，均七歧對摺，質薄有毛，黃色較綠色尤貴，雖非真品，皆屬柚皮之類，然用於寒痰、濕痰病尚效。凡屬陰火熱痰，及肝火爍肺涎痰，皆忌。誤用之反增劇，甚則咳血，不可不知也。</p>

<h3>橘絡（六）</h3>
<p>橘絡，即橘瓤上筋膜。《日華子》謂：口渴，吐酒，煎湯飲之甚效。張隱菴云：能行胸中之飲，而行於皮膚，故又能疏達絡氣。貨缺之時，聞價值甚昂。射利之徒，用白萊菔細切如絲，曬乾，以橘皮煎濃汁浸潤，再曬偽充，橘絡色香，幾無以辨。巧則巧矣，如斲喪天良何？</p>
<p>炳章按：金御乘雲：橘絡能宣通經絡滯氣，予屢用以治沖氣逆於肺之脈脹，甚有效。趙恕軒云：通經絡氣滯脈脹，驅皮裡膜外積痰，活血，此其效用之實驗也。其產地亦有多種，如出廣東者，名廣橘絡，色白，條細，蒂少；出浙江衢州，名衢橘絡，色白，絡細長，皆佳；出四川者，色白黃，絡粗，略次；出臺州者，名臺橘絡，絡細少，帶蒂，為最次。</p>

<h3>內製陳皮（七）</h3>
<p>蘇州宋公祠創制陳皮醬，為理嗽化痰妙藥，馳名天下。近上海多有偽品，尤而效之，即福州亦有偽製假充，味辛辣，雖甜不潤，其色粗淡，不堪入藥，誤服之反見咳嗽，勿用為是。</p>
<p>炳章按：《百草鏡》制青鹽陳皮，即蘇州宋公祠之遺法也，能消痰降氣，生津開鬱，運脾調胃，解毒安神。方用陳皮二斤，河水浸一日，竹刀輕刮去渣白，貯竹筐內，沸湯淋三四次，用冷水洗淨，不苦為度，曬之半乾可得淨皮一斤。初次用甘草、烏梅肉各四兩煎濃汁拌，日曬夜露，俟酥捻碎如豆大，再用川貝母去心四兩。青鹽三兩，研為細末，拌勻，再曬露，候乾取貯。或名參貝陳皮，亦同此法。</p>

<h3>木瓜（八）</h3>
<p>偽名洋木瓜，大粒長式，光皮黑色，不知何種果實偽充，萬不可用。按木瓜處處雖有，當以宣城產者為勝，陳久者良，氣味酸溫，皮薄，色黃赤，味極芳香，能調榮衛，助穀氣，平下利腹痛，去濕和胃，及濕痹腳氣、霍亂轉筋等證。聞又有木桃、木李，形質頗相似，亦可偽充，用者當求真品也。</p>
<p>炳章按：木瓜為落葉灌木之植物，干高五六尺，葉長橢圓形，至春先葉後花，其花分紅白兩種，頗美豔，秋季結實，長圓形。產地首推浙江淳安縣，名淳木瓜，最佳，外皮縐紗紋，色紫紅，體堅結，肉厚，心小，個勻。湖北宣城產者，名宣木瓜，體結色紫，紋皺，亦佳。其餘紫秋巴東、濟南等處所產，雖亦有佳種，然不及以上兩處之美。四川綦江縣產者，名川木瓜，質松，色黃，皮粗糙，無細紋，個大而肉薄，亦次。福建產者，色黃而大，味香，不入藥用。又一種紅梨，皮光肉結實者，亦偽充木瓜，不堪入藥。如鄭君所云，木桃、木李，或即此類，宜慎辨之。</p>

<h3>烏梅（九）</h3>
<p>造烏梅法，系取青梅籃盛於灶突上燻黑，若以稻灰淋汁，潤濕蒸過，則肥澤不蠹。近有以小李偽造充售，則無益而有害矣。</p>
<p>炳章按；烏梅，杭州出者，肉厚、核小、色黑、性潮潤者，佳。紹興楓橋出者，性燥、核大、肉薄、色黑微黃者，略次。別處亦出，總要肉厚、色黑、性糯為佳。</p>

<h3>沉水香（十）</h3>
<p>真黑沉香，以海南黎峒所出者為勝，最不易得，次則真臘，次則交、廣、崖州等處。入藥須取色純黑、質不枯、硬重能沉於水者為上，半沉者次之。近有以老束香有紫油者偽充，性燥烈，質重不能沉水，誤人匪淺。</p>
<p>炳章按：《南方草木狀》云：交趾有密香樹，干如柜柳，其花白而繁，其葉如橘，欲取香，伐之。經年，其根、干、枝節，各有別色也。木心與節堅黑沉水者為沉香；與水面平者為雞骨香；其根為黃熟香；其餘為棧香；細枝堅實未瀾者為青桂香；其根節輕而大者為馬蹄香，其花不香；成實乃香為雞舌香。同出一樹，皆珍異之物也。《香譜》云：沉水香出天竺、單于二國，與棧香、雞骨同出一樹，其葉似橘，經冬不調，夏生花白而圓細，秋結實如檳榔色紫，似椹而味辛，樹皮青色，木如櫸、柳，重實黑色沉水者，即沉香。今復有色黃而沉水者，謂之蠟沉丁。《香傳》云：香之類有四：曰沉，曰箋，曰生結，曰黃熟。其為類也有二。沉香得其八焉：曰烏文格，曰黃蠟，曰牛眼，曰牛角，曰牛蹄，曰雞頭，曰雞腿，曰雞骨，皆為沉香也。雞骨香以其枯燥清浮故名，青桂香即沉香黑斑者也。《倦遊雜錄》云：沉香木嶺南諸郡悉有之，瀕海州尤多，交干連枝，崗嶺相接，數千里不絕。葉如冬青，大者合數人抱，木性虛柔，山民或以構茅屋，或以為橋梁，為飯甑尤善。有香者百無一二。蓋木得水方結香，多在折枝枯乾中，或為沉，或為煎，或為黃熟。自枯死者，謂之水槃香。今南恩、高竇等州，惟產生結香。蓋山民入山見香木之曲干斜枝，必以刀斫之成坎，經年得雨水所漬遂結香，復以鋸取之，刮去白木，其香結為斑點，亦名鷓鴣斑，燔之甚佳。沉香之良者，惟在瓊、崖等州，俗謂角沉，乃生木中取者，宜用熏裛，黃熟乃枯木中得之，宜入藥用，其依木皮而結者，謂之青桂香，氣尤清。在土中藏久，不待刓剔而精者，謂之龍鱗。亦有削之自卷、咀之柔韌者，謂之黃蠟沉香，尤難得，此即伽楠香也。</p>
<p>《鐵圍山叢談》云：香木，初一種也，膏脈貫溢，則其結沉實，此為沉水香也。其類有四：謂之氣結，自然其間凝實者也；謂之脫落，因木朽而自解者也；謂之生結，先以刀斧傷之，而後膏脈凝聚其間也；謂之蠱漏，因傷蠹而後膏脈亦聚也。四者以自然脫落為上而其氣和，生結蠱漏則其氣烈為下焉。其外則有半結半不結，為弄水沉，因其半結則實而色黑，半不結則不實而色褐，有謂之鷓鴣斑是也。復有名水盤頭，其結實厚者，亦近乎沉水香。但香水被伐，其根盤必有膏脈湧溢，故亦結，但數為雨淫，其氣頗腥烈，雖有香氣，不大凝實，謂之箋香。三者其產占城國，不若真臘國，真臘不若海南黎峒，又皆不若萬安、吉陽兩軍之間黎母山，至是為冠絕天下之香，無能及之矣。范成大曰：沉水香上品出海南黎峒，亦名土沉香，少大塊；其次如繭粟角，如附子，如芝菌，如茅竹葉者，皆佳。至輕薄如紙者，入水亦沉。香之節，因久墊土中，滋液下向，結而為香，採時而香悉在下，其揹帶木性者乃出土上。環島四郡果皆有之，悉冠諸蕃所出，尤以出萬安者為最勝。蓋萬安山在島之正東，鍾朝陽之氣，香尤醞藉豐美。大抵海南香，氣皆清淑，焚一博許，氛翳滿室，四面悉香，至煤盡氣亦不焦，此南海香之辨也。占城、真臘等香，近年又貴，丁流眉來者，予試之，乃不及海南中下品。舶香往往腥烈，意味又短，帶木性，尾煙必焦。海北生交趾者，蕃舶皆聚欽州，謂之欽香，質重實，多大塊，氣尤酷烈，難可入藥，南人賤之。蓬萊香者，亦出海南，即沉水香結未成者，多成片如小竺及大菌之狀，有徑一二尺者，極堅實，色狀如沉香，惟入水則浮，刳其揹帶木處，亦多沉。鷓鴣斑香，亦得之於海南，沉水蓬萊及絕好箋香中搓牙輕鬆，色褐黑而有白斑點點，如鷓鴣臆上毛，氣又清婉如蓮花。箋香出海南，香如蝟皮慄蓬及漁蓑狀。蓋修治時雕鏤費工，去木留香，棘刺森然。香之精鍾於刺端，芳氣與他處箋香迥別。《黎岐紀聞》云：沉水香，俗人以為海南寶，牛角沉為最上，細花次之。粗花又次之。其有成片者，渾沌形類帽者，為帽頭沉；蟲蝕而有蟲空者，為蟲口沉，象形取義，各不同也。又有一種曰飛香，如牛筋飛、大練飛、苦瓜飛、麻雀飛等。其形各殊，命名亦異。然飛香內亦有牛角沉、細花、粗花之分，未可概論，大概各香以沉水不沉水分貴賤耳。然香之出也有神，黎中人往往于山內偶遇香，用草縛其樹以作記，急取斧斤砍之，及再至其處，則草移別樹，而原香亦不可復得耳。</p>
<p>綜觀諸賢辨香之產地、結香之原因、香類之鑑別，已闡發無遺，毋庸炳章再辨矣。茲據前賢所名牛角沉，即今之墨沉，最上品是也。所謂鷓鴣斑、蓬萊香、帽頭沉、蟲口沉，即今之將軍帽、魚片沉之類是也。今之所謂毛沉者，實為前賢所謂香外削去之木也，為最次，不入藥用，不可不知也。</p>

<h3>降真香（十一）</h3>
<p>降真香以舶上來者為番降，色紫而潤，最為真品。近市肆竟以蘇木煨半透偽充。蘇木雖似降真，但降真氣味辛溫，能止血；蘇木氣味甘平，能破血。性既相反，功又懸殊，用者宜細辨之。</p>
<p>炳章按：朱輔山云：真降本出南海山中，今溪峒僻處所出者，似是而非，勁瘦不甚香。《真臘記》云：降香生叢林中，番人頗費砍斫之功，乃樹心也，其外白皮厚八九寸，或五六寸，焚之氣勁而遠。《稽含草木狀》云：紫藤，長莖，細葉，梗極堅實，重重有皮，花白子黑，其截置煙焰中，經久成紫香，可降神，故名降香。按紀氏所說，與前說稍異，豈即朱氏所謂似是而非者乎？抑中國出乎？與番降不同乎？鄭君所云或南降乎？惟蘇木混充，恐非事實。蓋降香色紫黑堅緻，氣香，有辛辣氣。蘇木色黃微紅，質脆松，氣微香，如柏樹氣，形色氣味，皆有不同，且降香出貨亦多，價值低廉，恐不易混充耳。</p>

<h3>乳香（十二）</h3>
<p>乳香，一名薰陸香，苦溫辛香，善竄入心，活血舒筋，生肌止痛，能通行十二經。西出天竺，南出波斯等國。圓大如乳頭，明透者良，為瘍科要藥。今市肆多以楓脂、松脂混充，誤人不少。</p>
<p>炳章按：乳香出暹羅等處，為薰陸樹之脂，以透明黃亮、形如乳頭者為滴乳香，最佳。去油，以水煎烊，去底腳皮滓，投入冷水內，乳香則凝結成顆粒如黃豆，沉於水底，油得如脂，則浮於水面去之，以此製法，為最道地。炒之則油仍不淨，且增火氣。又一種名包乳，色黃如粉屑，砂石攙和甚多，價雖較廉，然貨次，不堪藥用耳。</p>

<h3>梅冰片（十三）</h3>
<p>（附假黃三仙、熟老片）</p>
<p>偽名樟片，即樟腦，用西法提出偽充。按冰片，《唐本草》名龍腦香，以白瑩如冰，及作梅花片者為上品。氣味辛苦微寒，無毒，故喉症、目疾、痔瘡、外科多用之，且功能通諸竅，散鬱火。若樟腦之性辛溫，判若天淵。更有一種熟老片，系將洋樟片攙用，以偽亂真，害人匪淺。近日黃三仙，且有陶黃研末攙入者，此又不可不知矣。</p>
<p>炳章按：梅冰，一名龍腦，產大泥者，色白光亮，片薄，最佳。文萊出者，色亦白，光略呆，略次。呷喇叭出，色呆，片厚，有木屑攙雜，次。麻城丁家路、呂宋龍門泊等處出，皆次。廣西百色縣蒸熬大楓葉，以煉液結晶成粉，為製冰片之原料，曰艾片，亦偽作冰片，惟治疥瘡，能殺蟲，闢臭穢亦佳，只可作外治藥用，凡合丸散內服藥及眼藥內，切不可充用，有毒，用之害人匪淺。又一種樟冰，用樟腦同薄荷升煉，亦只能用於殺蟲瘡藥，重要丸散亦不可用，此皆偽貨也。《化學易知》云：龍腦亦樹液也，樹上鑽空，其汁流出而自結，取而蒸之即得。但其性與樟腦不同，更能飛散香氣，顆粒皆不同，此為長方形，樟冰為八面形。龍腦原質比樟冰多輕氣二分。大抵真者別頭梅、二梅、三梅，以片之粗細分貴賤耳，惟四梅片細，質不純，為最次，不宜合藥用。再冰片忌與酒同服，若與酒同服錢許，即正氣散亂，血脈沸騰，必致七竅流血，須臾而死。凡中其毒者，宜即飲新涼水，毒自解。</p>

<h3>琥珀（十四）</h3>
<p>琥珀出西番、南番，及松樹、楓木津液墜地，多年所化。色黃而明瑩者，名臘珀；色若松香，紅而且黃者，名明珀；有香者，名香珀。出高麗、日本者，色深紅。凡中有蜂、蟻、松枝，形色如生者，尤好。當以手心摩熱，拾芥為真，氣味甘平，無毒，能安五臟，定魂魄，消瘀血，通五淋。近有以松脂偽造混售，松脂氣味苦溫，性不同則功自別。</p>
<p>炳章按：《南蠻記》云：寧州有折腰峰，岸崩則蜂出，土人燒治，以為琥珀。常見琥珀中有物如蜂形，此說亦難憑信。《列仙傳》云：松柏脂入地，千年成為茯苓，茯苓化為琥珀。今泰山出茯苓而無琥珀，益州永昌出琥珀而無茯苓，亦無實據。或言龍血入地為琥珀，或言虎死時，目光淪入地生琥珀，故又名虎魄，此屬無稽神話，更無價值可言。《元中記》言：松脂入地為琥珀。《廣志》云：哀牢縣生有琥珀，生地中，其土及旁不草，深者八九尺，大者如斛，削去外皮，中成琥珀，初如桃膠凝結成也。《滇志》云：雲南麗江出者，其產地旁不生草木，深八九尺，大者如斗，削去外皮，中成琥珀。紅大明透者為血珀，最佳；黃嫩者力薄，為金珀，次之。今蠻地莫對江猛拱地產此，夷民皆鑿山而得，與開礦無異。《滇南雜誌》云：琥珀產緬、爨諸西夷地，以火珀及杏紅血珀為上，金珀次之，蠟珀最下，供藥餌而已。又云：珀根有黑，有白，有如雀腦。據諸家所說，最屬礦物質無疑。《化學易知》云：琥珀為地內變化之松香，內含數種松香之質。史廷颺說琥珀云：琥珀為松柏等脂液埋置土內，日久遂成化石，雖云礦物，仍胚胎於植物者也。其成分純屬有機化合，平均百分中含炭素七八.九四、水素一○.五三、酸素一○.五三，又往往有小蟲肢體混合其內，是必當時蟲類飛行，適觸流動狀之脂液中，陷入不復得脫（《南蠻記》所說，或此類歟），遂並而為一焉。色黃而赤，又有呈褐色者，豔紅與黑，殆所罕見，則體為不規則狀，多小顆。德國柏林博物館所藏重量達十八磅，洵世界最大之產物也。性脆為半透明體，重量極低，與水相若，倘置於一另五、一另九之海水中，則浮而不沉。硬度二乃至二五，較石膏猶過之；以銅片擦之，則易損傷；以布摩之，生強電氣，能引紙片、毛髮等，但傳熱極鈍；加熱至攝氏百五十度而始柔軟，二百度至三百度而始溶解；若投於火，最易燃燒，放黃焰與香氣，其殘餘之灰燼，適如海綿狀之炭物質，亦一奇觀也。其生產地在北德之波羅的海濱，就中摩麥旦澤間，產額最多。其狀態可分為二：其一屬第三紀之下部漸新統，與褐炭層俱現，為母床，其二過海波之衝擊，及風雨冰雪之作用，離母床，雜海沙而漂積。其產於海濱者，稱海琥珀，質純而均，歷久不變色，比之山產實遠過之。一千八百六十年頃，撒謨蘭島發見琥珀母床後，其坑道近傍常有天然露出者，與前紀之海濱產，同為北德之特色，此係德國產之琥珀。科學之研究也，更據中國產之琥珀，以藥用者之鑑別，以深紅明透。質鬆脆者為血珀，最佳。廣西產者，色紅明亮為西珀，亦佳。黃嫩者次之，金珀更次。廈門產者，色淡黃有松香氣，為洋珀，更次。他如雲、貴邊省，人死以松香櫬填材底，伏土深久，松香由黃轉黑，土人名曰老村香，以充琥珀，年久古墓中往往發見之，然色黑，無神光，仍含松香氣，為最次，不入藥用。欲辨真偽，試將琥珀摩擦之，能發電氣拾芥者真，偽者不發電氣，放樟腦臭。置酒精中最易浸入，以刀削之成粉。凡安心神、定魂魄，宜生用，與燈芯同研，去燈芯。眼科宜入豆腐內煮用。</p>

<h3>茯苓（十五）</h3>
<p>茯苓，當取整個切片，照之微有筋膜者，真，切之其片自卷，以結白為上。近來有一種鏡片，多以米粉和苓末假造混充。聞又有以米粉包裹松根造成整個者，亦宜細辨。</p>
<p>炳章按：宗奭曰：茯苓生於多年大松之根，乃松之精氣盛而抑鬱，發泄於外，結為茯苓，故不抱根，離其本體有零之義也。精氣不盛，止能附結本根，既不離本，故曰獲神。《淮南子》云：千年之松，下有茯苓，上有菟絲。宗奭曰：上有菟絲之說，甚為可信。時珍曰：下有茯苓，上有靈氣如絲之狀，土人亦時見之，非菟絲也。《典術》云：松脂入地，千年為茯苓。望松樹赤者，下有茯苓，此皆言天然野生之茯苓，其生長在十年或數百年不等，得松之精氣足，其皮黑皺，其肉堅緻結合，不論何地產，皆為佳品。惟雲南產，天然生者為多，亦皮薄起皺紋、肉帶玉色、體糯質重為最佳，借乎出貨不多。其他產臨安、六安、於潛者，種苓為多，其法用本地天產鮮茯苓，搗碎如泥，種於肥土山葉茂松根上。先將松根傍離根二尺余，掘去泥土至見松根，將茯苓屑每株約一兩，以竹箬裹附松之支根上，閱半年，施肥料一次，至三年起掘，則成二三斤重量之茯苓。然其生結不在原種根上，隨氣息止而結苓，往往有種於西杈根而結苓在東杈根，間有種而不結者。且松根下結苓，而葉必萎黃，或發紅色，此即松之精氣，收聚凝結為苓也，故土人望而即知其謂有苓。種苓外皮鬆浮而厚，內肉鬆而不堅結，色白無神，即種苓也，為次。凡茯苓有筋者去之。雷斆云：茯苓有赤筋者，誤服令人目中有星，多服致目盲，服茯苓者注意之。</p>

<h3>茯神（十六）</h3>
<p>茯神，真者木心，或在旁，或在中，亦不止一心，切開有筋膜者是也。假者木心在中，且止一心，而無筋膜。</p>
<p>炳章按：茯神，即茯苓之抱木中心者。茯苓乃得松之氣，自作塊而大，不附著根，其抱根而生者，茯神也。其餘鑑別法詳前茯苓條下。</p>

<h3>血竭（十七）</h3>
<p>血竭，一名麒麟竭，甘、咸，平。色赤專入血分，散瘀生新，止痛生肌，善收瘡口。《南越志》云：麒麟竭是紫礦之脂也，出南番。欲驗真偽，但嚼之不爛如蠟者為上，磨之色透指甲者方真。今有以海姆血偽充者，味大咸，有腥氣，不堪入藥，須明辨之，毋為所誤。</p>
<p>炳章按：蘇恭曰：：麒麟竭，樹名渴留；紫礦，樹名渴稟，二物大同小異。馬志曰：二物同條，功效亦別。紫礦色赤而黑，其葉大如盤，礦從葉上出（炳章按：紫礦俗名紫草茸，乃此樹上蟲所造成，故《綱目》列入虫部）。麒麟竭色黃而赤，從木中出如松脂。頌曰：今南番諸國及廣州皆出，木高數文，婆娑可愛，葉似櫻桃而有三角。其樹脂從木中流下，滴下似膠飴狀，久而堅凝，乃成竭，色作赤色。採無時。舊說與紫礦相類，而別是一物，功力亦殊。《一統志》云：血竭樹略似沒藥樹，其肌赤色。採法亦於樹下掘坎，斧伐其樹，脂流於坎，旬日取之。多出火食國。考諸家辨正，血竭確別有一物，惟《南越志》言是紫礦之脂，或亦傳訛之辭。總之，血竭色要鮮紅有光，質體要松，試之以透指甲者為真，以火燒之，有赤汁湧出，入紙無跡暈，久而灰不變本色者為麒麟竭，最佳。色紫黑、質堅、外竹箬包裹者為鞭竭，略次。偽者以松香火漆做成，入火滴紙有跡暈，宜辨之。</p>

<h3>阿魏（十八）</h3>
<p>阿魏，辛平，入脾胃，消肉積，殺細蟲，去臭氣。出西番，木脂熬成。氣味極臭。試取少許，安銅器一宿，沾處白如銀汞者真。今人多以胡蒜白偽造之，用者不可不慎。</p>
<p>炳章按：《新疆雜記》云：阿魏，傘形科之多年生草本也，高三四尺，莖徑寸許，葉淡紅色。五六月間，花叢生於頂，如茴香，氣非常之臭，偶一沾之，數日不能去。其液名阿魏精，人取之販賣，每斤價錢八錢。根莖如蘿蔔，徑三四寸，長尺余，人取之以熬膏，每斤價錢三四錢，此即真阿魏也。《五雜俎》云：黃金無假，阿魏無真。皆狀其得之之難，而不知新疆塔城伊犁鎮西，以及迪化之孚遠、奇台等處，遍野漫山，直有用之不竭之勢，牽羊、毒羊之說，尤為謬妄矣，且產於伊犁者，其味特香，尤為奇品。《觚賸》云：諾皋載波斯國出阿虞，長八九尺，皮色青黃，三月生，葉似鼠耳，斷其枝汁如飴，久而堅凝，名阿魏。本草亦從之。近有客自滇中來，言彼處蜂形甚巨，結窩多在絕壁，垂如雨蓋。滇人於其下掘一坎，置肥羊於內，令善射者飛騎發矢，落其窩，急以物覆坎，則蜂與羊相刺撲，二者合併，取出杵用，是名阿魏。所聞特異，此說謬妄，不能取信，附錄以待考正。據諸家本草亦多從植物類而生，並無此議。考近今市用色黃溏者，曰溏魏，佳；黑者，名砂魏，次。按阿魏有三試法：以半錢阿魏安於銅器中一宿，有魏沾處如銀者，真；以一錢入五豆草自然汁中一宿，至明日如鮮血者，亦佳；一錢安柚樹上，立乾者，亦佳。</p>

<h3>天竹黃（十九）</h3>
<p>天竹黃，生南海鏞竹中，此竹極大，又名天竹。故宗奭云：是竹內所生，如黃土，著竹成片者，今剖諸竹內，往往得之。按李時珍有言：竹黃乃大竹之精氣結成，其氣味功用與竹瀝同，而無寒滑之害。氣味甘寒，涼心經，去風熱，清痰火。真者難得，故肆中有偽品，或云即土石所造，色雜不可辨，用者不可不慎也。</p>
<p>炳章按：李時珍《本草綱目》「釋名」條下，採注吳僧贊寧《筍譜》云：天竺生南海鏞竹中，又名天竹，此竹極大，其內生黃，可以療疾。本草作天竺之竺，非矣。李息齋《竹譜詳錄》云：鏞竹出廣南，絕大，內空，節可容二升，交、廣人持以此量出納。竹中有水，甚清潔。溪澗四月後，水皆有毒，惟此竹水無毒，土人陸行皆飲用之；至深冬則凝結竹內如玉，即天竹黃也。可療風癇疾。又如相迷竹，生黃州，狀與鏞竹大同小異，中亦有黃，堪作丸治病，然力不及鏞竹云。沈存中《筆談》補云：嶺南深山中有大竹（即鏞竹），內有水，甚清澈，溪澗中水皆有毒，惟此水無毒，土人陸行多飲之。至深冬則凝結如玉，即天竹黃也。昔王彥祖知雷州時，盛夏至官山，溪澗水皆不可飲，惟剖竹取水，烹飪飲啜，皆用竹水。次年被召赴關東行，求竹水不可復得，問土人乃知至冬則凝結，不復成水。適是夜野火燒林，木為煆燼，惟竹黃不灰，如火燒獸骨，色灰而輕。土人多以火後採集，以供藥品，不若生得者為善，因生時與竹節貼牢，不易取鑿耳。沈、李二公所說竹黃，確是近今天生之老式竹黃。</p>
<p>又考日本《竹譜》云：竹實酥、竹膏，皆漢之天竹黃也。因竹枯，筒中之露水由濕熱凝結如麵粉者，名天竹黃。田中方男云：此物系生於竹節間凝結物，大抵由純粹玻石而成。於東印度、中國，以供藥劑之用，價甚貴。用於膽液性之嘔吐痰癇、血痢、痔疾及其他相類之證。《林氏本草》云：竹條中之黃，乃竹所含有之乳汁液，干而凝結者，性與新竹之甘味液相同。至於老竹則色液俱變，結為堅塊，恰如一種浮石，有異味，而收斂異常，儼如已燒之象牙，印度名之曰竹糖，漢醫名曰竹黃。《植物字彙》云：若竹幹過于堅密，則其節中以得太陽之溫度，而次第凝結之故，自然滴液如蜜，即古來所傳竹實酥也。法《大字書》云：竹節間，有名他伯希尹爾者，為玻石質，而雜以灰石質少許及有機性之物質，是昔所最珍奇者也。由是觀之，則老竹節間所瀦留之甘液，次第凝結為砂石狀者也，其性為玻石質。玻石質者，木賊、麥稗等之堅質所具之質也。本邦九州，竹中有液者甚多，特薩州竹中，出有砂石狀之物，迄七八月割之則出水，十月、十一月則成砂塊，灰黃色。</p>
<p>綜觀東西洋諸學說，其名雖有竹實酥、竹膏等之異，辨其生成形態，與沈、李之發明，亦相吻合，然亦足資參考，以補我中華舊有本草之所未詳，比較現行老式片天竹黃一一符合。余如《大明》云：此是南海邊竹內塵砂結成者。宗奭曰：此竹內所生如黃土、著竹成片者。馬志曰：天竹黃生天竺國，今諸竹內往往得之，多燒諸骨灰及蛤粉等雜之者云云，大抵如近人云人造者。依據此說也，近時作偽者，不獨以蛤粉等製造，甚至有用水門汀偽造者，可謂天良傷盡者也。然偽造形態易於鑑別，與天然生成者，形色不同耳。</p>

<h1>卷四</h1>

<h2>石部</h2>

<h3>硃砂（一）</h3>
<p>丹砂，始出涪州山谷，今辰州、錦州及雲南、波斯蠻獠洞中、石穴內皆有，而以辰州為勝，故又名辰砂。大者如芙蓉花，小者如箭鏃，研之明淨鮮紅，斯為上品。近今市肆有以鉛丹攙入硃砂，又用代赭攙入辰砂，貽害多矣。</p>
<p>炳章按：硃砂體質極重，鮮紅、硃紅色至褐紅色之粒塊，亦有成細小透明之斜方之結晶體者，或為紅色粉末。有時含有機物，則顏色殆黑不明亮，俗為陰沙，實內含有銻質，或鐵質、銅及各種硫化物礦相伴，不堪入藥。周去非云：據《本草》金石部，以湖南辰州所產為佳，雖今世亦貴之，今辰砂乃出沅州，其色與廣西宜州所產相類，色鮮紅微紫，與邕州砂之深紫微黑者大異，功效亦相懸絕。蓋宜山即辰山之陽故也。雖然宜、辰硃砂雖良，要非仙藥。嘗聞邕州石江溪峒、歸德州大秀墟有金纏砂，大如箭鏃，而上有金線縷文，乃真仙藥，得其道者，可用以變化形質，試取以煉水銀，乃見其異。乃邕州燒水銀，當硃砂十二三斤，可燒成十斤，其良者十斤真得十斤，惟金纏砂八斤可得十斤。不知此砂一經人力，形質乃重，何哉？是砂也，取毫末而齒之，色如鮮血，誠非辰、宜可及。惜乎出產不豐，不能分銷全國耳。今所通行者，皆湖南辰州及雲南、貴州出者，苟能片大而薄，如鏡面光亮，色紫紅鮮豔明透者，為鏡面砂，亦佳。如整粒者，為豆砂，能起鏡面光豔，亦佳。細如粉屑者，為米砂，略次。如呆色紫暗不明亮者，即陰砂，內含銻質或鐵質，為更次，不宜入藥用。</p>

<h3>硇砂（二）</h3>
<p>時珍曰：硇砂，性毒，服之使人硇亂，故名。恭曰：硇砂出西戎，形似牙消，光淨者良。蘇頌曰：西戎來者，顆塊光明，大者有如拳，重三四兩，小者如指而入藥。近有一種如秋石，味鹹；又一種如豬肝色，有星點，不知是何石所混充，皆為贗品，不用為善。</p>
<p>炳章按：《石雅》云：硇砂者何？即綠化阿麻尼亞是也。或作䃩。方書一名狄鹽（《日華子本草》），一名北庭砂（《蕭炳四聲》），又名氣砂（《圖經本草》），或作硇砂。硇砂古以出北庭為顯，故名北庭砂。北庭即西域火州，在漢為東師前王地，隋為高昌，唐置西州，宋時回鶻居之，元時始名火州。《明史》云：其地多山，青紅若火，故名火州。《方輿紀要》云：火焰山在柳陳城東、連互火州，是火州殆以火焰山得名也。《高昌國傳》云：北庭山中出硇砂，山中常有煙氣湧起，無雲霧，至日光焰若炬火，照見禽鼠皆赤。採者著木底靴取之，皮底者即焦。下有穴生青泥，出穴外即變為砂石，土人取以治皮。蘇頌《圖經》云：今西涼夏國及河東陝邊州郡亦有之。西戎來者，顆粒光明，大者如拳，重三四兩，小者如指。邊界出者，雜砂如麻豆粒，彼土人為之氣砂。《方輿紀要》謂：蘭州南四十五里，有硇砂洞，出硇砂。又太原府河曲縣西五里，有火山，上有硇砂窟，下有氣砂窟。若然則硇砂亦出內地邊界矣。然而碎如麻豆又雜砂石，則疑與西土來者精粗或異矣。於今所見形塊粗末，色帶黃赤，味辛鹹，多孔，遇火白煙如雲起，古曰氣砂。洵可謂名符其實矣。《新疆礦產調查記》云：硇砂產于闐之魯村達爾烏蘭布孫山及拜城硇砂山者，為紅硇砂；產於庫車者，為白硇砂。《新疆雜記》云：硇砂產于闐硇付達爾烏蘭布孫山及拜城之硇砂山、庫車之大鵲山。徐星伯云：其山極熱，望之若列燈。取硇砂者，春夏不敢近，惟嚴冬時取之，入山採取，亦必去其衣肌，著以衣包，僅露二目。至洞內鑿之，不過二時，皮包已焦。取出砂石，每千斤得純砂石少許，著石上紅色星星。攜此必用瓦壇盛之，但壇不可太滿，滿則受火氣熏蒸，致於破裂。硇砂善揮發，受風、受濕，皆可揮發淨盡，故壇藏必須密閉。賈人在此時，行數日，遇天氣晴明無風時，則稍揭其封口，以出火氣。又云：運庫車時，曾攜數十壇，行抵伊犁，則石皆化為黃粉，而純砂不見矣。若白色成塊者不易化，可以及遠，內地所謂硇砂即此是也。以上所辨為上品之淡硇，內地不能可得。近今所通行者，皆咸硇、石硇，為不道地。亦有高下不同，如色如硃砂，或淡紅起鏡面，西土產者佳；如豬肝色者，名豬肝硇，或曰洋硇者，次之。山西出者為石硇，亦次。陝西出者為香確，紅色者，亦佳。湖、廣出者為咸硇，又名江砂，其色要白者佳，食鹽色者次。</p>

<h3>風化硝（三）</h3>
<p>風化硝，乃芒硝用蘿蔔煎煉去鹹味，置之風日中，吹去水氣，則輕白如粉，故名風化硝。市肆中有以玄明粉偽充者，殊不知玄明粉是用朴硝、芒硝，以甘草煎過，置泥罐中用火升煅。製法既別，功用懸殊，誤人不淺。</p>
<p>炳章按：風化硝乃皮硝所提煉而成。皮硝又名朴硝，產於江北、通州、山東，生於斥鹵之地，經冬令西北燥風冷氣凝結成硝，掃取即名皮硝。再以皮硝入水煎烊，去雜屑，經宿凝結，狀如鹽末，名曰朴硝，再以水煎，澄去渣滓，入蘿蔔數枚同煮熟，傾入盆中，經宿則凝結成白硝如冰。其表部生有細芒如鋒者為芒硝。其生牙似圭角，作六角稜，縱橫玲瓏，名馬牙硝。又以其似白石英，故又謂之英硝。其再以蘿蔔汁煎煉，至去鹹味為甜硝。置風日中吹去水氣，則輕白如粉，即風化硝是也。若同甘草汁煎過，鼎罐升燒，則為元明粉也。</p>

<h3>赤石脂（四）</h3>
<p>赤石脂始出南山之陽，及延州、潞州、吳郡山谷中，今四方皆有。乃石中之脂，故揭石取之。以色如桃花，理膩黏舌綴唇者為上。為少陰腎臟之藥。又色赤像心，甘平屬土。近有偽品，即黃土混充，色粗不能黏舌，勿用為要。</p>
<p>炳章按：時珍曰：膏之凝者曰脂，此石性黏，能固濟爐鼎，蓋兼體用而名也。石脂有五色之分。赤石脂原出濟南，今蘇州、餘杭亦出，性不甚佳。《石雅》云：石脂即堊土。堊，白土也。方書名其石脂者具五色。今以赤白二種驗之，亦高嶺之類，其赤者殆即所謂紅高嶺也。吳地餘杭山有白堊，色如玉，甚光潤，號曰石脂，則白石脂即白堊，愈無疑矣。赤石脂色淡紅如桃花色，細膩滑潤者佳。近有新式石脂，色赤質粗，不細滑。不知何種土質，其次無疑，不可入藥。</p>

<h2>蟲介部</h2>

<h3>珍珠（一）</h3>
<p>偽名藥珠，每用上海假珠或廣東料珠偽充。若研為粉，更難辨識。按珠類不一，入藥當以蚌珠為貴，不用首飾及見屍氣者，宜揀新完未經鑽綴之珠，以人乳浸三日煮過，方可搗研。一法以絹袋盛入豆腐內，煮一炷香，不傷珠質，研細如粉，方堪服食。不細則傷人臟腑。古方外證多用，湯藥罕用。近人湯劑喜用蘇珞珠，又豈料為假珠所欺誑乎？用者慎之。</p>
<p>炳章按：《范成大蟲魚志》云，珍珠出合浦海中有珠池，蜑戶投水採蚌取之。相傳海底有處所如城郭，大蚌居其中，有怪物守之不可近。蚌之細碎蔓延於外者，始得而採之。《嶺表錄異》云：珠池，在廉州邊海中有洲島，島上有大池，謂之珠池，每年刺史親監珠戶入池採珠，以充貢賦。皆採老蚌取而剖珠。池在海上，其底與海通，其水乃淡，深不可測也。土人採小蚌肉作脯食，亦往往得細珠如粱粟（即今之廉珠也）。乃知珠池之蚌，隨其大小，悉胎中皆有珠矣。而今之取珠蚌者，云得之海邊，不得於池中也。其北海珠蚌種類小，土人取其肉，或有得珠者，色黃白不甚光瑩（或即今之藥珠也）。蚌中又有一種江瑤者，腹亦有珠，皆不及南海者奇而且多。宗奭曰：河北溏瀠中亦有珠，圓及寸者，色多微紅。珠母與廉州者亦不相類。但清水急流處，其色光白；濁水及不流處，其色暗也。《熊太古冀越集》云：《禹貢》言淮夷蠙珠。後世乃出嶺甫。今南珠色紅，西洋珠色白，北海珠色微青，各隨方色也。予嘗見蜑人入海，取得珠子樹數株，狀如柳枝。蚌生於樹，不可上下，樹生於石，蜑人鑿石得樹以求蚌，甚可異也。《南越志》云：珠有九品，以五分至一寸八九分者，為大品，有光彩，一邊似鍍金者名鐺珠，次則走珠、滑珠等品也。《格古論》云：南番珠色白圓耀者為上，廣西者次之，北海珠（即藥珠）色微青者為上，粉白油黃者下也。西番馬價珠為上，色青如翠，其老色夾石粉青油煙者下也。凡蚌聞雷則㾭瘦，其孕珠如懷孕，故謂之珠胎。中秋無月，則蚌無胎。《左思賦》云：蚌蛤珠胎，與月盈虧是矣。陸佃云：蚌蛤無陰陽牝牡，須雀蛤化成，故能生珠，專一於陰精也。龍珠在頷，蛇珠在口，魚珠在眼，鮫珠在皮，鱉珠在足，蛛珠在腹，皆不及蚌珠也。據近時市上所通用，最上者為廉珠，即廉州合浦縣珠池所產，粒白如粱、如粟，色白光滑有寶光。其次曰藥珠，種類甚多，即北海所產，色白黃有神光者亦佳，惟色黑質松者為最次，不入藥用。</p>

<h3>蟾酥（二）</h3>
<p>蟾蜍生於江湖池澤間，其眉間白汁謂之蟾酥。以油單紙裹眉裂之，酥出紙上陰乾用；或以蒜及胡椒等辣物納口中，則蟾身白汁出，以竹蔑刮下，面和成塊，干之。聞有一種假酥，系麵粉及別藥偽造，萬不可用。</p>
<p>炳章按：按《鮑叔真醫方約說》云：蟾酥乃治諸毒之要藥也，制合得宜，傅、服皆可用。蛤蚆皮即蟾皮也，大能收毒外貼，不可缺也。《嘉興縣誌》云：宮中用蟾酥錠，於每年端午日修合。各坊車蝦蟆至醫院者億萬計，往時取用後率斃，蓋兩目俱廢，不能跳躍也。東山朱公典院事，命止刺其一偏，得蘇者甚多。此事似微，然發念甚真，為德不淺。王文謨《碎金方》取蟾酥法：先將牙皂角三兩，煎水三沸，旋候冷，用大口甕或缸盛水，將癩蝦蟆不拘多少入中，以稀物覆之，勿令跳出。過一宿，其酥即浮水面。若未浮，其酥即在身上矣。可用竹刀刮下用之。《本草明辨》云：端午日以大蛤殼未離帶者，合於蝦蟆眉上腫處，用力一捻，剛酥出殼內，貯於油紙候乾。江南出者為杜酥，要無面塊、神色起亮光者佳。無錫出者，中有竹節痕；浙江杭、紹出者，為片子酥，粉質少者亦佳；山東出者為東酥，色黃黑味麻辣，不上二層之貨。蓋酥本無定色，但驗其粉之輕重為衡。如看成色，以水一碗將酥化開，放入水，如烏見水即變色，水面有泡沫者真。偽真見水不動，而粉質漸露矣。</p>

<h3>蘄蛇（三）</h3>
<p>真蘄州所產之蛇，龍頭虎口，黑質白花，肋有二十四個方勝文，腹有念珠斑，口有四長牙，尾有一佛指甲，長一二分，胸形如連珠。市肆有用本地白花蛇偽充，欲辨真偽，但視蛇雖乾枯，而眼光不陷者為真。故羅願《爾雅翼》有云：蛇死目皆閉，惟蘄蛇目開如生耳。</p>
<p>炳章按：《虞初廣志》云：蚺蛇大者達十餘丈，圍可八九尺，為蛇中之最大者，故又名王蛇，屬動物學蛇類中之闊口類。其部分之構造，頭部以下，軀幹及尾，無顯然之判別。皮膚中含有色素，成特有之體色，外皮半脫數之，謂之蛇脫。此係蛇類之特別機關。因蛇類外皮無生長之力，故苟軀幹增大，勢必脫去之也。心臟具二心耳，一心室，故生理學上之消化作用欠缺，而血行遲緩，其所以成冷血動物者此也。此蛇腹部之下，尚存有後足遺蹟，由動物學之歷史考之，可知其脫變之跡。現多產熱帶諸地，嶺南亦著，皆夙以為貢品。如《唐書·地理》所謂：廣州土貢鱉甲、蚺蛇是也。常棲樹上，雖無毒齒，而筋肉強大，能咬殺人畜。候獐鹿過者，吸而吞之，至已溶化，即纏束大樹，出其頭角乃不復動。土人每伺而殺之。其所以能吞較己大之動物者，即以此蛇無胸骨，而體中筋肉可任意張縮也。《金樓子》有《楚辭》云「蛇有吞象其大如何」之句，或謂指巴蛇，或云即指此也。《埤雅》云：蚺蛇尾圓無鱗，身有斑紋，故如暗錦纈，似鼉行地，常俯其首。膽隨日轉，上自近頭，中自近心，下自近尾。蚺蛇肉，俗謂食之闢蠱毒。其牙長六七寸，土人云：利遠行，避不祥。每枚值牛數頭，其說亦見於《括地誌》。然最貴者為膽，能療疾。唐時敕令桂、賀、泉、廣四州輪次以進。段公路亦云：廣州南海縣，每年端午日，嘗取其膽貢進。蛇則諸郡採送事參親看出之。鄭重如此。實則由身中具一種特別之液體，利去風濕諸疾。其皮性堅韌，或鞔鼓。今潮州亦有為之者，其聲絕類象皮鼓。蓋蚺蛇全體殆無一非有用之材也，故《叔夜養生論》云：蚺蛇珍于越土。而《南裔異物志》亦云：蚺惟大蛇，既洪且長，彩色駁犖，其文錦章，食豕吞鹿，腴成養創，賓亨嘉食，是豆是觴，皆駁之也。《特晉中興書》所云：顏含嫂，病困，須蚺蛇膽不能得，含憂嘆累日。忽一童持青囊授含，乃蛇膽也。其他如《簪云樓雜記》云：沈公某，其鄉人也，明萬曆間巡撫滇南，初至，文武來謁，有參將貌甚醜陋，厥首僅存白骨，絕無額、准、輔、頤，惟目光爍爍騰注。公大驚，獨留問故，自言茲地蚺蛇，千歲以上者高數丈，亙四五里，恆宵遊，遇豺虎諸獸則吸而吞之，其於人亦然。某曾夜歸，覺為風攝去，蹶趨如坐丹爐中，萬火齊發，腥穢且逼人。某疑入蚺蛇腹矣。亟抽刀割之，約厚五六寸，任此蛇撼天搶地，奔躍數十里外，經時才出，而此蚺蛇己死。某通體殷紅，頰上皮肉俱盡，倦而寐，及寤始疼，閱半載方愈。此約長五里，山中人競取脂燃燈，鱗火如笠云。據前辨蚺蛇，乃產兩廣深山熱帶地者，故其形甚大。我浙江金、衢、嚴等所產亦多，惟大者絕少。是蛇一日中惟午時閉眼。其捕法，以長竹竿端繩圈，打於叢草上，如下有蚺蛇，則草經打搖動，而蛇遂直立欲撲狀，即以繩圈套於蛇身抽緊，則蛇將繩纏緊，遂持竹竿於石上，將竹竿壓於蛇上，以利刃剖蛇腹去腸臟，以竹槍撐而曬乾，惟膽亦取出收藏，以作藥用。鄭君有言：以白花蛇偽充，白花蛇甚小，重不及兩。干蚺蛇大者十餘兩，小者五六兩，斷不能可充。且白花蛇價昂蚺蛇十倍，惟初生小蚺蛇充白花蛇，或亦合理，惟斑紋亦有不同耳。</p>

<h3>紅點蛤蚧（四）</h3>
<p>蛤蚧生於嶺南山谷及城牆或大樹間，形如大守宮，身長四五寸，尾與身等。自惜其尾，見人取之，多自齧斷其尾而去。藥力在尾，尾不全者不效。《北戶錄》云：其首如蟾蜍，背綠色，上有黃斑點，如古錦紋，其聲最大。蘇頌云：入藥肆須雌雄兩用最靈。或云陽人用雌，陰人用雄。雷斆曰：雄為蛤，身小尾粗；雌為蚧，皮細口尖，身大尾小。氣味鹹平，有小毒。治虛勞嗽喘，助陽益精，大有奇功。李珣曰：凡用須炙，令黃色，熟搗。口含少許，奔走不喘息者為真也。今市肆有一種紅點蛤蚧者，有大毒，萬不可服。用者須揀尾全者，細驗皮色有無紅點，方可入藥。</p>
<p>炳章按：《檐曝雜記》云：蛤蚧，蛇身而四足，形如虩虎，身有瘢，五色俱備，其疥處又似蝦蟆，最臭惡。余初入鎮安，路傍見之，疑為四足蛇，甚惡之，問土人，乃知為蛤蚧也。郡衙傍山，處處有之，夜輒聞其鳴，一聲曰蛤，一聲曰蚧。能叫至十三聲方止者乃佳。其物每年一聲，十三聲則年久而有力也，能潤肺納氣，壯陽益氣。口咬物則至死不釋，故捕者輒以小竹片嬲之使咬，即攜之來，雖已入石縫中，亦可乘其咬而掣出也。遇其雌雄相接時取之，則有用於房中術，然不易遇也。藥肆中所售兩兩成對者，乃取其兩身聯屬之耳。其力在尾而頭足有毒，故用之者，必尾全而去其頭足。鄭君云紅點，或指活時言，其活時身上五色俱備。在市上通行者，色皆青綠色，有鱗靨而無紅點也。</p>

<h3>蘇蜈蚣（五）</h3>
<p>蜈蚣，以蘇州產者為良。聞蘇人採取生草堆積腐爛，日久便生，爆干外貨。背光脊綠，足赤腹黃，此易辨物也。舍蜈蚣均不可用。市肆有以本地所產混售，聞有一種千足蟲，一名馬陸，形最相似。若誤用之，並把著腥臭氣入頂，皆能毒發致死，不可不慎。</p>
<p>炳章按：蜈蚣，江蘇蘇州洞庭山出者多，頭紅身黑有光，大者最佳；常州吳江縣鍋山出者少，頭紅身黃色略次。四川出者，頭黃褐色，身黑褐色，小多力薄亦次。浙江餘姚縣出者，頭亦紅，身黑褐色略次。大抵用者須擇長大頭尾全、全身黑而有光者為道地。項元鱗曰：近時有一種千足蟲，其形相似，惟頭上有白肉，嘴尖者，最毒，不宜作蜈蚣用。</p>

<h3>絳緯（六）</h3>
<p>用洋紅染輕麻偽充。以指蘸水，略搓便見。按絳緯乃紅花所染。紅花苦溫，入肝經血分，絲為蠶之精氣，可以熄內風，製為緯又取其通絡，故古方肝著湯用之輒驗。若以洋紅染造，則失之遠矣，況洋紅有毒乎。尤可恨者，近日醫家疏方，已經旁註洋紅染不可用，而貪利之徒，偏以此欺騙病家，是太無天良者矣。</p>
<p>炳章按：絳緯，如系真紅花水染者，滾水泡之，永不變色。入罐煎過，則成黃色者真。若用洋紅染者，水泡，其水即紅。以此分辨，萬無一失。</p>

<h3>䗪蟲（七）</h3>
<p>（非蔗蟲）</p>
<p>䗪蟲，《本經》名地鱉，《別錄》名土鱉，形扁如鱉，有甲不能飛，小有臭氣。此物好生鼠壤及屋壁地棚之下。氣味鹹寒，有毒，專破癥瘕。考仲景《金匱》鱉甲煎丸，用之治病瘧日久，結為癥瘕；大黃䗪蟲丸，用之治虛勞腹滿，內有乾血；下瘀血湯，用之治產後腹痛，內有瘀血；土瓜根散，用之治經水不利，少腹滿痛，以其消癥而破瘀也。去冬因用蔗蟲，以催痘漿，調查各藥鋪，方知所制鱉甲煎丸、大黃䗪蟲丸，皆用蔗蟲。以訛傳訛，皆由吾國藥劑師互相傳授。未讀方書，不明本草，以致貽誤匪少。堪發一嘆！不觀夫古人制字，䗪字其下從蟲，蔗字其上從草，或作樜，旁從木，足證明蔗蟲由草本而化生，非如䗪蟲之從濕土而出也。又按蔗蟲，氣味甘微寒，為發痘行漿、托癰清毒之妙品，且能化痰醒酒，和中利小便。產廣東潮州及福建漳、泉蔗田中。形如蠶蛹，食蔗根而化生。土名蔗蛄，其味甘美，土人有用之以佐酒席。考《本草拾遺》及《南京醫學報》，均有發明。可見䗪蟲與蔗蟲，性味不同，形質亦異。古人定方用藥，各有主義，胡得妄行配製，以失效用。伏望熱心同道與藥商知好者，將此通告，苦勸改良，幸勿再蹈故轍，是所跂禱。</p>
<p>炳章按：王士雄云：潮州蔗田接壤，食蔗之蟲，形如蠶蛹而小，味極甘美，性涼，解熱毒，助痘漿，可與蘭蟲並傳。施可齋《閩雜記》云：漳、泉各處，二三月間，市上賣生熟甘蔗蟲，甘蔗老根中生也。生者如蠶而細，灰白色，光潤無茸毛；熟者以油灼過，拳曲如蜂，淡黃色，味極鮮，佐酒尤佳。考甘蔗性寒，故王維《謝賜櫻桃詩》：飽食不須愁內熱，大官還有蔗漿寒。此蟲既生蔗中，宜亦性寒矣，而吾鄉醫者，治小兒痘漿不起多用之。或有云性熱，《本草》不載，不能辨也。又據《兩般秋雨庵隨筆》載姚承憲《詠甘蔗蟲詩》：蘊隆連日賦蟲蟲，渴念寒漿解熱中，佳境不須愁有蠱，庶生原可慶斯螽。似誰折節吟腰細，笑彼含花蜜口空，畢竟冰心難共語，一樽愁絕對蠻風。玩詩次句，似亦謂其性寒，惟云「蘊隆連日」，則是夏月方有。詩在粵中所作，豈粵中夏月始賣，而漳、泉獨早在二三月耶。而鄭君出產時期亦未辨明，惟氣味甘微寒，發痘行漿等效用，確與王、施二君發明吻合。鄭君所言，可見皆從實驗，吾於斯益信。惟䗪蟲確是地鱉蟲，即仲景大黃䗪蟲丸等用之；以化癥瘕去瘀血，端不能以甘蔗蟲代之。吾謂以後業藥者，暇時亦閱覽《本草》，參對方書，庶不致再誤人命矣。</p>

<h2>獸部（附人部一種）</h2>

<h3>犀角（一）</h3>
<p>用黑兕角及水牛角，雕琢形似，假造混售。鑢便之粉，或鋸便之屑，更難辨別。按李時珍云：犀出西番、南番、滇南、交趾諸處，有山犀、水犀二種。水犀出入水中，尤難得。弘景雲：入藥惟取雄犀，生者為佳，若犀片及見成器，物已被蒸煮，不堪用。宗奭云：鹿取茸，犀取尖，其精銳之力，盡在是也。用者當揀選角質烏黑，肌皺摺裂光潤者，錯屑入臼，杵細研末，或當面鑢粉，或取頂尖磨水取汁，尤佳。再李珣有云：凡犀角鋸成，當以薄紙裹於懷中，蒸燥乘熱搗之，應手如粉。此法今人鮮知，故罕用耳。</p>
<p>炳章按：《嶺表錄異》云：犀牛，似牛形而豬頭，腳似象，蹄有三甲。首有兩角，一在額上為兕犀，一在鼻上較小為胡帽犀。鼻上者皆窘束而花點小，多有奇紋。牯犀亦有兩角，皆謂毛犀，俱有粟紋，堪為腰帶。千里犀中或有通者，花點大小奇異，固無常定。有編花路通，有頂花大而根花小者，謂之倒插通。此二種亦五色無常矣。若通處白黑分明，花點差池，計價鉅萬，希世之寶也。予久居番禺，諸犀各曾經眼。又有墮羅犀，犀中最大，一株有重七八斤者，云是牯犀，額上有心花，多是撒豆斑色。深者堪為胯具，斑散而淺者，即治為杯盤之用。又有駭雞犀，群雞見之驚散；闢塵犀，為婦人簪梳，塵埃不著發；闢水犀，行於江海，水為開，置角於霧露中，紅久不濕；光明犀，置暗室自光明也。此數犀但聞其說，不可得而見也，錄之以備參考。《海島逸志》云：犀牛大過於牛，皮如荔殼，而紋大如錢，背皮如馬鞍以覆其項，頭似鼠，嘴似龜，足臃腫如象，好行荊棘中，喜食藤刺。頭一角在鼻梁，世所繪其角在額者，非也，此余所目見。其行林中，觸樹多折。此頭一角，或即牸犀也。沈萍如雲：犀角，《本草》載出西番、南番、滇南、交、廣諸處，有山、水、兕三種：山犀易得，水犀難見，並有兩角，鼻角長而額角短。水犀，皮有珠甲，山犀則無。兕，即牸犀，止一角在頂，紋理細膩，斑白分明，不可合藥。蓋牯角紋大，而牸角紋細也，其紋如魚子形，謂之粟紋，紋中有眼，謂之粟眼。黑中有黃花者為正透，黃中有黑花者為倒透，花中復有花者名重透，併名通犀，乃上品也，花如椒豆斑者次之，烏犀純黑無花者為下品。其通天夜視有光者，名夜光犀，能通神。又有角上有紋直上至端，夜露不濡者，名通天犀。《羌海雜誌》云：犀牛，皮厚而無毛，鼻上生前後兩角。後之所產只有一角，為解熱之特效藥。且亦自能解角，角藏於巖穴中，獵人以如其形木角易之，則次年解角仍藏原處，否則更易他處，不復再見矣。今就市上所通行者，惟暹羅角為最佳品，其外有槽，根盤內有蜂窠形，中凸出如墩，兩畔陷。紋粗，刨片，白多黑少，為上品。交趾產者，外無槽，內無墩，紋較細者次之。又有一種天麻角，性硬，再次。雲南產者，角尖長，其氣臭，最次。凡犀角為熱證中之退熱特效藥，關係人命生死。非尋常藥可比，必須採辦的真暹羅角為要。須看色黑，劈開處直紋粗絲者為妙，尖上頭圓更佳。試法以真犀角置為酒器，則清香為異耳。沈萍如雲：犀角以有花紋而粗者為貴。今市人多以雲貴山中野牛野羊角偽之，其角黑而無花紋，且氣膻耳，此等偽角，害人生命，不宜用之。</p>

<h3>羚羊角（二）</h3>
<p>（羚字古作麢，今省筆作羚）</p>
<p>用白兕角及白牛蹄，琢磨偽充。其現切之羚角絲，尤難辨識。按羚羊產梁州、真州各處，商洛諸蠻山中及秦隴西域皆有。角長尺余，有節特起，環繞如人手指握痕，得二十四節者，尤有神力。今多用尖，取其精銳堅剛之力也，宜揀選地道頂尖，磨水取之，用之尤靈。</p>
<p>炳章按：羚羊不獨真偽須辨，而鎊法亦須改良。吾紹藥業有見於斯。民國十四年二月間，囑余撰《浸鎊改燥鎊理由書》，已刊登第十五期《紹興醫藥月刊》，茲再摘錄於下：考麢羊（俗作羚羊），屬脊椎動物哺乳類，有胎盤類，反芻偶蹄類，羚羊科。形似小鹿，性至靈，故字從鹿從靈。藏器云：羚羊有神，夜宿防患，以角掛樹不著地。但角彎中深銳緊小有掛痕者為真，疏慢無痕者非也。按羚羊形雖似鹿，又類山羊，口吻尖銳，面部三角形，耳輪大，眼有光，頭上皆有長圓無枝之短角，從眉間伸出，間有曲輪，或略捲曲，或向後鉤曲。角基中空，角心如筍。一次脫落（自落者為死角）不再生。毛柔滑而密，色概灰黑或褐黑色，背部與前膊間灰褐色，四肢細長、概黑褐色，尾短蹄小。身瘦狹，體長約四尺。棲於深山，常群棲。性溫順，有深慮。善疾走及跳躍，嗅覺敏銳，具靈異之性。終身愛護其角，故其精神亦凝聚於角。以角入藥，能清熱熄風，舒筋解毒，明目透疹，驅邪辟蠱，子癇痙厥，猶為要藥。產於亞、美、歐、臺灣、安南者，類別有十餘種之多。產中國者，如陝西、哈密外福化城、新疆奇臺縣為最佳，鞏昌、漢中者次。亦有黑白二種：黑者清腎肝熱，白者清肺熱熄風。近年以白者為重，故市上僅有白羚羊。黑者多無覓。詎知近年藥用漸繁，捕獵殆盡，因而價值日昂。且羚羊質性堅硬，刀切不入，我業習俗以形式相競，鎊片入藥，以求雅觀。查其鎊片之法：先將羚羊水浸七八日，再用滾水泡透，經此手續，化堅為軟，則鎊之片張闊大，形式雖雅觀，然經水浸泡，汁液盡出，性味已失，反增腥臭惡氣，治病功能已大半消失。嘗考古人修治羚羊之法：先用鐵銼銼細，再搗篩極細，更研萬匝，入藥免刮黏胃腸，使原質不失，效力完固，法良意美。同人等審度近日人心不齊，一經研末真偽難辨，難免以偽亂真，則害人更甚。我同人等本良心之主張，為改革弊害起見，邀集同業行店在會館集議，述明羚角浸鎊弊害原理，經眾討論，僉謂不落水燥鎊。庶幾性味不失，真偽仍可鑑別，為全體所公認。惟燥鎊片張雖碎小，主治效能，實較浸鎊優勝十倍云。（下略）</p>

<h3>麝香（三）</h3>
<p>麝形似獐而小，色黑，常食柏葉及蛇蟲。其香在臍，故名麝臍香，又名當門子，生陰莖前，皮內別有膜袋裹之。至冬香滿，入春臍內急痛，自以爪剔出，覆藏土內。此香最佳，但不易得。今惟得活者看取，必當全真。出羌夷者最好，出隋郡義陽晉溪諸蠻中者亞之，出益州者形扁多偽。凡真香，一子分作三四子，刮取血膜，雜以余物，裹以四足膝皮而貨之。今貨者又多偽，聞土人多以香貓腎偽充。考劉侑《西域記》，有云黑契丹出香貓，糞溺皆香如麝氣，故有取其糞，用雜獸血腰偽造為麝香。近又以荔核煅為灰，裝入真麝香皮袋中混售，貽害不淺。凡入藥須辨真者用之。</p>
<p>炳章按：麝香為獐鹿類而無角，其尾甚短如山羊，嘴上之稜牙如野豬，其種大小不一，皮毛之色，生而數變：初醬色與褐黑色，繼變紅褐，至白灰色而老矣。全身生毛，惟嘴無毛須，其旁面有繼長之斑點，背多橫紋。然形狀雖笨，而腿力甚速，故獵捕甚難。腹下之臍，即名麝囊，割破其囊即得麝香矣。其肉因香氣芬烈，土人視為美味。其囊之大小，關乎麝之年歲與強弱。產地首推西藏高山中，或喜馬拉亞山，以及云、貴等省之山內。東三省與蒙古亦產之。黃河以南雖產似麝，其實《本草》所謂香貍，非麝也。《羌海雜誌》云：青海江拉希拉之間，重岩復澗，產麝尤多，大抵山有香麝，必有香氣。遠聞之香烈而略帶腥，忽隱忽現，若即若離，麝穴愈近，而其腥愈不可聞。循其氣味而尋之，百不失一。麝臍最穢，常流血液，天日晴時必仰臥於草地而曝其臍。臍眼突出大如缽，腥臭異常，蚊蠅蟻蚋飛集蝕之，臍眼突然縮入，微蟲碾如齏粉，一日數次脂漸凝厚，此謂草頭麝，藥肆常用之品也。曾吸入蜂蠍蜈蚣毒蟲類者，臍有硃砂點，謂之紅頭麝，其品已高，最貴者曰蛇頭麝，毒蛇吮其臍，麝驚痛而力吸，跳踔狂奔，蛇身伸屈盤結，堅不可脫。須臾蛇身截然而斷，首即腐爛於內矣。臍有雙紅珠，是為蛇眼，得此配藥，其香，經久不散。醫治毒症，功效無比。繆仲淳云：香有三品：一曰遺香，是麝臍閉滿，自於石傍用蹄尖揮落者為最佳，其地草木枯焦；二曰膝香亦佳；三曰心急香，被諸獸驚恐遺落收得，見心流脾結作一血塊，隔山間亦有香氣。此三香皆為佳品。今時以陝西、哈密出者，其色黃，香味濃厚者佳；山西五臺山羊來出者，其殼如豬脬亦佳；四川松盤山出，名蝙蝠香，皮厚有毛亦佳；雲南有一種無殼散香，色黑有騷氣者次。大抵聚於蜀之打箭爐者名川香，聚於雲南者名云香，陝西之蘭州者名芥州香，皆良，其形圓，香氣濃厚，歷久不散。產於張家口以外歸化城以及內外蒙古者，名西口蝙蝠香；產於東三省，聚於營口者，名東口蝙蝠香，其形皆扁，氣味微薄而帶騷氣，略次。蓋麝香真色，乃紫紅與墨色。近世作偽者，將少許蝙蝠香，雜以多數之香料屑末攙入，且加以相當之顏料，形似真者彷彿。辨別真偽者，大抵鼻嗅香氣芬烈與微薄。以香料之香與麝香之香，顯能分別。況真者氣味不但襲人，且日久不散；偽者香不能襲人，稍久嗅之，已乏香氣。尚有試法，亦可主判真偽：以熾炭火上將香少許彈於炭火上，真者如燃人發，其質爆烈，奇香四溢，偽者不但無香，且質如灰燼而爆烈。以此試之，立分真偽。麝香內結有圓粒，或長扁形，外紋光滑質堅，碎之香氣逾常，即名當門子，其功力較散香勝數倍。亦有人工造作者，亦可試之：將當門子泡滾水內，真者依然堅結，偽者即化開矣。</p>

<h3>牛黃（四）</h3>
<p>偽者味苦不香，真者味甜氣香。真牛黃大者如雞子黃，小者如龍眼核，重疊可揭。其質輕虛，氣香有寶色者佳，如黃土色者下也。出產川蜀者為正地道。喝取者為上，殺取者次之。能辨真牛黃。則假者無論若何造法，可一驗便知耳。</p>
<p>炳章按：牛黃者，牛之病也。蓋牛食百草，偶誤食壅氣之草，以致胃腸壅滯，鬱極生火，火炎肝膽，則肝失疏泄，膽汁外溢，凝結成黃。而胃少膽汁，則食物不化，而不嗜食，故肌瘦肉消。黃者乃膽汁日溢，胃中甜肉汁，自外層結，受熱蒸燥，則凝結成顆成塊，漸結漸大，而黃成矣。故黃多生於肝葉傍膽側際，或另生皮囊裹之，或生膽之厚皮處，或生角中，角竅亦屬肝故也。其味苦兼甜者，膽汁與甜肉汁之結晶體也，其氣馨芳者，百草之精氣也，其通竅化濁，清火化炎者，此膽之擅長本能也，用以治人心膽之疾者，同氣相求之義也。然其性涼而有小毒，能治驚癇寒熱、中風痰迷有餘之熱證者，乃以毒攻毒也。此發明生黃之理，治病之原，取黃之法，辨黃真偽，再辨於下。《羌海雜誌》云：牛黃有家黃野黃之分，家畜犛牛犏牛皆能生黃。凡牛腹生黃，食草不貪，行走不捷，日漸瘠立，兩眼胞皆黃色；或眼如血色，或夜分身有光，或鳴吼以恐驚人。計其吐黃之期，須終日按其脈而伺之。仰系之則不吐，俯系之則隨吐隨食。必俯系之而以牛舌不能及地為率，又須防其蹄躋也。吐黃以後，牛體膘健逾恆。如逾期不吐，牛必倒斃。剖腹取之，黃無精氣，非上品也。凡藥肆之常有者，大抵系家牛所吐及剖腹所得者為多，名曰牛黃。然真西黃則惟巖穴叢草中遇之。蓋犀牛吐黃，亦隨吐隨食。惟吐藉草之上，吮食不淨，余液下漏，沉入土中也，然探其穴藉草之下有土光滑可鑑者，掘之始有犀黃。然亦不多。家牛黃者，色淡黃，紋理細；真犀黃者，金黃色，紋理粗，暑天蚊蟲不集，湯初沸時，捻末少許撒之，沸湯頓無巨泡矣。取黃染指透爪甲者亦佳。古人其取黃又名照水，以盆注水承之，夜俟其吐水中，喝逼而取之為生黃亦佳。昔以隴西、山西出者著名，故曰西黃，即牛黃也。產奉天省地屠牛廠及興京、桓仁、寬旬、東豐、吉林、黑龍江省等均產，皆名東黃，亦佳。近今所謂廣東黃者，皆馬黃也。蘇尖牛黃，即水牛之黃也。近代駱駝黃亦充牛黃。然考駱駝之黃，其形態與功用確類真牛黃，凡治驚癇風痰、熱痰，而功稍遜，惟氣不馨為異耳。惟駝亦食草，食亦反芻，與牛相類耳。至所謂片黃者類，皆南省所產之蟒黃是也，不堪入藥，宜禁除之。</p>

<h3>杜膽星（五）</h3>
<p>偽名京膽星，或云即江南土製，色有花點，不黑，質極硬，不軟。不知何物偽造，誤人不少。按膽星即天南星，生研為末，臘月取牛黃膽汁，和藥納入膽袋中，懸有風處干之。年久者彌佳。南星氣味苦溫，有大毒。牛膽汁，苦，大寒，無毒，以牛膽汁制南星，所以殺燥烈之性，而並解其毒。蘇頌云：治驚風有奇功，匪特除痰下氣攻積也。若偽制射利，貽害多已。</p>
<p>炳章按：製造膽星法：臘月黃牛膽汁，拌漂淨生南星研細末如稀糊，仍入膽皮內，懸掛有風無日處陰乾，至次年將皮剝去再研細，用新臘牛膽同前製法。曾手製至三年，其色猶黃白，至九年才褐色耳，此沈萍如法。其他如《本草明辨》，製法略異，方亦錄下，以備參考：擇臘月庚申日，以漂天南星、川貝母各半，研極細末，以黃牛膽一具，上開一孔，不令汁出，將二味和入於膽中，懸掛檐前風日之中候乾，去膽皮另換一膽。如是者九次。苟能一年一次，九年成功者，最佳。今市上所售色黑如漆者，乃小元參研末搗蜜如餅，裝入雞肚內曬乾充用，害人匪淺。</p>

<h3>鹿茸（六）</h3>
<p>鹿茸頂尖帶血者，謂之血柿茸，價值甚昂。聞射利之徒，或用豬尾，或用小腸，和以豬血，攙以雜藥，假造偽充。外形與真無二，及煎熬之後，則糜爛臭穢，可驗而知之。若研末入丸藥，甚難辨識。按鹿茸氣味甘溫無毒，主治漏下惡血，寒熱驚癇，益氣強志，生齒不老，為補骨血、益精髓之要藥。麋茸尚不可用，又安用此假柿茸耶？若遇危險重症，服之則貽誤必多矣！</p>
<p>炳章按：茸者，如草芽初生之狀。麋鹿，雌者無角，雄者之角，年解年生。乘其初生含血未成骨時，取以為補精血藥。因其狀命名也。惟採茸之法，貴乎始生含血者，漸長則成角不適用。故云宜如茄之小者，分歧則大而不取。此舉茸生初久，形分大小而言，非可指為鹿之大小解也。凡具氣血者，幼則弱，老則衰，惟壯大者則強。是麋鹿之茸，正當取於壯大之麋鹿為貴，當取其頭骨大而茸豐肥，如馬鞍形、鞽形者為最，至茄茸則太嫩而小，寇宗奭已論之矣。再論採取之法，《羌海雜誌》云：茸鹿一種，天下盛稱關東，其實製法，以西產為良，品質亦不及西產之厚也。然西產製法，亦未嘗不佳。最上者亦曰旋茸。其法得一生鹿，閉於柵，聚圍之而呼噪，鹿性躁驚，距奮擲足無停蹄，其體純陽，兩角更甚，約數小時，其熱度達於極點，有力者粹入，以利刃斷其首，長杆丈餘上穿鐵環綴八尺之鐵鏈，而以鹿角系其端，極力搖而旋轉之。甲疲乙易，乙疲丙易，不知其數千萬轉，其精血靈活和勻，無孔不入，無竅不通。稍停，則精血凝聚之處，易生微蟲；精血不到之處，元氣不足，非全材矣，此青海採製鹿茸之法也。此指家畜而言。如遇野山之鹿，即隨時又獲取茸，攻效尤偉。李春芝云：麋鹿俗呼梅鹿，尤有馬鹿之分，二鹿均能生茸，皆有臘血片。大抵麋鹿解角後，其新茸芽生之際，初起如銀杏狀，漸成梨形及核桃形，名曰血包，此為第一期。再則支生兩凸，如茄子形，或如鞍子形，名曰扈子。鞍子稍養數日，急宜取用，此為第二期。倘逾此期，即為又子，此為第三期，即毛角也，血液枯燥，功效已薄。上述麋鹿生茸，關於時際之遲早，以區別其形狀之良窳，再別其每架鹿茸切片時，復有蠟片、血片、風片、骨片之分。如茸之頂尖，最首層之白如蠟，油潤如脂，名之曰蠟片；次層白中兼黃，純系血液貫注其中，故名曰血片；最次層片有蜂巢，色紫黑透孔，名曰風片，俗云木通片，如木通之空通也；最次則與骨毗連，同角相仿，名曰骨片，效力更薄矣。凡辨原架鹿茸之法，須顏色紫紅明潤有神，頂圓如饅頭式者佳，如色帶黃黑頂上凹陷者次。東三省產及青海、新疆均佳。浙江衢州金華出亦佳。偽者以鹿茸架，用豬血麵粉做成。</p>

<h3>鹿角膠（七）</h3>
<p>鹿角膠原名白膠，以鹿角寸截米泔浸七日，令軟，再入急流中浸七日，刮去粗皮，以東流水、桑柴火煮七日，頻頻添水，取汁瀝淨，加無灰酒熬成膏，冷則膠成矣。氣味甘平，主治傷中勞絕，腰痛羸瘦，補中益氣，婦人血閉無子，止痛安胎。市肆有以牛皮煮為膠偽充，一層白色，俗名白頭，氣味膻臭黏濁，服之有害。</p>
<p>炳章按：鹿之種類有三：陸佃云：鹿之大者名麈，群鹿似其尾為趨向，其尾可作拂塵，今北人呼為大尾鹿者是也。李瀕湖以麋似鹿而色青黑，大如小牛，肉蹄，其目下有二竅為夜眼之說，證之似略有據，然未曾實指。其角解於冬也。清高宗帝有《鹿角記》，言之詳矣。因二物俱解角於夏，乾隆丁亥長至，齋宿南郊，命侍臣詣南苑，聚木蘭之鹿、吉林之麋、大尾之麈，監視之。及五時而麈之角解，麋、鹿皆不解。隨傳旨欽天監，改月令之麋角解為麈角解。此經頒示天下，而人民所共知者也。是麈之尾與麋鹿殊，而角解於長至。《地學雜誌》云：麈，俗稱為四不像。蓋其形似鹿，而牛身、馬尾、羊蹄，特其首類鹿耳，故得此名稱。清聖祖嘗在靈囿中實驗此物，而改夏小正鹿角解之訛，若麋與鹿，即李瀕湖所言麋肉蹄、四眼之說，亦猶黃牛之於水牛，形稍殊而其實一物也。且朱子之注《孟子》，亦曰麋，鹿之大者，未嘗分為二也。李春芝云：麋鹿，俗名梅花鹿，尤有馬鹿之分，亦屬同類異種耳。《新疆雜記》云：麋鹿，北疆概產之，每冬季多狩獵者，其角於小滿節後，角根發癢，以頭相觸，角即脫落，堆於一處，獵者於深山中有一獲數百對者。脫角後越五六日，新茸即生，此時最為貴重。產於拜城之額什克巴什山、漢騰格里山、若焉耆之納刺達嶺，俗稱之曰鹿圈，言其產鹿之多也。即品質言，尤以產於伊犁之果子漢者為最佳，行銷於內地各藥行。大抵關東出者，其角外皮黃黑色，內白色有神光為最佳，湖、廣、桱縣出亦佳。福建、陝西出有雙角、單角之分，雙角老者亦佳，單角次之。海南丹山出者，無杈枝亦次。又外洋淡水中出魚角，又名沙角，為鯊魚所變，其色枯白而大，杈枝甚多，為最次。其他煎膠之法：用正鹿角鋸斷，每段約二寸另，通淨角內灰質，洗淨，煎七晝夜，停火，取出骨渣，候冷濾淨，再熬至滴水成珠，取起入方錫盤中，候凝結成塊。取出以刀切塊，貯藏三年發售，名鹿角膠是也。</p>

<h3>龜鹿二仙膠（八）</h3>
<p>龜鹿二仙膠，用龜版、鹿角、枸杞、人參四味，煎熬為膠。乃峻補氣血，不寒不燥，又能益髓固精，為補方中妙品。聞有以牛皮膠及他藥偽造混售，服之無益有害，良可慨耳！</p>
<p>炳章按：龜鹿二仙膠，即鄭氏所謂龜鹿加枸杞子、黨參煎汁去渣，如前法收膠切塊，毋容再詳矣。云偽者以牛皮偽充云云，牛皮膠甚臭，不堪入口，亦難混用耳。</p>

<h3>阿膠（九）</h3>
<p>偽名上清膠，又一種名瑞芳膠，皆用尋常之水煎牛皮成膠。並雜他藥偽造，色雖明亮，氣臭質濁，不堪入藥。張隱菴《本草崇原》辨之最詳。據古法，先取狼溪水，以浸黑驢皮，後取阿井水以煎膠。考狼溪發源於洪範泉，其性陽，阿井水發源於濟水，其性陰，取其陰陽相配之意。火用桑柴，煎煉四日夜而後成膠。近時阿井水甚不易取，而煎法又失其真，故真阿膠最難得也。貨者既多，贗偽辨之不明，不如不用為是；或第用江浙所煮黑驢皮膠，雖無阿井之水，而用寶莊之泉，其補血滋陰，平木熄風，功同阿膠。較之用假阿膠者，不更勝一著耶。</p>
<p>炳章按：阿膠出山東東阿縣，以純黑驢皮、阿井水煎之，故名曰阿膠。考阿井在東阿縣城西。《縣誌》云：昔有猛虎居西山，爪刨地得泉，飲之久，化為人，後遂將此泉為井。然此水實為濟水之源，其色綠，其性趨下，東阿城內又有狼溪河，其水為漯水之源，乃洪範九泉之水所會歸，其性甘溫，故合此二水制膠為最善。再按定每年春季選擇純黑無病健驢，飼以獅耳山之草，飲以狼溪河之水，至冬宰殺取皮，浸狼溪河內四五日，刮毛滌垢，再浸漂數日，取阿井水用桑柴火熬三晝夜，去滓濾清；再用銀鍋金鏟，加參、耆、歸、芎、橘、桂、甘草等藥汁再熬至成膠，其色光潔，味甘鹹，氣清香，此即真阿膠也。據《本草經》云：阿膠性甘溫，清肺養肝，滋腎益氣，補陰祛風，化痰潤燥，止喘，善治虛勞咳嗽，肺癰吐膿，吐血、衄血，腸風下痢，崩帶胎動，經水不調，及肺毒癰疽，一切風症，服之無不效驗。其偽者，以碎舊牛馬雜獸皮煎成膠，塊色亦不如阿膠，名曰清膠；味利者，以此炒成珠，曰阿膠珠；此等贗品，服之不但無效，而反發瘡生毒，因雜皮多器用皮，含有毒汁，故其為害甚烈。大抵鑑別之法：真阿膠烊化後，氣清香，有麻油氣，汁色黃白色，稠而不黏膩，味甘微咸。其原塊在十年以內者，蒼翠色，質尚堅；至五六十年以上者，色轉黃而質鬆脆更佳。肺勞服之，殊有奇功。若本煎驢皮膏，烊化氣微腥（陳則無腥氣），汁黑褐色，其黏膩，味亦微咸兼甘，用作補血藥亦佳；以治肺病血病則凝胃，反不佳也。若清膠化烊，純屬臭穢腥濁氣，令人慾嘔，服之有毒，切勿沾唇，戒之戒之！</p>

<h3>血餘炭（十）</h3>
<p>血餘炭，《本經》列於中品，氣味苦溫，無毒。主治五癃、關格不通，利小便水道，療小兒驚、大人痓，仍自還神化。《本草崇原》云：凡吐血、衄血之症，皆宜用血餘。當用發髲近於頭皮之發剃下，短髮尤佳；或用亂髮亦可。以皂莢水洗淨，入瓶內固濟，煅灰存性，方合經旨。近市肆有一種假余炭，不知何種獸毛所煅，色暗味臭，萬不可用。若重症服之，誤人匪淺。噫，至便之藥，亦有假充，為醫者能不寒心束手乎！</p>
<p>炳章按：古人造血餘法：臘月取剃下短髮，以皂莢水洗去泥垢，入甕，均鹽泥封固。外用礱糠火煅一晝夜，候冷取出用。近時以兩鐵鑊相合，亦用鹽泥封口，用桑柴文火，上鑊臍放米數十粒，俟米焦熄火，候冷透開取，則血餘黑亮鬆脆，其質輕，無臭氣；若煅未透，則質堅重，極臭，惟不能走氣，若走氣則變灰無用矣。近時昧利者，以人發一毗，再夾細石砂一毗，煅如前法，形色亦光黑而亮。惟質甚重，不如純血餘之輕也。</p>

<h1>跋</h1>
<p>纂此書十七年，藏諸篋中，未敢問世。客歲得讀社友曹君赤電所著《規定藥品之商榷》，首列亂真之偽品，經驗既富，調查甚確，一經對勘，真偽立判，其有功於世，良足多矣。蒙僻處海嶠，聞見未周，訪查不易，所揭白偽藥百餘種，僅就耳目所及而條辨之。以視曹君之博雅，何異小巫而見大巫。然舊學以商量而遂密，故不揣淺陋，郵寄請益，幸蒙不棄，將規定亂真之偽品合參而重訂之，既邀附驥之榮，遑計續貂之誚耳。嗟夫！際此醫藥競爭時代，優勝劣敗固為天演淘汰之公例，若出真方服假藥，是自欺自戕，於人何尤？無怪泰東西之藥品，日新月異，如潮流所趨，無孔不入，倘長此不進，不知改良，不聯團體，吾恐十年後中華之生命財產，悉操外人之手矣！惟願天下醫林志士，再就當地出產之藥品，查調明確，援據各家本草而辨真偽，喚醒迷途，扶持正軌。庶幾吾國天產之藥材，可放光彩於世界，拭目以俟。能不馨香禱祝以求之也夫！</p>
<p><u>中華民國六年荔夏天貺節</u></p>
<p><u>飲井山人肖岩甫謹跋</u></p>
<p><u>時年六十有九</u></p>
