<header data-type="book">
<h1>內經辨言</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>俞樾</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1850">公元1850年</data></dd></div>
</dl>
</header>

<h1>俞曲園內經辨言序</h1>
<p>歐學東漸見西醫形跡手術上之治療醉心者幾欲棄舊謀新舍近圖遠甚至將軒岐之言逐節指摘冷嘲熱罵此其故半由於古書難讀半由於未經親驗此中得失耳有心人知之故惲氏鐵樵有群經見知錄之輯將以大發明黃帝之學說其願至宏惟其中如何精詳豐富愧予尚未購讀也近觀名醫張氏山雷致憚氏鐵樵論宋本素問井及經文異同注家得失書深佩服其考辨之精可知為醫必須博學通才平素涉獵諸書見有與醫界關切之書在於儒家著集中者曲園老人內絆素問按語四十八條亦其一焉信夫其流通百家好古敏求其亦內經之羽翼醫界之明星故持此篇商之於裘吉生光生請其即刊於三三醫書蔗不將此篇佚處於巨集中醫者讀其書更觸類引伸之將數千年之古學愈闡愈顯不且為抱殘守缺者之幸其耶此篇原名讀書余錄在其全集第一樓叢書之七今顏之曰俞曲園內經辨言非敢遽改其名稱蓋一以欽其慎思明辨之功一以便醫家顧名購閱俟另印專書廣為流通使曲園老人而在想亦所計可也　中華民國十二年癸亥夏厥盂秋乞巧日後學上虞俞□鑑泉氏謹識</p>

<h1>內經辯言</h1>
<p>上古天真論昔在黃帝生而神靈弱而能言幼而徇齊長而敦敏成而登大樾謹按成而登天謂登天位也易明夷傳日初登於天照四國也可證此經登天之義故下文即云乃問於天師乃者承土之詞見黃帝既登為帝乃發此問也王冰注白日昇天上說初非經意</p>
<p>食飲有節起居有常宋高保衡林億等新校正木引全元起汪云飲食有常節起居有常度樾謹按經文本作食飲有節起居有度故釋之日有常節有常度若如今本則與全氏注不合矣且上丈云法於陰陽和於術數此文度字本與數字為韻今作有常則失其韻矣蓋即因全氏註文有常字而誤入正文遂奪去度字</p>
<p>以欲竭其精以耗散其真新校正乙甲乙級耗作好樾謹按作好者是也好與欲義相近孟子離嬰篇所欲有甚於生者申論夭壽篇作所好敬子不苟篇欲利而不為所非韓詩外傳作好利是好即欲也以欲竭其精以好散其真兩句文異而義同今作以耗散其真則語意不倫矣王汪曰樂色曰欲輕用曰耗是其所據本已誤也</p>
<p>大沖脈盛新校正云全元起注用太素甲乙經俱作伏衝下大沖同樾謹按漠人書太字或作伏漢太尉公墓中書象有伏尉公宇隸續云字書有伏字與大同音此碑所云伏尉公蓋是用伏為大即大尉公也然則全本及太互甲乙經當作伏沖即太衡也後人不識伏字加點作伏遂成異字恐學者疑惑故其論之</p>
<p>四氣調神大論使氣亟奪樾謹按奪即今脫字王注以迫奪說之非是不施則名木多死樾謹按名木猶大木也禮記禮器篇因名山升中於天鄭注曰名猶大也王注以名果珍木說之未得名字之義</p>
<p>逆秋氣則太陰不收肺氣焦滿王汪曰焦謂上焦也太陰行氣主化上焦故肺氣不收上焦滿也樾謹按此注非也經言焦不言上安得臆決為上焦乎焦即焦灼之焦禮記問喪篇干肝焦肺是其義也</p>
<p>逆冬氣則少陰不藏腎氣獨沉樾謹按獨當為濁字之誤也腎氣言濁猶上文肺氣言焦矣新校正云獨沉太素作沉濁其文雖到而字正作濁可據以訂正今本獨字之誤</p>
<p>道者聖人行之愚者佩之王注曰愚者性守於迷故佩服而樾謹按王注非也佩當為倍釋名釋衣服曰佩倍也旬子大略篤一佩易之楊倞注曰佩成為倍是佩與倍聲近義通倍猶背也昭二十六年左傳倍奸齊盟盂子滕文公篇師死而遂倍之倍並與背同聖人行之愚者倍之謂聖人行道而愚民倍道也下文云從陰陽則生逆之則死從之則治逆之則亂曰從曰逆正分承聖人愚者而言行之故從倍之故逆也王注泥本字為說未達假借之旨</p>
<p>生氣通天論其氣九州九竅五臟十二節皆通乎天氣王注曰外布九州而內應九竅故云九州九竅也樾謹按九竅與九州初不相應如王氏說將耳目口鼻各應一州能晰言之乎今接九竅二字實為衍文九州即九竅也爾雅釋獸篇白州驠郭注曰州竅北山經倫山有獸加麋其川在尾上郭注曰川竅也川即州宇之誤是古謂竅為州此云九州不必更言九竅九竅二字疑即古注之誤入正文者味王注云云似舊有九州九竅也之說而王氏申說之如此此即可推其致誤之由矣六節藏象論與此同誤</p>
<p>故聖人傳精神王注曰夫精神可傳惟聖人得道者乃能爾樾謹按王注非也傳讀為搏聚也摶聚其精神即上古天真論所謂精神不散也管子內業篇摶氣如神萬物備存尹知章注摶謂結聚也與此文語意相近作傳者古字通用陽氣者煩勞則張精絕樾謹按張字之上奪筋字筋張精絕兩文相對今奪筋字則義不明王注曰筋脈脹張精氣竭絕是其所據本未奪也</p>
<p>高粱之變足生大丁王注曰所以丁生於足者四支為諸陽之本也樾謹按王注非也如其說則手亦可生何必足乎新校正云丁生之處不常於足蓋謂膏染之變饒生大丁非偏著足也是以足為饒足之足義亦迂曲足疑是字之誤上云乃生痤痱此云是生大丁語意一律是誤為足於是語詞而釋以實義遂滋曲說矣</p>
<p>故陽氣者一日而主外樾謹按上文云是故陽因而上衛外者也下文雲陽者衛外而為固也是陽氣固主外然云一日而主外則義不可通主外疑生死二字之誤下文云平旦人氣生日中而陽氣隆日西而陽氣已虛氣門乃閉雖言生不言死然既有生即有死陽氣生於平旦則是日西氣虛之後已為死氣也故云陽氣者一日而生死生與主死與外並形似而誤</p>
<p>味過於辛筋脈沮施精神乃央王注日央久也辛性潤澤散養於筋故令筋緩脈潤精神長久何者辛補肝也新校正云按此論味過所傷難作精神長久之解央乃殃也古文通用樾謹按於注因非校正謂是殃字義亦未安央者盡也楚辭離騷時亦猶其未央兮王逸注日央盡也九歌爛昭昭兮未央注曰央已也已與盡同義精神乃央言精神乃盡也</p>
<p>陰陽應象大論天有八紀地有五里樾謹按里當為理詩樸棫篇鄭箋云理之為紀白虎通三綱六紀篇紀者理也是紀與理同義天言紀地言理其實一也禮記月今篇無絕地之理無亂人之紀亦以理與記對言下文云故治不法夭之紀不用地之理則災害至矣以後證前知此文本作地有五理也王注曰五行為生育之井坐以井裡說里字迂曲甚矣</p>
<p>陰陽離臺論則出地者命曰陰中之陽樾謹按則當為財旬子勸學篇口耳之間則四寸耳楊倞注曰則當為財與才同是其例也財出地者猶才出地者言始出地也與土文未出地者相對蓋既出地則純乎陽矣惟財出地者乃命之曰陰中之陽也</p>
<p>厥陰根起於大敦陰之絕陽名曰陰之絕陰樾謹按即曰陰之絕陽又曰陰之絕陰義不可通據上文太陽陽叨並曰陰中之陽則太陰厥陰應並言陰中之陰疑此文本作厥陰根起大敦陰之絕陽名曰陰中之陰蓋以其兩陰相合有陰無陽故為陰之絕陽而名之曰陰中之陰也兩文相涉因而致誤</p>
<p>陰陽別論則於陽者知病忌時別於陰者知死生之期樾謹按忌當作起字之誤也上文云別於陽者知病處也別於陰者知死生之期玉樞真藏論作別於陽者知病從來別於陰者知死生之期來字與期字為韻則處也二字似誤此云知病起時猶彼云知病從來也蓋別於陽則能知所原起別於陰則能知所終極故云爾忌與起隸體相似因而致級</p>
<p>日二陽之病發心脾有不得隱曲女子不月王注隱曲謂隱蔽委曲之事也夫腸胃發病心脾受之心受之則血不流脾受之則味不化血不流故女於不月味不化則男於少精是以隱蔽委曲之事不能為也樾謹按王氏此注有四失焉本文但言女子不月不言男子少精增益其文其失一也本文先言不得隱曲後言女子不月乃增出男子少精而以不得隱曲總承男女而言使經文到置其失二也女子不月即著其交又申以不得隱曲之言而男子少精必待注家補出使經文詳略失宜其失三也上古天真論曰丈夫八歲腎氣實發長齒更二八腎氣盛天癸至精氣溢寫是男子之精與女子月事並由腎氣少精與不月應是同病乃以女子不月屬之心而以男子少精屬之脾其失四也今按下文云三陰三陽俱搏心腹滿發盡不得隱曲五日死注云隱曲為便寫也然則不得隱曲謂不得便寫王注前後不照當以後注為長便寫謂之隱曲蓋古語如此襄十五年左傳師慧過宋朝私焉杜注曰私小便便寫謂之隱曲猶小便謂之私矣不得隱曲為一病女子不月為一病二者不得併為一談不得隱曲從下注訓為不得便寫正與脾病相應矣</p>
<p>死陰之屬不過三而死生陽之屬不過四而死樾謹按下文云肝之心謂之生陽心之肺謂之死陰故王注於死陰之屬火乘金也於生陽之屬曰本木乘火也是死陰生陽名雖有生死之分而實則皆死徵也故一曰不過三日而死一曰不過四日而死新校正云別本作四日而生全元起注本作四日而已俱通詳上下文義作死者非此新校之謬說蓋今本作四日而已者已乃亡字之誤別本作生者淺人不察文義以為死陰言死生陽宜言牛故臆改之也新校以死字為非必以生字為是大失厥旨矣</p>
<p>靈蘭秘典論消者瞿瞿孰知其要新校正云太素作肖者濯濯樾謹按太素是也濯與要為韻今作瞿失其韻矣氣交變大論亦有此文濯亦誤作瞿而消字正作肖足證古本與太素同也</p>
<p>六節藏象論心者生之本神之變也新校正云全元起本並太素作神之處樾謹接處字是也下文云魄之處精之處又云魂之居營之居並以居處言故知變字誤矣</p>
<p>此為陽中之少陽通於春氣新校正云全元起本並甲乙經太素作陰中之少陽樾謹按此言肝藏也據金匱真言論曰陰中之陽肝也則此文自宜作陰中之少陽於義方合王氏據誤本作注而以少陽居陽位說之非是　五藏生成論凝於脈者為泣王注曰泣為血行不利拋謹按字書泣字並無此義泣疑冱宇之誤玉篇水部冱胡故切閉塞也冱字右旁之互誤而為立因改為立而成泣字矣上文云是故多食鹽則脈凝泣而變色泣亦冱字之誤王氐不注於前而注於後或其作許時此文冱字猶未誤故以血以不利說之正冱字之義也湯液醪醴論榮泣衛除八正神明論人血凝泣泣字並當作冱</p>
<p>徇蒙招尤王注曰徇疾也蒙不明也言目暴疾而不明拋謂掉也搖掉不定尤甚也目疾不明首掉尤甚謂暴疾也樾謹按王氏說招尤之義甚為迂曲殆失其旨今亦未詳其說徇蒙之義則固不然新校止云蓋謂目瞼瞤動疾數而暗蒙也此仍無以易平王注之說今按徇者眴之假字蒙者朦之段字說文目部旬目搖也或作眴朦童蒙也一日不明也是眴朦併為目疾於義甚顯注家泥徇之本義而訓為疾斯多曲說矣　異法方宜論南方者天地所長養陽之所盛處也樾謹按陽之所盛處也當作盛陽之所處也傳寫錯之</p>
<p>其民嗜酸而食附樾謹按胕即腐字故王注曰言其所食不芳香新校正曰全元起云食魚也食魚不得謂之食胕全說非</p>
<p>移精變氣論故可移精祝由而已樾謹按說文示部□祝□也是字本作□玉篇曰袖□□切古文□是字又作袖此作由者即袖之省也王注曰無假毒藥祝說病由此固望文生訓新校正引全注云祝由南方神則以由為融之假字由融雙聲證以昭五年左傳蹶由韓子說林作蹶融則古字本通然祝融而已</p>
<p>湯液醪醴論岐伯曰當今之世必齊毒藥攻其中鑱石鑑艾治其外也樾謹按齊當讀為資資用也言必用毒藥及鑱石鑑艾以攻治其內外也攻工記或四通方之珍異以資之注曰故書資作齊是資齊古字通</p>
<p>精神不進志意不治故病不可愈新校正云全元起本雲精神進志意定故病可愈太素雲精神越志氣散故痛不可愈樾謹按此當以全本為長試連上文讀之帝曰何謂神不使岐伯曰鑑石道也精神進志氣定故病可愈蓋精神進志意定即鑑石之道所謂神也若如今本則鑑石之道尚未申說而即言病不可愈之故失之不倫矣又試連下文讀之精神進志意定故病可愈今精壤神去營衛不可復收何者嗜欲無窮而憂患不止精氣□壤營泣衛除故神去之而病不愈也病不愈句正與病可愈句反復相明若如今本則上已言不可愈又言不愈文義復矣且中間何必以今字作轉乎此可知王氏所據本之訣太素本失與王同</p>
<p>去宛陳莝新校正云太素莝作莖樾謹按王注云去宛陳莝謂去積久之水物猶如草莖之不可久留於身中也全本作草莝然則王所據本亦是莖字故以草莖釋之而又引全本之作莝者以見異字也今作莝則與注不合矣高保衡等失於校正</p>
<p>玉版論要著之玉版命曰合玉機樾謹按合字即命字之誤而衍者玉機真藏論曰著之玉版藏之藏府每旦讀之名曰玉機正無合字王氏不據以訂正而曲為之說失之</p>
<p>容色見上下左右各在其要新校止云全元起本容作客樾謹按王注曰容色者他氣也如肝木部內見赤黃白黑皆為他氣也然則王所據木亦是客字故以他氣釋上他氣謂非本部之氣所謂客也今作容誤高保衡等失於校正脈要精微論渾渾革如湧泉病進而色弊綿綿其去如弦絕死新校正云甲乙經及脈經作渾渾革革至如湧泉病進而色弊弊綽綽其去如弦絕者死樾謹按王本有奪誤當依甲乙經及脈經訂正惟病進而色義不可通色乃絕之壞字言待其病進而後絕也至如湧泉者一時未即死病進而後絕去如絕弦則即死矣兩者不同故分別言之</p>
<p>夫精明五色者氣之華也王注曰五氣之精華上見為五色變化於精明之間也樾謹按王注殊誤精明五色本是二事精明以以言五色以顏色言蓋人之目與顏色皆如以決人之生死下文曰赤欲如白里朱不欲如赭白欲如鵝羽不欲如鹽青欲如蒼璧之澤不欲如藍黃欲如羅里友黃不欲如黃土黑欲如重漆色不欲如地蒼五色精微象見矣其壽不久也此承五色言之以人之顏色決生死他又曰夫精明者所以視萬物別白黑審短長以長為短以內為黑如是則精衰矣此承精明言之以人之目決生死也王氏不解此節之義故注下文精明一節云誡其誤也不知此文是示人決生死之法非誡庸工之誤也失經旨甚矣</p>
<p>反四時者有餘為精不足為消王注曰諸有餘皆為邪氣勝精也樾謹按邪氣勝精豈得但謂之精王注非也精之言甚也呂氏春秋勿躬篇自蔽之精者也至忠篇乃自伐之精者高誘注並訓精為甚有餘為精言諸有餘者皆為過甚耳王注未達古語</p>
<p>生之有慶四時為宜新校止云太互宜作數樾謹按作數者是也度與數為韻溢飲者渴暴多飲而易入肌皮腸胃之外也新校正云甲乙經易作溢樾謹按王本亦當作溢其注云以水飲滿溢故滲溢易而入肌皮腸冒之外也此易字無義蓋正文誤溢為易欲後人於汪中妄增易字耳非王本之舊5推而上之上而不下腰足清也推而下之下而不上頭項痛也新校正云甲乙經上而不下作下而不上下而不上作上而不下樾謹按甲乙經是也上文云推而外之內而不外有心腹積也推而內之外而不內身有熱也是外之而不外內之而不內皆為有病然則此文亦當言上之而不上下之而不下方與上文一例若如今本推而上之上而不下推而下之下而不上則固其所耳又何病焉且陽升陰降推而上之而不上則陰氣大過故腰足為之清推而下之而不下則陽氣太過故頭項為之痛王氏據誤本作注曲為之說殆失之矣又按清當為清說文冫部清寒也故王注云腰足冷</p>
<p>平人氣象論死心脈來前曲後居樾謹按居者直也言前曲而後直也釋名釋衣股曰裾倨也倨倨然直居與倨通王注曰居不動也失之</p>
<p>玉機真象論冬脈如營王注曰脈沉而深如營動也樾謹按深沉與營動義不相應據下文其氣來沉以搏王注以沉而搏擊於手釋之營動之義或取於此然新校正云甲乙經搏字為濡濡古軟字乃冬脈之平調若沉而搏於手則冬脈之太過脈也當從甲乙經濡字然則經文搏字本是誤文不得據以為說今汪營之言迴繞也詩齊譜正義曰水所營繞故曰螢□漢書吳王濞傳劉向傳注並曰營謂迴繞之也字亦通作縈詩□木篇傳曰榮旋也旋亦迴繞之義冬脈深沉狀若迴繞故如營</p>
<p>五藏受氣於其所生傳之於其所勝氣舍於其所生死於其所不勝樾謹按兩言其所生則無別矣疑下句衍其字所生者其子也所生者其母也藏氣法時論夫邪氣之客於身也以勝相加至其所生而愈至其所不勝而甚至於所生而持王註解其所生曰謂至已所生也解所生曰謂至生已之氣也一日其所生一曰所生分別言之此亦當同矣寶命全形論岐伯對曰夫鹽之味鹹者其氣令器津泄弦絕者其音嘶敗水敷者其葉發病深者其聲噦人有此三者是為壞府毒藥無治短鑑無取此皆絕皮傷肉血氣爭黑新校正云按太素云夫鹽之味鹹者其氣令器律泄弦絕者其音嘶敗木陳者其葉落病深者幾聲噦人有此三者是為壞府毒藥無治短鑑無取此皆絕成傷肉血氣爭黑三字與此經不同而注意大異楊上善云言欲知病微者須知其候鹽之在於器中津液泄於外見律液而知鹽之有咸也聲嘶知琴瑟之弦將絕葉落知陳水之已盡舉此三物衰壞之微以比聲硯識病深之候人有聲噦同三譬者是為府壞之候中府壞者病之深也其病既深故鑑藥不能取以其皮肉血氣各不相得故也再詳上善作此等注義方與黃帝上下問答義柑貫穿王人解鹽器津義總淵微至於注弦絕音嘶木敷葉發殊不與帝問相協攻之不若楊義之得多也樾□按楊上善注以上三句譬下一句義殊切當木敷葉發亦當從彼作木陳葉落本是喻其衰壞自以陳落為宜也惟人有此三者句尚未得解經云有此三者不云同此三者何得以同三譬說之疑此皆絕皮傷肉血氣爭黑十字當在人有此三者之上絕皮一也傷肉二也血氣爭黑三也所謂三者也病深而至於聲噦此皆絕皮傷肉血氣爭黑人有此三者是謂壞府毒藥無治短鑑無取文義甚明傳寫顛倒遂失其義又按太素與此經止陳落二字不同而新校正云三字者蓋其音嘶敗王本作其音嘶嗄故注云陰囊津泄而脈弦絕者診當言音嘶嗄敗易舊聲爾又曰肺主音聲故言音嘶嗄皆以嘶嗄連文是其所據經文必作嘶嗄不作嘶敗與太素不同故得有三字之異也</p>
<p>八正神明論故日月生而寫是為藏虛樾謹按上云月始生則血氣始精衛氣始行又云月生無寫並言月不言日且亦不當言生也日疑曰字之誤</p>
<p>四時者所以分春秋夏冬之氣所在以時調之也八正之虛邪而避之勿犯也樾謹按調下衍之也二字本作四時者所以分春秋夏冬之氣所在以時調八正之虛邪而避之勿犯也今衍之也二字文義隔絕</p>
<p>慧然在前按之不得不知其情故曰形樾謹按慧然在前本作卒然在前據注云慧然在前按之不得言三部九候之中卒然逢之不可為之期准也離合真邪論曰在陰與陽不可為度從而察之三部九候卒然逢之早遏其路此其義也注中兩卒然字正釋經文卒然在前之義因經文誤作慧然遂改注經文亦作慧然在前非王氏之舊也尋經文所以致誤者蓋涉下文慧然獨悟口弗能言而誤土於下文往曰慧然謂清爽也則知此文之不作慧然矣不然何不注於前而注於後乎　　離臺真邪論不可掛以發者待邪之至時而發鑑寫矣樾謹按不可掛以發者六字衍文寫字乃焉字之誤本作待邪之至時而發鑑焉矣蓋總承上文而結之上文一則曰其來不可逢此之謂也一則曰其往不可追此之謂也此則總結之曰待邪之至時而發鑑焉矣正對黃帝侯氣奈何之問今衍此六字蓋涉下文而誤下文云故曰知機道者不可掛以發不知機者如之不發今誤入此文義不可通又據上文總是言寫然發鑑寫矣殊苦不詞蓋寫與為形似而誤耳</p>
